[2020-02-17 18:26] vsevel commented on #7155
hello. I think the need is legitimate. the "Implementation ideas" is looks correct.
I should be able to do it before the end of the month.

[2020-02-17 18:30] gastaldi commented on #7234
Fix provided in https://github.com/quarkusio/quarkus/pull/7237. Can you build Quarkus and try it locally?

[2020-02-17 18:40] SR-Lut3t1um commented on #7234
One moment setting up a local quarkus installation...

[2020-02-17 18:48] nimo23 commented on #6080
@emmanuelbernard yes, I know. The entityManager must not be accessed concurrently. By default, when using CDI injected entityManager, the container provides a new entityManager for each calling thread - in a different thread (for any scope) you will have a different EntityManager delegate by default.

I don't know how or if ARC injects an entityManager in such a way as https://developer.jboss.org/

[2020-02-17 18:49] ehora opened #7238 "Swagger-UI/Openapi-Link provides faulty schema-components for List/Set"
I'm evaluating Quarkus as backend, accessed by an angular frontend. I wanted to use the openapi data provided by Quarkus via http://localhost:8080/openapi, and generate via openapi-generator tools an typescript-angular client stub.

I used as first step the Quarkus Openapi Guide: https://quarkus.io/guides/openapi-swaggerui But after running the unmodified example and retrieve the Openapi YAML-Data

[2020-02-17 19:07] emmanuelbernard commented on #7193
@Sanne @gsmet I am a bit lost but it seems that

[code]
Does not raise an exception because the version number overridden is ignored in the update SQL comparison. The comparison is there, just the version value loaded into foo is used which defeats the optimistic versioning mechanism.
I have to admit I am blanking whether that's expected behavior or not. In JPA we don't have that problem as merge

[2020-02-17 19:26] SR-Lut3t1um commented on #7234
Having troubles with my graal setup still working on getting it running...

[2020-02-17 19:35] manoelcampos commented on #7193
@emmanuelbernard
I've just found the issue.
Panache doesn't expose the `EntityManager.update()` method, so we have to write extra code to merge an existing entity:

[code]

I just added a `merge()` method to `JpaOperations` and `PanacheEntity` classes and it works as expected. This way, I can update an entity by just calling:

[code]

I don't know why the `EntityManager.merge()` isn't exposed in P

[2020-02-17 19:43] zeljkot commented on #6346
Just to clarify: This feature only allows defining a naming strategy, it does not provide naming strategies. `org.hibernate.cfg.ImprovedNamingStrategy` cannot be used as it does not implement `PhysicalNamingStrategy`; AFAIK snake strategy is not included with Hibernate.

The current implementation does not cover the whole issue as originally defined. "snake-case" causes java.lang.ClassNotFoundExce

[2020-02-17 19:45] gastaldi commented on #6346
@zeljkot yes, you're right

[2020-02-17 19:56] SR-Lut3t1um commented on #7234
This propably sounds like a pretty stupid question but after successfully running `./mvnw install -DskipTests` where can I find the build packages / how can I tell grade to use them instead of the mavenRepo?

[2020-02-17 19:58] gastaldi commented on #7234
Just change the version to 999-SNAPSHOT in your project instead of
1.3.0.Alpha2.

Em Seg, 17 de fev de 2020 16:56, SR-Lut3t1um <notifications@github.com>
escreveu:

[2020-02-17 19:59] nimo23 commented on #6346
@gastaldi Maybe one could add a new PR with default `SnakeCaseNamingStrategy` which can be used within quarkus.

**I think only two cases are mostly used:** camelCase and snake_case.

As camelCase is the default in jpa, it makes sense to provide the snake_case implementation by quarkus:

[code]

[2020-02-17 20:03] nimo23 commented on #6346
Maybe the implementation of snake_case can be provided by quarkus:

[code]

[2020-02-17 20:03] SR-Lut3t1um commented on #7234
I got it, however I still get the same Error.

I ensured I'm using the local version using gradle dependencies.

[2020-02-17 20:08] gastaldi commented on #6346
Looks like you're interested in providing a PR? ;)

[2020-02-17 20:15] gastaldi commented on #7234
Make sure that you have at least `mavenLocal()` in your `repositories` declaration in your `build.gradle` file

[2020-02-17 20:16] gastaldi commented on #7234
BTW to build Quarkus you can use `mvn clean install -DskipTests -DskipITs` for extra speed (takes ~4min in my machine)

[2020-02-17 20:16] SR-Lut3t1um commented on #7234
I do have this.

[2020-02-17 20:18] Sanne commented on #6346
I'm not convinced there would be much value in having such a thing within the Quarkus repository?
Mind you, the point of this extension is to _boot_ Hibernate ORM - every further aspect belongs either in the Hibernate ORM repository or as a an extension to it.

In my personal experience, naming strategies are highly opinionated: people always want to customize _some_ detail.

That said, if you rea

[2020-02-17 20:18] gastaldi commented on #7234
This is what I had to change in your project:

[code]

[2020-02-17 20:20] SR-Lut3t1um commented on #7234
These are the changes I also made, however did not upload yet, as I'm testing it localy right now. I did update the changes I made now.

[2020-02-17 20:20] nimo23 commented on #6346
@Sanne I also think that it is better to place such implementation within Hibernate ORM by default and not in quarkus. To provide this in Hibernate ORM makes sense, because mostly only snake_case or camelCase are used.

[2020-02-17 20:25] gastaldi commented on #7234
Upload? WDYM? The Quarkus Gradle plugin is stored in your local repository after you `mvn clean install` it

[2020-02-17 20:26] SR-Lut3t1um commented on #7234
Ye I meant the changes uploadet to gitlab.

[2020-02-17 20:31] SR-Lut3t1um commented on #7234
Wait a moment I made a rookie mistake. I forgot Github doesnt add the commit when I select download in a specific commit so I just cloned the master repo..... 🤦‍♂ . Will be back in 10m once the finally selected commit is build ... 😄

[2020-02-17 20:33] gastaldi commented on #7234
If you have [GitHub CLI](https://github.com/cli/cli) installed, you can simply do:

`gh pr checkout 7237` and then you can `mvn clean install -DskipTests` :)

Anyway, here is a recording of your project building correctly:

https://asciinema.org/a/qNN1PUGTnV64SuQQTek3J0osu

[2020-02-17 20:38] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: b9f44b609e8ad07e854aab2bdba6bf5eca3023d8

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-17 20:45] gsmet opened #7239 "Multiple occurrences of Windows builds failing in Kafka ITs"
I have seen numerous failures of this with the port still in use, always when running the Kafka tests. Example here: https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=15980&view=logs&jobId=d1147393-6eab-59d1-d24f-caa3b11a4d8b&j=d1147393-6eab-59d1-d24f-caa3b11a4d8b&t=24f5c588-d862-5049-6324-66dde2a7666a

Not sure it's worth investigating if GH action is coming soon.

[code]

[2020-02-17 20:46] #6770 closed

[2020-02-17 21:02] SR-Lut3t1um commented on #7234
As often in life when you fix one issue another one pops up. So the initial error got fixed and running `quarkusBuild` works however when using `quarkusDev` another issue pops up:

22:01:04: Executing task 'quarkusDev'...

[code]

[2020-02-17 21:10] stefnotch opened #7240 "Improve Quarkus Keycloak Documentation"
**Description**
Currently the very well written [Quarkus Keycloak documentation](https://quarkus.io/guides/security-keycloak-authorization#starting-and-configuring-the-keycloak-server) simply states the following regarding the Keycloak configuration.

This is amazing for quickly getting started, because it just works. However, as soon as you want to protect an additional route, you either have to

[2020-02-17 21:15] #7217 closed

[2020-02-17 21:19] stuartwdouglas commented on #7199
We can fix, we would need to use Jandex index that we already have for
QuarkusTestResource to look for @RegisterExtension and @ExtendWith, and use
that to explicitly figure out which test classes are beans. You should be
able to work around this for now by putting a CDI scope on the test class.

On Sun, 16 Feb 2020 at 22:02, Loïc Mathieu <notifications@github.com> wrote:

[2020-02-17 22:08] Sanne opened #7242 "Improved efficiency of ConnectionHandlingMode: deeper integration between Hibernate ORM and Agroal"
After having switched the Hibernate ORM's `PhysicalConnectionHandlingMode` to `DELAYED_ACQUISITION_AND_RELEASE_AFTER_TRANSACTION` as I believed it would have been a more efficient choice, I had to revert it as short term fix for #6770 . This is to track the propert fix.

**The problem**
Hibernate ORM's is assuming it deals with the "physical" connection, as the name of the property suggests, but w

[2020-02-17 22:13] gastaldi commented on #7234
@aloubyansky any clue?

[2020-02-17 22:14] rsearls opened #7243 "quarkus (i.e.Vertx) does not return the correct values for http HEAD"
I have a test that performs a GET and then a HEAD on endpoint,

   @GET
   @Produces("text/plain")
   public String get() {
      return "hello";
   }

Undertow returns this for GET
      HttpResponseProxy{HTTP/1.1 200 OK [
        Connection: keep-alive,
        Content-Type: text/plain;charset=UTF-8,
        Content-Length: 5,
        Date: Mon, 17 Feb 2020 20:48:12 GMT]
      ResponseEntityProx

[2020-02-17 22:20] Sanne commented on #6770
Followed up by ##7242

[2020-02-17 22:24] valones commented on #6939
Update Dockerfile.native sample too:

[code]

[2020-02-17 22:38] fmhwong commented on #7172
Yes, I can take a look.

[2020-02-17 22:55] PhilAndrew commented on #6707
If I follow the application builder to create the AWS Lambda application then ./mvnw compile quarkus:dev I get the following error.

[code]

[2020-02-17 23:55] nimo23 commented on #7242
What are the use cases for the user to bypass JTA?

Maybe distributed transactions, XA transactions, or nested transactions where the user needs fine grained control for each of its transaction. But for those cases we also have `@Transactional`..

[2020-02-18 02:32] stuartwdouglas commented on #7167
It's not officially supported, but this still should work as normal, I have submitted a PR with a fix.

[2020-02-18 05:18] aloubyansky commented on #7234
I'll have a look later today.

[2020-02-18 05:52] KaenDagger commented on #5488
@SR-Lut3t1um currently it is not injected. We are working on improving gradle support on quarkus

[2020-02-18 06:54] emmanuelbernard commented on #7193
I don't think it's ok no, at least I'm not sure. I need to discuss with @FroMage and @Sanne on this one.

[2020-02-18 07:06] mkouba commented on #6870
We could but the strategy is to always try `get()` before the special cases.

Well, the idea comes from the mustache/javascript world where an object is basically a collection of name-value pairs (speaking of properties). I personally like it because `Map.get()` is 90% what users do when working with maps in templates and so it's quite convenient.

[2020-02-18 07:19] mkouba opened #7246 "Quartz extension - make it possible to access the underlying Quartz scheduler instance"
We should probably just add a producer for `org.quartz.Scheduler` and make it injectable.

[2020-02-18 07:41] geoand commented on #7239
If we are moving to GH Actions soon, then I agree that is probably doesn't make sense to invest time in this

[2020-02-18 08:03] SR-Lut3t1um commented on #7229
I managed to work arroung using this gradle arg: `--additional-build-args=--static` however I think this should be documented somewhere.

[2020-02-18 08:07] blxbrgld opened #7248 "XSS vulnerability in NotFoundExceptionMapper"
**Description**
The no resource endpoint HTML page which is rendered on 404 errors introduces XSS vulnerability. Given as an example a GET endpoint which accepts a paging parameter in the form "start,offset" (i.e. 0,10). A request like:

`/users?paging=0%2c-1sp137%3Cscript%3Ealert(1)%3C%2fscript%3Emzx4u`

would lead to the following exception, and the 404 page in turn would execute the script (ale

[2020-02-18 08:09] gsmet commented on #7240
@stefnotch would you be interested in providing a PR?

[2020-02-18 08:23] gleb-kosteiko commented on #7246
That would be useful and nice!

[2020-02-18 08:31] gsmet commented on #7246
@machi1990 would you be interested in doing it?

[2020-02-18 08:31] #6179 closed

[2020-02-18 08:46] stefnotch commented on #7240
Of course, I'd love to give back to this amazing project!

[2020-02-18 08:54] mkouba commented on #7246
@gsmet I'm on it. I'll ask @machi1990 for review ;-).

[2020-02-18 08:55] geoand commented on #7220
The basic place that needs to be updated is: https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/configproperties/ClassConfigPropertiesUtil.java#L202

Currently for each field we just use its name to determine the property that will be used to back it. However that needs to change so that for each field we first check if the field has

[2020-02-18 09:08] gastaldi commented on #7234
I'll create a separate issue for the `ServiceConfigurationError` as the PR fixes the original issue but it is unrelated to this error

[2020-02-18 09:09] gastaldi opened #7249 "Gradle quarkusBuild fails with java.util.ServiceConfigurationError: org.eclipse.microprofile.config.spi.ConfigSourceProvider: io.quarkus.test.common.http.TestHTTPConfigSourceProvider not a subtype"
As often in life when you fix one issue another one pops up. So the initial error got fixed and running `quarkusBuild` works however when using `quarkusDev` another issue pops up:

22:01:04: Executing task 'quarkusDev'...

[code]

_Originally posted by @SR-Lut3t1um in https://github.com/quarkusio/quarkus/issues/7234#issuecomment-587158415_

[2020-02-18 09:11] #7234 closed

[2020-02-18 09:13] gastaldi commented on #7234
I created https://github.com/quarkusio/quarkus/issues/7249 for that `ServiceConfigurationError`

[2020-02-18 09:13] SR-Lut3t1um opened #7250 "Database config issue"
**Describe the bug**
I created a native image however after running it, it can't read the database config.
Build steps:
[code]

Stacktrace:

[code]

**Environment:**
------------------------------------------------------------
Gradle 6.2
------------------------------------------------------------

Build time:   2020-02-17 08:32:01 UTC
Revision:     61d3320259a1a0d31519bf208eb13741679a742f

Kotlin

[2020-02-18 09:15] #6997 closed

[2020-02-18 09:15] #7013 closed

[2020-02-18 09:16] SR-Lut3t1um commented on #7250
Also I'm using Graal 19.3.1 with Java11

[2020-02-18 09:21] SR-Lut3t1um commented on #7234
Alright, can you merge the PR to make debugging/reproducing the next issue easier?

[2020-02-18 09:22] gastaldi commented on #7234
Yup, already done (which closed this issue automatically) :)

[2020-02-18 09:24] SR-Lut3t1um commented on #7249
Steps to reproduce:
Clone this [repo ](https://gitlab.informatik.uni-bremen.de/tobias5/aut0m4t0n).
Build current quarkus master
set quarkus and plugin version in `gradle.properties` to `999-SNAPSHOT`.
run "./gradew quarkusDev"

[2020-02-18 09:25] Sanne commented on #7242
I don't think we shuld encourage people to bypass JTA, as I can't think of _very_ compelling reasons. My main concern is that right now we seem to allow this, could be tricky to remove it.

[2020-02-18 09:27] Sanne commented on #7250
hi, which version of Quarkus? We recently fixed a similar issue.

[2020-02-18 09:28] SR-Lut3t1um commented on #7250
1.2.0.Final

[2020-02-18 09:34] Sanne commented on #7250
ok, I think you're hitting https://github.com/quarkusio/quarkus/pull/6815 . Could you upgrade to 1.3.0.Alpha2 or 1.3.0.Alpha1 ?

[2020-02-18 09:35] SR-Lut3t1um commented on #7250
Because of this [issue](https://github.com/quarkusio/quarkus/issues/7249) I can't go to 1,3.0Alpha2 I'll try Alpha1 soon.

[2020-02-18 09:38] geoand commented on #7249
@gastaldi are you looking into this one?

[2020-02-18 09:39] FroMage commented on #7193
Given:

[code]

It appears that `foo.version = fooWithChangesAndOldVersion.version` differs in behaviour from what the equivalent `merge` would do.

My guess is that setting the version manually causes some dirty state to be set while `merge` setting the version does not. We have to look at the code to make sure.

As to why we didn't add `merge` is that we figured that detached entities are evil a

[2020-02-18 09:39] Sanne commented on #7250
ah, sorry for the trouble.  If you're fine to build it yourself, I believe that backporting the fix for #6815 should be straight forward.

[2020-02-18 09:40] gastaldi commented on #7249
I believe @aloubyansky is looking into this one, otherwise I can have a look again :)

[2020-02-18 09:41] geoand commented on #7249
OK, if anyone wants me to check it, just ping me :)

[2020-02-18 09:43] SR-Lut3t1um commented on #7250
So I can confirm Alpha 1 is also not working. I guess I'll just wait  for the other issue to be resolved. I'm gonne close this issue for now, and repopen this issue in case the master branch will not work.

[2020-02-18 09:43] #7250 closed

[2020-02-18 09:44] Sanne commented on #7250
thanks @SR-Lut3t1um , good plan as I'm betting it's the same issue.

[2020-02-18 10:04] geoand commented on #7248
Isn't `NotFoundExceptionMapper` only enabled in dev-mode anyway?

[2020-02-18 10:12] emmanuelbernard commented on #7242
Some infos.

In pure JPA spec, only RESOURCE_LOCAL entityManagers are allowed to use the `EntityTransaction` object. A JTA EM can use @Transactional or the `UserTransaction` to control transaction boundaries. See https://quarkus.io/guides/transaction#api-approach

Is the EntityManager explicitly set to `RESOURCE_LOCAL`? if not then we are in JTA mode and we have two choices:
1. we raise an excepti

[2020-02-18 10:12] aloubyansky commented on #7249
I am, yes.

[2020-02-18 10:15] emmanuelbernard commented on #7242
Reading Sanne's message, looks like I reiterated some points he made. Sorry :)

[2020-02-18 10:29] geoand commented on #7224
I'm going to close this as it looks like a duplicate of #5675

[2020-02-18 10:29] #7224 closed

[2020-02-18 10:34] geoand commented on #7238
cc @phillip-kruger @kenfinnigan

[2020-02-18 10:39] gsmet commented on #7238
Hum. That looks like a regression if even the app from the guide is concerned.

/cc @EricWittmann

[2020-02-18 11:27] machi1990 commented on #7246
Great thanks @mkouba.

[2020-02-18 11:32] Sanne commented on #7193
That's spot on: the Hibernate ORM documentation specifically prohibits messing with the version attribute - it's going to be ignored. I wonder if it shouldn't throw an exception.

I suspect you'll need to expose the _merge()_ operation; but I agree that it would be nice to find an alternative.

[2020-02-18 11:35] machi1990 commented on #6759
@canidae 1.3.0.Alpha2 has been released. Can you test it and see if the issue is also fixed there? Also, closing now, this can been re-opened if it is not the case.

[2020-02-18 11:35] #6759 closed

[2020-02-18 11:43] FroMage commented on #7193
I can probably make it throw if you attempt to set the version to a different version if the entity is managed.

Is it `merge` that throws, or is it on `flush`?

[2020-02-18 11:48] manoelcampos commented on #7193
@FroMage yeah, it's really strange. If I can help anyway, just let me know. I'll be glad to.
@Sanne, to avoid exposing  `merge()`, the `persist()` method could be changed as below, but that will change the behavior of `persist()` and may cause unexpected surprises for existing users:

[code]

[2020-02-18 11:52] Sanne commented on #7193
If persist just behaves like merge, I'd prefer it to be called merge to not confuse people.

BTW are you sure that would work? I expect `isPersistent` would always return false for a detached entity.

[2020-02-18 11:53] Sanne commented on #7193
I guess ideally I'd throw directly on attempting to write on the field.

But while adding such extra checks might avoid some confusion, it doesn't solve the problem

[2020-02-18 11:56] ehora commented on #7238
Created Issue at smallrye, as @EricWittmann  mentioned: https://github.com/smallrye/smallrye-open-api/issues/260

[2020-02-18 12:01] loicmathieu commented on #7199
@stuartwdouglas thanks, the workaround works! I annotated my class with `@Singleton` and it works.

Regarding a fix, I don't understand why you need Jandex, you can retrieve easily the test class inside an extension (via `extensionContext.getRequiredTestClass();`) and register it in CDI ...

[2020-02-18 12:05] FroMage commented on #7193
That should be easy

But this is not the problem here. This is an orthogonal issue which we are investigating as part of the resteasy/panache problem space in another issue.

[2020-02-18 12:11] manoelcampos commented on #7193
@Sanne, in fact, `isPersistent()` will return false for detached entities. What I usually do in my applications is just:

[code]

[2020-02-18 12:11] manoelcampos commented on #7193
@FroMage, merge is the one to throw the `OptimisticLockException`, as can be seen in the stacktrace below:

[code]

[2020-02-18 12:26] iustinov commented on #6133
It`s not very good.
Does quarkus have any other way for aumatically log entry/exit of methods in application?

[2020-02-18 12:32] MikeEdgar commented on #7238
Looking at this issue in smallrye. Note that a temporary work-around is to add `java.util` to the property named `mp.openapi.scan.exclude.packages`.

[2020-02-18 12:43] lbernardomaia opened #7256 "Remote Debug in a Docker Container"
Hi,

As I mentioned in the mail group, I've updated the Quarkus version to the latest available and also updated the Java version to 11.

A problem I'm facing is that I used to debug my app that runs in a docker container remotely and everything worked fine before bumped to Java 11. The issue is that the Quarkus classes that add the JDWP arguments to debug are always adding address=5005 instead of

[2020-02-18 13:06] emmanuelbernard commented on #7193
Let me take a step back.

`PanacheEntity` objects are where operations live.
JPA `merge()` by default, will return a _copy_ of a detached entity.
And the use case we want to fix is to be able to copy part or the entirety of the state from a version coming from the web back into the database.

Option A

So we can expose `panacheEntity.merge()` knowing that the merge semantic will not be the same as

[2020-02-18 13:07] jesperpedersen commented on #7242
I would suggest to split this into 2 issues.

1) Enforce JTA transactions

* Have `EM.getTransaction()` throw an IllegalStateException in all cases
* Merge @barreiro branch, and use that as the default
* Implement `Synchronization` ordering with the help of @mmusgrov

The last item is to guarantee that the `Synchronization` instance registered by Hibernate is executed **before** the `Synchronizati

[2020-02-18 13:08] emmanuelbernard commented on #7193
Option B is to not have full state merge and force a manual copy.

[code]

[2020-02-18 13:10] emmanuelbernard commented on #7242
Why have bean managed transaction though vs only the UserTransaction approach?

[2020-02-18 13:20] mkouba opened #7257 "RootDefinition should also trim RuntimeConfig and RuntimeConfiguration suffixes"
If a config root has a `RuntimeConfig` suffix (not `RunTimeConfig`) only the `Config` part of the suffix is removed and so the property must include the `-runtime` part, ie. for `io.quarkus.quartz.runtime.QuartzRuntimeConfig#threadCount` the `quarkus.quartz-runtime.thread-count` property must be used.

This works as designed and documented, but:
(1) The generated configuration references in docs d

[2020-02-18 13:21] Sanne commented on #7193
@FroMage I'm not following - what is this `this` that you're referring to? Please quote when commenting. Your previous comment `I can probably make it throw if you attempt to set the version to a different version` seemed to refer to my suggestion that ORM should not really let people write on the version field, since it ignores it. I guess a "WARN: you've messed with field x, I'm going to ignore

[2020-02-18 13:21] mkouba commented on #7144
@mithandir Did you get a chance to test it?

[2020-02-18 13:22] sberyozkin commented on #6807
@gintsgints You can have `SecurityIdentity` injected and check if the request is anonymous or not

[2020-02-18 13:23] Sanne commented on #7193
hum actually throwing an exception might not be straight forward as there's grey areas when it comes to associations: what if some of the objects in the model already exist in the session, and others don't? Is it ok to fail only after having loaded some of these?

[2020-02-18 13:24] emmanuelbernard commented on #6080
yes we do have transaction scoped entity managers

[2020-02-18 13:28] rvansa commented on #6807
@sberyozkin The very point of using Authorization Services is not having anything access-specific in the application, always deciding if it is appropriate to let the user in Keycloak and there only. Once that you start checking `SecurityIdentity` in the application, this separation is gone.

[2020-02-18 13:31] jesperpedersen commented on #7242
In the bean managed transaction scenario the application controls the transaction boundary local to the resources in question. For the Hibernate case - `EntityTransaction::begin()` would call `c.setAutoCommit(false)`, and `EntityTransaction::commit()` would call `c.commit(); c.close()`.

For UserTransaction - it is still a JTA transaction, just controlled by the user, so resources will have to be

[2020-02-18 13:31] mkouba commented on #7257
It seems that the only runtime config (ie. class with `RuntimeConfig`) that does not override the name and will be affected by the change is the `QuartzRuntimeConfig`.

[2020-02-18 13:43] nimo23 commented on #6080
Ok thanks, so I will close this because of https://github.com/quarkusio/quarkus/issues/7233

[2020-02-18 13:43] #6080 closed

[2020-02-18 13:46] hartimcwildfly commented on #6133
You can use interceptors. See https://quarkus.io/guides/cdi-reference

[2020-02-18 13:54] mithandir commented on #7144
Yesterday Alpha2 wasn't available on maven central. Will be home in about an hour, then I can start checking the issue on Alpha2.

[2020-02-18 14:02] geoand commented on #7257
I think if `quartz` is the only one affected, we can probably break it without too many people being affected.

[2020-02-18 14:06] gsmet commented on #7257
Yes, break it before 1.3.0.CR1 and add a `breaking-change` label, I'll write the migration guide.

[2020-02-18 14:07] sebersole commented on #7242
FWIW adding a BEFORE_COMMIT is worthwhile regardless of the outcome here..

[2020-02-18 14:14] Sanne commented on #7242
right, thanks @sebersole let's start with that aspect then; I think I like Jesper's plan, some of the details can be figured out later.

@barreiro could you wrap up your prototype and send an HHH PR ?

[2020-02-18 14:15] sebersole commented on #7242
Personally not a fan of "ordered sync" approach.  We tried this once with JBoss AS and Hibernate and the JBoss Cache implementation.  It was difficult to get right in all situations.

Plus, Quarkus could handle this itself by registering a custom `org.hibernate.engine.transaction.jta.platform.spi.JtaPlatform` (which it seems like maybe it ought to do anyway based on this discussion) and managing t

[2020-02-18 14:18] sebersole commented on #7242
My guess regarding your trouble with `DELAYED_ACQUISITION` is that its handling not implemented correctly.  I know of no one using this, so maybe its worthwhile to verify that first.  IMO that is the cleanest (and intended) solution

[2020-02-18 14:21] sebersole commented on #7242
@Sanne A lot of what you propose in `Allow Hibernate ORM to bypass Agroal's safety net.` is interesting because it would seem beneficial also wrt performance.  You mentioned one such improvement with `#clearWarnings`; there are others.  Would be interesting to see what @barreiro thinks of that suggestion.

[2020-02-18 14:24] sebersole commented on #7242
That's not strictly true - it depends on the configuration.  If one has configured JTA then Hibernate will start a Transaction/UserTransaction as opposed to using Connection's auto-commit

However, this would require `DELAYED_ACQUISITION` as discussed above to avoid the missing "deferred enlistment" support in Agroal

[2020-02-18 14:28] emmanuelbernard commented on #7242
Right but what would be the value or use case for a user to use the `setAutoCommit(true);` in a Quarkus app? I don't see one for now.

[2020-02-18 14:29] Sanne commented on #7242
Regarding the ordered synch:
 - I need to try learn more about it, I _kinda_ suspect we won't actually need it in our specific circumstances - but certainly not planning to ignore Jesper. I'll talk with him about this as a sub-task of this.
 - Quarkus already has its custom implementation of `JtaPlatform`, so in case we actually need it, we can certainly handle this aspect within the Quarkus codeb

[2020-02-18 14:33] sebersole commented on #7242
Regarding releasing after the transaction rather than before... Maybe not a bug per-se, but I would not call it the best option.  Releasing during the before-commit phase is definitely a better approach imo and should at least be an option as we are discussing here

[2020-02-18 14:42] SchulteMarkus opened #7259 "Support sql-load-script with different schema compared to the entity"
This feature request is related to [Hibernate ORM in development mode](https://quarkus.io/guides/hibernate-orm#hibernate-orm-in-development-mode).

In my use-case, my database entity is not representing a complete row of a table, but only a subset. Imaging my entity to be a "slice" as described on http://www.adam-bien.com/roller/abien/entry/creating_dtos_without_mapping_with

    @Entity
    @Tabl

[2020-02-18 14:43] mkouba commented on #7257
The docs generator makes use of `toLowerCase()` and thus matches the `RuntimeConfig`:
https://github.com/quarkusio/quarkus/blob/master/core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/DocGeneratorUtil.java#L470

However, this will not be an issue anymore once we fix the `RootDefinition` problem. And so there is no need to fix the generator.

[2020-02-18 14:48] mithandir commented on #7144
I could test it now. Unfortunately, it isn't fixed in Alpha2.

[2020-02-18 14:51] mkouba commented on #7144
Do you get the same error? We do have a test for a template extension method that accepts multiple parameters: https://github.com/quarkusio/quarkus/blob/master/extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/TemplateExtensionMethodsTest.java#L95.

[2020-02-18 14:57] gsmet commented on #7144
@mithandir I think the easiest way to get this fixed would be for you to provide a small Maven project reproducing the issue. Thanks!

[2020-02-18 15:12] aloubyansky commented on #7249
Puzzling. It appears https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java#L143 pulls in test dependencies, although the dependencies passed in are only the extension artifacts that don't depend on quarkus-junit5.
A quick way to make it work would be to pass LaunchMode.TEST to https://github.com/quarkusio/quarkus/blob/master/de

[2020-02-18 15:32] Sanne commented on #7242
@emmanuelbernard

There's one, which is the transaction-less use case. The techempower benchmark badly needs it :(

[2020-02-18 15:41] emmanuelbernard commented on #7193
To clarify, in option B we would have a different behavior of Hibernate (or of the panache layer): i.e. let the version be overridden and checked before.

Option C

To avoid the attach problem I think I would prefer the original merge contract

[code]

The reason is that Hibernate had reattach semantic in the past but we moved away from it. I remember @gavinking saying that the saveOrUpdate semant

[2020-02-18 15:48] pedroigor commented on #6571
@DorianMaliszewski Awesome! Thanks for sharing.

Just sent PRs for both docs and quickstart:

* https://github.com/quarkusio/quarkus/pull/7260
* https://github.com/quarkusio/quarkus-quickstarts/pull/464

Please, let me know what you think. Feel free to suggest any improvement.

Your doc is more complete for sure, as it also disclaims how to set-up multi-tenancy to Hibernate. Another difference is

[2020-02-18 15:52] emmanuelbernard commented on #7242
sorry I mean setAutoCommit(false). true is the default so it works I suppose, does it?

[2020-02-18 15:55] TheGeekPharaoh commented on #7191
I just re-ran the entire process from the guide page.  I was worried I'd inadvertently changed something that was causing this.  Nope.  Still fails with the same error using the sample code.

[2020-02-18 16:42] rquinio commented on #7140
Also reproduced with 1.3.0.Alpha2.
Seems to be a regression of "The big ClassLoader change".
My reproducer: https://github.com/rquinio/quarkus-reproducer-7140

[2020-02-18 16:42] #7167 closed

[2020-02-18 16:43] #7203 closed

[2020-02-18 16:47] gsmet commented on #7167
It will be fixed in 1.2.1 that should be released tomorrow.

[2020-02-18 17:40] Karm commented on #7243
I can confirm that this is a valid problem on the current master; violation of https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4

[2020-02-18 17:45] DorianMaliszewski commented on #6571
@pedroigor Yes your doc is like mine, I think it enough for everyone will want to implement multi tenant on Quarkus.
Great job 💪🏻

[2020-02-18 17:51] Karm commented on #7243
I tried with plain Vert.x without Quarkus. This is a Vert.x specific behavior, not a Quarkus specific one.

[code]

[code]

And here it should have been the same except for the body:

[code]

[2020-02-18 17:58] manoelcampos commented on #7193
@emmanuelbernard

I'm thinking that it would be great if `merge()` was a generic method such as below:

[code]

That will enable to use it as:

[code]

I think it's safe to cast the `merge()` return to `T` and therefore include a `@SuppressWarnings("unchecked")`. If we try to generify the `JpaOperations` method, we go back to the same warning again.

[2020-02-18 18:15] patriot1burke commented on #7191
I don't know if the difference is that I'm running on Fedora.

[2020-02-18 18:15] nimo23 commented on #3781
I think, the issue https://github.com/quarkusio/quarkus/issues/5871 is similar to this one. It prints also the typical `Unable to properly register the hierarchy of the following classes for reflection as they are not in the Jandex index:`-message when using a Rest endpoint and return type a custom class instead of `Response`.

I included a reproducer in https://github.com/quarkusio/quarkus/issues

[2020-02-18 18:56] vteferrer commented on #4644
I have the same issue. The @JsonbTransient workaround does not  work for me because sometimes I need to avoid getting the property and sometimes not (I would use join fetch for discriminate between one and the other). Is there some date planned to solve this?

[2020-02-18 19:30] mithandir commented on #7144
Ok, no problem. Will create a small version of it tomorrow.

[2020-02-18 20:37] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 35f45360ddebe9df7d93b9935164231b10de69de

* Quickstarts commit: 80084537b2d80ec12d1120450979f8f8f4f970a6

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-18 21:27] stuartwdouglas commented on #7199
QuarkusTest only starts Quarkus once for all tests, so we need to know all the test classes at the start.

[2020-02-18 23:25] famod commented on #5675
GraalVM 20.0.0 is out and this entry in the [release notes](https://www.graalvm.org/docs/release-notes/20_0/#2000) caught my attention:

Wonder when Quarkus moves to GraalVM 20?

[2020-02-18 23:37] gwenneg opened #7269 "Support both GraalVM 19.3.1 and 20.0.0"
As mentioned by @gastaldi on [Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/GraalVM.2020), GraalVM `20.0` is now available: https://www.graalvm.org/docs/release-notes/20_0/

@cescoffier We'll need two new `ubi-quarkus-native-image` (JDK 8 and 11) for that version, but I suppose this has a lower priority than the Mutiny integration since `1.3.0.CR1` is getting close.

[2020-02-18 23:55] gwenneg commented on #7104
I haven't started anything related to this issue and I'm too busy on other subjects to take care of it for now, so I'm removing my assignment. Feel free to deprecate `QuarkusNative` if you want!

[2020-02-19 02:19] GregJohnStewart commented on #7220
Looking at the code, it's more than I expected haha.

As a comment on that last bit, i would argue that maybe it should fail, at least when not using `Optional`, since its supported. Maybe a field in the `@ConfigProperty` that marks it as required/ not?

[2020-02-19 02:57] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 0062fb29dff09183e3f4a8d70a5d3bc93c4ffd1a

* Quickstarts commit: 80084537b2d80ec12d1120450979f8f8f4f970a6

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-19 06:05] mithandir commented on #7144
Here you go: https://github.com/mithandir/quarkus-quote-template-bug

- Start it
- Call http://localhost:8080/working to get a version with 1 parameter that works
- Call http://localhost:8080/error to get a version with 2 parameter that doesn't work

[2020-02-19 06:42] geoand commented on #7220
There is a lot going on indeed, but we need to generate a class based on a lot of metadata.

It indeed should fail in the same way that it would fail if used on the interface.

[2020-02-19 06:45] aguibert commented on #7054
I've posted a proposed fix in PR #7270. The issues ended up being in the REST Client code, not the JSONB code, so I'm not sure who is best to review this. Perhaps @geoand or @FroMage ?

[2020-02-19 06:53] mkouba commented on #7144
@mithandir Thanks a lot! I'll take a look later today.

[2020-02-19 07:10] geoand commented on #5675
@famod you can already use GraalVM 20.0 with Quarkus. I propose you give it a go :)

[2020-02-19 07:12] geoand commented on #7054
I pinged Ken for a review since he knows more about the client

[2020-02-19 07:41] emmanuelbernard opened #7272 "Implement first rev of quarkus:update"
## Description

`quarkus:update` aims to help user migrate from one version of Quarkus to the other as seamlessly as possible.
An example of this is the Angular `ng update` command.
Since Quarkus updates frequently compared to the usual Java framework, the goal of this command is to make the update as smooth and short as possible.

## Implementation ideas

We need to start small and concrete. Ther

[2020-02-19 08:36] gwenneg commented on #7269
I'll start running locally the complete Quarkus build in native mode with GraalVM `20.0` tonight to identify possible issues ASAP (unless the ubi images are ready by then).

[2020-02-19 08:37] #7257 closed

[2020-02-19 08:37] fdai2003 commented on #7193
This will work for us to.
It requires that the developer of the update method need to know if persist or merge must be used. But in this case it is clear to call merge, because the entity is detached and modified by a user.

[2020-02-19 08:50] gsmet commented on #7269
FYI https://github.com/quarkusio/quarkus-images/pull/55

[2020-02-19 09:09] emmanuelbernard commented on #7193
Right. I did not bother with the generic work. But your solution is better.

[2020-02-19 09:46] FroMage commented on #7193
OK, my intention got lost in translation. Here's what I'm proposing:

[code]

What I'm saying is that we can make `setVersion` throw if the entity is attached and the version differs, which achieves the same semantics as `merge`, and does not force us to add `merge` for _this_ use-case.

This way, we can discuss adding `merge` for other use-cases, but not version checking.

Now, this is somewhat c

[2020-02-19 10:03] Sanne opened #7275 "Improve resiliency on Database connection issues"
**Description**
At high level, the intent is to minimize the problem with connecting to databases in the cloud; in practice, often they aren't ready, or are being reconfigured shortly after the application is booted.

**Implementation ideas**

#### validation-query-sql
I'm wondering if we should set a sensible default for `quarkus.datasource.validation-query-sql`;  often we know the database vendo

[2020-02-19 10:05] andreas-eberle opened #7276 "1.3.0.Alpha2: Kubernetes Client: Could not initialize class KubernetesDeserializer in dev mode"
**Describe the bug**
My previously working code, which is getting the currently running deployments via the Quarkus Kubernetes Client, throws the exception below when run in dev mode (`./gradlew quarkusDev`). This happens with Quarkus 1.3.0.Alpha2 and worked with 1.2 and 1.2.1 (it does not compile with 1.3.0.Alpha1 due to unresolved artifacts). I attached a minimized reproducer project below.

Exc

[2020-02-19 10:08] gsmet commented on #7276
/cc @stuartwdouglas looks like a class loading issue?

[2020-02-19 10:09] loicmathieu commented on #7275
I also notice that if a Database is not ready (at least with Postgres) when the applicaiton is started, the application crash and needs to be restatred.

This add a hard dependency between  the database and the application, if both are containers this can be challenging.

With MongoDB, the application can start without a database and connect to it later, maybe this should be implemented like this

[2020-02-19 10:14] Sanne commented on #7275
N.B. that by default the Datasource connection pool is started lazily. So you only have such a problem if you have something that's triggering the need for a connection during start; for example if you have Hibernate ORM to validate/update the schema: disable that and you'd have the same as what you describe having with MongoDB.

funny, I hadn't reviewed the healthcheck. Ironically that might be t

[2020-02-19 10:15] Sanne commented on #7275
@loicmathieu I guess the MongoDB extension should do the same? I wouldn't claim it's technically "ready" if you haven't checked the capability to connect to it, no?

[2020-02-19 10:22] wfrank2509 commented on #7171
I had already added a `reflection-config` and tried to provide all dependencies that way to see if that helps. Unfortunately no difference. I would be up to writing an extension for POI but right now I don't have any idea for this issue where to start (the general way to create an extension project is clear :)).

[2020-02-19 10:33] mkouba commented on #7144
So there are actually two problems.

(1) We have a bug in the "parent context resolution". Basically, when evaluating an expression a parent context should be used if we fail to resolve an expression in the [current context](https://quarkus.io/guides/qute-reference#current_context_object). Currently, we stop the resolution on the first level (in your case there is a nested loop -> 2 levels).

(2)

[2020-02-19 10:39] loicmathieu commented on #7275
I use Flyway, it must be the cause ...

Maybe. And maybe we can do something inside the health check to only call `isValid()` if the datasource is started.

MongoDB readiness check do the same as Agroal one (and we implement the same for almost all supported database/message broker).
There is no liveness check done for any database/message broker in any extension as a failing database/message brok

[2020-02-19 10:42] stuartwdouglas commented on #7276
So the issue here is the use of CompletableFuture.runAsync. This uses the fork join pool which does not provide any way to set the context class loader, so if you attempt to load a service it will use the wrong CL.

I am still trying to figure out a way to resolve this, but I can't really see any except for nasty hacks that may stop working in future versions of Java.

You can work around this by

[2020-02-19 10:44] loicmathieu commented on #7097
@cescoffier it's still time for MongoDB with Panache to replace the Axle base implementation to a Mutiny one, I can do it easily.

Provinding both implementation is more works (the deployment part of MongoDB with Panache is complexe).

I can work on it this week based on your mongodb-client branch, my only question is do we expose Uni/Multi or do we stick with CompletionStage/Publisher ?

[2020-02-19 10:51] andreas-eberle commented on #7276
Thanks for the super fast feedback and workaround. I also found that creating a new Thread (instead of calling CompleteableFuture.runAsync) works as well. Still, I wonder why the same code works with quarkus 1.2 then. Shouldn't it not work their as well?

[2020-02-19 10:56] stuartwdouglas commented on #7276
It was not an isolated class loader, so even though the TCCL was wrong the effects of a wrong TCCL were not as bad.

I have an idea for how to fix the TCCL, I am just testing it now.

[2020-02-19 11:04] andreas-eberle commented on #7276
Cool! Thanks a lot!

[2020-02-19 11:38] alesj commented on #6414
Perhaps check how SpringBoot does that. If I remember correctly, they somehow push this info all the way to the underlying JDBC connection ...

[2020-02-19 11:46] loicmathieu commented on #6414
@alesj it needs to be pushed to the `EntityManager` as it's an hibernate feature.

I have a working prototype using a CDI interceptor

[2020-02-19 11:58] mkouba commented on #6870
I've decided to align `BuiltinTemplateExtensions.map()` with `ValueResolvers.mapResolver()`, ie. add a special case for `entrySet()` and try `get()` last.

[2020-02-19 12:41] waldimiro opened #7280 "Unsatisfied dependency for type javax.persistence.EntityManager and qualifiers [@Default] by extensions: quarkus-hibernate-orm + quarkus-jdbc-mssql + quarkus-undertow"
**Describe the bug**
By add quarkus-hibernate-orm + quarkus-jdbc-mssql + quarkus-undertow extensions, I can't start the application due to: Unsatisfied dependency for type javax.persistence.EntityManager and qualifiers [@Default].

**Expected behavior**
EntityManager must be crerated.

**Actual behavior**
Quarkus doesn't starts.

**To Reproduce**
Steps to reproduce the behavior:
1. From https://co

[2020-02-19 12:58] gastaldi commented on #7280
@waldimiro does any stacktrace appear before that error? I have a project using H2 DB and it works fine

[2020-02-19 13:01] zakhdar commented on #6350
@TheGeekPharaoh  we have the same problem on my company , need to create keycloak ressources programmatically , so we modify the client source to work with Quarkus 1.2 (RestEasy4 compatible) and it's work pretty well , if you are interrested i can see with our admin if we can create a gitlab public repo and share the sources. let me know.

[2020-02-19 13:02] waldimiro commented on #7280
@gastaldi with clean quarkus:dev

"C:\Program Files\Java\java-11-openjdk-11.0.3.7-1\bin\java.exe" -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:64446,suspend=y,server=n -Dmaven.multiModuleProjectDirectory=C:\development\code-with-quarkus "-Dmaven.home=C:\Program Files\JetBrains\IntelliJ IDEA 2019.1.2\plugins\maven\lib\maven3" "-Dclassworlds.conf=C:\Program Files\JetBrains\IntelliJ IDEA 2019

[2020-02-19 13:13] gastaldi commented on #7280
Ah yes, you must have an `@Entity` class in your project to use JPA.

[2020-02-19 13:13] gastaldi commented on #7280
Try creating a class like this in your project:

[code]

[2020-02-19 13:15] gastaldi commented on #7280
There is an issue (#7148) asking the possibility to inject an `EntityManager` without any entities

[2020-02-19 13:18] gastaldi commented on #7148
It would be even better if you could `@Inject EntityManager` in projects without entities without setting any extra property. The error like one reported in #7280  is annoying for users

[2020-02-19 13:21] waldimiro commented on #7280
@gastaldi With the "Cake" it works ;) thanks!!

[2020-02-19 13:21] #7280 closed

[2020-02-19 14:19] ewsni commented on #6875
not sure the jar is available.

https://plugins.gradle.org/m2/io/quarkus/io.quarkus.gradle.plugin/1.2.1.Final/ contains pom but no jar

include plugin 12.0 or 1.2.1 is not working

[2020-02-19 14:22] Frintrop commented on #6508
MongoTemplate seemed to be working for quarkus,
but we have problems with repositories ....
"Currently only Entities with the @Id annotation are supported." is the error ...

[2020-02-19 14:25] geoand commented on #6508
Yes, we haven't done any work to get such a feature working. But it's certainly something we are considering

[2020-02-19 14:57] fiorenzino opened #7283 "qute: modulo operation in iterations"
**Description**
`
{#for printable in printables}
<div>{printable.name}</div>
{#if count % 5 == 0 }
           <div class="clearfix"></div>
   {/if}
{/for}
`

[2020-02-19 15:01] barreiro commented on #7275
@Sanne we should setup the exception sorter feature in Agroal in order to purge stale connections ASAP. Should not be too hard since we have control of the JDBC driver as well.

[2020-02-19 15:03] emmanuelbernard commented on #7193
The problem with this model is that I'm sure someone will do something with intermediary version swaps and you will get an early exception before an effective merge or flush operation. I think I like merge a bit better because of that. Also closer to JPA.

[2020-02-19 15:56] jordanglassman opened #7284 "field injection of package-private fields for subclasses in dependent modules fails with IllegalAccessError"
**Describe the bug**
When a project extends classes in another jar, field injection on those subclasses with package-private or protected accessibility is failing with `IllegalAccessError`.

**Expected behavior**
Should be able to extend subclasses in a dependent JAR and have field injection of base classes work normally.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavio

[2020-02-19 16:12] mgagliardo91 commented on #7284
+1

[2020-02-19 16:16] geoand commented on #7284
cc @mkouba

[2020-02-19 16:20] #6621 closed

[2020-02-19 16:27] sberyozkin commented on #6807
@rvansa IMHO Having an application with an RBAC method requiring a role which can be accessed by anonymous users is confusing. May be it is only me...

[2020-02-19 16:40] stefanorg commented on #4224
i've the same issue

[2020-02-19 16:45] jastone90 commented on #7284
+1

[2020-02-19 17:03] nimo23 commented on #7275
@loicmathieu I think this is related to https://github.com/quarkusio/quarkus/issues/5865 as it was said: **Quarkus boots faster than the database..**

[2020-02-19 17:09] gastaldi commented on #7283
A workaround is to create a `@TemplateExtension` like:

[code]

And use it in the template:

[code]

[2020-02-19 17:21] sberyozkin commented on #4416
Going to close it for now

[2020-02-19 17:21] #4416 closed

[2020-02-19 17:24] sberyozkin commented on #5640
Looks like all is resolved here, so closing this issue now

[2020-02-19 17:40] sberyozkin opened #7286 "OIDC needs to support the opaque access tokens"
**Description**
Some OIDC providers may return an opaque access token (alongside a JWT IdToken) as part of the authorization code flow (such as Google for example as reported by a user - likely because a mobile scope was requested).
This is not a major problem for the OIDC `web-app` applications as `IdToken` is used by default as `Principal`, but if this access token is propagated to the downstrea

[2020-02-19 17:50] aloubyansky commented on #7195
Finally got the time to investigate it further. I guess my IDE was caching it or something. I did a fresh setup and was able to reproduce. My suspicion was correct. I opened #7287 that fixes the issue.

[2020-02-19 18:32] gastaldi commented on #7283
@fiorenzino I made the `mod` function above a built-in function in Qute in https://github.com/quarkusio/quarkus/pull/7288. Please give it a try and let me know how that goes for you

[2020-02-19 18:36] NickyPeetersZinderlabs opened #7289 "ChainBuildException -v 1.3.0.Alpha1 when build native image"
**Describe the bug**
When building the native image for Quarkus 1.3.0.Alpha1 with GraalVM 19.3.1-java11 a chainBuildException is raised.

**Expected behavior**
A working native images

**Actual behavior**
ChainBuild Exception is raised:

Failed to execute goal io.quarkus:quarkus-maven-plugin:1.3.0.Alpha1:build (default) on project .... : Failed to build quarkus application: io.quarkus.builder.Chai

[2020-02-19 18:40] gsmet commented on #7289
So first, try with Alpha2 as we fixed a few issues already.

Then are you sure you also updated the Maven plugin?

[2020-02-19 20:18] bnjns opened #7290 "Using an import.sql file doesn't seem to get loaded with H2 in tests"
**Describe the bug**
I'm using H2 for tests so that I don't have to worry about booting up a clean database instance both locally and in CI. Following the guides, I have the configuration outlined below, and the test classes are annotated with

[code]

When the tests are started I can see that Hibernate is creating the database schema, but the `import.sql` (which is located in `src/main/resources`

[2020-02-19 20:28] gsmet commented on #7290
We fixed a lot of things in the Gradle support since 1.1.1.Final so could you try with 1.2.1.Final and then even 1.3.0.Alpha2?

If it doesn't solve your issue, could you create a small reproducer? That could be helpful.

Thanks!

[2020-02-19 20:53] gwenneg commented on #7150
@sherl0cks Did you have the occasion to test Quarkus `1.3.0.Alpha2`? This version includes @patriot1burke's commit.

[2020-02-19 21:00] pilhuhn commented on #3870
I also have a use case for this, where the current paging approach makes it hard to implement.

[2020-02-19 21:03] rsearls opened #7292 "Quarkus is not handling annontation @JsonSubTypes properly"
For @JsonSubTypes I have an app that defines the annotation as

    @JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.PROPERTY, property = "type")
    @JsonSubTypes({
          @JsonSubTypes.Type(value = ProxyWithGenericReturnTypeJacksonType1.class, name = "type1"),
          @JsonSubTypes.Type(value = ProxyWithGenericReturnTypeJacksonType2.class, name = "type2")})

In the endpoi

[2020-02-19 21:04] rsearls opened #7293 "Quarkus is not handling annontation @JsonView properly"
For @JsonView I have an app that defines the annotation.

   @JsonView(TestJsonView.class)
   private String annotatedValue;

   @JsonView({TestJsonView.class, TestJsonView2.class})
   private String annotatedValue2;

The endpoint sets the values and returns this object

   public static Something SOMETHING =
      new Something("annotated value", "annotated value 2", "not annotated value");

   @

[2020-02-19 21:04] sherl0cks commented on #7150
@gwenneg no. Thanks for letting me know. It's been a really busy few days but will try to squeeze it in.

[2020-02-19 21:37] bnjns commented on #7290
Neither 1.2.1.Final nor 1.3.0.Alpha2 solved the problem 😢

Here's a repo with an example project that shows the problem: https://github.com/bnjns/quarkus-bug

Thanks!

[2020-02-19 21:58] tshull226 opened #7295 "Temporarily Disable Select Tests on AArch64"
Currently some tests are failing on AArch64 due issues with upstream libraries. Until these issues are resolved for AArch64, the following failing tests should be temporarily disabled:

quarkus-integration-tests-kakfa-streams

[2020-02-19 21:59] tshull226 commented on #7295
quarkus-integration-tests-kafka-streams is failing due to this issue: https://github.com/facebook/rocksdb/issues/6188.

Current status in rocksdb: https://github.com/facebook/rocksdb/pull/6250

[2020-02-19 22:09] boonyasukd commented on #3813
@fmhwong The new version of `graalvm` is out. I've compiled my code with
- `ubi-quarkus-native-image:20.0.0-java8`
- `ubi-quarkus-native-image:20.0.0-java11`

Now my code runs just fine. I no longer need to recreate missing resource file to prevent it from crashing.

[2020-02-19 22:14] tshull226 commented on #7295
the mongodb tests appear to be failing due to a incompatibility with libraries being used for unittests:

https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/104
https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/pull/286

[2020-02-19 22:26] gabrielsson commented on #5675
This solved building it on Mac with gradle.
`./gradlew buildNative --docker-build=true` failed on 19.3.1

[2020-02-19 23:26] nimo23 commented on #7293
You need to include the extension **quarkus-resteasy-jackson** in your pom.xml.

[2020-02-19 23:38] HonoluluHenk commented on #6948
See pr #7296 for possible fix/workaround

[2020-02-20 01:39] #6870 closed

[2020-02-20 05:30] iwangxiaodong commented on #7269
**I use GraalVM 20.0.0 + io.quarkus:quarkus-bom:1.3.0.Alpha2, Output error:**

  Error: com.oracle.graal.pointsto.constraints.UnsupportedFeatureException: type is not available in this platform: io.quarkus.runtime.graal.DiagnosticPrinter$Target_PosixJavaThreads
  Trace:
          at parsing io.quarkus.runtime.graal.DiagnosticPrinter.printDiagnostics(DiagnosticPrinter.java:46)
  Call path from entr

[2020-02-20 08:22] emmanuelbernard commented on #7269
@gwenneg and all. The idea would be to be able to support both 20 and 19.3.x in Quarkus in parallel (like we briefly did 19.2 and 19.3) if at all possible. The reason is 19.3 is LTS.

[2020-02-20 08:42] ge0ffrey opened #7300 "NativeImageTest that uses @Inject: better error message than NullPointerException"
Given a test that runs

[code]

The native test version of it:
[code]

fails because `@Inject` is not supported in native tests:

[code]

**The error message `java.lang.NullPointerException` is not helpful to determine the cause. Can we change that to something like `Don't use @Inject in a native test.`?**

[2020-02-20 08:46] DicksengA commented on #7213
Hmmm was hoping for an alternative to @DBref in spring

[2020-02-20 08:46] #7213 closed

[2020-02-20 08:49] DicksengA opened #7301 "Override property values in application.properties during Unit Tests"
Is that a way to change a property value for unit tests?
Example quarkus.mongodb.database, wanna change it in QuarkusTest but leave the original value unchanged.

[2020-02-20 09:08] Ladicek commented on #7161
OK, still happens on latest master. I'll take a look if I can figure out something.

[2020-02-20 09:09] Ladicek commented on #7161
Looking at the stack trace again, I see it's happening during shutdown: `io.quarkus.runtime.Application.close`...

[2020-02-20 09:25] gwenneg commented on #7269
@iwangxiaodong Thanks for reporting this! I'll run some Windows native tests tonight and see if I can reproduce it locally.

@emmanuelbernard Ok, I'll make the required changes and tests to try to support both versions.

[2020-02-20 09:28] Ladicek commented on #7161
Looks like during shutdown, the thread context classloader (which is used by the `ServiceLoader` mechanism) is no longer the Quarkus base runtime classloader, but the system classloader. However, the SRye Fault Tolerance classes are loaded by the Quarkus base runtime classloader.

[2020-02-20 09:30] cescoffier commented on #7097
@loicmathieu ideally both. In your Panache code, the Axle model is in the `axle` package. Just create the mutiny one in the `reactive` package.

So:

1. Deprecate `io.quarkus.mongodb.panache.axle.ReactivePanacheMongoEntity`
2. Create `io.quarkus.mongodb.panache.reactive.ReactivePanacheMongoEntity`

[2020-02-20 09:36] andreas-eberle opened #7304 "Quarkus Security: @RolesAllowed causes crash on class but works on method when using CompletionStage"
**Describe the bug**
We are using the `quarkus-elytron-security-properties-file` extension and added the `@RolesAllowed` annotation to a the GreetingResource from the [quarkus kotlin example](https://quarkus.io/guides/kotlin). At first this works fine. However, as soon as you return a `CompletionStage<Response>` instead of the response directly, the exception below is thrown.

However, if you atta

[2020-02-20 09:36] loicmathieu commented on #7292
You need to use `quarkus-resteasy-jackson`.

I notice also that you include in your dependencies a lot of libraries that Quarkus define in it's own dependencies, you should try to avoid that as much as possible and use Quarkus extensions whenever it's possible. This allows a better support of the librairies inside Quarkus.

[2020-02-20 09:38] loicmathieu commented on #7301
QuarkusTest uses the test profile, so you can override the property inside your application.properties like that:

[code]

[2020-02-20 09:46] loicmathieu commented on #7097
@cescoffier the Axle implementation was merged a few days ago so nobody already used it. So we can still replace it. Having a new thing already deprecated seems strange ...

[2020-02-20 09:52] Ladicek commented on #7161
I'll submit a PR with a fix. It's simple, but I have absolutely no idea whatsoever if it's also correct :-)

[2020-02-20 09:54] nimo23 commented on #7292
It is the same as https://github.com/quarkusio/quarkus/issues/7293

[2020-02-20 09:59] jglink commented on #5709
Is there a timeline for the fault tolerance model integration?

We are currently investigating if we can use the Reactive Messaging integration in Quarkus for a new project and not having something like redelivery would be a no-go for it...

Thanks

[2020-02-20 10:51] emmanuelbernard commented on #5709
Pardon the noob question. I don't fully get fault tolerance for messaging. On the consumption side, just not ack before you're done seems to do the trick.
I suppose it is to have FT behaviors for sending messages?

[2020-02-20 10:55] sberyozkin commented on #7243
Hi, this is what RestEasy should control, right ? if no `@Head` method is available then if `@GET` should be checked in order to construct a `Head` response as per the JAX-RS spec, as far as I recall

[2020-02-20 11:17] mkouba commented on #7284
@jordanglassman Could you pls try with the latest 1.3.0.Alpha2? Looks like a classloading issue and 1.3 brings a big classloader change that could potentially fix your problem.

[2020-02-20 11:40] jglink commented on #5709
That´s not quite the way it works for me on the receiver.
If I don´t ACK the message, the message is not delivered again. Only after I shutdown the Quarkus App and restart it, the message is read again.

[2020-02-20 11:42] pedroigor commented on #6350
@TheGeekPharaoh isn't the Keycloak Authz Java Client enough for you needs? This one does not use Resteasy.

[2020-02-20 12:08] Karm commented on #7243
@sberyozkin I don't think it has anything to do with RestEeasy...why should it?

It is caused by a deliberate decision in Vert.x Core here:

https://github.com/eclipse-vertx/vert.x/blob/3.8.5/src/main/java/io/vertx/core/http/impl/HttpServerResponseImpl.java#L639

IMHO

[2020-02-20 12:14] gsmet opened #7308 "Windows build failing with file being used by other process in dev mode"
[code]

[2020-02-20 12:22] Karm commented on #7243
@sberyozkin
[code]

Unpatched Vert.x 3.8.5:

[code]

Patched Vert.x 3.8.5.karm:

[code]

[code]

So...I'll open it with Vert.x Github repo and see what they say...

This is really not about any optimization. All the body content is pushed all the way to Netty buffers and processed; it is just not returned (which is fine for HEAD). Since we know the length anyway, there is IMHO no reason not to spi

[2020-02-20 12:31] #7276 closed

[2020-02-20 12:38] mkouba commented on #7283
Also note that within a loop you should be able to use `{#if even}` and `{#if odd}`...

[2020-02-20 12:45] sberyozkin commented on #7243
HI @Karm Thanks for all this information.

So what would happen if one has:
[code]
? Will this method be even invoked with Vertx now supporting Quarkus ? The other thing I mentioned earlier, the JAX-RS spec requires that if no `@HEAD` method exists but `@GET` on the same path is available, then that `@GET` response minus any payload is what should be returned, I'm pretty sure a TCK test exists to

[2020-02-20 12:46] Karm commented on #7243
@sberyozkin Lemme probe that.

[2020-02-20 13:00] geoand commented on #7308
Saw that one as well unfortunately...

[2020-02-20 13:02] geoand commented on #7301
Closing since the answer by @loicmathieu is spot on

[2020-02-20 13:02] #7301 closed

[2020-02-20 13:04] geoand commented on #7289
This sounds very much like an issue where the two properties controlling the plugin and platform version have not been updated in lockstep

[2020-02-20 13:06] rsearls commented on #7292
I added quarkus-resteasy-jackson to the provided sample project and got the same error.

[2020-02-20 13:07] rsearls commented on #7293
I added quarkus-resteasy-jackson to the provided sample project and got the same error.

[2020-02-20 13:38] mkouba commented on #6948
@HonoluluHenk thanks for your contribution. However, I think that we should avoid adding the `Fake*` classes just to workaround this particular problem.

It should be fairly easy to identify entity listerners (i.e. scan the index for `@PrePersist`) and add a synthetic scope to them in a quarkus extension. The other step would be to provide a quarkus-specific listener "instantiator". Something simi

[2020-02-20 13:39] jordanglassman commented on #7284
@mkouba quarkus doesn't start up with 1.3.0.Alpha2 for what looks like unrelated reasons:

[code]

Reproducer project branches:
https://github.com/jordanglassman/quarkus-cdi-bug-app/tree/1.3.0.Alpha2
https://github.com/jordanglassman/quarkus-cdi-bug-common/tree/1.3.0.Alpha2

[2020-02-20 13:41] ge0ffrey opened #7311 "QuarkusTest hang in IntelliJ IDEA for master and quarkus 1.3+ but not 1.2"
To reproduce:
- On `quarkus-quickstarts`, on branch `development`, run `LegumeResourceTest` in IntelliJ
- Notice that it runs forever consistently, but that's only on my machine for one checkout of the project.

This reproduces with the IntelliJ Ultimate, both in the latest 2019.3.3 and an earlier version 2019.2.2. **This prevents normal debugging of tests in IntelliJ.** Everything works fine in m

[2020-02-20 13:41] geoand commented on #7284
This needs to be bumped as well https://github.com/jordanglassman/quarkus-cdi-bug-app/blob/1.3.0.Alpha2/pom.xml#L23 :)

[2020-02-20 13:42] jordanglassman commented on #7284
Sorry, didn't see 1.3.0.Alpha2 [here](https://mvnrepository.com/artifact/io.quarkus/quarkus-universe-bom), will try removing the BOM.

[2020-02-20 13:43] geoand commented on #7284
You don't have to remove, the bom, you can just use `quarkus-bom` instead of `quarkus-universe-bom`

[2020-02-20 13:51] jordanglassman commented on #7284
@geoand same result:

[code]

Repro projects updated:
https://github.com/jordanglassman/quarkus-cdi-bug-app/tree/1.3.0.Alpha2
https://github.com/jordanglassman/quarkus-cdi-bug-common/tree/1.3.0.Alpha2

[2020-02-20 13:52] geoand commented on #7311
I was unable to reproduce this

[2020-02-20 13:53] geoand commented on #7284
Thanks for checking @jordanglassman !

[2020-02-20 13:55] gsmet commented on #7284
/cc @mkouba @stuartwdouglas looks like something we would want to get fixed for 1.3.

[2020-02-20 13:58] ge0ffrey commented on #7311
Georgios tried on development branch. I tried on master and switched hibernate-orm-quickstart to use H2 in memory.

[2020-02-20 14:00] rsearls commented on #7292
I am using io.quarkus:quarkus-bom.  All the needed resteasy archives listed in the BOM are referenced in the POM.  Needed archives not listed in the BOM are referenced with the appropriate version stmt in the POM

[2020-02-20 14:16] fmhwong commented on #3813
@boonyasukd Can this issue be closed?

[2020-02-20 14:29] mkouba commented on #7284
I'm just looking at it...

[2020-02-20 14:44] Karm commented on #7243
@sberyozkin

# Vert.x http server used from Quarkus

With patched Vert.x core:

[code]

This test passes just fine [HTTPCasesTest.java](https://github.com/Karm/quarkus/blob/head-and-get-content-length/extensions/vertx-http/deployment/src/test/java/io/quarkus/vertx/http/compliance/HTTPCasesTest.java#L57)

It fails with vanilla 3.8.5, that is used in the current Quarkus.

# JAX-RS used from Quarkus

[2020-02-20 14:45] mkouba commented on #7284
So I've just tried the reproducer and the problem only occurs in the development mode (`mvn compile quarkus:dev`).

[2020-02-20 14:52] sberyozkin commented on #7243
@Karm But why a `content-length` is tested ? The JAX-RS spec is a bit unclear about it but it implies (when it says @GET body should be stripped when processing @HEAD) that `Head` does not return a body.

[2020-02-20 14:54] sberyozkin opened #7314 "Update Keycloak docker image to 9.0.0"
**Description**
Keycloak 9.0.0 has been released so we need to test against it

[2020-02-20 15:03] boonyasukd commented on #3813
Yes, I'll close it now.

[2020-02-20 15:03] #3813 closed

[2020-02-20 15:11] sberyozkin commented on #7243
@Karm Hi, what would test well if the JAX-RS methods are invoked is to return Response with only few headers set:

[code]

[2020-02-20 15:16] sberyozkin commented on #7243
@Karm Checking around, [here for example](https://tools.ietf.org/html/rfc7231#section-4.3.2), suggest the [payload related headers](https://tools.ietf.org/html/rfc7231#section-3.3), such as `Content-Length` may be dropped. So we just need to confirm that the headers like `Content-Type` is set when the JAX-RS methods are invoked. Thanks

[2020-02-20 15:29] mkouba commented on #7284
I think that it would work fine if `quarkus-cdi-bug-common` was part of a multi-module Maven project together with `quarkus-cdi-bug-app`. However, in the current setup Quarkus has no way to detect what classes from the `quarkus-cdi-bug-common` should be loaded by the CL that supports hot replacement.

[2020-02-20 15:39] Karm commented on #7243
@sberyozkin

https://tools.ietf.org/html/rfc7231#section-3.3

Explicitly lists ```Content-Length```. You are correct.

The thing is though that Thorntail / Undertow *gives* you the Content-Length.

[code]

[code]

Thorntail 2.6
[code]

So...if we could, I would align it with what Thorntail/Undertow gives you...

[2020-02-20 15:43] Karm commented on #7243
To generate test apps:

curl -O -J 'https://start.microprofile.io/api/project?supportedServer=QUARKUS&artifactId=quarkus'

curl -O -J 'https://start.microprofile.io/api/project?supportedServer=THORNTAIL_V2&artifactId=thorntail'

[2020-02-20 15:49] jordanglassman commented on #7284
@mkouba I can confirm this is the case.  This issue was discovered while extracting a common module from a multi-module Maven project to a standalone jar.

[2020-02-20 15:58] #7195 closed

[2020-02-20 16:06] #7161 closed

[2020-02-20 16:27] loicmathieu commented on #7292
@rsearls a Quarkus extension is more than just adding the corresponding dependencies, it does some stuff during the build of your application (this is the augmentation phase of a Quarkus application), that's why if you want to use resteasy and jackson you need to use the `quarkus-resteasy-jackson` extension in order to make everything work properly.

[2020-02-20 16:33] sberyozkin commented on #7243
Hi @Karm, thanks for all the tests. But Quarkus one is more optimal :-), the one from Undertow/Thorntail might cause, in theory at least, some side-effects with some eager clients reacting to `Content-Length`; especially with having a JAX-RS `@Head` method returning a body, which in itself is not a correct Head implementation
Thanks

[2020-02-20 16:41] gsmet commented on #7292
@loicmathieu frankly, I'm not sure this is an issue with the dependencies.

I don't see any reference to `JsonSubTypes` in our code and we should probably register them for reflection.

[2020-02-20 16:50] emmanuelbernard commented on #7193
I had a conversation with @Sanne and conceptually, we feel that there is a missing operation in Hibernate ORM itself to do the kind of things you want to do - checking a detached entity state and do (partial or complete) update on an already attached entity.
So I'd recommend you use the  `entityManager().merge()` for now and we need to list this problem as one of the several to solve in Panache (a

[2020-02-20 17:55] rsearls commented on #7292
My guess is this as a CDI issue.  Quarkus is using a different CDI provider than wildfly.

[2020-02-20 17:56] gsmet commented on #7292
@rsearls I see you reported this with a JDK version. You have the failure in JVM mode, not native?

[2020-02-20 18:18] #7246 closed

[2020-02-20 19:19] #7054 closed

[2020-02-20 19:26] #7018 closed

[2020-02-20 19:28] machi1990 commented on #7292
Hi @rsearls I am not seeing an error in my personal sample project with the `resteasy-jackson` extension.

I also have tried to follow the instruction provided in the README of your producer project and I stumbled upon the following error:
[code]

[2020-02-20 19:32] aguibert commented on #7054
@emattheis fix is delivered now and it should be included in the next release of Quarkus (1.3.0)

[2020-02-20 20:58] gwenneg commented on #7269
| | svm:19.3.1 (SDK) | svm:20.0.0 (SDK) |
| - | - | - |
| ubi-quarkus-native-image:19.3.1-java8 | Current `master` branch | |
| ubi-quarkus-native-image:19.3.1-java11 | Current `master` branch | |
| ubi-quarkus-native-image:20.0.0-java8 | | #7291 |
| ubi-quarkus-native-image:20.0.0-java11 | | #7291 |

[2020-02-20 22:42] #7144 closed

[2020-02-20 23:24] #6571 closed

[2020-02-21 01:01] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 11fadbf2f0b610d21796671eae07c2acfdf71721

* Quickstarts commit: 2682b2ae8469d886b66edc5592af4ca9e33afe02

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-21 02:35] DicksengA commented on #7301
Thanks it works :)

[2020-02-21 06:58] #7300 closed

[2020-02-21 06:59] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 6d5eeea9daf41cc3d34ad566001e5c4fcc164c7f

* Quickstarts commit: 2682b2ae8469d886b66edc5592af4ca9e33afe02

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-21 07:47] geoand commented on #7311
@ge0ffrey were you able to find any more information?

[2020-02-21 08:00] mkouba opened #7325 "Qute - add missing parts of javadoc to public API"
Esp. for `io.quarkus.qute.Engine` and SPI.

[2020-02-21 08:02] mkouba opened #7326 "Qute - document extension points"
Such as `io.quarkus.qute.SectionHelperFactory` and `io.quarkus.qute.TemplateLocator`.

[2020-02-21 08:38] Karm commented on #7243
@sberyozkin  @rsearls  I suggest we close this then.

If anyone complains, e.g. if anyone uses Conent-Length from HEAD to pre-allocate resources (embedded systems) or to check response (enough to now the length); we can iterate back to it. Wit all the note it will be easy to pick up the slack.

[2020-02-21 08:49] HonoluluHenk commented on #6948
I'll have a look into it...

[2020-02-21 09:03] loicmathieu commented on #7292
@gsmet `JsonSubTypes` works without issue in JVM mode, I used them in one of my application. As the description of the issue and the example repository shows, the issue occurs on standard test so no native mode.

Didn't tested native mode, it may need to register the types for reflection, but the issue will be an error not a field not present I think.

@rsearls when using `@JsonSubTypes` I configu

[2020-02-21 09:07] gunnarmorling commented on #7066
@wfrank2509, sorry, had missed your reply. There's a difference between reflective access and `JNIRuntimeAccess` (which is what I'm using above).

[2020-02-21 09:11] emmanuelbernard commented on #5602
Declarative vs imperative is important for Quarkus because it allows us to detect and do a lot at build time. From Stef example, I guess the Exception response could be programmatic instead of being annotation driven.

BTW @nimo23 you are unfair in your comparison, your programmatic code does not do the same as the annotation drive code, that's why it feels simpler.

[2020-02-21 10:02] gwenneg commented on #7269
The JDK 8 and 11 native tests were successful for all GraalVM SDK and Docker image combinations.

I'll take a closer look at the logs tonight just to make sure we don't miss an issue that would happen without making the build fail.

[2020-02-21 10:25] sberyozkin commented on #7243
Sounds good to me, lets see if @rsearls agrees

[2020-02-21 10:30] ge0ffrey commented on #7311
I am reproducing it on the `development` branch too, with hibernate-orm-quickstart. **FruitsEndpointTest hangs.**

I did do something extra on the reproduces list (to avoid having to do docker daemon installation):

- Adjust these 4 lines in application.properties:
[code]
- Change the postgresql dependency to h2:
[code]

[2020-02-21 10:46] jmartisk opened #7330 "Metric annotations applied via CDI stereotypes don't work"
If a bean is annotated with a stereotype that applies a metric annotation (`@Counted` etc.), it will not be considered when registering metrics.

Because metric annotations are interceptor bindings, the relevant metric interceptor will still be applied, but will fail at runtime because it will not be able to find the metric that it is supposed to update.

Depends on fixing  https://github.com/smal

[2020-02-21 10:47] gunnarmorling opened #7331 "Cancellation of Maven build should stop spawned GraalVM build, too"
When cancelling a running Maven build using the native profile with an in-container build, the spawned Linux container running the native image build continues to run and must be stopped manually via `docker stop`.

[2020-02-21 10:52] Sanne commented on #6948
@mkouba +1 no need for fake classes. Regarding the Hibernate SPI: to be honest I don't know this area very well, I should investigate but am a bit overwhelmed ATM.

Even if it's not possible today, it's certainly possible to change the code :) We do regular Hibernate releases to address on any Quarkus need.

@HonoluluHenk thanks! appreciate it. If you need to change any code in Hibernate ORM, feel

[2020-02-21 10:58] geoand commented on #7311
How is h2 being started?

[2020-02-21 11:07] gunnarmorling commented on #7066
PR provided at https://github.com/quarkusio/quarkus/pull/7329.

[2020-02-21 11:08] gsmet commented on #7248
@gastaldi would you have the cycles to check out this one?

Make sure this thing is only available in dev mode. And also, we should probably deal with escaping better than we currently do.

If you don't have the time, please say so. Thanks!

[2020-02-21 11:09] gsmet commented on #7156
@mkouba could you have a look at that one? We have a reproducer above and it could be a major issue with Gradle + Qute so let's at least try to understand what's going on.

Thanks!

[2020-02-21 11:28] gastaldi commented on #7248
Sure, I can have a look

[2020-02-21 11:32] stianst commented on #6350
Had a little play with getting the KC admin client working here: https://github.com/keycloak/keycloak/pull/6817

Works on RestEasy 3 and 4.3, but does not work on 4.4. Seems like there could be a bug in RestEasy 4.4.

[2020-02-21 11:34] ge0ffrey commented on #7311
In the JDBC driver, with "jdbc:h2:mem:quarkus_test". No need to start any DB server.

[2020-02-21 11:38] geoand commented on #5493
@lburgazzoli that has been suggested too, but for the time being we are going to stick with config flags to control the execution

[2020-02-21 12:12] gastaldi commented on #7311
I can't reproduce that error either. I followed the steps in https://github.com/quarkusio/quarkus/issues/7311#issuecomment-589595484 but no luck :(

[2020-02-21 12:23] mkouba commented on #7156
I can try to but I'm no gradle expert...

[2020-02-21 12:29] krzyk opened #7333 "Using environment variables in application.properties results in build error"
**Describe the bug**
I used 0.18.0 version to build app and I had in application.properties:
[code]
When I upgraded to 0.20.0 (or any later release) my app doesn't build, I get error:
[code]
When I remove the default value (`:8080`) nothing changes, when I replace `${PORT}` with `8080` build works.
It looks like `quarkus.http.port` is handled differently then any other property, e.g. I have also `

[2020-02-21 12:33] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: c96c7eea65c7600eb9cf481b877a7fd184e13235

* Quickstarts commit: c43f6a227fa27ae97fd5c532ff505a5a0a9b1452

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-21 12:34] #7333 closed

[2020-02-21 12:34] krzyk commented on #7333
Sorry, it works in 1.2.1.Final

[2020-02-21 12:40] #6011 closed

[2020-02-21 12:43] gastaldi commented on #7248
The NotFoundExceptionMapper is only enabled in dev-mode indeed. The 404 page that this issue refers to is the one handled by Resteasy containing the error.

[2020-02-21 12:47] manoelcampos commented on #7193
Meanwhile, the code below is a workaround for those facing the same issue:

[code]

[2020-02-21 12:50] mkouba commented on #7156
So I can see a different error that should be fixed in master/1.3.0.Alpha2 and is caused by the fact that Qute engine could be initialized after `@Observes StartupEvent` notification.

@GregJohnStewart is there a chance that you could test it with quarkus 1.3.0.Alpha2?

[2020-02-21 12:56] emmanuelbernard commented on #6339
So "PanacheCache" is not a fully clear idea for me but I think it is the quarkus cache annotations and the upcoming programmatic API. For local cache, I don't see much value is setting a swapping ability compared to the caffeine based solution we have. It will keep config and mental overhead to a minimal.

For some abstraction over a remote cache, that's something we should explore but the first s

[2020-02-21 13:32] gastaldi commented on #7248
Remark: I am not even sure why a 404 is returned. It would be better to return `400` (Bad Request) instead

[2020-02-21 13:41] rsearls commented on #7292
Sorry version 4.5.0-SNAPSHOT is the master branch.  Please change that to
version 4.4.2.Final in the pom.xml at line 29 property <resteasy-version>

[2020-02-21 13:49] dmlloyd commented on #5113
FYI the upstream bug relating to `char[].clone()` has finally been fixed: https://github.com/oracle/graal/issues/877#issuecomment-589655273

[2020-02-21 13:50] rsearls commented on #7292
Instead of above please just update the project.  I've made the needed adjustments in the pom file you

[2020-02-21 13:51] rsearls commented on #7292
I added visible=true to @JsonTypeInfo in ProxyWithGenericReturnTypeJacksonAbstractParent but the test failed the same way for me

[2020-02-21 13:53] eiden commented on #5003
Keep in mind that this _can_ be used as an attack vector for a DoS since the application will do a http call when it encounters an unknown key.

Look at the JWKS keys returned by for instance google:
https://www.googleapis.com/oauth2/v3/certs

They return two keys. When a key is rotated the following happens:
1. Add a new key to the JWKS endpoint
2. Wait until clients have refreshed their keys (co

[2020-02-21 13:54] gastaldi commented on #7248
Using `@Encoded` together with the `@QueryParam` annotation solves the problem.

[2020-02-21 13:59] shvyrev commented on #7120
Added pom file to [repo](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/pom.xmll).

Please try again.

Thank you.

[2020-02-21 14:03] GregJohnStewart commented on #7156
It should be noted that I accidentally committed a change where I commented out the template so I could continue work elsewhere, so if the tests still run, check if the template code is commented out in `LifecycleBean.java:22-24`.

@mkouba I would like to, but I get the following error when I try to run `1.3.*`:

[code]

Are there any more required gradle setup changes since `1.2.0.Final`?

[2020-02-21 14:03] rsearls commented on #7243
I have no objection

[2020-02-21 14:08] GuangjieZHANG commented on #2835
Yes, we really want it, please ... lol

[2020-02-21 14:20] mkouba commented on #7156
Yep, I've uncommented the injection point and the logic inside the observer method before I've tried to run the app ;-)

I have no idea. We need some gradle experts here... @gastaldi @geoand Any ideas?

[2020-02-21 14:24] geoand commented on #7156
I haven't followed the latest gradle stuff, so @gastaldi is the person to turn to for the expert advice

[2020-02-21 14:35] gsmet commented on #7156
Probably worth to have a look at that one soon as it might hide a regression in 1.3 if the OP can't upgrade.

[2020-02-21 14:50] gastaldi commented on #7120
@manovotn  @FroMage can any of you guys look into this one?

[2020-02-21 15:06] #5493 closed

[2020-02-21 15:34] #7314 closed

[2020-02-21 15:35] FroMage commented on #7120
Sorry I'm on a super urgent fix today and will be away next week. I can look after that if nobody has time before.

[2020-02-21 15:40] andreas-eberle commented on #5722
@sixman9: Normally, the quarkus dependency and plugin version numbers are in gradle.properties and set in settings.gradle.

[2020-02-21 16:17] ge0ffrey commented on #7311
@gastaldi (no reproduction) and me (reproduction) seem to use the exact same IntelliJ Ultimate version (193.6494.35) now.

[2020-02-21 16:19] geoand commented on #7311
And my IntelliJ version (just for the record, I can't reproduce either):

[code]

@ge0ffrey do you perhaps have any Quarkus IntelliJ plugins?

[2020-02-21 16:32] ge0ffrey commented on #7311
Nope, only 2 non-bundled IntelliJ plugins (asciidoc and CSV plugin)

[2020-02-21 16:35] #7325 closed

[2020-02-21 16:35] ge0ffrey commented on #7311
I can reproduce it on every quickstart, including the rest-json-quickstart `LegumeResourceTest` - so which no special H2 changes etc.

[2020-02-21 16:36] gastaldi commented on #7311
What's shown when you execute `jstack <pid>` with the hanging process?

[2020-02-21 16:39] ge0ffrey commented on #7311
Same as in IntelliJ thread dump that is in the zulip chat.

And it is somehow forever-locked on trying to system.out the InvocationTargetException that occurs (which I discovered by debugging during this stacktrace).
[code]

[2020-02-21 16:43] ge0ffrey commented on #7311
This is the exception it's trying to log:

![image](https://user-images.githubusercontent.com/176880/75053440-96048c80-54d1-11ea-82c6-299bbfd8f5ff.png)

That 2th stacktrace points to this code:

[code]

which calls

[code]

[2020-02-21 16:46] gsmet opened #7340 "CodeFlowTest failing from time to time on CI"
I just had the following issue on a CI build:
[code]

[2020-02-21 16:47] gsmet commented on #7340
/cc @sberyozkin @pedroigor

[2020-02-21 17:40] ge0ffrey commented on #7311
My team member Musa just tried to reproduce without success. It's really just my machine apparently. Restarting IntelliJ didn't work, let me restart my entire machine.

[2020-02-21 17:44] geoand commented on #7311
Thanks for being so thorough about this!

[2020-02-21 17:51] ge0ffrey commented on #7311
My team member Musa just tried to reproduce without success. It's really just my machine apparently. Restarting IntelliJ didn't work. Restarting my entire machine didn't work either.

[2020-02-21 18:08] gastaldi commented on #7156
I upgraded your application to the latest master, uncommented the code in your `LifecycleBean` and it works fine. It crashes with a ZipException in 1.3.0.Alpha2 though (probably related to https://github.com/quarkusio/quarkus/pull/7237) :

[code]

[2020-02-21 18:15] RasmanTuta opened #7343 "@PreAuthorize() does not support space before string expression"
**Description**
If you include the spring-security extension and use the functionality with a PreAuthorize annotation for calling a method on a bean, startup fails if a string in the expression has space before an Apostrophe defining a string argument.
The problem is in this line where _argumentExpression_ is used rather than _trimmedArgumentExpression_ when evaluating:
https://github.com/quarkusi

[2020-02-21 18:17] #7238 closed

[2020-02-21 18:19] gsmet commented on #7343
/cc @geoand

[2020-02-21 18:24] geoand commented on #7343
Thanks a lot for reporting this!

I'll fix it later on today or over the weekend

[2020-02-21 18:58] GregJohnStewart commented on #7156
That's all odd. I can't reproduce, I still can't switch to 1.3 (mostly hitting maven resolution issues with `999-SNAPSHOT`...)

How many times did you try running it? I had it run once as well, but only once.

[2020-02-21 18:58] TheGeekPharaoh commented on #6350
@pedroigor I'm looking for administration capabilities (create users, set passwords, etc.) through Quarkus.  Isn't the Authz Java Client only for authn/authz functionality?

[2020-02-21 19:15] gastaldi commented on #7156
You need to build quarkus from sources first. Clone the repo and do a mvn
clean install -DskipTests - T 1C

Em Sex, 21 de fev de 2020 15:58, Greg Stewart <notifications@github.com>
escreveu:

[2020-02-21 19:30] GregJohnStewart commented on #7156
I figured that was the case. I'll give that a go

[2020-02-21 19:39] gsmet commented on #7156
@GregJohnStewart another option is to add this snapshot repo to your build: https://oss.sonatype.org/content/repositories/snapshots/ .

We publish snapshots there: https://oss.sonatype.org/content/repositories/snapshots/io/quarkus/ .

[2020-02-21 19:50] GregJohnStewart commented on #7156
After installing latest from Master locally, I can resolve dependencies but get the following error:

[code]

... any ideas? Unsure why it would be happening to me and not you. Also, I'm using the jdk and not graal because I haven't yet tried doing anything related to native builds

[2020-02-21 19:52] sberyozkin commented on #7340
Hi @gsmet So far I can only confirm that it might happen in CI with this test. @pedroigor was looking into it, I believe there might be few extra options for optimizing HtmlUnit. The other thing is that this issue, #6802, is what the above stacktrace demonstrates. So I'll try to tackle #6802, and so when the problem occurs then there will be more logging info available.
Thanks

[2020-02-21 20:00] nimo23 commented on #6339
@emmanuelbernard Let me describe it in another way:

Actually, I have a lot of entities with a lot of relationships defined by Hibernate and JPA annotations. The domain model is well designed and the binding between the entities and the **sql database** with all the defined jpa queries works.

I only have one bottleneck: performance (in relation to speed/latency/save/update), not because of Hibern

[2020-02-21 20:05] gastaldi commented on #7156
I am using OpenJDK 8. What do you get with `--stacktrace`?

Em Sex, 21 de fev de 2020 16:50, Greg Stewart <notifications@github.com>
escreveu:

[2020-02-21 20:12] GregJohnStewart commented on #7156
[code]

[2020-02-21 20:27] Sanne commented on #6339
hi @nimo23 , let me give you a little more context: @emmanuelbernard and myself helped create Infinispan an design the Ickle language. We also started the Hibernate OGM project for similar reasons to what you describe :+1: , and during the OGM development we had the opportunity to work a bit with Ignite as well.

So no need to explain those points and why it would be cool to have them :)

But it's

[2020-02-21 20:32] #7343 closed

[2020-02-21 20:42] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 12ad774423d09e81731e85a1a3268bd09077829f

* Quickstarts commit: 10dfd49bf2b4fc76a9e481efacd823d66e8ec394

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-21 21:03] nimo23 commented on #6339
Wow, very cool I did not know that 👍

Yes, it is an abstraction but **only** focused on ApacheIgnite (and Infinispan). **No other NoSql-storages!**

- the API is backed by JPA/Hibernate/PanacheStore annotations
- the JPA `entityManager` with its transactional concept (by `@Transactional`) is used
- query support by JPQL
- models are annotated by common jpa/hibernate annotations
-`PanacheStore` ann

[2020-02-21 21:06] nimo23 commented on #6339
I changed the title. It could be also called `QuarkStore` or `QuarkusStore`.

[2020-02-21 21:29] nimo23 commented on #6339
I find it would be better to rename this topic to QuarkusStore:

The `quarkus-store`-extension abstracts the use of `quarkus-ignite` (and quarkus-infinispan)-extension with the help of JPA/Hibernate/QuarkusStore-annotations.

[2020-02-21 21:34] fmhwong commented on #7172
Found the place where the max frame size is hardcoded.
https://github.com/quarkusio/quarkus-http/blob/c91488fa169ed3665d3166c55b98609aa43b43cc/websockets-jsr/src/main/java/io/undertow/websockets/jsr/handshake/Handshake.java#L121

[2020-02-21 23:05] gwenneg commented on #7269
I didn't see anything suspicious in the logs.

I tried to run a local GraalVM `20.0.0` in Windows, but after tons of Windows components downloads, my environment still doesn't seem to be GraalVM-ready... I'll try again tomorrow.

[2020-02-21 23:36] #7155 closed

[2020-02-21 23:54] josejulio commented on #3870
Also interested in this usage @loicmathieu

[2020-02-22 01:53] iwangxiaodong commented on #7269
@gwenneg

GraalVM 20.0.0 in Windows 10 x64:

  Install Visual Studio Community 2017 (C++ components)

  SET GRAALVM_HOME="G:\...\graalvm-ce-java11-20.0.0\"
  SET PATH="%PATH%;%GRAALVM_HOME%\bin\"
  gu available
  gu install native-image

  set JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF-8"
  G:\gradle-6.1.1-bin\gradle-6.1.1\bin\gradle clean
  G:\gradle-6.1.1-bin\gradle-6.1.1\bin\gradle --configure-on-d

[2020-02-22 02:31] gastaldi commented on #7156
Here is my full output, let me know if that's exactly what you're doing: https://asciinema.org/a/QMcLdB3kV9S4FR98hcZOppW8B

[2020-02-22 02:51] cpmoore opened #7352 "JAX-RS Rest endpoint PathParam value containing * fails"
When attempting to use a value that contains the `*` character for a `PathParam` in a JAX-RS rest endpoint, the following exception is thrown.
[code]

It appears that quarkus is attempting to resolve it as a file before checking the JAX-RS endpoints

 - Output of `uname -a` or `ver`:  MINGW64_NT-6.1 P024870 2.10.0(0.325/5/3) 2018-04-23 03:21 x86_64 Msys
 - Output of `java -version`:   openjdk vers

[2020-02-22 02:55] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 268107aec7b550de9123b5219f5980d2a1ca2199

* Quickstarts commit: a028503e1ab1f6a3e2a7c35db0de05a218410fcd

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-22 03:13] gastaldi commented on #7290
@bnjns try building the PR https://github.com/quarkusio/quarkus/pull/7353 and removing the following line in your project:

`    implementation "io.quarkus:quarkus-vertx-web"`

[2020-02-22 03:20] gastaldi commented on #7290
Depending on `quarkus-vertx-web` causes another failure:

[code]

I'm investigating why

[2020-02-22 03:32] gastaldi commented on #7290
@FroMage any clue about https://github.com/quarkusio/quarkus/issues/7290#issuecomment-589912268?

[2020-02-22 04:02] jamesfalkner opened #7354 "CDI lifecycle behavior different when using reactive messaging and @Incoming and @StartupEvent"
**Describe the bug**
It appears that although the default lifecycle behavior of JAX-RS resource classes is that of `@Singleton` (as described in the [REST/JSON guide](https://quarkus.io/guides/rest-json#lifecycle-of-resources)), when using reactive messaging and `@Incoming`, multiple instances of the resource appear to be created, so that variables initialized in startup events aren't accessible w

[2020-02-22 04:03] jamesfalkner commented on #7354
One other note - this used to work in earlier versions of Quarkus, like `0.21.2`.

[2020-02-22 05:21] MusaTalluzi commented on #7311
I can't reproduce it either, here's my IntelliJ version:
[code]
And the output of running `FruitsEndpointTest` following the instructions:
[code]

[2020-02-22 08:09] geoand commented on #7354
cc @mkouba @manovotn @cescoffier

[2020-02-22 08:11] geoand commented on #7352
Hi,

Can you please try and see if the issue is still around in 1.2.1.Final?

[2020-02-22 09:05] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 268107aec7b550de9123b5219f5980d2a1ca2199

* Quickstarts commit: a028503e1ab1f6a3e2a7c35db0de05a218410fcd

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-22 09:28] jskov opened #7357 "NPE in :quarkusTestConfig gradle task with 1.3.0.Alpha2"
**Describe the bug**
Running :test task explodes with NPE after update to 1.3.0.Alpha2

**Expected behavior**
Would expect test execution to work as it does with 1.2.1.Final

**Actual behavior**
NPE, see stack trace at end of report.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/jskov/dns-filter
2. Update quarkus gradle plugin (in build.gradle) and quarkus (in grad

[2020-02-22 09:29] cescoffier commented on #7357
/cc @geoand
/cc @patriot1burke
/cc @gsmet @yrodiere
/cc @gsmet
/cc @EricWittmann
/cc @mkouba
/cc @FroMage @loicmathieu
/cc @quarkusio/devtools
/cc @gsmet @Sanne
/cc @loicmathieu

[2020-02-22 09:30] geoand commented on #7357
I think @gastaldi had a PR fixing something similar?

[2020-02-22 09:34] gastaldi commented on #7357
Yup, fix: https://github.com/quarkusio/quarkus/pull/7353

[2020-02-22 09:55] CellycoMobiles commented on #7120
Thank you, @FroMage.

I'm waiting.

[2020-02-22 11:43] kolorobot opened #7358 "SQL import script not loaded in neither profile (prod, dev, test)"
Neither of the scenarios works for me as it goes to loading the SQL file:

- `import.sql` file in `src/main/resources` in profile DEV,  TEST, PROD
-` import.sql` file in `src/test/resources` in profile DEV, TEST, PROD

I also tried all the properties:

- `%dev.quarkus.hibernate-orm.sql-load-script = db/data-test.sql`
- `%test.quarkus.hibernate-orm.sql-load-script = db/data-test.sql`

When no file

[2020-02-22 12:09] gsmet commented on #7358
Could you provide a reproducer? Thanks!

[2020-02-22 12:24] FroMage commented on #7290
Related to @cescoffier 's recent changes

[2020-02-22 12:35] sberyozkin commented on #7352
@cpmoore How do you set the `*` ? Wildcards are not supported in `PathParam` and can only be set as part of the regular expression, example, `@PathParam("id:*")`

[2020-02-22 12:36] chrisgleissner commented on #5211
I just created a Quarkus project from https://code.quarkus.io/ and selected JWT as one of the options. Building the resulting project without further modifications, I get the error described above and exactly 4 Google results when I search for a way how to resolve it.

I suggest there should either be a much clearer error message or - even better - there should not be  an error at all. Instead, JW

[2020-02-22 12:42] schulzp commented on #6954
@dmlloyd, sure, my [minimal working example](https://github.com/schulzp/quarkus-logging-npe) uses quarkus 1.2.0 and right after running the -runner.jar [inside a container] with [Open]JDK 11 the error occurs:

[code]

[2020-02-22 12:58] geoand commented on #7340
I don't know if anything had changed, but I haven't seen this error in the last PRs I've looked at

[2020-02-22 13:08] schulzp commented on #6954
@dmlloyd, I updated my [minimal (not-)working example](https://github.com/schulzp/quarkus-logging-npe) to quarkus 1.2.1.Final and the NPE still occurs with the same stack trace.

[2020-02-22 14:31] rsvoboda opened #7359 "Build error when using quarkus-tika and quarkus-narayana-jta extensions, provider com.ctc.wstx.stax.WstxInputFactory not found"
Build error, provider `com.ctc.wstx.stax.WstxInputFactory` not found when using quarkus-tika and quarkus-narayana-jta extensions.

[code]
[code]

Workaround is to add `com.fasterxml.woodstox:woodstox-core` to the deps of the app.

[2020-02-22 14:42] schulzp commented on #6954
Resolved: NPE was due to different versions for `quarkus.platform.version` and `quarkus-plugin.version and no longer occurs.

[2020-02-22 17:05] jd268 opened #7360 "Quarkus : JPA-Mysql Sequence Generation Error"
I am creating simple hibernate mysql application with quarkus. Below  is my database conf -

**# datasource configuration**
quarkus.datasource.url=jdbc:mysql://localhost:3306/quarkus_test
quarkus.datasource.driver=com.mysql.cj.jdbc.Driver
quarkus.hibernate-orm.dialect=org.hibernate.dialect.MySQL8Dialect
quarkus.datasource.username=demo
quarkus.datasource.password=demo
quarkus.hibernate-orm.databas

[2020-02-22 18:39] #4489 closed

[2020-02-22 19:14] cpmoore commented on #7352
@geoand
I just tested in 1.2.1.Final and the issue still occurs.

@sberyozkin
The `*` was not in the path param key, but in the url itself.
For instance given the code

[code]
Making request to the endpoint `/api/v1/elastic/filebeat-*/search` causes the issue.
I thought of encoding the `*` but url-encoded `*` is still `*`

[2020-02-22 21:33] aloubyansky commented on #7357
With #7353 it fails with
[code]
It works with Quarkus 1.2.1.Final though.

[2020-02-22 21:44] gastaldi commented on #7357
I don't think #7353 causes that tbh, but i may be wrong :)

Em Sáb, 22 de fev de 2020 18:33, Alexey Loubyansky <notifications@github.com>
escreveu:

[2020-02-22 21:49] aloubyansky commented on #7357
It doesn't. There is some other issue. The other reproducer fails in the same way.

[2020-02-23 01:31] yuhaibohotmail commented on #2835
+1

[2020-02-23 01:57] nimo23 commented on #6339
I come to the following conclusion:

Quarkus has already rudimentary support for Infinispan-client. Looking at Hibernate OGM, there is/was support to bind Infinispan to JPA/Hibernate. Would be great _if only that component_ will be outsourced to QuarkusStore. And if Quarkus implements an improved `CacheStore` for Infinispan which can be a true replacement for a typical sql database, then, I think,

[2020-02-23 04:05] jaikiran commented on #7311
Hello @ge0ffrey, which OS are you on and what Java vendor and version does this JVM correspond to:
[code]

[2020-02-23 04:38] stuartwdouglas commented on #7094
The response is chunked, curl does not display the chunked markers in the output. If you use wireshark and look at the raw bytes you can see this working as expected.

[2020-02-23 04:46] jaikiran commented on #7311
@ge0ffrey - would you be able to pass (via IntelliJ test launch configs) the system property `junit.platform.discovery.listener.default` with its value set to `logging` and see if it makes a difference?

[2020-02-23 08:45] rsvoboda opened #7362 "quarkus-amazon-lambda-http fails in native mode with java.net.UnknownHostException: null"
quarkus-amazon-lambda-http fails in native mode with` java.net.UnknownHostException: null`

https://github.com/quarkusio/quarkus/issues/3352 tracked and solved this for dev mode and jvm mode.

Native mode needs additional work. @evanchooly fyi

[code]

Reproducer:
[code]

[2020-02-23 08:46] cescoffier commented on #7362
/cc @geoand
/cc @patriot1burke
/cc @gsmet @yrodiere
/cc @gsmet
/cc @EricWittmann
/cc @mkouba
/cc @FroMage @loicmathieu
/cc @quarkusio/devtools
/cc @gsmet @Sanne
/cc @loicmathieu

[2020-02-23 09:52] mklueh commented on #4224
I´m running into issues with Lombok too. @Builder annotation for example works really unreliable, Builder classes are sometimes not created.

Example: The decompiled code below is one entity that uses the Builder annotation. It produces the static builder() method, but not the MyClassBuilder class, which is why I´m running into
 **java.lang.ClassNotFoundException**

[code]

**What seems weird is t

[2020-02-23 12:30] maxandersen opened #7364 "document openshift s2i after poc added to master"
**Description**
(Describe the task here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here.)

[2020-02-23 15:01] geoand commented on #7358
Thanks @kolorobot

I'll take a look tonight

[2020-02-23 16:01] geoand commented on #7358
Looking at this real quick, it seems like `ParsedPersistenceXmlDescriptor` get's populated with the proper file.

Also the runtime logs for Hibernate do show that `hibernate.hbm2ddl.import_files` uses the proper value. I could dig more but it probably makes more sense for someone with Hibernate internals knowledge to check, they will definitely be able to make faster progress than me :)

[2020-02-23 16:02] sberyozkin commented on #7352
@cpmoore Thanks, yes, I vaguely recall is can be used as is as part of the path components.

[2020-02-23 16:25] chonton commented on #7094
Not a bug.  Thanks for investigating.

[2020-02-23 16:25] #7094 closed

[2020-02-23 17:16] mklueh opened #7365 "Submodule not in classpath when running :app:quarkusBuild in a multi-module Gradle project"
**Describe the bug**

Running **:app:quarkusBuild** in a multi-module project with a shared module and an application module leads to

` java.lang.NoClassDefFoundError: com/demo/common/model/SharedModel
        at com.demo.application.Application.schedule(Application.java:19)
        at com.demo.application.Application_Subclass.schedule$$superaccessor8(Application_Subclass.zig:21)
        at com.d

[2020-02-23 18:10] dwamara opened #7366 ""Socket closed by remote peer" when using http headers"
**Describe the bug**
When trying to pass a particular value in a http header, an error is returned back "Socket closed by remote peer"

**Expected behavior**
The header is correctly processed

**Actual behavior**
When an http header is passed in the request, an error is returned mentioning that the socket has been closed by the remote peer.
Deactivating (or not passing) the http header causes the

[2020-02-23 18:18] mklueh opened #7367 "Lombok @Builder not producing builder class in submodule of multi-module Gradle project"
**Describe the bug**

Lombok won´t produce the builder class with the **@Builder** annotation in the library module, but it works as expected in the application module

`Caused by: java.lang.ClassNotFoundException: com.demo.common.model.SharedModel$SharedModelBuilder
        at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:583)
        at java.base/jdk.internal

[2020-02-23 18:19] cescoffier commented on #7367
/cc @geoand
/cc @patriot1burke
/cc @gsmet @yrodiere
/cc @gsmet
/cc @EricWittmann
/cc @mkouba
/cc @FroMage @loicmathieu
/cc @quarkusio/devtools
/cc @gsmet @Sanne
/cc @loicmathieu

[2020-02-23 18:39] geoand commented on #7365
cc @gastaldi @aloubyansky

[2020-02-23 19:27] Postremus commented on #7367
I can reproduce this, or at least the root cause, without much trouble in a maven project.

The problem is, I think at least, that the maven-compiler-plugin is only triggered for the module, where the quarkus-maven-plugin is included.
No compilation is done for librarys. The compiler-plugin is not triggered for them.

[2020-02-23 21:04] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 53d41bd92b127d3ecc76f9678414343696ded7c8

* Quickstarts commit: a028503e1ab1f6a3e2a7c35db0de05a218410fcd

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-24 02:37] jaikiran commented on #7256
Hello @lbernardomaia, I can't seem to find the thread in the Quarkus dev mailing list. Is this issue about (remote) debugging the native image build when built within container?

[2020-02-24 02:43] iming0319 opened #7370 "quarkus-rest-client causes RESTEASY003145"
**Describe the bug**
(Describe the problem clearly and concisely.)
I am using implementation "com.github.docker-java:docker-java:3.1.5"
If I add implementation 'io.quarkus:quarkus-rest-client' in my build.gradle "dependencies" section.
I'll always get a javax.ws.rs.ProcessingException after each call-back which executed by docker client.
The message of the exception is "javax.ws.rs.ProcessingExcep

[2020-02-24 02:51] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 3699188e9e054134a099a9b63317376b87f17deb

* Quickstarts commit: a028503e1ab1f6a3e2a7c35db0de05a218410fcd

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-24 05:55] KaenDagger commented on #5488
@4ntoine ,have you deleted your quarkus branch ?

[2020-02-24 06:30] rsvoboda opened #7371 "quarkus.security.jdbc.principal-query.sql is required even if quarkus.security.jdbc.enabled is set to false"
`quarkus.security.jdbc.principal-query.sql` is required even if `quarkus.security.jdbc.enabled=false`

Expected behavior is to not require `quarkus.security.jdbc.principal-query.sql`  when `quarkus.security.jdbc.enabled=false` is set.

[code]

Reproducer:
[code]

[2020-02-24 06:31] lordofthejars opened #7372 "Duplicated flags between container creation and Kubernetes extension"
I was reading the documentation of container creation extension (https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/container-image.adoc) and kubernetes extension (https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/kubernetes.adoc)

Then I have seen that there are some properties that are duplicated, for example, the one for the group.

In container ext. `

[2020-02-24 06:51] geoand commented on #7372
cc @iocanel

[2020-02-24 06:52] lordofthejars opened #7373 "Two flags for the same purpose in container image extension"
I have noticed that there are two flags/properties which contain some overlapping:

`quarkus.container-image.build` which is used to set if the container should be built or not.

`quarkus.container-image.execution` which used to set if we want to build or build+ push. So an overlapping of functionality or am I missing something?

cc/ @iocanel

[2020-02-24 06:53] geoand opened #7374 "Investigate why the Kubernetes Client extension takes a long time to compile"
The Kubernetes Client extension seem to take a long time to compile (over 15 minutes on CI).
When the extension was created we added a notion of a weak reflective class generation - that basically meant that GraalVM would register a class for reflection only if it was used elsewhere as well.
Perhaps this no longer works properly?

It's worth looking into

[2020-02-24 06:58] geoand commented on #7373
We indeed noticed this overlap and `quarkus.container-image.execution` has since been removed

[2020-02-24 06:58] #7373 closed

[2020-02-24 07:00] geoand commented on #7372
Are you sure you need to set both?

IIRC, only setting `quarkus.container-image.group` will get you what you want.

The reason we have this field is that the container-image extension(s) can be used without the Kubernetes extension if all you want to do is create a container image

[2020-02-24 07:10] lordofthejars commented on #7373
Ok so how you set if you want to build or you want to build and push? Are docs updated? I am checking the master branch.

[2020-02-24 07:14] lordofthejars commented on #7372
Maybe you don't need both but still, both are there so the user might be confused. So I think that all these flags should be named in the same way.

[2020-02-24 07:15] geoand commented on #7374
The weak class registration **does** still work properly. I verified this by replacing it with a normal reflection registration and the build time increased significantly

[2020-02-24 07:17] geoand commented on #7372
Well, that's tricky because like I said that are more than one scenarios that we need to cover. I think if we just emphasise on using `quarkus.container-image.group` and mention that the `kubernetes.group` (now the proper use is `quarkus.kubernetes.group`) is just as an override if the users don't want to use the same value as the container image, we should be fine

[2020-02-24 07:18] geoand commented on #7373
I just opened a PR to update the docs of the container-image: https://github.com/quarkusio/quarkus/pull/7375

[2020-02-24 07:18] lordofthejars commented on #7372
Then I agree :)

BTW docs are not updated with the new prefix :) https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/kubernetes.adoc just in case you didn't notice it hehehe

[2020-02-24 07:20] lordofthejars commented on #7373
Great thanks.

[2020-02-24 07:21] geoand commented on #7373
Thanks for reporting!

[2020-02-24 07:22] geoand commented on #7372
Thanks for checking! We definitely plan to go over the docs multiple times between now and Final and make sure everything is in place.
One reason we haven't done so yet is that @iocanel is on a roll with multiple PRs fixing various things :)

[2020-02-24 07:50] #6917 closed

[2020-02-24 08:11] mkouba commented on #7354
So the reason is that Reactive Messaging extension adds `@Dependent` if a class that contains `@Incoming`/`@Outgoing` declares no scope annotation: https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java#L108

I think that the correct solution would be t

[2020-02-24 08:21] ge0ffrey commented on #7311
I checked out quarkus-quickstarts again (I call my 2nd checkout old-quarkus-quickstarts). There it does NOT reproduce. The IntelliJ run configuration is exactly the same. Rebooting my computer didn't help: the original checkout still reproduces every time.

[2020-02-24 08:24] geoand commented on #7311
@ge0ffrey can you perphaps do a diff of the command command that IntelliJ runs in both cases and see if there is any difference worth noting?

[2020-02-24 08:24] mkouba opened #7376 "Qute type-safe templates - generate optimized value resolvers"
Currently, when a parameter declaration is found in a template (and `@TemplateData` is not applied) a value resolver that is able to handle *all* properties/methods is generated. However, we could improve the logic and only include members used in templates.

[2020-02-24 08:25] cescoffier commented on #7376
/cc @mkouba

[2020-02-24 08:25] mkouba opened #7377 "Qute type-safe templates - validate "virtual methods" in expressions"
Currently, only properties are validated in expressions; "virtual methods" such as `foo.getBar(baz.name)` are ignored.

[2020-02-24 08:26] cescoffier commented on #7377
/cc @mkouba

[2020-02-24 09:05] loicmathieu commented on #6339
@nimo23 when we designed MongoDB with Panache with @emmanuelbernard and @FroMage we designed it to be an example that other _database solutions_ can follow to be integrated into Quarkus _the Panache way_.

So, to me, what you describe is not Panache Store (a generic extension with multiple backend), but the need to an _Apache Ignite with Panache_.

We discuss a generic Panache extension and decide

[2020-02-24 09:06] jmartisk commented on #7354
+1, Metrics extension does the same thing, but doesn't add `@Dependent` to JAX-RS resources, see https://github.com/quarkusio/quarkus/blob/1.3.0.Alpha2/extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java#L179

[2020-02-24 09:17] loicmathieu commented on #3870
@emmanuelbernard @FroMage I count 5 people asking for it now, should I propose an implementation ?

[2020-02-24 09:19] jamesnetherton opened #7378 "MongoClientBuildItem is never produced"
**Describe the bug**
`MongoClientProcessor` has a `build` method which is supposed to produce `MongoClientBuildItem`(s) when the relevant Quarkus Mongo configuration is present. I never see the fields in `MongodbConfig` be anything other than `null`, hence the build items never get created.

Having `MongoClientBuildItem` available, is useful for other extensions like the Camel Mongo extension, whe

[2020-02-24 09:19] cescoffier commented on #7378
/cc @loicmathieu

[2020-02-24 09:36] loicmathieu commented on #7378
/cc @dufoli and @geoand I remember you discussed about it ... It may be a regression due to the inclusion of multi-tenant MongoDB ?

[2020-02-24 09:39] geoand commented on #7378
@lburgazzoli is this an issue you are seeing in Camel? I thought that https://github.com/quarkusio/quarkus/pull/7063 fixed it

[2020-02-24 09:40] emmanuelbernard commented on #6339
I agree with @loicmathieu, what you describe @nimo23 is more Apache Ignite with Panache. So it requires 1. to get an Apache Ignite extension to get the ignite client to work in native image, get the proper CDI injection beans etc.
Then build the Panache abstraction on top of it, like we did for MongoDB.

[2020-02-24 09:42] lburgazzoli commented on #7378
https://github.com/quarkusio/quarkus/pull/7063 was more to have it semantically fixed, I didn't check if it was working on quarkus side to be honest

[2020-02-24 09:43] geoand commented on #7378
OK thanks, I'll look into it

[2020-02-24 09:47] mklueh commented on #7365
Could s.b. please add the **area/gradle** label to this issue as well?

[2020-02-24 10:00] #6982 closed

[2020-02-24 10:17] nimo23 commented on #6339
Yes, makes sense. I think, before providing `Panache Ignite`, Quarkus could provide `Panache Infinispan`, as quarkus already supports Infinispan. It can be built on top of `quarkus-infinispan` and `quarkus-infinispan-client`. With `Panache Infinispan`, we can see how it solves this issue. I think, to make Infinispan work as a true replacement for a typcial sql database, there must be a dedicated I

[2020-02-24 10:21] geoand commented on #7378
This is a problem TBH... We can't know at build time how many `MongoClientBuildItem` there will be... How important is this build item for Camel?
I have never liked personally and with this multi-mongo support is actually totally falls apart...

[2020-02-24 10:25] lburgazzoli commented on #7378
we do consume it at RUNTIME_INIT: https://github.com/apache/camel-quarkus/blob/master/extensions/mongodb/deployment/src/main/java/org/apache/camel/quarkus/component/mongodb/deployment/MongoDbProcessor.java#L40-L59

[2020-02-24 10:27] geoand commented on #7378
The problem is that now we can't really support it... The only reason something similar works in Agroal is that in that case there is also an accompanying build time configuration that can be used to determine how many (and which) datasources are needed...

In the mongo case all the configuration is runtime so it's not possible to even know how many clients there will be...

[2020-02-24 10:28] geoand commented on #7378
@gsmet FYI

[2020-02-24 10:47] geoand commented on #7378
We can do the following however:

We can read the configuration at build time to pick up the connection names and then at runtime make sure that the same connection named were used.
That way we would be able to produce the necessary build items and they would correspond to the the connections that will be used at runtime.

How does that sound?

[2020-02-24 10:47] loicmathieu commented on #7378
@geoand in fact I'm facing the same issue when I try to integrate multi-tenant MongoDB inside Panache.

The current implementation looks for the named MongoDB at build time via the usage of `@MongoClientName` and for Panache, we should not mandate the usage of the annotation.
I try to update the current code to look at the different Panache client based on the configuration but I didn't success in

[2020-02-24 10:50] dragondiver commented on #2835
+1

[2020-02-24 10:52] geoand commented on #7378
We can't really do that in a natural way here, since there is nothing inherently build time about the mongo config - in Agroal's case the driver is build time only so it's a natural fit.

So what I propose is that we read the Mongo configuration at build, extract only the connection name and use that to build the `MongoClientBuildItem` and setup a runtime check to enforce that the connection names

[2020-02-24 11:00] loicmathieu commented on #7378
@geoand it makes sense. I'm not sure it will fix my issue as I need a way to be able to build the different MongoDB client based on the configuration and not the annotation but it's a step in the right direction :)

[2020-02-24 11:02] geoand commented on #7378
I was thinking of generating a `MongoConnectionNameBuildItem` that will contain the connection name. Would that be enough for you?

We can't really know anything more about the configuration at build time

[2020-02-24 11:14] loicmathieu commented on #7378
It will not be enought for me as, if I didn't use any `@MongoClientName` annotation the `MongoClient` will not be built because of this: https://github.com/quarkusio/quarkus/blob/master/extensions/mongodb-client/deployment/src/main/java/io/quarkus/mongodb/deployment/MongoClientProcessor.java#L165

Maybe it's the same issue that Camel is facing and that cause the `MongoClientBuildItem` to be null ?

[2020-02-24 11:15] geoand commented on #7378
Yeah most likely. Let me create a draft PR soon with what I have in mind and then you and the Camel folks can comment on try something concrete and see if it's fits your needs :)

[2020-02-24 11:55] Sanne commented on #6339
Personally I like the look of such a plan, but I'm not sure if we should open extension proposals without having volunteers able and willing to try implementing it. Are you volunteering @nimo23 ?

We certainly could ask the Infinispan team, but I don't think they will have the bandwith right away.

[2020-02-24 12:01] ge0ffrey commented on #7311
Zipping my local checkout and mailing that to Georgios (= same .idea folder etc) did *not* reproduce it there.

[2020-02-24 12:03] geoand commented on #7378
It seems like this opens up a rabbit whole... I'll try to figure it out ASAP

[2020-02-24 12:17] nimo23 commented on #6339
Ok, I will rename this issue and leave it open as long as someone or me is able to propose..at the moment I have not the neccessary (time) and **skills** to implement that by myself.

[2020-02-24 12:34] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 552284e9cab154c95adc8c09ae770d4c73a443e5

* Quickstarts commit: 5eaf9c9724dadc6da97bf44a23a7402b7d3e443c

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-24 12:41] emmanuelbernard commented on #3870
yes I guess so

[2020-02-24 12:44] #7371 closed

[2020-02-24 13:06] manovotn commented on #7120
So what exception are you getting now and what do I need to do to get there?
Because just grabbing your repo and doing `mvn clean install` gives me an error from hibernate `javax.persistence.PersistenceException: [PersistenceUnit: default] Unable to build Hibernate SessionFactory`

[2020-02-24 13:14] geoand commented on #7378
@loicmathieu @jamesnetherton @lburgazzoli please try out #7385 and let me know. If it works for you I'd like to get it in as soon as possible

[2020-02-24 13:14] emmanuelbernard commented on #6339
Right, if we don't have volunteers to lead that, I'd just wait.

[2020-02-24 13:31] mkouba opened #7386 "Qute - mention elvis and ternary operators in the docs"
Elvis operator is only mentioned in the guide.

[2020-02-24 13:32] rsvoboda commented on #7185
Tried it with merged changes from #5496 and still get java.lang.UnsupportedOperationException

We can leave it as open and wait if people come and comment on this issue. Otherwise Stale bot will close it.

[2020-02-24 13:38] geoand commented on #7185
Sure, we can leave it open for the time being although I doubt anyone will pick it up anytime soon unless someone complains :)

[2020-02-24 13:48] loicmathieu commented on #3870
Cool, I add it to my TODO list ;)

[2020-02-24 14:01] eiden opened #7387 "Upgrade awssdk from 2.10.3 to >= 2.10.24"
I'm trying to integrate my quarkus application with [aws appconfig](https://docs.aws.amazon.com/systems-manager/latest/userguide/appconfig.html).

Since appconfig is a fairly new aws service, version `2.10.3` of the awssdk does not have support for appconfig. It was [added to the awssdk](https://github.com/aws/aws-sdk-java-v2/commit/cf3ea7d0161e5221cfe4979ce878308e0c7da433#diff-76e56151d5d431d0903

[2020-02-24 15:05] brunobat commented on #3483
We would also like to have this. Any idea on the ETA?

[2020-02-24 15:22] jamesnetherton commented on #7378
Just tested #7385 with camel-quarkus. It looks like it can work, I now see that `MongoClientBuildItem` is available :+1:

However, I can't fully prove its working because I get an NPE in `MongoClientRecorder.getClient()`. For some reason there are no `MongoClientProducer` instances in the bean container.

[2020-02-24 15:29] geoand commented on #7378
I am pretty sure that the only way that can happen is if the MongoClient bean is not being used anywhere. Would you mind sharing your test?

[2020-02-24 15:45] fmhwong commented on #7172
@gsmet What will be a good way to pass a Quarkus configuration value to the `Handshake` class?

[2020-02-24 15:47] aloubyansky commented on #7357
BTW, @jskov the extension used in your project will have to be re-built, unfortunately, with the latest Quarkus release. I'm getting
[code]
It should be `io/quarkus/deployment/builditem/nativeimage/ReflectiveClassBuildItem.class` now.

[2020-02-24 15:48] alesj commented on #4961
@sander-su @gunnarmorling any idea where do I find these keys as constants?
sasl.jaas.config, ssl.truststore.location, ...

[2020-02-24 16:37] dufoli commented on #7378
hello, just see the ping. @geoand  why based the generation on parsing of config planned for runtime during buildtime. it seems odd to me. Can we be based on annotation like createMongoClientProducerBean

[2020-02-24 16:39] dufoli commented on #7378
just see that loic have same remark ;-)

[2020-02-24 16:40] geoand commented on #7378
I'm thinking about it, so far I am leaning on no I won't do it with the annotations :)

[2020-02-24 16:49] iocanel opened #7392 "Broken enforcer rule on http-nio"
On latest master, I hit an issue with a broken enforcer rule about a conflict in the version of `http-nio` used.

[2020-02-24 16:56] #7392 closed

[2020-02-24 17:16] jamesnetherton commented on #7378
Here's the test code:

https://github.com/jamesnetherton/camel-quarkus/tree/mongo-test/integration-tests/mongodb/src/test/java/org/apache/camel/quarkus/component/mongodb/it

And the extension:

https://github.com/jamesnetherton/camel-quarkus/tree/mongo-test/extensions/mongodb

You wont find any `@Inject` of the client in the test case. It's supposed to be auto discovered by Camel via the `CamelRun

[2020-02-24 17:25] dufoli commented on #7378
interesting point. @geoand. ;-)
Not sure about the fail proof because if properties in config file is not setup during build time it will not worked either.

Anyway, annotation is used for generated the named Mongo client producer. So if you are based on config and it remain like that it is not consistent and you can have a config without producer and reverse.

So, do we have to switch the createM

[2020-02-24 18:24] aloubyansky commented on #7365
If you try it with Quarkus master, you are going to get the classes of the `common` module copied into the `application` runner jar. However it won't start.
[code]

Besides that, what is your expectation @mklueh exactly? Do you expect the `common` classes be copied into the runner jar (like we now do) or build the common jar and add it to the lib?
Thanks.

[2020-02-24 18:36] wfrank2509 commented on #6105
Hello ...

what is the planned way forward for supporting Custom SecurityContext implementations?

I have a similar issue. Need a own JWT-based security context. I tried overwriting the current context in a ContainerRequestFilter and enabled the @RolesAllowed annotations. I always get back a 403 and debugging the code shows that my own context is set and also returns my custom Principal - but the

[2020-02-24 18:49] mklueh commented on #7365
@aloubyansky thanks for the fast response.

Could you reproduce the issue with Quarkus 1.2.1 that I´m using in the demo project? My expectation was that I won´t have to build the library module separately in order to get a functional archive out of the build.

I´d have expected it to be part of the runner, but I personally don´t care if it´s a separate library. In the case of the demo project it´s

[2020-02-24 19:05] mklueh commented on #7367
@Postremus This sounds like another issue I´ve posted, where the library module is not compiled into the classpath at all https://github.com/quarkusio/quarkus/issues/7365 . In case of the @Builder issue the class with the annotation is compiled, but not Builder class is generated

[2020-02-24 19:28] geoand commented on #7378
I'll take another look tonight and tomorrow and let you know

[2020-02-24 20:27] geoand commented on #7378
OK, then it looks like we used to make the Mongo beans unremovable. I'll make that happen again although I don't the solution that much :)

[2020-02-24 21:40] Karm commented on #7366
Hello, @dwamara, I did try with your setup and I cannot reproduce it:

Your curl verbatim but for the url:

[code]

While in dev mode, are you sure you haven't hit the moment when it was reloading? It is fast, but it is not instantaneous...

[2020-02-24 21:41] Karm commented on #7366
@dwamara If you could share a small app or logs, it might help :)

[2020-02-24 21:56] jefrog1844 opened #7401 "Duplicate key value"
When using import.sql to pre-load the database, subsequent inserts to a previously populated table experience a duplicate key error.  Table was pre-populated with entires with id ranging from 1-14

**Expected behavior**
1. Hibernate/Panache would use the next available primary key as 15 instead of defaulting to 1 and incrementing by 1

**Actual behavior**
Caused by: org.postgresql.util.PSQLExcepti

[2020-02-24 22:01] machi1990 commented on #7387
@eiden I have opened #7402.

[2020-02-24 22:15] aloubyansky commented on #7365
Yes, I was able to reproduce your issue with 1.2.1.Final and thanks a lot for making the reproducer available!
There are two way to fix this issue from the application assembly perspective. One would be to copy the classes from the `common` module into the runner JAR. The other way would be to build the `common` module as a JAR and copy it to the `application`'s `lib`dir. My question about your ex

[2020-02-24 23:07] geoand commented on #7378
@jamesnetherton I just pushed a new iteration of the PR.

Everything should now be back to normal from your POV. I would appreciate it if you gave a go

[2020-02-24 23:09] geoand commented on #7378
@loicmathieu, @dufoli your concern has been addressed as well.

With the current version of the PR we all get what we want:

* I get the fact that the beans are **not** un-removable by default. They only become un-removable when a build step actually consumes the `MongoClientBuildItem` (which doesn't happen by default).
* Camel get a working version of this build item
* Loic and Olivier get the im

[2020-02-24 23:18] mklueh commented on #7365
@aloubyansky good to hear. I don´t have a preference, but I´d probably argue in favour of the .jar variant if it has any impact on build speed in case shared module jars could be cached

Do I understand that correctly that building the application, and building the whole project have two different outcomes?
Would I have the commons in my jar as well as the commons jar in my libs when I would build

[2020-02-25 00:16] jefrog1844 commented on #7401
Just found this related article stating that imports do not increment the hibernate_sequence.

https://stackoverflow.com/questions/37511719/hibernate-duplicate-key-value-violates-unique-constraint

Is this the expected behavior to make sure the sequence is correctly set?

[2020-02-25 00:35] dwamara commented on #7366
I've just made a reproducer (at least I just reproduced it again now with it): https://github.com/dwamara/quarkus_bug_7366

[2020-02-25 01:04] dufoli commented on #7378
@geoand great !

[2020-02-25 02:21] Karm commented on #7362
@gsmet @mkouba

At first it seemed to me that the test native image just misses the ```quarkus-internal.aws-lambda.test-api```
env prop, i.e. ```requestConnection``` in [AmazonLambdaRecorder.java](https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java#L145) is ```http://null/2018-06-01/runtime/invoc

[2020-02-25 02:52] patriot1burke commented on #7362
What exactly is failing here?  It fails when deploying to AWS as per the documentation?  Native build cannot be run outside of AWS Lambda environment.

[2020-02-25 05:23] stuartwdouglas commented on #6105
@sberyozkin I am thinking that the best way to fix this would be to:
- Document that the getRoles() method on SecurityIdentity is an optional method. We still need this for augmenting identities where we want to copy the roles (I think, although it could just work by delegation). All security based checks should be changed to use hasRole.
- Introduce a SecurityContext backed SecurityIdentity that

[2020-02-25 05:36] stuartwdouglas commented on #6105
The reason why the JAX-RS SecurityContext is not taking effect is because security is now provided by a CDI interceptor, that uses our SecurityIdentity (and io.quarkus.security.runtime.SecurityIdentityAssociation) classes to determine the identity. This is wired up to provide the identity to the JAX-RS security context, but the inverse is not wired up yet (i.e. setting the JAX-RS SecurityContect)

[2020-02-25 05:49] stuartwdouglas opened #7403 "CDI beans with array type result in warning."
Adding a producer like:

    @Produces
    String[] produce() {
        return new String[0];
    }

results in:

2020-02-25 16:47:35,774 WARN  [io.qua.arc.pro.BeanArchives] (build-14) Failed to index [Ljava.lang.String;: Stream closed
2020-02-25 16:47:35,774 INFO  [io.qua.arc.pro.IndexClassLookupUtils] (build-14) Class for name: [Ljava.lang.String; was not found in Jandex index. Please ensure the

[2020-02-25 07:24] jamesnetherton commented on #7378
@geoand It works! Thanks :1st_place_medal:

[2020-02-25 07:26] geoand commented on #7378
Thanks for checking!

@gsmet can we merge the PR in order to unlock Camel?

[2020-02-25 07:31] mkouba commented on #7403
Is the declaring bean somewhat special? I've tried to add this reproducer to the [config quickstart](https://github.com/quarkusio/quarkus-quickstarts/blob/master/config-quickstart/src/main/java/org/acme/config/GreetingResource.java) and I can't see the warning. I've also tried to add an interceptor binding with no success.

[2020-02-25 07:43] Markus-Schwer opened #7404 "reactive-messaging-amqp extension doesn't reconnect to host"
**Describe the bug**
I use the `quarkus-smallrye-reactive-messaging-amqp` extension and expect the extension to be able to reconnect to my ActiveMQ Artemis broker, if the connection is lost or Atemis restarts. As the extension (or rather the smallrye dependency) provides the properties `amqp-reconnect-attempts` and `amqp-reconnect-interval` i expect them to be responsible for the behaviour I want.

[2020-02-25 07:52] Meemaw opened #7405 "Asynchronous container filters"
**Describe the bug**
I was trying to implement asynchronous container filters. Following the guide from [here](https://developer.jboss.org/en/resteasy/blog/2018/06/18/new-asynchronous-container-filters?_sscc=t&fbclid=IwAR2OJgpzADZ6r_YIDNaxAK-Lw4jK6O9rS7B06eYq2F4AvrOheKZqs6Tjj68) I was able to suspend the request, but it failed when trying to resume it with `org.jboss.resteasy.spi.ApplicationExcept

[2020-02-25 08:13] Karm commented on #7362
@patriot1burke Test is failing.  The test native image should have the fake server from [LambdaResourceManager.java](https://github.com/quarkusio/quarkus/blob/master/test-framework/amazon-lambda/src/main/java/io/quarkus/amazon/lambda/test/LambdaResourceManager.java#L113) baked in it so as the test runs in native mode.

Perhaps I could do it via some annotation in my
[code]
???

[2020-02-25 08:14] aloubyansky commented on #7365
This is currently the case. If you don't build `common` explicitly, `application`'s runner JAR will contain its classes. However, if you build the whole project or `common` explicitly, `application` will use its classes from the JAR.
Just to make it clear, I am not arguing this is how it should be. I'm just saying there are two ways to make it work and this is how it is working, atm. That wasn't a

[2020-02-25 08:36] #7354 closed

[2020-02-25 08:40] #7180 closed

[2020-02-25 08:40] #7181 closed

[2020-02-25 08:41] rsvoboda opened #7407 "quarkus-logging-sentry and quarkus-undertow - java.lang.ClassCastException: io.sentry.servlet.SentryServletContainerInitializer cannot be cast to javax.servlet.ServletContainerInitializer"
When using quarkus-logging-sentry and quarkus-undertow an app user gets `java.lang.ClassCastException: io.sentry.servlet.SentryServletContainerInitializer cannot be cast to javax.servlet.ServletContainerInitializer`

[code]

Reproducer:
[code]

[2020-02-25 09:00] sander-su commented on #4961
The thing is that it is not a finite list.
If you use for instance the confluent schema registry you'd need schema.registry.url.
Depending on your kafka installation you might need some other auth plugin. Some implementation of oauthbearer with config for instance.

Hence I proposed to let it up to the user what is build time and what is runtime config.

Thanks for taking a shot at this but to hav

[2020-02-25 09:05] #7387 closed

[2020-02-25 09:26] mvlach commented on #7404
I have the same issue.

[code]

[2020-02-25 09:29] alesj commented on #4961
Yeah, well aware of it.

But I had a long discussion yday: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/build-time.20vs.20runtime.20properties.3F
Where as you can see the proposal is to do it like they did it for k8s support -- just keep on adding properties, as that's the only way you're adding value ...

I do still have back-compatibility, where I try to load from anywhere .

[2020-02-25 09:36] Postremus commented on #3075
@gunnarmorling I kinda want this feature. Are you going to send a PR?
Otherwise I could also try to create one for this.

[2020-02-25 09:40] gunnarmorling commented on #3075
@Postremus, no immediate plans on my side to tackle this, so it's all yours :) Thanks a lot!

[2020-02-25 09:43] bframke opened #7409 "Camel Kafka Producer gets Stuck with RESTEasy Endpoint"
We are currently trying to setup a Camel Kafka Producer to put Messages into a Kafka via a ProducerTemplate. When we try to send some Events over the RESTEasy Endpoint it gets stuck after a short while. Like sending 100 Messages and only 53 Reach the Kafka and then the Application no longer responses.

When we do not use a RESTEasy Endpoint it works like a charm and we can send 1000 Messages in a

[2020-02-25 09:45] geoand commented on #7409
cc @cescoffier

[2020-02-25 09:45] geoand commented on #7407
cc @ia3andy

[2020-02-25 09:45] geoand commented on #7404
cc @cescoffier

[2020-02-25 09:50] sberyozkin commented on #7340
After looking into it yesterday I can confirm this `Too much redirect` issue can happen if `quarkus-oidc` does not detect a `state` cookie when the user (html unit) is returned back from Keycloak. I don't see right now any technical possibility of this happening due to the `quarkus-oidc` fault - it always adds a `state` cookie without any conditions (the only variation is the content of that cooki

[2020-02-25 09:52] gsmet commented on #7407
Looks like a class loader issue.

And there's a good chance it will break code.quarkus.io on upgrade so we really need a fix.

[2020-02-25 09:54] ia3andy commented on #7407
What Quarkus version?

[2020-02-25 09:58] geoand commented on #7407
I can take a look if needed (although not excited about what does look like a ClassLoader issue :))

[2020-02-25 10:08] ia3andy commented on #7407
@geoand I'll have a look and let u know if I have troobles ;-)

[2020-02-25 10:46] stuartwdouglas commented on #7403
Actually I first saw this with a bean added by an extension, and just realised I probably still had that code locally when I tried to test.

[2020-02-25 10:58] simonedavico commented on #6067
@Boertie did you find a workaround for this issue? Currently experiencing the same problem!

[2020-02-25 11:24] aloubyansky commented on #6067
I believe a possible workaround would be to build the project with `-DskipTests` first to make sure the local maven repo contains everything needed and then work as usual.

[2020-02-25 11:24] rsvoboda commented on #6007
Isn't this solved by https://github.com/quarkusio/quarkus/pull/5496/commits/a08ad6bef87e92908c55180e5172f46711db2a30 ?

[2020-02-25 11:25] geoand commented on #6007
@rsvoboda precicely! Thanks for spotting this!

[2020-02-25 11:25] #6007 closed

[2020-02-25 11:26] simonedavico commented on #6067
@aloubyansky unfortunately the problem occurs on the `test` job of a CI pipeline. My goal is exactly to be able to run the tests :)

[2020-02-25 11:31] aloubyansky commented on #6067
Ok, sure, that's pretty unfortunate. However, if we are talking about a workaround here, could the CI be configured to resolve all the project deps first (e.g. with `dependency:resolve`) and then run the tests?

[2020-02-25 11:51] rsvoboda commented on #7407
master, see reproducer command

[2020-02-25 11:53] simonedavico commented on #6067
Tried it, but the error persists unfortunately.

[2020-02-25 12:00] ia3andy commented on #7407
Looking in the code, I found a similar case for Spring which seems fixed by `BlacklistedServletContainerInitializerBuildItem`. Added this code to the Sentry recorder which fix the bug.
[code]

I think this is a good thing at the end because we had no control over this `SentryServletContainerInitializer ` which was always enabled. Now I need a way to add our own sentry servlet initializer managed b

[2020-02-25 12:02] geoand commented on #7407
I probably added that Spring thing but I have no recollection of it 😂

On Tue, Feb 25, 2020, 14:00 Andy Damevin <notifications@github.com> wrote:

[2020-02-25 12:13] tpenakov opened #7412 "Spring Data JPA - ContainingIgnoreCase is not working"
**Overview**
Seems that not all keywords (or combination between them) from [JPA Query Creation methods](https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#jpa.query-methods.query-creation) are supported.
**Test Project**
https://github.com/tpenakov/otaibe-quarkus-jpa-tests
**Describe the bug**
- Create a simple project using `quarkus-spring-data-jpa` module
- Create an `@Entity`

[2020-02-25 12:16] geoand commented on #7412
Thanks, I'll take a look

[2020-02-25 12:18] geoand commented on #7378
s/unlock/unblock

[2020-02-25 12:23] lbernardomaia commented on #7256
Hi @jaikiran ,

I was not using the native image, perhaps the problem will happen with that as well. I just changed the maven devtools module to what I suggested and works.

I can also change the Gradle and Native Image to have the change and send a PR later.

[2020-02-25 12:32] geoand commented on #7412
@tpenakov can you please provide some code samples?

I tried this but I couldn't reproduce the problem

[2020-02-25 12:36] sander-su commented on #4961
Agree, can you have both?
So a static set for the tools and just load it all at runtime?

config is here
https://github.com/apache/kafka/tree/trunk/clients/src/main/java/org/apache/kafka/common/config

[2020-02-25 12:37] mkouba commented on #7403
Eh?

[2020-02-25 12:51] geoand commented on #7412
I added the related tests to #7413

[2020-02-25 12:51] DorianMaliszewski opened #7414 "OIDC - Authenticate with token in Cookie or Url Parameter"
**Description**
OIDC work with Authorization header, it can be nice to authenticate users through Url parameter or Cookie, to implements easily Websocket security or SSE security.

**Implementation ideas**
Before any process to validate the token check if it is in Authorization header / Url Parameter (access_token for example) / Cookie name set in application.properties.

This is already implement

[2020-02-25 12:57] ia3andy commented on #7407
@gsmet how urgent is it?

[2020-02-25 13:01] tpenakov commented on #7412
Hi @geoand ,
This is my error:
[code]
This is my repository:
[code]
Anyway - I will try to create a sample project.

[2020-02-25 13:07] jmartisk commented on #4375
This has been fixed for some time by https://github.com/quarkusio/quarkus/pull/5272/, closing

[2020-02-25 13:07] #4375 closed

[2020-02-25 13:09] rainer-maierhofer opened #7415 "MongoDB find by foreign objectId fails"
Finding entities by a foreign ObjectId fails:

public class MyEntity extends PanacheMongoEntity {
	public String name;
	public ObjectId myForeignId;
}

MyEntity entity = new MyEntity();
entity.name = "Rainer";
entity.myForeignId = new ObjectId("5e49ca6e2ed3430151099666");
entity.persist();

MyEntity.find("myForeignId", "5e49ca6e2ed3430151099666").list() does not find the entity.
MyEntity.find("myF

[2020-02-25 13:12] geoand commented on #7412
Thanks @tpenakov.

Could you also please show what `Location` looks like?

[2020-02-25 13:30] simonedavico commented on #6067
@aloubyansky would setting the property `quarkus-bootstrap-offline` as explained [here](https://quarkus.io/guides/getting-started-testing#test-bootstrap-configuration-options) help after dependency resolution? Something like:

[code]

It is not completely clear to me how to pass this system property to Quarkus though.

[2020-02-25 13:37] tpenakov commented on #7412
Added the [test project](https://github.com/tpenakov/otaibe-quarkus-jpa-tests). It seems that the problem is related to the domain object inheritance, but the similar code works under Spring Data JPA related projects.

[2020-02-25 13:39] geoand commented on #7412
@tpenakov does it work if you use `@MappedSuperclass` on `LocationBase`?

[2020-02-25 13:47] sberyozkin commented on #7414
Hi @DorianMaliszewski I'm not sure about it because `quarkus-oidc` is about supporting the standard OIDC flows with `Authorization` being a standard carrier.
I'm assuming a token which might be available in a Cookie (or URI parameter) has not been issued by the OIDC server ?

May be instead we should come up with a way for the `quarkus-oidc` and `quarkus-smallrye-jwt` co-exist, if the former fails

[2020-02-25 14:06] bframke commented on #7409
Well it looks like logging is the problem here. After doing the rebuild to route only with processor we checked with Visual-VM and saw that one Thread just gets stuck on writing out to log.

We tried the Camel Logging Component and SLF4J-Logger and both got the Thread stuck at some point. Without logging it works fine.

[2020-02-25 14:11] aloubyansky commented on #6067
Oh, I don't think these properties are still supported in master. We should remove those docs.
Anyway, maven's `-o` should be picked up by the test resolver.
The dependencies that it fails to resolve, are they only test deps, not compile/runtime deps?

[2020-02-25 14:19] simonedavico commented on #6067
What is the version for `master`? I am running quarkus `1.2.0` currently.

The dependencies it fails to resolve are compile/runtime dependencies from a private repository (GitLab integrated repository). It looks like Quarkus it's trying to resolve the dependencies from central (and it's not published there, of course).

If I tell Quarkus to go offline for tests (the system property `quarkus-bootst

[2020-02-25 14:22] tpenakov commented on #7412
Thank you @geoand ,
`@MappedSuperclass` solve the exception and now `Containing` is handled, but seems that `IgnoreCase` is not handled.

Produced SQL:
[code]

The test project is updated accordingly.

[2020-02-25 14:32] geoand commented on #7412
Thanks @tpenakov. I'll take a look tomorrow

[2020-02-25 14:34] aloubyansky commented on #6067
Master is 1.3.0. That's interesting. Because to be able to resolve the deps, it must resolve the BOM first.
As an experiment, could you try `mvn compile -DskipTests` and then `mvn -Dquarkus-bootstrap-offline=true test`?

[2020-02-25 14:47] simonedavico commented on #6067
Unfortunately nothing changes:

[code]

The commands I am running:

[code]

The definition of the private repository is in the local `.m2/settings.xml` passed to the commands. I am executing all commands in a `maven:3-jdk-11` docker container.

[2020-02-25 14:56] wfrank2509 commented on #6105
I was looking into using the ```SecurityIdentityAugmentor``` and implementing a ```Supplier``` but I can't figure out how I can access the request scope or to be exact how I can get access to the JWT token (header).

[2020-02-25 15:06] geoand commented on #6588
@johnaohara the RSS gate seems to be tripping pretty often... Is this an actual problem or a false positive?

[2020-02-25 15:08] aesteve commented on #6424
I tried to upgrade to 1.2.1.Final but still face the same issue.

Last time I checked on Zulip (28/01/2020) @gastaldi told me he may have a look, but since then, no progress.

Is @misl 's reproducer not enough in order to reproduce the issue?
Has someone given this bug a look?
Can we do something more to help?

Still blocked with Quarkus 1.0.1.Final and cannot upgrade safely, every time I try to,

[2020-02-25 15:17] gastaldi commented on #6424
@aesteve my fault, I got sidetracked with other tasks and completely forgot about that one (I should have assigned the issue to myself that time).

@Sanne any idea what's going on?

[2020-02-25 15:31] rsvoboda opened #7419 "Using smallrye-reactive-messaging-kafka and quarkus-vertx fails with NoClassDefFoundError: org/jboss/resteasy/context/ResteasyContextProvider"
Using smallrye-reactive-messaging-kafka and quarkus-vertx fails with NoClassDefFoundError: org/jboss/resteasy/context/ResteasyContextProvider

[code]

Reproducer:
[code]

[2020-02-25 15:42] DorianMaliszewski commented on #7414
@sberyozkin Hi,
Yeah I don't know what can be the best solution. But today I'm facing this issue on Quarkus, I can't pass the access_token from Websocket or EventSource to authenticate the user on Quarkus OIDC 🤔

May be there are a better solution ? 😅

[2020-02-25 15:57] tpenakov opened #7420 "Spring DI - @Autowired annotation does not work for setters"
**Describe the bug**
When you put `@Autowired` annotation of the setter method the injection is not happened. As a result NPE is thrown.

**To Reproduce**
- Clone the test project - https://github.com/tpenakov/otaibe-quarkus-jpa-tests
- Execute the test:
[code]

[2020-02-25 15:58] geoand commented on #7420
Interesting, thanks!

[2020-02-25 15:59] geoand commented on #7420
@mkouba @manovotn does `@Inject` work on setters for CDI beans?

[2020-02-25 16:07] mkouba commented on #7420
Yes, it should work. In fact, in CDI this kind of injection is called "initializers" and multiple injected params are supported. I did a quick search and there is a test for private setter: https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/injection/privateinitializer/PrivateInitializerInjectionTest.java#L33-L36.

@geoand how do you i

[2020-02-25 16:08] ia3andy commented on #7407
@stuartwdouglas I haven't found a good solution without reimplementing Sentry. I don't know why the app classloader doesn't include the `ServletRequestListener`. I've excluded `javax.servlet-api` to be sure it wasn't a conflict.

FYI this is a blocking problem since code.quarkus.io uses Undertow and Sentry together.

[2020-02-25 16:09] geoand commented on #7420
Yeah, I just saw it's my bad @mkouba :)

I have only implemented the transformation for fields, not method :man_facepalming:

I'll send a PR for this later on tonight

[2020-02-25 16:19] geoand commented on #7420
Had a few minutes before heading out to the gym, so I opened #7421 :)

[2020-02-25 16:55] galderz opened #7422 "Unsupported type MethodAccessorGenerator reachable error"
quarkus master (bbb2329ae) w/ graal master (https://github.com/oracle/graal/commit/ee232b09e21e) failing with Java 11 in `integration-tests/optaplanner-jackson`:

[code]

Console output can be found [here](https://gist.github.com/galderz/b57a0d7f8214348649c2541fa488c8f2).

[2020-02-25 17:00] sberyozkin commented on #7414
@DorianMaliszewski But what is the origin of the token ? `quarkus-oidc` is for the tokens issued by the OIDC providers like Keycloak.

I'm not sure :-) but as I said, perhaps having a queue of the authentication mechanisms might work

[2020-02-25 17:00] sberyozkin commented on #7414
@DorianMaliszewski But what is the origin of the token ? `quarkus-oidc` is for the tokens issued by the OIDC providers like Keycloak.

I'm not sure :-) but as I said, perhaps having a queue of the authentication mechanisms might work

[2020-02-25 17:01] #7378 closed

[2020-02-25 17:05] sberyozkin commented on #7414
May be emulate `Authorization` header when it is not on the HTTP upgrade path (web-socket), etc ?

[2020-02-25 18:56] bnjns commented on #7290
@gastaldi I'm struggling to get it to run using the PR build. Admittedly my maven/BOM knowledge is somewhat limited - is there a trick to being able to use the BOM for a local build of quarkus (having used `./mvnw clean install`)?

[2020-02-25 19:38] #7290 closed

[2020-02-25 19:38] #7357 closed

[2020-02-25 19:39] gastaldi commented on #7290
@bnjns you just need to change your Quarkus version to `999-SNAPSHOT` after you `mvn clean install`

[2020-02-25 20:15] DorianMaliszewski commented on #7414
I'm authenticating on my API with an access token issued by Keycloak.
I put this token in all my HTTP request in the Authorization header.
But with Websocket and EventSource it's not possible to put some headers 😭. (According to MDN documentation)
So I always get 403 or 401 response when I want to connect with WS or ES @sberyozkin.

If it's possible, please it will be greater for everyone like to

[2020-02-25 20:16] DorianMaliszewski commented on #7414
I use quarkus-oidc and quarkus-undertow (or something like that)

[2020-02-25 20:36] Sanne commented on #6424
Thanks for the test!

No, it doesn't ring a bell - we'll have to find some time to look at this.

[2020-02-25 20:57] #7061 closed

[2020-02-25 21:15] bnjns commented on #7290
@gastaldi Yeah I tried that - doesn't seem to build the BOM? Setting `quarkusPlatformVersion=999-SNAPSHOT` in `gradle.properties` just gives me `Could not find io.quarkus:quarkus-universe-bom:999-SNAPSHOT`

[2020-02-25 21:19] gastaldi commented on #7290
Ah yes, you also need to replace `quakus-universe-bom` with `quarkus-bom` (I forgot about that part)

[2020-02-25 21:27] bnjns commented on #7290
Amazing thanks! And thanks for your super quick response and fix!

Using `%test.quarkus.hibernate-orm.sql-load-script: import.sql` still gives the following

[code]

but using `%test.quarkus.hibernate-orm.sql-load-script: ../../../resources/main/import.sql` does work and is run. Do you want me to raise this as a separate issue?

[2020-02-25 21:29] roguexz opened #7424 "Unable to inject rest client defined in a different module in a multi module project"
**Describe the bug**
I have a multi-module project setup. I am able to use @RestClient based injections for interfaces that are part of the same module (and registered with the @RegisterRestClient annotation).

E.g.,
[code]
Do I need to enable any specific features / switches in order to get this working?

**Expected behavior**
I should be able to inject Rest clients defined in other modules withi

[2020-02-25 22:07] stuartwdouglas commented on #6105
If you are using JWT the principal should be an instance of `org.eclipse.microprofile.jwt.JsonWebToken`

[2020-02-25 22:11] gsmet commented on #7424
@mkouba @kenfinnigan any chance one of you could have a look at that one?

[2020-02-25 22:13] gsmet commented on #7424
It's failing with 1.3.0.Alpha2 too btw.

[2020-02-25 22:18] sberyozkin commented on #7414
Hi @DorianMaliszewski Thanks for the update. I'm really not sure it makes sense to have `quarkus-oidc` covering the web sockets and, once the upgrade has been done it is no longer HTTP, and as such some other mechanism should be used.
Lets see what Stuart and Pedro think

[2020-02-25 22:21] sberyozkin commented on #7359
Hi @rsvoboda How have you found this combination :-) ? I'm assuming it is not an urgent issue, I'd like to allocate some time to take care of a few of the Tika issues soon

[2020-02-25 22:29] gastaldi commented on #7290
Thank @aloubyansky for the fix :wink:

Yes, please raise another issue with that, I think a small reproducer project would be great too

[2020-02-25 22:38] InfoSec812 commented on #5394
+1 The testing story around Quarkus is one of the biggest issues I am having with the tools right now. For example, to test an application which integrates Kafka, I need to have a Kafka instance to connect to. This is similar for many other ancillary service (ActiveMQ, Infinispan, etc...). For a good developer story, being able to test locally without ancillary services is going to be a necessity.

[2020-02-25 22:40] InfoSec812 commented on #5394
It has been suggested to me to use [TestContainers](https://www.testcontainers.org/), but that requires that I write additional logic into my tests to detect when I am running tests locally versus running in a Kubernetes cluster.

[2020-02-25 23:11] bnjns opened #7426 "Using Hibernate ORM import script throws error on tests for Kotlin/Gradle"
**Describe the bug**
When running tests for a Kotlin/Gradle project and specifying the `"%test".quarkus.hibernate-orm.sql-load-script=import.sql` property throws the following error during initialisation of the test:

[code]

A brief glance through the `HibernateOrmProcessor` seems to show that it is looking for the `import.sql` file within the `build/classes/kotlin/main` directory, whereas the fi

[2020-02-25 23:31] garrettahines1 opened #7428 "@PermitAll allows unauthenticated users with JWT enabled"
**Describe the bug**
I have the quarkus smallrye JWT enabled. On my REST endpoints, I have the `@PermitAll` annotation. If I send a rest call with Authorization type as Bearer and an invalid JWT, it correctly verifys the JWT and doesn't allow me in. If I send in a request with no authorization type then it lets me hit the end point successfully.

**Expected behavior**
I would think if it verifies

[2020-02-25 23:33] victorl2 commented on #351
I would like to give my first contribution in this issue, can i take it ?

[2020-02-26 03:40] roguexz commented on #7424
I updated the test repository. The problem does not show up if you have only two modules. But if you have more than two, that is when this problem comes up.

[2020-02-26 06:34] geoand commented on #7412
I was able to reproduce the problem.
I'll work on a fix soon

[2020-02-26 07:24] mkouba commented on #7424
I can take a look...

[2020-02-26 07:28] geoand commented on #7412
#7412 has been updated to fix the `IgnoreCase` issue

[2020-02-26 07:36] #7420 closed

[2020-02-26 07:42] roguexz commented on #7424
I think I might have found _at least_ one problem. In the sample repository, the `application.properties` file is not being picked up from the the incoming project dependencies. I am trying out some fixes in my local that might help. Here is what I am think about, and would like to know if it has already been incorporated or something that might be useful.

1. Add support for including additional

[2020-02-26 07:51] kenfinnigan commented on #7424
What would be interesting is trying the project with Maven to determine whether it's a build type issue or a code issue

[2020-02-26 08:05] rsvoboda commented on #7359
I found it using https://github.com/quarkus-qe/beefy-scenarios/tree/master/002-quarkus-all-extensions. Together with issues in other extensions

Tika extension isn't super critical so this issue is not "fix it now" ;)

[2020-02-26 08:11] mkouba commented on #7424
Yes, so the root cause is `java.lang.IllegalArgumentException: Unable to determine the proper baseUrl/baseUri`

I don't think this is supported at the moment. @stuartwdouglas @dmlloyd Am I right?

[2020-02-26 08:32] machi1990 commented on #351
@gsmet I know you have been working extensively on re-writing datasource configurations, do you think @victorl2 can start working on this issue too, along side your efforts or you prefer to wait?

[2020-02-26 08:40] roguexz commented on #7424
I think I have a fix. Give me some time, and I will share it. If it makes sense, we can include it.

[2020-02-26 09:03] emmanuelbernard commented on #6588
@geoand how do you know this error is the RSS issue vs just quickstarts? Should we put this subject to the forefront, if it trips every day, that's no use.

[2020-02-26 09:10] geoand commented on #6588
I looked at the CI logs and the step that fails is the RSS check one.
What I really want to know if we are actually seeing a jump in the RSS numbers or if it's just a testing / system issue

[2020-02-26 09:14] ia3andy commented on #5394
@geoand any hint on how that could be achievable, I would be interested in implementing it :)

[2020-02-26 09:22] geoand commented on #5394
This is a hard problem to solve currently... I was actually thinking about it a little and didn't come up with any easy solutions...

[2020-02-26 09:45] tpenakov commented on #7412
Hi @geoand ,
Just to be sure - did you fixed `findByNameStartingWithIgnoreCase` as well?

I've added a test about it:
[code]

[2020-02-26 09:45] geoand commented on #7412
Yup, that has been fixed as well

[2020-02-26 09:49] sberyozkin commented on #7428
@garrettahines1 `quarkus.smallrye-jwt.enabled=true` does not mean that a token must be available, it is set to `true` by default and can be set to `false` to disable the whole module functionality.
If you need to ensure that only the requests with the vaild tokens can go through (and restrict as needed using the roles) then adding `@Authenticated` annotation should do. Can you try it please ?

[2020-02-26 09:50] sberyozkin commented on #7428
@garrettahines1 You may need to update to the latest tag to verify it works

[2020-02-26 09:57] hartimcwildfly commented on #6606
Tested again with Elytron 1.11.2 and GraalVM 20.0. Same error. The ldap elytron code is still compatible with the master branch.

[2020-02-26 10:02] tpenakov opened #7432 "Spring Data JPA - add Spring Boot Naming strategies"
When the one switch from Spring Data JPA project to Quarkus Spring Data JPA he should have the option to preserve the Spring Boot Naming Strategies in order application to work out of the box.

These are the needed strategies:
`org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy` and `org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy`

I've made copy/paste

[2020-02-26 10:05] tpenakov commented on #7432
This guide might be useful: https://www.baeldung.com/hibernate-field-naming-spring-boot

[2020-02-26 10:06] sberyozkin commented on #4481
Hi @stianst, @pedroigor, All, I agree, IMHO this issue is becoming the major issue for `quarkus-oidc` for it to be seriously considered to be used in more than just POCs or simple deployments. Right now the only way for the `web-app` users to log out is to wait till the session cookie has expired and then, without choosing the logout option, find themselves at the IDP site again.
The users should

[2020-02-26 10:09] geoand commented on #7432
@tpenakov can you please provide a reproducer that shows what these strategies actually do?

Thanks

[2020-02-26 10:09] stianst commented on #4481
I agree this is an important area to work on. Will have a chat with @pedroigor on what we have today, and we can create some plan for how to make things better in the not to distant future.

[2020-02-26 10:12] sberyozkin commented on #4253
@gintsgints Sorry, there was no oidc label so I've missed this issue recently. I agree we should close this issue as `keycloak.json` is not supported. @gintsgints Perhaps you should watch  #6807 if you need the anonymous access with `quarkus-keycloak-authorization`, otherwise HTTP security policy configuration can be used to allow an anonymous access for the selected paths. Thanks

[2020-02-26 10:12] #4253 closed

[2020-02-26 10:22] tpenakov commented on #7432
Hi @geoand
This is the code of the strategies:
https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/orm/jpa/hibernate/SpringPhysicalNamingStrategy.java
and
https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/orm/jpa/hibernate/SpringImplicitNamin

[2020-02-26 10:30] sberyozkin commented on #6105
Hi Stuart @stuartwdouglas

Not sure how is it related. In order to make it consistent with JAX-RS `SecurityContext.isUserInRole` ?

Sorry, still not following. The JAX-RS users are setting a custom `SecurityContext` in the current `ContainerRequestContext`.

Vertx HTTP should also work, right ?

[2020-02-26 10:31] geoand commented on #7432
I understand now, thanks. This is something we will probably want to investigate further

cc @aureamunoz

[2020-02-26 10:34] aureamunoz commented on #7432
Hi, ok, noted, let me take a look more in detail.

[2020-02-26 10:37] GestiefelteKater opened #7433 "With AdditionalJpaModelBuildItem created Entity not working in dev mode"
**Describe the bug**
I have created an own extension which contains a JPA entity and a CDI bean.
I have added the build steps according to the documentation:

@BuildStep
List<AdditionalJpaModelBuildItem> produceModel() {
    return Arrays.asList(new AdditionalJpaModelBuildItem(Entity.class));
}

@BuildStep
AdditionalBeanBuildItem registerBeans() {
    return AdditionalBeanBuildItem.builder()

[2020-02-26 10:37] geoand commented on #7432
Thanks @aureamunoz.

[2020-02-26 10:38] sberyozkin commented on #6105
@stuartwdouglas I wonder if `quarkus-resteasy` should register its own pre-match `ContainerRequestFilter` (so that it can run last in the `pre-match` JAX-RS phase) which is when it will make sure the current JAX-RS `SecurityContext` can be used to back up `SecurityIdentity` as per your suggestion. And document that it will only work if the custom `SecurityContext` is set in the pre-match phase wit

[2020-02-26 10:53] rbraeunlich opened #7434 "MongoDB Panache: When using Kotling data classes, the ID field is not populated after calling persist()"
**Describe the bug**
The id field of a data class that is a Mongo entity stays null after persisting.
**Expected behavior**
The id field should be filled, even for Kotlin data classes.

**Actual behavior**
I have a Kotlin data class, annotated with `MongoEntity` and that extends `PanacheMongoEntity`. When calling `persist()` on that class or when using `persist()` of a repository class the id fiel

[2020-02-26 10:58] #6965 closed

[2020-02-26 11:03] loicmathieu commented on #7415
@rainer-maierhofer I sucessfully reproduce it and fixed it in #7415.

To workaround the issue while waiting for the fix to be released you can use the following code (warning : this will crash after my fix):

[code]

[2020-02-26 11:05] galderz commented on #7422
I suspect that this is caused by https://github.com/oracle/graal/commit/eab7e93b585febf7c2c68948af70157732767963

[2020-02-26 11:09] galderz commented on #7422
The call path does not appear to be under Quarkus control, so I've opened a bug in https://github.com/oracle/graal/issues/2192

[2020-02-26 11:20] #7412 closed

[2020-02-26 11:29] galderz commented on #7422
Btw, I added `--report-unsupported-elements-at-runtime` during image building time but then it didn't fail at runtime.

[2020-02-26 11:42] #6802 closed

[2020-02-26 11:49] rainer-maierhofer commented on #7415
Thanks for the quick response. Great job.

[2020-02-26 12:07] garrettahines1 commented on #7428
ok, good to know, feel free to close issue.

[2020-02-26 12:11] #6135 closed

[2020-02-26 12:11] #6945 closed

[2020-02-26 12:33] Sanne commented on #7426
@aloubyansky This one might be for you - or please teach me :)  We're resolving the location to the import script using

    ArchiveRootBuildItem#getArchiveRoot().relativize(loadScriptPath)

Not sure why that would return `build/classes/kotlin/main` ?  Do we need a different method for resources?

[2020-02-26 12:35] aloubyansky commented on #7249
Check #7437 out.

[2020-02-26 12:39] Sanne commented on #351
Good point @machi1990 .

@victorl2 I think that would be great, thanks a lot for offering!  But could you wait a little bit to start?  @gsmet is currently finishing a significant rewrite of how the datasources are configured.  He should be done in just some days, maybe next week, so probably best you wait a little to avoid a massive conflict.

[2020-02-26 12:41] aloubyansky commented on #7426
That looks like the "classes" dir. It's a good question, I'll need to check whether the resources output is a different one. If that's the case, I guess we'll have to create a single location as a quick workaround.

[2020-02-26 12:52] pedroigor commented on #7414
Accordingly to https://tools.ietf.org/html/rfc6750#section-2.3, query parameters should be avoided.

Cookies are vulnerable to CSRF as you may have iframes being used in other domains and using your endpoint like if it were part of your domain.

I'm not sure how to properly handle this too. Some time ago I tried something where you would hack `BASIC` authentication to include only the token instea

[2020-02-26 12:54] #7415 closed

[2020-02-26 12:54] galderz commented on #7422
I've tried to do a basic substitution:

[code]

But that's not enough, it would then fail with:

[code]

[2020-02-26 12:56] pedroigor commented on #4481
Yeah, we need this one ASAP.

[2020-02-26 13:10] galderz commented on #7422
Actually, the above substitution was this potential case:

[code]

Clearly there are different ways in which we can arrive at `ObjectStreamClass.getSerializableConstructor` so the above substitution is definitely not the answer.

[2020-02-26 13:15] galderz commented on #7422
Trying to a substitution to get `ReflectionFactory.generateConstructor()` to return null.

[2020-02-26 13:24] sberyozkin commented on #7428
Hi @garrettahines1 Thanks, please create a new one if adding the `Authenticated` annotation won't help :-), cheers

[2020-02-26 13:25] #7428 closed

[2020-02-26 13:36] ricmzn commented on #6327
As a workaround, I've found that you can create the class in your own project, extending it from `java.lang.Exception`, and then run a clean build. It's not a proper fix, but it's enough to make native-build happy in the meantime.

[2020-02-26 13:36] sberyozkin commented on #7414
Hi Pedro, thanks for the feedback. I've been thinking it is out of scope for the OIDC itself because it is not really OIDC any longer :-), we can't even enforce at the OIDC level it is the secure web sockets channel (should probably have an option to enforce it is HTTPS in `quarkus-oidc` :-) ).

Hi @DorianMaliszewski What is the actual flow here, the user authenticates to Quarkus 'service' applica

[2020-02-26 13:42] radutoev opened #7440 "jooq support"

[2020-02-26 13:59] #7249 closed

[2020-02-26 14:13] oztimpower commented on #6701
I was experiencing this issue for the JVM version (native worked fine!), and I have now updated to the latest version of SAM 0.43, and the problem is resolved - JVM version working and no class not found exception.

[2020-02-26 14:32] aloubyansky commented on #7365
Looking more into this, I think wrote some rubbish up there. #7441 should fix this kind of issue. It certainly fixed the project you shared. Thanks a lot for providing it as a reproducer. This really helps a lot.

[2020-02-26 14:35] victorl2 commented on #351
No problem @Sanne, i will wait until the rewrite is up.

[2020-02-26 14:39] gsmet commented on #351
I think we could even close this ticket as you now just have to define `quarkus.datasource.kind=h2` and the driver is automatically guessed (and it automatically configure a XA one if XA is enabled).

We could make the kind optional if there is only one driver but it's probably going to be a bit fragile so I would avoid that.

Hopefully, I will push a first draft of this PR tonight.

[2020-02-26 14:53] sberyozkin commented on #4481
Hi Stian, Pedro, thanks, it will be super great :-)

[2020-02-26 15:04] dmlloyd opened #7442 "Hide secrets in configuration"
**Description**
We have configuration properties which may contain passwords or other kinds of secrets.  At least one means of viewing or dumping the running configuration does, or will soon, exist (see #7430).  We don't want secrets to appear in the output as this could be a security problem.

We talked about vault-style configuration sources - of which we now have at least one.  The vault config

[2020-02-26 15:31] DorianMaliszewski commented on #7414
@sberyozkin @pedroigor
Hi,

In my project I use Keycloak, to get an access_token on my frontend, (like React or Vue) then when I have it, I want to make a Websocket connection or Event Source connection on my API, which use `quarkus-oidc` and `quarkus-undertow`. On this API there are Http Endpoint (on which I can authenticate through the Authorization header resolved by `quarkus-oid`) but for SSE

[2020-02-26 16:26] aloubyansky commented on #6067
Let's clarify the setup. The original description mentions both `repositories` and `distributionManagement` configs and says

`distributionManagement` config is supposed to be used when deploying artifacts, right? Which shouldn't be related to the tests. Or am I missing something @Boertie?

@simonedavico could you please describe your setup? As I imagine, you have an active by default profile in y

[2020-02-26 16:29] simonedavico commented on #6067
I have a `settings.xml` where I specify the private repository from which the dependency should be retrieved (no publishing, so I'm also quite sure `distributionManagement` is unrelated).

The thing I see in common between my setup and @Boertie's is that we both specify a custom settings file by calling `mvn -s settings.xml`.

[2020-02-26 16:37] aloubyansky commented on #6067
Thanks. And the repo is in an active profile, correct?

[2020-02-26 16:39] aloubyansky commented on #6067
Is it active by default or what triggers its activation?

[2020-02-26 16:39] simonedavico commented on #6067
There is no active profile set explicitly, nor I defined any profile. This is my `settings.xml`:

[code]

[2020-02-26 16:41] nimo23 commented on #7442
Good idea. Relates to https://github.com/quarkusio/quarkus/issues/6510 (and a little to https://github.com/quarkusio/quarkus/issues/6034).

Actually, distributing the quarkus app to cloud servers or devices is not secure..

[2020-02-26 16:41] aloubyansky commented on #6067
Ok, that's the clue and what's also common with the original description. Thanks.

[2020-02-26 16:42] sberyozkin commented on #7414
Hi @DorianMaliszewski I propose to deal with `SSE` later on and for the moment focus on the web sockets only. So the web socket channel is initiated at the client's request and at this moment of time the bearer token must be available, the upgrade request is still coming on the plain HTTP as such this token is visible to the Quarkus code managing the upgrade to a web socket connection.
IMHO making

[2020-02-26 17:16] Maldivia opened #7444 "IllegalMonitorStateException in VertxBlockingOutput"
**Describe the bug**

[code]

**To Reproduce**
Can reproduce often if streaming a video via a Response.ok(File file) jaxrs request.

**Environment (please complete the following information):**
 - Quarkus version or git rev: 1.2.1.Final

[2020-02-26 17:22] moksamedia opened #7446 "OIDC extension fails with Mac OS but works in Linux"
Using Quarkus and the OIDC extension, it works fine in Linux (on multiple systems) with various Java versions. However, on OSX with Java 8 and Java 11, we get too many redirects. Exact same code and OIDC provider.

Using Quarkus 1.3.0.Alpha2 (also tested with Alpha1)

Any ideas?

[2020-02-26 17:27] sberyozkin commented on #7446
Hi @moksamedia A fix has just got in today to the master preventing the redirect loops, we've been seeing them with HtmlUnit in CI builds sometimes. The primary cause for such redirects is a missing state cookie by the time the user has been redirected back to Quarkus. It might well be an OSX browser cookie manager's policies which are affecting it.
Please verify with the latest master code or wai

[2020-02-26 17:30] moksamedia commented on #7446
@sberyozkin I should have mentioned that this is on 1.3.0.Alpha2

[2020-02-26 17:38] sberyozkin commented on #7446
@moksamedia FYI `quarkus.oidc.authentication.cookie-path` has also been introduced, the state cookie may not be available if the user is redirected back to the path which has a root different to the original one, for example, the flow started when the user tried to access `/a/b` but is returned to `/c/d/` after the authentication, so setting this property to `/` in this case would help...

[2020-02-26 17:41] moksamedia commented on #7446
We're using the root directory.

[code]

[2020-02-26 17:44] sberyozkin commented on #7446
OK, that looks fine. Yes, have a look please at the debug log when 401 occurs in OCX. It does not mean the OCX policy is buggy, might be just stricter. Or it treats max-age wrongly, etc. If needed we can support for more cookie properties like domain, etc

[2020-02-26 21:29] JohnHorman opened #7447 "OIDC Connection-Delay config parameter doesn't work"
**Describe the bug**
If the quarkus.oidc.connection-delay configuration parameter startup fails right away if the OIDC server is not (yet) available instead of retrying for the configured delay period.

**Expected behavior**
If the OIDC identity provider (IDP) is not available, I expect that the quarkus OIDC setup to retry the connect every 2 seconds until the configured delay has expired.  If the

[2020-02-26 23:12] DorianMaliszewski commented on #7414
When I create my websocket through :
`const socket = new Websocket("ws://...")` I can't change headers during the connection upgrade. So where can I put this header during the connection upgrade ? 🤔 @sberyozkin

[2020-02-27 00:07] sberyozkin commented on #7447
@JohnHorman Thanks, I nearly sure I was sitting with the clock measuring it when adding this code :-) but obviously I've missed it :-). I've copied the code from the existing Vertx recorder to address this problem, see #7448, thanks

[2020-02-27 01:14] #7444 closed

[2020-02-27 03:18] roguexz commented on #7424
I believe I might have found the problem.

For the missing configurations, I am working around it by providing a custom ConfigSourceProvider. So, that is no longer an issue.

For the original issue, I realized that all along, I was passing the required dependencies for the test cases via the `testImplementation` configuration. But the [AppModelGradleResolver](https://github.com/quarkusio/quarkus/b

[2020-02-27 05:36] stuartwdouglas commented on #6105
I think we can probably do it without those constraints, we should be able to add some logic to check the current SecurityContext when part of a JAX-RS request chain (in terms of resolving the current security identity).

[2020-02-27 06:24] #7283 closed

[2020-02-27 07:41] #7407 closed

[2020-02-27 08:00] nimo23 commented on #2509
Now **MP GraphQL** (https://projects.eclipse.org/projects/technology.microprofile/releases/graphql-1.0) is available.

When will it be included in Quarkus?

[2020-02-27 09:17] #7377 closed

[2020-02-27 09:31] ieugen commented on #7440
I think Jooq is a good fit for Quarkus because it works with generated code and does not rely on reflection. My experience with using Jooq is very good.

[2020-02-27 09:34] loicmathieu commented on #7434
@rbraeunlich can you give us the code of your Entity please ?

If you use a constructor annotated with `@BsonCreator`, this constructor will be used to create the entity. If the constructor didn't contains your ID field, the field will not be populated.
In this cas you should extends  `MongoEntityBase` and use your own ID field (`val id: ObjectId` if you want the same behaviour as `MongoEntity`).

[2020-02-27 09:54] overthetop opened #7451 "Support for custom format/fields in quarkus-logging-json"
I'm using the quarkus-logging-json artifact. I'm looking for a way to customize the json logging format. Our case is that we are using ELK stack for logging and all of our services (spring boot) are logging in the stdout entries formatted with the logstash-logback-encoder

https://github.com/logstash/logstash-logback-encoder

I want to output logs with the same format with Quarkus

For example in

[2020-02-27 09:58] madprogger commented on #2835
We really need that.

[2020-02-27 10:08] aloubyansky commented on #6067
While I'm trying to set up the env to be able to reproduce the issue, could please try adding the following dep to your apps and run the CI?
[code]
This is basically upgrading the Maven resolver and the wagon stuff the bootstrap is using during the tests.

[2020-02-27 10:46] simonedavico commented on #6067
Tried, but I still have the same error:

[code]

The command the CI runs is `mvn --batch-mode -s .m2/settings.xml test`.

[2020-02-27 10:54] aloubyansky commented on #6067
Thanks @simonedavico

[2020-02-27 11:12] Sanne commented on #7426
@aloubyansky I'll assign it to you so that it doesn't fall of the radar. Feel free to re-assign back when you know more.

[2020-02-27 11:31] ppalaga commented on #7440
There is a jooq extension by @leotu https://github.com/leotu/quarkus-ext-jooq

[2020-02-27 11:49] sberyozkin commented on #7340
This test will not be failing with 401 when the cookie is not found

[2020-02-27 12:09] ieugen commented on #7440
Thanks @ppalaga , It seems a bit outdated. Maybe @leotu can fill us in on the status.

[2020-02-27 12:37] iocanel opened #7454 "Failure to build container-image via s2i in some clusters"
**Describe the bug**

S2i binary builds fails in some clusters, with `stream was reset` and `timeout` errors.

**Expected behavior**
S2i build should work normally.

**Actual behavior**
During the s2i build, which happens using the java client we receive the following excpetion:

[code]
The build then falls back to the use of the `oc` binary that sometime fails with a timeout error.

**To Reproduc

[2020-02-27 12:46] sberyozkin commented on #7414
Hi @DorianMaliszewski I believe there a way in general to set the attributes there but I've just read java script does not allow it. Is there some other way to pass the bearer token along but using the query params, @pedroigor does not recommend using them ?

[2020-02-27 13:21] zulq commented on #7133
Is there any ETA for this to be fixed? Really wanted to proceed with Kotlin but looks like the Java path is way smoother.

[2020-02-27 13:30] JohnHorman commented on #7447
@sberyozkin No worries.  Thanks for picking this up this quickly! 👍

[2020-02-27 13:40] #7386 closed

[2020-02-27 13:45] everwin-team opened #7458 "Unable to build gradle project in Java 11 + smallrye amqp extension"
**Describe the bug**
When starting a build task with gradle in Java 11, an error occured :

Caused by: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
        [error]: Build step io.quarkus.smallrye.reactivemessaging.deployment.SmallRyeReactiveMessagingProcessor#build threw an exception: java.lang.NullPointerException
        at org.apache.commons.lang3.SystemUtils.isJ

[2020-02-27 13:50] aloubyansky commented on #7458
I was about to open a PR upgrading the deps.

[2020-02-27 14:03] DorianMaliszewski commented on #7414
I think i will, set an HTTP endpoint where the user will be authenticate, and give him a ticket stored in database to connect to the websocket. The user will use this ticket as parameter url to connect to the websocket. In the onOpen handler (`quarkus-undertow`) I get the ticket and authenticate the user.

@pedroigor @sberyozkin What do you think ? Do you understand what i'm planning ?

[2020-02-27 14:56] oztimpower commented on #6041
I have experienced a variant of this problem -- when I run a JUnit Quarkus test it fails, yet it works perfectly when not run through JUnit (for both JVM and Native).

Why would I experience different behaviour on a Unit test with Kotlin & Jackson for a data class?

[2020-02-27 15:06] geoand commented on #6041
That is something totally new! I would like to have a reproducer for this if possible

[2020-02-27 15:06] geoand commented on #6041
That is something totally new! I would like to have a reproducer for this if possible

[2020-02-27 15:07] geoand commented on #6041
That is something totally new! I would like to have a reproducer for this if possible

[2020-02-27 15:52] emmanuelbernard opened #7460 "Fail to build Quarkus in master because of minikube dependency"
`./mvnw clean install`

[code]

We need to list it as a required dependency and point to it.

[2020-02-27 15:52] emmanuelbernard commented on #7460
@maxandersen @iocanel @geoand

[2020-02-27 15:54] emmanuelbernard opened #7461 "Clarify that we need 1.5GB of heap for building Quarkus"

[2020-02-27 16:01] mrasante commented on #5870
@dmlloyd any news about when this fix might be implemented? This is turning out to be a show-stopper for a potential quarkus adoption.

[2020-02-27 16:02] masini opened #7462 "Hibernate fails on complex orphanDelete=true cases and bump version upon merge calls involving entities without change"
**Describe the bug**
A production application, working with 1.2.1 and ported to 1.3.0.Alpha2 stopped working with the aforementioned Exception during merge.

**Expected behavior**
No HibernateException

**Actual behavior**
An Exception is thrown

**Environment (please complete the following information):**
 - Output of `java -version`: 1.8.0_152-b16
 - Quarkus version or git rev: 1.3.0.Alpha2

**A

[2020-02-27 16:09] Sanne commented on #7462
Thanks @masini . Will you be able to provide a test?
Did it work with Alpha1 ?

[2020-02-27 16:10] geoand commented on #7460
Minikube definitely isn't a dependency to running the tests, so there is something else funny going on here.

@emmanuelbernard can you please check `/Users/emmanuel/.kube/config` and see if there is any reference to minikube?

@iocanel what would be the way to have https://github.com/quarkusio/quarkus/blob/master/test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/Kube

[2020-02-27 16:29] nicmarti opened #7464 "An annotated TemplateExtension class, if renamed, is not deleted from target/wiring-devmode folder"
**Describe the bug**
This is related to Qute template Engine. If you annotate a class in package `org.foo` with @TemplateExtension then launch Quarkus, then move this class to another package, say `org.foo2`, Quarkus won't clean-up the generated .class file in the target/wiring-devmode subfolder

**Expected behavior**
It should clean-up  the generated class file.

**Actual behavior**
(Describe the

[2020-02-27 16:33] gsmet commented on #5870
@mrasante It should be fixed in 1.3 alphas. But this issue is very vague so if you still have an issue with 1.3.0.Alpha2, please open a new issue with all the details.

[2020-02-27 16:41] #3539 closed

[2020-02-27 16:41] #7458 closed

[2020-02-27 16:52] fmhwong commented on #5511
@lburgazzoli comments?

[2020-02-27 16:55] fmhwong commented on #6615
@thesteve0 Do you mind to provide a simple reproducer?

[2020-02-27 18:08] dufoli commented on #4005
Native seems OK now. So I need test before review.

[2020-02-27 18:34] iocanel commented on #7460
There is a property which allows to to disable it.
Will pay more details when I get back home.

[2020-02-27 18:36] iocanel commented on #7460
The property is 'kubernetes.auth.tryKubeConfig' and can be passed as system property or it's corresponding environment variable.

[2020-02-27 19:35] geoand commented on #7460
If you open a PR, I'll approve it ASAP :)

[2020-02-27 20:04] rsearls opened #7465 "Quarkus is not handling annontation @Interceptors properly when 1 or more classes are declared in it."
There is a common thread between this issue and
  - https://github.com/quarkusio/quarkus/issues/7292 Quarkus is not handling
        annontation @JsonSubTypes properly
  - https://github.com/quarkusio/quarkus/issues/7293 Quarkus is not handling
        annontation @JsonView properly

All three of these are annotations which allow 1 or more classes to be declared
within them.  The declared classes

[2020-02-27 20:25] iocanel commented on #7454
Additional information after ~5 hours, the build eventually fails, with the following logs

[code]

[2020-02-27 21:27] tobiasstadler opened #7469 "quarkus-logging-json not working 1.3.0"
**Describe the bug**
After Upgrading quarkus to 1.3.0.Alpha2 quarkus-logging-json fails in dev mode:
[code]

**Expected behavior**
quarkus starts and logs in json format

**Actual behavior**
quarkus does not start

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade quarkus to 1.3.0.Alpha2
2. Add the quarkus-logging-json extension
3. run quarkus in dev mode (mvn quarkus:dev)

**Environmen

[2020-02-27 21:53] iocanel commented on #7460
PR incoming.

[2020-02-27 22:33] Karm commented on #7366
@dwamara I tried some 200K requests issued by 5 clients on a single node; both JVM mode and :dev mode and it all went well. Could you also reproduce it with curl too or just with a browser?

[2020-02-27 22:53] gsmet commented on #7469
@stuartwdouglas looks like a new CL issue.

[2020-02-27 22:56] aloubyansky commented on #7426
Yes, I guess we should not assume application has a single root dir. This appears to fix it https://github.com/aloubyansky/quarkus/commit/680480b12e762994aadf5f1454153a717dd2734e
However I wouldn't rush merging it. I'd still want to give it another review.

[2020-02-27 23:11] fishb6nes opened #7472 "Qute can not find included template without extension"
**Describe the bug**
Contrary to the behaviour outlined in https://quarkus.io/guides/qute-reference#include_helper
attempting to include a template without specifying its extension results in an `IllegalStateException: Template not found`

**Expected behavior**
For the following template to correctly include the base template:
[code]

**Actual behavior**
An `IllegalStateException: Template not fou

[2020-02-27 23:50] GregJohnStewart commented on #7156
Interesting, with the local snapshot I can run the server fine in dev mode, but only the test comes back with the `> Failed to resolve deployment classpath` issue...

And with 1.2.1.Final, I can run properly in dev move, but test still can't resolve the template...

[2020-02-28 01:20] brahimk commented on #7129
Hey @moksamedia @gsmet

I'am testing the 1.3.0.Alpha2 version with oidc security dependency.

When I enter the login/Password, i have the same behaviour with cyclic 302 between the Auth Server SSO (forgerock) and my front, and at the end nothing is displayed.

![image](https://user-images.githubusercontent.com/36490452/75501603-c6b45c80-59d0-11ea-8756-71243d6210cb.png)

My config properties :

`
q

[2020-02-28 06:21] #7460 closed

[2020-02-28 06:21] geoand commented on #7460
@iocanel 's PR has been merged, can you give it another try sometime @emmanuelbernard ?

[2020-02-28 07:25] maxandersen commented on #5267
reopening as banner isn't actually hooked up.

[2020-02-28 07:31] mkouba commented on #7472
@fishb6nes Hm, I've added a quarkus-specific test here: https://github.com/quarkusio/quarkus/pull/7476 and it seems to work fine.

The truth is that we don't reflect the variant/extension of the template including the base, ie. we just try the suffixes from the `QuteConfig.suffixes` config list.

[2020-02-28 07:34] dwamara commented on #7366
It just worked with curl but only when I replaced the single quotes with double quotes. Strange that you got it working with single quotes.
Maybe the client that I am using (https://paw.cloud/) as problem with sending header values because I just used Postman and it worked without any problem.

[2020-02-28 07:34] dwamara commented on #7366
I will just close the but as it does not seem related to quarkus. Thanks again and sorry for the time wasted on your part on this

[2020-02-28 07:34] #7366 closed

[2020-02-28 07:38] geoand commented on #6723
@sberyozkin it seems like the native cron job which runs the native image integration tests with Java 11 is failing with:

[code]

Would you like to take a look at it?

[2020-02-28 07:53] maxandersen commented on #5267
currently you can do:

`./mvnw quarkus:add-extension -Dextensions=banner`

and you get the nice banner.

Optimally this should be default enabled imo, but a few things are missing:

- an option to turn the banner off (`quarkus.banner.enabled=false`)
- an option to override the tag/line and version (`quarkus.banner.tag-name=${quarkus.application.name} and quarkus.banner.version-name=${quarkus.appli

[2020-02-28 07:54] geoand commented on #5267
This is covered by: https://github.com/quarkusio/quarkus/pull/7478

[2020-02-28 08:04] maxandersen opened #7480 "ngrok (or similar)"
**Describe the extension**
 have an extension that automatically setup ngrok, smee.io or similar tunnel for easy development.

[code]

it would "just work". Would be handy to have, especially when trying to write a webhook based service and not wanting nor needing the overhead of setting up remote CI or clusters for this kind of work.

Interested in this extension, please +1 via the emoji/reaction

[2020-02-28 08:33] maxandersen commented on #7460
wait - tryKubeConfig is there to read the normal kubeconfig settings, right ?
we should definitely read those - in this case i assume the issue is that emmanuel has a file that point to settings/files that does not exist ?

[2020-02-28 08:34] maxandersen commented on #7460
ah PR is just for preventing this to happen during testing...never mind ;)

[2020-02-28 08:34] geoand commented on #7460
@maxandersen In this case you want the client to only contact the mock server. So I don't think that reading the settings does any good.

[2020-02-28 09:08] Karm opened #7481 "ACME/Let's Encrypt automated certificate provisioning and renewal"
**Describe the extension**
Provide The Automatic Certificate Management Environment ([ACME](https://en.wikipedia.org/wiki/Automated_Certificate_Management_Environment)) integration with [Let's Encrypt](https://letsencrypt.org/) akin to what [Stefan](https://github.com/icing) did for [httpd/mod_md](https://github.com/icing/mod_md/blob/master/README.md). A certain subset of these features would be p

[2020-02-28 09:25] iocanel opened #7482 "Use the recommended labels for generated kubernetes manifests"
Kubernetes provides a list of recommended labels: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels

Openshift has some of its own labels too: https://docs.openshift.com/container-platform/4.2/applications/application_life_cycle_management/odc-viewing-application-composition-using-topology-view.html

We should map our existing labels to the recommended ones.

[2020-02-28 09:34] iocanel opened #7484 "Conflicts when multiple container-image modules are present"
If we have more than one container-image modules present, for example `container-image-s2i and `container-image-jib` the following error occurs:

[code]

It would be nice if we could provide a better message.
Also it would be nice if we could enable, disable or explicitly select one of the two using configuration.

[2020-02-28 09:35] Sanne commented on #7462
on the mailing list, @emmanuelbernard suggested that this might be caused by us having disabled automatic management of bi-directional relations.

You might want to verify that all relations are consistently updated on both sides?

See examples of "righ" and "wrong" here:
 - https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#BytecodeEnhancement-dirty-tracking-

[2020-02-28 09:37] geoand commented on #7484
For now I think we just need to be explicit in the docs

[2020-02-28 09:39] iocanel opened #7486 "Support non s2i Openshift deployments"
At the moment the generated manifests for Openshift are generated with `s2i` in mind.
We need to make sure that even if we perform a `docker` /  `jib` build and push things still going to work as expected.

[2020-02-28 10:09] fishb6nes commented on #7472
Ah I see what the issue is now. I thought of the included template as a template, not a tag. If the included template is in `templates/tags/` it does indeed work correctly, however if it is a sibiling of the including template in `templates/` it throws the not found exception. I'm assuming it works with the extension as specifying one overrides the default resolution from `templates/tags/` and in

[2020-02-28 10:18] #7240 closed

[2020-02-28 10:28] sberyozkin commented on #7414
@DorianMaliszewski I was reading about a ticket based mechanism [here](https://devcenter.heroku.com/articles/websocket-security#authentication-authorization), so yeah, it makes sense to me now :-).
The bearer token will be effectively associated with the given web socket channel, I think it works though it is probably akin to creating a server-side session which is not very recommended for Quarkus

[2020-02-28 10:31] #7340 closed

[2020-02-28 10:37] masini commented on #7462
Some information:
1) Is plain JPA (was migrated from EclipseLink 2.6) and doesn't use Panache
2) Can't try with Alpha1 because the app doesn't even start...

[2020-02-28 11:04] emmanuelbernard commented on #5267
I am not sure what you are referring to by tag/line and version but it seems the banner idea has deviated compared to early conversations.

We wanted

1. a default "Quarkus banner" and right below that would show Quarkus and its version.
2. a way to override the banner but right below have a line "powered by Quarkus 1.3.0.Final"

[code]

[2020-02-28 11:07] emmanuelbernard commented on #5267
BTW what does the :: and >> around Quarkus mean in `:: Quarkus >>`?

[2020-02-28 11:09] emmanuelbernard commented on #7460
Ok so indeed I had a .kube/config with minikube refs but I had removed minikube a long time ago.

[2020-02-28 11:13] sberyozkin commented on #7481
CC @stuartwdouglas

[2020-02-28 11:17] sberyozkin commented on #7481
@Karm Sounds interesting. Who is managing the letsencryt server ? Quarkus admin ?

[2020-02-28 11:28] stuartwdouglas commented on #7481
@darranl doesn't elytron have something for this?

[2020-02-28 11:39] darranl commented on #7481
@stuartwdouglas yes @fjuma has implemented this, I believe the modules are relatively independent so should be usable elsehwere.

[2020-02-28 11:57] DorianMaliszewski commented on #7414
@sberyozkin
I will store the ticket in a database, It will be nice in my case because I need all tracing, A ticket can be used only time and expire in 5 min after it is given.
I only check the ticket on onOpen method and after I store the session in a List.
To don't explode my DB, I will make some backup and truncate the table of old ticket

What do you think ?

[2020-02-28 11:59] Karm commented on #7481
@sberyozkin

I don't understand the question. Let's Encrypt servers are in their infrastructure...  They talk to Quarkus during challenge-response while a cert is being issues/renewed to prove that the web server (Quarkus) is really reachable on a particular domain. For that purpose a tiny Undertow instance could be launched within Quarkus to serve the challenge and then go away.

Regarding testin

[2020-02-28 12:01] Karm commented on #7481
@

I'll take a look. Perhaps the integration would be smoother then it seems. Do you have a repo handy or is it embedded in The Elytron?

[2020-02-28 12:01] maxandersen commented on #7460
PEBCAK's are the best :) but good find as the tests shouldn't be affected byit.

[2020-02-28 12:22] maxandersen commented on #5267
tagline  was the `:: Quarkus :: 1.3.0.Final ` in place now. i think it follows the convention others used here but i'm fine with "Powered by Quarkus ${quarkus.version}" right aligned and make the banner text the thing that can be overridden.

[2020-02-28 12:26] geoand commented on #7460
Good find indeed 👍

[2020-02-28 12:28] rsvoboda commented on #6522
@csotiriou is this issue going to be fixed by https://github.com/quarkusio/quarkus/pull/7316 which updates RESTEasy version to 4.5.1.Final?

[2020-02-28 12:29] rsvoboda commented on #6726
@Ladicek can you double check if this issue is still valid ?