[2022-03-14 23:20] famod commented on #24283
PS: When checking for multiple lines like in `IssueOpenedActionTest`, you'll need contains anyway, no?
But I agree that JBoss Threads output is annoying.

[2022-03-14 23:39] patriot1burke commented on #24284
Which quarkus extension?  "quarkus-amazon-lambda-http" or "quarkus-amazon-lambda-rest"?  This smells like you are mixing the wrong quarkus extension with the amazon api gateway product you are using "REST" vs "HTTP API".

[2022-03-15 01:18] nachogon1 commented on #24286
I tried in Java and it did work. Anyway, It would be nice to indicate the imports somewhere since I imported `Instance` from `io.quarkus.arc.runtime.BeanContainer.Instance` and I was getting the same error as above (It took me a while to realize the mistake).

I found my error I forgot `Instance` when injecting the service (And the client). So injecting the service should look like this (the same

[2022-03-15 02:03] herdi73 commented on #24287
Hi @gsmet Do you want me to git pull from **quarkus/main**? Can I immadiately update the Quarkus through Maven?

[2022-03-15 05:31] geoand commented on #23807
Looks like one for @radcortez

[2022-03-15 05:45] geoand commented on #24286
Closing this as invalid, but I'll let @mkouba decide if the docs need to be improved

[2022-03-15 05:45] #24286 closed

[2022-03-15 05:47] geoand commented on #24288
We already provide https://github.com/quarkusio/quarkus/blob/2.7.4.Final/test-framework/vertx/src/main/java/io/quarkus/test/vertx/RunOnVertxContext.java which is used internally but it's not documented (yet).

Can you have a look at the various tests that use it [here](https://github.com/quarkusio/quarkus/tree/2.7.4.Final/extensions/hibernate-reactive/deployment/src/test/java/io/quarkus/hibernate/

[2022-03-15 07:11] aomsweet commented on #24288
Hi, @geoand  Thanks for you reply.  I tried the following way and it works fine.

[code]

Is it possible to provide the `FutureAsserter` interface, because sometimes only Vertx is used, Like the following:

[code]

[2022-03-15 07:18] geoand commented on #24288
Thanks for checking!

What kind of `Future` are you talking about? Vert.x or JDK?

[2022-03-15 07:27] Octoate opened #24311 "gRPC cascaded client calls fail with timeout since v2.7.3"
### Describe the bug

Hi,
I am using Mutiny to define a call to two gRPC endpoints. If the first call was successfully completed, the second call should be executed. If an failure occurs, the client shall retry that operation again.

This is the client code, where "startPairing" (returns Uni<Boolean>) and "sendPairingKeyGetToken" (returns Uni<String>) are the gRPC calls to the server:

[code]

###

[2022-03-15 07:52] mkouba commented on #24286
The original snippet is wrong because it does not use programmatic lookup at all, i.e. the bean must not be injected directly but via `javax.enterprise.inject.Instance` which is explicitly mentioned in the first paragraph in [the docs](https://quarkus.io/guides/cdi-reference#declaratively-choose-beans-that-can-be-obtained-by-programmatic-lookup).

That's never the right thing to do ;-). Anyway, we

[2022-03-15 07:58] aomsweet commented on #24288
Future of Vertx. Most of my projects are based on Vertx API, not Mutiny (to be honest, I prefer Vertx's Promise and Future than Mutiny). So I think adding `FutureAsserter` is fine for me. Of course it's up to the Quarkus community.

[2022-03-15 07:59] aomsweet commented on #24288
Future of Vertx. Most of my projects are based on Vertx API, not Mutiny (to be honest, I prefer Vertx's Promise and Future than Mutiny). So I think adding `FutureAsserter` is fine for me. Of course it's up to the Quarkus community.

[2022-03-15 08:08] geoand commented on #24288
@cescoffier I assume Munity provides some interop with Vert.x's Promise and Future, correct?

[2022-03-15 08:14] cescoffier commented on #24288
Not really, I would recommend not using them especially if you use Mutiny. Mutiny provides a testing library: https://smallrye.io/smallrye-mutiny/guides/testing, or the UniAsserter.

It seems that you are still using plain Vert.x API in your application. Mutiny integration goes way beyond API, and many things may not work with the plain Vert.x API.

[2022-03-15 08:16] geoand commented on #24288
Okay, so I'll close this as adding something like `FutureAsserter` is not something we want to focus on going forward

[2022-03-15 08:16] cescoffier commented on #24288
BTW:
[code]

Is incorrect.

[code]

is correct.

[2022-03-15 08:23] faskan opened #24312 "Test case fails after adding qute dependency"
### Describe the bug

I am working on a Quarkus AWS lambda service that generates some html reports and uploads to S3. Unfortunately my test cases started failing (with a 404) after adding quarkus-resteasy-qute dependency.

I have replicated the same in a starter project (with AWS lambda) [here](https://github.com/faskan/quarkus-lambda-qute/).

### Expected behavior

The test case should not fail

[2022-03-15 08:26] KarlScheibelhofer commented on #13602
This would be a very useful feature, because you want only the application endpoints exposed to your clients. Health, metrics and similar are strictly internal. If they are available on a separate port only, you do not have to worry when you deploy to kubernetes. You would expose and route port 8080 only. Done. Easy to get right, hard to get wrong.

If you have health and metrics on endpoints on t

[2022-03-15 08:26] Postremus opened #24313 "Resteasy Reactive not calling exception mapper for invalid request body"
### Describe the bug

I have a PUT resource, expecting following request body:
[code]

Accidentaly, I sent the number as String value:
[code]

For cases where the client developer makes simple mistakes like this, we have a custom exception mapper for `ExceptionMapper<JsonMappingException>`.
With resteasy classic, this approach worked. I got a nice error message as response body, with details of th

[2022-03-15 08:31] geoand commented on #24313
Thanks for reporting.

I'll have a look

[2022-03-15 08:36] aomsweet commented on #24288
ok! I will learn more about Mutiny. Thanks. @cescoffier @geoand

[2022-03-15 08:40] mkouba commented on #24312
I don't think that you can just add the `quarkus-resteasy-qute` dependency or `quarkus-resteasy` and expect it to work OOTB. But I'm definitely not an amazon lambda expert. CC @geoand @patriot1burke

[2022-03-15 08:42] geoand commented on #24312
Neither am I, but I also assume it won't work

[2022-03-15 08:42] geoand commented on #24288
YW!

[2022-03-15 08:57] PixelJonas commented on #13602
+1

If you use the same Port for your application and metrics/health you also use up the same ConnectionPool, right?
If the ConnectionPool of your application is exhausted, you'll also not be able to respond to live/readiness, resulting in the application being killed and restarted. Most likely the application is just not "ready" anymore and needs some time to process and not be killed.

In a rece

[2022-03-15 09:15] ia3andy commented on #14437
To give a bit of context, the problem is that when selecting multiple codestarts (i.e: resteasy + spring-web, ...) then `path` and `className` parameters are ambiguous. The current behavior is to ignore them in that case.

With a bit more feedback on how codestarts are used, it seems that beside the basics (groupId, extensions...) customizing the generated code is not a strong need and would be co

[2022-03-15 10:59] faskan commented on #24312
I am not expecting it to work OOB. In my original project, I have a Template injected in to a service class and it generates reports and saves to S3. But as soon as I add this dependency, my test case starts failing.

[2022-03-15 11:24] nicpuppa opened #24317 "llegalStateException: Request has already been read"
### Describe the bug

I have a chain of `@RouteFilter` which are applied at every request to authenticate the call.
Example:
[code]

After applying all the previous filter I have a `Router` class where all the method are annotated with `@Route`.
For all GET request I have no problem, but for POST request sometimes I have an error: _llegalStateException: Request has already been read._

### Expecte

[2022-03-15 11:48] gsmet commented on #24317
First, try with the latest version of Quarkus 2.7.4.Final as we have fixed a couple of similar issues.

If not fixed, please provide a small reproducer.

[2022-03-15 11:50] FroMage commented on #9316
Yes, and that's what I've done, actually. But with a separate key, config and cookie name. Not sure if we should keep them separate or regroup under a non-form config.

[2022-03-15 12:13] raghumachani commented on #20312
Hi

can you please help how to configure the server side authentication using kerberos quarkus, where Source has to call the destination

please share help me how to configure source and destination part

[2022-03-15 12:20] alesj commented on #23948
I guess for me to duplicate this, I would either need a lot of topics or enough topics + shorter timeout?

[2022-03-15 12:26] lthasle opened #24318 "RestClient Reactive, MDC lost"
### Describe the bug

The MDC set in a ClientRequestFilter can not be retrieved in a ClientResponseFilter.

See also:

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Reactive.2C.20Manual.20Context.20propagation.28MDC.29

### Expected behavior

The MDC set in a ClientRequestFilter should be accessable in a ClientResponseFilter.

### Actual behavior

MDC is lost as the ClientRespo

[2022-03-15 13:14] geoand commented on #24313
It seems like this is caused because RESTEasy Reactive provides:

[code]

According to the spec, the exception mapping looks for the most specific exception mapper which is why `DefaultMismatchedInputException` is invoked instead of your `JsonMappingExceptionMapper`.

I propose adding an exception mapper like so:

[code]

[2022-03-15 13:14] #24313 closed

[2022-03-15 13:15] yesvike commented on #13425
@kenyee If I understand this right, I cannot use a hibernate reactive datasource and a non-reactive datasource in the same app right ?

[2022-03-15 13:21] kenyee commented on #13425
@yesvike yes...see 2nd comment above.  For your case, that other bug is blocking your usage of db2-reactive so you'll need another service...

[2022-03-15 13:34] yesvike commented on #13425
@kenyee before I give up this just wanted to make sure that a hibernate orm reactive data source and plain jdbc data source (no hibernate orm also here) cannot exist together right. I just want to make sure that you did not think the second in non reactive but still hibernate orm. Thanks.

[2022-03-15 13:40] galderz commented on #20733
@zakkak Assigned this to you since you've worked on it.

[2022-03-15 13:51] alesj commented on #23948
@gsmet which "both" did you have in mind
* skip the check and use `describeTopics`
* skip the check and configure timeout

I'll then have PR ready ...

[2022-03-15 13:53] patriot1burke commented on #24312
quarkus-amazon-lambda-http (-rest) + resteasy + qute should work OOTB. (Doesn't resteasy + qute work OOTB?)

I'll try to replicate.

[2022-03-15 14:03] kenyee commented on #13425
@yesvike: What's interesting is if you dump hibernate-reactive's dependencies, it includes the plain JDBC one.
So if you're going to do raw JDBC using e.g. Jooby or something, then I think you'll be ok....

[2022-03-15 14:08] rsvoboda opened #24320 "KeycloakContainer in integration-tests/kafka-oauth-keycloak is not aligned with Keycloak version used in devservices"
### Describe the bug

KeycloakContainer in integration-tests/kafka-oauth-keycloak is not aligned with Keycloak version used in devservices

Quarkus moved to  Keycloak version 17.0.0 with https://github.com/quarkusio/quarkus/pull/24108 but https://github.com/quarkusio/quarkus/blob/main/integration-tests/kafka-oauth-keycloak/src/test/java/io/quarkus/it/kafka/containers/KeycloakContainer.java was lef

[2022-03-15 14:13] sberyozkin commented on #24320
Re assigning to Ozan

[2022-03-15 14:15] sberyozkin commented on #24320
@rsvoboda @ozangunalp I think for this test updating to `quay.io/keycloak/keycloak:17.0.0-legacy` image should do - most of OIDC tests use it as well as the next RH SSO will still be based on a WildFly based distro

[2022-03-15 14:22] sberyozkin commented on #24320
As far as using Quarkus based distro is concerned, it should become much easier for setting up the truststore, I've linked Ozan earlier to the where TLS is setup (in `integration-tests/oidc`). But at the moment Keycloak(-X) can not import a realm file itself at the startup, so an AdminClient POST request is required to upload the realm file - it is done in `DevServices for Keycloak`, Ozan, I can s

[2022-03-15 14:23] rsvoboda commented on #24320
That's a good point, +1 for `-legacy`

I can amend https://github.com/quarkusio/quarkus-quickstarts/pull/1080

Reassigning to me

[2022-03-15 14:26] rsvoboda commented on #24320
PR updated

[2022-03-15 14:41] knutwannheden opened #24322 "Config like `mp.messaging.connector.smallrye-kafka.value.serializer` is ignored"
### Describe the bug

The build step `SmallRyeReactiveMessagingKafkaProcessor#defaultChannelConfiguration()` currently ignores checking for connector-level config like `mp.messaging.connector.smallrye-kafka.value.serializer`. As a result this configuration has no effect when added to the `application.properties` file because the generated channel-level `RunTimeConfigurationDefaultBuildItem` defaul

[2022-03-15 14:43] sberyozkin commented on #24320
Thanks @rsvoboda, I left a comment there;
@ozangunalp I'd like to propose to pass this property https://github.com/quarkusio/quarkus/blob/main/build-parent/pom.xml#L101 to this test, for it to pick up the next versions automatically

[2022-03-15 15:02] myeung18 opened #24323 "Added sslmode&sslrootcert Service Binding support to postgresql and cockroachdb"
### Description

CockroachDB Cloud, by default, uses one-way TLS for client and server authentication. To do so, the client application has to download the server CA Certificate (ie: root.crt), and the path of this file has to be set to sslrootcert and added to the connection string.
We need a way to let a client application be able to know the path of this root.crt and build up the connection URL

[2022-03-15 15:12] FroMage commented on #23593
OK, I tried it. Doesn't work. Twitter refuses to tell me why not, which isn't helpful.

My config:
[code]

The URI I land on:

[code]

Twitter only tells me:
[code]

Which is not helpful

[2022-03-15 15:37] GregJohnStewart opened #24326 "Reorder the Documentation web page titles"
### Description

I realize this is sort of a nitpick, but is it possible to reorder the components of the documentation pages' titles?

Currently, it is something along the lines of:

`Quarkus - <page content title>`

Whereas the following would be better (I think):

`<page content title> - Quarkus`

The reasoning here is that when you have a bunch of tabs open, and can only see the first few char

[2022-03-15 15:56] OleKsimov opened #24327 "Kafka deserializer generalization issues. Code from Kafka guide doesn't work."
### Describe the bug

1) I noticed that in the [Kafka guide](https://quarkus.io/guides/kafka#jackson-serialization) some deserialization constructor examples are not working, for example:

[code]

OR

[code]

You just can't call a superclass constructor if it's not the first statement in a subclass constructor.

2) I can't actually see a way to create a generic deserializer for a few different rec

[2022-03-15 16:08] cescoffier commented on #24327
The doc should be updated to create the type reference in the parameter.

This is what is done when we generate the json serde

[2022-03-15 17:12] jendib commented on #21948
@mkouba I added a reproducer to this issue. It seems to come from sending a Kafka message from inside a `@Transactional` method.

[2022-03-15 17:24] sberyozkin opened #24329 "DevServices for Keycloak UI is broken on 2.8-main"
### Describe the bug

Regression has been introduced on `main`, after starting `mvn quarkus:dev` and going to `http://localhost:8080/q/dev/`, the OIDC card does not have a `Provider: Keycloak` link to `http://localhost:8080/q/dev/io.quarkus.quarkus-oidc/provider`. `http://localhost:8080/q/dev/io.quarkus.quarkus-oidc/provider` does respond if it is accessed directly but the UI is wrong there as wel

[2022-03-15 17:33] sberyozkin commented on #24329
@mkouba @phillip-kruger Hi Martin, Phillip, can you have a look please, this branch is [embedded.html](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/resources/dev-templates/embedded.html#L5) does not work, `info:oidcProviderName` is set [here](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devs

[2022-03-15 18:12] abouhabb opened #24331 "Build failure due to parsing properties configuration"
### Describe the bug

The build fail
Same behavior in jvm & native container mode, in java 11/17

Our modules use our own librairy for logging writing also in quarkus .

Everythings is working fine in 2.7.1.Final

The bug occure since 2.7.2.FINAL and others newer version.

### Expected behavior

build success

### Actual behavior

### Output of `java -version`

openjdk version "11.0.12" 2021-07-20

[2022-03-15 21:02] #22905 closed

[2022-03-15 21:11] OOTS commented on #4227
Hey @chonton,
Vertx also seems to support the proxy protocol: https://vertx.io/docs/apidocs/io/vertx/core/http/HttpServerOptions.html#setUseProxyProtocol-boolean- . Anyway, I'd still be interested in this feature.

[2022-03-15 21:18] Felk commented on #6948
Is this actually fixed? I am using Quarkus 2.7.1 and wrote an entity listener with `@ApplicationScoped` that `@Inject`s an `EntityManager`. The injected instance stays null, but doing `CDI.current().select(EntityManager.class).get();` works.

[2022-03-15 21:22] #24302 closed

[2022-03-16 03:19] yesvike commented on #13425
Thanks Kenyee for your responses. I cannot dump the hibernate-reactive dependencies in the existing code. Please elaborate on second line. Are you suggesting to use any other Java datasource connection pool mechanism like Hikari ?

[2022-03-16 07:18] mkouba commented on #24329
Hm, it does not seem to be related to https://github.com/quarkusio/quarkus/pull/23781. I've followed the steps to reproduce and the relevant `DevConsoleTemplateInfoBuildItem` is not produced at all because the `configProps` is an empty optional here: https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevCo

[2022-03-16 07:28] geoand commented on #24331
Is this still an issue with `2.7.4.Final`? Can you please give it a try?

[2022-03-16 07:34] geoand commented on #24313
I am also thinking that maybe in the DevUI we could have the list of exception mappers that are active, with the hope that it would aid debugging such issues.

WDYT?

[2022-03-16 07:45] knutwannheden commented on #21782
For the Avro use case, where most channels will be using the generic Avro serializer (specific to the schema registry implementation), I think that it would be useful with an explicit config property like `quarkus.reactive-messaging.kafka.schema-registry.compatibility-mode` (which can be set to `auto`, `confluent`, `apicurio1`, or `apicurio2`). This would allow the extension to correctly set the A

[2022-03-16 07:51] Ladicek commented on #21782
I still don't want configuration for autodetection. It's a slippery slope and we'll eventually end up creating an alternative configuration system for SmallRye Reactive Messaging. Autodetectoin should work well for the most common 80% of cases, and if you need something advanced, you should just configure SmallRye Reactive Messaging directly.

[2022-03-16 07:54] yrodiere commented on #6948
CDI injection in entity listeners does work, at least in the general case: https://github.com/quarkusio/quarkus/pull/20708/files#diff-7ed082417d8730c92d0dcf5c59e547878a5c298311afbd529f1a5c9591f150ccR73

I suppose injecting an entity manager into a component that is itself used by the entity manager could lead to cyclic dependency problems. If you do have problems, please open an issue with a repro

[2022-03-16 07:57] mkouba commented on #21948
My guess is that it's related to integration of context-propagation and mutiny (which is used in reactive messaging). @FroMage @cescoffier @manovotn is there a way to disable the context propagation declaratively?

CC @Ladicek

[2022-03-16 08:03] knutwannheden commented on #22905
@radcortez This is interesting. Would it possibly make sense to add an explicit config property to control this? Something like `quarkus.opentelemetry.instrumentation.jdbc-datasource.enabled`? The extension could then also automatically configure the OpenTelemetry JDBC driver based on this, rather than requiring the developer to do that. What do you think?

[2022-03-16 08:08] Postremus commented on #24313
That would definitly have helped in my situation. So a +1 from me.

[2022-03-16 08:10] cescoffier commented on #21948
`send` is async, transactions are not. So, you need to "block" until the sent message is acked:

[code]

Or return the `CompletionStage<Void>`.

[2022-03-16 08:26] mkouba commented on #21948
What if you don't want to wait for the result at all? Just fire-and-forget behavior and do not propagate the transaction at all...

[2022-03-16 08:27] Postremus opened #24338 "Removal of beans loads referenced classes"
### Describe the bug

I have following project structure:
* commons (external module)
* web (quarkus)

The commons module includes hibernate-validator (and custom ConstraintValidators), which I just don't need for this project.
I tried to simply add an exclusion on quarkus-hibernate-validator, to remove this extension.

However, I got the exception from below.
Apperantly, during removal of unused

[2022-03-16 08:54] cescoffier commented on #21948
Because it causes that kind of issue. What surprised me is that in general it happens when you send the persisted object. Here is seems to be a constant value.

[2022-03-16 09:07] jendib commented on #21948
I actually worked around this issue by firing an event which is listened in a `TransactionPhase.AFTER_SUCCESS` method (and this method send the Kafka message).

The only issue I may have here is that the error message is very hard to understand, it took me a while to see that the Kafka message was the problem.

[2022-03-16 09:13] mkouba commented on #24338
If the bean is removed then it's not excluded from discovery. I'm not sure whether quarkus honors dependency exclusions in a multi-module app. CC @aloubyansky

[2022-03-16 09:15] mkouba commented on #21948
??

I'm no CP expert but I think that it does not matter, i.e. the tx is propagated no matter what the payload is. And later when the `TestService#test()` method completes JTA attempts to commit the transaction which is associated with multiple threads.

[2022-03-16 09:18] AmsterdamFilho opened #24339 "The annotation io.quarkus.arc.All is not working in Kotlin"
### Describe the bug

Injected list annotated with @All is empty in Kotlin when using constructor injection

Using the default approach with javax.enterprise.inject.Instance works as expected.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Reproducer created here

https://github.com/amsterdam-superchat/quarkus-reproducer-inject-all

### Output of

[2022-03-16 09:22] cescoffier commented on #21948
Exactly.However, if you join, the problem goes away as the tx is not accessed concurrently anymore.

If you want to do an out of band processing you cannot use the emitter but you will need an intermediate event bus 'send' which will not propagate the tx (because it uses the vertx bare API which does not support CP).

[2022-03-16 09:29] Felk opened #24340 "CDI injection does not work on entity listeners if the listener method is private"
### Describe the bug

This is a follow-up of https://github.com/quarkusio/quarkus/issues/6948#issuecomment-1068482581

When making the methods of an entity listener private (which by itself works, but maybe it shouldn't), it has the side effect that CDI beans are no longer injected.

### Expected behavior

Not sure what would be the best expectation, but maybe one of the following:

- private enti

[2022-03-16 09:30] aloubyansky commented on #24338
It does, hence the CNFE. I am not sure if ArC can handle this by not loading the class that appears to be an unused bean.

[2022-03-16 09:31] Felk commented on #6948
@yrodiere Thanks, I was able to narrow the problem down a bit and opened https://github.com/quarkusio/quarkus/issues/24340, though it is trivially worked around (don't have your listener methods be private).

[2022-03-16 09:38] mkouba commented on #24338
I'm sorry but I don't understand. If it does then ArC should not see the bean class at all... in other words, it should not be part of the app index.

[2022-03-16 09:42] mkouba commented on #21948
Ok, my point is that it should be possible to state declaratively/programatically that TX does not need to be propagated. Is this documented somewhere?

[2022-03-16 09:45] cescoffier commented on #21948
Smallrye has custom annotation I believe, but I never used them.

[2022-03-16 09:52] aloubyansky commented on #24338
Here is the exclusion
[code]
The bean is in the `removed-bean-classloading-service` JAR but the JAR containing `javax.validation.ConstraintValidator` was excluded.

[2022-03-16 10:07] pjgg opened #24341 "Missing Quarkus / Stork properties in Quarkus config all website"
### Describe the bug

I am missing Quarkus / Stork properties in https://quarkus.io/guides/all-config

I am using Quarkus 2.7.4.Final + `io.smallrye.stork:stork-service-discovery-consul` extension and I would expect some `Quarkus` + `stork` propertiers references in all-config site. A Quarkus version of Stork properties, something like:

[code]

[2022-03-16 10:08] aureamunoz commented on #24341
This should be fixed by #24184

[2022-03-16 10:19] manovotn commented on #24338
Hm, so the issue is that `io.quarkus.arc.impl.RemovedBeanImpl` holds `Set<Type> types;` which in case of class leads to loading the class?

As far as I know, we use these removed beans in two places.
Firstly we have a list of these in the dev console. For this purpose we could only store String values.
However, second use case is bean resolution - if user attempts dynamic lookup and there are no m

[2022-03-16 10:29] yrodiere commented on #24340
Thanks @Felk for the report and reproducer! We'll try to fix this at some point. Hopefully this isn't urgent as the workaround is quite trivial.

[2022-03-16 10:42] sberyozkin commented on #24329
I'm sorry @mkouba, I rebuilt a few times yesterday and I was certain I located the PR which affected it, but in fact it is https://github.com/quarkusio/quarkus/commit/eff45901d57afa9fb12dc3da96bf65c6f5adef8d#diff-67404a43520250b1ebd5a0c945e070e60d70d4a3ba06b15e3fac747f820320cc, CC @ozangunalp, which affected it.

I'll see if I can fix it, sorry again @mkouba

[2022-03-16 10:48] pjgg opened #24343 "Quarkus + Stork/consul round-robin service discovery cache expiration over nodes that are down (Baremetal)"
### Describe the bug

QuarkusVersion: 2.7.4.Final
Reproducer:  https://github.com/quarkus-qe/quarkus-test-suite/pull/572
cmd: `mvn clean verify -Dall-modules -pl service-discovery/stork-consul -Dit.test=StorkServiceDiscoveryIT#storkLoadBalancerServiceNodeDown`

Even if Qaurkus/stork is not fault-tolerant and doesn't "detect" that a service node is down, there is a cache expiration property
`stork.

[2022-03-16 10:50] andlinger opened #24344 "REST Client is added to OpenAPI file"
### Describe the bug

When I use a REST Reactive client in my Quarkus project, which has a path annotation at the class level, it is automatically added to the OpenAPI specification. Unfortunately hiding it via `@Schema(hidden = true)` does not work.

Following client shows in OpenAPI specification:
[code]

Following client isn't shown:
[code]

### Expected behavior

REST clients shouldn't be adde

[2022-03-16 11:05] gsmet commented on #24344
@EricWittmann, @MikeEdgar, @michalszynkiewicz, @phillip-kruger please have a look at this one for 2.8 as it's part of our RESTEasy Reactive story.

[2022-03-16 11:12] MikeEdgar commented on #24344
@andlinger do you have a reproducer? I'm guessing the scanner is including it due to some generated implementation of the interface being generated that is different than what we currently consider "synthetic".

[2022-03-16 11:14] andlinger commented on #24344
@MikeEdgar The reproducer is already mentioned in the issue

[2022-03-16 11:16] gsmet commented on #24344
It would probably be interesting to compare with what was done for RESTEasy Classic.

[2022-03-16 11:19] nicpuppa commented on #24317
With the Quarkus update it seems that the problem is solved. Thank you

[2022-03-16 11:19] #24317 closed

[2022-03-16 11:20] abouhabb commented on #24331
yes same issue with 2.7.4.Final

[2022-03-16 11:28] radcortez commented on #22905
Hum, not totally sure how useful that would be.

Right now, (and forgetting about dev services), to configure the JDBC datasource with OTel we need to:
1. Add the `opentelemetry-jdbc` dependency (which contains the driver)
2. Set the `quarkus.datasource.jdbc.driver=io.opentelemetry.instrumentation.jdbc.OpenTelemetryDriver`
3. Add the `otel` prefix in the JDBC url: `quarkus.datasource.jdbc.url=jdbc

[2022-03-16 11:49] knutwannheden commented on #22905
I think what you say makes sense. Since the URL must be explicitly set (for production), the user may as well set the driver.

[2022-03-16 12:03] radcortez commented on #23807
This is a very interesting case. Let me see if I can explain what is happening properly:

The filters are initialized during the native image build, so the config instance that gets injected is also one that is created during static initialization, which uses the profile set during the native image build (if omitted is `prod`).

In the other case with the helper, the filter is also initialized dur

[2022-03-16 12:04] manovotn commented on #21948
@mkouba I remember there was a talk about that annotation, I am not sure it came to fruition.
Maybe this is the one you are looking for - https://github.com/smallrye/smallrye-context-propagation/blob/main/api/src/main/java/io/smallrye/context/api/CurrentThreadContext.java ?

There should also be some global settings but I don't suppose that interests us here.

[2022-03-16 12:11] andlinger commented on #24344
@MikeEdgar No problem :) I also suspect that the problem is in the generated code. In the OpenAPI specification the interface is called "CDI Wrapper".

[2022-03-16 12:14] ozangunalp commented on #24329
@sberyozkin That's my bad. I must have missed the usages of `KeycloakDevServicesConfigBuildItem`.
I'll prepare a fix and modify the smoke test to check it.

[2022-03-16 12:15] manovotn commented on #24339
@mkouba for `@Inject Instance<?>`, Weld throws `DefinitionException`.

[2022-03-16 12:16] sberyozkin commented on #24329
Hi @ozangunalp Np at all, I'm working on it right now, thanks. It was not something you could've detected as the smoke test was not providing enough evidence. I'll ask yourself and Martin to check my fix, due soon enough

[2022-03-16 12:18] mkouba commented on #24338
I see. Well, in that case it's an invalid use case because there is a bean declared but not all bean types are loadable (AFAIK Weld does ignore similar classes and logs some warning). @Postremus you can try to exclude the bean class from discovery via the [quarkus.arc.exclude-types](https://quarkus.io/guides/cdi-reference#quarkus-arc_quarkus.arc.exclude-types) config property.

Yep, `quarkus.arc.e

[2022-03-16 12:20] manovotn commented on #24338
Yeah, that's what I meant! I knew we had *something* but couldn't remember :)

[2022-03-16 12:23] geoand commented on #23807
Logging a warning sounds like a good idea to me

[2022-03-16 12:29] ozangunalp commented on #24329
Ok! btw I tested this fix here: https://github.com/quarkusio/quarkus/compare/main...ozangunalp:fix_keycloak_dev_ui?expand=1

[2022-03-16 12:29] aloubyansky commented on #24338
Not sure if it's worth it and how complex this is, could this be considered a kind of optimization to load the classes of unused beans lazily, given that it's probably rare when they have to be loaded at the end?

[2022-03-16 12:45] gsmet commented on #24231
@jesperpedersen 2.7.5.Final has been released.

[2022-03-16 12:45] gsmet commented on #24287
@herdi73 2.7.5.Final should fix it.

[2022-03-16 12:47] sberyozkin commented on #24329
@ozangunalp Thanks, this is how I started as well, but then realized it won't be enough as the `DevServicesResultBuildItem` will also be needed (to get some `configProps`). So instead of duplicating the properties again as I did originally, I thought of passing the extra properties with `DevServicesResultBuildItem`, should open a PR a bit later.

[2022-03-16 12:51] mkouba commented on #24339
Thanks @manovotn. In that case, we should throw a `DefinitionException` as well.

[2022-03-16 12:54] mkouba commented on #24338
We have an open issue for this optimization: https://github.com/quarkusio/quarkus/issues/18345, but the priority is low due to the impact and the fact that you can also set `quarkus.arc.detect-unused-false-positives=false` too.

[2022-03-16 13:05] lthasle opened #24349 "RestClient reactive, Post without entity: Content-Length should be set to 0"
### Describe the bug

The application is trying send a http post request without an entity to a client, and the client rejects the request with:
Error 411. The request must be chunked or have a content length

This works for a non reactive RestClient.
I am not able to reproduce it toward a quarkus server, but a Microsoft-HTTPAPI/2.0 server rejects it.

See also: https://quarkusio.zulipchat.com/#na

[2022-03-16 13:09] knutwannheden opened #24350 "Support Karapace as an alternative Kafka schema registry devservice"
### Description

[Karapace](https://github.com/aiven/karapace) is a lean Python-based and Confluent-compatible Kafka schema registry. As such it would be very useful to be able to use this instead of Apicurio as a devservice, when the schema registry used in production is the Confluent implementation. The Apicurio devservice has the drawback that it isn't Confluent-compatible and requires differen

[2022-03-16 13:15] #21782 closed

[2022-03-16 13:28] sberyozkin commented on #24329
I'll combine both items instead of using a single one

[2022-03-16 13:39] matejvasek opened #24351 "Cannot build native-source after adding container-image-buildpack extension."
### Describe the bug

Cannot use native-source packaging when container image extension is added to a project.

### Expected behavior

The maven pack task will pass without error.

### Actual behavior

The maven package task fails:
[code]

### How to Reproduce?

1. Create simple RESTEasy app using https://code.quarkus.io/?e=resteasy
2. Add the container-image-buildpack extension `./mvnw quarkus:ad

[2022-03-16 13:39] matejvasek commented on #24351
/cc @maxandersen @geoand

[2022-03-16 13:55] metacosm commented on #24231
Already? Damn, I barely had time to release the extension with 2.7.4! 😁

[2022-03-16 14:21] geoand commented on #24351
Thanks for reporting.

https://github.com/quarkusio/quarkus/pull/24352 takes care of the issue

[2022-03-16 14:26] #18982 closed

[2022-03-16 15:08] mkouba commented on #24339
I've sent a [pull request](https://github.com/quarkusio/quarkus/pull/24353) to improve the validation and I'm going to close this issue.

[2022-03-16 15:08] #24339 closed

[2022-03-16 15:52] GregJohnStewart commented on #15013
Another bump, as of `2.7.5`, still an issue

[2022-03-16 15:56] #24228 closed

[2022-03-16 15:57] kenyee commented on #13425
./gradlew dependencies
will show you the hierarchy of dependencies (there's a maven equivalent)

I think using the regular JDBC driver dependency should be ok...you just can't mix hibernate reactive/non-reactive...

[2022-03-16 16:24] sberyozkin commented on #23593
If that returns an internal error then we need to find a way to report the issue to Twitter Oauth2 developers. FYI, the integration PKCE tests in Quarkus run directly against Keycloak which also supports PKCE

[2022-03-16 16:30] sberyozkin commented on #23593
@FroMage Also, the error message might contain some hints that the Renarde app might not be configured correctly in Twitter, please check the redirect_uris match, etc

[2022-03-16 16:39] Postremus commented on #24338
That works.

However, could you please add an actionable error message?
The exception only says CNFE ConstraintValidator, but not that this situation is caused by org.acme.FutureDayValidator.

[2022-03-16 17:12] amsterdam-superchat commented on #24339
@mkouba Thanks!

[2022-03-16 18:30] #23254 closed

[2022-03-16 18:35] gastaldi opened #24358 "NullPointer when setting logger level to null"
### Describe the bug

_Reported in https://github.com/quarkiverse/quarkus-logging-manager/issues/82 by @survivant_

I want to reset a level log.  (LogController.updateLogLevel(loggerName, null);)

in LoggerHandler
[code]

We have this error

[code]

in LogController.updateLogLevel
[code]

### Expected behavior

When null is specified, use the parent logger level

### Actual behavior

A NullPointer

[2022-03-16 18:53] alesj commented on #24350
Afaik, Apicurio schema registry was designed to be Confluent-compatible -- at least when I was working on it (as initial contributer).
Is that not the case anymore?
@EricWittmann ^ ?

[2022-03-16 19:34] michalszynkiewicz commented on #24344
@MikeEdgar are you looking into this issue?

[2022-03-16 19:42] MikeEdgar commented on #24344
@michalszynkiewicz I haven't started anything yet. I was planning on taking a look in my evening or in the morning unless you're interested in grabbing it.

[2022-03-16 19:49] michalszynkiewicz commented on #24344
if you have time for it, I'd be grateful if you gave it a try. Ping me on Zulip if you need help.

[2022-03-16 19:57] cescoffier commented on #24350
It is still the case, but it's a different endpoint. At the moment we inject the 'plain' apicurio url and not the confluent compatible one. This is something we should do if we detect the confluent serde on the classpath.

[2022-03-16 20:36] michalszynkiewicz commented on #24343
So you'd like Stork to remove a service instance from the ones the client tries if the instance is not available?

[2022-03-16 20:42] michalszynkiewicz commented on #24318
Hi Lars, the Zulip link doesn't work for me...

[2022-03-16 20:46] gsmet commented on #24318
@michalszynkiewicz not sure if you have seen but there is a reproducer attached to the issue. So it should be easy to reproduce.

[2022-03-16 21:08] nandorholozsnyak opened #24361 "AWS Lambda Dev UI is missing"
### Description

So as being an AWS Lambda user (not a poweruser but a fan of it), I'm really liking the fact that you can simulate events on the AWS Console and you can create your own events too and save it for later.

If somebody is using the `quarkus-amazon-lambda` extension the Dev UI will not be available, only a mock server in the background for test events, if somebody would use `quarkus-a

[2022-03-16 21:15] michalszynkiewicz commented on #24318
I found it and changed the link.

[2022-03-16 21:58] michalszynkiewicz commented on #24311
I think that's expected, `await()` is blocking so the event loop gets blocked.
This code works:
[code]

[2022-03-16 21:58] michalszynkiewicz commented on #24311
@cescoffier do you know why this worked prior to 2.7.2? Can the change of the behavior be related to the context work?

[2022-03-17 00:05] MikeEdgar commented on #24344
- Class `VisibleHttpClient` has flags `0x601` (0x400 abstract/0x200 interface)
- Generated class `VisibleHttpClient$$CDIWrapper` has flags `0x1021` (0x1000 synthetic)
- Class `InvisibleHttpClient` is skipped because it is not annotated with `@Path`

smallrye-open-api already has a check to exclude synthetic interfaces. Has there been a change to how these classes are generated/represented in the p

[2022-03-17 01:28] rmanibus commented on #24254
Hi @machi1990, do you mind if I work on a PR for this ?

[2022-03-17 02:11] rmanibus commented on #24254
as misfire instructions are different in CronScheduleBuilder and SimpleScheduleBuilder, do we need 2 strategies in the config ?
```quarkus.quartz.cron-misfire-strategy``` and ```quarkus.quartz.simple-misfire-strategy``` ?

[2022-03-17 02:18] #24358 closed

[2022-03-17 02:39] cdmikechen commented on #10716
@minhdtb1983
You can change codes like this:

[code]

[2022-03-17 03:14] yesvike commented on #13425
@kenyee

That's where I have the problem. Here is my build.gradle

[code]
application.properties

[code]

With this Hibernate reactive ORM is not able to pick the default data source and throws error

[code]

[2022-03-17 05:30] cescoffier commented on #24311
It was a bug I fixed while adding support for duplicated context. The await() was executed on a gRPPC thread instead of the event loop. It should have never been the case as these threads are not managed.

[2022-03-17 07:19] Octoate commented on #24311
Ah, okay. I was not aware that I need to use "transformUni()" for the second gRPC call and because of that I tried to use "await()" here to retrieve the "String" from the second call.

It works great now. Thank you very much for your help!

[2022-03-17 07:19] #24311 closed

[2022-03-17 07:43] #23469 closed

[2022-03-17 07:43] andlinger opened #24364 "Reactive REST Client NullPointerException"
### Describe the bug

There seems to be a case where the header map in the ClientResponseContext is null.

[code]

### GraalVM version (if different from Java)

22.0

### Quarkus version or git rev

2.7.4.Final/2.7.5.Final

[2022-03-17 07:48] geoand commented on #24364
Can you please provide a sample project that exhibits this behavior?

[2022-03-17 07:50] andlinger commented on #24364
I do not know myself yet how the error comes about and therefore do not know how to build a reproducer. My hope was that we can look at the problem together here.

[2022-03-17 07:52] andlinger commented on #24364
Is there a way to log all requests and responses?

[2022-03-17 07:56] geoand commented on #24364
See https://quarkus.io/guides/rest-client-reactive#logging-traffic

[2022-03-17 08:11] Postremus opened #24365 "reactive rest client throws IllegalAccessError for package private rest interfaces in external module"
### Describe the bug

My app includes an company internal dependency, which uses quarkus-rest-client-resteasy as rest client internally.
This dependency has a rest api defined as:
[code]

This client interface is package private and has no `RegisterRestClient` annotation, since the dependency includes a wrapper for the rest client (basicly just some fancy auth + fault-tolerance).

When I now want

[2022-03-17 08:16] andlinger commented on #24364
Thank you. Looks like the error happens before the request/response is logged because nothing is output. But with another (working) request everything is logged.

[2022-03-17 08:40] machi1990 commented on #24254
Thank you. Consider the issue yours.

+1 that will work too but I think it will increase the surface of the configuration knobs.
An alternative will be to allow configuring it on per scheduler using the scheduled job identity.
`quarkus.quartz."<identity>".misfire-strategy=the given strategy`. The config item will be a map.
The enum will contain all the strategies, with the prefix indicating if it

[2022-03-17 08:43] geoand commented on #24364
Understood. I think we'll still need a reproducer though... Without it, we're basically shooting in the dark

[2022-03-17 09:02] alesj commented on #10064
Can this issue be closed?

[2022-03-17 09:03] mkouba commented on #24338
Hm, that's not so easy. I mean the CNFE is a generic error that can occur in many places. We could catch the error in the generated `ComponentsProvider` but it might jump out elsewhere...

[2022-03-17 09:35] chir050 opened #24366 "DEV UI not working with nosniff http header"
### Describe the bug

If the _quarkus.http.header."X-Content-Type-Options".value_ set to nosniff the DEV UI will be not rendered.

### Expected behavior

It should be as html rendered.

### Actual behavior

It shows plain html text.

### How to Reproduce?

Set application property
`quarkus.http.header."X-Content-Type-Options".value = nosniff`

### Output of `uname -a` or `ver`

MINGW64_NT-10.0-190

[2022-03-17 09:38] andlinger commented on #24364
Did it: https://github.com/andlinger/quarkus-reproducer/tree/quarkus-24364
Please note that `io.i15s.quarkus.HttpClient/mp-rest/url` in `application.properties` points to a port that is not open.

[2022-03-17 09:43] AmsterdamFilho opened #24367 "PanacheRepositoryBase generates invalid query with Hibernate Reactive"
For the query "id in ?1 and message.workspaceId = ?2", PanacheRepositoryBase generated an invalid query in Postgres.

This happens only when message extends for another class using Joined Strategy and workspaceId is in the parent table

Reproducer created here https://github.com/amsterdam-superchat/quarkus-hibernate-delete-issue

Just run the code, open swagger ui, and execute the only endpoint th

[2022-03-17 09:54] loicmathieu commented on #24367
Can you please comment with the line of code causing the issue, the exception message and the generated query. You can have the generated query in the log by enabling Hibernate logging via `quarkus.hibernate-orm.log.sql=true`

[2022-03-17 10:06] XSAM commented on #23805
@radcortez I found a case that will throw this warning with `2.7.2.Final`. Here is the [reproducer](https://github.com/XSAM/quarkus-issue-23805-reproducer).

Please reopen this issue.

[2022-03-17 10:29] MikeEdgar commented on #24344
So it seems the difference is that in the earlier Quarkus version, the `VisibleHttpClient$$CDIWrapper` class did not have the `@Path` annotation present, but it is present in 2.7.

Fixed with https://github.com/smallrye/smallrye-open-api/pull/1096

[2022-03-17 10:36] cescoffier commented on #8152
Closing - out of date.

[2022-03-17 10:36] #8152 closed

[2022-03-17 10:47] gsmet commented on #24344
@MikeEdgar is it a 2.7 related change or the fact that the project is using the **Reactive** REST Client?

It's important because if it's a regression in 2.7, we might need a backport of the fix to the 2.7 branch.

[2022-03-17 10:49] AmsterdamFilho commented on #24367
I created a whole reproducer actually. @loicmathieu

[2022-03-17 10:50] pjgg commented on #24343
I think that makes sense to check if the service is ready before adding this service to the pool of services, and if is not ready then remove this instance from the pool. By this way, we will avoid `unnecessary` retries on the client-side.

 Current behavior:

[code]

In the end, all requests will succeed, but the price is too high (in terms of request and load to the available node).  Also, maybe

[2022-03-17 11:01] MikeEdgar commented on #24344
@gsmet the original support we added to ignore synthetic implementations (https://github.com/smallrye/smallrye-open-api/pull/919) was also there for the Reactive REST client, so that much is in common. This looks like a change to how the Reactive client generation works between 2.2.5 and 2.7.5. It doesn't necessarily seem like a regression from that perspective, but rather a case the OpenAPI scann

[2022-03-17 11:07] gsmet commented on #24344
Well it's sort of a regression if it worked well before and it now pollutes the OpenAPI namespace :).

So I think it would be nice to have a backportable fix (i.e. not a fix included in a version containing a ton of new features).

[2022-03-17 11:15] michalszynkiewicz commented on #24343
It is out of scope of Stork to perform heartbeat for service instances.
Service discovery solutions, such as Consul, can do it, and Stork can ask Consul for healthy services only (there is a configuration property for it).

Also, it is possible for a load balancer add an instnace to some kind of block list after a failure. Out of existing load balancers, the least-response-time one is closest to d

[2022-03-17 11:46] guhilling opened #24371 "After upgrade to 2.7.x from 2.6.3.Final Jackson cannot marshall "Java 8 date/time LocalDateTime""
### Describe the bug

We upgraded our Quarkus project from 2.6.3.Final to 2.7.0.Final. We're using JAX-RS with Jackson (default) and also use "Java 8" DateTime types.
After the upgrade we get the following exception:
[code]
As documented this module should be added automatically and - apart from that - adding it additionally doesn't fix the issue for us.
Dependencies are as follows:
[code]
Quarkus

[2022-03-17 11:49] gsmet commented on #24371
Please upgrade to 2.7.5.Final, not 2.7.0.Final. If you can still reproduce the issue with 2.7.5.Final, please provide a reproducer.

IIRC, they changed how the modules are handled and we adjusted to it. If you are using a specific ObjectMapper, you might have to adjust your code.

[2022-03-17 11:51] guhilling commented on #24371
The problem also occurs in 2.7.4 and 2.7.5. I just provided the "initial failed version" because that probably could "ring a bell" due to the changes introduced with 2.7.x
We'll try to create a reproducer in the next few days ...

[2022-03-17 12:12] mkouba commented on #24338
I've tried to implement something and then I realized that we share the loaded types for removed beans and this optimization (1) means that we can assign a CNFE to the first component that uses the type, (2) makes it really difficult to implement this elegantly. I'll try to come with something but given the impact it has and a trivial workaround exists I'd consider this a low priority issue..

[2022-03-17 12:22] geoand commented on #24371
A reproducer would be great, thanks

[2022-03-17 12:30] gsmet commented on #24371
Yeah, we are definitely still registering them here: https://github.com/quarkusio/quarkus/blob/125879f3023c9c49c575612ccaf145863f90cc21/extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java#L226 .

So my guess is that there's something fishy somewhere in your specific application, especially since we would have had a lot of complaints if it was broken in t

[2022-03-17 12:45] famod commented on #24229
@aloubyansky @stuartwdouglas any thoughts/hints?
This inconsistency is pretty annoying when you rely on global JUnit extensions (for all test types and modes).
I'm under the impression that this problem and the one from #24257 would vanish if that serviceloader file would be known to the augmentation classloader...?

[2022-03-17 13:05] guhilling commented on #24371
Will do!

[2022-03-17 13:10] #24343 closed

[2022-03-17 13:13] lthasle opened #24375 "reactive: propagateHeaders don't work async"
### Describe the bug

I need to propagate header info from the server towards the RestEasy client.

In the classic environment it works fine to propagate the Authorization header included in the server request towards the RestEasy client request, even when the client request is executed async with a ManagedExecutor.

This is accomplished with adding the following to the [application.properties](ht

[2022-03-17 13:50] francoisvandenplas commented on #23804
We have the same HR000061 issue with Panache + Smalltye-amqp + postgresql but only after the second message consumed .

[2022-03-17 14:05] estet90 opened #24377 "Using Slf4J instead of Jboss Logger"
### Description

Now Jboss Logger is used everywhere in the Quarkus libraries. If I want to use a Log4J2 in my projects and send logs through it, for example, TCP, Quarkus logs do not get into the log collection system. Is it possible to do it by analogy with Spring, using Slf4J in the libraries, so that the developer himself can determine the implementation?

### Implementation ideas

_No respons

[2022-03-17 14:06] rsvoboda opened #24378 "KafkaDevServicesContinuousTestingWorkingAppPropsTestCase / PriceResourceET do not indicate recovery is tested, logs with test errors"
### Describe the bug

KafkaDevServicesContinuousTestingWorkingAppPropsTestCase / PriceResourceET do not indicate recovery is tested, logs with test errors

When I executed `KafkaDevServicesContinuousTestingWorkingAppPropsTestCase` I thought there is a hidden issue and talked to @cescoffier  about it.

Clement Escoffier: the error is actually expected, because we introduce an invalid configuration

[2022-03-17 14:28] #24377 closed

[2022-03-17 14:47] phhoef commented on #14471
@gsmet @aloubyansky thanks for your fast response and sorry for not providing enough information.
Not aware if there is a method of listing all installed extension.
I understood, that the extensions are just the dependencies of my project:
[code]

The app runs in a docker container through docker-compose and is started in dev mode.
Not sure how to double check if dev mode was actually used, but li

[2022-03-17 15:02] aloubyansky commented on #14471
Ah, it's `remote-dev`? We are probably not exposing it in this case for safety reasons?

[2022-03-17 15:05] machi1990 commented on #24279
I see. The project is based/insipired on/by the one I linked above.

I do not think the team has some cycle doing this. I welcome contributions though and I'll be happy to review the work.

[2022-03-17 15:06] geoand commented on #14471
DevUI is indeed not exposed when running `remote-dev`.

It is **only** exposed when running `mvn:quarkus-dev`, absolutely nothing else.

[2022-03-17 15:12] phhoef commented on #14471
Again, thanks for explanations.
I was following this tutorial: https://blog.sebastian-daschner.com/entries/quarkus-remote-dev-in-containers-update

Not sure, but I think the app is not running in `remove-dev` in the docker container, right?
I am issuing the `mvn quarkus:remote-dev` on my machine to get live reloading through the container.

The default index page is working. When trying to open th

[2022-03-17 15:28] estet90 commented on #24377
You did not understand me. I want quarkus logs, for example, service start logs, to be forwarded to log4j2, and then I could send them anywhere

[2022-03-17 15:32] u6f6o commented on #24210
just for the protocol: The OOM only occurs only with `QuarkusTestResourceConfigurableLifecycleManager`. I adapted my tests and used `QuarkusTestResourceLifecycleManager` solely and the OOM vanished.

[2022-03-17 15:38] geoand commented on #24377
What'l does forward logs to Log4j2 mean?
As I explained, we won't be supporting it.

We do however have various transport mechanisms for JBoss Logmanager

[2022-03-17 15:52] leotu commented on #24279
- The file [QuartzScheduler.java](https://github.com/quarkusio/quarkus/blob/main/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java) method [getSchedulerConfigurationProperties](https://github.com/quarkusio/quarkus/blob/main/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java#L418) is private access modifier, if it change to pr

[2022-03-17 15:56] nunocasteleira commented on #23734
It is still impossible to use the full range of templating features, such as this one:
`@Message("A booking for user {user} in the selected period {#each period}{it}{#if it_hasNext}, {/if}{/each} already exists.")`.

[2022-03-17 16:30] manofthepeace commented on #24349
Same applies to the PUT method. In our case we added the following on top of the affected methods;
`@ClientHeaderParam(name = HttpHeaders.CONTENT_LENGTH, value = "0")`

[2022-03-17 16:48] aloubyansky commented on #24229
https://github.com/aloubyansky/quarkus/commit/a0d8601ed6fd70e144de790dab4bdd9013fa8ab3 appears to fix it. It replaces the current TCCL which is the augment CL with the deployment CL. @stuartwdouglas what do you think about that?

[2022-03-17 16:57] PieterDr opened #24380 "Last-Modified response header is not properly handled in QuarkusTests using MockHttpEventServer"
### Describe the bug

I am using RestAssured in a QuarkusTest to test a RestEasy resource endpoint that returns a response containing the header:

`Last-Modified: Tue, 26 Oct 2021 01:01:01 GMT`

The test goes as follows:
[code]

The test fails with the following output:

Expected header "Last-Modified" was not "Tue, 26 Oct 2021 01:01:01 GMT", was "26 Oct 2021 01:01:01 GMT". Headers are:
content-le

[2022-03-17 17:22] rmanibus commented on #24254
So I have
[code]
Can we simplify ```SIMPLE_TRIGGER_MISFIRE_INSTRUCTION_FIRE_NOW``` and ```CRON_TRIGGER_MISFIRE_INSTRUCTION_FIRE_ONCE_NOW``` with a single MISFIRE_INSTRUCTION_FIRE_NOW ?

[2022-03-17 17:41] paulrobinson commented on #21435
@cescoffier do you have a link to the PR where "Reactive Messaging 1.12.1 has been integrated"?

I'm confused as I see smallrye-reactive-messaging is all the way up to 3.15.0: https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml#L54

[2022-03-17 17:42] machi1990 commented on #24254
+1, that's much better.

[2022-03-17 17:52] famod commented on #24229
Interesting! I was thinking about that as well, but after seeing that `ModuleTestRunner` is using the augmentation classloader to run that `Runnable` from `JunitTestRunner`, I was under the impression that has to be/stay like that.

[2022-03-17 17:53] machi1990 commented on #24254
I am wondering if we could drop the _MISIRE_INSTRUCTION_
[code]

what do you think? @rmanibus
Also I am not so sure if `CRON_TRIGGER_DO_NOTHING` is the same as `IGNORE_MISFIRE_POLICY` under the hood. If so, we could combine the two into `DO_NOTHING`.

[2022-03-17 18:11] rmanibus commented on #24254
Yes it's more readable like this. the CRON_TRIGGER_DO_NOTHING  and IGNORE_MISFIRE_POLICY  are not identical under the hood:
[code]
and
[code]

[2022-03-17 18:42] MikeEdgar commented on #24344
Agreed - it would be good to include the fix as a backport in 2.7. It should be as simple as bumping the smallrye-open-api version.

[2022-03-17 18:42] cescoffier commented on #21435
It was in 3.12, not 1.something.

[2022-03-17 18:51] cescoffier commented on #23805
Can you open a new issue with the reproducer instead of reopening this one? For sure gRPC interceptor we're not handle by the current PR.

[2022-03-17 19:09] evanchooly commented on #23746
So I've poked at this a bit and i think the changes (more specifically where) that are likely needed needs someone a bit more familiar with the caching code.  Perhaps @mkouba would know or know who to ping?

[2022-03-17 19:18] gwenneg commented on #23746
I can help with that @evanchooly.

[2022-03-17 19:38] mkouba commented on #23734
@nunocasteleira what kind of error do you get?

[2022-03-17 19:39] radcortez commented on #23805
Yes, the  OTel gRPC library `io.opentelemetry.instrumentation:opentelemetry-grpc`, does not work with Quarkus currently, so we added our own integration. I need to have a better look to see what is not working exactly so I can suggest some changes upstream.

Anyway, gRPC instrumentation is automatic if the gRPC extension is available for your project (plus the OTel Extension).

[2022-03-17 19:54] #24329 closed

[2022-03-17 19:55] #24366 closed

[2022-03-17 20:03] nunocasteleira commented on #23734
@mkouba
`Caused by: io.quarkus.qute.TemplateException: Found template problems (1):
[1] Incorrect expression found: {it_hasNext}
	- it_hasNext is not a parameter of the message bundle method net.appname.i18n.ErrorMessages#bookingAlreadyExists()`

[2022-03-17 20:30] Paul6552 commented on #24371
Not sure, because of the "modulation" I stopped at 2.6.3 as well and I think many developer stay a few versions below the latest one as well. So let's see :)

I am using LocalDateTime as well in my code. In the next days I will upgrade for testing purposes to the latest version.

[2022-03-17 20:31] #23942 closed

[2022-03-17 20:33] mkouba commented on #23734
Ok, so it's the iteration metadata. I'll try to prepare a fix tomorrow.

[2022-03-17 20:35] Postremus opened #24384 "Hot reload does not build multi module project in correct order"
### Describe the bug

I have a multi module project, where I get exceptions on hot reload.
If I only change one module at a time (and hot reload), no exception is thrown.

If i change multiple modules at the same time however, I get the exception from below.

In a related bug, #23164, only one additionalModule existed other than the applicationArchive. #24187 was the fix for that situation.

Howev

[2022-03-17 20:47] Postremus commented on #24384
FTR. `DevModeContext#additionalModules` has the modules sorted like:
*  rest
* service

In this constellation, hot reload fails.

If I now switch them around (in my debugger), so that service is before rest, it works.

/cc @aloubyansky fyi. This might be related with how the maven plugin resolves dependencies.

[2022-03-17 21:40] aloubyansky commented on #24384
Thanks for the report @Postremus

[2022-03-17 22:02] trfulcher commented on #24371
This is an interesting thread since I seem to be banging my head on the same issue using 2.7.4-FINAL with quarkus-amazon-lambda-rest and resteasy dependencies. That said I _just_ got it working by declaring quarkus-resteasy-jackson over quarkus-resteasy-jaxb. I'd earlier proved the 3 extra modules were registered by dumping out all registered ones on startup

[2022-03-18 07:14] mkeysan opened #24391 "com.google.protobuf-protoc-linux-x86_64-exe: 1: cannot open !--: No such file"
### Describe the bug

Quarkus maven install command doesn't work after platform version 2.6.3.Final.

Everything is normal in version 2.6.3.Final, but for versions after 2.7.**, even if it is exist in the /target, it's getting an error as follows;
`com.google.protobuf-protoc-linux-x86_64-exe: 1: cannot open !--: No such file `

pom.xml;
`<properties>
    <quarkus.platform.version>2.7.4.Final</quar

[2022-03-18 07:29] geoand commented on #24349
I don't have a way to test it, but https://github.com/quarkusio/quarkus/pull/24392 should cover it

[2022-03-18 07:37] #24364 closed

[2022-03-18 07:38] mkeysan opened #24393 "com.google.protobuf-protoc-linux-x86_64-exe: 1: cannot open !--: No such file"
### Describe the bug

Quarkus maven install command doesn't work after platform version 2.6.3.Final.

Everything is normal in version 2.6.3.Final, but for versions after 2.7.**, even if it is exist in the /target, it's getting an error as follows;
`com.google.protobuf-protoc-linux-x86_64-exe: 1: cannot open !--: No such file `

pom.xml;
`<properties>
    <quarkus.platform.version>2.7.4.Final</quar

[2022-03-18 07:43] #24344 closed

[2022-03-18 08:11] #24391 closed

[2022-03-18 08:12] geoand commented on #24375
@michalszynkiewicz are you looking at this one or do you want me to?

[2022-03-18 08:17] michalszynkiewicz commented on #24375
I'm on it

[2022-03-18 08:17] michalszynkiewicz commented on #24375
thanks for handling the zero content length :)

[2022-03-18 08:24] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2002390594

[2022-03-18 08:27] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2002390594

[2022-03-18 08:51] evacchi commented on #12486
use of old assertJ API. I think we are erroneously depending on the AssertJ version that is shipping with Quarkus somehow

[code]

[2022-03-18 08:55] lamemind-ud opened #24394 "Panache: give a flush() method that pinpoints the right PU"
### Description

I'm using multiple named PUs.

There are two ways to `flush()` from a Panache repository

- `persistAndFlush()` which is fine IF I want to store an entity itself... But If I run several `update()` and then I want to flush, persistAndFlush is not the correct answer.
- then there is `flush()`: it works only on the default PU, which is not my case since the repo's entity is configure

[2022-03-18 08:58] XSAM opened #24395 "gRPC service throw warning when using @Blocking and OpenTelemetry gRPC interceptor"
### Describe the bug

Calling a gRPC method with @Blocking annotation with gRPC interceptor produces warnings when enabling [io.opentelemetry.instrumentation:opentelemetry-grpc-1.6:1.10.0-alpha](https://mvnrepository.com/artifact/io.opentelemetry.instrumentation/opentelemetry-grpc-1.6/1.10.0-alpha) and io.quarkus:quarkus-opentelemetry-exporter-otlp.

It does not affect gRPC methods without @Blocki

[2022-03-18 08:59] gsmet opened #24396 "[CI] - Jakarta Rewrite + Quarkus main"
This issue will be open and closed dependent on the state of Jakarta Rewrite building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2022-03-18 08:59] XSAM commented on #23805
Sure thing. See https://github.com/quarkusio/quarkus/issues/24395

[2022-03-18 09:01] loicmathieu commented on #24394
@lamemind-ud the flush method of the repository should use the right PU, if not, it's a bug.
Can you validate that it didn't work as expected and create a reproducer ?

[2022-03-18 09:01] michalszynkiewicz commented on #24375
@lthasle quarkus-rest-client-reactive relies on a request-scoped bean for propagating the headers.
That's why, smallrye context propagation needs to work when offloading client invocation elsewhere.
Unfortunately, it looks like the following (as you have in your app), doesn't propagate the context to the executed actions:
[code]

The following works:
[code]

@FroMage @manovotn is `CompletableFutur

[2022-03-18 09:07] loicmathieu commented on #24394
I check the code and yes, it flushes on the default entity manager, see https://github.com/quarkusio/quarkus/blob/main/extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheRepositoryBase.java#L114

I'll check if we can flush on the right PU instead.

[2022-03-18 09:09] michalszynkiewicz commented on #24375
BTW, Lars, what's your use case for explicit offloading of an execution? Could you do sth like this instead:
[code]

[code]

[2022-03-18 09:09] gsmet opened #24397 "Stork quickstart failing in native build"
Yesterday's quickstarts native build failed with the error below. I think it's worth investigating.

[code]

See https://github.com/quarkusio/quarkus-quickstarts/runs/5594963820?check_suite_focus=true

[2022-03-18 09:10] gsmet commented on #24397
/cc @aureamunoz too

[2022-03-18 09:14] paulrobinson commented on #23684
Thanks all for explaining.

[2022-03-18 09:17] manovotn commented on #24375
@michalszynkiewicz I don't think this can work if you directly invoke the static method.
CP has a wrapper for [`CompletableFuture`](https://github.com/smallrye/smallrye-context-propagation/blob/main/core/src/main/java/io/smallrye/context/CompletableFutureWrapper.java) but we cannot override the static method and hence have no means of capturing the current context before delegating to the executor

[2022-03-18 09:20] michalszynkiewicz commented on #24375
Thanks Matej!

[2022-03-18 09:24] michalszynkiewicz commented on #24397
thanks @gsmet !

[2022-03-18 09:30] liweinan commented on #12941
@asoldano Okay! Sorry I was working on other issues these days and missed this.

This is related with : https://github.com/quarkusio/quarkus/issues/9671#issuecomment-1064174024

I'll check this.

[2022-03-18 09:30] geoand commented on #24375
So it sounds like this should be closed, correct?

[2022-03-18 09:53] cescoffier commented on #24375
Well, I would add: do not use CompletableFuture :-D

[2022-03-18 10:02] aureamunoz commented on #24397
yep, I need to push the PR with changes....soon!

[2022-03-18 10:04] geoand commented on #24375
As we have `Uni` 😉

[2022-03-18 10:17] lamemind-ud commented on #24394
Thanks @loicmathieu
I'll wait for updates!

[2022-03-18 10:23] bpasson opened #24401 "Picocli with @QuarkusMain fails when producer methods need CommandLine.ParseResult"
### Describe the bug

When using the `CommandLine.ParseResult` in producer methods when creating a PicoCLI command mode application with my own `@QuarkusMain` as described here https://quarkus.io/guides/picocli#providing-own-quarkusmain an exception is thrown, see actual behaviour.

### Expected behavior

The application to run and have the `CommandLine.ParseResult` injected in the producer method

[2022-03-18 10:23] #24375 closed

[2022-03-18 10:35] lamemind-ud commented on #24394
@loicmathieu maybe this could help

You can get the `class` instance from the generic type, and then you can get che EntityManager for that class

[code]

[2022-03-18 10:39] loicmathieu commented on #24394
@lamemind-ud thanks for the tip, you can use it as a workaround on your code. On Panache, we have already the infrastructure to  get the correct entity manager, it's used in a lot of places (via bytecode enhancement so not visible on the Quarkus source code) but not on the flush method.

[2022-03-18 10:48] #24349 closed

[2022-03-18 10:50] geoand commented on #24239
I assume this will be a standalone doc, correct?
Where will be linked from?

[2022-03-18 11:15] radcortez commented on #24395
The gRPC OTel library does not work out of the box, because the interceptors need to be integrated manually. I've added support for gRPC directly into Quarkus here: https://github.com/quarkusio/quarkus/pull/24117

Are you able to try the main version? Thanks!

[2022-03-18 11:17] nunocasteleira commented on #23879
@radcortez I'm not able to reproduce this error on a clean project, so clearly I'm doing something wrong. In theory this is what I want to do and on this repo it is working: https://github.com/nunocasteleira/quarkus-error-on-validation

[2022-03-18 11:18] fedinskiy opened #24402 "Reactive Rest client downloads only first 2G of file"
### Describe the bug

When user tries to download file bigger, than 2G, reactive rest client trims the file at 2044 MiBs, and there are numerous OOM exceptions in logs.

### Expected behavior

Any files should be downloaded completely, or at least, fail with exception. See also https://github.com/quarkusio/quarkus/issues/22218 for the server counterpart.

### Actual behavior

_No response_

### Ho

[2022-03-18 11:36] mkouba commented on #23734
@nunocasteleira here it is: https://github.com/quarkusio/quarkus/pull/24403

[2022-03-18 11:44] xtaixe opened #24404 "Classes might be transformed twice in some cases"
### Describe the bug

Seeing the following error when running integration tests: `Caused by: java.lang.ClassFormatError: Duplicate method name "<init>" with signature "()V" in class file org/acme/testcoverage/GreetingService2`, so classes might be transformed twice or there might be some transformation checks missing.

How I got there is a bit unorthodox, but raising the issue anyway in case there

[2022-03-18 11:49] mkouba commented on #23807
Well, it's a known issue but I have no idea how to detect these cases...

Yes, a general workaround is to fetch the config lazily at runtime. You can do the same with `@ConfigProperty Instance<TYPE>` as well; in this case you can leverage the [`@io.quarkus.arc.WithCaching` annotation](https://quarkus.io/guides/cdi-reference#caching-the-result-of-programmatic-lookup) to avoid property lookup for ev

[2022-03-18 12:06] fedinskiy opened #24405 "Reactive Rest client can not upload files bigger, than 2G"
### Describe the bug

Quarkus Rest Reactive client fails with OutOfMemory error when uploading files bigger than 2G.

### Expected behavior

Reactive client should be able to process files of any size.

### Actual behavior

Sending fails with `HTTP Request to /client-wrapper/upload-file failed, error id: 6fdd4d92-5bb6-49df-bd70-c5e3671bbad3-1: java.lang.OutOfMemoryError`

### How to Reproduce?

1.

[2022-03-18 12:06] OleKsimov opened #24406 "Unexpected logging behavior and warning message"
### Describe the bug

Hi guys!

I don't know if it's a bug or not.

1) When I set the following properties in a new project:

[code]

I receive warning in logs:

Some trace logs are displayed anyway.

2) In the test, I'm injecting UserTransaction class and then calling:

userTransaction.begin();

And I would expect TRACE logs to be shown, but when BaseTransaction.begin checks logging level:

`if (

[2022-03-18 12:20] michalszynkiewicz commented on #24402
Can you check if it works for multipart messages? I think this is the more common way of downloading files.

[2022-03-18 12:45] michalszynkiewicz commented on #24402
Also, how do I debug this test? It seems there's a bit more forking than usual ;)

[2022-03-18 12:48] lamemind-ud commented on #24394
@loicmathieu
Actually I was suggesting a fix for `PanacheRepositoryBase::flush()`

`PanacheRepositoryBase` relies on `JpaOperations` to get the right EntityManager.
`JpaOperations` has map entityToPersistenceUnit map indexed with the entities' classes.

So you can refactor the `flush` method as follow
[code]

[2022-03-18 13:14] patriot1burke commented on #24361
I like this idea.

[2022-03-18 13:24] loicmathieu commented on #24394
@lamemind-ud as I said, we have a better alternative for this based on our bytecode enhancement mechanism and some internal classes that already contains this piece of code.

[2022-03-18 13:40] michalszynkiewicz opened #24409 "protoc-less code generation"
### Description

Currently, we use protoc to generate code from Java. One of the drawbacks of it is that grpc code cannot be generated on powerpc.
This task is about replacing protoc with pure Java solution

### Implementation ideas

Maybe we can use/reuse some of https://github.com/square/wire

[2022-03-18 13:52] mkouba commented on #24279
@leotu I don't think that you need to "override" the `QuartzScheduler` bean. Instead, we should allow users to specify a custom `io.quarkus.quartz.runtime.StoreType`, i.e. introduce `StoreType.CUSTOM` and `quarkus.quartz.custom-store-class` or something like that... @machi1990 WDYT?

[2022-03-18 13:53] mkouba commented on #21948
Hm, I don't understand how the `@CurrentThreadContext` annotation should be used. Do we have any docs/examples?

[2022-03-18 14:13] manofthepeace commented on #24349
I just tested using latest main that includes your commit and it seems to work as expected. Thank you

[2022-03-18 14:17] geoand commented on #24349
Awesome, thanks!

[2022-03-18 14:21] gastaldi commented on #24393
@mkeysan I couldn't reproduce this by following the `How to Reproduce` steps, can you attach a simple project that reproduces the issue?

Also, make sure that the file in your local maven repository isn't broken by performing a `rm -rf ~/.m2/repository/io/grpc` first

[2022-03-18 14:35] #24101 closed

[2022-03-18 14:40] manovotn commented on #21948
So, quickly looking into it, it allows to temporarily override the thread context settings.

I.e. there is some global settings that are applied WRT what contexts are propagated/cleared. This annotation changes it for the scope of the method. That means that any CP action originating from that method can choose to propagate something different to what it would normally do.

It is however an interc

[2022-03-18 14:49] machi1990 commented on #24279
I was thinking something along the same line but native could get trick to get right. Do we just register the custom store class for reflection and leave the rest to the user to figure out?

[2022-03-18 15:09] geoand commented on #24239
I opened https://github.com/quarkusio/quarkus/pull/24411 to start addressing this.

[2022-03-18 15:23] josephearl opened #24412 "REST clients are documented in Open API and clients with the same path as controllers cause incorrect Open API documentation for the controllers"
### Describe the bug

I have a controller as follows:

[code]

where `FooClient` is:

[code]

The Open API documentation is correctly displayed in Swagger UI.

![1-only-controller](https://user-images.githubusercontent.com/2513147/159031359-7668ac1c-f8ee-4c99-9df2-c30fb25c1995.png)

If I add the JAX RS annotations to `FooClient` as follows:

[code]

Then it replaces the Open API documentation from

[2022-03-18 15:51] gsmet commented on #24412
Can you try to override the `smallrye-openapi` version to `2.1.22` in your project and see how it goes?

We had a similar report and things should be fixed in this version.

[2022-03-18 15:53] boev commented on #18333
For me this still happens in quarkus 2.7.1:
`<quarkus.platform.version>2.7.1.Final</quarkus.platform.version>`

I have a property Class mapped with @ConfigMapping. Injecting the property class inside

`public class RequestSecurityFilter implements ContainerRequestFilter`

Fails the Application with "Could not find mapping for ...."
Injecting the property class anywhere else works.

[2022-03-18 16:00] michalszynkiewicz commented on #24402
Do your have the code for which you got this exception?

Thanks for checking!

[2022-03-18 16:10] mkouba commented on #24279
Yes, it would be the responsibility of the user. I think that we can't do much without a proper extension...

[2022-03-18 16:12] fedinskiy commented on #24405
When File is passed through multipart, the client fails with much more informative `Request Entity Too Large`. Steps to reporduce are the same, but last step should look like that: `mvn clean verify -Dit.test=FileIT#uploadMultipart`

[2022-03-18 16:17] fedinskiy opened #24415 "NPE in Rest client when downloading multipart with File"
### Describe the bug

REST client fails with NPE when downloading multipart forms.

### Expected behavior

Rest client should download multipart forms successfully, like it currently do with uploading.

### Actual behavior

Downloading fails with exception:

[code]

### How to Reproduce?

On any machine with installed `bash`, `truncate` and `md5sum`:

1. `git clone git@github.com:fedinskiy/quarkus

[2022-03-18 16:21] gsmet commented on #24405
@michalszynkiewicz a lot of APIs out there allow to download files (typically the GitHub API).

[2022-03-18 16:31] josephearl commented on #24412
I tried that @gsmet but it did not fix or improve anything

I changed `enforcedPlatform` to `platform` for the Quarkus platform and added:

[code]

And it seems to have worked overriding the version:

[code]

[2022-03-18 16:36] gsmet commented on #24412
Could you prepare a small reproducer?

[2022-03-18 16:37] machi1990 commented on #24279
Make sense. @leotu is this something that could suffice your usecase? Or you still need a way to add additional properties?
if so, those could be supplied as a `quarkus.quartz.custom-store-properties."<name>"=value` and they'll get appended to the quartz base properties in the method [getSchedulerConfigurationProperties](https://github.com/quarkusio/quarkus/blob/main/extensions/quartz/runtime/src/

[2022-03-18 16:52] Aleksandr-Filichkin commented on #20891
any progress so far?

[2022-03-18 17:18] radcortez commented on #18333
Is your mapping annotated with `@StaticInitSafe`?

[2022-03-18 17:25] josephearl commented on #24412
Here you go @gsmet https://github.com/josephearl/quarkus-24412

[2022-03-18 17:56] josephearl commented on #24412
OK so it looks the issue is because I have another bean `FakeFooClient` for testing which implements `FooClient`:

[code]

and that is causing the documentation issue

If I refactor it to move the annotations out of that `FooClient` interface:

* `FooClient` - just the method definition, no annotations
* `FakeFooClient implements FooClient` - as before
* `RestFooClient extends FooClient` - adds th

[2022-03-18 18:19] jorsol commented on #20891
haven't tested myself, but it looks like Mandrel 21.3.1.1 fixes this issue:
https://github.com/graalvm/mandrel/releases/tag/mandrel-21.3.1.1-Final

[2022-03-18 21:15] nandorholozsnyak commented on #24361
Cool. Any idea to overcome the problem by not having Dev UI when using only the `quarkus-amazon-lambda` extension? Or if it would have the resources for it, would the dev ui be launched?

[2022-03-18 21:55] AmsterdamFilho commented on #24367
But here is the generated query
[code]

And the exception message is `io.vertx.pgclient.PgException: ERROR: syntax error at or near "cross" (42601)`

[2022-03-18 22:54] michalszynkiewicz commented on #24397
this should be fixed now

[2022-03-18 22:54] #24397 closed

[2022-03-18 23:02] #20733 closed

[2022-03-18 23:38] Rigobertomarro commented on #20505
Vemos

[2022-03-19 04:04] liangyuanpeng commented on #14051
@geoand  Thanks for your work and how can we get the request headers if we can't use `@RequestHeader`

I have try this and also failed. It just tell me `javaax.ws.rs.NorSupportException`
[code]

Thanks any help.

[2022-03-19 05:51] leotu commented on #24279
Yes, "StoreType.CUSTOM and quarkus.quartz.custom-store-class/quarkus.quartz.custom-store-properties" it should be solve my problem, something like [Trigger/Job listeners](https://quarkus.io/guides/quartz#quarkus-quartz_quarkus.quartz.trigger-listeners-trigger-listeners)

[2022-03-19 07:29] machi1990 commented on #24279
Perfect. Just a note though, and I have said it before: getting the custom store to work in native will be up to the user.

Would you have some time to look into the issue and come up with the PR based on what is proposed? @leotu

[2022-03-19 11:59] mkeysan commented on #24393
This error occurs when I use maven which is already installed on my ubuntu. It worked when I used the "mvnw" included in the project and after clearing the .m2 repository. They both are same maven version and using same java version. However, I don't understand why the error occurs.

[2022-03-19 13:14] gastaldi commented on #24393
Good to know it's fixed. Closing now

[2022-03-19 13:14] #24393 closed

[2022-03-19 18:41] awelless opened #24423 "Failed to build native image with hibernate-orm-panache-kotlin"
### Describe the bug

Error occurres during native build.
[code]

### Expected behavior

Native image should be built without any issues

### Actual behavior

Native image build fails:
[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Linux 5.4.0-97-generic #110-Ubuntu SMP Thu Jan 13 18:22:13 UTC 2022 GNU/Linux

### Output of `java -version`

openjdk 11.0.14

### GraalVM ve

[2022-03-19 20:23] romilpunetha opened #24424 "Cannot invoke "io.opentelemetry.extension.annotations.WithSpan.value()" because "annotation" is null"
### Describe the bug

I've created a base module with mongodb panache and opentelemetry. I've marked all the base functions with `@WithSpan`. On hitting create, I'm getting the following error:

[code]

It's failing on one of my services for all create calls whereas works on the other service which also uses create from the base class in the parent module.

This is happening in an http call.

###

[2022-03-19 20:50] gsmet commented on #24424
It would be helpful if you could provide a small reproducer.

[2022-03-19 23:28] phillip-kruger commented on #24412
Can you try with the latest snapshot ? I think this might be fixed

[2022-03-20 12:07] MikeEdgar commented on #24412
@josephearl you might also try using `mp.openapi.scan.exclude.classes` to exclude the `FakeFooClient`.

[2022-03-20 12:37] #24254 closed

[2022-03-20 12:39] #24174 closed

[2022-03-20 12:40] plevart opened #24426 "quarkus-rest-client-reactive does not URL encode some @QueryParam values"
### Describe the bug

When the value of a query parameter contains a pattern `{ ... anything ...}` or `%<hex-digit><hex-digit>` that part of the value is left untouched and not URL encoded. This can then result in wrong invocations of REST service or in exceptions such as this:
[code]

The culprit is the class `org.jboss.resteasy.reactive.client.impl.WebTargetImpl` which uses its embedded `uriBuil

[2022-03-20 12:40] #24176 closed

[2022-03-20 12:41] #24175 closed

[2022-03-20 12:44] gsmet commented on #24426
Thanks for the detailed analysis @plevart .

@michalszynkiewicz @geoand let's try to fix this before CR1 if we can.

[2022-03-20 13:22] plevart commented on #24426
Perhaps the following method should be called from the generated `XXX$$QuarkusRestClientInterface` class:
`org.jboss.resteasy.reactive.client.impl.WebTargetImpl#queryParamNoTemplate` instead of `org.jboss.resteasy.reactive.client.impl.WebTargetImpl#queryParam` . The former uses exactly the right method `org.jboss.resteasy.reactive.common.jaxrs.UriBuilderImpl#clientQueryParam`

[2022-03-20 13:48] gsmet commented on #24426
@plevart maybe you want to try to prepare a PR with a test? Even just the test would be helpful.

[2022-03-20 13:58] igorregis commented on #21985
Hi, I would like to sign up for this issue. I have been doing some tests and I guess I got the point to correctly implement it.

[2022-03-20 14:02] cescoffier commented on #24395
@radcortez why did you re-open the issue? Shouldn't it be closed as you added the support?

[2022-03-20 14:38] liuzhaozhao commented on #15742
I have also encountered this problem. Every time the service is shut down, there are always some exceptions, such as: Database related "(RECIPIENT_FAILURE,8191) Pool closed", Event bus related "(NO_HANDLERS,-1) No handlers for address", This exception is often caused by resources not being shut down in the usual order.

"Quarkus.shutdown. timeout" and "quarkus.thread-pool. Shutdown-timeout" and th

[2022-03-20 15:33] Plawn opened #24428 "URL routes not properly matched"
### Describe the bug

Given the controller:

[code]

and the url: /recrutment/7/table?page=1

i expect the `@GET @Path("/recrutment/{sessionId}/table") //` to be called but I get a 404

### Expected behavior

The proper endpoint is called

### Actual behavior

I get a 404

### How to Reproduce?

1. Create a resteasy-reactive project Quarkus 2.7.5.Final
2. Create the endpoint describe previously
3.

[2022-03-20 15:53] Plawn commented on #24428
moving it to another controller with less routes fixed the issue

[2022-03-20 16:29] gsmet commented on #24428
Could you provide a small reproducer?

[2022-03-20 18:11] durran-kelly opened #24430 "Quarkus JDBC Postgresql does not support Postgis"
### Describe the bug

I am trying to read Postgis geometry from postgresql data source via Quarkus JDBC. Whenever I call the following: <br><br>`resultSet.getObject("name_of_column_with_dataType_of_geometry", PGgeometry.class);` <br><br> I get the following error: <br><br> `Cannot cast org.postgresql.util.PGobject to net.postgis.jdbc.PGgeometry` <br><br> Simply removing `quarkus-jdbc-postgresql` d

[2022-03-20 18:33] gsmet commented on #24430
A reproducer project would help.

[2022-03-20 18:40] patriot1burke commented on #24361
@nandorholozsnyak I haven't looked into the Dev UI because it worked for me last time I tried it (after people complaining)  What didn't work was running tests from Dev UI.

[2022-03-20 18:56] #23948 closed

[2022-03-20 19:41] romilpunetha commented on #24424
I'll try to.
Meanwhile, similar issue faced when annotating my cache repository:

[code]

[2022-03-20 21:57] famod commented on #24406
I'll send a PR soon that'll remove that warning

but turns out that this is _not_ the root cause:
The same code in a Maven project will print `BaseTransaction` messages just fine (and also that warning).

So it seems to be a gradle specific problem? cc @glefloch

[2022-03-20 22:21] gsmet commented on #24406
Well, that warning shouldn't be entirely removed. But if it appears when `min-level` is properly set up, there's probably something fishy.

[2022-03-20 22:23] famod commented on #24406
Right, that's not what I'm going to do. The warning is a false negative here and that's what I'm going to fix.

[2022-03-20 22:23] gsmet commented on #24380
@patriot1burke this looks like one for you.

[2022-03-20 22:27] #24341 closed

[2022-03-20 22:28] gsmet commented on #24283
@famod any comment on that? I would prefer we do not ship 2.8 with this.

[2022-03-20 22:54] famod commented on #24283
Sorry, I must have missed your previous message.

A very straight foward hack would be:
- either set system property `quarkus.log.category."org.jboss.threads".level=WARN` in `static` initializer of `BasicLoggingEnabler`
- or try to modify the logger after the actual activation in `BasicLoggingEnabler`

There is a clean, general switch in the works for various libs, right? Or was that just an idea

[2022-03-20 23:35] famod commented on #24229
@aloubyansky your change does seem to fix this issue! 👍
The annotation issue in #24257 requires more work/fixes, though.

[2022-03-20 23:41] jimbogithub commented on #23997
Another issue with the **SSE Client Reactive** is that it does not propagate the entity in the WebApplicationException.  I think this is a known issue as there are comments in the code to that effect.

This is a more serious issue as I was hoping to switch to the reactive client as it properly implements `connection-ttl` as documented in https://quarkus.io/guides/all-config#quarkus-rest-client-con

[2022-03-21 00:17] igorregis commented on #21985
I've got the fix done, but not in a way I would like to. The reason is the AnnotationInstance misbehavior.

The getBooleanValue method (below) of the class RegisterForReflectionBuildStep uses it to get the value of the annotation.
https://github.com/quarkusio/quarkus/blob/fe7332e0585e4f83b674357857369fe28cbcbbdf/core/deployment/src/main/java/io/quarkus/deployment/steps/RegisterForReflectionBuildSt

[2022-03-21 05:23] geoand commented on #24426
@michalszynkiewicz I vaguely remember this coming up before...

[2022-03-21 05:43] geoand commented on #24402
I'll take a look at the regular download part

[2022-03-21 06:49] geoand commented on #24402
@michalszynkiewicz I am taking care of the regular file download part. Are you going to look at the Multipart issue?

[2022-03-21 07:08] geoand commented on #24405
I'll have a look

[2022-03-21 07:19] cescoffier commented on #24148
I've tried without luck, so a reproducer would be really great.

[2022-03-21 07:30] #24338 closed

[2022-03-21 07:47] geoand commented on #24405
This is a message returned by the Server. You need to configure Quarkus with something like: `quarkus.http.limits.max-body-size=2050m`.
See [this](https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.limits.max-body-size) for more information

[2022-03-21 08:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2014236449

[2022-03-21 08:12] #24327 closed

[2022-03-21 08:25] geoand commented on #22780
Closing this

[2022-03-21 08:25] #22780 closed

[2022-03-21 08:28] evacchi commented on #12486
this should address the issue (but I am not sure if it can be merged on `main`) https://github.com/kiegroup/kogito-runtimes/pull/2093

[2022-03-21 08:40] mkouba opened #24439 "Hibernate ORM - place PersistenceProviderSetUpBuildItem in an SPI module"
### Description

So that any extension that needs to execute a build step AFTER the persistence providers are set up can consume this SPI build item without introducing a dependency on `quarkus-hibernate-orm-deployment`.

Furthermore, it seems odd that the `PersistenceProviderSetUpBuildItem` extends `MultiBuildItem`. Is there a good reason for this design decision given the fact that ORM and HR ca

[2022-03-21 08:42] #24426 closed

[2022-03-21 08:43] geoand commented on #24428
So if I understand the issue correctly, you are saying that using the same prefix on different JAX-RS classes does not work?
If so, then that is expected by the spec AFAIR

[2022-03-21 08:46] gsmet commented on #24283
In the end, the native issue was fixed another way. But I wonder if we should do it anyway given this issue.

Anyway, we need a quick fix.

But are the logging categories taken into account at this point? Because the issue is that the filters are not?
In any case, if we change the category, we probably need to restore it at some point.

[2022-03-21 08:59] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2014236449

[2022-03-21 09:03] geoand commented on #24415
@michalszynkiewicz are you looking into this one or do you want me to?

[2022-03-21 09:03] stuartwdouglas commented on #24229
That approach seems correct, the fact it was not using it must have been an oversight on my part.

[2022-03-21 09:09] michalszynkiewicz commented on #24415
No, I'm at other issues at the moment.

[2022-03-21 09:12] geoand commented on #24415
Hopefully not the ones I have already opened PRs for :)

[2022-03-21 09:17] aloubyansky commented on #24229
Thanks @stuartwdouglas I'll open a PR then

[2022-03-21 09:26] gsmet commented on #24439
We want to change that at some point in the future.

[2022-03-21 09:29] gsmet commented on #24439
@mkouba I had the same thought this week-end but I was wondering if it could be a more general issue than just Hibernate ORM? E.g. maybe all persistence layers around there could have this issue.

Thus I was wondering if we should instead provide a generic `PersistenceLayerInitializerBuildItem` in `core` that would be produced by everything that provide a persistence layer. And bonus point, it wou

[2022-03-21 09:31] josephearl commented on #24412
@MikeEdgar thanks your suggestion worked

@phillip-kruger I did try using the latest snapshot with but this gave me a build error:

[code]

[2022-03-21 09:34] josephearl commented on #24412
Happy for this to be closed given @MikeEdgar's suggestion worked

[2022-03-21 09:39] prasenjit-net commented on #11433
I am using version 2.7.1 of the plugin and still seeing the same issue, is there any fix or workaround for Gradle build for the same issue?

[2022-03-21 09:42] phillip-kruger commented on #24412
Great ! Thanks @MikeEdgar , thanks @josephearl !

[2022-03-21 09:42] #24412 closed

[2022-03-21 09:57] michalszynkiewicz opened #24441 "Create a build item to emit from steps that initialize CDI beans"
### Description

Hibernate and hibernate reactive processors initialize beans in runtime init. Possibly there are others, they maybe others outside the quarkus core repository.
`GrpcServerProcessor` needs to initialize the gRPC server after the CDI beans are initialized.

Currently we often see failures (e.g. https://github.com/quarkusio/quarkus/pull/24398) of a test that mixes hibernate reactive

[2022-03-21 10:11] maxandersen commented on #11433
@prasenjit-net please open separate issue for Gradle with as much info about your setup as they probably need separate fixes.

[2022-03-21 10:18] gsmet commented on #24441
Don't we have a build item emitted when all CDI beans have been initialized? If not, we should probably have ont?

[2022-03-21 10:21] mkouba commented on #24439
+1

It's not specific to Hibernate ORM. In general, any extension that does initialize a bean through a recorder method (which is considered a bad practice and extensions should try to leverage [synthetic beans](https://quarkus.io/guides/cdi-integration#synthetic_beans) where possible) may cause this kind of problems.

[2022-03-21 10:26] ppalaga opened #24442 "Ban org.jboss.spec.javax.el:jboss-el-api_3.0_spec"
### Describe the bug

We are already banning several other `org.jboss.spec.javax.*` specs and I wonder whether we should also ban `org.jboss.spec.javax.el:*`.

For the record, in Quarkus 2.2.5 it used to be pulled via (not sure about the current master)

* io.quarkus:quarkus-hibernate-orm-rest-data-panache
* io.quarkus:quarkus-rest-data-panache
* io.quarkus:quarkus-spring-data-rest
* org.jboss.res

[2022-03-21 10:26] ppalaga commented on #24442
cc @gsmet @maxandersen @aloubyansky

[2022-03-21 10:30] mkouba commented on #24441
There are several build items that can be used for a similar use case (e.g. `SyntheticBeansRuntimeInitBuildItem` and `BeanContainerBuildItem`)  but none that can be used when a bean is initialized by a recorder method. This would require all the build steps that perform the initialization to produce a build item of this type, e.g. `BeanInitializedBuildItem`.

The downside of this approach would be

[2022-03-21 10:33] radcortez commented on #24395
This seems to be the new issue following your comment in: https://github.com/quarkusio/quarkus/issues/23805#issuecomment-1071210302.

But the reproducer is still using the native OTel gRPC library and not our implementation, so I've suggested updating the reproducer to use our version. I've closed the issue by accident.

[2022-03-21 10:39] michalszynkiewicz commented on #24441
For gRPC this is what we're looking for, I think

[2022-03-21 10:40] Sanne commented on #24439
Do you have a pointer to some concrete need?  In particular I'm not following why you'd want to avoid depending on `quarkus-hibernate-orm-deployment` when there's an actual need for ORM.

[2022-03-21 10:53] mkouba commented on #24439
Because it might be an optional dependency? A concrete use case is described in https://github.com/quarkusio/quarkus/issues/24441 - the gRPC extension needs to initialize the server after the HT SessionFactory bean is initialized.

[2022-03-21 10:55] radcortez commented on #24424
Yes, a reproducer would be helpful. Thanks!

[2022-03-21 10:57] loicmathieu commented on #24367
This seems like an Hibernate Reactive issue which generates a wrong SQL queries from what it appears to be a valid JPQL query.

Before asking someone else to have a look I just want to check one of two small things first:

- I notice your reactive pg URL is not like the one from the guide (see https://quarkus.io/guides/hibernate-reactive-panache#setting-up-and-configuring-hibernate-reactive-with-p

[2022-03-21 11:03] mkouba commented on #24441
My problem with this approach is that it's not easy to find all cases where it's needed. Neither can we automatically detect a problem like this. In other words, it would be a lot of manual work...

[2022-03-21 11:08] Sanne commented on #24439
@mkouba ok - thanks!

Just a thought then - but if it's `optional` it can possibly be broken down at the consumer side. We should avoid optional dependencies as that leads to other issues.

[2022-03-21 11:20] manovotn commented on #24441
A build item like this could be handy as it clearly shows a point at which it is safe to assume the bean init is over. OTOH I can easily imagine various extensions (existing or new) 'forgetting' to emit this build item which then puts you back to square one.
But I suppose it's still better than not having it at all.

+1, I wouldn't be surprised to find this in existing extensions that have some in

[2022-03-21 11:35] mkouba commented on #24441
Yes, but given the fact that the _"initialize a bean via recorder method"_ pattern is considered a bad practice and should not be used unless really necessary (and the `SyntheticBeanBuildItem` cannot be used) I don't think this is a big problem.

[2022-03-21 11:37] pjgg opened #24444 "`stork-service-discovery-kubernetes` extension requires some extra configutation that is not documented"
### Describe the bug

`stork-service-discovery-kubernetes` requires `org.bouncycastle:bctls-jdk15on` dependency and also some extra configuration on your application.properties:

Example

[code]

Also, end-user must be sure that has the following K8s/ocp cluster roles binding (JVM and native mode):

Cluster Role

[code]

ClusterRoleBinding

[code]

I think that these requirements should be documen

[2022-03-21 11:39] prasenjit-net opened #24445 "Gradle build in CI environment is failing to resolve dependency during test execution"
### Describe the bug

While running the Gradle build in the CI environment and in Intellij Idea, during the initialization of the application model, the build is trying to resolve the module under test from the repository. And it is faining with exception

`io.quarkus.junit.QuarkusTestException: Failed to create the application model for com.....`

I am not sure if it will try to resolve any other

[2022-03-21 11:41] mkouba commented on #24441
Well, this "bean init" would just mean that some of the extensions that produce the `BeanInitializedBuildItem` finished their processing. It's a very coarse-grained approach and it could e.g. prevent parallel bootstrap because all the dependencies would always wait for all beans.

However, I agree that it might be sometimes useful.

[2022-03-21 11:48] michalszynkiewicz commented on #24444
CC @aureamunoz

[2022-03-21 11:52] gsmet commented on #24439
Well maybe we should fix that instead. The bean creation in the ORM extension was done a long time ago before the synthetic beans infrastructure existed and maybe we could rely on synthetic beans instead.
But that's probably not something we would backport.

[2022-03-21 12:24] Sanne commented on #24439
Alternative: we seem to often need a "marker" builditem to coordinate ordering events; such build items have no other meaning other than marking phases and are identified by their class type.

Wondering if we should introduce support for such markers to be defined by a name rather than a type, so that cross-module integrations can be implemented w/o needing to extract SPI modules.  This would also

[2022-03-21 12:45] u6f6o commented on #19359
I did some further testing in our k8s cluster with the native images. The images from https://gallery.ecr.aws/k3j0e3f7/johara-quarkus did not result in any cpu spikes.

As a next step, I created a small sample project that offers a single rest easy hello world controller. I tested this service with different quarkus versions: 2.0.2, 2.4.2 and 2.7.5. I experienced the same behaviour and starting wi

[2022-03-21 12:49] gsmet commented on #19359
@u6f6o thanks for the detective work!

[2022-03-21 12:50] #24351 closed

[2022-03-21 12:51] gsmet commented on #19359
And then the `quarkus-logging-ecs` extension.

[2022-03-21 12:51] johnaohara commented on #19359
@u6f6o thanks for the update, pinning it down to an extensions/extensions would be a massive help, thanks

[2022-03-21 13:59] boev commented on #18333
Hi @radcortez, annotating my property interface like this:
[code]
made it injectable in my `public class SomeRequestFilter implements ContainerRequestFilter`.

Thank you very much for the quick help.

[2022-03-21 14:00] #24402 closed

[2022-03-21 14:21] radcortez commented on #23879
I had a quick look and the reproducer is missing the dependency for the runtime Hibernate Validator (the Validator API is available because of RESTEasy, but they are not being read).

I don't get the same stacktrace as you, but I noticed an issue where we have a circular dependency between the config mapping and the Validator. The issue is that because the Validator is available, we will try to va

[2022-03-21 14:30] nunocasteleira commented on #23879
Thanks for the replies. Just to be sure, Is this approach better than using `@ConfigMapping`, right? Is there a problem with retrieving it programmatically?

[2022-03-21 14:32] Sanne commented on #24423
This looks like Kotlin specific. Could you have a look @evanchooly ?

[2022-03-21 14:58] amsterdam-superchat commented on #24367
I implemented locally the two changes you suggested and the error was the same.

[2022-03-21 15:04] AmsterdamFilho commented on #24367
I implemented locally the two changes you suggested and the error was the same.

[2022-03-21 15:07] vsevel commented on #20396
the fix will be in version `21.6`. the driver should be available mid-may.
I see we are still in 21.4: https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml#L128
fyi, `21.5` is already available:
[code]

[2022-03-21 15:22] loicmathieu commented on #24367
Thanks, so the issue seems to be on the Hibernate reactive side which generates a wrong query in your case. Maybe @Sanne can have a look ?

[2022-03-21 15:22] radcortez commented on #23879
You still conserve the mapping, you just retrieve it programmatically lazyly to break up the circular dependency.

[2022-03-21 15:24] DavideD commented on #24367
I can  check in a bit. I know that I can check, but maybe you can tell me what  query Panache is passing to Hibernate Reactive?

[2022-03-21 15:29] gsmet commented on #19359
Yeah, that was my natural intuition. Now we need to figure out what's going on :).

[2022-03-21 15:33] u6f6o commented on #19359
2.0.2-Final
[code]

vs.
2.7.5-Final
[code]

[2022-03-21 15:46] evanchooly commented on #24423
Can do

[2022-03-21 16:42] sandronm commented on #22053
This bug remains unfixed with Quarkus 2.7.5.

[2022-03-21 16:49] michalszynkiewicz commented on #24426
there was something similar, a request to support `@Encoded` on clients. But I don't remember this exactly

[2022-03-21 16:52] michalszynkiewicz commented on #20505
@geoand can this be closed?

[2022-03-21 17:12] jumolinaro opened #24452 "CDI issue with avro after migration to Quarkus 2.7"
### Describe the bug

We have a Quarkus application with **Java** and **Kotlin** sources.
This component contains an avro file used to produce messages for Kafka

Gradle build of this application works perfectly with Quarkus 2.6 (2.6.3.Final)
But after migration to Quarkus 2.7 (2.7.5.Final), gradle build fails with some dependencies injection issues (see below)

It seems that some classes generate

[2022-03-21 17:17] #24239 closed

[2022-03-21 17:18] geoand commented on #20505
https://github.com/quarkusio/quarkus/pull/24300 will likely be how we go about this

[2022-03-21 17:19] pjgg commented on #24444
Regarding native mode is also possible to make it work by adding the following configuration to your application.properties:

[code]

[2022-03-21 17:20] geoand commented on #14051
@liangyuanpeng yup, as you mention one can mix and match the Spring and JAX-RS annotations and types.

[2022-03-21 17:21] HugoVinhal98 opened #24453 "Job scheduling in Quarkus"
### Description

So I am using ManagedScheduledExecutorService in a Java EE project that I am migrating to Quarkus, like so:

[code]

The only thing I need from this dependency is to be able to schedule a command, by invoking the `shedule` function:

[code]

Is there any way I can achieve this in Quarkus?

### Implementation ideas

_No response_

[2022-03-21 17:22] #24405 closed

[2022-03-21 18:06] gsmet commented on #24441
I had a look and I don't see an easy way out given the way Hibernate Reactive is initialized at the moment.

My guess is that we might be able to change that once we try to implement the multiple persistence units support in Hibernate Reactive but this is not coming soon.

[2022-03-21 18:11] mschorsch commented on #24453
https://quarkus.io/guides/scheduler

[2022-03-21 18:53] machi1990 commented on #24453
@HugoVinhal98 you can use the scheduler extension as @mschorsch mentioned.

[2022-03-21 18:53] #24453 closed

[2022-03-21 19:25] #23866 closed

[2022-03-21 19:29] gsmet commented on #24452
I think we will need a small reproducer for that one.

[2022-03-21 20:22] famod commented on #24283
Everything that's in `application.properties` (and other "standard" config sources) will be picked up (since 2.7.2; #23628 & #23652).
As those filters are not set via those config sources, they are not picked up.

[2022-03-21 20:35] gsmet commented on #24283
They are provided via the `LogCleanupFilterBuildItem` and pushed via `RunTimeConfigurationDefaultBuildItem`. I have no idea if it's good enough.
But it looks like these are consumed in other ways too.

TBH, I don't mind exactly how we do it, we just need to fix that. If we have to hardcode this particular ignore rule somewhere, it's no biggie.

[2022-03-21 21:13] #24442 closed

[2022-03-21 22:54] famod commented on #24283
Turns out that this message starts appearing _before_ I even added `BasicLoggingEnabler`, more specifically since #22455!
I noticed that because I'm _unable_ to get rid of all such messages when I set `quarkus.log.category."org.jboss.threads".level=WARN` just in `BasicLoggingEnabler` _and restore/remove it as soon as logging setup is done_.
I have to leave it set instead...which is not ideal.

I'm

[2022-03-21 22:57] famod commented on #24283
PS: `-Djunit.quarkus.enable-basic-logging=false` can be used to switch off `BasicLoggingEnabler`, but the message is still there.
Actually it's two messages. One vanishes when switching off the enabler or setting/resetting the sysprop in it.

[2022-03-22 02:20] gastaldi opened #24462 "Integrate with transactional/promotional e-mail providers"
### Description

It would be nice if `quarkus-mailer` could introduce an extension point so extensions could integrate with some major e-mail campaign providers out there (eg. Amazon Simple Email Service, Postmark, Mailjet, and SendGrid).

### Implementation ideas

It would be interesting if other extensions could provide a `Mailer`/`ReactiveMailer` implementation (through some new Build items per

[2022-03-22 03:02] kostacasa commented on #22213
It's likely we'll want to enable trace logging in serverless environments that don't have a local filesystem. An environment variable that can instruct the server to dump the wire logs to console would be much more developer friendly. This is now possible for the client with the introduction of https://github.com/quarkusio/quarkus/pull/21286 and it has proven to be useful on multiple occasions. We

[2022-03-22 04:03] prasenjit-net commented on #24445
Any workaround here which can help us immediately?

[2022-03-22 06:13] glefloch commented on #24445
Thanks for reporting this @prasenjit-net. I will try to have a look into it. But it can be hard to reproduce without a proper environnement. Could you get more logs? Maybe adding ˋ--info -S` flags would show the relevant failing part of the code

[2022-03-22 06:27] vsevel opened #24463 "bootstrap config with Map field does not pick system properties if not defined in application.properties"
### Describe the bug

If a property in an extension bootstrap config is defined only as a system property (i.e. it is not defined in the application properties), then it will not be taken into account.

### Expected behavior

The system properties should contribute to mapping, even if properties are not defined in application.properties.

### Actual behavior

The system property is picked up to ov

[2022-03-22 06:28] vsevel commented on #24463
cc @radcortez

[2022-03-22 06:39] Postremus opened #24464 "List applicable param converters for resteasy reactive endpoints in dev ui"
### Description

I need to write a custom param converter for json.
Out of curiosity, I wanted to see which priority the built in converters have, so that mine could have a lower one.

Therefore, it would be nice if for each endpoint the applicable param converters (with their priority) are listed in dev ui.

This request is similar to #24342. where a list of exception mappers was added to each en

[2022-03-22 06:42] geoand commented on #24464
Good idea, I'll have a look

[2022-03-22 06:50] cescoffier commented on #24462
While I understand the idea, I do not believe we need this extension as the underlying mailer is enough to integrate with the provider you mention. Do I miss something obvious?

[2022-03-22 07:12] vsevel opened #24465 "bootstrap config with field does not pick up QUARKUS_CONFIG_LOCATIONS files"
### Describe the bug

If I define a property in a file referenced by QUARKUS_CONFIG_LOCATIONS , it will not be picked up if part of a config object with phase `BOOTSTRAP`. it works fine with `RUN_TIME`.

### Expected behavior

The value should be taken into account as if it was defined in the classpath's application.properties.

### Actual behavior

The value is ignored.

### How to Reproduce?

De

[2022-03-22 07:56] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2020375312

[2022-03-22 08:26] evacchi commented on #12486
merged.

[2022-03-22 08:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2020375312

[2022-03-22 08:48] geoand commented on #24465
Does this work if you specify `QUARKUS_CONFIG_LOCATIONS` as an env var or system property?
Asking because IIRC, `.env` does not work for bootstrap configuration

[2022-03-22 09:18] vsevel commented on #24465
no, this does not change anything:
[code]

This should be `value=bar`. If I change the config phase to be `RUN_TIME`, this works.

[2022-03-22 09:47] naah69 commented on #17088
not support this?
like this [how-to-write-the-configuration-of-a-list-of-objects-for-a-quarkus-extension](https://stackoverflow.com/questions/68615746/how-to-write-the-configuration-of-a-list-of-objects-for-a-quarkus-extension)

[code]

error：
[code]

[2022-03-22 10:35] Sanne opened #24468 "Upgrade Oracle JDBC to 21.5.0.0"
### Describe the bug

As suggested on https://github.com/quarkusio/quarkus/issues/20396#issuecomment-1074015366

[2022-03-22 10:36] Sanne commented on #20396
thanks @vsevel , tracking that as #24468

[2022-03-22 11:04] bpasson commented on #15742
@liuzhaozhao the best you can do for time being is do something like below. If that doesn't work for you, you could try the solution suggested by @pedrolopix [here](#issuecomment-802799006).

[code]

The `@Priority(1)` will make sure it runs as first.

[2022-03-22 11:34] loicmathieu commented on #24394
@lamemind-ud I was wrong  and you was right ;)
I was confusely think that our bytecode generation infrastructure was able to do what I wanted but it only works for repository methods that took the entity as first parameter.

So I use your trick :)
This is a bug so I'll change the issue type.

[2022-03-22 11:36] #23879 closed

[2022-03-22 11:45] michalszynkiewicz opened #24472 "RestEasy Reactive Multipart response fails with files > 2GB"
### Describe the bug

large response with file > 2GB fails

### Expected behavior

_No response_

### Actual behavior

An exception is thrown:
[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

main

### Build tool (ie. out

[2022-03-22 11:46] michalszynkiewicz commented on #24472
@Sgitario

[2022-03-22 11:57] lamemind-ud commented on #24394
@loicmathieu I'm glad I have been helpful

Cheers

[2022-03-22 12:01] #24323 closed

[2022-03-22 12:09] AdlerFleurant opened #24473 "Redis Shared Dev Services Failed to Connect"
### Describe the bug

When trying to use Red Dev Services, the second quarkus runtime will fail to connect to the initial redis container due to unsupported redis connection string scheme.

### Expected behavior

A successful connection to the shared redis container.

### Actual behavior

The connection fails with the following error:
java.lang.IllegalArgumentException: Unsupported Redis connectio

[2022-03-22 12:30] mkouba commented on #24441
In that case, we should do what Michal suggested...

[2022-03-22 13:47] mkouba commented on #24439
We're going to fix the Hibernate/gRPC issue with a special build item; see https://github.com/quarkusio/quarkus/pull/24420. So the priority of this issue is low (until we find another good use case ;-).

[2022-03-22 13:51] gsmet commented on #24439
OK, let's close it then. We can create a new one or reopen if at some point we need it.

[2022-03-22 13:51] #24439 closed

[2022-03-22 13:53] famod commented on #24283
@geoand as I won't have time for this today, can you revisit the changes from #22455?

As mentioned previously, the message pop up (and is captured) since then.
The setup from `BasicLoggignEnabler` "only" results in an additional message (which I find irritating, but I know little about `QuarkusMainTest`), but that one isn't captured and is thus not the main isue here.

[2022-03-22 14:02] geoand commented on #24283
I'll try and have a look

[2022-03-22 15:17] #24380 closed

[2022-03-22 15:51] patriot1burke commented on #24312
Sorry I didn't notice this before, but your project includes quarkus-resteasy-qute which will *NOT* work with regular lambda.  I was able to run your project by including quarkus-qute (without resteasy).  It would work with quarkus-amazon-lambda-http (or rest) which spins up an API gateway on AWS though.

Hope I'm making sense, I'm going to close this bug.

[2022-03-22 15:53] Ladicek commented on #24322
Fix PR was reverted, so reopening.

[2022-03-22 16:02] pipinet opened #24480 "[CDI] Support @Primary like spring @Primary"
### Description

[code]

### Implementation ideas

https://www.baeldung.com/spring-primary

[2022-03-22 16:12] gsmet commented on #24283
What bugs me is that we somehow need to understand why these are logged. My understanding is that we shouldn't initialize the logging layer without the proper config in place.
This is a bugfix so it can be included post-CR1.

[2022-03-22 16:16] liangyuanpeng opened #24481 "Multiple header when use ResponseEntity.status(200).header("content-type","xxx")"
### Describe the bug

Return multiple header of content-type

### Expected behavior

Only one header of `Content-Type` and rewrite it when we use some code like that `ResponseEntity.status(200).header("content-type","application/jsonhello").build();`

### Actual behavior

Multiple header of `Content-Type`

### How to Reproduce?

Some simple code, use spring web for API.
[code]

Run the application

[2022-03-22 16:18] DavideD commented on #24367
That syntax doesn't work with Hibernate ORM or Reactive.
You can rewrite the function this way and it should work:
[code]

[2022-03-22 16:18] #24367 closed

[2022-03-22 16:32] geoand commented on #24480
You can already do this with `@AlternativePriority`.

 See https://quarkus.io/guides/cdi-reference#declaring-selected-alternatives

[2022-03-22 16:33] #24480 closed

[2022-03-22 16:38] lamemind-ud commented on #24394
Hello @loicmathieu ,
I didn't check the doc. I did check the code directly, then I filed an enhancement, not a bug.

As of my starting comment, the issue here is to have a `flush()` method that points to a named PU, w/o Injecting an EntityManger and w/o having an entity... I have a `PanacheRepositoryBase` and I'd like to call flush on it.

IMHO, I think `PanacheRepositoryBase::flush()` should not

[2022-03-22 16:43] loicmathieu commented on #24394
So, this is a mis-understanding of the code: `PanacheRepositoryBase::flush()` delegates to `PanacheRepositoryBase::getEntityManager()` if you look at it's code it's empty (in fact, it throws an exception) as this method is generated at runtime using bytecode enhancement to get the right entity manager.

So, it should works (or nothing works as we use the same `gentEntityManager()` method in a lot

[2022-03-22 16:45] loicmathieu commented on #24394
To be crystal clear.

The `flush()` do use the `EntityManager` of the repository entity class, the code is hidden inside the bytecode enhancement done at build time.

This is already the case.

[2022-03-22 16:54] #24468 closed

[2022-03-22 16:54] DavideD commented on #24367
I guess this is something for the Hibernate ORM team to look into. It should be possible to translate the JPQL to the working SQL.

[2022-03-22 17:38] #24473 closed

[2022-03-22 17:46] gastaldi commented on #24214
I think this is useful to support auto-completion of Map keys in the IDEs, also you get free key validation.

[2022-03-22 18:05] amsterdam-superchat commented on #24367
Rewriting the query as you suggested did work. Thank you!

[2022-03-22 18:06] AmsterdamFilho commented on #24367
Rewriting the query as you suggested did work. Thank you!

[2022-03-22 20:36] mkouba commented on #24480
Hm, I don't think you can use alternatives in the snippet above - the container would attempt to resolve ambiguities for the   `ServiceDispatcher#services` injection point and the only bean that would satisfy it would be the `ServiceDispatcher` itself.

You can try to use a qualifier for the `ServiceDispatcher` and for the `ServiceClient#service` injection point.

[code]

Alternatively, you can tr

[2022-03-22 23:19] famod opened #24486 "Remove/migrate deprecated code in liquibase extension"
### Description

There are various deprecation warnings that should be resolved sooner or later.

### Implementation ideas

_No response_

[2022-03-22 23:43] famod commented on #16292
FTR, liquibase 4.6.0 tightened the validation in that `errorIfMissingOrEmpty` is now set to `true` by default, causing a hard failure (directory not found).
See also: https://github.com/quarkusio/quarkus/pull/24487#discussion_r832709276

[2022-03-23 01:56] radcortez commented on #24214
Does it count if you use SR Config Mapping instead of ConfigRoot? :) It should work for Quarkus Extensions now.

[2022-03-23 02:20] gastaldi commented on #24214
I think so, what's the impact in the codebase if we (hypotetically) deprecated `@ConfigRoot` on behalf of  `@ConfigMapping`?

[2022-03-23 04:34] leotu commented on #24279
Try write some code but failed :-(
Are there any other alternatives? @machi1990

[code]

[code]

[code]

Ref [#7862](https://github.com/quarkusio/quarkus/issues/7862)

[2022-03-23 05:23] geoand commented on #24481
I was not able to reproduce this problem and even added a test in https://github.com/quarkusio/quarkus/pull/24489 to validate that we follow the proper behavior.

[2022-03-23 05:51] geoand commented on #24371
Closing this as we don't have a reproducer yet. Feel free to comment with a reproducer so we can have another look and perhaps reopen the issue.

[2022-03-23 05:51] #24371 closed

[2022-03-23 05:54] geoand commented on #24326
cc @jcobb

[2022-03-23 05:57] geoand commented on #24100
Closing this as we don't have a reproducer. If you are able to provide one, please update the issue

[2022-03-23 05:57] #24100 closed

[2022-03-23 05:58] geoand commented on #23934
Closing this as we never got feedback

[2022-03-23 07:01] liangyuanpeng commented on #24481
@geoand  Thanks for your work and quick reply. I have try to do the same test for my code and unit test working for me, but i really got the two same header when i after started application.   now, my quarkus version is `2.7.5.Final.`

My test code:
[code]

API method code:
[code]

[2022-03-23 07:21] geoand commented on #24481
Thanks, let me check

[2022-03-23 07:42] geoand commented on #24481
I updated the PR to use your latest code and again everything works as expected

[2022-03-23 07:44] #23934 closed

[2022-03-23 07:51] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2026466712

[2022-03-23 08:02] liangyuanpeng commented on #24481
Yes,unit test is working, but request to the really API, it in the wrong side.

This is the min reproduce code.
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/8331033/code-with-quarkus.zip)

[2022-03-23 08:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2026466712

[2022-03-23 08:17] sophokles73 commented on #10402
Registering the missing Jaeger classes for reflection in the Jaeger extension (#23610) actually is not enough. It seems that access to the classes' fields also needs to be enabled explicitly.

[2022-03-23 08:58] geoand commented on #24481
Now I see what the confusion is. You are using `quarkus-resteasy-jackson` while I am using `quarkus-resteasy-reactive-jackson`.
I don't think we will be providing any fixes for Spring Web support on RESTEasy Classic, so best switch to RESTEasy Reactive.

Thanks

[2022-03-23 08:58] #24481 closed

[2022-03-23 09:26] liangyuanpeng commented on #24481
Thanks for your confirmed, Change `quarkus-resteasy-jackson` to `quarkus-resteasy-reactive-jackson`and it working for me.

[2022-03-23 09:27] aloubyansky commented on #24257
@famod this appears to be fixed in main (but fails in 2.7.5.Final). I suppose https://github.com/quarkusio/quarkus/pull/24440 fixed it.
I did see your comment https://github.com/quarkusio/quarkus/issues/24229#issuecomment-1073374087, are you sure it's still an issue?

[2022-03-23 09:32] snazy opened #24492 "Quarkus testing with `@ParameterizedTest` broken with Java 17 + 18 (xstream)"
### Describe the bug

The following exception happens during tests using `@QuarkusTest` with Java 17 + 18.

The failing test case is a `@ParameterizedTest` with a `@MethodSource` that returns a `Stream` of objects that contain `List` instances created by `Arrays.asList()` - hence the `java.util.Collections$UnmodifiableCollection`.

Looks like it's not a direct fault of Quarkus, but xsteam not able

[2022-03-23 10:02] #24464 closed

[2022-03-23 10:04] #17581 closed

[2022-03-23 10:04] #23765 closed

[2022-03-23 10:05] markusdlugi opened #24494 "Hibernate throws EnhancementException for embedded field in MappedSuperclass"
### Describe the bug

Similar to #5756, possibly a regression?

If you have an embedded field in a @MappedSuperclass that resides in a different package then the concrete entity class, Hibernate (both Reactive and ORM) will throw an error during the application build:

[code]

You can only work around the issue by making the embedded field public.

### Expected behavior

Hibernate should be able t

[2022-03-23 10:07] rsvoboda opened #24495 "quarkus:update - provide xml snippets for BOM changes"
### Description

`quarkus:update` provides info like this:
[code]

For end user it would be nice to have pom.xml snippets to just copy&paste it. I was playing with projects which had just  quarkus bom and GAVs which were relocated and composing dependencyManagement section again and again was a bit of pain.

Please consider also providing xml snippets for BOM changes, something like:
[code]

### I

[2022-03-23 10:13] famod commented on #24257
@aloubyansky well, I checked it with my real project while trying out #24440 and it wasn't fixed.

I'll try again with current main. Maybe it's now fixed for the reproducer but not my real project (I hope not).

[2022-03-23 10:15] rsvoboda opened #24496 "quarkus:update suggests latest released version even if I'm using 999-SNAPSHOT"
### Describe the bug

quarkus:update suggests latest released version even if I'm using 999-SNAPSHOT

[code]

From the end user perspective it feels correct to propose latest released version. But for 999-SNAPSHOT it feels a bit odd.

Maybe the update proposals can be printed but there should be notification about the fact that the project in using Quarkus main dependencies and for production the

[2022-03-23 10:22] aloubyansky commented on #24257
Please do and see if you can adjust the reproducer for main. Thanks!

[2022-03-23 10:26] rsvoboda opened #24497 "quarkus:update - dependencies with relocations are reported as "remove version""
### Describe the bug

quarkus:update - dependencies with relocations are reported as "remove version"

[code]

Dependencies with relocations are reported as "remove version". I'm using `io.quarkus` groupId and relying on relocations in my sample project.

The real action should be to change `groupId` and `artifactId` of extensions that were moved to quarkiverse.
There is nothing to be done with ve

[2022-03-23 10:48] FroMage commented on #15720
We added `@ReactiveTransactional` a long time ago, closing this.

[2022-03-23 10:48] #15720 closed

[2022-03-23 11:04] FroMage opened #24500 "`@Rollback` annotation is JTA-specific: should be reusable for Hibernate Reactive with Panache"
### Description

In https://github.com/quarkusio/quarkus/pull/22202 I screwed up and should have anticipated that we'd need that annotation also for HR.

It's acceptable that we have own own `@ReactiveTransactional` annotation because we don't want the ORM (actually JTA) and HR to walk on each other's feet. But it's not acceptable to ask users to decorate their exceptions with both `@Rollback` (fr

[2022-03-23 11:20] jsmrcka opened #24501 "Reactive Oracle client fails session propagation test"
### Describe the bug

In our test suite, we run a test:
[code]
(https://github.com/jsmrcka/quarkus-test-suite/blob/6a659826bd8fd4c7dfdc21d398d063fdb32527f3/sql-db/hibernate-reactive/src/test/java/io/quarkus/ts/reactive/AbstractReactiveDatabaseIT.java#L66)

which calls an endpoint:
[code]
(https://github.com/jsmrcka/quarkus-test-suite/blob/6a659826bd8fd4c7dfdc21d398d063fdb32527f3/sql-db/hibernate-r

[2022-03-23 11:44] aloubyansky commented on #24496
For the current state of things, what's reported is the expected and intended behavior. It's all driven by the registry(ies). Registries are meant to push current recommendations. It pretty much will stay this way. What we could enhance is the notion of the current (platform) stream (the project is based on) and currently recommended stream. And then suggest recommendations for a particular stream

[2022-03-23 11:52] aloubyansky commented on #24495
We actually had snippets previously in the predecessor `check-for-updates` goal. We need to review the perspective of this effort. I.e. it depends on how the updates are meant to be applied. We are definitely going to be looking into automatic application of the updates, in which case printing snippets may make it unnecessarily verbose. To be evaluated.

[2022-03-23 11:53] maxandersen opened #24502 "handle dockerfile, gitlab, github, tekton build files"

[2022-03-23 11:55] radcortez commented on #24214
Right now,`@ConfigRoot` is still required with `@ConfigMapping` because SmallRye Config has no knowledge about Config Phases (it's Quarkus specific), so you actually use both annotations. We could change this to add something specific just for the phases, but I didn't want to add a new annotation at this point.

This is what it looks like: https://github.com/quarkiverse/quarkus-jberet/commit/22eba

[2022-03-23 11:59] maxandersen commented on #20325
I made https://github.com/maxandersen/quarkus-hassle with a basic start of cross testing

[2022-03-23 13:00] jgrabowski opened #24504 "SwaggerUI does not support @Authenticated methods"
### Describe the bug

I'm using OIDC with keycloak on Quarkus REST app with exposed Swagger UI. The "lock" icon appears on methods with @RolesAllowed annotation but doesn't appear on @Authenticated methods. There's no Bearer header generated for @Authenticated methods.

### Expected behavior

Authentication should work on @Authenticated methods in the same way as on @RolesAllowed annotated methods

[2022-03-23 13:05] gastaldi commented on #24214
You mean fixing it as it should have been from day one 😆  ? I'm +1000 on that. Perhaps something we need to promote more and to be considered the default in Quarkus 3.0

That's a good idea and it would ease the transition a lot.

[2022-03-23 13:48] radcortez commented on #24214
But in this case, the class approach will never go away. No one would bother to move to interfaces if the current one is working.

[2022-03-23 13:50] debop opened #24505 "Support grpc-kotlin"
### Description

`quarkus-grpc` support java and `mutiny`

Can support `grpc-kotlin` for Kotlin Coroutines ?

link: https://github.com/grpc/grpc-kotlin

### Implementation ideas

_No response_

[2022-03-23 14:23] lamemind-ud commented on #24394
Hello @loicmathieu , I'm back.

In my code, with a named PU, if I call `PanacheRepositoryBase::flush()`, I get the following exception:
`java.lang.IllegalStateException: The default datasource has not been properly configured`

Of course, I have no default datasource, cause I have no entities within the default datasource.
This error comes from the `PanacheRepositoryBase::flush()`, and the related

[2022-03-23 14:30] loicmathieu commented on #24394
Yes, I'll need a reproducer please

[2022-03-23 14:32] radcortez commented on #24214
Oh from your comment here:

I thought you wanted to get rid of the classes as well. I guess you were just referring to fields vs method access?

[2022-03-23 14:51] gastaldi commented on #24214
Well, yes and no. Ideally I'd like to migrate all our config classes to interfaces (because it makes more sense to be modeled that way IMHO) but I understand that change is not practical, therefore what I am proposing is that if you want to phase out the Quarkus implementation, we need to at least provide the same features `@ConfigMapping` offers. That would at the bare minimum allow us to depreca

[2022-03-23 15:09] radcortez commented on #24214
So `@ConfigMapping` supports everything that `@ConfigRoot` supports, plus a lot of other stuff (namely mapping support for almost every type combination).

The only thing that it doesn't support is its classes. It is something that I'm not really thrilled to add. I added some semi support for MP `@ConfigProperties` classes (another mistake!). Anyway, if there is interest in this we could add such

[2022-03-23 15:18] whitingjr opened #24507 "Retrying failed tests using quarkus:dev mode with Podman causes LastErrorException in the dockerjava library."
### Describe the bug

 I am using quarkus dev mode with an application. Using the console to run the tests and re-run. Without any files modified.
 I see failed tests are restarted but fails to complete the tests and shows a stack trace.

 After this point the replacement [Arc](https://github.com/quarkusio/quarkus/blob/2.6.1.Final/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/Arc.j

[2022-03-23 19:19] lspahija commented on #21423
We are dealing with this same issue. It appears to not be deterministic. i.e. sometimes the message is handled on a vertx eventloop thread, in which case everything works fine, and sometimes it's handled on a non-eventloop thread such as `pool-1-thread-1` in which case the `No Vertx context found` error mentioned above appears.

This is currently preventing us from using coroutines when consuming

[2022-03-23 19:23] gsmet commented on #24492
Could you prepare a small reproducer? We run our tests with JDK 17 and 18 so there might be something specific to your project.

[2022-03-23 19:30] geoand commented on #24492
Something tells me there is some extra testing extension coming into play...

Like @gsmet says, we'll need a reproducer

[2022-03-23 19:59] ron-mcleod opened #24510 "Native gRPC application: missing method "valueOf""
### Describe the bug

I am seeing an issue when I have a gRPC message with an inner-enum. If I run the application in dev mode or from a JAR, all is fine, but when I build and run as a native app, an exception is thrown complaining that the valueOffor the enum is missing. I have checked the generated code and the method is actually present.  I did notice that the method was annotated with @Depreca

[2022-03-23 20:51] rsvoboda commented on #23506
@aloubyansky I think this is resolved in https://github.com/quarkusio/quarkus/pull/24485

`propagateProperty("maven.settings", mavenSettings, newArgs);` should handle that

[2022-03-23 20:55] aloubyansky commented on #23506
It might be with `-Dmaven.settings`. I'll need to check all the commands. However, I think `--maven-settings` would be a better option.

[2022-03-23 20:55] aloubyansky commented on #23506
I actually thought of that too.

[2022-03-23 21:24] glefloch commented on #23750
@marcelhanser, `2.8.0.CR1` has been released, could you give a try?

[2022-03-23 21:32] baivoom commented on #16429
Hi @radcortez  , same issue here while executing Quarkusbuild

Quarkus 2.7.5.Final
Gradle 7.4.1
IDE : IntelliJ CE

Error: ***/Users/developer/.gradle/daemon/7.4.1/config/application.yml***

[code]

Current code

[code]

Original fixed version,
[code]

[2022-03-23 21:43] ron-mcleod commented on #24510
Additional information: I found that the problem did not occur if I annotated the inner enum class with `@RegisterForReflection` (_comments removed_):

[code]

[2022-03-23 22:10] ron-mcleod commented on #24510
Since the gRPC code is generated and should not be modified, I tried registering the problematic inner class using another class, it is did successfully work-around the missing method problem:
[code]

[2022-03-23 22:25] josephearl commented on #4114
I’d like something like this to conditionally enable JAX RS resources based on a property set from an environment variable.

[2022-03-23 22:56] famod commented on #24257
I can confirm that it's fixed for the reproducer, but not for my real project. I'm somehow suspecting `test-jar`, will try to reproduce.

[2022-03-23 23:05] famod commented on #24257
It's not `test-jar` (at least it works in the small reproducer). Great, once again I have to find the needle in the haystack...

[2022-03-23 23:29] famod commented on #24257
Interesting: In my project where it fails (it doesn't fail everywhere!) there *two different* deployment classloaders involved!
In cases where it's fine it's the same deployment CL, just like in the simple reproducer.

Will try to dig deeper tomorrow, but in cas eyou have an idea @aloubyansky please let me know! 🙂

[2022-03-23 23:32] famod commented on #24257
One more detail: Right before the test there is a `@QuarkusTest` (with a `@QuarkusTestResource`, hence triggering a Quarkus restart) and the test that's failing ist a *non-Quarkus* test!

[2022-03-23 23:42] famod commented on #24257
Managed to reproduce it, it was just a matter of adding a non-Quarkus test: [q_ct-callback-ann_multi-2.zip](https://github.com/quarkusio/quarkus/files/8337304/q_ct-callback-ann_multi-2.zip)

[2022-03-24 00:22] radcortez commented on #16429
@baivoom can you please provide a reproducer? Thanks!

[2022-03-24 03:17] baivoom commented on #16429
Hi @radcortez  here is the reproduce , I am using IntelliJ.   I found the error is caused by a `config/application.yml` in the root of project, removing that file is a workaround, however that is not the final solution, IMO

[quarkus-config-issue.zip](https://github.com/quarkusio/quarkus/files/8338119/quarkus-config-issue.zip)

[2022-03-24 06:06] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2032364193

[2022-03-24 06:28] cescoffier commented on #24510
The issue is that we do not register the enum class. It should be done automatically.

[2022-03-24 07:02] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2032364193

[2022-03-24 07:17] machi1990 commented on #24279
Looks like a config error and I cannot see what's wrong with it from what you shared. Can you open a draft PR with what you current have and we could take the investigate from there?.
/cc @radcortez @mkouba  does the error above ring a bell to you?

[2022-03-24 07:31] geoand commented on #4114
You can already do this with https://quarkus.io/guides/cdi-reference#enable_build_properties

[2022-03-24 07:32] #24472 closed

[2022-03-24 07:35] snazy commented on #24492
Will put a reproducer together (or facepalm and close this issue, if one of our extensions is causing this w/ Java 17/18)

[2022-03-24 07:44] josephearl commented on #4114
@geoand I did read that but the docs said

which made me think this wouldn’t work for me since value of the property is an environment variable which is defined at runtime but not at build time?

[2022-03-24 07:48] mkouba commented on #4114
Yes, this would not work. The set of components is set in stone at build time, i.e. you can't add/remove anything at runtime.

[2022-03-24 07:50] geoand commented on #4114
I should add that this is a core tenet of the Quarkus architecture and not something we are willing to compromise on

[2022-03-24 07:59] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2032344856

[2022-03-24 08:03] josephearl commented on #4114
In my case the use case is having the same container image deployed to multiple OpenShift namespaces/environments and wanting to toggle/disable some JAX RS resources in some environments (e.g. only enable a particular resource in a test environment).

[2022-03-24 08:12] geoand commented on #4114
Understood, there are certainly cases where are build time resolution of everything makes things a little more difficult, but it's a core part of what makes Quarkus more effective than other runtimes / frameworks.

[2022-03-24 08:13] geoand commented on #24502
Can you enhance the description of this? I am not sure what this is about

[2022-03-24 08:14] rsvoboda opened #24519 "Enhance quarkus:info/update reports with Quarkus Maven plugin version details"
### Description

Enhance quarkus:info/update reports with Quarkus Maven plugin version details.

Documentation is mentioning that it’s planned to be added in the future releases, but there is no tracker for that effort:
 - https://quarkus.io/guides/maven-tooling#project-info
 - https://quarkus.io/guides/maven-tooling#project-update

### Implementation ideas

_No response_

[2022-03-24 08:16] rsvoboda opened #24520 "quarkus:info/update is Quarkus 2.x series specific, documentation doesn't mention that"
### Describe the bug

quarkus:info/update is Quarkus 2.x series specific, documentation doesn't mention that

a note about 1.x not being supported would make sense

### Expected behavior

documentation mention that quarkus:info/update is Quarkus 2.x series specific

### Actual behavior

quarkus:info/update is Quarkus 2.x series specific, documentation doesn't mention that

### How to Reproduce?

_

[2022-03-24 08:21] rsvoboda opened #24521 "Documentation for quarkus:info/update is not covering available parameters for the goals"
### Describe the bug

Documentation for quarkus:info/update is not covering available parameters for the goals

https://quarkus.io/guides/maven-tooling#project-info should also cover:
 - `perModule`

https://quarkus.io/guides/maven-tooling#project-update should also cover:
 - `perModule`
 - `recommendedState`

### Expected behavior

Documentation for quarkus:info/update covers available parameters

[2022-03-24 09:02] geoand commented on #4114
@hantsy thanks for the info.

But I don't see how it applies to this use case.

[2022-03-24 09:03] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2032344856

[2022-03-24 09:08] hantsy commented on #4114
CDI Lite also introduce build-time feature. Eclipse Open DI includes an implementation of Micronaut. https://projects.eclipse.org/projects/ee4j.odi

[2022-03-24 09:10] geoand commented on #4114
I am actually going to close this issue, as providing a general `@Conditional` style annotation is not something we are going to do.

[2022-03-24 09:10] #4114 closed

[2022-03-24 09:18] bcluap opened #24523 "SmallRyeHealthReporter java.util.ConcurrentModificationException"
### Describe the bug

When booting up using 2.8.0.CR1, we get exceptions in the logs:

[code]

This does not happen in 2.7.X

### Expected behavior

Should not get exceptions

### Actual behavior

Get exceptions. Does not impact the system but logs are ugly

### How to Reproduce?

Do health checks to health/ready on a server as it is booting

### Output of `uname -a` or `ver`

Linux paul-xps 5.13.

[2022-03-24 09:34] mkouba commented on #4114
Yes, but it seems that you can't use `@Requires` for the use case mentioned by @josephearl, i.e. disable a component at runtime via an environment variable.

[2022-03-24 10:04] calohmn opened #24524 "quarkus-junit5: Running non-Quarkus unit-tests in parallel fails"
### Describe the bug

As I understood it, the fix for #7696 should have made it possible to properly configure unit-test log output also for plain unit tests without `@QuarkusTest`.

I have a Maven module with a `quarkus-core` dependency and plain, Quarkus-independent unit tests.
I've added the `quarkus-junit5` dependency and configured logging via an `application.yaml` in the test resources folde

[2022-03-24 10:36] calohmn commented on #7696
@famod The above issue text mentions a scenario where logback is used, with a `logback-test.xml` configuration.
As it seems to me, this scenario is still not supported (?). At least I don't see the `logback-test.xml` being picked up.
So, is it that in such a case the logging configuration would have to be done in an `application.yaml` instead?
Do you see logback support as something that still can

[2022-03-24 11:38] famod commented on #24524
Thanks for reporting, will have a look ASAP.

[2022-03-24 11:38] geoand commented on #24523
Ouch... https://github.com/smallrye/smallrye-health/pull/393 should fix it.

@xstefank @radcortez  we will likely need that fix and a new release ASAP

[2022-03-24 11:39] famod commented on #7696
@calohmn yeah, `logback-test.xml` is out of scope here. You should have a look at https://github.com/quarkiverse/quarkus-logging-logback

[2022-03-24 11:40] ebullient commented on #23506
We were (at some point) going to allow more interesting quarkus configuration.
The other option (that I would prefer to another argument) is picking up maven settings from the quarkus configuration (so you only have to specify one config, with the option we already have)

[2022-03-24 11:54] famod commented on #24257
I suppose the deployment classloaders mismatch is caused by the creation of a new deployment classloader during discovery of unit test classes:
https://github.com/quarkusio/quarkus/blob/619288dfa9b11ee6591b8beace4810abef4ac468/core/deployment/src/main/java/io/quarkus/deployment/dev/testing/JunitTestRunner.java#L667-L671

/cc @stuartwdouglas @aloubyansky

[2022-03-24 11:54] EnvyIT commented on #22611
@JapuDCret thanks for your workaround - Can you please share the import section of your classes too . I am currently wondering which `InMemoryConnector` you are using in your example.

[2022-03-24 11:59] aloubyansky commented on #23506
@ebullient do you still agree `--maven-settings` would be useful though?

[2022-03-24 12:10] TheParad0X commented on #10813
I am still getting the same error 2.7.5 Final. It happens almost everytime an internal REST call happens (i.e. with the Keycloak API), or an explicit one when Testing with RESTAssured.

` WARN  [org.jbo.res.cli.jax.i18n] (Finalizer) RESTEASY004687: Closing a class org.jboss.resteasy.client.jaxrs.engines.ApacheHttpClient43Engine instance for you. Please close clients yourself.`

After running all m

[2022-03-24 12:13] JapuDCret commented on #22611
@EnvyIT we use `io.smallrye.reactive.messaging.providers.connectors.InMemoryConnector`, from (see [Quarkus Kafka > Testing without a Broker](https://quarkus.io/guides/kafka#testing-without-a-broker)).
But this was just an example for a CDI-Bean, e.g. in our use-case we also provide ourselves with an EntityManager and a TransactionManager.

[2022-03-24 12:13] ebullient commented on #23506
no. feels like command line argument creep to me given we already have a config file (that we should use for these things).

[2022-03-24 12:27] famod commented on #24257
I think I have a fix for this, stay tuned!

[2022-03-24 13:25] radcortez commented on #24279
Yes, if I remember correctly, we don't have support for `Optional` `ConfigGroup`. We recently added such support in Quarkus 2.8.x with SmallRye Config `@ConfigMapping`, which should not work with Extensions. My recommendation is to use that instead.

[2022-03-24 13:28] FroMage commented on #24500
Actuall, I can't make narayana depend on ORM, because the dependency is the other way around. I could leave the annotation in narayana, except HR excludes narayana from its ORM import. So I have no choice but make a new module. I'll open a PR for this.

[2022-03-24 13:51] manofthepeace opened #24533 "Fault Tolerance in config file could use dash seperated names"
### Description

We have mutliple rest clients in our apps, and we want all retries to be configurable. It works really well in the config file, but the syntax is a little odd, and a little non obvious as well, since we need to know the bean name that is generated from the interface (the $$CDIWrapper portion).

Example
[code]

The config would look like this;
[code]

and with methods;
[code]

###

[2022-03-24 14:51] tsegismont commented on #23846
@cescoffier is the upgrade to `4.2.6` planned?

[2022-03-24 14:55] cescoffier commented on #23846
Yes, but not soon soon. Not in 2.8 typically. 2.9 definitely.

[2022-03-24 15:01] manofthepeace commented on #24276
This issue worries me a bit. Would be nice to know at least if `Arc.container().instance(Config.class).get();` is thread safe or what could cause the exception. I have it in dev mode but I would like to know if the same can happen to prod, which would be really worrisome.

I have a bit more info of when it happens in the hope it can help.

Here's the threading sequence running parallelStream with

[2022-03-24 15:04] iompo opened #24537 "quarkusGenerateCode fails because of out of memory Java heap space"
### Describe the bug

Code compilation fails for any 2.7.x version with a Java heap space error, while was working fine with 2.6.x. The error message is:
[code]

There is a massive increase in memory used  at compile time.
Quarkus 2.6.1 was:
<img width="1210" alt="quarkus-compile-2 6 x" src="https://user-images.githubusercontent.com/64641556/159945068-76a63d89-1311-4e6f-9098-2d2e943662b7.png">

Wh

[2022-03-24 15:04] bcluap commented on #24523
Yip I can confirm that smallrye health 3.2.1 fixes the issue. Thanks guys!

On Thu, Mar 24, 2022 at 4:38 PM Martin Stefanko ***@***.***>
wrote:

[2022-03-24 15:19] yrodiere commented on #24494
Thank for the report and reproducer!

I just confirmed this is a caused by a  bug upstream: https://hibernate.atlassian.net/browse/HHH-15141 .

I will try to solve the bug there.

(BTW, while this is very close to #5756 , I don't think it's a regression as the situation is slightly different; more likely the fix for #5756 was incomplete)

[2022-03-24 16:37] yrodiere commented on #24494
After further investigation, I believe this is caused by a bug in bytebuddy: https://github.com/raphw/byte-buddy/issues/1224

The reported accessibility problem is in fact wrong in this case, as far as I can tell.

Let's see if the bug can get fixed easily in bytebuddy; if not, I may have to find a workaround in Hibernate ORM.

[2022-03-24 17:09] manofthepeace opened #24540 "NullPointerException on custom consraint validator when injecting a config mapping at startup"
### Describe the bug

I am unable to start quarkus when i try to inject a ConfigMapping into a Hibernate validator constraint.

getting a quite big exception;
[code]

### Expected behavior

I should be able to inject a config in a constraint validator

### Actual behavior

App crashes on start

### How to Reproduce?

Reproducer: https://github.com/manofthepeace/quarkus-validator-reproducer

Step t

[2022-03-24 17:37] FroMage opened #24541 "RESTEasy Reactive: issues with `char` parameter"
### Describe the bug

When I have an endpoint with a `char` parameter, native-image doesn't work:

[code]

This is due to https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/server/processor/src/main/java/org/jboss/resteasy/reactive/server/processor/generation/converters/GeneratedConverterIndexerExtension.java because `Character.valueOf(String)` doesn't exist.

If

[2022-03-24 17:43] machi1990 opened #24542 "Update quarkus.quartz.datasource documentation"
### Describe the bug

The documentation https://github.com/quarkusio/quarkus/blob/main/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzBuildTimeConfig.java#L46 is referring to `db` store which has long been deprecated and removed.
We should update the javadoc to refer to `jdbc-tx` or `jdbc-cmt` job stores instead.

### Expected behavior

There is no mention of `db` store in

[2022-03-24 17:44] machi1990 commented on #24542
@VanillaSpoon would you be interested in fixing this?

[2022-03-24 17:56] EnvyIT commented on #22611
Well, this is still a major issue in my opinion. The fact that it is not possible to use DI or Mockito for state callbacks are a huge disadvantage in comparison to other frameworks.

This workaround is indeed super-hacky and not working when you want to use Mockito proxy classes.

[2022-03-24 17:57] geoand commented on #24541
I'll have a look, thanks

[2022-03-24 18:17] VanillaSpoon commented on #24542
Yea, I'd love to. Thanks @machi1990

[2022-03-24 18:22] gastaldi commented on #24541
Here is a test case that reproduces the issue:

[code]

[2022-03-24 19:14] maxandersen commented on #23506
Fwiw jbang honors maven.setting for this exact usecase (be able to control/share build settings)

I really don't grok why we would want to have settings in config we can't override on command line.

Having to change config file for special case setting does not make sense to me ?

[2022-03-24 20:00] #24510 closed

[2022-03-24 20:11] ebullient commented on #23506
I guess outside of us testing, I don't see this as a one-off occurrence. If I'm working w/ a company firewall, that repository choice will be persistent.. and if I use gradle, creating a maven settings file for that seems odd?

[2022-03-24 20:19] #9316 closed

[2022-03-24 20:26] machi1990 commented on #24542
Thanks

[2022-03-24 20:54] manofthepeace commented on #24540
Using this works, but I am unsure why, and unsure if a fix would be needed in quarkus;

[code]

[2022-03-24 21:32] aloubyansky commented on #15013
@glefloch do you think you can add support for these two properties as you originally planned?
I was thinking it would make sense to make the complete set of the build system properties available but it appeared it wasn't clear it was useful or even a good idea.

[2022-03-24 21:46] #24520 closed

[2022-03-24 22:08] apurvar1010 opened #24545 "Quarkus Lambda Native Image Memory Leakage"
### Discussed in https://github.com/quarkusio/quarkus/discussions/24516

<div type='discussions-op-text'>

<sup>Originally posted by **apurvar1010** March 24, 2022</sup>
I have created an amazon lambda using Quarkus framework and packaged it using GraalVM native-image. The functionalities is quite simple with basic validations, however I am creating Dynamo DB client and SQS clients. I have instant

[2022-03-24 22:30] gsmet commented on #24540
@radcortez didn’t you fix something similar recently?

[2022-03-24 22:31] famod commented on #24257
@stuartwdouglas @aloubyansky
I'm kinda stuck. This is what I came up with: https://github.com/quarkusio/quarkus/compare/main...famod:ct-unit-transform-cl
Which does resolves this issue, but it somehow also partially breaks change detection for QuarkusTest, meaning a QuarkusTest will no re-run if a class it depends on changes in an upstream module.

I'm under the impression that unit tests must be

[2022-03-24 22:31] famod commented on #24257
PS: I noticed that reloading of unit tests is partially broken the same way, even in 2.7.5.Final.

[2022-03-24 23:09] fage88 opened #24547 "Maven native-image build failure after upgrading to 2.7.5"
### Describe the bug

I made a post on stackoverflow about an native build issue I encountered in Quarkus 2.7.5.Final https://stackoverflow.com/questions/71608733/maven-error-building-quarkus-native-image-java-nio-file-accessdeniedexception?noredirect=1#comment126560141_71608733

On my local environment (windows) as well as on github hosted Ubuntu runners I was able to build native images without

[2022-03-25 00:05] famod commented on #24524
#24548 will fix this issue.
All tests will have to wait until the first test that entered the method of `BasicLoggingEnabler` is done.
This makes more sense IMO than letting them all advance far into the method until setting the config, because logging activation is only needed once (statically), not per test thread.

[2022-03-25 00:07] radcortez commented on #24540
Yes, I've added support for `Instance` injection.

The issue here is a circular dependency between the config mapping and the Validator. Because the Validator is available, we will try to validate the mapping, but the Validator tries to create the ConstraintValidator implementations, which injects a mapping class. I'm not sure if we can do something about this. Maybe something that allows you to s

[2022-03-25 00:09] radcortez commented on #24540
We can probably be a little more smart and only try to validate the mapping if there are actual Validation annotations in it.

[2022-03-25 02:14] kostacasa commented on #22724
Agreed, this would be an incredible value add for any cloud logging solution and allow request metadata to be associated with log messages (user identities, request ids etc). Considering the focus on reactive libraries in Quarkus, MDC should be a supported as default.

[2022-03-25 04:05] #24523 closed

[2022-03-25 05:37] geoand commented on #24547
@phillip-kruger (or maybe @aloubyansky ?) do you think you can open a PR against the 2.7 branch?

[2022-03-25 05:58] glefloch commented on #15013
Yes sure, I will dig into it.

[2022-03-25 07:05] geoand commented on #24541
`char` as a type does not make a tremendous amount of sense, but I opened https://github.com/quarkusio/quarkus/pull/24549 in any case

[2022-03-25 07:29] aloubyansky commented on #24547
I am not sure what fixed it in 2.8.0.CR1 yet. @phillip-kruger do you know?

[2022-03-25 07:57] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2038215002

[2022-03-25 08:15] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2038215002

[2022-03-25 08:58] dameng58 commented on #8384
@ddewalle I added the following configuration in application.properties
![image](https://user-images.githubusercontent.com/31766257/160087944-0f12e2df-91fa-4c61-89d3-f69d3e679f7e.png)
![image](https://user-images.githubusercontent.com/31766257/160088169-28e7b533-b35e-429f-ab2e-ca13604ece8f.png)

and it doesn't work, but the mistake changed：
![image](https://user-images.githubusercontent.com/317662

[2022-03-25 09:11] lamemind-ud commented on #24394
Hello @loicmathieu ... I don't know if it can be useful... but I found a way to flush from `RepositoryBase`

Actually it's just as simple as `RepositoryBase::getEntityManager::flush()`
getEntityManager works with the right PU, but flush doesn't.
The question arise: what's the difference?

[code]

[code]

I am a huge noob and I could be wrong... but it seems that `getEntityManager` relies on the `b

[2022-03-25 09:22] guoxunbo commented on #4644
Hi.What's the plan or future in this.

[2022-03-25 09:30] rsvoboda opened #24552 "resteasy-codestart is picked instead of rest-client-codestart when generating project with rest-client extension"
### Describe the bug

resteasy-codestart is picked instead of rest-client-codestart when generating project with rest-client extension, e.g.`mvn io.quarkus:quarkus-maven-plugin:2.7.5.Final:create -DprojectGroupId=io.quarkus.qe -DprojectArtifactId=rest-client -DprojectVersion=1.0.0-SNAPSHOT -Dextensions=rest-client`

generated code is for sample JAX-RS endpoint, log also says resteasy-codestart

[c

[2022-03-25 09:35] rsvoboda commented on #24552
Wow, rest-client-codestart gets picked up when using `-DquarkusRegistryClient=false` in the command

e.g. `mvn io.quarkus:quarkus-maven-plugin:2.7.5.Final:create -DprojectGroupId=io.quarkus.qe -DprojectArtifactId=rest-client -DprojectVersion=1.0.0-SNAPSHOT -Dextensions=rest-client -DquarkusRegistryClient=false`

[2022-03-25 09:36] rsvoboda commented on #24552
CC @ia3andy / @maxandersen

[2022-03-25 09:41] rsvoboda opened #24553 "Sample project with rest-client-codestart has test failures"
### Describe the bug

sample project with rest-client-codestart has test failures

[code]

Test fails on `Assertions.assertEquals("REST Client", extension.shortName);` check
https://github.com/quarkusio/quarkus/blob/main/devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/rest-client-codestart/java/src/test/java/org/acme/MyRemoteServiceTest.java#L2

[2022-03-25 09:43] ia3andy commented on #24553
Duplicate of https://github.com/quarkusio/quarkus/pull/24551#issue-1180477926

[2022-03-25 09:45] ia3andy commented on #24553
I'll keep it open until the PR is merged

[2022-03-25 09:46] rsvoboda commented on #24553
+1, I was wondering why are you closing the issue as duplicate with link to the PR

[2022-03-25 09:47] ia3andy commented on #24552
I can't reproduce :-/ :
[code]

[2022-03-25 09:48] ia3andy commented on #24553
me too :)

[2022-03-25 09:49] rsvoboda commented on #24552
ok, can be connected to my confug.yaml, let me check

[2022-03-25 09:53] rsvoboda commented on #24552
ok, it's related to the content of `.quarkus/config.yaml` (doing some experiments for info/update goals of quarkus maven plugin)

I can reproduce the problem because I have
[code]

So I end up with 2.2.5 based application, gosh.

[2022-03-25 09:54] rsvoboda commented on #24552
And rest client codestart was added in 2.5 - https://github.com/quarkusio/quarkus/pull/21229

[2022-03-25 09:54] rsvoboda commented on #24552
Closing

[2022-03-25 09:54] #24552 closed

[2022-03-25 10:01] #24384 closed

[2022-03-25 10:11] loicmathieu commented on #24394
Oh  yes, I read the code twice but didn't notice it :(

[code]

Should be replaced by

[code]

So it uses the `gentEntityManager()` method that is implemented via bytecode enhancement so it will be translated to `getEntityManager(EntityClass)`.

[2022-03-25 10:11] loicmathieu commented on #24394
Thanks for spotting the bug.

[2022-03-25 10:22] loicmathieu commented on #24394
And it fact it's what I did three weeks ago, didn't remember if I did it on purpose and forget that I spotted the bug myself or did it without thinking while modifying the comment ...

Anyway I have a PR that fixes the issue openned already ready

[2022-03-25 10:24] lamemind-ud commented on #24394
Actually you found the bug. I just pasted some random code

[2022-03-25 10:37] cescoffier commented on #21423
We are now enforcing it in reactive messaging.

@ozangunalp was that merged in 2.8?

[2022-03-25 11:12] radcortez commented on #24540
Another option would be to create a specific Validator instance just for the Config Mappings.

[2022-03-25 11:49] #24524 closed

[2022-03-25 12:23] vukzeka commented on #21481
I agree with @zakkak this list should include [oracle/graal#4006](https://github.com/oracle/graal/issues/4006)

[2022-03-25 12:26] patriot1burke commented on #24545
The GC may not have been run yet is one possiblity.

Your handler is a CDI bean internally.  I did a quick search and could not find out if the default is that the bean is created per request or not.  Adding @ApplicationScoped to your handler class may reduce the amount of dynamo clients instantiated.

[2022-03-25 12:26] ozangunalp commented on #21423
Yes, Quarkus 2.8 depends on reactive messaging 3.15.0 which runs message handling methods on Vert.x context.

[2022-03-25 12:31] patriot1burke commented on #24545
Or maybe you just need to turn your GetRecords class into a CDI service.  Is that where your client connections are established?

[code]

[2022-03-25 12:56] manofthepeace commented on #24540
Thanks for your explanation it is very clear. The error message on the other hand, really not, I would never have guessed that. A big exception chain until a NPE. Would be nice to at least detect those case so the error could be communicated better. This way it could probably be left as is.

In my case the first option I believe would not work since I do validate the config itself, but I do use th

[2022-03-25 13:39] jerboaa commented on #20891
Upstream Graal VM will have this fixed in 21.3.2 and 22.1 releases (April 2022). Mandrel included this fix in `[21.3.1.1-Final](https://github.com/graalvm/mandrel/releases/tag/mandrel-21.3.1.1-Final)` early, but will sync with upstream in April.

[2022-03-25 14:06] tsegismont commented on #23846
Thanks, @cescoffier

[2022-03-25 14:08] tsegismont commented on #23846
@DavideD can you confirm the issue is resolved in `main` branch? It should be fixed now: https://github.com/quarkusio/quarkus/commit/0dbc247b7c010ebc2f729abf263bd00b7fb2c057

[2022-03-25 14:20] #24553 closed

[2022-03-25 14:53] snazy commented on #24492
The extension's `org.junit.jupiter.params.ParameterizedTestExtension` from `org.junit.jupiter:junit-jupiter-params`

[2022-03-25 15:32] LazaroR94 opened #24560 "Smallrye Config NoSuchMethodError"
### Describe the bug

Hello, I have recently upgraded my Quarkus version to 2.7.5 and all Quarkus packages along with it. I have come to a strange issue in which I am receiving in my Gradle "test" phase and also when I run the application locally that I can only assume has to do with reactive messaging from what I can tell from the very limited stack trace. Can I get some assistance in understandi

[2022-03-25 15:36] lspahija commented on #21423
Cool, looking forward to the release!

[2022-03-25 16:21] DavideD commented on #23846
I'm checking

[2022-03-25 18:40] snazy commented on #24492
Haven't checked Guava's collections though.

[2022-03-25 19:32] gsmet commented on #21423
Can we close the issue then?

[2022-03-25 19:37] lspahija commented on #21423
As far as I'm aware, this appears to be fixed and the issue can be closed. I didn't open this issue, though.

[2022-03-25 19:55] #23846 closed

[2022-03-25 20:16] LegendL3n commented on #24286
@mkouba Do you think it could be possible to not require the `Instance`? Maybe with a config? Just to reduce the patter

[2022-03-25 23:12] famod commented on #24492
This reminds me a lot of https://github.com/x-stream/xstream/issues/253 where I also documented a (not so pretty) alternate workaround.

So this is an upstream issue we cannot really do anything about, so I'm closing this.
Once (if ever) x-stream 1.5 sees the light of day, we'll look into integrating it.

I think you've got a typo there as the following makes the test pass (via surefire `argLine`)

[2022-03-25 23:12] #24492 closed

[2022-03-25 23:13] famod commented on #24492
PS: Anyway, thanks for reporting!

[2022-03-25 23:49] gsmet commented on #24492
Does it work with List.of()? Because if so, it’s probably one people will use with Java 17+.

[2022-03-25 23:59] famod commented on #24492
No, unfortunately: https://github.com/x-stream/xstream/issues/253#issuecomment-835877790

[2022-03-26 02:50] #24394 closed

[2022-03-26 07:09] snazy commented on #24492
That's a kinda depressing issue to read :(

Well, not a typo (as I've added it to .mvn/jvm.config + .mvn/mvnd.properites). It's been a mistake to add it to the Maven JVM - should have added it to the JVM running the tests via surefire (my bad).

I'll probably just add the two `--add-opens` to Quarkus surefire/failsafe configs.

[2022-03-26 13:16] eijckron commented on #20037
@patriot1burke We don't want to run all the dependent services locally, we want run mocks for the direct dependencies locally

The article is interesting though, I'm going to investigate how we can link the component under development locally using mvn quarkus:dev and link to a more complete landscape running on a staging or test environment. Downstream components is relatively easy, upstream comp

[2022-03-26 17:04] gsmet commented on #21574
For the record, we have started a Jakarta initiative with a first goal of automating entirely the migration to Jakarta EE 9 using the Eclipse Transformer and OpenRewrite and make it reproducible.

Once this is done we will work on updating to EE 10 (it will require some code changes so we want to do that in a second step). Again with the goal of automating the whole update.

If you are interested

[2022-03-26 18:20] #21423 closed

[2022-03-28 02:05] shumonsharif opened #24577 "Maven config with "quarkus.version" property results in WARNING log message"
### Describe the bug

When having a property named `quarkus.version` in the Maven pom.xml file, the following warning gets printed during the regular build process.

```[WARNING] [io.quarkus.config] Unrecognized configuration key "quarkus.version" was provided; it will be ignored; verify that the dependency extension for this configuration is set or that you did not make a typo```

### Expected be

[2022-03-28 02:36] guoxunbo opened #24578 "ClassCastException in mutiple Module project"
### Describe the bug

The exception like this:
[code]
- The ProcessFlow is intance of BaseEntity.but when I cast it to baseEntity. I got this error.
- So I write a test to this.but I also get false. why?
<img width="736" alt="image" src="https://user-images.githubusercontent.com/14329149/160316709-90380825-8d38-45cd-a69d-1ee5ef086810.png">
- my project like this
<img width="1445" alt="image" src="

[2022-03-28 02:42] guoxunbo commented on #24578
The object o is processFlow object. but I got false.
If I cast o to baseEntity.then I got this error

[2022-03-28 03:54] guoxunbo commented on #24578
- There is a demo to show it. But I don't konw why?
[demo.zip](https://github.com/quarkusio/quarkus/files/8359509/demo.zip)
- There is the demo snapshot photo.
<img width="1528" alt="image" src="https://user-images.githubusercontent.com/14329149/160323748-461ab475-0dc9-4a1e-92a6-a62f2cdee1e7.png">

[2022-03-28 06:10] mkouba commented on #24286
The `Instance` is absolutely necessary for `@LookupIfProperty` because otherwise we need to follow the spec rules and verify that exactly one bean dependency matches an injection point, othewise fail the build with an ambiguous/unsatisfied dependency.

[2022-03-28 08:05] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2050250910

[2022-03-28 08:05] gsmet commented on #24577
/cc @radcortez

[2022-03-28 08:12] jumolinaro commented on #24452
Hi @gsmet,
I totally agree with you.

So here is a small reproducer with 3 files (1 avro, 1 java & 1 kotlin)
https://github.com/jumolinaro/quarkus-issue-24452

In this reproducer, usage of Avro is not useful (no messages sent to Kafka) but it reproduces the current issue.

[2022-03-28 08:24] mkouba commented on #24452
I can take a look...

[2022-03-28 08:37] famod commented on #24577
FWIW, same happens even for some of Quarkus' own "properties", e.g. https://github.com/quarkusio/quarkus/blob/2862bef1fdb52093eab15762941b4c68ffb8438d/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L253

PS: This has been the case of a long time. There are more such messages on `main`, but I think that has another cause.

[2022-03-28 08:46] gsmet commented on #24577
@famod do you have examples of such new messages and where they occur?

[2022-03-28 08:55] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2050250910

[2022-03-28 10:25] aloubyansky commented on #24452
@glefloch will you have time to look into what happens there on the plugin level?

[2022-03-28 10:28] bpasson commented on #15742
@geoand Looking into this and I need some pointers on where I can hook this into the core. Obviously I can add a method `addShutdownHook(Runnable runnable)` on the `Quarkus` class. I need some pointers on where to go from there. I have been digging around in the shutdown process and I'm not sure where to put them and came up with:

1. Add them to the StartupContext in some way, don't see how to ac

[2022-03-28 11:12] lthasle commented on #24375
@michalszynkiewicz
Thanks four your feedback

Sorry for the late response!

You say that if I change the method MyController.runAsync acccording to the code below, it should work, but if you run the provided test: MyTest.fail

The Authorization header is still missing!

Are there more changes to be done?

private void runAsync(String id) {

managedExecutor.runAsync(() -> {
            String resp

[2022-03-28 12:01] maxandersen opened #24581 "Make Quarkus*IntegrationTest runs use a dedicated "integration" profile for runtime config"
### Description

Currently QuarkusIntegrationTest, QuarkusMainIntegrationTest and NativeImageTest is defaulting to run with "prod" profile during their test runs.

This makes it tricky to use devservice features during integration testing as prod profile might intentionally or unintentionally set values that is not minded for testing.

### Implementation ideas

Suggestion to solve that is to intro

[2022-03-28 12:21] mswiderski opened #24582 "MongoDB client based app fails at building native image due to missing class 'jnr.unixsocket.UnixSocket'"
### Describe the bug

When building an application that uses `mongodb-client` extension into native image the build fails with following exception

[code]

This only happens when application uses
[code]
in the `native` maven profile.

Looks like it triggers some substitutions or something around that.

Possible workarounds

- remove the `<quarkus.native.additional-build-args>--report-unsupported-e

[2022-03-28 12:22] glefloch commented on #24452
yes sure.

[2022-03-28 12:39] glefloch commented on #24452
The devmode is quarkus, I think the problem comes from a missing source path in the model. I will push a fix.

[2022-03-28 13:26] ccarv commented on #13602
Another use case (perhaps an edge case) for separating this configuration:

The cloud service provider that we use requires an HTTP health check endpoint to be available to properly load balance across our containers. This was one of the challenges we faced when going to production with a Quarkus-written application. Our Spring microservices don't have this problem.

[2022-03-28 13:29] mkouba commented on #24452
Hm, that's interesting... it's usually the other way around - a problem in dev mode but not in prod mode ;-).

[2022-03-28 14:37] shumonsharif commented on #24577
If you download the raw logs for any of the successful `main` builds (eg. [this one](https://github.com/quarkusio/quarkus/runs/5706695276)), and run the following command, a fairly large number of quarkus properties show up.

```perl -lne '/Unrecognized configuration key "(.+?)" was/&&print $1' * | sort | uniq```

[2022-03-28 16:14] radcortez commented on #24577
This is caused by https://github.com/quarkusio/quarkus/pull/23943 added to warn the used during build time about unknown properties.

Unfortunately, we don't control the properties that users add to their build scripts like `quarkus.version` so it will report as unused because it is in the quarkus namespace. The fixing PR is ignoring properties coming from the build script, so it should fix most o

[2022-03-28 17:45] radcortez commented on #24560
I've tried to reproduce this by creating a new project with `code.quarkus.io`, with the reactive messaging extension plus kafka. Added a mapping and it worked fine.

Can you please provide your own reproducer? Thanks!

[2022-03-28 20:02] #20505 closed

[2022-03-28 20:05] #24577 closed

[2022-03-28 21:51] igorregis commented on #21985
Am I expected to do anything else or should I just wait for the pull request to be reviewed?

[2022-03-29 05:44] sukolenvo commented on #21648
Hi, I am trying to register client interceptor for a specific service. My bean graph is something like:
[code]
Adding `@RegisterClientInterceptor(FooAuthInterceptor.class)` for every injection point seems a bit redundant (and could be easily forgotten for new services). Have you considered support for annotation for a type? Something like:
[code]
Alternatively if interceptor list could be set in `

[2022-03-29 05:55] cescoffier commented on #21648
You can register a global interceptor. See https://quarkus.io/guides/grpc-service-consumption#client-interceptors

[2022-03-29 05:59] sukolenvo commented on #21648
Yes, but isn't global interceptor will attach to `@GrpcClient("bar")` as well?

[2022-03-29 06:18] geoand commented on #24582
@galderz  @zakkak any idea what's going on here?

[2022-03-29 06:42] geoand commented on #15742
Probably best cook something up and open a draft PR so we can discuss

[2022-03-29 07:29] loicmathieu commented on #24582
As a general rule of thumb, I would say that we cannot guarantee that our native image support is correct if you pass a paremeter that will modify the native image behaviour.

So if you pass `--report-unsupported-elements-at-runtime` this ca cause some part of our support to be skipped, or modify the way GraalVM native image would analyse the code and we cannot do anything about it. We already had

[2022-03-29 07:55] julianseeger commented on #10813
We had this problem for a long time now, too. Now we found at least a workaround.

Using Quarkus 2.7.4.Final with kotlin.

Reproduce:
[code]

As you can see, the dependency injection is sufficient to reproduce the error. I don't make any actuall call to the RestClient.
Now, when I make about 2500-3000 calls to my endpoint:
[code]

the warning occurs (for about 2500 requests nothing happens and the

[2022-03-29 07:57] zakkak commented on #24582
When using `--report-unsupported-elements-at-runtime` GraalVM [registers all the reachable types, even for unsupported/deleted elements](https://github.com/oracle/graal/blob/bc6d4b892055d7147a7ec8293de3d82a89725eef/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/substitute/AnnotationSubstitutionProcessor.java#L583-L605).

In this case it fails while trying to load the reachable typ

[2022-03-29 07:59] geoand commented on #24582
Thanks for the analysis @zakkak!

I'll close this then as it's not a Quarkus issue.

[2022-03-29 07:59] #24582 closed

[2022-03-29 08:03] bartwinski commented on #23324
Hello @Sanne with the quarkus 2.7.5 Final we still facing this issue under load. Especially directly after quarkus startup. Without high load it works fine.
We are using reactive-hibernate with Postgres
We are using following approach:  **Panache.withTransaction {entity.persist()}**
Using **sessionFactory.withTransaction** works also not.
The same exception is thrown: _**Failed to store event: jav

[2022-03-29 08:09] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2056505528

[2022-03-29 08:20] loicmathieu commented on #24582
Thanks for the analysis @zakkak, very clear !

[2022-03-29 08:25] mswiderski commented on #24582
excellent explanation @zakkak! thanks a lot for that.

[2022-03-29 08:48] knutwannheden opened #24597 "Warning regarding MP Metrics API"
### Describe the bug

The `smallrye-fault-tolerance` extension has a dependency on `io.smallrye:smallrye-fault-tolerance` which contains the class `MetricsProvider` which has an injection for `Provider<MetricRegistry>`: https://github.com/smallrye/smallrye-fault-tolerance/blob/798a919e36973cf343d618722ef8a1f463c2706a/implementation/fault-tolerance/src/main/java/io/smallrye/faulttolerance/metrics/M

[2022-03-29 09:09] jmartisk commented on #24597
Hmm yeah this is somewhat annoying, but how do we make sure that there's no other usage of MP Metrics beyond what Fault Tolerance is doing?
We might have to scan the application to detect it, which isn't exactly simple or well-performant, so I'm not so sure it's worth it.

[2022-03-29 09:35] galderz commented on #16885
@kucharzyk What about you send a PR to improve the guide?

[2022-03-29 10:26] KlemenDanfoss opened #24599 "Documentation 'Using a multi-stage Docker build' with Gradle needs updating"
### Description

We are building a multistage docker according to this ('Sample Dockerfile for building with Gradle') _guide_ here https://quarkus.io/guides/building-native-image#multistage-docker

There are some issues in this guide :

What are we copying here?

Should/can we update to java17?

Original image 'ubi-quarkus-native-image' is already run as user 'quarkus', why duplicate?

Gradle is n

[2022-03-29 10:35] geoand commented on #24599
@KlemenDanfoss thanks for reporting!

Since you seem to have already identified the various issues, mind sending a Pull Request where you will update https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/building-native-image.adoc?

[2022-03-29 11:06] stefanwendelmann opened #24601 "Native Container Build failed on symbolic linked folder"
### Describe the bug

Building a native executable with the maven flag `-Dquarkus.native.container-build=true` leads to an error when running on a symbolic linked folder.

When switching to the original path, it works.

### Expected behavior

Works with symbolic linked folder

### Actual behavior

[code]

### How to Reproduce?

1. Create a Simple Project https://code.quarkus.io/
2. Download it and

[2022-03-29 11:11] knutwannheden commented on #24597
Shouldn't it be possible to have an exception for only this particular injection in the logic of `MicroprofileMetricsProcessor`? If you agree, I could look into providing a PR.

[2022-03-29 11:50] ebullient commented on #24597
What are you thinking? Making special cases for specific package names is fragile at best..

[2022-03-29 11:50] jmartisk commented on #24597
Of course it is possible to detect that this injection is present, but what I wanted to say is that if there's any other usage beyond that, then the warning should be shown. So you can't remove that warning just based on the presence of that injection.

[2022-03-29 11:52] ebullient commented on #24597
Right -- would have to ignore usage of the MP Metrics API coming from some packages (is what I'm inferring).

[2022-03-29 11:59] loban commented on #23925
Just wanted to comment that the same error occurred deploying an app using `Quarkus 2.7.5.Final` to a local knative/kubernetes cluster created using `kind`.

[2022-03-29 12:06] florentgarin commented on #23765
Default port env variable seems not correct. On my side I had to specify
JAVA_DEBUG_PORT=*:5005 instead default 5005 to make it works.

[2022-03-29 12:14] Sgitario commented on #23765
@florentgarin do you mean that using the configuration in https://github.com/gsmet/quarkus/commit/67505dc3d5c32bcc64e3c92121c5bedccae4e3ff#diff-352a260cfb79854020efe849e44cedb10355aa4bd7b5eed1db676b77d8870a86R14, didn't work for you?
For me, it's working fine tho. But it's also working fine with "*:5005".

[2022-03-29 12:15] cdmikechen commented on #16640
I think the root cause of this problem is the code in hibernate-core

https://github.com/hibernate/hibernate-orm/blob/f2aa533dfc9fd502cdd90ae909c95bccb4f62493/hibernate-core/src/main/java/org/hibernate/boot/internal/SessionFactoryOptionsBuilder.java#L479-L482

In `quarkus-hibernate`, I found that quarkus set `hibernate.temp.use_jdbc_metadata_defaults` false, so that `meta.supportsBatchUpdates()` a

[2022-03-29 12:23] knutwannheden commented on #24597
Well, I was thinking to only ignore the injection point `io.smallrye.faulttolerance.metrics.MetricsProvider#registry`. I suspect I should be able to retrieve the required information from `InjectionPointInfo`.

[2022-03-29 12:50] florentgarin commented on #23765
No I mean that if you simply use the generated Dockerfile.jvm, build it with the docker command exactly as mentioned in the comments and run it (as explained, plain basic Docker style). Then you will not be able to remote debug your container without -e JAVA_DEBUG_PORT=*:5005

[2022-03-29 12:50] cdmikechen commented on #16640
I think batch insert/update is still a very necessary requirement.
I test that it takes about 5-7 seconds to write 300 records at one time. I think most people can't accept this result.

[2022-03-29 13:30] #24541 closed

[2022-03-29 13:44] gsmet opened #24603 "[CI] - Jakarta Rewrite + Quarkus HTTP main"
This issue will be open and closed dependent on the state of the Jakarta rewrite of https://github.com/quarkusio/quarkus-http.

If you have interest in being notified of this subscribe to the issue.

[2022-03-29 14:34] geoand commented on #21727
Reference fixed

[2022-03-29 14:57] josephearl opened #24607 "Quartz scheduler to support retry on failure"
### Description

It would be really nice if you could specify a number of retries and the delay/backoff between retries for failed scheduled jobs using the `@Scheduled` annotation.

### Implementation ideas

_No response_

[2022-03-29 15:04] geoand commented on #24607
Interesting, but doesn't this already work with `@org.eclipse.microprofile.faulttolerance.Retry` from `quarkus-smallrye-fault-tolerance`?

[2022-03-29 15:07] geoand commented on #23844
@iocanel can you take another look at this one?

[2022-03-29 15:23] mkouba commented on #24607
I think that `@Retry` should work although I've never tried that.

[2022-03-29 15:24] geoand commented on #22560
This was actually fixed by https://github.com/quarkusio/quarkus/pull/23488

[2022-03-29 15:24] #22560 closed

[2022-03-29 15:26] geoand commented on #22213
Vert.x will provide something similar hopefully in 4.3

[2022-03-29 15:28] josephearl commented on #24607
Great, thanks I will give that a go!

Maybe just a mention of that in the docs for scheduled jobs would be useful for users like me 😀

[2022-03-29 15:34] faskan opened #24609 "Custom IdentityProvider not getting called in Quarkus amazon lambda http api when deployed to AWS"
### Describe the bug

My custom identity provider is not getting called when a quarkus lambda http api is deployed in AWS. My test case works fine. And in SAM local it works only when setting QUARKUS_AWS_LAMBDA_FORCE_USER_NAME environment variable. In AWS it doesn't work at all.
When I curl the API gateway endpoint, I simply get a NullPointerException on my resource class just because the security

[2022-03-29 15:46] josephearl commented on #24607
I will give it a go 👍

[2022-03-29 15:59] machi1990 commented on #24607
Thanks

[2022-03-29 16:03] iocanel commented on #23844
Yeah, looking at it right now!

[2022-03-29 16:21] geoand commented on #23844
Thanks 🙏

[2022-03-29 16:26] iocanel commented on #24444
It's not clear to me why we need to setup bouncycastle. Can you please provide some more details?

The rbac configuration is indeed needed (with some minor modifications). However, when the kubernetes-client extension is used along with the kubernetes extension, these are expected to be generated.

I think that the main issue here is that stork-service-discovery-kubernetes is not reusing the kuber

[2022-03-29 16:33] iocanel commented on #23844
The provided reproducer works for me, howver I still can't see the added log message.

[2022-03-29 17:09] aureamunoz commented on #24444
Yes, the rbac configuration is needed, I'm working in the documentation about it and will create a PR soon.

Regarding the bouncycastle, the problem is a `NoClassDefFoundError` Error: Class initialization of io.fabric8.kubernetes.client.internal.CertUtils$1 failed. Use the option --initialize-at-run-time=io.fabric8.kubernetes.client.internal.CertUtils$1 to explicitly request delayed initialization

[2022-03-29 17:18] sushmita-negi commented on #6622
@genehi It seems you have log rotation happening for every run, irrespective of file size being full.
Try setting property  quarkus.log.file.rotation.rotate-on-boot=false

[2022-03-29 18:17] #24500 closed

[2022-03-29 18:22] geoand commented on #24181
Can you add a new reproducer in the comments here?

[2022-03-29 18:39] johnnorton commented on #24181
For some reason github would not let me upload.  Here is a link to the reproducer

https://file.io/FcNNMLpb5KJQ

[2022-03-29 19:21] pjgg opened #24613 "Regresion: Quarkus-cli create app doesn't auto-detect Host java version"
### Describe the bug

When you create an app with `Quarkus-cli 2.6.3` the tool detects the java version that is running in the developer environment and the resulted app has the same java version as the host.

This feature is broken in `Quarkus 2.7.5.Final`

Reproducer:

Quarkus 2.6.3

Install quarkus-cli 2.6.3: `jbang app install --name qs2.6.3 io.quarkus:quarkus-cli:2.6.3.Final:runner `
Create a

[2022-03-29 19:54] #16425 closed

[2022-03-29 21:23] damonsutherland commented on #24537
I am experiencing this as well.  Thanks @iompo for the work in detailing this defect.  Rolling back to 2.6.3.Final resolved my current issues.

[2022-03-29 21:25] gsmet commented on #24537
It would probably help if you could get a heap dump when memory usage is high.

[2022-03-29 21:47] Achyutha7 opened #24618 "Quarkus environment variables issue with Test containers"
### Discussed in https://github.com/quarkusio/quarkus/discussions/24336

<div type='discussions-op-text'>

<sup>Originally posted by **Achyutha7** March 15, 2022</sup>
Developed the integration tests using Test container. Have few fields as environment variables(Eg: passing it as quarkus.datasource.username=${SER_DB_USERNAME:postgres}) in application.properties file.

When setting environment fiel

[2022-03-29 22:13] famod commented on #24578
I'm not 100% sure I understand your use case, but if you change
[code]
to
[code]
it works!

(Unwritten) rule of thumb in Quarkus: Try the TCCL first. 😉

[2022-03-30 01:36] guoxunbo commented on #24578
@famod 👍.oh. Nice. Thank's a lot.
It's slove it.I will remember TCCLforever.

[2022-03-30 01:36] #24578 closed

[2022-03-30 01:58] guoxunbo opened #24619 "@MaperSupperClass Object extend PanacheEntityBase. How to write a new static method in it."
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.7.2.Final

### Build tool (ie. output of `mvnw --version` or `gradl

[2022-03-30 05:22] geoand commented on #24618
`@IfBuildProperty` is determined at build time (see [this](https://quarkus.io/guides/cdi-reference#enable_build_profile) for more details), so when the application runs in the container, the condition is **not** evaluated at runtime

[2022-03-30 05:22] #24618 closed

[2022-03-30 05:36] geoand commented on #24181
This does work in Quarkus `2.8.0.CR1`, so perhaps the fix was not backported

[2022-03-30 05:39] johnnorton commented on #24181
I will wait for 2.8.0.  Thanks!

[2022-03-30 05:59] geoand commented on #24601
This sounds like a docker issue. Perhaps trying a newer version of Docker could improve things?

[2022-03-30 06:21] geoand commented on #21598
ping @evacchi

[2022-03-30 06:23] geoand commented on #21445
If this is something we want to do, I can definitely help out (due to my JAX-RS experience, my gRPC experience is 0️⃣ )

[2022-03-30 06:24] geoand commented on #21248
Is this still an issue?

[2022-03-30 06:26] cdmikechen commented on #16640
Update my current progress.
I can successfully handle some batch situations by manually setting the batch size of the session (I had written codes in issue https://github.com/hibernate/hibernate-reactive/issues/1256).
However, there are still some situations that cannot be handled. After debugging and tracking the codes, I found that there seems to be some hard coding in hibernate-reactive, which

[2022-03-30 06:32] geoand commented on #20949
I'm going to close this as we really have not seen other instances of it.
If the issue persists, feel free to comment and / or reopen

[2022-03-30 06:32] #20949 closed

[2022-03-30 06:48] mkouba opened #24621 "Scheduler - support non-blocking scheduled methods"
### Description

Currently, a scheduled method is always invoked on a thread from the core thread pool. As a result, you can't e.g. use Hibernate Reactive in a scheduled method. A workaround is to inject the managed `Vertx` and use `Vertx.runOnContext()`.

We could either use `@io.smallrye.common.annotation.NonBlocking` to mark a scheduled method as non-blocking or allow a scheduled method to retu

[2022-03-30 06:48] michalszynkiewicz commented on #21445
It is, I'll ping you when I start looking into this.

[2022-03-30 07:32] aloubyansky commented on #8593
@evacchi @gsmet The failure is
[code]
did we break it in Quarkus?

[2022-03-30 07:32] indiealexh commented on #8268
[code]

This is what I needed to do.

[2022-03-30 07:40] geoand commented on #8593
Well, we didn't exactly break it, it never worked. What we did in https://github.com/quarkusio/quarkus/pull/24579, is to fail explicitly

[2022-03-30 07:42] evacchi commented on #8593
I suppose that we should disable those tests in platform and fix them on `main` @fjtirado @ricardozanini

[2022-03-30 07:44] aloubyansky commented on #8593
It still is a breaking change from the platform IT perspective, since we can't adapt it besides disabling it altogether for the release.

[2022-03-30 07:46] aloubyansky commented on #8593
@evacchi @fjtirado @ricardozanini will you be able to adapt these tests in time for 2.9?

[2022-03-30 07:47] evacchi commented on #8593
2.9 seems like a reasonable time frame to me (I can't see deadline on the wiki yet, though). WDYT @fjtirado @ricardozanini ?

[2022-03-30 07:48] geoand commented on #8593
I marked the PR as a breaking change

[2022-03-30 07:51] aloubyansky commented on #8593
Thanks @geoand It's ok assuming the platform TS can be adjusted in time.
@evacchi @fjtirado @ricardozanini roughly in a month. Although we'll want it in and re-enable the tests ASAP to make sure they don't have other issues.

[2022-03-30 07:52] knutwannheden opened #24624 "Decorator using generics throws `NoSuchMethodError`"
### Describe the bug

When a CDI decorator uses generics it can result in a `NoSuchMethodError` being thrown.

[code]
[code]
[code]

Please see attached zip with a reproducer for details: [code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/8378245/code-with-quarkus.zip)

### Expected behavior

A decorator should be able to use generics AFAICT.

### Actual behavior

With the attached

[2022-03-30 07:53] knutwannheden commented on #24624
/cc @mkouba

I have not yet been able to reproduce the problem with the `VerifyError` I have mentioned before. I am still investigating, however.

[2022-03-30 07:54] geoand commented on #8593
You are welcome!

If necessary, we can always provide some kind of flag that will disable the hard fail and just print a warning.

[2022-03-30 08:18] iompo commented on #24537
[Here](https://drive.google.com/file/d/1vdC7WGMly0ywODf2Ocjw6wXOJynLl9Al/view?usp=sharing) a link to the dump file (made with VisualVM)

[2022-03-30 08:28] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/2062728753

[2022-03-30 08:32] RuggeroDAlo opened #24626 "Resteasy reactive with Http 1.1 Pipelining raising exception since quarkus 2.4.0"
### Describe the bug

In a quarkus 2.7.5 app running with docker I've noticed the following errors:
[code]

I think this is due to the client using pipelining, I can reproduce the error running in dev mode with the simplest endpoint possible
[code]

Sending 2 requests with
[code]
On version 2.7.5.Final / 2.8.0.CR1 results in:
[code]

On quarkus 2.3.1 or lower this doesn't happen, quarkus 2.4.0 is

[2022-03-30 08:40] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2062708894

[2022-03-30 09:17] glefloch commented on #24599
@KlemenDanfoss are you interested into pushing the fix? otherwise, I can to it.

[2022-03-30 09:30] rsvoboda opened #24629 "hibernate-orm guide should mention JNDI is disabled"
### Describe the bug

Hibernate ORM extension has disabled use of JNDI (https://github.com/quarkusio/quarkus/pull/22901 for no-op impl, exception before that)

hibernate-orm guide should mention that JNDI is disabled

Some guides do mention JNDI restrictions:
[code]

### Expected behavior

hibernate-orm guide should mention that JNDI is disabled

### Actual behavior

hibernate-orm guide does not m

[2022-03-30 09:42] stefanwendelmann commented on #24601
@geoand
using docker desktop 4.6.1 (2022-03-22)

Here my `docker version` output

[code]

[2022-03-30 09:49] maxandersen commented on #24613
okey thats weird but I can confirm it does not seem to work :/

@ebullient @ia3andy any ideas ?

[2022-03-30 09:50] mschorsch commented on #24621
See also https://github.com/quarkusio/quarkus/issues/21428

[2022-03-30 09:58] timhurkmans opened #24630 "Exception in the java compiler (17.0.2) during deserialization in quarkus-rest-client"
### Describe the bug

When I am trying to extract the body of a `javax.ws.rs.core.Response` generated by the quarkus-rest-client, to a `ArrayList<Object>` using quarkus-rest-client-jackson, the java compiler throws an exception.

Scenario:
- Given a restclient with a method getResponse, which returns a Response (content does not matter, this is a compile error):
[code]

- When trying to extract pa

[2022-03-30 10:12] KlemenDanfoss commented on #24599
Yes, I will.

[2022-03-30 10:20] loicmathieu commented on #24619
In Java, static methods are bound to the declaring class, so even if you call it via a child class, it is still called on your `BaseUpdatableEntity` abstract class and not the child class. This is the way static methods works in java.

Unfortunatly, for this to work you'll need to define `getByName` in your child class (it can delegate to a static method on you abstract class if you want).

[2022-03-30 10:26] ebullient commented on #24613
I think it is the match for the java version property...
we fall back to the default if it didn't match. So we're making a bad assumption about what a version string looks like (I haven't stared at the regex and I don't think I wrote it, but that's where the problem lies, I believe.. so if you have that version string handy, we can figure it out)

[2022-03-30 10:28] michalszynkiewicz commented on #24630
@timhurkmans can you check if it works if you switch to rest-client-reactive?

[2022-03-30 10:32] michalszynkiewicz commented on #21648
Yes it will.
You can work around it by delegating all interactions with a specific client to a single bean

[2022-03-30 10:35] guoxunbo commented on #24619
@loicmathieu
Yes.Understand. But why the `PanacheEntityBase`Can do this? such as findById, list or find.
[code]
I don't undestand this?

[2022-03-30 10:40] loicmathieu commented on #24619
It cannot, there is bytecode enhancement going on under the cover.

The issue is that the method is bound to the wrong type `BaseUpdatableEntity` instead of the child type. Hibernate need to know the entity type to map the resultset to the right Java type, and your method declare `BaseUpdatableEntity` as the return type so it try to map to this type instead of the type of the entity.

[2022-03-30 10:42] michalszynkiewicz opened #24631 "REST Client Reactive ARRAY_PAIRS query param style should not impact single values"
### Description

From stackoverflow:
I have a service that accepts requests with the following query parameters:
[code]
parameters `param[117]` are `List<String>`, and parameter limit is a `string`

The service expects to receive these parameters in the following form:

`.../sevice-name?param[117][]=2233&param[117][]=3344&param[117][]=5566&limit=1`

for this I enable the setting on the client in t

[2022-03-30 10:48] #24452 closed

[2022-03-30 10:48] gsmet commented on #24613
Given we are targeting Java 11+ now, can't we use `Runtime.version().feature()` instead?
Maybe we need to check that the GraalVM returns the underlying Java version and not the GraalVM version but I think it should probably work (and avoid things being brittle).

[2022-03-30 10:48] guoxunbo commented on #24619
@loicmathieu
ok. Understand it. Thank's a lot.
Is there have any example to know how to use bytecode enhancement to cover it? I want to study it in my free time.

[2022-03-30 10:50] gsmet commented on #24613
Another possibility would be to use `java.specification.version` but if `Runtime.version().feature()` works OK, it's probably the way to go.

[2022-03-30 10:53] tobi-quarkus-coder opened #24632 "RESTEasy reactive HTTP PATCH doesn't work"
### Describe the bug

I want to make use of partial updates via HTTP Patch. The mechanism is working fine in imperative RESTEasy implementation but not if I switch to reactive.

My resource has a standard getById method:

`
@GET
@Path("/{id}")
public Uni<MyEntity> getById(@PathParam("id") Long id)`

and a patch method:
`
@PATCH
@Path("/{id}")
@Consumes("application/merge-patch+json")
public Uni<My