[2021-12-30 22:53] ebullient commented on #21790
Closing this. Recommendations for how to work around memory usage are given above.

[2021-12-30 22:53] #21790 closed

[2021-12-30 23:38] gsmet commented on #22567
@srigano was it working with 2.6.0.Final?

[2021-12-30 23:39] gsmet commented on #22567
/cc @radcortez

[2021-12-30 23:41] gsmet commented on #22566
My guess is that you have a mix of traditional RESTEasy and RESTEasy Reactive dependencies. But having the pom would be nice as we should improve on detecting this if it's indeed the issue.

[2021-12-30 23:49] gsmet commented on #21790
@ebullient hmmm, if this thing is not usable in production, we should either document it or tweak it or implement a filter by default. But it's definitely not the behavior I would expect and I'm even surprised this can be so much of an issue.

[2021-12-31 00:04] gsmet commented on #21790
What's a bit weird is that the size of the ring buffer is `1024` which is the old default and it has been `3` since 2.0.0.Final (https://github.com/quarkusio/quarkus/pull/17852).

[2021-12-31 00:20] gsmet commented on #21790
I tried to debug the creation of the ring buffer and I get 3 for the size, which is what we expect in recent Quarkus versions.

@janinko I would be interested in having more information about your setup and how you end up with a ring buffer sized to 1024. I added a breakpoint in `AbstractTimeWindowHistogram` for the `ringBuffer` initialization.

[2021-12-31 00:38] osbornk opened #22568 "OpenTelemetry not working with RESTEasy reactive mode"
### Describe the bug

I am trying to setup OpenTelementry on two on Kotlin 1.6.10 and Quarkus 2.6.1. I have a trivial application that takes an input and then makes an HTTP call to another endpoint (on the same application).

If I use RESTEasy Reactive with a synchronous function it works fine. I get a full trace from the HTTP end.

Here is my server:

[code]

[code]

If I call `/hello/sync` I get

[2021-12-31 06:12] ebullient commented on #22556
The problem lies in DataSources.applyNewConfiguration:
[code]

I don't remember why MP Metrics is handled differently.

[2021-12-31 06:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1639782525

[2021-12-31 06:43] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1639782525

[2021-12-31 07:46] srigano commented on #22567
No. but i remember having testing succesfully it on 2.4.x ...
let me test it again.

[2021-12-31 08:13] sumit0900 commented on #20009
I can see only limited services available in https://github.com/quarkiverse/quarkus-amazon-services.
If I have the use case to use other services like ```step func, AWS ecs, pinpoint  etc``` then is there any way I can use AWS SDK package.

[2021-12-31 13:50] gsmet commented on #22515
This is due to `WebJarUtil` copying files to `/tmp/quarkus`. I think we need a better strategy here, probably by creating a specific temp directory for each instance but we need to make sure it's correctly cleaned up when shut down.

Also there are all sorts of specific rules for dev mode and live reload so this needs to be carefully crafted.

/cc @Postremus @phillip-kruger

[2021-12-31 14:32] mklueh commented on #22566
I'm using Gradle in a multi-module project. Doesn't make sense to provide you all the build.gradle files, but those are the dependencies that should be relevant. I've tried around multiple variants:

[code]

I think I messed things up by including the quarkus-resteasy-mutiny dependency. Using the quarkus-mutiny works on the other hand.

This is also related to your comment @gsmet on my other issue

[2021-12-31 17:51] Postremus commented on #22515
@gsmet This one is quite interesting. On Windows, the generated directory for webjar content is e.g. `C:/User/martin/Appdata/Local/Temp/quarkus/...`.

`WebJarUtil` however simply uses `System.getProperty("java.io.tmpdir");` to determine the temp dir, which might point on linux to anywhere outside the user dir.

I will take a look at this, since I just recently made changes to `WebJarUtil` anyway.

[2021-12-31 17:53] brunohpg commented on #21953
@glefloch

Yes, the `quarkusDev` works properly.

I updated all projects to version 5.6.1. I had to make some additional configurations in the common project, as before there was no database configured and now it is mandatory, or the test will try to start a docker container.

Looks like everything worked fine after that. I don't know if I did something wrong before.

However, there is a differenc

[2021-12-31 17:53] #21953 closed

[2021-12-31 18:30] gsmet commented on #22515
Yeah, unfortunately on Linux, the temp directory is global so you end up with `/tmp/quarkus` for all users.

So my guess is that we would need to create directories with `Files.createTempDirectory("quarkus-resources-")` and use this directory for all resources and register a shutdown hook to delete it.
But it's going to be a bit more cumbersome than that given how things are done.

[2022-01-01 01:56] debu999 commented on #22520
Any update on this bug. Is there anything to do for yaml config to cascade to extensions automatically

[2022-01-01 11:55] gsmet commented on #22520
@debu999 it would be helpful if you could add the content of the application.properties in your repo. Just comment out the properties. That way, we can easily check the differences.

@evacchi any chance you could have a look at this one? I mean even if the properties were ignored, I wouldn't expect a compilation error? I checked the pom and it's using the platform so it looks OK version wise.

[2022-01-01 11:58] debu999 commented on #22520
@gsmet There are 2 branches.
1 working - working/withproperties
1 not working - bug/withoutproperties
Do checkout and run please.

[2022-01-01 12:00] gsmet commented on #22520
Ah, cool, perfect!

[2022-01-01 14:36] gunnarmorling opened #22569 "Inconsistent versions of slf4j-api"
### Describe the bug

Getting this enforcer failure when pulling in 2.6.1.Final:

[code]

### Expected behavior

One version of the slf4j-api artifact should be used consistently.

### Actual behavior

_No response_

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No respon

[2022-01-01 14:37] gwenneg commented on #22251
Hi @Leonardofreua. Caching Multi is not currently supported by the `quarkus-cache` extension. There will be a warning soon at build time if you add any caching annotations to a method returning `Multi` and the caching logic will be skipped entirely when the method is invoked.

[2022-01-01 14:39] gunnarmorling commented on #22569
PR at https://github.com/quarkusio/quarkus/pull/22570

[2022-01-01 14:43] famod commented on #22569
I think updating to 1.7.32 makes sense. Apart form this specific update, there is a fundamental decision yet to be made w.r.t `RequireUpperBoundDeps`, see [#21247.](https://github.com/quarkusio/quarkus/issues/21247#issuecomment-979157172)

[2022-01-01 16:50] evacchi commented on #22520
@cristianonicolai @tiagodolphine (BTW happy new year everyone 🎉 🥳 )

[2022-01-01 16:51] famod commented on #20392
The EA build has been fairly stable lately, closing...

[2022-01-01 16:51] #20392 closed

[2022-01-01 16:52] debu999 commented on #22520
Yeah just got in to new year. M becoming a fan of Quarkus, just felt I have wasted a lot of time with spring boot. This year focusing on smart and efficient coding.

[2022-01-01 17:12] gsmet commented on #22000
Closing this one in favor of https://github.com/quarkusio/quarkus/issues/22295 . The user has a workaround.

[2022-01-01 17:12] #22000 closed

[2022-01-01 17:15] gsmet commented on #22008
@glefloch I checked and this is still a problem with 2.6.1.Final.

[2022-01-01 17:20] gsmet commented on #21905
I think we could just add a warning when executing `quarkus registry add registry.quarkus.redhat.com` if there is no registry set.

[2022-01-01 17:22] gsmet commented on #21923
I think it would help if you could upload a zip with a small Maven reproducer.

[2022-01-01 17:25] gsmet commented on #15580
@paulrobinson I think we are in a good place regarding this now? Could we close it?

[2022-01-01 17:26] gsmet commented on #21557
@cescoffier is it done?

[2022-01-01 17:32] gsmet commented on #21429
Talking about 2.6 so closing.

[2022-01-01 17:32] #21429 closed

[2022-01-01 17:38] gsmet commented on #21962
Given how your setup is specific, I don't see how we will be able to help you here.

[2022-01-01 17:38] #21962 closed

[2022-01-01 17:39] gsmet commented on #21952
There's really not much information here for us to help you. If you want help, you will need to provide a complete reproducer of your problem and explain how to reproduce it and what you're trying to do.

[2022-01-01 17:44] gsmet commented on #21919
I think it should probably be put on the radar for 2.8. @cescoffier @michalszynkiewicz I don't know if you have a gRPC roadmap somewhere?

[2022-01-01 17:46] gsmet commented on #5918
My understanding is that Stuart did something like that which works with some IDEs.

[2022-01-01 17:49] gsmet commented on #21930
This has been fixed upstream.

[2022-01-01 17:49] #21930 closed

[2022-01-01 17:55] gsmet commented on #21860
/cc @michalszynkiewicz @Ladicek

[2022-01-01 18:02] gsmet commented on #21699
Two things:
- with the new Quarkus Platform model, the Google Cloud Services BOM is not included by default anymore: you need to add an additional BOM: https://search.maven.org/artifact/io.quarkus.platform/quarkus-google-cloud-services-bom/2.6.1.Final/pom
- AFAICS, the artifact is now named `com.google.cloud:native-image-support`

[2022-01-01 18:02] #21699 closed

[2022-01-01 18:07] gsmet commented on #21700
@fedinskiy does your Quarkus app run with a non default locale/encoding?

[2022-01-01 18:11] gsmet commented on #21722
@seb-noirot a small Maven reproducer would help.

[2022-01-01 18:13] gsmet commented on #21745
No reproducer, let's close.

[2022-01-01 18:13] #21745 closed

[2022-01-01 18:14] gsmet commented on #21646
Done.

[2022-01-01 18:14] #21646 closed

[2022-01-01 18:16] geoand commented on #20505
Yes, that's exactly the problem...

It probably won't be an easy fix, but definitely a necessary one

[2022-01-01 18:17] gsmet commented on #21598
/cc @evacchi, @mariofusco this looks like something simple to fix?

BTW, I recently implemented the ability to link guides from the quarkus.io Guides page to external resources (typically the Quarkiverse Hub). Maybe that's what you would want now?

Anyway, let's try to do something about that and close this.

[2022-01-01 18:19] gsmet commented on #21650
Yes, that's a known limitation. The reason is that otherwise we would have to build the native executable twice.

[2022-01-01 18:23] gsmet commented on #21592
Let's revive this one. /cc @mkouba , see @gwenneg 's question above ^

[2022-01-01 18:25] gsmet commented on #21574
Our current position is that Jakarta EE 9 has a high impact on the users while not bringing much to the plate feature-wise.

We have plans to work on Jakarta EE 10 integration once it's available and also try to reduce the potential impact on the users.

[2022-01-01 18:29] gsmet commented on #21558
https://issues.redhat.com/browse/RESTEASY-3051 has been fixed in RESTEasy 4.7.4.Final so this issue should be fixed starting with Quarkus 2.6.0.CR1.

[2022-01-01 18:29] #21558 closed

[2022-01-01 18:31] gsmet commented on #21557
Looks like it's not done yet. If we get rid of distroless, we can also close https://github.com/quarkusio/quarkus/issues/21573 .

[2022-01-01 18:32] gsmet commented on #21548
No reproducer, closing.

[2022-01-01 18:32] #21548 closed

[2022-01-01 18:34] gsmet commented on #21401
/cc @mkouba

[2022-01-01 18:37] gsmet commented on #21405
@mkouba probably useful to have a look at `LocalesBuildTimeConfig`.

[2022-01-01 18:41] gsmet commented on #21479
I think this has been fixed?

It's a bit hard to know as currently it's impossible to upgrade Kogito in the quickstarts. Let's see what happens when we are able to.

/cc @evacchi can you keep this one on your radar?

[2022-01-01 18:47] gsmet commented on #21277
I'm closing this. Given Quarkus was able to bind to the port, it's probably related to how each one was bound on different interfaces because otherwise Quarkus would not have been able to bind anything at all.

[2022-01-01 18:47] #21277 closed

[2022-01-01 18:48] gsmet commented on #21278
No activity for a while, closing. Please reopen if it's still an issue for you. And if so we will probably need a more thorough reproducer.

[2022-01-01 18:48] #21278 closed

[2022-01-01 18:50] gsmet commented on #21313
/cc @DavideD not sure Hibernate Types is supported by Hibernate Reactive?

[2022-01-01 18:52] cescoffier commented on #21557
Not everything is done. I will have a look to complete it once back.

[2022-01-01 18:52] gsmet commented on #21333
Closing as it's quite old and we haven't had any other reports of this. If it's still an issue for you, please reopen it.

[2022-01-01 18:52] #21333 closed

[2022-01-01 18:53] cescoffier commented on #21919
gRPC is part of the reactive roadmap. However we don't have this issue on it. We can definitely add it.

[2022-01-01 18:56] gsmet commented on #21171
The extension has been moved to https://github.com/quarkiverse/quarkus-tika . Closing the issue here.

[2022-01-01 18:56] #21171 closed

[2022-01-01 18:58] gsmet commented on #21217
/cc @DavideD

[2022-01-01 19:02] gsmet commented on #21247
Frankly, I don't see how this would be feasible for us. And I definitely wouldn't want to add exclusions everywhere just to satisfy `RequireUpperBounds` which is IMHO a very strict rule that in a lot of occurrences will be triggered for non-issues.

[2022-01-01 19:05] gsmet commented on #21252
@kdubb given you have interest in the Amazon Services extensions, I wonder if you would be interested in working on this one? I think we should provide a way to contribute additional interceptors via CDI.

[2022-01-01 19:10] gsmet commented on #21250
Given what Stuart said, this should be fixed in 2.6 by the Gizmo upgrade.

If not, please reopen.

[2022-01-01 20:16] arjantijms commented on #21574
It's actually not bringing anything at all feature-wise. That's by design.

We did a Jakarta EE 9 so that tool and library vendors (such as yourself) and your users can more gradually prepare. I thought that was actually the strategy Red Hat had as input when we decided this and voted for it.

[2022-01-01 20:55] #22569 closed

[2022-01-01 21:32] vladykin commented on #22510
This reproduces with Quarkus 2.6.1.Final as well. But it didn't with Quarkus 2.1.3.Final, which we are trying to upgrade from.

[2022-01-02 06:47] maxandersen commented on #21250
no, this still fails.

[code]

[2022-01-02 06:48] maxandersen commented on #21250
updated sample to use 2.6 and fix missing variable syntax error.

[2022-01-02 06:54] maxandersen commented on #5918
@stuartwdouglas do I need to do something special to enable it ? this is what I get in 2.6.1 with an exception thrown in rest easy handler.

<img width="1466" alt="2022-01-02_07-53-13" src="https://user-images.githubusercontent.com/54129/147868586-a4d9bf4b-8b44-4b3c-abe6-1afd50782526.png">

[2022-01-02 10:29] gsmet commented on #5918
I think it was done in the console, not in the UI, which makes kinda sense given you have to execute a local binary.

[2022-01-02 10:39] maxandersen opened #22574 "x - open last stacktrace not working with vscode/codium"
### Describe the bug

have exception occur and try use `x` to open it and you get code to open "main.java:18" which is not a syntax code supports.

example app:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (i

[2022-01-02 10:41] maxandersen commented on #5918
yeah so the console one is not this issue. This was specifically about highlighting in the browser as the one in console requires you to move/change focus and won't necessarily stay around as long as the browser is open.

I found the "opens last exception in IDE" and doesn't seem to work for my setup at least - but that's a separate issue I've opened at https://github.com/quarkusio/quarkus/issues/

[2022-01-02 10:55] gsmet commented on #5918
Well then please adjust the title of the issue.

Thanks.

[2022-01-02 16:52] cescoffier commented on #21453
@loicmathieu reported improvements in the last version (we did change a few things in reactive messaging).

I'm going to close this issue as out of date, and, because @loicmathieu found some new interesting behavior, open a new one once we have all the details.

[2022-01-02 16:52] #21453 closed

[2022-01-02 16:54] cescoffier commented on #20951
Closing in favor of an enhancement request as proposed in https://github.com/quarkusio/quarkus/issues/20951#issuecomment-957756675

[2022-01-02 16:54] #20951 closed

[2022-01-02 16:56] cescoffier commented on #22390
Closing - see comments.

[2022-01-02 16:56] #22390 closed

[2022-01-02 20:26] aekkader opened #22580 "quarkus.http.cors.origins=* : it does not work"
### Describe the bug

quarkus.http.cors.origins=* : it does not work

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build tool

[2022-01-02 21:01] evacchi commented on #21479
I'll be on PTO next week so let's ping @mariofusco

[2022-01-02 21:41] famod commented on #21247
Yeah, maintaining specific excludes for each Quarkus release sounds like a maintenance nightmare.

OTOH, when updating a dependency, is everyone aware that he/she might be forcing this dependency to run on outsdated transitive dependencies?

[2022-01-02 22:26] rcnespoli opened #22581 "live reloading error with Kotlin"
### Describe the bug

I'm using quarkus version `2.6.1.Final` and kotlin version `1.6.10` and running in dev mode with command `mvn quarkus:dev`. The service started normally and i can run curl -v `http://localhost:8080/hello` and returns "Hello RESTEasy". If i change the code to return "Hello World", live reloading fails when i run curl again.

### Expected behavior

Return Hello world

### Actua

[2022-01-03 05:25] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1648042118

[2022-01-03 05:57] #21892 closed

[2022-01-03 06:06] geoand commented on #22560
@ia3andy I thought we have already made this change

[2022-01-03 06:19] geoand commented on #22580
Can you please provide more info?

[2022-01-03 06:23] geoand commented on #22568
Can you please attach a sample project that exhibits the problematic behavior? It would be a tremendous help...

[2022-01-03 06:29] geoand commented on #22521
cc @radcortez

[2022-01-03 06:32] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1648043520

[2022-01-03 06:33] Postremus commented on #22580
@aekkader
By default, `quarkus.http.cors.origins` already allows any host if not otherwise specified.

Please also make sure to set `quarkus.http.cors` to `true`.

This is for example a snippet of the configuration I use:
[code]

Explicitly defining the star wildcard should work the same. If it does not, we need a reproducer.

[2022-01-03 06:35] geoand commented on #22537
The issue here is that you can't use `quarkus-resteasy-mutiny` along with `quarkus-resteasy-reactive`. Using `quarkus-undertow` with `quarkus-resteasy-reactive` **is** however allowed via https://github.com/quarkusio/quarkus/pull/20886

[2022-01-03 06:35] #22537 closed

[2022-01-03 06:37] geoand commented on #22566
Using dependency exclusions  for Quarkus dependencies will **not** work.

[2022-01-03 06:37] #22566 closed

[2022-01-03 06:43] geoand commented on #20505
@sberyozkin @pedroigor we really need a reactive version of `quarkus-keycloak-admin-client`. What does that client do in practice? How hard would it be to uncouple it from RESTEasy?

[2022-01-03 06:58] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1648043520

[2022-01-03 07:42] mkouba commented on #21401
@joachimglink What's the actual stack trace? Did you try quarkus 2.6.1? I've tried to modify one of our tests and although the impl is suboptimal (the `Bean` metadata returns two qualifier instances) no exception is thrown...

[2022-01-03 07:52] mkouba commented on #21592
I have no idea. But I can try to take a look at the reproducer...

[2022-01-03 07:54] mjiderhamn commented on #22556
Yes, and as far as I could tell `mpMetricsPresent` was set based on the `io.quarkus.metrics` capability.

[2022-01-03 08:18] mkouba commented on #21592
So it seems that `DataProvider.class` has a synthetic static method for each coroutine, e.g. `get1$suspendImpl(org.acme.DataProvider, java.lang.String, kotlin.coroutines.Continuation)` and this method has the same annotations like the original method, i.e. `get1(java.lang.String, kotlin.coroutines.Continuation<? super java.util.List<java.lang.String>>)`. The cache interceptor is first invoked for

[2022-01-03 08:20] Plawn commented on #22394
Hello, sorry for the delay. I'll try to make a reproducer, but I think it could also be linked to reactive-resteasy instead of using resteasy. I'll work on it

[2022-01-03 08:37] paulrobinson commented on #15580
@gsmet I agree. We've changed what we can, and removed roughly 70% of the problematic language across the Quarkus repos. I can provide a more detailed analysis if needed. But in general the remaining occurrences are from public APIs in 3rd party libraries and seemingly benign cases (e.g. master key).

[2022-01-03 08:37] #15580 closed

[2022-01-03 08:54] joachimglink commented on #21401
The exception is this:
`java.lang.RuntimeException: java.lang.ExceptionInInitializerError
Caused by: java.lang.ExceptionInInitializerError
Caused by: java.lang.RuntimeException: Failed to start quarkus
Caused by: java.lang.RuntimeException: Failed to initialize Arc
Caused by: java.lang.IllegalArgumentException: duplicate element: @MyQualifier(value="some-value")
`

But it seems that the issue is a

[2022-01-03 09:09] mariofusco commented on #21479
The problem originally reported by @galderz has been fixed with [this commit](https://github.com/kiegroup/drools/commit/e69356ec840362bdaa6098d40aa6deefb0337528).

That said I'm not sure if this also solves the problem with our use of the `Runnable` interface reported by @triceo. I believe that we use that interface in a few points in drools and kogito, just as functional interface for a lambda an

[2022-01-03 09:09] indalaterre commented on #21923
Hello and happy new year!

This is the reproducer. I created a script "upload.sh" to fire the request.
[demo.zip](https://github.com/quarkusio/quarkus/files/7801113/demo.zip)

[2022-01-03 09:14] Ladicek commented on #22157
I'd expect that https://github.com/quarkusio/quarkus/pull/20664 fixed that, so this might be a regression somewhere. I'll check.

[2022-01-03 09:52] jmartisk commented on #22556
So the problem is that with SmallRye, metrics are enabled by default for all data sources, but disabled with Micrometer.
The javadoc implies that they are enabled in both cases.
If we're not going to change the behavior, the javadoc should be changed, but I think it would make sense to unify this.
If the global setting `quarkus.datasource.metrics.enabled` is `true`, and that needs to be set explic

[2022-01-03 09:59] mkouba commented on #21401
Yes, the IAE comes from the `java.util.Set#of()` method and it was fixed in https://github.com/quarkusio/quarkus/pull/21232 in 2.4.2.Final.

[2022-01-03 10:09] mkouba commented on #21401
However, we still need to fix the `BeanInfo` so that the qualifier annotation from the supertype is completely ignored.

[2022-01-03 10:11] joachimglink commented on #21401
Why should the qualifier from the supertype be ignored?
I´d expect that the qualifier on the supertype is still recognized if the qualifier is marked with @Inherited.

[2022-01-03 10:12] geoand commented on #21923
This is a not a Quarkus problem, but a problem with how you are using cURL. If you capture the traffic for the request your upload script is sending you will see:

[code]

which is clearly wrong. A valid multipart request would contain somethingh like:

[code]

[2022-01-03 10:12] #21923 closed

[2022-01-03 10:12] #22581 closed

[2022-01-03 10:18] FroMage commented on #22477
No it's not, this is directly backed by the Quarkus worker thread pool, so you can block.

[2022-01-03 10:19] FroMage commented on #22477
The real question is why is the thread interrupted? And perhaps there are some bits which should handle the interruption?

[2022-01-03 10:21] FroMage commented on #22554
@loicmathieu: @gytis left Red Hat IIRC.

@indiealexh would you be willing to contribute such a new extension?

[2022-01-03 10:31] mkouba commented on #21401
I mean it should be ignored if the subtype declares an annotation of the same type... as defined by the CDI spec.

[2022-01-03 10:59] geoand opened #22585 "Provide configuration for RESTEasy Reactive response buffer size"
### Description

When using RESTEasy Reactive, a user does not have the ability to configure the response buffer size (as opposed to what is possible when using RESTEasy Classic via `quarkus.resteasy.vertx.response-buffer-size`)

This was originally reported [here](https://stackoverflow.com/q/70498150/2504224).

[2022-01-03 10:59] mkouba commented on #21592
For the record - I assume that the only reason why we don't ignore the non-static synthetic methods is that we expect that a framework can add a synthetic method that needs to be intercepted. But I'm not really sure this is something that should be supported.

[2022-01-03 11:06] manovotn commented on #21592
You beat me to it. I was going to ask if this is something we want to support anyway. It might even be surprising that such method gets intercepted. Personally, I think we could ignore both cases but at least _synthetic static methods_ can definitely be skipped.

[2022-01-03 11:23] mkouba commented on #21592
@gwenneg @manovotn PR sent: https://github.com/quarkusio/quarkus/pull/22586 ;-)

[2022-01-03 11:25] radcortez commented on #21002
Ok, I'll have another look.

[2022-01-03 11:33] loicmathieu commented on #21002
Thanks

[2022-01-03 11:43] radcortez commented on #22521
MP 5.0 only provided Jakarta compatible binaries in December. We now need to move all of the SmallRye implementations to use Jakarta (and this is only covering the MP side).

Unfortunately, this is not an easy thing to do, especially since it requires that dependencies are ready to support Jakarta.

[2022-01-03 12:12] rsynek commented on #21479
Hi @mariofusco, I checked OptaPlanner with the latest `main` of Quarkus and there is no issue (including native).

[2022-01-03 12:49] radcortez commented on #22567
I've tried it with a personal project with 2.6.1 and it worked fine for me. @srigano are you able to provide me with a reproducer? Maybe there is some weird combination that is causing the issue.

[2022-01-03 13:10] TomasHofman commented on #21860
@OleKsimov I'm not able to reproduce that issue.

I'm testing with two separate apps, the first app serves a resource that takes 10 seconds to respond:

[code]

The second app, based on your reproducer, uses rest client to connect to the first one:

[code]

application.yml:

[code]

The rest client connections timeouts after one second with `java.net.SocketTimeoutException: Read timed out`. It doe

[2022-01-03 13:12] barreiro commented on #21335
fixed by #22442

[2022-01-03 13:12] #21335 closed

[2022-01-03 13:14] Xnyle opened #22589 "Externalize Annotations into slick jar"
### Description

With Quarkus 2+ I need to put a io.quarkus.runtime.annotations.StaticInitSafe annotation on my ConfigSource if I need static init.

This annotation is part of core though and the library that contains the ConfigSource is not only used with quarkus.

YES i could add a compileOnly dependence to quarkus-code but that doesn't look right.

Quarkus should have a slick stereotype only de

[2022-01-03 13:17] geoand commented on #22557
There is no such configuration (at least not part of any Quarkus extension).

Did you see this in some documentation?

[2022-01-03 13:17] #22557 closed

[2022-01-03 13:33] celsomarques opened #22590 "Reflection registration when building with native-sources"
### Describe the bug

I'm building quarkus native application in two different ways and one works properly and another one don't.

Ok
[code]

NOK
[code]

@cescoffier investigated this and it seems there are missing reflection needed by Kafka - [link](https://github.com/quarkusio/quarkus-images/issues/181#issuecomment-1003904046)

### Expected behavior

_No response_

### Actual behavior

_No respo

[2022-01-03 13:46] geoand commented on #22554
That is correct

[2022-01-03 13:58] geoand commented on #22554
@Sgitario might be interested in this. This should not be terribly difficult to implement (since we can build on what is already there for the Hibernate ORM version and the fact this new extensions only needs to support RESTEasy Reactive), but it will require some changes to introduce reactive flavors.
Furthermore, once the reactive flavor is available, it could also be used by the Mongo the exten

[2022-01-03 14:17] sberyozkin commented on #22477
@FroMage @manovotn May be because the injection is happening on the IO thread while injected tokens producer is blocking.
It can be delayed though, the token acquisition.
@lthasle, can you please add `quarkus.oidc-client.MidtNorge.early-tokens-acquisition=false` and see if it helps ?

[2022-01-03 14:44] cescoffier commented on #22590
Renamed the issue, it's not related to Kafka. I don't see where we pass the reflection registration (including the ones for Kafka, but also all the other ones (JSON...)

[2022-01-03 14:44] cescoffier commented on #22590
@geoand @stuartwdouglas any idea?

[2022-01-03 14:52] geoand commented on #22590
The reflection registration information (along with a bunch of other stuff) is performed programmatically in the generated feature class, see `io.quarkus.runner.AutoFeature` in the generated jar.

[2022-01-03 15:24] #21401 closed

[2022-01-03 16:03] amitkumar7566 opened #22595 "Quarkus doesn’t send X-Ray traces to AWS for sub-segments in Native build while using “controller”-based approach"
### Describe the bug

I an using "Controller" based approach using RESTEasy. I have added Quarkus AWS Xray dependency in my POM.xml..

And then we are instrumenting calls to AWS Services using below dependency:
<dependency>
    <groupId>com.amazonaws</groupId>
    <artifactId>aws-xray-recorder-sdk-aws-sdk-v2-instrumentor</artifactId>
    <version>2.10.0</version>
</dependency>

Also, we create man

[2022-01-03 16:15] osbornk commented on #22568
Here you go:
https://github.com/osbornk/quarkus-otel

The test instructions are in the README.

An interesting thing I found is that this behavior seems to be specific to posting a HTTP body, such as raw text of JSON. When using query parameters, everything works fine. That is definitely a bit odd, but it is consisytent.

[2022-01-03 16:25] lthasle commented on #22477
@sberyozkin thanks for your proposal but adding:
quarkus.oidc-client.MidtNorge.early-tokens-acquisition=false
did NOT make any change unfortunately

[2022-01-03 16:26] gsmet commented on #22595
My guess is that we might need to register something more for reflection. But what... If you can debug in JVM which objects are serialized that contain the information you want, that might help.

[2022-01-03 16:30] cescoffier commented on #22590
Hum, does that work when you pass a reflection Config file too?

[2022-01-03 16:32] geoand commented on #22590
You mean if the user configures a reflection config file?

[2022-01-03 16:49] sberyozkin commented on #22477
@lthasle Sorry, I forgot that it is a global property, https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/AbstractTokensProducer.java#L21, it is not a client tenant specific, can you please try `quarkus.oidc-client.early-tokens-acquisition=false`

[2022-01-03 16:52] lthasle commented on #22477
@sberyozkin
adding: quarkus.oidc-client.early-tokens-acquisition=false
did NOT make any change unfortunately

[2022-01-03 17:27] #21557 closed

[2022-01-03 18:13] christoph-thelen-db opened #22597 "ClassCastException when combining OpenTelemetry with EventBus"
### Describe the bug

When trying to send a message via a vertx EventBus, the call fails because OpenTelemetry tries to cast the message into an HttpRequest.

[code]

### Expected behavior

No exception occurs and an OpenTelemetry span is created.

### Actual behavior

Call fails with a ClassCastException, see above.

### How to Reproduce?

Create opentelemetry-quickstart project (see official qua

[2022-01-03 18:31] cescoffier commented on #22590
@geoand like this: `quarkus.native.additional-build-args=-H:ResourceConfigurationFiles=resources-config.json, -H:ReflectionConfigurationFiles=reflection-config.json`

The provided reflection-config is very minimal:
https://github.com/celsomarques/quarkus-native-app/blob/master/src/main/resources/reflection-config.json

[2022-01-03 18:33] geoand commented on #22590
And the problem is that this additional command line argument is not being passed to GraalVM?

[2022-01-03 18:39] OleKsimov commented on #21860
@TomasHofman
Well, there are no such lines in my reproducer in application.yaml files:
_test-client/mp-rest/connectTimeout: 1000
test-client/mp-rest/readTimeout: 1000_

Please try to run the test itself in the attached reproducer "as is" and check the behaviour. @Timeout annotation doesn't interrupt running test after specified timeout.
And even for your case it's working not quite right, because

[2022-01-03 18:43] cescoffier commented on #22590
Ok, it's not that. I've removed the file and I still have the issue:

[code]

So, there is something not passed into native-sources.

[2022-01-03 18:49] geoand commented on #22590
I'll have a look tomorrow

[2022-01-03 19:20] cescoffier commented on #22590
The KafkaProcessor does register a type hierarchy:

[code]

If we could find a way to compare both "native" and "native-source" it would help us understand the difference.

[2022-01-03 19:29] sberyozkin commented on #22477
Hmm... I'm out of the ideas right now. `TokensProducer` which you have injected extends `AbstractTokensProducer` and if this property is indeed injected then the early token acquisition must be skipped, but the stack trace suggests this property is not injected, `io.quarkus.oidc.client.runtime.AbstractTokensProducer.initTokens(AbstractTokensProducer.java:38)` -> https://github.com/quarkusio/quarku

[2022-01-03 19:46] #22558 closed

[2022-01-04 05:54] #22585 closed

[2022-01-04 06:23] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1652201018

[2022-01-04 06:29] geoand commented on #22590
FWIW, the configuration files **are** passed to GraalVM.

I'll have a look at what is going on in the generated feature

[2022-01-04 06:33] geoand commented on #22590
The only way I can think of is to look at the generated `io.quarkus.runner.AutoFeature`. When I did so, I saw the classes that the `withSaml` method registers. For example:

[code]

[2022-01-04 06:36] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1652201018

[2022-01-04 07:26] geoand commented on #22568
Thanks.

@radcortez I don't see where OTel is integrated with JAX-RS, so I can't really tell what's going on. Do you have any idea?

[2022-01-04 07:33] geoand commented on #22590
Those are simply mapped to `-H:AdditionalSecurityProviders` on the command line.

It seems like the reproducer is using an old Quarkus version that did not include https://github.com/quarkusio/quarkus/pull/21809. Can you try with `2.6.1.Final`? It should fix the problem by also including the proper `-H:AdditionalSecurityProviders` on the generated command.

[2022-01-04 08:10] radtriste commented on #14860
LTS should be fixed by https://github.com/quarkusio/quarkus-ecosystem-ci/pull/73

[2022-01-04 08:23] kristijan-rusu opened #22603 "gRPC code generation for specific dependencies"
### Description

`gRPC` users are encouraged to share `.proto` files instead of generated code, as the other way around defeats the purpose of schema first contract. Both client and server should use the same `.proto` file to be able to communicate.

My opinion is that the most common way of sharing `.proto` files is between modules in a multi-module project. In this case, Quarkus does not provide

[2022-01-04 08:38] fedinskiy commented on #22254
@DavideD I ran the checks on commit c16115ec1b1092bbedeb5f14dc39848383e068d4 and this is the result:

[code]

[2022-01-04 08:39] mariofusco commented on #21479
Thanks for check @rsynek.

@galderz @gsmet I think we can close this issue.

[2022-01-04 08:46] fedinskiy commented on #22254
I also removed source of fails in the reproducer, it should now work properly.

[2022-01-04 08:58] rsvoboda opened #22605 "Combination of rest-client and smallrye-opentracing ends with NPE when running generated tests"
### Describe the bug

Combination of rest-client and smallrye-opentracing ends with NPE when running generated tests

Using Quarkus 2.6.1.Final, test is passing when `smallrye-opentracing` is commented out.
Seems this is not a new regression, was able to reproduce on Quarkus 2.2.5.Final.

[code]

### Expected behavior

`mvn clean verify` passes

### Actual behavior

`mvn clean verify` execution fa

[2022-01-04 08:59] mkouba commented on #22603
Hm, the `quarkus.generate-code.grpc.scan-for-imports` property is IMO only used to control what can be used in the [proto buffer import definitions](https://developers.google.com/protocol-buffers/docs/proto3#importing_definitions).

The gRPC stubs are generated during the `generate-sources` phase of the build, jandex is not involved at all

@michalszynkiewicz I think that we could use a logic simi

[2022-01-04 09:09] lthasle commented on #22477
@sberyozkin
Just to be clear, the result is the same when I use: quarkus.oidc-client.early-tokens-acquisition=false

But the stacktrace is different related to the class AbstractTokensProducer which you talk about:
Here is the actual stacktrace, but I guess you already have seen this

`
javax.ws.rs.ProcessingException: java.util.concurrent.CompletionException: java.lang.InterruptedException
	at or

[2022-01-04 09:09] TomasHofman commented on #21860
Yes, I was referring to your sentence:

because in my experiments readTimeout does interrupt an unresponsive rest client connection.

I agree that the readTimeout and callTimeout attributes are not set by Quarkus automatically when `@Timeout` is configured, as the spec says it should, but setting readTimeout/connectTimeout manually can be used as a workaround.

[2022-01-04 09:41] ozangunalp commented on #22478
@pjgg
The config `apicurio.registry.auto-register` is present for the outgoing channel named `source-stock-price` but is not there for the channel `sink-stock-price`, with the topic name `end-stock-price`.
Apicurio is complaining that it could not find a schema for the record value with the default id `end-stock-price-value` for this topic.
So by adding `mp.messaging.outgoing.sink-stock-price.apic

[2022-01-04 09:44] radcortez commented on #22568
Yes. Check the `opentelemetry` extension and https://github.com/quarkusio/quarkus/blob/57f6a9d9cb288cce2b558d793948b8d0e56ea806/extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/OpenTelemetryVertxTracer.java

Since I have been doing the OTel integration work I can pick this up if you want :)

[2022-01-04 10:41] geoand commented on #22568
That would probably be best as I don't see any touch points with RESTEasy Reactive :).
FWIW, this looks like some kind of race condition

[2022-01-04 10:48] geoand commented on #22605
I will take a look at this as @metacosm brought this to my attention via https://github.com/quarkiverse/quarkus-operator-sdk/issues/174 which seems to share the same root cause

[2022-01-04 10:59] cescoffier commented on #22478
@ozangunalp should we document that (if not done already)?

[2022-01-04 10:59] SirSkizo commented on #7358
Still having this issue with Quarkus 2.5.1, all works fine iff  %xxxx.quarkus.hibernate-orm.database.generation=create

[2022-01-04 11:03] ozangunalp commented on #22478
I think it is well documented here: https://quarkus.io/guides/kafka-schema-registry-avro#the-movie-producer

[2022-01-04 11:54] geoand commented on #22590
@cescoffier should we close this as `out of date`?

[2022-01-04 11:55] cescoffier commented on #22590
@geoand I think so.

[2022-01-04 11:56] #22590 closed

[2022-01-04 11:58] celsomarques commented on #22590
@geoand / @cescoffier, bump version solves the issue!
Sorry about that and thanks a lot!

[2022-01-04 12:00] geoand commented on #22590
No problem!

[2022-01-04 12:08] JapuDCret commented on #9677
About my previous comment:
I investigated this issue and found out, that with that setup we generate two different test class instances.
I think this is normally also the case, but here Pact uses the instance, where Quarkus does not inject anything.

Here's the first instance creation (which will then be used by Pact)
https://github.com/quarkusio/quarkus/blob/2.6/test-framework/junit5/src/main/jav

[2022-01-04 12:12] ozangunalp commented on #22561
@OleKsimov As you said the behavior you are having is expected. The throttled commit strategy registers the timestamp when each record is received. Using this timestamp, it checks periodically if any record has waited in the queue without being acked or nacked for more than `throttled.unprocessed-record-max-age.ms`. It is one of the ways to avoid queuing too many records without processing them in

[2022-01-04 12:15] JapuDCret opened #22611 "Quarkus CDI-managed beans not available in Pact state callbacks"
### Problem

We have a [Pact REST provider test with state callbacks](https://docs.pact.io/implementation_guides/jvm/provider/junit/#provider-state-callback-methods), where we do not want to use testcontainers to startup the application, but rather a normal `@QuarkusTest`.
For easy use-cases this works, as mentioned in https://github.com/quarkusio/quarkus/issues/9677 and demonstrated in https://gi

[2022-01-04 12:24] geoand commented on #22611
This is indeed the case, two instances are created in different ClassLoaders, unfortunately there is no way around that.

This is bound to break a lot of things ?)

[2022-01-04 12:40] JapuDCret commented on #22611
That's what I thought, would also be too easy :D.
But do you see a way, how the proper instance can be forwarded to Pact?

The `@State` annotated methods are invoked here: https://github.com/pact-foundation/pact-jvm/blob/master/provider/junit5/src/main/kotlin/au/com/dius/pact/provider/junit5/PactVerificationStateChangeExtension.kt#L38-L39
so via the JUnit Jupiter callback `BeforeTestExecutionCallb

[2022-01-04 12:41] geoand commented on #22611
https://quarkus.io/guides/getting-started-testing#enrichment-via-quarkustestcallback

Yeah, we would need something like that

[2022-01-04 12:42] sberyozkin commented on #22477
@lthasle Sorry about all of it, I'll try to have a look when I'm back;

So it all works if it is not a new thread - but if it is a new thread provided by `ManagedExecutor` then the underlying blocking `OidcClient` request is interrupted.

Hi @mkouba @manovotn @FroMage - if you have any other ideas why it can be the case then please comment - this is the only difference, the client request filter w

[2022-01-04 12:59] michalszynkiewicz commented on #22603
sounds like a missing feature, @kristijan-rusu could you create a very simple reproducer to help us implement this?

[2022-01-04 13:00] OleKsimov commented on #22561
@ozangunalp

Well, I said that it's totally unexpected, and that's why I created this issue ;)

Unfortunately, they are not received at the same time. They are polled simultaneously but processed one by one, and 2 of them are considered "received" at the same time, others are not. And that is why I created this issue.

So my exact suggestion is to provide the ability to manage the time it is recei

[2022-01-04 13:45] aloubyansky commented on #8593
@ppalaga @jamesnetherton fyi
[code]

[2022-01-04 14:01] fedinskiy commented on #21700
@gsmet I do not pass any parameters to the application, and locale on the openshift node looks like that:
[code]

[2022-01-04 14:04] gsmet commented on #21700
I wouldn't be surprised if it could be related to using a non-UTF-8 locale. I have no idea what should be used as the default charset for content types if you're not defining any charset in it.

[2022-01-04 14:09] kristijan-rusu commented on #22603
@michalszynkiewicz Here is simplest reproducer I could make. If you want to test the implementation with generated code, uncomment the extension and plugins part of the `example-api` maven pom.
[org.example.zip](https://github.com/quarkusio/quarkus/files/7808132/org.example.zip)

[2022-01-04 14:24] marcelomrwin commented on #16225
It works fine for me, thanks

[2022-01-04 14:26] gsmet commented on #22580
Closing, we have tests for it. If it's a problem for you, you need to provide a lot more information such as attaching a small reproducer.

We don't even know which Quarkus version you are using. Some older versions did not support `*` but newer do. It might be a bug and if you can end up preparing a reproducer, please attach it and reopen.

[2022-01-04 14:26] #22580 closed

[2022-01-04 14:32] gsmet commented on #21226
I'm closing this one given we don't have any reproducer allowing us to dig what's going on. If you end up having a reproducer, please reopen (or open a new issue with the reproducer attached).

Thanks.

[2022-01-04 14:32] #21226 closed

[2022-01-04 14:34] gsmet commented on #21059
The improvements from Daniel have been merged, closing.

[2022-01-04 14:34] #21059 closed

[2022-01-04 14:34] gastaldi commented on #22521
Duplicate of #21574

[2022-01-04 14:34] #22521 closed

[2022-01-04 14:37] gsmet commented on #21094
AFAICS, things are OK with 2.6.1.Final.

[2022-01-04 14:37] #21094 closed

[2022-01-04 14:40] gsmet commented on #21433
Just posting here to make sure this one is not forgotten: https://github.com/quarkusio/quarkus/issues/21111 .

[2022-01-04 14:47] rsvoboda commented on #22431
@gwenneg / @geoand is there any conclusion from quarkus-dev mailing list or waiting for more inputs?

[2022-01-04 14:53] Ladicek commented on #15600
Yes, SmallRye Fault Tolerance no longer requires thread offloads to guard asynchronous actions. You can either use `@NonBlocking`, or use the non-compatible mode that only looks at the return type (https://smallrye.io/docs/smallrye-fault-tolerance/5.2.1/usage/extra.html#_non_compatible_mode).

As for why the actions are invoked on multiple different thread pools, I can't tell. Using `@Timeout` may

[2022-01-04 14:56] rsvoboda opened #22619 "No native tests in grpc-hibernate module"
### Describe the bug

No native tests in grpc-hibernate module, just  BlockingMutinyTest and BlockingRawTest.java in https://github.com/quarkusio/quarkus/tree/main/integration-tests/grpc-hibernate/src/test/java/com/example/grpc/hibernate

Simple approach like
[code]
can't be used be used as tests are using injection and one gets NPE when invoking method on `client`

[code]

Checked gRPC related gu

[2022-01-04 15:01] osbornk commented on #22568
Thanks for looking into this and let me know if you need any further information or testing. I am pushing to introduce Quarkus on GraalVM at my company and this is basically the one last unsolved problem. We love OpenTelemetry.

[2022-01-04 15:01] pjgg commented on #9316
+1 !

[2022-01-04 15:06] radcortez commented on #22595
A reproducer could also help. Thanks!

[2022-01-04 15:08] #22597 closed

[2022-01-04 15:08] gsmet commented on #21051
@cescoffier what should we do with this one? Should we replace the distroless thing with ubi-micro? Or call it a day and close this issue?

[2022-01-04 15:09] cescoffier commented on #21051
That has already be done. So we can just close it.

[2022-01-04 15:17] matthyx commented on #21051
@cescoffier by the way, do you have some tracking issues on what you're planning regarding native images (upx, ...) to see if I can help somehow?

[2022-01-04 15:19] cescoffier commented on #21051
Most of the stuff will be tracked on https://github.com/orgs/quarkusio/projects/13. (let me know if you cannot access it, it should be public, but I may have to ping @maxandersen  again to remind him :-D )

BTW, UPX has already been implemented (https://quarkus.io/blog/upx/)

[2022-01-04 15:19] #21051 closed

[2022-01-04 15:22] fedinskiy commented on #21700
Well, IETF considers[1] ISO-8859-1(yikes!) as a default, but recommends[2] to use UTF-8. To my understanding, this particular example should work with both, but the latter option looks like a better idea.

As a side note: since Quarkus is advertised as a Kubernetes-native framework[3], novice users(e.g. yours truly) expect that behaviour of their applications doesn't depend on the environment.

[1

[2022-01-04 15:22] matthyx commented on #21051
indeed, I am getting 404

[2022-01-04 15:33] israelst11 commented on #15601
Hay, last week we shifted one of our production services from spring webflux to quarkus and we encountered this exact issue which took us by surprise since the FaultTolerance annotations do handle reactive operations nicely. We assumed the Metrics annotation will behave the same.
Here is where the FaultTolerance interceptor identifies an "async" flow:
[https://github.com/smallrye/smallrye-fault-to

[2022-01-04 15:39] geoand commented on #15601
Yup, just like `@Cached` works as well.

[2022-01-04 16:50] gsmet commented on #20911
@sberyozkin wouldn't this one be fixed by your ongoing PR? Or maybe already fixed?

[2022-01-04 16:52] gsmet commented on #20928
Please provide a working reproducer. We can't spend hours trying to reproduce each issue. Thanks!

[2022-01-04 16:53] gsmet commented on #20800
@knutwannheden friendly ping :)

[2022-01-04 17:07] phillip-kruger commented on #21433
Thanks. I am busy looking at both

[2022-01-04 17:18] amitkumar7566 commented on #22595
@gsmet @gsmet
I am unable to share any reproducer as our code highly restricted.
However, you can create and test a simple hello word application also.. try using dynamodb & also one external api call using your restclient and subsegment that.

We cant see any application for xray in your quarkus-quickstarts repo.
Also, the documentation regarding Xray is not properly detailed in quarkus portal.

[2022-01-04 17:27] gsmet commented on #22595
Well, if you want it fixed, please provide more information. I don't have the time to set up everything to reproduce it.

Just giving us the name of the classes in AWS Xray containing the missing information would help if you can debug your JVM app and see where they are.

[2022-01-04 17:27] indiealexh commented on #22554
I might be able to, but it would take me a while due to time limitiations.

[2022-01-04 18:24] ahofmeister commented on #12873
@Sanne btw, Thanks to the bugfix, I was able to remove all getters and setters for Hibernate entities (& special thanks to Blaze Persistence)!

[2022-01-04 18:25] MartinX3 opened #22623 "Error `Circular dependencies not supported` if two beans reference each other"
### Describe the bug

 I expect that at first only proxy beans get injected to avoid the error `Circular dependencies not supported`

### Expected behavior

Injected Proxies avoid a `Circular dependencies` error.

### Actual behavior

Error `Circular dependencies not supported`

### How to Reproduce?

[quarkus-error-reproducer.zip](https://github.com/quarkusio/quarkus/files/7809603/quarkus-error-r

[2022-01-04 18:29] rsvoboda opened #22624 "kotlin-serialization doesn't have native mode coverage"
### Describe the bug

kotlin-serialization doesn't have native mode coverage

### Expected behavior

kotlin-serialization module has native mode coverage

### Actual behavior

kotlin-serialization doesn't have native mode coverage

There is only `ResourceTest.kt` in `integration-tests/kotlin-serialization` module.

I tried to add IT variant for `ResourceTest.kt`, but the execution fails with
[code

[2022-01-04 18:59] ozangunalp commented on #22561
I now understand the confusion. A record is considered "received" not when it is polled from the broker but depending on how the downstream processing "requests" records to consume.

In most cases, the processing is sequential and the downstream processor make one request each time it acks/nacks a record.

However, having the first two requests at the same time seems odd. I need to take a look. I

[2022-01-04 19:12] #20814 closed

[2022-01-04 19:17] gsmet commented on #20831
I think we should close this issue as we clearly want people to use the Quarkus config. We can add more settings if need there if need be but I think @Naros added a lot of them here: https://github.com/quarkusio/quarkus/pull/21872 .

If, for some reason, you cannot define your config with Quarkus config, please open a new issue with an example of what you are trying to accomplish and can't.

Thank

[2022-01-04 19:17] #20831 closed

[2022-01-04 19:18] gsmet commented on #20834
@yrodiere is this an issue we should close with 6.1 coming soon?

[2022-01-04 19:31] #21030 closed

[2022-01-04 19:41] gsmet commented on #20846
@evacchi is it on track for Quarkus 2.7? It would be very good to have it. Full platform release is planned for February 2nd (so the Platform PR must be merged at most on Feb 1st)

[2022-01-04 20:22] gastaldi commented on #18351
Quarkus is using Vert.x 4.2.2. Is this still an issue?

[2022-01-04 20:34] gsmet commented on #18351
I think we probably still need to bind the new commands in the Quarkus impl if not already done.

[2022-01-04 21:05] gastaldi commented on #4646
Is this still an issue? The referenced PRs in this issue were already merged/closed

[2022-01-04 21:06] gastaldi commented on #4945
Closing as the extension was removed from the Quarkus Core and the integration tests no longer exist

[2022-01-04 21:06] #4945 closed

[2022-01-04 21:31] gastaldi commented on #3945
What configuration are you referring to in this issue exactly?

[2022-01-04 21:35] gsmet commented on #3945
Typically `quarkus.hibernate-orm.database.generation`.

[2022-01-04 21:45] #22466 closed

[2022-01-04 21:45] gsmet commented on #3945
Note that I'm not sure it's worth the effort if we don't have enums on the ORM side.

[2022-01-04 21:46] gastaldi commented on #3945
Yeah, I agree, perhaps it would be nice to have an issue in the Hibernate JIRA asking for this

[2022-01-04 22:30] gwenneg commented on #22431
Sorry, I forgot to answer in the mailing list 😄

I started working on @stuartwdouglas' suggestion today, I'll have something ready shortly.

[2022-01-04 22:36] #18351 closed

[2022-01-04 22:38] machi1990 commented on #21455
Hi @ashwinair thanks for proposing to fix this. You are correct, and this has to be done only for existing jobs.
This snippet
[code]
That need to be done in this block
https://github.com/quarkusio/quarkus/blob/0794e80a907b2146cae334ef5c6e2c37ec675001/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java#L203-L207

You mean followup issues? If yes, let's get this on

[2022-01-04 22:43] machi1990 commented on #22479
I am pretty sure that the `identity` suggestion works and I've tested it before. The exception you are seeing is rather strange but possibly a different issue worth investigating. Do you mind preparing a reproducer for it and create an issue for it? Thanks

The other idea was to recreate the quartz table via a database migration using Flyway/Liqubase extensions, since at this point I suspect the c

[2022-01-05 02:55] aomsweet opened #22635 "java.lang.IllegalArgumentException: Wrong syntax of connection URI"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Windows 10 20H1

### Output of `java -version`

17

### GraalVM version (if different from Java)

21.3.0

### Quarkus version or git rev

2.6.1.Final

### Build tool (ie. output of `mvnw --version` or `gradlew --version`)

[2022-01-05 06:43] #19030 closed

[2022-01-05 06:43] #21326 closed

[2022-01-05 06:43] #21355 closed

[2022-01-05 06:51] #21439 closed

[2022-01-05 06:51] cescoffier commented on #21439
This has been implemented.

[2022-01-05 06:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1656890708

[2022-01-05 07:29] yrodiere commented on #20834
I guess we can leave this here to remind me to at least add an integration test with multi-tenancy + Hibernate Search?

[2022-01-05 07:35] mkouba commented on #22623
This works as expeced - in CDI a circularity in a dependency graph is only supported if at least one bean participating in every chain has a normal scope, e.g. `@ApplicationScoped`. Both beans in your reproducer are `@Dependent`.

See also the spec - [Dependency injection and lookup](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#injection_and_resolution).

[2022-01-05 07:35] #22623 closed

[2022-01-05 07:45] arsen-papoyan commented on #7765
Hello everyone.
Sorry if my problem is not related to your conversation.
I am striving hard to find a solution but to no avail.
When using DevTools, I get an exception in the case of using RemoteWebDriver.

I have added this after initializing:
[code]
Added bytebuddy maven dependency to pom.xml.
Environment: Selenium Grid v4.

[2022-01-05 07:45] xstefank commented on #21888
@sberyozkin did you get a chance to work on this, please? I can also create a PR with the above changes if you'd like.

[2022-01-05 08:10] geoand commented on #15601
https://github.com/quarkusio/quarkus/pull/22639 should take care of it

[2022-01-05 08:14] #20904 closed

[2022-01-05 08:25] MartinX3 commented on #22623
@mkouba according to the quarkus docs @dependent has the same scope as the mother class, in my case the scope of the @path annotation of resteasy.

How should I change my scope of the API, service and repo layer without performance and security reduction?
Multiple users are using the rest endpoints at the same time with their user accounts.

[2022-01-05 08:41] geoand commented on #21700
nope, GitHub does not notify on updates

[2022-01-05 08:43] geoand commented on #21700
The version of Quarkus you are using in the reproducer is very outdated. Can you try with `2.6.1.Final`?

[2022-01-05 08:47] geoand commented on #22635
Reactive datasources do **not** use `jdbc`. See [this](https://github.com/quarkusio/quarkus/blob/2.6.1.Final/integration-tests/reactive-mysql-client/pom.xml#L34) for an example of the proper syntax.

[2022-01-05 08:47] #22635 closed

[2022-01-05 08:56] mkouba commented on #22623
Well, it does not have the same scope but is bound to the lifecycle of the target bean. In your case, a **new instance** of the service is **created per each resource class instance**, and if I'm not mistaken the default scope of a resource is `@Singleton`.

Your services should be either stateless, immutable or thread-safe.

It depends. If you make the service `@ApplicationScoped` then you'll hav

[2022-01-05 09:18] fedinskiy commented on #21700
Updated quarkus version in the reproducer. The result is the same.

[2022-01-05 09:34] Xendar opened #22642 "[DevServices] TestContainers registry configuration"
### Description

Hello,

I am currently working on putting in place a database in my project, and I am planning to leverage on DevServices great feature for having my local DB fired up upon a `quarkus:dev`/`quarkusDev` on my local Desktop.
It works fine for now, but I have a constraint: We have a private registry from which we need to pull the Docker images.

So I have 2 use cases to manage:

1. T

[2022-01-05 09:40] gsmet commented on #21700
@geoand did you try locally with a `POSIX` locale?

[2022-01-05 09:43] geoand commented on #21700
I will give it a shot

[2022-01-05 09:52] ruiarodrigues commented on #22479
Hi!
I didn't do any manual changes on quartz tables. I just change the identity value in the code to the suggested value and this error happened.
Meanwhile I renamed the identity for all our Quartz 1.x schedulers to a different value and they were created correctly and with the new cron expressions. The old ones (xxx_trigger) are still in the quartz tables and I will remove them via a database mig

[2022-01-05 10:06] geoand commented on #21700
So indeed changing the locale makes this. I think I know what is causing it

[2022-01-05 10:19] machi1990 commented on #22479
Glad you had the issue fixed.

[2022-01-05 10:23] geoand commented on #21700
https://github.com/quarkusio/quarkus/pull/22644 fixes the issue

[2022-01-05 10:24] rvansa opened #22645 "@ThreadContextConfig does not work in Quarkus"
### Describe the bug

While it is documented in https://quarkus.io/guides/context-propagation annotating
[code]
does not work - the annotation seems to be ignored and all context is propagated.

### Expected behavior

This annotation should work as documented in the guide https://quarkus.io/guides/context-propagation , e.g. not propagate transaction context when this is supposed to be cleared.

##

[2022-01-05 10:43] Sanne commented on #7765
@arsen-papoyan I wonder if you're overriding the bytebuddy version by adding it to the pom - try to ensure you're using the versions recommended by the Quarkus BOM.

If that doesn't help, please open a new issue with a reproducer so that we can look at it in more detail.

[2022-01-05 10:53] FroMage commented on #22645
@manovotn do you think you can try to make that work in Quarkus?

IIRC it used to work in SR as a CDI extension, which wasn't supported in ArC at the time. Perhaps that's changed, or we can find other ways to make it work?

[2022-01-05 11:32] manovotn commented on #22645
Yea, this wasn't possible back then but should be doable now. We just didn't get to it since.

I won't be able to jump onto this right away but can add it to my TODO list.

The logic implementing this for pure MP is inside [SmallryeContextCdiExtension](https://github.com/smallrye/smallrye-context-propagation/blob/main/cdi/src/main/java/io/smallrye/context/inject/SmallryeContextCdiExtension.java) s

[2022-01-05 11:40] gsmet commented on #20752
Fixed by https://github.com/quarkusio/quarkus/pull/20849

[2022-01-05 11:40] #20752 closed

[2022-01-05 11:43] gsmet commented on #20777
Yeah, this is an issue we also have in the Quarkus repository proper.

We use this workaround: https://github.com/quarkusio/quarkus/blob/main/integration-tests/elasticsearch-rest-client/pom.xml#L42-L54 to constrain the build.

I suppose we would have fixed it already if it was easy so I'm leaning towards closing the issue.

@aloubyansky ?

[2022-01-05 11:45] felipewind commented on #21306
@cescoffier , I tried to do this, but didn't work. Probably I did something wrong! I'm using 2.5.1.Final Quarkus version.
[code]
My application.properties
[code]

Error:
[code]

[2022-01-05 11:46] gsmet commented on #20802
@phillip-kruger was it implemented somehow or it's still pending?

[2022-01-05 11:51] mkouba commented on #22645
OT: I wonder if we could add an `area/context-propagation` label? We had a lot of issues related to this topic so far.

[2022-01-05 11:52] gsmet commented on #20718
@liuzqt  Is it still an issue? I saw you closed the other related one.

[2022-01-05 11:52] gsmet commented on #20698
@radcortez looks like one we could tackle easily and be done with?

[2022-01-05 11:53] phillip-kruger commented on #20802
Not yet. On my todo list...

[2022-01-05 11:54] gsmet commented on #20637
@geoand any chance you could have a look at this one and qualify it?

[2022-01-05 11:57] geoand commented on #20637
Sure yeah

[2022-01-05 12:09] radcortez commented on #20698
Yes, the plan is to implement that. OTel is going to offer an API to disable selected endpoints, but we need to move to their config API, which is missing a few things for us to use properly. I'm discussing this with the OTel community, so we can add what is missing.

[2022-01-05 12:12] aloubyansky commented on #20777
Right, the way to fix it is let Maven know there is an implicit deployment dependency. One way would be to add a dependency on the deployment POM as referenced by @gsmet, another could possibly be a Maven extension manipulating the project configuration. I personally won't have time to look into that in the near future, unfortunately. Contributions are always welcome though.

[2022-01-05 12:18] gsmet commented on #20654
We cannot use that because we don't want to use the `org.testcontainers.jdbc.ContainerDatabaseDriver` to start the containers. I'm working on a PR that should make it work. I'll post here in a few.

[2022-01-05 12:19] gsmet commented on #20777
OK, let's close then. And if someone comes up with a PR one day, good :).

[2022-01-05 12:19] #20777 closed

[2022-01-05 12:35] arsen-papoyan opened #22647 "Caused by: java.lang.IllegalArgumentException: Cannot subclass primitive, array or final types:"
### Describe the bug

Added bytebuddy dependency:

[code]

Used this after initializing:
[code]

Step is:
[code]

### Expected behavior

_No response_

### Actual behavior

If running on a local environment, everything is fine, but when running on a remote environment, in the case of clearBrowserCache step, the test is being failed and get this error:

[code]

### How to Reproduce?

_No response_

[2022-01-05 12:38] gsmet commented on #20654
@Dieken sorry for the delay but could you check if https://github.com/quarkusio/quarkus/pull/22648 make it work for you?

There are instructions here on how to build our `main`, you can follow them, just use the code from my branch instead: https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#building-main

[2022-01-05 13:10] geoand commented on #20637
I am **not** witnessing the behavior you mention.

When using `cURL` like so:

`curl -v -H "Accept-Encoding: deflate, gzip;q=1.0, *;q=0.5" -X GET http://localhost:8080/fruits -o /dev/null`

I am seeing the proper response:

[code]

in both cases.

[2022-01-05 13:10] #20637 closed

[2022-01-05 13:29] geoand commented on #22647
Hi,

First of all thanks for reporting. However as you can certainly understand, there is almost no way anyone working on Quarkus can make an inch of progress with this issue due to severe lack of information.
Specifically, there is almost no code provided, no context of how to reproduce the problem, no Quarkus version and certainly no example to try.

This might seem awkward, but put yourself in

[2022-01-05 13:46] gsmet commented on #22645
@mkouba I created area/context-propagation . I'll let you add the rules you want here: https://github.com/quarkusio/quarkus/blob/main/.github/quarkus-bot.yml . Even if you don't add a pattern for the title, it's still useful to have the bot ping the appropriate persons when we add the label and remove the needs-triage one.

[2022-01-05 13:46] ruiarodrigues commented on #22479
@machi1990 It would be nice if this could be documented somewhere (maybe in the 2.1 migration guides or somewhere else) for others to be aware of this situation

[2022-01-05 14:00] Karm opened #22652 "AWT integration tests: Native: False positives on systems with older libs (fontconfig ?)"
### Describe the bug

I came across JDK x Mandrel portable builds (regardless of Mandrel version, both 21.2, 21.3 and 22.0) that pass Quarkus AWT tests on RHEL 9 :heavy_check_mark: , but fail on RHEL 8 :x: :
[code]
The test was looking for an edge of a character rendered with a specific font.

This might come down to a different native library version being used (fonts?) and needs attention.

I wi

[2022-01-05 14:02] Xaseron commented on #7968
This comment didn't age well :D

[2022-01-05 14:04] arsen-papoyan commented on #22647
@geoand Thank you for the reply.
I got you.
But I ran many issues reported where there is even less information.
After all, I can't post my whole project and describe the problem.
Also, I don't know if this problem is exactly related to the Quarkus or not, I just asked about it in another conversation and suggested me to open an issue.
And in fact, I guess the problem is not needed a huge descript

[2022-01-05 14:09] gsmet commented on #21128
@rsvoboda maybe you could create a PR given it looks like you know what you want? It would be as quick as to open the issue :).

[2022-01-05 14:10] michalszynkiewicz commented on #22603
@cescoffier @ozangunalp this (generating classes from a file in a dependency) would make sense for avro too, right?

[2022-01-05 14:15] gsmet commented on #20629
@geoand AFAICS, it's related to common RESTEasy Reactive code, would you mind having a look? The OP provided a reproducer.

[2022-01-05 14:25] geoand commented on #20629
Unfortunately there is no good solution for this...

@FroMage I am wondering whether we should remove `RestResponse#readEntity(Class)` completely...

[2022-01-05 14:28] pjgg opened #22654 "GraalVM issue with JsonNode serialization"
### Describe the bug

When trying to serialize a JsonNode in native, we get the following error::

[code]

Quarkus Upstream: `999-SNAPSHOT`
Java: `11`
Mandrel:  `21.2.0.2-Final Mandrel Distribution (Java Version 11.0.13+8)`

Reproducer:
Project: https://github.com/pjgg/quarkus-test-suite/tree/feat/QUARKUS-1554
cmd: `mvn clean verify -Pnative -Dit.test=SerializationIT#serializeBigList`
Note: `seria

[2022-01-05 14:38] yrodiere commented on #20533
Out of the top of my head, I'd say you can handle that in your custom tenant resolver, and have that resolver be application-scoped so that it can be used outside of any request?

Something like that, maybe:

[code]

Then you'll have to call `CustomTenantResolver.setTenantId("myTenantId")` before your background tasks, and `CustomTenantResolver.setTenantId(null)` after each task.

I didn't test th

[2022-01-05 14:40] gsmet commented on #22654
Why would you serialize a Jackson JsonNode with the JDK serializer? Or did I miss something?

Because if that's what you're trying to do, maybe let's try to focus on real world use cases?

[2022-01-05 14:40] yrodiere commented on #20533
There are probably other options if you use advanced CDI features involving custom CDI contexts or allowing to simulate a request context, but I don't know exactly how to do that from application code.

[2022-01-05 14:45] rsvoboda commented on #21128
OK, I can look into it tmr or on Friday.

[2022-01-05 14:54] rsvoboda commented on #22654
I asked Pablo in JIRA to combine test https://github.com/quarkusio/quarkus/issues/19711 with bigger payload scenario from https://github.com/FasterXML/jackson-databind/commit/3ccde7d938fea547e598fdefe9a82cff37fed5cb which is about JDK serialization of JsonNode. We are covering Jackson update in 2.2.5.Final because of that use case.

[2022-01-05 14:55] #21700 closed

[2022-01-05 15:07] gsmet commented on #22654
Well, maybe it's an easy fix but if it's not, I doubt it's a good investment of our time to test this in native.

[2022-01-05 15:18] Mai-Lapyst opened #22657 "Qute: user-defined tags should allow insert's like include does"
### Description

Tags are currently documented as "can be used to include a template and optionally pass some parameters" (https://quarkus.io/guides/qute-reference#user_tags).

But inside a (user-defined) tag, you cannot use `insert` to embed nested sections/tags, to for example allow the following:
[code]

[code]

I know that there is `{nested-content}`, but this only allows for the complete body

[2022-01-05 15:18] einarjohnson commented on #21284
@eijckron and @geoand. The problem I am facing is that networking from my application container does not work when it tries to communicate with MySQL and Kafka containers. (the application is a Kafka consumer that processes messages from a topic into MySQL).

I am testing it using `./mvnw clean verify -Dquarkus.container-image.build=true`

Are there any good examples/guides than could help me achi

[2022-01-05 15:41] geoand commented on #21284
So your application is launching both a MySQL and a Kafka dev service?

[2022-01-05 15:49] Chexpir commented on #11368
@j-be I can see this bug is still open, even if it is merged above.
I found a similar issue (cannot get this configuration to work) on 2.6.1.Final.

[2022-01-05 15:51] einarjohnson commented on #21284
@geoand, I am using a test resource where I implement `QuarkusTestResourceLifecycleManager `and `DevServicesContext.ContextAware`. Inside that class I start the Kafka and MySQL containers and I use the `containerNetworkId `I receive from the `setIntegrationTestContext `override, much like @eijckron  does in his example.

[2022-01-05 15:52] andlinger opened #22658 "Resteasy Reactive Client with multipart forms"
### Description

We use the Resteasy Rest Client with Multipart Forms. We would like to switch to Resteasy Reactive with the whole project. However, in our POJO form we use a multipart annotation for which there is no counterpart in Resteasy Reactive.

It would be great if the `@PartFilename` annotation could be implemented.

[code]

### Implementation ideas

_No response_

[2022-01-05 16:00] geoand commented on #22658
This is one for @michalszynkiewicz

[2022-01-05 16:02] gsmet commented on #11368
Better close this one as the original issue is fixed for the OP.

@Chexpir can you create a new issue explaining your problem with a reproducer?

[2022-01-05 16:02] #11368 closed

[2022-01-05 16:07] mkouba commented on #22645
@gsmet  done: https://github.com/quarkusio/quarkus/pull/22661

[2022-01-05 16:08] MartinX3 commented on #22623
Ah, I thought the default scope of a @Path would be @RequestScoped, since rest APIs are usually for requests.
So I assume the best way with maintaining security would be to let the API-Layer annotated with @Path, the Repo-Layer annotated with @Depend and annotate the Service-Layer with @RequestScoped.
Because I read https://quarkus.io/guides/cdi#what-scopes-can-i-actually-use-in-my-quarkus-applica

[2022-01-05 16:08] andlinger commented on #22658
I'm not quite sure what you mean by server side.

I have following rest client in my Quarkus backend:

[code]

This client is used in our Quarkus backend to send a text file, which we have in our `OurForm` object, to another server and have this text file converted to a PDF.

[2022-01-05 16:10] geoand commented on #22658
Okay, so understood this wrong.

@michalszynkiewicz this is for you after all

[2022-01-05 16:23] mkouba commented on #22623
I'm not a security expert (CC @sberyozkin) but I believe that a natural fit for a service is `@Singleton/@ApplicationScoped` as the logic can be usually shared.

https://quarkus.io/guides/cdi#applicationscoped-and-singleton-look-very-similar-which-one-should-i-choose-for-my-quarkus-application

Maybe it's only used for resteasy-classic and not resteasy-reactive? CC @geoand

[2022-01-05 16:29] MartinX3 commented on #22623
Thank you for your response.

Yes, but I read in the internet, that the application layer should be request/session scoped, to avoid sharing security relevant data.
Maybe because this layer injects other beans and communicates with the database and is behind the role credential protection of the user accounts.

Yes, I know the difference, just the github comment confused me a bit first, but it see

[2022-01-05 16:36] geoand commented on #22623
Indeed in RESTEasy Reactive, we always use Singleton

[2022-01-05 16:52] Karm commented on #6259
Not an issue with a properly configured Docker Desktop.

[2022-01-05 16:52] #6259 closed

[2022-01-05 16:59] pjgg opened #22662 "Gauges annotation are not showing up his value, on a resteasy endpoint"
### Describe the bug

If a gauge is declared in a Resteasy endpoint through an annotation, the gauge value is not pushed to `/metrics`

Example:
[code]

But If I move on the gauge to a separate public method, then works as expected:

[code]

Additional when the gauge is not promoted I am getting the following warning message:
[code]

From a developer experience point of view, would be great to hav

[2022-01-05 16:59] rvansa commented on #22645
@manovotn Thanks, so I got the failure because the `@ThreadContextConfig` was effectively ignored and the `@NamedInstance` was only interpreted as receiver.

I personally find a bit confusing the I'd have `@Inject @NamedInstance("foo") ThreadContext tc` once with the `@ThreadContextConfig` annotation and once without but I guess it's out of scope of Quarkus to change that.

[2022-01-05 17:02] JapuDCret commented on #22611
FYI: We now have a super hacky solution, but at least we can continue work now

First we have an abstract class, which every REST Pact Verificiation test relies on and in that we use two helper classes (`PactClassLoaderAttributeHolder` and `PactRestVerificationStates`).

First here's the abstract class, maybe just skim over it - the usage of the helper classes are explained after the code.

[code]

[2022-01-05 17:04] stefannegele opened #22663 "Gradle Task quarkusTest stopped working with version 2.6.1"
### Describe the bug

`./gradlew quarkusTest` stopped working after upgrading Quarkus to version 2.6.1

`./gradlew quarkusDev` still works as expected (and also runs the tests, if told so)

### Expected behavior

`./gradlew quarkusTest` runs quarkus in test mode

### Actual behavior

Logs an error:

[code]

### How to Reproduce?

Steps to reproduce the behaviour:

1. Download and unpack empty proj

[2022-01-05 17:23] cescoffier commented on #22603
@michalszynkiewicz Yes!

Even if in the Avro case, the schema may be available in a schema registry, it would be very useful to have the same mechanism.

[2022-01-05 17:53] gsmet commented on #20521
@DavideD could you have a look at this one? It looks like something we could quickly fix and be done with.

[2022-01-05 17:55] gsmet commented on #20519
Frankly, I don't see us spending time writing a JAXB guide given there's nothing really specific except for the extension. So I will close this issue. If someday, someone wants to create one, just create a pull request with it and we will pursue from there.

[2022-01-05 17:55] #20519 closed

[2022-01-05 17:56] radcortez commented on #20698
Thinking about this a little better, it may take a while for us to have OTel fully integrated to use their config for this. I'll probably just add it directly into Quarkus for now.

[2022-01-05 18:00] radcortez commented on #22595
@amitkumar7566 could you just provide a minimal reproducer? It shouldn't require any of your restricted code. I may be able to look into it since I'm planning to rework the config portion of tracing, but I'm still not there yet.

[2022-01-05 18:01] gsmet commented on #20471
I'm going to close this as won't fix on our side as I see no point tracking something noone really plans on working.

If one day Vert.x has a H2 driver, I'm pretty sure @tsegismont will create the Quarkus extension as he did for the other drivers.

[2022-01-05 18:01] #20471 closed

[2022-01-05 18:02] eijckron commented on #21284
@einarjohnson Just to be sure, when running the application as a docker image the application container should use the hostname of mock-server (ALIAS = "mockserver" in my example code), mysql and kafka containers.
I assume dev services fix this for you for mysql and kafka.
In this case the application code runs within the docker network while your test code does not.

From your test code however y

[2022-01-05 18:03] radcortez commented on #22568
Just to provide some feedback: I was able to reproduce the issue and found a problem in the way the context is retrieved for certain situations. I'll provide a fix soon.

[2022-01-05 18:03] gsmet commented on #20492
@loicmathieu could you have a look at this one and check if it's still an issue?

[2022-01-05 18:12] #22605 closed

[2022-01-05 18:15] lud opened #22665 "Provide a way to re run changed tests only"
### Description

Hi,

When the test suite is huge and takes time to run, there is no way to my knowledge to run only the test I am working on.

I either keep it broken with something like `assertTrue(false)` at the end of the test, coupled with broken-only mode, but this is ugly and only practical when there is just one broken test (it does not work when making big changes that will break things).

[2022-01-05 18:16] gsmet commented on #20461
This has been fixed.

[2022-01-05 18:16] #20461 closed

[2022-01-05 18:17] gsmet commented on #20403
I believe this has been fixed.

[2022-01-05 18:17] #20403 closed

[2022-01-05 18:18] gsmet commented on #20413
Looks like it's working and we didn't have any more info so closing.

[2022-01-05 18:18] #20413 closed

[2022-01-05 19:57] danielpetisme opened #22666 "Explicit the Keycloack administration console `admin/admin` credentials when using DevServices"
### Description

When using Keycloack in a DevServices context, the Administration console requires credentials.
The naive guess is to use `admin/admin` as credentials but is not explicitly documented in the guide.

[](https://quarkus.io/guides/security-openid-connect)

### Implementation ideas

_No response_

[2022-01-05 20:22] danielpetisme opened #22668 "DevServices Keycloack roles are not generated properly"
### Describe the bug

There is an inconsistency in the way roles are created and managed in Keycloack Dev Services.

Given the following config
[code]
When the realm is created, the method `createDefaultRealm` is invoked. First the `createRealmRep()` method will be invoked. This is how roles are fetched:
[code]
https://github.com/quarkusio/quarkus/blob/a43f46e60adf656c67a3ea274094c21b857e9fbb/exte

[2022-01-05 20:25] MartinX3 opened #22669 "Error `It's not possible to automatically add a synthetic no-args constructor to an unproxyable bean class.`"
### Describe the bug

Using a @RequestScoped Service fails, if it extends a abstract service and uses constructor injection to redirect a Repository Bean proxy into the super constructor.

It works, if I use attribute injection via `@Inject`.

Kotlin, Gradle, AllOpen-Plugin

### Expected behavior

A working application.

### Actual behavior

```[error]: Build step io.quarkus.arc.deployment.ArcProc

[2022-01-05 20:27] danielpetisme opened #22670 "Add an example of a list of custom roles when using Keycloak DevServices"
### Description

Keycloak DevServices permit to define a custom role map.
1- Map properties are not obvious for new users
2- There are no details on how to create a list of roles for a given user. A naive guess is to use the comma as a role separator but an explicit mention would help.

https://quarkus.io/guides/security-openid-connect#quarkus-oidc_quarkus.keycloak.devservices.roles-roles

The doc

[2022-01-05 21:15] famod commented on #22665
I think this makes sense. Could be called "affected only" mode or so.

[2022-01-05 21:45] scrocquesel commented on #18105
Fixed at https://github.com/quarkusio/quarkus/issues/22605

[2022-01-05 22:53] MartinX3 commented on #22669
A similar problem happens with entities.
If I use the constructor injection to redirect a `@OneToOne` entity to the abstract entity constructor my used entity extends.
(It's a @MappedSuperclass).
If I inject it directly there, the entity is there.
A funny thing is, that the entity is also there if I use the IntelliJ debugger. There are two entries with the entity attribute.
The `p`-Symbol is null,

[2022-01-05 23:06] manovotn commented on #22669
The automagical creation of a no-arg constructor is only single-level meaning is there is an [abstract] super class that doesn't have no-args constructor, it will fail.

[2022-01-05 23:12] MartinX3 commented on #22669
@manovotn since I use the no-args plugin, shouldn't it extend my abstract class? It's open by default in kotlin.

[2022-01-06 02:20] pipinet opened #22675 "Greenplum Extension Proposal"
### Description

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

### Configuration suggestion

_No response_

### Additional context

_No response_

[2022-01-06 02:42] gastaldi commented on #22675
Can you elaborate a bit more on this extension proposal?

[2022-01-06 02:52] gastaldi commented on #16733
Let's close it for now and reopen once there is a demand for it 👍🏻

[2022-01-06 02:52] #16733 closed

[2022-01-06 02:57] gastaldi commented on #5802
@cescoffier I may be missing something, but isn't that already accomplished by Stork?

[2022-01-06 05:36] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1661632468

[2022-01-06 05:47] pipinet commented on #22675
@gastaldi Supoort Greenplum client sql 、 connection management 、transaction

[2022-01-06 06:35] cristianonicolai commented on #22520
@debu999 this should be fixed already in Kogito 1.15 by this JIRA https://issues.redhat.com/browse/KOGITO-6265. The release is in progress at this stage, should be out soon.

[2022-01-06 07:16] cescoffier commented on #5802
@gastaldi Stork uses the "service" part of Consul.  We also have consul-config which resolve the Quarkus (runtime_ config from Consul. However, we do not have a managed "low-level all-purpose" consul client.

We have a client (the Vert.x Mutiny one), which is used by Stork and the config source. But it's not managed. It would be a nice quarkiverse extension.

[2022-01-06 07:30] mkouba commented on #22669
I'm not sure about kotlin/allopen but in java a no-args constructor is only added by the compiler if there's no other constructor declared on the class.

[2022-01-06 07:30] #22663 closed

[2022-01-06 07:35] mkouba commented on #22669
CC @evanchooly

[2022-01-06 07:35] cjdxhjj opened #22677 "uber-jar with bcprov can't run"
### Describe the bug

my project need to encrypt some data. so i add the bcprov dependencies, i build the uber-jar with
gradle clean build -D"quarkus.package.type=uber-jar" -x test,
when i run that uber-jar, it failed with an security check.how to solve the problem, when i works on spring boot, that fine, even thought i have an dependencie to bcprov.
the error is follow

i have config the quarkus.

[2022-01-06 07:37] cjdxhjj commented on #22677
implementation("org.bouncycastle", "bcprov-jdk15on")

[2022-01-06 07:39] aomsweet commented on #22635
@geoand  it's ok, Thanks. ☕

[2022-01-06 08:01] jmartisk commented on #22662
What metrics extension are you using? These look like MP Metrics annotations, but the package name of the test implies Micrometer. Is this using the Micrometer-to-MPMetrics bridge?
I can't reproduce this with pure MP Metrics, the gauge works normally.

[2022-01-06 08:08] rsvoboda commented on #22662
There is bank holiday in Spain today so Pablo will probably respond tomorrow, I will try to provide some context.

I think he was using Micrometer and bridge to MP metrics as he was working on additional test development for QUARKUS-1571  / https://github.com/quarkusio/quarkus/issues/20047

[2022-01-06 08:10] loicmathieu commented on #20492
I'll try to reproduce it (tomorrow or next week).

[2022-01-06 08:24] DavideD commented on #20521
Yes, I will have a look at it

Sent from my iPhone

[2022-01-06 08:35] mklueh opened #22680 "Prevent Docker build if nothing has changed"
### Description

In a multi module project with two separate applications, but shared modules, you can build all applications at once as Docker containers, but lets say if only application B changes, application A will be built again too.

"CI-wise" this means, both applications are getting re-deployed all the time.

Is there a way to only deploy again, what has changed?

[2022-01-06 08:55] kshpak commented on #18131
Tested with 2.6.1.Final

- Traces are still collected on Jaeger backend when ` quarkus.jaeger.service-name` is not set (the trace name defaults to projectName)

- Error message is no longer appears

[2022-01-06 09:11] jmartisk commented on #22662
Thanks @rsvoboda. https://github.com/quarkusio/quarkus/pull/22681 should fix it

[2022-01-06 09:16] jmartisk commented on #22662
In any case, this is a bit of a silly use case and will obviously not work on REST methods that take parameters, because calling the `/metrics` endpoint does not provide any values for REST method parameters. If you try to attach a gauge to a REST method with parameters, it will blow up anyway.

[2022-01-06 09:37] einarjohnson commented on #21284
hi again. I think I have figured out what the problem was. Like you say @eijckron, I needed to use the hostname aliases. I was also incorrectly using `@TestProfile` instead of `@QuarkusTestResource.`
Thanks for all the help here guys, really appreciate the input.

[2022-01-06 09:43] MartinX3 commented on #22669
In theory it should work since I can create an object of a class extending an abstract class without problems.

[2022-01-06 09:44] nachogiljaldo commented on #15601
Thanks a bunch!

[2022-01-06 09:48] geoand commented on #15601
You are very welcome!

[2022-01-06 09:59] mkouba commented on #22657
Well, tags were not meant to be used for template inheritance but we can definitely consider adding this functionality.

[2022-01-06 10:04] alexcheng1982 commented on #22669
You forgot to add annotation configuration of no-args plugin. So no-args constructors are not generated. You can verify that using `javap`.

[code]

To make this work, you also need to add `@RequestScoped` to the parent abstract class `AFruitService`, or add a custom annotation and enable it in the no-args plugin settings.

[2022-01-06 10:10] kshpak commented on #19682
This still persists with 2.6.1.Final
/cc @karesti @wburns

[2022-01-06 10:31] #19549 closed

[2022-01-06 10:36] MartinX3 commented on #22669
Hmm, I wonder what's the problem with the abstract entity then.

[2022-01-06 10:40] FroMage commented on #22408
Well, this is how we build the handler chain:

[code]

So we do have the response filters before we set the response from the result.

[2022-01-06 10:45] FroMage commented on #22408
And the response filters can call `ContainerResponseContextImpl.getEntity()` which requires a `Response` being set, which is not the case if we're getting a `NotAcceptableException` generated _before_ the endpoint is called, so there's no `Response` and the filter will NPE if it tries to look at the current entity.

[2022-01-06 10:52] FroMage commented on #22408
By comparison, the normal handlers are built this way:

[code]

[2022-01-06 10:52] FroMage commented on #22408
So I assume that normally, response filters go after the response handler. I'll change it and make a PR.

[2022-01-06 10:53] argenstijn commented on #22538
thanks for the explanation.

Yes, the documentation had an example without @CacheInvalidate and that was a bit confusing:

![afbeelding](https://user-images.githubusercontent.com/130732/148370742-7db7e6ea-7e3b-4022-a7f3-a49e43284d3a.png)

**_CacheManager#getCache will still not support the creation of a cache because caches are instantiated at build time and there is not way to know at that moment

[2022-01-06 10:59] FroMage commented on #22408
Well, it's more than just that, because if I do this, I'm out of NPE, but I get a 200 OK and the exception is swallowed.

[2022-01-06 11:03] rvansa opened #22684 "Config root not initialized yet"
### Describe the bug

After upgrading 2.3.0 -> 2.6.1 my app won't start (at least in dev mode):
[code]
The client is used defined as below and configured in application.properties:
[code]

[code]

### Expected behavior

Application starts as it used to.

### Actual behavior

Application fails to start.

### How to Reproduce?

Fetch my project at this commit: https://github.com/Hyperfoil/Horreum/co

[2022-01-06 11:13] kshpak commented on #19697
@karesti any luck with this one? I was also trying to access the Infinispan console/server via port-forwarding but no luck.
`oc port-forward --namespace <namespace> service/<service-name> 11222:11222 11223:11223`

[2022-01-06 11:24] alexcheng1982 commented on #22669
The reproducer project doesn't have those entities you mentioned before. If the issue is related to auto-generated no-args constructors, you can use `javap` to verify that whether those constructors have been generated correctly. Otherwise, you may need to update the reproducer code to demonstrate that.

[2022-01-06 11:26] glefloch commented on #22450
@JWood48 could you confirm that you are still seeing the issue ?

[2022-01-06 12:04] gsmet commented on #22668
@danielpetisme looks like you have it all figured out, care to provide a PR? :)

[2022-01-06 12:08] gsmet commented on #22677
Yeah, I'm pretty sure you won't be able to make it work with an uberjar except maybe if you sign it (see https://docs.oracle.com/javase/tutorial/deployment/jar/signindex.html). I would stick to the fast jar approach.

I don't think that's something we can fix in Quarkus, it's really related to the requirements of these security jars.

[2022-01-06 12:08] #22677 closed

[2022-01-06 12:11] gsmet commented on #20414
We had a similar issue and we fixed it. It was due to conflicting versions. Let's close this one too.

[2022-01-06 12:11] #20414 closed

[2022-01-06 12:24] stefannegele commented on #22663
Thanks a lot, that was quick!

[2022-01-06 12:29] manovotn commented on #22645
Yes

That seems like an oversight, I don't really see any realistic usage for that.

This feature is not within the scope of MP specification so we can change it. I simply implemented this as a nice to have feature that optionally enables sharing of instances but to have it in CDI-friendly way, this was probably the best I could come up with back in the day.

[2022-01-06 13:04] digsb opened #22685 "java.lang.StackOverflowError during build when using hibernate-orm with CompositeAttribute within hbm.xml"
### Describe the bug

As part of migration our legacy Java Hibernate project to Quarkus, we faced this issue.

During compilation we got this error:
[code]

I tried to check in the source as pointed in stack trace and found this method. Last line of the method call caught my eye, as we are passing the same attributes again in recursive call.
[code]
I made some modification to the code and this sol

[2022-01-06 13:10] loicmathieu opened #22686 "Kafka reactive messaging with multiple @Incoming stops consuming after migration to 2.5.1"
### Describe the bug

We migrate one of our application from Quarkus 2.4.1 to Quarkus 2.5.1.

The applications have a method that consumes from two channels and procudes to one. This methods stops working and we see the following message in the log file:

[code]

The method signature is:

[code]

Each incoming channel consumes from a different topic on a different broker.

The channel definitions

[2022-01-06 13:26] yrodiere commented on #22685
Thanks. Your patch looks right, though you could simplify the line to:

[code]

Do you think you could submit a pull request?

[2022-01-06 13:29] #22662 closed

[2022-01-06 13:39] digsb commented on #22685
@yrodiere, sure I can do that

[2022-01-06 14:04] Moicen opened #22688 "How to deal with nested levels of `Unis`"
I need to implement a `@ServerRequestFilter`, and it calls several levels of async calls, which generates nested  `Unis`, and here is the screenshot of the code:

![C94C3529-972F-4262-A54D-0AC505B5B0F0](https://user-images.githubusercontent.com/3773928/148394629-8f32215d-e298-4645-97df-8ff0d5e905d0.png)

However this makes a problem that makes the return type has nested level of `Unis` :

![6684DD

[2022-01-06 14:20] Moicen commented on #22688
If I add an `await()` to reduce one level of `Uni` for nested `Uni<Uni<...>>`:

![B9672FDD-741A-415F-9EBD-5762F90BC72E](https://user-images.githubusercontent.com/3773928/148396983-e28b64b8-2e4b-4b8e-9bb2-e37fb7a4481b.png)

Then it generates following problem:

![76D62DBF-1007-4C36-8F37-3EAC181AEFC2](https://user-images.githubusercontent.com/3773928/148397008-a35bbcbc-fd85-4743-b544-4e5e96f8a05f.pn

[2022-01-06 14:31] MartinX3 opened #22689 "Hibernation PersistenceException property reference null with @MappedSuperclass and @OneToOne"
### Describe the bug

Kotlin, Gradle, Reactive, PostgreSQL

If the @OneToOne is in a @MappedSuperclass and gets its parameter via constructor, it becomes null for hibernate.
The value is set if looked via the Debugger.

Same if I want to fetch the entry from a database.
If I debug and look into it the p-Symbol is null, but the f-Symbol is filled with the correct entity.

### Expected behavior

An

[2022-01-06 14:32] MartinX3 commented on #22669
Good hint.
I think this bug ticket should be closed.
But maybe the kotlin guides should hint for the kotlin plugins, if someone uses generics and abstract classes.

Here is the new issue ticket: https://github.com/quarkusio/quarkus/issues/22689

[2022-01-06 14:32] #22669 closed

[2022-01-06 14:35] FroMage commented on #22408
OK, even more than that. Turns out this time it's my mock that's generating this `NotAcceptableException`, because I messed up and only implemented a form response when our OIDC interceptor asked for JSON. With this fix, however, for some reason we're returning a 204 (created), which is wrong, and even more wrong our OIDC interceptor turns this into an empty 200 and all errors are hidden from me.

[2022-01-06 14:49] FroMage commented on #22408
Found the bug that turns `NotAcceptableException` into 204!

This happens because I have an exception mapper that doesn't map to anything:

[code]

That was left around after a test.

`ExceptionMapper` says:

So damn, this is correct. OK, that's one bug less. Now let's see about the others.

[2022-01-06 15:05] gsmet commented on #20424
Thanks for the reproducer and sorry it took so long. I created a PR to fix it here: https://github.com/quarkusio/quarkus/pull/22692 .

[2022-01-06 15:05] #21128 closed

[2022-01-06 15:05] argenstijn opened #22693 "Resteasy reactive REST API: reading Buffer of JSON fails with JSONB where Jackson works"
### Describe the bug

When you have a REST API (rest easy reactive) and reading the body of the request as buffer it fails using JSONB

[code]

javax.json.bind.JsonbException: Can't create instance
	at org.eclipse.yasson.internal.ReflectionUtils.createNoArgConstructorInstance(ReflectionUtils.java:246)
	at org.eclipse.yasson.internal.serializer.ObjectDeserializer.getInstance(ObjectDeserializer.java

[2022-01-06 15:09] #21405 closed

[2022-01-06 15:21] argenstijn opened #22694 "Rest API rest easy reactive: cannot return Buffer as response"
### Describe the bug

Should it not be possible to return a Buffer as response body?

[code]

### Expected behavior

The body as String in the result.

### Actual behavior

The String returned

[code]

### How to Reproduce?

[example.zip](https://github.com/quarkusio/quarkus/files/7822803/example.zip)

1. Run the IT test

### Output of `uname -a` or `ver`

Microsoft Windows [Version 10.0.19043.141

[2022-01-06 15:36] yrodiere opened #22695 "Hibernate Search 6.1: Extension for the outbox-polling coordination strategy"
### Description

See http://hibernate.org/search/releases/6.1/#async-indexing

This feature is very interesting in a cloud environment, so I think it's important to have it in Quarkus.

Note however that the feature is currently incubating.

### Implementation ideas

I think we'll need a separate extension because the outbox-polling coordination strategy is in a separate JAR with additional depend

[2022-01-06 15:37] FroMage commented on #22408
So, now, it looks like from the OIDC perspective, it's intercepting the callback call, making the rest client call to GH, which returns a 406 (fine), which triggers a throwing of `io.quarkus.security.AuthenticationCompletionException`, which I guess is fine, but right at the same time as it throws it, when we're going to start wondering how to map this exception, _something_ already returned an an

[2022-01-06 15:38] yrodiere opened #22696 "Hibernate Search 6.1: custom Elasticsearch index settings/mapping"
### Description

Hibernate Search 6.1 allows providing custom index settings/mapping through a file referenced in the Hibernate Search configuration properties.

See https://hibernate.org/search/releases/6.1/#elasticsearch-custom-index-settings
See https://hibernate.org/search/releases/6.1/#elasticsearch-custom-index-mapping

It would be nice to have that in Quarkus as well.

### Implementation id

[2022-01-06 15:57] geoand commented on #22693
Thanks for reporting, but this is not a Quarkus issue, but a Yasson issue. Best open an issue on that repo

[2022-01-06 15:58] #22693 closed

[2022-01-06 16:14] vsevel commented on #13602
hi, is this likely to be done at some point? thanks.

[2022-01-06 16:14] cherrydev opened #22698 "Kafka doesn't respect quarkus logging config"
### Describe the bug

When logging categories relating to kafka are configured using quarkus configuration properties, they are not respected. Instead, separate configuration properties are required to be set in order to control Kafka's logging. This requires logging configuration to be duplicated.

### Expected behavior

When logging categories are configured using `quarkus.log.category`-prefixed

[2022-01-06 16:34] gsmet commented on #20432
No information given, let's close.

[2022-01-06 16:34] #20432 closed

[2022-01-06 16:37] gsmet commented on #20456
My guess is that the server is providing an empty content type, given the error message.

Any way, no answer to our question and no reproducer to check ourselves so let's close.

[2022-01-06 16:37] #20456 closed

[2022-01-06 16:47] mweber03 opened #22699 "2.6 - Error with config locations"
### Describe the bug

I have an `application.yaml` that gets used for all projects (containing things like `ignored-split-packages`). With the `ConfigGenerationBuildStep` changes in 2.6 I now get an exception during builds because of the following lines in my `build.gradle` file.

[code]

It looks like `ConfigGenerationBuildStep` doesn't seem to like the URI string format (see exception below).

[2022-01-06 16:48] mweber03 commented on #22699
I am open to suggestions on alternative solutions.

[2022-01-06 16:49] gsmet commented on #22699
/cc @radcortez

[2022-01-06 16:49] gsmet commented on #22699
and maybe /cc @glefloch too

[2022-01-06 16:55] gsmet commented on #21247
I'm closing this one as won't fix.

[2022-01-06 16:55] #21247 closed

[2022-01-06 17:01] langsamu opened #22700 "`reactive-pg-client` incompatible with `opentelemetry-exporter-otlp` in 2.6.1"
### Describe the bug

After upgrading to 2.6.1, I can no longer use OpenTelemetry and Reactive PostgresSQL together.

### Expected behavior

The Reactive PostgreSQL extension generates spans for each query and the OpenTelemetry exporter sends them to a collector.

### Actual behavior

`OpenTelemetryVertxTracer` throws a `ClassCastException` when the SqlClient executes a query.

[`#sendRequest`](ht

[2022-01-06 17:01] gsmet commented on #20976
Yes, let's close it.

[2022-01-06 17:01] #20976 closed

[2022-01-06 17:15] radcortez commented on #22699
I'll have a look.

[2022-01-06 17:19] gsmet commented on #20326
Sorry for the very late answer.

Best is to do:
[code]
and avoid having the `@Valid` on the list. It's more efficient and will avoid the issue you had.

I answered in the upstream project. Closing here as there's not much more we can do.

[2022-01-06 17:19] #20326 closed

[2022-01-06 17:32] marcogutto commented on #9476
Hi @cescoffier !
Any update about this issue?
This is a problem on Quarkus adoption for us.

Thanks in avance!

[2022-01-06 18:13] gsmet commented on #9476
@marcogutto This discussion might be of interest to you: https://github.com/quarkusio/quarkus/discussions/22613 .

[2022-01-06 18:25] ozangunalp commented on #22698
Disabling Kafka logs with `quarkus.log.category."org.apache.kafka".level=OFF` doesn't work because the Kafka extension provide default WARNING logging level for verbose loggers i.e `org.apache.kafka.clients`, `org.apache.kafka.common.metrics`, `org.apache.kafka.clients.utils`.

This should disable all if not most of the Kafka logs:
[code]

[2022-01-06 18:27] langsamu commented on #22700
See also https://github.com/quarkusio/quarkus/discussions/22653#discussioncomment-1914064.

[2022-01-06 19:56] nandorholozsnyak opened #22702 "@QuarkusTest is not working with JBang scripts"
### Describe the bug

Testing Quarkus based JBang script is not working properly.

### Expected behavior

Quarkus test should work in JBang scripts as well.

### Actual behavior

After putting @QuarkusTest on the JBang script the test are not working.

### How to Reproduce?

Steps to reproduce the behaviour:
Lets see the following code snippets:

Simple REST controller (RestEasyExample.java):

[co

[2022-01-06 20:06] gsmet commented on #20377
I debugged things a bit and it looks related to https://stackoverflow.com/questions/39952812/why-annotation-on-generic-type-argument-is-not-visible-for-nested-type .

We end up with the annotation in `AnnotatedTypeBaseImpl#allOnSameTargetTypeAnnotations` and it's not included in the API. I don't exactly know if we could find a workaround.

In any case, the issue is in HV, not in Quarkus.

@yrodier

[2022-01-06 20:12] radcortez commented on #22684
This seems to be cause by https://github.com/quarkusio/quarkus/pull/17220. The issue here is that Filters are initialised during static init, and the rest client configuration is only available in runtime.

Not sure what we can do here. Even if it was working before, because the config instance is not the same between static / runtime, the rest client could be configured differently depending on t

[2022-01-06 20:16] radcortez commented on #22684
As a workaround, the client could be created programatically, but that means that you need to provide the configuration yourself (and the register annotation has to be dropped).

[2022-01-06 20:53] #20424 closed

[2022-01-06 21:06] CormegaGit commented on #22429
Hello, I am using the below dependency in POM.xml

./mvnw quarkus:add-extension -Dextensions="quarkus-smallrye-openapi"

<dependency>
    <groupId>io.quarkus</groupId>
    <artifactId>quarkus-smallrye-openapi</artifactId>
</dependency>

[2022-01-06 21:20] famod commented on #22680
I think this is out of scope for Quarkus, especially if we are talking about two different apps. (/cc @geoand, maybe you see it differently)

In case you are using Maven and Git you might want to have a look at https://github.com/gitflow-incremental-builder/gitflow-incremental-builder
Disclaimer: I'm the maintainer of that Maven extension and I have been using it in my own (corporate) projects for

[2022-01-06 21:24] famod commented on #22680
PS: There might actually be some potential towards https://reproducible-builds.org/, e.g. not embedding a new build timestamp for each build and things like that.

[2022-01-06 22:14] cherrydev commented on #22698
Indeed this seems to be correct. I would have sworn that I'd tried a more specific logging category, but this definitely fixes it. Thank you!

[2022-01-06 22:14] #22698 closed

[2022-01-07 00:43] brunohpg commented on #22269
I had this problem once.
I had to change the code to an inefficient way loading the list into memory and then replying.
In my case, I return a Stream<?> and let Quarkus take care of the json conversion.

At first I thought the transaction was closed simply by exiting the last method annotated with @Transaction.
In fact, the Stream is read later (during converting to json) and the transactional met

[2022-01-07 01:27] sraturi commented on #17622
Did adding `smallrye.jwt.time-to-live=-1` to application properties work for folks? I added this in my application.properties and can initially see [maxTimeToLiveSecs](https://github.com/smallrye/smallrye-jwt/blob/cc849ac94ccf8f9913e79738d003da503fe80db3/implementation/jwt-auth/src/main/java/io/smallrye/jwt/auth/principal/JWTAuthContextInfo.java#L188) being set to -1  in the debugger. However, whe

[2022-01-07 01:40] benkeil opened #22710 "Quarks CLI autocompletion for fish shell"
### Description

It would be nice to have also autocompletion for the fish shell

### Implementation ideas

_No response_

[2022-01-07 01:54] ebullient commented on #22710
We get our support for shell completion directly from picocli!

It looks like someone has asked for this before: [Feature Request: fish completion](https://github.com/remkop/picocli/issues/725), but they may need some help getting that done.

[2022-01-07 04:00] bvahdat opened #22711 "Usage of DB2 XA Driver ends up with error com.ibm.db2.jcc.am.SqlException: [jcc][10389][12245][4.29.24] Failure in loading native library db2jcct2, java.lang.UnsatisfiedLinkError"
### Describe the bug

Running on a Windows 10 64-bit using Quarkus `2.6.1.Final` following the relevant dependencies I have for connecting to a DB2 instance:

[code]

The settings in `application.properties` are as the folloiwng:

[code]

The value of `P82_URL` is `jdbc:db2://<IP_ADDRESS>:446/<DATABASE_NAME>`.

The application runs without any issue using this setup as one can see below (both in J

[2022-01-07 04:39] GavinRay97 opened #22712 "Adding both `quarkus-resteasy-reactive-kotlin-serialization` and `quarkus-rest-client-reactive-kotlin-serialization` throws `arc.deployment.SyntheticBeansProcessor#initStatic threw an exception: A synthetic bean ... is already registered`"
### Describe the bug

Built Quarkus from source, set `gradle.properties` tag to `999-SNAPSHOT`
Error message is:
`	[error]: Build step io.quarkus.arc.deployment.SyntheticBeansProcessor#initStatic threw an exception: java.lang.IllegalStateException: A synthetic bean with identifier 9e2487eb0d6c3e033af916549aa4ab5873e78bf9 is already registered: SYNTHETIC bean [types=[kotlinx.serialization.json.Json

[2022-01-07 05:04] tierconnect opened #22713 "Impossible to load resource folder content into InputStream"
### Describe the bug

The following method is supposed to load the contents of a resource folder, but the InputStream is empty. I know the folder is correct because if I point the path to a file I am able to load the files. I tried both Thread.currentThread ... and the one uncommented.

[code]

### Expected behavior

InputStream should contain the contents of the folder (the filenames). It works o

[2022-01-07 05:08] rodrigo-loza-mojix opened #22714 "Impossible to load resource folder content into InputStream"
### Describe the bug

### Describe the bug

The following method is supposed to load the contents of a resource folder, but the InputStream is empty. I know the folder is correct because if I point the path to a file I am able to load the files. I tried both Thread.currentThread ... and the one uncommented.

[code]

### Expected behavior

InputStream should contain the contents of the folder (the

[2022-01-07 05:08] #22713 closed

[2022-01-07 05:11] geoand commented on #22408
Definitely :)

[2022-01-07 05:16] geoand commented on #22680
I agree this is not something Quarkus should handle.

[2022-01-07 05:16] #22680 closed

[2022-01-07 06:01] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1666205436

[2022-01-07 06:56] geoand commented on #22710
I'll close this an a request for an feature from an upstream project

[2022-01-07 06:56] #22710 closed

[2022-01-07 07:02] geoand commented on #22694
I could not reproduce the problem. The test in your example passed when I ran `mvn verify`

[2022-01-07 07:11] argenstijn commented on #22694
That is correct.  It Just output the result instead of verify it like a real test

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Georgios Andrianakis ***@***.***>
Sent: Friday, January 7, 2022 8:03:05 AM
To: quarkusio/quarkus ***@***.***>
Cc: argenstijn ***@***.***>; Author ***@***.***>
Subject: Re: [quarkusio/quarkus] Rest API rest easy reactive: c

[2022-01-07 07:27] geoand commented on #22694
Can you update the example to actually fail properly then?
Asking so we can focus on actually fixing the problem (if there is one), instead of trying to guess

[2022-01-07 07:49] geoand commented on #22700
This was already fixed in https://github.com/quarkusio/quarkus/pull/22615

[2022-01-07 07:49] #22700 closed

[2022-01-07 08:27] Karm commented on #22652
![difference_animation](https://user-images.githubusercontent.com/691097/148514301-df34f569-1563-4d72-854e-f0f83b21fa01.gif)

The animation shows the difference. The two top left texts are rendered with font embedded in the test suite whereas the rest of the text is rendered using default fonts either brought with the JDK or present in the system. I cannot reproduce it on a stock, clean install of

[2022-01-07 08:31] gwenneg commented on #22433
@Sanne If you need more information or if I can help with something, please don't hesitate to ask.

[2022-01-07 08:37] ashwinair commented on #21455
Ya, sure it would be good for me too as I get to learn about quarkus more.

sorry for replying late, actually I was trying to fix my quarkus setup issues first before submitting my first pull request that's why.
can you check it out? #22717
Thanks :)

[2022-01-07 08:40] Chexpir commented on #11368
Thanks @gsmet
I wrote here mainly as I could still see it open, but I had not finished my troubleshooting. I did finish it, and it was my fault

Full story: I was using `delete("field", fieldValue)` , a panacheRepository method (without retrieving the entity first), and hibernate envers was not hitting the entity. I have changed it by `this.findByFieldOptional(fieldValue).ifPresent(this::delete)`

[2022-01-07 08:41] mklueh commented on #22680
@famod wow thanks a lot, this is really helpful! Diffscope seems to be a really great fallback solution.

As I'm using Gradle, the plugin won't work for me, however on the reproducible build site there was a Gradle section, and it seems there is a built-in way to build idempotent jar archives https://docs.gradle.org/current/userguide/working_with_files.html#sec:reproducible_archives

[2022-01-07 08:54] argenstijn commented on #22694
[example.zip](https://github.com/quarkusio/quarkus/files/7827660/example.zip)

Of course, already done. See attachment.

[2022-01-07 09:21] rvansa commented on #22684
@radcortez When you say that the filters are initialized during static init does that mean that any custom `@ConfigProperty` I'll use there will be fixed at compile time? Is the user warned about that? Where can I find the list of components that are initialized during this time? Could I use `ContainerRequestFilter` instead of servlet-based filter?

If you are able to supply a "fake" client during

[2022-01-07 09:31] rsvoboda opened #22718 "WebJarResourceIT fails on CI from time to time, scenario passes always in JVM mode"
### Describe the bug

`WebJarResourceIT` fails on CI from time to time, scenario always passes in JVM mode

Discussed in https://github.com/quarkusio/quarkus/pull/22610 a bit, it's strange that this happens only sometimes. I checked few PRs and some are green, some have this test failed. In my local experiments - I did 15 runs in a row and the tests always pass. PR with WebJarResourceIT was green

[2022-01-07 10:00] geoand commented on #22694
Thanks!

[2022-01-07 10:12] gsmet commented on #17622
@sraturi please ask your question here: https://github.com/quarkusio/quarkus/discussions/categories/q-a . Commenting on old issues is easy to miss for us. Thanks!

[2022-01-07 10:15] arsen-papoyan commented on #22647
@geoand
I found exactly where the problem comes from.
I'll try to explain in detail.
Is it okay to post the code in the comment section?

[2022-01-07 10:35] ge0ffrey commented on #20976
+1 for closing

[2022-01-07 10:41] geoand commented on #22647
Of course

[2022-01-07 11:04] gsmet commented on #22711
When you're enabling XA, is it failing in native only or both in native and JVM?

[2022-01-07 11:07] arsen-papoyan commented on #22647
**Project**: Maven
**Runner**: TestNG
**Remote**: Selenium Grid (selenium server 4.1.0)
**JavaSE 14**: version 16.0.1
**src/main/java folder**:

`public class Driver {
    public static void initDriver() {
        assertionMode = AssertionMode.SOFT;
        baseUrl = "https://www.google.com/";
        pageLoadStrategy = "eager";
        browser = "Chrome";
        pollingInterval = 500;
        ho

[2022-01-07 11:10] ezYakaEagle442 opened #22723 "quarkus setup fails with error "quarkus-cli-2.6.1.Final-runner.jar is not from a trusted source thus not running it automatically.""
### Describe the bug

The Quarkus install fails and states that I am prompted to choose a 0/1 option but there is no prompt at all !

[code]

### Expected behavior

setup should run sucessfully as described at [https://quarkus.io/get-started/](https://quarkus.io/get-started/)

### Actual behavior

the Quarkus setup through jbang fails

### How to Reproduce?

Reproducer repo : [https://github.com/e

[2022-01-07 11:12] #22712 closed

[2022-01-07 11:18] renegrob opened #22724 "Support for Contextual Logging / Log Correlation"
### Description

Currently it is very hard if not impossible to enrich log messages related to a request or message with additional context information (e.g. a "correlation-id"). For SREs / operations it is very important to be able to correlate log messages and filter the messages in a log management tool for faster issue analysis. This is often achieved by passing some context attributes  along

[2022-01-07 11:19] renegrob commented on #22724
@Ladicek FYI

[2022-01-07 11:23] galderz commented on #21479
Thanks all for helping out with this :)

[2022-01-07 11:26] gsmet commented on #22714
Could you create a small Maven project reproducing the issue? Thanks.

[2022-01-07 11:28] Sanne commented on #19539
@DavideD could you add a test for this? Then we could close it.

[2022-01-07 11:30] robp94 commented on #20326
Thx for the workaround.

[2022-01-07 11:31] Ladicek commented on #22724
The suggestion on Zulip, which I mostly agree with, is that we should provide MP ConProp `ThreadContextProvider` implementation(s) out of the box (though perhaps not enabled out of the box).

There are basically 2 levels on which a context provider could work:

- logging facade (JBoss Logging, SLF4J)
- logging backend (JBoss LogManager, Logback, Log4j 1/2)

I briefly looked at a couple of those an

[2022-01-07 11:33] gsmet commented on #11368
Cool, thanks for the follow-up!

[2022-01-07 11:34] DavideD commented on #19539
What kind of test do you expect here? Something that checks that if the column type is correct the value is returned as expected?

[2022-01-07 11:35] Sanne commented on #19539
yes, showcasing we can store && load accented characters correctly

[2022-01-07 11:42] #21479 closed

[2022-01-07 11:48] radcortez commented on #22684
No. When you run the application we actually create two `Config` instances. One for static and another for runtime. The difference between both is that the static one may have fewer sources and fewer configurations available. For instance, we cannot add a database-based `ConfigSource` because you fall into a chicken-egg problem. You need the config to configure the database, but you need the datab

[2022-01-07 11:48] #22568 closed

[2022-01-07 12:02] TomasHofman commented on #22684
We did some further changes to rest client configuration, but I'm not sure which version of quarkus that landed in. The clients' config map was originally loaded as part of the `RestClientsConfig` Config Root, but that was later changed and the map is created programmatically now, based on properties read directly from `Config` instance. We had to make that change because of other issues we had wi

[2022-01-07 12:12] renegrob commented on #22724
The propagation could be enabled as soon as the logging pattern contains a variable referencing the MDC. Using the MDC without having the propagation enabled doesn't really make sense, does it?

[2022-01-07 12:43] TomasHofman commented on #22684
The idea with encapsulating the client in `Provider` seems to work for me:

[code]

[2022-01-07 12:49] bennetelli commented on #8384
I am also facing the same issue.. thanks @ddewalle for opening it :-)

[2022-01-07 12:56] lthasle commented on #22477
@sberyozkin
I get the same behavior if I try to use reactive, see stacktrace below.
But we are for the moment not able to use reactive for our project anyway.
`
java.util.concurrent.CompletionException: java.lang.InterruptedException
	at io.smallrye.mutiny.operators.uni.UniBlockingAwait.await(UniBlockingAwait.java:73)
	at io.smallrye.mutiny.groups.UniAwait.atMost(UniAwait.java:62)
	at io.smallrye.

[2022-01-07 13:35] lthasle commented on #22477
@sberyozkin
I get the same behavior if I try without a Q, but in another thread
See stacktrace below

Required change:
`
MyResource
@Path("/ok")
    @GET
    public void ok() {
        //service.updateState();
        CompletableFuture.runAsync(() -> service.updateState(), managedExecutor); // managedExecutor injected
    }

java.util.concurrent.CompletionException: java.lang.InterruptedException

[2022-01-07 13:38] #22685 closed

[2022-01-07 13:40] #22666 closed

[2022-01-07 13:43] j-be commented on #11368
@Chexpir it seems like Envers doesn't trigger when using JPA `Query`s. Panache uses those in `deleteAll`, most of the overloaded `delete`, and `update`.

Envers documentation does point out [here](https://docs.jboss.org/hibernate/orm/current/userguide/html_single/Hibernate_User_Guide.html#envers) that:

They don't seem to say anything about simple `entityManager.createQuery("delete from entity").e

[2022-01-07 14:12] #22694 closed

[2022-01-07 14:29] Chexpir commented on #11368
Thanks @j-be for the extra info! No worries, the solution I proposed above works like a charm, `find+delete`, even if it's unperformant compared with a simple delete, it's completely fine for me!

[2022-01-07 14:32] rvansa commented on #22684
@TomasHofman Confirmed, thanks a lot! This is a sensible workaround. Now the point of this issue should be improved error message that will suggest that approach.

[2022-01-07 14:51] FroMage commented on #22213
Ideally we could even solve this at the vert.x level, because OIDC uses the Vert.x HTTP client and I also want to dump this.

Either logging on the console, or one file per request, but something as useful as you get from the browser network console.

[2022-01-07 14:54] geoand commented on #22213
If I get around to introducing pcap dump support into Vertx, then this would be achieved easily

[2022-01-07 14:55] yrodiere commented on #20377
I managed to create a simple reproducer without Quarkus or Hibernate Validator: https://github.com/yrodiere/jdk-playground/blob/type-use-annotation-nested-type/src/test/java/org/hibernate/jdk/playground/MyTest.java

Turns out it's a JDK bug.

But... only in JDK 8 and 11. The bug seems fixed in JDK 17 and 18; at least my reproducer doesn't fail anymore with JDK 17 and 18.

I'll close this. To anyon

[2022-01-07 14:55] #20377 closed

[2022-01-07 15:02] GavinRay97 commented on #22712
Thank you! 🙏

[2022-01-07 15:18] fedinskiy opened #22731 "NPE when adding new registry in Quarkus CLI"
### Describe the bug

When new registry is added into freshly installed Quarkus CLI, the operation fails with NullPointerException.

### Expected behavior

New registry is added successfully.

### Actual behavior

Exception in console:
[code]

### How to Reproduce?

Steps to reproduce:

1. `jbang app uninstall quarkus`
2. `rm -r ~/.quarkus/`
3. `jbang app install --fresh --force quarkus@quarkusio`

[2022-01-07 15:26] bvahdat commented on #22711
Thanks @gsmet for your support and sorry for not mentioning that point already. It fails with the same error as mentioned above both in the native and JVM modes. The error message in native mode though reads a bit different:

[code]

But as you see with the same values: `ERRORCODE=-4472, SQLSTATE=null`

[2022-01-07 15:29] Ladicek commented on #22157
OK so the issue is that `HibernateEntityEnhancer` needs to break the chain of class visitors to be able to call into the Hibernate API. To be able to pretend that it's still a regular `ClassVisitor`, it serializes the intermediate state to a `byte[]`, runs the Hibernate transformer, and then builds a whole new `ClassReader` to continue in the original chain. The new `ClassReader` is missing the op

[2022-01-07 15:33] Ladicek commented on #22157
Thinking out loud: a `ThreadLocal` would work, but something better would be, well, better :-)

[2022-01-07 15:36] geoand commented on #22712
YW!

[2022-01-07 15:39] radcortez commented on #22684
I believe we could add an improved message here: `io.quarkus.restclient.runtime.RestClientBase#getConfigRoot`.

[2022-01-07 15:41] gsmet commented on #22711
The resource bundle issue will be a different issue that is native specific.

@barreiro could you enlighten us on how Agroal is supposed to work with DB2 + XA? I'm not sure to understand why it tries to inject the URL in it.

[2022-01-07 16:07] #20654 closed

[2022-01-07 16:37] Ladicek commented on #22157
Found a decent way to pass around those data. #22734 should fix this.

[2022-01-07 16:42] rumfuddle commented on #16225
Works for me as well. I noticed that the AMD64 image on Docker Desktop only used 2 cores while 4 cores were configured for Docker. Using the ARM image and 6 configured cores, it went super fast.

[2022-01-07 17:01] famod commented on #20169
@lostiniceland friendly reminder! 🙂

[2022-01-07 17:01] Proximator commented on #7358
I am also having the same issue, any update about this issue?

[2022-01-07 17:04] gsmet commented on #20169
Yes, maybe we should change the default scope to `@Dependent`.

[2022-01-07 17:08] gsmet commented on #7358
Well, it's not really a bug. In Hibernate ORM (and it has always been the case, I think), the import script is only executed if you drop the schema (which makes sense as this script is supposed to import data, not do anything else).

Now maybe we should have another feature to allow having a schema creation script that is executed always, where you could also have insert statements.

@Sanne @yrodi

[2022-01-07 17:08] Legion2 commented on #21650
It should atleast be an option to run (build) the native executable for integration tests.

IMHO using the prod executable for (fast) tests executions without new compilation should be an opt-in feature. Because normally the prod executable should no be used for tests, it could have credentials to access production data.

[2022-01-07 17:15] Proximator commented on #7358
Thanks for your quick response, what I am trying to do for my integration tests, is to execute a script after Hibernate ORM has set up all the database objects, according to this article: https://www.morling.dev/blog/quarkus-and-testcontainers, it seems to be supported, I tried both options create and drop-and-create, none of them worked.
Any idea how I can fix it? or a workaround?

[2022-01-07 17:19] lostiniceland commented on #20169
Cant reproduce anymore

[2022-01-07 17:19] #20169 closed

[2022-01-07 17:23] famod commented on #20169
@lostiniceland thanks for replying!

@gsmet

Would be safer. Or implement the smarter approach (`@Dependent` XOR `@Singleton`).
Are you going to take a stab at that? If not I can put it on my (long) list.

[2022-01-07 17:37] gsmet commented on #20169
https://github.com/quarkusio/quarkus/pull/22739

[2022-01-07 17:38] paulrobinson opened #22740 "Property values can behave unexpectedly with trailing spaces"
### Describe the bug

If a trailing space (or presumably another whitespace character) is present at the end of a value in the src/main/resources/application.properties file, it is passed verbatim (not trimmed) to the user of the property (in at least one case, see reproducer below).

### Expected behavior

I would expect trailing (or proceeding) whitespace in a property value to be trimmed. I thi

[2022-01-07 17:40] TomasHofman commented on #22684
@radcortez that's a good idea. There is couple of more places I think, plus I will also check the reactive client. I will prepare a PR.

@rvansa thanks for confirming and for your input!

[2022-01-07 17:59] glefloch commented on #22731
The `configYaml` can be null https://github.com/quarkusio/quarkus/blob/8d501fc14bf108b0a7a5b84de3f2b7ae619f20e6/devtools/cli/src/main/java/io/quarkus/cli/RegistryAddCommand.java#L54
Is there a default value somewhere @ebullient ?

[2022-01-07 18:00] gsmet commented on #22740
The general rule of thumb is:
- spaces are preserved as they should be given how `.properties` file are supposed to work
- we have a converter that can trim strings and we apply it on a per case basis (it might be missing for a ton of properties as we usually apply it when we think about it or when we have a report)

/cc @radcortez

[2022-01-07 18:03] gsmet commented on #7358
Yes, it should work. If it doesn't, you should probably put together a reproducer so that we can have a look. We have thorough tests for that as it kept getting broken so we really need a reproducer to have a look.

[2022-01-07 18:51] geoand commented on #22647
Thanks for the investigation.

Quarkus does not support TestNG, so I am going to close this.

[2022-01-07 18:52] #22647 closed

[2022-01-07 19:09] GoncaloPT commented on #16592
Issue persists on Quarkus 2.6.1.Final with java 17

[2022-01-07 19:13] gsmet commented on #16592
@ronsigal any chance someone from the RESTEasy team could have a look at it?

[2022-01-07 19:14] #22402 closed

[2022-01-07 19:25] bluebird1002 commented on #22723
I had the same issue while installing quarkus.

Resolved it by by installing jbang and adding trust
1)installing jbang.
2)jbang trust add https://repo1.maven.org/maven2/io/quarkus/quarkus-cli/

[2022-01-07 20:03] ebullient commented on #22731
Yeow! how did this get by? Yikes.

[2022-01-07 20:07] gsmet commented on #22731
@ebullient I release 2.6.2.Final on Monday morning early Paris time so if it's an easy fix and you can get it by then, we can include it.

[2022-01-07 20:12] glefloch commented on #22731
With some advice, I can give it a try @ebullient.

[2022-01-07 20:38] phillip-kruger commented on #22429
Can you share a reproducer ?

[2022-01-07 20:47] ebullient commented on #22731
It's building now.

[2022-01-07 20:56] glefloch commented on #22731
I pushed a pr but feel free to close it if you have something else. ;)

[2022-01-07 21:28] ebullient commented on #22731
I did close it. I am trying to remove direct access to those Locators outside of the registry client package. Next thing on my list is making them package private. I can't do it just yet because we still have the flying spaghetti monster in there running amok

[2022-01-07 22:07] #22157 closed

[2022-01-07 22:58] radcortez commented on #10400
Closing in favor of https://github.com/quarkiverse/quarkus-config-extensions/issues/45

[2022-01-07 22:58] #10400 closed

[2022-01-07 23:02] radcortez commented on #18727
Closing in favor of https://github.com/smallrye/smallrye-config/issues/698.

[2022-01-07 23:02] #18727 closed

[2022-01-07 23:05] radcortez commented on #19127
Closing in favor of https://github.com/quarkiverse/quarkus-consul-config/issues/7.

[2022-01-07 23:05] #19127 closed

[2022-01-07 23:06] #22699 closed

[2022-01-07 23:07] radcortez commented on #22740
I'll have a look and check which OTel configs require the trimming converter.

[2022-01-08 03:06] #22731 closed

[2022-01-08 09:45] yasserzamani commented on #22711
Because the Quarkus application has following in application.properties I think:
```%prod.quarkus.datasource.P82DataSource.jdbc.url=${P82_URL}```
**but DB2 XADataSource class doesn't have such setter**, consequently you'll see those warns above by Agroal.

So we also tried both
[code]
and
[code]
but this time Quarkus itself warns that it's ignoring them because it doesn't know them. It doesn't pas

[2022-01-08 11:24] JWood48 commented on #22450
Hi

I just reran the test - now everything seems to work... also for the original project... migth have been the extensions service endpoint that was down or something on my part :-)

/Jakob

[2022-01-08 12:05] glefloch commented on #22450
Yes, or it could come from maven central as the artifact were published the same day you tried to get them.
I will the close. Feel free to reopen it if you encounter a similar issue.

[2022-01-08 12:06] #22450 closed

[2022-01-08 13:31] Pawanyadav1 opened #22751 "How to current location get in Android"
### Description
(A high level description of the work)

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

[2022-01-08 16:48] einarjohnson commented on #21284
hi again. wanted to ask one more question. I have structured my tests pretty much you do @eijckron where I have a `@QuarkusTest` using a `@QuarkusTestResource` that spins up my Testcontainers. Then I have a `@QuarkusIntegrationTest` that simply extends my existing `@QuarkusTest` without any code in it.
Everything works perfectly when I run this locally on my machine and both Surefire and Failsafe

[2022-01-08 17:40] #20698 closed

[2022-01-08 17:49] amitkumar7566 commented on #22595
Hi @gsmet @radcortez

Here is a sample reproducer git project repo which has 2 resources covering both of the below types of scenarios:
1. GET "**/books/db**" -> Showing the use of an AWS service (DynamoDB).
2. GET "**/books/restclient**" -> Showing the use of an External API call using Quarkus REST Client.

Git repo link: [https://github.com/amitkumar7566/xray-native-image-test](url)

Here are th

[2022-01-08 19:59] einarjohnson commented on #6531
I am trying to achieve this myself. I am using a `@QuarkusTest` which uses a `@QuarkusTestResource` to spin up MySQL and Kafka containers and then I have `@QuarkusIntegrationTest` which extends this class. Everything works perfectly locally when I execute` mvnw -Dquarkus.container-image.build=true clean verify` but the test/failsafe run fails inside Gitlab when it starts running the @QuarkusIntegr

[2022-01-08 21:27] CompaXfm opened #22753 "Fm"
### Description
(A high level description of the work)

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

[2022-01-08 21:27] #22753 closed

[2022-01-08 21:28] CompaXfm opened #22754 "Fm"
### Description
(A high level description of the work)

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

[2022-01-08 21:51] #22754 closed

[2022-01-08 21:51] #22751 closed

[2022-01-09 00:12] Karm commented on #22652
The root cause was different system fonts, not libraries. Solved in #22755

[2022-01-09 00:23] eijckron commented on #21284
@einarjohnson My knowledge on gitlab is limited. As far as I know the build runs in a container. Does it allow to fire containers within this build container?

[2022-01-09 05:36] amitkumar7566 commented on #22595
Hi Roberto,

I have updated the issue in the github with all the information requested by you.

Hope to get it resolved ASAP.

Regards,
Amit Kumar

[2022-01-09 08:10] einarjohnson commented on #21284
@eijckron , i think it does. i have a services segment in my gitlab-ci.yml
[code]
Also, the @QuarkusTest step seems to work fine which is firing up MySQL/Kafka test containers. :\

[2022-01-09 10:00] geoand commented on #22714
I assume from your description that this worked with `2.2.2.Final` for example?

[2022-01-09 10:02] geoand commented on #22665
I assume you are referring to continuous testing here?

[2022-01-09 10:56] geoand commented on #22624
https://github.com/quarkusio/quarkus/pull/22756 fixes the issue

[2022-01-09 10:58] geoand commented on #9003
https://github.com/quarkusio/quarkus/pull/21318 has been merged (and some subsequent fixed been applied), so we can close this.

The first release that will contain this support is `2.7`.
Note that Kotlin Serialization support is only provided for RESTEasy Reactive

[2022-01-09 10:58] #9003 closed

[2022-01-09 12:22] dxps commented on #20552
Can we please have some sort of summary :question:

I'm asking since I'm following _Kubernetes Native Microservices with Quarkus and MicroProfile_ book, and eventually I got into this issue as well (after overcoming another one when NativeImageTest instead of QuarkusIntegrationTest annotation was used).

Just using `mvn verify -Pnative` in [this sample](https://github.com/dxps/quarkus_playground/t

[2022-01-09 12:25] geoand commented on #20552
`NativeAccountResourceTest` should be renamed to `NativeAccountResourceIT`

[2022-01-09 12:58] dxps commented on #20552
Unbelievable! :tada: It works! Really appreciated the quick feedback! @geoand :pray:
This naming convention should be emphasized in the docs.
Lookink into existing [Getting started testing](https://quarkus.io/guides/getting-started-testing) guide, I cannot see this convention stated.

[2022-01-09 13:02] geoand commented on #20552
You are welcome!

It is mentioned in https://quarkus.io/guides/building-native-image, but feel free to open a PR if you feel there is an improvement to be made.

[2022-01-09 13:26] #22652 closed

[2022-01-09 13:29] SirSkizo commented on #7358
The thing is that, if we have a DB with data, we cannot asume to drop the entire DB and populate it again, it would be interesting to just execute a .sql script that make some modifications although the generation is equal to "none".

I agree, it is not a bug. But it would be interesting to decide when to run the import sql script

[2022-01-09 13:47] dxps opened #22757 "Native image memory leaks?"
### Describe the bug

Hi Quarkus team & community!

While taking a look again on the recent developments on Quarkus space and started reading a recently published book, initially I played with the native image by just keep pressing F5 (browser reload) on a simple GET /accounts and discovered that the memory was keep increasing.

So, just being genuinely curious about it, I started to do it in a mo

[2022-01-09 14:12] geoand commented on #22757
cc @zakkak @galderz

[2022-01-09 15:36] famod commented on #22665
@geoand I was assuming that but let' have it verified by @lud.

On second thought, continuous testing is already all about just running "affected" tests, so that mode I was referring to actually exists already.
@lud did you have a look at https://quarkus.io/guides/continuous-testing#quarkus-test-dev-testing-test-config_quarkus.test.include-pattern ? You sould be able to set this via `-D` when star

[2022-01-09 18:20] aadityasinha-dotcom commented on #21985
Is this issue open?

[2022-01-09 20:57] gsmet commented on #21985
@aadityasinha-dotcom sure!

[2022-01-09 21:27] rafaelfnx commented on #22538
Hi! I am experiencing the same problem here.

I liked the solution, it would be great if `@CacheName` could create a cache by itself!

I would like to express a positive vote for this solution as well.
It would be ideal if both were accepted.

[2022-01-10 02:28] debu999 commented on #6157
Works fine with quarkus 2.6.1. No need to add swagger-ui.path in properties.

[2022-01-10 02:33] debu999 commented on #16225
with recent quarkus kickstrat we get the following docker images which are only for amd64 so we need to change to redhat/ubi-minimal or build a distroless with arm64 libraries

quay.io/quarkus/quarkus-distroless-image - only available for amd64only available for amd64
quay.io/quarkus/quarkus-micro-image - only available for amd64

Rest the solution works fine in my mac mini 16Gb i have 6 cores to

[2022-01-10 03:44] Moicen opened #22759 "How to eliminate multiple levels of `subscribe().with()`"
I have some async logic like this:

![A2B82710-B4D4-48CB-800C-37B78D66FC08](https://user-images.githubusercontent.com/3773928/148716142-d3509fb6-8b8d-484b-8910-65180b35e3f0.png)

However I don’t want to deal with each level of `errs`, is there anyway to flatten above nested block and just deal with all the exceptions in one level?

[2022-01-10 06:08] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1675902546

[2022-01-10 06:41] cescoffier commented on #22759
I don't know what kind of item is produced by your methods but it seems they are `Uni`. In this case, you need a root Uni and chain all the operations:

[code]

You should have at most 1 subscription, and most probably 0 as I guess your top method should return a Uni.

[2022-01-10 06:44] bboyz269 commented on #21694
I still see complain about "message" bundle not found in `2.6.1.Final`.
[code]
// I'm on gradle 7.1, kotlin 1.6.10, java 11, container build in windows
Reproducible repo: https://github.com/bboyz269/quarkus-resource-bundle-warning

[2022-01-10 06:45] geoand commented on #22757
Can you share the application you used to obtain this behavior?

[2022-01-10 06:54] Sgitario commented on #22554
@indiealexh so, are you working in this issue?

[2022-01-10 07:41] amitkumar7566 commented on #22595
@gsmet @radcortez

This class "**com.amazonaws.xray.contexts.LambdaSegmentContext**" seems to contain the missing information from where the below error arises and can be seen in Cloudwatch:
**"_X_AMZN_TRACE_ID is missing a trace ID, parent ID, or sampling decision. Subsegment DynamoDB discarded."**
**"_X_AMZN_TRACE_ID is missing a trace ID, parent ID, or sampling decision. Subsegment External API

[2022-01-10 07:42] evacchi commented on #20846
@gsmet it's been merged, so IIRC it'll be even in Kogito 1.15 (i.e. Quarkus 2.6.2)

[2022-01-10 08:03] aloubyansky commented on #19875
I think @geoand fixed this one. I am not sure in which version exactly though.

[2022-01-10 08:05] geoand commented on #19875
Right, this should now be fixed (I think in `2.5`)

[2022-01-10 08:05] #19875 closed

[2022-01-10 09:05] argenstijn commented on #8145
A question. So when i use rest easy as lib my configsource is loaded twice?

I use quarkus 2.6.1 and i see the configsource is loaded twice while (not using @StaticInitSafe). I am using rest-easy-reactice.
Is this expected?

[2022-01-10 09:11] yrodiere commented on #7358
I'm not sure what the purpose of this feature is, so that makes me uncomfortable. I think it warrants some discussion:

* If the point is to create tables manually, or fix the schema on an existing database, why not use flyway/liquibase/etc.? That's a best practice, and I wouldn't want to encourage anything else.
* If the point is to populate data on an existing database that has a schema but no d

[2022-01-10 09:22] gsmet commented on #21694
Your problem is due to the fact that there is a `messages` resource bundle in the Kotlin compiler jar:
[code]
and when we are testing if a `messages` is around before adding it to the native resource bundles, this resource is accessible but it is not accessible at runtime anymore.

@aloubyansky @stuartwdouglas while not critical, this is yet another occurrence of the CL used to test if classes/res

[2022-01-10 09:39] Karm commented on #18740
Hello, @yuhaibohotmail, is this still an issue with 2.6.1.Final?

[2022-01-10 09:42] Karm commented on #14089
@zakkak Do you have any opinion on this one? I don't have any test app for that.

[2022-01-10 09:43] argenstijn commented on #8145
@radcortez @gsmet  See my quesiton above

[2022-01-10 09:43] nachogiljaldo opened #22762 "Server Sent Events delaying 200 response"
### Describe the bug

I am on 2.6.1.Final. I have an endpoint that is an SSE endpoint. The status code is only returned after the first element is produced.

This was not the case in 1.x and can lead to timeouts on clients.

### Expected behavior

I would expect a 200 to be returned immediately (provided everything worked as expected).

### Actual behavior

The status code, headers, etc. is not re

[2022-01-10 09:45] nachogiljaldo commented on #22762
Besides, is there any workaround you can think so that I can inject that behavior somehow? I tried to create a bean extending ServerRestHandler but no dice.

[2022-01-10 09:45] Sanne commented on #7358
In case someone wants to contribute something trivial in this area to ORM we can take it in consideration (I haven't fully understood the details), but for anything beyond we should indeed encourage using flyway or liquibase.

We certainly don't want to expand features in ORM to the point of competing with other libraries which already do a fine job at addressing such goals.

+1 to know more about

[2022-01-10 10:01] Sanne commented on #16198
Coming back to this a bit late as I'm reviewing old issues :)

I think we agreed that `@Retry` needs to be used with care on bean methods; for example it would be a design error to try reusing an EntityManager (or a Transaction) but "retry" a method which affects its state partially.

But this issue description specifically mentions:

In this particular case I'd say that @hprange 's expectations s

[2022-01-10 10:02] Karm commented on #12691
The original reproducer is a dead link, although by looking at the Zulip and this aforementioned context, I don't think this is a problem these days. `No instances of sun.security.provider.NativePRNG are allowed in the image heap as this class should be initialized at image runtime.` would have been caught by contemporary Graal in 2021.

Furthermore, https://github.com/pilhuhn/quarkus-rest-json-qu

[2022-01-10 10:02] #12691 closed

[2022-01-10 10:07] aloubyansky commented on #21694
With https://github.com/quarkusio/quarkus/pull/22673 merged, the following will fix it
[code]

[2022-01-10 10:18] #20846 closed

[2022-01-10 10:24] Ladicek commented on #16198
Thinking about it again, I guess we could only possibly guarantee "reprocessability" for what the HTTP specification calls "safe methods" (`GET` and `HEAD`, mostly). Anything else is hit or miss due to reasons you mention (do we wanna buffer the HTTP entity body, for example?), including the original issue here (which I guess is a `PUT` or `POST`).

[2022-01-10 10:28] Moicen commented on #22759
@cescoffier With your suggestion, I find this document in addition:

- https://smallrye.io/smallrye-mutiny/guides/shortcuts

With some learning I simplified my code like this and it works:

![EBECEE1F-29AB-446D-BE58-45F2A09F368B](https://user-images.githubusercontent.com/3773928/148751123-2ec471bf-d186-454a-b207-7c4b36903714.png)

Thanks for help!

[2022-01-10 10:35] lud commented on #22665
Oh I totally missed this configuration property.

Well that covers my needs. From my point of view this issue can be closed if you are not interested by a "changed tests" mode.

Thank you!

[2022-01-10 10:42] gsmet commented on #21694
@aloubyansky oh, that's very cool! I'll have a look at this once #22673 is in then. And I wonder if we should have a look at other occurrences, typically when we test if a class is present in the processors (we do that in several places).

[2022-01-10 10:54] #22624 closed

[2022-01-10 11:15] aloubyansky commented on #21694
Yes, and I guess we could have a more convenient API for these kind of classpath resource look-ups.

[2022-01-10 11:22] famod commented on #22665
Thanks for your feedback!

I'm closing this because cont testing already detects which tests are changed/affected.

[2022-01-10 11:22] #22665 closed

[2022-01-10 11:26] radcortez commented on #8145
Yes, that is expected. A `ConfigSource` annotated with `@StaticInit` is initialized 3 times:

- At Build Time
- At Static Init
- At Runtime

When the `ConfigSource` is not annotated, then it is only initialized 2 times:

- At Build Time
- At Runtime

[2022-01-10 11:33] jcunliffe1 commented on #7442
In previous solutions, you seem to be happy with storing the decrypted password to a String, when clearly char[] are preferred to narrow the attack window: https://www.techiedelight.com/why-character-array-preferred-over-string-storing-passwords/

Shouldn't we make org.eclipse.microprofile.config.ConfigValue.java#getValue() generic, with String being the 'default', but others (like char[]) also be

[2022-01-10 11:35] Sanne commented on #21269
Hi @wiradikusuma ,

I tried to update your reproducer to using:

[code]

At which point I could no longer reproduce the issue; I'm using GraalVM 21.3.0 for Java 17. Could you check as well please?

Also, I had to remove the `firebase-admin` as it's including a shaded copy of Netty which won't compila on latest GraalVM.

I could never run your original reproducer , as it's using an older version of

[2022-01-10 11:49] Sanne commented on #21269
I now also downgraded GraalVM version to the one you used, to be able to reproduce the issue w/o modifications, but it also didn't fail.

I think I can guess what's wrong but I'll need your help to verify the fix - can you still reproduce it reliably?

[2022-01-10 11:56] mklueh commented on #21269
I'm running into the same issue, but I don't use any Oracle Database or any oracle related drivers or dependencies. Instead, I'm using the Postgres driver with Hibernate, and H2 for tests.

In addition, I'm using https://github.com/vladmihalcea/hibernate-types but not sure if that might be related.

The issue only occurs when trying to compile natively. "Normal" building works, as well as running

[2022-01-10 11:57] Sanne commented on #21269
@mklueh could you share a reproducer and exact versions used please? I'd love to be able to reproduce this locally :)

[2022-01-10 12:00] gsmet commented on #21694
That was my next question :).

[2022-01-10 12:01] yuhaibohotmail commented on #18740
@Karm  it works with 2.6.1.Final,thanks!

[2022-01-10 12:01] #18740 closed

[2022-01-10 12:02] radcortez commented on #22595
Thanks! I'll have a look.

[2022-01-10 12:03] Ladicek opened #22764 "interceptor bindings on RestClient interfaces don't work with RestClient Reactive"
### Describe the bug

If I have a RestClient interface like this:

[code]

and use RestClient Reactive together with Fault Tolearnce, the circuit breaker doesn't work. If I put the `@CircuitBreaker` annotation on the `hello` method, the circuit breaker works just fine.

This is caused by RestClient Reactive not copying annotations from the interface itself to the generated class (though annotation

[2022-01-10 12:04] mklueh commented on #21269
Versions are:

Quarkus 2.6.1

and

`
api 'com.vladmihalcea:hibernate-types-52:2.13.0'
`

Build with the default native multi-stage image I guess, using

`./gradlew build -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=docker`

Not sure when I'll have time for a reproducer, if those information aren't enough

[2022-01-10 12:06] gsmet commented on #22757
Maybe it's a stupid question but have you constrained the memory somehow? Maybe try adding `-Xmx100m` to your command line?

[2022-01-10 12:14] Moicen commented on #22759
@cescoffier  I further modified my function with the learned knowledge:

![80F6F72F-923A-4A96-BC96-C0FD229419F1](https://user-images.githubusercontent.com/3773928/148764231-834164da-47d4-454c-83de-db2e03714cd4.png)

So all the calling methods are simplified:

![3DC4D864-E0BE-435B-A50D-FA5A24E3EC36](https://user-images.githubusercontent.com/3773928/148764269-9fcb56d4-b4fa-4b6e-b53f-811e134841f0.png

[2022-01-10 12:19] Sanne commented on #21269
Thanks I'll try with that.

FWIW, the "Unable to resolve Oracle CURSOR JDBC type code" is a Warning - sure it's too verbose and confusing but it's not the cause of the compilation failure.

[2022-01-10 12:33] galderz commented on #22757
The first thing I'd wonder is: Have you tried the same test with the JVM version and see how the memory metric compares? If the behaviour differs, then it'd be worth exploring further at the native level. Otherwise use the JVM version to inspect things further.

What's the memory value coming from? Is that RSS or some other metric?

@gsmet's suggestion is definitely worth a try. Beyond that you'd

[2022-01-10 12:37] argenstijn commented on #8145
How can i only make sure it;s run at Runtime for a native image?

[2022-01-10 12:39] argenstijn commented on #8145
_When the ConfigSource is not annotated, then it is only initialized 2 times:

    At Build Time
    At Runtime_

Also when you just run a Test Using @QuarkusTest?

[2022-01-10 12:57] Ladicek commented on #22764
Interesting twist: the generated class extends `RestClientReactiveCDIWrapperBase`, which defines a few methods. In a naive implementation, these methods would get intercepted as well, and that should _not_ happen.

[2022-01-10 12:59] cdhermann opened #22765 "Status Code and Message Mismatch in WebApplicationException"
### Describe the bug

When using the RESTEasy Reactive Client the HTTP status message doesn't match the HTTP status code.

### Expected behavior

The HTTP status message is expected to match the status code

### Actual behavior

[code]

### How to Reproduce?

run the JBang script:

[code]

### Output of `uname -a` or `ver`

Darwin cdh.localdomain 21.2.0 Darwin Kernel Version 21.2.0: Sun Nov 28 20:

[2022-01-10 13:00] gsmet commented on #22765
@michalszynkiewicz could you have a look at this one?

[2022-01-10 13:12] gastaldi commented on #22765
The bug is in https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/jaxrs/AbstractRestResponseBuilder.java

The Reason phrases don't match the codes

[2022-01-10 13:14] geoand commented on #22762
Nope, there is no way for an application to control this behavior.

I'll leave it up to @FroMage to decide about this

[2022-01-10 13:25] radcortez commented on #8145
Are you seeing a source initializing multiple times in native image? It should only happen once (if they are not annotated with `@StaticInitSafe`. Some selected Quarkus sources are supposed to be used that way. The reason for this, is that some components require configuration during static init, but some sources may not be suitable for static init (imagine a source that uses the rest client to pr

[2022-01-10 13:31] #20834 closed

[2022-01-10 14:12] DavideD commented on #20521
Can somebody assign this issue to me, please?

[2022-01-10 14:15] argenstijn opened #22770 "ConfigSource fails to load while executing maven verify"
### Describe the bug

When i execute the TEST in eclipse it;s working as expected. But when i execute the request
in maven context it fails.

[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 3.557 s <<< FAILURE! - in com.example.ExampleIT
[ERROR] com.example.ExampleIT.shouldWhen  Time elapsed: 0.008 s  <<< ERROR!
java.lang.RuntimeException: java.util.ServiceConfigurationErro

[2022-01-10 14:16] loicmathieu commented on #20521
Done ;)

[2022-01-10 14:22] DavideD commented on #20521
Thanks

[2022-01-10 14:31] DavideD commented on #22254
Can somebody assign this to me, please?

[2022-01-10 14:33] argenstijn commented on #8145
_Are you seeing a source initializing multiple times in native image? It should only happen once (if they are not annotated with @StaticInitSafe. Some selected Quarkus sources are supposed to be used that way. The reason for this, is that some components require configuration during static init, but some sources may not be suitable for static init (imagine a source that uses the rest client to pro

[2022-01-10 14:38] DavideD commented on #19172
Can somebody assign this to me, please?

[2022-01-10 14:39] geoand commented on #21217
Done

[2022-01-10 14:42] radcortez commented on #8145
Great. Let me know if you need any additional clarification.

[2022-01-10 14:42] #21455 closed

[2022-01-10 14:44] DavideD commented on #19539
Please, assign this issue to me. Thanks

[2022-01-10 14:55] DavideD commented on #22433
At first glance, I'd say it's related to this other issue: https://github.com/hibernate/hibernate-reactive/issues/1073

[2022-01-10 15:24] gwenneg commented on #22433
Indeed.

[2022-01-10 15:54] rsvoboda opened #22773 "Hibernate ORM codestart doesn't compile out of the box, jdbc extension is needed"
### Describe the bug

Hibernate ORM codestart doesn't compile out of the box, jdbc extension is needed

Hibernate ORM codestart was introduced in https://github.com/quarkusio/quarkus/pull/20879 by @loicmathieu

### Expected behavior

codestart compiles

### Actual behavior

codestart doesn't compile on its own, additional changes are needed

### How to Reproduce?

Download sample app with just orm

[2022-01-10 16:04] loicmathieu commented on #22773
@rsvoboda you cannot add PostgreSQL automatically, this is not a good default.
And ... there is no good default, that's why you need to add your JDBC extension.
The hibernate ORM guide explain in the first section that a JDBC extension is needed (https://quarkus.io/guides/hibernate-orm#setting-up-and-configuring-hibernate-orm).

The issue states that the application didn't compile, it's surprising

[2022-01-10 16:17] gsmet commented on #22773
If you have an entity and no JDBC extensions around, you have an error at
build.

On Mon, Jan 10, 2022 at 5:04 PM Loïc Mathieu ***@***.***>
wrote:

[2022-01-10 16:17] Ladicek commented on #22764
https://github.com/quarkusio/quarkus/pull/22774 will help with that problem. I have a fix ready, but it needs to wait for that PR.

[2022-01-10 16:23] Sanne commented on #21269
I have improvements scheduled to be included in the next ORM upgrade:
 - https://github.com/hibernate/hibernate-orm/pull/4618/files

Normally I'd close this when we upgrade, but since it wasn't really failing to compile (just having a confusing and over-verbose message) I'll close this now.

[2022-01-10 16:23] #21269 closed

[2022-01-10 16:26] Sanne commented on #22773
We need to know which database is being used at build time, so this information is necessary at build.

This limitation is expected I believe? Not sure if all code-starts need to "just work" oob ?

[2022-01-10 16:43] tobi6112 opened #22775 "Connection to Kafka DevServices not possible"
### Describe the bug

Quarkus cant connect to the auto-configured DevServices Kafka Broker.

### Expected behavior

Quarkus should connect seamless

### Actual behavior

Quarkus tries to connect, but cant establish connection.
[code]

### How to Reproduce?

Steps to Reproduce:

1. Go to https://code.quarkus.io/?e=smallrye-reactive-messaging-kafka&extension-search=origin:platform%20kafka
2. Downloa

[2022-01-10 16:49] cescoffier commented on #22775
Can you paste the log of the broker?

[2022-01-10 16:52] tobi6112 commented on #22775
Yeah, sure

<details>
<summary>Logs</summary>
[code]
</details>

[2022-01-10 17:02] #22765 closed

[2022-01-10 17:09] #22345 closed

[2022-01-10 17:10] famod commented on #22345
Thanks for letting us know. I have just merged the PR.

Can you file another enhancement for this? Thanks!

[2022-01-10 17:10] mklueh commented on #21269
@Sanne should I open a new issue once I got my issue working in an reproducer?

[2022-01-10 17:12] Sanne commented on #21269
does it actually fail to compile? Feel free to reopen this one in that case

[2022-01-10 17:42] fwippe opened #22777 "Rest-Client-Reactive: Allow disabling contextual error messages"
### Description

When calling Rest Client Reactive stubs, every custom `WebApplicationException` (via `ResponseExceptionMapper`) is returned wrapped as a `ClientWebApplicationException` with a contextual, debug friendly, exception message ("Received xxx when invoking Rest Client method yyy"). Usually, you don't want to expose such implementation detail to clients, so such exceptions would have to

[2022-01-10 17:46] Pawanyadav1 opened #22778 "Watch "Technology Pawan Yadav" on YouTube"
https://youtube.com/channel/UCCQV2I9yTw9KOBmsq0kvr3g

[2022-01-10 18:00] sraturi commented on #17622
Posted it in the QA, putting here for reference

https://github.com/rapidrobotics/platform/pull/1195#discussion_r780574606

[2022-01-10 18:00] sraturi commented on #17622
Posted it in the QA, putting here for reference

https://github.com/quarkusio/quarkus/discussions/22736

[2022-01-10 18:28] dxps commented on #22757
Thank you all for the feedback and sorry for the delay.

@geoand The example link is included in the description. [This is it](https://github.com/dxps/quarkus_playground/tree/master/knative_quarkus_bank/account_svc).

@gsmet Those tests where done with the native image, so I don't see the relevance of `-Xmx` JVM argument, but maybe I'm wrong.

@galderz I was thinking about doing it, but I thought

[2022-01-10 18:31] geoand commented on #22757
This is an incorrect assumption.

The native binary still uses garbage collection and the `-Xmx` argument has the same semantics as for regular JVM mode

[2022-01-10 18:41] cescoffier commented on #22775
it might be a windows issue. I would need to setup a VM (would have to wait this weekend if @ozangunalp does not beat me on it).

[2022-01-10 19:02] michalszynkiewicz commented on #22765
Thanks @gastaldi !

[2022-01-10 19:29] LucienBrule opened #22780 "Dev UI (/q/dev) missing after updating bom"
### Discussed in https://github.com/quarkusio/quarkus/discussions/22779

<div type='discussions-op-text'>

<sup>Originally posted by **LucienBrule** January 10, 2022</sup>
This isn't critical but I find it odd, it may effect others as well so figured I'd report it.

Scenario:

I generated a quarkus application ~2 months ago, as of last week /q/dev was working fine then  I recently updated the POM

[2022-01-10 19:33] gsmet commented on #22780
I see you're using mutable jars so probably remote dev?

If so, we disabled the Dev UI in remote dev for security reasons.

[2022-01-10 19:41] LucienBrule commented on #22780
Ah, that makes sense. Is there a magic config option to explicitly re-enable it?

My remote dev use case is  running the application locally in docker compose, makes it easy to centralize configuration and put the services behind a reverse proxy + puts them on the same network as other dependant services.

[2022-01-10 19:46] gsmet commented on #22780
No we disable it altogether: https://github.com/quarkusio/quarkus/pull/15560/files .

Maybe we should have a configuration property to enable it forcefully but it needs some serious thinking to make sure it's not going to be a very serious security hazard.

[2022-01-10 19:56] geoand commented on #22780
+1 to everything Guillaume said

[2022-01-10 20:27] barreiro commented on #22711
@yasserzamani you'll have to use `quarkus.datasource.jdbc.additional-jdbc-properties` to inject those settings.

That will be:
[code]

[2022-01-10 21:17] zakkak commented on #22757
FWIW this reminds me of https://github.com/oracle/graal/issues/3403, which should be fixed in Graal VM 21.3.0 (haven't verified it though).

[2022-01-10 21:30] alexcheng1982 commented on #22689
This probably relates to how Hibernate enhance entity classes written in Kotlin. From my debugging, the field in the subclass is null, but the same field in the parent class is not. I don't know about the root cause, but I can provide you a workaround. Instead of accessing the field directly, using the getter method can get the correct value. I tried to add the annotation `@Access(AccessType.PROPE

[2022-01-10 21:47] MartinX3 commented on #13008
I can confirm that using `project` with panache reactive in kotlin results in `unexpected token: SELECT`, if I use SELECT to manually set the constructor parameters.

[2022-01-11 02:29] evanshortiss opened #22786 "Funqy unable to get event data"
### Describe the bug

I'm using `import io.quarkus.funqy.Funq` to create a Serverless function for use with Knative and a Knative Kafka Source. The Funq processes JSON objects.

When I send a request via HTTP POST it works as expected. Example cURL:

[code]

When the Kafka Source sends the data to the same Funq this error is printed. Could it be that some header is not set correctly by the Kafka s

[2022-01-11 06:01] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1680902367

[2022-01-11 06:17] geoand commented on #22786
Does this still happen in later versions of Quarkus?

[2022-01-11 06:35] #22684 closed

[2022-01-11 06:40] tobi6112 commented on #22775
I think the problem was somehow on my end. Don't know why and what caused it, but as I started my computer today it worked like a charm.

[2022-01-11 06:40] #22775 closed

[2022-01-11 06:52] cescoffier commented on #22759
Should we close this issue?

[2022-01-11 07:02] geoand commented on #474
I am going to close this as we now have [Quarkus - Renarde](https://github.com/quarkiverse/quarkus-renarde)

[2022-01-11 07:02] #474 closed

[2022-01-11 07:08] #2448 closed

[2022-01-11 07:09] geoand commented on #2263
@johnaohara what exactly do you have in mind with regards to this issue?

[2022-01-11 07:14] geoand commented on #3568
@sberyozkin what exactly are you looking to see here?

Asking because if there is something to be done to improve the user experience, we can certainly add it to RESTEasy Reactive

[2022-01-11 07:16] geoand commented on #3535
This is a really fringe issue that has very little affect, so let's close

[2022-01-11 07:16] #3535 closed

[2022-01-11 07:19] BartoszCoyote commented on #22008
Any info?

[2022-01-11 07:20] geoand commented on #3383
Closing this as it has not been issue since

[2022-01-11 07:20] #3383 closed

[2022-01-11 07:23] geoand commented on #3859
I am going to close this as `@QuarkusIntegrationTest` supersedes `@NativeImageTest` and can execute containers when a user requests container builds (for the native application or not).

[2022-01-11 07:23] #3859 closed

[2022-01-11 07:26] geoand commented on #3518
@michalszynkiewicz I think this would be useful for the reactive rest client

[2022-01-11 07:40] geoand commented on #5322
I am going to close this as this is not a problem in RESTEasy Reactive

[2022-01-11 07:40] #5322 closed

[2022-01-11 07:45] geoand commented on #5298
Closing this as we now have https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/stork-reference.adoc

[2022-01-11 07:45] #5298 closed

[2022-01-11 07:46] geoand commented on #5243
I think we should close this as `won't fix` since no one has ever complained about it (I assume because `mvn exec:exec` is not very popular)

[2022-01-11 07:47] geoand commented on #5200
@jkbrock can this now be closed?

[2022-01-11 07:48] geoand commented on #5016
@zakkak do you know if this is still an issue?

[2022-01-11 07:49] geoand commented on #5123
I think we can close this now as I have no seen anyone complain about the duration of the MP TCK execution in a long time :)

[2022-01-11 07:49] #5123 closed

[2022-01-11 08:14] #22759 closed

[2022-01-11 08:20] zakkak commented on #5016
This doesn't look like an issue any more:

[code]

[code]

[2022-01-11 08:45] geoand commented on #5514
This is now possible due to https://github.com/quarkusio/quarkus/pull/18983.

However making this change would be a breaking change.

[2022-01-11 08:51] gsmet commented on #5243
I asked for a `mvn quarkus:run` once :).

[2022-01-11 08:53] cdhermann opened #22790 "LaunchResult#getOutput() behaves differently in continuous testing mode than with `./mvnw clean verify`"
### Describe the bug

Using `LaunchResult#getOutput()` in a `@QuarkusMainTest` in `quarkus dev` continuous testing mode, it captures no only the output of the CLI application. In addition, the dev mode output on stdout is also captured. This causes tests to fail in `quarkus dev` mode. The tests work flawlessly when run with `./mvnw clean verify`

### Expected behavior

`LaunchResult#getOutput()` c

[2022-01-11 09:04] geoand commented on #5394
Between DevServices and TestProfile I think we have covered this use case, so I will close this

[2022-01-11 09:04] #5394 closed

[2022-01-11 09:07] geoand commented on #5764
Is this still an issue with the latest Quarkus versions?

[2022-01-11 09:10] carlesarnal commented on #22478
Sorry for the delay, I was on PTO. @ozangunalp is exactly right about the missing configuration. I've checked the documentation and I also think it's well documented.

[2022-01-11 09:12] cdhermann opened #22792 "Continuous testing fails when `@QuarkusMainTest` and a `@ConfigMapping` are involved"
### Describe the bug

Running a test annotated with `@QuarkusMainTest` in continuous testing mode where another test tests a config mapping defined by `@ConfigMapping` causes the test to fail with a `ClassCastException`:

[code]

It is important that the test testing the `@ConfigMapping` is run before the `@QuarkusMainTest`. The other way round the behavior couldn't be observed.

The tests pass wh

[2022-01-11 09:14] maxandersen commented on #5243
I say we implement it instead of closing it.

Plenty of cases in past where I wish I could just run the app without having to juggle "java -jar target/someeverionchangingjar.jar"

[2022-01-11 09:16] josephearl opened #22793 "Gradle Jacoco Plugin and Quarkus Jacoco - Cannot process instrumented class. Please supply original non-instrumented classes."
### Describe the bug

I have a project with a mix of plain JUnit tests and `@QuarkusTest`s. I am using both Gradle Jacoco plugin and Quarkus Jacoco dependency to measure the combined coverage.

After upgrading to Quarkus 2.6.1.Final from 2.5.8.Final I see a lot of output in stderr about "Cannot process instrumented class <class>. Please supply original non-instrumented classes.", e.g.:

[code]

##

[2022-01-11 09:49] #22478 closed

[2022-01-11 10:00] Sanne commented on #22433
Nice, I was able to reproduce it now - indeed it happens reliably. Hopefully it's downhill from here but it still seems complex :)

[2022-01-11 10:08] maxandersen opened #22797 "Add http client caching support"
having a http client that could let you have client-side cache to avoid unnecessary requests and instead fetch from cache.

resteasy classic seem to have something https://docs.jboss.org/resteasy/docs/1.2.GA/userguide/html/Cache_NoCache_CacheControl.html#client_cache

Extra useful if the same physical) cache could be shared via java HTTP client useCaches(true), resteasy (reactive/nonreactive) and

[2022-01-11 10:33] glefloch commented on #22008
Yes, I think I understand the issue. The plugin iterate over configurations. But in the quarkus plugin, in order to be lazy, we create deployment configuration while resolving the `implementaiton` configuration which leads to the `ConcurrentModificationException`. I tried to create all configuration in plugin initialization but without success.

[2022-01-11 10:42] michalszynkiewicz commented on #22797
Quick googling suggests that vertx http client doesn't support it but it needs to be verified.

I think it's reasonable to target rest client reactive in the first iteration, both declarative and ClientBuilder approach

[2022-01-11 10:58] michalszynkiewicz commented on #22418
After more investigation:

* even though the protoc artifact is available for the given architecture, another artifact `io.grpc:protoc-gen-grpc-java` is not
* this, unfortunately means that we cannot make it work on ppc64le
* please note that this only **affects building** Quarkus apps on the given architecutre and **not running** them

[2022-01-11 11:01] geoand commented on #5584
This has since been fixed in https://github.com/quarkusio/quarkus/pull/21921

[2022-01-11 11:01] #5584 closed

[2022-01-11 11:05] digsb opened #22801 "hibernate-orm: hbm-xml: Cannot serialise field 'scope' on object 'javax.xml.bind.JAXBElement@7d024b28' as the property is read only"
### Describe the bug

If we have any filter-def tag as part of hbm.xml than we get below exception while building project.

[code]

### Expected behavior

Project should build successfully.

### Actual behavior

Getting Exception.

### How to Reproduce?

Steps to Reproduce:

1. Copy following contents in extensions/hibernate-orm/deployment/src/test/resources/META-INF/hbm-component.xml
[code]
2. Ru

[2022-01-11 11:06] geoand commented on #5875
I don't think we want to do this because this could end up transforming a ton of application classes.

Furthermore, a user can get around this using constructor injection

[2022-01-11 11:06] #5875 closed

[2022-01-11 11:10] geoand commented on #6006
Closing as we got no feedback

[2022-01-11 11:10] #6006 closed

[2022-01-11 11:13] geoand commented on #6319
Closing this as we have plenty of tests that use test this scenario

[2022-01-11 11:13] #6319 closed

[2022-01-11 11:15] geoand commented on #6318
In RESTEasy Reactive we do support returning anything that implements `org.reactivestreams.Publisher`

[2022-01-11 11:15] #6318 closed

[2022-01-11 11:18] geoand commented on #6510
We have better ways of providing sensitive information (like `Vault`), so I'll close this

[2022-01-11 11:18] #6510 closed

[2022-01-11 11:19] geoand commented on #6471
I think we can close this as we have better solutions for this

[2022-01-11 11:19] #6471 closed

[2022-01-11 11:28] geoand commented on #7235
Is this still an issue?

[2022-01-11 11:30] geoand commented on #7999
@heubeck I am not sure I understand under which cases it works and which it doesn't

[2022-01-11 11:32] yrodiere commented on #20533
Since I stumbled upon the annotation while working on something else, I'll just mention that `@ActivateRequestContext` (`javax.enterprise.context.control.ActivateRequestContext`) can be used on a service method to create a request context even though there's no request . I've seen it used in tests, but maybe it can work elsewhere.

As to how you can set the tenant, well, I suppose that following m

[2022-01-11 11:33] michalszynkiewicz commented on #22418
@cescoffier I don't know how big powerpc is nowadays but the above is another argument for java-based solution for generating stubs :)

[2022-01-11 11:33] uPagge commented on #22216
So is there any progress in this direction. I'm curious, since I also ran into this problem :)

[2022-01-11 11:39] geoand commented on #5243
We already have https://github.com/quarkusio/quarkus/issues/9315 to track `quarkus:run`, so I propose closing this

[2022-01-11 11:45] dxps commented on #22757
@geoand Your're right. I put the disclaimer _maybe I'm wrong_ as I didn't yet take a look at the docs about that.

@gsmet I'll redo the test using the native image and `-Xmx100`, just to see how it behaves.

### "Running in JVM mode" Scenario

The requests were done using the same cURL based approach (script found in `./tests`):
`./account_svc_local_stress_1.sh -r 1000000 -a http://localhost:8080/

[2022-01-11 11:53] einarjohnson commented on #20256
facing a very similar issue here on my natively built containers. my configuration is:
[code]
and it takes the /q/metrics endpoint about 8 seconds to respond. Are there any other optimization tricks that can be performed?

[2022-01-11 12:03] gsmet commented on #5243
Yeah, I agree having a `quarkus:run` and a consistent experience is better.

[2022-01-11 12:03] #5243 closed

[2022-01-11 12:08] yasserzamani commented on #22711
Thanks a lot @barreiro yes it worked

[2022-01-11 12:12] geoand commented on #20256
Any chance you can provide a sample application we can test?

[2022-01-11 12:21] heubeck commented on #7999
Hey @geoand

pardon me, I've obviously named the wrong containers and can't reproduce it right now.

At a certain point in time (around begin of November 2021), the container based native image build produced binaries, that failed with the error shown above.
Solution was to configure the explicit builder image
`<quarkus.native.builder-image>quay.io/quarkus/ubi-quarkus-native-image:21.3-java17</qua

[2022-01-11 12:21] gsmet commented on #22711
@barreiro should we document it?

[2022-01-11 12:34] geoand commented on #7999
No problem at all.

The name of the image itself has not changed, but the image itself has. See https://github.com/quarkusio/quarkus-images/commits/main/quarkus-native-image.yaml for more details

[2022-01-11 12:41] geoand commented on #9767
Closing as out of date

[2022-01-11 12:41] #9767 closed

[2022-01-11 12:46] geoand commented on #9795
@zakkak @galderz is this something we want, or should we close?

[2022-01-11 12:56] zakkak commented on #9795
I guess this issue suggests using GraalVM's `--install-exit-handlers` to register the `exitHandler` from https://github.com/quarkusio/quarkus/blob/3c3cb8d336117fd2382ccd98a58a9fa95ba60ce5/core/runtime/src/main/java/io/quarkus/runtime/ApplicationLifecycleManager.java#L293-L298

Since we will still want to register the `diagnosticsHandler` as well, I personally don't see what's the benefit of using

[2022-01-11 12:57] gsmet commented on #22762
I'm no SSE expert, just a user, but as a user I would expect the 200 to come right away and then receive the events.

Maybe @cescoffier has an opinion too as he played quite a lot with this.

[2022-01-11 13:00] gsmet commented on #22792
@radcortez could you have a look at this one? It looks config related.

[2022-01-11 13:11] zakkak commented on #18129
Although I like how this separates the actual image from the distribution/provider I am afraid it might make things unnecessarily complicated. E.g. , users might think they need to pass `-Dquarkus.native.provider=mandrel` with `-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:21.0-java11` while they shouldn't have to.

I think I like more the option of making `quarkus.native.buil

[2022-01-11 13:11] geoand commented on #10154
Closing his as RESTEasy Reactive's `@ServerExceptionMapper` can handle this

[2022-01-11 13:11] #10154 closed

[2022-01-11 13:18] rsearls commented on #7235
No

[2022-01-11 13:20] geoand commented on #7235
Thanks

[2022-01-11 13:20] #7235 closed

[2022-01-11 13:23] matthiaswronka opened #22805 "Startup-Error: IllegalStateException: GlobalOpenTelemetry.set has already been called."
### Describe the bug

Sometimes (5 % of Pipelines) we build Docker-Images that fail to start due to an initialization-error in OpenTelemetry:

[code]

We build a jar-file using `gradle jar quarkusBuild` and then add this to a Docker-image. If the error occours, it occours every time the image is used (on developer machine, in the cloud, ... doesn´t matter). If we re-run the pipeline with nearly no

[2022-01-11 13:25] geoand commented on #18129
That sounds like an interesting idea, I like it!

[2022-01-11 13:28] argenstijn commented on #22797
https://github.com/vert-x3/vertx-web/issues/881

[2022-01-11 13:35] radcortez commented on #22595
@amitkumar7566 This may seem related with:

- https://github.com/aws/aws-xray-sdk-java/issues/102
- https://github.com/aws/aws-xray-sdk-java/issues/251
- https://github.com/aws/aws-xray-sdk-java/pull/252

How are you setting the `_X_AMZN_TRACE_ID`?

[2022-01-11 13:42] radcortez commented on #22792
Sure

[2022-01-11 13:42] galderz commented on #18129
I think that's a fair suggestion. I would suggest validating the contents of the property early on so that any mistakes are clearly reported. So, it's either one of the 2 (currently) reserved words, or a URL.

[2022-01-11 13:49] geoand commented on #11347
Closing as we did not receive feedback

[2022-01-11 13:49] #11347 closed

[2022-01-11 13:50] geoand commented on #11779
Closing as this has been implemented

[2022-01-11 13:50] #11779 closed

[2022-01-11 13:51] dmlloyd commented on #5514
We could start with a warning... or better yet, make it an error with a switch to change the error to a warning, to be sure we've gotten the attention of the user.

[2022-01-11 13:51] DavideD commented on #22433
@gwenneg Could you try this branch, please? https://github.com/DavideD/hibernate-reactive/tree/1073

[2022-01-11 13:54] geoand commented on #12048
This was delivered for the Reactive REST Client in https://github.com/quarkusio/quarkus/issues/22466

[2022-01-11 13:54] #12048 closed

[2022-01-11 13:56] geoand commented on #5514
Yeah, the only thing I am worried about is extensions in the Quarkiverse that are still using the old way of doing things that might not be maintained very actively.

Maybe just start with a warning? WDYT @gsmet ?

[2022-01-11 14:02] einarjohnson commented on #20256
Hi @geoand. I cannot post the whole component here. This component is a pretty basic Kafka streams handler that routes packets from one topic to three different subtopics.

**application.properties**
[code]

**pom.xml**
[code]

The main handler is along these lines
[code]

[2022-01-11 14:03] gsmet commented on #21282
@patriot1burke maybe we should have a proper message error when Vert.x/RESTEasy is around and using the same port?

The other option would be to document the error message and how to solve it.

[2022-01-11 14:04] yrodiere commented on #22801
This looks caused by an incomplete JAXB mapping in Hibernate ORM, resulting in the use of JAXBElement where we should use a custom domain type (i.e. `JaxbHbmFilterParameterType`).

We'll have to fix this upstream.

[2022-01-11 14:06] ebullient commented on #20256
If you look @ the metrics emitted, you may find some that you don't need / can turn off. Kafka metrics can be _very_ verbose.

[2022-01-11 14:08] gsmet commented on #21249
#21286 has been merged so we can close this one.

Also the work of @geoand to support HTTPToolkit properly is also an alternative.

[2022-01-11 14:08] #21249 closed

[2022-01-11 14:08] gsmet commented on #21240
No comments, closing.

[2022-01-11 14:08] #21240 closed

[2022-01-11 14:18] evc-erik opened #22807 "quarkus:dev maven goal should imply process-classes"
### Description

As noted in #22776, running `quarkus:dev` without `process-classes` doesn't create Jandex indices for dependencies in a multi-module build. If the `process-classes` phase was included as part of the `quarkus:dev` goal, then the output would more closely match the results of the JAR created with the `package` goal.

### Implementation ideas

_No response_

[2022-01-11 14:22] matejvasek commented on #22786
I'll try to look into this.

[2022-01-11 14:26] matejvasek commented on #22786
how does `functions.Shot` looks like?

[2022-01-11 14:29] matejvasek commented on #22786
Oh sorry, now I see it's in cluster producer that causes issues.

[2022-01-11 14:31] gwenneg commented on #22433
I should be able to test that in a couple hours.

[2022-01-11 14:44] amitkumar7566 commented on #22595
We are not setting it anywhere.. It should be automatically be pushed in AWS Lambda...
The same thing works when we use lambda "handler" but does not work when we use "controller".

[2022-01-11 14:49] matejvasek commented on #22786
@evanshortiss I would be useful to see what request form kafka looks like. I can create image logging this. Would you mind deploying it into your cluster and used is as a sink?

[2022-01-11 14:56] argenstijn commented on #22770
The code is working when using maven-surefire-plugin. But with the maven-surefire-plugin it fails

[2022-01-11 15:11] evanshortiss commented on #22786
@geoand yes, I tried in 2.6.2 and found the same behaviour. I am using 2.2.3 since this is the default version in the `quarkus` template used by `kn func create`, i.e `kn func -l quarkus my-service`.

@matejvasek yes, happy to deploy an image that logs the request headers etc. If you have one ready I will do it ASAP.

[2022-01-11 15:16] matejvasek commented on #22786
maybe related: I recall that in past kafka returned some header with value==empty string which caused troubles to some client.

[2022-01-11 15:17] matejvasek commented on #22786
if the header wasn't set at all it worked but if the header was present with explicit empty value it was causing troubles, but it was months ago, maybe they fixed it

[2022-01-11 15:20] andlinger opened #22808 "Including resource bundles for different languages doesn't work"
### Describe the bug

When running the following code, there are differences between Native mode and JVM mode:

[code]

JVM mode output:

[code]

Native mode output:

[code]

The "LocaleNames" bundle was included via a resources-config.json file:

[code]

This JSON file was passed via the additional build arguments:

`quarkus.native.additional-build-args=-H:ResourceConfigurationFiles=resources-con

[2022-01-11 15:33] maxandersen commented on #5243
ack!

[2022-01-11 15:37] matejvasek commented on #22786
@evanshortiss the image is: quay.io/mvasek/fn-g:latest
[code]

[2022-01-11 15:38] matejvasek commented on #22786
with it we should see headers/body and then hopefully reproduce the issue locally

[2022-01-11 15:40] maxandersen commented on #22723
@bluebird1002 @ezYakaEagle442 just checking you noticed that the cli prints:

"If you trust the url to be safe to run you can do one of the following:
0) Trust once: Add no trust, just run this time
1) Trust limited url in future:
    jbang trust add https://repo1.maven.org/maven2/io/quarkus/quarkus-cli/

Any other response will result in exit."

Did typing `1` + enter not work for you ?

There is

[2022-01-11 15:42] maxandersen commented on #22723
it was not an issue but discussion at https://github.com/quarkusio/quarkus/issues/22723 - i 'll keep this issue open.

[2022-01-11 16:13] evanshortiss commented on #22786
@matejvasek I think it's related to a missing content-type header. Here are the logs from your image:

[code]

I can recreate the error locally using the curl below. Notice that the content-type is set, but empty. I had to do this since curl will default to `application/x-www-form-urlencoded`:

[code]

This curl produces the `java.lang.RuntimeException: Don't know how to get event data (dataConten

[2022-01-11 16:21] rsvoboda commented on #22773
imho the OOB experience is quite important. So for hibernate-orm codestart seems there is no other option than what we have at this moment. Correct?

[2022-01-11 16:24] matejvasek commented on #22786
@evanshortiss I think defaulting to JSON could be OK.

[2022-01-11 16:31] matejvasek commented on #22786
but also I should report this to kafka source maintainers

[2022-01-11 16:34] loicmathieu commented on #22773
At some point an entity will be created and the build error will pop up so the codestart will just fail faster.

Maybe the tooling needs to handle such case.

[2022-01-11 16:34] evanshortiss commented on #22786
Sorry, I should rephrase. Is there a way to instruct the Funq to assume the incoming HTTP body is JSON? Or will I need to read the input as a String type and manually parse to JSON?

Right, I'm not sure what's the correct approach here. Data in Kafka could be in various formats, so they might deliberately not assume content-type? Worth a discussion though.

[2022-01-11 16:37] glefloch commented on #22807
@aloubyansky I can take care of it for both Maven and Gradle. Just to make, for the maven part, we only need to set a dependency on the `process-classes` phase and we don't need to check wether the `jandex` plugin exists rigth?

[2022-01-11 16:45] cescoffier commented on #22082
I agree with @patriot1burke - OIDC should use the "core" vert.x extension, not the HTTP one (handling the HTTP server).

[2022-01-11 16:45] patriot1burke commented on #22786
I really don't know.  IIRC, the spec requires setting the content-type.  I guess we can just assume json.

[2022-01-11 16:48] rkraneis commented on #22082
Yes, he is :)

[2022-01-11 16:50] maxandersen commented on #16031
suggestion is to split into two commands, one for setup, other for run.

i.e. `quarkus remote-dev` or `quarkus dev --remote` vs `quarkus remote-dev --setup`

[2022-01-11 16:50] matejvasek commented on #22786
@evanshortiss would you mind filling and issue here: https://github.com/knative-sandbox/eventing-kafka/issues ?

[2022-01-11 16:54] patriot1burke commented on #22082
@sberyozkin let me know if you trust me to fix this. :)

[2022-01-11 16:58] maxandersen opened #22812 "update cli to have platform marker in extension list"

[2022-01-11 17:06] radcortez commented on #21002
We were able to determine that this is caused by writing the probabilistic value in format, that the Jaeger configuration would not read property due to the default Locale.

[2022-01-11 17:06] yrodiere commented on #22801
I decided to work around the problem in Quarkus in the end. See  #22814.

[2022-01-11 17:12] bvahdat commented on #22711
And just to emphasize the point that with applying those changes above (missings.txt) I was able to successfully run in native mode without any error.

[2022-01-11 17:21] evanshortiss commented on #22786
Thanks @matejvasek. Using byte[] is the magic workaround for the content-type issues 😄

Sure I can open an issue for discussion. It sounds like omitting the datacontenttype is valid in certain scenarios though: https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#datacontenttype

[2022-01-11 17:25] matejvasek commented on #22786
I think it's valid you with structured mode:
Example:
[code]
since the whole event  is in JSON the data are also implied to be JSON.

[2022-01-11 17:27] matejvasek commented on #22786
For binary mode (where metadata are in HTTP headers) there is no such implication. We really can't safely assume anything, we can just do some best effort and assume JSON and hope JSON is what most developer use. I am still not sure if I want to do that. IMHO this should be fixed in the kafka source.

[2022-01-11 17:31] cescoffier commented on #22762
The current behavior is the expected one (at least, I think).

First I think there is a misleading wording. The status is necessarily sent BEFORE the first item, or it would not be a correct Http frame.

The problem with SSE is propagating failures. By delaying the status until we get the first item, we can produce a 400/500 response if, instead of an item, we get a failure. Also, if we get a comp

[2022-01-11 17:33] matejvasek commented on #22786
@evanshortiss what triggers the kafka source?

[2022-01-11 17:37] geoand commented on #22762
So should we close this?

[2022-01-11 17:38] matejvasek commented on #22786
maybe the source works ok, but he component pushing to kafka is not

[2022-01-11 17:39] loicmathieu commented on #20492
Hi,
I tested you reproducer and it works for me on appengine after a small correction.
In your application.properties, the dialect has a trailing space, that why the class is not found because it tries to load the `org.hibernate.dialect.PostgreSQL10Dialect ` class and not the `org.hibernate.dialect.PostgreSQL10Dialect` one.

[2022-01-11 17:41] loicmathieu commented on #20492
@tares42 please can you try to remove the trailing space and confirm it work on your side ?
I also answer on StackOverFlow.

[2022-01-11 17:41] gwenneg commented on #22433
Which Quarkus version should I use to test your branch @DavideD? I tried with 2.5.4.Final and 2.6.2.Final but the application won't start because of this:
[code]

[2022-01-11 17:54] matejvasek commented on #22786
the component pushing it should also set content type metadata

[2022-01-11 17:55] radcortez commented on #21678
There is another way to do this, with a Quarkus Extension via:
- https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/builditem/StaticInitConfigBuilderBuildItem.java
- https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/builditem/RunTimeConfigBuilderBuildItem.java

The way to implement it is to not use any

[2022-01-11 17:55] #21678 closed

[2022-01-11 18:00] #21002 closed

[2022-01-11 18:12] nachogiljaldo commented on #22762
I admittedly haven't read the SSE protocol description (in fact I am trying to find it) but I don't seem to be able to :/

However, the examples provided, don't really make sense in my mind, let's see why:
- 500: you can get an error it when getting the first element, when getting the second, etc. I am not sure why the 1st should be special and result on a 500. IMHO here 500s would make sense if y

[2022-01-11 18:13] evanshortiss commented on #22786
@matejvasek I was just doing something similar. Good thinking :)

The first message is pushed to my Kafka topic without setting headers. Second message is pushed with `headers={ 'content-type':'application/json' }`. The Kafka Source is inspecting the header to determine the `datacontenttype` correctly for the second message.

I this is worth mentioning in the [Kafka Source page](https://knative.de

[2022-01-11 18:19] matejvasek commented on #22786
@evanshortiss so you were able to fix your component that is pushing events into kafka?

[2022-01-11 18:28] nachogiljaldo commented on #22762
A data point that could prove me wrong, but seems spring-boot handles it the same way: at least it behaves that way on https://github.com/vueda/spring-sse-example

[2022-01-11 18:38] lance commented on #22786
@patriot1burke the proper thing to do here, in my opinion, is to make no assumptions about content type. If the CloudEvent has a `datacontenttype` attribute, obviously, that should be used, but if there is no `content-type` header and no `ce-datacontenttype` header for the CE code to parse, then the CE data should simply be a `byte[]`.

[2022-01-11 18:44] evanshortiss commented on #22786
@matejvasek yes, that header in the Kafka payload does the trick.

@lance I agree with this. It's a downstream issue, and Quarkus 2.x is taking the right approach by not making an assumption. Perhaps the error message could be improved and the Kafka Source doc could be improved?

[2022-01-11 19:09] gsmet commented on #20492
I'm working on improving the Hibernate ORM config to trim the values automatically where it makes sense.

[2022-01-11 19:09] juliuskrah opened #22815 "IllegalAccessError when using OpenTelemetry extension with custom Resource"
### Describe the bug

I created a quarkus project with the OpenTelemetry extension and  added a custom `Resource CDI Producer`.

[code]

### Expected behavior

The application should startup when `./mvnw clean quarkus:dev`

### Actual behavior

An exception is thrown

[code]

### How to Reproduce?

[reproducer.zip](https://github.com/quarkusio/quarkus/files/7849254/reproducer.zip)

### Output of `

[2022-01-11 19:14] evanshortiss commented on #22786
@matejvasek I'll close this issue. It seems like this was an improvement in Quarkus 2.x behaviour and my Funq worked due to an improper assumption made in the Quarkus 1.x implementation.

I talked to a committer on the Knative project, and it sounds like adding a note to the Knative [about sources page](https://knative.dev/development/eventing/sources/) is a good idea. It can explain how sources i

[2022-01-11 19:14] #22786 closed

[2022-01-11 19:14] evanshortiss commented on #22786
And thank you so much for your help with this BTW @matejvasek 🙏

[2022-01-11 19:15] ebullient commented on #20256
not necessarily. If you have a lot of producers/consumers, they can still show up as unique timeseries..

[2022-01-11 20:45] loicmathieu commented on #20492
This would be great.
I remember being bit by this mistake once myself

[2022-01-11 20:57] #5332 closed

[2022-01-11 20:57] #22792 closed

[2022-01-11 21:01] famod opened #22817 "`SRCFG00020: Failed to convert value with static method` when setting log level to `OFF` via yaml"
### Describe the bug

[code]
throws::
[code]
But the same as .properties works:
[code]

Setting other levels like `ERROR` works in YAML.

### Expected behavior

`OFF` can be used in yaml

### Actual behavior

exception is thrown

### How to Reproduce?

[q_loglevel-off.zip](https://github.com/quarkusio/quarkus/files/7849838/q_loglevel-off.zip)

`mvn clean verify` (or `quarkus:dev`).

### Output of

[2022-01-11 21:02] famod commented on #22817
/cc @radcortez

[2022-01-11 22:01] patriot1burke commented on #21282
@gsmet The problem is that people are using extensions that start up an HTTP server within a vanilla AWS Lambda.  Some of these extensions like Kogito  require an HTTP server (at least I think it requires HTTP) and should not be used within a vanilla AWS Lambda.  Other extensions like quarkus-oidc-client are incorrectly pulling in the vertx-http-deployment dependency and thus starting an HTTP serv

[2022-01-11 22:03] famod commented on #22807
The other day I was wondering whether we should "fork the lifecycle" (as the Maven folks say) so that we don't need to execute specific goals on our own. This would simply do the very same as what Maven would be doing (until the given phase):
[code]
This would also catch user-specific plugin executions (for which we had more than one issue).

Downsides:
- would also execute enforcer plugin etc. wh

[2022-01-12 00:55] radcortez commented on #22805
I know that this is not related, but out of curiosity any particular reason for adding the custom tracer interceptors? In Quarkus, REST Endpoints are automatically traced, and for CDI Beans you can use the OTEL `@WithSpan` annotation to trace method calls. If something is missing here, we can certainly add it.

Regarding the issue, can you confirm the Quarkus version is 2.6.1.Final? Because the st

[2022-01-12 01:08] radcortez commented on #22817
The issue here is that the YAML specification automatically converts `OFF` to `false`, so when we read the value we get `false` which of course is not a valid value for the log level.

https://yaml.org/type/bool.html

You need to quote `"OFF"` so YAML does not convert it before it gets to us.

[2022-01-12 02:41] sesponda opened #22822 "org.graalvm.compiler.java.BytecodeParser$BytecodeParserError: java.lang.NullPointerException when using SQLite"
### Describe the bug

Native compilation of a very small Quarkus app using SQLite causes an NPE in `org.graalvm.compiler.java.BytecodeParser` (full stack trace visible in the logs).

The bug report details are for Mac. I was also able to reproduce it using Linux (`Linux lubu2 5.4.0-92-generic #103-Ubuntu SMP Fri Nov 26 16:13:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`)

### Expected behavior

Nati

[2022-01-12 05:38] aloubyansky commented on #22807
@famod can you think of a good case when you wouldn't want to "fork the lifecycle" in case of `quarkus:dev`? And what would make sense as the default in most cases? It seems to me forking could make sense in most cases.

[2022-01-12 06:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1686025646

[2022-01-12 06:22] geoand commented on #22815
Interesting case...

This happens because the constructor of `io.opentelemetry.sdk.resources.Resource` is package private which is problematic for the generated proxy. @mkouba shouldn't this be a build time error?

A workaround is to change `@ApplicationScoped` to `@Singleton` on the `newRelicResource` method.

[2022-01-12 06:33] #22817 closed

[2022-01-12 06:33] geoand commented on #22817
The joys of YAML...

[2022-01-12 07:15] joggeli34 opened #22824 "Add jitter to scheduler"
### Description

It would be nice if the `@Scheduled` annotation also support setting a jitter.

We have multiple instances running which are doing periodical tasks / checks. Adding a jitter would better distribute the load of the task randomly.

### Implementation ideas

It could be added to the `@Scheduled` annotation similar as it is done in the `@Retry` annotation.