[2020-10-25 14:25] famod commented on #12923
Thanks for reporting this. I fear it will be hard or even impossible to track this down without a reproducer.

/cc @Sanne

[2020-10-25 14:47] famod commented on #12769
Maybe #12805 helps here as well?

[2020-10-25 17:35] #12077 closed

[2020-10-25 17:36] #12644 closed

[2020-10-25 17:47] cescoffier commented on #11535
Closing this issue as the support for blocking has been merged in the master branch.

[2020-10-25 17:47] #11535 closed

[2020-10-25 17:52] #12919 closed

[2020-10-25 19:07] dcdh commented on #12913
I found another classpath issue.

When I am using `keycloak-admin-client` likes this:

[code]

I need to downgrade a dependency - by declaring it in my pom.xml - to the same version used in 1.8.3.Final version of Quarkus:

[code]
However, I've got this error:

[code]
because `keycloak-admin-client` rely on jackson and it clashes with the version of `json-schema-validator`

[2020-10-25 20:51] tlvlp commented on #9613
Thank you for sharing the details. Your solution for the original issue has worked nicely for me too.. I've been digging around the documentation of both Quarkus and Verx and asked for help as well on the dev discussion board.

Related  #12925

[2020-10-25 20:56] rmanibus opened #12926 "Jsonb: @JsonbTransient does not work on abstract classes."
@JsonbTransient work when used on interface, but not on abstract class.
This prevent to hide fields on an abstract class views with blaze.
It's working fine with Jackson.
[code]
when used in a Jax-RS Resource, this return:
[code]

[2020-10-25 20:59] rmanibus commented on #12926
reproducer:

https://github.com/rmanibus/quarkus_12926

[2020-10-25 20:59] tlvlp commented on #12925
The above seems to have been caused by the consumer blocking (which was by far not obvious, since the same happened when I was returning a Mutiny Uni, that should have been passing the call to a worker thread (as far as I understand).

So although there is a workaround now and since I know what to look for, I've found the relevant section in the [event bus docs](https://quarkus.io/guides/reactive-

[2020-10-25 22:06] garyhodgson commented on #4224
Hi,

It appears that including the com.sun:tools artifact as a system scoped dependency allows lombok to function with dev mode, e.g.:

[code]
hiding it in a dedicated profile seems like a reasonable workaround for now, e.g.:

[code]

[2020-10-25 22:35] dcdh commented on #5390
It happens when you add this conf in your pom.xml:

[code]

Moreover, how can we specify both configurations for `ResourceConfigurationFiles` and `ReflectionConfigurationFiles` paths ?

[2020-10-25 22:57] famod opened #12927 "RESTEasy tries to instantiate abstract resource base class"
**Describe the bug**
If your REST resource extends an abstract base class that contains all the typical annotations like `@Path`, `@GET` etc. then you'll see this failure when invoking the resource:
[code]
Such abstract base classes can be the result of https://github.com/OpenAPITools/openapi-generator

**Expected behavior**
Resource classes can use abstract base classes (that contain JAX-RS annot

[2020-10-25 22:59] famod commented on #12927
/cc @patriot1burke @gsmet

[2020-10-26 01:18] #8708 closed

[2020-10-26 02:46] stuartwdouglas commented on #12927
hmm, this will work for interfaces, but the spec does not require it to work this way for abstract classes.

[2020-10-26 03:20] missourian55 opened #12928 "Invalid JWT token: iat > now"
**Describe the bug**
Trying to play with the example listed here
https://quarkus.io/guides/security-openid-connect-web-authentication
By using a Authorization provider like **Auth0** or **Keycloak running in AWS as Docker**

**Expected behavior**
The example should work, potentially a bug in iat validation? iat and exp are EpochSeconds

**Actual behavior**
[code]

**To Reproduce**

Configure the e

[2020-10-26 03:35] missourian55 commented on #12928
Sorry. Seams like I have a clock skew(off by 10s) issue with my dev workstation. Fixed that problem and this was resolved.

[2020-10-26 03:36] #12928 closed

[2020-10-26 03:57] stuartwdouglas commented on #12925
It sounds like we should just be adding some logging to the ConsumeEvent code?

[2020-10-26 04:00] stuartwdouglas commented on #12904
Are you using @Transactional? If so is the @PostConstruct happening in the same transaction?

The EntityManager is not really request scoped, it is (mostly) transaction scoped (unless there is no TX active, in which case a fallback request scoped one is created). If you apply the filter with no TX, then start a TX, the EM in use will be different.

[2020-10-26 04:13] stuartwdouglas commented on #12769
I don't know if there is much we can do about this, and still guarantee a clean shutdown (we need to wait for beans to be created before we destroy them, so we need to wait for the creation process to complete).

[2020-10-26 04:16] stuartwdouglas commented on #12871
I think this is just a logging specific problem, rather than a general one.

I don't think we actually want to fix it, as in general we want the logging settings to stay around, during shutdown we don't want to wipe out logging settings and have something go missing.

IMHO we can close this as a known limitation of @QuarkusUnitTest. If you really want to test this then use forkmode=always to get a

[2020-10-26 04:46] stuartwdouglas commented on #12740
What is the issue with native here? Just a matter of registering them for reflection?

[2020-10-26 05:22] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/328360008

[2020-10-26 05:59] ahofmeister commented on #12873
@gsmet @Sanne Here it is :)
https://github.com/ahofmeister/quarkus-orm-reproducer

[2020-10-26 06:12] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/328360258

[2020-10-26 06:21] stuartwdouglas commented on #12571
I have not been able to reproduce this. It looks like the config is going missing somehow.

https://github.com/quarkusio/quarkus/pull/12931 helps with one of the reported stack traces.

[2020-10-26 06:26] geoand commented on #12871
I completely agree with @stuartwdouglas.

Although in general we do want `@QuarkusUnitTest` tests to be independent of each other, some things just make sense to keep around.
In addition to Stuart's suggestion of using `forkmode=always`, you can also configure Maven Surefire to use multiple executions - thus ensuring that the specific tests you want are executed in a different process.

[2020-10-26 06:26] #12871 closed

[2020-10-26 06:39] #6014 closed

[2020-10-26 06:42] geoand commented on #12926
Thanks for reporting, but I am pretty sure this is a Yasson specific issue, so it would be best if you reported it to https://github.com/eclipse-ee4j/yasson

[2020-10-26 06:42] #12926 closed

[2020-10-26 07:04] Gabitchov commented on #12522
@SumaiyaSafdar  yes, you can take this one because I have not enough spare time to work on it.

[2020-10-26 07:08] Meemaw commented on #12905
@manovotn here is the stack trace I see:

[code]

[2020-10-26 07:17] ia3andy commented on #12522
@SumaiyaSafdar this one will takes a bit of time and is not the easiest one, are you up to the challenge?

[2020-10-26 07:26] mkouba opened #12933 "Qute: if needed throw an exception if a property is not found"
Currently, we output the `NOT_FOUND` constant if a property is not found when evaluating an expression. It should be possible to register a `ResultMapper` that simly throws an exception for `io.quarkus.qute.Results.Result.NOT_FOUND`. We could make it configurable.

[2020-10-26 07:51] aloubyansky commented on #12571
Just curious how were you testing this? I was using minikube.

[2020-10-26 08:02] speedfl opened #12935 "Add Lifecycle onReady event"
**Description**
Following logic on [lifecycle documentation](https://quarkus.io/guides/lifecycle) we can see that we have can register for startup and shuttdown events. It could be useful to have an event when the app is ready.

[2020-10-26 08:02] ia3andy opened #12936 "Add the option to define parent pom in themaven codestart"
_Originally posted by @aloubyansky in https://github.com/quarkusio/quarkus/pull/12916#discussion_r511767183_

[2020-10-26 08:06] ia3andy commented on #12936
@aloubyansky I am a bit concerned about the impact that the parent pom could have, platform, dependencies, and properties..

[2020-10-26 08:09] aloubyansky commented on #12936
Yes, I think currently "create" assumes there is no context, i.e. already selected platform and dependencies. So, it'll have to be enhanced.

[2020-10-26 08:31] Adelrisk commented on #9613
Glad I could help. Not wanting to be picky, I feel that 'solution' is a strong word, I myself view this as a workaround.

As I said, just adding the blocking attribute to the annotation [is not enough](https://github.com/quarkusio/quarkus/issues/9613#issue-625026295):

[2020-10-26 08:44] vladimirfx commented on #7893
There is good points to extract management endpoint:
- security
- resource sharing

It is common for JVM Cloud-native frameworks to expose distinct management (Spring Boot, Helidon, Micronaut etc) endpoint. Only for Quarkus we must implement workaround on incoming proxy.
It is produce annoyance for operations team - they should have sacral knowledge that service is Quarkus-base and it must be spec

[2020-10-26 08:49] famod commented on #12927
@stuartwdouglas

Well, I found this: https://stackoverflow.com/a/25924310/9529981

[2020-10-26 08:50] elrob commented on #11923
I'm dipping my feet into the quarkus waters but hitting an issue similar to the above.
It seems micrometer is now being promoted as being supported (including mention of statsd in [this blog post](https://quarkus.io/blog/micrometer-metrics/)) but when I try and use the statsd registry I cannot build natively. (Maybe related to: https://github.com/quarkusio/quarkus/issues/12900)

Attempting to use:

[2020-10-26 08:55] galderz commented on #10495
These changes are already part of GraalVM 20.2. I'm not aware of any regressions, anything else to do here?

[2020-10-26 09:06] galderz opened #12938 "TRACE logging improvements"
Infinispan uses this idiom where it caches whether trace is enabled in a static final field. In native testing it has been shown that this field is true even if trace has not been enabled. @Sanne [already predicted the issue](https://github.com/quarkusio/quarkus/issues/2223#issuecomment-487576200). The linked issue also explains the reason why this happens. In Hibernate's case, they worked around

[2020-10-26 09:10] galderz commented on #12938
The solution described can be achieved by using gizmo to generate bytecode at build time for a class that substitutes `BasicLogger.isTraceEnabled` method, if any categories have been enabled for TRACE. Then, the substituted method would check whether the log name is equals too, or starts with, the category to trace in which case it would return true. Then, by adding `@Fold` annotation, it should f

[2020-10-26 09:47] Sanne commented on #12740
@stuartwdouglas probably yes, I haven't looked at it in a while. AFAIR the whole handling of JPA callbacks needs a general refactoring: it entirely relies on runtime annotation processing, reflective bean instantiation, etc..  and there's probably some ArC integration to do as well.

"Just" adding a list of stuff to reflection could do the trick, but it also implies we need to keep a significant c

[2020-10-26 09:48] aloubyansky commented on #12571
Ah, it looks like I can reproduce it only when editing the pom.xml in the IDE. Editing in a text editor doesn't seem cause this error. So it looks like it's related to the IDE copying the cleaning/resources dir.

[2020-10-26 09:55] aloubyansky commented on #12571
Yes, if I disable automatic build in the IDE I can't reproduce it. That makes sense. Didn't think of it originally. Not sure we can do much here. I am closing it for now.

[2020-10-26 10:03] aloubyansky commented on #12571
This IDE building issue is actually not limited to the POM, I guess. So it probably has to be a general recommendation to turn off automatic building for the remote-dev.

[2020-10-26 10:17] bobbyphilip opened #12939 "Wrong host forwarded after enabling proxy address forwarding"
**Describe the bug**
quarkus.http.proxy.proxy-address-forwarding=true

When an ip like 2001:db8:85a3:8d3:1319:8a2e:370:ac is used, the parsing in vertx.http  ForwardedParser breaks as it considers ac to be the port

**Expected behavior**
The obtained remote host address should be2001:db8:85a3:8d3:1319:8a2e:370:ac

**Actual behavior**
We get something like  2001:db8:85a3:8d3:1319:8a2e:370:37678

**

[2020-10-26 10:17] mickroll commented on #12927
To resolve quoted quoting:

see https://download.oracle.com/otn-pub/jcp/jaxrs-2_0-fr-eval-spec/jsr339-jaxrs-2.0-final-spec.pdf

[2020-10-26 10:35] famod commented on #12927
May I kindly ask you @asoldano for an opinion from the RESTeasy POV?

[2020-10-26 10:42] coiouhkc opened #12941 "quarkus.resteasy.gzip.max-input does not apply for REST client"
**Describe the bug**
Given a REST client configuration as in the official guide,
with `quarkus.resteasy.gzip.enabled=true` and `quarkus.resteasy.gzip.max-input=100M`
when trying to fetch >10M  < 100M (unpacked) gzipped content from an endpoint,
then an exception 'quarkus RESTEASY003357: GZIP input exceeds max size: 10000000' is thrown

**Expected behavior**
The GZIP input is unpacked successfully

[2020-10-26 10:45] radcortez commented on #12844
@kristijan-rusu Thanks.

There was an issue causing the CNFE in some situations. Would you mind to override SR Config to 1.9.1 in your project and try it out?

[2020-10-26 10:49] gsmet commented on #12913
The issue is an incompatibility of `jackson-coreutils` versions. It got upgraded in RESTEasy and `com.github.java-json-tools:json-schema-core` doesn't support this upgrade.

I fixed it by adding the following to your project:
[code]

I created https://github.com/rest-assured/rest-assured/pull/1397 in the REST Assured project.

[2020-10-26 10:56] CarlosPanarello opened #12942 "Open api swagger ui extension to show swagger in runtime."
**Description**
Add option to show swagger ui and open-api json at run time, the current behavior is to create and show at build time. It may be good to have the option to enable swagger-ui or open-api json in the development environment and disable it in the production environment without having to do another compilation.

**Implementation ideas**
Add property to control the return of swagger-ui

[2020-10-26 10:56] paschm opened #12943 "maven toolchain is ignored for used java executable"
**Describe the bug**
quarkus-maven-plugin apparently ignores maven toolchain configuration. i. e. if maven is run with java 8 and toolchain is configured with java 11, the quarkus-maven-plugin picks up java 8.

**Expected behavior**
use java from maven toolchain

**Actual behavior**
use java, with which maven is run

**To Reproduce**
see maven project [code-with-quarkus.zip](https://github.com/qua

[2020-10-26 10:58] paschm commented on #12943
Issue seems to be related to #241

[2020-10-26 11:33] coiouhkc commented on #12941
Workaround: copying the `GZIPDecodingInterceptor` into own codebase, setting `@Priority(Priorities.ENTITY_CODER - 1)` and removing the `HttpHeaders.CONTENT_ENCODING` from context to prevent the real `GZIPDecodingInterceptor` from kicking in.

[2020-10-26 11:43] tlvlp commented on #9613
Following the logic that solved the EventBus problem with offloading blocking calls to a worker thread I looked for something similar in the SmallRye messaging API and found [this doc on the @Blocking annotation](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2/advanced/blocking.html) that might solve your problem without using the EventBus-workaround.

[2020-10-26 11:52] medvedev opened #12946 "Allow override of "level" key's name in json log"
**Description**
Problem: For Google Cloud Logging, every json entry is stored with "default" logging level no matter what level is used by an application. Reason is: the whole body of json entry is stored in Google Cloud Logging as a 2nd-level entry under "jsonPayload" key. This makes logs filtering a bit harder and makes harder or impossible to use GCP [Error reporting](https://cloud.google.com/e

[2020-10-26 11:58] shumonsharif commented on #12757
@AmsterdamFilho All the services in the reproducer are passing fine for me (both javase and quarkus), see images.  I'm suspecting this may be due to consuming the third party web services across the internet, possibly;  perhaps the network traffic is getting routed differently based on where the web services are invoked from?  Given we have no control over the third party web services, may be wort

[2020-10-26 12:03] tlvlp commented on #12925
Not sure how the internals look, but it seems to me that @ConsumeEvent uses a reactive call where the framework should probably subscribe to the failure messages of the call as there is no way to do so for the consumers of the annotation, resulting in swallowed exceptions that cannot even be debugged.

[2020-10-26 12:05] phillip-kruger commented on #12942
Hi @CarlosPanarello - thanks for raising the issue. I am not completely following what you mean. Can you provide more detail.

[2020-10-26 12:18] Adelrisk commented on #9613
That was one of the solutions I iterated over that I never got to work. I can't remember what the exception/reason was, but it didn't work for the described combination of technologies. But thanks anyway :smiley:

[2020-10-26 12:25] shumonsharif commented on #12757
@AmsterdamFilho So I connected to a VPN server in Brazil, but was still unable to recreate the failures.  At this point, my best guess is that there may be a race condition as you mentioned in https://github.com/shumonsharif/quarkus-cxf/issues/8#issuecomment-710820398 ; and curious if anyone else may be facing a similar issue.

[2020-10-26 12:33] #12877 closed

[2020-10-26 13:21] ebullient commented on #11923
Ok. We have one request to add statsd support (which hasn't been added yet).

It should be noted that some registry types _will_ have restrictions relating to native mode. Core micrometer works well, as do the Prometheus and JMX registries. Stackdriver support has a native mode restriction, and it appears statsd will as well.

[2020-10-26 13:28] patriot1burke commented on #12927
This is supposed to work.  Quarkus is probably adding the abstract class as a resource by mistake.

[2020-10-26 13:32] rafaelbarioni opened #12948 "Unable to discover any JSON Deserializer implementations on the classpath"
Hello everyone.

I´m converting my lambdas here to use quarkus in native mode and I´m having issues to decode my JWT token.

I have this code in a separated maven dependency, which deals with JWT:
[code]
and it has these dependencies:

[code]

When I try to call this method in my lambda, I get this exception:

at io.jsonwebtoken.impl.io.RuntimeClasspathDeserializerLocator.locate(RuntimeClasspathDe

[2020-10-26 13:50] andersonbfn commented on #12948
I'm having the same throuble on quarkus native running on k8s pods using the same dependencies from `io.jsonwebtoken`. Thank's in advance for any feedback.

[2020-10-26 14:04] gsmet commented on #12935
/cc @mkouba

[2020-10-26 14:11] DanHeidinga commented on #12417
I haven't been able to reproduce this.  Can you confirm whether the sample project you uploaded reproduced the issue for you?  I'm not seeing where or how it depends on BouncyCastle which may explain why I can't reproduce the issue

[2020-10-26 14:12] mkouba commented on #12935
We would need to define what "ready" means?

[2020-10-26 14:19] speedfl commented on #12935
You are right.
Like for Angular. We should define life cycle.
We could imagine:

- when All Applications coped Beans are Instantiated
- when application can receive traffic

I am thinking about other ideas 🤔

[2020-10-26 14:23] sdaschner commented on #12497
Sorry for responding late.

Actually, this was just the reproducer which resulted in the same condition like in the container. In my tests, it also didn't work inside a Docker container. Could you please re-open? From my PoV it's still open.

[2020-10-26 14:25] ia3andy opened #12956 "Add codestarts option to tooling"
**Description**

- add codestarts option to CLI and Maven plugin: `--codestarts `, to plug to `CreateProject#codestarts: ` https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateProject.java#L117

[2020-10-26 14:26] ia3andy opened #12957 "Add a way to select a specific example codestarts but still add extensions"
**Description**
This may require a bit of work in the api..

[2020-10-26 14:29] famod commented on #12935
+ all `@Startup` beans are done?

[2020-10-26 14:57] ismailsalloo commented on #12844
@kristijan-rusu and @radcortez, it's great that we would be able to use maps in our configurations from version 1.9.1 onwards. Any idea when the release date of that version will be?

Also with regards to Multi Nested Lists, I assume it's something that would need to be catered for on SmallRye Config. The documentation does not explicitly state that. Any idea if this is the case as of now? If not,

[2020-10-26 15:01] rober710 commented on #9737
Hi @mkouba, if I return a Uni<Response>, the whole response is serialized, instead of just its body. Is there a way to customize the http response code using this approach?

You can find more details on what I want to do in this question: https://stackoverflow.com/questions/64509316/returning-uniresponse-from-reactive-endpoint-causes-response-to-be-serialized

[2020-10-26 15:33] patriot1burke commented on #12927
Can you post a simplified example of what triggers the problem?  I want to make sure I'm testing all the scenarios.

[2020-10-26 15:37] famod commented on #12927
Even simpler than what I described under "To Reproduce"? No, sorry, not at the moment.
Or do you mean something closer to what we are using in our internal project (that is: openapi generated classes)?

[2020-10-26 15:39] ismailsalloo commented on #12844
@kristijan-rusu, I tried using Maps and unfortunately it keeps failing. This is what I got:

application.yaml:
[code]

Config file:
[code]

I just keep getting the following error:
`Caused by: java.lang.IllegalArgumentException: Nested configuration class 'java.util.Map' must contain a no-args constructor `

Is it my configuration or is this not allowed in Quarkus/SmallRye Config

[2020-10-26 15:40] Serkan80 opened #12959 "Vertx-Web: Route with Failure Handling not working"
**Describe the bug**
I try to do failure handling with Reactive Routes, see code below:

`

    public class ExceptionHandler {

    static final Logger log = LoggerFactory.getLogger(ExceptionHandler.class);

    @Route(type = HandlerType.FAILURE, produces = "application/json")
    public void exceptions(ApplicationException e, HttpServerResponse res) {
        log.info("In exception handler...");

[2020-10-26 15:42] patriot1burke commented on #12927
Apologies!!!  I need to learn to read. :)

[2020-10-26 15:44] famod commented on #12927
No worries, it happens to all of us! 😁

[2020-10-26 15:49] patriot1burke commented on #12927
Pretty sure this is the issue:

" Note that inheritance of class or interface annotations is not supported."

Concrete classes must specify a @Path annotation at the class level.  (FYI, I was on JAX-RS 2.0 spec).

@Path("/foo")
public class Concrete extends MyAbstract {
}

Quarkus is spitting out the wrong error message, but this wouldn't be supported in Resteasy anyways.

[2020-10-26 15:51] radcortez commented on #12844
Yes, map support is provided by a SR feature detailed here:
https://smallrye.io/docs/smallrye-config/mapping/mapping.html

Which is a little bit different from Quarkus `@ConfigProperties`, so to have map support you need to use SR `@ConfigMapping` and convert the mapping class to an interface.

SR Config 1.9.1 is already available in Quarkus 1.9.0. Unfortunately, it has this reported bug: https://

[2020-10-26 15:51] patriot1burke commented on #12927
FYI, the reason for requiring @Path on the concrete class is for cases where multiple classes extended the same abstract class (or interface), IIRC.

[2020-10-26 15:55] andrejpetras commented on #9861
@Sanne @famod @akoufa
Hi guys, could you please check this branch:
https://github.com/andrejpetras/quarkus/tree/9861_hibernate_types/extensions/hibernate-types

I implemented the first version of this extension (not final), we could use it for a discussion:
* standard deployment and runtime modules
* one of these modules needs to be in the class-path
   * jackson module is JSON impl module for Hib

[2020-10-26 16:15] sberyozkin commented on #5751
See also #12959

[2020-10-26 16:21] #8202 closed

[2020-10-26 16:31] gavinking commented on #12886
@felipewind did my suggestion work for you?

[2020-10-26 16:52] majonga88 commented on #8396
@sberyozkin Hi, i do a long pause, i just checkout the latest update of Quarkus 1.9.0.Final on my project, i didn't add anything yet for permissions like quarkus.oidc.roles.source, but i have a weird thing about JWT validation.

When i'm trying to connect to my application via Auth0, but i can't and i have this error :

[code]
I inspect the code on `vertx-jwt-3.9.3` dependency, `JWT.class` inside

[2020-10-26 16:54] dufoli commented on #4005
good news, I have quarkus cxf extention which work with java 8. Huge todo remaining but it test is running !

[2020-10-26 17:10] DorianMaliszewski commented on #12904
Yes I'm using @Transactional on my test,
On my service I have @RequestScoped only and inside I have @PostConstruct.
Do you think I need to put @Transaction on my service too ? If yes, can it be a problem with lot of concurrent user connection ?

[2020-10-26 17:18] gsmet opened #12960 "ASM classes included in native image due to io.smallrye.config.ConfigMappingInterface.appendPropertyName"
We shouldn't generate classes post static init so the ASM classes should never be included in the native executable.

I reproduced this by building the `integration-tests/jpa-postgresql` IT but it should be reproducible with any app.

This is a regression between 1.8.3.Final and 1.9.0.Final.

/cc @radcortez

[2020-10-26 17:29] gsmet opened #12961 "Registering all Caffeine cache implementations comes with a 14 MB penalty"
As soon as we have the Caffeine extension around, we pay a 14 MB native executable penalty since we registered all cache implementations for reflection in https://github.com/quarkusio/quarkus/pull/12621 .

I think we need a way to get the cache implementations that will be used given a particular cache configuration.

I don't know how this could work exactly but we definitely cannot pay a 14 MB pe

[2020-10-26 17:30] radcortez commented on #12960
Ok, I'll have a look.

[2020-10-26 17:30] gsmet commented on #12961
This is a regression in 1.9.0.Final.

[2020-10-26 17:43] felipewind commented on #12886
Hello @gavinking ! Yes, it worked, thanks a lot for helping!

As you suggested, I went to https://quarkus.io/guides/logging and found there this log option:
[code]
I ran my application with this options and between tons of DEBUG messages from Hibernate, the SQL messages were there with the annotation `DEBUG [or.hi.SQL]`

[2020-10-26 17:56] radcortez commented on #12960
Ok, even if we are generating the class at build time in Quarkus, the call to check for the class in SR Config, was generating the bytes eagerly, even if the generated class was already present.

@gsmet In which Quarkus version do you want the fix? A possible 1.9.1 or wait for 1.10?

[2020-10-26 18:02] famod commented on #12927
Interesting! I can confirm that moving `@Path` from the abstract class to the concrete class fixes the problem.
Additionally, a method level `@Path` annotation in the abstract class is (still) picked up correctly.

But why is a "class level" `@Path` working if defined in an _interface_ instead of an abstract class?
I mean, it is good that it is working this way because that's what openapi generato

[2020-10-26 18:05] gavinking commented on #12886
OK great.

[2020-10-26 18:10] ge0ffrey commented on #12769
Maybe create a thread with a high priority that listen to the ctrl-c event? If that event happens, pas a poison pill to the child processes?
Does quarkus:dev have child processes? Or did I just see multiple because I ran it multiple times?

[2020-10-26 18:14] gsmet commented on #12960
I would appreciate if we could backport it to 1.9.1.Final (I plan to release it on Wednesday so I would need the fix by tomorrow evening).

Also, I would appreciate if you reduced the number of lambdas you introduce in runtime code.

Typically, here are the new classes that ended up in the 1.9.0.Final native executable:
[code]

[2020-10-26 18:29] radcortez commented on #12960
Ok. I'll do a cleanup. Sorry about that, is just automatic :)

[2020-10-26 18:34] sberyozkin commented on #7359
@aloubyansky has helped to confirm this issue has been resolved in the current snapshot

[2020-10-26 18:49] kristijan-rusu commented on #12844
@radcortez You are correct, I overrode SmallRye Config with version 1.9.2 and it works correctly as expected with SRC annotations. Maybe we can change the version in Quarkus for the next release? As the related issues are already fixed.

@ismailsalloo This is a working example if you override SmallRye Config version, i.e. just put the following snipper in your Maven pom.xml:

        <dependency>

[2020-10-26 18:54] sberyozkin commented on #7359
Sorry, I have a test on my branch

[2020-10-26 18:59] masini commented on #1658
I would also add that using an unsupported driver is a way to allow "Oracle
Support" to tell you "You configuration is not in matrix" in case of
problems.

Il giorno dom 25 ott 2020 alle ore 07:19 Max Rydahl Andersen <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/

[2020-10-26 19:04] patriot1burke commented on #12927
Nevermind, looks like Resteasy supports that case too.  Sorry, its been so long since I've had to deal with this (10years).  Patch incoming.

[2020-10-26 20:02] Sanne commented on #12961
I had made a suggestion in the previous issue: - https://github.com/quarkusio/quarkus/issues/10420#issuecomment-654483795

I still believe it's the better approach, and more inline with the Quarkus spirit: analyze the application and transparently pull in only the code paths which are going to be needed.

[2020-10-26 20:07] Serkan80 opened #12965 "Vertx-Web: RouteBase path + Route path combined not working well"
**Describe the bug**
I have the following code:

[code]

**Expected behavior**
When I call this endpoint as follows:

Example 1:
`
http :8080/books
`

or as:

Example 2:

`
http :8080/books/
`

In both cases it should work.

**Actual behavior**

Example 1, returns an error saying that the endpoint doesn't exist, because of a missing '/' at the end of the url, see below.
Example 2, works.

No resou

[2020-10-26 20:16] ben-manes commented on #12961
1. Can the cache configuration be changed via external configuration (e.g. add expiration)? If so, then the compilation might not have those configuration classes afterwards.
2. Is there a major benefit to not use `Caffeine.build` during the initialization phase (even if merely discarded). I wonder whether a pre-touch would be that much better compared to allocating the full instance.

[2020-10-26 20:19] dzou commented on #7166
Did you ever figure this issue out? I happened to stumble on the same issue.

[2020-10-26 20:31] dcdh commented on #12913
Thanks a lot.

[2020-10-26 21:16] Sanne commented on #12961
It's always hard to decide if we should give or not give the option to make such adjustements via configuration after the build, and there isn't a universal right answer.

My personal take is that we should allow people to embrace the restrictions of not being able to have certain configuration angles, especially when the benefits can be high.

It might also depend on the intended use of Caffeine:

[2020-10-26 21:20] ben-manes commented on #12961
Thanks @Sanne. What about (2) as a hint? I'm not sure if a new API is needed or just invoking the builder is good enough, e.g. exactly how they differ and why that difference is very beneficial.

[2020-10-26 22:56] #7359 closed

[2020-10-26 23:09] stuartwdouglas commented on #12769
If a thread is in an infinite loop there is no way to stop it, other than Thread.stop() which is hugely problematic, and in this case would stop a clean shutdown as Quarkus would be expecting that thread to run the shutdown tasks.

[2020-10-26 23:48] stuartwdouglas commented on #12904
The filter needs to be applied inside the same transaction that it is used.

[2020-10-27 00:46] felipewind opened #12968 "Problem with environment variables when using multiple datasources"
**Describe the bug**
I belive there's a problem with environment variables when using multiple datasources.
Looks like Quarkus isn't recognizing the environment variables that have datasource namespaces, like `quarkus.datasource."users".jdbc.url` .
Or perhaps I'm not passing the variables correctly.

**Expected behavior**
Quarkus should read the environment variables with the datasource namespace.

[2020-10-27 01:32] #12927 closed

[2020-10-27 01:36] stuartwdouglas commented on #12497
I could only reproduce problems with  pom.xml changes, that I think should be fixed at https://github.com/quarkusio/quarkus/pull/12969

I could not reproduce any problems with normal java files changes.

Can you test out the PR and let me know if it helps?

[2020-10-27 01:47] #6100 closed

[2020-10-27 02:27] stuartwdouglas commented on #12571
There probably is something I can do here. Do you know what exactly is broken by the automatic build?

[2020-10-27 03:11] stevefan1999-personal commented on #12417
@dandreadis sorry for the long delay. I'll try to run it in a separate VM where the environment is controlled.

Right now my computer PATH is mixed with OpenJ9, OpenJDK and GraalVM. I don't know this kind of Mexico standoff is the reason that my classpath is messed up. Maybe I need to build a docker image with Windows Server Core Docker backend but I don't think Quarkus support Dockerfile generati

[2020-10-27 03:15] dalgarins commented on #11725
https://github.com/quarkusio/quarkus/issues/11725#issuecomment-707775798 this solution works for me.

[2020-10-27 03:53] SumaiyaSafdar commented on #12522
@Gabitchov  thank you so much ..I'm glad you responded. Also, I'm new to this can you please assist me with what I have to do and everything .I'll be glad working with you.

[2020-10-27 03:54] SumaiyaSafdar commented on #12522
@ia3andy   Yes I'm ready for the challenge ..Can you please just help me with the basics .? I'll appreciate that..

[2020-10-27 05:28] aloubyansky commented on #12571
All I can say atm is it looked like the application.properties was not always present.

[2020-10-27 05:29] aloubyansky commented on #12571
I guess in the output directory. If we always looked at the source dir instead in dev mode then we probably would avoid this issue.

[2020-10-27 05:31] vsevel commented on #12515
would that require using the bootstrap phase? that is what is described in the documentation of this build item: https://github.com/quarkusio/quarkus/blob/cf539e605b91095925cde9e35b3075e263628960/core/deployment/src/main/java/io/quarkus/deployment/builditem/RunTimeConfigurationSourceValueBuildItem.java#L14

or does it mean opening up `RunTimeConfigurationSourceValueBuildItem` to other usages such

[2020-10-27 05:38] stuartwdouglas commented on #554
@emmanuelbernard I think this can be closed, as we have QuarkusUnitTest that meets this requirement.

[2020-10-27 05:43] stuartwdouglas commented on #1390
I think this can be closed, the new remote dev mode should support this.

[2020-10-27 05:43] #1390 closed

[2020-10-27 05:49] stuartwdouglas commented on #2706
I don't think this is really relevant any more, as the process is much simpler with the new design.

[2020-10-27 05:49] #2706 closed

[2020-10-27 05:50] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/330596889

[2020-10-27 06:07] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/330597854

[2020-10-27 06:09] aloubyansky commented on #12571
Then resource filtering wouldn't be applied. At least on the first build.

[2020-10-27 06:32] #12458 closed

[2020-10-27 06:58] paschm commented on #12943
Also in #1452 there was a [change](https://github.com/quarkusio/quarkus/pull/1452/files) to the now outdated class DevMojo to pick up the java executable from the maven toolchain

[2020-10-27 08:31] ge0ffrey commented on #12769
If ctrl-c is hit for quarkus:dev, can't you just call `System.exit(1)` inside the process? Maybe sleep 5 seconds to give it to opportunity to shutdown gracefully? In that case, it doesn't matter if a Thread is stick in an infinite loop.

Reproduce this issue to experience how it feels like a user: I had hit "ctrl-c" and I did get back my terminal prompt back, but I did know that the rogue Quarkus:

[2020-10-27 08:58] fxnn commented on #12006
@geoand

Thank you for the information. Can you please check that? I [can't find](https://github.com/quarkusio/quarkus/search?q=QuarkusRestViolationExceptionMapper) [anything](https://www.google.com/search?q=QuarkusRestViolationExceptionMapper) about that class.

Also, when just getting the 400 response, it's hard to find out how to change it, so it should be documented -- I guess in the [validati

[2020-10-27 09:01] DorianMaliszewski commented on #12904
I know but when I launch my application in dev mode or build it in a docker (native or jvm) When I test with a REST Client like Postman or Insmonia the Filter is applied successfully. When I use RestAssured in testing, the filter is not applied everytime.

It is applied on MyEntity.findById(id) but not on MyEntity.findAll(), and both don't have @Transactional.

[2020-10-27 09:19] r00ta commented on #12820
Hi @stuartwdouglas , thank you very much for checking this. Would you suggest any workaround in the meanwhile?

[2020-10-27 09:23] geoand commented on #12006
Check what exactly?

I'm not really following here, can you explain?

[2020-10-27 09:40] JiriOndrusek opened #12972 "Quarkus-native failure: Can't load standard profile: GRAY.pf"
**Describe the bug**
During implementation of camel-quarkus extension of camel-barcode, I've faced an issue linked to awt profile: `Can't load standard profile: GRAY.pf`

**Expected behavior**
No error is happening and profile is loaded.

**Actual behavior**
See reproducer. Stacktrace of the exception is:

	at java.awt.color.ICC_Profile$2.run(ICC_Profile.java:942)
	at java.awt.color.ICC_Profile$2.

[2020-10-27 09:58] ppalaga opened #12974 "Support @TestProfile in native mode"
The [javadoc of `NativeTestExtension.ensureNoTestProfile()`](https://github.com/quarkusio/quarkus/blob/5f5fe32587ea15f04fd05891c9286d80f0753c19/test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java#L115-L122) says

However, we'd need this in Camel Quarkus and Camel K.

Because most of our config properties are runtime (rather than build time), we are not afraid of the

[2020-10-27 10:01] paschm commented on #12943
@aloubyansky  Thank you for the pull request. Does this also fix the ignored toolchain during the package phase resp. in QuarkusAugmentor?

[2020-10-27 10:08] #12858 closed

[2020-10-27 10:10] aloubyansky commented on #12943
Unfortunately, no. The PR only fixes the DevMojo, which is a regression. Fixing the packaging looks like a bigger challenge.

[2020-10-27 10:36] #12939 closed

[2020-10-27 10:39] radcortez commented on #12515
Yes, you need to use the bootstrap phase.

[2020-10-27 10:40] aloubyansky commented on #11725
Is there an open issue the mentioned workaround is avoiding? If not, somebody please open one with a reproducer, if you want it to be fixed sooner. Thanks!

[2020-10-27 10:41] radcortez commented on #12844
@kristijan-rusu thanks for the help :)

[2020-10-27 10:48] Karm commented on #12535
@gsmet  Is this supposed to be backported to 1.9 or 1.7?   1.9.0.Final is still affected.

[2020-10-27 10:51] carlosthe19916 commented on #4817
Trying to reproduce the Keycloak's example "app-authz-uma-photoz" using Quarkus I realized that the creation of "Resources owned by a user" is not supported yet. I'd like to apply UMA to have control of resources in this kind of context:

- There are several Bank accounts
- Every account is owned only by a specific user
- A bank account owner can share his own resources with other users.

This is

[2020-10-27 10:52] zakkak commented on #12535
@Karm I don't see why this should be backported to 1.7 or 1.9.
1.7 is supposed to work with mandrel/graal 20.1 and 1.9 with mandrel/graal 20.2 while this issue affects the upcoming mandrel/graal 20.3.

[2020-10-27 10:55] Karm commented on #12535
@zakkak Well, It feels like you rephrased my question, didn't you?  If Quarkus 1.9 is supposed to work with the upcoming Graal, it is pertinent to do the backport....

[2020-10-27 10:58] zakkak commented on #12535
The way I understand Quarkus release cycles, this should become available in 1.10 and 1.9 shouldn't bump to mandrel/graal 20.3. Let's see what the Quarkus team has to say though :)

[2020-10-27 11:20] gsmet commented on #12941
@coiouhkc could you check if https://github.com/quarkusio/quarkus/pull/12975 fixes your issue?

https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master might help except you need to build my branch instead of master.

[2020-10-27 11:28] Sanne opened #12976 "Hibernate ORM's JTAPlatform implementation is leaking a reference to its registry"
**Describe the bug**
The `QuarkusJtaPlatform` implementation is extending a base class from upstream ORM which maks it a bad choice for also being used as a static singleton.
In particular this leads the classloader to hold on to a reference of the ORM `ServiceRegistry`, in turn leaking a significant amount of memory.

We can easily fix it to be a real stateless JtaPlatform, as we don't need the r

[2020-10-27 11:28] stuartwdouglas commented on #12769
System.exit(1) won't exit if there is a non-daemon thread stuck in an infinite loop. Your only options are Thread.stop() which is deprecated for very good reason, and kill -9.

We could use a shutdown hook in Maven to wait X seconds then kill the process I guess. It's only dev mode, so that might be ok.

[2020-10-27 12:22] geoand commented on #12915
Fixed by https://github.com/quarkusio/quarkus/pull/12932

[2020-10-27 12:22] #12915 closed

[2020-10-27 13:57] #12882 closed

[2020-10-27 14:24] iocanel commented on #12894
@rsvoboda: I managed to test #12894 against crc + knative and it works fine.

[2020-10-27 14:25] rsvoboda commented on #12894
I'm looking at it now :) Finally got working cluster.

[2020-10-27 14:28] iocanel commented on #12826
It's not trivial to implement this feature and it needs to be addressed way up in the dependency chain, so I don't see it happening any time soon.

[2020-10-27 14:35] iocanel commented on #12826
*Problem 4*: Each resource in the document is serialized one by one. So the numbers reported by Jackson will always refer to the relative line of the current resource.

The only way we could possibly deal with it is to catch Jackson exceptions and manually calucalate the line numbers.
I would create a separate issue just for this one and then close this issue.
cc @hyperman1

[2020-10-27 14:43] andreas-eberle commented on #9275
What is needed to get this done? Can we help in some way?

IMHO, this is a really important fix. We have dynamic schemas and need to be able to specify them to hibernate on service startup. Is there any workaround for this at the moment?

[2020-10-27 14:44] andreas-eberle commented on #9275
@nelsongraca: Do you have a link to your branch or a PR?

[2020-10-27 14:48] sberyozkin commented on #2611
@loicmathieu Sorry, my question is more about OWASP plugin and its about matching strategy

[2020-10-27 14:50] gsmet commented on #12918
I will have a look to be sure we understand the issue.

[2020-10-27 14:55] dhoffer opened #12980 "Quarkus JPA does not seem to apply EntityGraph hints"
Our entities use JPA @NamedEntityGraph to provide JPA hints on what should be included in the queries.  Quarkus appears to be ignoring these hints so the query does not contain all the expected data.  This causes LazyInitializationException to be thrown during object serialization because the data was not included in the fetch.

Here is an example of the entities.

[code]

Here is an example of th

[2020-10-27 15:01] hyperman1 commented on #12826
@iocanel  re problem 4 there is an other solution:  Add  blank/comment dummy lines on top until the line numbers match.

[2020-10-27 15:05] hyperman1 opened #12981 "Kubernetes - line numbers are wrong in error messages for generated kubernetes.yml with multiple resources"
Pulling problem 4 out of Re: [quarkusio/quarkus] Kubernetes - multiple problems in generated kubernetes.yml after merging  (#12826):

I want to add a securityContext to the Deployment and leave all else unchanged. but I run into some snags with the generated kubernetes.yml.

Steps to reproduce -

Generate a new application, quarkus 1.8.3-FINAL, extension: Kubernetes (and Jib which is not relevant)

[2020-10-27 15:07] hyperman1 commented on #12826
re closing this issue.: What about problem 3 and especially the missing version

[2020-10-27 15:15] felipewind commented on #12968
@viniciusfcf solved my problem.

I shouldn't have put quotation marks in the datasource name inside my `application.properties`

I've changed from:
[code]

To this:
[code]

And everything worked perfectly.

Thanks @viniciusfcf

[2020-10-27 15:35] fxnn commented on #12006
The name of the class you mentioned. As my links show, there's no such class in the Quarkus source code. But meanwhile, I think you meant `io.quarkus.hibernate.validator.runtime.jaxrs.ResteasyViolationExceptionMapper`, right?

Sorry. As a developer using Quarkus, when I see that my application returns just the `400 Bad Request` created by the `ResteasyViolationExceptionMapper`, but I want my appli

[2020-10-27 15:43] radcortez commented on #12831
@DariusMR @acastele Since you were able to have this working, I'll be closing down this issue. If you feel that something if not addressed, please feel free to reopen. Thanks!

[2020-10-27 15:43] #12831 closed

[2020-10-27 16:16] loicmathieu commented on #2611
@sberyozkin the OWASP plugin based it's matching startegy on CPE (Common Platform Enumeration).

Here is the evidence it founds on `quarkus-resteasy` that leads to the cpe:redhat:resteasy:1.8.3, as soon as Quarkus CPE will be declared on the NVD Database it will leads to a Quarkus CPE instead of a resteasy ones so eliminates all false positive.

<table class="lined fullwidth" border="0"><tbody><tr

[2020-10-27 16:54] FroMage commented on #12516
Thanks for those examples. Looking at the https://github.com/hantsy/jakartaee-mvc-sample/blob/master/docs/guide.md sample Java code for the controller I'm pretty sure that our current solution for type-safe templates with Qute is much better, because it's type-safe and we don't need these weird return types and injections.

So it doesn't really give me any compelling reason to want EE MVC.

Or am

[2020-10-27 17:07] coiouhkc commented on #12941
@gsmet thanks for quick reply!
Unfortunately it does not fix the problem.
I made sure, that the Quarkus version was correct (999-SNAPSHOT) and the breakpoint in the `RestClientRecorder` got hit setting the property correctly, but `GZIPDecodingInterceptor` still has the same behaviour falling back to 10M.

[2020-10-27 17:22] sberyozkin commented on #10412
Hi @cemnura Thanks, to make it simpler, lets keep it within the same module you introduced, a different `QuarkusTestResourceLifecycleManager` should be enough :-), sorry if it is what you meant
thanks

[2020-10-27 17:26] gsmet commented on #12941
@coiouhkc any chance you could prepare a small Maven reproducer? That would help me understand what's going on.

[2020-10-27 17:30] famod commented on #12769
And so should the Gradle plugin and any IDE integration (that is not based on Maven)?

Btw, just killing the process right away (without a grace period) on CTRL+C doesn't seem like a good idea since that would prevent shutdown hooks from running (e.g. see #12577).

[2020-10-27 17:57] missourian55 opened #12984 "OIDC Extension - JWKS not refreshed"
**Describe the bug**
JWK keys are not refreshed
quarkus.oidc.token.forced-jwk-refresh-interval=10M

**Expected behavior**
JWK keys should be refreshed at the configured intervals by communicating with JWKS endpoint

**Actual behavior**
JWK keys are nor refreshed with this configuration
`quarkus.oidc.token.forced-jwk-refresh-interval=10M`

**To Reproduce**

1. Follow this guide for securing web-app

[2020-10-27 18:35] wiradikusuma opened #12985 "[error]: Build step io.quarkus.deployment.steps.ReflectiveHierarchyStep#build threw an exception: java.lang.NullPointerException"
I think the exception in Quarkus can be improved. I added a bunch of classes (migrating an existing app) immediately after generating boilerplate, and here's what I get when I `./mvnw clean compile quarkus:dev`:

        Listening for transport dt_socket at address: 5005
        2020-10-28 01:27:38,218 INFO  [org.jbo.threads] (main) JBoss Threads version 3.1.1.Final
        2020-10-28 01:27:39,097

[2020-10-27 19:09] #12960 closed

[2020-10-27 19:09] #2292 closed

[2020-10-27 19:14] cemnura commented on #10412
I saw this comment to late unfortunately. But no worries I will merge it to the previous integration test module upon your approval.

[2020-10-27 19:31] mkouba commented on #12959
Closing - failure handlers can only inject exception parameters in 1.9.0+.

[2020-10-27 19:31] #12959 closed

[2020-10-27 19:40] coiouhkc commented on #12941
@gsmet please check out https://github.com/coiouhkc/quarkus-io-12941 (based on the standard rest-client guide) and let me know if it's OK.
The repository contains two tests in SomeApiClientTest (backed by Wiremock), each of them should fail (as of my understanding) if respective property value is used (see test comments).

[2020-10-27 19:50] mkouba commented on #12985
@wiradikusuma what version of quarkus do you use? I can't see how this could happen in the current version.

[2020-10-27 19:58] mkouba commented on #9737
@rober710 Well, you can probably transform the `Uni<Response>` to a `Uni` that only holds the body, i.e. with `Uni.map()`. @cescoffier WDYT?

[2020-10-27 20:22] #12886 closed

[2020-10-27 20:32] Sanne commented on #9275
A related PR was just merged: #12949 .

This should pave the road, making it a bit easier to do something like this one. Still, the hard aspect of this one is that the schema name affects the metadata (the internal model within Hibernate ORM), which needs to be created at build time.

So:

- #12949 makes it much easier to add a new runtime setting
- but this one will need some ORM patches as well

[2020-10-27 20:33] glefloch commented on #12905
This is maybe a duplicate of #12918

[2020-10-27 20:50] nelsongraca commented on #9275
Sadly due to personal reasons I have not been able to do much on this, my first branch had to be discarded, it  removed the schema from needed places. The tests I wrote are also incomplete need to get some time to push what's useable to a branch, beware the schema spreads a lot around Hibernate (I used intellij memory viewer tonfind all the references, it was the best way I found to easily track e

[2020-10-27 20:54] pedroigor opened #12990 "Blocking routes added by build steps may execute in a different worker thread even though the request is already running in a worker thread"
**Describe the bug**
Using `quarkus-health` as an example, a route is added here https://github.com/quarkusio/quarkus/blob/7199fc41bf328086483f14c67c6c9243d3dd51e0/extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java#L183.

If some application defines a filter that dispatches the request to a worker thread the route created by `quar

[2020-10-27 20:57] sberyozkin commented on #12984
@missourian55 This property should be documented better, what it does is it prevents the DOS attack where an attacker manipulates `kid`s causing a no match in the local JWK store. This is easy to do since even though the headers are also protected from the modification for it to be verified locally one has to pick up a local JWK key first.
The JWK refresh will only happen when a client token is co

[2020-10-27 20:59] sberyozkin commented on #12984
@missourian55 Note as noted by Keycloak and other OIDC experts, the JWKs are changed in the production irregularly and also quite rarely, cc @stianst @pedroigor

[2020-10-27 21:01] pedroigor commented on #12990
To give some more context here, in Keycloak we have a top-level filter that intercepts every single request.

One of the things that this filter does is to dispatch requests to worker threads using `RoutingContext.vertx().executeBlocking`.

When we add `quarkus-health` extension, the `SmallRyeHealthHandlerBase` is executed in a different worker thread initiating at `io.vertx.ext.web.impl.BlockingH

[2020-10-27 21:24] gsmet commented on #12918
Ok so this is due to the old datasource configuration being removed.

Before 1.9, you had a default reactive datasource created even if you hadn't specified any configuration properties. You now need to configure things to get a reactive datasource.

[2020-10-27 21:24] #12918 closed

[2020-10-27 21:29] gsmet commented on #12905
It's due to the old datasource configuration going away. See our migration guide here: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.9#datasource-configuration .

You should change your configuration to:
[code]

[2020-10-27 21:30] #12905 closed

[2020-10-27 21:31] #12976 closed

[2020-10-27 21:31] gsmet commented on #12976
I don't feel comfortable backporting this. Better keep this for 1.10 with potential other improvements.

[2020-10-27 22:07] missourian55 commented on #12984
@sberyozkin thank you for the insights and the on demand trigger of JWKS refresh on kid mismatch makes sense to me. Our enterprise use an IDP which supports token introspection and general recommendation is to refresh the JWKS every 24 hours asynchronously (paranoid and it changes may be twice a year). I use keycloak to learn Quarkus OIDC security.

Both jose4j and nimbus (used by spring security)

[2020-10-27 22:23] missourian55 commented on #12984
So, say if a malicious user downloaded a sample *access_token*(get a token from here https://auth0.com/docs/tokens/access-tokens/use-access-tokens) and post a request to my quarkus service. I unnecessarily see two requests going to idp on the **first attempt**
[code]
**subsequent attempts** making a introspection calls
[code]
Seems not right to me. Any way to fail early like - unable to validate t

[2020-10-27 22:28] pedroigor commented on #12984
@sberyozkin Looks like we should fail fast the incoming request as suggested by @missourian55.

[2020-10-27 23:05] famod commented on #12980
/cc @Sanne

[2020-10-27 23:08] famod commented on #12974
/cc @geoand

[2020-10-28 03:06] rober710 commented on #9737
@mkouba Yes, but that would be equivalent to return a Uni of the body's class, and I wouldn't be able to change the response's status code. Maybe I'm missing something with the .map() approach?

For example, if I'm creating a user, It makes sense to return a `Uni<User>`, but how do I set the HTTP response code to 201? With the current approach, returning a `Uni<User>` always yields an HTTP 200 res

[2020-10-28 05:37] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/332899748

[2020-10-28 05:53] ismailsalloo commented on #12844
Thank you @kristijan-rusu and @radcortez for the assistance. I managed to get my application working using Maps

[2020-10-28 06:36] cescoffier commented on #9737
I don't believe we support returning a `Uni<Response>` at the moment. However, you can do something like (not totally sure of the API:

[code]

[2020-10-28 06:59] geoand commented on #12974
Just to be clear, you need to rebuild in order to have the ability to redefine build time properties?

[2020-10-28 07:22] rober710 commented on #9737
@cescoffier Thanks! That looks like working with promises in JS. I'll do it that way.

However, it would be a lot cleaner if we could return a `Uni<Response>`, let the framework deal with serializing the response's body to json, and set the response's http status and headers according to what's set in the Response object. Do you think it's worth implementing this for reactive routes?

If you point

[2020-10-28 07:23] iocanel commented on #12826
Love it! Will try it ASAP!

[2020-10-28 08:27] lburgazzoli commented on #12974
As far as I know, it is not possible to override a build time only property at runtime so if any of the  overridden config values provided by QuarkusTestProfile is a build time only property, I think yes a rebuild is required

[2020-10-28 08:27] ineednousername opened #12997 "Quarkus 1.9 native image generation Fatal error:org.graalvm.compiler.debug.GraalError: java.lang.OutOfMemoryError: GC overhead limit exceeded"
Not sure if this a bug or not but I noticed the following when upgrading from quarkus 1.8.x to 1.9.0
**Describe the bug**
After upgrading to quarkus 1.9 my ci pipeline suddenly failed with the following error:

[code]

the odd thing is that I did not have this issue before.

My quarkus maven plugin is configured like this

[code]

**To Reproduce**

I will try to add a reproducer later.

[2020-10-28 08:30] geoand commented on #12974
Yes that is correct. I am just making sure that you guys need to override build time properties.

I am +0 for this, but as it will make Camel's life easier, I don't have any objections.

@stuartwdouglas @gsmet WDYT?

[2020-10-28 08:39] kny78 commented on #11549
I have tried Quarkus 1.9.0, and it also includes Jackson 2.11.3, but still get the same error.
https://github.com/kny78/quarkus-kotlin14-jackson-fail/

@geoand Did you have any time to look into this?

[2020-10-28 08:40] lburgazzoli commented on #12974
Most of the time I think we don't need to override build time properties however it may happen.
I'm fine of making that explicit if needed (i.e. by adding an additional option that says that the native image need to be rebuilt)

[2020-10-28 08:40] geoand commented on #11549
Unfortunately no. My time is on very short supply lately...

[2020-10-28 08:50] paschm opened #12998 "Wrong variable expansion for custom configuration sources with high ordinal"
**Describe the bug**
Providing a `ConfigSourceProvider` you can use custom configuration sources, see i. e. [guide](https://quarkus.io/guides/config#custom-configuration-sources) and the MP Config Spec. Using variable expressions within these sources and a "high" ordinal >= 5100, the variables won't be correctly expanded. I. e. `${foo.bar}` will be expanded to the string `"${foo.bar}"`. Apparently

[2020-10-28 08:52] machi1990 commented on #12997
@ineednousername thanks for reporting the issue. What happens if you increase the heap size to say 6GB?

[2020-10-28 09:11] ineednousername commented on #12997
@machi1990 I already tried this and increased to 5GB this works in a stable manner again. But I wonder why it worked stable with quarkus 1.8.x and before with 4GB.

[2020-10-28 09:16] machi1990 commented on #12997
Thanks for confirming.

The native image generation phase is known to consume a lot of memory. In my setups (depending on the size of the project) I usually allocate it more than 4GB just to avoid any kind of memory limit errors. It will be interesting to understand what changed though (in your application or on Quarkus side) and for that a reproducer might be a good start.

[2020-10-28 09:46] gsmet commented on #12968
If it's not working with quotes, we have an issue, it should work.

[2020-10-28 09:50] gsmet commented on #12968
@radcortez does it ring a bell?

I wouldn't expect quoted or unquoted configuration properties to work differently. As far as I can see, the OP was using quoted properties in the config file and tried to override them with an unquoted version.

[2020-10-28 09:51] gsmet commented on #12980
@dhoffer could you prepare a minimal reproducer in the form of a Maven project?

[2020-10-28 10:10] FroMage commented on #11295
I can't think of any way to detect and prevent this, precisely because it's alright to access a transaction from multiple threads, as long as it's not "at the same time", so with proper user synchronisation.
So, if you start an endpoint as transactional you have the TX in your thread, from which you can totally spawn another thread which captures it and as long as the operations are not done in pa

[2020-10-28 10:39] sberyozkin commented on #12984
Hi @missourian55 @pedroigor it has been discussed in depth (and I really mean it was discussed in depth :-) ), privately and publicly with with @pmlopes.
So yes, during the very first request when no matching `kid` is available, there will be 2 requests going out to Keycloak. It is totally asynchronous, so while the JWKs are beng refreshed, no blocking is done and hence the introspection fallback

[2020-10-28 10:47] Sanne commented on #11295
ok, thanks @FroMage -  I appreciate the thoughts.
To clarify, I don't think it's problematic for an Hibernate Session to be "passed on" to a different thread, but there is a problem with exclusivity, or lack of safe state handoff. In particular the bug reported here is only possible if there's parallel operations happening, or if the full memory state hasn't been fully published to the new thread.

[2020-10-28 10:48] radcortez commented on #12844
Great! Closing this and following up the original request in https://github.com/smallrye/smallrye-config/issues/436.

[2020-10-28 10:48] #12844 closed

[2020-10-28 10:50] radcortez commented on #12968
Hum... can't remember anything related, but I'm going to investigate.

[2020-10-28 10:57] cescoffier commented on #9737
Yes, it would be a nice addition.

Note that... this part is generated in bytecode. So be warned, it can be a spicy experience:
https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/deployment/src/main/java/io/quarkus/vertx/web/deployment/VertxWebProcessor.java#L716-L723

[2020-10-28 10:59] ineednousername commented on #12997
@machi1990 I could not reproduce the issue locally, but I noticed on the CI system that the graalvm was still 20.1.0 after upgrading to 20.2.0 on the CI system (same version that is also locally is used) this issue is gone and it works again with 4GB as before.

[2020-10-28 10:59] #12997 closed

[2020-10-28 11:11] ia3andy commented on #12522
@SumaiyaSafdar I am preparing an example to have other kind of codestart project, it should be ready soon..

[2020-10-28 11:30] xumk opened #13000 "Produces method is not call for each create request scope bean"
**Describe the bug**
I am want to tweak created bean with help Depended bean.

My class for its:
[code]

**Expected behavior**
Methode `tracer` called for all request to my service.
**Actual behavior**
Methode `tracer` called only one for first request.
But I added `@RequestScoped` to my resource class, its is good work.

**To Reproduce**
simple project
[my-artifactId.tar.gz](https://github.com/qu

[2020-10-28 11:31] machi1990 commented on #12997
Thanks for checking @ineednousername

[2020-10-28 12:07] CarlosPanarello commented on #12942
Hi @ phillip-kruger.

I have three types of environments besides local, Development, Staging, Production.
In Development and Staging, having Swagger-ui will be good for checking some endpoints, but it is not in Production.
To make this possible, I have to make one version to show swagger-ui and make another to disable it.
If this can be done at runtime it will be better, because I will not have to

[2020-10-28 12:28] gytis commented on #12456
@geoand after fixing https://github.com/quarkusio/quarkus/issues/12458 the warning should not be needed any more. I think we can close this issue.

[2020-10-28 12:34] radcortez commented on #12968
Regarding the quotes, we treat the config property name as is, without any further modification.

What I found a little bit confusing in the repro steps is @felipewind using an unquoted system property configuration to override a quoted one. @felipewind Can you confirm that you are able to override a quoted name with an unquoted one with system properties? Or the other way around?

[2020-10-28 12:37] phillip-kruger commented on #12942
Hi @CarlosPanarello - By default swagger ui is not available in Production. You have to explicitly enable it in production with:

`quarkus.swagger-ui.always-include=true.`

So seems like the default behaviour is already what you want ? Or am I missing something ?

You can also disable Swagger UI with a property:

`quarkus.swagger-ui.enable=false`

Please provide more details if I am misunderstandi

[2020-10-28 12:39] geoand commented on #12456
Good idea

[2020-10-28 12:39] #12456 closed

[2020-10-28 12:42] machi1990 commented on #12942
I think the nature of these properties makes them not possible to override them during runtime (at least that what I think the issue is about).

E.g being able to deploy in a staging environment with swagger enabled and disable it on prod environment all using the same build artefact without having to produce another one.

[2020-10-28 12:54] pedroigor commented on #12984
I agree with you on the JWKs bits.

My only point is in regards to the real need to make those two requests if signature verification failed. It might open an attack surface that allows people to DoD not only the application but also the IdP ?

[2020-10-28 13:06] felipewind commented on #12968
@radcortez I was able to override a quoted property passing an unquoted -D argument to the `java -jar` execution. But when exporting the same unquoted property (with `export var = ...` ) and then executing the jar, it didn't work.

Just to update, I've changed my test repository (felipewind/poc-quarkus-multiple-datasources) removing the quotes from the properties.

If I wasn't clear enough, please

[2020-10-28 13:11] #11378 closed

[2020-10-28 13:13] phillip-kruger commented on #12942
Ok, I think I get it. So if we make `quarkus.swagger-ui.enable` available at runtime, that should do it, right ?

[2020-10-28 13:25] sberyozkin commented on #12984
Hi @pedroigor the 2nd (introspection) request will only happen once every few months (or whenever the keys are rotated) for the JWT tokens when no matching JWK is available locally. The local key unavailability does not mean the token signature is invalid.

And it is not happening if the signature verification with the local matching JWK fails.
And this is where the mentioned property plays its pa

[2020-10-28 13:28] sberyozkin commented on #12984
In general, when dealing with the opaque tokens, and we have users who have such tokens, the introspection call will always go ahead - and again here the token can be randomized - but this an orthogonal issue - we'd need to keep a cont of request per client_id etc, something worth to consider in the futiure

[2020-10-28 13:35] maxandersen commented on #5931
related https://github.com/smallrye/smallrye-parent/issues/174

[2020-10-28 14:20] dhoffer commented on #12980
@gsmet Unfortunately I don't know how to do that, my project is huge and assumes the DB exists/etc.

[2020-10-28 14:33] MarcusBiel opened #13003 "ClassCastException: class org.jboss.resteasy.resteasy_jaxrs"
Updated to Quarkus 1.9.0-Final.

        <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-resteasy-jackson</artifactId>
        </dependency>
       <dependency>
            <groupId>io.quarkus</groupId>
            <artifactId>quarkus-resteasy</artifactId>
        </dependency>
        <dependency>
            <groupId>org.jboss.resteasy</groupId>

[2020-10-28 14:45] missourian55 commented on #12984
@sberyozkin @pedroigor
I appreciate you guys for looking into this, but below statement is not correct and that is not what I am observing in 1.9.0.Final OIDC extension

`"2nd (introspection) request will only happen once every few months (or whenever the keys are rotated)"`

As of right now that introspection call to IDP is happening on **every request with a bad access token (a token with no mat

[2020-10-28 15:06] sberyozkin commented on #12984
@missourian55 Please read carefully my earlier responses. When JWT with no matching kid comes in or when an opaque/binary token comes in, then the only way to verify this token is via the introspection response.

In case of JWT, once the JWK refresh request has completed, there will be no follow up introspection requests as long as the local JWK is available

[2020-10-28 15:16] famod commented on #12980
@dhoffer There is a simple hibernate-orm quickstart that could be extended rather easily: https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-quickstart
This Quickstart already comes with the necessary infrastructure (e.g. containerized PostgreSQL database).

[2020-10-28 15:26] megha070 commented on #12887
I would like to take this up.

[2020-10-28 15:49] oleksiylukin commented on #8035
It is still the problem with Quarkus up to version 1.9.0-Final.
Please see my reproducer application at https://github.com/alukin/polyglot-test-quarkus

It works when running it from the "runner" jar but does not work in development mode making it impossible to debug.
Please, re-open this bug or any other related

[2020-10-28 15:57] dufoli commented on #4005
@gsmet can it be elligible for quarkiverse ?

[2020-10-28 16:02] oleksiylukin commented on #9634
There is a simple reproducer application: https://github.com/alukin/polyglot-test-quarkus

[2020-10-28 16:10] gastaldi commented on #12887
@megha070 that would be great! I assigned the issue to you. Feel free to ask anything here or in quarkusio.zulipchat.com

[2020-10-28 16:50] shumonsharif commented on #4005
@gastaldi @dufoli I'm totally open to moving to any repository that makes sense for easier and wider adoption of the library.  Quarkiverse sounds like an excellent option, please let me know what it would entail to get us on there and I can take the necessary steps.

[2020-10-28 16:52] gastaldi commented on #4005
I'll get the repository ready for you to push your stuff and give you the necessary permissions. The package and groupId should be renamed to start with `io.quarkiverse.cxf` though

[2020-10-28 17:01] gastaldi commented on #4005
Repository created in https://github.com/quarkiverse/quarkiverse-cxf and invitation sent. Instructions are in https://github.com/quarkiverse/quarkiverse/wiki. Ping us if you have any questions.

Welcome aboard!

[2020-10-28 17:02] rsearls opened #13006 "Memory leak QuarkusClassLoader"
The RESTEasy team was requested to run their integrations tests regularly
using Quarkus to help identify issues.  This testing has uncovered
a memory leak in Quarkus versions 1.9.0.Final.  A heapDump and analysis reports the following.

  331 instances of "io.quarkus.bootstram.classloading.QuarkusClassLoader" loaded
  by "sun.misc.Launcher$AppClassLoader @ 0x5d321e1e8" occupy 5,254,700,944 (83.85%

[2020-10-28 17:42] wiradikusuma commented on #12985
I found the problem (but not the solution): Quarkus doesn't seem to support Scala case class, at least in REST endpoints.

**How to reproduce:**

1. Using https://code.quarkus.io, create a new RESTEasy Scala project. Extensions I selected:

![chrome_69L7fr2Q4S](https://user-images.githubusercontent.com/481995/97474398-a6cda200-197e-11eb-8648-c1efce6a0272.png)

2. Create a new case class, `User.sca

[2020-10-28 19:10] vsevel commented on #7007
hello @lordofthejars
I was using `VaultSystemBackendEngine.healthStatus()` that you developed in the context of this PR.
my vault was in standby and unsealed, hence I got a `429` at the client level.
but from the quarkus vault api, I was expecting a `VaultHealthStatus` with the appropriate fields filled up. instead I got a `VaultClientException` with status 429.
actually, all results will end up t

[2020-10-28 20:29] rsearls opened #13007 "Add support for encoded @ApplicationPath value for OpenLiberty"
OpenLiberty requires support of encoding @ApplicationPath value, such as
"@ApplicationPath("apppathrest%21")".

This request was originally filed in RESTEasy.  The investigation of this
enhancement request determined that the code handling "routes" was based
in Quarkus code and Vertx classes  io.vertx.ext.web.impl.RouterImpl and
io.vertx.ext.web.impl.RouteState.

A Quarkus based testcase, and the

[2020-10-28 21:01] dansiviter commented on #2143
This seems to still be an issue.

* IDE: VS Code 1.50.1
* JDK: AdoptOpenJDK 14.0.1.7-hotspot
* Quarkus: 1.9.0.Final
* Dependencies: `io.quarkus:quarkus-resteasy`
* Main class:

[code]
* Stacktrace:
[code]
* Notes: Add `io.quarkus:quarkus-core-deployment` as a dependency (at `provided` scope so it's not needlessly bundled). Gets a little further but no features are being found.

[2020-10-28 21:13] loicmarchal commented on #1658
In fact, the Helidon dependency doesn't pull any custom or modified driver. It's literally just the official Oracle JDBC driver (19.3.0.0) wrapped with a config file helping the native-image initialize the right classes at build/run time. Anyway, maybe you're right and Oracle Support could do that. That's why, as I mentioned in my comment [here](https://github.com/quarkusio/quarkus/issues/1658#iss

[2020-10-28 21:33] softshipper opened #13008 "org.hibernate.hql.internal.ast.QuerySyntaxException"
Hi all
I am trying to use HQL to join two tables to get the result. The tables are defined as the following:
[code]
The Hibernate Panache Repository to query data:
[code]
The HQL is defined as:
[code]
Calling the resource, I have got the following exception:
[code]
What am I doing wrong?

Here is the app [hql.zip](/user_uploads/11321/iOmk9fMliCZVLLuKDSaJ7phQ/hql.zip) to get better understanding wh

[2020-10-28 22:14] dhoffer commented on #12980
@famod I am attempting to produce the reproducer starting with the quickstart you mentioned.  Not there yet, but trying.

[2020-10-28 22:20] machi1990 commented on #12942
This will mean always including the swagger ui and be able to toggle its enablement via the said flag during runtime. The concern was always about the resulting build size if we always include the swagger ui.

We might need @gsmet @stuartwdouglas opinion here.

[2020-10-28 22:20] CarlosPanarello commented on #12942
Yes, but I don't think it's that simple, because, like the comment from @ machi1990, this property needs to be informed at build-time to make it possible to obtain information about classes to create open-api schemas.
I don't know if this is a good practice, having the same property working in build and runtime.

[2020-10-29 03:55] SumaiyaSafdar commented on #12522
@ia3andy , that's great !! I'm not having any idea of codestart project, but I'll be glad if I'd be of any help.. Please connect me over LinkedIn so that I can take some of your assistance to start my contribution..

[2020-10-29 05:40] phillip-kruger commented on #12942
How about this property only has effect if the UI is included. So you can still create a jar without it (`quarkus.swagger-ui.always-include=false`), but, if you did create a jar with the UI (`quarkus.swagger-ui.always-include=true`) you can enable/disable it.

[2020-10-29 05:51] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/335126336

[2020-10-29 06:11] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/335127100

[2020-10-29 06:18] softshipper commented on #13008
I forgot to mention, the example is written in Kotlin.

[2020-10-29 06:51] geoand commented on #12006
You are absolutely right, I was thinking a few into the future :)

This is a good point because although this is standard JAX-RS behavior, however it probably does make sense to mention this. @gsmet as this is your wheelhouse, WDYT?

[2020-10-29 07:23] geoand commented on #13007
FWIW, we do support this in [Quarkus REST](https://github.com/quarkusio/quarkus/pull/12971)

[2020-10-29 07:29] wicksim opened #13013 "Request scope sometimes not propagated to ManagedExecutor.runAsync()"
**Describe the bug**
When executing code in ManagedExecutor.runAsync(), request-scoped beans are not always propagated. It often works on 1st call, but not on subsequent calls. `quarkus-smallrye-context-propagation` is active.

**Expected behavior**
Reqest-scoped beans should always be available if context is propagated.

**Actual behavior**
Request-scoped beans are available only sometimes.

**To

[2020-10-29 07:40] geoand commented on #13003
Can you please try removing the version from `commons-logging-jboss-logging`? I am pretty sure we have that dependency in the BOM.

[2020-10-29 07:45] geoand commented on #13006
Thanks for reporting this.

We have fixed a few memory leaks in the [Quarkus REST](https://github.com/quarkusio/quarkus/pull/12971) PR. See for example these commits:
* https://github.com/quarkusio/quarkus/commit/1c5e6a995ab1a957278d261e168e5eafee83afe2
* https://github.com/quarkusio/quarkus/commit/8075df1616640d34043b806f6f9c0c56e9137d22
* https://github.com/quarkusio/quarkus/commit/7dcb69c357af4

[2020-10-29 07:48] ia3andy commented on #12522
My example is ready, it's a new codestart project type to creates a quarkus jbang project:
https://github.com/quarkusio/quarkus/pull/13004

You can inspire yourself from it to create a new "Quarkus Extension" project type...

To connect with me:  https://quarkusio.zulipchat.com/
Stream: Dev
Topic: Quarkus extension with Codestarts

[2020-10-29 07:51] geoand commented on #12965
cc @mkouba @cescoffier

[2020-10-29 07:55] renegrob opened #13014 "Spring Data Repository with camel-case properties not working with Quarkus"
I'm migrating an application which uses Spring Data Repostiories from Wildfly to Quarkus and encounter exceptions during the initialization phase:

**Describe the bug**
I have JPA entities with camel-case properties such as:
[code]
And a Spring Data repository like:
[code]
Now the `SpringDataJPAProcessor` thinks that it has to look either for a property named "user" or "userTenantId" and fails wit

[2020-10-29 08:21] iocanel commented on #12894
@rsvoboda: It seems that we need to apply the same fix, for when deployment-target=openshift. (Just pushed it BTW).

This is a regression introduced in: https://github.com/quarkusio/quarkus/pull/12655/files#diff-2f7f8b1e6f4a44f6f156a44d9a60ec9f4a233e7874e8059fb0c627771a505fc4R62

I think we should be fine now.

[2020-10-29 08:26] MarcusBiel commented on #13003
Done. Didn't help unfortunately.

[2020-10-29 08:29] geoand commented on #13003
Thanks for checking.

Is there any way you could provide us a small project that reproduces the behavior you are seeing?

@gsmet do you recall of anything recently that could cause this behavior?

[2020-10-29 08:30] dufoli commented on #4005
@gastaldi can you invit @Dufgui  on repo too ? he will contribute too.

[2020-10-29 09:17] MarcusBiel commented on #13003
Generally speaking, I can. But let's wait for our meeting on Monday, I will show you :)

[2020-10-29 09:18] geoand commented on #13003
OK :)

[2020-10-29 09:19] geoand commented on #13014
Thanks for reporting.

I'll check it out soon

[2020-10-29 10:25] CarlosPanarello commented on #12942
It will be perfect! :smiley:

[2020-10-29 10:26] michalszynkiewicz commented on #11646
I'll let myself close the issue in hope that what @grossws wrote is the cause.

[2020-10-29 10:26] #11646 closed

[2020-10-29 10:40] sberyozkin commented on #12984
@missourian55 @pedroigor Hi, I've thought more about it. So, while I don't think changing VertxOAuth2 to block the introspection requests is realistic given the earlier discussions or (IMHO) generally sound since we can have the users dealing with not only JWT but also opaque tokens (including the encrypted JWT tokens), what can be supported in Quarkus OIDC, where the users absolutely know they wa

[2020-10-29 10:45] phillip-kruger commented on #12942
I'll do a PR soon, then let's see what @machi1990 @gsmet and @stuartwdouglas says. For consistency I am adding this to health and graphql too.

[2020-10-29 10:55] geoand commented on #13014
https://github.com/quarkusio/quarkus/pull/13015 should take care of this

[2020-10-29 10:57] geoand commented on #13013
cc @manovotn @FroMage

[2020-10-29 11:44] CarlosPanarello commented on #12942
Nice, could i help you with that?

[2020-10-29 12:03] phillip-kruger commented on #12942
You can verify that this works for you : https://github.com/quarkusio/quarkus/pull/13016

[2020-10-29 12:35] gastaldi commented on #4005
@dufoli done. You can also add other maintainers as you have the Maintainer role for the @quarkiverse/quarkiverse-cxf team

[2020-10-29 12:58] lordofthejars commented on #7007
It was a long time ago and I cannot remember right now sorry.

[2020-10-29 13:11] radcortez commented on #12968
Weird. As far as I know, we don't treat quoted property names differently, in the sense that the quote is part of the name, meaning that you require the quote in the system property name to be able to override it. I've tried in one of my projects and I was only able to override it when using the quoted version.

The issue with environment variables is obvious, since you are not able to use quotes

[2020-10-29 13:55] dmlloyd commented on #12968
In Quarkus we do canonicalize (to a degree) the quoting of property names, so `foo\.bar` *should* be equivalent to `"foo.bar"`, and `foo` *should* be equivalent to `"foo"`.  If we're seeing behavior that contradicts this, then I'd consider it a bug in the properties mapping.

On the topic of environment variable names: it's quite tricky because the mapping only goes one way.  Your description is t

[2020-10-29 14:31] #13014 closed

[2020-10-29 15:27] manovotn commented on #13013
@wicksim I've spent some fiar time debugging and I think the problem lies elsewhere.
The short version is - I believe this use case shouldn't work, the only question is whether we should leave it as is, or throw an exception.
Let me try to explain in a (way) longer manner...

Posting the scheduled method here for clarity:

[code]

You're using `@RequestScope` bean - those normally require context

[2020-10-29 15:47] dufoli commented on #4005
no I have no access to settings of project.
Anyway, I have fix native build in java 11. ;-)

[2020-10-29 15:53] wicksim commented on #13013
I'll need a little bit more time to really understand your answer. :smiley: But for now: My "real" case is not a scheduler, but an invocation of a REST-Endpoint. But I think this will not make any difference? I forgot to mention in the bug report that the scheduler was just an easy way for the reproducer.

[2020-10-29 16:39] wicksim commented on #13013
And by the way: Is there another preferred way to execute an async task in which the context propagation works corrrectly?

[2020-10-29 16:59] manovotn commented on #13013
Well, I can't be certain without the actual code for that use case, but I'd say it is indeed similar. As in, launching an async to-be-done-later task might mean that it would happen after the request is already over.

Hm, I don't think this is about context propagation. Maybe I am poorly explaining this, but the issue lies in how request scope/context works in CDI. There is, by design, no way to u

[2020-10-29 17:07] indalaterre opened #13017 "PrinterJob.lookupPrintServices() can't find printers in native mode"
**Describe the bug**
PrinterJob.lookupPrintServices() can't find printers when runs in native mode. The method is invoked using a Runtime Recorder after the bean has been marked as Unremovable. If the app is run in JVM mode everything goes well

**Expected behavior**
PrinterJob.lookupPrintServices() returns results in both JVM and native mode

**Actual behavior**
PrinterJob.lookupPrintServices() r

[2020-10-29 17:09] dloiacono opened #13018 "Native support fo java printing"
**Describe the bug**
I'm using the JAVA printer APIs.

The PrinterJob.lookupPrintServices() works fine with the JRE but doesn't work with native.
Basically it doesn't return any printer.

I created an extension with a @Recorder to let the initialisation to work at application runtime and not a build time:

public void connectToServer(BeanContainer beanContainer) {
    PrintInteraction interaction

[2020-10-29 17:23] gastaldi commented on #13018
Duplicate of #13017. Closing

[2020-10-29 17:23] #13018 closed

[2020-10-29 17:44] gastaldi commented on #7124
This seems to have been resolved. Closing now

[2020-10-29 17:44] #7124 closed

[2020-10-29 18:09] #10193 closed

[2020-10-29 18:10] gastaldi commented on #13007
Maybe it would be nice to have a `area/quarkus-rest` label to track issues that can be possibly fixed when Quarkus REST is available.

[2020-10-29 18:12] geoand commented on #13007
Was thinking the same

[2020-10-29 18:14] gsmet commented on #10193
I make them `question` :).

BTW, it looks like something we could document in the logging guide?

[2020-10-29 18:15] gastaldi commented on #10193
Ah, I missed that kind, thanks @gsmet! Yeah, I think that would be nice to have

[2020-10-29 18:42] radcortez commented on #12968
The properties mapping is fine I believe. The issue is the lookup. While Quarkus will consider these to be equivalent, ConfigSources may not, since they usually do a simple lookup with the defined key. In conclusion, ConfigSource A may set `foo.bar` and ConfigSource B may set `"foo.bar"` and they don't override each other, since they are treated as different keys.

We could apply the same canonica

[2020-10-29 19:00] dmlloyd commented on #12968
Right, under no conditions would `foo.bar` be the same as `"foo.bar"`.  We'd canonicalize `"foo.bar"` to `foo\.bar`.  So looking up a property name with quotes would never work, I believe, unless we added a special transformation step for that purpose.

[2020-10-29 19:23] radcortez commented on #12968
Yes, so in that particular case, we cannot override a quoted property name with an environment variable because there is no way to represent quotes in the environment variable name to the match to succeed.

So the question is, should we add an extra rule to Env Config Source to loose any quotes in the key name, or should we do this in a more general way to all the sources.

[2020-10-29 19:36] snowe2010 opened #13021 "Quarkus should verify that build.gradle or pom.xml exists rather than defaulting to gradle"
**Description**
[`isMavenProject` defaults to a Gradle project](https://github.com/quarkusio/quarkus/blob/master/independent-projects/bootstrap/core/src/main/java/io/quarkus/bootstrap/utils/BuildToolHelper.java#L49-L61) if it can't find Maven or Gradle build files. This might make sense in some cases, but can cause issues if not logging what it's doing. For example, in multi module IntelliJ projec

[2020-10-29 19:38] dmlloyd commented on #12968
That's not strictly true; if I recall correctly, interior `.` are mapped as double underscores (one for the `\` and one for the `.`), so if you wanted to map `foo."bar.baz".zap` to an env var, it'd be `FOO_BAR__BAZ_ZAP`.  I'm fairly sure that this is tested.

[2020-10-29 20:34] BeneStem commented on #12877
Thank you so much. That did the trick!

[2020-10-29 21:50] majonga88 opened #13023 "Loop on authentification page when authenticated - OIDC Auth0"
**Describe the bug**

Regarding to test the fix of this bug : https://github.com/quarkusio/quarkus/issues/8396, when i trying to connect to my application via Auth0  and i'm experiencing a new issue.

[code]

I inspect the code on vertx-jwt-3.9.3 dependency, JWT.class inside io.vertx.ext.jwt package, line 337 to 343 and i've seen my timestamp iat more recent than the timestamp now.

![image](https

[2020-10-29 21:57] sberyozkin commented on #13023
@majonga88 I think this issue is invalid, in such cases you need to use `quarkus.oidc.token.lifespan-grace` to deal with some clock skews etc

[2020-10-29 22:06] majonga88 commented on #13023
It's much better thanks, i have no longer the issue, but i experienced now a strange redirection when i'm trying to connect to my application. It redirect to the auth0 login page after every login. The actual Auth0 configuration work on a personal SpringBoot application that i use.

[code]

[2020-10-29 22:22] BeneStem commented on #9211
Hey there, this is probably not the right way to address this but I'll try my best to fulfill your contribution rules :)
When using this extension and building in native mode I get exceptions since quarkus-1.9.1
With quarkus-1.9.0 it was still working.

I get these errors for all methods in the package on the companion:

[code]

[2020-10-30 02:44] jimbogithub commented on #12312
@Sanne This is still an issue in 1.9.1.  Any chance of taking a look soon?

[2020-10-30 02:55] reachlakstar commented on #7451
@SlyngDK How to import this.. I am getting compilation error. which maven package to be used.
Basically i am trying to add additional key value pair fields

import static io.quarkus.logging.json.structured.KeyValueStructuredArgument.*;
...
log.info("Test log of structured arg", kv("key", "value"));

[2020-10-30 03:22] reachlakstar commented on #7451
@SlyngDK Could you please help me how to do this .. any sample please
log.info("Some log", kv("REQUEST_OBJ", <<POJO>>)) which gets transformed to

{
  //all other log parameters
"REQUEST_OBJ" : {
    "blah_id" : "abc"
}

}

[2020-10-30 04:04] reachlakstar commented on #7451
@harry9111985 how did you manage to generate, any sample please

[2020-10-30 05:32] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/337118274

[2020-10-30 06:47] geoand commented on #12998
cc @radcortez

[2020-10-30 07:11] geoand commented on #12948
Have you tried registering `io.jsonwebtoken.io.JacksonDeserializer` for reflection?

[2020-10-30 07:18] geoand commented on #13017
Thanks for reporting.

There likely isn't much Quarkus can do here, this is more of a GraalVM issue.

[2020-10-30 09:13] loicmathieu commented on #9211
@BeneStem can you please create an issue. As I understand it, it works in 1.9.0 and no more on 1.9.1 so there should be somethin happended between these two releases ...

@evanchooly the extension is part of Quarkus 1.9, maybe we can close this issue ?

[2020-10-30 10:03] BeneStem commented on #9211
I can create an issue. I found out that it is also not working with 1.9.0
It doesnt seem to work at all with native build :(

[2020-10-30 10:07] sberyozkin commented on #13023
@majonga88 can you try `quarkus.oidc.authentication.cookie-path=/` ?

[2020-10-30 10:24] radcortez commented on #12998
This is because expansion is implemented with an ordinal and sorted with all the available sources, giving you the ability to actually have sources without expansion. We did use a high value (3800), which you obviously beat :)

Do you really require to use a higher ordinal or could you set a lower one to make sure that expansions is applied? Another solution is to register the `ExpressionConfigSou

[2020-10-30 10:39] paschm commented on #12998
@radcortez Thank you for the answer. No, actually I don't need a config source with ordinal > 3800 and I already changed it to lower values for my custom config sources. But maybe this can be documented in the [guide](https://quarkus.io/guides/config#custom-configuration-sources) and / or something can be logged, if the value is exceeded? I was confused, as higher values worked till 1.8.3 and the

[2020-10-30 11:03] dloiacono commented on #13017
Seems that AWT is currently not supported on Substrate VM.

https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/JavaAWTSubstitutions.java#L39

[2020-10-30 11:12] radcortez commented on #12998
Yes, you are right. I've added https://github.com/smallrye/smallrye-config/issues/437 to follow up on this. Thanks!

[2020-10-30 11:12] #12998 closed

[2020-10-30 11:14] radcortez commented on #12968
Ah exactly!

@felipewind you should be able to override if you `QUARKUS_DATASOURCE__BOOKS__JDBC_URL`. Let me know if that works.

[2020-10-30 11:25] Meemaw opened #13029 "JAX-RS validation issue with interface methods with default implementation"
**Describe the bug**
After trying to upgrade to Quarkus 1.9.x (1.9.1) I've seen there were some changes (regressions?) to the validation behaviour. It seems that the validation does not work for interface methods with default implementation)

**Expected behavior**
JAX-RS validation should work for interface methods with default implementation.

**To Reproduce**

BookResource.java

[code]

BookReso

[2020-10-30 11:42] #12497 closed

[2020-10-30 11:58] vsevel opened #13030 "invalid warning in ResteasyCommonProcessor when using rest-client"
**Describe the bug**
I created a QuarkusMain application that only uses the rest-client with rest client jackson support.
the application works as expected, except it prints this warning:
[code]

**Expected behavior**
there should be no warning because this is a valid situation.
if the warning was valid, (because we are lacking json support), then the link should be `https://quarkus.io/guides/rest

[2020-10-30 12:06] dmlloyd commented on #12968
I'm not sure this is correct; unless I'm completely misremembering our canonicalization rules, you'd only need to double the `_` when there is an *interior* `.` that would have been within the quotes.  This is because we would canonicalize `"foo.bar"` to `foo\.bar`.

[2020-10-30 12:32] majonga88 commented on #13023
I have the same behaviour, here is the logs :

[code]

[2020-10-30 12:53] BeneStem opened #13031 "Quarkus-mongodb-panache-kotlin does not support native build yet."
The build is failing for each method on the companion object.

[code]

./gradlew clean assemble -Dquarkus.package.type=native

quarkus 1.9.1 / 1.9.0 (both versions fail)
kotlin 1.3.72

[2020-10-30 12:54] BeneStem commented on #13031
@loicmathieu if you need more information please don't hesitate to reach out to me!

[2020-10-30 13:28] sberyozkin commented on #13023
@majonga88 Can you please fork this project,
https://github.com/quarkusio/quarkus-quickstarts/tree/1.9.1.Final/security-openid-connect-web-authentication-quickstart,
[update these properties](https://github.com/quarkusio/quarkus-quickstarts/blob/1.9.1.Final/security-openid-connect-web-authentication-quickstart/src/main/resources/application.properties) with Auth0 connection url, and see if you can

[2020-10-30 13:34] evanchooly commented on #9211
Yes, let's track this elsewhere.

[2020-10-30 13:34] #9211 closed

[2020-10-30 13:36] jeschu opened #13032 "compact props names in yaml"
yaml config should be possible in this 2 ways:
[code]
or
[code]

The second one does not work.

See: https://groups.google.com/g/quarkus-dev/c/SP8t6e7tiNQ

[2020-10-30 13:38] machi1990 commented on #13032
/cc @radcortez

[2020-10-30 14:01] felipewind commented on #12968
@radcortez I did the test and worked perfectly.

I could override my property `quarkus.datasource."users".jdbc.url` with `export QUARKUS_DATASOURCE__USERS__JDBC_URL=`

Thanks a lot for the help.

@gsmet and @dmlloyd , for my user perspective everything is ok. Please feel free to close the issue if you prefer.

[2020-10-30 14:02] aomsweet opened #13033 "How to close the Quarkus application when the verticle deployment fails."
**Describe the bug**
I call `Quarkus.asyncExit()` but the process cannot be closed. Enter the following log. I want the process to end as expected without manual intervention. What should I do?

[code]

thanks.

[2020-10-30 14:05] radcortez commented on #12968
Great! Thanks!

[2020-10-30 14:05] #12968 closed

[2020-10-30 15:05] radcortez commented on #13032
Duplicate of https://github.com/quarkusio/quarkus/issues/11744.

[2020-10-30 15:05] #13032 closed

[2020-10-30 15:15] radcortez commented on #11744
Maybe a little crazy idea:

When we flatten, we could include both versions of the key / value, the quoted and unquoted version when we find a a key that requires handling as a single string element.

Any thoughts?

[2020-10-30 15:33] gastaldi commented on #13033
What Quarkus version are you using?

[2020-10-30 15:49] burmanm opened #13035 "1.9.1 throws Response has already been written from RouteFilter"
**Describe the bug**
After updating from 1.8.3.Final to 1.9.1.Final our tests have started to throw this to the logs:

[code]

This happens in a ``@RouteFilter(401)`` when it calls ``rc.next()``. This does not happen with earlier versions.

**Expected behavior**
No such error should be output.

**Actual behavior**

**To Reproduce**
[code]

We use HttpAuthenticationMechanism and these tests are tri

[2020-10-30 16:05] cescoffier commented on #13035
The exception means that Mutiny received a _failure_, but cannot do anything with it (it would violate the Reactive Streams protocol). Before these exceptions were swallowed. Now, they are logged.

From what I can see, it's a bug in the `HttpSecurityRecorder`, which tries to `end` a response which is already ended (leading to the exception).

[2020-10-30 16:07] cescoffier commented on #13035
By any chance, do you know what could `end` that request?

[2020-10-30 16:10] cescoffier commented on #13035
I wonder if it justs needs a simple:

[code]

[2020-10-30 19:58] missourian55 commented on #12984
@sberyozkin Thanks, seems like this will work.

[2020-10-31 08:01] medvedev commented on #12946
There's already extension allowing override for "level" and much more other configurable options for json logging.
Here it is: https://github.com/quarkiverse/quarkiverse-logging-json
I'm closing this issue

[2020-10-31 08:01] #12946 closed

[2020-10-31 12:39] aomsweet commented on #13033
hi. @gastaldi

Quarkus version: 1.9.0.Final

Run profile: dev

[2020-10-31 16:34] majonga88 commented on #13023
Ok so i fork your project `security-openid-connect-web-authentication-quickstart`, the authentification works without :

quarkus.oidc.roles.source=userinfo or quarkus.oidc.roles.source=accesstoken parameters.

When i tried with quarkus.oidc.roles.source=userinfo it loop on authentification page of Auth0 and quarkus.oidc.roles.source=accesstoken send me a 403 forbidden with this kind of url : http:

[2020-10-31 23:25] missourian55 opened #13039 "OIDC Extension compile error when discovery disabled"
**Describe the bug**
I have disabled the auto discovery with below configuration and manually configured jwks path. This setting is not being honored by OIDC extension

`quarkus.oidc.discovery-enabled=false`

And I have following settings
[code]

I have getting below compile time error

[code]
**Expected behavior**
Manual *jwks* configuration should be detected by OIDC extension when discovery is

[2020-11-01 00:13] missourian55 opened #13040 "OIDC Extension - resolve method of TenantConfigResolver is getting invoked *twice* for every request"
**Describe the bug**
Testing the **Programmatically Resolving Tenants Configuration** as per this guide, noticed that the resolve method is invoked **twice** for every request

https://quarkus.io/guides/security-openid-connect-multitenancy#programmatically-resolving-tenants-configuration

[code]

**Expected behavior**
Don't know the root cause, but double invocation of resolve method seems to be a

[2020-11-01 07:24] BeneStem commented on #9211
You can find the issue here https://github.com/quarkusio/quarkus/issues/13031

[2020-11-01 09:00] #13021 closed

[2020-11-01 09:43] mklueh opened #13043 "JsonNode property not serialized correctly with RESTEasy JAX-RS"
**Describe the bug**

REST endpoint returning a JsonNode object is not serialized as expected

[code]

Instead of the expected JSON string as a response I´m always getting the response below

[code]

Used Quarkus version: 1.9.1.Final

Reproducer https://github.com/mklueh/quarkus-rest-json-node-not-serialized

[2020-11-01 09:50] AlonaSharpe opened #13042 "Elasticsearch dependency causes no logging"
**Describe the bug**
Adding a dependency to Elasticsearch causes the following error:

ERROR StatusLogger Log4j2 could not find a logging implementation. Please add log4j-core to the classpath. Using SimpleLogger to log to the console...

Dependency:
    <dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-elasticsearch-rest-high-level-client</artifactId>
    </dependency>

*

[2020-11-01 10:01] renegrob opened #13044 "Spring Data JPA error when selecting property value"
**Describe the bug**
I'm migrating an application which uses Spring Data Repostiories from Wildfly to Quarkus and encounter exceptions during the initialization phase.

The following code:

    @Query("SELECT DISTINCT code.otpsubject.id FROM OtpCodeEntity code")
    List<String> findAllOtpsubjectIds();
Causes: IllegalStateException: java.lang.String was not part of the Quarkus index

But `OtpSubje

[2020-11-01 10:14] hosseinmp76 commented on #6801
the only reason I see is that EclipseLink has moved to Jakarta ee namespace(it's still beta) but there is no clue on hibernate when it will migrate(its sill on v6 development)

[2020-11-01 12:15] dufoli opened #13046 "[CI] - quarkiverse-cxf + Quarkus master failed to build"
This issue will be open and closed dependent on the state of https://github.com/quarkiverse/quarkiverse-cxf building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2020-11-01 12:30] mklueh opened #13047 "Dead link "https://quarkus.io/guides/security.adoc#testing-security" in documentation"
On page https://quarkus.io/guides/getting-started-testing in chapter 12. Testing security there is a dead link https://quarkus.io/guides/security.adoc#testing-security

[2020-11-01 12:37] antoniomacri opened #13048 "Support ManagedScheduledExecutorService"
**Description**
I need to schedule a job on periodic interval. I'm already using Quartz extension in clusted mode, but I also need to run jobs on each node and possibly avoid concurrent executions. This could be straightforward if done with a ManagedScheduledExecutorService.

Do you plan adding support for that?

Any suggestion on how to workaround this issue?

[2020-11-01 12:43] machi1990 commented on #13047
Good catch @mklueh I think it should point to this page https://quarkus.io/guides/security-testing. Do you want to provide a PR to fix it? Thanks.

[2020-11-01 13:03] mklueh commented on #13047
@machi1990 It seems to be already fixed for a while on master https://github.com/mklueh/quarkus/commit/f84f386b585b9663a3ab8340ac1ea6cef77aaad9#diff-736ad6c4de04577ecfa48a1d44d6acaebb7ceac683ab1f51bdf30c7add9fe31c

How often is the documentation website getting deployed?

[2020-11-01 13:26] machi1990 commented on #13047
Ah right. I wasn't near my machine to actually verify it before proposing that you provide a fix.

/cc @gsmet

[2020-11-01 14:18] gastaldi commented on #13046
Please move this issue to https://github.com/quarkiverse/quarkiverse

[2020-11-01 14:18] #13046 closed

[2020-11-01 15:01] mklueh opened #13049 "Cannot load privateKey.pem from resources in Gradle project to sign JWT tokens"
**Describe the bug**
I try to load my privateKey.pem from the resources folder to sign JWT tokens without any success.

The described way from the resources is passing

[code]

However, using Gradle I´ve tried to pass that parameter as well by setting it in my runconfiguration which did not work.

As I want to sign tokens in my application itself, at least for testing purposes, I´ve tried to set t

[2020-11-01 15:01] #10110 closed

[2020-11-01 15:42] mklueh commented on #13049
I´ve found one workaround for it by loading the secret manually

[code]

and signing with

[code]

[2020-11-01 16:15] sberyozkin commented on #13039
@missourian55 This is an invalid issue, it is documented to be a relative property

[2020-11-01 16:15] #13039 closed

[2020-11-01 16:21] sberyozkin commented on #13049
@mklueh I'm sorry but I don't understand the problem. How do you run that `GenerateToken` command now ? Did you try to move the private key inside the `main/resources/` ?

[2020-11-01 16:32] sberyozkin commented on #13023
@majonga88 I think I understand now why you are seeing a loop. I believe it happens due to the wrong exception beng reported in case of the user-info request failure, I'm pretty sure I saw it but did not fix yet, so I'll take care of it as part of this issue.
The reason the userinfo request fails is because the access token does not have enough permissions for it.
Also, since the access token is b

[2020-11-01 16:33] mklueh commented on #13049
@sberyozkin I don´t run it from the console as it doesn´t fit my use case. I want to test token creation from within my application, not via commandline.

Please check my reproducer.

[2020-11-01 16:58] Sanne commented on #6801
Ironically, we haven't updated Hibernate to Jakarta EE because it wouldn't work in Quarkus unless all other technologies to integrate with also switched at the same time (to avoid a mess).

We could explore doing this, but your comment is the first I've seen asking for it.

[2020-11-01 18:01] #12894 closed

[2020-11-01 18:04] gastaldi commented on #13017
Looks like the related issue is: https://github.com/oracle/graal/issues/2949

[2020-11-01 18:16] engilyin opened #13050 "Quarkus Spring Data DTO and Projections support"
**Describe the bug**
Spring Data API supports DTO and Projections.
Here you can read how it should work:
https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#projections

**Expected behavior**
DTO and Projections should work

**Actual behavior**
It just try to retrieve the full object and fails with Cast error:
[code]

**To Reproduce**
Please check this repo:
https://github.com/engi

[2020-11-01 19:53] huw0 commented on #11725
Here is a reproducer for this issue: https://github.com/huw0/quarkus-11725-reproducer
It is necessary to create the empty folder src/main/resources since if this is committed with a .gitkeep then the folder is no longer empty so the error does not occur.

Stacktrace is identical to the original post.

[2020-11-01 20:11] huw0 opened #13052 "Gradle quarkusDev fails with multi-module runtimeOnly dependencies"
**Describe the bug**
I have a project with multiple modules. The app module contains the quarkus plugin and has a runtimeOnly dependency on moduletwo.

Running `./gradlew clean quarkusDev` results in a stacktrace

[code]

**Expected behavior**
Quarkus Plugin should ensure that other modules within the project have been compiled before attempting to depend on them

**Actual behavior**
Quarkus Gradl

[2020-11-01 20:13] machi1990 commented on #13017
Yes, I think we can close this as this is more like an upstream issue than anything Quarkus related.

[2020-11-01 22:37] #13017 closed

[2020-11-01 23:15] dufoli opened #13054 "jna extension"
graalvm do not support jna in native mode.
But JNA seems to be mainly a classic jar wich use a jni small subset to load native lib.
So my point is that maybe it is doable to use substitution + reflection identification + proxy identification to have jna support.

reference:
https://github.com/java-native-access/jna

quick analyse:

proxy:
https://github.com/java-native-access/jna/search?q=newproxy

[2020-11-02 00:10] majonga88 commented on #13023
@sberyozkin Ok i deep looking the documentation of Auth0 about access token [here](https://auth0.com/docs/tokens/access-tokens/get-access-tokens) and openid scopes [here ](https://auth0.com/docs/scopes/openid-connect-scopes)

When i do it manually :

We need to get an authorization code from the authorization server for generate the access token :

`https://dev-0-77r6yl.auth0.com/authorize?audienc

[2020-11-02 00:57] stuartwdouglas commented on #13035
I think a simple check is all that is needed. sendChallenge can send data and end the response, so this is expected, when I wrote this I guess I did not realise that calling .end() on a response that has already ended would throw.

[2020-11-02 02:01] stuartwdouglas commented on #12769
Exactly, from a production point of view you just can't really do this. You can have an infinite loop in other threads as well, you just can't guard against this.

I am going to close this, basically you can only have one of the following guaranteed:

a) That all shutdown code that should run is being run (i.e. that you can do a clean shutdown)
b) That shutdown completes in a given time period

I

[2020-11-02 02:01] #12769 closed

[2020-11-02 02:57] stuartwdouglas commented on #12820
I think if you moved the publisher to its own class it would work around it.

[2020-11-02 02:58] stuartwdouglas commented on #12571
After thinking about it a bit I guess there is not much we can do.

[2020-11-02 02:58] #12571 closed

[2020-11-02 03:25] LuccaPrado opened #13055 "Windows username with space gives errors on native build"
When using Windows with space on username there's 2 errors on different steps on mvn package.
the command that I ran is:
```mvn -Pnative package```

**Expected behavior**
Successfully generate my native image.

**Actual behavior**
Breaks on 2 steps of ' io.quarkus:quarkus-maven-plugin:1.9.1.Final:build'
The first step that breaks is
' io.quarkus.vertx.http.deployment.VertxHttpProcessor#registerExc

[2020-11-02 05:30] Erfankam opened #13056 "keycloak-admin-client extension imposes quarkus-oidc extension properties"
**Describe the bug**
Recently I used Quarkus version 1.4.2 in a multi module maven project. I had a module use quarkus-keycloak-admin-client that administrate Keycloak instance and work properly without any problem.
After upgrade to version Quarkus 1.6.1, I got some errors about needed properties like auth-server-url that needed for quarkus-oidc extension and I have no enabled quarkus-oidc extensi

[2020-11-02 05:58] wicksim commented on #13013
Okay, so I do understand: Context propagation is about propagating the context (incl. request scoped beans, transactions, etc.) to other threads, but only as long as the original thread lives.

But what about reactive programming (Mutiny)? Isn't it the case there, that things are executed async? So no request scoped information, too? Sorry, I'm kind of a newbie to this reactive thing...

So if I n

[2020-11-02 07:01] sniew commented on #6801
The initial reason for using eclipselink instead of hibernate is the support of dynamic entities. For legacy reason i am using it

[2020-11-02 07:42] yrodiere commented on #13042
I didn't check, but I *think* this warning is about logging from the Elasticsearch client, not from your application. To be clear: logging in your application and in Quarkus in general will work, but logs from the Elasticsearch client will not, because it relies on log4j2 (for some reason), and log4j2 isn't there.

@gsmet @loicmathieu I'm not sure how libraries depending on log4j2 are handled else

[2020-11-02 07:48] privatejava opened #13057 "Quarkus Test runs Scheduled jobs as well ."
**Describe the bug**
When we have any `@Scheduled` jobs in our application eg. @Scheduled(every="24h") which just does its job and I have a unit test which just does nothing but do System out will eventually call my `Scheduled` job .

**Expected behavior**
Unit test should not call `Scheduled` Jobs of the main package.

**Actual behavior**
Calls every Scheduled Jobs available in Quarkus Applicatio

[2020-11-02 07:48] yrodiere commented on #13042
Checking a bit more, the Elasticsearch low-level client depends on apache commons-logging and probably isn't affected by this. But the high-level client depends on Elasdticsearch's common JAR, which depends on log4j2 directly. So this is strictly limited to the high-level client.

[2020-11-02 07:49] knutwannheden commented on #11392
I had a similar requirement and used an injected `CurrentIdentityAssociation` and called `setIdentity(SecurityIdentity)` on it. This worked nicely. I will now also look into supporting `@RunAs` in our project.

[2020-11-02 08:03] loicmathieu commented on #13042
I'll have to check this.
When creating the extension for the high level client, I excluded log4j2 and use the log4j2-jboss-logmanager library instead.
So log4j2 should works.

[2020-11-02 08:40] mkouba commented on #13057
@privatejava You can disable the scheduler when running the tests via `quarkus.scheduler.enabled=false`: https://quarkus.io/guides/scheduler-reference#scheduled-methods-and-testing

I don't think we should disable the scheduler by default for `@QuarkusTest`.

[2020-11-02 08:40] #13057 closed

[2020-11-02 08:44] privatejava commented on #13057
How do we disable it for only unit test because I do not want it to run in my CI/CD pipeline. Right now all I do is `mvn clean install`  and it runs it anyway.

[2020-11-02 08:49] mkouba commented on #13048
Hi @antoniomacri, I think that we will need more information. Do you use `@Scheduled` methods or Quartz API? If so, have you considered using a different [concurrent execution strategy](https://quarkus.io/guides/scheduler-reference#concurrent_execution).

There was no plan to support the `ManagedScheduledExecutorService` so far.

[2020-11-02 08:54] mkouba commented on #13057
You can use [Configuration Profiles](https://quarkus.io/guides/config#configuration-profiles), i.e. add `%test.quarkus.scheduler.enabled=false` in your `application.properties`. You can also use system properties, i.e. something like `mvn clean install -Dquarkus.scheduler.enabled=false` should work. Finally, you can even create a [specific test profile](https://quarkus.io/guides/getting-started-te

[2020-11-02 09:36] #12900 closed

[2020-11-02 09:46] manovotn commented on #13013
We should probably try to summarize this limitation of CDI context propagation in the [documentation](https://quarkus.io/guides/context-propagation) (along with the fact that due to this, one shouldn't rely on `@PreDestroy` callbacks in their beans).

I _think_ the trick is that the original thread never destroys request context in this case hence you can keep using it inside CP. But I am not sure

[2020-11-02 09:56] gsmet opened #13058 "[CI] - Release Process Testing"
Report issues with the cronjob simulating the release process so that we catch issues early.

[2020-11-02 10:07] FroMage commented on #13013
If you do this in a REST endpoint and you your return type is an async type such as `CompletionStage` or `Uni` then the request context will not be torn down until after your async request completes. This is the sort of async task that this is made to work for, where you do your thing async, and the server doesn't need to keep your thread around for it to be completed.

But the client will not get

[2020-11-02 10:45] r00ta commented on #12820
Hi @stuartwdouglas , thank you very much for the tip! With the following refactoring:
[code]
And
[code]
Everything works properly!

[2020-11-02 11:02] wicksim commented on #13013
OK, I think I understand. One last question: If I need to perform a really async task (in the meaning of: the user gets an immediate response), the only possibility is to copy the relevant values from the request scoped bean to a local variable in the original thread an use this variable in the async execution, right? Or is there any other recommended way of doing this?

Shall I close this bug or

[2020-11-02 11:16] manovotn commented on #13013
As far as CDI context propagation goes, you could only use something like `@ApplicationScoped` bean. Such beans are visible from all threads and outlive HTTP request hence you wouldn't see this kind of problems.
Other than that, context propagation won't really help you proliferate state of data to other threads. In order words, your solution is as good as any :-)

I'll try to add at least some do

[2020-11-02 11:22] sberyozkin commented on #13056
@Erfankam That module has long been gone,  `quarkus-oidc` has to be used, there was a message sent to the Quarkus forum and the migration notes updated

[2020-11-02 11:28] sberyozkin commented on #13056
@Erfankam Sorry, should've added some more context info. The decision to move to `quarkus-oidc` has been done in complete agreement with the Keycloak experts, with the 2 main reasons being: 1. Portability 2. Reactive security support on top of Vert.x
HTH

[2020-11-02 11:59] AlonaSharpe commented on #13042
Sorry, nope. It stops all logging from app. I've checked..

[2020-11-02 12:04] yrodiere commented on #13042
Hmm, that's odd. Are you using the Log4j APIs to log from your application? Did you follow the instructions [here](https://quarkus.io/guides/logging#what-about-apache-log4j)>

[2020-11-02 12:22] gsmet commented on #13042
There's a reproducer here: https://github.com/AlonaSharpe/code-with-quarkus , let's check directly what's going on there :)

[2020-11-02 12:26] sberyozkin commented on #13049
@mklueh OK, so, can you please let me know if it works if you don't use Gradle but Maven ?

[2020-11-02 12:34] mklueh commented on #13049
@sberyozkin I've never used Maven, no clue how to set it up and work with it. Sorry

[2020-11-02 12:34] sberyozkin commented on #13049
@mklueh never mind, I'll check `META-INF/resources` with Maven myself a bit later, can you please try to remove `META-INF/resources/` from the key location ?

[2020-11-02 12:39] sberyozkin commented on #13049
Note we don't recommend shipping the private keys directly in the jar, ideally, in production, they would be located in the secure file system or perhaps be part of the HTTPS-based JWK set; I'd like to figure out though what is going on in this case.

[2020-11-02 12:52] sberyozkin commented on #13056
@Erfankam I've got confused, reopening it, thanks to Guillaume as well

[2020-11-02 12:59] sberyozkin commented on #13056
@aloubyansky Hi Alexey, this is a [PR](https://github.com/quarkusio/quarkus/commit/ce8f172629636f7fb6b608f04fbb54a03f6afb88#diff-bb89edaddfe733219ecaec40168e84e8efc8da0c3122128c1541bc6bc534e2f1) which introduced the dependency on `quarkus-oidc`, Indeed, it is only `quarkus-keycloak-authorization` which may need it, `quarkus-keycloak-admin-client` is totally independent. Can you please revert only

[2020-11-02 13:02] mklueh commented on #13049
@sberyozkin sure, this is only for testing purposes, as I like to test the whole auth flow locally and for unit testing mainly.

[2020-11-02 13:07] knutwannheden opened #13061 "Add config source providing config property defaults for smallrye-jwt"
**Description**
The `smallrye-jwt` module defines some config properties which are described in the corresponding Quarkus guide: https://quarkus.io/guides/security-jwt#additional-smallrye-jwt-configuration. The guide also documents the default values for these properties and since the documentation for these properties looks the same as for any other Quarkus properties, one might assume that the d

[2020-11-02 13:17] andlinger commented on #11923
Any ideas on using Inet4Address or Inet6Address objects in native mode?

[2020-11-02 13:24] canidae opened #13062 "OIDC not appending X-Forwarded-Prefix to redirect_uri"
**Describe the bug**
OIDC `redirect_uri` doesn't seem to honor `X-Forwarded-*` headers, when configuring the app as explained on these two sites:
- https://quarkus.io/guides/security-openid-connect-web-authentication#running-behind-a-reverse-proxy
- https://quarkus.io/guides/vertx#reverse-proxy

_Setup:_
Proxy (Traefik): docker.example.com
Quarkus-app: Internal (Docker) network, listening on `:808

[2020-11-02 13:37] aloubyansky commented on #13056
@sberyozkin just to clarify, if i add `quarkus-keycloak-admin-client` then `quarkus-oidc` will be expected among the runtime dependencies but `quarkus-oidc-deployment` should not be present at build time?

[2020-11-02 13:45] gsmet commented on #13056
Hmmm, as said on Zulip, I don't understand why we depend on the runtime `quarkus-oidc` artifact in `keycloak-admin-client`?

What's the reason for this?

[2020-11-02 14:19] sberyozkin commented on #13061
@knutwannheden Can you clarify please why do you need to inject those properties ? thanks

[2020-11-02 14:23] sberyozkin commented on #13056
@aloubyansky We just don't need `quarkus-oidc` for `quarkus-keycloak-admin-client`, `quarkus-keycloak-admin-client` is unrelated to what `quarkus-oidc` does, only `quarkus-keycloak-authorization` is.

`quarkus-keycloak-admin-client` is only about administering Keycloak. `quarkus-oidc` and also `quarkus-keycloak-authorization` - are about protecting Quarkus endpoints without having any relationship

[2020-11-02 14:25] sberyozkin commented on #13056
It can be a bit confusing, I was actually planning to add some docs about this admin client to the keycloak authorization page, but I'm going to do a big enough docs updates soon, including the info about the admin client...

[2020-11-02 14:27] sberyozkin commented on #13056
For example, the application may be using some mutual TLS or Form authentication, nothing to do with `quarkus-oidc` but then the endpoint code may want to do something with Keycloak while processing the current request, which is where this admin client may be used, etc

[2020-11-02 14:27] gsmet commented on #13056
So we just need to remove the `quarkus-oidc` artifacts from both the runtime and the deployment artifacts of the Keycloak admin client?

Am I right?

[2020-11-02 14:28] aloubyansky commented on #13056
Sure, I didn't add a dependency on quarkus-oidc though. I added the dep on the quarkus-oidc-deployment given that the dep on quarkus-oidc was already there and it was incosistent.

[2020-11-02 14:29] knutwannheden commented on #13061
@sberyozkin My use case was to be able to automatically propagate the JWT token when making REST calls. By default I want to propagate the token using the same HTTP header and schema as SmallRye JWT is configured with. I.e. set the same header for outgoing requests as used for incoming requests.

Using `@ConfigProperty(name = "smallrye.jwt.token.header", defaultValue = "Authorization")` works fine

[2020-11-02 14:40] renegrob commented on #13014
The simple case works now. However it still doesn't work for cases where more than one entity is involved: `findByRaceCarDriverTeamName(String teamName)` (means  this.raceCarDriver.team.name = <teamName>`). Shall I open a new issue for this?

[2020-11-02 14:41] geoand commented on #13014
Yes please

[2020-11-02 15:38] renegrob opened #13067 "Spring Data Repository with nested camel-case properties does not work with Quarkus"
**Describe the bug**
If a repository method addresses a nested entities Quarkus cannot parse the method.

Given the follwing JPA entities:
[code]

The repository method `findByRaceCarDriverTeamName` should find the `RaceCarEntity` by the `Name` of the `Driver`'s `RaceTeam`
[code]
But instead throws `UableToParseMethodException: Entity org.acme.resteasy.entities.ClassicCarEntity does not contain a

[2020-11-02 16:12] sberyozkin commented on #13056
Hi @aloubyansky Thanks, it was there for some reasons in the original PR I guess but we've never noticed it (I'm only finding out it now :-) ) until your fix which was, as I see now, correct from your perspective, sorry about it all :-), and thanks for the PR

[2020-11-02 16:39] sberyozkin commented on #13040
@missourian55 It is only the case with the default (`null`) response, but it will be fixed

[2020-11-02 16:43] sberyozkin commented on #12755
@haraldatbmw quick question, do you have the required user name returned in the userinfo response ? It may be easier to resolve it via that route

[2020-11-02 16:43] hartimcwildfly commented on #10267
Should the caching be fixed at buildtime or at runtime?

[2020-11-02 16:51] sberyozkin commented on #13023
@majonga88 I'm getting a bit confused. I think you said that it starts looping if you configure it to request the `userinfo`, but with when you try to set the source of roles to access token it is 404.
Can you clarify please ?
What happens if you remove `quarkus.oidc.roles.source=accesstoken`
And does `Auth0` support the introspection of the tokens ?
thanks

[2020-11-02 17:12] haraldatbmw commented on #12755
@sberyozkin yes, userinfo-data is my current fallback for this issue.

[code]

[2020-11-02 17:16] gsmet commented on #13056
https://github.com/quarkusio/quarkus/pull/13065 will fix it.

I will backport it to 1.9.2.Final. Thanks for the report!

[2020-11-02 17:17] xstefank commented on #12514
@loicmathieu I also ran into this issue. This is caused by extending PanacheMongoEntity. Not sure why.

[2020-11-02 17:53] corepdk commented on #12514
I have the same issue - currently staying at Quarkus version 1.7.5 - if i upgrade it stops working and i get the access error

[2020-11-02 17:56] majonga88 commented on #13023
@sberyozkin  If i remove this `quarkus.oidc.roles.source=accesstoken` it works, i go to Auth0 authentification page and after it redirect to the index.html.

Auth0 doesn't support the introspection of the tokens : https://community.auth0.com/t/oidc-dynamic-client-registration-token-introspection-url/37503

[2020-11-02 18:10] xstefank commented on #12514
It works when the entity class and the resource class are in the same package. Possible workaround.

[2020-11-02 20:03] lucaspouzac opened #13073 "@RequestScope with Filter and reactive routes"
When I set a data in TestFilter to RequestScopedService, I cannot get data from this bean after because a new instance of RequestScopedService is created (if the request is a type POST / PUT / DELETE)

**Actual behavior**

[code]

**To Reproduce**

Run project in additional context

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:
 - Output of `java -v

[2020-11-02 20:22] gsmet commented on #13042
OK. So it has absolutely nothing to do with the Elasticsearch dependency.

Any logging done in a `@QuarkusMain` class is ignored and even more of a problem, the logging is all borked.

You end up with:
[code]

There are several issues here:
- the logs added in the `@QuarkusMain` class are ignored
- just defining a logger here breaks our logging layer
- the nice touch is that the banner gets logged

[2020-11-02 20:23] gsmet commented on #13042
Oh and btw, I converted the logging to JBoss Logging just to be sure and we have the exact same issue.

[2020-11-02 20:26] gsmet commented on #13054
I really don't think it's something we will want to do on our own.

@stuartwdouglas WDYT?

[2020-11-02 20:26] gsmet commented on #13054
/cc @dmlloyd too as you might have insights on the GraalVM side.

[2020-11-02 20:29] dmlloyd commented on #13054
It's doable. GraalVM have said "no" (https://github.com/oracle/graal/issues/673) but it should be possible as you say.

[2020-11-02 20:31] gsmet commented on #13047
Yeah I haven't backported this change because it also changed things related to new features introduced in 1.10.

I have fixed the dead link in 1.9 here: https://github.com/quarkusio/quarkus/pull/13074

1.9.2.Final should be released soon enough.

[2020-11-02 20:31] gsmet commented on #13047
Thanks for taking the time to report it!

[2020-11-02 20:35] dmlloyd commented on #13042
Do you mean that you added the `log4j2-jboss-logmanager` as described in the docs, and got the same result?

[2020-11-02 20:45] gsmet commented on #13042
No, I used JBoss Logging directly. It has nothing to do with log4j2, slf4j or whatever.

It's really about using any sort of logging in a `@QuarkusMain` class.

What I did was:
- take the reproducer
- in the `Main` class, use JBoss Logging instead of Slf4j to be extra sure
- `mvn clean install`
- `java -jar target/code-with-quarkus-1.0.0-SNAPSHOT-runner.jar`

[2020-11-02 20:46] gsmet commented on #13042
It's a recurrent issue we had before when we accessed the logging layer too early.

What I'm not sure is if it's by design and we can't do anything for `@QuarkusMain` classes or if it's an oversight.

[2020-11-02 20:51] dmlloyd commented on #13042
I guess then the problem is likely that the `java.util.logging.manager` system property isn't set early enough.

[2020-11-02 20:54] gsmet commented on #13054
@dufoli do you have a specific use case?

[2020-11-02 21:43] hartimcwildfly commented on #10264
Should this be fixed at build time?

[2020-11-02 22:06] #11975 closed

[2020-11-02 22:08] Sanne commented on #11975
finally fixed as we upgraded ORM. Thanks again!

[2020-11-02 22:34] sherl0cks opened #13078 "com.amazonaws.xray.interceptors.TracingInterceptor Native Image Failure"
**Describe the bug**
Fix from #12842 fails in native builds.

**Expected behavior**
Tracing Interceptor is Created in AWS SDK Clients

**Actual behavior**
[code]

**To Reproduce**

See #12842

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `java -version`:  openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-b09)
OpenJDK 64-

[2020-11-02 22:52] dufoli commented on #13054
Indeed it was because, I was thinking to the fact that java is not used compair to other language (python, ...) for machine learning. I discover deep java library and thinking that it can be awesome to have a neural network available on quarkus. I discover that there is someone who have work on it on https://github.com/apache/camel-quarkus/issues/1598
. But native support is not working before it

[2020-11-02 22:54] ebullient opened #13079 "Upgrade Micrometer to 1.6.1"
Need to work around a few different issues before moving up to Micrometer 1.6.0

* Some incubating API methods were dropped in 1.6.0 (pre-register tags on Timer Sample)
* micrometer-metrics/micrometer#2330 -- NullPointerException in JvmMemory.isOldGenPool in 1.6.0 for AdoptOpenJDK
* micrometer-metrics/micrometer#2334 -- IllegalArgumentException for Hibernate

[2020-11-02 23:31] #13035 closed

[2020-11-02 23:57] sherl0cks commented on #13078
Also looks like the service client producers are not annotated with `@Default`, so when creating my own CDI producers, I needed to use `@AlternativePriority` so avoid ambiguous dependency errors. https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-services/dynamodb/runtime/src/main/java/io/quarkus/amazon/dynamodb/runtime/DynamodbClientProducer.java#L28-L30

[2020-11-02 23:57] hartimcwildfly commented on #10264
The role mapper is defined in the elytron security domain. The role mapper would also apply to other security-realms. So please rename the issue to: elytron security: define role mapper

[2020-11-03 00:11] sherl0cks commented on #10162
Came across this issue. Be advised of https://medium.com/graalvm/graalvm-20-1-7ce7e89f066b. Works great in my testing so far. Had significant issues pre graal 20.1

[2020-11-03 00:56] stuartwdouglas commented on #13054
Maybe we could have a Quarkiverse extension? I started one here just to play around with what would be involved: https://github.com/stuartwdouglas/quarkiverse-jna

Unfortunately it is not going to be as simple as just registering some stuff for reflection. The first error that pops up is https://github.com/java-native-access/jna/blob/54c84a34f82d1e8148b0ed3808b64db4d1f79df3/src/com/sun/jna/interna

[2020-11-03 01:20] stuartwdouglas commented on #12820
cc @cescoffier

[2020-11-03 01:49] stuartwdouglas commented on #13042
I just tested this and I see the logging working fine.

[2020-11-03 05:30] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/342970676

[2020-11-03 06:27] geoand commented on #13042
I also tested and it worked as expected

[2020-11-03 06:54] geoand commented on #13044
Thanks for reporting this and for the reproducer.

I'll have a look soon.

[2020-11-03 07:27] Meemaw commented on #13029
Any idea if this can be fixed on Quarkus side? @gsmet

[2020-11-03 07:35] #12824 closed

[2020-11-03 08:10] geoand commented on #13067
@aureamunoz would you like to take a look at this one?

[2020-11-03 08:15] aureamunoz commented on #13067
Yep! will do

[2020-11-03 08:16] geoand commented on #13067
Thanks!

[2020-11-03 08:22] geoand commented on #13054
Riding the AI / ML wave in Quarkus would be awesome, but at this point I really think that any work in that direction should probably be done outside of Quarkus core.

[2020-11-03 08:26] dinabogdan opened #13081 "Testcontainers not working as expected with QuarkusTest"
I've created a `@Testcontainers` and `@QuarkusTest` according to the Testcontainers documentation for JUnit 5.

You can find the documentation [here](https://www.testcontainers.org/quickstart/junit_5_quickstart/).
The problem is that if I'm not manually starting and stopping the container by calling `container.start()` and `container.stop()`, then the container will not be automatically started by

[2020-11-03 08:40] gsmet commented on #13042
Have you run the jar? Logging is working in the tests but I definitely see the issue when launching the runner jar.

[2020-11-03 08:42] geoand commented on #13042
Yup, I only ran the jar :)

[2020-11-03 08:50] cescoffier commented on #12820
Oh yes, that's a known issue. I need to improve the wiring.

[2020-11-03 09:11] gsmet commented on #13042
Ah ah funny. I made too many experiments.

So, here is the situation:
- if `quarkus-elasticsearch-rest-high-level-client` is in the pom, you don't have the log lines added with the SLF4J API in the log output but the log output is fine.
- if you remove this extension from the pom (so for most applications), the log is borked.

I thought the fact that it "works" (quotes because you don't have the l

[2020-11-03 09:20] geoand commented on #13042
I can confirm that with the reproducer you mentioned above that logging is indeed busted

[2020-11-03 09:39] Sabartius opened #13084 "Webdav/Custom-Verbs not working in Undertow-Servlets"
**Describe the bug**
We're trying to port a Wildfly-Application to Quarkus, which has a custom WebDav-Servlet. After registering the Servlet in quarkus-undertow, part of it works fine, but as soon as a web-dav specific http-verb is used in the request, the servlet is not working. The cause we found was, that the http-method in the `HttpServletRequest` is not anymore the original http-verb like `LO

[2020-11-03 10:06] #12829 closed

[2020-11-03 10:14] geoandri commented on #12500
Hi @gastaldi ,

I have opened an MR for this. Who should I ping for a review?

[2020-11-03 10:28] sberyozkin commented on #13056
This issue has now been fixed thanks to Alexey's PR and Guillaume spotting me closing this issue too early :-)

[2020-11-03 10:28] #13056 closed

[2020-11-03 10:31] #13013 closed

[2020-11-03 10:44] sberyozkin commented on #13023
@majonga88 OK, thanks, so all is quite clear now:

- you get a redirect loop if you request the userinfo - as I said the reason behind it is that when the userinfo request fails we report the wrong exception (the one which requires an authentication challenge - which in terms of OIDC code flow is a redirect to Auth0 in your case - but since you've already authenticated there Auth0 is silently redi

[2020-11-03 10:53] JiriOndrusek commented on #13054
I don't have enough experience with jna, but it seems, that some kind of usage with graalvm is possible and example is on the way - https://github.com/oracle/graal/issues/2261#issuecomment-703195020

[2020-11-03 11:09] radcortez commented on #13061
It probably makes sense to set these defaults globally, so developers can reuse the configuration keys if they need it for any reason and have the same behaviour.

@knutwannheden alternatively, you can ```@Inject Provider<JWTAuthContextInfoProvider> context;``` and use the SR JWT bean that injects the configuration to get the right values.

[2020-11-03 11:12] majonga88 commented on #13023
@sberyozkin Thank you for that. The curl :

[code]

[2020-11-03 11:17] knutwannheden commented on #13061
@radcortez Thanks. Yes, using an injected `Provider<JWTAuthContextInfoProvider>` will work nicely in my case. Although I assume the config properties are the "public" API and therefore probably slightly more future-proof with regards to potential refactorings in `smallrye-jwt`.

[2020-11-03 11:21] radcortez commented on #13061
Yes, we need to fix this. I just wanted to provide you a workaround for now :)

[2020-11-03 11:31] aloubyansky commented on #11725
Thanks @huw0 #13087 fixes your reproducer.

[2020-11-03 11:49] gastaldi commented on #12500
@geoandri thank you very much! I added a few people that recently used that command.

[2020-11-03 12:22] geoandri commented on #12500
Many thanks @gastaldi .

[2020-11-03 12:23] renegrob commented on #13044
Since I still have a lot of issues using Spring Data Jpa with Quarkus, I checked out the source code and started debugging. It seems that in the case where @Query is annotated the code goes wrong at io.quarkus.spring.data.deployment.generate.CustomQueryMethodsAdder line 228. The query is known - no need for method parsing. All it needs to do is create that method an execute the JPA query. Based on

[2020-11-03 12:49] sberyozkin commented on #13023
@majonga88 OK, so this token is a JWT token while we are assuming you are dealing with the binary access token.
In that comment where you typed a curl request to the token endpoint, what is returned, can you type it here ?

[2020-11-03 12:53] majonga88 commented on #13023
@sberyozkin Here is the curl request for token endpoint :

[code]

And result :

[code]

[2020-11-03 14:16] knutwannheden opened #13091 "Document config property smallrye.jwt.verify.key.location"
**Description**
As already noted in https://github.com/quarkusio/quarkus/issues/9791#issuecomment-713769020 the current version of the [JWT guide](https://quarkus.io/guides/security-jwt#additional-smallrye-jwt-configuration) does not document the `smallrye.jwt.verify.key.location` property which was added in `smallrye-jwt` 2.3.0 (see https://github.com/smallrye/smallrye-jwt/pull/305). The current

[2020-11-03 14:24] sberyozkin commented on #13091
@knutwannheden Hi, can you please open a PR which will bring [this doc line](https://github.com/smallrye/smallrye-jwt/pull/305/files#diff-b7d1a0bcdd003998968e69aad0fd168ea2c5cd8eb083ad27ee60206b9783fffaR34) to Quarkus smallrye-jwt docs ? I just don't have time right now, can only do a bit later, thanks

[2020-11-03 14:26] sberyozkin commented on #13091
@knutwannheden Oh, you have been faster than me with my suggestion :-) , great, thanks

[2020-11-03 14:29] geoand commented on #13044
The reason the count query exists is to deal with paging. However in this case there is obviously no paging going on, so it should not cause problems.
The fact that it is, is a bug.

[2020-11-03 14:33] sberyozkin commented on #13023
@majonga88 OK, thanks, so both ID and access tokens are JWT tokens and indeed it is the access token which contains a custom `permissions` claims.

Did you say you had 403 when you were setting `quarkus.oidc.roles.source=accesstoken ` with your own demo ? Can you try it again, and make sure you set `quarkus.oidc.roles.role-claim-path=permissions` and have `@RolesAllowed("read:appointements", "read

[2020-11-03 14:41] #12500 closed

[2020-11-03 15:06] antoniomacri commented on #13048
We started with Scheduled some months ago, when concurrentExecution was not yet implemented, and then we had to switch to Quartz API.

Now we're trying to return to Scheduled: does the `concurrentExecution = SKIP` work also in clustered mode? Does it prevent concurrent executions on any node?

The other problem is about running a job on _each_ node, while having `quarkus.quartz.clustered=true`. Th

[2020-11-03 15:11] sberyozkin opened #13094 "Support the registartion of the arbitrary 3rd party security providers"
**Description**
We have already started on this path and have optimized around `BC` and `BCJSSE` providers but many more are available
**Implementation ideas**

User should just be able to do something like this in the configuration alone without having to register the provider manually in the code:
[code]
etc

[2020-11-03 15:21] #13091 closed

[2020-11-03 15:29] mkouba commented on #13048
Nope, it would only prevent concurrent execution on a single node.

Hm, if I understand it correctly a clustered job is always executed on a single node. But I'm not sure whether clustered jobs play nice together with `@PersistJobDataAfterExecution` and `@DisallowConcurrentExecution`. Maybe @machi1990 knows more?

[2020-11-03 15:31] majonga88 commented on #13023
@sberyozkin

No i don't have any 403 appears in my chrome console when i do authentification :

![image](https://user-images.githubusercontent.com/46779480/98005420-4cef3100-1df1-11eb-91a5-44bc7880dc22.png)

I try it but i have the same behaviour, it loop on authentification with this error : `Cannot decode token:: java.lang.RuntimeException: Not enough or too many segments`

Yes, sure. Here is th

[2020-11-03 16:01] sberyozkin commented on #13047
Not sure why closing #13074 did not close this issue, or, Guillaume, would you like to keep it open till the release is out ? (I closed one other issue today after the merged PR kept that issue open, but now I'm not sure :-) )

[2020-11-03 16:22] machi1990 commented on #13047
I was asking myself a similar question. I'd assume so, 1.9.2.Final should be out by tomorrow (which will include website updates), I suppose from there this issue can be closed.

[2020-11-03 16:48] gsmet commented on #13047
Yeah, this can be closed.

[2020-11-03 16:48] #13047 closed

[2020-11-03 16:48] #11391 closed

[2020-11-03 16:49] sberyozkin commented on #13023
@majonga88
`403` is mentioned here:
https://github.com/quarkusio/quarkus/issues/13023#issuecomment-719957210

What was that about then ?

OK, thanks for debugging it, all seems to be correct, so where is `Not enough or too many segments` coming from ?
It can only happen if a token is now a signed JWT token. It just looks like what you get with curl does not correspond to what you get with Quarkus.

[2020-11-03 17:01] #11096 closed

[2020-11-03 17:19] ia3andy opened #13095 "Regression/Change of behavior for root path when using quarkus-funqy-http on master"
**Describe the bug**
When using `quarkus-funqy-http`, index.html is not displayed anymore when using the root path. If this is expected, please make this a configuration parameter.

This is blocking for codestarts because as soon as funqy is added, then the index.html is not accessible anymore from the root path.

**Expected behavior**
By default, the root should point to the index.html and not th

[2020-11-03 17:22] matejvasek commented on #13095
@ia3andy I am going to look at it.

[2020-11-03 17:26] matejvasek commented on #13095
I did it to be more consistent with `quarkus-funqy-knative-events` which is handling `/`.

[2020-11-03 17:26] majonga88 commented on #13023
@sberyozkin The 403 appears when i execute this request (http://localhost:8080/?code=57VpewRDgvBCLIAs&state=457304d5-9917-484a-853c-e0d6ee393b50) directly on browser to see what's going on, i don't think it's an issue here.

For debugging :

Before this breakpoint i already have the error : Cannot decode token:: java.lang.RuntimeException: Not enough or too many segments

Then here :

[code]
I hav

[2020-11-03 17:32] ia3andy commented on #13095
well, this should be configurable, and I would opt for having the previous behavior as default.. @maxandersen @patriot1burke @gsmet thoughts?

[2020-11-03 17:33] matejvasek commented on #13095
Should that be also changed for `quarkus-funqy-knative-events` which is handling root?

[2020-11-03 17:33] ia3andy commented on #13095
`quarkus-funqy-knative-events` knowingly breaks the compat because there is no other choice I think..

[2020-11-03 17:37] gsmet commented on #13095
Does it make sense to have an index.html for a function? I'm not sure it
does.

On Tue, Nov 3, 2020 at 6:26 PM Matej Vasek <notifications@github.com> wrote:

[2020-11-03 18:32] sberyozkin commented on #13023
@majonga88

So if you `have an opaqueAccessToken : wilUz6rDryuB0NOAr30PaDDhGYKU6CDT` then why are you posting the curl examples where JWT tokens are used :-) ? We are just going in circles while in fact you have an opaque token which is impossible to verify because Auth0 has no introspection endpoint.
So setting the access token as the source of roles in your case is just not going to work for now

[2020-11-03 18:34] sberyozkin commented on #13023
Or set a breakpoint [here](https://github.com/quarkusio/quarkus/blob/1.9.1.Final/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java#L263)

[2020-11-03 19:12] majonga88 commented on #13023
@sberyozkin Sorry, I withdraw what I said previously, for the 403. I got this error when i try with userinfo Quarkus parameter, i change `quarkus.oidc.roles.source=accesstoken` to `quarkus.oidc.roles.source=userinfo`, and i changed the signing algorithm RS256 to HS256 on Auth0.

And i got this 403 when the application trying to redirecting on this url : `http://localhost:8080/?code=KhcuMPIzqaSfWtb

[2020-11-03 19:27] #13044 closed

[2020-11-03 20:03] dhoffer commented on #12980
@famod @gsmet
Okay I was finally able to find the cause of this bug.  It's a pretty strange one it seems to me.

Here is what it takes to reproduce this issue:
- Create an Entity that has a Set/Collection using @OneToMany (defaults to Lazy fetch)
- Create an @NamedEntityGraph that will configure the above field to be @NamedAttributeNode (this will tell hibernate to fetch this in the select using j

[2020-11-03 21:12] patriot1burke commented on #13095
quarkus-funqy-knative-events needed to have a mapping for '/' because I didnt think there was a way to map a URL pattern with the knative router.

[2020-11-03 21:18] patriot1burke commented on #13095
I probably should have complained when this change was made.  funqy-http should be compatible with and deployable with other HTTP frameworks.

[2020-11-03 21:43] gsmet commented on #12980
@Sanne this looks like an issue in Hibernate ORM? I don't see how it could be Quarkus-related?

[2020-11-03 22:44] djob opened #13100 "Entity Manager null when implementing Panache Repository with hibernate"
**Describe the bug**
I'm trying to implement Panache Repository with hibernate ORM. When calling repository.listAll() it throws

`Caused by: java.lang.NullPointerException
	at io.quarkus.hibernate.orm.panache.common.runtime.CommonPanacheQueryImpl.createBaseQuery(CommonPanacheQueryImpl.java:362)`

**Expected behavior**
repository.listAll() should return all entries from table

**Actual behavior**
r

[2020-11-04 05:31] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/344888311

[2020-11-04 07:30] machi1990 commented on #13048
Yes, this is correct.

Yes, clustered jobs will only be run on a single node at a time. Which node gets picked is up to Quartz :-)

Not sure myself, I've not tried this combination yet.

After reading this issue again, I had a thought of maybe being able to configure multiple `Schedulers` just like what we have for `Datasource` or the `MongoClient`. With this, a user may be able to indicate by whi

[2020-11-04 08:26] mkouba commented on #13048
@machi1990 Hm, I'm not quite sure I like this idea. This is more or less a corner case.

@antoniomacri In any case, you can leverage the Vertx scheduling facility as a workaround, see for example https://stackoverflow.com/questions/58755470/programmatic-scheduling-what-is-the-best-approach/60275796#60275796.

[2020-11-04 08:55] BeneStem commented on #13031
@loicmathieu can I help you guys in any way to resolve this problem?
Could you reproduce it?
Or am I just too stupid to make it work?

[2020-11-04 09:02] galderz commented on #12938
Updated the description to better match the expected behaviour. PR incoming.

[2020-11-04 09:54] ia3andy commented on #13095
@patriot1burke so what do you suggest?

[2020-11-04 10:14] FroMage commented on #13100
@gsmet could this be related to the relatively new addition of multiple persistence units and the fact that this is configured with a `persistence.xml` file, and we end up with no default entity manager somehow? Just a wild guess.

[2020-11-04 10:32] sberyozkin commented on #13023
@majonga88 np, OK, `403` is logical because as you see, the userinfo response contains no roles information at all.
The likely reason you did not get the breakpoint activating is because you may have not set `quarkus.oidc.authentication.user-info-required`. But I'd not expect anything else but 403 here anyway, so lets not continue investigating it.

But what really remains to figure out in this is

[2020-11-04 10:43] arturs-cc opened #13103 "Using asSequence.chunked(...) causes native mode to fail"
**Describe the bug**
Native mode fails to run when using .`asSequence().chunked(...)` for some reason. Problem doesn't exist when using JVM

First thing that happens is actually something that has been seen in other issues before:
[code]
Similar/Same issue has been seen here (however seemingly not related to this):
https://github.com/oracle/graal/issues/2306
https://github.com/quarkusio/quarkus/is

[2020-11-04 10:43] elrob commented on #11923
Thank you. I went down a rabbit hole of trying to deal with the native compilation errors like the tips described in this post but I ended up giving up. https://stackoverflow.com/questions/63328298/how-do-you-debug-a-no-instances-of-are-allowed-in-the-image-heap-when-buil

[2020-11-04 10:47] elrob commented on #11923
Comment from the PR: https://github.com/quarkusio/quarkus/pull/13037

[2020-11-04 10:52] rsvoboda opened #13104 "QuarkusBootstrap can't resolve quarkus-bom-quarkus-platform-properties:properties:999-SNAPSHOT when running integration-tests"
QuarkusBootstrap can't resolve quarkus-bom-quarkus-platform-properties:properties:999-SNAPSHOT when running integration-tests. I do `mvn deploy` of Quarkus master into the Artifactory instance to avoid building Quarkus master in every job I need to run against Quarkus master.

I do run some DB tests from integration-tests module and they fail with the error `Caused by: io.quarkus.bootstrap.Bootstr

[2020-11-04 10:55] gsmet commented on #13078
@sherl0cks could you test https://github.com/quarkusio/quarkus/pull/13105 ?

See https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master (except you checkout my PR branch).

If I have your blessing before this evening, I'll incorporate it into 1.9.2.Final.

Unfortunately, I was unable to add a test, looks like XRay needs some infrastructure. If you end

[2020-11-04 11:01] majonga88 commented on #13023
Ok so i retest it, i add `quarkus.oidc.authentication.user-info-required=true` and i go when i do breakpoint [here](https://github.com/quarkusio/quarkus/blob/1.9.1.Final/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcIdentityProvider.java#L263)

I get this token : `zlkArY7A_VASvQq5c7aMv-Ut9gPj19fa`

I get in there : OAuth2TokenImpl#userInfo and the request is : https://dev-0-77r

[2020-11-04 11:05] Sanne commented on #13100
@FroMage I'd say that's a reasonable guess, especially as the `persistence.xml` strategy requires assigning a "name" to each persistence unit.

Assuming that's the underlying cause, I propose two improvements:

 - We should still be able to treat a named persistence unit as the default one, when it's the only one.
 - Panache should fail much earlier, on injection failure. It also seems that "null"

[2020-11-04 11:08] FroMage opened #13106 "Qute: support boolean/ternary expressions everywhere"
ATM it appears that boolean expressions and comparison operators are only available in `#if` tags. I tried using them in the `{bool ? expr1 : expr2}` ternary and they didn't appear to work.

If it's at all possible with the internals, we should make sure that every expression passed to a any tag is evaluated with the same grammar, like in programming languages we have statements and expressions, a

[2020-11-04 11:10] FroMage opened #13107 "Qute: fishy `#if` expressions"
I tried several variations of `{#if foo.bar == 'something' || foo.bar == 'other'}` and got mixed results, but not valid results. I think the second boolean operand was ignored, or random.

For some reason, `{#if (foo.bar == 'something') || (foo.bar == 'other')}` got me an error.

[2020-11-04 11:12] gsmet commented on #13100
That's exactly what we do. I don't know exactly what's going on here.

@djob could you prepare a small Maven reproducer showing the issue? Thanks.

[2020-11-04 11:14] FroMage opened #13108 "Qute: support enums"
I need to do comparisons with enums, but I'm not sure how to do them except as: `{#if enum.name() == 'SOMETHING'}` which is an OK workaround, but perhaps we could try to think of something better?

`{#if enum == io.quarkus.something.MyEnum.SOMETHING}` would be longer, and `{#if enum == MyEnum.SOMETHING}` would rely on supporting imports, while `{#if enum == SOMETHING}` would only work for `==` ope

[2020-11-04 11:16] gsmet commented on #13100
See https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmCdiProcessor.java#L112 for the existing logic.

[2020-11-04 11:16] FroMage opened #13109 "Qute: allow injecting by type"
We have lots of beans only defined by type, with no `@Name` annotation, can we allow `inject:io.quarkus.something.SomeThing` to get type injection for beans with no name?

[2020-11-04 11:17] FroMage commented on #13107
I got random results from `{foo.bar > 99 ? 'less' : 'more'}` too, but I'm not sure if it's related to this issue or the #13106 one.

[2020-11-04 11:18] gavinking commented on #13108
Well the question is do we know the type of `enum` at the time we are typechecking the template. Because if we do, we can just let you write `SOMETHING` and we are good.

But if you *dont* know the type of `enum` then that's a problem.

[2020-11-04 11:20] gavinking commented on #13108
PS I don't see the syntax itself as fragile at all. Lots of languages let you write equivalent things.

[2020-11-04 11:23] FroMage commented on #13108
Right, so this would only work when we typecheck the templates, but also, that would only work for `==` and `!=` I guess? Or are there other operators where this would magically work? It also supposes that we must first ascertain whether any side of the comparison is an enum before being able to parse the other side to allow for enum values.

[2020-11-04 11:23] Sanne commented on #13100
sure, I remember that @gsmet . Just wondering if something isn't getting us into this path in this case. +1 to need a reproducer

[2020-11-04 11:25] gsmet commented on #13100
Also, while I would like to go to the bottom of this to avoid further issues, I see no reason here to use a `persistence.xml`. Using `application.properties` to define the PU would be far more beneficial.

But let's wait for a reproducer so that we can have a look at what's going on.

[2020-11-04 11:26] sberyozkin commented on #13023
@majonga88 Good you've confirmed the user info itself can be retrieved, but lest stay focused now on the issue of the loop.
As I've already said `quarkus.oidc.roles.source=userinfo` does not make sense in your case.
I'd really like to close this issue now :-), but I'm still interested to find out under what conditions it starts looping. Try to reproduce it

[2020-11-04 11:38] mkouba commented on #13107
I can confirm that we fail to parse `{#if (foo.bar == 'something') || (foo.bar == 'other')}` and that's a bug. However, I get consistent (and correct) results for `{#if foo.bar == 'something' || foo.bar == 'other'}`. Can you describe your use case in more details or even better - could you provide a test?

`{foo.bar > 99 ? 'less' : 'more'}` is not supported ATM and [it's documented](https://quarku

[2020-11-04 11:52] mkouba commented on #13109
We could easily implement something like `{inject:byType('io.quarkus.something.SomeThing')}` or something similar. But I'm not quite sure it's a good idea. First of all, I don't think that all beans should be accessible from the templates (that's what JBoss Seam did for EL and I remember some security issues connected to this fact). Furthermore, the type is only half of the story - we would have t

[2020-11-04 11:57] rsvoboda opened #13110 "Enhance metadata for security guides so the search under https://quarkus.io/guides provides relevant guides"
Enhance metadata for security guides so the search under https://quarkus.io/guides provides relevant guides

As part of https://github.com/quarkusio/quarkus-quickstarts/pull/705 I was checking guides related to Keycloak.
The guides I was looking for were https://quarkus.io/guides/security-openid-connect-web-authentication and https://quarkus.io/guides/security-keycloak-authorization, I ended up gu

[2020-11-04 11:58] rsvoboda commented on #13110
@sberyozkin if you can look into it ...

@gsmet / @cescoffier fyi

[2020-11-04 12:03] aloubyansky commented on #13104
@rsvoboda strangely, I couldn't reproduce it following the instructions

[2020-11-04 12:05] mkouba commented on #13110
@maxandersen Do you happen to know why was this issue labeled with area/arc?

[2020-11-04 12:06] rsvoboda commented on #13104
I have partial success on some combinations, it's like 6x fail, 4x pass

[2020-11-04 12:07] mkouba commented on #13106
Yes, `{bool ? expr1 : expr2}` works but you cannot use [nested operators](https://quarkus.io/guides/qute-reference#built-in-operators) ATM.

The [value expressions](https://quarkus.io/guides/qute-reference#expressions) are currently designed a little bit differently, i.e. not as a full featured statements or expressions. That said, it should be fairly easy to implement simple operators (such as `f

[2020-11-04 12:08] aloubyansky commented on #13104
Are you simply running `mvn -f integration-tests/jpa-postgresql/pom.xml clean verify -Denforcer.skip=true -Ddocker -Dtest-postgresql -Dpostgresql.image=postgres:12.3 -s my-settings.xml -Dmaven.repo.local=/Users/rsvoboda/Downloads/my-maven-repository` over and over again?

[2020-11-04 12:10] rsvoboda commented on #13104
My previous comment was referring to my CI job, I pasted the link on Zulip chat

[2020-11-04 12:20] sberyozkin commented on #13110
@rsvoboda One thing I'd like to keep is `https://quarkus.io/guides/security` being a central entry into everything related to Quarkus security. The major problem we had before is that there was a lot of confusion when to use what, example, in the OIDC space, so there we have for ex OIDC `web-app`, `service` and `keycloak-authoprization` guides, and I recall having to answer questions when to use w

[2020-11-04 12:28] Sanne commented on #12980
@gsmet I agree, we need to check if this works in Hibernate ORM vanilla.

Need to find a volunteer in the ORM team to investigate that.

@dhoffer many thanks for the reproducer, that's very useful.

[2020-11-04 12:41] sberyozkin commented on #12755
@haraldatbmw you can reset a principal in a [custom](https://quarkus.io/guides/security-customization#security-identity-customization) `SecurityIdentityAugmentor`, `UserInfo` is available as a `SecurityIdentity` `userinfo` attribute

[2020-11-04 12:54] rsvoboda commented on #13110
I'm fine with https://quarkus.io/guides/security being a central entry into everything related to Quarkus security.

The problem I have is that this guide didn't pop up when I searched for 'oidc', 'keycloak', 'sso' keywords in 'Find a Guide' search box. This is quite an issue for end users.

Sure I can click on `Security` in View Category section and then click on `Security Architecture and guides

[2020-11-04 13:12] sberyozkin commented on #13110
@rsvoboda

Was it not your preferred option ?  I'd imagine, there would be the existing link to ` https://quarkus.io/guides/security`, plus OIDC gudes, Vault guildes (Vincent was suggesting it as well), IdentityProviders, etc. For example one someone types for either `sso` or `keycloak`, I'd really prefer to link to 4 existing OIDC guildes because `sso`, `keycloak` can imply anything from those 4

[2020-11-04 13:20] wgresshoff opened #13113 "Character escaping in Qute doesn't work"
**Describe the bug**
Characters like '&' aren't escaped.
[qute-test.zip](https://github.com/quarkusio/quarkus/files/5487996/qute-test.zip)

**Expected behavior**
Characters like '&', '"', ... should be escaped to '&amp;', '&quot;' etc.

**Actual behavior**
The html output contains invalid characters like '&' ...

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue

[2020-11-04 13:23] krayba opened #13114 "Native image build fails with 1.9.1.Final of Quarkus with Graal VM even though i have marked classes to be initialised during runtime."
[INFO] [io.quarkus.deployment.pkg.steps.JarResultBuildStep] Building native image source jar: /Users/kedarraybagkar/MyData/pbs/ice-store-workspace/ice-store/target/ice-store-0.1.0-native-image-source-jar/ice-store-0.1.0-runner.jar
[INFO] [io.quarkus.deployment.pkg.steps.NativeImageBuildStep] Building native image from /Users/kedarraybagkar/MyData/pbs/ice-store-workspace/ice-store/target/ice-store-

[2020-11-04 13:33] rsvoboda commented on #13110
sounds like we need our own google search engine:) From your example I would prefer to find all 4 existing OIDC guides.

So the source of search feature seems to be https://github.com/quarkusio/quarkusio.github.io/blob/develop/_data/guides.yaml,  there are no metadata / keywords.
It seems the search is performed across the words from the description and title.

when I search for `security` I get h

[2020-11-04 13:36] mkouba commented on #13108
I don't think that `{#if enum == SOMETHING}` is implementable with the current design and API... I'll need to walk through the code.

`{#if enum == MyEnum.SOMETHING}` can be used easily if you pass the enum class as the template data or otherwise make it accesible (e.g. `template.data("enum", MyEnum.TWO, "MyEnum", MyEnum.class)`) and add the following extension method (we could make it a built-in

[2020-11-04 13:43] FroMage commented on #13106
Yeah, it would be nice to make value expressions full-fledged expressions, that's much more intuitive and useful.

[2020-11-04 13:45] FroMage commented on #13107
It was actually `{#if foo.bar != 'something' && foo.bar != 'other'}` that didn't work, I checked. Apparently the first expression was ignored and only the second test was taken into account.

[2020-11-04 13:48] FroMage commented on #13109
Well that requires users to write an extra class for something they can already look up.

As for security, I don't think it's a safety feature that we only allow named beans to be used, because we don't tell people to not name security-sensitive beans.

[2020-11-04 13:52] patriot1burke commented on #13095
Roll it back I guess.  I don't really have a strong opinion on this.  Some perspective though is that you can't publish 'index.html' or other resources via AWS Lambda or Knative events deployment of Funqy and Funqy is supposed to be portable.

[2020-11-04 13:53] loicmathieu commented on #13031
@BeneStem can you provide a reproducer please ? Attached as zip in this issue of as a github project.

[2020-11-04 13:56] mkouba commented on #13109
No, but `@Named` is a well-defined concept in the context of CDI so users should know what they do...

[2020-11-04 14:06] mkouba commented on #13107
I'm sorry but I'm not able to reproduce it. My test looks like:
[code]

[2020-11-04 14:14] majonga88 commented on #13023
@sberyozkin I'm confused what's you said "does not make sense in your case" for userinfo, because Auth0 don't bring any introspectionPath for checking opaque token, and they promote to use userInfo instead.

Anyway, i check again with this parameter `quarkus.oidc.roles.source=accesstoken` and i didn't see any break when the redirection is executed on Quarkus side. My idea is Auth0 force to redirec

[2020-11-04 14:16] #13023 closed

[2020-11-04 14:45] FroMage commented on #13107
Try:

[code]

[2020-11-04 14:59] sberyozkin commented on #13023
@majonga88 I'm confused when you said "does not make sense in your case" for userinfo

You are asking Quakus OIDC to use the content returned from the user info endpoint, and as you have seen yourself, this content has no information about the roles.
Likewise, earlier on, where you were asking Quarkus OIDC to use the access token as a source of roles, again you confirmed the token was opaque/binar

[2020-11-04 15:07] mkouba commented on #13107
@FroMage Wait a minute, if `bar` is `something` then the first part of the condition is `false` and thus `NOK` should be rendered, or? I'm a bit slow today so I'm probably missing something obvious...

[2020-11-04 15:08] sberyozkin commented on #13110
Hi @rsvoboda I can definitely add some metadata there, but should `https://quarkus.io/guides` have top-level links not only to ` https://quarkus.io/guides/security` but also to OIDC and other standalone security guides for these metadata be effective ?
FYI, `smallrye-jwt` link from `https://quarkus.io/guides` should be located alongside the `https://quarkus.io/guides/security`, I'll fix it as well

[2020-11-04 15:29] FroMage commented on #13107
Haha, yes, sorry you're right. My point was that in my experience, when `bar` was `something` I still got `OK` instead of the `NOK` I was expecting.

[2020-11-04 16:35] matejvasek commented on #13095
When rollback, please don not revert whole https://github.com/quarkusio/quarkus/pull/12863, there is also some fix for `knative-events` in it, so rollback only HTTP part.

[2020-11-04 16:49] sberyozkin commented on #12754
The original PR was faulty, a new one will fix it soon

[2020-11-04 16:54] pflorek commented on #11549
I have also having Jackson 2.11.3 with Quarkus 1.9.1 and Kotlin 1.4.10

JUnit tests are green. Running simple `fun main()` from IntelliJ works. Downgrading Kotlin to 1.3.72 works. But starting `quarkusDev` results in **Caused by: java.lang.AssertionError: Built-in class kotlin.Any is not found**

The reason for me [jackson-module-kotlin](https://github.com/FasterXML/jackson-module-kotlin/blob/2.11

[2020-11-04 17:05] ia3andy commented on #13095
@matejvasek best if you do it ;-)

[2020-11-04 17:15] dmlloyd commented on #11744
I think this could lead to hard to debug problems.  Why does it need to be ambiguous?

[2020-11-04 17:27] NathanQingyangXu commented on #12980
I investigated ending up with the following two discoveries:

1. There is a bug in Hibernate v5 that 'padding' batch style will ignore entity graph semantic;
2. Hibernate ORM's batch style is 'legacy' by default but it seems the default value is 'padding' in this repo; not sure it is from Quarkus default setting?

[2020-11-04 17:52] #13113 closed

[2020-11-04 17:55] sherl0cks commented on #13078
@gsmet That change makes sense to me. Push in 1.9.2 if you can. I will test it later today.

[2020-11-04 18:24] #13078 closed

[2020-11-04 19:00] BeneStem commented on #13031
@loicmathieu sure thing – give me a minute to create the minimal project :)

[2020-11-04 19:04] gsmet commented on #12980
@NathanQingyangXu I confirm we enforce the padded batching in Quarkus.

[2020-11-04 19:12] BeneStem commented on #13031
[quarkus-mongodb-panache-kotlin-native.zip](https://github.com/quarkusio/quarkus/files/5490021/quarkus-mongodb-panache-kotlin-native.zip)

@loicmathieu here you go.

Please don't laugh about the german code. We are doing DDD and as our stakeholders and ubiquitous language is german most of the time there is a lot of german in the code ;)

Should not hinder you to reproduce the error or understand

[2020-11-04 19:24] manodupont commented on #4169
Sorry to interrupt, whats the fix exactly ?!? I did remove every logging stuff from my app and I still have that! Whats the dep I should exclude ?!

thanks

[2020-11-04 20:23] BeneStem commented on #13031
@loicmathieu I guess I found the issue by accident...

Using `ReactivePanacheMongoCompanionBase` and `ReactivePanacheMongoEntityBase` makes it fail.

Where as `ReactivePanacheMongoCompanion` and `ReactivePanacheMongoEntity` makes it compile :)

Now i need to find out why :P

[2020-11-04 20:23] manodupont commented on #3645
Now the JDK Support for 11 and Graal for JDK 11 too, and I still have this
[code]

[2020-11-04 20:27] BeneStem commented on #13031
And I narrowed it down further!

You are only allowed to use `org.bson.types.ObjectId` as Id for your `ReactivePanacheMongoCompanionBase` and `ReactivePanacheMongoEntityBase`. Using anything else will make it fail.

Is it supposed to be like that?
Most of the time you probably want to use ObjectId with MongoDB but at some migration cases you might need to use Int oder String...

So its probably no

[2020-11-04 20:40] diogocarleto commented on #12514
Same problem here, you just need to extend `PanacheMongoEntityBase` and it crashes, some like `java.lang.IllegalAccessError: class UserService tried to access protected field`.

[2020-11-04 20:50] NathanQingyangXu commented on #12980
Ticket was created here: https://hibernate.atlassian.net/browse/HHH-14312, which is assigned to me and I plan to work on it later.
As a temporary fix, we might specify `legacy` batching style to make the testing case green.

[2020-11-04 21:21] BeneStem commented on #13031
And one final comment...

It seems to be related to MongoDB-Panache in general and not reactive or kotlin extensions...

[2020-11-04 21:47] djob commented on #13100
In attachment you will find project setup which causes reported issue.
Regarding persistence.xml - the only reason why i'm using it is because IntelliJ works much better with it.

[github.zip](https://github.com/quarkusio/quarkus/files/5490655/github.zip)

[2020-11-04 22:05] SetoKaiba opened #13123 "Why is Infinispan Embedded extension removed?"
**Describe the bug**
Why is Infinispan Embedded extension removed?

[2020-11-04 22:35] djob commented on #13100
Interesting... Just tried to set it up via application.properties and getting same NullPointerException as well.
In addition i'm seeing some WARN level messages when running quarkus:dev:

[code]

[2020-11-04 22:55] gsmet opened #13126 "Missing reference in qute-reference.adoc"
I get these warnings when generating `qute-reference.adoc`:

[code]
It's not exactly obvious how this should be fixed so I prefer to let @mkouba take care of it.

[2020-11-04 23:29] djob commented on #13100
After upgrading quarkus to 1.9.1-Final version i'm getting following exception:

[code]

[2020-11-04 23:34] gsmet commented on #13100
I'll have a look tomorrow, thanks for the reproducer.

[2020-11-04 23:38] matejvasek commented on #13095
@ia3andy I could take care of it, but I will have time next week (or on Friday at best).

[2020-11-04 23:40] famod commented on #13081
There have been some discussions in #8097.

For now you could try:
- https://github.com/quarkusio/quarkus/issues/8097#issuecomment-620894139
- or https://github.com/quarkusio/quarkus/issues/8097#issuecomment-603234127 (maybe even via `@io.quarkus.test.junit.TestProfile`)

@geoand WDYT, should we close this one in favor of #8097 or do you want to track this one separately?

[2020-11-05 01:21] gwenneg commented on #12818
@mkouba Is there a way to fix that `interceptors on private methods` issue or should the cache extension forbid caching annotations usage on private methods?

[2020-11-05 01:30] zerocode commented on #5527
Did this ever get looked at? It's still causing pain and would be great if it could be revisited.

[2020-11-05 05:28] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/346861690

[2020-11-05 05:30] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/346860487

[2020-11-05 05:50] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/346860757

[2020-11-05 06:16] djob commented on #13100
Just letting you know that i manage to make it work by (as it seems) removing agroal as dependency.

My new pom.xml looks like:
[code]

and version of Quarkus is 1.9.1-Final. Also i'm using application.properties now for persistence configuration

[2020-11-05 06:48] kny78 commented on #11549
@pflorek I have tested with 2.12.0-rc1, and the same issue appeared. I also tried to upgrade Kotlin to 1.4.20-RC, but to no avail.

Also the same code runs without @QuarkusTest , but not with it.

See:
Fail: [https://github.com/kny78/quarkus-kotlin14-jackson-fail/blob/master/src/test/kotlin/im/kny/DeSerializeQuarkusTest.kt](https://github.com/kny78/quarkus-kotlin14-jackson-fail/blob/master/src/tes

[2020-11-05 07:07] maxandersen commented on #13110
If I should guess is that there is a rule that look for "arc" substring instead of " arc ". We should just remove the level Inn this case.

[2020-11-05 07:27] evacchi commented on #12486
seems like a network error (could not download artifact) but tried to restart the build and it went green then stopped immediately? :thinking:

[2020-11-05 07:36] geoand commented on #13081
@famod I agree, let's close this as a duplicate.

[2020-11-05 07:36] #13081 closed

[2020-11-05 08:09] mkouba commented on #12818
@gwenneg I don't think we could easily fix this. We would have to transform the bytecode and modify _all_ call sites which is probably not worth it. So I'd forbid the caching annotations on private methods...

[2020-11-05 08:19] mkouba commented on #13107
I will add a bunch of tests but I don't know how this could happen...

[2020-11-05 08:49] gsmet commented on #13023
@sberyozkin I think it would be worth investigating what Spring is doing and we are not.

[2020-11-05 08:51] gsmet commented on #12620
Let's wait for the CI job to go green.

[2020-11-05 08:51] ia3andy commented on #13095
@matejvasek so what do you think about reverting it all, then re-applying your PR with only the good part when you have time?

[2020-11-05 09:27] blsouthr opened #13129 "Request time not logged in access.log"
**Describe the bug**
I used [documentation](https://quarkus.io/guides/http-reference) to configure access.log and modified combined format to include time taken to process request %D or %{RESPONSE_TIME}  or %T

`quarkus.http.access-log.pattern=%{REMOTE_HOST} %l %{REMOTE_USER} %{DATE_TIME} "%{REQUEST_LINE}" %{RESPONSE_CODE} %b %{RESPONSE_TIME} %T`

The output:
`2020-11-05 10:16:04,569 INFO  [io.qua

[2020-11-05 09:28] loicmathieu commented on #13031
@BeneStem we do test using id other than ObjectId in our integration test so it should works.

This should be something related to Kotlin, @evanchooly can you have a look ?

[2020-11-05 09:38] sberyozkin commented on #5657
Hi All just a quick update that I did start with the oidc client branch but other issues have intervened, nonetheless, this issue is on the map

[2020-11-05 09:45] glefloch commented on #12620
Yes I'm working on a fix.

[2020-11-05 09:55] jtama-op commented on #13030
Same here

[2020-11-05 10:29] ctron opened #13133 "Container build fails with "error: Error -1 running transaction""
**Describe the bug**

Running the container build (fast-jar or not) fails

**Expected behavior**

Build succeeds.

**Actual behavior**

The build fails with the following error:

[code]

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps to reproduce the behavior:
1. Use

[2020-11-05 10:59] gsmet commented on #12620
FTR: https://gradle.com/s/6xervda24rw6q

[2020-11-05 11:00] gsmet commented on #13030
Could someone provide a reproducer?

Going through steps is usually a waste of time for us as we struggle to reproduce things.

Thanks!

[2020-11-05 11:30] slaskawi commented on #7893
I'm not convinced that securing access to the metrics and health endpoint solves the problem. Both health and metrics endpoint would still be accessible at the application context, which I believe is not the desired behavior.

Creating a separate HTTP Server for the management endpoints makes more sense to me. This way I could bind it to `127.0.0.1` and make is accessible from the localhost only.

[2020-11-05 12:13] jtama-op commented on #13030
The issue comes from the dependency between quarkus-rest-client and quarkus-rest-easy-common:
 In https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java#L186, capability Capability.RESTEASY_JSON is requested. Extension quarkus-rest-client-jackson declares Capability.REST_JACKSON, and ex

[2020-11-05 12:15] sberyozkin commented on #13023
@gsmet, and @majonga88, Hi,
 I'm sorry but given what @majonga88 has confirmed I don't believe @majonga88's setup can work with SpringBoot.
What I can imagine is that @majonga88's setup in the SpringBoot project is entirely different to the Quarkus project setup.

The reason I think it can be the case is that @majonga88 has posted the working example with SpringBoot showing that the access token i

[2020-11-05 12:42] oscarfh commented on #12871
@geoand Is this expected to be the case between test classes? Is there a way to force a "full shutdown" or clean the logger context?

[2020-11-05 12:49] rsvoboda commented on #13110
adding @ia3andy, he is probably the best person to say what is feasible now and what are the options towards the future.

[2020-11-05 12:49] #13126 closed

[2020-11-05 12:54] gsmet commented on #13110
Yeah in retrospect, I think it was an error as there's a good chance people think we don't have these features.

What I'm wondering is if we should do the following:
- rename the Security guide to Security Overview
- bring back all the guides
- add a note at the top of each guide saying "If you want an overview of all the Quarkus security features, please refer to the Security Overview guide."

[2020-11-05 12:55] gsmet commented on #13110
FTR, @vsevel also complained about the Vault features becoming far less visible.

[2020-11-05 12:57] #7788 closed

[2020-11-05 13:23] #12942 closed

[2020-11-05 13:32] mkouba commented on #12935
@speedfl This is not valid in the context of CDI because `@ApplicationScoped` beans are instantiated lazily...

That's a good point. However, it might make more sense to create a specific event for this, e.g. `HttpServerStarted`. @stuartwdouglas @gsmet WDYT? In theory, we could fire this event after [this line](https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main

[2020-11-05 13:50] gsmet commented on #13030
@jtama-op yes, the REST Clients JSON extensions should also produce this capability.

Do you want to take care of it and submit a PR?

[2020-11-05 13:55] majonga88 commented on #13023
@sberyozkin @gsmet I think the best way to handle fully Auth0 integration in Quarkus, is to provide an example like you doing for Keycloak. I think many people will asks same questions around Quarkus integration with tiers providers like Okta or Auth0.

@sberyozkin Maybe when i testing it, it appends, if you try on your own, you can see something that i missed (i hope). I send you in zulip all cre

[2020-11-05 13:56] gsmet commented on #13133
@ctron which quickstart should we use? We have plenty of them :).

[2020-11-05 13:59] gsmet commented on #13129
/cc @stuartwdouglas

[2020-11-05 14:09] mkouba commented on #8140
@agentgonzo I don't think so, this issue is about adding a "programmatic API", i.e. to be able to inject  a `Cache` object representation and obtain a cached value for a given key.

[2020-11-05 14:10] andrerigon commented on #13129
We are seign the same problem here.

[2020-11-05 14:15] geoand commented on #12871
I don't think we have something towards that

[2020-11-05 14:27] gsmet commented on #13129
Could you post the list of extensions printed at startup so that we know more about your setups? Thanks!

[2020-11-05 14:29] jtama-op commented on #13030
Yes ok.

[2020-11-05 14:31] vsevel commented on #13110
here is the related issue https://github.com/quarkusio/quarkus/issues/12583

[2020-11-05 15:14] kenfinnigan opened #13144 "Configuration of non application endpoints"
**Description**
Combines https://github.com/quarkusio/quarkus/issues/7893 and https://github.com/quarkusio/quarkus/issues/2450 to enable the full configuration of non-application endpoints such as `/metrics` and `/health`.

**Implementation ideas**
By default, all non-application endpoints will be placed under a `/q` URL path. Creating `/q/health`, etc.

There will be configuration to enable the r

[2020-11-05 15:16] blsouthr commented on #13129
@gsmet

`[cdi, mailer, mutiny, qute, resteasy, resteasy-jackson, scheduler, smallrye-context-propagation, smallrye-fault-tolerance, smallrye-health, smallrye-metrics, vertx]`

I don't have mutiny, qute in pom.xml

[2020-11-05 15:25] BeneStem commented on #13031
Ah, ok, that means you are probably right and its a kotlin issue :)

Thank you for the quick replay!

[2020-11-05 15:34] sberyozkin commented on #13023
@majonga88 We have both Auth0 and Okta users confirming Quarkus OIDC works for them.
The idea of having more provider specific integration examples is good and I'd encourage you to work on the Auth0.

See the problem we have been having in this issue is that we seem to can't understand each other :-). I'm sorry but I don't have time to try to reproduce something that, as per my last feedback, can'

[2020-11-05 15:46] evanchooly commented on #13031
Yes, you should be able to use any ID type.  We have a test using `Long?`, e.g.,  https://github.com/quarkusio/quarkus/blob/66ff4f130a858ae53d8746be8f266774b1b6e522/integration-tests/mongodb-panache-kotlin/src/main/kotlin/io/quarkus/it/mongodb/panache/reactive/person/ReactivePersonEntity.kt#L7

[2020-11-05 15:49] #13107 closed

[2020-11-05 15:51] majonga88 commented on #13023
@sberyozkin Nevermind, i found my solution.

[2020-11-05 15:56] andrerigon commented on #13129
`[cdi, hibernate-validator, kotlin, micrometer, mutiny, redis-client, resteasy, resteasy-jackson, resteasy-mutiny, scheduler, smallrye-context-propagation, smallrye-fault-tolerance, smallrye-health, vertx, vertx-web]`

[2020-11-05 16:17] rohit-s8 opened #13146 "Quarkus runner jar failing to start with error java.lang.SecurityException with signed jars"
**Describe the bug**
I have an application that runs on oracle cloud and uses the oci java sdk https://github.com/oracle/oci-java-sdk. The oci-sdk modules used in the application are:
[code]
I used producer methods to convert some of the classes in the oci modules to CDI discoverable beans as follows:
[code]
and this worked just fine while in `dev` mode.
I then ran `mvn clean package` and the runn

[2020-11-05 16:53] loicmathieu commented on #12514
@evanchooly apparently, since Quarkus 1.8 if a Mongo Entity is not in the same package as the classe that uses it and we use public fields, it fails with `java.lang.IllegalAccessError: class UserService tried to access protected field`.

As a lot of changes has been done on Quarkus 1.8 for the support of Kotlin, maybe something sliped through, can you check the bytecode enhancement part ?

[2020-11-05 17:44] evanchooly commented on #12514
Definitely.

[2020-11-05 17:50] #13030 closed

[2020-11-05 18:54] Madere commented on #6452
In windows using a CMD file (and probably commandLine itself as well), use the double quotes as well as suggested by gastaldi.

[2020-11-05 18:59] gwenneg commented on #12818
Thanks for your answer. I'll submit a PR to forbid it.

[2020-11-05 19:09] #13104 closed

[2020-11-05 19:37] manodupont commented on #11184
I am using 1.9.1.Final and i still have that error.

Here is my config

[code]

this won't build and give the error:
[code]

Previously, to be able to build, i would have only this config
[code]
That conf build a native image no problem. BUT, it will fail at runtime cause of some google cloud API library.
[code]

Thats why i am trying to configure the native image differently with all those flags

[2020-11-05 19:59] gwenneg commented on #8140
@mkouba is right, this is still an ongoing subject.

[2020-11-05 20:32] vbalasub opened #13149 "Quarkus 1.9.2: quarkus-openshift extension does not generate openshift.yml for infinispan-client non-REST application"
**Describe the bug**
I generated an infinispan-client to deploy the openshift (CRC on my laptop) from https://code.quarkus.io/. When i try to build and deploy  using

./mvnw clean package -Dquarkus.container-image.build=true -DskipTests

I see the following error:
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.9.2.Final:build (default) on project code-with-quarkus: Failed to buil

[2020-11-05 21:10] huw0 opened #13150 "Building native image - try podman by default"
**Description**
Issues / PRs #12157, #12135, #10815 cover using podman to create a container image. However a stacktrace is still printed about docker missing unless `-Dquarkus.native.container-runtime=podman` is specified.

When building a native image, podman should be used by default where available, in line with the Red Hat strategy that has removed Docker from latest RHEL 8.x release.

_I am

[2020-11-06 05:33] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/348852416

[2020-11-06 05:41] #12818 closed

[2020-11-06 05:51] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/348852538

[2020-11-06 07:35] manodupont commented on #4762
We are one year later and this is still here.

[code]

Here is my config:

[code]

[2020-11-06 07:35] geoand commented on #13149
@iocanel do you want to take a look?

[2020-11-06 07:45] iocanel commented on #13149
Yeah I am on it!

[2020-11-06 08:12] ia3andy commented on #13110
@rsvoboda I don't think that the guide search engine is using the extension metadata that code.quarkus.io is using. I am not sure I can help for that one..

[2020-11-06 10:13] jorsol commented on #4762
@manodupont the original issue was that adding `additionalBuildArgs` creates an invalid command line since the arguments where added with brackets around them `[-H:IncludeResources=.*/banner.txt]` (printed as an array of elements).

So here the fix is that now the additional build args are added without the brackets. I don't' see it's your case and your are building with docker also (witch might o

[2020-11-06 10:19] ctron commented on #13133
Whatever is being created by:

[code]

[2020-11-06 10:33] gsmet commented on #4762
@manodupont can you open a new issue with a small reproducer? Thanks!

[2020-11-06 12:32] jarve commented on #13100
I got same error without persistence.xml. Only change was quarkus update from 1.8.3. to 1.9.3.

[2020-11-06 14:37] yrodiere opened #13155 "Gradle + mixed Kotlin/Java application: @QuarkusTest ignores annotations on classes implemented in Java"
**Describe the bug**
When an application relies on Gradle to compile code implemented in both Kotlin and Java, then any Quarkus test (`@QuarkusTest`) will ignore annotations on classes implemented in Java.

Only `./gradlew test` with `@QuarkusTest` is affected:

* `./gradlew quarkusDev` works perfectly
* Maven works perfectly too, be it with `./mvnw test` or `./mvnw initialize quarkus:dev`.

**Exp

[2020-11-06 14:47] sleberrigaud opened #13156 "Jboss thread TRACE log appearing despite logging being OFF"
**Describe the bug**

We see a trace logging line such as the following `2020-11-06 14:17:30,771 TRACE [org.jbo.threads] (executor-thread-1) Thread "Thread[executor-thread-1,5,executor]" starting execution` even though we have all logging disabled in the `application.properties`, like so `quarkus.log.level=OFF`

**Expected behavior**

The line should not be logged.

**To Reproduce**

I don't have

[2020-11-06 14:48] sleberrigaud commented on #13156
Looks like this is the culprit class#method `org.jboss.threads.JBossThread#run`

[2020-11-06 14:51] dmlloyd commented on #13156
Can you at least share all of your logging configuration?  Note that more specific log category configurations will override less specific ones, and the root logger setting is the least-specific configuration.  So if you have `org` or `org.jboss` or `org.jboss.threads` set to `TRACE`, you'll see that message regardless of your root logger configuration.

[2020-11-06 15:00] stianst commented on #13144
Would be good to not only have the option of different port, but also different binding.

[2020-11-06 15:08] sleberrigaud commented on #13156
We don't have any other specific configuration.

[2020-11-06 15:12] dmlloyd commented on #13156
The log level can only be set by configuration or by some piece of code that gets the logger and sets its level at run time.  AFAIK we haven't seen this problem anywhere else so it seems unlikely that there is some specific glitch in this particular logger.  Is there any chance you can come up with a minimal reproducer?

[2020-11-06 15:14] dmlloyd commented on #13156
Other things to look for will be stray environment variables that look like `QUARKUS_LOG_CATEGORY__ORG_JBOSS_THREADS__LEVEL` or similar, or a system property being set by that name, or any code which calls `setLevel()` on a `Logger` object.

[2020-11-06 15:16] kenfinnigan commented on #13144
@stianst, can you clarify what you mean by different binding?

[2020-11-06 15:36] ASzc commented on #13144
IP address binding, I assume. Typical server binding is `0.0.0.0` i.e. anything, but it's possible to restrict that to just one address in Socket

[2020-11-06 15:38] lennartj commented on #11428
There are at least 2 quarkus things that seem to break when declaring Kotlin version 1.4 (actually 1.4.10) in a local BOM, and attempting to use Quarkus 1.9.2.

1. Jackson (for JSON rendering, and hence, JaxRS) seems not to work with kotlin 1.4
2. CDI injection breaks; in terms of injecting DataSources, it seems to add an additional @Named qualifier which is not matched.

It is currently rather di

[2020-11-06 15:40] kenfinnigan commented on #13144
Ah ok, so restricting to local address only. Makes sense

[2020-11-06 16:22] glefloch commented on #13155
Thanks for reporting this @yrodiere. You are right, as maven output all classes into the `target/classes` directory, there is no problem.
I have a working for gradle. I just need to add a test.

[2020-11-06 16:49] miquelsi commented on #2831
Hello, I have been able to reproduce a similar error with Quarkus 1.9.1.Final version. The error is the following:
[code]

You can quickly check it at https://github.com/miquelsi/agroal-datasources. May this issue be related?

[2020-11-06 16:51] anthonyikeda commented on #6271
So I'm currently building a PoC using Quarkus and Pulsar and am interested in this ticket.

I have a rudimentary implementation that enable publishing but I'm not sure how to integrate it with the small-rye messaging. Granted I haven't even tried yet, but any guidance helps.

**PulsarBean.java**
[code]

And in my service I'm just injecting this bean into my service:

**Service.java**
[code]
Publis

[2020-11-06 21:35] sivelli opened #13158 "Deadlock using Caffeine cache and context propagation"
**Describe the bug**
When using quarkus-cache together with quarkus-smallrye-context-propagation extension, a method annotated with @CacheResult deadlocks with 200 or more concurrent calls

**Expected behavior**
No deadlock

**Actual behavior**
When using a tool like jMeter to submit 200 or more simultaneos calls, all threads immediately deadlocks on a method annotated with @CacheResult
Removing t

[2020-11-06 21:49] sivelli commented on #13158
This is the stack trace of one of the deadlocked threads:

"executor-thread-1" #16 daemon prio=5 os_prio=0 cpu=0.00ms elapsed=106.25s allocated=140K defined_classes=5 tid=0x0000029697292000 nid=0x6610 waiting on condition  [0x000000d557cfd000]
   java.lang.Thread.State: WAITING (parking)
	at jdk.internal.misc.Unsafe.park(java.base@11.0.8/Native Method)
	- parking to wait for  <0x000000070e334238>

[2020-11-06 22:10] abutic opened #13161 "Using Quarkus Redis Client to connect to SSL enabled Redis server throws an error"
**Describe the bug**
Can't connect to Redis server using the SSL connection.

**Expected behavior**
Established connection and ability to PING Redis server.

**Actual behavior**
Exception while trying to PING Redis server:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. run Redis server with SSL enabled
2. configure Quarkus Redis Client to connect to SSL enabled Redis server
3. run `

[2020-11-06 23:55] vonatzigenc opened #13163 "Expose metrics for kafka-streams with Micrometer"
**Description**
With Quarkus 1.9 came good support for the kafka clients metrics. What is still missing are the metrics of kafka-streams. These could be exposed with KafkaStreamsMetrics binder from Micrometer.

It would be good if this could also be controlled directly through the configuration.

**Implementation ideas**
My proposal for the solution:
- Use the same configuration as for kafka clien

[2020-11-07 00:35] zerocode commented on #7696
Agree, the way logging is currently implemented is a pain. It would be good to have some flexibility here.

[2020-11-07 01:08] arielcarrera commented on #8906
This still happens with Windows in version v1.9.2.

[2020-11-07 04:00] jiangyubao opened #13164 "I need to output the log to the topic of ZeroMQ"
**Describe the extension**
I developed log4j Appender before, the code is as follows：

`package org.apache.log4j;

import org.apache.log4j.spi.LoggingEvent;
import org.zeromq.SocketType;
import org.zeromq.ZContext;
import org.zeromq.ZMQ;

public class ZmqAppender extends AppenderSkeleton {
	/**
	 * forwardURI
	 */
	private String forwardURI;
	/**
	 * client
	 */
	private ZMQ.Socket client;
	privat

[2020-11-07 04:04] jiangyubao commented on #13164
And I hope this zmq log extension can be compiled by native-image, thank you

[2020-11-07 05:38] rafaelsousa commented on #6271
Hi @anthonyikeda,

I've made a pull request last year
https://github.com/smallrye/smallrye-reactive-messaging/pull/488
As a Work In Progress, but I still didn't have any applications for it. But this week I have and I resumed working with it. Hope I'll find the time to finish it soon.

[2020-11-07 08:00] zerocode commented on #11114
@famod

Did you find a work around for this?

[2020-11-07 12:08] machi1990 commented on #13161
Hi @abutic the upstream Vertx Redis Client does not support `rediss` scheme for now /cc @pmlopes.

This is one of the reason the legacy `quarkus.redis.ssl=true` was removed since it relied on the scheme.

SSH tunnel is the best solution for now.

[2020-11-07 13:11] jtama-op opened #13166 "Minio Extension"
**Describe the extension**
[Minio](https://min.io/) is a Kubernetes Native, high performance object storage.

It has a java client library that can easily be integrated to Quarkus.

I have an extension that works both in OpenJDK and Native mode. See https://github.com/jtama-op/quarkus/commit/ef5142948ee1c5fb170fdc45fe89669fec3cc723

Interested in this extension, please +1 via the emoji/reaction fe

[2020-11-08 01:59] Mobe91 opened #13169 "java.nio.file.NoSuchFileException when quarkus.native.debug.enabled"
**Describe the bug**
With `quarkus.native.debug.enabled=true`, building a native image fails with

[code]

The reason is that the `lib` directory inside `postgresql-test-app-native-image-source-jar` is not created by the quarkus-maven-plugin.

Once this is fixed, the next problem is

[code]

if `src/main/java` does not exist.

**Expected behavior**
The build does not fail with above exceptions.

*

[2020-11-08 07:41] zteater commented on #10339
Still broken in quarkus 1.9.2.FINAL and 1.8.1.FINAL

[2020-11-08 08:27] szirbucz commented on #12551
I dived a bit deeper and found that there is an error at the initialization of the ApplicationImpl
[code]
It is called from the static initializer of `io.quarkus.azure.functions.resteasy.runtime.BaseFunction`
https://github.com/quarkusio/quarkus/blob/02e0ed5772f471ae901996f27e705b203e2d4d94/extensions/azure-functions-http/runtime/src/main/java/io/quarkus/azure/functions/resteasy/runtime/BaseFuncti

[2020-11-08 11:26] AmsterdamFilho commented on #10189
This was in the 1.7 roadmap, but it was missed.

What is the new expectation?

[2020-11-08 12:31] geoand commented on #10339
Can you open a new issue with a reproducer please?

[2020-11-08 16:39] aloubyansky commented on #8906
I looked into this again and was able to reproduce it with the reproducer from @crissi98 https://github.com/quarkusio/quarkus/issues/8906#issuecomment-620527339
However, the suggested change https://github.com/quarkusio/quarkus/issues/8906#issuecomment-620527339 that is supposed to fix it, isn't actually fixing it.

The issue is that SmallRye Config is using `java.util.ServiceLoader` which calls `

[2020-11-09 04:16] zteater commented on #10339
@geoand I was able to isolate it to user error. I had both Jackson and Json-B in the cp, how embarrassing. Seems to be working with just Jackson on the cp.

[2020-11-09 05:31] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/353227602

[2020-11-09 05:39] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/353227811

[2020-11-09 06:08] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/353228627

[2020-11-09 06:13] aomsweet opened #13176 "No parameter injector found for parameter 1 of route method void listGroup"
**Describe the bug**
String type can work, Integer type throws an exception

**To Reproduce**

[code]

[2020-11-09 06:23] geoand commented on #10339
That's an easy to mistake to make TBH :)

[2020-11-09 06:45] maegges65 commented on #10339
For my project, the issue was caused by using both jackson and jsonb. After removing jsonb from the dependencies, @JsonIgnore was honored again.

[2020-11-09 07:00] geoand commented on #13133
I was not able to reproduce this problem

[2020-11-09 07:28] ahoehma commented on #1904
I found a strange workaround ... maybe it helps others too.

I made the lombok annotations full qualified and then it worked ?!

@lombok.Data
@lombok.ToString

[2020-11-09 07:52] tiesebarrell commented on #13133
We are experiencing the same problem on a build that used to work just fine. In our case the build works locally (even without Docker cache), but after Bitbucket dropped the Docker cache of this pipeline and every step is performed fresh, it no longer succeeds and crashes with this error. The project was originally created with a quickstart as well, only with Gradle. We're running the standard Doc