[2022-10-28 08:36] gsmet commented on #28889
/cc @geoand @mkouba for your awareness

[2022-10-28 08:38] geoand commented on #28889
I won't be around until Monday to look at this.

Also cc @Sgitario

[2022-10-28 08:52] glefloch commented on #28897
Thanks for reporting this issue, we need to take care of that variable.

[2022-10-28 09:00] geoand commented on #28889
Also cc @manovotn who might have made a related change

[2022-10-28 09:04] bcluap commented on #28889
Reproducer:
git clone git@github.com:bcluap/quarkus-examples.git
cd quarkus-examples/resteasy-reactive
mvn verify

[2022-10-28 09:09] davidreis97 commented on #28818
@cescoffier As I've reported in [this comment](#issuecomment-1293300932), this happens with multiple (most?) REST clients including the Quarkus Reactive Rest Client. I've provided a test project to reproduce this [here](#issuecomment-1293392935).

[2022-10-28 09:16] #28782 closed

[2022-10-28 09:36] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3342964195

[2022-10-28 10:07] vsevel commented on #27266
yes. and that seems the correct thing to do. right? I would not want to build with some test profile and send that build to prod. and I would not want to build once with a test profile for testing only, and once with the prod profile when I ship to production, because that would mean to production an untested build (at least during CI)

because of the current behavior, I ended up building with `pr

[2022-10-28 10:19] FroMage commented on #28844
That signature was a mistake, I've wanted to drop that constraint for a long time. We should really drop it.

[2022-10-28 10:37] brunobat commented on #25102
This last issue is related with the OTel context storage and restore. This is not specific to Baggage.
As mentioned here: https://github.com/quarkusio/quarkus/discussions/23882#discussioncomment-2593231
It should be harmless.

[2022-10-28 10:40] brunobat commented on #26445
My Idea here is that we should have OTel collector and be able to see traces in Graphana.
This way, we could use the same UI if metrics is also available.
This should work in an integrated way between Micrometer and Otel.

[2022-10-28 12:11] brunobat commented on #26445
But for starters, It would be nice just to have the collector logging whatever it receives for debug purposes.

[2022-10-28 12:27] brunobat opened #28904 "Create migration guide from OpenTracing to OpenTelemetry"
### Description

With the deprecation of the OpenTracing extension we'll need to provide a migration path towards OpenTelemetry

### Implementation ideas

_No response_

[2022-10-28 12:29] gastaldi commented on #28754
Duplicate of 28497

[2022-10-28 12:29] #28754 closed

[2022-10-28 12:48] gastaldi opened #28905 "Include a deprecate reason in the extension metadata when the extension status is deprecated"
### Description

When an extension is marked as deprecated (meaning that the extension will be replaced or removed in a future version of Quarkus), it would be nice if we had an explanation on why they are deprecated and what alternatives exist.

### Implementation ideas

Include a `reason` in the extension's `metadata` containing a link or a short message with more details on why the extension is

[2022-10-28 13:37] lostiniceland opened #28906 "JBeret blocks Quarkus startup on Java 17"
### Describe the bug

We are currently upgrading from Quarkus 2.7.2 to 2.13.3 and the services which make use of JBeret fail to boot because of an IllegalAccessException to the JDK-internal java.lang.AbstractStringBuilder.

Already in 2.7.2, when we migrated to Java 17, we had to setup Quarkus to launch with an additional JVM parameter top open up the jdk package `java.security` due to JBeret. Wit

[2022-10-28 14:30] radcortez commented on #27266
Not at the moment, because we are not recording the profile set in `quarkus.test.native-image-profile`, but that is something that we can do. The downside, is that it will record testing properties in the native image (but that already happened if you use property names aware profiles).

Yes, I agree.

Yes, that should work. If it doesn't, I'll say it is a bug and we need to fix it.

[2022-10-28 14:40] vsevel commented on #27266
but `-Dquarkus.config.locations=application-nativeit.yaml` would have to be set on the `mvn` command, which would be part of the prod build? ideally I would want to build without this property, and start the native exec for ITs  with this property. but I believe this is not possible as everything is hidden behind the maven command. or is this something I can control on the `failsafe` plugin, or el

[2022-10-28 16:40] ederfmatos-exacta commented on #24423
Any update on this item?

[2022-10-28 18:50] coiouhkc opened #28911 "[Database Dev Services] [Postgres] Database dev services starts although quarkus.datasource.reactive.url is configured"
### Describe the bug

Postgres database dev services starts although quarkus.datasource.reactive.url is configured

### Expected behavior

As per documentation, database dev services should not start, see https://quarkus.io/guides/dev-services#databases

### Actual behavior

_No response_

### How to Reproduce?

See https://github.com/coiouhkc/short-and-sweet-quarkus-intro/tree/bug-or-feature/devs

[2022-10-28 18:55] coiouhkc commented on #28911
See https://github.com/quarkusio/quarkus/pull/28902

[2022-10-28 19:58] pahjbo opened #28912 "Build fails with jackson annotated classes"
### Describe the bug

quarkus dev fails to complete successfully when dealing with resteasy-reactive-jackson and some jackson annotated classes

### Expected behavior

build should not fail

### Actual behavior

A snippet of where the build fails - sorry I do not know how to get into the debugger during the build to give more information

[code]

### How to Reproduce?

This is an example of what f

[2022-10-28 21:13] vinland-saga commented on #28826
here is the sample app:
https://github.com/vinland-saga/quarkusBugSample

when running it, it give the expected behavior: no NPE, no exceptions
which is different from what I get in the production app that we are building (as shown in stacktrace) with the same implementation of injections and applicationScoped

I will again take a look and try to pinpoint the issue.

Greatly appreciate your time.

[2022-10-28 22:21] rgonciarz commented on #24505
Hi Guys, what's the current state for having Quarkus support for coroutine's gRPC stubs?

[2022-10-28 22:55] evanchooly commented on #24505
I actually started poking at it this week but set it aside when I realized it'd take a chuck of time. I'm trying to clean up some longer standing bugs before deep diving in to something else.

[2022-10-29 00:58] Ntung029 opened #28913 "MSSQL JDBC driver does not support integration authentication in native image"
### Description

I have an issue when connecting the service to SQL DB from a native image. Because of security requirement, I need to use integrated security by specifying these additional jdbc properties bellow:

[code]
Then I start the application in the quarkus-distroless-image:1.0. The application cannot find the connection to SQL DB and the error message shows as bellow. I have verified the

[2022-10-29 06:45] geoand commented on #28911
cc @yrodiere

[2022-10-29 07:11] maxandersen opened #28915 "flyway cannot find thin oracle driver in native mode"
### Describe the bug

reported by mail by @chrisruffalo, See reproducer at https://github.com/chrisruffalo/quarkus-native-oracle-otel-reproducer

# Quarkus / Oracle / Flyway / Otel Issue Reproducer

## Requirements
- Docker (or working devservices with podman)
- Quarkus 2.13.3
- JDK 17
- GraalVM for native compile

## Testing
Running the application in dev mode with `mvn clean quarkus:dev -Dquarku

[2022-10-29 07:48] Dieken opened #28918 "Something like BeanPostProcessor in Spring framework"
### Description

I introduce some external libraries into my projects, these libraries contain some managed beans that I would like to customize further.

In spring I can use BeanPostProcessor, what’s the equivalent mechanism in Quarkus ArC?

### Implementation ideas

_No response_

[2022-10-29 07:55] hennihaus commented on #24505
Coroutine support for GRPC would be a really nice feature.

[2022-10-29 08:37] mschorsch commented on #24505
I would say it's a must have 😁

[2022-10-29 09:15] wfrank2509 commented on #24505
Completely agree that it is a must have. But I would already be happy with a generally deeper integrated Kotlin support for grpc not using the java code generation as intermediate.

[2022-10-29 09:56] chrisruffalo commented on #28915
I should’ve added it to this reproduced but postgresql works fine. If I get a chance I will add it.

[2022-10-29 13:43] faermanj opened #28919 "Remove 'class' from 'quarkus-class-change-agent' artifact name"
### Describe the bug

Having 'class' as part of the artifact name will trigger a warning when used in modules, as it is not a Java identifier.

`[WARNING] Can't extract module name from quarkus-class-change-agent-2.13.3.Final.jar: quarkus.class.change.agent: Invalid module name: 'class' is not a Java identifier`

### Expected behavior

Compile without warnings.

### Actual behavior

Compile with a

[2022-10-29 16:32] pjgg opened #28920 "Downloading a big Multipart file on `resteasy-reactive` is throwing an `OutOfMemoryError` on Upstream"
### Describe the bug

Quarkus version: upstream
Extension: `quarkus-rest-client-reactive-jackson`

When I try to download a ~2Gb multipart file I am getting the following error
[code]

Multipart pojo:
[code]

Rest API (that is failing)
[code]
**Note:** `File` is a 2Gb file. Quarkus 2.13.3.Final works as expected!

### Expected behavior

No error

### Actual behavior

outofMemory exception

### How

[2022-10-29 17:09] geoand commented on #28920
cc @Sgitario

[2022-10-29 18:43] michalvavrik commented on #28915
@chrisruffalo Your reproducer is very fine (apart of typo in `jdbc-url` -> `jdbc.url`), IMHO it's absolutely clear were the issue is (even if the PR I added wasn't excepted, it still proves where the problem is) and you don't need to bother with PostgreSQL. Thanks for reporting the issue.

[2022-10-29 20:30] simonbaeumler opened #28922 "NullPointerException in Reactive REST Client"
### Describe the bug

There is a NullPointerException in the quarkus reactive rest client (at least in version 2.13.3.Final and 2.14.0.CR1):

[code]

I managed to create a reproducer, see https://github.com/simonbaeumler/quarkus-rest-client-reactive-npe-reproducer
To see the NullPointerException, just execute the test ExtensionsResourceTest.customTest() in the reproducer.

So far I have pinned dow

[2022-10-30 03:49] unhurried commented on #8570
Just to share information. Thanks to the update from @michalvavrik, I tested the error handling for authentication errors in ExceptionMappers again. It turned out that authentication errors can be handled in JAX-RS ExceptionMappers in `2.14.0.CR1` version. All I did was to add a configuration `quarkus.http.auth.proactive=false` and ExceptionMappers for `UnauthorizedException` and `AuthenticaionFai

[2022-10-30 04:12] geoand commented on #28918
What kind of customization would you like to perform?

[2022-10-30 04:13] aaronanderson commented on #27942
I am willing to contribute further in any capacity if desired.

I concur that it would be beneficial if multi-tenancy be a core feature for security and extensibility purposes. Other extensions could add multitenancy support using a unified framework instead of individual patchwork approaches.

Perhaps there could a build time flag like `quarkus.multitenancy` and if the value was false then all mu

[2022-10-30 04:32] Dieken commented on #28918
This is an example of BeanPostProcessor, it registers some MyBatis customized type handlers to the SqlSessionFactory instance, this  has to be done just after the creation of SqlSessionFactory instance, because other beans will register MyBatis mappers to the SqlSessionFactory instance, the registration of mappers depends on those customized type handlers.

I tried to use @Interceptor and @PostCon

[2022-10-30 04:36] geoand commented on #28918
I am pretty sure we don't have anything like that at runtime code but @mkouba can say more

[2022-10-30 04:43] Dieken commented on #28918
It doesn't have to be at runtime, I need some magic at build time to insert some further initialization code after bean creation.

[2022-10-30 10:02] faermanj commented on #23400
Similar issue here. I do have a custom main, and deppending on how it is launched logging is different.
In dev mode logging configuration works fine, but when running with `java -jar`, i always get the quarkus init logging
[code]

I wish that did not show up, perhaps at least reduce the priority of these messages so we can limit console to INFO and get rid of them?

[2022-10-30 10:40] Dieken commented on #28918
Maybe create a Quarkus extension to support annotation @InterceptorFor(Foo.class):

[code]

Quarkus automatically binds this interceptor to some bean which implements or extends `SqlSessionFactory`.

[2022-10-30 13:38] guoxunbo commented on #24633
@mkouba
Hello. OK. I will give you a small reproducer app tomorrow.
I just want to get `MultipartBody` info in the log filter. such as 👍
[code]

[code]

[2022-10-30 15:09] ddelbondio opened #28928 "Wrong GraphQL context injected when using @Source in non-blocking mode with multiple operations"
### Describe the bug

Given following setup:

[code]

When calling an API with multiple operations in one call, while using non-blocking GraphQL mode Quarkus, the injected context refers to the last operation instead of the context of the "child" field in Parent1.

Using `quarkus.smallrye-graphql.nonblocking.enabled=false` fixes the behaviour.

### Expected behavior

The correct context should be

[2022-10-30 15:48] HerrDerb commented on #28857
+1 that currently the only need

[2022-10-30 18:55] mklueh commented on #12219
Hi ✌️

[2022-10-30 20:32] GChapel commented on #27155
@HerrDerb I generated jacoco report based on your sample project, I got both coverage (junit + quarkus) :

![image](https://user-images.githubusercontent.com/5603183/198900161-3ee7a681-7f56-4878-b54b-b9de1a62e040.png)

GreetingService = Quarkus
ByeService = jUnit

[2022-10-31 00:21] thedewpoint opened #28933 "Unable to run native image built using maven + jib on arm64 using new base image"
### Describe the bug

I was able to successfully build a native image for arm64 using the new base image. I have these 2 properties set in my `application.properties` file

[code]

and I build /deploy it with this command
`mvn package $MAVEN_CLI_OPTS -Pnative -DskipTests -Dquarkus.container-image.image=$AWS_ECR:latest -Dquarkus.container-image.push=true -Dquarkus.container-image.username=AWS -Dqua

[2022-10-31 06:24] geoand commented on #28933
@gastaldi as you have an M1, can you try this and see if it works or not for you?

Thanks

[2022-10-31 06:41] geoand commented on #28918
@mkouba do we have anything like ^ already?

[2022-10-31 06:46] geoand commented on #27318
AFAIK, this is true. So should this be closed as an invalid issue?

[2022-10-31 06:46] Sgitario opened #28936 "Wrong warnings when pushing images using JIB, Docker or BuildPack"
### Describe the bug

When using the property `quarkus.container-image.image=quay.io/user/app:1.0`, the extensions `quarkus-container-image-buildpack`, `quarkus-container-image-docker` and `quarkus-container-image-jib` does not read this value but only to the property `quarkus.container-image.registry` and hence, it prints this warning message:

[code]

The good thing is that later in the process,

[2022-10-31 07:04] yrodiere commented on #28913
Hey @barreiro , this looks like an unsupported feature, maybe an incompatibility? Can you shed some light? I personally have no idea what this feature even is...

[2022-10-31 07:16] geoand commented on #28899
This is expected as per the Javadoc you linked:

[code]

[2022-10-31 07:16] #28899 closed

[2022-10-31 07:17] cescoffier commented on #22834
I believe this got fixed a long time ago.

Also the kafka reference guide describe how to use hibernate classic and reactive (including transactions)

[2022-10-31 07:19] geoand commented on #22834
Let's close this issue then as `out of date`.

Feel free to comment / reopen if this is not the case.

[2022-10-31 07:19] #22834 closed

[2022-10-31 07:48] geoand commented on #28899
Which documentation do you mean here? I don't see `Quarkus.blockingExit` being explicitly mentioned in any docs.

[2022-10-31 07:53] mschorsch commented on #28899
Thats the problem, the Quarkus documentation does not mention this behaviour.

[2022-10-31 07:55] geoand commented on #28899
The Javadoc does however.

I am interested in hearing where you would expect to see this behavior mentioned. Asking because if we just add it to some random place, there is little chance people will actually see it.

[2022-10-31 07:56] geoand commented on #28899
Actually, I have another idea... We can detect if this being called on the main thread and print an error

[2022-10-31 07:57] mschorsch commented on #28899
Great 👍

[2022-10-31 08:02] mkouba commented on #28918
So first of all @geoand is right that we can't do anything like this at runtime because beans are discovered and metadata are completed during build.

You can register an [annotation transformer](https://quarkus.io/guides/cdi-integration#annotations_transformer_build_item) and add the interceptor binding to any bean class.

[2022-10-31 08:13] geoand commented on #28899
https://github.com/quarkusio/quarkus/pull/28939

[2022-10-31 08:14] gsmet commented on #28889
I will revert it if we can't find a solution by then.

[2022-10-31 08:19] geoand commented on #28889
Yeah, that makes perfect sense.

[2022-10-31 08:26] gsmet commented on #28913
My guess is that we probably need to register something for reflection in the driver (maybe). But now what...

[2022-10-31 08:40] #27155 closed

[2022-10-31 08:41] HerrDerb commented on #27155
I must have had some wierd configuration. In our new project it also does work. I'll close this issue. If it does not work, it's most probalby because of a bad configuration.

[2022-10-31 08:44] #28920 closed

[2022-10-31 08:54] geoand commented on #28906
Any chance you can attach a sample? I was not able to reproduce this.

[2022-10-31 08:55] mkouba commented on #28864
OTOH it helped us to spot some annoying bugs earlier. Anyway, here we go: https://github.com/quarkusio/quarkus/pull/28940

[2022-10-31 08:59] manovotn commented on #28889
I am looking at it now; will report back once I know more.

Agreed.

[2022-10-31 09:17] gsmet commented on #28906
This rings a bell and I think it was fixed.

Yeah, this would be the fix: https://github.com/quarkusio/quarkus/pull/28374

I think we probably should backport it to 2.13.

[2022-10-31 09:18] gsmet commented on #28906
@lostiniceland can you check with 2.14.0.CR1 to make sure the issue is fixed for you?

[2022-10-31 09:22] mkouba commented on #28906
@gsmet is right. https://github.com/quarkusio/quarkus/pull/28374 should help because it removes all non-public jdk types from the set of bean types. In this particular case, it removes the `AbstractStringBuilder` from the set of bean types of the [BatchBeanProducer#getStringBuffer()](https://github.com/jberet/jsr352/blob/master/jberet-core/src/main/java/org/jberet/creation/BatchBeanProducer.java#L

[2022-10-31 09:22] #28842 closed

[2022-10-31 09:28] geoand commented on #28906
👍🏼

[2022-10-31 09:39] Sanne commented on #28913
The MS SQL JDBC driver supports a whole host of non-standard authentication methods; among these there's integration with  Kerberos, possibly needing to load native windows DDL libraries getting loaded, or integrate with the Azure cloud SDK dependencies (dozens of them).

It might well be that with some luck you just need a couple additional reflections for this particular user, but be aware of th

[2022-10-31 09:41] Sanne commented on #28913
Also - is this actually running in native-image mode? Or is it failing in JVM mode too?

In case it's JVM, you might be missing some of the optional dependencies.

[2022-10-31 09:46] manovotn commented on #28889
So, the problem lies with this code - https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/server/deployment/ResteasyReactiveProcessor.java#L730-L790

We limit bean types of RestEasy classes (such as those with `@Provider`) to that of the implementation bean which meets internal needs for typesaf

[2022-10-31 09:54] mkouba commented on #28889
Well, I'm not sure it's a good idea to use a bean class that implements the `ContainerRequestFilter` separately, i.e. via `@Inject`. And the `@Typed` workaround seems to me reasonable for this particular case.

[2022-10-31 09:58] #28922 closed

[2022-10-31 10:03] Muhamedkaric opened #28942 "H2 in memory, postgres for application."
### Describe the bug

When I used h2 for in-memory testing and Postgres for the application I faced no issues until I upgraded quarkus and hibernate.
Now if I run tests I got:

[code]

[code]

For more information, I posted on stack overflow: https://stackoverflow.com/questions/74236645/quarkus-hibernate-h2-cannot-create-id.

### Expected behavior

Backward compatible or documented how to combine

[2022-10-31 10:08] FroMage commented on #28840
This might be useful for inspiration: https://guides.rubyonrails.org/asset_pipeline.html

[2022-10-31 10:09] manovotn commented on #28889
I didn't want to judge that because I am not a RE expert so I have no idea if this common case or not; @geoand might know more.
But I do agree this can get weird really fast and not just with types but also with scopes.

As for solutions:
1. I don't think we can fine-grain how we limit types of beans because we cannot reliably tell which types are "good" and which should be removed
2. We can rever

[2022-10-31 10:10] csscriptplus opened #28944 "Native build with Helm charts image upload corrupt"
### Describe the bug

My native build with a self-created Mandrel image (GraalVM 22.2.0.0-Final Java 17 Mandrel Distribution) and Helm Chart (0.1.2), cannot upload the generated Docker image. I get an HTTP 403 error.
I have 2 repositories on the Nexus server. One for the Helm Charts and one for the Docker Images. Each repository has its own user with permissions.
For the Docker image build I use J

[2022-10-31 10:14] geoand commented on #28889
Yeah, this is indeed weird - it would only work in Quarkus and not in any other JAX-RS / CDI implementation. It's not something we have ever said we support, it worked previously by accident.

If we are going to disallow this case, https://github.com/quarkusio/quarkus/pull/28429 needs to be a breaking change (I added the label)

[2022-10-31 10:14] manovotn commented on #28889
With the above comments, unless @geoand or @gsmet are opposed, I'd suggest we close this issue as not a bug with known workaround.

[2022-10-31 10:15] geoand commented on #28889
I'd like to hear from @bcluap on the reasoning behind using this particular pattern

[2022-10-31 10:20] #28133 closed

[2022-10-31 10:39] bcluap commented on #28889
Hi All,

So this weird scenario I have actually came from a discussion with most of
you a few years back. Check on quarkus-dev for topic "Injecting @Context
HttpHeaders at instance level on @RequestScoped"

I was trying to find a way to be able to inject JAX-RS stuff using Quakus
and this solution presented itself and has been working great. In fact if
you search quarkus-dev and tulip you will fin

[2022-10-31 10:49] geoand commented on #28889
Thanks for that info!

Given that this kind of thing is no longer necessary (as RR fuses CDI and JAX-RS seamlessly), I am personally in favor of dropping support for this.

[2022-10-31 10:57] bcluap commented on #28889
But I cant seem to inject ContainerRequestContext using @Inject
nor @Context.

On Mon, Oct 31, 2022 at 12:50 PM Georgios Andrianakis <
***@***.***> wrote:

[2022-10-31 11:02] geoand commented on #28889
Indeed `ContainerRequestContext` is not a bean type, so it's not eligible for injection.

But you essentially want to access `HttpHeaders`, correct?

[2022-10-31 11:08] bcluap commented on #28889
Yea, but a bit more than that. Here are the things we use it for:

containerRequestContext.getUriInfo();
containerRequestContext.getHeaderString(name);
containerRequestContext.getHeaders();
containerRequestContext.getProperty(name);
containerRequestContext.setProperty(name, value);
containerRequestContext.getPropertyNames()
containerRequestContext.getAcceptableLanguages()

On Mon, Oct 31, 2022 at

[2022-10-31 11:18] bcluap commented on #28889
I've added @Typed({RequestContextImpl.class, RequestContext.class}) and it
works and our tests pass on 2.14.0.CR1 so that's great news.

As for this ticket, happy for it to be closed but I do just with that there
was a clean way of getting hold of RequestContext without passing it
around. It just makes so much sense for this to be injectable as a
RequestScoped bean, even if its not what the specs

[2022-10-31 11:23] geoand commented on #28889
https://github.com/quarkusio/quarkus/pull/28946 will allow you to inject `ContainerRequestContext` directly

[2022-10-31 11:27] bcluap commented on #28889
Georgios, you really never fail to amaze me :-)

On Mon, Oct 31, 2022 at 1:23 PM Georgios Andrianakis <
***@***.***> wrote:

[2022-10-31 11:28] geoand commented on #28889
Hahaha ❤️

The community makes all this possible :)

[2022-10-31 11:28] syr opened #28947 "Maven source directory and dependencies not found"
### Describe the bug

Default project generated by https://code.quarkus.io/ is recognized as maven project but in Intellij src/main is not recognized as source packages. When marking src/java as source root, all  annotations are red.

![image](https://user-images.githubusercontent.com/845093/198996299-b113c41a-2306-4b32-a1d9-b6ee1ad72ab8.png)

But maven build works, also from intellij.

I am not s

[2022-10-31 11:56] #28947 closed

[2022-10-31 12:08] geoand commented on #28857
https://github.com/quarkusio/quarkus/pull/28949 adds only the datasource label for now

[2022-10-31 12:19] syr commented on #28875
OK, thanks for the update, I just tested without startup event or quartz, calling graphql client directly in rest resource where the issue does not occur, confirming it is scoped (at least) to quartz, startup event whereas IMO quartz is more critical than startup event which has limited usages of graphql client (I assume)

[2022-10-31 12:29] jmartisk commented on #28875
Btw. as a workaround, you should be able to `@Inject Vertx vertx`  (or `CDI.current().select(Vertx.class)`) and pass that instance to the GraphQL client builder that you instantiate yourself (so you build a client manually instead of injecting one that is configured in `application.properties`)

[2022-10-31 12:58] #28936 closed

[2022-10-31 14:14] ppalaga opened #28953 "Console output incomplete in Konsole when local GraalVM is used"
### Describe the bug

With some integration tests, when setting GraalVM via `export GRAALVM_HOME=/home/ppalaga/.sdkman/candidates/java/22.3.r11-grl` the console output of `mvn clean verify -Pnative` ends right after the native compilation and the rest of maven build including native tests is not shown. I can see the same happening with `export GRAALVM_HOME=/home/ppalaga/.sdkman/candidates/java/22.

[2022-10-31 14:29] SebastianHanke opened #28954 "Native build fails on request with Kotlin-"when"- expression"
Expected behavior

The jar, native and development build should behave the same.

Actual behavior

After native build. Request to resource fails (at Kotlin "when"-expression).
Other builds work without error.

org.jboss.resteasy.spi.UnhandledException: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class de.xxx.yyy.zzz.FindByNameResult$Success and no propert

[2022-10-31 14:35] geoand commented on #28954
Any chance you can provide a sample application that fails like you mentioned?

[2022-10-31 15:06] mschirmacher opened #28955 "Allow for customizing kotlinx.serialization Json bean"
### Description

Hi,
when using quarkus-resteasy-reactive-kotlin-serialization it is sometimes necessary to register a `SerializersModule` which cannot be configured at the moment.

### Implementation ideas

If i udnerstand Arc correctly (and i might not, im new ti Quarkus), I guess it should be possible for the extension to declare an empty `SerializerModule` as  a `@DefaultBean`  which is picked

[2022-10-31 15:07] mkouba commented on #28953
I observed a similar problem with Eclipse Terminal (TM Terminal	10.7.1.202208160035 and Eclipse IDE 2022-09 (4.25.0)) and GraalVM 22.3.0 Java 19 CE, and the workaround was to disable the _colorized output_ of the native image via [`-H:-BuildOutputColorful`](https://www.graalvm.org/22.0/reference-manual/native-image/BuildOutput/#build-output-options), i.e. something like ` export QUARKUS_NATIVE_ADD

[2022-10-31 15:09] #28889 closed

[2022-10-31 15:17] Ladicek opened #28956 "ArC: consider using lambdas to call intercepted methods"
### Description

Currently, to implement `InvocationContext.proceed()` for interceptors, ArC generates _for each intercepted method_ one forwarding method in the `_Subclass` and one anonymous class implementing `Function<InvocationContext, Object>`. That anonymous class obtains the argument values from `InvocationContext.getParameters()` and calls the forwarding method.

It might be beneficial to

[2022-10-31 15:22] gastaldi commented on #28933
Can you paste the full stacktrace? I tried to reproduce locally but I have no idea what is the value of `AWS_ECR` in `-Dquarkus.container-image.image=$AWS_ECR:latest`

[2022-10-31 15:24] Ladicek commented on #28956
I implemented this locally and here are the results.

I measured performance impact using the JMH benchmarks from: https://github.com/mkouba/arc-benchmarks/

I measured RSS impact using this one-off tool: https://github.com/Ladicek/arc-crazybeans

# Benchmarks

## Measuring

All measurements were done on my otherwise-idle desktop machine (running Ubuntu 22.10 with kernel Linux 5.19.0-23-generic; h

[2022-10-31 15:24] #28956 closed

[2022-10-31 15:56] evanchooly commented on #27269
OK.  I've finally tracked down the problem.  Where you're going wrong is calling `toBsonDocument()` directly.  When you do this you're using the default codec registry as defined by the driver and not the one configured by your quarkus configuration.  There is an overload where you can pass in the `CodecRegistry` to use but that's unnecessary here.  In your reproducer, if you completely remove the

[2022-10-31 15:58] evanchooly commented on #16785
fixed by https://github.com/quarkusio/quarkus/pull/25015

[2022-10-31 15:58] #16785 closed

[2022-10-31 16:03] radcortez commented on #27266
You can set specific properties in the surefire / failsafe plugin.

[2022-10-31 16:52] manovotn commented on #28864
I spent some time today trying this out. I think I know what do to with it, I just need to translate that into Gizmo code which is where I am stuck now. Will get back on it tomorrow.

[2022-10-31 16:55] #28912 closed

[2022-10-31 16:57] mkouba commented on #28956
Thanks for this interesting experiment! I know the results are a bit frustrating but in the words of a great (yet imaginary) [Cimrman](https://en.wikipedia.org/wiki/J%C3%A1ra_Cimrman): _"Somebody had to probe this dead end of human knowledge and announce to the world: Not this way, friends!"_

[2022-10-31 18:24] Manfred73 opened #28962 "Debugging underlying service code when using @QuarkusIntegrationTest?"
### Description

Hi,

I have written unittests for my crud service which are annotated with ```@QuarkusTest```. I can easily debug these from within Intellij. For some of these tests I have also written some mockservices using alternatives which are injected instead of the real services.

I've also written some integrationtests, annotated with ```@QuarkusIntegrationTest```. However, when I debug t

[2022-10-31 18:35] gastaldi commented on #28933
I haven't used JIB, but I can confirm that doing a build in a container (`-Dquarkus.native.container-build=true`) gives the same error when running it: `exec format error: target/code-with-quarkus-1.0.0-SNAPSHOT-runner`

[2022-10-31 18:58] Manfred73 commented on #20303
I'm experiencing the same problem. I see this issue is closed, but was it fixed? Do I need to add any configuration to my @QuarkusIntegrationTest to make the logging from the underlying services/application visible in the log?

[2022-10-31 19:01] mkouba commented on #28864
I can try to reach out and help ;-). Feel free to ping me tomorrow...

[2022-10-31 19:19] Manfred73 commented on #13261
Running into this issue as well with a QuarkusIntegrationTest. My application uses a configuration property with a directory location where it should look for files or write files to.
For my integration test I override this property with a different folder. I'd like to use the @TempDir annotation as an instance variable for this, but reading this, that won't work. I can't use the method parameter

[2022-10-31 19:31] SebastianHanke commented on #28954
[demo.zip](https://github.com/quarkusio/quarkus/files/9904233/demo.zip)

[2022-10-31 20:22] languitar commented on #27269
Thanks for the feedback. There was a reason why I couldn't go without the BSON version. But I can't remember that reason. In any case, this seems to be more a problem of the MongoDB driver design than of the Quarkus integration. Thanks for investigating this.

[2022-10-31 20:22] #27269 closed

[2022-10-31 20:35] StephenOTT opened #28965 "Keycloak Policy enforcer supposed to work with Client Roles / Resource_access.{client-id}.roles?"
### Description

Based on some testing, (unless I have a config incorrect, but is difficult to tell give the complexities), the Policy Enforcement for Keycloak quarkus-keycloak-authorization works with Realm Roles, but is it also supposed to work with Client Roles that appear under the `resource_access.{client-id}.roles` path in the JWT?

I just get 403 responses when trying to use Resource access

[2022-10-31 20:46] Jojal opened #28966 "Quarkus cache size modification at runtime"
### Description

Actually the cache configuration is only possible at build time. So it's not possible to override the cache size at runtime.
It would be a good enhancement to allow the possibility to override cache configuration at runtime.

### Implementation ideas

_No response_

[2022-10-31 20:50] evanchooly commented on #27269
if you still need that `BsonDocument` approach, consider making the call like this:

`.toBsonDocument(Document.class, personRepository.mongoCollection().getCodecRegistry())`

[2022-10-31 22:41] javaduke opened #28971 "Quarkus Maven Plugin unable to handle maven exclusions"
### Describe the bug

One of the artifacts in my POM has `ehcache` as a dependency, but when I'm trying to exclude it as follows:
[code]
I'm getting this error:
[code]

Is it a known bug?

I tried to downgrade to the older version (from 2.13.0.Final to 2.12.1.Final) and it worked, so it must be a regression.

### Expected behavior

Successful build without an error.

### Actual behavior

Plugin th

[2022-11-01 05:58] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3367026190

[2022-11-01 06:00] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3367028956

[2022-11-01 06:14] nvoxland commented on #25335
Sorry it took us a bit to get to the issue. I'm the original creator of Liquibase and have been recently shifting my role to be more "developer relations" focused -- including making sure that projects like Quarkus are getting all the help you need with your Liquibase integrations.

We're working on getting the issue you reported fixed up, but also wanted to ask if there is anything I can be bette

[2022-11-01 06:16] geoand commented on #25335
Thanks for reaching out @nvoxland, great ti know :)

[2022-11-01 06:19] geoand commented on #28955
I think this makes perfect sense.

[2022-11-01 06:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3367026738

[2022-11-01 07:03] bcluap commented on #27902
Smallrye 2.3.1 seemed to change something but has not actually resolved the issue. The yaml now looks like this (see how the duplicates have moved to a new parameter section):

[code]

[2022-11-01 07:05] bcluap commented on #27902
The full openapi can be found here: https://eclipse-java-sandbox.ukheshe.rocks/eclipse-conductor/docs/#/

[2022-11-01 07:18] paomian commented on #16638
I can reproducing this error.
clone https://github.com/paomian/code-with-quarkus and config your postgresql db.
run `quarkus dev`
[code]
and then you will get
[code]

#### stack
[code]

[code]

[2022-11-01 07:21] paomian commented on #16638
Maybe it is issue about `@OneToOne` with `FetchType.LAZY`
`Mutiny.fetch(master.getSlave())`  is not work.

[2022-11-01 07:29] paomian opened #28975 "fetch A field relate other class with `@OneToOne(fetch = FetchType.LAZY)` by Mutiny.fetch not work"
### Describe the bug

fetch A field relate other class with `@OneToOne(fetch = FetchType.LAZY)` by Mutiny.fetch not work
code in https://github.com/paomian/code-with-quarkus can reproduce this error.

### Expected behavior

it will get field data.

### Actual behavior

throw exception

### How to Reproduce?

1. clone https://github.com/paomian/code-with-quarkus
2. config your postgresql db or use

[2022-11-01 07:30] bboyz269 opened #28976 "[quarkus-hibernate-orm-panache] Incorrect query parameter binding for fields with custom converter"
### Describe the bug

Parameter value is being set with no regard for custom `@Converter`, causing incorrect result.
Take example of following table and entity
[code]

[code]

Passing `YEARLY` to query will be treated at ordinal enum (value=3), thus yield no results
[code]

### Expected behavior

Parameter value to be converted with customer converter before passing to query.
[code]
should generat

[2022-11-01 08:14] mschorsch opened #28977 "Managed Executor from Smallrye Context Propagation: Add configuration options"
### Description

As discussed in https://github.com/quarkusio/quarkus/discussions/28862 the worker pool that should be used in Quarkus is the [Managed Executor from Smallrye Context Propagation](https://quarkus.io/guides/context-propagation#usage-example-for-completionstage).

The worker pool cannot currently be configured via `application.conf`. Please add configuration options to configure this

[2022-11-01 08:15] mschorsch commented on #28977
@geoand as discussed in https://github.com/quarkusio/quarkus/discussions/28862#discussioncomment-4015964

[2022-11-01 09:25] geoand commented on #28955
https://github.com/quarkusio/quarkus/pull/28978 will allow you to make arbitrary customizations for Kotlin Serialization Json

[2022-11-01 09:27] geoand commented on #28962
`@QuarkusIntegrationTest` runs the application as a black blox. If you are testing the jar and not a container or a native binary, then you can enabled Java debugging via `quarkus.test.arg-line=-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005`

[2022-11-01 09:27] #28962 closed

[2022-11-01 09:38] bboyz269 commented on #28976
After more digging, my error was in fact because I used `@Converter` on `@Id` field, which is not supported by JPA specs some reasons. So this should be closed.

For others that have the same problem, there's a work around by making use of `@IdClass` and putting `@Converter` on it.
Reference link: https://stackoverflow.com/questions/44069361/convert-on-id-field

[2022-11-01 09:38] #28976 closed

[2022-11-01 09:42] geoand commented on #28955
Hopefully part of `2.15` :)

[2022-11-01 09:50] geoand commented on #20303
Nope, it should just work

[2022-11-01 09:55] geoand commented on #28954
There is not much we can do in Quarkus for this case. You will need to [register](https://quarkus.io/guides/writing-native-applications-tips#registerForReflection) these classes for reflection manually.

[2022-11-01 09:55] #28954 closed

[2022-11-01 09:55] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3367028956

[2022-11-01 12:10] syr commented on #28875
@jmartisk Thanks a lot for the workaround. :) Will give it a try soon.

[2022-11-01 12:24] sberyozkin commented on #28965
@StephenOTT I think this question should be asked at https://github.com/keycloak/keycloak/discussions,
FYI, the roles which are available in the token can be used for the Quarkus RBAC decisions made at the Quarkus level, Keycloak Authorization is about Keycloak returning an authorization decision based on the Keycloak authorization policies set up in Keycloak

[2022-11-01 12:25] sberyozkin commented on #28890
@StephenOTT

I think so, yes.
Let me close this issue now

[2022-11-01 12:25] #28890 closed

[2022-11-01 12:31] sberyozkin commented on #28965
@StephenOTT Let me close this issue, sorry, I can't move it to Discussions for some reasons (GitHub reports `Unable to convert this issue to a discussion. Category is not accessible to the actor`), please try to convert it to either a Keycloak or Quarkus discussion. It looks like to me you may not need to use `quarkus-keycloak-authorization` if you'd like to use the roles, lets continue the discus

[2022-11-01 12:31] #28965 closed

[2022-11-01 14:03] sberyozkin commented on #19302
Let me close it as not planned for the (non-reactive) security JPA extension, please see an enhancement request at #23553

[2022-11-01 14:03] #19302 closed

[2022-11-01 14:44] Manfred73 commented on #20303
It doesn't but maybe I configured something wrong?

I have a test like this where I override ```application.yaml``` with ```application-integration.yaml``` and specific property I want to override from that ```application-integration.yaml```: ```file.location```:

[code]
Then in my Resource class I have something like:

[code]

And the ```application-integration.yaml```:

[code]

Furthermore I hav

[2022-11-01 14:52] Manfred73 commented on #28962
I assume this is a property you set in the application.properties?

[2022-11-01 14:59] geoand commented on #28962
Exactly

[2022-11-01 15:40] #28489 closed

[2022-11-01 15:51] thedewpoint commented on #28933
@gastaldi @geoand is there any other info i can provide that would be helpful? Or anyone else we should tag in?

[2022-11-01 16:20] geoand commented on #28933
I have no idea TBH

[2022-11-01 16:21] geoand commented on #28769
Closing as per my comment above (and as we never got a reproducer)

[2022-11-01 16:21] #28769 closed

[2022-11-01 16:23] DMaxter commented on #27215
Is there an estimated date for when the refactoring will be done?

[2022-11-01 16:25] geoand commented on #27215
The refactoring has been done and merged in `main`.

@Sgitario would you like to take another look at this issue?

[2022-11-01 16:27] geoand commented on #28893
@Ladicek is this an issue with the Jandex update?

[2022-11-01 16:35] geoand commented on #28530
@zakkak have we addressed this one?

[2022-11-01 16:37] Ladicek commented on #28893
`java.lang.NoSuchMethodError: 'void org.jboss.jandex.Indexer.index(java.io.InputStream)'` looks like something is pulling Jandex 2 on classpath. #28941 should help, but in the meantime, Keycloak can look at its dependency management to figure out what brings Jandex 2 into play.

[2022-11-01 16:44] geoand commented on #27023
@gwenneg this sounds reasonable to me. WDYT?

[2022-11-01 16:44] geoand commented on #26915
Closing as we did not get feedback

[2022-11-01 16:44] #26915 closed

[2022-11-01 16:46] geoand commented on #26641
Closing as `won't fix`

[2022-11-01 16:46] #26641 closed

[2022-11-01 17:17] coiouhkc commented on #28911
Clarified by @maxandersen in Zulip - explicitely enabling devservices is not same as being implicitly enabled by default and thus forces it to start postgres container; works as designed.

[2022-11-01 17:17] #28911 closed

[2022-11-01 18:30] StephenOTT commented on #28965
Discussion raised in https://github.com/quarkusio/quarkus/discussions/28989

[2022-11-01 18:34] zakkak commented on #28530
This is addressed in https://github.com/quarkusio/quarkus/pull/28596 if we end up needing it. The plan is to drop support for 21.3 in Quarkus 2.13 and mark this as a won't fix. But we are still waiting for all the tests to show that this is OK to do.

[2022-11-01 19:19] mswatosh commented on #28913
I believe this is how properties are specified with `additional-jdbc-properties` and these should be the two needed for Integrated Authentication with SQL Server on Windows:
[code]
This is assuming you're using the Krb5LoginModule, and not the .dll option, in which case see this document for the required properties: https://learn.microsoft.com/en-us/sql/connect/jdbc/using-kerberos-integrated-authe

[2022-11-01 20:05] Ntung029 commented on #28913
Thanks @mvwatosh for your suggestion. I have tried the authenticationScheme JavaKerberos and got this error in the native image.

[code]

[2022-11-01 20:26] mswatosh commented on #28913
That looks like it's getting farther than before, can you try it in JVM mode? `sun.security.provider.ConfigFile` is a JDK class, so missing that seems likely to be caused by the native compilation.

[2022-11-01 20:27] gwenneg commented on #27023
I like this global default config idea. It is totally reasonable and a great enhancement.

@renzodf I'm not sure I understood what you meant here. Would `initial-capacity` and `maximum-size` be treated differently than other config keys? A global config value (which would act as a global limit) would make sense to me.

[2022-11-01 20:32] pedroigor commented on #28893
@geoand @Ladicek Removing Jandex 2 from classpath fixes the issue.

We also had another error due to the new version being set to Caffeine but we can solve by upgrading Infinispan.

Running our CI here https://github.com/pedroigor/keycloak/actions/runs/3372670628.

[2022-11-01 21:12] edeandrea commented on #28376
Any thoughts to what this might be? @geoand ?

[2022-11-01 23:41] Karm opened #28993 "Native, micrometer: jvm_info_total unpopulated fields"
### Describe the bug

Micrometer metrics seem to present unpopulated `jvm_info_total` fields in Native mode, e.g.

[code]

### Expected behavior

It should display more information, akin to JVM mode:

[code]

### Actual behavior

_No response_

### How to Reproduce?

Use https://github.com/quarkusio/quarkus-quickstarts/tree/main/micrometer-quickstart
[code]
http://localhost:8080/q/metrics

### Out

[2022-11-02 00:25] thedewpoint commented on #28933
@cescoffier maybe I opened this in the wrong repo, but maybe you could also take a look?

[2022-11-02 00:37] ebullient commented on #28993
We return what is provided by System properties by the JVM: https://github.com/micrometer-metrics/micrometer/blob/main/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmInfoMetrics.java

This issue, in my opinion, should be raised against GraalVM.

[2022-11-02 00:37] #28993 closed

[2022-11-02 03:26] pedroigor commented on #28893
Thanks, main tests passing.

[2022-11-02 03:26] #28893 closed

[2022-11-02 04:33] geoand commented on #28893
Thanks for the update!

[2022-11-02 04:36] geoand commented on #28376
Not really unfortunately

[2022-11-02 05:51] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3375011151

[2022-11-02 06:01] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3375011444

[2022-11-02 06:07] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3375014245

[2022-11-02 06:15] Manfred73 commented on #28962
I've added the following to my ```application-integration.yaml``` and ```application-test.yaml```:

[code]
When I now run the test it waits to attach debugger to port 5005. When I attach it, the test continues and I can debug through the test, however, when I do a post (using rest-assured), it doesn't stop at the breakpoint I set in the MyResource. I've also overridden the quarkus profile to use a

[2022-11-02 06:17] Sgitario commented on #27215
I guess you mean https://github.com/quarkusio/quarkus/pull/27526 which is already part of `2.14.0.CR1`. @DMaxter can you try the Quarkus version `2.14.0.CR1` and see if it works now?

[2022-11-02 06:18] geoand commented on #20303
Have you checked `target/quarkus.log`?

[2022-11-02 06:20] geoand commented on #28962
One thing worth noting is that `@QuarkusIntegrationTest` runs the application with the `prod` profile (although there is discussion of changing this).
That means that `application.yaml` should be used for configuring it (or setting system properties)

[2022-11-02 06:27] Manfred73 commented on #28962
Oh, that changes things. Now I may have an idea why my test fails and cannot find the file location ;-)

[2022-11-02 06:28] geoand commented on #28962
:)

[2022-11-02 06:29] geoand commented on #28962
https://github.com/quarkusio/quarkus/issues/24581 is the issue if want to chime in

[2022-11-02 06:36] #28823 closed

[2022-11-02 06:38] Manfred73 commented on #28962
Although this issue was also more about being able to debug the application. I'm still not able to get into the underlying code.

[2022-11-02 06:43] geoand commented on #28962
I just tried it and it works.

Essentially if there the failsafe plugin is configured, then the integration tests will run and using `quarkus.test.arg-line=-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005` makes Quarkus launch the jar (assuming you are testing the jar and not some other artifact) like so:

[code]

Attaching a remote debugging session to port `5005` will allow y

[2022-11-02 06:45] geoand commented on #28918
Closing as per Martin's comment.

Feel free to comment and/or reopen if you are not satisfied with the resolution

[2022-11-02 06:45] #28918 closed

[2022-11-02 06:47] geoand commented on #28906
Closing as per Martin's comment.

Feel free to comment and/or reopen if you are not satisfied with the resolution

[2022-11-02 06:47] #28906 closed

[2022-11-02 06:51] geoand commented on #28896
Makes perfect sense to me.

[2022-11-02 06:51] geoand commented on #28896
@acosta would you be interested in this?

[2022-11-02 06:52] geoand commented on #28897
@jacobdotcosta would you be interested in this?

[2022-11-02 06:54] Manfred73 commented on #28962
OK, but when I have an integrationtest that posts something to my service and something goes wrong because of some misconfiguration. How will I be able to debug that?

[2022-11-02 06:56] cescoffier commented on #28933
If you build from an ARM cpu you get a ARM container. Is the machine running the container using an ARM64 architecture?

[2022-11-02 06:58] geoand commented on #28962
What I mentioned above will allow you to debug the application itself. If you need to debug the tests as well, then you'll need to run `mvn verify -Dmaven.failsafe.debug` and connect a remote debugging session to port `5005`.

This means that you should then change `quarkus.test.arg-line` to `agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5006` in order to avoid debugging port conf

[2022-11-02 07:02] gmuellerinform commented on #28942
Hi! I had the same problem. Try using this connection string for H2: jdbc:h2:mem:test;DATABASE_TO_UPPER=false

[2022-11-02 07:08] geoand commented on #28502
@jcsim1024 just checking in, how is this going? Do you need any help?

[2022-11-02 07:10] geoand commented on #28705
@galderz @zakkak @jerboaa do you have any insights on this one?

[2022-11-02 07:10] #28350 closed

[2022-11-02 07:21] jacobdotcosta commented on #28443
I can take a look at this issue, it seems to be an affordable first issue for me after reading @glefloch comments.

[2022-11-02 07:22] punkratz312 opened #28995 "PanacheEntityResource not propagating javax.annotation.security"
### security is not respected

we have custom endpoints and generated one with PanacheEntityResource.

all have security annotations. the security has no effect on PanacheEntityResource:

<img width="1430" alt="Pasted Graphic 1" src="https://user-images.githubusercontent.com/8830888/199424971-65298bd6-b59b-4a88-acba-c7fba6c7d809.png">

@DenyAll but is still reachable:

<img width="1440" alt="Paste

[2022-11-02 07:29] Manfred73 commented on #28962
I'm running the integrationtest from Intellij IDE in debug (not using mvn command line). That works fine and I can debug the test that way.

In the prod ```application.yaml``` I've set the quarkus.test.arg-line (using port 5006). When I run the test, it asks to attach debugger. Then test continues, but it doesn't stop at the breakpoints in the application.

The ```@QuarkusIntegrationTest``` does p

[2022-11-02 07:31] geoand commented on #28962
You will still need a remote debugging session for connecting to the application itself.

[2022-11-02 07:32] mschirmacher opened #28996 "Missing kotlinx.serialization serializers"
### Describe the bug

In some situations the serializers generated by kotlinx.serialization are missing/get dropped.

I'm unsure if this should be considered a bug or an enhancement or if this is achievable at all. But let's see.

Given this code:
[code]

When the application is started in dev mode and you remove the comments  the endpoint `http://localhost:8080/hello/another` should reachable.
Bu

[2022-11-02 07:35] Manfred73 commented on #28962
Isn't that what I'm doing by setting the quarkus.test.arg-line in ```application.yaml```? Or is that for test only?

[2022-11-02 07:39] geoand commented on #28962
My point is that hitting `debug` in IntelliJ will only allow you to debug the test itself - it will not be sufficient to debug the application as the application itself runs in another process (which is the whole point of `@QuarkusIntegrationTest`)

[2022-11-02 07:40] glefloch commented on #28896
@geoand that would having configuration both in the build file and in the application.properties file. Is that ok ?

[2022-11-02 07:43] Manfred73 commented on #20303
Yes, the only thing I see there is:

[code]
And an empty log file /tmp/logs/test/files-repository (which comes from the test profile settings and not from the prod or integration profile settings.

[2022-11-02 07:44] yrodiere commented on #24742
The issue was reported to the `google-cloud-spanner-hibernate` project, who is waiting for someone from the community to fix it.

As this is not an issue in Quarkus proper, and would affect any framework as soon as you're using `google-cloud-spanner-hibernate` with multiple persistence units, I'll close this ticket.

If you happen to find this and want to fix the problem, head over to https://gith

[2022-11-02 07:44] #24742 closed

[2022-11-02 07:44] geoand commented on #28896
I would say that whatever is in `application.properties` overrides what's in the build file, that's what we've done so far.

The way I see it, this issue is just about providing an idiomatic way of setting some properties

[2022-11-02 07:46] zakkak commented on #28705
You can generate a Dockerfile from https://github.com/quarkusio/quarkus-images with `mvn install -Djdock.dry-run=true`. The location of each Dockerfile is printed in the log.

The `RUN gu install js` you suggest makes sense. I suggest giving that a try by building your own image builder.
If that turns out to work for you I guess you can then create a Dockerfile with `FROM ubi-quarkus-graalvmce-bui

[2022-11-02 07:48] rsvoboda opened #28997 "6 failed tests in `h2spec` (conformance testing tool for HTTP/2) run"
### Describe the bug

6 failed tests in `h2spec` (conformance testing tool for HTTP/2) run

[code]

Tried to run it against WildFly and they have just 2 failed tests.

### Expected behavior

To be on par with WildFly, ideally all tests pass

### Actual behavior

146 tests, 140 passed, 0 skipped, 6 failed

### How to Reproduce?

 - get h2spec
   - build it - https://github.com/summerwind/h2spec#bui

[2022-11-02 07:51] geoand commented on #28034
@jmartisk @phillip-kruger I really think we need to address this as it's an annoying issue for anyone using the GraphQL UI.

I can certainly provide a dump fix myself in smallry-graphql, but I am certain it won't be the proper solution as I don't have any of the necessary context

[2022-11-02 07:53] phillip-kruger commented on #28034
Sure, we will look at this a.s.a.p. We can move this to SmallRye and close here ?

[2022-11-02 07:55] geoand commented on #28034
Sounds good to me

[2022-11-02 08:03] knutwannheden commented on #24581
Interesting. This is also matches what we are doing in our Quarkus projects. Instead of using `@QuarkusIntegrationTest` we built our own JUnit5 extension to run tests against the application running as Docker container. We are however looking into migrating to `@QuarkusIntegrationTest`. For that we would however certainly want to use a dedicated config profile.

[2022-11-02 08:24] rsvoboda commented on #28997
CC @cescoffier, @geoand

[2022-11-02 08:29] #28857 closed

[2022-11-02 08:35] yrodiere commented on #15776
Closing now, I think @geoand forgot to actually do it :)

[2022-11-02 08:35] #15776 closed

[2022-11-02 08:37] geoand commented on #15776
Oops! Thanks for catching the mistake @yrodiere

[2022-11-02 08:38] geoand commented on #28997
Likely something for @pmlopes and @vietj

[2022-11-02 08:39] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3375014245

[2022-11-02 08:43] glefloch commented on #28443
Yes you can, I gave it a try a week a go, but it wasn't as easy as I thought, I tried declaring gradle system properties to the quarkus process system properties but it had no effects :/

[2022-11-02 08:45] yrodiere commented on #21650
That's questionable; ideally you wouldn't put secrets in your executable. You would use [environment variables](https://quarkus.io/guides/config-reference#environment-variables) or [a `.env` file](https://quarkus.io/guides/config-reference#env-file) or an [`application.properties` in your deployment directory](https://quarkus.io/guides/config-reference#application-properties-file), or any [other i

[2022-11-02 08:45] #21650 closed

[2022-11-02 08:48] Sukitly commented on #26986
@manovotn
What is the difference between jakarta-10-cdi, jakarta-10-jaxrs and jakarta-rewrite?
And when Quarkus will finally be compatible with JakartaEE 10?
Thanks.

[2022-11-02 08:50] aigens commented on #28705
Thanks guys for your input. We managed to get it work by extending the
docker image with gu install js.

On Wed, Nov 2, 2022, 15:46 Foivos ***@***.***> wrote:

[2022-11-02 08:50] geoand commented on #28705
Thanks for letting us know!

[2022-11-02 08:50] #28705 closed

[2022-11-02 08:51] geoand commented on #28962
👌🏼

[2022-11-02 09:02] ia3andy commented on #28497
@gastaldi we need both minimum and recommended versions, why "or"?

[2022-11-02 09:25] lostiniceland commented on #28906
@gsmet  I havent been able to test earliert, but I can confirm that the error is gone in 2.14.0.CR1

[2022-11-02 09:25] Manfred73 commented on #28962
And the reason for not coming into underlying sourcecode for one particular IT test I mentioned here:

The test uses the resource path from the real class as follows:
[code]

In my integration test I did a post:

[code]
So I actually did a ```post("/v1/files/v1/files")``` instead of ```post("/v1/files")```.
No wonder it didn't stop in the real code, since it never came there.

[2022-11-02 09:26] mkouba commented on #16576
I'm going to close this issue. I don't think it makes sense to implement the parent first check to solve a corner case like this (bean class extends a jboss logging class). FYI the monitoring feature in the dev mode will be disabled by default in 2.14+ so you should not see the problem unless you add an interceptor binding to the `ImplementedService` bean or use `quarkus.arc.dev-mode.monitoring-en

[2022-11-02 09:26] #16576 closed

[2022-11-02 09:26] HerrDerb commented on #28857
Cool, thank you 👍😊

[2022-11-02 09:27] geoand commented on #28857
Thanks for reporting the issue :)

[2022-11-02 09:55] manovotn commented on #26986
@Sukitly there is already an alpha release running on Jakarta EE10, look for `3.0.0.Alpha1`
I don't know the exact state of what's in it and what's not yet ready though.

@gsmet do we have some public issue or roadmap that would capture jakarta EE 10 readiness and some rough dates?

Currently, the jakarta variant is built automatically by performing a package and dependency transformation and then

[2022-11-02 10:00] Manfred73 commented on #28962
This seems not to be entirely true though.
When you have an ```application**-test**.yaml```, then ```@QuarkusIntegrationTest``` takes its values from there.

[2022-11-02 10:00] karesti commented on #27318
We are going to put a comment in the docs @geoand

[2022-11-02 10:02] geoand commented on #27318
Great idea

[2022-11-02 10:02] ppalaga commented on #21718
Declaring quarkus-maven-plugin with `<extensions>true</extensions>` works for me.

[2022-11-02 10:02] #21718 closed

[2022-11-02 10:04] manovotn commented on #26986
Ah found it, take a look at this post @Sukitly - https://groups.google.com/g/quarkus-dev/c/xjHIBk6Mx7k/m/4sfjhP6IAwAJ

[2022-11-02 10:13] ia3andy opened #29000 "[EPIC] Allow to migrate from Quarkus 2 to 3 with our tooling"
### Description

Our tooling (Maven, Gradle, CLI) should allow to migrate a project from Quarkus 2 to 3. For this we are going to use openrewrite to do the grunt work.

- [x] (WIP) List everything that should be migrated and find what currently is covered by the existing open-rewrite recipes https://hackmd.io/@ZJbzQRBpQ9OZjrz_J-KZhA/r1la7TkBo
- [x] Test recipes on quickstarts
- [x] Have a way to m

[2022-11-02 10:18] israelstmz commented on #7883
Any news regarding this issue? We also ran into this unexpected behavior and still can't find a decent walkaround.
We whish to declare a "catch-all" exception mapper - and log these to our DB. But any pre-defined mapper keeps overriding our generic one. We tried changing our priority but it doesn't help, probably since the more specific pre-defined mapper always "wins"...

[2022-11-02 10:20] DavideD commented on #28975
Checking ...
I remember we used to have an issue with lazy *-to-one, but it should be fixed.

[2022-11-02 10:30] cescoffier commented on #25422
Added to the Stork roadmap.

[2022-11-02 10:42] #28791 closed

[2022-11-02 10:45] oo00spy00oo opened #29002 "Adding Content-Type for PGP in Quarkus RESTEasy Reactive"
### Description

Adding Content-Type for PGP in Quarkus RESTEasy Reactive

[code]

Ref:
https://www.rfc-editor.org/rfc/rfc3156.html
https://www.iana.org/assignments/media-types/media-types.xhtml

### Implementation ideas

_No response_

[2022-11-02 10:45] michalvavrik commented on #28915
@chrisruffalo I almost forgot, you can work around the issue by registering OracleDriver with DriverManager at runtime till this is fixed with Quarkus.

[2022-11-02 10:47] davidreis97 commented on #28818
@cescoffier @geoand Hi there, have you had the chance to read my previous comment? Should we reopen the ticket and set the proper labels to reflect the fact that this is still an issue that should be solved?

[2022-11-02 10:48] Ladicek commented on #29002
Smallrye RESTEasy doesn't exist. What exactly do you have in mind?

[2022-11-02 10:51] oo00spy00oo commented on #29002
I've just updated the name to Quarkus RESTEasy Reactive

[2022-11-02 10:57] DavideD commented on #28975
Looks like a bug in Hibernate Reactive, I will write a test for it and get back to you.

(By the way, Master/Slave [are quite problematic terms](https://www.selfdefined.app/definitions/master-slave/). It might be a good idea to pick different names in the future)

[2022-11-02 10:58] Ladicek commented on #29002
Ah that makes a lot more sense, thanks.

CC @geoand @FroMage, I guess :-)

[2022-11-02 10:59] geoand commented on #29002
I am not sure what kind of support you are looking for.
Can you elaborate please?

[2022-11-02 10:59] ia3andy commented on #29000
cc @maxandersen

[2022-11-02 11:03] oo00spy00oo commented on #29002
In my case: when I send a request with header `Content-Type: application/pgp-encrypted` from client (E.g. Postman), I got the response with http code `415` (Unsupported Media Type)

[2022-11-02 11:04] geoand commented on #29002
But that is expected if you don't have a JAX REsource Method that consumes that type.

[2022-11-02 11:10] oo00spy00oo commented on #29002
My bad, add `@Consumes("application/pgp-encrypted")` and it worked. Thank for your support

[2022-11-02 11:11] geoand commented on #29002
Thanks for the update

[2022-11-02 11:11] #29002 closed

[2022-11-02 11:14] Legion2 commented on #21650
Of cause we don't put credentials into the binary, but the URLs and configuration in the prod executable are pointing to production systems and credentials are discovered from the environment. For example, the application is configured to use the prod S3 bucket and uses the default aws credentials provider, which discovers credentials. Now if a developer runs this application locally the credentia

[2022-11-02 11:15] DavideD commented on #28975
Mmmh... it seems to work when I only use Hibernate Reactive (without Quarkus).
But, it doesn't work if I use Hibernate Reactive in Quarkus (without Panache).

[2022-11-02 11:15] geoand commented on #11992
@cescoffier do we have any plans for Redis Panache?

[2022-11-02 11:16] geoand commented on #25151
@radcortez where you able to get a chance to look at this one?

[2022-11-02 11:16] cescoffier commented on #11992
Repository yes, but active record no.

[2022-11-02 11:17] geoand commented on #27641
@iocanel I wonder if this is something we might want to do with the Quarkus CLI...

[2022-11-02 11:20] DavideD commented on #28975
Nevermind, something is also not working in Hibernate Reactive. I will continue to check and get back when I've figured it out

[2022-11-02 11:23] cescoffier commented on #28997
All (except maybe the last one) can only be fixed in vertx and maybe netty.

@Vietj

[2022-11-02 11:44] DavideD commented on #28975
I've created the issue for Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/issues/1417

[2022-11-02 12:26] gastaldi commented on #28497
@ia3andy when I created the issue I thought it would not be necessary, but now that you mention, I think both makes sense (eg. because GraalVM might not work with the latest JDK)

[2022-11-02 12:46] u6f6o commented on #28955
Lovely! 🥳

[2022-11-02 13:02] dvelho commented on #28610
Also having the same issue

[2022-11-02 13:25] Dosexe commented on #19041
Hi, any updates on this topic? Seems quite strange that if I want to send multiple files with form names `attachment[0]`, `attachment[n]`, I have to predict the attachments limit in MultipartForm class

[2022-11-02 14:34] sberyozkin opened #29010 "quarkus-resteasy-reactive-jackson with JsonView AND SecureField"
### Discussed in https://github.com/quarkusio/quarkus/discussions/28901

<div type='discussions-op-text'>

<sup>Originally posted by **lenped** October 28, 2022</sup>
In the Quarkus guide https://quarkus.io/guides/resteasy-reactive#json-serialisation  JsonView and SecureField is mentioned as supported. This seems to work if I am using one OR the other, but if I try to use both in same entity only

[2022-11-02 15:16] ia3andy commented on #28840
thanks @FroMage it's indeed a really good inspiration

[2022-11-02 15:23] geoand commented on #29010
https://github.com/quarkusio/quarkus/pull/29011 takes care of the issue

[2022-11-02 15:50] punkratz312 commented on #28995
thanks for the fix.

what about javax.transaction.Transactional ?

we dont have dedicated tests yet for this scenario.
if the annotation inheritance flow is discontuned and must be whilelisted maybe this one is missing too?

<img width="810" alt="image" src="https://user-images.githubusercontent.com/8830888/199536484-bade9e19-3e66-4aeb-8785-8c6b4e6e6cf7.png">

[2022-11-02 15:58] faermanj opened #29012 "IsolatedDevModeMain fails to start with module-info present"
### Describe the bug

Starting a @QuarkusMain class within an IDE when using modules throws the following exception:
[code]

Running the same code works fine if it is without module-info or outside IDE (quarkus, mvn, java -jar ...)
Both IntelliJ and VSCode presenting the same issue.

source repo: https://github.com/CaravanaCloud/cloud-janitor

### Expected behavior

Starts the quarkus app whithin

[2022-11-02 16:37] brunobat opened #29013 "Move all OTel tests away of sorted start time"
### Description

This is a follow up to the work done on this PR: https://github.com/quarkusio/quarkus/pull/28471
We must not compare by start time like in RestClientOpenTelemetryTest which uses  TestSpanExporter.getFinishedSpanItems(...)
We need to fix the remaining tests.

### Implementation ideas

_No response_

[2022-11-02 17:02] jie-huang opened #29015 ""The 'logout.path' property can only be enabled for WEB_APP application types" should be ERROR level"
### Describe the bug

1. Creating an OIDC app with application-type SERVICE, and config quarkus.oidc.logout.path
2. Start the quarkus app
It shows something like:
[code]

### Expected behavior

Message "The 'logout.path' property can only be enabled for WEB_APP application types" should be ERROR level at least since it causes problem for the app to work correctly.

### Actual behavior

The message

[2022-11-02 17:08] jie-huang commented on #29015
I am not sure why some parameters can be ignored, bug some are checked and enforced.
The check is in https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java
But, what is the motivation to handle the several parameters specially?
e.g. quarkus.oidc.logout.post-logout-path should be only work for WEB_APP or HYBRID, but it is not c

[2022-11-02 17:24] sberyozkin commented on #29015
@jie-huang The reason behind this one being reported as an error at runtime is because it is indeed a bug/has no point to use it for `service`, I have to admit we don't do such strict checks for all the dozens of various configuration properties but only for some most often used ones.
I have to admit I don't understand why this exception is reported as an INFO message in devmode; Hmm, I think/reca

[2022-11-02 18:05] brunobat commented on #28904
duplicated with https://github.com/quarkusio/quarkus/issues/28528

[2022-11-02 18:05] #28904 closed

[2022-11-02 20:49] mun711 commented on #26208
The following properties were added
quarkus.quartz.cron-trigger.misfire-policy
quarkus.quartz.simple-trigger.misfire-policy

[2022-11-02 21:14] rmanibus opened #29017 "Request Context Race condition in quarkus 2.13"
### Describe the bug

when firing an async CDI Event, the request context from the emitter briefly exists for the observer and is then terminated.
This prevents to create a new Request context for the Async observer since the emitter context still exist.

This was working in Quarkus 2.12

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

reproducer:

[2022-11-02 21:19] rmanibus commented on #29017
@mkouba do you have an idea about this ?

[2022-11-02 22:09] summit-pgoncalves opened #29019 "Kafka messages on multiple consumers for the same channel with Hibernate Reactive dont work on Quarkus 2.13"
### Describe the bug

Since **2.13.0** version of Quarkus, using the **session.withTransaction** then closing it as per the documentation is not working anymore when using multiple consumers for the same channel. Throwing multiple exceptions:

[code]

The migration guide indicates:

_Prior to Quarkus 2.13, the Reactive Messaging consuming methods were called with an active CDI request context, ina

[2022-11-02 23:11] machi1990 commented on #26208
Fixed by https://github.com/quarkusio/quarkus/pull/28716

[2022-11-02 23:11] #26208 closed

[2022-11-02 23:11] machi1990 commented on #26208
Thanks @mun711

[2022-11-03 01:43] thedewpoint commented on #28933
@cescoffier no I was building for multi-architecture. I was building for amd64 and arm64 originally using the platforms configuration

[2022-11-03 03:59] #28995 closed

[2022-11-03 05:03] Esakkimuthu991 opened #29023 "JwtClaimsBuilder failing with setting claims for UUID with the Quarkus 2.13.3"
### Describe the bug

We 've got issue saying "_java.lang.ClassCastException: class java.util.UUID cannot be cast to class java.lang.String (java.util.UUID and java.lang.String are in module java.base of loader 'bootstrap')_" while setting claims using JwtClaimsBuilder with the latest quarkus version 2.13.3.

[code]

We are facing issue in line `claimsBuilder.claim("TEST_ACCESS", Map.of(UUID.rando

[2022-11-03 05:32] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3383147197

[2022-11-03 05:50] cescoffier commented on #23804
Please open a new issue with a reproducer.

[2022-11-03 05:51] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3383149930

[2022-11-03 05:52] cescoffier commented on #28933
Can you show me how you did that? I don't believe it's supported.

[2022-11-03 05:53] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3383147896

[2022-11-03 05:54] cescoffier commented on #28933
Ah using jib platforms? We need to ask @geoand but I doubt it would trigger a native build for that platform (not without emulation)

[2022-11-03 06:04] geoand commented on #28933
https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#how-do-i-specify-a-platform-in-the-manifest-list-or-oci-index-of-a-base-image is the Jib platforms feature

[2022-11-03 06:06] #28286 closed

[2022-11-03 06:54] geoand commented on #29010
Closed by https://github.com/quarkusio/quarkus/pull/29011

[2022-11-03 06:54] #29010 closed

[2022-11-03 07:32] #28864 closed

[2022-11-03 07:41] tarilabs opened #29025 "io.quarkus...BootstrapMavenException resolving a wrong dependency version"
### Describe the bug

It seems `io.quarkus.bootstrap.resolver.BootstrapAppModelResolver` is somehow resolving a wrong version for a transitive dependency in a quarkus based application.

I have a reproducer where `mvn dependency:tree` gives:

[code]

please notice the version of `xmlpull` is: `xmlpull:xmlpull:jar:1.1.3.1` accordingly to Maven.

### Expected behavior

- `mvn clean install` to finis

[2022-11-03 07:53] mkouba commented on #29017
No idea so far. I need to take a good look at the reproducer. In any case, the `@ActivateRequestContext` should not be needed for async observers because the request context is always active during notification.

[2022-11-03 08:28] mkouba commented on #29017
It seems that a new request context is not activated during the notification because the thread that is used has an associated Vertx _duplicated context_ with the request context state from the thread that was used to handle the `org.acme.Resource.execute()` resource method... which is really weird :thinking: CC @cescoffier

Note that we use the `ExecutorService` obtained from the `ExecutorBuildIt

[2022-11-03 08:37] jmartisk opened #29027 "More straightforward way to mark specific config keys as secrets"
### Description

Currently, to protect specific config keys, you have to build and register an instance of `SecretKeysConfigSourceInterceptor`.
It would be nice to be able to, for example, mark something as a secret by using a specific type (or annotation?) for the property inside a `ConfigMapping`.

### Implementation ideas

_No response_

[2022-11-03 09:02] JaquelineP commented on #12086
I used the workaround, too. However, the readability of the code is impacted. Looking forward for a fix!

[2022-11-03 09:06] geoand commented on #28996
This happens because when we recompile the Kotlin code, the compiler plugin isn't added.

@glefloch didn't you do something to address this?

[2022-11-03 09:09] Karm commented on #28944
Hello @csscriptplus, I don't think this is a Native specific issue. The build went fine. The error is Unauthorized access. Perhaps some credentials resources are missing? Env vars not populated?

[2022-11-03 09:14] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3383149930

[2022-11-03 09:44] yrodiere commented on #18859
Hey @cescoffier:

But this ticket is about forcing HTTP2, as far as I can tell, not just supporting it. Are you saying forcing HTTP2 is not necessary? Should we close this ticket?

[2022-11-03 09:46] yrodiere commented on #17995
Hey @cescoffier Should we close this as out-of-date, since we now have multi-arch images?

[2022-11-03 09:54] geoand commented on #17995
Also cc @holly-cummins

[2022-11-03 10:05] csscriptplus commented on #28944
Hello @Karm , I don't know if it's a native build issue or a Quarkus Maven plugin issue. I talked to the Helm Chart developer and he said:

If I **delete** the -Pnative parameter, then the build works.
- the jib.base-registry use the docker user account
- the helm.repository use the helm user account
- the image.registry use the nexus user account

Docker image is uploaded to the Docker repository

[2022-11-03 10:24] yrodiere commented on #22080
Hey @fabrii, if I take your reproducer and upgrade to to Quarkus 2.14.0, all tests pass. Can you confirm this issue has been fixed sometime between Quarkus 2.5 and 2.14?

[2022-11-03 10:56] Sgitario commented on #28944
Hello, I'm the Quarkus Helm extension developer ;)
So, the issue only happens when using the `quarkus.helm.repository.xxx` properties? This is rather weird because the exception printed in the attached log is thrown when building the Docker image by the Container Image Jib extension that has nothing to do with the Helm configuration.
However, if you're using: `the image.registry use the helm user

[2022-11-03 11:03] DavideD commented on #28975
@gavinking Given that this is a one to one association (with bytecode enhancement enabled), what's the right approach to use?

Entity:
[code]

1. ```
    Mutiny.fetch(leader.getFollower())
[code]

Should both work?

[2022-11-03 11:06] gavinking commented on #28975
You might have to use the overload of `fetch()` where you pass in the field name. (Remember there's a section of the docs which deals with field-level lazy fetching.) But I didn't have time to look at it, so I'm not sure.

[2022-11-03 11:07] sberyozkin commented on #29027
Roberto, David have a few ideas, some issues could be opened as well

[2022-11-03 11:09] sberyozkin commented on #29023
Hi @Esakkimuthu991 It feels like it is something to do with the project not being re-built or something like that, can you please provide a reproducer ?

[2022-11-03 11:11] pragatiipatil opened #29032 "java.io.IOException: Problem reading font data, while generating japser reports"
### Describe the bug

Dockerfile is used in order to build a container that runs the Quarkus application in JVM mode. Application builds successfully with no error but while generating reports using jasper below exception is thrown.

[code]

### Expected behavior

The application behaves as expected in dev mode, that is jasper reports are generated without throwing any error.

### Actual behavior

[2022-11-03 11:14] DavideD commented on #28975
The problem is that I'm not sure what we mean with `field-level` fetching. Does it include anything?  I guess it means anything that's not a collection.

It seems there are also some differences when BE is enabled and it's not.

[2022-11-03 11:17] stuartwdouglas commented on #18859
IMHO forcing HTTP/2 is not necessary, if HTTP/2 is not happening it is likely because the client is not attempting to upgrade.

[2022-11-03 11:31] DavideD commented on #28975
By the way, @paomian, if you need a workaround, this will work:
[code]
[code]

[2022-11-03 11:45] csscriptplus commented on #28944
This is not my configuration.
The build behaves like this. According to my configuration it is defined that image.registry should use the Nexus user and Helm charts should use the Helm user.
I was just testing what happens when I give the Helm user permission to the Docker repository. The test was then successful and the build runs through without errors. So this means that image.registry does not

[2022-11-03 11:47] krisgerhard commented on #28167
Using newer mandrel image with `@RegisterForReflection(ignoreNested=false)` resolves the issue.
`quarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:22.3.0.1-Final-java17`

How could we do this automatically?

[2022-11-03 11:50] geoand commented on #28167
quarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:22.3.0.1-Final-java17

Thanks for the update!

It would require a change in Quarkus

[2022-11-03 11:50] krisgerhard commented on #28167
Also, fyi. I was testing with Quarkus `2.14.0.Final`

[2022-11-03 11:54] goafabric commented on #17995
@yrodiere
are we talking about the same thing here ?
the issue is about BUILDING Arm images for apple silicon with a fitting ARM GRAALVM builder
NOT about the Multi Arch Base Image now provided

[2022-11-03 11:56] mkouba commented on #29017
It turns out that the [Vertx context is captured](https://github.com/quarkusio/quarkus/blob/2.14.0.Final/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java#L549-L573) when a new task is submitted from a thread of the default blocking `ExecutorService` and restored when the task is executed on a different thread. I would not expect this kind of behavior but

[2022-11-03 12:04] mkouba commented on #29017
Note that the capture/restore makes it possible to access the vertx context concurrently from multiple threads.

[2022-11-03 12:05] zhfeng commented on #28415
+1 for re-opening this issue.

[2022-11-03 12:18] geoand commented on #28167
https://github.com/quarkusio/quarkus/pull/29033 should do the trick for automatically setting `ignoreNested` to `false` for Kotlin classes.

[2022-11-03 12:19] SailReal opened #29035 "`quarkus-keycloak-admin-client` throws `UnrecognizedPropertyException` using Keycloak 20.0.0 and native image while getting ServerInfo"
### Describe the bug

Using `quarkus-keycloak-admin-client` a `Keycloak.getInstance(url, realm, username, password, clientId).serverInfo().getInfo().getSystemInfo().getVersion();` fails using Quarkus version 2.13.3.Final and Keycloak 20.0.0 using a native image due to a `UnrecognizedPropertyException` of field `cryptoInfo`.

### Expected behavior

`quarkus-keycloak-admin-client` can be used togeth

[2022-11-03 12:41] Karm commented on #28993
Thx for the notes @ebullient,   (PR pending)
I patched GraalVM and it works for me now :+1:

[code]

[2022-11-03 12:47] thedewpoint commented on #28933
Ah ok so I guess what you're saying is there is 2 components to this, the native image being built and then the native image being containerized.
The native image isn't being built on an ARM based architecture so even if i containerize it for one it's still not compatible.

For my use case, I guess I need to update my CI to use an ARM based container to actually build the native image, and then co

[2022-11-03 12:48] yrodiere commented on #17995
TBH I have no idea, this is not my area of expertise and I'm just trying to get the ball rolling.

I know @holly-cummins had been working on running our testsuite on M1, and I assume this involves both building on M1 and running the resulting image on M1. So maybe she'll be able to tell us whether what you want is possible/planned.

[2022-11-03 13:21] fabrii commented on #22080
Hi @yrodiere. I confirm it was fixed on 2.12.2.Final.

Might be related to https://github.com/quarkusio/quarkus/pull/27666

[2022-11-03 13:22] goafabric commented on #17995
ok .. thank you

[2022-11-03 13:29] gsmet commented on #17995
My understanding is that the new images coming with Quarkus 2.14.0.Final are multiarch and should support M1.

2.14.0.Final will be released next Wednesday.

I will let @cescoffier confirm though.

[2022-11-03 13:30] fabrii commented on #22204
Hi! Just to point out that the fix related to Hibernate.isInitialized for envers collections was released on Hibernate 5.6.12, and it was updated on Quarkus 2.13.1.Final.

I don't know what the decision will be regarding *ToOne relations. Should be keep this issue or open a new one?

[2022-11-03 13:36] sberyozkin commented on #29035
We haven't worked on upgrading to KC 20.0.0 yet, so it is not really a bug, KC 19.0.3 is not expected to be forward compatible with higher versions of Keycloak

[2022-11-03 13:39] sberyozkin commented on #29035
Ignore my message please, it is a response from KC 20 which causes the problem

[2022-11-03 13:44] sberyozkin commented on #29035
@michalvavrik Hi Michal, do you recall why we have both of
[code]

@SailReal Can you please try `quarkus-keycloak-admin-client-reactive` ?

[2022-11-03 13:46] michalvavrik commented on #29035
@sberyozkin AFAICT @gsmet added it.

[2022-11-03 13:47] cescoffier commented on #17995
Starting 2.14, you will be able to build from ARM machines (like M1), and you will build an ARM container (so not x86).

I am working on cross-compilation, but rather slowly (other priorities).

[2022-11-03 13:49] michalvavrik commented on #29035
btw @sberyozkin I can have a look, but I bet you're already on it.

[2022-11-03 13:49] sberyozkin commented on #29035
Thanks, I guess the jaxb one is not relevant in this case though...

I see #25984 as possibly being related as it only does not work in native image, CC @zakkak just in case

[2022-11-03 13:51] sberyozkin commented on #29035
@michalvavrik I'm not really on it yet, as I have a few PRs to look at. I think it is a general Jackson native issue at this point

[2022-11-03 13:53] michalvavrik commented on #29035
Okay, let me check.

[2022-11-03 13:55] zakkak commented on #29035
Yes, it looks like a reflection registration issue. @michalvavrik Please let me know if you need any help.

[2022-11-03 14:04] summit-pgoncalves commented on #23804
Hi @cescoffier, yes created it https://github.com/quarkusio/quarkus/issues/29019

[2022-11-03 14:05] SailReal commented on #29035
@sberyozkin Yes, I'll check it and report back, takes some seconds to build :sweat_smile:

[2022-11-03 14:14] punkratz312 commented on #28995
@geoand
would you please consider releasing this critical security fix in 2.14 already?
we need to release our product very soon and would highly appreciate the bugfix. thanks

[2022-11-03 14:16] geoand commented on #28995
@Sgitario should this be backported to 2.14 and perhaps 2.13?

[2022-11-03 14:17] SailReal commented on #29035
`quarkus-keycloak-admin-client-reactive` doesn't show this problem using the native image.

[2022-11-03 14:26] sberyozkin commented on #29023
@Esakkimuthu991 I've looked at it closer, I'm not sure how it ever worked for you, since `smallrye-jwt-build`, when dealing with the Maps which represent a complex claim value/JSON structure, always expects Map keys be strings which is what JSON doc keys are always are.
I don't think we should update `smallrye-jwt-build` to convert Map keys to String as `.toString()` as it can lead to harder to di

[2022-11-03 14:28] cescoffier commented on #28933
@thedewpoint Yes. We are working on a GH Action workflow to do that (we already have something, but it's pretty complex).
Look at the quarkus superheroes workflows (and fasten your seat belt): https://github.com/quarkusio/quarkus-super-heroes/blob/main/.github/workflows/build-push-container-images.yml

[2022-11-03 14:31] Sgitario commented on #28995
Label to backport it to 2.14 added.

[2022-11-03 14:33] sberyozkin commented on #29035
Thanks @SailReal, looks like `quarkus-rest-client-jackson` does not have a fix which is available in `quarkus-rest-client-jackson-reactive` which is what `quarkus-keycloak-admin-client-reactive` depends upon...

[2022-11-03 14:35] computerlove opened #29040 "Sporadic «The current thread cannot be blocked» in graphql"
### Describe the bug

We are experiencing sporadic instances of
[code]
in our graphql-application.

The first code path getting this is

[code]

In another application I moved `getUser` to `beforeExecute`, I think in relation to [issue 1455](https://github.com/smallrye/smallrye-graphql/issues/1455) but cannot find an explicit reference to it.

The other instance looks like
[code]

Most calls invol

[2022-11-03 14:58] punkratz312 commented on #28995
thank you ver much, awesome. i'm sure we have chosen the right framework for our product.

[2022-11-03 15:00] geoand commented on #28995
Thanks for your kind words :)

[2022-11-03 15:01] pragatiipatil commented on #29032
Sorry, I cannot share that

[2022-11-03 15:03] geoand commented on #29032
We won't be able to address this without a sample. It doesn't need to be the actual project you are using, it would preferable be some very simple projects with the minimal set of code and dependencies that when used exhibit the problem

[2022-11-03 15:07] Ladicek commented on #28558
I have cleaned up my local branch, rebased on current Quarkus `main` and published it here: https://github.com/Ladicek/quarkus-jakarta-arc This repository only includes ArC, which is where the vast majority of changes are. This makes it much easier to experiment with. There's a tiny amount of changes required in Quarkus (core and the ArC extension) that are not published in that repository (someth

[2022-11-03 15:17] pragatiipatil commented on #29032
In my application when I'm trying to generate reports in pdf or excel format I get this error. The issue is not reproduced when running the application without container.
my docker file looks something like this:

####
# This Dockerfile is used in order to build a container that runs the Quarkus application in JVM mode
#
# Before building the container image run:
#
# ./mvnw package
#
# Then, build

[2022-11-03 15:33] pipinet commented on #27423
is looks like not fixed.
same error in 2.13.3.Final

[code]

[2022-11-03 15:53] galderz opened #29043 "Parent first dependencies method in Class Loading Reference guide not working for applications"
### Describe the bug

A Quarkus application that wants to use byteman to intercept and startup and shutdown events will suffer issues like this with default fast-jar.

On startup, byteman is loaded with the system classloader and it successfully injects the rule:

[code]

Then on shutdown, the rule won't trigger and you will see these messages appearing on byteman:

[code]

What is happening is th

[2022-11-03 15:58] thedewpoint commented on #28933
Thank you!

[2022-11-03 15:58] #28933 closed

[2022-11-03 15:59] galderz commented on #29043
One more thing. Quarkus code should be improved. A user shouldn't have to do any of this. Quarkus should not make it harder for tools like Byteman to be used with it. IOW Quarkus should hardcode byteman to be parent first class loaded.

[2022-11-03 16:07] mkouba commented on #20323
@maxandersen @ia3andy @ebullient Any progress here? I think that we can remove the `needs-triage` label and possibly add `area/platform`, or?

[2022-11-03 16:07] mkouba commented on #15655
Does it mean that the MQ extension will not be needed anymore?

[2022-11-03 17:05] michalvavrik commented on #29035
I don't agree with @sberyozkin, IMHO nothing to fix. Our Keycloak admin client is using `org.keycloak...` with version 19.0.3 and these are classes to which response from 20.0.0 is mapped. Only reason why it works for `quarkus-keycloak-admin-client-reactive` is different Jackson setup in here  `io.quarkus.keycloak.admin.client.reactive.runtime.ResteasyReactiveClientProvider#registerJacksonProvider

[2022-11-03 17:34] Postremus commented on #29032
@pragatiipatil
I use jaspersoft without any mayor problems with quarkus.

Is the used font installed installed in your docker image?
[code]

The wiki page about fontconfig (the tool for linux to manage fonts) is worth a read. https://wiki.archlinux.org/title/font_configuration#Query_the_current_settings

I manually install font files during docker build, you might have to do the same. I do use a c

[2022-11-03 18:13] StephenOTT opened #29047 "Improve quarkus-hibernate-reactive-rest-data-panache Hibernate Validation Violation Errors - Property Path"
### Description

Currently when you generate violations such as:

Using a validator on a annotation that is used at the class level and using the generated POST method for entity creation/insert.

entity:

[code]

Validator

[code]

This generates a json response of:

[code]

the `add.arg0` appears to be coming from `RestDataResource` with the `Entity add(Entity entity);` method? (https://github.c

[2022-11-03 18:57] DMaxter commented on #27215
The example in the updated docs is generating the following on Swagger:
![image](https://user-images.githubusercontent.com/35278584/199810332-b5edfc6f-62ad-46f9-8489-26e67a501009.png)

[2022-11-03 18:57] cescoffier commented on #15655
Our last discussion with the MQ team was to use the AMQP 1.0 connector.

[2022-11-03 19:08] DMaxter commented on #27215
When trying with a simple example (that is able to generate a file upload button in OpenAPI) I receive a null pointer exception

I tried with this
[code]

[2022-11-03 19:13] #27215 closed

[2022-11-03 20:52] sberyozkin commented on #29035
@michalvavrik Why would we want users mess with setting up Jackson just so that a JSON response containing a few unknown properties can be accepted ? This is just a basic interop concept, don't fail if some unknown properties in the response are available...

Why can't we have the right provider set for the non-reactive version as well ?

Does not it work correctly in the user reproducer ?

[2022-11-03 21:54] phillip-kruger commented on #27423
@mkouba any thoughts?

[2022-11-03 22:14] sberyozkin commented on #29035
Michal, IMHO we should move https://github.com/quarkusio/quarkus/blob/main/extensions/keycloak-admin-client-reactive/runtime/src/main/java/io/quarkus/keycloak/admin/client/reactive/runtime/ResteasyReactiveClientProvider.java into the existing common module and just use the same provider, that would offer a consistent and better user experience, do you agree with it ?

thanks

[2022-11-03 23:36] sberyozkin commented on #29035
Or at least most of it as the abstract class as I see `io.quarkus.rest.client.reactive.jackson.runtime.serialisers.ClientJacksonMessageBodyWriter;` there

[2022-11-04 00:24] ayhanap commented on #22934
Not directly related but I'm also looking for a way to initialize MongoDB connection pool at start. Lazy initialization mentioned here causes application to serve first requests slow. Doing all sort of things for fast serverless boot time but this hits.
Will probably fire some basic query in my custom application health check.

[2022-11-04 02:00] phillip-kruger commented on #29040
@sberyozkin ? Any tips here ?

[2022-11-04 03:49] paomian commented on #28975
@DavideD thanks. The code write by you just get id.This project just reproduce this exception.Maybe class `Slave` have other field to get.
I'm change the `FetchType.LAZY` to `FetchType.EAGER` now.
It's solve my problem temporary. but I still want use `LAZY` in this place .

[2022-11-04 04:44] jie-huang commented on #29015
@sberyozkin I agree with you.
1. The reports are good since it helps user to know the unnecessary config
2. The reports should be in WARNING (it should not be ERROR)
3. In case user configs the unnecessary config, it is better to let service continue to run instead of stop. (Important)

It is easy to fix, but it is hard for a user to figure out why at the beginning. The message like an INFO and th

[2022-11-04 05:08] Esakkimuthu991 commented on #29023
we can change it to String but the cause is with the latest version is not supports UUID in few other scenarios as well. if we fix this its failing in some other scenario. then we couldn't reap the benefit of using UUID in our project.

[2022-11-04 05:32] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3391371153

[2022-11-04 05:38] pragatiipatil commented on #29032
@Postremus Thanks for the help. If you don't mind, could you please share your dockerfile built using alpine?

[2022-11-04 05:39] geoand commented on #29032
Closing as this is not a Quarkus issue

[2022-11-04 05:39] #29032 closed

[2022-11-04 05:51] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3391371625

[2022-11-04 05:52] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3391374663

[2022-11-04 05:58] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3391373791

[2022-11-04 06:19] #29017 closed

[2022-11-04 06:41] geoand commented on #29043
@galderz mind taking a look at https://github.com/quarkusio/quarkus/pull/29053?

[2022-11-04 06:47] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3391374376

[2022-11-04 06:52] geoand commented on #19913
Do you know if this is still true @phillip-kruger ?

[2022-11-04 06:52] geoand commented on #20054
Is this still an issue?

[2022-11-04 06:53] geoand commented on #22211
Is this still an issue?

[2022-11-04 06:54] geoand commented on #26591
Closing as `won't fix`

[2022-11-04 06:54] #26591 closed

[2022-11-04 06:56] geoand commented on #29047
cc @Sgitario

[2022-11-04 06:59] mkouba commented on #27423
I'm not sure but it could be a use case similar to the one I described in https://github.com/quarkusio/quarkus/issues/27229#issuecomment-1226866860, i.e. the `ResteasyReactiveRequestContext.requestScopeDeactivated()` sets the current request to `null` when suspended. CC @geoand

[2022-11-04 07:07] geoand commented on #27423
Indeed it might be the same. Can you try `2.14.0.Final` which contains https://github.com/quarkusio/quarkus/pull/28868/commits/ca71dc9632117328fa094d81a8b9f52652aeb838?

[2022-11-04 07:14] michalvavrik commented on #29035
I agree it's inconsistent, but apart of `com.fasterxml.jackson.databind.ObjectMapper`, the code can't be re-used
[code]
Keycloak default version is using `org.jboss.resteasy.plugins.providers.jackson.ResteasyJackson2Provider` and that should pick up ObjectMapper from `io.quarkus.resteasy.common.runtime.jackson.QuarkusObjectMapperContextResolver` and thus behavior should be same as in reactive acco

[2022-11-04 07:14] mkouba commented on #22211
It does not seem to be fixed in Renarde: https://github.com/quarkiverse/quarkus-renarde/blob/1.0.4/deployment/src/main/java/io/quarkiverse/renarde/deployment/RenardeProcessor.java#L387-L411

CC @FroMage

[2022-11-04 07:24] michalvavrik commented on #29035
Just to check, @SailReal do you use `quarkus-keycloak-admin-client` together with `quarkus-resteasy-jackson`?

[2022-11-04 07:25] goafabric commented on #17995
@cescoffier
thank you .. honestly quarkus is already quiete extensible in that regard contrast to spring boot
thanks to a standard toolchain it is already enough to provide your own build image
which is luckily just a standard graalvm image .. but i guess you know this

so i think the most simple yet maximum effect approach, imho
would be to have just a simple property like

<quarkus.container.ima

[2022-11-04 07:38] DavideD commented on #28975
You should be able to change the query to load all the info you need without changing the field to EAGER.

[2022-11-04 07:38] DavideD commented on #28975
It's should be more efficient than running a separate query to load the lazy fields

[2022-11-04 07:44] yrodiere commented on #17995
Ok, so to clarify @goafabric:

* What is currently supported is building an M1-compatible (ARM) image on a Apple M1.
* If I understand correctly, you want to build your M1-compatible (ARM) image on a windows/linux (x64) machine. That's what Clément refers to as cross-compilation. That is not supported yet, but Clément is working on it (though that's not top priority).

I'll clarify the issue title

[2022-11-04 07:58] goafabric commented on #17995
@yrodiere
no i won't need cross compilation . if this is possible i'll take it sure :)
i would only like NOT TO build the arm builder image anymore .. which basically means that quarkus
has to provide a builder for x86 + arm64
and a simple config option as stated in my last comment

[2022-11-04 08:03] yrodiere commented on #22080
Glad to hear that, thanks a lot for your report and feedback, @fabrii!

I'll close this ticket.

[2022-11-04 08:03] #22080 closed

[2022-11-04 08:17] mkouba commented on #15655
@bartekkocik @coiouhkc @onrclk FYI

[2022-11-04 08:18] yrodiere commented on #22204
Thanks for the heads-up, yes we should close this ticket.

Regarding making `*ToOne` associations lazy, as we mentioned earlier, that's only possible in very specific cases (`optional = false`, ...).

If that's really a problem for you, and these `*ToOne` associations *were* lazy at some point, or they were at least explicitly documented as being lazy, or if them not being lazy is making Envers un

[2022-11-04 08:18] #22204 closed

[2022-11-04 08:28] phillip-kruger commented on #19913
Yes that sounds right. I'll have a look a.s.a.p

[2022-11-04 08:29] geoand commented on #19913
🙏🏼

[2022-11-04 08:29] mkouba commented on #18958
@manovotn @FroMage So is this really a bug or should we close it as won't fix?

[2022-11-04 08:33] jmartisk commented on #28875
I've submitted a PR with a potential fix, see https://github.com/smallrye/smallrye-graphql/pull/1605

[2022-11-04 08:36] loicmathieu commented on #22934
@ayhanap to initialize eagerly, you can use a method listening to the startup event https://quarkus.io/guides/lifecycle#listening-for-startup-and-shutdown-events then in this method make a dumb query (or a ping command as we do in the health check).

[2022-11-04 09:08] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3391373791

[2022-11-04 09:11] yrodiere commented on #15742
The PR ended with this comment:

So I'll assume this issue can be closed as well. Feel free to reopen or ping me if I'm wrong.

[2022-11-04 09:11] #15742 closed

[2022-11-04 09:20] famod commented on #28869
https://quarkus.io/guides/logging#quarkus-log-logging-log-config_quarkus.log.console.darken can be used to ease the pain a bit, but a separate color scheme for light backgrounds would be a more thorough solution.

[2022-11-04 09:27] michalvavrik commented on #29035
Okay, now I reproduced it inside Quarkus app with my reproducer, I'll check next week why we don't use provided mapper.

[2022-11-04 09:38] SailReal commented on #29035
If I can do something to help please let me know.

[2022-11-04 09:49] yrodiere commented on #7462
From what I can see, HHH-14387 was fixed upstream, and Quarkus upgraded to the version of ORM that fixes the problem.

I also ran this reproducer:

And tests pass on Quarkus 2.14.0.

So, I'll close this issue as fixed. Feel free to reopen or ping me if that's not true.

[2022-11-04 09:56] sberyozkin commented on #29035
Thanks Michal @michalvavrik, looks like an interesting problem to explore but not urgent IMHO; we do recommend users to use reactive equivalents which works in this case. But it can be useful to see how to control Jackson better in the legacy scenarios as well, thanks.

[2022-11-04 09:57] yrodiere commented on #20551
Hey @loicmathieu , do I understand correctly that you already merged a Hibernate ORM/Panache codestart for Java/Kotlin, and what remains to be done is "just" the reactive equivalent?

[2022-11-04 10:03] sberyozkin commented on #29023
@Esakkimuthu991

I'm sorry, but I don't understand how the fact that we can't treat objects as JSON keys predictably has anything to do with the use of UUID elsewhere in your project. You have said you had it working in the earlier, I can't see how it ever worked, can you do a reproducer confirming it ?

IMHO we should close this issue...

[2022-11-04 10:17] sag1 opened #29059 "Ensure that content-length is not set when transfer-encoding exists while propogating headers from rest client"
### Describe the bug

I am using `quarkus-resteasy-reactive-jackson` and `quarkus-rest-client-reactive-jackson` extensions for my API. All works well, but my acceptance tests are failing on postman due to the presence of `content-length: 1723` and `transfer-encoding: chunked`.  The client sends these headers

 content-type: application/json;charset=UTF-8
 date: Fri,04 Nov 2022 10:05:39 GMT
 server

[2022-11-04 10:19] geoand commented on #29059
Any chance you can create a sample application for us that will exhibit the problem being described?

[2022-11-04 10:24] geoand commented on #29059
Not really

[2022-11-04 10:26] loicmathieu commented on #20551
@yrodiere I only merge an Hibernate ORM codestart, the Panache one was on-ice see #21651, we never comes to an agreement on whether or not it's worth doing it, please give your feedback on the PR ;)

[2022-11-04 10:27] yrodiere commented on #19856
Hey. Sorry for the (very) long delay, but I just noticed this issue. I had a look at your reproducer.

The thing is, you're using the hibernate-types library directly, and that library is known *not* to work in Quarkus (I don't know the details). As a result, and in agreement with Vlad, a Quarkus extension was created that is essentially a fork of Hibernate-Types (because some of the required chan

[2022-11-04 10:29] gsmet commented on #29013
Note: I'm disabling the failing test for now here: https://github.com/quarkusio/quarkus/pull/29060 .

[2022-11-04 10:30] #28167 closed

[2022-11-04 10:31] vladmihalcea commented on #19856
Thanks @yrodiere for the explanation.

[2022-11-04 11:17] #29043 closed

[2022-11-04 11:23] yrodiere commented on #22773
Ok, so I'll decide: we've been arguing for a long time with no decision, we need to move on. Let's close this.

Two motivations:

1. Codestarts are a thing whether we like it or not. We could argue about their value, but that ship has sailed. If we provide codestarts, let's provide them consistently.
2. Adding a JDBC extension automatically is not possible, because we don't know which one to add.

[2022-11-04 11:23] #22773 closed

[2022-11-04 11:26] yrodiere commented on #22773
Also a note: if people want to have the ORM extension in their application and not use it for some weird reason, they can disable it with https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.enabled

[2022-11-04 11:26] yrodiere commented on #20551
@loicmathieu Done.

[2022-11-04 11:38] yrodiere commented on #17995
@goafabric Then I we're just waiting for Quarkus 2.14.0 to be fully released?

As I mentioned, in Quarkus 2.14 you can:

* build x86 images on x86
* build arm64 images on arm64

So you don't need custom builder image anymore, right?

[2022-11-04 11:47] zhfeng commented on #2720
Hi @GavinRay97, is there any update?

[2022-11-04 11:50] goafabric commented on #17995
ok .. if it will work with 2.14.0 i will close the issue .. did not know that.
will test it eventually . thank you

[2022-11-04 12:10] cescoffier commented on #29059
The fix is 'easy' but having a reproducer would be great as we would need to write a test for it.

The easy fix is to sanitize the headers before sending them and removing the content length if set.

[2022-11-04 12:14] brunohorta82 opened #29064 "io.smallrye.reactive.messaging.mqtt Override send Topic does not work"
### Describe the bug

mp.messaging.outgoing.mqtt-out.type=smallrye-mqtt
mp.messaging.outgoing.mqtt-out.host=${mqtt.host}
mp.messaging.outgoing.mqtt-out.port=${mqtt.port}
mp.messaging.outgoing.mqtt-out.username=${mqtt.username}
mp.messaging.outgoing.mqtt-out.password=${mqtt.password}
mp.messaging.outgoing.mqtt-out.auto-generated-client-id=false
mp.messaging.outgoing.mqtt-out.topic=to-override
mp.me

[2022-11-04 12:21] fabrii commented on #22080
You're welcome. This might be also related to https://github.com/quarkusio/quarkus/issues/2815

[2022-11-04 12:29] geoand commented on #29059
Exactly

[2022-11-04 13:24] ambition-consulting opened #29066 "io.quarkus.vertx.http.runtime.CurrentVertxRequest.getCurrent() is null on VertxMeterBinderUndertowServletFilter.doFilter(VertxMeterBinderUndertowServletFilter.java:31)"
### Describe the bug

2022-11-04 14:21:13,356 DEBUG [io.qua.mic.run.bin.ver.VertxHttpServerMetrics] (vert.x-eventloop-thread-2) requestRouted null HttpRequestMetric [initialPath=/payments/12345689, currentRoutePath=null, templatePath=null, request=io.vertx.core.http.impl.Http1xServerRequest@1a6d2c32]
2022-11-04 14:21:13,357 DEBUG [io.qua.mic.run.bin.ver.VertxHttpServerMetrics] (vert.x-eventloop-th

[2022-11-04 13:29] manovotn commented on #18958
IIRC, the expectations stated in [this comment](https://github.com/quarkusio/quarkus/issues/18958#issuecomment-894002736) are faulty from MP CP (and CDI) perspective. And from the comments I and @FroMage did back then, I'd say we agreed on that.

However, there was some awkward side effect behavior observed that we probably never delved into.
That might not even manifest now as there were multiple

[2022-11-04 14:17] ennishol opened #29067 "Produced beans don't generate metrics on methods @Timed"
### Describe the bug

When a produced bean has a public method annotated with `@Timed`, no metrics will be generated. `@ApplicationScoped` beans work as expected

### Expected behavior

Metrics are generated for produced beans

### Actual behavior

no metrics generated

### How to Reproduce?

[quarkus-timed-producers.tar.gz](https://github.com/quarkusio/quarkus/files/9939109/quarkus-timed-producer

[2022-11-04 14:25] DavideD opened #29068 "JPA Static Metamodel Generator"
JPA defines a typesafe Criteria API which allows Criteria queries to be constructed in a strongly-typed manner, utilizing so called static metamodel classes. For developers it is important that the task of the metamodel generation can be automated.

Hibernate provides an  annotation processor that generates the classes automatically.
This usually requires adding a dependency project and/or configu

[2022-11-04 15:29] #27318 closed

[2022-11-04 15:31] geoand commented on #29066
Can you please try with version `2.14.0.Final`?

[2022-11-04 15:31] FroMage commented on #28977
This is a wrapper onto the Quarkus thread pool, which is configured separately. The `ManagedExecutor` settings don't actually apply in this case because it's not creating a new thread pool.

You can configure the thread pool with [quarkus.thread-pool.core-threads](https://quarkus.io/guides/all-config#quarkus-core_quarkus.thread-pool.core-threads) and [quarkus.thread-pool.max-threads](https://quark

[2022-11-04 15:31] #28977 closed

[2022-11-04 15:31] ambition-consulting commented on #26724
@geoand - since we are not making progress here, and I urgently need this, I have created a PR following my original idea, which is guaranteed to be downwards compatible. Can somebody please review and comment how to proceed - or merge?

[2022-11-04 15:33] radcortez commented on #28610
I've tried to reproduce the issue by running the reproducers. I believe that everything is working as intended.

If you use https://github.com/patriot1burke/xray-demo, the configuration is missing the `Tracing: Active` in the generated sam file. I'm wondering if we should add that automatically if you add the x-ray extension. On the other hand, I'm not sure if this is something we want to do.

![S

[2022-11-04 15:37] geoand commented on #28977
Thanks for the information @FroMage. I didn't know that

[2022-11-04 15:46] geoand commented on #29067
Also cc @mkouba in case this is an Arc issue

[2022-11-04 15:54] ambition-consulting commented on #29066
Already done, same result.

[2022-11-04 15:55] geoand commented on #29066
Thanks for the info

[2022-11-04 15:55] FroMage commented on #28975
Keep in mind that with Panache we rewrite all field accesses to use the corresponding generated getter that dispatches to the Hibernate-generated lazy-loader getter. At least that's the case for the ORM version.

[2022-11-04 15:55] pipinet commented on #25232
Same problem with 2.13.3.Final

[2022-11-04 16:00] syr opened #29072 "Illegal field modifiers in class: 0x1A when using io.quarkus.logging.Log in interface default method"
### Describe the bug

We had a hard time to find out what is wrong due to not so helpful error message.

Tried to use io.quarkus.logging.Log inside a interface default method (Maybe this is generally a silly idea)

[code]

[code]

### Expected behavior

console log: `log same stuff for all implementations`

### Actual behavior

2022-11-04 16:50:49,262 ERROR [io.qua.run.boo.StartupActionImpl] (Quar

[2022-11-04 16:01] gsmet commented on #29072
/cc @Ladicek

[2022-11-04 16:02] pipinet commented on #29068
good idea! we also need this feature！
preferably panache can support typed Criteria API

[2022-11-04 16:09] FroMage commented on #22211
Hum, so I guess I have to fix this on my side now…

[2022-11-04 16:12] FroMage commented on #28977
I had to re-read the code to remember :)

[2022-11-04 16:28] radcortez commented on #25151
The issue is that the Cucumber Quarkus test class is annotated with both `@QuarkusIntegrationTest` and `@QuarkusTest` because we need to extend `CucumberQuarkusTest`.

I believe that with the current state of the extension we don't have support for `@QuarkusIntegrationTesT`, and this is not really a configuration issue. The problem just happens to manifest in config due to the mix of both annotati

[2022-11-04 17:11] galderz commented on #28993
FYI The patch that makes this work is https://github.com/oracle/graal/pull/5355

[2022-11-04 17:17] DavideD commented on #28975
Hibernate Reactive is different than ORM in this area. One needs to call `.fetch` explicitely or it's not going to work.

[2022-11-04 19:10] cescoffier commented on #25232
Are you sure it's the same issue? Looking at your stack trace it's not. I think you should open a new issue with a standalone reproducer.

[2022-11-04 19:50] famod commented on #29068
Are we talking about the generate-code goal of quarkus-maven-plugin (gradle respectively)?

I suppose in multi-module projects in which you might have a persistence module (=not where the actual quarkus app is built) you are either out of luck or you have to add the plugin but just with the generate-code goal?

[2022-11-04 19:51] hernael opened #29073 "gRPC and generation of Knative resources port name error"
### Describe the bug

The YAML generated by:
`quarkus.kubernetes.deployment-target=knative`
container port name is:
[code]
Knative deployment contains error:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if di

[2022-11-04 20:19] gavinking commented on #28975
@DavideD I think you figured it out, but I mean things like `@Basic(fetch=LAZY)`, the stuff I talk about here:

https://hibernate.org/reactive/documentation/1.1/reference/html_single/#_field_level_lazy_fetching

Lazy fetching for `@ManyToOne` isn't field-level lazy because we use a proxy. Lazy fetching for `@OneToOne` is, because we can't use a proxy.

[2022-11-05 05:36] Dieken commented on #28918
Could you help how to complete the logic in the comment?  @mkouba

[code]

My interceptor:

[code]

[2022-11-05 06:38] cescoffier commented on #29073
It will depend the gRPC support used.

The legacy current one, I would say h2c. However it depends if TLS is enabled or not (which does not seem to be a possibility in the give. List of name)

For the new gRPC support, the port is the same as the http port. I don't know knative enough to know if it needs another port or just the http one. Again in this case both h2 and h2c are supported depending

[2022-11-05 08:20] ambition-consulting commented on #26724
The solution in https://github.com/quarkusio/quarkus/pull/29071?notification_referrer_id=NT_kwDOAEBd3rI0NzU4ODIyODYxOjQyMTgzMzQ#issuecomment-1304115821 helps me with this specific requirement. I believe this ticket can be closed.

[2022-11-05 08:26] #26724 closed

[2022-11-05 08:55] DavideD commented on #28975
I know that we have a paragraph in the docs about it. But I think we need more examples. Also, the problem here was a lazy bi one-to-one, not a basic fetch lazy. It seems that depending on which side one wants to fetch, it will need a different approach. I think some HQL won't work if you select on side of the associaiton.

But I need to have a better look on how we've implemented the fetch method

[2022-11-05 09:07] DavideD commented on #25630
Yes, this is a duplicate.

Note that clearing the session might work in this specific case, but it's not the correct approach (the session should be recreated) and may lead to errors that are hard to debug.

[2022-11-05 14:57] RobDTech commented on #26250
Hi @brunobat any update on this one please? Apologies for hassling, we have a number of teams requesting this at the moment and it has been months.

[2022-11-05 18:32] #29035 closed

[2022-11-06 02:06] PabloHdzVizcarra commented on #22320
This works for me, thanks

[2022-11-06 09:12] guoxunbo commented on #21217
Hello. have the same exception in 2.13.3.final.

[2022-11-06 09:55] guoxunbo commented on #21129
@yrodiere
I had got this warining in quarkus 2.13.3.Final..How can I to solve this?

[2022-11-06 09:56] guoxunbo commented on #21129
[code]

[2022-11-06 09:56] pipinet commented on #29068
@famod ,

[2022-11-06 10:03] guoxunbo opened #29080 "org.hibernate.MappingException: No Dialect mapping for JDBC type: 1111"
### Describe the bug

Hello. When i use hibernate type as a dependency。but i got this warning in quarkus 2.13.3.Final.
How can I to solve this. I had saw [21129](https://github.com/quarkusio/quarkus/issues/21129)
It said it solve in 2.4.1. But When i use 2.13.3 i already got this exception. my entity is like this.
[code]

### Expected behavior

嗯

### Actual behavior

_No response_

### How to Rep

[2022-11-06 10:37] piyush-1234 commented on #28502
hi all, i want to pick up this issue if you guys would not mind, I m new here and wanted to start contributing to quarkus,

[2022-11-06 10:47] geoand commented on #28502
Hi @piyush-1234,

Thanks for the offer. Let's see how far @jcsim1024 has got

[2022-11-06 10:56] piyush-1234 commented on #28502
thanks @geoand for taking me in consideration

[2022-11-06 21:49] The-Funk opened #29082 "Simplify JVM Heap size config options w/ Docker/Jib/S2I/Buildpack"
### Description

I've been having trouble setting the JVM config options "Xms" and "Xmx" for my applications that are being packaged as docker container images using Jib. I've read that JVM options like these can be set using "additional properties" but I've had no luck,

I think, particularly for these two options, it would be beneficial to simplify the process of setting these options, or modify

[2022-11-07 04:28] fabrii commented on #15819
This issue can be closed by https://github.com/quarkusio/quarkus/pull/27666

[2022-11-07 05:47] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/3407700690

[2022-11-07 05:51] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3407704568

[2022-11-07 05:51] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3407701225

[2022-11-07 05:53] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3407706418

[2022-11-07 05:59] jmartisk commented on #29067
Removed area/smallrye, the reproducer is using Micrometer

[2022-11-07 06:11] jmartisk commented on #29067
I think this use case can't work, `RemoteApiSingleton` is not a CDI bean at all in your application, therefore the metric interceptors don't apply. It's just a POJO returned from a producer, and you build it by calling its constructor directly. Annotated metrics only work on CDI beans.

[2022-11-07 06:47] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3407705377

[2022-11-07 07:09] michalvavrik commented on #28567
Didn't manage so far to create standalone reproducer (well, I created same thing without test framework, but so far it didn't fail), but I set up CI with test framework that already failed for this (build number 14) https://github.com/michalvavrik/quarkus-test-suite-kafka-reproducer/actions

[2022-11-07 07:25] cescoffier opened #29086 "Allows pre-load data in Redis"
### Description

This feature is equivalent to the Hibernate ORM one but for Redis. It would allow the user to configure the Redis extension to pre-load data in the _associated_ Redis client.

The format should be compatible with: https://github.com/redis-developer/demo-movie-app-redisearch-java/tree/master/redisearch-docker/dataset.

The file extension should be `.redis` (default to `import.redis

[2022-11-07 07:33] mkouba commented on #28918
If you need to add the `@TestBinding` to the `SqlSessionFactory` then you'll have to transform the annotations of the `SqlSessionFactory`, i.e. something like this should work:

[code]

[2022-11-07 07:41] mkouba commented on #29067
@jmartisk is right. In CDI, interceptors are _not applied_ to the return value of a [producer method](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#binding_interceptor_to_bean) and the `InterceptionFactory` introduced in CDI 2.0 is [not supported yet](https://github.com/quarkusio/quarkus/issues/3532).

[2022-11-07 07:41] #29067 closed

[2022-11-07 07:58] jcsim1024 commented on #28502
Hello @geoand I am still reading the doc and trying to reproduce

[2022-11-07 08:02] OleKsimov commented on #28502
@jcsim1024 The reproducer is present in [this issue](https://github.com/quarkusio/quarkus/issues/28329) if it helps.

[2022-11-07 08:10] nagin opened #29088 "2.13.3.Final -> ServiceConfigurationError: SmallRyeConfigFactory: QuarkusConfigFactory not a subtype"
### Describe the bug

When sending message to Kafka broker , in dev mode error message is thrown after idling for some time. Error message is as
follows
Unable to dispatch message to Kafka: java.util.ServiceConfigurationError: io.smallrye.config.SmallRyeConfigFactory: io.quarkus.runtime.configuration.QuarkusConfigFactory not a subtype

### Expected behavior

Message should be sent to kafka broker

[2022-11-07 08:11] cescoffier commented on #28609
@alesj do you think we can implement a exception mapper in the new gRPC server support?

[2022-11-07 08:14] cescoffier commented on #9987
Unfortunately, there is no much we can do without breaking the assumption made by other Java gRPC libraries (following the same convention)

[2022-11-07 08:14] cescoffier commented on #9329
Fied as part of https://github.com/quarkusio/quarkus/issues/24754

[2022-11-07 08:15] nagin commented on #29088
Java -version
openjdk version "11.0.16" 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu120.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu120.04, mixed mode, sharing)

uname -a
Linux rmd1 5.4.0-126-generic #142-Ubuntu SMP Fri Aug 26 12:12:57 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-11-07 08:16] cescoffier commented on #22295
@ozangunalp should we move forward as part of Quarkus 3.0?

[2022-11-07 08:17] cescoffier commented on #21437
_update_: Almost there :-D

[2022-11-07 08:17] cescoffier commented on #21436
@ozangunalp should we close this issue?

[2022-11-07 08:19] mkouba commented on #22530
If I understand it correctly this issue should be marked as an enhancement and considered a part of #12736.

CC @sberyozkin

[2022-11-07 08:21] cescoffier commented on #28875
@jmartisk when creating your own Vert.x instance for such kind of use case, I recommend:

- disabling the async DNS resolver
- disabling caching

[2022-11-07 08:43] yrodiere commented on #29080
Hey,

Please include the full stack trace (message, all frames, and nested exceptions if any).

Also, we'll most likely need you to provide a reproducer: a simple project set up with all necessary dependencies and exhibiting your problem on startup.

Thanks in advance.

[2022-11-07 08:45] yrodiere commented on #15819
Good catch @fabrii , thanks!

Indeed, this was fixed in #27666. Closing.

[2022-11-07 08:58] jasminsuljic opened #29089 "Panache project() is not working if used with distinct + case-sensitive HQL query"
### Describe the bug

For an entity that has getter defined with camelCase attribute name ie: `myId` executing query:
[code]
will result in:
[code]
The issue is probably here: https://github.com/quarkusio/quarkus/blob/8e4ee686b538e8cb7cbb402ef084ef0925fb83cf/extensions/panache/hibernate-orm-panache-common/runtime/src/main/java/io/quarkus/hibernate/orm/panache/common/runtime/CommonPanacheQueryImpl.

[2022-11-07 09:00] gsmet commented on #28783
@ivansenic friendly ping.

[2022-11-07 09:01] Ladicek commented on #29072
This should be fixed in #29090. Feel free to checkout that branch and try, but the test I've added there used to fail with the exact same exception and I'm pretty confident the PR fixes your problem too.

[2022-11-07 09:03] gsmet commented on #22948
@sberyozkin could you have a look at that one? I'm not sure if CORS actually requires some setup but probably worth at least checking what could be going on.

[2022-11-07 09:08] ozangunalp commented on #21436
Yes, let's close this, and I'll open an improvements issue.

[2022-11-07 09:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3407704568

[2022-11-07 09:13] DavideD commented on #29089
I will have a look.

[2022-11-07 09:19] ivansenic commented on #28783
Yea, forgot about this, will provide the reproducer by the end of the day.

[2022-11-07 09:23] jmartisk commented on #28875
@cescoffier good point, I'll apply that, thanks

[2022-11-07 09:24] geoand commented on #28875
Maybe we should have some common utility in Smallrye that creates such a custom Vert.x instance?

[2022-11-07 09:42] brunobat commented on #26250
Will pick it up next

[2022-11-07 09:47] ozangunalp opened #29091 "Kafka Dev UI Improvements"
### Description

Improvements to Kafka Dev UI
- Integrate visualizing Broker ACLs
- Managing schemas with schema registry
- Improve record visualization: value encoding and headers
- Add the ability to reset consumer offsets

Following #21436

### Implementation ideas

_No response_

[2022-11-07 10:06] mkouba commented on #7326
Template locators are documented here: https://quarkus.io/guides/qute-reference#template-locator and here: https://quarkus.io/guides/qute-reference#template-locator-registration.

[2022-11-07 10:14] mkouba commented on #7326
The `ValueResolver` is (insufficiently) documented here: https://quarkus.io/guides/qute-reference#value-resolvers

[2022-11-07 10:29] ozangunalp commented on #29019
Hi, I cannot reproduce this straightforwardly. @summit-pgoncalves would you be able to create a simple reproducer using the [kafka-panache-reactive-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-panache-reactive-quickstart) ? (with or without panache)

[2022-11-07 10:55] ivansenic commented on #28783
@gsmet Here it is: https://github.com/ivansenic/quarkus-28783

Hit `curl http://localhost:8080/hello` and you will get the same exception as above:

[code]

[2022-11-07 11:53] galderz commented on #29043
Thx @geoand!

[2022-11-07 11:55] geoand commented on #29043
🙏🏼

[2022-11-07 12:38] manovotn commented on #28783
Hm, `GreetingResource` is going to be a normal-scoped bean, right? Something that requires a proxy (i.e. application scoped).
In that case, we might be generating an extra no-args constructor in order to be able to create the proxy.

I'll take a look

[2022-11-07 12:41] RobDTech commented on #26250
That's fantastic, many thanks

[2022-11-07 12:58] geoand commented on #28783
Thanks

[2022-11-07 13:42] manovotn commented on #28783
Actually, it seems we just don't pass around c-tor params correctly into invocation context for this scenario.
In fact, it seems that there params will always be empty for around construct interception.
Looking [here](https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/LifecycleCallbackInvocationContext.java#L18-L20), those params will

[2022-11-07 13:44] geoand commented on #28783
Yeah I saw during debugging but was not sure why it was happening :)

[2022-11-07 13:48] manovotn commented on #28783
I think it is either an oversight or just a simple initial version of the code that wasn't discovered to be insufficient until now :)

[2022-11-07 13:50] geoand commented on #28783
Understood, thanks :).

I was kinda thrown off because we usually some kind of TODO (I've seen them in Arc as well over the years), so I was not sure what was going on.

[2022-11-07 14:03] Dieken commented on #28918
Is it possible to generalize to an special annotation `@InterceptorFor(SomeClass)` as demonstrated above? I wouldn’t like to write a specialized Quarkus extension for each intercepted class.

[2022-11-07 14:10] #29072 closed

[2022-11-07 14:34] StephenOTT opened #29095 "Support some sort of Pre and Post (lifecycle) processing hooks on quarkus-hibernate-orm-rest-data-panache generated endpoints"
### Description

when generating endpoints with quarkus-hibernate-orm-rest-data-panache I have found there is a need to often make pre or post processing changes:

Example: May want to modify or manually validate data (outside of scope/configs of hibernate validation annotations) before passing it into the endpoint

Example: May want to further modify the response before sending it for serializati

[2022-11-07 14:45] Sgitario commented on #29095
I created this pull request to support the feature you asked for: https://github.com/quarkusio/quarkus/pull/27994
However, these changes are stale because Hibernate ORM already provides this feature using listeners,  see the example in https://github.com/quarkusio/quarkus/commit/0852b104d7341445af3cf8f41fa7be4e2758fd9d#diff-7ed082417d8730c92d0dcf5c59e547878a5c298311afbd529f1a5c9591f150cc

Let me k

[2022-11-07 14:57] summit-pgoncalves commented on #29019
Hi @ozangunalp ,

I will. The only difference I see with our code is that the incoming message class is using a bean that we inject and that is responsible for dealing with the database.

[2022-11-07 15:07] spolti opened #29096 "Provider io.fabric8.knative.client.KnativeExtensionAdapter not found"
### Describe the bug

Native binary fails to start when using the `quarkus-kubernetes-client` with `knative-client`.

### Expected behavior

start without issues.

### Actual behavior

[code]

### How to Reproduce?

Reproducer:

Steps:

1. create a new Quarkus app.
2. make sure that the `quarkus.platform.version` is 2.14.0.CR1
3. add the following dependencies:
[code]
4. update the `GreetingResour

[2022-11-07 15:12] ozangunalp commented on #29064
I confirmed the bug and it was older than 2.13. There will be a fix upstream.

[2022-11-07 15:40] summit-pgoncalves commented on #29019
Hi @ozangunalp,

I was able to reproduce the issue using [kafka-panache-reactive-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-panache-reactive-quickstart) as a base.
The issue is only reproducible when you have more than one incoming processor classes. To reproduce it:
- Create a copy of the class `PriceStorage.java` in the same folder
- Add `mp.messaging.incoming.p

[2022-11-07 15:57] rmanibus commented on #22530
@mkouba yes precisely!

[2022-11-07 16:44] StephenOTT commented on #29095
@Sgitario I tested similar behaviour using a Hibernate validator on the class level, and hit a few issues:

Will your JPA listeners model allow querying the panache repository for the same entity?  ie: SomeEntity.class is being persisted and you want to do a findBySomeValue() on SomeEntityRepository.

Also using the listeners means we do not have access to the additional request info that would be

[2022-11-07 16:50] geoand commented on #29096
Thanks for reporting!

https://github.com/quarkusio/quarkus/pull/29100 should take care of it

[2022-11-07 16:55] StephenOTT commented on #29095
another note: one of the most valuable aspects of the generation i have found is around all of the helpers for common needs:

Generating a endpoint is pretty simple in terms of quantity of code: we can see the ~generated-sample in the docs that says something to the affect of "the generated code looks something like this..."

Maybe we are saving 30 lines of code.

But when i look into the rest-dat

[2022-11-07 17:06] DavideD commented on #29068
Not sure I understand what you mean, but if one of the modules doesn't use Quarkus, they can add the required dependency on the classpath. I'm not sure if this is sufficient for a Quarkus app.

But if the entities are on the classpath of the Quarkus app, there should be a way to see them and generate the metamodel classes

[2022-11-07 17:12] bcluap commented on #27902
Can this be re-opened or should I create a new issue?

[2022-11-07 17:16] geoand commented on #29082
Thanks for reporting.

Option 1 we can't do unfortunately because by the time Config is setup, it's far to late to set JVM config options.

Options 2 is interesting. IIRC, that's what the purpose of the old `run-java` script was in the fabric8  docker images.

cc @cescoffier @Ladicek

[2022-11-07 17:18] MikeEdgar commented on #27902
Fine with me to re-open it. Can you also provide a reproducer? It seems like the fix in https://github.com/smallrye/smallrye-open-api/pull/1259 missed some aspect that isn't shown in the method snippets on this issue.

[2022-11-07 17:27] spolti commented on #29096
Thanks for the quick fix @geoand.

[2022-11-07 17:29] geoand commented on #29096
YW!

[2022-11-07 18:08] ozangunalp commented on #29019
Thanks for looking into this.
I think you really need to use the `@Inject Mutiny.SessionFactory` in that case. Otherwise, the created session is bound to the message context, which is the same for both calls on broadcasted channels.

[2022-11-07 18:41] manoelcampos opened #29104 "Introduce PanacheEntityBase.findFirst for convenience"
### Description

There is already a `T findById(Object id)` inside `PanacheEntityBase` .
If we need to find the first object using a non-unique field, we have to write:

[code]

If we have `findFirst` methods we could do that easily:

[code]

### Implementation ideas

There is no need for design changes, just the introduction of overloaded `findFirst` methods.
I'm willing to contribute to impleme

[2022-11-07 18:56] syr opened #29105 "Using io.quarkus.logging.Log is only possible with Quarkus bytecode transformation in unit tests (non @QuarkusTest)"
### Describe the bug

Hello, we want to test some specific methods of our services which have no dependencies to injected beans.
So we want these tests to be fast without spinning up everything which takes quite some time in our case, so classic unit tests.
Thus, we created unit test class without @QuarkusTest

However, as the service method under test is using `io.quarkus.logging.Log` the test fa

[2022-11-07 18:59] michelle-purcell opened #29106 "Failed container 'unable to mount a file' error when running Quarkus local build Vale linter (DVale) on RHEL"
### Describe the bug

Problem:

Container error occurs on RHEL OS when running any of the following Vale commands locally in the Quarkus git repo:

[code]

2022-11-07 18:45:57,445 ERROR [🐳 .io/.15.5]] (main) Log output from the failed container:

[code]

![image](https://user-images.githubusercontent.com/92924207/200391389-0aba6237-3f22-466a-af70-a85412ae52ca.png)

![image](https://user-images.git

[2022-11-07 19:13] Eng-Fouad opened #29107 "Integrate Linux systemd-notify with Quarkus"
### Description

Systemd is a popular service manager on Linux OS that manages starting/stopping services.

When a service unit file is configured to be of type `notify`:

[code]

it is expected that the service sends a notification message via [sd_notify(3)](https://www.freedesktop.org/software/systemd/man/sd_notify.html) to notify service manager about start-up completion and other service statu

[2022-11-07 19:37] famod commented on #29068
My point is when to generate the classes. If you have a persistence module then chances are you have some repo/dao/service code in there that wants to use the generated metamodel classes.
Since there is no quarkus-maven-plugin execution in such modules (normally, at least), no metamodel classes would be generated for/on the classpath of that module.

[2022-11-07 19:58] famod commented on #29105
/cc @Ladicek

[2022-11-07 20:02] summit-pgoncalves commented on #29019
Thanks @ozangunalp

[2022-11-07 20:08] manoelcampos commented on #7193
@guoxunbo while an official fix is not available, have you checked the workaround I've shown above?

[2022-11-07 20:09] mkouba commented on #28918
Well, the problem with this approach is that interceptor bindings _should not_ define which beans should be annotated with the binding and thus intercepted. The bindings _should be_ used to associate interceptors with beans. Also it would not make any sense for interceptor binding types with members.

[2022-11-07 22:04] brianmolinaspring opened #29110 "Quarkus Native with OpenTelemetry-jdbc Unable to find a driver that accepts url: jdbc:oracle:thin@"
### Describe the bug

hello guys, I need your support, I'm getting this error when trying to run my ms with quarkus native but it tells me that it can't find a driver, it should be noted that in jvm mode it works without problems:

   at org.jboss.resteasy.core.ExceptionHandler.handleApplicationException(ExceptionHandler.java:105)
        at org.jboss.resteasy.core.ExceptionHandler.handleException

[2022-11-08 00:40] sdtechnos opened #29113 "security-ldap-quickstart NOT FOUND"
### Description

https://github.com/quarkusio/quarkus-quickstarts/tree/main/security-ldap-quickstart page response not found

### Implementation ideas

_No response_

[2022-11-08 02:47] dgarcia-saaskun opened #29114 "Separate MongoDB Panache Annotations from the common/core package"
### Description

To give flexibility. Separate the annotations to configurate entities (like @MongoEntity) into a new package/dependency with the minimal dependencies to Panache or Quarkus, It will help to share code between teams that works with Quarkus and teams that don't.

Now, if we need to configure a Bean, several dependencies are needed.

### Implementation ideas

_No response_

[2022-11-08 03:03] The-Funk commented on #29082
Thanks for considering it :)

We might be slightly out of sync on the first solution, or I might not understand how the container building plugins work. I mean a config option for Jib or the other container builders to instruct them to build the container such that the internal jar is executed with Xmx specified. Jib specifically has something for this but I could never get it to work.

https://gi

[2022-11-08 03:24] grossws commented on #29107
JNI could be quite painful. Have you tried jna or jnr-ffi instead of raw jni? On the one hand it's another dependency (with 700k to 2M footprint) but on the other hand it doesn't bring pain with `glibc` versioning, `libsystemd0` versioning etc

[2022-11-08 03:52] Dieken commented on #28918
The requirement is to intercept class constructor like Spring BeanPostProcessor,  `@PostConstruct` interceptor is the closest thing I can find, it's indeed a little weird to know beans first before intercepting.

This injection is totally static and can be done at build time in theory, but I can't figure out how to do with Quarkus ArC which implementation is rather complex to me.

[2022-11-08 04:01] geoand commented on #29082
Oh, now I see what you mean.
Yeah, that's something we could add

[2022-11-08 05:47] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3416550625

[2022-11-08 05:49] Sgitario commented on #29095
Hey @yrodiere , see the feedback from @StephenOTT about the pre and post hooks. This is related to your commend in https://github.com/quarkusio/quarkus/pull/27994#issuecomment-1249248900.
I do think that there is real value in adding this feature in REST Data with Panache (ORM and Reactive). Perhaps, we could refactor the pull request not to call it `EntityListener` but something like Pre/Post-<na

[2022-11-08 05:59] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3416551771

[2022-11-08 06:08] Postremus opened #29115 "IfBuildProperty on classes with ServerRequestFilter causes build to fail"
### Describe the bug

I have a ServerRequestFilter, which I only need to be active sometimes.
I therefore wanted to deactivate it by default with `@IfBuildProperty`.

[code]

However, this results in the exception from below.

### Expected behavior

I can remove this bean with IfBuildProperty.

### Actual behavior

[code]

### How to Reproduce?

Download the reproducer:
[filter-ifproperty.zip](htt

[2022-11-08 06:10] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3416548125

[2022-11-08 06:30] geoand commented on #29115
Interesting as I never thought of this combination...

Let me see what can be done

[2022-11-08 07:06] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner-quickstarts/actions/runs/3416551303

[2022-11-08 07:15] mkouba commented on #28918
In CDI, there's also `@AroundConstruct`.

It depends. But it's definitely not weird in Quarkus, quite the opposite ;-)

I'm not sure I fully understand... CDI injection is static and ArC does resolve all injection point at build time. You can still use programmatic lookup at runtime, but there are [some limitations](https://quarkus.io/guides/cdi-reference#remove_unused_beans).

[2022-11-08 07:36] geoand commented on #29107
Definitely interesting.

I would definitely prefer the solution proposed by @dmlloyd using the `ProcessBuilder` (that you have linked to in the description)

[2022-11-08 07:36] Ladicek commented on #29105
The exception message is pretty clear, isn't it? `io.quarkus.logging.Log` requires the Quarkus magic to happen. For testing, that indeed means `@QuarkusTest` (and friends). I'm inclined to just close this, but to facilitate discussion, I'll leave this open for a bit -- perhaps we can find a way to make this work. At least I'm removing `kind/bug`, as this certainly works as designed.

[2022-11-08 08:20] #28783 closed

[2022-11-08 08:22] Ladicek commented on #29105
Thinking about it some more and I believe `QuarkusUnitTest` would be a perfect fit for this use case. It is not documented or supposed to be used externally, but you may wanna try it and see if that works for you.

[2022-11-08 08:29] ivansenic commented on #28783
Wow this was fixed fast :rocket:

[2022-11-08 08:37] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3416550625

[2022-11-08 08:46] geoand commented on #29115
https://github.com/quarkusio/quarkus/pull/29118 takes care of the root cause.

However there is still a problem if you use `@ApplicationScoped` (but that is something totally separate and it should not be necessary to use that anyway).

[2022-11-08 08:49] geoand commented on #29082
I should note that you can already do something like this using `quarkus.jib.jvm-additional-arguments`

[2022-11-08 09:10] holly-cummins commented on #28779
See also https://github.com/quarkusio/quarkus/pull/29094#issuecomment-1306871569, a similar failure, but with a testcontainers stack trace.

[2022-11-08 09:17] sberyozkin commented on #29113
@sdtechnos It will be available once 2.14.0.Final quickstarts tag is created, it is here: https://github.com/quarkusio/quarkus-quickstarts/tree/development/security-ldap-quickstart, thanks

[2022-11-08 09:17] #29113 closed

[2022-11-08 09:19] geoand commented on #29105
I am pretty sure that most people will not want to use `QuarkusUnitTest` because it requires a shift in what they are used to as application developers.
That being said, it's super useful for such scenarios.

@Ladicek should we close this issue?

[2022-11-08 09:31] Sgitario commented on #28818
I could reproduce this issue and this is a tentative fix for it: https://github.com/quarkusio/quarkus/pull/29119

[2022-11-08 10:04] iocanel commented on #28944
With a quick glance at the JibProducer, I see that there are some differences in how push is handled between native and jar.
Not sure if I have the cycles to invetigate further at the moment. So, if anyone wants to jump in, please do.

[2022-11-08 10:12] mkouba commented on #21251
I'm not sure what Stuart had in mind but you can start with the docs: https://quarkus.io/guides/#writing-extensions

I'm not so sure it's a good idea to "pollute" the application with dev mode stuff. Do you try to automate some initialization logic in the dev mode? If so then you can try to combine ["startup"](https://quarkus.io/guides/cdi-reference#startup_event) beans [enabled for the `dev` mode

[2022-11-08 10:15] Ladicek commented on #29105
Yeah. I can't think of anything better than `QuarkusUnitTest` frankly.

[2022-11-08 10:15] #29105 closed

[2022-11-08 10:34] csscriptplus commented on #28944
Ok. The workaround for me is I use only one user account on the nexus server. And this account has the permission to the Helm and Docker image repository.

[2022-11-08 10:34] loicmathieu commented on #29104
Hi,

There is a shortcut method on PanacheQuery so you can write

[code]

Introducing findFirst/findFirstOptional will only save one method call, PanacheEntity already contains a lot of methods so I'm not sure it worth it.

[2022-11-08 10:53] geoand commented on #29110
This looks like a duplicate of https://github.com/quarkusio/quarkus/issues/28915. Can you confirm @brunobat ?

[2022-11-08 10:54] Sgitario commented on #29095
Many thanks for your useful feedback @yrodiere !
So I will resume the linked pull request and rename the entity listeners to something else that matches better within the rest-data-panache extension and also to avoid confusion with the JPA listeners.

[2022-11-08 11:01] maxandersen commented on #16043
still relevant to explore; but its triaged right for now thus removing the need-triage label

[2022-11-08 11:09] manoelcampos commented on #29104
I see. Anyway, I think findFirst is more intuitive and aligned with the Stream API.
What about marking this firstResultOptional deprecated for future removal?

[2022-11-08 11:23] brunobat commented on #29110
@geoand @brianmolinaspring I think this is a duplicate for this one: https://github.com/quarkusio/quarkus/pull/28921
@brianmolinaspring can you please review that PR and see if your issue is solved by it?

[2022-11-08 11:28] manoelcampos commented on #7193
By the way, if you use the [REST Data Panache extension](https://quarkus.io/guides/rest-data-panache), the lock works out-of-the-box by just creating an empty interface (which the implementation is automatically provided by the lib):

[code]

[2022-11-08 11:38] guoxunbo commented on #7193
@manoelcampos
I had checked your workaround. I had also use the entitymanager.merge(entity) to solve this problem temporary.
i don't use the rest data panache extension.Is the empty interface  need to create by everyEntity? Is there has some global solution to solvethis?

[2022-11-08 11:42] manoelcampos commented on #7193
If you use REST Data Panache, you need to create that interface for each entity you want to apply the version lock.
Some other workarounds were discussed here.

[2022-11-08 11:47] guoxunbo commented on #7193
@manoelcampos
oh. thanks. But my have many entity so if every entity create an empty interface like this.  It's have some problem to push this...
@Sanne @FroMage Does there have some plan to solve this problem.

[2022-11-08 11:47] guoxunbo commented on #2815
any update related to this merge issue? We're facing the same issue？

[2022-11-08 11:53] geoand commented on #16732
Closing as per the comment above

[2022-11-08 11:53] #16732 closed

[2022-11-08 11:53] geoand commented on #24993
Closing as we never got a reproducer

[2022-11-08 11:53] #24993 closed

[2022-11-08 12:21] guoxunbo commented on #7193
@manoelcampos
hello. I had saw your code in https://github.com/manoelcampos/vendas-rest-quarkus/commit/7b8af7f74401a4c1e46d092065712b619399a074
I have a question ? is there abstractResource just ok or every entity should write a resource to extends abstractResource?
I don't know you abstractResource mean? Is there anywhere used it?

[2022-11-08 12:24] mkouba commented on #29104
Not everyone is using the Stream API so -1 for deprecation/removal of `firstResultOptional()`.

[2022-11-08 12:36] #28818 closed

[2022-11-08 12:46] manoelcampos commented on #7193
Oh, that code is in Portuguese because it's used by my students.
But you can translate the code using Google Chrome.
The AbstractResource is an alternative to REST Data Panache (if you just want to create your own implementations for your REST controllers/resources). It provides default implementations for basic CRUD operations.
This project shows 3 different ways to create a REST controller/resou

[2022-11-08 12:49] brianmolinaspring commented on #29110
@brunobat check and I'll tell you

[2022-11-08 13:22] antonwiens commented on #17839
@gsmet Sorry, to bump this issue again, but i think it is quite relevant. Cause this makes runtime memory settings dependent on the build machine.

[2022-11-08 13:31] #29115 closed

[2022-11-08 13:35] fsudrot opened #29124 "Image generation fails with 2.13.4"
### Describe the bug

With the previous Quarkus version 2.13.3 and quay.io/quarkus/ubi-quarkus-native-image:22.2-java17, everything works, compile, test, image generation
But with Quarkus 2.13.4 and quay.io/quarkus/ubi-quarkus-native-image:22.3-java17, I have a problem with image generation which fails with : Fatal error: Failed while initializing the performance data.

### Expected behavior

The

[2022-11-08 13:42] benjamin-gentner-fnt opened #29125 "Provide dynamically GraphQL schema"
### Description

Hi,

currently it's possible to modify the GraphQL schema programmatically during Quarkus bootup, see: https://quarkus.io/guides/smallrye-graphql#graphql-java

Would be great if the GraphQL schema could be re-generated during runtime to provide an updated GraphQL schema without restarting the server.

### Implementation ideas

_No response_

[2022-11-08 13:45] mkouba commented on #28826
I'm going to close this issue. @vinland-saga Feel free to reopen if you find a way to reproduce the NPE.

[2022-11-08 13:45] #28826 closed

[2022-11-08 13:46] geoand commented on #29124
Any chance you can provide us with a sample application that behaves like this?

[2022-11-08 13:54] fsudrot commented on #29124
I can try to keep the entire pom but without corporate source.

[2022-11-08 13:57] alesj commented on #28609
@cescoffier I guess we could add some exception mapper here:
* https://github.com/quarkusio/quarkus/blob/main/extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/GrpcServerRecorder.java#L172

Or if @vietj has some other idea?

[2022-11-08 14:04] alesj commented on #29073
@hernael perhaps try with new gRPC support:
* https://github.com/quarkusio/quarkus/tree/main/integration-tests/grpc-vertx
and see if that works for you.

You need to add 2 new properties for now (until this becomes the new default)
* https://github.com/quarkusio/quarkus/blob/main/integration-tests/grpc-vertx/src/main/resources/application.properties#L3-L5
* and the server port is not 9000 anymore

[2022-11-08 14:13] FroMage commented on #22211
It appears RESTEasy Reactive adds this scope in `ResteasyReactiveScanningProcessor`:

[code]

[2022-11-08 14:15] FroMage commented on #22211
The exception is actually this:

[code]

So, turns out I still can't fix this in Renarde. Perhaps it's RESTEasy Reactive that needs to do something? Or is this an Arc problem?

[2022-11-08 14:15] mkouba commented on #27623
Hm, the question is whether we want to delay the startup or not, i.e. we can execute the code asynchronously or block and await the `Uni` item. @FroMage WDYT?

[2022-11-08 14:31] robp94 opened #29128 "Mocking Rest client does not work with 2.14.0.CR1"
### Describe the bug

Mocking a Client like this worked with 2.13.3

[code]
but does not with 2.14

### Expected behavior

Mocking works.

### Actual behavior

The mock is ignored.

### How to Reproduce?

[code-with-quarkus-client-mock.zip](https://github.com/quarkusio/quarkus/files/9962098/code-with-quarkus-client-mock.zip)

There is a simple test included.

If you switch to 2.13.3 the test passe

[2022-11-08 14:32] wodadehencou commented on #28721
I have the same error on Mac (Intel chip)

docker build fail, podman build pass

**request returned Bad Request for API route and version http://%2FUsers%2Fjiamu%2F.local%2Fshare%2Fcontainers%2Fpodman%2Fmachine%2Fpodman-machine-default%2Fpodman.sock/v1.41/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=%7

[2022-11-08 14:58] gsmet commented on #29124
I think @loicmathieu already reported it and @zakkak and @galderz created a GraalVM issue for it. IIRC, Mandrel is not affected by this issue but @zakkak can confirm.

[2022-11-08 15:01] zakkak commented on #29124
Correct, upstream issue is https://github.com/oracle/graal/issues/5303

[2022-11-08 15:15] geoand commented on #29128
@mkouba this seems to be an Arc issue. Essentially with Quarkus `2.13`, `io.quarkus.arc.processor.Types#getClassBeanTypeClosure` would include `Client` for the `ClientMock` class of the reproducer.
However in `2.14` `Client` is not included as one of the types of the bean.

I assume this is due to #28374

[2022-11-08 15:49] geoand commented on #29128
The commit was just my best guess, I could certainly be off the mark

[2022-11-08 16:12] murphye commented on #28298
@alesj I have looked at gRPC + Istio in the past, but did not have a chance to try it. It's unfortunately poorly documented with scattered information.

For the error that you see, I believe you will want to check the bootstrap file that is created by the XDS agent. https://github.com/grpc/proposal/blob/master/A27-xds-global-load-balancing.md#xdsclient-and-bootstrap-file

In the bootstrap there is

[2022-11-08 16:13] bharatnpti opened #29132 "SRCFG00011: Could not expand value platform.quarkus.native.builder-image in property quarkus.native.builder-image"
### Describe the bug

Build failure in multi-module gradle project

 * What went wrong:
2022-11-08T21:35:48.146+0530 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] Execution failed for task ':core-quarkus-parent:platform-quarkus-anonymiser:platform-quarkus-anonymiser-core:quarkusBuild'.
2022-11-08T21:35:48.146+0530 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]

[2022-11-08 16:25] murphye commented on #28298
@alesj You might also want to check that the agent is being injected into the Pod as a 2nd container. You need to enable Istio sidecar injection on the namespace or pod itself. Just in case you overlooked that...

[2022-11-08 16:32] syr commented on #29105
OK, how can I add this to a mvn project?

[2022-11-08 16:33] manovotn commented on #22211
You shouldn't need annotation transformer with current approach. The idea of `AutoAddScopeBuildItem` is that it sets a default which is only used when there is no other scope defined.
You *could* use annotation transformation instead, but then you'd need to check of other annotation is already present.

The way [Arc processes default scopes](https://github.com/quarkusio/quarkus/blob/main/extension

[2022-11-08 16:39] bharatnpti commented on #29132
@mklueh @aloubyansky - Can you please help me with this issue

[2022-11-08 16:41] mkouba commented on #22211
Matej is right that the default scope should be just ignored if you produce an `AutoAddScopeBuildItem`, it's because it is added by an annotation transformer with default priority and `AutoAddScopeBuildItem`s are implemented by an annotation processor with priority `DEFAULT_PRIORITY + 1000`. Both transformers skip classes annotated with a scope.

@FroMage do you have a branch I could try?

[2022-11-08 16:42] rtim75 commented on #26250
I'm also experiencing this issue, but with another sample lambda: the one from [Amazon Lambda](https://quarkus.io/guides/amazon-lambda) guide. I did add the opentelemetry dependency to it using `./mvnw quarkus:add-extension -Dextensions='opentelemetry-otlp-exporter'` command provided in the [opentelemetry](https://quarkus.io/guides/opentelemetry#solution) guide.

My `application.properties`:
[code

[2022-11-08 16:48] JFeoks opened #29133 "[Hibernate Reactive] Multiple inserts of identical entities during a transaction"
### Description
**Dependencies**
quarkus-hibernate-reactive-panache
quarkus-hibernate-reactive
quarkus-reactive-pg-client
PostgreSQL: 15.0 (also reproduced on 14.5)

**My app does the following:**
1) request to an external system via REST Client to receive items
2) saving items in the database

**Model**
[code]

**Insertion code**
[code]

**Invocation code**
[code]
After a little research, I found

[2022-11-08 16:55] gsmet commented on #29132
@radcortez that might be one for you?

[2022-11-08 17:07] aloubyansky commented on #29132
That's a assign of the quarkus-bom not being enforced. If I add
[code]
it gets passed that error but then fails for another reason. Looks like a Gradle project config issue so far.

[2022-11-08 17:11] diegoherrojo commented on #27386
Thanks @tsegismont !

[2022-11-08 17:29] manovotn commented on #29128
Yeah, that looks like a side effect of this issue.
Resteasy resources classes are `@Typed` to only the implementation class so that they work correctly with bean resolution in bean factories used (among others) in resteasy reactive.
`Client` class is affected because it has `@Path` annotation on it and I assume RR carries that over to the impl class somehow (since this is outside of CDI behavior).

[2022-11-08 17:31] geoand commented on #29128
We'll need to address this because this manual mocking won't work otherwise

[2022-11-08 18:10] manovotn commented on #29128
I agree, I am just not sure how to do that yet :)

[2022-11-08 18:18] geoand commented on #29128
Let's figure it out tomorrow 😜

[2022-11-08 18:26] brunobat commented on #26250
@rtim75 @RobDTech @fazeem84 Have you guys tried this locally with `sam local ...` or deployed directly on amazon?

[2022-11-08 18:39] fazeem84 commented on #26250
@brunobat we deployed directly to aws

[2022-11-08 18:40] manoelcampos commented on #29104
I see. Thanks guys.

[2022-11-08 18:47] RobDTech commented on #26250
Deployed directly

[2022-11-08 19:10] #29013 closed

[2022-11-08 22:24] saimodukuri-samsung commented on #28817
I think it would be great to have a way to log response. The current implementation can log http response code/headers but not the body.

[2022-11-08 23:30] phillip-kruger commented on #29125
Since the smallrye graphql extension is primarily source-code to graphql , it does not realy makes sense, as source code do not change in runtime. If you want to build graphql dynamically in runtime, you can use graphql-java directly (see the vertx-graphql extension)

[2022-11-09 05:49] bharatnpti commented on #29132
@aloubyansky - enforcing the quarkus-bom in the "platform-quarkus-anonymiser-core" does help.
However, the same has been already done in base build.gradle.kts, so should we really have to enforce it in sub modules as well ?

[2022-11-09 05:55] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3425495976

[2022-11-09 05:57] punkratz312 opened #29139 "java.lang.NoSuchMethodError: 'boolean org.junit.platform.commons.util.CollectionUtils.isConvertibleToStream(java.lang.Class)'"
### all @ParameterizedTest fail because of missing code

upgrading from 2.13.0 to 2.13.4.Final brakes out build:

<img width="2026" alt="image" src="https://user-images.githubusercontent.com/8830888/200749955-5765b290-1ec5-4e2e-aeba-d0e0cef32c28.png">

<img width="2394" alt="image" src="https://user-images.githubusercontent.com/8830888/200750247-cfd13a5f-5bcf-4f00-8cbe-1dd761c750b9.png">

'boolean

[2022-11-09 06:00] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3425498219

[2022-11-09 06:02] aloubyansky commented on #29132
You should be able to enforce it on subprojects in the root script under `subprojects`. You should consult Gradle docs about that. Since it's not a Quarkus issue, I'm closing this one.

[2022-11-09 06:02] #29132 closed

[2022-11-09 06:39] bharatnpti commented on #29132
Thank you for the help @aloubyansky

[2022-11-09 06:49] akHelix4444 opened #29141 "Mailer stuck when sending a message from GraphQL endpoint"
### Describe the bug

Sorry me could you explain some situation with **Mailer** and **GraphQL** that happened in Quarkus version `2.13.4.Final` (since `2.10.4.Final` like i test). Why mail send stuck, when i send e-mail from GraphQL?

Example: i create project with two endpoints REST (`io.quarkus:quarkus-resteasy-reactive-jsonb`) and GraphQL (`io.quarkus:quarkus-smallrye-graphql`), and i use Maile

[2022-11-09 07:38] HerrDerb opened #29142 "@TestTransaction does not work for @Nested tests"
### Describe the bug

When you have lots of tests you might want to group them e.g. by method using a `@Nested` inner class.

[code]
This seems to break the functionality of `@TestTransaction`. All the nested test will run without a transaction, resulting in `Transaction is not active, consider adding @Transactional to your method to automatically activate one.`

It doesn't matter if the `@TestTra

[2022-11-09 07:43] Ladicek commented on #29105
Here's the relevant documentation:

- https://quarkus.io/guides/writing-extensions#testing-extensions
- https://quarkus.io/guides/getting-started-testing#mixing-quarkustest-with-other-type-of-tests

[2022-11-09 07:57] jmartisk commented on #28875
I don't know if any other SR project does this. If yes, then it might make sense, but AFAIK only the GraphQL client does this atm.

[2022-11-09 07:58] jmartisk commented on #28875
This will be resolved by upgrading to SmallRye GraphQL either 1.8.3 or 1.9.0 (there will be a little Quarkus-side code change along with it)

[2022-11-09 08:05] fsudrot commented on #29124
In fact it's not due to my own project. It fails even with rest-json-quickstart

[2022-11-09 08:18] jmartisk commented on #29141
It's weird that the sending operation takes over a minute, perhaps there's a swallowed exception somewhere? Could you enable more detailed logs and see if there are any suspicious errors apart from the BlockedThreadChecker warning? Or provide a reproducer project that we could use.

[2022-11-09 08:43] mkouba commented on #18278
I wonder if this is still relevant in the context of [Quarkus Observability Roadmap 2023](https://quarkus.io/blog/quarkus-observability-roadmap-2023/).

CC @brunobat @radcortez

[2022-11-09 08:47] benjamin-gentner-fnt commented on #29125
OK, thank you. Ticket can be closed.

[2022-11-09 08:49] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3425498219

[2022-11-09 09:03] mkouba commented on #15907
I'm going to close this issue because I can't think of a use case where this limitation can cause any troubles, i.e. I don't see a reason why not just add the `ElementType.TYPE` to an interceptor binding.

@arvidvillen Feel free to reopen if you think it would help in some way...

[2022-11-09 09:35] #18210 closed

[2022-11-09 09:37] gsmet commented on #18032
No news for a while, closing as I have no idea what actually requires a change.

[2022-11-09 09:37] #18032 closed

[2022-11-09 09:39] gsmet commented on #29139
Screenshots are not so useful for us to debug. Please provide a reproducer.

[2022-11-09 09:46] #29047 closed

[2022-11-09 10:02] mkouba commented on #15012
@Sanne @galderz @Karm @geoand @zakkak @aloubyansky WDYT?

[2022-11-09 10:02] akHelix4444 commented on #29141
Hello, @jmartisk . Thank you for answer.

I create simple example project (i hope it is visible in public): [Mailer-GraphQL-Reproducer](https://github.com/akHelix4444/Mailer-GraphQL-Reproducer)

It is use **MailDev** from **docker-compose.yaml**, as a local smtp server for emulate integration.

And if you start project and execute query in UI http://localhost:8080/q/graphql-ui
[code]
it is will st

[2022-11-09 10:19] #18649 closed

[2022-11-09 10:20] brunobat commented on #18278
We should allow integration with Zipkin through a OTLP Exporter. See: https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/README.md#zipkin-exporter
This issue still make sense.

[2022-11-09 10:24] aloubyansky commented on #15012
Great idea

[2022-11-09 10:28] sberyozkin opened #29144 "OIDC token refresh causes NPE if no ID token is returned"
### Describe the bug

Some OIDC providers do not return ID token in the refresh token grant response since it is optional in the OIDC spec, which causes NPE since Quarkus OIDC does expect it be returned as is done with Keycloak.

### Expected behavior

If no ID token is returned - then if the previous ID token has not expired - use it, otherwise use the internally generated ID token which is the c

[2022-11-09 10:31] mkouba commented on #15012
@murphye described one use case in the description ;-)

[2022-11-09 10:39] Sanne commented on #15012
ah yes let me clarify my request for more compelling use cases: I get it that embedding a Java library like an XML parser can be a boon to a C developer, but that's about embedding specific libraries only - you might be better off in doing so with just GraalVM.

My question is to expand on the use cases to embed a whole Quarkus stack - which often has a focus on controlling the bootstrap, integrat

[2022-11-09 11:09] chberger opened #29146 "Custom SSL Root CA Certificates overrule certificates from default cacerts when running in native mode"
### Describe the bug

According to [this guide](https://quarkus.io/guides/native-and-ssl) it should be possible to add a custom Root CA certificate to a Quarkus native application. Furthermore its also mentioned when passing the certificates via the following system properties to the underlying GraalVM:
``quarkus.native.additional-build-args=-J-Djavax.net.ssl.trustStore=/tmp/mycerts,-J-Djavax.net.

[2022-11-09 11:28] #29139 closed

[2022-11-09 11:37] #29096 closed

[2022-11-09 11:40] bdunni commented on #24318
Is there any update to this?

Any kind of work-around? We just upgraded to 2.13 which should have a fix for this, but now it happens sporadically in our logs.

[2022-11-09 11:55] ahmad2702 commented on #12304
I have the same problem using gRPC server coming with the latest quarkus 2.13.4. All incoming requests will be blocked for ~60 seconds. The client sends the requests in sequence (not parallel). I have tried all options with a timeout on the vertx but it continues to block all requests.

Is there any news on this problem? Or is there any way to disable vertx?

[2022-11-09 11:56] jmartisk commented on #29141
Thanks a lot for the reproducer, that helps tremendously!
I confirm I can reproduce the problem, not yet sure though how to fix it.
In any case, it seems that switching to a reactive mailer fixes the issue - I guess this could be used as a workaround. The equivalent rewrite of your code would be:

[code]

This makes me think that there's some issue with losing some context when using the non-react

[2022-11-09 11:56] linvsendian commented on #28078
Hi, did this realy solved? I'm tring [2.14.0.CR1](https://github.com/quarkusio/quarkus/milestone/206) but nothing happened,  it does not create the kind.yml. I'm using Maven instead of Gradle

[2022-11-09 12:07] Sgitario commented on #28078
I've just double-checked and it worked fine for me using 2.14.0.CR1. This is the example I used: https://github.com/Sgitario/quarkus-examples/tree/main/kubernetes-kind and set the Quarkus version via the Maven command:
[code]

[2022-11-09 13:15] doublefx commented on #24401
I have the same issue in **native** without any direct reference to `CommandLine.ParseResult`

[code]

[code]

[code]

[2022-11-09 13:15] mrickly opened #29151 "A Kafka header baggage is propagated to the TracingMetadata. previousSpancontext, but not to the currentSpanContext"
### Describe the bug

The ` KafkaSource` maps an incoming OTEL baggage header to the `TracingMetadata.previousSpanContext`.
The baggage cannot be accessed via `Baggage.current()` in an incoming method for instance.
Instead, one has to do something like
`Baggage.fromContext(message.getMetadata(TracingMetadata.class).get().getPreviousContext());`
in order to access the baggage.

### Expected behavio

[2022-11-09 13:17] geoand commented on #29146
cc @galderz @zakkak

[2022-11-09 13:24] majguo commented on #27932
Hello @gastaldi , could you pls also add the same permissions to @agoncal for https://github.com/quarkiverse/quarkus-azure-services?

[2022-11-09 13:25] mrickly commented on #29151
#28244 @brunobat: Let me know if you need more info in the reproducer (like pom, properties, etc.)

[2022-11-09 13:28] agoncal commented on #27932
@gastaldi yes please ;o)

[2022-11-09 13:28] mrickly commented on #29151
Our current workaround for this is to add the baggage to the context and make that the new current context in our own decorator (with priority=3000), which runs after `ReactiveMessagingTracingDecorator`.

[2022-11-09 13:31] gastaldi commented on #27932
PR created: https://github.com/quarkiverse/quarkiverse-devops/pull/103

BTW any Quarkiverse member is allowed to create PRs in the quarkiverse-devops repository (note that the branch needs to be in the same repository, forks won't work)

[2022-11-09 13:34] vietj commented on #28997
# 5.1.1 Sends a HEADERS frame with empty ":path" pseudo-header field

Vert.x defect: https://github.com/eclipse-vertx/vert.x/issues/4529

[2022-11-09 13:44] jmartisk commented on #29141
It seems that if you invoke the mailer (which is always reactive internally) from a blocking context, it only works if you've previously invoked it from a non-blocking context at least once, which definitely is weird. I don't see a reason why it shouldn't work straight away. Another weird thing is that this issue doesn't affect REST endpoints, only GraphQL. Perhaps @cescoffier has some more insigh

[2022-11-09 13:50] #23051 closed

[2022-11-09 14:02] akHelix4444 commented on #29141
Thank you for help! Maybe Clement looks something about it too.
Your way to hotfix work well, and i think we could use it in this way (in some near future).

And you right, it is work well in REST, but specifically for GraphQL don't.
And it is start happened from `2.10.`, because if i downgrade to `2.9.2.Final` it is works great in any ways.

Could i stay this issue opened?
I think it is bug, but

[2022-11-09 14:03] geoand commented on #29128
I am not sure I understand this, can you elaborate please?

[2022-11-09 14:18] manovotn commented on #29128
That is just a poorly formulated remnant of my brain trying to figure out how this works behind the scenes; feel free to disregard that :)

I discussed this with @mkouba and @Ladicek and while we haven't discovered any silver bullets, we could improve it by adding interfaces into bean types. It is a little but of extra processing but solves the issue presented here.
I've cobbled together a draft o

[2022-11-09 14:18] mkouba commented on #13106
For the record - https://github.com/quarkusio/quarkus/pull/29154 makes it possible to use the infix notation in section params with parentheses, e.g. you can do something like `{#let foo = (val ? 1 : 2)}`.

[2022-11-09 14:19] Sgitario commented on #28078
This is indeed very weird. The first time I downloaded a Quarkus project from scratch, it worked fine, but then it stopped generating the `kind` resources. And, if I add the `quarkus-kubernetes` extension, it consistently generates the `kind` resources.
In my quarkus example, it always generates the Kind resource, so in the Quarkus integration tests that were added.
Any ideas about what could be h

[2022-11-09 14:27] radcortez commented on #24318
I'll have a look.

[2022-11-09 14:38] zakkak commented on #29146
To my understanding this is wrongfully stated in the Quarkus documentation.

Quoting [GraalVM's documentation](https://www.graalvm.org/22.3/reference-manual/native-image/dynamic-features/CertificateManagement/#build-time-options):

[2022-11-09 14:50] imperatorx opened #29157 "Make @TransactionScoped thread safe (virtual and platform threads)"
### Describe the bug

When a `@TransactionScoped` bean is accessed inside a transaction for a first time from 2 virtual threads started by the thread that started the transaction (e.g. StructuredTaskScope forks), a race condition can lead to two instances of the bean being created. The transaction context is properly propagated to the virtual threads by smallrye-context-propagation callable wrappi

[2022-11-09 15:03] Karm commented on #15012
I don't think including general purpose libs like those for XML/JSON manipulation in a C app from Java world via native-image would be a boon. It is slower and more CPU hungry than JVM mode, so it is likely to be also less efficient than almost anything remotely competently written in C++. I am somewhat worried about this Envoy useage @murphye :man_shrugging:

On the other hand, there are probably

[2022-11-09 15:09] chberger commented on #29146
Fair enough if it works as designed. I'm just wondering why it is stated so explicitly in the Quarkus docs ...

[2022-11-09 15:31] zakkak commented on #29146
It looks like this was added in https://github.com/quarkusio/quarkus/commit/aa5820ed0c231ffdf373ee9f9988a7644bc9b199#diff-da5c166ecda36541821eb24af6ff0c775f7759d4a95edda2e3f7b7cc1bc6c310R183 by @geoand and @gsmet, Georgios and Guillaume does any of you recall what lead to this statement?

Shall we just change the guide to reflect the GraalVM docs?

[2022-11-09 15:36] geoand commented on #29146
Yeah, I think that makes sense.

[2022-11-09 15:45] jacobdotcosta commented on #28443
It isn't the _affordable first issue_ I was expecting 😃 as I've made several tests and it seems that no project context is reaching the QuarkusDev task. I'll keep investigating.

[2022-11-09 15:49] akHelix4444 commented on #29141
And one more thing.
I think maybe this situations related to: [#21433](https://github.com/quarkusio/quarkus/issues/21433)

[2022-11-09 15:50] geoand commented on #29088
Any chance you can provide a sample application that exhibits the behavior you mention?

Thanks

[2022-11-09 15:57] alesj commented on #29073
I don't think my `new Vert.x gRPC` PR made it into latest release.
@cescoffier @gsmet ^ ?

What generates this `knative.yaml` file?
As I guess we need to fix that as well, along with gRPC changes.

[2022-11-09 16:02] alesj commented on #28298
@murphye I got it working, but thanks for the tips
* https://github.com/grpc/grpc-java/issues/9639#issuecomment-1302628137

I already have a XDS supported Quarkus
* https://github.com/alesj/quarkus/tree/xds1
but the tests need more work - it's not easy to test Istio :-)

[2022-11-09 16:08] imperatorx commented on #29157
Here is a single file reproducer, it happens in platform threads and virtual threads too. The key point is the expensive resoruce in the producer. Each request will create 4 instances of the transactionscoped bean instead of 1. If the Thread.sleep(100) is removed, the change of error is smaller.

[code]

[2022-11-09 16:14] Dougniel commented on #24797
Unfortunately this solution only works for paths that are known in advance, not for dynamic ones (ex: per version context path). Moreover as [quarkus.swagger-ui.urls](https://quarkus.io/guides/all-config#quarkus-swagger-ui_quarkus.swagger-ui.urls-urls) is a build time property, is not possible to set it up dynamically at deployment time.

☝️ To work with dynamic paths, I set up `quarkus.swagger-ui

[2022-11-09 16:27] holly-cummins opened #29158 "New extension template creates integration tests, but they are not run - or referenced in the top-level pom.xml"
### Describe the bug

When I create a new extension project using the mojo, an `integration-tests` project is created, but it's not run in normal builds. In fact, it's not referenced in the top-level project at all. This is the case even if I don't have the `-DwithoutTests` option which the instructions include in the default example.

[code]

If I run `mvn install` or `mvn verify`, no integration

[2022-11-09 16:42] holly-cummins commented on #6377
I think this can be closed, just because so much time has passed it got fixed along the way. I confirm that if I run the `create-extension` mojo, following the instructions on https://quarkus.io/guides/building-my-first-extension#maven-setup, I do get an `integration-tests` project. Do you agree, @sfcoy?

(On the other hand, I've raised https://quarkus.io/guides/building-my-first-extension#maven-s

[2022-11-09 16:42] Sanne commented on #15012
Sure it's not granted that any Java library would be more efficient than one in C, but the opposite also holds - so there might be situations in which this could actually be an economically wise choice over rewriting it all in C. Of course I agree one need to be cautious and verify assumptions, but it might be a smart choice in some cases - and this is about giving such an option (not to recommend

[2022-11-09 17:16] diegoherrojo commented on #27386
Oh great @tsegismont! Thanks for you help! Let's wait to see what happens.

[2022-11-09 20:49] Manfred73 commented on #16358
Any idea why these errors occur in Intellij and I get different results in Intellij? Is this an issue with the Jacoco plugin/Intellij?

[2022-11-09 21:11] Manfred73 opened #29160 "@QuarkusTest (Jacoco) ignores lombok.config & pitests fail with timeout"
### Describe the bug

I have annotated all my tests with @QuarkusTest and added the quarkus-jacoco as a test dependency to my pom. No further jacoco plugin configuration as I understand this is not needed when adding this dependency. Is this the best way to write unittests for Quarkus without any further configuration to your pom?

I'm using lombok in my project and have added a lombok.config in t

[2022-11-09 22:01] DCCSKrezovic opened #29162 "OIDC state cookie re-validated on any endpoint"
### Describe the bug

If my redirect request fails for whatever reason, q_state cookie will remain. On any next request to any endpoint, it will try to redo the code flow... This is, of course, impossible, as there's no state parameter present and will always return an error.

Method

[code]

`CodeAuthenticationMechanism` says:

[code]

However, this does not make sense on any endpoint than the co

[2022-11-10 05:50] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3434146034

[2022-11-10 05:54] mschorsch commented on #2811
@glefloch Have you any Idea when this will be fixed?

[2022-11-10 05:54] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3434143489

[2022-11-10 05:57] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3434181109

[2022-11-10 06:02] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3434181109

[2022-11-10 06:31] Sgitario commented on #28078
Finally, I found a working solution and provided a fix here: https://github.com/quarkusio/quarkus/pull/29166

[2022-11-10 06:38] geoand commented on #28996
I am going to close is as a duplicate of https://github.com/quarkusio/quarkus/issues/2811

[2022-11-10 06:48] geoand commented on #29160
What configuration of the jacoco-plugin do you make in your non-Quarkus projects that results in lombok config being used properly?

[2022-11-10 07:14] #29128 closed

[2022-11-10 07:30] Manfred73 commented on #29160
I have the following config in a parent pom for jacoco in my Spring Boot projects:

[code]

With my Quarkus application I don't have this config, but only included:
[code]

[2022-11-10 07:34] geoand commented on #29160
Thanks

[2022-11-10 07:36] geoand commented on #29160
Any chance you can share a sample project that we can use for debugging?

[2022-11-10 07:55] geoand commented on #29059
@sag1 any luck with creating a sample we can use to reproducer the issue?

[2022-11-10 08:00] geoand commented on #28942
Maybe this has to do with the bump to h2 2.x?

[2022-11-10 08:06] linvsendian commented on #28078
Cool!

[2022-11-10 08:14] Manfred73 commented on #29160
I can't post my current project here, but I will see if I can create one somewhere this week or next week.

[2022-11-10 08:15] geoand commented on #29160
Great, thanks

[2022-11-10 08:15] glefloch commented on #28996
@geoand I think this is not exactly the same issue as #2811, here this is about compiler plugin, not compiler argument. But I thought this was already addessed. I will have a look into it

[2022-11-10 08:16] geoand commented on #28996
Ah okay. Thanks

[2022-11-10 09:18] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3434146034

[2022-11-10 09:21] computerlove opened #29170 "@ServerResponseFilter and @ServerRequestFilter fails on startup with NoSuchMethodException"
### Describe the bug

When upgrading to Quarkus 2.14.10 startup of application with @ServerResponseFilter and @ServerRequestFilter crash on startup with
[code]
(Or org.acme.RequestLogger$GeneratedServerResponseFilter$filter.<init>())

### Expected behavior

The filters are created and app starts successfully

### Actual behavior

Application crash on startup

### How to Reproduce?

https://github.

[2022-11-10 09:32] #24754 closed

[2022-11-10 09:43] geoand commented on #29170
Actually there may be more to it... I need to take another look

[2022-11-10 09:55] geoand commented on #29170
It was a mistake on my part. https://github.com/quarkusio/quarkus/pull/29171 fixes the issue

[2022-11-10 10:02] DavideD commented on #29133
Ah... I guess you are removing the Items that are already in the db

[2022-11-10 10:12] Sanne commented on #28942
most likely - but I'm away today. @beikov ?

[2022-11-10 10:24] beikov commented on #28942
The syntax of the DDL is wrong. It should be `create sequence hibernate_sequence start with 1 increment 1`. I don't see anything in our code though that would emit such a statement, so this must be part of a custom SQL file you have in your app @Muhamedkaric

[2022-11-10 10:32] #29162 closed

[2022-11-10 10:39] sberyozkin opened #29172 "Integrate FileVault Utils with Quarkus CLI"
### Description

It would be useful for Quarkus users working with `ConfigSource` based on  Java `KeyStore` (which will be introduced into Quarkus via smallrye config) be able to run the command line utility which can encrypt the keystore password (which will be decrypted by ConfigSource with an earlier priority than the `KeyStore` based `ConfigSource`).
The utility is currently hosted here: https

[2022-11-10 10:41] mkouba commented on #29157
I'm not quite sure that `@TransactionScoped` beans and `TransactionContext` are designed to be used concurrently. Also I don't think you can use a JTA transaction in parallel. AFAIK the main motivation of MP Context Propagation is to propagate contexts in a reactive pipeline.

CC @FroMage @manovotn @mmusgrov

[2022-11-10 10:50] davidfrickert opened #29173 "@ServerRequestFilter problems in 2.14.0"
### Describe the bug

After upgrading to 2.14.0 our API tests are all failing due to a problem with `@ServerRequestFilter`

Maybe related to #29170?

Class snippet:

[code]

StackTrace:
[code]

### Expected behavior

No problems with @ServerRequestFilter

### Actual behavior

Problems with @ServerRequestFilter

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux DFricker

[2022-11-10 10:52] DCCSKrezovic commented on #29162
@sberyozkin  this is actually a variant of the bug it was duplicated by. In my case, it happens with two "nearly concurrent" login requests, one triggered by fetch(), another by browser.

fetch() tries to access protected backend resource, redirect is triggered and state cookie is created. Redirect fails due to CORS error
Browser tries to access a protected URL using state cookie created by fetch(

[2022-11-10 10:58] mkouba commented on #29157
Hm, it seems that the MP CP spec supports both variants, i.e. [Propagation of Active Transactions for Serial Use, but not Parallel](https://download.eclipse.org/microprofile/microprofile-context-propagation-1.3/microprofile-context-propagation-spec-1.3.html#_propagation_of_active_transactions_for_serial_use_but_not_parallel) and [Propagation of Active Transactions for Parallel Use](https://downloa

[2022-11-10 11:00] mkouba commented on #29157
Note that you would need to make the `@TransactionScoped` beans thread-safe as well...

[2022-11-10 11:02] DCCSKrezovic commented on #29162
From what I see, there is already such check for logout path

[code]

There should be an equivalent for login url as well and that should be checked before examining the state cookie. Again, examining the state cookie and handling the code request only makes sense on the redirect url.

[2022-11-10 11:27] manovotn commented on #29157
I should note that the spec only guarantees the non-parallel version to work.
The parallel variant is defined as optional on a per-impl basis.
Now, whether it should or shouldn't work (in which case there should be an exception?!) is mostly up to @mmusgrov to asnwer.

The impl in Quarkus uses Narayana but some of the code here is copied over and/or slightly altered.
However, even directly in Naray

[2022-11-10 11:35] jacobdotcosta commented on #28443
Finally have it 🎉 !!! Will try creating a test case for this and prepare a PR.

[2022-11-10 11:47] mkouba opened #29174 "CLI - add an option to generate the build report"
### Description

It might be useful to add an option to generate the build report with CLI, e.g. something like `quarkus build --report`. We have a similar functionality in the dev mode (`/q/dev/io.quarkus.quarkus-vertx-http/build-steps`). It is also possible to generate the report manually from the exported metrics, i.e. run the built with `mvn clean package -DskipTests -Dquarkus.debug.dump-build

[2022-11-10 11:51] ivansenic commented on #29173
I can confirm we are seeing the same. My stack trace is a bit different:

[code]

[2022-11-10 12:13] ozangunalp commented on #29088
I can imagine that it may happen on a dev mode hot reload, but is it systematic?

[2022-11-10 12:16] DavideD commented on #29133
Nevermind, I think I've figured out what's going on. I will create a test to make in Quarkus to check

[2022-11-10 12:18] geoand commented on #28443
Awesome, thanks!

[2022-11-10 12:45] mkouba commented on #22824
Note that this could be difficult (if at all possible) to implement in `quarkus-quartz`.

[2022-11-10 12:46] #29170 closed

[2022-11-10 12:56] geoand commented on #29173
Are any of you folks able to test with the current `main`?

I just merged a PR that fixes #29170 and this issue looks like a duplicate of that one

[2022-11-10 12:58] geoand commented on #29170
@gsmet this seems like a very nasty one that slipped through, so if possible, it would probably make sense to not wait long for `2.14.1`

[2022-11-10 13:00] computerlove opened #29177 "Breaking change in 2.14.0 for Quartz extension with jdbc"
### Describe the bug

When using
[code]
Quartz store job class name in `JOB_DETAILS.JOB_CLASS_NAME`.
In 2.14.0 `io.quarkus.quartz.runtime.QuartzScheduler$InvokerJob` has been moved to ` io.quarkus.quartz.runtime.QuartzSchedulerImpl$InvokerJob`, so startup crash with
[code]

I haven't seen any way this could be mitigated in code, so I think the only way to handle this is to add it to the 2.14.0 mig

[2022-11-10 13:00] gsmet commented on #29170
@geoand I can do one on Tuesday but not before that. I think it should work, people can use 2.13.4.Final until then.

[2022-11-10 13:04] geoand commented on #29170
Sounds good, thanks!

[2022-11-10 13:05] gsmet commented on #29177
@machi1990 @mkouba I think we probably need to have a proper API outside of the `runtime` package if it's actually stored in the db. But it's probably too late for that and it doesn't seem wise to break it once again on purpose.

[2022-11-10 13:08] gsmet commented on #29177
I added a note to the migration guide as suggested here: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.14#quartz .

[2022-11-10 13:17] #29146 closed

[2022-11-10 13:21] mkouba commented on #29177
To be honest, I didn't even know that the name of the job class is stored in the DB. And I have no idea why it's actually stored there. In any case, the `io.quarkus.quartz.runtime.QuartzScheduler$InvokerJob` is definitely not part of the public API.

Thanks.

[2022-11-10 13:44] sberyozkin commented on #29162
@DCCSKrezovic Logout case is totally different, this request it is coming from the user, not after a redirect from somewhere

[2022-11-10 13:51] gsmet commented on #29177
Well, it's somehow part of an API if it's stored in the DB. Maybe we should add a comment to the enclosing class and the nested class explaining we should avoid renaming them? (And document it in the migration guide if we do)

[2022-11-10 13:53] #28078 closed

[2022-11-10 14:06] davidfrickert commented on #29173
Just tested with a local build of the current `main`, seems to be working nicely. Seems like it is indeed a duplicate.

[2022-11-10 14:08] ivansenic commented on #29173
All green on my side as well..

[2022-11-10 14:12] geoand commented on #29173
Thanks folks!

[2022-11-10 14:12] #29173 closed

[2022-11-10 14:16] mkouba commented on #29177
Ok, let me rephrase the sentence - it's not intentionally part of the API. However, I do understand your concerns.

Good idea. I had a quick look and it seems like we can't prevent quartz from loading the job class :-(

[2022-11-10 14:19] The-Funk commented on #29082
Yes, I just can't seem to get additional-arguments to work. I think because it has extra = signs in the value. Maybe I need to encapsulate the additional arguments value in quotation marks? Can you send a working example of additional-arguments?

[2022-11-10 14:24] gsmet commented on #29173
We will release `2.14.1.Final` with a fix early next week.

[2022-11-10 14:43] AlanMasciangelo opened #29184 "Jandex failing during CombinedIndexBuildStep"
### Describe the bug

When attempting to upgrade to 2.13.4.Final I'm seeing a failure during the Gradle quarkus build task
[code]

When I attach a debugger I can see that `org.jboss.jandex.Indexer#index` appears to be working as expected but when it returns, it ends up return null causing the failure. This only occurs for certain classes as I see others being indexed as expected

<details open>
<s

[2022-11-10 14:45] DavideD commented on #29133
I think the problem is that you are using `.onItem().transformToUniAndMerge(getService()::createAll)` instead of `.onItem().transformToUniAndConcatenate(getService()::createAll)`.

The difference is that, when using merge the execution order of the Uni is not deterrministic. This means that the select of the second batch can happen before the insert of the first batch is executed. If there are dup

[2022-11-10 14:50] geoand commented on #29082
What do you want to set?

[2022-11-10 14:50] gsmet commented on #29184
Thanks for the report. Could you try to provide a reproducer?

/cc @Ladicek

[2022-11-10 14:53] aloubyansky commented on #29184
Also what was the last Quarkus version that worked for this project?

[2022-11-10 14:59] geoand commented on #28443
I think `--` is a shell thing that allows you pass an entire string

[2022-11-10 15:07] geoand commented on #21443
Not sure I get this. Can someone give an example of what we are looking for?

[2022-11-10 15:08] geoand commented on #21440
@Sgitario you have fixed various things around this, correct?
Can you please have a look and see if this has been properly addressed?

[2022-11-10 15:19] DCCSKrezovic commented on #29162
I would like to fix this specific bug myself ASAP as it's quite urgent. Can you point me in some directions you'd like to go with the mentioned task? I was thinking of:

- Checking state cookie only on login endpoint
- Returning 401 if no cookie is found on login endpoint

This seems sufficient and it's according to any other OIDC implementation I saw so far.

Also, the state cookie SHOULD be remo

[2022-11-10 15:24] Ladicek commented on #29184
This looks like Jandex 3.0 got on the classpath. Quarkus 2.13 is supposed to be used with Jandex 2.4.3. Can you check your dependency tree, where could Jandex 3.0 possibly come from?

[2022-11-10 15:43] geoand commented on #21444
I don't think that the `invoking` the clients will work correctly. There are too many things that could go wrong during deserialization of the method arguments and serialization of the result to make it useful.

[2022-11-10 16:13] AlanMasciangelo commented on #29184
@Ladicek Thank you!

We had an internal library causing the following dependency behavior

[code]
Once i got consistent versions, so only `org.jboss:jandex:2.4.3.Final`, everything worked.

[2022-11-10 16:15] #29184 closed

[2022-11-10 16:32] FroMage opened #29187 "Multipart broken in RESTEasy Reactive when using new CSRF filter"
### Describe the bug

When using the new CSRF security filter, multipart support is broken in RESTEasy Reactive, leading to only the form elements that have no `filename` to be picked up. This is because the CSRF pre-matching filter suspends the request and waits for Vert.x to read the form body:

[code]

While RESTEasy Reactive usually handles the form body parsing itself, so it has not set up Ve

[2022-11-10 16:41] sberyozkin commented on #29187
If it is how it should be fixed then sure

[2022-11-10 16:57] aloubyansky commented on #29184
@AlanMasciangelo are you enforcing the Quarkus platform? Or is it simply a `platform`?

[2022-11-10 17:00] djnalluri commented on #9987
What other gRPC libraries is the project trying to align with? It's been a while since I dove into this code. I'm assuming Vert.x gRPC at a minimum but any others?

[2022-11-10 17:00] aloubyansky commented on #29184
`io.smallrye:smallrye-open-api-core:2.2.1` is managed in the `quarkus-bom`. Which means either it's not enforced or there is something that is enforced "over" it. We've been recommending `enforcePlatform` for Quarkus BOMs to avoid issues like this.

[2022-11-10 17:22] sberyozkin commented on #29162
@DCCSKrezovic I've already said it before but I do not care how some other implementations deal with it - Quarkus OIDC approach is conservative and supporting concurrent/parallel logins on behalf of the same user does not look like a mainstream or otherwise critical case.
I've already started working on it and have a branch in progress but other higher priorities issues such as those affecting the

[2022-11-10 17:24] sberyozkin commented on #29162
@DCCSKrezovic Branch is here, https://github.com/sberyozkin/quarkus/pull/new/oidc_multi_tab

[2022-11-10 17:48] jorsol opened #29188 "IsDockerWorking not using TestContainersStrategy after 2.13.4.Final"
### Describe the bug

There is a regression in the class `IsDockerWorking`, it was detected running on GitLab CI using the docker socket configuration: https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

The first strategy should be using the `TestContainersStrategy` and is able to detect the socket correctly.

I tested it with and without a `~/.testconta

[2022-11-10 19:51] AlanMasciangelo commented on #29184
@aloubyansky You're correct, we were only using `platform`. I've verified that using `enforcedPlatform` also prevents this. It is sometimes tricky for us to use in complex projects though.

[2022-11-10 19:53] DnEgorWeb opened #29189 "LazyInitializationException while fetching entity with lazy associated field"
### Describe the bug

Here is [SO question](https://stackoverflow.com/questions/74391462/how-to-fetch-lazy-associations-in-hibernate-reactive) I've created. @DavideD had a look and said it might be a bug. My Quarkus project uses kotlin/hibernate reactive. When fetching entity with nested lazy association Hibernate throws `LazyInitializationException` despite fetching the association with Mutiny.fe

[2022-11-10 20:01] aloubyansky commented on #29184
What would be a simpler alternative though? The versions would have to be aligned in some me way. How did you resolve it? It's important to consider what it would take to align transitive dependencies when you upgrade direct dependency versions in the future.

[2022-11-10 21:14] edeandrea opened #29191 "Subscribing to `CompletionStage` returned by `Event.fireAsync` doesn't seem to work correctly"
### Describe the bug

When trying to use `javax.enterprise.event.Event.fireAsync`, it does not seem to subscribe to the `CompletionStage` that is returned.

### Expected behavior

If I wrap `Event.fireAsync` inside a `Uni.createFrom().completionStage()`, I would expect the result of the handler of the event to be subscribed to.

### Actual behavior

It does not

### How to Reproduce?

Reproducer: