[2022-01-12 07:45] tares42 commented on #20492
trailing space and confirm it work on your side ?

Thank you very much for the investigation and your work.

I will test it on next weekend.

Am Di., 11. Jan. 2022 um 21:46 Uhr schrieb Loïc Mathieu <
***@***.***>:

[2022-01-12 07:49] glefloch commented on #22807
Would we do that for all goals we execute or only for the `process-classes` phases ? I'm thinking of compilation of test that can fails but the error is ignored.

[2022-01-12 07:50] yrodiere commented on #22801
Thank you for reporting this!

Unless there's additional mapping (e.g. annotations) you didn't mention, if you use a file with only `<query /`> and `<sql-query />` tags, you don't define any persisted entity, so the Hibernate ORM extension will automatically disable itself because it cannot do anything. You will get a warning in the logs, something like "Hibernate ORM is disabled because no JPA en

[2022-01-12 07:53] aloubyansky commented on #22807
It would be what Maven was instructed to do by the user. We wouldn't ignore Maven build errors on launch (or preparing to launch).

[2022-01-12 08:12] juliuskrah commented on #22815
@geoand the workaround works

[2022-01-12 08:23] galderz commented on #22757
So @dxps, unless I'm mistaken from the data above, JVM mode also shows similar situation? True, the memory numbers are slightly lower but the keep climbing up in similar fashion? Correct me if I'm wrong, it's unclear from your last comment what information you derive from the JVM tests.

If JVM mode shows similar behaviour, then you could try to generate a heap dump when it's reached such high mem

[2022-01-12 08:26] mkouba commented on #22815
Yes, it's problematic because the `io.opentelemetry.sdk.resources.Resource` obviously comes from a different package than the `ResourceConfiguration` producer. I think that we should try to make the constructor `protected` (if `quarkus.arc.transform-unproxyable-classes=true`). Let me try to prepare a PR.

[2022-01-12 08:30] famod commented on #22817
Ah, crap. I had this hunch about quoting just after I had filed this issue. 🤦‍♂️
Thanks for confirming @radcortez!

[2022-01-12 08:41] juliuskrah commented on #22815
@geoand can the custom resource be replaced with

[code]

I don't see the traces on new relic because the `service.instance.id` is still not being sent in the request

[2022-01-12 09:12] geoand commented on #22815
That's a question for @radcortez

[2022-01-12 09:13] matthiaswronka commented on #22805
Let me answer the second part first: configuration in `build.gradle` seems fine and dependencies are resolved as follows.

[code]

I will double check, if these files make it into the failing jar.

[2022-01-12 09:17] AmsterdamFilho commented on #6506
+1

[2022-01-12 09:31] ia3andy commented on #22773
Codestarts are not "example quickstart", they are bit of code to start coding. Having the entity is nice to get started on your app.

Maybe we should auto-disable hibernate when there is not db selected and print a warning.

[2022-01-12 09:31] manstis opened #22826 "DevServices: Exclude from PROD builds"
### Description

See https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/.E2.9C.94.20DevServices.20dependencies

I need to include some dependencies in my extension to start-up a PostgreSQL instance.

The dependencies are however only needed for `quarkus:dev` to re-use DevServices features.

It would be nice to be able to exclude the dependencies from a PROD build.

@aloubyansky FYI.

[2022-01-12 09:32] Sanne commented on #22822
Interesting compilation failure, thanks for the report!

I'll also mark this as an extension request, as we don't support SQLLite currently.

[2022-01-12 09:34] Sanne commented on #22822
@sesponda could you briefly describe why you'd prefer to use SQLite rather than one of the already supported databases? That would help us triage and prioritize things: I know SQLite is pupular among Android developers but haven't seen much use (yet) among backend developers.

[2022-01-12 09:38] Sanne commented on #22490
@gsmet this one is out of date, correct?

[2022-01-12 09:40] ia3andy commented on #22773
I will give more thought to that kind of problem when I get back. Still I think it's ok to fail if it says that a db is required to work, this is the normal order of things.

Most users will have selected a driver at creation time, if they forget, then I think it's ok to fail telling them the next step.

[2022-01-12 09:42] einarjohnson commented on #20256
@ebullient interesting. when I execute `curl localhost:12345/q/metrics | wc -l` on the container with the slow response times I get around 2000lines metrics reported back

[2022-01-12 09:43] Sanne commented on #22230
No you can't use a `persistence.xml`. Did you try using `quarkus.hibernate-orm.database.generation=none` ?

See https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.database.generation

[2022-01-12 09:47] Sanne commented on #22589
Very interesting use case. WDYT of this @radcortez ? Are we ready to support these as stable APIs ?

[2022-01-12 09:49] zakkak commented on #22822
I tried reproducing this outside of Quarkus (and without kotlin) without lack.

[code]

Compiles (using `--no-fallback -H:+ReportExceptionStackTraces --diagnostics-mode --initialize-at-build-time`) and runs as expected.

Examining the class initialization report I also see that `org.sqlite.BusyHandler` and `org.sqlite.Collation` were both initialized at build time.

[2022-01-12 09:56] fwippe opened #22827 "OIDC-Client: Response status 0 and null entity when OIDC client auth is failing for Rest-Client-Reactive"
### Describe the bug

When using OIDC client to authorize Rest-Client-Reactive endpoints, failing authorizations result in responses with status `0` and reason phrase `null`.

Note following code in `org.jboss.resteasy.reactive.client.handlers.ClientSetResponseEntityRestHandler#handle`:

[code]

When failing OIDC auth, `context.getResponseStatus()` is `0` so that `Response.Status.Family` is not `S

[2022-01-12 09:57] Sanne commented on #22773
I suppose we could look at making Hibernate ORM 's extension self-disable when no jdbc extension is around - pretty sure Max would like that too for demos which incrementally build an app from scratch and don't want to "interrupt the flow" while having fun with dev mode and adding extensions incrementally. (He complained in the past that Hibernate should "boot" even when no entities are defined).

[2022-01-12 10:02] Sanne commented on #22773
I guess we could self-disable and print a nice warning if there's _none of_:

- a datasource configured
- a jdbc extension available
- a dialect configured

I'm not sure about the check on the Dialect; I think I'm inclined to add it too as extra safety as dev-services might also want to try self-configuring a datasource, but supposedly we might never have a dev-service support for some DB w/o a ma

[2022-01-12 10:09] matthiaswronka commented on #22805
I´m sorry. I accidently picked an older stacktrace. The problem stays the same but now with a current stacktrace (see below) the line-numbers match the expectations (and yes, we double checked and confirm to use 2.6.1.Final):

[code]

[2022-01-12 10:11] matthiaswronka commented on #22805
Thank you. We will check out `@WithSpan`. This might make things easier. If we should miss something we would open a feature request.

[2022-01-12 10:32] thanhlai1212 commented on #12651
https://quarkus.io/guides/container-image#quarkus-container-image_quarkus.container-image.image

Represents the entire image string. If set, then group, name, registry, tags, additionalTags are ignored

Example: quarkus.container-image.image=${IMAGE_NAME}:${CI_COMMIT_TAG}

[2022-01-12 10:50] geoand commented on #20236
This has since been fixed

[2022-01-12 10:50] #20236 closed

[2022-01-12 11:06] pjgg commented on #22478
thank you!. And what about swapping the current default behavior of `mp.messaging.outgoing.<Your_channel>.apicurio.registry.auto-register` as confluent, I mean by default set the auto-register to true.

@ozangunalp @cescoffier

[2022-01-12 11:18] radcortez commented on #22815
Let me check

[2022-01-12 11:24] fwippe opened #22830 "Rest-Client-Reactive: `void` methods not allowed"
### Describe the bug

Calling proxy endpoint methods with return type `void` fail with error message `Response could not be mapped to type void`.

Stacktrace:
[code]

Work-around: Change return type to `String`.

### Expected behavior

Successful REST call

### Actual behavior

Failing REST call

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Microsoft Windows [Version 10.0.1904

[2022-01-12 11:38] #22801 closed

[2022-01-12 11:40] digsb commented on #22801
@yrodiere , it seems logical to enable Hibernate only if there any Entities available.

I tried the fix out and it has resolved all issues related to JAXBElement. I was try to build the project with large subset of entities that we have around 2K+ entities and it failed with exception
[code]
Is there a workaround for this?
I can raise another bug for this if required.

[2022-01-12 11:41] radcortez commented on #22589
Maybe...

In this particular case, `@StaticInitSafe` was added to allow registration of some config components in the static init config since we cannot trust that they will work. What I'm realizing, is that users require even more ways to customize their config instance, and adding annotations for all these cases is overkill.

Right now, internally in Quarkus I added build steps that allow you ac

[2022-01-12 11:47] radcortez commented on #22805
No worries, was just double-checking :)

It seems that the `TracerProducer` is trying to set the `OpenTelemetry` instance again when it was already set. Not sure why. Let me try to dig into it.

[2022-01-12 11:53] fwippe opened #22832 "Rest-Client-Reactive: Custom `WebApplicationExceptions` not accessable by MP-Fault-Tolerance"
### Describe the bug

When using the retry mechanism of MP-Fault-Tolerance you usually do not want to retry on Status `400`, i.e. bad requests. To achieve that, I annotated a method with `@Retry(abortOn = BadRequestException.class)` and converted `400` responses to a `BadRequestException` in a custom `ResponseExceptionMapper<WebApplicationException>`. That used to work with the old "Resteasy clien

[2022-01-12 11:58] yrodiere commented on #22801
Please do: this is unlikely to be related to Hibernate ORM itself.

[2022-01-12 12:05] digsb opened #22833 "org.objectweb.asm.ClassTooLargeException when building a project with 2K+ Hibernate entities (hbm.xmls)."
### Describe the bug

When we are trying to build our project with 2K+ Hibernate Entities (hbm.xmls) we are getting below exception.

[code]

### Expected behavior

Build to go through successfully.

### Actual behavior

Build failure.

### How to Reproduce?

1. Compile a project with large set of entities (2K+)

### Output of `uname -a` or `ver`

Linux ubuntu 4.15.0-159-generic #167-Ubuntu SMP Tu

[2022-01-12 12:08] Ladicek commented on #22832
If https://github.com/smallrye/smallrye-fault-tolerance/issues/524 was implemented, that would hopefully work. I'll bump that on my priority list.

[2022-01-12 12:18] OleKsimov opened #22834 ""Enlisted connection used without active transaction" during committing transactions with active async threads"
### Describe the bug

Hi guys!
I've found out recently that not all of my transactions are committed. The small investigation led me to believe there is a problem in the commit transaction process: when some of the async processing is not finished yet using CompletableStage/CompletableFuture, the transaction fails with the message "Error trying to transactionCommit local transaction: Enlisted conn

[2022-01-12 12:30] Sanne commented on #22833
Interesting, thanks for the report!

@stuartwdouglas , @geoand could one of you have a look or suggest someone to assign to?

[2022-01-12 12:41] yrodiere commented on #22833
Note in this particular project, hbm.xml files are being used, which means we record POJOs representing the content of those XML files during the build. This may or may not be the reason for the class file being "too large".

(One of the goals being to avoid XML parsing when the application starts, we cannot simply read the XML files again during static init).

[2022-01-12 13:04] einarjohnson commented on #20256
figured out what was causing this issue. the container was underutilized in our k8s environment. it had 100m allocated in CPU processing, bumping it into 1000m alleviated the issue. many thanks for the help guys.

[2022-01-12 13:05] Sanne commented on #18103
up - it's time to resolve this :)

[2022-01-12 13:06] Ladicek commented on #22777
I'd just add that usually, you don't want to forward the response from your server unchanged back to your client, because that is likely to expose confidential data (typically in headers). That's why the exceptions are wrapped in the first place.

[2022-01-12 13:11] fwippe commented on #22777
You're right, of course, you have to be extra careful with propagating error messages. Still, even custom errors generated by `ResponseExceptionMappers' are being wrapped! So, even carefully extracted error messages are surrounded with detailed method call debug information.

[2022-01-12 13:12] geoand commented on #22833
Stuart had solved a similar issue for generated methods that were too large by breaking them up.
However the problem here is that the constant pool of the to be generated class is too large (it does not have to do with the fact that the application uses XML), which I don't know how we can solve since each recorder step is associated with a single generated class

[2022-01-12 13:15] #22431 closed

[2022-01-12 13:18] #20256 closed

[2022-01-12 13:26] geoand commented on #22827
Any chance you can put together a small project that exhibits the problematic behavior?

[2022-01-12 13:37] geoand commented on #22477
I might be misreading this, but why would a request made from the scheduler be expected to be able to retrieve OIDC token from the current request (which doesn't exist)?

[2022-01-12 13:38] ezYakaEagle442 commented on #22723
@maxandersen thank you for your reply but as I mentionned : The Quarkus install fails and **states that I am prompted to choose a 0/1 option but there is no prompt at all !**

I am sorry but as newbbie the user experience is bad because I follow the docs and it does not work, what is different in my case compared to any other users ? is it related to WSL 2 ??

If I have to install jbang first, the

[2022-01-12 13:38] tsegismont opened #22836 "Incorrect changes after running update-extension-dependencies.sh"
If you:

-  have cloned and built this repository before #21736 was merged
- run `update-extension-dependencies.sh` because, for example, you're adding an extension

Then the output contains references to the modules that were moved out of the repository.

This was found while working on #22810

[2022-01-12 13:43] maxandersen commented on #22723
What OS are you running ?

Jbang should wait 10 seconds for you to type 1 or 0 then it exits.

[2022-01-12 13:46] Ladicek commented on #22777
I guess it would be nice if that detailed error message was only produced in dev mode. Or maybe all modes outside of prod. Not sure how easy/hard would it be to achieve.

[2022-01-12 13:48] #19063 closed

[2022-01-12 13:50] geoand commented on #22216
@sberyozkin any way I can help with this one?

[2022-01-12 13:51] mswiderski opened #22837 "Split package warning when using reactive messaging with in memory connector for tests"
### Describe the bug

When using reactive messaging (e.g. kafka or MQTT) and in memory connector for testing there is a warning logged on start
[code]

### Expected behavior

No warning should be logged

### Actual behavior

Split package warning should not be displayed

### How to Reproduce?

include following dependency into a project with reactive messaging and the warning should show up

[code

[2022-01-12 13:57] ezYakaEagle442 commented on #22723
@maxandersen  jbang does not wait , there is no prompt at all, as I described I run WSL2/Ubuntu 20.04 on Windows 11

[2022-01-12 13:58] DenysHo opened #22838 "Transactions don't rolled back in JUnit tests"
### Describe the bug

There is `@TestTransaction` annotation in Quarkus that assumes automatic rolling back transactions made inside each test case. But it doesn't work by this way. All data persisted during test cases saves from test to test and don't rolled back. This don't work using this annotation either for test class and for methods

### Expected behavior

Every method annotated with `@Test

[2022-01-12 13:59] famod commented on #22836
The cause is described here: https://github.com/quarkusio/quarkus/pull/22810#issuecomment-1010996342

@aloubyansky do you want to take this?

[2022-01-12 14:00] geoand commented on #22408
Any update on this?

[2022-01-12 14:03] aloubyansky commented on #22836
I am busy with other tasks currently, so not right now.

[2022-01-12 14:13] famod commented on #22836
I'll try to have look at using that relocations profile later today.

[2022-01-12 14:38] kshpak opened #22839 "Quarkus fails to connect to Infinispan server running on FIPS"
### Describe the bug

Infinispan server running on FIPS enabled machines logs following error at startup and continues to run.
Command:
`docker run -p 11222:11222 -e USER=admin -e PASS=password infinispan/server`
Logs:
`PKCS11Exception: CKR_ATTRIBUTE_VALUE_INVALID`

Because of this Quarkus fails to connect to the Infinispan server and throws:
[code]

This is related to https://github.com/quarkusio

[2022-01-12 14:43] gsmet commented on #22836
I'm not sure it's the right fix. You can use it in the script but personally, I build things separately to make sure it builds before running the script.

And we don't want to enable this profile always as one of the point of this work was to reduce the number of modules.

I think we can probably live with this limitation (but I would fix it in the build you have in the script, so we could say "ju

[2022-01-12 14:54] famod commented on #22836
To be clear: the script only builds on top of what's in that generated descriptor and that generation picks up "removed" extensions.
So I'd prefer if we could fix the root cause of this.

[2022-01-12 15:21] #22839 closed

[2022-01-12 15:27] gsmet commented on #22773
Well, IIRC, it was a warning at the beginning and then people asked for an error because they couldn't figure out what was going wrong.

So I'm really not comfortable going back just for the sake of providing a sample entity that (IMHO) has little value for someone who is going to start a Hibernate ORM based project.

[2022-01-12 15:28] #22838 closed

[2022-01-12 15:52] #20492 closed

[2022-01-12 15:54] digsb commented on #22833
I ran build in Debug mode and collected some stats, not sure if this will be of any help.

`JpaModelBuildItem` generated by `JpaJandexScavenger`

[code]

`ClassOutput` generated by `ByteCodeRecorderImpl`
[code]
Let me know if you want me to collect any more information.

[2022-01-12 16:16] fwippe commented on #22827
Sure, no problem. I created repository https://github.com/fwippe/issue-22827. Run `./mvnw verify` to reproduce.

[2022-01-12 16:17] radcortez opened #22841 "Trim configuration values automatically in the `quarkus` namespace"
### Description

Because of the way that `properties` files work, configuration values may contain trailing whitespaces when read from this type of configuration source. The rationale was to not mess with the value because we don't know if the whitespace is intended or not.

Unfortunately, this seems to cause more harm than good:
- https://github.com/quarkusio/quarkus/pull/22816
- https://github.c

[2022-01-12 16:22] Snijder commented on #22723
Same happens for me on ubuntu 21.10 openjdk version "1.8.0_312"

[code]

[2022-01-12 16:27] GregJohnStewart opened #22842 "snakeyaml not found in Gradle build after running Quarkus project with Maven"
Okay, I have come across this issue before but never figured out how to replicate it (until now).

The issue seems to be that when a maven quarkus build runs, and pulls down `org.yaml:snakeyaml:1.29`, it is lacking something that the Gradle project needs. This poisons the `.m2` cache, causing the following error in the Gradle project:

[code]

Simply nuking the snakyaml directory in `.m2` fixes it

[2022-01-12 16:28] cescoffier commented on #22837
This would need to be fixed in Smallrye.

[2022-01-12 16:42] GregJohnStewart commented on #22842
Important to note that the `snakeyaml-1.29-android.jar` seems to exist in `.m2`, even though Gradle says it cannot find it. Maybe there is a bad `sha` file for snakeyaml?

[2022-01-12 16:46] gsmet commented on #19861
We were unable to determine the usage of this and there's no explanation in the issue so closing. If you end up having a usage for this, please open a new issue explaining how it would be useful to you.

See https://github.com/quarkusio/quarkus/issues/19861 for a possible implementation.

[2022-01-12 16:46] #19861 closed

[2022-01-12 17:17] aloubyansky commented on #21694
@gsmet are you taking care of the issue or want me to do anything about it?

[2022-01-12 17:24] gsmet commented on #21694
I will implement what you described above but I will let you come up with the nicer API given I have very little knowledge of this area :).

Once we have the API, I think I'll go through the processors to try to fix the issues we have with class detection.

[2022-01-12 18:06] pjgg opened #22843 "Quarkus Upstream / Mutiny `collectItems()` has been removed"
### Describe the bug

As a result of [this commit](https://github.com/quarkusio/quarkus/commit/8243740c44f8bf8fc11c47c33bab8d679ed8f906) mutiny `collectItems()` has been removed. There are other breaking changes as you can see on [this Doc](https://github.com/smallrye/smallrye-mutiny/releases)

Please don't forget to attach all of this breaking changes to the future release note

### Expected beha

[2022-01-12 18:06] glefloch commented on #22842
That's really weird, the maven resolution looks good (it some case, the jar can be missing and gradle is not able to fallback to other repositories)

Can you try to delete the `~/.m2/repository/org/yaml/snakeyaml/1.29/` directory from your repository and try to run the gradle command again?

A better fix would be to change the order of `repositories` declared in your `build.gradle` file.
Gradle us

[2022-01-12 18:19] jponge commented on #22843
This is documented, see https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.7#mutiny

These methods have been deprecated for more than a year.

[2022-01-12 18:19] #22843 closed

[2022-01-12 18:40] GregJohnStewart commented on #22842
As I said, nuking the snakeyaml dir in `.m2` is my current fix, and swapping the order of `mavenLocal()` and `mavenCentral()` seems to have worked as well. Though I would say it is imperfect as there is still an issue with gradle pulling it from local, and it is nice having the cache to work offline (airplane/ travel work)

[2022-01-12 18:49] glefloch commented on #22842
Actually, you can use gradle offline without leveraging the `mavenLocal()` repository. If you need to run gradle offline and only rely on its cache you can use the `--offline` flag. And to make sure all dependencies are in the cache, you can run `./gradlew quarkusGoOffline`

[2022-01-12 18:58] GregJohnStewart commented on #22842
Good insight! I'll have to remember that, thanks.

[2022-01-12 19:33] kdubb opened #22844 "Gradle tests (with JBoss LogManager setup) output duplicate unformatted messages"
### Describe the bug

When Gradle tests are setup to use the JBoss LogManager (as suggested in the test logging guide using `systemProperty "java.util.logging.manager", "org.jboss.logmanager.LogManager"`). Gradle will output unformatted raw messages to stdout during testing.

For example, this log statement in an application:
[code]

will produce the following output during `./gradlew (build|test)

[2022-01-12 19:34] glefloch commented on #22842
Your welcome ;). I will close the issue if everything is fine then.

[2022-01-12 19:34] #22842 closed

[2022-01-12 19:51] sesponda commented on #22822
@Sanne

The project is a command-line tool that needs to process the output of a 3rd party app. Unfortunately, that output is an SQLite DB and I can't change this.

@zakkak

I've applied your build options to my Quarkus project:
1. Adding the "as is" caused `Error: Classes that should be initialized at run time got initialized during image building`
2. Restricting the init to the problematic class

[2022-01-12 19:56] GregJohnStewart commented on #22842
I wouldn't call this closed, there are valid workarounds but still feels like something is amiss. Leave it up to the maintainers I suppose though

[2022-01-12 19:57] zakkak commented on #22822
Correct, and that's even not always true. So if you are not hitting any memory limits you should be OK.

I would prefer keeping this open till the upstream issue is fixed and Quarkus defaults to a GraalVM version that includes that fix.

[2022-01-12 20:08] Sanne commented on #22822
@sesponda thanks for the context!

[2022-01-12 20:32] kdubb commented on #22762
I agree that the status should be sent ASAP and we shouldn't be waiting for a first message.

@cescoffier It seems we could easily find a middle ground here. I would think that any resource method that has returned a `Multi` or `Flow` or equivalently setup JAX-RS's asynchronous & SSE systems should be considered a `200 OK`. This allows the resource method to prepare things, and possibly throw an e

[2022-01-12 20:41] kdubb commented on #22762
Here's the spec, it's pretty simple. https://html.spec.whatwg.org/multipage/server-sent-events.html#dispatchMessage. There isn't anything about the specific topic of when to send the status code from the server.

[2022-01-12 20:46] kdubb commented on #22762
According to the spec. it requires an `OPEN` event and a connection announcement to be made at the start of each event stream.

I cannot see how RestEasy should be waiting any period of time beyond what is absolutely necessary if the client is expected to be sending an `OPEN` event when the connection is made.

[2022-01-12 20:46] glefloch commented on #22842
From the quarkus side, we can't do much more here. From my point of view, this is a Gradle issue. When dependency resolution failed, gradle could fallback to the next repository which it does not..

[2022-01-12 22:25] michalszynkiewicz opened #22847 "RESTEasy Reactive: null fields in multipart responses cause NullPointerException"
### Describe the bug

When trying to return a multipart response with null fields (see the code below), MultipartMessageBodyWriter throws a NullPointerException

### Expected behavior

_No response_

### Actual behavior

[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Linux ryzen 5.15.12-200.fc35.x86_64 #1 SMP Wed Dec 29 15:03:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

#

[2022-01-12 22:25] michalszynkiewicz commented on #22847
CC @Sgitario

[2022-01-13 01:54] h2cone commented on #13621
+1

[2022-01-13 02:29] h2cone commented on #2931
Is there a way to define `quarkus.package.runner-suffix` as an empty string?

[2022-01-13 04:26] digsb commented on #22833
On Further Analysis found that Constant Pool Size is `253878` which is more than `65535` hence asm ClassWriter is throwing exception.

[2022-01-13 06:00] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1691141967

[2022-01-13 06:28] cjdxhjj opened #22849 "gradle plugin raise error when upgrade quarkus"
### Describe the bug

i'm use quarkus with gradle, when i upgrade the quarkus, it report error again and again. i must delete all cache, then it works, when i upgrade from 2.5.1 to 2.5.2, from 2.5.2 to 2.5.3 and so on, it appear again and agin,

### Expected behavior

could Smooth upgrade quarkus

### Actual behavior

[root@hr-recruit02 hr-recruit]# gradle clean quarkusBuild

FAILURE: Build failed

[2022-01-13 06:31] cjdxhjj commented on #22849
the first i thought it was gradle issue, and report the bug, the link is [https://github.com/gradle/gradle/issues/19407](url)

[2022-01-13 06:43] michalszynkiewicz commented on #3518
how does it differ from using `quarkus.tls.trust-all`?

[2022-01-13 06:49] michalszynkiewicz commented on #22619
There are two ways the call to a grpc endpoint can be done in native tests:

- by manually building the channel and the client, as done in HelloWorldServiceTest in `integration-tests/grpc-proto-v2`
- by creating the client on the application side and proxying call results through resteasy or sth

[2022-01-13 06:55] michael-schnell commented on #21574
Mixing new features with the name space change seems not to be a good idea. I guess that's exactly why the Readhat strategy was: "EE 9 = namespace change" / "EE 10 = new features".

[2022-01-13 07:04] geoand commented on #22847
Should be an easy fix. @Sgitario want to take this?

[2022-01-13 07:20] Sgitario commented on #22847
PR is attached now. It took a bit longer because I wanted to double check with Resteasy Classic what was doing in this scenario. I've also run the resteasy reactive testsuite.

[2022-01-13 07:20] michalszynkiewicz commented on #22658
I added this to my todo list but I won't have time for it soon so I'm leaving it unassigned.

[2022-01-13 07:24] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1691156721

[2022-01-13 07:35] geoand commented on #22658
I'll take it as it seems like something we want for `2.7`

[2022-01-13 08:16] nachogiljaldo commented on #22762
Furthermore, it might be impossible in many cases to predict whether you will be returning an event ever.

Just for my understanding @kdubb , are you talking about RestEasy as client or as server here?

[2022-01-13 08:26] alexcheng1982 commented on #22757
With native image, there is only a limited choices of GC: Serial GC (default), Epsilon GC (no-op), and G1 GC (GraalVM EE only). From the setup:

* No GC configured -> Serial GC
* No `-Xmn` config -> Young generation size is `256M`
* No `-Xmx` config -> 80% of the physical memory, very large

Based on the usage pattern, most of the objects are short-lived. The increase of memory size is caused by o

[2022-01-13 08:39] #21629 closed

[2022-01-13 09:13] argenstijn commented on #22770
Thanks @fwippe . That is fore sure the same issue.

@gsmet Shall i close this issue?

[2022-01-13 10:24] ia3andy commented on #22773
Ok, this was just a suggestion.

Then, IMO, failing, with an explanation on the step forward if the user didn't select any driver is fine. It's better to have the entity in that case than nothing, the normal way is to select hibernate + a driver

[2022-01-13 10:56] #22847 closed

[2022-01-13 11:20] brunobat opened #22862 "Rest Client exausts Threads."
### Describe the bug

This is a major issue for us.
I have dozens of services in prod that from time to time they freeze due to thread exhaustion. The vertex event loop stalls.
his can be traced back to unconfigured timeouts on rest clients that hog connections.
We need to go to all rest clients and specify connection and read timeouts on configurations, like:
[code]
If you use programatic rest cr

[2022-01-13 11:30] XSAM opened #22864 "Using OpenTelemetry gRPC instrumentation produces NullPointerException when running quarkusBuild"
### Describe the bug

Using [io.opentelemetry.instrumentation:opentelemetry-grpc-1.6:1.9.2-alpha](https://mvnrepository.com/artifact/io.opentelemetry.instrumentation/opentelemetry-grpc-1.6/1.9.2-alpha) and `io.quarkus:quarkus-opentelemetry-exporter-otlp` with Quarkus 2.6.2.Final produces `NullPointerException` when packaging image by `quarkusBuild`.

### Expected behavior

It should produce an ima

[2022-01-13 11:38] Luancarlos commented on #22723
any news about this?

[2022-01-13 11:39] gsmet commented on #22770
Let's keep it open. It's simple and it has a reproducer. Just let make sure we close #20190 when we close this one.

[2022-01-13 11:39] gsmet commented on #22770
/cc @radcortez looks like you have a simple reproducer now for the remaining issue in #20190. Could you have a look?

[2022-01-13 12:24] kshpak commented on #18306
Closing this. Not an issue. ImageStreams works that way

[2022-01-13 12:24] #18306 closed

[2022-01-13 12:28] mkouba commented on #22824
I must admit that I find the idea interesting. OTOH in most cases the goal of a scheduler method is to execute some logic at a specific time or at a specific interval ;-). Could you be a little more specific about the expected behavior? For example, what exactly should happen if you define `@Scheduled(every = "10s", jitter = "1000")`? Should it be executed somewhere between `interval - 1000ms` and

[2022-01-13 12:35] Ladicek commented on #22764
#22853 will fix this.

[2022-01-13 12:46] aadityasinha-dotcom commented on #21985
Can you explain me about this issue?

[2022-01-13 13:11] sberyozkin commented on #22082
Hi @patriot1burke I do, 100% :-), have a look please at fixing it, would be appreciated, thanks

[2022-01-13 13:14] rkraneis commented on #11114
Is there anything new here, yet? This gets even more annoying, when other logging frameworks need to be considered. We currently set up bridges from other logging frameworks into jboss logging to have everything work in production (using commons-logging-jboss-logging, log4j-jboss-logmanager, log4j2-jboss-logmanager, slf4j-jboss-logmanager). We'd have to exclude all of these in unit tests and use t

[2022-01-13 13:40] sberyozkin commented on #22477
Hi @geoand the filter which is applied to the rest client retrieves this token from the remote OIDC server and it is failing; I'll need to add a test to reproduce

[2022-01-13 13:45] MartinX3 commented on #21427
Still happening randomly in 2.6.2.
I think if I modify a class while hotreloading and somehow the bytecode gets corrupted?
Doing a `gradle clean` is the only way to fix it. A simply restart of the dev mode doesn't work.

[2022-01-13 13:59] geoand commented on #22477
Ah okay. I misunderstood what it does then.

Thanks

[2022-01-13 14:06] evacchi commented on #22490
1.15 has been released, we are currently releasing 1.16. I think this issue can be closed /cc @radtriste

[2022-01-13 14:11] radtriste commented on #22490
Kogito 1.15.0.Final has been integrated in Quarkus Platform 2.6.2.Final
so I guess this issue can be closed yes

[2022-01-13 14:15] #22490 closed

[2022-01-13 14:38] mschorsch opened #22870 "Resteasy Reactive Client: Parameter "annotations" is always null in ParamConverterProvider"
### Describe the bug

The parameter `annotations` in `ParamConverterProvider` is always null.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java 11

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.6.2

### Build

[2022-01-13 15:10] famod commented on #11114
@rkraneis I started working on something that will enable basic logging for non-Quarkus tests: #22821

Today, if a non-Quarkus test is executed _after_ e.g. a `@QuarkusTest`, you should be able to see log output.
But when it is run alone or _before_ any Quarkus test was executed you won't see anything.
This will be fixed by that PR.

Not sure this is all you need, but I consider it a big step forw

[2022-01-13 15:11] #22864 closed

[2022-01-13 15:36] rkraneis commented on #11114
Good news, thanks for the update, @famod!

Didn't notice that, so for now I will see, if this already helps us.

~Junit 5 or Junit platform? Asking, as we use some additional frameworks that make use of Junit platform which we may also want to use in Quarkus procts (pi-test, jqwik, cucumber).~

Seems it really is Junit 5 only. I guess we can re-purpose the ideas in the PR to also jump start logger

[2022-01-13 15:48] TomasHofman opened #22872 "Change type of rest client timeout properties to Duration"
### Description

Unlike most other "*-timeout" properties in Quarkus (you can filter them at https://quarkus.io/guides/all-config), the rest-client configuration has "read-timeout" and "connect-timeout" properties of type `long`. This should be changed to the `Duration` type to be consistent with other extensions.

[code]

### Implementation ideas

We could also make the default values of the rest

[2022-01-13 15:49] TomasHofman commented on #22872
I'm going to work on this, if the assignment looks all right.

[2022-01-13 15:50] TomasHofman commented on #15191
@FroMage is this something that can be worked on, or is it still debated?

[2022-01-13 15:59] #21853 closed

[2022-01-13 16:08] kdubb commented on #22762
I'm only ever referring to RestEasy server here. By "client" in the above quote I meant an `EventSource` as defined by the WHATWG Spec.

[2022-01-13 17:01] jponge commented on #21430
Mutiny 1.3.0 got merged into Quarkus (see #22825)

[2022-01-13 17:01] #21430 closed

[2022-01-13 17:25] dxps commented on #22757
@galderz Okay, okay, I explicitly mentioned that I used Java 17, instead of java 11. Should I almost feel guilty of pretending to compare apples to apples? :neutral_face:  I'm not here to bash Quarkus, I even promoted internally to my employer and it's being used for around 1.5 years now. Initially, I just wanted to raise a heads up about this issue here, and see if the community has a feedback.
O

[2022-01-13 18:19] radcortez commented on #22770
Setting the failsafe plugin configuration to `<useModulePath>false</useModulePath>` will fix this.

This is caused by the failsafe plugin using the module path service loader. @stuartwdouglas trying a workaround for this in https://github.com/quarkusio/quarkus/pull/20466, but it caused other issues.

At this point, I think we have no other fix than changing the failsafe configuration (I've verifie

[2022-01-13 18:33] j-be opened #22874 "IllegalStateException if cache hit using @CacheResult happens within HttpAuthenticationMechanism.authenticate()"
### Describe the bug

Consider the following (not relevant stuff removed for brevity)

[code]
[code]

The above works fine in Quarks up to including `2.5.4.Final`, but it throws an `IllegalStateException` if `cachingService.get()` is a cache hit in Quarkus `2.6.0.Final` and above (checked up to `2.6.2.Final`, which is current stable at the time of writing.

### Expected behavior

Functions decorat

[2022-01-13 18:34] gsmet commented on #22770
Maybe we should generate the projects with the `failsafe.useModulePath` property set to false for the time being?

I think it would be better to use the property.

[2022-01-13 18:38] kdubb commented on #22793
@josephearl Look at https://quarkus.io/guides/tests-with-coverage#coverage-for-tests-not-using-quarkustest

Specifically the section that instructs you to exclude Quarkus class loaders...
[code]

This will solve your problem.

[2022-01-13 18:50] radcortez commented on #22770
Yes, we can do that. I'll send a PR for it.

[2022-01-13 20:40] myeung18 opened #22877 "Add sslmode/sslrootcert & cluster options to postgresql jdbc client"
### Description

To support ssl enabled postgresql or postgre compatible database servers such as cockroachdb, and to use k8s service binding extension, the existing quarkus postgresql jdbc client library needs to be enhanced.

Besides the current connection properties, the following are to be added or bound by Service Binding Operator under $SERVICE_BINDING_ROOT:
[code]
Connection string built:
[

[2022-01-13 21:03] josephearl commented on #22793
Thank, guess that documentation has been updated since I last read it 😄
Can confirm that solved my problem.

[2022-01-13 21:03] #22793 closed

[2022-01-13 21:32] eddiecarpenter opened #22880 "Error starting application with vertx clustering and TCP stack"
### Describe the bug

We upgrade our project to Quarkus 2.6.1 and found a runtime error in the Vertx Cluster setup process.
We are specifically setting vertx.jgroups.config=default-configs/default-jgroups-tcp.xml (or default-configs/default-jgroups-kubernetes.xml). If this environment variable is not set error does not happen.

### Expected behavior

The jgroup stack should initialise and the appl

[2022-01-14 00:33] brunoborges opened #22887 "Cannot access web app running on WSL from a Windows-hosted client (browser)"
### Describe the bug

Open a WSL terminal on Windows.
Create a sample app using the quickstart/archetypes.
Run `mvn quarkus:dev`.
Try to access the app.

### Expected behavior

Be able to see the expected output of the quickstart.

### Actual behavior

404

### How to Reproduce?

As described.

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### Graa

[2022-01-14 03:27] mac-b-ferguson commented on #21275
I've encountered this as well with quarkus dev services trying to run 2 datasources in separate containers.

I've created a [reproducer](https://github.com/mac-b-ferguson/quarkus-issue-21275)

The problem appears to be here: https://github.com/quarkusio/quarkus/blob/7273d6fbd63197edaf61833cc522690e583049d6/extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/QuarkusPathLocationScanner

[2022-01-14 06:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1696236422

[2022-01-14 06:22] geoand commented on #22880
cc @karesti @cescoffier

[2022-01-14 06:23] geoand commented on #21275
Thanks for the analysis.

As you seem to have got pretty far, mind providing a Pull Request?

[2022-01-14 06:45] cescoffier commented on #22880
Vertx clustering has never been supported, as it would require quite some work in native. Did it work before?

Can you provide a reproducer?

Maybe @tsegismont has an idea.

[2022-01-14 07:08] Sgitario commented on #22554
FYI: I'm working on this feature.

[2022-01-14 07:16] mkouba opened #22889 "Dev UI - make it possible to register the DevConsoleRouteBuildItem#handler as a blocking handler"
### Description

Currently, all ``DevConsoleRouteBuildItem#handler``s are registered as non-blocking request handlers.

### Implementation ideas

_No response_

[2022-01-14 07:21] #22507 closed

[2022-01-14 07:41] geoand commented on #22862
I assume you are using `quarkus-rest-client`. Have you tried with `quarkus-rest-client-reactive`?

[2022-01-14 07:50] eddiecarpenter commented on #22880
Hi,

If you change the Quarkus version to 2.4.2 you will see that it then works.

Regards

Eddie

From: Clement Escoffier ***@***.***>
Reply to: quarkusio/quarkus ***@***.***>
Date: Friday, 14 January 2022 at 19:45
To: quarkusio/quarkus ***@***.***>
Cc: Eddie Carpenter ***@***.***>, Author ***@***.***>
Subject: Re: [quarkusio/quarkus] Error starting application with vertx clustering and TCP stack

[2022-01-14 07:53] ge0ffrey commented on #4723
I agree that production users will typically use their own corporate parent POM.
But during the Getting Started experience of day 1, it would reduce complexity, reducing the churn.

[2022-01-14 08:08] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1696249929

[2022-01-14 08:52] tsegismont commented on #22880
@eddiecarpenter what @cescoffier said is right, clustering has never been supported, although the vert.x clustering options were available.

I know some users were able to make it work, by changing to a different version of Hazelcast or Kubernetes that Quarkus sets in the BOM. Perhaps you need to do the same here, it seems your project depends on a version of Infinispan that is incompatible with t

[2022-01-14 08:54] TomasHofman commented on #22862
I think I can add the same default timeouts that the reactive client uses as part of https://github.com/quarkusio/quarkus/issues/22872.

[2022-01-14 08:57] glefloch commented on #22849
Thanks for reporting this @cjdxhjj. I created a project from code.quarkus.io, set the version to `2.5.3.Final`, run `./gradlew quarkusBuild`, it worked. Then I updated to `2.5.4.Final`, run `./gradlew quarkusBuild` and it worked too.

Are you seeing the issue in your IDE or in a terminal ?

[2022-01-14 08:58] cjdxhjj commented on #22849
i have test two machine, one windows 10 and on cent os 7.

[2022-01-14 09:03] cjdxhjj commented on #22849
both two machine appear the issue. i encounter the first issue is the custom maven repo can't used, the upgrade progress is very slow, i cost 20 minutes, that won't success.

[2022-01-14 09:53] h2cone commented on #12889
+1

Extracting META-INF/MANIFEST.MF of Uber-Jar shows that the Class-Path is empty. I want to add additional JAR files and directories to the class path, so I can only use `jar` to modify the manifest file.

[2022-01-14 10:31] geoand commented on #22887
Thanks for reporting.

@rsvoboda do you have a Windows machine so you can verify this?

[2022-01-14 10:33] #22827 closed

[2022-01-14 10:34] gsmet commented on #12889
@glefloch would you be interested in having a look at this? I think it probably warrants a discussion with @aloubyansky before implementing anything.

[2022-01-14 10:52] glefloch commented on #12889
Sure, I will check with @aloubyansky what is the best strategy here to implement that on both maven and gradle.

[2022-01-14 10:55] vsevel opened #22896 "Make quarkus.x.health.enabled configurable at run time"
### Description

There are some debates as to whether the readiness check should include checks on external systems.
We do not intend to do so for the "hundreds" ;-) of quarkus applications we are going to create.
We would like to make this a standard for all of these applications (and configure a standard env variable to disable those DS checks), and not rely on each app to specify `quarkus.datas

[2022-01-14 11:08] DavideD commented on #22433
We have just released a new Hibernate Reactive version (`1.1.2.Final`) that should fix this issue.
I've just sent a PR for Quarkus: https://github.com/quarkusio/quarkus/pull/22898

[2022-01-14 11:13] eddiecarpenter commented on #22880
Hi Thomas,

That is what I thought as well. If you have look at the pom file you will note that I have trimmed it down to the bare minimum. The only dependency on Infinispan comes from vertx-infinispan.

I do think the problem lies version/dependency on a module that Quarkus is using a newer version than vertx-Infinispan.

Regards

Eddie

From: Thomas Segismont ***@***.***>
Reply to: quarkusio/qua

[2022-01-14 11:34] rsvoboda commented on #22887
I have Windows VM, but it's without nested virtualization so I can't really check WSL 2 now.

I will ask my wife to borrow me her Windows laptop when she gets home ;)

[2022-01-14 11:38] geoand commented on #22887
Thanks!

[2022-01-14 11:42] TomasHofman commented on #22872
I realized there are some problems with this.

Firstly, the default `DurationConverter` assumes that if just a number is given, the duration is in seconds. The current semantic of the `connect-timeout` and `read-timeout` attributes is that the value is in milliseconds. Using the `DurationConverter` would therefore break backward compatibility, effectively changing existing configurations meaning f

[2022-01-14 12:03] cjdxhjj commented on #22849
at now my quarkus is 2.6.1
the build is success
![image](https://user-images.githubusercontent.com/5616997/149512733-a79d5afc-63e9-4ec3-992d-b0d27b993cb9.png)

[2022-01-14 12:04] cjdxhjj commented on #22849
my config is
![image](https://user-images.githubusercontent.com/5616997/149512782-a0dba4f0-a0d5-4e90-9506-5d918f9618f3.png)

[2022-01-14 12:18] markus-seidl opened #22902 "mvn test only includes tests that end with "Test""
### Describe the bug

When executing "./mvnw clean test" or "./mvnw clean verify" Quarkus includes only tests that have the suffix "Test". While "./mvnw clean compile quarkus:dev" includes also tests that have other suffixes.

### Expected behavior

Include all tests that are specified and not explicitly excluded. Similar behaviour of mvn test / quarkus:dev (If possible)

### Actual behavior

Test

[2022-01-14 12:19] geoand commented on #22870
@Sgitario you might be interested in this one.

[2022-01-14 12:20] Sanne commented on #22554
@Sgitario that's awesome :)

May I suggest though, please consider making it optional? Hibernate Reactive is extremely promising but today it only supports a few dastabases, so we'll need to allow users keep using the traditional Hibernate for a little longer.

[2022-01-14 12:28] geoand commented on #22554
It should probably a separate extension, something like `hibernate-reactive-rest-data-panache`

[2022-01-14 12:30] Sgitario commented on #22554
Yes, my proposal solution will have a new extension called `hibernate-reactive-rest-data-panache`.
ETA: 3-4 days

[2022-01-14 12:33] Sanne commented on #22554
Right a new extension would be ideal; it would give us the flexibility to mark it experimental initially, let it grow, and switch defaults when we think it's a good time.

In parallel we could also work on allowing a Reactive datasource to wrap any JDBC driver via https://vertx.io/docs/vertx-jdbc-client/java/ - once Quarkus supports that wrapper it would open the doors to switch.

[2022-01-14 12:39] gsmet commented on #22554
I don't think we should "switch" anything to Hibernate Reactive.

Hibernate ORM is here to stay and is still the best solution for a ton of use cases.

[2022-01-14 12:54] rsvoboda commented on #22887
Good news, I have managed to boot into Boot Camp based Windows with enabled Virtualization thanks to the trick mentioned in https://superuser.com/questions/717421/how-to-enable-hardware-virtualization-on-a-macbook

In WSL 2 I was able to run Quarkus sample app from code.quarkus in dev mode. Application is not accessible from Windows-hosted browser because the default host is localhost / 127.0.0.1

[2022-01-14 12:58] geoand commented on #22887
Thanks @rsvoboda!

Interesting how this seems to be the opposite of https://github.com/quarkusio/quarkus/issues/12246...

[2022-01-14 13:00] gwenneg commented on #22874
Can I see the real `HttpAuthenticationMechanism.authenticate()` implementation or is it private?

[2022-01-14 13:21] tsegismont commented on #22880
If you run `mvn dependency:tree` you will find:

[code]

Notice the version mismatch between `infinispan-multimap` (`12.1.7.Final`) and `infinispan-core` (`13.0.5.Final`).

I suspect this is due to the version of Infinispan Core set by the Quarkus BOM that is incompatible with the version that Vert.x depends on.

Please try adding this to your POM file:

[code]

[2022-01-14 13:24] geoand commented on #22880
Closing this as it's not a Quarkus issue per-se.

[2022-01-14 13:24] #22880 closed

[2022-01-14 13:25] #22889 closed

[2022-01-14 14:12] j-be commented on #22874
Yes, I can share the content with you. We are planning to open-source it anyway in the near furture - but we are still working on the final preparations, so I need to copy it in here for now.

Btw: I have to say I am fairly new to `Uni` and stuff, so it might be, that there is an extremly easy was to fix this I am simply not aware off.

In any case: it is not the `HttpAuthenticationMechanism`, but

[2022-01-14 14:29] famod commented on #22887
`0.0.0.0` is the way to go when running in a WSL2 distribution, using it myself that way.

The other issue seems to be about running "natively" on Windows, not in WSL2.

[2022-01-14 14:29] radcortez commented on #22862
I think it could be interesting to have a global timeout for REST clients (like we have other properties that set global configuration for clients).

[2022-01-14 14:34] gwenneg commented on #22874
Thank you! Which data is cached exactly in that code?

[2022-01-14 14:36] radcortez opened #22905 "Support OTel JDBC Driver in DevServices"
### Description

We are not able to set the OTel JDBC Driver for DevServices, because it requires the specific prefix `jdbc:otel:` and we have the prefix for DevServices hardcoded.

### Implementation ideas

_No response_

[2022-01-14 14:37] famod commented on #22902
maven-surefire-plugin has a default include filter:
- https://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html
- https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#includes

Maybe continuous testing should execute fewer tests by default (matching surefire defaults), but then again someone could reconfigure surefire and things would deviate again

[2022-01-14 14:38] gwenneg commented on #22874
Oh sorry it's written in the comments, just saw it 😃

[2022-01-14 14:39] radcortez opened #22906 "Propagate OTel Context to Reactive Messaging"
### Description

Reactive Messaging requires the OTel context to be set manually. This should be done automatically.

### Implementation ideas

Requires https://github.com/smallrye/smallrye-reactive-messaging/issues/1784

[2022-01-14 14:39] radcortez commented on #22906
I can work on this.

[2022-01-14 14:54] mac-b-ferguson commented on #21275
My understanding of the context is a little sketchy, but I'll try and put together a fix and put up a PR

[2022-01-14 14:57] gwenneg commented on #22874
Can you try something like this?

[code]

[2022-01-14 15:00] geoand commented on #22902
Right, I don't think we align automatically.

[2022-01-14 15:10] famod commented on #22902
Question is: Do we want to align? If yes we should probably take Gradle into account as well. No clue what includes are applied there (/cc @glefloch).
In any case, I consider this a continuous testing enhancement, not a bug.

[2022-01-14 15:11] geoand commented on #22902
Ideally yeah, but my guess is that it's not easy to make it work all the time

[2022-01-14 15:12] sberyozkin commented on #21521
Hi @FroMage Can you please consider creating a dedicated doc (linked to from `OIDC web-app/References`) where you can show how you have configured various social providers (once `quarkus.oidc.provider=github`/etc is supported), with some extra hints ? I'll help along the way. My initial plan was to tweak various sections in the `OIDC web-app` guide which is what the well-known providers PR does, b

[2022-01-14 15:17] famod commented on #22902
I took the liberty to rescope this issue. Let's see what @stuartwdouglas thinks about this when he's back.
/cc also @aloubyansky, just in case.

@markus-seidl thanks for bringing this up!

[2022-01-14 15:17] brunoborges commented on #22887
@famod have you tried with this setting as a Maven property in the Pom?

[2022-01-14 15:20] famod commented on #22902
Btw, @markus-seidl the cont testing propery I was referring to is `quarkus.test.include-pattern`: https://quarkus.io/guides/continuous-testing#quarkus-test-dev-testing-test-config_quarkus.test.include-pattern
Together with the surefire property you should be able to align.

[2022-01-14 15:38] aloubyansky commented on #22902
I think this makes sense.

[2022-01-14 15:41] j-be commented on #22874
It works fine in my reproducer, but not in my actual code - I still get

[code]

Line 29 is `@ApplicationScoped`.

Line 56 is `return catalogueService.getCatalogueUni().onItem().transformToUni(catalogue -> {` (see below).

For completeness: I can't change `getCatalouge()` as it is used in a variety of places, and the `@CacheResult` call is actually in there - not sure if that makes a difference.

[2022-01-14 15:56] #22433 closed

[2022-01-14 15:57] gwenneg commented on #22874
Was that tested with Quarkus `2.6.2.Final`? The exception looks like something that would happen with `2.6.0.Final` but not `2.6.1.Final` or newer (we fixed something after 2.6.0).

[2022-01-14 16:09] gastaldi commented on #21196
Duplicate of #20037

[2022-01-14 16:09] #21196 closed

[2022-01-14 16:10] patriot1burke commented on #20037
Here's a good article stating why running dependent services locally *IS NOT* a good idea.

https://eng.lyft.com/scaling-productivity-on-microservices-at-lyft-part-1-a2f5d9a77813

I've run into this myself.  Developing within staging environments is pretty important.  Sometimes there are third party integrations that can only point to one testbed IP address.  Dev teams were notorious about not mai

[2022-01-14 16:11] j-be commented on #22874
Yes, my fault, still had it on `2.6.0.Final`. It works now! :partying_face:

Thank you so much for your help, I learned quite something today!

Feel free to close this issue.

[2022-01-14 16:11] gwenneg commented on #22874
You're welcome!

[2022-01-14 16:11] #22874 closed

[2022-01-14 16:11] vsevel commented on #15013
+1

[2022-01-14 16:20] aekkader opened #22909 "Run Quarkus au service ?"
### Describe the bug

How cant i run Quarkus us service in windows 10?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build to

[2022-01-14 16:49] famod commented on #22887
@brunoborges we have it in `application-dev.yaml`. It was a team decision that it's ok for everyone all like that, even though only I am using WSL, the others are running on Windows natively.

But you should be able to set it via Maven, too.

[2022-01-14 16:50] joelmarty opened #22910 "Custom ConfigSourceInterceptor makes build fail"
### Describe the bug

Adding a custom ConfigSourceInterceptor to a quarkus app makes the build fail with the following stack trace during the `generate-code` phase:
[code]

This is expected since at this point the class defined in the service loader file has not been compiled yet as discussed with @radcortez at https://quarkusio.zulipchat.com/#narrow/stream/294206-smallrye/topic/configsourceinterc

[2022-01-14 16:51] brunoborges commented on #22887
I think I tried to set it via Maven in the pom, and did not see success. That's why I'm asking you to test as well.

Granted, my project was an older Quarkus, that then I manually updated to the latest version. So maybe I missed something.

[2022-01-14 17:00] fedinskiy opened #22911 "CLI cannot remove registry from the list"
### Describe the bug

Registries added to cli cannot be removed

### Expected behavior

Attempts to remove registries from config should be successfull

### Actual behavior

Attempt to remove a registry from the list leads to error `Can only remove registries from an existing configuration. The specified config file does not exist: null`

### How to Reproduce?

1.  `quarkus registry add quarkus.ex

[2022-01-14 17:16] ebullient commented on #22911
The message is bad, but you're removing a registry that isn't present in the file?

registry.example.com isn't in the file. A registry that exists in the file, e.g.  quarkus.example.com should be removed.

[2022-01-14 17:28] fedinskiy commented on #22911
@ebullient I beg your pardon for an error in the reproducer( it's fixed now). To clarify: I cannot remove the registry that *is* present in the file.

On the other hand, it looks like the error is the same for existing and non-existing entries.

[2022-01-14 17:43] jogueber commented on #21423
Any movement on this?
I have pretty much the same problem what is the reasoning here? Not using suspending functions with reactive messaging?

[2022-01-14 17:47] kdubb commented on #21423
@jogueber I think this has been fixed. The example I posted above works; even in our test beans. I am using RabbitMQ though.

[2022-01-14 19:24] sberyozkin commented on #22082
Hi Bill @patriot1burke, if I understand it correctly we probably need to do something similar to what is suggested above, https://github.com/quarkusio/quarkus/issues/22082#issuecomment-1000271756, and then pass this `Vertx` to `OidcClientRecorder` instead of the one coming from `vertx-http`...

[2022-01-14 19:45] #22877 closed

[2022-01-14 20:47] jogueber commented on #21423
@kdubb I still had the problem but I will recheck it :)
Which version are you using?

[2022-01-14 20:48] kdubb commented on #21423
2.6.2.Final

[2022-01-14 20:58] jogueber commented on #21423
strange I'm using exactly the same and it doesn't work
which dependencies do you have on your classpath?

[2022-01-14 20:59] kdubb commented on #21423
Well remember I'm using RabbitMQ so maybe there are differences between it and Kafka.

[2022-01-14 20:59] jogueber commented on #21423
nope I'm using RabbitMq as well sorry forgot to say that

[2022-01-14 21:01] kdubb commented on #21423
Are you including `quarkus-smallrye-context-propagation`? That's the only dependency that I have that I can see altering things.

[2022-01-14 21:05] jogueber commented on #21423
Yes I'm including that one

[2022-01-14 21:20] ebullient commented on #22911
Thanks for clarifying

[2022-01-14 21:29] tbkahuna48 opened #22914 "Cosmos DB reactive client?"
Is Azure Cosmos Db  reactive client on the roadmap?

[2022-01-14 21:51] sclorng opened #22915 "Class Contraint Validator on configuration using interfaces doesn't work"
### Describe the bug

Following the work on https://github.com/quarkusio/quarkus/issues/15081 class constraint are not called but contraint on properties does.

### Expected behavior

Given

[code]

[code]

[code]

Validation should failed.

### Actual behavior

Validation pass

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_

[2022-01-14 21:54] #7884 closed

[2022-01-14 22:27] michalszynkiewicz commented on #22862
that's a cool idea

[2022-01-15 02:04] cjdxhjj commented on #22849
when i upgrade it to 2.6.2,
![image](https://user-images.githubusercontent.com/5616997/149513016-e881c413-c9e2-49f0-bfc7-3bc8bc25c7a5.png)
the custom maven repository is not working, but the browser can download it

[2022-01-15 02:05] cjdxhjj commented on #22849
on the centos, it report the quarkus plugin error,

[2022-01-15 16:55] haf-tech opened #22919 "Quarkus + Dev Services + Testcontainers not working with podman on macOS"
### Describe the bug

Usage of Dev Services in Quarkus on macOS with podman is not successful.
Either the docker daemon and cli is expected
or docker.sock is not available or accessible
or some space issues

### Expected behavior

Quarkus with Dev Services working on macOS with podman

### Actual behavior

create a SSH tunnel to the sock
[code]

export some env variables
[code]

2 possible stacktr

[2022-01-15 18:28] aekkader opened #22922 "properties overridable at runtime"
### Describe the bug

How to define properties overridable at runtime

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build too

[2022-01-15 19:20] zakhdar commented on #20846
Hello,

i just updated my project to 2.6.2.Final , i try to use RESTEasy Reactive with Kogito but i get this error , did i miss something or is a same bug ?

[code]

I have this dependency in my pom

`<dependency>
            <groupId>org.kie.kogito</groupId>
            <artifactId>kogito-quarkus</artifactId>
        </dependency>
        <dependency>
            <groupId>io.quarkus</groupId>

[2022-01-15 19:38] geoand commented on #20846
This needs a new Kogito release as well

[2022-01-15 20:46] placidetmuzo commented on #16570
same here whatever quarkus.http.root-path quarkus.servlet.context-path valuation combinaisons are.

[2022-01-16 08:46] #22911 closed

[2022-01-16 13:40] lostiniceland commented on #22184
@gsmet The Yasson team backported and improved the record support to the 1.x line and the release 1.0.11 is available on Maven Central.
https://github.com/eclipse-ee4j/yasson/pull/499#issuecomment-1012990382

I will try to override the version in our project, but I am not sure if this will work with the quarkus-extension.

[2022-01-16 13:51] gsmet commented on #22184
@lostiniceland ah cool. I'm surprised Dependabot didn't upgrade it for us. It should have.

Would you mind creating a PR with the upgrade to the BOM and we will see what CI has to say?

[2022-01-16 13:53] #22770 closed

[2022-01-16 17:02] lostiniceland commented on #22184
I am having some issue with running all tests locally (even before changing the BOM), which are probably caused by my local setup (had the same issue with Yasson due to localisation).
`[ERROR]   ConfigPropertiesTest.configProperties:99 expected: <empty> but was: <localhost.localdomain>`
Hence I pushed the PR without verifying locally and relying on the workflow.
@gsmet somebody needs to approve th

[2022-01-16 17:06] cescoffier commented on #15883
@michalszynkiewicz should we close this one as it's likely never going to be done?

[2022-01-16 17:07] cescoffier commented on #13275
Closing as it relates to an outdated Mandrel version. Please re-open if it still happens.

[2022-01-16 17:07] #13275 closed

[2022-01-16 17:08] cescoffier commented on #22561
Closing - was a question (use discussion instead of issues).

[2022-01-16 17:08] #22561 closed

[2022-01-16 17:10] cescoffier commented on #21432
Closing as @tsegismont has done all the work (and a BIG thank you for that @tsegismont !)

[2022-01-16 17:10] #21432 closed

[2022-01-16 17:11] #21424 closed

[2022-01-16 17:26] famod commented on #22836
Good news: `-Prelocations` seems to fix it.

I don't have time to check whether we can fix the root cause in the descriptor generation, so we have two options AFAICS:
- `-Prelocations` the default
- or, in the script, don't ask the user if the entire projects is already built and always build with `-Prelocations`

I suppose we want to go with option two?

[2022-01-16 17:33] famod commented on #22836
I found one difference with `-Prelocations` when compared with the result you get with a clean local repo and build withwout `-Prelocations`:
[code]
This exists after building `-Prelocations` with those old extensions still in local repo.

[2022-01-16 17:43] famod commented on #22887
Right, just setting property `<quarkus.http.host>0.0.0.0</quarkus.http.host>` doesn't work, haven't checked why.

But you can either set property `<jvm.args>-Dquarkus.http.host=0.0.0.0</jvm.args>` or set `<jvmArgs>-Dquarkus.http.host=0.0.0.0</jvmArgs>` in the configuration section of the `quarkus-maven-plugin`.

[2022-01-16 17:45] kostacasa commented on #9123
We are observing this issue during database maintenance. After the DNS switch I am expecting quarkus to detect all of the "dead" connections and re-establish them automatically after the first acquisition timeout. Instead, all the quarkus based services remain permanently dead unless I restart them one by one. Building some kind of an automated system to restart all services after a DB server upgr

[2022-01-16 20:07] famod commented on #22836
It seems we're missing a relocation for `quarkus-amazon-common`. I'll add that to my PR.

[2022-01-16 20:10] gsmet commented on #22836
@famod it's not missing. I don't think we need one given it's not a user-exposed extension.

Let's not make things just to fix a totally unrelated issue.

[2022-01-16 20:12] famod commented on #22836
@gsmet  It's not unrelated. If `-Prelocations` still adds it to the descriptor, then the script will add it to the `pom.xml` and we again have a deviation.

[2022-01-16 20:30] famod commented on #22836
The alternative would be to filter out that one artifact in the script (which I find a bit brittle, but it's doable).
This would _not_ prevent it from ending up in the descriptor, though, which means that locally even with `-Prelocations` you'd need to purge your local repo to have a consistent descriptor. (One could argue that this will be needed anyway when we start to remove relocations again..

[2022-01-16 20:30] gsmet commented on #22836
It's unrelated because you're trying to overcome an issue with a script by adding some stuff that shouldn't be related. You basically need relocations to say "this thing is not an extension anymore". That shouldn't be necessary.

What I fail to see is why we are somehow getting all the extensions that are in the local Maven repo? Why isn't it coming from what's in the tree or are at least filtered

[2022-01-16 20:32] famod commented on #22836
That's what I meant with

which has nothing to do with the script in the first place. 🙂

[2022-01-16 23:35] #22184 closed

[2022-01-17 01:10] stuartwdouglas commented on #22833
I could not reproduce this even with 4k entities. What is filling up the const pool in this case?

[2022-01-17 02:49] thienldd opened #22931 "Qute template extensions throw ambiguous exception on property not found"
### Describe the bug

"{time:format(input.birthday, 'uuuu')}" throw IllegalStateException without any meaningful message in case the "birthday" property does not exist.

### Expected behavior

should convey meaningful message similar to what {input.birthday} will throw:

`io.quarkus.qute.TemplateException: Property "birthday" not found on the base object "java.util.ImmutableCollections$Map1" in ex

[2022-01-17 03:14] stuartwdouglas commented on #22833
https://github.com/quarkusio/quarkus/pull/22932 may help here, but I need to make some recorder improvements to fix this properly.

[2022-01-17 03:25] stuartwdouglas commented on #22902
If we were going to do this it would need to be passed in from Maven I think, as we don't want to apply maven rules to Gradle projects.

Maybe it is fine to just have this documented somwhere, as you can always manually specify the include pattern if it happens to be causing you issues.

[2022-01-17 04:06] stuartwdouglas commented on #3568
There is already `javax.ws.rs.OPTIONS`. It sounds like all we need is the ability to stop the filter handling options requests?

[2022-01-17 05:27] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1706365846

[2022-01-17 06:11] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1706365479

[2022-01-17 06:16] geoand commented on #22919
@galderz IIRC, you have used podman with testcontainers, right?

[2022-01-17 06:18] geoand commented on #22909
This kind of question is best suited from StackOverflow

[2022-01-17 06:18] #22909 closed

[2022-01-17 06:20] geoand commented on #22862
Definitely

[2022-01-17 06:32] galderz opened #22933 "Introduce java version properties in documentation"
### Description

Introduce `java-major-version` property in documentation. To abstract away the java version recommended for running guides.

Other java version properties might needed, e.g. lower bound, if multiple majors are supported.

### Implementation ideas

_No response_

[2022-01-17 06:55] brunoborges commented on #22887
Isn't this because the Maven plugin is not passing along Maven properties to Quarkus as system properties?

This sounds like a quite useful enhancement.

[2022-01-17 07:10] geoand commented on #22887
Quarkus does read properties from Maven, however it only applies them to build time configuration, i.e. configuration that cannot change at runtime - which is not the case for `quarkus.http.host`.

[2022-01-17 07:19] pschmidt88 opened #22934 "Healthcheck not working with MongoDB (Panache)"
### Describe the bug

It seems that the healthcheck is not working correctly with the mongodb-client and mongodb-panache(-kotlin) extension.

Given wrong credentials/wrong connection string the healthcheck is still UP until some action, endpoint, etc tries to actively access the database. That action will fail and only then the healthcheck will switch to "DOWN".

### Expected behavior

When queryi

[2022-01-17 07:42] joggeli34 commented on #22824
For `@Scheduled(every = "10s", jitter = "1000")` there could be multiple solutions:
1. At create-time, an interval is fixed with `interval +- jitter`
2. For each new interval, the interval is adjusted to `interval +- jitter`
3. The interval is used for the base frequency, and each execution is adjusted by a jitter.

I think, 2. would be the simplest to describe. But actually, I don't mind exactly

[2022-01-17 08:01] fulus06 commented on #22723
相同的问题，我分开安装就成功了。

mac mini, m1, v12.0.1，
java -version
openjdk version "16.0.2" 2021-07-20
OpenJDK Runtime Environment GraalVM CE 21.2.0 (build 16.0.2+7-jvmci-21.2-b08)
OpenJDK 64-Bit Server VM GraalVM CE 21.2.0 (build 16.0.2+7-jvmci-21.2-b08, mixed mode, sharing)

1、install JBang
https://www.jbang.dev/download/
![image](https://user-images.githubusercontent.com/12890684/149729858-d54423cd-8827-4f

[2022-01-17 08:18] loicmathieu commented on #22934
@pschmidt88 unfortunatly, this is by design.

We instantiate MongoDB client lazilly, so when the rediness check is done but no use of the MongoDB client has been done yet, the readiness check will not find any MongoDB client instances inside our CDI container and respond OK.

The MongoDB health check is a readiness check so it's compatible with the usage of a readiness check (if it was a liveness

[2022-01-17 08:19] evacchi commented on #20846
I think this is fixed in `main` and should be available on Kogito 1.16 /cc @tkobayas @radtriste

[2022-01-17 08:22] geoand commented on #22934
@loicmathieu maybe we can provide some config option to force eager initialization?

[2022-01-17 08:32] zakkak commented on #16631
It's been a while, so here is an update :)

Currently the easiest way to monitor things is by inspecting [Mandrel's Nightly CI runs](https://github.com/graalvm/mandrel/actions/workflows/nightly.yml).

At the moment Mandrel's public Jenkins instance runs about the same tests as Mandrel's Nightly CI runs.

There are now Mandrel github jobs for testing these (and more) nightly.

This is still an issu

[2022-01-17 08:47] loicmathieu commented on #22934
@geoand we discussed it and dismissed it at the time we move to lazy init, we can revisit it but it will make things a little harder.

[2022-01-17 08:48] geoand commented on #22934
@loicmathieu I am thinking that if we provide this sort of configuration, it could be a build time option that simply results in generating code with the `StartupEvent` and manual ping of the client that you mention.

[2022-01-17 08:51] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1706381462

[2022-01-17 08:55] radtriste commented on #20846
confirmed it should be in 1.16: https://github.com/kiegroup/kogito-runtimes/commits/1.16.x (look for KOGITO-6131)

[2022-01-17 09:06] loicmathieu commented on #22934
@geoand there can be multiple clients, both reactive and sync, so it may be a little tricky.
And Agroal also is lazy so I prefere to keep things consistent, with Quarkus: database clients are lazily produced, that's all.

And it's compatible with the fact that we only provide readiness probes and not liveness probes (so a container on k8s will not be restarted if a connection to a database fails).

[2022-01-17 09:29] geoand opened #22936 "Simplify exception handling for REST Client"
### Description

Currently the way the to handle exception in REST Client is to register a Provider that implements `ResponseExceptionMapper`.

Although this is very powerful when a user needs to use CDI dependencies for example, it's overly tedious for simple cases where we simply want to throw some sort of exception based on the response.

An idea would be to introduce an annotation named `@Clie

[2022-01-17 09:30] aloubyansky commented on #22902
I think we can document it for now. OTOH, we do have ApplicationModel which is a kind of bridge to the underlying build tool and is used to collect build system-specific data which is then used to bootstrap the app in dev, test and prod modes. So it could be supported, imo.

[2022-01-17 09:43] michalszynkiewicz commented on #22936
Nothing in the spec I'm aware of. As I wrote on the chat, my first impression on the idea is very good :)

[2022-01-17 09:50] sberyozkin commented on #22082
Hi @patriot1burke Stuart just fixed it, so AWS Lambda and OIDC Client are friends :-), thanks for analyzing the problem

[2022-01-17 10:09] FroMage commented on #22936
Looks interesting.

- What's the point of returning the exception type? Something is going to throw it, no? So why not just throw it?
- Contrary to the server `ExceptionMapper` which has a sort of "filter" in the form of the exception type it maps, a bit like `catch` in Java, these ones are all going to be completely generic because they map a `Response` which has no subtypes. I suppose it could b

[2022-01-17 10:13] geoand commented on #22936
Right, I was wondering the same, but I think returning allows for more flexibility like you have in your example.

I think this second option makes more sense

[2022-01-17 10:17] FroMage commented on #22936
Well, you could write it as such too:

[code]

Yeah, we can definitely start with chaining them depending on their outcome (return or throw, whatever). And extend it later if need be.

[2022-01-17 10:43] mkouba commented on #22824
Hm, this one would be probably the easiest to implement correctly, OTOH the option 2. would be more understandable... (and option 3 is functionally equivalent to option 2)

Alternatively, we could support the jitter directly in the `@Scheduled#every()`, e.g. via the plus–minus sign: `@Scheduled(every = "10s ±1")`.

[2022-01-17 10:54] j-be commented on #21173
@phillip-kruger Quarkus `2.6.2.Final` was a further improvement, but still not quite there. If there is an abstract class between `interface` and implementation it still doesn't work correctly.

Consider:

[code]

and

[code]

Rest as before.

This results in

[code]

i.e., no `tags`.

I updated https://github.com/j-be/quarkus-21173 to reflect the issue.

[2022-01-17 11:06] sberyozkin commented on #19634
@argenstijn, sorry for a delay - I've noticed your comment only today.

Makes sense

[2022-01-17 11:11] Dieken commented on #20654
@gsmet,  Verified it works for me, thank you very much!

[2022-01-17 11:25] famod commented on #22887
Ah, right! ⬆️ 👍

So it seems we should close this issue.
Or can we improve something on the documentation side of things?

[2022-01-17 11:28] loicmathieu commented on #22934
Not sure how the health check will works on Agroal, see https://github.com/quarkusio/quarkus/blob/main/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/health/DataSourceHealthCheck.java#L29

This needs to be tested ...

[2022-01-17 11:33] geoand commented on #22887
Yeah, I think we can likely improve on that. Or maybe even try to detect if we are running in WSL (not sure that's possible) and display a warning message if `quarkus.http.host` is set to `localhost`?

[2022-01-17 11:39] famod commented on #22887
Not sure if a warning is too invasive. Nobody stops you from running a desktop in WSL, with a browser.
So if we choose to log something it should be INFO instead.

But logging is actually better than extending the docs, RTFM you know. 😉

[2022-01-17 11:56] gsmet commented on #20654
@Dieken thanks for taking the time to check. It's going to be part of the upcoming 2.7 release.

[2022-01-17 12:09] mkouba commented on #19555
FTR the limitations of Qute standalone are described here: https://quarkus.io/guides/qute-reference#standalone

[2022-01-17 12:27] andlinger commented on #22808
Is there anything I can do to help here?

[2022-01-17 12:36] ezYakaEagle442 commented on #22723
[code]

[code]

@maxandersen so Jbang works but it is disapointing not to have quarkus setup running fine at first try following the docs

[2022-01-17 12:46] gsmet commented on #22808
If you could assemble a small reproducer, that would be helpful.

[2022-01-17 12:53] gsmet commented on #20749
@famod probably related to your current work?

[2022-01-17 12:57] gsmet commented on #22934
Could someone describe how it behaves exactly?

Is it not working because there is no usage at all of the client in the code? Or we have this issue even if there is some usage of the client in the code but it hasn't been called yet?

Because I could see how the former could be a desirable behavior but certainly not the latter.

[2022-01-17 13:01] loicmathieu commented on #22934
@gsmet as far as I understand, the first readiness check is OK because the application code didn't use the MongoDB client yet so there is no MongoDB client bean inside the CDI container.

After a call to the application, the MongoDB client is build.

Then a new call to the readiness check is NOK as the connection to MongoDB cannot be established.

[2022-01-17 13:04] pschmidt88 commented on #22934
@gsmet As @loicmathieu already pointed out - there is a client (or in my case the panache repository), but it was not used yet.

[2022-01-17 13:17] mkouba commented on #13106
FTR, the operators are actually implemented as "virtual methods" that can be used with infix notation in output expressions, so `bool ? expr1 : expr2` can be translated to `bool.ifTruthy(expr1).or(expr2)` and this form works everywhere.

[2022-01-17 13:51] Ladicek commented on #21860
I took a look and observe the same behavior as @TomasHofman: when I explicitly configure `test-client/mp-rest/connectTimeout` and `test-client/mp-rest/readTimeout`, the test works as expected.

Also, the reproducer here uses RESTEasy classic. I tried using RESTEasy Reactive and with that, explicitly configuring the additional timeouts is not required. (RestClient Reactive probably reads the `@Time

[2022-01-17 13:54] #22695 closed

[2022-01-17 14:21] gsmet commented on #21694
https://github.com/quarkusio/quarkus/pull/22938 will fix it once and for all.

[2022-01-17 14:36] andlinger commented on #22808
Here you go: https://github.com/andlinger/quarkus-native-locales

The [TranslationResource](https://github.com/andlinger/quarkus-native-locales/blob/main/quarkus/src/main/java/io/i15s/quarkus/TranslationResource.java) resource http://localhost:8080/translation returns the following in JVM mode:

[code]

Result in native mode:
[code]

[2022-01-17 14:38] gsmet commented on #22808
@zakkak @Karm could one of you have a look at the reproducer?

[2022-01-17 14:48] famod commented on #20749
It might be related, need to check.

@Legion2 can you provide a reproducer, please? This would speed things up. Thanks!

[2022-01-17 15:05] patriot1burke commented on #22082
sigh....

[2022-01-17 15:05] patriot1burke commented on #22082
was just about to submit a PR.

[2022-01-17 15:51] fernandobalieiro opened #22941 "Build fails when parsing an endpoint that has a bean annotated with @BeanParam when the target object is inheriting its fields from a parent class"
### Describe the bug

When using version **2.6.2.Final**, the build fails when parsing an endpoint that has a bean annotated with @BeanParam, if the bean is inheriting its fields from a parent class:

[code]

### Expected behavior

Project should compile and run regardless of inheritance on the annotated bean.

### Actual behavior

Project's build fails and no artifact is generated.

### How to Re

[2022-01-17 16:13] mkouba opened #22943 "Dev UI - add a page that lists all dev services with all important details"
### Description

A typical example could be a _connection information_ for the DB instance, e.g. host, port, username, password and dbname for a postgresql instance.

### Implementation ideas

_No response_

[2022-01-17 16:18] Ladicek commented on #22943
I can see that, for example, for a database, it would list separate host and port, username, password, database name, and it would also show a JDBC URL. Bonus points for showing directly how to invoke `psql`. I guess the same would be possible for all databases.

For other kinds of dev services, similar thing should be possible. Show the base information (host and port, username/password if applic

[2022-01-17 16:34] Karm commented on #22808
I will take a look as I have some Language setting test and this should be a part of it...

[2022-01-17 16:41] jogueber opened #22945 "Kotlin reactive messaging"
### Describe the bug

When I write the following code with the `quarkus-smallrye-reactive-messaging-rabbitmq` :
[code]
I get the following exception:
[code]

### Expected behavior

The handler should process the message in seperate coroutine!

### Actual behavior

_No response_

### How to Reproduce?

Create an applicaiton with kotlin+reactive-messaging-rabbit mq
(version 2.6.2)

1. define input a

[2022-01-17 16:43] cescoffier commented on #22945
I believe it's a duplicate of #21423.

[2022-01-17 16:44] cescoffier commented on #22945
My guess is that the client does not go back on the Vert.x context.

[2022-01-17 16:45] jogueber commented on #22945
okay is there some way to work around the issue or rather not?

[2022-01-17 18:51] #22764 closed

[2022-01-17 20:03] cescoffier commented on #22945
It should be possible with Vertx DB clients or Hibernate Reactive.

[2022-01-17 20:15] iabughosh opened #22948 "Zero down time/rolling updates with Quarkus"
### Describe the bug

I have a service which runs on Quarkus 2.6.0.Final. My goal here is to achieve zero down time deployment using rolling update strategy. My service has CORS filter and micro-profile health plugin enabled and when I update my deployment image to a newer version while there is an active user, browser logs give the below message :

    "Cross-Origin Request Blocked: The Same Orig

[2022-01-17 20:24] kucharzyk opened #22949 "ExceptionMapper should support superclasses"
### Describe the bug

At the moment ExceptionMapper support only specific exceptions like this:

[code]

UnauthorizedException extends SecurityException but the following code is not working

[code]

### Expected behavior

ExceptionMapper should support superclasses of the specific exception.
It should even work with Throwable.

### Actual behavior

_No response_

### How to Reproduce?

_No respon

[2022-01-17 20:24] kucharzyk commented on #22949
@michalszynkiewicz

[2022-01-17 22:05] stuartwdouglas commented on #22790
This has been fixed upstream in that both of them now capture the full output. If you only want the STDOUT bit then you need to set the log level to WARN to that INFO logs are not printed.

[2022-01-17 22:05] #22790 closed

[2022-01-18 00:15] famod opened #22955 "Change runtime properties in continuous testing"
### Description

So I was playing around with `quarkus.http.limits.max-body-size` (which is a runtime property) and I thought it would be cool to change the value without having to stop and re-run `quarkus:test`.

### Implementation ideas

Add command to set runtime properties?

[2022-01-18 01:51] stuartwdouglas commented on #22955
This should be possible to change in continuous testing, it can't be changed in dev mode though as the HTTP connector is not restarted.

[2022-01-18 03:16] brunoborges commented on #22887
Isn't it better if you just go with the expected behavior of the developer?

If the setting is in the pom, use it. If it is inside WSL, deploy to 0.0.0.0 by default. Document the default behavior.

[2022-01-18 05:20] uPagge commented on #22230
@Sanne I tried this but it didn't help

[2022-01-18 05:25] kdubb commented on #22945
@jogueber Does a simple incoming, like the following, work for you?

[code]

I know we were discussing this in the Kafka issue. The above works for me in 2.6.2.Final

[2022-01-18 05:28] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1711116807

[2022-01-18 06:06] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1711116444

[2022-01-18 06:07] geoand commented on #22887
https://github.com/quarkusio/quarkus/pull/22956 makes Quarkus automatically lister on `0.0.0.0` for WSL environments.
@rsvoboda would you be able to test it please?

Thanks

[2022-01-18 06:44] cpsinghal opened #22958 "Unable to marshall request to JSON"
### Describe the bug

Quarkus 2.6.x quarkus-amazon-* extension brining software.amazon.awssdk 2.17.100 version,
that is throwing
`software.amazon.awssdk.core.exception.SdkClientException: Unable to marshall request to JSON: Can not write a field name, expecting a value
`
brining down software.amazon.awssdk:aws-json-protocol version to lower seems to fix the issue
[code]

some other developers of a

[2022-01-18 06:50] #22910 closed

[2022-01-18 06:51] #22931 closed

[2022-01-18 07:09] geoand commented on #22936
I can think of two ways to deal with this.

1. We make it a build time error.
2. We add a `priority` field to `@ClientExceptionMapper`  which will then be used to determine the proper exception mapper using the normal semantics.

WDYT?

[2022-01-18 07:37] geoand commented on #22936
Also I just thought of something else:

Does not not make sense to make the method a `static` method on the interface instead of a default method? So something like:

[code]

[2022-01-18 07:56] agelbess opened #22959 "io.vertx.core.http.HttpServerRequest.HttpServerRequest not initialized if called after a @RestClient invocation"
### Describe the bug

A exception is thrown if the HttpServerRequest is called after the @RestClient invocation.

javax.enterprise.inject.IllegalProductException: Normal scoped producer method may not return null: io.quarkus.vertx.http.runtime.CurrentVertxRequest.getCu
rrent()

https://github.com/agelbess/quarkus-bug-http-headers

### Expected behavior

Should not be thrown

### Actual behavior

A

[2022-01-18 07:57] famod commented on #22887
IIRC, a long time ago there was a change to not bind to 0.0.0.0 because of security reasons?
Anyway, I think it's alright to use it by default like that.

[2022-01-18 08:18] geoand commented on #22887
Yeah, this is only for WSL

[2022-01-18 08:36] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1711132166

[2022-01-18 08:42] pipinet opened #22961 "Support event handle after/before transactional commited"
### Description

Like Spring @TransactionalEventListener

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/transaction/event/TransactionalEventListener.html

### Implementation ideas

_No response_

[2022-01-18 08:44] nian8 opened #22962 "Qute: with i18n feature in app can not run in native-image mode"
### Describe the bug

MessageBundles.DEFAULT_LOCALE is different from MessageBundle.DEFAULT_LOCALE .
so when project with qute message bundle feature can not run in native-image mode.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### Gra

[2022-01-18 09:01] Sgitario opened #22963 "Maven: Resteasy Classic is added even when reactive extension is selected"
### Describe the bug

When creating a Quarkus application using the Maven plugin:

[code]

Note that we only wanted the `oidc-client-reactive-filter` extension is set.

However, the Maven plugin also addes the resteasy classic extension:

[code]

And making the application fails to start with:

[code]

As a workaround, the Maven plugin could offer a property to disable the Resteasy Classic additio

[2022-01-18 09:29] #20783 closed

[2022-01-18 10:00] pjgg opened #22964 "Jbang build on github actions fails with an HTTP status 409"
### Describe the bug

Quarkus version: `Quarkus-999-SNAPSHOT`

Jbang build is failing on Github actions with the following error:

[code]

GH actions log: https://github.com/quarkus-qe/quarkus-test-suite/runs/4846688325?check_suite_focus=true#step:9:20169

Reproducer:
https://github.com/pjgg/quarkus-test-suite/tree/feat/Quarkus-cli-gradle-jbang
[code]

**Note:** be sure that `QuarkusCliCreateJvmAp

[2022-01-18 10:08] radcortez commented on #22936
Probably use the priority, since it is already used with providers, so it is consistent.

Maybe a `static` method could offer additional flexibility if you want to call it directly for some reason.

[2022-01-18 10:48] geoand commented on #22936
https://github.com/quarkusio/quarkus/pull/22965 should take care of it.

[2022-01-18 11:14] Sgitario opened #22966 "Hibernate Reactive: Fails creating an entity with ManyToOne relationship and optional = false"
### Describe the bug

Having the next entity:

[code]

And:

[code]

Given these entities already stored in database:

[code]

When trying to update a parent entity with Hibernate reactive, for example, using a REST endpoint:

[code]

The above fails with `java.lang.UnsupportedOperationException: reactive persistence context`.

After digging into this issue, I found that the problem is related to

[2022-01-18 11:17] gavinking commented on #22966
@DavideD This is quite likely to be a bug in Hibernate Reactive, we need to open an issue, and try to reproduce it without Quarkus or Panache.

[2022-01-18 11:18] DavideD commented on #22966
Yes, it is the same bug: https://github.com/hibernate/hibernate-reactive/issues/1077

[2022-01-18 11:19] gavinking commented on #22966
Ahah! OK, good.

[2022-01-18 11:41] jamesnetherton opened #22967 "`java.net.BindException` on startup can result in spurious log messages"
### Describe the bug

I was playing with some Camel Quarkus code and was wanting to force an error scenario. So I configured a Netty TCP route to listen on port 8000, which I had already bound to something else. The application correctly fails on startup with `java.net.BindException`. But the accompanying log messages are confusing.

[code]

In this case, port 8080 is not in use by another process

[2022-01-18 12:02] maxandersen commented on #22964
What version of jbang are You running here?

[2022-01-18 12:11] rsvoboda commented on #22887
ok, booting to windows

[2022-01-18 13:04] mathias-hess opened #22968 "Unhandled VertxException when client closes http connection"
### Describe the bug

Whenever a http client closes the connection to a quarkus service, while quarkus writes the response object, an io.vertx.core.VertxException "Connection was closed" is thrown and not handled at all.

### Expected behavior

I expect quarkus to handle the exception that occurs when a http client closes the http connection, while quarkus writes the response without logging it on

[2022-01-18 13:22] FroMage commented on #13106
Sure, but that's a workaround.

[2022-01-18 13:40] mkouba commented on #22962
Hm, I cannot see a link between the `MessageBundles.DEFAULT_LOCALE` and `MessageBundle.DEFAULT_LOCALE`. Could you pls provide more information? Ideally a small reproducer app, but at least a more verbose error description...

[2022-01-18 13:43] rsvoboda commented on #22887
PR approved, fresh Quarkus build on Windows machine took ages :/

[2022-01-18 13:45] FroMage opened #22969 "OIDC: too short a secret breaks the self-created JWT process"
### Describe the bug

For Github and Facebook we have to create our own JWT token because they don't include an ID Token. If the secret is too short like `SECRET` then I get the following exception during that token creation:

[code]

I am not sure we should really be throwing if the secret is short, unless there's a real requirement of OIDC to have long secrets.

### Expected behavior

_No respon

[2022-01-18 13:49] maxandersen opened #22970 "warning about missing json when just using resteasy or resteasy-reactive"
### Describe the bug

when just using resteasy or resteasy-classic you should get a warning  that you are missing json support according to this code:

https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-classic/resteasy-common/deployment/src/main/java/io/quarkus/resteasy/common/deployment/ResteasyCommonProcessor.java#L220

But I get nothing. neither when using maven,gradle or jbang

[2022-01-18 13:50] FroMage opened #22971 "Authentication: cannot map `AuthenticationFailedException`"
### Describe the bug

`HttpSecurityRecorder` uses this exception mapper:

[code]

Which means that some exceptions are handled directly, and can't be mapped by RESTEasy Reactive, even though when using non-proactive authentication, RR still comes later into play and will try to map the exception and write it out and will cause an ignored exception because the response has already been written.

No

[2022-01-18 13:54] geoand commented on #22887
Thanks!

[2022-01-18 13:54] FroMage commented on #21521
That is my plan to incubate in Renarde, and we'll copy/adapt/move it when done.

[2022-01-18 13:58] #22887 closed

[2022-01-18 13:58] famod commented on #22887
Better build in WSL dist whenever you can.

[2022-01-18 14:05] mschorsch commented on #22968
This bug was fixed in Quarkus 2.5.2.Final (see https://github.com/quarkusio/quarkus/issues/21762 and https://github.com/quarkusio/quarkus/pull/21942).

[2022-01-18 14:12] FroMage commented on #22213
pcap would be nice, but a text file generated per request would be much simpler to use: `target/logs/{datetime}-{server/host-if-client}-{method}-{uri}.log` containing the dumped request/response with headers, like dev console does in browsers.
I mean, both solutions would be great:

[code]

[2022-01-18 14:21] FroMage commented on #22408
Lemme create a test.

[2022-01-18 14:29] pdolezal opened #22973 "JSON response may be truncated at 8192 bytes boundary"
### Describe the bug

A JAX-RS endpoint returns a `Map` instance to be serialized to JSON and returned. In some cases (I was not able to find the actual cause) the response returned to the client is truncated and does not contain the full JSON response.

The code behaves correctly with Quarkus 2.4.1, but when built with a newer version (tried 2.5.1 and 2.6.2), it produces the truncated response. I

[2022-01-18 14:35] geoand commented on #22967
This isn't actually an error, because what Quarkus is reporting is that the conflict on the HTTP "server"

[2022-01-18 14:37] j-be opened #22974 "Allow to set OIDC tenant using annotations"
### Description

Lets assume one has a big API in a single Quarkus service (i.e. `quarkus.oidc.application-type=service`), but different APIs are for a different group of people. Like: this JAX-RS annotated class provides endpoints solely for HR, this other class solely for finances, this class is solely for engineering, and so on.

Now, usually one would solve that using roles, but a problem aris

[2022-01-18 14:41] jonathanvila opened #22975 "Document the customization of the minikube.yml and openshift.yaml"
### Describe the bug

With the target=kubernetes, if we put a kubernetes.yml inside src/main/kubernetes , in the generation process this contents will be added to the kubernetes.yml inside target/kubernetes along with the auto generated resources.

In the documentation is not said that the file to customize this for minikube needs to be minikube.yml, and the same for openshift that needs to be ope

[2022-01-18 14:41] hguerrero opened #22976 "AMQP Dev Services - Add the option to use other compatible images"
### Description

Currently, only the artemiscloud images are available to deploy the amqp broker container image. However, other compatible images like Red Hat AMQ Broker (based on ActiveMQ Artemis) can be used for dev purposes. But, there if you set this image name, you get an error that is not supported.

### Implementation ideas

If I understand correctly, the container images valid for dev ser

[2022-01-18 14:43] rsvoboda commented on #22843
@jponge `collectItems` is not covered in https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.7#mutiny

[2022-01-18 14:59] cescoffier commented on #22976
@hguerrero is the other image really compatible? (very same command to start and file structure)

[2022-01-18 14:59] jamesnetherton commented on #22967
If the error message states `Port 8080 seems to be in use by another process` when it clearly isn't. How is that not incorrect / misleading?

[2022-01-18 15:27] rsvoboda commented on #22887
I had my Windows machine with almost nothing in `.m2/repository/` so the download of artifacts took quite a long time.
And I was building in Windows, but I realized that the local maven repo is different in WSL and I miss `999-SNAPSHOT` artifacts :) I got through that using `-Dmaven.repo.local=`. Yeah, it can be tricky to switch between Windows cmd/powershell and WSL ...

[2022-01-18 15:37] #22696 closed

[2022-01-18 15:49] pjgg commented on #22964
[code]

[2022-01-18 15:54] geoand commented on #22970
https://github.com/quarkusio/quarkus/pull/22980 introduces the warning for RESTEasy Reactive

[2022-01-18 16:08] joern-spire commented on #7293
The way this works can be surprising because non-annotated fields are included by default.

`
public class User {
  @JsonView(PublicView.class)
  public String id;
  @JsonView(PublicView.class)
  public String name;
  public String comment;
}
`
Since comment is not annotated with e.g. @JsonView(PrivateView.class) it will be included. There is a feature DEFAULT_VIEW_INCLUSION that can be disabled t

[2022-01-18 16:41] #22862 closed

[2022-01-18 17:00] gsmet opened #22981 "Project generation - Index page - Extension list incomplete"
### Description

In https://github.com/quarkusio/quarkus/pull/21233/files, we stumbled upon the fact that only extensions with Codestarts were somehow listed.

Typically, when you add `-Dextensions="resteasy,resteasy-jackson,hibernate-validator"`, you only get `RESTEasy JAX-RS` listed.

It's a bit of a shame because the links to the guides could be interesting, even if there's no codestart provide

[2022-01-18 17:05] sberyozkin commented on #22974
@j-be I think your approach is the simplest; with `Cache` interceptors, since the annotation value is non-binding, they iterate over all the matching annotations. The custom interceptor you have typed is straightforward, so for now I believe we should just tweak `quarkus-oidc` a bit and doc how to write such an interrceptor

[2022-01-18 17:06] AmsterdamFilho opened #22982 "Deployment class path not built for custom source sets in Gradle"
### Describe the bug

When a new source set is created, for example, for integration tests, quarkus is not building the class path correctly.

Quarkus only builds the class path for implementation and testImplementation configurations.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

#

[2022-01-18 17:36] coiouhkc opened #22985 "[Flyway] Option to configure flyway.batch"
### Description

See https://flywaydb.org/documentation/configuration/parameters/batch, https://quarkus.io/guides/all-config does not seem to list this option.

### Implementation ideas

_No response_

[2022-01-18 17:39] gsmet commented on #22985
@coiouhkc looks like a good opportunity to make your first PR. You have an example here: https://github.com/quarkusio/quarkus/pull/22957 .

[2022-01-18 17:50] gastaldi commented on #22985
Bonus points if you could also provide a test case with this new feature 😉

[2022-01-18 17:54] coiouhkc commented on #22985
You're a funny guy, mr. @gastaldi (https://memegenerator.net/instance/61977554/goodfellas-laugh-youre-a-funny-guy) :D

[2022-01-18 18:04] coiouhkc commented on #22985
https://github.com/quarkusio/quarkus/pull/22986

[2022-01-18 18:13] #19682 closed

[2022-01-18 18:25] sberyozkin commented on #22477
Hi @lthasle I've finally found the time to add a test, please see #22987. It works fine. (I tested the default filter as well separately)

The only significant difference between your code and the test which I see is that you inject the client (and the factory) directly into `Runnable` while in the test, Runnable uses the client injected into the endpoint (please try something similar as well).
If

[2022-01-18 18:26] brunobat commented on #22862
This is ok

[2022-01-18 19:02] gastaldi commented on #22985
It looks good. About the test, I was referring to something like it was done in https://github.com/quarkusio/quarkus/commit/180e018b3a3ba1d47c66135ecc0c2f7a07853c20

[2022-01-18 19:06] coiouhkc commented on #22985
Ok, let me check. I was thinking you're requesting to test the batch feature ;)

[2022-01-18 19:09] brunoborges commented on #22887
Any tip on how to configure `<quarkus.http.host>0.0.0.0</quarkus.http.host>` in the `pom.xml`? Maybe in the quarkus plugin?

[2022-01-18 19:10] gastaldi commented on #22985
Sorry for the confusion :) This is just to make sure that the code you wrote (although trivial) is test-covered 👍🏻

[2022-01-18 19:16] gastaldi commented on #22985
Oh-oh, it seems like this is a Flyway Teams only feature, which is not supported in the Quarkus Extension: https://flywaydb.org/documentation/configuration/parameters/batch

[2022-01-18 19:18] coiouhkc commented on #22985
Oops, you're right.. :(

[2022-01-18 19:18] coiouhkc commented on #22985
Let's close it then.

[2022-01-18 19:22] gastaldi commented on #22985
Closing as the Quarkus extension does not support Flyway Team

[2022-01-18 19:22] #22985 closed

[2022-01-18 19:28] geoand commented on #22887
Something like:

[code]

should work, although I haven't tried it

[2022-01-18 19:51] famod commented on #22887
Or like I have posted 2 days ago: https://github.com/quarkusio/quarkus/issues/22887#issuecomment-1013920452

[2022-01-18 20:46] celsomarques opened #22991 "ScramLoginModule failed when using env vars"
### Describe the bug

When you use **ScramLoginModule** you get the following error:

[code]

config:

[code]

ENV:

[code]

I tried different ways in order to get value setted properly inside app, as follows:

[code]

Using PlainLoginModule env vars was set properly as expected.

I tried to create Kafka cluster with SASL_SSL to made your life easy to reproduce this issue but I was not able to do

[2022-01-18 20:51] #20521 closed

[2022-01-18 20:53] glefloch commented on #12889
@aloubyansky, I was thinking of collecting those attributes directly from the `jar` task or from the `maven-jar-plugin`. Then in the `quarkusBuild` task / `Build` mojo, leverage the `quarkus.package.manifest.manifest-sections` property and set that in the

[code]

WDYT of that?

[2022-01-18 21:25] #22936 closed

[2022-01-18 21:28] #18103 closed

[2022-01-18 21:37] aloubyansky commented on #12889
That could work. Be careful not to ignore `quarkus.package.manifest.manifest-sections` defined in the application.properties (if contains one).

[2022-01-18 21:38] gsmet commented on #12889
But aren't we bypassing the maven-jar-plugin entirely? If so I don't think it would make sense to configure the manifest entries there.

Note that I might have missed something obvious to both of you so be patient with me :).

[2022-01-18 21:48] #22515 closed

[2022-01-18 21:50] aloubyansky commented on #12889
Yes, we are. Perhaps, it'd be a better option to copy the relevant config to the `quarkus-maven-plugin`.

[2022-01-18 21:52] gsmet commented on #12889
Yes, my thought exactly.

[2022-01-18 22:27] sberyozkin commented on #22969
See also https://datatracker.ietf.org/doc/html/rfc7518#section-3.2, and specifically `A key of the same size as the hash output (for instance, 256 bits for  "HS256") or larger MUST be used with this algorithm.` etc

[2022-01-18 22:31] evanchooly commented on #21428
Has anything come of this?  what's the problem with using `runBlocking {}` inside your scheduled task?

[2022-01-18 23:03] famod commented on #22844
Strange, `Log.errorv("Hello {0}!", "World");` works.

/cc @Ladicek

PS: This also happens with current `main`.

[2022-01-19 01:04] nian8 commented on #22962
[code]

[code]

later, i will produce a small app, and get more error info.

[2022-01-19 01:43] glefloch commented on #12889
Ok I was thinking of it this way as we do something similar for compiler args, but in this case this is not used, I will add those property directly to plugins :)

[2022-01-19 01:52] glefloch commented on #22844
Test reports are ok. I think this comes from the gradle test task which tries to output logging but shouldn't. We can deactivate this behavior directly in the plugin.

[2022-01-19 01:55] kdubb commented on #22844
I thing so too. Gradle seems to try and capture logging (by installing it's own JUL handler) and apparently has no way of disabling this feature.  This feature seems pretty needless (idiotic?) considering they already capture stdin/stdout and that's where JUL logs end up by default.

[2022-01-19 02:30] nian8 commented on #22962
https://github.com/nian8/qute-quickstart

i only follow the https://quarkus.io/guides/qute-reference 3.10
and
[code]
so MessageBundle's default locale is "<<default locale>>" .
when i build native image , app occur an error ,
it can be see in https://github.com/nian8/qute-quickstart/runs/4862077306?check_suite_focus=true
main info is
[code]

then i skip the test and run the native runner
the same

[2022-01-19 03:52] stuartwdouglas commented on #22973
Seems to have been introduced by https://github.com/quarkusio/quarkus/commit/627e1275714573298dec458ae01a7b33e8b28e01 , although I think this may have been an existing problem that has just been uncovered by this.

[2022-01-19 05:52] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1716323299

[2022-01-19 06:13] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1716323057

[2022-01-19 07:26] mschorsch commented on #21428
runBlocking blocks the underlying thread.

If i make for example an API call inside a scheduled method, the underlying thread is blocked as long as the API call takes.

[2022-01-19 07:31] mschorsch commented on #22870
@geoand Will this be fixed in Quarkus 2.7.0 ?

[2022-01-19 07:47] geoand commented on #22870
Not sure, we have a lot to get done for `2.7.0`

[2022-01-19 08:32] tristantarrant commented on #22839
This is not even an Infinispan issue, but it's about configuring the JDK security provider to enable FIPS

[2022-01-19 08:54] xstefank commented on #22896
Hi @vsevel. Just letting you know that I am looking into this and evaluating how it could be done. In Quarkus itself, `quarkus.x.health.enabled` are used to produce or not to produce health check beans so this is why it is a build time property.

[2022-01-19 09:06] loicmathieu commented on #22773
So, what is the decision around this issue ? It blocks #21651

My take on it: keep it as today, an error is good and people must add a JDBC driver when using Hibernate.

[2022-01-19 09:21] xstefank commented on #22896
So actually this will be possible with the new feature we will be introducing in SR Health 3.2.0 that allows disabling individual health checks - https://github.com/smallrye/smallrye-health/issues/128. Would this work for you? Do you know the full package name of the health checks coming from extensions?

[2022-01-19 09:26] jmartisk commented on #22896
Keep in mind mostly that if this is runtime, we will have to produce **all** relevant beans for extension health checks during build, because we won't know whether they will be used in the end. So applications will bloat more than necessary, based on how many such checks there will be.

[2022-01-19 09:35] maxandersen opened #23001 "Link from class to IDE does not work in JBang source"
### Describe the bug

given this:

[code]

and you run it with `jbang -Dquarkus.dev main.java` then linking to class in arc bean does not work:

<img width="1656" alt="2022-01-19_10-34-26" src="https://user-images.githubusercontent.com/54129/150103519-99cdb251-3c15-48c2-9d9e-aeba5810843f.png">

looking at https://github.com/geoand/quarkus/blob/main/extensions/vertx-http/deployment/src/main/resourc

[2022-01-19 09:44] #22836 closed

[2022-01-19 09:52] Sgitario commented on #22870
Added to my TODO list.

[2022-01-19 09:55] xstefank commented on #22896
@jmartisk correct, but I don't see how we can get around that if the disabling should be dynamic at runtime.

[2022-01-19 09:56] maxandersen opened #23002 "if more than two running IDE while launching 'x' gives error"
### Describe the bug

when more than one IDE is running , i.e. both code and eclipse then no ide is chosen and npe happens.

using

[code]

with `jbang -Dquarkus.dev main.java` and visit http://localhost:8080/hello-resteasy and then use 'x' you get:

[code]

if only one IDE running  - all is fine. setting `quarkus.ide.target=xyz` fixes it

### Expected behavior

_No response_

### Actual behavior

[2022-01-19 10:00] vsevel commented on #22896
I understand. Is there a way to set a property at build time from an extension? i.e. using a build item.
we have developed an internal extension that all our quarkus applications will include. since disabling those healthchecks is going to be company wide, one option is to force disabling those health checks at build time through our extension.
If this is not possible, setting it at run time, and

[2022-01-19 10:05] j-be commented on #22974
@sberyozkin Sounds good to me. If you point me to how and where I can do the documentation update I'm more than happy to provide a rough draft. Same goes for `DefaultTenantResolver` - I can't seem to find any such class for OIDC tenants. https://quarkus.io/guides/security-openid-connect-multitenancy#writing-the-application only seems to suggest that there is one such for HibernateORM.

[2022-01-19 10:14] jycr opened #23003 "CVE-2021-28170 on jakarta.el-api-3.0.3 (transitive dependency of quarkus-core)"
### Describe the bug

[dependency-check maven plugin](https://jeremylong.github.io/DependencyCheck/dependency-check-maven/) report following vulnerability for `jakarta.el-api` dependency:

Dependency-tree:
* `io.quarkus:quarkus-core:jar:2.6.2.Final:compile`
  * `jakarta.enterprise:jakarta.enterprise.cdi-api:jar:2.0.2:compile`
     * `jakarta.el:jakarta.el-api:jar:3.0.3:compile`

### Expected behav

[2022-01-19 10:15] FroMage commented on #22408
Finally: https://github.com/quarkusio/quarkus/pull/23004

[2022-01-19 10:20] pilhuhn opened #23015 "Unclear if dependencies are included"
**Describe the bug**

I was looking for Drools CEP on Quarkus and typed in 'drools'  in the filter field, which resulted in 5 hits.
I selected CEP. Now the others did not get marked and it is/was unclear to me if dependencies are
automatically added or not.

**Expected behavior**

Needed dependencies are either automatically selected. Or some help text says that they will
magically appear in the p

[2022-01-19 10:22] pilhuhn opened #23005 "Code does not work out of box"
**Describe the bug**

Followup to quarkusio/code.quarkus.io#740 I downloaded the code, hit `mvn quarkus:dev` and after a while Quarkus started, but showed

[code]
**Expected behavior**

Code would compile and start without any error

**Actual behavior**

Console shows the above error

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Screenshots**
(If applicable, add screenshots to hel

[2022-01-19 10:33] geoand commented on #22971
Sounds totally legit to me

[2022-01-19 10:34] sberyozkin commented on #23003
Hi @gsmet #20412 set the version to `3.0.4`, are you OK with excluding `3.0.3` from `jakarta.enterprise:jakarta.enterprise.cdi-api:jar:2.0.2` ? Or maybe we should update to the newer CDI api version ? CC @mkouba

[2022-01-19 10:37] sberyozkin commented on #23003
Oh, you have updated the implementation,  but `jakarta.el-api-3.0.3` are just interfaces, right ? @jycr can it be a false positive ?

[2022-01-19 10:47] #22941 closed

[2022-01-19 10:49] gsmet commented on #23005
Moving to the main repo. Can you please attach the project that you cannot build? Thanks.

[2022-01-19 10:51] jmartisk commented on #22896
The reason why we have runtime properties is that then you can set them per-deployment without having to rebuild, meaning different deployments of the same archive can have different configuration. Your reason seems to differ slightly ;) can't say how much of a performance issue it would bring, but it would affect most of Quarkus users, that's the main problem here.

I struggle to see why it's a p

[2022-01-19 10:55] pilhuhn commented on #23005
[quarkus-kie-test.zip](https://github.com/quarkusio/quarkus/files/7896464/quarkus-kie-test.zip)

[2022-01-19 10:55] xstefank commented on #22896
There is `SystemPropertyBuildItem` that you can use I believe. But with build time health disable we will not package health check class in your application so you won't have access to these health checks at runtime. Usually, I might be wrong here as I haven't checked all extensions but I can see only 1,2, or 3 HealthBuildItems being produced in one extension so that should not be that much of ove

[2022-01-19 10:58] pilhuhn commented on #23005
I believe the root cause is that in https://github.com/quarkusio/code.quarkus.io/issues/740 I only selected the one thing that I am interested in and apparently dependencies are not added into the pom.

When I e.g. add

[code]

to the pom, the above error goes away, but new ones show up.

[2022-01-19 11:02] sberyozkin commented on #23003
Looks like there is some actual implementation code in that `jakarta.el-api-3.0.3.jar`, so not sure what is the right plan here

[2022-01-19 11:02] jmartisk commented on #22896
The javadoc of that says that it's "system property that will be set immediately on application startup" so processors (build-time) won't see it

[2022-01-19 11:14] FroMage opened #23007 "OIDC: Something wrong happens when verifying our internal JWT"
### Describe the bug

I just got this issue when trying to log in using Facebook:

[code]

Can we really make internal tokens with an algo we don't permit?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different f

[2022-01-19 11:23] FroMage commented on #20629
I don't know, it looks like the code is exactly the same in both classes, what's the reason why they behave differently?

[2022-01-19 11:25] sberyozkin commented on #23007
@FroMage Hmm, but we sign the internal token using the `HS256` algorithm. Something is going on, this does not look like the token we create internally (ex, `kid` is not set for the internal token)

[2022-01-19 11:25] AndLvovSky commented on #22230
Adding `quarkus.hibernate-orm.validate-in-dev-mode=false` resolved the issue for me

[2022-01-19 11:45] xstefank commented on #22896
@jmartisk ok, thanks. So this won't work. But as you said, application.properties during build should.

[2022-01-19 12:01] vsevel commented on #22896
having a property at run time to disable specific health checks is sufficient indeed. I am not worried about the extra classes that will be bundled at build time in the app.

we want to enforce that all projects do not activate certain checks, and not rely on people doing the right thing in their src/main/resources/application.properties.
in our k8s deployment, we provision for them the necessary

[2022-01-19 12:14] jmartisk commented on #22896
Yeah so this is problematic because of the bloating, and also because all applicable Quarkus extensions would need to comply with this, which would mean a lot of work to be coordinated.

This could do it. Perhaps your extension could add some logic that verifies this during boot time, and throws an exception in case if that check fails. It could maybe iterate through the list of active health chec

[2022-01-19 12:17] mkouba commented on #23003
We can safely exclude the `el-api` from the CDI/ArC point of view (as we don't integrate with EL at the moment). I think that we should also https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/runtime/pom.xml#L18-L21exclude the `el-api` here:

[2022-01-19 12:19] sberyozkin commented on #23007
@FroMage It looks like, while the correct assumption is made that it is an internal ID token, the wrong cookie containing some other tenant's token may be picked up. Can you grab the token in the debug mode, in `OidcProvider.verifySelfSignedToken()` and check its content say at `jwt.io` ?

[2022-01-19 12:23] mkouba commented on #22962
This is really helpful. Thanks @nian8.

[2022-01-19 12:25] markusdlugi opened #23010 "Reactive REST Client breaks with ClassFormatError if attribute is present in interface"
### Describe the bug

Since Quarkus 2.5.1.Final we experience a regression that the Reactive REST Client is not able to handle attributes in the interface annotated with @RegisterRestClient anymore. For example, the user might want to statically initialize variables for default methods provided in the interface. This previously worked with Quarkus 2.5.0.Final and earlier versions, but doesn't anym

[2022-01-19 12:34] vsevel commented on #22896
so wait. I missed what you were doing in https://github.com/smallrye/smallrye-health/pull/357/. this will allow to deactivate any check at run time using property `"io.smallrye.health.check." + checkClassName + ".enabled"`?
and the only inconvenience is a bit of bloating?
if so, I would go for that.
when is this going to be available in quarkus?

[2022-01-19 12:35] xstefank commented on #22896
The new feature will be in the SR Health and will only require the full package name of the health check implementation so it won't be dependent on any extension specifics. You just need to know the name of the health check and then you can use `io.smallrye.health.check.<health-check-class-name>.enabled=false`.

[2022-01-19 12:38] vsevel commented on #22896
perfect.
do you have a timeline/release for SR Health and its inclusion in Quarkus?

[2022-01-19 12:39] xstefank commented on #22896
hopefully by the end of the week :)

[2022-01-19 12:40] gsmet commented on #23003
I'll have a look.

[2022-01-19 12:40] vsevel commented on #22896
ok. I will be following this. thanks for looking into it. keep up the good work!

[2022-01-19 12:40] #22896 closed

[2022-01-19 12:40] fwippe commented on #20190
Closed along with #22770

[2022-01-19 12:40] #20190 closed

[2022-01-19 12:44] jmartisk commented on #22896
Ah ok that actually seems it could do it :) Just please bear in mind that 2.7.0.CR1 is planned for today, which might complicate the upgrade a little if it's to be present in 2.7 (I think 2.7 will have its own branch soon, so a backport will be needed)

[2022-01-19 12:51] rsvoboda opened #23011 "Warnings about MetricCollectingClientInterceptor and MetricCollectingServerInterceptor when using grpc and micrometer"
### Describe the bug

Warnings about `MetricCollectingClientInterceptor` and `MetricCollectingServerInterceptor` when using grpc and micrometer

Warnings:
 - At least one unused gRPC client interceptor found: io.micrometer.core.instrument.binder.grpc.MetricCollectingClientInterceptor. If there are meant to be used globally, annotate them with @GlobalInterceptor.
 - At least one unused gRPC interce

[2022-01-19 12:55] cescoffier commented on #23011
Great catch!

Yes, we should exclude the metrics interceptors from the checked list.

[2022-01-19 13:08] sberyozkin commented on #22974
@j-be Sorry, I mistyped, it is an internal [DefaultTenantConfigResolver](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/DefaultTenantConfigResolver.java). I believe
[code]

can  be optimized/replaced with

[code]

Looks like the `oidc-multi-tenancy` guide needs to be refactored a bit - I can look into it later on. But for now I'd sugges

[2022-01-19 13:09] rsvoboda opened #23012 "Warning about missing `group.id` when using quarkus-smallrye-reactive-messaging-kafka codestart"
### Describe the bug

Warning about missing `group.id` when using quarkus-smallrye-reactive-messaging-kafka codestart

2022-01-19 14:07:20,655 WARN  [io.sma.rea.mes.kafka] (main) SRMSG18216: No `group.id` set in the configuration, generate a random id: 71da9ccd-77a0-4710-a4fb-25cb9508ab92

Full log:
[code]

### Expected behavior

No warnings

### Actual behavior

Warnings about not sufficient conf

[2022-01-19 13:20] evanchooly commented on #21428
`launch {}` doesn't however

[2022-01-19 13:25] j-be commented on #22974
Sure thing, always happy to help :smiley:

[2022-01-19 13:32] FroMage commented on #22762
I seem to recall the spec said we had to send the response ASAP, and that we had something that did sent it straight away when I wrote it. Lemme find it.

[2022-01-19 13:35] FroMage commented on #22762
Yeah, the spec mandates this in https://quarkus.io/specs/jaxrs/2.1/index.html#sse_pipeline:

`SseEventSinkImpl` even has this:

[code]

So it should work…

[2022-01-19 13:35] gsmet commented on #23003
OK so:
- the `ELParserTokenManager` is in the impl not in the API so using 3.0.3 of the API is not a problem
- they have released a 3.0.4 version for the impl but not for the API: latest 3.0.x API is still 3.0.3 (which is not really an issue given there's no security issue in the API) - see https://repo1.maven.org/maven2/jakarta/el/jakarta.el-api/
- looks like the scope of the CVE has been created

[2022-01-19 13:35] FroMage commented on #22762
Sent by:

[code]

[2022-01-19 13:36] FroMage commented on #22762
So it does look like a bug. Sorry I don't have time to fix it, but I'd gladly review any PR you have to make it work again. I'm pretty surprised that the TCK doesn't test this, though. I thought it did.

[2022-01-19 13:37] mkouba commented on #22962
Hm, I wasn't able to reproduce the problem with your app.  From the stack trace I can see that the  `MessageBundles.setupNamespaceResolvers()` method fails because Qute is not able to find a bean for the localized interface `org.acme.qute.message.AppMessages` and of the locales (one of the localized message files). I've checked the generated bytecode and it looks ok.

Unfortunately, the error mess

[2022-01-19 13:38] maxandersen opened #23013 "eclipse launch ide fails on osx"
### Describe the bug

if eclipse is not running, but `quarkus.ide.target=eclipse` then on open we do:
`eclipse --launcher.openFile pathtofile:20`

This only works on linux and windows.

On OSX the best we can do is `open -a /Applications/Eclipse.app pathtofile` which will open the file.
Known broken issue for eclipse https://bugs.eclipse.org/bugs/show_bug.cgi?id=564340 and https://bugs.eclipse.org

[2022-01-19 13:42] mkouba commented on #23003
I forgot about that one :(. Unfortunately, `BeanManager` depends on `javax.el.ELResolver` and `javax.el.ExpressionFactory` that would ultimately bring in a big part of the API.

[2022-01-19 13:46] FroMage commented on #15191
I don't think it's debated, and it still needs fixing, so sure, go ahead.

[2022-01-19 13:54] gsmet commented on #15191
Well, it is debated now.

It makes little sense to unify absolutely unrelated timeouts. The timeouts you will define for database access for instance are totally different from the ones for a remote website contacted through the REST Clients. And I don't see how having a common default would ever make sense.

So let's not unify things without properly classifying all the timeouts first and decide

[2022-01-19 14:37] FroMage commented on #22969
Well, you're quoting JWT specs, not OIDC ones, so unless there's something that forces OIDC secrets to be of that size, we might need to not throw when making our own internal JWT token based on that secret.

[2022-01-19 14:50] AndLvovSky opened #23014 "Dev UI does not work with Lambda 2.6.2.Final"
### Describe the bug

Still seeing issues with Dev UI, described in https://github.com/quarkusio/quarkus/issues/21346#issuecomment-965746375. After opening `/q/dev` and clicking on any card (for example Config Editor) the UI hangs. Also, no application logs are shown.

### Expected behavior

Open Dev UI -> Click on Config Editor -> Be able to view and edit configuration

### Actual behavior

Open

[2022-01-19 14:53] FroMage commented on #23007
Huh. WTF. I have what looks like a real token now:

[code]

How did that happen? Did facebook start support oidc today?

[2022-01-19 14:56] TomasHofman commented on #22872
I'm closing this for now, I don't see a way to do this without causing backward compatibility issues...

[2022-01-19 14:56] #22872 closed

[2022-01-19 14:58] geoand commented on #23010
This has actually already been fixed in `main`

[2022-01-19 14:58] #23010 closed

[2022-01-19 15:02] geoand commented on #23010
You mean backported to `2.7` or `2.6`?

[2022-01-19 15:03] FroMage commented on #15191
It also makes little sense to have so many timeouts with seemingly random values, as was pointed out in https://github.com/quarkusio/quarkus/issues/15056#issuecomment-779316839, and frankly, you know they got added organically at random, and not based on any logic and grand vision that we may hope we had at the time.

So, sure, +1 to collecting them all, and if someone has knowledge about it, to c

[2022-01-19 15:36] radcortez commented on #22595
I did some additional digging, and most likely this is related to the following substitution:
https://github.com/quarkusio/quarkus/blob/main/extensions/amazon-lambda-xray/runtime/src/main/java/io/quarkus/amazon/lambda/xray/graal/LambdaSegmentContextSubstitution.java#L11

Probably this only surfaces in subsegments, because there is a direct call to `LambdaSegmentContext` to create the subsegment, w

[2022-01-19 15:41] TomasHofman commented on #15191
Regarding the issue linked in the description (https://github.com/quarkusio/quarkus/issues/15056), I think it was mostly resolved in the mean time via defining global timeouts that apply just to rest clients.

Specifically, these two attributes:

[code]

now default to following rest-client scoped globals:

[code]

I think approaching it this way makes more sense, because really rest-client `read-

[2022-01-19 15:45] sberyozkin commented on #23007
@FroMage Looks like it is indeed returning an `IdToken`. If remove `id-token-required=false` it will start working.
`CodeAuthenticationMechanism` will not create a self-signed token in this case - but during the re-authentication it assumes the token is internal because `id-token-required=false`.
So yes, removing `id-token-required=false` will fix it - however I'll try to tighten the code later on

[2022-01-19 15:54] khoek commented on #14418
@geoand I can still reproduce this when annotating a *resouce class*, e.g.
[code]

[2022-01-19 15:57] geoand commented on #14418
What version are you seeing the problem with?

[2022-01-19 16:00] sberyozkin commented on #23003
@gsmet

+1, it is a false positive.

@jycr Can you please open a [dependency-check-maven](https://jeremylong.github.io/DependencyCheck/dependency-check-maven/) issue about a false positive - it is the implementation which has to be checked (`org.glassfish:jakarta-el`), not API.

[2022-01-19 16:07] rsvoboda opened #23018 "No messages emitted on start of smallrye-reactive-messaging-kafka codestart in dev mode"
### Describe the bug

No messages emitted on start with `smallrye-reactive-messaging-kafka` codestart in dev mode.

I had to adjust JAX-RS endpoint to inject `MyReactiveMessagingApplication` and invoke the method with emitter as part of endpoint call. When I accessed the endpoint I finally saw the log messages with the upper-case text.

Application code: https://github.com/quarkusio/quarkus/blob/m

[2022-01-19 16:08] pilhuhn commented on #23015
No, not mvn deps - they would get pulled in and all is good.
Here those are more logical ones. If I only select the one I had in the screenshot, the kogito-main one + resteasy + resteasy-jackson should also be added to the generated pom (from code.quarkus.io).

Theoretically, the -addon could include those in its dependencies, but then it is probably harder to get rid of them if they are not neede

[2022-01-19 16:09] khoek commented on #14418
@geoand `2.6.1.Final`, here is a reproducer: https://github.com/khoek/quarkus-bug

[2022-01-19 16:11] khoek commented on #14418
To be clear, you totally fixed it for `@Produces` on resource methods themselves.

[2022-01-19 16:13] FroMage commented on #23007
Amazing, FB started sending an ID Token. Excellent. We can change the config for known providers. I can make a PR if you want, also with the fix for Apple discussed in https://github.com/quarkusio/quarkus/pull/22572#issuecomment-1016346209

[2022-01-19 16:17] sberyozkin commented on #22969
@FroMage Steph, `OIDC` is built on top of `JWA` (algorithms) among other things, things like RSA keys must be more than 2048 bits is also coming from there, so yes, indirectly it is a requirement. I can introduce a system property in `smallrye-jwt-build` to optionally relax the key length verification. But my question is - is it a test issue or production issue ? If it is a test issue then IMHO we

[2022-01-19 16:25] geoand commented on #14418
Thanks for the reproducer!

https://github.com/quarkusio/quarkus/pull/23019 takes care of it

[2022-01-19 16:29] iocanel commented on #19379
This can be made to work, by adding the `istio-client` as a dependency to the project.

Users reported success with: https://github.com/snowdrop/istio-java-api.
It is also likely to work with the istio extension of the fabric8 kubernetes-client which is now the new home of the project above.

This is a work around, the real solution is to change the `KubernetesDeployer` so that it does not require

[2022-01-19 16:30] Rajib-Mardi commented on #10049
Hi, @sberyozkin!
I want to work on this issue. May I go for it?

[2022-01-19 16:34] iocanel opened #23020 "Add support for kind"
### Description

Kind is a tool for creating locally dev clusters for kubernetes.
So, it would be nice if we had the same conventions we use for minikube applied to kind.
Additionally, kind does require a manual step to load images to the cluster and this `breaks` the kubernetes deployment experience.

### Implementation ideas

We need an extension that tunes manifests as minikube does (so we coul

[2022-01-19 17:06] synox opened #23023 "Can not mock K8S api /version"
### Describe the bug

Cannot mock the `/version` api. I followed the guide https://quarkus.io/guides/kubernetes-client#testing.

Mocking `/version` works on `2.4.2.Final`, but fails on `2.5.4.Final` and `2.6.2.Final`.

The following code should throw an exception when the version path is accessed, but it does not thrown an error for v2.5.4 or higher:
[code]

However the following code works as exp

[2022-01-19 17:18] cescoffier commented on #23012
That's the expected behavior.

While in general, it's recommended to have the group.id set, they are case where you need unique ones (when you want to restart processing the full topic).

The warning indicates that the consumer wasn't configured with a group.id, and so one was generated. It's important to mention the generated one if something wrong happens (as the group id will be in the broker l

[2022-01-19 17:20] geoand commented on #23023
cc @manusa

[2022-01-19 17:30] cescoffier commented on #23018
Ok... that's annoying...
The configuration generated with the codestart is incorrect. It cannot work, or really by accident when all planets are aligned. The problem is that Kafka default uses "latest" when subscribing to a topic, which means that only new messages are going to be consumed. The record previously sent are simply ignored.

Here is the working configuration:

[code]

I would also rec

[2022-01-19 17:32] debu999 opened #23025 "Quarkus OIDC with custom code flow and customize url for call to autorhize and the redirect -"
### Description

Hi All,
We have a need to use a internal OIDC provider.

We have few additional parameters in the oauth code flow, need to know how its done with quarkus-oidc.

request params in our initial authorization code request is

response_type
client_id
scope
redirect_uri
resource
prompt
Using the default code flow , i am not sure how the url is built and by which class thus need help to

[2022-01-19 17:36] cescoffier commented on #23018
We may want to rewrite the tests too, to use the dev service and not the in-memory connector.

[2022-01-19 17:37] cescoffier commented on #23018
I think I found where is it maintained... but I got some weird YAML-based config - do we generate the properties from that Yaml?

[2022-01-19 17:39] gastaldi commented on #23018
I think it's in https://github.com/quarkusio/quarkus/tree/main/devtools/project-core-extension-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/reactive-messaging-codestart

[2022-01-19 17:40] gastaldi commented on #23018
Yes, I believe so

[2022-01-19 17:41] cescoffier commented on #23018
Ah, I got why it's done that way (with the topic set). While I believe I agreed with this, I think it is not OK. It shows what I would call an anti-pattern for simple applications (read/write to the same topic from the same application instead of using an in-memory stream). It can be useful when you want to implement checkpoints, but that's quite advanced and should not be covered by the code star

[2022-01-19 17:57] Postremus commented on #21552
I did a few fresh measurements, since 2.7.0.CR1 is out.
Numbers are the average of 3 runs.

mvn clean compile quarkus:dev
2.5.2.Final: 2442ms
2.6.2.Final: 2212ms
2.7.0.CR1: 1970ms

force restart (s)
2.5.2.Final: 693ms
2.6.2.Final: 500ms
2.7.0.CR1: 247ms

[2022-01-19 18:00] gsmet commented on #21552
Thanks for all this work, Martin!

It's this sort of thing that makes Quarkus more pleasant when used daily.

On Wed, Jan 19, 2022 at 6:58 PM Martin Panzer ***@***.***>
wrote:

[2022-01-19 18:01] sberyozkin commented on #23007
@FroMage Re `facebook`, so if it sends `IdToken`, does requiting `userinfo` is still needed ? Can you also please check, may be it now supports the auto-discovery as well so we can drop all those individual facebook endpoint URLs ?

Re `apple` - I propose to fix it later when `quarkus-oidc` starts supporting `form-post`, so for now please set the extra params manually

[2022-01-19 18:04] sberyozkin commented on #22969
@FroMage I think I'll introduce that system property anyway as there could be other cases where relaxing may be required, ex, some legacy provider expects RSA keys with 1024 bits, etc; as far as `quarkus-oidc` is concerned I still think we should not do anything specific about it - but if really needed then that system property will be around to relax it

[2022-01-19 18:06] patriot1burke commented on #22595
I think the issue is that the trace id is stored in a thread local.  Resteasy requests are processed in a different thread from the native pull thread so the trace id is lost.

[2022-01-19 18:14] sberyozkin commented on #23025
@debu999 Hi,

`client_id`, `redirect_uri` are set automatically
Use `quarkus.oidc.authentication.scopes=a,b,c` to set some extra scopes in addition to the default `openid`
All other parameters can be set with `quarkus.oidc.authentication.extra-params`, example:
[code]

Please experiment

[2022-01-19 18:23] lthasle commented on #22477
@sberyozkin Thanks for your effort, but I get the same fault when I use 2.7.0.CR1
Same applies if I try with the reactive dependencies as well.
I am not sure how I can re-open the issue.

javax.ws.rs.ProcessingException: java.util.concurrent.CompletionException: java.lang.InterruptedException
	at org.jboss.resteasy.client.jaxrs.internal.ClientInvocation.filterRequest(ClientInvocation.java:780)
	at

[2022-01-19 18:26] geoand commented on #21552
Awesome improvement!

[2022-01-19 18:50] amitkumar7566 commented on #22595
@radcortez I am using AWS cloudformation to deploy. You can find the template in reproducer code.

@patriot1burke What is the solution for the issue that you have mentioned above?

[2022-01-19 18:51] #18062 closed

[2022-01-19 18:51] #22812 closed

[2022-01-19 19:03] mschorsch commented on #21428
Do you mean GlobalScope.launch? This isn't a good option because of:

 https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines/-global-scope/

I've written some glue code using a custom coroutine scope but i think it would be best if Quarkus would manage the ApplicationCoroutineScope in the same manner as in resteasy reactive.

[2022-01-19 19:07] geoand commented on #21428
This can definitely be done the proper way (like we have done in RESTEasy Reactive, but it's pretty low on our priority list...

[2022-01-19 19:24] #22574 closed

[2022-01-19 19:29] patriot1burke commented on #22595
@amitkumar7566 I don't have one yet.  Trying to figure out best way to do it.

[2022-01-19 19:33] maxandersen commented on #23015
I read it as these are using json features and thus we could deduce it needs one or in case of reactive not to be added ...but don't know if the right metadata/limits are used ?

[2022-01-19 20:20] aloubyansky commented on #23015
This sounds like a case for capability requirements. Which we haven't yet implemented, although I did think it would be a matter of time when we get a request for them. It will also mean more UI work for code.quarkus - highlighting or pre-selecting (in case the requirements aren't ambiguous)  additional extension requirements for the already selected extensions by the user.

[2022-01-19 20:21] aloubyansky commented on #23015
BTW, resteasy-jackson already depends on resteasy, so simply resteasy-jackson will be enough in your case.

[2022-01-19 20:24] brianwyka commented on #20928
I'm also experiencing this issue.  I'll try to create a reproducer.

[2022-01-19 20:25] Karm commented on #22808
I think this is something we do in Quarkus with passing locale names. As you can see, a plain reproducer without Quarkus is sensitive to how locales are parsed:

[code]

[code]

[code]

# Good :heavy_check_mark:

[code]

# Bad

[code]

I will take a look further and fix

[2022-01-19 20:36] brianwyka commented on #20928
I can't seem to reproduce it on my machine, but when it runs in Bamboo on CI, its a different story...

Here is the relevant stacktrace:

[code]

[2022-01-19 21:12] alesj opened #23034 "@FormParam usage is broken for reactive REST client"
### Describe the bug

When using non-string parameters with reactive REST client, you get a class-cast exception.

### Expected behavior

Non-string parameters should be converted to string using ParamConverter or eventually toString.

### Actual behavior

All parameters are casted to String, hence class cast exception.

### How to Reproduce?

Run SimpleTest from this repo/branch
* https://github.

[2022-01-19 21:15] brianwyka commented on #21678
@radcortez, in my case, I don't have a setup with a "Quarkus Extension".  I simply have a library JAR with the service loader.  Will it still work?

[2022-01-19 21:26] maxandersen commented on #23015
I don't think we need code quarkus work initially. If we just start by having it add recommended default deps and throw error when the combinations are bad. We can start doing this at command level - not require ui work upfront.

[2022-01-19 21:30] maxandersen commented on #21552
Excellent. I really felt this in my testing today of main branch. Thank you.

[2022-01-19 21:35] famod commented on #7696
**I invite everyone to try out 2.7.0.CR1 which was released today!**

It comes with #22920 that added global JUnit callback that tries to set up "basic" logging before _any_ JUnit test class, which includes non-Quarkus JUnit-based tests.
In general, you don't need to do anything special, just fire up a plain JUnit tests that tries to log something (via JBoss logging or SLF4J or probably also Log4j

[2022-01-19 21:35] brianwyka commented on #21678
AN initial test of this in a gradle setup without the `deployment` and `runtime` separation did not yield success.

[2022-01-19 21:35] aloubyansky commented on #23015
I think it's more complicated than that. If there are alternatives to defaults, we'll have to be detecting that in case the user selects those alternatives and not automatically select the defaults that could conflict with the selected alternatives.

[2022-01-19 21:53] famod commented on #21552
@Postremus you should make `This saves about x ms of dev mode startup time.` your permanent signature. 😉

Thanks, also to @aloubyansky!

[2022-01-19 22:29] famod commented on #22967
@geoand I think in `VertxHttpRecorder.doServerStart()` we should throw a custom `BindException` which contains the exact info which port (and which property) is affected and remove all that guesswork from `ApplicationLifecycleManager`.
WDYT? I could add it to my list.

[2022-01-19 23:00] maxandersen opened #23036 "terminal entry and help should guide/help users"
### Description

entering the terminal as a user you are just shown:

[code]

no info, no help command and I only by chance realized tab completion works.

Suggestions:

0) Provide a `help` command that explains a bit about what you can do.

1) give some initial context:

[code]

2) have a help/info for the commands with some examples. Still haven't figured out what the commands do :)

### Impleme

[2022-01-19 23:01] maxandersen commented on #23036
3) all commands now just return no message/info when run, i.e. "test pattern" has zero output.

[2022-01-20 00:35] radcortez commented on #21678
Yes, those items are only read and used in the context of a Quarkus extension. This is how you can write one: https://quarkus.io/guides/writing-extensions.

I know that this is a little inconvenient for now, but it is a way to achieve it.

The problem is that we have so many different requests in how to customize the configuration that I feel that is not scalable anymore. Most likely, I'm just goi

[2022-01-20 00:42] radcortez commented on #22595
@patriot1burke isn't the trace id thread-local storage used only for native mode? At least the only reference I can find is in  `LambdaSegmentContextSubstitution`. And I guess the substitution was required because of https://github.com/aws/aws-xray-sdk-java/pull/252.

If X-Ray, now allows the propagation using system properties, we can probably revert back to the original code and drop the thread-

[2022-01-20 00:51] patriot1burke commented on #22595
Native would only ever be able to process one request at a time though.  Was eventually going to look at adding concurrent request processing and rewrite the poll loop to be non-blocking.

[2022-01-20 00:52] patriot1burke commented on #22595
I'll revert it for now.

[2022-01-20 01:08] patriot1burke commented on #22595
@radcortex  @amitkumar7566 Please see linked PR if you want to verify this works.

[2022-01-20 02:15] debu999 commented on #23025
Thanks. Let me try those today.

[2022-01-20 03:56] cristianonicolai commented on #22520
@debu999 have you been able to verify that this is fixed on version 1.15?

[2022-01-20 04:58] geoand commented on #21552
Perhaps we could also have a blog post documenting what happened and it was addressed?

[2022-01-20 04:58] geoand commented on #22967
Yeah, absolutely. `BindException` should contain the port, so we should definitely use it

[2022-01-20 05:22] #23018 closed

[2022-01-20 05:25] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1721729599

[2022-01-20 05:40] amitkumar7566 commented on #22595
@patriot1burke what specific code changes do we have to make to test this?

[2022-01-20 05:57] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1721730887

[2022-01-20 06:09] michael-simons commented on #16870
Hey. Just to let you know: after the first releases has been cut from the Neo4j quarkiverse extension, they way it still is on code.quarkus.io I have to say I’m sold on the solution. Great way forward for both 3rd party vendors and Quarkus. Well done.

[2022-01-20 06:11] manusa commented on #23023
Relates to:
 - https://github.com/fabric8io/kubernetes-client/pull/3562
 - https://github.com/fabric8io/kubernetes-client/issues/3536

[2022-01-20 06:15] geoand commented on #23023
So is this still an issue with Quarkus `2.7.0.CR1`?

[2022-01-20 06:20] manusa commented on #23023
The `/version` default expectation was added especially for JOSDK (and in general for the standard work of any Kubernetes Application).

The expectation is based on a defaulted `versionInfo` within the `KubernetesMockServer` class. However, this field is not accessible (maybe we need to change this).

The recommended approach (which **works with any version**), is to clear the default expectations

[2022-01-20 06:22] manusa commented on #23023
Yes, however, as explained, I would call it feature instead of issue :smile:

[2022-01-20 06:26] geoand commented on #23023
Gotcha, so let's close this then :)

[2022-01-20 06:26] #23023 closed

[2022-01-20 07:46] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1721747254

[2022-01-20 08:47] maxandersen opened #23045 "runjava.sh in docker images not consistent between java 11 and java 17"
### Describe the bug

in 2.5-2.6 timeframe we ended up moving away from run-java.sh. That was probably a mistake but hope was run-java.sh from ubi-java would come available.

That is now present but not part of the delivered ubi images thus we need to find a way to handle this is in 2.7.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

[2022-01-20 08:48] romilpunetha opened #23046 "Expose toBsonDocument function publicly"
### Description

I would like to understand how the following requirement is supposed to be handled using mongodb panache repository:

**Conditional update**:
Based on the value of a certain field (eg. update only when Status=Rejecte), the entity must be updated and its version should be incremented.

I'm currently using a modified version of this for the above requirement:

[code]

Setting every

[2022-01-20 08:56] #22970 closed

[2022-01-20 09:00] DavideD opened #23047 "@Blocking with reactive causes NoStackTraceThrowable: Timeout exception"
### Describe the bug

Given the following bean:
[code]
After calling the api 4-5 times, the following error occurs:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

A reproducer is available here: https://github.com/DavideD/reactive-panache-reproducer

1. `./mvnw clean test`

or

1. `./mvnw quarkus:dev`
2. `http http://localhost:8080/payload/

[2022-01-20 09:00] FroMage commented on #15056
@michalszynkiewicz so if we have defaults now, we can close this, right?

[2022-01-20 09:03] FroMage commented on #15191
Well, perhaps that's the case for those two, and even then, we'd have to assume that the current timeout defaults make sense in both cases, but I know we have plenty of other types of timeouts, and their default values just look randomly assigned, so we'd still benefit from collecting them and categorising them and making sure they make sense.

[2022-01-20 09:11] FroMage commented on #22969
It's during testing I've noticed this, but I thought that it may apply to prod in some cases. This is not about key lengths, I think, this is about how we generate our own internal JWT by creating a `SecretKey` based on the client secret:

[code]

What I mean, is that if the OIDC spec (or JWA indirectly) forces those client secrets to be of a minimum length, then fine, we're safe. But if not, it's

[2022-01-20 09:11] Ladicek commented on #23047
This is using Hibernate Reactive (with Panache) and RESTEasy Reactive, so CC'ing @cescoffier @Sanne @geoand who hopefully know who should look at this :-)

[2022-01-20 09:13] Ladicek commented on #23047
Or maybe ignore my comment, sorry I didn't realize who actually filed this issue. Blame quarkus-bot for tagging me! :-)

[2022-01-20 09:14] geoand commented on #23047
This doesn't look like a RESTEasy Reactive issue, but I don't know much more than that :)

[2022-01-20 09:17] DavideD commented on #23047
No problem :)
To be honest I'm not sure what's causing the issue so I don't know who should look into this.
This usage is a bit weird but it seems like it's something that should work. Unless I've misunderstood how and where to use `@Blocking`.

[2022-01-20 09:18] DavideD commented on #23047
Note that `@Blocking` in this case  is not required because the method returns a non reactive object, but it doesn't make any difference.

[2022-01-20 09:19] geoand commented on #23047
Question: Can Hibernate Reactive work on non event loop threads? I vaguelly remember @Sanne mentioning it doesn't

[2022-01-20 09:23] DavideD commented on #23047
It depends what one does.

We keep track of the Vert.x instance and context underneath. So, if one uses `.withSession` in a non loop thread, Hibernate Reactive will run the operations in the context it's bound to.

[2022-01-20 09:24] DavideD commented on #23047
Or create a new context if one doesn't exist

[2022-01-20 09:25] cescoffier commented on #23047
I don't believe you can use Hibernate Reactive in a blocking endpoint. It would not be able to capture the event loop context (because there is none).

[2022-01-20 09:30] FroMage commented on #22029
@sberyozkin fixing this would be really nice.

[2022-01-20 09:35] geoand commented on #23047
Does it result in the same exception?

[2022-01-20 09:36] DavideD commented on #23047
Yes

[2022-01-20 09:37] DavideD commented on #23047
Ooops... no sorry. It is slightly different:
[code]

[2022-01-20 09:39] glefloch commented on #22844
I tried differend configuration but nothing change. I asked a question on their forum.

[2022-01-20 09:39] geoand commented on #23047
Your latest example however is not correct usage TBH.

Instead of

[code]

it should be:

[code]

If we need to support some kind of `atMost` waiting, we will need to do in another level

[2022-01-20 09:41] cescoffier commented on #22762
@FroMage so basically, we would send a response event before we get a subscription from the upstream? That sounds risky.

I can understand the "we should not wait for the first message" argument, but the method return part is puzzling me.

[2022-01-20 09:43] radcortez commented on #22595
You need to recompile Quarkus and use the SNAPSHOT version (`999-SNAPSHOT`), to make sure you are getting the changes from the proposed PR.

[2022-01-20 09:44] DavideD commented on #23047
Well... of course the reactive approach is the correct one :)

The problem for me is that I cannot find any documentation about `@Blocking` and every time I try to use it, it seems the wrong way. But I expect user to try the things that I've tried.

Should i update the Hibernate Reactive guide and write that `@Blocking` won't work?

[2022-01-20 09:46] geoand commented on #23047
That is not for me to answer, as I have no idea about how Hibernate Reactive handles things.

But in general, I don't see any reason why one would use Hibernate Reactive and `@Blocking` together, as the whole point of the end to end reactive stack is to be able to stay on the event loop (and thus avoid unnecessary dispatches) and never block it

[2022-01-20 09:56] iocanel opened #23051 "Expose container image commands in the cli"
### Description

Currently, container image operations (build and push) are only supported as system properties.
This is error prone and does not provide any feedback to the user.

For example, I often do the following mistake:

[code]

and I get absolutely no feedback / idea on what  is going on and that the correct property is `quarkus.container-image.build`.

Exposing the operations in the cli

[2022-01-20 09:56] gsmet commented on #22595
You can either:
- build main now: https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#building-main
- or wait the next days for the snapshots to be deployed: https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#using-snapshots

[2022-01-20 09:56] vladimirfx commented on #9003
Tryed 2.7.0.CR1 on one-method microservice:

[code]

Error on JVM and Native:

[code]

That is because `ServerResourceMethod.returnType` of hander method is detected as `java.lang.Object`. Should I file a separate bug or it is normal for `suspend` method?

[2022-01-20 09:57] #13947 closed

[2022-01-20 10:12] DavideD commented on #23047
Ok. I don't think this is a bug. I'm going to close this issue.

[2022-01-20 10:12] #23047 closed

[2022-01-20 10:12] DavideD commented on #23047
Thanks everybody and sorry for the noise

[2022-01-20 10:12] geoand commented on #23047
YW!

[2022-01-20 10:35] sberyozkin commented on #23025
Np, we probably need to move this issue to `Discussions`.

[2022-01-20 10:39] sberyozkin commented on #23025
@debu999 About to move it to `Discussions` - we can create Quarkus issues if some specific fixes are needed

[2022-01-20 10:58] sberyozkin commented on #22969
@FroMage yeah, this code is fine, I believe even Jose4J uses `AES`, the HMAC qualifier apparently makes no difference (see for ex this comment in [Jose4j](https://bitbucket.org/b_c/jose4j/src/ff6d6c2ee7b94ca5e1ee9c17b4647938110bd07d/src/main/java/org/jose4j/jwk/OctetSequenceJsonWebKey.java#lines-53)), bu in any case, it is entirely about the key lengths, and indeed, as you say, there might be case

[2022-01-20 10:58] andlinger commented on #22658
@geoand Are you sure this works like the non-reactive rest client? I just changed the dependencies to the Reactive Rest Client on Quarkus 2.7.0.CR1 and now it doesn't work anymore. The server, which is contacted with the REST client, no longer recognizes the transferred data.

Update:
The @PartFilename annotation only works when the annotated member is a java.io.File object. In the past this also

[2022-01-20 11:06] iocanel commented on #20038
AFAIR, the mock server does expose websocket related operation, so it is technically possible to use it to support watchers etc.

[2022-01-20 11:34] mkouba opened #23055 "Resource method String param annotated with @RestForm not decoded automatically"
### Describe the bug

It seems that a String resource method param annotated with `@RestForm` is not decoded automatically. AFAIK the spec version of this annotation, i.e. `@FormParam` is decoded unless used together with `@Encoded`.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

###

[2022-01-20 11:43] rsvoboda commented on #23012
OK, let's keep it this way. Thanks for explanation.

[2022-01-20 11:43] #23012 closed

[2022-01-20 12:07] uPagge commented on #22230
@AndLvovSky  It did not help, and what does it have to do with it? I need to disable validation only at the resistance level and not only in dev mode

[2022-01-20 13:04] andlinger opened #23059 "REST Reactive Client: PartFilename annotation doesn't work if member is anything else than java.io.File"
### Describe the bug

I have tested the new @PartFilename annotation in the REST Reactive client (Quarkus 2.7.0.CR1). See issue #22658
However, the annotation seems to work only if the respective annotated member is of type java.io.File. I tested with java.nio.Buffer and java.lang.String. If one of these two types is used, the file name is not transferred.

Works as expected:
[code]

Doesn't work:

[2022-01-20 13:11] geoand commented on #9003
It's definitely a bug. I'll take care of it

[2022-01-20 13:12] galderz commented on #16631
Fantastic work @zakkak!! 👏👏👏

[2022-01-20 13:16] geoand commented on #16631
Great stuff!

Can we close this issue or is there still more to be done that is tracked by this?

[2022-01-20 13:20] AndreiYu commented on #14089
We made a workaround - CustomRuntimeConfigSource that has higher ordinal than System properties and Environment Variables

https://quarkus.io/guides/config-extending-support#example

Isolates are unable to see changes of system properties (since they have a snapshot of Image Heap at build or start time of native executable), but isolate refreshes env_variable changes with CustomRuntimeConfigSource

[2022-01-20 13:27] ebullient commented on #23051
Yep. I think I might have an issue about this already... the problem is identifying all of the options in a sane way. Have a thought about a workflow that would work for you?

[2022-01-20 13:32] zakkak commented on #16631
I think that the only outstanding issue is that we would still need someone from the quarkus team keeping an eye on some of the configurations, but I still haven't figured out a reasonable way to do so without spamming them with countless emails of false positives (due to our aggressive testing we often have plenty of failing tests in the CI ).

Nevertheless I think we can close this issue and whe

[2022-01-20 13:32] #16631 closed

[2022-01-20 13:41] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1723527290

[2022-01-20 13:51] geoand commented on #22658
Right, we should probably only allow it on `File`, which is semantically more correct. WDYT @michalszynkiewicz ?

[2022-01-20 14:00] andlinger commented on #22658
But in the JAX-RS client it also works with String and Buffer. Shouldn't it be the same in both implementations?

[2022-01-20 14:07] geoand commented on #22658
There is always a case to be made whether we should be perfectly compatible vs doing something that more semantically correct.

When it involves non-core features, I tend to prefer the latter. But in this case, it's ultimately up to @michalszynkiewicz

[2022-01-20 14:22] TomasHofman commented on #22777
There was a discussion in https://github.com/quarkusio/quarkus/pull/22103 going on in the direction that there is already a system property `quarkus.rest-client.disable-contextual-error-messages` for disabling this detailed exception, and that it could be turned into a proper configuration property. I'm going to look at that.

[2022-01-20 14:36] iocanel commented on #23051
I think that we could have an `image` top-level command and `build`, `push` sub-commands.
If pico cli supports optional subcommands, we could possibly add the a sub command per container image extension, in order to expose container image extension specific config.

So, we could possibly have something like this:

[code]

[2022-01-20 14:37] DavideD commented on #22230
Maybe I'm wrong but it seems that right now the only way to set this property is via a `persistence.xml`.
Because it doesn't work with Hibernate Reactive I don't think there is a way.

Would it be possible to add it as a new configuration property for hibernate-orm (and therefore reactive) in the `application.properties`? It should be bound to the persistence unit.

[2022-01-20 15:08] glefloch opened #23064 "Reenable MultiModuleKotlinProjectDevModeTest gradle test"
### Description

The `MultiModuleKotlinProjectDevModeTest` has been disabled because it starts timing out.

### Implementation ideas

Find the cause and enable the test.

[2022-01-20 15:09] sberyozkin commented on #22969
@FroMage FYI, https://github.com/smallrye/smallrye-jwt/pull/553

[2022-01-20 15:16] #22968 closed

[2022-01-20 16:09] gastaldi opened #23067 "Display Quarkus version in the Quarkus CLI"
### Description

When running the Quarkus CLI (installed via `sdk install quarkus`) it would be nice to have the version displayed when `quarkus` (without any arguments) is invoked along with link to git repo for issues etc. Currently the version is only shown when `quarkus -v` is executed.

### Implementation ideas

_No response_

[2022-01-20 17:14] zakhdar opened #23071 "App crash on first message when using rabbitmq (Smallrye reactive messaging) with Kogito"
### Describe the bug

I have created a small application to test the public api of Kogito, in this application I also use rabbitmq (Smallrye reactive messaging extension).

When my application consumes the first message (rabbitmq), the application restarts, the following messages do not pose any problem.

After several searches when I remove the dependencies of Kogito, the application works well,

[2022-01-20 17:18] evacchi commented on #23071
the reactive messaging addon is currently quite opinionated in what it expects (i.e. basically, Kafka), so I am not surprised it won't work with rabbitmq. I am not sure what the current status of pluggability is, maybe @fjtirado or @ricardozanini have some further details

[2022-01-20 17:21] zakhdar commented on #23071
thanks @evacchi  for the answer, isn't the fact of using reactive messaging supposed to make abstraction on the connector used (kafka , amqp , rabbitmq ...)

[2022-01-20 17:27] evacchi commented on #23071
indeed. However, the Kogito addon generates an event consumer that makes a few assumptions for simplicity.

We are working on a public API to allow end-users to write their own endpoints/event consumers (less automatic codegen involved). You can read more here https://blog.kie.org/2021/11/the-road-towards-a-kogito-public-api.html

the intended idea is that, if one diverges from the intended "happy

[2022-01-20 17:35] #23011 closed

[2022-01-20 19:15] kucharzyk opened #23072 "Resteasy reactive - missing @Form annotation"
### Describe the bug

In classic resteasy there is ```@Form``` annotation which allow extract form parameters to separate class. It's especially usefull with qute. Endpoints that saves large forms can have many fields. Too many to put them to method signature.

In reasteasy reactive it's missing.

https://docs.jboss.org/resteasy/docs/6.0.0.Final/userguide/html/_Form.html

### Expected behavior

Re

[2022-01-20 19:16] kucharzyk commented on #23072
/cc @geoand

[2022-01-20 20:25] andlinger opened #23073 "Websocket client not working anymore"
### Describe the bug

Connecting to websocket servers with Quarkus websocket client does not work since 2.4.0.Final and the update to Quarkus HTTP 4.1.3.
Connecting also does not work in Quarkus version 2.6.3.Final.
With 2.3.1.Final and 2.3.0.Final a connection is still possible.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

[2022-01-20 21:20] rafaelfnx commented on #22536
Hi @sberyozkin!
This topic has been idle since the new year, can we then continue? As I said before, your property suggestion `quarkus.smallrye-jwt.add-keys=true/false` would really help me! But I don't know how to proceed now, should I make an improvement proposal?

And I would also like to just try to take my further suggestion further from `smallrye.jwt.sign.key.location` to add the private key

[2022-01-20 21:22] jasonleung-hyphen opened #23075 "Failed to run continuous testing on apple m1"
### Describe the bug

After entered to continuous testing mode, it throws error `Cannot mix both @QuarkusTest based tests and io.quarkus.test.junit.QuarkusTest based tests in the same run`
but in fact `@QuarkusTest` is included in the test

example:
[code]

### Expected behavior

_No response_

### Actual behavior

[code]

### How to Reproduce?

1. `./gradlew quarkusDev`
2. enter continuous testin

[2022-01-20 21:28] stuartwdouglas commented on #23075
Can you provide a reproducer? That test works fine for me.

[2022-01-20 21:53] jasonleung-hyphen commented on #23075
it seems related to `@Nest` test cases 🤔

[2022-01-20 21:57] jasonleung-hyphen commented on #23075
[code]

[2022-01-20 22:28] sschulze opened #23077 "QuarkusIntegrationTest with quarkus-amazon-lambda-http and jar build doesn't work"
### Describe the bug

I generated a very simple Maven project with quarkus-amazon-lambda-http from the archetype quarkus-amazon-lambda-http-archetype. There I replaced `@NativeImageTest` with `@QuarkusIntegrationTest` as well as removed the examples for funqy, servlet and vertx. After that, `mvn verify -Pnative` runs through without any problems.

Now I would like to be able to run the integration

[2022-01-20 23:14] famod opened #23078 "Continuous testing can fail after `mvn test` when run without `clean`"
### Describe the bug

I added a workaround to my project for #22552 which is setting the scope of lombok to `test` instead of `provided` via a specific `qtest` maven profile (that has `<defaultGoal>quarkus:test</defaultGoal>`).
This works if cont' testing is started on a "clean" state, but if regular testing was run before via `mvn test`, this workaround does not have any effect anymore.
In other

[2022-01-20 23:15] famod commented on #23078
/cc @aloubyansky

[2022-01-20 23:27] aloubyansky commented on #23078
Haven't yet checked but this could be related to the classpath caching. `target/quarkus/bootstrap/test-app-model.dat`. Removing only that one could be enough.

[2022-01-20 23:31] famod commented on #23078
Yes, that's sufficient!

Btw, one could argue that there should be no difference in dependencies between `quarkus:test` and `mvn test` and so a reuse is even _desired_. Yeah, maybe/probably for the vast majority of cases.

[2022-01-20 23:32] famod commented on #23078
Is that caching using some cache key or is it just "if the file exists, just reuse it!"?

[2022-01-21 00:19] stuartwdouglas commented on #23078
The issue would be that the caching does not know about the '-Dlombok.scope=test' parameter, so it will cache whatever the first value is.

[2022-01-21 00:25] stuartwdouglas commented on #22552
@aloubyansky it looks like the 'provided' scoped dep is not ending up in the model, but for the 'mvn verify' use case it is on the class path so can be loaded from the system CL.

[2022-01-21 02:00] nian8 commented on #22962
now i reset my app
[code]
and update my code .
now @mkouba you can build it in native mode , it will be error.

[2022-01-21 02:07] nian8 commented on #22962
i review the qute-i18n source code that MessageBundles.setupNamespaceResolvers() .
in this method,
![image](https://user-images.githubusercontent.com/13718159/150452543-17c9dc48-4349-40e4-b59e-6fcef8c9e6c8.png)
--- so many code
i see the condition
[code]
it is always false when i did not set the MessageBundle.locale

[2022-01-21 02:53] zakhdar opened #23079 "FileUpload is null when uploading file with Resteasy Reactive"
### Describe the bug

I have a Resteasy client (JSF app running on WildFly) from wich i upload file to quarkus resteasy classic app and  it's work well.
When i use the same client with a resteasy reactive app the 'FileUpload' part of the multipart-form is always null.

**Pojo enclosing Multipart body on my client side (JSF app)**

[code]

**Endpoint on quarkus resteasy classic**

[code]
_**the Mul

[2022-01-21 03:04] debu999 commented on #22520
Yes. Works like a charm now no issue with application.yml usage
quarkus 2.6.2.Final works fine with kogito 1.15.0.Final
**&lt;dependency>
&nbsp;&nbsp;&lt;groupId>${quarkus.platform.group-id}&lt;/groupId>
&nbsp;&nbsp;&lt;artifactId>quarkus-kogito-bom&lt;/artifactId>
&nbsp;&nbsp;&lt;version>${quarkus.platform.version}&lt;/version>
&nbsp;&nbsp;&lt;type>pom&lt;type>
&nbsp;&nbsp;&lt;scope>import&lt;/sc

[2022-01-21 03:04] #22520 closed

[2022-01-21 03:26] zakhdar commented on #23079
don't know if it can help but i  write a small request filter to print out the entity body of request and the 'document' part is not null in  the filter  (i have truncated it in the console output bellow)

[code]

Filter output

[code]

[2022-01-21 04:30] XSAM commented on #22864
I found a similar issue when running a test that will use gRPC client even using Quarkus `2.6.3`.

Error logs:
[code]

[2022-01-21 04:35] XSAM commented on #22864
Maybe using #22865 could fix these kinds of issues once for all? It could stop `getVertxContext` throw `NullPointerException` while `vertx` is not initialized.

[2022-01-21 04:56] synox commented on #23023
Thank you all for providing the workaround.

Actually it would be great if the default CRUD api mock return just any version on `/version`.

[2022-01-21 05:30] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1727069157

[2022-01-21 06:09] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1727071069

[2022-01-21 06:18] #22975 closed

[2022-01-21 06:20] geoand commented on #22864
That sounds similar to https://github.com/quarkusio/quarkus/pull/22866. #22865 is not the proper solution

[2022-01-21 06:25] XSAM commented on #22864
Yeah, but #22866 is not working for this new situation by disable otel while pulling image.

[2022-01-21 06:37] geoand commented on #22864
I know, I never said it would fix your latest issue. What I am saying is that the root cause is similar.

Because it's just a bandaid. We don't want arbitrary Vert.x contexts popping up out of nowhere.

[2022-01-21 06:41] geoand commented on #23072
Sounds like a useful feature, thanks for reporting!

[2022-01-21 06:43] amitkumar7566 commented on #22595
@radcortez I added settings.xml to test the snapshot but no luck.. I have also pushed the updated code in the same reproducer code.
Can you please make changes on the reproducer code and push a working one?

[2022-01-21 06:48] geoand commented on #23079
The `FileUpload` part is null because there is no `filename` attribute in the chunk that defines the file. This is essentially the same issue as https://github.com/quarkusio/quarkus/issues/20938.

@stuartwdouglas should we update the parser to handle this use case?

[2022-01-21 06:57] geoand commented on #23077
Thanks for reporting.

Can you make the reproducer available please? I am getting a `404` when accessing https://github.com/sschulze/Test

[2022-01-21 06:59] geoand commented on #23055
I am surprised we don't have any TCK issues with this...

@FroMage any idea?

[2022-01-21 07:00] mkouba commented on #22962
I did use this version of code and it didn't fail...

Hm, that shouldn't be the case. The `MessageBundles.DEFAULT_LOCALE` key is always used for the default bundle interface [here](https://github.com/quarkusio/quarkus/blob/main/extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/MessageBundleProcessor.java#L274).

What version of Quarkus do yo use? Did you get a chance to try my br

[2022-01-21 07:00] zakhdar commented on #23079
Hi @geoand ,
thank you for your response , after added @PartFilename("filename") on the field on client side it's work as expected

[2022-01-21 07:01] geoand commented on #23079
Great to hear!

I will close this issue as a duplicate of https://github.com/quarkusio/quarkus/issues/20938.

[2022-01-21 07:01] #23079 closed

[2022-01-21 07:17] fwippe commented on #23072
There is already an annotation `@BeanParam` that IMHO could be used for that. Alas, it doesn't yet support `@FormParam`s. I am going to create a PR to remedy that.

[2022-01-21 07:19] geoand commented on #23072
@fwippe you are very correct! I had forgot about `@BeanParam` since I have never used it myself...

Am pretty sure that it does support `@FormParam` already. What makes you think it does not?

[2022-01-21 07:21] sschulze commented on #23077
@geoand Reproducer is public now.

[2022-01-21 07:27] fwippe commented on #23072
Because I thought so myself and tried to use it in a company project 🙂 Looking at `io.quarkus.jaxrs.client.reactive.deployment.JaxrsClientReactiveProcessor#addBeanParamData` there are cases for `BeanParam`, `QueryParam`, `CookieParam`, `HeaderParam` and `PathParam`, but no `FormParam` ☹

[2022-01-21 07:29] geoand commented on #23072
Ah, you mean the client, I didn't look at the client code.

If you want to provide a PR to fix that @fwippe, that would be much apprecited.

Thanks

[2022-01-21 07:30] aloubyansky opened #23080 "Add test base runtime classloader"
### Description

Originally reported and discussed in https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Kogito.20and.20RESTEasy.20Reactive/near/268701519
The fixing change https://github.com/quarkusio/quarkus/pull/23076

### Implementation ideas

_No response_

[2022-01-21 07:31] geoand commented on #23072
Let's close this one as `Won't fix`, since `@BeanParam` seems to cover what is requested.

Sorry for having you open an issue @kucharzyk, I should have remember about `@BeanParam`.

And thanks @fwippe for stepping up :)

[2022-01-21 07:31] #23072 closed

[2022-01-21 08:34] geoand commented on #23077
@patriot1burke I get [this](https://github.com/quarkusio/quarkus/blob/2.6.3.Final/extensions/amazon-lambda/deployment/src/main/java/io/quarkus/amazon/lambda/deployment/AmazonLambdaProcessor.java#L239). What's the reason for the different behavior in native mode vs JVM mode?

[2022-01-21 08:41] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1727088157

[2022-01-21 09:39] famod commented on #23078
FTR, I'm now using this workaround:
[code]

[2022-01-21 09:54] aloubyansky commented on #23078
Looks like `-Dlombok.scope=test` isn't propagated to `quarkus:test`. If you change the scope of lombok in the POM to a constant value `test`, it seems to work.

[2022-01-21 09:56] aloubyansky commented on #23078
Ah, no, it's not propagated to the default `mvn test` so it records `provided`.

[2022-01-21 09:59] ppalaga opened #23082 "Run integration tests against container"
### Description

In a situation, where end users are developing on Windows or Mac and their target production platform is a linux container containing a GraalVM native executable, I believe, it would be very useful for the local development to be able to run tests directly against the container, rather than against a native executable built for the local platform that is different from their actua

[2022-01-21 09:59] aloubyansky commented on #23078
No, it is, sorry, ignore me.

[2022-01-21 10:00] mihaipoenaru commented on #17280
For the use case of "logging inbound requests for debugging/support purposes", couldn't we just achieve this by putting that entire body inside a Uni and then doing something like `subscribe().with(log::debug)` ? It would make this filter non blocking.

[2022-01-21 10:13] aloubyansky commented on #22552
Yes, it makes sense actually. I'll add `provided` dependencies in the test mode.

[2022-01-21 10:15] JiriOndrusek opened #23083 "Devservices derby doesn't start because of missing resource bundle"
### Describe the bug

Issue seems to be the same as the older (fixed) one -  https://github.com/quarkusio/quarkus/issues/21639.
According to the [documentation](https://quarkus.io/guides/datasource#dev-services), zero config setup for `Apache derby` should work. But if it is used, there is an error preventing db to start:
[code]

### Expected behavior

Derby dev service should start.

### Actual b

[2022-01-21 11:21] pschyma opened #23084 "@TestHTTPEndpoint misconfigures Rest Assured in case of regex in @Path"
### Describe the bug

Having a resource annotated with e.g. `@Path("/report/{month : \\d{4}-\\d{2}})` configures Rest Assured to expect a path parameter named "month : \\d{4". (Basically Quarkus injects the whole path, but RA does not support regex here.)

### Expected behavior

Quarkus strips the regex from the injected URL, so only "/report/{month}" is injected into RA.

### Actual behavior

Qua

[2022-01-21 12:15] geoand commented on #23082
I might be missing something, but doesn't `@QuarkusIntegrationTest` cover you needs?

[2022-01-21 12:30] mkouba opened #23088 "Resteasy reactive - make it possible to extend the set of "non-blocking" return types"
### Description

It might make sense to register additional types that would result in implicit `@NonBlocking`. For example, a resource method that returns `TemplateInstance` can be considered non-blocking as well.

### Implementation ideas

_No response_

[2022-01-21 12:30] mkouba commented on #23088
CC @geoand

[2022-01-21 13:20] zakkak commented on #21481
@maxandersen You might want to include https://github.com/oracle/graal/issues/4006 as well

[2022-01-21 13:28] ppalaga opened #23093 "quarkus-maven-plugin:create fails on Windows with IOException: Stream Closed"
### Describe the bug

Going through the new Camel Quarkus Workshop by @aldettinger on Windows.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Have a Windows machine
2. `git clone git@github.com:aldettinger/camel-quarkus-workshop.git` - not sure this is actually needed. I am just listing what I did
3. 'cd camel-quarkus-workshop'
4.
[code]

The a

[2022-01-21 13:38] ppalaga commented on #23093
Hm.. on the console, it looks like it just fails, but in reality, it actually created the project as expected.
BTW, the same issue with quarkus 2.6.3

[2022-01-21 15:33] geoand commented on #23088
@mkouba https://github.com/quarkusio/quarkus/pull/23098 takes care of the issue

[2022-01-21 15:35] patriot1burke commented on #23077
What's wrong with doing a regular @QuarkusTest?  Its executing the same exact code path that you would run in production.

[2022-01-21 15:43] geoand commented on #23077
Nothing wrong with it.

But [@QuarkusIntegrationTest](https://quarkus.io/guides/getting-started-testing#quarkus-integration-test) was introduced to cover a different set of scenarios and people are now using with Lambda when building a JAR and it's failing

[2022-01-21 15:52] patriot1burke commented on #23077
@QuarkusIntegrationTest will not work with regular JAR/Java and any quarkus lambda extension.  For a pure Java deployment for AWS Lambda, there is no quarkus poll loop as the -runner.jar runs inside the AWS Java runtime and the AWS runtime executes the poll loop.

Why does it work in native?  Well, with a native build quarkus has to execute a poll loop itself as the native executable does not run

[2022-01-21 15:52] #23077 closed

[2022-01-21 15:52] JohnnMartins commented on #21120
Why it is not allowed yet? and is there any chance it is allowed?

[2022-01-21 15:54] patriot1burke commented on #23077
BTW, I think @QuarkusIntegrationTest is overkill for 99.999999% of scenarios and just eats more CI server cpu.

[2022-01-21 16:15] patriot1burke commented on #22595
@amitkumar7566 The PR didn't work?  Or you couldn't get access to snapshot?

[2022-01-21 16:22] fwippe commented on #23072
For the record: https://github.com/quarkusio/quarkus/pull/23099 will enable `@FormParam`s for `@BeanParam`s

[2022-01-21 16:23] #13663 closed

[2022-01-21 16:39] amitkumar7566 commented on #22595
@patriot1burke I tried both.
1. Adding settings.xml with the snapshots configuration
2. Changing the POM version to 999-SNAPSHOT

Here is the reproducer code: [https://github.com/amitkumar7566/xray-native-image-test.git](url)

Would you mind making the necessary changes in this reproducer code and push it to the same repo?
I can check.
May be I might be doing things wrong.

[2022-01-21 16:47] sschulze commented on #23077
I understand the root cause with the poll loop - I already thought it's something in this direction, but I didn't understood how the mock-event-server comes into play when executing a native-image QuarkusIntegrationTest.

Regarding our use case:
We usually generate a native image for deployment, so we write QuarkusIntegrationTests to ensure we won't run into some problems cause by native-image (i.

[2022-01-21 16:50] josephearl opened #23100 "Quarkus 2.6.3.Final - Quartz @Scheduled test fails on Linux after upgrading from 2.6.2.Final"
### Describe the bug

I have a Quartz scheduled task which clears some old entries from my database:

[code]

I have set up my test configuration to disable the scheduled task running by default for other tests:

[code]

And then in my scheduled task test I explicitly enable the scheduler for this specific test (the database is initially populated with 3 entries - 2 new and 1 old that should be de

[2022-01-21 16:52] geoand commented on #23077
I personally don't agree with closing the issue.

IMO, we should make @QuarkusIntegrationTest work in this case as well

On Fri, Jan 21, 2022, 18:47 Stefan ***@***.***> wrote:

[2022-01-21 16:54] FroMage commented on #22762
The method's caller is the upstream and registers on the stream as soon as the method returns, no?

[2022-01-21 16:58] #23007 closed

[2022-01-21 17:03] cescoffier commented on #22762
Yes, but, it must wait to receive the `Subscription` object before doing anything (request). You won't get a failure or anything until you receive that object (that would be a violation of the protocol).

[2022-01-21 17:05] FroMage commented on #23055
Also surprised. I honestly don't remember how we implemented this.

[2022-01-21 17:08] FroMage commented on #23055
Well, I don't remember because I didn't write this part, check out `FormEncodedDataDefinition` and/or ask @stuartwdouglas ;)

[2022-01-21 17:16] klutzer commented on #23014
@patriot1burke You can find more details on previous (unsolved yet) issue: https://github.com/quarkusio/quarkus/issues/21346 (I would open a new issue but a found this one with the same problem)

Tested now with 2.6.3 and the problem still remains. Also, after you open Dev UI, your application will not respond even with external calls (or cURLs). This problem only occur when some of the lambda dep

[2022-01-21 17:18] DavideD commented on #22254
The propery `title` is mapped on a column of type `text` in the database. This means that the value returned by a native query is going to be a `java.sql.Blob`.

The error happens because `session.createNativeQuery("SELECT title FROM books WHERE id = " + id, String.class)` is trying to cast a `Blob` into a `String`.

I can see three possible solutions:

* Convert the blob value into a String:
[cod

[2022-01-21 17:18] klutzer commented on #21346
Already opened by @AndLvovSky: https://github.com/quarkusio/quarkus/issues/23014

[2022-01-21 17:20] DavideD commented on #22254
@Sanne I don't think this is a bug and we can close this issue

[2022-01-21 18:13] cherrydev opened #23101 "Override container image deployment registry"
### Description

There seems to be some significant use cases where the registry that a built container image will be pushed to, and the registry that it would be deployed from might be different. In particular, if you have multi-region clusters, it is common to have mirrors of your container registry in each region. This is important both to reduce data transfer costs and deployment times. A stra

[2022-01-21 18:51] #23088 closed

[2022-01-21 18:51] #23084 closed

[2022-01-21 19:40] patriot1burke commented on #23077
Getting it to work with QuarkusIntegrationTest would be a hack and the code would be even more divergent than it would be in an actual lambda environment, especially native.  Running QuarkusTest is about the closest you can get to native without it being native.

[2022-01-21 19:56] DavideD commented on #19539
See PR: https://github.com/quarkusio/quarkus/issues/19539

[2022-01-21 20:04] ppalaga commented on #23082
Indeed, `@QuarkusIntegrationTest` looks like what I am looking for. I did not know it exists, thanks for the info.

Here is the link for future readers: https://quarkus.io/guides/getting-started-testing#quarkus-integration-test

[2022-01-21 20:04] #23082 closed

[2022-01-21 20:56] PvlPech commented on #17280
+1

[2022-01-22 00:18] famod commented on #23100
Might be related to #22717

[2022-01-22 09:14] romilpunetha commented on #23046
Found the solution here: https://quarkus.io/guides/mongodb.

[2022-01-22 11:37] famod opened #23109 "Auto-mocking `Uni` does not work in continuous testing, failing tests that work in normal testing"
### Describe the bug

For normal testing (e.g. via surefire), [`MutiniyAnswer`](https://github.com/quarkusio/quarkus/blob/2.7.0.CR1/test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/MutinyAnswer.java) is auto-registered via a custom [configuration](https://github.com/quarkusio/quarkus/blob/2.7.0.CR1/test-framework/junit5-mockito/src/main/java/org/mockito/configurat

[2022-01-22 12:08] #22807 closed

[2022-01-22 18:05] DmitriyO opened #23110 "quarkus-resteasy-reactive PathMatcher allows any extra character in the end of valid path"
### Describe the bug

when using **quarkus-resteasy-reactive**, appending any extra character in the end of a valid path doesn't result in 404 but instead gets to the existing valid route
making simple `@Path("hello")` resource, will return a response when calling /hello, but also /helloX (X = any character) and /helloX/, while the invalid paths should result in 404
appending more than 1 character

[2022-01-22 20:25] kenyee commented on #13425
Got bit trying to mix these too:
[code]
You can't use the hibernate reactive artifacts with panache-kotlin?

[2022-01-22 23:57] bvahdat opened #23113 "Native build with quarkus-jdbc-oracle + quarkus-jdbc-db2 extension dependencies fails"
### Describe the bug

Usage of the JDBC Driver extension for Oracle is causing the native build to fail when used together with the JDBC Driver extension for DB2 as following:

[code]

### Expected behavior

I expect to be able to build natively using both extensions by the same application.

### Actual behavior

The native build is failing.

### How to Reproduce?

- Clone https://github.com/bvahd

[2022-01-23 10:49] josephearl commented on #23100
Thanks @famod that pointed me in the right direction - by default the scheduled task was configured to execute once a day and was being overridden just for this test.

Moving the `delete.cron` configuration out of the `TestProfile` and into the configuration as:

[code]

got the test passing.

[2022-01-23 10:49] #23100 closed

[2022-01-23 16:18] tares42 commented on #20492
With removing the trailing space it works now!
That you very much for your investigation and help!

[2022-01-23 17:09] cescoffier commented on #23071
@evacchi should this issue be moved to Kogito? I don't believe we would be able to do anything from Quarkus.

[2022-01-23 17:11] cescoffier commented on #15883
Marking it as won't fix (at least for now).

[2022-01-23 17:11] #15883 closed

[2022-01-23 17:23] ThoSap opened #23117 "Reduce the size of container images with DockerSlim"
### Description

Hi,

I just read the [RedHat article (Reduce the size of container images with DockerSlim)](https://developers.redhat.com/articles/2022/01/17/reduce-size-container-images-dockerslim) from [this tweet](https://twitter.com/bibryam/status/1485188557463449603?t=uHJyxrzUfINKXuwdNBKojQ).

Could DockerSlim be something for even smaller JVM/native Docker images?
https://dockersl.im/
https

[2022-01-23 18:39] bchapuis commented on #11464
I'm encountering the same issue with `@FormParam`. When the param is of type Integer or Long, I get the following error:

[code]

[2022-01-23 20:15] famod commented on #23117
Interesting! It seems to be a Go binary, so it's probably not directly "embeddable" in the Qaurkus container creation (like Jib for instance).

But maybe there could be a flag to execute DockerSlim (which would need to be on the PATH) after the image is built/before it's pushed?

[2022-01-23 20:36] kenyee commented on #16785
@MartinX3 : can you post a small snippet of how your resource calls into your service?
I'm using a suspend fun resource but getting this error: "You have attempted to perform a blocking operation on a IO thread" which isn't intuitive.  It's a suspend method, so it should be able to block, though ideally would run using a reactive Panache call but it seems like "io.quarkus:quarkus-hibernate-orm-pan

[2022-01-23 22:19] #23109 closed

[2022-01-23 22:46] MartinX3 commented on #16785
@kenyee I use the Java version of the reactive stuff and add the needed workarounds intelliJ told me to use it.
Also I use reactive in every layer and Mutiny for the data transfer between the layers.

Also I don't use any await, just mutiny stuff.

If you don't use unis or multis, you need to put @Blocked on every rest API class or whatever interacts with your application.

[2022-01-24 00:34] kenyee commented on #16785
Thanks...was hoping to use kotlin coroutines instead because it looked like resteasy reactive supported using suspend fun methods 🤷
I'll try using the non-kotlin panache-reactive instead.

[2022-01-24 00:41] kenyee commented on #16785
and any idea why we need a -kotlin version of quarkus-hibernate-orm-panache?
Seems like Kotlin should just work in backwards compatibility mode...

[2022-01-24 01:13] stuartwdouglas commented on #17280
I think the current solution would be to inject the `org.jboss.resteasy.reactive.server.spi.ServerHttpRequest` and call `setReadListener` to do a non-blocking read.

[2022-01-24 03:19] stuartwdouglas commented on #23083
So the issue here is that even though the server parts of derby are listed as parent first they don't actually end up on the class path, as they are only deployment time dependencies rather than runtime ones, so the client can't see them.

We could add them as dependencies in the mojo/gradle plugin I guess, but 'launch from IDE' still won't work.

We could also just stop them all being parent firs

[2022-01-24 03:33] stuartwdouglas commented on #20938
I think if we are going to fix this it needs to be done via the application somehow notify the parser that a given field is a file, anything else will be somewhat hacky and have the potential to cause other problems.

[2022-01-24 03:45] stuartwdouglas commented on #23055
Do you have a reproducer? The spec and RestForm code should be exactly the same, and the TCK does test this.

[2022-01-24 04:16] ashwinair commented on #21905
Hi @gsmet, if no one is working on this issue, can you please assign me.

p.s  I was trying to reproduce this issue on my side and looks like the issue mentioned in the title is already fixed.

can you explain this a bit? please :)
I'm new to the codebase that's why.....

[2022-01-24 04:20] ashwinair commented on #21905
I understood that - " _we should warn the user when he executes the `quarkus registry add registry.quarkus.redhat.com` if there is no config file defined by the user._"
am I right?

[2022-01-24 05:34] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/1738144174

[2022-01-24 06:09] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1738146523

[2022-01-24 06:23] geoand commented on #23117
@cescoffier WDYT?

[2022-01-24 06:56] geoand commented on #23113
I am sure @Sanne will be thrilled by this 😆

[2022-01-24 06:56] geoand commented on #23101
I'll leave this to @iocanel to decide

[2022-01-24 07:19] cescoffier commented on #23117
We would need to try and measure the benefit. I'm not sure we will save much for `micro` and even Java `runtime` images.  But, it deserves a spin on the "Base" image and on the images including the Quarkus app.

I've looked into `micro` deeply. I know I can shave some Mb, so it would be interesting to see how much we can save with this approach.

[2022-01-24 07:27] TobiWeier opened #23126 "All processing of Kafka messages for different topics share a single instance of a RequestScoped injected ContextHolder"
### Describe the bug

We use a RequestScoped annotated class as the RequestContextHolder for storing various information during the flow of our business logic on a jax rs request.
This RequestContextHolder is also used by Kafka while processing messages.
Now we had to realize that only a single instance of the RequestContextHolder is injected for the entire Kafka message reception from different t

[2022-01-24 07:31] JozefDropco opened #23127 "Logging into socket"
### Description

Hello,
I would like to add option to use plain UDP/TCP/SSL_TCP socket logging which is supported out of the box by JBossLogManager. In our environment we dont have currently allowed to use GELF nor Syslog. We were able to log from our app to logstash but those 2 input methods are not currently allowed.

We would like to add basic formatters like plain and JSON.
In Json: we would l

[2022-01-24 07:55] aloubyansky commented on #8593
[code]

[2022-01-24 08:00] mkouba commented on #23055
I'll try to prepare a reproducer today.

[2022-01-24 08:15] glefloch commented on #12889
Using the quarkus property, we can only configure specific manifest section and not the main section. Is there a reason why ? or should we be able to add attributes to the main section too?

[2022-01-24 08:17] kshpak opened #23129 "Missing field in ConsulConfigProcessor NoSuchFieldError: CONSUL_CONFIG"
### Describe the bug

consul-config 999-SNAPSHOT throws an error
[code]
The field is missing in source code

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

git clone https://github.com/quarkus-qe/quarkus-test-suite

cd properties
mvn clean verfiy

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

OpenJDK Runtime Envir

[2022-01-24 08:19] cescoffier commented on #21175
I just tried with the Reactive REST Client and the mapper is called.
I will try with the non-reactive one.

[2022-01-24 08:19] mkouba commented on #23055
@stuartwdouglas Here it is: https://github.com/mkouba/issue-23055

There is a simple form in the `index.hml` -> enter a space-separated value in the input field and submit the form.

[2022-01-24 08:23] cescoffier commented on #22976
@hguerrero Ping.

[2022-01-24 08:58] cescoffier commented on #21175
It's not an issue related to Mutiny. Same behavior when returning a CompletionStage.
The mapper is called, but the exception is then swallowed.

[2022-01-24 09:07] geoand commented on #23129
`quarkus-test-suite` is not building for me.

[code]

[2022-01-24 09:10] evacchi commented on #23071
I have created https://issues.redhat.com/browse/KOGITO-6616

[2022-01-24 09:14] maxandersen commented on #21905
The config file can be present without a registry in it.

The suggestion is to print a warning if no registry is already set. i.e. the list of registries are empty in the config file.

[2022-01-24 09:19] MartinX3 commented on #16785
You can always use java stuff, but kotlin stuff is optimized for the kotlin language.
As ex ample you get kotlin nullables.

[2022-01-24 09:20] gsmet commented on #23129
You need to build Quarkus with `-Prelocations` to get it to find this artifact.

[2022-01-24 09:21] maxandersen commented on #23051
I like this for sure - always thought we should be able to make a nicer UX (at least less arcane than generic mvn/gradle commands will).

In similar vain something like `quarkus deploy` would be an option. Albeit it won't work for anything but kubernetes atm - i.e. funky doesn't provide deploy options in the same manner, ...could we do that @patriot1burke ?

[2022-01-24 09:23] gsmet commented on #23129
But my guess is that @kshpak  has an old `io.quarkus:quarkus-consul-config` artifact around in his `.m2` as it was built before and he didn't use `-Prelocations` to build the new one.

[2022-01-24 09:27] kshpak commented on #23129
@gsmet I will try to build it with `-Prelocations`. Is `-Prelocation` is the thing for moved dependencies to Quarkiverse? And should this profile be used then all the time afterward to build 999-SNAPSHOT?