[2022-08-23 09:23] lordofthejars opened #27434 "Kubernetes Config extension richer injection"
### Description

Currently Kubernetes Config extension allows you to inject multiple secrets by doing `quarkus.kubernetes-config.secrets=my-connect,my-cluster-cluster-ca-cert`. That's fine, but if I am correct, what's is doing is putting all keys in the same `map`, and then you refer to them as values in each key:

`kafka.ssl.truststore.password=${ca.password}`

But what happens if there is a key

[2022-08-23 09:35] DavideD commented on #26922
I think the problem is that the `HttpSecurityRecorder` ends the response without considering that we might have a custom mapper that wants to add something to it.

The response gets closed in [HttpSecurityRecorder#authenticationMechanismHandler](https://github.com/quarkusio/quarkus/blob/d6ac3208dd2201bb15bda8009c2cc3303afd2aad/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runti

[2022-08-23 09:59] #27416 closed

[2022-08-23 10:00] FroMage commented on #27430
Thanks.

[2022-08-23 10:15] geoand commented on #27431
https://github.com/quarkusio/quarkus/pull/27436 takes care of it

[2022-08-23 10:16] DCCSKrezovic opened #27437 "[quarkus-liquibase/native]: Failed to build native executable when liquibase is enabled on non-primary data source"
### Describe the bug

When building native quarkus app with liquibase enabled on secondary data source only, building fails with following exception

[code]

application.properties is configured as follows:

[code]

Reason: We run application code with non-priviledged user that has no alter privileges in production. "priviledged" datasource is only used by liquibase. This works in JAR mode.

Repro

[2022-08-23 10:24] DCCSKrezovic commented on #27437
Looks like duplicate of https://github.com/quarkusio/quarkus/issues/23224

[2022-08-23 10:34] gsmet commented on #27437
I was having a look before I saw you self assigned. And AFAICS, the problem is that we have a default value for the changelog file and no real way to say that Liquibase should be disabled for the default datasource.

[2022-08-23 10:51] geoand commented on #27437
@gsmet was about to tell you exactly that 😉. And to ask how that's handled in the regular Datasources.
But if you're already on it, I'd be more that fine to unassign myself.

[2022-08-23 11:04] knutwannheden commented on #27329
@geoand Yes, it looks like we will have time to look into this for one of the next few Quarkus minor releases.

[2022-08-23 11:10] geoand commented on #27329
Cool!

[2022-08-23 11:11] naah69 opened #27439 "build rest client error from class of jar."
### Describe the bug

the below is error log.
[code]

### Expected behavior

build rest client success.

### Actual behavior

build rest client error.

### How to Reproduce?

build rest client in bean:
[code]

the rest client interface from jar and made it jandex(from jandex-maven-plugin).
![image](https://user-images.githubusercontent.com/25682169/186143647-06cb1b5a-7e99-45dc-97eb-9f02f539b304.pn

[2022-08-23 11:13] geoand commented on #27248
Very much this. I wouldn't stay on JDK 15 for any longer than I had too :)

[2022-08-23 11:14] DCCSKrezovic opened #27440 "[documentation]: Unknown option quarkus.http.proxy-address-forwarding"
### Describe the bug

In documentation page about setting quarkus behind a reverse proxy, an invalid option is mentioned in the first paragraph

https://quarkus.io/guides/http-reference#reverse-proxy

It mentions ```quarkus.http.proxy-address-forwarding=true```

However, two blocks down below, the correct option is shown

[code]

### Expected behavior

_No response_

### Actual behavior

_No respo

[2022-08-23 11:26] sberyozkin commented on #27389
@mkouba Sure. We have not really prioritized on the Form authentication (which was introduced in Quarkus to help users already familiar it to get started fast with Quarkus Security) and instead recommend OIDC, but the users are keeping using it, so makes sense to add this hint. I'm not sure though why though the code at https://stackoverflow.com/questions/68640209/quarkus-http-authentication-logou

[2022-08-23 11:29] stephan-strate commented on #27437
That would be a really cool addition from security perspective. Having a separate user for liquibase execution can help to prevent/delay sql injections from getting worse.
Sprint Boot supports that aswell.

[2022-08-23 11:48] geoand commented on #27253
I could not reproduce this, so we'll definitely need a reproducer

[2022-08-23 11:50] gsmet commented on #27437
@geoand oh, I switched to something else too, didn't want to step on your toes :).

I think we have 2 options:
- make the changelog file optional and either never define a default value or... define a default value only if we don't have named datasources (or if you have more than 2 datasources, not sure what's best) - which kinda makes sense because if you have several datasources, there is a good

[2022-08-23 11:52] geoand commented on #27437
I too think that `1` is a good compromise and definitely **way** better than what we have now.

[2022-08-23 12:02] jerboaa commented on #27211
Building `quarkus-integration-test-grpc-interceptors-999-SNAPSHOT-runner` seems to have the same problem.

[2022-08-23 12:11] dector commented on #1418
Is it possible to re-use some existing Quarkus file watching mechanism in a reactive way to detect if source files or resources were changed? Or it's not yet possible and we need to implement our own file-watcher for now?

[2022-08-23 12:16] brunobat opened #27441 "Update tests with OTel semantic conventions"
### Description

Once this OTel PR is done and opentelemetry-semconv is released: https://github.com/open-telemetry/opentelemetry-java/issues/4715, we need to update some tests that were failing here:

extensions/opentelemetry/opentelemetry/deployment/src/test/java/io/quarkus/opentelemetry/deployment/GrpcOpenTelemetryTest.java
integration-tests/opentelemetry-grpc/src/test/java/io/quarkus/it/opente

[2022-08-23 12:17] gsmet commented on #27345
@GavinRay97 were you able to isolate this thing? We're supposed to build the Final core artifacts tomorrow so if we want this fixed, we would need a reproducer like... now... :)

[2022-08-23 12:18] Sanne commented on #1418
@dector probably best to ask on zulip [https://quarkusio.zulipchat.com/#narrow/stream/187038-dev].

I think you could use `WatchServiceFileSystemWatcher` but it's not meant as public API - @stuartwdouglas might know about something better.

I'd also question why you need it? In general Quarkus just rebuilds it all, as we can do it quickly.

[2022-08-23 12:23] yrodiere commented on #27437
Can't we define a default value *only if the default file exists? That's more or less what we do for Hibernate ORM:

https://github.com/quarkusio/quarkus/blob/56ab22e70cee3a6abd95b345490aa65728f37d1f/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java#L1114-L1115

---

Regarding `enabled`/`active`...

`enabled` is generally only at the e

[2022-08-23 12:35] Sgitario commented on #27430
So, what we're trying to cover here is the following use case:

[code]

And the right solution should be to reuse the message readers to parse integer or any other type (like the Person class) to String, plus taking into account the media type defined in the `PartType` annotation.

Is this right?

[2022-08-23 12:42] DCCSKrezovic opened #27442 "[quarkus-oidc] Wrong client id sent to introspection endpoint when introspection credentials are given"
### Describe the bug

This has been mentioned by a colleague that's using the same OIDC provider as I am

When setting the form field "client_id" in the introspection call, it must match the introspection_client_id introduced in quarkus 2.12 (see pr https://github.com/quarkusio/quarkus/pull/26917#issuecomment-1222351950)

Otherwise, the following error is shown:

![image](https://user-images.githu

[2022-08-23 12:43] #27232 closed

[2022-08-23 12:54] tsegismont commented on #27386
This might be related to pipelining (https://github.com/eclipse-vertx/vertx-sql-client/pull/1168).

I am trying to reproduce atm

[2022-08-23 12:58] sberyozkin commented on #27442
@DCCSKrezovic I'm not sure about it. This rule that your provider is implementing does not look correct to me. The whole concept of using a custom authentication for the token introspection (avoiding the client id) is non standard, but if the client id is present then I see no problems with your provider ignoring this field in the introspection request since it has no impact on the actual introspe

[2022-08-23 13:02] DCCSKrezovic commented on #27442
HI @sberyozkin

According to the spec, only the token and token_type_hint are required. Everything else is optional and OIDC provider specific. Can providing the client id be made into a turnable?

https://www.rfc-editor.org/rfc/rfc7662#page-4

[2022-08-23 13:06] mqs24d commented on #27442
@sberyozkin the oidc provider we are using defines two clients:
* one client which is for token/userinfo retrieval
* and a second one just for the introspection (so basically the custom authentication is just a separate client-id/client-secret)
So when the introspection is done the oidc provider expects the client id of the introspection client. I also don't know why our provider is doing that.

[2022-08-23 13:26] sberyozkin commented on #27442
@DCCSKrezovic Hi, as far as the other optional parameters are concerned they are not really about the client authentication, but about some extra properties related to the actual introspection input. The client authentication implied there refers to the OIDC client.

I guess so, I can just add one more property to the `IntrospectionCredentials` config group to skip it if required

[2022-08-23 13:53] marcvanR commented on #26922
Thanks for taking another look!

I'm not sure how to use this information to get it to work. Or is it just something that will not work?
Maybe I'm still missing something.

[2022-08-23 14:30] geoand commented on #27353
This is almost certainly caused by https://github.com/quarkusio/quarkus/pull/26802.

The reason it works in JVM mode is because in that case the property read directly from the JAR file.
However in native mode, the property is attempted to be read by `DefaultsConfigSource` and it's superclass (`KeyMapBackedConfigSource` which I don't really understand as it's complex and I've never looked at it be

[2022-08-23 14:33] DavideD commented on #26922
Sorry, my message wasn’t clear.

I think this is a bug (probably in RestEasy reactive). I don’t have a workaround. It happens even when Uni are not used.

I haven’t tested it using RestEasy non reactive

[2022-08-23 14:35] knutwannheden commented on #20800
@radcortez I will try to see if #26802 fixes this problem.

[2022-08-23 14:37] gsmet commented on #27353
So question: is the cure worst than the disease? My understanding is that any map based config won't work in native from now on? It seems like something problematic and I wonder if we should revert this particular patch until @radcortez can revisit it.

WDYT?

[2022-08-23 14:41] gsmet commented on #27353
After discussion with @geoand , it only affects using brackets which is not what we recommend (we recommend the dot notation even for maps). So we can live with it for .0.Final and we will discuss it when @radcortez is back.

[2022-08-23 14:44] #27122 closed

[2022-08-23 14:50] sberyozkin commented on #27442
No problems, we'd like to support various OIDC provider setups, whenever possible

[2022-08-23 14:54] philippegoncalves commented on #21217
Same issue reproducible on latest version **2.11.2.** Something strange is, sometimes the native compile produce a binary that does not throw this error at startup, but most of the time it will. Note that we have a multi module project with a complex architecture, but this should not impact the native build compilation.

[2022-08-23 14:55] #27414 closed

[2022-08-23 14:57] raffaelespazzoli opened #27448 "unable to run dev container for serverless workflow"
### Describe the bug

running the hello world example with podman for serverless workflow (https://kiegroup.github.io/kogito-docs/serverlessworkflow/main/getting-started/create-your-first-workflow-service.html), I get the following error:

2022-08-22 20:37:51,314 INFO  [org.tes.uti.RegistryAuthLocator] (build-37) Failure when attempting to lookup auth config. Please ignore if you don't have images

[2022-08-23 15:00] marcvanR commented on #26922
Ok thanks!

I guess for now I'll have to create my own implementation of the JWT verification and throw the appropriate exceptions within the method itself.

[2022-08-23 15:21] #26782 closed

[2022-08-23 15:22] #26776 closed

[2022-08-23 15:25] gsmet opened #27452 "Fix TODO in DropTargetsSampler.java"
See https://github.com/quarkusio/quarkus/pull/26898/files#r952770353

(Opening an issue as Roberto is on PTO)

[2022-08-23 16:12] philippegoncalves commented on #21217
I just realized that the issue is because of using command **assemble** instead of **build** when using gradle as the build tool. Our bad, maybe it is worth it to specify on the documentation to only use the **build** command, as it is known to run the test as well, but not when building in native mode. I believe people coming from other gradle projects will be tempted to use the **assemble** comm

[2022-08-23 16:25] GavinRay97 commented on #27345
Alright, I've managed to reproduce it, please try `./gradlew quarkusDev` and then clicking `Config Editor` from the `/q/dev` UI

[reproducer.zip](https://github.com/quarkusio/quarkus/files/9404435/reproducer.zip)

[2022-08-23 16:35] tsegismont commented on #27386
I was able to reproduce. I captured network traffic and, indeed, pipelining seems involved:

- with Quarkus 2.12.2, the client sends execute and close packets immediately after prepare response packet is received
- with Quarkus 2.10.2, the client waits for response ok packet before sending close packet

[2022-08-23 16:50] #27431 closed

[2022-08-23 17:20] vsevel commented on #27417
/cc @radcortez does not look like a vault issue?

[2022-08-23 17:41] llongeri commented on #27403
using `@PersistenceUnitExtension` is a much better solution.
I will try to make a POC.

[2022-08-23 17:42] spolti opened #27457 "kubernetes-client logs all okhttp messages at STATIC_INIT"
### Describe the bug

While working on a Quarkus Extensions that needs to query the Kubernetes API in the STATI_INIT time, as the logging is not configured yet, all okhttp log messages will be printed:

[code]

### Expected behavior

It would be great if these log messages are not printed, or, be able to configure it using build time system properties.

### Actual behavior

All communication betwe

[2022-08-23 18:01] harpermj66 commented on #27386
Great that you found a reason, haven’t got clue obviously how it can be changed/fixed if it’s broken or sql proxy just can’t cope - Lol

[2022-08-23 18:21] dhoffer opened #27459 "PanacheMongoRepository should always support @Transactional regardless if Mongo is clustered"
### Description

We would like all of our JAX-RS services that use a PanacheMongoRepository<> datasource to use @Transactional(Transactional.TxType.REQUIRED).

This works fine if the app is deployed in a clustered Mongo DB environment, however when deployed in a single Mongo instance environment it causes runtime errors saying it can't handle/create transactions.

So our only workaround was to rem

[2022-08-23 19:06] njlaw opened #27460 "Honour DOCKER_CONFIG location for jib credentials"
### Description

Presently, [jib looks in multiple locations for Docker registry credentials](https://github.com/GoogleContainerTools/jib/blob/master/jib-maven-plugin/README.md#using-docker-configuration-files); however, the JibProcessor in Quarkus does not use the same order and only looks for `${user.home}/.docker/config.json`.  Ideally the Quarkus jib processor would use the same lookup order a

[2022-08-23 19:49] #27442 closed

[2022-08-23 20:18] zakkak commented on #27382
@csscriptplus appears to be using a Mandrel tarball to build their image. So they are not using `quay.io/quarkus/ubi-quarkus-native-image:22.2.0-java17`, thus nor `ubi 8`, which explains how the application is ending up depending on glibc 2.29.

@csscriptplus, as @jerboaa mentions above, please make sure that your _runtime_ image includes the same or a later version of glibc than your _build_ syst

[2022-08-23 20:29] xieshenzh opened #27461 "Service binding doesn't work with Oracle and SqlServer"
### Describe the bug

The `kubernetes-service-binding` extension injects database connection url with the [format](https://github.com/quarkusio/quarkus/blob/709f09dab6b4549f8401f2238b0d0c819c1a1af7/extensions/kubernetes-service-binding/runtime/src/main/java/io/quarkus/kubernetes/service/binding/runtime/DatasourceServiceBindingConfigSourceFactory.java#L71-L82): `jdbc:type://host:port/db`.

But Orac

[2022-08-23 20:48] zakkak commented on #25944
True, my comparison is not that solid, but the fact that I am reproducing more or less the same results (in terms of RSS usage increase) with the last two times I ran similar tests (a couple of releases before 22.2) make me feel confident about this numbers.

In any case, I am OK with enabling `ParseOnce` (given that the CI is now happy with it) and letting the users disable it on demand if they r

[2022-08-23 22:06] gsmet commented on #27345
@phillip-kruger could you have a look now that we have a reproducer? ^

[2022-08-23 22:24] phillip-kruger commented on #27345
On it

[2022-08-23 22:32] guitcastro opened #27466 "Quarkus native executable returns BAD 400 and no logs"
### Describe the bug

I Have an simple API (1 endpoint), I can run it with success. But when running the native executable it always return 400 BAD request.

I can access the open-api UI, but the request always fail with no logs even when using Dquarkus.log.level=DEBUG  (It does log some initialization and others stuffs, but not the failed request).

The request is failing with an empty body messa

[2022-08-23 22:43] phillip-kruger commented on #27345
The reproducer works fine for me ! @GavinRay97 any more info you can share ?

[2022-08-23 22:52] phillip-kruger commented on #27345
It's probably a property that is specific to your environment, like OS. What OS are you running ? Can you test your reproducer on another OS ?

[2022-08-23 23:19] dector commented on #1418
@Sanne thanks for your reply!

Currently I'm evaluating quarkus as my next main BE development stack for small/medium project.
I'm quite impressed with it's functionality and simplicity ("hardcore enterprise" nature is still very obvious here and there but in acceptable amounts for now).

At the current point one thing I'm missing - proper live reload. Classes hot reload works awesome BTW but deve

[2022-08-24 00:16] GavinRay97 commented on #27345
Man that is super strange, if nobody can reproduce this we should close it I think

[2022-08-24 00:32] phillip-kruger commented on #27345
I think it still could be an issue. Some of the "config" we display on that page is OS specific (System properties) so it could be your OS. Are you using Windows / Mac ?

[2022-08-24 01:30] GavinRay97 commented on #27345
I'm using Windows 11:

![image](https://user-images.githubusercontent.com/26604994/186297678-95368fda-5b6a-4651-9c81-c266f7c00671.png)

[2022-08-24 02:26] naah69 commented on #27439
when i debug it,the method annotation can't get value

io.quarkus.jaxrs.client.reactive.deployment.JaxrsClientReactiveProcessor#addResponseTypeIfMultipart
[code]

log
[code]

[2022-08-24 03:10] phillip-kruger commented on #27345
Ok, so that might be why we can not recreate it. Can you share all the System.getProperties with their values on your example, then I can see if I can recreate the issue ?

[2022-08-24 03:45] galderz commented on #25944
That sounds good. Having an option to disable it in case it becomes a problem would be a good escape hatch if someone encounters memory issues with this.

[2022-08-24 04:18] xieshenzh opened #27468 "Service binding doesn't work when using quarkus-reactive-mysql-client for MariaDB"
### Describe the bug

The `quarkus-reactive-mysql-client` extension is designed to work for [MariaDB](https://quarkus.io/guides/reactive-sql-clients#reactive-sql-clients-details), but it only supports [service binding for MySQL](https://github.com/quarkusio/quarkus/blob/709f09dab6b4549f8401f2238b0d0c819c1a1af7/extensions/reactive-mysql-client/runtime/src/main/resources/META-INF/services/io.quarkus

[2022-08-24 04:57] manuelwallrapp opened #27469 "Graal Native Build missing ReflectionRegistrations in io.fabric8:kubernetes-model-core:5.12.3"
### Describe the bug

Hi

The fix should be fast. I get following exception when running my native app do to missing ReflectionRegistrations:
Caused by: java.lang.NoSuchMethodException: io.fabric8.kubernetes.api.model.PersistentVolumeClaimBuilder.<init>(io.fabric8.kubernetes.api.model.PersistentVolumeClaim)
        at java.lang.Class.getConstructor0(DynamicHub.java:3585)
        at java.lang.Class

[2022-08-24 05:20] geoand commented on #27468
What exactly does not work?

[2022-08-24 05:22] geoand commented on #27469
Thanks for reporting!

Can you perhaps add the full stacktrace?

Furthermore, what does your code look like?

[2022-08-24 05:24] geoand commented on #27460
This is not true, see [this](https://github.com/quarkusio/quarkus/blob/2.12.0.CR1/extensions/container-image/container-image-jib/deployment/src/main/java/io/quarkus/container/image/jib/deployment/JibProcessor.java#L327).

Are you seeing an issue where this does not work?>

[2022-08-24 05:28] #27440 closed

[2022-08-24 05:29] geoand commented on #27439
Please attach a sample project we can use to debug.

[2022-08-24 05:30] manuelwallrapp commented on #27469
I think the full Stacktrace is not even necessary, cause the fix is so easy as described above. The same behavior happened for io.fabric8.kubernetes.api.model.ConfigMapBuilder but here the full Stacktrace:

2022-08-23 16:35:26,321 ERROR [ch.sbb.est.tek.pip.ser.ope.OpenshiftTemplateService] (vert.x-eventloop-thread-4) Failed to modify and process template esta-tekton-pipeline-java-maven-build-run-t

[2022-08-24 05:30] geoand commented on #27469
The fix may be easy, but I am interested in seeing what the root cause.

[2022-08-24 05:33] geoand commented on #27469
It seems from the stacktrace and looking at the code of `ResourceHandlerImpl`, that this same problem can occur for *BuilderClasses.

@iocanel @manusa which such classes other than `PersistentVolumeClaimBuilder` and `ConfigMapBuilder` can be part of that `ResourceHandlerImpl` flow?

[2022-08-24 05:40] manuelwallrapp commented on #27469
My code modifies a Tekton Pipeline Template, I hope that clarifies how we call it:

private HasMetadata createOrReplaceExHandled(HasMetadata templateItem) {
        try {
            return getOpenshiftClient().resource(templateItem).inNamespace(getNamespace()).createOrReplace();
        } catch (KubernetesClientException ex) {
            logCreateObjectException(templateItem, ex);
        }

[2022-08-24 05:44] manuelwallrapp opened #27470 "o.fabric8.tekton-client as a quarkus library"
### Description

We are using o.fabric8.tekton-client quite often and need it for native build as well. So at the moment we wrap it ourselves but would appreciate if it would be part of the quarkus library like all the other kubernetes libs.
Would that be possible?

### Implementation ideas

Here is an outdated version which references an old tekton-client library:
https://github.com/quarkiverse/q

[2022-08-24 05:46] geoand commented on #27470
I am not sure if anything Tekton related would be part of the Quarkus core repositoryu - my preference would be no.

If the quarkiverse extension is not up to date, why not propose a PR to update it?

[2022-08-24 05:48] maxandersen commented on #27470
Yes, I would suggest just updating the quarkiverse repo.

At some point might make sense to include in quarkus platform but yes not something we would put in quarkus core repo.

[2022-08-24 05:51] njlaw commented on #27460
If I'm reading it correctly, the logic in that function uses the supplied username and password if present; otherwise, it adds the credential helpers and the default Docker config.json file to the credential search path.  However, it does not take into account the DOCKER_CONFIG environment variable if it is set.

The upstream DefaultCredentialRetrievers [does] and adds a fair number of other Docke

[2022-08-24 06:02] geoand commented on #27460
Thanks for the update.

Fair enough, we can add support for `DOCKER_CONFIG` as well.

[2022-08-24 06:18] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2916666729

[2022-08-24 06:30] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2916639851

[2022-08-24 06:48] Lahres-Dev commented on #21217
When registering UUIDGenerator for reflection, everything works fine. I'm not sure if this is considered a workaround or intended:

[code]
See also: https://quarkus.io/guides/writing-native-applications-tips#registering-for-reflection

[2022-08-24 07:06] manuelwallrapp commented on #27470
That would be fine, if somebody would merge these.
https://github.com/quarkiverse/quarkus-tekton-client/pulls

I would do it if I have the right to.

[2022-08-24 07:14] loicmathieu commented on #27459
This can only be done at MongoDB server side, this is a limitation of MongoDB that mandates a replica set for transaction to work.

What we can do is to provide a configuration option to disable transaction support globaly, so when running in a single instance server you can disable it easily.

[2022-08-24 07:17] geoand commented on #27470
@maxandersen can you perhaps help push that forward?

[2022-08-24 07:22] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2916666729

[2022-08-24 07:45] naah69 commented on #27439
it had resloved. ` @Produces` must had type

[2022-08-24 07:45] #27439 closed

[2022-08-24 07:51] calillo opened #27472 "http access-logs when rotate as double dots in filename extension"
### Describe the bug

When quarkus.http.access-log.rotate is enabled, the filename during rotation is incorrect, example:

[code]

### Expected behavior

rotated filename should be: quarkus2022-08-18.log or quarkus.2022-08-18.log

### Actual behavior

rotated filename has double dots inside name: quarkus2022-08-23**..**log

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Linux 3.

[2022-08-24 08:02] knuspertante opened #27473 "RESTEasy Reactive: Explicit @RequestScoped resource and instance variable with @PathParam or @RestPath does not work"
### Describe the bug

Hey Guys,

when I currently switched to RESTEasy Reactive the following issue came up.

The instance variable environment is always null if the annotation `@Requestscoped` is explicitly used.

[code]

### Expected behavior

`curl -X GET --location "http://localhost:8080/hello/env1/message1"`

Output:
Hello from RESTEasy Reactive
Environment: env1
Message: message1%

### Actua

[2022-08-24 08:03] geoand commented on #27466
Can you please attach a sample application that exhibits the behavior you describe?

[2022-08-24 08:03] Sanne commented on #1418
I must say it looks awesome.

There's a conceptual problem with such an approach though: often one single consistent "patch" requires changes in multiple files to compile successfully - if you trigger a live reload just after a single file has changed, you might not have all the changes yet - this would most likely result in a sequence of reload events, some of the intermediary ones failing as the

[2022-08-24 08:07] geoand commented on #1418
As @Sanne mentioned, the [Zulip Thread](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/.22real.22.20live.20reload) contains a lot of details about why we would not want to change the live reload feature, so I'll close this broad scoped issue as `won't fix`.
We can of course consider improvements (@Ladicek has something in mind in the Zulip thread) but it would be best to have topi

[2022-08-24 08:10] Sanne commented on #1418
Actually we'll re-open as @fbricon also suggested the browser could trigger live-reload on web resources.

That's still an applicable improvement which sound very useful - I'll change the title to reflect.

[2022-08-24 08:15] galderz commented on #27277
Quickly tried the attached reproducer and was able to reproduce the issue. The classes not found are specified by the `META-INF/services/javax.ws.rs.ext.Providers` in `resteasy-core:4.7.5.Final` jar. Would you expect to find that jar in the classpath of an app that only acts as a client?

[2022-08-24 08:32] tsegismont commented on #27386
I'm trying to figure out a workaround for now. I'll get in touch with MySQL
proxy community.

Le mar. 23 août 2022 à 20:01, harpermj66 ***@***.***> a
écrit :

[2022-08-24 08:39] harpermj66 commented on #27386
I reached out to Percona because we have support with them initially. They did say we were their first client to mention reactive hibernate so they were keen to set up a meeting. I can ask my contact at percona to link up with you if necessary.

[2022-08-24 08:40] rsvoboda commented on #6588
@sberyozkin pls look into the failures, `security-keycloak-authorization-quickstart` and `security-openid-connect-web-authentication-quickstart` fail now

[2022-08-24 08:45] knuspertante commented on #15167
#27473

[2022-08-24 08:47] geoand commented on #27473
Thanks for reporting.

https://github.com/quarkusio/quarkus/pull/27475 fixes the issue

[2022-08-24 08:52] tsegismont commented on #27386
Sure. My address is [github id] at [redhat] dot com.

Le mer. 24 août 2022 à 10:39, harpermj66 ***@***.***> a
écrit :

[2022-08-24 09:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2916639851

[2022-08-24 09:42] Sgitario commented on #27400
See my changes in https://github.com/quarkusio/quarkus/pull/27477.
I think that the resources should never be restarted for nested classes, regardless the value of the `restrictToAnnotatedClass` is. wdyt? @geoand

[2022-08-24 09:44] geoand commented on #27400
Yeah, I think that makes sense.

[2022-08-24 10:07] jerboaa commented on #25944
Wouldn't that be covered by passing `-Dquarkus.native.additional-build-args="-H:-ParseOnce"`?

[2022-08-24 10:36] Diom opened #27479 "Native Image Build - Reuse-Existing requires docker runtime"
### Describe the bug

I am attempting to develop a two part Quarkus CI Pipeline in Jenkins. The process is to build the core artifact and then run the image build and push per target registry. So:

1. Build Artifact with Tests and Reports (docker agent)
2. Build the image (node agent with docker install)
3. Push to Reg1 (docker agent)
4. Push to Reg2 (docker agent)

This works fine for JVM builds

[2022-08-24 10:38] Sgitario commented on #27083
To sum up, what you're requesting (and what spec conforms) is that when getting the following request:

[code]

Then, if we implement our resource as:

[code]

Then, regardless of the value of the `Content-Disposition` and `filename`, the server should copy the content of the file `my_file.txt` into the `textPart` field.

Did I understand well the issue? If so, and taking into account what the spe

[2022-08-24 10:47] loicmathieu commented on #25606
@Dosexe I'm closing it works as intended and information to configure the health check has been provided. Feel free to re-open it if needed.

[2022-08-24 10:47] #25606 closed

[2022-08-24 10:57] DCCSKrezovic commented on #27442
Thanks for quick fix!

[2022-08-24 11:55] tsaarni opened #27481 "Let user to provide own KeyManager and TrustManager for HTTPS server"
### Description

Let user provide their own custom `KeyManager` and `TrustManager`, which would be used for the HTTPS server (by Vert.x).

This could allow implementing certificate hot-reload https://github.com/quarkusio/quarkus/issues/15926 in the application side.

### Implementation ideas

_No response_

[2022-08-24 11:58] Sgitario commented on #27434
So, you suggest two enhancements:
1. Allow to map properties by the secret name and namespace

So, in the case we have the same property keys, we can select from what secret we should take the property from.
As you state, now all the properties are mixed up. For example, having these two secrets:
- secret: `s1`, namespace: `ns1`
[code]
- secret: `s2`, namespace: `ns2`
[code]

Using both secrets, t

[2022-08-24 12:05] philippegoncalves commented on #21217
Yes it works by using the annotation.

[2022-08-24 12:09] lordofthejars commented on #27434
Yes, the idea is to have a format to refer to keys in case of conflict. About point 2, yes, it's supported, but it's, in my opinion, a workaround for what I am mentioning; as if I am using Kubernetes Configuration extension to read secrets, shouldn't all secrets read in the same way? Just to not have two different ways in the same app.

[2022-08-24 12:19] HknLof commented on #21217
@philippegoncalves Have not tried in a while, but we are using `./gradlew build`. I will update Quarkus and gradlew versions and run the resulting image again. I will let you know about the outcome.

[code]

[2022-08-24 12:38] philippegoncalves commented on #21217
On my side @HknLof I still need to add the @RegisterForReflection mentioned by @Lahres-Dev eventhough it is supposed to work wothout it based on https://github.com/quarkusio/quarkus/issues/1743

[2022-08-24 12:55] technical-debt-collector commented on #27083
Yes, exactly.

[2022-08-24 13:04] #26828 closed

[2022-08-24 13:05] teedjay commented on #27083
And likewise for binary content (which works great with regular RESTEasy), something like this :

[code]

[2022-08-24 13:08] FelixMundial opened #27482 "Expose potential extension points on authorization code flow-related provider clients"
### Description

Our self-hosted authorization server is based largely upon basic authorization code flow backed by OIDC, but slightly modified the "code -> token" process as several non-standard parameters are required, which are primarily headers and bodies for signature submission intended for customized client authentication based on methods other than the standard ones like base/post/jwt or s

[2022-08-24 13:40] manusa commented on #27469
Any of the Kubernetes Model classes can be part of this flow. The class _infers_ the `Builder` types by appending `Builder` to the model class name, and the `List` classes by appending `List` to the class name (e.g. Pod/PodBuilder/PodList).

I'm not sure how the current extension is registering the model classes now, but I think it would be safe to assume that if any model class is registered its

[2022-08-24 13:49] sberyozkin commented on #27482
@FelixMundial
Do you need to have an option to pass the extra HTTP headers and extra form parameters with the code grant request ?
We can just add 2 more Map configuration properties, one accepting the extra headers (we have such an option for `quarkus-oidc-client` too), and the extra form parameters.

Will that work for you ?

[2022-08-24 14:04] #27473 closed

[2022-08-24 14:09] geoand commented on #27479
This isn't Jib that is failing, it's the native image generation, which is attempting to build the native binary using docker or podman because GraalVM is not installed locally

[2022-08-24 14:14] xieshenzh commented on #27468
There is no specific reactive client for MariaDB. Users can only use `quarkus-reactive-mysql-client` for MariaDB.

But `quarkus-reactive-mysql-client` only has a `ServiceBindingConverter` for [MySQL](https://github.com/quarkusio/quarkus/blob/709f09dab6b4549f8401f2238b0d0c819c1a1af7/extensions/reactive-mysql-client/runtime/src/main/java/io/quarkus/reactive/mysql/client/runtime/MySQLServiceBindingCo

[2022-08-24 14:24] gsmet commented on #27377
Roberto is on PTO for now so this will have to wait for 2.12.1.Final.

[2022-08-24 14:26] GavinRay97 commented on #27345
Sure, let me try to echo that out 👍

[2022-08-24 14:34] FelixMundial commented on #27482
Thank you for your instant reply!
These two configuration properties would help a lot for such "weird" situations as ours:))
Still, I am not quite sure whether this "customizability" should be included in the core quarkus-oidc/quarkus-oidc-client, or should instead be made possible by means of other extensions closely related to them (in the form of different artifacts), because I am afraid these

[2022-08-24 14:39] gsmet commented on #6588
That's expected, the Keycloak upgrade was merged but https://github.com/quarkusio/quarkus-quickstarts/pull/1159 is still pending as I want to push the 2.12 quickstarts before merging.

[2022-08-24 14:41] geoand commented on #27457
Closing as per https://github.com/quarkusio/quarkus/pull/27458#issuecomment-1225818892

[2022-08-24 14:41] #27457 closed

[2022-08-24 14:42] geoand commented on #27469
Makes sense, thanks

[2022-08-24 14:53] sberyozkin commented on #27482
@FelixMundial Np, adding the configuration properties is the simplest approach and trying to make it more complex without real need for it is not needed IMHO - doing the extra grant handlers will increase the margin of a user error and complicate the already complex `quarkus-oidc` code even more.
For example, users can already supply the additional parameters which will be sent to the authorizatio

[2022-08-24 15:04] Diom commented on #27479
@geoand Yes, but isn't that a problem given that the native executable already exists and the `quarkus.native.reuse-existing` flag has been set? With this set of parameters I would expect that:

1. The native artifact does not need to be created, so no GraalVM execution or Docker container is required
2. The JIB flag is set so no need for `docker` to build the image
    * It seems to support it gi

[2022-08-24 15:19] dhoffer commented on #27459
@loicmathieu Yes the config option of being able to disable transaction support would be great.  Then we can use Transactions in the code base but disable via config when installed in non clustered Mongo environments.

[2022-08-24 15:20] GavinRay97 commented on #27345
Here you are:

[code]

[code]

[2022-08-24 15:54] evanchooly commented on #27459
Or just run single node replica sets.  You need that for backups anyway unless you just have `mongodump` cron'd to dump the entire database at regular intervals.  Adding this property seems counterproductive to me.

[2022-08-24 16:00] evanchooly commented on #17255
Curious.  Maybe someday i'll have a chance to dig in to the differences. It's been pretty low priority so far.

[2022-08-24 16:12] mhagnumdw commented on #14067
Thanks! I liked it and I'm already using it.

[2022-08-24 18:06] FelixMundial commented on #27482
@sberyozkin Then this enhancement is currently the best option for it, thank you very much for your explanation and help🥳🥳

[2022-08-24 19:27] dector commented on #1418
@Sanne that's true. My solution was intended to create short feedback loop for changing templates (_BTW Qute seems like the best template engine I've ever worked!_) - I'm using Tailwind and such primitive live-reload helps me to experiment/iterate on design very quick. It was quite easy to implement and is very helpful in my case. Most probably I'll need to extract file watcher into separate utili

[2022-08-24 19:32] #27460 closed

[2022-08-24 19:37] #27461 closed

[2022-08-24 19:38] #25944 closed

[2022-08-24 20:13] michalszynkiewicz commented on #25423
CC @aureamunoz @cescoffier @Sgitario

[2022-08-24 21:20] famod opened #27487 ""Directly injecting a ConfigProperty into a javax.ws.rs.ext.Provider may lead to unexpected results" warning for OidcClientRequestFilter in Quarkus 2.12"
### Describe the bug

Starting my app (in dev mode) logs the following message three times:

This wasn't there in 2.11.

Btw, we have two subclasses of that filter, e.g.:
[code]

### Expected behavior

No such warning

### Actual behavior

Warning pointing to Quarkus code (not even my own one)

### How to Reproduce?

n/a for now

### Output of `uname -a` or `ver`

_No response_

### Output of `jav

[2022-08-24 22:11] sberyozkin commented on #27482
@FelixMundial Np, I'll let you know when PR is available, once I get to it...

[2022-08-24 22:18] sberyozkin commented on #27487
Hmm, so right now it is
[code]

not sure why it needs to be set as

[code]

Looks like double optional...

[2022-08-24 22:20] famod commented on #27487
If I had to guess I'd say it's related to #26996.
/cc @radcortez

[2022-08-24 22:26] DMaxter commented on #27215
Any news on this issue?

[2022-08-24 22:29] sberyozkin commented on #27348
@NicoNes I've had a look for a few hours today into this issue. Lets focus on the case 1 for now.

Can you explain to me again, why as a user, after being redirected to the OIDC authorization endpoint and being challenged with the authentication dialog, I'd open a new tab and try to access the same Quarkus application and start a new authentication process ? What is the idea/use case behind it ?

[2022-08-24 23:35] cameronprater commented on #27216
@gsmet Sorry for the ping, just wanted to check in and see if I needed to do anything else. I believe I found a way to configure Reactor Netty to reuse Quarkus's event loop group in [this](https://github.com/cameronprater/quarkus-discord-bot/commit/8f65340fcd112d3f8a003b80ff328d0ad818a7a6) commit.

[2022-08-24 23:40] gastaldi commented on #27345
I have a Windows VM and I am unable to reproduce this error too

[2022-08-24 23:53] jimbogithub opened #27489 "Mutiny Dropped Exception on SSE Cancel"
### Describe the bug

Undesirable `ERROR` message appears in logs, e.g:

`2022-08-25 11:30:51,013 ERROR [io.qua.mut.run.MutinyInfrastructure] (vert.x-eventloop-thread-2) Mutiny had to drop the following exception: io.vertx.core.http.HttpClosedException: Connection was closed`

### Expected behavior

Would prefer not to have these appearing in Production logs.  Can they be avoided or suppressed?

#

[2022-08-25 00:02] jimbogithub commented on #23997
FYI, I switched to Mutiny SSE as SSE Client Reactive started rapidly leaking memory (from 2.9.x?) - appears Buffers not being closed.

[2022-08-25 00:10] phillip-kruger commented on #27345
The empty page in DevService is when there are no dev services. I'll do a PR to either add some info there, or remove the button)

[2022-08-25 01:06] phillip-kruger commented on #27345
Ok I think I found a case where this happens. See PR #27490 for a fix. @GavinRay97 if you can test against this PR that would be great. Basically if you have a quoted dot this error happens, example a config like `bla.bla."."=foo` will create this error.

[2022-08-25 01:36] NicoNes commented on #27348
Hi @sberyozkin ,

It's actually case 2 that leads me to case 1, but lets try to focus on case 1 first.

Well, as I said it's case 2 that leads me to case 1 so I have no specific use case behind case 1.

However,  here is a real life flow that can lead to case 1 :

- Open tab 1 on YOUTUBE to listen music while working.
- Open tab 2 on quarkus app A to start working but without filling up the authen

[2022-08-25 02:15] guitcastro commented on #27466
Sorry. That was my fault. Not a bug.

[2022-08-25 02:15] #27466 closed

[2022-08-25 03:31] geoand commented on #27466
No problem, thanks for the update

[2022-08-25 03:33] geoand commented on #23997
Do you have a memory dump or a sample project that exhibits this behavior?

[2022-08-25 04:20] geoand commented on #27479
Actually, that's a very good point.

[2022-08-25 05:38] geoand commented on #27229
Based on the discussion we had yesterday, I think that the changes that @mkouba and @cescoffier have in store will address this. Even if they don't, I am sure they will get us closer to fixing this.
Essentially this issue comes up because RR removes the request scope when encountering a `Uni`. Normally this is not a problem because of context propagation, but there might be something additional we

[2022-08-25 05:44] geoand commented on #27489
When do these show up?

[2022-08-25 05:47] geoand commented on #27487
Although I agree that `Instance<Optional<String>>` looks pretty bad, I don't think however we can avoid it. I'll leave it to @radcortez however to confirm

[2022-08-25 06:18] geoand commented on #27470
In any case, I'll close this issue as `won't fix`

[2022-08-25 06:18] #27470 closed

[2022-08-25 06:19] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2924199533

[2022-08-25 06:23] Sgitario commented on #27434
About 2, ok for making it easier to use +1

Let's split the issue into two parts. The point 1. is addressed by https://github.com/quarkusio/quarkus/issues/27434.

[2022-08-25 06:27] geoand commented on #27468
Do you know what the service binding type is in this case?

[2022-08-25 06:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2924175526

[2022-08-25 07:08] cescoffier commented on #27229
Qute use Completion Stage. Completion Stage creation needs to be decorated to be managed by context propagation.
This will create a dependency on CP.

Another solution is to switch to Uni.

[2022-08-25 07:12] mkouba commented on #27229
Yes, https://github.com/quarkusio/quarkus/pull/27443 if merged can solve part of the problem.

Note that only one of the broken use case involves qute. Two other broken cases fail for another reason. I will repeat myself: resteasy-reactive [removes the current request on CDI request context deactivation](https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/server/r

[2022-08-25 07:13] cescoffier commented on #27229
I'm trying to quickly see if switching to Uni fixes the issue.

[2022-08-25 07:18] mkouba commented on #27229
What exactly do you have in mean? Qute won't internally switch to `Uni`.

[2022-08-25 07:20] cescoffier commented on #27229
That's what I'm trying to do. If you do not do that, you need to track all the instantiation of CompletionStage and decorate them.

[2022-08-25 07:26] cescoffier commented on #27229
@mkouba the other solution is to decorate like this every time you create a new CompletionStage:

[code]

Ref: https://github.com/smallrye/smallrye-mutiny/blob/main/context-propagation/src/main/java/io/smallrye/mutiny/context/MutinyContextManagerExtension.java#L17-L23

[2022-08-25 07:45] cescoffier commented on #27229
Decoration of the completion stage will also require large modifications of the code base.

[2022-08-25 07:57] cescoffier commented on #27229
Just to be clear, the issue here is not due to the removal of the request scope on suspension. Even with the PR changing, the request scope storage (which also avoids the removal) does not prevent this issue.

[2022-08-25 08:16] sberyozkin commented on #27348
Hi @NicoNes the real world use case you've described does not warrant a serious consideration IMHO (step 2 in particular - so I'm about to enter my name and password but then decide to step outside due to some emergency - well if it is the case - lets just restart a browser and start again when I'm back ?).

What is important from my point's of view is that `quarkus-oidc` supports users in product

[2022-08-25 08:34] geoand commented on #27229
I need to check and see what happens if the current context is not set to null

[2022-08-25 08:54] geoand commented on #27229
If we move to the DuplicatedContext backed storage, then again there should be no reason to clear this.

[2022-08-25 08:55] geoand commented on #27229
And I also completely agree with @cescoffier that we need the Qute CS usages to be Context Propagation enabled

[2022-08-25 08:56] carlesarnal commented on #25814
Hi all, sorry, I was on PTO. This is exactly the same problem discussed in https://github.com/quarkusio/quarkus/pull/26322. The options are either to force the version of the client lib (to use a version compatible with the old server) or to upgrade the apicurio registry server version.

[2022-08-25 09:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2924175526

[2022-08-25 09:09] effusion commented on #13920
Hey Guys,

I'm currently facing an issue with the health check. We have a Kafka ingest on which we receive JSON Message. Sometimes we get a malformed JSON and the Custom JacksonDesieralizer

`class JsonDocumentDeserializer : ObjectMapperDeserializer<DocumentV12>(DocumentV12::class.java)`

throws an exception turning the channel to KO and therefore the entire health to down.

I did try to disable t

[2022-08-25 09:11] fenix-hub opened #27496 "Lombok + MapStruct + Smallrye-OpenAPI = Error Running Quarkus"
### Describe the bug

I'm trying to compile a Quarkus multi-module project implementing Lombok and MapStruct to write DTOs and Mappings, plus Quarkus Smallrye OpenAPI to automatically exposes my Resources on the Dev UI Console.

If I try to run the project, I get this error
[code]

Looks like Quarkus is not able to locate a class used by the Smallrye OpenAPI extension, which should be generated by

[2022-08-25 09:25] cescoffier commented on #25746
This is because of the config generation.
To use the same name, you must have the load balancer provider and the service discovery provider in different packages.

[2022-08-25 09:26] #25746 closed

[2022-08-25 10:07] famod commented on #27487
Mentioned classes from CI log (JVM Tests -JDK 11):
[code]

[2022-08-25 10:15] sberyozkin commented on #27348
As far as the security consideration is concerned: where is a guarantee that someone is not provoking a redirect loop by affecting the redirect URI of the authenticated user - for example, by replacing `/callback` with `/a` ?

However the case 2 looks more realistic - I've authenticated via one of the tabs and then use a few tabs to access the Quarkus web-app. Can you clarify step 4 please,
[code]

[2022-08-25 10:58] #27472 closed

[2022-08-25 11:04] squakez commented on #27085
Hi folks, I can still see the same error in my application:
[code]
I have updated to quarkus `2.11.3.Final` and using still graalvm `22.1.0` (from builder image quay.io/quarkus/ubi-quarkus-native-image:22.1.0-java11). Is this configuration good or should I change something else?

[2022-08-25 11:04] brunobat commented on #27452
Please hold any work on this until https://github.com/quarkusio/quarkus/pull/26760 is merged.
Many things will change on the way can do samplers.

[2022-08-25 11:10] phillip-kruger commented on #27496
Quarkus (or SmallRye OpenAPI) does not use `io.swagger`, but rather MicroProfile OpenAPI. Are you perhaps including io.swagger in your pom ? Or are you using some generator to generate classes from an OpenAPI schema ? Can you share more info, or better a reproducer ?

[2022-08-25 11:19] gsmet commented on #27085
@squakez not sure. A small Maven reproducer would help as Radim confirmed the PR fixed the issue for him.

[2022-08-25 11:26] sberyozkin commented on #27481
@dmlloyd Hi David, I recall you were looking at some options awhile back, to provide custom factories dealing with SSL ? Sorry if it was not related

[2022-08-25 11:32] Sgitario commented on #27083
fyi https://github.com/quarkusio/quarkus/pull/27498

[2022-08-25 11:38] galderz commented on #25944
@jerboaa Yes it is, I realised that after posting the comment.

[2022-08-25 11:55] mjurc opened #27499 "Extend test coverage ran in Quarkus CI - Kubernetes"
### Description

https://github.com/quarkusio/quarkus/actions/workflows/ci-kubernetes.yml should be extended to test integration surfaces of Quarkus with Kubernetes/OpenShift APIs. Namely the `quarkus-kubernetes-config` and `quarkus-kubernetes-service-binding` extensions come to mind.

Purpose of this test coverage extension is to prevent introduction of regressions and to help with ensuring compa

[2022-08-25 11:58] mjurc opened #27500 "Quarkus CI - Kubernetes should run on OCP 4.x releases"
### Description

Currently, the https://github.com/quarkusio/quarkus/actions/workflows/ci-kubernetes.yml runs with OCP 3.11 which is not supported with RHBQ and it runs on old version of Kubernetes API.

CI should ideally run with the latest release of OCP to ensure changes in Kubernetes API do not break our `quarkus-kuberetes`/`quarkus-openshift` extensions, as such regressions happened with prev

[2022-08-25 12:02] smil2k opened #27501 "Resteasy Reactive fails with beanparam nested in beanparams"
### Describe the bug

In case BeanParams are used on a subresource like this:

Subresource:
[code]

BeanParam:
[code]

then the endpoint registration fails, test returns 405 Method not allowed.

### Expected behavior

Resteasy reactive should work the same way as classic.

### Actual behavior

405 Method not allowed returned.

### How to Reproduce?

Please compile the following project:

[resteasy

[2022-08-25 12:04] NicoNes commented on #27348
Hi @sberyozkin

I just answer on case 1 for now to not introduce confusion and I will answer for case 2 when we are done on this one.

My answers:

 So you mean that when the user comes back to his desk after being interrupted for a meeting or any emergency reason, he can't click on a link somebody sent to him ?
You mean that before clicking on the link, the user must either :
- restart is browser

[2022-08-25 12:52] gsmet opened #27503 "Jakarta - EE 9 - Issue with Gradle and Jackson (due to RESTEasy Classic referencing an old version)"
The way Gradle resolves versions cause issues with Jackson as they totally changed their Jakarta approach between two versions and some artifacts are missing due to RESTEasy Classic referencing older version.

Problem is RESTEasy Classic is waiting for a Jackson fix to move to the next version.

See https://github.com/FasterXML/jackson-modules-base/issues/175

[2022-08-25 13:10] maxandersen commented on #27300
@evanchooly, care to take a look?

[2022-08-25 13:19] gsmet opened #27506 "Jakarta - EE 9 - Serialization issue in MongoDB IT PojoResourceTest"
The test is failing with:

[code]

If I remove the `Optiona<String>` in `Pojo`, it works OK but as this field is supposed to test something specific, we can't really do that.

Not sure if it's due to a Yasson regression or a bug in what we're doing, it needs some digging. We are using the latest version of Yasson.

[2022-08-25 13:22] gsmet opened #27507 "Jakarta - EE 9 - Context propagation tests failing"
We have several context propagation tests failing and I have no idea what's going on there:

`integration-tests/smallrye-context-propagation`

:heavy_multiplication_x: io.quarkus.context.test.SimpleContextPropagationTest.testTransactionContextPropagationSingle line 130

:heavy_multiplication_x: io.quarkus.context.test.SimpleContextPropagationTest.testTransactionContextPropagationPublisher line 139

[2022-08-25 13:28] gsmet opened #27508 "Jakarta - EE 9 - Maven integration tests - testClassLoaderLinkageError tests failing"
All the `testClassLoaderLinkageError` are failing. They are probably referencing dependencies that are not in the BOM anymore. They need fixing.

[2022-08-25 13:51] rdebusscher opened #27510 "NPE when using SyntheticBeanBuildItem with BeanCreator"
### Describe the bug

I'm creating a Quarkus extension and one of the things I need is to use the replacement for AfterBeanDiscovery.addBean().

But I get a NullPointerException when Quarkus tries to instantiate the bean at runtime (in generated code, so no idea what is null)

A simple reproducer of the problem can be found at https://github.com/rdebusscher/quarkus-syntheticbean

### Expected beha

[2022-08-25 14:05] squakez commented on #27085
Thanks for the comment. Unfortunately it's not an easy tasks, as we're building the application via Camel K, and that is the one in charge to transparently create the maven application. Exporting it is not very easy as well. I'll check to see how else I can reproduce it and let you know.

[2022-08-25 14:10] bitxon opened #27511 "Gradle - @QuarkusIntegrationTest don't see @QuarkusTestResource from parent class/interface"
### Describe the bug

### GitHub repo with Example
https://github.com/bitxon/quarkus-gradle-failed-native-test
https://github.com/bitxon/quarkus-gradle-failed-native-test/actions

### Description
In case of **Gradle**  QuarkusTest and QuarkusIntegrationTest are being stored in different folders
`src/native-test` - `@QuarkusIntegrationTest`
`src/test` - `@QuarkusTest`
In case of **Maven** QuarkusTe

[2022-08-25 14:10] gsmet opened #27512 "Jakarta - EE 9 - MP TCK - Failures in JWT TCK"
We have two failures in the MP JWT TCK. I'm not sure if it's due to the Jakarta version not having the latest changes or if there is a problem somewhere.

:heavy_multiplication_x: org.eclipse.microprofile.jwt.tck.container.jaxrs.InvalidTokenTest.callEchoAgedToken line 97

:heavy_multiplication_x: org.eclipse.microprofile.jwt.tck.container.jaxrs.jwe.RolesAllowedSignEncryptRsaOaep256Test.callEchoRsa

[2022-08-25 14:14] manovotn commented on #27510
@rdebusscher Your singleton scope is `com.google.inject.Singleton` you need to use the `javax` variant

[2022-08-25 14:14] glefloch commented on #27503
Isn't jackson version set in the platform? if the correct version is set in the platform, Gradle should resolve jackson using the platform version and not use the RESTEasy Classic version

[2022-08-25 14:14] gsmet opened #27513 "Jakarta - EE 9 - MP TCK - Failures in REST Client TCK"
We have several failures:

:heavy_multiplication_x: org.eclipse.microprofile.rest.client.tck.timeout.TimeoutBuilderIndependentOfMPConfigTest.testConnectTimeout

:heavy_multiplication_x: org.eclipse.microprofile.rest.client.tck.timeout.TimeoutTest.testConnectTimeout

:heavy_multiplication_x: org.eclipse.microprofile.rest.client.tck.timeout.TimeoutViaMPConfigTest.testConnectTimeout

:heavy_multiplic

[2022-08-25 14:17] xieshenzh commented on #27468
I used the binding type `mariadb`. I should use `mysql` instead.
Sorry for that. I am closing the issue.

[2022-08-25 14:17] #27468 closed

[2022-08-25 14:18] sjaakd commented on #26627
What do you want me to do with this issue? For me it's clear. What remains is what is reported in https://github.com/quarkusio/quarkus/pull/18946#issuecomment-983032845. Shall I close this one?

[2022-08-25 14:20] mkouba commented on #27510
Matej is right. We do fail the build if a class bean is annotated with `com.google.inject.Singleton` but we don't check the scope class passed to the `SyntheticBeanBuildItem` configurator. I think that we should fail consistently...

[2022-08-25 14:20] manovotn commented on #27510
@rdebusscher also the `BeanCreator` implementation needs to be in the runtime module as that is needed to instantiate the bean at runtime (when it is needed).

With that, I am getting:

2022-08-25 16:19:57,034 INFO  [io.quarkus] (main) app stopped in 0.040s
[INFO]
[INFO] Results:
[INFO]
[INFO] Tests run: 1, Failures: 0, Errors: 0, Skipped: 0

[2022-08-25 14:23] manovotn commented on #27510
@mkouba yea, we could at least check if it is a scope annotation or simply check if the return value is `null` and throw something sensible.

[2022-08-25 14:23] geoand commented on #27468
👍🏼

[2022-08-25 14:29] manovotn commented on #27507
@gsmet lame question but what was the easiest way to locally run these in the transformed version? Been a while since I played with it :)

[2022-08-25 14:32] glefloch commented on #27511
Thanks for reporting this issue @bitxon.
In order to run `@QuarkusIntegrationTets` you can use the `quarkusIntTest` task with your test class under `src/integrationTest/java`.
The `testNative` task will force a native packaging of your application.

[2022-08-25 14:43] gsmet commented on #27507
@manovotn so I'm creating the issues now but I will document things properly, present something on a Tuesday and send an email to the list :).

But in the meantime, if you're eager to have a look:
https://github.com/quarkusio/quarkus/tree/main/jakarta#build-locally

[2022-08-25 14:45] NicoNes commented on #27348
Well, I think the way people use an application or their browser is very subjective and personal (you said you do not expect people to do this and I said that my users can do it. I can't say you're wrong and you can't say I'm wrong neither), that's why I try to stick to concrete things like spec, security value and also the way other website/framework works even if I sometimes others can do wrong.

[2022-08-25 14:52] sberyozkin commented on #27512
Hmm, interesting, these are from MP JWT 2.1.RC2 - but the smallrye-jwt Jakarta branch has an MP JWT 2.0 version.

[2022-08-25 15:03] rdebusscher commented on #27510
Thx for the quick replies and the solution.

A few related remarks (although not familiar with the entire architecture)

- is Maven Embedder (which brings in Google Guice which was the confusion here) needed at compile time of the extension, or only at build time of the application (and thus scope/dependency should be change/moved )?
- The `ExampleBeanCreator` is indeed needed in runtime part of e

[2022-08-25 15:11] loicmathieu commented on #27506
I remember a very specific issue with Yasson and `Optional` that may be why this test exists, it may be two years old so I need to dig a little to remember what it was.

[2022-08-25 15:16] gsmet commented on #27506
@loicmathieu I will send an email to the list early next week with instructions on how to reproduce all these Jakarta issues.

[2022-08-25 15:17] loicmathieu commented on #27459
@evanchooly if a single node replicaset allows to use transactions, so we may ned to support it on devservices, so transactions can be used on tests and dev more.

@dhoffer is your use case for local developement and tests ?

[2022-08-25 15:18] loicmathieu commented on #27506
OK, I'll have a look next week then

[2022-08-25 15:33] glefloch commented on #27511
Yes I have seen this too.
It looks like devservices don't start for integration tests. Is it expected @geoand ?

[2022-08-25 15:45] sberyozkin commented on #27512
See https://github.com/eclipse/microprofile-jwt-auth/tree/2.0/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/jwe
and
https://github.com/eclipse/microprofile-jwt-auth/tree/2.1-RC2/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/jwe

and `RolesAllowedSignEncryptRsaOaep256Test` is in `2.1-RC2`.

(similarly for the `InvalidTokenTest.callEchoAgedToken`).

So how t

[2022-08-25 16:02] geoand commented on #27511
It is not expected - dev services should work for integration tests too

[2022-08-25 16:15] sberyozkin commented on #27487
I wonder why `https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-client-reactive-filter/runtime/src/main/java/io/quarkus/oidc/client/reactive/filter/OidcClientRequestReactiveFilter.java#L29` is not mentioned.

The other thing is, #26996 is related to native image - so having this warning in JVM mode is confusing as it gives no reasons - may be it can be reworded ?

I'm fine with adding

[2022-08-25 16:27] sberyozkin commented on #27348
@NicoNes It's not about whose users are wrong and whose are not. `quarkus-oidc` has been around for a while and we've seen many confirmations it works for users in production with all sort of providers. Your request is the first time of this kind (likely in fact the 2nd as I recall a similar query on Zulip).

When a user sees an authentication challenge, I do not understand, why the code has to be

[2022-08-25 16:34] kdubb opened #27515 "RestEasy Reactive: Custom `ParamConverter`s not used for elements of `Set` in query params"
### Describe the bug

RestEasy Reactive does not use custom `ParamConverter`s when deserializing elements of a `Set` for query param

For example we have a custom converter for UUIDs, with this following JAX-RS method, the converter is never called for the elements of `ids`:
[code]

### Expected behavior

Properly registered `ParamConverter`s are used when deserializing query parameters that are c

[2022-08-25 16:41] evanchooly commented on #27459
It does. It's how I test morphia.

[2022-08-25 16:41] kdubb commented on #27515
I attempted to investigate/fix this, but it proved beyond my RestEasy Reactive knowledge haha.

I can say the `SetConverter` gets initialized with a delegate/supplier of type `RuntimeResolvedResolvedConverter.Supplier` (seemed hopeful) but it's always a `LoadedParameterConverter` with a default converter for UUIDs.

[2022-08-25 16:48] FroMage commented on #22205
Just when I thought I was done, I learned we have a vertx runtime for RESTEasy Reactive, without Quarkus. Huh.

[2022-08-25 16:48] FroMage commented on #22205
The motherload of rabbit holes.

[2022-08-25 16:50] geoand commented on #22205
☹️

[2022-08-25 17:45] djnalluri commented on #27339
I was able to use the following workaround to obtain a session from the session factory.

[code]

[2022-08-25 18:42] gsmet commented on #27339
Frankly, for a CLI application, use Hibernate ORM. I see no point in paying the price of the complexity you will end up with the reactive flavor.
You can perfectly use Hibernate ORM with RESTEasy Reactive.

[2022-08-25 18:49] daurrutia commented on #13377
Any chance there'd be an example for path such as `/auth/resources/nje61/...`?

[2022-08-25 18:50] glefloch commented on #27511
Ok I will investigate it then.

[2022-08-25 19:13] Ladicek commented on #27510
I don't think that's a helpful interpretation. It's more direct: the `deployment` module is supposed to contain code that is executed during build (and shall not be present at runtime), while the `runtime` module is supposed to contain code that is required at runtime.

[2022-08-25 19:42] NicoNes commented on #27348
I'm not saying it does not work for user in production. I'm telling you it works fine but it could be more flexible to handle a case like case 1 which is a realistic and reproducible production case.  More, being that flexible will not even have security impact for `quarkus-oidc`.

Once again, user does not move away from challenge and open the application on another tab **on purpose**. But there

[2022-08-25 19:44] jimbogithub commented on #27489
Does the reproducer not work for you?

[2022-08-25 20:30] stephennimmo opened #27517 "Quarkus gRPC YAML configuration not working for scan-for-imports"
### Describe the bug

The configuration for gRPC to scan for imports in dependencies does not work when configuration is in YAML.

This works.
application.properties
`quarkus.generate-code.grpc.scan-for-imports=all`

This does not.
application.yaml
`
quarkus:
  generate-code:
    grpc:
      scan-for-imports: all
 `

### Expected behavior

I expect the yaml configuration to work exactly as the pro

[2022-08-25 21:29] jimbogithub commented on #23997
See this branch of the reproducer: https://github.com/jimbogithub/sse/tree/mem-leak

Start the sse-server-reactive then the sse-client-reactive.

2.7.x was OK.  Noticed it from 2.9.2.  Still present in 2.11.3.
Appears to be related to the Jackson integration as it doesn't occur if the messages are plain and the consumer does either `event.readData()` or `event.readData(String.class)`.

Not so much

[2022-08-25 22:27] manovotn commented on #27510
I vaguely recall a discussion where @gsmet explained we cannot really get rid of that?
But that might have been just in relation to jakarta deps, not sure now :D

Tomorrow, I'll look into making the validation check the annotation so that there is sensible exception in cases such as this one.

[2022-08-26 06:06] geoand commented on #23997
Thanks

[2022-08-26 06:19] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2931503388

[2022-08-26 06:20] geoand commented on #27489
I missed that, sorry

[2022-08-26 06:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2931479896

[2022-08-26 06:33] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2931503388

[2022-08-26 06:36] geoand commented on #26116
Reopening because https://github.com/quarkusio/quarkus/pull/27521 reverted the change in https://github.com/quarkusio/quarkus/pull/26495 that originally closed this issue.

[2022-08-26 06:46] luketn opened #27522 "Add Support for startAfter in Reactive MongoDB Change Streams"
### Description

The ChangeStreamOptions support in Quarkus Reactive Mongo Client allows you to specify most parameters to the underlying ChangeStreamPublisher from the Reactive Mongo Client.

One missing option however is the startAfter(resumeToken) method.

This is an important method, because if the collection you are watching is dropped the resume token can only be used with startAfter, not re

[2022-08-26 07:30] gsmet commented on #27510
I discussed with @aloubyansky to see if we could mark the bootstrap Maven and Gradle dependencies as provided (and provide them accordingly where needed) to clean up the extension deployment classpath when developing extensions.

[2022-08-26 07:43] Sgitario commented on #27501
Looking at the reproducer, the problem is that the `DatasourceResource.java` is explicitly producing a JSON media type plus adding an extra "/" to the path:

[code]

Removing the annotations `@Path` and `@Produces` will fix your issue and your tests will pass.
@geoand I think we can close this issue, unless you think that adding extra path "/" should work (I think the actual behaviour is correct).

[2022-08-26 07:49] adriens commented on #13598
Also some `git` related info would be really nice

[2022-08-26 08:23] iocanel commented on #27500
By reading those issues, it seems that there is no plan at least from `crc` to make this happen.

- https://github.com/redhat-actions/common/issues/49
- https://github.com/redhat-actions/common/issues/16

I think that we all strongly feel that this a serious limitation, maybe we should try to meet with the people from the `crc` team to try to change their opinion. @maxandersen: wdyt?

[2022-08-26 08:28] #27036 closed

[2022-08-26 08:38] geoand commented on #27501
Thanks for looking into @Sgitario.

Yeah, I think we can close it

[2022-08-26 08:54] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2931479896

[2022-08-26 09:15] cescoffier commented on #25814
@ozangunalp @alesj WDYT?

Should be rollback and document the working sets?

[2022-08-26 09:28] FroMage commented on #22205
Finally, it's all there: #27526

[2022-08-26 09:33] geoand commented on #22205
Cool! I'll have a look next week.

[2022-08-26 09:33] FroMage commented on #27430
Sorry, I don't think this is enough. I didn't have time to review your PR or I would have mentioned it, sorry :(

I tweaked your code in #27526 as well, since I had to have a workaround at the time I worked on the PR, and I did it by implementing `ParamConverter` for primitives. I moved the `Enum` check to `RestClientBase.convertParam` because it's always easier to hack stuff in our libs than in g

[2022-08-26 09:34] FroMage commented on #22205
Thanks :)

[2022-08-26 09:35] FroMage commented on #22205
I believe the UX is much simpler for users now, and we have a single code-base to maintain for containing classes, though sadly it's in ASM rather than gizmo, but we can always later decide to convert it to gizmo as long as we keep a single generator, so there's always hope.

[2022-08-26 09:43] ia3andy commented on #3380
I just configured a cluster with openshift-acme and it works great:
https://github.com/tnozicka/openshift-acme

Once installed you just need to add the acme annotation on the normal http route:
[code]

Something nice would be to make the annotations configurable from Quarkus config.

Currently I override the route through `src/main/kubernetes/openshift.yml`:
[code]

[2022-08-26 10:21] #26152 closed

[2022-08-26 10:24] jv-nxtproj opened #27528 "OpenTelemetry's traceId and spanId not logged after RestClient call"
### Describe the bug

OpenTelemetry's traceId and spanId not logged has been fixed recently #26562

However, there is a remaing issue when handling the result of a reactive rest client call

### Resource
[code]

### Client
[code]

### Expected behavior

All traces related to one transaction should be logged under same id

### Actual behavior

[code]

Last line (logged inside `thenApply`) has no tr

[2022-08-26 11:06] geoand commented on #27515
Thanks for the report and looking into it.

https://github.com/quarkusio/quarkus/pull/27529 fixes the issue.

[2022-08-26 11:49] #27400 closed

[2022-08-26 12:06] geoand commented on #27469
It seems like we currently register all implementations of `io.fabric8.kubernetes.api.model.KubernetesResource`.
So are you proposing we extend that to those classes plus their `List` and `Builder` suffixes?

[2022-08-26 12:08] #27083 closed

[2022-08-26 12:20] michalszynkiewicz commented on #11358
@aureamunoz @cescoffier we are quite close with what we have now with Stork, I think.
But it surely can be improved.
I removed myself from assignees

[2022-08-26 12:21] michalszynkiewicz commented on #18234
I think the docs have improved since the issue was created, up to you @Sgitario if you want to keep it

[2022-08-26 12:26] manusa commented on #27469
All `XXXList` classes should already implement the `KubernetesResource` interface, so those might be covered depending on how classes are discovered or filtered. AFAIR not all KubernetesResources are registered, but only those that are in use.

So yes, for any implementation of `KubernetesResource` that is discovered and that is not a `KubernetesResourceList`, we should make sure that the accompan

[2022-08-26 12:31] michalszynkiewicz commented on #21440
TBH I don't remember if download wasn't implemented too.
For sure we're missing sending/receiving files as Multi<Byte[]> which would perform better.

CC @Sgitario

[2022-08-26 12:31] michalszynkiewicz commented on #21443
CC @Sgitario

[2022-08-26 12:32] michalszynkiewicz commented on #24751
We may already have it, it needs to be checked.
CC @alesj

[2022-08-26 12:34] michalszynkiewicz commented on #25600
CC @alesj

[2022-08-26 12:36] michalszynkiewicz commented on #26409
The new release of Stork, `1.2.0` has a DNS service discovery.
When Quarkus gets updated to it, you should be able to do DNS + round robin

[2022-08-26 12:36] #26409 closed

[2022-08-26 12:36] michalszynkiewicz commented on #26409
CC @aureamunoz

[2022-08-26 12:42] #27508 closed

[2022-08-26 12:48] #27329 closed

[2022-08-26 12:50] smil2k commented on #27501
Hi,

Thank you the reproducer now working fine, but it turned out that it was simpler than our scenario. Please find attached the extended variant:
[resteasy-reactive-problem-project.tar.gz](https://github.com/quarkusio/quarkus/files/9433268/resteasy-reactive-problem-project.tar.gz)

The problem is caused by an embedded bean param in a bean param. Again, for classic it was fine.

[2022-08-26 13:09] michalszynkiewicz commented on #27513
CC @Sgitario
Also, @xstefank I think you played with these tests some time ago, maybe you'd like to take a look

[2022-08-26 13:12] rvansa opened #27534 "RESTEasy Reactive does not handle non-blocking method with blocking ServerRequestFilter correctly."
### Describe the bug

I have a non-blocking method in my API:
[code]
and I use a custom `ServerRequestFilter` that invokes a potentially blocking call to `SecurityIdentity.isAnonymous()`. The filter is blocking (default value for the annotation):
[code]
Since the method is non-blocking RESTEasy decides to invoke the method on I/O thread and I get an exception:
[code]

Workaround of marking the met

[2022-08-26 13:18] rvansa commented on #27534
Reading through `ServerRequestFilter` javadocs it looks like I should not do any blocking operation in that filter anyway.

[2022-08-26 13:21] oaklandcorp-jkaiser commented on #27339
Personally I think there is a benefit to shared code and knowledge gained from writing reactive Quarkus services (like REST APIs and Kafka consumers where reactive is more naturally supported and promoted). Whether it is worth officially supporting (maybe a Uni-based Picocli Command or simply having documented ways to safely integrate reactive pipelines) or not is up to you maintainers. As an appl

[2022-08-26 13:44] dhoffer commented on #27459
@loicmathieu @evanchooly Our MongoDB use case is in Production on a AWS Snowball.  It has limited hardware so we can't run a cluster but I can ask if we can run as a single node replica sets, I don't know the answer to that question.  We normally do run a cluster of 3-9? MongoDBs but can't do that on the Snowball (and the data load will be much lighter).

[2022-08-26 13:45] sberyozkin commented on #27512
I see the problem the TCK version is not set correctly in the tcks module, will fix now

[2022-08-26 14:09] manovotn commented on #27507
Thanks I wanted to have a look on Mon and see if I can spot what's wrong with the failures

[2022-08-26 14:11] kdubb commented on #27331
@gastaldi @gsmet We're ready for some repositories to be created in Quarkiverse. We've got a working set of extensions and converted some of our projects to use them with quite a good result.

Currently we have two distinct projects that each require their own repository:

1. `quarkus-openfga-client` for the OpenFGA reactive client.
2. `quarkus-zanzibar` for the Zanzibar filter(s) and the connecto

[2022-08-26 14:24] squakez commented on #27085
I think I managed to workaround the problem by mimicking the behavior in the `runnerParentFirstArtifacts`. Please have a look at https://github.com/apache/camel-k-runtime/pull/878. I've tested locally and it seems it fix the problem. I wonder if that same workaround should be applied directly to the Quarkus code base. Please, feel free to reuse it.

[2022-08-26 14:32] gastaldi commented on #27331
Done, the following repositories were created:

- https://github.com/quarkiverse/quarkus-zanzibar
- https://github.com/quarkiverse/quarkus-openfga-client

[2022-08-26 14:33] kdubb commented on #27331
Thank you!

[2022-08-26 14:47] brunobat commented on #27528
I believe this is a duplicate from [RestClient Reactive, MDC lost](https://github.com/quarkusio/quarkus/issues/24318)
@jv-nxtproj  do you agree?

[2022-08-26 14:49] brunobat commented on #26717
This should be a duplicated from [RestClient Reactive, MDC lost](https://github.com/quarkusio/quarkus/issues/24318)
Do you agree @RuggeroDAlo ?

[2022-08-26 14:49] jv-nxtproj commented on #27528
@brunobat You're right.
I close this ticket.

[2022-08-26 14:49] #27528 closed

[2022-08-26 14:54] RuggeroDAlo commented on #26717
@brunobat  I think it is the same issue, I'll close this one

[2022-08-26 14:54] #26717 closed

[2022-08-26 14:59] RuggeroDAlo commented on #26717
@brunobat https://github.com/quarkusio/quarkus/issues/26857 could also be the same?

[2022-08-26 15:21] OleKsimov commented on #27166
I've checked this option today:
[code]
with different values, and even tried to set release_mode with different strategies. Looks like none of these options is checked by Quarkus: PhysicalConnectionHandlingMode is not changed and always the same in runtime:
[code]

[2022-08-26 15:31] kimdv commented on #27423
It looks like it have been fixed!

Thanks 🚀

[2022-08-26 15:31] #27423 closed

[2022-08-26 15:48] OleKsimov commented on #27166
It is actually checked by Quarkus, but ignored after all:
[code]

[2022-08-26 15:55] dmarrazzo commented on #27448
I was able to dig a bit more in this issue.

Apparently, the issue is caused by a request sent by testcontainer to add a network to a container which already has it.

Here how to replicate the problem from command line:

[code]

testcontainers relies on HTTP APIs (Libpod Restful) and fails because it gets back a 500 HTTP response.

I opened an issue against podman, but it's likely that they are no

[2022-08-26 16:10] loicmathieu commented on #27506
This issue is strange, when I launch the project locally and test it with curl I saw a NPE inside Yasson (which should never occurs).

[code]

The OptionalSerializer code looks like this, the NPE arrises at the `delegate.serialize(optional.orElse(null), generator, context);` according to me it can only occurs if optional is null which of course is valid (even if bad practice). I don't know if it's

[2022-08-26 16:22] loicmathieu commented on #27506
A simple test shows the same issue:

[code]

[2022-08-26 16:48] evanchooly commented on #27459
If flapdoodle doesn't support replSets, [bottlerocket](https://github.com/evanchooly/bottlerocket) does and is pretty trivial to use.  Supports sharded clusters, too, for testing certain scenarios.

[2022-08-26 17:39] sberyozkin commented on #27482
@FelixMundial FYI, #27482 will close this issue once approved/merged. It can be of general interest - but please give it a try and re-open the issue if some extra customizations may be necessary

[2022-08-26 19:51] stephan-strate commented on #27039
Very interested in this feature! Any updates @Spanjer1?

[2022-08-26 20:15] hbelmiro opened #27541 "Generated static OpenAPI file is not loaded"
### Describe the bug

I'm working on an extension that generates a static OpenAPI file programmatically. The problem is that Quarkus tries to read the static file before it is created, and the result is an effective OpenAPI document that doesn't have the information from the generated static file.

I created [a reproducer](https://github.com/hbelmiro/generated-static-openapi-reproducer) that conta

[2022-08-26 21:28] n1hility commented on #27448
This looks to be caused by testcontainers expose host port feature, which launches an sshd container and sets up a remote port forward to do so. It then reads the network off of the sshd service and after all other container creations updates the container network to match, even if the container is already associated with the same network.

The Kogito Data Index services uses expose host to expose

[2022-08-26 21:53] #27482 closed

[2022-08-26 22:41] pedroigor opened #27546 "Allow removing artifacts when running re-augmentation for a mutable application"
### Description

It is possible to remove artifacts from the final application by setting the [quarkus.class-loading.removed-artifacts](https://quarkus.io/guides/class-loading-reference#quarkus-class-loading-configuration-class-loading-config_quarkus.class-loading.removed-artifacts) property.

However, this property does not work for mutable applications when running re-augmentation.

This RFE is

[2022-08-26 23:55] jie-huang opened #27547 "Does @DenyAll work as expected"
Based on https://openejb.apache.org/security-annotations.html,
`The @DenyAll annotation can be used to restrict business interface access from anyone, logged in or not. The method is still invokable from within the bean class itself.`

But, it seems it is NOT invokable in Quarkus. e.g.
[code]

After login, accessing `/test/denied`, it returns 403. That is expected.
accessing `/test/call-denied`, i

[2022-08-27 02:46] FelixMundial commented on #27482
OK, sure :)

[2022-08-27 05:13] Spanjer1 commented on #27039
I have something basic that I can show coming week. I am currently relocating so it is a bit hectic here😀

On Fri, Aug 26, 2022, at 9:51 PM, Stephan Strate wrote:

[2022-08-27 06:35] luketn opened #27549 "Null Pointer Exception Attempting to Watch Change Stream in Database with ChangeStreamOptions"
### Describe the bug

If you supply a ChangeStreamOptions parameter to the watch() method of a Reactive Mongo Database for example in order to resume a change stream after a certain token the watch method returns null.

This appears to be an oversight in the implementation, as the Collection equivalent works as expected.

I.e. this works:

[code]

But this returns null:
[code]

### Expected behavi

[2022-08-27 12:43] geoand commented on #27448
Thanks for the explanation @n1hility

[2022-08-27 17:28] geoand commented on #27534
Thanks for reporting.

I'll have a look on Monday

[2022-08-27 17:28] #26116 closed

[2022-08-27 22:38] kdubb opened #27550 "Report actionable error when extension `@Recorder` is in the wrong module."
### Description

When building an extension that uses a `Recorder` for runtime initialization and that recorder is in the deployment module it reports `LinkageError`s with no context to help fix the issue.

Apparently this is an incorrect configuration. The build should check and report this with a build error that lets the user know how to fix it.

Suggested error:

    Runtime recorders must be

[2022-08-28 02:02] kdubb commented on #27550
You can see the error(s) on [this branch](https://github.com/kdubb/quarkus-zanzibar-extensions/tree/build_time_init). Run `maven install` in the OpenFGA client extension.

[2022-08-28 04:29] #27522 closed

[2022-08-28 08:45] cescoffier commented on #26857
I believe it's a context propgation related bug. We are working on this from different angle and hope to provide a fix (like #27443) soon.

There are two issues:

- there is a duplication of the duplicated context due to OpenTelemetry
- the context is lost when resteasy reactive suspend the request (and the context is not re-activated)

[2022-08-28 08:47] cescoffier commented on #25423
@aureamunoz @michalszynkiewicz discussed this issue.
The plan is to move the Stork management code into an HTTP request _filter_. Then, you can implement another filter (executed after the one from stork) to configure what you need.

[2022-08-28 10:12] ismailsimsek commented on #24895
Running into this issue with 2.11.3.Final and 2.12.0.Final downgrading Quarkus to 2.6.3.Final fixed it.

[Failing Code is here](https://github.com/memiiso/debezium-server-bigquery/tree/add_iso_datetime_converter)

Test class is [ChangeConsumerConverterTest.java](https://github.com/memiiso/debezium-server-bigquery/blob/add_iso_datetime_converter/debezium-server-bigquery-sinks/src/test/java/io/debez

[2022-08-28 14:24] gsmet commented on #24895
@ismailsimsek please create a different issue. Looks like you have a reproducer, that is great, don’t forget to mention it there. Thanks.

[2022-08-28 14:57] sberyozkin commented on #27547
Looks like it is a `call-denied` access which was denied.

[2022-08-28 19:08] aloubyansky commented on #24895
I'll have a look into it. @ismailsimsek if you create a new issue, please, mention me. Thanks.

[2022-08-28 23:50] phillip-kruger commented on #27541
So the current openapi extension already generate a static document, that gets included with the distribution. Maybe you can share more context on what you are trying to do ? For extensions that want to take part in the openapi generation you best option is to use filters. See https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/hea

[2022-08-29 05:18] #27515 closed

[2022-08-29 05:28] Sgitario commented on #18234
I see there is documentation about the items you mentioned in the description. So, let's close this issue and create others if users need it for more specific things.

[2022-08-29 05:28] #18234 closed

[2022-08-29 05:30] geoand commented on #27534
So this is actually the expected behavior - the filter uses the same thread as the resource method.
As you mention, to explicitly control the behavior of the filter, you can use `@Blocking` and `@NonBlocking`.

[2022-08-29 05:32] geoand commented on #27534
Do you mind adding the entire stacktrace to the description? I was not able to reproduce the issue with an example application I have.

[2022-08-29 05:58] cescoffier commented on #27517
Could you provide a short reproducer?

[2022-08-29 06:00] cescoffier commented on #27205
@ozangunalp WDYT?

[2022-08-29 06:18] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2946173802

[2022-08-29 06:19] knutwannheden commented on #27377
I assume the regression is related to the recent PR #26802. But this also got me thinking if a properties file (like `application.properties` or `microprofile-config.properties`) is allowed to refer to a build-time property (using property expansion) in the value for a runtime property. I think this should definitely work in the case of build-time properties defined in the scope of a `@ConfigRoot(

[2022-08-29 06:19] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2946173802

[2022-08-29 06:19] #27549 closed

[2022-08-29 06:21] geoand commented on #27547
Is is the called to `denied()` that is causing the exception?

If so, then AFAIK that is expected as Quarkus **does** intercept calls to the methods of the class (@mkouba can confirm or deny this).

[2022-08-29 06:25] yrodiere commented on #27166
Honestly I doubt this would change anything even if Quarkus propagated the value to Hibernate ORM. Under the hood, Agroal keeps one connection per transaction no matter what. See https://hibernate.zulipchat.com/#narrow/stream/132094-hibernate-orm-dev/topic/Good.20default.20for.20hibernate.2Econnection.2Ehandling_mode .

Conclusion from that discussion: if we wanted `DELAYED_ACQUISITION_AND_RELEASE

[2022-08-29 06:33] ozangunalp commented on #27205
I don't think that swallowing the Kafka client `ConfigException` or reactive messaging deployment exception is a good idea.
I guess it would be possible to initialize producer/consumer clients lazily for reactive messaging channels, but it is a fairly deep refactoring.

[2022-08-29 06:39] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2946143126

[2022-08-29 06:42] cescoffier commented on #22337
This issue should be reported in Vert.x. Quarkus can't do anything. Please re-open it at https://github.com/vert-x3/vertx-redis-client

[2022-08-29 06:42] #22337 closed

[2022-08-29 06:43] #27314 closed

[2022-08-29 07:08] dfa1 commented on #9386
@gsmet is quarkus-logging-json still actively maintained? I found this same issue and looks like nothing is moving there since a long time...

[2022-08-29 07:12] #27211 closed

[2022-08-29 07:31] #27489 closed

[2022-08-29 07:38] smil2k commented on #27501
@Sgitario @geoand Can you look at the new reproducer, or shall I open a new ticket?

[2022-08-29 07:39] geoand commented on #27501
I'll let @Sgitario decide

[2022-08-29 07:54] rvansa commented on #27534
@geoand Added stacktrace.

You are probably right that the behaviour is more predictable when a non-blocking method is executed by the I/O thread regardless of the filter. Had you transparently switched to blocking thread when the filter is added there would be a non-obvious performance drop.

The problem (except error reporting) then is that the default value for the filter is *blocking* while yo

[2022-08-29 08:10] #27510 closed

[2022-08-29 08:13] cescoffier commented on #27380
(weird, I was pretty sure to have posted a comment - sorry about the delay).

The issue seems to be on the server side.
Can you provide a minimal reproducer and show how you implemented the server-side?

[2022-08-29 08:13] ismailsimsek opened #27565 "Classloader Issues on MultiModule Project Tests"
### Describe the bug

Quarkus test getting following error  `is in unnamed module of loader io.quarkus.bootstrap.classloading.QuarkusClassLoader`

it works fine when the app is packaged.

Might be related to https://github.com/quarkusio/quarkus/issues/24895 .  downgrading Quarkus to 2.6.3.Final works.

[code]

cc: @gsmet @aloubyansky

### Expected behavior

_No response_

### Actual behavior

exce

[2022-08-29 08:14] geoand commented on #27534
Yeah, that's the idea.

Completely agreed, it's currently very confusing.

[2022-08-29 08:26] aloubyansky commented on #27565
Thanks @ismailsimsek. I'm getting
[code]
Would it be difficult to have a version that doesn't require setting up the credentials?

[2022-08-29 08:37] geoand commented on #27547
I am going to close this as it works as expected (I also tried something similar locally to verify)

[2022-08-29 08:37] #27547 closed

[2022-08-29 08:37] #27479 closed

[2022-08-29 08:39] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2946143126

[2022-08-29 08:50] davebarda commented on #27205
@ozangunalp I do agree that lazy initialization is a better solution, as it might also cover some other issues might pop up, anyway I do think that being opinionated about this (IMHO - non intuitive) behavior is a quick win here.

[2022-08-29 08:51] ismailsimsek commented on #27565
@aloubyansky commented out that section of the code in [quarkus_testing_class_loading](https://github.com/memiiso/debezium-server-bigquery/tree/quarkus_testing_class_loading) branch. this one should work

[2022-08-29 08:55] aloubyansky commented on #27565
Thanks!

[2022-08-29 10:00] ozangunalp commented on #27205
@davebarda ok I've drafted something, will reference you to a PR later today

[2022-08-29 10:25] radcortez commented on #27306
We don't have support for OTel in Mutiny yet: https://github.com/quarkusio/quarkus/issues/25453

[2022-08-29 10:34] radcortez commented on #22906
No update. We need to do some work on RM to support OTel transparently.

Right now, you can do it manually like this:

[code]

[2022-08-29 10:45] fenix-hub commented on #27496
@phillip-kruger you are right, looks like there was a sub-module generated as a swagger client which wasn't compiled. I'll close this one, thanks

[2022-08-29 10:45] #27496 closed

[2022-08-29 10:46] gsmet commented on #9386
@dfa1 I don't know. This is a community effort so I'm not sure if @SlyngDK has the time, I'll reach out to him. In any case, if you want the file logging to be implemented, maybe you can create a PR? I'll make sure it gets merged as it's related to the work I did in the core.

We are happy to welcome multiple maintainers in Quarkiverse extensions, as long as the original maintainer is OK with it.

[2022-08-29 11:03] #27550 closed

[2022-08-29 11:15] Sgitario commented on #27513
I had a look into these issues and I could see the following errors:

[code]

It's suspicious that the times are almost the double number expected, but maybe this is not relevant.
However, I could find why these tests started failing. Though I confirmed the relevant properties are passed to the builder property. So I will wait for @xstefank, just in case he knows more and if not, we should probabl

[2022-08-29 11:20] gsmet commented on #27513
@Sgitario I think Wiremock is working correctly as I spent time making sure each TCK was at least working properly (i.e. we don't have a gazillion of tests failing).

RESTEasy was updated, yes (and will be updated again as soon as we switch to EE 10).

[2022-08-29 11:29] gsmet commented on #27513
Also, `QuarkusRestClientBuilder` had to change a bit to be compatible with the new version.

[2022-08-29 12:09] ricardozanini commented on #27448
Thanks, @n1hility. It seems like you guys fixed it already here: https://github.com/containers/podman/pull/15516

[2022-08-29 12:13] sberyozkin commented on #27512
Resolved by #27536 which Guillaume cherry-picked into `main`

[2022-08-29 12:13] #27512 closed

[2022-08-29 12:39] DCCSKrezovic opened #27569 "CDI programmatic lookup failure on @Typed bean"
### Describe the bug

When trying to lookup a @Typed bean that implements an interface using CDI.current().select() API, the .get() call fails with UnsatisfiedResolution exception.

If I @Inject the @Typed bean at any point and do a programmatic lookup, it will work. If no @Inject are present for given bean, it will fail.

Reproducer here:  https://github.com/DCCSKrezovic/cdi-programmatic-lookup

[2022-08-29 12:56] gsmet opened #27570 "Jakarta - EE 10 - Support JAX-RS 3.1.0 in RESTEasy Reactive"
JAX-RS 3.1.0 introduces some new methods and classes and we will need to implement them in RESTEasy Reactive.

How to reproduce:
- get the `jakarta-rewrite` branch from the upstream repository (this branch is already transformed to Jakarta) - it is rewritten daily (but these parts are not moving parts so it shouldn't be a problem)
- `mvn -Dquickly`
- `cd independent-projects/resteasy-reactive`
- c

[2022-08-29 12:56] xstefank commented on #27513
hi, so yes, I've run into this problem on my machine, but I assumed it was just slow, a lot of going on always on my computer. I override the config like this - -Dorg.eclipse.microprofile.rest.client.tck.timeoutCushion=1500 - might be slightly different for CI but it worked. I didn't have time to investigate deeper as I was fixing something else.

[2022-08-29 13:07] hbelmiro commented on #27541
@phillip-kruger a filter doesn't seem to help, since I don't need to filter (remove/update stuff), but actually, add more stuff to the OpenAPI document, like what is done [here](https://quarkus.io/guides/openapi-swaggerui#loading-openapi-schema-from-static-files).

Context: The extension I'm working on is in the [Kogito](https://kogito.kie.org/) codebase, which is a runtime that implements the [Se

[2022-08-29 13:25] ErenKizilay opened #27571 "HttpClosedException thrown while reading HTTP request body"
### Describe the bug

if connection is closed by the client, server throws `java.io.IOException: io.vertx.core.http.HttpClosedException: Connection was closed` while reading http request body.

Here is the stack trace:

`StackTrace: java.io.IOException:java.io.IOException: io.vertx.core.http.HttpClosedException: Connection was closed
io.quarkus.vertx.http.runtime.VertxInputStream$VertxBlockingInpu

[2022-08-29 13:25] geoand commented on #27569
This is expected behavior when using programmatic lookup, see [this](https://quarkus.io/guides/cdi-reference#remove_unused_beans).

If you add `@Unremovable` to your bean, things will work

[2022-08-29 13:25] #27569 closed

[2022-08-29 13:26] famod commented on #27569
The is also a big hint in the logs:
[code]

Alternatively, you can set [`quarkus.arc.remove-unused-beans=fwk`](https://quarkus.io/guides/cdi-reference#quarkus-arc_quarkus.arc.remove-unused-beans) so that Quarkus will never remove any "application beans".

[2022-08-29 13:27] geoand commented on #27571
Do you perhaps have a reproducer we can use?

[2022-08-29 13:31] cescoffier commented on #27205
@ozangunalp laziness would make the health checks and metrics a bit more complex. How do you know if you are ready if you don't know if we can connect?

[2022-08-29 14:25] ErenKizilay commented on #27571
Hi @geoand,
 here are the steps to produce:

1. Implement a POST endpoint
`    @POST
    @Path("/ping")
    @Produces(MediaType.TEXT_PLAIN)
    public String ping(List<Object> dto) {
        return "pong";
    }`
2. Import following request to Postman:
    `curl --location --request POST 'http://localhost:8080/ping' \
--header 'Content-Type: application/json' \
--data-raw '[
  {
    "name": "messa

[2022-08-29 14:26] ozangunalp commented on #27205
On the consumer side, we already ignore the health check if there are no subscribers.
But on the producer side indeed there would be a change of behaviour.
I was thinking of forcing the initialization behind a flag.

What I find challenging is the channel closing sequence.

[2022-08-29 14:27] gsmet opened #27574 "Jakarta - EE 10 - Support CDI 4.0 in ArC"
CDI 4.0.1 introduces some new methods and classes and we will need to implement them in ArC.

How to reproduce:
- get the `jakarta-rewrite` branch from the upstream repository (this branch is already transformed to Jakarta) - it is rewritten daily (but these parts are not moving parts so it shouldn't be a problem)
- `mvn -Dquickly`
- `cd independent-projects/arc`
- change `version.cdi` to `4.0.1`

[2022-08-29 14:33] schmittjoaopedro opened #27575 "Improve custom entrypoint configuration documentation for JIB images"
### Description

By looking at the JIB's documentation on configuring custom entry points [JIB Docs](https://quarkus.io/guides/container-image#jvm-debugging) there is not enough information on the different ways you can configure custom startup scripts for `ubi8/openjdk-11-runtime` or `ubi8/openjdk-17-runtime` images, I mean it´s quite challenging to find the right way to set the values to customi

[2022-08-29 14:42] manovotn commented on #27507
I did some debugging and:

* `io.quarkus.context.test.SimpleContextPropagationTest.testTransactionTCContextPropagation`
  * This test actually passes when executed separately, and the failure seems to be a byproduct of the other two failures
*  `io.quarkus.context.test.SimpleContextPropagationTest.testTransactionContextPropagationSingle`
  * In this case, context propagation never seems to even tr

[2022-08-29 14:50] manovotn commented on #27574
Will take a look; there should be little changes needed to make the existing code compile and work.
Bigger changes would be, for instance, support for build compatible extensions which I think @Ladicek has a prototype of, but those can come at a later point.

[2022-08-29 14:53] gsmet commented on #27510
@rdebusscher the PR cleaning up the classpath of the deployment artifacts has been merged: https://github.com/quarkusio/quarkus/pull/27562

[2022-08-29 14:55] gsmet commented on #27574
Yes exactly, let's focus on getting things to compile, we can add new features later.

[2022-08-29 14:55] manovotn commented on #27507
Debugging a little further, it seems that [`RxJava2ContextPropagator`](https://github.com/smallrye/smallrye-context-propagation/blob/main/propagators-rxjava2/src/main/java/io/smallrye/context/propagators/rxjava2/RxJava2ContextPropagator.java#L21-L38) never gets registered in the `jakarta-rewrite` branch which, I assume, could be the issue.

[2022-08-29 14:59] Ladicek commented on #27574
I have all the necessary changes for ArC to compile with CDI 4.0 in a private fork, so I can help, @manovotn let me know if you want (or if you're busy and would prefer me to take this over).

(Indeed I also have an implementation of Build Compatible Extensions, but that is currently waiting for me to finalize #26264).

[2022-08-29 15:07] gsmet commented on #27574
OK, so I thought a bit about it and the best outcome would be a branch named `jakarta-10-cdi` in the main repo with:
- one commit to upgrade the versions in pom files (I won't take this commit)
- one commit that actually adjust the APIs, I will apply this one on top of the changes (I will include the version upgrades in the Open API recipes)

As for further developments, we will see what is best.

[2022-08-29 15:09] gsmet commented on #27507
Ah yeah, that could explain things. How is it registered? I might have broken things during the transformation.

[2022-08-29 15:22] manovotn commented on #27507
@gsmet so, the `RxJava2ContextPropagator` is a `ContextManagerExtension` and all of these extensions are discovered and registered via `SmallRyeContextPropagationProcessor`
The code can be seen here - https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java#L75-L85

[2022-08-29 15:45] manovotn commented on #27507
So it seems that this is an issue because `org.jboss.resteasy:resteasy-rxjava2:jar:6.0.3.Final:test` no longer declares a dependency on `io.smallrye:smallrye-context-propagation-propagators-rxjava2:jar`.

According to James, this is intentional. Therefore, we need to declare this dependency ourselves.
I can confirm that with it, all CP tests in this module pass:
[code]

[2022-08-29 15:55] #26994 closed

[2022-08-29 15:56] manovotn commented on #27574
@Ladicek I can do it but if you already have the changes, I suppose I would just be duplicating your work. Feel free to go ahead and draft a PR if you have the time for it.

[2022-08-29 15:57] gsmet commented on #27377
@knutwannheden could you have a look at https://github.com/quarkusio/quarkus/pull/27576 ?

[2022-08-29 15:58] radcortez commented on #27377
This works since we need to resolve the value for extensions, and we need to write the resolved value for runtime to make sure it is not changed.

We don't support this, and I think it doesn't make sense. If we allow build time properties to be used to expand runtime properties, then there will be no difference between both, and users would be able to reference either. This will probably confuse u

[2022-08-29 16:14] knutwannheden commented on #27377
I will take a look and report back tomorrow.

There would still be a small difference: If a runtime property value is already supplied at build-time, then it would be able to refer to build-time properties. If the value is supplied at run-time, then not. But I agree that this may be confusing and I have until now never run into the need for this feature.

[2022-08-29 16:34] knutwannheden commented on #27377
@gsmet I quickly tested my reproducer against the branch and I can confirm that the PR fixes the bug.

[2022-08-29 17:02] phillip-kruger commented on #27541
Filter does allow you to add stuff. Have a go at it

[2022-08-29 17:08] sberyozkin commented on #8399
@kekbur I've started prototyping a RestEasy Reactive filter based on your code (thanks for sharing it).

I can see how it can be made quite generic and configurable. The problem I'm thinking about is one has to buffer the stream if no marking is supported and I doubt it will be supported.

I wonder would be simpler to have
[code]
and just compare it. I guess it can be made configurable and let the

[2022-08-29 17:14] radcortez commented on #27353
This requires a new release of SR Config with https://github.com/smallrye/smallrye-config/pull/805.

[2022-08-29 17:17] brunobat opened #27578 "Fix flaky ClientRequestTest"
### Description

[io.quarkus.it.micrometer.prometheus.ClientRequestTest](https://github.com/quarkusio/quarkus/blob/fac6d3e16939038ec95e330ffb2255e58c12e0dd/integration-tests/micrometer-prometheus/src/test/java/io/quarkus/it/micrometer/prometheus/ClientRequestTest.java) has been disabled because of inconsistent results and it needs to be fixed and enabled.

### Implementation ideas

_No response_

[2022-08-29 17:37] jie-huang commented on #27547
Thanks for the explanation.

_"the behavior does not seem to standardized in any way"_.

To me, it seems any implementation of the method (noted with @DenyAll) is meaningless. Because no one can invoke it. Neither calls from @Path nor another method. That causes also @DenyAll meaningless almost. An implementation to throw exception should satisfy interface requirement in need without annotation. (

[2022-08-29 18:00] radcortez commented on #27487
Because the Reactive Filters are just regular beans and are not initialized at static init.

Well, if you build to native, you are stuck with the resolved config during the build for the filters in the native image, but it is not the only downside. Because provider filters are initialized at static init, they can only lookup configuration which is static init safe. For instance if you try to set `

[2022-08-29 18:12] #27507 closed

[2022-08-29 20:02] radcortez commented on #27487
Another alternative is to inject our root config object directly. Since it is build time and runtime fixed it is okay.

[2022-08-29 21:56] Sgitario commented on #27513
I tried to reproduce this issue and indeed the timeouts are working fine (in both Java 17, 11 and using the rest client builder and the injected client via CDI), so it might be related to the test suite.

[2022-08-30 05:28] geoand commented on #27575
@schmittjoaopedro would you like to contribute the docs improvement you have in mind? [This](https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/container-image.adoc) is the doc that would need to be updated

[2022-08-30 05:31] Sgitario commented on #27501
Indeed, this is not working in Resteasy Reactive, where it was working fine for Resteasy Classic.
Let's reopen this issue.

[2022-08-30 05:34] geoand commented on #27571
The code seems to intentionally be written to throw the exception

[2022-08-30 05:34] #27571 closed

[2022-08-30 06:03] Erfankam commented on #24897
@lordofthejars Have you used any profile in application.properties file?

[2022-08-30 06:20] geoand commented on #23997
@jimbogithub I was not able to reproduce the issue with your project.

[2022-08-30 06:26] geoand commented on #27570
Thanks for the thorough description of the current state @gsmet.

I'll have a look soon

[2022-08-30 06:39] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2953753841

[2022-08-30 07:16] jimbogithub commented on #23997
@geoand Did you use the branch I indicated?

[2022-08-30 07:27] Ladicek commented on #27574
Good, assigned to myself. I should have a PR later today or tomorrow -- thanks @gsmet for detailed instructions :-)

[2022-08-30 07:29] #24880 closed

[2022-08-30 07:36] trixpan opened #27583 "JSON logging cannot be activated on log handlers"
### Describe the bug

JSON logging is only supported on default log file. Should be configurable on all handlers

### Expected behavior

JSON log output on configured handler

[code]

[2022-08-30 07:37] trixpan commented on #27583
@gsmet related but apparently not solved by

https://github.com/quarkusio/quarkus/pull/25505

?

[2022-08-30 07:46] schmittjoaopedro commented on #27575
Hi @geoand , of course, I'll create a PR for it.

[2022-08-30 07:49] mkouba commented on #25050
I believe that this issue should be closed. @slinstaedt @geoand @manovotn WDYT?

[2022-08-30 07:53] andreas-trvlk commented on #24896
Hi @manofthepeace. I encountered similar issue when running `stream().parallelStream().forEach(this::doSomething);`. Have you found any solution or workaround? The suggested solutions are not confusing. Not sure how to apply that ClassLoader trick into `stream().parallelStream().forEach(this::doSomething);`.

[2022-08-30 08:06] #27469 closed

[2022-08-30 08:07] #25749 closed

[2022-08-30 08:08] geoand commented on #25050
I agree

[2022-08-30 08:11] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2953753841

[2022-08-30 08:50] FroMage commented on #27083
In #27526 I changed this a bit.

The reasons are about UX:

- From the user's PoV, whether the form is urlencoded or multipart should not matter in most cases. It's an encapsulation alternative, related to the limitations of urlencoded, but not really about semantics.
- A `String` is a `String`. Whether it's sent urlencoded, or as a file item in plain text or in binary. If you want a (decoded) `St

[2022-08-30 08:55] geoand commented on #23997
I did yes.

This is what memory looked like:

![mem](https://user-images.githubusercontent.com/4374975/187394021-1bfd3ef8-849d-4f32-9cea-3abe4b095a05.png)

As you see, the `Old Generation` size is constant and all allocations are in `Eden` (which also results in all GCs being `Young Generation` GCs).

[2022-08-30 09:19] jimbogithub commented on #23997
What process are you monitoring?  That loaded class count does not look plausible to me.

![image](https://user-images.githubusercontent.com/5095954/187399670-5c875f1e-fd5f-488a-8170-2459c9e15d0b.png)

![image](https://user-images.githubusercontent.com/5095954/187399759-7911e9ea-36c0-48b8-81d6-eb10f7aad2a4.png)

[2022-08-30 09:19] gsmet commented on #27506
@loicmathieu could you create a Yasson issue with a simple reproducer?

And in the meantime, I suppose we should disable the test entirely (and create an issue to track it and enable it again as soon as it's fixed on the Yasson side).
I think it's going to be easier to disable it in main rather than do some magic in the Jakarta transformation that we might forget about.

[2022-08-30 09:20] geoand commented on #23997
Oh, it's the client that has the leak? I was monitoring the server. Let me check the client as well

[2022-08-30 09:22] gsmet commented on #27506
Maybe create 2 Maven projects: one with the old Yasson that works and the other with the new that fails.

[2022-08-30 09:23] loicmathieu commented on #27506
OK, I'll work on it tomorrow.
I'll also create the PR to disable the test on main.

[2022-08-30 09:39] geoand commented on #23997
I can confirm the client issue.

[2022-08-30 09:39] gsmet commented on #27506
Thanks!

[2022-08-30 10:00] dlabordus opened #27589 "Quarkus startup hangs after upgrade to version 2.11.x.Final"
### Describe the bug

After upgrading our services one of the service isn't starting up anymore, at first even the build hangs. The other services are working correctly, but this one repository ([CoMPAS SCL Validator](https://github.com/com-pas/compas-scl-validator)) doesn't work anymore.

This repository is using a Library (RiseClipse) that's based on the Eclipse Framework and Eclipse OCL. To mak

[2022-08-30 10:04] gsmet commented on #27589
Could you get a thread dump with `kill -3 <pid>`? Make sure you anonymize any sensitive information in there before posting.

[2022-08-30 10:45] dlabordus commented on #27589
Is this what you are looking for

[code]

[2022-08-30 11:00] gsmet commented on #27589
Yes, exactly. You took this while the process was running with CPU at 100%, right?

If so, I suppose we have some sort of infinite loop in `ApplicationDependencyTreeResolver`.

I don't know how practical it is to create a reproducer for you? I think you could probably find the culprit by attaching a debugger with a breaking point on `io.quarkus.bootstrap.resolver.maven.ApplicationDependencyTreeRes

[2022-08-30 11:03] mkouba commented on #25050
Closing. @slinstaedt feel free to reopen if you have more questions/additional info.

[2022-08-30 11:03] #25050 closed

[2022-08-30 11:14] DavideD opened #27591 "Support annotation @PostConstruct (and similar) for reactive code"
### Description

When writing reactive code, it's not possible to use `@PostConstruct` correctly:
[code]

This doesn't work and if users want to call a reactive method and be sure that it's executed before returning,
they have to block and wait:
[code]

There are [some implementation details](https://github.com/quarkusio/quarkus/pull/26551#issuecomment-1231334195) that make this issue hard to solv

[2022-08-30 11:42] gsmet opened #27593 "Jakarta - Avoid test classpath pollution"
This is a preexisting issue: the test classpath is polluted by the Bootstrap dependencies, especially those coming from the Maven stuff.

It is even more annoying with the Jakarta migration as we will have a javax.inject dependency coming with Maven (we cannot get rid of it, unfortunately), which means that we will have several `@Inject` annotations around.

@aloubyansky is going to experiment wit

[2022-08-30 12:20] DavideD commented on #25110
I don't think so. This issue mentions two errors:
1. Timeout after 4 requests: this might or might not be solved by #23739. I haven't checked, but it depends whose managing the context in this scenario
2. Unsafe vert.x sub-context: I don't think #23739 affect this.

[2022-08-30 12:42] geoand commented on #23997
https://github.com/quarkusio/quarkus/pull/27594 seems to fix the issue but I am not yet 100% it's the proper fix

[2022-08-30 12:56] hbelmiro commented on #27541
It really works with the filter @phillip-kruger :)
Many thanks for your help.

[2022-08-30 12:56] #27541 closed

[2022-08-30 13:03] #27487 closed

[2022-08-30 13:32] mkouba commented on #27591
We'll need an asynchronous version of `javax.enterprise.context.spi.Contextual` and all other connected parts of the API.

CC @manovotn @Ladicek

[2022-08-30 13:47] manofthepeace commented on #24896
@andreas-trvlk  The easiest is to use quarkus' own `ManagedExecutor`.

[code]

then you can use something like this;

[code]

Please note the `@ManagedExecutorConfig(maxAsync = 150)`. I had problem when not having a limit on the managedExecutor, by default it has 200 threads, and then not limiting it looks like the stream processing could hang other quarkus features that may use it. I may be wrong

[2022-08-30 14:02] #27575 closed

[2022-08-30 14:02] tsaarni commented on #27481
I found interesting PR https://github.com/quarkusio/quarkus/pull/26767 that @cescoffier has kindly contributed quite recently. I'm testing this with Quarkus 2.12.0.CR1.  It works very nicely even for setting own keymanager that has hot-certificate-reload capability:

[code]

As far as I can see, I still have to define server certificate in `quarkus.http.ssl.certificate.*` config options as well, s

[2022-08-30 14:04] #27501 closed

[2022-08-30 14:08] Ladicek commented on #27591
I'm struggling to imagine how invasive this would be. Say I have a JAX-RS resource that injects a request-scoped bean with async `@PostConstruct` and exposes an async resource method, something like:

[code]

How would this work?

It's the JAX-RS implementation (RESTEasy Reactive in our case) who subscribes to the `Uni` returned by `HelloResource.hello()`. To execute that method, we have to instan

[2022-08-30 14:09] geoand commented on #24907
Is this still an issue with the latest versions of Quarkus?

[2022-08-30 14:10] geoand commented on #24851
I'm going to close this as we can't reproduce it without a sample project. If you can upload one, please do and we will reopen the issue.

[2022-08-30 14:10] #24851 closed

[2022-08-30 14:11] geoand commented on #24833
Has this been implemented?

[2022-08-30 14:11] knutwannheden opened #27596 "Mark `quarkus:go-offline` Maven mojo as thread-safe"
### Description

We are using the `quarkus:go-offline` goal to pre-populate the local Maven repo in our CI builds. We have then configured GitLab to cache this Maven repo. Now, we would like to execute this Maven build in parallel (something like `mvn dependency:go-offline io.quarkus:quarkus-maven-plugin::go-offline -T8 -Dmaven.artifact.threads=4`). This works, but we see warnings like this printe

[2022-08-30 14:12] geoand commented on #24750
@cescoffier with the new Redis API in, is there anything left on this issue or can it be closed?

[2022-08-30 14:14] knutwannheden commented on #27596
/cc @aloubyansky

[2022-08-30 14:15] geoand commented on #24153
I am going to assume this was fixed. If it's not, please comment and we can revisit the issue.

[2022-08-30 14:15] #24153 closed

[2022-08-30 14:22] VanillaSpoon commented on #24833
Hi @geoand
Sorry, I am unable to complete this currently. Would it be ok if I pass on the ticket?

[2022-08-30 14:26] geoand commented on #24833
Absolutely, thanks for letting us know

[2022-08-30 14:40] radcortez commented on #27487
The `OidcClientRequestFilter` was the only case I could find in the production code. Everything else is testing code.

Since the `OidcClientRequestFilter` configuration is build time, it is okay. Users are not able to change the configuration un runtime. I don't think we can do anything else. RESTEasy Classic Factories (including the filters) are being created in Static  Init, and changing that ma

[2022-08-30 14:42] gsmet commented on #27487
@radcortez but is the warning fixed?

[2022-08-30 14:44] mkouba commented on #27591
Very invasive!

The regular `@Inject` would need to remain blocking/sync.

Yes, I think that we'll need a special annotation.

Yep, something like a "memoized Uni", i.e. `Uni.memoize().indefinitely()`.

[2022-08-30 14:57] radcortez commented on #27487
Yes, because we now use inject the ConfigRoot class directly, and we don't validate that:
https://github.com/radcortez/quarkus/blob/99e0134cf4cb9091a287d3cfd55508a181e73806/extensions/oidc-client-filter/runtime/src/main/java/io/quarkus/oidc/client/filter/OidcClientRequestFilter.java#L30

[2022-08-30 15:32] gsmet commented on #27487
OK, perfect then. Sorry for the noise :).

[2022-08-30 16:37] radcortez commented on #27487
No worries :)

[2022-08-30 17:21] ErenKizilay commented on #27571
I could not understand. Code just contains basic controller. I demonstrated a way to produce the error. I am not suprised why this repo has 1.9k issues after seeing the way how issues are handled.

[2022-08-30 17:28] geoand commented on #27571
Your kind words are very much appreciated 😈

[2022-08-30 17:32] gsmet commented on #27571
Let calm things down please.

So first, if we were closing issues without considering them, we wouldn't have 1.9 k issues open. Also, this includes feature requests, extensions proposals and a ton of other things.

Then, I think it would be better if you could provide a Maven project reproducing your issue. Something that is complete enough so that we understand what you're trying to do and what's

[2022-08-30 19:26] hbelmiro opened #27603 "ImageGenerationFailureException: Exit code: 1 when creating native image using -Dquarkus.native.container-build=true"
### Describe the bug

When I try to run the following command to build a native image:

[code]

The following error happens:

[code]

### Expected behavior

The build complete without errors.

### Actual behavior

The build fails with the above error.

### How to Reproduce?

Run `mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true` in any Quarkus a

[2022-08-30 19:38] #27596 closed

[2022-08-30 19:50] jimbogithub commented on #23997
@geoand I've re-tested my assertion that it was related to the Jackson/JSON integration - it isn't.  Reproducer works with server sending PLAIN_TEXT and client doing simple `event.readData()`.  So no need to worry about that aspect.

[2022-08-30 20:00] kdubb opened #27605 "Malformed DNS message on MacOS"
### Describe the bug

When starting on macOS this message is printed:

Notice the `{}` in the final message.

### Expected behavior

Message tells me what can't be found.

### Actual behavior

☝️

### How to Reproduce?

Start an application in dev mode on macOS.

### Output of `uname -a` or `ver`

macOS 12

### Output of `java -version`

OpenJDK 17.0.2

### GraalVM version (if different from Java)

[2022-08-30 23:22] dector opened #27609 "Extend form auth cookie configuration"
### Description

**Suggested configurations**:

- Make cookie [`HttpOnly`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#security) / add configuration option to force this.
	- **Why?** Current cookie is not `HttpOnly` which is [not a safe way](https://owasp.org/www-community/HttpOnly) of using session cookie.
	- **Workaround?** Can you advice any? Is it possible intercept **single** en

[2022-08-30 23:39] radcortez commented on #27293
This is possible if you use `quarkus.config.locations`: https://quarkus.io/guides/config-reference#quarkus-config-config_quarkus.config.locations.

You can add multiple paths for additional classpath resources or external files. You don't have the explicit mapping to a file in the annotation, but I think that is unnecessary. You can just split the files per prefix you use, with the added benefit t

[2022-08-30 23:39] #27293 closed

[2022-08-31 00:16] radcortez commented on #27319
Yes, this is SmallRye Config and not specific to Quarkus. I'll see what I can do.

[2022-08-31 05:18] geoand commented on #23997
Right, I saw that too when testing my fix

[2022-08-31 05:44] markus-ntt-seidl opened #27611 "Instance<AmazonLambdaContext> always reports no entities"
### Describe the bug

To make the application be able to run in different contexts (CI, Local and AWS Lambda) we need loose binding to AWS Lambda specific resources. Unfortunately @Inject of AmazonLambdaContext doesn't work dynamically (even not with BuildProfiles). So we are querying it with

[code]

[code]

Always returns null, even when executed in AWS Lambda Environment.

### Expected behavior

[2022-08-31 06:10] dlabordus commented on #27589
Hi @gsmet, I tried attaching a debugger against the process, but that doesn't seem to work (Unable to connect).
I first tried running the App from IntelliJ in Debug mode with breakpoints, but IntelliJ doesn't even stop at the breakpoints.

Looking at the code the only line that could in theory cause a loop is at Line 306. Here the key is at the end removed from the visited list, but that should fi

[2022-08-31 06:16] geoand commented on #27611
I have updated the title and changed the type of the issue as we currently do not support injecting `AmazonLambdaContext`

[2022-08-31 06:17] geoand commented on #27605
Is there anything more to that message, like which class is printing it?

[2022-08-31 06:19] geoand commented on #27603
There should be more information in the stacktrace, can you please add it?

[2022-08-31 06:19] markus-ntt-seidl commented on #27611
Ok, so @Inject works as a side-effect.
Is there another way to `runtimeDeadlineMs` from inside Quarkus?

[2022-08-31 06:21] geoand commented on #27611
It should be available via the `Lambda-Runtime-Deadline-Ms` HTTP header

[2022-08-31 06:29] kdubb commented on #27605
`io.net.res.dns.DnsServerAddressStreamProviders`

[2022-08-31 06:29] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2961519396

[2022-08-31 06:30] kdubb commented on #27605
If it helps, we have a gradle build and I was running it from the Quarkus CLI (e.g. `quarkus dev`).

[2022-08-31 06:32] dlabordus commented on #27589
Creating the reproducer went pretty fast. The problem occurs when using the Eclipse Dependencies from the converted Eclipse P2 Site.

I just created a basic Quarkus project using https://code.quarkus.io/. Next added the Eclipse Tycho Plugin with the needed aggregator and the Eclipse Dependencies. The Test for the class GreetingResource now already is causing the problem, Quarkus won't start for th

[2022-08-31 06:33] aloubyansky commented on #27589
Thanks a lot @dlabordus I'll have a look.

[2022-08-31 06:39] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2961521055

[2022-08-31 06:48] cescoffier opened #27613 "Re-enable the com.example.grpc.hibernate.BlockingRawTest#shouldAdd test"
### Description

Re-enable the gRPC BlockingRawTest disabled in #27597.

### Implementation ideas

_No response_

[2022-08-31 06:49] aloubyansky commented on #27589
@dlabordus how do you create the eclipse p2 mirror?

[2022-08-31 06:49] cescoffier commented on #24750
@geoand yes... the 3 unchecked boxes :-(

[2022-08-31 06:51] geoand commented on #24750
Gotcha, thanks

[2022-08-31 06:52] cescoffier opened #27614 "Re-enable the test KafkaDevServicesContinuousTestingTestCase#testContinuousTestingScenario2"
### Description

Investigate why the test is flaky.
That test got disabled in #27586.

### Implementation ideas

_No response_

[2022-08-31 06:57] aloubyansky commented on #27589
It fails for me because Maven can't initialize the project.

[2022-08-31 06:59] aloubyansky commented on #27589
Do you have a Maven extension enabled somewhere?

[2022-08-31 07:01] dlabordus commented on #27589
I just download the ZIP File again and started executing './mvnw verify' and it works from the command line. No extensions as far as I know.
What is the error message?

[2022-08-31 07:02] dlabordus commented on #27589
I'm using Java 17, can this be the problem for you?

[2022-08-31 07:02] aloubyansky commented on #27589
[code]

[2022-08-31 07:03] dlabordus commented on #27589
Wait, maybe it has something to do with my local M@ Repository.

[2022-08-31 07:04] aloubyansky commented on #27589
Right. The `eclipse-run` is configured to be executed in the `generated-resources` phase but it can't get to that phase.

[2022-08-31 07:12] dlabordus commented on #27589
I got a way to get it working. Normally the Repo creation is in a separate module in our project.

But if you first execute
`./mvnw org.eclipse.tycho.extras:tycho-eclipserun-plugin::eclipse-run`
And next
`./mvnw verify`
it should work.

[2022-08-31 07:23] aloubyansky commented on #27589
Now it can't resolve `org.antlr.runtime:org.antlr.runtime:jar:3.2.0`

[2022-08-31 07:25] aloubyansky commented on #27589
Got passed it. Needed to re-generate the P2 mirror for some reason.

[2022-08-31 07:28] knutwannheden opened #27615 "Maven `go-offline` goal fails in multi-module builds"
### Describe the bug

In order to improve build performance in our CI builds we want to use the Quarkus Maven plugin's `go-offline` goal in order to populate a local Maven repo which can then be shared by the builds. We tend to have multi-module projects and in this setup the Maven goal often fails, even though when the goal is executed for the Maven module, where it reported the failure, then the

[2022-08-31 07:28] knutwannheden commented on #27615
/cc @aloubyansky

[2022-08-31 07:43] vonatzigenc commented on #27615
Additional context, which may help in finding a solution: The plugin supports go-offline in multi-module projects only since 3.1.2. This has been fixed with issue https://issues.apache.org/jira/browse/MDEP-204 .

[2022-08-31 07:45] aloubyansky commented on #27589
Unfortunately it's getting stuck at
[code]

[2022-08-31 07:51] dlabordus commented on #27589
This is when the GreetingResourceTest is being executed?

Because this is the problem, when you do a kill -3 you should see something similar I have.
And the CPU should be at something like a 100%.

Adding this option '-Dquarkus.bootstrap.converged-tree-only=true' to the command should pass the build again.
Or something like '-DskipTests=true' will also do that.

[2022-08-31 07:52] aloubyansky commented on #27589
Oh, ok, thanks, got it!

[2022-08-31 07:56] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2961521055

[2022-08-31 08:13] ozangunalp commented on #27352
Bumping redpanda version resolves the issue, I'll verify that it doesn't break anything else and open the PR.

[2022-08-31 08:19] aloubyansky commented on #27589
It looks like an infinite loop but probably it isn't exactly that. It seems like a very "dirty" dependency graph with lots of alternative versions. Anyway, it has to be fixed.

[2022-08-31 08:48] loicmathieu opened #27619 "Re-enable PojoResourceTest when the issue is fixed at Yasson side"
### Describe the bug

The `io.quarkus.it.mongodb.PojoResourceTest` has been disabled in https://github.com/quarkusio/quarkus/pull/27618 to allow migration to Yasson 3.0.1 during the Jakarata EE migration.

See https://github.com/quarkusio/quarkus/issues/27506
See https://github.com/eclipse-ee4j/yasson/issues/575

When the issue will be fixed on Yasson side, the test should be re-enabled.

[2022-08-31 08:54] loicmathieu commented on #27506
I opened and issue at Yasson side: https://github.com/eclipse-ee4j/yasson/issues/575
It looks like it was already reported here: https://github.com/eclipse-ee4j/yasson/issues/573

I openned an issue to disable the test for now: https://github.com/quarkusio/quarkus/issues/27619

[2022-08-31 08:57] geoand commented on #27605
So it seems like we intercept the Netty logging via `JBossNettyLoggerFactory` whose purpose is to redirect the logging to our own JBoss LogManager (cc @galderz who introduced it).

However, it does not seem (at least with a first quick check) that JBoss LogManager handles the `{}` style for arguments (which seems to be used throughout Netty). @jamezp @dmlloyd is there any was that JBoss Logging co

[2022-08-31 09:07] geoand commented on #27605
Looking at the code, this should only happen in dev-mode, can you confirm?

[2022-08-31 09:15] FroMage opened #27620 "Hibernate Reactive error unclear when starting without a database driver"
### Description

When I create a Quarkus project using Hibernate ORM with an entity but without a database driver, I get the following error at startup:

[code]

When I try the same with Hibernate Reactive I get the following messages, but startup is not interrupted and my application then gets NPEs because I have no session:

[code]

It would be nice if the error was consistent and told the users

[2022-08-31 09:18] gavinking commented on #27620
Looks like one for @Sanne, really.

[2022-08-31 09:27] iocanel commented on #20644
We could possible take `quarkus.http.xxx` into consideration in order to set tls termination and policy.
@Sgitario I think that you have done some related work. Is this something that is feasible makes sense?

[2022-08-31 09:35] Sgitario commented on #25874
I think we need @gastaldi to create a new project for the Quarkus Cert-Manager extension in Quarkiverse. Can you help with that?

[2022-08-31 09:36] Sanne commented on #27620
I admit there's many things that could be more helpul in how HR and Quarkus are integrated, but we need to finish the upgrade to ORM6 first, then separate the HR extensions from the ORM one. They are too intertwined today and that's not helping.

[2022-08-31 09:43] Sgitario commented on #20644
Personally, I would not overcomplicate the logic here to magically/automatically configure the Ingress tls termination when configuring the `http.ssl` ... properties. Mostly, because it's not that simple: the certificates need to be in a Kubernetes secret.

So, if users still want to proceed, they would have to manually configure the Ingress TLS following the guide: https://quarkus.io/version/main

[2022-08-31 09:48] FroMage opened #27622 "NPE in DEV console command"
### Describe the bug

I started my app with `mvn clean quarkus:dev`, opened the DEV console with `:` then typed `postgres print-command` and got an NPE:

[code]

The normal terminal has more info:

[code]

[quarkus-dev-console-psql.zip](https://github.com/quarkusio/quarkus/files/9460437/quarkus-dev-console-psql.zip)

### Expected behavior

_No response_

### Actual behavior

_No response_

### How

[2022-08-31 10:10] FroMage opened #27623 "Async startup code"
### Description

For blocking code, we can use:

[code]

But for reactive code, I don't know how to do it. This doesn't work:

[code]

Because `ArC` doesn't subscribe to the returned `Uni`, and there's no transaction anyway.

This doesn't work either:

[code]

Because again, ArC doesn't subscribe to the `Uni` returned by the `io.quarkus.hibernate.reactive.panache.common.runtime.ReactiveTransaction

[2022-08-31 10:11] FroMage commented on #27623
Note that this is related to #27591 but should have no impact on injection points, so this should not delay injection and cause async injection with all the headaches that #27591 implies.

[2022-08-31 11:27] senzu opened #27626 "[2.11.3.Final] Cannot create SOAPConnectionFactory in native mode"
### Describe the bug

Hi!

I have an issue with following code snippet:

[code]

The maven command which is used to build: mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true

I don't know if it matters, but I have quarkiverse imported to the project:

<dependency>
  <groupId>io.quarkiverse.cxf</groupId>
  <artifactId>quarkus-cxf</artifactId>
  <ve

[2022-08-31 11:35] gastaldi commented on #25874
Sure, I can do that. How will it be called? `quarkus-cert-manager`?

[2022-08-31 11:36] Sgitario commented on #25874
+100

[2022-08-31 12:03] geoand commented on #27626
Please report this issue to https://github.com/quarkiverse/quarkus-cxf, as it is not related to Quarkus core.

Thanks

[2022-08-31 12:05] deedarb commented on #27127
after upgrading from 2.11.1 to 2.11.3 my app is not working.
i have a custom scalar type

        @AdaptToScalar(Scalar.String.class)
        public class I18nLabel {
            ...
            @Override
	        public String toString() {
                    Language lang = Optional.ofNullable(CDI.current()).map(cdi -> cdi.select(HttpServerRequest.class)).map(Instance::get).flatMap(WebUtils::ext

[2022-08-31 12:08] senzu commented on #27626
OK, thank you!

[2022-08-31 12:08] #27626 closed

[2022-08-31 12:08] geoand commented on #27626
🙏🏼

[2022-08-31 12:09] hbelmiro commented on #27603
@geoand there isn't much more than that. There is this exception, which is thrown because I don't have podman installed. But as I could see in the Quarkus code, it's expected.

[code]

And this is the entire stack trace of the error that breaks the build.

[code]

[2022-08-31 12:10] geoand commented on #27615
@aloubyansky @famod this looks like an upstream issue, no?

@vonatzigenc Thanks for posting the link.

[2022-08-31 12:15] geoand commented on #27603
Indeed there is no useful information there...

[2022-08-31 12:22] mazenkhalil commented on #27605
I am facing what I think a related issue here. Apart from the WARN message, mongoDB connection fails due to DNS issue...

This happens right after upgrading from 2.11.2.Final to 2.12.0.Final.

[code]

[2022-08-31 12:25] geoand commented on #27605
I don't think it's the same issue TBH, because it looks like the Mongo driver failing to perform DNS, not Netty.

I would suggest opening a new issue - and sharing a sample application if possible.

[2022-08-31 12:27] hbelmiro commented on #27603
@geoand it would probably help if we could see the stdout/err of the generated process. If you point me where this should be done, I can patch the Quarkus code and try it locally.

[2022-08-31 12:29] geoand commented on #27603
Not sure what your asking exactly.

If I were you, I would do `mvnDebug` and debug the process (you likely need to add `quarkus-core-deployment` as a `provided` dependency to make the IDE understand the build time classpath)

[2022-08-31 12:35] #25874 closed

[2022-08-31 12:46] mazenkhalil opened #27627 "MongoDB driver failing DNS Lookup"
### Describe the bug

Upon upgrading to 2.12.0.Final, Quarkus application fails to establish mongodb+srv connection due to DNS lookup issue.

Apart from the stacktrace below, the below WARN message is logged as well.
[code]
[code]

### Expected behavior

TXT DNS lookup should be done successfully

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or

[2022-08-31 12:48] mazenkhalil commented on #27627
This issue might be related #27605

[2022-08-31 12:51] gsmet commented on #27546
I'm not overly excited about it but I will let @aloubyansky judge of that. I don't think we have that many uses of this feature and it looks relatively safe.

[2022-08-31 12:52] aloubyansky commented on #27546
I added the backport label to the PR.

[2022-08-31 12:55] mazenkhalil commented on #27627
Using 2.11.3.Final, the WARN message below get logged, but MongoDB DNS lookup work as expected with no issues.
[code]

[2022-08-31 13:14] mazenkhalil commented on #27605
I found out adding the below dependency removes the WARN message. (I thought this might help identifying the issue)

[code]

[2022-08-31 13:14] geoand commented on #27605
Yeah, that's expected.

[2022-08-31 13:16] kdubb commented on #27605
Yeah this issue was about the logging. I'm pretty sure in past versions the message would tell you that the issue was the dependency you added by name.

[2022-08-31 13:18] zakkak commented on #27603
@hbelmiro do you see any output like the following before the error?

[code]

If so, can you please post that part?

[2022-08-31 13:23] deedarb opened #27628 "GraphQL fails to get current request using CDI.current().select(HttpServerRequest.class)"
### Describe the bug

GraphQL fails to get current request using CDI.current().select(HttpServerRequest.class)

fails with

    javax.enterprise.context.ContextNotActiveException: RequestScoped context was not active when trying to obtain a bean instance for a client proxy of PRODUCER_METHOD bean [class=io.quarkus.vertx.http.runtime.CurrentRequestProducer, id=c786212c50efeac37ecc96f8570579f64be3bb

[2022-08-31 14:39] jamezp commented on #27605
Both JBoss Logging and the JBoss Log Manager do support the `MessageFormat`. I think the `JBossNettyLoggerFactory` needs a change. It should be using `log.warnf` for example it should use `log.warnv`. The `xxxxf` versions or for print format and the `xxxxv` are for message format.

[2022-08-31 14:47] geoand commented on #27605
Thanks for the input @jamezp .

But does MessageFormat support `{}`?

In a quick test I did, it did not work, but I'll have to take another look.

[2022-08-31 14:50] Eng-Fouad opened #27630 "quarkus.uuid is missing in 2.12.0"
### Describe the bug

    ConfigProvider.getConfig().getValue("quarkus.uuid", UUID.class);

This works well in Quarkus 2.11.3. However, it throws an exception in Quarkus 2.12.0:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### G

[2022-08-31 14:54] DavideD commented on #27591
What I get from all this is that this issue is complex and it might not be worthy to spend time on it.

I guess my main issue is that, in general,  it's hard to figure out which annotations accept unis and which don't.

In this case we are specifying the order of the operations, it seems sensible to think that it would work (as a user that's not aware of what's happening under the hood).

[2022-08-31 14:54] gsmet commented on #27630
@radcortez I don't think we have removed it so I suspect a config issue. Feel free to redirect to someone else if it's not.

[2022-08-31 14:54] gsmet commented on #27630
And we should probably have a test for that too.

[2022-08-31 14:56] #27622 closed

[2022-08-31 15:22] Ladicek commented on #27574
Sorry it took me a bit long -- I got distracted with another ArC problem :-) Here's a branch on top of `jakarta-rewrite`: https://github.com/Ladicek/quarkus/commits/jakarta-arc It has one commit that adjusts dependency versions in ArC's top-level `pom.xml`, and another commit that adjusts the code. Does that work?

(I didn't add my code to implement Build Compatible Extensions. I agree that should

[2022-08-31 15:22] dmlloyd commented on #27481
IIRC what I was looking at was providing a single configuration strategy for TLS. Using the Elytron APIs we can plug in handlers for customized authentication and other things, at abstraction points that are more logical than replacing the trust manager and key manager. I'd have to review whether that would in turn allow support for hot-swapping certificates, but it seems feasible at least.

[2022-08-31 15:25] gsmet commented on #27574
Exactly what I was expecting, thanks. Can you push it to the main repository as `jakarta-10-cdi`? It's going to be easier for me and I prefer having the branches we are relying on in the main repo rather than spread across various forks.

I'll work on including it in the `jakarta-rewrite` branch once it's available.

Thanks!

[2022-08-31 15:26] Ladicek commented on #27574
I wasn't sure I have permissions for that, but it seems I do. It's in `jakarta-10-cdi` branch in the main repo now.

[2022-08-31 15:31] gsmet commented on #27574
Awesome, thanks. I will all let you know when it's incorporated.

[2022-08-31 15:36] aloubyansky commented on #27589
@dlabordus I opened a PR with a fix. Thanks a lot for the reproducer.

[2022-08-31 15:40] dmlloyd commented on #27605
The `JBossNettyLoggerFactory` and its corresponding logger should do the same thing that [Netty's `JdkLogger`](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/logging/JdkLogger.java#L548) does and call [`io.netty.util.internal.logging.MessageFormatter#arrayFormat(format, arguments)`](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/inte

[2022-08-31 15:54] jamezp commented on #27605
@geoand Yes. The `xxxxv` methods use `MessageFormat` which is the `Message {}` style.

[2022-08-31 16:01] aloubyansky commented on #27615
@vonatzigenc this `go-offline` issue was reported for the `quarkus-maven-plugin`, not the Maven dependency plugin, which is a different impl. The Maven dependency plugin won't be enough for Quarkus projects.

[2022-08-31 16:05] geoand commented on #27605
Thanks folks. I'll provide a fix tomorrow

[2022-08-31 16:16] radcortez commented on #27630
I was not able to reproduce the issue. I've tried with a sample project with `2.12.0.Final` and it worked as expected. I've also added a test in https://github.com/quarkusio/quarkus/pull/27634 and it also works.

@Eng-Fouad can you please provide us with a reproducer? Thank you.

[2022-08-31 16:55] mweber03 opened #27635 "More global Rest Client configs"
### Description

I saw some configs are both global and available per "config-key", like:
[code]

could other variables be global too? such as:
[code]

### Implementation ideas

_No response_

[2022-08-31 17:02] galderz commented on #27603
[code]

That's an odd one, but I found a similar error in [this Stackoverflow question](https://stackoverflow.com/questions/55178839/quarkus-building-a-native-executable-nosuchfileexception-project). Is there anything particular about your docker env? Are you running the docker daemon locally?

Note also this:
[code]
You probably have an extension missing to build the runtime container, once you g

[2022-08-31 17:20] galderz commented on #27277
Changed the labels @geoand. I don't see any indication that this is an issue with native itself, but rather an issue with resteasy changes in the Quarkus update? Who can explore this further?

[2022-08-31 17:22] geoand commented on #27277
Thanks @galderz .

There isn't anyone that really owns the RESTEasy Classic stuff, but I guess either I or @gsmet should take a look

[2022-08-31 17:35] DMaxter commented on #27215
Any news on this issue?

[2022-08-31 17:36] geoand commented on #27215
Not at the moment.

We have a large refactoring of the multipart support we want to get in before making any other changes to it.

[2022-08-31 17:41] #27603 closed

[2022-08-31 17:42] geoand commented on #27603
👌

[2022-08-31 17:50] jerboaa commented on #27300
If I attempt to runtime-initialize one of the offending classes from kotlin, then I get (used `--initialize-at-run-time='kotlin.reflect.jvm.internal.impl.renderer.DescriptorRendererOptionsImpl$property$$inlined$vetoable$1' --trace-class-initialization='kotlin.reflect.jvm.internal.impl.renderer.DescriptorRendererOptionsImpl$property$$inlined$vetoable$1'` as extra options):

[code]

So this seems a

[2022-08-31 18:04] jayfray12 opened #27637 "OIDC Remote Intropsection should work with discovery-enable set to true"
### Description

Based on the docs [here](https://quarkus.io/guides/security-openid-connect#token-verification-introspection) you must turn off `quarkus.oidc.discovery-enabled` in order for remote introspection to work.  If you turn this off then you must set the `introspection-ath` and the other paths as well to known defaults like `/protocol/openid-connect/token/introspect`.  This doesn't make a

[2022-08-31 18:05] mweber03 opened #27638 "Multiple Application error with ignore-application-classes set to true"
### Describe the bug

I'm running `quarkusDev`, and I set `quarkus.resteasy.ignore-application-classes=true`. But I still get an error that `More than one Application class` exists. With that config property set, shouldn't that error not be possible?

### Expected behavior

Successful startup with no `Application` classes.

### Actual behavior

[code]

### How to Reproduce?

1. Create 2 projects w

[2022-08-31 18:21] samodadela opened #27639 "java.lang.VerifyError: class GcpQuarkusJsonLoggingProvider_Subclass overrides final method org.jboss.logmanager.ExtFormatter.format(Ljava/util/logging/LogRecord;)Ljava/lang/String;"
### Describe the bug

When running `mvn quarkus:dev` on the attached reproducer, Quarkus seems to override the wrong method.

`ExtFormatter` has:
[code]

`GcpQuarkusJsonLoggingProvider` overrides:
[code]

but Quarkus complains:
[code]

### Expected behavior

Quarkus should choose `public abstract String format(ExtLogRecord record)` instead of `public final String format(final LogRecord record)`.

[2022-08-31 18:44] rmanibus opened #27640 "Panache deleteById fails silently"
### Describe the bug

It is currently impossible to delete an entity owning a ManyToOne relation.

deleteById return true, but the entity is still in database.

[code]

### Expected behavior

the entity is deleted and the related entity stays in db.

### Actual behavior

the entity is not deleted.
setting cascade delete effectively allow to remove the entity but also remove the related entity.

##

[2022-08-31 18:51] #27352 closed

[2022-08-31 18:53] guitcastro opened #27641 "Added an option to run integration tests using graalVM native agent"
### Description

Currently I am generating my reflections config using [GraalVM native agent ](https://www.graalvm.org/22.0/reference-manual/native-image/Agent/) when executing integrations tests.

The steps are:

* I have to start the application manually using ` java -agentlib:native-image-agent=config-output-dir=native-agent -jar app/build/quarkus-app/quarkus-run.jar`
* run the integration test

[2022-08-31 18:53] gsmet opened #27642 "Jakarta - EE 10 - Upgrade Quarkus HTTP to Servlet 6.0.0 and Websockets 2.1.0"
I have no idea how much work it will be for now.

The rewrite code is here: https://github.com/quarkusio/quarkus-http/tree/main/jakarta .

But I suspect we will have to adjust some APIs...

[2022-08-31 18:55] gsmet opened #27643 "Jakarta - EE 10 - Update Jakarta Authorization API to 2.1.0 and Authentication API to 3.0.0"
I think it's Elytron Security which is supposed to implement these but I haven't found a version that actually targets EE 10.

I need to ping some WildFly people.

[2022-08-31 20:40] #27614 closed

[2022-08-31 20:47] #27589 closed

[2022-08-31 21:55] vonatzigenc commented on #27615
My comment was a little too short. I have seen that it is quarkus plugin. Thought the issue might help, since there the problem with multi module projects was also solved.

I didn't look closely enough at the implementation of go-off in the quarkus plugin to judge how much can be gained from the solution in the maven-dependency-plugin.

[2022-08-31 22:08] Sanne commented on #27166
Thanks for the great reproducer - I finally had some time to dive into it, apologies it took some time.

I believe we've indeed found a leak in Hibernate ORM; it seems the path for lazy-loading triggered on an enhanced entity, on an existing open session but with lack of active transaction is not defensive enough in handling the JdbcCoordinator.

The workaround is indeed to use a Transaction.

Int

[2022-08-31 22:32] sberyozkin commented on #27637
@jayfray12 It works with the discovery enabled, that doc section is about enabling the introspection only by effectively blocking the acquisition of the metadata containing the info such as the jwks_endpoint - because its availability will allow to fetch the verification keys and the default way of verifying things will work (use the keys and only try the remote introspection if no local key is av

[2022-08-31 23:46] Eng-Fouad commented on #27630
@radcortez https://github.com/Eng-Fouad/quarkus-2_12-bug

[2022-09-01 00:11] Eng-Fouad commented on #27630
Even this simple resource class does not let the server to start normally:

[code]

changing Quarkus version back to `2.11.3.Final` makes it working well.

[2022-09-01 03:18] phillip-kruger commented on #27628
Ok, I'll see if I can fix this. The problem is in the `AdaptToScalar` class (I18NLabel).

As a workaround, you can change that class to not do the lookup in the `toString` but rather in the earlier when you construct the class. Something like this:

[code]

[2022-09-01 03:51] GregJohnStewart opened #27652 "${quarkus.application.version} not resolvable from application.yaml"
### Describe the bug

As the title says, `${quarkus.application.version}` is no longer resolvable in the `application.yaml`, and produces the following error:

`java.util.NoSuchElementException: SRCFG00011: Could not expand value quarkus.application.version in property`

All other values populated using `${}` in my yaml populate just fine, just specifically `quarkus.application.version` has issues

[2022-09-01 04:29] aloubyansky commented on #27615
Sure, thanks for the info @vonatzigenc

To be more accurate, the title of this issue is not precise enough. `quarkus:go-offline` does work in a multi-module project when executed from the application module. I think it's the `-f` arg and the fact that it is executed recursively is the issue. It is also executed in a module that isn't a Quarkus app first, which this goal wasn't originally intended

[2022-09-01 05:34] tsaarni commented on #27481
Currently the `HttpServerOptionsCustomizer.customizeHttpsServer()` call happens only if Vert.x SSL config was created

https://github.com/quarkusio/quarkus/blob/36ea30a7a58d974107f2b47df4cb7231b8e0fc82/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L662-L664

But i fuser does not set certificate & key or keystore in `quarkus.http.ssl.certificate.*`

[2022-09-01 05:55] geoand commented on #27277
@gsmet do you have any change in mind that could have caused it?

[2022-09-01 05:57] geoand commented on #27635
@TomasHofman since you did a lot of this work, would you be interested in this?

[2022-09-01 06:05] deedarb commented on #27628
workaround works as expected, implemented **lang** initialization in default constructor

[2022-09-01 06:09] geoand commented on #27652
@radcortez I think you've seen something similar, right?

[2022-09-01 06:10] TomasHofman commented on #27635
@geoand Sure, I will look at this.

[2022-09-01 06:16] geoand commented on #27635
Thanks!

[2022-09-01 06:16] phillip-kruger commented on #27628
Great. I am working on a fix ...

[2022-09-01 06:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2969095517

[2022-09-01 06:25] geoand commented on #27627
@cescoffier IIRC, you had at some point looked at Mongo DNS issues, right? Does this ring any bells?

[2022-09-01 06:27] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2969097621

[2022-09-01 06:27] geoand commented on #27638
What extensions are you using?

[2022-09-01 07:13] geoand commented on #27386
Should this be closed as the actual issue is tracked in Vert.x?

[2022-09-01 07:18] geoand commented on #27237
Interesting. Can you provide a sample project we can look at?
This should work

[2022-09-01 07:22] #27151 closed

[2022-09-01 07:30] plevart commented on #17291
Hi, what's the state of this? I'm using Quarkus 2.11.2 which uses Hibernate 5.6.10 and I still trigger some Hibernate Session interaction by calling myEntity.getMyFetchTypeLazyCollection() while Hibernate.isInitialized(myEntity) == true. Since this happens in a custom serializer when the Session is not active any more, it triggers Hibernate exception. Here's the relevant part of stack trace:

[cod

[2022-09-01 07:33] geoand commented on #26925
Closing as never got a reproducer for this.

If you do provide one, we can reopen the issue and investigate

[2022-09-01 07:33] #26925 closed

[2022-09-01 07:35] 0SkillAllLuck opened #27654 "gRPC DevMode not working with custom non-application-root-path"
### Describe the bug

When changing the `quarkus.http.non-application-root-path` to something else than `q` the DevMode will no longer work as some links and the web socket connect to a hardcoded path.

### Expected behavior

Links and web socket use the correct url

### Actual behavior

Links and web socket use the hardcoded /q/dev url

### How to Reproduce?

_No response_

### Output of `uname -

[2022-09-01 07:37] yrodiere commented on #17291
@plevart No, the fact that your entity is initialized does not mean its associations are. You `spanB` association is lazy, so unless you access it before closing your session, that lazy init exception is expected.

If you want to discuss this further, please open a GitHub discussion or a bug report. Reviving old topics is not a great way to get visibility to your comments ;)

[2022-09-01 07:39] geoand commented on #26192
Closing this as never got feedback.

[2022-09-01 07:39] #26192 closed

[2022-09-01 07:40] geoand commented on #26187
Closing this as we could not reproduce it.

If you have newer information to provide, we will certainly take another look

[2022-09-01 07:41] plevart commented on #17291
Sorry, I incorrectly assumed this issue was still open.

[2022-09-01 07:42] geoand commented on #26007
This is contingent on https://github.com/quarkusio/quarkus/issues/27623

[2022-09-01 07:46] geoand commented on #25581
Closing this as `won't fix`

[2022-09-01 07:46] #25581 closed

[2022-09-01 07:49] geoand commented on #25453
@cescoffier @radcortez is this also something that would be fixed by https://github.com/quarkusio/quarkus/pull/27443?

[2022-09-01 07:51] geoand commented on #25422
Although @mkouba will probably say otherwise :), I personally have always viewed CDI as an integration framework, so this sounds very reasonable to me

[2022-09-01 07:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2969097621

[2022-09-01 07:53] cescoffier commented on #25453
I don't believe it will handle everything. We need to instrument Mutiny (which I'm kind of reluctant, especially when you see how it's done in other libs). @brunobat, @radcortez, @ozangunalp , @jponge and I will discussed this shortly.

[2022-09-01 07:53] cescoffier commented on #27627
It's not an issue with the netty log.
@evanchooly recently changed the DNS resolution in Mongo to use the Vert.x DNS client. I was thinking it was an opt-in, but maybe it got enabled by default.

[2022-09-01 07:59] geoand commented on #27627
For future reference, the change was on in https://github.com/quarkusio/quarkus/pull/26388

[2022-09-01 08:05] dorianm commented on #26421
The best way to execute database schema migration it in Kubernetes is to use an init container. See this Liquibase blog post about this problematic : https://www.liquibase.com/blog/using-liquibase-in-kubernetes

At my company, we have multi-module Quarkus project, one module is a Picocli which implement the following job :

[code]

And our Kubernetes deployment looks like this :

[code]

I admit i

[2022-09-01 08:06] tsegismont commented on #27386
I believe we can keep it open until the fixed version is integrated in Quarkus.

[2022-09-01 08:11] plevart commented on #17291
I posted this here: https://github.com/quarkusio/quarkus/discussions/27657

[2022-09-01 08:11] knutwannheden commented on #27615
Yes, that is the case in the reproducer here and also in our real use case. The Quarkus application is one of the submodules only.

[2022-09-01 08:13] geoand commented on #27386
Okay, no problem

[2022-09-01 09:00] #26837 closed

[2022-09-01 09:15] manovotn commented on #27639
So, the class `GcpQuarkusJsonLoggingProvider` is subject to interception which means we iterate over its methods and try to [pinpoint any `final` methods](https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java#L184-L186).
Debugging shows that we even correctly detect `public final String format(final LogRecord record)`

[2022-09-01 09:22] famod commented on #25981
@ geoand

Do 6 weeks already qualify as "few"? 😜

[2022-09-01 09:23] geoand commented on #25981
Other things always come up

[2022-09-01 09:31] gsmet commented on #27574
It has been incorporated here: https://github.com/quarkusio/quarkus/pull/27651 .

I had the first report this morning and I created: https://github.com/smallrye/smallrye-graphql/pull/1531 . I think it's the only issue we have.

Thanks everyone.

[2022-09-01 09:31] #27574 closed

[2022-09-01 09:32] antssilva96 opened #27659 "Same prefix path in two classes leads to 404 not found"
### Describe the bug

This bug seems to be similar to https://github.com/quarkusio/quarkus/issues/18542 but is happening in regular `quarkus-resteasy`.

I have a resourceA with

[code]

and a resourceB with

[code]

and this leads to 404 NOT Found  when I perform a GET /test/1234, even though it should be able to find the method in ResourceA.

If I remove the `/{testId}` from ResourceB's path it w

[2022-09-01 09:32] ewelling commented on #26085
Apologies for the delay. It seems that setting **quarkus.test.flat-class-path=true** resolves the issue. A similar issue is described in [#16804](https://github.com/quarkusio/quarkus/issues/16804).

[2022-09-01 09:33] #27377 closed

[2022-09-01 09:42] manovotn commented on #27639
@samodadela, so the reason this doesn't work is because you are extending `org.jboss.logmanager.ExtFormatter`.
Logging classes are loaded by system `ClassLoader` as mentioned in [this guide](https://quarkus.io/guides/class-loading-reference#parent-first-dependencies):

This is a problem because despite Arc attempting to perform the bytecode transformation on the `final` method, the class has been

[2022-09-01 09:48] omar-zahid commented on #26837
Thanks a lot. Appreciate it.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: sberyozkin ***@***.***>
Sent: Thursday, September 1, 2022 5:00:19 PM
To: quarkusio/quarkus ***@***.***>
Cc: Omar Zahid ***@***.***>; Mention ***@***.***>
Subject: Re: [quarkusio/quarkus] Support `Keycloak` injection in `quarkus-keycloak-admin-client` and `quarkus-keycloak-admin-clie

[2022-09-01 09:49] omar-zahid commented on #26837
Thanks all.

[2022-09-01 10:14] mariuszbozek opened #27661 "KafkaStreams doesn't respect Serdes provided for Materialized method"
### Describe the bug

KafkaStreams doesn't respect Serdes provided for Materialized method

I have simple code with aggregation (with StringSerde for value)
[code]
Quarkus Kafka Stream extension force me to setup default Serdes so I added it to the application.properties file (I added LongSerde for value to check if Serde provided in Materialized method will be respected)
[code]

I received the er

[2022-09-01 10:34] geoand commented on #27659
I am going to close this as a duplicate of https://github.com/quarkusio/quarkus/issues/25462

[2022-09-01 10:34] #27659 closed

[2022-09-01 10:37] #27654 closed

[2022-09-01 10:44] markusdlugi commented on #25453
Just wanted to point out that there's still an open [Pull Request](https://github.com/quarkusio/quarkus/pull/25576) by @holomekc which already implements this OTel instrumentation for Mutiny using a `UniInterceptor` and a `MultiInterceptor`. Of course, this approach has a large impact because it basically instruments and wraps every `Uni` and `Multi` in the application, but I actually don't see an

[2022-09-01 10:52] samodadela commented on #27639
@manovotn
Can you check why this works using an older Quarkus (e.g. 1.10.5.Final)?
Event though this fails for `mvn quarkus:dev` it works correctly when deployed on GCP. Why?
Any workrounds?

[2022-09-01 10:54] ozangunalp commented on #27661
I think you need to specify the Serde in the `.to()` method downstream to your aggregation, something along `Produced.with(Serdes.String(), Serdes.String())`, otherwise it takes the default serdes of your StreamConfig

[2022-09-01 11:07] OleKsimov commented on #27185
@radcortez
I've tested it today with 2.12.0 version and the exception during build time is still present.

[2022-09-01 11:08] mkouba commented on #27639
You can try to set `quarkus.arc.dev-mode.monitoring-enabled=false`, disable the dev monitoring feature that adds an interceptor to all eligible beans. It worked before because the dev monitoring feature was not present.

[2022-09-01 11:15] DGuhr commented on #26878
@sberyozkin did you perhaps have time to look into this bug?

[2022-09-01 11:21] radcortez commented on #27185
This was not released yet. It requires SmallRye Config `2.12.0`.

[2022-09-01 11:31] antssilva96 commented on #27659
Thanks! Should we add a not that it doesn't happen only_ for reactive resteasy ?

[2022-09-01 11:37] geoand commented on #27659
A note where?

[2022-09-01 11:40] antssilva96 opened #27663 "Kubernetes env vars do not allow empty values"
### Describe the bug

When using quarkus kubernetes I need to set up a environment variable with value _null_

but I get

I think the problem is that in https://github.com/quarkusio/quarkus/blob/main/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/EnvVarsConfig.java the vars map is String->String and should be String->Optional<String> if we do want this beha

[2022-09-01 11:41] Sanne commented on #27166
I was wrong yesterday, ORM isn't leaking in practice as there's a second line of defence - need to keep looking.

[2022-09-01 11:54] ThoSap commented on #27652
I have the same issue in combination with Kubernetes + Container-Image since `Quarkus 2.12.0.Final`:
[code]

[2022-09-01 11:55] samodadela commented on #27639
@mkouba Setting `quarkus.arc.dev-mode.monitoring-enabled=false` works, thanks!

So this works when deployed on GCP because there is no monitoring feature in the deployed code?

[2022-09-01 11:59] mkouba commented on #27639
Exactly. However, it would fail if your bean has a CDI interceptor associated, e.g. `@Transactional`.

[2022-09-01 12:00] fedinskiy commented on #26187
@geoand what newer information you need to reproduce this bug?
I created this PR(with a reproducer), so you can run GH actions on it https://github.com/quarkus-qe/quarkus-test-suite/pull/816. Is there anything else I can help you with?

[2022-09-01 12:01] geoand commented on #26187
I had tried multiple times to reproduce but could not

[2022-09-01 12:02] mariuszbozek commented on #27661
I will check it. Thanks

[2022-09-01 12:06] zakkak commented on #27300
I have opened https://github.com/jerboaa/kotlin-icce/pull/1 to make it reproduce with `native-image`

After some digging on top of the previous efforts, the issue seems to be originating from the fact that the kotlin compiler doesn't generate properly(?) the `InnerClasses` attribute for the outer class. Inspecting the generated class files (with `javap -v` we see that `hello/Test$special$$inlined$

[2022-09-01 12:10] rsvoboda commented on #26187
https://github.com/quarkus-qe/quarkus-test-suite/pull/816 was created ~1 hour ago, so the issue is still present.

@geoand did you try to reproduce the issue using the reproducer provided by Fedor or did you use custom app/test?

[2022-09-01 12:14] manovotn commented on #27639
Martin is correct, the issue appears as soon as any CDI interceptor is attached to the given class because the class is not proxyable. And as mentioned, in the old Quarkus version, there just happened to be none.

Though I was wondering if we have some opt-in way for users to explicitly skip interception of non-proxyable methods? Well, just final methods would do. I imagine this could happen for d

[2022-09-01 12:14] geoand commented on #26187
I'll reopen but if I can't reproduce it there is not much I can do

[2022-09-01 12:24] geoand commented on #26187
I was using the reproducer

[2022-09-01 12:25] rdebusscher opened #27664 "Proper exception message when passing null value to SyntheticBeanBuildItem Configuration parameter"
### Description

When you pass a null value as parameter to the SyntheticBeanBuildItem generation, you get a NullPointerException but you don't have any clue (at first) where the problem occured.

[code]
You can trigger the above Exception by code like this

[code]

Of course, in our extension the parameter test was based on some logic and it was not clear that the NPE was caused by passing `null`

[2022-09-01 12:25] geoand commented on #25981
But yeah, I agree I should try and take care of this soon

[2022-09-01 12:31] rmanibus commented on #27640
sorry I realized my reproducer is not working. I will close this for now

[2022-09-01 12:45] radcortez commented on #27630
Caused by https://github.com/quarkusio/quarkus/pull/26967.

[2022-09-01 12:50] geoand commented on #25981
Looking at this again, I am actually torn between `Approach 1` and `Approach 2` mentione by @dmlloyd.
What do you folks think?

[2022-09-01 13:03] gastaldi commented on #25981
![image](https://i.kym-cdn.com/photos/images/original/000/538/731/0fc.gif)

[2022-09-01 13:04] jayfray12 commented on #27637
not really...
In my specific use case (which in my experience is pretty common).  I have a SPA and a backend application.  The SPA passes the Bearer token to the backend and the backend needs to validate the token.  Doing just local introspection isn't enough.  What if the token was invalidated by the admin or the user invalidated the token themselves?  In this case I was still able to use the tok

[2022-09-01 13:07] fedinskiy commented on #26187
@geoand  how did you recreate memory-limited environment? The reproducer doesn't work on my machine, that why I had to put it into GH Actions.

[2022-09-01 13:09] #27605 closed

[2022-09-01 13:10] rmanibus commented on #27640
I finally manage to reproduce it, so I'm reopening this !

[2022-09-01 13:14] geoand commented on #26187
I don't remember. I'll have to retry it next week

[2022-09-01 13:20] jerboaa commented on #27300
Nice!

I've now even managed to do away with those manual `Class.forName()` calls in:
https://github.com/jerboaa/kotlin-icce/tree/sortedByIssue and
https://github.com/jerboaa/kotlin-icce/tree/vetoableRepro

which now fails pretty much the same way as those quarkus apps do.

Kotlin snippets are:
https://github.com/jerboaa/kotlin-icce/blob/sortedByIssue/src/main/kotlin/hello/Test.kt
https://github.c

[2022-09-01 13:22] gastaldi commented on #25981
### Approach 1: Register by name

This seems to be an alternative to using the FQN, so I am not sure if it wouldn't be more confusing.

### Approach 2: Configured fully at the component

I think in practice people will already know the categories they are planning to filter, so I think it makes sense for these use cases. I'm leaning towards on a solution based on that

[2022-09-01 13:26] mariuszbozek commented on #27661
I

It doesn't work for me.

I had added Serde in the to() method and had removed default serdes and I received the error:
[code]

[2022-09-01 13:35] Sgitario opened #27668 "The config reference is not generated for child config classes annotated with `@ConfigMapping`"
### Describe the bug

Having the following configuration classes:

[code]

The autogenerated config reference table does not include the `name` and `kind` properties of the IssuerRefConfig class:
![Captura de pantalla de 2022-09-01 15-26-02](https://user-images.githubusercontent.com/6310047/187927141-302f46b5-b6d2-4cab-a3a0-94008eecaac5.png)

I do need the `@ConfigMapping` to handle optional subcl

[2022-09-01 13:36] mshabarov commented on #21574
@gsmet could you please give an estimated date when you plan to release a prerelease/GA version of Quarkus with Jakarta EE 9 or 10 support? Based on this board, the work seems to be in progress https://github.com/orgs/quarkusio/projects/13/views/20.

[2022-09-01 13:40] Sgitario commented on #27668
The `@ConfigMapping` support was added as part of https://github.com/quarkusio/quarkus/pull/19230.

[2022-09-01 13:53] gsmet commented on #27570
Best is to do the same as for CDI: let's make the outcome a branch named jakarta-10-jaxrs in the main repo with:

- one commit to upgrade the JAX-RS version in independent-projects/resteasy-reactive (I won't take that one as I will include the pom upgrades in OpenRewrite)
- one commit that actually adjust the APIs, I will apply this one on top of the other changes

My guess is that you only need t

[2022-09-01 14:16] geoand commented on #27570
Sounds good! I might do this tomorrow

[2022-09-01 15:17] sberyozkin commented on #27637
@jayfray12

This is why it is not recommended to make ATs long lived like 24 hours but make it minutes and then refresh it or in case of SPA rerun the authentication flow - the session between KC and SPA should still be valid so the user should not be challenged to re-enter the credentials but the new AT should be obtained as a result.

Please recall that some providers don't even have an introspe

[2022-09-01 15:19] geoand commented on #24833
Go for it :)

[2022-09-01 15:32] geoand commented on #27570
@gsmet pushed to `jakarta-10-jaxrs` on the main repo

[2022-09-01 15:42] jayfray12 commented on #27637
If the provider doesn't have introspection (mine does in this case, Keycloak) then I agree, local introspection is the only option.
Yes, I want introspection only not both.  I agree doing both is redundant.

Thanks for willing to add the property to allow this.  Much appreciated.

[2022-09-01 15:59] mweber03 commented on #27638
@geoand

    implementation 'io.quarkus:quarkus-config-yaml'
    implementation 'io.quarkus:quarkus-resteasy'
    implementation 'io.quarkus:quarkus-resteasy-jackson'
    implementation 'io.quarkus:quarkus-smallrye-context-propagation'
    implementation 'io.quarkus:quarkus-smallrye-health'
    implementation 'io.quarkus:quarkus-smallrye-openapi'
    implementation 'io.quarkus:quarkus-undertow'

[2022-09-01 16:11] michalvavrik opened #27669 "@Funq over non-public methods are ignored but information is not logged/no ex/nothing in docs"
### Describe the bug

I accidentally defined `@Funq` function with friendly visibility like this:
[code]
however non-public methods are ignored (which makes sense) as `clz#getMethods` here https://github.com/quarkusio/quarkus/blob/2cbd177416f92b9f45abb34b6f01acb8cb0f4eb5/extensions/funqy/funqy-server-common/runtime/src/main/java/io/quarkus/funqy/runtime/FunctionRegistry.java#L12 only return public

[2022-09-01 16:15] rmanibus commented on #27248
I do not face this issue anymore after upgrading to 2.12.0.Final. I'm not sure what was causing this though.

[2022-09-01 16:19] rmanibus commented on #27640
cc @Sanne I think this is more related to hibernate than panache ! entityManager.remove(entity) produce the same result

[2022-09-01 16:22] sberyozkin commented on #27637
@jayfray12 No problems at all, thanks for highlighting that the way it is enabled now is not ideal :-)

[2022-09-01 16:24] #27248 closed

[2022-09-01 16:25] Sanne commented on #27640
@Transactional
    public void testHelloEndpoint() {
        assertEquals(2, MyEntity.count());
        boolean deleted = MyEntity.deleteById(entity.getId());
        assertTrue(deleted);
        assertEquals(1, MyEntity.count()); // This is failing, expected: 1, actual: 2
    }

The transaction only gets committed after the method is completed - which is after your count. All ORM's modifications

[2022-09-01 16:27] Sanne commented on #27640
In other words, you'd need to verify the new count in a new transaction. Alternatively you can force a flush() on the EntityManager to apply the changes immediately.

[2022-09-01 16:30] rmanibus commented on #27640
hello Sanne, thanks yes I was thinking about something like that but it does not solve the problem, both  executing QueryEntity.getEntityManager().flush() and running the delete opperation in another transaction produce the same result.

[2022-09-01 16:31] Sanne commented on #27640
Ok, thanks.

[2022-09-01 16:32] rmanibus commented on #27640
because the effective result is the entity still being in the db after transaction. the count was just to demonstrate the result.

[2022-09-01 17:52] michalvavrik opened #27671 "Classes with @Funq methods fail in constructor injection for normal scoped bean"
### Describe the bug

When class that is normal scoped bean has method annotated with `@Funq` and uses constructor injection, an exception is thrown. I looked into this and the reason is that when (and only when!) class does extend SomeClass and there is no default constructor without args, Funqy generates it for us here https://github.com/quarkusio/quarkus/blob/b9d7536effc07f08f119eea292673da6e08

[2022-09-01 18:11] gastaldi commented on #25981
Does Category have to be an annotation? I'd rather make them a String[] for simplicity :)

[2022-09-01 18:49] evanchooly commented on #27627
It uses vert.x DNS by default everywhere to make the behavior consistent whether in native or not.  It *should* be falling back, though, so I'll double check what's happening there.

[2022-09-01 19:02] michalvavrik commented on #27671
I couldn't reproduce it in JUnit test in `quarkus-funqy-server-common`. I'll provide full reproducer later today.

[2022-09-01 19:08] famod commented on #25981
Sure! 🤦‍♂️

[2022-09-01 19:42] pedroigor commented on #26937
@jamezp After investigating more this issue, I think we were able to reproduce the issue locally using standalone Keycloak.

I'm not sure why it happens, but for some reason, this [handler](https://github.com/quarkusio/quarkus/blob/8f7492383d0de26345e690fb73906150805eb4d1/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxInputStream.java#L190) is only invoked after a c

[2022-09-01 20:31] bosofelipe opened #27675 "Add exception tag in microprofile vertex"
### Description

I´m using micrometer in quarkus and enable the following envs

[code]

But when using the metric http_client_requests_seconds_count doesn´t have the exception tag like in micrometer default

My previous metric using a spring/micrometer

`http_server_requests_seconds_count{**exception="MyException"**, method="POST", outcome="SERVER_ERROR", status="500", uri="/v1/reverse_tracking"}`

[2022-09-02 02:09] #27345 closed

[2022-09-02 04:41] kmmraj commented on #10988
Any plans to add this? For the client_credentials grant type, we have a robotic user, where we need permissions more than ever. There are no different user roles for the robotic user

[2022-09-02 05:20] cristianonicolai commented on #12486
Add fix for missing dependency https://github.com/kiegroup/kogito-runtimes/pull/2431

[2022-09-02 05:35] geoand commented on #26187
I can't reproduce this.
Furthermore, although I understand why a custom testing framework is being used here, it makes it very hard for anyone outside Quarkus QE to tinkering.

I propose creating a reproducer using that standard Quarkus testing facilities - that way we will be able to try various things.

[2022-09-02 05:38] geoand commented on #27638
Understood, thanks.

Can you please attach a sample project that exhibits the problematic behavior?

[2022-09-02 05:39] #27671 closed

[2022-09-02 05:40] naah69 opened #27680 "hibernate extension support Query Methods like Sping Data"
### Description

now it is so hard when we need query dynamic. it must use Specification 、generate hql or CriteriaBuilder/CriteriaQuery and so on,code of both of them are so long.

we have to abstract the code to common.

so we hope that quarkus hibernate extension support  Query Methods  feature like spring data.

the doc is [Spring Data Doc - Query Methods](https://docs.spring.io/spring-data/jpa

[2022-09-02 05:43] geoand commented on #25981
How so?

[2022-09-02 05:53] Sgitario commented on #27663
It makes sense to me to allow empty values. I've already provided a fix for this: https://github.com/quarkusio/quarkus/pull/27681

[2022-09-02 06:13] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2976823187

[2022-09-02 06:31] geoand commented on #27680
You can always use the [Spring Data JPA compatibility layer](https://quarkus.io/guides/spring-data-jpa) or our idiomatic [Hibernate Panache](https://quarkus.io/guides/hibernate-orm-panache) layer.

Don't those APIs cover your use case?

[2022-09-02 06:43] tsaarni commented on #27481
I have submitted #27682 to allow application to set custom `KeyManager` without setting dummy placeholder values in  `quarkus.http.ssl.certificate.*`.

[2022-09-02 07:20] gaetancollaud commented on #25236
I got the same issue, but the root cause was completely unrelated...

it was because my application didn't had all the required entries:
[code]

in the config, `check-alarms` was missing.
[code]

After removing the comment, everything worked again.

@mkouba  My full stacktrace was:
[code]

[2022-09-02 07:22] zakkak commented on #27300
Great! I created an [upstream issue](https://github.com/oracle/graal/issues/4865) for this as it appears to not be specific to Quarkus.

[2022-09-02 07:40] mazenkhalil commented on #27627
After some debugging, I found out the issue is originated from the OIDC tenant resolver. Adding `.runSubscriptionOn(Arc.container().getExecutorService())` or `.runSubscriptionOn(Infrastructure.getDefaultWorkerPool())` overcomes the issue.

@cescoffier I recall we discussed similar issue earlier (https://github.com/quarkusio/quarkus/issues/24156#issuecomment-1061531348) if that would help.

[2022-09-02 07:44] cescoffier commented on #27627
Is your tenant resolver using Mongo? (Trying to join the dots)

[2022-09-02 07:46] #26992 closed

[2022-09-02 07:47] mazenkhalil commented on #27627
Yes, resolving the tenant involves accessing the DB for the first time (ReactiveMongoClient being used). Then the result get cached using Caffeine.

[2022-09-02 07:53] TomasHofman commented on #27635
To provide some info, I'm now working with following plan.

These are properties that are already available as both client specific and global properties, no change here:

[code]

These properties are currently available only as client-specific, and will newly become available also as "global" properties:

[code]

These properties will remain available only as client-specific properties:

[code]

[2022-09-02 08:02] geoand commented on #27635
Seems reasonable to me

[2022-09-02 08:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2976824617

[2022-09-02 08:06] loicmathieu commented on #27506
@gsmet there was issues on Yasson side to handle null Optional (seriaization and deserialization issue) but our

[2022-09-02 08:09] loicmathieu commented on #27619
The issue is fixed on Yasson side but it appears to be an issue between JSON-B and Restassured, see https://github.com/quarkusio/quarkus/issues/27506#issuecomment-1235197551

[2022-09-02 08:27] gsmet commented on #27506
No, it's not compatible but what is weird is that I usually had big errors about missing classes (that's why I switched most of the testing to Jackson). Not something weird like this.
If what you did fixes the test then let's do it this way.

[2022-09-02 08:30] #27663 closed

[2022-09-02 08:55] lazystone commented on #12680
So, can this issue be re-opened then and OkHttp finally upgraded?

[2022-09-02 08:58] geoand commented on #12680
The plan is to remove OkHTTP from the BOM completely when we move to a version of Fabric8 Kubernetes Client that does not include OkHTTP

[2022-09-02 09:00] loicmathieu commented on #27506
OK, I'll open a PR on main with manually serializing the Pojo so we can put this behing us.

[2022-09-02 09:08] ia3andy commented on #27630
I also had this bug on some of my apps, let me know if you need another reproducer

[2022-09-02 09:09] radcortez commented on #27630
No worries. I was already able to reproduce it. It only happens with RESTEasy Reactive, and I was using RESTEasy Classic. Thanks!

[2022-09-02 09:10] geoand commented on #27668
cc @radcortez

[2022-09-02 09:13] radcortez commented on #27668
I think this worked, but maybe it got broken with another change. I'll check.

[2022-09-02 09:22] geoand commented on #27630
Very interesting... Why the difference?

[2022-09-02 09:22] geoand commented on #27570
Should I close this or do we keep it open?

[2022-09-02 09:24] geoand commented on #27339
I think that both of the above points make sense. On one hand, it doesn't make a tremendous amount of sense to use a reactive stack in a CLI application, on the other hand this should not be a limiting factor IMO.

[2022-09-02 09:25] geoand commented on #27318
Do have a sample application you can attach so we can investigate?

[2022-09-02 09:27] geoand commented on #27300
@zakkak in light of the investigation you folks have performed, do you prefer keeping this open or closing it since it's not Quarkus specific?

[2022-09-02 09:41] gsmet commented on #27570
I will close it when I incorporate the commit into the Jakarta work. Probably on Monday.

[2022-09-02 09:41] zakkak commented on #27300
I personally prefer keeping this open as the tests are still failing.

[2022-09-02 09:42] radcortez commented on #27630
We had an issue with `DefaultValuesConfigSource`. If a namespace was already present it was being overridden if we needed to update it. So what happened was that we write `quarkus.uuid` with `SmallRyeConfigBuilder.withDefault` and then mappings will also write their defaults. In this step, the `quarkus.uuid` was discarded.

This was caused when we added the mapping for RESTEasy Reactive Security:

[2022-09-02 09:45] geoand commented on #27570
🆗

[2022-09-02 09:46] geoand commented on #27630
Gotcha, thanks for the explanation1

[2022-09-02 09:46] geoand commented on #27300
🆗

[2022-09-02 11:59] geoand commented on #27081
I am going to close this as it would probably take some work to get this working and TBH I'd rather focus on other things, especially considering that 2 alternatives exist:

* Use field injection
* Use RESTEasy Reactive

[2022-09-02 11:59] #27081 closed

[2022-09-02 11:59] joggeli34 commented on #27155
Any news about this issue?

Is it recomendet to only use `@QuarkusTest` tests for beans and not normal unit tests if possible?

[2022-09-02 13:53] iriikoad commented on #23360
Can you describe how you do this?

ps: Still error with Quarkus 2.11

[code]

[2022-09-02 14:26] timonzi commented on #27022
Maybe the cause is different, but I had the same error when I upgraded from Quarkus 2.10.3.Final to 2.12.0.Final.
I created also a project for reproduction. Please let me know whether I should create a new ticket for this problem (here or for io.smallrye).

https://github.com/timonzi/quarkus-openapi-stackoverflow (check also the README)

[2022-09-02 15:04] Sanne commented on #27166
It turns out my very initial thought ^ was actually spot on. What is happening is that the Hibernate Session is being opened, but it's never being closed. Normally if you'd have had a Transaction that would have also terminated the connection, but in lack of that the lack of closing the Session becomes critical.

When not using a transaction, the lifecycle of the Session is bount to the CDI Reques

[2022-09-02 15:41] sag1 opened #27698 "'The supplier returned null' message if OIDC server connection fails"
### Describe the bug

Is it really fixed here https://github.com/quarkusio/quarkus/pull/26661 ?
I am using oidc-client and followed this [guide](https://quarkus.io/guides/security-openid-connect-client-reference) for config. I am hitting head for many hours without knowing where is error and  why NPE. I don't know why there is no explicit message.

**Error:**
{"timestamp":"2022-09-02T15:22:14.35Z"

[2022-09-02 15:54] sberyozkin commented on #27316
@fediazgon Apologies for a delay. @michalvavrik Hi Michal, would you be interested to check this issue ?

[2022-09-02 15:56] sberyozkin commented on #27487
Thanks @radcortez

[2022-09-02 16:10] sberyozkin commented on #27698
@sag1 Sorry to hear about it, that initial PR addressed a similar issue which can happen after OidcClient has been initialized, but looks like we need to do a similar update at https://github.com/quarkusio/quarkus/blob/43e2d3cd73ce9c8a0bd43deb2bbe3c478bd8fbfc/extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonUtils.java#L412, would you like to give it a try ? The

[2022-09-02 16:39] iompo commented on #23360
First you send a an event on the event bus:
[code]

And then you handle the authentication request, sending back the required info to create a security identity, or an exception if the credentials are wrong:
[code]

[2022-09-02 17:32] michalvavrik commented on #27316
@sberyozkin yes, this is interesting, I'll have a look. thank you

[2022-09-02 18:26] jsorah commented on #26937
I was able to inspect this further at the HTTP/2 protocol level using @DGuhr 's reproducer application and go client as well as using curl + burp proxy to the same reproducer application.  In both cases that fail it seems due to a second, empty DATA frame sent as the marker for the end stream.

In the scenarios that work over HTTP/2 - there is a single DATA frame with the end stream flag set conta

[2022-09-02 18:40] MikeEdgar commented on #27022
@timonzi , looks like it's the same issue. I see now with your example that there are cyclic references in the OpenAPI model. https://github.com/smallrye/smallrye-open-api/pull/1230 should protect against that in the next release, but I can also look at why they the references are being set this way. Thanks for the info

[2022-09-02 18:57] pedroigor commented on #26937
Is the second empty data frame somewhat expected when doing h2? Or is it a gap in `quarkus-vertx-http` or even in vert.x?

[2022-09-02 18:58] jayfray12 commented on #4644
I was able to get this working by doing the following:
[code]
Seems as though the Hibernate5Module plays nicer with Field level visibility vs Getter.

[2022-09-02 20:06] sag1 commented on #27698
sure, I can try it.

[2022-09-02 20:20] jsorah commented on #26937
This is really my first deep dive into h2, so I'm not super confident in my answers here... but... I don't see anything in the spec that would disallow a DATA frame with empty payload and only flags. It may be inefficient (why not just add it on last frame w/ data instead of adding net new) - but seemingly legal.

I actually have yet _another_ example that can replicate it by explicitly creating t

[2022-09-02 21:52] sberyozkin commented on #27698
Thanks @sag1

[2022-09-02 21:53] sberyozkin commented on #27316
@michalvavrik Thanks Michal

[2022-09-02 22:30] famod commented on #27698
This problematic pattern is also present in:
- `CommonPanacheQueryImpl`
- `KeycloakDevServicesProcessor`
- `OidcProviderClient`

See `grep -R --include=*.java --exclude-dir=target '\.onFailure\(\).*getCause' .`

[2022-09-03 02:34] pipinet commented on #27260
same issues.

[2022-09-03 02:36] pipinet commented on #27260
upgrade gradle plugin org.kordamp.gradle.jandex to 1.0.0

[2022-09-03 04:16] viswatejan opened #27703 "KeycloakTestClient only reads client.quarkus.oidc.auth-server-url property to connect to Keycloak instance"
### Describe the bug

Both `AUTH_SERVER_URL_PROP` and `CLIENT_AUTH_SERVER_URL_PROP` constants in `KeycloakTestClient` are set as `client.quarkus.oidc.auth-server-url` and it seems the idea is `client.quarkus.oidc.auth-server-url` takes the precedence and is used to override if we want to not to use the default `quarkus.oidc.auth-server-url` which will be set when using quarkus-oidc extension.[](ur

[2022-09-03 04:20] viswatejan commented on #27703
This is the PR for this issue
https://github.com/quarkusio/quarkus/pull/27702

[2022-09-03 10:45] michalvavrik commented on #27316
This is super easy to fix, but I need to be sure there is an agreement it's a bug (for me this is expected behavior, but let see about you :-)).

We call your `APIKeyIdentityProvider` from here https://github.com/quarkusio/quarkus/blob/8787a2a7d03a67743e8b08894221d6014da89a11/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/security/HttpSecurityRecorder.java#L110, the stac

[2022-09-03 10:50] rasvi24 commented on #27386
Great, this saved me. Thank you. This error gave me no stacktrace even in TRACE level. After trying hours with onFailure just after the query execution, found this issue here just before creating a new one. For anybody trying to use proxysql with the latest 2.12.final version Just downgrade the vertx mysql client as mentioned above. Below version is working.

`        <dependency>
            <gro

[2022-09-03 17:26] wmacibnc opened #27705 "Changing the root-path with a QUARKUS_HTTP_ROOT_PATH environment doesn't work"
### Describe the bug

When the command is executed
java -jar target/quarkus-app/quarkus-run.jar is not overridden value of quarkus.http.root-path with environment variable QUARKUS_HTTP_ROOT_PATH.

Displays the error:

2022-09-03 14:12:46,719 WARN [io.qua.run.con.ConfigRecorder] (Thread-0) Build time property cannot be changed at runtime:
  -quarkus.http.root-path is set to '/output' but it is buil

[2022-09-03 21:07] sberyozkin commented on #27703
Fixed by #27702

[2022-09-03 21:07] #27703 closed

[2022-09-04 06:27] #27481 closed

[2022-09-04 10:52] morphy76 commented on #26368
Hello

it's not clear to me how to move on.

I have a baseline implementation but before moving on with "Quarkus Ecosystem-CI", "Announce on quarkus-dev mailing list with the repo location", ... namely the documented steps... my understanding is that I need the repo resources provided by the quarkiverse itself... is it? am I missing something or it is just "required wait time"?

Thank you in advan

[2022-09-04 11:52] joggeli34 commented on #20256
With quarkus 2.12 and graalvm 22.2 the issue with the performence of the system-metrics are resolved now, just checked it.

[2022-09-04 12:13] geoand commented on #20256
That's great to hear, thanks!

[2022-09-04 13:09] gastaldi commented on #26368
Hey @morphy76,

Yeah, we need to provision the repository in the Quarkiverse org, it should be done by Monday. I'll let you know when it's ready :+1

[2022-09-04 16:19] Spanjer1 commented on #27039
@geoand
@holly-cummins

The basic version I have currently is found here: https://github.com/Spanjer1/wiremock-dev

What would I need to do to get it on-boarded to Quarkiverse?
As it is my first time creating a Quarkus extension.

I have read https://github.com/quarkiverse/quarkiverse/wiki#joining-quarkiverse

[2022-09-04 19:23] #27242 closed

[2022-09-04 19:39] tmulle commented on #27389
@mkouba @sberyozkin

I was able to get the logout working via code if I set the "Path" of the cookie as well as setting the max age. I thought that because I simply read the existing cookies and ONLY overrode the max-age that the original path value would suffice. But it appears I have to also manually set that as well.

After doing so, the "Quarkus-credential" cookie was deleted properly.

[code]

[2022-09-04 22:31] sorin-costea commented on #25307
@stuartwdouglas Any plan to add this at some point?

[2022-09-04 22:33] kostacasa commented on #13969
Is there a way to manually enable this on Quarkus 2.x services before it's exposed by Quarkus directly? Adding HTTP/2 support would be a great improvement to improve efficiency of high throughput API integrations. Calling other HTTP services is presumably something that most Quarkus services do.

[2022-09-04 23:17] #27185 closed

[2022-09-04 23:17] #27353 closed

[2022-09-04 23:17] #27630 closed

[2022-09-05 05:10] geoand commented on #27039
I am sure @gastaldi will create the repository for you :)

[2022-09-05 05:21] geoand commented on #27705
As the warning message indicates (and as can also be see [here](https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.root-path)), `quarkus.http.root-path` is a **build time** property. This means whatever value was set during build time, **cannot** be changed at runtime. See [this](https://quarkus.io/guides/config#build-time-configuration) for more information on build time propert

[2022-09-05 05:21] #27705 closed

[2022-09-05 05:25] geoand commented on #27698
Yeah, we definitely need to fix those

[2022-09-05 05:30] geoand commented on #27680
@yrodiere I think we can close this, WDYT?

[2022-09-05 05:32] geoand commented on #27675
@ebullient but this issue looks to be about the server metrics, right?

[2022-09-05 06:02] cescoffier commented on #27380
We would need a complete reproducer to understand the issue.

[2022-09-05 06:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2990955135

[2022-09-05 06:25] csscriptplus commented on #27382
@zakkak my runtime environment is the official Jenkins docker image and that is based on Debian 11. This contains glibc 2.31.
There are now 2 ways:

- I build my own runtime image.
- I change Jenkins, so that the build is no longer done in the Jenkins container, but in a slave Kubernetes pod and so I can also use the quarkus native image.

[2022-09-05 06:25] ebullient commented on #27675
No. He showed the server metric in cut/paste.. but I know we have some gaps w/ client exception handling. Invocation paths are fairly different between the two, so we should just cover both... One of the challenges we have with RR is having the filter invoked with the thrown exception (as I'm not sure where that is caught and if it is stashed anywhere off the top of my head.. )

[2022-09-05 06:43] zakkak commented on #27382
Correct, IMO the second approach is the best:
1. You decouple your CI/CD env from the native-image build env
2. You build using the official/supported quarkus native image container (including the mandrel variant)
3. You keep using the official/supported quarkus generated runtime container images

[2022-09-05 07:02] yrodiere commented on #27680
Agreed: either use the Spring Data JPA compatibility layer or (preferably) [Panache](https://quarkus.io/guides/hibernate-orm-panache). If that doesn't work, please open another issue to report what's wrong exactly.

As far as I know, not implementing Query methods in Panache was a conscious design choice. Its goal is not to be a Spring Data clone, but to make persistence simpler, and it offers its

[2022-09-05 07:02] #27680 closed

[2022-09-05 07:29] #27506 closed

[2022-09-05 07:29] #27619 closed

[2022-09-05 08:05] ia3andy commented on #27714
This should have been fixed by #27129 on 2.12

[2022-09-05 08:05] #27714 closed

[2022-09-05 08:28] xstefank commented on #27241
@stuartwdouglas or @gsmet what do you think about this?

[2022-09-05 08:44] MandMaric opened #27717 "Make MongoDB version configurable"
### Description

Hi

It would be nice if the MongoDB version would be configurable in MongoTestResource: https://github.com/quarkusio/quarkus/blame/main/test-framework/mongodb/src/main/java/io/quarkus/test/mongodb/MongoTestResource.java

Currently, version 4.0 is set by default and 6.0 has already been released.

We are currently writing our own QuarkusTestResource class to override this property.

[2022-09-05 09:02] loicmathieu commented on #27717
This sounds legit, we should update to the last 4.x version as I think it's the most used and allow to configure it.

[2022-09-05 09:16] morphy76 commented on #26368
@gastaldi thanks a lot!

[2022-09-05 09:17] fedinskiy commented on #26187
@geoand I updated the linked reproducer[1] to do not use test framework(see module "reproducer"). Also, I have an important addition: the problem does not appear, when `uploadMultipart` test is run alone, but do appear, when all tests in a class are ran. Hope that helps and sorry for any inconvenience.

[1] https://github.com/quarkus-qe/quarkus-test-suite/pull/816

[2022-09-05 09:18] #27222 closed

[2022-09-05 09:20] geoand commented on #26187
Thanks for the update.

I'll have a look soon

[2022-09-05 09:23] geoand commented on #27717
Good idea. I'll make an update to the code and the documentation