[2021-11-19 09:58] coiouhkc commented on #21455
Hi @apat59, from my point of view current default behaviour is fine, but i could see why you want it to be configurable.
Still my understanding of quarkus philosophy is, that it tries to provide the most meaningful defaults, and updating the schedules by default seems reasonable.

[2021-11-19 10:16] cemnura commented on #13239
Implemented a `quarkus-cache` based caching solution but after revisiting with @sberyozkin that the cache would be per instance/deployment beating the purpose to cache in the first place. Decided to try out a db persistence approach. Later will attempt to make a `infinispan-client` based cache.

[2021-11-19 10:45] nenros commented on #16785
https://github.com/quarkusio/quarkus/pull/21321 @evanchooly I tried to do something in that topic but i'm not good enough, lot of tests is not working, and I still don't know how I should handle session from original Panache class. If you could take look, and say what i should take look.

[2021-11-19 10:49] cescoffier commented on #21444
Invoking the client is like "swagger" for clients. For each method from the client, it should provide a way to invoke it (with params, headers...) and get the response. That would ease the debugging a lot. Bonus point: provide the curl equivalent command.

[2021-11-19 10:50] cescoffier commented on #21534
@carlesarnal @EricWittmann  Isn't that an issue fixed in Apicurio?

[2021-11-19 10:53] sberyozkin commented on #21523
@snowe2010 I had a brief look yesterday, the problem I believe is due to the fact `OidcClient` tries to initialize as suggested in Zulip - it is enabled by default - and nothing is configured it fails - the exception which it throws is not shown by the lamda code so it gets confusing.
The problem which you have identified is that you start the app in the dev mode - and here `quarkus-oidc-client` s

[2021-11-19 10:55] apat59 commented on #21455
This might be a "very handy" behavior in dev profile and that is still debatable but that is not the most meaningful defaults.
That is comparable to the create-drop schema in hibernate, very handy but very dangerous in production.

Again, you use persistent job config, required when running in a cluster.

If your app requires to scale up, meaning more pods, meaning every single pod will trigger sc

[2021-11-19 11:08] carlesarnal commented on #21534
Issue fixed in apicurio, yes. I've opened a PR to upgrade the apicurio versions with the fixed ones https://github.com/quarkusio/quarkus/pull/21563.

[2021-11-19 11:37] coiouhkc commented on #21455
On the other hand, whenever making changes to `@Scheduled` parameters (either directly or via application.properties or ENV) and publishing a new image version to the stream, i expect the changes to take effect - similar as in case with other annotations.
I might understand your point regarding `scheduler#reschedule` but then it's not a bug in quarkus but rather some implementation specific of qua

[2021-11-19 11:51] apat59 commented on #21455
AFAIU this is the expected behavior, the javadoc states "Remove (delete) the Trigger with the given key, and store the new given one". It is not taking the responsibility to compare the old and new trigger.

I'd rather go deeper in the job config parsing
- if job config is the same: do nothing
- if job config is different AND a global quarkus properties is set, then reschedule
- log WARN otherwise

[2021-11-19 12:01] coiouhkc commented on #21455
Makes sense, but i don't think it would have worked prior to #20546. From what i can take from your examples and your suggestion the refactoring done in #20546 should be continued but not reverted...

[2021-11-19 12:04] mkouba opened #21564 "Google Cloud guide - build via Maven plugin should use uber-jar packaging"
### Describe the bug

Currently, the [Building the application via the Google Cloud Maven plugin](https://quarkus.io/guides/deploying-to-google-cloud#building-the-application-via-the-google-cloud-maven-plugin) does not instruct the user to add `quarkus.package.type=uber-jar` and the value of `<artifact>` in the config of the `appengine-maven-plugin` implies that the standard packaging should work

[2021-11-19 12:06] apat59 commented on #21455
Meanwhile we have 3 critical apps stuck in prod with quarkus 2.3.0 because it would be a killer to reschedule all our jobs.
And I feel very lucky we detected this early in dev before deploying our last release.

I think this deserves a deeper analysis / design since it can quickly become even more complex than it seems.
The 'new' behavior is not even documented in the guide and I fear many apps wi

[2021-11-19 12:09] coiouhkc commented on #21455
We have 20+ critical apps in prod where we need the new beahviour ;) But it's not about us, rather about Quarkus.

Aggreed, let's wait for @machi1990 and @mkouba and try to bring both interests together.

[2021-11-19 12:13] himanshumps opened #21565 "Native Compilation issue: io.netty.handler.codec.compression.BrotliOptions failed"
### Describe the bug

I have a standalone app which I am trying to build in native image. It is giving java.lang.ClassNotFoundException: com.aayushatharva.brotli4j.encoder.Encoder$Parameters

Source Code: https://github.com/himanshumps/quarkus-wrk.git

Complete Error Trace:

Detailed message:
[code]

[2021-11-19 12:21] michalszynkiewicz commented on #21444
Response in a format a user would get?
Or the original response of the server?

[2021-11-19 12:25] sjaakd commented on #21457
Now I finally get it 😄 . So If I were to host a combined swagger page (I've later on multiple of these REST services, the CORS headers would be applicable if I host that combined page in a different domain. That is obviously not the case here.  I therefore  think that the implementer of the validation website (developers at the dutch government) have understood this particular aspect the wrong way

[2021-11-19 12:31] zakkak commented on #21372
Closed by #21408

[2021-11-19 12:31] #21372 closed

[2021-11-19 12:47] phillip-kruger commented on #21457
@sjaakd - So what we maybe can consider (@sberyozkin to comment) is to, with some config flag, always add the CORS headers (regardless of the origin request header). I am not too familiar with that part of the code (hence @sberyozkin to comment) so I am not sure if it's even possible. But if we can, then you can set the flag, and should pass the validation.

Yes please open 2 issues as discussed,

[2021-11-19 12:59] apat59 commented on #21455
@coiouhkc btw https://github.com/quarkusio/quarkus/issues/14671#issuecomment-770180851
We hit the same concern as you really quickly, on version 1.11.

I don't think it's impossible to handle it but it really is a complex topic.

[2021-11-19 13:07] sjaakd opened #21567 "Extend openapi with support for `.json` and `.yaml` extension besides the current content negotiation mechanism"
### Description

The  [swagger documentation](https://swagger.io/docs/open-source-tools/swagger-ui/usage/cors/) refers to a mechanism were `.json` and `.yaml` is used as extension on the openapi  / swagger URL .

Other standards like [this one](https://publicatie.centrumvoorstandaarden.nl/api/adr/#api-51), seem to extend upon that.

See also discussion in: #21457

### Implementation ideas

Current

[2021-11-19 13:12] E14 opened #21568 "Noargs constructor is executed on non-bean-object proxies when returned from scoped producer method"
### Describe the bug

Consider a class:

[code]

Some bean with a scoped producer:
[code]

And a unit test:
[code]

The constructor will be invoked twice - once on creation of the client proxy for the application scope and once when creating the actual object.

### Expected behavior

Non-bean noargs constructor is not called or only pseudo scopes (`@Dependent`) are allowed for producers returning

[2021-11-19 13:17] sjaakd opened #21570 "Add the possibillity to return custom http response headers based on `application.properties`"
### Description

The use case for me is to extend the response headers with a semver version notation of the public REST API in a header: `API-Version`.  See a screenshot of FireFox F12-network here:

![image](https://user-images.githubusercontent.com/6173283/142628212-f60a1c8a-e628-4e6b-b528-321edd53c445.png)

This is driven by the following piece of configuration in `application.properties`:

[c

[2021-11-19 13:18] sjaakd commented on #21457
Done.. My pleasure!

[2021-11-19 13:22] sberyozkin commented on #21570
@gastaldi You have already done it, right ?

[2021-11-19 13:30] gastaldi commented on #21570
Yes, it's documented in https://quarkus.io/version/main/guides/http-reference#additional-http-headers
It is only available in `2.5.0.CR1` onwards (see https://github.com/quarkusio/quarkus/pull/21102).

Closing this issue as a duplicate

[2021-11-19 13:30] #21570 closed

[2021-11-19 13:35] gastaldi commented on #21570
FTR this is what you would add in your `application.properties` :

[code]

[2021-11-19 13:41] gastaldi commented on #21570
Or you could avoid the `application.version`  property entirely and use:

[code]

`quarkus.application.version`: The version of the application. If not set, defaults to the version of the project (except for tests where it is not set at all).

[2021-11-19 13:57] himanshumps commented on #21565
I solved it by adding

[code]

[2021-11-19 13:57] #21565 closed

[2021-11-19 14:10] Eldelshell opened #21571 "JWT Authorization skipped for POST with body"
### Describe the bug

The JWT authorization is skipped on an endpoint with a body.

[code]

[code]

Without a body, it works correctly:

[code]

[code]

### Expected behavior

It should return a 401 and doesn't allows access to the method

### Actual behavior

It returns a 200 and continues into the endpoint method

### How to Reproduce?

[code]
...in another terminal...
[code]

### Output of `una

[2021-11-19 14:18] sberyozkin commented on #21523
@snowe2010 My test shows `oidc-client` works fine in the dev mode, without the URL...

[2021-11-19 14:28] Eldelshell commented on #21571
Adding an invalid JWT works:

[code]

[2021-11-19 14:32] cescoffier commented on #21444
I would do the Http response. It generally what interests us (especially, when it's not what we are expecting, like we were expecting a 200 with some JSON and we get a 500 with a stack trace)

[2021-11-19 14:39] famod commented on #21568
I think this came up before:
- https://github.com/quarkusio/quarkus/issues/8062#issuecomment-602189071
- https://github.com/quarkusio/quarkus/issues/8960#issuecomment-621465379

[2021-11-19 14:42] himanshumps commented on #17729
Can we use openssl / boringssl with Quarkus in the native image?

[2021-11-19 14:45] sberyozkin commented on #21523
@snowe2010 I can't even reproduce this exception - the only I've been seeing is a port clash (between Quarkus server and likely the lambda wiremock) so I added `-Dquarkus.http.port=8083` and it all just starts fine. I'm going to close this issue as `can't reproduce` - but please reopen with a more specific reproducer if it persists for you even after you add `-Dquarkus.http.port`.
Thank you

[2021-11-19 14:45] #21523 closed

[2021-11-19 14:51] sberyozkin commented on #21571
Hmm, very strange, I wonder, can it be the case that a body processor loses the security identity...

[2021-11-19 14:52] famod commented on #21552
Can you check again with `-Dquarkus.debug.print-startup-times=true`? This might show the build step that's now slower.

[2021-11-19 14:57] wmedvede opened #21572 "Kafka channel for profile "my-profile" is being picked up in the "prod" profile."
### Describe the bug

I have a kafka channel configuration like this:

%events-support.kafka.bootstrap.servers=localhost:9092
%events-support.mp.messaging.incoming.acme-events.enabled=true
%events-support.mp.messaging.incoming.acme-events.connector=smallrye-kafka
%events-support.mp.messaging.incoming.acme-events.topic=acme-events
%events-support.mp.messaging.incoming.acme-events.client.id=acme-eve

[2021-11-19 15:12] xtaixe opened #21573 "Running on the distroless image requires root in some cases"
### Describe the bug

Basically, I think this is the same as https://github.com/quarkusio/quarkus/issues/2702 but for the Quarkus distroless image.

### Expected behavior

Application runs properly.

### Actual behavior

App fails with:

[code]

### How to Reproduce?

Running an app that exercises Postgres on distroless should do.

### Output of `uname -a` or `ver`

_No response_

### Output of `j

[2021-11-19 15:17] cescoffier commented on #21572
That's probably due to the new build time wiring.

@radcortez the extension must read the configuration using the Config Provider does that support profiles?

[2021-11-19 15:26] michael-schnell opened #21574 "Migration to Jakarta EE packages (javax.* to jakarta.* namespace change)"
### Description

Other frameworks like Spring announced their movement to Jakarta EE 9+ with "javax.*" to "jakarta.*" namespace change. Quarkus should also support this.

At least a roadmap would be nice:
https://stackoverflow.com/questions/69438312/roadmap-for-quarkus-jakarta-ee-9-javax-to-jakarta-namespace-change

### Subtasks ###

- [ ] #23842
- [ ] #23847
- [ ] EE10 is released
- [ ] MP/SR has

[2021-11-19 16:13] dasniko opened #21576 "IllegalArgumentException on x-www-form-urlencoded POST with Amazon Lambda HTTP extension"
### Describe the bug

I run a small service on Amazon Lambda with HTTP binding and Qute templates. When POSTing form data (application/x-www-form-urlencoded), the request fails if the payload is somehow bigger than the Base64-decoding, called by the LambdaHttpHandler expects and an IllegalArgumentException is thrown.

I figured out, that the String which is passed to the `Base64.decode()` method,

[2021-11-19 16:34] mkouba commented on #21568
Hm, this works as mandated by the spec. And I believe that Weld does the same as ArC does. Are you really sure the test passed? Anyway, the test is not entirely correct because `A.count` is not synchronized/`volatile` and it could be in theory accessed from multiple threads.

[2021-11-19 16:40] edeandrea opened #21577 "Getting lots of "Unable to determine matching fields for injection of test instance" messages"
### Describe the bug

This isn't specific to using Wiremock, but more generically if you are building a `QuarkusTestResourceLifecycleManager` while also overriding the `inject` method. In my example I am using wiremock and created a custom `@InjectWireMock` annotation.

[code]

My `QuarkusTestResourceLifecycleManager` class looks like this:

[code]

I have some tests which do `@QuarkusTestResource

[2021-11-19 17:28] sberyozkin commented on #21571
@Eldelshell Not sure why it fails for you, I've added these tests:

#21579

[2021-11-19 17:40] famod commented on #21577
IIRC that simple injector is not using ArC at all, so it's more of a testing framework issue.

[2021-11-19 17:52] sberyozkin commented on #21571
@Eldelshell

[2021-11-19 18:25] Eldelshell commented on #21571
Did what you suggested and still not getting a 401

[2021-11-19 18:30] Eldelshell commented on #21571
For the new one it works:
[code]

It seems the issue only affect when the argument is an object... maybe the deserialization phase is skipping the JWT security context?

[2021-11-19 18:35] sberyozkin commented on #21571
@Eldelshell I saw 401, I think, but I've tried with the snapshot:
https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#using-snapshots

Can you please try them ?

[code]

I've updated my PR with JSON tests and they also work with jsonb (the current dependency for those tests) but I also tried Jackson and it was fine.

Looks like some fix has gone into the `main` branch

[2021-11-19 18:46] Eldelshell commented on #21571
@sberyozkin same:

[code]

[2021-11-19 18:50] sberyozkin opened #21581 "Improve OIDC web-app logout support"
### Description

Keycloak and some other providers support RP-initiated logout - but many don't such as Auth0, Google, etc - they have their own custom ways of dealing with it.

If the logout is required but no `end-session` path is returned in a discovery doc - then if the user has set a logout-path property then quarkus-oidc should just delete a `q_session` (it does it now for RP initiated one a

[2021-11-19 18:51] Eldelshell commented on #21571
BTW, this issue was detected during testing.

We test that all our endpoints are secured and well, this one wasn't passing a simple test:

[code]

[2021-11-19 18:54] sberyozkin commented on #21571
@Eldelshell I'm sorry - it also fails for me - though works as expected for a `bugged-text` request as I said above.
Hmm, I'd like to see what others observe - as you can see the PR works

[2021-11-19 18:56] sberyozkin commented on #21571
No idea what is going on...PR is also failing but with some weird error

[2021-11-19 19:00] Eldelshell commented on #21571
I've tried with PUT and PATCH and same behavior:

[code]

[code]

[code]

[2021-11-19 19:04] Eldelshell commented on #21571
@sberyozkin seeing the tests, there's none for no JWT, like:

[code]

[2021-11-19 19:05] sberyozkin commented on #21571
@Eldelshell I don't think it matters which verb is used, something strange is going on, I've just fixed my PR and it will be green and as you can see a valid token with a missing role is rejected with 403, invalid token - with 401, with the post and the JSON body.
Lets wait for more feedback from others

Thanks

[2021-11-19 19:09] sberyozkin commented on #21571
@Eldelshell

have just pushed it as well

[2021-11-19 19:33] #21317 closed

[2021-11-19 19:54] allebdev opened #21582 "Introspection succeed even if client secret is wrong"
I have a service with authorisation configured to accept JWT Bearer Token with enabled introspection (using quarkus-oidc).
But even if client secret is wrong my application respond successfully whilst direct introspection request to auth server (Keycloak) with the same credentials fails with `401 Unauthorized`. Looks like my app doesn't do any introspection request to auth server at all if token i

[2021-11-19 20:40] radcortez commented on #21572
`ConfigProvider` will load values from the currently active profile. During build time, the active profile is `prod`, so it should work as usual. Unless there is something different on how the config is being loaded.

[2021-11-19 21:33] Mai-Lapyst opened #21584 "Qute: insert in for/each doesn't have the desired effect"
### Describe the bug

When putting a `{#insert}` section inside a for loop (or an each loop) in qute, nothing gets inserted and the default body is used instead.

### Expected behavior

That one is able to write an include-able template in which a `{#insert}` section is inside a `{#for}` / `{#each}` section.

### Actual behavior

The `{#insert}` section doesn't insert the template from the includi

[2021-11-19 21:55] BaptisteCyrill opened #21585 "Annotations @Authenticated and @RolesAllowed are ignored if resource returns a Multi"
### Describe the bug

If the resource returns a Multi the annotations @Authenticated and @RolesAllowed are completely ignored.
The response returns http code 200.

### Expected behavior

The response should return http code 401.

### Actual behavior

The response returns http code 200.

### How to Reproduce?

Reproducer:
https://bitbucket.org/AlexanderJoeris/quarkus-keyloak-issue/src/master/

Step

[2021-11-19 21:56] Postremus commented on #21552
Output of `-Dquarkus.debug.print-startup-times=true` is added to the starting post. On first glance, I see no obvious culprit for the increased startup time.

[2021-11-19 22:25] tgallin commented on #9123
I have the "acquisition timeout" issue with as400 databases only, using the jt400 driver. I never had any problem with postgresql or sqlserver databases.

@marcogutto  yes, to work around the issue I have with as400 databases, I use this configuration (quarkus.datasource.jdbc.pooling-enabled=false) and it works. The performance is terrible though but that was to be expected not using a pool of con

[2021-11-19 22:33] sberyozkin commented on #21582
@allebdev Right, for JWT tokens the introspection is only a fallback, since the keys are available locally, only if the local verification key is not available then an attempt will be made to introspect, it is not really needed for JWT.

Is your requirement to introspect ? I believe it is not required with Keycloak as it always provides JWK keys to verify locally. It is needed for the binary token

[2021-11-19 22:36] sberyozkin commented on #21585
@BaptisteCyrill it has been fixed, please see #21518, thanks

[2021-11-19 22:36] #21585 closed

[2021-11-19 22:45] allebdev commented on #21582
@sberyozkin Thank you for the answer! I will try such configuration.
Yes, I have to introspect every request (or may be every minute, for example) to be sure that token wasn't revoked. Despite a token expires in few minutes, it's still a requirement.

[2021-11-19 23:06] heubeck commented on #21553
Started with some experiments, currently failing with

[code]

How to register a converter for the new config group?

[2021-11-20 00:57] galiagacandia commented on #13882
In intellij idea it is necessary to perform the following configuration

![image](https://user-images.githubusercontent.com/6887394/142708407-db2dcc65-39c0-4c9b-b695-e655b2a83878.png)

![image](https://user-images.githubusercontent.com/6887394/142708419-2f86530f-751e-4ecc-b3b4-f3700c72b86f.png)

![image](https://user-images.githubusercontent.com/6887394/142708425-f20bfe9c-d558-42e7-8c4c-b5f9701236

[2021-11-20 07:15] sjaakd commented on #21570
@gastaldi , @sberyozkin Thanks! This is good news.

[2021-11-20 08:13] geoand commented on #21553
You don't have to. If you use the proper Quarkus extension configuration annotations (as for the example the KubernetesConfig and its members use), you won't have that issue

[2021-11-20 10:04] einarjohnson opened #21589 "Apache Flink extension"
### Description

An Apache Flink extension which will allow me to write Quarkus handlers that can be executed as Flink tasks/jobs

### Configuration suggestion

quarkus.flink.job.manager.url=
quarkus.flink.job.manager.port=
quarkus.flink.task.manager.url=
quarkus.flink.task.manager.port=

### Additional context

_No response_

[2021-11-20 12:10] sberyozkin commented on #21582
@allebdev This configuration is tested [here](https://github.com/quarkusio/quarkus/blob/main/integration-tests/oidc-tenancy/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java#L347)

[2021-11-20 20:34] Postremus commented on #21552
I created some jfr recordings, and converted them to flamegraphs for easier viewing.
They are attached in the starting post.

[2021-11-20 21:18] heubeck commented on #21553
Thank you @geoand, figured it out:
[code]
doesn't work, whereas
[code]
works fine. Even if for my issue no key is required, it's probably not worse than indexed properties.

[2021-11-21 05:35] E14 commented on #21568
These are about beans, I believe. `A` is not a bean.

[2021-11-21 06:00] E14 commented on #21568
The spec only mentions that beans require a noargs constructor. I can't see where it says that calling the noargs constructor to instantiate a client proxy for a bean would be allowed, but I guess it can be implied. `A` is not a bean however.

I've noticed that `A` might be detected as a bean as per the spec in the unit test by arc, so I added `@Vetoed`,  still with the same results.

...

You are

[2021-11-21 06:52] E14 commented on #21568
I think I found the relevant spec [Unproxyable bean types](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#unproxyable), so it's option two, according to spec (even though this talks about beans, not unmanaged classes) - throw a deployment error.

[2021-11-21 07:34] E14 commented on #21568
So, I found out that weld-junit runs weld in relaxed mode by default, this actually fails now as well:

[code]

I still think this is wrong and the most appropriate way to throw a deployment exception, but I guess it is what Weld does as well.

[2021-11-21 11:48] maxandersen commented on #6189
old and outdated - people submit reproducers just fine without it :)

[2021-11-21 11:48] #6189 closed

[2021-11-21 11:50] maxandersen commented on #6026
closing this  as cli is there and delivered. lets have more dedicated issues for future improvements.

[2021-11-21 11:50] #6026 closed

[2021-11-21 12:13] machi1990 commented on #21455
Thank you for the discussion @apat59 @coiouhkc and for raising the issue @apat59

Personally I do not think that rescheduling the job is an issue. The issue here is that once the job was rescheduled, all the previous state especially the next fire time is not preserved since the new trigger is set to fire immediately or after a certain delay if this was configured with the `@Scheduled` annotation.

[2021-11-21 15:12] DarioFR commented on #21108
Hello. I'm currently facing the same issue which prevents even a simple application with a publisher and subscriber from properly working. Any news about a possible solution/workaround?

Thanks.

[2021-11-21 16:14] cescoffier commented on #21534
Closed by #21563.

[2021-11-21 16:14] #21534 closed

[2021-11-21 17:58] kdubb opened #21592 "Quarkus Cache always executes or deadlocks on Kotlin coroutines"
### Describe the bug

When using `@CacheResult` on a Kotlin coroutine method the method is either always called (i.e. nothing is cached) or the method deadlocks.

### No Caching

The following example method, the method is always called; no caching is done.
[code]

This appears to be because the `kotlin.coroutines.Continuation` completion parameter is included in the cache key.

### Deadlock

You

[2021-11-21 19:00] heubeck commented on #21553
Ok, I'm done with the vanilla Kubernetes implementation proposal in a [forked repo PR](https://github.com/heubeck/quarkus/pull/14/files).
As this one is build on top of my [StatefulSet enhancement](https://github.com/quarkusio/quarkus/pull/21471), I'll created the roles/policies enhancement PR, after the StatefulSet is merged.

If you agree with the implementation, I will complete the Openshift pa

[2021-11-21 19:02] geoand commented on #21553
Best open a draft PR on Quarkus so @iocanel can have a look and comment on the implementation

[2021-11-21 19:42] gunnarmorling opened #21594 "Command history in dev mode for CLI apps"
### Description

When working on a Quarkus-based CLI app (using Picocli), I can easily re-run the very last command in dev mode. Oftentimes I'm alternating between multiple commands though, which currently means that I need to re-enter the command each time it changes (typically by copy & pasting from some text file).

Suggestion: provide a history of commands executed in dev mode and let me easil

[2021-11-21 19:56] heubeck commented on #21553
As you wish: https://github.com/quarkusio/quarkus/pull/21595 ;)

Thank you!

[2021-11-21 20:21] sjaakd opened #21597 "Swagger interface refuses to 'try' text value 1.0 as examplevalue in TextPlain"
### Describe the bug

[code]
Gives result

![image](https://user-images.githubusercontent.com/6173283/142777448-7b7651e9-c5e2-4006-8584-f9a4bb4b36b5.png)

### Expected behavior

an example value `1.0`

### Actual behavior

`1`. Apparently some string manipulation takes place in the translation to javascript.

### How to Reproduce?

See reproducer: https://github.com/sjaakd/reproducer_quarkus_swagg

[2021-11-21 20:54] maxandersen commented on #21594
Agreed This would be really nice!

[2021-11-21 21:40] gwenneg commented on #21592
Thanks for reporting this @kdubb.

I called http://localhost:8080/hello/test1 with:
- `quarkus.log.category."io.quarkus.cache".level=DEBUG` in the `application.properties` file
- a `CompositeCacheKey#toString` implementation that shows the details of the composite key

Here's the result in the Quarkus log:
[code]

@mkouba Do you know why an interceptor would be invoked by ArC twice with varying ar

[2021-11-21 21:47] sberyozkin commented on #21581
@FroMage I've had a look,  `quarkus.oidc.end-session-path` as an absolute URL will redirect to the logout endpoint even if it is not returned in the discovery doc - but I think adding an option to add some extra logout params which are not part of the RP initiated spec but understood by Google and other providers which don't implement it would help

[2021-11-21 22:16] rgmz opened #21598 "Kogito guide contains outdated instructions"
### Describe the bug

The instructions in the ["Using Kogito to add business automation capabilities to an application "](https://quarkus.io/guides/kogito#writing-the-application) guide are outdated and don't make sense with the current version of Kogito / Kogito editor.

I started drafting a PR to improve the documentation, only to realize that the official Kogito guide already has an updated ver

[2021-11-21 22:25] foal commented on #21031
I have the same exception for type
[code]
[code]

[2021-11-22 00:50] geertschuring opened #21600 "Objcopy warning when building native executable on Windows"
### Describe the bug

When building a native-image on Windows 10 I get the following warning towards the end of the successful build:

[code]

I cannot find any documentation on how to install the missing executable.

### Expected behavior

I would expect the Quarkus documentation to tell me how to install the objcopy executable on Windows.

### Actual behavior

Quarkus gives me a warning message,

[2021-11-22 03:17] delongmeng commented on #17770
I'd like to work on this, but it will be very helpful if you can give more instructions on which ones should be included here (besides the ones ending with "BuildItems.java") and how to find them? @knutwannheden

[2021-11-22 03:26] stuartwdouglas commented on #21031
This is a known issue with parameterised tests.

Because JUnit does not directly have support alternate class loaders we have to basically proxy the requests into a new class loader, so for parameterized tests we attempt to clone the parameters into the new class loader, which is not always possible.

If https://github.com/junit-team/junit5/issues/2579 is resolved we should be able to fix this.

[2021-11-22 05:58] stuartwdouglas commented on #21427
The use case I was thinking of primarily was the kotlin one: https://github.com/languitar/kotlin-panache-reload-issue/blob/main/src/main/kotlin/org/acme/TestEntity.kt#L10

Also I am pretty sure there are lots of entities out there that only have a default constructor because hibernate requires it.

In terms of final fields I would just disable the feature for entities that had final fields.

[2021-11-22 06:01] rgmz commented on #9671
@marcelstoer: Did you by chance figure out what configuration is necessary for resteasy-reactive? 👀

[2021-11-22 06:05] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1488725206

[2021-11-22 06:43] wernert75 commented on #18859
Is there some news to this topic? I currently run in some problems while using http 1.1 behind an external load balancer and tls termination.

[2021-11-22 06:43] stuartwdouglas commented on #21278
Node 14.18.1 with Fedora 34

[2021-11-22 06:47] apat59 commented on #21455
Indeed the issue is only the lost of the persistent state, mainly the next fire time.
Your solution looks perfect to me.

Not directly related but I'd also add this sort of warning in the guide:
Whenever you change the @Scheduled.identity, remove the @Scheduled annotation, quarkus is not in charge of cleaning up the qrtz_ tables, this must be handled by the migration scripts (flyway), or manually.

[2021-11-22 07:35] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1488735231

[2021-11-22 07:51] DGuhr opened #21602 "Quarkus 2.5.0.CR1 / Final: Assets loaded from jar/classpath are not served (parsed?) correctly anymore"
### Describe the bug

Hey there,

I just tried to update our Keycloak.X distribution (mutable-jar) from 2.4.2.Final to 2.5.0.Final.

Sadly, when opening the main login page with a freshly started distribution, it seems that the assets we load from classpath/jar are not loaded correctly anymore, and thus the page looks like this:
![Screenshot 2021-11-22 at 08 34 54](https://user-images.githubuserco

[2021-11-22 07:58] glefloch commented on #13058
@gsmet there seems to be a problem related to artifact signing, do you know where that could come from?

[2021-11-22 07:59] geoand commented on #21602
Hi,

Is there any chance you could reproduce this in a smaller example and add that to the issue?

[2021-11-22 08:08] loicmathieu commented on #21564
@mkouba you're right, only uberjar is possible at the moment due to Quarkus target layout, I updated this section lately but not for the section that uses the Maven plugin.

The sentence about the uberjar needs to be moved to the upper section so that it applies to all sections about AppEngine. I'll do it this week.

[2021-11-22 08:36] knutwannheden opened #21604 "ConcurrentModificationException from Micrometer extension on shutdown"
### Describe the bug

I've been seeing `ConcurrentModificationException`s being reported during the shutdown of tests with Quarkus 2.5.0.

The problem is caused by https://github.com/quarkusio/quarkus/commit/01dc826c0744ff9a3e8a1daaec63b591deff95c1 since the Micrometer `CompositeMeterRegistry#getRegistries()` method doesn't return a copy and `Metrics#removeRegistry()` modifies the same instance in

[2021-11-22 08:55] Eldelshell commented on #21571
Today I ran the tests on #21579 and everything works. Maybe this tests aren't loading the whole servlet context and only the security ones? When I ran a similar test with `@QuarkusTest` I get the same behavior described here.

[2021-11-22 08:58] DGuhr commented on #21602
@geoand I am still looking into the issue myself to make absolutely sure nothing's wrong "on our side".

Current assumption is it's not, bc. same code works with quarkus 2.4.2.Final bom, and themes which we load from jar contian the right files with right contents in the dist (just checked to make sure there's nothing wrong with the jar creation approach).

Sadly it's not very easy to provide a sm

[2021-11-22 09:10] geoand commented on #21589
Hi,

This sounds very interesting. Can you provide more information about what you expect the experience for the end user would be?

[2021-11-22 09:12] geoand commented on #21507
Is there a code repository you can link to?

[2021-11-22 09:14] geoand commented on #21592
This is definitely part of the issue and we should take care of it

[2021-11-22 09:25] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1488734942

[2021-11-22 09:30] #21450 closed

[2021-11-22 09:34] sberyozkin commented on #21571
@stuartwdouglas Can you please have a quick look at #21579 and the code at git@github.com:Eldelshell/jwt-bug.git, may be you can spot something that may affect the tests failing at git@github.com:Eldelshell/jwt-bug.git ?

My own local tests showed that the tests at git@github.com:Eldelshell/jwt-bug.git accept a plain string as opposed to JSON, hence #21529 tries both String and JSON payloads - in

[2021-11-22 09:38] tarilabs commented on #19140
Hi everyone,
we are experiencing again, an analogous issue when using Quarkus+Kogito extension, as reported here: https://github.com/kiegroup/kogito-runtimes/issues/1734

The problem seems to be related to:

https://github.com/quarkusio/quarkus/blob/c41872f2d3a1ecf97245c7f0eaaa4a18c658b07f/bom/application/pom.xml#L3252-L3261

this dependency declared here "imposes" the Antlr4 runtime for any exten

[2021-11-22 09:45] gwenneg commented on #21592
Yes, this should be an easy fix. But first I'd like to understand why the intercepted method is invoked twice.

[2021-11-22 09:46] rsvoboda opened #21608 "Enhance CLI with `go-offline` option"
### Description

Given that now both maven and gradle plug-ins provide the go-offline commands, we could add the option to download all the app dependencies for off-line use into CLI as well.

Follow up to https://github.com/quarkusio/quarkus/pull/21468#issuecomment-975230448 discussion / PR

### Implementation ideas

_No response_

[2021-11-22 09:51] #21508 closed

[2021-11-22 09:53] rsvoboda opened #21609 "Quarkus CLI is outdated / Quarkus 2.3.0.Final based"
### Describe the bug

When following https://quarkus.io/guides/cli-tooling#installing-the-cli instructions, I get Quarkus CLI based on version 2.3.0..Final instead of the latest, 2.4.2.Final atm.

[code]

Apparently the https://github.com/quarkusio/jbang-catalog/blob/main/jbang-catalog.json is not updated with every Quarkus release. The last change was done one and half month ago.

@gsmet, @maxand

[2021-11-22 09:54] Eldelshell commented on #21571
Hi, I added the tests to verify that the bug still occurs when using `@QuarkusTest`

https://github.com/Eldelshell/jwt-bug/blob/6deada4c4db7a5ccaec8f33d6cb6d9686e9decf4/src/test/java/org/acme/GreetingResourceTest.java#L16

and yes, they problem is still present:

[code]

[2021-11-22 10:02] #21604 closed

[2021-11-22 10:05] geoand commented on #19140
I personally don't know why Quarkus uses ANTLR, so I can't help much here. @gsmet do you remember?

[2021-11-22 10:21] weir2010 commented on #21507
solved！

for：

apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
 name: build-member-app
spec:
 params:
 - name: docker-credentials-secret
   type: string
   description: name of the secret holding the docker credentials
   default: docker-credentials
 resources:
   inputs:
     - name: source
       type: git
   outputs:
     - name: builtImage
       type: image
 steps:
   - name: maven-build

[2021-11-22 10:21] #21507 closed

[2021-11-22 10:31] geoand commented on #19140
Right, what I meant is that I am not the one that can decide whether or not we can upgrade ANTLR since I don't know how we use it.

[2021-11-22 10:35] tarilabs commented on #19140
open question: can't the MongoDB-Panache **only** define the dependency to ANTLR then ?

That way you don't impose "_quarkus -wide_" a dependency which is only used in a subcomponent of a single extension?

[2021-11-22 10:38] geoand commented on #19140
There is, @aloubyansky can tell you more

[2021-11-22 10:42] iocanel commented on #21553
@heubeck

I think that the use of arrays in quarkus configuration is not very common. So, I would also suggest the use of maps.
As you mentioned the thing is that there is field in policies that would qualify as an id, but this is no biggie. We have other cases where it happens too.

[2021-11-22 10:44] geoand commented on #21492
I looked into this and to be honest, this is expected.

The reason you got HTTP 400 from your `addFruitBlocking` is because you used `@NotNull`. If you remove it, then you will get HTTP 500.

The difference comes down to the fact that with the blocking call the [Validator](https://github.com/quarkusio/quarkus/blob/2.5.0.Final/extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernat

[2021-11-22 10:44] #21492 closed

[2021-11-22 10:57] sberyozkin commented on #21571
@Eldelshell @stuartwdouglas I've pushed more tests, involving `@QuarkusTest`, both `@TestSecurity` and a complete end to end (with JSON and text) tested.
Not sure what is going on

[2021-11-22 11:11] geoand commented on #21600
This was fixed in https://github.com/quarkusio/quarkus/pull/20297

[2021-11-22 11:11] #21600 closed

[2021-11-22 11:14] geoand commented on #21552
Can you perhaps try `2.5.0.Final` as well?

Furthermore, is this regression only limited to dev-mode?

[2021-11-22 11:32] geoand commented on #21548
Any chance you can attach a reproducer?

[2021-11-22 11:34] geoand commented on #21533
cc @TomasHofman @radcortez

[2021-11-22 11:44] #21512 closed

[2021-11-22 11:46] Eldelshell commented on #21571
I added more tests to the greeting project and the results are:

- Without a body on the request: 200 (should be 401)
- With a valid body: 200 (should be 401)
- With an invalid body: 200 (should be 401)
- With an invalid content type header: 415 (not sure if it should be 401 so it might work as expected)

I also tried to inject the JsonWebToken and got the same results.

[2021-11-22 11:48] Sanne commented on #21427
OK yes in that case it sounds good.

[2021-11-22 12:00] pjgg opened #21611 "Mssql extensions fails in native mode with a `ClassNotFoundException`"
### Describe the bug

Quarkus Upstream: `999-SNAPSHOT`

When I try to create/update a table through Flyway and `mssql` I am getting the following error in native mode:

[code]

Reproducer:
`git clone https://github.com/quarkus-qe/quarkus-test-suite.git`
cmd: `mvn clean verify -Dnative -pl sql-db/vertx-sql`

DailyBuildExample: https://github.com/quarkus-qe/quarkus-test-suite/runs/4280479399?check_s

[2021-11-22 12:10] TomasHofman commented on #21533
I will have a look.

[2021-11-22 12:10] ia3andy commented on #11515
This is fixed on this PR (but will need to wait for the next release to be merged): https://github.com/quarkusio/code.quarkus.io/pull/671

[2021-11-22 12:16] edeandrea commented on #21492
But I'm not passing in a null object in my rest call. What does the `@NotNull` annotation have to do with anything? If I were to remove it from all the endpoints and then throw the `ConstraintViolationException` shouldn't the endpoint still return a `400`?

[2021-11-22 12:22] zulq opened #21612 "Intellij plugin does not show links for kotlin endpoints"
With the quarkus plugin in intellij installed endpoints are shown in dev mode and clickable. However this not available in kotlin.

[2021-11-22 12:52] geoand commented on #21492
The fact that you annotate with `@NotNull` means that the CDI interceptor I mentioned earlier is engaged.

Nope. When you use reactive programming, there are some things you give up - such as the use of interceptors

[2021-11-22 12:56] edeandrea commented on #21492
So if I were to remove the `@NotNull` annotations, how would I transform the `500` to a `400` (essentially simulate the same behavior)? Is there some class somewhere I can reuse if I create a `@ServerExceptionMapper(ConstraintViolationException.class)`?

[2021-11-22 12:58] geoand commented on #21492
Using `@ServerExceptionMapper(ConstraintViolationException.class)` is the way to go.

[2021-11-22 13:00] edeandrea commented on #21492
But what do I return to get it to work just like it does if `@NotNull` is there?

[code]

nor

[code]

works

[2021-11-22 13:06] edeandrea commented on #21492
This seems to work

[code]

[2021-11-22 13:10] geoand commented on #21602
I really think we'll need a simple reproducer for this as took a super quick look but have no idea where to find anything in the code.

[2021-11-22 13:12] geoand commented on #21612
cc @jeffmaury

[2021-11-22 13:16] #21449 closed

[2021-11-22 13:18] sberyozkin commented on #21571
Hmm, at the moment I've no idea what is different between your setup and the integration test setup, I've tried the 2.5. and 2.x branches with my PR and the tests pass...

[2021-11-22 13:20] seb-noirot opened #21614 "Unleash 0.2.0 : isEnable for userId strategy does not work anymore"
### Describe the bug

I am trying to call method :
`isEnabled(String toggleName, UnleashContext context, boolean defaultSetting)`

New UnleashService does not override all the default method of Unleash class and thus the context is not propagated to the client.

Unleash interface:
`
default boolean isEnabled(String toggleName, UnleashContext context, boolean defaultSetting) {
    return this.isEna

[2021-11-22 13:26] sberyozkin commented on #21571
@Eldelshell OK, found it, `MyRequest` is `private static` and it must be public - I think we have a duplicate somewhere.

[2021-11-22 13:28] #21540 closed

[2021-11-22 13:29] jeffmaury commented on #21612
Tested on VSCode and having the same issue so cc @angelozerr

[2021-11-22 13:32] sberyozkin commented on #19263
I'd like to close it since 403 can only happen if the security identity has no required roles

[2021-11-22 13:32] #19263 closed

[2021-11-22 13:32] Ladicek commented on #21519
CC @mkouba

[2021-11-22 13:38] gsmet commented on #21614
Thanks but you should create your issue there: https://github.com/quarkiverse/quarkus-unleash .

[2021-11-22 13:38] #21614 closed

[2021-11-22 13:39] #21577 closed

[2021-11-22 13:39] sberyozkin commented on #19177
@stuartwdouglas Hey Stuart - can you please look into disabling it/failing the build if the body entity is private ? I've just had about a 1 day panic attack with #21571 :-), and it proved it was the same problem, if it is too hard to enforce then I can add a big warning to the docs ?

[2021-11-22 13:40] seb-noirot commented on #21614
Will do

[2021-11-22 13:41] sberyozkin commented on #21571
@Eldelshell Closing as a duplicate of #19177 - thanks for spending the time on it - we'll either update Quarkus to fail the build in such cases or at least doc a warning, please watch #19177 and comment there as well

[2021-11-22 13:41] #21571 closed

[2021-11-22 13:53] Eldelshell commented on #21571
Just tested this and you're correct, changing to public made it work. Thanks!

[2021-11-22 13:54] kdubb commented on #21592
@geoand @gwenneg I actually readied a PR for excluding the continuation, but since it just causes a deadlock by default due to the doubling issue, it's not all that helpful at the moment.

[2021-11-22 13:56] Plawn opened #21616 "Spring data Page does not work with interface projection"
### Describe the bug

When using `org.springframework.data.domain.Page` with an interface projection, we get an error.

The same query works fine when used with a `java.util.List` instead of a Page

### Expected behavior

A Page of projected entities

### Actual behavior

We get an exception :

[code]

### How to Reproduce?

Create a repository with returning a `org.springframework.data.domain.Pag

[2021-11-22 13:57] sberyozkin commented on #21571
@Eldelshell Thanks for confirming, in meantime we'll try to do something about preventing hard to diagnose sec problems when the private entities are used :-)

[2021-11-22 14:45] wmedvede commented on #21572
HI @cescoffier , @radcortez In case it can help to identify where the potential change was introduced I've confirm that Quarkus 2.4.2.Final works well too, so 2.3, 2.4, and 2.4.2 works well. The issue must have been introduced in 2.5.

[2021-11-22 14:50] #21611 closed

[2021-11-22 14:57] #20420 closed

[2021-11-22 15:20] wmedvede commented on #21572
Some more information @cescoffier @radcortez

Even by using an empty application.properties, i.e., no connectors configuration at all, I have the following situation.

1) When the application starts, it looks like an on-the-fly connector is being generated.
see: https://gist.github.com/wmedvede/de8bb42cc64a5fd7f353f24074fdcaa1

2) If I send kafka messages to that topic with another application, th

[2021-11-22 15:43] rgmz opened #21619 "'No message codec' error when following "Using the [vertx] event bus" guide"
### Describe the bug

In the ["Using the event bus" guide](https://quarkus.io/guides/reactive-event-bus#using-codecs) it mentions that Quarkus provides a default `MessageCodec` for locally delivery. However, the example in the documentation results in a 'No message codec' error (at least with Kotlin).

### Expected behavior

If `LocalEventBusCodec` is meant to work implicitly, I'd expect this to t

[2021-11-22 15:45] wmedvede commented on #21572
It looks like on the fly outgoing connectors are being generated too:

If I add the following code to my bean:

    @Inject
    @Channel("NOT_CONFIGURED_EMITTER")
    Emitter<String> notConfiguredEmitter;

when the application starts I can see this message:

2021-11-22 16:40:45,595 INFO  [io.sma.rea.mes.kafka] (main) SRMSG18258: Kafka producer kafka-producer-NOT_CONFIGURED_EMITTER, connected to Ka

[2021-11-22 15:49] wmedvede commented on #21572
finally in 2.4.2.Final I see the messages below. Which looks better, a WARNING is produced, but the application starts since the   CDI dependency graph is there.

__  ____  __  _____   ___  __ ____  ______
 --/ __ \/ / / / _ | / _ \/ //_/ / / / __/
 -/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\___\_\____/_/ |_/_/|_/_/|_|\____/___/
2021-11-22 16:47:17,662 WARN  [io.sma.rea.mes.provider] (main) SRMSG0

[2021-11-22 16:03] TomasHofman commented on #21533
Thanks for well written bug report!

I think the problem is in incorrect implementation of the `RestClientFallbackConfigSourceInterceptor#iterateNames()` method. When the interceptor sees property like `%prod.config-key/mp-rest/url`, it tries to convert it to the new notation and the result is something like `quarkus.rest-client.%prod.config-key.url`. Later on, because this prop name is included i

[2021-11-22 16:22] davideginna commented on #21306
Hi, sorry for the late answer.
I tried.
This is the log I get.

[code]

I was expecting a log like that
start1
start2
end2
start3
end1
end3

if I published the link to my personal github with the test code could you view it?

[2021-11-22 16:24] cescoffier commented on #21572
I just try your initial example and everything works as expected.
Note that if you build the application with the events-support profile enabled, it will find it at runtime (without or without the profile).
But if you do not enable the profile at build time:

[code]

About the other comments. If you have a single connector on the classpath, we use that one. This attachment can be disabled using th

[2021-11-22 16:31] olag18 commented on #21227
i've the same issue with 2.5.0, in my case it's append after changing my config from jdbc to reactive

[2021-11-22 16:31] mmusgrov commented on #21335
@HelvetiaAppDev In light of this, can this issue be closed?

[2021-11-22 16:55] pipinet commented on #19617
Any update on this issue ?

[2021-11-22 17:01] pipinet commented on #20064
@mkouba
hi, same error in gradle multi module, How to fix it?

[2021-11-22 17:02] rgmz opened #21621 "@ConsumeEvent can return `Uni<R>` if parameter is `T` but throws error for `Message<T>`"
### Describe the bug

The ["Using the event bus" documentation](https://quarkus.io/guides/reactive-event-bus#replying) has examples of methods annotated with `@ConsumesEvent` returning `void`, `R`, and  `Uni<R>`:

[code]

Based on the examples I'd expect the same to work for `Message<T>`, but attempting to consume an event from `EventBus.send` or `EventBus.request` results in a `NoSuchMethodError`

[2021-11-22 17:03] allebdev commented on #21582
@sberyozkin  I've checked it as well, and it works. Thank you for explanation and quick response!
Could you also advise me if it's possible to customize caching of token introspection in such configuration for let's say 15 seconds?

[2021-11-22 17:13] rgmz commented on #21621
+ @cescoffier, as I believe this falls under `area/vertx`.

[2021-11-22 17:21] sberyozkin commented on #21582
@allebdev Sounds good, thanks for checking.

Re the cache, please see https://quarkus.io/version/main/guides/security-openid-connect#token-introspection-userinfo-cache

Thank you

[2021-11-22 17:21] #21582 closed

[2021-11-22 17:22] wmedvede commented on #21572
Thanks for the info @cescoffier , but let me ask you another question.

This kind of auto-picking of the connector (and the subsequent automatic generation) is something new in Quarkus 2.5?

Because, if I run the same app with quarkus 2.4.2.Final this "auto-picking" effect is not happening. (in fact it looks like the quarkus.reactive-messaging.auto-connector-attachment does nothing.)

(reproducer

[2021-11-22 17:58] famod commented on #21619
/cc @cescoffier

[2021-11-22 18:04] cescoffier commented on #21619
Do you have the same behavior using Java?

[2021-11-22 18:09] cescoffier commented on #21572
Yes, auto attachment is a new feature in 2.5. It avoids having to configure connectors when you have a single one on the classpath.

It is actually done using build time wiring which prepares the graph at build time, and can detect issues at build time.

We are planning more feature which are possible using this new build time wiring.

[2021-11-22 18:23] wmedvede commented on #21572
@cescoffier THANK you!! this drove me nuts. Now I understand :).

[2021-11-22 18:51] rgmz commented on #21619
Apologies @cescoffier, this seems to be an error on my part.

I actually had `MyName` implement an abstract class (e.g. `Name`) and was specifying `Name` as the type for `@ConsumeEvent`. This seems to be expected behaviour:
[code]

Manually creating an instance of `LocalEventBusCodec` and specifying that as the codecName in DeliveryOptions works.

(My work laptop is locked down, so I tend to take

[2021-11-22 18:51] #21619 closed

[2021-11-22 19:10] #21572 closed

[2021-11-22 19:42] cescoffier commented on #18859
Sorry, forgot about that one.

I don't think there is anything to do for h2c. Basically, the server will handle HTTP/2 OOTB.

I just did a quick check:

[code]

[2021-11-22 20:27] rgmz commented on #21621
Looking at `EventBusConsumer#implementInvoke`, it appears that `T` checks for multiple return types:
https://github.com/quarkusio/quarkus/blob/2cbd177416f92b9f45abb34b6f01acb8cb0f4eb5/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/EventBusConsumer.java#L176-L187

However `Message<T>` only checks for a void return type:
https://github.com/quarkusio/quarkus/blob/2cbd177416f92b

[2021-11-22 21:10] Postremus commented on #21552
@geoand

There is no difference between `2.5.0.Final` (2.474s) and `2.5.0.CR1` (2.476s).
There is also no difference when running as fast jar between `2.5.0` (0.877s) and `1.13.1.Final` (0.876s).

The regression therefore only affects dev mode.

[2021-11-22 21:43] radcortez commented on #21334
Hi @bumbel42so,

This was actually working by accident (setting the `quarkus.config.profile.parent` in a profile, set by `quarkus.profile`). For instance, in SmallRye Config if you try to use the same approach (with the SR Config configuration), it won't work. Both Quarkus and SR Config configuration should be consistent.

In reality, this was never intended to work, since these configuration keys

[2021-11-22 21:46] radcortez commented on #21334
This was removed by: https://github.com/quarkusio/quarkus/pull/21064.

See also: https://github.com/smallrye/smallrye-config/issues/663

[2021-11-22 22:01] gsmet commented on #21552
There is a nice documentation about how to profile dev mode here:
https://github.com/quarkusio/quarkus/blob/main/TROUBLESHOOTING.md#profiling-application-dev-mode-with-async-profiler

If you're interested in digging a bit more by yourself, that would be a
good starting point.

On Mon, Nov 22, 2021 at 10:11 PM Martin Panzer ***@***.***>
wrote:

[2021-11-22 22:24] #21332 closed

[2021-11-22 22:24] #21336 closed

[2021-11-22 22:24] #21341 closed

[2021-11-22 22:24] #21345 closed

[2021-11-22 22:24] #21348 closed

[2021-11-23 02:03] vhmolinar commented on #20896
@michalszynkiewicz thanks for asking me. I managed to do my first direct contribution https://github.com/quarkusio/quarkus/pull/21627

[2021-11-23 05:55] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1493360315

[2021-11-23 06:01] galderz commented on #21479
@mariofusco Did you try the `kogito-pmml-quickstart`? That's the one that's failing. `kogito-quickstart` works fine:

[code]

It's all in the linked quarkus quickstart link above.

[2021-11-23 06:01] cescoffier commented on #21306
Can you provide a reproducer?
We have tests very close to your config which work as expected.

[2021-11-23 06:42] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1493369912

[2021-11-23 06:52] geoand commented on #21552
Good to know, thanks

[2021-11-23 07:32] bumbel42so commented on #21334
Hi @radcortez,
thanks for the answer. You are right, i misunderstood the documentary.
My intention was to have a custom dev profile where i set my db-config to another database then in default dev profile but use the other dev params as fallback.
But i´m able to solve this use case on a different way (e.g. set all paramaters for custom profile).

[2021-11-23 07:32] #21334 closed

[2021-11-23 07:43] mschorsch commented on #21519
I also saw the issue in 2.4.2, but only in dev mode.

[2021-11-23 07:44] geoand commented on #21616
@Sgitario would you be interested in looking into a fix for this one?

[2021-11-23 07:50] mschorsch commented on #21519
Similar issue: #20357

[2021-11-23 07:55] HelvetiaAppDev commented on #21335
@mmusgrov thank you for taking a look at the problem. if required we could attempt to create a reproducer that works more similar to our own local project?
All we know is the quarkus interceptor calls commit as the transaction is RUNNING,
then the before completion event starts.
If we call setRollbackOnly within the event without a timeout a rollback happens and works.
If a timeout within the even

[2021-11-23 08:00] geoand commented on #21568
@mkouba @manovotn should this be closed?

[2021-11-23 08:08] bidavidgit commented on #17223
This still seems to be an issue!
In my opinion, the changes of @fbuetler will fix the problem.
And I agree with @fbuetler, this is not a environment in windows problem, but rather a more general `env/graalvm`.

[2021-11-23 08:09] ia3andy opened #21629 "Add a parameter to select the java version for generated Quarkus projects (CLI and Maven)"
### Description

Continuing on https://github.com/quarkusio/quarkus/pull/20849

The current implementation (👆) uses the shell java version to determine a compatible version (11 or 17 for now) in generated project.

We need to add this as a parameter (11 or 17, default still being automatic based on shell java version) in the CLI and Maven plugin.

### Implementation ideas

See comment https://gith

[2021-11-23 08:12] Sgitario commented on #21616
Yes!

[2021-11-23 08:13] mkouba commented on #21568
Yes, I think that this one should be closed. `org.jboss.weld.construction.relaxed` is a non-portable feature where the constructor is not used at all to instantiate proxy instances and AFAIK it's only enabled by default for Weld SE.

Producer methods/fields are allowed to declare normal scopes. However, there are additional restrictions upon bean types for such bean types as mentioned in the [Bean

[2021-11-23 08:13] #21568 closed

[2021-11-23 08:13] geoand commented on #21488
cc @TomasHofman

[2021-11-23 08:24] geoand commented on #21509
Do you have a reproducer we can try?

[2021-11-23 08:28] manovotn commented on #21568
Late to the party but yes, this is intended behavior as per specification.

[2021-11-23 09:27] maxandersen commented on #21629
where is that done ? That means if you run on on java 8,9,10,12,13,14,15, 16 or 17 what happens?

I think its a bad default to use the shell java version. It should be a fixed default (i.e. Java 11 until Java 17 is mainstream) to work reliably.

[2021-11-23 09:32] HelvetiaAppDev commented on #21335
[hibernate-orm-quickstart.zip](https://github.com/quarkusio/quarkus/files/7586923/hibernate-orm-quickstart.zip)
Here is a functioning reproducer. (uses postgre sql devservice insted of h2. working PC can't use deversive because of firewall)
simpliy start quarkus:test and you should see the following:

[code]

[2021-11-23 09:44] ia3andy commented on #21629
https://github.com/quarkusio/quarkus/pull/20849/files#diff-e3a379680d4a534804bfaf1f30197ae16808192379a05287be973b77585a8cc6

[2021-11-23 10:03] mkouba commented on #21584
@Mai-Lapyst Thanks for reporting this! It should be easy to fix.

[2021-11-23 10:13] mmusgrov commented on #21335
That looks like a useful log; we call rollback but the agroal LocalXAResource cannot call rollback on the connection (it is reporting that there is no active transaction) and we are also reporting `ARJUNA012072: End called illegally`, ie the rollback request never reaches the database. And we struggle to cancel the transaction because the user code is wedged in the beforeCompletion call.

I will t

[2021-11-23 10:23] mkouba commented on #21455
@machi1990 I think that solution 1 makes sense. What other state is lost BTW?

@apat59 +1

[2021-11-23 10:25] mkouba commented on #20064
What version of quarkus do you use?

[2021-11-23 11:04] R4V3NN0 opened #21638 "OidcClient and OidcClientFilter crash when auth-server is unavailable"
### Describe the bug

Im using `quarkus-oidc-client-filter` and `quarkus-oidc-client` to use an external REST-API which is secured with OAuth2. We are caching the data in our application, so we only need to call the API once a day, so that our application can still work, when the external API is down.

When the external Auth Server is down, our application crashes, because of an OidcClientExceptio

[2021-11-23 11:12] #21533 closed

[2021-11-23 11:16] #21407 closed

[2021-11-23 11:20] TomasHofman commented on #21488
I will have a look, but right now I'm unable to generate anything at all from the docs folder.

Running `./mvnw package -f docs/` results in:

[code]

[2021-11-23 11:27] Itoriem commented on #21519
Right, the problem is not present when the server is started with the 'prof' profile

[2021-11-23 11:37] Eat-Sleep-HitBean commented on #14647
Can someone tell me how to recover or ignore the problem, even restarting the computer won't solve the problem，i can not study follow the quarkus guide

[2021-11-23 12:35] #21516 closed

[2021-11-23 12:38] maxandersen commented on #7127
there is now a registry and we have ecosystem ci for verifications +quarkiverse hub for easy publishing.

[2021-11-23 12:38] #7127 closed

[2021-11-23 12:45] maxandersen commented on #5843
@gavinking @Sanne where are we with this one ?

[2021-11-23 12:47] gavinking commented on #5843
Well, I mean, I implemented it long ago and put it out there, but it's never been integrated. At this point it would involve some work to get it going on latest versions of Java compiler. That's not impossible, but I would need to see some serious interest.

[2021-11-23 13:01] JiriOndrusek opened #21639 "Devservices derby doesn't start because of missing resource bundle"
### Describe the bug

According to the [documentation](https://quarkus.io/guides/datasource#dev-services), zero config setup for `Apache derby` should work. But if it is used, there is an error preventing db to start:
[code]

### Expected behavior

Derby dev service should start.

### Actual behavior

_No response_

### How to Reproduce?

Issue could be reproduced with quarkus-quickstart `spring-d

[2021-11-23 13:05] rgmz commented on #21509
Yes: https://github.com/rgmz/quarkus-kotlin-openapi-21509

FYI: based on the discussion in the upstream repository ([issue](https://github.com/smallrye/smallrye-open-api/issues/969) and  [PR](https://github.com/smallrye/smallrye-open-api/pull/970)), this seems to be an issue on Quarkus' end. All of the test cases for the [`smallrye-open-api-jaxrs` extension](https://github.com/smallrye/smallrye-op

[2021-11-23 13:08] Eat-Sleep-HitBean commented on #14647
for more information，my IDEA run quarkus:dev successfully at first，when i install Docker Desktop on Windows and restart the computer，my IDEA can not run with quarkus:dev，when i uninstall the Docker Desktop and restart computer, my IDEA run with quarkus:dev successfully agin，i do not know why, but i hope my experience could help other people

[2021-11-23 13:11] sberyozkin commented on #21638
@R4V3NN0 I don't think `crash` is a correct qualification - it is not some NPE, OidcClient, by design attempts to acquire a token early, so if the configured URL is not pointing to the running provider it is not a bug either if the exception is reported.
That said, I thought it should work as you described, let me have a look

[2021-11-23 13:17] sberyozkin commented on #21638
@R4V3NN0 Can you please try `quarkus.oidc-client.early-token-acquisition=false` ?

[2021-11-23 13:28] geoand commented on #21639
What version of Quarkus does this failure occur with?

[2021-11-23 13:28] sberyozkin commented on #21638
Never mind, you'd get an exception in this case as well.
Well, with `quarkus-oidc`, if `auth-server-url` is not reachable then an attempt is used to recover during the first request, may be something like that can be done with the OIDC client, will try to look a bit later

[2021-11-23 13:29] R4V3NN0 commented on #21638
@sberyozkin thanks for your quick reply.
I added `quarkus.oidc-client.early-token-acquisition=false` to the properties and now the Exception has changed to
`io.quarkus.oidc.client.runtime.DisabledOidcClientException: 'Default' client configuration is not initialized`

[2021-11-23 13:38] R4V3NN0 commented on #21638
@sberyozkin I think I found a solution.
I had to set `quarkus.oidc-client.early-tokens-acquisition=false` instead of `quarkus.oidc-client.early-token-acquisition=false` they seem identically, but there is a difference because in the first one it is `tokens` and in the second one `token`

[2021-11-23 13:43] sberyozkin commented on #21638
@R4V3NN0 oh sorry, I mistyped, so does it work as expected now for you ?

[2021-11-23 13:45] R4V3NN0 commented on #21638
Yes, now its working as expected. Thanks for your help. I will close this issue.

[2021-11-23 13:45] #21638 closed

[2021-11-23 13:54] sberyozkin commented on #21638
@R4V3NN0 Thanks, FYI, this property is doc-ed at https://quarkus.io/guides/security-openid-connect-client#use-oidcclient-in-microprofile-restclient-client-filter as well, may be it could've been more visible

[2021-11-23 13:54] Legion2 commented on #6531
Here is the config I use with gradle projects, it uses jib to create the container images and works with kubernetes executor without dind:
[code]

[2021-11-23 13:58] JiriOndrusek commented on #21639
@geoand I forgot to menioon it: 2.5.0.Final

[2021-11-23 14:05] ia3andy commented on #12956
We should close this, it's not relevant anymore. Codestarts are linked to extensions.

[2021-11-23 14:05] #12956 closed

[2021-11-23 14:21] #21564 closed

[2021-11-23 14:35] funcbro opened #21641 "Make name of OIDC session cookie configurable"
### Description

The OIDC session-cookie from the extension `io.quarkus:quarkus-oidc` has the fixed name `q_session`.

### Requirement:
The name of the cookie should be made configurable.

### Problem
* In our environment we have several applications running in a common domain across different stage-environments (development, testing, etc).
* The applications need to share the cookie between separ

[2021-11-23 14:36] digitalsamba commented on #21108
Today I had same time to dig deeper and found the issue.

Basically the vertx redis client doesn't support pub/sub in connection pooled mode.

https://vertx.io/docs/vertx-redis-client/java/#_connection_pooling
**Pooling is not compatible with SUBSCRIBE, UNSUBSCRIBE, PSUBSCRIBE or PUNSUBSCRIBE because these commands will modify the way the connection operates and the connection cannot be reused.**

[2021-11-23 14:39] DanHeidinga commented on #6538
Given the previous comment and the lack of reported issues with OpenJ9 in the interim, closing this out

[2021-11-23 14:39] #6538 closed

[2021-11-23 14:40] mkouba commented on #21621
Well, the javadoc of `@ConsumeEvent` is pretty clear that _"If it accepts `io.vertx.core.eventbus.Message` then the return type must be void"_, i.e. you should call the `Message.reply()` method directly. However, I'm not sure why the return type is not validated during build.

[2021-11-23 14:48] funcbro opened #21642 "Support for GZIP in GraphQL Services"
### Description

The GraphQL extension `io.quarkus:quarkus-smallrye-graphql` currently does not support GZIP compression of responses.

GZIP compression of GraphQL-responses should be configurable.

When looking at the smallrye implementation itself, it should be possible to implement a GZIP compression via a Servlet Response-Filter.
By using the quarkus extension though this possibility does not

[2021-11-23 14:49] DGuhr commented on #21602
Soo @geoand
Here is a working reproducer: https://github.com/DGuhr/reproducer
See steps to reproduce :) There's also the `hello/fixed/...` endpoint, so I think that the problem is actually our direct usage of `getResourceAsStream` in the response, together with a change in the internals of serving them (until 2.4.2 it worked to use getResourceAsStream directly, as we do e.g. in https://github.com/

[2021-11-23 14:49] DGuhr commented on #21602
Soo @geoand
Here is a working reproducer: https://github.com/DGuhr/reproducer
See steps to reproduce :) There's also the `hello/fixed/...` endpoint, so I think that the problem is actually our direct usage of `getResourceAsStream` in the response, together with a change in the internals of serving them (until 2.4.2 it worked to use getResourceAsStream directly, as we do e.g. in https://github.com/

[2021-11-23 14:51] phillip-kruger commented on #21642
Thanks for this issue. The Quarkus extension does not use servlet for the HTTP transport. But we should be able to add this to the vertx route. I'll have a look a.s.a.p.

[2021-11-23 15:10] #21584 closed

[2021-11-23 15:14] sberyozkin commented on #21641
@funcbro It makes sense, but I'd like to retain `q_session` and `q_auth` qualifiers to ensure it can be traced that Quarkus has created these cookies.
At the moment I'm thinking of using the value of `quarkus.profile`, `%prod` is default, in this case nothing gets changed, if it is for example `staging` then the cookies will be named as `q_session_staging`, etc

Would that work for you ? Not sure

[2021-11-23 15:20] geoand commented on #21602
Thanks a lot for looking into it!

I'll have a look soon and let you know

[2021-11-23 15:26] TomasHofman commented on #21488
@geoand you did develop parts of the rest-client extension so I would ask you for opinion.

I think that the rest-client config properties are not included in the all-config guide because the `@ConfigRoot` annotated class is not part of the extension jar directly, but it's consumed from a dependency jar (which is shared between the rest-client classic and rest-client-reactive).

So the options are

[2021-11-23 15:33] geoand commented on #21488
I am pretty sure it was @michalszynkiewicz you developed the rest client, but IMHO, option 1) is best

[2021-11-23 15:41] maxandersen opened #21646 "implement github discussions"
### Description

tracking things needed to implement #19479 Github Discussions:

- [x] update [.github/ISSUE_TEMPLATE/config.yml](../blob/HEAD/.github/ISSUE_TEMPLATE/config.yml) to not mention #users and mention Github Discussions as place to post #21647
- [x] Update [website 2.0 PR](https://github.com/quarkusio/quarkusio.github.io/pull/1242) to stop mentioning zulip #users and instead highlight g

[2021-11-23 15:41] TomasHofman commented on #21488
OK, @michalszynkiewicz interested in your opinion as well :).

I don't know if 1) will be backportable to 2.4 or 2.5 branches, which might be necessary to sort out quarkus.io doc pages. If not I may need to hack `AllConfigGenerator` (in that one branch only).

[2021-11-23 15:49] pedroigor commented on #21602
@geoand Do you think it could be related to any new reactive/async behavior in resteasy? To make it work @DGuhr is kind of forced to read all bytes and our requests should always run in a worker thread.

[2021-11-23 15:51] geoand commented on #21602
I have no idea TBH - I'll keep you posted.

[2021-11-23 16:13] rgmz commented on #21621
_Ahh_ — IntelliJ's been having issues displaying sources, so I must have missed this.

So I guess the questions are:
1. Can Quarkus validate the return type on build (which I see you've already opened a PR for)
2. If `Message` cannot return `Uni<T>` for logical reasons, is it possible to inject both the [ `Message#headers`](https://vertx.io/docs/apidocs/io/vertx/core/eventbus/Message.html#headers-

[2021-11-23 16:22] michalszynkiewicz opened #21648 "gRPC: per-client interceptors"
### Description

For gRPC services we now have `@GlobalInterceptor`s and interceptors registered for specific servies.
We likely need something similar for clients, so that a user can attach an interceptor to a specific client

CC @cescoffier @mkouba

### Implementation ideas

_No response_

[2021-11-23 16:42] cescoffier commented on #21621
About 1 - well, @mkouba is fast!
About 2 - yes, we could inject the message header as parameter.

[2021-11-23 16:55] DGuhr commented on #21602
Considering that even
[code]
fails, we can at least remove the classloader processing as a potential source for this behaviour.

shoutout to @andreaTP who checked this ;)

[2021-11-23 16:57] geoand commented on #21602
I have identified the Quarkus commit that causes this problem but I still need to figure out why it's problematic in this case.

[2021-11-23 17:02] andreaTP commented on #21602
@geoand can you share the commit?

[2021-11-23 17:03] geoand commented on #21602
https://github.com/quarkusio/quarkus/pull/20907

[2021-11-23 17:10] dhoffer opened #21649 "Possible bug in gRPC client regarding MaxInboundMessageSize"
### Describe the bug

I have found I get the following error in the gRPC client when the server sends a large message.

I have a very large value set for quarkus.grpc.clients.std.max-inbound-message-size property.

However if I in code set withMaxInboundMessageSize on the Grpc stub to a large value everything works as expected.  It seems the property value is being ignored.

[2021-11-23 17:13] geoand commented on #21602
I see why it worked before and does not now, so now all that remains is to come up with a fix :)

[2021-11-23 17:15] Legion2 opened #21650 "Unable to run native tests in non prod mode"
### Describe the bug

If I execute `./gradlew testNative` to run the native tests. Quarkus always builds using the `prod` profile instead of the test profile. Even if `quarkus.profile=test` and `quarkus.test.native-image-profile=test` the native executable is created with the prod profile. At test execution time the `test` profiles then only overrides some of the configuration set by the prod prof

[2021-11-23 17:21] andreaTP commented on #21602
@geoand great! Let us know if we can support any further 🙂

[2021-11-23 17:23] geoand commented on #21602
You folks have been very helpful in shinning light on the issue :).

I'll let you know when I have a fix.

[2021-11-23 17:43] radcortez commented on #20961
Closing in favour of #11744.

[2021-11-23 17:43] #20961 closed

[2021-11-23 17:44] brunobaiano commented on #21311
Hi there,
I don't know if this is the best way... but... why should I be logged and already choosed my project?

Wouldn't it be nice to have properties for that?

Is there some guide of best practices for this deploy? I'm thinking in build a script to encapsulate my logic here.

[2021-11-23 18:06] samekim commented on #20961
sorry. I missed the alarm.
double quoted key is problem.
`auto.offset.reset` is kafka config. but it is double quoted and not recognized by kafka.
`The configuration '"auto.offset.reset"' was supplied but isn't a known config.`

[2021-11-23 18:07] foal commented on #21031
If somebody will face the same issue with `@MethodSource` I found the workaround:

instead of `@MethodSource`
[code]

I use the `@EnumSource`
[code]

[2021-11-23 18:09] barreiro commented on #21335
Hi @mmusgrov. this was just addressed in AG-183.

The issue is that the Reaper thread is not associated with the transaction (`txManager.getTransaction() == null`) and Agroal prevents it from interacting with the connection.

At the same time, there are a couple things that Agroal does well under the circumstances:
-  The 'logical' views of the connection are closed, meaning that the app can't do

[2021-11-23 18:20] rgmz commented on #21621
I've created PR #21653 to do 2. It likely needs some polishing, but let me know your thoughts on the general approach.

[2021-11-23 18:41] geoand commented on #21602
https://github.com/quarkusio/quarkus/pull/21655 takes care of it

[2021-11-23 19:20] pedroigor commented on #21602
#21655 Awesome! Do you know about the plans for 2.5.1.Final? It would be nice to get this one and some other changes in 2.5.x before we release KC 16.

[2021-11-23 19:36] gsmet commented on #21602
@pedroigor when do you need it?

We announce 2.5.0.Final tomorrow. We usually release .1.Final one week after but let me know if it works for you and if not, we can probably come up with something that works for you.

[2021-11-23 19:49] pedroigor commented on #21602
Thanks, @gsmet . @stianst What do you think?

[2021-11-23 20:05] #21639 closed

[2021-11-23 21:16] einarjohnson commented on #21589
Hi @geoand. I am mainly looking for the capability to use the Quarkus framework and all the benefits it provides (dependency injection, Hibernate/Panache, and possibly Native binaries?).

[2021-11-23 21:36] stuartwdouglas commented on #14647
Are you using an extension that is attempting to start a dev service (https://quarkus.io/guides/dev-services)? If so docker might just be really slowly trying to start a container. There should be some log output though.

quarkus.devservices.enabled=false should disable this.

[2021-11-23 21:53] gsmet commented on #21612
@jeffmaury should this be moved to a more appropriate tracker?

[2021-11-23 21:54] gsmet commented on #21574
This is on our radar but we do not have a concrete plan for it yet.

[2021-11-23 21:56] gsmet commented on #21558
@stuartwdouglas do you happen to know who is responsible for this part?

[2021-11-23 22:04] #21621 closed

[2021-11-23 22:26] snowe2010 commented on #21282
turns out you can do so with
[code]

[2021-11-24 00:05] radcortez commented on #21535
Sounds good. Ideally we should align as much as possible with the OTel SDK and libraries.

[2021-11-24 00:15] #21602 closed

[2021-11-24 00:53] stuartwdouglas commented on #21558
@jimma This is caused by https://github.com/resteasy/resteasy/commit/c364a3e3bfc725131d59311d35fef92362b8fd83#diff-3dd8163eff5a9534a4c0f7f98982ed905b4b5591766889e44749b4d524e19551

Basically now instead of reconnecting it will just kinda hang.

[2021-11-24 00:54] stuartwdouglas commented on #21558
Looks like there is a follow up commit here: https://github.com/resteasy/resteasy/commit/85c23adf513fee62862bc6e4000ff0168bc4c69b#diff-3dd8163eff5a9534a4c0f7f98982ed905b4b5591766889e44749b4d524e19551

This does not take the `alwaysReconnect` param value into account, it seems like it should either reconnect or close based on this value?

[2021-11-24 01:54] jimma commented on #21558
@stuartwdouglas  It looks SseEventSource handles based on this value to either reconnect or close the SseEventSource.  To disable reconnect, it needs set this value through SourceBuilder :
[code]
@johan-hanson Can you please try to set this flag to `SourceBuilder` ?

[2021-11-24 02:25] stuartwdouglas commented on #21558
@jimma reconnect is expected, the issue is that it no longer works after this commit, as the reconnect code was removed. Now the connection simply hangs, reporting that it is still open but no longer receiving events.

[2021-11-24 05:17] stuartwdouglas commented on #21552
I also had a look and I see a ~100ms regression, although it is really not clear what is causing it.

What is also odd is that I see 2.5 producing a lot less bytecode in the final jar, even though the startup time is slower.

[2021-11-24 05:44] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1497912264

[2021-11-24 06:23] jmartisk commented on #6285
this is done

[2021-11-24 06:23] #6285 closed

[2021-11-24 06:26] jmartisk commented on #8702
This has been fixed for a long time, closing

[2021-11-24 06:26] #8702 closed

[2021-11-24 06:52] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1497911917

[2021-11-24 07:19] digitalsamba commented on #21108
Disclaimer: do NOT publish & consume in same connection like in the above examples - it was for a test. Just open separate connections.

[2021-11-24 07:28] mkouba commented on #21311
There are properties to log in automatically. We've update the guide: https://quarkus.io/version/main/guides/deploying-to-openshift#log-into-the-openshift-cluster

[2021-11-24 07:31] Postremus opened #21663 "Add support for more java.time as queryparams in resteasy-reactive"
### Description

#15451 added support for java.time.LocalDate as a query param.

I need support for other java.time.* types, e.g.:
* LocalTime
* LocalDateTime

Ideally, Resteasy Reactive would support every java.time type out of the box.

### Implementation ideas

_No response_

[2021-11-24 07:39] Postremus opened #21664 "Resteasy Reactive - Using BeanParam with custom paramconverter throws NPE"
### Describe the bug

I get a nullpointerexception, when I try to use a LocalDateTime as a QueryParam on a class used as BeanParam in resteasy-reactive.
LocalDateTime gets converted using my own ParamConverter + ParamConverterProvider.
The same paramconverts work fine on resteasy-classic.

When I use LocalDateTime QueryParam of the resource (without the beanparam indirection), the app starts fine.

[2021-11-24 07:40] jeffmaury commented on #21612
See also https://issues.redhat.com/browse/JBIDE-28193

[2021-11-24 07:50] geoand commented on #21589
Makes sense. Can you give an example of what you would hope to see?

[2021-11-24 07:54] E14 commented on #21568
Sorry for the trouble here, I'm OK with closing too (if that makes any difference)

I still think this is more in the area of unspecified behaviour. but I really like and appreciate what you're doing with the whole Quarkus ecosystem in general

[2021-11-24 08:05] einarjohnson commented on #21589
@geoand , don't really have any concrete examples here. My usecase would pretty much always involve consumption from a Kafka topic. And then either
1) Some stateful stream processing that would interact with a MySQL database
2) Or sink the stream into a downstream system like ElasticSearch or MySQL

[2021-11-24 08:15] #21519 closed

[2021-11-24 08:19] sjaakd commented on #21597
I guess this needs to go to the swagger-ui git project?

[2021-11-24 08:20] phillip-kruger commented on #21597
Yes could be. I have not had a chance to look at this

[2021-11-24 08:21] mkouba commented on #21568
+1 ;-)

I believe that the behavior is well-defined by the spec. That's my interpretation and I've spent many years working on the CDI spec, TCK and implementations (which of course does not mean I cannot be wrong ;-).

Thanks!

[2021-11-24 08:21] gsmet commented on #21612
Closing this one as issues have been created in the appropriate projects.

Thanks @jeffmaury !

[2021-11-24 08:21] #21612 closed

[2021-11-24 08:28] ozangunalp commented on #21306
@davideginna if you can provide a reproducer we can test it ourselves.

[2021-11-24 09:14] davideginna commented on #21306
Hi, you can find a project of test at this link
[https://github.com/davideginna/quarkus-multi](https://github.com/davideginna/quarkus-multi)
run with ```mvn quarkus:test```
in ResourceProducer.java you can set number of partitions.
I try with 1, 2 or 3 partitions.

@ozangunalp @cescoffier

[2021-11-24 09:19] Koekebakkert commented on #19080
Unfortunately, it still does not work with 2.5.0.Final.

I have tried it on both openSUSE Tumbleweed and LEAP where 2.1.0.Final works great.

What can I do to help troubleshoot the issue?

[2021-11-24 09:26] geoand commented on #19080
What does your code look like? What containers are launched when you start the test?

[2021-11-24 09:45] mmusgrov commented on #21335
@HelvetiaAppDev can you retest on the version that Luis suggests (AG-183). I don't know if there's a quarkus release with that in yet in which case you will either have to wait or you can update the agroal extension to use a snapshot version that contains  AG-183.

[2021-11-24 09:56] ozangunalp commented on #21306
@davideginna Thanks for the reproducer.
Your tests are running on quarkus version 2.2.1.Final which had an issue with the `@Blocking` handling.
Starting from `2.4.0.Final` you shouldn't have the issue anymore.
BTW here are couple more issues I noticed:

- In `ResourceConsumer.java` the incoming method should subscribe to the channel `event`, the incoming channel you configured, instead of `sender`

[2021-11-24 10:42] stianst commented on #21602
@gsmet It's not all that urgent for us, so you don't need to go out of your way other than including this in 2.5.1 (which looks like you already are going to).

[2021-11-24 11:01] mmusgrov commented on #21335
We agree and are switching from Transactional Driver to Agroal for standalone narayana (https://issues.redhat.com/browse/JBTM-3439), we've already started on the task.

[2021-11-24 11:11] davideginna commented on #21306
thanks, now I try and update you

[2021-11-24 11:39] jonsalvas commented on #18685
I can confirm I am also facing this issue in a kubernetes environment with HPA scaling pods up/down based on load

[2021-11-24 11:44] jimma commented on #21558
@stuartwdouglas  @johan-hanson  Get it.  I need to fix this with adding reconnect or close here:
https://github.com/resteasy/resteasy/pull/2770/files#diff-3dd8163eff5a9534a4c0f7f98982ed905b4b5591766889e44749b4d524e19551R381.
The Resteasy issue is created : https://issues.redhat.com/browse/RESTEASY-3051
I already fixed this locally and will merge to upstream soon.

[2021-11-24 11:52] gsmet commented on #21602
@stianst OK thanks. I confirm it's going to be included in 2.5.1.Final.

[2021-11-24 12:08] Sanne opened #21669 "Upgrade to MySQL JDBC driver 8.0.27"
### Description

Upgrade to MySQL JDBC driver 8.0.27

Changelog:
 - https://dev.mysql.com/doc/relnotes/connector-j/8.0/en/news-8-0-27.html

### Implementation ideas

_No response_

[2021-11-24 12:19] barreiro commented on #9123
Acquiring with a transaction ensures that it will eventually complete and the connection is released.

Getting back to the issue, it's hard to tell what is the cause for pool exhaustion without a reproducer. There are many reports of Agroal working fine with the same or similar settings. Disable pooling is indeed an horrible workaround in terms of performance.

[2021-11-24 12:43] michael-schnell commented on #21574
Would be great if the JEE/Quarkus community is not slower with this important topic than the competitor Spring Boot ;-)

[2021-11-24 12:55] dasniko commented on #21576
Still occurs with Quarkus version 2.5

[2021-11-24 13:09] MikeEdgar commented on #21597
@sjaakd - what is the output in the OpenAPI JSON/YAML? Unquoted `1.0` ?

[2021-11-24 13:20] funcbro commented on #21641
This seems appropriate and should work for our case 👍

[2021-11-24 13:26] fedinskiy opened #21671 "Row with generated ID is not being created in DB2 in some configurations"
### Describe the bug

When we use Hibernate Reactive entity with an id field annotated with @GenericGenerator together with DB2 database, then row with this id is not being created on some hardware+OS configurations, but is created on others. The same scenario always works successfully with Postgres, MS SQL, MySQL and MariaDB.

Known working configurations:
Fedora 34 with GraalVM 17
Fedora 34 with

[2021-11-24 13:29] brunobaiano commented on #21311
This is great news mkouba! thanks for the update!

But now... imagine I have 2 projects... I still need to be on the right project right?

Is there some magic to set my project too? =D

[2021-11-24 13:41] pipinet opened #21672 "MessageBundle(qute/jboss logging) not work with gradle multi module"
### Describe the bug

Can not start service with gradle multi module

### Expected behavior

MessageBundle work well

### Actual behavior

1、when use io.quarkus.qute.i18n.MessageBundle not work
2、when use org.jboss.logging.annotations.MessageBundle not work

### How to Reproduce?

demo project in
https://github.com/qwlabs/quarkus-graphql/tree/jboss-logging
and
https://github.com/qwlabs/quarkus-gra

[2021-11-24 13:42] pipinet commented on #19617
https://github.com/quarkusio/quarkus/issues/21672

[2021-11-24 13:47] galderz commented on #21516
I had a quick look to this. I think the issue is caused by this change in GraalVM 21.3: https://github.com/oracle/graal/commit/2cc6bc5#diff-f10eb003536457468f6d38a4e567aa18095edbba25b81c5a8f4c69d1fc71f3fcR171

I'm unsure what the exact reason for those changes are, but I think what you can gather from the way the code works is that: if you register a static inner class for reflection, it now trigg

[2021-11-24 13:51] Ladicek opened #21674 "interceptor bound to a non-RestClient method on a RestClient interface is not called with RestClient Reactive"
### Describe the bug

Say I use RestClient Reactive and have this RestClient interface:

[code]

(Why don't I put the `@CircuitBreaker` directly on the `hello` method? As you may imagine from one returning `Uni` and the other returning `CompletionStage`, this is an attempt to workaround a Fault Tolerance problem. Even if it wasn't, this code is perfectly legal and should work just fine, in my opin

[2021-11-24 13:51] Ladicek commented on #21674
CC @michalszynkiewicz

[2021-11-24 13:53] Ladicek commented on #21674
I'd say this is pretty straightforward to fix -- instead of copying only RestClient methods, we could simply copy all of them. I'd like to understand if there are any downsides to that, though.

[2021-11-24 13:55] Ladicek commented on #21674
Actually looking at how the copied methods are implemented, I'd constrain "all of them" to "all `default` methods". Those are straightforward to implement -- just delegate back to the interface method.

[2021-11-24 14:11] Ladicek commented on #21674
@mkouba reminds me that interception of `default` methods is unspecified. I still think it should work :-)

[2021-11-24 14:14] #20821 closed

[2021-11-24 14:14] #21616 closed

[2021-11-24 14:15] geoand commented on #21663
Thanks for reporting.

https://github.com/quarkusio/quarkus/pull/21675 should take of it.

[2021-11-24 14:28] geoand commented on #21664
@Sgitario wanna take a look at this one?

[2021-11-24 14:34] pipinet commented on #21672
@dmlloyd qute error message in here https://github.com/qwlabs/quarkus-graphql/blob/qute/README.md

[2021-11-24 14:54] mkouba commented on #21672
@pipinet it seems that the `shared` module is not a bean archive as described in the [bean discovery documentation](https://quarkus.io/guides/cdi-reference#bean_discovery). You can try to place an empty `beans.xml` file in the `META-INF` of your shared module.

[2021-11-24 15:00] geoand commented on #21509
This is not a Quarkus issue as we don't do any OpenAPI schema generation in Quarkus itself.

A did a tiny bit of debugging and it seems like `io.smallrye.openapi.runtime.scanner.spi.AnnotationScanner#processRequestBody` does not handle the Kotlin Coroutine value properly (it should probably just ignore it) - cc @MikeEdgar @phillip-kruger

[2021-11-24 15:54] famod commented on #20392
The EA job was green today: https://github.com/quarkusio/quarkus/issues/15867#issuecomment-977547916 🎉

@glefloch The gradle daemon ran into heap space issues multiple times in the last days (while running `integration-tests/gradle`).
What's the best was to increase memory and do you know what the default setting is? I don't think there is much memory left to assign, so we need to be careful.

[2021-11-24 16:04] dhoffer commented on #21649
Please delete this issue.  It turns out in my case I didn't have the client configured correctly for Quarkus to read the properties.  Since the online Quarkus docs for gRPC were too brief I had to use other sources as well and they didn't do it the Quarkus way so that part did not work.

[2021-11-24 16:04] #21649 closed

[2021-11-24 16:10] Koekebakkert commented on #19080
I have created a small project that can be used to hammer out the integration test issue. It will succeed with 2.1.0.Final but will fail with a higher version, including 2.5.0.Final. Where do I put it?

[2021-11-24 16:11] geoand commented on #19080
Just upload it to Github

[2021-11-24 16:16] andrewazores commented on #16326
There is also the [`dockerClient.executable`](https://github.com/GoogleContainerTools/jib/blob/master/jib-gradle-plugin/README.md#dockerclient-closure) config property that Jib supports which I think might be relevant here. If it is not then I think that a separate issue could be opened to add support for this to the `quarkus-container-image-jib` build plugin as `quarkus.jib.dockerClient.executabl

[2021-11-24 16:19] geoand commented on #16326
Best open a new issue for this.

[2021-11-24 16:26] andrewazores opened #21677 "quarkus-container-image-jib should support jib.dockerClient.executable config"
Jib allows configuration of the `dockerClient` that is invoked for loading the built image to local registry. This allows developers to explicitly build to `docker`, `podman`, `buildah`, etc. depending on what is available on their system as well as explicitly selecting one of them if multiple are present. This is analogous to the `quarkus.docker.executable-name` config property that is already su

[2021-11-24 16:33] geoand commented on #21677
Thanks. I'll add this tomorrow

[2021-11-24 16:44] Koekebakkert commented on #19080
Well here it is:  https://github.com/Koekebakkert/quarkus-wiremockserver-integration-test-service

Feel free to ask any question ;)

[2021-11-24 16:45] geoand commented on #19080
Thanks, I'll try and have a look tomorrow

[2021-11-24 16:49] brunobaiano commented on #14253
I'm testing deploy and I was  logged out....
I have this message:
User "system:anonymous" cannot delete services in the namespace "my-namespace": no RBAC policy matched.

I'm using
quarkus.kubernetes-client.master-url=${OKD_HOST}
quarkus.kubernetes-client.username=${OKD_USERNAME}
quarkus.kubernetes-client.password=${OKD_PASSWORD}

He builds on the server but show this message. Because image change

[2021-11-24 16:50] geoand commented on #19080
It seems from the project you uploaded that you have not updated the code according to https://github.com/quarkusio/quarkus/issues/19080#issuecomment-964269107

[2021-11-24 17:00] pipinet commented on #21672
@mkouba tks, got it! fixed.
what about  jboss logging ? https://github.com/qwlabs/quarkus-graphql/blob/jboss-logging/README.md

[2021-11-24 17:08] geoand commented on #19080
Actually there is no good way to support that use case if we want to support the more common case where a supporting container is launched. You'll probably have to switch from Wiremock to https://www.testcontainers.org/modules/mockserver/

[2021-11-24 17:42] brianwyka opened #21678 "Support Disabling Custom ConfigSource / Factory During Build Time"
### Description

Support the ability to disable MicroProfile `ConfigSource` or SmallRye `ConfigSourceFactory` loading during build time.

The [docs](https://quarkus.io/guides/config-extending-support) say that the `ConfigSource` is not added in this phase unless annotated with `@StaticInitSafe`.  This is a good start, but only works for static init.  Would like a similar feature for build time.

#

[2021-11-24 18:04] phillip-kruger commented on #21678
/cc @radcortez

[2021-11-24 18:23] brianwyka commented on #21678
I attempted a workaround suggested by @radcortez to have the custom config source as a `runtimeOnly` dependency, but this did not work either.

[2021-11-24 18:23] carmelowise opened #21679 "@RolesAllowed wrap all exception with RuntimeException of asynchronous rest client when CompletionStage is not created"
### Describe the bug

This is my method on my rest interface

[code]

this is the custom Exception:

[code]

this is the exception mapper

[code]

the toResponse method does not trigger because the exception is Wrapped in a RuntimeException by io.quarkus.security.runtime.interceptor.SecurityHandler.java.

This is the snipped of the code in SecurityHandler.java that wrap the exception:
line 36 to 4

[2021-11-24 18:35] MarkusKramer opened #21680 "quarkusGenerateCode task fails with wrong number of arguments"
### Describe the bug

After upgrading from Quarkus 2.1.2.Final to 2.5.0.Final a "./gradlew --info --stacktrace clean build" fails with

[code]

Upgrading gradle from version 6.8.3 to 7.3 results in the same error.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux xxx 5.11.0-40-generic #44-Ubuntu

[2021-11-24 19:22] #21669 closed

[2021-11-24 19:50] liteultom opened #21682 "quarkus.hibernate-orm.packages not working"
### Describe the bug

When I set `quarkus.hibernate-orm.packages` in my config file :
[code]
Table for entities from other package are still created in the DB at startup

### Expected behavior

Entities that are declared in packages that are not in the specified package should not be created in DB.

### Actual behavior

All entities from the project are created in DB

### How to Reproduce?

1. set

[2021-11-24 20:33] MikeEdgar commented on #21509
@geoand, it only should attempt to derive a request body if the endpoint specifies a `@Consumes`. My only thought is that Quarkus is adding that dynamically at build time. Is that what it does?

[2021-11-24 21:08] #19504 closed

[2021-11-24 21:08] MikeEdgar commented on #21509
I opened a PR to skip the Kotlin params generally for method body. They should never be interpreted for that purpose regardless of `@Consumes` being present.

[2021-11-24 21:41] klutzer commented on #21346
I think the problem isn't solved yet @patriot1burke @gsmet @geoand . Tested now with 2.5.0 and stil happens.

To simulate, run the tests and then open dev-ui -> swagger (or anything else, inside dev-ui)

[2021-11-24 23:48] carmelowise commented on #21679
/cc @stuartwdouglas, the bug was introduced by commit: [https://github.com/quarkusio/quarkus/commit/599096275581642aa15b07c29a5ce5070d40e9e4#diff-bb41d7009cfa01e3f179c9c19c44ffb1b69c6267572351e5c0f8b4b1b3d40d4d](url)

[2021-11-25 00:56] san- commented on #16291
It solved this problem. Thanks.

[2021-11-25 02:53] pipinet commented on #21672
@mkouba hi,

in jboos logging case,  i add class path to annotationProcessor fixed class not found error.
[code]

but quarkus gradle plugin not include annotationProcessor output folder  build/generated/sources/annotationProcessor to class path

error message is :
[code]

[2021-11-25 05:50] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1502312561

[2021-11-25 05:53] abmushfiq commented on #21629
i want to contribute to this issue please help me?

[2021-11-25 06:04] Sgitario commented on #21664
Looking

[2021-11-25 06:46] cescoffier commented on #21044
I've opened another PR (#21643) that does not fix the issue but provides a new way to declare the Multi serialization. I have deprecated the other way (still working, but not when security is enabled) and I would recommend switching to this new approach (which also works with security).

[2021-11-25 07:07] sunqb opened #21687 "Error: Image build request failed with exit status 1"
### Describe the bug

i run :

cmd /c 'call "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat" && mvn package -Pnative'

and there is an error:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

win7

### Output of `java -version`

java version "11.

[2021-11-25 07:10] cescoffier commented on #21648
Exactly, I found out that when implementing the metrics support.

[2021-11-25 07:26] geoand commented on #21509
Sounds good!

[2021-11-25 07:35] #21663 closed

[2021-11-25 07:41] #21044 closed

[2021-11-25 07:47] ia3andy commented on #21629
First question is the name?
1. java-version / javaVersion
2. java-target / javaTarget

(I do prefer 1.)

Maven Plugin:
https://github.com/quarkusio/quarkus/blob/main/devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java

CLI CreateApp (need to decide with @ebullient where to add the parameter) :
https://github.com/quarkusio/quarkus/blob/main/devtools/cli/src/main/java/io/quarkus/cli

[2021-11-25 07:58] mkouba commented on #21672
@pipinet By default, `jboss-logging` message bundles cannot be injected via CDI. You can obtain the message bundle via `org.jboss.logging.Messages.getBundle(Class<T>)` instead. Typically, you'll initialize a static field like this:
[code]
And then just use `SecurityMessages.LOG.usernameNotFound()` in your code.

[2021-11-25 08:18] pipinet commented on #21672
@mkouba oh, i forgot it, I used this way in single module project.

[2021-11-25 08:21] mkouba commented on #21672
Ok, I think we can close this issue now ;-)

[2021-11-25 08:21] #21672 closed

[2021-11-25 08:23] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1502312234

[2021-11-25 08:23] pipinet commented on #21672
@mkouba sure！thanks for your help!

[2021-11-25 08:24] glefloch commented on #21680
Thanks for reporting this @MarkusKramer. I usually see this error when I use a different version for the quarkus plugin and quarkus core library. Do you have a reproducer?

[2021-11-25 08:47] apat59 commented on #18685
@jonsalvas out of curiosity, do you know the details about the db setup and possible extra pooling mecanism?

[2021-11-25 09:12] geoand commented on #21677
https://github.com/quarkusio/quarkus/pull/21690 takes care of it

[2021-11-25 09:17] geoand commented on #21687
This sounds like a misconfiguration of GraalVM on your machine. Even if it is a bug, it's not a Quarkus bug, but a GraalVM one, so best open an issue there.

[2021-11-25 09:17] #21687 closed

[2021-11-25 09:23] knutwannheden opened #21691 "Cannot resolve config property referenced in dev-console card template"
### Describe the bug

I have an extension contributing a card to the dev-console. The card's `embedded.html` contains a hyperlink to an endpoint contributed by the extension like so:
[code]

I would have to downgrade and test again, but I am fairly certain that this used to work properly prior to Quarkus 2.5.0.

Now with Quarkus 2.5.0 the config property `quarkus.http.root-path` can no longer be r

[2021-11-25 09:41] #21664 closed

[2021-11-25 09:42] knutwannheden commented on #21535
We will look into submitting a PR with our Quarkus extension and adapting the documentation.

[2021-11-25 09:45] geoand commented on #21297
Closing this as it seems to be covered by https://github.com/quarkusio/quarkus/pull/21416

[2021-11-25 09:45] #21297 closed

[2021-11-25 09:46] geoand commented on #21311
Same question for @manusa

[2021-11-25 09:49] mkouba commented on #21311
That's a good question for someone who knows more about the openshift extension ;-)

[2021-11-25 09:51] geoand commented on #21311
`quarkus.openshift.namespace=myproject`

[2021-11-25 09:54] mkouba commented on #21311
Hm, a nitpicking detail - we don't mention this in the Configuration Reference. Let me send a PR.

[2021-11-25 09:54] geoand commented on #21277
How do you start the Keycloak docker container?

[2021-11-25 09:57] geoand commented on #21263
Closing this as a duplicate in favor of https://github.com/quarkusio/quarkus/issues/17058 which has a longer  discussion

[2021-11-25 09:57] #21263 closed

[2021-11-25 09:59] geoand commented on #13574
Is  this still an issue?

[2021-11-25 10:00] geoand commented on #21247
What was the outcome of the discussion?

[2021-11-25 10:01] geoand commented on #21234
@Sgitario would you like to start exploring the reactive rest client code by tackling this issue?

[2021-11-25 10:01] glefloch commented on #21608
Would it be a command like `quarkus go-offline` ?

[2021-11-25 10:03] geoand commented on #21110
cc @gsmet

[2021-11-25 10:07] manusa commented on #21311
We actually do something similar in JKube when performing an [S2I build](https://github.com/eclipse/jkube/blob/a4f9cf43b5eb9267bc3f225fed6543d074ce4821/jkube-kit/config/service/src/main/java/org/eclipse/jkube/kit/config/service/openshift/OpenshiftBuildService.java#L238)

[code]

[2021-11-25 10:09] Sgitario commented on #21234
Looking

[2021-11-25 10:16] mkouba commented on #21311
@geoand Hm, `quarkus.openshift.namespace=myproject` does not seem to work. I have `quarkus.openshift.namespace=mkouba-stage` in my config but I can see the following log in the console:
[code]

[2021-11-25 10:17] MarkusKramer commented on #21680
Thanks for the quick response. You're right, the quarkus plugin was still at the old version. I though I had updated it to the latest but must have made a mistake there. Sorry for the noice. All fine now.

[2021-11-25 10:17] #21680 closed

[2021-11-25 10:17] #8140 closed

[2021-11-25 10:19] geoand commented on #20952
You should not be performing operations like this in a `@PostConstruct` method.

For

you don't need to restart your machine. You can identity the process using `jps` and then kill it forcibly using `kill -9 pid`

[2021-11-25 10:19] #20952 closed

[2021-11-25 10:23] geoand commented on #21311
It looks like the check we perform before printing that message is far to simplistic... WDYT @iocanel since you are the one that added this check?

[2021-11-25 10:38] #21677 closed

[2021-11-25 10:38] radcortez commented on #21535
Thanks :)

[2021-11-25 10:55] radcortez commented on #19438
Fixed in #20932

[2021-11-25 10:55] #19438 closed

[2021-11-25 10:59] radcortez commented on #20985
Moved to https://github.com/smallrye/smallrye-config/issues/666.

[2021-11-25 10:59] #20985 closed

[2021-11-25 11:01] radcortez commented on #19091
Moved to https://github.com/smallrye/smallrye-config/issues/667

[2021-11-25 11:01] #19091 closed

[2021-11-25 11:21] knutwannheden commented on #20800
Now that #19438 has been fixed, I will take another look at this,

[2021-11-25 11:57] survivant commented on #21277
I think, it's not related to keycloak in docker.  I'm sure that the problem will be there if I start a quarkus application on 8080 and start a second application on 8080 ?

before in my usecase the port was used by docker and I started quarkus on 8080 and I didn't received a error telling me that the port was already bind.

[2021-11-25 12:13] famod commented on #21247
There was no final conclusion. It seems a broader discussion is needed as to whether `RequireUpperBounds` is feasible for the Quarkus build.

For now, there is no guarantee that `RequireUpperBounds` passes in a user project; it depends on the specific dependency mix of a Quarkus release (e.g. for 2.4.1 there is at least one violation). You'll probably have to add exclusions.

Also, people need to

[2021-11-25 12:41] gastaldi opened #21694 "Hibernate Validator warnings are displayed when optional ResourceBundles are missing"
### Describe the bug

When an app depending on the Hibernate Validator extension is package using the native build, the following messages are printed to the output:

[code]

Although that does no harm to the build, it may lead to confusion giving that those bundles are optional.

### Expected behavior

Do not print any message if the bundle does not exist in the user's application

### Actual beh

[2021-11-25 12:57] sjaakd commented on #21457
That would solve my issue. But I can imagine this is not according the CORS specs. @sberyozkin to be the judge on that one.

[2021-11-25 13:05] maxandersen opened #21696 "add validation of extension metadata values"
to avoid mishaps like https://github.com/quarkusio/quarkus-platform/pull/384 we should find a place or possibly multiple places to validate metadata values tooling relies on.

i.e. redhat-supported only has certain set of expected values. same for status.

[2021-11-25 13:06] sjaakd commented on #21597
[code]

[2021-11-25 13:22] ia3andy opened #21697 "Find a generic uniform way to filter extensions across platforms based on metadata"
### Description

Currently, in the extensions metadata, we have random data used by different tools for different purposes, it would not be relevant/performant to make it all available for searching.

We should only limit this to the metadata fields which are relevant to be searched from in a `key:value` way:
`status:stable,experimental`, `xxx-support:supported`, `origin:platform`, `origin:other`,

[2021-11-25 13:23] bennetelli commented on #9360
I am having the same issue. With Quarkus 2.3.1, 2.4.0 and 2.5.0.

My case is:
I am calling an url (http) locally, then the endpoint uses a RestClient (with RegisterRestClient annotation) to call another url.

And the issue happens when I try to trigger the url with http instead of https.
Maybe this is helpful for someone here,

[2021-11-25 13:29] maxandersen commented on #21697
when you say "devtools" what do you mean here ? cli and plugins already get the full platform data so they at least not for performance reasons needs to hardcode list of fields ?

[2021-11-25 13:30] zakkak opened #21698 "Quarkus throws warnings about quarkus.rest-client configuration after #21530"
### Describe the bug

https://github.com/quarkusio/quarkus/pull/21530 introduced warnings when using quarkus-rest-client (both in JVM and native mode).

### Expected behavior

Quarkus shouldn't through warnings (like it did before https://github.com/quarkusio/quarkus/pull/21530)

### Actual behavior

Quarkus throws warnings like the following both in JVM and native mode:

[code]

### How to Reprod

[2021-11-25 13:32] ia3andy commented on #21697
@maxandersen

I mean the devtools-common java module, when I talk about perf, I am not talking about network here, but search performance. It's true that in the CLI it's less relevant as you don't get instant results while typing, but still searching across a large set of data can be resource demanding...

[2021-11-25 13:34] Shpota opened #21699 "google-cloud-graalvm-support dependency is not reolved from BOM after updating from 2.4.1 to 2.5.0"
While updating Quarkus from 2.4.1 to 2.5.0, the `com.google.cloud:google-cloud-graalvm-support` dependency is not resolved from BOM anymore.

[code]

Build tool: Gradle 6.8.1

[2021-11-25 13:44] mkouba commented on #21311
It's not only the log message - the app is not deployed under the specified project...

[2021-11-25 13:52] fedinskiy opened #21700 "Broken encoding in response body if application is running on OpenShift"
### Describe the bug

Given:
1. Application uses quarkus-resteasy-reactive-jackson
2. The application is run on OpenShift
3. Application responds to HTTP request with response, which has HTTP status 200 and word "Slovník" in the body(the 6th letter is U+00ED, "LATIN SMALL LETTER I WITH ACUTE")

### Expected behavior

The client should receive http response with "Slovník" in the body.

### Actual b

[2021-11-25 13:53] brunobaiano commented on #21311
yes.... I think it's some protection from openshift.
On console... if you try to import a yaml with a diferent project... it´s rejected.

I think
quarkus.openshift.namespace=myproject
should do an "oc project myproject" too.

[2021-11-25 14:08] loicmathieu commented on #21699
Can you check that it's not a transient issue ?
It seems Gradle is not able to download this library: https://search.maven.org/artifact/com.google.cloud/google-cloud-graalvm-support

If it's not a transient issue, can you provide a reproducer ?

[2021-11-25 14:09] geoand commented on #21700
Do you have a cluster I could access to reproduce this?
Furthermore, what are the exact steps to reproduce it?

[2021-11-25 14:20] acanthite opened #21701 "@Unremovable does not work with custom parameterized qualifiers"
### Describe the bug

I have a common interface for a bunch of services with custom parametrized qualifier, which I want to lookup in runtime. But @Unremovable does not work when I annotate implementations with the custom qualifier. The `Instance<MyService>` simply has no resolved beans inside (the `resolvedBeans` is empty in debugger).
It behaves as if the beans were not annotated with @Unremovab

[2021-11-25 14:20] radcortez commented on #18750
I can confirm that I was able to reproduce the issue with `2.1.0.Final`.

With the latest version (`2.5.0.Final`), this is not happening anymore. Not sure when it was fixed, but it is :)

[2021-11-25 14:20] #18750 closed

[2021-11-25 14:20] Shpota commented on #21699
@loicmathieu it is not a transitive issue.

Reproducer:
1. Generate a Gradle project using [code.quarkus.io](https://code.quarkus.io)
2. Add `implementation 'com.google.cloud:google-cloud-graalvm-support'` into the `buuld.gradle` file.
3. Build the project using `./gradlew build`

AR:
[code]

[2021-11-25 14:44] andrerigon opened #21703 "Smallrye ConfigSourceFactory not loading class"
### Describe the bug

When using a `ConfigSourceFactory` the class is not loaded and the build (both maven and gradle) fails with:

[code]

Goals tested: `quarkus:dev`, `compile`, `package`.
The class referenced in the `src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceFactory` file is being loaded before its compilation.
Works when using Quarkus 1.13.4.

### Expected behavior

T

[2021-11-25 14:50] fedinskiy commented on #21700
@geoand the issue was found in this Jenkins run[1], so the answers would be:
1) OCP at https://api.ocp49.dynamic.quarkus:6443 is the best thing I can offer.
2) to run the Jenkins job again. Or, precisely, to run test OpenShiftPostgresql10IT#testI18N from io.quarkus.ts.qe:hibernate-reactive module, while being connected to an OCP cluster.

[1] https://main-jenkins-csb-quarkusqe.apps.ocp-c1.prod.psi

[2021-11-25 14:54] mkouba commented on #21691
@knutwannheden Hm, I've just tried to modify the `embedded.html` in the qute extension and it renders correctly the value `/` which is the default value for `quarkus.http.root-path`.

[2021-11-25 14:56] radcortez commented on #20961
Yes, because when you inline the configuration key in yaml, we treat it as a full string. See https://github.com/quarkusio/quarkus/issues/11744.

[2021-11-25 14:57] gastaldi commented on #21703
Seems to be an issue in the generate code mojo (egg/chicken problem?).
Adding `-Dquarkus.generate-code.skip`  to the `./mvnw compile`  avoids the need to comment the class in `src/main/resources/META-INF/services/io.smallrye.config.ConfigSourceFactory`

[2021-11-25 15:11] andrerigon commented on #21703
Yes, but then the code doesn't compile - we use quarkus-avro.

[2021-11-25 15:19] loicmathieu commented on #21699
OK, so you manually add this dependency without the version and previously the Quarkus BOM contains the version and now it didn't anymore.

I'm not sure which BOM is included by default but I think at some moment code.quarkus.io switch from the Platform BOM to the Quarkus core BOM.
For the com.google.cloud:google-cloud-graalvm-support to use a managed version from the Quarkus BOM you should switch

[2021-11-25 15:24] OleKsimov opened #21704 "Strange config props inheritance behavior in multimodule projects"
### Describe the bug

// GIVEN

Module B inherits Module A as a dependency in multimodule project:
`implementation(project(":module-A"))`

Module A has the next props in application.yaml:

[code]

Module B has the next props in application.yaml:

[code]

// PROBLEM

If I run Module B in dev or prod mode log level is DEBUG.
I expect it to be INFO because I configured the default log level in curren

[2021-11-25 15:38] yrodiere commented on #21682
I'm a bit perplexed, because this actually seems to be on purpose:

https://github.com/quarkusio/quarkus/blob/afac28f5608efa8ca8cc87027126bedc18167db9/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java#L1217-L1223

We actually ignore the `packages` configuration property, unless you define other, named persistence units.

@gsmet , you s

[2021-11-25 15:39] gastaldi commented on #21703
Sure, not saying it's the solution, just something I observed while running the steps to reproduce it 😉

[2021-11-25 15:46] mkouba commented on #21701
@acanthite The injection point is not correct - it should declare the qualifier otherwise the `@Default` is used and none of your `MyService` impls has the `@Default` qualifier. For example, if you do `@Inject @MyQualifier("s1")  Instance<MyService> services` then `MyService1` will be injected. Note that `MyQualifier#value` is binding which means that it's considered during type-safe resolution.

[2021-11-25 15:55] knutwannheden commented on #21691
Hmm... I have to test this again. Possibly I ran my test in an multi-module Maven project where the Quarkus extension was part of the same Maven reactor build as the test project. Could that be a problem?

[2021-11-25 15:56] sandronm opened #21706 "Startup fails if OIDC provider is not available"
### Describe the bug

I'm using the quarkus-oidc extension (multi-tenants) to securize my rest endpoints.
I defined the default oidc server as follow:

[code]

### Expected behavior

I should be able to run my docker container even if https://www.myoidcserver.com is not reachable.
Just like mentionned here: https://github.com/quarkusio/quarkus/issues/16725

### Actual behavior

I got the following

[2021-11-25 15:59] mkouba commented on #21691
I have no idea :-). Anyway, let me know if it turns out to be a multi-module bug.

[2021-11-25 16:08] TomasHofman commented on #21698
OK, that would be likely caused by me removing the client configuration map from the `RestClientsConfig` ConfigRoot class, so part of the schema is now loaded via ConfigRoot and part is loaded directly from `Config`.

I could remove the ConfigRoot altogether and read everything from `Config`. That would probably make it stop complaining, but there will be no automatic docs generation then.

Or I c

[2021-11-25 16:17] acanthite commented on #21701
Yep, adding `@Any` to the injection point did the job. Thank you very much!

[2021-11-25 16:17] #21701 closed

[2021-11-25 16:23] geoand commented on #21196
This is a similar request to https://github.com/quarkusio/quarkus/issues/20037

[2021-11-25 16:24] gsmet commented on #21682
@yrodiere yeah, I agree we should change it. I don't know what I was thinking.

[2021-11-25 16:33] sberyozkin commented on #21706
@sandronm Thanks, it definitely works (and is tested) with the discovery enabled but indeed there could be some issues if it is disabled

[2021-11-25 16:33] agoncal opened #21708 "quarkus.rest-config instead of quarkus.rest-client"
### Describe the bug

When using REST Client, when you forget to configure the uri of an external microservice, Quarkus displays an error message as follow:

[code]

There is no such `quarkus.rest-config` property, but instead, `quarkus.rest-client`

### Expected behavior

The message should display the right properties

[code]

### Actual behavior

_No response_

### How to Reproduce?

_No respon

[2021-11-25 16:36] sandronm commented on #21706
I didn't tried with the discovery enabled I have to admit @sberyozkin :-)
But unfortunately for my usecase I cannot rely on this feature.

[2021-11-25 16:37] sberyozkin commented on #21706
Np, we'll have a look

[2021-11-25 16:40] geoand commented on #21700
BTW, +100 for `Thinking fast and slow` :)

[2021-11-25 16:45] radcortez commented on #21703
Caused by https://github.com/quarkusio/quarkus/pull/20819 and https://github.com/quarkusio/quarkus/blob/d06fa2428123688c1fd0af7c26e46fbdaf3e3089/core/deployment/src/main/java/io/quarkus/deployment/CodeGenerator.java#L95-L98

@michalszynkiewicz can we disable discover sources for this Config instance? I believe no one is expecting to have their sources contributing config here.

[2021-11-25 16:46] radcortez commented on #21703
Or if it is really required, any configuration component that requires compilation needs to be into a separate module.

[2021-11-25 16:47] radcortez commented on #21698
Yes, just add the map to the ConfigRoot and we ignore it :)

[2021-11-25 16:49] geoand commented on #21700
I test a sample RESTEasy Reactive application on Openshift 4.9 that simply does the following:

[code]

and the response contains the proper characters.

So in short, I can't reproduce this.

[2021-11-25 17:07] Shpota commented on #21699
Thanks @loicmathieu. For me it doesn't really mater where the dependency comes from. I only want GraalVM APIs to work. What would be best way to achieve this?

I thought, if Quarkus manages the version of `google-cloud-graalvm-support` in its BOM, it means it is fully compatible with the Quarkus version I use. Is it a wrong assumption?

[2021-11-25 18:32] DavideD commented on #21671
Mmmh... when I run the test on my machine I can see the error but it happens because the insert query is not executed.
I'm still trying to figure out what's happening

[2021-11-25 19:03] maxandersen commented on #21608
Not sure if it makes sense to have in quarkus cli.

Is it a commonly enough command to expose ?

[2021-11-25 19:03] DavideD commented on #21671
I think the problem is that there is no transaction when doing the creation of the book:
[code]

An example of panache for CRUD operations is [available in the quickstarts](https://github.com/quarkusio/quarkus-quickstarts/blob/5c82ab8071bf06c0f88345dd92f826d8df959fcf/hibernate-reactive-panache-quickstart/src/main/java/org/acme/hibernate/orm/panache/FruitResource.java#L38).

[2021-11-25 19:55] famod commented on #21704
/cc @radcortez

[2021-11-25 20:16] pjgg opened #21712 "Maven Quarkus plugin create an apps pointing to the wrong version"
### Describe the bug

If I create an app pointing to Quarkus 2.2.3.Final as the [documentation](https://quarkus.io/version/2.2/guides/deploying-to-openshift) says

[code]

I expected to have a `pom.xml`  pointing to `2.2.3.Final` however is pointing to `2.5.0.Final`

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname

[2021-11-25 20:50] gastaldi opened #21713 "java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0"
When navigating to http://localhost:8080/q/dev/io.quarkus.quarkus-qute/preview in an empty project with `quarkus-qute` I get:
[code]

_Originally posted by @gastaldi in https://github.com/quarkusio/quarkus/pull/21705#issuecomment-979459473_

[2021-11-25 23:00] ppalaga opened #21718 "NoSuchFileException: .../target/classes when executing a codegen task"
### Describe the bug

I have seen this happening only with a warmed up daemon in Camel Quarkus. Here is a stack trace:

[code]

A fix follows

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No

[2021-11-25 23:24] aalmiray commented on #21247
As per the official Maven docs https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html, exclusions should be the last resort. It'd be better to use a `<dependencyManagement>` section.

If for some reason Quarkus itself can't provide this section then generated projects via code.quarkus.io could. At the very least this discrepancy and mitigation alternat

[2021-11-25 23:54] famod commented on #21247
I meant exclusions specifically for the `RequireUpperBounds` rule: https://maven.apache.org/enforcer/enforcer-rules/requireUpperBoundDeps.html

Quarkus ships a big BOM (which you too should have in your project's pom.xml) that consists of a `dependencyManagement` section (which is what BOMs do).
It contains many exclusions and Quarkus being such a vast platform, there is simply no way around that

[2021-11-26 04:42] abmushfiq commented on #21629
javaVersion

[2021-11-26 05:38] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1506244444

[2021-11-26 05:45] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1506244444

[2021-11-26 05:46] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1506243313

[2021-11-26 05:53] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1506253167

[2021-11-26 05:56] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1506244696

[2021-11-26 06:45] seb-noirot opened #21722 "Opentelemetry with smallrye"
### Describe the bug

When i try to use opentelemetry with a method that has both Incoming and Outgoing annotation, i pass the tracing metadata like mentioned in the guide but the trace does not contain all spans:

[code]
First thing come from
[code]
In KafkaSink the extraction of TracingMetadata will return empty.
[code]

So i changed the code to :

[code]

But in KafkaSink, it uses the current c

[2021-11-26 07:09] cescoffier commented on #17038
FYI, I'm going to try to start working on this...

[2021-11-26 07:50] #21713 closed

[2021-11-26 08:06] maxandersen commented on #21629
cli already has flags for --java, maybe have version as a optional value for it ? --java=11 ?

That does though cause a bit of mess since you can't then specify java version when using --kotlin as it currently excludes use of --java.  I'm wondering if we shouldn't make target language be implicitly java so you don't need --java to set target language to java?

Then you can do `quarkus create --jav

[2021-11-26 08:34] aomsweet opened #21726 "Graalvm native Compile Error"
### Describe the bug

Graalvm native compile error after upgrading to `2.5.0.Final`, `2.4.1.Final` is ok.

[code]

###

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Ubuntu 20.04 64bit

### Output of `java -version`

17

### GraalVM version (if different from Java)

21.3.0

### Quarkus version or g

[2021-11-26 08:34] aomsweet opened #21727 "Graalvm native Compile Error"
### Describe the bug

Graalvm native compile error after upgrading to `2.5.0.Final`, `2.4.1.Final` is ok.

[code]

[2021-11-26 08:35] geoand commented on #21727
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/21727

[2021-11-26 08:35] #21727 closed

[2021-11-26 08:47] #21234 closed

[2021-11-26 09:00] liweinan commented on #9671
Sorry I missed this issue long before :D

I'll check the `resteasy-reactive` side of this issue.

[2021-11-26 09:05] nlobach commented on #18669
2.4.2.Final - I have the same problem.

[2021-11-26 09:14] iocanel commented on #21311
FWIW, the `quarkus.openshift.namespace` is used to set namespace to the target resources. I am not sure if the deployer takes it into consideration and I am not even sure if it needs to (e.g. I am not sure if we need to do something about it, or if setting the namespace in the resources is enough). Still, the end result should be the same: `the app deployed to the specified namesapce`.

So, from w

[2021-11-26 09:16] mkouba commented on #21311
+1

Let me know if you need to test something :-)

[2021-11-26 09:38] joggeli34 opened #21729 "native image fails to start due to missing libfreetype.so.6 library"
### Describe the bug

Running a quarkus native application (2.5.0.Final) fails with following error at startup:

[code]

With 2.4.2.Final it was working correctly

### Expected behavior

The application should just start.

### Actual behavior

The application can not start.

In the application.properties we have following settings for the native build:

[code]

as build image we use `quay.io/quark

[2021-11-26 09:39] geoand commented on #21729
cc @cescoffier

[2021-11-26 09:41] cescoffier commented on #21729
The runtime image does not provide libfreetype.so.6 by default (to save space). Do you know which part of your app needs it?

[2021-11-26 09:49] nicolas-vivot commented on #9476
+1

Will try to have a look cause i need it. And at some point, the old format is not going to be supported anymore by Mongo Atlas.

[2021-11-26 10:02] joggeli34 commented on #21729
No, I have no idea where it is used. The app is more or less a simple CRUD-Application. It must be somewhere in the dependencies changed from quarkus 2.4.2.Final to 2.5.0.Final.

[2021-11-26 10:13] joggeli34 commented on #21729
Comparing the dependencies, I see that the quarkus-liquibase has now a dependency to quarkus-awt, which was not before.
I assume that awt could use the libfreetype, but it is just a guess.

[code]

[2021-11-26 10:17] #21682 closed

[2021-11-26 10:44] #21708 closed

[2021-11-26 10:47] famod opened #21730 "Qute `@CheckedTemplates` ignore `SELECTED_VARIANT` for HTML escaping"
### Describe the bug

I have xhtml templates for generation of emails and pdf conversion.

To acoid a warning message I have set the proper content-type:
[code]

The render call tooks like this:
[code]
Variant:
[code]
This variant seems to be ignored because I can only see the implicitly created variant with `application/xhtml+xml` being passed to `HtmlEscaper`, not my selected variant.
Since esca

[2021-11-26 11:04] famod opened #21731 "Qute should allow configuring HTML escaping for "custom" content-types/variants"
### Description

Currently hard-coded here for xml and html: https://github.com/quarkusio/quarkus/blob/2.5.0.Final/independent-projects/qute/core/src/main/java/io/quarkus/qute/HtmlEscaper.java#L42

When you have e.g. xhml, you'll probably configure something like:
[code]
but you'd still want escaping for those xhtml templates, which doesn't work, even not with a selected variant (at least for `@Ch

[2021-11-26 11:34] geoand commented on #21726
cc @zakkak @galderz

[2021-11-26 11:38] sberyozkin commented on #13239
@cemnura Thanks, good plan IMHO.

[2021-11-26 11:40] aloubyansky commented on #21718
By daemon you mean `mvnd`?

[2021-11-26 11:46] cescoffier commented on #21729
Yes, that's probably it.
So, the approach would be to extend the runtime image to add the lib. Something like https://github.com/quarkusio/quarkus-quickstarts/blob/development/awt-graphics-rest-quickstart/src/main/docker/Dockerfile.native-distroless.

We should document that.

[2021-11-26 11:51] radcortez commented on #21704
This is caused by the profile configuration `%dev.quarkus.log.level` set in the parent module, which takes priority.

Usually we don't let profile values to take priority over main ones if they are on the same source. It needs to have a higher ordinal than the main property. In this case, we use the classloader order to load the sources (and they load as expected, child first parent last), but tha

[2021-11-26 11:58] geoand commented on #20878
Closing as we never got a response about whether this is still an issue. Feel free to reopen or comment if this is still an issue

[2021-11-26 11:58] #20878 closed

[2021-11-26 11:59] geoand commented on #20001
@michalszynkiewicz is this something you are working on (or planning to work on soon) or is it something @Sgitario could look into?

[2021-11-26 12:03] mkouba commented on #21730
Well, the selected variant has no effect because the `HtmlEscaper` only considers the _variant of the originating template_; in your case it would be `application/xhtml+xml`.

The selected variant is only used to choose the _correct_ template for an injected `Template` or `@CheckedTemplate`. In other words, if you do `@Inject Template foo` the selected variant can e.g. help to choose the `foo.html

[2021-11-26 12:06] zakkak commented on #21726
@aomsweet I guess you are using a locally installed GraalVM and not the `ubi-quarkus-native-image`. Is that right?

If so please install `freetype-devel` (on RHEL/CentOS/Fedora) or `libfreetype6-dev` (on Ubuntu/Debian) on your system.

[2021-11-26 12:08] mkouba commented on #21731
I don't think that we should do this now. It would be much harder to configure, esp. in `.properties`-based configs. For now, I'd prefer a single purpose config property that is easy to understand and easy to set. In fact, if we choose a resonable default (`text/html`, `text/xml`, `application/xml`, `application/xhtml+xml`) you should not need to configure it at all.

[2021-11-26 12:15] aomsweet commented on #21726
@zakkak Hi,
I downloaded the Graalvm SDK from https://github.com/graalvm/graalvm-ce-builds. It used to be this way, what should I do now? Thanks!

[2021-11-26 12:15] aomsweet commented on #21726
It is ok after installing `libfreetype6-dev`. But the compiled file size has increased from 68M to 78M.

[2021-11-26 12:25] zakkak commented on #21726
It looks like in 2.5.0.Final the application started pulling in AWT dependencies while it did not in 2.4.1.Final which seems strange to me especially given that https://github.com/quarkusio/quarkus/pull/20867 should have the opposite effect.

@galderz can you please have a look?

[2021-11-26 12:41] famod commented on #21730
But isn't "html or txt" a perfect example that shows escaping should respect the selected variant? I mean, txt doesn't need escaping, but html does.

[2021-11-26 12:43] dan-dr commented on #8932
Encountered this on `1.13.7 Final`. same with @jrongs , i can circumvent it with getters, but really don't want to... any other solution?

[2021-11-26 12:46] mkouba commented on #21730
Indeed, but for `foo.html` we detect `text/html` -> escaped and for `foo.txt` we detect `text/plain` -> not escaped. It's the content of the template that is important and not the selected variant which is only part of the negotiation which template/content to choose... At least that's my understanding ;-).

[2021-11-26 13:18] michalszynkiewicz commented on #20001
I'd be really happy if @Sgitario could take this one :)

[2021-11-26 13:19] joggeli34 commented on #21726
Probably related to https://github.com/quarkusio/quarkus/issues/21729, where the awt-dependency got included by liquibase which uses jaxb.

[2021-11-26 13:23] overheadhunter commented on #14240
@radcortez I would love to see `junit-flyway-extension` adapter to Quarkus!

As at the time of writing this, `@FlywayTest` doesn't reset the database in nested tests yet, I thought it would be worth pointing out that Quarkus' support for `@Nested` is currently not working properly, too (see #19845). So you might want to keep an eye on this nesting issue as well, as it may affect your extension as

[2021-11-26 13:24] fedinskiy commented on #21671
Thank you, I can confirm, that Panache.withTransaction does solve the problem, but I have a couple of questions:
1. Why does it affect only one method and only for single database?
2. According to the guide[1], this solution can be replaced with @Transactional annotation on createBook method. Is this correct? I am asking, since right now it makes things worse, so either I misinterpret the guide, o

[2021-11-26 13:38] knutwannheden commented on #21691
Yes, you are right: The default value is properly found and returned. However, what doesn't work is that if I modify the default (e.g. using `application.properties`) then this value is not found and returned. As a result my extension's card will end up using the HTTP root `/` rather than e.g. `/foo`.

[2021-11-26 13:51] geoand commented on #21559
I could not reproduce this problem at all.

What version of Quarkus are you using?

[2021-11-26 13:57] gastaldi opened #21735 "Document how to add an extension to the registry"
### Description

Third-party extensions are listed in code.quarkus.io and the CLI/plugins through the registry.quarkus.io application. The [`Writing your Own Extension` guide](https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/writing-extensions.adoc) needs to be updated with steps on how to make an extension listed in the registry.

[2021-11-26 14:06] mkouba commented on #21691
You're right. I can confirm that the default value is used.

So the config namespace resolver is using `ConfigProvider.getConfig().getOptionalValue()` which is probably wrong? I can see that the config editor page is built on top of `List<ConfigDescriptionBuildItem>`. Maybe we should switch to these build items as well? @radcortez @phillip-kruger WDYT?

[2021-11-26 14:29] mederel opened #21739 "azure-functions-http extension: logs not found on LogStream in Azure UI"
### Describe the bug

Quarkus logs aren't sent to the Azure Function log stream, meaning you do not have access to the logs if deployed in Azure.

### Expected behavior

See the logs of Quarkus and the application in LogStream.

### Actual behavior

No logs in LogStream of the Azure FunctionApp in portal.azure.com.

### How to Reproduce?

* Generate an azure functions HTTP project using the sing t

[2021-11-26 14:48] freddieFishCake commented on #21559
Hi, we are using Quarkus 2.3.1

Maven pom.xml:

<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.vaisala.sampo</groupId>
  <artifactId>forecast-service</artifactId>

[2021-11-26 14:53] geoand commented on #21559
Can you try with Quarkus 2.5.0.Final please?

[2021-11-26 14:54] freddieFishCake commented on #21559
Sure, your question prompted me to check the latest version and I just noticed that 2.5 has just been released ;-)

[2021-11-26 15:04] kvnb93 commented on #20505
Any news on this @geoand @sberyozkin?

[2021-11-26 15:12] freddieFishCake commented on #21559
TLDR - upgrading to Quarkus 2.5.0 hasn't helped, sorry about that.

Result with version 2.3.1 when passing application/xml as the first accept header:
[code]
Result with 2.3.1 when switching the accept headers around:
[code]
And then with Quarkus 2.5.0
[code]

reversing the order of the accept headers:
[code]

[2021-11-26 15:14] freddieFishCake commented on #21559
Output from mvn quarkus:dev to confirm the version

[code]

[2021-11-26 15:15] geoand commented on #21559
Can you attach a sample project that exhibits this behavior?

[2021-11-26 15:17] freddieFishCake commented on #21559
The test application here is basically a wrapper for a different web service - we use the RestEasy Client to call the remote project, I am just wondering if there is some unexpected interaction between RestEasy and the client?
.. cross post with your request for a sample project - sure I will try to do that asap.

[2021-11-26 15:38] DavideD commented on #21671
On second though, `Book.create` is using `persistAndFlush` so I would have expected that to work even without the transaction.
@FroMage, any idea?
It would be interesting to see if this works without Panache and only using Hibernate Reactive.

I think `@Transactional` works with Hibernate ORM but not with Hibernate Reactive. I don't think there is something equivalent for Panache Reactive

[2021-11-26 15:48] famod commented on #21730
Only for known content-types, though (which cover most cases but not all).
But I guess one main takeaway is that escaping will be configurable per content-type via #21731 and the (default) locale via #21405, so there shouldn't be the need anymore to set either one via SELECTED_VARIANT.

[2021-11-26 15:55] prashantg077 opened #21741 "JAVA AZURE Module client creation fails using Quarkus native binary (Graavlvm)"
### Describe the bug

Creation of module client using JAVA Microsoft Azure sdk with Quarkus native binary fails . Below is the code snippet

[code]

NOTE the same code works when using a JVM based binary.

Below is the exception trace:

[code]

### Expected behavior

Module client should be created and opened successfully.

### Actual behavior

Module client creation fails with below error;

[code

[2021-11-26 15:58] loicottet commented on #21516
@galderz The loading of the enclosing class is triggered by the computation of type annotations for `Executable` objects, which is performed by JDK code. From what I can see the modifications in the commit you linked did not introduce this behaviour, but modifications to our substitutions of the copying methods in `ReflectAccess` now probably makes the `Executable.annotatedReceiverType` field reac

[2021-11-26 16:21] galderz commented on #21726
@aomsweet What quarkus extensions are you using? Are you using liquibase as @joggeli34 suggested? Do you have a reproducer you can share?

IIRC, a PR that @Karm was working on had similar freetype errors (see https://github.com/quarkusio/quarkus/pull/20850#issuecomment-968895175). He's also working to improve things for that PR, which might indirectly fix things here.

[2021-11-26 16:36] fedinskiy commented on #21700
@geoand I wasn't able to reproduce the error on your example either. But this one worked:

[code]

I presume, the gamechanger is `javax.ws.rs.Produces` annotation.

[2021-11-26 17:22] Karm commented on #21726
Hello @joggeli34,

I am working on https://github.com/quarkusio/quarkus/pull/20850 (at the moment) that would, among other things, help with this issue. ETA: Soon :-)

The behaviour when I am done will be this:
- no AWT dependency and issues with libs you might not need
- if and only if your application hits the graphics libraries at runtime, an error is shown telling you that you have to depend o

[2021-11-26 17:34] DavideD commented on #21671
The same issues happens with both vanilla Hibernate Reactive and Panache.
It might be a bug in something related to the db2 integration with Hibernate Reactive.

I will keep you up to date if I discover something

[2021-11-26 17:58] patriot1burke commented on #21559
THis looks like a resteasy reactive issue.

[2021-11-26 18:00] geoand commented on #21559
Good point - I didn't see that RR was being used, so I'll give it another pass.

[2021-11-26 18:07] #21698 closed

[2021-11-26 18:12] radcortez commented on #14240
I'm happy to integrate it directly, I just need to find the time to do it :)

Ah, I can probably look into this and fix it in the extension directly. Feel free to report any bugs there for now.

[2021-11-26 18:24] radcortez commented on #21691
Hum, if you see multiple `SmallRyeConfig` instances being created it means that the lookup was done on the wrong classloader so a new one is created to the current classloader. That means that the configuration may differ completely.

The`ConfigDescriptionBuildItem` does not carry the config value resolution. Just metadata like the config description that the regular `Config` instance does not hav

[2021-11-26 18:29] knutwannheden commented on #21691
@radcortez Yes, that was also my thinking. And like I said, the instance being used here is created at the point when the dev console is first accessed.

[2021-11-26 18:55] ebullient commented on #21629
I could drop java from the exclusive language group, and use it as a java version setting flag instead... unless we should be adding a --jvm option for setting the version (even when used with kotlin or scala)

[2021-11-26 19:03] sberyozkin opened #21743 "Improve OIDC GitHub doc section"
### Description

[GitHub section](https://quarkus.io/version/main/guides/security-openid-connect-web-authentication#integration-with-github-and-other-oauth2-providers) does not say that `quarkus-oidc` generates an internal `IdToken` to compensate for the fact GitHub does not itself provide it but this internal `IdToken` has no useful data and is only used to keep the common flow working as well as

[2021-11-26 19:10] geoand commented on #21700
I still could not reproduce it

[2021-11-26 19:38] geoand commented on #21559
Turned out it was a RESTEasy Reactive issue after all.

[2021-11-26 20:25] anborg opened #21745 "insert in import.sql is not acted upon"
### Describe the bug

In import.sql I have this insert statement

import.sql is default file name
[code]

Snippet of my yaml file. I commented out the "schema_ddl.sql" as "import.sql" is default.   I also tried with schema_ddl.sql. The tables are available, but no the inserted rows.

[code]

### Expected behavior

Rows inserted in import.sql  must be available during unit-test & development

### A

[2021-11-27 06:37] indiealexh commented on #21432
This is the last big feature I am missing to do everything I need to do. So if I can help in anyway, I'm down to help.

[2021-11-27 06:45] saulocn opened #21752 "Is it possible to connect in multiple Artemis MQ broker instances?"
### Description

I'm sorry if this isn't the best channel to ask but, in case of primary and secondary Artemis broker instance. Is there any way to connect in both instances to keep connection if primary be down?

### Implementation ideas

Maybe the `quarkus.artemis.url` property be setted as an list comma separated.
Something like:
[code]
Something like `kafka.bootstrap.servers`

[2021-11-27 06:58] cescoffier commented on #21432
@indiealexh the reactive client is almost ready. Then it's just the quarkus extension.

[2021-11-27 07:27] himanshumps commented on #2027
@cescoffier @jmartisk @ebullient

I am not able to get it to work with quarkus (I am using 2.5.0.Final release)

pom.xml

[code]

application.properties

[code]

I need Webclient and other metrics. I am using the mutiny version of webclient.

[2021-11-27 08:31] freddieFishCake commented on #21559
Excellent, many thanks for your help!

[2021-11-27 18:06] loicmathieu commented on #21699
Of you don't use any extensions that needs it, there is no point of having the version managed by Quarkus.

So if you don't use any of the extensions from the Quarkivese Google Cloud Services project you better manage the version of the library by yourself.

[2021-11-27 19:14] cescoffier commented on #2027
I don't believe the web client is supported, but the vertx http client (used by the web client) should be there.

[2021-11-27 20:01] ebullient commented on #2027
What does smallrye-mutiny-vertx-micrometer-metrics do? Quarkus does not use the Vert.x Micrometer library/binding, as it has its own. If it is adding pure Micrometer API calls in the right place, all will be well. If it is expecting to do something with VertxMetrics / VertxOptions that would have an effect later, well.. that may not be what you're doing.

[2021-11-27 21:31] Rooarii opened #21755 "Using Kotlin guide test fail"
### Describe the bug

I followed the Using Kotlin as described, and i to run the GreetingTest with `mvn test`.

### Expected behavior

Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 3.2 s - in org.acme.rest.GreetingResourceTest

### Actual behavior

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] -------------------------

[2021-11-27 22:08] Rooarii opened #21756 "Using Kotlin guide test faillure"
### Describe the bug

I tried to run the GreetingTest from [Using Kotlin guide](https://quarkus.io/guides/kotlin) and i got an faillure when running `mvn test` just after updating the code with Kotlin syntax.

### Expected behavior

[code]

### Actual behavior

[code]

### How to Reproduce?

Reproducer:

Steps to reproduce the behavior:
1. Run the following command:
[code]

2. Update the code as d

[2021-11-28 06:26] mhmtszr commented on #21509
We are having the same problem, could please say whenever it is solved?

[2021-11-28 06:33] mhmtszr opened #21757 "Kotlin Debug Coroutine Monitor Problem"
### Describe the bug

I want to see current coroutine statuses on the Intellij Idea Coroutine monitor screen, but I can't. I added all the dependencies for coroutines like kotlinx-coroutines-core still I can't see any information about current coroutines. Could you please help me? Example Code:

[code]

And this is what I see in the Intellij Idea Coroutine monitoring screen:
![image](https://user-

[2021-11-28 10:20] himanshumps commented on #2027
I removed the dependency for smallrye-mutiny-vertx-micrometer-metrics but still no changes.

I am still not able to set the metrics. I tried doing this but looks like it is picked up late in the lifecycle

[code]

However if I create a new vertx instance, I am able to get the metrics. Is there any way I can enable micrometer metrics which is exposed by vertx.

This works

[code]

[2021-11-28 10:22] himanshumps commented on #2027
@cescoffier @ebullient @kenfinnigan @jmartisk @gsmet

I removed the dependency for smallrye-mutiny-vertx-micrometer-metrics but still no changes.

I am still not able to set the metrics. I tried doing this but looks like it is picked up late in the lifecycle

[code]
However if I create a new vertx instance, I am able to get the metrics. Is there any way I can enable micrometer metrics which is exp

[2021-11-28 14:47] CarlosPanarello opened #21758 "Remove _total suffix in micrometer using NamingConvention not working in 2.5.0"
### Describe the bug

I like to remove some suffix in some name metrics, i made it using NamingConvention from micrometer and set it in PrometheusMeterRegistry.
This was working just fine in quarkus 1.13.7, but when i change it to quarkus 2.5.0 doesn't.

Maybe this is a change in micrometer lib or in quarkus?

Thanks

### Expected behavior

In quarkus 1.13.7 using micrometer-quickstart example wit

[2021-11-28 15:11] danielpetisme commented on #21059
Hi team, quick teaser
What do you think?
![image](https://user-images.githubusercontent.com/593564/143773842-1fe98566-5f44-41a1-ac93-2427f5147ad2.png)

[2021-11-28 15:17] gunnarmorling commented on #21059
Pretty cool, I'd say!

Am So., 28. Nov. 2021 um 16:11 Uhr schrieb Daniel PETISME <
***@***.***>:

[2021-11-28 15:19] ebullient commented on #2027
If you intend to use the quarkus micrometer extension, you should not need the customizer bean. So either use the micrometer extension OR roll your own, not both.

Specifically, this is problematic:
[code]

I have an issue open for the quarkus micrometer extension itself to display more of the [core vertx metrics](https://github.com/quarkusio/quarkus/issues/15410). The problem I ran into is that t

[2021-11-28 15:37] kjq opened #21759 "BeanParam extending another class fails in RESTClient"
### Describe the bug

When a @BeanParam is used in a RESTClient and it extends another class it fails with the path param property not found.

[code]

If the class doe not extend another class or the properties are replicated in the extended class it will work fine.

[beanparam.zip](https://github.com/quarkusio/quarkus/files/7613800/beanparam.zip)

### Expected behavior

Classes can extend other c

[2021-11-28 15:38] ebullient commented on #21758
The PrometheusNamingConvention doesn't have a lot of flexibility over appending _total:

https://github.com/micrometer-metrics/micrometer/blob/8e7f66670cbf33189f9aa3af99943444c5f2643a/implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusNamingConvention.java#L58

The default construction of the PrometheusMeterRegistry sets the NamingConvention directly (m

[2021-11-28 16:05] himanshumps commented on #2027
I think if we add metrics capability to VertxConfiguration, it can propogate down to vertx. I do not see any capability in VertxRecorder to pass metrics details as VertxConfiguration doesn't have it. What do you think?

@ebullient

[2021-11-28 17:07] ebullient commented on #2027
The micrometer extension is already setting Vertx Metrics Options. We can not use the vanilla Vert.x Metrics support for a lot of reasons.

You have to choose. Roll your own (in which case, disable the micrometer extension), or use the Micrometer extension and either open new issues or add comments to the one you mention about the metrics you want to see and now you want them to be used.

Right no

[2021-11-28 17:07] kjq commented on #21759
I seem to recall having an issue before with the word `client` being used for some inference.  In my real codebase I am using `@PathParam("client")` but in my reproducer I do not.

[2021-11-28 17:13] cescoffier commented on #21435
Fixed as Reactive Messaging 1.12.1 has been integrated.

[2021-11-28 17:13] #21435 closed

[2021-11-28 17:22] cescoffier commented on #21446
Fixed by https://github.com/quarkusio/quarkus/pull/21654.

[2021-11-28 17:22] #21446 closed

[2021-11-28 17:45] cescoffier commented on #16603
Forgot to close this issue, but this has been integrated.

[2021-11-28 17:45] #16603 closed

[2021-11-28 21:08] pedroigor opened #21762 "Resteasy "connection was closed" error after upgrading to 2.4.x"
### Describe the bug

After bumping the Quarkus version to 2.4.x (tested 2.4.0.Final, 2.4.1.Final, and 2.4.2.Final) in Keycloak, the following error is happening every time you reload a page multiple times during a short period (e.g.: holding F5 when at the browser):

[code]

The error does not happen if we downgrade to version 2.3.1.

### Expected behavior

No errors in logs if loading a page mul

[2021-11-28 21:09] pedroigor commented on #21762
@geoand Any chance this could be related to https://github.com/quarkusio/quarkus/issues/21602?

I'm also going to check if the error is happening when running the latest upstream/main.

[2021-11-28 21:23] pedroigor commented on #21762
@geoand I was able to reproduce the issue using the reproducer from #21602. By reloading the following URL `http://localhost:8080/hello/res/styles.css` multiple times in a short period of time, you should see the exception aforementioned in the logs.

The good news is that I was not able to reproduce the issue using 2.5.0.CR1.

[2021-11-28 23:40] stuartwdouglas commented on #21700
Any chance you can capture the actual data that is being sent over the wire (e.g. via wireshark)?

[2021-11-28 23:45] stuartwdouglas commented on #10373
Should this be closed?

[2021-11-29 01:31] aomsweet commented on #21726
Hi, @galderz @Karm

This is my dependencies, if you need a replicator, I can provide it.

[code]

[2021-11-29 04:08] #21755 closed

[2021-11-29 05:11] himanshumps commented on #15410
I think we need the vertx webclient metrics as well to be shown as most of the microservices use rest communication to get the data. The list is huge as there is no predefined set for communication between applications(kafka, amqp, ....)

[2021-11-29 05:40] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1514523014

[2021-11-29 05:42] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1514523014

[2021-11-29 05:53] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1514532811

[2021-11-29 05:56] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1514523196

[2021-11-29 06:03] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1514521578

[2021-11-29 07:39] aloubyansky commented on #8593
@rsynek @evacchi have you seen this one?
[code]

[2021-11-29 07:56] janyyy opened #21765 "The interceptor has added parameters and cannot be intercepted"
### Describe the bug

[code]

[code]

[code]

I customized an annotation, and a value string is generated inside the annotation. When the value is not assigned, the interceptor defined by the program can enter the corresponding method of @AroundInvoke. When I use annotations to assign values to the Resource, the interceptor fails.

### Expected behavior

After the annotation declares the parameter

[2021-11-29 08:08] yrodiere commented on #21745
Thank you for reporting this.

A few questions:

1. Where is your `import.sql` file located? It should be in `src/main/resources` or `src/test/resources`.
2. How are your running your application? In production mode, there are no default import scripts. `import.sql` is only the default in dev mode (`mvn quarkus:dev`) and in tests. See [here](https://quarkus.io/guides/hibernate-orm#quarkus-hibernat

[2021-11-29 08:16] #21559 closed

[2021-11-29 08:19] geoand commented on #21762
It could be, but it seems unlikeky.

How about with `2.5.0.Final`? If you can't reproduce with that version either, we can go ahead and close this.

[2021-11-29 08:30] #21679 closed

[2021-11-29 08:32] mkouba commented on #21691
Hmm, you're right. The value is populated lazily, when the table of config editor is loaded and it also uses `ConfigProvider.getConfig()`. The difference is that we register the value resolver in a `io.quarkus.vertx.http.deployment.devmode.console.DevConsoleProcessor` method, i.e. using a different TCCL. I'll try to fix it.

[2021-11-29 08:44] michalszynkiewicz opened #21767 "REST Client Reactive Multipart message fails with all fields == null"
### Describe the bug

When sending a multipart form message with all fields null, REST Client Reactive fails with an exception instead of sending a request with an empty body.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM ver

[2021-11-29 08:50] evacchi commented on #8593
well that looks new... @cristianonicolai @tiagodolphine @fjtirado have we changed something around that place recently? it seems strange it has escaped CI

[2021-11-29 09:00] geoand commented on #21759
@Sgitario would you be interested in this one?

[2021-11-29 09:02] maxandersen commented on #21729
its unfortunate if we now require bundling of those files if not actually needed :/
@galderz you looked at this earlier. ideas?

[2021-11-29 09:07] RehamAboelyazied7 opened #21768 "json format issue with quarkus 2.5.0.Final at patch request"
### Describe the bug

I was using quarkus 2.4.1.Final and implemented a patch request with quarkus-resteasy-jackson
now, I need to update to 2.5.0.Final but when I try updating it, the format of response is not right and I get an error parsing JSON data.

### Expected behavior

the expected was to have the same json response as before

### Actual behavior

 the response code is 200 as before but w

[2021-11-29 09:07] geoand commented on #21756
This is a duplicate of #21756

[2021-11-29 09:07] #21756 closed

[2021-11-29 09:09] geoand commented on #21768
Can you please attach a sample project the exhibits the problem you mention?

[2021-11-29 09:16] geoand commented on #21757
This isn't a Quarkus issue

[2021-11-29 09:16] #21757 closed

[2021-11-29 09:24] mkouba commented on #21765
@janyyy Well, the `Log#value` is a _binding member_ which means that it's used during interceptor resolution. In other words, the `LogInterceptor` will only be bound to a bean/method which declares `@Log("")`. If you need to ignore the value during resolution then annotate the member with `@javax.enterprise.util.Nonbinding`.

A tip for the next time ;-): we usually need more information, at least

[2021-11-29 09:24] #21765 closed

[2021-11-29 09:30] triceo commented on #21479
@galderz , taking a look at the OptaPlanner stack trace:

    2021-11-16T02:31:03.8964573Z 	at org.drools.ancompiler.KieBaseUpdaterANC.run(KieBaseUpdaterANC.java:56)
    2021-11-16T02:31:03.8966635Z 	at java.lang.Thread.run(Thread.java:829)
    2021-11-16T02:31:03.8968286Z 	at com.oracle.svm.core.thread.JavaThreads.threadStartRoutine(JavaThreads.java:596)
    2021-11-16T02:31:03.8970764Z 	at com.o

[2021-11-29 09:41] evacchi commented on #21479
in many cases, GraalVM stacks are "simulated" call stacks to display the reachability of a method in the control-flow graph. It does not necessarily mean that method is reachable. Can you paste the entire output, or at least a larger portion of the stack trace?

[2021-11-29 09:46] triceo commented on #21479
@evacchi I'm afraid this is almost all we have. See:
https://github.com/quarkusio/quarkus/issues/21479#issuecomment-969974959

It is entirely unhelpful. (The reason I'm trying to figure out where it comes from is that ANC should not be called from OptaPlanner native at all. If I know where it happens, I may be able to eliminate this issue in OptaPlanner.)

[2021-11-29 10:00] evacchi commented on #21479
right, sorry I didn't see that :)

[2021-11-29 10:01] iompo opened #21771 "Make kubernetes limits and requests resources modifiable at runtime"
### Description

The kubernetes configuration properties: _quarkus.kubernetes.resources.limits.cpu_, _quarkus.kubernetes.resources.limits.memory_, _quarkus.kubernetes.resources.requests.cpu_, _quarkus.kubernetes.resources.requests.memory_ are compile time properties.
I have different environments where I deploy my service, each environment has a different configuration in terms of available cpus a

[2021-11-29 10:06] geoand commented on #21771
Thanks for reporting

This actually does not make sense since Kubernetes configuration is **only** application to **build-time** meaning that it only affects the `kubernetes.yaml` manifest generation.
That said, you can certainly specify different values for these properties using any of the supported ways

[2021-11-29 10:06] #21771 closed

[2021-11-29 10:12] DavideD opened #21772 "Panache reactive shouldn't use Uni.combineAll in a persist"
### Describe the bug

See [AbstractJpaOperations#persist(Stream)](https://github.com/quarkusio/quarkus/blob/ebd6d377ea432bdc13bed47b72cb46387a7f9bbe/extensions/panache/hibernate-reactive-panache-common/runtime/src/main/java/io/quarkus/hibernate/reactive/panache/common/runtime/AbstractJpaOperations.java#L96)

The Hibernate Reactive session cannot be used this way or it might lead to errors that are

[2021-11-29 10:30] janyyy commented on #21765
Thank you very much

[2021-11-29 10:34] mkouba commented on #21765
yw

[2021-11-29 11:01] pedroigor commented on #21762
@geoand Works with `2.5.0.Final` and also with the latest `999-SNAPSHOT`. I'm still running tests though but I could not reproduce the error so far using those versions.

I'm afraid we are going to need to wait for `2.5.1` before we release KC v16.

Thanks.

[2021-11-29 11:01] #21762 closed

[2021-11-29 11:08] galderz commented on #21726
Thx @aomsweet, the dependency that triggers this is the `jaxb` dependency.

[2021-11-29 11:20] galderz commented on #21479
@triceo `KieBaseUpdaterANC` is a `Runnable` class and since `Thread.run` calls into any Runnable classes, GraalVM looks for any implementations of that and considers them part of the points-to analysis. Now, if this is not really in use, you could find a way to remove it from the universe in the first place (e.g. move it into another module and don't depend it?). This is coming from drools, so you

[2021-11-29 11:24] Sgitario commented on #21759
Sure, will have a look asap

[2021-11-29 11:26] geoand commented on #21759
Thanks!

[2021-11-29 11:28] evacchi commented on #21479
wow this is incredibly useful /cc @mariofusco
that heuristic it's kind of broad though 😅

[2021-11-29 12:00] DavideD commented on #21671
Persisting with identity requires a different query so it might be related.
Every db uses a different Vertx SQL client for the connection and it's possible there are differences in the way each databases
behave in some situations. That said, Hibernate Reactive should already keep these differences into account already, so it shouldn't be a problem.

I've tried replacing the code using Hibernate Re

[2021-11-29 12:05] galderz commented on #21729
@Karm is working on [improving it](https://github.com/quarkusio/quarkus/pull/20850#issuecomment-981527941).

[2021-11-29 12:38] CarlosPanarello commented on #21758
I created my own [NamingConvention](https://github.com/CarlosPanarello/micrometer-quickstart/blob/main/src/main/java/org/acme/micrometer/NamingMetric.java) called NamigMetric, and set it in PrometheusRegistry when the app [started](https://github.com/CarlosPanarello/micrometer-quickstart/blob/1a135f0ff07651077304512b9f913b38c696e503/src/main/java/org/acme/micrometer/StartMetric.java#L21) and repla

[2021-11-29 13:04] kjq commented on #21759
Hello Jose.

Sorry about that, I don't know how I missed that.  Yes, you are correct -
that is the issue.

On Mon, Nov 29, 2021 at 6:45 AM Jose Carvajal ***@***.***>
wrote:

[2021-11-29 13:07] Sgitario commented on #21759
Ok, thanks for confirming. The linked pull request should address this issue.

[2021-11-29 13:23] CarlosPanarello commented on #21758
I make some tests and make a downgrade to version 1.6.5 of the micrometer-core e micrometer-prometheus registry, that is used in quarkus 1 and worked just fine in quarkus 2.

i made the replace in pom like this in my [project](https://github.com/quarkusio/quarkus-quickstarts/tree/main/micrometer-quickstart)

[code]

[2021-11-29 13:23] andlinger opened #21779 "Qute unable to find template extension methods with @TemplateAttribute annotation"
### Describe the bug

I have updated my Quarkus app from 2.3.1.Final to 2.5.0.Final. Since then, Qute Template Extension no longer recognizes methods marked with an @TemplateAttribute annotation and throws the following error when launching from the app. I can confirm that the error happens from version 2.4.0.Final.

I have built a small project with which the error can be reproduced: https://gith

[2021-11-29 13:49] #21731 closed

[2021-11-29 13:50] Ladicek opened #21782 "Don't autodetect Avro serde in case multiple Avro serdes are present on classpath"
### Describe the bug

The SmallRye Reactive Messaging Kafka support for autodetection behaves weirdly in case multiple Avro serdes are present on classpath. The autodetection algorithm will just pick one of those serdes in an opaque way. It really should either avoid autodetection entirely, so that the application fails with missing configuration during startup, or even fail the build entirely.

#

[2021-11-29 13:52] gavinking commented on #21772
And also: Hibernate Reactive already has a `persist()` that accepts multiple arguments so Panache should use it.

[2021-11-29 13:52] mkouba commented on #21779
We validate expressions connected to namespace extension methods since 2.4.0 so it's definitely related. I think that we don't skip the parameters annotated with `@TemplateAttribute` when matching extension methods. I'll try to send a PR shortly.

[2021-11-29 14:36] stgiaf commented on #21167
Have the same issue. Filters are not applied to web socket connections. So you cannot have logic in the HTTP GET that initiates the connection

[2021-11-29 14:50] sparnord1337 opened #21784 "Allow for testing with junit ConsoleLauncher"
### Description

JUnit5 includes a jar file for running tests directly from the commandline. Unfortunately Quarkus crashes with the following error. It would be really nice to be able to run Quarkus tests with the JUnit harness.

[code]

### Implementation ideas

It looks like Quarkus assumes that its QuarkusTestExtension class will be loaded by something that falls below the SystemClassLoader, wh

[2021-11-29 14:58] geoand commented on #21576
@patriot1burke any idea why the body contains the illegal line break characters?

[2021-11-29 15:01] #21691 closed

[2021-11-29 15:03] Clemzd commented on #1762
Has anyone found a solution? I am currently experiencing the problem

[2021-11-29 15:35] michalszynkiewicz commented on #21443
We could introduce a `@ClientQueryParam` annotation for it.
Something like:
[code]

There's a chance we could reuse HeaderFiller for it.

[2021-11-29 15:39] luca-bassoricci opened #21789 "@BeanParam without at least one field annotated with @QueryParam produces ClassCastException with reasteasy-reactive"
### Describe the bug

Injecting a bean like this one:
[code]
as endpoint parameter with `@BeanParam` causes an HTTP error 404 due to a `ClassCastException`.

The bean slightly modified
[code]
doesn't produce the `ClassCastException`, but `@QueryParam` annotations are not honored.

### Expected behavior

Bean injected with extracted values from query string

### Actual behavior

[code]

### How to

[2021-11-29 16:01] janinko opened #21790 "metrics from VertxHttpServerMetrics grows until OOM happens"
### Describe the bug

We have an [application](https://github.com/project-ncl/kafka-store) that reads a lot of data over the network. The application crashed several times because of Out Of Memory. Investigating the memory showed that two instances of `io.quarkus.micrometer.runtime.registry.json.JsonDistributionSummary` took 96 % of memory and over 5 days grew from 162.5 MiB to 355.7 MiB, while th

[2021-11-29 16:13] nragon opened #21791 "Kubernetes resources(yml/json) not generated"
### Describe the bug

Our application is using Kubernetes extension to generate all required resources however, when packaging it, no resources are generated.

### Expected behavior

When executing:

`mvnw clean package -Dresource.provider=kubernetes`

resources should be generated (kubernetes.yml and kubernetes.json).

### Actual behavior

When executing:

`mvnw clean package -Dresource.provider=

[2021-11-29 16:14] geoand commented on #21790
Thanks for reporting @janinko.

Do you by any chance have information in your heap dump that shows which fields of `JsonDistributionSummary` where talking up all the memory?

[2021-11-29 16:16] geoand commented on #21791
Thanks for reporting.

First of all, where does `-Dresource.provider=kubernetes` come from? Why are you using it?

Second what does the file system look when you performed the package stage? I'm basically interested in the target directory.

Finally, any chance you could attach a project that exhibits this behavior?

[2021-11-29 16:30] ebullient commented on #21790
Which version of Quarkus are you using? There was a fix added to the Json registry awhile ago to correct the depth of the ring buffer.

Note that the Json registry is optional, and stores/performs calculations that other registries don't. If you don't need it, I would turn it off.

[2021-11-29 16:41] janinko commented on #21790
Quarkus version 2.4.2.Final

![image](https://user-images.githubusercontent.com/644267/143907753-84b564b0-edab-4322-9d66-1c04c8187b49.png)

[2021-11-29 16:44] geoand commented on #21790
Any chance you can test with 2.5 and see if the problem persists?

[2021-11-29 16:47] Karm commented on #21726
@aomsweet ...and as soon as  #20850 is merged, the AWT dependency won't be pulled in by `jaxb` any longer.

[2021-11-29 16:58] pat-karakun commented on #5471
In contrast to what's written on https://github.com/opentracing-contrib/java-kafka-client wrt how to setup opentracing with KafkaStreams, it's (now) possible to just provide a KafkaClientSupplier for injection:
[code]
But what's the current state regarding context propagation, namely inject spanId from a consumed message into the tracing context and later add it from there to those messages produc

[2021-11-29 17:14] ebullient commented on #21790
You misunderstood me. This isn't turning off the meter, it is turning off the json registry if you don't need it: `quarkus.micrometer.export.json.enabled=false`

If you need the json registry, please make sure your ring buffer is set to a small number:
`quarkus.micrometer.export.json.buffer-length=3`. The larger that number is, the more memory it will require.

[2021-11-29 18:04] cescoffier opened #21795 "Using @Transactional on a method annotated with @Incoming should add @Blocking if not present"
### Description

When a method annotated with `@Incoming` is also annotated with `@Transactional`, it should automatically add `@Blocking` is no _blocking_ annotations (from SmallRye common and Reactive Messaging) are used.

### Implementation ideas

1. Detect that configuration
2. Add the annotation
3. Implement tests
4. Document

[2021-11-29 18:09] cescoffier opened #21796 "Panache Reactive should use `@CheckReturnValue`"
### Description

IntelliJ has a "smart" feature that introduces a warning in the user code if it detects a method call annotated with `CheckReturnValue` where the returned object is unused. It's pretty useful when the methods return `Uni` or `Multi`.

IntelliJ only checks for the annotation name, regardless of where it comes from. Thus, SmallRye Common Annotation provides such an annotation used i

[2021-11-29 18:32] nragon commented on #21791
@geoand, can't share the entire codebase, trying to replicate in a different project with same structure(not lucky so far).

[2021-11-29 18:35] patriot1burke commented on #21576
Fix incoming.

[2021-11-29 20:07] #21576 closed

[2021-11-29 22:10] famod commented on #21784
/cc @stuartwdouglas

[2021-11-29 22:11] famod commented on #21784
Never used `ConsoleLauncher` so I'm probably missing something, but are you aware of continuous testing in Quarkus?

[2021-11-29 22:37] sberyozkin commented on #21641
@funcbro After thinking more about it I thought adding a property to support qualifying the names would be a better solution, my orginal proposal to use the profile by default can have side-effects especially given that it is not guaranteed the prod profile will be named `prod` etc

[2021-11-30 01:32] aomsweet commented on #21726
@galderz @Karm Thank you very much.

[2021-11-30 02:41] klutzer commented on #21346
Should I open a new issue to this? @patriot1burke

[2021-11-30 05:36] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1519288098

[2021-11-30 05:45] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1519288098

[2021-11-30 05:45] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1519299627

[2021-11-30 05:57] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1519288250

[2021-11-30 06:17] aloubyansky commented on #8593
[code]
@evacchi there was a refactoring in which this class was replaced with `CatalogMapperHelper`. It wasn't expected to be used outside the Quarkus repo. Although, from now on it should be a stable API.

[2021-11-30 06:46] ncorai commented on #21422
@glefloch I'd like to understand if this issue is only caused by the plugin I've used or could other plugins also trigger it? Is that plugin doing something wrong?

[2021-11-30 07:15] evacchi commented on #8593
ok, does that mean that this is a fix that must be done on time for 2.6 ? /cc @tarilabs @radtriste

[2021-11-30 07:27] geoand commented on #21784
How exactly does one use `ConsoleLauncher`? And what would be the benefit of making it work for Quarkus?

[2021-11-30 07:47] aloubyansky commented on #8593
Ideally, yes. Otherwise, if you can't do it for some reason we could provide just enough of the legacy API to not break you.

[2021-11-30 08:21] tarilabs commented on #8593
@aloubyansky please excuse me but I haven't understood the problem.

What I use in Kogito, here: https://github.com/kiegroup/kogito-runtimes/blob/ef82ea3aadca04c87798bd8b86932231f16f789f/quarkus/extensions/kogito-quarkus-decisions-extension/kogito-quarkus-decisions-integration-test/src/test/java/org/kie/kogito/quarkus/dmn/KogitoDMNCodeCodestartIT.java#L42-L49

Is the same as the example of Codesta

[2021-11-30 08:25] evacchi commented on #14756
I think this should be resolved by now (there are some kinks to iron out, but the bulk of the feature should work)

[2021-11-30 08:35] loicmathieu opened #21808 "OpenAPI JSON property naming support"
### Describe the bug

Currently Quarkus OpenAPI extension didn't automatically use the JSON property naming strategy used by the Quarkus Object Mapper.

If you use an `ObjectMapperCustomizer` to set the property naming strategy to `SNAKE_CASE` for example, this is not honored by OpenAPI.

Discussions can be found here on Zulip: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Open

[2021-11-30 09:08] aloubyansky commented on #8593
It might be a binary incompatibility then. I tried `kogito-runtimes` `main` and the current Quarkus `main` branches and it worked. However, due to the reactive messaging upgrade in Quarkus I had to apply the following changes to build Kogito:
[code]

[2021-11-30 09:14] glefloch commented on #14756
Nice thanks ! Should we close this ?

[2021-11-30 09:16] gsmet commented on #8593
@cescoffier I wonder if it would be a good idea to introduce deprecated classes for ^ that we would keep a couple of versions. Otherwise, that puts a hard pressure on Kogito for 2.6. Not sure if they will be able to deliver a fixed version on time.

Not sure how critical this module is though. /cc @evacchi

[2021-11-30 09:20] cescoffier commented on #8593
@gsmet we considered it and decide to not do it. We had a split package situation that became a blocker in some environment. Maybe I can introduce a deprecated class in the Quarkus extension.

[2021-11-30 09:27] ivpal commented on #10226
I have some issue with 2.4.2.Final

[2021-11-30 09:28] aramashkan commented on #14756
Just test assemble fresh project from code.quarkus.io receive:
[code]

[2021-11-30 09:56] evacchi commented on #14756
that is most likely a separate issue. Make sure you include resteasy and resteasy-jackson. Kogito 1.14 will ship with 2.5.1 which should solve that issue

[2021-11-30 09:59] #21743 closed

[2021-11-30 10:03] sparnord1337 commented on #21784
@famod I am. I suppose I prefer request response type command execution. It's also already part of my workflow.

@geoand The`ConsoleLauncher` is just a standalone jar file that lets you run JUnit tests from a ClassPath. It'll scan for all the JUnit tests, execute the whole JUnit engine rigamarole, and write out the results to stdout. Optionally it can produce the well known JUnit reports as well.

[2021-11-30 10:17] geoand commented on #21784
Thanks for the information.

If you already have a fix in mind, feel free to open a Pull Request :)

[2021-11-30 10:23] geoand commented on #21795
Didn't @stuartwdouglas have something like this as well?

[2021-11-30 10:26] geoand commented on #21790
Understood, but won't profiling your staging environment show an ever increasing ring buffer size if the problem persists?

[2021-11-30 12:11] LoveFeelings opened #21814 "@RolesAllowed causes Resource method returning CompletionStage to ignore exception mapping"
### Describe the bug

This issue is related to #20979. Looks to have been working in quarkus 2.3.2.Final, but the bug was interduced in quarkus 2.4.0.Final and is still present in quarkus 2.5.0.Final. Note that the code is fork'ed from @antoniomacri :  [antoniomacri/quarkus-completionstage-rolesallowed](https://github.com/antoniomacri/quarkus-completionstage-rolesallowed).

Consider the following

[2021-11-30 12:15] #21706 closed

[2021-11-30 12:29] #19177 closed

[2021-11-30 12:48] #21779 closed

[2021-11-30 13:03] CarlosPanarello commented on #21758
I find the reason, in micrometer version 1.7.0 and above, they are using prometheus-simple-client 0.10.0, and in that version they made change to add total in [counter](https://github.com/prometheus/client_java/blob/parent-0.10.0/simpleclient/src/main/java/io/prometheus/client/Collector.java#L56).

But looking at some [issues about it](https://github.com/prometheus/client_java/pull/653) the soluti

[2021-11-30 13:09] #14756 closed

[2021-11-30 13:11] geoand commented on #21814
This is a duplicate of https://github.com/quarkusio/quarkus/issues/21679 and has already been fixed in main (the fix will be available in `2.5.1.Final`)

[2021-11-30 13:11] #21814 closed

[2021-11-30 13:43] ebullient commented on #21758
Using a filter with the scrape will be fine, as that is running elsewhere (in Prometheus-land, not in your app). This kind of scrape-config adjustment is pretty common.

[2021-11-30 13:43] Sgitario commented on #21789
`@QueryParam` annotations only work in fields. I've provided a PR https://github.com/quarkusio/quarkus/pull/21817 to enhance the exceptions we throw. Therefore, instead of a 400 caused by a cast class exception, you will get an exception at build time saying that either there are no fields annotated or that there are methods annotated with wrong JAX-RS annotations.
cc @geoand

[2021-11-30 13:48] ebullient commented on #21790
I don't think anything has changed w.r.t. the Json registry recently, this is a knock-on effect of how the JsonRegistry works (it performs a lot more calculations, and requires more storage). The buffer-length setting is a concern, the setting was added / memory usage fixed in 2.1.0.Final, any release before that could see this runaway memory usage because the ring buffer length was way too big.

[2021-11-30 13:55] geoand commented on #21790
`quarkus.micrometer.export.json.buffer-length=3` is already the default, isn't it?
And it seems it has been for a few months

[2021-11-30 13:57] RehamAboelyazied7 commented on #21768
@geoand I updated it with github repository link  for sample

[2021-11-30 13:57] mederel commented on #21739
While working on the source in the PR, and its review about thread local instances of Logger, I ran into a more grave problem of the whole Azure Functions java library, namely that it gives a new instance of logger for each request, but then expects you to use static for everything you want to keep in between function calls. For instance caches, pool of connections, db connections, etc... But all

[2021-11-30 14:07] AndreasBoehme commented on #8530
@michael-simons finally had some time to test it - I can also confirm it works with fast-jar! Thank you!

However, heads up others: key is the use of _io.github.classgraph:classgraph:4.8.116_, which is a transitive dependency of the mentioned _org.neo4j:neo4j-ogm-core:3.2.26_.

I'm mentioning this, because I fixed the classgraph version in my parent to an older version, thus raising the same error

[2021-11-30 14:08] Fabrice-Deshayes-aka-Xtream opened #21818 "use Response from RestClient for direct return in api resource broken in 2.5.0 final (but work in 2.4.0 final)"
### Describe the bug

My application is a kind of proxy.
It exposes an api, who get its response for another enabler which is requested using RestClient.

Here is the rest client
[code]

Here is the api resource

[code]

### Expected behavior

Until quarkus 2.4.0 final, all is working. The restclient get a Response, which is used as the api resource response. The json body and http status are pres

[2021-11-30 14:11] michael-simons commented on #8530
Thank you so much @AndreasBoehme for your feedback!
Neo4j Migrations is on `4.8.133`.  I will bump OGM, too!
OGM 3.2.28 has just been released, though, but: It has some nice performance improvements as well.

Anyway, yes, you need classgraph >= 4.8.116 for things to work.

[2021-11-30 14:13] geoand commented on #21768
I see that your reproducer depends on another service that is not included.

So I used what you specified in the issue:

[code]

and it worked as expected

[2021-11-30 14:20] geoand commented on #21818
I am pretty sure this is the same problem as https://github.com/quarkusio/quarkus/issues/21602.

So I am going to close this as it's fixed and the fixed will be available in `2.5.1.Final`. When that comes out, please try it again and if the problem is not solved, please comment on the issue (and attach a project that exhibits the problematic behavior)

[2021-11-30 14:20] #21818 closed

[2021-11-30 14:31] RehamAboelyazied7 commented on #21768
I checked that https://github.com/quarkusio/quarkus/issues/21818 and I think it's the same issue

[2021-11-30 14:35] maxandersen commented on #21165
worth mention this enables users to have coestarts for their extensions without being in the registry.

[2021-11-30 14:42] geoand commented on #21768
Very interesting.

Let's close this then since the underlying issue has already been fixed.

Once 2.5.1 is out, please give it a try and comment if the issue has not been fixed

[2021-11-30 14:42] #21768 closed

[2021-11-30 14:42] aloubyansky commented on #8593
The problem is that the POM for the test in the platform is
[code]
That's with the Quarkus 999-SNAPSHOT. Given that `quarkus-devtools-testing` isn't in the `quarkus-bom` the original version of the dependency is used instead.

[2021-11-30 14:44] #21581 closed

[2021-11-30 14:48] ebullient commented on #21790
Yes. When we added the flag in June, we set the default. So if the version of Quarkus in use is pre-2.1.0.Final, the explosion of data with the Json exporter is a known issue that would be resolved by turning it off.

[2021-11-30 14:49] pedroigor commented on #21762
@geoand Does it make sense to end the response here https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-classic/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java#L79?

Similarly to the lines right above where the response is ended prior to throwing the exception or just returning.

I'm asking because if the vert.x response is not properly

[2021-11-30 14:50] geoand commented on #21790
This issue seems to be about Quarkus `2.4.2.Final`

[2021-11-30 14:56] ebullient commented on #21790
Right. The amount of calculation the Json exporter does is not really fixable (aside from ensuring the ring buffer value is small, which it should be).

There are a few ways to deal with this:

- Turn the Json exporter off. This is what I would do, as I don't recommend the Json exporter for production use because it holds so much in memory.
- If you actually require it in production, use a [Deny M

[2021-11-30 15:03] geoand commented on #21762
I assume that throwing at that point ensure the exception is picked and handled up elsewhere, although I am not sure.

Have you tried patching that part to see if it affect your use case somehow?

[2021-11-30 15:20] pedroigor commented on #21762
Not yet. Just found this and solved it on our side by checking if headers were written after invoking downstream handlers from our filter.

I'll do that and get back to you. Thanks.

[2021-11-30 15:25] #20001 closed

[2021-11-30 15:31] edeandrea opened #21819 "Ability to inject Dev Services Kafka Config into @QuarkusIntegrationTest"
### Description

Currently its possible during an `@QuarkusTest` class to inject the kafka broker configuration provided by dev services (see https://github.com/quarkusio/quarkus-quickstarts/blob/development/kafka-quickstart/processor/src/test/java/org/acme/kafka/processor/QuoteProcessorTest.java#L32-L34).

It would be nice to be able to do the same in a `@QuarkusIntegrationTest`. Currently I'm fo

[2021-11-30 15:35] aloubyansky commented on #8593
https://github.com/quarkusio/quarkus/pull/21820 will fix it.

[2021-11-30 15:41] overheadhunter opened #21821 "@Transactional ignored in any @Nested test class"
### Describe the bug

According to [the docs](https://quarkus.io/guides/getting-started-testing#tests-and-transactions), `@QuarkusTest` classes support the use of `@Transactional` tests. ~This does not seem to be the case for test setup methods annotated with `@BeforeEach`, though.~ *Edit*: This does not seem to be the case for `@Nested` tests, though. (I have commented out irrelevant parts)

When

[2021-11-30 15:45] geoand commented on #21819
(Almost ) no kind of injection is supported into `@QuarkusIntegration`.
What exactly is your use case? Asking because maybe we can cover it some other way...

[2021-11-30 15:46] vsevel commented on #19057
could this be linked to https://github.com/quarkusio/quarkus/pull/18385?

[2021-11-30 15:47] geoand commented on #21821
Is this maybe related to the fact that the test is nested? Can you try `@Transactional` on `@BeforeEach` methods of a regular test class?

[2021-11-30 15:47] geoand commented on #21819
How come?

[2021-11-30 15:54] aloubyansky commented on #8593
BTW, even if that fix doesn't make it in 2.5.1.Final, we can still add that constraint in the platform and it will work.

[2021-11-30 15:55] edeandrea commented on #21819
If I have an application that publishes to kafka, then my integration test should trigger the app and then set up a `KafkaListener` and verify that expected items are sent to Kafka (see https://github.com/edeandrea/quarkus-super-heroes/blob/main/rest-fights/src/test/java/io/quarkus/sample/superheroes/fight/rest/FightResourceIT.java).

Similar on the inverse - I have an app that listens to Kafka an

[2021-11-30 15:55] aloubyansky commented on #8593
I did reproduce the failure locally and make sure the PR fixed it.

[2021-11-30 15:55] josephearl opened #21822 "Adding a quarkusDev dependency on quarkus-flyway does not run migrations on start"
### Describe the bug

Add a dependency `quarkusDev 'io.quarkus:quarkus-flyway'` to build.gradle and set `quarkus.flyway.migrate-on-start` to true in application properties.

Start the application with `./gradlew quarkusDev`.

### Expected behavior

Migrations are performed when the application starts in dev mode.

### Actual behavior

The migrations are not performed.

Replacing the `quarkusDev` d

[2021-11-30 16:01] overheadhunter commented on #21821
1. If the `@BeforeEach` method is on the root level but there still is a `@Nested` class, it still fails.
2. If there is no `@Nested` class at all, it seems to work as intended.

[2021-11-30 16:03] SMakhrov opened #21823 "Failed native build using Java 17"
### Describe the bug

When I'm launching the command
[code]
according to this tutorial https://quarkus.io/guides/building-native-image#creating-a-container I see the following error (see actual behaviour).

PC RAM = 16Gb

### Expected behavior

Successful build of native image according to tutorial

### Actual behavior

[code]

### How to Reproduce?

Do the tutorial https://quarkus.io/guides/build

[2021-11-30 16:05] geoand commented on #21762
That would be great

[2021-11-30 16:09] geoand commented on #21821
I think this is a duplicate of https://github.com/quarkusio/quarkus/issues/20034, @stuartwdouglas WDYT?

[2021-11-30 16:11] overheadhunter commented on #21821
I have updated the issue description accordingly.

Btw I believe #20034 is about `@TestTransaction`s. May still be the same root cause, though. After all there are still various problems with nested tests in Quarkus.

[2021-11-30 16:12] geoand commented on #21821
Yeah, but the root cause it likely the same - JUnit does not allow us to control the lifecycle of the nested test

[2021-11-30 16:16] overheadhunter commented on #21821
In that case, is there any way to manually begin/commit/rollback transactions programmatically during tests? Then there would at least be a workaround for places, where the annotations don't work.

[2021-11-30 16:21] geoand commented on #21819
If I understand your use case correctly, then you should be able to use what is described [here](https://quarkus.io/guides/getting-started-testing#testing-dev-services).

Essentially, you just have a field in your test of type `DevServicesContext` and use that to obtain the properties you need. An example can be see [here](https://github.com/quarkusio/quarkus/blob/2.5.0.Final/integration-tests/mon

[2021-11-30 16:24] geoand commented on #21821
You can likely use:

[code]

in your and manually handle the transaction boundaries as is described [here](https://quarkus.io/guides/transaction#api-approach).

[2021-11-30 16:24] #21821 closed

[2021-11-30 16:28] edeandrea commented on #21819
Oooh I didn't know about that! Let me try it out and get back to you!

[2021-11-30 16:31] geoand commented on #21819
👍🏼

[2021-11-30 16:34] edeandrea commented on #21819
So in my case I have a KafkaConsumer which is constructed and subscribes to the topic in the test resource, then it is stopped at the end.

If I move that to the test class itself, I wouldn't be able to do that in a beforeAll/afterAll since the DevServicesContext is not static.

How would I get around that? Still use the test resource but implement ContextAware?

[2021-11-30 16:35] SMakhrov commented on #21823
I've tried to use image for java 17:
[code]

But again I got another error:

[code]

Looks like memory error. But I have 16GB RAM on my PC

[2021-11-30 16:40] overheadhunter commented on #21821
I can confirm this works in nested tests. For now this should be a feasible workaround.

[2021-11-30 16:49] geoand commented on #21819
Yup, that should do the trick - something like: https://github.com/quarkusio/quarkus/blob/2.5.0.Final/integration-tests/container-image/maven-invoker-way/src/it/container-build-jib-with-mongo/src/test/java/org/acme/DummyResource.java

[2021-11-30 16:51] SMakhrov commented on #21823
Increasing available memory for docker till 6GB was helped. Issued can be closed.

[2021-11-30 17:33] teksupp12 commented on #16613
Thank you for the responses. Could we expect any fixes for this in upcoming releases?
@Sanne @mswatosh

[2021-11-30 17:36] leonardochen30 opened #21825 "File download not working when upgrade to 2.5.0.Final"
### Describe the bug

When return a File type on response the file is not send to the browser, on 2.4.2.Final works ok.

### Expected behavior

File send successfully.

### Actual behavior

the browser don't get any response.

### How to Reproduce?

1. Create a resource
2. return any file:

public Response getFile() {
   File file = new File("/path/tp/file");
    return Response.ok(new FileInputSt

[2021-11-30 17:40] pjgg opened #21826 "Quarkus Flyway is not supporting Microsoft SQL server 14/15"
### Describe the bug

Quarkus version: `999-SNAPSHOT` (Upstream)

When I try to load a DB init script through Quarkus Flyway I am getting the following error:

[code]

I have tried to downgrade Mssql version to 14.0 but is still not working.

**Note:** Is working with previous Quarkus version as `2.3.0.Final` or `2.5.0.Final`

Involved extensions:

[code]
 Configuration example:
[code]

### Expect

[2021-11-30 17:48] edeandrea commented on #21819
That seems to work. How does https://github.com/edeandrea/quarkus-super-heroes/blob/main/rest-fights/src/test/java/io/quarkus/sample/superheroes/fight/KafkaBrokerResource.java and https://github.com/edeandrea/quarkus-super-heroes/blob/main/rest-fights/src/test/java/io/quarkus/sample/superheroes/fight/rest/FightResourceIT.java look?

[2021-11-30 17:59] geoand commented on #21819
LGTM!

So I assume you are fine closing the issue?

[2021-11-30 18:00] edeandrea commented on #21819
Yup I am! I'll even do it for you! Thanks for the help!

[2021-11-30 18:00] #21819 closed

[2021-11-30 18:37] MikeEdgar commented on #21509
Fix incorporated with #21813

[2021-11-30 18:41] #21509 closed

[2021-11-30 18:44] #21674 closed

[2021-11-30 18:47] michalszynkiewicz commented on #21703
@radcortez if I understand the quesiton correctly, then the answer is yes.
Having properties from application.properties/yaml should be enough for code gen IMO

[2021-11-30 18:57] michalszynkiewicz commented on #21488
👍🏻 on the first one, sorry for the late response.

[2021-11-30 19:08] josephearl commented on #21822
Sorry thought I'd made a mistake so closed the issue, but after re-testing this does seem to be an issue.

[2021-11-30 19:22] gsmet commented on #21826
See https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.6#flyway .

[2021-11-30 19:32] snowe2010 opened #21827 "Amazon Lambda tests fail with 404, but devmode works fine"
### Describe the bug

Following along with the guide for the updates to the amazon-lambda dependency, where we can now call the `MockEventServer`, both in devmode and in tests, I've updated our project and devmode works fine, but tests all fail with a 404 not found.

### Expected behavior

I would expect tests to work the same way devmode does. I should be able to hit the test port with an event,

[2021-11-30 19:32] #21826 closed

[2021-11-30 19:36] patriot1burke commented on #21346
Open up a new issue.  I did have problems running test-mode from WITHIN the dev-ui, but everything else worked fine for me.  Please open a new issue with exact steps to reproduce.

[2021-11-30 19:47] patriot1burke commented on #21827
I believe this is related to:  https://github.com/quarkusio/quarkus/issues/21282

[2021-11-30 19:48] ncorai commented on #21422
@glefloch do you have a timeline for this fix?
I went to look at the [quarkus-avro](https://github.com/quarkusio/quarkus/blob/main/extensions/avro/deployment/src/main/java/io/quarkus/avro/deployment/AvroSchemaCodeGenProvider.java) extension as you suggested, and there is no support to configure custom logical types, which it would then pass to the [Avro compiler](https://avro.apache.org/docs/curre

[2021-11-30 19:51] josephearl opened #21828 "Warning on startup in dev mode: Unrecognized configuration key "quarkus.jacoco.report""
### Describe the bug

I am using Gradle together with the Jacoco Gradle plugin and the `io.quarkus:quarkus-jacoco` extension as a `testImplementation` dependency.

I have configured `quarkus.jacoco.report` to be false in my `application.yaml` - this works as expected and prevents the duplicate and empty HTML report being generated by the extension so I can just use the HTML report generated by the

[2021-11-30 19:58] patriot1burke commented on #21827
Lol, sorry, same person.

[2021-11-30 20:08] snowe2010 commented on #21827
@patriot1burke You believe it's still an issue with vertx? Why would it work in devmode just fine then, but not in tests? Also, I've removed all dependencies on resteasy, except for the required ones like restassured.

[2021-11-30 20:43] snowe2010 commented on #21827
hm. updating to 2.5.0 results in a 405 rather than a 404.

[2021-11-30 20:45] glefloch commented on #21422
@ncorai, I haven't seen this error before. I will try to have a deeper look tomorrow. Also, I will look on how we can update the Quarkus avro extension to add support for those features.

[2021-11-30 21:57] scrocquesel commented on #14537
@sberyozkin as per the requirement described here https://github.com/quarkusio/quarkus/issues/9622#issuecomment-643300383, I agree with @atoom.

Current implementation didn't not allow an application to be behind a reverse proxy that does path transformation, like [traefik prefix stripping](https://doc.traefik.io/traefik/v2.0/middlewares/stripprefix/).

If you want some more info on this feature,

[2021-11-30 22:49] lukehutch commented on #8530
Yes, it would be worth it to bump the required ClassGraph version, if you're depending upon 4.8.116.

ClassGraph is converging on a bug rate of zero -- I have pushed out a lot of releases in the last few months, but almost all of them have been to fix tiny corner cases. I don't plan any other major features (other than that once the library totally stabilizes, and there have been no bug reports fo

[2021-12-01 01:17] stuartwdouglas commented on #21821
We do have a nicer API under development: https://github.com/quarkusio/quarkus/pull/21115

[2021-12-01 04:13] stuartwdouglas commented on #21795
It was specific to RESTEasy Reactive

[2021-12-01 04:43] gastaldi opened #21833 "Cron expression defined as a config property in application.properties is not resolved while starting the application in native mode"
### Describe the bug

I'm using the `quarkus-scheduler` extension and I have the following method:
[code]

In my `application.properties`, I have the following entry defined:
[code]

The application starts up fine in JVM mode (including `quarkus:dev`) but fails with the following error when running in native

[code]

### Expected behavior

The data in `application.properties` should be used as the