[2019-07-10 14:40] geoand commented on #3176
On a super simple sample project, I came up with 10+ properties whose value was an instance of String

[2019-07-10 14:40] gsmet commented on #3176
I created https://github.com/quarkusio/quarkus/issues/3177 so that we track the filter idea properly.

[2019-07-10 14:46] solsson commented on #2718
Will https://github.com/quarkusio/quarkus/pull/3060 help? How about https://github.com/quarkusio/quarkus/projects/10?

Given how Kafka clients fail at runtime with the rather opaque error message described above, what's the rationale for removing the compression types at build time? I suppose an alternative could be to let it fail at runtime with an error that is either class loading or JNI, depen

[2019-07-10 15:32] kenfinnigan opened #3179 "Improve error message when JSON object is missing no-arg constructor"
**Description**
If I have a POJO that represents a JSON object being returned from an external service call, and it doesn't have a no-arg constructor I get a stacktrace like:

[code]

It's only by evaluating the very last bit above seeing it was calling `createNoArgConstructorInstance` did I realize my POJO was missing a no-arg constructor.

**Implementation ideas**
Would be great if Quarkus can i

[2019-07-10 19:17] #3177 closed

[2019-07-10 19:17] #3176 closed

[2019-07-10 19:17] #3151 closed

[2019-07-10 21:29] ppalaga commented on #2113
No, what I have is not Camel only. I am aiming at adding extension modules to source trees similar to quarkus or camel-quarkus.  Creating standalone extension projects is out of my scope now. I am adding the new mojo to `devtools/maven` module of the Quarkus repo. I hope I'll be able to send a PR soon.

[2019-07-10 21:43] stalep commented on #3174
I'm on PTO this and next week. I won't have much time to look at it until I'm back.

[2019-07-10 22:23] clochardpagan opened #3182 "Order of config alternations is not obvious"
Not sure, but may we need to reorder environment and system property checks. System property is something issued by user to force change in behaviour, and environment variables is a part of host system. So we can assume that if user starts application with some system configs that's his wish, if none - take what environment has, if it's also empty - let it be default.

[ProfileManager.java](https:

[2019-07-10 22:24] stuartwdouglas commented on #2991
This is definitely the same issue.

[2019-07-10 22:24] #2991 closed

[2019-07-11 05:46] gwenneg commented on #3182
Hi @clochardpagan.

I'm also more familiar with system properties taking precedence over environment variables than the current Quarkus profile resolution logic. There might be a reason why it was done that way in Quarkus, @stuartwdouglas will probably have this answer to this.

Anyway, the current behavior is documented in the [Quarkus application configuration guide](https://quarkus.io/guides/ap

[2019-07-11 06:08] stuartwdouglas commented on #3182
My thinking was that for for cloud/containers this is the reverse, the system property is something that is build into your container image, and the environment variable is something that is explicitly set for the deployment.

That said I just realised that MP config uses the opposite rules so I will change it.

[2019-07-11 06:12] #3145 closed

[2019-07-11 06:28] gwenneg commented on #3182
@stuartwdouglas I can take care of this if you want.

[2019-07-11 06:29] tokazio commented on #1658
I'm interested too for a oracle jdbc 'native' solution

[2019-07-11 06:30] stuartwdouglas commented on #3182
Great

[2019-07-11 09:28] FroMage opened #3186 "ArCContextProvider does not propagate request context"
As explained on Zulip and https://github.com/eclipse/microprofile-context-propagation/issues/167, the current ArcContextProvider does not allow propagation of the request context, because it captures/restores values instead of the entire context.

We need to fix this because ATM it can't be used by reactive applications, which is the whole point of MP-CP.

Reproducer:

[code]

[code]

Then make tw

[2019-07-11 09:38] #3182 closed

[2019-07-11 10:40] hugomarcelino-spotqa commented on #1374
The problem persists. You can verify that if you build this repo: https://github.com/hmarcelino/millions

[2019-07-11 10:43] Delfic commented on #2809
I'm having a similar problem. I'm using a specific class to use on the camel-core component. When I run it works, when I run in dev mode I get a `ClassNotFoundException` at ` at io.quarkus.camel.core.deployment.CamelInitProcessor.visitService(CamelInitProcessor.java:154)`
I'm wondering why that works not on dev mode, is it using `camel-core` instead of `quarkus-camel-core`. How would that make a d

[2019-07-11 11:44] geoand commented on #1374
There is a regression in 0.19.0 WRT Gradle and 0.19.1 will follow soon. Lets reexamine your reproducer once that is ready

[2019-07-11 13:03] mkouba opened #3189 "Interceptors - support injection of @Intercepted bean metadata"
See the spec: https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#bean_metadata

[2019-07-11 13:13] aloubyansky opened #3190 "introduce quarkus-deployment-bom"
Currently we have `quarkus-bom` which includes all the Quarkus extension runtime dependency versions. Which is then imported by `quarkus-build-parent` and user applications.

We are not offering an equivalent BOM for externally developed extension projects. A workaround would be to import `quarkus-build-parent` as a BOM. That's not its primary purpose though.

I suggest we introduce `quarkus-deplo

[2019-07-11 13:52] #2854 closed

[2019-07-11 14:13] #1963 closed

[2019-07-11 14:13] gsmet commented on #1772
I think this one is fully implemented now thanks to @machi1990 .

[2019-07-11 14:13] #1772 closed

[2019-07-11 14:14] #3148 closed

[2019-07-11 14:27] bender316 commented on #1525
Any news on this topic?

The current behavior of ArC leads to a lot of extra effort if used libs rely on `bean-discovery-mode=all`.

[2019-07-11 15:05] loicmathieu commented on #3166
Hello,

There is two sides on this issue:
1. Formatting the log to EFK or ELK: usually, it's advised to just generate standard logs and making in EFK/ELK the logs mapping to the internal representation. So I don't think there is something specific to be done in Quarkus. Of course it exists some solution for log4j to generate log events in logstrash native format but I don't think it's a good idea.

[2019-07-11 15:18] gsmet commented on #3166
Even if we don't end up doing anything (it appears it's not needed), I think it would be interesting to have a blog post explaining how to properly map the fields and so on.

This way, we could also check that we have all the necessary information to do it.

[2019-07-11 16:23] kenfinnigan opened #3195 "Update SmallRye Metrics to 2.0"
**Description**
Update to latest SmallRye Metrics implementation

**Implementation ideas**
Update the version

[2019-07-11 16:43] machi1990 commented on #3195
There is a draft PR: https://github.com/quarkusio/quarkus/pull/2695

[2019-07-11 16:54] #3147 closed

[2019-07-11 17:20] elamotte7 opened #3197 "Upgrade Quarkus from 0.18.0 to 0.19.1"
**Describe the bug**
I updated my Quarkus project from 0.18.0 to 0.19.1. And there are some regressions.
Starting the runtime failed, my unit tests too.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
The application was working fine (runtime and ut).

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
Starting the runtime failed :
19:02:29,051

[2019-07-11 17:23] elamotte7 commented on #3197
Solved by adding io.fabric8:kubernetes-client:4.3.0

[2019-07-11 17:37] gsmet commented on #3197
Let's try to understand what's going on.

[2019-07-11 18:18] #3190 closed

[2019-07-11 18:29] dmlloyd commented on #3166
Related #453, #2348

[2019-07-11 19:50] geoand commented on #3197
I'll take a look

[2019-07-11 20:09] #3156 closed

[2019-07-11 20:12] #2048 closed

[2019-07-11 21:06] brunoborges commented on #2931
Thanks for adding support for this!

[2019-07-11 21:17] brunoborges commented on #2931
Eeerr.... it continues to append the suffix `-runner` despite specifying a custom `<finalName>` along with `<uberJar>`.

[2019-07-11 21:53] gwenneg commented on #3149
I just tested this with both `0.19.1` and `master`, tests are run under `foo` instead of the `test` profile.

**To reproduce**
- `git clone https://github.com/gwenneg/quarkus-test-profile`
- `./mvnw clean install -Dquarkus-profile=foo`

**Expected output**

[code]

**Actual output**

[code]

[2019-07-11 22:41] gwenneg commented on #3119
This was fixed by #3154, right?

[2019-07-11 22:47] gwenneg commented on #2822
Considering `registry.fedoraproject.org/fedora-minimal` was replaced with `registry.access.redhat.com/ubi8/ubi-minimal` in all quickstarts `Dockerfile.native` files. I'd say this issue can be closed.

[2019-07-11 22:47] #2822 closed

[2019-07-12 01:50] luszczynski opened #3200 "Implement OpenshiftClient on Kubernetes Client Extension"
**Description**
I've been using Kubernetes Client Extension for a while and I can't find a way to create a `DefaultOpenShiftClient` [1]. It seems to me that this class is not available yet on Quarkus 0.19.0. Am I right?

Any plans to solve this?

[1] https://github.com/fabric8io/kubernetes-client

[2019-07-12 07:25] PhoenixGit123 commented on #1658
Me too

[2019-07-12 07:32] ppalaga commented on #2113
The PR https://github.com/quarkusio/quarkus/pull/3191 is ready for review.

[2019-07-12 09:06] geoand commented on #3200
You are correct, currently we only offer the Kubernetes Client. It should be fairly easy to add the Openshift Client (probably a new extension that would add the openshift client dependency and maybe add some more reflection registering and/or substitution)

[2019-07-12 09:09] gsmet commented on #3200
Definitely looks like something we should do.

[2019-07-12 09:14] geoand commented on #3200
@luszczynski if you want to get your hands dirty on Quarkus, I will gladly help out. Otherwise, I can probably take this up sometime before the `0.20.0` release

[2019-07-12 09:17] muirandy opened #3202 "Kafka Streams Extension can't find Serdes.StringSerde"
**Describe the bug**
Native image generated cannot find the StringSerde. This causes the app to fail on startup.

**Expected behavior**
The app should start up and run without issues.

**Actual behavior**
I have a Java Kafka Streams app. I configure the Serdes.StringSerde as the default Serdes in the Kafka properties.
I then build a native image (either on OSX or docker).
When I run the native ima

[2019-07-12 10:42] lordofthejars opened #3204 "Auto-configure H2 test resource"
**Description**
Configuration of H2 could be automatically provided in the H2DatabaseTestResource as we know exactly what are the parameters we are configuring in the H2 instance.

Properties set using these method has a high preference than the ones provided when using %test profile.

Discussion here: https://groups.google.com/forum/#!topic/quarkus-dev/XL-sET6HFfs

[2019-07-12 11:04] lordofthejars opened #3206 "Quarkus Test Resources should be sortable"
**Description**
Quarkus Test Resources should be sortable so the developer can have a way to define in which order they should be started.

[2019-07-12 11:27] manovotn commented on #3186
[code]

This won't really work because CDI doesn't know when the request is truly over. The propagation is done in a way that the next task activates request scope (with no link to actual original HTTP request) and once done it tears it *deactivates* the context but deliberately doesn't *destroy* is hence `@PreDestroy` callbacks won't execute. I've even added some docs on that to Weld, but I suppo

[2019-07-12 14:12] #3189 closed

[2019-07-12 14:25] machi1990 opened #3210 "MongoDB extension test failure in CI"
**Describe the bug**
When working on https://github.com/quarkusio/quarkus/pull/3208, I got CI failure for Linux JDK build for MongoDB extension.

**Expected behavior**
The CI build to succeed.

**Actual behavior**
The build fails: https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=4430&view=logs.

**Environment (please complete the following information):**
 - ci (Linux jdk build)

**

[2019-07-12 14:40] loicmathieu commented on #3210
Hi @machi1990 do you have the complete output of mongodb logs ?

I face issues on local build (I run Unbuntu 19.04) and I need to launch mongodb integration tests on sudo mode or else MongoDB refuses to start.

I suspect some intraction with the system (like filesystem authentication) occurs.

If we could switch to TestContainers for this kind of tests it will be easier but it will needs Docker in

[2019-07-12 14:52] machi1990 commented on #3210
Hi @loicmathieu

I included the link to the logs but it does not exists anymore. Maybe @gsmet or @cescoffier or anyone with admin rights on Azure pipelines maybe able to retrieve them if it helps with the investigation. Too bad I did not save the complete log locally.

You think it might be related?

[2019-07-12 14:57] tcollignon commented on #2305
Hi,

I have test with quarkus 0.19.1 and GraalVM 19.0.2, but it still the same

`
2019-07-12 16:48:25,904 INFO  [io.quarkus] (main) Quarkus 0.19.1 started in 0.003s. Listening on: http://[::]:8080
2019-07-12 16:48:25,904 INFO  [io.quarkus] (main) Installed features: [cdi, resteasy, resteasy-jsonb]
[root@lddocedt1 ~]# docker logs -f 915
2019-07-12 16:48:25,904 INFO  [io.quarkus] (main) Quarkus 0.19

[2019-07-12 15:12] gsmet commented on #2305
Totally forgot about it, sorry. Let's try to get this done for 0.20.0.

[2019-07-12 15:13] gsmet commented on #2305
Adding `good first issue` here as I think it shouldn't be too hard to fix given the information present in the GraalVM issue.

[2019-07-12 15:16] gsmet commented on #3210
No we don't have access to them. I don't know what triggers the build suppression but it's really annoying :/

[2019-07-12 15:28] loicmathieu commented on #3210
What is strange is that it didn't occurs on all builds, this one just pass a few minutes ago: https://github.com/quarkusio/quarkus/pull/3063/checks?check_run_id=166783060

[2019-07-12 15:32] machi1990 commented on #3210
@gsmet +1 on the annoyance part. I would expect the builds artifacts to be kept for some time (configurable via an expire timeout maybe)

@loicmathieu really strange. Looks like a one off thingy or random failure. Hard to investigate on either case.

[2019-07-12 18:53] tcollignon commented on #2305
Nice, tell me if I can help you !

[2019-07-12 19:21] FroMage commented on #3186
Well, I've switched to an implementation that copies the mutable `Map` and I do get the context properly destroyed when the request context is destroyed by the underlying http request. So it works, really.

[2019-07-12 19:24] FroMage commented on #3186
It's destroyed in `UndertowDeploymentTemplate` when the async request is over, as is proper. If you try to copy the context state instead of propagating the entire mutable request context, I don't think you can implement destroy properly.

[2019-07-12 19:25] FroMage commented on #3186
Though I see now it destroys a copy of the request state and not the entire request, so the same problem can happen. I'm not sure why it works in my test then.

[2019-07-12 19:26] FroMage commented on #3186
But it's easily fixable as well.

[2019-07-12 19:47] emmanuelbernard opened #3212 "Define how an extension or feature of an extension is marked as beta"
We need to define a way to set an extension or a set of features as "beta".
If an extension, I imagine that the metadata will hold that per release.

[2019-07-12 19:48] kenfinnigan commented on #3212
That's what we did with TT. We had metadata that indicated the stability of the extension.

We went so far as to create several BOMs based on that stability, but we probably don't need that extreme

[2019-07-12 23:05] gwenneg commented on #3146
/!\ The following comment is relying on a code change from #3213.

AFAIK, `maven-surefire-plugin` configuration relies on system properties which are passed on to the JVM just like `-D` arguments from the command line. But I might miss something here...

Here's one solution that could be applied to use a custom test profile:

[code]

This would work with both `maven-surefire-plugin` configuration

[2019-07-12 23:06] gwenneg commented on #3146
Ping @gsmet

[2019-07-13 10:23] Dufgui commented on #2529
@cescoffier hello, i put a commit. I don't know if it's follow your idea.
Please take a look, say me if it's ok. I can add maybe some tests no ?

[2019-07-13 11:14] luszczynski commented on #3200
@geoand I could give it a try. But I would definitely need some guidance on how to do it.
Do we need to create another extension? Or just improve the kubernetes client?

[2019-07-13 11:27] gwenneg commented on #3128
@gsmet Is there already someone working on such a cache extension?

I'd be very interested in contributing to Quarkus by submitting a new extension (it would be my first one) but I'm not a cache expert (only a regular user) so I'm wondering if this subject would be a good one.

[2019-07-13 11:34] geoand commented on #3200
I would say that adding a new extension that utilizes the existing one but also adds the new dependency would be the way to go.
It also might need some work to create the proper bean in the producer method.

[2019-07-13 11:51] gsmet commented on #3128
I think it would be an interesting addition.

Our choice of implementation would be Infinispan I suppose as we find it to be a good compromise for local and remote caching.

What would be interesting too would be to have caching annotations to automatically cache the result of a bean method - similar to what Spring has with the `@Cacheable` annotation.

/cc @Sanne

[2019-07-13 11:55] gsmet commented on #3197
Yeah, now that I read this with more attention, I think he tried to use `kubernetes-client` directly without using the extension and that didn't work well.

Using the extension did set up everything right and it then fixed the issue.

Closing.

[2019-07-13 11:55] #3197 closed

[2019-07-13 11:56] gsmet commented on #3202
I think it's related to the fact that, right now, the Serdes needs to be defined for reflection manually.

/cc @cescoffier

[2019-07-13 11:58] gsmet commented on #3202
/cc @gunnarmorling too.

[2019-07-13 12:00] gsmet commented on #3179
We need to understand if it's a Yasson issue, a RESTEasy issue or a Quarkus issue.

My understanding is that Yasson should throw an error earlier than that when it's building the model and can't find the constructor, but apparently it does not and we end up triggering a not null sanity check.

[2019-07-13 12:03] gunnarmorling commented on #3202
@muirandy, thanks for opening this, I think understand now what's happening.

When relying on the default key / value serde, they must indeed be registered for reflection manually atm. That's different from the programmatic use case in the quick start example, where there's an actual reference to their type and they are also not instantiated reflectively.

It's something the extension can take car

[2019-07-13 12:06] gsmet commented on #2782
@garyttierney would you be interested in taking this one? I think it's just about adding a sanity check before copying the directory.

[2019-07-13 12:07] gsmet commented on #3119
Yes, thanks for noticing!

[2019-07-13 12:07] #3119 closed

[2019-07-13 12:11] gsmet commented on #3146
Interesting proposal. It works for me.

WDYT @emmanuelbernard ?

[2019-07-13 12:12] machi1990 commented on #3179
A bit late to the party, will generating a no-arg constructor be another option?

[2019-07-13 12:12] gsmet commented on #3202
@gunnarmorling maybe you could point @muirandy to where the magic is done? He might be interested in contributing :).

[2019-07-13 12:17] gunnarmorling commented on #3202
The problem is this should only be really done once my other basic work for #2863 is done. It's only then that the extension will have access to the configuration used for Kafka Streams (which it then will be able to read and obtain those default Serde classes from). Right now the properties are "un-managed" and just given in the actual application code, so we don't really have handle to it.

[2019-07-13 12:18] gunnarmorling commented on #3202
I'm right now working on rebasing my PR for #2863 to the current master and sort out one issue with Dev mode. Once it's in, features like the one here can be implemented. I've added it as one item to the list in #2863.

[2019-07-13 12:32] muirandy commented on #3202
I'd be delighted to have a bash at implementing it - lets see how things look once #2863 is pushed.

I did try accessing the Serde in the code to see if it would help (it didn't):
[code]

[2019-07-13 12:38] gunnarmorling commented on #3202
@muirandy, it should work if you don't rely on the default key/value SerDe. If you e.g. remove those configuration values, Kafka Streams should tell you where they are missing. Most likely it's enough if you pass a `Produced` with the SerDe to that last `to()` call in your pipeline.

[2019-07-13 13:03] geoand commented on #3179
I agree with @gsmet that we need a thorough understanding of the root cause is.

Also, we already generate no-arg constructors in various cases, but I haven't looked into this issue to see if it makes sense here as well

[2019-07-13 13:23] machi1990 commented on #3179
Thanks @geoand for the answer. I was curious if it will be an option in this case too. What makes this case a bit different?

[2019-07-13 13:27] geoand commented on #3179
I haven't looked into it a lot, but from the little I have seen from the stacktrace I just have a hunch that it's a Yasson problem that wouldn't be solved by adding a constructor.
However if it turns out that it is just some weird limitation in RESTEasy, then adding a constructor to keep it happy (which we also do for JaxRS resources) might be an option

[2019-07-13 13:28] gwenneg commented on #3146
#3154 might prevent this from working with native images. This will have to be checked.

[2019-07-13 13:31] Dufgui commented on #3041
Hello @cescoffier , I create a little test in local and I see this errors:
[code]

So i update the kafkaProcessor. I think I need a complete test on it with stream to see if it's enought and if it's work

[2019-07-13 13:42] machi1990 commented on #3179
Thanks for shading some lights. It helps my understanding.

[2019-07-13 13:45] machi1990 commented on #3146
I like the proposal @gwenneg

Once we agree on `Dquarkus.test.profile` maybe will be just be a matter of reading the system property and using the value instead of the hardcoded `test` profile which will be the default value. WDYT?

[2019-07-13 13:46] gunnarmorling commented on #3030
@dmlloyd, I'm still seeing this issue as of today's master:

[code]

I.e. it's still trying for some reason to resolve that variable at build time. Note this is not triggered by my extension AFAICS but when Quarkus tries to process the properties. Here's my config:

[code]

The `quarkus.kafka-streams` is a runtime-configurable group, i.e. these values shouldn't be resolved at build time. Is there

[2019-07-13 14:10] geoand commented on #3179
You are welcome!

[2019-07-13 14:43] gsmet commented on #3179
Yeah, my guess is that the two things are a bit orthogonal:
- there's a bug somewhere because the error should be far more descriptive
- once we have fixed or reported it, we can discuss if it's a good idea to automatically add a default constructor. My guess is that even if we do that, there are cases for which we won't be able to do it and, in these cases, having the bug fixed will be useful any

[2019-07-13 14:56] cristhiank opened #3215 "CORS bug when preflight request is made to REST resource"
**Describe the bug**
When you enable CORS and your REST endpoints are installed in root, the RESTEasyFilter overlaps the CORSFilter and it nevers get called.

**Expected behavior**
The CORS headers should be added to the reponse.

**Actual behavior**
No CORS headers added to the response.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a REST Enpoint located in the root [@]Path("/") o

[2019-07-13 15:06] gsmet commented on #3138
@aloubyansky is it related to the issue you were trying to solve?

[2019-07-13 15:08] gsmet commented on #3092
@sberyozkin should the Keycloak server be started as an extension or should it be implemented on top of Quarkus?

[2019-07-13 15:13] gsmet commented on #2974
Just to let you know the issue is fixed in HV now: https://github.com/hibernate/hibernate-validator/pull/1041 .

But I can't release it right now as our CI is offline. Hopefully, it will come back soon and I'll update Quarkus to the new version.

[2019-07-13 15:20] gunnarmorling commented on #3058
@mkouba, ok, so I think this was a misunderstanding on my end. I have a `Singleton` bean (`KafkaStreams`) which is created via a producer method on an application-scoped bean (`KafkaStreamsTopologyManager`) provided by my Quarkus extension. `KafkaStreamsTopologyManager` expects a `Topology` to be injected created by a producer in the application. Now in that producer I was injecting `KafkaStreams`

[2019-07-13 15:49] gwenneg commented on #3215
I assigned you this issue since you said you'd submit a PR in the mailing list discussion.

[2019-07-13 16:15] gwenneg commented on #3102
@aloubyansky @gsmet I found several classes in `quarkus-devtools-common` and `quarkus-devtool-common-core` which contain Maven-dedicated code which should probably be in `quarkus-maven-plugin` instead.

For example, the [AddExtensions](https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java) class relies on `org.apache.maven.model`

[2019-07-13 16:30] gsmet commented on #3102
@aloubyansky is the right person to answer you but yeah, my inclination would be to have the Maven specific classes in the Maven plugin.

Let's wait for @aloubyansky 's blessing though as he might have things planned in this area.

[2019-07-13 19:10] gunnarmorling commented on #3202
Hi @muirandy, so I've updated the PR for #2863 now: https://github.com/quarkusio/quarkus/pull/2953. It should be in a state now where you could add the functionality we discussed above on top of it.

To do so, take a look at `io.quarkus.kafka.streams.deployment.KafkaStreamsProcessor#build()`. It'll have to produce further ``ReflectiveClassBuildItem``s for the default SerDes. The config values can

[2019-07-13 21:04] aloubyansky commented on #3138
Yes, looks the same as #3117

[2019-07-13 21:10] aloubyansky commented on #3138
Which Quarkus extensions are you using in this test @mgagliardo91?

[2019-07-13 21:17] aloubyansky commented on #3102
Yes, looks like those are assuming that the project is configured in a `pom.xml`, so that could be moved to the Maven-specific module.

[2019-07-13 21:25] gwenneg commented on #3102
Thanks for the answer @aloubyansky! I'll move some of the `common` code to the `quarkus-maven-plugin` then.

[2019-07-13 22:08] machi1990 commented on #3210
@loicmathieu the issue appeared again for PR #3216 and I managed to get hold of the full
[CI log](https://github.com/quarkusio/quarkus/files/3389268/16.txt)

[2019-07-14 02:33] mswiderski opened #3217 "Trigger hot reload for reactive messaging"
**Description**
Trigger hot reload of the application when new Kafka message is received, would be great to have it supported not only for Kafka but all transports supported by reactive messaging

Relates to discussion thread https://groups.google.com/d/msgid/quarkus-dev/5F5FFC95-3C70-4756-8191-13847D63D540%40gmail.com?utm_medium=email&utm_source=footer

[2019-07-14 09:18] MasterEx opened #3218 "Generated application.properties.example doesn't include CORS property"
**Describe the bug**

When generating an example application.properties files the `quarkus.http.cors` entry is missing. The other cors related entries are present as expected (i.e. `quarkus.http.cors.exposed-headers`).

**Expected behavior**

I would expect the example file to include all the available possible properties, including `quarkus.http.cors` along-side a relative comment.

**Actual beha

[2019-07-14 10:03] rastislavpapp opened #3219 "Upgrading 0.18.0 to 0.19.1 - AbstractMethodError - QuarkusConstructorInjector.construct()"
**Describe the bug**
When I upgraded from 0.18.0 to 0.19.1 my application failed to start using mvn quarkus:dev

**Expected behavior**
Application starts successfully

**Actual behavior**
Exception is thrown at startup:
`11:54:21,302 ERROR [io.qua.dev.DevModeMain] Failed to start quarkus: java.lang.ExceptionInInitializerError
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method

[2019-07-14 10:13] rastislavpapp commented on #3219
It was my fault, I redefined resteasy.version to a different value.

[2019-07-14 10:13] #3219 closed

[2019-07-14 10:45] gwenneg commented on #3218
Hi @MasterEx and thanks for reporting this!

[2019-07-14 12:01] gwenneg commented on #3218
@dmlloyd: It seems that all classes annotated with `@ConfigRoot(phase = ConfigPhase.BUILD_AND_RUN_TIME_FIXED)` are ignored when the `application.properties.example` is generated. Is this an expected behavior?

[2019-07-14 12:42] gwenneg commented on #3218
If it is not expected, then my PR is ready for a review.

[2019-07-14 13:49] anadollu commented on #3128
@gsmet JSR 107 already defines how the cache abstraction should be. And there are JCache Annotations and Events already defined. Also  there are many local or remote JCache provider implementations (Infinispan, hazelcast, eh-cache). Because of that, i suggested JSR107 extension instead of specific cache vendor extension. In my opinion we should stick with the spec and the first provider supported

[2019-07-14 14:08] dwamara commented on #2657
@gsmet @kenfinnigan @asoldano
Do you guys have any alternative solution or temporary recommendation for the rest client? We're at the moment completely stuck in our development: all the different services have been implemented but calling each other is at the moment a no-go.

[2019-07-14 14:15] kenfinnigan commented on #2657
A PR to update to use RESTEasy as the Client implementation is underway: https://github.com/quarkusio/quarkus/pull/3209

Though I just looked at the reproducer and noticed that https://github.com/dwamara/quarkus-rest-client_bug2657/blob/master/caller/src/main/java/bug2657/boundary/remote/CalledService.java and https://github.com/dwamara/quarkus-rest-client_bug2657/blob/master/caller/src/main/java/

[2019-07-14 14:52] dwamara commented on #2657
Now you make me look stupid, I bumped the version to 0.19.1 and added the forgotten annotation and it seems to work now.

[2019-07-14 14:53] kenfinnigan commented on #2657
The error with the `PartialResponse` is because of an exception in the call, which is a problem, maybe just not the one that would have been expected.

I think this should be fixed with the update in the PR

[2019-07-14 15:11] gsmet commented on #3128
Ah I didn’t know JCache had a set of annotations, I only used the cache abstraction in the Hibernate ORM context.

I agree with everything you said.

[2019-07-14 15:13] gsmet commented on #3128
@anadollu do you plan to work on this or can @gwenneg give it a go?

[2019-07-14 16:49] dcdh opened #3221 "Mailer extension should produce an ExtensionSslNativeSupportBuildItem"
**Describe the bug**

In `native mode` sending an email throw an exception and email is not sent.

**Expected behavior**
 `curl http://localhost:8080/simple` should send a mail.

**Actual behavior**

An exception is thrown.

2019-07-14 18:31:24,598 INFO  [io.quarkus] (main) Quarkus 0.19.1 started in 0.016s. Listening on: http://[::]:8080
2019-07-14 18:31:24,598 INFO  [io.quarkus] (main) Installed

[2019-07-14 18:02] machi1990 commented on #3221
Hey @dcdh, I looked at the configuration file and I think you are missing
[code]
can you try adding the configuration option. For more info on how to set SSL in native images see our guide: https://quarkus.io/guides/native-and-ssl-guide

@gsmet @cescoffier should we activate activate ssl for native images when `quarkus.mailer.ssl` is set to true?

[2019-07-14 19:06] mmornati commented on #2125
Hey. Do not know if the problem is still actual... I going through it today and I fixed with a multi stage build of my Quarkus final native image (is to prevent the needs of copying GraalVM files from my laptop to the project folder).

[code]

The first stage is simply extracting the files you talked about in this thread (thanks a lot guys... you saved me days !!).
The second stage is recovering t

[2019-07-14 22:18] dcdh commented on #3221
@machi1990 I confirm, adding `quarkus.ssl.native=true` in `application.properties` fix the problem.

Document this behavior into https://quarkus.io/guides/sending-emails may be a great help.

[2019-07-14 23:08] dcdh opened #3223 "Unable to send email when consuming a kafka topic"
**Describe the bug**
I want to send a mail from a kafka consumer. However it does not work, the Vertx event loop is contently failing and the mail is not send.

**Expected behavior**
A mail should be sent when consuming a kafka topic.

**Actual behavior**
The Vertx event loop infinitely fail by throwing this kind of exception:

AVERTISSEMENT: Thread Thread[vert.x-eventloop-thread-0,5,main] has bee

[2019-07-14 23:21] #3218 closed

[2019-07-15 07:17] mkouba commented on #3058
Hm, circular dependencies are not supported at the moment but you should see some meaningful error message instead. Could you share the code?

[2019-07-15 08:00] gsmet commented on #3223
@cescoffier I think this one is for you.

[2019-07-15 08:45] gunnarmorling commented on #3058
@mkouba, here's the code:

* Build Quarkus with PR https://github.com/quarkusio/quarkus/pull/2953
* Then take the quickstart example which I've updated based on that PR: https://github.com/gunnarmorling/quarkus-quickstarts/commit/d7b64661526f47e279b5b439ef643c17ec0a52d9

If you change it so that `KafkaStreams` is injected into `TopologyProducer`, the injected bean will be null. The quickstart work

[2019-07-15 08:45] loicmathieu commented on #3128
Hello,

It was on my todo list also :) but I'm very busy at the moment ...

I really love to see a JCache extension that, based on annotations, allow
to easily implement a cache layer on top of existing methods. It should not
be too complicated to build with CDI interceptors.

There is already a cache implementation on Quarkus for Hibernate
second-level cache (https://quarkus.io/guides/hibernate-o

[2019-07-15 08:45] muirandy commented on #3202
@gunnarmorling How do I go about this? Do I fork your fork? First time doing this, apologies for nb question!

[2019-07-15 08:47] gunnarmorling commented on #3202
@muirandy, yes, you could fork my fork, and create a local branch based on my branch upon which this PR is based. If you then submit a pull request with your work against the upstream repo in the Quarkus organization, that'd either include my commits here or not, depending on whether my PR has been merged at this point yet or not. Hope this helps, if not let me know.

[2019-07-15 09:09] gsmet commented on #3128
@gwenneg I think you can start on this if you want.

My proposal would be to do it step by step:
- implement the interceptor layer based on the JCache annotations backed by Infinispan: I think this one only would already be a quite significant work
- see if we can configure the caches via Quarkus: note that the configuration exposed by JCache is quite limited: you can't set a limit to the number o

[2019-07-15 09:16] gwenneg commented on #3128
@gsmet Ok I'll start working on this and share a branch this week.

[2019-07-15 09:18] gsmet commented on #3128
@gwenneg take a look at the Hibernate Validator extension to know how to deal with interceptors.

[2019-07-15 09:26] #3149 closed

[2019-07-15 09:37] emmanuelbernard commented on #3146
I knew an explicit test profile property was a possibility but I did not explore it much. Can someone take the examples I laid in the Quarkus-dev thread and extend them to show how that better solves the problem? I think it’s fine but it’s to weight the extra property vs it’s advantages. Also let’s put @aloubyansky in the loop to make sure there is not hidden problem on the maven / Gradle front.

[2019-07-15 09:40] emmanuelbernard commented on #3146
Stuart’s core argument against something Quarkus specific was that a custom test will require advanced testing customization and environment changes and that it was better served in the build system proper.

[2019-07-15 09:45] gwenneg commented on #3146
I'm reopening this since it was automatically closed because of #3213 merge but there's still work to be done here.

[2019-07-15 10:34] Sanne commented on #3128
N.B. the Quarkus team is aiming for an "opinionated" approach, so that we can focus on a smaller set of moving parts in terms of dependencies and actually support an high quality integration among _all_ dependencies.
While it's ok to make as many extensions as you want outside of the "core Quarkus" repository, we will want to pick (and recommend, document, etc..) a single implementation for each u

[2019-07-15 10:44] ginccc opened #3225 "NPE when trying to build a maven module that has no src folder"
[code]

Error handling should be improved here.

Cause: the module had no src folder structure defined

[2019-07-15 10:50] gsmet commented on #3225
@ginccc can you get the full stracktrace from Maven, that would help. Thanks!

[2019-07-15 11:20] tlvenn commented on #2509
Yes it would be great to have an official integration with GraphQL / graphql-spqr.

[2019-07-15 11:28] gwenneg commented on #3128
@Sanne Ok, I'll do that.

[2019-07-15 12:01] kenfinnigan commented on #2509
It might be possible to use the libraries directly as dependencies, though not sure about native for that.

Longer term we will likely provide an extension for MP GraphQL once https://github.com/smallrye/smallrye-graphql has an implementation.

[2019-07-15 12:18] ginccc opened #3226 "Quarkus seems to need source files in the maven root folder in order to work"
[code]
In this case, i try to build a multi maven project. The root doesn't have a src folder therefore also no target folder. However, all the sub-modules have source folders, therefore a valid structure.

mvn clean package works fine.

./mvnw compile quarkus:dev  however throws the above error.

only if there is a target folder containing build information is quarkus satisified.

In a multi-modu

[2019-07-15 12:54] rsvoboda opened #3227 "Quarkus uses deprecated WildFlyElytronProvider"
Quarkus uses deprecated WildFlyElytronProvider, this should be adjusted to the changes which caused that deprecation.

Deprecated via https://github.com/wildfly-security/wildfly-elytron/commit/e6b8dbed4e81ed00a27a9b4183374d8c3b42f03e, per-module providers were introduced.

@fjuma @darranl what should be used instead of WildFlyElytronProvider for Quarkus ?
CC @starksm64

[2019-07-15 13:03] loicmathieu commented on #3210
Hello,
I check the log and it's not the same issue as I ran in my local environement. This seems to be a real issue with the test cases but I launch them twice and never it that one. Maybe the test cases should be more permissive in there assertions ...
I do run into an issue where the database didn't succeed in stopping and this generates an error.

So the tests are not stable but as the issues a

[2019-07-15 13:10] darranl commented on #3227
There are some general security discussions that will clarify this further.

[2019-07-15 13:12] ginccc opened #3228 "Encoding errored output in maven on windows"
Running ./mvnw compile quarkus:dev on windows produces very hard to read runtime output.

[code]

tried it in CMD on windows 10 and Git Bash inside intellij.
Not entirely sure if this is a local encoding issue or a bug... So in case i simple do something wrong here, please let me know.. :-)

[2019-07-15 13:15] manovotn commented on #3186
For the record, this is the bit in Undertow what needs changing as well - https://github.com/quarkusio/quarkus/blob/master/extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java#L489

[2019-07-15 13:22] atzoum commented on #3120
Currently if envers is in the classpath quarkus:dev fails with:

[code]

After some quick investigation looks like `PreconfiguredServiceRegistryBuilder#buildQuarkusServiceInitiatorList` ignores `EnversServiceInitiator` even though the `RecordedState` holds the relevant `EnversIntegrator`. As a result the destroyed `StandardServiceRegistryImpl` is resetAndReactivated without `EnversServiceInitiator

[2019-07-15 13:24] FroMage commented on #3186
The file is now called `UndertowDeploymentRecorder`: https://github.com/quarkusio/quarkus/blob/master/extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/UndertowDeploymentRecorder.java#L494

[2019-07-15 13:31] #3206 closed

[2019-07-15 13:33] XciD commented on #2450
Could we have another port for internal resource ? like metrics or health ?

So we could use it for local parse (like kubernetes probes or pronmetheus scrape) and just expose the user resources with another port ?

[2019-07-15 13:51] #3055 closed

[2019-07-15 14:03] atzoum opened #3231 "Cannot register an additional StandardServiceInitiator in hibernate-orm extension"
When building the `StandardServiceRegistry` inside `FastBootHibernatePersistenceProvider` there should be some way to register an additional `StandardServiceInitiator` apart from the default ones contained in `PreconfiguredServiceRegistryBuilder`. If this was possible, using Envers without including it in the hibernate-orm extension might be possible (see #3120).

The following TODO that exists in

[2019-07-15 14:03] gsmet opened #3232 "Review all the configuration properties"
We need a full review of all the configuration properties before 1.0 to improve consistency across the core extensions.

When doing so, we should try to document the conventions for future extension writers.

A few examples of issues:
- having `feature.enable = true`/`enable-feature = true`/`feature-enabled = true`/`feature = true`
- CORS configuration inconsistent in HTTP config and Keycloak exte

[2019-07-15 14:11] dmlloyd opened #3233 "Allow extensions and/or build steps to be disabled by config"
We should allow build steps to be skipped or excluded based on configuration.  Right now the build time configuration is being set up during the build process, but there is really no reason to do it this way; we could possibly have a utility to set it up the configuration ahead of time which would make this possible.

We could add annotations that allow some kind of predicate class to be specified

[2019-07-15 14:48] ginccc commented on #3225
[code]

[2019-07-15 15:21] dmlloyd commented on #3030
Could you try https://github.com/dmlloyd/quarkus/commit/fix-3030-again ?

[2019-07-15 15:59] evanchooly commented on #3099
this is provided via #3180

[2019-07-15 16:09] garyttierney commented on #2782
Yep, I can pick this one up. I'm touching that code at the moment.

[2019-07-15 16:27] xorye commented on #1655
Hi, could you explain in a bit more detail about how this approach works? Our team is very interested in implementing application.properties completion support via a language server and would really benefit from a way to have some sort of metadata about config settings from build time and run time.

[2019-07-15 16:32] machi1990 commented on #3225
@ginccc would you like to take a stab at it? :-)

[2019-07-15 17:04] ben-manes commented on #3128
fyi,

JCache annotations have quirks you should be aware of before using.
 - Mostly incompatible with other JCache features (CacheWriter, CacheLoader, CacheEntryListener, etc).
 - Allows for query storms on a cache miss (`@CacheResult` is a non-blocking load)
 - Silently creates anonymous, unbounded caches if the cache name was not configured explicitly.

These can be worked around, but may requir

[2019-07-15 17:33] Sanne commented on #3128
hi @ben-manes , great to see you commenting as well!

I totally agree. In fact I tried to push back on JCache during a previous design meeting, and discussed such limitations with @galderz  - he's the caching expert on the team: implemented the Hibernate caching layer w/o using JCache but rather using a thin layer from Infinispan code as adapter (and to reuse some welltested code we already had),

[2019-07-15 18:17] ben-manes commented on #3128
Thanks @Sanne. I agree with not blocking users from getting their work done, and if that means supporting JCache then that's great. I was mostly meaning to warn users from expecting too much from it, as I think it is mostly bad for application code. That doesn't mean not supporting it here, just perhaps not evangelizing it when added. JCache is great for simple integrations between frameworks.

JC

[2019-07-15 19:07] gwenneg commented on #3228
Hi @ginccc. I just ran a `mvnw quarkus:dev` in a Windows 10 `cmd` window and got the same result with encoding issues. However, `./mvnw quarkus:dev` in a Git Bash window is not affected by this on my computer.

[2019-07-15 19:23] ginccc opened #3235 ""java.lang.OutOfMemoryError: GC overhead limit exceeded" when building native app"
Hi,

I am trying to build a native app, but constantly get this error. I have setup memory limits to 4gb already for maven.
Can it really be that this build needs so much memory or might there be a other problem?

[code]

[2019-07-15 19:49] dcdh commented on #3223
I have simplify the project `todo-email-notifier-app` used to reproduce this bug.

[2019-07-15 20:15] dcdh commented on #3223
I have found a workaround by using a `ReactiveMailer` instead of a `Mailer`. You will find a commit called `workaround`.
Please note that if I make the `ReactiveMailer` no more reactive by using this code in `MailerEmailNotification` :

[code]

it will fail too (same exception).

[2019-07-15 20:41] mmornati commented on #3235
Hey, I add exactly the same problem at the beginning on my Mac. The amount of memory I think it can depend on the number of modules you are adding to your project.
In my case, I simply fixed it just adding memory to my Docker Machine (it seems you are building using docker too). How much? No idea... here you are what I have and it is working for me:

![image](https://user-images.githubusercontent.

[2019-07-15 21:01] Dufgui commented on #2173
I check the template code, we have just one template:
https://github.com/quarkusio/quarkus/blob/b11c1261626376c59744389551061174abae5d3d/devtools/common/src/main/java/io/quarkus/cli/commands/CreateProject.java#L127

This one is based on rest, so it seems, if I don't miss anything, it's always create by default a listen on port 8080.

So we can close it @cescoffier

[2019-07-15 21:10] Dufgui commented on #3039
I will take a look at it

[2019-07-15 21:25] emmanuelbernard commented on #2198
I did a review of the panache-rx code. No concrete comment as I was trying to understand it mostly. I did not see any patently wrong things. I might do a second pass with more concrete feedback. Note that scaling to other DBs, and more complex domain model will likely explode the code complexity.
Good job, you've successfully unlocked "Wrote ones own ORM" :)

[2019-07-15 21:28] dcdh commented on #3223
I fix this issue by returning a CompletionStage from the ReactiveMailer to the Kafka Consumer.

The last commit show it.

I guess we could close this issue. But maybe that the documentation could be enrich to explain this behavior ?

[2019-07-15 21:37] emmanuelbernard commented on #2198
The biggest missing features I see in decreasing order:

1. ability to load an entity and (some of) its associations in one query
    - the `CompletableFuture` or `Publisher` execution would then be a no DB access operation
2. object inheritance if only discriminator column
3. @Version
4. HQL
5. `@Embeddable`
6. `@Converter` and otherwise composite types

I understand that 1. and 4. are a lot of w

[2019-07-15 21:58] #3215 closed

[2019-07-15 22:01] #3195 closed

[2019-07-15 22:07] #2394 closed

[2019-07-16 06:43] cescoffier commented on #1939
Missed that one. This issue has been fixed when we re-implemented the selection algorithm.

[2019-07-16 06:43] #1939 closed

[2019-07-16 06:54] tristantarrant commented on #3128
There are multiple issues at stake here ranging from the technical to the legal.

First off, I think we should avoid the JCache annotations if possible, as it is unlikely they can be evolved to support additional use cases. We should opt either for a Quarkus-specific solution (low effort, more freedom) or for something more ambitious (Microprofile Caching ?).
As @ben-manes says, we can still suppo

[2019-07-16 06:58] gastaldi commented on #1799
This is already accomplished with `-Dnative-image.docker-build=true`. Closing

[2019-07-16 06:58] #1799 closed

[2019-07-16 07:11] ginccc commented on #3235
Ha! That was it, thanks. Of course it won't have an effect if i change the memory on maven, as the build is happening inside docker not on my local machine..

Appreciate the hint, @mmornati

PS: 2GB was not enough, 4GB memory seem to do the trick.

[2019-07-16 07:11] #3235 closed

[2019-07-16 07:11] geoand commented on #3235
I think that the suggestion by @mmornati is spot on.
Basically building the native image is a resource intensive operation and based on your command line you are using building it via docker - which means that you need to make sure docker has plenty of memory.
The memory settings you have changed for Maven won't have any effect since the native image is not being built in Java.

[2019-07-16 07:13] ginccc commented on #3225
Maybe sometime in the future, but right now my focus is on successfully migrating EDDI chatbot framework to quarkus.
If I have some free resources after that, I am surely willing to contribute :)

[2019-07-16 07:29] gwenneg commented on #3146
If I'm not mistaken, we need to choose between:
- A : making Surefire config the **only** way to customize the test profile, meaning it wouldn't be possible to just use a `-D` argument from the command line to customize the test profile during a build
- B : adding a system property like `quarkus.test.profile` which would allow **both** customization through Surefire and command line `-D` argument,

[2019-07-16 07:34] FroMage commented on #2198
I guess I could do eager loading for some cases, based on the association type, but given that I don't support HQL I can't specify eager fetching in HQL, so how useful would that make it?

I was hoping this was never actually used. I can take a look at how much work that is

This should not be hard

[2019-07-16 07:50] ginccc opened #3240 "Native Build should not build each maven module separately in a multi-module project"
I believe this native build fails, because it is missing the application.configuration file.
It's true, this particular submodule doesn't contain this file, as I only have it once in my application, not a duplicate in each individual module.
I noticed this, as it was complaining about this already at the first module (persistencestore-definition), then i copied the config file into this module. Af

[2019-07-16 08:09] gsmet commented on #3146
I thought about it a bit during the night and I think I also prefer option A for now. At least until someone comes up with a use case for B.

If you want A, you can still pass a property to your config.

The thing I like with A is that your test setup is properly configured where it should be: people are used to configure things there for the Surefire support. Note that they also will have to conf

[2019-07-16 08:18] gwenneg commented on #3146
I just realized option A might actually reintroduce the #3149 issue since we'd be listening to the `quarkus.profile` property for the test profile, thus using the same profile for build and tests when a `-Dquarkus.profile` command line argument is used.

Is `A` really an option?

[2019-07-16 08:27] gsmet commented on #3231
It seems reasonable. TBH, I thought I fixed it when I worked on Hibernate Search. I'll take another look.

[2019-07-16 08:39] Postremus opened #3241 "Cyclic dependency for injected bean produced in the same class"
**Describe the bug**
I try to produce a bean, and inject it, all in the same class. In Thorntail, this worked fine.
In Quarkus / Arc, this does not work. I get a circular dependencie error, which I can not understand. There should be no circular dependencies.
See example code.

**Expected behavior**
Bean gets injected just fine. No error.

**Actual behavior**
Can not compile with mvn install

[cod

[2019-07-16 10:45] manovotn commented on #3186
A draft of what me and Martin came up with is here - https://github.com/quarkusio/quarkus/pull/3243
It basically shares the map but indirectly via an interface so that the map isn't publicly exposed.

[2019-07-16 11:11] machi1990 commented on #2751
@cescoffier @tsegismont
This could still cause an issue since `agroal` extension provide support of multiple `named` databasources e.g https://github.com/quarkusio/quarkus/blob/83303fd6f46405f98f225032a29fd945b62906fd/extensions/agroal/deployment/src/test/resources/application-multiple-datasources.properties#L1-L17

/cc @gsmet ping

[2019-07-16 11:23] atzoum commented on #3231
Hibernate Search doesn't have a `ServiceInitiators` but has `org.hibernate.search.mapper.orm.mapping.impl.HibernateSearchContextServiceContributor` which adds `Service` objects in the  `io.quarkus.hibernate.orm.runtime.boot.registry.PreconfiguredServiceRegistryBuilder` which are passed afterwards as provided services when `StandardServiceRegistryImpl#resetAndReactivate` is called.

[2019-07-16 11:25] gsmet commented on #3231
Yup but I thought I did all of the extension points in one go. I'll take a look.

[2019-07-16 11:28] atzoum commented on #3231
Good to know that you will look into it! I will also try to mess a bit with the code and ping you if I believe I have found something

[2019-07-16 12:50] FroMage commented on #2198
So the fun thing is that I looked at the spec to see how to implement `@Version` and looked at https://dzone.com/articles/hibernate-collections as a result, and realised that there are a lot of variations of `@OneToMany`/`@ManyToOne` that I don't support ATM, such as unidirectional or owning `@OneToMany` relations.

My personal opinion is that those relation types are to be avoided anyway, but per

[2019-07-16 14:00] #2784 closed

[2019-07-16 14:02] sberyozkin commented on #3064
Checking one of the KC @BuildStep capabilities should be enough

[2019-07-16 14:03] NilsWild commented on #2290
@jtama-op did you change anything in the keycloak configuration of the quarkus keycloak starter project?  For me the enforcement-mode: DISABLED doesn't work at all. Usualy PERMISSIVE should already be enought as there is no rule defined to match /health so it should be allowed.,not sure though what to change

[2019-07-16 14:03] gsmet commented on #2784
@sberyozkin sorry missed your message, thanks for closing it.

[2019-07-16 14:51] atzoum commented on #3231
`EnversService`needs to be initialized before calling `org.hibernate.envers.boot.internal.EnversIntegrator#integrate`. Currently initialization happens at `org.hibernate.envers.boot.internal.AdditionalJaxbMappingProducerImpl`. So it is not enough to just register `EnversServiceInitiator` in `PreconfiguredServiceRegistryBuilder` because the service won't be initialized...
I don't understand why the

[2019-07-16 15:36] dmlloyd opened #3249 "Numerous NPEs in Kafka during quarkus-integration-test-kafka"
**Describe the bug**
The following NPE was observed during a full native build for Java 11:

[code]

This occurred numerous times during execution of `quarkus-integration-test-kafka`.

[2019-07-16 16:42] gsmet commented on #2907
This needs to stay open, #3244 only fixed hot reload.

[2019-07-16 16:58] hugomarcelino-spotqa commented on #1374
This is not fixed yet.

The problem might be related with the fact that I have multiple source roots. I'm testing this with a java + kotlin. I was able to not have any problem if I set the sourceDir to:

[code]

I'll wait a little bit more before start using it.

[2019-07-16 17:29] rquinio commented on #3232
A minor discrepancy I noticed is that `@ConfigItem` is not mandatory on fields whose type is annotated with `@ConfigGroup`: https://github.com/quarkusio/quarkus/blob/688ee16b0641ac60239c0c7970ce23b6cbff35ff/extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/HttpConfig.java#L54-L62
Technically it's only needed if you need to override the name of the group: https://github.com/quar

[2019-07-16 17:32] machi1990 commented on #3231
@atzoum are you working on this?

[2019-07-16 17:36] atzoum commented on #3231
I am only trying to figure out the necessary changes in hibernate-orm so that I can use Envers in a quarkus app in jvm mode. So yes, sort of. I don't plan though to come up with an Envers extension, unless it is not possible without it.

[2019-07-16 17:40] machi1990 commented on #3231
Okay great, thanks for the contribution. It is very welcomed. I think @gsmet should be available to give you some direction on how to go about it.

[2019-07-16 18:16] rquinio commented on #1655
@xorye My vague idea related more to https://github.com/quarkusio/quarkus/issues/447 and [this early discussion](https://groups.google.com/forum/#!searchin/quarkus-dev/starter.quarkus.io%7Csort:date/quarkus-dev/-Iyg2PkAbU4/AObdcyqHAAAJ) about the capabilities of a starter.quarkus.io deployed via quarkus:dev - i.e. to be able to edit application.properties from a UI

The idea of quarkus:dev acting

[2019-07-16 19:25] atzoum commented on #3231
@gsmet @machi1990  I managed to find some sort of solution, the cleanest I could think of given the circumstances! Please review and keep in mind that I still need to test this with an actual quarkus deployment (I don't know if the test I created using `@RegisterExtension` counts as an actual deployment or there will be any further surprises when doing a normal quarkus build or quarkus:dev)

[2019-07-16 20:39] geoand commented on #1374
@hugomarcelino-spotqa AFAIK, multiple source roots won't work in the current implementation - definitely something to be fixed

[2019-07-16 20:41] fmutluay opened #3251 "Allow configuration for undertow.listener.* attributes"
**Description**
We need to configure some of the undertow listener attributes like _**"disallowed-methods, record-request-start-time, max-parameters".**_
It would be great if it include in the future versions of Quarkus.

[2019-07-17 00:51] barata0 opened #3253 "ExceptionMapper doesn't work for NotFoundException"
**Describe the bug**
ExceptionMapper works fine for Exceptions, WebApplicationExceptions and whatever exception you create FooException, BarException, etc...

But it does not work for NotFoundException. Instead the default Resource Not Found page is displayed

**Expected behavior**
When a NotFoundException occurs, the mapper should take precedence over the default Resource Not Found

**Actual beha

[2019-07-17 06:19] #3094 closed

[2019-07-17 06:37] muirandy commented on #3202
@gunnarmorling @gsmet Is there somewhere I can read more about setting up quarkus in my IDE (IntelliJ)? I've followed the simple steps in the README, but it seems I need to set all my source directories manually, and some poms aren't happy (jacoco dependency not found, ). When I open the code (`KafkaStreamsProcessor`) then I have loads of errors about not finding libraries (`org.apache.kafka.strea

[2019-07-17 06:48] michael-simons commented on #3107
Great discussion here.

My 2 cents:

[code]

and an infrastructure that detects the individual `HealthCheck` who's identifier fits the extension and uses or discards them depending on the above flag. Of course the extension must not implement this logic over and over again.

Structuring the above properties this way round makes it IMHO clear in which responsibility things are.

[2019-07-17 07:05] rsvoboda commented on #3107
I like this. The only concern is around kafka/agroal naming, we would need some logic similar to "add extension" in quarkus maven plugin.

This should be safer, but not so nice ...
[code]

[2019-07-17 07:50] jtama-op commented on #2290
I did not used the keycloak starter. Please find my configuration bellow (i switched to application.properties).

[code]

It may be that the `quarkus.keycloak.policy-enforcer.enforcement-mode = PERMISSIVE` isn't usefull. I haven't test removing it.

Hope it helps.

[2019-07-17 08:42] NilsWild commented on #2290
@jtama-op Thanks but as you didn't set `quarkus.keycloak.policy-enforcer.enable = true` the keycloak PEP isn't used at all. That way you don't have any authz at all as that option is false by default. I either have full auth or none at all.

[2019-07-17 08:55] jtama-op commented on #2290
Ok,
Sounds weird, I will re-check and come back to you.

[2019-07-17 09:22] mkouba commented on #3058
Ok, so I've tried to look at the code and it's a bit more complicated. First of all, we don't detect a cycle because `Instance<Topology>` is used in `KafkaStreamsTopologyManager` (for this injection point a built-in bean is injected).

Now if you look at the `KafkaStreamsTopologyManager.getStreams()` producer method, it may return null as it simply returns the `KafkaStreamsTopologyManager.streams`

[2019-07-17 11:52] #3059 closed

[2019-07-17 12:23] manovotn commented on #2905
Looking into this I think the easiest way is to mark all stereotypes originating from additional bean defining annotations and them subsequently filter them in `io.quarkus.arc.processor.Beans.initStereotypeScope(List<StereotypeInfo>, AnnotationTarget)`

I'll take a shot at that.

[2019-07-17 12:57] loicmathieu opened #3256 "Document the Panache stream() operations for the need of transaction"
**Description**
Following the discussion on the mailing list (https://groups.google.com/d/msg/quarkus-dev/01GSKgzQ9dA/GjgE2c7nAwAJ) I propose to add to the Panache guide and to the Javadoc of the stream() operation that it can needs a transaction.

**Implementation ideas**
Add a note to the Panache guide
Add a not in the Javadoc

[2019-07-17 12:59] loicmathieu commented on #3256
I will propose a PR for this.

[2019-07-17 13:03] loicmathieu opened #3257 "Offers a way to configure a transaction to be readOnly"
**Description**
Read only transactions can perfom optimizations on some databases. It is very common to have the hability to specify it, but it's not feasible in Quarkus yet.

More information on why we need this in Quarkus can be found on this discussion: https://groups.google.com/d/msg/quarkus-dev/01GSKgzQ9dA/GjgE2c7nAwAJ

**Implementation ideas**
The implementation should be done by adding to t

[2019-07-17 13:06] loicmathieu opened #3258 "Investiguate if the Panache stream() methods should foce the usage of transactions"
**Description**
Following this discussion (https://groups.google.com/d/msg/quarkus-dev/01GSKgzQ9dA/GjgE2c7nAwAJ) there exist some cases where a transaction is needed for a correct usage of the Panache stream() methods.

**Implementation ideas**
Maybe Quarkus should prevent the usage of these methods out of a transaction by generating an exception, or maybe this should be the developer responsibili

[2019-07-17 13:12] jmini commented on #2907
Thank you for the first fix.

---

I tried other eclipse-mp-openapi properties such as
[code]

This is working well.

---

Only `mp.openapi.scan.disable` is a problem. In my opinion following code must only run when `mp.openapi.scan.disable` is not set or when `mp.openapi.scan.disable=false` (as additional check next to `resteasyJaxrsConfig.isPresent()`):

https://github.com/quarkusio/quarkus/blob

[2019-07-17 13:51] loicmathieu commented on #3256
To avoid multiple push and as documentation is always tricky, I propose in a comment the two addons that I propose to add to the documentation.

First, the Javadoc part :
[code]

Then, le Panache guide: I plan to add a note to the section of the stream method:
[code]

@Sanne what do you think of my proposal ?

[2019-07-17 14:01] mkouba opened #3260 "CDI observer methods should be inherited if not overriden"
See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#member_level_inheritance for more information.

[2019-07-17 14:15] Sanne commented on #3256
The javadoc looks good in principle.

When you say "a transaction may be needed" .. I guess it depends on how the other issue gets resolved, but I really think that we'll end up saying that "a transaction is required". It also helps keeping things simple for users ;)

Some minor typos:

s/keep the cursor opens/keep the cursor open/
s/the end of the processing of the stream/the end of processing of

[2019-07-17 14:21] FroMage commented on #3256
+1

[2019-07-17 14:34] loicmathieu commented on #3256
v2:

JavaDoc:
[code]

Panache guide:
[code]

I keep some more explaination as I like to have the _why_ in the documentation but I agree it's more straighforward to just include a note like:
[code]

[2019-07-17 14:37] FroMage commented on #3186
Thanks!

[2019-07-17 14:37] #3186 closed

[2019-07-17 15:05] FroMage commented on #2198
`@Version` is now supported

[2019-07-17 15:33] FroMage commented on #2198
@emmanuelbernard can you confirm that eager fetching is useful even when I can't specify it from the HQL? It will only be usable from the annotations.

I do get how it's useful for `@*ToOne` associations, even though I'll probably limit it to one-level deep fetching initially.

I don't understand why it's useful for `@*ToMany` associations because lazy fetching uses two queries: one for the entity

[2019-07-17 15:36] FroMage commented on #2198
About inheritance mappings, I think the `table per class` strategy is a no-go from the start because the whole model revolves around a top class of `PanacheEntity` which has an id column, so this would force multiple tables even for entities that don't really want inheritance.

As for the single table per hierarchy with discriminator column strategy it would essentially mean every entity is stored

[2019-07-17 15:56] masini opened #3261 "Hibernate cannot track changes of primitive boolean value"
**Describe the bug**
Given an entity with a single boolean attribute and a key (an EmbeddedId in my test-case), the changes are tracked only if you change from false to true, instead changing from true to false is not persisted.

As a workaround I shifted to Boolean and it works.

I investigated and the generated method is done this way:
[code]
and I don't know how the JVM works with the bytecode

[2019-07-17 17:02] muirandy commented on #3202
Small update: Its taken a while to get the project open and compiled. I'll consider updating the `CONTRIBUTING.md` seperately.

[2019-07-17 17:03] gsmet commented on #3202
It's weird because I always had good reports about using Intellij to work on the Quarkus tree.

Eclipse (which I use) is a bit more challenging.

Curious to see the problems you had.

[2019-07-17 17:05] gsmet commented on #3146
Hmmm, it depends if Surefire forks a new JVM or not. But I agree with the default setup it wouldn't work very well.

But I think you're right, we don't have much choice. I would only document adding the property via Surefire/Failsafe config though.

[2019-07-17 17:06] dmlloyd commented on #3233
I have the WIP for this in [dmlloyd@config-steps](https://github.com/dmlloyd/quarkus/commit/config-steps) (it's incomplete but has most of the basic change).  Remaining would be refactoring how we determine whether there are unresolved configuration properties.

Once that's done, the next step is to modify the extension loader with support for `onlyIf` functionality for `@BuildStep`.

[2019-07-17 17:07] dmlloyd commented on #3233
This would be generic functionality that solves #2962 as well as the ability to use a config property to determine whether a function should be enabled.

[2019-07-17 17:16] aesteve commented on #1374
Not fixed for me neither in 0.19.1.

I pushed my latest experiments [here](https://github.com/aesteve/quarkus-test).

The `gradle clean quarkusDev` task fails with an error:
[code]

[2019-07-17 17:41] #2905 closed

[2019-07-17 18:00] michalszynkiewicz commented on #3260
@mkouba do you know of any out of the box way of checking if a method has not been overriden? As I understand, if a bean overrides the method that `@Observes`, the observing method should not be called.

[2019-07-17 19:28] geoand commented on #1374
Thanks for all the info.

Hopefully I'll take a look in a few days

[2019-07-17 20:03] gunnarmorling commented on #3030
@dmlloyd, trying your fix this gets things to build now. When *starting* the application though, it now complains about `quarkus.http.port` not being found (`${hostname}` gets apparently resolved from the environment variable `HOSTNAME`):

[code]

[2019-07-17 20:15] atzoum opened #3262 "[quarkus-resteasy] All classes are scanned and registered even though the javax.ws.rs.core.Application returns a non-empty set of classes"
**Describe the bug**
Assuming that 2 `javax.ws.rs.ext.Provider`classes are available in the classpath:
1. `UriInfoFilter`
2. `JacksonJsonProvider`

And the following `javax.ws.rs.core.Application` exists

[code]

**Expected behavior**
According to the JAX-RS spec, only `UriInfoFilter` should be registered.

and Application.getSingletons return an empty collection then all root resource classes and

[2019-07-17 20:29] atzoum commented on #3262
It is fine I guess for quarkus to always register its own internal provider classes, nevertheless it is equally important to be able to control which application's JAX-RS classes will finally get registered in the JAX-RS application instead of always relying to classpath scanning.
Developers sometimes need to be in control of the registered classes in order to avoid unpleasant surprises when upgra

[2019-07-17 20:48] gwenneg commented on #3253
Hi @barata0!

The `Resource Not Found` page is displayed because of the [NotFoundExceptionMapper](https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java) class which is part of the `quarkus-resteasy` extension.

This mapper should only be active in development mode according to what I'm seeing here: [Reste

[2019-07-17 21:02] xorye commented on #1655
@rquinio thank you for getting back to me!

That's quite interesting, we actually haven't really explored that option.

I should have explained in more detail, we are interested in creating a VSCode extension for Quarkus development, where VSCode connects to a language server (that we'd implement ourselves) that provides `application.properties` completion and other useful features. We are in earl

[2019-07-17 21:03] gsmet commented on #3253
I wonder if we should enable this only if we don't have another mapper for
this exception.

I'm also wondering if it's a good idea to return HTML when asking for JSON
(which is a very common use case).

On Wed, Jul 17, 2019 at 10:48 PM Gwenneg Lepage <notifications@github.com>
wrote:

[2019-07-17 21:09] aesteve commented on #1374
Not sure it's relevant, it looks like the Kotlin plugin does [this](https://github.com/JetBrains/kotlin/blob/master/libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/KotlinPlugin.kt#L459) not sure when it does it, or if it does at all, but it looks like it adds a convention somehow at some time.

Hope you'll figure out either a misconception or something I did

[2019-07-17 21:25] Sanne commented on #3256
typo:
s/processing steps access the database/processing steps accesses the database/

But also I don't think the explanation is comprehensive; IMO if you really want to explain the reasons, it should be clear: it's not only required in case any subsequent stream processing step requires to load (modify) anything in the DB, it's also necessary simply to load the next elements of the stream.

s/tran

[2019-07-17 21:48] dmlloyd commented on #3030
I wouldn't use `${hostname}` as that would often be undefined (on windows for example, the variable `COMPUTERNAME` is often used).  And the host name isn't necessarily a DNS-resolvable name.

You might want to make the default socket address be `${quarkus.http.host}:${quarkus.http.port}` instead, assuming you want it to be populated with the same address.

[2019-07-18 04:02] wargun02 opened #3266 "Hit Error on JAX-RS call: java.lang.NoSuchMethodError: io.quarkus.runner.RuntimeRunner$Builder.setBuildSystemProperties(Ljava/util/Properties;)Lio/quarkus/runner/RuntimeRunner$Builder"
My app runs fine with version 0.17.0 and 0.18.0. However when switching to version 0.19.0 or 0.19.1, it **DID NOT** show console log like the below after "Listening for transport dt_socket at address: 5005":
[code]

and when ever a JAX-RS endpoint is invoked, the return response message is
[code]

If needed, please provide me some pointers as of how to diagnose and reproduce this. Thank you.

####

[2019-07-18 05:40] mkouba commented on #3260
I think that you will need to walk the hierarchy and compare the method signatures (name + params).

[2019-07-18 06:43] gunnarmorling commented on #3030
@dmlloyd, that's definitely a good idea, wasn't aware of `quarkus.http.host`. The problem remains though that the port variable cannot be resolved (see stacktrace above):

    java.util.NoSuchElementException: Property quarkus.http.port not found

I'd expect it to be the same for `quarkus.http.host`.

[2019-07-18 07:13] lburgazzoli opened #3268 "Runtime artifact's POM repos aren't propagated to resolve the corresponding deployment deps"
**Describe the bug**
I'm testing camel extensions against the latest quarkus snapshot to validate the fix for https://github.com/quarkusio/quarkus/issues/3094 and when running the integration tests I see the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. check-out https://github.com/lburgazzoli/apache-camel-quarkus/tree/test-packages
2. run `./mvnw clean install`

*

[2019-07-18 09:34] FroMage commented on #2479
I wonder if it should also serve as a prefix for all the rest of URI mappings, such as RESTEasy resources?

If we're looking for a reverse-proxy situation we do want _everything_ to be remapped under that prefix.

If we're looking for an alternate prefix for just static resources we can always add that prefix to the `src/main/resources/META-INF/resources` folder, but putting them under `src/main/r

[2019-07-18 09:36] masini commented on #2479
This is necessary for containers behind a proxy which doesn't allow working on "/".

Currently Undertow has the path hard-coded:

[code]

would be great to have a quarkus.context.path property to use in `application.properties`.

[2019-07-18 09:42] Sanne commented on #3256
no, sorry if I wasn't clear, but as I also said on the mailing list, this is actually mandatory for many databases: you won't be able to fetch the next item from the stream in lack of a transaction.
I gave you a direct link to the postgres documentation.

Not sure which database you're testing, but if you want a general API we need to satisfy the requirements of all major databases.

[2019-07-18 09:47] kid7st commented on #2689
+1

[2019-07-18 09:50] gsmet commented on #2689
@dmlloyd should we release a new version of JBoss Threads and upgrade to it?

[2019-07-18 09:53] lburgazzoli commented on #3268
Seems to be related to snapshots, testing against the latest quarkus bits built locally does not fail

[2019-07-18 10:42] loicmathieu opened #3273 "Offers a way to override the default error page"
**Description**
Currently, an HTML default error page is shown when an un-handled error occurs.

It is a best practice to provides a JAX-RS `ExceptionMapper` to avoid too many un-handled errors but it cannot catch all errors, some framework errors can still bypass the `ExceptionMapper` and display this default error page.

This page can implies an OWASP-A3 issue (information disclosure) even if th

[2019-07-18 10:47] machi1990 commented on #3273
Related to https://github.com/quarkusio/quarkus/issues/3253 ?

[2019-07-18 11:16] Sanne commented on #3256
@loicmathieu I know how Hibernate fetching works ;) But I'm telling you that it's not always going to fetch all results at once; there's several options to actually really stream the data, so it's still going to be required - especially when it actually makes sense to use a _stream_ . If not, people could just use _list_ , as I mentioned on the mailing list.

[2019-07-18 12:12] loicmathieu commented on #3273
I don't think so, it's a bug that says that if in a user code a
NotFoundException is thrown it bypasses a custom ExceptionMapper and
displays the default exception page.

But maybe this can be part on a larger story that review some of
Quarkus/Resteasy exception handling ...

Le jeu. 18 juil. 2019 à 12:48, Manyanda Chitimbo <notifications@github.com>
a écrit :

[2019-07-18 12:15] dmlloyd commented on #3030
I found the problem (100% my fault, no surprises there), fix is coming.

[2019-07-18 12:15] loicmathieu commented on #3256
@Sanne it wasn't my intention to explain you how hibernate work :)

Just saying that is works in some cases so it's not intuitive that a transaction is needed.

Anyway, OK for the v3 wordings ?

[2019-07-18 12:29] dmlloyd commented on #3030
Oops, never mind; I misread the code (which is my own code: also no surprise).

[2019-07-18 12:29] dmlloyd commented on #3030
Your `KafkaStreamsConfig` class is marked for `RUN_TIME` right?

[2019-07-18 12:30] Sanne commented on #3256
yes the v3 wording looks ok to me.  I'm not entirely convinced by "It requires a transaction to works properly" as people will be wondering what "properly" means exactly.. but if you like that better, go for it.

N.B. that if we decide to check for the transaction to be mandatory "properly" will mean "without throwing an exception" so I guess we'll want to amend the message if it comes to that :)

[2019-07-18 12:33] loicmathieu commented on #3258
If we implement this, we will need to review the documentation parts updated in #3256

[2019-07-18 12:39] loicmathieu commented on #3256
@Sanne documentation done.
I also reference this issue in the one that will investiguate the enforcement of a transaction for those methods so if we go this path we don't forget to update the documentation path.

[2019-07-18 12:49] loicmathieu commented on #3253
I think that Quarkus should implements all it's error handling at a lower level.

As I saw in the code, it's a specific handling of NotFoundException created to help the developer understand that there is no operation that can handle it's request.
This is very usefull but should be implemented at a lower level (and maybe just by launching an exception, logging it to the console and letting a "hige

[2019-07-18 12:54] dmlloyd commented on #3030
Also - dumb question - but you actually have the undertow extension installed in your test, right?

[2019-07-18 12:54] dmlloyd commented on #3030
I can't seem to write a reproducer for this problem otherwise.

[2019-07-18 13:03] dmlloyd commented on #2689
Sure.  I've released 3.0.0.Beta5, PR coming in a bit.

[2019-07-18 13:41] dmlloyd opened #3277 "Bind addresses should be lists"
**Description**
For network services, it is possible that you would want more than one bind address.  This could be due to firewall rules, or because you have multiple interfaces, or because you want to bind to both an IPv4 and IPv6 address.

Many popular network daemons have started off with separate bind host/port configurations and have had to retrofit to instead have a list of bind addresses i

[2019-07-18 13:46] lburgazzoli commented on #3268
So I've cleaned up my repo and tested it against snapshots from oss repo and the problems has materialized again so maybe the snapshots are corrupted

[2019-07-18 14:45] loicmathieu commented on #2342
MongoDB has been supported via the mongodb-client extension since version 0.18.
Can you try that it solves your issue and close it ?

[2019-07-18 16:00] aloubyansky commented on #3138
Now that #3117 has been merged, this should be fixed. @mgagliardo91 is there a chance you can try current master branch to make sure it works for you? Thanks.

[2019-07-18 17:14] dwamara opened #3279 "Use encrypted password for quarkus.mailer.password"
**Description**
As of now, the password value for quarkus.mailer.password has to be written in the application.properties file as plain text.
It would be interesting and more secure to be able to have the value encrypted in the properties file.

[2019-07-18 19:09] gunnarmorling commented on #3030
:)

Yes, it is, see [here](https://github.com/quarkusio/quarkus/pull/2953/files#diff-c74b2772615d1567d4c0539f05abb735R9).

Yes, `io.quarkus:quarkus-undertow` is there (pulled in transitively).

Ok, here's what I've done:

* Build Quarkus with my PR https://github.com/quarkusio/quarkus/pull/2953 and your commit from https://github.com/dmlloyd/quarkus/commit/fix-3030-again
* Build the Quarkus Kafka

[2019-07-18 20:10] #962 closed

[2019-07-18 20:18] rquinio commented on #3240
The quarkus-maven-plugin should be added **only** to the module that packages the application (and thus contains the application.properties). It will augment / do the native compilation of the whole classpath in one shot.

[2019-07-18 20:23] rquinio commented on #3226
This is same cause as #3240: quarkus-maven-plugin is not supposed to be executed on a parent aggregator with pom packaging, but on a jar packaging sub-module.

[2019-07-18 21:54] atzoum opened #3282 "[arc/narayana-jta] observer notification during transaction phases"
**Description**
The CDI spec states that if a transaction is present, observer notification is possible during the following transaction phases:
- in progress
- before completion
- after completion
- after failure
- after success

Currently ARC ignores the `during` parameter of the `@Observes` annotation and notifies all observers.

**Implementation ideas**
ARC should detect the beginning of a tra

[2019-07-18 22:12] anderson-marques commented on #2949
Same happens to me. I'm running inside the docker image `maven:3.6-jdk-8` and running simply `mvn test`.

[code]

[2019-07-18 22:43] anderson-marques commented on #2949
My bean was using `@Inject` in the constructor. I replaced this for `@Inject` for each dependency member and everything works perfectly now.

[code]

[2019-07-19 06:36] pehunka opened #3284 "Hibernate validator and annotated static method on enum"
**Describe the bug**
Application fails to start when an enum type has annotated static method with bean validation constraint.

**Expected behavior**
I will expect that quarkus app will compile and ignore the validation constraint as not supported by the bean validation specification.

**Actual behavior**
Application crashes with following stack trace

[code]

**To Reproduce**
Steps to reproduce t

[2019-07-19 06:47] muirandy commented on #3202
@gunnarmorling I've made a small change to `io.quarkus.kafka.streams.deployment.KafkaStreamsProcessor#build()` as you suggested. It appears to have resolved the issue I was having, however, I have a new problem in its place:
[code]
I'm not using `LogAndContinueExceptionHandler` directly in my code, but I did notice it was one of the `ReflectiveClassBuildItems` that you have already included. Its a

[2019-07-19 06:48] lburgazzoli commented on #3268
Tested against new snapshots on a clean repo, same error:

[code]

[2019-07-19 06:52] muirandy commented on #3202
@gunnarmorling Perhaps there is a change to the way I need to configure my app? Have the properties changed their keys?

[2019-07-19 07:15] lburgazzoli commented on #3268
For more info see:

- https://github.com/apache/camel-quarkus/pull/77
- https://builds.apache.org/job/camel-quarkus-pr/22

[2019-07-19 07:49] jtama-op commented on #2290
Ok so i got my desired behaviour back.

Please find steps to reproduce :

1. Create dedicated realm : quarkus
1. Create client for this realm : backend-service
1. Set access type to `confidential`
1. Save
1. Retrieve client secret
1 Configure application as bellow :
[code]

Health check and swagger-ui will be enabled, other resources will be secured.

[2019-07-19 09:17] #3038 closed

[2019-07-19 09:35] loicmathieu commented on #2744
Hello,
I want this to be re-considered as I encounter and issue with the approach advised in the guide.

When you do:
[code]

This generates two queries, so it can create a consistency issues. In my use case, I don't load a person by a sequence identifier from a database table, that I then increment and store back in the database. Doing it with this code generates multiple load of the same sequenc

[2019-07-19 09:45] michalszynkiewicz opened #3285 "Speed up check for overriden methods in BeanDeployment"
This issue is about the `MetodUtils.isOverriden` check.
With the current approach it is easy to create a unique method identifier, a String, e.g. "<methodName>|<param 1 DotName>|<param 2 DotName>|...". With it the whole check if a method is overriden would be just:
[code]

Before PRing, check if it's indeed faster on the integration-test/main

[2019-07-19 10:08] #3260 closed

[2019-07-19 10:51] ginccc commented on #3226
I moved it to the packaging sub-module, but now it complains about not know about quarkus in maven

[code]

This is the pom file of the sub-module that should build the application: https://github.com/labsai/EDDI/blob/feature/quarkus/apiserver/pom.xml#L169

And this is the parent pom file, in which i originally had defined it: https://github.com/labsai/EDDI/blob/feature/quarkus/pom.xml#L70

What a

[2019-07-19 11:39] Sanne commented on #2744
@loicmathieu is right, having only a lock method to be applied after the load is not efficient at all.

However let me point out that both APIs are necessary: sometimes you need to upgrade the lock after you already loaded it.

[2019-07-19 11:45] emmanuelbernard commented on #2744
What I propose to limit the API complexity is a `Book.withLock(PESSIMISTIC).findById(12);`

[2019-07-19 12:42] mswiderski opened #3288 "dev mode does not work with kogito quickstart"
**Describe the bug**
running using-kogito QuickStart in dev mode does not expose generated REST endpoints, while exact same code base works properly in jvm and native image modes.
https://quarkus.io/guides/kogito-guide
https://github.com/quarkusio/quarkus-quickstarts/tree/master/using-kogito

**Expected behavior**
dev mode should expose /parsons endpoint as it is available in jvm and native image

[2019-07-19 13:00] gsmet commented on #3288
@stuartwdouglas could it be related to some changes of yours recently merged?

[2019-07-19 13:14] aloubyansky commented on #3268
This issue is about propagating repositories from the runtime artifact's (effective) POM to the resolution of the deployment artifacts. This issue affects only Quarkus tests where we break from the Maven build context and initialize our own resolver. Which also means a possible workaround would be to `mvn clean install -DskipTests` first and then `mvn test`.

[2019-07-19 13:45] mariofusco commented on #3288
@mswiderski @gsmet @stuartwdouglas I'm pretty sure the problem is related with this check https://github.com/quarkusio/quarkus/blob/master/extensions/kogito/deployment/src/main/java/io/quarkus/kogito/deployment/KogitoAssetsProcessor.java#L52

If I remove that return statement and let the method to be executed even during an hot reload everything works as expected. The problem is that we want to ke

[2019-07-19 15:00] barata0 commented on #3253
@gwenneg you´re right. It only happens on DEV mode.

@loicmathieu I tried workaround with @Priority without success (thnx for pointing the code).

@gsmet What about a setting on `application.properties` disabling this feature?

[2019-07-19 15:02] gsmet commented on #3253
I'm surprised priorities doesn't work. You should be able to make your exception mapper have priorities.

I don't have the time to dig more right now but it sure would be nice to have a way to fix it.

[2019-07-19 15:07] #2689 closed

[2019-07-19 15:09] emmanuelbernard commented on #2198
No, the fact that associations are lazy by default is fine. Overloading is really on a use case basis and thus somehow needs to be expressed per query.
Maybe with https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#fetching-strategies-dynamic-fetching-entity-graph

Discriminator is the easiest one.

The last guy who said that was found dead in a pyramid. ahahah

[2019-07-19 15:11] emmanuelbernard commented on #2198
It's ok to skip unidirectional @OneToMany

[2019-07-19 15:14] emmanuelbernard commented on #2198
See my other reply the `@ToOne/Many` annotations are not where it should land.
You are semi right:
- I think parallel or deep fetching for `ToOne` are the most useful
- but for `ToMany` where the user knows it has only a small set of data in the collection, it's useful too.

I agree with your assessment to focus initially on the ToOnes

[2019-07-19 15:16] emmanuelbernard commented on #2198
Hum I did not realize that. Why isn't PanacheEntity a `@MappedSuperclass`

[2019-07-19 15:52] FroMage commented on #2198
It is, otherwise it would not get mapped, right? But that doesn't change my argument, does it? It would still require its own table or a discriminator column just for the id.

[2019-07-19 16:13] emmanuelbernard commented on #2198
No `@MappedSuperclass` are not represented in the **Entity** hierarchy (no discriminator, no separate table etc). Specifically the entity extending `@MappedSuperclass` will just carry its properties as if they were hosted on the entity itself.

[2019-07-19 17:21] emmanuelbernard commented on #3107
The artifactId trick would suck UX wise and not be aligned with an extension config namespace. So my proposal is to:

1. have the extension push the Readiness/LivenessBuildItem where the build item has the namespace provided (`agroal`, `hibernate-orm` etc)
    The extension would be responsible to push a reasonable name often based on its `quarkus.[foo]` namespace use (agroal is funny enough an ex

[2019-07-19 17:22] emmanuelbernard commented on #3107
oh an +1 on the global default `quarkus.health.extensions.enabled`

[2019-07-19 17:24] stuartwdouglas commented on #3288
On Fri, 19 Jul 2019 at 10:45, Mario Fusco <notifications@github.com> wrote:

So I think the issue is this commit:
https://github.com/stuartwdouglas/quarkus/commit/fd78effb0328094f86ec9cf138e8c965f3506917

It is attempting to detect when source files are deleted and removes the
corresponding class file, but in the kogito case it is causing problems
because if has generated class files that do not h

[2019-07-19 18:08] emmanuelbernard opened #3292 "Optimize query by doing build time generation"
Today queries are built at runtime. This cost might be minimal but it would be interesting to measure it. One easy optimisation would be the following.
Detect at build time the following pattern

[code]

And bytecode change it to

[code]
same for list, count etc.

It would be nice to make this happen on direct calls like this too across the code base. I suppose it's similar to the field to getter

[2019-07-19 18:09] emmanuelbernard commented on #3292
@FroMage @loicmathieu to pick your interest.
Note that this could be a hook for query checking too (albeit not as annotation processor)

[2019-07-19 18:35] FroMage commented on #2198
Aha, OK, then I misunderstood it and it remains a valid option.

[2019-07-19 21:00] #3008 closed

[2019-07-20 01:20] stuartwdouglas commented on #3266
Did you update the quarkus maven plugin to the same version as the other quarkus dependencies?

[2019-07-20 01:24] wargun02 commented on #3266
A portion of my pom.xml is somewhat like:

[code]

[2019-07-20 01:28] stuartwdouglas commented on #3266
What about the <build> section where the quarkus-maven-plugin is defined?

[2019-07-20 01:29] wargun02 commented on #3266
Here it is...

[code]

[2019-07-20 01:33] stuartwdouglas commented on #3266
What is the output of mvn dependency:tree ? It looks like the wrong version is being pulled in somehow, but I don't really see how as the bom should override it.

[2019-07-20 02:41] wargun02 commented on #3266
The command I use:
[code]

The output:
[code]

[2019-07-20 02:45] wargun02 commented on #3266
My bad my bad...I realised that there is one version tag which is miss-aligned...after fixing the version number of quarkus-test-common. I'm fine now...
[code]

Sorry to take up your time. Thanks for the effort. Closing this issue now.

[2019-07-20 02:45] #3266 closed

[2019-07-20 10:58] rquinio commented on #3226
I guess you are trying to run `mvn quarkus:dev` at the root of the project ?
It complains that there's no quarkus plugin defined in the root poms.

What you can do from root folder is `mvn quarkus:dev -pl apiserver` and it will watch for file changes in the other sub-modules as well, to hot-redeploy on the next request. I tried to wrote a quickstart about that here: https://github.com/quarkusio/qu

[2019-07-20 14:15] julicjung opened #3294 "./gradle clean build fails with NoSuchMethod when including smallrye-opentracing on 0.19.1"
I want to compile a small project using Gradle and Quarkus 0.19.1 which "io.quarkus:quarkus-smallrye-opentracing". I do not use any annotation of the MicroProfile Tracing spec, I just include the dependency to get the automatic behavior.
Upon running `./gradlew clean build` I receive the stack trace included at the end (using --stacktrace) with the innermost exception being:

Caused by: java.lang.

[2019-07-20 14:47] gsmet commented on #3294
Any chance you could provide a reproducer?

[2019-07-20 15:31] julicjung commented on #3294
Sure, will do. Give me one or two days, need to fit working on it between family time.

[2019-07-20 15:40] gsmet commented on #3284
Usually these issues are related to synthetic parameters being added in enum methods.

I'll have a look.

[2019-07-20 17:23] geoand commented on #3294
Also, do you by any chance see different behavior with Maven?

[2019-07-20 20:09] ginccc commented on #3226
yes, you are absolutely right about that!

Thanks!

[2019-07-20 20:09] #3226 closed

[2019-07-20 20:38] #3146 closed

[2019-07-20 21:00] mbecca commented on #1658
I'm interested too for Oracle native solution...

[2019-07-21 07:21] gwenneg commented on #3294
`ObserverMethod.isAsync()` is a CDI 2 method which didn't exist in CDI 1. I had a quick look into Quarkus and found no obvious reason that would explain why CDI 1 is present in your project's dependency tree.

I also just noticed that the `quarkus-quickstarts` examples use an outdated version of Gradle with a bugged `enforcedPlatform` feature (fixed in [Gradle 5.5](https://github.com/gradle/gradle

[2019-07-21 08:00] geoand commented on #3294
Sorry, I just saw that you already mentioned things work in Maven.
I wouldn't be surprised if @gwenned's suggestion works.
BOM support in Gradle has caused us problems in the last

[2019-07-21 08:59] julicjung commented on #3294
I retested again and used Gradle 5.5.1 this time. The results are the same — Gradle fails and Maven works with no difference my listed dependencies as far as I can tell.

✔ $ ./gradlew --version

------------------------------------------------------------
Gradle 5.5.1
------------------------------------------------------------

Build time:   2019-07-10 20:38:12 UTC
Revision:     3245f748c7061472

[2019-07-21 09:10] julicjung commented on #3294
I put a sample together which should reproduce the issue upon running `./gradlew clean build` in this repository: https://github.com/julicjung/quarkus-gradle

[2019-07-21 10:46] gwenneg commented on #3294
Thanks for the reproducer @julicjung!

I just ran a `./gradlew dependencies` from it and there's actually a trace of CDI 1 in the dependency graph:

[code]

I'll investigate this further in a couple of hours but I'm confident this will be fixed by upgrading the Quarkus `smallrye-config` dependency to `1.3.6` (they moved from CDI 1 to CDI 2 in that version).

[2019-07-21 10:52] julicjung commented on #3294
If you like I can pull up a maven reproducer, but it is essentially the same codebase and I would just use maven with more or less the default maven configuration from the guide at quarkus.io.

[2019-07-21 10:59] hwellmann opened #3296 "Kafka shutdown issues"
**Describe the bug**
Quarkus down not properly shut down `KafkaSink` and `Vertex`.

**Expected behavior**
Quarkus shuts down without logging warnings or errors.

**Actual behavior**
The following warning is logged every time:

[code]

**To Reproduce**
Add the following no-op test to quarkus-quickstarts/kafka-quickstart and run it from the IDE:

[code]

**Environment (please complete the following

[2019-07-21 11:24] hwellmann opened #3297 "Tests may fail to start when workspace is not clean"
**Describe the bug**
I'm using a JUnit 5 `@QuarkusTest` to test and debug my application in Eclipse.

Sometimes, when re-running the test, it fails to start, complaining about ambiguous CDI dependencies.

**Expected behavior**
Running a test should be deterministic.

**Actual behavior**
Tests fail to start in a seemingly random manner.

**To Reproduce**
It seems this is caused by synthetic class f

[2019-07-21 12:07] wglanzer opened #3298 "ElasticSearch Tracing"
**Description**
https://www.elastic.co/de/blog/distributed-tracing-opentracing-and-elastic-apm

Maybe it is possible to implement tracing with elasticsearch, like the jaeger-module does currently?

[2019-07-21 12:53] gwenneg commented on #3294
I just confirmed upgrading `smallrye-config` to `1.3.6` is fixing your issue, but I'd still like to understand why this is only happening with Gradle and not Maven...

As you will see [in this PR](https://github.com/gwenneg/quarkus/pull/2/files) from my Quarkus fork, this isn't just a question of upgrading the dependency version.

@dmlloyd, @kenfinnigan: WDYT about this CDI issue? Is it OK to upgr

[2019-07-21 14:54] geoand commented on #1374
@aesteve I was able to launch your application by adding:

[code]

to `build.gradle.kts`

[2019-07-21 15:26] gwenneg commented on #3294
I just created two PRs to upgrade the Gradle version to `5.5.1`:
- https://github.com/quarkusio/quarkus/pull/3299
- https://github.com/quarkusio/quarkus-quickstarts/pull/246

This issue wasn't mentionned in the PRs since they're not fixing the problem.

[2019-07-21 21:01] #2900 closed

[2019-07-21 21:01] #2974 closed

[2019-07-21 21:32] lburgazzoli opened #3300 "caffeine error while building native image: detected the ForkJoinPool.commonPool() in the image heap"
**Describe the bug**
[code]

**To Reproduce**
1. checkout https://github.com/quarkusio/quarkus/pull/3301
2. run caffeine's integration-test

**Environment (please complete the following information):**
 - Output of `java -version`:  1.8
 - GraalVM version (if different from Java): 19.1.1

[2019-07-22 00:46] mswiderski commented on #3288
@gsmet @stuartwdouglas could you please have a look at PR https://github.com/quarkusio/quarkus/pull/3302 that proposes a fix for this issue?

[2019-07-22 05:48] stuartwdouglas opened #3303 "Race between datasources and Camel start"
Race condition as seen here:

https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=4827

Camel should probably be started via the CDI StartupEvent. I don't think we want a full MSC style dependency mechanism but we may want some kind of phased startup/shutdown to solve problems like this.

[2019-07-22 08:03] aesteve commented on #1374
Thank you.

I think that’s the « hack » I mentioned in the thread, no?

Am I missing something?

[2019-07-22 08:04] loicmathieu commented on #3253
@barata0 I use an ExceptionMapper<RuntimeException> and it has precendence on the default one from the extension without using a priority even in dev mode.

I just tested it with Quarkus 0.18.

I don't know why yours don't take precedence (did you add the @Provider annotation?), as there is no priority on both exception mapper maybe I am lucky (or maybe resteasy took the first it found and sort th

[2019-07-22 08:10] geoand commented on #1374
That said, we want to improve the Gradle support moving forward

[2019-07-22 08:39] gsmet commented on #3253
I agree. And we should test it works correctly.

Also, serving HTML when requesting JSON is probably not a good idea. So the exception mapper should probably be tweaked.

[2019-07-22 08:54] lburgazzoli commented on #3300
The ref to the `ForkJoinPool.commonPool()` comes from:

- https://github.com/ben-manes/caffeine/blob/master/caffeine/src/main/java/com/github/benmanes/caffeine/cache/BoundedLocalCache.java#L233
- https://github.com/ben-manes/caffeine/blob/master/caffeine/src/main/java/com/github/benmanes/caffeine/cache/Caffeine.java#L289

[2019-07-22 13:22] loicmathieu opened #3304 "Quarkus Smallrye Fault Tolerence extension guide"
**Description**
There is no guide for the Smallrye Fault Tolerence extension, despite the extension is ready to use.

**Implementation ideas**
A guide should exist and be linked from the main Quarkus website.

[2019-07-22 13:24] loicmathieu commented on #3304
I will provide a first guide while testing the features, this could be that basis of a more complete one if needed.

[2019-07-22 13:44] gsmet commented on #3304
Wait wait wait: we have one https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/fault-tolerance-guide.adoc

Maybe it’s just a link missing?

[2019-07-22 13:47] kenfinnigan commented on #3304
Ok, so looks like it's just a link not present in the guides index for website?

[2019-07-22 13:48] gsmet commented on #3304
Yeah it might just be an oversight. I’ll fix it as soon as I’m at the office.

[2019-07-22 13:51] kenfinnigan commented on #3304
I can take a look and see if I can fix, or break it! ;-)

[2019-07-22 13:59] kenfinnigan commented on #3304
Anyone have a view as to whether the guide fits under "Observability" or "Web"?

I'm torn

[2019-07-22 14:09] kenfinnigan commented on #3294
@gwenneg I think @dmlloyd is in the process of putting together a PR for updating SmallRye Config, as we need to figure out some SmallRye artifact/version changes first

[2019-07-22 14:18] machi1990 commented on #3304
I'd say Observability.

[2019-07-22 14:20] rsvoboda opened #3305 "Duplicate native image system property under io.netty.noUnsafe conflicting values of true and true"
I see following exception when building (`mvn clean package`) project with neo4j+vertx extensions or neo4j+infinispan-client extensions.

[code]

 * Does SubstrateSystemPropertiesBuildStep need to run when native mode is not targeted ?

 * https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/steps/SubstrateSystemPropertiesBuildStep.java#L18 could che

[2019-07-22 14:26] rsvoboda commented on #820
Hi Harald, what are your plans with Quarkus and gRPC ?
I noticed some activity on your hpehl/quarkus-* repositories.

CCing @emmanuelbernard and @patriot1burke as gRPC was mentioned last week

[2019-07-22 14:27] kenfinnigan commented on #3304
https://github.com/quarkusio/quarkusio.github.io/pull/253

[2019-07-22 14:38] loicmathieu commented on #3304
Web

[2019-07-22 15:31] kenfinnigan commented on #3304
PR to add to site is merged, and it's now available under Web and Observability.

Covering both bases for now. We can adjust later if needed

[2019-07-22 15:31] #3304 closed

[2019-07-22 15:38] lburgazzoli commented on #3300
So I did try to create a substitution like:

[code]

But this fails with an NPE:

[code]

[2019-07-22 15:39] lburgazzoli commented on #3300
/cc @mkouba

[2019-07-22 15:49] lburgazzoli commented on #3300
Beside this specific problem that may involve how ArC initialize things, the general problem is that 3th party framework may initialize a Caffeine cache in static init block which would cause the same issue.

[2019-07-22 16:00] gsmet commented on #3304
Thanks Ken and thanks Loïc for noticing.

[2019-07-22 16:20] galderz opened #3306 "Annotation-driven application data caching"
**Description**
Enable user applications to easily store and load data into caches. Ideally this should be done transparently using annotations.

As discussed on #3128, JCache is not fully suitable for this due to the extra baggage its annotations bring and the dependencies it has with the JCache API itself.

**Implementation ideas**
The annotations should allow the following use cases to be fulfi

[2019-07-22 16:22] galderz commented on #3128
As seen from the comments above, there's a general consensus that we'd want to have annotation-drive n caching for application data, but JCache falls short here. With this in mind, I've created a separate issue (#3306) where we can decide what these annotations should look like, their behaviour and expectations. For #3306, we want to build the minimum set of annotations with the least amount of co

[2019-07-22 16:24] galderz commented on #3128
@gwenneg, since you were starting to work on this issue, I've assigned #3306 to you so that you can direct your efforts in that direction.

[2019-07-22 16:42] emmanuelbernard commented on #3306
Hey @galderz

I don't understand in which situation `@CacheStore` and `@CacheInvalidate` would be used. Since the cache is keyed on the method signature, it will only be used for that specific method call. When would it make sense then to always refresh the cache be still executing the method. Same fore the invalidation.

Furthermore, the invalidate all seems useful but likely via some API rather

[2019-07-22 17:19] gastaldi commented on #3053
This is a feature that https://github.com/fabric8io/configmapcontroller does really well, perhaps use that instead?

[2019-07-22 18:21] florian-bellotti commented on #1584
Did you find a way to fix this issue ? I have the same problem. I can't run my tests.

[2019-07-22 18:23] gwenneg commented on #3128
Thanks @galderz and thank you all for your advice and ideas. It's really great having so many cache experts involved in this subject!

[2019-07-22 18:34] gwenneg commented on #3128
@gsmet I've created an extension locally with a temp name, but it would be nice if I could rename it with its final name. Do you have any idea about this?

[2019-07-22 18:47] soberich commented on #1584
Also Quarks doesn't support advanced Gradle configurations. Like if you put everything in `implementation` instead of `compile` it won't work (at least for sub-project/module). And https://docs.gradle.org/current/userguide/feature_variants.html
Feature variants are not supported. If I declare quarkus runtime as a feature, the server starts-up with zero extensions included. So, Gradle finds the stu

[2019-07-22 19:46] kenfinnigan commented on #2450
I think it makes for "management endpoints" to have a configurable path and port.

[2019-07-22 20:22] #2119 closed

[2019-07-22 20:25] hpehl commented on #820
I'd like to finish the missing steps. I still have trouble getting native mode working for the grpc-client extension. and I need to test SSL support. Once these steps are done, the extensions could become part of Quarkus or I can make them available as externally.

Unfortunately I didn't have much time lately to push this further. I'm updating the versions numbers from time to time.

[2019-07-22 22:48] mbecca commented on #2307
Hi, is there any plan for when this bugfix comes out?

[2019-07-22 23:25] #3210 closed

[2019-07-23 06:20] mkouba commented on #3300
To be honest I don't understand the role of Arc in this issue. `Arc.shutdown()` is only invoked in a shutdown task registered here (during `STATIC_INIT`): https://github.com/quarkusio/quarkus/blob/master/extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/ArcRecorder.java#L34-L39

Is the caffeine extension registering some beans or something?

[2019-07-23 06:32] lburgazzoli commented on #3300
@dmlloyd point me out about a possible relation between application scope and static init, I don't really know the details :)

[2019-07-23 06:40] mkouba commented on #3300
Ok, so the application context is initialized during `STATIC_INIT` and if you have a bean that observes `@Initialized(ApplicationScoped.class)` or if you initialize the bean manually during `STATIC_INIT`, its `@PostConstruct` callbacks will be invoked etc. So the question is: is there such a coffeine bean?

[2019-07-23 06:48] lburgazzoli commented on #3300
I have an application scoped object like: https://github.com/quarkusio/quarkus/pull/3301/files#diff-512e67e32d261fe59d2c1e668b961c20

[2019-07-23 06:56] mkouba commented on #3300
This one should not be initialized during STATIC_INIT, unless resteasy initializes the endpoints eagerly. You can try to add a `@PostConstruct` callback with `System.out` to see when exactly is the bean instance created.

[2019-07-23 07:30] rsvoboda commented on #3305
@michael-simons Just to be sure, NettyProcessor.java [1] under neo4j extension is intentional as netty is shaded in neo4j-java-driver - org/neo4j/driver/internal/shaded/io/netty ?

[1] https://github.com/quarkusio/quarkus/blob/master/extensions/neo4j/deployment/src/main/java/io/quarkus/neo4j/deployment/NettyProcessor.java

[2019-07-23 07:46] michael-simons commented on #3305
Yes, Netty is shaded in our driver, we need that processor. Without it, native compilation did work, but it doesn’t actually run.

I have been trying around to keep all those non-Neo4j specific shims into our driver itself, but I’m not quite there yet.

As the values actually don’t conflict, maybe merging them would do.

[2019-07-23 07:47] michael-simons commented on #3305
Having all those shims in the driver will make the extension much nicer and other projects will benefit as well.

[2019-07-23 07:47] loicmathieu commented on #3306
Hello @galderz,
I think that two annotations are enought :
`@Cacheable`: put a value in a cache, can have a boolean to override a value if needed
`@CacheEvict`: evict a value from the cache

To evict all the value in a region we can use the API as @emmanuelbernard suggested.

[2019-07-23 07:59] aesteve commented on #1374
Is there an issue / pull-request where we can follow your progress, help investigations or maybe review ?

I didn't find a lot of things while investigating, but maybe It'd help in some way (and now that I dug a bit into the source, I'm interested :D )

Let me know.

[2019-07-23 08:02] geoand commented on #1374
To be honest I haven't really worked on it nor I have I followed the latest developments on Quarkus - Gradle integration.

@aloubyansky would know more :)

[2019-07-23 08:03] loicmathieu opened #3308 "Update the RESTEasy NotFoundExceptionMapper to provide JSON error response body"
**Description**
Currently, the NotFoundExceptionMapper that is added by the resteasy extension in the dev mode provides only HTML error response body.
 As Quarkus is used a lot for JSON Rest service a JSON error response body should be provided.

**Implementation ideas**
Update the default NotFoundExceptionMapper to provide a JSON error response body when the `Accept: application/json` header is s

[2019-07-23 08:04] loicmathieu commented on #3253
@gsmet created issue #3308 for JSON error response body.

[2019-07-23 08:08] loicmathieu commented on #3256
@Sanne do you validate the documentation?

[2019-07-23 08:18] gsmet commented on #3306
Eviction using an annotation is kinda useful. I know we used that with the Spring caching layer.

BTW, another interesting project that is existing for a while and might be a good source of inspiration for remote caches: https://github.com/ragnor/simple-spring-memcached .

We used it on one project at $previousJob and it worked pretty well.

[2019-07-23 08:32] loicmathieu commented on #2744
@emmanuelbernard this sound like a great API and I see how it can be implemented for PanacheRepository but not for PanacheEntity because of the static methods ... static methods really limits the API capability of PanacheEntity (don't shoot at me but maybe this can be revisited before 1.0 : move away from static methods for PanacheEntity).

The implementation could be based on a ThreaLocal that st

[2019-07-23 08:41] mthmulders commented on #2990
I've started working on this on [a branch in my fork of Quarkus](https://github.com/mthmulders/quarkus/tree/circular-dependencies). I've refactored the `CurrentInjectionPointProvider` to hold a `Supplier<InjectableReferenceProvider>` and passes all tests (except for the one that I added).

Now I'm wondering what the dependency graph should look like. The `ComponentsProviderGenerator` builds a `Map

[2019-07-23 09:00] loicmathieu commented on #3253
@gsmet PR openned for a priority to the `NotFoundExceptionMapper` tested localy but no test provided (unit test seems to be complicated for this one).

As said in the PR, it only works when someone provides an ExceptionMapper for the exact same parameter type.

[2019-07-23 09:55] michalszynkiewicz commented on #3044
Update:
`JsonObject`, `String`, `byte[]` supported; may need to support `ProtoBuf`

Pausing the works waiting for undertow on vert.x

[2019-07-23 10:20] manovotn commented on #2990
If you are talking about validation inside `generate()` method, then you need to temper the detection of actual circular dependency by changing when `boolean stuck` gets set to true.

From CDI specification, an unsupported circular dependency is one where all beans are of pseudo-scope. If there is at least one normal scoped bean in the chain, then it should be supported. See [this spec bit](https:

[2019-07-23 10:23] rsvoboda commented on #3305
Created https://github.com/quarkusio/quarkus/pull/3310 to avoid throwing exception when values are the same.

Still would like to know if it's necessary to run SubstrateSystemPropertiesBuildStep when native mode is not targeted ... @stuartwdouglas can you shed some light on this ?

[2019-07-23 10:32] dkellenb opened #3311 "ArC removes indirect referenced beans"
Quarkus in version 19.1 removes indirect referenced beans.

Lets have following scenario. You define an interface for your strategies and an services that depending on any argument, returns the appropriate strategy. These strategies are defined as beans. As these beans are not referenced directly with injections, but only through the interface, the are removed by ArC. The only way to fix it, is by

[2019-07-23 10:37] stuartwdouglas commented on #3305
At the moment when building a runnable jar we assume it may want to be turned into a native image at some point. This will change at some point, but it requires some architectural to move processing out of the maven plugin and into build steps.

[2019-07-23 11:12] iabughosh opened #3312 "CORS with Ajax is not working well."
**Calling REST resources using Ajax is not working fine**
I am trying to call a service sides on my localhost:8080/person (POST) through VueJS app on my localhost:8084 but it is not working. I tried to enable CORS config. in application.properties with the below :

**Expected behavior**
It should work fine and be able to call my resource.

**Actual behavior**
Browser logs error :

Even it is not r

[2019-07-23 11:16] galderz commented on #3306
@emmanuelbernard `@CacheStore` is meant to be used when you want to update the cached key/value pair e.g.

[code]

How would you update a key/value pair otherwise?

WRT invalidate all, I wasn't envisioning having any other APIs for interacting with the caching API initially. I'd rather have an annotation-only approach to start with, along with ways to find out how the cache is performing (e.g. cac

[2019-07-23 11:56] mthmulders commented on #2990
Hmm, but where should we get the `ResultHandle` from in the `addBean` method? The `beanToResultHandle` map doesn't yet contain the bean that is being added so we can't generate appropriate bytecode for it.

(By the way, if this discussion is better held on Zulip, please say so and we'll take it there)

[2019-07-23 11:58] tristantarrant commented on #3306
A few items:

- We need to declare the semantics of invocation of the underlying method, i.e. whether this is synchronous,  akin to a computeIfAbsent while holding a lock on the entry, thus avoiding repeated concurrent invocations of the method in case of a miss.
- If the underlying method is non blocking (i.e. it returns CompletionStage) wire it as a non-blocking caching op. Otherwise we may want

[2019-07-23 12:06] #3095 closed

[2019-07-23 12:18] gsmet commented on #3164
@sberyozkin I think we should address this one sooner rather than later. Having all the Keycloak config build time is really something that won't fly.

(stumbled upon this while answering a user question)

[2019-07-23 12:19] cemnura opened #3313 "Swagger UI extension not working properly on Windows"
**Describe the bug**
swagger-ui does not work in development mode or quarkus-quickstarts\using-openapi-swaggerui test on Windows OS.

**Expected behavior**
**quarkus-quickstarts\using-openapi-swaggerui**
**./mvnw test**

Run Success

**Actual behavior**
**quarkus-quickstarts\using-openapi-swaggerui**
**./mvnw test**

[ERROR] Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.001 s <

[2019-07-23 12:23] manovotn commented on #2990
Hmm, my understanding was that  you do it the same way except that instead of keeping track of injection points for each bean via `InjectableReferenceProvider`, you swap to `Supplier<InjectableReferenceProvider>` instead. Is that right @mkouba?
E.g. [this](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ComponentsProviderGe

[2019-07-23 13:07] emmanuelbernard commented on #3306
@galderz oh so by default, all `@Cache*` something belong in the same name space? I thought it would be qualified by the method name but apparently not if `updateHotToys` and `getHotToys` can interact with one another.

[2019-07-23 13:15] emmanuelbernard commented on #3306
Whether we go for the single annotation like @loicmathieu is proposing (with a flag to force update) or or different annotations, I do feel that the proposed initial names are confusing me. Alternative proposal
- `@Cached`
- `@RefreshCache`
- `@EvictCache`
- `@EvictAllCache`

not in love either

[2019-07-23 13:35] mcrose opened #3314 "NullPointerException at org.hibernate.loader.Loader.instanceNotYetLoaded(Loader.java:1647)"
Hi all
no matter if I use  `quarkus-hibernate-orm` or `quarkus-hibernate-orm-panache` I got the same result

I have to entities: **Hospital** and **Sede**, both entities are annotanted with `@Immutable`

when I run `List<Sede> sedes = Sede.list("hospital", hospital);` there is no problem

BUT when I run `Hospital hospital = Hospital.find("dominio", host).firstResult();`
both `JPQL` inside de `crea

[2019-07-23 13:58] loicmathieu commented on #3306
I'd rather have all annotations starting with `Cache` for the sake of clarity. Think that current developement model is really bloated with annotations and sometimes you have 5 differents, comming from 3 different APIs. Having all annotations starting with `Cache` will be easier to use.

`@Cached`, `@CacheRefresh`, `@CacheEvict` => annotations working at the cache entry level

For working at the r

[2019-07-23 14:00] sebastienblanc commented on #3164
Option 2 looks like the way to go, I can look into it but I will probably need your help. Is there for instance another extension that has the same approach which I could look at ?

[2019-07-23 14:22] emmanuelbernard commented on #3164
@sebastienblanc Infinispan does that. You can caht a bit with @karesti which had to dig on that spoecific subject a while back

[2019-07-23 15:06] ben-manes commented on #3306
In my application code, I don’t use annotation-based programming heavily. I use it for simple static cases, like Guice and RestEasy, which offer good escape hatches back to regular code. In a cache there are a lot of possible scenarios, such as using various Map computation methods or attaching callbacks.

Do you envision this to be a feature to be a convenience for simple cases or the preferred p

[2019-07-23 20:47] devauxbr opened #3316 "Allow configuring debug port in quarkus:dev without suspending JVM"
Hello

**Description**
Here is my problem : I am often running 2 quarkus projects in maven quarkus:dev mode at the same time. So in order to start them both with the JVM debugger enabled, I need to change the default debug mode of at least one of them by specifying a port different that the default one (5005), for instance `-Ddebug=1234` to get the debugger listening on port 1234

It all works wel

[2019-07-24 05:06] stuartwdouglas commented on #589
@FroMage I think this is complete?

[2019-07-24 07:11] rverma-nikiai commented on #820
Can we use vertx grpc https://vertx.io/docs/vertx-grpc/java/ with quarkus?

[2019-07-24 08:04] Manu206 opened #3318 "Quarkus test fails on Jenkins"
My application runs tests very well on my local system. However if I want to execute mvn test on my Jenkins pipeline I encounter problems that might be related to the proxy. I set my proxy for all mvn commands and I see that the dependencies are fetched. During the test phase it breaks with the following error. Is there any dependency loading outside the maven context? Is

`
[INFO]
[INFO] --------

[2019-07-24 08:44] rverma-nikiai opened #3319 "Reactive Messaging support kinesis client"
**Description**
In AWS environments kinesis can be considered as somewhat equivalent to Kafka.
Looking forward to developing a reactive kinesis client which can be used as a drop-in replacement for reactive Kafka client.

Being new to quarkus, can you please outline some pointers required for this implementation. Is there a design doc for extension development?

Thanks

[2019-07-24 09:52] gsmet opened #3320 "Document Keycloak CORS support"
We have a lot of questions on KeyCloak CORS support (mostly by people trying to use the standard HTTP CORS support to no avail).

We need to have it properly documented so we can point people to it.

/cc @sebastienblanc @sberyozkin

[2019-07-24 09:55] gsmet commented on #3319
I think the first step would be to have a Reactive Messaging implementation, then we would include it in Quarkus.

/cc @cescoffier

[2019-07-24 10:05] sebastienblanc commented on #3320
few things we have to check :
* In the guide, CORS is not needed (if you follow really the steps as described) so we can add information about CORS but it must not confuse the user trying out the guide/quickstart
* In the Quarkus Keycloak guide we point to this https://www.keycloak.org/docs/latest/securing_apps/index.html#_java_adapter_config which describes the CORS options but only using the JSO

[2019-07-24 10:19] rverma-nikiai commented on #3319
You meant here https://github.com/smallrye/smallrye-reactive-messaging, correct?

[2019-07-24 10:39] gsmet commented on #3319
Yes, exactly.

The best is to discuss this with @cescoffier to coordinate.

[2019-07-24 10:41] gsmet commented on #3320
So in a few guides, we are starting to have some `Going further` section.

The idea is to start populating this section and, when we have enough of them, separate them in separate pages.

So feel free to add this sort of section to the guide and we will reorganize later. At least we would have a pointer.

[2019-07-24 10:54] galderz commented on #3306
@emmanuelbernard

^ I made a mistake... by default each would work on separate namespaces (as described in initial description). Here's a full example with both working on same namespace:

[code]

It's worth noting that I've not yet considered what to do in situations like this:

[code]

`Country` is the key, how do we signal that? There are at least two camps: use annotations, e.g. `@CacheKey` to

[2019-07-24 11:11] #2113 closed

[2019-07-24 11:22] loicmathieu commented on #3306
I don't know if it's a type but `CacheLoader` has a different meaning : it is usually a way to pre-load a cache before it is used. So `CacheLoad` is better.

[2019-07-24 11:24] galderz commented on #3306
@tristantarrant:

+1 on needing to declare the semantics.

If the return type is not async, I'd expect the cache call to be synchronous. If the return type is async, the cache call would be asynchronous and when that completes it'd complete the method return type.

I do have doubts on whether to lock or not. Depends on the type of annotation and whether async or sync:

* For `@CacheLoad` and *sync

[2019-07-24 11:24] galderz commented on #3306
@loicmathieu

Should be `@CacheLoad`. Spelling mistake 😅

[2019-07-24 11:42] galderz commented on #3306
@tristantarrant

I agree the need for the user to able to configure the timeout, but not sure about the need of alternate value of fault handling. Let's look at the use cases:

* For `@CacheLoad` if underlying cache get times out, the method would be just invoked (same as if the cache did not contain the key). If the cache put that happens after method invocation times out, that could be ignore to

[2019-07-24 11:46] galderz commented on #3306
@loicmathieu WRT locking, we seem to have similar ideas. I've split the decision on whether to lock or not depending on the use case and depending on whether caching is sync/async.

[2019-07-24 11:59] ppalaga opened #3321 "create-extension Maven mojo should allow creating from scratch"
A followup of #2113 .

create-extension Maven mojo added via #3191 allows creating new extension modules inside an existing source tree. It should be enhanced to be able to create new extension projects from scratch.

cc @aloubyansky @Dufgui

[2019-07-24 12:02] ppalaga opened #3322 "create-extension Gradle task"
A followup of #2113 . A Maven mojo was added via #3191 (see also #3321 )

[2019-07-24 13:16] emmanuelbernard commented on #3306
[code]

[2019-07-24 13:33] gsmet commented on #3306
Maybe people already did that but could we take a look at the Spring cache annotations: https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/cache/annotation/package-summary.html ?

A lot of people use them and are (mostly) happy with them. And someone will probably say at some point that we need a compatibility layer so they might be a good starting point.

Not saying we sho

[2019-07-24 13:45] galderz commented on #3306
@ben-manes Great feedback, let me write my thoughts:

With this proposal, I've tried to get to the essence of application data caching:

* Allow data coming from an expensive service to be cached locally for fast access.
* Allow cached data to be updated when updating it in the expensive service.
* Allow cached data to be invalidated when removing it from the expensive service.

I don't think you

[2019-07-24 13:51] emmanuelbernard commented on #3306
I exchanged a bit with Sanne on the timeout idea. I am also interested in the answer to Galder's question: should the fallback on timeout be the regular method, it sounds reasonable.

Also if we do @Cache(timeout=3600), I think we would also need something like `quarkus.cache.method.f.q.c.n.MyService.getHotToys.timeout=3000` (aligned with how MP does these overridings per method).

But on the fall

[2019-07-24 13:56] emmanuelbernard commented on #3306
To reply to @ben-manes and @galderz , the other advantage with the annotation based model is that with Quarkus build time extension, you can inline the calls with bytecode enahncement.

[2019-07-24 15:16] #3268 closed

[2019-07-24 15:32] #3253 closed

[2019-07-24 16:56] ben-manes commented on #3306
Thanks @galderz, @emmanuelbernard, et al. I like how this discussion is handling the various feedback.

For an in-memory cache, the preference would be double-checked locking style (lock-free read => lock entry => compute if absent). This affords the perf benefits when present and avoids the query storms when absent. A lookup might be useful, but I don't know when a non-blocking cache load would b

[2019-07-24 16:57] aloubyansky commented on #2307
Duplicates #3103

[2019-07-24 17:04] aloubyansky commented on #2307
Sorry, I had to switch focus on other issues. I'll give an update by the end of the week. Hopefully in the form  of a PR.

[2019-07-24 19:37] mthmulders commented on #2990
I've changed that place to work with `Supplier` instead of `InjectableReferenceProvider`. After some additional changes, unit tests are still green.

But my question remains. The `addBean` method expects that its `beanToResultHandle` param will contain a `ResultHandle` for its `bean` parameter. But in case of a circular dependency, it isn't there (yet). What should the generated `getComponents` me

[2019-07-24 21:48] XciD opened #3324 "java.lang.UnsatisfiedLinkError with Tensorflow library"
Hello,

I'm trying to create a `native-image` that contains the [Tensorflow Java API](https://www.tensorflow.org/install/lang_java)

I've started from the gettings started tutorial.
Just added:
[code]

And in a resources:
[code]

Building with `mvn verify -Pnative`
With `native-image` options:
[code]

And when I start the server, I've this Exception:
[code]

Just to be sure, I've made a small mave

[2019-07-25 00:00] luszczynski commented on #3200
Hey @geoand,

I've been busy traveling these last weeks and will continue on the next two weeks. It may take a while until I can get my hands on quarkus and openshift client. I just want to give some feedback to you so you can plan your work for quarkus `0.20.0`

[2019-07-25 05:40] geoand commented on #3200
Hi @luszczynski,

Thanks for the update! I probably won't have time to start working on this for 0.20.0 either, so I guess we'll have to wait for 0.21.0

[2019-07-25 06:36] Dufgui commented on #3039
Hello,

i test to send a simple mail and a second one with attachement and it's work with vertx 3.7.1.
We must just before set an application password in the gmail account. and put it in the code.
`mailer.client = MailClient.createShared(mailer.vertx,
                new MailConfig().setPort(587).setStarttls(StartTLSOptions.REQUIRED).setHostname("smtp.gmail.com")
                        .setPasswo

[2019-07-25 06:37] Dufgui commented on #3039
So I will create a PR for the doc update

[2019-07-25 07:10] jbourbo opened #3326 "Native image Hibernate Exception"
Hello,

I successfullt built a native image with a docker as below:

## Stage 1 : build with maven builder image with native capabilities
FROM quay.io/quarkus/centos-quarkus-maven:19.0.2 AS build
USER root
RUN echo "$GRAALVM_HOME"
RUN mkdir -p /tmp/ssl-libs/lib && cp /opt/graalvm/jre/lib/security/cacerts /tmp/ssl-libs && cp /opt/graalvm/jre/lib/amd64/libsunec.so /tmp/ssl-libs/lib/
RUN mkdir -p /us

[2019-07-25 07:48] mkouba commented on #3058
@gunnarmorling ^ ?

[2019-07-25 08:29] gsmet commented on #3324
It would be interesting to have an extension wiring everything for the user.

Would you be interested in giving it a try?

[2019-07-25 09:00] XciD commented on #3324
Of course, but I may need some help :)

[2019-07-25 09:55] emmanuelbernard commented on #3306
Based on @ben-manes feedback, I agree that a API level will come (even if later).
I wonder how we should proceed on the annotation design vs the API design then:

1. consider them unrelated and incompatible when worked together (probably not)
2. design the annotation based approach and the API one after (i.e. in a separate issue)
3. try and design both here (or enough that we have confidence) but

[2019-07-25 09:56] emmanuelbernard commented on #3306
Oh BTW I agree, do the 80% use cases well and accept it won't do everything makes sense for the Quarkus usage. We know people will be able to fall back to full Caffeine, Infinispan, etc APIs when they need more.

[2019-07-25 10:51] aloubyansky opened #3329 "Quarkus Platform Repository"
The Quarkus Platform will be aggregating extensions from Quarkus Core and extensions developed externally, including their testsuites. The platform build process will be generating the BOMs and parent POMs for applications as well as the catalog of extensions as a JSON file for Quarkus tooling (such as the starter).

proposed action-plan made on 2019-09-25 (made by @aloubyansky  and @maxandersen)

[2019-07-25 10:51] herodes1991 commented on #2125
Hey, I'm following the guide that you update (https://github.com/Dufgui/quarkus/blob/master/docs/src/main/asciidoc/native-and-ssl-guide.adoc#the-sunec-library-and-friends) and i'm still having a warning:
` WARNING: The sunec native library, required by the SunEC provider, could not be loaded. This library is usually shipped as part of the JDK and can be found under <JAVA_HOME>/jre/lib/<platform>/l

[2019-07-25 11:00] tandraschko commented on #2714
@gsmet is there any expected release date for gizmo?

[2019-07-25 11:30] XciD opened #3330 "Restart API on each test"
**Description**
I've an API that load files at start up that modify the behavior of my endpoint.

I've written two test, but only one works because the API stays running.

Could we have any option that says that we need to reload the API for a Test ?

Thank you

[2019-07-25 12:47] geoand commented on #3330
Relates to #2866

[2019-07-25 12:49] geoand commented on #3318
In short, yes, Quarkus does do perform some dependency related operations.
Not sure what the problem is in your case, @aloubyansky is the expert on this kind of thing :)

[2019-07-25 12:54] aloubyansky commented on #3318
Where do you configure the proxy?

[2019-07-25 12:54] geoand commented on #3311
Although not a real solution, you can use `quarkus.arc.remove-unused-beans=framework` instead of the more invasive `quarkus.arc.remove-unused-beans=false`.

Furthermore you could also annotate your exporters with `@Unremovable`

[2019-07-25 13:04] ia3andy opened #3331 "NPE when using io.quarkus.cli.commands.CreateProject.doCreateProject() on native image"
**Describe the bug**
Having NPE when using when using io.quarkus.cli.commands.CreateProject.doCreateProject() on native image. I suppose the template are not automatically included

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1. Use

[2019-07-25 13:06] #2997 closed

[2019-07-25 13:57] aloubyansky commented on #2307
I just submitted a PR https://github.com/quarkusio/quarkus/pull/3332
If somebody could provide any feedback by giving it a try or a review, I'd highly appreciate it. Thanks.

[2019-07-25 14:24] dkellenb commented on #3311
Unfortunately we are not able to use `@Unremovable` or `=framework`, as these beans are from other libraries, but these note may be interesting for other readers.

[2019-07-25 14:29] geoand commented on #3311
I see

[2019-07-25 23:52] #2962 closed

[2019-07-25 23:52] #3233 closed

[2019-07-26 06:30] ia3andy opened #3339 "Issues with project generation on Windows"
**Describe the bug**
Initially found by @stuartwdouglas https://github.com/fabric8-launcher/launcher-quarkus/issues/66

With a zip created using `CreateProject`: https://github.com/fabric8-launcher/launcher-quarkus/blob/master/src/main/kotlin/io/launcher/quarkus/LauncherQuarkus.kt#L45

The zip does not unpack correctly on Windows, instead of src/main/java/org/example/ClassFile.java you get src/mai

[2019-07-26 06:36] ia3andy opened #3340 "Using ZipProjectWriter with CreateProject, Projects should be generated in a folder"
This issue was reported on the launcher https://github.com/fabric8-launcher/launcher-quarkus/issues/65 by @jclingan

When unzipping a project, the contents are extracted into the current directory. Example:

[code]
Project content should be extracted into a folder based on the project name:
[code]

[2019-07-26 06:56] mkouba commented on #3282
This issue duplicates https://github.com/quarkusio/quarkus/issues/2224.

[2019-07-26 07:00] mkouba opened #3341 "Log a warning when transactional observers are used"
Transactional observers are not supported yet. We should log a warning when a transactional observer is used.

We should also update the guide and mention the missing feature in the "Limitations" chapter.

[2019-07-26 07:00] mkouba commented on #3341
For the record - there's an open issue to implement transactional observers:
https://github.com/quarkusio/quarkus/issues/2224

[2019-07-26 07:08] machi1990 commented on #3341
Hi @mkouba I’d like to take a look at this over the weekend.

[2019-07-26 07:16] #3282 closed

[2019-07-26 09:09] zaretskyy opened #3342 "Unable to build native image with Tika"
**Describe the bug**
Build fails while running multistage docker build with

[code]

**Expected behavior**
Build succeds

**Actual behavior**
Build fails

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://zarets.egnyte.com/dl/zHkzBNRM4a
2. Extract
3. Run `docker build -f src/main/docker/Dockerfile.multistage -t quarkus-quickstart/getting-started .` in extracted dir
[code]
java

[2019-07-26 09:52] gsmet commented on #3319
Follow-up: https://github.com/smallrye/smallrye-reactive-messaging/issues/160

[2019-07-26 09:58] csotiriou opened #3343 "Quarkus MongoDB Client: Connect to multiple MongoDB clusters from the same app"
**Description**
Reading the guide about mongo here: https://quarkus.io/guides/mongo-guide there doesn't seem to be a straightfoward way of connecting to two clusters simultaneously in the same app.

Reading the code, I couldn't find this feature anywhere - unless I am missing something.

I would expect a configuration like the Quarkus Rest Client (https://quarkus.io/guides/mongo-guide), something

[2019-07-26 10:53] gsmet commented on #3343
Yes, that would be doable. A good example of that is the `agroal` extension where we support multiple datasources.

I think it's a good issue for a beginner as the `agroal` extension should . Would you be interested in taking a look at it?

[2019-07-26 11:57] cg-d opened #3345 "quarkus-resteasy-jackson needed"
**Description**
Please provide a configuration dependency to use jackson as object mapper instead of json-b.
The reason for this is the superior support for Kotlin data classes in jackson. Using jackson-module-kotlin jackson can directly marshal data classes w/o a no args constructor.

[2019-07-26 12:12] csotiriou opened #3346 "ReactiveMongoClient is always null. Plain MongoClient works."
I am using MongoDB client in quarkus 0.19.1.

I have started my database using docker, and put this in my `application.properties`:

[code]

Then, in my resource, I have put:
[code]
It seems that `ReactiveMongoClient` is always null. If I change `ReactiveMongoClient` to `MongoCient`, however, the instance is instantiated properly.

That renders `ReactiveMongoClient` unable to be used. Is there any

[2019-07-26 12:17] kenfinnigan commented on #3342
Can you take a look @sberyozkin

[2019-07-26 12:28] gsmet commented on #3346
I don't think you need some special configuration. They are initialized the same way.

Could you prepare a reproducer?

[2019-07-26 12:43] gsmet commented on #3345
So this was a conscious decision but I started a thread on the quarkus-dev mailing list to see if we should revisit it.

[2019-07-26 12:45] csotiriou commented on #3346
@gsmet I will do it later today, but I searched a bit deeper into the issue and I would like to show you my findings.

I found that the `MongoClient` and the `ReactiveMongoClient` have a difference as to when they are instantiated and called for the first time.

This piece of code in the `MongoClientProducer` is called only once.

[code]

This piece of code in the `MongoClientRecorder` is also cal

[2019-07-26 12:54] Manu206 commented on #3318
I'm simply using mvn command like this:

`
mvn test -Dhttp.proxyHost=URL -Dhttp.proxyPort=PORT -Dhttps.proxyHost=URL -Dhttps.proxyPort=PORT
`

[2019-07-26 13:52] galderz commented on #3306
@emmanuelbernard

[code]

This resembles similar ideas to [JCache's `CacheKeyGenerator`](https://static.javadoc.io/javax.cache/cache-api/1.0.0/javax/cache/annotation/CacheKeyGenerator.html). It uses a class called `CacheKeyInvocationContext` to wrap invocation information. It adds target object as well parameters. Worth noting that JCache has both options: `@CacheKey` and pluggable `CacheKeyGenera

[2019-07-26 13:57] loicmathieu opened #3347 "Livereload doesn't work for AMQP reactive messaging"
**Describe the bug**
I follow the AMQP guide (https://quarkus.io/guides/amqp-guide) and the livereload was not working. When I update one of my classes I need to restart Quarkus.

**Expected behavior**
Livereload avoid restarting Quarus for each source modification.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the guide
2. Send a message (I use Artemis admin console to send a messa

[2019-07-26 14:11] galderz commented on #3306
@gsmet Re: Spring cache annotations - Yeah, both Spring Cache annotations and JCache annotations have been inspiration for the suggestions here.

[2019-07-26 14:13] geoand commented on #3346
When using `@Inject`, you shouldn't normally get a `null` value, so this is very weird. As @gsmet said, a reproducer would go a long way to enable us to track down the issue.

Thanks

[2019-07-26 14:43] XciD commented on #3330
How can I help with this ?

[2019-07-26 14:53] geoand commented on #3330
@XciD thanks for volunteering! For the time being, we need to see how this will play out in #2866. Once that is figured out, we should have a clearer path to move this ahead

[2019-07-26 14:57] ia3andy opened #3348 "[CreateProject] Empty directory levels in zipped archive"
**Describe the bug**
This bug has initially been created by @johnaohara:
https://github.com/fabric8-launcher/launcher-quarkus/issues/39

The created Zip archive contains additional directory levels, e.g. `/src/main/java//org/example//QuarkusApp.java`, or `/src/test/java//org/example//QuarkusAppTest.java`.

When the file is unzipped, the directory structures appear to be created correctly. Browsing

[2019-07-26 14:58] ia3andy commented on #3348
@gsmet I've noticed it too, that could be the source of the Windows bug no?
https://github.com/quarkusio/quarkus/issues/3339

[2019-07-26 14:59] galderz commented on #3306
@emmanuelbernard Re: fallback

I like the idea of having a separate concept and like the use of method references.

How would you deal though with situations where the backup method requires a parameter? If the expected parameter(s) are already passed to the `getHotToys`, then I guess passing it on to `backupToys` would be easy to do.

But what about if the fallback method requires a different par

[2019-07-26 15:39] galderz commented on #3306
@ben-manes

Hmmmmm, the problem I have with this is the following: say you have 100 threads doing calling such a method simultaneously. All 100 see the entry is not cached. One of them goes, acquires the lock an goes to the service... What do the other 99 threads do? In the sync case they'd have to wait around for the lock to be released for N seconds. In the async/reactive case is not so bad beca

[2019-07-26 15:42] galderz commented on #3306
@ben-manes Some more replies:

^ What other common cases did you have in mind? Could you share them here briefly? It'd help completeness.

[2019-07-26 15:50] galderz commented on #3306
@emmanuelbernard @ben-manes

I think my preference would be 2.

JCache was essentially an attempt to do 3 which ended up with inconsistencies (as noted by @ben-manes [here](https://github.com/quarkusio/quarkus/issues/3128#issuecomment-511485972) and [here](https://github.com/quarkusio/quarkus/issues/3306#issuecomment-514714408)). It is true though that the inconsistencies could have been fixed...

[2019-07-26 15:51] galderz commented on #3306
@ben-manes One more thing about to lock or not: whichever default we end up agreeing on, we should have an option to switch on/off the locking in similar fashion to Spring's `Cacheable#sync`. This would avoid locking ourselves up in one case or the other.

[2019-07-26 16:11] #3039 closed

[2019-07-26 16:18] aloubyansky commented on #3318
Ok, thanks. I can reproduce the issue. I won't be able to fix it in the next release though (which is scheduled for the next week).
BTW, this is not a Maven-recommended way of configuring proxies. The Maven way would be https://maven.apache.org/guides/mini/guide-proxies.html
It looks like our bootstrap is using different impl of transporters that don't check these props.

[2019-07-26 17:20] emmanuelbernard commented on #3306
Be careful, this is not a method reference. This is method reference-like in a String.
You can't do method reference in annotations as method references are instances.

Good point, you would need the same list of parameters. Hum, disappointed :)

We need to explore with pseudo examples, but it's here to avoid a if statement and control the backup flow for the user so I suppose having the same set

[2019-07-26 17:45] emmanuelbernard commented on #3306
Ok so better align in name, though you scare me about the invocation context thing.

As for getting both options, here is my take: if we think >80% of the usage are going to take app method parameters into account, then I would go for the no annotation option and the full flexible provider option.
If we think that it's more that a subset of a method parameter are the key, then we will need the `@C

[2019-07-26 18:07] YassinHajaj commented on #1658
Does someone have more info on this?

[2019-07-26 20:21] drissamri opened #3352 "quarkus-amazon-lambda fails with java.net.UnknownHostException"
**Describe the bug**
quarkus-amazon-lambda basic project generates UnknownHostException: null

**Expected behavior**
Unit test runs without any problems. quarkus:dev mode starts without any problems.

**Actual behavior**
Unable to run unit tests or startup in quarkus:dev mode.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:drissamri/quarkus-jvm-dev-bug.git`

[2019-07-26 20:46] drissamri opened #3354 "quarkus-amazon-lambda @Inject doesn't work in JVM mode"
**Describe the bug**
@Inject of services is not working, throwing a nullpointer at runtime.

**Expected behavior**
Services are created and injected

**Actual behavior**
No injection is happening:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:drissamri/quarkus-jvm-dev-bug.git`
2. Install [Serverless Framework ](https://serverless.com/framework/docs/provider

[2019-07-26 20:54] drissamri commented on #3354
https://stackoverflow.com/questions/56620352/quarkus-aws-lambda-function-cdi-doesnt-work-in-handler-class mentions CDI only works in native mode but I'm unable to find any official reference to this?

[2019-07-27 04:35] ancgate commented on #2578
@ChristopheMaldivi,

I was having the error JSON Binding serialization error java.lang.StackOverflowErrorError with quarkus. I have applied your fixed and I no longer have this issue anymore.

[2019-07-27 05:41] ben-manes commented on #3306
Thanks @galderz,

vs

The sync case is the positive outcome, not the negative. In the first case you have put a high load on your database: the query may be slow and redundant work is wasting capacity. Each thread is performing network, entity hydration, etc work needed to instantiate the value. The resource contention means that the fastest result from the 100 parallel queries will be slower perf

[2019-07-27 10:59] csotiriou commented on #3346
@geoand @gsmet thanks for your help. As the problem is not noticeable in new projects, I have only a closed-source project where this happens.

I will try to play with its dependencies and code, and provide you with a new open source project where the problem is apparent.

[2019-07-27 11:52] csotiriou commented on #3346
I finally managed to properly reproduce the problem in the project attached.

[quark.zip](https://github.com/quarkusio/quarkus/files/3438123/quark.zip)

Ways to reproduce:

1. `cd` into the project
2. do an `mvn compile quarkus:dev`

The project will fail to start.

In the `MongoProducer`, you can remove the `@Provider` from the `produceAssetDatabase()` method. The project will then start normally

[2019-07-27 13:11] geoand commented on #3346
Thanks @csotiriou, I'll try and take a look soon

[2019-07-27 13:53] geoand commented on #3346
@csotiriou unless I am missing something you are not using CDI correctly. When I change your code to:

[code]

and

[code]

then by starting the (`mvn quarkus:dev` or vanilla `java -jar`) and hitting `http://localhost:8080/apid/bName` correctly gives me `test`.

So I am going to take the liberty and close this issue. If you feel it hasn't be resolved, feel free to reopen and provide your thoughts

[2019-07-27 13:53] #3346 closed

[2019-07-27 16:51] csotiriou commented on #3346
@geoand I now see what I was missing. Thanks a lot, my issue is probably invalid, thanks for the patience.

[2019-07-27 16:59] geoand commented on #3346
Don't mention it 😎

[2019-07-27 23:33] Dufgui commented on #1790
duplicate of #3102

[2019-07-28 08:32] mmornati commented on #2125
Hey @herodes1991, what is the base image you are using for your final Docker?
It can be something related to this because reading the error you are receiving, it can be something related to a missing dependency to the SunEC files and not maybe to the files themself.

[2019-07-28 09:48] Dufgui commented on #3101
`gradle init` seems to be not used for this, it's more artifact and language approach, you can see it here:
https://github.com/gradle/gradle/tree/master/subprojects/build-init/src/main/java/org/gradle/buildinit/plugins/internal
or
https://docs.gradle.org/current/userguide/build_init_plugin.html

So their is some other approach:

- gradle init-script : https://docs.gradle.org/current/userguide/init

[2019-07-28 09:49] Dufgui commented on #3322
If nobody start to work on it, i will try.

[2019-07-29 07:33] gwenneg commented on #3306
@galderz:

I am not sure to understand how this sentence should be applied for the following case:
[code]
My understanding is that these two annotations would use different namespaced caches since the methods signatures are different. Then how would we invalidate all entries from the `@CacheLoad` annotated method? When would `@CacheInvalidateAll` without declaring an explicit `cacheName` parameter

[2019-07-29 07:44] gsmet commented on #3306
On Fri, Jul 26, 2019 at 5:39 PM Galder Zamarreño <notifications@github.com>
wrote:

I don't think having different behaviors is a good idea.

And I also think that in a lot of cases, you don't want to hammer your
datasource even in the sync case. At least, that's what we did at
$previousJob: we preferred waiting for the result being available in the
cache before pursuing: the database was the perf

[2019-07-29 07:55] #3345 closed

[2019-07-29 08:14] #2678 closed

[2019-07-29 09:50] FroMage opened #3363 "Auto-generate services files"
We should be able to generate a `META-INF/services/org.foo.Bar` file based on the existence of implementations of `org.foo.Bar`. Possibly requiring an annotation such as `@Service`, but I'm not sure we really need that.

Those files are just very annoying to write because it's easy to mix `service` and `services` and get the name of the file wrong, as well as its contents, because nothing is type-

[2019-07-29 09:57] FroMage commented on #589
`LaunchMode` is all we need, but how do we access it from non-extensions? Like in a REST endpoint? Do we have a static method to get it? Can I inject it? Is it documented?

[2019-07-29 10:14] emmanuelbernard opened #3364 "Support sql-load-script=no-file in Hibernate ORM"
The objective is to force ORM to ignore the default `import.sql` file.

[2019-07-29 10:20] csotiriou commented on #2657
@kenfinnigan Unfortunately, the problem persists in the case of a bad response. I am using Quarkus 0.19.1, and when I get an error 503, I get a "Method Call Not Supported" as an error from my service.

[2019-07-29 12:10] kenfinnigan commented on #2657
Though annoying, it does make sense, kind of. It's saying that you can't have a partial response unless the return type supports it.

But, I'm not sure why an HTTP error in the call means it's a partial response.

[2019-07-29 12:28] antoniomacri opened #3369 "Injected null in subclassed ContainerRequestFilter"
**Describe the bug**
When extending a class which implements ContainerRequestFilter, the extended class gets @Inject'ed null in its fields.

**Expected behavior**
The injection is not null.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/antoniomacri/quarkus-npe-filter-inheritance.git`
2. `mvn test`

**Environment (please complete the

[2019-07-29 13:25] #3341 closed

[2019-07-29 13:51] #1491 closed

[2019-07-29 14:09] gsmet commented on #2714
@tandraschko sorry, I'm releasing as we speak. I will upgrade for Wednesday's release.

This one fell through the cracks.

[2019-07-29 14:15] gsmet commented on #3313
Could someone having the issue on Windows try to add a breakpoint here: https://github.com/quarkusio/quarkus/blob/master/extensions/swagger-ui/deployment/src/main/java/io/quarkus/swaggerui/deployment/SwaggerUiProcessor.java#L154

Then run `mvn clean compile quarkus:dev -Ddebug` and see if the jarEntry path has `\` in it or `/` (please copy/paste the path here).

Thanks.

[2019-07-29 14:15] #3320 closed

[2019-07-29 14:20] gsmet commented on #3314
@mcrose could you prepare a reproducer? That would help trying to understand what's going on.

Thanks.

[2019-07-29 14:23] emmanuelbernard commented on #3101
No real preference for me.

On Sun 28 Jul 2019 at 11:48, Duff <notifications@github.com> wrote:

[2019-07-29 14:25] alesj opened #3370 "No error / warning on port conflict"
I had some really old process (some GAE server) running on 8081, forgot about it, but when running Quarkus REST quickstart, the tests didn't pass -- as they run on 8081 ... they just failed with wrong test result.
Imho, Quarkus should barf as there was a port conflict,
where actually it was a misleading error -- plain 404 instead of expected 200 http response code.

[2019-07-29 15:20] evanchooly commented on #3352
that lambda code attempts to poll the AWS infrastructure for incoming requests before proxying off the request to your lambda code.  That's the unknown host (`null`) that it's complaining about.  Dev mode is not currently supported for this extension.  You'll need to run something like SAM local to approximate this.

[2019-07-29 15:37] Dufgui commented on #3101
personnaly i prefere the last 2 approaches:
- use our existing maven template generator
- fork one of this : https://github.com/townsfolk/gradle-templates or https://github.com/blackbaud/gradle-templates and create our gradle plugin to do it

we can do it as //

[2019-07-29 16:51] gbourant opened #3372 "Configurable body size"
I tried to change the default body size via undertow-handlers.conf but it's not working.

The undertow-handlers.conf file contains the following :

`method(POST) -> buffer-request(buffers=20000000)`

Also, @gsmet suggested that it would be better expose this kind of configuration in application.properties

P.S. This is the first time that i use undertow so i might got the configuration wrong.

[2019-07-29 19:15] gunnarmorling commented on #3030
Hey @dmlloyd, I'm curious: did you have a chance to reproduce this as per the steps above?

[2019-07-29 23:50] soberich opened #3374 "Blaze Persistence support/extension."
**Description**
First, a link to a parent issue in `blaze-persistence` tracker.
https://github.com/Blazebit/blaze-persistence/issues/817

I would like to see support of Blaze Persistence `entity-view` capabilities in Quarkus. I want to implement support try to implement it, thought I have to controversial opinion on ability to do so and, primarily to complexity/simplicity of implementation.

On on

[2019-07-30 04:54] rverma-nikiai commented on #2125
Even with above docker file I am getting ```io.vertx.core.VertxException: javax.net.ssl.SSLException: failed to initialize the client-side SSL contextError id 85861ad3-2b57-49d9-bd9e-ad5ed1750b4a-1```

[2019-07-30 05:54] mmornati commented on #2125
@herodes1991 when you say the dockerfile is exactly what you pasted you mean that is **exactly** that? Because there is a missing line in your first stage... But I think without it it won't build.

[code]

[2019-07-30 05:56] mmornati commented on #2125
Ok my side I used **almost** that dockerfile. I just replaced the `{graalvm-version}` with the version I was already using for the build.

[2019-07-30 06:01] herodes1991 commented on #2125
Yes sorry, I put incorrectly comment and the line disappear, but yes. It was exactly that what i had and i am still having the same problems
Also i check inside the docker container and the files are correctly copied 😅

[2019-07-30 06:16] mmornati commented on #2125
I'm going to retest on my side. With the 0.19.1 version of quarkus I had no problems at all (I'm still using the container today... But I didn't rebuild it yet :)).
Tesring it again and get back to you.

[2019-07-30 06:20] herodes1991 commented on #2125
I am testing it again after re-installing the graalvm to the 19.0.2 version.
I will inform you if it works 😄

[2019-07-30 06:23] mmornati commented on #2125
Ah wait: how do you build the native version? On my side I'm not using the locan graalvm. The build is completely done inside container (with the native Docker I proposed on the first stage).
Maybe there is a difference in the native image which is coming out.
The first stage of the build is copying the Graalvm file from the Docker imagine used for the build... If you are not using that Docker for

[2019-07-30 06:25] herodes1991 commented on #2125
I build it using the gradle task
`./gradlew clean build buildNative --docker-build=true`
And i check it and it's using the `quay.io/quarkus/ubi-quarkus-native-image:19.0.2`

[2019-07-30 09:00] rverma-nikiai commented on #2125
Same here.
Still getting the exception, I build using `quarkus 0.19.1` with `./mvnw package -Pnative -Dnative-image.docker-build=true`, which used `quay.io/quarkus/ubi-quarkus-native-image:19.0.2`.

Dockerfile
[code]
Adding complete stacktrace as well
[code]

[2019-07-30 10:00] #3150 closed

[2019-07-30 10:25] machi1990 commented on #3221
@gsmet I'll like to finish this work :-). Let me prepare something.

[2019-07-30 10:42] #2714 closed

[2019-07-30 11:49] Sanne commented on #3374
Very interesting idea, but to be honest we also strive to be "opinionated": suggest one single good apprach to do something.

Did you have a look at our Panache extension?
 - https://quarkus.io/guides/hibernate-orm-panache-guide

How would that play out with Blaze, would you see them as competing approaches?

Regarding the concerns you have:

**1 - basing on javassist**

we would prefer it to use

[2019-07-30 11:51] Sanne commented on #3374
P.S. Quarkus has been created by the same people maintaining Hibernate : that might help clarify some things?

Also, Hibernate is deprecating the use of javassist as well.

[2019-07-30 12:07] Sanne opened #3378 "Upgrade to Hibernate ORM 5.4.4.Final"
**Description**
Hibernate ORM 5.4.4.Final is now available and contains several interesting performance optimisations.

The most notable one is called "Enhanced Proxies" (documentation and blog pending...), which is relevant for users doing build-time enhancements - such as Quarkus users.

[2019-07-30 12:17] kenfinnigan commented on #629
Closing as I've verified this with 0.19.1

[2019-07-30 12:17] #629 closed

[2019-07-30 12:34] #2907 closed

[2019-07-30 12:58] Sanne commented on #3378
actually let me spit this in two: update version as first step.

[2019-07-30 13:18] jmini commented on #2907
The second part of this issue (`mp.openapi.scan.disable=true`) is fixed with PR https://github.com/quarkusio/quarkus/pull/3362

[2019-07-30 15:45] FroMage opened #3380 "Support letsencrypt"
We want to make ssl with letsencrypt trivial to do with quarkus. We need a new `quarkus-letsencrypt` extension which has two modes of operation:

- standalone: quarkus is assumed to be terminating its own ssl connection. In PROD mode, the extension will contact letsencrypt to ask for a certificate, and serve the challenge over port 80. Once the certificate is obtained, the extension will store it

[2019-07-30 15:45] Sanne commented on #3378
fixed by #3379

[2019-07-30 15:45] #3378 closed

[2019-07-30 16:57] #3221 closed

[2019-07-30 18:56] ronsigal commented on #2773
@asoldano has reminded me of the existence of this issue. As the Innkeeper of Bree said, "One thing drives out another".

1. Currently, the expected injection does not work in RESTEasy. The fact is that there is no discussion in the JAX-RS spec of how to treat a Client created on a server. Given the importance of the issue, I think it's something that should be addressed, eventually.

2. In the me

[2019-07-30 19:01] masini commented on #2773
Consider that we have an asymmetric behaviour.

An example:
1) Create a Provider used Server side that use CDI injection, this works
2) The same Provider is used client side, but here the injection doesn't
work

This is confusing and constrained me to write code that understand if is
running client-side or server-side.

Il giorno mar 30 lug 2019 alle ore 20:56 Ron Sigal <notifications@github.com>

[2019-07-30 19:04] ronsigal commented on #2773
@masini, I'll take that as a vote for making injection work, one way or another.

[2019-07-30 19:48] soberich commented on #3374
@Sanne
1. Which of the extensions is most similar to this one which should be implemented? To borrow ideas..
2. Which of the extensions is the number 3 in the list of possible approaches? E.g. "flexible CDI extension"
3. Which is number 2?
4. Which approach do you recommend from between the two for Blaze Persistence extension?

[2019-07-31 08:04] gsmet commented on #3364
Fixed by https://github.com/quarkusio/quarkus/pull/3368 .

[2019-07-31 08:04] #3364 closed

[2019-07-31 09:08] wargun02 opened #3382 "Frequent Hitting "org.hibernate.exception.GenericJDBCException: Unable to release JDBC Connection" on MariaDB 10.3"
Hi there, I keep getting "Unable to release JDBC Connection" exception while running quarkus against MariaDB:
[code]

This happens in a very unpredictable frequency.

The JDBC url is already with autoReconnect Parameter, and here are the application.properties entries which I am using for development (I'm keeping the min and max connection very low):
[code]

I have checked on the MariaDB instance'

[2019-07-31 09:44] MengdanCode opened #3383 "Error Code 137 and 143 on OCP while downscaling"
**Describe the bug**
After deploying the Quarkus quick start sample application to OCP3.11, I'm seeing errors while downscaling the application. If the application is deployed using s2i, error code 137 is shown. And if the application is compiled locally using the given Dockerfile then deployed to OCP, error code 143 will be given while downscaling.

**Expected behavior**
The application should be

[2019-07-31 11:05] #3231 closed

[2019-07-31 11:56] ginccc opened #3385 "Allow keycloak integration to be disabled"
**Description**
Also a project might have quarkus-keycloak in the classpath, it should be possible to enable/disable it via a config param.

**Implementation ideas**
this is how the config could look like: (at least how i use it in EDDI, being able to configure whether to use keycloak or basic auth, and which paths should not be protected by either method)

[code]

[2019-07-31 12:37] owennewo commented on #305
I can stitch a solution together but docs would be helpful.

Here are my thoughts/solution
- quarkus main config story is application.properties typically found in src/main/resources.  This file gets copied into package jar (or embedded in graal binary)
- quarkus has an undocumented feature that prefers to use an external properties file workingdir/config/application.properties if present
- the Do

[2019-07-31 12:55] ppalaga opened #3386 "Document create-extension Maven mojo"
A followup of https://github.com/quarkusio/quarkus/pull/3191

A paragraph in the extension guide should be added explaining how `create-extension` works.

Could you please assign to me?

[2019-07-31 14:26] trsantospt opened #3387 "Vertx ConfigStores not working in native mode"
I'm currently trying to migrate an existing application entirely made with Vertx to use Quarkus.
So far I successfully migrated to Quarkus and it's up and running in JVM mode. But when trying to run in native mode, even though it successfully builds the native runner, on execution it's raising me the following error:

[code]
My Vertx application loads up configs from files using the Vertx ConfigSt

[2019-07-31 15:07] ia3andy opened #3388 "Having Deadlocks using CreateProject with multiple threads"
**Describe the bug**
I need to use `CreateProject` in a rest api, therefore, it needs to be threadsafe.
I run into Deadlock when calling it will multiple threads.

**Expected behavior**
CreateProjects in a multithreading env without problem

**Actual behavior**
Deadlock

**To Reproduce**
Steps to reproduce the behavior:
- Create a unit test calling CreateProject in multiple threads

[2019-07-31 15:28] wargun02 commented on #3382
Looking at the exception stack, I found something right at the bottom, which I think might help the diagnostics:

[code]

[2019-07-31 16:46] emmanuelbernard opened #3389 "Change default value of `sql-load-script` to `no-file` in PROD mode"
While having `import.sql` imported for dev and test makes sense, I have the feeling that making it an explicit choice in PROD is likely worthwile.
What do you think @gsmet @Sanne ?

It's a restart on the question asked https://github.com/quarkusio/quarkus/pull/3368 that got unaddressed.

[2019-07-31 17:14] gwenneg commented on #3306
The no-cacheName annotations actually make sense in the JCache specification because the cache name [defaults to CacheDefaults.cacheName()](https://static.javadoc.io/javax.cache/cache-api/1.0.0/javax/cache/annotation/CacheRemove.html#cacheName()). Do we want a [CacheDefaults](https://static.javadoc.io/javax.cache/cache-api/1.0.0/javax/cache/annotation/CacheDefaults.html) annotation in Quarkus too?

[2019-07-31 17:27] emmanuelbernard commented on #3306
If we have a global default, it's better to have it as a Quarkus property.

`quarkus.cache.methods.default-cache=caramba`

[2019-07-31 17:29] kenfinnigan commented on #1217
Or maybe implement a new `ConfigSource` -> https://github.com/smallrye/smallrye-config/issues/145

[2019-07-31 18:09] gwenneg commented on #3306
@emmanuelbernard `quarkus.cache.methods.default-cache` looks like a global default cache name property while JCache's `CacheDefaults` is only a class-level annotation. Would you add a property for each class that needs a default cache name?

[2019-07-31 18:20] emmanuelbernard commented on #3306
Ah ok. Please forget what I said.
I have to admit I’d love for someone to take a step back and come with 5 to 10 code examples with various annotations options, so we can see the logic and concrete usages. It feels a bit disorganized in my head at the moment.

[2019-07-31 18:38] JWGmeligMeyling commented on #3374
AFAIK only Blaze-Persists entity-views require javassist, and the exception thrown currently is not javassist related. If a recent version of Hibernate works without changes, the majority of Blaze-Persist should have worked out of the box. Currently  the problem seems to be related to the frameworks internal Service Bindings (which are used to separate interface and implementation) not being resol

[2019-07-31 18:48] danielpetisme commented on #1367
Hello,

Sorry to raise up a close ticket...
I test the updated quickstart and indeed it works. But I still have the same error with
https://github.com/danielpetisme/jhipster-sample-app-quarkus
simply launch `./mvnw test`

[code]
and yes the class is annotated
https://github.com/danielpetisme/jhipster-sample-app-quarkus/blob/master/src/main/java/io/github/jhipster/sample/domain/BankAccount.java#L18

[2019-07-31 20:27] Sanne commented on #3382
Very interesting, thanks for reporting.

We'll need to figure out a way to craft a simple reproducer... any suggestion?

[2019-07-31 22:56] gwenneg commented on #3389
I'll submit a PR for this if the change is confirmed.

[2019-07-31 22:57] gsmet commented on #1367
Hi @danielpetisme

Yes, please create another issue.

[2019-07-31 22:58] gsmet commented on #3389
It makes sense to me. Just wondering if we will be able to document it properly and not have people confused by the behavior.

[2019-07-31 23:01] gsmet commented on #3380
@ia3andy I'm interested in your feedback setting Let's Encrypt on the launcher with OpenShift. Did you have to include things in your Quarkus application or was it all taken care of by OpenShift?

[2019-08-01 05:29] wargun02 commented on #3382
My work is usually around:
- Entity classes which extends PanacheEntityBase
- Query classes which implements PanacheRepositoryBase and is annotated with @ApplicationScope (only for querying, no transaction or persists)
- Process classes which will usually @Inject query classes and EntityManager. Annotated with @ApplicationScope
- All end-points are of JAX-RS with @Path, @GET, @POST, etc. It is the

[2019-08-01 06:01] gwenneg commented on #3306
Ok, I'll do that @emmanuelbernard.

[2019-08-01 06:13] gwenneg commented on #3306
Question following a @ben-manes [comment](https://github.com/quarkusio/quarkus/pull/3394#discussion_r309515561) in the draft PR:

Do we want to allow the following situation?
[code]

If this is allowed, then it will block the usage of cache refresh (see Ben's comment for details).

[2019-08-01 09:25] danielpetisme opened #3395 "Hibernate ORM Panache for Testing"
**Describe the bug**
The Hibernate ORM Panache methods are not injected in tests.

**Expected behavior**
The common Panache methods like `findAll`, `count`, etc. should be accessible in a JUnit5 `@Test` context to write Integration tests.

**Actual behavior**
The test fails
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/danielpetisme/jhipster-sample-app-quarku

[2019-08-01 09:26] danielpetisme commented on #1367
Done #3395 3395

[2019-08-01 09:35] trsantospt commented on #3387
I found the solution for this.
To make it work I created a new Quarkus extension (quarkus-vertx-config) with a BuildStep to register the Vert.x configStores.

`io.quarkus.deployment.builditem.substrate.ServiceProviderBuildItem`

It now loads up configuration using pure Vertx configStores from different files and reloads just as fine!

[2019-08-01 09:44] gsmet commented on #3387
@cescoffier I wonder how we should treat this one:

1. do we want people to be able to use Vert.x Config or should we push for MP Config?
2. if yes to 1., should it be a separate extension or included in the Vert.x one?

[2019-08-01 10:04] reste85 opened #3396 "Keycloak integration | Make keycloak.json (or keycloak properties) not mandatory in multitenant scenario"
**Description**
I've implemented the KeycloakConfigResolver due to the fact that our backend service must deal with multiple tenants. In that situation, why must i specify a keycloak.json file (or properties) inside resources folder? I know that can be useful as a "default fallback", but in some cases we just don't want something like this. Imagine a sidecar service which intercepts calls before f

[2019-08-01 10:39] gsmet commented on #3396
/cc @pedroigor @sebastienblanc @sberyozkin

[2019-08-01 10:58] trsantospt commented on #3387
@gsmet I think it could be supported although optional (such as persistence.xml), because it can make a huge difference for someone that's looking to migrate existing vertx applications into Quarkus as it is in our case.

[2019-08-01 12:04] dmlloyd commented on #3030
I did not, sorry.  I will look ASAP after I'm back from PTO.

[2019-08-01 12:32] emmanuelbernard commented on #3382
@barreiro said he had an idea, will look at it next week

[2019-08-01 13:24] gsmet commented on #3380
@ia3andy pointed me to https://servicesblog.redhat.com/2019/03/15/dynamic-ssl-certificates-using-letsencrypt-on-openshift/ .

AFAICS, on OpenShift, you can manage everything via OpenShift and it doesn't require anything in the Quarkus app.

[2019-08-01 13:28] FroMage commented on #3380
Oh cool, then OpenShift does not need this extension :)

[2019-08-01 14:05] Simulant87 commented on #2323
I would still like to see an implementation of a MySQL extension.

1. reading from @gentletom2004 comment it sound like to have to change one configuration value
quarkus.hibernate-orm.dialect=org.hibernate.dialect.MySQL5Dialect
the extension should take care of setting this configuration as default so the developer applying the extension does not have to set this value manually. So a (minimal) cod

[2019-08-01 14:20] famartinrh opened #3400 "Reactive Messaging - bug injecting @Stream in a class with @Observes StartupEvent"
**Describe the bug**
Trying the last quarkus version `0.20.0` I found an issue with `quarkus-smallrye-reactive-messaging-amqp` that actually looks like could affect to `smallrye-reactive-messaging-kafka` and `smallrye-reactive-messaging-mqtt` too.
The issue happens at startup time (I only tried hotspot, nothing of native-image) when you inject a `@Stream` and in the same class you `@Observes Start

[2019-08-01 20:34] danielpetisme commented on #3395
I think it's also a dupe of #1724...

For those interested to understand what is happening

I checked, the `BankAccount` class is loaded from `target/test-classes` and not from classes.
[code]
Gives me:
`file:/Users/danielpetisme/workspace/quarkus-labs/jhipster-sample-application/target/classes/io/github/jhipster/sample/domain/BankAccount.classfile:/Users/danielpetisme/workspace/quarkus-labs/jhips

[2019-08-01 21:32] rmpestano commented on #2714
Just tested with quarkus 0.20.0 and it is working great, thank you guys!

[2019-08-01 21:45] chonton commented on #3138
I am still seeing a similar problem using quarkus version 0.20.0
Any surefire tests marked with @QuarkusTest  pollutes test-classes; I wonder if this is problem?

[2019-08-01 23:13] jclingan opened #3403 "Auto-generate required properties in application.properties"
**Description**
This is a developer joy feature when using quarkus:add-extension, quarkus:create, or even code.quarkus.io.

Some extensions have required properties to operate properly. When possible, extensions should auto-generate the required properties in application.properties. The most notable are the quarkus-jdbc-* extensions, where a datasource must be properly configured to operate proper

[2019-08-02 07:04] brunoabdon opened #3405 "NullPointerException on Quarkus' NotFoundExceptionMapper"
**Describe the bug**
`NullPointerException` on `quarku's NotFoundExceptionMapper`

**Expected behavior**
Throwing `javax.ws.rs.NotFoundException` from methods in resource classes should not end up with NullPointerEception.

**Actual behavior**
Throwing `javax.ws.rs.NotFoundException` from methods in a resource classes end up with `NullPointerEception` on `quarku's NotFoundExceptionMapper` if:
- Th

[2019-08-02 07:06] gsmet commented on #3405
Hi @brunoabdon ,

Any chance you could share the full stacktrace?

[2019-08-02 07:10] brunoabdon commented on #3405
Here it goes
<pre>
ERROR [io.und.req.io] (executor-thread-1) Exception handling request 01104086-d125-4925-95f0-6d863210962c-3 to /planinha/contas/58: java.lang.NullPointerException
	at io.quarkus.resteasy.runtime.NotFoundExceptionMapper$ResourceDescription.fromBoundResourceInvokers(NotFoundExceptionMapper.java:92)
	at io.quarkus.resteasy.runtime.NotFoundExceptionMapper.toResponse(NotFoundExceptio

[2019-08-02 08:11] loicmathieu commented on #3405
I can take care of this one as I updated this class parts on the ongoing PR for a JSON representation in this exception mapper: https://github.com/quarkusio/quarkus/pull/3401

[2019-08-02 08:15] gsmet commented on #3405
Please make it a separate PR. We need this one fixed independently of the
discussion on the other PR.

On Fri, Aug 2, 2019 at 10:11 AM Loïc Mathieu <notifications@github.com>
wrote:

[2019-08-02 08:22] #3400 closed

[2019-08-02 08:29] FroMage commented on #3395
Well, one workaround would be to get rid of the `bankAccount` field. If your class does not have the `BankAccount` type in its method signatures and fields, it will work. It's annoying, but it's a workaround.

[2019-08-02 08:33] loicmathieu commented on #3405
Hi @brunoabdon can you send a reproducer or at least the two classes in question because I can see what can be wrong in the code but I cannot reproduce the error with the steps you describe in the issue

[2019-08-02 11:32] #3386 closed

[2019-08-02 11:35] #2459 closed

[2019-08-02 11:45] mkouba commented on #404
Closing - out of date.

[2019-08-02 11:45] #404 closed

[2019-08-02 12:13] owennewo commented on #3312
Do you have to go the cors route? I'd just configure npm (vuejs) to proxy anything on localhost:8084/person to localhost:8080/person.  In production on kubernetes this sort of thing is better done with an 2 ingresses sharing same dns

[2019-08-02 12:34] brunoabdon commented on #3405
Hi, @loicmathieu . The two classes are on this gist:

https://gist.github.com/brunoabdon/bf4adf7d8f91a008e68300472c70434d

[2019-08-02 14:02] wargun02 opened #3408 "Weird JSON output from Entity class with @ManyToOne field."
Say if I have an Entity class GeoCountryEntity
[code]

and another entity class GeoStateEntity:
### Do note the geoCountryEntity field below which is annotated @JsonbTransient
[code]

A simple PanacheRepository class:
[code]

A REST Resource class:
[code]

I get very weird results like:
[code]

### Expected Result Should Be
[code]

### Environment:
Quarkus Version: 0.19.1
Java Version: openjdk ver

[2019-08-02 14:05] gsmet commented on #3408
@wargun02 could you put together a reproducer? It will be easier to debug.

Thanks!

[2019-08-02 14:11] wargun02 commented on #3408
@gsmet I'm new to this project. Could you suggest how I can put together a reproducer, as in do I start a GitHub project, upload it? or attached a zip file containing all the codes?

[2019-08-02 14:13] gsmet commented on #3408
As you prefer really. A GitHub project allows to discuss more easily I think but it's really no obligation.

Just create an empty Quarkus project, add the class necessary to reproduce your issue and push it.

[2019-08-02 14:53] rafaelkloss opened #3409 "Build failure on hot reload [Development environment]"
**Bug Description**
In the application.properties, I'm using the wildcard to config database user, password, url... for 2 environments (dev, prod)
examples:

- %dev.quarkus.datasource.password=xxxxxxxx

- %prod.quarkus.datasource.password=xxxxxxxx

In the development environment using `mvnw compile quarkus:dev:` the first build is ok, work's fine .
But, when i change any class and try to send a re

[2019-08-02 14:57] rafaelkloss commented on #3409
Installed features: [agroal, cdi, hibernate-orm, hibernate-validator, jdbc-postgresql, narayana-jta, resteasy, resteasy-jsonb, security, smallrye-jwt, smallrye-openapi, swagger-ui, vertx]

[2019-08-02 15:00] emmanuelbernard commented on #3409
There is something fishy @stuartwdouglas Maybe the reload does not take `%dev` into account? I have not confirmed the suspicion.

[2019-08-02 15:31] loicmathieu commented on #3405
@brunoabdon I tested the two classes on you gist with a fresh project with Quarkus 0.20 and there is no NPE. So I cannot reproduce your error.

I did the following:
1. Generate a fresh project with
[code]

2. Add your two classes in the `org.acme.rest.json` package and remove the generated `FruitResource`

3. Launch it and test it ... and it works

So I will need a full reproducer to works on it,

[2019-08-02 15:57] wargun02 commented on #3408
@gsmet Here it is: [https://github.com/wargun02/quarkus_issue_3408](https://github.com/wargun02/quarkus_issue_3408)

[2019-08-02 16:12] ppalaga commented on #3321
I wonder if this "from scratch" scenario should create a source tree for hosting

(a) a single extension

or

(b) multiple extensions (similar to [camel-quarkus](https://github.com/apache/camel-quarkus)).

While I have quite a clear idea about (b), what would (a) look like?

Maybe something like this?

[code]

[2019-08-02 16:20] aloubyansky commented on #3321
I think it should be (a) and your sketch looks good to me.

[2019-08-02 16:24] #3388 closed

[2019-08-02 16:29] Ladicek commented on #3312
I took a look and it seems this is caused by the way how the CORS servlet filter and the RESTEasy servlet filter interact. I'll continue digging on Monday.

[2019-08-02 16:51] gastaldi commented on #3200
+1 to a `quarkus-openshift-client` extension that depends on `quarkus-kubernetes-client`

[2019-08-02 17:22] ppalaga commented on #3321
Maybe it would be even enough to generate a single itest

[code]

Do we already have a pom here in Quarkus that can serve as a parent of the `parent`?

[2019-08-02 17:49] brunoabdon commented on #3405
@loicmathieu, Indeed, the scenario is a little bit more elaborated than what I've thought.

The 3 classes on this gist reproduce this scenario using the _quarkus-maven-plugin:0.20.0:create_ steps you listed above.

https://gist.github.com/brunoabdon/ba5cbad0f815a8b26c074edde99eb629

The scenario we actually need is:

1. A `@Path` annotated class C1 throwing the `NotFoundException` from a `@GET` me

[2019-08-02 18:05] iabughosh commented on #3312
That makes sense now. Because request is not being reached to quarkus request filter so it must be stopped by some earlier stage. Thanks for the update.

[2019-08-02 18:16] brunoabdon commented on #3405
TLDR; You want to replace [line 92 of `NotFoundExceptionMapper.java`](https://github.com/quarkusio/quarkus/blob/2a3d9dd98879ed3e01129042930620e5594882b1/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java#L92) for:

`String basePath = (((ResourceMethodInvoker)entry.getValue().get(0)).getResourceClass()).getAnnotation(Path.class).value();             `

[2019-08-02 19:57] aloubyansky commented on #3321
I would say, no, we don't. And it's a question what it should be if we want to offer one. I did prototype it in platform but currently I pushed one only for the applications. Partly because I was not sure whether it should live in the platform or on the core (or in both, e.g. platform extending the core). E.g. in case of Camel you are depending on the core and that makes good sense. However if you

[2019-08-02 19:59] ppalaga commented on #2276
Closing as out of date

[2019-08-02 19:59] #2276 closed

[2019-08-02 20:00] ppalaga commented on #2351
Camel extensions moved to https://github.com/apache/camel-quarkus

[2019-08-02 20:00] #2351 closed

[2019-08-02 20:01] ppalaga commented on #2417
Out of date.

[2019-08-02 20:01] #2417 closed

[2019-08-02 20:03] ppalaga commented on #2585
Moved to https://github.com/apache/camel-quarkus/issues/107

[2019-08-02 20:03] #2585 closed

[2019-08-02 20:11] evanshortiss opened #3410 "19.1.1 image is missing for s2i"
**Describe the bug**
Unable to build latest 0.20.0 quickstarts using s2i.

**Expected behavior**
Should be able to run this [s2i command from the Quarkus website](https://quarkus.io/guides/openshift-s2i-guide#deploying-the-application-as-graalvm-native-executable-in-openshift) to run getting started examples

**Actual behavior**
Build fails since the tag does not exist in quay.io. Trying to use ta

[2019-08-02 20:12] gsmet commented on #3410
/cc @cescoffier

[2019-08-02 20:13] gsmet commented on #3410
We need to publish an image including GraalVM 19.1.1.

[2019-08-02 21:05] ppalaga commented on #3321
Implementation of the "from scratch" scenario would be easier if there was a parent to inherit from. I'd expect it to manage all necessary plugins and perhaps also define the `quarkus.version` property so that the external extension projects can use it to import the runtime and deployment BOMs.

Quarkus core sounds like the most natural home for it. If the platform should aggregate the core plus s

[2019-08-02 21:28] evanshortiss commented on #3410
@gsmet @cescoffier is there some workaround possible using an older version of Quarkus in the pom.xml that works with Graal 19.0.2?

[2019-08-02 21:35] Sanne commented on #3374
The problem with service providers is just that they load by reflection.

You can't load classes dynamically, so we try to differentiate between
 a) classes which need to be discovered during "initialization" e.g. discovery of extension points should be run at build time, not at runtime. You'll see that most of Hibernate ORM is initialized during the build, we then take a snapshot of it - that's a

[2019-08-02 21:49] gsmet commented on #3410
0.19.1 should work with GraalVM 19.0.2

[2019-08-02 22:05] JWGmeligMeyling commented on #3374
Thanks @Sanne for your remarks, these will definitely help with getting an initial integration going! We'll see how far we get before running into the next compiler errors 😉

[2019-08-03 06:49] cescoffier commented on #3410
Should be fixed by now. Can you check?

Several reasons:

* The CI didn't deploy (token expired)
* `[DEPRECATION NOTICE] registry v2 schema1 support will be removed in an upcoming release. Please contact admins of the quay.io registry NOW to avoid future disruption.` is rather annoying...

[2019-08-03 07:59] machi1990 commented on #3288
Did #3302  fix this issue?

[2019-08-03 08:42] kamilgregorczyk commented on #1997
I agree, especially with rsocket-rpc-java which is amazing and fully reactive, I think it would fit quarkus perfectly

[2019-08-03 09:56] mswiderski commented on #3288
@machi1990 yes, it did fix it

[2019-08-03 10:46] machi1990 commented on #3288
@mswiderski thanks, I’ll close the issue then.

[2019-08-03 10:46] #3288 closed

[2019-08-03 15:39] gwenneg opened #3413 "Make native tests "image wait time" configurable"
**Description**
The current [NativeImageLauncher](https://github.com/quarkusio/quarkus/blob/master/test-framework/common/src/main/java/io/quarkus/test/common/NativeImageLauncher.java#L24) code waits 60 seconds for the native image to start before failing the tests. This should be configurable to allow slow computers to run native tests.

**Implementation ideas**
The native image wait time configur

[2019-08-03 15:44] gwenneg commented on #3413
I tried to run native tests from a quarkus-quickstarts modified project using my PTO not-that-slow MacBook and it took `7,403,556.61 ms` for the native image to start.

[2019-08-04 21:09] rhuan080 opened #3416 "Profile on property don't work at hot deployment moment"
**Describe the bug**
When I use a property with profile ("%dev.quarkus.datasource.password") in dev mode and Quarkus applies a hot deployment, the app take an error like this:
    Caused by: java.util.NoSuchElementException: Property quarkus.datasource.password not found

**Expected behavior**
The property should be found.

**Actual behavior**
The property was not found.

**To Reproduce**
Steps to

[2019-08-05 05:28] jmini opened #3417 "Update to 0.20.0: StatementParserException line 1:590: expecting STMT_END, found 'null'"
I am trying to update the [quarkus-todo-app](https://github.com/cescoffier/quarkus-todo-app) to 0.20.0.

When I run
[code]

I get following stack trace:

[code]

I have the feeling the sql statement in question is generated.

Can you give me some pointers about how to debug this kind of errors?

[2019-08-05 05:35] machi1990 commented on #3417
Hey @jmini what does your `import.sql` or an equivalent sql load script look like?  can you share a little producer?

[2019-08-05 06:14] MMarus commented on #3343
@gsmet @csotiriou Hello guys is someone working on this? Could I take a stab at this one? Thank you for the answer :).

[2019-08-05 06:17] csotiriou commented on #3343
I will not be able to touch this for at least a month, due to heavy workload, so at least from my part I am not working on it.

[2019-08-05 07:11] wargun02 commented on #3408
I have changed the title to: "Weird JSON output from Entity class with @ManyToOne field." instead. The @JsonbTransient works, but the json output is just strange...

[2019-08-05 08:38] jmini commented on #3417
Thank you a lot for this quick feedback !!!

---

See https://github.com/cescoffier/quarkus-todo-app/blob/master/src/main/resources/import.sql

---

The [quarkus-todo-app](https://github.com/cescoffier/quarkus-todo-app) example is small enough to be the reproducer.

* Change the version in the POM to `0.20.0`
* Run `./start-database.sh` to start the db
* Run `mvn compile quarkus:dev` to start the

[2019-08-05 08:39] loicmathieu commented on #3405
@brunoabdon thanks for the provided gist, it triggers the NPE. I will look at it.

[2019-08-05 09:28] matejbizjak commented on #2578
ObjectMapper works just fine in Quarkus, even in native mode. Just add **quarkus-resteasy-jackson** dependency and use it normally. But make sure you attach **@RegisterForReflection** annotation to every class you need for serialization and deserialization to make it work in native mode!

[Check Quarkus documentation here](https://quarkus.io/guides/rest-json-guide#more-on-our-jackson-support)

[2019-08-05 09:40] machi1990 commented on #2578
Hi @ancgate , on top of @matejbizjak suggestion (thanks :-)), I'll suggest to upgrade to the latest version `0.20.0` if it not already the case.

[2019-08-05 09:45] Dufgui commented on #3417
It's intended. We manage multi line script. So we must have ; to split statement now.
https://github.com/quarkusio/quarkus/pull/3134

[2019-08-05 10:00] machi1990 commented on #3417
Indeed it is expected @Dufgui is right. SQL statement must end with `;`.
Can we consider this closed? @jmini

[2019-08-05 10:47] jmini commented on #3417
This is also documented in the release-notes (I have missed it during my review last week):
https://quarkus.io/blog/quarkus-0-20-0-released/#hibernate-orm-multi-line-support-in-import-scripts

Thank you a lot for you quick help.

[2019-08-05 10:47] #3417 closed

[2019-08-05 11:02] rsvoboda opened #3419 "OAuth2IdentityManager.verify(String id, Credential credential) - infinite loop"
OAuth2IdentityManager.verify(String id, Credential credential) has infinite loop / recursive call.

link to code: https://github.com/quarkusio/quarkus/blob/master/extensions/elytron-security-oauth2/runtime/src/main/java/io/quarkus/elytron/security/oauth2/runtime/auth/OAuth2IdentityManager.java#L31

@loicmathieu should be current `return verify(null, credential);` changed to `return verify(credenti

[2019-08-05 11:12] rsvoboda opened #3420 "TransactionalInterceptorBase.getTransactionConfiguration(InvocationContext ic) - dead code"
TransactionalInterceptorBase.getTransactionConfiguration(InvocationContext ic) method has dead code

https://github.com/quarkusio/quarkus/blob/master/extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/interceptor/TransactionalInterceptorBase.java#L84-L87

Line 86 is never executed as `ic` is not null, otherwise there would be NPE on line 84.

@loicmathieu can you look in

[2019-08-05 11:22] ppalaga commented on #3321
I am going to propose a minimalistic grand parent for third party extension projects here under quarkus unless somebody has a better idea?

[2019-08-05 11:30] loicmathieu commented on #3419
Yes, but hopefully the code should not be called by the current implementation of the extension :)
Fixed in PR #3421

[2019-08-05 11:33] loicmathieu commented on #3420
See it, should be if(configuration == null) ...
I do some more test and I prepare a PR for it.

[2019-08-05 11:58] loicmathieu commented on #3420
PR #3422

[2019-08-05 12:24] seth-priya opened #3423 "io.quarkus.mongodb tests throw errors on Power (ppc64le) architecture"
**Describe the bug**
Issues like
[INFO] Running io.quarkus.mongodb.ReactiveMongoClientTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.001 s <<< FAILURE! - in io.quarkus.mongodb.ReactiveMongoClientTest
[ERROR] io.quarkus.mongodb.ReactiveMongoClientTest  Time elapsed: 0.001 s  <<< ERROR!
java.lang.IllegalArgumentException: this version does not support 32Bit: V4_0:Linu

[2019-08-05 12:51] loicmathieu opened #3424 "Resteasy default NotFoundException mapper should not dispay the "no resource endpoint" page when a NotFoundException is thrown from an existing endpoint"
**Description**
Today, the Resteasy default NotFoundException mapper dispay the "no resource endpoint" page when a NotFoundException is thrown from an existing endpoint. This is a bit mis-leading as the resource exist but a legitimate NotFoundException is thrown.

This is typically the case when you have an endpoint that allow to get the information of an entity from it's id and the entity didn't

[2019-08-05 13:01] matheus-meneses opened #3425 "Dependency injection problem on quarkus 0.20.0"
**Describe the bug**
I'm working in a quarkus maven multi module on quarkus 0.19.1 and every thing works fine!
I just have upgraded to quarkus version 0.20.0 and all my dependency injection is not working
Is there any breaking change to dependency injection from quarkus 0.19.1 to quarkus 0.20.0.

If i go back to version 0.19.1 everything works fine!

**Expected behavior**
All dependency injection

[2019-08-05 13:51] danielpetisme commented on #3395
Indeed it works but it only fix the symptoms not the cause... I've a weird feeling because this issue means Quarkus augmentation , as for now, can't bee properly tested without a hack...
Since this issue is a duplicate of #1724, do you want to close this one and gather all the comments/tests/solutions in the main issue?

[2019-08-05 15:18] crivera opened #3426 "Smallrye JWT - Failed to read location as any of JWK, JWKS, PEM"
**Describe the bug**
After following the code example for using JWT RBAC I get the following error when I curl my endpoint. I ran the endpoint in dev mode.

[code]

**Expected behavior**
Should parse the token correctly since publicKey.pem file is there

**Configuration**
[code]

Public Cert from Google (using Firebase Auth)

[code]

**Environment (please complete the following information):**
 -

[2019-08-05 15:21] ia3andy commented on #2819
@gsmet it seems the referenced issue is fixed, but I still experienced this problem using `@BeanParam` with `@QueryParam` inside.

Openapi: http://editor.swagger.io/?url=https://code.quarkus.io/openapi
Source: https://github.com/fabric8-launcher/launcher-quarkus/blob/master/src/main/kotlin/io/launcher/quarkus/model/QuarkusProject.kt

[2019-08-05 15:25] danielpetisme commented on #1724
I've updated the test to represent this issue
https://github.com/danielpetisme/quarkus/blob/fix/1724/integration-tests/hibernate-orm-panache/src/test/java/io/quarkus/it/panache/PanacheFunctionalityTest.java#L55
(All `PanacheFunctionalityTest` tests fail now)

From what I could see (I will focus on JUnit5 only)
When we reach:
https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/sr

[2019-08-05 16:46] ppalaga commented on #3321
@aloubyansky could you please have a look at the external-parent in https://github.com/quarkusio/quarkus/pull/3427 ?

[2019-08-05 20:24] #3426 closed

[2019-08-05 21:45] evanshortiss commented on #3410
@cescoffier it took a while, then failed. The OpenShift console is reporting "Out of memory killed" for the Build. Here's the logs after Maven downloads complete:

[code]

I ran `oc new-app quay.io/quarkus/ubi-quarkus-native-s2i:19.1.1~https://github.com/quarkusio/quarkus-quickstarts.git --context-dir=rest-json --name=quarkus-quickstart-native`

[2019-08-05 22:27] soberich commented on #3374
Regarding NPE while staring up Blaze on Quarkus, I believe it should go away if we build a descent  integration between the two.
It looks like [ProxyFactory.java](https://github.com/Blazebit/blaze-persistence/blob/master/entity-view/impl/src/main/java/com/blazebit/persistence/view/impl/proxy/ProxyFactory.java) should be re-written to ByteBuddy. I don't see integration much attractive without Entit

[2019-08-06 07:09] #3405 closed

[2019-08-06 09:26] sberyozkin commented on #3049
Based on the report from @mcrose

[2019-08-06 09:34] emmanuelbernard opened #3429 "Align Hibernate ORM config Javadoc with Guide documentation"
The Javadoc fell out of sync with the better guide documentation.

[2019-08-06 09:40] ppalaga commented on #1594
I proposed a basic parent for third party extensions in https://github.com/quarkusio/quarkus/pull/3427 the commit: https://github.com/ppalaga/quarkus/commit/512022706309a0de6925c9a9ef5fd10a067e8ae9

However, when we start refactoring the hierarchy, @aloubyansky would like to solve more than this single problem https://github.com/quarkusio/quarkus/pull/3427#issuecomment-518580389

[2019-08-06 10:01] emmanuelbernard commented on #3429
PR https://github.com/quarkusio/quarkus/pull/3430

[2019-08-06 10:47] loicmathieu commented on #2303
I do think it's a good addition to Panache, but I don't think it removes the need to have a `byExample` API.

A `byExample` API can be used not only for the use case that are explained in the description, but as a full replacement for the textual query syntax by expressing a query __programatively__. This is IMHO the best advantage of a query `byExample` having the hablity to express a Query in a

[2019-08-06 11:05] emmanuelbernard commented on #2303
What if PanacheQL was compile time checked. It looks like it would alleviate all the concerns you have. CC @gavinking
My concern with the example API is that you don't control which field is OK vs not OK and it becomes cumbersome to define what null or default values mean per property (ignore or set)?

[2019-08-06 12:08] #3420 closed

[2019-08-06 12:34] loicmathieu commented on #2303
Compile checking PanacheQL queries will be a good thing, but it assume it will not really be compile check but build time check (by the deployment module).

So there will be no such check via my IDE ...

Anyway, I still support an additional querying facility (example or criteria or something else) than via a simple String, because some people will prefere it. I think that at some point we may add

[2019-08-06 12:51] lukaszkostrzewa commented on #3313
From my investigation it seems that there is a problem releated to Windows short paths (the one with `~`) in `undertow-core` in a method `PathResourceManager::isFileSameCase`.

`normalizeFile` is equal to:
[code]
whereas `canonicalName` is equal to:
[code]
and hence it returns `false` and doesn't return a resource.

[2019-08-06 13:36] emmanuelbernard commented on #2303
No we do have annotation processor driven HQL validation we can repurpose for PanacheQL, it will show up in your IDE

[2019-08-06 13:49] emmanuelbernard opened #3433 "Convert Javadoc of configuration properties to Asciidoc"
Replace the Javadoc for `@ConfigItem` and friends to Javadoc format.

Make sure the documentation is useful for people and complete. It will be what the guide will show.

From

[code]

Go for

[code]

All extensions should use that model.

[2019-08-06 15:54] sberyozkin commented on #3396
@reste85 IMHO it is a reasonable request. Can you please consider creating a simple PR for @pedroigor and @sebastienblanc to review ?

Minor suggestion: instead of adding a boolean property, may be just check the custom `KeycloakConfigResoiver` first, if it is available - then it is up to it how to do the per-request configuration resolution, otherwise continue preloading.  @pedroigor, @sebastienb

[2019-08-06 16:00] sberyozkin commented on #3385
As @loicmathieu suggested, for the consistency purposes with the other security extensions, the `enable` property should be introduced