[2022-09-16 11:03] lthasle opened #28001 "Rest-assured: quarkus.http.root-path duplicated in request"
### Describe the bug

We have an application which is configured to use:
quarkus.http.root-path

When we perform a call towards a Rest endpoint with RestAssured we observe that the request is faulty, the quarkus.http.root-path value is duplicated

See provided test which reproduce this

Works fine in previous Quarkus version

### Expected behavior

We expect that the http request from RestAssured

[2022-09-16 11:08] rsvoboda commented on #27995
We have possible workaround with admin client that I have to try.

Still, would be good to understand why the native image build fails after move to reactive when in non-reactive things work well (even when using `org.keycloak:keycloak-authz-client`)

[2022-09-16 11:13] sberyozkin commented on #27995
Interesting question, it might be related to the build-time/static-init of Resteasy Reactive, but not really sure

[2022-09-16 11:14] geoand commented on #27995
Yeah, it's likely a manifestation of #27752

[2022-09-16 11:18] Joofthan commented on #27947
I just wanted to display the Quarkus version on the UI. If there is a better way to do it, a hint is welcome.
I expected the value to be readable, because it is listed on the page. Also the Default value "999-SNAPSHOT" is confusing me as a User.

[2022-09-16 11:19] rsvoboda commented on #27995
Thanks for the pointer to 27752.

Migration to `Keycloak` class is not easy :/

I want to move from
[code]

But ...
when using
[code]
I receive `java.lang.IllegalStateException: username required`

When using
[code]
I receive `Caused by: java.lang.RuntimeException: RestEasy 3 or 4 not found on classpath`
And I have added
[code]

[2022-09-16 11:29] michalvavrik commented on #27995
that's because you don't have grantType("client_credentials")

[2022-09-16 11:30] HerrDerb commented on #12287
That this feature is not implemented yet, really bugs me.
I pretty much hinders me to create a dev/test setup...

[2022-09-16 11:34] rsvoboda commented on #27995
with `.grantType("client_credentials")` I end up with `Caused by: java.lang.RuntimeException: RestEasy 3 or 4 not found on classpath`

[2022-09-16 11:43] rsvoboda commented on #27995
[code]

Why is `ResteasyClientClassicProvider` used ?

[2022-09-16 11:46] geoand commented on #27988
This should be fixed in `2.13.CR1`. Can you check/

[2022-09-16 11:56] michalvavrik commented on #27995
IMHO `io.quarkus.keycloak.admin.client.reactive.runtime.ResteasyReactiveKeycloakAdminClientRecorder#setClientProvider` is never called as strictly speaking the application that is running the test (where you are creating the Keycloak builder) does not use the extension. It's the app you are testing that is using the extension. Do same inside tested app and you should avoid the ex.

[2022-09-16 11:58] rsvoboda commented on #27995
I need to use `ResteasyReactiveClientProvider` :/

[code]

[2022-09-16 12:16] radcortez commented on #27947
You should be able to use https://github.com/quarkusio/quarkus/blob/c9cba824e8812fa3f15474b8382ac5d90f7238aa/core/builder/src/main/java/io/quarkus/builder/Version.java#L12 to get the version.

The `999-SNAPSHOT` is because that is the default version assigned when nothing else can be found.

[2022-09-16 12:18] sberyozkin commented on #27995
The easiest option would definitely be using `OidcClient` - why the injection is not possible in the test endpoint ?

@michalvavrik Should `keycloak-admin-client-reactive` also have `ResteasyReactiveClientProvider` used to create a client when preparing `Keycloak` injection ?

[2022-09-16 12:19] zyc commented on #27894
Hi Sanne!

Thanks for your deep inside response but there are some relevant points on the project's architecture that were not considered in your observations and I would like to explain it.

First of all, the monetary cost to access the RDBMS data, or to provision a more robust instance, or the architecture decisions to make it scaleble, in this specific ptoject are to high and unfeseable.

The m

[2022-09-16 12:22] sberyozkin commented on #27995
We have the test involving the injected `Keycloak` and `keycloak-admin-client-reactive` (in `integration-tests/keycloak-authorization`)  but that works without it - not sure what is different in this case

[2022-09-16 12:23] rsvoboda commented on #27995
I moved back to LookupAuthorizationPongClient#lookupAuth() and I have working solution. I used test based approach just to see the stacktrace.
In LookupAuthorizationPongClient#lookupAuth() I do not need ResteasyReactiveClientProvider, Quarkus makes it work for me :)

[2022-09-16 12:24] gsmet commented on #27894
I agree that we should relax our point of view on this. Sure there are tradeoffs using a non transactional remote cache but the users should have the possibility to make these trade offs by themselves.

[2022-09-16 12:30] lthasle opened #28004 "IllegalStateException when using @InjectMock on RestClient"
### Describe the bug

When executing a Test which uses a @InjectMock on a RestClient it fails with: IllegalStateException

### Expected behavior

The test should succeed, it works fine in: 2.10.1.Final
I see that it also fails in 2.12.2.Final

### Actual behavior

The test fails with the following stacktrace:
org.junit.jupiter.api.extension.TestInstantiationException: Failed to create test instanc

[2022-09-16 12:30] gsmet commented on #27999
@barreiro I suspect this is an issue with Agroal, not Quarkus.

[2022-09-16 12:32] sberyozkin commented on #27995
Sounds good

[2022-09-16 12:33] rsvoboda commented on #27995
The native part trouble seems to be #27752, for `Keycloak` part I think there is no functional issue.
Just some usability concerns, I may create small docs update once I sort out my ideas.

[2022-09-16 12:33] #27995 closed

[2022-09-16 12:33] gsmet commented on #28001
@Sgitario could you have a look at that one if @geoand is not already on it?

My guess is that it could get very annoying for users if the issue is general.

[2022-09-16 12:34] geoand commented on #28001
I'll have a look on Monday

[2022-09-16 12:38] rsvoboda commented on #27995
(I have updated https://github.com/rsvoboda/quarkus-test-suite/tree/oidc-client-reactive-filter with commit to unblock native build)

[2022-09-16 12:51] gsmet opened #28005 "Jakarta - EE 10 - Gradle annotation processor test failing"
The Gradle annotation processor tests are failing in the `jakarta-rewrite` branch:
[code]

The tests are complaining about a `javax.enterprise.context.ApplicationScoped` class not being found but I can't find any of these remaining in the source code. The Gradle plugin doesn't give any indication of the failing class but my guess is that Mapstruct generates classes with the javax package.
I don't

[2022-09-16 12:51] geoand commented on #28001
This is actually expected after https://github.com/quarkusio/quarkus/pull/27419 was merged.

I will add an entry to the migration guide.

[2022-09-16 12:51] #28001 closed

[2022-09-16 12:52] gsmet commented on #28005
@glefloch could you have a look at that one?

See https://github.com/quarkusio/quarkus/tree/main/jakarta#build-locally for reproducing the issue locally.

Just do a full quickly build and then try to run the `AnnotationProcessorMultiModuleTest` specifically.

[2022-09-16 12:53] lthasle opened #28006 "When executing a Test/start the app, which has an Rest endpoint annotated with @Parameter a warning is given"
### Describe the bug

I am not sure if it is a bug or not but is a change compared to the previous Quarkus version, which I have not seen described in any migration guide.

If it is not a bug, how can we achieve the same functionality, without the warning?

### Expected behavior

No warning should be seen in the console when starting the application or executing a test.
No warning is given in: 2.1

[2022-09-16 12:57] Joofthan commented on #27947
mvn package says: package io.quarkus.builder does not exist.
I also can not find the "Version.properties" file. I am building with "quarkus.package.type=uber-jar".

But thanks for the hint. I can read the Version from "META-INF/maven/io.quarkus/quarkus-core/pom.properties"
This does work for me.

[2022-09-16 12:59] geoand commented on #28006
Shouldn't you be using

[code]

or

[code]

?

I mean what's the point of using the `@Parameter` if the JAX-RS method does not actually use the header value?

[2022-09-16 13:00] geoand commented on #27947
So I'll go ahead and close this.

[2022-09-16 13:00] #27947 closed

[2022-09-16 13:03] jsmrcka opened #28007 "Camel Quarkus 2.12.0 incompatible with current main"
### Describe the bug

When running current `main` together with Camel 2.12.0, we get:
[code]
Last Quarkus snapshot, that does not throw this error, was made of revision https://github.com/quarkusio/quarkus/commit/06944a5269aebe5a5b4900456356f15d41242895.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. Build Quarkus `main`.
2. Run [quarkus-test-s

[2022-09-16 13:15] sberyozkin commented on #27876
Hi @sheilamjones replacing the `align` with `role` did not make a difference, see https://quarkus.io/version/main/guides/security-openid-connect-web-authentication

But @mkouba's `width=60%` suggestion does better: https://quarkus.io/version/main/guides/security-openid-connect

Can you please open a PR and set `width="60%", align=center` attributes ?

[2022-09-16 13:20] #27970 closed

[2022-09-16 13:41] knutwannheden commented on #27947
Possibly it would be good if the generated documentation could also reflect which properties are only available at build-time.

[2022-09-16 13:43] gsmet commented on #28007
Yes, this is due to the Jandex upgrade. @Ladicek is there a way to support both for a while?

[2022-09-16 13:44] gsmet commented on #27947
Hum. I think we should have an easy way to get the Quarkus version. Reading `META-INF/maven/io.quarkus/quarkus-core/pom.properties` doesn't sound exciting to me.

[2022-09-16 13:52] Ladicek commented on #28007
The `MethodInfo.parameters()` method is the one most problematic, because I couldn't add a synthetic bridge method for binary compatibility :-/

In any case, if Camel Quarkus uses recent Quarkus and therefore Jandex 2.4.3, the recommendation would be to avoid calling the deprecated methods (`MethodInfo.parameters()` -> `MethodInfo.parameterTypes()`, `ClassInfo.annotations()` -> `ClassInfo.annotati

[2022-09-16 14:23] geoand commented on #27996
Seems like you have done some fine analysis. Would you be willing to provide a fix?

[2022-09-16 14:31] ricardozanini commented on #12486
@spolti can you please take a look?

[2022-09-16 14:35] Borisca opened #28012 "Caffeine cache with native image"
### Describe the bug

When you use caffeine cache and you add the property 'expire-after-access' or 'expire-after-write', it works as it should on jdk but in native image, the properties are ignored.

### Expected behavior

Properties should not be ignored

### Actual behavior

_No response_

### How to Reproduce?

- Define a cache in the propeties file like this :
  quarkus.cache.caffeine."cache-

[2022-09-16 14:54] fedinskiy opened #28013 "Qute fails on illegal map identifiers, even when using bracket notation"
### Describe the bug

According to Qute guide[1], when working with maps, it is possible to use "illegal" keys(e.g. keys with spaces), but user needs to use a bracket notation(map.['illegal key']). It looks this notation doesn't work with such keys.

[1] https://quarkus.io/guides/qute-reference#maps

### Expected behavior

Qute should be able to handle any valid java String as a key

### Actual be

[2022-09-16 15:18] gsmet opened #28016 "Jakarta - EE 10 - Weird Jackson serialization issue in REST Data Panache"
The `extensions/panache/hibernate-orm-rest-data-panache/deployment` tests in `jakarta-rewrite` has started to fail (not every time AFAICS) with stackoverflow errors:

I always get the error in `io.quarkus.hibernate.orm.rest.data.panache.deployment.entity.PanacheEntityResourcePathCustomisationTest` locally. It seems the other tests are OK.
We have some Jackson annotations to prevent this issue so n

[2022-09-16 15:19] geoand commented on #28016
cc @Sgitario

[2022-09-16 15:29] knutwannheden opened #28017 "Regression: Programmatic OpenTelemetry spans get ignored"
### Describe the bug

**NOTE:** This is a regression in Quarkus 2.13.0.CR1. In previous releases this has always worked as expected.

Background: In our application we store the OpenTelemetry context of incoming REST calls and then use it as the parent in calls which are triggered by a schedule. The schedule does this by programmatically creating a new span with the original span's `Context` as pa

[2022-09-16 15:31] knutwannheden commented on #28017
It would be cool if this could be investigated and fixed for the 2.13.0.Final release.

[2022-09-16 15:36] gsmet opened #28018 "Jakarta - EE 10 - IBM Db2 native image build failure"
@Sanne not sure if it's related to your work with the bytecode enhancement but I end up with the following error when trying to build the IBM Db 2 integration tests in native.

I could easily be convinced to disable them and be done with it :).

[code]

[2022-09-16 17:37] mschorsch commented on #27884
👍

[2022-09-16 17:46] nloke opened #28022 "Unable to build native image with latest 2.12.2"
### Describe the bug

I am using quarkus 2.12.2 and created a brand new application with standard code from the quarkus website(https://code.quarkus.io)

Using that extracted archive file I ran the native build with the following command as per guide

[code]

Below is the error message

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No res

[2022-09-16 17:59] knutwannheden commented on #27996
A simple fix will probably be easy. A test should also be doable, although I have only ever encountered this in continuous testing, which makes me wonder why I don't see it under normal Maven test execution.

I better fix may be to not rely on system properties, but a new config source. But for that I know too little about the inner workings of the Quarkus test framework.

[2022-09-16 18:00] knutwannheden commented on #27988
I will look into it next week.

[2022-09-16 18:09] gwenneg commented on #28012
Thanks for reporting this @Borisca. I'll take a look shortly.

[2022-09-16 18:16] HeroxHeruxum commented on #27845
I currently dont have an example on hand @yrodiere,
but i should be able to create one given time.

Just to clarify the Interceptor, does get triggered and also does execute its logic correctly.
But the whole difference calculation does not get applied when Hibernate is configured to run in byte-code enhancement mode.
As explained here http://devdoc.net/javaweb/hibernate/Hibernate-5.1.0/userGuide/

[2022-09-16 18:18] nloke commented on #28022
I am using colima.
[code]
 I was able to build sometime back using the same setup I have on my machine and I believe when I first looked into quarkus(forgot the version) at that time it was using:
`quay.io/quarkus/ubi-quarkus-native-image   19.3.1-java11   363b397474a5   2 years ago   1.39GB`

[2022-09-16 18:19] glefloch commented on #28005
Sure I will replace mapstruct by something else

[2022-09-16 18:29] gwenneg commented on #28012
A quick test with Quarkus 2.12.2.Final and `quarkus.cache.caffeine."cache-name".expire-after-access` shows no issue on my machine. The data is correctly expired if it is not accessed for at least the duration provided in the configuration.

@Borisca Did you try this with a Quarkus version newer than 2.7.2?

I'll check again later.

[2022-09-16 19:29] Borisca commented on #28012
@gwenneg Thank you for the fast reply. I only tried with the 2.7.2 version of quarkus and building the native with graalvm 21.2 . I will upgrade my graalvm to 22.2 and quarkus version 2.12.2. I will let you know if the bug is still there

[2022-09-16 19:29] kdubb commented on #27982
@gsmet Here is a reproducer using Gradle. This was created by code.querkus.io, no code changes were made at all.

To reproduce, start the app (I used `quarkus dev`) and all will seem correct but after quitting the application (using `q`) the `ObjectStore` directory structure will be created in the root project directory.

[gradle-object-store-at-quit.zip](https://github.com/quarkusio/quarkus/files

[2022-09-16 19:30] geoand commented on #27988
Okay. I'll close this for now but feel free to comment if it does not work in your case

[2022-09-16 19:30] #27988 closed

[2022-09-16 19:33] gsmet commented on #27982
Are you sure the transaction manager was not started? Or was it more that it wasn't logging anything so you didn't know it was started? (honest question)

[2022-09-16 19:34] kdubb commented on #27982
Haha how's that for timing. I'm working on Maven now.

[2022-09-16 19:37] kdubb commented on #27982
Only because in the 2.12 series no directories are created at any time and no startup messages are logged. I'm going to add Flyway to the above example and you'll see both startup log messages and the ObjectStore is created at that point rather than at exit.

[2022-09-16 19:42] kdubb commented on #27982
Here is Maven. It has the exact same behavior as the Gradle reproducer above. For Maven I used `man quarkus:dev` to start the app.
[maven-object-store-at-quit.zip](https://github.com/quarkusio/quarkus/files/9586778/maven-object-store-at-quit.zip)

[2022-09-16 19:51] kdubb commented on #27982
This is Maven with Flyway. I added a small simple migration. Started app using `mvn quarkus:dev` again.

In this case you will see the Narayana/Arjuna startup messages during initialization and prior to Flyway's migrations.
[maven-flyway-object-store-at-start.zip](https://github.com/quarkusio/quarkus/files/9586822/maven-flyway-object-store-at-start.zip)

[2022-09-16 21:37] Sanne commented on #28018
That error certainly looks related to my recent patch. It's of course unexpected, it was building fine for me locally - I'll try again next week.

[2022-09-17 04:29] Ballsigno opened #28026 "Support multipart/mixed in Rest Client Reactive"
### Description

I would be happy If I could send multipart/mixed requests using Rest Client Reactive rather than using Apache HttpClient. Therefore I request this feature!

---

Discussions: https://github.com/quarkusio/quarkus/discussions/28021
Sample Project (I researched the current status): https://github.com/Ballsigno/quarkus-multipart-mixed-test

### Implementation ideas

_No response_

[2022-09-17 07:58] #17891 closed

[2022-09-17 08:28] eijckron commented on #12287
@HerrDerb
The workaround we currently use is to have 1 multi tenant datasource, not linked to any liquibase configuration.
Per tenant we configure an additional datasource with the tenant specific schema and min 0 and max 1 connection. Each of these tenant specific datasources is linked to a liquibase configuration.
This works fine for our current set-up with 2 tenants, it will most likely be ok f

[2022-09-17 09:11] gsmet commented on #12287
From what I can see, it's a limitation of Liquibase itself: https://stackoverflow.com/questions/36419328/liquibase-create-schema-for-postgres .

So I don't see what we can do with it. And no, we can't run Hibernate ORM schema generation prior to Liquibase. That would entirely defeat the purpose of Liquibase.

[2022-09-17 09:13] HerrDerb commented on #12287
@eijckron I went this way first too, but all the static values, especially in the migration file, didn't work out for me. So I went for a more dynamic approach. This way, I only need to configure the datasource and the liquibase tenant default schema in my application.properties (migrateOnStartup disabled) , the schemas are generated dynamically. To mention, I only need this for dev and test profi

[2022-09-17 10:12] rsc1975 opened #28027 "Wrong type detection in hibernate-reactive on postgres bigint PK"
### Describe the bug

Versions:

Quarkus: 2.12.1.Final
Postrgres: 14.5-1.pgdg110+1

I'm getting the following error:
```java.lang.IllegalArgumentException: Provided id of the wrong type for class tech.laude.h3lp3r.domain.Person. Expected: class java.lang.Long, got class java.lang.Integer ```

I've tried generating the table from Quarkus and manually, same result.

Entity code:
[code]
Using `Panach

[2022-09-17 10:19] gavinking commented on #28027
And ... what happens if you use `findById(1L)`?

[2022-09-17 10:24] rsc1975 commented on #28027
It works !!!
[code]

Is this the expected behavior ?

[2022-09-17 10:39] gavinking commented on #28027
Yes, it's correct, a `bigint` can't be represented using a java `int`.

And yeah, the lack of type safety is unfortunate, it's basically a downside if the Active Record pattern compared to DAOs.

[2022-09-17 10:42] rsc1975 commented on #28027
A postgres `bigint` is a 8-byte numeric type, java `int` is a 4-byte type length. IMO, Bigint column should be resolved to Long...

Am I wrong?

https://www.postgresql.org/docs/current/datatype-numeric.html

[2022-09-17 10:50] rsc1975 commented on #28027
Ok, understood, I like the resulting code using Active Record, IMO, It's a bit more intuitive, but not using safe types is something I have to get used to.

I close the issue. Thanks for your help.

[2022-09-17 10:50] #28027 closed

[2022-09-17 11:54] melloware opened #28028 "Undertow: servletContext.getResourcePaths("/") not listed in PROD mode"
### Describe the bug

I have a simple ApplicationInitializer to print out all the available servlet resource paths...

[code]

When running in **DEV** mode `mvn quarkus:dev` the following is printed out it finds the mapped `/index.html`:
[code]

When running in **PRD** mode `mvn clean package -DskipTests && java -jar target/quarkus-app/quarkus-run.jar` it doesn't find anything:
[code]

### Expecte

[2022-09-17 13:30] jendib opened #28029 "Redis GET with byte[] as type leads to unmarshaling exception"
### Describe the bug

I'm using this example <https://quarkus.io/guides/redis-reference#storing-binary-data> to get a value storing byte data and I'm getting this exception:
[code]

It seems that even if I'm using a byte[] type it tries to unmarshall the value as JSON.

In `io.quarkus.redis.datasource.codecs.Codecs.getDefaultCodecFor` it defaults to `JsonCodec`, maybe we need a new codec doing not

[2022-09-17 14:04] HerrDerb opened #28031 "Allow multiple realms to be configured with quarkus.keycloak.devservices.realm-path (multi-tenancy)"
### Description

For the keycloak devservice, it is possible to define the property `quarkus.keycloak.devservices.realm-path` with a realm.json which initializes the dev service.

This works great if you only need one realm. File content -> `{ ... }`

It does not work, when more than one realm are needed.
It would be great if one could define an array of realms inside the realm.json of which all a

[2022-09-17 14:22] gwenneg opened #28032 "Lightweight feature flags extension"
### Description

Feature flags (or toggles, flips, switches...) are a very powerful tool for cloud-native apps and the current Quarkus offer in that area is a bit limited (unless I missed something 😄). There is of course [quarkus-unleash](https://github.com/quarkiverse/quarkus-unleash) based on the excellent [Unleash](https://www.getunleash.io/) but one does not always want to deploy something as

[2022-09-17 16:02] holly-cummins opened #28033 "io.quarkus.smallrye.graphql.deployment.ConcurrentAuthTest fails on M1"
### Describe the bug

Note: This test has been disabled on M1 as part of [#27156](https://github.com/quarkusio/quarkus/pull/27156)

This is the error:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Undo the disabling of the test, and then

[code]

Also can be reproduced on the Mac CI.

### Output of `uname -a` or `ver`

_No response_

###

[2022-09-17 16:27] gastaldi commented on #28033
I've seen this error happen sporadically with other tests as well.

Can you reproduce this issue when running this single test only?

[2022-09-17 16:31] gsmet commented on #28033
Yeah I wonder if we are hitting the infamous file descriptor exhaustion issue you all had with macOS.

[2022-09-17 16:41] alexfedorenchik opened #28034 "NullPointerException on GraphqQL server when request has syntax errors"
### Describe the bug

GraphQL server swallows syntax errors in request and throws NullPointeException.

### Expected behavior

Invalid syntax error is returned to client.
E.g. Invalid Syntax : offending token '[' at line 1 column 1

### Actual behavior

Original Invalid syntax error is swallowed. Request failed later with NPE that is returned to client.
[code]

### How to Reproduce?

Send any requ

[2022-09-17 16:42] holly-cummins commented on #28033
I didn't raise a defect until I'd reproduced locally .... but now I can't reproduce locally (even after un-disabling). So I suspect Guillaume may be right about the file descriptor issue.

[2022-09-17 17:27] sberyozkin commented on #27876
It looks better now, https://quarkus.io/version/main/guides/security-openid-connect-web-authentication

Thanks @sheilamjones @mkouba

[2022-09-17 17:27] #27876 closed

[2022-09-17 17:28] sberyozkin commented on #27876
Fixed by #28020

[2022-09-17 17:33] sberyozkin commented on #28031
@HerrDerb, it can be simpler to support multiple files, and then upload each file in turn as opposed to parsing this JSON document.
However, what is your use case ? A single OIDC tenant has a client id/secret specific to a given realm. So not sure having more than 1 realm uploaded really helps - or do you have a multi-tenancy support in mind ?

[2022-09-17 17:39] holly-cummins opened #28035 "Hibernate ORM and Spring Data tests failing with out-by-one error when run on Mac in North American timezone"
### Describe the bug

I can’t decide if this is a test issue, or an implementation issue, but I’m raising a defect to track the investigation (and track the disabling of the tests on Mac CIs in https://github.com/quarkusio/quarkus/pull/27156, which we will want to reverse once this is sorted out).

A number of tests which check author.dob are failing with an out-by-one error, on our Mac GitHub run

[2022-09-17 17:41] cescoffier commented on #28029
You are right. Can you try the PR I just opened? (https://github.com/quarkusio/quarkus/pull/28036)

[2022-09-17 18:30] HerrDerb commented on #28031
@sberyozkin , yes I'm building a multi-tenancy system. I forgott to mention this. That why I would like to be able to initialize a keycloak devservice with more then one realm.

[2022-09-17 22:22] fabrii commented on #22204
Collections issue ready:

JIRA: https://hibernate.atlassian.net/browse/HHH-15522
PR: https://github.com/hibernate/hibernate-orm/pull/5302

Is this going to be backported to 5.6?

[2022-09-18 05:54] mschorsch commented on #25563
@geoand Are there any plans to support suspend functions for @ReactiveTransactional?

[2022-09-18 09:01] geoand commented on #25563
We certainly should at some point.

[2022-09-18 12:56] michalvavrik opened #28037 "OpenShift - Fix missing JAR path"
### Describe the bug

Default JAR path `/deployments/quarkus-run.jar` is not set. Path is only set when user provide custom jar filename/directory or args or the base image is known (that basically means quickstart that has enabled deployment won't work, please see reproducer).

The issue is caused by https://github.com/quarkusio/quarkus/pull/27733.

### Expected behavior

App starts.

### Actual

[2022-09-18 13:28] tristantarrant commented on #27030
Infinispan 14.0.0.CR2 has removed the `jakarta` classifier and now ships artifacts such as `infinispan-client-hotrod-jakarta`

[2022-09-18 14:57] jendib commented on #28029
@cescoffier Is there an easy way to try it?

[2022-09-18 15:58] melloware commented on #28032
@gwenneg i think this is a good idea to have a lightweight option.  However THANK YOU for putting me on to Unleash I had never heard of this product before but its actually exactly what my client is looking for!

[2022-09-18 16:03] cescoffier commented on #28029
You would need to check out the `main` branch and build it. See https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#checking-an-issue-is-fixed-in-main.

Alternatively, you can try the snapshots, but it's not very reliable.

[2022-09-18 16:06] huw0 opened #28039 "Gradle multi-module project - streamline bean discovery"
### Description

As outlined in [Contexts and Dependency Injection](https://quarkus.io/guides/cdi-reference#bean_discovery), the bean archive is synthesized from:

* the application classes,
* dependencies that contain a beans.xml descriptor (content is ignored),
* dependencies that contain a Jandex index - META-INF/jandex.idx,
* dependencies referenced by quarkus.index-dependency in application.p

[2022-09-18 17:08] cescoffier commented on #27306
Fixed in 2.12.x (due to the new context handling)

[2022-09-18 17:15] cescoffier commented on #26809
I like your proposal. We could define a global prefix attribute, and if the prefix is configured, it will be prepended.

@ozangunalp WDYT?

[2022-09-18 17:21] cescoffier commented on #28033
I just built the graphql extension on my M1 - no problem.

[2022-09-18 17:40] holly-cummins commented on #28033
I un-disabled the test, ran a build, and same thing - the build overall was a bit unhappy and hung. That complicates diagnosis, but https://github.com/quarkusio/quarkus/actions/runs/3076919532/jobs/4971564330 shows `too many open files` in smallrye graphql deployment. I'll add the guard again, with an extra condition to only disable things in CI. We certainly won't have less M1 coverage with that

[2022-09-18 17:47] florent-lb commented on #24445
Hi, if it's help I has the same problem with my project, I just miss to update my gradle plugin version with my platform version (in my gradle.properties)

[2022-09-18 18:42] sberyozkin commented on #28031
It will require a significant effort as importing multiple realms will not in itself affect a DevUI experience. Worth thinking though how it all can be managed

[2022-09-18 18:46] murphye commented on #5348
+1 on this. Very useful for migrating Spring apps. Here is an example for PostGIS:
https://github.com/murphye/spring-boot-postgis/blob/main/src/main/java/com/hin/spatial/postgis/repo/CityRepository.java#L15

[2022-09-18 19:49] glefloch commented on #24445
Thanks @florent-lb. @prasenjit-net do you still have the issue?

[2022-09-18 23:51] michalvavrik opened #28040 "RR treat providers from class path differently than REST Easy classic"
### Describe the bug

Our test is declaring multiple `MessageBodyWriter`s and also has `org.jboss.resteasy:resteasy-multipart-provider` as dependency (as we have another tests for multipart stuff). Once https://github.com/quarkusio/quarkus/pull/27981 got merged, test `HttpAdvancedReactiveIT#testMediaTypePassedToMessageBodyWriter` started to fail https://github.com/quarkus-qe/quarkus-test-suite/act

[2022-09-19 00:47] gaol commented on #27918
It relates to https://github.com/vert-x3/vertx-mail-client/issues/185

[2022-09-19 03:28] leotu opened #28042 "Redis-client should upgrade vertx-redis-client next version"
### Description

Ref [https://github.com/vert-x3/vertx-redis-client/issues/348](https://github.com/vert-x3/vertx-redis-client/issues/348)
Quarkus connect Redis server failed when specific "username"

[code]

Startup failed log

[code]

### Implementation ideas

_No response_

[2022-09-19 05:04] Sgitario commented on #27934
I'm glad it worked. I'm closing the issue then.

[2022-09-19 05:04] #27934 closed

[2022-09-19 05:20] Sgitario commented on #28016
As far I'm seeing, this is the issue: `java.lang.ClassNotFoundException: javax.annotation.Nonnull`.

[2022-09-19 05:22] geoand commented on #28037
@iocanel can you take care of this one please?

[2022-09-19 05:28] geoand commented on #28026
This seems like a reasonable request to me.

WDYT @cescoffier @Sgitario ?

[2022-09-19 06:04] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3080133689

[2022-09-19 06:05] rsvoboda commented on #28007
CC @ppalaga / @lburgazzoli

[2022-09-19 06:06] mkouba commented on #28013
But the bracket notation is `map['illegal key']`, i.e. the dot is not used at all. It's similar to the [bracket notation in javascript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Property_Accessors#bracket_notation).

[2022-09-19 06:07] #28013 closed

[2022-09-19 06:11] geoand commented on #28035
Although https://github.com/quarkusio/quarkus/pull/28044 does not really answer why this is happening on M1 test runners, it nonetheless does allow us to progress

[2022-09-19 06:12] lthasle commented on #28006
@geoand
Thanks for your proposal, they work.
The @Parameter is used in a common Interceptor for all our Controllers.
I don't like the idea of adding several @RestHeader to all of our method signatures.

[2022-09-19 06:12] rsvoboda commented on #6588
OptaPlanner quickstart is failing with Quarkus main

[code]

@evacchi @ge0ffrey
@Ladicek jandex related

[2022-09-19 06:16] cescoffier commented on #28042
Vert.x update is scheduled already - waiting for the release.

[2022-09-19 06:17] cescoffier commented on #27918
Thanks, @gaol, it's exactly that issue. Do you have an ETA?

[2022-09-19 06:17] geoand commented on #28006
I'll leave it up to @MikeEdgar to decide if there should be a way to disable to OpenAPI warning. In any case, I'm going to close this as it's not a Quarkus issue.

[2022-09-19 06:17] #28006 closed

[2022-09-19 06:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3080132477

[2022-09-19 06:19] Borisca commented on #28012
So i just tried with graalvm 22.2 and quarkus version 2.12.2 and i have the same issue. In JDK in works fine but with native image it doesnt evict the cache after the time is up.

[2022-09-19 06:24] cescoffier commented on #28033
the `too many open files` is just happening at that point because we reach the limit.
So, it's either a leak somewhere or just life (Maven opens lots of files).

It would be interesting to run the build with a profile or collecting JFR events (there is probably an even tracking open / close files)

You may need to configure your `ulimit` - but that's something I generally avoid as, after that, you

[2022-09-19 06:25] geoand commented on #27996
Sure, that would be the test fix, but if we can just reset the system property in the proper place, we can take care of this.

[2022-09-19 06:25] geoand commented on #28037
Nevermind, it seems like https://github.com/quarkusio/quarkus/pull/28038 takes care of it

[2022-09-19 06:26] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3080157635

[2022-09-19 06:35] Borisca commented on #28012
I think I know where the issue is. It seems that in native, it doesnt take into account the override of the property expire-after-access that I set for the profile dev. It takes instead the property that is set in the default profile. I let you know if I find more about it.

[2022-09-19 06:43] geoand commented on #28042
Let's close this as we already have a process in place for doing Vert.x releases and we do them as soon as everything is in place

[2022-09-19 06:43] #28042 closed

[2022-09-19 06:46] Borisca commented on #28012
@gwenneg  Okay. I found the problem. The thing is that when i build the native image, I did not specify any profile. I thought you could choose the profile when you run the app so it picks the right properties. It seems that even though I specify the dev profile, it uses the prod properties. Does that mean that I need 1 native image per environment?

[2022-09-19 06:50] geoand commented on #28032
Thanks for bringing this up @gwenneg! I think this sounds like a very useful feature.

To be honest, I think this would be benefit from an initial discussion on the mailing list and opinions on how to move forward have consolidated, it would be great to transfer the decisions here and move forward.

P.S. One thing I would like to figure out in the aforementioned discussion is how much it would mak

[2022-09-19 07:03] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3080133434

[2022-09-19 07:07] fedinskiy commented on #28013
@mkouba if so, why `{map.['Germany']}` works?

[2022-09-19 07:10] gwenneg commented on #28032
Okay, I'll initiate the discussion there.

Just to be sure, you meant the _test_ method bodies, right?

My plan was to do as much as possible at build time. I started experimenting about this with a small POC where I already log the feature flags status at startup using generated bytecode in the class annotated with `@FeatureFlags`. I'll continue experimenting a bit this week and then I'll create

[2022-09-19 07:12] geoand commented on #28032
No, I meant production code. I want to explore whether it's possible to have different classes and / or methods depending on the feature set.

[2022-09-19 07:14] mkouba commented on #28004
You're right, the problem is caused by the fix in https://github.com/quarkusio/quarkus/pull/27582.

@lthasle TLDR> You need to add the `@org.eclipse.microprofile.rest.client.inject.RestClient` to the `@InjectMock q.MyTest.client` field.

`@InjectMock` is internally using `BeanManager#getBeans()` and there was a bug in the implementation of this method that was only fixed recently. The container mu

[2022-09-19 07:18] mkouba commented on #28013
I think that it does not work but it does not result in a parser error because `['Germany']` is not an invalid identifier as defined in [Identifiers and Tags](https://quarkus.io/guides/qute-reference#identifiers).

[2022-09-19 07:31] Sgitario commented on #28016
I tried to dig further into this issue but am unsure what can be done to overcome it. The `byte-buddy` dependency is used by the Hibernate ORM Quarkus extension and internally is using the NotNull Javax annotation which is not in the classpath any longer in the `jakarta-rewrite` branch.
Any ideas/tips? @gsmet

[2022-09-19 07:36] fedinskiy commented on #28013
I updated[1] the reproducer, run it in dev mode see it for yourself.

[1] https://github.com/fedinskiy/reproducer/commit/8004d67821bee6453890e4bbb1b84e745fa79049

[2022-09-19 07:39] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3080157635

[2022-09-19 07:41] Plawn opened #28049 "Redis client filters the null values for with the mget command"
### Describe the bug

In the redis documentation, here : https://redis.io/commands/mget/

The missing values should be returned as null, it enables to detect in an efficient way, which keys are missing or have been deleted due to timeout policies.

However, the implementation of the ReactiveRedisClient uses the io.quarkus.redis.runtime.datasource.Marshaller which filters this values with the metho

[2022-09-19 07:43] fedinskiy commented on #28013
And `map['The Great Britain']` doesn't work either. @mkouba the issue should be reopened.
Also, we need to find, why `map.['key']` works. Do you want a separate issue created for that?

[2022-09-19 07:48] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3080133434

[2022-09-19 08:09] lthasle commented on #28004
@mkouba
Thanks for your proposal, it works fine.

But as it worked fine in 2.10.1.Final I think the change should have been mentioned in some migration guide.

[2022-09-19 08:20] holly-cummins commented on #28033
I agree that it happens at that point because we hit the limit, but the interesting thing is that we don't hit the limit at all without that test. So that test/underlying code must be particularly hungry (or leaky) in its file consumption. The good news is it perhaps narrows down the scope of what we will need to profile, following @cescoffier's suggestions.

This issue can track the investigation

[2022-09-19 08:21] gwenneg commented on #28012
Did you specify the profile with a command like `./my-app-1.0-runner -Dquarkus.profile=dev`?

[2022-09-19 08:22] mkouba commented on #28013
Yes, you're right and it works. I don't remember the details but it seems that we wanted to be more lenient and just ignore adjacent separators, e.g. `name[['value']` and `name.['value']`.

This is really a bug and I think that we should create a separate issue for that.

[2022-09-19 08:31] Borisca commented on #28012
Yes I did. But I just read again the doc on caffeine cache with quarkus and all the fields are displayed with the padlock on the left side.
I never noticed it before but that explains pretty well my problem:
With lock : 'Configuration property fixed at build time - All other configuration properties are overridable at runtime'

[2022-09-19 08:36] mkouba commented on #28013
FYI I've created https://github.com/quarkusio/quarkus/pull/28051.

Thanks for noticing this bug!

[2022-09-19 08:44] mkouba commented on #28004
No doubt about it. We did not add anything yet because it was not obvious and your use case worked just by coincidence.

Are you sure this fails on 2.12.2.Final too? Because the change I'm talking about was introduced in 2.13. We need to check this...

[2022-09-19 08:44] #27987 closed

[2022-09-19 08:51] cescoffier commented on #28049
One solution would be to have the entries in the map (key -> `null`). Would that work for you?

[2022-09-19 09:09] gwenneg commented on #28012
Good catch! Sorry, I should have thought about this 😄 `quarkus-cache` config values are indeed fixed at build time.

[2022-09-19 09:10] #28012 closed

[2022-09-19 09:23] radcortez commented on #27947
If we add the dependency:

[code]

Then you can use `Version.getVersion()`. The `quarkus-builder` jar contains the `Version.properties` file with the Quarkus version. This should work in any mode.

Maybe what we need is to have this directly into the core instead of requiring to add the dependency.

[2022-09-19 09:24] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/3080157232

[2022-09-19 09:39] gaol commented on #27918
@cescoffier these cases are inevitable IMO, when the connections are idle for a while, the SMTP server will close the connection, which will lead to this logging.

It does not break sending of emails, but it is a noisy message, so I proposed a fix of changing the log level back to debug like what it was in v3. https://github.com/vert-x3/vertx-mail-client/pull/188

[2022-09-19 09:41] cescoffier commented on #27918
Probably a good idea to reduce the level.

I can also filter out the message in our logging configuration.

[2022-09-19 09:42] lthasle commented on #28001
@geoand
Thanks for your feedback!
Hmm, so I now need to remove the duplicated root-path to get my tests to work?
Or am I missing something here?

`
@QuarkusTest
public class MyControllerTest {

	@TestHTTPEndpoint(MyController.class)
    @TestHTTPResource URL url;
	@Test
	void tst() throws Exception {
		get("ep1");
	}
	private void get(String operation) {
		RequestSpecification rs = given()
				.lo

[2022-09-19 09:42] Plawn commented on #28049
Yes thats perfect !, we just have to remove the null check, it should not be breaking anything as the filter was not stated in the documentation

[2022-09-19 09:45] gsmet opened #28052 "Jakarta - EE 10 - RESTEasy 6.2 - Issue with config converter not being registered in native"
`MultipartResourceIT.testMultipartDataIsSent` is failing in native mode because of the following issue:

[code]

[2022-09-19 09:46] gsmet commented on #28052
@radcortez how should the converter be registered in native? I would expect the SmallRye Config extension to detect and register them? Or do we need to do something in the RESTEasy extension?

[2022-09-19 09:52] geoand commented on #28001
You are appending the path manually, which you no longer need to do

[2022-09-19 10:16] sheilamjones commented on #27876
Thanks for your verification @sberyozkin

[2022-09-19 10:24] lthasle commented on #28001
@geoand
Sorry, but I feel a little stupid her, I can't get your suggestion to work.
Can you please correct my example above, so it works?

[2022-09-19 10:35] sberyozkin commented on #27900
Hi @gsmet I've seen CodeFlowTest#testTokenRefresh (which I added by splitting a complex `#RPInitiatedLogout` into two tests) failing only once since Thursday, so I'd like to keep it running as it does not interfere much, I'd like to add more debug messages today to help tracing what went wrong next time it fails. Some race condition is going on apparently, for now I think it is a awaitility/HTML u

[2022-09-19 10:44] slinkydeveloper opened #28053 "gRPC ServerInterceptor throwing exceptions are not catched"
### Describe the bug

Hi all, I'm trying to use an interceptor coming from an external package, which throws an exception when executing `interceptCall`. When this happens, quarkus will print the exception as uncaught but won't reply back.

Looking at the docs of [`ServerInterceptor`](https://grpc.github.io/grpc-java/javadoc/io/grpc/ServerInterceptor.html#interceptCall-io.grpc.ServerCall-io.grpc.M

[2022-09-19 10:46] slinkydeveloper commented on #21358
I stumbled on this issue and I was wondering, would it be possible to use the `Produces` annotation at least for service scoped interceptors? It would be nice to reuse existing interceptors without wrapping them in new implementations.

[2022-09-19 10:57] brunobat commented on #26444
The existing WIP This PR tried to allign as best as possible the current OTel extension and the OTel side autoconfiguration. However, the PR https://github.com/quarkusio/quarkus/pull/26760 will be closed and incremental PRs will be done because:
- PR is already to big and difficult to review
- We learned that the resulting configuration objects are confusing. There is no clear separation from buil

[2022-09-19 10:59] radcortez commented on #28052
They are using the implicit converter mechanics of `valueOf` in `org.jboss.resteasy.spi.config.Threshold`. There is no specific converter for `org.jboss.resteasy.spi.config.Threshold` and because this is a programmatic call, there is no way for us to know that we need to register `org.jboss.resteasy.spi.config.Threshold#valueOf` for reflection.

We either register it manually or provide an actual

[2022-09-19 11:01] gsmet commented on #27503
Fixed with the upgrade to RESTEasy 6.2.0.Beta1 which is targeting Jackson 2.13.

[2022-09-19 11:01] #27503 closed

[2022-09-19 11:16] gsmet commented on #28052
@radcortez so my understanding is that just creating a converter in RESTEasy and adding a `META-INF/services/org.eclipse.microprofile.config.spi.Converter` file registering it would be enough to make it work in native?

[2022-09-19 11:22] alesj commented on #28053
New Vert.x gRPC impl already responds with 500:
* https://gist.github.com/alesj/98dd7b39cff1a65ae36abcbc9e94d266

@cescoffier I guess this could be fixed as part of current work?
(but I would probably need some hint on where / how to fix it)

[2022-09-19 11:31] alesj commented on #28053
Currently you get this (on my WIP branch ...):
* https://gist.github.com/alesj/5917a9d39512107b362f060aa19bcf1d

[2022-09-19 11:35] rsvoboda commented on #6588
@rsynek fyi ^^^ fail of the quickstart

[2022-09-19 11:38] Ladicek commented on #6588
That failure should actually be solved by the exclude added here: https://github.com/quarkusio/quarkus-quickstarts/pull/1180

[2022-09-19 11:43] cescoffier commented on #28033
That is weird, I would need to track how many file descriptors are opened by this test or if we have a leak.

[2022-09-19 11:44] alesj commented on #28053
This could work ...
* https://gist.github.com/alesj/2d57b75096bc3df28838889244028b8b

[2022-09-19 11:44] cescoffier commented on #28053
@alesj we may want to fix in the current server too (if it does not require breaking something), as I would qualify this as a bug (and thanks for the report @slinkydeveloper !)

[2022-09-19 11:45] cescoffier commented on #28053
The question is does the current server let us catch these exceptions?

[2022-09-19 11:46] #28029 closed

[2022-09-19 11:49] michalvavrik commented on #27316
@sberyozkin IMHO it goes against reactive approach (if you doing logic when Uni is created, there is a little reason for using Uni at all. I'll create PR and we can discuss it there (as I have resolution - reproducer is fixed and I understand why the security is called [but I respect you think it shouldn't be called]).

[2022-09-19 11:51] radcortez commented on #28052
Yes.

Or manually registering `org.jboss.resteasy.spi.config.Threshold#valueOf` for reflection in a `@BuildStep`.

[2022-09-19 11:54] gsmet commented on #28052
Yeah, I'm trying to avoid that but I will do it if it's not an option to fix it on the RESTEasy side.

[2022-09-19 12:03] radcortez commented on #28052
Or we can also add the converter on our side.

[2022-09-19 12:05] gsmet commented on #28052
Yeah, I'll discuss with James and decide from there.

[2022-09-19 12:07] alesj commented on #28053
See VertxCoreRecorder ...

[code]

[2022-09-19 12:11] alesj commented on #28053
And it looks like we would have to have 2 diff solutions / fixes:
* https://gist.github.com/alesj/18ef28dc319a2df5b490a7e5fd57f6fa

Unless we leave the new gRPC with already provided 500 ...

[2022-09-19 12:13] yrodiere commented on #27845
To me there are two separate issues here:

1. The fact that ORM or Envers wrongly determines that there is a change because of some (artificial) timezone change.
2. The fact that you don't get to change the state in `onFlushDirty` because bytecode enhancement is enabled.

The first could be considered as a bug (but I'd need a reproducer), and if fixed, could make the second issue irrelevant.

The

[2022-09-19 12:15] #28037 closed

[2022-09-19 12:25] jerboaa opened #28054 "GraalVM 22.3: Warnings produced in hibernate due to AutomaticFeature deprecation"
### Describe the bug

When building `jpa-postgresql` integration-test (for example) by `-Dnative` and GraalVM 22.3-dev the following warning in hibernate code is being produced:

[code]

### Expected behavior

No warnings from hibernate when producing native images.

### Actual behavior

Warnings when generating the native image.

### How to Reproduce?

Reproducer

1. Get GraalVM 22.3 dev build
2.

[2022-09-19 12:29] zakkak commented on #28054
AFAIK @Sanne is aware of this.

[2022-09-19 12:29] cescoffier commented on #28053
@alesj  the Vert.x exceptionHandler is not going to be able to close the gRPC connection. I'm actually surprised that grpc-java does not handle that automatically.

[2022-09-19 12:29] Sgitario commented on #28016
I could find the root cause of this issue. From Jackson 2.13.4, they changed the primary annotation instrospector (the entity that *inspect* the annotations in use) from `ParameterNamesAnnotationIntrospector` to `JakartaXmlBindAnnotationIntrospector` (see commit [here](https://github.com/FasterXML/jackson-modules-base/commit/62475cf5ca46201ba98ffbf2969353ca33efb4ef)).

This was done because a new

[2022-09-19 12:30] iocanel commented on #27274
an extension that changes the behavior of `container-image-docker` to use `podman` sgtm

[2022-09-19 12:33] holly-cummins commented on #28035
Super-quick fix! Can this work item also take responsibility for reversing the changes made in https://github.com/quarkusio/quarkus/pull/27156 to disable the tests, please? Otherwise it will be delaying https://github.com/quarkusio/quarkus/pull/27156 because 27156 will need to be revised to un-disable the tests and then do another CI run. (I think delaying getting M1 into the build was perhaps the

[2022-09-19 12:35] gsmet commented on #28016
I always forget that they based the JAX-RS JSON support in Jackson on the XML one...

[2022-09-19 12:36] holly-cummins opened #28057 "io.quarkus.it.smallrye.config.AppConfigTest failing on Mac M1 (ordering issue?)"
### Describe the bug

It looks like the comparison in the test in io.quarkus.it.smallrye.config.AppConfigTest is too brittle, and it's started failing on M1. I have disabled the test as part of https://github.com/quarkusio/quarkus/pull/27156. This issue tracks fixing the test and then re-enabling it.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Repr

[2022-09-19 12:37] cescoffier commented on #28053
Yes, it does not do anything, so it bubbles up.

[2022-09-19 12:40] slinkydeveloper commented on #28053
The regular grpc server handles this case AFAIK

[2022-09-19 12:42] geoand commented on #28035
@holly-cummins done!

I rebased and force pushed to your branch so the PR is updated

[2022-09-19 12:44] Sgitario commented on #28016
Actually, before it was working because `ParameterNamesAnnotationIntrospector` was ignoring the `XmlTransient` annotations and now `JakartaXmlBindAnnotationIntrospector` is taking into account it.

[2022-09-19 12:48] cescoffier commented on #28053
ah yes, in `runInternal`. So, why does our server not doing this? Might be a gap in Vert.x

[2022-09-19 12:48] jerboaa commented on #28054
Feel free to close if that work is already being tracked elsewhere.

[2022-09-19 12:55] gsmet commented on #28016
@Sgitario so https://github.com/FasterXML/jackson-modules-base/blob/2.13/jaxb/src/main/java/com/fasterxml/jackson/module/jaxb/JaxbAnnotationIntrospector.java is not used in the javax flavor?
What I would like to understand is how we switched from one to another, because I thought we would have `JaxbAnnotationIntrospector` around before.

From what I read from the Jackson commit, we need to explici

[2022-09-19 12:57] iocanel opened #28058 "[Extension Proposal] Authzed Client"
### Description

An extension for connecting to authzed instances. Autzed is a dynamic, centralized, permissions database, inspired by Google's tried-and-true Zanzibar system.

The extension is the equivallent of https://github.com/quarkiverse/quarkus-openfga-client and eventually could be used in https://github.com/quarkiverse/quarkus-zanzibar to add authzed support.

### Repository name

quarkus

[2022-09-19 13:02] Sgitario commented on #28016
The `jackson-module-jakarta-xmlbind-annotations` dependency is coming from `resteasy-jackson2-provider` which is used by the Resteasy Jackson extension. And having this dependency in the classpath will replace the previous setup that was defined by the Quarkus Jackson extension.

[2022-09-19 13:07] sberyozkin commented on #28058
@iocanel Hi, can `quarkus-openfga-client` talk to `Authzed` as well, or do you think of providing a more `Authzed` specific client support with this new extension ?

[2022-09-19 13:08] geoand commented on #28057
https://github.com/quarkusio/quarkus/pull/28060 takes care of it

[2022-09-19 13:09] gastaldi commented on #27274
Does it have to be a separate extension? Can't we support that in `container-image-docker` (in the same way we support Podman while building to native)?

[2022-09-19 13:18] alesj commented on #28053
[code]

The question is why there is no response ...
Where I guess Vert.x exceptionHandler catches this ISE.

[2022-09-19 13:25] gastaldi commented on #27216
@cameronprater any suggestions?

[2022-09-19 13:26] gsmet commented on #28016
@Sgitario can you point me where it's done? Because that's not obvious to me that it should.

[2022-09-19 13:37] #27791 closed

[2022-09-19 13:45] cescoffier commented on #28053
Ok, I may be on something...

[2022-09-19 13:59] cescoffier commented on #28053
So... it was my fault. Opened https://github.com/quarkusio/quarkus/pull/28063.

[2022-09-19 14:05] mkouba opened #28065 "ConfigMapping - register type arguments of supported generic return types for reflection"
### Description

This is needed if implicit converters are used in the native image.

https://github.com/quarkusio/quarkus/pull/27963 adds support for `Optional`. We should also add support for `List`, `Set` and maybe others.

CC @radcortez

[2022-09-19 14:24] mkouba commented on #28004
I've added a note [here](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.13#injectmock). Feel free to improve the wording.

[2022-09-19 14:25] #28004 closed

[2022-09-19 14:25] knutwannheden opened #28066 "Quarkus Test: Initialize REST Assured before `@BeforeAll` methods get called"
### Description

It would be nice if `@BeforeAll` annotated methods would be able to call REST endpoints of the Quarkus application under test using REST Assured just like in `@Test` annotated methods. This currently works but paths have to be specified differently, because the Quarkus test framework hasn't yet initialized REST Assured at this point (this is currently being done in `io.quarkus.tes

[2022-09-19 15:26] #28040 closed

[2022-09-19 15:29] holly-cummins commented on #28035
Oh, sorry, @geoand , I meant the opposite! I meant could we leave my branch alone to improve the chances of a green run on that branch, and use this work item to track re-enabling the tests, *after* the M1 changes have merged. The M1 PR is struggling to get in so I was hoping to minimise further changes on that branch so I don't have to keep waiting for full-build cycles.

Ah well! Hopefully tomor

[2022-09-19 15:31] gastaldi commented on #28054
It seems to have been fixed with: https://github.com/hibernate/hibernate-orm/commit/b57f4a6b12fdbe8607f10401b4f3337a914e771a (still unreleased)

[2022-09-19 15:41] geoand commented on #28035
Oh, sorry!

[2022-09-19 16:18] geoand commented on #28066
What's the use case for this?

[2022-09-19 16:22] knutwannheden commented on #28066
The use case is to set up a test fixture for all tests. Of course this can also be done differently, but it wasn't straight-forward to understand what is going on, since the Quarkus application had been started already.

[2022-09-19 16:25] jamezp commented on #27807
I will try to create a reproducer test in RESTEasy. The tests RESTEasy has passed without changes. However, that doesn't mean we're testing it the same way. The tests RESTEasy has are pretty complex, so I'll create a new one which does something similar to what Quarkus is testing.

As far as changing the Quarkus test, I agree that seems wrong. Especially having to use some internal RESTEasy API to

[2022-09-19 16:27] darraghc345 commented on #27155
I was experiencing this issue.

Changing the jacoco-maven-plugin version to be the same as the jacoco version imported by quarkus, seems to have fixed it.

Unfortunately, it seems this has to be manually synced. Maybe it helps.

[2022-09-19 16:28] geoand commented on #28066
My point is that in a `@QuarkusTest` you have access to the application itself (it's **NOT** a blackbox), so doing something like seems like overkill

[2022-09-19 16:47] Dieken opened #28071 "support quarkus.jib.jvm-entrypoint=INHERIT"
### Description

https://github.com/GoogleContainerTools/jib/tree/master/jib-maven-plugin

Both jib-maven-plugin and jib-gradle-plugin support jib.container.entrypoint=INHERIT to inherit container entrypoint from base image, but quarkus-container-image-jib always overrides container entrypoint.

### Implementation ideas

https://github.com/quarkusio/quarkus/blob/main/extensions/container-image/con

[2022-09-19 17:51] jerboaa commented on #27300
This got fixed in upstream GraalVM with https://github.com/oracle/graal/pull/4997 I think we can close this. But it would be good to see nightly runs of our integration tests first (should be available tomorrow).

[2022-09-19 17:57] geoand commented on #27300
Let's close it tomorrow if your tests pass

[2022-09-19 18:34] aloubyansky commented on #20544
@steele232 have you been looking into this lately? Do you have a repo we could check out to see where it breaks? Thanks.

[2022-09-19 20:10] gastaldi commented on #27274
Maybe @geoand can answer that. If that's the recommended approach we should at least document in its guide for posterity

[2022-09-20 02:59] jzelinskie commented on #28058
Hey there! I'm a maintainer for SpiceDB (Authzed) and thought it might be useful to chime in.

While OpenFGA has adopted code from SpiceDB for its internals, they chose not to create an API that was compatible.

This is actually quite reasonable, because the Zanzibar paper documents a live system at Google rather than a particular algorithm or methodology. Folks that have read the paper can walk a

[2022-09-20 03:44] geoand commented on #27274
Yes, you can do that with Jib. We don't have every feature in the docs, but all the configuration properties are documented

[2022-09-20 05:07] geoand commented on #28071
We can't really support this, because we always need to point to the Quarkus jar.

[2022-09-20 05:19] geoand commented on #28017
@brunobat ^

[2022-09-20 05:31] geoand commented on #27982
@gsmet are you looking at this one?

[2022-09-20 05:49] geoand commented on #28001
Instead of doing:

[code]

do:

[code]

[2022-09-20 06:03] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3087650355

[2022-09-20 06:13] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3087648108

[2022-09-20 06:33] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3087649961

[2022-09-20 07:02] zakkak commented on #27300
The tests are now passing!

[2022-09-20 07:02] #27300 closed

[2022-09-20 07:14] lthasle commented on #28001
@geoand THANKS! It worked fine!

[2022-09-20 07:15] geoand commented on #28001
🎉

[2022-09-20 07:19] rsynek commented on #11563
Should be fixed by https://github.com/kiegroup/optaplanner/pull/2198.

[2022-09-20 07:24] therealjsie opened #28078 "quarkus-kind extension does not create manifests (kind.yml/.json)"
### Describe the bug

When using the `quarkus-kind` extension, no manifests are created and the deployment subsequently fails.

I'm using the following command to build the project:
`gradle build -Dquarkus.container-image.build=true -Dquarkus.kubernetes.deploy=true`

### Expected behavior

I expect the `quarkus-kind` extension to create a `kind.yml` and `kind.json` file.

### Actual behavior

No f

[2022-09-20 07:41] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3087649961

[2022-09-20 07:51] DavideD commented on #23324
I'm not sure that's the right approach.
Probably, the session closed error happens because the session is closed when returning from `fireAndForget`. But because the content is async, it might happen that it's closed too soon, before withTransaction is even executed.

I think a better solution would is to use the Hibernate Session factory directly. But  I need to test it.

[2022-09-20 07:53] geoand commented on #27752
@sberyozkin https://github.com/quarkusio/quarkus/pull/28079 should address your issue

[2022-09-20 08:02] DavideD commented on #23324
If I use the Hibernate Reactive session factory, I see this error:
[code]

[2022-09-20 08:06] DavideD commented on #23324
This implementation should work though:
[code]

[2022-09-20 08:16] mmusgrov commented on #27982
Narayana checks the transaction logs to determine whether or not there are in doubt transactions that may need to be recovered.

[2022-09-20 08:27] brunobat commented on #28017
Will do some research and see if it's possible.

[2022-09-20 08:41] gsmet commented on #28017
The `2.13.0.Final` core artifacts will be built tomorrow (I can wait until noon but not much more) so either we have a fix today or this will have to wait for `.1`.

Wondering if this could be related to the context work.

[2022-09-20 08:46] radcortez commented on #28017
Most likely related with https://github.com/quarkusio/quarkus/pull/27443

[2022-09-20 08:48] #22101 closed

[2022-09-20 09:04] y-luis commented on #3687
This issue seems inactive, but I am facing the same problem, is there any tip on how to avoid it?

[2022-09-20 09:06] gsmet commented on #28017
/cc @mkouba @cescoffier for your awareness.

[2022-09-20 09:15] mkouba commented on #28017
I'm not an expert in tracing and rest client but the use case seems weird to me. A `@Scheduled` method is definitely not a good match (and definitely not an efficient solution) if you need to delay an execution of a client. Also `@Scheduled` methods are executed on a blocking thread by defatult. You might try to use a [non-blocking scheduled method](https://quarkus.io/guides/scheduler-reference#no

[2022-09-20 09:26] #27753 closed

[2022-09-20 09:29] #27316 closed

[2022-09-20 09:32] sberyozkin commented on #28031
@HerrDerb  I've been thinking about it, I believe we can let users select a realm they would like to login to at the OIDC Dev UI login page if more than one realm is available - I'll have a look

[2022-09-20 09:45] sberyozkin commented on #28058
@jzelinskie Hi, thanks for the insightful comments, it makes it clearer that having a dedicated `quarkus-authzed-client` does indeed makes sense, cheers

[2022-09-20 09:54] cescoffier commented on #28017
In the reproducer, if I do thaT:

[code]

I now get 4 spans instead of 3. So, there might be a _merge_ issue, too (@radcortez ).

PS: ^ is not a proper fix, it's just something I did to investigate.

[2022-09-20 09:55] HerrDerb commented on #28031
@sberyozkin That be cool 👍Thanks

[2022-09-20 09:58] sberyozkin commented on #27752
Great stuff, look forward to updating `quarkus-csrf-reactive`, thanks Georgios

[2022-09-20 10:26] Dieken commented on #28071
That's not true, currently I use this command:

[code]

`/app/run-java.sh` is from `src/main/jib/app/run-java.sh`, which is downloaded from https://github.com/fabric8io-images/run-java-sh/blob/master/fish-pepper/run-java-sh/fp-files/run-java.sh

I would like Quarkus to support this usage to inherit entrypoint from base image.
[code]

[2022-09-20 10:38] geoand commented on #28071
Interesting point.

[2022-09-20 10:40] rsvoboda opened #28087 "Introduce preview of documentation changes for PRs"
### Description

Quarkus documentation is getting bigger, there are already includes present. Further modularization of common parts is a natural thing to happen.
And thus it would be good to have a preview of rendered documentation changes as part of PR when the content in the `docs` directory is updated.

[quarkusio.github.io](https://github.com/quarkusio/quarkusio.github.io) repository uses pre

[2022-09-20 10:43] geoand commented on #28071
As you have already analyzed the code, would you like to take a shot at implementing your proposal?

[2022-09-20 10:43] holly-cummins commented on #28035
We still see some of date-related failures on M1, so this should perhaps be re-opened. Fixes would need to be tested with https://github.com/quarkusio/quarkus/pull/28082:

[code]

[2022-09-20 10:44] Dieken commented on #28071
ok, let me try :-)

[2022-09-20 11:36] derkork opened #28088 "REST client considers the wrong environment variable for `quarkus.rest-client."config-key".url`"
### Describe the bug

I have set an environment `QUARKUS_REST_CLIENT__MY_CLIENT__URL` variable set which is supposed to override the `quarkus.rest-client."my-client".url` at runtime. The `quarkus.rest-client."my-client".url` has a fallback setting in `application.properties`.

### Expected behavior

The REST client uses the URL from the environment variable. This works in Quarkus 2.11.1, but does

[2022-09-20 11:38] aloubyansky commented on #3687
@y-luis please open a new issue with instructions how to reproduce the problem, a reproducer would be even better. Thanks.

[2022-09-20 11:38] geoand commented on #28088
@radcortez what is the proper value for the env var here?

[2022-09-20 11:48] knutwannheden commented on #28017
@cescoffier 4 spans is actually correct. I just double-checked with Quarkus 2.12.2. I should have verified that first. I will update the reproducer accordingly. Sorry about that!

Just as background: We have a Quarkus extension which implements some variation of the transactional outbox pattern: A transaction (typically in the context of a REST request) can call a method which will insert a row (w

[2022-09-20 11:54] #28016 closed

[2022-09-20 11:57] knutwannheden opened #28089 "RESTEasy Reactive doesn't provide converters for types like `Optional<LocalDate>`"
### Describe the bug

Not sure if this is expected to work or not, but while RestEasy Reactive has support for Java Time types (like `LocalDate`) out-of-the-box, this doesn't work when wrapped in an optional (e.g. `Optional<LocalDate>`).

[code]

### Expected behavior

I would have expected this to be supported. Sample code:

[code]

### Actual behavior

See description.

### How to Reproduce?

Un

[2022-09-20 12:08] AdlerFleurant opened #28090 "cli test fails without settings.xml"
### Describe the bug

If no settings.xml is present in the maven user location, cli test will fail with 3 failures and 3 errors.

[code]
[Full Maven Log](https://github.com/quarkusio/quarkus/files/9607348/maven.log)

### Expected behavior

cli test should be able to run without settings.xml

### Actual behavior

Fails without settings.xml

### How to Reproduce?

Steps to reproduce the behavior:
1.

[2022-09-20 12:10] cescoffier commented on #28017
Thanks @knutwannheden !

Ok, so my hypothesis from above is correct. I need @brunobat and @radcortez brains to better understand when we could fix that case.

The workaround from above, even if ugly, would work.

[2022-09-20 12:18] gsmet commented on #28089
/cc @geoand (not sure why the bot didn't ping anyone)

[2022-09-20 12:19] geoand commented on #28089
Thanks for reporting. I'll have a look some time this week

[2022-09-20 12:20] brunobat commented on #28017
Scheduled some time for later, just in case.

[2022-09-20 12:28] knutwannheden commented on #28017
Workarounds often have this characteristic :-) But thanks a lot for investigating and this workaround. We will certainly be able to wait for a proper solution in a patch release.

[2022-09-20 12:35] gsmet commented on #28052
Fixed in https://github.com/quarkusio/quarkus/commit/55b72299586bdb379a5a257d2f3011a681db376b .

[2022-09-20 12:43] melloware commented on #28028
cc @sberyozkin @stuartwdouglas

I have a feeling the bug is right here especially since there is a `TODO` still there about in PRD mode its not scanning the JARs properly for files but it is in DEV mode because its looking at the File Paths.

https://github.com/quarkusio/quarkus/blob/9ed77a64d671b65db866ea6759a7cb06c94bd7d5/extensions/undertow/runtime/src/main/java/io/quarkus/undertow/runtime/Unde

[2022-09-20 12:45] gsmet commented on #27982
I think we found a good compromise for 2.13 here: https://github.com/quarkusio/quarkus/pull/28025 .

More involved changes will have to be made in 2.14.

[2022-09-20 12:47] radcortez commented on #28088
It should be `QUARKUS_REST_CLIENT__MY_CLIENT__URL`. Let me have a look.

[2022-09-20 12:51] manofthepeace commented on #27844
Hi guys, I really don't want to eat up your time on this. I just want to give a bit more info in case anywone stumbles on the issue.

I did look into jboss loggmanager sources, and it looks like modifying the logrecord, within the filter is actually supported, and the logmanager uses it itself in it's own provided JUL Filter like shown here
https://github.com/jboss-logging/jboss-logmanager/blob/1d

[2022-09-20 12:57] mkouba commented on #18345
So I managed to load the removed beans lazily but then realized that many extensions unfortunately use the _"try-to-get a bean instance programmatically"_ pattern during initialization (and handling the potential `null` return value) which effectively means the removed beans are always loaded when the app starts. A typical example is https://github.com/quarkusio/quarkus/blob/main/extensions/restea

[2022-09-20 12:58] derlin commented on #16690
no news after one and a half years ? I am looking for this feature as well. I find it very useful when you have defaults, but still want others to be able to override them just by creating a configmap.

[2022-09-20 13:04] #28052 closed

[2022-09-20 13:04] syr opened #28094 "Quarkus initializing VertX cache even with vertx caching disabled"
To comply to AWS ECS security rules we want to enforce read only filesystem access (https://docs.aws.amazon.com/config/latest/developerguide/ecs-containers-readonly-access.html)

This requires that vertx caching is disabled. However, no matter if defined by env var
`QUARKUS_VERTX_CACHING=false`
or app property:
`quarkus.vertx.caching=false`

eventually, vertx caching is still active, causing the a

[2022-09-20 13:14] geoand commented on #28090
cc @aloubyansky

[2022-09-20 13:15] geoand commented on #28089
https://github.com/quarkusio/quarkus/pull/28095 takes care of it

[2022-09-20 13:16] v-antech commented on #24424
I got the same error. Turns out it happened, when I added `@WithSpan` to a static method.

[2022-09-20 13:17] gsmet commented on #24424
@v-antech if you can get us a reproducer, please open a new issue with it attached. Thanks.

[2022-09-20 14:32] gsmet commented on #26990
I think we can close this, it has been done for all the specs for which we can do it. And we have an issue for the one missing.

[2022-09-20 14:33] pwlan opened #28096 "Serializer for class 'ArrayList' is not found."
**Describe the bug**

Hi,
thanks for the fix of https://github.com/quarkusio/quarkus/issues/23678

But it looks like this has introduced a new issue.
When using Lists, the following error ocurrs.

[code]

The issue can be easily reproduced:
[code]

or
[code]

In the case of a list, the Kotlin ListSerializer needs to be used. The same applies to Sets.

**Quarkus Version**

Quarkus 2.12.2

**Expecte

[2022-09-20 14:46] gsmet commented on #28096
Can you provide a small reproducer?

[2022-09-20 14:55] ebullient commented on #28090
[code]

The relevant bits: Maven wrapper is invoking maven, which complains if it can't find a .m2 settings.xml

Maven does want one somewhere...https://maven.apache.org/settings.html

In this environment, is it unable to create one for that user (no write access to /Users/mavenrunner/)?

This sounds like something maven is trying/failing to do, not something Quarkus is attempting (we are invoking

[2022-09-20 15:38] geoand commented on #28096
As Guillaume mentions, a reproducer is essential here.

[2022-09-20 15:51] #27982 closed

[2022-09-20 15:55] y-luis commented on #25256
Not sure if related (I'm a novice with Quarkus) but I am trying to run a Quarkus app in a local container and use [remote development mode](https://quarkus.io/guides/maven-tooling#remote-development-mode) and I'm facing the same error:
[code]
I am not using any database migration tool. Could it be related?

[2022-09-20 16:05] gastaldi opened #28098 "Potential NPE in QuarkusClassLoader"
I am trying to run a Quarkus app in a local container and use [remote development mode](https://quarkus.io/guides/maven-tooling#remote-development-mode) and I'm facing the same error:
[code]
I am not using any database migration tool. Could it be related?

_Originally posted by @y-luis in https://github.com/quarkusio/quarkus/issues/25256#issuecomment-1252562974_

[2022-09-20 16:06] gastaldi commented on #25256
@y-luis it seems like a bug. I created https://github.com/quarkusio/quarkus/issues/28098 to verify that

[2022-09-20 16:07] mkouba commented on #18345
Hm, it seems that we don't log a warning if at least one bean matches. So maybe it would be more meaningful to only emit a warning for `CDI.current().select(Foo.class).get()` and `Arc.container().instance(Foo.class).get()`, i.e. for cases where exactly one bean is expected and obtained, and not for `CDI.current().select(Foo.class)`, `Arc.container().listAll()` etc.

[2022-09-20 16:12] #27752 closed

[2022-09-20 16:13] pwlan commented on #28096
Thanks for the super fast response!

Interesting... we get it every time in our app... but are having trouble reproducing it with a fresh hello world... this might take a moment.

Otherwise, in the case of Lists, is https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-resteasy-reactive-kotlin-serialization/runtime/src/main/kotlin/io/quarkus/kotlin/serialization/Kotli

[2022-09-20 16:15] geoand commented on #28096
Yeah, that should be coming into play

[2022-09-20 16:21] aloubyansky commented on #28098
@y-luis could you please provide more info, such as after which actions/steps this error happens? Thanks.

[2022-09-20 16:34] GauriBhat22 opened #28100 "A way to inject dependencies when the class is instantiated with new operator or Utils.newInstance"
### Description

I am trying to implement a custom login module for Kafka which implements javax.security.auth.spi.LoginModule.
Lets name the custom login module - KafkaLoginModule.  I need to fetch the username, password from HashiCorp and then use the credentials in KafkaLoginModule to connect to Kafka.

KafkaLoginModule has some dependencies which need to be injected. But injection does not wor

[2022-09-20 18:39] #28058 closed

[2022-09-20 18:43] iocanel commented on #28058
@jzelinskie thanks for chiming in.

[2022-09-20 20:00] GavinRay97 commented on #28100
If I understand you, you're asking for how to get instances of CDI managed beans if the class that is using them is manually constructed with `new MyClass()`?

To do this, you can programmatically access the CDI container and ask it for the things you want:

[code]

[2022-09-20 20:02] michalvavrik opened #28108 "App won't start in OpenShift due to incorrect JAVA_APP_JAR with quarkus-kubernetes-config"
### Describe the bug

Quarkus app won't start in OpenShift as there is `JAVA_APP_JAR` set to ~ `artifact-id-version-runner.jar` and no CMD set. In Quarkus 2.12.2.Final there was also set `/deployments/artifact-id-version-runner.jar` (so not a new behavior), however that was not used as there was cmd that started the app
[code]

It's consequence of https://github.com/quarkusio/quarkus/pull/27733, d

[2022-09-20 20:06] jamezp commented on #27807
I'm struggling a bit with this one. I was only marginally involved in the original decision on sanitizing like this. It is a bit painful from a user perspective to get a real result of the failed response. It would require knowledge of the implementation, RESTEasy in this case, which makes applications not very portable.

I do however understand the possible security issues. The question to me is

[2022-09-20 20:20] mkamneng commented on #13565
For anyone insterested, as work arround for now (vertx sockjs eventbus); I'm overriding the io.quarkus.vertx.web.runtime.RouteHandler.handle(RoutingContext context) whithin each user session and keeping the ManagedContext active for the lifespan of the session.

[2022-09-20 20:57] jamezp commented on #27809
The only option I can see here is have a way for RESTEasy to disable the default exception mapper with a configuration property. We have to include the default exception mapper per the spec.

The only other option would be to look at the response rather than the logs.

[2022-09-20 21:29] jamezp commented on #27809
Maybe not ideal, but another option is to have Quarkus register it's own `ExceptionMapper`. As a test I just added this and it worked:
[code]

[2022-09-20 23:15] GabCostaSilva commented on #13574
that solved a similar problem with my build running in a OSX

[2022-09-21 01:40] pkumar72 commented on #15056
client = ClientBuilder.newBuilder()
            .connectTimeout(httpConnectTimeout, TimeUnit.MILLISECONDS)
            .readTimeout(httpReadTimeout, TimeUnit.MILLISECONDS)
            .build();

[2022-09-21 03:45] sumitsarkar commented on #6440
To add some context to this thread: https://htmx.org/essays/template-fragments/
Is this possible in Qute? I couldn't find documentation in Qute reference related to "fragments". Thymeleaf has something similar to this: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#fragment-specification-syntax

[2022-09-21 04:26] geoand commented on #28108
Isn't this similar to one you had reported a few days ago?

[2022-09-21 05:09] GauriBhat22 commented on #28100
This worked. Thanks a lot !

Can this be included in the documentation?  I looked for a way to do this in the documentation and did not find anything which solved the issue.

[2022-09-21 05:12] Sgitario commented on #27809
I also tried that and spites it fixes the test, it opens a can of worms in other places (many other tests will fail in `resteasy-classic`) :(

[2022-09-21 05:45] #28089 closed

[2022-09-21 05:50] mkouba commented on #6440
Template fragments as described in the htmx docs are currently not supported. You'd need to define a separate [template to include](https://quarkus.io/guides/qute-reference#include_helper) or a [user tag](https://quarkus.io/guides/qute-reference#user_tags) (which is a good practice anyway). Speaking of thymeleaf - I cannot find an example of how to render a fragment from a template?

[2022-09-21 06:12] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3095411167

[2022-09-21 06:18] lthasle commented on #28006
@geoand
It would help if it was possible to use a constant in @Parameter when we use  @RestHeader

@Path(MyController.DOMAIN)
public class MyController {

	public static final String DOMAIN = "my";
	public static final String EP1 = "/ep1/";
	public static final String EP2 = "/ep2/";

	private static final String MSG = "msg";

	// works:
	@Parameter(in = ParameterIn.HEADER, required = true, name =

[2022-09-21 06:22] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3095413450

[2022-09-21 06:28] stephaneoverlen opened #28113 "Unresolveable build extension io.quarkus.platform:quarkus-maven-plugin:2.12.3.Final"
### Describe the bug

Hi,

This quick message to tell you that I went to [quarkus.io](https://code.quarkus.io/), selected RestEasy Reactive Jackson, downloaded the zip, extracted it, nothing more.
Then "mvn clean package" and the message appears :
_[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[ERROR] Unresolveable build extension: Plugin io.quarkus.platform:quarkus-mav

[2022-09-21 06:30] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3095412593

[2022-09-21 06:36] Sgitario commented on #28078
In addition to the details of this issue, I've also found:
1. Looking deeper into the code, no `kind.yaml`, `kind.json` are expected to be created... I think the documentation is wrong, but it needs to be confirmed.
2. If we fix the previous point 1., still the load of the container image is not working because of the issue described in https://kind.sigs.k8s.io/docs/user/known-issues/#unable-to-pu

[2022-09-21 06:51] geoand commented on #28113
This worked for me so I am assuming something went wrong when Maven downloaded the dependencies.
I propose clearing your `.m2/repository` directory from the problematic dependencies and trying again

[2022-09-21 07:07] stephaneoverlen commented on #28113
It worked, thank you for your help.
I assumed there was some kind of problem with the new version.

[2022-09-21 07:07] #28113 closed

[2022-09-21 07:19] Karm commented on #6717
Apparently, this one is still open by mistake. Closing for real.

[2022-09-21 07:19] #6717 closed

[2022-09-21 07:29] geoand commented on #28100
This has been discussed in past IIRC and it's something we likely do not want to do as there are too many corner cases to cover.

@mkouba @manovotn @Ladicek anything you want to add, or should we close this?

[2022-09-21 07:49] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3095412593

[2022-09-21 07:57] Karm opened #28114 "Native TS: integration-tests/quartz leaves hanging processes"
### Describe the bug

It seems that the TS leaves hanging Quartz runner processes. At least when executed with builder image and in native mode. It becomes apparent on a system that is not re-provisioned for each TS run, e.g.:

[code]

The good new is the process survived since August. The bad news is that this should not be happening.
I will take a look at what the Quartz TS does and why this hap

[2022-09-21 08:15] michalvavrik commented on #28108
@geoand very similar, but that one is fixed. This one, I believe, is due to Dekorate overwriting the env. variable JAVA_APP_JAR. This is not a new behavior as this issue was already in Quarkus 2.12 etc. it's just now we don't have a CMD to overwrite this.

Please mention that the issue I opened a few days ago is fixed and arguably in desirable fashion. Had Dekorate respected the variable we set in

[2022-09-21 08:15] mkouba opened #28115 "Revisit the non-standard behavior of ArcContainer#instanceSupplier()"
### Description

Namely this part: https://github.com/quarkusio/quarkus/blob/2.13/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java#L266-L276

Note that a change would break the compatibility because some extensions rely on this behavior (e.g. undertow).

[2022-09-21 08:19] michalvavrik commented on #28108
I didn't know about this scenario, that's why I created new issue now.

[2022-09-21 08:20] mikaelmercur opened #28116 "VertxInputStream 10 s delay with parallel requests"
### Describe the bug

I have setup reseteasy reactive POST endpoint. When sending a lot of parallel requests with a client that reuses the connection, a delay of 10 seconds sometimes can occur in VertxInputStream. The bug seems to be the following:
Assume we have two parallel requests A and B. connection is shared between A and B.
1. A and B both sets waiting = true and ends up in connection.wait(

[2022-09-21 08:21] geoand commented on #28108
Makes sense, I just wanted to clarify.

[2022-09-21 08:24] geoand commented on #28114
I can confirm I see this. I'll check and see what is going on

[2022-09-21 08:31] geoand commented on #28114
https://github.com/quarkusio/quarkus/pull/28118 takes care of it

[2022-09-21 08:31] Karm commented on #28114
I can reproduce it with the current main on my workstation too as:

[code]

[code]

[2022-09-21 08:32] geoand commented on #28114
Yup, there was an oversight in the test framework

[2022-09-21 08:33] Karm commented on #28114
Thanks @geoand , that was well within the under an hour SLA :smiley: :smiley: :smiley:

[2022-09-21 08:37] geoand commented on #28114
😆

[2022-09-21 08:41] ozangunalp commented on #27265
I believe I found what the problem was, and fixed with https://github.com/smallrye/smallrye-reactive-messaging/pull/1895. It is released on reactive messaging 3.19.1 and will arrive in Quarkus shortly

[2022-09-21 08:42] y-luis commented on #28098
Sure. I am trying an app based on a Maven multi-module project [here](https://github.com/PacktPublishing/Designing-Hexagonal-Architecture-with-Java/tree/main/Chapter15), with the following `Dockerfile`:

[code]

and the following `docker-compose.yml` (in the project's parent folder):
[code]

After `./mvnw clean package -DskipTests` and `docker-compose up --build`, app seems running OK in a contain

[2022-09-21 08:44] Ladicek commented on #28100
Programmatic lookup using `CDI.current()` (or `Arc.container()`) is the way to go here, in my opinion.

There are APIs in CDI for more fine-grained handling of these situations (`InjectionTarget`, `Unmanaged` etc.), but those are not (and will not be) supported in ArC.

[2022-09-21 08:52] aloubyansky commented on #28098
Are you sure it's packaged as a `mutable-jar`?

[2022-09-21 08:56] y-luis-rojo commented on #28098
Yes, my `bootstrap/application.properties` file:
[code]

[2022-09-21 09:07] mkouba commented on #28100
That said, you can't inject an unmanaged instance (e.g. `new Foo()`) unless you perform the injection manually, i.e. iterate over all injection points, do programmatic lookup and set the values.

[2022-09-21 09:07] #28100 closed

[2022-09-21 09:09] ozangunalp commented on #26809
This needs to be done in Smallrye Reactive Messaging.
Here is my proposal : https://github.com/smallrye/smallrye-reactive-messaging/pull/1909

[2022-09-21 09:19] geoand commented on #28114
#28119 is also related

[2022-09-21 09:42] knutwannheden commented on #28066
Using the REST API could also be more convenient. I just found it a bit odd when I stumbled across this and thought I should report it. If you think it doesn't really make sense, then feel free to close the issue again. Possibly a note in the documentation would make sense.

[2022-09-21 09:44] geoand commented on #28066
I'll leave it open in case others want to chine in

[2022-09-21 10:14] MikeEdgar commented on #28006
Does it warn if the argument is named `msg` instead of `givesAWarn` ?

[2022-09-21 10:17] sberyozkin commented on #27900
@gsmet I've seen one of these tests failing the 3rd time since last Thursday in #28109, while the failure frequency is low, a race condition is there and I have to admit even with the added debug logging I've no idea what is causing the failure.
I'm prepared to disable these refresh token tests, just concerned I won't be able to reproduce locally, I haven't so far.

I'd like to add a few more debu

[2022-09-21 10:27] lthasle commented on #28006
@MikeEdgar
No warning is given when using the code below.

`
@Parameter(in = ParameterIn.HEADER, required = true, name = MSG, example = MSG, schema = @Schema(type = SchemaType.STRING), description = "message id")
	@GET
	@Path(EP1)
	public Response ep1(@RestHeader String msg) {
		return Response.ok().build();
	}
`

[2022-09-21 10:45] gsmet commented on #27900
@sberyozkin no objections on my side.

[2022-09-21 10:46] bagnos opened #28120 "MyBatis support"
### Description

Hi,

I have seen that there is no official extension to support mybatis persistence framework.
Are you planning to write one?

Best Regards,

Simone

### Implementation ideas

_No response_

[2022-09-21 11:45] diogocarleto commented on #15124
Guys, after a first review of @evanchooly, I've just leverage the moment, and implemented optimistic lock control to reactive mongodb, so now both, reactive and non reactive are supported in this PR.

I'm waiting for the next round of reviews.

Best.

[2022-09-21 11:59] Sanne commented on #25943
@dmlloyd could you comment in regards to `Target_io_smallrye_config_SmallRyeConfigProviderResolver#getConfig` ? Assuming tests pass w/o the `@AlwaysInline("trivial")` can we remove it safely?

[2022-09-21 12:00] dmlloyd commented on #25943
Yes, the semantics would not change so it is okay to remove.

[2022-09-21 12:02] Sanne commented on #25943
@galderz is it worth to work on "-H: options are not public API" in this cycle? As I commented above I see no big value in it - especially no need to rush it. I certainly don't mind if you all want to keep trying that but I'm wondering if it could be broken out into a separate issue, so to defer it.  Especially as the other steps seem more urgent to have.

[2022-09-21 12:07] jerboaa commented on #25943
It's not very realistic that this can be completed in it's entirety. For example `-H:BuildOutputJSONFile` is a new option in 22.3. Also some of the diagnostic ones are unlikely to get public equivalents. So +1 on this being best effort.

[2022-09-21 12:24] zakkak commented on #25943
+1 IMHO we should just try and _minimize_ the use of `-H:` options and more importantly _avoid introducing new Quarkus_ options mapping 1to1 to `-H:` options. We should instead mention such options in the documentation where needed and pass them through `quarkus.native.additional-build-args`.

[2022-09-21 12:36] #28114 closed

[2022-09-21 12:50] gsmet commented on #27809
@jamezp what I fail to understand is how we can consider than not logging any errors on the server side is an improvement? I mean, from this version of RESTEasy, users have absolutely no idea what's failing anymore. How do you expect people to be able to fix issues?
I don't think requiring people to enable debug logging is reasonable. So I would somehow expect us to log an error by default (prefer

[2022-09-21 12:54] geoand commented on #27809
So the issue is that RESTEasy now does not automatically log an exception? What kinds of exceptions are we talking about?

[2022-09-21 13:00] gsmet commented on #27809
Well, from what I can see, any exception causing a 500 is not logged anymore (and I suppose any exception really). At least I don't get any stacktrace in the logs when we have an error in a test.

[2022-09-21 13:03] geoand commented on #27809
Okay, that does seem problematic.

In RR we always log exceptions that were **not** handled by any `ExceptionMapper`.

[2022-09-21 13:04] gsmet commented on #27809
@geoand yeah so the problem is that now the spec mandates a default `ExceptionMapper` so... :)

[2022-09-21 13:04] geoand commented on #27809
In that case, I would log the error in that exception mapper

[2022-09-21 13:06] gsmet commented on #27807
I haven't followed the original discussion closely either but my understanding is that this private information exposure was actually the result of a usage that was not considered bad practice but normal practice. At least, it wasn't immediately obvious for the users that they were doing crazy things.

[2022-09-21 13:09] #27950 closed

[2022-09-21 13:16] gsmet commented on #27809
@Sgitario do you remember where is the Quarkus exception mapper implementation?

[2022-09-21 13:54] pehunka commented on #26615
I may have a related issue. It seems like `quarkus.smallrye-openapi.oidc-open-id-connect-url` is fixed during the build time, but `quarkus.oidc.auth-server-url` is not. This is causing some headache when I'm changing oidc url trough environment variable. It will be great to have them both consistent and configurable during runtime. I could have same property expression for both values and change i

[2022-09-21 13:59] gsmet opened #28129 "Fix and reenable SimpleContextPropagationTest.testArcMEContextPropagationDisabled"
It has been disabled here because it was flaky: https://github.com/quarkusio/quarkus/pull/28127 .

/cc @mkouba @FroMage

[2022-09-21 14:00] #28120 closed

[2022-09-21 14:04] aloubyansky commented on #28098
@y-luis-rojo do you launch `quarkus:remote-dev` from the the application module or from the root of the project? If you are launching from the root, have all the project modules been packaged and installed in your local repo?
I see some issues but I would like to know what you were doing.

[2022-09-21 14:23] stephan-strate opened #28131 "Native test fails if `quarkus.package.output-directory` is configured differently"
### Describe the bug

If you leave the property `native.image.path` empty, the path is guessed by the system. Though it is always guessed in the default output location. If the `quarkus.package.output-directory` is changed (for example in the context of a ci pipeline), the native image can not be found.

[code]

### Expected behavior

If `native.image.path` is not defined and `quarkus.package.outp

[2022-09-21 14:38] y-luis-rojo commented on #28098
I launch `quarkus:remote-dev` from the root of the project. The only I do is `./mvnw clean package -DskipTests`, should I try running `quarkus:remote-dev` from the application module? Should I run `./mvnw clean install -DskipTests` maybe?

[2022-09-21 14:40] geoand commented on #24581
Thanks for your valuable feedback. I'll think this through some more and see what we can do

[2022-09-21 14:40] geoand commented on #27809
I think we should override it and get back the previous behavior

[2022-09-21 14:45] gsmet opened #28133 "Implement per persistence unit configuration for Hibernate Envers"
Hibernate Envers actually has the existing infrastructure to do so as we implement the `active` boolean per persistence unit but all the rest of the config is still global.
We should move everything to the persistence unit specific config, adjust `HibernateEnversRecorder#contributeBootProperties()` to target per PU config for all properties and it would probably work. If we're lucky.

We also need

[2022-09-21 14:48] gsmet commented on #27809
Well I'm not sure it would be so easy to override it and get back to the previous behavior with a JAX-RS exception mapper. Thus why I was suggesting we shouldn't register the default exception mapper in the first place (and thus get back to the previous behavior).
The `QuarkusErrorHandler` is doing quite some magic and I'm not sure we want to duplicate it.

[2022-09-21 14:50] jamezp commented on #27809
I'm definitely convinced on the logging errors now :) The only reason I went with debug logging to begin with a concern over being too verbose. However, I realize now that was not a good idea.

I can look at a way to not register a default exception mapper. I feel like that idea came from the MP REST Client, but IMO it makes more sense on a client than in the container.

[2022-09-21 14:51] yrodiere commented on #24581
See also https://github.com/quarkusio/quarkus/issues/21866#issuecomment-1046997899

[2022-09-21 14:55] jamezp commented on #27809
I've filed https://issues.redhat.com/browse/RESTEASY-3225 and will work on that this morning. Will a simple property work fine? Something like `dev.resteasy.exception.manager=false`.

[2022-09-21 15:11] pwlan commented on #28096
Ok, we are 1 step closer. It all comes down to the KotlinSerializationMessageBodyWriter.kt.

On the Reproducer App, `KotlinSerializationMessageBodyWriter#writeRsponse` is callled and that works.
On our App, `KotlinSerializationMessageBodyWriter#writeTo` is called and that failes.
The line is 29, `json.encodeToStream(serializer(o.javaClass) , o, entityStream)`. If `o` is, for example, HashArray it

[2022-09-21 15:20] gsmet commented on #27809
Yes, if we have a system property, we can set it in Quarkus using `SystemPropertyBuildItem`. @geoand @Sgitario works for you?

[2022-09-21 15:21] geoand commented on #27809
Fine with me

[2022-09-21 15:27] y-luis-rojo commented on #28098
OK but then for live reload to work, it is required to launch from project's root, does that confirms the error comes from a bug?

[2022-09-21 15:28] geoand commented on #28096
Would you be able to try out https://github.com/quarkusio/quarkus/pull/28134 (see [this](https://github.com/quarkusio/quarkus/pull/28134) for how to build the project)

[2022-09-21 15:29] manovotn commented on #28129
@gsmet got link to some PRs that failed this?
I have been trying to reproduce this with a loop execution locally but so far not a single failure.

BTW this is the same test that we tried to fix in https://github.com/quarkusio/quarkus/pull/27284
Although back then I think I saw at least some failures locally...

[2022-09-21 15:31] gsmet commented on #28129
Yes, here for instance: https://github.com/quarkusio/quarkus/pull/28121

[2022-09-21 16:13] geoand commented on #28096
Seems like some of the tests are failing, so there is more I need to look into

[2022-09-21 16:20] syr commented on #28094
I normally link a reproducer but in this case I don't know how to provide one as ECS is not included in AWS free tier.

Required to reproduce the exact problem: ECS service running one task where
- task definition has parameter  `readonlyRootFilesystem=true`
- container image contains a basic/empty quarkus jvm application either with env var `QUARKUS_VERTX_CACHING=false` or  with application prope

[2022-09-21 16:37] aloubyansky commented on #28098
The dev mode should work launching from the app module. Although I found the remote-dev doesn't for non-app modules when launched from the app module. I'll have a look into that.
And the exception you reported is also a bug, no question about it. I just want to clarify what causes it to fix it properly.

[2022-09-21 17:20] syr commented on #28094
Demonstrator:  https://github.com/syr/code-with-quarkus/blob/main/src/main/resources/application.properties

Reproduce by
`docker build -f src/main/docker/Dockerfile.jvm -t quarkus/code-with-quarkus-jvm .`

`docker run -i --rm -p 8080:8080 --read-only quarkus/code-with-quarkus-jvm`
OR
`docker run -i --rm -p 8080:8080 --read-only -e QUARKUS_VERTX_CACHING=false quarkus/code-with-quarkus-jvm`

stackt

[2022-09-21 17:31] MikeEdgar commented on #28006
Ok, thanks. So the constant works as long as it matches the argument name, which is expected.

[2022-09-21 19:37] AdlerFleurant commented on #28090
Actually, there are multiple issues regarding settings.xml here.

The first one is with this line https://github.com/quarkusio/quarkus/blob/782c6bae234b614257c9902a40af493778b0a381/devtools/cli/src/test/java/io/quarkus/cli/RegistryClientBuilderTestBase.java#L62 `mavenContext.getUserSettings()` will return null and the call to `toPath()` will cause a `NullPointerException` as referred to line 148 o

[2022-09-21 21:56] rdgc commented on #15124
Hi guys,
I really appreciate this feature in the MongoDB Panache. I'm using Quarkus+Panache for more than 2y projects and this feature will help me a lot. I'm waiting for this release soon!!

[2022-09-22 00:40] jamezp commented on #27809
This https://github.com/resteasy/resteasy/pull/3278 includes the ability to disable the default exception mapper. It also does allow the Quarkus test to pass with no changes to Quarkus. However, if you want it to be processed through the `QuarkusErrorHandler` you'd want to disable the default exception mapper.

[2022-09-22 05:48] #27024 closed

[2022-09-22 06:04] #28071 closed

[2022-09-22 06:23] #25814 closed

[2022-09-22 06:25] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3103053792

[2022-09-22 06:28] #28018 closed

[2022-09-22 06:32] geoand commented on #28094
To overcome your problem you essentially also need to set `QUARKUS_VERTX_CLASSPATH_RESOLVING=false`.

https://github.com/quarkusio/quarkus/pull/28142 will take care of the warning messages you see in the output.

[2022-09-22 06:38] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3103055555

[2022-09-22 06:44] TheBlindM opened #28143 "@MultipartForm not support record"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

windows 10

### Output of `java -version`

java17

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.11.2.Final

### Build tool (ie. output of `mvnw --version` or `gradlew --vers

[2022-09-22 06:45] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3103056920

[2022-09-22 07:26] therealjsie commented on #28078
@Sgitario: Thanks for your response. I forgot to add the exception that I get when I run the following command. This is what led me to believe that there should be a `kind.yml`.

`gradle build -Dquarkus.container-image.build=true -Dquarkus.kubernetes.deploy=true`

[code]

[2022-09-22 07:35] galderz commented on #25943
I'll split the `-H:` part into a different issue.

[2022-09-22 08:11] gsmet opened #28144 "Narayana JTA - Enabling Recovery service by default"
During the 2.13 development cycle, there was an attempt to enable the Narayana JTA recovery service by default. Not having it enabled was apparently an oversight and is considered a bug by the Narayana team.

In the end, we disabled it by default in 2.13 because we didn't have time to properly sort things out.

Enabling the recovery service by default comes with a few questions/problems:

- Are we

[2022-09-22 08:14] jmartisk opened #28145 "Intermittent Unauthorized with GraphQL"
### Describe the bug

It seems that under load, a secured GraphQL endpoint sometimes fails to properly authorize, and throws an `unauthorized` error.
This sometimes surfaces as intermittent failures of `io.quarkus.smallrye.graphql.deployment.ConcurrentAuthTest`.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Run `io.quarkus.smallrye.graphql.deploy

[2022-09-22 08:18] geoand commented on #27979
This happens because the name binding annotation is declared on the interface. I am not 100% sure we should support this

[2022-09-22 08:21] lfarkas commented on #9490
io.quarkus:quarkus-bootstrap-core:2.13.0.Final still not pushed...

[2022-09-22 08:26] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3103055555

[2022-09-22 08:27] kdubb commented on #27979
It's _not_ on the interface, it's on the implementation. The JAX-RS annotations are on the interface.

This use case is pretty useful and I believe supported by the JAX-RS specification. We generate our JAX-RS interfaces and then need to apply certain annotation to the implementation.

[2022-09-22 08:28] kdubb commented on #27979
Not to mention, it does work... just only for `ResteasyReactiveContainerRequestFilter`.

[2022-09-22 08:30] geoand commented on #27979
Then I must have lost track of the changes I need to see it working. Let me check again

[2022-09-22 08:38] geoand commented on #27979
This does **not** appear to be true, at least not with https://github.com/quarkusio/quarkus/files/9581532/code-with-quarkus.zip

[2022-09-22 08:50] gsmet commented on #9490
It's there: https://repo1.maven.org/maven2/io/quarkus/quarkus-bootstrap-core/2.13.0.Final/ .

Use `mvn -U` to make sure it refreshes the download state.

[2022-09-22 09:09] geoand commented on #27979
The fix does not seem to break any of the TCK tests, so let's go ahead and add it.

[2022-09-22 09:11] geoand commented on #28129
Yes, it makes total sense. The combination of using reactive types with RESTEasy Classic is just too problematic (and is one of the reasons why we did RR in the first place).

[2022-09-22 09:15] gsmet commented on #28129
BTW, I'm wondering if we could get rid of `io.reactivex.Single` now? @cescoffier WDYT?

[2022-09-22 09:16] pwlan commented on #28096
Ok, found the culprit.

When adding "io.quarkus:quarkus-smallrye-opentracing" as a dependency `KotlinSerializationMessageBodyWriter#writeTo` is called, whichs fails.

I can create a reproducer later....

[2022-09-22 09:21] lfarkas commented on #9490
https://mvnrepository.com/artifact/io.quarkus/quarkus-bootstrap-core

[2022-09-22 09:25] gsmet commented on #9490
Their index is just not real time. So you have a delay. It is on Maven Central.

[2022-09-22 09:29] cescoffier commented on #28129
@gsmet yes, probably time to remove the RX java 2 support

[2022-09-22 09:34] geoand commented on #28129
Definitely +1 for that

[2022-09-22 09:39] galderz opened #28148 "Reduce reliance on `-H:` options"
Reduce reliance on `-H:` options when invoking `native-image`.

`-H:` options are not public API. During a native image meeting @christianwimmer said some of those should become API (e.g. `--blah` option) and others might no longer be used.

This work has been split out from https://github.com/quarkusio/quarkus/issues/25943.

[2022-09-22 09:42] galderz commented on #25943
I've split `-H:` work into https://github.com/quarkusio/quarkus/issues/28148. We might need individual issues in the future to address individual `-H:` options, rather than a single issue. Feel free to close the new issue if needed.

[2022-09-22 10:49] #28094 closed

[2022-09-22 10:53] mmusgrov commented on #28144
Recovery is only required when more than one resource participates in a transaction.
So, for example, if you just want talk to a single database then no transaction log would be created.
But that still leaves the problem of initialisation of the log structure:

A possible option is lazy initialisation of the logs when a second participant joins a transaction.
Clearly this will be a big hit for the

[2022-09-22 10:56] mmusgrov commented on #28144
So if an application knows it it won't use 2PC then it would use the default lazy initialisation since that bit of the code would never get executed.

[2022-09-22 11:12] mmusgrov commented on #28144
Using 2PC transactions always introduces a performance hit. The key is to ensure that only those apps that want 2PC suffer the penalty.

[2022-09-22 11:14] #27979 closed

[2022-09-22 11:40] mmusgrov commented on #28144
On further thought, I think lazy initialisation is dangerous because of the possibility that it could fail. This would be bad because the app may end up doing the lazy initialisation after it's already up and providing service and having it fail after that point would be a terrible user experience.

So I'm thinking that your existing solution is correct, ie require that any extension that uses JTA

[2022-09-22 12:16] Sanne commented on #28144
WildFly and other systems do generate such log structures by default and yes it's never been awesome but also not a deal breaker. AlthoughI know we reconfigured Narayana significantly in the Hibernate tests to avoid it as it bothered me, so if we can do better I'd love we could explore that - but perhaps it's not a blocker.

One advantage we have in Quarkus is the lack of dynamic aspects of the "d

[2022-09-22 12:19] rodrigoagbatista commented on #15124
finally, I worked on a project where this would be very useful

[2022-09-22 12:26] Mert18 opened #28151 "hibernate validator manual validation, usage with kogito bpmn"
### Describe the bug

Hi, I want to do manual validation and return my custom exception on my POJO classes but when importing models into bpmn files, my function does not even work and hibernate validator returns its json error (it validates before my function works).

This is my POJO class with validations added from *javax.validation.constraints*
[code]

imported my UserRegister model here.
![Sc

[2022-09-22 12:29] gsmet commented on #28151
Hard to know what's going on without a simple reproducer.

[2022-09-22 12:32] evacchi commented on #28151
/cc @cristianonicolai @tiagodolphine @ricardozanini

[2022-09-22 12:41] ajsaraujo opened #28155 "Add a "running tests in continuous integration" section to the "Testing your application guide""
### Description

It would be nice if there was a "Running tests in continuous integration" section in the [Testing your application guide](https://quarkus.io/guides/getting-started-testing).

This section read by people who are setting up the tests in their Quarkus app. They are probably interested in setting up the tests in continuous integration as well.

This is often the case on testing guides

[2022-09-22 12:43] jdussouillez commented on #4404
Still happening with Quarkus v2.12.3. We are migrating our Quarkus app in reactive and we have a NullPointerException when calling a Jersey REST client because the headers are null ([NPE is thrown in this call because `responseContext.getHeaders()` returns null](https://github.com/zhengchaobin/jersey/blob/master/core-common/src/main/java/org/glassfish/jersey/logging/ClientLoggingFilter.java#L128))

[2022-09-22 12:47] geoand commented on #4404
Is this an issue with `quarkus-rest-client-reactive` or with `quarkus-rest-client`?

[2022-09-22 12:47] mkouba commented on #6440
I've been thinking about this feature and the implementation is fairly straightforward - here's a POC branch: https://github.com/mkouba/quarkus/tree/qute-fragments and the usage looks like:

Template `foo.html`:
[code]

And in the code:
[code]

However, I'm not entirely convinced it's a reasonable thing to do, i.e. it's easy to shoot yourself in the foot.

@sumitsarkar @nimo23 WDYT?

[2022-09-22 13:03] jdussouillez commented on #4404
@geoand Yes it is, we are migrating from `quarkus-rest-client` to `quarkus-rest-client-reactive`. So basically we replaced the non-reactive dependency with the reactive one in our pom.xml and then we are checking the impacts.

[2022-09-22 13:05] geoand commented on #4404
Do you have a sample application we can check to see the problem in action?

[2022-09-22 13:18] jdussouillez commented on #4404
@geoand I will work on this and try to provide you the smallest project to reproduce next week.

[2022-09-22 13:45] pavhittal opened #28158 "Fatal:error parsing buffer at index 16/ 0*10"
I am using vertex-db2-client v4.3.3 and spring boot v2.6.6 to connect to DB2 and it is not working. I see following error
[io.ver.db2.imp.cod.DB2Decoder] (vert.x-eventloop-thread-14) FATAL: Error parsing buffer at index 16/ 0x10
+-------------------------------------------------+
| 0 1 2 3 4 5 6 7 8 9 a b c d e f |
+--------+-------------------------------------------------+----------------+
|0000

[2022-09-22 15:36] felipemendes-maplink commented on #27155
I've been facing the same problem about this topic in my project. I have the 0.8.7 jacoco version set in my pom, but the issue still happening.

[2022-09-22 18:04] #18345 closed

[2022-09-22 19:04] jamezp commented on #27807
Since there is a way to disable the feature, I think for now we should revert https://github.com/resteasy/resteasy/pull/3034. The idea made sense when I looked at it, but I can see clearer now with the Quarkus test how this needs to be re-thought.

[2022-09-22 19:34] jamezp commented on #27807
The revert PR https://github.com/resteasy/resteasy/pull/3279

[2022-09-23 04:16] sumitsarkar commented on #6440
@mkouba For Thymeleaf this is one of the ways I found that can work with fragments in Spring:

Template `fragment.html`
[code]

Controller:
[code]

Regarding the POC you shared, it looks good to me. Thank you so much for whipping up a reference so quickly!
Example usage of such templates could be how HTMX or Hotwire work. If a certain header is sent (which indicates that javascript is enabled and

[2022-09-23 05:44] geoand commented on #18345
@mkouba I see you updated the example you mentioned above. But I assume your comment about us needing to rewrite the rest of the instances still applies?

[2022-09-23 06:08] mkouba commented on #6440
Does it mean that you can render multiple fragments at once? Sounds weird... but ok.

One problem is that it does play well with [type-safe templates](https://quarkus.io/guides/qute-reference#typesafe_templates). Also it's not exactly clear what data must be used for a template fragment.

Imagine we have a type-safe template like this:
[code]
and the corresponding template:
[code]
Now if you want

[2022-09-23 06:14] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3110568398

[2022-09-23 06:19] mkouba commented on #18345
Well, any occurence of `Instance#get()` , `ArcContainer#instance()` and `BeanContainer#instance()` will trigger loading of the removed beans iff no bean is found. So basically we would need any extension that attempts to obtain a single bean instance that is potentially not available to use something like this: https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-res

[2022-09-23 06:20] geoand commented on #18345
Great, thanks

[2022-09-23 06:33] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3110569486

[2022-09-23 06:37] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3110570690

[2022-09-23 07:12] gwenneg commented on #28032
[Discussion](https://groups.google.com/g/quarkus-dev/c/rm5h-_mYVV8/m/7Bx1h1DIBwAJ) initiated on the mailing list.

[2022-09-23 07:32] tsegismont commented on #28158
@pavhittal  how is this related to Quarkus? It seems you use the Db2 client in Spring Boot. In this case, please report this to the Reactive DB2 Client repo.

[2022-09-23 07:51] nicolaos commented on #27348
I could not have explained it better than @NicoNes .

We are currently experiencing the same issue with our periodic upgrades of dependencies.
We are now forced to stop updating the quarkus dependency on theese projects, leaving us vulnerable in case some new vulnerability arises.

The evolution of quarkus-oidc and the check on the state parameter on the first engagement of the webapp caught us of

[2022-09-23 08:26] krisgerhard opened #28167 "Kotlin data class serialization fails with GraalVM >= 22.1"
### Describe the bug

I'm trying to serialize a Kotlin data class with kotlinx.serialization annotations.
Everything is working as expected with GraalVM 22.0 but starts throwing errors with 22.1 and 22.2.

Data class:
[code]

### Expected behavior

No error

### Actual behavior

Error during serialization.
Stacktrace:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

[2022-09-23 08:28] aloubyansky commented on #28098
@y-luis-rojo would you be able to test a custom branch of quarkus?

[2022-09-23 08:28] geoand commented on #28167
Adding @zakkak and @jerboaa who might know what's going on the GraalVM side

[2022-09-23 08:29] aloubyansky commented on #28098
It's not easy to create a proper test we could add to our testsuite for what you are seeing. I actually couldn't reproduce it but I saw other errors that could have a common cause with the one you reported.

[2022-09-23 08:30] aloubyansky commented on #28098
Before I open PRs it'd be good to know whether it helps in your situation.

[2022-09-23 08:35] #26296 closed

[2022-09-23 08:53] brunobat commented on #28017
@knutwannheden We are going to implement a fix for the Otel context that starts on a Scheduler thread.
However, I would like to point that storing the parent context of an already served request for later usage as parent of spans created by async tasks, should not be done. I recommend that when you start the new spans on the scheduler that you set a LINK to the original rest request. See: https://

[2022-09-23 09:02] Sanne commented on #18345
Many thanks for fixing this :)

Regarding the loading getting triggered when our extensions aren't careful about it - would there be a way to verify noone is doing that?

[2022-09-23 09:16] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3110569486

[2022-09-23 09:35] zakkak commented on #28167
Unfortunately I can't help much. My understanding is that kotlin tries to reflectively access the caller of the method and fails because reflection is not properly configured.

Looking at the error I suspect that you need to register `com.wrcfan.api.repository.model.Participant.Companion` for reflection as well.

You might also want to [run your application with the `native-image-agent`](https://w

[2022-09-23 09:36] Sanne commented on #27845
Even setting a "last modified" timestamp isn't something done typically in an interceptor; I agree it's not the right time to make changes to the model. We have standard JPA callbacks for that, e.g. @PreUpdate - or EntityListeners.

[2022-09-23 10:03] knutwannheden commented on #28017
@brunobat That is great news. Under normal circumstances the delayed operation should be picked up in a very timely manner, but we have indeed also considered creating linked spans. We will look into this again.

Further, I believe Kafka would by default do the same for incoming messages (i.e. create child spans), even though that could also happen a lot later. But that is of course another topic.

[2022-09-23 10:08] knutwannheden commented on #28017
In fact I think we have an on-success hook (forgot what it is called right now) with which we immediately attempt to execute the registered operation. While still using OpenTracing we created a FOLLOWS_FROM span (part of the same trace). This concept doesn't exist in OpenTelemetry, but we should again look into linked spans.

[2022-09-23 10:21] holly-cummins commented on #27729
Could you do the repository-making, @gastaldi? :) Unless there are any objections?

[2022-09-23 10:35] mkouba commented on #18345
No way I'm aware of. Also keep in mind that it's perfectly legal to call those methods above at any time. So from my point of view it's more like a best effort.

[2022-09-23 10:47] Sanne commented on #18345
Right, I understand it's "legal" for end users to trigger this; I'm indeed thinking about a best effort tool that we could use to spot obvious misunderstandings leveraging our extensive testsuite.

For example we could have a system property that makes this legal operation throw an exception and set this in our testsuite to spot extensions needing some polishing; also works to spot regressions in

[2022-09-23 11:25] gastaldi commented on #27729
@holly-cummins only if you don't mind waiting me return from my PTO on October😛

Could you create a PR in the quarkiverse-devops repo according to https://github.com/quarkiverse/quarkiverse-devops#workflow-for-new-repositories?

Here is an example: https://github.com/quarkiverse/quarkiverse-devops/pull/91

[2022-09-23 11:29] mkouba commented on #18345
Yes, I think that it's too much. Keep in mind that we have `quarkus.arc.detect-unused-false-positives=false` and then this lazy loading. That's IMO enough to save a dozen kilobytes of heap.

[2022-09-23 11:44] michalvavrik opened #28171 "KnativeDeployer environment check is breaking the build"
### Describe the bug

We have apps that use Knative client and now with `kubernetes-client` dependency has been migrated to 6.1.1, the builds are broken. It might be down to changes descried in migration guide https://github.com/fabric8io/kubernetes-client/blob/master/doc/MIGRATION-v6.md#adapt-changes

### Expected behavior

Builds just fine.

### Actual behavior

Exception is thrown:
[code]

###

[2022-09-23 11:45] y-luis-rojo commented on #28098
I can try. Could you please share documentation on how to do it?

[2022-09-23 11:59] jerboaa commented on #23964
Has anybody re-tested this? AFAIK, this has been fixed in the latest 21 `quarkus/mandrel-21-rhel8:21.3` images.

[2022-09-23 12:02] aloubyansky commented on #28098
Excellent, here is the branch https://github.com/aloubyansky/quarkus/tree/remote-dev-delete-files-after-app-closed

* `git clone git@github.com:aloubyansky/quarkus.git quarkus-remote-dev-fix`
* `cd quarkus-remote-dev-fix`
* `git checkout remote-dev-delete-files-after-app-closed`
* `mvn -Dquickly` (this will install the `999-SNAPSHOT` version of Quarkus into your local Maven repo)
* In your applica

[2022-09-23 12:34] krisgerhard commented on #28167
Indeed error disappears if I add reflection config for the Companion object.
But doing it for every model is not really a solution.

[2022-09-23 12:37] geoand commented on #28167
What does the entire `Participant` code look like?

[2022-09-23 12:41] krisgerhard commented on #28167
[code]

[2022-09-23 12:46] geoand commented on #28167
I guess one solution here would be to also automatically register the companion object for data classes.

[2022-09-23 13:31] krisgerhard commented on #28167
Same result :(

[2022-09-23 13:33] geoand commented on #28167
Okay, thanks

[2022-09-23 13:48] krisgerhard commented on #28167
Maybe it is somehow related to https://github.com/Kotlin/kotlinx.serialization/issues/1348 but it really goes beyond my understanding of the compilation process :)

[2022-09-23 13:49] geoand commented on #28167
In this case you are using Jackson, not Kotlin Serialization

[2022-09-23 13:56] krisgerhard commented on #28167
True, but I'm using the compiler plugin which alters the compiled model object

[2022-09-23 14:07] geoand commented on #18345
Seems like we have a lot of `Arc.container().instance(...).get()`...

[2022-09-23 14:11] agoncal commented on #25682
I'm giving the Super Heroes workshop to a bunch of developers. The ones Rancher Desktop on Mac M1 (eg. @ggui) can't make the workshop work because of DevServices (TestContainers) pulling the Postgres image. This is the stack trace that they have:

[code]

[2022-09-23 14:25] tsegismont commented on #28158
Which issue?

[2022-09-23 14:51] mkouba commented on #18345
But that's ok if we expect the bean to be available. It's suboptimal if we know that a bean might not be available.

[2022-09-23 14:51] geoand commented on #18345
Ah, thanks for the clarification, it makes a big difference.

[2022-09-23 15:27] rmanibus opened #28176 "quarkus.profile is fixed at build time while it is documented as runtime"
### Describe the bug

quarkus profile cannot be changed at runtime. It always stick to the value configured at build time.
I don't know if this is expected or not,
but in the documentation, it is documented as a runtime value (without the lock).

Also I think it should be a good thing to be able to set the profile at runtime (while I understand this would only affect runtime config values, and the

[2022-09-23 15:31] radcortez commented on #25412
Closing due to inactivity. Please reopen with additional information if the issue remains.

[2022-09-23 15:31] #25412 closed

[2022-09-23 15:35] fedinskiy opened #28177 "Qute adds CRs to templates, when running under Windows"
### Describe the bug

I have a simple Quete+RESTEasy endpoint, which reads the template file, replaces a value and returns it as a HTML response. Template file is UTF-8-encoded and has line feed(LF, '\n') as a newline symbol.
Code works as expected, when running under Linux, but replaces LF to CRLF('\r\n') in the response body, when running on a windows server.

### Expected behavior

Code should

[2022-09-23 15:40] brunobat commented on #24938
Took a look at this...
The only way I see to permanently fix this templating issue is to resolve the template and put it in the context, before the vertx authentication is executed... around here: io.quarkus.vertx.http.runtime.security.HttpAuthorizer:126
Vertx will delegate to resteasy classic only after that. No filters will help here.
This is non trivial, though.

[2022-09-23 16:00] sberyozkin opened #28178 "Swagger UI stopped working in Dev Services for Keycloak"
### Describe the bug

It is possible to use Swagger UI to test the endpoint with the token acquired using the code flow via a Dev UI for Keycloak,  if `quarkus-smallrye-openapi` dependency is present then a user select a `Swagger UI` link and start testing the endpoints using this token, bypassing the `Authorize` options offered by Swagger UI:

https://quarkus.io/guides/security-openid-connect-dev

[2022-09-23 16:01] y-luis-rojo commented on #28098
I must be doing something wrong, I am stuck with the following error (means I am not using the most recent version of `DevModeMediator` but the most recent for `RuntimeUpdatesProcessor`?):
[code]

[2022-09-23 16:31] gwenneg commented on #27935
As discussed [here](https://github.com/quarkusio/quarkus/pull/27937#discussion_r973045797), this will be addressed in `camel-quarkus`.

[2022-09-23 16:31] #27935 closed

[2022-09-23 16:52] gwenneg commented on #25125
https://github.com/infinispan/infinispan/commit/88cfbf10d4a881b89648932cc1b4bd90029a3f9a will be available with Infinispan 14.0.0 which hasn't been released yet. The `CR2` has been published already so I guess the final release of 14.0.0 will happen soon.

[2022-09-23 17:42] pavhittal commented on #28158
Please refer this
https://github.com/quarkusio/quarkus/issues/11035#issuecomment-699018724

[2022-09-23 20:08] aloubyansky commented on #28098
Have you done `docker-compose down`?

[2022-09-24 07:03] mschorsch commented on #28176
There are two profiles, one used at build time and one used at run time. The profile used at build time is also the profile that is used as the default at runtime if no profile is specified explicitly.

[2022-09-24 11:12] pmentz commented on #14069
I know this topic is old and closed, but web search did get me here and probably it helps someone, that I was able to solve this, by returning a Response with the TemplateInstance as entity (tested with Resteasy Reactive, but it should work with RestEasy Classic as well):

[code]

[2022-09-24 12:14] rmanibus commented on #28176
@mschorsch that is what I thought too, but when I start my app with -Dquarkus.profile=uat, the message in the log is still "quarkus started with profile prod", and I don't think it is a display issue because my custom config in the uat profile is not applied.

[2022-09-24 14:48] sumitsarkar commented on #6440
@mkouba Thank you for the detailed explanation. I am very new to Quarkus and Qute. I'll read the docs you shared and think over how fragments should be supported without making it error-prone for the user.

[2022-09-24 21:36] siudeks commented on #27854
@mkouba  is working perfectly thx

[2022-09-24 21:36] #27854 closed

[2022-09-25 06:54] ikenox opened #28184 "quarkus-smallrye-graphql: @ErrorDataFetch event is not emitted in batch query"
### Describe the bug

When executing a non-batch query, the following code can receive the error that is thrown during data-fetching process.
[code]

But, when executing a [batch query](https://quarkus.io/guides/smallrye-graphql#batching) and an error is thrown in the batch process, the above observer can't receive the error.

I guess that we should call `eventEmitter.fireOnDataFetchError(...)` li

[2022-09-25 08:03] cameronprater commented on #27216
@gastaldi The native substitutions in the extension mainly pertain to removing static analysis to `SSLContext` when `GatewayDiscordClient#login` is called (this is the WebSocket client which is a bot's connection to Discord, so not useful without a bot). There are a few other substitutions for removing Reactor Netty's usage of Micrometer.

I think `quarkus-discord4j` might be a better name than th

[2022-09-25 08:33] GGui commented on #25682
I was able to run the container by adding the following environment variables:
export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
export DOCKER_HOST="unix://${HOME}/.rd/docker.sock"

[2022-09-25 16:16] cescoffier commented on #27265
closed by https://github.com/quarkusio/quarkus/pull/28117

[2022-09-25 16:16] #27265 closed

[2022-09-25 16:18] cescoffier commented on #26809
Fixed by https://github.com/quarkusio/quarkus/pull/28117.

[2022-09-25 16:18] #26809 closed

[2022-09-25 17:08] sberyozkin opened #28187 "5005 port is not freed in devmode during the restart"
### Describe the bug

Sometimes, in devmode, after modifying `pom.xml` by adding a new dependency, an error message is displayed during the restart that 5005 is busy and no debug mode will be activated

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Start `quarkus-quickstarts/hibernate-orm-panache-quickstart` in devmode, then add `quarkus-oidc` to

[2022-09-25 17:17] sberyozkin opened #28188 "Introduce DbTestClient which can be used to reset DB before the next test"
### Description

I've started securing `quarkus-quickstarts/hibernate-orm-panache-quickstart` in devmode, with `quarkus-oidc`, and by adding `@RolesAllowed` to various endpoint methods. The tests delete one of the entities, so running them first as `admin`, and then as `user` does not work, because by the time the `user` is checked, one of the entities has gone.
In DevUI, there is a nice option to

[2022-09-25 17:20] murphye commented on #25163
HibernateSpatial is only compatible with JDBC out of the box. Hibernate Reactive uses Vert.x PostgreSQL Client. Need to add a GeometryConverter to make it work.

Working example: https://github.com/murphye/quarkus-reactive-postgis-reproducer

I also submitted a pull request to the reproducer project.

[2022-09-25 17:22] murphye commented on #25163
This is not a bug in Quarkus. If anything it should be a feature request for Hibernate Spatial to support Hibernate Reactive.

[2022-09-25 17:44] scrocquesel opened #28189 "Dev services for Kubernetes client"
### Description

Kubernetes mock server has some limitations and currently a developper needs to run a k8s cluster by itself (k3s, minikube, etc...) to run against a real one.

[Testcontainers](https://www.testcontainers.org/modules/k3s/) and https://github.com/dajudge/kindcontainer provide test containers implementations for api server or full featured k8s cluster.

### Implementation ideas

I'm

[2022-09-25 19:36] carueda opened #28190 "quarkus-smallrye-graphql: NPE when connecting with websocat"
### Describe the bug

NPE in `SmallRyeGraphQLOverWebSocketHandler.java` when connecting with [`websocat`](https://github.com/vi/websocat).  Stack trace in additional info below.

Please note: My app functionality seems unaffected, but I sometimes use the handy websocat tool for some basic monitoring and I thought I'd enter this ticket in case it's actually exposing some unknown bug in Quarkus. I e

[2022-09-25 22:40] stuartwdouglas commented on #28116
Is this HTTP/2?

[2022-09-25 23:31] phillip-kruger commented on #28190
@carueda - can you share a reproducer ?

[2022-09-26 00:57] phillip-kruger commented on #28178
@sberyozkin this work for me. Maybe clear your local storage ? Let me know ?

[2022-09-26 02:16] carueda commented on #28190
@phillip-kruger oh, sorry about that.

Here it is: https://github.com/carueda/microprofile-graphql-quickstart

- it is a direct copy of https://github.com/quarkusio/quarkus-quickstarts/tree/main/microprofile-graphql-quickstart (as of a couple months ago)
- with only change being the use of latest Quarkus release at this moment, 2.12.3.Final

Thanks.

[2022-09-26 04:19] iocanel commented on #28189
+1

[2022-09-26 05:05] geoand commented on #28189
Yeah, I think it's a good idea

[2022-09-26 05:22] phillip-kruger commented on #28190
Hi @carueda
Thanks for the info.

I am following your instructions to recreate the issue, but I can not seem to.

a few questions:
1) what is websocat and what are you trying to achieve with it ?
2) When do you get the error ? When you run `websocat ws://localhost:8080/graphql`

I get no error in my Quarkus log, but I get
[code]
![image](https://user-images.githubusercontent.com/6836179/192199481-

[2022-09-26 06:04] #28053 closed

[2022-09-26 06:25] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3125294972

[2022-09-26 06:25] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3125297494

[2022-09-26 06:28] yrodiere commented on #28188
Hey @sberyozkin, I think this duplicates #14240? #15198 seems related as well in some way.

Also, there was an attempt to solve this in the past, in #15827 , but it wasn't merged for some reason.

[2022-09-26 06:56] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3125296622

[2022-09-26 07:10] aloubyansky commented on #8593
@ppalaga @jamesnetherton most of the Camel tests appear to be failing
[code]
I haven't looked at all of them but here is one
[code]
Jandex upgrade?

[2022-09-26 07:14] ctron commented on #13114
I retried, and:

[code]

I guess these are the versions involved:

[code]

Which, like before, suggest to use "trace" and "initialize at runtime" arguments. So ended up with:

[code]

And that let me compile successfully. I didn't check yet if it actually works. But at least, I am definitely one step closer.

[2022-09-26 07:17] jamesnetherton commented on #8593
Yes, the errors will be related to either:

* Jandex
* k8s client incompatibility
* apache/camel-quarkus#4114

[2022-09-26 07:45] ctron commented on #13114
I had to add a few classes for registration, but it looks good now. I would consider it closed.

[2022-09-26 07:48] geoand commented on #13114
Thanks a lot of checking!

[2022-09-26 07:48] #13114 closed

[2022-09-26 07:54] mikaelmercur commented on #28116
@stuartwdouglas, yes.

[2022-09-26 07:57] mkouba commented on #28177
I didn't find a place in qute where a new line would be transformed. Unfortunately, I don't have a windows machine to run the test. However, I did try to modify the `basic.html` template to use CRLF and then updated the `QuteTest.smoke()` to expect `\r\n` and the test passed on Linux.

[2022-09-26 08:07] #28158 closed

[2022-09-26 08:07] cristianonicolai commented on #12486
Created https://github.com/smallrye/smallrye-reactive-messaging/issues/1911

[2022-09-26 08:24] euruba commented on #10716
Hi!, there are any update on this?

Thanks and regards

[2022-09-26 08:26] jmartisk commented on #28184
Thanks for reporting, I'll take a look into it

[2022-09-26 08:53] cescoffier commented on #26830
I was able to reproduce it.

[2022-09-26 09:17] pjgg opened #28194 "Default Kafka devservice provider switcher"
### Description

As a developer, I would like to have a Quarkus property that allows me to set a default DevService Kafka provider (Strimzi / Redpanda). Currently, I am able to set a Kafka devservide docker image by the property `quarkus.kafka.devservices.image-name`, the problem is that forces me to define a docker image version or use the latest one. My proposal is to create a new property...let

[2022-09-26 09:18] sberyozkin commented on #28188
Hey @yrodiere Sorry, I haven't analyzed what has been done before in this area, and looks like, in #15827, it was assumed it was too complex to do right, with several alternatives considered.
I've no problems with closing this issue, but perhaps I can keep it open for a bit to have the discussion refreshed ? I saw in #15827 some concerns expressed, but it works well from DevUI, I believe it is of

[2022-09-26 09:24] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3125296622

[2022-09-26 09:27] ozangunalp commented on #28194
If I understand correctly, basically you'd like to have a default image for strimzi and a default image for redpanda ?

[2022-09-26 09:32] matusfaro opened #28195 "Erroneous warning 'Detected use of JSON but no extension added' when using Jax-rs MessageBodyReader"
### Describe the bug

There is a warning printed that no json extension is added, but I am using a MessageBodyReader/Writer which makes the warning erroneous.

### Expected behavior

No warning should be printed

### Actual behavior

[code]

### How to Reproduce?

From a Quarkus Jaxrs project, add your own serde:
[code]

### Output of `uname -a` or `ver`

Darwin 21.6.0 Darwin Kernel Version 21.6.0

[2022-09-26 09:36] pjgg commented on #28194
if you set `quarkus.kafka.devservices.provider` to `strimzi` then you should have de default strimzi image with the BOM kafka version for this image

[2022-09-26 09:37] rsvoboda opened #28196 "all-config guide - incorrect render of default values for hibernate-orm.active and hibernate-envers.active"
### Describe the bug

all-config guide - incorrect render of default values for hibernate-orm.active and hibernate-envers.active

<img width="1421" alt="Screenshot 2022-09-26 at 11 32 57" src="https://user-images.githubusercontent.com/925259/192243361-210d8cc8-7ced-41ec-b490-912542c05107.png">

[code]

### Expected behavior

Nicer render of default values for hibernate-orm.active and hibernate-env

[2022-09-26 10:18] yrodiere commented on #28188
No problem with restarting the discussion, but let's not duplicate it? I think it would be better to post your API suggestion to #14240, and to link any PR to that.

And yes, I think most agree that this feature has value, most of the disagreement was about execution. I think your solution of a (injected?) client that controls the reset probably solves most issues we had.

[2022-09-26 10:23] yrodiere commented on #28196
Thanks for reporting.

It seems you already had a look at source code, are you planning to send a PR? I expect this should be a two-liner :) The easiest solution is probably to switch from backticks (\`) to single quotes (')

[2022-09-26 10:35] rsvoboda commented on #28196
PR: https://github.com/quarkusio/quarkus/pull/28197

[2022-09-26 11:36] sberyozkin commented on #28188
@yrodiere Sure, will do. Stuart had a nice test system enhancement, so I'll update #14240 and propose to fix it similarly to how it was done for `KeycloakTestClient`

[2022-09-26 11:36] #28188 closed

[2022-09-26 11:38] sberyozkin commented on #28187
CC @stuartwdouglas, Let me know please where it can be fixed, I can try to handle it or open a PR if you can find a few mins

[2022-09-26 11:47] cescoffier commented on #27918
Issue fixed upstream.

[2022-09-26 11:59] #28131 closed

[2022-09-26 12:01] cescoffier commented on #28194
I would be careful. The strimzi ad dev service experience is not great yet. That's why we want the user that wants to switch to be perfectly aware of it.

[2022-09-26 12:08] andreas-eberle commented on #24754
@mkouba @alesj : Is there a status update on this? We would love to see the integration :) Thanks for your efforts!

[2022-09-26 12:45] tbsalling opened #28202 "Promote "hibernate.hql.bulk_id_strategy" to be supported configuration parameter"
### Description

I need to run with Hibernate configuration `hibernate.hql.bulk_id_strategy=org.hibernate.hql.spi.id.inline.InlineIdsOrClauseBulkIdStrategy` to prevent automatic creation of database tables with prefix `HT_`.

To do this with Quarkus I add this line to application.properties:
`quarkus.hibernate-orm.unsupported-properties."hibernate.hql.bulk_id_strategy"=org.hibernate.hql.spi.id.inl

[2022-09-26 12:49] sberyozkin commented on #28178
Hey @phillip-kruger Thanks for checking, indeed looks like it was a false alarm, I cleared some storage in `Firefox/Web Developer Tools/Storage` and it is working now again :-).

What do you think about hiding the `Authorize` Swagger UI option in this case ? It is very tempting to press it and once it is pressed several options are offered which are not related, since we have a token ready.

[2022-09-26 12:55] mkouba commented on #28177
So I was able to reproduce the problem on a windows virtual machine and after several attempts to find out what's going on I stumbled upon a git feature I was not aware of.

Git can transform/normalize the line endings during commit/checkout. It seems that there are two ways to enable this feature: the [`core.autocrlf`](https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_core_autocrl

[2022-09-26 12:58] #28088 closed

[2022-09-26 13:08] mkouba commented on #24754
I'm not working on this at the moment so no update from my side ;-)

[2022-09-26 13:12] phillip-kruger commented on #28178
I am not sure if it is possible

[2022-09-26 13:19] ctron opened #28205 "Inconsistent behavior for default configuration value between Set and Map"
### Describe the bug

Using Quarkus configuration, specifically `@ConfigMapping`:

* A `Set` (most likely a `List` too) cannot be empty, but must be wrapped inside an `Optional` if one wants a "default empty" behavior
* A `Map` cannot be wrapped in an `Optional`, but is empty by default

That is confusing.

### Expected behavior

A less confusing approach.

I would argue that Lists, Maps, and Opti

[2022-09-26 13:30] cescoffier commented on #24754
@alesj is working on it. We have something quite advanced already. There are a few gaps in the new Vert.x server that needs to be polished (gRPC context support, support of the gRPC load balancing...)

[2022-09-26 13:46] kiview commented on #25682
@agoncal I think the Rancher Desktop part of the docs should be augmented to include the necessary config, as pointed out by @GGui.

Furthermore, I found the recommendation to set `RYUK_DISABLED=true`. This is *not recommended* for desktop usage and is normally not necessary. I would prefer if we can discuss removing the paragraph, or else highlighting, that this can have unintended consequences.

[2022-09-26 13:54] Sanne commented on #28202
hi @tbsalling , it's a reasonable request, but we're hoping to upgrade soon to Hibernate ORM 6+, in which this property is no longer applicable.

So I'd suggest please keep using the configuration as you do today for a little longer; if someone wants to send a PR to expose the configuration I'm ok with that too, but bear in mind we'll have to delete it when upgrading. Might not be worth it?

[2022-09-26 14:16] gsmet commented on #21574
@mshabarov I'm preparing a blog post to explain our plans.

[2022-09-26 14:24] jtama opened #28208 "Add traceId to metrics when relevant"
### Description

TraceId attribute could be injected in metics when relevant AND possible (eg when quarkus-opentelemetry is present), it would allow using examplar to correlate metric, span and log.

Gauges on endpoints provides min and max values, and it would be great to have more insights on those..

### Implementation ideas

_No response_

[2022-09-26 14:29] jtama commented on #28208
It coulld maybe be done using MDC (as per logging).

[2022-09-26 15:45] y-luis-rojo commented on #28098
Yes, I did. Not sure what it was, but it looks good, I was able to work in remote development mode and use Live Coding feature! :)

[2022-09-26 15:50] AdlerFleurant commented on #5539
I have recently tested a project with multiple sources. It works just fine. The latest error had nothing to do with multiple source directories. @gsmet, shouldn't this be closed?

[2022-09-26 15:51] geoand commented on #5539
@aloubyansky @glefloch can you confirm this now works?

[2022-09-26 16:15] carueda commented on #28190
Hi @phillip-kruger, thanks for the fast replies!

https://github.com/vi/websocat is a handy tool that I sometimes use to monitor traffic in websocket-enabled applications. It is not critical at all for me, but, as already said, I entered this ticket because it seems its use seems to be exposing an issue in Quarkus.

Yes.

Interesting that in your case websocat is not even able (apparently) to hit

[2022-09-26 16:26] aloubyansky commented on #28098
Thanks a lot for testing @y-luis-rojo

[2022-09-26 16:41] brunobat commented on #28208
@jtama traceId is created per request and metrics, by definition aggregate data on multiple requests.
This is something that would provide little help due to high cardinality and could potentially explode the storage requirements.
Can you provide an example where this could be useful?

[2022-09-26 16:52] jtama commented on #28208
Gauges on requests provide a max value, it could be usefull to have more insights on those, no ?

[2022-09-26 17:06] radcortez commented on #28176
I've tried a simple project, and it seems to work as expected:

[code]

and

[code]

Are you able to provide additional steps or even a reproducer? Maybe you have your profile in a higher ordinal source?

[2022-09-26 17:16] mschorsch commented on #28189
+1

[2022-09-26 17:45] radcortez commented on #28205
`Set` and `List` (and Arrays), follow the rules defined by the MP Config specification for empty values:
https://github.com/eclipse/microprofile-config/blob/2.0/spec/src/main/asciidoc/configexamples.asciidoc#config-value-conversion-rules

You can also have a look for a more in-depth discussion: https://github.com/eclipse/microprofile-config/issues/446.

`Map` is not supported by MP Config. It was

[2022-09-26 17:47] brunobat commented on #28208
That's interesting. Min Max values could be a good use case.
Do you see other cases?
Can you please re-write the issue in a more concrete way with use cases?

[2022-09-26 17:54] rmanibus commented on #28176
@radcortez I set it in the config/application.yml, is it mandatory to pass it as property ?

[2022-09-26 19:21] radcortez commented on #28176
Yes, at the moment, `quarkus.profile` is only read from system properties or environment variables to select the active profile to use. If you do a regular lookup you may get a different value coming from another source.

This should be fixed by https://github.com/quarkusio/quarkus/pull/28091. Until then, please set `quarkus.profile` in system properties on environment variables.

[2022-09-26 19:51] aloubyansky commented on #5539
I'm having troubles running the reproducer, it appears to be quite old. I would trust @AdlerFleurant on this. @glefloch and @soberich unless you are aware of a current issue related to this, I would close this one. Thanks.

[2022-09-27 01:29] phillip-kruger commented on #28190
Ok, I managed to recreate the issue ! Thanks. I ran into https://github.com/vi/websocat/issues/23, so when I change to use 127.0.0.1 is works. I'll look into this a.s.a.p
Thanks

[2022-09-27 02:18] stuartwdouglas commented on #28187
It probably just needs a sleep + busy wait loop for a second or two to wait for the socket to be released in QuarkusDevModeLauncher. Basically if the socket was ok on the first launch, it should be ok on the second so re-run the checking code in a loop with a small sleep util it either works or some other timeout.

[2022-09-27 02:51] spencercjh commented on #26830
@cescoffier sorry for the delay...

[code]

The best practice for gRPC is to use the Global gRPC Interceptor to handle exceptions as a last resort, but due to the problems mentioned in this issue, this operation is not feasible (under @Blocking gRPC), the thread will hang, the request will not be responded to correctly, and the code will not run to the interceptor as expected.

I actually wanted t

[2022-09-27 05:48] Sgitario commented on #28189
+1

[2022-09-27 06:04] geoand commented on #23612
Now that Quarkus `2.13.0.Final` has been released, can we mak sure this gets addressed?

[2022-09-27 06:05] #28196 closed

[2022-09-27 06:10] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3133161480

[2022-09-27 06:13] ctron commented on #28205
Thanks for the explanation, that really helps to understand the background.

So if Set/List/Array can't be changed easily, and `Map` is an out-of-spec extension anyway. Why not just allow `Optional<Map<>>` in addition. I do agree that technically it doesn't add much, but from a consistency point of view, it does IMHO.

[2022-09-27 06:23] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3133163849

[2022-09-27 06:41] aloubyansky commented on #28007
This was caught in the quarkus-platform CI too. In general, we don't guarantee compatibility of specific platform member versions (e.g. CEQ 2.12.0) with core versions other than those they were released with as a platform. This is already fixed in 2.13.0, which will be included in quarkus-platform 2.13.0.Final. See https://github.com/quarkusio/quarkus-platform/pull/628

[2022-09-27 06:41] #28007 closed

[2022-09-27 06:46] #27862 closed

[2022-09-27 06:55] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3133163037

[2022-09-27 07:21] mkouba commented on #6440
I've created a draft pull request https://github.com/quarkusio/quarkus/pull/28216. Let's discuss the API and possibilities there.

[2022-09-27 07:34] luketn opened #28217 "Mongo Dev Services do not Support v6+"
### Describe the bug

You can change the version of MongoDB used by dev services using the configuration property:
[code]

This works well for all versions of MongoDB up to version 6, in which they have retired the old mongo client in favour of a new client mongosh.

### Expected behavior

Add this config:
[code]

Should work just as 5 would have.

### Actual behavior

An exception is thrown on st

[2022-09-27 07:37] luketn commented on #28217
FYI - I recently upgraded a script I have to start a mongo container with a replica set from 5 to 6, and the only change I needed to make was to use 'mongosh' instead of 'mongo' for the tool to --eval commands on. These two seem to have very similar APIs, so the changes required may be minimal:
https://gist.github.com/luketn/1efe282d8e3104c052daca3b1c616547

[2022-09-27 08:17] GertjanHouwen commented on #27057
What is the status of this bug report?

[2022-09-27 08:19] jtama commented on #28208
Done, no other use case I can think of for the moment.

[2022-09-27 08:20] loicmathieu commented on #28217
This is a limitation of the current version of Testcontainers.
This has already been fixed in Testcontainers but not yet release, see this PR https://github.com/testcontainers/testcontainers-java/pull/5771

[2022-09-27 08:35] luketn commented on #28217
@loicmathieu hmm.. it's been a long time between releases on that project. I would have thought a project like that would get released all the time as container projects change so often. Do you guys have any maintainers there that could do a release?

[2022-09-27 09:14] loicmathieu commented on #28217
@luketn

Not that I know, the best will be to contact the Testcontainers team (for ex via the afforementioned PR) and ask for a release.

[2022-09-27 09:29] zakkak commented on #28148
Closing as duplicate of https://github.com/quarkusio/quarkus/issues/27784 (I linked the Epic to it as well)

[2022-09-27 09:29] #28148 closed

[2022-09-27 09:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3133163037

[2022-09-27 09:46] sven-geisenhainer commented on #16037
A proper warning in the logs when defaulting to localhost in case of underscores would be a helpful time saver.

[2022-09-27 10:08] tbsalling commented on #28202
Hi @Sanne - thank you for your reply. There are no problems for us to use the current configuration while we wait for the upgrade. So we can close this request.

[2022-09-27 10:12] #28116 closed

[2022-09-27 10:30] Sanne commented on #28202
:+1: thanks @tbsalling

[2022-09-27 10:30] #28202 closed

[2022-09-27 10:54] edeandrea commented on #23612
I'll test with quarkusio/quarkus-super-heroes#138 today and if everything is ok I'll merge it today.

Interesting that dependabot hasn't yet done it's PR for the upgrade.

[2022-09-27 11:03] maxandersen commented on #25321
@ia3andy I can't recall what this feature request was about ? the title and description seem to talk about two different things. Can you remember the context?

[2022-09-27 11:09] sberyozkin commented on #28178
@phillip-kruger You've made impossible work before by getting Swagger UI accept a token out of band from DevUI :-). How does Swagger UI decide it needs to show `Authorize` ? I guess it is because `quarkus-oidc` is producing the build items recognized by `quarkus-smallrye-openapi` so may be `KeycloakDevServicesProcessor` can somehow cancel them, even indirectly with the build item of its own...

[2022-09-27 11:12] maxandersen commented on #12943
using toolchains gets more and more common as users want to try out new vs old java combinations. Whats the blocker here?

[2022-09-27 11:27] fedinskiy commented on #22254
@DavideD I run the tests and you're right and if text replaced with varchar, the tests work as expected.

But it is not very clear, why `text` type is mapped to Blob and not String. First, this is unexpected _per se_, since it is not `BLOB` type, and with size of 65,535 bytes[1] it should fit into java's String. Second, for PostgreSQL `text` fields are mapped to String and work as expected, so thi

[2022-09-27 11:47] maxandersen commented on #18098
The "weight" seem to come from inclusion of maven-core which is part of quarkus-devtools-common.

Not sure we can cut that out/reduce it much as its included to provide basic features.

[2022-09-27 11:47] maxandersen commented on #18098
tip, ran this to get puml graph:

[code]

[2022-09-27 11:54] maxandersen commented on #18097
correct its slightly slower but it is also way simpler and more reliable to install.

working on making jbang native which should help too and provide java based fallback so still reliable to install. But its not in the cards at the moment.

[2022-09-27 11:57] maxandersen commented on #16355
@lppedd Is micronaut using picocli or something else? I haven't made the comparison.

But yes, with picocli i'm convinced you'll be able to shave of 100-200 ms of startup if the picocli extension would do its annotation model scanning at build time rather than at runtime.

[2022-09-27 12:13] saragluna opened #28220 "NoClassDefFoundError when use a self-provided PostgreSQL authentication plugin"
### Describe the bug

I'm running this sample [hibernate-orm-panache-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-panache-quickstart), but with a self-provided authentication plugin from [azure-identity-providers-jdbc-postgresql](https://mavenlibs.com/maven/dependency/com.azure/azure-identity-providers-jdbc-postgresql).

The application can run correctly whe

[2022-09-27 12:15] TheParad0X commented on #10716
Same problem here.

[2022-09-27 12:36] edeandrea commented on #23612
@geoand I don't see that `2.13.0.Final` has been released.

https://search.maven.org/artifact/io.quarkus.platform/quarkus-bom - `2.13.0.Final` is not there.

[2022-09-27 12:39] geoand commented on #23612
The full platform is not released yet, but the core (`io.quarkus:quarkus-bom`) is

[2022-09-27 12:40] DavideD commented on #22254
I don't think this is a Hibernate Reactive nor Quarkus issue.

I'm not sure if this is a bug, but the issue is in the [Vert.x SQL client](https://github.com/eclipse-vertx/vertx-sql-client/).
Hibernate Reactive just returns the value from the SQL client.

If I have to guess (and assuming this is not a bug), I would say that returning a potentially long string as a `Blob` has some performance benefi

[2022-09-27 12:43] edeandrea commented on #23612
I verified locally that with 2.13.0.Final this failure disappears. I will merge quarkusio/quarkus-super-heroes#138 once the platform has been released.

[2022-09-27 12:51] joyitaevolphin opened #28222 "TimeoutException on application startup after upgrading to v2.12.3 from v2.7.4"
### Describe the bug

We are upgrading quarkus version from 2.7.4 to 2.12.3 for our app. Application startup throws a Timeout exception with the upgraded Quarkus version. It starts up without any issue with v2.7.4

So we need to add any new configuration for flyway to work with 2.12.3

### Expected behavior

Application should startup without any issue.

### Actual behavior

Getting this error on

[2022-09-27 12:52] geoand commented on #28222
Can you provide a sample application that exhibits this behavior please?

[2022-09-27 13:07] ia3andy commented on #25321
Currently if we break the platform/devtools compat on purpose for some good reason, it will break or misbehave with previous versions of the CLI. The idea is to be able to show a warning telling the user to upgrade the CLI version in order to use a recent platform version.

The goal is not to break the api, but to not be locked and unable to add new features.

[2022-09-27 13:19] cdmikechen commented on #10716
You can not use quartz with reactive postgresql, if you want to use it you must use jdbc.

[2022-09-27 13:20] cdmikechen commented on #10716
This problem should not be solved in the short term, and flyway should not currently have plans to support reactive. My solution should only be a temporary solution.

[2022-09-27 13:33] fedinskiy commented on #22254
Well, I would argue, that since Quarkus provides this as a `io.quarkus`module, than this issue is a bug of Quarkus, too.
I can create an issue for Vert.X, but I need to know, how do we use their functionality under the hood?

I took a look into code for Postgress[1] and MySQL[2] and it looks like the `text` case is not handled properly in the latter.

[1] https://github.com/eclipse-vertx/vertx-sql

[2022-09-27 14:00] DavideD commented on #22254
My point is that you would have this issue even if you create an app that only uses Vert.x without Quarkus or Hibernate Reactive.

In your original example, there is not much happening between the result returned by the Vert.x client and the result returned by `createNativeQuery`.

I'm starting to think that this is a bug, but you have  a better chance to see it solved if you open an issue on the

[2022-09-27 14:07] DavideD commented on #22254
Why don't you send a PR with your proposed fixed (maybe as preview if you are not sure about it)? It's the fastest way to see this issue solved.

[2022-09-27 14:16] DavideD commented on #22254
I will create the issue on the Vert.x side

[2022-09-27 14:18] DavideD commented on #22254
Done: https://github.com/eclipse-vertx/vertx-sql-client/issues/1239

[2022-09-27 14:30] pjgg opened #28224 "Openshift `host-port` or `container-port`has a poor documentation and maybe doesn't work"
### Describe the bug

Quarkus version: Upstream
Extension: `quarkus-openshift`

As a developer, I would like to define my service target port and also my service port (external port). Based on the documentation I guess that I could use the following two properties:

[code]

But doesn't really work. Also, I have tried other properties as `quarkus.openshift.node-port=8282` in order to change the ext

[2022-09-27 14:41] pjgg opened #28225 "New OpenShift property in order to set a custom port name"
### Description

As a developer, I would like to be able to set my port name on K8s / OpenShift, though a new application.property.

Service.yaml example

[code]

Currently, by default, I am getting the above service.yaml. My proposal is to be able to set a custom port name instead of using the default "http" name.

### Implementation ideas

Create a new property as `quarkus.openshift.ports.name`

[2022-09-27 14:45] fedinskiy opened #28226 "Hibernate Validator returns different structures for Resteasy reactive and resteasy classic"
### Describe the bug

I have Resteasy endpoint, with a single parameter, annotated with `@Digits` and `@Produces(MediaType.APPLICATION_JSON)`. When I send non-conforming request, I receive HTTP response with message, which describes validation error. But this json is different if endpoint uses `quarkus-resteasy-reactive` and `quarkus-resteasy-reactive-jackson` or `quarkus-resteasy` and `quarkus-re

[2022-09-27 14:48] #28171 closed

[2022-09-27 14:49] AdlerFleurant commented on #6921
I just tested this bug and it seems that it has been resolved.

My environment:

- Gradle 7.5.1
- MacOS Monterey
- JDK 17
- Quarkus 2.12.0

We can safely close this issue.

[2022-09-27 14:50] geoand commented on #28226
This has been discussed in the past and IIRC we decided to keep things as they are

[2022-09-27 14:52] fedinskiy commented on #28226
@geoand I was not able find any related discussion in GitHub, could you share the link?

[2022-09-27 14:53] geoand commented on #28226
I don't have it unfortunately. It might have been a quarkus-dev google discussion, I can't remember.

[2022-09-27 14:57] sberyozkin commented on #27900
`integration-tests/oidc-token-propagation-reactive` keeps failing, just seeing a strange exception in
[code]

disabling it now

[2022-09-27 15:21] pjgg commented on #28224
ok, finally I found my answer :)

by this property:

[code]

So, by default the port name is set to `http` so the property must be

[code]

The full command in order to deploy my app would be

[code]

[2022-09-27 15:21] #28224 closed

[2022-09-27 15:43] AdlerFleurant commented on #25840
#28186 could also resolve this.

[2022-09-27 16:43] fedinskiy opened #28230 "Qute guide mentions Publisher, which was removed long ago"
### Description

The title says it all
Guide:
https://quarkus.io/version/main/guides/qute#reactive-and-asynchronous-apis
PR, which removed Publisher API:
https://github.com/quarkusio/quarkus/pull/10489

### Implementation ideas

_No response_

[2022-09-27 17:08] nloke commented on #28022
I upgraded  to 2.13.0.CR1 and it builds now, I am not sure why but everything else stays the same. I will close the issue. Thanks.

[2022-09-27 17:08] #28022 closed

[2022-09-27 17:15] manofthepeace opened #28231 "Unable to get Multipart file upload work in openapi/swaggerUI in quarkus 2.12"
### Describe the bug

I was trying to see if I could have a mutipart file upload within the swagger UI. I stumbled on that github project that does exactly that; https://github.com/felipewind/quarkus-swagger-upload-file

The project works and uses quarkus 2.9.2. But when updating quarkus 2.12.3. It does not work anymore, the swagger shows an array of objects, instead of an array of string/binary

[2022-09-27 17:47] MikeEdgar commented on #28231
@manofthepeace - does this give you the output you're looking for?

[code]

[2022-09-27 18:04] manofthepeace commented on #28231
It does work as expected! Thank you very much. Mind explaining minimally why the other version stopped working, I am curious.

Thanks for your time

[2022-09-27 18:04] #28231 closed

[2022-09-27 18:05] MikeEdgar commented on #28231
I haven't figured it out yet :-) I'll post back here when I find out

[2022-09-27 21:14] tsegismont commented on #27386
Fixed upstream in https://github.com/eclipse-vertx/vertx-sql-client/pull/1236 (Vert.x 4.3.4)

[2022-09-27 22:07] rmanibus commented on #28176
@radcortez thanks a lot, should I close it for now ?

[2022-09-27 22:19] #6921 closed

[2022-09-28 03:39] #28195 closed

[2022-09-28 05:05] geoand commented on #27386
Thanks for the update @tsegismont.

Just out of curiosity, when is Vert.x 4.3.4 planned?

[2022-09-28 06:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3141044986

[2022-09-28 06:28] #27893 closed

[2022-09-28 06:31] #28098 closed

[2022-09-28 06:37] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/3141048169

[2022-09-28 07:03] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3141047344

[2022-09-28 07:44] harpermj66 commented on #27386
Great, thank you!

[2022-09-28 08:07] adroste commented on #25682
I can confirm the race condition when starting containers with Rancher Desktop. Seems like quarkus continues with the init process before the postgres container/docker network is ready. Docker Desktop works fine.

Env: M1 Mac, macOS 12.6

I think that is is a Rancher Desktop issue rather than a quarkus one. ( https://github.com/rancher-sandbox/rancher-desktop/issues/2609 )

[code]

and

[code]

[2022-09-28 08:23] tsegismont commented on #27386
@geoand very soon, beginning of next week maybe, right @vietj?

@harpermj66 you're welcome. Any news from your contacts at Percona? Are they still willing to talk about this?

[2022-09-28 08:32] brunobat opened #28242 "Fix flaky OpenTelemetryReactiveClientTest"
### Description

Test is giving inconsistent results and needs fixing.
Originally detected here:
https://github.com/quarkusio/quarkus/pull/28237#event-7475309734

error:
[code]
This seems to be related with the temporal sorting of these tests.

### Implementation ideas

[2022-09-28 08:32] TheParad0X commented on #10716
I dont' get it. How to you reference the migration files? 🤔

[2022-09-28 08:51] rossbrigoli commented on #13602
any updates on this? Or are there at least, any plans to include this in the roadmap?

[2022-09-28 09:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3141047344

[2022-09-28 09:36] radcortez commented on #28205
I'll have a look.

[2022-09-28 09:48] brunobat opened #28245 "Automatic OTel instrumentation configuration"
### Description

When possible, we should provide support to the automatic instrumentation properties defined in the OTel [Configuration](https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/).
Example: "otel.instrumentation.http.capture-headers.client.request"

These configurations are only available to users of the agent, which is not used by Quarkus.

### Implementation ide

[2022-09-28 09:51] KristoferPettersson opened #28246 "Using oidc error-path doesn't keep the original path params used for session handling"
### Describe the bug

I have an rest resource protected with OIDC, and wants to implement a customized web page when the authentication could not be performed.
I am trying to accomplish this with the setting:
quarkus.oidc.authentication.error-path=/error

If I surf to my application with the following url: http://localhost/application?ref=xxxxx
Quarkus will redirect the browser with a 302 response

[2022-09-28 10:08] gsmet commented on #27065
I will reuse the same technique @Sanne used for the Db2 JDBC so we can have this fixed while we wait for a Quartz release.

[2022-09-28 10:24] daviddavidgit opened #28249 "Graphql Scheme Generation adds type subfix (like "_Int")"
### Describe the bug

Graphql schema generation adds a type subfix (like "_Int") at the generated schema type names.

I have following classes (taken from [SmallRye GraphQL extension guide](https://quarkus.io/guides/smallrye-graphql))

[code]
[code]

Accessing the schema through the [introspect](https://quarkus.io/guides/smallrye-graphql#introspect) gives not the expected schema.

### Expected beh

[2022-09-28 10:34] cdmikechen commented on #10716
I have explained in the code, you need to specify manually with a list.

[2022-09-28 10:36] seeseemelk commented on #10716
This is what I use in my application: https://gist.github.com/seeseemelk/27c601ad8ce5a6a89d423a476d6e9237

[2022-09-28 10:48] phillip-kruger commented on #28249
It's because you extends a type with a generic int type. This is how we handle generics in graphql

[2022-09-28 11:06] #27184 closed

[2022-09-28 11:07] #26830 closed

[2022-09-28 11:10] erik-wramner opened #28250 "Register all BouncyCastle algorithms for reflection in quarkus-security"
### Description

See discussion [Problems with BouncyCastle in native images ](https://github.com/quarkusio/quarkus/discussions/28234).

Right now Quarkus registers many of the individual BC algorithms for reflection, but that is tricky for applications that need to support many and unforeseen algorithms. Specifically, our application receives messages and based on the content we need to use diffe

[2022-09-28 11:10] daviddavidgit commented on #28249
ok thank you.
What is the reason for this change?

[2022-09-28 11:43] peschee commented on #28249
Is this documented somewhere (e.g. in a changelog)?

[2022-09-28 12:05] Karm commented on #23964
I cannot reproduce it any more with our contemporary FIPS enabled builder image and Quarkus 2.13.0.Final.  Closing.

[2022-09-28 12:05] #23964 closed

[2022-09-28 12:14] Karm commented on #27809
Hello,

I am sorry I am coming late to the party. I read the comments and it's clearly unrelated to AWT (and not related to native either I think).
I can offer an opinion as a Quarkus user: When such a disastrous exception happens, I want to see the path that caused it in the log by default.

It is fine to have the power to fine tune it, to mute it, to consume it etc., but the default should be ra

[2022-09-28 12:43] gsmet commented on #27809
@Karm yeah thanks, we figured it out :). I'm trying an upgrade to RESTEasy 6.2.0.Final and will see how it goes.

[2022-09-28 12:51] jerboaa commented on #23964
FWIW, it should also be fixed in 21 images and quarkus 2.7.

[2022-09-28 13:17] Sanne opened #28257 "Quarkus CLI - Unrecognized configuration key "quarkus.home""
### Describe the bug

I've installed the Quarkus CLI tool foollowing the SDK! Man instructions on https://quarkus.io/guides/cli-tooling.

Next step of the guide, it suggest running

The output is:

Client Version 2.0.0.CR3

### Expected behavior

It shouldn't log warnings out of the box.

[2022-09-28 13:21] gsmet commented on #28257
Hmmmm `Client Version 2.0.0.CR3`?!?

[2022-09-28 13:24] gsmet commented on #28257
Maybe you had very old metadata and it installed an old version? If so maybe we should add a step to update the metadata before installing.

(But I'm not sure what I just wrote makes sense in the SDKMan! world)

[2022-09-28 13:30] Sanne commented on #28257
oh, good catch about the version. I had an older version of the app installed as a "jbang app"

[2022-09-28 13:30] #28257 closed

[2022-09-28 13:39] KristoferPettersson commented on #28246
Thank you @sberyozkin for a very quick response, looking forward to the next release.

However, this problem getting me think about microservice support with oidc and Quarkus. Our application needs to be distributed over different pods in a kubernetes cluster. Do we need to keep the state parameter in the above example in a common database somehow? How is it suppose to work when the redirect after

[2022-09-28 13:50] cthiebault opened #28258 "Keycloak policy enforcer does not find newly created resource... even if it appears in RTP token"
### Describe the bug

I'm using Keycloak policy enforcer to protect my entities.
For each entity I have a resource, a user policy for readers and a read permission.

On entity creation, all these authorization resources are created in Keycloak but the policy enforcer cannot find the newly created resource.

When I evaluate this with Keycloak UI, access is granted.

To show this, I've created a sim

[2022-09-28 13:58] mmusgrov commented on #15364
We use rts, short for RESTful transaction service, to refer to any REST API to our transaction models, so far we have at least two:
- the implementation of the MP-LRA spec implementation has maven coordinates `org.jboss.narayana.rts:narayana-lra org.jboss.narayana.rts:restat`
- the REST API to the JTA transaction manager has maven coordinates `org.jboss.narayana.rts:restat`

[2022-09-28 14:20] sberyozkin commented on #28258
Hey @pedroigor Can you please review this issue ?
@cthiebault Thanks for a detailed analysis, it sounds like it is a Keycloak issue as `quarkus-keycloak-authorization` does not do any direct resolution of these resources, only via the authorization client API

[2022-09-28 14:25] sberyozkin commented on #28246
@KristoferPettersson Np, the state is kept in the cookie, so there would be np with accessing it from various pods, `quarkus.oidc.authentication.cookie-domain` is available to set if necessary as well

[2022-09-28 14:29] floriansiepe opened #28260 "Oracle Devservice not working"
### Describe the bug

Oracle Database Dev Service is unable to start database container.

### Expected behavior

Database container should start normally

### Actual behavior

Log output of `quarkus dev`

[code]

### How to Reproduce?

Steps to reproduce:

1. Generate new Quarkus application using code.quarkus.io
2. Add `quarkus-jdbc-oracle` and `quarkus-hibernate-orm-panache` extension
3. Run `qu

[2022-09-28 14:37] gsmet commented on #28260
@Sanne does it ring a bell? It looks like some action at the end of the container start is failing?

[2022-09-28 14:39] radcortez commented on #28176
You can leave it open so I can make some adjustments to #28091.

[2022-09-28 15:09] Sanne commented on #28260
sorry, no doesn't ring a bell. I just tested it locally and it worked fine; my oracle image was `9533b82f826a13ef97bc9834396b18e0c4f31f0a5c1514ac7e2f6a8f59a5e99f` - but the above error mentions `76be7f6cda7e2762ec8e4ea7641722bb7181042f9d27c93e67de9d3be502bca2` I wonder if there has been a briefly broken image on dockerhub?

I really think we should start using hard-tags

[2022-09-28 15:21] sberyozkin commented on #27348
@nicolaos I think we should not mix the feature request like this one with the vulnerability management.

Fair enough, but I haven't seen so far any real use case which justifies the user forgetting about the current challenge, then opening another tab, then may be forgetting about the 2nd tab's challenge, then opening another tab, etc.

But looks like a number of users interested in this feature

[2022-09-28 16:01] geoand commented on #23612
Great, thanks

[2022-09-28 18:18] galderz opened #28267 "Switch native GC policy to adaptive"
# Summary
I would like to propose that Quarkus Native switches to using the adaptive GC policy by default instead of space/time. Users can still fallback on the space/time GC policy by passing in (note the need to escape $ sign if passing in via command line):

[code]

Adaptive is GraalVM CE’s default GC policy for serial GC, so to achieve this all we have to do is remove the Quarkus code that set

[2022-09-28 18:36] mweber03 commented on #19452
I am also seeing this issue, but we're running our own Kubernetes cluster (not Amazon's). We're using Kuberneetes 1.21.5.

[2022-09-28 18:48] lisle777 commented on #9386
Hi all.

I wondered if this has made it into a release?

Thanks in advance.

[2022-09-28 18:53] gsmet commented on #9386
@lisle777 see the milestone of the issue. It has been merged for 2.10.

[2022-09-28 19:23] dmadunic commented on #27318
Any feedback?

[2022-09-28 19:34] yesunch commented on #28190
Hi, @carueda , @phillip-kruger

 I recreated the issue as well. It seems that the problem is caused by the subprotocol of the opened websocket which is null.
I've committed a fix and tested against the reproducer provided by @carueda . No exception is thrown.
I opened a PR for this issue, but since it's my first time to contribute to Quarkus, please, any remark and comment is welcomed.

Hope that

[2022-09-28 20:14] hbelmiro opened #28269 "application.properties ConfigSource has ordinal different than 250 when running in native mode"
### Describe the bug

The application.properties ConfigSource should have ordinal equal to 250 as stated [in the docs](https://quarkus.io/guides/config-reference#configuration-sources), but when running a native image, the ordinal is `Integer.MIN_VALUE`.

### Expected behavior

application.properties ConfigSource having ordinal equal to 250.

### Actual behavior

application.properties ConfigSourc

[2022-09-28 21:07] phillip-kruger commented on #28190
Is there no way to set the subprotocol in websocat?

[2022-09-28 21:48] #27065 closed

[2022-09-28 21:48] #27809 closed

[2022-09-28 21:48] #27807 closed

[2022-09-28 22:27] carueda commented on #28190
Thanks @yesunch !

@phillip-kruger Good point and I should have done a bit more research.

Though the output of `websocat --help=long` doesn't say much about "protocols" I just found https://github.com/vi/websocat/issues/140, and in fact, with that `--protocol graphql-ws` option I can run websocat against Quarkus without triggering the NPE:

[code]

[2022-09-28 23:49] cdmikechen commented on #10716
Could you be sure that it will work under native as well?

[2022-09-29 00:34] MikeEdgar commented on #28231
@manofthepeace , the change was due to support being added for `org.jboss.resteasy.reactive.MultipartForm` in release 2.1.23. There are differences between how request bodies are handled when they are found to be `@BeanParam`s, or forms rather than something like a JSON body.

[2022-09-29 00:48] phillip-kruger commented on #28249
Hi @peschee @ daviddavidgit, not in a changelog a.f.a.i.k. It's been in for a while, so you must be changing from a very old version ? It was not really a change, but rather a new feature: "Support generics" (https://github.com/smallrye/smallrye-graphql/issues/281)

[2022-09-29 00:55] phillip-kruger commented on #28190
Thanks @carueda @yesunch , I think @yesunch fix that print a better error message is the right fix.

[2022-09-29 05:48] floriansiepe commented on #28260
@Sanne Can you then tell me, what is the right image tag to use? E.g. what is the tag behind `9533b82f826a13ef97bc9834396b18e0c4f31f0a5c1514ac7e2f6a8f59a5e99f`?

[2022-09-29 05:50] tmihalac commented on #28133
Yes I will take it.

[2022-09-29 06:10] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3148853920

[2022-09-29 06:51] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3148854960

[2022-09-29 07:23] tmihalac commented on #28133
@gsmet How do I add the properties to the config per persistence unit in `HibernateEnversRecorder#contributeBootProperties()`?

How do I change `HibernateEnversProcessor#registerEnversReflections()` in regards to the config ?

[2022-09-29 07:38] mkouba commented on #28230
Ok, the [reference guide](https://quarkus.io/guides/qute-reference#rendering-output) is correct. I'd just remove this section completely.

[2022-09-29 07:54] sombraglez commented on #26557
Hi all, this bug can be also reproduced with the Quarkus Version `2.13.0.Final`.
To my understanding: how should the DevServices behave in case the tests are rerun? Are they initialized somehow? I wouldn't expect them to be rebooted at all.

[2022-09-29 07:55] daviddavidgit commented on #28249
According to my small reproducer this feature seems to be added since Quarkus 2.10.0.

[2022-09-29 08:00] TheParad0X commented on #10716
Can I see your application.properties? Do you have to list all migration files individually?

[2022-09-29 08:07] mschorsch opened #28277 "Resteasy-Reactive: Reactive REST-Endpoints throw in conjunction with `@Produces`"
### Describe the bug

All REST endpoints with reactive datatypes throw an exception when using a reactive database driver in a `@Produces` method.

### Expected behavior

All REST endpoints can be called without exception.

### Actual behavior

All reactive REST endpoints throw the following exception:

[code]

### How to Reproduce?

[reproducer.zip](https://github.com/quarkusio/quarkus/files/9672

[2022-09-29 08:10] phillip-kruger commented on #28249
I'll have a look, maybe support for interfaces/ abstract objects was added. In either way, what you see as the output is the correct generation.

[2022-09-29 08:16] jmartisk commented on #28249
Hmmm, to me, it doesn't sound right that we append the type parameter to the name. Or is there a particular reason?
The fact that a Film has an Int ID is an internal detail, no reason to put it into the type name.
It even seems that you can't override it using `@Name`. When you add a `@Name` on the Film class, it still appends `_Int` to the value from that annotation.

[2022-09-29 08:22] #28230 closed

[2022-09-29 08:30] faermanj opened #28280 "Multiple @Named functions in the same package seems broken"
### Describe the bug

Multiple handlers in the same package keeps throwing build exception, even whean @ Named.
Same issue described here
https://stackoverflow.com/questions/64283853/handling-aws-http-and-sqs-events-with-the-same-quarkus-codebase

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No r

[2022-09-29 08:34] #28280 closed

[2022-09-29 08:37] gsmet commented on #28133
@tmihalac the properties at the root of `HibernateEnversBuildTimeConfig` will need to be migrated to ``HibernateEnversBuildTimeConfigPersistenceUnit`.

and then I would say you already have the general idea in `contributeBootProperties` given it's implemented for the one property in `HibernateEnversBuildTimeConfigPersistenceUnit`.

As for `HibernateEnversProcessor#registerEnversReflections()` you

[2022-09-29 08:45] faermanj commented on #28280
@gsmet sorry about that, thought it would make it "trackable".

I just checked that the `amazon-lambda` extension used in the example application works fine, but adding `amazon-lambda-http` the build breaks when using multiple functions.

[2022-09-29 08:45] Sanne commented on #28260
Sure, the container we're starting behind the scenes is `docker.io/gvenzl/oracle-xe:21-slim-faststart`.  I was wondering if you were possibly getting a slightly out of date container image compared than mine, but honestly that's far fetched - just trying to reproduce your exact scenario in all details.

What else can you tell me abour your environment; I infer OSX - using Docker?

Seems similar to

[2022-09-29 08:45] Sgitario commented on #14365
I'm closing as it worked with Quarkus `1.11.3.Final`

[2022-09-29 08:45] #14365 closed

[2022-09-29 08:59] Sanne commented on #28267
:+1: let's switch to the default. @galderz will you be sending a PR?

[2022-09-29 09:20] phillip-kruger commented on #28249
@jmartisk maybe check what changes in the version mentioned. I do recall bugs logged about this, especially w.r.t mongo usage. But that feels longer ago

[2022-09-29 09:21] tmihalac commented on #28133
In general I understood that, but how do I differentiate the properties of each PersistenceUnit?
can you give me an example ?
what is the xxx in this case the same as it is today ? addConfig(propertyCollector, xxx, config.storeDataAtDelete);

[2022-09-29 09:25] benoit-messager opened #28282 "Make stubbing and asserting easier when testing command mode application"
### Description

**Context**
I have a fairly simple batch which is written in kotlin and uses quarkus command mode app (a class annotated with `@QuarkusMain` and a run method). Simply put the batch :

1. fetch some items from a dynamodb database
2. send them to an external webservice
3. updates the item in dynamodb.

**What i want to do**
I want to test the batch with wiremock for stubbing the ext

[2022-09-29 10:02] floriansiepe commented on #28260
I'm using OSX 12.6 on an M1 chip. I already issued the commands described in https://hub.docker.com/r/gvenzl/oracle-xe regarding the M1 chips and restarted the Docker engine. However, without success. In docker desktop I can observe that the container exits (1) immediately. I also pulled a fresh version of the image.
I guess it may be a arm64 problem.

[2022-09-29 10:11] Sanne commented on #28260
Right it would seem to be related to running Oracle on M1.

Could you try the instructions in section "Oracle XE on Apple M chips" on https://hub.docker.com/r/gvenzl/oracle-xe ? They suggest to use [colima](https://github.com/abiosoft/colima) - but not having a Mac I've never explored this.

Wondering how we can improve things a little on the Quarkus side; at least throwing a meaninfgul error woul

[2022-09-29 10:18] tmihalac commented on #28133
What do you mean ?

[2022-09-29 10:39] floriansiepe commented on #28260
@Sanne I used colima to emulate x86 architecture. After several restarts of both colima and docker desktop I had no success either.

[2022-09-29 10:44] Sanne commented on #28260
I'm afraid that from my side the only thing I can do is to disable the use of devservices/Oracle when on M1.

One way out for you would be to try Testcontainers Cloud ? Our devservices implementation is based on Testcontainers; if you enable [their commercial offering](https://www.testcontainers.cloud/), it will transparently start the containers somewhere else and re-route the traffic - so your t

[2022-09-29 10:45] Sanne commented on #28260
(and I'm sorry to suggest a commercial solution - I just don't see other options, assuming you can't get colima to work)

[2022-09-29 11:14] edeandrea commented on #23612
@geoand I'll take a look at this failure a little later this morning. This is new.

I also noticed in the 2.13 release notes that this  previous breaking change (need to manually add the stork filter of using the jaxrs client directly) was not mentioned. I can add it via a PR if you tell me which file in which repo to edit.

[2022-09-29 11:15] ebullient commented on #16355
That only works of that marked class doesn't use any beans. Curious if using a static init to create/initialize the command instance programmatically would make a difference (to prove your point), as static init is baked into the native image, IIRC.

[2022-09-29 11:18] ebullient commented on #28208
Micrometer now has support for exemplars (which is where this trace id would go.. ), and that's what this is..

https://github.com/micrometer-metrics/micrometer/issues/2672

I think we only need some glue: https://github.com/micrometer-metrics/micrometer/pull/3091#issue-1177411405

[2022-09-29 11:28] geoand commented on #23612
The breaking changes are tracked in the wiki - I don't think you can make a pull request to it (cc @gsmet )

[2022-09-29 11:29] HerrDerb opened #28286 "@Retry and @Transactional -> @RetrieableTransactional"
### Description

On I transaction error, I would like to retry the transaction, if it did fail because of an optimistic lock exception.

First thought obviously is to do it this way:
[code]
This sadly does not work, as the `@Retry` interceptor is beeing processed before the `@Transactional` interceptor is finishing. This means, I cannot retry on a exception which originates of a failed transaction

[2022-09-29 11:54] ebullient commented on #27985
You've opened this twice (as a discussion and an issue). I've answered in the discussion.

[2022-09-29 11:57] gsmet commented on #28133
Typically that this:

[code]

will need to be done for all the PUs once these properties are moved to PU-specific properties.

[2022-09-29 12:18] jtama commented on #28208
I can maybe try to write the glue.

[2022-09-29 12:25] edeandrea commented on #23612
@geoand I can reproduce this new issue locally. I'm not sure yet what the problem is, but something has changed on `main` which is causing these tests to now break.

[2022-09-29 12:25] kiview commented on #25682
@adroste AFAIK Rancher Desktop has very different timing behavior regarding its networking and exposing ports as compared to Docker, so it breaks Testcontainers' assumptions of a Docker-compatible API.

[2022-09-29 12:25] edeandrea commented on #23612
something to do with reactive messaging and messages not being ack'ed

[2022-09-29 12:26] geoand commented on #23612
cc @ozangunalp ^

[2022-09-29 12:26] edeandrea commented on #23612
[code]

[2022-09-29 12:28] edeandrea commented on #23612
the `WebSocketsIT` integration tests in the `event-statistics` app.

Something in https://github.com/quarkusio/quarkus-super-heroes/blob/main/event-statistics/src/main/java/io/quarkus/sample/superheroes/statistics/listener/SuperStats.java isn't working right now.

FYI its working fine in `2.13.0.Final`

[2022-09-29 12:32] edeandrea commented on #23612
The class does manual ack'ing of messages and uses the Mutiny `Context` for storing off the message to be ack'ed so it can be retrieved later once processing of the message has completed. From my initial investigation it seems the `Context` is losing the message somehow

[2022-09-29 12:34] #28190 closed

[2022-09-29 12:39] edeandrea commented on #23612
but i'm certainly no Kafka nor Mutiny expert

[2022-09-29 12:44] SingingBush opened #28291 "ParameterizedTest with MethodSource not working with QuarkusTest"
### Describe the bug

Using Quarkus 2.13.0 I have setup a test using code similar to the following:

[code]

### Expected behavior

this should run the tests with both args having the values defined in the _generateTestData()_ method

### Actual behavior

it's resulting in the following stack trace:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux fedora 5.19

[2022-09-29 12:46] edeandrea opened #28292 "`StorkClientRequestFilter` not registered when using `ClientBuilder` to build a jax-rs client"
### Describe the bug

When using Stork with a manually-created jax-rs client (via `ClientBuilder.newClient()`), the `StorkClientRequestFilter` is not automatically registered.

Stork worked fine with the jax-rs client in Quarkus 2.12, but in 2.13 this is broken unless the user manually registers the filter.

See https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-fights/src/main/java/

[2022-09-29 12:47] cescoffier commented on #28292
When using the client API 9not using the declarative approach), the filters is not registered.
I don't know if there is a way to register it explicitly.

[2022-09-29 12:48] edeandrea commented on #28292
The `OpenTelemetryClientFilter` seems to get registered, so there's gotta be a way :)

In 2.12 I had to manually register the `OpenTelemetryClientFilter`, but in 2.13 its magic - its just there :)

[2022-09-29 12:51] edeandrea commented on #23612
Here's how to reproduce locally:

1. Clone quarkusio/quarkus `main` and build (`mvn -Dquickly`)
2. Clone quarkusio/quarkus-super-heroes `main`
3. `cd` into `event-statistics`
4. Run ` ./mvnw clean verify -Dquarkus.platform.group-id=io.quarkus -Dquarkus.platform.version=999-SNAPSHOT -Dquarkus.http.host=0.0.0.0`
5. The tests will fail

[2022-09-29 13:00] cescoffier commented on #23612
@ozangunalp can you check that failure. Seems to be because of the ack happening on the context.

[2022-09-29 13:01] Sgitario commented on #28292
Would you mind if I work on this issue? It seems a good one to get started with the Stork extension.

[2022-09-29 13:02] manusa commented on #19452
Could you please specify the Quarkus version you are using and if the error message is the same as the one reported in the issue?

[2022-09-29 13:06] edeandrea opened #28293 "Regression between 2.13.0.Final and main - Something in reactive messaging/Mutiny Context/manual ack'ing is broken"
### Describe the bug

The Quarkus Superheroes ecosystem CI failed this morning (https://github.com/quarkusio/quarkus/issues/23612#issuecomment-1261806651). The build run can be viewed at https://github.com/quarkusio/quarkus-super-heroes/actions/runs/3148883820.

Upon initial investigation is seems something has changed between Quarkus `2.13.0.Final` and what is currently on `main`.

Some of the te

[2022-09-29 13:07] edeandrea commented on #23612
I've filed #28293 for this

[2022-09-29 13:13] Ladicek commented on #28286
Technically you don't have to create another bean, because Quarkus supports self-interception. You could just do something like:

[code]

However, I find this dangerous in general. If you use Hibernate (ORM or Reactive), you _may not_ use the session if any of its methods throws an exception, and I'm not sure we can possibly write a generic interceptor that would drop the session and create a new

[2022-09-29 13:17] gsmet commented on #28293
We need a good understanding of what's going on here before next Tuesday as I want to make sure I don't backport the regression into 2.13.

[2022-09-29 13:18] janinko commented on #25981
Sorry for late reply, had 2 bussy weeks. Yes, that looks perfectly fine for me, thanks!

[2022-09-29 13:19] geoand commented on #25981
👍🏼

[2022-09-29 13:22] Sgitario commented on #28292
As far I'm seeing, there is a test that covers that this filter is automatically injected: https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/client/reactive/stork/PassThroughResource.java

The main difference is that it works when using `RestClientBuilder.newBuilder()` and not with `ClientBuilder.newClient()`,

[2022-09-29 13:25] edeandrea commented on #28292
@cescoffier mentioned on Zulip chat that he had a fix in mind for this.

[2022-09-29 13:28] Sgitario commented on #28292
ah ok ok!

Looking into the commit: https://github.com/quarkusio/quarkus/commit/238a6ecfa522d13609b21e05cc78d6e8b3a50ad1, it's expected that it was working 2.12 with doing nothing, but not from 2.13.

ok ok, so I will let him figure it out. I'm curious about the solution he has in mind.

[2022-09-29 13:30] Sgitario commented on #28292
Indeed

[2022-09-29 13:34] jponge commented on #28293
For what it's worth, [2.13.0.Final ships with Mutiny 1.7.0](https://github.com/quarkusio/quarkus/blob/2.13.0.Final/bom/application/pom.xml#L140), and it [hasn't changed in `main`](https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml#L140)

[2022-09-29 13:49] dezzyfreeman opened #28297 "Default Service Ports Protocol Cannot be Added"
## Bug
The generated kubernetes.yml `Service` > `spec` > `ports` > `protocol` cannot be accessed using the following application.properties configuration:  `quarkus.kubernetes.ports."http".protocol=tcp`.

Using `quarkus.kubernetes.ports."http".container-port` and `quarkus.kubernetes.ports."http".host-port` as per the documentation, I am able to change the default kubernetes.yml `Service` > `spec`

[2022-09-29 14:05] raffaelespazzoli opened #28298 "gRPC - add support for proxyless istio (gRPC extension)"
### Description

please add support for [istio proxyless grpc](https://istio.io/latest/blog/2021/proxyless-grpc). this will allow grpc client and services to take advantage of all of the istio goodies without having to pay for the proxy performance tax.

as a developer I'd like to configure the XSD endpoint from which to load the grpc configuration  (either client or server) as a quakus configurat

[2022-09-29 14:11] #28291 closed

[2022-09-29 14:12] ozangunalp commented on #23612
Quarkus 2.13.0.Final doesn't seem to be affected. I'll test against latest main.

[2022-09-29 14:13] edeandrea commented on #23612
Thats correct. 2.13.0.Final is ok. Its something between 2.13.0.Final and whats currently on main.

[2022-09-29 14:14] OscarRL commented on #27005
Any news about this ?

This thing doesn't allow us to upgrade our Quarkus.

We tested 2.13.0.Final.

[2022-09-29 14:48] andreas-eberle opened #28301 "2.13.0.Final: Flyway Migration checksum mismatch"
### Describe the bug

I just updated my service from Quarkus 1.12.3.Final to 1.13.0.Final and now it crashes (no other changes) during startup due to the following Flyway error: `Validate failed: Migrations have failed validation`.

[code]

To be clear, no migration should be triggered. The database is already at the newest migration and the exact same service works with 1.12.3.Final.

Furthermore

[2022-09-29 15:22] andreas-eberle commented on #28301
When I run migrations from the start again, I actually get a flyway schema history that is valid and works with 1.13.0.Final and thus I'm not able to create my broken database again. However, it looks like the schema of the "broken" and the "correct" database are the same.

Anyways, I think Flyway is actually ok. However, I wonder why it didn't notice the problem before? And the ClassNotFoundExcep

[2022-09-29 15:42] gsmet commented on #28301
@aloubyansky I wonder if the issue could be related to us removing the bootstrap transitive dependencies? Could it be that we haven't totally restored the existing behavior in Gradle?

[2022-09-29 15:43] gsmet commented on #28301
Ah wait. We have a Maven exception around here which doesn't look like something we want (or we would have to also add the Maven model to Gradle).

[2022-09-29 15:51] aloubyansky commented on #28301
@andreas-eberle did you `clean` the project before launching `quarkusDev` with the new Quarkus version?

[2022-09-29 16:16] quintesse commented on #16355
@ebullient that's more or less what I did here: https://github.com/quintesse/jbang/blob/15e7e85a4932722353a95483787271da083d50a6/annotation/src/main/java/MyProcessor.java , it's a build processor that takes that PicoCli annotations at build time and generates code that does the same thing.

Unfortunately there was (is?) no API in PicoCli that I could hook into to turn annotations into their approp

[2022-09-29 16:17] gsmet commented on #28301
@aloubyansky I think it is a valid issue because of this:

https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java#L25-L26

We actually have Maven classes around in there. I think we should get rid of them and have a copy of this specific `CommandLineUtils.translateCommandline()` method in Quarkus. WDYT?

[2022-09-29 16:24] ozangunalp commented on #23612
Here is the fix : https://github.com/quarkusio/quarkus-super-heroes/pull/151