[2022-07-02 07:58] geoand commented on #26522
This looks like a bug in dekorate as we do [this](https://github.com/quarkusio/quarkus/blob/2.10.1.Final/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/OpenshiftProcessor.java#L277) in Quarkus.

@Sgitario would you like to investigate?

[2022-07-02 08:05] geoand commented on #26516
Seems related to https://github.com/quarkusio/quarkus/issues/26273.
However we do have tests that ensure that `app.openshift.io/runtime` is set to `quarkus` when `quarkus.openshift.labels."app.openshift.io/runtime"` is not set.

Does the application perhaps have any relevant configuration?

[2022-07-02 11:58] huw0 opened #26523 "RESTEasy Reactive - support binary content streaming with header control"
### Description

**Summary** - Quarkus RESTEasy Reactive should natively support `Uni<RestResponse<Multi<byte[]>>>`

**Description**

I am using the solution outlined [here](https://groups.google.com/g/Quarkus-dev/c/odN4RjU_ybE) for streaming binary content using `Multi<byte[]>`.

It is essential that the response and headers can be set dynamically. For example `Content-Type` and `ETag`. The latte

[2022-07-02 12:17] edeandrea commented on #26516
Nope. Not a single line of code changed between 2.10.0.Final and 2.10.1.Final. The label disappeared in 2.10.1.Final.

[2022-07-02 13:49] spirostz commented on #26314
Hi @sberyozkin. I agree with you. By returning another (custom?) 500 message and log the error it's a nice alternative.
Similar, in a previous message you suggest "_A better option may be to log it only but simply return 500_". This is also good solution as well, but how to implement it? '@Provider' approach is not working there? (Maybe I misunderstood something? )

[2022-07-02 14:01] kientorefaissal commented on #16225
If you are using macOS Catalina and later you may need to remove the quarantine attribute from the bits before you can use them
To do this, run the following:

$ sudo xattr -r -d com.apple.quarantine path/to/graalvm/folder/
Based on Graal commit: https://github.com/oracle/graal/tree/vm-22.1.0

[2022-07-02 14:30] danilolopesabreu commented on #23093
same issue with mvn io.quarkus:quarkus-maven-plugin:2.10.1.Final:create, Apache Maven 3.8.4

[2022-07-02 17:02] michalvavrik commented on #23547
I don't think that it's possible to impl. the issue "Expected behavior" (fail with more informative message) for all usages of vertx-http - the ex. message is very clear in information Quarkus Security has, vertx-http has no knowledge of link between route and RBAC annotated endpoint. It must be done on the level where route is already linked with REST endpoint/CDI bean method. F.e. in RR.

[2022-07-02 21:50] raguser commented on #25412
Hello Roberto
Please excuse the delay.
Thank you very much for your explanation.
I followed your advice and replaced all environment variables by property keys.
Unfortunately the result is unchanged. I get exactly the same exceptions.
I am sending you the new ConfigMap attached.
Did I miss something?
Best regards
Stephan

[2022-07-02 21:52] raguser commented on #25412
[issue_25412_configmap_property_keys.txt](https://github.com/quarkusio/quarkus/files/9033760/issue_25412_configmap_property_keys.txt)

[2022-07-02 22:51] kucharzyk opened #26524 "Qute - Failed to index String: Class does not exist in ClassLoader"
### Describe the bug

For some time I was observing the following message while building Quarkus application.

[code]

Today I've found what is causing this issue. I had the following code in one of my Qute templates.

[code]

I was getting this annoying waring in logs because of this code.

After changing template code issue has been resolved.

[code]

This warning message is missleading and it s

[2022-07-03 08:01] #25923 closed

[2022-07-03 08:21] dfa1 opened #26526 "Error during injection of ObjectMapper"
### Describe the bug

From time to time, especially under load, I see the following exception in a (synchronous) resteasy controller:

[code]

Looks like that the error is triggered by a custom resteasy `WriterInterceptor`:

[code]

There are also some customization in the `ObjectMapper`:

[code]

### Expected behavior

No exceptions.

### Actual behavior

Some requests are failing with the above

[2022-07-03 09:13] crionuke opened #26527 "Darwin native toolchain target architecture problem"
### Describe the bug

Hello, there!

Tried to compile java code with quarkus framework to native binary.
As result got next error:
Error: Darwin native toolchain (x86_64) implies native-image target architecture class jdk.vm.ci.amd64.AMD64 but configured native-image target architecture is class jdk.vm.ci.aarch64.AArch64.

Many thanks for any help of how to solve this issue.

**My configuration:**

[2022-07-03 12:58] smil2k commented on #7696
Just for the future reference, the initial delay is caused by surefire:
https://issues.apache.org/jira/browse/SUREFIRE-1827

[2022-07-03 15:16] famod commented on #7696
Yeah, I strongly recommend using surefire 3.0.0-M7.

[2022-07-03 15:56] sberyozkin commented on #26314
Hi @spirostz, I meant I could update `OidcRecorder` code to get  `OIDC Server is not available`  reported only (without the details such as connection url for ex), as it has to be a consistently neutral message, without depending on users trying to intercept it with JAX-RS mappers, and which won't work anyway in the default proactive authentication case.

Let me open a PR and CC you

[2022-07-03 16:32] sberyozkin commented on #26314
@spirostz FYI, #26528

[2022-07-03 23:05] Swe77 opened #26530 "Mutiny had to drop the following exception: (RECIPIENT_FAILURE,8191) Error : 1000, Position : 0, Sql = SET TRANSACTION ISOLATION LEVEL READ COMMITTED, OriginalSql = SET TRANSACTION ISOLATION LEVEL READ COMMITTED, Error Msg = ORA-01000: maximum open cursors exceeded"
### Describe the bug

Mutiny throws an exception after persist about 1110 Reactive Panache Entity object in the Oracle database.

The same application works fine with Reactive Postgresql, the problem occurs with Oracle only.

This is the Reactive Panache Entity:

[code]

The application is a Reactive Rest Jackson endpoint, and post an object in an Event Bus.

[code]

The Event Bus consumer persist

[2022-07-04 04:30] Erfankam commented on #25706
@famod Would you please to check my committed code?

[2022-07-04 05:28] XSAM commented on #24395
I updated the reproducer, and it uses quarkus implementation now. See https://github.com/XSAM/quarkus-issue-24395-reproducer/commit/4d73c84785571e2217f2751f738eeacd69eb8a1b. (It now uses the Quarkus local build)

The warning message is gone, but I found other issues:

- Cannot see client spans. The TracingClientInterceptor seems not working for the blocking or non-blocking gRPC method.
- Cannot ge

[2022-07-04 05:39] geoand commented on #26523
Thanks for reporting.

I would say that supporting `Uni<RestResponse<Multi<byte[]>>>` is not ideal as that type is very complicated and not very intuitive...

[2022-07-04 05:53] geoand commented on #26516
I couldn't reproduce this.

In the `rest-fights` service I updated to `2.10.1.Final` and when doing `mvn clean package -DskipTests -Dquarkus.kubernetes.deployment-target=openshift` I still saw `app.openshift.io/runtime: quarkus` being set to `quarkus`.

[2022-07-04 05:58] geoand commented on #26526
I would suggest trying RESTEasy Reactive, as this problem almost certainly does not exist there.

[2022-07-04 06:09] geoand commented on #26517
It seems like this is intended Vert.x behavior, see [this](https://vertx.io/docs/vertx-core/java/#_30x_redirection_handling).
Furthermore, [RFC 2616](https://www.rfc-editor.org/rfc/rfc2616#section-10.3.8) explicitly mentions that redirection for HTTP 307 should only happen on `GET` and `HEAD` requests:

[code]

So I am going to close this as `won't fix`

[2022-07-04 06:09] #26517 closed

[2022-07-04 06:15] jponge commented on #26530
/cc @tsegismont

[2022-07-04 06:18] #26258 closed

[2022-07-04 06:18] #26486 closed

[2022-07-04 06:59] mkouba commented on #23739
Well, I have no idea when exactly is `SecurityIdentityAugmentor.augment()` invoked and in which context but wasn't the issue that the session was never closed (https://github.com/quarkusio/quarkus/issues/23739#issuecomment-1170314689)? Because `requestContext.terminate()` always destroys all beans created in the current request context.

In any case, `@ActivateRequestContext` is definitely not rea

[2022-07-04 07:25] knutwannheden commented on #23956
@geoand I've attached a simple reproducer example project. When you run `mvn verify` the test will fail. If you swap out `quarkus-resteasy-reactive` for `quarkus-resteasy` the test will pass.

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/9037202/code-with-quarkus.zip)

[2022-07-04 07:40] gsmet commented on #26112
Well, I think we will probably have to do that. I'm not looking forward to explaining to people that they need to add the `@GZip` annotation to all their RESTEasy Classic resources.

In any case, we need to make things clear there for RESTEasy Classic: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.9#http-compression . Right now, people have no idea that the behavior has changed and t

[2022-07-04 08:22] ia3andy opened #26535 "mention of "quarkus.rest.path" resteasy-reactive guide"
### Describe the bug

In https://quarkus.io/guides/resteasy-reactive#declaring-endpoints-uri-mapping, there is a mention of "quarkus.rest.path":
"This will cause all rest endpoints to be resolve relative to /api, so the endpoint above with @Path("rest") would be accessible at /api/rest/. You can also set the `quarkus.rest.path build time property to set the root path if you don’t want to use an an

[2022-07-04 08:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2607829149

[2022-07-04 08:35] knutwannheden opened #26536 "RestEasy Reactive performs authorization checks twice"
### Description

(I am filing this issue as an enhancement, because it isn't really a bug, but I suspect that performing the authorization twice isn't the desired behavior either.)

When using RestEasy Reactive the authorization checks will be performed twice: Once using RestEasy Reactive's own `EagerSecurityHandler` (registered as a `ServerRestHandler`) and once by the curresponding CDI intercept

[2022-07-04 08:35] knutwannheden commented on #26536
/cc @sberyozkin

[2022-07-04 08:48] #24922 closed

[2022-07-04 08:59] famod commented on #24842
Hi @Sanne @yrodiere, any chance to fix this upstream? 🙂

[2022-07-04 09:08] geoand commented on #26535
This was fixed in #26513

[2022-07-04 09:08] #26535 closed

[2022-07-04 09:31] ivansenic commented on #25812
Still fails in `2.10.0.Final` with the `@AfterAll`:

[code]

As I mentioned in the #25831, the added `QuarkusTestNestedPerClassLifecycleTestCase` should have also included the `@AfterAll`, as `@BeforeAll` was working..

[2022-07-04 09:33] geoand commented on #25812
^ @Sgitario

[2022-07-04 09:44] sberyozkin commented on #26536
@geoand Can `EagerSecurityHandler` dropped if a CDI `RolesAllowedInterceptor` is there anyway doing the checks ?

[2022-07-04 09:48] sberyozkin commented on #26314
@spirostz I'll keep this issue open for a while, as I'll need to check why some exceptions are not caught by JAX-RS mappers, so once I'll get to it, I'll check this one and #25732, it will take some time to prioritize but we'll check

[2022-07-04 09:59] sberyozkin commented on #26536
Ive looked at the code and I guess just dropping this handler may not be a good idea, but it looks like it might be possible to avoid doing the authorization checks specifically.
@michalvavrik If it can be of interest/if you have can get some time, can you please investigate, CC Georgios, myself if it can get to PR ? Asking because you've done 2 good PRs related to the RestEasy Reactive security r

[2022-07-04 10:01] michalvavrik commented on #26536
I'll have a look later this week, busy with my work now.

[2022-07-04 10:02] tsegismont commented on #26530
@Swe77 thanks for the report. I think this is due to https://github.com/eclipse-vertx/vertx-sql-client/issues/1187

There is not yet a released version of Vert.x with the corresponding fix. It should some soon(ish).

[2022-07-04 10:05] geoand commented on #26536
I am pretty sure we want this to be the other way around - the code in `RolesAllowedInterceptor` to not be executed if a relevant check has already been done in RESTEasy Reactive.

[2022-07-04 10:06] michalvavrik commented on #26536
Agreed, it does not make sense to do check twice.

[2022-07-04 10:07] tsegismont commented on #26530
@cescoffier when is the next Vert.x upgrade expected in Quarkus?

[2022-07-04 10:07] DavideD commented on #23739
Yes, but because it's reactive `requestContext.terminate()` gets  called before the session creation.
The session gets created later, when the method returned uni gets subcribed, so there's no session to close when `terminate` is invoked.

[2022-07-04 10:08] cescoffier commented on #26530
@tsegismont We switched to 4.3.1 last week. I'm not waiting for 4.3.2. If it happens within the next 2 weeks, it will be integrated before the "big GC pause" (aka summer PTO).

[2022-07-04 10:09] sberyozkin commented on #26536
The only question is where to do these checks, I thought `RolesAllowedInterceptor` was supposed to work across all the stacks;

[2022-07-04 10:14] DavideD commented on #23739
In this case the session is created by Panache when we call `Panache.count()`

[2022-07-04 10:16] geoand commented on #26536
It does, no question about that.

My point is that we should have some kind of switch that make `RolesAllowedInterceptor` be a no-op for the current request.

[2022-07-04 10:18] michalvavrik commented on #26536
Not just on this one, on `AuthenticatedInterceptor, DenyAllInterceptor, PermitAllInterceptor` too.

[2022-07-04 10:19] geoand commented on #26536
Yes, correct

[2022-07-04 10:22] geoand commented on #26504
@aloubyansky this seems to be a problem with remote-dev, regardless of container-image building.

I tried the following on the `getting-started` quickstart:

Add the following to application properties:

[code]

Build the application:

[code]

If you look at the `target/quarkus-app/lib/deployment` directory you see 110 elements (notice I have not started the application, but even if I do, this cou

[2022-07-04 10:23] Sanne commented on #24842
sorry for the lack of communications.

I've pinged the ORM team to make sure it gets triaged, seems to have fallen through the cracks. Not sure if we'll have the bandwith to fix it in 5, but let's see what the team thinks.

[2022-07-04 10:24] geoand commented on #23956
@knutwannheden yes, please open a new issue, as what you describe is different from this.

[2022-07-04 10:29] Sanne commented on #25112
Hi @hikemachado , sorry I couldn't look into it yet. I'll see if a different team member has more time.

[2022-07-04 11:14] aloubyansky commented on #26504
Not yet, I'll have a look

[2022-07-04 11:15] geoand commented on #26504
Thanks, let me know if you want me to check something

[2022-07-04 11:16] knutwannheden commented on #23956
Will do. Thanks for you feedback!

[2022-07-04 11:26] gsmet commented on #26423
So the problem is that the server and client are all mixed up and it's hard to extract the documentation properly.

I wonder if we should have 2 separate extensions: one for the server and one for the client, similar to what was done for GraphQL.

In the meantime, I will shoe in the configuration properties.

@cescoffier @michalszynkiewicz @alesj WDYT?

[2022-07-04 11:29] cescoffier commented on #26423
Yeah, but there are a lot of dependencies between them. We can try to split, but I'm not sure of the result, especially about testing (you need to run fake implementations at the moment).

With the new gRPC server coming, things will be a lot cleaner.

[2022-07-04 11:53] gsmet commented on #26423
OK, well, I will add some doc for now. PR created.

[2022-07-04 12:15] edeandrea commented on #26516
Did you remove https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-fights/src/main/resources/application.properties#L109 ?

As I mentioned in my last comment I added that in after I noticed the label missing.

[2022-07-04 12:16] sberyozkin commented on #26536
But what is the problem with not doing the authorization check at the `EagerSecurityHandler` ? There are 2 steps in the security flow, `authentication` (which `EagerSecurityHandler` can continue participating in) and `authorization` - and my question is, why to add a flag and skip `RolesAllowedInterceptor` etc and keep the authorization related code in `EagerSecurityHandler` as opposed to letting

[2022-07-04 12:19] geoand commented on #26536
We had multiple issues in RR with the security flow, which is why things were moved to `EagerSecurityHandler`.
IMHO, we should set whatever request-scoped related flags we need there and take them into account in the interceptors

[2022-07-04 12:21] geoand commented on #26516
Yes, the configuration was not present in my test

[2022-07-04 12:30] sberyozkin commented on #26536
@geoand Sure, have they been related to running `RolesAllowedInterceptor`/etc independently ?

[2022-07-04 12:31] geoand commented on #26536
I can't remember honestly, sorry

[2022-07-04 12:39] #26172 closed

[2022-07-04 12:57] FroMage commented on #23739
Well, you could also say that `@Transactional` is mandated by some spec, and yet we made it work OOTB with reactive return types, because we had to.
And we're doing exactly the same for any method which needs a CDI request context: we always delay the end of the request context until the request is done, by hooking onto the returned reactive type. Otherwise they're always broken, and we don't want

[2022-07-04 12:59] cescoffier commented on #23739
Totally agree @FroMage

[2022-07-04 12:59] geoand commented on #26536
Not a problem at all :).

I can certainly try and dig up the old issues we had.
I might be missing something, but I don't see why having some flags that act as controls and are read inside the existing CDI beans would cause an issue.

[2022-07-04 13:15] Ladicek commented on #21431
Over time, I grew convinced that the `@Blocking` / `@NonBlocking` annotations should be reserved for methods invoked by some kind of a container, and they should never be used on methods that are supposed to be called by user code. That naturally avoids the problem described in this issue.

From SmallRye Fault Tolerance perspective, that would however be a pretty big breaking change. I'll keep pon

[2022-07-04 13:17] sberyozkin commented on #26536
Hi @geoand Yeah, it will work fine for sure and will most likely be the simplest fix, I'm not trying to be pedantic. It is likely that the authorization checks have been done from this handler because there was some mis-sync with the CDI chain when it comes to running those existing sec interceptors. It is just a sense of uncertainty about running  those existing (custom) sec interceptors in Reste

[2022-07-04 13:19] geoand commented on #26536
Completely understood. I'll try to dig up the history tomorrow

[2022-07-04 13:20] sberyozkin commented on #26536
Thanks @geoand :-), lets keep discussing when you get some time

[2022-07-04 13:27] tsegismont commented on #26426
So it seems it's actually the version of the driver (or of the database) that does not allow to use SID. I wanted to make sure it wasn't a bug in the Vert.x Client URI parser.

[2022-07-04 13:41] DavideD commented on #23739
I've tried to create a simpler testcase to show the error: https://github.com/DavideD/quarkus/commit/f75fcb7cc6276fd564f62a183322ee31f18db218

[2022-07-04 13:44] mikeleitz commented on #23739
I appreciate everyone working on this. 👍

[2022-07-04 14:01] leonardowestphal commented on #25607
I did some more tests to help you.

 Maybe that was just a coincidence, and you changed something else in the config?
You really meant "PU name and schema name"? Not "PU name and datasource name"? I'm asking because I noticed a strange behavior when the PU name and datasource name are different: https://github.com/quarkusio/quarkus/issues/26507

Yes it was just a coincidence. When I changed de PU

[2022-07-04 14:02] KyriacosP opened #26546 "Openapi Shema annotations default value issue"
### Describe the bug

When using the @Schema annotation with the defaultValue parameter the value is not converted to the correct type when the OpenAPI specification is generated by quarkus-smallrye-openapi. The issue happens with the integer and boolean types as you can see in the screenshots.

![image](https://user-images.githubusercontent.com/44581807/177170068-88f9be32-93cc-488c-a327-85baffb80

[2022-07-04 14:25] #25336 closed

[2022-07-04 14:25] JHahnHRO opened #26547 "Default Interceptor Priority should not be 0"
### Describe the bug

Interceptors and decorators that do not declare a `@Priority` themselves are assigned a priority by Quarkus and an info is printed to the log during the build, but according to the log message, the default priority is 0. This gives interceptors and decorators without any priority an unexpectedly important position in the interceptor chain, because `0 == Interceptor.Priority.P

[2022-07-04 14:35] DavideD commented on #23739
I think I might have a fix for this: https://github.com/DavideD/quarkus/tree/reactive-activerequestcontext
Once applied, it seems to solve both tests.

I have some more questions though:
* Should we also make it work for `Multi`?
* Should we check `CompletionStage`?

[2022-07-04 14:54] knutwannheden opened #26549 "SPI for performed authorization checks"
### Description

It would be nice if Quarkus had some kind of callback mechanism which would allow registering a listener which would be notified when an authorization check either failed or succeeded. An application could use this to implement a custom security logging mechanism.

Currently, this is not so simple, because depending on whether the authorization rules are declared using annotations

[2022-07-04 14:56] iocanel commented on #26385
This is the way!

This should be working as expcted, as I recently fixed some bugs around it. If not, then @spolti is either using a version prior to the fix or we have a regression.

[2022-07-04 15:35] #26423 closed

[2022-07-04 15:51] #26426 closed

[2022-07-04 17:13] victor-costa-avancee commented on #26308
I've ran into this same issue today, you can workaround it by removing " FETCH " from your query but then you will run into a N + 1 query problem.

[2022-07-04 17:29] michalvavrik commented on #26536
for record: security checks are performed twice when an RBAC annotation is on the endpoint, once when CDI bean method is annotated (by quarkus-security interceptor).

[2022-07-04 17:40] Nithanim commented on #25998
Since I switched my job and simultaneously from AWS to Azure, I would like to have a proper binding-support too. I sat down and made a proof-of-concept: https://github.com/Nithanim/quarkus-azure-generic-functions

Not ready for production because
- I have only used the http binding yet
- it is still very fresh and messy
- the source is currently a bit out-of-sync with the one at work
- I am new to

[2022-07-04 19:20] sberyozkin commented on #26317
In progress now...

[2022-07-04 19:29] DavideD commented on #23739
I've sent a PR, it should make it easier to discuss it

[2022-07-04 19:32] michalszynkiewicz commented on #26423
thanks @gsmet !

[2022-07-04 21:17] middagj commented on #23595
@zhfeng has added DevServices to the quarkus-artemis extension in https://github.com/quarkiverse/quarkus-artemis/pull/55. Would that solve this issue?

[2022-07-04 21:20] middagj commented on #5762
We have added XA support in https://github.com/quarkiverse/quarkus-artemis/pull/45, so this can be closed.

[2022-07-04 23:37] DMaxter opened #26553 "quarkus.security.jaxrs.deny-unannotated-endpoints=true blocking threads"
### Describe the bug

When using `quarkus.security.jaxrs.deny-unannotated-endpoints=true` and `quarkus.http.auth.proactive=false` with RESTeasy-reactive, an exception is thrown whenever a request is issued due to executing a blocking operation in an IO thread

### Expected behavior

Execute the request

### Actual behavior

Exception is thrown:
[code]

### How to Reproduce?

Steps:
1. Use the exte

[2022-07-05 01:14] MikeEdgar commented on #26546
This is an issue/bug for smallrye-open-api. I've opened https://github.com/smallrye/smallrye-open-api/issues/1174 to track it.

[2022-07-05 02:00] zhfeng commented on #23595
@josephearl so you want to use `quarkus-artemis` and `camel-quarkus-activemq` togather? I think you can use
[code]
when enable the Artemis DevServices.

[2022-07-05 02:17] zhfeng commented on #5762
Also there is https://github.com/quarkiverse/quarkus-pooled-jms to provide XA integration with `quarkus-narayana-jta`. So you just need to include these extensions in `pom.xml` if you want o use XA with JMS in Quarkus.
[code]
And in `application.properties`
[code]
Then you can use them in your application just like
[code]

[2022-07-05 02:23] zhfeng commented on #14871
Currently you can use `quarkus-artemis` and `quarkus-pooled-jms` together and enable `quarkus.pooled-jms.xa.enabled=true` to get the XA transaction support. A camel-quarkus jta-jpa could be found on https://github.com/apache/camel-quarkus-examples/tree/camel-quarkus-main/jta-jpa.

[2022-07-05 02:23] #14871 closed

[2022-07-05 05:30] geoand commented on #11515
@ia3andy can you have a look at the failure?

[code]

[2022-07-05 05:34] Sgitario commented on #25812
@ivansenic you're right. This is still not working for the methods annotated with `@AfterAll`. Reopening.

[2022-07-05 06:34] knutwannheden commented on #26536
I had another look at this yesterday and looked into using exception mappers to log the failed authorization checks and a CDI interceptor for successful authorizations. This asymmetry and the fact that it doesn't cover the case when [authorization rules are defined using configuration properties](https://quarkus.io/guides/security-authorization#authorization-using-configuration) (where I still hav

[2022-07-05 06:47] trixpan opened #26554 "Dependabot isn't as dependable as people would like it to be? :-)"
### Description

Hi,

was tracking a snyk vulnerability in a project we use quarkus and noticed mermaid-js was out of date.

Checking the `.github/dependabot.yml` I can wee the package should have been auto-updated, yet, seems to have been forgotten?

@gsmet tagging you as you seem to be the 3PP overlord atm. ;-)

### Implementation ideas

_No response_

[2022-07-05 06:47] geoand commented on #26553
@sberyozkin any idea what we should be doing in this case?

[2022-07-05 06:56] trixpan commented on #26554
added https://github.com/quarkusio/quarkus/pull/26555 meanwhile

[2022-07-05 06:57] geoand commented on #26554
We have a comment saying:

[code]

which is I guess why we have not added the dependency to the `dependencyManagement` section of the build-parent `pom.xml`.
I assume this is why dependabot is not updating the dependency.

[2022-07-05 07:02] ia3andy commented on #11515
It's due to the recent gitignore update, I am on it.

[2022-07-05 07:03] geoand commented on #26554
So we should either remove the comment (if it is no longer applicable), or comment out dependabot configuration for mermaid (with the appropriate explanation)

[2022-07-05 07:04] geoand commented on #24560
Closing as we never got a reproducer

[2022-07-05 07:04] #24560 closed

[2022-07-05 07:05] KyriacosP commented on #26546
ok thank you!

[2022-07-05 07:05] geoand commented on #25677
Any update on this?

[2022-07-05 07:07] geoand commented on #24428
Closing as we never got a reproducer

[2022-07-05 07:07] #24428 closed

[2022-07-05 07:07] geoand commented on #24331
Closing as we never got a reproducer

[2022-07-05 07:07] #24331 closed

[2022-07-05 07:08] geoand commented on #22714
Closing as we never got a reproducer

[2022-07-05 07:08] #22714 closed

[2022-07-05 07:11] geoand commented on #24430
Closing as we never got a reproducer

[2022-07-05 07:11] zakkak commented on #26527
This turned out to be caused by setting `JAVA_HOME` to point to an x86_64 JDK instead of an arm64 JDK, see https://github.com/oracle/graal/issues/4694

[2022-07-05 07:11] #26527 closed

[2022-07-05 07:11] geoand commented on #23224
Closing as we never got a reproducer

[2022-07-05 07:11] #23224 closed

[2022-07-05 07:12] geoand commented on #24424
Closing as we never got a reproducer

[2022-07-05 07:12] #24424 closed

[2022-07-05 07:13] geoand commented on #17807
Closing as we never got a reproducer. We can reopen if we can a reproducer (that at least sporadically reproduces the problem)

[2022-07-05 07:13] #17807 closed

[2022-07-05 07:13] loicmathieu commented on #25998
@Nithanim this is interesting, you didn't take the same approach than in GCP or AWS functions where we don't generate a proxy but use our own function class that delegates to the developer's one. I assume that due to the usage of annotation to bind to a function (instead of an interface for GCP and AWS) you don't have choice here.

I think it's a good step and we should discuss it's integration in

[2022-07-05 07:14] geoand commented on #13114
Is this still an issue or can we close?

[2022-07-05 07:14] geoand commented on #12948
Closing as we never got a reproducer

[2022-07-05 07:14] #12948 closed

[2022-07-05 07:16] geoand commented on #12427
Is this still an issue? If it is, we will need a reproducer project, otherwise we should close the issue.

[2022-07-05 07:19] geoand commented on #26536
https://github.com/quarkusio/quarkus/pull/19598 was the original change introducing the eager security feature.

From the git history of `EagerSecurityHandler` one can also see various bugs that were fixed around it.

[2022-07-05 07:23] sombraglez opened #26557 "Continuous Testing with Apicurio DevService"
### Describe the bug

When using the Apicurio DevService for testing, continuous testing (re-run from tests) is not working for integration tests (`@QuarkusTest`).

### Expected behavior

Continuous testing using DevServices for Kafka broker and schema registry must be possible

### Actual behavior

Re-run from `@QuarkusTest` with enabled DevService for Kafka broker and schema registry produce the

[2022-07-05 07:28] Shohou commented on #26003
Thank you for solution. It works

I probably should have looking in Microprofile Rest client documentation... And nothing mentions there that @Context should work in providers

I guess this can be closed then unless you want to add this case to your migration guide - https://quarkus.io/guides/resteasy-reactive-migration#client

[2022-07-05 08:00] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2613893603

[2022-07-05 08:41] josephearl commented on #23595
Thanks that should work

[2022-07-05 08:41] #23595 closed

[2022-07-05 08:51] sberyozkin commented on #26553
I haven't been involved in the implementation of the RestEasy Reactive security code, so I'll be catching up. However, #26457 done by @michalvavrik may have already resolved it.
@DMaxter Can you please try the `main` branch ?

[2022-07-05 10:09] ctron commented on #13114
In general this is still an issue. I am still unable to build the OPC UA server. However, it looks like it fails later on now.

I am not sure what to do with this TBH.

[2022-07-05 10:24] Sgitario commented on #26522
Fix in Dekorate: https://github.com/dekorateio/dekorate/pull/1010

[2022-07-05 10:31] Sgitario commented on #26003
Considering that we could inject the providers using the classic version of the REST Client, we should support the same in the Reactive REST Client.
I will work on this.

[2022-07-05 10:48] #26385 closed

[2022-07-05 11:13] #13420 closed

[2022-07-05 11:18] DMaxter commented on #26553
I have tried the main branch and the error still persists. Maybe something in the PR from @michalvavrik didn't fix the whole issue

[2022-07-05 12:16] hendrik-bammel opened #26560 "Add support for avro.codegen.avsc.imports during the Avro generation"
### Describe the bug

As i follow the documentation from [avro-code-generation-details](https://quarkus.io/guides/kafka-schema-registry-avro#avro-code-generation-details) and set the the "avro.codegen.avsc.imports" property to the path where my schema files are stored, the code generation only works if there is at least an empty "src/main/avro" folder.

### Expected behavior

The code generation s

[2022-07-05 12:21] #25812 closed

[2022-07-05 12:37] edeandrea commented on #26516
@geoand Remove `quarkus.openshift.labels."app.openshift.io/runtime"=quarkus` from `rest-fights/src/main/resources/application.properties` & run this command from the `rest-fights` directory:

[code]

Then look at `target/kubernetes/openshift.yml`. You'll notice the `app.openshift.io/runtime: quarkus` label is missing

[2022-07-05 12:44] geoand commented on #26516
Gotcha, I see what the problem is.

[2022-07-05 13:12] knutwannheden commented on #26536
FWIW, I am currently looking into the possibility of using a Vert.x handler (registered via `@RouteFilter`) to handle my use case.

[2022-07-05 13:17] brunobat opened #26562 "OpenTelemetry's traceId and spanId not logged"
### Describe the bug

Recently, it was added support to export trace information from OpenTelemetry to the log. See: https://github.com/quarkusio/quarkus/pull/25671

However, there seems not to be any data present in the logs both in dev mode and runtime.

Configs
[code]

Dependency:
[code]

### Expected behavior

Logs would show tracing data coming from the OpenTelemetry context:

`12:36:01 INFO

[2022-07-05 13:17] brunobat commented on #26562
CC @luneo7

[2022-07-05 13:23] luneo7 commented on #26562
The workaround for now is to use fat jar or native mode

[2022-07-05 13:54] fcoutinho-uolinc opened #26563 "Custom main method does not work with avro test code generation"
### Describe the bug

**Given** that you are using the **io.quarkus:quarkus-avro**  extension
**And** you have some *.avsc* inside the **src/test/avro**
**When** you try to create a custom main method (overriding the one generated by quarkus)
**Then** your custom main method is not executed
**And** it fails silently by running one generated by quarkus (when using the annotation @QuarkusMain)

###

[2022-07-05 14:07] geoand commented on #25712
Just to report on the status, I have started looking at the code but still want to take a closer look

[2022-07-05 14:12] schrieveslaach commented on #13600
Is `quarkus:generate-config` still available? If I create a new project through Quarkus CLI (version 2.10.1.Final), I cannot run `./mvnw quarkus:generate-config`. Listing all Maven goals of the plugin via `./mvnw help:describe -DgroupId=io.quarkus.platform -DartifactId=quarkus-maven-plugin -Dversion=2.10.1.Final` does not contain `quarkus:generate-config` as a Maven goal.

[2022-07-05 14:28] FroMage commented on #22205
So, I vote for the following changes:

- We allow all multipart `@RestForm` types in method parameters
- We unify the `@BeanParam` and `@MultipartForm` code generators (IIRC the only difference should be that the latter uses the serialisers instead of the `ParamConverter`, but I suspect that's an arbitrary choice not necessarily consistent with the spec or its intent. IIUC the message body reader/

[2022-07-05 14:43] radcortez commented on #13600
It was removed here: https://github.com/quarkusio/quarkus/pull/20558

I guess we should have also closed this issue.

[2022-07-05 14:52] schrieveslaach commented on #13600
That's unfortunate.

Is it somehow possible to export `http://localhost:8080/q/dev/io.quarkus.quarkus-vertx-http/config` as documentation?

[2022-07-05 15:59] evanchooly commented on #26290
@famod I was going to take another stab at the 1.7.0 upgrade but I see you have another PR under way.  You might take a look at this issue as I think they're related and we won't be able to fix one without the other.

[2022-07-05 16:19] albers commented on #26138
https://stage.code.quarkus.io/ is down at the moment (showing "Failed to load Quarkus config" but still serving a status code of 200).

I came across this issue while trying the _rest-client-reactive-quickstart_, too.

Maybe your issue is caused by that.

[2022-07-05 17:27] smil2k commented on #26378
You were right: the reverse proxy before quarkus did the buffering. Nginx buffers the requests entirely in order to be able to send it elsewhere in case of a loss of communication and/or protecting against slow byte sending attacks.

[code]

[2022-07-05 17:27] #26378 closed

[2022-07-05 17:31] sberyozkin commented on #26317
@dexxamannen @KristoferPettersson FYI, #26566, please test when you get a chance

[2022-07-05 17:36] jsjant commented on #26290
Can you please provide a link to that PR?

[2022-07-05 17:51] famod commented on #26290
@evanchooly do you mean #26278?
I stopped working on it due to lack of time. You are more than welcome to take it from there (see most recent PR comment).

[2022-07-05 17:52] sberyozkin commented on #26378
@smil2k Thanks for confirming it, I appreciate it must've been dificult

[2022-07-05 18:31] evanchooly commented on #26290
ah.  yes, i do.  i'll pull it down and see if I can't get it unstuck then.  was thinking about it all weekend. :)

[2022-07-05 18:33] patriot1burke commented on #25998
Proxy approach might work.  I'll take a look!

[2022-07-05 19:18] Nithanim commented on #25998
@loicmathieu I don't know anything about GCP but for AWS, there is just a single interface to implement. With Azure functions you can define any number of functions you want by just using annotations on any method you want. Therefore, I cannot just make one Quarkus entry point and then find the implementation of the user.

For basic functionality you "just" have to make sure that you have an entry

[2022-07-05 19:27] michalvavrik commented on #26553
I'll investigate & try to fix this later this week provided someone won't fix it till then.

[2022-07-05 20:26] famod commented on #20034
@mkouba @manovotn I suppose this

is still the case?

[2022-07-05 21:57] manovotn commented on #20034
Yeah that's still the case. Nested classes are not managed beans as per spec
https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#what_classes_are_beans

[2022-07-06 05:21] schrieveslaach commented on #13600
I want to generate such a page for my application specific properties. Is that even possible?

[2022-07-06 05:22] #26504 closed

[2022-07-06 05:54] lcy-1024 opened #26571 "Publish / Subscribe MQTT messaging dynamically."
### Description

I initiated a discussion, but I haven't received any reply. I hope quarkus can have this enhancement.
https://github.com/quarkusio/quarkus/discussions/26108

### Implementation ideas

_No response_

[2022-07-06 07:33] dexxamannen commented on #26317
@sberyozkin Perfect! we'll do some tests today! thanks for your quick effort!

[2022-07-06 07:54] rafmcpaf commented on #25677
We've upgraded to 2.10.1, and since this haven't occurred anymore.
Maybe soon to say, but first glances say this is fixed now...

[2022-07-06 07:55] geoand commented on #25677
Thanks for the update.

Let's close for now. Feel free to reopen / comment if you see the issue again

[2022-07-06 07:55] #25677 closed

[2022-07-06 08:02] peterhuba opened #26573 "Incomplete example code in testing guide"
### Description

Hello,
Seems like in the example code for starting a Postgres container in https://quarkus.io/guides/getting-started-testing#launching-containers, a call to `container.start()` is missing. Adding it was needed in my case with a localstack container.
If it's indeed missing, adding it might save some time for others trying something similar.

### Implementation ideas

_No response_

[2022-07-06 08:11] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2620545017

[2022-07-06 09:14] geoand commented on #22205
WDYM by this?

Are you sure this is enough to differentiate them?

The rest sounds reasonable to me

[2022-07-06 09:37] rosell opened #26576 "Reactive Mongo and message not work"
### Describe the bug

When try to a reactive action over the Mongo database when an event is consumed, the onItem or onFailure are never called.

I created a [project](https://github.com/rosell/quarkus-reactive-mongo-events-error)  that shows this. This project contains a startup point that try to populate the database with some data. And how you can see on the unit test the database is not popula

[2022-07-06 09:46] #26344 closed

[2022-07-06 10:00] cescoffier commented on #23916
@geoand did the fix got pushed?

[2022-07-06 10:44] Sanne commented on #12427
I'll close it - we can reopen if someone provides a valid reproducer.

[2022-07-06 10:44] #12427 closed

[2022-07-06 10:44] ozangunalp commented on #25089
@ylepikhov do you have any update on this? Were you able to use custom emitters for implementing request-reply semantics? I think we can close this one if the described issue is resolved.

[2022-07-06 11:04] geoand commented on #26576
You are not using Mutiny properly - basically you have not created a subscription for the data.
Reactive Messaging will create this subscription automatically if you return a `Multi` from your method.
I propose refactoring your `Populate` class to remove the `Emitter` and do what I mention above

[2022-07-06 11:04] #26576 closed

[2022-07-06 11:13] edeandrea commented on #23916
@cescoffier no I'm using Docker. This fails when running as a GitHub action as well.

[2022-07-06 11:17] edeandrea commented on #23916
The problem is that the test class executing the integration test uses a KafkaCompanion and is unable to reach the apicurio instance started by dev services because. My guess is that

a) the apicurio instance is not exposed outside of the container network

b) the hostname configured by dev services is specific to the container network and not reachable by the host process

I could be wrong though

[2022-07-06 11:27] geoand commented on #26573
Indeed! Would you like to submit a PR for this?

[2022-07-06 12:55] ccpatrut opened #26577 "Quarkus oidc proxy host expects protocol"
### Describe the bug

Hi guys I think you have a problem in your quarkus, keycloak oidc  implementation.

During initialization of a quarkus application which is configured with keycloak as previously mentioned during load time the method `configureProxyForAuthServerIfProvided` is called. On line 409 this expects a protocol, such as http:// or https://
https://github.com/keycloak/keycloak/blob/mai

[2022-07-06 13:01] geoand commented on #26554
cc @gsmet

[2022-07-06 13:10] sberyozkin commented on #26577
Hi @ccpatrut I'm a little bit confused, https://github.com/keycloak/keycloak/blob/main/adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/HttpClientBuilder.java is not used in `quarkus-oidc`, can you please clarify what is the problem with `quarkus.oidc.proxy.host` This is just one of the properties a user needs to pass to Vert.x client, `quarkus-oidc` is not checking `quarkus.oidc.pro

[2022-07-06 13:19] geoand commented on #26563
I could not reproduce this.

Please attach a sample project that exhibits the behavior you mention so we can debug and see what is going on

[2022-07-06 13:29] peterhuba commented on #26573
Sure, please have a look at #26580

[2022-07-06 13:34] gsmet opened #26581 "[CI] - Kubernetes end-to-end testing"
This issue will be open and closed dependent on the state of Kubernetes end-to-end testing building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2022-07-06 13:38] gastaldi commented on #24880
@ppalaga we can come up with a custom rule in the `enforcer-rules` project that would be checked against a predefined list of banned dependencies (defined in the same project, for example)

[2022-07-06 13:40] gsmet opened #26582 "[CI] - OpenShift end-to-end testing"
This issue will be open and closed dependent on the state of OpenShift end-to-end testing building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2022-07-06 13:51] ozangunalp commented on #26571
Answered the original question. Sorry it was unanswered, it didn't get any labels.

[2022-07-06 13:51] #26571 closed

[2022-07-06 13:54] kkcmadhu commented on #13602
is this feature on cards any time soon?

[2022-07-06 13:56] famod commented on #24880
Yeah, this could/should work.

Are we talking about rules enforced by the main repo or are we talking about multiple sets of rules?

[2022-07-06 13:58] gastaldi commented on #24880
@famod my understanding is that this request is for reusing this rule: https://github.com/quarkusio/quarkus/blob/main/build-parent/pom.xml#L494-L599

[2022-07-06 14:01] ppalaga commented on #24880
We (Camel Quarkus) are primarily interested in getting a way to consume the bans defined by Quarkus.

Secondarily, it would be nice be able to define more bans and replacements in a similar way on our side, so that projects (such as Camel K) based on Camel Quarkus can consume them.

[2022-07-06 14:10] ivansenic opened #26584 "Generic runtime exception mapper used for `javax.ws.rs.WebApplicationException`"
### Describe the bug

When using the `quarkus-resteasy-reactive` and adding the generic exception mapper with the default priority `Priorities.USER`, then the `org.jboss.resteasy.reactive.server.core.RuntimeExceptionMapper` that should handle "infrastructure" exceptions like `javax.ws.rs.WebApplicationException` is not actually doing it.

We have seen this for the `javax.ws.rs.NotAllowedException:

[2022-07-06 14:11] #26516 closed

[2022-07-06 14:28] ccpatrut commented on #26577
Hi @sberyozkin  thanks for your fast reply.

Following the guide at https://quarkus.io/guides/security-keycloak-authorization one must use both oidc and keycloak-authorization.

Indeed the quarkus-oidc is just passing it, but so does keycloak-authorization through KeycloakPolicyEnforcerRecorder.java in createPolicyEnforcer.

By following the stacktrace of keycloak-authorization it ends up using th

[2022-07-06 14:38] joggeli34 opened #26586 "workingDir in quarkusDev not respected by gradle anymore"
### Describe the bug

We set the workingDir in gradle like the following:

[code]

We use this, so that the configuration `config/application.properies` is found and loaded for dev-mode. Since 1.10.x this isn't working anymore and it tries to load the config `\build\classes\java\main\config\application.properties` like when the workingDir is not set.

### Expected behavior

It should load the conf

[2022-07-06 14:59] edeandrea opened #26587 "Route generated by OpenShift extension should use named port"
### Describe the bug

When generating openshift yamls using the OpenShift extension, the `Route` object that gets generated should use named ports. This is especially important if you run the application on a different port than the default (i.e. by setting `quarkus.http.port` to something).

### Expected behavior

I would expect the `Route` to look like this:

[code]

### Actual behavior

But ins

[2022-07-06 15:07] LazaroR94 opened #26588 "QuarkusDev not working with Kotlin version 1.7.0"
### Describe the bug

After upgrading to the new kotlin version **1.7.0** quarkusDev fails to run with the following stacktrace:

[code]

### Expected behavior

QuarkusDev should run as intended

### Actual behavior

[code]

### How to Reproduce?

1. Spin up a new quarkus kotlin project (I use Gradle)
2. Ensure you target kotlin version 1.7.0 as the JVM target (i.e.: `plugins { kotlin("jvm") versi

[2022-07-06 15:09] sberyozkin commented on #26577
@ccpatrut I see, thanks for the clarification, will try to fix shortly

[2022-07-06 15:17] evanchooly commented on #26588
related to/duplicates #26290

[2022-07-06 15:31] #26553 closed

[2022-07-06 16:05] radcortez commented on #13600
Not at the moment. There is an issue with that: https://github.com/quarkusio/quarkus/issues/19020

[2022-07-06 16:11] #22027 closed

[2022-07-06 16:26] abeosoft opened #26589 "Openshift and Docker Extension Dependencies not activating from an activated Maven Profile"
### Describe the bug

I have a project that uses the Docker and Openshift extensions. I created a maven profile for the Openshift/Docker build. I am using standard Quarkus flags/Environment Variables to configure and activate certain features. I prefer using Maven profiles to isolate different configurations geared towards different environments (local: Minikube vs, Dev: Openshift)
When I add the

[2022-07-06 16:46] fcoutinho-uolinc commented on #26563
[avro-test.zip](https://github.com/quarkusio/quarkus/files/9056625/avro-test.zip)

In this sample if you run `./gradlew quarkusDev` you will see that the main method is not executed (message is not printed)

If you want it to work you need to:
- Delete the `src/test/avro` folder (with the schema in it)
- Run `./gradlew clean cleanTest`
- Run `./gradlew quarkusDev`

Then you will see the message "W

[2022-07-06 17:01] sberyozkin commented on #26317
@dexxamannen I've added one more test with private PEM key and it works OK, but indeed there was NPE there when trying to read it first as JSON, I got it fixed. PEM key is using a `PKCS#8` format.

[2022-07-06 17:10] masquerade0x1 opened #26591 "Injection point marked with @Autowired(required=false) results in a build error"
### Describe the bug

I have a multi-module application that I am experimenting with to migrate to Quarkus from Spring. I am currently using the quarkus-spring-di API. The utility/library module has an interface for which a bean would be provided by a higher-level consumer package. I currently make use of the Autowired(required=false) to implement this.

I was able to reproduce the issue with a si

[2022-07-06 17:18] #26588 closed

[2022-07-06 17:19] LazaroR94 commented on #26588
Thank you @evanchooly, I will close this issue for now to prevent any duplicate threads about this same bug.

[2022-07-06 18:01] #26431 closed

[2022-07-06 20:23] vonatzigenc opened #26594 "@InjectMock with reactive RestClient breaks the RestClient for subsequent tests"
### Describe the bug

If a RestClient is mocked with `@InjectMock` (from `io.quarkus:quarkus-junit5-mockito`) in a test, the reactive RestClient will not work correctly for subsequent tests without mocks.

However, the error occurs only when `io.quarkus:quarkus-rest-client-reactive-jackson` is used. With the classic RestClient (`io.quarkus:quarkus-rest-client-jackson`), the RestClient is reset as

[2022-07-06 20:46] glefloch commented on #26594
/cc @geoand

[2022-07-06 21:10] famod commented on #26594
I wouldn't be surprised if this is connected to https://github.com/quarkusio/quarkus/pull/26556#issuecomment-1176730396 because that test of mine that breaks subsequent tests is using `@Nested` _and `@InjectMock`!_ (but not `@RestClient`)

[2022-07-07 04:16] geoand commented on #26587
@iocanel do you agree with what Eric proposes?

[2022-07-07 04:17] geoand commented on #26589
Do you have a sample project you could share?

Thanks

[2022-07-07 05:02] naah69 opened #26596 "form data in HttpServerRequest is null"
### Describe the bug

the context-type is `application/x-www-form-urlencoded`

it can be convert by @FormParam like the below:
![image](https://user-images.githubusercontent.com/25682169/177694742-b644d3f0-e542-4a2f-b874-716b3212653e.png)

but it can't be read by HttpServerRequest.
![image](https://user-images.githubusercontent.com/25682169/177695018-26fbc9e4-819b-43f1-abc1-408234e2a92f.png)

###

[2022-07-07 05:30] geoand commented on #26594
I'll take a look

[2022-07-07 05:57] geoand commented on #26594
https://github.com/quarkusio/quarkus/pull/26597 takes care of the issue

[2022-07-07 07:08] mkouba commented on #26591
CC @geoand

[2022-07-07 07:11] geoand commented on #26591
We don't really support `required=false` on `@Autowired`.

@mkouba I assume there isn't anything analogous in CDI is there?

[2022-07-07 07:14] mkouba commented on #26591
Nope. You can only inject `javax.enterprise.inject.Instance` and then test `Instance.isResolvable()` if needed.

[2022-07-07 07:15] geoand commented on #26591
That's what I thought, thanks

[2022-07-07 07:17] geoand commented on #26563
@aloubyansky, @glefloch this seems to be a problem with Quarkus Bootstrap + Gradle in dev-mode (prod mode works properly).
The `quarkusDev` task ends not adding the `java` and `kotlin` output directories to the applicaton root.

Mind taking a look?

Thanks

[2022-07-07 07:30] glefloch commented on #26563
Yes I will have a look

[2022-07-07 07:33] geoand commented on #26563
Thanks!

[2022-07-07 07:41] uetal commented on #20802
hi @phillip-kruger it's still pending?

[2022-07-07 07:46] phillip-kruger commented on #20802
still pending. PRs welcomed

[2022-07-07 07:55] Postremus opened #26599 "custom content-length header is not used with resteasy-reactive"
### Describe the bug

I have following resource:
[code]

Thanks to #26464, the content-length I set should now be used in the request.
However I get the exception from below upon calling the resource.
The request never finishes.

If I remove content-length, quarkus correctly adds Transfer-Encoding: chunked again. This bug is therefore at least not a regression.

I debugged `Http1xServerResponse#wr

[2022-07-07 08:02] mkouba commented on #20034
Well, _non-static nested classes_ (i.e. inner classes) just to be precise... _static nested classes_ are just fine ;-)

[2022-07-07 08:09] albers commented on #26138
https://stage.code.quarkus.io/ is available again.

[2022-07-07 08:09] mkouba commented on #23739
@cescoffier @FroMage what exactly do we do? I thought that one should never use `@Transactional` with hibernate reactive and if really needed then just use `@ReactiveTransactional` instead...

[2022-07-07 08:24] mkouba commented on #26526
You don't need to attach the whole jar but the `ObjectMapperProducer_ProducerMethod_objectMapper_7d4fe425e6f58abcbdd78addaab8a43fdb7ab3ae_Bean.class` which is a framework class so it should be OK ;-)

[2022-07-07 08:51] ozangunalp commented on #23916
First of all, I am running into another issue running integration tests on a container image build. Using minikube as docker machine, the docker host is not on localhost, but on 192.168.205.4. But the test uri's injected into tests with `@TestHTTPResource` have `localhost`. I had to pass `-Dtest.url='http://192.168.205.4:${quarkus.http.port}'` to the command line for it to work.

I think the descr

[2022-07-07 09:07] Postremus opened #26600 "add support for parts with same name in resteasy reactive"
### Description

I want to map my request using a multipart/form-data (for file upload), but I also need to support a dynamic amount of input fields.
These could be mapped liked this:

[code]

This is however currently not supported by resteasy-reactive.
I get a status code 415 as response.

The request can be send like this:
[code]

Resulting in this message body:
[code]

### Implementation ideas

[2022-07-07 10:02] geoand commented on #26599
Can you try with `"Content-Length"` instead of `"content-length"`?

[2022-07-07 10:05] DavideD commented on #23739
`@Transactional` doesn't work with Hibernate Reactive, but you can use it in other cases: https://quarkus.io/guides/transaction#reactive-extensions

That said, this use case seems simpler and I wouldn't introduce a second annotation.

[2022-07-07 10:13] Postremus commented on #26599
@geoand same exception

[2022-07-07 10:16] geoand commented on #26599
Interesting because this looks exactly like the test I added in #26467

[2022-07-07 10:24] Postremus commented on #26599
@geoand It also works for me with a lower number of uuid copies. For 200 the file downloads, for 500 I get the exception from above.
So it is most likely related in some form to the size of the response body.

[2022-07-07 10:25] geoand commented on #26600
I think this is reasonable.

[2022-07-07 10:48] dfa1 commented on #26526
@mkouba oh yes, that will simplify a lot my life :)
[ObjectMapperProducer_ProducerMethod_objectMapper_7d4fe425e6f58abcbdd78addaab8a43fdb7ab3ae_Bean.class.zip]
(https://github.com/quarkusio/quarkus/files/9062830/ObjectMapperProducer_ProducerMethod_objectMapper_7d4fe425e6f58abcbdd78addaab8a43fdb7ab3ae_Bean.class.zip)

[2022-07-07 10:56] geoand commented on #26599
Can you try out https://github.com/quarkusio/quarkus/pull/26601 please?

I tried it with your reproducer and it worked.

[2022-07-07 11:16] edeandrea commented on #26587
It's kinda broken without this change. I need to manually patch the `Route` to either change the `targetPort` to `80` (to match what the `Service` exposes) or I have to patch it to `http`.

I'd argue that the named port is less brittle than a hard-coded port.

[2022-07-07 11:38] geoand commented on #26600
As a workaround for the time being, you can use a Java array... Definitely not ideal, so I'll add List support as well.

[2022-07-07 11:45] mederel opened #26603 "Kafka dev service redpanda container failing with Text file busy"
### Describe the bug

While using the Kafka Dev service I entered into a racing condition on the writing of the startup redpanda.sh script and its execution resulting in the following stacktrace:

[code]

### Expected behavior

The dev services / redpanda container start correctly and the QuarkusTest depending on it executes correctly.

### Actual behavior

In a racing condition the following star

[2022-07-07 11:54] ozangunalp commented on #26603
This is known and only happens rarely as you mentioned. I don't think we can have a fix. As container runtimes still don't support injection port mappings into the container (at least to my knowledge), we need to do this hack to start the broker with the correct advertised addresses.

[2022-07-07 11:56] andrejpetras opened #26604 "Quarkiverse extension MockServer"
### Description

Hi,
I would like to propose a new Quarkiverse extension for Testcontainer MockServer. It uses devservices to start MockServer container for testing/developing. There is a simple configuration and integration in the Quarkus test.

[code]

My PoC: https://github.com/lorislab/quarkus-mockserver

### Configuration suggestion

The rest-client could be configured in [application.propert

[2022-07-07 12:06] geoand commented on #26600
https://github.com/quarkusio/quarkus/pull/26606 takes care of it

[2022-07-07 12:17] geoand commented on #26596
How are you using `HttpServerRequest`?

[2022-07-07 12:19] geoand commented on #26584
I assume this works with RESTEasy Classic?

[2022-07-07 12:23] geoand commented on #26547
Agreed

[2022-07-07 12:24] geoand commented on #26547
@mkouba @manovotn if you decide to not go forward with this, please close the issue with the proper label.

Thanks

[2022-07-07 12:29] Postremus commented on #26600
yes, thank you. The workaround with array, while not pretty, enables this use case in the mean time.

[2022-07-07 13:36] dexxamannen commented on #26317
Hi!
Okey I understand now 👍
When I generating the JWK at https://mkjwk.org/. I leave the "key use" blank, it can be Signature, Encryption or not specified. In case of "not specified" I get the alg attribute with RSA256.
example of Public and Private Keypair:
[code]
I did a try with the latest using our PEM file. it works now, thanks!
Best Regards
/Daniel

[2022-07-07 13:56] #26603 closed

[2022-07-07 13:59] flazarus1A opened #26610 "quarkus-spring-boot-properties does not support @Bean annotated methods"
### Describe the bug

As per Spring's `@ConfigurationProperties` annotation javadoc, the following syntax is supported:

[code]

However, when run in a quarkus context with the quarkus-spring-boot-properties extension, Quarkus duplicates the bean, which fails the build:

[code]

### Expected behavior

Quarkus should define a single bean for a method annotated with Spring `@Bean` and `@Configuratio

[2022-07-07 14:36] gastaldi commented on #26604
Repository created: https://github.com/quarkiverse/quarkus-mockserver

Enjoy!

[2022-07-07 17:42] famod commented on #9052
FWIW, especially when data comes from a relational DB, I'd strongly suggest to use keyset pagination instead of a "numbered pages" approach (which most likely boils down to some kind of LIMIT approach).
See also: https://use-the-index-luke.com/no-offset

Having said that, not many frameworks support keyset pagination, but we are quite happy with blaze persistence (and a custom mini-framework on to

[2022-07-07 18:12] lujop opened #26613 "Register for reflection extension"
### Description

I created an extension for my own use to be able to register complete dependencies or packages using patterns:
https://github.com/lujop/quarkus-register-reflection

For me, it's useful because it allows using of arbitrary external dependencies in an easy and fast way if a dedicated extension didn't exist.
For example, in my case, I was developing a lambda function for a telegram b

[2022-07-07 19:59] lujop commented on #26613
Thanks, @gastaldi, I already knew the annotations, but you have to do it for each class one by one, haven't you? Is there any way to put complete packages?
Because for example in my case for telegrambot application there are a lot of API classes, and doing them one by one doesn't seem the best way to me. It's tedious and error-prone, and if I update the library I need to check if there are new cla

[2022-07-07 20:39] StephenOTT opened #26614 "Clarify usage of OIDC between web_app and service + limitations of Providers such as Microsoft when using Service (Using Microsoft to protect a Service Application)"
### Description

The current OIDC docs explain there are predefined providers such as Microsoft, twitter, GitHub, etc.  But they are for web_app usage (this is written in the docs, but VERY easy to miss).  Furthermore there are significant configs needed to make these providers work when you have  `quarkus.oidc.application-type=service`.

To make it all work with the Dev UI Swagger UI, there are e

[2022-07-07 21:08] sberyozkin commented on #26614
@StephenOTT Thanks, but lets keep Swagger UI related concerns in a separate issue, please move it to a new issue otherwise.

A general comment: we try our best for `quarkus-oidc` to support all the variations but we are not the experts in all the providers out there, so users need to help us tune the docs, provide some additional info related to the providers.
Example, `Also ensure that your acces

[2022-07-07 21:14] StephenOTT commented on #26614
original comment has been updated with clarifications.

[2022-07-07 21:15] sberyozkin commented on #26614
Sounds good, and np at all, there was no need to change the original one, I can be a bit sensitive if quarkus-oidc is said not to function but I can handle that at the same time :-)
I agree we need to improve the well known providers docs - the version you are seeing was the very first try, but more has to be done.
Thanks for your input

[2022-07-07 21:19] StephenOTT opened #26615 "OIDC configurations should configure Swagger UI"
### Description

continuation of #26614

when you configure oidc with configs such as the auth url with `quarkus.oidc.auth-server-url=https://...` the Dev Ui Swagger UI does not receive the proper configurations:

Currently you have to also set:

[code]

If you do not set the above, then the Swagger UI does not read from the well-known and the Auth modal does not work.

### Implementation ideas

W

[2022-07-07 21:20] StephenOTT commented on #26614
Second issue for OIDC Swagger UI has been crated https://github.com/quarkusio/quarkus/issues/26615

[2022-07-07 21:35] sberyozkin commented on #26317
Hi @dexxamannen Thanks, yeah, I guess it defaults to RS256 when the action is unspecified. But I've just tried - if you set the algorithm to `RSA-OAEP` then it will all be correct

[2022-07-07 21:41] sberyozkin commented on #26614
@StephenOTT cool, thanks

[2022-07-07 21:45] sberyozkin commented on #26615
Hey @phillip-kruger Can you please investigate when you get a chance ? Reading the metadata can be copied from OIDC Dev services code. Or we can consider some other options

[2022-07-07 21:47] sberyozkin commented on #26615
Moving some content from #26614
[code]

[2022-07-07 21:53] StephenOTT commented on #26614
@sberyozkin a good practice may be to only add additional providers when they show ~docs for app-type: web_app, service, and hybrid, or at least demonstrate that they do not work with XYZ app-types due to abc limits with the provider.

That should resolve any future confusion about configs and usage.

[2022-07-07 22:08] sberyozkin commented on #26614
@StephenOTT  I agree. All the documented  providers should be reviewed

By the way, I shoud've added that any provider properties can be overridden, for example:

[code]

[2022-07-07 23:28] alexeysharandin commented on #25712
Hi  Georgios,
I'm not sure what I can find why based on this info :) I'm OOO till 11th of July and not sure what can help here... but I propose to sit together in zoom or something else and look one more time together

[2022-07-07 23:52] StephenOTT commented on #26614
Maybe it would good to add code links in the docs on each provider enum to so we can easily find the config that was used for that provider. The differences are pretty significant

[2022-07-08 01:00] turing85 commented on #5762
@zhfeng that is a very, very useful extension! Does it support native compilation? Also, is it possible to create the pooled connection factories manually (in case we need more than one, thinking of camel),

[2022-07-08 01:41] zhfeng commented on #5762
@turing85 yeah, it does support native compilation. I think it could be used to create pooled connection factories manually and what is your case in camel?

[2022-07-08 02:41] gastaldi commented on #26613
@lujop Right, that's not how this annotation was designed to work.

I agree that enabling a dependency to be native-compatible requires some investigation work and, based on my experience, not all classes from a library require reflection (as you also have pointed out), so you may skip a lot of classes and add only what's necessary using the `@RegisterForReflection` annotation. Adding unnecessary

[2022-07-08 03:38] geoand commented on #25712
Sure yeah, lets do that next week

[2022-07-08 03:39] #26599 closed

[2022-07-08 03:39] #26600 closed

[2022-07-08 06:45] mkouba commented on #26526
It seems that `Arc.container()` returns `null` which should never happen in runtime in production mode unless there's some weird classloading problem...

[2022-07-08 07:43] mkouba commented on #26479
I see. So in general Qute reports the beginning of an expression, i.e. column 47 for `{item.discountedPricesss}`. This is expected. However, in case of a section parameter (`{#if}`), it's a bit more complicated because there is no expression node in the template tree. I think that we try to compute the value and it seems there's a bug. It should be column 18 or something like that (the beginning o

[2022-07-08 07:49] naah69 commented on #26596
i get `HttpServerRequest ` by `CDI.current().select(RoutingContext.class).get().request()`.

i wanna get queryParam、param and formData from `HttpServerRequest` like the below.
[code]

when i use `@FormData`, i can get form data from `CurrentRequestManager.get().getFormData()`,but `request.formAttributes()` is null.
![image](https://user-images.githubusercontent.com/25682169/177943294-01f075f0-57d6

[2022-07-08 07:57] darraghc345 opened #26619 "OIDC Client repeatedly adds client-id when no secret is specified"
### Describe the bug

When configuring an OIDC client, if only the client-id is used for the request, then the client id will be concatenated to every request until an new instance of the client is created.

Issue comes from how the formBody is created.

OidcClientImpl.getJsonResponse(...) line 111

[code]

We are using Quarkus version 2.7.5.Final.

### Expected behavior

client-id should only be

[2022-07-08 08:02] geoand commented on #26596
What you are describing is the expected behavior

[2022-07-08 08:03] #26596 closed

[2022-07-08 08:41] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2634018339

[2022-07-08 09:34] mkouba commented on #26479
I don't see an easy way to reliably identify the column of an expression used as a section param. Therefore, we'll report the column of the section for the moment and we'll try to improve the `io.quarkus.qute.SectionHelperFactory` API later.

[2022-07-08 10:08] sberyozkin commented on #26619
Sure, the situation where a password grant is used with a public client has never been considered, I'm assuming it is a test case scenario as opposed to the production case. But we'll need to fix it it anyway

[2022-07-08 10:22] geoand commented on #10682
This is pretty old and likely not an issue anymore, so I'll close it.

If it's still a problem, feel free to comment

[2022-07-08 10:22] #10682 closed

[2022-07-08 10:22] geoand commented on #10661
Closing this as we didn't get feedback

[2022-07-08 10:22] #10661 closed

[2022-07-08 10:24] geoand commented on #10498
This is pretty old and likely not an issue anymore, so I'll close it.

If it's still a problem, feel free to comment

[2022-07-08 10:24] #10498 closed

[2022-07-08 10:25] geoand commented on #10495
Seems pretty far out of date, so I'll close it.
If there is still something to be done, feel free to reopen

[2022-07-08 10:25] #10495 closed

[2022-07-08 10:26] geoand commented on #11329
Is this still an issue?

[2022-07-08 10:27] geoand commented on #11089
Is this still an issue?

[2022-07-08 10:28] geoand commented on #11543
Is this still an issue with the latest versions of Quarkus?

[2022-07-08 10:33] pschyma opened #26623 "2.10.2 breaks quarkus-oidc extension"
### Describe the bug

Switching to Quarkus 2.10.2 (from 2.10.1) breaks the quarkus-oidc extension with a method not found on startup (dev, prod and test).

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjdk version "11.0.15" 2022-04-19 OpenJD

[2022-07-08 10:37] geoand commented on #11905
We now have integration with ubx (which the GraalVM team recommends to use with native-image), so I'll close this as done

[2022-07-08 10:37] #11905 closed

[2022-07-08 10:40] geoand commented on #11903
Is this still an issue? I am still not able to reproduce it

[2022-07-08 10:41] geoand commented on #11773
Is this still an issue?

[2022-07-08 10:46] sberyozkin commented on #26623
@pschyma May be something got mixed up in your local repository ?

[2022-07-08 10:47] sberyozkin commented on #26623
@cescoffier Hi Clement, are you aware of any related Vert.x changes which might've got into 2.10.2.Final ?

[2022-07-08 10:48] cescoffier commented on #26623
Nope, but I may have missed something.

[2022-07-08 10:50] geoand commented on #12222
I am going to close this as `won't fix` since we are putting all our effort into RESTEasy Reactive when it comes to our HTTP stack

[2022-07-08 10:50] #12222 closed

[2022-07-08 10:52] geoand commented on #12248
I am going to close this as we now have https://quarkus.io/blog/quinoa-modern-ui-with-no-hassle/.

You can follow up with requests for improvement on that front in https://github.com/quarkiverse/quarkus-quinoa

[2022-07-08 10:52] #12248 closed

[2022-07-08 10:53] geoand commented on #12403
Closing as this is pretty old.

Feel free to comment or reopen if it's still an issue

[2022-07-08 10:53] #12403 closed

[2022-07-08 10:54] geoand commented on #12416
Closing as this works in [REST Client Reactive](https://quarkus.io/guides/rest-client-reactive) which is the REST Client we support going forward

[2022-07-08 10:54] #12416 closed

[2022-07-08 10:55] geoand commented on #12400
@toniocus I would very much like to know how documenting the internals would help you justify the decision to use Quarkus.

[2022-07-08 11:00] geoand commented on #12777
This should be addressed by https://github.com/quarkiverse/quarkus-jdbc-sqlite

[2022-07-08 11:00] #12777 closed

[2022-07-08 11:04] geoand commented on #13150
This is out of date as Quarkus does try both Docker and Podman by default

[2022-07-08 11:04] #13150 closed

[2022-07-08 11:06] geoand commented on #13969
@michalszynkiewicz does the Reactive REST Client support HTTP 2 ?

[2022-07-08 11:11] geoand commented on #15265
Where do you envision Kryo would be used?

[2022-07-08 11:12] geoand commented on #15167
Does this work with RESTEasy Reactive?

[2022-07-08 11:17] geoand commented on #15473
Is this still something we want?

[2022-07-08 11:19] geoand commented on #15615
There was another fix in https://github.com/quarkusio/quarkus/pull/26171.

@zakkak would it make sense to add some kind of nightly job to ensure that the simple case does not break?

[2022-07-08 11:20] geoand commented on #15123
This would be amazing to have as it's one of the most common questions I get whenever I am giving a Quarkus presentation

[2022-07-08 11:22] geoand commented on #16217
Closing as we never got feedback

[2022-07-08 11:22] #16217 closed

[2022-07-08 11:23] geoand commented on #16572
I think we can close this as it sounds to powerful to put in users hands in the general case. An extension can easily do it if necessary

[2022-07-08 11:23] #16572 closed

[2022-07-08 11:24] geoand commented on #16550
Closing as we never got feedback

[2022-07-08 11:24] #16550 closed

[2022-07-08 11:27] geoand commented on #16406
This was actually re-reported in #26016 and was fixed in https://github.com/quarkusio/quarkus/pull/26101

[2022-07-08 11:27] #16406 closed

[2022-07-08 11:31] pschyma commented on #26623
It seems like a problem with mixed vertx jar versions. The final classpath ends up with vertx 4.2.7 except of vertx-core where 4.3.1 is used. This is not happening in 2.10.1.

Forcing the vertx-core resolves the problem:
[code]

[code]

[2022-07-08 11:35] zakkak commented on #15615
Well if we want to "support" it, I guess it would.

It's not clear to me what needs to be tested though. Are we talking about polyglot support in JVM mode only or both in JVM and native modes. Are we interested in all supported languages or only JS?

[2022-07-08 11:36] geoand commented on #15615
We don't really support it, but it would be nice if we could just ensure that some Hello World (I guess with JS) works

[2022-07-08 11:43] sberyozkin commented on #26623
@aloubyansky Hi Alexey, can you have a quick look please ?

[2022-07-08 11:49] aloubyansky commented on #26623
@pschyma does it work without `force("io.vertx:vertx-core:4.2.7")`?

[2022-07-08 11:59] gsmet commented on #26623
Do you enforce our BOM? Because it should enforce the Vert.x version.

It would probably be a good idea to show us your dependency setup.

[2022-07-08 12:02] iocanel commented on #15473
Absolutely.

I think that we need a flag that makes the generation idemptent. When this falg is enabled we should remove these properties and also use a static image repository / group instead of using the username.

[2022-07-08 12:03] zakkak commented on #15615
The way I see it adding a test means that we support it (at least the simple scenario that the test will implement, that's why I added the quotes in my first comment) since a failure in that test will result in someone checking what's wrong and fixing it to make the test passing again :)

[2022-07-08 12:07] geoand commented on #15615
You have a point there. I guess I am hoping that a "fix" will be a one liner like the previous ones :)

[2022-07-08 12:18] rsearls commented on #15167
This is pre RESTEasy Reactive?

[2022-07-08 12:19] StephenOTT commented on #26615
@sberyozkin I updated the first comment.  I think 99% of the comments in the snippet are more relevant for when using the Microsoft provider.  For example the commentary on the dummy scope is purely related to the microsoft OIDC to force a JWT instead of receiving an opaque token.

[2022-07-08 12:19] geoand commented on #15167
It is yeah, I'm just wondering whether RESTEasy Reactive already addresses it or not

[2022-07-08 12:21] rsearls commented on #15167
I have no idea.  resteasy has undergone major changes since this was filed.

[2022-07-08 12:22] loicmathieu commented on #11992
Yes, but keep in mind that Spring Data should be a compatibility layer on top of a Quarkus technology, so I strongly suggest to first provides a Redis with Panache etension then a Spring Data one.

[2022-07-08 12:26] StephenOTT commented on #26614
@sberyozkin using the provider=microsoft as a default and then overriding seems ~risky when flipping between web_app, service, ad hybrid.  For example when you implement `Microsoft` the issuer is set to `any`; if feels like there should also me a set of configs per provider/app-type pair.

If each provider was documented/tested on its usage for web_app, service, and hybrid then I would imagine bei

[2022-07-08 12:28] geoand commented on #11992
Definitely

[2022-07-08 12:29] geoand commented on #15167
Thanks for the update.

Let's close this if we don't get any feedback

[2022-07-08 12:53] Sanne commented on #24842
this was fixed by @dreab8 in Hibernate ORM, so we'll have a fix when merging #26625

[2022-07-08 13:01] manovotn commented on #16572
If Quarkus, once on EE 10 deps, decides to support CDI Lite extension model, all of this can be done in a standardized way. However, it still entails some form of an extension :)

[2022-07-08 13:08] #26594 closed

[2022-07-08 13:12] #26610 closed

[2022-07-08 13:13] aloubyansky commented on #26623
I don't think it would build w/o importing the quarkus-bom.

@pschyma you are overriding a version of a dependency that is present in the quarkus-bom, as a result, you are changing the original classpath of the extensions. As a consequence, "2.10.2 breaks quarkus-oidc extension" isn't an accurate claim. This sort of conflict may happen in case you start changing the Quarkus version constraints. So

[2022-07-08 13:52] nderwin commented on #26296
Any updates on this?  It's kind of a show-stopper for me for using this in a customer's project;  I'd be happy to contribute some code, but I haven't had much luck in understanding how to write a test to simulate this situation so I could try changing the code to fix it.

[2022-07-08 14:25] famod commented on #24842
Awesome, thanks @dreab8 & @Sanne!

[2022-07-08 14:26] sjaakd opened #26627 "Exception "java.sql.SQLException: Connection acquired without transaction." while starting"
### Describe the bug

Two (related?) warning messages are printed during startup.

The exception:
[code]
 seems to be related to the setting:
`quarkus.datasource.jdbc.transaction-requirement=warn`

The message `WARN  [io.agr.pool] (agroal-11) Datasource '<default>': Closing connection in incorrect state CHECKED_OUT` seems to be related to `quarkus.datasource.jdbc.flush-on-close=true`

### Expected

[2022-07-08 14:28] aloubyansky commented on #26623
I previously checked the main branch of Quarkus and the Vert.X version was 4.3.1 there. So it will be aligned in Quarkus 2.11. However, you still should be using `enforcedPlatform` to stay safe (for the most part).

[2022-07-08 15:06] ia3andy commented on #24640
Done!

[2022-07-08 15:06] #24640 closed

[2022-07-08 15:15] ia3andy opened #26628 "Add the option --with-codestart when generating new Quarkus extensions"
### Description

Add the option `--with-codestart` when generating new Quarkiverse extensions

### Implementation ideas

_No response_

[2022-07-08 15:31] sberyozkin commented on #26317
@dexxamannen, this PR will need more work as I've totally forgotten it won't work in a multi-tenancy case, i.e, we can't have a decryption key between different tenants. It is not a real technical issue but will require a bit more work.

Let also clarify, you've mentioned earlier you are using a `private_key_jwt` authentication method. Do you use the same private key to sign and decrypt ? @pedroig

[2022-07-08 16:40] bademux commented on #11903
@geoand yep https://github.com/GoogleContainerTools/jib/issues/3347#issuecomment-1151283880

[2022-07-08 17:39] turing85 commented on #5762
@zhfeng Imagine multiple camel routes using different JMS queues/topics (e.g. reading from one queue, writing to another, but more complex scenarios are also possible). In this scenario, we'd need one connection factory per queue/topic.

[2022-07-08 21:46] toniocus commented on #12400
@geoand as you can imagine trying to change from spring/spring-boot is not an easy decision, it has a well established reputation in the sense of stability and consistency, and also well known problems when dealing with Serverless/Cloud development.

Startup time and size was not a big problem sometime ago, although everybody had comments around it.

Understanding how both of these problems are ta

[2022-07-09 03:59] geoand commented on #12400
Thanks a lot for the feedback @toniocus.

I'll see what can be done to address the issue

[2022-07-09 05:04] #25850 closed

[2022-07-09 05:49] dfa1 commented on #26526
it happens under heavy load, few times in a row... then the service recovers, and continue to operate normally.

By the way, I will try to remove this `GzipSupport` and use the native gzip support of resteasy and maybe I will migrate to reactive resteasy too.

[2022-07-09 13:00] glefloch commented on #26586
@joggeli34 do you mean version 1.10.x or 2.10.x ?

[2022-07-09 16:05] laurentperez commented on #12400
@toniocus you should pick an extension and read its source, together with https://quarkus.io/guides/writing-extensions#bytecode-recording

I'm being a bit reductive but size and startup time are being tackled using bytecode generation at build time. So you should really look at what the `@Recorder` annotation does.

As for Quarkus versus framework X or Y well you should simply prototype them. Each

[2022-07-09 21:11] michalszynkiewicz commented on #13969
Vert.x HTTP Client supports http/2.
HTTPClientOptions don't have a setting for enabling http/2 so I guess rest client reactive should just use it if available but I never tested it.

[2022-07-09 21:27] michalszynkiewicz commented on #13969
I was wrong, there is an option to specify HTTP/2, you do it with `HTTPClientOptions#setProtocolVersion(HttpVersion.HTTP_2)`.

[2022-07-09 21:52] famod commented on #26627
`quarkus.datasource.jdbc.transaction-requirement` could be very useful, but as of now it's kinda crippled by fact that some connections opened by some extensions (e.g. hibernate metadata retrieval, like in your stacktrace, or liquibase/flyway) are not using a transaction _by design_ and there is no SPI yet through which those extensions could tell Agroal to back off in these cases.
See also: https

[2022-07-10 04:12] abeosoft commented on #26589
Thanks for the follow-up. yes, I created a sample repository that has the dependencies I need. If you run a simple ```shell script ./mvnw compile quarkus:dev```, you will get an error complaining about the two dependencies: Openshift and Docker being declared. Please refer to the last section in the README file for a sample command. I have seen in one of the forums that there is an option in Quark

[2022-07-10 07:44] franck102 commented on #23483
Same problem here, starting from the Greeting archetype:
[code]

I simply added
[code]
to application.properties and started Quarkus using quarkus:dev.

The GreetingResourceIT test won't run, it spits out
[code]

[2022-07-10 07:45] franck102 opened #26635 "@Singleton bean with @ServerRequestFilter is removed in @QuarkusTest"
### Describe the bug

Starting from a barebone Greeting project:
[code]
I have added a single LoggingFilter bean:
[code]
The filter works fine if I start Quarkus in dev mode using the quarkus:dev maven goal:
[code]
... however the filter is not registered when running QuarkusTest or QuarkusIntegrationTest:
[code]
The test passes but requests/responses are not logged

### Expected behavior

I would

[2022-07-10 07:58] franck102 commented on #26635
Adding @Unremoveable to the LoggingFilter bean fixes the issue... is that the correct approach?

After reading [https://quarkus.io/blog/unused-beans/](url) I would assume the the filter should be recognized by the resteasy extension, and not removed?

[2022-07-10 09:17] naah69 commented on #26596
i can get form body from `request.formAttributes()`.

[2022-07-10 09:48] sberyozkin commented on #26317
@dexxamannen Please ignore my last comment, some Friday confusion on my part, `OidcProvider` holding the decryption key is tenant-specific

[2022-07-10 11:33] MikeEdgar commented on #26461
I'm looking into this in https://github.com/smallrye/smallrye-open-api/issues/1173, please feel free to assign to me.

[2022-07-10 11:45] geoand commented on #26461
Thanks, done

[2022-07-10 11:46] geoand commented on #23483
What version of Quarkus are you using?

[2022-07-10 11:58] joggeli34 commented on #26586
My fault, I mean 2.10.x.
Sorry

[2022-07-10 16:23] sberyozkin commented on #26317
@dexxamannen the fallback to the already configured `private_jwt_key` has been added so if it the same key which you use then you won't need to add `decryptionKeyLocation`

[2022-07-10 17:25] #26317 closed

[2022-07-10 18:03] stephan-strate opened #26639 "`QuarkusTestResource` with `restrictToAnnotatedClass` restarts for `@Nested` classes"
### Describe the bug

When `QuarkusTestResource` is configured to be `restrictToAnnotatedClass`, it restarts for nested classes annotated with `@Nested`. This is also the case for `QuarkusTestResourceConfigurableLifecycleManager`, which apply `restrictToAnnotatedClass` automatically.

[code]

[code]

[code]

### Expected behavior

`QuarkusTestResource` configured with `restrictToAnnotatedClass=tru

[2022-07-10 18:32] wiradikusuma opened #26640 "Building native using the latest Mandrel doesn't work"
### Describe the bug

According to https://quarkus.io/guides/building-native-image, "Mandrel’s main goal is to provide a way to build native executables specifically designed to support Quarkus" — but **building native using the latest Mandrel doesn't work**:

https://github.com/graalvm/mandrel/releases/tag/mandrel-22.1.0.0-Final

Note: I'm not sure if this is Quarkus' bug or Mandrel's. Let me kno

[2022-07-10 21:29] rhuan080 opened #26641 "Add feature to introspect Java class without using Reflection"
### Description

Looking at the Micronault, I have seen the annotation `@Introspected` (see [here](https://blog.johnowl.com/a-anotacao-introspected-do-micronaut/) ) that permits introspect Java class in Runtime, without using reflection. I searched for a similar feature inside Quarkus and could not find it.

My request is to include a feature to introspect Java classes without using reflection.

#

[2022-07-11 05:44] geoand commented on #26641
What are the use cases for such a feature?

[2022-07-11 05:45] geoand commented on #26639
@Sgitario do you want to take a look at this one?

[2022-07-11 05:47] geoand commented on #26635
Do you mind sharing a project that exhibits the problem with a failing test?

Thanks

[2022-07-11 06:00] geoand commented on #26589
Your sample contains both `quarkus-container-image-docker` and `quarkus-openshift` as top level dependencies so the error you are seeing is expected.

[2022-07-11 06:14] lostiniceland commented on #26421
If I remember correct, this is what the classic application-servers are doing: running the healthcheck outside the actual application deployment/startup (Wildfly runs it under the management-port)

[2022-07-11 06:30] stuartwdouglas commented on #25259
Note that you can also easily work around this by manually delegating to a Thread pool rather than relying on Quarkus to handle it for you. For example:

[code]

[2022-07-11 06:42] sjaakd commented on #26627
@famod thanks for your answer. I guess that annotating my resource with `@Transaction` or the specific methods should be sufficient for me than. And hence I could consider leaving out  `quarkus.datasource.jdbc.transaction-requirement` all together.

Question 1: What about the `WARN [io.agr.pool] (agroal-11) Datasource '<default>': Closing connection in incorrect state CHECKED_OUT seems to have dis

[2022-07-11 06:46] stuartwdouglas commented on #26512
It is doable, but I was just not sure if there was much demand. In theory it should not be that complex.

[2022-07-11 07:50] mickroll commented on #24842
Sounds great :rocket:

[2022-07-11 08:16] #26619 closed

[2022-07-11 08:27] #24842 closed

[2022-07-11 08:31] #26554 closed

[2022-07-11 08:33] isacandrei commented on #24938
Thanks for the update. This is unfortunate though. Although matchPatterns solves the problem, if one would want to use these metrics across a wide set of microservices, each with 5-20 endpoints it would require considerable effort. Is there anything that can be done or I can help with to bring this home, or is it a technical limitation we cannot avoid?

[2022-07-11 08:35] gsmet commented on #26640
@zakkak have you noticed the OP is using `2.7.5.Final` with Mandrel `22.1`. I'm not sure these two are compatible versions?

[2022-07-11 09:01] effusion commented on #12267
Hello Guys,

3 days ago I stumbled over the same issue. Is there any progress on this side?

[2022-07-11 09:13] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2647368728

[2022-07-11 09:21] wiradikusuma commented on #26640
So, background story, I had been using https://hub.docker.com/r/vegardit/graalvm-maven for my CI/CD, and yesterday it stopped working.

I did some googling and found out that Quarkus is not compatible with the latest GraalVM. I thought hmm let's use Mandrel. So I forked the original repo and did [seach-and-replace](https://github.com/vegardit/docker-graalvm-maven/compare/main...wiradikusuma:docker

[2022-07-11 09:30] marcwrobel opened #26648 "Rename misspelled property `io.quarkus.oidc.deployment.DevUiConfig#webClienTimeout` to `webClientTimeout`"
### Description

The property `io.quarkus.oidc.deployment.DevUiConfig#webClienTimeout` is misspelled, it should be renamed to `webClientTimeout`.

### Implementation ideas

Similar to what has been done for `io.quarkus.oidc.deployment.devservices.keycloak.DevServicesConfig#webClienTimeout`, `io.quarkus.oidc.deployment.DevUiConfig#webClienTimeout` may be deprecated in favor of a new property : `io.

[2022-07-11 09:50] zakkak commented on #26640
That's not true. Which GraalVM and Quarkus version combination are you using? Quarkus 2.10 works fine with GraalVM 22.1

I am afraid I can't help with that as it's not a build method supported by Quarkus.

Providing the following info might allow us to give some hints in what might be wrong:

1. Log lines starting with `[INFO] [io.quarkus.deployment.pkg.steps`
2. The output of the native-image log

[2022-07-11 11:01] JiriOndrusek commented on #25424
I've encountered a similar problem (but with different use-case).

I wanted to configure different file to log into. I changed appropriate application.properties. (`quarkus.log.file.enable=true` and
`quarkus.log.file.path=target/test.log`)

The result is, that my custom file `target/test.log` contains only 1 line. The rest of the log is present in `target/quarkus.log`.

(Problem can be easily simu

[2022-07-11 11:13] geoand commented on #17513
Closing this as I just tried it and `sam.native.yaml` / `sam.jvm.yaml` were properly generated using Quarkus `2.10.2.Final`

[2022-07-11 11:13] #17513 closed

[2022-07-11 11:39] paloliska opened #26655 "LiquibaseMongodbFactory.createLiquibase() check for database name in database connection string is broken"
With mongodb connection string as following:
`mongodb+srv://user:password@cluster0.1234.mongodb.net/?retryWrites=true&w=majority`
createLiquibase will fail with
`IllegalArgumentException: Database not specified in URL`
even if database name is specified.
Maybe
`Pattern HAS_DB = Pattern.compile("(mongodb|mongodb\\+srv)://[^/]*/.*");`
should support connection string with properties in it.

Also if

[2022-07-11 11:51] loicmathieu commented on #26655
Yes, this implementation was a bit naive.
You can send a PR if you're up to or I can try to find some time later to have a look if nobody else can.

[2022-07-11 12:16] geoand commented on #17480
Does https://github.com/quarkusio/quarkus/pull/26657 make sense?

[2022-07-11 12:25] rmanibus commented on #17480
@geoand Thank you very much for taking care of this I will have a look !

[2022-07-11 12:27] geoand commented on #17480
👍🏼

[2022-07-11 12:30] geoand commented on #26522
Quarkus does not yet have a dekorate version that fixes this, correct?

[2022-07-11 12:54] geoand commented on #17569
Is this still an issue?

[2022-07-11 12:57] survivant commented on #17569
I will check if I still have the issue with the latest release

Le lun. 11 juill. 2022, 08 h 54, Georgios Andrianakis <
***@***.***> a écrit :

[2022-07-11 13:16] JiriOndrusek commented on #25424
@famod thanks for the link!

[2022-07-11 13:33] geoand commented on #15265
Yes, there no denying that.
What I am wondering is what use cases do you have in mind for Quarkus?

[2022-07-11 13:49] gastaldi commented on #15265
I created https://github.com/FasterXML/jackson-dataformats-binary/issues/328 asking to be implemented as another Jackson Data Binary format

[2022-07-11 14:52] geoand commented on #26641
Thanks.

I understand how it is used, but I would like to know some actual usages of this - not just theoretically what it can be used for.

Ask because we don't really see many people implementing such dynamic behavior in their applications.

[2022-07-11 16:41] rohit-s8 commented on #16785
Are there any plans to support this coming soon?

[2022-07-11 17:45] zakkak commented on #26640
The version info `GraalVM 22.3.0-dev Java 11 CE` indicates that you are using a nightly build of GraalVM CE. You will need to use a docker image with a released GraalVM/Mandrel version compatible with the quarkus version you are using.

[2022-07-11 18:06] spolti commented on #26385
Hi @geoand, @iocanel sry for the late reply.
With the changes mentioned in the PR the issue is fixed.

Thanks very much for the assistance.

[2022-07-11 18:17] iocanel commented on #26385
Yay!

[2022-07-11 20:42] toniocus commented on #12400
@laurentperez thank your for your tip, I'll look a it.

About the second answer, definitely that is what I'm doing, and everyone with the same issue should do. :-)

Thanks, again.

[2022-07-12 02:30] v-patil commented on #10988
Any plans to add this? Or a good example showing how `SecurityIdentityAugmentor`can be used to achieve this.

[2022-07-12 03:39] rhuan080 commented on #26641
Hi @geoand, thanks!

In my scenario, I`m starting to use Quarkus in a core of a solution that my end-user are developers. I have custom annotations and we have some decisions according to these annotations. One solution that I have seen is to create my own extension, however, it is just a small part of my application and I think it is a lot to the problem I want to solve now. I think it is a great

[2022-07-12 03:42] geoand commented on #26641
Thanks for that information.

As you've probably guessed, my answer is to create a custom extension 🙂.

It should not be that hard (and the Quarkus community is glad to help anyone on their endeavor) and could lead to better performance than the outlined scenario.

[2022-07-12 03:57] geoand commented on #25735
@FroMage do you look into htmx perhaps?
It would be great to figure this out so we can move forward with supporting it

[2022-07-12 04:12] rhuan080 commented on #26641
Yes, I know it should not be hard when we think about the complex, however, with this feature I can solve the problem using 3 or 4 lines. Thus, comparing both options, creating a new extension is a lot.

I really don`t know if it is very used on Micronault, but maybe the Quarkus community can take a look at this and check if it is a feature worthwhile.

[2022-07-12 05:12] geoand commented on #26385
Excellent!

[2022-07-12 05:29] geoand commented on #26641
I personally think that writing an extension is the way to go, but I'd like to hear what @mkouba and @gsmet think as well.

[2022-07-12 05:42] franck102 commented on #26635
I shared the project here:
https://github.com/franck102/quarkus-greeting

Running com.easypass.GreetingResourceTest#testHelloEndpoint generates logs if the @Unremovable annotation is present only.

[2022-07-12 06:10] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2654257104

[2022-07-12 07:48] ia3andy commented on #11515
When the compatibility is broken, this is hard to fix before the actual release.

In the past, I was using a specific branch for the test in order to be able to make the fixes while waiting for the release. But it means that this branch should be synced with the "main" branch manually which is a pain to maintain.

Do you guys have any other idea?

[2022-07-12 07:50] geoand commented on #11515
This tests main against main doesn't it?
If so, then I would assume that the tests should always pass

[2022-07-12 08:03] ia3andy commented on #11515
code.quarkus.io is not a package, the release cycle is different, "main" is what automatically goes to pre-prod and production. Quarkus is the runtime, until it is released, it can't be used on "main".

[2022-07-12 08:04] ia3andy commented on #11515
It's is the Runtime and also provides the devtools (codegen) library

[2022-07-12 08:08] ia3andy commented on #11515
In the end it's pretty much the same behavior as with Quarkiverse extensions. If we break compat on Quarkus main with extension, it won't be possible to fix the eco-system CI until the actual release.

[2022-07-12 08:42] raycke commented on #25216
Hi, @radcortez @geoand

Can this problem be reproduced? Thanks.

[2022-07-12 08:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2654257104

[2022-07-12 09:46] jponge opened #26675 "Transition to Java Flow APIs"
Following the announcement that [Mutiny switches from the legacy Reactive Streams APIs to Java Flow](https://github.com/smallrye/smallrye-mutiny/discussions/986), Quarkus will need to be migrated.

- [x] Switch Mutiny to Java Flow https://github.com/smallrye/smallrye-mutiny/issues/987
- [x] Switch the Mutiny Vert.x bindings to Flow https://github.com/smallrye/smallrye-mutiny-vertx-bindings/pull/57

[2022-07-12 09:47] jponge commented on #26675
/cc @cescoffier

[2022-07-12 10:09] #26577 closed

[2022-07-12 10:51] nikosk686 commented on #21175
Looks like that the issue has been fixed anyway, I ve upgraded to the latest quarkus version (2.10.2 atm) and my
`ResponseExceptionMapper` seems to be working as expected with `quarkus-rest-client-mutiny`

[2022-07-12 11:05] radcortez commented on #25216
I'll have a look soon.

[2022-07-12 11:17] sberyozkin commented on #26577
@ccpatrut Fix will be available in Quarkus 2.11.CR1 due in the next week or so

[2022-07-12 11:30] #26648 closed

[2022-07-12 12:37] #24308 closed

[2022-07-12 12:43] dilipdhankecha2530 opened #26682 "Native Build fail with Quarkus-awt and pdfbox"
### Describe the bug

We want to create image from pdf file and for that we are planning to use Quarkus and want to deploy as AWS lambda.

All things are working as expected  if I build application as non native with below command.

[code]
Now to improve performance, I want to build native image. I am using below command to build native image.

[code]
This native build command is giving below erro

[2022-07-12 12:45] gsmet commented on #26208
Fixed in https://github.com/quarkusio/quarkus/issues/24254 .

[2022-07-12 14:44] famod commented on #26208
As written in the description of this issue, the PR for #24254 did *not* add a global flag.
So I'll have to reopen this.

@PratikDey sorry, I'm very busy ATM.

[2022-07-12 14:55] #15839 closed

[2022-07-12 14:56] #23600 closed

[2022-07-12 14:59] ivansenic commented on #10669
I am seeing this in my application using Quarkus `2.10.1.Final`:

[code]

Seems that those are Guava classes, that I definitely don't use. Any idea how to deal with it?

I have Guava as the indexed dependency:

[code]

[2022-07-12 16:30] DiegoBetancourtC opened #26687 "Rest route does not work with version 2.10.x"
### Describe the bug

If you try to create a simple rest api using a route, it won't work using 2.10.x but if you change it to version 2.7.1, it works without any problem.

Based on the documentation [Rest](https://camel.apache.org/camel-quarkus/2.10.x/reference/extensions/rest.html)

### Expected behavior

It should compile without any problems

### Actual behavior

I got an error at the moment o

[2022-07-12 16:50] gsmet commented on #26687
Could you provide a reproducer so that we can have a look? Thanks.

[2022-07-12 16:52] gsmet commented on #26687
/cc @ppalaga @jamesnetherton @zbendhiba

[2022-07-12 16:58] DiegoBetancourtC commented on #26687
Sure, [code-with-quarkus-12.zip](https://github.com/quarkusio/quarkus/files/9095270/code-with-quarkus-12.zip)

1. Decompress
2. Go to the folder and execute the command: `./mvnw clean compile quarkus:dev`
3. You should get the following error:

[code]

Thanks for the quick reply.

[2022-07-12 17:49] metacosm commented on #26117
Note that the issue is still occurring after changes to the Quarkus operator SDK extension and I would appreciate help solving this issue.

[2022-07-12 18:07] geoand commented on #26117
What changes were made and what is the current problem?

[2022-07-12 18:47] metacosm commented on #26117
#26188 was implemented in Quarkus and https://github.com/quarkiverse/quarkus-operator-sdk/pull/364 was merged to better register classes for reflection but the core issue of the informers not being able to deserialize the resources still persist.

[2022-07-12 20:06] abeosoft commented on #26589
I need to build a docker image and then deploy to Openshift. So, how would I conditionally enable an extension? A sample pom.xml will be appreciated. Are there any particular Quarkus best practices or recommendations for deploying to Kubernetes using a CI/CD platform like Jenkins/ArgoCD, etc?

Thank you

[2022-07-12 20:56] DiegoBetancourtC commented on #26687
Thank you, didn't see that guide.

[2022-07-12 20:56] #26687 closed

[2022-07-12 21:00] alexeysharandin opened #26689 "[DOC] quarkus-extension.yaml format and fields not explined in Quarkus web-docs"
### Describe the bug

Hi everyone,
I found reference to quarkus-extension.yaml only here https://quarkus.io/guides/writing-extensions but without any explanations whats fields can be added in yaml and what these fields doing.

based on review of yaml's from extentions and java code I found
[code]

Maybe something else exists but not required for me at this stage.

Is possible to improve docs? It's

[2022-07-12 21:33] famod commented on #26627
@sjaakd

Don't know for sure, but there was some fix:  https://issues.redhat.com/browse/AG-186

Yes, this should work,

I don't know. Do you @jmartisk?

[2022-07-13 01:05] raycke commented on #25216
Thank you very much.

[2022-07-13 03:17] geoand commented on #26589
I don't have a sample pom, but you would need to make sure that only one extension that makes container images is present in any profile (or alternatively, set the property indicated by the error message).

[2022-07-13 03:37] geoand commented on #26117
So there is still an issue where reflection cannot determine the properties / methods of the classes?

If so, do the steps outlined in the description still reflect how the issue can be reproduced?

[2022-07-13 04:48] cescoffier commented on #26202
As mentioned on Zulip, we didn't have the time. A PR would be very welcome.

[2022-07-13 05:21] geoand commented on #26635
I tried your sample and works flawlessly with or without `@Unremovable`

[2022-07-13 05:21] #26635 closed

[2022-07-13 05:35] geoand commented on #26682
I am going to close this as `pdfbox` is not something we support in native mode.

However if @Karm has some insights here, it would be nice to get them.

[2022-07-13 05:35] #26682 closed

[2022-07-13 05:35] geoand commented on #26689
cc @aloubyansky @gastaldi

[2022-07-13 05:39] abeosoft opened #26695 "@RegisterRestClient annotation not available with Rest Client extensions enabled"
### Describe the bug

I created a rest client project using the Quarkus Rest Client Reactive Extension. But, the @RegisterRestClient is not available.

### Expected behavior

I expect the @RegisterRestClient to be available after extension is enabled and build is run. I am following this Quarkus Guide: https://quarkus.io/guides/rest-client-reactive

### Actual behavior

I can't find @RegisterRestC

[2022-07-13 05:48] dilipdhankecha2530 commented on #26682
@geoand
I just check one quarkus dependency which was used in pdfbox support.
If we are using that library then also not able to create a native build.

[code]

[2022-07-13 05:50] geoand commented on #26682
cc @ppalaga @lburgazzoli

[2022-07-13 06:06] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2661126376

[2022-07-13 06:19] geoand commented on #26695
The annotations is part of the `org.eclipse.microprofile.rest.client:microprofile-rest-client-api`dependency which **is** included as a transitive dependency when you add `io.quarkus:quarkus-rest-client-reactive`.

`mvn dependency:tree -Dincludes=:microprofile-rest-client-api` gives:

[code]

I also tried this in the IDE and it worked as expected

[2022-07-13 06:19] #26695 closed

[2022-07-13 07:18] pjgg opened #26696 "Quarkus-helm extension should be defined in Quarkus BOM"
### Describe the bug

One way to deploy into Openshift / k8s is through Helm. To do that, there is a [new extension](https://quarkiverse.github.io/quarkiverse-docs/quarkus-helm/dev/index.html) that generates Helm Chart values.yaml based on your application.properties. In my opinion, this extension should be included in [Quarkus BOM](https://github.com/quarkusio/quarkus/blob/main/bom/application/po

[2022-07-13 07:59] ia3andy opened #26700 "Introduce the notion of extension for testing"
### Description

Currently we only have extensions meant for production. There is no way to have extensions with scope "test".

With the recent discussion about the MockServer extension which is only for testing, we have to to introduce the logic to allow it.

### Implementation ideas

- We need some metadata to mark them as for "test"
- We need the codestart logic to allow extensions with scope "

[2022-07-13 07:59] ia3andy commented on #26700
cc @andrejpetras @aloubyansky @gastaldi

[2022-07-13 08:02] geoand commented on #26696
Quarkiverse extensions are not part of the Quarkus BOM - this is by design

[2022-07-13 08:03] geoand commented on #26696
If we decide at some point that the extension is a core part of the Quarkus Kubernetes experience, we'll need to bring the whole extension into the repository

[2022-07-13 08:04] #17480 closed

[2022-07-13 08:05] ia3andy commented on #26700
@aloubyansky currently, the codestart core is receiving a list of String containing extensions GAV, what should we send instead of the GAV to allow the distinction between normal and test extensions?

We will then distribute them to `test-dependencies` in https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/Codestart

[2022-07-13 08:10] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2661126376

[2022-07-13 08:16] aloubyansky commented on #26700
Could we use `io.quarkus.maven.dependency.Dependency` instead `java.lang.String` to represent dependencies in `ProjectInput`?

[2022-07-13 08:18] ia3andy commented on #26700
That should be possible!

[2022-07-13 08:19] ia3andy commented on #26700
But I don't see scope test in it?

[2022-07-13 08:29] aloubyansky commented on #26700
It includes `getScope()` method. We could add more convenience methods to easily create instances with the proper scope.
Similar change could be applied to the boms in the ProjectInput. Those could be represented as `io.quarkus.maven.dependency.ArtifactCoords`.

[2022-07-13 08:34] geoand commented on #13969
Interesting, I wonder if we should expose it

[2022-07-13 08:35] geoand commented on #13882
Closing as we never got feedback

[2022-07-13 08:35] #13882 closed

[2022-07-13 08:37] geoand commented on #13782
I think we can close this as no one has ever asked for anything related to interceptors

[2022-07-13 08:37] #13782 closed

[2022-07-13 08:41] geoand commented on #14253
Is this still an issue?

[2022-07-13 08:43] maxandersen commented on #26700
lets make sure we check and attempt to make this work without breaking backwards compatibility of cli/plugins (or gracefully handle it)

[2022-07-13 08:44] geoand commented on #14719
It would be cool to have something like have in RESTEasy Reactive with `@ServerExceptionMapper`

[2022-07-13 08:46] geoand commented on #15182
Is this still an issue?

[2022-07-13 08:47] ia3andy commented on #26700
This should be safe as the devtools code is a whole, the only thing is that such extensions will not be generated as "test" scope if using an old CLI

[2022-07-13 08:54] geoand commented on #16059
I am going to close this as this works properly when using RESTEasy Reactive and the Reactive REST Client

[2022-07-13 08:54] #16059 closed

[2022-07-13 09:33] technical-debt-collector opened #26705 "Reactive @Transactional-equivalent without Hibernate+Panache"
### Description

Working with reactive transactions doesn't feel very good right now.
The reactive SQL client offers some intuitive transaction handling (PgPool.withTransaction) but this only feels practical for smaller one-statement-transactions or statements that are closely enough related to justify calling them in the same method. It seems hard to implement proper transaction handling that spa

[2022-07-13 09:38] gavinking commented on #26705
I would say it's probably more of an issue for the Vert.x SQL client.

[2022-07-13 09:57] geoand commented on #16976
It's actually pretty easy in Quarkus code to determine whether or not the shutdown came from a `SIGINT` as `io.quarkus.runtime.ApplicationLifecycleManager$ShutdownHookThread` is the Shutdown Hook involved.

Ultimately `io.quarkus.runtime.StartupContext#close` gets called (no matter what the source of the shutdown is) so if we have some state in there we could propagate it

[2022-07-13 10:05] geoand commented on #26705
I think we already have an issue asking for this, but I can't find it ATM

[2022-07-13 11:34] DavideD commented on #10768
No problem :)
Thanks for the feedback.

I would suggest to also comment on the [Vert.x issue](https://github.com/eclipse-vertx/vertx-sql-client/issues/1122) issue.

[2022-07-13 11:46] ivansenic commented on #26584
Can make it, but earliest tomorrow..

[2022-07-13 11:46] geoand commented on #26584
Thanks

[2022-07-13 12:13] oscarfh commented on #26138
@albers Thanks for you reply, but that was not the case because I got the replies when debugging and because when running the application as jar, the logs were printed.

[2022-07-13 13:55] benoit-messager opened #26711 "When using @QuarkusMainTest and @Launch, junit @BeforeEach is executed after launching the app"
### Describe the bug

To test a command mode app i have a test class annotated with `@QuarkusMainTest` and a test resource that fires up a dynamodb container.
I want to run some logic before launching the batch, but if i annotate a method with junit`@BeforeEach` it is run after the app has already been launched by `@Launch`.
I also tried with a manual invocation with `QuarkusMainLauncher` but this

[2022-07-13 14:22] xtaixe commented on #16976
@manovotn

Maybe I didn't express that properly. I meant the program just finishes cause there's nothing more to do (e.g. `ls`) as opposed to keep running doing or waiting for something (e.g. tail/follow logs), which in our case is when you need to stop it using CTRL+C.

Maybe it's not worth distinguishing. In our case it's not needed, as long we can distinguish finishing from interrupted is enoug

[2022-07-13 15:03] manovotn commented on #16976
Right, we can only probably differentiate between normal program finish and "all else".
That is, a situation when `ShutdownHookThread` is not invoked (normal) and when it is invoked (`SIGINT`, `SIGTERM`, ... but also `System.exit()`).

I'll try to get to it later this week and put together a PR.

[2022-07-13 15:52] abeosoft commented on #26589
Thanks, :)

[2022-07-13 15:54] abeosoft commented on #26695
I have tried the build from the command line. It is working without any issues. IntelliJ is complaining about the annotation.

[2022-07-13 15:54] geoand commented on #26589
🙏🏼

[2022-07-13 15:55] geoand commented on #26695
That sounds like an IntelliJ issue

[2022-07-13 16:17] Viacheslav-Petriaiev commented on #24423
Hi @evanchooly

I have the same error with 2.10.2.Final version

[2022-07-13 16:53] #26655 closed

[2022-07-13 17:05] dratasich commented on #12946
afaik, name or key overriding is now possible, see [quarkus-loggin-json config](https://quarkus.io/guides/logging#quarkus-logging-json_quarkus.log.console-json-console-logging)

For example, our [ECS](https://www.elastic.co/guide/en/ecs/1.8/ecs-field-reference.html) logging setup in Quarkus apps is:
[code]

[2022-07-13 18:00] medvedev commented on #12946
@dratasich great, thank you very much!
I didn't find any useful documentation about "quarkus.log.console.json.key-overrides" config.
Does it allow setting some values dynamically? Like, set "key-value" pair to a given log entry from my code?
In particular, I need it to integrate with GCP error reporting, which requires me to add a special field in order to make log entry "detected" as an error tha

[2022-07-13 21:01] RuggeroDAlo opened #26717 "Resteasy Reactive client not propagating mdc"
### Describe the bug

After calling any method of a Resteasy reactive client the reactive MDC is lost.

After adding a key to the jboss MDC (https://github.com/RuggeroDAlo/resteasyreactiveclientpropagation/blob/main/src/main/java/org/acme/Controller.java#L34) it is correctly logged by jboss thanks to the `%X` formatter.
But the same log called after any method of a resteasy reactive client is call

[2022-07-13 21:39] #26689 closed

[2022-07-14 00:17] DMaxter opened #26721 "RolesAllowed always giving 403 Forbidden"
### Describe the bug

I use an enum for the roles, and when I put the value in `@RolesAllowed`, when a user with the allowed roles tries to make a request, they receive a 403 error. I am using JWT authentication where the roles are one of the fields in the token. Each user can have a set of roles.

### Expected behavior

Execute the request if the role is allowed

### Actual behavior

HTTP 403 err

[2022-07-14 00:39] phillip-kruger commented on #14719
We probably need this on the SmallRye issue list as new feature request.

[2022-07-14 04:02] oo00spy00oo opened #26722 "Support Federation in Quarkus GraphQL"
### Description

Supporting GraphQL federation with:
- Apollo Federation: https://www.apollographql.com/docs/federation
- GraphQL Hive: https://graphql-hive.com/

### Implementation ideas

- The same idea with Apollo Federation on the JVM: https://github.com/apollographql/federation-jvm
- Integrating with DGS framework with federation supported: https://netflix.github.io/dgs/federation/

[2022-07-14 04:28] phillip-kruger commented on #26722
This is already planned in SmallRye here: https://github.com/smallrye/smallrye-graphql/issues/521. Closing this one.

[2022-07-14 04:28] #26722 closed

[2022-07-14 05:02] Postremus opened #26723 "Better structure for bean dependency graph in dev ui"
### Description

My bean dependency graph in dev ui is unreadable:
![image](https://user-images.githubusercontent.com/1223135/178902472-dc303c15-ec29-45a9-9a93-41794db34a9c.png)

Any chances to get this a bit better structured / readable at all for my app?

Some ideas:
* Allowing to scrool and zoom. Idealy none of the bean names would be cut off at the end of the screen
* Shorten package names, li

[2022-07-14 05:14] geoand commented on #26723
cc @mkouba

[2022-07-14 05:15] geoand commented on #26721
Can you attach a sample that reproduces the issue please?

Thanks

[2022-07-14 05:23] jcunliffe1 opened #26724 "Allow AuthorizationControllers to access request for their decision"
### Description

We have a use case, where we would like the activation of authorization to depend on the domain, under which the server was accessed. For this, the AuthorizationController needs access to the request, which I can't get injected.

Any help is appreciated, but also we should maybe put the request into the parameters for io.quarkus.security.spi.runtime.AuthorizationController#isAutho

[2022-07-14 05:41] jcunliffe1 commented on #4125
I'm struggling with the same, trying to get any request information injected into the AuthorizationController.

[2022-07-14 06:04] Sgitario opened #26726 "QuarkusProdModeTest stopped working when adding Kubernetes extensions in Quarkus 2.11"
### Describe the bug

I've just tried the Quarkus version 2.11.0.CR1 in a project where I'm using the Quarkus test extension "QuarkusProdModeTest" as:

[code]

And this stopped working. I see the following warning message:

[code]

Note that before Quarkus 2.11, this was working fine.

Digging into this issue, I modified this line https://github.com/quarkusio/quarkus/blob/0cc407b5a03d13a8a5e5d4d4e

[2022-07-14 06:09] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2668078986

[2022-07-14 06:21] dilipdhankecha2530 commented on #26682
@geoand
Could you please reopen the same issue.

[2022-07-14 06:24] geoand commented on #26682
I want input from the Camel folks before proceeding any further

[2022-07-14 06:27] geoand commented on #26726
Sounds like a dekorate issue, no?

[2022-07-14 06:44] Sgitario commented on #26726
I don't think so. I'm trying to find the root cause. The weirdest thing is that the integration tests we have for Kubernetes are also using QuarkusProdModeTest and they work.

Will keep this issue updated with my findings.

[2022-07-14 06:45] geoand commented on #26724
What aspects of the request do you need?

Also, what HTTP stack are you using?

[2022-07-14 07:13] #26524 closed

[2022-07-14 08:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2668078986

[2022-07-14 08:29] sberyozkin commented on #26721
So @DMaxter, I think we can close this issue, sorry for the confusion of any, not sure what we have missed in the docs, that section looks clear to me. JWT represents a user/client authentication so it does not need some matching endpoint local mapping with the user name and password and roles, it is all in JWT already, so you just need to verify it, with `quarkus-smallrye-jwt` or `quarkus-oidc`

[2022-07-14 09:06] ivansenic opened #26730 "Expose `getIfPresent` in the `CaffeineCache`"
### Description

Expose the `com.github.benmanes.caffeine.cache.AsyncCache#getIfPresent` function in the `io.quarkus.cache.CaffeineCache`. Currently, there is no way to get the value from the cache, without the loader.

### Implementation ideas

Would implement it as:

[code]

The Uni can emit `null` item in case the key is not in cache. The processing could be very similar to the current `io.quar

[2022-07-14 09:20] ivansenic commented on #26584
Reproducer:

* https://github.com/ivansenic/quarkus-26584
* start the app and issue a `POST` request that does not exists on the `/hello` endpoint
* returns `500` from the added [exception mapper](https://github.com/ivansenic/quarkus-26584/blob/master/src/main/java/org/acme/RuntimeExceptionMapper.java), instead `405`

[code]

[2022-07-14 09:26] DMaxter commented on #26721
I forgot to mention, I was already using the JWT package, but this error occurs. Users authenticate using username and password, and if it matches I set a cookie with the JWT token. Authentication works if I use `@Authenticated` but not if I use the `@RolesAllowed`, but what you are saying is that I should drop `security-jpa`? So how is the program supposed to fetch the users from the database aut

[2022-07-14 09:26] geoand commented on #26584
Ah okay. Now I see what you mean. I had understood the issue backwards, sorry.

What you are seeing is standardized JAX-RS behavior, as it allows you to handle exceptions thrown from the framework itself.
For that reason it is not a good idea to handle all `WebApplicationException` or `RuntimeException` classes. Unfortunately the spec does not give a ton of flexibity when it comes to handling exce

[2022-07-14 09:26] #26584 closed

[2022-07-14 09:28] DMaxter commented on #26721
I just saw this now, I will try it, thank you

[2022-07-14 09:36] Sgitario commented on #26726
I tried with Quarkus Main and Dekorate 2.9.3.Final (the previous version) and it's still failing. So, it's not a Dekorate issue.

[2022-07-14 09:36] Sgitario commented on #26726
Another hint... when running the test in debug mode via the IDE, it works fine. Any ideas?

[2022-07-14 09:48] sberyozkin commented on #26721
@DMaxter In that case, you can simply make sure `groups` is used in a newly created JWT, if you generate tokens with `smallrye-jwt-build` (https://quarkus.io/guides/security-jwt-build) then you can use a typed `groups()` method for it: `Jwt.issuer("http://localhost:8080").subject("admin").groups("ADMIN").sign()` (`issuer` can be configurable too), and you'd not need to customize the path

[2022-07-14 09:48] geoand commented on #26584
It does seem weird, but it is most likely mandated by the spec.

I tried removing the entity check and about 100 started failing, so there is really not much we can do here.

[2022-07-14 10:08] ivansenic commented on #26584
OK, thanks. Will use my workaround.

[2022-07-14 10:38] Sgitario commented on #26726
I've just found out that this is neither a new issue nor caused by the latest Quarkus, but it's only happening when using JDK 17. When I switched out to JDK 11, everything started working fine. Closing.

[2022-07-14 11:05] geoand commented on #26730
Seems useful to me, WDYT @gwenneg ?

[2022-07-14 11:05] jcunliffe1 commented on #26724
classic resteasy now, reactive in a few years hopefully. at the moment, all I need is the HttpServerRequest. maybe we can change io.quarkus.vertx.http.runtime.security.HttpAuthorizer#checkPermission
to

[code]

and
[code]

Or something similar? This will allow me to base the decision wether authorization gets enabled or not on the content of the current request, including the request URL that I ne

[2022-07-14 11:06] jcunliffe1 commented on #26724
If you are happy with this quick fix, I'm happy to send a PR. For more sophisticated changes, I probably lack the background.

[2022-07-14 11:06] geoand commented on #12400
I'll note that if/when this addressed, there will definitely not be direct mentions of competing frameworks :)

[2022-07-14 11:09] geoand commented on #26724
To be honest, I don't think we should change the signature.
But you can however in your own bean just inject the `CurrentVertxRequest currentVertxRequest` bean and do whatever you like with it :)

[2022-07-14 11:15] DMaxter commented on #26721
Using `smallrye.jwt.path.groups=roles` solved it, thank you

[2022-07-14 11:15] #26721 closed

[2022-07-14 11:42] geoand commented on #25735
Just to add a tiny note in case we do decide to go down the route of providing some kind of API that would allow for selection, that `MediaTypeMapper` essentially does what we are discussing by matching the media types mentioned in the request to the media types declared by the method.
Of course if we do decide to go down this route, we would not want to expose the internal types and APIs, but som

[2022-07-14 11:42] #26586 closed

[2022-07-14 12:00] sberyozkin commented on #26721
@DMaxter no problems, thanks

[2022-07-14 12:01] rsvoboda commented on #26696
There is product requirement for Helm chart support, thus we think the extension should be listed in the platform BOM

[2022-07-14 12:03] geoand commented on #26696
You'll have to take that up elsewhere :)

But still I am pretty sure that the BOM won't be the place it will end up

[2022-07-14 12:03] sberyozkin commented on #26724
@jcunliffe1 You may need to add `@ActivateRequestContext` to have the injection working if it does not work right now

[2022-07-14 12:22] jcunliffe1 commented on #26724
I tried it, but this doesn't work - nor does injecting the other various HttpRequest beans.

[2022-07-14 12:32] jcunliffe1 commented on #26724
I tried it on

[code]

doesn't work. have now tried it also on the bean

[code]
Also doesn't work:

![image](https://user-images.githubusercontent.com/97282647/178983002-c035d504-cb96-4904-9944-eef6e8b2cfd0.png)

[2022-07-14 12:33] jcunliffe1 commented on #26724
[code]
All of those are null inside io.quarkus.security.spi.runtime.AuthorizationController#isAuthorizationEnabled

[2022-07-14 12:42] jcunliffe1 commented on #26724
no, there is. it's just not visible here.

[2022-07-14 12:43] jcunliffe1 commented on #26724
this debug point was breaking after I hit the quarkus application via a browser request.

[2022-07-14 14:00] jcunliffe1 commented on #26724
Will produce one. I forgot to mention that we are still using quarkus-undertow for servlet filtering and csp strict dynamic rewriting.

[2022-07-14 14:08] vadim-hleif opened #26733 "Mocked bean created via method is not injected in another bean"
### Describe the bug

Beans which are created via `@Produces` api are not injected in others beans fields. It works fine if I annotate bean with `@ApplicationScope` instead of using `@Produces`.

### Expected behavior

Mocked bean in passed to other beans.

### Actual behavior

Real bean in passed to other beans.

### How to Reproduce?

example repo: https://github.com/vadim-hleif/test-quarkus-moc

[2022-07-14 14:22] jcunliffe1 commented on #26724
https://github.com/jcunliffe1/quarkus-bug-authorisation-race-condition

please start in debug mode, set breakpoint on `org.acme.CustomAuthorizationController#isAuthorizationEnabled`

and send a request against http://localhost:8080/hello

please let me know if you find any way of retreiving the request url at that point.

[2022-07-14 14:33] jcunliffe1 commented on #26724
removing undertow doesn't help:

![image](https://user-images.githubusercontent.com/97282647/179007620-dfb4f40a-3cbc-431f-a759-03c24eda3a82.png)

[2022-07-14 14:38] jcunliffe1 commented on #26724
@sberyozkin any ideas?
@geoand why is this closed?

[2022-07-14 14:38] geoand commented on #26724
I'll have a look the next few days

[2022-07-14 14:43] jcunliffe1 commented on #26724
Sure. Please let me know if this will take longer. There are 30 developers and some very emotional managers waiting for this to work for their respective test environments.

[2022-07-14 14:47] fbotis opened #26734 "JIB Extension and docker layers"
### Discussed in https://github.com/quarkusio/quarkus/discussions/26731

<div type='discussions-op-text'>

<sup>Originally posted by **fbotis** July 14, 2022</sup>
I'm using jib extension to generate the docker container but I noticed that even if I just do a application.properties code change (basically changing only the "app" layer) the digest of the lib layer changes as well so when I do a dock

[2022-07-14 14:47] geoand commented on #26724
I don't think it will take longer

[2022-07-14 15:04] fedinskiy opened #26736 "BouncyCastleFipsJsse application hangs on systems which do not have enough entropy"
### Describe the bug

I have an application with BouncyCastleFipsJsse endpoint. When I start the application on a freshly created virtual machine, it hangs on start up with messages "Thread blocked". After looking into code from stacktraces, I found, that the code blocks, while reading from `/dev/random` which does not have enough entropy yet(`cat /proc/sys/kernel/random/entropy_avail` returns 35)

[2022-07-14 15:05] fbotis commented on #26734
@geoand I created the above PR. I'm not sure if I did it right though :)

[2022-07-14 15:13] glefloch commented on #26733
The default CDI bean scope is `dependant`. It's not possible to mock those beans so I think we won't be able to do something for this case. Maybe @geoand has an idea?

[2022-07-14 16:44] geoand commented on #26724
I would like to limit things as much as possible, so what info from `request` do you need?

[2022-07-14 16:47] sberyozkin commented on #26736
Interesting, also CC @cescoffier, I guess the only option is to tune `setupTcpHttpServer` logic a bit to fail early after a timeout ?

[2022-07-14 16:59] lcareto opened #26739 "GraphQL server fails to build the schema when a query/mutation contains a Kotlin List<Enum> parameter"
### Describe the bug

A Query/Mutation containing a Kotlin `List` of `enum` causes the GraphQL schema builder to fail.
The other scenario described below works fine.

Eg.
[code]

### Side issue
When downgrading to Quarkus 2.9.2.Final, the query `deserializeInnerList` deserializes the inner filed `values: List<MyEnum>` as an empty List.

<img width="1104" alt="Screen Shot 2022-07-14 at 12 52 38 PM"

[2022-07-14 16:59] sberyozkin commented on #26724
@geoand We pass `RoutingContext` to `HttpAuthenticationMechanism`, which and also indirectly to `IdentityProvider`, so IMHO it is better to keep `RoutingContext`

[2022-07-14 17:00] sberyozkin commented on #26724
We even support injecting it the application code

[2022-07-14 17:03] sberyozkin commented on #26724
Actually, thinking more about it, I wonder if we should avoid passing `HTTP` related info at all, as `AuthorizationController` can be used I guess with GRPC as well. I think this is why Stuart may have decided to avoid passing it to `IdentityProvider` and `AuthorizationController`.

@jcunliffe1 What happens if you add `@ActivateRequestContext` to your bean, can you have `@RoutingContext` injected

[2022-07-14 17:06] geoand commented on #26724
@sberyozkin there is no way to get the HTTP request from CDI at that point, we need to pass down information.

We should find the minimum set of info

[2022-07-14 17:17] sberyozkin commented on #26724
@geoand

Not sure about it, `RoutingContext` is available to users everywhere in Quarkus, and it is not really possible to determine what the minimum amount of information is based on this issue alone. It would be inconsistent IMHO with the fact RoutingContext is visible across a lot of Quarkus anyway

[2022-07-14 17:27] geoand commented on #26724
But like you said, would that work in grpc?
If so, then okay

[2022-07-14 17:34] sberyozkin commented on #26724
I'm contradicting myself, thanks for gently pointing it out :-), I thought you were referring to HTTP specific fragments from RoutingContext, sorry about that. Yeah. I don't know. If the injection were working then it would've been simplest.

So may we should have `AuthorizationContext` bean passed around and it would include some info like the request address and Map of name/value pairs which can

[2022-07-14 17:34] jcunliffe1 commented on #26724
in my case just the domain name, under which the ip and istio route was resolved.

[2022-07-14 17:42] jcunliffe1 commented on #26724
I'm a little surprised about your reluctancy to pass down the routing context, but at the same time suggesting to access it via injection. If io.quarkus.vertx.http.runtime.CurrentVertxRequest#setCurrent(io.vertx.ext.web.RoutingContext, java.lang.Object) is accesible from io.quarkus.vertx.http.runtime.security.HttpAuthorizer#checkPermission, then you can also set the routingContext there, to fix th

[2022-07-14 17:43] radcortez commented on #25216
The issue is the usage of `${parent.version}` as the Maven submodule version. When you build the app you even get a Maven warning:

[code]

If you want to use the `parent.version` as the same version for the sub-module, simply remove the declaration and the submodule will automatically inherit the parent version.

Please check:
- https://issues.apache.org/jira/browse/MNG-4715
- https://maven.apach

[2022-07-14 17:43] #25216 closed

[2022-07-14 17:57] sberyozkin commented on #26724
@jcunliffe1

The problem is not all Quarkus Services are Verx-HTTP aware services.

This could give an option those Vertx HTTP aware services which need it to access it

I'd not go as far as saying it is `broken` as it may have been done by design for the reasons outlined above.
This sounds like though it might fix it, would you like to experiment ? We may agree with Georgios on the alternative so

[2022-07-14 18:40] geoand commented on #26724
Yeah, I think that makes sense

[2022-07-14 18:49] ebullient commented on #24326
Done! =)

[2022-07-14 18:49] #24326 closed

[2022-07-14 19:22] glefloch commented on #26733
I miss read your comment, I though it was working when annotating with both `@Produce` and `@ApplicationScoped`

[2022-07-14 19:30] ppalaga commented on #26682
Yes, `camel-quarkus-pdf` is using  Apache PDFBox under the hood. It adds some native-image config, but looking at its doc page https://camel.apache.org/components/latest/pdf-component.html it does not look like we support the PDF -> image workflow. You may want to file a Camel issue for that https://issues.apache.org/jira/projects/CAMEL

[2022-07-14 19:30] toniocus commented on #12400
HA HA HA
Very sad I was waiting for an eulogy on the goodness of quarkus (just pure adjectives) and the badness of the others (more and more adjectives) nothing more than that.

(Just a sarcasm in case it doesn't look like in my English)

[2022-07-14 23:54] phillip-kruger commented on #26739
Does this work when you use Java ?

[2022-07-15 02:42] raycke commented on #25216
@radcortez  Got it, thanks a lot. ☕

[2022-07-15 05:05] cescoffier commented on #26736
I would need to check. The vertx stack generally indicates a problem when netty computes the machine id (most of the time because of dns). However if I remember directly there is a random object that may be used.

If that's the case, one approach would be to pass a machine id, and avoid the computation.

[2022-07-15 06:16] geoand commented on #26733
It seems like your reproducer mixes Quarkus and Mockito annotations and also uses Kotlin to it's very hard to understand what is going on.

I tried something with a sample Java project and it worked just fine.

[2022-07-15 06:18] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2674789764

[2022-07-15 06:36] ThoSap opened #26747 "Kubernetes Ingress path should be configurable"
### Describe the bug

Currently, the `quarkus-kubernetes` extension (2.10.2.Final) does not honor the value of Quarkus property `quarkus.http.root-path`, so the Kubernetes ingress path is always the root `/`.

### Expected behavior

The Kubernetes ingress path should equal property `quarkus.http.root-path`.

**application.properties**
[code]
**kubernetes.yml**
[code]

### Actual behavior

**applic

[2022-07-15 06:37] geoand commented on #26747
Sounds reasonable, WDYT @iocanel ?

[2022-07-15 06:44] ThoSap commented on #26747
Hmmm, maybe it is not as easy as I thought.
What about the case when somebody sets the properties like this:
https://quarkus.io/blog/path-resolution-in-quarkus/#move-the-non-application-root-path-q
[code]
Then for example `/newroot/swagger-ui/` would not work.

WDYT @geoand ?

[2022-07-15 06:49] geoand commented on #26747
Interesting point

[2022-07-15 07:17] vadim-hleif commented on #26733
I removed 1 Mockito annotation, no changes.

There are two beans: A and B, B is injected in A, [B is created via @Produses ](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/main/kotlin/test/quarkus/mocking/BeansProvider.kt#L10), [A class itself annotated by @ApplicationScoped](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/main/kotlin/test/quarkus/mocking/A

[2022-07-15 07:18] gwenneg commented on #26730
Yes, that would be an interesting addition to `io.quarkus.cache.CaffeineCache`.

[2022-07-15 07:22] galderz commented on #25943
Unless I'm mistaken, `ConfigurationCondition` was first introduced by @zakkak in [this commit](https://github.com/quarkusio/quarkus/commit/b5361d8c2beb826be21d4f8e27b0df3ed4678b73) to support resource registration.

Yeah, that's used to enable registering lambdas for serialization.

I'll investigate these 2 use case to see if there are ways to do the same via public APIs, otherwise I'll create iss

[2022-07-15 07:32] yuxblank opened #26748 "CVE-2022-2466 - Request Context not terminated with GraphQL"
### Describe the bug

~~Upgrading from Quarkus 2.9.x to 2.10.x whenever i try to access `RoutingContext` request from a bean i get always the headers of the first request that have been made to the app.~~

~~This happens on both @GraphQLApi endpoints and event in any CDI bean that consumes `RoutingContext` or `HttpServerRequest`.~~

~~Also by debugging, the CurrentVertxRequest has always stale hea

[2022-07-15 07:32] galderz commented on #11773
Doubt it. I'll reopen if I see it happen again.

[2022-07-15 07:32] #11773 closed

[2022-07-15 07:37] ThoSap commented on #26747
Maybe the best solution would be to let the user set the HTTP ingress path with a new property **`quarkus.kubernetes.ingress.path`**?

My use case is the following.
I have, for example, the domain `api.prod.example.com` and different Quarkus microservices are served using different K8s ingress paths:
https://api.prod.example.com/api/fights
https://api.prod.example.com/api/heroes
https://api.prod.e

[2022-07-15 08:11] thanhnguyenduy opened #26749 "Build failure with quarkus-smallrye-openapi when upgrading to 2.10.2.Final"
### Describe the bug

I upgraded Quarkus from 2.9.2.Final to 2.10.2.Final

And my some of my unit tests (@QuarkusTest) are failed with:
[code]

### Expected behavior

All tests should complete without failure as 2.9.2 version.

### Actual behavior

Some test failed with logs: 'io.smallrye.openapi.spi.OASFactoryResolverImpl not a subtype'

### How to Reproduce?

To Reproduce
Steps to reproduce the

[2022-07-15 08:14] geoand commented on #26747
Let's see what @iocanel thinks

[2022-07-15 08:30] geoand commented on #26733
Quarkus does support Kotlin, of course.

My point was that your sample was convoluted so it's hard to pinpoint what the problem is and as I said, a sample Java application I tried with a mock for a bean created via a `@Produces` method worked just fine

[2022-07-15 08:45] phillip-kruger commented on #26749
This might be a classloading issue. Can you double check your classpath ?

[2022-07-15 08:48] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2674789764

[2022-07-15 09:07] phillip-kruger commented on #26748
Thanks, this is obviously an regression. Just out of interest, did you try and get the token with
[code]
As this might not have the issue

[2022-07-15 09:21] czetsuya commented on #10478
How did this issue get resolved? I'm currently encountering the same issue in version 2.10.2.Final. It's weird though, on simple DTO sometimes it return the JSON response, sometimes it doesn't after redeploy.

[2022-07-15 09:25] michalszynkiewicz commented on #13969
I think it would be good to do so

[2022-07-15 09:27] brunobat commented on #26505
@StFS Smallrye Metrics is no longer under active development and is to be marked as deprecated soon. Would you be able to switch to Micrometer and give it a try?

[2022-07-15 09:35] geoand commented on #26085
cc @ozangunalp

[2022-07-15 09:42] geoand commented on #25951
cc @brunobat

[2022-07-15 09:43] geoand commented on #25846
Closing as we never got feedback

[2022-07-15 09:44] #25846 closed

[2022-07-15 09:51] geoand commented on #25302
Closing as we have not got any updated information

[2022-07-15 09:56] geoand commented on #25190
Is this still an issue with `2.10.2.Final` or `2.11.0.CR1`?

[2022-07-15 10:00] geoand commented on #26279
I am going to close this in favor of https://github.com/quarkusio/quarkus/issues/24581 which we had discussed at some point.

[2022-07-15 10:09] geoand commented on #25981
I am also wondering whether enabling the various logging components using annotations instead of config would make sense...

[2022-07-15 10:15] yuxblank commented on #26748
No, its broken also JsonWebToken. Before making that example i was using JsonWebToken and when resolving the current request CTX and the Authorization header was stale.

For instance was like this:

[code]

[2022-07-15 10:23] phillip-kruger commented on #26748
@sberyozkin might be able to help ?

[2022-07-15 10:26] sberyozkin commented on #26724
I can have a look later, perhaps it can be even simplified to pass a request address plus a Map of attribute objects, where one of the attributes is `RoutingContext`, which we don't even have to set yet to support the current case since the domain name will be in the request address String.
All Quarkus `HttpAuthenticationMechanism` use a similar approach for indirectly passing `RoutingContext` to

[2022-07-15 10:28] geoand commented on #26724
We can make it work by making a new method that will be a default method calling the existing one, no?

[2022-07-15 10:29] ozangunalp commented on #26085
@ewelling normally `apicurio.registry.use-specific-avro-reader` is automatically set to true in configuration and you wouldn't have that ClassCastException. What also confuses me is your usage of InMemorySink. Are you configuring an outgoing channel as in-memory and checking forwarded messages ?

In any case it would be great if you add a reproducer.

[2022-07-15 10:31] aloubyansky commented on #25190
2.11.0.CR1 includes Debezium 1.9.5.Final. @zbendhiba could you please confirm it's not an issue any more? Thanks!

[2022-07-15 11:07] sberyozkin commented on #26724
Or yeah, of course, this idea is even shown in the code example above :-). Several OIDC interfaces have been updated this way...

[2022-07-15 11:09] geoand commented on #26724
👍🏼

[2022-07-15 11:29] smil2k opened #26755 "Quarkus Dev Mode and ErrorProne"
### Discussed in https://github.com/quarkusio/quarkus/discussions/23142

<div type='discussions-op-text'>

<sup>Originally posted by **atamanroman** January 24, 2022</sup>
Has anyone a working Quarkus Dev Mode and [ErrorProne](http://errorprone.info) setup?

Hot reload (triggered by an HTTP request) fails with:

My ErrorProne config:

[code]
</div>

I got the exact same problem, I've tried to add

[2022-07-15 11:59] agoncal commented on #12400
Without falling into comparing frameworks, I think the following should be addressed:

* Explain build-time vs runtime
* Dig into build-time (how does it work within Quarkus)
* Are all the extensions optimized for build-time (core extension vs quarkiverse)
* What if I depend on an external dependency which is not optimized for build time? (can Quarkus do something or it just does the good old runt

[2022-07-15 12:08] sberyozkin opened #26756 "Injecting io.quarkus.scheduler.Scheduler throws StackoverFlowError"
### Discussed in https://github.com/quarkusio/quarkus/discussions/26746

<div type='discussions-op-text'>

<sup>Originally posted by **ramila** July 15, 2022</sup>
Hi;

I'm trying to Inject the built-in Scheduler to pause/resume a scheduled job. I followed the documentation https://quarkus.io/guides/scheduler-reference.

import io.quarkus.logging.Log;
import io.quarkus.scheduler.Scheduled;
import

[2022-07-15 12:28] vadim-hleif commented on #26733
I see.

I have updated example (add java sample, unified java and kotlin codebase). Yes, java example works fine, looks like something wrong with proxy creation in kotlin example.

Will try to solve on my own but it would be perfect you someone also could take a look.

Thanks.

[2022-07-15 12:30] geoand commented on #26733
Does a simple Kotlin project with a single `@Produces` bean that is mocked work properly?

[2022-07-15 13:08] vadim-hleif commented on #26733
Yes, if bean is not used anywhere else - it works. Example:
https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/test/kotlin/test/quarkus/mocking/MockingTest.kt#L24
So, [here](https://github.com/vadim-hleif/test-quarkus-mocking/blob/master/src/test/kotlin/test/quarkus/mocking/MockingTest.kt#L19) we have mocked bean

But [as it's shown in the test class](https://github.com/vadim-hlei

[2022-07-15 13:30] FroMage commented on #24962
If you can't reproduce it, let's close it. Thanks for investigating :)

[2022-07-15 13:30] #24962 closed

[2022-07-15 13:32] #25391 closed

[2022-07-15 13:48] FroMage commented on #25630
This sounds like a duplicate of #24499, no?

[2022-07-15 13:53] FroMage commented on #25644
We didn't add the `Optional` return types because `Uni` already abstracts over the same thing. Why don't you use the `Uni` abstractions for dealing with `null` values?

[2022-07-15 15:13] sberyozkin commented on #26724
I've prototyped some code, https://github.com/sberyozkin/quarkus/pull/new/authorization_controller_context, however, while `HttpAuthorizer` can create it as it has an access to `RoutingContext`, many interceptors such as `EagerSecurityCheck` which check `authorizationController.isAuthorizationEnabled()` don't have access to `RoutingContext` so I'm not sure if this option works...

[2022-07-15 15:51] sjaakd commented on #26627
@famod thanks for the explanation.

[2022-07-15 17:12] szxp commented on #26152
Hi @westarne, have you tried to use the `@RegisterProvider` on the REST client interface for registering your custom `ObjectMapper` instead of the `register` method?

[code]

[2022-07-15 20:17] famod commented on #26755
This sounds like a known long standing issue, see #1502 and related issues.

Have you tried adding `error_prone_core` as a `provided` _project_ dependency? See https://github.com/quarkusio/quarkus/issues/1502#issuecomment-473527113

[2022-07-16 07:15] calohmn opened #26764 "OpenTelemetry: NPE in HttpInstrumenterVertxTracer.RouteGetter when request got cancelled"
### Describe the bug

Relates to [#26356](https://github.com/quarkusio/quarkus/pull/26356/files#diff-8dd25e6bcffd41aa6d82e224799fbf61b9708d6d8a3ead2c7ed32ad261d62cccR152):
Using a vert.x HTTP server along with `quarkus-opentelemetry`, we are seeing such exceptions in the logs:
[code]

They occur when a client cancels a request before the server has sent a response.

### Expected behavior

_No resp

[2022-07-16 09:25] ivansenic commented on #26730
Will tackle this next week then..

[2022-07-16 09:36] gastaldi commented on #26071
FWIW cron-utils 9.1.7 is now out without the dependency on Javassist

[2022-07-16 12:37] karesti commented on #26478
@tristantarrant @geoand taking this point. https://issues.redhat.com/browse/ISPN-14012

[2022-07-16 19:26] dondragon2 commented on #12125
Has this been resolved? any workarounds?

[2022-07-16 22:53] kucharzyk opened #26765 "@TestSecurity ans Principal injection"
### Describe the bug

[code]

I'm using ```@TestSecurity``` annotation to mock current user.
It works when in production code I'm using SecurityIdentity to get principal, but it is not working when I'm injecting Principal directly.

I think it is a bug and behaviour should be consistent in both cases.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[2022-07-17 13:18] cohenor opened #26768 "Allow running `@QuarkusMainIntegrationTest` on non short-lived apps"
### Description

Hey,

My colleagues and I working on a Quarkus application that basically runs a server that reads data from a Unix domain socket over UDP and performs some BL on top of the messages it receives.

To run the socket server we're providing a custom main method with `@QuarkusMain` -
[code]

[code]

While running and testing the application manually, we had no issues and everything wo

[2022-07-17 15:59] sberyozkin commented on #26765
@kucharzyk if you use `smallrye-jwt` or `quarkus-oidc` `service` apps then check https://quarkus.io/guides/security-jwt#integration-testing-security-annotation or https://quarkus.io/guides/security-openid-connect#integration-testing-security-annotation.
The base `TestSecurity` module does not provide a `Principal` producer

[2022-07-17 17:05] cescoffier commented on #26428
Assigned it to myself, I will add something in the documentation.

[2022-07-17 17:06] cescoffier commented on #26560
@alesj would you be interested to have a look?

[2022-07-17 17:08] cescoffier commented on #26111
Yes, this need to be added into SmallRye Reactive Messaging first.

[2022-07-17 17:10] cescoffier commented on #26111
I have opened: https://github.com/smallrye/smallrye-reactive-messaging/issues/1818.

[2022-07-17 17:11] cescoffier commented on #25089
Closing - please re-open after investigation.

[2022-07-17 17:11] #25089 closed

[2022-07-17 18:40] kucharzyk commented on #26765
Thanks @sberyozkin

I’m using ```quarkus-test-security-jwt``` and no principal (mocked) is provided. Shouldn’t  ```JsonWebToken``` be returned as a  ```Princial ``` in this case?

[2022-07-17 19:53] #16976 closed

[2022-07-17 21:17] michalvavrik commented on #25995
@mkouba

thoughts
1. extension method is basically `ValueResolver` but more costly as it has to be built by `io.quarkus.qute.generator.ExtensionMethodGenerator.NamespaceResolverCreator.ResolveCreator#addMethod`
2. when `or`/`elvis` formal parameters are validated here https://github.com/quarkusio/quarkus/blob/main/extensions/qute/deployment/src/main/java/io/quarkus/qute/deployment/QuteProcessor.ja

[2022-07-17 21:41] sberyozkin commented on #26765
@kucharzyk np, the example in the linked doc uses `@JwtSecurity`, `quarkus-test-security-jwt` code which creates `JsonWebToken`is activated by this annotation. It can't do it with `@TestSecurity` alone.
IMHO, when working with JWT, it can be easier in inject `JsonWebToken`.

[2022-07-17 21:48] kucharzyk commented on #26765
Most of the time its easier to use JsonWebToken but sometimes when you need only principal name it easier to use Principal.
For me it's very confusing that you can get different ```Principal``` in test by injecting ```Principal``` and different using ```SecurityIdentity.getPrincipal()```.

[2022-07-18 00:24] phillip-kruger commented on #26748
@markuseckstein - thanks for the reproducer.

[2022-07-18 06:02] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2688282472

[2022-07-18 06:04] wstryjew opened #26773 "Runtime exception on building application jar"
### Describe the bug

When I try to build application jar the following exception occures:

`ERROR]         [error]: Build step io.quarkus.deployment.logging.LoggingResourceProcessor#setupLoggingRuntimeInit threw an exception: java.lang.RuntimeException: You cannot invoke getValue() directly on an object returned from the
bytecode recorder, you can only pass it back into the recorder as a paramete

[2022-07-18 06:31] cescoffier commented on #26736
My bad, it's not the machine id in this case. It's when loading the key store, it requires a random generator that blocks because of the lack of entropy.

@sberyozkin can we try to switch to SHA1PRNG?

[2022-07-18 07:35] gsmet commented on #26748
@phillip-kruger @jmartisk could you make this one a priority? I wonder if we should also get help from @manovotn , @mkouba or @Ladicek .

[2022-07-18 07:42] calohmn opened #26776 "OpenTelemetry: High span name cardinality for invalid HTTP request spans"
### Describe the bug

This is about the remaining issue from #26216:
When using the `quarkus-opentelemetry` extension and observing Vert.x HTTP server request spans, the span names for **invalid HTTP requests** (resulting in status 400 or also 501 responses) contain the full request URI path. The [OTEL spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trac

[2022-07-18 08:02] calohmn commented on #26216
Right, the exclusion of spans for health endpoint requests would need to be handled differently, then. I wonder if it wouldn't be possible to not create these spans in the first place, instead of dropping them afterwards.

In any case, regarding the handling of the invalid HTTP request spans, I've created #26776 to track this (also because there are cases for which the "matchAll" route failure han

[2022-07-18 08:33] gsmet commented on #26748
I had a quick look and atm my guess is that this change is causing it: https://github.com/quarkusio/quarkus/pull/25194/files#diff-8f7eaa37c6a97d2c572deefa486e8762a7e962208beca6d2bb699b00a6327629R27

I'm building a patched version to check my theory.

[2022-07-18 08:38] phillip-kruger commented on #26748
@Ladicek - yes I also ran the test with REST, and that worked, so it's GraphQL specific.

[2022-07-18 08:43] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2688282472

[2022-07-18 08:54] phillip-kruger commented on #26748
@Ladicek @gsmet I think I found it. the endhandler that terminates the context. Doing a PR now. I'll add a test for this.

[2022-07-18 09:43] gsmet commented on #26756
@ramila any chance you could provide a simple reproducer for this one (i.e. a simple Maven project reproducing the issue)?

[2022-07-18 09:59] sberyozkin commented on #26765
@kucharzyk

Can you clarify please as with `@JwtSecurity` it will be the same instance ?
As I said, `@TestSecurity` does not have a `Principal` producer as it will be causing its own confusion if it is combined with the extensions which have `Principal` produced

[2022-07-18 10:14] kiview commented on #25682
Does `quarkus dev` keep the containers running? If this is achieved via `reusable` mode in Testcontainers, note that this is an experimental alpha feature and it might not work with alternative container engines, since they might break certain assumptions.

From your logs I see, that your code tried to connect to `localhost:49260`, where was the container actually run, and which port was exposed?

[2022-07-18 10:17] manusa opened #26780 "NoSuchMethodException in Resteasy-reactive when running in native mode (RestResponse<InputStream>)"
### Describe the bug

I'm facing a similar issue to the one described in #25973 fixed by #26021.

In my case the method signature and annotations look like:
[code]

Maybe accounting for RestResponse/InputStream in [`ResteasyReactiveProcessor`](https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment/src/main/java/io/quarkus/resteasy/reactive/

[2022-07-18 10:52] DavideD commented on #23739
Also `@PostConstruct` [doesn't seem to work with Reactive](https://stackoverflow.com/questions/73000578/using-transaction-in-postconstruct/73020890#73020890).

(I'm putting it here because I don't want to create a new issue for now and I don't want to forget about it)

[2022-07-18 11:02] xstefank opened #26782 "Endpoint access not logged into access log when root-path and non-application-root-path are under different root"
### Describe the bug

Originally reported in https://github.com/smallrye/smallrye-health/issues/412.

When non app root is rooted under different root than app HTTP root a new main router is created and thus we add access log handler only to the HTTP root and not the new main root.

### Expected behavior

Non app access are logged into the access log.

### Actual behavior

Not logged as showed in

[2022-07-18 11:11] therealjsie commented on #25682
`quarkus dev` keeps the containers running but I'm not sure how this is implemented. The problems also arise with other commands that don't keep the containers running, e.g. `gradle quarkusTest`.

Network setup seems finde overall. The targeted URI is correct. The container was run at `localhost:42960` and I was able to connect to the URI from my cli via `psql`. I'm not sure if this is an issue wh

[2022-07-18 11:27] kiview commented on #25682
The log you shared had no errors from Testcontainers, they came from Liquibase.

[2022-07-18 11:34] albert0815 opened #26784 "Support of JsonView in rest-data-panache"
### Description

Hi all,

We are trying to make use of the automatically generated CRUD interfaces provided by panache. It basically works fine in simple cases. Coming to real world examples it would be useful to support JsonView e.g. to be able to hide certain fields from the list response.

### Sample
It would be useful If we could annotate with @JsonView in the interface, somehow like this:
[co

[2022-07-18 11:36] mihaipoenaru commented on #26773
I have the same issue. Was about to open an issue myself but may as well use this one. For me it only happens when I use categories/handlers. The error strangely disappears when I comment out the `%prod.quarkus.log.handler.file."PRINT_LOGGING".enable=true` line

My other projects using the json-logging extensions work fine, but the difference is that I don't use categories. I'll keep trying arbitr

[2022-07-18 11:39] radcortez commented on #26216
Not sure if this is possible, because Spans are handled in a very low-level API (to catch all http requests), meaning that there is no knowing if the endpoint is the health one (aside from looking into the url).

[2022-07-18 11:48] edeandrea commented on #25682
In my original comment when I created this issue I was not using liquibase. Just postgresql. The problem does not exist with any of the other jdbc drivers (MySQL/etc).

I don't know if it's a testcontainers thing or a Quarkus thing. I just know that it consistently doesn't work with rancher desktop but is fine with docker desktop.

[2022-07-18 12:35] gsmet commented on #26748
We have a fix that will get merged today and I will do an emergency release tomorrow.

Thanks for the report and thanks @markuseckstein for the isolated reproducer!

[2022-07-18 12:53] yuxblank commented on #26748
thank you all for getting into so fast!

[2022-07-18 13:15] markuseckstein commented on #26748
Great work! Thanks for fixing this so quickly!

[2022-07-18 13:30] edeandrea commented on #25682
Nope no sample data. Just a REST endpoint and a JPA Entity object.

[2022-07-18 13:53] albert0815 commented on #26784
Validation groups would be a similar case I think.

[2022-07-18 14:01] mihaipoenaru commented on #26780
@manusa does it still happen with ubi-quarkus-mandrel:22.1-java17 ? I had similar issues with reflection, but it was solved when I bumped the mandrel version

[2022-07-18 14:07] FroMage commented on #26237
So, this is an ORM bug then? @Sanne or @yrodiere WDYT?

[2022-07-18 14:12] nexus-Six opened #26789 "Ability to Configure Update Behavior for Kubernetes/OpenShift Resources"
### Description

The current implementation of the Kubernetes/OpenShift extensions use **createOrReplace** to apply the resources generated in target/kubernetes/openshift.yml to OpenShift. This leads to the replacement of all these Openshift resources on every redeploy, including the **ServiceAccount**. This new ServiceAccount in turn triggers the creation of three Openshift **Secrets**. Over time

[2022-07-18 14:23] manusa commented on #26780
Let me try it

[2022-07-18 14:36] holomekc commented on #25453
I tried to create a reproducer:
https://github.com/holomekc/opentelemetry-bug

I know that in our productive code we have several cases where the traces are not connected properly. But I am also not sure if our expectations are wrong. In this reproducer I expected something like this:

hello -> c -> a & b

But I see:
![image](https://user-images.githubusercontent.com/30546982/179535450-e9d4a567-c1

[2022-07-18 14:43] manusa commented on #26780
No luck, same result. I'm inclined to think that this should be fixed at the deployment processor level.

[2022-07-18 14:48] FroMage commented on #26308
This looks like an ORM question @Sanne or @yrodiere

[2022-07-18 14:52] gsmet commented on #26780
I'm surprised @GET is not sufficient to trigger the registration. Could you create a small reproducer?

[2022-07-18 15:01] kucharzyk commented on #26765
@sberyozkin

For me it's not working even with ```@JwtSecurity```.

Consider the following test

[code]

I'm trying to set user but injected ```Principal``` is still empty.

Should I stick to using ```SecurityIdentity``` instead of ```Principal```?

[2022-07-18 15:10] kucharzyk commented on #26765
Silly mistake. ```quarkus-smallrye-jwt``` was missing in my classpath.
I've thought that  ```quarkus-test-security``` and ```quarkus-test-security-jwt``` will include everything I need.
I have multi-module application and my module contained only ```quarkus-test-security-jwt```.

With ```quarkus-smallrye-jwt``` on classpath the following test is passing even without ```@JwtSecurity```

[code]

```

[2022-07-18 15:10] #26765 closed

[2022-07-18 15:23] manusa commented on #26780
:+1: I'll try to create one tomorrow and update the description.

[2022-07-18 15:54] sberyozkin commented on #26736
Hi @cescoffier I think if it were to be done then it could only be done on the test case level only, however, this would probably make the test not really working in a FIPS mode as `SHA1PRNG` is not FIPS compliant.

I still think though the problem should be addressed at the Vert.x HTTP level - something has gone wrong at the low level whi doing `setupTcpHttpServer` but it feels like `VertxHTTP` s

[2022-07-18 16:44] abeosoft commented on #26589
I added the property as you recommended, but I am still getting a build error. Basically, I commented out the docker builder extension dependency and added the following property:

quarku

Error:

[2022-07-18 17:21] DCCSKrezovic opened #26793 "Support acr_values in quarkus-oidc extension"
### Description

We use acr_values to request multi-factor authentication from our provider and have to send the claim to the authorization endpoint as a query param. There seems to be no way to add additional query< parameters to the call to the openid authorization URL.

Please add support to either hardcode an acr_value read from configuration, or add any arbitrary request parameters sent to th

[2022-07-18 17:24] rgmz opened #26794 "Inconsistent configuration substitution when using Dev Services with a named DataSource"
### Describe the bug

When writing an application, it is common to want a real/configurable database URL for development and production, but a Dev Services URL for tests. However, depending on whether you're using a top-level `datasource` or a named `datasource`, Quarkus may not inject the dev services URL.

### Expected behavior

I would expect both of the following configurations to be equivalen

[2022-07-18 17:25] DCCSKrezovic opened #26795 "[quarkus-oidc] Support authenticating to OpenID Introspection endpoint"
### Description

Our introspection endpoint is protected by basic auth and a different client-id/client-secret combination than the usual combination used for authorization code flow.

Please add support for providing additional basic auth credentials in the calls to the introspection endpoints in quarkus-oidc extension.

### Implementation ideas

_No response_

[2022-07-18 17:27] DCCSKrezovic opened #26796 "[quarkus-oidc] Support authenticating to OpenID Introspection endpoint"
### Description

Our introspection endpoint is protected by basic auth and a different client-id/client-secret combination than the usual combination used for authorization code flow.

Please add support for providing additional basic auth credentials in the calls to the introspection endpoints in quarkus-oidc extension.

### Implementation ideas

_No response_

[2022-07-18 17:27] #26795 closed

[2022-07-18 17:39] rgmz commented on #26794
The runtime configurations (from `ConfigProvider.getConfig()`) seem to be more-or-less the same:

#### Top-Level DataSource

(5)  `YamlConfigSource[source=file:/...application.yml]`
[code]

(7) `PropertiesConfigSource[source=Specified default values]` has:
[code]

(8) `PropertiesConfigSource[source=Runtime Defaults]` has both:
[code]

#### Named DataSource

(5)  `YamlConfigSource[source=file:/...a

[2022-07-18 18:51] MarcAntoine-Beauvais opened #26798 "Jackson property extension accept-case-insensitive-enums doesn't work"
### Describe the bug

When using property
quarkus.jackson.accept-case-insensitive-enums=true

It should ignore case during Enum deserialization but it doesn't.

### Expected behavior

It should ignore case during Enum deserialization.

### Actual behavior

404 Not Found when trying to pass enum not matching the case

### How to Reproduce?

![image](https://user-images.githubusercontent.com/463919/

[2022-07-18 19:14] hamburml commented on #26152
I have a similar issue. I tried to migrate fom `resteasy` to `resteasy-reactive` and from `rest-client` to `rest-client-reactive`. Every Client has it's own ObjectMapper which is registered via `@RegisterProvider(....class)`. In rest-client this works, in rest-client-reactive it's not working.

[2022-07-18 19:18] hamburml commented on #23979
@manofthepeace The stackoverflow answer does work with the rest-client dependency but sadly not with rest-client-reactive :(

[2022-07-18 19:59] lcareto commented on #26739
@phillip-kruger , there's no issue when using java, even when mixing Kotlin data classes or enums with Java function, it works.
The "failed to start" error seems to be specific to `Kotlin List`.

[2022-07-18 23:33] radcortez commented on #26156
The issue was that the BuildTimeRunTime source was not correctly reloaded in Dev mode, causing the warning message and keeping the old config value.

In Dev mode, the warning message should not appear because everything is reloaded, and the app is built again, so it doesn't make sense for the message to appear.

[2022-07-19 03:09] thanhnguyenduy commented on #26749
I will try to reproduce it and let you know later,

[2022-07-19 04:42] sabinaisayeva commented on #12212
Hi. The same issue here. Is it supported already? Or still not? Is there any way to find stomp client for quarkus?

[2022-07-19 04:52] geoand commented on #25981
I like approach no.1.

I'll try and have a look in a few weeks

[2022-07-19 04:54] geoand commented on #26724
I'm on sick leave until further notice, so I can't help out on this for a while

[2022-07-19 05:01] cescoffier commented on #12212
There is no real integration , but it should work with the plain vertx code.

[2022-07-19 05:04] sabinaisayeva commented on #12212
Thanks. I am testing now and getting no host exist. However I checked with postman and it found the host. Maybe I am missing something..

[2022-07-19 05:39] cescoffier commented on #12212
How are you starting the Stomp server?
Are you using the web socket bridge, is so how?

[2022-07-19 05:43] geoand commented on #26789
Also cc @manusa

[2022-07-19 06:07] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2695322829

[2022-07-19 06:19] cescoffier commented on #12212
The following code works:

[code]

It uses:

[code]

[2022-07-19 06:45] #24944 closed

[2022-07-19 06:50] yrodiere commented on #24581
I  would suggest

[2022-07-19 06:52] yrodiere commented on #24581
That's a good idea.

IMO we should also consider having `test` as the parent profile of the `integration` profile, so that test properties are automatically inherited by the `integration` profile`. That would address some concerns mentioned in #26279, mainly the confusion of users setting test properties and not seeing them applied in... tests.

[2022-07-19 06:53] yrodiere commented on #26279
I doubt this solution will do much to reduce confusion from users who set a configuration property in the "test" profile and don't see it applied when running tests.

But as I stated above, I agree it's a start:

[2022-07-19 06:56] knuspertante commented on #2101
I think https://github.com/oracle/graal/pull/4661 could help here as mentioned in #25526.

[2022-07-19 07:25] NMichas opened #26804 "OpenTelemetry: Can't get trace/parent/span Ids in Quarkus logs"
### Describe the bug

I'm following the example in https://quarkus.io/guides/opentelemetry to configure OpenTelemetry in my Quarkus service. The integration works fine and I can see the spans in Jaeger UI.

However, Quarkus logs don't include information on the tracing context, i.e.
[code]

Is there some configuration I might be missing? I've made a tiny project below if you want to see this in ac

[2022-07-19 07:49] ia3andy commented on #26700
As discussed on zulip, the scope should be configurable to:
-  `test`: test only
-  `provided`: devmode + test
- empty: all (compile)

[2022-07-19 07:52] manusa commented on #26789
We do have a flag like this on JKube.

I like this idea, having a well set defined creation/deployment strategies and then performing the appropriate operation in the deployment phase sound like a great solution and would add flexibility for the users.

There's now the option to perform [server-side apply](https://github.com/fabric8io/kubernetes-client/blob/211095c1d9446475cba451092fe4ebdf0c7e6b62

[2022-07-19 08:12] stgrace commented on #20594
Hi @cescoffier,

Do you have an update on this? We would like to be able to add ca-bundles at runtime, since we deploy our applications at multiple cusotmers and they all require communication over HTTPS, so adding ca bundles at build time is not really viable.

[2022-07-19 08:15] cescoffier commented on #20594
No, unfortunately, my work around the new TLS config is on hold (until I have the time to come back to it)

[2022-07-19 08:17] tmihalac commented on #26764
Working on this

[2022-07-19 08:26] yrodiere commented on #26237
@FroMage Yes and no. As far as I understand it's more of a lazy loading issue, combined with how Panache applies the filters.

Panache enables filters before executing the query, and disables them just after having executed the query.

With `.list()`, children apparently get loaded eagerly during the `.list()` call, resulting in them being filtered (the filter is still active when children are loa

[2022-07-19 08:40] yrodiere commented on #26308
@FroMage As far as I understand, this is clearly a Panache issue, caused by the way Panache implements `pageCount`/`count`:

[code]

That method removes the "SELECT" part of the query, but doesn't remove the "FETCH" part of the query. A "FETCH" clause without a corresponding "SELECT" clause doesn't make sense, hence the failure.

That's precisely what the exception is trying to explain:

[2022-07-19 08:59] ia3andy opened #26807 "GitHub Action CI failing on Windows when the filename is "long""
Windows 😫
[code]
This path is not that long, I don't see any simple workaround.

Should we enable longpath for Windows in the CI?
https://github.community/t/filename-too-long-error-for-windows-2019-checkout/16676

_Originally posted by @ia3andy in https://github.com/quarkusio/quarkus/issues/26806#issuecomment-1188775116_

[2022-07-19 09:01] ia3andy commented on #26807
cc @gsmet @famod

[2022-07-19 09:03] mihaipoenaru commented on #26773
@gsmet I think you worked on the json logging, right? Please, any chance this is an easy fix? I had to do a very ugly workaround to be able to log a json to file, and I need to get rid of it as soon as this is fixed.

[2022-07-19 09:09] geoand commented on #26798
Please attach a sample project that exhibits the problem.

[2022-07-19 09:16] rsvoboda commented on #6588
failure in `Native Tests - 3` - org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal io.quarkus:quarkus-maven-plugin:999-SNAPSHOT:build (default) on project optaplanner-quickstart: Failed to build quarkus application

@ge0ffrey please take a look, CC @rsynek

https://github.com/quarkusio/quarkus-quickstarts/pull/1142 enables kogito-drl module (failure in Native Tests - 2)

[2022-07-19 09:32] josephearl commented on #26237
Yes found myself the Panache filter does not work with lazy associations- so am manually enabling and disabling the filter in my repository method once I’ve mapped the db entities to my domain models

Agree that maybe it should be deprecated since it’s functionality is somewhat limited

[2022-07-19 09:35] sberyozkin commented on #26793
Closing it as adding additional query parameters to the authorization endpoint URL is already supported and tested.
@DCCSKrezovic Please reopen if you find any problems related to passing `acr_values`

[2022-07-19 09:35] #26793 closed

[2022-07-19 09:40] gsmet commented on #26773
Hmmm. I see what the problem is. No idea how to fix it yet.

[2022-07-19 09:42] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2695322829

[2022-07-19 09:43] mrickly opened #26809 "Prefix kafka consumer client.id with quarkus.application.name"
### Description

- The auto-configuration of the client.id is described here: https://quarkus.io/guides/kafka#incoming-channel-configuration-polling-from-kafka
- The client.id is displayed for instance in the Clients dashboard of https://confluent.cloud/
- In order to distinguish the clients, we would have to prefix every channel with the quarkus.application.name
- It seems simpler to let quarkus

[2022-07-19 09:46] sberyozkin commented on #26796
I will have a look

[2022-07-19 09:59] gsmet commented on #26773
I have a fix coming. Too late for 2.10.3.Final but I release 2.11.0.Final core artifacts tomorrow and it will be in it if all goes well.

[2022-07-19 10:13] geoand commented on #25735
Thanks for the insights @FroMage

[2022-07-19 10:56] Krawart opened #26811 "@InjectMock is used in follow up @QuarkusTest classes"
### Describe the bug

Incorrect @Inject when Mocking was used in previous tests. Happens after upgrade from Quarkus 2.10.1 -> 2.10.2

### Expected behavior

Mocked bean should be used only for class where it lives

### Actual behavior

@Inject is injecting mocked bean from previous @QuarkusTest classes

### How to Reproduce?

Kotlin quarkus app with mockito:

1. Init kotlin quarkus project
2. Crea

[2022-07-19 11:01] kucharzyk commented on #25735
Wouldn’t it be better to create only support for conditional routes in resteasy only. With such flexible foundation everybody could create solution for him with few lines of code.

After that we could think about supporting specific frameworks.

[2022-07-19 11:17] gsmet commented on #26773
PR is here: https://github.com/quarkusio/quarkus/pull/26810 .

[2022-07-19 11:19] #26428 closed

[2022-07-19 11:21] manusa commented on #26780
I created a reproducer project https://github.com/marcnuri-demo/202207-quarkus-26780

The project [README.md](https://github.com/marcnuri-demo/202207-quarkus-26780/blob/main/README.md) contains the necessary steps to reproduce the issue.

[2022-07-19 11:33] gsmet commented on #26780
@geoand I'm not exactly sure how you're supposed to register the methods in RESTEasy Reactive so I'll let you have a look when you're back from sick leave.

[2022-07-19 11:59] rsynek commented on #6588
@rsvoboda thanks for the nudge; I will look into it.

[2022-07-19 12:00] geoand commented on #26780
They are not automatically registered for reflection, it only happens under certain conditions.

I'll add this to my increasing list of things to do when I get back

[2022-07-19 12:03] geoand commented on #25735
We'll see. If we do do that , I mentioned above what needs to be done.

[2022-07-19 12:08] geoand commented on #26768
I'd say, since you already have something, maybe open a draft PR so we can discuss

[2022-07-19 12:09] dilipdhankecha2530 commented on #26682
@ppalaga

With ```camel-quarkus-pdf```, i am able to generate image from the pdf file.
My reference code is [here](https://github.com/dilipdhankecha2530/quarkus-pdf-to-image).
I am able to run the code but while creating the native image it will come up with below error message.

[code]

could you please help now.

[2022-07-19 12:13] geoand commented on #16422
Feel free to open a PR with your suggestion.

Thanks

[2022-07-19 12:15] cohenor commented on #26768
Sounds good, will do 👍

[2022-07-19 12:59] ia3andy commented on #26807
I'll add a commit with the change on my codestart PR and we may decide

[2022-07-19 13:01] #26734 closed

[2022-07-19 13:05] gsmet commented on #26807
I don't have any objections but I don't really know what it does :).

[2022-07-19 13:16] josephearl opened #26814 "Panache - Support specifying whether NULLs come first or last when using `Sort`"
### Description

When using `ORDER BY` in SQL you can specify where nulls should appear using `NULLS FIRST` or `NULLS LAST`, e.g. `ORDER BY x DESC NULLS LAST`

It would be nice to have this functionality available when using `Sort.by` and `Sort.ascending` etc.

### Implementation ideas

Add directions `ASCENDING_NULLS_FIRST`, `ASCENDING_NULLS_LAST`, `DESCENDING_NULLS_FIRST` ... etc

Add shortcuts

[2022-07-19 13:38] jostey commented on #14682
Hi, I configured liquibase with no reactive drivers of mysql but I think that could be very useful this properties:
quarkus.liquibase.migrate-at-start
quarkus.liquibase.validate-on-migrate
quarkus.liquibase.clean-at-start

Thanks

[2022-07-19 13:40] Sgitario commented on #26814
This has been recently implemented in https://github.com/quarkusio/quarkus/pull/26394.

Example: Sort.by("foo", Sort.NullPrecedence.NULLS_FIRST);

[2022-07-19 13:43] josephearl commented on #26814
Awesome, in which case this can be closed

[2022-07-19 13:43] #26814 closed

[2022-07-19 14:15] StFS opened #26816 "The quarkus-amazon-lambda extension doesn't respect JSON log output for unhandled exceptions"
### Describe the bug

In a Quarkus project configured with the `quarkus-amazon-lambda` and `quarkus-logging-json` extensions, one would expect all logging (with the exception of the AWS CloudWatch `START`, `END` and `REPORT` lines) would be output as JSON.

This is in fact the case when running such a project in the Quarkus Dev server, all log lines, including log lines for unhandled exceptions th

[2022-07-19 15:40] clotton commented on #15193
@dfa1 Hi there.  My team faces this same issue where we are using Quarkus, and wish to use markers in logs but haven't found any way to make it happen.   I was hoping you might have some advice on what we can do here to get it working.  Is it now a matter of bumping up a Quarkus version or a jboss logging dependency?  Or is it something more complex?

[2022-07-19 16:05] R4V3NN0 opened #26818 "Annotation for resetting context, threads and containers for integration tests"
### Description

Before I switched to Quarkus, I used Spring and Spring has a feature which I really miss in Quarkus. Dont get me wrong I love working with Quarkus.

But Spring has the @DirtiesContext annotation and its very valuable in integration tests. I know that Quarkus has @TestTransaction but this seems not to work all the time. It worked fine until we integrated our database which also use

[2022-07-19 17:25] dfa1 commented on #15193
hi @clotton,

 with pleasure :)

You have to use a recent version of slf4j-jboss-logmanager (https://github.com/jboss-logging/slf4j-jboss-logmanager/releases/tag/1.2.0.Beta3) that is forwarding the SLF4J Marker as to the underlying logging library.

Then, with [quarkus-logging-json](https://github.com/quarkiverse/quarkus-logging-json), you can customize fully the JSON structure:

[code]

Please le

[2022-07-19 17:33] #26773 closed

[2022-07-19 17:40] #26639 closed

[2022-07-19 17:42] gsmet commented on #15193
@jamezp any chance you could release a final version of `slf4j-jboss-logmanager` 1.2.0 so that we can upgrade it in our BOM?

[2022-07-19 17:47] gsmet commented on #26748
2.10.3.Final has been released. It fixes this issue. Note that 2.11.0.CR1 is also vulnerable. The fix will be included in 2.11.0.Final.

This issue is the object of CVE-2022-2466.

[2022-07-19 17:48] clotton commented on #15193
Thank you very much @dfa1 and @gsmet we'd love to see this rolled into a Quarkus release.

In the meantime, we'll see how your suggestion goes and let you know!  Very much appreciated.

[2022-07-19 18:01] GustavoGramajo opened #26821 "Fault Tolerance - Retry not working with Vertx's WebClient"
### Describe the bug

I need to request info from an external service; said service is not that reliable, so it could fail under several circumstances. While implementing a Retry strategy, i found that it does not always work.

### Expected behavior

I expect APIClientVerticle.sendRequest to be called 5 times in a row when making a request to http://localhost:8081/retrySkipped

### Actual behavior

[2022-07-19 18:28] DCCSKrezovic commented on #26793
@sberyozkin  Thank you for the hint. I must have gone 3 times through the whole params list and I did not notice it.

[2022-07-19 20:16] clotton commented on #15193
@dfa1 Do you by chance have a working example of using that custom JsonProvider?  Not quite seeing how MyJsonProvider works in the greater scheme of a Quarkus app.

[2022-07-19 20:23] dfa1 commented on #15193
@clotton the only working example I have is the production code running happily @SIX since April 2021. I cannot share that... but I believe you should first of all have a look here:

https://github.com/quarkiverse/quarkus-logging-json/blob/master/README.md

[2022-07-19 20:25] mihaipoenaru commented on #26773
Thanks a lot, @gsmet ❤️. There will now be one less ugly workaround in the world

[2022-07-19 20:34] clotton commented on #15193
That's great @jamezp!  @gsmet looking forward to a Quarkus version bump up to use 1.2.0

[2022-07-19 20:36] gsmet commented on #15193
Yeah, Dependabot should bring it once it hits Central.

[2022-07-19 21:10] technical-debt-collector commented on #16422
Sure, will do

[2022-07-19 21:42] famod commented on #26807
This setting seems to have some potential side effects: https://stackoverflow.com/a/22575737/9529981

But if it doesn't reduce stability, I'm all for it.

[2022-07-20 01:02] Foobartender opened #26828 "RESTEasy Reactive does not execute response filters for OPTIONS requests"
### Describe the bug

JAX-RS `ContainerResponseFilter`s as well as Quarkus-style `@ServerResponseFilter`s are not executed for OPTIONS method requests by RESTEasy Reactive. Works with RESTEasy Classic (the former only, as the latter is unavailable).

### Expected behavior

They should be executed.

### Actual behavior

They aren't.

### How to Reproduce?

Please see the demo project: [crf-test.tar

[2022-07-20 01:19] phillip-kruger commented on #26739
This will be fixed in the SmallRye 1.6.1 release.

[2022-07-20 01:47] tellisnz-shift commented on #26804
I upgraded to 2.11.0.CR1 and I can see them, I think it's this fix: https://github.com/quarkusio/quarkus/issues/26258

Although in dev mode a live reload will cause them to be 000000 all the time

[2022-07-20 02:08] #20802 closed

[2022-07-20 02:39] spencercjh opened #26830 "Lost context in @Blocking gRPC Service behind a GlobalInterceptor"
I found that Quarkus Server register `io.quarkus.grpc.runtime.supports.blocking.BlockingServerInterceptor` for each blocking gRPC service with the `@Blocking` annotation before it starts.

If some global interceptors (with `@GlobalInterceptor`) set the Context value will not work. The `Context` will still be empty in the actual rpc method handler.

Is it a normal phenomenon because `Context` shoul

[2022-07-20 02:56] spencercjh commented on #26830
If my description is correct, I would like to add the above to the relevant docs(gRPC interceptor, `@Blocking`) with a PR.

[2022-07-20 05:51] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2702380831

[2022-07-20 06:13] cescoffier commented on #26809
Can't you set the client id explicitly in your application using ${quarkus.application.name}-your-id?

I'm not against that change, but it's a breaking change. So, we need to have an attribute to change the behavior (which would be another attribute, that's why my initial proposal could work as it is.)

[2022-07-20 06:58] geoand commented on #26818
Which kinds of Quarkus test are you talking about specifically?

[2022-07-20 07:10] Ladicek commented on #26821
First off, it is idiomatic for methods that return a future type, such as `CompletionStage<JsonObject>` in the case of `APIClientVerticle.sendRequest`, to never throw exceptions -- instead, the future should be completed exceptionally.

That said, SmallRye Fault Tolerance does attempt to catch exceptions from such methods, so this really should work. I'll take a look at the reproducer.

[2022-07-20 07:29] Ladicek commented on #26821
Okay so the difference between `retryWorks` and `retrySkipped` is that in the first one, the `RuntimeException` is thrown synchronously (probably because DNS resolution is synchronous even in Vert.x), while in the second, the `RuntimeException` is thrown asynchronously. At that time, there's no SmallRye Fault Tolerance code on the stack that could catch it, so this really can't work and there's no

[2022-07-20 07:29] #26821 closed

[2022-07-20 07:33] mrickly commented on #26809
Sure we could. I'd rather not force every developing team to configure it explicitly for each incoming channel in their application though. We do pre-configure certain properties in our own extensions (quarkus-extension.yaml). However I don't see how that would work with variable channels... Maybe you have an idea how it could be done?

[2022-07-20 07:38] bwolkerstorfer opened #26831 "Windows paths not escaped in DevUI"
### Describe the bug

On Windows when the DevUI renders the template [main.html](https://github.com/quarkusio/quarkus/blob/91ba39965d13652e853446e227b256a1b8cea477/extensions/vertx-http/deployment/src/main/resources/dev-templates/main.html) the path are not properly escaped leading to the page not being able to be used as JavaScript is broken.

The code [here](https://github.com/quarkusio/quarkus/

[2022-07-20 07:55] R4V3NN0 commented on #26818
Im talking about integration tests, so tests which are annotated with @QuarkusTest and where the whole context is spinned up. Sometimes we even spin up external services for more complete system tests.

[2022-07-20 07:58] geoand commented on #26818
You can already do this manually by using a test profile: https://quarkus.io/guides/getting-started-testing#testing_different_profiles

[2022-07-20 08:17] stephan-strate commented on #14682
Are there any plans to introduce liquibase and flyway as reactive variant?
I know the problems can be solved using a workaround, but reactive being the default now, a workaround feels a bit meh..
It would be so cool to get rid of the jdbc dependency, the manual configuration and the warning in the console `2022-07-20 10:03:52,811 WARN  [io.quarkus.agroal.deployment.AgroalProcessor] (build-33) The

[2022-07-20 08:17] NMichas commented on #26804
Thanks, 2.11.0.CR1 fixes it, closing this one in favour of #26258.

[2022-07-20 08:17] #26804 closed

[2022-07-20 08:44] R4V3NN0 commented on #26818
As far as I have understood this we need to write a profile for each @Quarkustest to restart the context. Does this mean that we have to write 1000 profiles when we have 1000 @QuarkusTest? Or am I getting this wrong?

[2022-07-20 08:55] Cobas91 opened #26835 "Native compilation: Detected an instance of Random/SplittableRandom class in the image heap - java.security.SecureRandom"
### Describe the bug

When i try to Native compile my Application i got this error.

[code]

After run
`mvnw package -Pnative -Dquarkus.native.additional-build-args="--trace-object-instantiation=java.security.SecureRandom"`
 I get the following StackTracke
[code]

When i build with the following additional-build-args in my application.properties
`"--initialize-at-run-time=com.sap.conn.rfc.engine.G

[2022-07-20 09:42] geoand commented on #26818
Indeed you would have to

[2022-07-20 10:01] sberyozkin commented on #26835
@Cobas91 I don't think it is a Quarkus bug, as the problem is reported in `com.sap.conn.rfc.engine.GUID`.

@zakkak Do you agree ?

[2022-07-20 10:13] sberyozkin commented on #26835
@zakkak We can add some general advice how to deal with such errors, to the Native docs. I can do it, as far as I recall we reinitialized the affected code in Quarkus but I'm not sure what are the current way to handle it with the arguments, let me know please and I'll update the docs

[2022-07-20 10:23] sberyozkin opened #26837 "Support `Keycloak` injection in `quarkus-keycloak-admin-client` and `quarkus-keycloak-admin-client-reactive`"
### Description

Right now, the users how to initialize `Keycloak` directly in the code, using a typical sequence:
[code]

However, as shown by @omar-zahid  in #26836, it would really be simpler to have an injected `Keycloak`, which would also provide some extra value to using `quarkus-keycloak-admin-client`.

The same applies to `quarkus-keycloak-admin-client-reactive`

### Implementation ideas

[2022-07-20 10:53] sberyozkin commented on #26835
@zakkak Hi, that tutorial you have added is very good, I'd just link to it from the Quarkus docs

[2022-07-20 11:07] joggeli34 commented on #26586
Any chance this get backported to 1.11.x? As this is blocking us from upgrading to 1.10 and also 1.11

[2022-07-20 12:40] zakkak commented on #23604
Fixed upstream

[2022-07-20 12:42] zakkak commented on #25501
@loicmathieu can you please confirm whether this is now fixed?

[2022-07-20 12:45] Cobas91 commented on #26835
@sberyozkin @zakkak Thank you guys for the fast response. I will check out the links and docs.
Hopefully i can handle that error my own. This libary is the core of the complete Application. God bless i will find a solution!
Thx guys!

[2022-07-20 12:47] sberyozkin commented on #26835
@Cobas91 Np, I'll close this issue with a doc update linking to @zakkak 's tutorial

[2022-07-20 12:47] loicmathieu commented on #25501
Yes it was ok 2 months ago I forgot to close the issue. Closing it now.

[2022-07-20 12:47] #25501 closed

[2022-07-20 12:56] timonzi opened #26841 "Update h2 database"
### Description

Quarkus in version 2.10.3.Final defines a Maven dependency to com.h2database:h2 with version 2.1.210.
This contains some issues, like the following one which is problematically for us:

Source: http://www.h2database.com/html/changelog.html

I would suggest to update from 2.1.210 to 2.1.214 (or a newer version if available).

In the meantime we will override the version in our proj

[2022-07-20 13:22] FroMage commented on #22205
Did you see https://jakarta.ee/specifications/restful-ws/3.1/jakarta-restful-ws-spec-3.1.html#consuming_multipart_formdata BTW? There's support for multipart now upstream. But only for `EntityPart` `String` or `InputStream` and no word on whether the element goes via `ParameterConverter` or `MessageBodyReader`.

[2022-07-20 13:23] geoand commented on #22205
LOL

[2022-07-20 13:24] clotton commented on #15193
@dfa1 Do I understand correctly, that once there's a new Quarkus version available using slf4j-jboss-logmanager 1.2.0.Final then the custom JSONProvider won't be necessary?  I believe in our case, we don't need to customize the output, we only want to ensure that our markers end up in the json output so they can be displayed as fields in splunk.   Currently, we are using MDC to make that happen.

[2022-07-20 13:43] FroMage commented on #26523
Well, the type is far from ideal, for sure. But I can think of cases where this is required, for example if the header data comes from the DB (size, file name) and the content is then streamed from FS or online storage or whatever. So unfortunately it makes a lot of sense :(

[2022-07-20 14:01] clotton commented on #15193
@dfa1 btw if you have a means to communicate directly (email, slack?) and take the conversation out of the PR here, I'm all for it.

[2022-07-20 14:02] #12724 closed

[2022-07-20 14:16] yrodiere commented on #15169
Closing because:

* `hibernate.order_inserts` will eventually be `true` by default in Quarkus, but currently cannot be because it is buggy.
* `hibernate.order_updates` is already `true` by default in Quarkus ([code](https://github.com/quarkusio/quarkus/blob/8816386b87e145ade6ef55aa0d7572f20c6eec21/extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadata

[2022-07-20 14:16] #15169 closed

[2022-07-20 14:31] bleandro commented on #15124
@diogocarleto @loicmathieu
Hi, guys. How is this goind?
This feature would be very important for a project I'm currently working on.

Do you guys still plan on releasing it?

[2022-07-20 14:44] RuggeroDAlo commented on #26717
@radcortez I've tried to figure out why this is happening, as far as I can tell PR #26332 changed

https://github.com/quarkusio/quarkus/blob/37a6c9faeba1920a08b0f4527473f69313258235/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/ClientRequestContextImpl.java#L59

to

https://github.com/quarkusio/quarkus/blob/ba968f88b0626f51747356ff60360

[2022-07-20 14:46] diogocarleto commented on #15124
I have plans to open a PR for guys to start reviewing in at maximum 2 weeks. Not sure how long or what changes will be needed

[2022-07-20 14:53] dfa1 commented on #15193
most likely you will still need the json provider to write the Markers (but maybe it is supported out of the box now).

And you could try it right now by overriding the managed version of slf4j-jboss-logmanager in your pom/gradle build!

[2022-07-20 15:53] rsynek commented on #6588
@rsvoboda should be fixed by https://github.com/quarkusio/quarkus-quickstarts/pull/1145.

[2022-07-20 16:08] R4V3NN0 commented on #26818
I think it would be nice if we could implement an addition to the @QuarkusTest annotation like @QuarkusTest(ResetStrategy.AfterEach) so the context would be restartet after each test. Then you could have AfterEach, AfterClass or None something like in JUnit.
The way with @TestTransaction is nice but it is not really an option in bigger projects. We have like 400 @QuarkusTest and thats to much for

[2022-07-20 16:28] geoand commented on #26818
Thanks for the feedback. We'll definitely consider it

[2022-07-20 17:53] dfa1 commented on #15193
@clotton let's keep this conversation public, so maybe others will benefit too ;)

[2022-07-20 18:03] cowtowncoder opened #26848 "Build failure due to `NullPointerException`, related to `@Parameter(ref = ...)` processing"
### Describe the bug

When trying to build project with `./mvn clean verify` (etc), with certain endpoint definitions I get following stack trace (first part, full is longer):

[code]

Issue seems to be triggered with endpoint definition like so:

[code]

wherein parameter in question uses a (valid) reference but does not have matching `@QueryParam` (or similar).
In my particular case annotations

[2022-07-20 21:11] rgmz commented on #26794
@radcortez: Apologies for the ping, but this didn't get tagged as `area/config` and you seem to be the person for that.

[2022-07-20 21:19] michalvavrik commented on #26837
This is interesting for me, but on level of the `quarkus-keycloak-admin-client/-reactive`, this can't be done without introducing configuration properties for server url and credentials... right?

[2022-07-20 21:33] famod commented on #26811
/cc @geoand

[2022-07-20 21:35] cowtowncoder commented on #26848
Have not been able to reproduce with the sample project, but unfortunately quite easy to get it to resurface accidentally on the bigger project, when replacing in-line `@Parameter` definitions with references and (accidentally) removing `@QueryParam` (due to oddities of code formatting, IDE editor etc).
But at least now I know what to look for when I get the build crash.

[2022-07-20 21:48] GustavoGramajo commented on #26821
Excellent! Thanks for your time and your clear explanations, i can confirm it works on my end too after making the recommended adjustments.

[2022-07-20 22:39] sberyozkin commented on #26837
@michalvavrik Great, yes, you are right, I believe we'll need to have a `KeycloakAdminClient` group. You can then update the existing tests where `Keycloak` is currently created manually. Have a look please when you get a chance :-)

[2022-07-20 23:08] cowtowncoder commented on #26848
Yay! Was able to make reproduction work: for some reason specific RESTeasy implementation is needed. Now sample project triggers the failure I see locally on the bigger project.

[2022-07-20 23:24] phillip-kruger commented on #26848
Thanks for the reproducer. What do you mean a specific RESTEasy implementation ? Are you not using the Quarkus extension that pulls in RESTEasy ? Or does this happen with a certain Quarkus version ?

[2022-07-21 00:59] phillip-kruger commented on #26848
Ok, so firstly, we definitely need a null check and give a better message. That is code in MicroProfile, so not something we can fix and release, it needs to go through the process. I'll start that.

The issue here is that we do not know where to assume the parameter is. There is no `in` parameter in `@Parameter` and there is no JAX-RS or Quarkus annotation on the field that we can use to know whe

[2022-07-21 01:19] lindenquan opened #26852 "Support http/3"
### Description

[http/3](https://en.wikipedia.org/wiki/HTTP/3) has been supported by Chrome and Edge back in April 2020, and FhirFox in April 2021. Is there any plan to support http/3 ?

### Implementation ideas

_No response_

[2022-07-21 01:33] cowtowncoder commented on #26848
@phillip-kruger I am not saying that the second annotation shouldn't be needed (if it could be avoided, nice, but I can see why this may not be practical). My only real concern is just the unhelpful exception failure; as long as that is avoided and user can be given something indicating the problem that's perfectly fine.

So this is caused by my missing one `@PathParam`, and then being really conf

[2022-07-21 01:36] phillip-kruger commented on #26848
Yes agree we should do better with the error message. We should be able to do this in SmallRye so I'll move this there. Closing here. Thanks again :)

[2022-07-21 01:36] #26848 closed

[2022-07-21 01:36] cowtowncoder commented on #26848
Oh. One minor other thing: I think `in` parameter is actually defined in referenced-to Parameter, although not directly in referencing `@Parameter` itself. Not sure if that is possible to resolve or not (I can see how following a chain might be tricky).

But I can check the situation again once the underlying root cause is resolved.

Thank you once again!

[2022-07-21 01:39] phillip-kruger commented on #26848
I do not follow ?

[2022-07-21 02:26] gavinking commented on #15169
@Sanne i feel like it's a bit dangerous to diverge too much from the default behavior of regular Hibernate for stuff like this. For example, it means unit tests might not detect problems with statement ordering and constraint violations.