[2021-12-01 05:45] michael-simons commented on #8530
Hey @lukehutch nice to see you. My remark was not meant as a critic. All updates the last months worked API wise (for us) as simple drop ins. 👍

[2021-12-01 05:54] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1524265847

[2021-12-01 06:06] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1524255095

[2021-12-01 06:38] lukehutch commented on #8530
@michael-simons I know -- no problem at all! Just wanted to provide some perspective on the stability of the project at this point. I don't think there will be many changes in the future other than small tweaks, as long as you're not using JDK 7 (do you have JDK 7 compatibility in your builds?), and as long as you're not using deprecated API.

[2021-12-01 06:41] geoand commented on #21795
Ah, OK

[2021-12-01 07:03] jsmrcka opened #21834 "Add migration note / documentation about Flyway 8.1.0 breaking change"
### Description

Quarkus 2.6 upgraded Flyway 8.0.5 -> 8.1.0, which introduced breaking change described here:
- https://github.com/quarkusio/quarkus/pull/21715#issuecomment-979587768

I assume it will be mentioned in a migration guide.
But IMO, this is worth adding into regular documentation (Flyway guide?).

### Implementation ideas

_No response_

[2021-12-01 07:15] #21789 closed

[2021-12-01 07:25] jsmrcka opened #21835 "Flyway 8.1.0 with SQL Server fails in native with `NullPointerException`"
### Describe the bug

Flyway 8.1.0 together with SQL Server fails on native application startup, throwing a NPE due to a missing resource:
[code]
POM dependencies sample:
[code]

Workaround: explicitly include the missing resource in `application.properties`:
[code]

### Expected behavior

No `NullPointerException` on startup.

### Actual behavior

[code]

### How to Reproduce?

[flyway-sqlserver-

[2021-12-01 07:31] mkouba commented on #21833
Hm, I've just tried to build a native image for the [scheduler-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/scheduler-quickstart) with [`@Scheduled(cron = "{cron.expr}")`](https://github.com/quarkusio/quarkus-quickstarts/blob/main/scheduler-quickstart/src/main/java/org/acme/scheduler/CounterBean.java#L30) and it works jut fine.

Is it something Quarkus CLI-specific?

[2021-12-01 07:39] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1524254778

[2021-12-01 07:43] jsmrcka commented on #21834
Related to https://github.com/quarkusio/quarkus/issues/21826.

[2021-12-01 07:45] mkouba commented on #21833
I think that it's a config problem - your config property has the `quarkus.` prefix and I can see the following warning in the console:
[code]
It works if you remove the prefix and use `registry.cache.cron` instead.

So maybe an unrecognized config property with  the `quarkus.` prefix is not stored in the native image? CC @radcortez

[2021-12-01 07:59] geoand commented on #21828
This is indeed an issue, but you can easily overcome it by using `test` profile specific configuration, as mentioned [here](https://quarkus.io/guides/config-yaml#profiles).

[2021-12-01 08:01] matthyx commented on #19057
@gsmet I have a similar issue with the following trace:
[code]

Can someone knowledgeable have a look, please?

[2021-12-01 08:13] geoand commented on #21822
cc @glefloch

[2021-12-01 08:21] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1524254778

[2021-12-01 08:45] michael-simons commented on #8530
@AndreasBoehme Can you drop me line if you have time how you use https://github.com/michael-simons/neo4j-migrations in your Quarkus setup? I have been ruminating about adding a Quarkus plugin much like the Boot one in the project, but I do struggle to get it right for native so that users would not have to add much themselves apart from the necessary resources.

My email is in the [pom](https://gi

[2021-12-01 08:47] josephearl commented on #21828
Thanks! I was hoping to avoid that because I have multiple test profiles and wanted to share that configuration between them, but the duplication will do for now.

[2021-12-01 08:55] glefloch commented on #21822
Thanks for reporting this, I will have a look ASAP

[2021-12-01 08:57] #21835 closed

[2021-12-01 09:02] geoand commented on #21828
Right, I understand where you are coming from, but unfortunately there is no other way of going about this that would make Quarkus not warn about the unused property (since Jacoco is not available on the dev-mode classpath).

[2021-12-01 09:02] #21828 closed

[2021-12-01 09:05] geoand commented on #21825
This is a duplicate of https://github.com/quarkusio/quarkus/issues/21602.

The problem has been fixed in `main` and the fix will be available in `2.5.1.Final` (which should be out very soon)

[2021-12-01 09:05] #21825 closed

[2021-12-01 09:21] geoand commented on #21823
Closing the issue, but I also opened https://github.com/quarkusio/quarkus/pull/21838 to fix the error message

[2021-12-01 09:21] #21823 closed

[2021-12-01 10:01] mkouba commented on #21795
Maybe this should be implemented in the `quarkus-narayana-jta` instead? It would not hurt to add `@Blocking` on every method annotated with `@Transactional`, or?

[2021-12-01 10:03] mkouba commented on #21730
@famod I'm going to close this one. Feel free to reopen if needed.

[2021-12-01 10:13] geoand commented on #21752
cc @middagj

[2021-12-01 10:29] geoand commented on #21741
For this to work, there would need to be a dedicated extension.

To help getting that off the ground, I looked at the code that is causing the initial problem (which is [this](https://github.com/jnr/jnr-constants/blob/jnr-constants-0.9.12/src/main/java/jnr/constants/ConstantSet.java) class) and it seems from [here](https://github.com/jnr/jnr-constants/blob/jnr-constants-0.9.12/src/main/java/jnr/co

[2021-12-01 10:57] geoand commented on #21430
Should this be closed now that https://github.com/quarkusio/quarkus/pull/21799 is in or is this ticket meant to address code changes in the codebase as well?

[2021-12-01 11:28] radcortez commented on #21833
I don't believe we have a  `quarkus.registry.cache.cron` configuration.

Any configuration in the `quarkus` namespace requires a `ConfigRoot` for documentation, validation and recording. Because this is an unrecognized configuration, we don't record it in the native image so it is not available there.

My recommendation is to just use a configuration name without the `quarkus` prefix (it is reserv

[2021-12-01 11:53] jponge commented on #21430
Many items have been postponed to 1.3 https://github.com/smallrye/smallrye-mutiny/milestone/46

[2021-12-01 11:56] geoand commented on #21430
Thanks for the update

[2021-12-01 12:17] gastaldi commented on #21833
I think this is a special case where it doesn't make sense to have a `ConfigRoot` because the config will only be read by the scheduler extension, but I understand the reason behind it. I'll use a different prefix in this case. Thanks!

[2021-12-01 12:17] #21833 closed

[2021-12-01 12:21] #21641 closed

[2021-12-01 12:55] pedroigor opened #21841 "End Vert.x response before propagating mapped exception in VertxBlockingoutput"
### Describe the bug

When an exception is thrown when processing the write stream, Resteasy does not close the Vert.X response prior to propagating the exception.

This behavior might cause applications to not receive events from Vert.X (e.g.: when using a filter that adds a headers handler) because the response is not ended properly.

Similarly to when there is no data to write, the `VertxBlocki

[2021-12-01 13:00] pedroigor commented on #21762
@geoand Created https://github.com/quarkusio/quarkus/pull/21842. Sorry, I failed to find a way to write a test. Any help is appreciated.

[2021-12-01 13:24] chandni-ironfort opened #21843 "sendgrid in quarkus with web api"
### Description

can we make use of sendgrid with webapi

### Implementation ideas

please share approach

[2021-12-01 13:28] edeandrea opened #21844 "Changing http.port breaks pressing 'd' or 'w' in dev mode"
### Describe the bug

If an application has changed `quarkus.http.port` to some other value than `8080`, pressing `w` or `d` in dev mode still uses port `8080` in the browser window it opens.

### Expected behavior

If I have `quarkus.http.port=8085` in my `application.properties` I would expect that while in dev mode, pressing `d`would open http://localhost:8085/q/dev/ and pressing `w` would open

[2021-12-01 13:33] #21772 closed

[2021-12-01 13:54] geoand commented on #21762
No idea honestly since I don't know how you reproduced the error in the first place.

[2021-12-01 13:58] myeung18 commented on #20634
@geoand @Predrag Knezevic

Sorry, I didn't follow up this until now.

Here are the service binding flow per my understanding:
- The binding service, e.g. Service Binding Operator, reads the connection info. from k8s object such as ConfigMap or Sercret, and then it creates/binds the connection info to `SERVICE_BINDING_ROOT`.

- Next, Quarkus service binding client reads connection info from `SERVIC

[2021-12-01 14:01] geoand commented on #20634
It means that it doesn't make sense for the operator to provide values for these, because each consumer (that is each client that consumes that service - a DB for example) has different needs and therefore needs to set different settings to match it's own unique access characteristics.

[2021-12-01 14:07] myeung18 commented on #20634
Does that imply if we need a customized DB connection, we can't use Binding service/SBO?

[2021-12-01 14:10] pedjak commented on #20634
What kind of customization needs to be pushed from a service to the client? Any example?

[2021-12-01 14:13] myeung18 commented on #20634
I think all those options available for client to use are examples: https://jdbc.postgresql.org/documentation/head/connect.html.
like `ssl`, most of the databases have this option for client to enable or disable ssl connection:
`jdbc:postgresql://localhost/test?user=fred&password=secret&ssl=true`

[2021-12-01 14:32] sberyozkin opened #21848 "Make sure kubernetes-client can work with Elliptic Curve keys"
### Description

Right now, if the EC keys are required, the client will fail due to the EC key utility code being excluded in the native image.

Reported by Alexander Hachmann.

### Implementation ideas

Consider adding
[code]

as `quarkus-kubernetes-client` dependencies

[2021-12-01 14:33] geoand commented on #21848
cc @manusa

[2021-12-01 14:34] myeung18 commented on #20634
The same thing has been implemented for Mongodb: https://github.com/quarkusio/quarkus/pull/19517
This is to suggest to apply to other databases.

[2021-12-01 14:35] dhoffer opened #21850 "Improve gRPC documentation"
### Description

The current gRPC documentation is too basic: https://quarkus.io/guides/grpc-getting-started#generating-java-files-from-proto-with-protobuf-maven-plugin

It should be enhanced to cover more things related to gRPC.  I would like to see the following included:

Cover the non-reactive model as well as the reactive.
Explain why one is better/preferred over the other.
Include examples o

[2021-12-01 14:38] kshpak opened #21851 "Unable to build Quarkus CLI from 999-SNAPSHOT"
### Describe the bug

Quarkus CLI build fails because of the next PR https://github.com/quarkusio/quarkus/pull/21820

Error stacktrace:
[code]

### Expected behavior

Be able to build CLI module
*Worked before mentioned PR

### Actual behavior

_No response_

### How to Reproduce?

cd devtools/cli && mvn -B -s ../../.github/mvn-settings.xml clean install -Dquickly

### Output of `uname -a` or `ver

[2021-12-01 14:49] zailushangde opened #21852 "Reactive routes - Support Custom Exception Handling with Bean Validation"
### Description

Ability to support custom `reactive route` exception handlers

According to the source code https://github.com/quarkusio/quarkus/blob/bd87966540990fa68ec3769e22e67df1854b08a5/extensions/reactive-routes/deployment/src/main/java/io/quarkus/vertx/web/deployment/ReactiveRoutesProcessor.java#L762, the Bean validation function is hardcoded.

I think it would be very useful if we could c

[2021-12-01 14:52] geoand commented on #21843
Closing as invalid

[2021-12-01 14:52] #21843 closed

[2021-12-01 15:04] pedjak commented on #20634
IMHO, a service needs to expose bindings that are agnostic to driver/client/runtime and are really required for establishing the connection, but not for connection management. Your example is very JDBC centric, but a Postgres service should expose binding items like:
* host
* database
* username
* password
* ssl
* rootcertificate, certficate, certificatepassword (in case when user/password is not

[2021-12-01 15:26] FroMage opened #21853 "Qute: support globals"
### Description

At the moment if I want to pass variables to templates I can pass them via the template invocation using `@CheckedTemplates` but if I want to declare global variables that apply to every template, I need to either declare them for every template (not realistic) or declare a namespace for them:

[code]

And then I need to use the `global:` prefix everwhere, which can be unwieldy:

[2021-12-01 15:36] FroMage opened #21854 "Qute: shorter enum constant access"
### Description

At the moment we make enum values accessible in views using this declaration:

[code]

Which then exposes values such as `fr_epardaud_model_ContentStatus:NEW` which is handy in case of name conflict, but not so much if you don't have any conflict.

The shorter behaviour can already be obtained with `@TemplateData(namespace = TemplateData.SIMPLENAME)` but I'd like to have another a

[2021-12-01 15:42] FroMage opened #21855 "Qute: shorter tag invocation"
### Description

I found myself having lots of calls to tags that boiled down to:

[code]

And I wonder if we couldn't simplify those calls to:

[code]

That is: if we're passing a template parameter with no value (or no name, depending on how you look at it), we expand `<ident>` to `<ident>=<ident>`.

If I'm not mistaken, we can already currently pass a single parameter with no name, which ends u

[2021-12-01 15:58] FroMage opened #21857 "Qute: bug in `if` test"
### Describe the bug

I have the following tag:

[code]

When I call it with some values, I'm getting this output:

[code]

This can't be right. As you see `target.status` is `ACCEPTED` (that's the correct value) but the `if` condition specifies `target.status == ContentStatus:NEW` so in theory we should never be able to get into the `if` block and display this.

I can give you instructions for re

[2021-12-01 16:14] FroMage opened #21858 "Qute: bug in expression parser with spaces"
### Describe the bug

I can call a tag with no spaces between parameters of the following method call:

[code]

But if I add a space between the parameters:

[code]

I'm getting this error:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No resp

[2021-12-01 16:20] FroMage opened #21859 "Qute: tag parameter validation"
### Description

ATM we can declare tag parameters like this:

[code]

But we have the following issues:

- I tried using `{@boolean img}` and got an error. I guess the wrapper type works fine as a workaround, but perhaps we could relax this and make it an alias?
- Call-sites are not validated: we don't verify that we call this tag with `{user userValue img=booleanValue/}`
- Default values are not

[2021-12-01 16:26] OleKsimov opened #21860 "Microprofile @Timeout annotation is not working for methods with rest-client request processing"
### Describe the bug

If a method with rest-client request processing inside is marked with @Timeout annotation, long requests are not interrupted with Timeout exception.
The reproducer is attached.

### Expected behavior

Fault tolerance interceptors stop the method execution after a specific timeout.

### Actual behavior

_No response_

### How to Reproduce?

[fault-tolerance-reproducer.zip](htt

[2021-12-01 16:35] middagj commented on #21752
You can leverage the full potential of the Artemis url schema, e.g.
[code]
from [Artemis docs - clusters - configurating a cluster connection](https://activemq.apache.org/components/artemis/documentation/latest/clusters.html#configuring-a-cluster-connection)

Note that Artemis clustering by default connects to one and then uses load balances via Artemis

[Artemis docs - clusters - client side load

[2021-12-01 16:35] FroMage opened #21864 "Qute: extension tags not registered"
### Describe the bug

I just tried the latest Quarkus/Qute to see if it would pick up my Vixen extension tags, declared in `extensions/vixen/runtime/src/main/resources/templates/tags` (in the runtime module) and they're not visible to the user application, I'm getting errors.

Perhaps I'm doing it wrong and they need to be in the deployment module?

### Expected behavior

_No response_

### Actual

[2021-12-01 16:45] #21752 closed

[2021-12-01 17:15] ebullient commented on #21851
CLI has dependencies on the other projects, so you can't just build it alone.

From the root: mvn install -Dquickly -DskipTests -DskipITs -Dno-test-modules
The CLI will be built as part of that.

If you're determined to build the minimal subset, you should build the modules under independent-projects/tools (registry-client, and devtools-*)

[2021-12-01 17:15] #21851 closed

[2021-12-01 17:16] myeung18 commented on #20634
@pedjak  Thank you for your comments.

I didn't verify all those options, but, as far as I know, those keys and values are agnostic to driver/client/runtime. Depending on the clients,however, the construction of connection urls could be different.  E.g.: The formatted options part appended to the url will be different: jdbc : `ssl=true;param1=value1`, golang: `ssl=true param1=value1`.
I am not sur

[2021-12-01 17:27] cescoffier commented on #21795
+1 to @mkouba proposal. It would cover most cases.

[2021-12-01 17:36] myeung18 commented on #20634
@geoand  I'm still trying to understand this part. Apologize if I misunderstood/repeating something.
Each consumer does have different DB connection needs.  They are using different databases with different usernames, passwords, etc. Perhaps they have different Db connection requirements which can be achieved with `options`. So, they have their own Quarkus applications which configure, use SBO and

[2021-12-01 17:45] josephearl opened #21866 "Support import.sql or similar facility for data population when not using Hibernate to create the schema"
### Description

If I am using JPA to create my schema through Hibernate, I can easily add test data by creating an `import.sql` file in my resources.

However if I switch to using Flyway with PostgreSQL dev services, there doesn't seem to be an easy to do this except creating some extra migrations which are just used for test.

In Spring Boot I can create a `data.sql` file in my resources, and I

[2021-12-01 17:49] sberyozkin opened #21867 "OIDC JWT introspection results are not registered as SecurityIdentity attributes"
### Describe the bug

In most cases OIDC JWT tokens are verified locally, and sometimes (or always) they have to be introspected remotely.
Opaque/binary tokens are always introspected remotely.

The problem is that a `TokenIntrospection` result is only registered as a `SecurityIdentity` attribute if it is an opaque token, while JWT tokens's content is used to build `SecurityIdentity` once the intr

[2021-12-01 17:49] Sanne commented on #21866
Good idea!
I'd be happy to review related PRs.

[2021-12-01 17:51] josephearl commented on #7259
The issue here is your schema only has 2 columns because you are generating from your Java model.

It sounds like you want to generate your schema using something like Flyway so that it matches your real tables which have more columns than your Java models.

[2021-12-01 17:56] geoand commented on #20634
I am talking about the properties that affect the various details of the connection or the driver.

You can certainly have applications that use the same URL and credentials but otherwise don't share any other common JDBC properties.

[2021-12-01 18:20] sgahlot commented on #20634
@geoand / @pedjak  there are a couple of options that are used frequently, i.e. `connectTimeout`, `readTimeout`, `socketTimeout`, `ssl` (or `sslenabled`) etc. Are we saying that all of those should be outside the realm of SBO and shouldn't be coming from bindings, but should be put in the connection string (that is indeed coming from a Service BInding library) afterwards by an application dependin

[2021-12-01 18:51] geoand commented on #20634
I am no expert, but I would say that connect timeout is a client specific setting.
Not really sure about SSL though...

@cescoffier @maxandersen WDYT?

[2021-12-01 21:35] scrocquesel commented on #14537
@stuartwdouglas any though on this ? It's been more than a year now that Quarkus first introduces support for this header but since then, it is not really usable.

There is still a very strong coupling between the app and the deployment. It is very hard to deploy quarkus based applications in a path based routing environment and makes quarkus api not really portable.

This pattern is now very comm

[2021-12-01 23:34] stuartwdouglas commented on #21795
How would we actually implement that though, as @Blocking is processed by lots of different extensions.

[2021-12-01 23:42] #21387 closed

[2021-12-02 03:38] tttomat19 opened #21873 "OidcClient has failed to complete the refresh_token grant request: "error_description":"Refresh token expired""
### Describe the bug

It seems like there's no processing of expired refresh_tokens implemented. So "refresh token expired" error appears and oidc-client is unable to get new access_token.

### Expected behavior

OidcClient could have some refresh_token processing logic.
1. Test refresh_token for being expired
2. If true , get new refresh_token, await
3. If got new refresh_token, then get new acce

[2021-12-02 05:54] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1529131500

[2021-12-02 06:21] #21867 closed

[2021-12-02 06:33] geoand commented on #21841
Should this be closed now that https://github.com/quarkusio/quarkus/pull/21842 is in?

[2021-12-02 06:42] GithubSre commented on #10319
io.quarkus.panache.common.exception.PanacheQueryException: The named query must be defined on your JPA entity or one of its super classes. Does anyone know how to fix this?

[2021-12-02 06:43] GithubSre commented on #10319
if yes please let me know.

[2021-12-02 07:01] loicmathieu commented on #10319
@GithubSre this means that the named query annotation was not found.

This issue is closed, please ask on stackoverfow or Zulip for help or open a new issue with a reproducer.

[2021-12-02 07:05] GithubSre commented on #10319
thanks @loicmathieu

[2021-12-02 07:08] cescoffier commented on #21795
That is a good point. Even if it adds the `@Blocking` annotation it would need to update the index before the other extensions look for the beans. I think, for now, we would need to do it in each individual extension.

[2021-12-02 07:17] vladimirfx commented on #18468
Fixed in 2.5.1.Final

[2021-12-02 08:30] SchulteMarkus commented on #7259
Dude, donno, reported two years ago :-D

[2021-12-02 08:30] #7259 closed

[2021-12-02 08:32] kshpak commented on #21851
Interestingly, it failed after rebuilding of main branch in my CI. Now it works.
CI that failed: https://github.com/kshpak/quarkus-test-suite/actions/runs/1526082771/attempts/1
cc @aloubyansky

[2021-12-02 09:10] siudeks opened #21878 "GRPC: Does not generate proto-based files"
### Describe the bug

version 2.5 gradle+scala+grpc do not generate code from my proto files
version 2.4.1.Final gradle+scala+grpc generates code from my proto files

### Expected behavior

java code based on my proto files is generate

### Actual behavior

java files are not generated

### How to Reproduce?

1. generate project using scala, grpc, gradle, v. 2.4.1
1. create source file src/main/pr

[2021-12-02 09:11] evacchi commented on #8593
if that is doable it's probably helpful, I don't think we have enough buffer for a version bump+release on that schedule /cc @radtriste

[2021-12-02 10:16] sberyozkin commented on #21873
@tttomat19 I think the grant request has to be repeated if RT has expired - it is already done if AT has expired but no RT is available - so the condition here needs to be tweaked a bit - if AT has expired then do a new grant request if no RT is available or RT has expired.
The problem is, there is no standard RT expiry property - RT is supposed be long-lived if it is in a JWT format then it can b

[2021-12-02 10:20] radtriste commented on #8593
Our next Kogito release (1.15) should start on Monday (Dec 6th).
If it is easy update to 2.6, we could plan a 1.15.1 once Quarkus artifacts are available (Dec 8th are CR1) or we plan to include
 only in next 1.16, we should be next year.

[2021-12-02 10:22] sberyozkin commented on #21873
I see this is Keycloak, should be fine

[2021-12-02 10:23] sergejomon commented on #20537
Hello !

There's some misunderstanding I think : The DLQ is used in another service of the app. After nack, the DLQ leads to a special service (the one seen here), that should check header and republish in the topic with a new header.
That's what I want to do :

  1.  Service A : publish an event in topic 1

  1.  Service B : listening to topic 1 consume the event, if nacked, push the event in top

[2021-12-02 10:31] pedjak commented on #20634
Well, if service can dictate to user what readTimeout the client should use.

[2021-12-02 11:05] cescoffier commented on #20634
ssl could be set by the SBO, but not timeout. Timeout depends on latency, resource and load. These are specific to the client application.

[2021-12-02 11:08] iompo opened #21881 "gradle build with include build module fails with null pointer"
### Describe the bug

I have two projects _A_ and _B_ containing _moduleA_ and _moduleB_ respectively. _moduleA_ dependes on _moduleB_. Compilation of project _A_ with include build of _B_ fails with a null pointer. The same compilation without the include build works fine.

### Expected behavior

Compilation should work also with include build

### Actual behavior

The following error is logged:

[2021-12-02 11:09] #21822 closed

[2021-12-02 11:11] glefloch commented on #21878
Thanks for reporting this @siudeks. I tried to reproduce the error but files are correctly generated in `build/classes/java/quarkus-generated-sources/grpc/helloworld/Helloworld.java`
Do you have a reproducer ? I tested it with both `2.5.0.Final` and `2.5.1.Final`.

[2021-12-02 11:50] uttamsingh0107 opened #21883 "Quarkus:Native build fails when using azure-identity pom dependencies"
### Describe the bug

I was trying to authenticate a serviceclient using service principal . On using the azure-identity dependency , it builds a lot of reflections . I tried removing them using lazy initialization by using the --initialize-at-run-time , but even after including the java.security.SecureRandom  class in the args , the class gets initialized at build time ,resulting a build failure.

[2021-12-02 11:51] crionuke opened #21884 "rest-client-reactive has limit for amount of simultaneously outgoing requests"
### Describe the bug

Hi, there !
I found out that rest-client-reactive has limit for amount of simultaneously outgoing requests to 20, so next requests accomplish only after some of the first finished.

That's feature or bug? Are there any configuration properties to extend this limit?

### Expected behavior

No limit by default

### Actual behavior

Limit to 20 requests

### How to Reproduce?

A

[2021-12-02 12:32] #21374 closed

[2021-12-02 12:48] glefloch commented on #21881
Thanks for reporting this @iompo. Could you share a simple reproducer ?

We have tests covering included build based on sample project such as: https://github.com/quarkusio/quarkus/tree/main/integration-tests/gradle/src/main/resources/composite-project-with-dependencies and they are passing.

[2021-12-02 12:50] glefloch commented on #21422
@ncorai after having a deeper look on the failure, I should be able to come up with a fix.

[2021-12-02 12:52] myeung18 commented on #20634
What I get so far is service binding can still selective support some of the option settings for customizing a DB connection.

The names could be DB specific, for Postgresql as an example:
`ssl, rootcertificate, certficate, certificatepassword` or some other non-client specific or non-risky options.

They can be an individual entries in a Configmap for SBO, then for Quarkus SB client to process.

[2021-12-02 12:56] geoand commented on #20634
Yeah, that seems right to me

[2021-12-02 12:59] michael-schnell commented on #21574
In the meantime SpringBoot already got a running snapshot while the "JEE native" Quarkus has not even a timeline:
https://twitter.com/juliendubois/status/1466333852021018627

[2021-12-02 13:01] tsfullman commented on #17280
+1

[2021-12-02 13:02] geoand commented on #21883
This is not a Quarkus issue certainly since there is no extension in Quarkus for this Azure library.

However, by changing the `quarkus.native.additional-build-args` property in the reproducer to

[code]

I was able to progress further.
However there seems to be issues where the library has optional dependencies which means that you will likely have to analyze the code and provide the proper Graal

[2021-12-02 13:02] #21883 closed

[2021-12-02 13:06] JayGhiya commented on #21883
Thankyou for prompt response and yes will try to run using allow incomplete classpath and see if runs properly else would take it up with msft folks.Thanks

[2021-12-02 13:36] cescoffier commented on #20537
Hum, can you verify that the message you receive in 4 does contain the retryCount? If it's part of the incoming record, it should be written in the DLQ.

[2021-12-02 13:38] #21741 closed

[2021-12-02 13:41] cescoffier commented on #20634
I'm wondering about the security implication of passing the trust store in the SBO. Basically, it's almost a "trust-all". I understand why we could desire to do that, but provisioning certs is a very sensible operation.

Then, what about mTLS (I'm not sure PG supports it), how would you pass the client certs in this case?

[2021-12-02 14:17] sergejomon commented on #20537
yes it is

________________________________
De : Clement Escoffier ***@***.***>
Envoyé : jeudi 2 décembre 2021 14:37
À : quarkusio/quarkus ***@***.***>
Cc : Serge ***@***.***>; Author ***@***.***>
Objet : Re: [quarkusio/quarkus] Header lost in DLQ failure strategy (#20537)

Hum, can you verify that the message you receive in 4 does contain the retryCount? If it's part of the incoming record, it sh

[2021-12-02 14:18] kvandenhoute commented on #19055
Hi @Sanne, are there any updates on this issue? I'm struggling with this as well. Thank you

[2021-12-02 14:21] geoand commented on #21884
This is expected, see https://github.com/quarkusio/quarkus/pull/20977

[2021-12-02 14:21] #21884 closed

[2021-12-02 14:22] geoand commented on #21884
Maybe we can expose this as part of the rest client config? WDYT @michalszynkiewicz @TomasHofman ?

[2021-12-02 14:24] xstefank opened #21888 "No way to use anonymous identity with @TestSecurity"
### Describe the bug

I would like to implement a test where an anonymous user tries to access authenticated path but that is not possible to define with `@TestSecurity` right now. Logged user works as documented.

[code]

### Expected behavior

There should be a way to specify an anonymous user for testing.

### Actual behavior

Not possible right now.

### How to Reproduce?

Reproducer: https://

[2021-12-02 14:34] sberyozkin commented on #21888
Thanks @xstefank.

@stuartwdouglas Hi Stuart, as Martin said the idea was to register an anonymous identity if the `user` attribute is not set as in the 2nd example above.

[2021-12-02 14:39] mkouba commented on #21857
Couldn't it be a race condition? I mean isn't it possible that the `target.status` can be changed before the body of the `{#if}` is rendered?

[2021-12-02 14:50] mkouba commented on #21795
All those extensions can leverage the ArC transformers API, i.e. instead of looking at the index consumer the `io.quarkus.arc.deployment.TransformedAnnotationsBuildItem` and then analyze the result of `TransformedAnnotationsBuildItem.getAnnotations(AnnotationTarget)`.

[2021-12-02 15:01] myeung18 commented on #20634
In case we have this question is because I included those certificate related options in the example, we don't actually have plan nor any use case to do any key management over SBO.
Maybe someone else can answer the question.

[2021-12-02 15:07] iompo commented on #21881
Here a link to a sample project (https://github.com/iompo/quarkus-include-build-error). It looks like the build fails if referencing a an inner module of the included project.

[2021-12-02 15:28] cescoffier commented on #20537
which version of Quarkus and reactive messaging are you using?

Incoming records are written in the DQL message:
https://github.com/smallrye/smallrye-reactive-messaging/blob/main/smallrye-reactive-messaging-kafka/src/main/java/io/smallrye/reactive/messaging/kafka/fault/KafkaDeadLetterQueue.java#L129

Outgoing headers are also written:
https://github.com/smallrye/smallrye-reactive-messaging/blob/ma

[2021-12-02 15:31] BonomoAlessandro commented on #21533
The on this page described bug is not fully resolved I guess.
I'm using Quarkus 2.5.1.Final.

If I run my tests with the properties defined like this, it will take the correct `%test` property.
`%prod.external-service/mp-rest/url=${EXTERNAL_SERVICE_URL}`
`%test.external-service/mp-rest/url=http://localhost:8000`

If I run my tests with just the test profile property it will also take the correct `

[2021-12-02 15:40] BonomoAlessandro commented on #21533
The on this page described bug is not fully resolved I guess.
I'm using Quarkus 2.5.1.Final.

If I run my tests with the properties defined like this, it will take the correct `%test` property.
`%prod.external-service/mp-rest/url=${EXTERNAL_SERVICE_URL}`
`%test.external-service/mp-rest/url=http://localhost:8000`

If I run my tests with just the test profile property it will also take the correct `

[2021-12-02 15:46] sergejomon commented on #20537
I don't use the same version in all services
Service A : quarkus 2.2.2, quarkus-smallrye-reactive-messaging-kafka, smallrye-reactive-messaging-in-memory 2.0.3
Service B: quarkus 1.7.1, quarkus-smallrye-reactive-messaging-kafka, smallrye-reactive-messaging-kafka 3.9.1, smallrye-reactive-messaging-in-memory 2.0.3
Service C: quarkus 2.3.0, quarkus-smallrye-reactive-messaging-kafka, smallrye-reactive-

[2021-12-02 16:05] famod opened #21892 "`QuarkusTestProfileAwareClassOrderer` should support configuring a "secondary" orderer, e.g. for `@Order`"
### Description

Within the defined ordering "groups" (e.g. `@QuarkusTest` without profile, `@QuarkusTest` with profile etc.), this orderer always orders alphanumerically, but there are cases where you might want to have more influence, e.g. via `@Order` or use random ordering.

### Implementation ideas

The idea is to delegate ordering within those "groups" to a "secondary" orderer that should be

[2021-12-02 16:20] manstis commented on #8593
FWIW, I've been running `kogito` examples against Quarkus `999-SNAPSHOT` (as I need my Quarkus PR fixes).

I had to make the following changes to `kogito`:-
- Change `version.io.smallrye-open-api-core` in `kogito-dependencies-bom` to `2.1.16`
- Change `version.io.smallrye.reactive.mutiny-vertx-web-client` to `2.16.0`
- Change imports in `QuarkusCloudEventEmitter` and `QuarkusCloudEventReceiver` to

[2021-12-02 16:21] TomasHofman commented on #21884
@geoand @crionuke I believe the configuration property for setting the connection pool size is already exposed. Can you try following?

[code]

[2021-12-02 16:23] geoand commented on #21884
Ah, nice! I didn't know that

[2021-12-02 16:51] Scaronthesky commented on #19814
Ran into this issue as well ([Question on SO](https://stackoverflow.com/questions/69913807/using-quarkustestextension-in-combination-with-another-junit-extension-leads-to)). The obvious workaround is to use SoftAssertions without the extension.

[code]

Obviously, this is somewhat dangerous as you might forget to call softly.assertAll().

[2021-12-02 17:35] MarkusKramer commented on #16208
Just wanted to confirm that I'm still seeing this issue with quarkus 2.5.0.Final. The browser requests "Access-Control-Request-Headers: content-type,x-build", quarkus responds with "access-control-allow-headers: content-type" only, despite having set "quarkus.http.cors=true" in the application config.

[2021-12-02 18:33] #21848 closed

[2021-12-02 19:14] siudeks commented on #21878
@glefloch by bad in repro - instead of **gradle clean build** please use **gradle clean test** what is default to run tests
![MAw8ppC7ft](https://user-images.githubusercontent.com/3256574/144487665-5c9769fd-ff6c-4a72-83d4-4de38d1441b6.gif)
*

[2021-12-02 20:14] glefloch commented on #21878
Right, I can reproduce the issue, there is a problem in how we linked tasks in the plugin. Working on a fix ;)

[2021-12-02 20:54] #21703 closed

[2021-12-02 22:08] scrocquesel commented on #14537
After some more tests with Quarkus 2.5.0.Final, `RoutingContext.request().path()` and `RoutingContext.request().absoluteURI()` are also inconsistent when used in a `@Route`.

`path()` should be the path part of the `absoluteURI()` but when requesting

[code]

[code]

it returns `/foo|http://localhost:8080/bar/foo` instead of `/bar/foo|http://localhost:8080/bar/foo`.

This is not the case with the

[2021-12-03 03:43] brianwyka commented on #18726
Unfortunately the above hack does not allow jacoco to check coverage for plain unit tests (not annotated with `@QuarkusTest`.

[2021-12-03 04:10] stuartwdouglas commented on #14537
So the issue here is that we don't really have a 'Match URI' and a 'User Visibile URI', internally we only have one representation, so you can't match on the unprefixed and report the prefixed version.

The inconsistency here comes from the fact that the uri() call is rewritten but not the path, so we do actually have two URI's that are inconsistent with each other (which is a bug), and the differ

[2021-12-03 04:31] stuartwdouglas commented on #21888
This is just how Quarkus works, anonymous users are considered to be not logged in, so if there is a failure an attempt is made to log them in.

[2021-12-03 05:56] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1533873650

[2021-12-03 06:24] phillip-kruger opened #21904 "Dev UI Config screen update"
In terms of the UI I think we should have 2 tables:

- The explicitly set config at the top
- An alphabetically ordered table down the bottom that also include the values from the top table (double ups are fine).

The second table should be expandable by level, with an expand all button, so you can expand it out to what we have today, or just click to expand the bits you are interested in.

If we

[2021-12-03 07:11] #21844 closed

[2021-12-03 07:13] #21795 closed

[2021-12-03 07:54] zakkak commented on #21481
FYI all [native integration tests are now green with Mandrel 21.3-java17](https://github.com/graalvm/mandrel/actions/runs/1531746358).

Note, the `--add-exports` added to resolve the issues in native mode:

* https://github.com/quarkusio/quarkus/pull/21886
* https://github.com/quarkusio/quarkus/pull/21785
* https://github.com/quarkusio/quarkus/pull/21408
* https://github.com/quarkusio/quarkus/pull

[2021-12-03 08:32] wabrit commented on #21729
I presume any quarkus native app which relies on the liquibase extension is not going to run under Quarkus 2.5.x until this issue is fixed? Is there a workaround in the meantime?

[2021-12-03 09:13] fedinskiy opened #21905 "Adding first registry in CLI erases the default one"
### Describe the bug

By default, registry list in CLI contains a default registry `registry.quarkus.io` and there is an option to add new registries. Although, if user adds a new registry, e.g. `registry.quarkus.redhat.com`, then the default registry will be silently removed from the list and became inaccessible.

### Expected behavior

Default registry stays in the list, registries are never rem

[2021-12-03 09:21] gsmet commented on #16870
@marcinczeczko @middagj @michael-simons just to make sure you are aware of this effort and that we are planning to move the Amazon Services, Artemis and Neo4j extensions to the Quarkiverse for 2.6 together with a bunch of other extensions. The core repo is becoming too big and we are doing a first batch of moving things to the Quarkiverse. The idea is also to make it easier to contribute to these

[2021-12-03 09:21] xstefank commented on #21888
@stuartwdouglas so it shouldn't be possible to test anonymous user is not allowed to access resources without any form of external authentication? Can we switch this off with config in tests?

[2021-12-03 09:27] michael-simons commented on #16870
Hi,
i can’t reply to the group, so I do it here:

I don’t mind moving the Neo4j extension out of the core, actually quite the contrary,
if

- it is still easy to find, both from the Core repo and what is more important
- from the docs and what’s more important
- from https://code.quarkus.io <https://code.quarkus.io/>

The last point has been bugging us with Spring Boot for quite a while:
The Neo4j

[2021-12-03 09:39] gsmet commented on #16870
@michael-simons yes, I plan to make the guides visible on the Guides page and the extensions will be visible on code.quarkus.io. We still have to improve on this though and I plan to work on making things better in the next few weeks.

And don't hesitate to provide feedback if you see things that could be improved on this front.

[2021-12-03 09:59] maxandersen commented on #21905
hmm - I can see how this is misleading . The one shown on first registry list is just the default when no registry found.

The expected lines to do if you want red hat build of quarkus to have priority is:

[code]

if you want it to be secondary you do:

[code]

But yeah, we could handle it better and at least inform the user.

[2021-12-03 10:31] vsevel commented on #20396
fyi, the issue has been reproduced by oracle support. a bug should be submitted soon to the dev team.

[2021-12-03 10:31] sberyozkin commented on #21888
@stuartwdouglas But recall we had a discussion about the identity having a `Principal` but also having an anonymous flag, #15730. I have to admit I'm still not sure how this case should be handled.

That said, @xstefank, may be this should do if one sets `@TestSecurity` without any attributes:
[code]

[2021-12-03 10:59] jonathanvila opened #21911 "Community page not showing images"
### Describe the bug

Community page not showing images on quarkus website

![image](https://user-images.githubusercontent.com/1836434/144591467-ea89e007-2bff-48d7-bdf2-f34df5fa2576.png)

### Expected behavior

showing images

### Actual behavior

not showing images

### How to Reproduce?

https://quarkus.io/community/

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version

[2021-12-03 10:59] jsmrcka opened #21912 "Split package usage: `io.smallrye.reactive.messaging`"
### Describe the bug

Quarkus reports split package `io.smallrye.reactive.messaging` in
`io.smallrye.reactive:smallrye-reactive-messaging-api`,
`io.smallrye.reactive:smallrye-reactive-messaging-provider`

### Expected behavior

No "split package" warning.

### Actual behavior

[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Linux 5.15.5-200.fc35.x86_64

### Output of `jav

[2021-12-03 11:00] cescoffier commented on #21912
Already fixed in the latest reactive messaging release. It should be fixed in 2.5.1.

[2021-12-03 11:23] Sanne commented on #4919
Related: #21069

And since that one is more specific and @galderz already solved oracle/graal#3179 I think we're good - closing this one.

[2021-12-03 11:23] #4919 closed

[2021-12-03 11:27] Sanne commented on #19055
I got distracted by other things, sorry. Back on this now.

Related: #21069

@inforefiner sorry downgrading the Oracle driver isn't going to work: the new version contains lots of useful metadat afor GraalVM, only a couple little details need fixing - but we still need all the others.

but out of cursiosity, did you get the same error? Or what error precisely? If you happen to have stack traces pl

[2021-12-03 12:13] maxandersen commented on #16870
@michael-simons much appreciated with the response.

What we've done recently which hasn't been advertised much yet is that extensions that are not part of the Quarkus platform still show up in code.quarkus. As an example search for CXF on https://code.quarkus.io now and see how that works. You should see 0 platform 1 other on screen and from there it show up and is accessible.

same is availalbe

[2021-12-03 12:22] michael-simons commented on #16870
Yeah, something like that makes a lot of sense.
I understand the burden of having the extensions in the core and I have discussed this in the past with Stéphane from Spring Boot already.

The dimensions I see are

- Quality of extensions: Who makes sure that „other“ has the same quality as „platform“?
- Who maintains it: here I am in favor of having the authors of the „integrated thing“ being resp

[2021-12-03 12:36] GithubSre commented on #10319
this helped solve the problem.
Thanks @loicmathieu.

[2021-12-03 12:48] #21878 closed

[2021-12-03 12:55] fedinskiy commented on #21700
@stuartwdouglas sniffing VPN traffic is beyond my wireshark-fu capabilities, but I managed to capture request and response with curl's tracing. Results of `--trace` and `--trace-ascii` can be found here: https://gist.github.com/fedinskiy/567f6ccd14f83558d5b281268f2ca49e
The body looks like that `53 6c 6f 76 6e 3f 6b`, so server output indeed contains question mark symbol('?', 3F in Unicode)

[2021-12-03 13:00] MartinX3 commented on #21227
@geoand I tried 2.5.1 and still get this error.
[code]

[2021-12-03 13:35] mkavalecz commented on #2720
@GavinRay97 Did you make that Quarkiverse extension in the end? Where can we find it?

[2021-12-03 13:37] aloubyansky commented on #16870
It depends on how quality is defined. As to the implementation details, performance, features, etc it's responsibility of the maintainers of the extension. Generally, Quarkus core developers aren't going to be monitoring the quality of the implementation but still consulting https://status.quarkus.io/#quarkiverse for the CI status and general compatibility with the Quarkus core.

Another potential

[2021-12-03 13:37] famod commented on #21481
Devtools ITs are now also running with Java 17 in CI.

[2021-12-03 13:40] rsvoboda commented on #21912
The issue is filed against Quarkus 2.5.1.Final. @cescoffier can you find the update PR to see if it got to 2.5.1.Final?

[2021-12-03 14:01] brianwyka commented on #18726
This may also be related to this:
https://github.com/gradle/gradle/issues/14760

[2021-12-03 14:24] mkouba opened #21919 "Get rid of the split package in the gRPC extension artifacts"
### Description

The package in question is the package `io.quarkus.grpc` and the artifacts are [quarkus-grpc-stubs](https://github.com/quarkusio/quarkus/tree/main/extensions/grpc/stubs) and [quarkus-grpc](https://github.com/quarkusio/quarkus/tree/main/extensions/grpc/runtime).

### Implementation ideas

_No response_

[2021-12-03 14:38] mkouba commented on #21857
@FroMage That would be really helpful.

[2021-12-03 14:42] kvandenhoute commented on #19055
Hi @Sanne , no problem. Thanks for your response.
Plan is to ugrade to latest Quarkus, but we're trying to do it step by step. First to 1.13.7 then to latest 2.x.x

Stacktrace for reference (this project includes postgresql, mssql and oracle):

[code]

[2021-12-03 14:48] geoand commented on #21911
cc @gsmet

[2021-12-03 15:02] geoand commented on #21227
Have you updated your reproducer?

[2021-12-03 15:11] uubk opened #21920 "quarkus-resteasy does not properly guard against invalid URLs"
### Describe the bug

During an automated fuzzing session, we discovered that quarkus-resteasy doesn't deal well with malformed URLs. Basically, since `VertxUtil#extractUriInfo` is called very early on in request processing, its failure will lead to a 500 (and possibly a stacktrace) where it really should be a 400.
To make that function fail, you can use invalid URL encoding - e.g., do `/%FF`. You

[2021-12-03 15:14] TomasHofman commented on #21533
I will have a look at that.

[2021-12-03 15:19] MartinX3 commented on #21227
@geoand it's caused by `implementation("io.quarkus:quarkus-security-jpa")`
I reuploaded the reproducer now.

[2021-12-03 15:20] davideginna commented on #21306
ping

[2021-12-03 15:28] geoand commented on #21227
`quarkus-security-jpa` depends on Hibernate ORM, not Hibernate Reactive and those two don't work together.

[2021-12-03 15:40] MartinX3 commented on #21227
ah, is this the correct issue ticket for my case, @geoand ?
https://github.com/quarkusio/quarkus/issues/19302

[2021-12-03 15:45] geoand commented on #21227
Yup, that is correct

[2021-12-03 16:09] geoand commented on #21227
🙏🏼

[2021-12-03 16:13] gsmet commented on #21911
Is this page still accessible in the navigation? I can't find a link to it in the nav. I will move the issue to the website repo and let others deal with this.

[2021-12-03 16:13] #20872 closed

[2021-12-03 17:08] indalaterre opened #21923 "[Resteasy Reactive] Can't upload files from cURL"
### Describe the bug

I'm uploading some files from a cURL request and everything went fine using the v.1.12.x without resteasy reactive
After the upload to Quarkus 2.5.1.Final I got this error

[code]

This is the cURL ​command

[code]

### Expected behavior

No regressions are found updating to Resteasy reactive

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Outpu

[2021-12-03 17:27] cescoffier commented on #21912
@rsvoboda https://github.com/quarkusio/quarkus/pull/21711

[2021-12-03 17:27] cescoffier commented on #21912
So, 2.6

[2021-12-03 17:30] sberyozkin commented on #21888
Stuart, I'm not sure the authentication should be attempted if the identity is anonymous - if the resource is public then all is good, but if the authentication is required (as configured in the properties) then it has to be 403 (not 401) since the identity has already been created (ex, non null `Principal` and `anonymous`) and therefore the authentication challenge is no longer required.

If we d

[2021-12-03 18:25] #21704 closed

[2021-12-03 18:50] #21873 closed

[2021-12-03 19:32] middagj commented on #16870
I agree with @michael-simons, completely fine of not burdening the maintainers of Quarkus with the Artemis extension. However, Artemis is not mine, I added the extension because we wanted to use it with Quarkus in a project. One of the reasons is it still a basic extension, there is a possibility to do a lot more. So let's see how it goes, happy to be a maintainer, but probably with same effort as

[2021-12-03 20:57] vladimirfx commented on #21729
Workaround is build your own base image with needed libs. Actually is what we do in our company.
And yes, for applications that not using fonts or other graphics elements it is just annoying.

[2021-12-03 21:12] scrocquesel commented on #14537
@stuartwdouglas Some framework allows to handle this with a PathBase and a Path properties. Path is used to do routing matching and both are joined for absolutePath.

In normal condition PathBase is empty.

This is also used to allow to route to different inner application. For eg, you may be able to route to an inner router which would be unaware of the PathBase. Say the real request path is /app

[2021-12-03 22:02] sberyozkin opened #21925 "DefaultTokenIntrospectionUserInfoCache is not injected"
### Describe the bug

@FroMage has found it can not be injected as a default cache bean as the synthetic bean only provides `DefaultTokenIntrospectionUserInfoCache.class`.

Adding `UserInfoCache.class` and `TokenIntrospectionCache.class` with the synthetic bean will do it.

We already have a test but `DefaultTokenIntrospectionUserInfoCache` is injected into a custom alternative priority bean imple

[2021-12-03 22:07] sberyozkin opened #21928 "Introduce `OidcSession` interface"
### Description

`OidcSession` will have a request scope injection support and it will provide some useful information and actions to OIDC `web-app` endpoints such as:
- how long the session will stay valid for
- tenant_id of this session
- invalidate - this will remove the session cookie to support the local-site only logout
- etc

This enhancement follows a conversation with @FroMage

### Implem

[2021-12-03 23:48] Sanne commented on #20396
you motivated me to have another look, and it turned out it wasn't that complicated to workaround :)

See #21929

[2021-12-04 00:17] chrigiansen opened #21930 "Blazebit EntityView not serialized in Native image"
### Describe the bug

Hello

When running Quarkus as Native image, calling a rest endpoint results in a json array of the right size but with empty elements. running the same code in quarkus:dev works fine. The single element is a blaze EntityView, which when logged, shows the correct state of the objects.

I have marked the views with `@RegisterForReflection`, but i don't think it's necessary.
Th

[2021-12-04 08:21] eijckron commented on #20037
Is there any progress on this?
This story describes exactly what I'm looking for.

We have a project with about 25 (micro) services. Most services have downstream rest dependencies (like flight in the diagram) and during development we don't want to use real instances of those. Our current workaround is to use mock-server through QuarkusTestResourceLifecycleManager and mock the downstream rest ser

[2021-12-04 08:24] geoand commented on #20037
Thanks for the input @eijckron.

This is absolutely something we want to get right, since the scenario you outlined is indeed very common. #21196 also outlines an alternative idea to this.

[2021-12-04 08:27] geoand commented on #20037
@eijckron how does your team deal with keeping the "interface" exposed by the mock in sync with the actual implementation of the downstream services?

[2021-12-04 08:57] eijckron commented on #20037
@geoand That is currently a manual process.

For services developed in the same area (15-25 developers) problems are rare because we have feature based development teams that change multiple services in a single user story. For dependencies between areas this causes issues now and then when epics contain user stories picked up by multiple teams in different areas.

We release all service updates i

[2021-12-04 09:10] mschorsch commented on #21762
@geoand @pedroigor

Here is a simple reproducer: [reproducer.zip](https://github.com/quarkusio/quarkus/files/7653646/reproducer.zip)

1. Start and open a browser tab on http://localhost:8080
2. Close the browser tab within
3. The exception is thrown after 5 seconds

[2021-12-04 09:45] vsevel commented on #20396
excellent @Sanne
that is exactly how I got it to work: unpacked the jars, removed the class, and repackaged. I can confirm that at least in my business app with limited testing I was successful with no side effects.
that is one thing I was wondering about. can we substitute a substitution? in that case, it was straightforward because we could remove the entire resource. but I was thinking if this

[2021-12-04 10:08] geoand commented on #20037
Thanks for the info @eijckron

[2021-12-04 12:10] famod commented on #21930
/cc @beikov

[2021-12-04 12:13] beikov commented on #21930
Thanks for the ping @famod, I'll take a look ASAP.

[2021-12-04 13:26] eijckron commented on #21284
@geoand I'm trying to integrate mock-server (no other dev services) this way using [paragraph 16.1 of the Quarkus test documentation](https://quarkus.io/guides/getting-started-testing)

When using quarkus.container-image.build=false no network id is provided so no call to withNetworkMode is needed and the mapped port is used for the downstream service url. The service under test nicely calls mock-

[2021-12-04 13:30] geoand commented on #21284
Do you have an example application that I can look at?

[2021-12-04 13:57] eijckron commented on #21284
I've put a [minimal example on github](https://github.com/eijckron/quarkus-integration-test-example)

[2021-12-04 15:53] geoand opened #21931 "QuarkusTestResourceLifecycleManager can't access the created docker network"
### Describe the bug

See https://github.com/quarkusio/quarkus/issues/21284#issuecomment-986027200 and the subsequent comments for me information

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

[2021-12-04 15:55] nragon commented on #21791
Closing since we cannot reproduce it on a smaller project. Will reopen if the detect it on other projects with identical structure. Thanks

[2021-12-04 15:55] #21791 closed

[2021-12-04 15:56] geoand commented on #21284
https://github.com/quarkusio/quarkus/pull/21932 takes care of the docker network timing creation issue.
Thanks for bringing it to my attention!

[2021-12-04 15:57] geoand commented on #21791
Thanks for checking!

[2021-12-04 16:14] haschi commented on #21284
It works for me if I provide my own implementation of the network interface:

[code]
Then, depending on whether the `containerNetworkId` is present or not, I call the `MockServerContainer.withNetwork ()`  method:

[code]

[Example](https://github.com/wolkenschloss/nubes/blob/v0.0.9/services/cookbook/service/src/integrationTest/java/family/haschka/wolkenschloss/cookbook/testing/MockServerResource.j

[2021-12-04 18:27] Foobartender commented on #21881
I have the same issue. Happens since Quarkus 2.5.0.Final, works with 2.4.2.Final .

[2021-12-04 18:31] glefloch commented on #21881
I found a fix I will push it ASAP

[2021-12-04 18:55] #20396 closed

[2021-12-04 20:26] #21931 closed

[2021-12-04 21:46] Sanne commented on #20396
Right, this patch will do the same.

I should add that I had concerns about following this approach of blindly modifying a non-OSS library as we couldn't know all substitutions and their nature, but since I've been working on a POC for #21069 and while doing it, it became clearer that the tooling can generate enough insight for this to be controllable.

And thanks for your test!

Right this was si

[2021-12-05 08:33] mschorsch commented on #21841
Possible reproducer: https://github.com/quarkusio/quarkus/issues/21762#issuecomment-985995830

[2021-12-05 16:49] cescoffier commented on #21852
Why can't you use a route of type failure?

[2021-12-05 18:30] flo-02-mu opened #21935 "Keycloak DevService not considered healthy when running in docker shared network mode"
### Describe the bug

When running the QuarkusIntegrationTest against the keycloak dev service using docker network (e.g. by setting `quarkus.container-image.build=true`) the http based health check fails:
[code]

I tried a quick fix by adding:
[code]

near https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/Keyclo

[2021-12-05 19:15] zailushangde commented on #21852
This exception cannot be caught by the type failure route.

[2021-12-05 21:08] zedbeit commented on #21834
Working on this.

[2021-12-06 01:43] #21881 closed

[2021-12-06 05:49] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1543179022

[2021-12-06 05:56] HelvetiaAppDev commented on #21335
@mmusgrov sorry for the late reply.
Naive question: How exactly could we test this without a new quarkus release? Do you mean to use a snapshot version of agroal, or quarkus, or both?
It seems the [PR](https://github.com/agroal/agroal/pull/45) for AG-183 hasn't been merged yet.

[2021-12-06 06:00] HelvetiaAppDev commented on #21367
Any update on this? Should we go forward assuming, that we cannot use RequestContext (the way we thought) when processing Kafka records?

[2021-12-06 06:48] #21920 closed

[2021-12-06 07:00] #21925 closed

[2021-12-06 07:19] cescoffier commented on #20537
The in-memory is just for tests, so we can ignore it.
I believe that Service B, which uses an "old" version of Quarkus may not have the feature we are discussing here. A and C should have it.

[2021-12-06 07:22] rsvoboda commented on #21912
Thanks, added comment to the PR about migration guide entry and noteworthy label

[2021-12-06 07:30] aloubyansky commented on #8593
@evacchi @radtriste have you seen this one?
[code]

[2021-12-06 07:34] geoand commented on #21762
Thanks for the reproducer.

I opened https://github.com/quarkusio/quarkus/pull/21942 to handle it

[2021-12-06 08:00] geoand commented on #21935
@manstis any idea?

[2021-12-06 08:09] manstis commented on #8593
It's now a multi- not simple- BuildItem. You'll need to use a List and check whether it's empty now if building with Quarkus snapshot.

[2021-12-06 08:11] manstis commented on #8593
`java.util.Optional<io.quarkus.deployment.builditem.DevServicesSharedNetworkBuildItem>` should now be `List<DevServicesSharedNetworkBuildItem>`.

[2021-12-06 08:12] manstis commented on #21935
I'll take a look.

[2021-12-06 08:13] #21834 closed

[2021-12-06 08:13] HelvetiaAppDev commented on #18737
Any updates?
I tried the same reproducer with quarkus 2.5.1-FINAL and the warn log still happens.

[2021-12-06 08:15] geoand commented on #21935
Thanks a lot!

[2021-12-06 08:18] manstis commented on #21935
I suspect the use-case is much like I had with Kafka.. when I needed it available on both the shared network and docker host network. I'll look into when I'm at my desk a little later.

[2021-12-06 08:33] Karm commented on #21729
@wabrit @vladimirfx The fix in #20850 is pretty close to getting merged now :+1:

[2021-12-06 08:39] cescoffier commented on #21912
Thanks @rsvoboda !

[2021-12-06 08:39] #21912 closed

[2021-12-06 08:43] cescoffier commented on #21367
No progress, but you're right, you should not use the RequestContext when processing records as there is no real "request".

[2021-12-06 09:33] xstefank commented on #21888
@sberyozkin that didn't trigger external auth but it takes user as authenticated (200).

[2021-12-06 09:43] kailashamk opened #21943 "QuarkusIntegrationTest and QuarkusTestResource with custom testcontainer failing with "network not found""
### Describe the bug

A new QuarkusIntegrationTest written for a Quarkus application utilizing quarkus-container-image-docker with a QuarkusTestResource starting the RabbitMQContainer with a NetworkId as shown below.

[code]

[code]

### Expected behavior

It is expected that the containers are started

### Actual behavior

Failing with the following error

Caused by: org.testcontainers.containers

[2021-12-06 09:47] geoand commented on #21943
Thanks for reporting.

This is a duplicate of https://github.com/quarkusio/quarkus/issues/21931 which has already been fixed in main

[2021-12-06 09:47] #21943 closed

[2021-12-06 09:53] manstis commented on #21935
@geoand OK, so a couple of things:-
- I can confirm the reported behaviour.
- It is not a regression following my recent change :champagne:
- It _could_ be an issue with keycloak only being exposed on the internal Docker network.....
- .... but if I add `quarkus.container-image.builder=docker` to the `application.properties` file it works OK.
- So.... there's something else going on (that I know n

[2021-12-06 09:54] geoand commented on #21935
Thanks a lot for the analysis @manstis.

[2021-12-06 10:09] ia3andy opened #21945 "Use conditional dependencies when possible (and unlist from tooling) for aggregative extensions"
### Description

Initiated in https://groups.google.com/g/quarkus-dev/c/zz7PObo3bIo/m/cRXZyrhhBQAJ?utm_medium=email&utm_source=footer

- qute + resteasy = resteasy-qute*
- resteasy + jackson = resteasy-jackson*
- resteasy-reactive + jackson = reasteasy-reactive-jackson*
- ...

### Implementation ideas

_No response_

[2021-12-06 10:13] flo-02-mu commented on #21935
Isn't the HttpWaitStrategy the issue? Than one is used in the keycloak-dev-service. For all other waitstrategies, the container is somehow directly queries (e.g. for log messages). But for the HttpWaitStrategy an actual http endpoint is queried.
When using non-docker-network, the query succeeds, because it queries (e.g.) http://localhost:60048/auth which is a reachable URL. But when using the dock

[2021-12-06 10:22] flo-02-mu commented on #21935
I checked this and I can confirm it:
When launching with image build = docker, the port gets mapped additionally:
[code]

When running it with jib, no port mapping of port 8080 takes place.
I guess the port mapping gets added here https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java

[2021-12-06 10:35] ia3andy commented on #21945
cc @maxandersen

[2021-12-06 10:41] angelozerr opened #21946 "StringIndexOutOfBoundsException in invalid parameter declaration Qute parsing"
### Describe the bug

Given this Qute template:

[code]

When Qute parse this invalid content, it throws:

[code]

It's annoying to have this error when you are using Qute parser in an editor.

### Expected behavior

Take acre of StringIndexOutOfBoundsException and report an error.

### Actual behavior

[code]

### How to Reproduce?

Parse Qute template content:

[code]

### Output of `uname -a` o

[2021-12-06 11:00] #21648 closed

[2021-12-06 11:14] manstis commented on #21935
The problem is that when `quarkus.container-image.build=true` then `useSharedNetwork` is `true` and [this](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java#L386-L388) runs instead. IMO the problem is definitely something to do with exposing KeyCloak correctly to the different co

[2021-12-06 11:22] michalszynkiewicz commented on #21440
sending done in https://github.com/quarkusio/quarkus/pull/21569

[2021-12-06 11:24] geoand commented on #21935
I'll try and take a look tomorrow or Wednesday

[2021-12-06 11:41] lferna commented on #19428
Is there any possibility to use this config in one field something like @JsonInclude(Include.ALWAYS) ?

[2021-12-06 11:42] jendib opened #21948 ""no transaction is in progress" in @Transactional service method"
### Describe the bug

In a Quarkus 2.7.4 application running in non-native mode I have the following service:
[code]
When called from a JAXRS resource annotated with `@Transactional` it produces the following error:

[code]

### Expected behavior

`@Transactional` methods should never throw "no transaction is in progress".

### How to Reproduce?

Here is a reproducer: [issue-21948.zip](https://git

[2021-12-06 11:43] geoand commented on #19428
Nope, it's a general setting

[2021-12-06 12:48] sberyozkin commented on #21935
Thanks @manstis @geoand, if I can help somehow let me know please, so far all the tests have been running (in the quickstarts, `security-openid-connect-quickstart`, `security-openid-connect-web-authentication-quickstart`, but also `integration-tests/oidc-token-propagation` ) without the shared network.

[2021-12-06 12:56] edress185 opened #21949 "MongoDB BsonDateTime is not in the Jandex index"
### Describe the bug

When building a Quarkus application that is using mongodb-client and mongodb-panache extentions, ReflectiveHierarchyStep outputs:

[code]

### Expected behavior

Expected behavior after looking at "MongoDB BSON types are not in the Jandex index #17893 " is that there should be NO warning!

### Actual behavior

A warning is logged stating the following:

[code]

### How to Rep

[2021-12-06 12:56] cescoffier commented on #21306
What you ask is very Kafka specific, and @Blocking is not Kafka-related (as you use it in many other places). To do what you want you would need to handle the dispatching yourself.

There might be a different way. I believe you can get what you want by not using the `partitions` attribute but by duplicating the channels definition and using `@Incoming("channel-1") @Incoming("channel-2")` on your m

[2021-12-06 13:17] alinayebi9080 opened #21951 "read config oidc from vault"
### Describe the bug

i'm using quarkus 2.5.1 and when use below config to load oidc config from vault, get error
quarkus.oidc.auth-server-url=${oidc.auth-server-url}

But when i use space in the end of variable problem is fix
quarkus.oidc.auth-server-url=${oidc.auth-server-url: }

what's your idea?

2021-12-06 16:45:36,017 ERROR [io.qua.dep.dev.IsolatedDevModeMain] (main) Failed to start quarkus:

[2021-12-06 13:19] alinayebi9080 opened #21952 "Quarkus Custom authorization interceptors or filter"
### Describe the bug

I have a Quarkus microservice doing authentication and authorization with Keycloak using quarkus-oidc and quarkus-keycloak-authorization extensions.

when i enable quarkus.keycloak.policy-enforcer, reader & writer interceptors and container request & container response filters not working on 401 error. do you have any idea??

### Expected behavior

_No response_

### Actual b

[2021-12-06 13:21] brunohpg opened #21953 "Common Quarkus project marked as duplicate classes in tests (split package issue)"
### Describe the bug

Hi,

In my ecosystem, I have several "main projects" and one "common project".

### Configuration

All projects, including the common one, are Quarkus projects.
The common project is depdency of the main projects.
I use Gradle, so in the main projects I have it in build.gradle:

`implementation project(':flexi-common')`

And settings.gradle:

[code]

For correct indexing, all

[2021-12-06 13:27] loicmathieu commented on #21949
Hi, this also occurs for the `BsonId` type and this WARNING can be safely ignored.

@aloubyansky their is multiple types on the org.bson package that generates this warning, I don't remember if we should index them or if we can provides a build item to ignore the warning ?

[2021-12-06 13:31] FroMage commented on #20783
Well we can also make it easier to specify paths, for other providers such as google:

[code]

[2021-12-06 13:48] edress185 commented on #21949
Yes, you are right it is the same for BsonId! I thought it was solved as part of  #17893, but I think it was not !

![image](https://user-images.githubusercontent.com/18722010/144857063-3ca77174-0fa0-4803-9a41-56c97c6c5d0c.png)

Below is a log indicating the warning for both BsonId and BsonDateTime

[code]

I will just go ahead and ignore these warning, and hopefully they will disappear as part of

[2021-12-06 13:54] aloubyansky commented on #21949
TBH, I am not sure. But if you used to recommend to ignore these and it worked then maybe we should not be indexing them by default?

[2021-12-06 13:57] sergejomon commented on #20537
Ok ! So that would make sens : header are kept from C to B but not from B to C.
I'll try to update to quarkus 2 and last version of smallrye in service B and I'll update this issue accordingly. Thank you for your time 🙂

________________________________
De : Clement Escoffier ***@***.***>
Envoyé : lundi 6 décembre 2021 08:19
À : quarkusio/quarkus ***@***.***>
Cc : Serge ***@***.***>; Author ***@**

[2021-12-06 14:11] sberyozkin commented on #21951
Not sure how to handle it yet, with other properties such as `client-id` we were able to resolve the problem by making them accessible as runtime properties from the OIDC Dev UI. But `auth-server-url` is required to do the auto-discovery but if it is fetched from the config source it probably means this OIDC Dev UI step has to be run at Runtime init time

[2021-12-06 14:15] sberyozkin commented on #21952
@alinayebi9080

I believe you need to add custom exception mappers to intercept the security exception but also disable the proactive authentication

[2021-12-06 14:28] loicmathieu commented on #21949
Yes, it's not needed to index them.

Some times ago, I force index the BsonId to avoid the warning, but the code seems to disapear, and now I wonder if I need again to force index them in the build or if there is a way to ignore the warning

[2021-12-06 14:34] aloubyansky commented on #21949
There is `ReflectiveHierarchyIgnoreWarningBuildItem` although it might be too fine grained in this case?

[2021-12-06 15:23] rgmz opened #21956 "Cannot use UriInfo context in resteasy-reactive `@ServerResponseFilter`"
### Describe the bug

According to the [RESTeasy Reactive guide](https://quarkus.io/guides/resteasy-reactive#request-or-response-filters), filter parameters can take any [context object](https://quarkus.io/guides/resteasy-reactive#context-objects). However, declaring `UriInfo` as a parameter in a response filter results in a runtime error. (This happens for a few other context objects.)

It seems

[2021-12-06 15:31] floriansiepe opened #21957 "Custom mimetype causes quarkus-rest-client-reactive being unable to deserialize"
### Describe the bug

Reactive rest client does not deserialize custom, "json-like" mimetypes (e.g. application/*+json) are not deserialized correctly.

### Expected behavior

All mimetypes matching the pattern `application/*+json` should be deserialized using Jackson

### Actual behavior

Rest client throws the following error:

[code]

### How to Reproduce?

Small reproducer:
[test.zip](https://

[2021-12-06 15:34] loicmathieu commented on #21949
Thanks @aloubyansky this is what I need, I'll have a look to fix the issue later on this week.

[2021-12-06 15:46] gsmet commented on #21552
I'm not sure we should close this one. For me, there's a good chance all the improvements @Postremus did are unrelated to the regression we encounter.

[2021-12-06 15:52] rgmz commented on #21956
Thanks for the quick PR, @geoand.

I've tested the other [context objects](https://quarkus.io/guides/resteasy-reactive#context-objects) for the sake of completeness. The same issue occurs with these ones — again, not sure if this is a documentation or implementation issue:

* `javax.ws.rs.core.HttpHeaders`
* `javax.ws.rs.core.SecurityContext`
* `javax.ws.rs.core.Application`
* `javax.ws.rs.core.Co

[2021-12-06 16:16] lyrem0007a opened #21962 "MTLS unrecognized critical extension(s)"
### Describe the bug

I write my MTLS Server with certificates from CA. The client can verify server's keystore with his truststore. But the server can't verify client's keystore with server's truststore. I get an error unrecognized critical extension(s) when server verifys client's certificate.

### Expected behavior

Server can verify client's certificate successfully.

### Actual behavior

The

[2021-12-06 16:20] Postremus commented on #21552
Current measurements, as reported by the `started in <some amount>s.` line.

mvn clean compile quarkus:dev
2.2.3.Final: 2.355s
2.5.1.Final: 2.526s
main (4a48d7844e6e6a7f8029bd850ffb9d9656b47607): 2.361

force restart (s)
2.2.3.Final: 0.764s
2.5.1.Final: 0.794s
main (4a48d7844e6e6a7f8029bd850ffb9d9656b47607): 0.585s

Difference between 2.2.3.Final and 2.5.1.Final:
quarkus:dev ~ 170ms
force restart:

[2021-12-06 16:25] #21946 closed

[2021-12-06 16:30] geoand commented on #21819
Please describe what you are trying to do. I am completely lacking context

[2021-12-06 16:53] gsmet commented on #21552
@Postremus yeah I totally agree your work has been great. I just think maybe we could even further improve things by finding the source of the original regression.

[2021-12-06 16:59] mkouba opened #21966 "Qute error page setup does not work"
### Describe the bug

Rendering fails with:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Build tool (ie. output of `m

[2021-12-06 17:01] johurul000 commented on #11085
Hi, @ia3andy I am new to Open Source and I want contribute, It would be very helpful if you could explain a little more.

[2021-12-06 17:07] ia3andy commented on #11085
@johurul000 you need to add this https://github.com/quarkusio/quarkus/issues/11085#issuecomment-944122096
 to the guide https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/extension-codestart.adoc

[2021-12-06 17:12] johurul000 commented on #11085
@ia3andy  ok

[2021-12-06 17:18] famod commented on #21552
`git bisect` might help. 🤔

[2021-12-06 17:34] edeandrea commented on #21819
I have this project: https://github.com/edeandrea/quarkus-super-heroes/tree/main/event-statistics

It uses the dev services context aware to create a `KafkaProducer` (https://github.com/edeandrea/quarkus-super-heroes/blob/main/event-statistics/src/test/java/io/quarkus/sample/superheroes/statistics/KafkaProducerResource.java)

When I run (this is java 17 - but java 11 gives the same result)

[code]

[2021-12-06 17:56] edeandrea commented on #21819
It also doesn't seem to be specific to building a native image either. The issue is connecting Dev Services when the integration test is running in a container.

From that same project running

[code]

I get

[code]

[2021-12-06 18:11] geoand commented on #21819
Can you try Quarkus from `main`? @manstis introduced a fix around this area recently

[2021-12-06 18:11] edeandrea commented on #21819
sure. Remind me again how to do that?

[2021-12-06 18:16] geoand commented on #21819
https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#checking-an-issue-is-fixed-in-main

[2021-12-06 18:23] gsmet commented on #21552
Yeah first thing would be to find the version(s) introducing the regression
and then git bisect.

On Mon, Dec 6, 2021 at 6:18 PM Falko Modler ***@***.***>
wrote:

[2021-12-06 19:15] loicmathieu commented on #21949
What I did back then is to register for reflection the `ObjectId` which is used to denote the default MongoDB ID field.

But there is tons of types inside the bson library (BSON is the marshalling standard of MongoDB), I wonder if we should ignore all of them or build a Jandex index (I don't know if it impact build time and application size a lot). WDYT @aloubyansky ?

[2021-12-06 19:17] gsmet commented on #21949
You can use `ReflectiveHierarchyIgnoreWarningBuildItem(Predicate<DotName> predicate)` and ignore the whole package.

[2021-12-06 19:26] loicmathieu commented on #21949
Good idea, I open the class but for some reason didn't see the predicate based method ;)
Will try this.

[2021-12-06 19:28] famod commented on #21948
Have you verified it's not a transaction timeou

[2021-12-06 19:48] edeandrea commented on #21819
I tried the snapshot - same failure

[2021-12-06 19:51] edeandrea commented on #21819
i can make a simple reproducer if that would be helpful

[2021-12-06 20:07] manstis commented on #21819
That would be very useful. I am successfully using DevService's Kafka container from both within the Docker network and Docker host network (admittedly not from an integration test). I'd be interested in seeing your setup (and looking at the issue) as I'll be writing integration tests for my use-case too at some point. BTW I'm not a Quarkus developer, just a contributor.

[2021-12-06 20:26] jendib commented on #21948
I should have an error log in that case no? I don't have anything except the error I pasted.

[2021-12-06 20:49] edeandrea commented on #21819
@manstis / @geoand here is a reproducer. I'm using a `Dockerfile.jvm` for java 11. The Java version doesn't seem to matter though.

[kafka-dev-service-container-int-test.zip](https://github.com/quarkusio/quarkus/files/7663481/kafka-dev-service-container-int-test.zip)

Unzip it & un `./mvnw clean verify -Dquarkus.container-image.build=true` and watch the integration test fail because it can't conne

[2021-12-06 20:58] edeandrea commented on #21819
Actually I think my problem has something to do with https://quarkus.io/guides/getting-started-testing#launching-containers

I'll play with it some more.

[2021-12-06 21:38] edeandrea commented on #21819
I've essentially ran into [this](https://stackoverflow.com/questions/69855376/how-can-i-connect-a-test-container-in-quarkus-to-the-docker-network-of-devservic), except in my case I want to construct a producer from the current jvm into the broker running in the container.

I don't know how to connect the test to the container network running the application & the Kafka broker.

[2021-12-06 21:45] edeandrea commented on #21819
I removed the `QuarkusTestResource` and instead directly injected the `DevServicesContext` into my test class

[code]

When the test starts up I see

[code]

To me that means that the kafka broker that Dev Services starts is not exposed outside of the container network and therefore is not accessible by the test. Is that true? There doesn't seem to be a `-p` mapping for `9092` to map back to the l

[2021-12-06 21:58] vsevel commented on #16870
@gsmet and @sberyozkin I recommend adding @kdubb as an admin to the quarkiverse vault repo if he agrees. Kevin has done significant contributions to the vault extension lately. I think this is well deserved.

[2021-12-06 22:06] gastaldi commented on #16870
@vsevel that sounds like a great idea! I created https://github.com/quarkiverse/quarkiverse-devops/pull/15 which adds him to the list of maintainers to the https//github.com/quarkiverse/quarkus-vault repo

[2021-12-06 22:08] famod commented on #21948
There should be at least a warning, which might not be directly next to the actual error.

[2021-12-06 22:14] sberyozkin opened #21975 "Regression: DevServices for Keycloak fails to load a realm file from the file system"
### Describe the bug

We have 3 quickstart tests where `Dev Services for Keycloak` loads the file from the classpath.
The user reported on Zulip loading the file system does not work.

As it happens, it used to work but myself has managed to lose the line which did make it work during some of the refactoring.
It has to be restored, and I'll update one of the quickstarts to test it

### Expected be

[2021-12-06 22:18] sberyozkin commented on #21975
Qucikstart update: https://github.com/quarkusio/quarkus-quickstarts/pull/1001

[2021-12-06 22:23] kdubb commented on #16870
@vsevel Thanks for the confidence. I'm willing to continue contributions and help maintain the Vault extension.

That being said, I'm just getting introduced to this issue and getting caught up on the previous discussion here. Many of the points brought up by @michael-simons seem pertinent to me. Specifically, I agree that the extension guides should be available amongst the normal "guides" and av

[2021-12-06 22:35] #21956 closed

[2021-12-06 22:55] stuartwdouglas commented on #21888
There is always a SecurityIdentity, its just that sometimes it is the anonymous one. If authorization fails then if this flag is set we will attempt to authenticate the user to get a non-anonymous one.

[2021-12-06 23:12] aloubyansky commented on #16870
It is automatically verified nightly against the current `main` branch of the Quarkus repo. The status is reflected at https://status.quarkus.io/#quarkiverse
If an extension fails a CI with the current `main` branch of Quarkus, it is **not** treated as a blocker for the Quarkus release. It could either be a bug in Quarkus, in which case it would have to be reported and fixed in the Quarkus repo. O

[2021-12-06 23:31] jendib commented on #21948
I checked 5min of log before and after and I have nothing else.

[2021-12-07 04:21] alinayebi9080 commented on #21952
i disable proactive, but exception mapper not working.

[2021-12-07 04:21] alinayebi9080 commented on #21952
i disable proactive, but exception mapper not working.

[2021-12-07 05:56] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1547965366

[2021-12-07 08:05] geoand commented on #21819
This can actually be fixed by what @manstis contributed.

@manstis I am wondering if we should have `exposeOnDockerHost` enabled by default...

[2021-12-07 08:21] manstis commented on #21819
@geoand I was thinking much the same last night... I'll look into later today. There are different things at play: service discovery (bootstrap servers) and the service itself. Did we want both always visible to docker host and docker internal networks regardless of whether the useSharedService is enabled? Is this now a question of the (re-)design of all services launched by DevServices? If we wan

[2021-12-07 08:30] #21966 closed

[2021-12-07 08:36] geoand commented on #21819
I would say that as a first step we probably want to expose the service to both the host and internal networks when `useSharedService` is enabled

We probably want to use it for all DevServices

If we follow the approach I outlined above, then the build item still has a role to play.

WDYT?

[2021-12-07 08:57] johurul000 commented on #11085
@ia3andy  what source should I give.

[2021-12-07 09:00] maxandersen commented on #16870
That is interesting - what other extensions do you see use it ?

about auto verification that is something we want to get in for sure and automate as much as we possibly can.

[2021-12-07 09:06] ia3andy commented on #11085
what do you mean @johurul000 ?

[2021-12-07 09:08] kdubb commented on #16870
Well it's a Config source and it's currently the only core implementation of `CredentialsProvider`. Just between those two things there are a lot touch points for the Vault extension, including Agroal, and most of the reactive database driver extensions.

[2021-12-07 09:16] johurul000 commented on #11085
In adoc for codestart.yaml there is [source,yaml], I was asking about this.
E.g -
[#codestart-yml]
=== codestart.yml

[source,yaml]
----
# the codestart unique name
name: resteasy-example
# the codestart reference (the name is used if not set)
ref: resteasy
# the type of codestart (other types are used for other project files)
type: code
# public metadata for this example (they will also be access

[2021-12-07 09:17] manstis commented on #21819
@geoand FYI, https://github.com/quarkusio/quarkus/pull/21981

I removed the additional flag I'd introduced since it was only used to expose Kafka to Docker's host network in addition to the shared network when the `useSharedNetwork` flag was `true`... it serves no purpose now.

[2021-12-07 09:49] sberyozkin opened #21982 "Broken image embed element on Quarkus Keycloak integration Guide"
### Describe the bug

The image is not displayed at https://quarkus.io/guides/security-keycloak-authorization#starting-and-configuring-the-keycloak-server (Originally reported by Jakub Grabowski at https://issues.redhat.com/browse/QUARKUS-1492)

I'm not sure, after comparing similar instructions, what is wrong there, Guillaume, @gsmet, can you see something obvious ? I've checked extra spaces, etc

[2021-12-07 09:58] geoand commented on #21935
I'll take care of this one and in the meantime add an integration test that will use Keycloak in a `@QuarkusIntegrationTest`

[2021-12-07 10:12] maxandersen commented on #16870
@kdubb but that is a fairly stable interface is it not ? Since agroal and reactive db drivers are still in core we will see if it breaks "clients" and the automated testing will also capture it. If the API is stable that should give us all enough heads up ?

[2021-12-07 10:24] #20565 closed

[2021-12-07 10:24] #8605 closed

[2021-12-07 10:24] #12393 closed

[2021-12-07 10:24] #12972 closed

[2021-12-07 10:24] #13567 closed

[2021-12-07 10:24] #21726 closed

[2021-12-07 10:24] #21729 closed

[2021-12-07 10:26] #21949 closed

[2021-12-07 10:28] mkouba commented on #21855
In fact, you can currently access the `user` and `album` from the parent context, i.e. just call `{#likeAlbum /}`. But if we [decide to disable this access by default](https://github.com/quarkusio/quarkus/issues/21861#issuecomment-987781629) then it would make sense.

[2021-12-07 10:29] davideginna commented on #21306
hi,
so the guide it's wrong?
https://quarkus.io/guides/kafka
paragraph 4.5  -> 2

[2021-12-07 10:35] mkouba commented on #21864
No, it should be the runtime module. Let me check..

[2021-12-07 10:45] vtdmitriy opened #21983 "Support for proxy with NTLM-authentication for REST clients."
### Description

Currently, only Basic Authentication proxies are supported for REST clients.

### Implementation ideas

_No response_

[2021-12-07 10:46] mkouba commented on #21854
I like the idea of `@TemplateEnum` with behavior equivalent to `@TemplateData(namespace = TemplateData.SIMPLENAME)`.

This already works with `@TemplateData(namespace = TemplateData.SIMPLENAME)`, just try `{#each ContentStatus:values}{it}{/}` or `ContentStatus:values[0]`.

[2021-12-07 10:46] mkouba commented on #21854
In general, `@TemplateData(namespace = TemplateData.SIMPLENAME)` makes all public static members accessible...

[2021-12-07 10:48] mmusgrov commented on #21335
Yes, until there is a release containing AG-183 you would need to build quarkus yourself by changing the quarkus bom to depend on whatever Agroal version contains AG-183 and then rebuild.

[2021-12-07 11:20] sberyozkin commented on #21983
The challenge is how to ensure the negotiation works if more than one round is required.

[2021-12-07 11:26] westarne commented on #20552
Hello,

since this is exactly what we experienced now, I wanted to make some additions, so I hope it's ok to comment on the closed issue.

First of all we would like to run `@QuarkusIntegrationTest` against the native image as well as `@QuarkusTest` in the `mvn verify` step using the failsafe plugin. We will be doing some smoke tests against the deployed service in the `@QuarkusTest` for general a

[2021-12-07 11:30] sberyozkin opened #21984 "OIDC closes its client after a successful JWK set read when the discovery is disabled"
### Describe the bug

@FroMage has discovered this bug.

As it happens this very code is tested to verify that if the JWK set read fails when the discovery is disabled then the recovery will be attempted during the client request. And all works - because an OIDC `service` application is tested and once JWKs are in, nothing else is needed if no further introspection is required.

But Steph tried it

[2021-12-07 11:31] radcortez opened #21985 "RegisterForReflection#classNames does not register full hierarchy of the class"
### Description

If we use `io.quarkus.runtime.annotations.RegisterForReflection#classNames` to register classes for reflection it does not register classes up in the hierarchy.

On the other hand, if we use `-H:ReflectionConfigurationFiles`, it does register the full class hierarchy.

### Implementation ideas

I think we should look for the full hierarchy here: https://github.com/quarkusio/quarku

[2021-12-07 11:33] naah69 opened #21987 "config implement QuarkusTestProfile can't convert to @ConfigMapping config"
### Describe the bug

there is a class implement QuarkusTestProfile#getConfigOverrides.

but the config can't convert to @ConfigMapping class when i run test

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different

[2021-12-07 11:33] cescoffier commented on #21306
No, the documentation is right, it just does not do the dispatching as you describe it, and will still serialize the records following the reactive streams semantic.

[2021-12-07 11:49] edeandrea commented on #21819
Should I reopen this ticket since we had closed it last week?

[2021-12-07 11:59] Karm commented on #20009
@famod The problem here is the notorious `Detected an instance of Random/SplittableRandom class in the image heap.`
That must be reinited at runtime. I am almost positive it has been addressed since Q 2.2.

@amitkumar7566 Could you confirm it is happening for you with the latest Quarkus and  [Mandrel 21.3.0.0-Final](https://github.com/graalvm/mandrel/releases/tag/mandrel-21.3.0.0-Final)  i.e. `-Dq

[2021-12-07 12:11] survivant opened #21990 "OpenTracing Providers found multiple times (RESTEASY002160)"
### Describe the bug

I created a demo here to reproduce the issue

``https://github.com/survivant/opentracing-quarkus/tree/feature/common-lib``

I also have a thread here ``https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/OpenTracing.20how.20to.20decorate.20RestClient.2E``

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_N

[2021-12-07 12:19] geoand commented on #21819
No need

[2021-12-07 12:20] Karm commented on #2082
@cescoffier Close this one, please. JNI access works, and the particular error @gunnarmorling experienced is addressed with AWT extension via #20850 anyway...

[2021-12-07 12:27] #2082 closed

[2021-12-07 12:37] kny78 opened #21991 "EntityManagerFactory synchronizes transactions with UNSYNCHRONIZED"
### Describe the bug

In our project, we need / designed the code to use unsynchronized transactions.

But we found out that depending on the order of *get connection* and "begin transaction* it gets the same or different connection!

Example code and working and failing tests:
https://github.com/kny78/non-unique-transaction

## GitHub Actions that the ok and failing tests:
[GitHub Actions run](ht

[2021-12-07 12:40] Karm commented on #17886
Hello @michalszynkiewicz,  Mandrel has aarch64 builds available on https://github.com/graalvm/mandrel/releases/tag/mandrel-21.3.0.0-Final

Is this issue actually resolved or does it make sense to include these tests in aarch64 Quarkus TS runs?

[2021-12-07 12:48] Karm commented on #17223
@zakkak  Do you have an opinion on the order of additional arguments passed to the container build? Order matters. Context: Change in #15288

[2021-12-07 12:52] Karm commented on #16732
Hello @anthony-quiros, could you put together a small reproducer for this? You can use something from https://code.quarkus.io/ or https://github.com/quarkusio/quarkus-quickstarts as a scaffolding.
Preferably with the latest Quarkus and Mandrel (or GraalVM), e.g. `-Dquarkus.native.container-build=true -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:21.3-java11`

[2021-12-07 12:53] edeandrea commented on #18820
Just wanted to give a gentle ping on this. Any updates? In addition to the test classes needing updating, the `pom.xml` would also need to be updated. Currently the failsafe plugin is only installed in the `native` profile. It would need to be moved into all profiles. like [here](https://github.com/edeandrea/quarkus-super-heroes/blob/main/rest-villains/pom.xml#L152-L170) (this project also has an

[2021-12-07 12:56] ia3andy commented on #18820
@edeandrea I thought I did that one.. it must have slipped of my TODO list somehow.. do you want to provide a PR?

[2021-12-07 12:58] edeandrea commented on #18820
I don't know anything about how the templating or code.quarkus.io works nor how I would test any changes before I've committed anything. If its not too much work I could probably do a PR so long as you give me some starting points...

[2021-12-07 13:09] edeandrea commented on #18820
Looking at https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/java/src/native-test/java/org/acme/Native%7Bresource.class-name%7DIT.tpl.qute.java - does it really belong in a directory called `native-test` if its now an integration test?

Would this be a much broader change? [This gu

[2021-12-07 13:10] ia3andy commented on #18820
@edeandrea
the pom is here: https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/buildtool/maven/base/pom.tpl.qute.xml#L164-L202

The tests are here:
- https://github.com/quarkusio/quarkus/blob/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/extension-codestarts/resteasy-codestart/java/

[2021-12-07 13:10] Karm commented on #16225
Hello @mutasemhidmi, @suzihao
This GH issue is rather convoluted. If the issue is that aarch64 doesn't work for you, the reason is that aarch64 is not supported for Quarkus container builds, only amd64 is.

Furthermore, native builds with Graal are not supported on Darwin (mac) aarch64 https://github.com/oracle/graal/issues/2666. Only Linux aarch64 are supported with both Graal and Mandrel (since

[2021-12-07 13:11] ia3andy commented on #18820
First make the changes and then see what fails

[2021-12-07 13:13] ia3andy commented on #18820
That's a good question, I think you can move them to the `test` directory we just need to make sure it's ok with gradle (cc @glefloch)

[2021-12-07 13:14] ia3andy commented on #18820
Yes I guess the guide also need to be udpated, but that could be a different PR..

[2021-12-07 13:17] Karm commented on #15653
Hello @mutasemhidmi See the duplicate https://github.com/quarkusio/quarkus/issues/16225#issuecomment-987912107

@famod This issue should be closed.

[2021-12-07 13:19] geoand commented on #20552
it most certainly is :)

This is not possible.

What is the complete stacktrace?

[2021-12-07 13:21] Sirz3chs opened #21996 "IllegalAccessError while accessing protected field with maven multi-module"
### Describe the bug

I have a project with maven multi-module and i have a class that extends another class located in another module. The're both in the same package and i'm trying to access a protected field that is injected in the parent class then i have an `IllegalAccessError`.

### Expected behavior

Being able to access my protected field.

### Actual behavior

[code]

If the field is publ

[2021-12-07 13:26] Karm commented on #14972
@geoand  We can close this one.

Not exactly "fixed by" #20850, but we [advice users to install AWT extension](https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/graal/AwtImageIO.java#L21) if they attempt to deserialize an image. Tested here: https://github.com/quarkusio/quarkus/blob/main/integration-tests/jaxb/src/test/java/io/quarkus/it/jaxb/JaxbAWTIT.ja

[2021-12-07 13:35] #14972 closed

[2021-12-07 13:35] srigano commented on #16613
Hi,
"o I believe this error is just the result of the JCC driver not being able to find the classes in the license jar." -> yes
I opened another issue : https://github.com/quarkusio/quarkus/discussions/21993.

If we have a valid db2jcc_license_cisuz dependency, what should we add in the container-license-acceptance.txt file ??
Thanks.

[2021-12-07 13:37] srigano commented on #16613
Nota: i'm using the latest quarkus platform : 2.5.1.Final.

[2021-12-07 13:37] kny78 commented on #21991
It seems like the bug is in Hibernate-orm

[2021-12-07 13:38] Karm commented on #12730
@borellda @sberyozkin Could we close this one? It seems that contemporary Tika extension complains politely that it won't parse JPEG2000 and carries on.  If it needs to work with images, it prompts user to install AWT extension since #20850 :

[code]

[2021-12-07 13:39] geoand commented on #21985
I don't think we want to do this TBH since it could inflate our native images a lot. IMHO, we should just keep using `ReflectiveClassBuildItem` and `ReflectiveHierarchyBuildItem`

[2021-12-07 13:40] geoand commented on #21987
Can you add more details? Preferably add a reproducer

[2021-12-07 13:44] Karm commented on #12607
@gastaldi

There is this [UnsupportedOSBuildItem.java](https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/builditem/nativeimage/UnsupportedOSBuildItem.java) used e.g. as
[code]
Perhaps it could be enhanced to allow for a warning instead of the hard termination of the native build process it does now.

[2021-12-07 13:47] gastaldi commented on #12607
@Karm not sure about that. This build item is meant to fail the build because the app won't work in a specific OS, due to GraalVM or OS limitations

[2021-12-07 13:49] westarne commented on #20552
Thanks first of all for the quick answer!

It did work prior to 2.3.0.Final though. Was that a missing restriction in there? So It's not intended to run anything other than `@QuarkusIntegrationTest` in the failsafe `mvn verify` in general or is that some restriction that could be changed?

The full stack trace (as visible in IntelliJ) is:

[code]

I can set up an example project later as well, if

[2021-12-07 14:01] geoand commented on #21985
Yeah, could do that I guess

[2021-12-07 14:03] radcortez commented on #21985
Not a big deal anyway, if no one else complained yet :)

[2021-12-07 14:03] geoand commented on #20552
If it worked, it worked by chance.

Correct

[2021-12-07 14:07] geoand commented on #21985
:)

[2021-12-07 14:15] edeandrea commented on #18820
@ia3andy I created a draft PR for this at #21997

We can pick up the conversation over there.

[2021-12-07 14:17] zakkak commented on #17223
@Karm thanks for bringing this to my attention. I think @fbuetler 's suggestion makes sense, but I think we should better ensure this behaviour by keeping the `--user` etc. flags in `NativeImageBuildContainerRunner#baseContainerRuntimeArgs`.

Please see https://github.com/quarkusio/quarkus/pull/21998 for my proposal.

[2021-12-07 14:33] #21984 closed

[2021-12-07 14:52] sberyozkin commented on #21521
It will probably make sense to introduce a dedicate separate document to list how to set up all the providers @FroMage have managed to get supported, after some config/code optimizations are applied

[2021-12-07 14:53] gastaldi commented on #16480
After talking to @aloubyansky, we decided on some action items:

- [ ] Non-platform extensions will publish test-jars (under a release profile defined on `quarkiverse-parent`)
- [ ] Listen when quarkusio/quarkus is tagged (released) and run the tests on the existing test-jars and record the compatibility test outcome in registry.quarkus.io

[2021-12-07 15:02] vtdmitriy commented on #21983
This mechanism works successfully through Apache HttpClient, for example:
[code]

But at the same time, all the convenience and advantages of using quarkus are lost...

[2021-12-07 15:34] fedinskiy opened #22000 "Conflicting versions of vertx-mutiny-clients and kafka-clients lead to NoSuchMethodError"
### Describe the bug

When we use io.vertx.mutiny.kafka.client.producer.KafkaProducer to send messages, we get this error:
[code]

### Expected behavior

Messages should be sent without errors.

### Actual behavior

Exception, full stack trace is below:

[code]

### How to Reproduce?

1. Clone the repo: git@github.com:quarkusio/quarkus-quickstarts.git
2. Switch to `development` branch
3. Run `mvn

[2021-12-07 15:55] ozangunalp commented on #22000
Unfortunately `vertx-kafka-client` is still on `kafka-clients:2.6.0`.
I'd advise forcing the `kafka-clients` version to `2.8.1` manually when using the `vertx-kafka-client` in Quarkus.

[2021-12-07 15:58] m-stramel commented on #9123
I am experiencing the same exception when using smallrye reactive messaging as well.
When a process I have created is kicked off to send ~65K messages to the kafka consumer the "Unable to acquire JDBC connection" exception is intermittently thrown. During one run of the process I received 20 exceptions, but the next run of 65K messages produced 0 exceptions.

My implementation is simple in the fac

[2021-12-07 16:10] famod commented on #21996
Sorry to say that, but split packages are pretty much a bad practice since Java 9.
You should even see a warning logged by `SplitPackageProcessor` (IIRC).

/cc @manovotn @mkouba

[2021-12-07 16:12] j-be commented on #21173
@phillip-kruger @geoand Cannot confirm, issue persists in `2.5.1.Final`, even though differently now. Seems I can't reopen the issue, though.

If I have 2 resources inheriting, both carry the same tag (not sure how it determines which tag to use).

### Consider the following:

[code]

and

[code]

and

[code]

### Expected behavior

* The `get` operation of the `/address/{id}` path is tagged with

[2021-12-07 16:17] teksupp12 commented on #16613
@mswatosh @Sanne. Could you please help us here?

[2021-12-07 16:26] Sanne commented on #16613
hi, yes sorry about this. I've emailed @mswatosh directly as I suspect he didn't see the notifications here. He's in touch with Rocket Soft, the DB2 driver maintainers - I hope he'll be able to update us soon.

[2021-12-07 16:28] fedinskiy commented on #22000
@ozangunalp thank you, I can confirm, that the workaround works.

[2021-12-07 16:31] j-be commented on #8268
I just stumbled over this as well. If nobody is at it yet I'd be happy to work on a PR.

@vinicius-martinez @mincel I know it is late, but `CDI.current().select(TheClassYouWantToInject.class).get()` works on my side. Beware, that Quarkus removes beans which are not `@Inject`ed anywhere, and `CDI.current().select()` does not count as injection. Consider `@io.quarkus.arc.Unremovable` in case the pro

[2021-12-07 16:31] manovotn commented on #21996
Yes, `SplitPackageProcessor` was added to help with precisely these issues. It is not only a bad practice but also brings some limitations into bean creation and access such as the one you just described.

You need to avoid using split packages in you application - with what you described it means either making it public or encapsulating the whole logic inside of one archive.

The original PR intr

[2021-12-07 16:31] #21996 closed

[2021-12-07 16:32] mswatosh commented on #16613
I reached out to the team that owns the JCC driver and they're looking into addressing this issue on their end. Unfortunately, their next fixpack release won't be until June 2022. They said they can send me a driver to test once the fix is ready, but I'm not sure if that would be production ready/how we would consume it in Quarkus, since I'm guessing it currently pulls an official driver from Mave

[2021-12-07 16:34] cescoffier commented on #22000
As a follow-up, we should bump the version in the mutiny binding. 2.6.0 is not right.

[2021-12-07 16:39] Sanne commented on #21991
Hello, interesting request; we'll need to talk about this.

Since we use Agroal as datasource, any JDBC connection retrieved from the pool needs to be opened within the context of an active JTA transaction.
It's generally a very bad idea to use `UNSYNCHRONIZED` while the underlying connection is JTA managed; could you elaborate on the reasons for this choice?

cc/ @barreiro

Thanks

[2021-12-07 16:43] Sanne commented on #16613
thanks for the update @mswatosh. Do you happen to know why it's not finding the license? Could Rocket Soft people perhaps suggest what we could do differently in Quarkus?

[2021-12-07 16:53] mswatosh commented on #16613
Yes, it's due to this issue: https://github.com/quarkusio/quarkus/issues/2809
Honestly, fixing this in the JCC driver is really addressing a symptom, not the cause of the issue. The reason for not fixing in that issue was:

Which seems to be accepting that some libraries won't work the same in dev mode as production. If hot reload is the issue, then it would be nice to have an option to specify a

[2021-12-07 17:54] sberyozkin commented on #21983
I'm sorry, I believe GSS API can be used to support it - however as opposed to Kerberos I have not found the examples where more than one negotiation round is required...

[2021-12-07 18:25] GregJohnStewart opened #22004 "Can't Map exception thrown by MpJwtValidator::createSecurityIdentity"
### Describe the bug

I am attempting to catch all errors related to authorization, in order to redirect web ui users towards a login page, For many exceptions, this has worked fine, but when a token has expired the following error is thrown:

https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java#L78

W

[2021-12-07 18:38] sberyozkin commented on #21888
Hi @stuartwdouglas I think it is just simpler to return 403 at this point - if the anonymous identity has reached the RBAC layer then it means the authentication layer has allowed it for whatever reasons - trying to re-authenticate the anonymous identity is going to create a loop (the same authentication mechanisms will be retried, etc), right ?

[2021-12-07 18:40] sberyozkin commented on #22004
@GregJohnStewart Can you please try to disable the proactive authentication, https://quarkus.io/guides/security-built-in-authentication#proactive-authentication ?

[2021-12-07 18:58] GregJohnStewart commented on #22004
That worked! And I think that fixes a couple of other issues I have noticed in the past, related to the enforcement of authentication. Thanks!
Is this as intended (and I will close the issue) or something to dive into further? Part of me wants to say this is an odd thing to need to do to map an exception

[2021-12-07 19:18] sberyozkin commented on #22004
Np, by default he security code runs before the JAX-RS chain starts, in this case one needs to experiment with the Vert.x fault filters to intercept the errors. This is why it is needed to delay the authentication until it is proven it is needed for the JAX-RS exception mappers to be used.
If you'd like please try the Vert.x fault filters and see if it works without disabling the proactive authent

[2021-12-07 19:51] sberyozkin opened #22006 "Allow to combine OIDC discovered and locally configured metadata"
### Description

In some cases the discovered OIDC metadata does not return some expected URLs, for example, @FroMage has diiscovered that with Facebook all but the required `token_endpoint` URL is returned - so Steph had to disable the discovery and configure all the required endpoint URLs manually.

It would be much more user friendlier if the missing piece of metadata can be supplied instead of

[2021-12-07 19:55] #22004 closed

[2021-12-07 19:55] glefloch commented on #18820
Moving those test in the test directory would result in IT test execution every time we run ˋgradle test` we should keep a separate source set (maybe ˋsrc/integration-test/java ˋ) at least for gradle ..

[2021-12-07 20:10] kny78 commented on #21991
Thanks for your interest :-)

The there are several reasons.
1. We don't use **two-phase commits**. It is a bad idea for our workloads.
2. Typically our work-flow works with:
   1. Tx 1: Get data from database.
   2. Rest API call to external resource. (Some take > 5 seconds!)
   3. Tx2: Store the data in the database.
3. We love programmatic transactions. They are easy to understand, and easy to

[2021-12-07 20:23] Sanne commented on #21991
Many thanks :)

But allow me to debate this a little, for sake of understanding and possibly find a solution.

Agreed that it's a good idea to avoid them - but are you aware that if there's a single resource involved (which it most likely is a controlled context like you describe), the transaction manager will automatically optimise this like it was a single phase?

Agreed, that's my personal pref

[2021-12-07 21:11] Sanne commented on #16613
To be fair, most libraries need to be able to work within various classloading models. I had never found in practice a library that would require a flat model, except occasional bugs of course, but never an intentional requirement for this.

@stuartwdouglas I vaguely remember you had to do some classloader trick specifically to workaround JDBC driver needs. Could you point us to it? Could be relat

[2021-12-07 21:47] sebersole commented on #21991
Do you have a reproducer that uses just Hibernate without Quarkus?  We have some tests of UNSYNCHRONIZED in the ORM testsuite; not at all exhaustive, but if you're going to make that claim... ;)

I still don't understand why your work-flow requires UNSYNCHRONIZED.  There are many ways to achieve "programmatic transactions".  Maybe this is specific to Quarkus?  All the more reason to get a pure-Hib

[2021-12-07 21:51] #21488 closed

[2021-12-07 21:54] kny78 commented on #21991
@sebersole I was maybe a bit quick on blaming Hibernate-orm :-O

But any help on understanding what happens will be great.

[2021-12-07 22:00] gsmet commented on #19549
Where are we on this? It's marked for 2.6 but I don't see it fully fixed, right?

[2021-12-07 22:04] kny78 commented on #21991
:sun_with_face:

In our case we have 2 resources involved: Db and Rest API.
Only the DB is part of the transactions. The Rest API is not part of the transaction.

But since the Rest call can take > 5 seconds, a lot can happen in the database in the mean time. Therefore we just commit the transaction, and release the connection. Then we start a new TX after the Rest Call.

I have made an example in

[2021-12-07 22:04] sebersole commented on #21991
I can just explain how `UNSYNCHRONIZED` works, but it sounds like you grok that already.  Sanne mentioned that Agroal has some limitations around when you can access Connections based on when you "join" a transaction.

I think part of the problem may be just simple vocabulary.  Like "join".  That has a very specific meaning here for JPA.  Not sure how that aligns with any expectations that Agroal

[2021-12-07 22:26] sebersole commented on #21991
From Sanne:

I think this is going to be your limitation here.  UNSYNCHRONIZED is all about being able to do the opposite.

I would think, given what you describe, that really you just don't want the Rest calls to be part of the same transactions as your Tx1 and Tx2.  Or am I still missing more?

[2021-12-07 22:36] mweber03 opened #22008 "2.3+ causes ConcurrentModificationException with CycloneDX Gradle plugin"
### Describe the bug

When I upgraded to 2.3+, the [CycloneDX plugin](https://github.com/CycloneDX/cyclonedx-gradle-plugin) started throwing a `ConcurrentModificationException`

I'm not sure who this issue should be levied on, since the CycloneDX version didn't change and it worked fine before Quarkus 2.3. So I wrote one on the CycloneDX page too (https://github.com/CycloneDX/cyclonedx-gradle-plug

[2021-12-07 22:42] radcortez commented on #19549
No, I thought @ebullient was going to do it. @ebullient do you want me to do it?

[2021-12-07 23:21] ebullient commented on #19549
I have hands/brain tied up.. if you can, yes!

[2021-12-07 23:53] #22006 closed

[2021-12-08 00:24] radcortez commented on #19549
No worries, I'll pick this up.

[2021-12-08 01:51] stuartwdouglas commented on #16613
Can you try:
`quarkus.class-loading.parent-first-artifacts={groupId}:db2jcc_license_cisuz`

Where `{groupId}` is whatever the group id of the jar is.

[2021-12-08 02:10] hhzguo commented on #7806
Specifying the collection name at repository level is more appropriate, for example, if I want to archive some documents, I don't want to create a new entity just for the archived collection. active collection and archived collection contains exactly the same entity. Correct me if I understand wrongly.

[2021-12-08 06:17] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1552590510

[2021-12-08 06:19] srigano commented on #16613
it does not works. i tried:

`quarkus.class-loading.parent-first-artifacts=db2jccdriver:db2jcc_license_cisuz
`
and in my pom.xml file:

    <dependency>
      <groupId>db2jccdriver</groupId>
      <artifactId>db2jcc_license_cisuz</artifactId>
      <version>10.5.0.8</version>
    </dependency>

i also tried to add the .jar in the src/main/resources folder
And as the jar file name is db2jcc_license

[2021-12-08 06:27] phillip-kruger commented on #21173
thanks s! I'll have a look a.s.a.p

[2021-12-08 06:57] alinayebi9080 commented on #21951
**this worked before version 2.2.3** :(

[2021-12-08 07:08] kny78 commented on #21991
Yes, one more thing. We need to be able to start one or more co-routines / CompletableFutures, which has it's own transactions, runs in parallel with the "starting thread".

If you look at this example: [PersonsFailingResource.kt](https://github.com/kny78/non-unique-transaction/blob/master/src/main/kotlin/im/kny/PersonsFailingResource.kt) you will see an example of how to provoke the issue.

What

[2021-12-08 07:35] #21935 closed

[2021-12-08 07:46] aloubyansky commented on #8593
Skipping the test in the platform https://github.com/quarkusio/quarkus-platform/pull/395

[2021-12-08 08:11] delongmeng commented on #17770
Hi how do I link my pull request to this issue? I couldn't edit the "Linked issues" option there.  https://github.com/quarkusio/quarkus/pull/22011 @knutwannheden

[2021-12-08 08:17] geoand commented on #21957
Does the same thing work with the old rest client?

The basic question I guess is, why do you expect it to work?

[2021-12-08 08:26] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1552600875

[2021-12-08 08:51] floriansiepe commented on #21957
Hi @geoand.
In another serivce, where I used the old rest client it works with the same content type.

I saw, that it is quite common with custom mimetypes to match the pattern `applicaton/*+json` if the responses can be serialized as a proper json.
E.g. API versioning is a use-case for this. One might have two endpoints under the same path with the same HTTP method but a different content-type wh

[2021-12-08 08:54] loicmathieu opened #22013 "Command mode 'e' - edit parameter - not working on Windows"
### Describe the bug

When developing a command mode application using the dev mode on Windows, hitting e should enable to edit the application parameter.

On Windows, it didn't work and "fail" the command mode, only CTL-C to quit the application is then feasible.

### Expected behavior

Hitting e should allow to edit the application parameter

### Actual behavior

_No response_

### How to Reprod

[2021-12-08 09:19] geoand commented on #21990
This happens because Quarkus is registering a `ServerTracingDynamicFeature` via `QuarkusSmallRyeTracingDynamicFeature` and then you are also trying to register the same class via your `TracingControlerInitializer`

[2021-12-08 09:19] #21990 closed

[2021-12-08 09:37] michalszynkiewicz commented on #21440
receiving multipart files as Multi<Byte> is troublesome.
If there is more than one field in a multipart message, and a user wants to read a field that is after the file first, they won't be able to if we want to do it right.
A solution for it would be storing the downloaded files on disk before giving the control back to the user. WDYT @cescoffier ?

[2021-12-08 09:38] cescoffier commented on #21440
it's reasonable, and then back-pressure will apply from the file system.

[2021-12-08 09:48] cescoffier commented on #21306
Another solution is something like:

[code]

You can try with the low-level kafka client, but it's a rabbit hole.

[2021-12-08 09:59] imalik8088 opened #22014 "NullPointer by using PanacheMongoRepository with a dependency in the contructor in Kotlin"
### Describe the bug

[code]

### Expected behavior

The following pattern of DI works

[code]

### Actual behavior

The application should start without any issues IMHO

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 2021; root:xnu-8019.41.5~1/RELEASE_X86_64 x86_64 i386 MacBookPro15,1 Darwin

### Output of `jav

[2021-12-08 10:00] imalik8088 commented on #22014
This causes the bug
[code]

[2021-12-08 11:00] zbendhiba commented on #6228
Hello @programmatix thanks a lot for the work you've done on this.
I'm sorry to respond that late, I was so busy lately. I've taken the time to run some tests with the 1.0.0-alpha.1 version, and there is a blocker for me, that I've described in the [issue here](https://github.com/couchbaselabs/quarkus-couchbase/issues/5).

[2021-12-08 11:17] ajaykushwaha1 opened #22020 "package org.springframework.data.jpa.domain.support does not exist"
### Discussed in https://github.com/quarkusio/quarkus/discussions/22019

<div type='discussions-op-text'>

<sup>Originally posted by **ajaykushwaha1** December  8, 2021</sup>
Hi,

I am migrating my project from spring-boot to quarkus and using the below dependency for spring-data-jpa.

**groupId: io.quarkus
    artifactId: quarkus-spring-data-jpa
     version: 2.5.0.Final**

I have to use Auditing

[2021-12-08 11:20] geoand commented on #21957
https://github.com/quarkusio/quarkus/pull/22021 should take care of it

[2021-12-08 11:22] geoand commented on #22020
cc @aureamunoz @Sgitario

[2021-12-08 11:29] wiebeck commented on #16732
@Karm I have prepared a minimal example to demonstrate the issue: https://github.com/wiebeck/code-with-quarkus

I went to https://code.quarkus.io/, selected Gradle with Kotlin DSL as build tool, left everything else unchanged and published the project to GitHub. Then I added native build properties to `application.properties` configuring containerized native build using the mandrel image. Finally

[2021-12-08 12:06] ebullient commented on #21609
This is resolved. 2.5.1 pulled yesterday

[2021-12-08 12:06] #21609 closed

[2021-12-08 12:10] ebullient commented on #20233
This is in flight with #20717

[2021-12-08 12:10] gsmet commented on #21609
@ebullient FYI, updating https://github.com/quarkusio/jbang-catalog/blob/main/jbang-catalog.json is now part of my release process.

[2021-12-08 12:12] ebullient commented on #21609
I was pretty sure you and Max had sorted that. Thanks for updating the issue.

[2021-12-08 12:16] maxandersen commented on #21552
just  a random test to make, run with "-Dquarkus.devservices.enabled=false" and/or "-Dquarkus.console.basic=true" and see if makes difference.

There been some changes in these areas that I could suspect adding at least some unwarranted pauses.

[2021-12-08 12:22] geoand commented on #21552
`-Dquarkus.console.basic=true` I had also seen when looking at something else...

[2021-12-08 12:24] GregJohnStewart opened #22025 "Mixed up Test configuration when using @ResourceArg"
### Describe the bug

TL:DR; When running tests with different `@ResourceArg`s to configure a TestLifecycleManager, the configuration of different tests get thrown around and override others, breaking tests meant to run with specific configurations. Originally on SO: https://stackoverflow.com/questions/70268026/quarkus-mixed-up-test-configuration-when-using-resourcearg

So, I have a service that h

[2021-12-08 13:18] ggaikwad321 opened #22027 "issue with the Method too large problem"
### Describe the bug

build is failing with below error
[ERROR] Failed to execute goal io.quarkus.platform:quarkus-maven-plugin:2.4.0.Final:build (default) on project code-with-quarkus-demo: Failed to build q
uarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] [error]: Build step io.quarkus.deployment.steps.ConfigGenerationBuildStep#generateConf

[2021-12-08 13:27] ggaikwad321 commented on #22027
@radcortez let me know if anything needed from my side

[2021-12-08 13:48] sberyozkin opened #22029 "Support OIDC form_post response mode"
### Description

Some OIDC providers such as `Apple OIDC` (as discovered by @FroMage) use a [form_post](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html) response mode when returning the authorization code to `quarkus-oidc` - so instead of including it as a query parameter in a `GET` redirect it will be form-posted, alongside `state`,  to Quarkus with `POST`.

So this response mo

[2021-12-08 13:54] sberyozkin opened #22030 "Link internal OIDC ID token and UserInfo when working with GitHub and other OAuth2 providers"
### Description

Right now, when GitHub or other non-OIDC compliant provider is used which returns no ID token, Quarkus OIDC will generate an internal empty ID token and will enforce that UserInfo is fetched.

Dealing with UserInfo will be more optimal if it is cached, ex, by the default UserInfo cache. However, it may be reasonable instead to use this internal `IdToken` to retain UserInfo, someth

[2021-12-08 13:57] maxandersen opened #22031 "highlight the http://quarkus.io/get-started/ no fluff- just stuf approach more"
### Description

http://quarkus.io/get-started/ today lets you gets started without java nor maven nor nothing which is great
but its not that visible in code.quarkus.io nor in docs.

opening this to gather suggestions how we can incorporate it better.

First up is that on code.quarkus.io we could have it as a direct link on the first page.
Also in the "Download application" we could show the one

[2021-12-08 14:00] FroMage commented on #22030
Well no, I only want to be allowed to use the `UserInfo` to add claims to the generated JWT. I only need to use the `id` from the `UserInfo` to add as a `name` claim on the JWT. I don't need the whole thing to be stored.

[2021-12-08 14:02] FroMage commented on #22029
I already have a proto of this working. Needs config and tests though.

[2021-12-08 14:04] sberyozkin opened #22032 "Default to OIDC client post authentication method if the provider lists it as the only supported method"
### Description

By default Quarkus OIDC supports a client basic authentication when talking to OIDC providers.
However, if a given OIDC provider supports only the client post authentication method and it is reported in the discovery doc, ex:
[code]

then there should be no need for the users to move to

[code]

when

[code]

is already set

### Implementation ideas

Update `OidcConfigurationMetad

[2021-12-08 14:10] sberyozkin commented on #22032
or if it is the jwt secret method only; `OidcClient` should also be updated

[2021-12-08 14:19] gsmet opened #22034 "Quarkiverse extension template improvements"
### Description

## General

* When I created JGit, it somehow was replaced by Jgit (no capital G) in the extension name and several other places. I'm pretty sure I did it right and I think I had the same issue with JSch.

## Runtime

* Maybe we should have a `<description>Put a description here</description>` in the runtime template? Not worse than having the Quarkiverse parent description appear

[2021-12-08 14:24] edeandrea opened #22035 "Gradle Plugin - Introduce integration test source set"
This came from #21997 and #23488.

#21997 moves the `maven-failsafe-plugin` configuration out of the `native` profile and into the main profile.

#23488 changes the way codestarts generate sample code - specifically removing `@NativeImageTest` in favor of `@QuarkusIntegrationTest`.

When generating a Gradle project, the project contains a `native-test` source set. This name no longer aligns with t

[2021-12-08 14:32] MartinX3 commented on #16840
I think I can confirm it with 2.5.1.
My class has `@RolesAllowed(xxx)`
My function has `@PermitAll`
And the `@PermitAll` is ignored. It always wants my user to be in a role.

[2021-12-08 14:37] geoand commented on #22025
Thanks for reporting.

I tried to run the reproducer but got:

[code]

[2021-12-08 14:47] maxandersen commented on #22034
"Maybe we should have a <description>Put a description here</description> in the runtime template? Not worse than having the Quarkiverse parent description appearing IMHO. But I wonder if we should make a description field mandatory when creating an extension. It could then be wired automatically. We need one anyway so why not make it mandatory?"

I would suggest `<description>jsch extension for Q

[2021-12-08 14:50] sberyozkin commented on #22030
The whole UserInfo would be 3 or so simple properties. I can imagine how we can put it as the whole, but I'm not sure it would be worth trying to introduce some extra interfaces allowing users to intercept the faked ID token creation :-), IMHO it would not be worth it in order to some extra optimization - given the current cache approach works fine

[2021-12-08 14:53] GregJohnStewart commented on #22025
Try deleting that jar (`/home/gandrian/.m2/repository/org/yaml/snakeyaml/1.29/snakeyaml-1.29-android.jar`). I have seen this sporadically in the past but should work, I have confirmed it should work on clean systems. If deleting that doesn't work, let me know

[2021-12-08 15:49] sberyozkin commented on #22029
We can tweak OIDC wiremock a bit to support the form_post as well, but,
Hmm... I've just realized the `state` is also posted and is state is not a query param we can't decide the post body can be read...i.e, how can quarkus-oidc figure out this POST is for `quarkus-oidc` only ? Perhaps, by analyzing the state cookie value and comparing the path stored there with the current request path.

[2021-12-08 15:53] rkraneis commented on #5869
Bitten by the same problem, trying to pass `-Dquarkus.lambda.handler=...` into native tests. We switched to using `environtmentVariables` instead. The documentation really needs to be updated ...

[2021-12-08 16:39] sebersole commented on #21991
Well, we keep coming back to the stated limitation of Agroal which does not sound like it will be able to support UNSYNCHRONIZED.

The only option I see for you, which is what I was trying to imply in the last comment, is to manage the JTA transaction yourself.

[code]

[2021-12-08 17:00] geoand commented on #22025
Didn't work unfortunately, the issue persists

[2021-12-08 17:03] fabiojose commented on #17058
I've wrote some lines of codes to release caching with Redis using JSR-107 annotations.

Check it out: https://github.com/fabiojose/quarkus-redisjcache

May help some of them.

[2021-12-08 17:20] GregJohnStewart commented on #22025
That's super odd.. I know it's coming from `io.quarkus:quarkus-config-yaml`, and really unsure what might be the fix. Is there a test for that extension you could try? I would try to reproduce but it's not an error I can seem to reproduce. I think the core issue is with the extension, but I am unable to reproduce due to gradle caching dependencies outside of the .m2 directory. Still poking around

[2021-12-08 17:29] Sgitario commented on #22020
@geoand I will work on this!

[2021-12-08 18:19] geoand commented on #22020
Great! You will have to coordinate with @aureamunoz on this

[2021-12-08 19:41] #22014 closed

[2021-12-08 19:57] kny78 commented on #21991
Is there some API for starting and stopping JTA transactions in Quarkus?

[2021-12-08 20:05] #21957 closed

[2021-12-08 20:31] sebersole commented on #21991
Unfortunately I do not know Quarkus that well.  Hibernate lets you do that, but I know Quarkus restricts the things Hibernate lets you do.  Not sure if that will work.  Assuming it does not restrict this, you could try e.g.:

[code]

You could also manually manage transactions using `EntityManager#getTransaction()`.

Again, no idea if Quarkus restricts this stuff in any way

[2021-12-08 20:40] anborg commented on #21745
I have the import.sql in /config folder as in this screenshot

![image](https://user-images.githubusercontent.com/56970398/145281005-8a040e1f-8342-411b-b273-60a8b28b488a.png)

[2021-12-08 20:43] Postremus commented on #21552
Makes no real difference on 2.5.1.Final.
With these parameters: 2.569s
without: 2.575s

For a future bisect:
2.2.3.Final: 2.390s
2.3.1.Final: 2.521s
2.4.2.Final: 2.680s
2.5.1.Final: 2.577s

[2021-12-08 20:45] gastaldi opened #22045 "Bump wrapper to Maven 3.8.4"
### Description

Now with relocations in place, we need to update the wrapper to a Maven version (minimum 3.8.3) that shows the relocation message properly. Otherwise users will only see the default warning:

Maven 3.8.1
==========
[code]

Maven 3.8.4
==========

[code]
See the related issue: https://issues.apache.org/jira/browse/MNG-7253

### Implementation ideas

_No response_

[2021-12-08 20:46] kny78 commented on #21991
We use `Entitymanager#getTransaction()`, but it gets the same connection and transaction.

So I guess Quarkus does not support our usecase.

@Sanne Any proposals on how we can manage this?

[2021-12-08 20:51] gsmet commented on #22045
Isn't it done already https://github.com/quarkusio/quarkus/pull/21590 ?

[2021-12-08 20:55] aloubyansky commented on #22045
I still see 3.8.1.
[code]

[2021-12-08 22:19] gsmet commented on #22045
I grepped the code and it looks like it should work though.

Are you sure what you did is using what we have in 2.6.0.CR1?

[2021-12-08 22:44] Karm commented on #21729
@wabrit @vladimirfx Fixed version is up and about: https://mvnrepository.com/artifact/io.quarkus/quarkus-core/2.6.0.CR1

[2021-12-08 23:19] famod commented on #21552
Btw, I suggest to use `-Dno-test-modules -pl '!docs'` for the bisect runs to save a little time.
You could also try to to list all your extensions via `-pl` and use `-am` but the list of istalled extensions becomes long very quickly.

[2021-12-08 23:26] Sanne commented on #21991
I've not been able to look more in detail today, I'll try tomorrow.

In principle the only restriction we have in Quarkus is the one I mentioned about Agroal: we're not allowed to use a JDBC connection outside of the scope of a transaction.

So there should be no problem to control transactions programmatically, and model your use case like Steve suggested above. Did you try the approach of inject

[2021-12-09 00:06] sunildparte commented on #11117
Is there any update on this?

[2021-12-09 00:09] sebersole commented on #21991
If UserTransaction works, in theory you should be able to use the fragments I pasted earlier.  Under the covers, Hibernate's Transaction object delegates to the JTA objects.

If it *has to be* UT rather than TM, I'd say to set `hibernate.jta.prefer_user_transaction=true`.  Also check the JtaPlatform Quarkus gives/configures for Hibernate.

HTH

[2021-12-09 03:52] stuartwdouglas commented on #21888
no, there is always an anonymous identity if auth has failed (it gets lazily created). If you changed this to return 403 then you would never send a challenge.

[2021-12-09 04:04] stuartwdouglas commented on #16613
What is actually in this jar? Is it just resource files? And do we know how it is loaded by the driver?

There is probably an existing solution as the class loading model is quite flexible, its just that without knowing exactly what it is trying to do and with no reproducer I am not sure what it would be.

[2021-12-09 05:58] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1557272500

[2021-12-09 06:21] vladimirfx commented on #21729
Thanks, I will check today

[2021-12-09 06:54] mklueh opened #22053 "Sockets declared with Undertow @ServerEndpoint breaking when using quarkus.http.root-path"
### Describe the bug

When using `quarkus.http.root-path=/api/`, the socket can't be connected to anymore, neither under the root path nor under the `/api` sub-route.

### Expected behavior

To be working correctly under `/api/` as well.

### Actual behavior

This is the response when trying to connect with Postman

[code]

![image](https://user-images.githubusercontent.com/1553757/145348067-ce9ea

[2021-12-09 07:10] JohT commented on #5869
I had the same issue in a different manner. I tried to use `<argLine>` inside the failsafe configuration for standard integration tests (not native) and it was ignored.

My goal was to attach native image agent to integration tests to get automated insights about reflection usage.
I've found the following **workaround** using `<quarkus.test.arg-line>` instead of `<argLine>`:

[code]

[2021-12-09 07:23] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1557285126

[2021-12-09 07:25] yrodiere commented on #21745
You might want to try removing your comment after `import.sql` in your configuration file (the `#${` we're seeing on your screenshot); I'm not entirely sure how the YAML parser reacts to that kind of things.

Moving the file to `src/test/resources` is the way to go... If what you want is to execute your import script in JVM tests only.

Native tests (integration tests) are run in production mode t

[2021-12-09 07:34] Mkabaka opened #22054 "How to resolve the conflict of the properties which have the same name when using quarkus native package?"
### Description

When I use `quarkus` to build a native-image with the `<quarkus.package.type>native</quarkus.package.type>` and then execute `mvn clean package -Pnative`. The final bytecode will generate successfully but unfortunately the source files in `/META-INF/resources` which have the same name will conflict. eg, I defined two files, the one named `/META-INF/resouces/A`:
[code]
and the anot

[2021-12-09 07:46] lordvlad opened #22055 "Sub-Sub resources not supported in reactive rest client"
### Describe the bug

When using reactive rest clients, defining sub sub (sub sub sub, ...) resources does not work. I can defined them, but on access, an `AbstractMethodError` is thrown.

### Expected behavior

I can define an arbitrary hierary of resources and subresources

### Actual behavior

I can only define a single level of subresources. Accessing any further sub levels will result in an `

[2021-12-09 07:56] #21858 closed

[2021-12-09 08:17] kny78 commented on #21991
Good morning,

## About the proposed solution
I don't find the `fromTransaction()` or `inTransaction()` methods on the SessionFactory or SessionFactoryImpl.

Another aspect of this, is that I would like to programmatically handle my Transactions, but I cannot find a method to create a "UserTransaction" myself. It seems like a bean that is `@Inject`, and when I call `userTransaction.begin()`, it st

[2021-12-09 09:09] #21735 closed

[2021-12-09 09:13] geoand commented on #22025
`quarkus-config-yaml` is used for example in https://github.com/quarkusio/quarkus/tree/2.6.0.CR1/integration-tests/smallrye-config.

Is there any chance you can reproduce the same problem in a simpler (preferably Maven) project?

[2021-12-09 09:17] JiriOndrusek opened #22058 "Jdbc-derby: missing resource in native mode"
### Describe the bug

I'm fixing camel-quarkus integration test of sql extension. If I use external derby database (using docker) for the test, I got an exception in native mode:
[code]

Problems seems to be similar as https://github.com/quarkusio/quarkus/issues/21639

### Expected behavior

Jdbc derby should work i native mode without an error.

### Actual behavior

_No response_

### How to Repr

[2021-12-09 09:19] vladimirfx commented on #21729
Checked on 2.6.0.CR1 - works fine.
Thank you!

[2021-12-09 09:27] JiriOndrusek commented on #22058
I forgot to mention that problem is not happening with dev services.
(to run the same scenario with dev services - do not export any of the properties from step 2)

[2021-12-09 09:28] geoand commented on #22055
Also cc @Sgitario in case this is something you would like to look into

[2021-12-09 09:29] Sgitario commented on #22055
+1

[2021-12-09 09:35] geoand commented on #22058
Could you give https://github.com/quarkusio/quarkus/pull/22059 a try please?

[2021-12-09 09:36] JiriOndrusek commented on #22058
I'll try it.

[2021-12-09 10:00] geoand commented on #22054
@gastaldi didn't you add something to address this at some point?

[2021-12-09 10:01] #21975 closed

[2021-12-09 10:16] geoand commented on #22025
Just to try to get a sense of what is going on, which `QuarkusTestResourceLifecycleManager` implementations do you expect to be run?

[2021-12-09 10:20] Sanne commented on #22058
To be clear, I don't think we expect Derby to work in native; I see you only need the client here, so that might be doable but this wasn't expected to work, nor tested.

[2021-12-09 10:21] geoand commented on #22058
Right, but I do see we some reflection registration already in there, so if the fix is as simple as https://github.com/quarkusio/quarkus/pull/22059, then I see no reason not to add it :)

[2021-12-09 10:31] Sanne commented on #22058
Sure ok I have no problem with someone wanting to fix it :)
Just setting expectations, it might need quite some more work... and it's untested.  It could be trivial, but we don't know yet.

[2021-12-09 10:32] geoand commented on #22058
👍🏼

[2021-12-09 10:34] Sanne commented on #21745
If the import script it explicitly enabled (it's indeed not in production mode), then the resource should be included automatically.

+1 to need a reproducer, I suspect it's a misunderstanding as we have plenty of tests for this.

[2021-12-09 11:00] corentinarnaud commented on #18092
You can declare your container in a QuarkusTestResourceLifecycleManager. The container will be started before quarkus context and populate the properties.

[code]

And you have to add `@QuarkusTestResource(DbContainerRessource.class)` on your test

[2021-12-09 11:23] corentinarnaud opened #22064 "MySQLContainer from TestContainer doesn't find init script in continuous testing"
### Describe the bug

When using init script in a mysql test container, the test work when launch from the IDE or from maven but fail to find the init script when I use `mvn quarkus:test`

The container resource :
[code]

the test :
[code]

The init_db.sql file is in src/test/resources

### Expected behavior

The test work in continuous testing

### Actual behavior

the test fail with the error :

[2021-12-09 11:46] gastaldi commented on #22054
@geoand I remember a similar case and end up creating `UberJarMergedResourceBuildItem`, but that was for UberJars

[2021-12-09 12:50] mkouba commented on #22027
For the record - the reproducer contains an additional YAML config file which has almost 30 thousand lines and Quarkus attempts to parse this YAML file into config properties. I don't think it's a good idea to use the Quarkus config facility for similar use cases, i.e. I would recommend to load the YAML file manually and access the data via the `org.yaml.snakeyaml.Yaml` API directly.

[2021-12-09 12:53] JiriOndrusek commented on #22058
@geoand I tried your fix and it fixes the problem with missing resources.
/but it doesn't work because of
[code]

I'll investigate it more to find from what is causing the problem It could be quarkus or the test itself.

[2021-12-09 12:53] mkouba commented on #21985
+1

[2021-12-09 12:53] sebersole commented on #21991
Ah, sorry.  I had only added that to 6.0 - https://github.com/hibernate/hibernate-orm/blob/main/hibernate-core/src/main/java/org/hibernate/SessionFactory.java#L120-L208

[2021-12-09 12:55] sebersole commented on #21991
Feel free to make your suggestions to the spec - https://github.com/eclipse-ee4j/jpa-api/

[2021-12-09 12:56] sebersole commented on #21991
Sure, JTA is generally Thread based

[2021-12-09 13:00] GregJohnStewart commented on #22025
There should be only one implementation to run: https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/blob/main/software/open-qm-base-station/src/test/java/com/ebp/openQuarterMaster/baseStation/testResources/TestResourceLifecycleManager.java

and I created a simpler reproducer:

https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/plugins/open-qm-plugin-demo

[2021-12-09 13:01] geoand commented on #22025
Great, thanks!

I'll try it out soon

[2021-12-09 13:06] geoand commented on #22025
Is that reproducer part of a different project? Because if it isn't, I'm likely to face the same Gradle issue

[2021-12-09 13:14] glefloch commented on #22008
Thanks for reporting this @mweber03. The error is quite weird, in 2.3 we updated the way the deployment classpath is built. We now create configuration for that. This may come from an unresolvable configuration, I will try to see if we can do something about it.

[2021-12-09 13:20] GregJohnStewart commented on #22025
Same git repo, different quarkus project, much fewer dependencies (no yaml!)

[2021-12-09 13:22] geoand commented on #22025
Cool, thanks

[2021-12-09 13:28] #21854 closed

[2021-12-09 13:38] geoand commented on #22025
I want to get some clarity on what your expectations are on when these `QuarkusTestResourceLifecycleManager` will be executed.
Can you describe what you expect will happen? Asking because I am pretty sure this is a misalignment of how `QuarkusTestResourceLifecycleManager` is handled in practive and how you expect it is handled.

[2021-12-09 14:24] GregJohnStewart commented on #22025
I expect that the tests within a test class are run against a quarkus service configured in the way described via the class annotations.

I feel like it might be a common use case to provide options to the lifecycle manager that would have an effect on running configuration (that differs between tests) and therefore need to be test-class-specific. As in my op, I wish I didn't have to use the args

[2021-12-09 14:32] GregJohnStewart commented on #22025
Additionally, I am personally okay with the caveat of "the server will need restarted between tests of different configs" as we already do this with test profiles.

Perhaps there could be a `ClassOrderer` that can be provided to help automate this, and order tests based on test profile/ `@QuarkusTest*/@TestProfile` annotations so devs wouldn't have to create their own to optimize the ordering for

[2021-12-09 14:34] gsmet opened #22067 "AWT tests broken with JDK 18 EA"
### Describe the bug

See https://github.com/quarkusio/quarkus/runs/4464602503?check_suite_focus=true

You can get the Raw logs with the small gear at the right then `View raw logs` then wait a long time for them to load.

Then look for `quarkus-integration-test-awt`.

As there are also some errors in the log when running them locally but not errors breaking the tests, I'm not sure which one break

[2021-12-09 14:36] geoand commented on #22025
I think there is a misconception about when `QuarkusTestResourceLifecycleManager` is applied. Basically, any use of `@QuarkusTestResource()` without `restrictToAnnotatedClass` set to `true`, means that the `QuarkusTestResourceLifecycleManager` will be applied to **all** tests no matter where the annotation is placed. I know this is non-intuitive behavior, but it can't be changed now, and furthermo

[2021-12-09 14:49] GregJohnStewart commented on #22025
Okay, that does make sense, I was unaware of the `restrictToAnnotatedClass` option, and seems to resolve my issues.

That being said, I feel it's a little bit of an imperfect solution as I need to apply this argument to all tests of the separate profile. I might still ask for a config value to apply this globally or make the logic smarter to know when to use what lifecycle manager based on profile

[2021-12-09 14:51] geoand commented on #22025
I would suggest opening a new issue asking for exactly that and can consider it.

[2021-12-09 14:51] #22025 closed

[2021-12-09 15:00] Sanne commented on #21991
FWIW Quarkus also integrates Microprofile Context Propagation, which will ensure that thread-local stored state such as the current JTA transaction is also available to reactive contexts possibly running on a different thread.

I don't have Kotlin experience, but I suppose this implies the Kotlin co-routine spawned from a JTA-active context will also be running in the same JTA transaction.

[2021-12-09 15:22] GregJohnStewart opened #22072 "Provide test class orderer to order based on test annotations"
### Description

Currently when testing with different profiles, one needs to be careful about the order of the classes so that you don't have to stand up the Quarkus service more than is necessary.

We should provide a `ClassOrderer` that developers can enter in `junit-platform.properties` that can automatically determine the appropriate ordering of test classes based on their annotations.

I wou

[2021-12-09 15:23] GregJohnStewart opened #22073 "Smartly apply configs for test classes"
### Description

For some context, see #22025

Essentially, I am asking that the server running for @QuarkusTest be more smartly configured, in reference to Profiles, Lifecycle Managers, and the Lifecycle Manager arguments.

In my use case, I have two profiles, that need different arguments passed to the LifecycleManager to have different things spun up for different tests. Important note here is

[2021-12-09 15:24] maxandersen commented on #22013
@stuartwdouglas any idea?

[2021-12-09 15:38] GregJohnStewart opened #22074 "Provide method for `QuarkusTestResourceLifecycleManager`s to get current config values or know what profile is running"
### Description

Lifecyfle managers can need to spin up different services in different ways for different test profiles.

Currently, the only way for the `QuarkusTestResourceLifecycleManager` to know how setup resources from one test to another are through `initArgs`. This works, but has a couple flaws:

 - requires arg to be set for every test class of different profiles
 - makes for very long-w

[2021-12-09 16:06] #21864 closed

[2021-12-09 16:13] mathias-hess opened #22076 "Dependency Injection does not work when extending from build-in java classes."
### Describe the bug

When injecting a class that extends a build-in java class like
[code]
while starting quarkus logs a warning:

`021-12-09 17:07:35,264 WARN  [io.qua.dep.ste.ClassTransformingBuildStep] (build-9) Cannot transform java.util.HashMap as its containing application archive could not be found.
`

and as soon as the injected class is accessed an java.lang.IllegalAccessError is thrown.

[2021-12-09 16:38] geoand commented on #22072
@famod you have already covered this, right?

[2021-12-09 16:42] aloubyansky commented on #22045
I thought so. I am on a different machine now and here it's 3.8.4.

[2021-12-09 16:49] rmarting commented on #20890
Tested using the latest versions of Quarkus 2.5.1.Final and Apicurio Serdes 2.1.4.Final successfully. It seems this issue could be closed. :bug: Fixed!

[2021-12-09 16:49] #20890 closed

[2021-12-09 16:53] gsmet opened #22079 "New Fs Util broke Quartz and multitenancy quickstarts"
`hibernate-orm-multi-tenancy-quickstart` and `quartz-quickstart` are failing with the following error:

[code]

Failing path is `jar:file:/data/home/gsmet/git/quarkus-quickstarts/quartz-quickstart/target/quartz-quickstart-1.0.0-SNAPSHOT.jar!/db/migration/` for Quartz.

I have no idea if it's correct and should contain the `!/db/migration/` part. Also, I don't know if the `env.put("create", "true")

[2021-12-09 17:00] fabrii opened #22080 "Set null relation on entity with more than one collection is not working"
### Describe the bug

Given:

    public class ParentWithTwoLists {

    @Id
    private Long id;

    private String name;

    @ManyToOne(optional = true)
    private SimpleChild child;

    @OneToMany(mappedBy = "parent")
    @JsonIgnore
    private List<Contained1> contained;

    @OneToMany(mappedBy = "parent")
    @JsonIgnore
    private List<Contained2> contained2;

    }

When doing:

[2021-12-09 17:04] Postremus commented on #22079
@gsmet I am looking into it.

[2021-12-09 17:13] gsmet commented on #22079
@Postremus don't bother about the other quickstarts' failure, I worked on them already so build these ones specifically.

[2021-12-09 17:36] rkraneis opened #22082 "AWS lambda extension and quarkus-oidc-client don't play nicely together"
### Describe the bug

Adding quarkus-oidc-client extension to a working aws lambda quarkus application makes the tests fail with `java.net.BindException: Address already in use`:
[code]
This can be resolved manually by
- setting `quarkus.lambda.mock-event-server.test-port` to a free port
- setting the same port manually in rest-assured based tests (`given().port(...).body(...)...`), as it is not p

[2021-12-09 17:53] gsmet commented on #22079
Precision: I'm using JDK 11.

[2021-12-09 17:56] famod commented on #22072
Ah, nice to see that some else has this need! 🙂

Yes, that orderer should cover this request.
It's also mentioned in the docs: https://github.com/quarkusio/quarkus/blob/2.6.0.CR1/docs/src/main/asciidoc/getting-started-testing.adoc#10-testing-different-profiles

Starting from 2.6.0.CR1, this orderer is active by default, which wasn't the case before.

@GregJohnStewart please do check it out and let

[2021-12-09 18:05] mskulkarni opened #22084 "Custom credentials provider broken in the latest 2.5.1.Final and since from 2.0.0.Final release. It was working till 1.13.7.Final release"
### Describe the bug

### Quarkus Custom credential provider not working in case of multiple providers one per datasource.

Quarkus Custom credentials provider is broken since version _2.0.0.Final_ release till latest _2.5.1.Final_ and not referring to the correct credential provider in case of multiple credentials provider for different databases. This was working till 1.13.7.Final Quarkus versio

[2021-12-09 18:06] #22058 closed

[2021-12-09 18:12] gastaldi commented on #17770
Sorry, this issue fell through the cracks. I think `Capabilities` is an exception to the rule, we can hardcode that in the generator. Other build items like `ProcessInheritIODisable`are being deprecated in favor of the BuildItem suffix (see https://github.com/quarkusio/quarkus/pull/22081).

I'm a bit torn on nested build item classes, IMHO we shouldn't list in the config document, since it most li

[2021-12-09 18:16] Karm commented on #22067
@gsmet Thx. I will fix that, you can assign the issue to me. The extension is so close to the JDK's guts that these issues will keep happening as JDK updates come. The hopefully robust test suite will be catching them and we will be adding `if(jdkVersion...` into substitutions as necessary.

[2021-12-09 18:23] gsmet commented on #22084
@yrodiere any chance you could have a look at this one?

[2021-12-09 18:34] gsmet commented on #22067
Keep in mind that's it's a JVM only test, no native.

[2021-12-09 19:05] famod commented on #22072
I'll close this because we already have such an orderer.

Please do file a new issues in case you run into a bug or have ideas for improvement.

[2021-12-09 19:05] #22072 closed

[2021-12-09 19:12] famod commented on #22067
Good to know that someone else than me is looking at that job. 🙂

It actually is available now, I kicked off a new run: https://github.com/quarkusio/quarkus/runs/4475022817?check_suite_focus=true#step:3:16

PS: When triggering the run manually you can enter the Java version and distribution name.

[2021-12-09 19:55] GregJohnStewart commented on #22072
Ah, did not see this before! Must have not seen that version of the docs when I was looking around somehow. The only other thing I can think of is taking the other test-related annotations into account, but I might leave that to you!

[2021-12-09 20:03] famod commented on #22074
I think I've just run into a similar problem with `@EnumSource`; the manager would need to know which enum is selected.
OTOH this is not really related to "config", so it's a bit different.

[2021-12-09 20:41] famod commented on #22072
Which others do you have in mind? As of 2.6.0.CR1 this orderer not only takes `@TestProfile` in to account but also `@QuarkusTestResource` (even if in a stereotype).
You can add ordering logic for your custom annotations by overriding this method: https://github.com/quarkusio/quarkus/blob/2.6.0.CR1/test-framework/junit5/src/main/java/io/quarkus/test/junit/util/QuarkusTestProfileAwareClassOrderer.j

[2021-12-09 21:39] kucharzyk opened #22090 "MP Rest Client - meaningless exceptions"
### Describe the bug

I'm using MicroProfile Rest Client with Quarkus and I have an issue with rest client exceptions.

My use case is simple.

If I make mistake in rest client URL I'll get 404 and following stacktrace

[code]

This stacktrace is totally meaningless.

After reading this stacktrace I don't know:

* Which of rest clients failed  ```MyRestClient```
* What rest client method was calle

[2021-12-09 22:30] sberyozkin commented on #21888
@stuartwdouglas OK, I see; so as far as `TestSecurity` is concerned, looks like all that has to be done is to return 401 here, https://github.com/quarkusio/quarkus/blob/main/test-framework/security/src/main/java/io/quarkus/test/security/TestHttpAuthenticationMechanism.java#L41 ? As well as
[code]

when only `@TestSecurity` is set ? I can do  a PR if you agree

[2021-12-10 00:00] famod commented on #22067
It fails the same way on temurin as it did on zulu.

[2021-12-10 00:05] independentid opened #22092 "Guide Document for using ubi-minimal and Quarkus and how to diagnose potential vulnerabilities (e.g. from scans)"
### Description

When developing a Quarkus based application, I ran into difficulties on how to diagnose potential vulnerabilities reported by Snyk. Is the Quarkus build supply-chain affected?  Is it my code?

Request: Add a guide document on using ubi-minimal and Quarkus and how to check/report/resolve security vulnerabilities. In particular,

* What testing does RedHat recommend (paid, self-serv

[2021-12-10 00:05] independentid commented on #22092
Sergey recommended labels area/documentation and area/security

[2021-12-10 01:11] stuartwdouglas commented on #22064
`mvn quarkus:test` and `mvn quarkus:dev` runs with a different working directory to surefire, which is why this happens.

I don't think there is much we can do about it from our end as I don't think we want to change the dev mode working directory. You can work around it by using some code to check the current working dir and then set the path appropriately.

[2021-12-10 01:20] stuartwdouglas commented on #21888
That should work, but only if the test identity is not null. You may also need to increase the priority so it is first.

[2021-12-10 02:19] Mkabaka commented on #22054
@geoand @gastaldi thanks a lot. I found the same issue #5677 and the fix of it #17077. But as @geoand said

It looks that the `UberJarMergedResourceBuildItem` only applies to UberJars. I wonder whether it will take effect when I use
`<quarkus.package.type>native</quarkus.package.type>`?  According to my understanding, the native-image-source-jar is
an UberJar, maybe the `UberJarMergedResourceBuild

[2021-12-10 04:05] hieunc278 opened #22093 "Apicurio with Kafka ProtoBuf serde not working in native mode"
### Describe the bug

Currently, when we config to use ProtobufKafkaSerializer ( io.apicurio.registry.serde.protobuf.ProtobufKafkaSerializer ), it work normal in JVM Mode, but it has error when start in Native Mode

2021-12-09 07:13:14,661 ERROR [io.qua.run.Application] (main) Failed to start application (with profile prod): java.lang.ClassNotFoundException: io.apicurio.registry.serde.protobuf.Pro

[2021-12-10 04:15] gastaldi commented on #22054
I haven't tested but I wouldn't bet on that. Also, you need to produce that in a separate extension if I am not mistaken

[2021-12-10 04:52] Mkabaka commented on #22054
@gastaldi I just tested it successfully. When I produce `UberJarMergedResourceBuildItem` in my custom separate extension, it will merge the files which have the same name as it does in `UberJar`. And produce it in a separate extension is just what I need, so it meets my need perfectly. Thanks again and I will close this issue.

[2021-12-10 04:52] #22054 closed

[2021-12-10 05:26] cescoffier commented on #22093
That's expected. We do not support Protobuf in native mode yet.
Protobuf and json schema are on the backlog, but they were not addressed yet.

[2021-12-10 06:35] hieunc278 commented on #22093
Oh thank you so much for your quick response @cescoffier.

So as far as I understand, currently we could use Avro serdes in native mode. Is it correct ?

[2021-12-10 06:39] #22079 closed

[2021-12-10 07:06] geoand commented on #22073
We could perhaps do this, but I am -1 because IMHO it would confuse users even more about how `@QuarkusTestResource` is supposed to be used.
Unfortunately, `@QuarkusTestResource` applies to all tests (I say unfortunately because it's confusing), but if apply the behavior change requested, this would become even more confusing.

[2021-12-10 07:08] geoand commented on #22074
I see where this is coming from, but I don't really see a way to implement it properly.

[2021-12-10 07:11] dan13bauer commented on #676
Is there a way to manually enforce reproducible builds?

[2021-12-10 07:15] cescoffier commented on #22093
Yes, Avro works in native.

We will be adding the others, but I cannot give you an ETA.

[2021-12-10 07:18] hieunc278 commented on #22093
Dear @cescoffier,

Thank you again for your feedback. If so, we will use Avro first until ProtoBuf is supported in native mode as well.

And I will close it also.

anyway, does we could see that backlog item at GitHub also ?

[2021-12-10 08:01] zakkak opened #22097 "integration-tests/awt fails with latest GraalVM 22.1-dev"
### Describe the bug

After the merge of https://github.com/quarkusio/quarkus/pull/20850 integration-tests/awt fails with latest GraalVM 22.0-dev

See https://github.com/oracle/graal/runs/4452553267?check_suite_focus=true#step:8:407

### Expected behavior

Test should pass.

### Actual behavior

Test fails with:

[code]

### How to Reproduce?

1. Grab latest GraalVM dev build from https://github.c

[2021-12-10 08:01] zakkak commented on #22097
@Karm can you please have a look?

[2021-12-10 08:15] yrodiere commented on #22084
This is weirdly similar to the behavior you would be getting if the configuration property `quarkus.datasource.redshift.credentials-provider-name` was somehow not set, or not processed by Quarkus: Agroal would just pick the first credentials provider it finds (don't ask me why), and that could end up being the MSSQL one.

Can you please provide a small reproducer?

[2021-12-10 08:24] naah69 commented on #21987
i had reslove the problem.the reson is that object properties in  config class of  @ConfigMapping is decorating by Optional

[2021-12-10 08:24] #21987 closed

[2021-12-10 08:44] mkouba commented on #22076
Ok, so there are two kinds of problems here. You should not observe any problem if the `CannotTransform` bean is _not intercepted_ at all. But if it is (and in the dev mode all beans are monitored/intercepted by default, unless [`quarkus.arc.dev-mode.monitoring-enabled=false`](https://quarkus.io/guides/cdi-reference#quarkus-arc_quarkus.arc.dev-mode.monitoring-enabled)) then:
1. Quarkus attempts to

[2021-12-10 08:57] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1562018637

[2021-12-10 09:05] Karm commented on #22097
@zakkak THX, I will fix that. You can assign this issue to me (if you wield such powers).

[2021-12-10 09:30] mathias-hess commented on #22076
Thanx for the detailed explanation, your suggestion will work for me just fine.

[2021-12-10 09:32] mkouba opened #22101 "Remove the deprecated io.quarkus.arc.config.ConfigProperties"
### Description

The annotations from the `io.quarkus.arc.config` package have been deprecated for a long time. Users are encouraged to use the `io.smallrye.config.ConfigMapping` instead. I think it's time to remove them completely!

### Implementation ideas

_No response_

[2021-12-10 09:33] mkouba commented on #22101
CC @geoand @radcortez

[2021-12-10 09:39] geoand commented on #22101
Thanks for opening this.

I think that as a first step we should remove the annotation as I am pretty sure we need the supporting code in order to support the Spring compatiblity part

[2021-12-10 09:56] ppalaga commented on #676
No. Quarkus team has abandoned this effort.

[2021-12-10 10:39] yrodiere commented on #22084
So I tried to reproduce this on my own, but couldn't; it just works as expected: https://github.com/yrodiere/quarkus-quickstarts/tree/credprovtest

Please provide a reproducer.

[2021-12-10 10:49] matthiaswronka opened #22104 "Undocumented breaking change for config resteasy:singleton-resources"
### Description

We just upgraded from v2.2.3 to v2.5.1 and found a breaking change regarding our REST-resources. In 2.2.3 DI was performed for the dependency-tree for every request. In 2.5.1 DI is only performed the first time a REST-resource is used.

The new behaviour is consistent to the documentation https://quarkus.io/guides/rest-json#lifecycle-of-resources, the behaviour in 2.2.3 was not.

[2021-12-10 10:51] dashorst opened #22105 "NPE while live updating quarkus from 2.5.0 to 2.5.1 in RuntimeUpdatesProcessor"
### Describe the bug

I modified the version property from 2.5.0 to 2.5.1 in my POM while quarkus:dev was running, and to my amazement it started updating the server, only to fail at the end with a NPE:

[code]

### Expected behavior

Obviously no NullPointerException and a working upgraded quarkus 2.5.1 :-)

### Actual behavior

[code]

### How to Reproduce?

1. Start a 2.5.0 quick start project

[2021-12-10 10:59] vsevel commented on #19121
hello, any news @mariofusco?

[2021-12-10 11:19] vsevel commented on #20846
hello, any news @evacchi?

[2021-12-10 11:22] geoand commented on #22105
I assume this does not happen if you perform a `clean`  first?

[2021-12-10 11:26] geoand commented on #22104
There is nothing in the code that suggests this change.

Do you have an example application exhibiting this behavior?

[2021-12-10 11:28] evacchi commented on #20846
as soon as kiegroup/kogito-runtimes#1757 is merged most issues should be ruled out @vsevel

[2021-12-10 12:06] aureamunoz commented on #22020
I have taken a look on that and the problem is that it requires spring aspects also to be processed so I'm not sure that it can work even if we add the classes to our custom jar.
cc @geoand @Sgitario

[2021-12-10 12:13] gastaldi commented on #22054
@Mkabaka that's awesome! Glad we could help 😉

[2021-12-10 12:14] geoand commented on #22020
Which aspects does it require?

[2021-12-10 12:22] srigano commented on #16613
3 class files and a manifest:
![image](https://user-images.githubusercontent.com/43664834/145573356-85622722-23dc-4053-9cff-b89e458b330d.png)
![image](https://user-images.githubusercontent.com/43664834/145573391-fa81439c-2a45-4686-a927-e3630c7e82f3.png)
![image](https://user-images.githubusercontent.com/43664834/145573416-acdf09be-3089-49cf-aa0e-413c63bbc2cd.png)

[2021-12-10 12:23] srigano commented on #16613
when my application is mvn packaged, it works well.
So it really seems to be a class-loading problem

[2021-12-10 12:29] dashorst commented on #22105
Not sure what you mean with `clean` first, but if I don't let quarkus:dev run while updating the POM it just works. It only fails while quarkus:dev is running when I modify the pom.

[2021-12-10 12:32] geoand commented on #22105
I mean doing an `mvn clean` between version updates

[2021-12-10 12:38] dashorst commented on #22105
Is not necessary:

[code]
update pom

[code]

[2021-12-10 12:45] OleKsimov commented on #21860
Hi guys.
I'm just wondering if anyone can validate this issue.
In our production environment, some network problems happen from time to time. Using microprofile readTimeout/connectTimeout for rest-client doesn't help. I don't know why and don't have permission to make an investigation, so the only way I can handle this situation from the service side is to use this type of fault-tolerance processi

[2021-12-10 12:47] geoand commented on #22105
That's my point... If you do clean between pom updates, do you get the problem?

[2021-12-10 12:48] dashorst commented on #22105
No, I don't get the problem when I do a clean between upgrades.

[2021-12-10 12:55] aureamunoz commented on #22020
org.springframework.beans.factory.aspectj.ConfigurableObject

`org.springframework.beans.factory.aspectj.ConfigurableObject`

[2021-12-10 13:00] geoand commented on #22105
@aloubyansky is this something that is expected to work without a recompile? I would assume not..

[2021-12-10 13:00] geoand commented on #22020
Oh... Yeah, that will definitely not work

[2021-12-10 13:00] geoand commented on #22020
So let's close this as `won't fix`

[2021-12-10 13:00] #22020 closed

[2021-12-10 13:03] aloubyansky commented on #22105
No, we don't guarantee it working across versions. Basically, if you upgrade, you should rebuild the app. I actually saw this NPE in a branch I am working on, so I'll fix the NPE, at least.

[2021-12-10 13:30] dashorst commented on #22105
Sounds fair. Would be awesome if it works though, but I can imagine you won't guarantee it working.

[2021-12-10 13:30] gsmet commented on #22105
If it's not supposed to work, is there a way to detect it's happening and display a proper error message?

IIRC, @stuartwdouglas made it possible to add dependencies to the pom while in dev mode so I suppose it's only broken if you update Quarkus itself?

[2021-12-10 13:30] geoand commented on #22105
that is my understanding of the issue

[2021-12-10 13:33] dashorst commented on #22105
AFAIK yes. I did not upgrade any dependencies other than updating the quarkus version property, which of course causes the quarkus BOM and plugins to be upgraded.

[2021-12-10 13:58] iago-zwift opened #22109 "Read from ReadReplica dynamic support on Panache"
### Description

Hi Panache team,

I was looking at the docs and the entire persistence flow and I couldn't find a way of dynamically assign a read to a read replica datasource. Some sample flows we're looking for (due to possible scalability issues of always reading from the write):

For explanation purposes, image we want to build a CRUD API to manage `Car` entities.

1. APIs that list, search o

[2021-12-10 14:03] iago-zwift commented on #22109
From the docs:

[code]

This gives me the impression there's no (documented) way of changing the application behaviour as we need.

[2021-12-10 14:07] joggeli34 opened #22110 "UPX compression used together with jib not working correctly"
### Describe the bug

When building an native docker image with jib enabling UPX, the binary is compressed after the image is build and pushed. So the pushed container still uses the uncompressed version of the runner.

### Expected behavior

The binary is first compressed and then the image is created, so that the binary in the image is the compressed one

### Actual behavior

Visible in the log,

[2021-12-10 14:12] geoand commented on #22110
Good catch.

I'll look into fixing this for `2.6.0.Final`

[2021-12-10 14:18] iago-zwift commented on #22109
Also, for reference, Spring has an implementation for this problem:
https://coderedirect.com/questions/206582/how-to-split-read-only-and-read-write-transactions-with-jpa-and-hibernate

[2021-12-10 14:20] joggeli34 commented on #21729
I checked it out on 2.6.0.CR1 too. Works greate.
Thanks a lot!

[2021-12-10 14:25] kdubb commented on #11117
@sberyozkin Should this moved to `quarkus-vault`?

I'm curios how this would be tested? I'm familiar with Vault's `iam` and `ec2` methods and obviously both require it running on AWS. I'm not sure if there is a way to fake it or not.

[2021-12-10 14:59] cescoffier commented on #22093
Here it is: https://github.com/quarkusio/quarkus/issues/3041

[2021-12-10 15:03] gsmet commented on #11117
We cannot move things cross organization but yes, it would be better here: https://github.com/quarkiverse/quarkus-vault/ .

I don't know exactly for testing but for the Amazon Services extensions we are using `localstack`.

[2021-12-10 15:05] ajaykushwaha1 opened #22115 "io.quarkus.spring.data.deployment.UnableToParseMethodException"
### Description

Hi Team,

Thanks for your continuous support. I have another issue related to spring data jpa.

In Spring-boot when we write named query generally we declare our method on Repository and writes query on entity with annotation@NamedQuery i.e @NamedQuery(name = "User.getUserByName", query = "select u from User u where u.name=:name").

For more detail we can understand with below ss:

[2021-12-10 15:06] geoand commented on #22115
@Sgitario want to take a look at this one?

[2021-12-10 15:09] Sgitario commented on #22115
sure!

[2021-12-10 15:14] mkouba opened #22116 "Qute - assign unique error codes to problems detected by parser and/or build steps"
### Description

@angelozerr [mentioned](https://github.com/redhat-developer/quarkus-ls/issues/473#issuecomment-989917257):

### Implementation ideas

_No response_

[2021-12-10 15:28] pcasaes commented on #22109
👍

[2021-12-10 15:50] FroMage opened #22117 "New Quarkiverse extension: Renarde"
### Description

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

Can you please create a quarkiverse project for `io.quarkiverse.renarde` (formerly Vixen, because people complained)?

This extension is a server-side Web Framework with Qute templating, magic/easier controllers, auth, reverse-routing, as presented on the quarkus-dev mailing list.

Thank

[2021-12-10 16:32] #22117 closed

[2021-12-10 16:34] gastaldi commented on #22117
@FroMage there you go: https://github.com/quarkiverse/quarkus-renarde

[2021-12-10 16:59] loicmathieu commented on #21067
When using a named query, we have no idea what is the query so we cannot just "blindly" add an ORDER BY clause.
That's why you cannot use sorting, you should add your own order by clause in your named query.
Maybe we should add in the documentation that sorting should be made manyally with a named query

[2021-12-10 18:14] carlevert opened #22119 "Mediatype defaults to the first listed mediatype in MessageBodyWriter (resteasy-reactive)"
### Describe the bug

The MediaType argument in a MessageBodyWriter<>  defaults to the first listed mediatype in the resource.

[code]

[code]

[code]

### Expected behavior

Expecting behaviour according to JAX-RS standard.

In the example above, the MediaType argument is always application/json in the MessageBodyWriter.
In the resource method the acceptable media types is handled correctly.

###

[2021-12-10 18:45] #22110 closed

[2021-12-10 18:49] anborg opened #22120 "IMPORTANT: Securty update for log4j2"
### Describe the bug
https://nvd.nist.gov/vuln/detail/CVE-2021-44228

Would you please update quarkus to pickup latest log4j2, i.e 2.15.0+?

![image](https://user-images.githubusercontent.com/56970398/145625866-fd8dd345-9888-4efc-9ea8-c2c4326cdaa9.png)

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` o

[2021-12-10 19:28] gsmet commented on #22120
See https://github.com/quarkusio/quarkus/discussions/22108 .

[2021-12-10 19:31] #22120 closed

[2021-12-10 20:51] kdubb opened #22122 "ExtensionLoader attempts to load classes that shouldn't be required"
### Describe the bug

After a production build, unused classes, like those from `testcontainers`, must still be present in certain cases otherwise the app crashes on startup.

See https://github.com/quarkiverse/quarkus-vault/issues/12#issuecomment-991277372. For a good description of the issue.

### Expected behavior

Classes unused in production, like anything only used for DevServices, shouldn't

[2021-12-11 00:48] #21982 closed

[2021-12-11 03:32] akaisuicchi commented on #21808
Hello @loicmathieu ,
following your workaround, could you try this?
[code]
Yes, I changed the last dot (.) with a dollar sign ($). Worked for me.

I found the same [issue](https://github.com/smallrye/smallrye-open-api/issues/712) and an example [here](https://github.com/smallrye/smallrye-open-api/pull/788/files#diff-26103c352cb3fa2119513cb6446930a3fb4d8c035bc95500b800bc2e628fe165)

---

That work

[2021-12-11 03:41] mskulkarni commented on #22084
@yrodiere I can still reproduce the issue with Quarkus 2.5.1.Final version. Please find attached zip file of code-with-quarkus project. I have modified the pom for dependencies of Redshift and for MSSQL. Check the logs in log file or console. So when you access /hello/mssql rest service, it should load MSSQLCredentialProvider and for /hello/redshift it should load RedshiftCredentialProvider but wi

[2021-12-11 07:05] #22090 closed

[2021-12-11 10:27] hieunc278 commented on #22093
Dear @cescoffier,

Thanks for your information. I got it now.

Anyway, I also met another issue while trying to use Avro in Native mode, but I do not sure that it cause by Apicurio-registry or Quarkus as well.

Here is back-trace when I started with NoSuchElement exception as well
2021-12-11 05:22:43,931 ERROR [io.sma.rea.mes.provider] (main) SRMSG00230: Unable to create the publisher or subscribe

[2021-12-11 10:42] hieunc278 commented on #22093
Dear @cescoffier ,

As I checked it again, it seems that the application could not find any instance of ApicurioHttpClientProvider, so when it call next() of this line

serviceLoader.providers(true).next();

it throw NoSuchElement exception as well. However, I haven't found any ideas to resolve it. Please support me

[2021-12-11 11:27] TomasHofman commented on #21533
@BonomoAlessandro I can't reproduce your problem with 2.5.1.Final neither with current main. Can you open a new issue with a small reproducer if you still experience it?

[2021-12-11 15:42] gastaldi commented on #20238
How does a processor know the configured DataSources (JDBC URL, username, password) in the application? Haven't found a build item containing this info

[2021-12-11 17:34] cescoffier commented on #22093
Which version are you using? Can you provide a reproducer?

[2021-12-11 22:35] Sanne commented on #20238
such details are not known at build time, as they are configurable at runtime

[2021-12-11 23:25] gastaldi commented on #20238
Right, so what's the proper way to have this information? Read from the MP Config? What about the datasources created from devservices?

[2021-12-11 23:43] ccarv commented on #22120
My company is not making any exceptions for log4j2 versions before 2.15. We have removed it completely from our artifactory, which means our Quarkus applications will not compile. Do you guys have any recommendations for overriding the log4j2 version that is bundled with Quarkus in Maven?

I am sure we can create exclusions and manually import the log4j2 framework but am wondering if there is a wa

[2021-12-12 00:03] gsmet commented on #22120
As far as I know, the only artifact in Quarkus using the Log4j 2 API (and again not the impl) is the Elasticsearch High Level client extension. So if you're not using it, I don't expect log4j-api to be downloaded.

You can just override the version in your project by declaring a dependency management overriding the version if you're using this particular extension.

This PR is coming in 2.6: https

[2021-12-12 00:04] gsmet commented on #22120
I might consider releasing a new 2.5 next week including this PR but given we are not affected at all by the issue it seemed a bit overkill.

[2021-12-12 08:53] hieunc278 commented on #22093
Dear @cescoffier,

Thanks for your feedback as well.

Version is 2.1.2.Final for both Quarkus and Apicurio.

I will try to create re-procedure code based on our current project.

As we saw, at normal case, it seems that ApicurioHttpClientProvider was set properly when starting to io.apicurio.rest.client.VertxHttpClientProvider by this method setProvider(ApicurioHttpClientProvider provider) of Regi

[2021-12-12 09:05] vladimirfx commented on #9003
Let me describe the use case:
Our team develops many microservices and integrations mainly on Kotlin. About 50% of it is Quarkus based. Almost all need some kind of serialization and the default (most used) option is Jackson. With Jackson, we constantly fight with issues related to Kotlin-Jackson-Native Image compatibility.
Simplest example:
[code]

Do not work even on JVM because Jackson does not

[2021-12-12 09:08] geoand commented on #9003
The is work in progress on this. You can track it [here](https://github.com/quarkusio/quarkus/pull/21318)

[2021-12-12 14:54] jorsol opened #22130 "Regression: Quarkus 2.6.0.CR1 build with Flyway without generate-code"
### Describe the bug

If I configure the `flyway` extension but the `quarkus-maven-plugin` doesn't have the `generate-code` goal, the build fails.

With the `generate-code` goal the output is the following:
[code]

Without the `generate-code` goal the output is the following:
[code]
Note the difference in how it reads the path using the protocol jar.

As far I know, the generate-code is used for G

[2021-12-12 15:37] beikov commented on #21930
Hey @chrigiansen,
I created https://github.com/Blazebit/blaze-persistence/issues/1406 for this and have a fix in the pipeline. I'll ping you again when I release the next version with the fix.

[2021-12-12 16:20] gsmet commented on #22130
Thanks for reporting. This has already been fixed and the fix will be part of 2.6.0.Final.

https://github.com/quarkusio/quarkus/pull/22083

[2021-12-12 16:20] #22130 closed

[2021-12-12 16:46] cescoffier commented on #22093
Hum, I think you mix an old apicurio extension from the quarkiverse with some new stuff.
Please check https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-avro-schema-quickstart.

[2021-12-12 20:38] ncorai commented on #21422
@glefloch Any chance that it makes it to 2.6.0.Final, you think?

[2021-12-12 21:24] glefloch commented on #16572
I saw the code in the `quarkus-junit5-mockito` module that replace `@Singleton` by `@ApplicationScope` for mocked bean and saw the reference to this issue.

I was thinking of introducing a new `MultiBuildItem` that would reference the class of the bean to convert, the scope to remove and the expected scope. Then in a build step, get all those build items and applying transformation using an `Annot

[2021-12-12 21:55] manovotn commented on #16572
Are you looking for a bean attribute change that would happen later down the line (e.g. standard CDI can either manipulated annotated types or later on Bean objects themselves)? Otherwise it just sounds like a twist on annotation transformation meaning that other transformations coming after yours might still override your changes.

From a user perspective, what's the difference between writing th

[2021-12-13 05:41] geoand commented on #22119
What HTTP request are you sending to the endpoint?

[2021-12-13 06:14] stuartwdouglas commented on #22105
We definitely can't guarantee this will work. Some versions it might, others it won't, but it's not something we want to spend time on.

[2021-12-13 06:19] geoand commented on #22105
Maybe we can at least throw an ISE with a good error message instead of a NPE. I assume that's what @aloubyansky meant in his comment above

[2021-12-13 06:39] jgsistem opened #22133 "Error while creating the native image on Windows 10 (graalvm-ce-java11-21.3.0)"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjdk version "11.0.13" 2021-10-19

### GraalVM version (if different from Java)

OpenJDK Runtime Environment GraalVM CE 21.3.0 (build 11.0.13+7-jvmci-21.3-b05) OpenJDK 64-Bit

[2021-12-13 07:08] geoand commented on #22133
This is not a Quarkus issue, see https://stackoverflow.com/questions/64197329/cl-exe-missing-when-building-native-app-using-graalvm

[2021-12-13 07:08] #22133 closed

[2021-12-13 09:05] hieunc278 commented on #22093
Dear @cescoffier ,

Thanks for your long supports as well.

It seems that you are right. It was resolved by removed Apicurio version when I added dependency.

**--> From**

<dependency>
      <groupId>io.apicurio</groupId>
      <artifactId>apicurio-registry-serdes-avro-serde</artifactId>
      <version>${apicurio.version}</version>
      <exclusions>
        <exclusion>
          <artifactId>jbos

[2021-12-13 09:14] FroMage commented on #22117
Thanks!

[2021-12-13 09:30] #17223 closed

[2021-12-13 09:31] FroMage commented on #20783
Let's give a more complete example, before:

[code]

After:

[code]

Notes:

- All my brokers are `web-app`. I could make this the default, but I guess other users may want other styles? It's a bit annoying to repeat the application type for every broker though. Perhaps we could have a setting that applied to every tenant? `quarkus.oidc.*.application-type=web-app` ?
- All my brokers need email/nam

[2021-12-13 09:42] glefloch commented on #16572
Right, I think the initial use case was to replace a `@Singleton` scope by `@ApplicationScoped` in order to be able to mock that bean in tests.
As you mentioned, it can be done using an annotation transformer, here the goal could be to include that transformer in quarkus to avoid having to rewrite it.

[2021-12-13 09:45] #22093 closed

[2021-12-13 09:52] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1571424725

[2021-12-13 10:02] FroMage commented on #22117
Well, do I get any admin or commit rights on this repo or what?

[2021-12-13 10:15] Sanne commented on #20238
Hi @gastaldi , I'm not entirely sure as I've not contributed much to the Dev UI but if it works like code in Runtime you should be able to inject the datasource directly (already configured and started).

[2021-12-13 10:51] ajaykushwaha1 commented on #22115
Hi @Sgitario,

Any update on this.

[2021-12-13 10:53] geoand commented on #22115
It's only been 3 days since this was opened - not to mention 2 of those days were a weekend, so it's not likely an issue will be fixed that quick, especially given the fact that everyone working on the project has a full plate and needs to prioritize.

[2021-12-13 10:56] geoand commented on #22115
Moreover, to make it easier on the maintainers of the project, it would help to have some example code that we can either run (preferable) or copy-paste.  Screenshots are the least friendly option

[2021-12-13 11:22] gastaldi commented on #22117
@FroMage you need to accept the invitation to join the Quarkiverse org first, check your inbox

[2021-12-13 11:46] git4rputuval opened #22141 "reactive-mssql-client: java.lang.UnsupportedOperationException: Unsupported token"
### Describe the bug

MS SQL tables contains NVARCHAR2 columns. Firing a query on this table results in unsupported token exception.

### Expected behavior

Query should return the data consistently. Code works for some tables, but fails with above error code in other cases.

If the cause of this issue is not known, we will be forced to dump Quarkus for Spring Boot due to time constraints. Please

[2021-12-13 11:46] xtaixe opened #22142 "NPE on build when decorator is injected a delegate that is a subtype of the decorated interface"
### Describe the bug

Getting:
[code]

when using a subtype as a delegate instead of the decorated interface.

### Expected behavior

Project builds and decorator and beans are handled properly.

### Actual behavior

NPE on build

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Darwin xtaixe 20.6.0 Darwin Kernel Version 20.6.0: Tue Oct 12 18:33:42 PDT 2021; root:xnu-7195.1

[2021-12-13 11:48] gsmet commented on #22141
Please provide a simple Maven reproducer for the issue. Thanks!

[2021-12-13 11:49] xtaixe commented on #22142
Unfortunately I haven't been able to create a small reproducer for now. Hopefully the stacktrace gives an idea of what might be happening. Happy to answer any questions that might help figuring this out or taking any suggestions on what could be causing the error to try to create a small reproducer.

[2021-12-13 12:15] bennetelli opened #22147 "Quarkus Cache - expose metrics to monitor cache hit and miss rates"
### Description

It would be great if it would be possible (without a big configuration effort) to configure Quarkus Cache so it exposes the cache statistics to Prometheus.

Some other frameworks are offering this already and I think it would be great for the Quarkus User Experience if we would have this as well.

Let me know what you think about it :)

Best regards
Bennet

### Implementation idea

[2021-12-13 12:39] loicmathieu commented on #21808
@tsuginodan well, this is embarassing ;) I should have remember that nested class as accesible via `$` not `.` :(

[2021-12-13 12:41] xtaixe commented on #22142
It seems it's related to priority of decorators cause if I add a priority to the decorator that uses the subtype the build works fine. So that it easier to understand, I have something like this:
[code]

but I still haven't been able to make it fail on a small reproducer like this.

[2021-12-13 12:47] ebullient commented on #22147
Micrometer has metrics for some cache implementations (so adding binders for those would easy).

Those should be enable-able without a quarkus extension (create a `@Produces` method that creates the MeterBinder).

[2021-12-13 13:03] FroMage commented on #22117
ok thanks

[2021-12-13 13:04] yrodiere commented on #21067
Or even better, we should throw an exception instead of silently ignoring when someone tries to sort and we cannot apply the sort.

[2021-12-13 13:23] alesj opened #22149 "Using record with generics breaks the build"
### Describe the bug

When using record in a configuration, the project doesn't build:

[code]

### Expected behavior

It should build the app w/o problems.

### Actual behavior

[code]

### How to Reproduce?

This is a reproducer:
* https://github.com/alesj/quarkus_cl130

Simply run "mvn clean install -DskipTests"

### Output of `uname -a` or `ver`

Darwin Skywalker 21.1.0 Darwin Kernel Version 2

[2021-12-13 13:31] bennetelli commented on #22147
Yea, of course I can implement it by hand. Like here for example:

    public GreetingResource(MeterRegistry registry) {
        this.cache = Caffeine.newBuilder().recordStats().build();
        CaffeineCacheMetrics.monitor(registry, cache, "greeting-cache");
        this.registry = registry;
    }

But can't Quarkus come with it so users won't have to create caches by hand? IMO this would be a cr

[2021-12-13 13:40] #22115 closed

[2021-12-13 14:00] mskulkarni commented on #22084
@yrodiere Did my reproducer helped you to reproduce the issue? can we have early resolution for this issue?

[2021-12-13 14:00] gwenneg commented on #22147
That's an interesting enhancement suggestion, thanks!

I have a rough idea of the way `quarkus-cache` could allow the Caffeine metrics collection with minimal efforts for the user. I'll have a look at it.

[2021-12-13 14:02] esorio opened #22150 "authentication doesn't work with proactive auth disabled"
### Describe the bug

I have a project with form-based authentication and it works fine.
I want to customize authentication exception responses using a custom exception mapper, to this end (as stated in the [documentation](https://quarkus.io/guides/security-built-in-authentication#how-to-customize-authentication-exception-responses)) I want to disable the proactive auth.
If I disable proactive aut

[2021-12-13 14:06] bennetelli commented on #22147
My use case is:

e.g. for a method like this one:

    @CacheResult(cacheName = "weather-cache")
    public String getDailyForecast(LocalDate date, String city) {
        try {
            Thread.sleep(2000L);
        } catch (InterruptedException e) {
            Thread.currentThread().interrupt();
        }
        return date.getDayOfWeek() + " will be " + getDailyResult(date.getDayOfMonth() %

[2021-12-13 14:27] gastaldi commented on #22045
I can confirm that Maven 3.8.4 is used in the Maven wrapper in 2.6.0.CR1. Closing

[2021-12-13 14:27] #22045 closed

[2021-12-13 14:35] kny78 commented on #21991
@Sanne Our problem is that we don't want the same context when we start a new "co-routine" or CompletableFuture.

Typically we spawn a new CompletableFuture, which runs for longer or shorter than the thread that starts is. And they work with different data, and so they should not be in the same transaction.

 (I believe Co-routines in Kotlin uses CompletableFuture).

[2021-12-13 14:36] glefloch commented on #21953
thanks for reporting this @brunohpg. We have several sample projects used in our test suite that leverage multi-module project such as : https://github.com/quarkusio/quarkus/tree/main/integration-tests/gradle/src/main/resources/multi-module-named-injection
does the `quarkusDev` task works? could you create a simple reproducer?

[2021-12-13 14:44] yrodiere commented on #22084
No, I did not make any progress over the weekend.

Thanks for the reproducer. It does reproduce the problem on my machine. Howeveer, the problem doesn't seem related to credentials, but to the injected datasource: somehow you're getting the MSSQL injected into this:

[code]

Which is very obviously wrong. I'm still investigating.

(Also note that you have a line of code printing "Retrieving MSSQL

[2021-12-13 14:48] ajaykushwaha1 commented on #22115
@Sgitario and @geoand Thanks for the quick support. Is it available in quarkus-spring-data-jpa 2.5.0.Final version?

[2021-12-13 14:49] mkouba commented on #22142
@xtaixe I wasn't able to reproduce this particular error either but I found other problem and [this PR](https://github.com/quarkusio/quarkus/pull/22153) should fix it.

[2021-12-13 14:50] geoand commented on #22115
It will be available in Quarkus `2.6.0.Final` or `2.5.3.Final` - whatever comes first

[2021-12-13 14:52] ajaykushwaha1 commented on #22115
ok thank you.

[2021-12-13 15:01] xtaixe commented on #22142
Interesting... @mkouba would the test you added not pass without the changes? Anyway, I can test if this fixes my issue as soon as there's a release with those changes. Are there daily builds or similar?

[2021-12-13 15:02] FroMage commented on #21854
Thanks!

[2021-12-13 15:14] mkouba commented on #22142
Well, I only added the `ping()` method so that I can test the decoration itself...

I don't think that this PR can actually fix your problem but +1 if you can try it ;-)

I believe that snapshots are deployed to https://s01.oss.sonatype.org/content/repositories/snapshots/ once a day or so. But it's very easy to build the snapshot locally - just clone the repo and run `mvn clean install -Dquickly -

[2021-12-13 15:15] FroMage commented on #21857
OK:

- You need to build and install this branch of Quarkus: https://github.com/FroMage/quarkus/tree/renarde
- Build and install the Renarde extension: https://github.com/quarkiverse/quarkus-renarde
- Clone https://github.com/FroMage/aviouf
- Run `mvn clean quarkus:dev` in it
- Open http://localhost:8080/Login/loginForm
- Enter fromage / 1q2w3e4r
- Open http://localhost:8080/PersonOrGroups/view/Ro

[2021-12-13 15:16] mkouba commented on #21857
Will try it, thanks!

[2021-12-13 15:22] mskulkarni commented on #22084
@yrodiere Thanks for reproducing the issue and pointing mistake. :)   It was typo done in hurry. Please find the modified zip here again. Please keep me posted with your findings.
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/7704842/code-with-quarkus.zip)

[2021-12-13 15:22] FroMage commented on #21855
Well, if I can access stuff that is outside the current scope in a tag, then I don't even need parameters. That's very counter-intuitive to my scoped programming background where a function can only access the data it's passed directly.

[2021-12-13 15:28] mkouba commented on #21855
A user tag is not a function, it's more like a "named include directive". It makes sense for literal arguments, e.g. `{#myTag optimized=true /}` and if you want to simplify stuff, e.g. `{#myTag name=album.artist.name /}` and then in the tag then use just `name`.

[2021-12-13 15:33] FroMage commented on #21864
OK, this fixes my bug. Do you have any need for a tag build item then? https://github.com/FroMage/quarkus/commit/59440daf2c1c275d32dd7d194609a5f683d3f64a

Or should I drop this commit from my branch?

[2021-12-13 15:33] FroMage commented on #21864
OK, this fixes my bug. Do you have any need for a tag build item then? https://github.com/FroMage/quarkus/commit/59440daf2c1c275d32dd7d194609a5f683d3f64a

Or should I drop this commit from my branch?

[2021-12-13 15:47] yrodiere commented on #22084
... and this turns out to be a CDI usage problem.

## What is going on

If you look closely at your logs, you will see this when Quarkus starts:

[code]

(why this is a warning and not an error is beyond me; I don't have time to fight that right now)

What the message means is, this code:

[code]

Actually gets interpreted as this:

[code]

(because the annotations on a final field are ignored, an

[2021-12-13 15:47] #22084 closed

[2021-12-13 15:57] mkouba commented on #21857
So I was able to reproduce the problem. And now the difficult part - to find the cause ;-).

[2021-12-13 16:04] ebullient commented on #22147
Micrometer has a (few) MeterBinders for caffeine:
https://github.com/micrometer-metrics/micrometer/tree/main/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache

Should be a matter of registering these if the Micrometer extension is present (benefit is broader community usage of/consistency with these metrics)

[2021-12-13 16:08] jkalex-git commented on #21067
The documentation could have a 'known limitation' section, so the users are informed of cases like this.

[2021-12-13 16:23] mkouba commented on #21864
I don't think that we need the `TemplateTagBuildItem` so +1..

[2021-12-13 16:26] FroMage commented on #21864
OK thanks.

[2021-12-13 16:45] GregJohnStewart commented on #22074
If we could just get _some_ context form what is running, say the current profile, that would work for me... I'm not read into the flow of this but I might assume that in the context of where `init()` for the lifecycle manager is called, the annotations of the test class are reachable, and therefore the test profile that we are currently running.

[2021-12-13 16:51] Sanne commented on #21067
+1 that's the better approach

[2021-12-13 16:58] GregJohnStewart commented on #22073
I might move then to make `@QuarkusTestResource` apply only to the test classes that it is assigned, as that is how it seems to be presented in docs (at least, that is how I interpreted it). It is odd behavior to have the annotation on one class for all tests IMHO

[2021-12-13 16:59] gastaldi opened #22157 "LocalVariablesSorter only accepts expanded frames error when using Quarkus Log in Panache entities"
### Describe the bug

Having a Panache Entity defined as the following:

[code]

The following error happens when building the project:

[code]

### Expected behavior

No build errors

### Actual behavior

Build error

### How to Reproduce?

1. Create a project using hibernate-orm-panache (and any jdbc extension): https://code.quarkus.io/d?e=hibernate-orm-panache&e=jdbc-postgresql&cn=code.quarkus.

[2021-12-13 17:00] GregJohnStewart commented on #22072
That actually might be enough for me, I might say potentially the super class of the testclass, but that is because that is how I have implemented things on my end. Profile and testResource is probably fine