[2021-02-03 12:22] radcortez commented on #14788
Great. I'll have a look into this later.

[2021-02-03 12:23] rmanibus commented on #14788
this make sense, thanks !

[2021-02-03 12:27] mkouba opened #14794 "Qute type-safe message bundles - use locale from the selected variant if "locale" attribute not set"
Also document the usage of the "locale" attribute.

[2021-02-03 12:29] wernert75 commented on #5432
This feature would be very helpful for me.

[2021-02-03 12:33] gunnarmorling commented on #13533
As I just learned from @EricWittmann, the Apicurio SerDe *cannot* be used with the Confluent registry (the other way around though works: using Confluent's SerDe with the Apicurio registry). Seems atm. the only way that works in native is Apicurio SerDe with Apicurio registry then. Or someone would have to figure out the right substitutions etc. for the Confluent Serde.

[2021-02-03 12:36] sberyozkin commented on #2611
@loicmathieu Hi Loic, I have just updated (with he help from the CPE team) the Quarkus CPE list, so all the versions including 1.11.1.Final are listed there.
However, I think some more work needs to be done there, specifically some CVEs known to have been resolved against specific Quarkus upstream versions have to be associated with the specific Quarkus CPEs... I'm looking into it

[2021-02-03 12:47] cescoffier commented on #13533
@gunnarmorling Oh! My bad. I was thinking it was possible.

[2021-02-03 12:50] cescoffier commented on #13533
Just saw @ngtampl94's comment. So basically, you need RESTEasy, because it registers the RestClient (which Confluent Serde is using). That's a bit better than trying to substitute part of the serde itself.

[2021-02-03 12:51] cescoffier commented on #13533
We may be able to track the right bean and if the Confluent Serde is used, make it unremovable. However, having the Avro extension depending on RESTEasy is not great.

[2021-02-03 13:20] loicmathieu commented on #2611
OK, great

@sberyozkin you can close this issue now that Quarkus is known in the NCD database. If you prefere to keep it open untill all CVE are attached to the correct CPE it's also good to me ;)

[2021-02-03 13:26] shawkins opened #14795 "Issues with sidecar probes"
**Describe the bug**
There are several problems with attempting to configure sidecar probes through the application.properties.  First any probe properties such as http-action-path, seem to be ignored.  Second the probe port is set to the value of quarkus.http.port - which is not correct for the sidecar container.

**Expected behavior**
Using the properties:
quarkus.kubernetes.sidecars.x.liveness-

[2021-02-03 13:33] sleberrigaud commented on #9287
@stuartwdouglas just adding my input here. From my point of view, I'm trying to run the application on a random port, using `http.port=0` and let quarkus decide which port at runtime. But I still need to know the actual port that was selected. So accessing the system property is not enough in that case.

[2021-02-03 13:36] geoand commented on #14795
cc @iocanel

[2021-02-03 13:49] sberyozkin opened #14796 "OidcClient may fail in the native image if Jackson dependency is missing"
**Describe the bug**
Without this dependency it fails with a difficult to analyse NPE:
[code]
This is similar to #5342 (where `quarkus-jackson` had to be added to `quarkus-oidc`).

In both cases it stems from the fact that some core Vert.x code depends on Jackson (Databind I believe)

[2021-02-03 13:52] gastaldi commented on #7440
This extension sounds like a nice candidate to be in the [Quarkiverse](https://github.com/quarkiverse/quarkiverse/wiki) organization, where it would (hopefully) bring better visibility.

@angrymango if you are interested, I can set up a repository in there for you.

[2021-02-03 14:47] sberyozkin opened #14798 "quarkus-oidc-token-propagation should also work with quarkus-smallrye-jwt"
**Description**

The idea behind `quarkus-oidc-token-propagation` is simply to propagate the current access token (though we'd want to support a token exchange protocol in the future to make the audience/issue.etc management under control) - but it only currently works with `quarkus-oidc` which `quarkus-oidc-token-propagation` currently depends upon. However the bearer tokens verified with `quarku

[2021-02-03 15:05] geoand opened #14799 "Gradle tests appear to be failing"
**Describe the bug**
When one runs the gradle tests locally using

[code]

from `integration-tests/gradle`,

one sees various error that boil down to:

[code]

**Expected behavior**
No test failures

**Actual behavior**
Various test failures, the should have been caught in CI

[2021-02-03 15:05] m-yassine1 opened #14800 "Having custom configurations"
**Describe the bug**
I am trying to create my own custom configuration with a dynamic value inside the key configuration. I am following the example shown [here](https://quarkus.io/guides/writing-extensions#configuration-example). I noticed that it does not have any annotation for it to initialize it.

**Expected behavior**
Have the configuration loaded inside the configurations injected automatic

[2021-02-03 15:08] michalszynkiewicz commented on #14736
it seems there's some clash between resteasy reactive and client from "normal" resteasy.

In the near future we will have a MP Rest Client implementation based on Reactive RestEasy with which you'll be able to pass through the headers and use Reactive RestEasy.

[2021-02-03 15:09] #14156 closed

[2021-02-03 15:13] lthasle commented on #14736
Ok! I am looking forward for the solution, I can help out with the verification

[2021-02-03 15:15] aloubyansky commented on #14799
Right, e.g. AddExtensionToSingleModuleProjectTest

[2021-02-03 15:24] cescoffier commented on #14779
@vietj about 2. We need a clear separation between Vert.x and Jackson. What was introduced in 4 make Jackson in the call tree if you don't have any Json support (which can be the case). A solution would be to have the SPI you have implemented for Jackson and delivered optionally (in another module), so we are sure it's not in the call tree.

[2021-02-03 15:34] FroMage commented on #14794
So, for server-rendered stuff, the API I've used over the years does this:

- `static Locale I18N.get()`
- `static void I18N.set(Locale)`
- `static void I18N.set(String)`

`set` will set a session cookie to remember it, and `get` uses that, or defaults to the HTTP request headers to find a matching locale based on those supported in the config (say `fr,de,en`)

This makes it trivial to support a m

[2021-02-03 15:45] cescoffier commented on #14779
@pmlopes I can see the improvements, however, it's breaking on our side. I now need to do things like this before sending the JSON Object to Resteasy:

[code]

[2021-02-03 15:50] ebullient commented on #14779
RE: eclipse-vertx/vert.x#3579
Stuart and I opened that because we had to do stupid things to keep track of context as Rest traffic went through Vert.x to make sure metrics could be recorded at completion time w/ a decent resolved path.
In that issue, you commented Vert.x 4 should aready support keeping context in the attribute, but you also offered to provide more/similar context to Metrics suppor

[2021-02-03 16:03] mkouba commented on #14794
@FroMage Seems reasonable. But it's something that should be implemented in the resteasy extension, right? And then we could easily change the `TemplateResponseFilter` to set the correct Qute attribute. For now, I will modify the `TemplateResponseFilter` to use the `Accept-Language` header...

[2021-02-03 16:19] FroMage commented on #14794
Yeah, probably, but it's going to be required, because the `Accept-Language` header is mostly useless for end users…

Thing is, I don't think we have that session storage cookie yet, but perhaps this is the right time to add it, WDYT @geoand ?

[2021-02-03 16:23] geoand commented on #14794
Indeed, no storage cookies yet, but yeah we should add them sooner rather than later :).

[2021-02-03 16:33] FroMage opened #14802 "Session stored in cookie"
I can't find any issue about this, even though we discussed this in the past a lot.

It'd be nice to finally have a session cookie, signed, where we can store plain text stuff such as:

- the flash scope
- the current user locale

This will mostly be useful for Qute users, but they exist, so… :)

See https://github.com/quarkusio/quarkus/issues/14794

The question is where would this live, given th

[2021-02-03 16:33] Davide-Di-Do commented on #14220
Hi @mpcbass I've created a pull request to your repo where there is a possibile solution of auto-reconnect

[2021-02-03 16:34] rsvoboda opened #14803 "Add quarkus-smallrye-jwt-build as quarkus-smallrye-jwt dependency"
Add `quarkus-smallrye-jwt-build` as dependency of `quarkus-smallrye-jwt`

This is followup for https://github.com/quarkusio/quarkus/pull/13626 change to avoid need to explicitly add `quarkus-smallrye-jwt-build` dependency into pom.xml of existing applications which are using this API.

This way it will be transparent for existing users and new users can still select just `quarkus-smallrye-jwt-buil

[2021-02-03 16:44] sberyozkin commented on #14803
@rsvoboda thank you, I agree, I suppose dropping it was too forceful at this stage and indeed some users did get caught by it because I also missed updating the migration guide.
So I'll put it back and will also update the docs.
I will open a new issue to drop in in Quarkus 2.0 :-)

[2021-02-03 16:45] famod commented on #14751
@jglink Ok thanks. I've already tried 1.9.2 with Liquibase 4.1.1 but it did fix the problem. Strange.

[2021-02-03 16:51] #14759 closed

[2021-02-03 16:51] #14796 closed

[2021-02-03 17:34] mpcbass commented on #14220
Hi Davide
I'm very thankful for your try, I see what you tried to achieve.
I'd already came up with something similar, but that's not a viable way for me.

It seems people around use this kind of software just in cloud environments,
so that they are able to healthcheck and eventually restart the docker image.
That's maybe why nobody is annoyed by this issue.

Unfortunally I have to install my piec

[2021-02-03 17:38] yrodiere commented on #14264
@Sanne I had a look. We're indeed configuring Hibernate Reactive in JTA mode and we shouldn't. However, the problem is deeper: I think Hibernate Reactive only support DDL "write" operations, through a custom `GenerationTarget` (which successfully abstracts from JDBC). The code that performs DDL "reads" (e.g. for validation) is entirely in Hibernate ORM, and it uses JDBC all the way down. So droppi

[2021-02-03 18:13] Sanne commented on #14264
thanks @yrodiere ! Yes let's focus on the non-JTA aspect first.

For the update/validate schema features, could you open an issue on hibernate reactive? I didn't know about this, maybe it's not too hard to implement.

[2021-02-03 18:15] famod commented on #14800
Are you actually implementing a Quarkus extension?
If not, you might want to check `@ConfigProperties`: https://quarkus.io/guides/config-reference#using_configproperties
But IIRC, there is some limitation regarding maps.
I'll hand this over to @radcortez and @geoand at this point. 😉

[2021-02-03 19:13] radcortez commented on #14800
This should work: https://smallrye.io/docs/smallrye-config/mapping/mapping.html

But yes, I also want to know if you are doing an extension or just a regular app.

[2021-02-03 21:24] #14733 closed

[2021-02-03 22:59] CarlosPanarello commented on #13803
hi @silviu-negoita thanks for the fix, but i tried without success. How you did it to work?

I added this execution in plugin, changing the port to 8000, like the config below:
But is going up listening in 5005 when running in dev mode.

[code]

[2021-02-03 23:02] stuartwdouglas commented on #13803
Just launch with -DdebugHost=0.0.0.0 or add <configuration><debugHost>0.0.0.0</debugHost></configuration> to the plugin config.

[2021-02-03 23:02] #13803 closed

[2021-02-04 05:33] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/536102525

[2021-02-04 06:48] #14799 closed

[2021-02-04 07:19] renegrob opened #14811 "Undertow with TLS causes IllegalStateException: Request has already been read"
**Describe the bug**
If Undertow is used with TLS then request in DEV mode occasionally leading to a `java.lang.IllegalStateException: Request has already been read`.

**Expected behavior**
Requests should be processed correctly.

**Actual behavior**
Not every request but 30-70% returns with a `java.lang.IllegalStateException: Request has already been read`.

**To Reproduce**

Link to a small repr

[2021-02-04 07:22] renegrob commented on #14811
@geoand @stuartwdouglas  The bot tagged the wrong area. This concerns Undertow.

[2021-02-04 07:26] m-yassine1 commented on #14800
Actually no I am not, I thought that I can use the same annotation for my applications, and yes it has limitations for maps.

I will try it, and I am doing a regular app.

[2021-02-04 07:33] geoand commented on #14800
Was there something in the documentation that led you to believe you can use those annotations for application configuration?
If so, we need to fix it

[2021-02-04 08:12] m-yassine1 commented on #14800
I saw it as similar behavior to @ConfigProperties, and thought it might actually work regardless if it was meant for extensions only or not because it had the same prefix @Config.

I also want to note that I tried using [smallrye config](https://smallrye.io/docs/smallrye-config/mapping/mapping.html). I keep on getting class cast exception,

I have updated the project to accommodate the smallrye co

[2021-02-04 08:24] radtriste commented on #14791
@geoand looks like there was an issue with the test ...
https://github.com/kiegroup/kogito-runtimes/runs/1828215473?check_suite_focus=true

It checks out `master` branch => `Your branch is up to date with 'origin/master'.`
but `context.yaml` seems fine ...
For the jbang issue at the end, I suspect the comment after the issue number to be the root cause ...

[2021-02-04 08:26] radtriste commented on #14791
just noticed that it seems it does the other way around ...
https://github.com/kiegroup/kogito-runtimes/runs/1828215492?check_suite_focus=true
on this one it should checkout Quarkus `master` but seems to checkout a branch

[2021-02-04 08:36] loicmathieu commented on #10927
@imshuv you ask for advise on this one two weeks ago, do you plan to work on it ? Otherwise I'll assign it to @Anushka-shukla thats also volonteer for it.

[2021-02-04 08:37] yrodiere opened #14812 "Hibernate Reactive with Stage API throws ContextNotActiveException on flush"
**Describe the bug**

The code below throws a `ContextNotActiveException` (see also reproducer below). Switching to the Mutiny API makes the problem disappear.

[code]

Stack trace:

[code]

**Expected behavior**
I would expect the Mutiny API and the Stage API to behave similarly. Maybe the code is wrong, but in that case both APIs should throw an exception?

**Actual behavior**
(Describe the actu

[2021-02-04 08:38] yrodiere commented on #14812
Discussed with @DavideD (https://hibernate.zulipchat.com/#narrow/stream/205413-hibernate-reactive-dev/topic/Flush.20with.20stage.20API.20in.20Quarkus). He'll have a look when he has some time.

[2021-02-04 08:38] imshuv commented on #10927
I wanted to work on it but being a beginner I'm not able to understand a lot of things.

[2021-02-04 08:39] bmontuelle commented on #12925
This does not seem to relate to panache only.
I ran into the same issue with runtime exceptions in dependent code being swallowed when called from an event consumer (@ConsumeEvent()). It would be great to have exception in event bus logged as errors to ease troubleshooting and not having to catch Throwables explicitly in every consumer.
Currently running with Quarkus **1.10.3.Final**

[2021-02-04 08:59] geoand commented on #14791
Thanks for reporting.

It should be fixed now. Furthermore I suggest you update https://github.com/kiegroup/kogito-runtimes/blob/master/.github/workflows/quarkus-snapshot.yaml#L80 on your side to better reflect what the step actually does

[2021-02-04 08:59] FroMage commented on #12925
Who's actually maintaining that part of the API? @cescoffier do you know? @tsegismont perhaps?

[2021-02-04 09:02] radtriste commented on #14791
oh right gonna update that ! thx

[2021-02-04 09:03] markusdlugi commented on #14811
@renegrob Wow, I encountered the same bug yesterday, but you just beat me to it :smile:

If it's still of any use, I also built a small sample project that reproduces the issue:

https://github.com/markusdlugi/undertow-https-example

Other than that, I can support everything @renegrob said, I've been encountering just the same issue, also running on Quarkus 1.11.1.Final.

One additional thing I no

[2021-02-04 09:12] gavinking commented on #14264
I'm pretty sure it's quite hard. Though certainly not impossible.

[2021-02-04 09:13] renegrob commented on #14811
About `http2=false`that also helped in our project however in my reproducer project it didn't help. It seems to be a timing / threading issue as it occurred less on my AMD Ryzen machine with 12 cores than on my college's Intel machine with 4 cores.

[2021-02-04 09:21] eAybars commented on #14754
So, how do we proceed with this, should I be creating a pull request conforming to your suggestion or what is the procedure to follow from this point? Thanks

[2021-02-04 09:24] yrodiere commented on #14264
A comment by @gavinking on the Hibernate Reactive ticket:

Currently I don't think we inject a JDBC driver in Hibernate Reactive persistence units, ever. From what I understand the datasource is injected by `io.quarkus.hibernate.orm.runtime.FastBootHibernatePersistenceProvider#injectDataSource` for Hibernate ORM, but that method is simply absent for the Hibernate Reactive extension.

Maybe it woul

[2021-02-04 09:25] hacst opened #14813 "Micrometer Vertx JAX-RS path template is not properly recovered for metric uri labels"
**Describe the bug**
To reduce label cardinality Micrometer default http metrics have to use the URL template string instead of raw request URL (e.g.
`/items/123` must be converted back to `/items/{id}`). The implementation for this is in [VertxMeterBinderContainerFilterUtil](https://github.com/quarkusio/quarkus/blob/8c7b1b50cc0d637454803c42884e67f4cbb90100/extensions/micrometer/runtime/src/main/j

[2021-02-04 09:27] gavinking commented on #14264
I'm not sure. And TBOH i'm not 100% sure it even still works because I know we don't have tests for it anymore.

[2021-02-04 09:27] tsegismont commented on #12925
@cescoffier maintains it

[2021-02-04 09:31] yrodiere commented on #14754
That would be great, yes, thank you!

If you've never contributed to Quarkus, be sure to check out [this file](https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md).

I believe `io.quarkus.elasticsearch.restclient.lowlevel.runtime.ElasticsearchRestClientProducer#restClient` is where you should look at first. You can use `Arc.container().select(...).handles()` to get beans annotated wit

[2021-02-04 09:32] yrodiere commented on #14754
By the way, yes, your suggestion to allow multiple beans makes perfect sense.

[2021-02-04 09:37] loicmathieu commented on #14789
Yes, dynamic selection of MongoClient / MongoDatabase is not possible at the moment.

Having a way to resolve it dynamically, as you proposed with your `TenantResolver`, could be a good addition but it needs to be designed with care as it needs to interact gracefully with the existing features of MongoDB with Panache. We can inspire ourself with the way tenants works in Hibernate but I'm not even

[2021-02-04 09:39] manovotn commented on #14696
This issue should now be resolved via https://github.com/quarkusio/quarkus/pull/14767

[2021-02-04 09:39] #14696 closed

[2021-02-04 09:53] FroMage commented on #12925
I don't think he has time for that, do you think you would? Or shall I keep looking? :)

[2021-02-04 10:01] bwand opened #14814 "Open API produces invalid document"
**Describe the bug**
The generated openapi document misses several schema elements eg. /components/schemas/MapStringBoolean

**Expected behavior**
Openapi document should be consistent without any errors.

**Actual behavior**
Swagger UI shows errors stating that schema references are missing:

[code]
Generated File:
[openapi_inconsistent.txt](https://github.com/quarkusio/quarkus/files/5924762/open

[2021-02-04 10:04] sberyozkin commented on #14450
@mklueh Sorry, missed you last comment, thanks :-). I'm going to update to smallrye-jwt 2.4.3 shortly. FYI, after some thoghts I've decided to throw IAE in case of the well-known claims like `sub` having the illegal value types; the conversion may also hide the bug. This will ensure that it consistent, ex, `.subject("1")` and `.claim(Claims.sub, "1")`, etc

thanks

[2021-02-04 10:10] sberyozkin commented on #12984
This issue will be revisited once we complete the migration to Vertx Web Client

[2021-02-04 10:13] sberyozkin commented on #13049
@mklueh Hey, is it still a problem ? Unfortunately I haven't had time to investigate, thanks

[2021-02-04 10:18] gsmet commented on #14814
/cc @EricWittmann, @MikeEdgar, @phillip-kruger

[2021-02-04 10:20] tsegismont commented on #12925
@FroMage I will take a look

@bmontuelle if it's possible to reproduce without setting up a database, would you mind sharing a snippet?
I'm reading this issue for the first time so it would be appreciated if you could also recap expectations vs observations.
Thank you

[2021-02-04 10:27] mklueh commented on #13049
@sberyozkin Haven´t had any problems anymore with this issue so far, might be fixed already

[2021-02-04 10:29] #14743 closed

[2021-02-04 10:38] #13169 closed

[2021-02-04 10:39] iocanel commented on #14299
@ppatierno: As this can be reproduced and a test that validates correct behavior has been added, I feel that we should close this.
If I missed something, feel free to re-open I'll gladly have a second look.

[2021-02-04 10:39] #14299 closed

[2021-02-04 10:47] maxandersen commented on #14779
thx - I made the list based on issues highlighted by @cescoffier to have it captured. I'll let him and @ebullient comment on the specifics.

[2021-02-04 11:20] FroMage commented on #14744
I'll take this.

[2021-02-04 11:24] geoand commented on #14744
Coolio

[2021-02-04 11:32] galderz commented on #14758
Thx @thomas-mc-work. What's the `org.ecg.asvcq.roundcube.RoundcubeFacade.deleteUser(RoundcubeFacade.java:65)` code doing? Is that your code? I'm not aware of Quarkus having such code. Do you have a reproducer?

@gsmet @Sanne Is there a native test in Quarkus for a similar situation to what @thomas-mc-work is trying to do with `hibernate-modelgen`?

[2021-02-04 11:33] galderz commented on #14758
Ups, didn't mean to close. Pressed wrong button.

[2021-02-04 11:35] thomas-mc-work commented on #14758
That's contained in the snippet of step three in the ticket.

[2021-02-04 12:04] MikeEdgar commented on #14814
This looks a lot like https://github.com/quarkusio/quarkus/issues/14670. @bwand, can you share the Java classes that result in the incorrect document?

[2021-02-04 12:07] angelo-chan opened #14819 "Dependencies with duplicate files detected. The dependencies [org.jboss.logging:jboss-logging::jar:3.4.1.Final(compile), org.jboss.logging:jboss-logging-spi::jar:2.1.2.GA(compile)] contain duplicate files, e.g. org/jboss/logging/MDC.class"
**Describe the bug**
Dependencies with duplicate files detected. The dependencies [org.jboss.logging:jboss-logging::jar:3.4.1.Final(compile), org.jboss.logging:jboss-logging-spi::jar:2.1.2.GA(compile)] contain duplicate files, e.g. org/jboss/logging/MDC.class while building the uber jar while include commons-logging and jdk log adaptors in the application:

**To Reproduce**

Steps to reproduce the

[2021-02-04 12:33] bwand commented on #14814
Yes, sure. The admin.zip contains the classes and the other ZIPs are from Keylcoak. One is with classes (JAR) and the other one contains the sources.

[admin.zip](https://github.com/quarkusio/quarkus/files/5925651/admin.zip)
[keycloak-core-11.0.3.zip](https://github.com/quarkusio/quarkus/files/5925655/keycloak-core-11.0.3.zip)
[keycloak-core-11.0.3-sources.zip](https://github.com/quarkusio/quarkus

[2021-02-04 12:50] #14803 closed

[2021-02-04 12:56] 0SkillAllLuck opened #14820 "GRPC / Panache Reactive Combination causes issues after a couple requests"
**Describe the bug**
When invoking Panache Entities via a GRPC Service in a reactive way, the first couple invocations will work but after that all that happens is a "java.lang.IllegalStateException: session is currently connecting to database"

**Expected behavior**
The Panache invocations work until the end of the universe.

**Actual behavior**
After a couple of invocations only "java.lang.Illeg

[2021-02-04 13:20] FroMage commented on #14820
@Sanne this seems related to session/thread discussions, no? Can you route this to someone who can take a look?

[2021-02-04 13:26] mkouba opened #14822 "ArC - make it possible to turn an annotation into a qualifier without adding @Qualifier to it"
I.e. add an alternative to `BeforeBeanDiscovery.addQualifier()`

[2021-02-04 13:27] manovotn commented on #14822
CC @Ladicek since we talked about Quarkus not having this recently in context of Lite :-)

[2021-02-04 13:29] FroMage commented on #14795
@iocanel if you don't have time, perhaps I can take a look?

[2021-02-04 13:31] #11531 closed

[2021-02-04 13:31] #12338 closed

[2021-02-04 13:33] survivant opened #14823 "QuarkusTestResourceLifecycleManager should be executed only when a class is annotated by @QuarkusTestResource"
I have junit tests and I have integration tests (named xxxIT).  I want to launch the IT test only when the maven profile "integration-test" is active.  (took that my quarkus example)

I have this in my pom.xml
[code]

in my IT test, I have to create a Kind cluster and also launch a DockerCompose with TestContainer.

I created 2 classes that implements **QuarkusTestResourceLifecycleManager**

and I

[2021-02-04 13:46] Ladicek commented on #14822
There's a couple more (`addStereotype`, `addInterceptorBinding`), do we already have [an equivalent of] those?

[2021-02-04 13:48] manovotn commented on #14822
We do have `InterceptorBindingRegistrarBuildItem` already.
But I don't think we have anything like this for stereotypes.

[2021-02-04 13:53] Ladicek commented on #14822
Thanks!

[2021-02-04 13:55] Ladicek commented on #14822
BTW is this urgent and needs to be done soon, or just an idea? If the latter, I'd volunteer to take a look.

[2021-02-04 14:10] manovotn commented on #14822
IIUIC, @mkouba needs this for some Qute work. But do check with him.

[2021-02-04 14:14] Ladicek commented on #14822
Gotcha, thanks. Leaving this to @mkouba then :-)

[2021-02-04 14:16] famod commented on #14823
As @geoand pointed out [on the mailing list](https://groups.google.com/g/quarkus-dev/c/PRPu5Tfzgtc), any manager that is registered via `@QuarkusTestResource` directly on a test class _has a global effect_.
This basically works as designed. You are of course free to dislike the design and in fact other users were irritated by this behaviour in the past.
That's why think that allowing `@QuarkusTest

[2021-02-04 14:18] ebullient commented on #14813
Thanks for the reproducer. This kind of parameter matching is .. difficult.

Can you try using a match pattern? I added this specifically to get around accuracy limitations in understanding rest paths:
[code]

[2021-02-04 14:25] tqvarnst commented on #14368
I'm in favour of doing 1 as well. It's only natural that you configure the client as part the application.properties since it's part of the users configuration. This also has the benefit that for example the VS code plugin will be able to auto complete the hotrod configuration for application.properties and that we already have the feature in place to mark what is build time and what is boot time

[2021-02-04 14:26] tqvarnst commented on #14368
@edeandrea Maybe better to create a new issue for this, since it's a new feature request.

[2021-02-04 14:29] Sanne commented on #14820
Sure. @FroMage , could you have a look?  :)

Jokes aside, @0SkillAllLuck : currently you can only use Panache Reactive if either of these are true:

a. you're running in a reactive context
b. you wrap your code win a transaction, for example using `Panache.withTransaction( ... )`.

I apologize for the confusion, we need to work on detecting this and throwing a better error.

[2021-02-04 14:30] edeandrea commented on #14368
@tqvarnst I can certainly do that. I put it here because if we are indeed going to map properties from `hotrod-client.properties` into the `infinispan-client` then shouldn't the behavior be the same? Or are you indicating that because it currently isn't the same then its a bug that needs to be addressed?

[2021-02-04 14:53] Sanne commented on #14812
FWIW, I have a different error; perhaps this is the underlying cause?

[code]

[2021-02-04 14:56] survivant commented on #14823
here what I have in other SpringBoot projects
[code]

I check for easy example how to do a QuarkusTest with profile.  I found this
https://github.com/quarkusio/quarkus/blob/5bbf33e3c45691fd7d5bc0f65fc1dd41592ece77/integration-tests/spring-web/src/test/java/io/quarkus/it/spring/web/testprofile/Profiles.java

[code]

look a little to complicated.

could it be possible to have something like this

ba

[2021-02-04 15:00] yrodiere commented on #14812
@Sanne That's weird, I don't have this error...

Anyway. I thought `withTransaction()` was supposed to move execution to the event loop?

[2021-02-04 15:22] DavideD commented on #14812
Same for me. And when I debug, everything seems in the right Thread

[2021-02-04 15:44] mkonzal opened #14827 "Generated Openshift manifest contains malformed value of app.openshift.io/vcs-url and app.quarkus.io/vcs-url annotations"
**Describe the bug**
Openshift manifest generated by the Quarkus 1.11.1 contains malformed url of the git repo when ssh is used.

**Expected behavior**
Openshift manifest generated by the Quarkus contains value provided by git like `ssh://git@fqhn:port/path/repo.git`

**Actual behavior**
Actual value in the generated manifest `https://fqhn/port/path/repo.git`

**To Reproduce**

`mvn clean package`

[2021-02-04 15:47] geoand commented on #14827
cc @iocanel @FroMage

[2021-02-04 16:02] radcortez commented on #14800
Ops, unfortunately you hit https://github.com/smallrye/smallrye-config/pull/494.

I've tried you sample with that fix and it does work. I can do a release of SR Config and you override the dependency directly in you project so you don't have to way for the next Quarkus release.

[2021-02-04 16:09] hacst commented on #14813
I tried the option as described but it did not seem to work. I played with the pattern a bit but didn't investigate deeper.

Even if it worked I fear this will be very hard to get right in changing services with many developers. Do you see a way of making this work out of the box? As we have the parameters there must have already been some kind of awareness of the template at that layer of request

[2021-02-04 16:15] patrick-vonsteht opened #14829 "Postgres TestContainer fails with "No suitable driver found" when switching test profiles"
**Describe the bug**
Setup:
* You have two QuarkusTests
* **The QuarkusTests use different TestProfiles.**
* Both QuarkusTests start a postgres container through a QuarkusTestResourceLifecycleManager.

**Expected behavior**
Expected Result:
* Both tests run successfully.

**Actual behavior**
Result:
* The first test runs successfully.
* The second test, after the profile switch, fails with "java.s

[2021-02-04 16:22] FroMage commented on #14827
Sorry @iocanel this one's for you ;)

[2021-02-04 16:26] 0SkillAllLuck commented on #14820
@Sanne I just tried to wrap my call with Panache.withTransaction( ... ). Either I am stupid enough to not use it correctly or it still doesn't work. I updated the reproducer repo with the wrapping. It's still doing the same behaviour.

I also thought using the Mutiny GRPC Service should be reactive or aren't they?

[2021-02-04 16:47] gsmet opened #14830 "Minor gripes about Log UI in Dev UI"
The new Log UI is really amazing but I noticed a few things we could probably improve easily.

## 4 spaces between columns

Is this really necessary? It eats a lot of space and we don't have that in the console.

## cursor:pointer

Most of the action icons miss the `cursor: pointer`: when open, all the actions at the left and also the Hide button (curiously, the Show button is OK).

## Info missin

[2021-02-04 17:01] gsmet commented on #14800
@radcortez if you can prepare a micro, 1.11.2 is not far away (things have to be merged there by Monday evening).

[2021-02-04 17:04] radcortez commented on #14800
Sure, I'll push a new update now. We only have that fix, so it is a very minimal update. Thanks!

[2021-02-04 17:04] gsmet commented on #14819
/cc @jamezp

[2021-02-04 17:07] gsmet commented on #14829
/cc @geoand

[2021-02-04 17:09] famod commented on #14800
(Red) hats off to you @radcortez - swift support and fixing, as always! 🙂

[2021-02-04 17:13] gsmet commented on #14758
@thomas-mc-work could you create a small reproducer? That would make things a tad easier for us.

[2021-02-04 17:13] jamezp commented on #14819
Where do the `jboss-logging-jdk` and `jboss-logging-spi` dependencies come from? I'm not seeing either under the jboss-logging organization https://github.com/jboss-logging.

[2021-02-04 17:22] jamezp commented on #14819
It looks like that came in via https://github.com/quarkusio/quarkus/commit/441742ebbf8d270c7464e134ee44c62c02c8b185. I'm not sure that is right. That is a very old dependency released over 10 years ago now. I only see a reference to that `org.jboss.logging:jboss-logging-jdk` in the `bom/application/pom.xml` and a reference in the documentation. I think it should be removed as a dependency.

[2021-02-04 17:35] radcortez commented on #14800
Thanks!

[2021-02-04 17:36] geoand commented on #14779
I'll start looking at this tomorrow to see how I can help

[2021-02-04 17:42] ebullient commented on #14813
The maps we have in hand are completely unordered. The most effective way to get a consistent answer is to configure that pattern.. anything we do to guess will be approximate at best.

[2021-02-04 17:43] loicmathieu commented on #11816
@rsvoboda now that codestarts exist for all flavors of GCF, can we close this one ?
Clean projects from our tooling will have a function so you will not experiance NPE anymore.

[2021-02-04 17:47] #14678 closed

[2021-02-04 17:50] loicmathieu commented on #14159
@imrabti you mix indexed with named parameters on your example.

Indexed parameter starts with `?` and named parameter with `:` .

It seems you want to use indexed parameters, so the correct usage would be:

[code]

[2021-02-04 20:20] Sanne commented on #14595
@mkouba , @cescoffier we'll need your insight - and your help probably as well :)

In a nutshell, it seems `@Inject` doesn't play well with Mutiny currently, especially with beans which need `@Disposes`: the injected object is available when the reactive chain is created, but when the events are actually using the bean this has been closed already.

A simple and straight forward solution would be

[2021-02-04 21:17] bfontana opened #14835 "Error in DockerFile.multistage Gradle script on quarkus.io Documentation"
**Describe the bug**
**The Gradle script** showing how to build a native image with **DockerFile.multistage** has a typo and it **doesn'twork**. Please see below. The "Expected Behavior" is the one fixed.

**Expected behavior**
.....

Stage 2 : create the docker final image
FROM registry.access.redhat.com/ubi8/ubi-minimal
WORKDIR /work/
COPY --from=build /usr/src/app/**build/target/*-runner** /wor

[2021-02-04 21:21] glefloch commented on #14835
Thanks @bfontana. I will take care of this one.

[2021-02-04 21:40] CurtisBaldwinson commented on #14812
I spent days despairing over reactive services not working in Quarkus tests. They only worked if called starting from the controller via RestAssured or other such rest simulator.

Eventually I got lucky and was able to inject a Mutiny.SessionFactory into the test:
[code]

And inside the test method itself, wrap it in a withSession:
[code]

[2021-02-04 21:59] greatapps4you commented on #8287
@juanmbellini I am glad I found someone like minded in the entire world. I thought I was the only one who read "Clean Architecture".

[2021-02-04 22:02] deathwaiting opened #14836 "MailTemplateInstance.send() can't be used in reactive API's"
**Describe the bug**
using `MailTemplateInstance.send()` with reasteasy-reactive causes a block in io thread.

**Expected behavior**
the method returns CompletionStage, it should be async

**Actual behavior**
the function does a block call which throws an exception in reas

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an

[2021-02-04 22:17] #14450 closed

[2021-02-04 22:55] ebullient commented on #14779
Created a comment in the current Vert.x PR with stashed build logs for reference (as a point in time cut): https://github.com/quarkusio/quarkus/pull/14685#issuecomment-773631093
Specifically of use here are the logs for panache with the postgres client
We also have a native failiure w/ GraphQL (an NPE reading JSON from a WebSocket is suggested by the stack)

[2021-02-05 00:42] MikeEdgar commented on #12909
@huw0 - yes, please feel free to open up an issue in smallrye-open-api so we don't forget about it :)

[2021-02-05 02:03] EricTing commented on #3084
I am confused by the official doc: https://quarkus.io/guides/rest-client.
If one uses `org.eclipse.microprofile.rest.client.inject.RegisterRestClient`, and return types can be `CompletionStage` or `Uni`, but under the hood it is still blocking?

[2021-02-05 03:03] stuartwdouglas commented on #14823
The reason for the current design is that @QuarkusTest only starts Quarkus once. The test resources have to be global, so the resources are started before Quarkus starts. If you use Quarkus then Quarkus can start and stop, which is why we only allow this facility through profiles. The next release of JUnit will allow us to specify a way to sort the tests so we should be able to always run tests wi

[2021-02-05 05:29] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/539401102

[2021-02-05 06:11] m-yassine1 commented on #14800
Yes I can confirm that I tried the project again by removing the optional and updating the properties to:
[code]
Still it is annoying since I have to specify all the properties. Nonetheless, thank you so much for the support and valiant effort!

In version 1.11.2, will the optional work so I may update my application accordingly?

I want to also stress that is nice to have this https://quarkus.io/

[2021-02-05 06:26] geoand commented on #8593
Seems like `camel-activemq` tests are failing

[2021-02-05 06:36] kie-ci commented on #14791
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/539402250

[2021-02-05 06:40] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/539402250

[2021-02-05 06:49] geoand commented on #6588
@sberyozkin can you take a look at the `security-keycloak-authorization-quickstart` failure?

Thanks

[2021-02-05 06:58] cescoffier commented on #13533
@KMUS @ntnhan94 Can you try adding the quarkus-rest-client extension and remove the resteasy extension and "fake" JAX-RS resource?

If that fixes it, we can easily detect that at build time and ask the user to add the extension explicitly.

[2021-02-05 07:04] cescoffier commented on #3084
@EricTing yes, under the hood, at the moment (because we are actively working on that) it uses a blocking http client. What is means is that it does not block the caller thread (when returning a Uni or a CS) but it offloads them work to another thread which is blocked.

[2021-02-05 07:16] gunnarmorling commented on #13533
Clement, can one have the non-Reactive REST client and Reactive RestEasy in
one app?

[2021-02-05 07:26] #14794 closed

[2021-02-05 07:36] jamesnetherton commented on #8593
Probably another network glitch:

`Caused by: com.github.dockerjava.api.exception.NotFoundException: Status 404: {"message":"No such image: testcontainers/ryuk:0.3.0"}`

Our Nightly Camel build with the latest Quarkus SNAPSHOT was fine.

[2021-02-05 07:47] geoand commented on #8593
Cool, let's see tomorrow :)

[2021-02-05 08:11] yrodiere commented on #14812
I suspect that injected sessions can only work properly when accessed from the VertX event loop. When we call `session.withTransaction($ -> session.persist(entity))`, here is what I think is happening:

* On the original non-vertx thread T1, `session.withTransaction` is called.
  * This creates a delegate session S1 in the request scope of T1.
  * This then calls `S1.withTransaction(...)`, which t

[2021-02-05 08:11] mutasemhidmi opened #14840 "Scalar.ID.class for graphql is giving an error"
Caused by: java.lang.NullPointerException: Cannot invoke "io.smallrye.graphql.schema.model.Reference.getType()" because "reference" is null

I'm getting the above error when I add Scalar.id to one of the properties

public class OrderDTO {

    @ToScalar(Scalar.ID.class)
    private String id;

    @NotEmpty
    @NotBlank
    private String title;

}

[2021-02-05 08:17] mutasemhidmi commented on #14840
this is the error

java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:64)
        at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.base/ja

[2021-02-05 08:20] phillip-kruger commented on #14840
You can just use the `@Id` annotation. Do remove the `@ToScalar(Scalar.ID.class)` and add the `@Id`.

See https://github.com/eclipse/microprofile-graphql/blob/1.0.x-service/api/src/main/java/org/eclipse/microprofile/graphql/Id.java

[2021-02-05 08:26] mutasemhidmi commented on #14840
@phillip-kruger thanks appreciated

[2021-02-05 08:26] #14840 closed

[2021-02-05 08:30] ngtampl94 commented on #13533
Hi @cescoffier,

The issue was fixed when I **added quarkus-rest-client** extension and **removed the resteasy** extension and "fake" JAX-RS resource.
Many thanks for your help.

[2021-02-05 08:57] rsvoboda commented on #11816
Funqy Google Cloud Functions doesn't have codestart - https://code.quarkus.io/?extension-search=funqy google

And also steps to reproduce fail with 1.11.1. Final.
[code]

[2021-02-05 08:57] mkouba commented on #14595
The problem is that a `@ConsumeEvent` method is executed with a new request context (unless already active) and this context is destroyed when the invocation completes, and so the `Mutiny.Session` can be destroyed before the `Multi` is completed.

I think that we should be able to fix this and implement something similar to our reactive routes handlers where the request context is destroyed when t

[2021-02-05 09:02] rsvoboda commented on #14608
Reopening the issue as it got auto-closed by merging JavaDoc update PR.

[2021-02-05 09:04] Sanne commented on #14595
Sounds good @mkouba , thanks! Can I assign this issue to you?

[2021-02-05 09:10] ch3rub1 commented on #14789
To facilitate the feature integration, we can also imagine a `MongoDatabaseResolver` instead of a `TenantResolver`.
With this, developpers could simply provide an implementation of this interface to determine which database will be used by Mongo Panache. These mongo databases can be on the same cluster, on different clusters... developers have the liberty to implement any kind of multitenancy whit

[2021-02-05 09:13] famod commented on #14823
@stuartwdouglas

Interesting! Do you have a link to an issue or PR for that change?
IIRC, Maven Surefire passed JUnit4 tests one by one to the forked test JVM, so that the test framework couldn't do anything about the order.
I suppose this works differently for JUnit5?

[2021-02-05 09:27] glefloch commented on #14835
Actually the Dockerfile seems to be correct, the gradle task outputs the runner binary in the `build/` directory. Can you try running `./gradlew clean quarkusBuild -Dquarkus.package.type=native` to validate that the binary is generated in the `build/` directory?

[2021-02-05 09:28] ch3rub1 opened #14842 "[Mongodb Client Extension] Expose MongoTestResource"
**Description**
It seems there is no quarkus test resource available to perform some integration tests with MongoDB.
We manage to do this kind of testing by providing an implementation of `QuarkusTestResourceLifecycleManager` which start ans stop a embed mongo database (using de.flapdoodle.embed.mongo) but this test resource could be provided by default, with the use on mongodb client extension.

[2021-02-05 09:29] hacst commented on #14813
I tried your original and
`quarkus.micrometer.binder.vertx.match-pattern=/test/hello/\\d+/\\d+=/test/hello/{foo}/{bar}`
to try to fix the reproducer but it had no effect on the metrics (can't remember the other attempts).

I dug a bit deeper into the code and noticed that this filter isn't actually executed as part of any of any normal vertx filter chains. From what I can tell it is explicitly run

[2021-02-05 09:44] geoand commented on #14779
@cescoffier which tests should I be looking to see the problems with Jackson?

[2021-02-05 09:48] radcortez commented on #14800
Yes. And you can do it right now, by overriding the `smallrye-config` version in your dependencies. Just use version `1.10.2`.

Moving forward the recommended API, is the `@ConfigMapping` from SR Config. What are you missing in SR Config?

[2021-02-05 09:56] cescoffier commented on #13533
@gunnarmorling it should work, do you see an issue? Soon we will have the reactive client for RestEasy reactive

[2021-02-05 09:58] loicmathieu commented on #11816
Ah yes, codestart for funqy will be part of 1.12, 1.11 only provides codestart for the two other flavors.

[2021-02-05 10:06] gunnarmorling commented on #13533
No, none specifically. Just was wondering whether it'd be a problem, as you cannot mix RestEasy and RestEasy Reactive (Serving components).

[2021-02-05 10:07] mkonzal opened #14844 "Generated Openshift manifest contains cp argument with all dependencies when uber-jar packaging is used"
**Describe the bug**
When uber-jar packaging is selected then the generated openshift manifest contains in the cp argument list of nonexisting files `/deployments/lib/*` like in the legacy-jar packaging case.

**Expected behavior**
cp argument with list of dependencies is not part of the arguments when uber-jar packaging is active.

**To Reproduce**
'mvn clean package` on a Quarkus project where u

[2021-02-05 10:15] Sanne opened #14845 "Removal of CDI producers for Hibernate Reactive Sessions"
**Description**
There are currently multiple problems with the ability to inject a `Stage.Session` or a `Mutiny.Session` related with, and not only:

- the fact that such beans get disposed before the execution of the operation
- the fact that some operations are delegated to a different thread, leading for the ArC proxy to return a different instance from its threadlocal

While we can (and should

[2021-02-05 10:18] radtriste commented on #14791
@geoand Last thing
Build succeeded but the job is marked as FAILED due to:

[code]
can you have a look ?

[2021-02-05 10:18] DavideD commented on #14845
Relates to:
- https://github.com/quarkusio/quarkus/issues/14595 hibernate-reactive and Vert.x EventBus - Session/EntityManager closes too early
- https://github.com/quarkusio/quarkus/issues/14812 Hibernate Reactive with Stage API throws ContextNotActiveException on flush

[2021-02-05 10:28] geoand commented on #14791
I saw that but I think the problem is on your side.
See https://github.com/quarkusio/quarkus-ecosystem-ci#what-do-i-need-to-do-as-a-quarkus-platform-participant point `1`.

Basically you should close this issue, create a new one with user `kie-ci` (as has been done for #12486) and then update `info.yaml` in ecosystem-ci with the new ticket number

[2021-02-05 10:28] geoand commented on #14844
cc @iocanel

[2021-02-05 10:32] radtriste commented on #14791
oh I see. gonna check that.
Thx !

[2021-02-05 10:34] pmlopes commented on #14779
@ebullient @cescoffier can you point me to a test that is failing due to the `*` "missing" in the route. This issue requires a further investigation from my side as

https://gist.github.com/pmlopes/553e49217b0784b55f4b8c1a2760fdcc

Seems to yield the "expected" result on 3.9.5, 4.0.0, 4.0.1 and master. So I'm assuming that the issue is probably something else and adding a `*` just triggers a side-

[2021-02-05 10:36] geoand commented on #14791
np!

[2021-02-05 10:40] angrymango commented on #7440
Hi @gastaldi, I'm interested. I had a look at the required changes and they should be fine.

@dominik42 I'm not really sure of the best way to handle the pro features/dialects. Any suggestions?

[2021-02-05 10:40] blinkfox opened #14846 "Quarkus Command mod with picocli ANSI Color problem"
**Quarkus Command mod with picocli ANSI Color problem**

Hello, I am using `Quarkus`, `picocli` and `jansi` to build a cli program, and I encountered a small problem.

When building it as a native image under Windows, it cannot display ANSI colors, but when I only use `picocli` + `jansi`, it works normally.

- [picocli-test](https://github.com/blinkfox/picocli-test/tree/master/picocli-test) It is

[2021-02-05 10:54] hrstoyanov opened #14847 "Allow specifying optional config section with YAML configuration"
**Describe the bug**
See [here](https://quarkusio.zulipchat.com/#narrow/stream/187030-sers/topic/Option.20configuration.20not.20working.3F)
**Expected behavior**
Optional configuration sections should be allowed with Quarkus YAML config.

**Actual behavior**
I know of no way of specifying optional section with YAML config.

**To Reproduce**
Unpack this project
[issue_optional_config.zip](https://g

[2021-02-05 10:59] gavinking commented on #14845
Uffff, I dunno, it seems to me that whenever we ask people to do that, it's a disaster. They make singleton `Session`s, or open  lots of little sessions, or whatever.

It's not like it's easier for the *user* to implement the necessary tx affinity than it is for us to implement it.

[2021-02-05 11:00] hrstoyanov commented on #14847
@geoand

[2021-02-05 11:01] maxandersen commented on #7440
Look in hibernate extension how dialect's are chosen. Should be good as inspiration.

[2021-02-05 11:02] Sanne commented on #14845
@gavinking sure I'm not advocating for this to be permanent. But we're having a ton of issues with it now, with many confused users hitting problems, and not much time to fix them all.

I would rather have this little inconvenience so that people can actually give feedback on other aspects of Hibernate Reactive - it's easy to re-introduce when we figured it all out.

[2021-02-05 11:17] cmasantos commented on #14823
I agree that the QuarkusTestResource scope can be really weird if one is not aware of it. We are annotating a class and suddenly it's working everywhere. You can just abstract the container's life cycle on a base class but be careful if you are running tests in parallel.

[2021-02-05 12:09] akoufa opened #14850 "Resteasy Reactive Security Context Exception"
Hello. I am trying to update the security context in a RequestFilter like this:
`context.securityContext = GatewaySecurityContext(context.securityContext, principalDetails) `.

This is working with RestEasy Classic. Unfortunately using RestEasy Reactive I am getting the following error:
[code]

The issue is that in the following code

[code]
**oldIdentity** is **null** in the `SecurityContextOverr

[2021-02-05 12:27] mgwillem commented on #14762
Hi ! I'm curious to know if this `orm.xml` file support could be added soon in Quakus. What do you think ?

[2021-02-05 12:35] pjgg opened #14851 "Quarkus keycloak authorization usability improvements."
## Description
I would like to talk about how to `quarkus-keycloak-authorization` extension handler redirections and path exclusions because I think that could be improved from a usability point of view.

### Scenario
So, let's imagine that we have a Rest application that is going to be deployed on openshift/k8s. Typically these applications use to have at least the following non-application endpo

[2021-02-05 12:38] geoand commented on #14851
cc @sberyozkin

[2021-02-05 12:57] ahmadshabib commented on #13832
the way it is implemented in hibernate-orm is this
https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/main/java/org/hibernate/internal/FilterImpl.java.
currently, I am trying to implement something for my project and I found out that it is not supported.
I would like to work on the issue if you like to, but the cases here are important but as @FroMage mentioned these checks

[2021-02-05 13:05] Sanne commented on #14762
I must admit I'm not sure about the timeline.

There's a couple more urgent tasks that my team needs to finish first, and I personally need to take some time off - so it depends if I can delegate this one, but it's not simple to do as far as I remember from the initial POC :) But that's been a couple years ago so I suppose it's possible that this is much simpler noways, as our tools improved and w

[2021-02-05 13:05] geoand commented on #14829
I'll take a look next week

[2021-02-05 13:24] rsvoboda commented on #11816
1.12 should be out near the end of Feb - https://github.com/quarkusio/quarkus/wiki/Release-Planning
Adding a reminder to get back to this issue.

[2021-02-05 13:26] jamesnetherton commented on #8593
I've started to see the `ryuk` failure elsewhere so opened https://github.com/quarkusio/quarkus-platform/pull/180 to bump testcontainers which hopefully fixes things. More info in https://github.com/testcontainers/testcontainers-java/issues/3574.

[2021-02-05 13:37] mgwillem commented on #14762
Thanks @Sanne for your update! I hope it will be easier to implement than expected :)

[2021-02-05 13:45] #9287 closed

[2021-02-05 13:50] ebullient commented on #14813
Well, I agree with you, which is why the matchPattern is there (and should work). (regardless of what *other* path might be taken, as we have lots of ways to handle http traffic).

I'll update the current tests to chase why the pattern isn't matching, I must have made a mistake somewhere.
I think the *best* way is to anchor the annotation information somewhere at bean processing time (as we know i

[2021-02-05 13:51] ebullient commented on #14779
I'm creating a new branch to rebase on the fresh vertx snapshot.. and I'll.. "unfix" one of the places so you can see the failure. give me a few minutes..

[2021-02-05 14:24] sberyozkin opened #14856 "OIDC CodeAuthentitcationMechanism does not set state and session cookies 'secure` parameter to true if 'force-redirect-https-scheme' is enabled"
**Description**
As reported at https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/OIDC.20Session.20Cookie.20-.20Samesite.20.20Policy, the state and session cookies do not have `secure=true` as a result

[2021-02-05 14:29] geoand commented on #14601
@gunnarmorling #14852 adds the necessary support if you want to take it for a spin :)

[2021-02-05 14:29] zellerr commented on #14172
Hi, I just wanted to create an issue for this behaviour and found that it is already reported.

**Reproducer:**

1. Create new project for Maven archetype "config-quickstart"
2. Include extension dependency "quarkus-config-yaml"
2. Add new class `GreetingConfig` as a holder for the configuration properties
3. Inject the `GreetingConfig` in the `GreetingResource` and return the property value in th

[2021-02-05 14:51] sberyozkin commented on #14851
CC @pedroigor

[2021-02-05 15:20] pdolezal commented on #2765
I personally hate this behavior. There is IMO a big difference between an absent property and a string property with an empty string as its value. `Optional` is supposed to indicate possibly absent value, i.e., something which would be `null` otherwise. An empty string is not absent, it is just an empty string. What frustrated me even more was the moment when I specified `@ConfigProperty(name = "f

[2021-02-05 15:20] #14800 closed

[2021-02-05 16:38] dmlloyd commented on #2765
It's the best we can do within the limits of the Microprofile-based configuration framework.  Within that framework, an empty value is used to delete a lower-priority configuration value.  It's a tradeoff: either there's no good way to represent a present-but-empty string (like today), or there's no good way to explicitly delete a value.  The former problem mostly affects extension developers and

[2021-02-05 16:39] geoand commented on #14172
I tried again and I still could not reproduce the issue following the steps you mentioned...

[2021-02-05 16:49] geoand commented on #14844
@iocanel I don't even see where `-cp` comes from. Can you take a look at this?

[2021-02-05 17:04] kie-ci opened #14860 "[CI] - Kogito extension + Quarkus LTS"
This issue will be open and closed dependent on the state of https://github.com/kiegroup/kogito-runtimes building against Quarkus LTS branch.

If you have interest in being notified of this subscribe to the issue.

[2021-02-05 17:08] radtriste commented on #14791
Created new issue https://github.com/quarkusio/quarkus/issues/14860 and PR https://github.com/quarkusio/quarkus-ecosystem-ci/pull/41

[2021-02-05 17:08] #14791 closed

[2021-02-05 17:35] CurtisBaldwinson commented on #14850
`.getDeferredIdentity()` is asynchronous so when you're calling `oldIdentity.map` it hasn't received a value yet. You'll want to react when the value is returned:

[code]

[2021-02-05 17:42] DicksengA opened #14861 "Jib containers add config alwaysCacheBaseImage option"
In my company our openshift docker registry mainfest seems to return manifest 2.1
This causes "Diff ID not available for digest-only layer".

Referencing
Based on https://github.com/GoogleContainerTools/jib/issues/2147

They suggested to use -Djib.alwaysCacheBaseImage=true to workaround the problem.

Containerizer containerizer;  setAlwaysCacheBaseImage(boolean alwaysCacheBaseImage)

[2021-02-05 18:27] gastaldi commented on #7440
@angrymango repository created in https://github.com/quarkiverse/quarkus-jooq and added you as the lead maintainer of this project.

Please follow the guidelines in https://github.com/quarkiverse/quarkiverse/wiki for naming your groupId, artifactId and package names.

Closing this issue now

[2021-02-05 18:27] #7440 closed

[2021-02-05 18:31] drubio-tlnd commented on #12219
Any update on this topic ?
I'm also trying to do something similar in order to check entitlements, authorities etc. as it's done with `@RolesAllowed`. Either by another annotation or by enriching the roles with custom values before `@RoleAllowed` is executed

[2021-02-05 18:33] hrstoyanov commented on #14847
@geoand thanks for looking into this issue, any chance this gets fixed in 1.11.x?

[2021-02-05 18:39] geoand commented on #14847
Most likely yes, but I can't make any guarantee on which micro it will be in.

[2021-02-05 19:54] akoufa commented on #14532
I was checking again and I found that setting the config value `quarkus.redis.pool-cleaner-interval` fixed the issue I am getting after some `executor-thread-1) READONLY You can't write against a read only replica.` the following `[io.ver.red.cli.imp.ConnectionManager] (vert.x-eventloop-thread-1) Unhandled Error: SWITCH-MASTER Received +switch-master message from Redis Sentinel.` and then redis wo

[2021-02-05 20:21] patriot1burke commented on #12551
Quarkus is initialized by a static block and Azure Functions java worker no longer wraps the classloader of the function class with TCL.  At least that's what I think it is.  I should have a PR early next week to support the new azure functions runtimes.

[2021-02-05 20:47] sebthom opened #14865 "@DefaultValue for enums ignored in openapi.yaml / swagger-ui"
**Describe the bug**

Specifying a default value for an enum parameter on a REST API has no effect on the generated openapi.yaml or a pre-selection of the respective value in the swagger-ui.

[code]

**Expected behavior**

Openapi.yaml should specify "DOG" as parameter default and the "DOG" entry should also be pre-selected in swagger-ui.

**Actual behavior**

The first entry of the enum values so

[2021-02-05 21:05] drissamri commented on #6376
This only works for JAX-RS though right? Is there any similar way for Quarkus Vert.x?

[code]

[2021-02-05 21:18] geoand commented on #14829
Seems similar to https://github.com/quarkusio/quarkus/issues/12116

[2021-02-05 21:44] EricTing commented on #3084
Thanks for the explanation.
Is it still recommended to use `org.eclipse.microprofile.rest.client.inject.RegisterRestClient`?
I am assuming in the near future, implementation will be async http client and that is transparent to the end user?

[2021-02-05 21:54] geoand commented on #14847
I took a look at this and actually I am not sure I want to go through with it.

The reason is because the semantics of having the config section be Optional are a little hazy.
Say you make the sectional `Optional`, then under what conditional does rhe method return a value? When at least one property is set, when all properties are set?
If you go with the first option (which on the face of it seem

[2021-02-05 22:17] ebullient commented on #14779
https://github.com/quarkusio/quarkus/pull/14868 -- I've created a new draft PR pointing to a branch that has a digested view of the changes @cescoffier and I have attempted this far.

I'm currently running additional tests (to make sure I know what is/isn't broken). I'll create individual issues against that branch with instructions for how to recreate the failure. I'll update the checklist at the

[2021-02-05 22:21] patriot1burke commented on #6376
works with Vert.x Web, Servlet, JAX-RS, Funqy, anything that is based on Quarkus + Netty.

[2021-02-05 22:24] patriot1burke commented on #6376
Oh, you mean, getting the context stuff.  You can get it in a vertx handler but its a bit internal API and convoluted.  getContextObjects is keyed by the lambda context classses.

MultiMap qheaders = routingContext.request().headers();
        if (qheaders instanceof QuarkusHttpHeaders) {
            for (Map.Entry<Class<?>, Object> entry : ((QuarkusHttpHeaders) qheaders).getContextObjects().entry

[2021-02-05 23:15] ebullient opened #14870 "Vert.x 4: question about changes for routes"
Related to #14779

In first pass at migration to Vert.x 4.0, the following changes were required for some routes.

For example, for `extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java`, the route declaration needed to change from:

[code]

to

[code]

It's possible we were doing something incorrectly before. I'm fairly sure the

[2021-02-06 02:30] zhfeng opened #14871 "[Quarkus Artemis] Support transaction manager integration"
**Description**
Currently it does not work in the JTA XA transaction. So I'd like to integrate with the Transaction Manager, especially from the narayana-jta extension.

**Implementation ideas**
Some ideas are from Argroal extesion to set the transaction integration type with

- ENABLED (integration with JTA TransactionManager of Quarkus and enlist in the XA transaction automatically)
- DISABLED (

[2021-02-06 05:37] SaumyaSingh1 opened #14872 "Dev UI - display better error messages instead of `NOT_FOUND` in Qute templates"
**Description**
I am working on endpoints page in RESTEasy Reactive extension. I am inserting expression values in my template, most of the times I get `RESOURCES_NOT_FOUND` or `NOT_FOUND`. That means I am looking at fields that don't exist.

I think that an error message that included which part was null would help me a lot, more than RESOURCES_NOT_FOUND :)

![image](https://user-images.githubuse

[2021-02-06 07:44] dominik42 commented on #7440
@angrymango hey, would be cool if we could maintain an official quarkus jooq extension...
The only change regarding the use of PRO version of jooq is the follwing line in `io.quarkus.ext.jooq.runtime.AbstractDslContextProducer`:

` } else if ("SQLServer".equalsIgnoreCase(sqlDialect) || "MSSQL".equalsIgnoreCase(sqlDialect)) {
            context = DSL.using(ds, SQLDialect.SQLSERVER);
`

The mention

[2021-02-06 10:29] nham-xuan-thanh commented on #9313
Nice @pedrolopix ! But I can't debug, when click button it throw null pointer!
Any solution for debug, thanks!

[2021-02-06 10:41] mutasemhidmi opened #14874 "getting arguments in expanding and graphql api function"
@Query("allOrders")
    public Order allOrders(@DefaultValue("0") int page, @DefaultValue("10") int pageSize, FilterQuery[] filters) {

    }

      public PageInfo pageInfo(@Source Order order) {
        // get arguments here
     }

trying to get arguments (page, pageSoize, filters )in the pageinfo function above but I'm getting null when I use this.context.getArguments(), so is it possible to g

[2021-02-06 10:51] #14874 closed

[2021-02-06 12:46] pedrolopix commented on #9313
Just open the pom.xml in intellij as a project, then start CDIApplication.main as a debug, it should work.

[2021-02-06 15:22] nham-xuan-thanh commented on #9313
Perfect @pedrolopix ! Many thanks !!!

[2021-02-06 15:31] zhfeng commented on #14871
The Narayana JMS only supports JMS 1.1 right now. I'm investigating that if it is possible to support JMS 2.0.

[2021-02-06 16:50] m-yassine1 commented on #14800
I am not missing anything and everything is working fine. I am just saying it would be nicer to use the Quarkus config annotation instead of the SR. Given the fact that in Intilj, it will create a shortcut for them inside the application.recourse file which can be accessed via ctrl+space. This can be seen in the screenshots I shared, they aren't highlighted as warnings as shown in the image:
![ima

[2021-02-06 19:16] indalaterre opened #14875 "@Blocking annotation not working with @RestForm parameters"
Hi,
I found this strange behavior. In my app I've annotated my Application class with @Blocking annotation since I'm not using yet Hibernate Reactive.
The queries are performed so everything goes well.

I than added a new endpoint with some @RestForm attributes and I had this errror
`java.lang.IllegalStateException: You have attempted to perform a blocking operation on a IO thread. This is not all

[2021-02-06 19:17] Legion2 commented on #13845
Is there a workaround for setting this config and other ui configuration options?

[2021-02-06 19:47] hrstoyanov commented on #14847
@geoand
Not sure why it is confusing - if an optional section is partially populated, extracting values from non-existing fields should result in default value for the type?

For example, here is what one could expect for the "server" property:

[code]

[code]

I should see:
[code]

**What else is a developer to do without optional sections? How would you deal with the case where you want to make

[2021-02-06 19:47] taf-team-aki opened #14876 "Native image build fail if quarkus-resteasy-reactive and quarkus-smallrye-opentracing are used."
**Describe the bug**
If quarkus-resteasy-reactive and quarkus-smallrye-opentracing are used in the same project the native image build fails.

**Expected behavior**
Native image will be created.

**Actual behavior**
Build process interrupts with
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create a simple quarkus project
   mvn io.quarkus:quarkus-maven-plugin:1.11.1.Final:create \

[2021-02-06 20:10] gsmet commented on #14875
@indalaterre any chance you could provide a small reproducer?

/cc @geoand

[2021-02-06 20:11] geoand commented on #14875
I am pretty sure that the first commit from #14852 takes care of the issue

[2021-02-06 20:17] geoand commented on #14847
I explained why I think it's confusing, I don't think there is much point in reiterating it.

You mention the default value for the subsections, but what would happen if there is no default value?

The best I can do is give it some thought and get back to you, but I'll be honest, I don't think I'll implement this.

[2021-02-06 20:22] geoand commented on #14847
Another complication is that in MP Config which is used at the lowest level for configuration, there is no support for multi level configuration - as one uses in YAML - so that means that all configuration options are mapped to a flat property structure.
This really complicates things from a YAML point of view.
Unfortunately we can't do much at the moment, but it's certainly a design choice that n

[2021-02-06 20:59] indalaterre commented on #14875
Hi, thanks for the response.
This is the demo project and a stack trace of the problem
[demo.zip](https://github.com/quarkusio/quarkus/files/5937650/demo.zip)
[stacktrace.txt](https://github.com/quarkusio/quarkus/files/5937651/stacktrace.txt)

[2021-02-06 21:14] famod opened #14878 "Remove uberJar parameter from Maven mojos/goals in 1.13"
**Description**
[As agreed on the mailing list](https://groups.google.com/g/quarkus-dev/c/CM7_La611Bw), the `uberJar` parameter in `QuarkusBootstrapMojo` (`BuildMojo` and `GenerateCodeMojo` respectively) should not be used anymore.
Instead, `quarkus.package.type=uber-jar` shall be used, as already documented: https://quarkus.io/guides/maven-tooling#uber-jar-maven

**Implementation ideas**

- [x] l

[2021-02-06 22:40] BillyYccc commented on #14564
Hi, I think there're several reasons for Vert.x MySQL client batching being slower compared to Vert.x Postgres client.

1. MySQL server does not provide a batching protocol natively and the MySQL client execute batches by composing unary executions, this would add many network round-trips leading to decreasing the throughput and adding latency. For example let us batch with 256 iterations, for Pos

[2021-02-07 02:40] angelo-chan commented on #14819
this also comes from the quarkus logging guide:

![image](https://user-images.githubusercontent.com/8653839/107134867-d3576980-6930-11eb-8079-b7d7d73888bc.png)

[2021-02-07 03:23] angelo-chan opened #14879 "swagger ui resource(js, css, ico, png) sometimes not found in quarkus:dev mode"
**Describe the bug**
when start the application using quarkus:dev and request the swagger ui, sometimes, the swagger UI resource missing

**Expected behavior**
Swagger UI always can request successfully

**Actual behavior**
Sometimes request swagger UI resource missing

**Screenshots**

![image](https://user-images.githubusercontent.com/8653839/107135483-12d48480-6936-11eb-8897-5aa476eea9c0.png)

[2021-02-07 04:01] phillip-kruger commented on #14879
Hi, this is "fixed" in 1.12.

See https://github.com/quarkusio/quarkus/pull/14499

[2021-02-07 05:40] #14861 closed

[2021-02-07 05:40] stuartwdouglas opened #14881 "Hibernate data loss bug: Hibernate can null out a row in some circumstances"
Hibernate can attempt to write unloaded proxy state to the database in some circumstances, effectively 'nulling out' a row. This can happen in transactions that are otherwise read only.

Reproducer is here:

https://github.com/quarkusio/quarkus/compare/master...stuartwdouglas:hibernate-data-loss

Basically if you:
- Initialize a collection field with an empty collection
- And have a date field (or

[2021-02-07 05:46] geoand commented on #14875
https://github.com/quarkusio/quarkus/pull/14880 takes care of the issue

[2021-02-07 06:40] geoand commented on #14876
https://github.com/quarkusio/quarkus/pull/14882 fixes the issue

[2021-02-07 07:05] dakular commented on #1029
[](https://stackoverflow.com/questions/51680709/colored-text-output-in-powershell-console-using-ansi-vt100-codes)

While console windows in Windows 10 do support VT (Virtual Terminal) / ANSI escape sequences in principle, support is turned OFF by default.

In short: In registry key [HKEY_CURRENT_USER\Console], create or set the VirtualTerminalLevel DWORD value to 1
From PowerShell, you can do this

[2021-02-07 07:32] glefloch commented on #14878
@famod we can also set this param in gradle plugin such as `gradle quarkusBuild -PuberJar`. I guess this should also be removed no? I can handle the gradle part.

[2021-02-07 07:35] maxandersen commented on #1029
Are there something you want to report or just documenting additional ways to enable coloring on windows terminals ?

[2021-02-07 07:59] cescoffier commented on #3084
Yes, you can still use the rest client. The update will be transparent for you.

The vertx web client is already non blocking and provide a lower level API.

So basically you decide if you want a declarative approach (rest client) or a more low level experience (vertx web client)

[2021-02-07 08:21] zemiak opened #14883 "@Transactional does not work with reactive rest/panache"
**Describe the bug**
When I annotate a `@POST` (or whatever) method/rest class as ```@Transactional```, I expect transactions to work.

**Expected behavior**
Method should start a transaction before entering and closing it (doing DB commit) afterwards.

**Actual behavior**
Unless I close the code in Panache.withTransaction, the persisting does not work.

**To Reproduce**
https://github.com/zemiak/

[2021-02-07 09:29] famod commented on #14878
@glefloch I think this makes sense! We first need to deprecate it and log a warning to give users time until it is removed in 1.13.
If all goes to plan I'll create a PR later today for the Maven part. So if you would cover the Gradle part that would be great! Thanks!

[2021-02-07 10:38] Sanne commented on #14881
Thanks Stuart.  I suspect this is a duplicate of the one @dreab8 is working on. @dreab8 could you check and confirm?

[2021-02-07 11:59] lferna opened #14884 "Error trying to fetch image in Openshift Serverless"
**Describe the bug**
Deploying a Quarkus image on Openshift Serverless raises next error:
`Unable to fetch image "<session_user>/openshift-quickstart:1.0.0-SNAPSHOT" UNAUTHORIZED: authentication required;`

Added the following properties to my application.properties

[code]
And run: `/mvnw clean package -Dquarkus.kubernetes.deploy=true`

But the user that uses to fetch the image is different (sess

[2021-02-07 12:03] geoand commented on #14884
cc @iocanel

[2021-02-07 12:19] famod commented on #14878
/cc @gsmet @aloubyansky @stuartwdouglas FYI ^ (Gradle part wasn't discussed before)

[2021-02-07 12:44] drissamri commented on #6376
Ouch, is this worth a ticket or really how it should be exposed?

[code]

The main reason why I'd choose for Vert.x over JAXRS because the cold starts seems quite a bit faster

[2021-02-07 12:56] simeonlin commented on #9210
This missing feature is the reason why I still choose Hibernate Panache over MongoDB Panache in my Projects.
Is there any plan on working on this issue? I would love use MongoDB Panache with this. 😄

[2021-02-07 13:58] PrajwalG22 commented on #2003
Hi, I am just a beginner with a lot of enthusiasm.
Can you tell me how to get started?

[2021-02-07 15:02] maimArt commented on #2003
Hi @PrajwalG22 . Sorry i did not write a documentation for this yet.
But seems like no maintainer is interested in this. :(

[2021-02-07 16:08] drissamri commented on #12168
I guess the AWS/DynamoDB extension has to be extended (https://github.com/quarkusio/quarkus/pull/4968) to support the Enhanced Mapper. It would be great that the AWS CRT HTTP Client would also be supported since it's a lot faster: https://aws.amazon.com/about-aws/whats-new/2020/09/aws-crt-http-client-in-aws-sdk-for-java-2x/

[2021-02-07 17:03] lferna commented on #14884
Adding this property:
`quarkus.container-image.group=lferna`

The error disappears but the image can't be found:

`Unable to fetch image "lferna/openshift-quickstart:1.0.0-SNAPSHOT": failed to resolve image to digest: failed to fetch image information: GET https://index.docker.io/v2/lferna/openshift-quickstart/manifests/1.0.0-SNAPSHOT: MANIFEST_UNKNOWN: manifest unknown; map[Tag:1.0.0-SNAPSHOT]
`

[2021-02-07 19:45] tobiasstadler opened #14885 "Export invocation order"
**Description**
I would like see which filters/interceptors in which order are run on a particular JAX-RS resource/CDI bean. Ideally the invocation order can be exported during the (maven) build.

**Implementation ideas**

[2021-02-07 20:04] famod commented on #14885
This sounds like a nice addition to Dev UI? 🤔 /cc @geoand @gsmet

[2021-02-07 20:14] geoand commented on #14885
That's a great idea indeed!

It should be easy to implement if someone wants to take it up - otherwise I'll get to it sometime (hopefully soon)

[2021-02-07 20:17] Legion2 commented on #13845
I want to make a pull request for this, but I don't know how to support the nested configurations such as `additionalQueryStringParams` for OAuth 2.0 configuration `initOAuth` method.

[2021-02-07 20:17] famod commented on #14878
@glefloch FYI, #14886 deprecates the mojo parameter and logs a warning.

[2021-02-07 20:43] iocanel commented on #14884
I have some tests attend for that particular setup! I'll have a look and see if it's a regression or something

[2021-02-07 21:17] phillip-kruger commented on #13845
You can do a PR and mark it as WIP (or draft) and I can try and help from there ?

[2021-02-07 21:31] #14875 closed

[2021-02-07 21:56] Legion2 commented on #13845
Ok, after looking into it more, I found that this has to be first implemented in `smallrye-open-api` see the [TODO](https://github.com/smallrye/smallrye-open-api/blob/master/ui/open-api-ui/src/main/java/io/smallrye/openapi/ui/IndexCreator.java#L213-L216)

[2021-02-07 22:01] flobjective opened #14887 "MicroMeter extension: JSONExporter issue with "NaN" values"
**Describe the bug**
The JSON-Exporter for the micrometer metrics throws a NumberFormatException when a Gauge that is based on weak reference returns "NaN".
According to https://micrometer.io/docs/concepts#_why_is_my_gauge_reporting_nan_or_disappearing a Gauge's value can get garbage-collected if it's not using a strong-reference. This happened to me for the Gauge "system.cpu.usage" which leads th

[2021-02-07 22:06] Legion2 commented on #13845
I created an Issue there https://github.com/smallrye/smallrye-open-api/issues/663

[2021-02-07 22:39] stuartwdouglas commented on #14823
https://github.com/junit-team/junit5/commit/b3ce7aefa14b2157f87c0004c898e8857d66adeb is the new ordering support.

[2021-02-08 05:38] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/546914399

[2021-02-08 05:54] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/546915745

[2021-02-08 05:58] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/546915745

[2021-02-08 07:45] mkouba commented on #14872
Hi @SaumyaSingh1, it's definitely possible. The "regular" qute users can control this behavior via the `quarkus.qute.property-not-found-strategy` config property but can add a custom result mapper in the Dev UI. What behavior would you prefer?

[2021-02-08 07:54] #11156 closed

[2021-02-08 07:55] iocanel commented on #14525
@geoand we can't force working directory to `/deployments` as there are cases that this might no be true.
I'll look into doing the later.

[2021-02-08 08:10] vietj commented on #14779
@ebullient I added support for getting the request context with this commit https://github.com/eclipse-vertx/vert.x/issues/3792

[2021-02-08 08:18] cescoffier commented on #14779
@vietj Can you point me to the PR? I can't find it.

[2021-02-08 08:28] SaumyaSingh1 commented on #14872
ok great, basically instead of that `NOT_FOUND` , I want proper error message like what excatly is empty , hints ..
For this pusrpose do I need to implement `TemplateException` ?

[2021-02-08 08:30] vsevel opened #14889 "Missing warning on unknown application configuration property"
**Describe the bug**
At startup Quarkus does not report an unknown application configuration property, but it does for quarkus properties.
This means that if we make a typo on an optional application property, there will be no warning, and we will be using the default value.

**Expected behavior**
There should be a warning such as:
[code]

**Actual behavior**
No warning.

**To Reproduce**

***appl

[2021-02-08 08:31] radtriste commented on #14860
cc @evacchi @mariofusco

[2021-02-08 08:32] iocanel commented on #14525
To further elaborate on working dir:

We only have a slight idea of where the actual jar will land on `Openshift` based builds. Even then the result may vary depending
on the builder image, `jvm vs native mode` and actual user configuration. For docker based builds this is controlled by the actual image and for jib based builds this is probably fixed.

For all these reasons we stay away from messi

[2021-02-08 08:39] geoand commented on #14525
I like ☝️

[2021-02-08 08:49] geoand commented on #14779
@cescoffier ☝️ :)

[2021-02-08 08:51] #14671 closed

[2021-02-08 08:51] dreab8 commented on #14881
Hi @Sanne , checked and It looks the same [issue](https://github.com/quarkusio/quarkus/issues/14201#issuecomment-769393820.) I worked on.

[2021-02-08 08:54] geoand commented on #14847
After taking another look at this, I stand by my initial assement. Once we have a redesign of MP Config based on what I mention above, we can have another look at this

[2021-02-08 09:00] #14876 closed

[2021-02-08 09:05] vietj commented on #14779
@cescoffier it was merged in master as it is very small

[2021-02-08 09:06] cescoffier commented on #14779
@vietj can you link the commit?

[2021-02-08 09:06] vietj commented on #14779
@ebullient I tried reproducing the SQL client issue locally by forking the new draft PR you did and I'm not able to reproduce it. The draft PR CI also does not seem to reproduce it (https://github.com/quarkusio/quarkus/pull/14868), can you investigate and double check whether it still happens or not ?

[2021-02-08 09:06] vietj commented on #14779
@cescoffier here is the issue https://github.com/eclipse-vertx/vert.x/issues/3792 - the commit is linked from this issue

[2021-02-08 09:08] vietj commented on #14779
@geoand are you handling the Jackson issue ?

[2021-02-08 09:08] cescoffier commented on #14779
@geoand I think it was `jpa-without-entity`, basically something that needs Vert.x but that does not have Jackson in the classpath.

[2021-02-08 09:10] cescoffier commented on #14779
@vietj the SQL client issue is the Panache / PostgreSQL issue? I had the issue in `integration-tests/hibernate-reactive-postgresql`

[2021-02-08 09:11] cescoffier commented on #14779
With this, we can simplify the RESTEasy Reactive TCCL issue.

[2021-02-08 09:13] geoand commented on #14779
I am goign to start looking at it as at the moment I don't know exactly what the issue is TBH

[2021-02-08 09:18] FroMage commented on #14883
For the moment, we've decided to make transaction demarcation explicit and not support the annotation when using Hibernate Reactive. We may reevaluate this in the future.

CC @Sanne @gavinking

[2021-02-08 09:18] #14883 closed

[2021-02-08 09:19] #14830 closed

[2021-02-08 09:20] vietj commented on #14779
@geoand ok

[2021-02-08 09:21] bmontuelle commented on #12925
@tsegismont Good morning, I made a small demo of this https://github.com/bmontuelle/quarkus-12925 there is a test trigerring the event and a runtime exception thrown in the consumer. This is with latest version 1.11.1.Final
What could be expected is an exception in a consumer annotated `@ConsumeEvent` should be caught and logged to error level
Observed : Exception is not shown at all using default

[2021-02-08 09:22] hrstoyanov commented on #14847
i tried several hacks this weekend, but nothing worked.. Dumping  MPConfig, will have to create my own parser.

Feel free to close this issue.

[2021-02-08 09:24] #14856 closed

[2021-02-08 09:25] geoand commented on #14847
I won't close it as it's a valid feature request. I will gladly implement it once MP Config has the appropriate architecture in place that will allow me to do so.

[2021-02-08 09:26] #14822 closed

[2021-02-08 09:30] kiziltas opened #14892 "Unable to build docker image. Please check your docker installation"
**Describe the bug**
mvn clean install fails with a docker related exception unexpectedly.

**Expected behavior**
Successful build when everything is set and up.

**Actual behavior**
An error occurs with the message `Unable to build docker image. Please check your docker installation`

[code]

**To Reproduce**
No reproducton

**Configuration**
[code]

**Environment (please complete the following i

[2021-02-08 09:30] tsegismont commented on #12925
@bmontuelle awesome, thanks

[2021-02-08 09:31] hrstoyanov commented on #14847
thanks. i appreciate it.

[2021-02-08 09:34] geoand commented on #14847
You bet!

[2021-02-08 09:51] vietj commented on #14779
@cescoffier can you clarify which module I should run for the SQL client issue ?

[2021-02-08 09:52] vietj commented on #14779
I ran https://github.com/quarkusio/quarkus/pull/14868 provided by @ebullient and the issue does not appear here, what am I missing ?

[2021-02-08 10:02] mjurc commented on #14525
I like this solution. The new property hides the provider.

Considering this is a very common use case, would it be possible to include it in 1.11.2? cc @gsmet

Also, the new property should be added to the docs. Again, it's a very common use case.

[2021-02-08 10:04] geoand commented on #14525
Once @iocanel has a PR with his proposed solution ready and we merge it, we will definitely include it in `1.11.x`

[2021-02-08 10:11] cescoffier commented on #14836
Working on it.

[2021-02-08 10:13] famod commented on #14892
I suppose when you type `docker -v` you get a proper output (no error)?

[2021-02-08 11:30] kiziltas commented on #14892
Indeed no error.

`Docker version 19.03.13, build 4484c46d9d`

I can use docker with other applications with no visible issues.

[2021-02-08 11:35] mkouba commented on #14595
I've sent a [pull request](https://github.com/quarkusio/quarkus/pull/14895) that should fix the problem. It's probably not 100% correct, i.e. it may not cover all use cases. What's changed: if a `@ConsumeEvent` method returns `CompletionStage`/`Uni` and the request was activated (i.e. was not active already) we destroy the request context when the asyn computation is completed.

@bamling I've trie

[2021-02-08 11:53] #14665 closed

[2021-02-08 11:54] vietj commented on #14779
I was able to reproduce the PostgreSQL issue and it seems that the issue is in Hibernate or Panache, here is the faulty SQL rejected by PostgreSQL:

[code]

here it should be instead

[code]

[2021-02-08 12:31] famod commented on #14892
So I guess there is a special error case being swallowed here: https://github.com/quarkusio/quarkus/blob/1.10.5.Final/extensions/container-image/container-image-docker/deployment/src/main/java/io/quarkus/container/image/docker/deployment/DockerWorking.java#L41-L43
/cc @geoand

@kiziltas If I would provide a branch with more diagnostic ouput, would you be able to build Quarkus locally?
E.g. https:/

[2021-02-08 12:32] famod commented on #14892
Or, you could try do debug yourself and check what `Exception e` is exactly in your case.

[2021-02-08 12:39] geoand commented on #14892
Yeah, we should probably at least print the exception message.

[2021-02-08 12:45] geoand commented on #14779
@cescoffier I am not sure I understand what the problem with Jackson and Vert.x 4 is.

Are you saying that where previously the `ObjectMapper` used by Vert.x 3.9.x was initialized at static-init, now it's initialized at runtime-init (when Jackson is present of course)?
I don't see that being the case TBH.

What I do think needs to be changed with regards to your substitutions is:

[code]

should b

[2021-02-08 12:57] tsegismont commented on #12925
@FroMage @bmontuelle @tlvlp I looked into the reproducer and found this has been fixed in `master` branch already.

So this is a duplicate of #14591

[2021-02-08 13:04] AntonFagerberg opened #14898 "InjectMock with package private method"
've noticed that when using `@InjectMock` on a class that declares package-private methods, you do get a mocked instance but the methods that are declared package private can't be stubbed.

Given a class like this:

[code]

And a test like this:

[code]

The `getPublic()` and `getProtected()` tests will work as expected but `getPackagePrivate()` will throw a null pointer since it's actually invoki

[2021-02-08 13:07] cescoffier commented on #12925
I confirmed, @mkouba fixed it last week or so.

[2021-02-08 13:39] ebullient commented on #14779
I didn't get all of the new items opened on Friday, and I try to do the best I can to take a break from work on the weekends. So I'll keep opening topic issues today (and will bring relevant comments over in that case).

[2021-02-08 13:41] ebullient commented on #14887
This should be fixed in #14750 (see 241c6367c2c5493c819e30f146fdb409be8407ee)

[2021-02-08 13:41] #12925 closed

[2021-02-08 13:43] #14745 closed

[2021-02-08 13:43] #14887 closed

[2021-02-08 14:16] vietj commented on #14779
@ebullient never mind, I've been able to reproduce see my other comment about issue with hibernate reactive / panache issuing incorrect queries

[2021-02-08 14:30] zakkak opened #14904 "Native image build failures on latest Graal"
**Describe the bug**
Quarkus TS fail with latest Graal (see https://github.com/oracle/graal/actions/runs/546718036)

In the upcoming release of GraalVM (21.1) instances of Random/SplittableRandom class won't be allowed in the native image heap. The corresponding patch can be seen [here](https://github.com/oracle/graal/commit/11b9817fb341f9447c300304fe461933bf79c2aa#diff-8ea159555f76609d835155ca3b7

[2021-02-08 14:32] ebullient opened #14905 "Vert.x 4 + Micrometer: Use request context attributes + requestRouted"
**Description**
Vert.x 4 brings some Observability API changes that could/should allow some cleanup of the code trying to determine the active route for the request.

Reference: eclipse-vertx/vert.x#3579 -> eclipse-vertx/vert.x#3792

Part of #14779

[2021-02-08 14:39] zakkak commented on #14904
Running with:
[code]
prints:
[code]

[2021-02-08 14:54] vietj commented on #14779
@ebullient I think we should have somebody from hibernate reactive look at the actual Postgres issue

[2021-02-08 15:12] zemiak commented on #14883
@FroMage I kinda disagree.

In non-reactive world, I use `@Transactional` for both Panache and Hibernate and it is both standardised and pretty explicit - class or method scoped - and working for both.

In reactive Hibernate, I have to inject a Mutiny.Session and I do not have to encapsulate the code in a transaction.
In reactive Panache, I have to use Panache.withTransaction around the code.

Thi

[2021-02-08 15:17] FroMage commented on #14883
Well, sure, it would be nice, but this is a Hibernate Reactive feature that is not implemented ATM, so the Panache layer can't use it until it lands. If it lands, we're still experimenting.

[2021-02-08 15:29] pmlopes commented on #14779
@ebullient @cescoffier this PR https://github.com/vert-x3/vertx-web/pull/1865 will address the use of `/*` on sub routers and will bring back the 3.x behavior.

The current PR solves an offset calculation bug and relaxes the `/` rules for wildcard paths.

[2021-02-08 15:36] AmsterdamFilho commented on #14677
@phillip-kruger I updated Quarkus to 1.11.1.Final and the issue is fixed.
I guess #14422 fixed it.

[2021-02-08 15:36] #14677 closed

[2021-02-08 15:38] ebullient commented on #14870
Resolved by vert-x3/vertx-web#1865

[2021-02-08 15:39] ebullient commented on #14779
Cool! To be clear, does that mean we would be able to back-out that commit when we move to a build w/ that fix?

[2021-02-08 15:47] phillip-kruger commented on #14677
Great !

[2021-02-08 15:53] pat-karakun commented on #13440
I have the same NPE using Quarkus 1.9.2.Final or 1.11.1.Final when trying to invoke an asynchronous method (for example returning Uni<byte[]>) on a REST client.
There is no NPE when invoking a corresponding synchronous method (returning byte[]).
There is also no NPE when disabling Quarkus Jaeger open tracing with 'quarkus.jaeger.enabled=false'.

As the reporter didn't provide a sample project and

[2021-02-08 15:55] pmlopes commented on #14779
@ebullient yes. All the commit https://github.com/quarkusio/quarkus/pull/14868/commits/979b1ea2ecf322c848c76468ffffb410c59c635c should be reverted.

[2021-02-08 16:08] jtama-op opened #14909 "Resteasy duplicate path not detected"
**Describe the bug**
If multiple targets are declared for the same path, one of them will be picked as the runtime target for the endpoint

**Expected behavior**
The duplication should be detected at build time, and an exception triggered to prevent application startup

 - Quarkus version : 1.11.1.FINAL

[2021-02-08 16:11] jtama-op commented on #14909
I would be happy to help, and though I can see that detecting the duplicate is rather easy only considering the class level `@Path` annotation (certainly in `ResteasyServerCommonProcessor`), it maybe a bit more tricky with combined class and method annotations.

[2021-02-08 16:12] jtama opened #14910 "Resteasy-reactive duplicate path exception not detected"
**Describe the bug**
If multiple targets are declared for the same path, one of them will be picked as the runtime target for the endpoint

**Expected behavior**
The duplication should be detected at build time, and an exception triggered to prevent application startup

 - Quarkus version : 1.11.1.FINAL

[2021-02-08 16:18] pjgg opened #14911 "property `quarkus.swagger-ui.always-include` doesn't work on Native mode."
## Description

When I set up an application with `quarkus.swagger-ui.always-include` enabled, swagger-ui must be available. However on Native mode are not available.

example:
[code]
- Compile and run your app on native mode and then make the following query:

[code]
**Notes:**
- Tested with Rest assurance.

[Jira Ref](https://issues.redhat.com/browse/QUARKUS-752)

[2021-02-08 16:22] jamezp commented on #14819
Yes. I'm not really sure why that was added. I don't think that dependency should be used at all, but we may want to ask @dmlloyd if there was a reason this dependency was added. Maybe it was mistaken for another logging dependency because we have several :)

[2021-02-08 16:41] pat-karakun commented on #13440
I slightly extended the sample project such that the project provides an own REST resource that can be accessed (so no need to set a valid URL providing a Pdf or similar). Only Quarkus has to be started (`mvn compile quarkus:dev`) before executing the test(s).

[quarkus-jaeger-npe.zip](https://github.com/quarkusio/quarkus/files/5945156/quarkus-jaeger-npe.zip) (new version)

[2021-02-08 16:44] jtama-op commented on #14910
I would be happy to help, and though I can see that detecting the duplicate is rather easy only considering the class level @Path annotation (certainly around ResteasyReactiveScanner), it maybe a bit more tricky with combined class and method annotations.

[2021-02-08 16:45] radcortez commented on #14800
Is this from the Quarkus plugin in IntelliJ?

[2021-02-08 16:55] hacst commented on #14813
Awesome. Hoping for pre Vert.x 4 (Quarkus 2.0) obviously ;) Please let me know you decide to go that way though because we'll probably want to investigate a workaround in the direction of what I described above on our end in that case. Otherwise the only way I see would be to tell developers to add `matchPattern`s for every endpoint with parameters in all services which would not go over well ;)

[2021-02-08 17:08] huw0 commented on #12909
Thanks. I have raised smallrye/smallrye-open-api#669

[2021-02-08 17:08] #12909 closed

[2021-02-08 17:16] gsmet commented on #14879
Hmmm, this PR has been backported to 1.11.1.Final so if the OP has the issue with 1.11.1.Final too, it's a different issue.

@angelo-chan when you have only the index.html, it's the file you would expect or it's something else entirely?

[2021-02-08 17:19] #14836 closed

[2021-02-08 17:21] phillip-kruger commented on #14879
Hi @gsmet - we decided not to backport. But saying that, reading the issue again, this sounds like something else.
@angelo-chan - can you provide more details ? Ie. the flow of commands to get to this state. (so what is the sometimes)

[2021-02-08 17:26] huw0 opened #14912 "Improve code.quarkus.io (and devtools?) Dockerfile.native to allow running as root"
**Describe the bug**
Various cloud platforms run containers as root during the build and/or execution (e.g. GCP Cloud Run). However the out of the box `Dockerfile.native` copies the native application such that running the container fails if it is not UID 1001.

To reduce effort needed to run on these platforms I think it would be helpful to default to allowing container to be run as either UID 10

[2021-02-08 17:34] gsmet commented on #14879
In the end, I backported it (IIRC it conflicted with other things I wanted fix or I thought it was safe enough in the end). I checked and it's in the 1.11 branch and the fix version is correct.

[2021-02-08 17:43] famod commented on #14892
@kiziltas So in case you want to try building Quarkus locally to get more output for your case:
- `git clone https://github.com/famod/quarkus.git`
  (my fork of Quarkus)
- `cd quarkus`
- `git switch docker-setup-check-logging`
  (see also: https://github.com/quarkusio/quarkus/compare/master...famod:docker-setup-check-logging)
- `export MAVEN_OPTS="-Xmx1563m"`
- `./mvnw -Dquickly`

And then in your

[2021-02-08 17:55] ia3andy opened #14914 "Drop the legacy codegen support"
@gsmet I think we can drop the legacy support now, we need a PR for this. I believe @aloubyansky has removed it on his new platform branch, but I am not sure when it's going to get in.

_Originally posted by @ia3andy in https://github.com/quarkusio/quarkus/issues/14315#issuecomment-774953125_

[2021-02-08 18:00] geoand commented on #14898
It seems that ByteBuddy (which is used by Mockito behind the scenes) won't generate the mock in the same package as the application class because the application class is loaded from the Quarkus ClassLoader.

@stuartwdouglas do you remember why we made Mockito parent first? I am sure there is a really good reason, I just don't remember it :)

[2021-02-08 18:02] ebullient commented on #14813
Using JAX-RS is the most common? Or native/naked Vert.x web? Or servlets with undertow...

[2021-02-08 18:04] geoand commented on #14898
So indeed we can't support package-private methods in mocking.

What would a helpful message look like to you @AntonFagerberg ? I mean would you expect to see a warning from Quarkus every time you run the tests?

[2021-02-08 18:08] geoand commented on #14910
Thanks for reporting!

Can you give an example where you encountered the problematic behavior?
I would like to see what the behavior of RESTEasy Classic is in the same case.

[2021-02-08 18:08] geoand commented on #14747
Thanks for reporting.

I'll hopefully have a look this week.

[2021-02-08 18:24] hacst commented on #14813
Pretty exclusively JAX-RS right now for us. I am aware that a general solution for Quarkus is much harder. That's why I would investigate workarounds on our end if it turns out to be infeasible for a while.

[2021-02-08 18:42] fouad-j commented on #14695
Hello I have the same issue.
Any clue ?

[code]

I only added this 3 lines based on https://quarkus.io/guides/rest-json#gzip-support

[2021-02-08 18:49] belu commented on #6327
Still happening with Quarkus 1.11.1.Final and latest GraalVM 21.1.0-dev.

[2021-02-08 19:04] #14525 closed

[2021-02-08 19:18] ebullient commented on #14813
Needs to be _extra_ escaped, e.g.:
[code]

But there was also some other wonkiness going on that is resolved in the linked PR.

Correct. The Vert.x filter does a hand-off at the container boundary (Vert.x http/web filter chains don't see it, for the most part). I use ContainerFilters w/ Resteasy  & Resteasy reactive to deal w/ JAX-RS details. Undertow servlets & websockets are on a totally differe

[2021-02-08 19:20] tobiasstadler commented on #10522
Afaik SmallRye Reactive Messaging will support MP 4 with version 3 which uses/requires vert.x 4. Will the Upgrade have to wait until Quarkus uses vert.x 4?

[2021-02-08 19:29] cescoffier commented on #14779
@geoand I believe I tried that. The problem is that we have neither Jackson nor Databind in the classpath, and in this case we need to still be able to build and run in native. Having static blocks initializing the mapper is leading to build issues, at least as far as I can see, and we can't substitute it.

Ideally, we would not need any substitutions at all, as it binds Quarkus to a specific vers

[2021-02-08 19:34] geoand commented on #14779
I'll check again, but I believe that I had no issue when running native image with or without Jackson Databind on the classpath

[2021-02-08 19:46] csh0711 commented on #14515
**Side note or just to let you know:**
We (@alkuit is a colleague of mine) created a blog post about testing Quarkus with Kotlin/MockK in general: https://www.novatec-gmbh.de/en/blog/testing-quarkus-with-kotlin-junit-and-mockk/

As the most "official" examples are mainly Java-based this could be helpful for Kotlin developers starting with Quarkus.

[2021-02-08 20:04] stuartwdouglas commented on #14898
AFAIK it was simply not working when not loaded parent first.

[2021-02-08 20:07] geoand commented on #14898
OK, thanks

[2021-02-08 20:08] cescoffier commented on #14779
@geoand  With build time initialization of the JSON classes? Because if you delay the initialization at runtime yes, it works, but we want to avoid that.

[2021-02-08 20:09] geoand commented on #14779
I didn't change anything regarding initialization, so I had whatever the branch had.
I'll look into it again tomorrow morning

[2021-02-08 20:11] gsmet commented on #8879
@stuartwdouglas I think this has been fixed?

[2021-02-08 20:14] phillip-kruger commented on #14879
@gsmet -  Ok awesome. Waiting for @angelo-chan to provide more details, so that I can see if I can recreate this issue.

[2021-02-08 20:37] phillip-kruger commented on #14911
Managed to recreate. This is only when using `quarkus.http.root-path`. Investigating.

[2021-02-08 20:39] cescoffier commented on #14779
That's why it works... do make progress I moved the initialization at runtime, but we need to change that.

[2021-02-08 20:40] geoand commented on #14779
Understood, thanks for the background info

[2021-02-08 20:55] geoand commented on #14779
I just tried it:

I removed all the Json related subtiturions in the Vert.x extension, while also removing the runtime initialization you added and everything worked as expected when jackson databind exists on the classpath and when it does not.

Do you want me to push the changes to the branch?

[2021-02-08 20:59] #14201 closed

[2021-02-08 21:04] ebullient commented on #14779
I am ok with a force-push if you just want to clean it up and not leave remnants. We have the old vert.x branch for history if we need it.

[2021-02-08 21:10] ivangfr commented on #14545
@zakkak I've tagged the docker image built today

So far, I have
[code]

The new one also gets stuck while building `Quarkus` app's Docker native image. It doesn't move from this point

[code]

[2021-02-08 21:50] gastaldi opened #14918 "Qute does not invoke getters generated by Hibernate Panache"
**Describe the bug**
Because Qute accesses properties using the public field access, lazy loading is never triggered when Qute templates are rendered.

**Expected behavior**
When iterating a lazy (default) `@OneToMany` relationship, the entities should be queried from the DB (implemented in Panache when the getter method is invoked).

**Actual behavior**
Lazy collections in `@OneToMany` associatio

[2021-02-08 22:01] gavinking commented on #14883
Well it's not that we decided not to support it; it's just that it would be a whole separate implementation of `@Transactional` (in Quarkus, not HR) because there's no integration between the reactive database client and the TM.

[2021-02-08 22:32] stuartwdouglas commented on #8879
Yea, I think it can be closed, there have been a lot of improvements here.

[2021-02-08 22:32] #8879 closed

[2021-02-08 22:54] #14813 closed

[2021-02-08 23:13] radcortez commented on #14889
We do support this behaviour in SmallRye Config `@ConfigMapping`.

At some point I would like to deprecate `@ConfigProperties` in favour of SmallRye Config `@ConfigMapping`. Of we don't deprecate it, make them use the same implementation.  One of the issues is that in SR Config we favour interface, since they are way easier to implement. We do have some limited support for classes because of MP Co

[2021-02-08 23:21] stuartwdouglas commented on #14898
The root cause of this is that QuarkusClassLoader.getParent() does not return the actual parent, but the platform ClassLoader.

This is to work around some really nasty bugs in the MP API artifacts, where they don't leave delegation to the ClassLoader but instead do manual delegation which breaks when you have isolated ClassLoaders (e.g. https://github.com/eclipse/microprofile-reactive-streams-ope

[2021-02-08 23:33] dmlloyd commented on #14819
Yeah that's definitely a documentation error.  That dependency should never be added to a Quarkus application!

[2021-02-08 23:35] stuartwdouglas commented on #14898
I am testing out https://github.com/quarkusio/quarkus/compare/master...stuartwdouglas:class-loader-fix?expand=1 to see if there are other problems caused by fixing getParent().

[2021-02-08 23:40] #14881 closed

[2021-02-09 00:14] radcortez commented on #14847
@hrstoyanov please check this: https://github.com/smallrye/smallrye-config/pull/489/commits/b6f6fba17e9b43afcd302030c2d3cb65f96943fe. Is this what you are looking for?

I believe that PR will provide the missing pieces to support YAML mapping properly. Please, provide me most complicated mapping and I'll add it as a test case :)

[2021-02-09 04:33] stuartwdouglas commented on #14850
Do you have a reproducer, or can you include the stack trace of the actual error?

I fixed something in the Servlet support around this, however it is likely slightly different.

[2021-02-09 05:13] stuartwdouglas commented on #14812
It sounds like Mutiny is propagating the request scope but the CompletionStage API is not.

[2021-02-09 05:24] stuartwdouglas commented on #14823
@survivant it sounds like you want something like this:

[code]

[code]

This will tie the test resources to the profile, and the resources will only be started for those tests.

As I mentioned earlier the reason why we don't want to allow this to be per-test without a profile is that then we need to start/stop Quarkus each time, which significantly slows down testing (I guess we could try and gro

[2021-02-09 05:31] stuartwdouglas commented on #14695
Do you have a reproducer? I was not able to reproduce it.

[2021-02-09 05:41] flansen opened #14924 "Quarkus-Quartz: Jobs running concurrently in clustered environment"
**Describe the bug**
Hi,

I was using Quarkus/Quartz in my project to manage jobs in a clustered environment.
My requirement is that the my job is running exactly once.

Following this guide: https://quarkus.io/guides/scheduler-reference#concurrent_execution my Job method looked like this:

[code]

Running locally, the job was really just executed once.
In my cluster, the job was executed exactly

[2021-02-09 05:51] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/550285007

[2021-02-09 05:51] geoand commented on #14898
Wow! I didn't even consider this :)

[2021-02-09 05:58] stuartwdouglas commented on #14910
Note that multiple routes matching the same path are allowed by the spec, as JAX-RS also matches on content type. If we were going to detect this it needs to detect that the [path, method, produces,consumes] combination is exactly the same. If any one of them is different then this is valid.

[2021-02-09 06:00] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/550285007

[2021-02-09 06:03] geoand commented on #14898
Now that is one thing I won't be forgetting anytime soon 😆

[2021-02-09 06:04] geoand commented on #14910
Yeah.

I really want to see how RESTEasy Classic behaves because I don't want to add this sort of detection (which whatever performance penalty it might entail) unless we really have to

[2021-02-09 06:06] geoand commented on #8593
It seems like `org.apache.camel.quarkus.component.consul.it.ConsulTestResource` is now failing

[2021-02-09 06:07] geoand commented on #12486
It seems like both jobs are failing...

[2021-02-09 06:12] cescoffier commented on #14779
I'm curious, as Jackson is in the call tree, so how does it handle its absence?

[2021-02-09 06:19] geoand commented on #14779
Jackson **core** is still necessary - it's just that Jackson **Databind** is not.
From a Quarkus perspective that is the same we have with Vert.x 3. We didn't want to bring in Jackson Databind as it is huge.

Vert.x 4 properly detects the presence or absense of Jackson Databind and adapts its json behavior accordingly. This detections is done in `static-init` so it works properly in GraalVM withou

[2021-02-09 06:56] stuartwdouglas commented on #14898
Once we have a new reactive streams operations API release we should be able to remove the hack

[2021-02-09 07:00] geoand commented on #14898
Excellent!

[2021-02-09 07:01] the-bug opened #14926 "hibernate-jpamodelgen is causing problems"
**Describe the bug**
I started a the 'Quarkus - Get Started'-project (See https://quarkus.io/get-started/) in order to have an initial code base.
After that I added JPA and tried to integrate 'hibernate-jpamodelgen' in order to use the 'Metamodel Generator'.
Adding the hibernate-jpamodelgen was done via:
[code]
As described in https://quarkus.io/guides/hibernate-orm-panache#defining-entities-in-ex

[2021-02-09 07:05] cescoffier commented on #14545
Do you know when it's the last one that was ok?
Do you have a reproducer?

It looks weird as the only thing we changed is the update of the parent image.

[2021-02-09 07:15] yrodiere commented on #14812
Last time I checked, the mutiny API was executing everything in the
original thread. So it didn't even need to propagate the context.

Le mar. 9 févr. 2021 à 06:14, Stuart Douglas <notifications@github.com> a
écrit :

[2021-02-09 07:21] phillip-kruger commented on #14911
@kenfinnigan - I need some help please.
jar version works fine (fast-jar) so only when using `-Pnative` and only when adding `quarkus.http.root-path`
There is nothing obvious in the extension wrong (that I can see)

Can you assist ?

[2021-02-09 07:24] pschyma commented on #14695
Thanks for looking at this. I'll try to build one. The error happens in a bigger code base but in a rather simple endpoint that I can't share.

[2021-02-09 07:32] m-yassine1 commented on #14800
I think so, for the Quarkus @ConfigRoot, they get highlighted nicely and are accessible via shortcuts.

[2021-02-09 07:34] angelo-chan commented on #14879
Actually I can't reproduce the issue always, most of time it happens at accident.

It's happens while I issue `./mvnw clean compile quarkus:dev`, then request the swagger-ui, the resource not found. If this situation happens, I enter the folder `/var/folders/f3/b3g92vt537n0mct3m86938_h0000gn/T/quarkus/net.yuntu/era/io.smallrye/smallrye-open-api-ui/2.0.19`, there's only one file index.html exists,

[2021-02-09 07:37] phillip-kruger commented on #14879
How often does it happen ? And does it go away if you try again ?

[2021-02-09 07:39] mkouba commented on #14924
Hello, yes the `Scheduled#concurrentExecution()` is not reflected in the Quartz cluster config in any way. And the docs intentionally do not mention that it does. Nevertheless, if the `is_nonconcurrent` column maps to `@DisallowConcurrentExecution` I don't think it would help to prevent multiple job executions in a cluster.

In any case, I think that this issue duplicates https://github.com/quarku

[2021-02-09 07:42] phillip-kruger commented on #14879
@angelo-chan - I can not seem to recreate this, so I am not sure how to proceed. This works every time for me. Any more details you can provide ? What change did you make that made you restart dev mode ?

[2021-02-09 07:42] angelo-chan commented on #14879
More frequent than a developer can ignore it. To manually delete the folder `/var/folders/f3/b3g92vt537n0mct3m86938_h0000gn/T/quarkus/net.yuntu/era/io.smallrye/smallrye-open-api-ui/2.0.19` and issue `./mvnw compile quarkus:dev` again, everything back to normal.

[2021-02-09 07:45] phillip-kruger commented on #14879
And nothing in the log ? Maybe it's specific to your application. Can you share a small app where it happens for you ?

[2021-02-09 07:47] phillip-kruger commented on #14879
I am trying to find out how many times I need to start and stop to see if I can recreate it. So I am going to need a more tangable answer  :) 1 out of 10? 5? 2?

[2021-02-09 07:52] flansen commented on #14924
Thanks for your quick reply :-)
Maybe I did understand the docs incorrectly.

_Nevertheless, if the is\_nonconcurrent column maps to @DisallowConcurrentExecution I don't think it would help to prevent multiple job executions in a cluster._
I'm using the `@DisallowConcurrentExecution` annotation successfully with programmatic scheduling - it works just fine to prevent multiple Jobs of the same iden

[2021-02-09 07:56] mkouba commented on #14918
OK, so Panache generates a getter that looks like:
[code]
However, Qute does not read the modified bytecode but the Jandex index that obviously does not reflect this transformation.

I think that the easiest (not the most correct) solution would be to always pretend there is a getter if a class extends `PanacheEntity`. It should be really straightforward. I can try to prepare a PR so that we can e

[2021-02-09 08:11] mkouba commented on #14924
I'm not a quartz expert but multiple jobs of the same identity should only be triggered by one node in the cluster by default, i.e. no need to add `@DisallowConcurrentExecution` which is IMO more about overlapping executions...

There was a problem in scheduling `@Scheduled` methods during app start: https://github.com/quarkusio/quarkus/pull/14734/files#diff-c639bfa620c120ae00ffdef3e0c3ef8dfc051f4

[2021-02-09 08:15] jtama-op commented on #14910
Resteasy behave exactly the same #14909. In any case it causes the endpoint score page to trigger an exception :

`io.quarkus.qute.TemplateException: Loop section error in template io.quarkus.quarkus-resteasy-reactive/scores on line 4: [info:endpointScores.endpoints] resolved to [io.quarkus.qute.Results$Result] which is not iterable`

I will create a reproducer.

[2021-02-09 08:20] AntonFagerberg opened #14927 "Faster startup of @QuarkusTest (disable web-server?)"
This is a feature request to speed up tests using the `@QuarkusTest` notation. In our applications we do not use "HTTP based testing" but do "normal" unit testing. It is however nice to use the `@QuarkusTest` annotation since we can then access to the `@Inject`, `@InjectMock`, etc functionality. Essentially, we do what's described here https://quarkus.io/guides/getting-started-testing#injection-in

[2021-02-09 08:22] angelo-chan commented on #14879
there's no accurate happen ratio, most of time it works perfectly. It just happens sometimes, maybe 1 out of 100. Once happen, I have to delete that folder. No special log.

[2021-02-09 08:26] stuartwdouglas commented on #14927
It would not be the web server, on most machines that is low hundreds of ms. Can you create a flame graph using https://github.com/jvm-profiling-tools/async-profiler and we can have a look at what is taking up the startup time.

[2021-02-09 08:30] pjgg commented on #14911
lets me give you a scenario!:
Use this application: https://github.com/pjgg/beefy-scenarios/tree/master/001-quarkus-getting-started
Add this dependency to his pom.xml

[code]

And this property to his application.property

[code]

And now compile this app: `mvn clean install -Dmaven.test.skip=true -Pnative` (in native mode)

Then run the app, located in target folder: `./001-quarkus-getting-starte

[2021-02-09 08:30] phillip-kruger commented on #14879
OK, I am going to need more details before I can spend time on this. What change did you make that made you restart dev mode ?
Can you share a small application that you know that it happens with?

[2021-02-09 08:35] jamesnetherton commented on #8593
Hopefully a temporary thing. I can't replicate it locally.

[2021-02-09 09:14] angelo-chan commented on #14879
I just tried to reproduce it but failed. I share a project [here](https://github.com/angelo-chan/quarkus-sample)

[2021-02-09 09:23] emmanuelbernard opened #14930 "Error report to be improved when entity is created and no datasource config is present"
In my usual Todo app, creating anm entity with no datasource configured yet, I receive

[code]

It used to say: Hibernate extension cannt guess the dialect as no JDBC driver is specified by `quarkus.datasource.driver`

I'm not saying the the former was perfect but the new one is a bit cryptic with "default datasource" and EntityManager not started. It's not actionable what I can to do solve it. Po

[2021-02-09 09:24] emmanuelbernard commented on #14930
cc @Sanne @gsmet

[2021-02-09 09:29] phillip-kruger commented on #14879
Thanks :) I still can not recreate this. If you figure out more details, please share.

[2021-02-09 09:30] famod commented on #14694
@beikov @Mobe91 is this a known problem?

[2021-02-09 09:32] emmanuelbernard opened #14931 "Quarkus dev UI does not load when app does not start"
In my usual flow, I create a todo app with an endpoint, create the entity but the database configuration is not set yet.
When I hit refresh, I get an error expectedly. But then I want to edit the config file with the Dev UI and hit `/q/dev/` and I get the DB error and the Dev UI does not show. Which means I cannot update my config file.

[2021-02-09 09:32] emmanuelbernard commented on #14931
CC @stuartwdouglas

[2021-02-09 09:33] beikov commented on #14694
That's new to me. Are you using the fast-jar packaging? @DylanSale

[2021-02-09 09:33] emmanuelbernard opened #14932 "Add search engine in dev ui config"
Even the simplest app has billions of properties (a failure on our part but that's a different story). some search engine seems necessary.

[2021-02-09 09:34] #14811 closed

[2021-02-09 09:35] emmanuelbernard opened #14933 "Dev UI config editor does not make it clear which property is set and which is not"
There is the blue background but it's not made explicit what it is about

[2021-02-09 09:35] #14819 closed

[2021-02-09 09:37] emmanuelbernard opened #14934 "Dev ui config edit crashes when I try to unset a property"
On an app with Hibernate Panache,

And the following config file

[code]

I load dev ui config editor and try to unset `quarkus.hibernate-orm.log.sql` by setting it to empty. When I hit update I get the following error

[code]

[2021-02-09 09:37] emmanuelbernard commented on #14934
@stuartwdouglas

[2021-02-09 09:40] emmanuelbernard opened #14935 "Confused by dev ui"
Seeing the dev ui for the first time I got confused by a couple of things:

- there is a OpenAPI tile with pointers to the Swagger UI and a Swagger UI tile with just the doc.
- There are actionable tiles and pure documentation tiles, i think we could try and separate them a bit more to make it clearer?

[2021-02-09 09:40] emmanuelbernard commented on #14935
@FroMage

[2021-02-09 09:42] emmanuelbernard opened #14936 "Dev UI config editor should offer a raw file edit as well"
Since it does not support profiles, it could be useful to offer a raw file edit vs the per property update. It also helps for demos to copy things fast. CC @FroMage

[2021-02-09 09:45] flansen commented on #14924
I just did test it again. Setup:

[code]

My expectation would be that when multiple nodes are running, only one node will execute the job.

Having a look at the logs:

[code]

You can see that the Job is startet twice within 8s by different nodes.

When I change to using programmatic scheduling in combination with DisallowConcurrentExecution, my jobs will not be started concurrently in any way.

[2021-02-09 09:47] mkouba commented on #14918
Here it is: https://github.com/quarkusio/quarkus/pull/14937

[2021-02-09 09:52] mkouba commented on #14924
My point was that it should work even if you skip the `@DisallowConcurrentExecution` annotation.

Ok, I'll repeat it once again:
1. `Scheduled#concurrentExecution()` was not intended as a cluster functionality.
2. There was a bug that should be fixed in the linked pull request.

[2021-02-09 09:53] #14924 closed

[2021-02-09 10:01] #14850 closed

[2021-02-09 10:05] FroMage commented on #14935
We have a line separator already. What do you think would make it clearer?

CC @phillip-kruger @gsmet

[2021-02-09 10:08] gsmet commented on #14935
On Tue, Feb 9, 2021 at 11:05 AM Stéphane Épardaud <notifications@github.com>
wrote:

2 line separators? :)

[2021-02-09 10:10] phillip-kruger commented on #14935
I suggested before that we allow certain tiles should be hidden, using this exact example. Another upcoming example would be the logging manager that we do not want to show the tile as there is a embedded log manager. Some or other flag that allow extensions to hide the tile ?

The other option is to remove the swagger-ui link from the OpenAPI tile and add it to the Swagger tile.
Or
Merge the swag

[2021-02-09 10:12] FroMage commented on #14936
I wonder exactly what's the point? Since you have access to the raw file in your IDE?

What this currently does is more than the IDE since it gives you all the possible config options, and their docs and their default values.

But if you want to edit the entire file, then you don't benefit from this, and would be better off with the IDE, no?

I'd rather we support prefixes in the DEV UI editor.

[2021-02-09 10:13] FroMage commented on #14935
Sir, I think this is promotion material right there. I'll approve such a PR!

[2021-02-09 10:13] phillip-kruger commented on #14935
W.r.t the indication on actianable and not, we can maybe play with colors here ? Or borders ? Or maybe just the card header color ?
https://getbootstrap.com/docs/4.6/components/card/#card-styles

[2021-02-09 10:14] FroMage commented on #14935
Yeah, I was thinking of colors too.

[2021-02-09 10:14] phillip-kruger commented on #14935
Can I do a POC ? and send a screenshot ?

[2021-02-09 10:15] FroMage commented on #14935
By all means :)

[2021-02-09 10:17] vietj commented on #14779
@gavinking @FroMage ping on https://github.com/quarkusio/quarkus/issues/14779#issuecomment-775091870

[2021-02-09 10:17] angelo-chan commented on #14879
sure

[2021-02-09 10:25] geoand commented on #14779
We discussed the Json situation with @cescoffier and arrived at the following:

1) Based on what was described above, remove the substitutions and the runtime initialization of the Json related classes should get us in exactly the same situtation we have with Vert.x 3.9 and Quarkus - that is we exclude Jackson Databind and things continue to work. I have ran some tests and they all passed, Clement

[2021-02-09 10:47] ivangfr commented on #14545
@cescoffier

Looking back my comments in this issue ([this one](https://github.com/quarkusio/quarkus/issues/14545#issuecomment-766840634)), it seems that the latest image that worked for me was
[code]
[source](https://quay.io/repository/quarkus/ubi-quarkus-native-image?tab=history)

It was the version `20.3.0-java11` btw. I believe, since I started using Quarkus 1.11.1.Final (GraalVM 20.3.1-java11

[2021-02-09 10:57] AntonFagerberg commented on #14927
I'm not familiar with how profiling works but I have tried to generate the three different profiles I could.
Hope they are helpful.
[profiles.zip](https://github.com/quarkusio/quarkus/files/5950816/profiles.zip)

[2021-02-09 11:04] FroMage commented on #14779
@vietj that looks indeed like bogus SQL, what test is causing this?

[2021-02-09 12:38] cescoffier opened #14940 "Quarkus 2.0 - Epic"
### Description

This task collects the "high-level" task for Quarkus 2.0

### Tasks

- [x] Vert.x 4 integration - #14779
- [x] MicroProfile 4 integration - #10522
- [ ] SmallRye Reactive Messaging 3.x
- [ ] Turn `@TestResource` into per-class activation when they are placed on test classes (breaking)

[2021-02-09 12:58] survivant commented on #14823
@stuartwdouglas I understand the purpose of that.  I just that it wasn't expected.  Maybe the guide about testing need to explain a little more that.

Can I suggest an ehancement.  Instead we could have this

[code]

[2021-02-09 13:02] #12957 closed

[2021-02-09 13:09] sberyozkin commented on #2611
Hi @loicmathieu Yeah, I'd like to finalize it to make sure some of these CPEs interlink with the related CVEs :-).

[2021-02-09 13:20] phillip-kruger commented on #14935
@FroMage @emmanuelbernard - as part of the meta-data from the `quarkus-extension.yaml` file of the extension is a field called `unlisted`. Can that maybe be used to decide to hide the tile ? Only the tiles below the line, so un-actionable tiles to hide it this is true? w.d.y.t ? I _think_ it's currently being used to hide in code.quarkus.io.

[2021-02-09 13:41] Gireitsli commented on #12904
Leaving the Comment here for Future souls.
Had a similar problem by migrating from a <1.8 Version to a 1.8=< Qurarkus Version.
See the migration guide for Qurakus 1.8 https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.8
new you musst add the line

in the persistence.xml to make it work.

[2021-02-09 13:44] cescoffier commented on #14779
@FroMage `/integration-tests/hibernate-reactive-postgresql`. It's the test that uses `@Filter`.

[2021-02-09 13:46] jeesmon commented on #12972
@zakkak @gsmet Any update on this? Thanks.

[2021-02-09 14:07] FroMage commented on #14935
If swagger-ui is already unlisted then sure.

[2021-02-09 14:13] phillip-kruger commented on #14935
Yes swagger-ui is unlisted. ok, let me look at it

[2021-02-09 14:15] FroMage commented on #14779
OK, so the query from the user's PoV is `SELECT FROM Foo` we have the following filters defined:

[code]

and the Panache layer calls:

[code]

So we don't control the limit parameter index, and we pass filter params by name, therefore: not our bug. I'll file an HR bug.

[2021-02-09 14:30] zakkak commented on #12972
@jeesmon sorry for not posting any updates.
I was able to reproduce with @JiriOndrusek 's [example](https://github.com/JiriOndrusek/cannot-find-gray-pf-reproducer).

Removing the LCMS substitutions (`core/runtime/src/main/java/io/quarkus/runtime/graal/LCMSSubstitutions.java`) and using GraalVM CE 21.0.0 I am getting:
[code]

Running:
[code]

I was able to get the application to start but it crashe

[2021-02-09 14:31] FroMage commented on #14795
Actually this is less urgent now, so I'll switch to a more urgent issue

[2021-02-09 14:37] FroMage opened #14943 "Kubernetes clients all clash with one another"
When importing the `quarkus-openshift-client` extension, we get an injectable `OpenShiftClient` which also extends `KubernetesClient` which is located in the transitive dependency `quarkus-kubernetes-client`, we get a CDI clash on any `KubernetesClient` injection points, because we now have two clients which implement it.

We could fix this by disabling the producer of `KubernetesClient` if the `O

[2021-02-09 14:37] jeesmon commented on #12972
Thanks for the quick update @zakkak

[2021-02-09 14:39] geoand commented on #14943
I kinda doubt anyone would want all types of clients around TBH.
I think we can just enforce that when the openshift-client extensions exists, the openshift-client should be used.

[2021-02-09 14:44] FroMage commented on #14943
If you prefer, I can do it that way too, they should be interoperable and we can always switch behaviour later if required.

[2021-02-09 14:52] geoand commented on #14943
Yeah, I think that would be the best first step

[2021-02-09 14:58] emmanuelbernard commented on #14936
So what this reminded me of is the UI DNS providers offer that simplifies your entries.
But sometimes, you want to see the raw thing quickly as an advanced user.
That's why I was advocating for that advanced panel. But yes that's not must have.

[2021-02-09 15:04] pedroigor commented on #14851
@pjgg  It does make sense to define paths like that. It should be a trivial change. Do you have something implemented already? Otherwise, I'm going to work on it.

[2021-02-09 15:09] blsouthr commented on #5432
@wernert75 it is already implemented. e.g. 30 seconds
`quarkus.shutdown.timeout=30`

[2021-02-09 15:12] metacosm commented on #14943
That makes sense to me as well.

[2021-02-09 15:18] antoniomacri commented on #11045
I'm also interested in this.

I noticed that after the CucumberTest no other tests are run, because of this line:
[code]
If I remove it, along with the corresponding
[code]
it continues with the other tests.

[2021-02-09 15:32] vietj commented on #14779
thanks @FroMage

[2021-02-09 15:32] wernert75 commented on #5432
@blsouthr Thank you for your information. But this seems not working for me. I'd like to graceful shutdown an backroundworker which is consuming Messages from Kafka. An here quarkus.shutdown.timeout=30 seems not to be working.

[2021-02-09 15:38] phillip-kruger commented on #14935
@FroMage @emmanuelbernard . Below I have done the following:

- Removed our custom styles and used bootstrap classes.
- Removed shadow from un-actionable cards
- Played with header colors for actionable cards (see screenshots below)
- Used the metadata `unlisted` to hide some un-actionable cards.

![option5](https://user-images.githubusercontent.com/6836179/107387507-91c7e980-6afd-11eb-95b9-681350

[2021-02-09 15:44] phillip-kruger commented on #14935
You can see the code changes here in this draft PR : https://github.com/quarkusio/quarkus/pull/14945

[2021-02-09 15:49] cescoffier commented on #14779
About the JSON thingy, @geoand and I did have another look this afternoon, and our morning plan did not work. But we were able to move the required substitutions and runtime initialization to the undertow extension, so most applications would not see the penalties.

[2021-02-09 15:53] FroMage commented on #14935
LGTM, I'd go with the blue titles.

[2021-02-09 15:55] phillip-kruger commented on #14935
Cool. I'll do a PR with that.

[2021-02-09 16:14] cescoffier commented on #14545
I just tried, and it worked for me:

First run:

[code]

Second Run:

[code]

I'm using Docker for Mac (Docker version 20.10.2, build 2291f61).

Can you make sure you removed all the layers? Corruption may have happened (I got that a few times)

[2021-02-09 16:39] geoand commented on #14910
The specific case you have in your reproducer:

[code]

is very easy to detect at build time and warn about. However there could be more tricky cases that would potentially much more to detect.

@stuartwdouglas @FroMage what is your take on this? So we add some simplistic detection?

[2021-02-09 16:40] martinvisser opened #14948 "Quarkus 1.11.1.Final not compatible with Netty 4.1.59.Final"
**Describe the bug**
When building a native image with Quarkus 1.11.1.Final and Netty 4.1.59.Final the build fails with a "could not find target method" error. I've overridden the version for all Netty dependencies, see screenshot.

**Expected behavior**
Native build succeeds, just like it does with Netty 4.1.58.Final.

**Actual behavior**
With `mvn -Pnative clean package` the build stops with the

[2021-02-09 16:43] FroMage commented on #14910
Let's do the easy common ones first, and leave the complex ones for another millenia/team.

[2021-02-09 16:55] jtama-op commented on #14910
I will be happy to help !

[2021-02-09 16:57] geoand commented on #14910
@jtama-op Cool!

I propose starting small by checking the use case where methods of the same class have serve the same HTTP method, have the same path and have the same Consumes value.
The most likely place to do that check is `org.jboss.resteasy.reactive.common.processor.EndpointsIndexer#createEndpoints`

[2021-02-09 17:01] evacchi commented on #12486
@mariofusco have already release a fix for drools, we need to upgrade the Kogito version

[2021-02-09 17:02] iocanel commented on #14844
I think its added expliclitly. Let me see if we can make it work without it.

[2021-02-09 17:20] #14911 closed

[2021-02-09 17:22] viniciusfcf commented on #4766
@btsibr Hi, I am trying to configure @SecurityScheme with OAUTH2 and authorizationCode, however does not work using Quarkus 1.11.1.

I Tried To include the following properties unsuccessful

quarkus.swagger-ui.oauth2-redirect-url=http://localhost:8080/api/q/swagger-ui/
quarkus.swagger-ui.validator-url=localhost

Do you know what I missed?

[2021-02-09 17:29] #14430 closed

[2021-02-09 17:45] DorianMaliszewski commented on #12904
Hi, thanks but if I don't use persistence.xml 😅

[2021-02-09 18:23] Steve-Dillon commented on #9893
Sorry if i sound like a total Newb to all this but how do i copy the intercepting SSL PEM inside registry.access.redhat.com/ubi8/ubi:8.1 image to /etc/pki/ca-trust/source/anchors/. How can i access the SSL PEM inside registry.access.redhat.com/ubi8/ubi:8.1 image. Thanks in advance for any help.

[2021-02-09 19:31] ivangfr commented on #14545
Hi @cescoffier Thanks for trying it out on your machine.

Yes, that is weird. It seems that just in my machine it's getting stuck.

I am using the exact `Docker for Mac` as you are using.
[code]

## Quarkus 1.11.1.Final (GraalVM 20.3.1-java11)

### 1st Try

I've cleaned all my Docker images. So, during this execution, the `quay.io/quarkus/ubi-quarkus-native-image:20.3.1-java11` is pulled
[code]

#

[2021-02-09 20:23] stuartwdouglas commented on #14910
That is perfectly legal though, the method will be believed based on the accept header sent by the client

[2021-02-09 20:25] geoand commented on #14910
Ah damn... I forgot the fact that the Accepts header comes into play...

[2021-02-09 21:06] samuelstein commented on #5192
hey @grzi,
i tried the dynamic port setting with quarkus 1.11.1 and it is working fine.

[2021-02-09 21:35] sberyozkin commented on #14948
@martinvisser This is not a bug IMHO, Quarkus is not expected to work with the arbitrary versions, I'll remove the label. CC @vietj, this is likely a duplicate of the Vert.x 4 update epic, but I'm not 100% sure, thanks

[2021-02-09 21:39] rquinio commented on #14800
IDE support for microprofile-config in .properties files would be nice.
But it'd require jars to ship with some standardized JSON metadata (similar to spring-boot-config metadata), otherwise every IDE plugin has to re-invent the wheel and scan annotations from any jar in classpath (cf implementation of current Quarkus editors, cf #5229).

[2021-02-09 23:49] stuartwdouglas commented on #14931
https://github.com/quarkusio/quarkus/pull/14692 is supposed to help with this, it embeds a config editor for the relevant properties onto the error page. It should also be possible to get the full config editor working, although probably not the full dev console as some bits of it assume there is a working application (e.g. can't list beans if there is no working CDI, can't list schedule methods f

[2021-02-10 02:18] angrymango commented on #7440
@dominik42 I've thought about it a bit more and the blocking issue I can see is that the jars are only available behind a login screen. That means they aren't accessible to the Github actions that build the extension. I'm not sure there is a way around it because they can't be publicly.hosted.

The best I can think of is setting the extension up to allow people to build it themselves with their ow

[2021-02-10 05:49] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/553578577

[2021-02-10 06:01] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/553578577

[2021-02-10 06:21] m-yassine1 commented on #14800
Deal. Again it is because I saw it done with the "write your own extension" configuration properties. If it is a hassle, I would understand. Thank you for your efforts as always!

[2021-02-10 07:14] cescoffier commented on #14545
Can you check how much memory you gave to docker? From the build log it should not require much, but I've seen build stuck (or actually very very slow) because of this. In general it happens a bit after.

Also, can you try to do a docker run of the pulled image with '--version'.

Finally, did you try using the mandrel image instead of graalvm (we provide both, default is graalvm)

[2021-02-10 07:33] haraldatbmw commented on #14650
@jmartisk I extended my dump-info with the weights and quantiles data. Maybe you are able to see something special.

[code]

Histogram dump:
[code]

[2021-02-10 07:38] #14595 closed

[2021-02-10 08:58] #13845 closed

[2021-02-10 08:58] #14670 closed

[2021-02-10 08:58] #14712 closed

[2021-02-10 08:58] #14865 closed

[2021-02-10 09:05] bwand opened #14959 "OIDC Client does not use connection-delay property"
**Describe the bug**
When using the OID Client and starting the app without running Keycloak it crashes instantly and does not respect the connection-delay property as the normal OIDC stuff does.

**Expected behavior**
OIDC Client should wait and retry the connection for the configured connection-delay

**Actual behavior**
App tries to start and crashes instantly:
[code]
Startup when Keycloak is a

[2021-02-10 09:22] metacosm commented on #14943
That said, I'm wondering if it would be possible to somehow select the appropriate extension at build time so that people who don't target OpenShift only get the added dependencies if they need them…
The use case here is the operator sdk extension which needs to get a client but won't know which flavor of the platform users will target. At the moment the most appropriate option would be to depend

[2021-02-10 09:27] sberyozkin commented on #14959
Might be a regression caused by Uni based refactoring (i.e I did not update the exception code properly)

[2021-02-10 09:33] sberyozkin commented on #14959
@bwand I've removed `crashes on startup` from the subject - it simply does not reconnect - as opposed causing a crash. This property has already been added to facilitate the test setups where KC is a few secs or so behind.
I agree it has to be fixed :-)

[2021-02-10 09:53] bwand commented on #14959
@sberyozkin Ok it does not reconnect which prevents the app from starting. ;-) We are using docker-compose which starts up everything and even when using depends_on (to keycloak) in docker-compose.yaml we always have some apps not started in first shot and need to manually restart them which is a bit annoying.

So it is fine that you agree it has to be fixed.

[2021-02-10 09:56] FroMage commented on #14943
Quarkus doesn't auto-select extensions for users, so we can't do that. But the operator-sdk will get the right client no matter what extension the user uses now.

[2021-02-10 09:58] aesteve commented on #8802
The `MAVEN_OPTS` seems to trigger another error:

[code]

Maven:
[code]

[2021-02-10 10:00] metacosm commented on #14943
The problem is that the sdk extension is dependent on the client extension. Which means that it needs to include the OpenShift extension and carry all the extra dependencies even when users don't target OpenShift.

[2021-02-10 10:11] FroMage commented on #14943
Can't you leave it up to the sdk users to include that extension?

Oh, perhaps you need some actions to call only if it's an openshift client?

[2021-02-10 10:12] FroMage commented on #14943
If that's the case, I think you can make the dependency optional in the SDK, and it will only realise if the user depends on it too.

[2021-02-10 10:31] Sgitario opened #14961 "Add start/stop methods for QuarkusProdModeTest and do not setup RestAssured.port if it's configured randomly"
**Description**
The JAVA process that is created as part of `QuarkusProdModeTest` follows the JUnit extension lifecycle. However, sometimes is desired to manually control the state to cope with more scenarios within the same test case.

**Implementation ideas**
I will provide implementation ideas. Also, I would like to provide a solution for this enhancement by myself.

[2021-02-10 10:32] bwand opened #14962 "OidcClientFilter produces periodic 401 errors when token expires"
**Describe the bug**
Using the OidcClientFilter leads to some requests failing when the tokens expire. Every time a token expires (eg. every 5 Minutes) we get some 401 Errors from calls annotated with OidcClientFilter.

**Expected behavior**
OidcClientFilter should refresh the Token before it expires.

**Actual behavior**
We are getting periodic 401 errors which can also not be solved by using the

[2021-02-10 10:33] bwand commented on #14814
Hey @MikeEdgar any news on that? Do you need additional information/stuff?

[2021-02-10 10:42] #14829 closed

[2021-02-10 10:56] ryckowski opened #14965 "1.11.2.Final compilation error"
**Describe the bug**
Upgrade from 1.10.5 to 1.1.2.Final compilation error

**Expected behavior**
Working as before

**Actual behavior**
`
Failed to execute goal io.quarkus:quarkus-maven-plugin:1.11.2.Final:build (default) on project xxx: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build step io.quarkus.deployme

[2021-02-10 11:12] gsmet commented on #14965
Just to be sure, you have also upgraded the quarkus bom version? And all versions are consistent?

[2021-02-10 11:12] fxnn opened #14966 "Native Compilation Fails for 1.11.2.Final at Opentracing/RestEasy"
**Describe the bug**
Since 1.11.2.Final, the native build fails having both OpenTracing and RestEasy extensions active. It worked for 1.11.1.Final.

**Expected behavior**
The build succeeds.

**Actual behavior**
We receive the following output:

[code]

**To Reproduce**

Reproducer: https://github.com/fxnn/reproducer-nativebuild-opentracing

It's nothing more than what code.quarkus.io gives for Op

[2021-02-10 11:28] akoufa commented on #14532
@machi1990 Unfortunately I experienced the issue again. I have updated the reproducer https://github.com/akoufa/quarkus_sentinel_issue found here upgrading to Quarkus 1.11.2 and fixing the docker-compose issue according to the suggestion from @oursy . After calling the endpoint multiple times one after another with `curl --location --request GET 'localhost:8080/hello/sentinel'` the following excep

[2021-02-10 11:44] Sgitario opened #14967 "Quartz: Allow to use a configuration property in identity"
**Description**
Most of the fields in the `@Scheduled` annotation allow to use a config property:

[code]

However, the identity field can't do:

[code]

[2021-02-10 11:51] machi1990 commented on #14532
I'll check in again, just to confirm:

Are you seeing this issue all the time or it is an intermittent issue?

From this line https://github.com/akoufa/quarkus_sentinel_issue/blob/master/src/main/kotlin/org/acme/GreetingResource.kt#L16, it seems that you are setting a value in redis. Just to confirm by "not working", when you connect to redis, do you see the value that was set?

[code]

is the sta

[2021-02-10 11:52] machi1990 commented on #14967
Very good idea, WDYT @mkouba?.

Do you want to give it a stab? @Sgitario

[2021-02-10 11:54] Sgitario commented on #14967
I'm very volunteer! :)

[2021-02-10 12:00] ryckowski commented on #14965
Right, didn't notice there're 2 places to be changed

[2021-02-10 12:00] #14965 closed

[2021-02-10 12:01] gsmet commented on #14965
Thanks for confirming!

[2021-02-10 12:05] geoand commented on #14966
This was fixed by https://github.com/quarkusio/quarkus/pull/14958

[2021-02-10 12:05] #14966 closed

[2021-02-10 12:32] akoufa commented on #14532
Yes in the beginning the first X < 20 requests it works as expected and I see the value that is set. Also the issue is not if the value is returned or not. As I can just remove the code the puts the value then I will get the fallback value I have set. The issue is that somehow the connection to redis seems to be lost and then it blocks in the Redis `GET` cmd until this TimeoutException is thrown f

[2021-02-10 12:38] sberyozkin commented on #14962
@bwand Refreshing the token itself is tested. Can you clarify please, do you see any refresh confirmations in the log at all ?
Note, Keycloak may have some restrictions about a number of times a refresh token can be used. The latest KC would not even have a RT by default for the `client_credentials`. I'd appreciate some more info about the cause of 401, thanks

[2021-02-10 12:41] #14918 closed

[2021-02-10 12:53] sberyozkin commented on #14962
FYI the client will try to acquire a new token, as opposed to refreshing it, if RT is not available - but the repeated token acquisition for the client_credentials may also have the KC level restrictions. I suppose I'd need to add more logging into the client flow

[2021-02-10 12:54] bwand commented on #14962
@sberyozkin What we see ist that an application und constant load throws 401 error every 5 minutes in RestClient Calls annotated with OidcClientFilter.
The expiration time for the Tokens in Keylcoak is defaultly set to 5mins. Changing this time does also change the occurance of the 401er.

[2021-02-10 12:55] MikeEdgar commented on #14814
Hi @bwand - I haven't yet been able to look at this in detail, but the a fix for the other issue I mentioned earlier has been released. Can you confirm if you still have this issue with Quarkus 1.11.2 ?

[2021-02-10 12:59] bwand commented on #14962
@sberyozkin What does happen with the Requests where the Token is expired? Will they first get a new one before the call? So is the Token checked every Time before calling?
So maybe this is a timing issue. The token is checked.... it is ok with one millisecond left but when it is checked again during sending the request by the other side it is expired?

I am just guessing....

[2021-02-10 13:00] machi1990 commented on #14532
think that does not seem to be the case

The default value for `quarkus.redis.max-pool-size` is 6.  Normally, the connection should be recycled, the default is recycle after 15 seconds.  Have you tried setting the [Pool Recycle Timeout](https://quarkus.io/guides/redis#quarkus-redis-client_quarkus.redis.pool-recycle-timeout) and [Pool Cleaner Interval](https://quarkus.io/guides/redis#quarkus-redis-

[2021-02-10 13:00] #14943 closed

[2021-02-10 13:06] bwand commented on #14814
Hi @MikeEdgar, yes the errors still occur with latest release 1.11.2-FINAL
![image](https://user-images.githubusercontent.com/4275361/107513876-29cedd00-6ba9-11eb-9f12-d1c9fc828464.png)

[2021-02-10 13:08] MikeEdgar commented on #14814
Darn... Ok, I'll look into this later today or tomorrow, most likely. Thanks for checking.

[2021-02-10 13:11] akoufa commented on #14532
Yes I tried configuring it with these properties but unfortunately the issue continues to persist.

[2021-02-10 13:21] phillip-kruger commented on #14814
#14670 is not included in 1.11.2.Final, but will be in 1.12.0.Final. So if you can, you can try against master.

[2021-02-10 13:24] sberyozkin commented on #14962
@bwand In most cases you'd get 401 from the downstream endpoints - if they are under your control then adding a `lifespan-grace` property would fix it assuming this is the case.
On the client side we can't rewind the chain in case of 401 for a given request. If you can retry once with some delay.
We configure KC with its admin API to ensure, for the oidc client test, the token has been refreshed o

[2021-02-10 13:24] kjeldpaw opened #14971 "Native build fails for 1.11.2.Final with quarkus-smallrye-opentracing"
**Describe the bug**
After I have upgraded to 1.11.2.Final from 1.11.1.final I'm not able to build native when my project uses quarkus-smallrye-opentracing. Removing the dependency it's working.

**Actual behavior**
I'm getting following error:

`[INFO] --- quarkus-maven-plugin:1.11.2.Final:build (default) @ user-stash ---
[INFO] [org.jboss.threads] JBoss Threads version 3.2.0.Final
[INFO] [io.qua

[2021-02-10 13:27] gsmet commented on #14971
Thanks for the report.

It has already been fixed and we will release a 1.11.3.Final tomorrow with the fix.

[2021-02-10 13:27] #14971 closed

[2021-02-10 13:29] MikeEdgar commented on #14814
Thanks for clarifying @phillip-kruger ! I assumed it made it in the release, but it was just close timing.

[2021-02-10 13:34] phillip-kruger commented on #14814
1.12.0.CR1 should be out soon, then we can check there.

[2021-02-10 13:56] jerboaa opened #14972 "GraalVM 21.0 CE native image for spring-web pulls in AWT classes"
**Describe the bug**
Building a native-image for the spring-web integration test with Graal VM 21.0 CE results in AWT classes getting pulled into the native image. This didn't happen with Graal VM 20.3 CE.

**Expected behavior**
No AWT classes, and, thus, native OpenJDK library dependencies should get pulled into the native image.

**Actual behavior**
AWT classes and dependencies get pulled in for

[2021-02-10 14:06] bwand commented on #14962
Ok I will give the lifespan-grace config a try... Thanks for the hint.

@sberyozkin How does the client handle the tokens? Does it check "every" time for expiry or does it wait for a 401 from a called service?

Your last suggestion sounds very useful... to check expiry in the next few seconds!!

[2021-02-10 14:06] geoand commented on #14972
Are there other similar issues that have reported?

[2021-02-10 14:07] zakkak commented on #14972
We are aware of:

    quarkus-integration-test-hibernate-orm-panache-999-SNAPSHOT-runner
    quarkus-integration-test-spring-web-999-SNAPSHOT-runner
    quarkus-integration-test-liquibase-999-SNAPSHOT-runner

(see https://github.com/quarkusio/quarkus/pull/14700#issuecomment-769891115)

[2021-02-10 14:08] gsmet commented on #14972
@geoand I'm interested in talking about this maybe on Friday when things are more quiet for me. Would it work for you?

[2021-02-10 14:09] geoand commented on #14972
Sure yeah

[2021-02-10 14:20] #14754 closed

[2021-02-10 14:20] gmarziou opened #14973 "Execute an environment script from maven plugin for Windows native images"
**Description**

Currently, to build a native image with Quarkus maven plugin on Windows, user must execute a batch file from Visual Studio (e.g. `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsx86_amd64.bat`)  in order to set about 50 (!) environment variables before running `mvn -Pnative package`.

My feature request is to be able to run this batch file fr

[2021-02-10 14:25] jerboaa commented on #14972
@geoand @gsmet

ImageIO support (in whatever library) really should be explicit **opt-in**. The reason for this is that basic ImageIO support works with GraalVM 21.0+, but it requires **explicit** help by running through the code in JVM mode and the Graal VM diagnostic agent attached so as to produce the right config for the `native-image` generator. **Without** that extra config which seems rathe

[2021-02-10 14:32] machi1990 commented on #14532
Yes, I was able to reproduce it. It looks like connection pool are not recycled and the parameters I mentioned above do not have any effect. @pmlopes would you have an idea why this is only happening in sentinel mode but works fine for standalone?

[2021-02-10 14:35] sberyozkin commented on #14962
@bwand As I said it can't rewind the JAX-RS client filter request chain so there is nothing it can do upon a 401 response - it is up to the application to retry if it wants to, a it needs to be able to handle 401 somehow anyway... So yes, it checks the expiry before the call

[2021-02-10 14:42] ThoSap commented on #4766
Hi,

I'm having exactly the same issue as @lucas-dclrcq, @viniciusfcf, and @Agh42
I'm using **Quarkus 1.11.2**
[code]
![image](https://user-images.githubusercontent.com/6555967/107524636-49b8cd80-6bb6-11eb-8433-c2344f76be8a.png)
![image](https://user-images.githubusercontent.com/6555967/107524653-4e7d8180-6bb6-11eb-8272-44a19495b6cf.png)

[2021-02-10 14:44] metacosm commented on #14943
I need to look into it but the sdk extension expects to be getting a client, though maybe decoupling both might be a cleaner solution… Not sure at this point. The idea of depending on the kubernetes-client-extension was so that we could expose a different configuration interface to the client, one that would be specific to the sdk and not expose Quarkus-specific properties.

[2021-02-10 14:56] gmarziou commented on #14973
I tried using exec-maven-plugin but it seems that the environment is not propagated to native-image which fails as "Error: Default native-compiler executable 'cl.exe' not found via environment variable PATH".

[code]

[2021-02-10 15:04] phillip-kruger commented on #4766
Can you perhaps share a small project that reproduce this?

[2021-02-10 15:34] geoand commented on #14961
I don't really understand this, can you explain more?

[2021-02-10 15:34] bwand commented on #14962
Hey @sberyozkin your hint with the lifespan-grace works for us. Thank you again for the hint as we did not know this config.

So I leave it up to you if you want to implement your suggestion to make it similar as in quarkus-oidc with the refresh when token will expire in some seconds....

[2021-02-10 15:36] sberyozkin commented on #14962
@bwand cool, thanks for the confirmation; yeah, I had it in mind even earlier but the original PR had become too large so I could not squeeze everything :-), I'll keep it issue open until this new option is introduced; it may take a little while as there are others I have to deal with as well....

[2021-02-10 15:49] vietj commented on #14779
@maxandersen  we should keep track of the `VertxThreadFactory` that was an initial contribution to Vert.x 3 and ported to Vert.x 4 that is slightly different. The change is trivial but we should record here. See https://github.com/eclipse-vertx/vert.x/pull/3800

[2021-02-10 15:51] sberyozkin commented on #14959
Oh I see, it is `quarkus-oidc-client` which is affected, I thought it was `quarkus-oidc` hence concluded it may have been a regression.

[2021-02-10 16:17] gastaldi commented on #474
I think https://github.com/quarkusio/quarkus/issues/474#issuecomment-454308926 is already implemented and (kinda) satisfies this issue. Can we close this now?

[2021-02-10 16:21] FroMage commented on #474
Well, we never went full-on with this, but we could now, with RESTEasy Reactive, perhaps it's time to restart this. CC @geoand

[2021-02-10 16:26] geoand commented on #474
Yup, there is no better time than now

[2021-02-10 16:56] bwand commented on #14959
Yes it is quarkus-oidc-client and not quarkus-oidc.

[2021-02-10 17:11] FroMage commented on #14779
The HR bug is fixed.

[2021-02-10 17:34] Yelzhasdev commented on #14959
@sberyozkin can you have a look? I think my pr solves the issue

[2021-02-10 17:54] #14601 closed

[2021-02-10 17:59] ivangfr commented on #14545
Hey @cescoffier I am giving Docker `16GB`.

Just to let you know that **now** I was able to build the Docker native image

[code]

So, the image that was built around 10 hours ago worked
[code]

Checking https://quay.io/repository/quarkus/ubi-quarkus-native-image?tab=history, should be this one
[code]

Was there any change in this new one? Thanks!

[2021-02-10 18:21] phillip-kruger commented on #4766
Is it basically that the oauth2-redirect.html is missing ? Or have you included it in your project ? I am busy making a change to add that to this extension, but a good test would be to add it to your application.

[2021-02-10 18:28] gsmet opened #14977 "Warnings when publishing Gradle plugin"
Any chance we could get rid of those warnings:
[code]
?

[2021-02-10 18:43] glefloch commented on #14977
taking care of it!

[2021-02-10 19:09] gunnarmorling commented on #14601
Excellent, thanks! I didn't find the time to test it, sorry. Will pull it
when getting back to my Reactive Qute experimentation.

[2021-02-10 19:11] sapirgolan commented on #11323
Hi,

The issue still happen if the test class has multiple nested "Nested" classes.

[code]

[2021-02-10 19:17] geoand commented on #14601
Cool, thanks 👍

[2021-02-10 19:22] yuriytkach opened #14980 "NullPointerException in ArcContextProvider#deactivateRequestContext on application shutdown"
**Describe the bug**
We have a simple QuarkusApplication with QuarkusMain started as a cronjob 4 times a day. Application uses the following components: quarkus-rest-client, quarkus-vault, quarkus-jackson, quarkus-smallrye-reactive-messaging-kafka, quarkus-vertx.
It is running in JVM mode.
It simply downloads some data from rest api, produces kafka message and shuts down.
Sometimes, after the last

[2021-02-10 20:06] bcluap commented on #14554
Any update on this issue. So keen to move to resteasy reactive. Just this issue blocking me.  No pun intended

[2021-02-10 20:07] geoand commented on #14554
I haven't had time to look into this, but hopefully will soon

[2021-02-10 20:08] geoand commented on #14554
This comment is worthy of a tweet 😎

[2021-02-10 20:11] Postremus opened #14981 "Improve transactional observer without jta warning"
When an application has a transaction observer, but does not depend on JTA, following warning is printed once on startup:

[code]

According to the spec:
[code]

This is already the behavior in case of:
* JTA is present, but no Transaction is running
* JTA is not present. In this case however, the warning is logged at startup.

This warning was therefore a bit misleading in my opinion, since I fir

[2021-02-10 20:12] antoniomacri commented on #13326
Hi @jmartisk, any plan when this will be released?

[2021-02-10 20:56] arvid-villen-adtoox commented on #10212
+1

[2021-02-10 21:17] famod commented on #14892
@kiziltas You could now also try 1.12.0.CR1.

[2021-02-10 21:29] gsmet commented on #14892
If you use 1.12.0.CR1, be sure to use the `quarkus-bom` and not the `quarkus-universe-bom`!

[2021-02-10 22:36] heyplusyou opened #14986 "hibernate-reactive combined with plain jdbc connectionfor quarkus security jdbc"
**Describe the bug**
Defining a reactive datasource and a non-reactive jdbc datasource causes issues during startup. This happens if reactive and non-reactive data source share "default" and as well if the datasources are defined separately.

**Expected behavior**
hibernate-reactive orm uses reactive datasource, quarkus-security-jdbc uses non-reactive jdbc datasource

**Actual behavior**
Issues du

[2021-02-10 22:47] sberyozkin commented on #14986
CC @stuartwdouglas @FroMage

[2021-02-11 00:22] stuartwdouglas commented on #14980
How are you shutting down Quarkus? It sounds like a request is still in progress when shutdown is triggered.

[2021-02-11 00:24] stuartwdouglas commented on #14948
This is not a bug, this will be handled as part of our normal update process, for Netty this generally means being upgraded with Vert.x to ensure compatibility.

[2021-02-11 00:24] #14948 closed

[2021-02-11 00:26] #14707 closed

[2021-02-11 00:26] #14934 closed

[2021-02-11 06:29] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/556843175

[2021-02-11 06:33] #14977 closed

[2021-02-11 06:40] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/556843175

[2021-02-11 08:22] yuriytkach commented on #14980
Nothing special, I just return from the main method:
[code]

Are there any specific shutdown methods that I should call for proper shutdown?

Interesting, that out of 4 runs of the app during a day, only 1 run actually fails with NPE and not every day. I'm still puzzled to understand what conditions could lead to that.

[2021-02-11 08:29] jmartisk commented on #13326
Hi @antoniomacri the PR is still in review, feel free to comment on it if you wish to help speed it up :)

[2021-02-11 08:37] #14935 closed

[2021-02-11 08:38] geoand commented on #14554
It seems like this was already fixed in https://github.com/quarkusio/quarkus/pull/14783.

What it does is what I had in mind - when there is no InputStream, create a blocking one.
This is actually a little dangerous and should only be used on `@Blocking` endpoints, but it should cover your use case.

[2021-02-11 08:38] #14554 closed

[2021-02-11 08:39] loicmathieu commented on #11164
Closing it as #12082 provides a solution for it and no response from the issuer on two month.
Feel free to re-open it if needed.

[2021-02-11 08:39] #11164 closed

[2021-02-11 08:56] phillip-kruger commented on #14814
@bwand 1.12.0.CR1 is out, can you perhaps check against that ?

[2021-02-11 09:11] bcluap commented on #14554
Great thanks. I'll add @Blocking on the application level and give this a
go.

On Thu, Feb 11, 2021 at 10:38 AM Georgios Andrianakis <
notifications@github.com> wrote:

[2021-02-11 09:23] cescoffier commented on #14545
Just an update of the UBI parent image for CVE reasons.

[2021-02-11 09:24] manovotn commented on #3532
Giving this some more thought:
* We probably want to ignore `BeanManager.createInterceptionFactory` because this can be called anytime in runtime (and is mostly used by runtime extensions anyway)
* With producer methods, even though there is an injection point of type `InterceptionFactory`, we have no way of knowing the interceptor bindings user wants to add unless they call `.configure()` but tha

[2021-02-11 09:39] weversiep commented on #9329
Hello, just a question...  do you know when the backpressure implementation will become available? We are really looking forward to using it in our applications.

[2021-02-11 09:59] vsevel opened #14991 "Classloading error with QuarkusMock regression in 1.12.0.CR1"
**Describe the bug**
I upgraded from `1.11.2` to `1.12.0.CR1`, and I get the following error in my unit tests:
[code]
I don't have a stacktrace other than the line of the test.

**Expected behavior**
No regression. Mock works as expected.

**Actual behavior**
The unit test fails with the above exception.

**To Reproduce**
I don't have yet an independent reproducer. Here is the code in my applicati

[2021-02-11 10:20] gsmet commented on #14991
/cc @stuartwdouglas

[2021-02-11 10:21] michalszynkiewicz commented on #9329
@weversiep it's still on my roadmap but I didn't plan to go back it very soon. Did you encounter any problems with the current implementation?

[2021-02-11 10:34] stuartwdouglas commented on #14991
Any chance you could test with this PR: https://github.com/quarkusio/quarkus/pull/14952

[2021-02-11 10:40] squakez commented on #8145
We've hit the same [issue](https://github.com/apache/camel-k-runtime/issues/625) and I've applied the workaround described by @giova333 to fix it. However it seems to be confirmed the behavior of double calls during runtime. I've created a simple [reproducer](https://github.com/squakez/test-quarkus-config-source) that I hope can help you spotting the problem.

Executing that you will see the follo

[2021-02-11 10:59] geoand commented on #13818
I will start working on this today and should have something by early next week

[2021-02-11 11:03] phillip-kruger commented on #4766
@ThoSap - do you perhaps have a small reproducer ?

[2021-02-11 11:09] ThoSap commented on #4766
@phillip-kruger If I have time I will prepare one today based on https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-keycloak-authorization-quickstart

[2021-02-11 11:27] pjgg opened #14996 "Quarkus Rest client can't consume /health and /metrics properly"
## Description

microprofile-rest-client delivered  can't consume /health and /metrics properly, because doesn't follow redirects.

### Steps to reproduce

Add  Quarkus Rest client as a dependency:

[code]

Setup a Rest client:

[code]

Properties:

[code]

And then make a query:

[code]

You will get an Http status 301

[2021-02-11 11:29] geoand commented on #14996
Isn't there any config setting to make this work @michalszynkiewicz ?

[2021-02-11 11:32] neusta4ail opened #14997 "RESTEasy reactive / Undertow routing race"
**Bug Description**

While testing quarkus-resteasy-reactive (for REST) in combination with undertow (for websockets), I experienced four closely related problems:

*1. Race condition*: When activating quarkus-undertow[-websockets] + quarkus-resteasy-reactive[-*] extensions at the same time (i.e. to combine websockets with reactive JAX-RS), both will register routes/handlers at "/" by default in t

[2021-02-11 11:35] geoand commented on #14997
@stuartwdouglas @FroMage I wonder if we should just disallow RESTEasy Reactive + Undertow for now as they don't seem to play well at alll together...

[2021-02-11 11:37] fgrandel-neusta commented on #14997
@geoand - That would be a problem for us as long as there is no Websocket solution within resteasy-reactive.

[2021-02-11 11:41] geoand commented on #14997
I am pretty sure that @stuartwdouglas has something in the works

[2021-02-11 11:47] michalszynkiewicz commented on #14996
Sadly, there is no MicroProfile Rest Client setting to make it work, it's been introduced in MP RC 2.0: https://github.com/eclipse/microprofile-rest-client/pull/274 and we're on 1.4.x.

There should be a way to set it through RestEasy settings. I found this in the docs but I'm not sure how to do it with MP API.

@ronsigal @asoldano maybe you know? Is there some some property mabe to enable followi

[2021-02-11 11:54] codegourmet opened #14998 "OpenAPI generation couldn't infer response type for generic type parameters in resources"
**Describe the bug**
When I inherit a resource from a generic base resource, and the response type is the generic type argument,
then it will not get picked up.

**Expected behavior**
The concrete response type should be inferred and used as response schema.

**Actual behavior**
An empty object is rendered as schema (Object).
If the generic type argument has an upper bound, the upper bound is rend

[2021-02-11 12:54] ge0ffrey opened #14999 "Changing the log level for a category doesn't just work"
In application.properties, this works:

[code]

These should work too,
as shown in the docs here https://quarkus.io/guides/logging#runtime-configuration

[code]
This silently keeps org.optaplanner logging on INFO, but should put it on DEBUG.

or even simpler:

[code]
This silently keeps org.optaplanner logging on INFO, but should put it on DEBUG.

[2021-02-11 12:57] ge0ffrey commented on #14999
I am pretty sure this is a regression.

[2021-02-11 13:30] vsevel commented on #14991
it is actually not easy to recompile quarkus in our corporate env. is there any snapshot version I could use?

[2021-02-11 13:32] ivangfr commented on #14545
Thanks! I am closing the issue.

[2021-02-11 13:32] #14545 closed

[2021-02-11 13:33] yuhaibohotmail opened #15001 "@TestHTTPEndpoint can not work with RESTEasy reactive"
**Describe the bug**
@TestHTTPEndpoint  can not work with RESTEasy reactive .
[code]
**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
[code]

**Environment (please complete the following information):**
 - Quarkus version or git rev:   12.0.0.CR1

[2021-02-11 13:58] ge0ffrey commented on #14999
Probably fixed in 1.11.2.Final already. Verifying...

[2021-02-11 14:17] gsmet commented on #14999
It's related to `min-level`. If you want to log more than `INFO`, you needed to set `min-level=DEBUG` too.

I changed it in 1.11.2.Final: default min-level is DEBUG in 1.11.2.Final (but you still need to change it if you want TRACE level debug info).

[2021-02-11 14:18] #14959 closed

[2021-02-11 14:18] gsmet commented on #14999
See https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.11#log-min-level (but I will update it now that 1.11.2.Final is released).

[2021-02-11 14:28] weversiep commented on #9329
@michalszynkiewicz in our microservices landscape we have a Quarkus/gRPC eventing service that handles Kafka connectivity.
The other services can work with Kafka messages that the eventing service pushes onto a gRPC-stream.
The receiving services need to implement pushback, otherwise they might get overloaded, but currently I see no way to do this using Quarkus.
So I think this is the bridge for g

[2021-02-11 14:45] bwand commented on #14814
@phillip-kruger Checked it against 1.12.0.CR1 but no success. Getting the same errors as before:
![image](https://user-images.githubusercontent.com/4275361/107651795-35410780-6c80-11eb-97f6-5b3e487fd5b2.png)

[2021-02-11 14:48] phillip-kruger commented on #14814
mmm , ok thanks. @MikeEdgar that means that fix did not fix this scenario ....

[2021-02-11 14:59] jnsfrg commented on #13440
I am having the exact same issue with Quarkus 1.11.2 as well. @pat-karakun did you find any way around this?

[2021-02-11 15:06] wicksim opened #15004 "OIDC: 401 when keys need to be refreshed"
**Describe the bug**
We're using OIDC-Extension. Everything works fine until our OIDC-Server starts rotating keys. In this case, the first call ends in a 401-unauthorized answer from Quarkus. All subsequent calls then work fine again.

**Expected behavior**
Rotated OIDC-keys should have no negative impact on any call.

**Actual behavior**
First call after key-rotation ends up in an 401 answer, des

[2021-02-11 15:36] blxbrgld opened #15006 "SecurityIdentityAssociation's identity not set by event fired from Undertow"
Hello,

our application performs authentication with the servlet spec (HttpSerlvletRequest.login) and we faced the following issue when we tried to upgrade from **1.10.3.Final** to **1.11.2.Final**:

by fixing [issue/13835](https://github.com/quarkusio/quarkus/issues/13835) **SecurityIdentityAssociation** does not observe **SecurityIdentity events** anymore ([here](https://github.com/renegrob/quar

[2021-02-11 15:44] gsmet commented on #13440
@pat-karakun @jnsfrg could you test my PR here: https://github.com/quarkusio/quarkus/pull/15007 ?

https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master should be helpful except you need to get my branch.

It sure fixes the NPE but I have no idea if the issue is more complex than that and if the `MDCScope` shouldn't have been created in the first pla

[2021-02-11 15:45] sberyozkin commented on #15004
@wicksim Hi, thanks for opening this issue, it is a duplicate of #12984.
 Let me close this one and please watch #12984 - at the moment there is nothing that can be done about it. It will be resolved with #14492. thanks

[2021-02-11 15:48] #14141 closed

[2021-02-11 15:48] #14466 closed

[2021-02-11 15:59] pmlopes commented on #14532
@machi1990 can you share the reproducer? Also now that work started on vertx 4, can you give it a shot with the new client?

[2021-02-11 16:39] tursicSR opened #15008 "resources not found when using PathParam"
Hello.
I have a problem with loading resources when using PathParam. With usage of QueryParam everything works fine.
When I call it with PathParam, the code is called several times, and only at first time the original param is passed, and then it is called with all my ressources (like .css-file, pictures, etc.) as param.

The result is, that the resources are not found.

Here is the code:
[code]
W

[2021-02-11 16:57] #14878 closed

[2021-02-11 17:00] #14645 closed

[2021-02-11 17:07] geoand commented on #13818
https://github.com/quarkusio/quarkus/pull/15009 is a very rough first version of this that implements the 3 first parts of https://github.com/quarkusio/quarkus/issues/13818#issuecomment-758373951

[2021-02-11 17:29] #13031 closed

[2021-02-11 17:31] CurtisBaldwinson commented on #15008
Are you using RestEasy Reactive? Try `@RestPath String nr` instead of `@PathParam("nr") String nr`

See: https://quarkus.io/guides/resteasy-reactive#accessing-request-parameters

[2021-02-11 17:35] CurtisBaldwinson commented on #15006
I'm not sure if it was a bug or not but I had a similar problem.

In my Filters class I injected the following SecurityIdentityAssociation:
[code]

Then after grabbing the user information, I set the identity like so inside the @ServerRequestFilter:
[code]

SecurityIdentity has a bunch of methods you'll need to override, which your IDE should help you generate.

[2021-02-11 18:05] #12551 closed

[2021-02-11 18:16] gsmet commented on #13440
@Ladicek created a PR for SmallRye OpenTracing here: https://github.com/smallrye/smallrye-opentracing/pull/173 .

Hopefully, we will be able to update to a new version in Quarkus soon. Stay tuned.

[2021-02-11 19:12] murphye opened #15012 "Improve GraalVM --shared support for embedding Quarkus native into C/C++ applications"
**Description**

This is an exciting new use case for using Quarkus. By using GraalVM `native-image --shared`, instead of producing an executable, it can produce a shared library (`.so`) and header files to compile and link to a C or C++ application. See this documentation: https://www.graalvm.org/reference-manual/native-image/#build-a-shared-library

I have a mostly working example of using `nati

[2021-02-11 19:33] glefloch opened #15013 "Application name and version are not available in test"
As discuss here: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Application.20name.20and.20version,
`quarkus.application.name` and `quarkus.application.version` are not available in test mode.

To be consistent, those configuration should always be available and fallback to artifact id/version if not set.

[2021-02-11 19:33] gsmet commented on #15012
I think what you need is probably an entirely new quarkus.package.type.

On Thu, Feb 11, 2021 at 8:12 PM Eric Murphy <notifications@github.com>
wrote:

[2021-02-11 19:36] murphye commented on #15012
Yes, I would agree with that. It could be something like:

`<quarkus.package.type>native-library</quarkus.package.type>`

[2021-02-11 20:05] ThoSap commented on #4766
@phillip-kruger sorry I did not find the time to prepare the reproducer.

I just manually checked the app.jar of a Quarkus **1.11.2** prod build and found that indeed the file `oauth2-redirect.html` is missing in
app.jar:/META-INF/swagger-ui-files/**oauth2-redirect.html**

But even if the file would be there, the redirected context should be **/q/swagger-ui/oauth2-redirect.html** and not _/oauth2-

[2021-02-11 20:08] jorsol opened #15014 "Amazon S3 build failure on v1.12.0.CR1 using url-connection-client"
**Describe the bug**
I'm using the `url-connection-client` with S3, declaring the dependencies as:

[code]

When I try to update the version from Quarkus 1.11.2.Final to 1.12.0.CR1 the build fails with the following stack trace:
[code]

If I don't exclude the `apache-client` dependency, and I have tests that create an `S3Client` mock ,  the tests fails with:
`Multiple HTTP implementations were fou

[2021-02-11 20:26] vsevel commented on #14991
I was able to make a build with your branch. unfortunately it does not solve the issue.

[2021-02-11 20:28] radcortez commented on #13440
@pat-karakun I gave it a try with your example and with the following update: https://github.com/quarkusio/quarkus/pull/15015. It seems to work.

Do you mind to confirm as well? Thanks!

[2021-02-11 20:28] gsmet commented on #15014
The `apache-client` and `netty-nio-client` dependencies are optional in `quarkus-amazon-s3` so I don't understand why you would need to exclude them. Do you have them when you do a `mvn dependency:tree`? Could you explain what's going on?

Could you also paste your config (credentials excluded)?

Thanks!

[2021-02-11 20:43] kenfinnigan commented on #10499
FYI, I've added a Draft PR with an initial OpenTelemetry extension. Further work needed for adding the ability to export with Jaeger

[2021-02-11 20:48] jorsol commented on #15014
They are marked as `runtime` by s3 and for some reason I end up with those dependencies on the lib folder, that's why I exclude them (even on 1.11):
[code]
Anyway, I don't have set up the `quarkus.s3.sync-client.type` if you ask, so the default `url` should apply. The weird thing is that for some reason is jumping into the `apache` type.

[2021-02-11 20:55] gsmet commented on #15014
Any chance you could prepare me a small Maven reproducer? I don't need it to really connect to S3, I would just like to experiment properly with your setup and see how things are initialized.

Thanks!

[2021-02-11 21:36] bcluap opened #15018 "RESTEasy Reactive: Customised Jackson ObjectMapper not used"
Expected behavior
If the ObjectMapper is customised then it should be used when serialising JSON as it does with normal RestEASY.

Actual behavior
Some other ObjectMapper is being used, causing customised mapping to be ignored.

To Reproduce

git clone https://github.com/bcluap/quarkus-examples.git
cd quarkus-examples/resteasy-reactive
mvn clean test

Configuration
Nothing specific

Environment (p

[2021-02-11 21:40] machi1990 commented on #14532
@akoufa prepared a reproducer here https://github.com/akoufa/quarkus_sentinel_issue

Has this issue been fixed in vertx 4?

[2021-02-11 22:02] pat-karakun commented on #13440
bad timing... I'm out of office for a week and won't be able to confirm personally. But I ask my teammembers whether someone can do it earlier.

[2021-02-11 22:09] jorsol commented on #15014
Ok, here you have it: https://github.com/jorsol/quarkus-bug-15014

You can try to remove the exclusions too.

[2021-02-11 22:11] radcortez commented on #13440
Thanks! Have fun :)

[2021-02-11 22:19] nvoxland commented on #14751
I was able to reproduce the issue and have an upcoming fix in Liquibase to handle it.

https://github.com/liquibase/liquibase/pull/1688

[2021-02-11 23:01] famod commented on #14751
Awesome, thanks @nvoxland! Fingers crossed it ends up in 4.3.1. 😉

[2021-02-11 23:09] LuccaPrado commented on #14803
Hey, we need just to update quarkus guides, as the [security jwt](https://quarkus.io/guides/security-jwt#maven-dependency) still referring to quarkus-smallrye-jwt-build

[2021-02-11 23:47] stuartwdouglas commented on #14991
I just added this same code to VaultTest in the Quarkus codebase and there was no exception. Can you add `
        System.out.println(Thread.currentThread().getContextClassLoader());` to the top of the method to see what the current ClassLoader is, it should be: `QuarkusClassLoader:Quarkus Base Runtime ClassLoader`

[2021-02-11 23:53] stuartwdouglas commented on #14980
Do you have any guard that the work you are doing in an async manner is done before you start shutdown?

I think the issue here is likely that you are done with your work, and then you start shutdown, but Quarkus is still running its cleanup code (namely deactivating the request scope). For HTTP based apps we track current requests and can pause them till they are done, but it is harder to do with

[2021-02-11 23:53] stuartwdouglas commented on #14980
For now the simplest workaround is likely to add Thread.sleep(100) just before you exit, to give Quarkus time to finish.

[2021-02-12 01:16] nvoxland commented on #14751
We were already in the final testing for 4.3.1 (quick release to address a breaking issue), so it will be 4.3.2, unfortunately.

[2021-02-12 02:56] stuartwdouglas commented on #14997
I have something in the works, I had put it on hold due to not wanting to conflict with the Vert.x 4 work but it might be worth just dealing with it, and if it causes problems I will just deal with them: https://github.com/quarkusio/quarkus-http/pull/55.

For now you can add quarkus-resteasy-reactive-servlet to your project and run on Undertow. It won't be quite as performant but still should be f

[2021-02-12 03:19] phillip-kruger commented on #4766
Ok that helps, I'll look at this today, if we make sure `oauth2-redirect.html` is relative to the swagger-ui `index.html` if should be ok.

[2021-02-12 03:46] #8174 closed

[2021-02-12 05:32] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/560039674

[2021-02-12 06:55] #15001 closed

[2021-02-12 07:02] bcluap commented on #15018
Hi Georgios

Just an FYI on the strange way I'm adding the serializer config. For the life of me I cannot get this to work on reactive nor normal resteasy. The log line is seen but the mapper is not used in either mode. I've always just worked around this by injecting the mapper and adding the config:

@Singleton
public class RegisterCustomModuleCustomizer implements ObjectMapperCustomizer {
    p

[2021-02-12 07:02] geoand commented on #15018
I completely understand why one would think this looks like a bug, but it's actually not.
It only worked in RESTEasy Classic, sort of by accident.

The proper way to customize an `ObjectMapper` in Quarkus is by using an [ObjectMapperCustomizer](https://quarkus.io/guides/rest-json#jackson).

In your case as you are trying to add a serializer that also added by the `com.fasterxml.jackson.datatype.js

[2021-02-12 07:17] vsevel commented on #14991
I added a trace in the `BeforeAll`, and before using the mock in the business code, both are showing `QuarkusClassLoader:Quarkus Base Runtime ClassLoader`
I will try to create a reproducer out of my code today.

[2021-02-12 07:29] cescoffier commented on #14532
Anyway, we need a vert.x 3.x fix if that's a bug. Vert.x 4 integration is still months away (4-5 months)

[2021-02-12 07:31] cescoffier commented on #9329
Exactly, right now there are 2 different protocols, not connected. This issue is about handling that properly.

[2021-02-12 07:41] fgrandel-neusta commented on #14997
Hi @stuartwdouglas, thanks for your support and feedback.

We do have a working configurative workaround, though, simply by setting quarkus.servlet.context-path to some non-default root path other than "/". This will change Undertow recorder's top-level route to a different value and will thereby let quarkus-resteasy-reactive-jackson (in our case) deal with the requests on other routes at full per

[2021-02-12 07:45] TobiWeier opened #15025 "Quarkus keeps dead database connections in its connection pool"
**Describe the bug**
Dead database connections are not removed from the pool. Since these are unusable, Quarkus has to make further connections. If the pool is filled completely with dead connections, it becomes unusable. The status of the pool remains permanently on DOWN, even when the database is available again.

**Expected behavior**
Agroal connection pool should be able to remove dead databas

[2021-02-12 07:48] bcluap commented on #15018
lol so in fact there is more to this than meets the eye. It seems that its not the priority method that makes a difference - instead its the name of the Customizer. It seems like they are prioritized based on alphabetic order of classname. If you do a pull you will see some changes I made to your customizer:
[code]

The name "RegisterCustomModuleCustomizer" I was using starts with R while yours st

[2021-02-12 07:56] geoand commented on #15018
That is sort of the case.

When the customizers don't change the priority, the default priority is set and then yeah, I guess the name comes into play implicitly.
But if you use the priority (which was added to address this type of situation), then you don't have to worry about the name.

[2021-02-12 07:57] geoand commented on #15018
No, that's not the case. If I remove the priority mine doesn't work either

[2021-02-12 07:58] jnsfrg commented on #13440
I gave it a try using https://github.com/quarkusio/quarkus/pull/15015 with my app and it seems to resolve the issue. Thanks for the great support!

[2021-02-12 07:59] bcluap commented on #15018
Even with priority it fails if the class name is late in the alphabet:

![image](https://user-images.githubusercontent.com/26746221/107743040-d67b9c80-6d18-11eb-9c4f-5dea95039d38.png)
![image](https://user-images.githubusercontent.com/26746221/107743052-dd0a1400-6d18-11eb-8e23-356ebfb13ccb.png)
![image](https://user-images.githubusercontent.com/26746221/107743104-f612c500-6d18-11eb-9b63-a1d6fd175d

[2021-02-12 08:01] bcluap commented on #15018
Aha. I'm not going mad!!!

[2021-02-12 08:06] vsevel commented on #14991
@stuartwdouglas here is a reproducer: https://github.com/vsevel/reproducer_classloader_14991

[2021-02-12 08:06] jmartisk commented on #14650
The array of normalized weights is certainly wrong, most of them are zero, one value is `NaN`, while it should be an array such that the sum is 1 (and obviously there should be no NaN in it).

The weights are adjusted during rescaling
https://github.com/smallrye/smallrye-metrics/blob/2.4.5/implementation/src/main/java/io/smallrye/metrics/app/ExponentiallyDecayingReservoir.java#L209

One way to get

[2021-02-12 08:08] wmedvede opened #15026 "@PreDestroy method seems to not be invocked when ExecutorManager is being used."
In the following project test-executor project

https://github.com/wmedvede/test-executor-issue.git

I have the silly component below.

All right, when I execute my application in dev mode, with mvn clean compile quarkus:dev

In can see that the created MyRunnable is executing, etc, as expected.
When I stop the application with "CTRL+C" the application stops gracefully, i.e. the @PreDestroy method

[2021-02-12 08:09] geoand commented on #15018
So the problem turns to be that the auto-generated customizer also uses the minimum priority and that causes the sort to fallback on the name.

Thanks for identifying the problem!

I'll add a fix ASAP

[2021-02-12 08:15] jmartisk commented on #14650
It could also be that the sum of weights (before normalizing) is zero when creating the snapshot: https://github.com/smallrye/smallrye-metrics/blob/2.4.5/implementation/src/main/java/io/smallrye/metrics/app/WeightedSnapshot.java#L77
But that would mean that all samples have zero weights, which, as implied by my previous comment, I can't imagine why :/

[2021-02-12 08:20] pjgg commented on #14851
No, just the idea!. So, go for it!!!

[2021-02-12 08:23] geoand commented on #15018
https://github.com/quarkusio/quarkus/pull/15027 takes care of the problem.

Thanks again for the vigilance!

[2021-02-12 09:03] yuhaibohotmail opened #15028 "RESTEasy Reactive: can't inject when using inteface declaration endpoint"
**Describe the bug**
  Inject  fail when using inteface  declaration endpoint.

[code]
[code]

**To Reproduce**

[restreactivedemo.zip](https://github.com/quarkusio/quarkus/files/5970625/restreactivedemo.zip)

**Environment (please complete the following information):**
 - Quarkus version or git rev: 1.12.0.CR1

**Additional context**
(Add any other context about the problem here.)

[2021-02-12 09:10] weversiep commented on #9329
Allright, thank you for your response.

[2021-02-12 09:10] #13440 closed

[2021-02-12 09:16] Ladicek commented on #15026
Out of curiosity, I took a look at this in a debugger, because I thought perhaps that might be some easy bug, but no. What seems to happen is: shutdown is properly initiated, the shutdown task created by `ExecutorRecorder.createShutdownTask` runs, asks the executor to shut down and waits for it to finish. That obviously doesn't happen, because there's a task still running (the `MyRunnable` one). T

[2021-02-12 09:18] gsmet commented on #15014
Thanks, I will have a look later today.

[2021-02-12 09:55] AdamBien opened #15030 "MicroProfile Metrics, Health, OpenAPI URI changed"
Quarkus introduced: /q/ prefix for all non-application endpoints (/health, /metrics,/openapi) which is a not a conventional behaviour. The other MicroProfile runtimes behave as expected.

"/health", "/metrics", (...) endpoints accessed by MP Rest Clients / JAX-RS are currently broken,
because 301 is not honoured per default.

Quarkus should at least ship with the setting:

quarkus.http.non-applica

[2021-02-12 10:02] phillip-kruger commented on #15030
@kenfinnigan

[2021-02-12 10:06] cescoffier opened #15031 "Mapper sharing between the Jackson extension and Vert.x"
**Description**

Vert.x 4 offers an SPI mechanism that would allow sharing the `ObjectMapper` between Quarkus and Vert.x. Thus, user customization would also be applied to object mapped to JSON from Vert.x.

**Implementation ideas**

- The Jackson extension (runtime) could depend on Vert.x core (optional dependency) and implement the SPI
- The SPI implementation would retrieve the managed `ObjectM

[2021-02-12 10:17] MartinX3 opened #15032 "[Bug] Since 1.11.3 problems reading application.yaml"
**Describe the bug**
Quarkus wants to populate a %prod variable while it is running in %dev
1.11.2 was fine
Now with 1.11.3 quarkus wants, that the env variables in %prod are valid while running in %dev

**Expected behavior**
Ignoring the missing environmental variable

**Actual behavior**
`Could not expand value mail.pw in property %prod.quarkus.mailer.password"`

**To Reproduce**

Link to a smal

[2021-02-12 10:39] maxandersen commented on #15030
Thanks @AdamBien - just to check the two end points I see in microprofile spec referenced is `/health` and `/metrics` for health and metrics ...openapi is in https://download.eclipse.org/microprofile/microprofile-open-api-1.0/microprofile-openapi-spec.html

Now on the issue, the reason for moving to a `/q` prefix was two-fold:

1) we wanted a place where we could "safely" add endpoints that would

[2021-02-12 10:43] geoand commented on #13818
https://github.com/quarkusio/quarkus/pull/15009 should now be usable if you want to test it let me know what you think

[2021-02-12 10:54] tursicSR commented on #15008
I have tried it with RestEasy Reactive and "@RestPath String nr", but it didn't help. Instead I got problems with my database access (blocking operation on a IO thread).
Without reactive the database access works fine.

[2021-02-12 10:57] gsmet commented on #15032
@radcortez could it be related to your changes here: https://github.com/quarkusio/quarkus/pull/14309 ?

[2021-02-12 11:02] jmartisk commented on #15030
I think I'd vote for option 3 (if we make sure the performance hit is not too large and that applications trying to serve something on those endpoints receive priority).
Doing option 1 now would be a breaking change, and I assume some users have already adapted after the original breaking change.
And I don't like number 2 because following the spec sounds like something that should be done by defa

[2021-02-12 11:13] phillip-kruger commented on #15030
I would also prefer 3. But maybe do it for all current non application endpoints, not just the 3 spec related onces ?
If we take those 3 (health, metrics, openapi) what is left ? swagger-ui and graphql-ui (not in prod mode by default) and dev-ui (can not be used in prod)

[2021-02-12 11:15] maxandersen commented on #15030
That is not an option IMO, we do not want to constantly have to consider namespace collisions. We need a place to (fairly) reliably add endpoints. That is why we added /q/ to begin with.

We can't have a clean add of new items if we default every endpoint to the root(/).

[2021-02-12 11:17] maxandersen commented on #15030
The spec is really secondary in this issue. Its about effect on existing production rollouts.

[2021-02-12 11:19] maxandersen commented on #15030
Yes, if there is no performance hit for production i'm +3 for option 3 too. @kenfinnigan raised the perf concern so I'll have to await his comment on what it really was about.

[2021-02-12 11:27] #15018 closed

[2021-02-12 11:50] jmdsc opened #15033 "SRCFG00013: No Converter registered for class java.time.Period"
**Describe the bug**
With the upgrade from 1.11.0.Final to 1.11.1.Final or 1.11.2.Final or 1.11.3.Final, native images no longer run when a configuration property of type **java.time.Period** is defined.

**Expected behavior**
Expected native image to startup.

**Actual behavior**
Native image does not start, reporting the following exception:
[code]

**Configuration**
[code]
[code]

**Screenshots

[2021-02-12 12:23] gsmet commented on #15033
/cc @radcortez

[2021-02-12 13:10] jtama-op commented on #14910
Ok, so I have something that works, and that is enable to detect duplicates from different classes.
But I find the code really messy...
I made a WIP PR so we can discuss on this.

[2021-02-12 13:15] radcortez commented on #15032
Maybe, I'll check.

[2021-02-12 13:17] radcortez commented on #15033
@jmdsc Did this work in 1.11.0 or before?

[2021-02-12 13:34] zellerr commented on #14172
@geoand Thanks for trying the reproducer. Honestly, I myself cannot reproduce it anymore. This drives me crazy as I was so sure that we had this behaviour in one of our microservices. Either it was fixed by magic or it was the kinda bug that you discover on Friday afternoon after a long exhausting week....
Sorry, your time was wasted here so far. I'll post an update when this can (really) be repro

[2021-02-12 13:35] geoand commented on #14172
No problem at all!

Thanks

[2021-02-12 13:41] jmdsc commented on #15033
@radcortez
I could swear it worked on 1.10.5 and 1.11.0
Now I can't even get it to work on 1.10.5 with our current dependencies. The only other difference I can see is that we swapped out `quarkus-resteasy-jackson` for `quarkus-resteasy-jsonb` as well when upgrading to 1.11.1

[2021-02-12 13:55] kenfinnigan commented on #15030
We can do option 3, the issue is the behavior would need to live in each of those extensions instead of a central location, but the config to turn it off would need to be centralized in Vert.x HTTP extension.

We'd need to clearly document in the extensions why it's done this way to prevent other non-application extensions from doing the same as Health, Metrics.

Would we still provide a redirect

[2021-02-12 14:03] ppalaga commented on #14530
We'd very much welcome some sort of `SerializableClassBuildItem` being delivered by Quarkus. Actually we have a bunch of issues that were originally blocked by https://github.com/oracle/graal/issues/460 and https://github.com/oracle/graal/pull/2730 now are blocked by this one :).

[2021-02-12 14:06] jmdsc commented on #15033
@radcortez
A small note if helpful... we also have properties of type `java.time.Duration` defined and that works fine.

[2021-02-12 14:14] radcortez commented on #15033
Thanks for the feedback. It is indeed weird if it seems to work before and not working now. I don't remember any change that may have affected that. I'll have a look.

[2021-02-12 14:27] JiriOndrusek opened #15039 "Even if feature about serialization (from GraalVM 21.0 ) is proposed, small change could make it work even now"
**Description**
There is an issue about *Better DevExp for serialization feature support as of GraalVM 2* (https://github.com/quarkusio/quarkus/issues/14530)

But it is possible to make serialization work only by removing substitution, which cuts off serialization - see https://github.com/quarkusio/quarkus/commit/214e05cf396c8dca18bd6a7b99062fe42d9749bc

**Implementation ideas**
I've tested camel-

[2021-02-12 14:33] ebullient commented on #15030
We use a builder for non-application endpoints.. can we make it an option? (additional endpoint or "also serve from root").

[2021-02-12 14:46] kenfinnigan commented on #15030
Thinking it through I see the following:

- A flag on Vertx HTTP config as to whether "MP endpoints", for want of a better term right now, should be exposed on the root path. Enabled by default
- Health/Metrics/OpenAPI extensions create their `RouteBuildItem`s as before, but now also call `serveFromRoot()` on the builder as well if the "MP endpoints" flag is true. Builder defaults `serveFromRoot`

[2021-02-12 14:53] gsmet commented on #15039
@JiriOndrusek if CI is OK with it, I'm OK too.

[2021-02-12 15:15] JiriOndrusek commented on #15039
CI is OK with the subset of tests at the moment, I'm working on the rest of them (but their issues are not serialization related)

[2021-02-12 15:19] ebullient commented on #15030
I think the redirect was a bad call. Wherever we had a redirect, we should just serve the thing (additional route that could match an existing handler).

Would that mean existing configuration can stay as-is.. ?!

I think we still have the "does this endpoint nest under /q or should it be served from root" question, which is floating around in the OAuth/JWT space right now.

My original thought wa

[2021-02-12 15:47] holomekc opened #15042 "JAX-RS Resource with multiple MediaTypes fails"
**Describe the bug**
When we annotate a JAX-RS Resource with ```@Produces({"application/json", "application/hal+json"})```
It is not possible to access the resource with Header ```Accept: application/hal+json```.

**Expected behavior**
Server answers request with header ```Accept: application/hal+json``` with custom MessageBodyWriter

**Actual behavior**
Server answers request with HTTP 406

**Rea

[2021-02-12 15:48] JiriOndrusek commented on #15039
@gsmet Sorry, I didn't understand correctly.  I'll try to create PR and see whether CI is ok. I've tested only my usecase.

[2021-02-12 16:36] ebullient opened #15044 "Better detection of rest request templated paths for metrics (micrometer)"
**Description**
Follow on from  #14813

Using matchPattern to replace the URI used with http metrics tags is error prone. The existing detection mechanism was cursory, and only worked for simple paths.

**Implementation ideas**

For ResteasyReactive, we have a chance to expose the known/used template path more directly as part of the SimplifiedResourceInfo associated with the RuntimeResource. We c

[2021-02-12 16:38] maxandersen commented on #15030
For me to grok it best - can you link to where this logic is handled now ? sounds like it is in a central place - not per extension ?

[2021-02-12 16:47] sberyozkin commented on #15004
It is better to keep this issue open as the other issue I linked to is overloaded and primarily about the optional blocking of the introspection

[2021-02-12 16:48] kenfinnigan commented on #15030
Right now Health, as an example, does https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-health/deployment/src/main/java/io/quarkus/smallrye/health/deployment/SmallRyeHealthProcessor.java#L231 to register a non-application endpoint.

The processing of the routes is then handled here: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/deployment/src/main/java/i

[2021-02-12 16:57] gsmet commented on #15014
I had a look. I think it was working before because the Apache classes were leaking in the deployment phase and it's not the case anymore. So it looks like a side effect of an unrelated bugfix.

Fixing it will require some reorganization of the code. I'll try to come up with a fix before the Final.

[2021-02-12 17:33] radcortez commented on #15032
@MartinX3 Sorry about this.

This is related with some improvements for the console. Before we were only listing our own properties which was more controlled, now we list everything, including user ones and I guess I did not foresee all scenarios :)

As a workaround, you can set an empty default, like ${something:}. I already have a I fix for it to apply in the meanwhile. Thanks!