[2020-03-20 09:12] KaenDagger commented on #6855
@geoand  should we close this one? Now that if we are moving with Transformation

[2020-03-20 09:16] geoand commented on #6855
Sure yeah

[2020-03-20 09:21] #6855 closed

[2020-03-20 09:21] aloubyansky commented on #8009
Yes, I just found that out too. A workaround is to follow up with `gradle addExtension --extensions=xxx`

[2020-03-20 09:27] jaikiran commented on #7990
Perhaps this might help https://github.com/quarkusio/quarkus/pull/8010. I don't have a Windows OS at hand to test this out.

[2020-03-20 09:32] zulq commented on #7988
Figured out this is found in `quarkus-elytron-security-common`.

[2020-03-20 09:32] #7988 closed

[2020-03-20 09:53] simonedavico commented on #6067
Sorry for not giving any feedback to you @aloubyansky, I'll try to get the test done within today!

[2020-03-20 09:55] haraldatbmw commented on #7990
The code looks promising. I will test it on my windows machine and give feedback as soon the build has finished.

[2020-03-20 09:57] lordofthejars opened #8011 "Creates a Guide for Vault TOTP support"
**Description**

Creates a Guide for Vault TOTP support

**Implementation ideas**

Creates a Guide for Vault TOTP support with a simple example.

[2020-03-20 10:20] KaenDagger commented on #8009
But previous version did not have this issue. If fine would like to work upon it

[2020-03-20 10:30] geoand commented on #8004
@fredmtyro I tried your reproducer with #8012 and the test now passes if you use:

[code]

[2020-03-20 10:31] geoand commented on #8009
@KaenDagger I would say feel free to work on it. We should fix this for `1.3.1.Final`

[2020-03-20 10:47] aloubyansky commented on #8009
The create command actually invokes the add-extension command. So the bug is either in the way it is invoked or the persistence of the result.

[2020-03-20 10:49] Gui-Yom commented on #7986
Throws the same error

Same error

I see that in the stacktrace :
[code]
Does this mean a missing export is the root cause ? Something has changed in the quarkusDev task from the gradle quarkus plugin ?

[2020-03-20 10:50] sberyozkin commented on #7904
@vsevel, @lordofthejars I'm referring to MTLS, 2-way TLS, where the client certificates are used to authenticate the client

[2020-03-20 10:52] lordofthejars commented on #7904
Yeah but in this case Vault works in this way. It is a really easy auth method to implement.

[2020-03-20 10:59] #7990 closed

[2020-03-20 11:00] #7879 closed

[2020-03-20 11:07] Gui-Yom commented on #7986
Well this seems to be fixed when I tweak the jvmArgs for the quarkusDev task 👍
[code]

[2020-03-20 11:09] sberyozkin commented on #7900
@lordofthejars Thanks for the link. I'm still looking for some clarity about the origin of the token with the `userpass` method. You keep saying `token` should be configured somewhere. But it is not configured anywhere as far as I can see :-), can you please also point to some resource explaining the origin of the token in the `userpath` method, is it set somewhere manually or generated with `ttl`

[2020-03-20 11:12] lordofthejars commented on #7900
When the PR of health metrics is merged I'll do it as I need some bits from there. Also if you want we can do a bluejeans session and I explain everything. As you wish :)

[2020-03-20 11:31] Ladicek opened #8015 "CNFE in QuarkusTestExtension when test method argument is primitive"
**Describe the bug**
If I have a `@QuarkusTest` and some of the test method declares a primitive type parameter + is passed a value of primitive type as an argument, `QuarkusTestExtension` throws a CNFE. Using primitive types as test method parameters is a valid choice, for example when I use parameterized tests.

**Expected behavior**
Primitive type is a valid parameter type that test methods can

[2020-03-20 11:31] Ladicek commented on #8015
This is easy to fix, I'll submit a PR.

[2020-03-20 11:32] oodles-arvind-das commented on #1904
I have the same issue, compile has problems

[2020-03-20 11:32] sberyozkin commented on #7900
Hey @lordofthejars I certainly don't want to make adding a useful feature difficult :-). All I'm looking for is for some clarity: Is the userpass method at risk to return a stolen token to Quarkus given that Quarkus itself does not configure tokens. This is the 1st question and it would help us understand things better. If userpass methos is at risk of getting a stolen token (we are not talking ab

[2020-03-20 11:44] ecmrauh opened #8017 "No Converter registered for interface java.util.Map"
**Describe the bug**
I don't know if it is a bug or a missing feature (or just my fault). I try to use a Map<String, String> as configuration value. I created a custom converter as described [here](https://quarkus.io/guides/config#custom-configuration-converters). The example with the int works, using a Map fails.

**Expected behavior**
It should possible to use a Map as configuration value.

**Ac

[2020-03-20 11:46] geoand commented on #8017
I think this is by design, but I am not 100% sure, so let's ask the expert @dmlloyd

[2020-03-20 12:04] geoand commented on #7974
cc @cescoffier

[2020-03-20 12:07] fhopfensperger opened #8018 "MongoPanache - native integration test fails if an entity is to be persisted in database"
**Describe the bug**
I'm running in a NullPointerException for a native test case when I try to persist an entity like a Fruit using `apple.persist();`. For my JVM java tests, everything looks fine and its working as expected.
[code]
Fruit.java
[code]

FruitResourceTest.java
[code]

NativeFruitResourceIT.java
[code]
**Source Code**
A simple demo project can be found here
https://github.com/fhopfen

[2020-03-20 12:07] dmlloyd commented on #8017
You're essentially hitting two different problems here.  One is that MicroProfile Config does not support generic converter types; Map is a generic type, having two type parameters.  The other is that converters only apply to single string values - they cannot be used to aggregate values from multiple properties without special support from the runtime.

[2020-03-20 12:11] gastaldi commented on #7996
This is a Classloader issue. `Quarkus Base Classloader` and `Quarkus Runtime Classloader` (which has the former as parent).

`io.undertow.websockets.jsr.Bootstrap` is loaded by the child classloader

[2020-03-20 12:14] aloubyansky commented on #7996
Have you tracked down what brings the websocket api in?

[2020-03-20 12:16] gastaldi commented on #7996
@aloubyansky yes, `tools/common` does: https://github.com/quarkusio/quarkus/blob/c429e77c4456bb12fba8bebef89bab8bde56ba1b/independent-projects/tools/common/pom.xml#L78-L93 because of the remotedev feature

[2020-03-20 12:22] aloubyansky commented on #7996
Ok, so it's leaking from the plugin.

[2020-03-20 12:22] geoand commented on #8018
Unfortunately what you are trying to do won't work in native tests. It works in JVM tests because the tests and the application are run in the same JVM, but of course for native tests that simply isn't the case.

Native tests are meant to be a complete black-box test, meaning that they are supposed to interact with the application only via HTTP / messaging.

[2020-03-20 12:22] #8018 closed

[2020-03-20 12:25] geoand commented on #8018
@loicmathieu @gsmet @stuartwdouglas  I am wondering if we should add some strong wording in the documentation about native tests.

I also think that the pattern we promote in the docs of a native test extending a regular test is wrong in the sense that it gives users the feeling that a native test can do whatever a regular JVM test can.
Of course extending the regular test is great for tests simpl

[2020-03-20 12:57] loicmathieu commented on #8018
@geoand

I agree with this, it's OK to implement a native test as a copy of a jvm test if it only contains restassured based tests (so for an integration test), but this is just a small subset of what a real application will have for it's tests harness.

Inside the documentation, and inside the maven archetypes, we should create independant native tests. The fact that they contains `IT` in their n

[2020-03-20 12:59] loicmathieu commented on #7986
@Gui-Yom interesting, so this is a JPMS (Java module system) issue, do you upgrade your JVM to 11 recently also ?

[2020-03-20 13:04] haraldatbmw commented on #7990
The test with the code-change of the pull-request on my windows machine succeeded.
It would be great to see this fix in release 1.3.1

[2020-03-20 13:06] gsmet commented on #7990
Yup. I already marked it for backport :).

[2020-03-20 13:07] SchulteMarkus commented on #7936
@machi1990 Hmm, don't know. Has there anything to be added from package [com.mysql.cj.jdbc.ha](https://github.com/mysql/mysql-connector-j/tree/release/8.0/src/main/user-impl/java/com/mysql/cj/jdbc/ha)?!

[2020-03-20 13:15] #8015 closed

[2020-03-20 13:20] gsmet commented on #8009
Please also check with Maven.

[2020-03-20 13:21] geoand commented on #8017
I'm going to close this as invalid. Feel free to reopen if you feel it's not been adequately covered

[2020-03-20 13:21] #8017 closed

[2020-03-20 13:21] geoand commented on #8009
I did and with Maven it works

[2020-03-20 13:22] ecmrauh commented on #8017
Thanks for your quick response! I wasn't aware of that. After reading issues [like e.g. this one](https://github.com/quarkusio/quarkus/issues/1415), I thought it would be possible somehow. If not, I will have to live with that... :confused:

[2020-03-20 13:25] esteveavi opened #8020 "Regression: 1.3.0.Final @Inject mock service in QuarkusTest Caused by: java.lang.IllegalAccessError:"
**Describe the bug**
An Caused by: java.lang.IllegalAccessError: is thrown using `@Mock`

**Expected behavior**
`@Mock` service being injected

**Actual behavior**
Fails to pass tests:
[code]

Code:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Mvn test
2.
3.

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environment (please complete the followin

[2020-03-20 13:26] gsmet commented on #8020
Could you prepare a simple reproducer (a simple Maven project showing the issue)? Thanks!

[2020-03-20 13:27] gsmet commented on #7956
I confirm I can reproduce this.

[2020-03-20 13:28] geoand commented on #8020
Yeah, there is a good chance this has already been fixed in `master`, so having a reproducer would be super useful.

[2020-03-20 13:32] sberyozkin commented on #7904
@lordofthejars sure, but my question was, can 2-way TLS be supported in which case this method the clients posting the certificates manually won't be needed ?
I've checked around, this project seems to be doing 2-way TLS:
https://docs.goquorum.com/en/latest/Privacy/Tessera/Tessera%20Services/Keys/Setting%20up%20a%20Hashicorp%20Vault/

[2020-03-20 13:37] dmlloyd commented on #8017
We have special support for it within our Quarkus configuration code, which is separate from the standard CDI-based stuff.  Really I think the MP Config spec needs a bit of a rethink in this area though.  My first step in this direction is eclipse/microprofile-config#545.

[2020-03-20 13:42] Gui-Yom commented on #7986
No, I only upgraded my jdk from 11.0.4 to 11.0.6 a week ago, what's your point ?

[2020-03-20 13:44] ecmrauh commented on #8017
Thanks for the clarification and your efforts!!

[2020-03-20 13:49] lordofthejars commented on #7904
@sberyozkin Yes but this is the communication between service and Vault, not as auth method. The auth method in their case is `approle` and all the `approle` protocol goes through TLS and this is what they are doing. So they use TLS to communicate safely to Vault and then they authenticate against Vault with `approle` these are two different things.

[2020-03-20 13:59] geoand commented on #8020
Also, is `QMaticOrchestaAPIService` in a different module than where the test is?

[2020-03-20 14:05] loicmathieu commented on #7986
`--add-exports=jdk.naming.dns/com.sun.jndi.dns=java.naming` is a JPMS specific flag to allow access to internal classes that should not be accessed (internal JDK classes). So I'm surprised you need it for mongodb+svr URLs.

Di you try to downgrade to the previous MongoDB driver version ? Maybe the issue is on MongoDB driver side.

[2020-03-20 14:09] lordofthejars commented on #7900
Ok here are different things, the token that is returned by using user and password, in theory, cannot be compromised as communication happens at TLS level. What can be stolen as you said is the user or the password not in the transport but where they are originally stored, notice that they are not stored inside Vault, because you need them to access Vault, so they are in configuration files, envi

[2020-03-20 14:10] famod commented on #2835
@Sanne Is this something we can expect to land in 1.4.0? Thanks for your feedback!

[2020-03-20 14:14] maxandersen opened #8021 "extended status info for indicating support "source" and levels"
**Description**
Quarkus has a lot of extensions and for vendors wanting to do support (i.e. red hat) it would be great in the tools and UI's (i.e. code.quarkus.*) there was a way to express if an extension is considered supported or not.

We already have a "status" metadata in each quarkus-exetension.yaml which are used to indicate "stable', "preview", "experimental" as a signal to the broader qua

[2020-03-20 14:28] sberyozkin commented on #7904
@lordofthejars 2-way TLS is an authentication method, the server can get the certificates out of TLS and authenticate the client

[2020-03-20 14:46] lordofthejars commented on #7904
Yes but the configuration is to configure Vault to work with HTTPS (mTLS) at the protocol level, not at the application level. So with just TLS you are not accessing any secret nor give you rights to modify secrets, they just configure that to communicate with Vault you need to do it using HTTPS and not HTTP.

[2020-03-20 14:49] kaisernick commented on #7140
@rquinio @gsmet, I've been seeing this issue too. I created a JUnit to verify some Pacts (https://docs.pact.io/). I have a `@BeforeEach` method that accepts a `PactVerificationContext` parameter. I did some digging through `QuarkusTestExtension`.

1) When `interceptBeforeEach(...)` calls `runExtensionMethod(invocationContext, extensionContext)` it uses the current thread’s class loader (`QuarkusCl

[2020-03-20 14:49] sberyozkin commented on #7900
Hi @lordofthejars thanks, it is getting clearer, thanks for your patience :-).
So you say there, `I log to Vault with the authentication method you provide (it can be a token, user pass...` and `We ask Vault to unwrap the wrapped token provided in config file...`

So how does it align if a user pass is used ?
1. userpass method returns a `token` to Quarkus
2. and we have a `token` set in the prope

[2020-03-20 15:02] lordofthejars commented on #7904
Yes, well maybe then this is a question that could be asked to Vault community, maybe they can give you the full explanation.

[2020-03-20 15:03] sberyozkin commented on #7904
@lordofthejars can you ask please :-) since you are driving this feature ?

[2020-03-20 15:05] cescoffier commented on #7986
This is a known limitation. mongo+srv is using JNDI to resolve the SRV record. We would need to change the client code to change that.

[2020-03-20 15:09] cescoffier opened #8023 "Improve test coverage of the AMQP connector"
**Description**
The Reactive Messaging AMQP connector lacks of test coverage.

**Tests to be added**

* Test plain connection to an AMQP router (activeMQ)
* Test secured connection to an AMQP router (activeMQ) - this includes credentials and TLS
* Test sending and receiving all the AMQP types as well as the JSON-B serialization / deserialization
* Test hot reload when the configuration is updated

[2020-03-20 15:11] cescoffier opened #8024 "Improve test coverage of the Kafka Connector"
**Description**
The Reactive Messaging Kafka connector is not covered by enough tests.

**Implementation ideas**

* Test connection to a Kafka broker
* Test connection to a Kafka broker using authentication and security
* Test built-in and ad-hoc serializers and deserializers
* Test Avro schemas
* Test hot reload when the configuration is updated
* Test hot reload when the code is updated

[2020-03-20 15:12] cescoffier opened #8025 "Increase test coverage of the Kafka client"
**Description**
there are a few use cases that should be covered by tests.

**Implementation ideas**

* Testing secure connection, and Kafka security - especially in native
* Testing Avro schema support
* Testing hot reload (code change)

[2020-03-20 15:16] geoand commented on #6588
@johnaohara the `master` branch of the quickstarts has been updated with the RSS change but the check seems to consistently trip. Can you take a look when you have some time?

Thanks

[2020-03-20 15:19] filippobuletto opened #8026 "MongoClientConfig socketTimeout don't actually set a socket timeout"
**Describe the bug**

Setting the property `quarkus.mongodb.socket-timeout` that translates to `MongoClientConfig` field `Optional<Duration> socketTimeout` have no effect whatsoever.

The socket configuration sets only the connection timeout but not the read timeout (this may hangs thread indefinitely).

See:

https://github.com/quarkusio/quarkus/blob/1.3.0.Final/extensions/mongodb-client/runtime/

[2020-03-20 15:36] lordofthejars commented on #7904
I suggest that you write them because you know exactly what is your concrete question, as I said for me are two different things one is enabled HTTPS communication and another is authenticating on Vault at the application level. For me, you cannot use the first one as app authentication.

[2020-03-20 15:41] johnaohara commented on #6588
@geoand sure it is failing to upload the new pmap file, I will look at why it is failing

[2020-03-20 15:50] geoand commented on #8026
Thanks for reporting @filippobuletto!

I'll take a look

[2020-03-20 15:58] lordofthejars commented on #7900
Ok then you do a login with user password, Vault returns a token that allows you to do some operations, in this concrete case this token only allows you to unwrap a token.

So:

1. user password returns a token with limited scope (`token1`)
2. Uses this token (`token1`) to unwrap a configured token (`token2`) in `application.properties`.
3. When `token2` is unwrapped it returns a `token3`.
4. `tok

[2020-03-20 15:58] gsmet opened #8027 "Liquibase - Parse changelog files at static init"
I wonder if we could parse the changelog files at static init instead of parsing them later.

Note that they are already parsed once to get all the potential resources we need to include in the native images. And we need to parse them again later.

I'm not sure we could get rid of having to parse things twice, except if we decided to include static resources by default.

Right now we include all t

[2020-03-20 16:02] gsmet commented on #7956
@Postremus could you check if https://github.com/quarkusio/quarkus/pull/8028 fixes your issue?

[2020-03-20 16:23] filippobuletto commented on #8026
Blazing fast @geoand ! Hope this fix lands on 1.3.1 😄

[2020-03-20 16:32] geoand commented on #8026
Yeah, we will definitely add it. The only question is whether we will also rename the property or not (it was never having an effect , so it's debatable if it's a breaking change)

[2020-03-20 16:34] BaptisteCyrill opened #8030 "Testcontainers - FixedHostPortGenericContainer throws NullPointer on method getContainerIpAddress()"
**Describe the bug**
If I start a FixedHostPortGenericContainer during my test phase, a NullPointer is thrown on method getContainerIpAddress(). This only happens with Quarkus version 1.3.0.Final. On version 1.2.1.Final everything is fine.

**Expected behavior**
IP address will be returned.

**Actual behavior**
A NullPointerException is thrown.

**To Reproduce**
1. Download example project in `htt

[2020-03-20 16:40] filippobuletto commented on #8026
In fact, it's a nice dilemma, I could suggest keeping the name in 1.3.1 by fixing its behavior and deprecating its use, renaming it in 1.4.0?

In a totally selfish way I admit that I would like to have the fix published as soon as possible without waiting for a major release 😅

[2020-03-20 16:45] geoand commented on #8026
Thanks for the input!

The fix will absolutely be in 1.3.1. The name of the property is to be determined 🙃.

[2020-03-20 17:35] Postremus commented on #7956
@gsmet

Your pr fixes my issue. Thank you!

999-SNAPSHOT with liquibase
[code]

999-SNAPSHOT without liquibase
[code]

1.3.0.Final with liquibase
[code]

[2020-03-20 17:36] vsevel commented on #7904
without specific knowledge in 2-way TLS for vault, I tend to agree with the above statement. TLS is about encrypting data in transit. 2-way TLS I suspect would allow the vault server to not accept connections from unwanted clients. but I do not believe you get a vault auth for free with just that.
auth is about getting a token. and TLS is about encrypting. 2 different use cases. may be you have a

[2020-03-20 17:38] mklueh opened #8032 "Resources clashing in multi-module Gradle project with more than one library module with ZipException: duplicate entry"
Using **1.3.0** it seems that quarkusBuild is not handeling resources of multiple library modules correctly when they have the same name.

For example, all my modules are having an **application.properties** file which clashes and more importantly, the required **META-INF/beans.xml** to make dependency injection working with library modules clashes, making the use of multiple library modules unusa

[2020-03-20 17:39] gsmet commented on #8032
/cc @aloubyansky

[2020-03-20 17:40] gsmet commented on #8032
@mklueh could you prepare a quick reproducer?

[2020-03-20 17:42] #6891 closed

[2020-03-20 17:44] mklueh commented on #8032
@gsmet I´ll try to create one and update the issue with the url

[2020-03-20 17:46] sberyozkin commented on #7904
Hi Vincent

That is basically my question, because MTLS (2-way TLS) is about the client authentication, example MTLS for OIDC would be exactly about authenticating the (application) clients. This Vault cert authentication method appears to be a legacy method for emulating 2-way TLS over a regular 1-way TLS.

I don't want to be a nuisance here, but it is important IMHO know what exactly is going on

[2020-03-20 17:51] sberyozkin commented on #7900
@lordofthejars Excellent, now I see how it works :-) Thanks.
So the flow then, if this special token is set then the above process follows.
+1
CC @vsevel

[2020-03-20 18:00] sberyozkin commented on #7900
@lordofthejars It does appear to be a rather slow process though, 3 round trips to log in, but it will only be done once and will be optional, so for the sensitive deployments it can make sense

[2020-03-20 18:06] fmhwong commented on #8027
@gsmet I haven't used Liquibase before but I definitely can take a look and learn something new. :)

[2020-03-20 18:06] lordofthejars commented on #7900
Exactly depending on how the paranoic security team is, you can use it or not. Sorry to not be able to explained you correctly at first.

[2020-03-20 18:08] sberyozkin commented on #7900
@lordofthejars Np at all, thanks :-)

[2020-03-20 18:15] mklueh commented on #8032
This was a false alarm. I could not reproduce it in the reproducer project, so I did a **gradle clean** on my original project which has solved the issue

[2020-03-20 18:15] #8032 closed

[2020-03-20 18:22] gsmet commented on #7942
@asoldano I think the root of the issue is that manipulating files with JAX-RS is too complicated, even with the RESTEasy additions.

I also found myself in the same situation a few months ago.

Could we try to improve this situation? Especially compared to what Spring does?

[2020-03-20 18:35] vsevel commented on #7900
thanks for the explanation.

how? will the previously delivered `token3` stop working?

[2020-03-20 18:39] lordofthejars commented on #7900
When you are trying to unwrap the `token2` instead of receiving the `token3` it returns an error message saying that the token has been already used.

[2020-03-20 18:51] vsevel commented on #7900
but then how does it play out in a microservice world, which usually share the same config.
If I launch 3 replicas. are we saying that the first one will succeed, but the other 2 will be rejected because the token has already been used?
even if I have just one replica and it dies and k8s restarts it. will it fail authenticating upon restart?
I guess I am missing something.

[2020-03-20 18:55] lordofthejars commented on #7900
You'll have one token for each replica set as a config source. But in any case, notice that this method is more for none Kubernetes environments.

[2020-03-20 19:08] zemiak commented on #7359
Hello,

I hit this today with 1.3.0. I have TIKA for parsing media files and Hibenate/Panache/JTA for storing meta data. Tests fail with:

`[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.105 s <<< FAILURE! - in com.zemiak.movies.language.LanguageServiceIntegrationTest
[ERROR] allLanguagesCountGreaterThanZero  Time elapsed: 0.009 s  <<< ERROR!
java.lang.RuntimeException:

[2020-03-20 20:51] #7956 closed

[2020-03-20 21:02] #8026 closed

[2020-03-20 21:12] sberyozkin commented on #7359
@zemiak I'll try to address it for 1.4.0.

[2020-03-20 21:26] oleksiylukin opened #8035 "Quarkus 1.3.0.Final class loader can not load Graal's polyglot framework"
New class loader of Quarkus 1.3.0 can not load polyglot framework of GraalVM,
Previous version (1.2.1) works fine.

**Expected behavior**
JavaScript code works when executed inside of REST resource

**Actual behavior**
Throws exception
org.jboss.resteasy.spi.UnhandledException: java.lang.IllegalStateException: No language and polyglot implementation was found on the classpath. Make sure the truffl

[2020-03-20 22:59] MawsFr commented on #7095
Hello @troosan

Do you still have the problem ?

I didn't manage to reproduce your problem when starting from a new project

I followed these steps (including ones from your description) and for me it works :

- Execute :
[code]
- Execute :
[code]
- Set quarkus-plugin.version and quarkus.platform.version to 1.2.0-Final

- Execute :
[code]

- Set `quarkus.http.root-path=custom-root` in `application

[2020-03-20 23:11] ieugen commented on #7440
/area/persistence

[2020-03-21 01:39] jaikiran commented on #8035
Hello @oleksiylukin, Is this a Maven project? What does the pom.xml dependencies look like?

[2020-03-21 03:24] Imaclean74 commented on #5802
Thanks @cadu-goncalves . Some examples would be useful.  I'm just taking a look at the Camel integration now - but it's not immediately obvious how to use it. I already have service registration working - using the vertx-consul client directly from AppLifecycleBean.onStart() https://vertx.io/docs/vertx-consul-client/java/.  Which is fine - but it would be nice to have a more integrated declarative

[2020-03-21 03:55] stuartwdouglas commented on #8035
Can you share the full reproducer?

[2020-03-21 07:16] esteveavi commented on #8020
Hi,
Reproducer:
https://github.com/esteveavi/quarkus-1.3-test
QMaticOrchestaAPIService is in the same module.

[2020-03-21 08:34] geoand commented on #7957
Closed via f9978cfc95e088e037f69e10ff32749808a50cb6

[2020-03-21 08:35] geoand commented on #7923
Closed via f9978cfc95e088e037f69e10ff32749808a50cb6

[2020-03-21 08:45] geoand commented on #7199
@loicmathieu Since Quarkus test classes are also beans, we need a way of knowing which test classes are indeed Quarkus tests.
You can follow the code starting from here: https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L498

It should be pretty easy to provide a fix.

[2020-03-21 08:58] geoand commented on #8020
The problem surfaces because `cat.tmb.citaprevia.integration.bo.mock.QMaticAuthorizationServiceMock` is not the same package as `cat.tmb.citaprevia.api.services.qmatic.QMaticAuthorizationService` and the `onStart` method of the latter is package-private.
So what happens is that the observer for `QMaticAuthorizationServiceMock` is created in  `cat.tmb.citaprevia.integration.bo.mock` and therefore d

[2020-03-21 09:16] mklueh opened #8038 "Advanced update statement with Panache"
Could you provide a more advanced example on how to update an entity with dynamic parameters as well as query parameters?

For example, I was expecting this to work:

[code]

However, this is producing an SQL query statement starting with "UPDATE FROM ..."

In the Panache guide one example is also using "FROM", is this correct?

https://quarkus.io/guides/hibernate-orm-panache

`Order.update("updat

[2020-03-21 09:27] geoand commented on #8030
Hi,

Thank you for reporting.
This issue has already been fixed in `master` by #7880 and the fix will be part of `1.3.1.Final`.

[2020-03-21 09:27] #8030 closed

[2020-03-21 09:28] mklueh commented on #8038
My bad, was using the query syntax instead of separating with comma

This is working:

[code]

[2020-03-21 09:28] #8038 closed

[2020-03-21 10:20] fredmtyro commented on #8004
@geoand Thanks for the quick analysis and proposed fix. From my perspective, the user code changes are OK though its a bit of a shame that the Quarkus specifics are leaking out.

[2020-03-21 10:30] geoand commented on #8004
You are welcome!

Let's see if the CDI experts have any more insight for us 😎

[2020-03-21 11:34] #7910 closed

[2020-03-21 12:10] gsmet commented on #8032
Thanks for the follow-up!

[2020-03-21 12:59] codependent opened #8042 "quarkus-rest-client can't be used with @ApplicationScoped beans for native images"
**Describe the bug**
The whole context of this problem can be found on Stackoverflow: https://stackoverflow.com/questions/60787675/quarkus-rest-client-cant-be-used-with-applicationscoped-beans-for-native-image

There's a sample project with instructions to reproduce the problem at: https://github.com/codependent/quarkus-rest-client

**Expected behavior**
The native image should be generated

**Act

[2020-03-21 14:25] famod commented on #7852
@gastaldi I took a stab at this, please see #8043.

[2020-03-21 14:36] esteveavi commented on #8020
Hi,

That was the problem. By the way it surfaced when upgraded to 1.3.0. It worked on previous versions.

Thank you very much.

[2020-03-21 15:01] geoand commented on #7957
Reopening since the commit above was reverted

[2020-03-21 15:02] geoand commented on #7923
Reopening as f9978cf was reverted

[2020-03-21 15:24] hotleave commented on #8035
Just got the same error:

MacOS 10.15.3

[2020-03-21 15:26] machi1990 commented on #8035
@hotleave can you also share a reproducer? Thanks

[2020-03-21 15:43] hotleave commented on #8035
Here is the demo: https://github.com/hotleave/code-with-quarkus

MacOS 10.15.3
GraalVM jdk8 20.0

run `mvn quarkus:dev` to start the project and visit: http://localhost:8080/hello

In `ExampleResourceTest`, just call the method directly, it works fine.

FYI

[2020-03-21 15:55] hotleave commented on #8035
Update:
build the artifact build with `mvn package`, and run with `java -jar target/xxxx-runner.jar` works fine

[2020-03-21 16:22] KaenDagger commented on #8009
Maven works fine.  No problem with maven

[2020-03-21 16:28] #7923 closed

[2020-03-21 16:28] #7957 closed

[2020-03-21 17:17] dufoli commented on #7928
Ok so first analyse.
it is a system property not a config item (micro profile).
the ReflectionDiagnosticProcessor used it during build time so.
You have to used it with parameter like that
./mvnw compile quarkus:dev -Dquarkus.debug.reflection=true

[2020-03-21 17:19] #7852 closed

[2020-03-21 17:38] Meemaw opened #8049 "Expose metrics on a separate port"
**Description**
It is a common pattern to expose metrics on a separate port (that is not exposed via Ingress) than the application server itself. Exposing `/metrics` to the "world" is not exactly acceptable for a production server.

Related https://github.com/coreos/prometheus-operator/issues/800

[2020-03-21 18:00] SR-Lut3t1um commented on #7939
What was the result from the discussion? @geoand

[2020-03-21 18:00] sberyozkin opened #8050 "Support OIDC client_secret_jwt authentication method"
**Description**
This method does not involve sending a secret on the wire and instead this secret is used to sign a JWT containing the client_id and few other properties.

**Implementation ideas**
The main challenge is how to configure it :-). Given that `private_key_jwt` will also be supported in due time, It can make sense to consider how to configure `client_secret_jwt` keeping in mind `private

[2020-03-21 19:01] agentS opened #8053 "Zipkin integration"
Hi,

I hope that my issue is in the right place. A friend of mine and I are developing a mini project for one of our university's classes and we want to demonstrate distributed tracing across various services. Since [IBM's OpenLiberty](https://openliberty.io) which the other service is based upon has excellent support for [Zipkin](https://zipkin.io/), we want to use Zipkin instead of Jaeger for tr

[2020-03-21 19:04] machi1990 commented on #7936
@SchulteMarkus I have opened #8052 to fix the issue, can you check it locally if it fixes the issue for you? Thanks.

[2020-03-21 19:14] geoand commented on #7939
AFAIR we liked the idea but there we just haven't got around to prioritizing it

[2020-03-21 19:28] sarxos opened #8054 "METHOD_PARAMETER support in AnnotationsTransformer"
Hello Quarkus Team!

**Description**

The `AnnotationsTransformer` has this method to decide if transformer implementation should be used for annotation of a specific target kind:

[code]

And right now it works with the following target kinds:

* `AnnotationTarget.Kind.CLASS`
* `AnnotationTarget.Kind.METHOD`
* `AnnotationTarget.Kind.FIELD`

Especially, it works just fine when I use it like this:

[2020-03-22 02:16] chengkuangan commented on #6067
Hi, not sure this is related. I have the following error when I built through Jenkins pipelines and pointing to Nexus3. But the same build process works flawlessly when I run in command prompt and pointing to the same Nexus3 repo.

[ERROR]     Non-resolvable import POM: Could not transfer artifact io.quarkus:quarkus-bom:pom:1.2.0.Final from/to Nexus (http://127.0.0.1:9000/repository/maven-all-publ

[2020-03-22 05:46] Meemaw commented on #8049
Ah, this looks like a duplicate of https://github.com/quarkusio/quarkus/issues/7893

[2020-03-22 07:01] mklueh opened #8059 "No EntityManager found running @QuarkusTest when entities are only in submodule of multi-module Gradle project"
**Describe the bug**
In a multi-module project with entities in one of the submodules and no entities in the actual application module, the entity manager doesn´t get loaded when running a Quarkus Test and throws

`javax.persistence.PersistenceException: No EntityManager found. Do you have any JPA entities defined?`

**Expected behavior**
Expected behaviour would be to load the EntityManager when

[2020-03-22 07:05] maxandersen commented on #7939
so the idea is that we have something that based on what is in application.properties does a "best guess" on what make sense to start before running tests or devmode ?

I like the idea; there is just a lot of unknowns on how it would work.

note: this is also somewhat related to the devfile notion being worked on in odo where a file describes the services needed for devmode/testing...

[2020-03-22 08:44] mklueh opened #8061 "@QuarkusTest against model of shared library failing with "Not an entity" in multi-module Gradle project"
**Describe the bug**
I´ve created a test in my application module relying on a Hibernate Entity of my shared library. Running that test leads to the following exception with Quarkus 1.3.0.Final

[code]

Meanwhile the application is working fine with those entities.

[Reproducer](https://github.com/mklueh/quarkus-multi-module-not-an-entity-issue)

[2020-03-22 09:16] rsvoboda opened #8062 "Constructor of bean with @Startup annotation is called twice"
Constructor of bean with @Startup annotation is called twice, @mkouba fyi

Tried with https://quarkus.io/guides/getting-started#bootstrapping-the-project ++ FooBean

[code]

[code]

[2020-03-22 09:26] mklueh commented on #7290
@bnjns thanks, this is indeed working

In my case my .sql script is in the **test/resources** directory, so I´m using

in my test/resources/application.properties

[2020-03-22 11:02] PieterjanDeconinck opened #8063 "Jackson deserialization not supported for REST client without including RESTEasy server"
**Describe the bug**
Jackson JSON deserialization is not supported with Quarkus REST client without including dependencies for the RESTEasy server.

**Expected behavior**
One should be able to use the Quarkus REST client with Jackson, independent from the server.
The following dependencies should be sufficient to support Jackson JSON deserialization on the REST client:
[code]

**Actual behavior**

[2020-03-22 11:03] SR-Lut3t1um commented on #7939
I think this could also be done, by abstracting extensions into network extensions, there each extension provides:
- rather a link is valid
- what docker image provides this service
- parse the link to create a docker image that runs the required service.

For example the Hibernate-ORM extension, has a function called setupDevMode, that parses the options given from the quarkus core returns a dock

[2020-03-22 11:17] marc-christian-schulze commented on #6831
Since it took me quiet a while to figure out how to configure the logging properly, here's how it works - at least for me ;)

First, configure your logging as described in the [Quarkus documentation](https://quarkus.io/guides/logging) inside your `src/main/resources/application.properties` file. This should already work, iff you start your packaged Quarkus application (jar or native-image).

Howev

[2020-03-22 12:05] mkouba commented on #8062
This works as designed (and required by the spec). For a normal scoped bean a client proxy is used instead of the contextual instance for injection, observers notification, etc. So the no-args constructor is first called when instantiating the proxy (which is a subclass of `FooBean`) and then for the contextual instance. It's a good practice to use a `@PostConstruct` callback to initialize the bea

[2020-03-22 13:09] mkouba commented on #8062
In fact, I was wrong! Client proxies should not be used for observers. I'll fix it next week.

[2020-03-22 16:31] machi1990 commented on #7685
@gsmet I am just seeing the ping now. I'll have a look over the coming days.

[2020-03-22 17:03] plevart commented on #2491
Similar problem here. I'm trying to setup debug logging for some unit tests (using @QuarkusTest annotation on the class). I have tried with application.properties file in either main/resources or test/resources of the Maven module where the test is located and nothing seems to work. Not using any agent, just starting command-line build with "mvn clean install" which also runs tests...

[2020-03-22 17:33] plevart commented on #2491
Ah, I found the following and it works:

            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <configuration>
                    <systemProperties>
                        <java.util.logging.manager>org.jboss.logmanager.LogManager</java.util.logging.manager>
                    </systemPrope

[2020-03-22 17:34] sberyozkin commented on #8053
@agentS It may be better to open a `smallrye-open-api` issue, perhaps there is already a way there to plugin alternative tracing providers

[2020-03-22 17:43] agentS commented on #8053
Thanks, I'll check their repository.

[2020-03-22 17:43] #8053 closed

[2020-03-22 20:03] BigFatDog opened #8064 "keycloak.policy-enforcer doesn't take effect when setting root context path in a certain pattern"
**Describe the bug**
I turn on keycloak security authorization for my api and turn it off for *public* apis including:
- metrics
- openapi
- health
I can access public apis as expected, however, when I set my `quarkus.http.root-path` to `/api/workbench`, I always get `401 unauthorized error` when accessing public apis

Please note: from my observations this bug **only** apply to root context path

[2020-03-22 20:09] machi1990 commented on #7685
@gsmet I had a couple of hours with which I have opened #8065.

The PR once merged should fix the issue @yanxuehe

[2020-03-22 23:19] stuartwdouglas commented on #8035
Even though QuarkusClassLoader delegates to the system class loader and the system class loader can load it fine, there is a check in service loader now that will ignore classes from named modules. Basically it looks like if the TCCL is anything other than the system CL, or a modular CL that exposes this module I don't know if there is any way to get this to work.

[2020-03-22 23:26] stuartwdouglas commented on #8035
For now you can work around this to some extent by temporarily setting the thread context classloader to ClassLoader.getSystemClassLoader().

[2020-03-23 02:17] iwangxiaodong opened #8067 "HttpURLConnection Caused String.getBytes() NoSuchMethodError, Quarkus 1.3.0.Final and GraalVM 20.0.0 on Windows"
**Describe the bug**
HttpURLConnection Caused String.getBytes() NoSuchMethodError, Quarkus 1.3.0.Final and GraalVM 20.0.0 on Windows

**Expected behavior**
No error.

**Actual behavior**
Caused by: java.lang.NoSuchMethodError: java.lang.String.getBytes()[B
at com.oracle.svm.jni.functions.JNIFunctions$Support.getMethodID(JNIFunctions.java:1095)
at com.oracle.svm.jni.functions.JNIFunctions$Support.g

[2020-03-23 03:07] jaikiran commented on #8035
I haven't checked the code yet, but all this is in JDK8? (of course leaving out the modular CL bit)

[2020-03-23 03:09] stuartwdouglas commented on #8035
I was testing on a JDK11 version of Graal.

[2020-03-23 03:15] stuartwdouglas commented on #8018
We should also just detect this and throw an exception if there are fields
with @Inject in a native test.

We could actually support this, it would just require building a specific
test image that has the tests inside it. I don't think it is worth it but
it might be something to consider.

Stuart

On Fri, 20 Mar 2020 at 23:57, Loïc Mathieu <notifications@github.com> wrote:

[2020-03-23 03:42] GregJohnStewart commented on #7156
@mkouba what OS/version are you on? On mine I am still am having issues, as well as on the projects' travis: `[error]: Build step io.quarkus.arc.deployment.ArcProcessor#generateResources threw an exception: javax.enterprise.inject.spi.DeploymentException: java.lang.IllegalStateException: No template found for com.gjs.taskTimekeeper.webServer.server.LifecycleBean#startTemplate`

https://travis-ci.c

[2020-03-23 06:31] previousdeveloper commented on #7480
I have developed an extension for ngrok. [Quarkus-ngrok-extension](https://github.com/previousdeveloper/quarkus-ngrok-extension)  I will moved to main repo

Thanks.

[2020-03-23 07:10] alukin commented on #8035
Project to reproduce bug is here : https://github.com/alukin/polyglot-test-quarkus

[2020-03-23 07:15] oleksiylukin commented on #8035
It is impossible to build native image also. Th same exception occurs

[2020-03-23 07:23] lburgazzoli commented on #8035
I have not testes the reproducer but it looks like there some dependencies and set-up missing.
Here some set-up I have in a project based on Quarkus 1.3.0.Final that sues JS:

- https://github.com/apache/camel-k-runtime/blob/master/camel-k-loader-js/pom.xml#L44-L47
- https://github.com/apache/camel-k-runtime/blob/master/camel-k-quarkus/camel-k-quarkus-loader-js/it/pom.xml#L137-L138

Note: I'm on J

[2020-03-23 07:34] SchulteMarkus commented on #7936
I will do so tomorrow probably.

[2020-03-23 07:40] galderz commented on #7914
Thanks @dufoli, I'll check and see if camel needs it too.

[2020-03-23 08:02] mkouba commented on #7156
@GregJohnStewart I'm on Ubuntu 18.04.4 LTS. I may be missing something although I'm not sure what exactly...

[2020-03-23 08:16] geoand commented on #8063
As you have already found, the combination of:

[code]

will give you the necessary result.

And it **does** work in native as well, @PieterjanDeconinck @kenfinnigan (I saw you commented on the SO answer) why do you think it doesn't?
From an implementation perspective the code that registers providers is common to both the client and the server. Furthermore the `quarkus-resteasy-jackson` module do

[2020-03-23 08:33] geoand commented on #8067
Hello,

Your reproducer is using version `1.3.0.CR1`. Can you please try using `1.3.0.Final`?
I also tried building a native binary with your reproducer and it didn't work at all.

[2020-03-23 08:41] loicmathieu commented on #8018
with @Inject in a native test.

I think this could be very helpful, throwing an exception with a clear error message explaining that `@Inject` cannot be used in native test.

[2020-03-23 08:44] geoand commented on #8018
@stuartwdouglas we actually already perform that check: https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/NativeTestExtension.java#L78

The thing is that that is the "easy" check to make. I think that currently the problem is more of a documentation and example issue. We should in all of our examples that a native test extends a regular test

[2020-03-23 08:52] pavolloffay commented on #8053
@sberyozkin it is  `SmalRye-OpenTracing` and not `SmallRye-OpenAPI`.

SmallRye-OpenTracing is vendor-neutral. It can work with any tracer. Quarkus choose to use Jaeger. What happens in Quarkus is when `quarkus-smallrye-opentracing` is on classpath it automatically chooses to use Jaeger as preferred tracer.

@agentS what tracing backend are you using? Jaeger can natively collect data in Zipkin form

[2020-03-23 08:58] gsmet commented on #8063
@geoand is it user-friendly enough though? I mean the `rest-client` extension doesn't really say anything about RESTEasy.

I wonder if we should create some simple extensions to handle that for the `rest-client` e.g. `rest-client-jackson`, `rest-client-jsonb` and `rest-client-jaxb`. They wouldn't be any different from the one we have for the server.

[2020-03-23 09:00] geoand commented on #8063
@gsmet sure, we could do that, I don't see why not

[2020-03-23 09:10] Ladicek commented on #8053
I have _briefly_ looked into using Zipkin with SmallRye OpenTracing a while ago (cca a year back, perhaps more). If I remember correctly, SmallRye OpenTracing requires the tracer to provide a `TracerResolver` (see https://github.com/opentracing-contrib/java-tracerresolver), which isn't available for Zipkin (at least I didn't fine one in Brave). Considering how small the `TracerResolver` implementa

[2020-03-23 09:10] geoand commented on #8042
Hi,

Your reproducer project isn't really using the MicroProfile REST Client which the `quarkus-rest-client` extension provides - you are instead using the JAXRS client.

In any case, I got your reproducer working with the following changes:

[code]

[2020-03-23 09:10] #8042 closed

[2020-03-23 09:11] gsmet commented on #8063
I will reopen this issue. It's not the first time we had people complaining about that, that's why I think it's worth doing something.

I need some easy tasks for this morning, I'll go do that.

[2020-03-23 09:12] manovotn commented on #8020
Looks like you guys solved this over the weekend. @geoand analysis is correct.
However, I think we should be able to add a reflection fallback here so the method can be invoked.

This will affect not only observers but also initializer and `@PostConstruct` methods (some of which may already work, requires testing). I'll reopen this issue and see what we can do with it.

[2020-03-23 09:20] mkouba commented on #8020
@esteveavi Just out of curiosity what version of Quarkus did you use before? This behavior should  manifest itself since v1.0 unless the observer was previously `private` because in such case a reflection fallback is always used.

[2020-03-23 09:22] geoand commented on #8063
@gsmet OK, sounds good :)

[2020-03-23 09:23] geoand commented on #8020
@manovotn IIRC, I tested the reproducer with `1.2.1.Final` and the problem didn't manifest in that version.

[2020-03-23 09:28] mkouba commented on #8020
@geoand thanks! @manovotn I believe that it would be good to know why before we come with the fix...

[2020-03-23 09:39] iwangxiaodong commented on #8067
@geoand
Yes，1.3.0.CR1 and 1.3.0.Final didn't work at all

[2020-03-23 09:47] rmpestano opened #8069 "Dev mode not working in 1.3.0"
**Describe the bug**
As discussed in [zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/dev.20mode.20not.20working.20in.201.2E3.2E0) our application is not working in dev mode after migrating to quarkus 1.3.0.

**Expected behavior**
We should be able to run our application in dev mode.

**Actual behavior**

After we start the application and access index page we got fol

[2020-03-23 09:51] geoand commented on #8067
@iwangxiaodong I mean I could not reproduce your error. I was just getting an error during the native image build.

[2020-03-23 09:57] asoldano commented on #7942
@gsmet  @sumitpaulde , I haven't looked in details at this and don't know about the implementation of springboot, but sure if you have a proposal for enhancing RESTEasy, feel free to create a JIRA or even send a proposal in a PR. AFAIR, the expectations is that the user goes and scan the input parts' headers; isn't going iterating through them and looking for Content/Disposition with filename in i

[2020-03-23 09:58] loicmathieu commented on #7876
@tomekl007 I assigned it to you.

I think it would be a good idea to send a mail to the [mailing list](https://groups.google.com/d/forum/quarkus-dev) to gather some feedback.

I know Cassandra integration was discussed on the Quarkus 6 months planning https://docs.google.com/document/d/1pJMmPUiHmShgp1KqQq6Lc4T5pUCzQUr4QIU3CTI1yWU/edit# but it's not yet on the roadmap.

If you plan to do the integr

[2020-03-23 10:02] sarxos commented on #8054
Hi, I tried to test the code I implemented as a demonstration but it seems not to work, or to put it in more details, it seems that parameters support in Jandex is not complete. There is a code there, but it seems not work well.

The problem is that all the annotations I have on parameters are reported by Jandex as a `AnnotationTarget.Kind.METHOD` instead of `AnnotationTarget.Kind.METHOD_PARAMETER

[2020-03-23 10:15] mkouba commented on #8054
So in order to support `AnnotationTarget.Kind.METHOD_PARAMETER` in the `AnnotationsTransformer` we would have to modify all `AnnotationStore` clients as well and that's the real problem. Because e.g. if you want to obtain annotations for a specific method param of a specific `org.jboss.jandex.MethodInfo` then there is no way to get the params for this particular method. At least I'm not aware of a

[2020-03-23 10:20] mkouba commented on #6831
@marc-christian-schulze Thanks for you comment! I'll try it once again and if it works I'll send a PR with docs update.

[2020-03-23 10:24] tomekl007 commented on #7876
Thank You. I've sent an e-mail to the mailing list.
Regarding the doc that you linked, there is only one mention of the Cassandra:
`Cassandra: this is the most used column-family NoSQL database.`

Re: configuration root. I was planning to do `quarkus.cassandra` so we are on the same page here.

[2020-03-23 10:31] sarxos commented on #8054
I tried filtering in my demo, but after more investigation it seems to me that no annotation is `AnnotationTarget.Kind.METHOD_PARAMETER` kind. Even when you put annotation on parameter it's reported by Jandex as `AnnotationTarget.Kind.METHOD`.

[2020-03-23 10:40] #3870 closed

[2020-03-23 10:41] #6270 closed

[2020-03-23 10:45] gsmet commented on #7942
Yes, having to go through the headers is exactly what we want to avoid. It would be nice to be able to inject a properly populated object containing all the relevant information.

You can see what Spring does here with `MultipartFile`: https://spring.io/guides/gs/uploading-files/ .

[2020-03-23 10:46] mkouba commented on #8054
Do you have a link to your test?

[2020-03-23 10:48] sberyozkin commented on #8064
Hi @BigFatDog
Should the policy path exclude the root context path, and instead have
[code]
CC @pedroigor

[2020-03-23 11:00] nimo23 commented on #7876
It would also be nice to think about `PanacheCassandra` in the second step..:) So the second step is like https://github.com/quarkusio/quarkus/issues/6339#issuecomment-590224506 described in general:

Panache flavor:
1. to get an _Cassandra extension_ to get the _cassandra client_ to work in native image, get the proper CDI injection beans etc.
2. Then build the Cassandra abstraction on top of it,

[2020-03-23 11:03] pschyma commented on #8061
Hi,

I also stumbled upon this error. It seems to be related to the `java-library` plugin.

When remove the plugin and change the `api` dependency to `implementation` in `common-one` the test work for me.

Seems like the `api` dependencies are not evaluated when calculating the test classpath.

[2020-03-23 11:14] adutra commented on #7876
Cassandra is an ASF registered trademark, I would be VERY careful before naming the configuration root `quarkus.cassandra`. At least we need to ensure that the ASF is on board with this.

[2020-03-23 11:16] loicmathieu commented on #7876
@nimo23 yes, sure, but the first step is the client extension, then we can open an extension proposal for _Cassandra with Panache_.

If @tomekl007  wanted also to contribute it, he can, but it took me several weeks to build MongoDB with Panache, and it must be designed with a lot of care so it's not an easy task. That why a Panache flavor must be built only if a lot of people want to use it.

[2020-03-23 11:20] loicmathieu commented on #7876
@adutra SpringBoot and Micronaut uses `cassandra` as root configuration and `cassandra` inside there extension name.

I'm not a trademark expert but if you think that we must ask ASF before doing it for Quarkus maybe @gsmet can get in touch with them.

[2020-03-23 11:30] adutra commented on #7876
Well, I hope ASF lawyers never become aware of that :-D Seriously though, the ASF can get very fussy about trademarks. We at DataStax removed "cassandra" from artifact and package names in the latest Cassandra java driver because of that. If someone wants to keep "cassandra" in things like namespaces etc. I'd suggest at very least to give proper credit to the ASF in a README file.

But that's a de

[2020-03-23 11:47] sberyozkin commented on #8050
I start getting closer to option `3` :-) since here we have a case where the private secret or key are only used to sign JWT so it is quite specific, I believe Pedro also pointed it out earlier. I'll start prototyping soon and see how it feels coding the option 1 or 3 :-)

[2020-03-23 12:01] sberyozkin commented on #7994
@Ladicek Hi Ladislav, if `smallrye-jwt` already supports `*` then we should likely keep it for now but also enhance it to support `**` but indeed document across all the extensions that `**` is the way to go (as Stuart also suggested)

[2020-03-23 12:06] geoand commented on #7133
This has been fixed in `master` and will be part of the `1.4.0.Final` release (unless we also decide to backport the support).

[2020-03-23 12:06] #7133 closed

[2020-03-23 12:10] agentS commented on #8053
Thanks for the help, @Ladicek and @pavolloffay!

@pavolloffay We have not set on a specific Tracing backend yet, we just tried out Zipkin, because the [OpenLiberty guide](https://openliberty.io/guides/microprofile-opentracing.html) suggested it.

I'm going to try switching to Jaeger for OpenTracing and use its Zipkin compatibility mode, then.

@Ladicek Thanks for the pointers. Maybe I'll have time

[2020-03-23 12:12] johnaohara commented on #6588
@geoand PR open to fix the failing RSS check: https://github.com/quarkusio/quarkus-quickstarts/pull/507

[2020-03-23 12:22] pavolloffay commented on #8053
It is not something that is officially supported. Feel free to comment back with findings or open a PR that would enable you to do it. We can at least support it with a minimal hacking around.

[2020-03-23 12:29] geoand commented on #8063
Feel free to request a review from me @gsmet when you have things all set up

[2020-03-23 12:32] bbixler opened #8074 "JWT RBAC not working in 1.3.0 FINAL"
**Describe the bug**
Following the JWT guide, [JWT RBAC Guide](https://quarkus.io/guides/security-jwt), JWT authentication no longer works in 1.3.0 FINAL

**Expected behavior**
Per the guide, authentication should be possible as follows using a generated JWT

$ curl -H "Authorization: Bearer eyJraWQ..." http://127.0.0.1:8080/secured/roles-allowed; echo
hello + jdoe@quarkus.io, isSecure: false, aut

[2020-03-23 12:36] sberyozkin commented on #8074
@bbixler the quickstart tests pass, but I'll have a look

[2020-03-23 12:48] andreas-eberle commented on #7885
Any idea what we could do? Can you give me a hint wher I would need to change something to make this work again. Maybe I can provide a PR.

[2020-03-23 12:55] geoand commented on #6035
We are currently in favor of not go down this path, but instead of configuring the proper Kotlin plugins and making sure their configuration is propagated to the dev mode, we plan to extend the build class transformation that is already done in some parts of Quarkus.
The idea is that each extension knows what are the requirements for a class to be part of its domain (like being non-final or having

[2020-03-23 12:55] #6035 closed

[2020-03-23 13:04] Ladicek commented on #7994
Thanks @stuartwdouglas @sberyozkin, I'll submit a PR with fixes and tests.

I'll verify if the SmallRye JWT bits are used (as it currently seems to me that security in Quarkus is a blend of SmallRye JWT, parts of Elytron and some Quarkus-specific stuff, some of which is in-project and some in an extra `quarkus-security` project, which doesn't help with understanding :-) ) and if so, submit a PR to

[2020-03-23 13:14] BigFatDog commented on #8064
@sberyozkin  I tried but this approach doesn't work neither in my application nor in [security-keycloak-authorization-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-keycloak-authorization-quickstart).

when set:
`quarkus.http.root-path=/api/work`

this works:
`
quarkus.keycloak.policy-enforcer.paths.1.path=/api/work/public/*
`
This one gets `401 unauthorized erro

[2020-03-23 13:33] manovotn commented on #8020
Alright so this indeed works for 1.2. Looks like we accidentally broke this with https://github.com/quarkusio/quarkus/pull/6888 where the target package for created OM changed to work for synthetic observers. However, at the same time this results in two (or more) different OM classes being created for hierarchical cases. This is becuase the target package will no longer be deduced from declaring

[2020-03-23 13:34] gastaldi commented on #8069
@rmpestano I get the following error while trying to run `mvn clean compile quarkus:dev`:

[code]

I believe I need to build apache/myfaces first? But the versions don't match AFAIK

[2020-03-23 13:37] manovotn commented on #8020
Since this issue deals with just observer methods, I will send a PR fixing this and look separately into aforementioned initializers and post constructs to verify if those work and if needed, file separate issue.

[2020-03-23 13:41] galderz opened #8081 "Multiple NoClassDefFoundError with SVM built with jdk11u"
[jdk11u](https://github.com/openjdk/jdk11u) now contains the necessary bits to build a JDK with static libraries, which is required to build substratevm. While testing a snapshot JDK built out of there the following error has appeared:

[code]

Longer output can be found [here](https://gist.github.com/galderz/d739dcebd6872c503c634fcfeca6872f).

We've had a little Zulip conversation [here](https://

[2020-03-23 13:43] sberyozkin commented on #8064
@BigFatDog thanks, what is `/api/work`, do you have `quarkus.http.root-path=/api/work` ?

[2020-03-23 13:43] Ladicek commented on #7994
Submitted #8082.

[2020-03-23 13:46] geoand commented on #8067
@iwangxiaodong can you update the reproducer with the latest code that you used to build the native image?

[2020-03-23 13:51] rmpestano commented on #8069
Hey George, I don't think you need to build master, my branch is one commit ahead of master.

You can build myfaces itself (I thought that was not needed because myfaces snapshots are being published to central but maybe I'm wrong). I'll add that step on the steps to reproduce

[2020-03-23 13:59] aloubyansky commented on #7426
Yes, we should support multiple app root dirs. I'm looking into this.

[2020-03-23 14:03] sarxos commented on #8054
I apologise, this was a bug in my test. The annotations present on parameters are indeed processed as `AnnotationTarget.Kind.METHOD_PARAMETER` kind.

In regards to:

This is a problem only when we go with the option 1. But with the option 2 we have no problems because there are no clients which are explicitly applied to `METHOD_PARAMETER` since this kind was never supported.

And in regards to:

W

[2020-03-23 14:04] geoand commented on #7426
Cool, thanks for the info @aloubyansky

[2020-03-23 14:08] BigFatDog commented on #8064
@sberyozkin Yes, as stated in my previous reply:

quarkus.http.root-path=/api/work

[2020-03-23 14:16] #8004 closed

[2020-03-23 14:17] sarxos commented on #8054
Let me describe the use case which caused me to propose this feature.

I have methods which can receive some values, e.g.:

[code]

And there is a possibility to receive it from a specific source, e.g. from events stream. Such parameters are annotated with `@Event`:

[code]

So what I wanted to achieve is that, similarly to how `@Inject` is automatically added when missing, a missing `@Receives` a

[2020-03-23 14:49] manovotn opened #8085 "ArC doesn't allow package private @PostConstruct in hierarchy of beans with different packages"
Similarly to #8020 for observers, I've tested initializers (which work) and `@PostConstruct` which doesn't work and throws `IllegalAccess`.

Scenario was the same - bean `Foo` and bean `@Alternative Bar extends Foo`, both in different packages. `Foo` declares a `@PostConstruct` which should be inherited by `Bar` but this blows up upon invocation.

We should be able to workaround this with reflecti

[2020-03-23 15:31] #8020 closed

[2020-03-23 15:50] sean-scott-lr commented on #3548
Is no-one actually using the Infinispan extension, or is there some workaround I am unaware of?

[2020-03-23 15:55] mkouba commented on #8054
The "client code" was calling `AnnotationStore.getAnnotations()` with a `MethodInfo` as the argument because if you have a `MethodInfo` there is no way to obtain ``MethodParameterInfo``s for all parameters. So it is a problem for both variants.

[2020-03-23 16:48] sberyozkin commented on #8064
@BigFatDog Oh sorry, missed it.

So, if you have
[code]
then it does not work but if you have

[code]

then it does work ?

[2020-03-23 17:02] sarxos commented on #8054
Ok, I get your point. Indeed in my w/a I do not work on top of `MethodParameterInfo` at all because of the reason you described. I will close this for now and try to craft new PR to Jandex to add API for this.

[2020-03-23 17:03] #8054 closed

[2020-03-23 17:13] sberyozkin opened #8088 "Add `Proxy` configuration group to `OidcTenantConfig`"
**Description**
Proxy options may need to be set for the OIDC connection to be created.

**Implementation ideas**
Paulo explained that Vertx client will use [ProxyOptions](https://vertx.io/docs/apidocs/io/vertx/core/net/ProxyOptions.html) if they are set.

Proposal: add `OidcTenantConfig` `Proxy` configuration group and have 4 optional properties there for a start: `host`, `port`, `username`, `pas

[2020-03-23 17:16] BigFatDog commented on #8064
@sberyozkin That's all fine.

Yes, exactly the case: it doesn't work **only** when `/api/workbench` is used.

[2020-03-23 17:20] machi1990 commented on #7936
Thanks

[2020-03-23 18:02] maxandersen commented on #7480
cool @previousdeveloper  I got similar at https://github.com/maxandersen/quarkus-ngrok but yours are in the full quarkus extension layout so go for it ;)

note, to be really useful i started addingn auto-download of the ngrok binary but can add that on yours.

[2020-03-23 18:04] devisions commented on #8088
@sberyozkin As discussed on the chat, as we have this need on our case, I'll try to come back with a PR. Thanks again for the feedback.

[2020-03-23 18:09] tandraschko commented on #8069
i think it's related to the new classLoaders?

Please see my analysis in: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/dev.20mode.20not.20working.20in.201.2E3.2E0

[2020-03-23 18:17] sberyozkin commented on #8088
@devisions Thanks, perhaps it can make it to 1.3.1.Final then

[2020-03-23 18:27] sberyozkin commented on #8064
@BigFatDog I wonder, if this issue a duplicate of #6807 ?
CC @pedroigor

[2020-03-23 18:38] BigFatDog commented on #8064
Hi @sberyozkin I've just checked [#6807](https://github.com/quarkusio/quarkus/issues/6807#issuecomment-599400163).
I don't think it is a duplicate for now but I'm not totally sure.  Let me have a closer look later.

[2020-03-23 18:38] iwangxiaodong commented on #8067
@geoand

I get it.   I modified my [quarkus-example.zip](https://github.com/iwangxiaodong/temporary-thing/raw/master/anything/quarkus-example.zip).
You can download it again.

GraalVM 20.0.0 in Windows 10 x64:

[code]

**Build time is Successful, runtime is Internal Server Error**

Visit url http://localhost:8080/demo Caused by: java.lang.NoSuchMethodError: java.lang.String.getBytes()[B

Thank you

[2020-03-23 18:39] geoand opened #8090 "Generated kubernetes manifests contain wrong port in health probes"
**Describe the bug**
When `quarkus.http.port=9090` and the `quarkus-smallrye-health` extensions is present, it is expected that the health and liveness probes will use that port (instead of the the default.)

**Expected behavior**
Port `9090` is used in health and liveness probes.

**Actual behavior**
The liveness probe (readiness is the same) looks like this:

[code]
**Environment (please complet

[2020-03-23 18:39] geoand commented on #8090
I tried fixing this on the Quarkus side, but came up empty. This looks like it needs to be fixed in Dekorate (and then Quarkus needs to have a test).

[2020-03-23 18:40] survivant opened #8091 "quarkus.kubernetes.image-pull-policy ignored"
I put this in `application.properties`

`quarkus.kubernetes.image-pull-policy=Always`

After performing:

[code]

and in `target/kubernetes/kubernetes.yaml`

I have this :

[code]

[2020-03-23 18:42] pedroigor commented on #8064
Not sure if related.

It is a weird issue though, considering it works when using paths other than `/api/workbench`. I'll give this one a try.

@BigFatDog Thanks.

[2020-03-23 18:45] BigFatDog commented on #8064
After double check I still tend to think this issue is not a duplicate.

Thank you guys a lot for your time on this. @sberyozkin  @pedroigor

[2020-03-23 18:49] sebastienblanc opened #8093 "Generating a fieldRef env var with the Kubernetes Extension is not working"
**Describe the bug**
In my properties I put :
[code]

This should generate :

[code]

But nothing is generated in `target/kubernetes/kubernetes.yaml`
**Expected behavior**
in  `target/kubernetes/kubernetes.yaml`
[code]

**Actual behavior**
It's not generated in the yaml file

**To Reproduce**
1. add properties as mentioned in the beginning of the report
2. `mvn clean package`
3. inspect the conten

[2020-03-23 19:00] geoand commented on #8067
I still can't build the native image with your reproducer (I am using Linux). So maybe someone with a Windows machine can give it a shot

[2020-03-23 19:03] iwangxiaodong commented on #8067
Yes, Only In Windows Caused.

[2020-03-23 19:04] geoand commented on #8067
FWIW, native image is just a preview on Windows

[2020-03-23 19:08] iwangxiaodong commented on #8067
OK. Hope support as soon as possible.

[2020-03-23 19:11] gastaldi opened #8094 "Document the process to include extensions in quarkus-platform"
**Description**
We are encouraging extension authors to create their own repositories for their extensions instead of creating a new sub-module in the Quarkus repo tree and then integrate the release into the ecosystem catalog which for now is https://github.com/quarkusio/quarkus-platform

**Implementation ideas**
Create a Wiki page or a page in the website that explains how this process works

[2020-03-23 19:20] geoand commented on #8067
To be clear, the limitation I mentioned above is a GraalVM limitation, not a Quarkus limitation

[2020-03-23 19:42] Postremus commented on #3957
Underlying problem is, that findOneAndReplace can return null.

With 1.2.0.Final, I can reproduce the described blocking action.

With the new Mutiny based reactive mongo, this causes no problem. The action is not blocking, and I get the expected response from the resource - a new document.

On 1.3.0 with the axle based reactive client, I get the following exception.

[code]

Cause are the followi

[2020-03-23 19:58] gwenneg commented on #8067
Hi @iwangxiaodong!

I tried reproducing your issue, but it works perfectly fine on my test environment, which is composed of:
- Windows 10 x64
- graalvm-ce-java11-20.0.0
- Gradle 6.2.2 (the current recommended Gradle version with Quarkus)
- the second reproducer you uploaded above

When I run the native executable and visit `http://localhost:8080/demo`, here's what I'm seeing in the server log:

[

[2020-03-23 20:07] iwangxiaodong commented on #8067
@gwenneg

My gradle version is 6.1.1
I will try using 6.2.2 build it again.

Thank you！

[2020-03-23 20:25] iwangxiaodong commented on #8067
I using 6.2.2 build Successful！

Thanks @geoand @gwenneg

[2020-03-23 20:25] #8067 closed

[2020-03-23 21:26] jim-chewy commented on #7549
Just thought I would add to this I had a `@ConfigProperties`  class which has the following

`java
@ConfigProperties(prefix = "vs", namingStrategy = ConfigProperties.NamingStrategy.VERBATIM)
public class ConfigServerProp {

	@ConfigProperty(name =  "engineMaxAddresses", defaultValue = "100")
	private Integer engineMaxAddresses;

	public int getEngineMaxAddresses() {
		return engineMaxAddresses < 1

[2020-03-23 21:29] sberyozkin commented on #8064
@BigFatDog thanks.
@pedroigor I wonder if `workbench` is a reserved path segment in keycloak...

[2020-03-23 22:27] gboro54 opened #8097 "Quarkus and Testcontainers"
**Describe the bug**
When upgrading to version 1.3.0.Final of Quarkus I started getting issues while trying to leverage TestContainers to spin-up a MySQL instance as part of unit testing.  I was getting the following error:
`java.util.ServiceConfigurationError: org.testcontainers.dockerclient.DockerClientProviderStrategy: org.testcontainers.dockerclient.EnvironmentAndSystemPropertyClientProviderSt

[2020-03-23 22:45] sberyozkin commented on #7900
Losing the secrets even once is sufficient though to get them used somewhere, and this method does not prevent it in itself....

[2020-03-23 23:12] robmv opened #8098 "Panache queries are always issuing SQL statements with paging information"
**Describe the bug**
When executing a simple Panache query, the generated SQL statement includes the keywords and parameters in order to do paging, no matter the Panache Query have never been configured with a Page, for example:

[code]

**Expected behavior**
If no paging information has been setup on the PanacheQuery instance, SQL statements should not include, for example: `limit ?`

**Actual be

[2020-03-23 23:17] bbixler commented on #8074
Apologies, but after further troubleshooting, I've determined that this issue was on my side with my code.

@sberyozkin - Your point about the tests running made me realize the issue had to be on my end.

Thanks for your patience.

[2020-03-23 23:17] #8074 closed

[2020-03-24 00:03] robmv commented on #8098
For completeness, there are another invocations of `setMaxResults(int)` that doesn't involves the page size, for `singleResultOptional()` and `firstResult()`. This will cause problems if the PanacheQuey is reused because `setMaxResults(int)` can't be unsetted, so if I call `firstResult()` and then `stream()`, there is no way to change the query to be not have paging limits. The only way to do it i

[2020-03-24 00:51] gastaldi commented on #8097
@stuartwdouglas this looks like another classloader bug, similar to https://github.com/quarkusio/quarkus/issues/7996#issuecomment-601390914

[2020-03-24 02:31] stuartwdouglas commented on #8097
The fix for #7996 will likely help here, but in general we need a better stragegy around TestContainers, as their default lifecycle does not work with QuarkusTest. The best approach at the moment is to use a  QuarkusTestResource to manage the container lifecycle.

[2020-03-24 03:22] stuartwdouglas commented on #8069
Note that for now you can use -DnoDeps to work around this issue.

This is a known issue with having extensions in the same maven project as an application, I will see if I can fix this for real now we have the new class loading model.

[2020-03-24 03:35] stuartwdouglas commented on #8069
@aloubyansky the showcase in this case does not actually reference a parent pom. Should we actually do workspace discovery in this case?

[2020-03-24 07:03] geoand commented on #8097
I am wondering if we should have something in the docs about testcontainers and Quarkus.
It's really easy to use both together, it's just that most people aren't aware of `QuarkusTestResource`.

[2020-03-24 07:14] lordofthejars commented on #7900
As I said in the comments this method does not prevent that an attacker can access to the system, what this method provides in contrast of another method, for example user password, is to detect that the token has been used in the wrong way. With user password one can use the user password and you'll never know a prior if it is a good access or not. With unwrap tokens you know that someone not val

[2020-03-24 07:37] hotleave commented on #8035
build native image with `--language:js` arguments works fine

[2020-03-24 07:44] #8085 closed

[2020-03-24 08:29] aloubyansky commented on #8069
Yes, there was a request recently to enable this kind of discovery as this what IDEs do and what users expect apparently.

[2020-03-24 08:32] aloubyansky commented on #8069
One of the issue is that, this kind of project may (and most probably will be) referenced as a module. So it is built as part of the whole workspace. So `compile` and `test` will include it and make it available on the classpath even if it's not installed in the local repo. And this is what we should do as well for the dev mode.

[2020-03-24 08:38] #7996 closed

[2020-03-24 09:02] tandraschko commented on #8069
I dont understand why the classes got a different classloader at all. The direct depenendcies of the showcase are:
myfaces-quarkus-deployment
myfaces-quarkus-runtime
primefaces

myfaces-quarkus-deployment has the dependency to myfaces-api and myfaces-impl.

so why myfaces-api and primefaces has a different classloader? they are both in the same scope actually, both are required compile and runtime

[2020-03-24 09:24] FroMage commented on #8098
The issue of always having paging info seems mostly cosmetic, no? The behaviour is the same, no?

The issue of `singleResult` and `firstResult` changing the page size without resetting it does look like a bug, they could reset paging to what it was before.

[2020-03-24 09:28] #8069 closed

[2020-03-24 09:39] AmsterdamFilho opened #8103 "Resource bundle not accessible in dev mode"
**Describe the bug**
When executing quarkus in dev mode, if a resource bundle is added to the resources folder, e.g., to src/main/resources/i18n/i18n.properties, calling the method ResourceBundle.getBundle("i18n/i18n") will throw MissingResouce exception. This is happening on quarkus 1.3.0.

**Expected behavior**
ResourceBundle successfully loads the bundle.

**Actual behavior**
ResourceBundle thr

[2020-03-24 09:47] gsmet commented on #8098
I think the Oracle example is pretty explicit: it will wrap all queries into another one.

Is it hard to avoid that behavior? I don't see it as something desirable.

[2020-03-24 09:49] geoand commented on #8103
Hi,

Just for our information, is this something that was working in a previous version of Quarkus?

[2020-03-24 09:54] geoand commented on #8103
It would be nice if you provided a reproducer for this, because I was not able to reproduce the problem in a test project

[2020-03-24 10:05] absinthetized opened #8104 "vert.x-web kotlin application fails on intellij 2019.3 ad win 10 1909"
**Describe the bug**
downloaded a maven+kotlin skel. from code.quarkus.io. It is a REST config with RestEasy + vert.x-web. Running the code as is returns no problem. I've substituted the default "ExampleResource.kt" with a "hello world" from the vert.x-web kotlin guide:
[code]
and the system blames me for targeting JVM 1.6, but JVM 1.8 is targeted in the pom.xml file

**Expected behavior**
It is e

[2020-03-24 10:11] gsmet commented on #8104
@geoand wasn't this fixed for Maven?

[2020-03-24 10:12] geoand commented on #8104
Was just about to ask for a reproducer :)

Yes, this was supposed to be fixed.

[2020-03-24 10:12] AmsterdamFilho commented on #8103
The reproducer is here https://github.com/AmsterdamFilho/quarkus-poc

But actually, the problem only happens when the instruction ResouceBundle.getBundle("i18n/i18n") is on a library, which unfortunately is my case.

[2020-03-24 10:13] AmsterdamFilho commented on #8103
To use the reproducer, just execute the project in dev mode and open swagger-ui. The only endpoint will throw the MissingResource exception. If you package the application, though, it will not.

[2020-03-24 10:16] mkouba commented on #8062
I've sent a [PR](https://github.com/quarkusio/quarkus/pull/8087) that partially fixes you problem. However, note that the no-args constructor will be called once a client proxy is needed, i.e. when the bean is injected somewhere. This is a well-known limitation of CDI.

[2020-03-24 10:16] AmsterdamFilho commented on #8103
I had many issues to this one before version 1.3.0, when things would work after package, but not in dev mode. They were all solved by the new ClassLoader.

[2020-03-24 10:17] gsmet commented on #8103
I would try with `ResourceBundle.getBundle("i18n/i18n", Locale.getDefault(), Thread.currentThread().getContextClassLoader())`.

[2020-03-24 10:17] geoand commented on #8104
This isn't actually a dev-mode issue since it happens with a regular `mvn package -DskipTests` as well.
I need to dig in more to see what is actually causing it.

[2020-03-24 10:20] AmsterdamFilho commented on #8103
It worked. Should the ticket be closed?

[2020-03-24 10:21] geoand commented on #8103
I think it should.

In general, all resources should be loaded like @gsmet mentions, since it's the only guaranteed way to have it work in dev mode.

[2020-03-24 10:30] rmpestano commented on #8069
Thank you guys!

[2020-03-24 10:30] geoand commented on #8104
@absinthetized can you try adding `<jvmTarget>1.8</jvmTarget>` to the `kotlin-maven-plugin` configuration (under `<javaParameters>true</javaParameters>` for example)?

I believe it should fix your issue

[2020-03-24 10:31] radtriste commented on #7791
I will add that in native mode, `QUARKUS_KAFKA_BOOTSTRAP_SERVERS` is not handled whereas it is in non-native...

[2020-03-24 10:32] gsmet commented on #8061
@aloubyansky @geoand looks like a Gradle issue. Is any of the fix you already did related to that?

[2020-03-24 10:37] geoand commented on #8061
I haven't touched the Gradle stuff in a while.

[2020-03-24 10:40] aloubyansky commented on #8061
I'll test it when I get time.

[2020-03-24 10:40] absinthetized commented on #8104
@geoand added the explicit version fixed the issue! you were right!

[2020-03-24 10:42] geoand commented on #8104
@absinthetized Thanks!

I will open a PR to fix the generated project to include this field.

[2020-03-24 10:57] seseso opened #8107 "Security - RolesAllowed returns 403 with invalid content"
On a resource, I have a @RolesAllowed annotation with @Produces(MediaType.APPLICATION_JSON), but, when Forbidden, the returned response by quarkus security is a 403 (correct), header Content-Type: application/json  but with a body text "Forbidden", wich is an invalid JSON.

**Expected behavior**
Not sure. Empty body or a valid JSON.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a re

[2020-03-24 11:20] KaenDagger commented on #8009
With gradle not only Kotlin extension, I tried `quarkus-resteasy-jsonb` it also not added.
Gradle is not adding extensions properly
It added only
[code]

[2020-03-24 11:22] sberyozkin commented on #7900
@lordofthejars Yes, this is true.
While I understand the mechanics of this mechanism now, what we are saying then is that unless this mechanism is used, the `userpass` mechanism is insecure out of the box, since it will be at risk of the user pass being stolen and hence the token returned in
[code]
also being stolen. Which can really only be the case if we want to talk to Vault over an open HTTP o

[2020-03-24 11:23] geoand commented on #8009
Good find @KaenDagger.

It would be great to have a fix for the `1.3.1.Final` release due on Thursday.

[2020-03-24 11:31] #8103 closed

[2020-03-24 11:34] KaenDagger commented on #8009
@geoand Call is being made to `addDependencyinBuildFile` maven version instead of gradle version

[2020-03-24 11:35] lordofthejars commented on #7900
Token can be stolen not just because of http but also because the repo
where you are storing user passwords are compromised, security breach in
your company, a malicious employee, a push of the wrong file to git repo,
... so it is not about http it https , it is about the whole security
process and wrap tokens improve to detect any of these situations. I worked
in the past with Vault in an electro

[2020-03-24 11:35] geoand commented on #8009
@KaenDagger I don't know the details, but I am pretty sure it used to work :)

[2020-03-24 11:42] emmanuelbernard commented on #4071
@geoand this is done right?

[2020-03-24 11:44] geoand commented on #4071
Yes it is. Just not in GH Actions yet.

However I think @galderz also has something similar, but I don't know the details of his setup.

[2020-03-24 11:45] sberyozkin commented on #8107
Hi @seseso thanks, I think this is a duplicate of #5998, I will close this issue as a duplicate, please watch #5998

[2020-03-24 11:45] emmanuelbernard commented on #7097
@cescoffier I'll move this out of the roadmap board as the remaining tasks are more focused now. We could create a more specific subsequent epic if you feel it needs visibility at the roadmap level

[2020-03-24 11:48] KaenDagger commented on #8009
I just added debug statements , to find which version of build file is called, and it is calling maven version even if buildTool is gradle. I just to need the find the switch which enables gradle one.

[2020-03-24 11:50] emmanuelbernard commented on #5709
@cescoffier @kenfinnigan can we select what we want to do in the next 3-6 months concretely out of that list and create high level actions to put in the roadmap.
Right now "Push forward reactive messaging needs" is not a description you would put in a changelog or an announcement blog. Let's make it more concrete.

[2020-03-24 11:51] emmanuelbernard commented on #6293
@aguibert hello, I'm working up the roadmap for the next 3-6 months. Is it something you plan to have done by then?

[2020-03-24 11:52] emmanuelbernard commented on #6260
Is it something we will work more on in the next 3-6 months?

[2020-03-24 11:56] galderz commented on #8081
The labs JDK contains newer JVMCI code that invokes into `CompilerToVm.getDeclaredMethods()` which does not fail if a method referencing a not found type is found. jdk11u is still using the old style which means this kind of CNFEs can happen, even if `ResponseEntity$HeadersBuilder.allow(HttpMethod[])` method is not in use. I'm looking into the commits that added these changes to see if they can be

[2020-03-24 11:57] geoand commented on #8081
Thanks for the update @galderz!

[2020-03-24 11:59] #8107 closed

[2020-03-24 12:16] #6831 closed

[2020-03-24 12:18] #7994 closed

[2020-03-24 12:20] KaenDagger commented on #8009
Its done.Sending a PR

[2020-03-24 12:22] gsmet commented on #8063
@PieterjanDeconinck in 1.4, you will have the `rest-client-jackson`, `rest-client-jsonb` and `rest-client-jaxb` extensions.

This should solve your issue!

[2020-03-24 12:22] #8062 closed

[2020-03-24 12:26] PieterjanDeconinck commented on #8063
Very nice, thx!

[2020-03-24 12:28] #8104 closed

[2020-03-24 12:29] seseso commented on #8107
My bad, didn't found the opened issue.

Thanks!

On Tue, 24 Mar 2020, 11:59 sberyozkin, <notifications@github.com> wrote:

[2020-03-24 12:44] #7685 closed

[2020-03-24 12:52] gboro54 commented on #8097
@geoand  - I can create a test project later but here is the code I have for my test cases as of now:

`
import com.fasterxml.jackson.datatype.jsr310.JavaTimeModule;
import com.fasterxml.jackson.datatype.jsr310.deser.LocalDateDeserializer;
import com.fasterxml.jackson.datatype.jsr310.ser.LocalDateSerializer;
import io.quarkus.test.junit.QuarkusTest;
import org.junit.jupiter.api.AfterAll;
import or

[2020-03-24 12:55] Ladicek opened #8109 "security documentation index is hard to understand"
**Description**
I'm trying to navigate the Quarkus security landscape, but it's hard. The documentation index is particularly unhelpful. Here's how it looks in the left column of https://quarkus.io/guides/:

- Using OpenID Connect to Protect JAX-RS Applications
- Protecting Web Applications Using OpenID Connect
- Supporting Multi-Tenancy in OpenID Connect Applications
- Using Keycloak to centraliz

[2020-03-24 12:55] gboro54 commented on #8097
For the QuarkusTestResource I assume I just do the container startup in there and set the connection info rather then pulling it from the image. I will give that a try

[2020-03-24 12:55] Ladicek commented on #8109
WDYT @sberyozkin?

[2020-03-24 12:55] #7936 closed

[2020-03-24 12:57] gsmet commented on #7936
To build Quarkus, just use `mvn clean install -DskipTests -DskipITs` then update your project to use the `quarkus-bom` version `999-SNAPSHOT`.

[2020-03-24 12:58] emmanuelbernard commented on #4809
I'm doing a clean up of the roadmap for the next 3-6 months, @loicmathieu can you mention what you plan on working on and archive the things already done.
Also a title a bit more specific than multiple improvements / addons would be good.

[2020-03-24 12:58] emmanuelbernard commented on #4809
my point is that with a specific title we know what the outcome is and we can see it progressing

[2020-03-24 13:14] aguibert commented on #6293
@emmanuelbernard yes it will be done by then. I've been working with Rocket Software and the necessary changes to the DB2 JDBC driver are complete, now we just need to wait for them to cut a new release (which only happens every 6 months apparently). Latest estimate I got from them was July of this year.

[2020-03-24 13:20] geoand commented on #8097
@gboro54 The prefered way to use testcontainers is to use it with `@QuarkusTestResource`. See this for an example: https://github.com/quarkusio/quarkus-quickstarts/blob/master/kafka-quickstart/src/test/java/org/acme/kafka/KafkaResource.java

The reason this is needed is to ensure that testcontainers plays nicely with the Quarkus lifecycle.

[2020-03-24 13:28] emmanuelbernard commented on #3306
@gwenneg @karesti  I am working on the roadmap for the next 3-6 months. I would think this issue should be closed and rather have specific epics for the next few months (e.g. the API work). Thoughts?

[2020-03-24 13:33] emmanuelbernard commented on #4453
Hey @machi1990 I am planning the roadmap for the next 3-6 months, do you feel you will achieve this by then?

[2020-03-24 13:44] emmanuelbernard commented on #5920
Hey @maxandersen I'm working on the roadmap and I think this one needs work.
Can we consider it closed, should we create a different epic for the work we want to do in the next 3-6 months?

[2020-03-24 13:44] SchulteMarkus commented on #7936
No success building locally (when ext4 is not enough - w00t?!)
[code]

But you can be sure I will re-open here once I get the chance to test the updated version.

Target release is v1.4.0? :-( I would love to have it in 1.3.1. Too mention an argument - in my opinion, this is more likely a bug (I would expect any jdbc-mysql URL to work) than a feature.

[2020-03-24 13:46] loicmathieu commented on #4809
@emmanuelbernard

There is two improvements still open for proposal :

- JPA Query support : this can be closed if we decided to only do named query, a prototype is created at #8071 but there is not yet a concensus on the design
- Specification/Example : this one is highly demanded, I can propose a PR for it but you seem to be against it. A lot of people are asking for it and you answer that #2303

[2020-03-24 13:49] alesj opened #8110 "Cannot load custom Hibernate Dialect via "mvn quarkus:dev" -- ClassCastException"
When using custom Hibernate Dialect in the app,
and then running the app with "mvn quarkus:dev",
I get this CCE:

(Quarkus 1.3.0.Final or current master)

Caused by: java.lang.ClassCastException: class com.alesj.qcl.engine.hibernate.CustomH2Dialect cannot be cast to class org.hibernate.dialect.Dialect (com.alesj.qcl.engine.hibernate.CustomH2Dialect is in unnamed module of loader 'app'; org.hiberna

[2020-03-24 13:52] emmanuelbernard commented on #5101
@maxandersen and all, how much will we do in the next 3-6 months? (asking for a friend with a roadmap).

[2020-03-24 13:54] geoand commented on #7936
`-DskipDocs` which most likely not run the doc generation process that failed for you.

[2020-03-24 13:57] emmanuelbernard commented on #6026
@maxandersen so how much will we want to do in the next 3-6 months and how different is it from "command mode"?

[2020-03-24 14:00] emmanuelbernard commented on #6026
@dodalovic @stuartwdouglas has done some ground work named command mode. I'm not sure what would be required to be a proper CLI exposed model. Reusing Aesh or picocli was floated.

Stuart does need feedback on the command mode at the moment.

[2020-03-24 14:12] geoand commented on #8110
I'll make a first attempt at fixing this after getting some input from @gsmet

[2020-03-24 14:13] gboro54 commented on #8097
@geoand  - Thanks Ill give it a look. I hope the above helps but perhaps doing it with test resources this is a none-issue anyway

[2020-03-24 14:28] emmanuelbernard commented on #6025
@maxandersen let's see if we want that in the next 3 to 6 months

[2020-03-24 14:31] dodalovic commented on #6026
Sure, what’s needed?

On Tue 24. Mar 2020 at 15:01, Emmanuel Bernard <notifications@github.com>
wrote:

--
Sent from Gmail mobile

[2020-03-24 14:38] geoand commented on #8110
I was able to verify that if I move all of the code of the reproducer into a single module, the exception does not occur.
So I would be grateful to have some input from @aloubyansky and/or @stuartwdouglas on where to look next.

[2020-03-24 14:40] Sanne commented on #7936
yes I agree, we'll consider backporting. But since 1.3.0 was already released, any new issue targets the next version - that's just the process.

[2020-03-24 14:45] geoand commented on #8110
But I still need to look at `FlatClassLoaderService`

[2020-03-24 14:57] geoand commented on #8110
`FlatClassLoaderService` does **not** come into play at all in this case.

[2020-03-24 15:07] geoand commented on #8110
I am starting to think that this is some very weird corner case. The application seems to be doing some advanced Hibernate things, see https://github.com/alesj/quarkus_cl130/blob/master/engine/src/main/java/com/alesj/qcl/engine/hibernate/HibernateTablesRegistry.java#L60-L61.

[2020-03-24 15:08] geoand commented on #7885
I don't know about AMQP I am afraid

[2020-03-24 15:11] maxandersen commented on #8110
just saw your update on the TCL fiddling - I wonder why those are there ...?

[2020-03-24 15:13] Sanne commented on #8110
I suppose we might want to enforce a specific classloader to be used by `FlatClassLoaderService` as the classloader isn't _really_ flat in dev mode.

Feel free to experiment patching FlatClassLoaderService#getClassLoader ?

[2020-03-24 15:18] machi1990 commented on #4453
Hey @emmanuelbernard , we'd need a 4.0 Vertx release to be able  to offer cluster  support if I am not mistaken cc @pmlopes

 Otherwise I have all the ground work here https://github.com/quarkusio/quarkus/compare/master...machi1990:feat/vertx-redis-extension

[2020-03-24 15:21] pmlopes commented on #4453
The 4.0 client has been backported to 3.9.0 so when a 3.9 release happens all new features will be available.

[2020-03-24 15:21] aloubyansky commented on #8110
@alesj don't you get a different error running it as a jar?

[2020-03-24 15:22] aloubyansky commented on #8110
[code]

[2020-03-24 15:22] machi1990 commented on #4453
@pmlopes Good to know, do we know when that would be?

[2020-03-24 15:25] alesj commented on #8110
Yeah, let me fix that ... afaik, this as nothing to do with the actual issue.

[2020-03-24 15:25] emmanuelbernard commented on #5626
I'll close that issue as in the end the conversation is more about the notion of platform and universe and how to make sure testing results properly flow. We can reopen at some point once we get clearer ideas.

[2020-03-24 15:25] #5626 closed

[2020-03-24 15:26] aloubyansky commented on #8110
Yes, it's the same error with 1.2.1.Final.

[2020-03-24 15:27] aloubyansky commented on #8110
So, one immediate "workaround" is to run with `-DnoDeps` that limits the hot-reload functionality to the app module itself.

[2020-03-24 15:27] alesj commented on #8110
@aloubyansky fixed that query stuff ...

[2020-03-24 15:28] alesj commented on #8110
I also see this:

2020-03-24 16:26:56,267 WARN  [org.hib.boo.int.SessionFactoryOptionsBuilder] (executor-thread-1) class org.hibernate.tool.schema.Action cannot be cast to class java.lang.String (org.hibernate.tool.schema.Action is in unnamed module of loader 'app'; java.lang.String is in module java.base of loader 'bootstrap')  Ignoring

[2020-03-24 15:29] emmanuelbernard commented on #4566
@maxandersen so looking at it, it feels like the remaining tasks are really doc, can we spawn these off and consider this one closed? (Thinking roadmap)

[2020-03-24 15:30] aloubyansky commented on #8110
yes

[2020-03-24 15:32] emmanuelbernard commented on #2509
@kenfinnigan @phillip-kruger do you think we will add RS GraphQL in Quarkus within the next 3-6 months?

[2020-03-24 15:34] #5635 closed

[2020-03-24 15:37] geoand commented on #8110
The problem from a Hibernate POV seems to be that when the a dialect is being loaded via the String reference, an improperly configured `ClassLoaderService` is being used in `StrategySelectorImpl#selectStrategyImplementor`

[2020-03-24 15:46] phillip-kruger commented on #2509
Hi @emmanuelbernard - I am working on this (on and off) when I get time. I believe it should be done in the next 3-6 months. @kenfinnigan ?

[2020-03-24 15:47] kenfinnigan commented on #2509
@phillip-kruger has a few tasks right now, we can discuss where GraphQL fits in relation to the others if we want this sooner

[2020-03-24 15:53] geoand commented on #8110
OK

[2020-03-24 15:56] emmanuelbernard commented on #5867
@sberyozkin What will happen in the next 3-6 months?

[2020-03-24 15:58] emmanuelbernard commented on #5962
@maxandersen can you refresh / nuke based on what we want to achieve in the next 3 to 6 months

[2020-03-24 15:59] maxandersen commented on #5656
@remkop et.al. then fyi #7681 is. now working and looking for feedback/comments if you are interested in trying it out. Has docs and all included.

[2020-03-24 16:01] emmanuelbernard commented on #5963
can we refresh nuke and hair cut based on what we want to do in the next 3-6 months?
Also "foo improivement" is too vague which makes it hard to mvoe between roadmap columns. Better be more specific.

[2020-03-24 16:03] sberyozkin commented on #7900
@lordofthejars You know this space well. If with Vault one can get secrets lost somewhere before `userpass` is even used then indeed having an extra feature to have it detected early would be useful

[2020-03-24 16:05] robmv commented on #8098
I can try fixing this, but I wish a recommended approach:

1. Use JPA `Query.unwrap()` in order to get a Hibernate Query  and then use `Query.getQueryOptions()` in order to set to null the `maxRows` property as JPA Query doesn't accepts null. Cons: Using Hibernate non JPA APIs
2. Modify the `PanacheQueryImpl` constructor to not receive a JPA Query but instead the JPAuery string, and rebuild the JP

[2020-03-24 16:07] emmanuelbernard commented on #5931
@maxandersen I'm considering moving this one out of "roadmap" and just be a free floating issue. thoughts?

[2020-03-24 16:07] previousdeveloper commented on #7480
nice @maxandersen yes I will add an auto-download feature, it is just a POC now :)

[2020-03-24 16:08] emmanuelbernard commented on #5917
Action for the next 3-6 months? @maxandersen ?

[2020-03-24 16:22] alesj commented on #8110
@geoand yeah, I'm pretty sure there is a CL combo that somehow works ...
But the thing is that this should work in all cases and all versions, as this is a normal (OK, a bit more complex) setup / config.

[2020-03-24 16:25] geoand commented on #8110
I am not Hibernate expert, but I am pretty sure we don't expect things like that to "just work" in Quarkus.

[2020-03-24 16:36] Gui-Yom commented on #7986
I added this to my build.gradle :
[code]
This did not resolve the error.

After further testing, it looks like this only affect the app when launched with the quarkusDev task, everything is ok when I launch the uber jar generated with quarkusBuild. Looks to me it has something to do with the Quarkus gradle plugin and the module path it use to launch the app.

Anyway, the `--add-exports` trick is o

[2020-03-24 16:41] galderz commented on #8081
The code changes required to bring JVMCI code up to the newer version are too much. So, for the time being we're going to explore the option of adding missing classes to jars.

These extra classes do not make it to the final native image, nor do they have an impact on the JVM mode. So, it's a relatively safe option. Next few days I will explore which other classes are required to satisfy this.

[2020-03-24 16:53] alesj commented on #8110
OK, then it should at least work (or not work) consistently ;)
e.g. 1.2.0 vs 1.3.0 vs runner vs ...

On Tue, 24 Mar 2020 at 17:25, Georgios Andrianakis <notifications@github.com>
wrote:

[2020-03-24 16:54] geoand commented on #8110
I would expect it work consistently from now on :) :)

[2020-03-24 16:55] gwenneg commented on #3306
I agree @emmanuelbernard.

I've been working (at a slower pace than initially planned) on a PR on my fork about the caching API. I need to finish a few details about the async aspect of the API (I'm using Mutiny) and I'll submit a WIP PR pretty soon.

[2020-03-24 16:56] marceloverdijk commented on #2509
I hope sooner.. is there something the community can do?

[2020-03-24 16:56] plevart commented on #8110
Is there a way to pass Dialect instance to Hibernate setup directly? Not via the class name. Let me explain what this unusual Hibernate setup is trying to do. The application is using Drools and drools roles are hot-deployed into it. Rules module (maven module) consists of rules and some java classes that represent Hibernate entities. So this special setup is required for Hibernate to use the Droo

[2020-03-24 17:00] nimo23 commented on #2509
@marceloverdijk I think in the meantime you can add this API in your pom.xml as usual. It should work for jvm mode (not native mode).

[2020-03-24 17:13] nimo23 commented on #2509
https://mvnrepository.com/artifact/org.eclipse.microprofile.graphql

Look https://github.com/eclipse/microprofile-graphql
[code]

Should work in non-native mode..

[2020-03-24 17:20] survivant commented on #8090
I found out that if we use :

quarkus.kubernetes.service-type=NodePort

the output will still be   type: "ClusterIP"    for the Service

[2020-03-24 17:21] geoand commented on #8090
@iocanel ^

[2020-03-24 17:21] Sanne commented on #8110
hi @plevart , many thanks for the context!

In Quarkus there's a strong expectation that - at runtime - there is only a single classloader: otherwise the application would not work in native mode; so we intentionally do not support classloader chains within the frameworks.

The exception to this rule is the Quarkus infrastructure itself: by having all extensions and frameworks play nicely (as in:

[2020-03-24 17:34] gsmet commented on #7936
The fix will be part of 1.3.1.Final.

[2020-03-24 17:37] emmanuelbernard commented on #4809
Thanks @loicmathieu , on #2303, it's just that I would like for it to be implemented first and tested before we go for the specification/example.

[2020-03-24 17:37] FroMage commented on #8098
I'd go with 1. It's fine to depend on Hibernate stuff.

[2020-03-24 17:41] emmanuelbernard commented on #4809
I'm pretty confident the #8071 will be solved within 3-6 months :) I wonder if you would be ok to give #2303 a try (at implementation) within these 3-6 months? And we can evaluate gaps that would be addressed by Example (or other solutions).

[2020-03-24 17:44] survivant opened #8117 "quarkus.container-image.group could be blank"
it's not mandatory to have a group for docker image in the repository for private docker repository.

so we have

quarkus.container-image.registry=docker.example.com:5000
quarkus.container-image.group=
quarkus.container-image.tag=latest

[2020-03-24 17:50] SetoKaiba opened #8118 "Gradle + multi-module + cdi + quarkusDev = bug."
**Describe the bug**
Gradle + multi-module + cdi + quarkusDev = bug.
The quarkusDev will construct all the beans twice. There's no problem with quarkusBuild.
Checked with the master branch already.

I'm not sure whether it's a gradle only bug. Did anyone check the injection with multi-module maven?

**Expected behavior**
The beans should be contructed one only. No Ambiguous injection problem.

**A

[2020-03-24 17:57] emmanuelbernard commented on #4453
@cescoffier @vietj do you see Vert.x 3.9.x be used in a Quarkus release in the next 3-6 months? I assume yes so @machi1990 that could be a reasonable expectation

[2020-03-24 17:59] machi1990 commented on #4453
Yes, it is a very reasonable expectation. Let's set the target on that timeline.

[2020-03-24 18:01] gsmet commented on #8118
/cc @mkouba too

[2020-03-24 18:01] emmanuelbernard commented on #3306
@gwenneg is there a issue to track Cache API?

[2020-03-24 18:03] gsmet commented on #8118
@SetoKaiba how does the problem manifests itself? What's the error you have?

It could help qualify the issue quickly.

Thanks!

[2020-03-24 18:07] alesj commented on #8110
With my test app I'm not using any fancy Drools-like classloading yet it still fails.

I printed out the ClassLoader used in that ClassLoaderServiceImpl

        ClassLoader classLoader = registerFn.getClass().getClassLoader();
        System.out.println("classLoader = " + classLoader);

Results in:

       classLoader = QuarkusClassLoader:Quarkus Runtime ClassLoader

[2020-03-24 18:08] alesj commented on #8110
This is the classloader of that dummy Function

        return new HibernateTablesRegistry(
            dataSource.get(),
            QuarkusJtaPlatform.INSTANCE,
            CustomH2Dialect.class,
            k -> 42 // <--- HERE
        );

[2020-03-24 18:18] emmanuelbernard commented on #7876
That's really cool you're working on this. I think the main areas people here can give feedback is:

1. evaluate which property should be build time fixed vs runtime overridable
2. help on specific questions in the extension framework inner details
3. help on the GraalVM native image support
4. I am not familiar with the CAssandra driver, does it use Netty, some reactive library like vert.x? We do

[2020-03-24 18:20] emmanuelbernard commented on #7876
I am taking the liberty to add it to the roadmap as it feels like a project that would fit in the 3-6 months period we are crafting.

[2020-03-24 18:20] Sanne commented on #7936
thanks @gsmet !

[2020-03-24 18:30] SetoKaiba commented on #8118
@gsmet Hi. Here's the error/problem.

1. Keep the injection to see the error. All the beans from other module is constructed twice. So Ambiguous dependencies problem occurred.
<details>
  <summary>Spoiler</summary>

2020-03-25 02:23:44,077 ERROR [io.qua.dev.DevModeMain] (main) Failed to start Quarkus: java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to

[2020-03-24 18:33] sberyozkin commented on #8109
Hi Ladislav, @Ladicek, sorry for a delay, some reorganizing may indeed help, FYI,

These point to the different modes in which `quarkus-oidc` can operate, 1st one - when OIDC `service` applications are run (HTTP Authorization has a bearer token), 2nd - when OIDC `web-app` applications are run (The user is redirected back to OIDC server, and then Quarkus will acquire a token itself).
Multi-tenancy

[2020-03-24 18:33] alesj commented on #8110
If I use class directly, it works

            .applySetting(AvailableSettings.DIALECT, dialectClass)

[2020-03-24 18:39] SetoKaiba commented on #8118
I think maybe it's caused by DevModeMain load the classes and the libs built by submodule is included as well.

[2020-03-24 18:42] SetoKaiba commented on #8118
I confirmed. It's caused by it. I deleted the classes after the jar task. The quarkusDev runs correctly.

[2020-03-24 18:46] SetoKaiba commented on #8118
Use plugin java-library instead of java would work as well. Because no jar is depended. But the problem is some of my modules must use java plugin.

[2020-03-24 18:46] SetoKaiba commented on #8118
Use plugin java-library instead of java would work as well. Because no jar is depended. But the problem is some of my modules must use java plugin.

[2020-03-24 18:56] devisions commented on #8088
@sberyozkin [PR 8120](https://github.com/quarkusio/quarkus/pull/8120) contains the additions.
I am waiting for any review and feedback. As being my first contribution to this project, maybe I am missing something.

After this, I would like to extend the existing blog entry to showcase this addition also. But that's another story that we can discuss right after we complete this topic. 😊

[2020-03-24 19:35] gwenneg commented on #3306
Not yet, there's only a discussion in the mailing list about the API.

[2020-03-24 19:37] eiden opened #8121 "Problems resolving the deployment artifact for custom extension in private maven repo"
**Describe the bug**
I'm trying to create a custom quarkus extensions. I have included the dependency in my pom, but the quarkus application fails at startup (`./mvnw compile quarkus:dev`).

**Expected behavior**
The application should start up and resolve the deployment dependency.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom extension and host

[2020-03-24 19:41] eiden commented on #8121
I found a workaround for this issue. If I add the private repo to the `<repositories>` section of my `pom.xml` the application starts up successfully.

[code]

While this works, it's a bit cumbersome to duplicate repos from `~/.m2/settings.xml` into the `pom.xml`

[2020-03-24 19:48] geoand commented on #8117
We can certainly do this, but I would like the opinion of @iocanel and @Ladicek before I make any change.

[2020-03-24 20:19] plevart commented on #8110
Right, when passing the Class object to the Hibernate, the custom dialect class is resolved by the app module which is under Quarkus class loader control, so such Class object is for a class with the correct (Quarkus) class loader already. Only when Hibernate resolves the dialect class from name it gets resolved with non-Quarkus (the Java system) class loader. Probably because the ClassLoaderServi

[2020-03-24 20:42] devisions commented on #8088
It would be great to include it in the upcoming 1.3.1 whose milestone has due date this Friday.

[2020-03-24 20:54] stuartwdouglas commented on #8110
IMHO this is an application bug. As @geoand pointed out above you need to create a BootstrapServiceRegistry with the class loader service for it to take effect. The ClassLoaderServiceImpl that is being created is not actually used.

[2020-03-24 21:01] aureamunoz commented on #8081
Ok @galderz let us know when and what you want to add;

[2020-03-24 21:35] gastaldi commented on #8121
Thanks for the detailed explanation. It looks like you nailed the problem. Do you mind opening a Pull Request with this fix? I think it's a reasonable one.

[2020-03-24 22:08] marc-christian-schulze opened #8126 "Keycloak and vertx-web leading to "IllegalStateException: Request has already been read""
**Describe the bug**
Using Keycloak in combination with vertx-web
[code]
causes the following exception:
[code]

**Expected behavior**
Endpoint `/working` returns HTTP 200 with content.
Endpoint `/broken` returns HTTP 200 with content.

**Actual behavior**
Endpoint `/working` returns HTTP 200 with content.
Endpoint `/broken`  returns HTTP 500 Internal Server Error

**To Reproduce**
Steps to reprod

[2020-03-24 22:10] gsmet commented on #8126
/cc @stuartwdouglas

[2020-03-24 22:19] marc-christian-schulze commented on #8126
I've seen a similar issue reported at stackoverflow:
https://stackoverflow.com/questions/52969528/keycloak-vert-x-java-lang-illegalstateexception-request-has-already-been-read

[2020-03-24 22:26] aloubyansky commented on #8121
This won't be a proper fix though. It will reverse the priorities of repo configs. POM should be able to override settings.xml. And this is what's happening here. Either the pom's default central should be ignored or there is some repo initialization issue.

[2020-03-24 22:56] plevart commented on #8110
@stuartwdouglas @geoand Thanks, will try with that BootstrapServiceRegistry.

[2020-03-24 23:40] aguibert commented on #6260
Yes, I'm planning to have this done within that timeframe.

However, it depends on Quarkus being a monorepo. If that plan changes please let me know because the strategy I'm using would not work.

[2020-03-24 23:56] stuartwdouglas commented on #8126
This may have been fixed by. https://github.com/quarkusio/quarkus/pull/7951, I will test

[2020-03-25 00:12] marc-christian-schulze commented on #4817
Looking forward to have UMA supported in Quarkus so we can enable resource servers to dynamically create resources and manage permissions like shown in the Keycloak quickstart example:
https://github.com/keycloak/keycloak-quickstarts/tree/latest/app-authz-uma-photoz

[2020-03-25 01:54] BigFatDog commented on #8064
@sberyozkin @pedroigor ,
My latest observation is:  this issues happens when setting the `quarkus.http.root-path`,  it is not related to a specific path pattern.

In fact /api/work` didn't work. I got it wrong because I configured `/api/workbench` in `keycloak` but not for`/api/work`. After I add `/api/work/*` to the `keycloak` resource, both of the two path patterns share the same behavior.

Is

[2020-03-25 03:34] SetoKaiba commented on #8118
I'm temporarily use java-library for submodules as a workaround. But I have to use the parent module to apply the plugin to differentiate the plugin for other projects. The submodule is shared by other project which required to be java plugin only.
Still looking forward to see this fixed.

[2020-03-25 05:23] stuartwdouglas commented on #6921
This is a gradle bug, you can fix it by stopping the daemon (gradle --stop). I am not sure exactly how this works, I guess gradle must be spawning the process with the env var as the empty string if the original daemon was started when it was actually set.

[2020-03-25 05:26] stuartwdouglas commented on #6780
If you include a META-INF/beans.xml file it should be automatically indexed.

[2020-03-25 05:26] #6764 closed

[2020-03-25 07:09] cricket007 commented on #7486
Link https://github.com/GoogleContainerTools/jib/issues/1555

[2020-03-25 07:13] cricket007 commented on #2143
What's wrong with having IDE plugins expose the run/debug hooks via buttons & keymappings?

[2020-03-25 07:39] fdai2003 opened #8133 "hibernate generation modes differ for datasources"
**Description**
I need to differentiate the property "quarkus.hibernate-orm.database.generation" for each datasource.
That means when I use two datasources, it is required to configure one with "drop-and-create" and an other datasource with "none".

**Implementation ideas**
This could be archived potentially by moving the configuration property "quarkus.hibernate-orm.database.generation" to "quark

[2020-03-25 07:56] geoand commented on #8117
If we don't allow it be black, we should throw a proper exception.

[2020-03-25 08:01] tomekl007 commented on #7876
Regarding 1:
- Right now I've started switching fixed vs runtime config similarly to
what mongo-client (in extensions) does.
So in the deployment module I plan to create:
@ConfigRoot(name = "cassandra", phase = ConfigPhase.BUILD_TIME)
public class CassandraClientBuildTimeConfig {
    /**
     * Whether or not an health check is published in case the
smallrye-health extension is present.
     */

[2020-03-25 08:09] Ladicek commented on #8109
That makes sense to me, too. Thanks! :-)

[2020-03-25 08:15] loicmathieu commented on #4809
Why not, but I have something else in my mind that I wanted to implement for Quarkus and implementing #2303 will be a complex task so maybe not in a near future. #2303 will need a parser and I'm a little afraid of some compatibility issues we can have if we use a such parser ...

I will open an issue for Specification/Example where I will copy all the meaninfull discussion that we have here and li

[2020-03-25 08:21] Ladicek commented on #8117
Isn't our configuration a bit too rigid here? The entire idea that a container image name always looks like `<registry>/<group>/<name>:<tag>` is flawed IMHO. For example, the GitLab registry [supports](https://docs.gitlab.com/ee/user/packages/container_registry/#build-and-push-images-from-your-local-machine) "up to three levels of image repository names":

- registry.example.com/group/project:some

[2020-03-25 08:21] ia3andy opened #8134 "Allow extensions to influence newly generated apps: codenamed "Codestarts""
### Description
We need a way to generate different project depending on the selected extensions.
We should have example codes showing the different features of the extensions.

### Core

- code: https://github.com/quarkusio/quarkus/tree/master/independent-projects/tools/codestarts
- core codestarts dir: https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/re

[2020-03-25 08:25] ia3andy commented on #8134
Until then, you can use the different quickstarts we provide: https://github.com/quarkusio/quarkus-quickstarts/
Also we have several guides which could help you: https://quarkus.io/guides/

[2020-03-25 08:34] loicmathieu commented on #7986
@Gui-Yom apparently Gradle have issues with JPMS, this will be fixed in Gradle 6.4: https://github.com/gradle/gradle/issues/890#issuecomment-603289940

Can you try with 6.4 (the issue explain how to test it)?
Anyway it deserve a note on the guide that explain that when using mongo+srv and gradle the `--add-exports=jdk.naming.dns/com.sun.jndi.dns=java.naming` must be added.

@cescoffier maybe we ne

[2020-03-25 08:40] geoand commented on #8117
That's what I am asking essentially :)

But the examples you show are in the opposite direction of what @survivant asks.
For cases 2) and 3), we indeed don't generate that. But on the other hand, should we be able to generate that? And if so, what would a simple and consistent configuration strategy look like that would allows to be that flexible?

[2020-03-25 08:47] mkouba opened #8135 "Allow users to select alternatives though the MicroProfile Config"
Currently, an alternative must be annotated with `@Priority` or `@io.quarkus.arc.AlternativePriority`. It should be possible to use MP Config to select an alternative as well.

The simplest approach would be to list all selected alternatives, e.g. `quarkus.arc.selected-alternatives=org.acme.Foo`. It's not possible to specify the priority but could take the spec approach where components annotated

[2020-03-25 08:48] mkouba commented on #8135
@stuartwdouglas @manovotn FYI

[2020-03-25 09:06] geoand commented on #8135
I some of remember discussing something like this in the past. I agree we should have this

[2020-03-25 09:07] Ladicek commented on #8117
Yea, I'm just showing that there are many possibilities. What we're doing now is probably a good default, but the configuration structure doesn't allow the required flexibility.

What we can configure now is `registry`, `group`, `name` and `tag`, which is put together as `registry/group/name:tag`. IMHO, it should be possible to configure the entire string. But I don't see a way how to make that po

[2020-03-25 09:14] geoand commented on #8117
Yes exactly... it is always a delicate balance :)

[2020-03-25 09:16] geoand commented on #8117
@Ladicek WDYT about making group optional? Have you seen that anywhere?

[2020-03-25 09:20] Ladicek commented on #8117
I have not, but apparently it is valid, see e.g. https://docs.docker.com/registry/deploying/#copy-an-image-from-docker-hub-to-your-registry. Making the group optional makes sense to me.

[2020-03-25 09:21] geoand commented on #8117
Thanks for the info!

I'll take it up then (hopefully in time for `1.3.1.Final`)

[2020-03-25 09:36] loicmathieu opened #8136 "Implements Specification or Example for Panache"
**Description**
Today, both Hibernate and MongoDB with Panache allow to make query based on un-validated strings.

While being easy to use and allow to handle complex cases, this has some drawbacks:
- The query is not validated.
- The query is not type safe (as validated by the compiler and limited to the property of a precise type).
- Dynamic query (where some part of the query needs to be added

[2020-03-25 09:37] loicmathieu commented on #4809
Closed as the remaining discussions around Specification/Criteria, Example, QueryDSL, ... is moved to #8136

[2020-03-25 09:37] #4809 closed

[2020-03-25 09:39] loicmathieu commented on #8136
/cc @emmanuelbernard I try to include all disscussions from all related issue in this one and link as many existing issue as possible so we don't loose tracks on the various possible way of providing more query capabilities and type safety to Panache.

[2020-03-25 09:54] KeesKoffeman opened #8138 "Exception for multiple HTTP authentication mechanisms is never thrown."
**Describe the bug**
When multiple HTTP authentication mechanisms are present (not implemented yet) a IllegalStateException should be thrown but is not.

**Expected behavior**
The IllegalStateException to be thrown.

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project and add 'io.quarkus:quarkus-smallrye

[2020-03-25 10:08] emmanuelbernard opened #8140 "API for application data caching"
Offer a programmatic API for application data cache offering features above and beyond the annotation based ones.
Follow up of https://github.com/quarkusio/quarkus/issues/3306

CC @karesti and @gwenneg

[2020-03-25 10:09] emmanuelbernard commented on #3306
OK, I've created https://github.com/quarkusio/quarkus/issues/8140 for it

[2020-03-25 10:21] geoand commented on #8136
cc @Sanne who I am sure also has ideas in this area

[2020-03-25 10:22] emmanuelbernard commented on #6260
Likely what's inside the repo today will remain (except a few moves as necessary) but newer extensions will not be in the monorepo. That's a likely future anyways.

[2020-03-25 10:31] emmanuelbernard commented on #6026
There you go, check this PR https://github.com/quarkusio/quarkus/pull/7681
Feedback is good, also building it and testing it would be great feedback for Stuart.

[2020-03-25 10:36] glefloch commented on #7104
@gwenneg, I would like to work on this.

[2020-03-25 10:40] #8009 closed

[2020-03-25 10:48] gsmet commented on #8133
For now, we only support one persistence unit with `application.properties`.

See this issue: https://github.com/quarkusio/quarkus/issues/2835 .

Once above is fixed, you will have what you ask for automatically. Closing as duplicate, please subscribe to the other issue to get notified of progress.

[2020-03-25 10:48] #8133 closed

[2020-03-25 10:52] emmanuelbernard commented on #7876
So look at the runtime configs you have and think whether you could prepare the driver at build time and load less class at runtime time if you could freeze the config to build time immutable. And then look how loud people complain. Shake it and make your choice :)
We tend to put stuff aggressively at build time and backup as needed.

I don't know the extend of the Cassandra config but:
- IP, url,

[2020-03-25 10:54] emmanuelbernard commented on #7876
Could your driver (be made to) accept a Netty instance instead of starting your own?
If yes, then we can expose it for extensions for you to consume.
@stuartwdouglas or @cescoffier can you provide some guidance in how we could make that happen?

[2020-03-25 11:04] gwenneg commented on #7104
Thanks @glefloch, this issue is now yours :)

[2020-03-25 11:31] gsmet commented on #8109
https://github.com/quarkusio/quarkus/pull/8144
https://github.com/quarkusio/quarkusio.github.io/pull/492

[2020-03-25 11:31] gsmet commented on #8109
I let you guys approve the PRs above :).

[2020-03-25 11:40] sberyozkin commented on #8109
Hi @Ladicek @gsmet thanks

[2020-03-25 11:44] Ladicek commented on #8109
Both PRs LGTM, thanks!

[2020-03-25 11:50] manovotn commented on #8135
Fine by me; just two notes - firstly, in spec you can have several alternatives enabled and the ordering inside `beans.xml` defines which alternative wins (if they both override the same bean). Are we going to have something similar here?
And secondly, is this actually better then to include and parse contents of `beans.xml` as you would with CDI? This way we are adding another thing that exists i

[2020-03-25 11:54] nimo23 commented on #8140
One question:
Will quarkus use an already established **caching provider** (e.g. Infinispan) for its API? I think quarkus could indeed use, for example "Infinispan-embeeded" and provide its caching services (e.g. annotations and beyond) around this core.

[2020-03-25 12:06] mkouba commented on #8135
It could be the same for the property - position in the list defines the ordering.

Parsing the `beans.xml` would not be enough. We would have to merge the contents of the descriptors (this is what Weld did for SE for a long time) and that's not standardized either. Also `beans.xml` enablement implies enablement for bean archives whereas config property is global enablement. Note that we don't sup

[2020-03-25 12:15] emmanuelbernard commented on #8136
Thanks @loicmathieu. So reading your main concern, the type safe query checking combined with the optional predicate option might address your concerns. That's why I'd prefer to test this before going on the example API which I find flawed for a few reasons.

[2020-03-25 12:22] manovotn commented on #8135
Are you able to tell the position? I thought MP config only lets you retrieve the value.

I am aware of that. I was just "thinking aloud". We introduce yet another non-standard thing but on second thought this can actually help people who were using `beans.xml` enablement to migrate and at the same time it fits into our scenario of one bean archive with global only enablements.

And it would also

[2020-03-25 12:22] giova333 opened #8145 "Config sources are loaded and invoked multiple times"
**Describe the bug**
We are trying to implement custom `org.eclipse.microprofile.config.spi.ConfigSource` implementation for AWS Systems Manager Parameter Store(SSM)

Everything works well, but we noticed that configSources are created and invoked 3 times and 3

calls are performed to SSM accordingly(first time during the maven build phase).

We use serverless architecture in AWS with native image

[2020-03-25 12:27] mkouba commented on #8135
The value is just a list.

[2020-03-25 12:35] emmanuelbernard commented on #8140
Right now we only plan to sue the existing cache implementation which uses caffeine.

If we go and support alternative providers like Infinispan or Hazelcast, we need to be very careful as these involve remote calls and the API must not assume locality cc @Sanne

[2020-03-25 12:45] eiden commented on #8121
@gastaldi You're welcome. I don't have any significant experience working with quarkus, but I share @aloubyansky concerns.

Looking at the call to
[`io.quarkus.bootstrap.resolver.maven.MavenArtifactResolver#resolveDescriptor(org.eclipse.aether.artifact.Artifact)`](https://github.com/quarkusio/quarkus/blob/2dbf356246f560d310fa70aab354d312134f9f9e/independent-projects/bootstrap/core/src/main/java/io

[2020-03-25 12:48] cricket007 commented on #2448
At a bare mimumum, a basic pattern is just this right?

[code]

I put hosts as plural because [cases like HiveServer2 via Zookeeper](https://cwiki.apache.org/confluence/display/Hive/HiveServer2%2BClients#HiveServer2Clients-ConnectionURLFormat)

[2020-03-25 12:59] survivant opened #8147 "https://quarkus.io/guides/all-config should be in order"
the keys are not in order.

You start with  :

quarkus.knative
quarkus.kubernetes
quarkus.openshift

and go back to : quarkus.knative   ...

[2020-03-25 13:01] aloubyansky commented on #8121
Thanks @eiden for the report and your analysis so far.

[2020-03-25 13:04] tgippi opened #8148 "Unable to get DB Connection in @QuarkusTest + Jupiter Extension"
**Describe the bug**
Since `1.3.0.Final` calling `DriverManager.getConnection` in a test from a Jupiter Extension in combination with `@QuarkusTest` will throw an exception.
It seems that the Driver has been loaded by another `ClassLoader`.

When I downgrade quarkus to `1.2.1.Final` it works like expected.

The Jupiter Extension initializes the database by using Liquibase. The test should verify t

[2020-03-25 13:12] #7091 closed

[2020-03-25 13:27] tgippi commented on #7359
We've got the same issue when we use `1.3.0.Final` and `pact-jvm` in our tests.

Seems that those two dependencies will cause the issue:
[code]
The `xml-apis:xml-apis` dependency will come with xerces for example which is a dependency of quarkus-tika and pact-jvm.

[2020-03-25 13:32] SchulteMarkus commented on #7936
Hi guys,

I have given building Quarkus another chance. ```-DskipDocs``` does not help (```-Dmaven.javadoc.skip=true``` neither), so I excluded Maven module extensions -> "hibernate-search-elasticsearch" (and integration-tests -> "hibernate-search-elasticsearch") from build.

Putting it all together: The latest version of Quarkus (commit https://github.com/quarkusio/quarkus/commit/9db47139f07e451b

[2020-03-25 13:53] #8090 closed

[2020-03-25 13:53] nimo23 commented on #8140
In my opinion, _Quarkus Caching Layer_ should only use one cache provider internally. There is no need to support different caching providers (the same as there is no need to support different jpa providers). Quarkus should stick with only one good caching provider and build on that. I think caching providers like infinispan would be better suited for the _Quarkus Caching Layer_ than to only use c

[2020-03-25 13:57] nimo23 commented on #8140
Using caching providers in _embeeded mode_ (e.g. infinispan-embeeded) can be run locally (and does not involve remove calls).

[2020-03-25 14:08] tpenakov commented on #7846
I have wrote a very basic Quarkus Extension about it and works fine for me. The extension can be found [here](https://github.com/tpenakov/otaibe-commons-quarkus/tree/master/aws-extension) .

[2020-03-25 14:10] devisions commented on #8088
@sberyozkin Sergey, just a small update that reflects our final decision is:
- to just provide the "host" (as `quarkus.oidc.proxy.host` config item)
- "port" has the default value of 80 (if not explicitly configured)
- of course, "username" and "password" are optional, since not all proxies require authn.

[2020-03-25 14:13] Sanne commented on #8140
Sure: Infinispan is built on Caffeine providing such additional capabilities. We'll likely base such capabilities on the Infinispan code base, either directly or reimplementing bits and pieces with the help of the Infinispan team as best suited.

[2020-03-25 14:28] zeljkot opened #8152 "Mutiny and Resteasy integration sometimes fails with "Attempted to do blocking IO from the IO thread""
**Describe the bug**

Often Multi returned to Resteasy causes exception, although both database and Kafka are executed in a worker thread.

Code:

[code]

sendMessage returns CompletableFuture:

[code]

Exception:

It seems that error does not happen when emmiter.send is used without the future.

**Expected behavior**

Resteasy should just execute the request as all blocking operations are moved t

[2020-03-25 14:30] geoand commented on #8147
Indeed, weird.

I'll take a look and see if it's something we can fix in the small window we have for `1.3.1.Final`.

[2020-03-25 14:44] emmanuelbernard commented on #8140
I know but there is likely little value in swapping implementation in that case compared to the extra complexity of explaining how to configure stuff depending on the provider (more complex doc for example)

[2020-03-25 15:05] gboro54 commented on #5275
@rosell - I know this ticket is closed but I see your solution and was curious if you had addition dependencies in your pom? I keep getting the below:
`Execution default of goal io.swagger.core.v3:swagger-maven-plugin:2.1.1:resolve failed: A required class was missing while executing io.swagger.core.v3:swagger-maven-plugin:2.1.1:resolve: Ljavax/servlet/ServletConfig;`

[2020-03-25 15:18] gboro54 commented on #5275
@rosell  - Ignore my stupid... it would help if I actually looked at the docs

[2020-03-25 15:24] gsmet commented on #8152
/cc @cescoffier @stuartwdouglas @FroMage

[2020-03-25 15:31] cescoffier commented on #8152
First, I would simplify the code:

[code]

[2020-03-25 15:37] olpaw opened #8156 "Quarkus hello.world image build fails when using openjdk-8u252-jvmci-20.0-b03"
**Describe the bug**

Building a Quarkus hello.world image fails when using a GraalVM built from https://github.com/graalvm/graal-jvmci-8/releases/download/jvmci-20.0-b03/openjdk-8u252-jvmci-20.0-b03-linux-amd64.tar.gz
[code]

**Expected behavior**

Doing the same as above but based on the previous https://github.com/graalvm/openjdk8-jvmci-builder/releases/tag/jvmci-20.0-b02 release results in a s

[2020-03-25 15:40] FroMage commented on #8152
If we do blocking IO it means we must have a filter that disabled async IO. But I was pretty sure I would detect and reject it. Is this with `quarkus-undertow` or without?

[2020-03-25 15:41] FroMage commented on #8152
Can we get the full stack trace?

[2020-03-25 15:41] geoand commented on #8156
cc @galderz @dmlloyd

[2020-03-25 15:42] geoand commented on #8156
@olpaw Thanks for reporting.

Have you tried with Quarkus `1.3.0.Final` by any chance?

[2020-03-25 15:44] rsvoboda opened #8157 "1.3.0.Final quarkus:list-extensions doesn't work in non-quarkus project directory"
1.3.0.Final quarkus:list-extensions doesn't work in non-quarkus project directory
`mvn io.quarkus:quarkus-maven-plugin:1.2.1.Final:list-extensions` works in any directory

Steps to reproduce:
[code]

[code]

[2020-03-25 15:46] rsvoboda commented on #8157
[code]

[2020-03-25 15:47] xorye opened #8158 "Qute template extra whitespaces causes inconsistent behaviour"
For Qute templates, there seems to be inconsistent behaviour when it comes to having whitespace before and after braces `{`,`}`.

### Case 1 (whitespaces before closing brace for the starting tag)
[code]
In this case, everything works as expected:
![image](https://user-images.githubusercontent.com/20326645/77548301-be8ef600-6e84-11ea-9abe-59072d99b9b8.png)

### Case 2 (whitespaces before closing b

[2020-03-25 15:48] xorye commented on #8158
It also seems like in general, there shouldn't be any extra whitespaces anyways from viewing the documentation: https://quarkus.io/guides/qute-reference. Then I suppose case 1 is some sort of edge case?

[2020-03-25 15:52] olpaw commented on #8156
Hi @geoand using `<quarkus.version>1.3.0.Final</quarkus.version>` here https://github.com/olpaw/quarkus-hello-world/blob/3aa44d265760d7ba54d014110cbb95270fe0e345/pom.xml#L8 gives the same behaviour. So the reported issue is indifferent to the `quarkus.version` setting.

[2020-03-25 15:54] rsvoboda commented on #8157
@gsmet candidate for bug fix release?

[2020-03-25 15:55] geoand commented on #8157
Let's see if I can fix this fast enough for the `1.3.1.Final` release...

[2020-03-25 16:05] geoand commented on #8156
Thank you very much for checking @olpaw

[2020-03-25 16:05] dmlloyd commented on #8156
I'm assuming that this is due to some Netty update or change with the way we integrate with Netty, since we're not using Jetty.  But Netty should be using the Java 11 ALPN interface at this point I would think.  It might be related to enabling HTTP2?

[2020-03-25 16:07] geoand commented on #8157
#8159 should take care of the issue

[2020-03-25 16:21] pipinet opened #8160 "Add extension for hazelcast"
Need share session use cluster manager like hazelcast etc when use websocket.

[2020-03-25 16:26] Ladicek commented on #7766
It seems all the necessary labels etc. were added on the PR, so I'm closing this, as it indeed is fixed.

[2020-03-25 16:26] #7766 closed

[2020-03-25 16:27] #8117 closed

[2020-03-25 16:30] geoand commented on #8148
@tgippi Thanks for reporting.

Unfortunately your code won't without a small modification in the latest version of Quarkus (due to the ClassLoader changes that were made, and the fact that `DriverManager` doesn't have seem to have an option to accept a ClassLoader as input).

However you can still get your code to work with a minor modification, like so:

[code]

Another option would be would prob

[2020-03-25 16:30] #8148 closed

[2020-03-25 16:31] nimo23 commented on #8160
Already there: https://github.com/quarkusio/quarkus/pull/6758

[2020-03-25 16:31] geoand commented on #8160
See https://github.com/quarkusio/quarkus/pull/6758

[2020-03-25 16:36] olpaw commented on #8156
I compared the static analysis results of `jvmci-20.0-b03` vs `jvmci-20.0-b02` and found the following delta in the output of reports/call_tree_*.txt that I get when I add `-Dquarkus.native.additional-build-args=-H:+PrintAnalysisCallTree`:
With the working jvmci-20.0-b02 I see
[code]
with the failing `jvmci-20.0-b03` the subtree shows
[code]
I have trouble understanding how this makes sense. How c

[2020-03-25 16:48] emmanuelbernard commented on #3454
@FroMage @geoand how is this issue related to the idea of RESTEasy with Panache? A part of it, most of it, all of it?

[2020-03-25 16:50] emmanuelbernard opened #8161 "Messaging with Panache"
Is there something to the idea or is Reactive Messaging addressing the 80% case elegantly enough?

[2020-03-25 16:52] geoand commented on #3454
@emmanuelbernard the implementation that @gytis is doing in #7840 basically generates RESTEasy endpoints from Panache Entities. So the user doesn't have to do anything in order to create CRUD endpoints.
So I would say, all of it?

[2020-03-25 16:59] FroMage commented on #3454
Well no, this is the answer for CRUD, but we had many other ideas for improving the UX with RESTEasy.

[2020-03-25 17:00] FroMage commented on #8161
I'd have to check, but it looked to me that Reactive Messaging was already pretty modern and simple to use, no?

[2020-03-25 17:00] zeljkot commented on #8152
Sorry, I forgot to attach it. Here it is.

[trace.txt](https://github.com/quarkusio/quarkus/files/4382311/trace.txt)

[2020-03-25 17:06] geoand commented on #3454
Ah yeah, that is something totally different. Are we calling that effort something?

[2020-03-25 17:08] geoand commented on #8161
I agree with @FroMage. Reactive messaging seems very elegant and easy to use.

[2020-03-25 17:08] zeljkot commented on #8152
@cescoffier  `onItem` instead of `subscribeOn`? Does it matter where I put it because in your example it is not immediately before persist?

[2020-03-25 17:12] zeljkot commented on #8152
I have this dependency for WebSockets; it seems that is used for REST, too, although I do not need it.
[code]

[2020-03-25 17:16] loicmathieu commented on #8161
I uses reactive messaging for some small message based application and it's fine and the `Emitter` facility allows to brige imperative and reactive style.

I don't think there is something specific to Panache that should be done but I think that some stuff are missing inside our current messaging support :
- Transaction accross a broker and a database
- Using Panache with a reactive message handle

[2020-03-25 17:17] emmanuelbernard opened #8163 "Implement the flow of GitHub Action jobs reporting Quarkus Platform readiness"
**Context**

In this issue, we assume that some extensions of the platform live in the Quarkus monorepo and some live outside the Quarkus monorepo.

Making sure the platform works for every change to Quarkus core implementation, is naturally done in the CI job for the Quarkus Monorepo. But we need more for extensions living outside.

**Proposition**

Here is a proposed model built on two flow of t

[2020-03-25 17:18] emmanuelbernard commented on #8163
@maxandersen @aloubyansky @gsmet I've written down the short feedback loop proposal between an external extension in the platform and the Quarkus monorepo. We can discuss from this.

[2020-03-25 17:20] emmanuelbernard commented on #3454
RESTEasy with Panache :)

[2020-03-25 17:20] emmanuelbernard commented on #3454
@FroMage where are this list of UX improvements at? I could not find them besides this issue.

[2020-03-25 17:24] emmanuelbernard commented on #8161
Ok let me close that issue. Someone reopens it if an idea pops up

[2020-03-25 17:24] #8161 closed

[2020-03-25 17:26] emmanuelbernard commented on #8160
Yes let's consider it a dupe of #6758 for now.

[2020-03-25 17:26] #8160 closed

[2020-03-25 17:27] emmanuelbernard commented on #8157
To be honest, I think that's a non use case. we should not test that. After the initial project creation, people should run Quarkus commands from the project to get the correct context. That's the expected flow of work for me.

[2020-03-25 17:32] agilob commented on #3905
To use openapi code generation, project must also include external dependencies for JSON serialisation, http client, date formatting etc. OpenAPI can be customized to select which date formatter, and template is used.

For example, these are currently allowed libraries/templates supported:
jersey1
feign
jersey2
okhttp-gson
retrofit
retrofit2
resttemplate
resteasy
vertx
google-api-client

https://g

[2020-03-25 17:35] vsevel commented on #7900
I spent some time trying to figure out the details. Probably nothing new for you @lordofthejars  but I had to run through a complete example to feel better about it. I looked at [Cubbyhole Response Wrapping](https://learn.hashicorp.com/vault/secrets-management/sm-cubbyhole), which provided the base, then [AppRole Pull Authentication](https://learn.hashicorp.com/vault/identity-access-management/iam

[2020-03-25 17:41] lordofthejars commented on #7900
Yes that's what I feel as well. Somewhere I said that this is not for Kubernetes but for normal services deployed i the old way. And as you said it is really simple to implement, so it is a "win" for Vault extension to support this and affecting almost 0 in the code.

[2020-03-25 17:47] sheepy85 commented on #8097
@geoand Thank you, just what I need.

However with @QuarkusTestResource start new containers for each test.
It would be nice a singleton option

My workaround:

[code]

[2020-03-25 17:49] geoand commented on #8097
I am surprised it starts one container per test.
I need to confirm that because I am pretty sure it was just one

[2020-03-25 17:51] olim7t commented on #7876
Yes. We have an internal hook for that, we'll be able to plug a custom implementation of this interface:
[code]
Conceptually `ioEventLoopGroup()` (for request I/O) and `adminEventExecutorGroup()` (for less frequent administrative tasks) are separate; but in practice they don't _have_ to be, both methods can return the same instance.

Note that we also have a `HashedWheelTimer` for request timeouts

[2020-03-25 17:54] daniel-alonso-sanchez opened #8166 "ContextNotActiveException when using CacheResult annotation"
**Describe the bug**

I get a ContextNotActiveException when I put a CacheResult annotation on a method and make the first call (not hitting the cache). If i remove it, everything works fine.

[code]

**Expected behavior**
Get result without exception. Value put in the cache. Cache hitted on second call

**Actual behavior**
ContextNotActiveException rised on first call (not hitting the cache. Just

[2020-03-25 18:03] vsevel commented on #7900
even there I do not see a use case. even (non k8s) static workloads work with a config on disk that is not changed by a trusted entity every time we need to restart the service. we are running jboss servers at scale the old way, and the app config may change only when there is an official change request approved by the ops people. if the service crashes, it will restart with the exact same config

[2020-03-25 18:03] cescoffier commented on #8152
`onItem` is about receiving items.
`subscribeOn` changes the thread used during the subscription.

I removed a few subscribeOn and emitOn.

[2020-03-25 18:09] cescoffier commented on #7791
You can setup the broker location using: `kafka.bootstrap.servers`.

[2020-03-25 18:10] cescoffier commented on #7419
It has been fixed. Can you verify?

[2020-03-25 18:25] FroMage commented on #8152
Yeah, i see the gzip interceptor which forces blocking IO.

[2020-03-25 18:32] famod opened #8167 "Make quarkus-maven-plugin's BuildMojo ThreadSafe"
**Describe the bug**
Running `mvn -T2 ...` (or anything higher than `-T1`) in a (multi-module) project that has configured:
[code]
results in a "scary" Maven warning:
[code]

**Expected behavior**
No warning should be logged, `quarkus-maven-plugin` should support parallel executions in different modules.

**Actual behavior**
Warning is logged. Actual concurrency issues are unknown at this point.

[2020-03-25 18:32] cescoffier opened #8168 "Kafka Client does not support SASL with JASS"
**Describe the bug**

Kafka SASL is not supported in native mode.

Even with the added set of classes, it fails with:

[code]

**Current Status**

I have added the following code to `io.quarkus.kafka.client.deployment.KafkaProcessor`.

[code]

[2020-03-25 18:36] galderz commented on #8081
Another one impacted ([longer output](https://gist.github.com/galderz/ac336a4ebdffb3a4b977c97dce7a8942)):

[code]

[2020-03-25 18:36] ricardozanini commented on #7791
@cescoffier that's the point. We are setting the broker location with `KAFKA_BOOTSTRAP_SERVERS` environment variable, which is not getting read in runtime if the properties file has `mp.messaging.*.bootstrap.servers` properties set.

We should get rid of them and use only `kafka.bootstrap.servers`? What's the priority?

[2020-03-25 18:41] geoand commented on #8081
Looks like an issue with Tika, no?

[2020-03-25 18:41] rmpestano commented on #8069
Guys, have tested with master (commit 85a79411e3a63e9f931bc43e12fbcce1215df676) and dev mode works as expected.

The only issue I had was with test classpath:
1 - I had to add
[code]

Otherwise I get `Caused by: javax.xml.stream.FactoryConfigurationError: Provider com.ctc.wstx.stax.WstxInputFactory not found`

2 - I had to add
[code]

Otherwise I get `ClassNotFoundException: org.apache.http.entity

[2020-03-25 18:41] famod commented on #8135
This might be a silly question, but could that mechanism also be used to select different alternatives per `QuarkusTest`?

[2020-03-25 18:46] gsmet commented on #8069
@rmpestano can you update your reproducer in a state that is not working (and your added dependencies commented out)?

/cc @stuartwdouglas could it be related to your fix? Looks like it could be.

[2020-03-25 18:46] famod commented on #8094
+1 as this seems the main blocker for #5538 / #4005

[2020-03-25 19:56] zeljkot commented on #8152
Isn't it needed for "persist" (database operation)? "extractFiles" just unzips from byte[] so it is probably not needed there.

[2020-03-25 20:31] #8157 closed

[2020-03-25 21:16] stuartwdouglas commented on #8135
Not for @QuarkusTest, at least not without some changes.

We may want to look at a version of QuarkusTest that has a slightly different lifecycle that would allow this.

[2020-03-25 21:17] stuartwdouglas commented on #8135
"It's not possible to specify the priority but could take the spec approach where components annotated with @Priority take precedence."

Does this mean it is not possible to replace an alternative that has been annotated with priority?

[2020-03-25 21:21] stuartwdouglas commented on #8069
It should not be related to my fix, my fix should just remove some modules from the hot deployment capable list, it should not affect transitive dependencies.

To figure out why this is happening I would need full stack traces of both so I can see what is actually using these.

[2020-03-25 21:51] geoand commented on #8167
Seems more like a feature request than a bug :)

[2020-03-25 22:10] geoand commented on #8097
@sheepy85 I just tested it again, and no matter how many tests run, when I use testcontainers inside a `QuarkusTestResourceLifecycleManager`, the container only starts once.

[2020-03-25 22:21] geoand commented on #8097
In any case @gboro54 if you provide a small reproducer for us to check, that would be great.

[2020-03-25 22:44] rsvoboda commented on #7419
Yes, it's fixed, tried using mentioned reproduced with Quarkus master.

[2020-03-25 22:44] #7419 closed

[2020-03-25 22:50] dwamara commented on #8166
Same problem with the same version.

[2020-03-25 23:55] #8147 closed

[2020-03-26 01:38] jaikiran commented on #8156
Hello @olpaw,

Can you share the complete Maven build logs of the run that uses `jvmci-20.0-b02` against this Quarkus project? I'm especially interested in one line in that output which should look something like:
[code]

[2020-03-26 01:40] stuartwdouglas commented on #8145
So it is expected that this will happen twice, once when you build the application to get the build time config, and a second time when you actually start the app to get the runtime config.

3 times sounds like a problem though.

[2020-03-26 02:20] jaikiran commented on #8156
Keeping aside that call tree analysis (which I suspect might have to be some local setup issue - I couldn't generate that call tree with jvmci-20.0-b02 against my setup), I think the difference in behaviour between `jvmci-20.0-b02` and `jvmci-20.0-b03` comes down to the fact that `jvmci-20.0-b03` uses JDK 1.8.0_252:
[code]
This JDK 8 252 upgrade version has now brought in ALPN extension as part of

[2020-03-26 03:26] stuartwdouglas opened #8174 "Restart for production images"
Copied from 'Proposal: Remote Dev Mode Enhancements' on quarkus-dev:

The basic idea is to package the bootstrap classloader code into a production application, to give it the ability to restart if it is provided with a new binary application. This binary app will be generated by the local developers machine, and shipped to the server. This could occur via a remote dev websocket protocol, or via e

[2020-03-26 06:01] jaikiran commented on #8156
I had a bit more detailed look at this. Quarkus already has necessary substitutions in place to avoid pulling in these Jetty ALPN dependencies from Netty. Very specifically it has this[1]. That substitution has the following code:
[code]
and the implementation of `Target_io_netty_handler_ssl_JettyAlpnSslEngine.isAvailable()` is available in that same file here[2]:
[code]
For some reason, it looks

[2020-03-26 06:49] giova333 commented on #8145
@stuartwdouglas Is it possible to distinguish the current state(deployment or runtime)?
With development profile, I see that different classloaders are used but of course we cannot rely on that.

[2020-03-26 06:51] sheepy85 commented on #8097
@geoand Indeed the container only starts once.

Tested again in a new clean project with maven and Intellij Allow parallel run option too.

Sorry for the confusion.

[2020-03-26 07:03] rmpestano commented on #8069
Hi folks,

the issue is not related with this fix, it started after the upgrade to 1.3.0.

For `1` there is already an issue: #7359
For `2` just run the reproduced with quarkus from master and do a `mvn test` on showcase modeule

Should I create another issue?

[2020-03-26 07:11] rsvoboda commented on #8157
@emmanuelbernard, I often use list-extensions when automating project skeleton creation. I usually run list-extensions in my current terminal session and not jumping into Quarkus project first.

I care mainly about the latest available extensions. And this command was working in non-quarkus directory all the time I can recall.

But I see your point, running `mvn io.quarkus:quarkus-maven-plugin:1.1

[2020-03-26 07:21] jaikiran commented on #8156
After reading the documentation of `@Alias` https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/annotate/Alias.java#L38, the umpteenth time, I think I finally understand what is does or is meant for. So it's actually a way to avoid compile time dependency (and Java compiler access checks) against the "target class" the `@Alias` is representing. D

[2020-03-26 07:33] geoand commented on #8097
No worries :)

[2020-03-26 08:10] Ladicek commented on #8109
Closing, as both PRs have been merged.

[2020-03-26 08:10] #8109 closed

[2020-03-26 08:22] radtriste opened #8177 "smallrye-reactive-messaging-kafka stops reading messages after an exception occurs"
**Describe the bug**
When an exception occurs in an ["INCOMING" method](https://github.com/kiegroup/kogito-apps/blob/c6f16c51f20caffce281483c288e89216e4f570d/data-index/data-index-service/src/main/java/org/kie/kogito/index/messaging/ReactiveMessagingEventConsumer.java#L85)
[code]

Then the application stops definitely to read messages.

**Expected behavior**
Ack is done, so I would expect the appl

[2020-03-26 08:33] mkouba commented on #8135
In fact, according to the spec if you enable an alternative in `beans.xml` and another alternative with `@Priority`, and both of them satisfy an injection point then an ambiguous dependency exists. At least this is my interpretation and Weld does exactly the same. CC @manovotn

I don't think this beahavior is very useful and so since we would enable them globally we could assign them some default

[2020-03-26 08:36] olpaw commented on #8156
@jaikiran Thanks a lot!

Yes. the use of `@Alias` is wrong if you want to substitute the implementation of `JettyAlpnSslEngine#isAvailable()`. For that you have to use
[code]

`@Alias` on the other hand is used on methods if you want to make a method that is usually not accessible (e.g. because its `private`) available to you. For example, https://github.com/oracle/graal/blob/8d47699927f5e715f5b43

[2020-03-26 08:39] galderz commented on #8081
Yeah, an issue in one of the jars. I'm looking into that this morning.

[2020-03-26 08:40] maxandersen opened #8178 "Enable proper maintainable code generation"
**Describe the bug**
This is not news, but couldn't find an issue representing it so writing this down here and we can link it up if need be.

In [1.3.1 we are trying to](https://github.com/quarkusio/quarkus/issues/8151) switch code generation to generate for java 11 instead of java 8 based on what version of java the user is running.

That revealed a few things;

1) it breaks former 1.3.x plugins

[2020-03-26 08:56] giova333 commented on #8145
I solved the problem using `Class.forName("io.quarkus.deployment.steps.RuntimeConfigSetup");`
That helped me not to load the config at the deployment phase.
But for some reason at runtime phase, `ConfigSource` are instantiated twice, that is strange and to me looks like a bug. I solved that by using inner singleton which was initialized only during the class loading, no matter how much time constr

[2020-03-26 08:58] mkouba commented on #8158
Ideally, users should avoid using whitespaces before/after braces.

Case 1 - we try to be lenient and ignore the whitespaces before the closing brace
Case 2 - shouldn't fail, we should be lenient as well, it's a bug
Case 3 - this is expected, see https://quarkus.io/guides/qute-reference#identifiers
Case 4 - a bug too

I've created https://github.com/quarkusio/quarkus/pull/8179 to fix the bugs.

@x

[2020-03-26 09:06] maxandersen commented on #6026
command mode is what enables us to actually use quarkus to write the cli which I think we should (drink own champagne and pet the dog etc.).

about next 3-6 months - let me review the others outstanding.

[2020-03-26 09:16] tomekl007 commented on #7876
I have 2 questions regarding native support (I am working on it):
When running `mvn clean package -Pnative-image`
1. How to tackle such problem:
[code]
I've tried:
- `--initialize-at-run-time=java.net.Inet4Address` and `--rerun-class-initialization-at-runtime=java.net.Inet4Address` but they result in:
[code]
- I've tried the setup from Processor class:
[code]
but the same problem
- also, I saw tha

[2020-03-26 09:20] #8167 closed

[2020-03-26 09:41] manovotn commented on #8135
That's correct. Spec isn't clear about this but I think it's implied by the fact that you cannot declare a priority number in `beans.xml` which means you cannot be sure which bean should "win" during resolution.

Or we could make the config always win over priority declared in the code. You probably wouldn't declare alternative in the config if you knew it isn't going to override what's in the cod

[2020-03-26 09:41] Ladicek commented on #7637
@iocanel Any chance you could look at this and at least share some thoughts? It's not _that_ big of a deal, but it's annoying :-)

[2020-03-26 09:54] iocanel commented on #7637
It's not without a reason, we are checking if it's possible to actually
talk to API master.

We should definitely remove the dependency to OC. But doesn't it make sense
to check if we can connect to the server?

If there is no value in that, I'll remove it.

On Thu, Mar 26, 2020, 11:41 Ladislav Thon <notifications@github.com> wrote:

[2020-03-26 09:56] galderz commented on #8081
Changed the description to encompass other possible situations, not just spring web.

[2020-03-26 09:57] geoand commented on #8081
Good idea!

[2020-03-26 09:59] stuartwdouglas commented on #8135
On Thu, 26 Mar 2020 at 19:34, Martin Kouba <notifications@github.com> wrote:

I don't really think that is necessary, I think that if a bean is enabled
through config then it should just take priority over everything (i.e. the
same as @Priority(Integer.MAX_VALUE).

[2020-03-26 10:09] Ladicek commented on #7637
But you don't need to talk to the API server just for generating the YAML files, no? You don't check that with `container-image-docker` nor `container-image-jib`, so why with `container-image-s2i`?

My understanding is that `container-image-s2i` just makes the YAML files conform to what OpenShift expects when running an S2I binary build, but if you don't add any of the options (push/deploy), it do

[2020-03-26 10:14] mkouba commented on #8135
through config then it should just take priority over everything (i.e. the
same as @priority(Integer.MAX_VALUE)

Sounds reasonable.

[2020-03-26 10:32] schrieveslaach opened #8180 "Cannot Inject Configuration Interface into ContainerRequestFilter Through Constructor"
**Describe the bug**

Injecting configuration interface into `ContainerRequestFilter` through constructor-based injection creates 500 respones with following error message:

[code]

**Expected behavior**

`ContainerRequestFilter` should work with construtor-based injection to avoid warnings:

However, if I add `@ApplicationScoped` to the filter it works.

It would be nice if quarkus provides some

[2020-03-26 10:37] #6062 closed

[2020-03-26 10:59] geoand commented on #7876
@tomekl007 for the first problem, perhaps https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/graal/CidrAddressSubstitutions.java#L21 will provide some hints

[2020-03-26 11:06] lordofthejars opened #8181 "Quarkus Extensions can modify generated Kubernetes resources"
**Description**

 It will be great if the generated Kubernetes resource for this specific case added a secret with the password field, so by default it creates a resource with the secret and the deployment part reading this password from the database password secret.

**Implementation ideas**

I was thinking that I'd like to have some mechanism like the health check, so any extension can modify ho

[2020-03-26 11:10] geoand commented on #7876
For 2 I have an elementary question: Does the lz4 compression work properly in native mode if the dependency is present?

[2020-03-26 11:11] #7768 closed

[2020-03-26 11:11] #5284 closed

[2020-03-26 11:11] #8138 closed

[2020-03-26 11:11] #8158 closed

[2020-03-26 11:17] gsmet commented on #8061
@aloubyansky did you get a chance to look at that one?

[2020-03-26 11:25] geoand commented on #7637
I agree with @Ladicek, I don't think it makes a lot of sense for the s2i module itself to be making this check.

[2020-03-26 11:30] geoand commented on #8180
Let me check this

[2020-03-26 11:41] aloubyansky commented on #8061
No.

[2020-03-26 11:46] galderz commented on #8081
The tika/poi issue is fixed with #8185.

[2020-03-26 12:11] geoand opened #8186 "Add documentation section about quarkus-spring-boot-properties"
We currently don't have any mention of the `quarkus-spring-boot-properties` extension in the docs.
Maybe we should add a small section in the config client docs.

Originally brought up by @jclingan

[2020-03-26 12:11] geoand commented on #8186
cc @gytis

[2020-03-26 12:19] geoand commented on #8180
@mkouba @gsmet do you remember what `@Provider` are not `@ApplicationScoped` by default?

[2020-03-26 12:56] mkouba commented on #8180
AFAIK they're `@Singleton` by default as there was no reason to force proxies there?

[2020-03-26 12:58] mkouba commented on #8180
However, I'm not sure whether we support constructor injection on providers...

[2020-03-26 13:02] geoand commented on #8180
Makes sense

Yeah, it doesn't work that well. RESTEasy isn't playing nice with us, so I wonder if we should just warn / or fail at build time...

[2020-03-26 13:03] ekans opened #8188 "Using Kotlin BsonProperty is ignored when persisting a document"
**Describe the bug**
Using Kotlin I use `BsonProperty` on a field and the key name seems ignored when the entity is persisted but `BsonProperty` value is used when reading the document.

The [initial discussion](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/BsonProperty.20seems.20ignored.20in.20Kotlin) on Zulip

**Expected behavior**
The `BsonProperty` value is used when the do

[2020-03-26 13:12] ia3andy opened #8190 "@ConfigProperties and @ConfigProperty acting weird"
**Describe the bug**
defaultValue on List<String> @ConfigProperties not working and Optional<List<String>> neither.

This fails if empty:
[code]
or this fails with no Converter for List
[code]
This works when it's set
[code]

[2020-03-26 13:18] schrieveslaach commented on #8180
That would work for me and would have helped much faster then the runtime error. 👍

[2020-03-26 13:22] FroMage commented on #3454
#5602

[2020-03-26 13:31] davidhervas commented on #7140
Hi everyone,

I wanted to upgrade my Quarkus application from version 1.0.1.Final to 1.3.0.Final but I can't because this bug cause my Pact tests to fail. I will upgrade to 1.2.0.Final.

Is a correction can be added in 1.3.1 ?

Thanks by advance.

[2020-03-26 13:35] emmanuelbernard opened #8192 "Offer per test configuration including which object to mock"
To capture @stuartwdouglas idea

[2020-03-26 13:36] emmanuelbernard opened #8193 "Funqy - Offer a function framework for Function as a Service / serverless engines"
Funqy

CC @patriot1burke

[2020-03-26 13:43] emmanuelbernard opened #8194 "Define our Kotlin roadmap for the next 3 and 6 months delivery"
While working on the roadmap ideas, I realize that Kotlin is a big blind spot of mine. Let's define what we want achieved for the next 3 to 6 months. Assigning @evanchooly to lead this.

https://github.com/orgs/quarkusio/projects/5

[2020-03-26 13:51] FroMage commented on #6006
Hi, Could you try with Quarkus `1.3.0.Final` please?

[2020-03-26 13:52] emmanuelbernard commented on #351
Can I close it @gsmet ?

[2020-03-26 13:53] #8091 closed

[2020-03-26 13:53] #8093 closed

[2020-03-26 13:54] ia3andy commented on #8190
Having `<maven.compiler.parameters>true</maven.compiler.parameters>` in the pom.xml properties solves the problem.

[2020-03-26 13:55] #8190 closed

[2020-03-26 13:55] emmanuelbernard commented on #583
We would need volunteer to implement it to move forward I think.

[2020-03-26 13:57] gsmet commented on #351
We guess the driver but you still have to define the db-kind, even if you have only one driver dependency.

I prefer it this way personally, especially since there's a good chance you will have 2 in the test classpath anyway (e.g. PostgreSQL for production and H2 for the tests).

So I would rather keep it that way.

[2020-03-26 13:57] emmanuelbernard commented on #557
Obsolete now

[2020-03-26 13:57] #557 closed

[2020-03-26 13:58] emmanuelbernard commented on #461
This issue is not mostly obsolete, closing.

[2020-03-26 13:58] #461 closed

[2020-03-26 14:11] dmlloyd commented on #7876
The key to dropping an "optional" dependency is to use substitutions to "stub out" or replace the points where it is included *from*.  So if there's a method that calls into the optional library, you'd generally replace it with a method that behaves as if the optional dependency isn't there.

[2020-03-26 14:14] johnaohara opened #8195 "Investigate improving cost of entity proxy definitions in Hibernate ORM"
A change to Hibernate ORM integration to build entity proxies from metadata [1] improves runtime performance and helps native image generation dead code elimination by re-using proxies that have been generated at augmentation time.

However, this comes at a price of increased application start time and start RSS for applications using the Hibernate ORM extension. On a simple crud application with

[2020-03-26 14:25] #8156 closed

[2020-03-26 14:38] gsmet opened #8196 "Upgrade RESTEasy to 4.5.3"
Waiting for a release by @asoldano .

Creating an issue so that I don't forget about it.

[2020-03-26 14:38] gsmet commented on #8196
/cc @michalszynkiewicz

[2020-03-26 14:50] marc-christian-schulze commented on #7549
I'm experiencing the same issue. The `buildNative` task of the Gradle plugin does not print any of the stdout or stderr logs of the `native-image` command - regardless whether run inside of a Docker container or natively on the host.
[Looking into the Quarkus sources](https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep

[2020-03-26 15:05] rsvoboda commented on #6726
@Ladicek re-ping

[2020-03-26 15:14] glefloch commented on #7104
Thanks @gwenneg. In order to make sure I understand the problem and provide a correct fix, can we agree that it consists of:

- marking `QuarkusNative` task `@Deprecated`
- updating documentation to replace `buildNative` references by `quarkusBuild -P quarkus.package.type=native`
- updating `testNative` task such that it doesn't depend on `buildNative` task

Am I missing something?

[2020-03-26 15:40] galderz commented on #8081
Main quarkus native testsuite passes now.

@geoand, you can go ahead and merge the spring-web api PR. Could you also release a new version and upgrade quarkus tree?

[2020-03-26 15:48] geoand commented on #8081
@galderz of course.

Thanks for checking.
I will let you know when a new release is available.

[2020-03-26 16:07] Ladicek commented on #6726
Ah, totally missed this one. Will check.

[2020-03-26 16:27] geoand commented on #8188
This is not a Quarkus issue, but an issue with the application itself.

The proper way to use the data class of the reproducer:

[code]

[2020-03-26 16:27] #8188 closed

[2020-03-26 16:32] galderz opened #8201 "Unsupported type MethodAccessorGenerator in camel native tests"
Testing latest graalvm w/ latest quarkus today is showing a failure in camel native testing (quarkus-platform):

[code]

Longer output [here](https://gist.github.com/galderz/327c9af4eeb9d660c3d58fa1df9a1aeb).

This is very similar to the optaplanner issue (#7422) found a few weeks back.

[2020-03-26 16:33] simonedavico commented on #6067
@aloubyansky sorry for the late reply. I bumped

[code]

and tried again, but the error is still there:

[code]

[2020-03-26 16:33] sberyozkin commented on #8064
@BigFatDog Np, can you please post the updated configuration ?

[2020-03-26 16:35] galderz commented on #8081
I've noticed yet another one, but this time in the quarkus-platform testsuite:

[code]

Longer output [here](https://gist.github.com/galderz/84ca62c3f3dd799a68d3e55ea22a2d4f).

[2020-03-26 16:35] geoand commented on #8081
@lburgazzoli ^

[2020-03-26 16:41] Ladicek commented on #6726
This works fine now, closing. Thanks!

[2020-03-26 16:41] #6726 closed

[2020-03-26 16:45] sberyozkin opened #8202 "Update JWT guide with how to generate a key pair with openssl"
**Description**
Jan Kunzmann has posted this snippet:

[code]
Updating the guide with it would help the users to start faster with signing/verifying tokens

**Implementation ideas**

I will check it locally and update the docs

[2020-03-26 16:55] lburgazzoli commented on #8081
@ppalaga @jamesnetherton ^

[2020-03-26 17:03] #7007 closed

[2020-03-26 17:19] famod commented on #8167
Thanks @stuartwdouglas!

[2020-03-26 17:31] michaeljmcd opened #8204 "No easy way to expose Swagger UI static content with Keycloak authorization enabled"
**Describe the bug**
No easy way to expose Swagger UI static content with Keycloak authorization enabled

**Expected behavior**
It would be possible to have Keycloak authorization and Swagger UI coexist with a minimal rule excluding

**Actual behavior**
Unable to expose Swagger UI for a Keycloak-authorized service without whitelisting each individual static file.

**To Reproduce**
See https://gith

[2020-03-26 17:36] #6739 closed

[2020-03-26 17:53] sberyozkin commented on #8204
@pedroigor Hey Pedro, can you please investigate, it is becoming a problem for several users :-).
Perhaps it can delegate to the code checking the [application properties](https://quarkus.io/guides/security#authorization-of-web-endpoints-using-configuration) first, if a given path is already configured there with whatever policy then do not do anything in `quarkus-keycloak-authorization`.
CC @stua

[2020-03-26 18:33] lfmunoz commented on #7038
Using 1.3.0.Final I am facing this same problem. Maybe because I am using gradle? Anyone have a work around?

[2020-03-26 18:47] geoand commented on #7038
You need to set the jvmTarget configuration value of the Kotlin Maven plugin

[2020-03-26 19:01] machi1990 commented on #8063
PR https://github.com/quarkusio/quarkus/pull/8089 was merged.

We can close this issue.

[2020-03-26 19:01] #8063 closed

[2020-03-26 19:15] lfmunoz commented on #7038
@geoand   I used the quick start project generator. It does that for you? I went ahead and uploaded my project here it is:

https://github.com/lfmunoz/quarkus-bridge

1. Do a git clone
2. ./gradlew quarkusDev
3. localhost:8080 works
4. Make some change in the code,
In particular eco.analytics.monitor.KeyValueConfigurator  is a web endpoint for http://localhost:8080/api/view

simply add a and space

[2020-03-26 19:22] geoand commented on #7038
The project generation has been fixed to include 1.8 as the target and should be available in 1.3.1.Final which goes out tomorrow (if all goes well)

[2020-03-26 19:30] pedroigor commented on #8064
@BigFatDog That explains. It is not an issue. The policy enforcer takes the resources managed in Keycloak to map them to your application paths so that access can be enforced accordingly.

[2020-03-26 20:34] danielpetisme commented on #7635
Hello,

It's impossible to figure out the problem with the information you gave so far...

Could you share a reproducer or at least link your repo to get context.

[2020-03-26 20:58] knutwannheden commented on #6948
@HonoluluHenk Did you get any time to look into this? I am also working on a project which would require support for entity listeners / JPA callbacks.

@Sanne Any idea when the Quarkus team will get around to look into this? Possibly we need to consider finding a workaround or contributing a solution.

[2020-03-26 21:50] Sanne commented on #6948
sorry, I don't know. It's for sure high on the wish list, but there's a couple more important things that need to be done first and it's a small team.  A contribution would be great, or even if you find a reasonable workaround please describe it here for others.

[2020-03-26 21:52] gwenneg commented on #8166
Thanks for reporting this issue @daniel-alonso-sanchez and @dwamara!

I'm taking a look at it.

[2020-03-26 21:54] #3075 closed

[2020-03-26 22:09] gwenneg commented on #8166
I could reproduce it easily. This is probably caused by the lack of [context propagation](https://quarkus.io/guides/context-propagation) in the cache extension.

I'm exploring solutions now.

[2020-03-26 23:32] #7248 closed

[2020-03-26 23:32] #8196 closed

[2020-03-26 23:35] stuartwdouglas commented on #8145
This is because there is a different config object created at static init (which corresponds to native image build time) and at the start of the actual runtime code.

@dmlloyd should the static init config be loading custom config sources? I would have thought it would just have the build time values?

[2020-03-26 23:49] gsmet commented on #8168
@cescoffier You said you created a GraalVM issue, could you link it here?

[2020-03-27 02:07] stuartwdouglas commented on #7536
I think the solution here is to use the agent instead of the instrument task. https://github.com/quarkusio/quarkus/blob/master/build-parent/pom.xml#L677 gives an example for surefire, but I assume it is similar for failsafe.

[2020-03-27 06:13] lordofthejars commented on #8181
Notice that for example annotations might be another interesting part to support as then we could create an Istio extension or Skupper extension (hybrid cloud).

[2020-03-27 06:56] rsvoboda commented on #6522
I tried the app with Quarkus 1.3.0.FInal and proxy settings are picked up.

Getting expected `Caused by: java.net.ConnectException: Connection refused (Connection refused)`

[2020-03-27 06:56] #6522 closed

[2020-03-27 07:01] knutwannheden commented on #6948
@Sanne Thanks for the heads-up.

[2020-03-27 07:42] emmanuelbernard commented on #7876
Question @dmlloyd, i think in Hibernate what we did is to guard the optional dependencies calls with a Boolean which was static and I believe substituted accordingly depending on what we wanted. That would work too right ? And make substitution code easier.

[2020-03-27 08:17] xiaods commented on #8202
cool. that my need this

[2020-03-27 08:23] jargelo opened #8210 "java.util.ServiceConfigurationError: io.smallrye.config.SmallRyeConfigFactory when injecting same configuration parameter in multiple test classes"
**Describe the bug**
When injecting a config property annotated with `@Configproperty(name = 'myproperty')` and `@Inject` in two separate Test classes, it will run the test fine on the first class, but on the second class it will throw the following exception:

[code]
Disabling one of the two test classes means both classes run fine, so the tests themselves have no error. After removing the `@Inje

[2020-03-27 09:14] geoand commented on #6588
@johnaohara It seem that after a couple of green runs, the RSS is now red. Here is the output:

[code]

So this now looks like a genuine failure?

[2020-03-27 09:58] gsmet opened #8212 "Kafka not starting with JDK 14"
I'm still trying to get CI on JDK 14:
- [x] REST Assured
- [x] Gradle
- [ ] Now Kafka is not starting properly apparently:

[code]

[2020-03-27 10:10] maxandersen commented on #8181
@lordofthejars i'm reading this but i'm not fully following - what is "for this specfic case" in the first line referring to ?

[2020-03-27 10:18] gneu77 opened #8214 "Permission path matching does not work when using class-level path annotation"
**Describe the bug**
Permission deny policy in application.properties for path /xyz/* is ignored, if /xyz is annotated on class level (it works, if the full path is specified on method level).

**Expected behavior**
Permission deny policies match pathes correctly, also when using class-level Path-annotation.

**Actual behavior**
See next section.

**To Reproduce**
Steps to reproduce the working be

[2020-03-27 10:20] maxandersen commented on #7549
fwiw it looks like gradle have deficiency here and don't provide. a good api to handle stdout/stderr redirection/piping. https://github.com/gradle/gradle/issues/6068

I guess we could put a custom redirection in place but that just sounds wrong...

[2020-03-27 10:34] lordofthejars commented on #8181
@maxandersen Fixed. The idea is that an extension now can only defines health checks for the generated kubernetes resource. What I am mentioning here is extending the idea so the extension can modify any part (or a lot of parts) of the generated resources, not just the probes.

[2020-03-27 10:35] sberyozkin commented on #8064
@pedroigor Hi Pedro, so Keycloak policies have to be updated to `/api/work/something` ?
It seems too tied to the individual deployment so would not scale across multiple one with the different contexts.
Having only `/something` set in KC seems better, can `quarkus-keycloak-authorization` check `quarkus.http.root-path` and deduct it from the request path. Or as suggested earlier, check if Quarkus s

[2020-03-27 10:41] sberyozkin commented on #8088
@devisions Sorry for a delay, I actually missed this comment. I commented earlier at the PR that it was considered to be a new feature and we could only apply the bug fixes to 1.3.1.Final.
Sorry, `1.4.0` won't be in the works for long :-)

[2020-03-27 10:41] gunnarmorling commented on #8212
To reproduce as per @gsmet:

[code]

then go into integration-tests/kafka  and run

[code]

I'll take a look into this.

[2020-03-27 10:42] #8088 closed

[2020-03-27 10:53] gneu77 commented on #8214
Closing, because the issue has nothing to do with the annotation-level (was mislead, because not using the Path-annotation on class-level does not expose an endpoint at all). Still cannot get Quarkus to deny requests to the endpoint, but will open a new ticket after further testing and being clear about the real issue.

[2020-03-27 10:53] #8214 closed

[2020-03-27 11:06] emmanuelbernard commented on #351
Conclusion: we already guess the driver based on the database kind. Magically detecting the database kind based on the existing extension set is deemed a bit too magical. So closing this proposition.

[2020-03-27 11:06] #351 closed

[2020-03-27 11:12] geoand commented on #8212
Seems to me like we could get around this if Kafka doesn't start with Java 14 but just starting it in docker, no?
It's not great, but if this is the only thing holding us back from Java 14 testing I think it's worth it.

[2020-03-27 11:13] gsmet commented on #8212
I will let Gunnar handle this and tell us what's best.

There's no real hurry there.

[2020-03-27 11:23] gunnarmorling commented on #8212
That's something I wanted to bring up, too. It's easily done via Testcontainers; [here's](https://debezium.io/documentation/reference/1.1/integrations/testcontainers.html) how that's utilized with Debezium (i.e. Kafka Connect), you'd only need the actual Kafka part of that. So that'd definitely be an option, but in my experience it will increase execution time of these tests.

So give me some time

[2020-03-27 11:54] geoand commented on #8210
Thanks for @jargelo.

Could you supply a simple reproducer? I tried to reproduce the problem it in a simple project but couldn't.

[2020-03-27 13:06] dmlloyd commented on #7876
Yes, if you can modify the original code then sometimes you can do something like this.  Basically the compiler has to be able to easily prove that the code cannot be reached, and a static (final) boolean field is generally sufficient for that purpose.

[2020-03-27 14:01] dmlloyd commented on #8145
We do provide the build time values at this stage, but there is probably no reason why other values can't be available too.  That said, we probably should not autodetect sources at static init time since it seems to result in unexpected behavior.  If it's desired to provide additional sources for this stage, it probably should be done via build item explicitly.

[2020-03-27 14:11] mkouba opened #8217 "Qute - computed section helpers used during validation don't play well with {#include}"
As a result section blocks  in an `{#include}` section must also define an end tag which is normally optional.

[2020-03-27 14:25] cescoffier commented on #8212
I just did a manual test and the Kafka support works with Java 14. IT's just a test issue.

I would be keen to keep using Debezium as it is a bit faster and it much easier to configure (SASL...)

[2020-03-27 14:27] cescoffier commented on #8168
@gsmet I didn't create the issue yet. I was about to pinpoint the issue to... JAAS!

[code]

SASL without JAAS works (writing the tests right now).

[2020-03-27 14:28] cescoffier commented on #8168
@dmlloyd By any chance do you have any idea about the usage of JASS in native mode?

[2020-03-27 14:34] gunnarmorling commented on #8212
Just tried to run of the Debezium tests using KafkaCluster with JDK
14, and it worked fine. So it must be something with how things are
used here.

[2020-03-27 14:35] ia3andy opened #8218 "Add a way to log all/some configuration at startup"
**Description**
It would be great to have a way  to log all/some configuration at startup.

In my mind:
- I would see a global configuration flag like:
`quarkus.log-config-at-startup=true`
- I would see some way to enable it in `@ConfigProperties(..., enableLog="true")`, `@ConfigProperty(..., enableLog="true")`

As discussed with @dmlloyd and @geoand there already are some efforts in that directio

[2020-03-27 14:38] gastaldi commented on #8218
There is a ticket asking to support sensitive data in MP Config: https://github.com/eclipse/microprofile-config/issues/451

[2020-03-27 14:39] gastaldi commented on #7442
Relates to the use case in https://github.com/eclipse/microprofile-config/issues/451

[2020-03-27 15:03] cemnura opened #8220 "Gradle quarkus-kubernetes error"
**Describe the bug**

I have the following dependencies in my build.gradle file and have a local minikube setup.

[code]

I am re-using the Docker registry inside Minikube via **eval $(minikube docker-env)**.

The build is failing with a UnsupportedOperationException

**Expected behavior**

The code is built and docker image is created and deployed to kubernetes successfully.

**Actual behavior**

[2020-03-27 15:15] rinaldodev opened #8221 "@CacheResult for RestClient methods"
**Description**
Make `io.quarkus.cache.CacheResult` work on RestClient's methods.
Right now, if you annotate a Rest Client method with `@CacheResult`, it will just ignore it silently and not cache anything.

**Implementation ideas**
[Discussed here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/.40CacheResult.20.2B.20RestClient).
[Working Example Reproducer here.](https://githu

[2020-03-27 15:19] aloubyansky commented on #8220
I have a fix for it in a branch I'm working on.

[2020-03-27 15:24] matejvasek opened #8222 "Make cloudevent source/type configurable in funqy knative"
**Description**

Currently cloudevent source/type returned by function is derived only from the function name.
I think that it should be configurable.

It could be possibly configured in `src/main/resources/application.properties`
similarly to `quarkus.funqy.export`. Or maybe it could be set by environment variable.

Related to #8193

[2020-03-27 15:24] matejvasek commented on #8222
cc @patriot1burke

[2020-03-27 15:26] johnaohara commented on #6588
@geoand Yes, this is a genuine failure, although it was only just larger than the 10%, I am thinking we might want to run a number of times and take an average to remove variances in RSS

[2020-03-27 15:27] geoand commented on #6588
I think that is a good idea

[2020-03-27 15:51] geoand commented on #8220
Thanks @aloubiansky! I was about to take a look

[2020-03-27 16:12] ranko6 opened #8223 "Using the REST Client with Multipart not working in all cases"
**Describe the bug**
(Describe the problem clearly and concisely.)
Proxying multipart call using `@RestClient` is not working with only GET resource, you have to have at least one POST.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Expected behavior is successful multipart call toward another service even when there is only GET resource.

**Actual behavior**
(Descr

[2020-03-27 16:37] galderz commented on #8081
Re:camel, when running with labs JDK, I see this message:

[2020-03-27 17:24] zeljkot commented on #8152
I removed @GZIP, but is still happens (without gzip part in stack trace).

[2020-03-27 18:28] gsmet commented on #8223
I explained it to @irenakezic on Zulip.

The thing is that it never works. The `@POST` is missing a `@Consumes` annotation so all the providers are registered. That's why it works.

The `@GET` doesn't need a `@Consumes` so it doesn't trigger the registration of all the providers.

I gave @irenakezic some guidance on how to debug this.

[2020-03-27 18:57] jargelo commented on #8210
I've trimmed down my code to the smallest possible set to reproduce the issue, committed it to https://github.com/jargelo/quarkusio. I left my pom.xml intact (but disabled some dependencies) in case that is causing issues.

[2020-03-27 18:58] emersonl91 commented on #6992
It also occurs in 1.3.0.Final

[2020-03-27 19:22] #8217 closed

[2020-03-27 21:53] Sanne commented on #7148
wondering a couple of things:

1. regarding the proposed `quarkus.jpa.enable=true|false|auto` : which extension is responsible for intepreting this `jpa` group configuration?  That's not the prefix we normally use to configure Hibernate.

Besides, having to configure such things IMO defeats the point as you'd get out of the flow of iterative development in live reload: think about the case in whic

[2020-03-27 21:55] Sanne commented on #6192
I see #6291 was merged; should we close this one?

[2020-03-27 21:56] geoand commented on #6192
Definitely, thanks for catching it @Sanne

[2020-03-27 21:57] #6192 closed

[2020-03-27 22:04] Sanne commented on #5525
Took me a while, but I agree with @jmartisk - would be nice to just create a dumb `EntityManager` which throws a clear error message when/if it's actually used. We could use what @mkouba mentions to log a warning, so to make sure people are aware of the "work in progress" state and remember to clean it up.

But relates to #7148 as well cc/ @maxandersen

[2020-03-27 22:27] pateni24 opened #8226 "swagger-ui endpoint not accessible in AWS Lambda"
**Describe the bug**
Making a http call to /swagger-ui/ , the app fails to serve the swagger-ui files. Local Dev mode works fine.

**Expected behavior**
Opening /swagger-ui/ should load swagger-ui/index.html page

**Actual behavior**
ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (vert.x-eventloop-thread-2) HTTP Request to /swagger-ui/index.html failed, error id: bea62c51-a11f-4cb4-8aba-86217c872b

[2020-03-27 23:42] gwenneg commented on #8221
Thanks for reporting this @rinaldodev! I will take a look at it.

[2020-03-28 00:23] gwenneg commented on #7104
If I remember correctly, the documentation part will be a bit more complex than a simple replacement. You're right about everything else :)

[2020-03-28 02:39] rac021 opened #8228 "RESTEASY003880: Unable to find contextual data of type: javax.servlet.http.HttpServletRequest"
**Describe the bug**

When I use : **@Context  HttpServletRequest request** , I have the following error :
org.jboss.resteasy.spi.LoggableFailure: RESTEASY003880: Unable to find contextual data of type: javax.servlet.http.HttpServletRequest

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
request is not null, but when I try though to retrieve the

[2020-03-28 06:27] jaikiran commented on #8212
I had a look at this one. The issue here is that although the Zookeeper embedded server starts up fine (at `localhost:2182`) during the test startup, the `org.apache.zookeeper.Zookeeper` client (3.4.x version from this library[1]) ends up using a wrong host name trying to establish a connection with the Zookeeper server that's running. The reason appears to be because of a change in Java 14 introd

[2020-03-28 06:45] jaikiran commented on #8212
Hello @gunnarmorling,

Which version of Kafka and Zookeeper (embedded) libraries is that using?

[2020-03-28 06:51] jaikiran commented on #8212
I just checked myself. So looks like Debezium is on 3.5.x of zookeeper[1], unlike Quarkus which is on 3.4.x. Looking at the 3.5 branch of Zookeeper upstream, a lot seems to have changed in this area of the code (especially the `StaticHostProvider`) and that might explain why it passes there. So maybe we should try upgrading to that version here?

[1] https://github.com/debezium/debezium/blob/maste

[2020-03-28 07:01] aesteve commented on #6424
@misl Did you manage to workaround the issue ?

Just not using a base class with the container stuff in it fixed the issue for you?

Thank you.

[2020-03-28 07:55] vsevel commented on #7904
no answer in the vault forum.
my feeling is that supporting this auth method would make sense nonetheless and would bring value, even if I have no idea how much it is being used in the real world.

[2020-03-28 08:37] jaikiran commented on #8212
I tested a run against my GH actions with the upgraded version of Zookeeper and the tests passed (against 8, 11 and 14 Java version). So I've opened https://github.com/quarkusio/quarkus/pull/8229 to fix this issue.

[2020-03-28 08:46] geoand commented on #8212
Thanks a lot for your analysis @jaikiran!

[2020-03-28 09:21] maxandersen commented on #5525
Yes, I want to have access to if not EntityManager than at least StatelessSession to allow for lightweight data access without requiring yet another database framework.

[2020-03-28 09:31] maxandersen commented on #7148
How "useless' is that that injected EntityManager ? Can I get a statelessSession from it ?

I guess what you mean is that you want to ensure the following:

1) create quarkus project
2) run devmode
3) add-extension jpa
4) add datasource info
5) add entity
6) write code that access entitymanager / statelesssession
7) goto 5

Without having it fail hard at step #3  ?

I fully agree to that and in my

[2020-03-28 10:37] devisions commented on #6096
@sberyozkin @stuartwdouglas
I am currently looking to contribute here also.

Besides adding `quarkus.http.proactive-auth` option (quite simple in `io.quarkus.vertx.http.runtime.HttpConfiguration`), looking into the following call stack I am considering altering the behaviour in `QuarkusIdentityProviderManagerImpl`.

![image](https://user-images.githubusercontent.com/14140226/77821163-afac7b80-70f0

[2020-03-28 11:03] jskov commented on #7357
@aloubyansky thanks for the note about the extension, by the way.
I did not get it while it was masked by the other bug, so did not understand you comment. But I do see it with 1.3.0.Final.

[2020-03-28 11:19] jskov opened #8232 "Non-empty empty beans.xml files"
**Describe the bug**
The repository contains a number of beans.xml files containing two newlines.

**Expected behavior**
The beans.xml files should either be empty (0 bytes) or contain valid XML to comply with the CDI spec.

**Actual behavior**
The non-empty empty beans.xml files cause weld to explode because it tries to parse them as XML.

**To Reproduce**
I have a branch in my project:
https://g

[2020-03-28 11:58] lordofthejars commented on #7900
[code]

Notice that this is not how the example on Vault site is done. There they use username password, to get the wrapped token and they unwrap the token and the they log with that token.

[2020-03-28 12:05] lordofthejars commented on #7900
So my plan was not doing in this way, but using the same approach as in docs, so I do a username and password login then I do the unwrap and then I relogin with the unwrapped token, this is how the Vault documentation example works.

[2020-03-28 12:21] #8212 closed

[2020-03-28 13:05] #8232 closed

[2020-03-28 13:11] gastaldi commented on #5947
It looks like this is fixed with the Smallrye Config update. Reopen if the problem persists

[2020-03-28 13:11] #5947 closed

[2020-03-28 13:25] bluemonk3y commented on #7055
Throwing error '-1' tells us the child process fails but little else. Looking at the code it could  return the command instead of dropping it - hence making everyones lives easier 👍

`    private RuntimeException imageGenerationFailed(int exitValue, List<String> command) {
        if (exitValue == 137) {
            return command.contains("docker") && !IS_LINUX ? new RuntimeException("Image gener

[2020-03-28 14:45] geoand commented on #8226
Hi,

does the same happen with a non lambda application?

[2020-03-28 15:35] danielpetisme opened #8235 "Panache when used with method reference"
**Describe the bug**
Quarkus fails to augment a Panache operation when using  method reference rather than a the corresponding method invocation in a lambda expression (like in a `map`).

**Expected behavior**
Method reference should works just as standard method invocation

**Actual behavior**
Whenver a method reference to a Panache Operation is used the operation fails with a stack trace indicat

[2020-03-28 15:39] danielpetisme commented on #8235
It's not a blocking issue since one can still perfectly use a lambda expression to workaround the issue. It's less elegant but definitively not a road blocker.

[2020-03-28 15:57] rac021 commented on #8228
Solved : I missed the quarkus-undertow extension

Thank's

[2020-03-28 15:57] #8228 closed

[2020-03-28 16:46] cescoffier opened #8238 "Kafka Avro support does not work in native mode"
**Describe the bug**
Avro support does not work in native.
Avro serialization uses Unsafe to write fields.

**To Reproduce**
Steps to reproduce the behavior:
1.  Use code from PR #8237
2. Register the serializers in the Kafka processor
3. Create the IT class for the Avro tester case in the integration-test
4. Run the tests, boom.

[2020-03-28 19:42] bluemonk3y opened #8239 "GraalVM 11_20 reflection failure with RestEasy i18n [org.jboss.resteasy.resteasy_jaxrs.i18n] RESTEASY002165: No valueOf() method available for long"
**Describe the bug**
Using RESTEASY to deserialize a file upload as follows:
[code]

**Expected behavior**
Should pass through the MULTIPART_FORM and construct the FileMeta object

**Actual behavior**
GraalVM throws the following error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone project: https://github.com/liquidlabsio/precognito/tree/cleanup-code-structure
2. cd ./

[2020-03-28 20:00] dajudge commented on #6884
@vinicius-pereiradeoliveira so what was the fix that eventually lead to success for you? I am running into exactly the same issue here and don't know how to fix it... :-/

[2020-03-28 20:07] troosan commented on #7095
@MawsFr indeed, you are right, the quarkus.http.root-path should start with a /
When I put a `/` behind `/custom-root`, I get redirected to `http://localhost:8080/custom-root//swagger-ui/` (notice the double / in the url, which makes the request fail)

Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /opt/maven/apache-maven-3.6.3
Java version: 1.8.0_45, vendor: Oracle Corp

[2020-03-28 20:50] MawsFr commented on #7095
@troosan Yeah sorry for my English I meant 'before', like this : `quarkus.http.root-path=/custom-root` so by putting a `/` in front of `custom-root`

Does it still fail by putting the slash ?

[2020-03-28 20:56] troosan commented on #7095
I had the slash in my project, without it it obviously does not work. I'm trying to add the different modules to the test project to see when it will start to fail.

[2020-03-28 21:02] troosan commented on #7095
Ok, found it already. Actually in my project I have the following, which makes  it fail
[code]

[2020-03-28 21:48] MawsFr commented on #7095
Indeed it will work better without `@ApplicationPath` 😄

[2020-03-28 22:13] troosan opened #8242 "Since 1.3.0 excluding dependencies during tests with classpathDependencyExcludes does not work"
**classpathDependencyExcludes doesn't work anymore **
My project has in its dependencies an SPI implementation (compile dependency). When running the tests though, I include a different implementation (test dependency). So the solution I came up with is
[code]

This worked in version 1.2.0

**Expected behavior**
Dependency specified in classpathDependencyExcludes is excluded

**Actual behavior**
S

[2020-03-28 22:46] irenakezic commented on #8223
Debugging the issue I came to the conclusion that reader providers are registered correctly for all @Consumes annotations. However, when invoking the Rest client service from MultipartClientResource class in the example the writer provider is needed as well.
A solution might be to search for the @RestClient annotation when registering providers. In case @RestClient annotation is found register wri

[2020-03-28 23:14] pateni24 commented on #8226
Haven't tired deploying to any actual server. But looks like lambda-http extension is somehow blocking /openapi endpoint which is being called in SwaggerBundleUI in index.html.  If quarkus generates the openapi.json file in root folder during the build phase, can it just use specs instead of url ?

[2020-03-28 23:59] gwenneg commented on #8238
Maybe `io.quarkus.deployment.builditem.nativeimage.UnsafeAccessedFieldBuildItem` could help here.

[2020-03-29 01:50] vinicius-pereiradeoliveira commented on #6884
Hi.

My last action was:

Execute:
sudo apt-get -y install gcc libc6-dev zlib1g-dev

[2020-03-29 05:55] mbecca commented on #5289
Is fixed in 1.3.1.Final, great news!  thanks to both!

[2020-03-29 05:56] #5289 closed

[2020-03-29 07:33] rsvoboda opened #8246 "quarkus.container-image.registry is not reflected, docker.io is always used"
Trying to push the image to quay.io, docker.io is always used

It seems quarkus.container-image.registry is not reflected in the push command

I will look into it and try to fix is.

[2020-03-29 08:29] sekaijin opened #8249 "OracleXADataSource SQLException: Invalid Oracle URL: OracleDataSource.makeURL"
**Describe the bug**
when using OracleXADataSource an invalid URL exception is `throws`

**Expected behavior**
Add oracle XADatasource and run JPA operations

**Actual behavior**
Add OracleXADataSource
build =>
`SQLException: L'URL Oracle indiquée n'est pas valide: OracleDataSource.makeURL`

**To Reproduce**
1. add oracle jdbc on your project
2. define quarkus datasource using OracleXADataSource
3

[2020-03-29 09:21] carlosthe19916 opened #8250 "`@javax.validation.Valid` doesn't work with JAX-RS"
**Describe the bug**
Scenario:
- The error occurs when Maven multi-module project
- The error was introduced into `1.3.0.Final` and `1.3.1.Final`. Versions below `1.2.1.Final` didn't have this problem.

`@javax.validation.Valid` doesn't work when it is applied in a JAX-RS endpoint and the Class contains other Classes inside (E.g. Person => Address). Example:
[code]

**Expected behavior**
The JAX-R

[2020-03-29 09:22] vsevel commented on #7900
the scenario I documented in https://github.com/quarkusio/quarkus/issues/7900#issuecomment-603981580 is strictly based on [AppRole Pull Authentication](https://learn.hashicorp.com/vault/identity-access-management/iam-authentication) from the documentation with the [Response Wrap the SecretID](https://learn.hashicorp.com/vault/identity-access-management/iam-authentication#response-wrap-the-secretid

[2020-03-29 10:32] vsevel commented on #7900
I think there is an issue with the [doc](https://learn.hashicorp.com/vault/secrets-management/sm-cubbyhole) for the app persona (specifically on `First, create a token with default policy.`), or at least I could not make it work (and I do not understand why it is needed, or that should be something done by the admin persona instead?).

for the admin person it is ok:

[code]

but in the app persona

[2020-03-29 10:35] schulzp opened #8251 "ClassCastException in @ParameterizedTest: Base Class from Different Class Loader"
**Describe the bug**
Running a `@QuarkusTest` fails with a `java.lang.ClassCastException`, see [MWE](https://github.com/schulzp/quarkus-classcast-mwe).

**Expected behavior**
The tests passes.

**Actual behavior**
When using `@ParameterizedTest` with `@MethodSource`, see [MWE](https://github.com/schulzp/quarkus-classcast-mwe), the test fails with the following exception:
`java.lang.ClassCastExcept

[2020-03-29 11:27] schulzp commented on #8238
@cescoffier, we ran into the same issue and this is what I found out: `org.apache.avro:avro` [utilizes](org.apache.avro.reflect.FieldAccessUnsafe.UnsafeCachedField#UnsafeCachedField) `sun.misc.Unsafe` to get memory offsets for properties of objects inspected via **reflection**. [GraalVM is only capable of handling static usages of `sun.misc.Unsafe`](https://medium.com/graalvm/instant-netty-startup

[2020-03-29 11:46] marc-christian-schulze commented on #8126
I've re-tested with Quarkus 1.3.1.Final and the issue is resolved. The very same reproducer given above is providing the expected results with the new Quarkus version.

[2020-03-29 11:46] #8126 closed

[2020-03-29 12:24] gastaldi commented on #8250
It works if you add an empty `src/main/resources/META-INF/beans.xml` to your `core` project.

I see you have configured the jandex plugin but there are still some warnings, any idea @mkouba ?

[code]

[2020-03-29 13:04] remkop commented on #284
Superceded by https://github.com/quarkusio/quarkus/pull/7681

[2020-03-29 13:08] #8246 closed

[2020-03-29 13:29] geoand commented on #8210
This seems to be caused by `@TestInstance(Lifecycle.PER_CLASS)`.
I will take a deeper look and see what can be done.

[2020-03-29 14:05] geoand commented on #8210
The issue should be fixed by #8210

[2020-03-29 14:06] geoand commented on #8251
The issue should be fixed by #8252

[2020-03-29 14:23] sirf opened #8254 "PanacheQuery.count() throws "unexpected token: SELECT" if the query string starts with "SELECT""
HQL queries that starts with the string `SELECT` as in this
example `Order.find("select distinct o from Order o left join fetch o.lineItems");`
from https://quarkus.io/guides/hibernate-orm-panache#simplified-queries
throws the following error when the `count()` method is invoked:
[code]

I've created a reproducer by changing two files in hibernate-orm-panache-quickstart

Added a resource that atte