[2022-02-03 17:23] geoand commented on #11438
I like your per profile file a lot.

I'll have a look

[2022-02-03 17:23] edeandrea commented on #23417
Awesome! Will that make it into 2.7.1?

[2022-02-03 17:32] gsmet commented on #23417
@iocanel what is the PR fixing this `metadata.name` issue?

[2022-02-03 17:40] Sanne commented on #23300
Hibernate's Sessions are "transactionscoped" so it's most likely delegating to an actual instance which only actually exists within the current JTA scope. See `io.quarkus.hibernate.orm.runtime.session.TransactionScopedSession`.

I wasn't aware the outer component would be flagged as ApplicationScoped though... that's a bit surprising but I suppose it might be ok.

[2022-02-03 17:40] DavideD commented on #21313
Let me check

[2022-02-03 17:43] Sanne commented on #23300
The other place to look at is `generateDataSourceBeans` in `io.quarkus.hibernate.orm.deployment.HibernateOrmCdiProcessor`

[2022-02-03 17:46] patriot1burke commented on #22595
@amitkumar7566 I was able to see an xray trace using latest quarkus and with a native binary build.  Here's the project I used:

https://github.com/patriot1burke/xray-demo

README has details.

I did see the subsegment I created within a trace call within the AWS console.

[2022-02-03 17:51] Sanne commented on #23300
N.B. this implies there's an important diference between the blocking version of Hibernate ORM and Hibernate Reactive: the first one is binding to JTA transactions, while Hibernate Reactive is not binding to JTA. So the scoping mechanism also works differently.

I hope that makes sense :)

[2022-02-03 17:52] andlinger commented on #23418
The reproducer project already contains a ObjectMapperCustomizer
https://github.com/andlinger/quarkus-reproducer/blob/quarkus-23418/quarkus/src/main/java/io/i15s/quarkus/MoneyObjectMapperCustomizer.java

Without registering the MoneyModule it would not work in the Resteasy Classic either

[2022-02-03 18:00] diogocarleto opened #23420 "Implement Auditable feature to MongoDB Panache, similar to Hibernate Envers"
### Description

Hi guys, hope all is well.

I'm working in a project where we need the audit capability for some entities.
Our project is using MongoDB Panache.

My propose for us is implementing something similar what we have in hibernate envers, we just annotate any `@MongoEntity` with the `@Audited` and for every change we take a snapshot of the entity.

A entity can be like:

[code]

By defau

[2022-02-03 18:01] andlinger commented on #23418
I updated the [Reproducer project ](https://github.com/andlinger/quarkus-reproducer/tree/quarkus-23418-2)(using Resteasy Reactive) with the following example:

[code]

The mapper() method produces the correct result:

[code]

The get() method produces following:

[code]

[2022-02-03 18:02] cescoffier commented on #23411
That's an annoying one. We cannot really change the Kafka internal classes.

@sberyozkin Do you believe it's because of the switch to keycloak-x?

[2022-02-03 18:04] radcortez commented on #16099
No, the issue here is that the MP property is being queried during build time to register the resource with the native image. But we don't want to force configuration properties outside the `quarkus` namespace to be build time. I've made a fix that registers the resource if we can find one, and if not it is on the user to provide the correct configuration during runtime.

[2022-02-03 18:06] Sanne commented on #23420
It's an interesting idea, but I'd like to hear what @gunnarmorling would think.

@diogocarleto Thinking about your specific use case, would you require the audit information to be immediately available? or would an asynchronous event delivered in a queue possibly be more useful?

[2022-02-03 18:11] geoand commented on #23418
I'll take a closer look tomorrow

[2022-02-03 18:26] DavideD commented on #21313
It doesn't work because Hibernate Types convert the map to a `JsonNode` and the Vert.x SQL Client is not happy with it. It seems I was too optimistic about the compatibility between Hibernate Reactive and Hibernate Types. In the end I don't think this is bug nor something that we should solve.

It seems that Hibernate Reactive and Vert.x already offer a nice solution for this.

[2022-02-03 18:29] DavideD commented on #21313
Note that if you don't care about the field being a map, you can declare the entity field as `JsonObject` and everything will work without a converter

[2022-02-03 18:30] sberyozkin commented on #23411
Hey @cescoffier

No, not at all; I meant, for the tests, instead of using WildFly based distro as is done in the Kafka test, you can use a Keycloak-X container instead, it should not make a difference for the actual Kafka code. When I was preparing an OIDC MTLS test I actually copied this test code first :-), but found it was too difficult to setup MTLS so found it going much easier with KC-X.
How

[2022-02-03 18:45] iocanel commented on #23417
@gsmet: It's #23239

[2022-02-03 18:49] brunobastosg commented on #21313
Actually, if I declare it as `JsonObject`, then it serializes/deserializes incorrectly, as seen below. That was what the converter solved.

[code]

It should be:

[{
  "id": 1,
  "content": {
    "field": "value"
  }
}, {
  "id": 2,
  "content": {
    "anotherField": "anotherValue"
  }
}, {
  "id": 3,
  "content": {}
}]

[2022-02-03 18:49] gsmet commented on #23417
OK, so I can confirm this particular fix is planned for 2.7.1.Final.

[2022-02-03 18:52] #16099 closed

[2022-02-03 18:59] diogocarleto commented on #23420
Hi @Sanne, I don't need this immediately available, in my case async is perfect, we can add some configuration via the `@Auditable(async/blocking=true)`, or  or even via properties. For async we can use vertx eventbus by default, what do you think?

[2022-02-03 19:10] DavideD commented on #21313
Probably the current the solution with the converter is the easiest one.
But converting the type into a response is not Hibernate Reactive responsibility.

It seems that RestEasy reactive doesn't recognize `JsonObject` as  a type and so it converts the values using all internal properties.

It would make sense to include it in the built-in types but I'm not sure whom should I ask about it.
@gsmet

[2022-02-03 19:39] brunobastosg commented on #21313
Yeah, I'll keep using that for now.

Thank you for your time!

[2022-02-03 19:51] DavideD commented on #21313
Thanks for your feedack! It was really helpful

[2022-02-03 20:03] Sanne commented on #23269
@gwenneg this was fixed by #23397

[2022-02-03 20:03] #23269 closed

[2022-02-03 20:05] edeandrea opened #23425 "[CI] - Quarkus Super Heroes + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/quarkusio/quarkus-super-heroes building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2022-02-03 20:17] gsmet commented on #23425
I adjusted the name for consistency. I will add it to status.quarkus.io once we validate it works.

[2022-02-03 20:19] #22603 closed

[2022-02-03 20:22] edeandrea commented on #23425
Thanks! I only followed the naming convention that the template generated for me. I'm working on the rest of the setup right now.

[2022-02-03 20:30] gsmet commented on #23425
Ah, thanks for the info. I fixed the template.

[2022-02-03 21:03] gwenneg commented on #23269
Thanks!

[2022-02-03 21:06] #23379 closed

[2022-02-03 23:42] evilezh opened #23429 "Management interface and port"
### Description

I wanted to elaborate a bit on https://github.com/quarkusio/quarkus/issues/7893.

Management port is security requirement/feature. I think - no matter of kubernetes or other context.
As part of health check we might expose some information we wouldn't like normally share.

Exposing health check or metrics on ingress or service is pointless as it is per pod.

I quite commonly run t

[2022-02-03 23:42] phillip-kruger commented on #23313
@serahl ok thanks for checking. Let me see if I can spin up Windows and recreate the issue. I'll get back to you

[2022-02-04 01:43] phillip-kruger commented on #23313
Thanks for your help @serahl - the PR above fixes the issue

[2022-02-04 05:51] sdaschner opened #23432 "Trigger dev terminal commands / aliases with keyboard shortcuts"
### Description

It would be really convenient to be able to trigger certain commands or functionalities that one defines in the `dev` mode terminal (`:`) via shortcut.

**Example:**
As we had in #22345, the test pattern can be changed with `test pattern include ...` and optionally via terminal `alias`. However, when in dev mode, one has to type `: ui <Enter>` to switch modes and then (in this exa

[2022-02-04 05:52] sdaschner commented on #23432
Happy to PR something if you think that'd be a nice idea

[2022-02-04 07:21] mklueh commented on #23403
This is exactly what I wanted. Using String for the json type is wrong and escapes all quotes.

The only problem is, IntelliJ does complain because it doesn't know that the JsonObject type is mapped to json.

![image](https://user-images.githubusercontent.com/1553757/152487832-525dde3b-f2ad-47be-aa4b-6632c616a2df.png)

**Its still working and the warning can be ignored, or one can just create a fa

[2022-02-04 07:23] geoand commented on #23429
cc @sberyozkin @cescoffier

[2022-02-04 07:41] krisgerhard opened #23433 "2.7.0.Final is breaking mongo+srv:// in native mode"
### Describe the bug

Yes yes, I know - it was supposed to be the first version where this is supported but for me it is the exact opposite.
I've successfully used mongo+srv:// connection string in native mode over a year and started getting problems when 2.7.0.Final was released. Reason being -> "JNDI disabled by default".

I don't think it's a code bug but rather I find the release notes mislead

[2022-02-04 07:46] eAybars commented on #23404
Sure no problem, but currently I am working on a critically time constraint issue. if this issue is not urgent, I can come back to this as soon as I complete my current issue presumably within 2 to 3 weeks. Cheers.

[2022-02-04 07:55] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1793319091

[2022-02-04 08:08] cescoffier commented on #23429
I completely agree. I will even push the requirement even further: it should be possible to move management endpoints to a separate port and interface.

The current solution eases the routing strategy to avoid exposing the management endpoints to the public internet, but that was just a first step.

[2022-02-04 08:09] cescoffier commented on #23429
And yes both interface / port should be able to use TLS / mTLS. mTLS is particularly interesting for the management endpoints as you can limit / scope who can call these APIs.

[2022-02-04 08:24] loicmathieu commented on #23420
Hi,

You should be able to implement it via a MongoDB command listener, it's not documented but they are automatically added to the client configuration. You'll need to use a transaction to be sure that the audit document is persisted with the main document. I'm not sure command listener will be part of the transaction so it must be tested.

You can also create a CDI interceptor but it will only w

[2022-02-04 08:30] #23313 closed

[2022-02-04 08:31] loicmathieu commented on #23433
If you're not using our MongoDB support and needs JNDI, you must enable it via `quarkus.naming.enable-jndi=true` as explained in the exception message.

This is not related to MongoDB at all, we decided to disable JNDI by default on Quarkus.

[2022-02-04 08:33] geoand commented on #23418
There was a bug in the Money Jackson module (that I had actually [fixed](https://github.com/zalando/jackson-datatype-money/pull/283) 🤦🏼).

If you update your reproducer to use `1.3.0` instead of `1.2.1`, everything works as expected

[2022-02-04 08:33] #23418 closed

[2022-02-04 08:34] geoand commented on #23418
And actually you had even opened https://github.com/quarkusio/quarkus/issues/16081 :)

[2022-02-04 08:36] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1793319091

[2022-02-04 08:36] gunnarmorling commented on #23420
It's an interesting proposal; worth pointing out though that anything done synchronously as part of write transactions will create more load on the database and impact latency.

Alternatively, one could look at an approach based on CDC (thanks for pinging me, @Sanne) and Debezium, where MongoDB change streams are used to track all changes and keep a log with the history of records, either in Kafka

[2022-02-04 08:41] michalszynkiewicz commented on #22797
related issue: https://github.com/quarkusio/quarkus/issues/16118

[2022-02-04 08:41] michalszynkiewicz commented on #16118
Caching for the rest client is planned, here's another issue that talks about it: https://github.com/quarkusio/quarkus/issues/22797

[2022-02-04 08:42] geoand commented on #16118
Let's keep one issue then. I'll let you decide which :)

[2022-02-04 08:48] michalszynkiewicz commented on #16118
I'll leave the one Max created because it's more generic but will add the description of this one there as a comment.

[2022-02-04 08:48] andlinger commented on #23418
Ohh sorry. I forgot. Sorry for stealing you time!

[2022-02-04 08:48] mkouba commented on #7507
In fact, this workaround should not work for subclasses and proxies because these classes are generated and not part of the index :-(. Anyway, I think we should add a new build item - `ReflectiveBeanClassBuildItem` and ArC will automatically register a possible generated proxy and subclass for reflection. Furthermore, a new `ReflectiveBeanClassBuildItem` will be automatically produced for a bean c

[2022-02-04 08:49] michalszynkiewicz commented on #22797
the linked issue, by @u6f6o says:

[2022-02-04 08:49] geoand commented on #23418
NP

[2022-02-04 08:53] Plawn opened #23434 "Add support for native queries with the spring-data extension / Hibernate"
### Description

In the documentation it is stated that quarkus with spring-data does not support native queries, is it possible to add the implementation to support it ?

### Implementation ideas

I never read how the spring data features were implemented on top of Panache, so i'm not of much help here

[2022-02-04 08:53] michalszynkiewicz commented on #16118
Closed in favor of https://github.com/quarkusio/quarkus/issues/22797

[2022-02-04 08:53] #16118 closed

[2022-02-04 09:00] geoand commented on #23434
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/5348

[2022-02-04 09:00] #23434 closed

[2022-02-04 09:06] geoand commented on #23433
Closing this as the error message is very explicit

[2022-02-04 09:06] #23433 closed

[2022-02-04 09:13] Ladicek commented on #7507
I think `ReflectiveBeanClassBuildItem` makes sense. Since this is used by Quarkus extensions, the bean in question will likely always be a class-based bean, so I wouldn't care that much about producers :-)

[2022-02-04 09:43] michalszynkiewicz commented on #21441
I think it's already handled, I didn't remember about it when I first saw this issue :)

See:
https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/rest-client-reactive-jackson/deployment/src/test/java/io/quarkus/rest/client/reactive/jackson/test/MultiSseTest.java

[2022-02-04 09:45] #21441 closed

[2022-02-04 09:47] krisgerhard commented on #23433
I can't wrap my head around how is

a new refinement/feature in this release.

All that was done was not to break a support for a feature that was already working previously.

Release notes is misleading. Migration guide should mention that using Mongo extension now enables jndi globally.

[2022-02-04 09:48] tapaniantonrundgren opened #23435 "Deployment fails"
### Describe the bug

Using quarkus build to build and deploy in OpenShift environment.

### Expected behavior

Build and Deploy to OpenShift environment

### Actual behavior

I get this error when executing $quarkus build
...
Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR]         [error]: Build step io.quarkus.kubernetes.d

[2022-02-04 09:49] geoand commented on #23435
If this works already on `999-SNAPSHOT`, then I would say the issue is out of date :).

@iocanel do you know which PR fixed it?

[2022-02-04 09:58] amitkumar7566 commented on #22595
@patriot1burke
Here is the difference between your sample and mine:
1. You have used "**quarkus-amazon-lambda-http**" dependency which is for the AWS HTTP API feature of AWS API Gateway. We use "**quarkus-amazon-lambda-rest** dependency " which is for the AWS REST API feature of AWS API Gateway.
2. The Xray should pick and send the sub-segment traces while "**quarkus-amazon-lambda-rest**" dependen

[2022-02-04 10:01] #22195 closed

[2022-02-04 10:06] vladimirfx commented on #20256
Hit by this for all Quarkus versions 2.5.*-2.7.0.Final, GraalVM native image 21.*-22.0-java17 .Currently, we are disabling system metrics for all native builds. Other metrics or dependencies do not influence this bug - reproduced in 15 microservices with absolutely different dependencies.

Symptoms:
420-450ms for `/q/metrics` call with 100% CPU usage for call time. In returned metrics for process

[2022-02-04 10:10] mkouba commented on #23300
@manovotn AFAIK the synthetic bean for `javax.persistence.EntityManager` and `org.hibernate.Session` is `@ApplicationScoped` but it delegates to `io.quarkus.hibernate.orm.runtime.TransactionSessions.getSession(String)` which returns a cached `io.quarkus.hibernate.orm.runtime.session.TransactionScopedSession` which acquires the current session:

1. from the `TransactionSynchronizationRegistry` if a

[2022-02-04 10:11] mkouba commented on #23300
^ In other words, it's rather complicated :D

[2022-02-04 10:12] tobi6112 opened #23437 "DevServices for Keycloak `keycloak.url` property is not available at runtime"
### Describe the bug

I am experimenting with the integration of the Keycloak RealmResource in my Quarkus Application. To the best of my knowledge quarkus does not offer a implementation for that, so my solution was to define some custom properties and then create a bean for the RealmResource

[code]

Next up I want to setup the application configuration for production and development. I made the

[2022-02-04 10:17] tapaniantonrundgren commented on #23435
You can close this, I can wait for the next release, before upgrading from 2.6.3.Final. Seems to be working even with the latest 999-SNAPSHOT that I updated few minutes ago

[2022-02-04 10:17] #23435 closed

[2022-02-04 10:23] manovotn commented on #23300
Yea, that about sums my understanding of that magic :-D

Either way, I already figured it still depends on req. scope somehow since the PR I just posted(https://github.com/quarkusio/quarkus/pull/23436) actually affects/fixes the behavior.
I didn't go deep enough to uncover all of it though, so thanks for the summary @mkouba!

[2022-02-04 10:39] manovotn commented on #7507
`ReflectiveBeanClassBuildItem` sounds good. I agree with Ladislav that I wouldn't care about producers much at this point.

[2022-02-04 10:54] sberyozkin commented on #23437
@tobi6112 Hi, `DevServices for Keycloak` only uses `keycloak.url` for the dev/test purposes, it is not in the quarkus namespace. Similarly to `client.quarkus.oidc.server-url` which is there to help the tests to find Keycloak in the docker network.

`DevServices for Keycloak` will set `quarkus.oidc.auth-server-url`,  `quarkus.oidc.client-id`, so I think you should have those set in `%prod` profile

[2022-02-04 11:00] sberyozkin commented on #23437
This line, https://github.com/quarkusio/quarkus/blob/main/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java#L258, should probably be removed, however, someone may already be using it in the dev or test profle, so it should stay for now.

[2022-02-04 11:03] sberyozkin commented on #23437
@tobi6112 I got it, `%prod` is actually a default profile. So in your configuration, the properties without a `%prod.` prefix are in fact in the prod profile. So you should add `%dev.` to those dev properties which would like to depend on `keycloak.url`; likewise you may want to add a test profile specific properties as well.

I think we can close this issue

[2022-02-04 11:20] loicmathieu commented on #23433
@krisgerhard `mongo+srv://` was not working previously on native images, it cannot as it uses JNDI for the DNS query under the hood. The new release brings a substrat VM substitution to replace the uses of JNDI by Vert.x DNS client.

Even if you don't use our MongoDB support, you can still incude the `quarkus-mongodb-client` extension to have MongoDB specific Quarkus stuff, as long as you didn't c

[2022-02-04 11:25] DavideD commented on #23403
Not sure which plugin is causing the exception but
I guess it's because it is a JPA plugin? It's a bit annoying but I would expect it to be possible to disable the warning in IntelliJ instead of using a converter. You might try to check with the plugin developers.

Anyway, whatever works.

[2022-02-04 11:34] maxandersen commented on #17038
related to the fun around https://github.com/quarkusio/quarkus/issues/8975 for having just one place to skip verification but allow turning it on in specific places.

That is nice!

One question I have about use then having keystores separately from javas main pem store. We would still be able to pass in  at runtime a setting/property to get the certificates for the cluster managed by something li

[2022-02-04 11:41] geoand commented on #11438
I looked into this a little and it seems like per profile `.env` files are implicitly supported already.

The only caveat is that you need to have an `.env` file as well (even if it's empty). @radcortez this happens because https://github.com/smallrye/smallrye-config/blob/main/implementation/src/main/java/io/smallrye/config/AbstractLocationConfigSourceLoader.java#L110-L111 is only executed if the

[2022-02-04 11:41] michael-simons commented on #21481
Records do fail also with Qute. No warnings / errors on build time, but on runtime

[code]

when applying `@RegisterForReflection`, same error as in https://github.com/quarkusio/quarkus/issues/20891

[2022-02-04 11:42] tobi6112 commented on #23437
@sberyozkin Thanks for your fast reply and explaination, yes I guess so to from my side the issue can be closed as it doesn't seem to be a bug. However, I guess my experiments are more likely to evolve into a feature request regarding the KC AdminClient later on.

[2022-02-04 11:42] #23437 closed

[2022-02-04 11:49] michalszynkiewicz commented on #13882
Isn't it enough to reload the project? That's how it works with maven projects, IntelliJ doesn't pick up new folders of generated sources until the project is reloaded

[2022-02-04 11:59] radcortez commented on #11438
Yes, this is already supported. Sorry if I was not clear on that.

The reason why the constraint exists is to be able to disambiguate which is the main file and which are profile files. This is required to keep a consistent loading order with classpath resources.

In the case of `.env`, maybe we can lift that restriction, but it will become inconsistent with the other case.

[2022-02-04 12:02] cescoffier commented on #17038
cert-manager is able to provision a set of certificates and you would have to "map" them to your different client/server. A bit like SBO.

[2022-02-04 12:02] sberyozkin commented on #23437
@tobi6112 Np; yes, KC AdminClient extension is only there to facilitate the use of this API in Quarkus and native image in paricular

[2022-02-04 12:06] geoand commented on #11438
Okay, then I vote for being consistent

[2022-02-04 12:09] rvansa commented on #11438
In my case the `.env` is written to support dev environment - podman-compose starts some containers which have the cwd mounted and write down secrets into the `.env` file. I could prefix all the properties in the file with `_DEV_` to let test ignore them.

[2022-02-04 12:11] geoand commented on #11438
You could have an empty `.env` file and then have a `.env-dev` with the properties you want applied for dev-mode only

[2022-02-04 12:22] michalszynkiewicz commented on #21850
You can send a header containing the JWT token using [GrpcClientUtls](https://quarkus.io/guides/grpc-service-consumption#grpc-headers). But you'd have to construct the token yourself.

If you create an issue that would desribe in more detail how it works with your server, and if it is a standard solution, we may try to provide better tools to help with it

[2022-02-04 12:30] krisgerhard commented on #23433
Thanks. Let's say I might not have worked out of the box in 2.6.3.Final but with the combiation of `reflection-config.json` and `--initialize-at-run-time` changes I was using ``mongo+srv://` for oven a year with latest Quarkus versions.

[2022-02-04 12:36] ebullient commented on #20256
Not on versions before 2.5 or not attempted?
And (to make sure I am reading this correctly), which are you saying:
1. system metrics specically are slow, so you have turned them off and things are fine, or
2. You're still seeing slow metrics with native images, even with system metrics disabled.

Can you outline what the common metrics configuration is across these services (system metrics off.. o

[2022-02-04 12:58] DavideD commented on #21313
I've created this issue on Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/issues/1180
Maybe we can do something for making this easier to handle

[2022-02-04 13:10] brunobastosg commented on #21313
Thanks, will be following that!

[2022-02-04 13:19] someth2say opened #23438 "OpenShift extension failing to build"
### Describe the bug

A simple resteasy reactive project fails to build when adding the `quarkus-openshift` extension.

Remarkably, the project folder includes a Git submodule.
[code]

### Expected behavior

The project should build successfully (and later deploy into OCP)

### Actual behavior

[code]

### How to Reproduce?

Create a Git Quarkus project with the `openshift` extension, and add a gi

[2022-02-04 13:28] #22870 closed

[2022-02-04 13:57] alissonmelonascimento opened #23439 "quarkus 2.7 - quarkus-reactive-oracle-client - Wrong syntax of connection URI"
### Describe the bug

[code]

### Expected behavior

Connection successfully

### Actual behavior

connection error

### How to Reproduce?

Try connecting to an oracle database using a URL with this pattern:
oracle:thin:@abcdefg01-scan4.my.domain.com:1521/ora01

#application.properties
quarkus.datasource.db-kind=oracle
quarkus.datasource.username=user
quarkus.datasource.password=123456
quarkus.dat

[2022-02-04 13:59] debu999 opened #23440 "Code Scan failure in CI/CD pipeline quarkus-maven-plugin"
### Describe the bug

If we have &lt;extensions>true&lt;/extensions> in quarkus-maven-plugin getting error during sonar code scans. Please advise. Is quarkus-maven-plugin compiled in Java 17 or Java 11. Not sure why we get the error.

Removing the tag works fine for us.
`mvn --batch-mode org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -f pom.xml -Dsonar.host.url=https://**** -Dsonar.login=*

[2022-02-04 14:30] Lukpier opened #23442 "problem using quarkus-resteasy-reactive-kotlin-serialization with AwsProxyRequestContext"
Hi All,

I'm trying to use quarkus-resteasy-reactive-kotlin-serialization on a Kotlin jax-rs reactive endpoint deployed on AWS.
Below the method signature:

[code]

Unfortunately, Quarkus returns Bad request when trying to call this endpoint from APIGateway test page. No error is shown since quarkus itself intercept the request without accessing the method body.

After some trials, I managed to be

[2022-02-04 14:32] geoand commented on #23442
Hi,

Kotlin Serialization only works on types that are annotated with `@Serializable`.

[2022-02-04 14:39] Lukpier commented on #23442
Hi geoand,

Thanks for your response. I know that; atm, I'm trying to implement a custom serializer for that object (using KSerializer), since it is the only Aws context object i need to access in my application.

Do you think it could work? I will need to switch to Jackson otherwise.

[2022-02-04 14:41] geoand commented on #23442
Can't say since I've never tried something like that. @evanchooly might now more

[2022-02-04 14:49] patriot1burke commented on #22595
@amitkumar7566 That helps a lot and narrows down the problem.

quarkus-amazon-lambda-http vs. quarkus-amazon-lambda-rest wouldn't make a difference.
 Trace id is propagated in a common layer to both of those extensions.

So it looks like the instrumentor isn't working in native.  I worry that the instrumentor requires the JVM and won't work in native.  Depends if its a compile or runtime thing.  I

[2022-02-04 15:00] FroMage commented on #21313
Pretty sure RESTEasy Reactive handles `JsonObject`, right @geoand ?

[2022-02-04 15:07] geoand commented on #21313
Correct, see https://github.com/quarkusio/quarkus/blob/2.7.0.Final/independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/providers/serialisers/jsonp/JsonObjectHandler.java#L16

[2022-02-04 15:09] evanchooly commented on #23442
I'd do a bit of experimentation but I think the limitation you're going to run in to is that you need to register and serializers with the `SerializersModule` used to construct the `Json` we use.  Currently there's no way to configure that as part of quarkus and it seems that's all immutable so it can't be done after the fact.

[2022-02-04 15:13] Lukpier commented on #23442
Understood, so the only solution now is to use jackson (or jsob) for request / context decoding (?)

[2022-02-04 15:14] vladimirfx commented on #20256
Actually, I do not know, spotted this about 6 months ago and 2.5 is our current minimum version in prod.

Exactly. We disabled only system metrics and all are fine. Other metrics are used in different configurations from defaults to highly customized ones, including custom metrics - no inference with this problem.

[2022-02-04 15:31] ozangunalp commented on #23411
@sberyozkin thanks for the heads up.
I still don't get why this test fails on Mandrel 22.1-dev

[2022-02-04 15:34] DavideD commented on #21313
I've changed the entity from the example in this issue the following way:
[code]

when do GET, It returns:
[code]

So there is definitely a difference between using a map or a `JsonObject`. Maybe this is correct but I don't think it's what a user would expect.

[2022-02-04 15:47] luca-bassoricci opened #23445 "Hibernate post-boot schema-validation fails after upgrade to Quarkus 2.6.3"
### Describe the bug

After upgrade to 2.6.3.Final, post boot schema validation emits some warnings about missing table(s).
Migrations are managed by Flyway and database contains:
1. schema _postboot1_ holds Flyway schema history table
2. schema _postboot_ contains table _product_

Flyway is configured to use _postboot1_ as its own schema and _postboot_ as managed schema.
Hibernate is configured t

[2022-02-04 15:50] rdifrango commented on #23386
As I read the Boot page, that only applies to Graphite:

While I agree the MeterFilter is more powerful, if all you need to do is simply add tags it's a bit of overkill.  Also, if you working on an enterprise and want a consistent set of tags it would then require a shared component to enforce it.  Whereas with config it's much easier to check and/or configure.

[2022-02-04 15:50] geoand commented on #23445
Any chance you can check and see if the problem persists with `2.7.0.Final`?

[2022-02-04 15:56] mklueh commented on #23300
Thanks. How would you close it explicitly after the DB work is done without passing the session object through everything?

[2022-02-04 16:06] patriot1burke commented on #22595
@amitkumar7566 I updated my example to use quarkus-amazon-lambda-rest and I'm still able to see the subsegment in the trace

![image](https://user-images.githubusercontent.com/704239/152562013-cbf0460a-40bb-4478-a298-f7dd18b09cba.png)

I'll look into getting your example to work.

[2022-02-04 16:14] gilvansfilho commented on #23343
Hi @AmsterdamFilho

I tried to reproduce this but here everything worked fine for me. Wich quarkus version are you using? Do you have a reproducer or could supply one?

[2022-02-04 16:30] luca-bassoricci commented on #23445
Yes, with `2.7.0.Final` problem is still present
Attached repo is configured to use version `2.7.0.Final`.
I opened this issue today because version `2.7.0.Final` was on the way and I wanted to check if the issue was still present after upgrade.

If this is information can help, I followed code during execution and during tables metadata extraction schema used is `dbo` instead of `postboot`; names

[2022-02-04 16:33] geoand commented on #23445
Thanks for the information

[2022-02-04 17:51] michael-simons commented on #13438
I think this can be closed since we have the dev-services support based on containers for a while now.

[2022-02-04 17:51] #13438 closed

[2022-02-04 18:29] LegendL3n commented on #23282
Just created one [here](https://github.com/LegendL3n/quarkus-kotlin-bug-reproducer).

[2022-02-04 21:02] patriot1burke commented on #22595
@amitkumar7566 I was able to get your example to work with latest Quarkus "main" branch build.  No new fixes.  I executed both the /books/db and /books/restclient endpoints.  Here's a screen shot:

![image](https://user-images.githubusercontent.com/704239/152602552-eb4f81a9-c0a0-4ca4-97e9-2ebe073bb9f3.png)

and

![image](https://user-images.githubusercontent.com/704239/152602602-8394b08b-da87-4c0e

[2022-02-04 21:04] patriot1burke commented on #22595
@amitkumar7566 Here's the pom.  I made some minor changes to point to 999-SNAPSHOT.

https://gist.github.com/patriot1burke/5c89ca20b04eae87269845cd540967cd

[2022-02-05 00:02] shumonsharif commented on #7507
@mkouba Just tested your PR with the CXF extension, works perfectly.  Thanks for the quick turnaround on this.

I had actually experimented a little with `IndexView.getKnownDirectSubclasses()` and `IndexView.getAllKnownSubclasses()` when I had initially looked into the issue, but didn't quite understand what was going on, so assumed that I was doing something wrong.  Thanks again, look forward to

[2022-02-05 11:21] #17558 closed

[2022-02-05 12:44] jendib opened #23457 "NullPointerException when upgrading to 2.7.0 with Quartz in JDBC_CMT mode"
### Describe the bug

I had an app running Quarkus 2.6.1 with Quartz scheduler configured like this:
[code]
after upgrading to 2.7.0 I'm getting this error on boot:
[code]

Please note that the error doesn't occur with a fresh database (and no qrtz_* tables).

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or

[2022-02-05 14:13] amitkumar7566 commented on #22595
@patriot1burke I validated and now I can see sub-segments for both AWS Services (DynamoDB) & External API Call.

**1. DynamoDB**
![DynamoDB](https://user-images.githubusercontent.com/54850956/152645243-73374b99-8e9f-432d-abba-c9304b07ae45.png)

2. External API Call
![External API Call](https://user-images.githubusercontent.com/54850956/152645254-64584629-4686-4813-8109-451c345c66fc.png)

As this t

[2022-02-05 14:32] patriot1burke commented on #22595
You are using unsupported community versions and not using our product bits.  From our product manager:  "What needs to be discussed with the customer is what version they should use. The customer is using unsupported extensions in an unsupported configuration so to me it probably makes the most sense that the customer updates to the latest community 2.7.1. The fix will then be added to RHBQ 2.7 w

[2022-02-05 17:47] harshlancer commented on #21273
Is there anything to be done by a newbie like me?

[2022-02-05 17:48] machi1990 commented on #23457
I am very curious how this could have happened.

Looks like a record from qrtz_triggeres table was deleted. However my attempt to reproduce it using the quartz quickstarts which has the same configuration as the one you shared was not successful and couldn't reproduce the NPE.

Would you mind sharing a small reproducer, and I'll investigate further.  Thanks

[2022-02-05 18:04] jendib commented on #23457
@machi1990 If I clear the quartz tables it should recreate the triggers no? As a workaround so my app can start

[2022-02-05 18:20] debu999 commented on #23440
Can someone guide on which version the plugin is compiled we we see java 8 dependency during sonar. Build and app run works as expected including the tests. Only Sonar complains

[2022-02-05 18:22] machi1990 commented on #23457
Yes, starting with empty quartz tables should enable your app to work.

Though I am very curious to see if there is something that will need fixing in the quartz extension. To be able to do that, I'll need your help with a small reproducer for your app (the qrtz tables plus the scheduled methods - they could be empty with business logic stripped out).

[2022-02-05 18:26] gsmet commented on #23457
In any case, it needs fixing. Be it by adding a proper error message.

[2022-02-05 18:30] jendib commented on #23457
The Quartz table have been created using this: <https://github.com/quartz-scheduler/quartz/blob/master/quartz-core/src/main/resources/org/quartz/impl/jdbcjobstore/tables_postgres.sql>

and my scheduled methods look like like:
[code]
I didn't do anything fancy like editing manually Quartz tables, it's all default. I'll try to see if I can make a reproducer.

[2022-02-05 19:00] gsmet commented on #23440
Prerequisites for Quarkus 2+ is Java 11.

[2022-02-05 19:00] #23440 closed

[2022-02-05 19:17] rgmz opened #23458 "Quarkus 2.7.0 Maven fails to compile because it cannot find `org/eclipse/aether/util/ConfigUtils`"

[2022-02-05 19:18] gsmet commented on #23458
Are you sure you are using the same version of the BOM and the Quarkus Maven plugin?

If so, please prepare a reproducer.

[2022-02-05 19:18] rgmz commented on #23458
Uh, not sure how I broke the issue submission. Luckily, I always back it up!

**Describe the Bug**

When running `mvn compile` with a freshly-generated 2.7.0 project, the execution fails due to a missing dependency.

[code]

**Expected Behaviour**

The project compiles successfully.

**Actual Behaviour**

[code]

[2022-02-05 19:24] rgmz commented on #23458
@gsmet This was on a freshly generated 2.7.0.Final project. I'm attempting to reproduce it from my Fedora machine to see if it could be an issue with macOS, or my Mac specifically.

More details in the above comment, as my initial submission lost all information from the template for some reason.

[2022-02-05 20:34] rgmz commented on #23458
Hmm, not sure what the underlying the issue was, but blowing away my `~/.m2/repositories` directory fixed it.

[2022-02-05 20:34] #23458 closed

[2022-02-05 20:55] sksamuel opened #23460 "Test framework agnostic test utils"
### Description

Quarkus currently has an excellent unit test support via the JUnit test extensions, but these are not possible (or at least difficult) to adapt to other test frameworks, such as the Kotlin based [kotest](https://kotest.io/).

What would be great is if the test extension was abstracted so instead of relying on JUnit specific interfaces such as InvocationInterceptor, it relied only

[2022-02-05 21:05] snowe2010 commented on #23460
Would love to have support for this. We've been wanting to use kotest on several teams at Sunrun for a few years now and the kotest team has been unable to implement it due to the tight connection between JUnit and Quarkus. Any help here would be appreciated.

[2022-02-06 11:39] goafabric commented on #23281
I found a temporary workaround by reverting to the old baseimage  through the maven properties
<quarkus.jib.base-native-image>registry.access.redhat.com/ubi8/ubi-minimal:8.5</quarkus.jib.base-native-image>

[2022-02-06 14:11] tobi6112 opened #23462 "Add `useCurrentTimestamp` flag for Jib builds"
### Description

By default Jib will build with a timestamp set to Unix epoch, see: https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#why-is-my-image-created-48-years-ago. However, the Quarkus extension sets the build time by default to the current timestamp, which can be counterproductive if you plan to ship reproducable builds.

### Implementation ideas

A simple configuration

[2022-02-06 14:50] einarjohnson commented on #6531
@nicolas-vivot , can you explain further. in order to run @QuarkusIntegration tests inside Gitlab the base image running the tests needs to have podman installed?

[2022-02-06 15:31] gilvansfilho commented on #23258
@Felk I faced this and the problem is you need docker running on your windows, not on your wsl2 distro.

@Sanne could I update the docs including a warning about this (container engine ready to use)?

[2022-02-06 15:58] cescoffier commented on #23281
Yes, but you need to be aware that you use a large base image.

[2022-02-06 17:03] cescoffier commented on #23383
Considering it invalid, at least for now.

[2022-02-06 17:03] #23383 closed

[2022-02-06 17:38] #23462 closed

[2022-02-06 20:28] famod commented on #23460
Looks very related to #19749? /cc @geoand @stuartwdouglas

[2022-02-06 20:30] sksamuel commented on #23460
I would say it is related, but I wouldn't aim for just JUnit compatible engines, but any test framework. If you can abstract the lifecycle events you need to things like "configure a test class", "before a test", "after a test" and so on, then any test engine should be able to integrate.

[2022-02-06 20:31] famod commented on #23175
FTR: I rescoped this issue to be in line with the latest state of the discussion.

[2022-02-06 20:34] famod commented on #22073
@GregJohnStewart with Stuart's answer, is there still missing some important feature for you?

[2022-02-06 22:39] stuartwdouglas commented on #23460
It looks like Kotest is also JUnit based, so in theory it should be possible to integrate it. I don't think it is possible to provide all this in a generic way though, as it really depends on how the test framework is implemented (e.g. when we supported JUnit 4 there was a huge difference in how the two integrations worked, just based on the API's provided by the framework).

If you did want to ma

[2022-02-06 22:45] sksamuel commented on #23460
I think the difference is that Quarkus uses JUnit Jupiter, not JUnit platform. So jupiter is a specific test engine implementation, and that's why we can't just plugin another junit platform compatible engine.

I don't know Quarkus well enough to opine on the easiness of adding a generic test layer, but my assumption (possibly wrong), is that you need things like "do this before a test", "do this

[2022-02-06 22:56] stuartwdouglas commented on #23460
The `quarkus-junit` module it build on `junit-jupiter`, but there is no reason why you could not add a `quarkus-kotest` that is not tied to Jupiter.

Continuous testing does have a dependency on Jupiter, but it can still work with other engines, and the dependency on Jupiter can likely be removed if required, as it is only really used to support tags.

[2022-02-06 23:00] sksamuel commented on #23460
I guess we can try :) I did try in the past, but I thought the junit module was quite complicated for someone who doesn't work on the quarkus codebase.

[2022-02-07 01:30] nicolas-vivot commented on #6531
@einarjohnson Yes, Podman but also Podman-docker, if you want to get rid of Docker itself (docker daemon)

I'll try to summarize it.

There are two things to distinguish: building an image from a Docker file without Docker, and running an image without Docker.
We already explained & gave a few tools to build images from a Docker file without Docker, so let's jump into the second and more problemat

[2022-02-07 05:13] phillip-kruger commented on #22429
@CormegaGit Please reopen if you have a reproducer to share. Thanks :)

[2022-02-07 05:13] #22429 closed

[2022-02-07 05:25] edeandrea commented on #23425
The build is still failing:
* Link to latest CI run: https://github.com/quarkusio/quarkus-super-heroes/actions/runs/1804675279

[2022-02-07 05:56] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1804675252

[2022-02-07 06:28] Postremus opened #23469 "JDBC Statement leaks after StaleStateException"
### Describe the bug

Everytime an StaleStateException is thrown, jdbc statements are leaked:

[code]

I believe this to be caused by following lines in Hibernate-ORM:
https://github.com/hibernate/hibernate-orm/blob/5.6/hibernate-core/src/main/java/org/hibernate/persister/entity/AbstractEntityPersister.java#L3586-L3591

StaleStateException is not a subtype of SQLException. `abortBatch` is therefor

[2022-02-07 06:28] geoand commented on #23442
Yes, Jackson is the only tested way to deserialize input for `quarkus-amazon-lambda-rest`

[2022-02-07 06:44] geoand commented on #6588
@sberyozkin `security-openid-connect-web-authentication-quickstart` is failing, can you please take a look?

[2022-02-07 06:57] geoand commented on #23439
The URL you are using is wrong, it needs to `vertx-reactive:oracle:thin:@abcdefg01-scan4.my.domain.com:1521/ora01`

[2022-02-07 06:58] jogueber commented on #23429
Would there be an outline on how that would be implemented @cescoffier ?
I could pitch in if help is needed since we need this as well

[2022-02-07 07:11] cescoffier commented on #23429
It's relatively straightforward.

At the moment, Quarkus APIs are composed of two _sub-routers_: the application router and the non-application router (management). Both routers are registered on the primary router exposed by the Quarkus HTTP server.

So, the distinction between management and application is already there. You can see this distinction already as the management router uses the "/q"

[2022-02-07 07:14] geoand commented on #23425
We at least need https://github.com/quarkusio/quarkus-super-heroes/pull/23 to the build passing

[2022-02-07 07:22] geoand commented on #23460
I very much agree

[2022-02-07 07:23] #23417 closed

[2022-02-07 07:27] geoand commented on #23360
I tried this and the tests pass...

Are you able to consistently reproduce this problem?

[2022-02-07 08:17] geoand commented on #23001
https://github.com/quarkusio/quarkus/pull/23470 takes care of the issue

[2022-02-07 08:25] peterhuba opened #23471 "Quarkus fails to start when using Kafka with error: "Unable to connect an emitter with the channel""
### Describe the bug

Hello,

Quarkus fails to start when using Kafka, with messaging emitters. The output is the following:
[code]
It happens both with external and built-in redpanda test Kafka cluster, but not always, only ~7 times out of 10 startups.

An interesting thing I noticed on my machine is that the issue happens less frequently when laptop is not plugged in, or is in power saving mode.

[2022-02-07 08:35] geoand commented on #22964
The reproducer does not use version `999-SNAPSHOT` of Quarkus (and a simple replace of the property I tried failed).

Please update the instructions if this is still a problem, or close it otherwise

[2022-02-07 08:38] geoand commented on #22945
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/21423.

[2022-02-07 08:38] #22945 closed

[2022-02-07 08:55] glefloch commented on #23335
@aloubyansky that could work if you register the sourceset in a custom variants. This will produce a new artifact that can be requested.
I think we can look a bit more a it, by either creating a custom source set and adding to the main source set in dev mode or by looking into feature variants.

[2022-02-07 09:17] jogueber commented on #23429
cool maybe I will find some time in the next days :)
thanks @cescoffier

[2022-02-07 09:42] geoand commented on #22805
Any chance we can get a small project that exhibits the problematic behavior?

It would save us time trying to reproduce the problem and allow us to go straight to fixing it.

Thanks

[2022-02-07 09:45] geoand commented on #22595
@patriot1burke so can this issue be closed?

From what I understand, the fix has already landed, correct?

[2022-02-07 09:55] michael-simons opened #23474 "Quarkus 2.7 breaks Flyway with MariaDB."
### Describe the bug

When using the official Quarkus Flyway extension together with Quarkus JDBC Maria DB, tests using devservices will fail with:

[code]

That used to worked in 2.6.x.

### Expected behavior

Migrations should be applied.

### Actual behavior

Flyway fails, see above.

### How to Reproduce?

Have some migration and configure migrate on startup

[code]

required dependencies

[co

[2022-02-07 09:57] wtrocki commented on #16401
Hi

What I noticed that most popular `openapi generator` resteasy client have been broken for quite a while. Having generator controlled by Quarkus community would be beneficial.

[2022-02-07 10:03] ozangunalp commented on #23471
@peterhuba Thanks for the reproducer.

I am not sure of the fix but I think I understand why it happens.
Kafka Streams extension Dev UI tries to get the Topology object to visualize the stream topology.
This in turn triggers the initialization of CDI injected beans such as Emitters, but these last are initialized lazily, just before the Application startup.

The workaround I tested is to move buil

[2022-02-07 10:12] Sanne commented on #23300
This is conceptually similar to `withSession`, except it doesn't store the Session in the vert.x scope:

[code]

HTH

[2022-02-07 10:24] Felk commented on #23258
Oh, that is good to know, thank you! I switched from Docker Desktop to docker-ce in WSL2 due to Docker Desktop's licensing changes, so there's no going back for me.

I need to also run `mvn quarkus:dev` within WSL2, not on the Windows host machine. It then works as expected, very nice!

[2022-02-07 10:37] #23282 closed

[2022-02-07 10:46] geoand commented on #23474
This actually isn't a Quarkus issue, it's due to Flyway moving MySQL code to a different module (done [here](https://github.com/flyway/flyway/commit/825fe8909a976960e20b6be436fba50096760223#diff-43cef596c3935b48c4413ed38829e9a9f411a79de7736ea0ee85abab567b0d7e)).

If you add

[code]

to your `pom.xml`, everything works as expected.

[2022-02-07 10:46] #23474 closed

[2022-02-07 10:47] #22206 closed

[2022-02-07 10:47] #22404 closed

[2022-02-07 10:50] michael-simons commented on #23474
Yikes. Thanks for the heads up, I am sure that will hit in another couple of places, too.

It's a bit sad (and absolutely not Quarkus' fault), but there goes the database agnostic build.

Anyhow, I can confirm, this fixes the issue.

[2022-02-07 10:51] geoand commented on #23474
YW!

Yeah, it seems a like a weird move...

[2022-02-07 10:52] gsmet commented on #23474
FWIW, it's documented in the migration guide: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.7#flyway .

And they did the same for SQL Server in the previous version (which was included in 2.6).

IIUC, they did it to fix license issues but I don't know the specifics.

[2022-02-07 11:20] Lukpier commented on #23442
Ok, I will use jackson for injecting the entire AwsProxyRequest, then proceeeding as usual with kotlin-serialization.

[2022-02-07 11:22] michael-simons commented on #23474
Thanks, @gsmet I should have read this.

[2022-02-07 11:34] peterhuba commented on #23471
Yes, it starts with the workaround, thanks!

[2022-02-07 11:38] gilvansfilho commented on #23258
Perhaps something in my environment? I really dont know but I faced this sometime ago when I tried to run some quickstarts.

[2022-02-07 11:42] ricardozanini commented on #16401
@wtrocki @FroMage @maxandersen @geoand I'm sorry for not updating this for a long time. Now I got some time to work on it and I can believe I can focus on this work now.

But I believe that now we can move it to quarkiverse instead. WDYT? I'll close this PR and prepare a new project there:
https://github.com/quarkusio/quarkus/pull/17488

[2022-02-07 11:49] geoand commented on #16401
I think a quarkiverse extension makes a lot of sense.

Thanks

[2022-02-07 11:59] #7507 closed

[2022-02-07 12:00] tassadar81 opened #23477 "Quarkus oidc integration, backchannel logout support"
### Description

As discussed with @sberyozkin on Zulip a backchannel logout feature is missing in the oidc quarkus integration. In some scenarios like two clients in the same realm such functionality is necessary. The route for backchannel consumes a jwt token and i guess it has to be public and able to reconize the user session from this token.
An old issue was opend btw, i report it here for re

[2022-02-07 12:03] tassadar81 opened #23478 "Quarkus oidc integration, frontchannel logout support"
### Description

As discussed with @sberyozkin on Zulip a frontend logout feature is missing in the oidc quarkus integration. In some scenarios like two clients in the same realm such functionality is necessary. The route for frontend consumes a two parameters and i guess it has to be public and able to reconize the user session from these parameters.
An old issue was opend btw, i report it here f

[2022-02-07 12:06] #22830 closed

[2022-02-07 12:16] maxandersen commented on #16401
Yes. Makes sense in quarkiverse.

I was actually thinking about this issue over the weekend so great timing :)

[2022-02-07 12:20] natalia-pokrovskaya commented on #20193
Just to confirm after several month, the fix works great! thank you @geoand

[2022-02-07 12:23] geoand commented on #20193
Great!

[2022-02-07 12:42] rsvoboda commented on #23387
@cescoffier is the codestart fixed?

[2022-02-07 12:43] cescoffier commented on #23387
No, I don't think there is anything. We can do. @ia3andy a y idea?

[2022-02-07 12:57] alissonmelonascimento commented on #23439
Thanks for the tip, but the error persists.
I believe the problem is in the **OracleConnectionUriParser** class, constant **FULL_URI_PATTERN**

[code]

Error

[code]

[2022-02-07 13:09] gsmet commented on #23439
/cc @tsegismont

[2022-02-07 13:38] ia3andy commented on #22981
yeah it's weird, good catch @gsmet I will have a look

[2022-02-07 13:56] Denistr opened #23482 "Swagger API requests default constructor for Jax-RS Resource"
### Describe the bug

Quarkus 2.7.0 Final (On 2.4.0.Final it is also reproducable)

Project for reproduce:
https://github.com/Denistr/openapi-quarkusFruits

I have constructor for JAX-RS Resource
[code]

And there is no default constructor, while I have swagger's annotation - @Api(value = "/fruits")
At starting of application, I'm getting

[code]

### Expected behavior

JAX-RS resources will be in

[2022-02-07 13:59] phillip-kruger commented on #23482
Have you tried with OpenAPI rather than Swagger ? (So use the annotation from MicroProfile Open API by including the smallrye-openapi extension)

[2022-02-07 14:09] Denistr commented on #23482
It's demo app, which I built similar to my work app. Work app is a bit complex and consists of a lot 3rd party libs. I can not introduce quarkus' specific things there, only pure CDI, swagger etc.

[2022-02-07 14:18] phillip-kruger commented on #23482
It's not Quarkus specific, it's MicroProfile. But in the case you need swagger you might need to add reflection config for swagger lib classes.

[2022-02-07 14:18] gsmet commented on #23445
@yrodiere I wonder if this could be due to your recent work on schemas?

[2022-02-07 14:19] gsmet commented on #23445
@luca-bassoricci what is the latest version you tested and that was working?

[2022-02-07 14:21] Denistr commented on #23482
It works with
[code]

Does it mean swagger won't be fully supported?

[2022-02-07 14:21] luca-bassoricci commented on #23445
Last working version was `2.6.1.Final`.

[2022-02-07 14:24] phillip-kruger commented on #23482
We might add support for the swagger api/annotation in SmallRye OpenAPI (https://github.com/smallrye/smallrye-open-api/issues/752) , but it's a duplicate, OpenAPI supports all things in Swagger. Also, you do not need to add the MicroProfile api as it will be pulled in by the quarkus openapi extension (that you already have)

[2022-02-07 14:25] FedeBell94 opened #23483 "Integration test 'test-host'"
### Describe the bug

As described in the latest [documentation](https://quarkus.io/guides/getting-started-testing#executing-against-a-running-application), I'm trying to execute the tests against a running application, using the command `./mvnw verify -Dquarkus.http.test-host=1.2.3.4 -Dquarkus.http.test-port=4321`.

This command fails, and returns the following error:  _Unrecognized configuration

[2022-02-07 14:40] ricardozanini commented on #16401
@maxandersen can you or another member create the repository for me? :) Maybe quarkiverse/openapi-gen?

[2022-02-07 14:44] gsmet commented on #16401
Let's call it `quarkus-openapi-generator` like the original project, please.

[2022-02-07 14:54] GregJohnStewart commented on #22073
@stuartwdouglas could you point to docs on how to do this? Looks promising but can't find anything on how to utilize.

Sorry for the lateness, this fell through the cracks over the holidays

[2022-02-07 15:10] #22595 closed

[2022-02-07 15:16] jkbbwr commented on #23471
Having similar issue to the stated above.
[code]

This will cause a failure on startup that is not fatal.
[code]
Delaying seems to help but it'd be nice if there was a more definite fix.

[2022-02-07 15:21] gastaldi commented on #16401
Repository created in https://github.com/quarkiverse/quarkus-openapi-generator

@ricardozanini you need to accept the invitation to join the Quarkiverse org and then you can start pushing there ;)

[2022-02-07 15:34] pravussum opened #23486 "ParamConverter for query params not used in RestEasy Reactive"
### Describe the bug

I have a Quarkus project using Resteasy reactive + Jackson with a generated REST API interface. That includes query parameters of type `Map<String, Object>` which are sent as JSON by the client.

The Quarkus build fails with the following exception:

    java.lang.RuntimeException: Invalid parameter type 'java.util.Map<java.lang.String, java.lang.Object>' used on method metho

[2022-02-07 15:37] KyriacosP commented on #23300
Following the merge of #23436 that fixes this issue is there any chance that the fix is going to be backported to release 2.2?

[2022-02-07 15:43] FroMage commented on #21273
Sure, this can be done by new contributors.

[2022-02-07 15:51] Sanne commented on #23300
hi @KyriacosP , I doubt it as we're no longer doing releases of version 2.2 - please update.

[2022-02-07 15:57] paulrobinson commented on #22595
Thanks Bill.

@amitkumar7566: We don't have a Red Hat supported version of Quarkus 2.7.0.Final released yet. But upgrading to community Quarkus 2.7.0.Final would put you in the best position ready for when the Red Hat Build of Quarkus 2.7 product is released.

[2022-02-07 16:13] srigano commented on #16613
Hi,

@Quarkus Team: could you please look at this bug ?
Is there any way to fix it ? Thanks.

[2022-02-07 16:17] srigano opened #23487 "quarkus:dev with quarkus-jdbc-d2 ignores db2jcc_license_cisuz dependency"
### Describe the bug

When i try to access to db2 Z/OS from my microservice, in dev mode, it got this error:

aused by: com.ibm.db2.jcc.am.SqlSyntaxErrorException: [jcc][t4][10509][13454][4.29.24] La connexion au serveur de données a échoué. La licence IBM Data Server for JDBC and SQLJ n'était pas valide
ou n'a pas été activée pour le sous-système DB2 for z/OS. Si vous vous connectez directement a

[2022-02-07 16:30] #23217 closed

[2022-02-07 17:04] Krawart opened #23489 "RestEasy reactive InputStream response using wrong writer"
### Describe the bug

I tried to optimize a reactive endpoint streaming input of an audio file based on Quarkus REST Score Console. I replaced generic Response with Reactive RestResponse. It increased the score to 100 but it is using wrong message handler. Tried both ByteArray and InputStream as entity - same result

### Expected behavior

ServerInputStreamMessageBodyHandler should be used write t

[2022-02-07 17:07] geoand commented on #23489
Any chance you can add a reproducer?

[2022-02-07 17:15] tsegismont commented on #23439
@alissonmelonascimento please `oracle:thin:@abcdefg01-scan4.my.domain.com:1521:ora01`

[2022-02-07 18:17] radcortez commented on #22991
Is the issue only reproducible in AWS? Aren't you able to reproduce it with a local Kafka instance?

[2022-02-07 18:34] bjhargrave commented on #19970
FYI, I am working a fix to the OSGi annotations to replace use of enum types with String along with a corresponding fix to Bnd to support this change.

[2022-02-07 18:48] gsmet commented on #19970
I confirm the `upstream` label is added to mark issues that are waiting for an upstream fix. Ultimately, I'd like to remove them from our stats as there's nothing we can do about them.

[2022-02-07 18:51] danieloh30 opened #23491 "Wrong Buildpack configuration for native"
### Describe the bug

Container image guide[1] says the following configuration:

or for native:
quarkus.buildpack.jvm-builder-image=<native builder image>

But it must be "quarkus.buildpack.native-builder-image"

[1]https://quarkus.io/guides/container-image#buildpack

### Expected behavior

quarkus.buildpack.native-builder-image=<native builder image>

### Actual behavior

quarkus.buildpack.jvm-b

[2022-02-07 19:00] glefloch commented on #22008
I pushed a fix in the cyclone-dx gradle plugin project.

[2022-02-07 19:19] edeandrea opened #23492 "Generated `DeploymentConfig` by OpenShift extension has wrong `imagePullPolicy`"
### Describe the bug

When generating kubernetes yaml via the OpenShift extension, according to https://quarkus.io/guides/all-config#quarkus-kubernetes_quarkus.openshift.image-pull-policy the default `imagePullPolicy` should be `always`, yet when I generate resources I am seeing `imagePullPolicy: IfNotPresent` in the generated `DeploymentConfig`.

Furthermore, if I try to set `quarkus.openshift.im

[2022-02-07 20:53] Krawart commented on #23489
[Here](https://github.com/Krawart/Reactive_input_stream_issue_sample_project) is sample project with simple test

[2022-02-07 21:01] celsomarques commented on #22991
I wasn't able to reproduce it locally because all docker-compose I tried broke in different ways, this ([https://github.com/hussein-joe/kafka-security-ssl-sasl](https://github.com/hussein-joe/kafka-security-ssl-sasl)) returns SSL handshake issue and I can't go further to simulate the user/password issue.

[2022-02-07 21:11] gsmet commented on #23491
Thanks. https://github.com/quarkusio/quarkus/pull/23493 will address it.

[2022-02-07 21:51] edeandrea commented on #23425
quarkusio/quarkus-super-heroes#23 was merged today.

[2022-02-07 21:55] stuartwdouglas commented on #16613
@srigano I just noticed in the description you are using Quarkus 1.x which is not going to get updates anyway, can you test with 2.7.1 when it is released (tomorrow I think) and the parent first config that I mentioned above? 2.7.1 contains some parent first fixes which might make a difference.

[2022-02-07 22:00] srigano commented on #16613
It's the same with
Quarkus 2.6.x
Quarkus 2.7.0
Tested today.
Quarkus 2.7.1 isn't available

[2022-02-07 22:03] stuartwdouglas commented on #16613
I think this PR might help, which is going into 2.7.1: https://github.com/quarkusio/quarkus/pull/23357

[2022-02-07 22:09] gsmet commented on #16613
2.7.1.Final will be released tomorrow.

On Mon, Feb 7, 2022 at 11:03 PM Stuart Douglas ***@***.***>
wrote:

[2022-02-07 23:10] famod commented on #23483
This feature only works for `@QuarkusIntegrationTest`s but AFAICS the `getting-started-testing` quickstart only contains `@QuarkusTest`s and one `@NativeImageTest`, but no `@QuarkusIntegrationTest`.
Can you please double check?

/cc @geoand

[2022-02-07 23:15] Diom commented on #7358
My Use Case: I am using Flyway with Quarkus to manage the DB schema migration. I have that working and the tables are correctly instantiated at startup.

I would like the `import.sql` to execute only in the `dev` and `test` profiles (per the defaults). This should not be considered part of the schema proper, simply a handy way to pre-populate integration-test data. I have been considering hacks li

[2022-02-08 00:27] gilvansfilho commented on #23258
@Sanne I was reasoning about and what happens is when using docker inside WSL2 you need to run your code inside your wsl2 distro terminal not on windows terminal (which doesn't have docker cli).

If you use docker desktop you will have docker cli on your windows so you could run your code directly on your windows terminal.

Is something like trying to do a "ls" in a openshift pod without a prior "

[2022-02-08 02:00] gilvansfilho commented on #23258
Sorry @Felk I hadn't seen this before the last reply.

[2022-02-08 03:38] phillip-kruger opened #23498 "Add support for Test source in open in IDE in DEV UI"
### Description

At the moment, you can open in source from DEV, but test source is not supported. Add test source.

### Implementation ideas

_No response_

[2022-02-08 03:39] phillip-kruger opened #23499 "Add support for yaml properties in Dev UI"
### Description

At the moment the property editor in Dev UI only support .properties file. Add support for yaml cases

### Implementation ideas

_No response_

[2022-02-08 03:41] phillip-kruger opened #23500 "Open in IDE not going to the source"
### Describe the bug

The "open in IDE" only opens the IDE but does not navigate to the source file in question. This might be IntilliJ specific.

### Expected behavior

Open the correct file and navigate to the correct line

### Actual behavior

just open the IDE

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

[2022-02-08 04:15] phillip-kruger commented on #23500
For Netbeans it opens the correct file, but does not navigate to the line as it used to.

[2022-02-08 05:36] edeandrea commented on #23425
Build fixed:
* Link to latest CI run: https://github.com/quarkusio/quarkus-super-heroes/actions/runs/1810466311

[2022-02-08 05:42] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1810466059

[2022-02-08 05:42] #23001 closed

[2022-02-08 06:10] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1810466059

[2022-02-08 07:13] FedeBell94 commented on #23483
Same result when I try to run [this test](https://github.com/quarkusio/quarkus-quickstarts/blob/main/security-openid-connect-quickstart/src/test/java/org/acme/security/openid/connect/NativeBearerTokenAuthenticationIT.java), which is annotated with `QuarkusIntegrationTest`.

When I run the `./mvnw verify -Dquarkus.http.test-host=1.2.3.4 -Dquarkus.http.test-port=4321` command, the test-host is ignor

[2022-02-08 07:15] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1810466059

[2022-02-08 07:33] KyriacosP commented on #23300
ok thank you! Do we know when 2.7.1.Final will be released?

[2022-02-08 07:34] mschorsch opened #23501 "resteasy-reactive: Wrong http status if return type is `Unit`"
### Describe the bug

A rest endpoint with return type `Unit` (Kotlin) results in http status 200 with an empty json object (application/json) instead of http status 204 if kotlin coroutines are used.

`Unit` should be treated like `void`

### Expected behavior

HTTP-Status 204

### Actual behavior

HTTP-Status 200

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

#

[2022-02-08 08:10] geoand commented on #23489
Although https://github.com/quarkusio/quarkus/pull/23502 fixes the problem, however FWIW retuning an `InputStream` from the event loop (by leveraging `Uni` as a response type) is generally a bad idea because you are blocking the event loop thread.

It would be much safer to do something like:

[code]

[2022-02-08 08:10] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1810465799

[2022-02-08 08:26] #23491 closed

[2022-02-08 08:34] Krawart commented on #23489
Thank you for your proposition but Is there some better approach for data received for example from google cloud storage? (without vertx fileSystem API)

[2022-02-08 08:38] geoand commented on #23489
If you want to stay on the event loop, you'll need to retrieve the data in an Async manner. I have not used Google Cloud Storage, so I am not aware if there is a non-blocking client for it.

[2022-02-08 08:39] sandronm commented on #18764
Hello!

Do you think there will be someday a support for @Transactional annotation @michael-simons ?
In fact, I don't really care if it's a JTA transaction or not, but the problem is I just don't want to share between application layers the Transaction object and at the same time, I don't want to do all the logic in my repository layer.

But yes, for sure, it's just a "nice to have" in the end.

[2022-02-08 08:54] geoand commented on #23492
@iocanel it seems like the `image-pull-policy` configuration is only applied to Vanilla Kubernetes. That sounds like a bug, no?

[2022-02-08 08:59] famod commented on #23300
@KyriacosP the plan is today: https://groups.google.com/g/quarkus-dev/c/-Xt8cP05Hog

[2022-02-08 09:04] #19617 closed

[2022-02-08 09:04] franden opened #23505 "Quarkus 2.7.0: BasicLoggingEnabler requests configuration without set LaunchMode.TEST"
In our project we have a custom ConfigSource which access MongoDB to read the configuration. The MongoDB connection string will be injected as `ConfigProperty` to the application according to the set `quarkus.profile`.  The connection string is present in the `application.yml` only for the profiles `test` and `dev`, to be able to run tests and dev mode during the development. For real deployments

[2022-02-08 09:55] fedinskiy opened #23506 "Quarkus CLI option for working with custom maven settings"
### Description

When working with Quarkus CLI, it may be desirable to have a separate maven settings file, but undesirable to have it as a default "/.m2/settings.xml". For that case, it would be convenient to have an option, which will be work in a manner similar to `mvn -s settings.xml`.

### Implementation ideas

Several:
1. New option (`--maven-settings`) which accepts a path to a file, which

[2022-02-08 10:19] ennishol opened #23507 "Indicate the triggering of re-running the tests in console"
### Description

I noticed that starting with 2.7.0 Continuous testing got much slower as in 2.6.3 version. I have to wait a lot more to get results after some changes have been done in the code.

Since nothing seems to happen in the console after code changes, I press 'r' or 'f' and then get the message that re-running of the tests is already in progress. To avoid that, please add at least a mess

[2022-02-08 10:49] geoand commented on #23505
cc @famod

[2022-02-08 11:17] #23501 closed

[2022-02-08 11:30] sberyozkin opened #23510 "OidcClient does not send a client id if the client is public"
### Describe the bug

It assumes the client has a secret and if it does not then it misses a client id.
`quarkus-oidc` does not miss it though if the client is public

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if

[2022-02-08 11:48] camboui opened #23511 "ClassLoader can't find resource since 2.7.0"
### Describe the bug

Hi,

After updating from 2.6.3-Final to 2.7.0-FInal, I've been trying to load a certificate file with property:
`quarkus.http.ssl.certificate.file=META-INF/certs/server.pem` (I know it's deprecated)
but it ended with a "FileNotFoundException".

After digging a bit, using this property then calls `Thread.currentThread().getContextClassLoader().getResourceAsStream(path);` in Ve

[2022-02-08 11:54] geoand commented on #23511
cc @aloubyansky

[2022-02-08 12:32] aloubyansky commented on #23511
Sure, if the path argument uses `\` as a separator, it's not expected to work. If you read the javadoc for `java.lang.ClassLoader.getResource(String)`:
[code]

[2022-02-08 12:34] manovotn commented on #22645
I will look into implementing this
I also stumled upon a very old issue where we apparently already knew this was missing but it got lost - #6156

[2022-02-08 12:42] gsmet commented on #23511
@aloubyansky I'm a bit confused, I see `/` in the report?

[2022-02-08 12:48] aloubyansky commented on #23511
The property, right. The config option is mapped to `java.nio.file.Path`. I'll fix it. My comment was about the code in the class.

[2022-02-08 13:06] aloubyansky commented on #23511
Thanks for reporting the issue @camboui

[2022-02-08 13:09] ahofmeister commented on #6253
Just checking: Are there any plans to implement this feature request?

[2022-02-08 13:21] camboui commented on #23511
You're welcome :)

I still can't figure out what changed between 2.6.3 and 2.7.0 to break this, even after some source diving and diff matching. I can't sleep with it ! Do you have a any clue ? (If you don't have time, don't bother 😉 )

[2022-02-08 13:32] aloubyansky commented on #23511
As you noticed we have a new ClassPathElement implementation in 2.7 which pretty much replaces Jar- and Directory- ClassPathElement impl. And now we appear to be more strict when it comes to the resource names. So it's a bug in the VertxHttpRecorder that is calling `Path.toString()` expecting it always be a valid resource name.

[2022-02-08 13:39] famod commented on #23505
I'll have a look later. Do you have a small reproducer to play around with?

[2022-02-08 13:52] sberyozkin commented on #23510
I've removed a reference to the `password grant` from the description as the problem applies for all the grants

[2022-02-08 13:57] ennishol commented on #23507
Ok, the slowness was caused by `quarkus.class-loading.reloadable-artifacts=com.my.libs` setting, which was not a problem before.
It still might be useful to have an indication of restarted tests as described.

[2022-02-08 13:58] rsvoboda commented on #23506
Adjustments of `.mvn/maven.config` work for generated project. But how to handle `quarkus create app myapp` case?

[2022-02-08 14:07] rsvoboda commented on #23506
Well, are maven artifacts needed for `quarkus create app myapp`? Maybe for codestarts, right?

[2022-02-08 14:16] ebullient commented on #23506
the usual maven environment variables will also work. MAVEN_OPTS / MAVEN_ARGS

[2022-02-08 14:31] joerg-db opened #23515 "Quarkus cache CompositeCacheKey only consists of method arguments - should include method name as well"
### Description

Currently, the CompositeCacheKey of the Quarkus cache (caffeine) extension is calculating a deep hash on the list of method arguments. This is not sufficient if there are multiple different methods with the same signature.

Sample :  method getXYZ(String x, String z) and method getABC(String x, String z) would result in conflicting/equal CompositeCacheKeys leading to unexpected be

[2022-02-08 14:32] rsvoboda commented on #23506
@fedinskiy please check if provided info makes your use-case possible now.

About MAVEN_ARGS, this is not working for me (using registry.quarkus.redhat.com, redhat maven repo enabled in my custom settings, but `~/.m2/settings.xml` still gets picked
[code]

https://maven.apache.org/configure.html#maven_args-environment-variable says it's Maven 4 thing

[2022-02-08 14:38] michael-simons commented on #18764
Hey @sandronm I still have the branch in which I hook into Nayara JTA transaction and I played around with it after your comment to see if it still works with the new extension https://github.com/quarkiverse/quarkus-neo4j

In theory it would, and it would also be easier to add it into the extension, but the commentns of my general understanding of the JTA mechanism in place makes me wonder if its

[2022-02-08 14:40] zakkak opened #23517 "Quarkus' DiagnosticPrinter incompatible with GraalVM / Mandrel 22.1-dev"
### Describe the bug

A [recent GraalVM refactoring](https://github.com/oracle/graal/commit/56804e7227510acbfac9c658905cb614eec57d73) moved `com.oracle.svm.core.posix.thread.PosixJavaThreads#getPthreadIdentifier` and `com.oracle.svm.core.posix.thread.PosixJavaThreads#hasThreadIdentifier` to a new class `com.oracle.svm.core.posix.thread.PosixPlatformJavaThreads` making the following code to cause n

[2022-02-08 14:41] sandronm commented on #18764
I hope somebody will be able to help you then ;-)
Unfortunately I'm not familiar neither with the JTA transaction mechanism behind the scene.

[2022-02-08 14:42] gsmet commented on #23517
Do we still need `DiagnosticPrinter`? /cc @stuartwdouglas

[2022-02-08 14:43] gwenneg commented on #23515
Hi @joerg-db.

If the method name was included in the cache key, then in the following code `invalidate` would no longer be able to invalidate the data cached with `load`.

[code]

The "collision" between the methods cached data because of identical keys (composite or not) is actually intentional. If you need to make sure the values from 2 methods are not mixed in the cache, I would advise to use

[2022-02-08 14:46] joerg-db commented on #23515
Thx - that could be an option, but I would end up with lots of caches then. I would also suggest to clearly describe that behaviour in the docs, as it came totally unexpected to me that results of different methods are mixing up in the cache. Only found out during my unit tests.
Btw, during my test I found that [quarkus.cache.caffeine."cache-name".metrics-enabled](https://quarkus.io/guides/all-con

[2022-02-08 14:48] gsmet commented on #6253
I had a quick look and I fail to understand what you want to do.

Could you enhance the description with a full example of what you want to do in the code and how it should behave? That might help me grasp what you want.

[2022-02-08 14:50] gwenneg commented on #23515
No the cache key is built from the values only, the names are ignored.

[2022-02-08 14:50] gwenneg commented on #23515
Good point, I'll update the doc.

[2022-02-08 14:51] gwenneg commented on #23515
That's weird, it works in our [integration test](https://github.com/quarkusio/quarkus/blob/b8ad9658f99026d80a67805b6d4b44d20dbd34c3/integration-tests/cache/src/main/resources/application.properties#L9) AFAIK. I'll check that.

[2022-02-08 14:51] gsmet commented on #23515
Can you open an issue for this with a reproducer?

I wonder if we should have some sort of templating feature for the caches. E.g. you could have a default template for additional caches config. And you could also have named templates that you could point caches to.

Does it make any sense? /cc @gwenneg

[2022-02-08 15:05] gsmet commented on #23515
Yeah so that's normal. It's a 2.7 feature :).

[2022-02-08 15:06] geoand commented on #23517
I've been wondering the same for a while...

[2022-02-08 15:09] joerg-db commented on #23515
or am I missing a required extension to get these metrics enabled ?

[2022-02-08 15:14] joerg-db commented on #23515
ok, understood - thx.

Coming back to the "CompositeCacheKey" problem for methods with same signature.

How about introducing a new optional field in the @CacheResult and corresponding annotations (like @CacheInvalidate) to give a suffix to the computed composite key ?

Something similar to
@CacheResult(cache-name='mycache', cache-key-suffix='mysuffix')

That would make the keys unique per method

[2022-02-08 15:26] xstefank commented on #22896
@jmartisk @vsevel I wasn't following this lately. Do I need to backport upgrade somewhere?

[2022-02-08 15:28] edeandrea commented on #23425
@gsmet how do we get this to show up on https://status.quarkus.io ?

[2022-02-08 15:29] sberyozkin commented on #23268
@fedinskiy Please note the documented workaround from Stian in the https://github.com/keycloak/keycloak/issues/9916 description

[2022-02-08 15:39] computerlove opened #23519 "Vert.x DnsResolver fails on Quarkus 2.7.0 because jndi is disabled"
### Describe the bug

Vert.x use jndi to lookup dns servers, since jndi is disabled by default `DefaultDnsServerAddressStreamProvider` falls back to Google DNS. If these are not reachable from the application it crash with
[code]

### Expected behavior

The application resolves DNS and starts normally.

### Actual behavior

The application it crash with
[code]

Connecting to the instance with debu

[2022-02-08 15:45] glefloch commented on #18028
I created a simple reproducer and I'm not able to reproduce the error with the latest quarkus version. I'm closing the issue.
@asodja @liuzqt feel free to reopen it if you have a failing reproducer.

[2022-02-08 15:45] #18028 closed

[2022-02-08 15:56] #13579 closed

[2022-02-08 16:08] famod commented on #23505
As a short term remedy, I suggest disabling `BasicLoggingEnabler` via `src/test/resources/junit-platform.properties`:
[code]
(the second line is only to retain the orderer)

You should then also apply the exclusion for `quarkus-junit5-properties` as described in the second part of https://quarkus.io/guides/getting-started-testing#testing_different_profiles

If you have to rely on JUnit autodetecti

[2022-02-08 16:23] manovotn commented on #23300
Since https://github.com/quarkusio/quarkus/pull/23436 was merged, I can think we can close this issue.

[2022-02-08 16:23] #23300 closed

[2022-02-08 16:44] Lukpier commented on #23442
Hi All,

Just encountered a related problem. I'm trying to use `quarkus-amazon-lambda-rest` together with quarkus-resteasy-reactive-jackson.

Unfortunately, when trying to call the endpoint described in the main issue description, I receive an automatic BAD_REQUEST from quarkus context. Why does it is happening?

Tried also `quarkus-resteasy-jackson` and everything goes fine, but I was trying to u

[2022-02-08 17:11] sschu commented on #6624
@Sanne any progress on this issue? The current driver version is 10.2 and there are also different version for jre8 and jre11. We would like to use the current version for Keycloak.X based on Quarkus.

[2022-02-08 17:19] aloubyansky commented on #23507
@ennishol thanks for reporting the issue. Does it detect the same amount of tests? Is it a multimodule project? Approximately how many modules does it include? Any more info you can share for us to try and reproduce the issue?

[2022-02-08 17:51] vsevel commented on #22896
hi @xstefank
I assumed https://github.com/smallrye/smallrye-health/pull/357 was in 2.7.0
it is not?

[2022-02-08 17:58] vsevel commented on #7507
great reactivity. thanks @mkouba

[2022-02-08 18:06] ahofmeister commented on #6253
@gsmet @geoand Okay. I will add a full example providing in a repository. :) Thanks for checking.

[2022-02-08 18:11] mweber03 commented on #23276
@geoand It looks like it doesn't work for `quarkusDev`, which is how I was running.

[2022-02-08 18:24] gsmet commented on #23276
@mweber03 can you provide a small reproducer with instructions? That really helps us as it's sometimes quite hard to reproduce the initial issue with partial information.

Thanks.

[2022-02-08 19:05] #23511 closed

[2022-02-08 19:23] mklueh commented on #23269
Is this now not required anymore, as this issue is closed?

[2022-02-08 19:32] famod commented on #23519
/cc @cescoffier

[2022-02-08 19:43] gsmet commented on #23519
/cc @stuartwdouglas too as that might make us reconsider the no JNDI by default move.

[2022-02-08 19:48] vsevel commented on #22896
ok. no problem. we can wait. thanks for asking.

[2022-02-08 19:53] gsmet commented on #23519
I'm not sure this is enough.

We changed the default behavior and we are contacting external DNS servers by default. Really not sure it's something we should do.

[2022-02-08 20:17] ricardozanini commented on #16401
@FroMage @gastaldi @maxandersen @michalszynkiewicz @geoand and others in this thread, I invite you to take a look at: https://github.com/quarkiverse/quarkus-openapi-generator/pull/3

PLEASE, bear in mind that the current implementation is a minimal use case. We take the spec file to generate the most basic, standard, generic rest client. I think it's a good starting point. I just want to have some

[2022-02-08 20:18] gastaldi commented on #16401
@phillip-kruger might be interested too

[2022-02-08 20:38] mklueh commented on #23278
@Sanne I know this issue is closed, but I'm still stuck and I don't know if there is a bug or something wrong with my implementation, although I got a bit further already:

I'm testing with k6 and 100 req/s using **Quarkus 2.7.1**.

If I use **persistAndFlush** instead of **persist**, I'm getting 20 entries, if the pool size is 20 defined with

`quarkus.datasource.reactive.max-size=20`.

**This wo

[2022-02-08 20:44] DavideD commented on #23278
That's exected. Persist on it's own it's not going ot apply  the changes to the database. You need to commit a transaction or flush the session (that's why persistAndFlush will apply the changes)

[2022-02-08 20:49] DavideD commented on #23278
I haven't tested it, but can you try to use the `@NonBlocking` annotation:
[code]

Although, this should be the correct signature:
[code]

[2022-02-08 20:54] rsvoboda opened #23525 "MS SQL dev service can't be used asap, users need to add container-license-acceptance.txt file"
### Describe the bug

MS SQL dev service can't be used asap, users need to add container-license-acceptance.txt file

One sees quite a long stacktrace with this root cause:

[code]

Can be the file generated for users with the value of the image used for dev service?
Topics for consideration:
 a) is generated container-license-acceptance.txt allowed by MS or users need to add it on their own?
 b)

[2022-02-08 21:06] gsmet commented on #23525
This is done on purpose. We can't accept a license agreement automatically.

[2022-02-08 21:06] #23525 closed

[2022-02-08 21:17] magori commented on #19434
The documentation https://quarkus.io/guides/resteasy-reactive only talks about this property "quarkus.rest.path" and does not define that it is deprecated.

[2022-02-08 21:21] GregJohnStewart opened #23528 "Allow `@QuarkusTest` and `@QuarkusIntegrationTest` to coexist in same test suite"
### Description

I am running across some major hurtles with `@QuarkusTest` vs `QuarkusIntegrationTest`. Essentially, it makes sense to me as a developer that I would want to run both in the same `test*` command, and for the test codebase to comingle.

What I want to accomplish with this:

 - have the same tests for both native and non-native mode (possible in Maven, but not Gradle?)
 - simplify t

[2022-02-08 21:35] GregJohnStewart opened #23529 "Allow injection of beans created in the `test` suite in `@QuarkusInterationTest`s"
### Description

 It is quite a handy tool for writing tests to be able to `@Inject` beans established within the `test` source-suite.

It makes sense that internal services, from `main` should not be available to tests running as `@QuarkusIntegrationTest`, but these beans that only use resources created from within the `test` suite should be able to be wired in.

### Implementation ideas

If the

[2022-02-08 21:52] lomanm opened #23531 "Integration Test Container Network"
### Describe the bug

### Description
While running Quarkus Integration Tests with ```quarkus.container-image.build=true```, I would like to be able to prevent Quarkus from placing the Native app docker container (and my Test Resource docker container) inside a custom docker network. Alternatively, I would like to be able to specify the docker network that Quarkus placed these containers in.

My c

[2022-02-08 22:00] stuartwdouglas commented on #23507
There should already be a message. Any chance you could record a quick screen capture showing the problem? `reloadable-artifacts` will always slow things down as the full library needs to be reloaded, but it should not make that much difference.

[2022-02-08 22:09] ebullient commented on #19434
Can you open a new issue?

[2022-02-08 22:20] nderwin opened #23534 "RolesAllowed overrides OpenAPI definitions for 401 and 403 responses"
### Describe the bug

I noticed the when I added `APIResponse` annotations to my REST endpoint to document the 401 and 403 responses, the OpenAPI documentation overrides my descriptions, and instead shows "Not Authorized" (401) and "Not Allowed" (403).  I've traced this down to using the `RolesAllowed` annotation.  If I use `Authenticated`, or no annotation at all, then the documentation reflects

[2022-02-08 22:21] nderwin commented on #23534
Reproducer:  [openapi-example.zip](https://github.com/quarkusio/quarkus/files/8027918/openapi-example.zip)

[2022-02-08 23:17] stuartwdouglas commented on #23519
So this is really yuck, basically it seems like a JNDI hack is the only way to get the name servers to use: https://mail.openjdk.java.net/pipermail/net-dev/2017-March/010695.html

Annoyingly we can't really just enable some operations, just because of the way JNDI is implemented. All I can think of at this point is some kind of build item that would let you init classes before we disable JNDI.

An

[2022-02-08 23:21] gpor0 commented on #21574
Any updates on this, some people are having issues using Quarkus along with new versions of libraries already having jakarta.validation dependencies. As a result we are in dependency conflict state and therefore stuck with the old versions since Quarkus does not provide a way to switch to new version. I know the pain and this should handled differently by Jakarta, but is it possible to make some k

[2022-02-08 23:29] gsmet commented on #23519
Mmmh, can you really resolve the DNS config at build time (in the case of a native executable)?

For me it's typically the type of things you will need to resolve at runtime.

[2022-02-08 23:34] gsmet commented on #21574
@gpor0 which libraries?

[2022-02-08 23:34] phillip-kruger commented on #23534
Thanks, I think this is the auto security that does this. I'll have a look a.s.a.p

[2022-02-08 23:38] gpor0 commented on #21574
One of the examples in my case is Jooq but I believe many projects will start upgrading to newer versions of Jakarta soon...

[2022-02-08 23:39] stuartwdouglas commented on #23519
It appears that in native we just force the use of the blocking provider, so this is not an issue: https://github.com/quarkusio/quarkus/blob/262f5955cd35c1f36572124968723e613bacadcd/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/core/runtime/graal/VertxSubstitutions.java#L54

[2022-02-08 23:42] gsmet commented on #21574
Well, the newer versions of Jakarta are not yet ready. But sure, that's gonna happen.

And we will move to them. We just haven't agreed on a schedule yet.

Anyway, it's a good thing to list things that start to become problematic here.

[2022-02-08 23:43] #23489 closed

[2022-02-09 00:36] stuartwdouglas commented on #23517
I don't know, I don't use it. If people do actually use it then it seems like the sort of thing that you could put in a library rather than Quarkus core.

[2022-02-09 02:41] SetoKaiba opened #23539 "HTTPS SSL is not working anymore in 2.7.1.Final"
### Describe the bug

It works in 2.6.3.Final. When I update to 2.7.1.Final, it doesn't work anymore. It can't find the certificates.
It works if I switch back to 2.6.3.Final.

### Expected behavior

It should work like before.

### Actual behavior

It doesn't work.

__  ____  __  _____   ___  __ ____  ______
 --/ __ \/ / / / _ | / _ \/ //_/ / / / __/
 -/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\__

[2022-02-09 05:27] ahofmeister commented on #6253
I managed to build a reproducer and will also attach it to the description: https://github.com/ahofmeister/reproducer-path-param

[2022-02-09 05:38] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1816272263

[2022-02-09 06:24] Sgitario opened #23540 "Extension for Helm"
### Description

From Dekorate 2.9.0 (unreleased yet), Dekorate will include a new module to generate Helm artifacts (see https://dekorate.io/docs/helm).
Dekorate is already used by Quarkus to generate OpenShift and Kubernetes artifacts, so it would be great to have the Quarkus Helm extension to also generate the Helm artifacts.

Interested in this extension, please +1 via the emoji/reaction featu

[2022-02-09 06:24] cescoffier commented on #23519
Now that you are mentioning it, don't we use the blocking DNS resolver in JVM mode too?

[2022-02-09 06:24] Sgitario commented on #23540
I guess this is a good candidate for Quarkiverse.
Also, I'm interested in leading the development of this extension.

[2022-02-09 06:39] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1816272263

[2022-02-09 06:47] cescoffier commented on #23519
@computerlove Can you try to run with `-Dvertx.disableDnsResolver=true`?

[2022-02-09 06:56] amitkumar7566 commented on #22595
@patriot1burke @paulrobinson
I can see that Quarkus released 2.7.1.Final yesterday.
Is this X-Ray fix available in 2.7.1.Final too ?

[2022-02-09 07:30] mklueh commented on #23278
@DavideD I had to make it return Object or MyEvent instead of Void

[code]

The number of inserts does not change, but the exception does

Could it be, that I then would need the `@Outgoing` annotation if I have a return type in place?

Also, `@NonBlocking` does not change anything. The method is not allowed to block anyway, as it is running on the vertx event loop thread

[2022-02-09 07:37] joerg-db commented on #23515
just to recap what options exist to overcome any composite key conflicts for methods having the same signature
1) Use different caches and select the proper cache by name : I would end up with many caches actually having the same eviction config just to work around the key clashes. Not very elegant imo
2) I could introduce a further argument to my methods that would act as a key name : also not ve

[2022-02-09 07:53] geoand commented on #22595
Yes, the fix is available since `2.7.0.Final`

[2022-02-09 07:55] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1816254873

[2022-02-09 07:58] mkouba commented on #23529
Hm, the problem is that `src/test/java` becomes part of the tested app. @geoand @aloubyansky correct me if I'm wrong pls.

Anyway, I think that it would be quite error prone and confusing because those _"test-only"_ beans should only inject other _"test-only"_ beans and even if we introduce a new marker annotation e.g. `@TestBean` for such beans, all other beans will be on the classpath.

What kin

[2022-02-09 08:00] evacchi commented on #12486
@cristianonicolai @AntStephenson just a timeout or...?

[code]

[2022-02-09 08:03] ennishol commented on #23507
@aloubyansky

- it detects same amount of tests
- it is not a multi-module project
- I can only set log level to DEBUG:
[code]

As you can see there is ca.15 seconds gap between 2 last log messages

[2022-02-09 08:09] ennishol commented on #23507
@stuartwdouglas  Unfortunately I can't share the screen, but the logs. There is actually nothing to see after code change without DEBUG level. No message that the tests were retriggered:
[code]

With debug level see previous comment above

[2022-02-09 08:10] geoand commented on #23529
Correct

I completely agree

[2022-02-09 08:12] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1816272009

[2022-02-09 08:16] geoand commented on #6253
Thanks for the reproducer.

To be honest, this sounds like a very niche feature to me.

[2022-02-09 08:16] rsvoboda commented on #23525
Ok, thanks for clarification.

[2022-02-09 08:17] jtama commented on #12680
The kubernetes java client has been updated. Could we hope a progress on this now ?
https://github.com/kubernetes-client/java/issues/2095

[2022-02-09 08:18] geoand commented on #12680
Not sure what you are asking for, can you elaborate please?

[2022-02-09 08:20] geoand commented on #23539
@aloubyansky seems like a duplicate of https://github.com/quarkusio/quarkus/issues/23511, correct?

[2022-02-09 08:20] RuggeroDAlo opened #23541 "Mention docker image user changed due to base image change in jib for 2.7.0"
### Description

The migration guide mentions that the base image used by jib has changed from `fabric8/java-alpine-openjdk11-jre` to `registry.access.redhat.com/ubi8/openjdk-17-runtime:1.11`: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.7#jib

`java-alpine-openjdk11-jre` doesn't set a `USER` by default so the container runs as `root`, while `registry.access.redhat.com/ubi8/openjdk-

[2022-02-09 08:22] jtama commented on #12680
The okhttp version used in quarkus is really old. Until now we couldn't update it because it was used by the kubernetes java client. Now that the lib has updated it's okhttp dependency, can we hope to do so in the universe bom ?

The minio extension depends on the minio sdk, but. we are stuck in an obsolete version because of this okhttp version mismatch.

[2022-02-09 08:22] geoand commented on #23528
`@QuarkusIntegrationTest` should only be used for integration tests, i.e. tests run by Maven Failsafe.

Did you have encounter problems in such a setup?

[2022-02-09 08:25] gwenneg commented on #23515
`3` is an interesting option but if we go that way, I would prefer a more flexible key builder/generator that would be implemented by the app developer from an interface provided by `quarkus-cache`. The args could be the method name, arguments, return type, etc.

`1` and `2` are the two options that can be used immediately indeed.

[2022-02-09 08:26] geoand commented on #12680
We use the [Fabric8 Kubernetes Client](https://github.com/fabric8io/kubernetes-client) which is not going to be upgraded to okhttp `4.x`

[2022-02-09 08:29] gwenneg commented on #23515
[code]

[2022-02-09 08:30] geoand commented on #23541
Good point! Done

[2022-02-09 08:30] #23541 closed

[2022-02-09 08:31] gwenneg commented on #23515
Are you thinking of a template for cache keys or something that would only cover the configuration from `application.properties` or both at the same time? 😃

[2022-02-09 08:39] gsmet commented on #12680
@geoand any news on the move to the Vert.x client? I can feel the pain of the users as I also started having compatibility issues between what libraries use and what we enforce (typically the version we enforce can't be used anymore with the GitHub API).

[2022-02-09 08:42] computerlove commented on #23519
`-Dvertx.disableDnsResolver=true` does seem to work. My breakpoint in `DefaultDnsServerAddressStreamProvider` is never hit, and startup now fails because Vault has CIDR restrictions on the particular secrets. (running locally)

[2022-02-09 08:42] geoand commented on #12680
AFAIK, the first step of introducing an abstraction layer is done and the next step is to move to JDK 11's HTTP Client. Using the Vert.x client is likely something going to be done in the midterm...

I absolutely understand the issue with the old OkHTTP version and hopefully sometime soon we'll be able to  completely remove it from the BOM so users can use whatever version they need.

[2022-02-09 08:51] geoand commented on #23517
I propose we just remove it for starters...

[2022-02-09 08:53] jtama commented on #12680
And is there anything we can do to help on the subject ?

[2022-02-09 09:09] geoand commented on #12680
Not that I know of, but @manusa would know more

[2022-02-09 09:18] aloubyansky commented on #23539
Yes, it should already be fixed in main.

[2022-02-09 09:19] #23539 closed

[2022-02-09 09:20] gwenneg commented on #23515
Here's a quick and dirty [example](https://github.com/gwenneg/quarkus/blob/bf22a2c6b3e2deeada87a3e99b5c5cec05aab07e/extensions/cache/deployment/src/test/java/io/quarkus/cache/test/runtime/CacheKeyGeneratorTest.java) of what I described above and the corresponding [PR](https://github.com/gwenneg/quarkus/pull/209) on my fork. It may not build, I improvised that super quickly 😄

[2022-02-09 09:32] zakkak commented on #23517
That would still leave us with a dependency on GraalVM's internals, i.e. `PosixJavaThreads.getPthreadIdentifier`.

I have created https://github.com/quarkusio/quarkus/pull/23542 to resolve this issue without removing `DiagnosticPrinter`. We could probably add a deprecation note before completely removing it.

[2022-02-09 09:40] manusa commented on #12680
The underlying HTTP client implementation (currently OkHTTP) will be completely abstracted away in v6.0.0 of the Fabric8 Kubernetes Client, as Georgios mentioned.

@shawkins has done an excellent job on this initiative. The initial step to provide a httpclient-less API for the client is in https://github.com/fabric8io/kubernetes-client/pull/3654, which should be merged by the end of this week.

Ne

[2022-02-09 09:46] #23510 closed

[2022-02-09 09:47] #22974 closed

[2022-02-09 10:06] gsmet commented on #23539
@SetoKaiba this will be fixed in 2.7.2.Final.

[2022-02-09 10:16] franden commented on #23505
Thank you for the quick reply and suggestion for short term remedy.
Here you can find a reproducer: https://github.com/franden/issue-with-profiles-for-test

[2022-02-09 10:20] geoand commented on #23531
https://github.com/quarkusio/quarkus/pull/23543 will allow you to specify `quarkus.test.container.network=dummy-network=my-network`

[2022-02-09 10:50] fedinskiy opened #23544 "Cache for native images is not created when option com.redhat.fips=false is used"
### Describe the bug

According to https://github.com/quarkusio/quarkus/pull/20355, when a native image is built, build cache  folder target/*native-image-source-jar/test. Although, when native image is run with parameter `-Dquarkus.native.additional-build-args=-Dcom.redhat.fips=false` (even on machines with FIPS disabled), this folder is not created.

### Expected behavior

Disabling FIPS should

[2022-02-09 10:57] manuelwallrapp commented on #22251
If I want to cache the outcome of a Multi as an Uni, it causes a blocking Thread as well. In my opinion that should work:

@CacheResult(cacheName = "uniListCache")
    public Uni<List<String>> getRepos(String projectKey) {
        return Uni.createFrom().item(myGitReposMulti.subscribe().runSubscriptionOn(Infrastructure.getDefaultWorkerPool()).asStream().collect(Collectors.toList()));
    }

Can yo

[2022-02-09 10:59] Jong-uk-Kim opened #23545 "QuarkusTestExtension has error into 2.7.1-Final"
### Describe the bug

io.quarkus.test.junit.QuarkusTestExtension has exception

i think this error occurred by io.quarkus.test.junit.QuarkusTestExtension.doJavaStart

### Expected behavior

execute successfully

### Actual behavior

[code]

![Screenshot 2022-02-09 195140](https://user-images.githubusercontent.com/18492684/153185182-9d0ca4b3-6222-4faf-b8d3-ca73cfa85dc8.jpg)

### How to Reproduce?

[2022-02-09 11:10] geoand commented on #23545
What maven version are you using?

[2022-02-09 11:12] geoand commented on #23545
cc @aloubyansky

[2022-02-09 11:17] zakkak commented on #23544
@fedinskiy when passing `-Dquarkus.native.additional-build-args=-Dcom.redhat.fips=false` you are essentially overriding `quarkus.native.additional-build-args` which is defined as `quarkus.native.additional-build-args=-H:GenerateDebugInfo=1, -H:-SpawnIsolates, -H:DebugInfoSourceCacheRoot=test` in `docker-build/src/main/resources/application.properties`.

Running:
[code]
works as expected.

[2022-02-09 11:18] fedinskiy commented on #23544
@zakkak is there a way to just add  parameters, without overriding them?

[2022-02-09 11:21] cescoffier commented on #23519
The Vert.x recorder should do that for you except if you explicitly enabled the async DNS (which I would not recommend):

[code]

[2022-02-09 11:21] cescoffier commented on #23519
However, to go back to the vaul initialization issue, maybe it happens BEFORE, and it should pass that property explicitely.

[2022-02-09 11:25] mkouba opened #23547 "SecurityConstrainer may cause BlockingOperationNotAllowedException"
### Describe the bug

Setup: `resteasy-reactive`, `security`, proactive authentication is **disabled** (`quarkus.http.auth.proactive=false`)

A `BlockingOperationNotAllowedException` is thrown when a resource method is annotated with `@RolesAllowed` and `@NonBlocking` and the method does not return an async type (`Uni<T>`).

It seems that permissions defined via config in `application.properties`

[2022-02-09 11:25] mkouba commented on #23547
CC @michalszynkiewicz

[2022-02-09 11:30] vsevel commented on #23519
since vault is a config source, it may be executing very early on?
vault has its own recorder. may be I should force this system property as well? should I make that optional like you are doing in the Vert.x recorder?
this is a bit intrusive. could there be side effects? I am thinking that people using vault, are not necessarily thinking that this will disable the dns resolver automatically.

[2022-02-09 11:30] zakkak commented on #23544
AFAIK no. If you find a work around please let me know. I am also interested in doing so in some tests :)

[2022-02-09 11:35] fedinskiy commented on #23544
Got it, thank you! I suppose, we can close this issue?

[2022-02-09 11:59] cescoffier commented on #23519
Ah, yes config source are called before. So we would need to set this property and restore the initial value (or unset it if none)

[2022-02-09 12:00] #23544 closed

[2022-02-09 12:17] Jong-uk-Kim commented on #23545
version is 3.8.1

[2022-02-09 12:27] geoand commented on #23545
I can't reproduce this with Maven `3.8.4` and Quarkus `2.7.1.Final`

[2022-02-09 12:36] aloubyansky commented on #23545
@Jong-uk-Kim could you run `./mvnw dependency:tree` and post its outcome here?

[2022-02-09 12:40] Ladicek commented on #22832
This is fixed in SmallRye Fault Tolerance 5.3.0, where in the non-compatible mode (which is on by default in Quarkus), exception cause chains are inspected.

[2022-02-09 12:43] marcogutto opened #23548 "(vert.x-eventloop-thread-1) Unable to look up TXT record for host serverlessinstance0.oagmp.mongodb.net"
### Describe the bug

I get the error:
(vert.x-eventloop-thread-1) Unable to look up TXT record for host serverlessinstance0.oagmp.mongodb.net.

In my contaiver resolv.conf file:

bash-4.4$ cat /etc/resolv.conf
nameserver 127.0.0.11
options ndots:0

I'm using the native image quay.io/quarkus/quarkus-micro-image:1.0.

It comes with ndots:0 by default.

Thanks in advance!

### Expected behavior

It

[2022-02-09 12:46] Ladicek commented on #19924
This is fixed in SmallRye Fault Tolerance 5.3.0, where reactive types support was refactored (dropped the dependency on SmallRye Reactive Converters, implemented our own conversion facility that supports lazy conversion).

[2022-02-09 12:48] loicmathieu commented on #23548
/cc @cescoffier

[2022-02-09 12:55] cescoffier commented on #23548
I'm aware of a few issues regarding the dns resolution. That's why the feature is experimental.
I don't have a good solution at the moment unfortunately.

[2022-02-09 13:04] lthasle opened #23549 "Resteasy reactive: @CircuitBreaker ignored when using RestClientBuilder"
### Describe the bug

@CircuitBreaker, it is ignored when a RestClient is build with the RestClientBuilder

se also:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Resteasy.20reactive.3A.20.40CircuitBreaker.20ignored.20when.20using.20RestCl

### Expected behavior

@CircuitBreaker should be working on clients build by the RestClientBuilder.
The same way as when it is injected wit

[2022-02-09 13:05] geoand commented on #23549
cc @michalszynkiewicz @Ladicek

[2022-02-09 13:11] Jong-uk-Kim commented on #23545
i tried `./mvnw dependency:tree` but still happen

[2022-02-09 13:15] Ladicek commented on #23549
This used to work with classic RESTEasy, because that implements interceptors on its own. RESTEasy Reactive, for obvious reasons, does not, so it doesn't work.

In the original conversation on Zulip, I said that maybe it would be enough to just instantiate the correct `...CDIWrapper` class, but it doesn't seem as easy as I thought it would be. In my opinion, the question is more like: does RESTEas

[2022-02-09 13:21] manovotn commented on #23529
What you describe sounds like a scenario that was commonly solved by adding CDI `@Alternative` beans to the test code which will be used instead of the bean that you have in `main`.

I also agree. Quite commonly people need to use most beans from `main` and then mock/override few that should behave differently. Hence the mocking abilities or plain CDI alternatives that exist in Quarkus.

[2022-02-09 13:29] edeandrea commented on #23417
Should I open a new issue @iocanel for this?

[2022-02-09 13:40] mkouba commented on #23529
Not really. I think that @GregJohnStewart wants to inject beans defined in the `src/test/java` into a `@QuarkusIntegrationTest` which is currently not possible because the app runs in a separate JVM than the test. We would have to spin up another CDI container for the "test-only" beans which is the confusing part I'm talking about ;-).

[2022-02-09 13:42] geoand commented on #23529
Although I totally understand where this is coming from, however `@QuarkusIntegrationTest` was explicitly designed to do black-box testing of the production application, so this is pretty much antithetical to the original purpose.
For that reason, I'll close this as `Won't fix`.

[2022-02-09 13:42] #23529 closed

[2022-02-09 13:47] michalszynkiewicz commented on #23549
just a note the same can be easily done by annotating methods that call the client methods

[2022-02-09 13:47] Ladicek commented on #23549
For the record, SmallRye Fault Tolerance 5.3.0 has programmatic API that could be used for this. I'm working on a PR to Quarkus as we speak :-)

[2022-02-09 13:52] GregJohnStewart commented on #23529
So the use case for these test-only beans is more to provide some of the utilities to facilitate testing, rather than actually do the testing; the best example I have at the moment is a `TestUserService` that can create new users for the application at will, and provide convenient utilities for persistence and configuration of the new user.

I personally feel that having the convention for these t

[2022-02-09 14:17] gwenneg commented on #22251
Hi @manuelwallrapp.

The thread is blocked because of the cached method body and not because of the `quarkus-cache` extension.

If you remove the `@CacheResult` annotation, the test will still fail. On the other hand, if you change the method body like this, the test will pass:

[code]

[2022-02-09 14:24] bkzoller commented on #15868
@jeffmaury @maxandersen This bug is still happening almost one year later after many new versions of Quarkus and Quarkus Tools. It's still failing on Quarkus 2.7.1.Final, Quarkus Tools 1.9.0.185 and IntelliJ IDEA Ultimate 2021.3.2. The plugin is still adding same old dependency versions of commons-io-2.5 and jackson 2.11 to the project dependencies, which are older versions than Quarkus itself use

[2022-02-09 14:34] maxandersen commented on #23517
having ability to get thread dump in native is useful. is there another way to get that than DIagnosticPrinter?

[2022-02-09 14:36] geoand commented on #23528
The idea is that the `@QuarkusIntegrationTest` tests **must** run **after** the application has been packaged. In Maven this is acomplished by having them run via failsafe (thus the `IT` suffix).
That way when one runs `mvn verify` (assuming failsafe has been configured to run for the `integration-test` or `verify` goals) the test are executed properly.
AFAIK, a similar case occurs when one invoke

[2022-02-09 14:39] DavideD commented on #23278
In the background, Quarkus needs to run things differently if your code is blocking on not.
If your method doesn't return a reactive type, like `Uni`, Quarkus assumes the code is going to be blocking. This will causes exceptions when using Hibernate Reactive.

`@NonBlocking` is should only be necessary if the method returns `void`.

Mmmh... wait... now that I look better, I'm noticing that you are

[2022-02-09 14:43] #23531 closed

[2022-02-09 14:46] DavideD commented on #23278
The error you are having doesn't seem related to using reactive: https://stackoverflow.com/questions/66559778/how-to-handle-error-srmsg00034-insufficient-downstream-requests-to-emit-item

(I mnight be wrong, though)

[2022-02-09 14:54] zakkak commented on #23517
You should be able to get the thread dump from `gdb` but it might not be as intuitive as the `DiagnosticPrinter` and it will also only work for native executables generated with debuginfo enabled:

1. break program execution (either at a breakpoint or using Ctrl-C)
2. dump traces with `thread apply all backtrace`

or one at a time:

2. list threads with `info threads`
3. select thread with `thread

[2022-02-09 15:17] GregJohnStewart commented on #23528
The proposal is that it should be easier to setup these integration tests; these tests should comingle in the `test` source sets with regular `@QuarkusTest`s, and not require special configuration, and run in the same task (`test`/`check`/etc)

If that means making the build/ package task a dependency for the tests, I feel that is reasonable.

A note that making `test` dependent on `quarkusBuild`

[2022-02-09 15:21] geoand commented on #23528
I personally don't feel there is nothing difficult about the current setup as it's based on standard build tool practices.

That is huge breaking change and from my perspective brings no real benefit.

I personally fail to see why the standard `test` vs `verify` Maven goal split is problematic. We are using these the way they were supposed to be used.

I'd like to hear what @famod and @edeandrea t

[2022-02-09 15:29] alissonmelonascimento commented on #23439
Thanks @tsegismont !

[2022-02-09 15:29] #23439 closed

[2022-02-09 15:39] evacchi commented on #12486
I think this is a failure on main

[2022-02-09 15:39] geoand commented on #12486
`main` Quarkus os Main Kogito?

[2022-02-09 15:42] evacchi commented on #12486
right, I meant Kogito /cc @cristianonicolai

[2022-02-09 15:53] mkouba opened #23553 "Introduce a hibernate reactive variant of the security JPA extension"
### Description

The `quarkus-security-jpa` extension depends on `quarkus-hibernate-orm` so it would have to live in a separate extension. However, the `@Username`, `@Password` and `@Roles` annotations could be shared.

### Implementation ideas

_No response_

[2022-02-09 16:01] edeandrea commented on #23528
So I'll chime in here with my $0.02. And for those who don't know me, I'm much more a Gradle fan than I am a Maven fan :)

Like @geoand mentions, integration tests must run after the application has been packaged, since those tests are run against whatever the output artifact is (jar file, container image, native binary, etc). This means that those test classes need to have a separate classloader.

[2022-02-09 16:16] aloubyansky commented on #23539
There is not much you can do with 2.7.0/1, unfortunately, except moving the crt and key to the root dir to avoid OS-specific path separators in the path string.

[2022-02-09 16:43] mklueh commented on #23278
@DavideD thanks a lot.

So I've now tried this now with Quarkus 2.7.1

[code]
and this

[code]

It also just inserts the amount of rows equal to the number of connections and then it throws an exception

at the `.onItem().invoke(link -> emitter.send(...))` call

of my emitter

[code]

Changing the invoke to call, like

`.onItem().call(link -> Uni.createFrom().completionStage(emitter.send(...)))`

[2022-02-09 16:49] edeandrea commented on #23528
@geoand I'm playing with this a little bit. If I have a Gradle project and inside `src/native-test/java/org/acme/ExampleResourceIT.java`:

[code]

If I then run `./gradlew clean build`, that test is NOT executed. It seems it only gets executed if I run the `testNative` task in isolation. Running the `testNative` task though tells Gradle to build a native image.

So maybe I see where @GregJohnStewa

[2022-02-09 17:09] geoand commented on #23528
I haven't used Quarkus with Gradle in a while, so I'll have to check and come back

[2022-02-09 17:19] lordofthejars opened #23558 "DevService for LRA"
### Description

When developing with MicroPofile LRA you need a coordinator. I think it is a candidate for DevServices so the coordinator is automatically started in Dev mode.

### Implementation ideas

Typical DevService starting LRA coordinator from Narayana project.

[2022-02-09 17:42] lordofthejars opened #23559 "Buildpack for Quarkus/Quarkus Native"
### Description

I've started using Quakrus Buildpacks but I couldn't find any buildpack for Quarkus, the only one that is available is of the Boson project but it is Boson-based and is not generic enough to work standalone.

### Implementation ideas

Develop a buildpack for Quarkus / Quarkus Native and use them as default configuration values

[2022-02-09 18:21] johnmcollier opened #23562 "java-quarkus Devfile stack fails to build `community` starter project"
### Describe the bug

I downloaded the `java-quarkus` stack from the [Devfile Registry](https://registry.devfile.io/viewer/devfiles/Community+java-quarkus), and used [odo](https://github.com/redhat-developer/odo) to deploy it onto Kubernetes, using the `community` starter project (https://code.quarkus.io/d?e=io.quarkus%3Aquarkus-resteasy&e=io.quarkus%3Aquarkus-micrometer&e=io.quarkus%3Aquarkus-sma

[2022-02-09 18:22] johnmcollier commented on #23562
Spoke with @maxandersen and he asked me to open an issue here for this issue

[2022-02-09 18:38] geoand commented on #23562
So this is about the maven version being out of date?
Where is it defined?

[2022-02-09 18:42] johnmcollier commented on #23562
@geoand It's coming from the registry.access.redhat.com/ubi8/openjdk-11:latest container image:
[code]

Which is specified here in the [java-quarkus devfile](https://github.com/devfile/registry/blob/main/stacks/java-quarkus/devfile.yaml#L22).

[2022-02-09 18:51] GregJohnStewart commented on #23528
Yeah, same on preferring Gradle myself :)

I fully understand the purpose of integration tests, and makes sense for separate source sets, where the `check` (or similar) command would tie them together (and run both). Yes, the maven model seems to be muddying the field, and I have thusfar been trying to keep things out of `native-test` as it felt like not the place for the tests I am wanting to imp

[2022-02-09 18:56] edeandrea commented on #23528
From my perspective the workflow you are mentioning (being able to run integration tests with a `check` or `build` task) is a valid one. You _should_ be able to run the integration tests against whatever the output of the build is.

In my opinion what is there currently is broken. One workaround I did find is that if you do `./gradlew build` and then follow it with `./gradlew nativeTest`, then int

[2022-02-09 19:09] geoand commented on #23528
cc @glefloch who knows more about the Gradle plugin than anyone

[2022-02-09 19:09] geoand commented on #23562
Thanks.

@maxandersen not sure what we can do here...

[2022-02-09 19:11] syr opened #23563 "Failed to start quarkus due to hibernate-orm datasource related config issue/bug(?)"
Hello, I am just starting with quarkus and just cannot get it started with two defined datasources (postgres, oracle), configured like
(Referring to https://quarkus.io/guides/datasource#other-databases)

[code]

In the stacktrace I have no clue whats wrong, assuming the warnings are not related.
Considering `Unable to determine a database type for default datasource` I also tried to remove the nam

[2022-02-09 19:33] DavideD commented on #23278
That's correct. You need to convert the `CompletionStage`.

I've checked the reproducer and applied these changes: https://github.com/DavideD/quarkus-reproducer-reactive-hibernate-smallrye-messaging/commit/5dd0807e770fc9144a5ef07fc76880a935c00f90

I cannot run the stress test, it seems it never find the host but I see some errors when adding some stress using `wrk`.
Everything works fine when I se

[2022-02-09 19:46] DavideD commented on #23278
Everything seems to work fine if I only use Hibernate Reactive (without Panache): 8209b66bdc7ed46e3363c102246a6664e83624d1

@mklueh Could you test it without panache and let me know, please?

[2022-02-09 20:24] lukaseder commented on #21574
For the record, jOOQ 3.16's upgrade was mostly driven by this: https://github.com/spring-projects/spring-boot/issues/28821 (Spring again).

[2022-02-09 20:27] christian-screen commented on #6790
Reporting that this added feature works well, thanks for implementing it,
`./mvnw quarkus:dev -Ddebug -DskipTests=true -Dquarkus.flyway.out-of-order=true`

[2022-02-09 21:10] manuelwallrapp commented on #22251
Hi @gwenneg

Oh my bad. The asStream call creates a blocking call. Thank you very much.

[2022-02-09 21:55] maxandersen commented on #23562
we'll need to either get mvn 3.8 included in ubi8 or we need to investigate if we can't avoid having to call out to 3.8 only API unless absolutely necessary.

@aloubyansky is it really required ?

[2022-02-09 21:56] maxandersen commented on #23562
like, it seem to build and run just fine with 2.6.x - no registry access needed afaics.

[2022-02-09 23:02] bjhargrave commented on #19970
FYI, https://github.com/eclipse/microprofile-config/pull/732 has been filed to update MicroProfile Config API to avoid the compiler warning issue.

[2022-02-09 23:48] famod commented on #23505
I'm currently testing a fix that will most likely end up in 2.7.2, which will be released on 21st of Feb.

[2022-02-09 23:57] famod commented on #7696
Small update: As of 2.7.1.Final, `application.properties` (and some other config sources) are _not_ picked up for configuring basic logging in unit tests.
I'm going to fix this, hopefully in 2.7.2.Final.

[2022-02-10 00:27] Jong-uk-Kim commented on #23545
**output**

PS C:\Users\wkdu4\source\repos\luxorigin> ./mvnw dependency:tree
[INFO] Scanning for projects...
Downloading from internal: https://peta.allbigdat.com/repository/internal/org/apache/maven/plugins/maven-deploy-plugin/2.7/maven-deploy-plugin-2.7.pom
Downloaded from internal: https://peta.allbigdat.com/repository/internal/org/apache/maven/plugins/maven-deploy-plugin/2.7/maven-deploy-plugi

[2022-02-10 00:30] Jong-uk-Kim commented on #23545
PS C:\Users\wkdu4\source\repos\luxorigin> ./mvnw dependency:tree
[INFO] Scanning for projects...
Downloading from internal: {private repository}/org/apache/maven/plugins/maven-deploy-plugin/2.7/maven-deploy-plugin-2.7.pom
Downloaded from internal: {private repository}/org/apache/maven/plugins/maven-deploy-plugin/2.7/maven-deploy-plugin-2.7.pom (5.6 kB at 3.9 kB/s)
Downloading from internal: {priva

[2022-02-10 01:28] Foobartender opened #23569 "2.7.1 broken when using hibernate-jpamodelgen with Kapt/Gradle (2.7.0 works)"
### Describe the bug

When using hibernate-jpamodelgen with Kapt/Gradle, the application doesn't work.

### Expected behavior

Should work.

### Actual behavior

* "Hibernate ORM is disabled because no JPA entities were found"
* JAX-RS endpoints aren't found.

### How to Reproduce?

1. Use the [attached project](https://github.com/quarkusio/quarkus/files/8037314/foo.zip) or create one as follows:

[2022-02-10 01:41] Foobartender commented on #23563
You still need a default datasource, i.e. one without a or b.

[2022-02-10 01:56] Jong-uk-Kim commented on #23545
i found cause, some package crashes when run unit test
so i close this issue

[2022-02-10 01:56] #23545 closed

[2022-02-10 02:45] cristianonicolai commented on #12486
seems to be a timeout while downloading and starting the devservice image, I increased the test timeout for now, lets see if the problem persists.

[2022-02-10 05:41] geoand commented on #23528
@glefloch can you perhaps take a look at the issues Eric mentions?

Thanks!

[2022-02-10 05:57] #23445 closed

[2022-02-10 06:00] #23486 closed

[2022-02-10 06:05] geoand commented on #23559
cc @iocanel @BarDweller

[2022-02-10 06:06] geoand commented on #23558
cc @mmusgrov

[2022-02-10 06:06] geoand commented on #23553
Definitely +1 for this

[2022-02-10 06:08] glefloch commented on #23528
Yes sure

[2022-02-10 07:11] cescoffier commented on #23519
So, the problem is only in the Vaul extension, not in Quarkus "core".

[2022-02-10 07:14] mkouba commented on #23529
This one would be problematic anyway as it would probably require other services running, i.e. not only CDI but also JPA etc.

[2022-02-10 07:31] glefloch commented on #23528
Looking back at the plugin code, we indeed have a `testNative` task that depends on `quarkusBuild`. When running the `testNative` task we force the `quarkus.package.type` property to `native`, meaning that running `./gradlew clean testNative` will first trigger a `quarkusBuild` with the system property `quarkus.package.type=native`.

When first running `./gradlew quarkusBuild` and then `./gradlew

[2022-02-10 07:40] geoand commented on #23528
I think so. @aloubyansky WDYT?

[2022-02-10 07:48] mklueh commented on #23278
I've adapted your changes now:

[code]

[code]

If the pool size is 5, I still get exactly 4 inserts, but 5 loads.

I've used this host to access the application running on the host system from the k6 Docker container 'http://host.docker.internal:8080/hello/invoke'.
Maybe there are some other ways to do it, but on my system it works fine.

However, reloading the page in the browser several times l

[2022-02-10 07:56] Sanne commented on #23553
+1

from a usability point of view, it would be nice if it could switch internal implementation automatically, based on the bound datasource being blocking or reactive.

[2022-02-10 08:00] ia3andy commented on #22773
I think we are reversing the problem, when the users are getting the hibernate extension alone and start coding, they will end up in the same situation where they need to add a driver. It seems totally healthy to me that codestarts are doing the same.

Most users will already have selected a driver alongside hibernate and it will work out of the box.
The few users which will have only selected hib

[2022-02-10 08:07] glefloch commented on #23528
This would also fix the issue faced in #22982

[2022-02-10 08:18] #23517 closed

[2022-02-10 08:21] joerg-db commented on #23515
I looked at your sample code and understood how a solution could be built.
Introducing a new KeyBuilder interface that let an app developer have control over how a composite cache key is actually built is definitely much more flexible than what I've suggested.

Looking forward for such a change to be released as I think it would be a real useful enhancement.

Just as a side note, what I'm currentl

[2022-02-10 08:26] loicmathieu commented on #22773
I'm on @ia3andy team on it ;)

If a JDBC driver is needed, it needs to be handled by our tooling (cli, code.quarkus.io, ...) or a clear exception needs to be thrown at first launch.

[2022-02-10 08:34] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1822003517

[2022-02-10 09:22] metacosm opened #23573 "Confusing, if not downright wrong, warning message"
### Describe the bug

I run my app in dev mode. I change a build time property in `application.properties` and the application properly restarts but I get the following warning in the console:

[code]

What is this message trying to tell me? What is the state of my property, i.e. is it `true` or is it `false`?

### Expected behavior

A clear message as to what happened.

### Actual behavior

The c

[2022-02-10 09:23] metacosm commented on #23573
Maybe better suited as a discussion? Though I'd argue that this is a bug in the current implementation because it conveys confusing information.

[2022-02-10 09:30] liteultom opened #23574 "`quarkus.hibernate-orm.sql-load-script` works with relative path but ignores absolute path"
## Describe the bug

Using `quarkus.hibernate-orm.sql-load-script` to create views in a PostgreSQL database. If I put the SQL file (`views.sql`) in a `sql` subfolder of the `resources` folder and configure the quarkus app like so :
[code]
it works, the script is executed at startup and the views are created.

##### However, if I give the absolute path of the file like so:
[code]
I have no error bu

[2022-02-10 09:31] maxandersen commented on #23573
Is there a formulation that you think would be better?

maybe something like "Build time property cannot be changed at runtime:
 - quarkus.operator-sdk.crd.apply was requested to be 'false', but it is buildtime fixed to 'true'" ?

 @radcortez @geoand

[2022-02-10 09:36] yrodiere commented on #23563
I wonder why, though? IIRC, when it comes to JPA persistence units, the default one is automatically disabled (unless explicitly configured) as soon as there are named persistence units. Can't we do the same for datasources?

On a side note, this NPE is definitely not good user experience, and that at least should be fixed. I'll look into it.

Could someone else more familiar with the agroal/datas

[2022-02-10 09:39] maxandersen commented on #23573
yes its true but I agree its not clear - thus I asked if there is a formulation that would been better and I gave my attempt.
Does that sound better or you have suggestion on how to make it clearer?

[2022-02-10 09:42] mmusgrov commented on #23558
Thanks @geoand

[2022-02-10 09:44] karesti commented on #23409
working on it

[2022-02-10 09:50] metacosm commented on #23573
I purposefully didn't detail what I did so that it wouldn't influence how the warning is interpreted in the absence of external information.

What I did was changed, while dev mode is running, the property from `false` to `true`. So why is the warning even talking about it being requested to be `false`? If the property value is properly changed to `true`, why do we even have a warning? What purpos

[2022-02-10 09:55] ia3andy commented on #23387
The working solution is as @rsvoboda described it to have:
[code]
I am working on the PR to fix the template.

[2022-02-10 09:58] liteultom commented on #23574
### Additional information
If the absolute path is wrong, I also get an error:
[code]
This seems to indicate the file is found with the absolute path, just not used ?

[2022-02-10 09:58] syr commented on #23563
Thanks for your feedback. As mentioned in the initial post, I already tried after making postgres the default datasource by removing 'a' but still get same stacktrace.

I adapted the application.properties, making postgres default AND also removed the quarkus.hibernate-orm.packages resulting in:

[code]

Now quarkus starts up without the mentioned exception, however messes up access by querying ta

[2022-02-10 10:05] yrodiere commented on #23563
That's because you didn't assign datasource b to persistence unit b:

[code]

[2022-02-10 10:10] DavideD commented on #23278
This is wrong if the send method returns a `CompletionStage`. It needs to be

[2022-02-10 10:34] KyriacosP commented on #23457
We were facing the same issue after upgrading from 1.11.2.FINAL to 2.7.1.FINAL. After some debugging we found out that the issue was happening only with jobs that were created using annotations. When the `QuartzScheduler` constructor tries to find the triggers for existing Jobs it uses as key the name of the job. It seems that in earlier version this key was suffixed with `_trigger` to create the

[2022-02-10 10:43] jendib commented on #23457
@KyriacosP From what I remember this `_trigger` was removed after the 2.x release. I had the same issue too (undocumented breaking change by the way). I may be wrong, but I think the issue I described in this ticket is yet another one. Thanks for the workaround 👍

[2022-02-10 10:54] geoand commented on #23573
I personally think the message clear but I realize than I am not the right person to comment since I have seen the message too many times

[2022-02-10 11:01] mklueh commented on #23278
I don't really care about the result in this case. I want the event to be processed no matter what happens to the test of the process, and I don't want the event processing to block the rest of the process. Should this be added in this case still?

Does this explain the current behavior that some. Are inserted and others are not?

[2022-02-10 11:06] syr commented on #23563
@yrodiere I only desparately try to get two datasources plugged to two distinct packages to work. I dont understand what magic is going on and fails with this config. I see now significant difference to the example config from documentation (https://quarkus.io/guides/hibernate-orm#multiple-persistence-units)

I adapted the config to:
[code]

and get the same stack trace.

What seems also weird, is

[2022-02-10 11:09] geoand commented on #23573
I am referring to the message itself. For me, the message is correct.

What triggers it is something different where there might be a bug...

[2022-02-10 11:15] syr commented on #23563
OK then I would ignore it if this is normal. My entities extend PanacheEntityBase because I need custom IDs.

my.package.model.a: contains an entity class which extends PanacheEntityBase with table referring to a postgres table

my.package.model.b: contains an entity class which extends PanacheEntityBase with table referring to a oracle table

[2022-02-10 11:22] metacosm commented on #23573
When a message tells me a property is "now false", when it's actually the opposite, sorry, but I don't find that clear as it conflicts with the rest of the message.
I see the overall logic but the wording is very poor, imo.

[2022-02-10 11:38] radcortez commented on #23573
What happens here is that build time properties are recorded and then matched against changes in the current properties and if differences are found they are reported as a warning (the one you see).

Are you suggesting that such a warning should only happen when the property is actually used?

[2022-02-10 11:42] DavideD commented on #23278
Well, nothing gets blocked anyway. The send method only tells you that the message has been acknowledged. But I guess it should work anyway.

You probably lose some persists at the end because the application or tests end before being able to do it.

[2022-02-10 11:44] DavideD commented on #23278
Also, you can use the `MutinyEmitter` for this scenario:
[code]

[2022-02-10 11:56] michalszynkiewicz opened #23578 "Quarkus doesn't create a dedicated StorkInfrastructure"
### Describe the bug

Quarkus doesn't create a dedicated StorkInfrastructure

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

_No response_

### Bu

[2022-02-10 11:58] DavideD commented on #23278
I've figured out how to run the stress tests and everything seems to  work fine. I just had to change the expected status code because it's `202` and not `200`.

You can find version I've tested here: https://github.com/DavideD/quarkus-reproducer-reactive-hibernate-smallrye-messaging/tree/refactoring

[2022-02-10 12:20] DavideD commented on #23278
I don't see any errors anymore (even with Panache), I will check the persists in a bit

[2022-02-10 13:09] sberyozkin opened #23579 "Introduce OIDC `strict` profile property"
### Description

Some OIDC properties which enable stricter security are not activated by default, for example, `quarkus.oidc.authentication.pkce-required` (as noticed by @pedroigor), to be introduced `nonce` might not be for `web-app` applications. This is compensated by the fact the if the client secret is set then the code would still be well-protected, but there extra safety measures will neve

[2022-02-10 13:11] #19924 closed

[2022-02-10 13:11] #22832 closed

[2022-02-10 13:14] sberyozkin commented on #23579
@pedroigor As part of this work for OIDC we can check the discovery document and enable PKCE, or check the supported algorithms and enforce the tokens are signed with one of those algorithms, etc, we can make it pretty extensive.
I have to admit it may take a bit of time to prioritize but I'm positive about your idea, thanks :-)

[2022-02-10 13:17] cescoffier commented on #23548
Got an idea, let me see if this is going to work or .... not

[2022-02-10 13:28] sberyozkin opened #23580 "Support OIDC code flow `nonce`, `c_hash`, `at_hash`"
### Description

@pedroigor has proposed that `quarkus-oidc` also generates `nonce` when redirecting to Keycloak which will help  to minimize the ID token replay risk.
It may also make sense to optionally enforce `c_hash` and `at_hash` along the way as well to minimize the code/access token substitution risks - and all of these checks can be enforced when the `strict` profile will be enabled

###

[2022-02-10 13:38] pawelmatras opened #23581 "Random test port does not work together with amazon-lambda-http extension"
### Describe the bug

As soon as one adds `implementation("io.quarkus:quarkus-amazon-lambda-http")` dependency to Quarkus project RestAssured tests using random port (quarkus.http.test-port=0) start failing (invalid port 0).
Random port with lambda dependency worked until Quarkus 2.2.5.Final. All versions above fail (including latest 2.7.1.Final).
Attaching vanilla Quarkus project with failing tes

[2022-02-10 13:38] metacosm commented on #23573
I'm not sure I understand. In my case, the only thing that changes is the `application.properties` that is set at build time. There is nothing (at least that I control) that requests the property to have a different value at runtime. So, in this specific case, the warning should not even be there because no one is trying to override the build time value.

The property is used, that's not the issue

[2022-02-10 13:58] KoxAlen opened #23582 "Quarkus ClassLoader problem when loading a single level directory with getResource"
### Describe the bug

In a application running with quarkus in prod mode when using the context class loader to get the url of a **directory** resource with only one level and not finished with a `/` the resources is not found

The class loader in question is quarkus `io.quarkus.bootstrap.runner.RunnerClassLoader`

The problem is that when there is only one directory level the RunnerClassLoader ge

[2022-02-10 14:04] pedroigor commented on #23579
@sberyozkin Sure, that was just something I thought and related to how we are re-thinking our configuration model. Having better/secure defaults while still giving some flexibility for dev/testing.

[2022-02-10 14:10] mkouba commented on #23457
@jendib Yes, the `_trigger` suffix was removed in this [commit](https://github.com/quarkusio/quarkus/commit/4954679a77c4a0a77caabc70f5747d45139e7cb1) in 2.1.CR1. Another workaround would be to append the `_trigger` suffix to the `@Scheduled#identity()` value (this should result in the same trigger key in 2.7+). Also note that we don't guarantee the compatibility for quartz clustering accross major

[2022-02-10 14:40] KoxAlen commented on #23582
thought about it but I feel like I'm missing context as what would be the better solution:
My initial ideas were to:
Index all top level directories in `directlyIndexedResourcesIndexMap` (which seems like too much for such a corner case) during build.
or add a fallback check to `resourceDirectoryMap` (which seems to go against the design idea of `fullyIndexedDirectories`).

[2022-02-10 14:43] arjantijms commented on #21574
@gsmet

It should be really much later than when CDI-Quarkus is released right? As that one is using the Jakarta.* namespace.

[2022-02-10 15:03] geoand commented on #23582
Gotcha.

Mind adding a sample project that exhibits the problem so we can go straight to fixing the issue?

Thanks

[2022-02-10 15:09] lukaseder commented on #21574
@arjantijms Yes indeed. jOOQ doesn't make a lot of use of Jakarta packages, it's just a tiny integration layer, and nonetheless, this issue got 6 upvotes: https://github.com/jOOQ/jOOQ/issues/9641. I think it's time.

[2022-02-10 15:18] edeandrea commented on #23528
Keep in mind though (also described in #22035) that it needs to be backwards compatible. On the Maven side, the execution of integration tests is done by the `maven-failsafe-plugin`, which means there really isn't much (if anything?) that the `quarkus-maven-plugin` does. Therefore backwards-compatibility isn't an issue because existing projects will just continue doing what they're doing. Its on t

[2022-02-10 15:21] aloubyansky commented on #23582
I can reproduce this.

[2022-02-10 15:24] cescoffier commented on #23548
Ok, I'm not able to test against an Atlas serverless instance, but I got a native application connecting to a shared instance using both the -micro and -native base images.

[2022-02-10 15:42] ahofmeister commented on #20536
@mkouba Thanks. The use case popped up again and it's working. :)

[2022-02-10 15:52] lordofthejars opened #23586 "LRA extension endpoints are populated to Swagger UI automatically"
### Description

When using LRA and OpenAPI + Swagger UI, all LRA endpoints + business endpoints are shown in the UI. I think that by default it should show only business endpoints and if it is set, then show the LRA endpints

<img width="1198" alt="Screenshot 2022-02-10 at 16 47 10" src="https://user-images.githubusercontent.com/1517153/153444537-da40f31b-7f79-4580-975d-941b9c3fc8ff.png">
endpoin

[2022-02-10 16:18] cescoffier commented on #23519
Fixed by https://github.com/quarkiverse/quarkus-vault/pull/23.

[2022-02-10 16:20] glefloch commented on #23528
Right, we won't just rename the sourceset, we will have to create a new source set without the extra `quarkus.package.type=native` and then start deprecating the default `native-test` source set.

What do you think of first creating that new source set and then updating code start? Have a preference for the source set name ? `it` / `integrationTest` ?

[2022-02-10 16:21] GregJohnStewart commented on #23528
My own opinion, but `intTest` is my pick, more succinct than `integrationTest` and more descriptive than just `it`

[2022-02-10 16:23] jendib commented on #23457
@machi1990 Unfortunately I didn't. I will try to reproduce by copying my tables from staging environment (content included). It might come from the fact that those tables were populated with Quarkus 1.x.

[2022-02-10 16:28] lordofthejars opened #23588 "Update MongoDB Panache operations"
### Description

There are some operations that are often used in MongoDB like updating a field by the filter. I have not seen any method or anything in the documentation about this so maybe I am missing it. Currently there is a workaround for this by getting the Mongo collection:

[code]

### Implementation ideas

I think it would be nice to have the `updateOne` and `updateMultiple` methods imple

[2022-02-10 16:36] lordofthejars opened #23589 "OpenAPI calling another OpenAPI service"
### Description

I know that it is crazy, but this idea came to my mind today, and feel free to discard it. So the idea is. I have got Open API extension in my Service A. Service A connects to Service B using Rest Client. Then what Quarkus could do is, check if Open API is also enabled in Service B, and if it the case populate that endpoints to Open API of Service A, so when I open Swagger UI of S

[2022-02-10 16:37] aloubyansky commented on #23528
Makes sense to me.

[2022-02-10 16:39] loicmathieu commented on #23588
You can update (multi-update) with a PanacheQL or a native query inside the `where`, it's documented:
[code]

[2022-02-10 16:41] lordofthejars commented on #23588
But how to implement the inc operation for example. I need to find it,
increment the object, and then do the update? So two queries?

Missatge de Loïc Mathieu ***@***.***> del dia dj., 10 de
febr. 2022 a les 17:39:

[2022-02-10 16:42] edeandrea commented on #23528
@glefloch Maybe better to take that conversation over to #22035 since that ticket has been around for a bit and is specifically for this?

[2022-02-10 16:50] loicmathieu commented on #23588
The `where` should be able to take into parameters a Bson `Document` as the query as for eg for the list operation [PanacheMongoEntityBase.list(Document query)](https://github.com/quarkusio/quarkus/blob/main/extensions/panache/mongodb-panache/runtime/src/main/java/io/quarkus/mongodb/panache/PanacheMongoEntityBase.java#L386) and it's missing in [PanacheUpdate](https://github.com/quarkusio/quarkus/b

[2022-02-10 17:38] #22189 closed

[2022-02-10 17:43] rafaelfnx opened #23590 "Quarkus requires the public key to be present at build time, preventing it from using keys generated at runtime"
### Describe the bug

I had already created an issue, but even after about a month and a half it got no response, the only thing I got was a comment with a proposal from @sberyozkin, but he hasn't responded in the last 44 days, so since the last issue is dead, I'm creating a new one to try to come up with a solution to the problem. The original issue is #22536.

### Expected behavior

_No response

[2022-02-10 17:43] pazkooda commented on #13662
Actually once investigated means for integration of it to Quarkus Core I've identified that:
* it looks at first glance that doing this only for Reactive will most likely make our standalone extension colliding with core,
* non-Reactive scenarios will require standalone extension to be present - we don't want to separate Reactive out of it just Core prefers to have it Reactive-only first.
* I cann

[2022-02-10 17:46] #22536 closed

[2022-02-10 17:49] sberyozkin commented on #23590
@rafaelfnx Hi, I've closed the original issue as a duplicate.

Note, there are many issues each of us has to deal with, unortunately we can't prioritize immediately on every new issue reported.
But also, please appreciate it is an open source project - so you are welcome to help and open a PR if it is an urgent issue for you
Thanks

[2022-02-10 17:55] glefloch commented on #23528
Sure i will sum up everything there. I should be able to come up with a PR quite soon.

[2022-02-10 18:12] Foobartender commented on #23569
I want to find the commit that causes this, use snapshots to avoid building, and need a hint: how can I reference a particular snapshot build?

There a daily builds for almost a year, but all 999-SNAPSHOT?
https://s01.oss.sonatype.org/content/repositories/snapshots/io/quarkus/quarkus-bom/999-SNAPSHOT/

[2022-02-10 18:24] machi1990 commented on #23457
Perfect, thank you @jendib for doing it. Once you manage to reproduce it, do you think it might be possible share the qrtz_xx related content? Only those with the business data stripped out.

[2022-02-10 18:49] geoand commented on #23540
We'll need @gastaldi for that 😉

[2022-02-10 19:02] jogueber opened #23591 "Using Java and Kotlin mixed (with gradle)"
### Describe the bug

When using java code together with kotlin code core feature of quarkus do not work anymore:
When adding **ONE** simple java class such as

[code]

to the java classpath (`src/main/java`)
and using them somewhere in kotlin such as:

[code]

Quarkus starts but no Entities etc are registered.
Basically all reactive extensions do not work.
Rather easy to reproduce by just adding

[2022-02-10 19:04] #12856 closed

[2022-02-10 19:07] gastaldi commented on #23540
@geoand All I do is https://github.com/quarkiverse/quarkiverse-devops#workflow-for-new-repositories 😉

[2022-02-10 19:08] mklueh commented on #23278
@DavideD thanks, your example really works :) (Until I ramp up the requests a lot more, then I'm running into `java.lang.IllegalStateException: SRMSG00034: Insufficient downstream requests to emit item`)

I think my last mistake was, having the `@ReactiveTransactional` annotation on top of a method that uses `sessionFactory.withTransaction()` also.

[code]

Nice to know about the `MutinyEmitter`,

[2022-02-10 19:14] MikeEdgar opened #23592 "Build fails on REST endpoint when `@BeanParam` has parameterized type"
### Describe the bug

With Quarkus 2.7.4.Final (and earlier versions), defining a REST endpoint with RestEasy Reactive where a `@BeanParam` argument has a parameterized type, the build fails with `IndexOutOfBoundsException`.

[code]

[code]

[code]

### Expected behavior

Type parameter declared on method argument is applied to the bean parameter object.

### Actual behavior

Stack trace with root

[2022-02-10 19:55] sberyozkin opened #23593 "Add OIDC Twitter provider configuration"
### Description

Now that PKCE is supported it should be possible to add a `twitter` configuration, Steph, please verify and add it once it works for you, thanks

https://developer.twitter.com/en/docs/authentication/oauth-2-0/authorization-code

### Implementation ideas

_No response_

[2022-02-10 20:10] dwamara opened #23594 "Typo on "MEASURING PERFORMANCE" page"
### Description

There is a typo or say a word too much on the page "https://quarkus.io/guides/performance-measure".
In the Note of the section "Native Memory Tracking", it reads "this feature will add cause an approximately 5-10% performance overhead".

The sentence should have been either "this feature will cause an approximately 5-10% performance overhead" or "this feature will add  an approxim

[2022-02-10 20:14] DavideD commented on #23278
I think what you need to keep in mind is that there is Hibernate Reactive and then there is Panache Reactive that tries to make it easier to use  Hibernate Reactive.

If you want to use Hibernate Reactive on its own, you don't need Panache. And, therefore, you don't need `@ReacitveTransactional`. It's just a a wrapper that makes it so that you don't have to call `Panache.withTransaction`.

That sa

[2022-02-10 21:08] jogueber commented on #23591
It seems that the path for scanning the build path is not set correctly somewhere in the `gradle plugin`

[2022-02-10 21:21] glefloch commented on #22035
As mentionned in #23528, and looking at the plugin code, we indeed have a `testNative` task that depends on `quarkusBuild`. When running the testNative task we force the `quarkus.package.type` property to `native`, meaning that running ./gradlew clean testNative will first trigger a quarkusBuild with the system property `quarkus.package.type=native`.

When first running `./gradlew quarkusBuild` an

[2022-02-10 21:36] glefloch commented on #22035
BTW the `check` and `build` goal are not linked to the gradle plugin. We could link them to the plugin too.

[2022-02-10 21:43] jogueber commented on #23591
Moving the Java code to a seperate gradle module actually solved the issue
Still this is a super annoying bug

[2022-02-10 22:26] #23373 closed

[2022-02-10 22:30] Sanne commented on #9275
Lost track of this, sorry. It was fixed by #21351

[2022-02-10 22:30] #9275 closed

[2022-02-10 22:30] Sanne commented on #19660
Duplicate of #21351

[2022-02-10 22:32] #23498 closed

[2022-02-10 22:32] #23500 closed

[2022-02-10 22:36] edeandrea commented on #22035
Sounds good. For integration tests though I'm not sure it makes sense to link to the `check` task since the integration tests require the fully built binary (output of `quarkusBuild`).

You could make the new `intTest` task be triggered by the `build` task (by `build.finalizedBy(tasks.intTest)`). Qe should probably wait on the direction decided in #21997 though. I'm sure @gsmet would have the same

[2022-02-10 22:36] josephearl opened #23595 "Dev services for JMS/ActiveMQ"
### Description

I would like to be able to develop and test applications using the JMS/ActiveMQ OpenWire protocol - this is supported by both ActiveMQ 5 and Artemis.

### Implementation ideas

The OpenWire protocol is supported by Artemis on port 61616 https://activemq.apache.org/components/artemis/documentation/latest/openwire.html by default and we already have AMQP dev services which start up

[2022-02-10 23:26] Sanne commented on #16172
This was fixed by #23466

[2022-02-10 23:26] #16172 closed

[2022-02-10 23:46] Sanne commented on #22773
I'd love to see it handled by our tooling too.  But I failed to persuade others into developing a general-purpose technique to have the tooling automatically add dependencies based on rules.

Perhaps it's time to reopen that topic, as it was partially dismissed also because people were too busy with more important matters. We could try implementing a non-generic solution as an experiment to addres

[2022-02-11 00:33] Foobartender commented on #23569
#23591 seems to be related to this. To reproduce:
1. Remove kapt.
2. Add a Java Class to src/main/java.
Exactly the same symptoms, i.e. the JPA entity and JAX-RS endpoint aren't found. Downgrading to 2.7.0 solves the problem.

[2022-02-11 00:36] Foobartender commented on #23591
I have similar symptoms with 2.7.1.Final, see #23569. Instead of having a Java class, I'm using Kapt. But removing Kapt from my example project and adding a Java class causes the same symptoms. 2.7.0.Final works.

[2022-02-11 02:03] Foobartender commented on #23569
Bisecting yielded commit a0354d391785bc9f989c17b99709b2e428c41624.
https://github.com/quarkusio/quarkus/pull/23412

[2022-02-11 02:53] #23387 closed

[2022-02-11 03:12] dwamara commented on #23594
So every time I find a typo somewhere I can just make a pull request without issue?

[2022-02-11 04:49] waldimiro opened #23599 "Default locale can't be changed"
### Describe the bug

Default locale is not set when:

1. I use following command line -Duser.language=en -Duser.country=CH -Duser.variant=CH -Duser.region=CH
2. I use property quarkus.default-locale

### Expected behavior

Default locale must be set based on system properties.

### Actual behavior

Default locale is not set when:

1. I use following command line -Duser.language=en -Duser.country=

[2022-02-11 06:31] edeandrea commented on #23425
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkusio/quarkus-super-heroes/actions/runs/1827712172

[2022-02-11 06:40] geoand commented on #23595
cc @cescoffier

[2022-02-11 06:42] cescoffier commented on #23595
We should extract the AMQP dev service in some common modules. However, we are waiting on settling the images to use in the AMQP dev service (#22976). So, we would need to be sure that ALL the compatible images can support the 2 protocols the very same way.

[2022-02-11 06:55] Postremus opened #23600 "hibernate-validator Allow specifying alternative constraint validator"
### Description

I need to replace the validator for javax.validation.constraints.Email with a custom implementation.
I found this example for programmaticly replacing the validator behind a constraint: https://docs.jboss.org/hibernate/validator/6.2/reference/en-US/html_single/#section-programmatic-constraint-definition
This custom validator should apply for the default validator factory, which le

[2022-02-11 07:02] geoand commented on #23591
Which was the last version that this was working?

[2022-02-11 07:31] mklueh commented on #23278
@DavideD understood so far, thanks.

But no matter if I use Panache.withTransaction or `@ReactiveTransactional`, I'm running into the exact same problem again with the Panache API, even when using the code from your commit it produces:

[code]

My personal preference would be, to use the Panache API wherever I can, and just here and there the Hibernate Reactive API directly, where I had previously

[2022-02-11 07:34] aloubyansky commented on #22773
We'll definitely have to support this. I don't remember anybody being against it in principle. Perhaps some specific impl ideas.
Anyway, as a start we could simply fail project creation (extension addition) if its requirements aren't fulfilled. That would be checked against required capabilities, which we currently don't have a way to express but there are no obstacles to add that, in fact, I knew

[2022-02-11 07:37] yrodiere commented on #19660
@Sanne Sorry if I'm confused, but this (#19660) is the issue, and #21351 is the PR containing the fix. Are we supposed to mark issues as duplicate of the PR that fixes them?

[2022-02-11 07:42] jogueber commented on #23591
Yes it looks like the annotations are ignored
Disclamer just tested it with `quarkusDev`

[2022-02-11 07:49] aloubyansky commented on #23591
I'll look into this today, thanks!

[2022-02-11 07:51] #23519 closed

[2022-02-11 07:59] rolintoucour commented on #23360
Yes, I always have the issue. Maybe it is related to my system in some way.

[2022-02-11 08:03] Foobartender commented on #23569
Please see #23591, closing here.

[2022-02-11 08:03] #23569 closed

[2022-02-11 08:59] geoand commented on #23594
Yes exactly. No issue needed

[2022-02-11 09:03] geoand commented on #23590
Very much +!

@rafaelfnx please try version `2.7.1.Final` and see if it fixes your issue

[2022-02-11 09:05] #23590 closed

[2022-02-11 09:05] luke-gee opened #23602 "Using Mongo ChangeStreamDocument in Native Image Fails Decoding On Update"
### Describe the bug

Using the Mongo ChangeStream fails in native mode when receiving notification of a database update with the following error:

[code]

This works fine in jvm mode, suggesting some classes may need registering for reflection

### Expected behavior

Expect document unmarshalled correctly.

### Actual behavior

_No response_

### How to Reproduce?

https://github.com/luke-gee/mon

[2022-02-11 09:08] XSAM opened #23603 "gRPC service throw errors when using @Blocking and OpenTelemetry gRPC instrumentation"
### Describe the bug

Calling a gRPC method with `@Blocking` annotation produces errors when enabling [io.opentelemetry.instrumentation:opentelemetry-grpc-1.6:1.10.0-alpha](https://mvnrepository.com/artifact/io.opentelemetry.instrumentation/opentelemetry-grpc-1.6/1.10.0-alpha) and io.quarkus:quarkus-opentelemetry-exporter-otlp.

It does not affect gRPC methods without `@Blocking` annotation.

###

[2022-02-11 09:25] geoand commented on #23599
`quarkus.default-locale` is a build time property and as mentioned in the Javadoc, it is used by various extensions, it's not meant to affect `Locale.getDefault()`.

As for the command line invocation you mention, my guess is that you are not using it correctly.
System properties need to be set before the `-jar` option when running `java ....`.

[2022-02-11 09:25] #23599 closed

[2022-02-11 09:31] waldimiro commented on #23599
I set the properties in Intellij Quarkus Configuration
![Screenshot 2022-02-11 at 10 29 25](https://user-images.githubusercontent.com/5328277/153567658-7d4bd009-eab1-484a-a118-f3421ec72222.png)

[2022-02-11 09:31] zakkak opened #23604 "io.quarkus.it.main.SwaggerUIITCase.testSwaggerUi test failing with GraalVM / Mandrel 22.1-dev"
### Describe the bug

$title

### Expected behavior

Test should pass.

### Actual behavior

Test fails with:

[code]

See: https://github.com/graalvm/mandrel/runs/5150973124?check_suite_focus=true#step:11:684

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

GH runner

### Output of `java -version`

11.0.14 and 17.0.2

### GraalVM version (if different from Java)

22.1.0-d

[2022-02-11 09:41] zakkak commented on #23604
The same issue appears in [`AmazonLambdaSimpleIT>AmazonLambdaSimpleTestCase.testSwaggerUi`](https://github.com/graalvm/mandrel/runs/5150973343?check_suite_focus=true#step:11:385).

Failures in [`vertx-web`, `resteasy-reactive-kotlin/standard`](https://github.com/graalvm/mandrel/runs/5150973523?check_suite_focus=true#step:11:2587) and [`mailer`](https://github.com/graalvm/mandrel/runs/5150973566?ch

[2022-02-11 09:43] loicmathieu commented on #23588
I prepare a PR to allow `update(Document).where(Document)` for complex update use case.
But you can already do something like this (we have test for it):
[code]

[2022-02-11 09:50] mkouba commented on #23167
Hm, I'm not able to reproduce the problem with the `main` branch and the [reverted commit](https://github.com/aloubyansky/quarkus/commit/54b74c52ffccab6bf14a13e33d6d94d89c87285b) anymore. CC @aloubyansky

[2022-02-11 09:57] lordofthejars commented on #23588
oh nice, then I think it's worth putting it in the document so anyone can
get the point on how to do it.

Great,

Missatge de Loïc Mathieu ***@***.***> del dia dv., 11 de
febr. 2022 a les 10:43:

[2022-02-11 09:59] loicmathieu commented on #23588
Maybe the documentation is not clear enought but anywhere you can use a String query you can use PanacheQL or a native query.
I'll check the JavaDoc, the update() part is maybe not that clear.

[2022-02-11 10:04] sdaclin commented on #23528
Hello there,
I wonder why the annotation `io.quarkus.test.junit.QuarkusTest` is declaring the jUnit tag `io.quarkus.test.junit.QuarkusTest` whereas the annotation `io.quarkus.test.junit.QuarkusIntegrationTest` isn't declaring any ?
To me it would very easy to have a dedicated tag to be able to include/exclude these in several test runs ?

Something like this for instance :
[code]

[2022-02-11 10:07] geoand commented on #23528
This is not enough. `@QuarkusIntegrationTest` ests need to run after the application artifact (jar, container or native-image) is built.

[2022-02-11 10:45] Sanne commented on #19660
@yrodiere no, my mistake.Thanks I'll amend!

[2022-02-11 10:56] sdaclin commented on #23528
Definitely, it's more likely to be something like :
[code]

[2022-02-11 10:58] #23582 closed

[2022-02-11 11:46] zakkak commented on #23604
The issue is caused by https://github.com/oracle/graal/pull/4281/commits/e71f13eee19165bca0a1e61fa2310669d55cdbfc

I still don't fully understand what's going on though.

[2022-02-11 11:48] edeandrea commented on #23528
Really needs to be `mustRunAfter("Quarkus build")` and perhaps even `build.finalizedBy("intTest")`

[2022-02-11 11:49] jeffmaury commented on #15868
Moved to https://github.com/redhat-developer/intellij-quarkus/issues/505

[2022-02-11 11:53] geoand commented on #23604
I assume it's something that needs to be reported to them?
It sounds like a breakage to me...

[2022-02-11 11:59] zakkak commented on #23604
It looks like it, but I want to better understand what's going on first.

[2022-02-11 12:16] mkavalecz opened #23606 "AWS Lambda extension doesn't work with @QuarkusIntegrationTest"
### Describe the bug

Hello,

I'm trying to run an integration test on a Windows machine, against a natively built Quarkus application that has a REST API and uses the AWS Lambda extension.
The test itself is using RestAssured to make requests against the app, so it's a real integration test, no mocking or anything special needed.
Given that the app is using native build, and Windows can't build o

[2022-02-11 12:28] mkavalecz commented on #23606
No, it is not the same. If running against the jar is not supported, I'm okay with that, but it doesn't work against the native build for me either, and in the other issue they mention that worked for them. Also I'm not using lambda-http.

[2022-02-11 12:29] waldimiro commented on #23599
Mhh... I tryed but it doesn't work... System.out.println(Locale.getDefault()) prints out every time en_US

[2022-02-11 12:29] geoand commented on #23599
Well, I tried and it did :)

[2022-02-11 12:30] geoand commented on #23606
Okay, I'll reopen.

Please attach a reproducer so we can go straight to fixing the issue instead of having to spend time on reproducing it

[2022-02-11 12:30] g-apparence opened #23608 "Test with Testcontainer doesn't create relations"
### Describe the bug

Hi,
I cannot run test using test_containers and table with foreign_keys.
I can persist and check data for one table that's ok. But when this has a relation, this doesn't work.
It seems that all relations are broken launching the testcontainer. (It's currently postgres).

I've found a log like this for all database relations that should be created.
[code]

I suspect that all f

[2022-02-11 12:31] waldimiro commented on #23599
Is very strange the behaviour. I will investigate further. Do you think that is more Intellij the problem?

[2022-02-11 12:32] geoand commented on #23599
Likely

[2022-02-11 12:33] sophokles73 commented on #10402
@objectiser I would like to contribute a PR for adding the missing classes for reflection as pointed out by @calohmn
Which branch should I create the PR for? We are (still) using 2.6.3 so I am inclined to do it against the 2.6 branch. Does that make sense or is 2.6 already *dead* and we should focus on 2.7 instead?

[2022-02-11 12:34] geoand commented on #10402
All PRs go against the `main` branch.

[2022-02-11 12:37] mkavalecz commented on #23606
Thank you! Here you go, the sample app to reproduce the issue: [code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/8048626/code-with-quarkus.zip)

[2022-02-11 12:39] geoand commented on #23608
Please attach a sample project that exhibits the problematic behavior.

In any case, I fail to see how Quarkus could be responsible for this issue, but I'll let the Hibernate folks comment

[2022-02-11 12:42] mkavalecz commented on #23606
I updated the original question, removing the mentions of the uber-jar build, to make it clearer for anyone else looking at this later.

[2022-02-11 12:43] sophokles73 commented on #10402
How do you determine which releases the fix will go into. i.e. can I expect the fix to be part of the next 2.6.x or 2.7.x release?

[2022-02-11 12:45] waldimiro commented on #23599
Intellij starts the app with this line: "C:\Program Files\Java\openjdk-17.0.1\bin\java.exe" -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:51088,suspend=y,server=n -Dmaven.multiModuleProjectDirectory=C:\development\nextperience-repo\microservice-parent\dfl\dfl-app -Dquarkus.devservices.enabled=false -Dquarkus.profile=local -Dquarkus.http.port=8068 -Dquarkus.log.level=INFO "-Dquarkus.log.cate

[2022-02-11 12:45] pravussum opened #23609 "Query param converters for lists & sets are not handled correctly in Resteasy reactive"
### Describe the bug

This is a follow-up of #23486.

Now that custom parameter converters are used for query parameters, there are some cases, where this fails:

According to the [JAX-RS resources documentation](https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest3x/jaxrs-resources.html) a valid method parameter has to fulfill one of the following:

In cases where 4) AND 5) are fu

[2022-02-11 12:54] geoand commented on #10402
We decide whether or not to backport to live branches based on the impact of the change. As you said, `2.6` is dead now that `2.7` is out, so the question is whether the fix would be backported to `2.7`

[2022-02-11 13:03] glefloch commented on #23591
@aloubyansky we have a `multi-source-project` in `integration-test/gradle` module which combine both java and kotlin. I don't why we don't have the devmode test.

[2022-02-11 13:22] quarkus-super-heroes-bot opened #23612 "[CI] - Quarkus Super Heroes + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/quarkusio/quarkus-super-heroes building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

Closing #23425 in favor of this one.

[2022-02-11 13:22] edeandrea commented on #23425
Closing this in favor of #23612

[2022-02-11 13:22] #23425 closed

[2022-02-11 13:44] iocanel opened #23613 "Prevent inception style buildpack builds"
### Description

If the user adds `quarkus.container-image.build=true` in a buildpack enabled project, then the buildpack build will create a builder container that will run `mvn clean package ...`. This command will also trigger a buildpack build (a build within a build) that will eventually fail as it won't be able to access the docker daemon.

We need to find a way to prevent nesting builds.

#

[2022-02-11 14:02] vincenzocorso opened #23617 "Import another gradle module"
### Describe the bug

I have the following gradle multi-module project:
[code]
where:
- `buildSrc` contains some gradle conventions files such as `service.spring-conventions.gradle`, `service.quarkus-conventions.gradle`, `api.spring-convention.gradle`
- `quarkus-app` module is a quarkus app. The `build.gradle` file in this module use `service.quarkus-conventions` as plugin to import some recurrent

[2022-02-11 14:27] aloubyansky commented on #23591
It's related to multi classes dirs in a single project. Up to 2.7.0.Final we would create a tmp dir that would merge them in one, which wasn't a proper way of supporting these projects but it worked. In 2.7.1.Final I broke it by apparently picking one of those classes dirs. So, for 2.7.2.Final I'll revert to the 2.7.0.Final way. And in 2.8 I'll look into doing it properly.

[2022-02-11 15:07] chris-asl opened #23618 "Cannot use InjectMock with gRCP generated classes"
### Describe the bug

We're trying to mock a gRPC client using `InjectMock` like so:

[code]

`DeviceService` is one of the autogenerated gRPC classes, and specifically is defined like this
`public interface DeviceService extends MutinyService`.

Running the test fails with:

[code]

Since `DeviceService` is a Singleton, then as per the docs https://quarkus.io/guides/getting-started-testing#furthe

[2022-02-11 15:19] mkavalecz commented on #23606
Well that is both good and bad news.
Being tough to solve is obviously bad news, but it's great to know, that apparently I'm not the only one who couldn't make it work. I've been pulling my hair out over this one in the last few days...
Our team is working on Windows, and we deploy native code to lambda, so we really need a way to run tests against the native binary on Windows.
I guess we can run

[2022-02-11 15:20] g-apparence commented on #23608
Okay that's more a problem with hibernate.

I found a solution
[code]

The warning seems to occurs before testcontainers populate the database. Maybe removing them could remove some confusions.
I searched way too long if that was related to a uncommited transaction when actually that was just hibernate that wasn't really refreshed.

[2022-02-11 15:23] mkavalecz commented on #23606
Yeah I know, I only mentioned Windows, because if we were on Linux, we could run the binary directly, without the need for launching the app through a docker container. :)

[2022-02-11 15:24] geoand commented on #23606
Right, good point

[2022-02-11 15:33] zakkak commented on #23604
I have opened https://github.com/oracle/graal/pull/4316 upstream to tackle this.

[2022-02-11 16:17] luke-gee commented on #23602
raised a PR for the registration https://github.com/quarkusio/quarkus/pull/23620

Working on a windows machine ive had a lot of trouble adding an integration test but have verified working in the original reproducer.

Added a zip with the class i added to expose for integration test if helpful.
[ReactiveChangeStreamResource.zip](https://github.com/quarkusio/quarkus/files/8050060/ReactiveChangeStre

[2022-02-11 16:26] #23588 closed

[2022-02-11 16:35] radcortez commented on #23603
Specific OTel libraries are not officially supported at this point. The plan is to slowly support them in the future.

[2022-02-11 17:18] #18641 closed

[2022-02-11 17:26] bkzoller opened #23621 "DefaultConfigurationFactory not found in Quarkus 2.7.1.Final native application with quarkus-spring-security"
### Describe the bug

I have a project which is on Quarkus 1.11.5.Final and uses quarkus-spring-web and quarkus-spring-security. When I tried upgrading the application to Quarkus 2.7.1.Final, it works in JVM mode but fails in native mode.

To reproduce, download the [bug reproducer project](https://github.com/bkzoller/quarkus-quickstarts/tree/bug/quarkus-spring-web/spring-web-quickstart).

1. mvn

[2022-02-11 18:01] mklueh opened #23622 ""BlockingNotAllowedException: Attempting a blocking read on io thread" when @RestQuery is missing"
### Describe the bug

I was trying to use query parameters with RestEasy reactive, but was missing the `@RestQuery` annotation at first.

This led to the following exception, which is in my opinion very misleading and took me a lot of time to get to the actual reason.

[code]

### Expected behavior

A nice annotation that says something like "@RestQuery annotation missing" or as no annotation mean

[2022-02-11 18:08] vsevel opened #23623 "conflict between micrometer and stork"
### Describe the bug

When I add in the same application the stork extension and the micrometer extension I get an error.

### Expected behavior

Should not conflict with each other.

### Actual behavior

When I build the application I get:

[code]

### How to Reproduce?

Get https://github.com/vsevel/stork-issue/tree/micrometer_stork_conflict
[code]

### Output of `uname -a` or `ver`

_No respons

[2022-02-11 18:09] vsevel commented on #23623
/cc @michalszynkiewicz

[2022-02-11 19:03] bkzoller commented on #23621
Adding this class to the reproducer project fixes the exception.

[code]

[2022-02-11 19:11] ckyara commented on #6320
Can we have a working code to use in memory database (H2) in production env as i am facing issue with the same?. Getting exception that 'Provided url does not support URL: test'

[2022-02-11 19:32] #23591 closed

[2022-02-11 20:05] patriot1burke commented on #23606
This might be easy to fix so long as the host is visible to the docker container.  We would just need to make bind address configurable?

[2022-02-11 20:11] geoand commented on #23606
Unfortunately the only way to do that is to configure the launched container to use host networking.

We can certainly do that for this case, but it will stop working if any other dev service comes into play

[2022-02-11 21:03] michalszynkiewicz commented on #23623
@vsevel could you check if removing the client from the MyServiceDiscovery makes the error disappear?

[2022-02-11 21:28] vsevel commented on #23623
@michalszynkiewicz
you are correct. it works with this https://github.com/vsevel/stork-issue/commit/bd550b63413b53f3dae9a8bac8a39e00e1b36b64

[2022-02-11 22:57] ebullient commented on #23623
Is that a case of the discovery client making outbound http requests (that should in theory be measured) before things have been initialized?

[2022-02-11 23:06] rmanibus opened #23632 "Automatically register health check for Scheduled Task"
### Description

Scheduled tasks lack of observability.

We could add a liveness probe for all scheduled jobs if the health extension is present (or maybe configurable with a flag in the @Scheduled annotation).
The HealthCheck could report if the task is overdue, and if the last execution succeeded (did not throw ?).
I think it is easy to implement with quartz directly, but the quarkus Scheduler a

[2022-02-12 01:08] machi1990 commented on #23457
Thanks @jendib indeed, the issue was due to the renaming of `_trigger`.

I'll provide the PR that will offer a migration support. I went this way to reduce the toil that the user will have to do. This is only an exception case where the extension will have to perform the migration. The temporary code will reschedule the old trigger i.e the one with the `_trigger` suffix to a new one without the su

[2022-02-12 04:34] manofthepeace opened #23637 "@IfBuildProfile should/could support mutiple profiles"
### Description

Since smallrye-config, and quarkus support multiple profiles. It would be nice if the annotation ` @IfBuildProfile` would work the same way.

We can start the application with `-Dquarkus.profile=dev,foo`, smallrye will understand that there are two profiles dev and foo, but ` @IfBuildProfile` will see "dev,foo" as one profile, which makes it hard/impossible to restrict bean to a s

[2022-02-12 06:37] vsevel commented on #23623
I do not think it is about making the calls (it works when I lazy init the proxies), rather than trying to initialize the rest proxy too early.

[2022-02-12 06:56] michalszynkiewicz commented on #23623
Haven't started looking at it yet but it seems to that stork initialization happens to early

[2022-02-12 07:36] lordofthejars commented on #23558
Let me comment something about this issue:

To use an LRA coordinator, you cannot use TestContainers (un general Docker) as any service should e able to access to LRA coordinator (no problem when Docker) but LRA coordinator also needs to init a communication to Service, and here there is the problem. When you are at Docker you can access services inside Docker space, but from Docker space, you can

[2022-02-12 10:34] bvahdat commented on #22711
Thanks @Sanne for the follow up. At our end it all works as expected, see also this [comment](https://github.com/quarkusio/quarkus/issues/22711#issuecomment-1010052100). So to summarize with the following setup and adjustments (according to `missings.txt` attachment above) we were able to successfully make use of the DB2 XA Driver with SSL:

%prod.quarkus.datasource.P82DataSource.db-kind=db2
%prod

[2022-02-12 11:16] MartinX3 commented on #17255
Sounds like the problem is far more complicated since the last response is almost a year old.

[2022-02-12 12:11] MuizMahdi commented on #14682
Same, I wasn't having this issue with Spring

[2022-02-12 12:26] geoand commented on #14682
To be completely fair, there is no Hibernate Reactive in Spring...

[2022-02-12 13:13] MuizMahdi commented on #14682
@geoand Thanks for the response, by the way it is possible to integrate [Hibernate Reactive with Spring Webflux](https://itnext.io/integrating-hibernate-reactive-with-spring-5427440607fe)

[2022-02-12 13:20] MuizMahdi commented on #14682
Totally understandable 😃, thanks for the effort!

[2022-02-12 13:34] ebullient commented on #23623
Not sure if there is anything the micrometer initialization should change...

[2022-02-12 16:15] #21983 closed

[2022-02-12 16:24] famod opened #23642 "`IncompletePostTestCase` is failing a lot on Windows"
### Description

Just to mention a few recent failures:
- https://github.com/quarkusio/quarkus/pull/23626#issuecomment-1036950289
- https://github.com/quarkusio/quarkus/pull/23587#issuecomment-1035423206
- https://github.com/quarkusio/quarkus/pull/23583#issuecomment-1035257234
- https://github.com/quarkusio/quarkus/pull/23576#issuecomment-1034911742

[code]
It starts with:
[code]
Then things like:

[2022-02-12 16:24] famod commented on #23642
/cc @stuartwdouglas @geoand

[2022-02-12 16:47] geoand commented on #23642
We should probably disable it for the time being

[2022-02-12 16:48] famod commented on #23642
I can do that, with a reference to this ticket (and leave it open).

[2022-02-12 17:12] vtdmitriy opened #23643 "Selective registration of CDI Beans classes from a third-party library"
### Description

I would like to be able to register specific classes from a third-party library, and not just the entire library through the quarkus.index-dependency property.
Described my particular problem at [Stackoverflow](https://stackoverflow.com/questions/71094035/quarkus-registering-cdi-beans-classes-from-a-third-party-library).

### Implementation ideas

_No response_

[2022-02-12 19:22] MartinX3 opened #23645 "ObjectMapper.enable is deprecated since 2.7.x"
### Describe the bug

According to the docs, we need to use the `ObjectMapperCustomizer` to customize jackson.
Since Jackson 2.13(Quarkus 2.7), the `enable(MapperFeature... f)` function is deprecated and we should replace it with `JsonMapper.builder().enable(...)`.
Sadly  we only get a `ObjectMapper` which doesn't allow us to use `builder()`.

### Expected behavior

A way to use
[code]

### Actual

[2022-02-12 20:44] kraeftbraeu commented on #16613
Sorry for not participating the communication during implementation, I had to much other stuff to do...

But now I managed to update to quarkus 2.7.1 and check the issue with additional prop
[code]
It works like a charm now, thank you @stuartwdouglas for the fix and to all the others for pushing that topic!

It is up to me to close the issue now, right?

[2022-02-12 20:44] #16613 closed

[2022-02-12 21:48] rsvoboda opened #23646 "quarkus:info/update doesn't handle modules defined in activeByDefault profile"
### Describe the bug

quarkus:info/update doesn't handle modules defined in activeByDefault profile

`mvn quarkus:info` works if `mvn clean install` is executed before the command (and thus the module defined in profile gets into local maven repository.

When running `mvn clean test` the module defined in activeByDefault profile gets picked, but running `mvn quarkus:info` command ends with `[ERROR

[2022-02-13 06:06] debu999 commented on #23373
Thanks for the update. Will try out with 2.8 once it's made available.

[2022-02-13 07:03] mschorsch commented on #23645
@geoand

[2022-02-13 07:09] geoand commented on #23645
Thanks, I'll have a look next week

[2022-02-13 10:20] geoand commented on #23645
Interesting... I wonder if it makes sense to wait for Jackson 3.x to make a change with regard to this

[2022-02-13 10:23] #23505 closed

[2022-02-13 10:27] geoand commented on #23622
Thanks for reporting!

Mind adding the snippet of code where you are declaring the JAX-RS method?

[2022-02-13 10:48] geoand commented on #23643
This can sort of manually be done using https://quarkus.io/guides/class-loading-reference#hidingremoving-classes-and-resources-from-dependencies, so I am in favor of closing this as `won't fix`

[2022-02-13 11:24] #23602 closed

[2022-02-13 14:26] #23621 closed

[2022-02-13 15:14] zoperado opened #23651 "Kubernetes deploy deletes load-balancer when service-type=load-balancer"
### Describe the bug

Up to quarkus 2.1.1, when  deploying to gke  with
`quarkus.kubernetes.service-type=load-balancer`  the behaviour was as expected but after upgrading to 2.7.1 it started deleting already deployed services and load-balancers

if no workload service is defined then the service is created and a load-balancer gets configured with a  new IP address

When moving to quarkus 2.7.1 (an

[2022-02-13 16:01] geoand commented on #23651
@iocanel I think this was a deliberate change, right?

Maybe we should have a property that controls the behavior?

[2022-02-13 16:34] cescoffier commented on #23411
Yeah, not sure how we can make progress on this one (while we need to fix it).

@zakkak where can I grab a Mandrel 22.1-dev package?

[2022-02-13 16:51] iocanel commented on #23651
Possibly a regression. Do we now if it works as expected In 2.7.0.Final?

[2022-02-13 17:52] #23646 closed

[2022-02-13 19:34] mklueh commented on #23324
I was running into this problem again, but it seems that it is working at some places, and at others it is not.

workaround:

instead of

[code]

using this

[code]

The workaround really helps, but is there any progress with this issue so far already @Sanne ?

[2022-02-13 21:18] gastaldi commented on #23645
+1 to wait for Jackson 3.x for introducing such changes

[2022-02-13 23:27] stuartwdouglas commented on #23487
Closing as a duplicate. Please see the other issue for a fix.

[2022-02-13 23:27] #23487 closed

[2022-02-14 00:29] stuartwdouglas commented on #23642
I think it is a backlog issue. By default the backlog is 50, so if the accept thread is a bit slow the connection can be refused. The test then stops and quarkus begins to shutdown, and the existing connections already in the backlog are then being processed in a container that is shutting down.

[2022-02-14 01:57] jimbogithub opened #23655 "Eclipse Maven Update "Too Many Files" with 2.7.1"
### Describe the bug

Upgraded an existing 2.5.1 project to 2.7.1 and then in Eclipse, ran Maven Update.  The Maven Update failed with IO errors for  "Too Many Files".

On 2.5.1 `lsof -p <PID> | wc -l` on the Eclipse process shows just over 1,000 open files for my project.
On 2.7.1 it blows through the 10,420 limit and fails.  Examining the raw list of files from `lsof -p <PID>` shows many duplica

[2022-02-14 05:32] stuartwdouglas commented on #23643
The other approach would be to create an extension and use `AdditionalBeanBuildItem`. I don't think we really want to add any user facing API's around this.

[2022-02-14 05:32] #23643 closed

[2022-02-14 05:57] geoand commented on #23655
cc @Postremus @aloubyansky

[2022-02-14 06:51] #23642 closed

[2022-02-14 07:28] zakkak commented on #23411
@cescoffier dev builds are available at https://github.com/graalvm/graalvm-ce-dev-builds/releases/

I will try to have another look at it again this week, last time I tried I couldn't get the test to pass even with 22.0 so please let me know if there are any special steps I need to take in order for it to run.

I am getting:
[code]

I use
[code]
to run the test.

I even tried increasing the time o

[2022-02-14 07:32] phillip-kruger commented on #20092
@jmartisk - f.y.i - if you are keen to look at this ^^^

[2022-02-14 07:36] geoand commented on #8593
@ppalaga @jamesnetherton it seems like `camel-quarkus-integration-test-microprofile` is failing

[2022-02-14 07:47] jamesnetherton commented on #8593
That's what this aims to solve https://github.com/quarkusio/quarkus/issues/8593#issuecomment-1038751367.

[2022-02-14 07:49] manovotn commented on #23643
+1, this sounds like a typical use case for `AdditionalBeanBuildItem` (which is Quarkus equivalent for adding beans via portable extensions in Jakarta EE CDI).

[2022-02-14 07:57] geoand commented on #23606
And host networking is problematic on anything other than Linux

[2022-02-14 07:59] mkavalecz commented on #23606
Isn't it possible to run the Mock Event server in a container, and communicate between containers?

[2022-02-14 08:10] mkouba commented on #23637
`@IfBuildProfile` is built on top of [Quarkus config profiles](https://quarkus.io/guides/config-reference#profiles) and AFAIK only  _single build profile_ can be active. @radcortez correct me if I'm wrong pls.

Note that `@IfBuildProfile` completely ignores the _runtime profiles_ because the set of known beans is determined during build, i.e. it's read-only at runtime.

[2022-02-14 08:11] geoand commented on #23606
Currently no, but it's something we'll have to look into

[2022-02-14 08:13] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1839241955

[2022-02-14 08:16] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1839241955

[2022-02-14 08:17] geoand commented on #12486
`kogito-quarkus-serverless-workflow-integration-test` is now failing

[2022-02-14 08:23] vsevel opened #23656 "Unable to define stork discovery provider in extension"
### Describe the bug

I have created an extension to host a stork service discovery custom implementation.
I use the extension from my application.
The application fails to start because it does not find the service discovery from the extension.
If I move the service discovery into the application, it works.
In addition the discovery configuration class does not get generated.

/cc @michalszynkiew

[2022-02-14 08:27] vsevel commented on #23656
to reproduce you can also make a build without tests, and run:

[code]

[2022-02-14 08:30] evacchi commented on #12486
kogito-quarkus-serverless-workflow-integration-test @ricardozanini

[code]

integration-tests-quarkus-processes @tiagodolphine

[code]

the last one may have to do with https://github.com/kiegroup/kogito-runtimes/pull/1947

[2022-02-14 08:32] evacchi commented on #14860
looks like they are the same failures of https://github.com/quarkusio/quarkus/issues/12486 /cc @ricardozanini @tiagodolphine

[2022-02-14 09:40] xstefank commented on #23632
@rmanibus is it expected to restart the app if the task is overdue? If the liveness probe reports down the app will be restarted.

[2022-02-14 10:05] geoand commented on #23609
I am not really sure how this should be handled to be honest.

AFAIK, the `List` and `Set` types for parameters are meant to capture multiple values of the same parameter (and that is what the TCK tests).

[2022-02-14 10:08] rmanibus commented on #23632
I think we need a grace period, but after sometime, I think it must be restarted yes

[2022-02-14 10:10] pravussum commented on #23609
Yes, exactly, but still both could be true and by the order of the possibilities in the JAX-RS resource documentation I would take it, that it should be checked for a param converter first, and only then be handled as a list.
Otherwise it would never be possible to have a converter for anything that is a List (or Set) - but this is what our OpenAPI generator produces from the spec.

[2022-02-14 10:11] #22554 closed

[2022-02-14 10:23] #23399 closed

[2022-02-14 10:41] geoand commented on #23609
Yeah that makes sense.

[2022-02-14 10:43] AmsterdamFilho commented on #23343
@gilvansfilho I created a reproducer here https://github.com/amsterdam-superchat/quarkus-hibernate-query-issue

Just run the project, access the swagger-ui, create a group, create a member, add the member to the group, and then invoke the get member groups endpoint.

You'll see that the GroupMemberDao throws an Exception for the method

fun findByMember(member: UUID): Uni<List<GroupMember>> {

[2022-02-14 10:56] yrodiere commented on #23563
Ok, I had a closer look at the stack trace. This is not a configuration problem at all, this is a bug in Quarkus, and it's been solved in  #23422, which has merged in Quarkus 2.7.1.Final.

I'll close this ticket as duplicate of #23422. If the problem still occurs with Quarkus 2.7.1.Final, please reopen.

[2022-02-14 10:57] #23563 closed

[2022-02-14 11:04] michalszynkiewicz commented on #23656
Does it work for you if you move the classes out to a separate project, i.e. not an extension?

What are the benefits of having it as an extension?

[2022-02-14 11:08] geoand commented on #23656
@michalszynkiewicz why would it not work in the runtime module of an extension?

[2022-02-14 11:19] yrodiere commented on #23574
`quarkus.hibernate-orm.sql-load-script` is a build-time configuration property. Its value fixed at build-time, and when building a native binary for your application, the file may actually be read during the build. So there is no point allowing the use of a file outside of `src/main/resources`.

I will close this issue. If you have a compelling reason to use a file outside of your resources for `s

[2022-02-14 11:19] michalszynkiewicz commented on #23656
I don't know, weird that it doesn't work at all. I looked at the code and it seems to be good.

[2022-02-14 11:22] vsevel commented on #23656
@michalszynkiewicz to support better our application teams, we try to factor as much as possible some of the transversal technical concerns into a common set of extensions that all applications will depend on.
the integration with our legacy service discovery is one of those technical concerns.
I could very well move it to a different library, if this this works technically. but why would I have t

[2022-02-14 11:23] liteultom commented on #23574
I think I have a compelling reason and will try to find time to write a proper feature/enhancement request.

However, I think it's still a bug that it fails silently, there should be either an error or a warning, just as when the file is not found.

[2022-02-14 11:24] geoand commented on #23618
I proposed on Zulip that we introduce an ASM transformation to strip the `final` modifier from the gRPC generated classes, thus allowing the scope conversion

[2022-02-14 11:25] vsevel commented on #23656
in the reproducer's `application.properties`, change `stork.hello-service.service-discovery=my2` to `my3` (discovery embedded in the app) and it works.

[2022-02-14 11:26] yrodiere commented on #23574
True. I'll have a look, thanks for bringing this up.

[2022-02-14 11:53] #23406 closed

[2022-02-14 12:00] radcortez commented on #23637
Correct. SR Config does support multiple profiles, but Quarkus does not. It is possible to have some limited use of multiple profiles in Quarkus through SR Config, but it was never officially supported because there was no interest in it.

[2022-02-14 12:09] phillip-kruger commented on #23589
This might already be possible, if you are willing to do some coding. In OpenAPI you can provide an static file as a input to be merged with the final document, or you can use filter to fetch the document and manually add it.

[2022-02-14 12:09] phillip-kruger commented on #23586
Thanks for this. This will have to be in the LRA Extension, but I can also have a look.
cc @xstefank

[2022-02-14 12:14] ricardozanini commented on #12486
@fjtirado can you take a look, please?

[2022-02-14 12:14] geoand commented on #23656
Just as an FYI, `ServiceProviderBuildItem` is only useful for native mode.

@michalszynkiewicz let me know if you want me to look into this at all (sounds like it could be classloader related)

[2022-02-14 12:16] josephearl opened #23660 "LinkageError with quarkus-agroal and camel-quarkus-activemq"
### Describe the bug

When using `camel-quarkus-activemq` together with `quarkus-agroal` there is a LinkageError:

[code]

(wasn't sure if this should be reported here or to camel-quarkus so have also raised an issue there - https://github.com/apache/camel-quarkus/issues/3548)

### Expected behavior

No linkage error, dependencies work together without any extra configuration

### Actual behavior

[2022-02-14 12:22] jmartisk opened #23661 "Micrometer JSON registry uses a non-blocking route"
### Describe the bug

... so if there are gauges which require a blocking operation to get the value, then the call to `/metrics` fails

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Use `quarkus.micrometer.export.json.enabled=true` and register a gauge that requires a blocking operation to retrieve the value, and then request a JSON export from `

[2022-02-14 12:45] doczico opened #23665 "Jib jvm build permissions issues"
### Describe the bug

While creating a container image using jib (fast-jar) the whole /work folder (content included) is created with 755 and root as owner even when the username is specified or the image run as another user.
which in my case lead to this issue
`Caused by: com.arjuna.ats.arjuna.exceptions.ObjectStoreException: ARJUNA012225: FileSystemStore::setupStore - cannot access root of objec

[2022-02-14 12:50] tiagodolphine commented on #12486
I'll take a took at this last issue @evacchi @ricardozanini

[2022-02-14 12:51] gkfirst8 commented on #9679
This is also useful to match the format that AWS needs in awslogs-datetime-format. That is following Pythons logging format: https://strftime.org/ which expects 'Microseconds'.

[2022-02-14 12:59] geoand commented on #23665
Thanks for reporting!

How can reproduce this issue?

[2022-02-14 13:35] famod commented on #23637
I think there is general interest, but IIRC there were objections w.r.t. users shooting themselves in the foot.
I had/have mutliple occasions where the absense of that feature led to awkward and badly maintainable workarounds

[2022-02-14 13:37] #23661 closed

[2022-02-14 13:55] xstefank commented on #23586
I can take a look, @phillip-kruger

[2022-02-14 14:49] rolintoucour commented on #23360
I can reproduce the issue consistently with a VM on GCP, if that might help:
- I create a VM of type e2-small
- in zone europe-west1-b
- usung image ubuntu 20.04 (ubuntu-2004-focal-v20220204)
- basic setup otherwise

Then on the this VM I run the following:

[code]

The error logged is:

[code]

[2022-02-14 14:55] gastaldi opened #23674 "DevUI console no longer responds if you enter input before it boots"
### Describe the bug

In a Quarkus app, if you type something before the app is initialized with `mvn clean compile quarkus:dev`, you'll get the following exception in the console and the input no longer works (you need to kill the process to Ctrl+C the application):

[code]

### Expected behavior

No errors and input works normally

### Actual behavior

You can't input anything in the console whi

[2022-02-14 15:03] xstefank commented on #23586
I also wonder whether LRA endpoints should go under non-application path. @gsmet ?

[2022-02-14 15:15] #23665 closed

[2022-02-14 15:18] geoand commented on #23586
You mean under `/q`? If so, I think that makes sense

[2022-02-14 15:28] AndreasMaita opened #23676 "Cannot produce a Linux executable"
Dear Community,

I'm new to Quarkus, and I am trying to follow along the getting-started guides. My goal is to build a Linux executable, so I can run it inside a docker container.

I'm running a Debian Linux Machine on my MacBook Pro M1, since I have read that there are issues compiling native executables on Android Silicon Chips.

Here is an overview of my machine's architecture:
![image](https:/

[2022-02-14 15:33] josephearl commented on #23660
Wondering if this is due to the dependency configuration (2 enforced platforms):

[code]

[2022-02-14 16:34] mkouba opened #23677 "Qute type-safe expressions - ignore wildcards in parameter declarations"
### Description

I.e. `{@java.util.List<? extends org.acme.Label> labels}` should be treated as  `{@java.util.List<org.acme.Label> labels}`.

### Implementation ideas

_No response_

[2022-02-14 16:42] xstefank commented on #23586
yes, under /q as coordinator paths aren't user paths.

[2022-02-14 16:45] geoand commented on #23586
Seems reasonable, albeit somewhat breaking

[2022-02-14 16:54] nenros opened #23678 "Kotlin serializer - Flow - don't work"
### Describe the bug

I ave problem with enabling serialization on Flow(from kotlin coroutine) response. It doesn't work at all

### Expected behavior

It should produce beautiful json.

### Actual behavior

[code]

### How to Reproduce?

Added such endpoint in integration test:
[code]
in https://github.com/quarkusio/quarkus/blob/ea4099305aed07d0428bf4aa53de61142a2e7499/integration-tests/kotlin-se

[2022-02-14 17:01] manofthepeace opened #23680 "quarkus.tls.trust-all does not seem to be a build time property"
### Describe the bug

I was trying to do a https call using a self signed cert on my laptop and as expected, I got the `Failed to create SSL connection` error. This is without setting `quarkus.tls.trust-all` so it is false by default.

Then I just tried running the app the following way;
`QUARKUS_TLS_TRUST_ALL=true java -jar target/quarkus-app/quarkus-run.jar`

I got the following warning;
[code]

[2022-02-14 17:06] iocanel opened #23681 "Build failure when the kubernetes-client extension is configured with certificates"
### Describe the bug

Configuring the kubernetes-client with

[code]
Causes the build to fail, if `/path/to/car.cert` is not available at compile time.

[code]

### Expected behavior

The extension should not fail at compile time.

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

[2022-02-14 17:21] sberyozkin commented on #23680
CC @radcortez

[2022-02-14 17:28] zivkovic commented on #12086
I have stumbled on the same issue, but have somehow missed the note in documentation. Could an example be added, as that would make it less likely for me/others to simply "skip" over this note...

[2022-02-14 17:40] ruromero opened #23683 "Support role mapping for Client certificates"
### Description

When using Mutual TLS Authentication it is not possible to add roles to identities without a custom `SecurityIdentityAugmentor` it would be great to be able to extract the roles from a file or an external source like a database or LDAP.

That means that when configuring MTLS I cannot have RBAC without implementing it myself.

### Implementation ideas

Would it be enough to just pr