[2021-01-22 23:27] #14533 closed

[2021-01-23 07:05] oursy commented on #14532
vertx-redis-client  Obtaining the address of the current master command
[code]
So just change `REDIS_MASTER_HOST=localhost` in https://github.com/akoufa/quarkus_sentinel_issue/blob/master/docker-compose.yml#L10

[2021-01-23 07:42] sd-f commented on #14541
@sberyozkin i think using absolute URIs is the way to go in this case. This leaves all the parsing and setting options to the webclient and auth-server-url property will always be one string containing an aboslute uri. Setting host etc. in options is for special cases where the host or port does not match the Host-Header in the request. Maybe I have some time today to check. What do you say?

[2021-01-23 08:02] geoand commented on #14525
@iocanel any ideas?

[2021-01-23 08:18] geoand commented on #14525
Thanks

[2021-01-23 08:45] qiuhw opened #14542 "static flush or automaticlly flush static methods for hibernate reactive panache"
**Description**
I tried to figure out why my PanacheEntityBase::deleteById not actually delete anything in the database with the debugger, and found out that the DeleteEvent only queued but never executed. Then I found out that there's a PanacheEntityBase::flush that can flush the change to the database. But the flush method is not static, so I had to write the following code
`deleteById(id).call(

[2021-01-23 08:56] geoand commented on #14536
Hi,

I could not reproduce this with a simple hello world application and using a cURL request:

`curl -H "X-Forwarded-For: 10.17.13.17" http://localhost:8080/hello`

Is there anything more you can tell us what you are doing?

[2021-01-23 09:28] geoand commented on #14525
I took a quick look and this and it's a little weird.

The produced jar file is in `/deployments/configmap-file-system-1.0.0-SNAPSHOT-runner.jar` while the mounted configuration should be in `/deployments/config`, which should be enough for Quarkus.

@mjurc can you show what the container's file system look like when you deploy the application?

Adding to the mystery, `SMALLRYE_CONFIG_LOCATIONS` d

[2021-01-23 09:38] geoand commented on #14525
Nevermind this last comment, I see where SR Config uses this.

I think that the problem is how things are getting mounted into the containers File System. So @mjurc when you have a chance, please post what that file system looks like under `/deployment`.

Thanks

[2021-01-23 09:51] wjglerum opened #14544 "quarkus-resteasy-multipart seems to require Jackson in Quarkus 1.11.0.Final"
**Describe the bug**
Quarkus fails to start when we include the extension `quarkus-resteasy-multipart` after upgrading from Quarkus 1.10.5.Final to Quarkus 1.11.0.Final

**Expected behavior**
Quarkus starts successfully with multipart support and without requiring Jackson.

**Actual behavior**
Quarkus fails with the following exception on start up:

[code]

Next if I add the extension `quarkus-jac

[2021-01-23 10:28] akoufa commented on #14532
Thank you @oursy . Indeed the reproducer setups was wrong. I tweaked a little bit the connection pool values in our production system. I managed to connect to redis but I am getting following errors now: `executor-thread-1) READONLY You can't write against a read only replica.` . Though I have https://quarkus.io/guides/redis#quarkus-redis-client_quarkus.redis.role as master as it is the default va

[2021-01-23 10:43] knutwannheden commented on #14536
I will take another look. But it looks like an NPE can be provoked somehow. I will try to reproduce and otherwise analyze the code.

[2021-01-23 11:01] geoand commented on #14536
The only way I saw that would cause a NPE is if the host is somehow null (I don't know how that can happen)

[2021-01-23 13:05] gwenneg commented on #8140
Thank you for your interest @vteferrer! There is actually an open PR (see #8631) with a proposal of programmatic caching API. It is purposely restricted to data access methods for now but there will certainly be more features in the future (like stats for example). Feel free to comment it if you have any idea or suggestion!

[2021-01-23 13:26] mklueh commented on #14450
Thank you :)

[2021-01-23 14:07] ivangfr opened #14545 "Native Docker image build stuck in 1.11.0.Final"
**Describe the bug**

Hi, I've just upgraded my [project](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/simple-api/quarkus-simple-api) to version `1.11.0.Final`.

When I try to build the Docker native image, the building process simply gets stuck and doesn't move forward, as we can see in the picture below (the 3rd screen on the bottom, it's running `docker stats` and

[2021-01-23 14:48] 362228416 commented on #14283
@patriot1burke
serverless..

[2021-01-23 16:02] #14510 closed

[2021-01-23 16:38] huw0 opened #14546 "OpenAPI 301 has no CORS headers"
**Describe the bug**
In Quarkus 1.11.0 /openapi now redirects to /q/openapi. However the redirect has no CORS headers, so using an external Swagger UI will be unable to load the API definition.

**Expected behavior**
/q redirects should have the Quarkus configured CORS headers, if CORS has been enabled.

**Actual behavior**
Redirect from /openapi to /q/openapi has no CORS headers

**Environment (p

[2021-01-23 16:43] Sanne commented on #14542
hi @qiuhw , an alternative solution is to use

`Panache.withTransaction( -> )` to wrap all database operations; this will flush any pending operations just before commit and is generally the recommended approach.

But yes, I can also see we should expose `flush()` in a better way so let's leave this issue open.

[2021-01-23 16:54] huw0 opened #14547 "1.11.0 quarkus-smallrye-jwt-build does not work standalone"
**Describe the bug**
Generating a JWT token results in a stacktrace if only the new quarkus-smallrye-jwt-build dependency is included without  quarkus-smallrye-jwt

**Expected behavior**
If quarkus-smallrye-jwt-build requires quarkus-smallrye-jwt then this should be a dependency.

**Actual behavior**
[code]

**To Reproduce**

Simple JAX-RS Endpoint:

[code]
With dependencies:

[code]

**Environmen

[2021-01-23 16:58] gunnarmorling opened #14548 "Ambiguous info in reactive guide"
See https://quarkus.io/guides/getting-started-reactive#mutiny, there's this note:

The next two listings then mention `io.quarkus:quarkus-resteasy-reactive` though instead of `io.quarkus:quarkus-resteasy-mutiny`.

// CC @cescoffier

[2021-01-23 17:09] phillip-kruger commented on #14546
@kenfinnigan

[2021-01-23 17:49] vteferrer commented on #8140
I´ve reviewed the open PR and I only miss a method to retrieve the keys associated with a Cache. This would be useful to  to know what content has a Cache and find a particular item

[2021-01-23 21:43] eliaharm commented on #6948
Dear @SoftMeng
That didn't work for me when persisting an object with **REST resources for Hibernate ORM with Panache**
it is returning null

[2021-01-24 00:03] gunnarmorling opened #14550 "Can't use Qute in reactive application"
When trying to build an application using RestEasy Reactive and Qute for rendering responses from templates, this exception is raised:

[code]

Given Qute supports async rendering, I'd expect it to be useable in a Reactive application. Specifically, I'd like to use Qute to render server-sent events.

[2021-01-24 00:04] gunnarmorling commented on #14550
/cc @cescoffier

[2021-01-24 00:10] gunnarmorling opened #14551 "Confusing info in guide discussing reactive messaging and httP"
In https://quarkus.io/guides/reactive-messaging-http, a few things are confusing:

* The title mentions WebSockets, whereas this seems not to be the case in the actual contents
* The "trying it out" part speaks of AMQP, which didn't play a role before

[2021-01-24 00:43] ejba commented on #14219
Someone corrects me if I am wrong.

* Jump to independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/CodestartProjectGeneration.java
* Refactor L51 with the following algorithm:
  - Get OS name (e.g.`System.getProperty("os.name")`)
  - if the name contains **"win"** then use bullets, otherwise use `CodestartType.getIcon()`

[2021-01-24 07:42] #14478 closed

[2021-01-24 07:42] #14359 closed

[2021-01-24 10:20] gunnarmorling commented on #14550
As I learned from @cescoffier, there's a dedicated artifact, `quarkus-resteasy-reactive-qute`, which needs to be used when combining Reactive with Qute. This should be highlighted in the Qute guide.

[2021-01-24 10:44] suleymancan opened #14553 "Application does not work with dev config after native compilation"
**Describe the bug**
`mvn -Pnative package`
`./target/app-runner -Dquarkus.profile=dev`
After compiling and running using the command, I cannot run it with `dev` profile config. When I run it with the `stage` profile it works as expected.

`mvn package`
`java -jar -Dquarkus.profile=dev ./target/app-runner.jar`
When I create the jar, I can run it with dev config.

**Expected behavior**
After compil

[2021-01-24 10:44] Erfankam commented on #13056
Thanks all for incorporating.

[2021-01-24 10:45] sd-f commented on #14480
@Sgitario If you want to test it I deployed a preview version to my nexus.

[code]

[code]

 It also contains the final fix from PR https://github.com/quarkusio/quarkus/pull/14543

 Hint: absolutely not official ;)

[2021-01-24 10:45] Erfankam commented on #5485
?

[2021-01-24 11:59] sberyozkin commented on #14541
@sd-f thanks for you analysis, it makes sense, I've seen your PR, cheers, I'll have a look

[2021-01-24 12:54] bcluap opened #14554 "RESTEasy Reactive: ContainerRequestContext getEntityStream returns empty stream"
**Describe the bug**
The RESTEasy reactive module does not obey the JAX-RS Spec with respect to accessing the entity steam in filters:

"ContainerRequestContext is a mutable class that provides request-specific information for the filter,
such as the request URI, message headers, **message entity** or request-scoped properties."

**Expected behavior**
Accessing ContainerRequestContext getEntityStr

[2021-01-24 13:34] belu commented on #10987
There is also no live-reload/hot-replace for Kotlin files in Maven projects.

In a mixed Java + Kotlin Quarkus application: if I change a Java source file then live-reload/hot-replace is performed. However, if I change a Kotlin source file then the change is not detected.

[2021-01-24 13:47] omarsahl opened #14555 "CDI beans generated by kapt and gradle are not picked up in tests and cause `javax.enterprise.inject.UnsatisfiedResolutionException`"
**Describe the bug**
I'm using [MapStruct](https://mapstruct.org/) with gradle and kapt to genererate `Mappers` as injectable CDI beans.
The problem appears when I try to inject those mappers and run any test as it causes `javax.enterprise.inject.UnsatisfiedResolutionException: Unsatisfied dependency for type <Mapper> and qualifiers [@Default]` .
Running in dev mode (e.g. by running `quarkusDev`)

[2021-01-24 14:02] vteferrer opened #14556 "JSON serialization seems is not working on native compiled Quarkus app"
**Describe the bug**
JSON serialization works correctly in Java mode, but stops working when the project is compiled natively. It occurs with JSON-B as well as Jackson, even with Jackson I need to configure the ObjectMapper with `disable(SerializationFeature.FAIL_ON_EMPTY_BEANS)` to avoid a `com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class...` exception.

[2021-01-24 15:23] j-be commented on #6948
@eliaharm I think you still need to `@Inject JsonWebToken` somewhere (it doesn't really matter where or if it is used there, as long as the bean injecting it is used, or marked as `@io.quarkus.arc.Unremovable`).

I think Quarkus is like "you don't use the bean? I'll not pack it then" on buildtime, and `CDI.current()` lookup alone do not classify as "use".

[2021-01-24 15:26] serega-upgini commented on #5129
Is there any way to pass url to DB "really" in runtime?

My use-case: I know that app should be able to connect to random Postgres databases, but don't know the Postgres Database url in advance. User provides jdbcURL in runtime (when app is up and running) and app has to connect that that DB.

[2021-01-24 15:29] Sanne commented on #5129
You should be able to establish a connection using the JDBC API directly.

[2021-01-24 17:37] #14541 closed

[2021-01-24 17:53] sberyozkin commented on #14547
we need
[code]

[2021-01-24 19:27] glefloch commented on #14555
@omarsahl, thanks for reporting this.
I updated your reproducer to 1.10.5.Final and the test is ok. can you try with it?

[2021-01-24 19:38] gunnarmorling opened #14559 "Allow enums to be passed to included Qute templates"
When including a template, I'd like to pass an enum value:

[code]

But when referencing the `mode` variable from the included template, it's resolved to "NOT_FOUND". It works when passing e.g. a String.

[2021-01-24 20:16] gastaldi commented on #14547
Would that mean that projects using this extension can't depend on Jackson?

[2021-01-24 20:25] serega-upgini commented on #5129
@Sanne thanks for your response! Will it be still "native image" compatible in case I use Posrgres Driver from classpath? Docs  says "unlikely that it will work" when user tries to use drivers directly. Is it possible to instantiate reactive pool and connection in the same manner?

[2021-01-25 00:59] qiuhw commented on #14542
Hi @Sanne, thanks for the info.

[2021-01-25 01:16] Mobe91 opened #14560 "GraalVM substitutions randomly break org.hibernate.Version"
**Describe the bug**
GraalVM substitutions in the Hibernate-ORM integration generate classes in the `org.hibernate` package that are not located inside the `hibernate-core` JAR. This causes the `META-INF/MANIFEST.MF` in `hibernate-core` not to take effect when the `java.lang.Package` instance for the `org.hibernate` package is created during class loading whenever the first class of the `org.hiber

[2021-01-25 01:27] pipinet opened #14561 "Exclude graphql-ui from jwt verification"
Use graphql-ui and smallrye-jwt,
chrome plugin use ModHeader set Authorization= Bearer {token}
if the token is invalid, graphql-ui will get 401， page can not open.

Is there any configuration to exclude graphql-ui from jwt verification

----
![image](https://user-images.githubusercontent.com/6096680/105650822-fc6b0980-5eef-11eb-8608-3364bdfea604.png)
-----
![image](https://user-images.githubuserco

[2021-01-25 02:56] CurtisBaldwinson commented on #14556
Try adding the @RegisterForReflection annotation to your IntercomEvent class.

[2021-01-25 05:33] manovotn commented on #14555
Yea, had the same thought because I thought I saw this issue somewhere and I tried the reproducer with latest version(1.11.0.Final) - works fine.

[2021-01-25 05:59] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/508542817

[2021-01-25 06:02] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/508544169

[2021-01-25 06:06] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/508543830

[2021-01-25 06:09] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/508542624

[2021-01-25 06:32] Rohit-nagbhidkar commented on #8605
Still having error while calling ImageIO.read on jpeg files
using quarkus native image 20.3.1
Exception in thread "Lambda Thread" java.lang.UnsatisfiedLinkError: com.sun.imageio.plugins.jpeg.JPEGImageReader.initJPEGImageReader()J [symbol: Java_com_sun_imageio_plugins_jpeg_JPEGImageReader_initJPEGImageReader or Java_com_sun_imageio_plugins_jpeg_JPEGImageReader_initJPEGImageReader__]
--
at com.oracl

[2021-01-25 06:54] vteferrer commented on #14556
@CurtisBaldwinson it did the trick, annotating the POJO class with _@RegisterForReflection_ it works

[code]
The behavior is not obvious but with that annotation it resolves

Thanks a lot!!!

[2021-01-25 07:26] zakkak commented on #8605
This issue should be fixed by https://github.com/oracle/graal/pull/3032 in GraalVM CE 21.0.

Upgrading to 21.0 is work in progress (see https://github.com/quarkusio/quarkus/pull/14512) but you should be able to test if it solves the issue with:
`-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:20.3-java11`

[2021-01-25 07:29] bwand commented on #14480
Thanks for the quick fix of this problem. I can see that it is currently fixed for Version 1.12.
As the feature is not usable when only relying on localhost I would like to ask if it qill be backported to next minor version 1.11.1? I see the triage/backport? label on the PR but what does that mean?

[2021-01-25 07:35] FreifeldRoyi opened #14564 "MySql reactive driver slowness"
I had to switch from reactive postgres client to mysql and I saw a major drop in performance.
My program is in command mode that reads from kafka (self managed and partition assignment with reactive kafka client), do some transformation, and write to DB in batches. Basically a batch cmd tool (or poor man's Spark =) )

On a simple test (non benchmark) it managed to read and insert ~150K messages in

[2021-01-25 07:42] zakkak commented on #14545
FYI `master` is now using 20.3.1 :) (see https://github.com/quarkusio/quarkus/pull/14457)

We are also working on upgrading to 21.0.0 (see https://github.com/quarkusio/quarkus/pull/14512)

[2021-01-25 07:48] geoand commented on #12111
@glefloch is the failure to deploy the snapshots what #14558 is intended to fix?

[2021-01-25 07:51] rsynek commented on #11563
The build failure is under investigation.

[2021-01-25 07:54] sd-f commented on #14480
@sberyozkin can you answer @bwand s question? I am not sure about the release backport processes ;)

[2021-01-25 08:01] geoand commented on #14554
This is an interesting problem.

I like the of allowing a fiter to deciding whether it's `blocking` or not, but I am not sure I would like to advertise downcasting to a specific type.

Maybe the following would make more sense:

When using `@ServerRequestFilter`, allow `Uni<Void>` as a return in addition to `void`. The idea here is that RESTEeasy Reactive will automatically suspend before calling

[2021-01-25 08:02] iabughosh opened #14565 "Using fast-jar packaging + AppCDS with Quarkus 1.11.0"
Dears,
I am unable to create docker image using fast-jar packaging, AppCDS & docker image plugin, it looks like docker image building is being executed before AppCDS generation which results in docker image building failure,  here is a sample output of maven package command :

[code]

and a sample snippet of modified docker fast jar file :
[code]

.dockerignore is modified with below line :
[code]

[2021-01-25 08:05] geoand commented on #14565
Thanks for reporting.

Can you upload a small project that exhibits the erroneous behavior? I would like to avoid creating one myself because something could get lost in the details - it's always best to have the original source of the problem.

Thanks

[2021-01-25 08:07] iabughosh commented on #14565
Ok I will do, but I may need some time for it.

[2021-01-25 08:09] geoand commented on #14565
Sure, whenever you can

[2021-01-25 08:17] gwenneg commented on #8140
Thanks for reviewing the PR @vteferrer! I pushed https://github.com/quarkusio/quarkus/pull/8631/commits/bdb47f4f90e9016b27552f8126d7d34fb6017e38 to expose the cache keys in `CaffeineCache` (it might be part of the `Cache` API in the future).

[2021-01-25 08:25] Rohit-nagbhidkar commented on #8605
getting `Error: Runtime exited with error: signal: segmentation fault (core dumped) Runtime.ExitError` after using ubi-quarkus-native-image:21.0-java11

[2021-01-25 08:26] iabughosh commented on #14565
Here you go : https://github.com/iabughosh/appcdsfastjar

Please note that this is the command that I am using :
./mvnw clean package -DskipTests -Dquarkus.container-image.build=true -Dquarkus.container-image.push=false

[2021-01-25 08:29] knutwannheden commented on #14536
When I call an endpoint using `curl` like this I can provoke this NPE: curl http://localhost:8080/foo -H "Host:". I can't really tell you how this happened now, but an NPE seems wrong in any case.

[2021-01-25 08:30] bcluap commented on #14554
At what point do you hand over to an executor thread if the resource is @Blocking? E.g. let's say I set @Blocking on my application class (FYI - never managed to get this to work BTW) so all resources are blocking, then would my pre and post matching filters run in an executor?

If they do, then you might as well allow access to the entire body if you see that you are in an executor. This way one

[2021-01-25 08:38] geoand commented on #14554
I recently fixed a bug in this.

Yes, when a method is `@Blocking`, the filters also run on the executor instead of the event loop.

I see what you mean, I am just thinking that we probably want to have a declarative way to control the desired behavior (as the one I described above), instead of relying on the semantics of `Blocking` which could end up confusing people.

[2021-01-25 08:39] geoand commented on #14536
That is good enough. I'll provide a fix, because certainly we don't want a NPE.

[2021-01-25 08:44] glefloch commented on #12111
@geoand yes this should fix the failing gradle test.

[2021-01-25 08:50] bcluap commented on #14554
Ok great. In terms of a declarative way - my sense is that declaring @Blocking on the application is sufficient to say that you want it to act like normal RESTEasy but with the performance and reengineering benefits of the Reactive codebase. The Reactive implementation is faster and nicer to use even in blocking mode!

Why would you not allow a filter to access the body if the application has said

[2021-01-25 08:53] rsvoboda commented on #14540
Is this something to be fixed in 1.11.x version stream?

[2021-01-25 08:55] Sanne commented on #14560
Very interesting, thanks for spotting that.

[2021-01-25 08:57] geoand commented on #14554
The problem is this the way I see it:

Currently, a JAX-RS Resource method is blocking, not an entire application. If we end up adding `@Blocking` to filters as well, then that means we automatically make every JAX-RS Resource blocking as well (which can both be confusing and potentially unnecessary for some)
With my proposal, the body can be read in a non-blocking blocking fashion and the endpoin

[2021-01-25 09:01] bcluap commented on #14554
Ok sorry, I think I confused things.

By that, I mean @Blocking on the class that extends Application. I.e. I am declaring that I want all resources and filters to run on the executor thread. By doing so, should this not also allow access to the body by default as well?

Then, in addition, your proposal can be used in case someone wants to access the body in a non-blocking fashion.

[2021-01-25 09:07] zeljkot opened #14566 "1.11.0 cannot be started or packaged"
**Describe the bug**
If I try to start the application in DEV mode, I get `Dev mode process did not complete successfully`

If I try to package the application, I get some kind of boot loop.

**Expected behavior**
With only Quarkus version changed, Maven operations should work as before.

**Actual behavior**
If I try to start the application in DEV mode, I get:
`Failed to execute goal io.quarkus:q

[2021-01-25 09:08] loicmathieu commented on #14542
Yes, we should have make the `flush()` method static.
We can easily do it now but this is not binary compatible, apps would need to be re-built.

[2021-01-25 09:24] wjglerum opened #14569 "How to properly register XMLGregorianCalendar?"
Already for some time some warning is bugging me when our Quarkus app is starting up. This is regardless of the Quarkus version, seeing this warning on both 1.10 and 1.11

We generate some Java code from XSD files for a REST Client implementation using JAXB. The XSD contains a datetime field which translates to a `javax.xml.datatype.XMLGregorianCalendar`. And gives me the following warning on star

[2021-01-25 09:40] gsmet commented on #14547
It won't be an issue, it's JSON-**P**, the low level one, not JSON-B. IIRC, RESTEasy Reactive also has this dependency because of JAX-RS spec constraints.

[2021-01-25 09:40] FroMage commented on #14554
Don't we have an API to read the body in an async way?
And, what do we do with the body if a filter reads it? Can the resource then later re-read it? If yes it needs to be buffered, no?

[2021-01-25 09:41] #14547 closed

[2021-01-25 09:43] FroMage commented on #14542
We can make it static for HR with Panache, it's still an experimental API.

[2021-01-25 09:45] gsmet commented on #14561
When we come with a solution, could we document it somewhere if not already done? Thanks!

[2021-01-25 09:47] bcluap commented on #14554
There are 2 scenarios at play when a filter accesses the body:
1) The filter wraps the stream so that it can buffer the body and do whatever it needs while the resource is reading it. This is transparent to the resource.
2) The filter directly reads the inputstream itself. This would most likely also need to be done with a .suspend() call to tell the platform that it should not try and process the

[2021-01-25 09:52] sberyozkin commented on #14547
@gastaldi Hi George - I don't think so as it is not a JAX-RS provider level; so they won't be interfering with each other - FYI, right now, `quarkus-oidc`, by depending on both `smallrye-jwt` (the server parts) and vertx oauth2, bring both jsonp and jackson providers and it all works (it is going to be optimized though).
However - what I've been thinking about after I signed off yesterday is that

[2021-01-25 09:54] sberyozkin commented on #14547
Hi @gastaldi, @gsmet - thanks for approving/closing the PR, I'm going to follow up with a minor optimization for you to review :-)

[2021-01-25 10:02] geoand commented on #14554
Right, I see what you mean

[2021-01-25 10:02] geoand commented on #14554
I don't think so. This sort of scenario hasn't really come up.

[2021-01-25 10:04] wjglerum commented on #14569
Seems to be happening for other javax classes too, see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Reflection.20registration.20of.20JDK.20classes.3F

[2021-01-25 10:07] zakkak commented on #8605
@Rohit-nagbhidkar thanks for testing.

Could you please share a reproducer and let us know whether you tried with the latest `master` or with `1.11.0.Final`?

[2021-01-25 10:09] Rohit-nagbhidkar commented on #8605
i have tested with 1.11.0.Final

[2021-01-25 10:09] #14485 closed

[2021-01-25 10:36] wwadge opened #14572 "@Scheduled memory leak"
**Describe the bug**

When I native compile the following code and run it under docker, I can observe a slow memory leak as observed by docker stats. The leak stops if the scheduler is turned off via "-e QUARKUS_SCHEDULER_ENABLED=false"

[code]

**Expected behavior**
No memory leak

**Actual behavior**
Leaks a few Kb of ram every second.

**To Reproduce**

https://github.com/wwadge/quarkus-schedul

[2021-01-25 10:51] encodeering opened #14573 "Separate quarkus-flyway from flyway property config"
**Description**
Flyway can be configured using a [plain property file](https://flywaydb.org/documentation/configuration/configfile#reference) and this file may change from release to release.

For instance `flyway.sqlMigrationPrefix` can be configured through quarkus, whereby `flyway.sqlMigrationSeparator` can actually not.

I am not aware if those properties, attach to quarkus config, are relevan

[2021-01-25 10:52] phillip-kruger commented on #14561
Hi @pipinet

See https://stackoverflow.com/questions/63456589/how-do-i-exclude-quarkus-graphql-ui-from-jwt-authentication

Basically, you can exclude the graphql ui from JWT by adding this to your application.properties:

[code]

Also note that from version 1.11.0.Final the path is `/q/graphql-ui`, so change above to include the `q`.

Hope that helps.

[2021-01-25 11:01] eye0fra opened #14575 "Dynamically Enable / Disable QuarkusTestResourceLifecycleManager"
**Description**
The use case is the ability to run individually a test case, or in case some environment do not have the correct resources available (Docker for instance for Test Containers):

- Test 1 QuarkusTestResourceLifecycleManager is created to spin up several resources like (TestContainers)
- Test 2 with a different lifecycle manager or without one.

Currently, if I launch the Test 2 the Q

[2021-01-25 11:03] gastaldi commented on #14569
@wjglerum I've provided a fix in https://github.com/quarkusio/quarkus/pull/14576

[2021-01-25 11:06] famod commented on #8097
@geoand I tried to grok what's left to do here but except maybe documenting how to use testcontainers with Quarkus, it all seems to work ok with `QuarkusTestProfile `...?

[2021-01-25 11:07] geoand commented on #8097
Yeah, exactly. We probably just need some extra documentation and we should be good to go

[2021-01-25 11:11] wwadge commented on #14572
Example project:
https://github.com/wwadge/quarkus-scheduler-leak

Note: leak is apparent even if cron expression is not due yet to fire

[2021-01-25 11:12] wjglerum commented on #14569
Thanks @gastaldi! I had a look at that class the other day, but had no clue where to start to fix the issue ...

Out of interest, why can we simply ignore the warning for this class?

[2021-01-25 11:13] geoand commented on #14575
Currently the `testResources` of `QuarkusTestProfile` allows to enable **additional** `QuarkusTestResourceLifecycleManager` to be used for that profile.

If I understand correctly the end result you are trying to achieve, I assume adding a new method named `excludedtestResources` where you could explicitly exclude some of the global `QuarkusTestResourceLifecycleManager` classes from taking effect

[2021-01-25 11:14] gastaldi commented on #14569
AFAIK it's because that's a class provided by the JDK and it's not part of the application or a 3rd party library, so it doesn't make sense to look for a Jandex index in this case.

[2021-01-25 11:20] gastaldi opened #14577 "Unable to properly register the hierarchy for javax.net, javax.security and javax.crypto classes"
[code]

[2021-01-25 11:20] omarsahl commented on #14555
@glefloch, @manovotn Thanks for your help, I tried it with version `1.11.0.Final` and it works fine now.

[2021-01-25 11:31] gabrielsson commented on #14530
It would be great with serialization as I use hibernate. Composite keys, special db types etc then can be supported. Simple things like binding hibernate with JoinColumns without foreign keys could be utilized, so there is great potential, at least for me with support for GraalVM 21 in general, and serialization in particular.

[2021-01-25 11:59] sberyozkin commented on #14547
Hi @gastaldi, @gsmet

So yes, I guess including the API dependency only would be a problem until the implementations stop including this api too, as suggested at https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Why.20is.20jakarta.2Ejson.3Ajakarta.2Ejson-api.20disabled, so for now I'll keep it as is and can optimize once the implementations will get decoupled.
Or may be not :-) - may

[2021-01-25 12:12] eye0fra commented on #14575
Yes, it provides an additional Lifecycle, and it is the only way I found to avoid to run different lifecycle without clashing. Using the annotations `@QuarkusTestResource` for a specific test, it runs always.
The `excludedTestResource` method can be useful too but if a developer annotates a class should this test resource used by the specific class only? Wrong assumptions?

What probably I am gett

[2021-01-25 12:25] geoand commented on #14575
Thats is correct. Classes annotated with `@QuarkusTestResource` are essentially "global".

I am not sure I understand what you mean here. Can you explain?

You mean have a way to run only the tests that are associated with that profile? If so, then no, we don't support that. The only way for us to do that would be to tell JUnit 5 to skip the rest of the tests (which I am not even sure is possible)

[2021-01-25 12:34] eye0fra commented on #14575
Ok you answered me above `@QuarkusTestResource` is global and my assumption was wrong :)

I guess with [`@Tag`](https://junit.org/junit5/docs/current/user-guide/#running-tests-tag-expressions) and use the profile as the parameter.

[2021-01-25 12:34] glefloch commented on #14555
Great. I close this issue then

[2021-01-25 12:34] #14555 closed

[2021-01-25 12:41] geoand commented on #14575
Right, in JUnit land you could also use https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution-custom.

But I am still unclear if my proposal about `excludedTestResource` would suit you or not.
To clear the confusion, I propose you add some pseudo code of what your scenario looks like and what **exactly** you are trying to achieve.

[2021-01-25 12:51] ge0ffrey commented on #10834
@geoand @alexander-dammeier I believe this issue was fixed a long time ago. Please close it.

[2021-01-25 12:54] albert0815 commented on #14472
Hi Pedro,

Thanks for checking this and your explanation. Somehow I don't exactly understand though, why you state this is not a bug. At least I can't find any documentation about the mentioned behaviour. Actually the guide "USING OPENID CONNECT AND KEYCLOAK TO CENTRALIZE AUTHORIZATION" mentions that it is possible to check user authorization using the checkPermission method. And its API documenta

[2021-01-25 12:54] #10834 closed

[2021-01-25 12:54] gsmet commented on #10834
Thanks @ge0ffrey !

[2021-01-25 13:15] eye0fra commented on #14575
Here some pseudocode:

_**.profile 1**_
[code]
[code]

[code]

_**.profile 2**_

[code]
[code]

[code]

I think `excludedTestResource` does not help because the tests (profile1 and profile2) will both run with `mvn clean test`. The idea is to run profile mutually exclusive.

[2021-01-25 13:30] pedroigor commented on #14472
Hi @albert0815, it is not clear in docs and the only reason I changed to an RFE is that, by design, permissions are calculated based on the permissions associated with a particular request. If they were fetched as a result of a token exchange (when you send a regular access token with no permissions) or as a result of looking at the permissions within the token (it might not need to do any exchang

[2021-01-25 13:34] kenfinnigan commented on #14546
I'm not entirely sure it should.

Redirection from /openapi to /q/openapi was put in place to prevent backward compatibility breakage in the short term.

Longer term we may revert the setting to `false` by default. For this reason, it may not be the right approach to add CORS headers to a redirect that isn't intended for extended real usage.

If a situation requires CORS today, then it should be m

[2021-01-25 13:34] Sanne commented on #5129
I believe the docs mean to suggest that 3rd party libraries (and drivers) are unlikely to work in native-images w/o an ad-hoc extension, but the PostgreSQL driver has such an extension so this should work.

This would have worked a year ago when I tried something similar; I'm not sure today as this code evolved quite a bit and couldn't try such a thing recently - please try it out and let us know.

[2021-01-25 13:36] pedroigor commented on #14472
Actually, we would need a specific type of permission type, maybe using a `FeatchablePermission` (or a better name), that indicated this intention. Change `SecurityIdentity` is not really an option, IMO.

[2021-01-25 13:41] ia3andy commented on #14219
@ejba that's right! We should also find a fix where those icons are used too: https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/message-writer/src/main/java/io/quarkus/devtools/messagewriter/MessageIcons.java

[2021-01-25 13:43] albert0815 commented on #14472
I would be happy with that approach!

[2021-01-25 13:53] mkouba commented on #14559
Yes, you can't access enum values and static members by FQCN. This is a limitation of Qute [expressions](https://quarkus.io/guides/qute-reference#expressions).

An easy workaround is to provide a namespace [extension method](https://quarkus.io/guides/qute-reference#template_extension_methods) to output enum values for a particular enum type, e.g.:
[code]
and in the template: `{transactionPhase:IN_

[2021-01-25 13:57] sberyozkin commented on #14537
Indeed in `quarkus-oidc` we do not expect that `X-Forwarded-Prefix` is the actual request path segment.

[2021-01-25 14:08] ivangfr commented on #14545
Hi @zakkak

Using the image (in the picture) works! It was modified one day ago. It doesn't get stuck anymore

<img width="1087" alt="Screen Shot 2021-01-25 at 11 03 08" src="https://user-images.githubusercontent.com/10564548/105716034-12cb9200-5efd-11eb-9dd9-e040fc51b035.png">

The Graal 21.0.0, will be available in Quarkus 1.12, right?

[2021-01-25 14:22] zakkak commented on #14545
Yes, it looks like Graal 21.0.0 will be available in Quarkus 1.12 (#14512 got merged today).

Please close this issue if you think it's now resolved.

[2021-01-25 14:29] mkouba commented on #14550
FYI @geoand we should add a chapter similar to https://quarkus.io/guides/qute-reference#resteasy_integration. Would you care to send a PR?

[2021-01-25 14:31] mkouba commented on #14534
This works as designed, i.e. only those expressions that are referenced by [type-safe templates](https://quarkus.io/guides/qute-reference#typesafe_templates) or matched with a [parameter declaration](https://quarkus.io/guides/qute-reference#typesafe_expressions) are validated against the existing Java types. You can always pass additional data to a template instance.

We could probably add somethi

[2021-01-25 14:34] geoand commented on #14550
Good idea. I'll do that soon

[2021-01-25 14:35] #14536 closed

[2021-01-25 14:37] #14569 closed

[2021-01-25 14:38] geoand commented on #14575
Thanks for the explanation. I now see what you want to do.

So like you mentioned before you would like the Quarkus extension to only execute tests that use a specific Quarkus profile, but then also a way to turn off the global `QuarkusTestResourceLifecycleManager`, right?

[2021-01-25 15:06] jerboaa opened #14582 "[quarkus-maven-plugin] No way to specify ',' in -Dquarkus.native.additional-build-args"
**Describe the bug**
For some reason `-Dquarkus.native.additional-build-args="-J-Xdebug -J-Xrunjdwp:transport=dt_socket,server=y,address=88888"` turns into something like this via NativeBuildStep:

[code]

Note the `-J-Xrunjdwp:transport=dt_socket server=y address=88888` part in the native-image invocation.

**Expected behavior**
Commas passed through properly.

**Actual behavior**
Commas get turn

[2021-01-25 15:13] eye0fra commented on #14575
Correct!

[2021-01-25 15:13] jamesnetherton opened #14583 "RunnerClassLoader sanitizeName cannot handle 0 length name argument"
I've been working to make camel-k use the Quarkus fast-jar package format. With Kotlin based Camel routes, the application statup fails.

I'm no Kotlin expert, but its bootstrap is calling `getResources("")` on the `ClassLoader` (not sure if that's valid or not). When the [name argument](https://github.com/quarkusio/quarkus/blob/993a5667fbb51aec5677e30e7210d07bb3be529a/independent-projects/bootstr

[2021-01-25 15:18] jerboaa commented on #14582
OK this is documented in:
https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/writing-native-applications-tips.adoc#delaying-class-initialization (second "Note").

Then you'd have to know to take this to your advantage by using `,` as separator for multiple arguments.

TLDR; The fix is: `-Dquarkus.native.additional-build-args="-J-Xdebug,-J-Xrunjdwp:transport=dt_socket\\,server=

[2021-01-25 15:18] #14582 closed

[2021-01-25 15:34] mkouba commented on #14572
@wwadge Thanks for reporting. I've got some questions ;-).

1. Is it reproducible locally, i.e. no docker and no native?
2. If so, do you have a memory dump?

Also a few KBs of RAM does not have to be a leak...

[2021-01-25 15:48] ChMThiel commented on #14293
Yep, works like a charm!
Thanks!

[2021-01-25 15:48] #14293 closed

[2021-01-25 15:49] geoand commented on #14575
I think for the second part, the most appropriate solution would be to have a new `disableGlobalTestResources` method on `QuarkusTestProfile` which is `false` by default.

For the first part, I am not sure what the proper approach should be (it's definitely not `quarkus.test.profile` which refers to something else entirely.
But maybe we could have some other property that would allow you to run on

[2021-01-25 15:54] pipinet commented on #14561
Hi @phillip-kruger
Got it !!! thanks!

[2021-01-25 15:54] #14561 closed

[2021-01-25 16:11] Ladicek commented on #10929
I've just assigned this to myself, because I submitted a draft PR: #14586.

[2021-01-25 17:09] ia3andy opened #14587 "'security-openid-connect-web-authentication' Guide content differ from quickstart"
**Describe the bug**
The quickstart contains a `TokenResource.java` while the guide have no reference of it.

CC @gsmet @maxandersen

[2021-01-25 17:24] wjglerum commented on #14544
@gsmet any ideas on this? Does it has anything to do with the move to Jackson being default in Quarkus nowadays?

We stuck with JSON-B as that was the preference before. But we might consider moving to Jackson too for our app.

[2021-01-25 17:25] wjglerum commented on #14544
Also what would the impact be on having both the Jackson and JSON-B extensions active? 🤔

[2021-01-25 17:39] gsmet commented on #14544
It's an issue we already fixed. It will be fixed in 1.11.1.Final that we plan to release on Wednesday!

That being said, I would recommend you to move to Jackson if it's not too much of a change. But in any case, it was a bug and it's fixed.

[2021-01-25 17:39] #14544 closed

[2021-01-25 17:41] wjglerum commented on #14544
Thanks for your answer! Nice to hear that you already managed to fix it 😎

[2021-01-25 17:54] #14556 closed

[2021-01-25 18:18] cescoffier commented on #9741
Actually, to work properly, we need to implement the Vert.x JsonCodec.
While possible (I just did it), I'm blocked by https://github.com/eclipse-vertx/vert.x/issues/3766.

[2021-01-25 18:49] #4162 closed

[2021-01-25 18:55] vteferrer commented on #8140
The idea behind this change would be this, wouldn´t it?

[code]

I think it´s great!

Thanks!

[2021-01-25 19:27] #14431 closed

[2021-01-25 19:43] belu opened #14590 "FlyWay causes SQLException on live reload when migrate-at-start is enabled"
**Describe the bug**
If FlyWay is configured with enabled `migrate-at-start`, this causes an SQLException during live-reload.

**Expected behavior**
No exception should occure.

**Actual behavior**
An exception happens during the restart of the application:
[code]

**To Reproduce**

Clone the following project: https://github.com/belu/quarkus-flyway-sqlexception

Steps to reproduce the behavior:
1

[2021-01-25 19:48] vteferrer opened #14591 "The exceptions thrown into an event flow (or a separate thread) are quietly captured and the developer won´t know it"
**Describe the bug**
In the code into an event handler method or another way to generate a separate thread (for example created using _Executors.newSingleThreadExecutor()_ or something like that) the exceptions are not reported, it seems they are quietly captured in an external layer.

**Expected behavior**
In this code:
[code]

```2021-01-25 20:30:09,627 INFO  [org.acm.EventsAndExceptions] (vert.

[2021-01-25 19:50] sherl0cks commented on #12393
Bumping this issue. If you'd like a reproducer that's not from the camel project, the original graal issue on ImageIO should work - it also has lots of other context https://github.com/oracle/graal/issues/1163

[2021-01-25 20:11] #14550 closed

[2021-01-25 20:16] belu commented on #14590
Further info: this bug does not occure with `1.10.5.Final`.

Was this introduced by one of the following changes?
- https://github.com/quarkusio/quarkus/pull/14085
- https://github.com/quarkusio/quarkus/issues/11409

[2021-01-25 20:24] gsmet commented on #14590
It will be fixed in 1.11.1.Final released on Wednesday.

[2021-01-25 20:25] #14590 closed

[2021-01-25 20:25] gsmet commented on #14590
For the record, this is the associated PR: https://github.com/quarkusio/quarkus/pull/14372 .

[2021-01-25 21:09] michalszynkiewicz commented on #14551
And I see the configuration properties are not listed among all configuration options :(

[2021-01-25 21:28] bamling opened #14595 "hibernate-reactive and Vert.x EventBus - Session/EntityManager closes too early"
**Describe the bug**
I'm trying to use the `quarkus-hibernate-reactive` extension with the `quarkus-vertx` extension and I have issues persisting data. My project looks roughly like this:

**FruitResource:**
[code]

**FruitService:**
[code]

**FruitRepository:**
[code]

The exception I get is a `java.lang.IllegalStateException: Session/EntityManager is closed`, which I assume happens during the `f

[2021-01-25 22:33] michalszynkiewicz commented on #14551
I created a PR that removes AMQP and adds some info on the WebSocket connector.
I also added a list of available properties for both connectors.

I'll leave this issue open to create a separate quickstart for websockets and document it in the guide

[2021-01-25 23:13] gunnarmorling opened #14601 "Support @MultipartForm in RESTEasy Reactive"
When switching to these reactive components, a previously working multipart form REST method stops to work (unsupported content type for the client).

[2021-01-25 23:35] stuartwdouglas commented on #14424
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8260366

[2021-01-25 23:58] ejba commented on #14537
@kekbur I got a 404 in return when I use the prefix and the actual request path. Nevertheless, something is definitely wrong here.

[code]

[2021-01-26 00:12] CurtisBaldwinson commented on #14595
In reactive programming, "things" (vaguely put) aren't typically called until a subscription is actually made.

Try using `.persistAndFlush()`.  Then add `.subscribeAsCompletionStage()` after your persist so that it's actually executed, then return a `Uni.createFrom().voidItem()` if that's what you wish to return.

Or you can return a Uni<Fruit>, `return mutinySession.persistAndFlush(fruit).call(i

[2021-01-26 00:14] gwenneg commented on #8140
Yes, that's exactly the idea.

[2021-01-26 01:47] bhavancee opened #14602 "Nested @Valid using Kotlin - Validation object graph not created, only the parent object is validated"
**Describe the bug**
Java validations are not triggered on nested objects if we using Kotlin Class

**Expected behavior**
Validate Object

**Actual behavior**
The Object validation works using ValidatorFactory but not working on Jax-Rs POST/PUT

**To Reproduce**

Create  classes in Kotlin
[code]

[2021-01-26 04:24] hantsy commented on #9741
It seems Vertx 4.0 changed the related APIs.

[2021-01-26 04:37] jaikiran commented on #14423
I've opened https://github.com/quarkusio/quarkus/pull/14603 with a potential fix.

[2021-01-26 05:30] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/511223821

[2021-01-26 05:32] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/511222607

[2021-01-26 05:35] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/511222368

[2021-01-26 05:35] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/511223578

[2021-01-26 06:56] geoand commented on #14601
I've not really used multipart myself, so I am wondering what the proper API should be for this.

Also cc @gastaldi @gsmet who have done some Multipart stuff in Quarkus

[2021-01-26 07:19] #14583 closed

[2021-01-26 07:21] #14548 closed

[2021-01-26 08:09] ewoks commented on #8386
I actually faced same issue `Image generation failed. Exit code: 125` and `Unable to get GraalVM version from the native-image binary.` on RHEL 8.3 with podman v2.0.5. Just increasing xmx doesn't help.
There is one more error logged as INFO after GraalVM version issue stating: "Error: requested user's UID 119066 is too large for the rootless user namespace", so I guess this is another flavor of th

[2021-01-26 08:12] gunnarmorling commented on #14601
No need for anything new in terms of API, really. It should just work as with non-Reactive:

[code]

This works with non-Reactive, but with Reactive RESTEasy, the method isn't considered and the client receives HTTP 415.

[2021-01-26 08:15] geoand commented on #14601
What does `OfferingForm` look like?

[2021-01-26 08:29] kekbur commented on #14537
@ejba

Oh that's right. I mistakenly wrote:

What I should have written is:

[2021-01-26 08:32] nachogiljaldo commented on #14510
Quick question, was this considered for a 1.11.1 release? Asking because seems like a show stopper for users who use reactive db pools (many?)

[2021-01-26 08:35] cescoffier commented on #9741
yes, but for the time being, we need a Vert.x 3.x fix. Vert.x 4 integration is still a couple of months away.

[2021-01-26 08:36] gunnarmorling commented on #14601
It's a basic POJO with `@FormParam`s for all the input fields:

[code]

Values are posted from a form rendered via Qute like this:

[code]

[2021-01-26 08:39] sberyozkin commented on #14540
@rsvoboda Hi, unlikely, well, most likely not in 1.11.1.Final as it is due shortly.
@Sgitario Hi, did you have a chance to update your test to check the `quarkus-oidc` tenant ?
You can use `quarkus.oidc.tenant-enabled=false` to disable the default configuration

[2021-01-26 09:07] geoand opened #14607 "Integrate AppCDS generation into Jib container image generation"
**Description**
AppCDS generation currently is not baked into container image generation with Jib.
We should add this feature because creating AppCDS for use in a container image is very tricky due to the need to have the JVM version and classpaths match perfectly.

**Implementation ideas**
We can use the same trick that we use when `quarkus.native.container-build=true` is active - that is run the

[2021-01-26 09:15] Sanne commented on #14510
yes, since the PR has the label "backport?" it's very likely going to be ported to 1.11.1.

[2021-01-26 09:19] pjgg opened #14608 "Vertx PgPool lost connection unexpectedly"
When a user gets a connection from`pgPool` some milliseconds behind IDLE expiration time, then "sometimes" when you are going to use the connection, you get the following error from the server:

`Fail to read any response from the server, the underlying connection might get lost unexpectedly.`

So, looks that the connection it's available when you request it, but then disappears when you use it.

[2021-01-26 09:25] bamling commented on #14595
@CurtisBaldwinson Thanks for your fast reply! I tried both of your suggested approaches but neither made a difference. The application still runs into `Session/EntityManager is closed`.

[2021-01-26 09:30] Sgitario commented on #14540
I had this example covered here: https://github.com/Sgitario/quarkus-openshift-test-suite/tree/sso_multitenant_upstream/security/keycloak-multitenant and all the tests are passing. So, I think this issue is not affecting the Quarkus OIDC extension.

More info: This example is using three tenants using a different method:
[code]

And we're providing the right properties here: https://github.com/Sgi

[2021-01-26 09:35] bhavancee commented on #14602
This issue only occurs if the Kotlin classes are imported from external pom dependency.

[2021-01-26 09:37] gsmet commented on #14602
Aaaaah, so it's not a Kotlin issue.

You need your external dependencies to be in the Jandex index.

You have several options described here: https://stackoverflow.com/a/55513723/5043585 .

And if you're using Gradle, there is a Gradle Jandex plugin now: https://github.com/kordamp/jandex-gradle-plugin .

[2021-01-26 09:45] bhavancee commented on #14602
Yes, I can make this work if on external lib add
[code]

[2021-01-26 09:45] lordofthejars opened #14610 "Deal with null collections in Qute"
**Description**

`{#for pet in owner.pets}`

If pets is null collection, then a NPE is thrown. It can be fixed with an `if` but your HTML file looks more complex then.

**Implementation ideas**

Maybe implement something like:

`{#for pet in ?owner.pets}` which means that `null` value is the same as an empty list.

[2021-01-26 09:47] gunnarmorling opened #14611 "Quarkus app build fails with Java 16"
Building one of my demos failed with Java 16. It's probably not supported at this time, but may be a good idea to look into it early on:

[code]

[code]

[code]

[2021-01-26 09:47] iocanel commented on #14525
@mjurc @geoand: I am a little bit confused with the expectation.

As far as it concerns the `quarkus-kubernetes` and `quarkus-openshift`, configuring & mounting a config map, does not imply that the config map will also be exposed as environment variables. AFAIK, this is something that was always needed to be explicitly specified.

So, the expectation does not seem valid.

Also, it seems to me tha

[2021-01-26 09:50] iocanel commented on #14476
Sorry for the delay. I was a bit snowed!
Looking at it right now!

[2021-01-26 09:55] wwadge commented on #14572
Hi! I think the issue was unrelated here (I've attached a profiler, it seems fine) -- apologies for the noise, closing issue.

[2021-01-26 09:55] #14572 closed

[2021-01-26 09:56] iabughosh opened #14612 "Hibernate Panache with UUID strategy gives weird behavior"
I am using the below ID UUID generation strategy  :
[code]

The value being stored on DB is :

which is fine, but when I read it from DB it is being read as

If you noticed the string it gives it back with some characters are being misplaced.

P.S. If we changed data type into 'String' everything works fine.

Expected :
Both read and write should be the same value.

**Environment (please complete

[2021-01-26 09:57] #14602 closed

[2021-01-26 09:59] ewoks opened #14613 "Error creating image on RHEL with podman"
I'm facing issue similar to #8386
Error message states `Image generation failed. Exit code: 125` and `Unable to get GraalVM version from the native-image binary. `
Increasing xmx (to 10g) as suggested in #8386 doesn't help.

There is one more error logged as INFO after GraalVM version issue stating:
 **`Error: requested user's UID 119066 is too large for the rootless user namespace`**, so I guess

[2021-01-26 10:05] mkouba commented on #14610
Hm, a more idiomatic way would be probably `{#for pet in owner.pets.orEmpty}`...  @lordofthejars WDYT?

Currently, it's possible to pass an empty list and use it as a default value, e.g. something like `{#for pet in owner.pets.or(emptyList)}` should work if `emptyList` resolves to `Collections.emptyList()`.

[2021-01-26 10:07] FroMage commented on #14601
Looks _very_ similar to `@BeanParam`, so perhaps the same implementation?

[2021-01-26 10:09] lordofthejars commented on #14610
Well with age I am getting lazy to have to write all the `or(emptyList)` so
I prefer the Elvis way but because I am lazy nothin else.

Missatge de Martin Kouba <notifications@github.com> del dia dt., 26 de gen.
2021 a les 11:05:

[2021-01-26 10:10] gastaldi commented on #14601
It would be nice if we could use `@BeanParam` instead. Not sure why RESTEasy classic introduced `@MultipartForm`

[2021-01-26 10:14] FroMage commented on #14612
@Sanne @yrodiere this looks like a column mapper issue, no?

[2021-01-26 10:15] FroMage commented on #14601
Probably, yeah.

[2021-01-26 10:16] mkouba commented on #14610
Well, `?` is not a full elvis ;-).

I prefer `pets.orEmpty` that would return an empty list if pets is null.

[2021-01-26 10:19] lordofthejars commented on #14610
Then go for it :)

Missatge de Martin Kouba <notifications@github.com> del dia dt., 26 de gen.
2021 a les 11:16:

[2021-01-26 10:27] mkouba commented on #14572
No problem! Enjoy the development with Quarkus :-)

[2021-01-26 10:48] jerboaa commented on #14613
This seems to be a root-less podman/linux kernel namespace limitation (not mandrel related):

[code]

Any chance to get a smaller UID? Failing that you'll need to change `/etc/subuid` to include the large user id. For me this didn't work either, but you may have more luck. See:
https://www.redhat.com/sysadmin/user-flag-rootless-containers

[2021-01-26 11:05] ewoks commented on #8386
I'm surprised that memory is the real issue here and it got resolved by increasing xmx. Expected error in case of memory limitation would explicitly state:
`Image generation failed. Exit code was 137 which indicates an out of memory error. Consider increasing the Xmx value for native image generation by setting the "quarkus.native.native-image-xmx" property`
but original issue description states `

[2021-01-26 11:10] #14565 closed

[2021-01-26 11:27] geoand commented on #14601
That would be ideal

[2021-01-26 11:28] geoand commented on #14601
@patriot1burke do you remember?

[2021-01-26 11:31] pjgg opened #14619 "We are getting a 401 when keycloak policy-enforcer paths is pointing to /health"
Summary:

Using `quarkus-keycloak-authorization` extension, you could exclude some path to the Authz procedures, through these properties:

[code]

However, when you are pointing to an Openshift /k8s liveness probe, you expected that this policy applies also to auto-redirect path.

[code]

[Jira Ref](https://issues.redhat.com/browse/QUARKUS-720)

[2021-01-26 12:00] gavinking commented on #14612
@iabughosh what database is this?

[2021-01-26 12:01] gavinking commented on #14595
I'm not completely sure, but the problem might be that you need a transaction. Is that right, @Sanne?

[2021-01-26 12:11] dmarko484 opened #14623 "Issue with Flyway and db pool during dev restart"
**Describe the bug**
I'm developing with Quarkus 1.11.0.Final and having an issues with Flyway during development restarts. I'm running Hibernate with Panache, Flyway with PostgreSQL in IntelliJ using maven quarkus:dev: so restarts are working here.  Now when Flyway is integrated, then when I change a code the restart is initiated and I'm getting error regarding not available connection pool:
[cod

[2021-01-26 12:15] gsmet commented on #14623
Yes this is a known issue, it's fixed in 1.11.1.Final that we will release tomorrow!

[2021-01-26 12:15] #14623 closed

[2021-01-26 12:16] geoand commented on #14623
Has already been fixed by https://github.com/quarkusio/quarkus/pull/14372

[2021-01-26 12:18] iabughosh commented on #14612
Sorry forgot mentioning that,
It is MS SQL Server 2019 / version 15.

[2021-01-26 12:19] #13917 closed

[2021-01-26 12:19] gsmet commented on #14553
The dev profile is something specific used for dev mode (live reload).

It's not supposed to be used in native as it won't work at all.

[2021-01-26 12:19] #14553 closed

[2021-01-26 12:21] gsmet commented on #14564
Hmmm? Is it the driver being slow or MySQL just being slower? Hard to say from the provided information.

[2021-01-26 12:24] gsmet commented on #14566
Hi,

Either we need a reproducer or you need to have a look at what's going on. A `kill -3` when in infinite loop might help to understand what's going on with that part.

As for the dev mode error, have you tried to start Maven with `-e` to see what's the stacktrace?

[2021-01-26 12:25] gsmet commented on #14591
@cescoffier looks like a Reactive Messaging issue? I remember seeing something similar elsewhere but I'm not sure it's exactly the same issue?

[2021-01-26 12:26] gsmet commented on #14608
/cc @tsegismont

[2021-01-26 12:27] gsmet commented on #14619
The `/health` endpoint has been moved to `/q/health` in 1.11. That's why you see a redirect.

[2021-01-26 12:33] gsmet commented on #14546
I don't know. I think the redirects should keep things functional. That's why we added them. If they are broken (and using Swagger UI is not a niche use case), why add them in the first place?

[2021-01-26 12:56] rsvoboda commented on #14619
I think the point is that the redirect is not "working" for `quarkus.keycloak.policy-enforcer.paths.health.path`
Pablo mentions "expected that this policy applies also to auto-redirect path." in the description.

Atm the end users will notice this breaking change and will have to adapt to it. The idea was that the move to `/q` will be transparent for users.

[2021-01-26 13:19] cescoffier commented on #14591
No, @ConsumeEvent does not come from Reactive Messaging. It's part of the Vert.x extension.

[2021-01-26 13:21] cescoffier commented on #14591
Hum,
We do have a global exception handler:
https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java#L202-L207

[2021-01-26 13:24] #14476 closed

[2021-01-26 13:29] gsmet commented on #14619
Yeah maybe we should have a compatibility layer for that too. But that means everything security will need it as I could see a ton of apps with specific security rules for Metrics and Health.

/cc @kenfinnigan @geoand @sberyozkin @maxandersen

[2021-01-26 13:32] #14516 closed

[2021-01-26 13:44] joggeli34 commented on #13711
The issue is still there in 1.11.0.Final when running the main method directly from intellij. So the fix probably didn't work or I just missed something?

Regards

[2021-01-26 13:53] cescoffier commented on #14591
Oh, definitely a bug (thanks for the reproducer). The `@ConsumeEvent` swallows the exception even when there is no reply. A regular consumer reports the failure as expected.

[2021-01-26 13:53] cescoffier commented on #14591
\CC @mkouba

[2021-01-26 13:58] sberyozkin commented on #14619
I'm not sure about treating it transparently at the security level. IMHO the right solution would be to update the migration guide.
Otherwise we'd get the users who have been or started securing `/q/` segments opened without them expecting it

[2021-01-26 14:01] #14587 closed

[2021-01-26 14:17] jaikiran commented on #14611
Hello @gunnarmorling,

I haven't been able to reproduce this with Java 16 (latest EA). I followed the steps you mentioned but the build passed fine:

[code]

java -version
[code]

[2021-01-26 14:47] afedotov commented on #14318
Just step into the same problem...
Seems like Keycloak PEP for Quarkus uses **client_credentials** Grant Type to obtain PAT (Protection Api Token) for service account needed to access Keycloak Protection API. By default this workflow does not return **refresh_token** in response. This leads to such NullPointerException.

To fix this simply go to Keycloak administration console:

[code]

[2021-01-26 14:49] sberyozkin commented on #14540
@Sgitario OK, thanks; I really don't know right now where is the difference between the way the tenants map is declared in the `quarkus-oidc-client` `OidcClients` vs `quarkus-oidc` `OidcConfig`.
I'll create a branch where I'll experiment with the different class names

[2021-01-26 15:00] jeesmon commented on #12972
@JiriOndrusek Are you aware of any fix to this issue yet? We are running into same issue when trying to process a DICOM image in native mode. Thanks.

[2021-01-26 15:10] machi1990 opened #14626 "quarkus.oidc.auth-server-url is missing in the all configuration guide"
**Describe the bug**
`quarkus.oidc.auth-server-url` and other found in https://github.com/quarkusio/quarkus/blob/df5f7d27916db069d2bcc0744ced7e79d2b79584/extensions/oidc-common/runtime/src/main/java/io/quarkus/oidc/common/runtime/OidcCommonConfig.java are missing in the https://quarkus.io/guides/all-config#quarkus-oidc_quarkus-oidc-openid-connect section.

**Expected behavior**

properties to be l

[2021-01-26 15:15] pedroigor commented on #14318
@afedotov Thanks for confirming. It should be fixed in Keycloak soon. Not really a Quarkus issue.

[2021-01-26 15:28] #14610 closed

[2021-01-26 15:34] #14423 closed

[2021-01-26 15:40] albert0815 commented on #14472
Hi Pedro! Just one question: Is it possible to somehow issue a refresh of the token so that the policy enforcer will retrieve the permissions from Keycloak? It would be helpful to somehow implement a workaround for now to continue.

[2021-01-26 15:42] sberyozkin commented on #14626
Hey @machi1990 Interesting, yes, some common properties made it into the `OidcCommonConfig` with the introduction of `quarkus-oidc-client`, with `quarkus-oidc-client` `OidcClientConfig` and `quarks-oidc` `OidcTenantConfig` extending it

[2021-01-26 15:45] sberyozkin commented on #14141
@VasilisAndritsoudis one needs to fork the Quarkus repository, create a branch, and make a PR from that branch. Please also check https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md

[2021-01-26 16:09] gsmet commented on #12972
I would try with either GraalVM 20.3.1 or GraalVM 21.

[2021-01-26 16:11] machi1990 commented on #14626
Yes, the generator should be able to support this use case. I may look into this once I've some free cycle and noone beats me to it.

[2021-01-26 16:14] sberyozkin commented on #14480
@bwand the PR and the follow up PR opened by @sd-f have a `triage/backport?` label - so @gsmet would consider them for backporting if he agrees

[2021-01-26 16:20] sberyozkin commented on #14540
@Sgitario Hi, can you clarify please how are you trying to use the client tenant configuration ?
It is only expected to support `OidcClients` container, see https://quarkus.io/guides/security-openid-connect-client#oidcclients

[2021-01-26 16:23] zeljkot commented on #14566
Here is the dev mode error:

<details>

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  36.926 s
[INFO] Finished at: 2021-01-26T17:17:35+01:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execut

[2021-01-26 16:36] zeljkot commented on #14566
Another issue is connected with a custom config source. kill -3 gave me something to work with. The issue does not happen
on 1.10.5.Final.

[2021-01-26 16:59] FroMage commented on #14195
OK, so the next step is that I'd really like to have static resources shown in a hierarchical manner. For example, given the following structure of static resources:

![Screenshot from 2021-01-26 17-51-53](https://user-images.githubusercontent.com/179265/105876459-4bec2b00-5fff-11eb-9472-695bacf38428.png)

I'd like the endpoint page to only list the following static resources:

- `images` (with a

[2021-01-26 17:09] gsmet commented on #14566
Yeah I totally think we need to get to the bottom of this. So if you can provide us more insights, that would be awesome.

[2021-01-26 17:31] jeesmon commented on #12972
@gsmet No luck :(

[code]

quarkus: 1.11.0.Final
Graalvm: 21.0.0-java11

[2021-01-26 17:36] tsegismont commented on #14608
I will look into this @gsmet

[2021-01-26 17:50] gavinking commented on #14608
This problem is usually solved by setting an appropriate idle timeout for the connection pool.

[2021-01-26 17:53] gavinking commented on #14608
It is `ConnectOptions.setIdleTimeout()`, I believe.

[2021-01-26 18:35] #14577 closed

[2021-01-26 19:11] pjgg commented on #14608
On the [test](https://github.com/pjgg/beefy-scenarios/blob/feature/vertx-sql/303-quarkus-vertx-sql/src/test/java/io/quarkus/qe/vertx/sql/dbpool/DbPostgresPoolTest.java#L100) that cover this use case, we have set an idle timeout of 1sec, as you can see in the [application.property](https://github.com/pjgg/beefy-scenarios/blob/feature/vertx-sql/303-quarkus-vertx-sql/src/test/resources/application.pr

[2021-01-26 20:48] ivangfr commented on #14545
Hey @zakkak , reopening the issue as the image `quay.io/quarkus/ubi-quarkus-native-image:20.3.0-java11` is getting stuck again. Looks like there was a building yesterday

<img width="1090" alt="Screen Shot 2021-01-26 at 17 46 51" src="https://user-images.githubusercontent.com/10564548/105903450-a769e900-5ffe-11eb-98bb-6224017c5de2.png">

[2021-01-26 21:11] #13349 closed

[2021-01-26 22:54] #14504 closed

[2021-01-27 01:03] stuartwdouglas commented on #14575
I agree with adding a disableGlobalTestResources() method: https://github.com/quarkusio/quarkus/pull/14637

We can definitely have some way to only run specific profiles, but I don't know what the best way to do it is. Ideally we could integrate with the existing tag mechanism, but I don't think that is possible at the moment, so we may just have to have a system property.

[2021-01-27 03:27] SaumyaSingh1 commented on #14195
For this I will be probably modifying the `DevConsoleProcessor` inside `quarkus-resteay`  🤔
well yes few hints will help better, else I will end up reading all the files inside `quarkus-resteasy-reactive` :P

[2021-01-27 03:33] baodingfengyun commented on #14532
**quarkus.redis.max-pool-size** is 6 (default), there will be timeout when times > 6 :
io.smallrye.mutiny.TimeoutException
	at io.smallrye.mutiny.operators.UniBlockingAwait.await(UniBlockingAwait.java:57)
	at io.smallrye.mutiny.groups.UniAwait.atMost(UniAwait.java:61)
	at io.quarkus.redis.client.runtime.RedisClientImpl.await(RedisClientImpl.java:1026)
	at io.quarkus.redis.client.runtime.RedisClien

[2021-01-27 05:34] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/514150782

[2021-01-27 05:35] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/514150466

[2021-01-27 05:37] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/514151700

[2021-01-27 05:47] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/514151910

[2021-01-27 06:50] Sgitario commented on #9707
Note that this is also not working for diacritics characters like ěščřžýáíéůú in DEV mode.

[2021-01-27 07:14] #14575 closed

[2021-01-27 07:23] iocanel commented on #14299
@ppatierno: I am failing to reproduce the issue. I have created and committed a unit test, that verifies that the `insecure-skip-tls-verify` is properly respected. Here's a link to the test config: https://github.com/quarkusio/quarkus/blob/master/extensions/kubernetes-client/runtime/src/test/resources/test-kubeconfig

I am wondering if in your case, the `current-context` is not the `default/<addre

[2021-01-27 07:25] geoand commented on #8593
@jamesnetherton it seems like quarkus-universe-integration-tests-camel-google-pubsub is failing

[2021-01-27 07:27] jamesnetherton commented on #8593
@geoand It might be a temporary network glitch. Our nightly build failed with a similar error coming from testcontainers because images could not be pulled.

[2021-01-27 07:28] geoand commented on #8593
Gotcha thanks.

Let's what happens tomorrow

[2021-01-27 08:17] glefloch commented on #13702
I add this error again on CI, a workaround I used was to invert the repository declaration.

[2021-01-27 09:20] famod opened #14645 "Remove NativeImageMojo in 1.13"
**Description**
As discussed [here](https://groups.google.com/g/quarkus-dev/c/fZH519p86hM), `NativeImageMojo` was deprecated a long time ago and shall therefore be removed.
`quarkus.package.type=native` is the way to go, see https://quarkus.io/guides/building-native-image

**Implementation ideas**

- [x] log a warning in the mojo (#14634)
- [x] remove remaining usages<sup><a href=#note-1>[1]</a></

[2021-01-27 09:28] Sanne commented on #14595
Using a transaction is highly recommended, but I'm not sure if the lack of a transaction could explain this error - and at very least we should improve the error.

I've asked @DavideD to investigate. Thanks for the reproducer @bamling !

[2021-01-27 09:57] famod commented on #14645
I'll have a look at the remaining usages.

[2021-01-27 10:03] gytis commented on #12721
I've added MongoDB sections to the REST Data Panache guide, so I think this can be closed.

[2021-01-27 10:03] #12721 closed

[2021-01-27 10:05] #6521 closed

[2021-01-27 10:15] DavideD commented on #14595
I'm looking at the error and I can reproduce it. The session get closed after the event is consumed and before the query is executed. I'm still not sure why.

[2021-01-27 10:26] ewoks commented on #14613
Thanks for the article, I suspected it is that, but article confirms that UID can't be  > 65536..
Any recommendation on changing it for myuser? Currently I have:
[code]
Should I actually touch this manually?

[2021-01-27 10:27] gytis commented on #14281
Could you, please, assign this to me then so that I wouldn't forget to implement it?

[2021-01-27 10:54] Sgitario opened #14647 "Quarkus is not gratefully being shutdown in Windows when running in DEV mode"
**Describe the bug**
In order to reproduce the issue:
1. Generate the Maven project using the instructions in this guide: https://quarkus.io/guides/getting-started#bootstrapping-the-project
[code]

2. Run the project using DEV mode:

[code]

3. Exit the application using CTRL + c, and then maven would say that the build failed:

[code]

It seems that [the shutdown hook ](https://github.com/quarkus

[2021-01-27 10:54] Sgitario commented on #14647
^^ @stuartwdouglas

[2021-01-27 10:57] gastaldi commented on #14281
Sure, thank you! 👍🏻

[2021-01-27 10:57] glefloch commented on #13702
@galderz it seems that maven only resolved the pom and not the artifact. As soon as gradle found a pom, it expects a complete entry which is not the case.

[2021-01-27 11:22] pedroigor commented on #14472
@albert0815 Implementation-wise you just need to invoke the token endpoint to obtain permissions. See here https://www.keycloak.org/docs/latest/authorization_services/#_service_obtaining_permissions.

The access token you would use in the token request can be obtained from the security identity.

I'm not sure though how you would get the OIDC configuration so that you don't need to duplicate it in

[2021-01-27 11:27] rsvoboda commented on #14647
Steps to reproduce using StartStopTS
 - `git clone https://github.com/quarkus-qe/quarkus-startstop`
 - adjust `testsuite/src/it/java/io/quarkus/ts/startstop/utils/MvnCmds.java`
[code]
- run `mvn clean verify -Ptestsuite -Dtest=ArtifactGeneratorTest`
  - append `-Dquarkus.version=999-SNAPSHOT` if you want to run against Quarkus master
- open `testsuite/target/archived-logs/io.quarkus.ts.startstop.A

[2021-01-27 11:42] zakkak commented on #14545
That's really strange. AFAIK there were no changes to 20.3.0-java11 for at least a week.

I am also not able to reproduce on Fedora 33 with podman 2.2.1

[2021-01-27 12:14] mjurc commented on #14525
@geoand The filesystem is as follows:
[code]

@iocanel We're deploying an application configured according to Quarkus docs. The `configMap` is mounted and mapped in application properties. If there's a change in behaviour that requires the users to add another mapping, it needs to be documented and explicitely mentioned in release notes as this is a breaking change (compared to 1.3 and 1.7).

[2021-01-27 12:17] zakkak commented on #12972
@jeesmon could you please share a reproducer?

[2021-01-27 12:33] geoand commented on #14525
I think I know what the issue is.

@mjurc what is the working directory of the application? For the `/deployments/config` to be taken into account, the working directory needs to be `/deployments` - if it's not then that is the bug in the Openshift manifests we need to fix.

[2021-01-27 13:03] #14591 closed

[2021-01-27 13:05] gneu77 commented on #7883
Just disabling all other exception mappers would save me some work (I have the simple requirement that all exceptions thrown by my application must be of type ApplicationException, hence all my implemented exceptions are derived from ApplicationException and other exceptions must be mapped to one of these ApplicationException subclasses).

But even this:

seems not to be true:

E.g. I have a `BadR

[2021-01-27 13:14] ia3andy commented on #11221
@aloubyansky would your new changes in the API affect this? Can I still start from the branch you created a few month ago (I think this one: https://github.com/aloubyansky/quarkus/tree/codestart-artifacts)?

[2021-01-27 13:15] ia3andy commented on #11221
This issue also includes providing the testing library for extension codestarts:
- a snapshot testing library to make sure the generated content is right
- a library to build and run the generated codestarts alongside other codestarts to make sure it works properly
- some guidelines

[2021-01-27 13:17] famod commented on #14645
#14645 removes the remaining usages. Last part of this issue must wait until development for 1.13 starts.

[2021-01-27 13:24] Sgitario commented on #14540
Hello @sberyozkin . Good news, I've tried my example that is using OIDC Client tenants using the Quarkus version in master (999-SNAPSHOT) and now it's working fine.

See my example here: https://github.com/Sgitario/quarkus-openshift-test-suite/tree/sso_oidc_client/security/keycloak-oidc-client

[2021-01-27 13:26] rsvoboda commented on #14540
We need to have this fixed in 1.11 stream. What's the situation there?

[2021-01-27 13:34] aloubyansky commented on #11221
If it is adding a codestart resource loader of some sort to `Extension` then yes, it will conflict. A codestart artifact coords should be added to the metadata in the descriptor and collected from there. I have decoupled the "Platform descriptor" from resource loaders. There could still be another class gathering them together of course.

[2021-01-27 13:50] amar-kumar-singh commented on #14612
@Id
	@Column(name = "id", nullable = false, length = 64)
	@GeneratedValue(generator = "UUID")
	//@GenericGenerator(name = "system-uuid", strategy = "uuid")
	@GenericGenerator(name = "UUID",
			strategy = "org.hibernate.id.UUIDGenerator")
	public String getId() {
		return id;
	}

I am getting this exception ...

2021-01-27 19:17:27,935 ERROR [org.hib.eng.jdb.spi.SqlExceptionHelper] (executor-thread

[2021-01-27 13:54] JiriOndrusek commented on #12393
@zakkak I'm sorry for the delay.
Here is my result:
- I built camel-quarkus from revision  `19765046e64b5f39ee6b8aeaed27b3514986b2c3` (https://github.com/apache/camel-quarkus/commit/19765046e64b5f39ee6b8aeaed27b3514986b2c3)
- I've used graal graalvm-ce-java11-21.1.0
- I've edited `integration-tests/fop/src/test/java/org/apache/camel/quarkus/component/fop/it/Fop/FopTest.java` and change value in su

[2021-01-27 14:02] jeesmon commented on #12972
@zakkak I will share a reproducer very soon. Thanks.

[2021-01-27 14:18] sberyozkin commented on #14540
Hi @Sgitario cool, thanks, yeah - the tenancy concept does not really fit into the OIDC client space the way it fits into the server OIDC space - as we need in many cases to inject the client at the startup - and here it would be the job of the configuration profile if it were needed to select between the clients that early.
But at runtime, when we have some incoming context value, then indeed we

[2021-01-27 14:21] sberyozkin commented on #14540
@Sgitario Note @pedroigor had a good idea about having something like
[code]

[2021-01-27 14:21] #14540 closed

[2021-01-27 14:23] jerboaa commented on #14613
From the article:
[code]
This does't read to me like it's **not** supported. It just means `/etc/subuid` needs adjusting. So I've dug into this a bit more and this worked for me (on a F33 test system):

[code]

Not sure if the `login.defs` MAX bumps are needed, but that's how I got it working.

[2021-01-27 14:36] FroMage commented on #14195
My apologies, I've made some progress in coming up with instructions, but it doesn't look like I'll be able to produce them today given the meetings I still have scheduled. I'll try my best to have them tomorrow, really sorry.

[2021-01-27 14:39] SaumyaSingh1 commented on #14195
It's completely alright, no problem :)

[2021-01-27 14:45] haraldatbmw opened #14650 "MicroProfile Metrics - histogram quantiles are frozen"
**Describe the bug**
We use metrics histogram to measure http request duration time.

[code]

The metrics endpoint brings this data:

[code]

After some time (some hours) the quantiles gets frozen and do not change any more.

**Expected behavior**
The quantiles are updated ongoing and do not freeze.

**Actual behavior**
The values of the quantiles do not update any more.

**To Reproduce**
No repro

[2021-01-27 14:46] haraldatbmw commented on #14650
I think this issue has to do with the internal rescaling of the class io.smallrye.metrics.app.ExponentiallyDecayingReservoir

[2021-01-27 14:47] Sanne commented on #14612
@amar-kumar-singh that means the table `t_user` does not exist, and seems an unrelated problem to this issue.

[2021-01-27 15:12] amar-kumar-singh commented on #14612
Hello Sanne ,

# This data source configuration is used to connect Master Db to fecth tenants and other master information
# Do not modify the keys and the structure
# multitenant: DATABASE  This will serve both schema and database level multi-tenancy
# Refer README.md for more details
quarkus:
  datasource:
    connection-timeout: 20000
    db-kind: postgresql
    driver-class-name: org.postgresq

[2021-01-27 15:21] gsmet commented on #12972
So it's indeed a bit better because the exception you have here comes from Quarkus, namely `Target_sun_java2d_cmm_lcms_LCMS`.

@zakkak I wonder if we could remove all these substitutions and see how it goes now that they did some work in this area.

[2021-01-27 15:22] gsmet commented on #12972
BTW, a bit unrelated but we might also want to revisit `Target_java_io_ObjectStreamClass` if serialization is now implemented.

[2021-01-27 15:42] jeesmon commented on #12972
@zakkak @gsmet Reproducer is available here: https://github.com/jeesmon/issue-12972

[2021-01-27 15:50] feitian124 commented on #9287
any progress or any guide? same issue here, need the the actual http port to do "consul http health check", but do not know how to find the running http port.

[2021-01-27 16:02] argenstijn opened #14652 "Analysis fails because field of TypeInfoImpl has type incompatible with proxy of XmlSeeAlso"
**Describe the bug**
While building a native image using quarkus the analysis stage fails with the reason:

    Error: Field com.sun.xml.bind.v2.model.impl.TypeInfoImpl.upstream has declared type com.sun.xml.bind.v2.model.annotation.Locatable which is incompatible with types in state: 1TypeMObject<[0x00005C0F00005C10:!S:XmlSeeAlso$$ProxyImpl]>

In my project, I can only find com.sun.xml.bind.v2.mo

[2021-01-27 16:08] sherl0cks commented on #12393
Apologies I was not more clear  @zakkak - you can wrap that example in any quarkus executable extension like Resteasy and it will reproduce if you build native because the substitute is in quarkus core. Sound like @JiriOndrusek has something you can run now, but if youd' like another example, let me know.

[2021-01-27 17:22] DavideD commented on #14595
I think this is what's happening:
1. When the event is consumed `FruitRepository#findAll` gets called
2. An open session is injected correctly
3. `return mutinySession.createNamedQuery( "Fruits.findAll", Fruit.class ).getResults()`
4. the bean destroy method is called and the session is closed

Because with Mutiny everything is lazy and non blocking, the method returns immediately even if the quer

[2021-01-27 19:01] oberstrike commented on #14012
Update: Still doesn't work with kotlin 1.4.10 and Quarkus 1.11.1Final

[2021-01-27 20:43] Kybox commented on #13747
I was hoping that since last December this issue would be solved with the new version [...]

[2021-01-27 21:43] zhang-hongjie commented on #14151
Hello, I have resolved this need by using the field "amqp-use-ssl: true". Thanks for your good job.

[2021-01-27 21:43] #14151 closed

[2021-01-27 21:56] zeljkot commented on #14566
Here is what is causing the issue:
* Smallrye config now asks for `smallrye.config.locations`
* Request comes to custom ConfigSource. As it needs its own configuration parameters, it is initialized on the first `get` when other ConfigSources are hopefully initialized and can provide configuration parameters.
* ConfigSource calls ConfigProvider.getConfig() to get its configuration parameters.
* Con

[2021-01-27 23:22] famod commented on #14647
FTR, back in October I also realized that Quarkus dev mode is not exiting gracefully on Windows:
https://github.com/quarkusio/quarkus/issues/12577#issuecomment-705524706
But I have never seen such a stacktrace...

[2021-01-27 23:30] famod commented on #10696
_Update_:
- Surefire reports are being archived for a while now ✔️
- I switched off `trimStackTrace` recently (except for `independent-projects`) ✔️

So the only thing left are those logfiles.

[2021-01-27 23:40] famod commented on #14611
Just to throw in another sample: Cannot reproduce it either (with same build 2205 as @jaikiran).

[2021-01-27 23:42] DavidNoN opened #14660 "qute - quarkus error when add dependency to pom"
I've been 1 day trying to fix this issue, when I add this to my pom

<dependency>
    <groupId>io.quarkus</groupId>
    <artifactId>quarkus-resteasy-qute</artifactId>
</dependency>

suddenly, I got this issue.

PD: I've tried downgrade version, anything, and can't solve it, any help is appreciated.

.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.qute.dep

[2021-01-27 23:52] ivangfr commented on #14545
@zakkak Could you please, try to execute the code below?
[code]

Here is my output I have
[code]

The line `quay.io/quarkus/ubi-quarkus-native-image:20.3.0-java11` is the last one. It doesn't move forward.

[2021-01-27 23:53] martinoneutrino opened #14661 "AWS X-Ray dependency version not being updated"
**Description**
It seems that most other AWS dependencies are automatically updated by dependabot. However, the `aws-xray-recorder-sdk-aws-sdk-v2` version is still at 2.4.0 (Nov 2019), although the current version is 2.8.0 (Nov 2020).

**Implementation ideas**
Update dependabot so that the `aws-xray.version` is updated automatically.
[code]

[2021-01-28 00:20] zakkak commented on #14545
@ivangfr the `master` branch is still on Quarkus 1.10.5.Final and it also tries to fetch `quay.io/quarkus/ubi-quarkus-native-image:20.2.0-java11`

So I tested with:
[code]
and it works (note I have also tested the `update-to-quarkus-1.11.x.Final` branch with 20.3 and it works as well)
[code]

[2021-01-28 02:12] ivangfr commented on #14545
@zakkak sorry for not mentioning to checkout to the branch `update-to-quarkus-1.11.x.Final`.

Btw, I've just run again and, now it built.

<img width="1280" alt="Screen Shot 2021-01-27 at 22 59 32" src="https://user-images.githubusercontent.com/10564548/106079320-c0a09180-60f3-11eb-9919-fa3b901fdc2d.png">

I have no clue what is happening.

Looks like Quarkus `1.11.1` was released. It has an [upgr

[2021-01-28 05:49] geoand commented on #14611
I also tried this with the following JDK:

[code]

everything worked

[2021-01-28 05:56] #10696 closed

[2021-01-28 06:42] #12115 closed

[2021-01-28 07:22] gaetancollaud opened #14665 "gRPC Context lost when using @Blocking"
**Describe the bug**
I use a grpc service with some interceptors. One of the goal of those interceptors is to forward the JWT token from the gRPC service to any client calls later in the code. For this is use the gRPC context. This works fine if I don't use the `@Blocking` annotation.

As expected the `@Blocking` annotation makes my code run into a worker thread. But since I have other grpc calls

[2021-01-28 07:25] mkouba commented on #14660
Hello @DavidNoN, do you have some "non-template" files in `src/main/resources/templates`? It seems that Qute attempts to parse a file which is obviously not a template... In any case, a simple reproducer app would be really helpful.

[2021-01-28 07:52] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/517149643

[2021-01-28 07:53] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/517147734

[2021-01-28 07:55] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/517147331

[2021-01-28 08:02] gaetancollaud commented on #14665
My dirty workaround is this:
[code]

  Basically I manually use a managedExecutor and I worward the gRPC context to the thread. But the issue is that I have to do this for all the methods. :disappointed:

[2021-01-28 08:44] rsvoboda commented on #14647
This is the full stacktrace I got from StartStopTS execution on Windows as mentioned in my above comment
[code]

[2021-01-28 09:12] jmartisk commented on #14650
Hi,
I'm not sure what exactly you are seeing, but I suppose it's related to the decaying of values, which this is by design, see the javadoc comment at https://github.com/smallrye/smallrye-metrics/blob/2.4.4/implementation/src/main/java/io/smallrye/metrics/app/ExponentiallyDecayingReservoir.java#L47
The idea is that the computed statistics should be exponentially biased towards newer entries, so i

[2021-01-28 09:30] gunnarmorling commented on #14611
Just retried, it even works with ea32 now (i.e. I haven't changed anything, really). A bit concerning, but it's not reproduceable for the time being. Thus going to close it for now. Thanks all for testing!

[2021-01-28 09:30] #14611 closed

[2021-01-28 09:30] sashamc opened #14668 "Vert.x JsonObject in RESTEasy Reactive response has extra nesting level"
**Describe the bug**
When RESTEasy Reactive plugin should convert Vert.x JsonObject into application/json response, it produces extra nesting level with key "map".
This occurs either with quarkus-resteasy-reactive-jackson or with quarkus-resteasy-reactive-jsonb extention.
But with simple RESTEasy as well as Reactive routes approach response is {"key":"value"} as expected.

**Expected behavior**
It

[2021-01-28 09:52] itboy87 commented on #13762
For now, How we can accept multipart data while using resteasy-reactive? I tried with resteasy-multipart-provider but that is not working and return error 415 Unsupported media type.

[2021-01-28 09:52] haraldatbmw opened #14670 "OpenAPI invalid document - missing schema element"
**Describe the bug**
The generated openapi document is missing the schema element "MessageDataItemsAnimal".

Bug is in Quarkus version: **1.11.1.FINAL** and not in **1.11.0.FINAL**

**Expected behavior**
The generated openapi document is consistent.

**Actual behavior**
The generated openapi document refereces the schema "MessageDataItemsAnimal" but not creating it.

**To Reproduce**

1. Clone and

[2021-01-28 09:56] geoand commented on #13762
Until this ticket is resolved, it's not supported

[2021-01-28 09:57] geoand commented on #13762
Actually, I will close this ticket in favor of #14601 as the latter has more information

[2021-01-28 09:57] #13762 closed

[2021-01-28 09:58] haraldatbmw commented on #14650
If I look at the metric via Grafana it looks like this:
![image](https://user-images.githubusercontent.com/49680586/106121159-879a0880-6157-11eb-8731-c9bcdc613aa4.png)

I think this is not the designed behavior.

[2021-01-28 10:01] apat59 opened #14671 "quarkus-quartz clustered job via @Schedule problem"
Environment
quarkus version 1.11.1.Final
jvm mode

Description: @Scheduled annotated method doesn't act as clustered job.
Way to reproduce:
quartz-quickstart is enough to reproduce the problem.

Few comments:
* docker-compose.yml should use QUARKUS_DATASOURCE_JDBC_URL and not QUARKUS_DATASOURCE_URL
* I've update the Bean using @Scheduled(every = "30s", identity = "taskbean_schedule")
* I'm buildin

[2021-01-28 10:03] phillip-kruger commented on #14670
@MikeEdgar - can this be something in here : https://github.com/smallrye/smallrye-open-api/pull/623 ??

[2021-01-28 10:21] itboy87 commented on #14601
for now is there any workaround for it?

[2021-01-28 10:36] apat59 commented on #14671
I don't think the "steps to reproduce" above are accurate.
I'm not observing exactly the same behavior with my app which makes me think the above setup is broken (docker image, docker-compose ?).

What I'm getting in my app is:
* one task per pod is created at pod start, this is the actual issue
* then everything is fine, only one pod will create the next task after the defined interval

[2021-01-28 10:40] mkouba commented on #14671
Hm, I was able to reproduce the problem locally.

@apat59 what version of quarkus do you use?

[2021-01-28 10:44] apat59 commented on #14671
1.11.1.Final
I did (git)clone yesterday

[2021-01-28 10:53] miguelsorianod opened #14672 "NullPointerException received when running native tests without "IT" suffix"
**Describe the bug**

Hi,

When running the tests in my project with:
[code]

a NullPointerException is received when a native test is executed and not ends with `IT` suffix.

Is that expected?

**Expected behavior**
I'm not sure if the existing behavior is expected or not

**Actual behavior**
NullPointerException is received when a native test is executed and not ends with `IT` suffix

**To Repro

[2021-01-28 11:00] apat59 commented on #14671
I'm not going to comment on my local setup which I suspect is broken.

How is the @scheduled parsed and what is it doing exactly?
Could it be the trigger is simply re created by the second node, triggering n initial execution per node?

[2021-01-28 11:12] mkouba commented on #14671
It seems to be related to the `org.quartz.jobStore.clusterCheckinInterval` property (20s by default, Quartz docs: _"Set the frequency (in milliseconds) at which this instance checks-in with the other instances of the cluster. Affects the quickness of detecting failed instances."_).

If I change the annotation to `@Scheduled(every = "21s", identity = "task-job")` the task is only executed on one no

[2021-01-28 11:16] mkouba commented on #14671
Annotation metadata are used to build a job and a trigger:
https://github.com/quarkusio/quarkus/blob/master/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java#L121-L191

[2021-01-28 11:20] rm3l commented on #11902
Hi there.
I just came across the same issue when trying to use Gradle composite builds with `quarkusDev`.
May I ask if there is any progress on this ?
Thanks.

[2021-01-28 11:20] machi1990 commented on #14671
We already allow the user to configure this?

This is correct.

[2021-01-28 11:21] mkouba commented on #14671
I don't think so.

[2021-01-28 11:25] machi1990 commented on #14671
That's correct - I do not see it in https://quarkus.io/guides/quartz#quartz-configuration-reference.

[2021-01-28 11:26] mkouba commented on #14671
It's staightforward to implement but harder to test ;-). I can send a PR later today...

[2021-01-28 11:29] apat59 commented on #14671
humm, so this is expected behavior and somehow makes sense from a technical point of view.
That might deserve a tiny note in the reference guide.

If I deploy one app with some @Scheduled(every) methods, it's not intuitive these methods will be executed one time by each pod at startup, then once.

[2021-01-28 11:29] machi1990 commented on #14671
Yes.

Thanks, I can jump in for review.

[2021-01-28 11:30] geoand commented on #14575
Yeah, it's worth looking into for sure.

[2021-01-28 11:39] MikeEdgar commented on #14670
@phillip-kruger - looks like it. The behaviour is the same in `master` as well. I am looking into it.

[2021-01-28 11:41] zakkak opened #14674 "Resteasy builtin providers being pulled in for more ITs than expected"
**Describe the bug**
The following set of ITs seems to be pulling in the resteasy builtin providers (including `org.jboss.resteasy.plugins.providers.IIOImageProvider`) resulting in the native image to depend on graph libraries (like `lcms`, `libawt` etc.)

[code]

**Expected behavior**
Most (if not all) of these tests shouldn't depend on graph libraries.

**Actual behavior**
The tests depend on gr

[2021-01-28 11:43] geoand commented on #14672
Thanks for reporting.

A NullPointerException is **always** a bug.
That said, I could not reproduce the problem.

[2021-01-28 11:47] mkouba commented on #14671
Yes, to me it seems like a limitation of the clustered scheduler. Unfortunately, the Quartz docs don't describe this config property in more detail.

[2021-01-28 12:10] MikeEdgar commented on #14670
@haraldatbmw - can you try one of the following:

1. Remove `@Schema` from `MessageDataItems`
2. Add `type = SchemaType.OBJECT` to `@Schema` from `MessageDataItems`

This is a work-around until a code change is made and released.

[2021-01-28 12:17] haraldatbmw commented on #14670
@MikeEdgar

Replacing this:

[code]

with this:

[code]

seems to works :-)

[2021-01-28 12:19] drubio-tlnd commented on #11045
Hi,
I'm using the workaround provided by @tisoft but I'm having an issue when trying to have a `@ConfigProperty` inside a step class.
Would it be related to classloader issue (between QuarkusTest and JUnit DynamicTest) discussed in https://github.com/quarkusio/quarkus/issues/10623 ? @stuartwdouglas
Also, with this workaround, I was able to add a tag policy (like `not @foo` but it seems that it's n

[2021-01-28 12:20] cescoffier commented on #14665
Why didn't you use an interceptor directly? Wouldn't that work?

[2021-01-28 12:21] apat59 commented on #14671
would it make sense to create a new config or option like
 @scheduled(ifExists= every = "30s", identity = "taskbean_schedule")

with
    enum IfExists {
DELETE_RECREATE,
KEEP_CURRENT,
    }

Sounds bad to me, this is a tricky one.

How about including the app version in the quartz groups related columns?
Currently you have io.quarkus.scheduler.Scheduler as group name.
Could be io.quarkus.scheduler

[2021-01-28 12:32] machi1990 commented on #14672
I am seeing a manifestation of the problem
[code]
failsafe plugin configuration
[code]

This happens when I download a new project from code.quarkus.io and follow the steps indicated in the issue.

[2021-01-28 12:37] geoand commented on #14672
@machi1990 mind providing a fix?

[2021-01-28 12:41] gunnarmorling commented on #14601
I'm not aware of any viable approach using RESTEasy atm. You can use Reactive Routes as an alternative programming model:

    @Route(methods = HttpMethod.POST, path = "/offering/new", type = Route.HandlerType.BLOCKING, consumes = MediaType.MULTIPART_FORM_DATA)
    @Transactional
    @Blocking
    public void blocking(RoutingContext rc) {
        MultiMap formAttributes = rc.request().formAttribut

[2021-01-28 12:45] gaetancollaud commented on #14665
That's the point, I'm using interceptors in my spring-boot project. And I would like to use them with Quarkus too. The issue is that the context is lost between the service interceptor (that reads and store the JWT) and the client interceptor (that add the JWT in the headers). When using @Blocking, the service interceptor is running in the IO thread and client interceptor is running in the worker

[2021-01-28 12:48] geoand commented on #14601
I'll be looking at this soon, so we should have something in for `1.12`

[2021-01-28 12:54] mkouba commented on #14671
Hm, there must be something else wrong. Setting the `org.quartz.jobStore.clusterCheckinInterval` does not always help. We need to find out more about the cluster locking mechanism...

[2021-01-28 13:01] gsmet commented on #14601
Btw, even if we're using the same code as for `BeanParam`, I think we should support `FormParam` anyway as it's in the spec. It's the same as for others, there is a spec version requiring the name and a RESTEasy-specific one not requiring it.

[2021-01-28 13:09] AmsterdamFilho opened #14677 "Bump swagger ui version"
**Description**

The swagger-ui is outdated. New version already support the openidConnect security schema.

[2021-01-28 13:12] tlvlp opened #14678 "Health configuration reference does not reflect the new /q namespace"
The documentation at https://quarkus.io/guides/microprofile-health#configuration-reference does not reflect the new /q/.. namespace these endpoint defaults have been moved to.

[2021-01-28 13:18] geoand commented on #14601
After taking a quick look at what `@BeanParam` does, Multipart is similar in philosophy, but it's not the same the thing.
So the implementation _might_ share some stuff, but it can't be used as is.

[2021-01-28 13:22] phillip-kruger commented on #14677
@AmsterdamFilho - We are currently using v3.40.0, that, as far as I know, is the latest. What version are you looking at ?

[2021-01-28 13:36] phillip-kruger commented on #14677
see https://github.com/smallrye/smallrye-open-api/blob/23c69bf32dfcdb25dade808729d0df3288b0dafe/ui/open-api-ui/pom.xml#L16

[2021-01-28 13:39] cescoffier commented on #14665
Yes, but that's the other issue you referenced. We need to implement the Context Propgation SPI for gRPC. I didn't have the time so far.

[2021-01-28 13:42] #14626 closed

[2021-01-28 13:54] jmartisk commented on #14650
I agree this does look weird. I'll need more info on how to reproduce it - I designed a simple way to test histograms in long-running apps:
https://gist.github.com/jmartisk/be4629fb2a990c8d8a10f3b6e1bd9083
It simulates a process that runs for 24 hours, adds a new measurement once per minute, and prints histogram statistics each hour. But when I run this, I don't mention anything weird in the outpu

[2021-01-28 14:04] glefloch commented on #11902
Well, I wasn't really satisfied with my first solution.. I will get back at this!

[2021-01-28 14:05] DavidNoN commented on #14660
Hi @mkouba, thank you! I had a non-template file there, I had also to delete target folder and everything works now.

[2021-01-28 14:05] #14660 closed

[2021-01-28 14:06] FroMage commented on #14195
OK, sorry about that I wanted to make sure you'd have all the pieces.

You should start your branch on top of this branch: https://github.com/FroMage/quarkus/tree/dev-ui-static-resources because it has commits you will need.

My advice is that you start in `DevConsoleProcessor.collectStaticResourcesInfo()` and change the static resources from a `Set` to a new structure called `StaticResourceInfo`,

[2021-01-28 14:15] rm3l commented on #11902
Thanks for the update, @glefloch

[2021-01-28 14:17] gaetancollaud commented on #14665
Ok, so it's not a bug, it's just a missing feature.

Is this something you planned ? Is there any way I can help ?

If you have already an implementation idea in mind, just tell it and I may be able to implement it. I can come on zulip if it's more convenient for you.

[2021-01-28 14:28] gaetancollaud commented on #14665
I found this: https://github.com/quarkusio/quarkus/blob/master/extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/BlockingServerInterceptor.java#L64-L73

So if I save the context before the `vertx.executeBlocking` and wrap it inside it should work, what do you think ? Is there more than that ? I would be happy to come up with a PR if you think it's the right direction.

[2021-01-28 14:36] deathwaiting opened #14682 "Cannot use Liquibase extension with hibernate-reactive"
**Describe the bug**
It seems it is not possible to use hibernate-reactive while providing JDBC properties, and those are required buy Liquibase extension, effectively, Liquibase cannot be used with hibernate reactive

**Expected behavior**
Should be able to use JDBC properties alongside reactive properties.

**Actual behavior**
using JDBC properties while using hibernate-reactive leads to build e

[2021-01-28 14:41] gsmet commented on #14682
Can you drop `quarkus.hibernate-orm.log.sql=true` from your config and see how it goes?

You can have a JDBC datasource, what you can't do at the moment is mixing Hibernate ORM classic and Hibernate Reactive.

There might be a bug somewhere though :).

[2021-01-28 14:47] mkouba commented on #14671
No matter how hard I try, I'm not able to make it work reliably :-(.

I've tried to make the `clusterCheckinInterval `configurable and set `quarkus.quartz.cluster-checkin-interval=5000` and set `org.quartz.jobStore.acquireTriggersWithinLock=ture` (WIP in this branch: https://github.com/mkouba/quarkus/tree/issue-14671).

And I've also tried to switch to `quarkus.quartz.store-type=jdbc-tx`.

My `Tas

[2021-01-28 14:53] apat59 commented on #14671
I really have a doubt on the docker-compose env to check this. I also noticed some weirdness, there might be race condition.
Here is what I can confirm from our real app running with 2 pods in Openshift (however built with quarkus 1.10.1.Final). Hoping that can help.

Programmatic created JOBS: no problem at all, perfectly working as expected
@Scheduled annotated methods: both pods are running all

[2021-01-28 15:09] cescoffier commented on #14665
Yes, I would start with what you mentioned, however, you would need to restore the original context too.

I'm also wondering if we need an implementation of ThreadContextProvider that would do that for us.

[2021-01-28 15:10] #12444 closed

[2021-01-28 15:11] tsegismont commented on #14608
`idleTimeout` is an option that applies to the TCP client connection, not to the pool:

https://github.com/quarkusio/quarkus/blob/b49c2eac24a0383f5c815aef960a809a8aa0f57e/extensions/reactive-datasource/runtime/src/main/java/io/quarkus/reactive/datasource/runtime/DataSourceReactiveRuntimeConfig.java#L112-L116

Idle timeout at the pool level is not supported yet but planned for Vert.x 4.1.0 https://

[2021-01-28 15:21] machi1990 commented on #14671
Thank you @mkouba I think the issue here is the first run on startup and I suspect that at this point the cluster check algorithm has not kicked yet or finished yet. I'll have a look at this too once I've some free cycles.

[2021-01-28 15:22] gaetancollaud commented on #14665
`Context.wrap( myRunnable)` should in theory restore the context automatically.

Can you guide me for this one ?
* I create a class that implement `ThreadContextProvider`
* I put it in `/runtime/src/main/resources/META-INF/services/org.eclipse.microprofile.context.spi.ThreadContextProvider`
* Something else ?

With this solution I won't be able to use `wrap` I will have to use `attach` and restore

[2021-01-28 16:57] geoand commented on #14575
Here is an idea:

We add

[code]

to `QuarkusTestProfile`.

These tags can be used to allow us to skip test execution based on those values if JUnit's Tags have been configured (via Surefire or the IDE).
Note that the configured tags **are** available to use via `ExtensionContext#getTags`.

We could also add a dedicated system property that would also allow us to skip tests based on the provided t

[2021-01-28 17:23] famod commented on #14575
@geoand I think a profile should be able to specify multiple tags. Imagine different tests sharing the same profile but using (for whatever reason) different tags.

[2021-01-28 17:23] iocanel opened #14684 "Make openshift builds more reliable"
**Description**
When an openshift build is triggered a connection to the server is maintained until the build completes.
A loss of connection will cause the client to believe that the build is failed.

In many cases the build actually contibues, but we consider this failed.
We need to make this smarter and more reliable.

**Implementation ideas**
When a connection to the build breaks, we should qu

[2021-01-28 17:24] iocanel commented on #14684
/cc @cescoffier

[2021-01-28 17:25] yntelectual commented on #14201
I experience the same issue. It occurs if a method that performs the select is `@Transactional` and does not load the full entity tree -i.e. some lazy association is not loaded. Then the hibernate will trigger an updateAction in the `doFlush` handler, and will try to make an update on the not-loaded entity, setting all its fields to `null` except `id`. The same behaviour is in 1.11.1 but I too hav

[2021-01-28 17:44] geoand commented on #14575
@famod how would multiple tags help with that case?

[2021-01-28 17:54] cescoffier commented on #14665
Yes, I believe that's the only thing required.

[2021-01-28 18:09] Sanne commented on #14201
Sorry I missed this, too much going on. I'll need to ask my teammates for help.

@dreab8 / @beikov could one of you please have a look? Looks like an NPE on the new BitSets code.

[2021-01-28 18:10] serega-upgini commented on #5129
It works! Thank you.

On Mon, Jan 25, 2021 at 2:34 PM Sanne Grinovero <notifications@github.com>
wrote:

[2021-01-28 18:14] Sanne commented on #5129
On Thu, 28 Jan 2021 at 18:11, serega-upgini <notifications@github.com>
wrote:

Great! Thanks for confirming.

[2021-01-28 18:28] ivangfr commented on #14545
Same problem with Quarkus `1.11.1` and GraalVM `20.3.1`.

[2021-01-28 18:40] geoand commented on #14525
@mjurc where you able to check the above?

[2021-01-28 19:27] karesti commented on #14368
@edeandrea let me know if the solution in the PR works for you, please

[2021-01-28 19:29] edeandrea commented on #14368
The PR moves it to the root of the classpath correct? Why can't it be configurable so the user can input (maybe via a property) where its location is?

[2021-01-28 19:32] karesti commented on #14368
@edeandrea it can be configurable via a property I guess, we wanted to avoid the need of adding a new property for this but just make it work without configuration. is this an issue ?

[2021-01-28 19:33] karesti commented on #14368
We can implement a new configuration property I guess @wburns wdyt

[2021-01-28 19:36] edeandrea commented on #14368
@lburgazzoli should weigh in as well since camel-k will need to make some changes once this change is made so that it becomes usable within camel-k.

[2021-01-28 20:08] wburns commented on #14368
I personally feel a configuration property to define the location of a properties file is overkill. The root classpath mirrors what Infinispan itself does anyways. The only reason it was in META-INF was due to to trying to hide other configuration files in Quarkus in general, which seems didn't quite happen.

[2021-01-28 20:20] yntelectual commented on #14201
I managed to create a repro case https://github.com/yntelectual/quarkus-bug-14201 along with a small readme, but it is really weird: there are several ways how to avoid the bug behaviour e.g. removal of a lazy association, removal of attribute in parent class 😱.. so it feel pretty strange. Looking forward to any result.

[2021-01-28 20:24] edeandrea commented on #14368
That works for me then. We should still let @lburgazzoli  weigh in as well just to make sure he's good with it.

[2021-01-28 20:29] dreab8 commented on #14201
Thanks @yntelectual for the reproducer, I'm going to give a look at it.

[2021-01-28 20:51] wburns commented on #14368
The `hotrod-client.properties` file is currently build time only. We can have a discussion about making it run time in another Issue if you would like.

[2021-01-28 20:59] lssoares opened #14688 "Sending a jms message to a non existent queue using amqp creates a multicast address"
**Describe the bug**
When someone uses the amqp protocol (apache qpid by Quarkus example), to send a message to a queue that does not exist in the broker, then, an address is created on the broker (not the queue), and it becomes impossible to create a consumer due to the error:
`org.apache.qpid.jms.provider.ProviderException: Address *<queue name>* is not configured for queue support [condition =

[2021-01-28 21:04] lburgazzoli commented on #14368
So it does not help much moving to another location for the camel-k use case, let's have a separate discussion over zulip tomorrow

[2021-01-28 21:06] bobbyphilip commented on #14201
@yntelectual Thanks for confirming this issue. I thought I was going crazy.

[2021-01-28 21:28] wburns commented on #14368
Yeah, it would be good to know what properties you plan on using as well. We specifically added a few to the runtime configuration used by the infinispan-client namespace which are detailed at https://quarkus.io/guides/infinispan-client. Maybe we can just add some more.

[2021-01-28 21:54] zakkak commented on #14545
Do you happen to use docker for other containers as well? Just trying to make sure this is not a docker issue.

According to your logs the image appears to get stuck when running:
[code]
This step doesn't include any compilation, so it's pretty strange for the image to get stuck at it.
Could  you please try running the above command a couple of times manually to see if it gets stuck or not?

[2021-01-28 22:52] stuartwdouglas commented on #14575
I think ExtensionContext#getTags is the tags on the current test method/class, not the set of tags the user tried to run.

[2021-01-28 22:56] famod commented on #14575
@geoand

I might have misunderstood your idea. I thought the tags of the profile should be compared to the active tags and if there is no match the profile is not considered.

[2021-01-28 23:04] ivangfr commented on #14545
Docker is not an issue because, in the same project [ivangfr/graalvm-quarkus-micronaut-springboot](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot), I have `Spring Boot` and `Microunat` apps. They are working fine.

Looks like a joke but now, the native building process of Quarkus `1.11.1` & GraalVM `20.3.1` apps is working.

I've tried the command you shared and I have
[code]

Btw

[2021-01-28 23:12] zakkak commented on #14545
@cescoffier any ideas?

[2021-01-28 23:13] famod commented on #6588
@geoand For some strange reason, CI is still picking up the old builder image:
[code]

[2021-01-28 23:35] stuartwdouglas commented on #11045
To fix the ClassLoader issue in the workaround add this to set the context ClassLoader: https://github.com/panchitoboy/quarkus-cucumber/compare/quarkus...stuartwdouglas:proposal#diff-d075952340d927de0ca3077a67f5c52ee81ea7a0820b6d380fa0d90b99c6e2f5R120

[2021-01-28 23:38] stuartwdouglas commented on #11045
So looking into Cucumber the existing support is based on using the vintage test engine, which we don't support and have no plans to, so @Cucumber is never going to work.

I propose we create a quarkiverse-cucumber that has the current workaround as an abstract CucumberTest class:  https://github.com/panchitoboy/quarkus-cucumber/compare/quarkus...stuartwdouglas:proposal

To use this you would then

[2021-01-29 00:26] mjurc commented on #14525
The current working directory of the running Java process is as follows:
[code]

[2021-01-29 03:27] TsuyoshiUshio commented on #12551
I also debug with Java Language Worker on the Azure Functions, however, it also happens inside of the ApplicationImpl startup.  The same observation as @szirbucz . Also I can't find the source ApplicationImpl. Is it auto-generated class?

[2021-01-29 04:14] DylanSale opened #14694 "Cannot start 1.11 with blaze persistence 1.5.1"
**Describe the bug**

I am upgrading my application from quarkus 1.10.5 to 1.11.1 which uses blaze persistence jaxrs 1.5.1, and upon starting the dev server (using `./gradlew quarkusDev`) I get an error "failed to start quarkus" (see below for details). The application works fine on quarkus 1.10.5.

**Expected behavior**

The development server should start correctly.

**Actual behavior**

The dev

[2021-01-29 05:14] geoand commented on #6588
My change needs to be cherry picked to the master branch for the failure to go away

[2021-01-29 05:14] geoand commented on #14575
I'll double check and let you know

[2021-01-29 05:15] geoand commented on #14575
Yes, that is the idea

[2021-01-29 05:17] geoand commented on #14525
Then that the reason of the failure.

So @iocanel we either need to set the working directory to `/deployments` or to automatically set the env var that @mjurc .

Do you want to take care of it or should I?

[2021-01-29 05:36] #14668 closed

[2021-01-29 05:37] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/520015803

[2021-01-29 05:40] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/520014902

[2021-01-29 05:43] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/520014673

[2021-01-29 05:44] geoand commented on #14575
You are right... So we indeed don't have a way to tie into JUnit's tags

[2021-01-29 06:22] Anushka-shukla commented on #12956
Hi @ia3andy I'm interested on working on this issue. Please let me know if anything to get started. Many Thanks!

[2021-01-29 06:25] Anushka-shukla commented on #10927
Hi @loicmathieu If someone is not working on this issue can you please assign this to me. Many thanks!

[2021-01-29 06:49] pschyma opened #14695 "IllegalReferenceCountException logged with enabled compression"
Hi

**Describe the bug**
I'm seeing this in 1.11.1.Final after enabling compression via `quarkus.http.enable-compression`:
[code]

**Expected behavior**
There should be no exception logged as the content is transfered without any problem.

**To Reproduce**

Steps to reproduce the behavior:
1. Enable compression
2. Access a (reactive [Mutiny]?) endpoint

I'll try to create a reproducer if needed be

[2021-01-29 08:09] fxnn opened #14696 "No Interceptors invoked on JAX-RS Controllers with Generic Typed Method Arguments"
**Describe the bug**
Situation:

1. My JAX-RS Controllers (`Resource` classes, in the reproducer it's [`ExampleResource`](https://github.com/fxnn/reproducer-quarkus-transactional/blob/master/src/main/java/de/fxnn/ExampleResource.java)) derive from an abstract class([`AbstractResource`](https://github.com/fxnn/reproducer-quarkus-transactional/blob/master/src/main/java/de/fxnn/AbstractResource.java)

[2021-01-29 08:12] geoand commented on #14575
I took at look at how Surefire launches JUnit 5 tests and found that tags play the role of a `org.junit.platform.launcher.PostDiscoveryFilter` which means that tests that don't match the configured tags are filtered out before tests are even launched.
Moreover, when it comes time to launch the final set of tests, the information about all the originally discovered tests (basically the original `or

[2021-01-29 08:39] drubio-tlnd commented on #11045
This does the trick for the ClassLoader issue 👍
As for the tag issue, i'll keep looking into it and post the solution if i find one.

Thanks for your help

[2021-01-29 08:44] FroMage commented on #14601
We already do. But that's not for multi-part, that's for urlencoded forms.

[2021-01-29 08:44] gaetancollaud commented on #14665
It turned out it was not only that. The ThreadContextProvider is not magically picked up. :disappointed:

So I created two PR (see above). One with the ThreadContextProvider (#14687) wrapper and one without (#14697).

 @cescoffier Let me know which one you think it's best and if I need to improve something.  I will let #14687 in draft since I don't think I used the ThreadContextListener correctly.

[2021-01-29 08:44] FroMage commented on #14601
So the implementation might share some stuff, but it can't be used as is.

So what's the difference?

[2021-01-29 08:51] geoand commented on #14601
That multipart can only read parts of the body and that each part can have
a different media type

On Fri, Jan 29, 2021, 10:45 Stéphane Épardaud <notifications@github.com>
wrote:

[2021-01-29 08:53] FroMage commented on #14601
Sure, but IIRC each part of a `BeanParam` generates code that calls a method like `context.getXXXParam` to fill it once created, and perhaps this is just adding support for another type of field that calls `context.getMuiltipartForm(mime, name)`, no?

[2021-01-29 08:57] geoand commented on #14601
Maybe, I haven't looked into it that much but something tells me it will be slightly more complicated than that

[2021-01-29 09:25] ivangfr commented on #14545
Right now, when I run the command you shared, it gets stuck on the 1st try.

[2021-01-29 09:31] gsmet commented on #14674
Should be fixed by https://github.com/quarkusio/quarkus/pull/14700 .

[2021-01-29 09:35] famod commented on #14696
Just an idea: Have you tried adding `@ApplicationScoped` or `@Singleton` to `ExampleResource`?

[2021-01-29 09:58] gsmet commented on #14368
@edeandrea @lburgazzoli is it something that you need in 1.11 or can it wait for the next version?

[2021-01-29 10:02] lburgazzoli commented on #14368
@gsmet for the camel POV, we can wait for the next version as we have some workarounds

[2021-01-29 10:10] lburgazzoli commented on #14368
@wburns the issue we have in camel-k is that the application build is performed by an operator and is not very simple to handle cases like when an additional property file is required so:

- @edeandrea mind providing more info about what hotrod properties you need so eventually they can be added to the quarkus-infinispan configuration options directly thus you won't need the hotrod-client.properti

[2021-01-29 10:20] xstefank commented on #14678
@tlvlp the paths in the configuration reference seems to be correct. The `/q` is configured separately by `quarkus.http.non-application-root-path`.

[2021-01-29 10:22] jmtd opened #14701 "consider re-instating OpenShift/S2I quickstart documentation"
The deploying-to-openshift-s2i quickstart was deleted in commit 8930ea1919182fa38f55c9b84bb2b78b053049d3 ("Remove old (totally manual) knative and openshift guides"). Consequently https://quarkus.io/guides/deploying-to-openshift-s2i throws 404 (and incoming links from blogs and guides etc are broken)

The content of that page was useful (although might need updating for more recent quarkus changes

[2021-01-29 10:23] geoand commented on #14701
cc @maxandersen @cescoffier

[2021-01-29 10:30] dreab8 commented on #14201
Opened a Jira https://hibernate.atlassian.net/browse/HHH-14424, working on it.

[2021-01-29 10:31] fxnn commented on #14696
Thanks for your hint! Yeah, did that, unfortunately the behaviour stayed the same. `@Singleton` is already the default scope for `ExampleResource`.  When using `@ApplicationScoped`, the scope changes, but the `_subclass` and thus the interceptors are still not invoked.

[2021-01-29 10:32] fxnn commented on #14696
Another note, the behaviour was correct up until `1.10.2.Final`, it broke since `1.10.3.Final`.

[2021-01-29 10:58] famod commented on #14696
I think it's time to summon @mkouba and @manovotn 😁

[2021-01-29 10:59] zakkak commented on #14545
At least now that we know it's reproducible without the need to run a quarkus build, we can keep testing the same image over time to see if the issue appears when we update image in quay.io, if it's completely random, or if it has to do with some state of your local system.

Could you please tag the failing image with `docker tag`, so that it doesn't get removed the next time that Quarkus pulls th

[2021-01-29 11:19] rsvoboda commented on #8506
Adding `quarkus.qpid-jms.url` to the set of required properties

[2021-01-29 11:45] manovotn commented on #14696
This is the commit breaking it - https://github.com/quarkusio/quarkus/pull/13657

Looks like the motivation was to avoid duplicit bridge method invocations, but it breaks this scenario. We'll have to fine grain it further. I can take a look at it on Mon.

[2021-01-29 12:04] ivangfr commented on #14545
Ok @zakkak I will do it

[2021-01-29 12:11] manovotn commented on #14696
Also, I am not sure the commit actually fixed the original issue, because if you take the [existing test](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/interceptors/bridge/BridgeMethodInterceptionTest.java) and apply `@Simple` interception binding on a class level instead of method level, you will still be getting multiple interce

[2021-01-29 12:39] edeandrea commented on #14368
Everything I specifically am using is shown in https://github.com/edeandrea/debezium-demo-apb/blob/master/roles/Demo/objects/camelk-client.yml#L29L47

That, however, doesn't mean that there aren't others who are using other properties. Why would we develop a solution that only satisfies my specific use case? I would think any property available in `hotrod-client.properties` should be available for

[2021-01-29 12:49] radcortez commented on #14330
Here is a prototype: https://github.com/smallrye/smallrye-config/pull/497

[2021-01-29 13:01] glefloch commented on #14515
Thanks for reporting this @alkuit. I can reproduce the error.

@geoand, is this a limitation of `QuarkusMock` ? Looking at the documentation, it works with `quarkus-test-junit5-mockito`  and `@InjectMock` (https://quarkus.io/blog/mocking/#using-injectmock), and this module doing more stuff than `QuarkusMock` ?

[2021-01-29 13:46] rquinio commented on #11903
I do see the same behavior with a Maven multi-module project that builds 2 Quarkus application in parallel (-T 1C) on Windows 10 & MacOS (Quarkus 1.7.6.Final, OpenJDK 11.0.8)

[code]

[code]

I see an old issue on Jib https://github.com/GoogleContainerTools/jib/issues/922, but it's supposed to already be fixed with 0.10.0

[2021-01-29 14:25] KrisGerhard commented on #3380
This would be neat! We could really use it!

[2021-01-29 14:33] geoand commented on #14515
Does  https://quarkus.io/blog/mocking/#using-injectmock-with-restclient help?

[2021-01-29 14:52] miquelsi opened #14705 "Intermitent failure (NPE) in metrics endpoint test"
**Describe the bug**
We are experiencing intermitent failures in a test that checks the metrics endpoint.

**Expected behavior**
The test is successful.

**Actual behavior**
The test fails with the following error:

[code]

Here are some GA runs that show the described failure:
https://github.com/keycloak/keycloak/pull/7738/checks?check_run_id=1786843902
https://github.com/keycloak/keycloak/pull/7

[2021-01-29 15:04] glefloch commented on #14515
yes, I tried moving from `mockk` to `mockito` with `quarkus-junit5-mockito` and it works.

[2021-01-29 15:25] wburns commented on #14368
The problem is this goes completely against the mantra of Quarkus of making as much build time as possible, which is the approach we took. We then would slowly add properties to runtime as required.

Looking at your configured properties, I have categorized them.

These are all configurable at runtime.
[code]

I can see adding these as runtime.
[code]

I can maybe see making this runtime, but real

[2021-01-29 15:27] geoand commented on #14515
👍🏼

So this ticket essentially becomes as request to support `mockk`, right?

[2021-01-29 15:31] hernael opened #14707 "from version 1.11.0 Vault MicroProfile Config Source stopped working"
**Describe the bug**
from version 1.11.0 Vault MicroProfile Config Source stopped working to use vault with Databases (Vault MicroProfile Config Source) and OIDC

**Expected behavior**
quarkus fetched vault kv values first and then try verificted dependent properties. In version 1.10.5 works fine, but in 1.11.0 (and 1.11.1) does not work

**Actual behavior**
on startup throw error:
[code]

**To Re

[2021-01-29 15:32] feitian124 commented on #9287
@stuartwdouglas
is it possible to get the running port? thanks

[2021-01-29 15:35] edeandrea commented on #14368
The ones you point out I actually did notice you could set in quarkus. When I moved my camel-k migration onto the quarkus runtime I did make those changes (https://gist.github.com/edeandrea/770c84be9da204ff0b13f2340975904e).

The other ones (especially the marshaller) are a problem. By not being able to specify the marshaller, infinispan falls back to default serialization, which in my case is not

[2021-01-29 15:43] FroMage commented on #814
Now that @Ladicek is merging wildfly/jandex#84 we could resurrect this :)

[2021-01-29 15:43] glefloch commented on #14515
Well yes, I was planning to create a module outside of quarkus (in quarkiverse) to add this support. But as mention in the doc, `QuarkusMock` is not tied to mockito. So I was wondering if it was a bug, or if needed to be supported which seems to be the case.

[2021-01-29 15:51] geoand commented on #14515
I guess you are right, I didn't really look at the code in the example.

[2021-01-29 16:01] hernael opened #14709 "First Request to Reactive SQL fail"
**Describe the bug**
at first time that request an concurrency reactive sql client, it fail.
But the second time it work fine

**Expected behavior**
that also works fine the first time

**Actual behavior**
after the application startup and receives the first request to a method with reactive sql concurrent calls, the connection fail.

**To Reproduce**
In a Reactive SQL Cient Application with reste

[2021-01-29 16:20] lburgazzoli commented on #14368
build vs runtime is not really an issue here, the main problem for camel-k is that the configuration options are spread among different files.

@wburns I'm thinking about two possible options to make the current build time behavior a little bit mor flexible:
1. have `InfinispanPropertiesBuildItem::setup` to accept a list of `HotrodPropertiesBuildItem` (this is a new build item) so the infinispan-c

[2021-01-29 16:33] lferna opened #14710 "Load any yml from config external folder"
**Description**
Currently, there is a possibility to load configuration yml from an external folder. According to the documentation, the external folder must be named "config". But the file name inside the folder must be "application.yml". If the file name is different, the properties can not be found.

**Implementation ideas**
It would be great if every yml within "config" folder should be able t

[2021-01-29 19:15] wburns commented on #14368
I personally like option 1 so that any app can set default values for the client properties without having to use the `hotrod-client.properties` file.

[2021-01-29 19:41] machi1990 commented on #14671
When I was trying the reproducer, the only issue I encountered is the one I stated above where during startup more than one app node "could" execute the job. This was happening randomly depending on the condition of the cluster checking.

It was due to the scheduling logic https://github.com/quarkusio/quarkus/blob/master/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzSched

[2021-01-29 19:43] machi1990 commented on #14672
I am not too familiar with this part of the code. I am only aware of the issue since I was helping @miguelsorianod debugging the failure.

[2021-01-29 19:45] geoand commented on #14672
No problem.

I'll try to reproduce it again

[2021-01-29 19:57] pjgg commented on #14608
I decided to walk an extra mile, just to try to make a stronger point about this issue:

First of all, I double-checked the [Quarkus doc](https://quarkus.io/guides/all-config#quarkus-reactive-datasource_quarkus-reactive-datasource-reactive-datasource-configuration) and it says "before it is removed from the pool". So looks that this property(quarkus.datasource.reactive.idle-timeout) applies to the

[2021-01-29 20:07] geoand commented on #14672
@machi1990 what you are seeing is what I am seeing as well and it's the expected behavior.

What I can't reproduce is the NPE that is mentioned in the description.

@miguelsorianod what did you rename the test to?

[2021-01-29 20:16] vsevel commented on #14707
do you have the logs by any chance?

[2021-01-29 20:21] #12522 closed

[2021-01-29 20:23] antoniodvr commented on #14284
@gsmet @FroMage

What if rather than passing two values (`value` and `hash`) we only pass one value with the class reference of the PasswordHasher implementation?

[code]

So that we can replace the `PasswordType` enum with the implementations:

[code]

[2021-01-29 21:23] hernael commented on #14709
yes thanks! the full log is:

[code]

[2021-01-29 21:25] hernael commented on #14707
yes thanks! the full log is:

[code]

[2021-01-29 21:38] vsevel commented on #14707
not sure. and I am not familiar with the dev mode. the vault extension should print some logs. I guess it fails to run before we try to fetch `${database.url}`, which should have been filled by the vault config source.
it does not look like an issue with the vault extension itself, but rather that it is not being called.
@hernael is the application running fine in normal mode (i.e. not in dev mode

[2021-01-29 21:41] alexlitovsky opened #14712 "OpenAPI: 1.11.x picks up annotated interfaces from dependency JARs"
**Describe the bug**
1.11.x is including annotated API interfaces from dependent JAR's that have no implementations provided.  These are API's that I am consuming, not ones that I am providing.  Since they come from a 3rd party, I can't annotate them with @RegisterRestClient.

**Expected behavior**
Only include REST API's that have implementations provided.  Ignore interfaces with no implementatio

[2021-01-29 21:49] hernael commented on #14707
@vsevel But the strangest thing about all this is that it work fine with version 1.10.5, but just changing to 1.11.0 fails

[2021-01-29 21:53] vsevel commented on #14707
is the application running fine in normal mode (i.e. not in dev mode)?

[2021-01-29 22:05] knutwannheden commented on #14575
This seems like it is related to #10297. I think it should be possible to add `@Tag` annotations to the class referenced by `@TestProfile` and these tags would then apply to the corresponding tests. This might also solve the use case described here.

[2021-01-29 23:09] hernael commented on #14707
sorry but how do i do that?

[2021-01-29 23:20] hernael commented on #14707
ok, i could already run it in normal mode!
And yes it works fine

[2021-01-30 01:57] pedrolopix commented on #9313
I created a simple demo with minimal implementation, see https://github.com/pedrolopix/quarkus-javafx-example

[2021-01-30 05:58] maxandersen commented on #9313
Nice @pedrolopix !

[2021-01-30 06:35] geoand commented on #14575
We wanted to do that, but unfortunately it's not possible as per my explanation above

[2021-01-30 07:35] knutwannheden commented on #14575
I should have read that more carefully then. Unfortunate nevertheless ☹️

[2021-01-30 08:02] maxandersen commented on #9313
Haven't been at laptop where I can run it but from reading code I assume this is only jvm mode and injection is not happening in the jfx application side - correct ?

[2021-01-30 08:20] machi1990 commented on #14672
@geoand thanks. I thought the exception will be thrown only when native.image.path is not set. But being seeing it when the native image test is not suffixed with `IT` is confusing. If the `IT` suffix is the expected behaviour then I think a message along those lines will be much more user friendly than the `native.image.path` is not set (even when it is set).

For the project in question, I saw t

[2021-01-30 08:36] vsevel commented on #14707
so it is probably related to how dev mode is initializing the app. one difference is that the vault extension was moved to the boostrap phase in 1.11 https://github.com/quarkusio/quarkus/pull/13498. this might be the reason why it was still working in 1.10.

[2021-01-30 08:41] Postremus opened #14715 "Resteasy Reactive detects beanparam as cdi bean."
**Describe the bug**
I have a simple quarkus app, in which I use BeanParam for my Get resources.
Apperantly, quarkus detects the as Beanparam annotated classes as cdi beans, see warning below.
This is not correct, since my HelloParams POJO does not have a scope set.

If I add Unremovable to the HelloParams class, the warning does not happen.

**Expected behavior**
This warning should not happen if

[2021-01-30 08:43] geoand commented on #14715
@FroMage what is the intended behavior in this case?

[2021-01-30 09:02] apat59 commented on #14671
@machi1990
This is what I was thinking but immediately concluded that would start to be tricky

Imagine we deploy
@Scheduled(delayed = "3s", every = "10s", identity = "task-job")

Later deployment
@Scheduled(delayed = "3s", every = "20s", identity = "task-job")

Would the new interval apply or not?

We should check all the details to decide if it's a delete/replace or ignore.

[2021-01-30 10:57] machi1990 commented on #14671
This was indeed the motivation to delete previous jobs. To make sure that no stale jobs are present but doing so it meant the schedulers acting as a migration extension, which it is not.

The new interval will apply "eventually" but the first two lines might still be on the previous data. To get past this,
- I'll advise using a db migration to remove all stale/old jobs
- change the identity so tha

[2021-01-30 11:55] pedrolopix commented on #9313
Yes it's correct, it's only jvm mode and no injection in jfx side. It's only a simple example, better than nothing :)

[2021-01-30 13:18] apat59 commented on #14671
I tend to agree, the extension can't handle everything possible scenario.
The extension is very handy but as soon as you enable clustering, it might be misleading.

I think a big warning in the doc about "it's your responsibility to manage existing jobs, clean them up".
How about providing a rest endpoint which lists all existing jobs ? The idea is to allow the user to quickly check what is actual

[2021-01-30 14:21] maxandersen commented on #9313
Definitely! Very appreciated.

[2021-01-30 15:22] drissamri commented on #13655
@patriot1burke do you mean implementing the 2.0 payload for the old REST API's or implementing HTTP API's? (https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api.html which always use payload 2.0)

[2021-01-30 15:58] dvsingh9 opened #14718 "automate compact docker images with jlink"
**Description**
I can build docker image but again it's not slim as it should be, a developer I need to take care of it using jlink.

**Implementation ideas**
Can we analyze what java modules are required based on the dependencies of the project?
if yes
We can modify the docker file?

[2021-01-30 17:46] patriot1burke commented on #13655
@drissamri Correct.  Its already merged to master.  amazon-lambda-http extension will now use 2.0 payload.

[2021-01-30 18:17] drissamri commented on #13655
Is there any feature request already to support HTTP API's? Since it's faster, cheaper and supports native OIDC it seems to be come the default over the REST API's on AWS? Otherwise I'll make one now.

It doesn't support the BinaryMediaTypes  - "*/*" feature so not sure how much of an issue that is for Quarkus

[2021-01-30 20:31] hernael commented on #14707
all this means that somebody have to move the vault extension in next versions?

[2021-01-30 21:30] alexlitovsky commented on #14712
Seems to have been broken in smallrye-open-api-jaxrs 2.0.18.

Works fine when I explicitly declare these:
[code]

Doesn't work with these, or any other version > 2.0.17:
[code]

[2021-01-30 21:57] patriot1burke commented on #13655
I believe its Http API sending APIGatewayHTTPV2Event to a lambda that we convert to an internal format so it works with JAX-RS, Servlet, etc..

I didn't know there was a difference between Rest API and Http API.  I thought it was just 1.0 vs 2.0 of the json protocol.

[2021-01-30 22:15] patriot1burke commented on #13655
So, we have extensions that can understand 1.0 and 2.0 of the API Gateway HTTP event json format that is sent to a Lambda.  So you could just use either REST or HTTP APIs as you want I guess.

[2021-01-31 05:36] hrstoyanov commented on #14330
will test shortly!

[2021-01-31 07:06] pipinet opened #14719 "graphql error handler support"
**Description**
https://quarkus.io/guides/microprofile-graphql#error-code
Because it is not possible to annotation the third-party exception, is there some way to conversion error-code on exception

**Implementation ideas**
public String handle(XXXException e){
  // handle code
}

[2021-01-31 11:45] Postremus opened #14720 "Resteasy Reactive detects multiple writers, but only one response type is present"
**Describe the bug**
I have a GET method annotated with `@Produces(MediaType.APPLICATION_JSON)`.
In the Score Console it says however that I have 2 writers for this method:
[code]

This negativly affects the score of this method. See screenshot.

**Expected behavior**
RR should not detect a simple Produces(MediaType.APPLICATION_JSON) as multiple writers.

**To Reproduce**

Steps to reproduce the b

[2021-01-31 16:05] pipinet opened #14721 "graphql, the way to graphql.relay.Connection edge node batch loader"
**Description**
There are only List batch load demo at https://quarkus.io/guides/microprofile-graphql#batching
![image](https://user-images.githubusercontent.com/6096680/106389922-ec3bb880-6420-11eb-9149-a2e33775dd6c.png)

when return type is  graphql.relay.Connection how to batch load?

[2021-01-31 16:06] phillip-kruger commented on #14721
That's not supported currently. Please open an issue in SmallRye

[2021-01-31 16:55] drissamri commented on #13655
Ah, that's where the misunderstanding has been in a few tickets, now I see. :)

The payload is not the only difference, these are two different services grouped in "API Gateway", I think Quarkus counts on the binary mediatype? While this is (probably?) not supported by the HTTP API's, there is more difference than just the payload.

You can test this out by changing the AWS SAM template where it s

[2021-01-31 17:49] cescoffier commented on #14156
The issue has been fixed upstream (in reactive messaging).

[2021-01-31 21:19] patriot1burke commented on #13655
Try master.  I changed the generated sam.yaml to use http api and version 2.0

[2021-02-01 05:38] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/526709185

[2021-02-01 05:41] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/526710873

[2021-02-01 05:46] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/526709717

[2021-02-01 07:14] cescoffier commented on #14366
@tsegismont investigated, and it seems to be a Kafka Client 2.5 issue. It does behave correctly with 2.6.

[2021-02-01 07:54] geoand commented on #14720
Does the `GET` method return `String` or something else?

[2021-02-01 08:10] mkouba commented on #3532
We could just ignore this method and throw a runtime exception if called at runtime...

[2021-02-01 08:14] Postremus commented on #14720
@geoand yes, indeed it does in this example.
But I have also noticed this behavior when the GET returned a POJO.

[2021-02-01 08:20] geoand commented on #14720
Understood. I'll check it out soon

[2021-02-01 08:23] haraldatbmw commented on #14650
@jmartisk Thanks for this test class but I was not able to reproduce the issue.

I added some some code to dump out the data of the histogram in such a "frozen" behavior.
Maybe you can find some issue with these values.
Or do you have an idea which additional values I should dump out?

[code]

[2021-02-01 08:29] obreckoff opened #14725 "Add runtime support for WADL generation"
**Description**
Functionality to get a WADL representation of the interface of a RESTEasy webservice from url/application.xml.
Without WADL generation functionality it is cumbersome and error-prone to develop clients for large and complex webservices developed with quarkus.

**Implementation ideas**
There is already an implementation in RESTEasy but it seems it has not been imported in quarkus-res

[2021-02-01 08:29] mkouba commented on #14671
:+1:

A new deployment should always clear the previous state. Moreover, we should be clear that the apps that form the "cluster" should be identical.

I don't think we should expose this kind of info by default. We could do this for the dev mode though, e.g. something similar to `http://localhost:8080/q/dev/io.quarkus.quarkus-scheduler/schedules`.

[2021-02-01 08:51] jmartisk commented on #14705
I don't have much insight into Keycloak, but from the stack trace, it looks like Keycloak is wrapping the call to the `/metrics` endpoint into a transaction, and the failure seems to be related to committing the transaction (or maybe there's a `commit` call when actually no transaction was started, hence the NullPointerException?).
Is that transaction handling needed? (Obtaining metrics generally

[2021-02-01 08:54] ia3andy opened #14726 "The guides about creating/understanding extensions should be improved"
The guides about creating/understanding extensions should be improved.

Here is a possible summary:
- a guide for "Create you own extension"
	- Create a Quarkiverse extension
	- Create a Standalone extension
	- Create a Quarkus Core extension
	- Add Unit tests
	- Add Dev mode tests
	- Add integration tests
- a guide for: "Understand extension principles" (with most of the content of `docs/src/main

[2021-02-01 08:54] karesti commented on #14368
@wburns IMO, on top of that, we should be able to override any property of the client Infinispan without using the hotrod-client.properties as we do in SB

[2021-02-01 08:56] #14674 closed

[2021-02-01 08:58] ia3andy opened #14727 "add `create-extension` to Quarkus CLI"
**Description**
Now that https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/CreateExtension.java is common, we can easily add a new command to the Quarkus CLI to create extension.

Following https://github.com/quarkusio/quarkus/pull/13896/

[2021-02-01 09:00] mkouba commented on #14696
Hm, I think that it's the combination of an abstract generic supertype and annotation inheritance that makes troubles. As @fxnn mentioned the generated subclass intercepts a method with the signature `create(Dto var1)` but it should be `create(de.fxnn.ExampleDto)`.

A simple workaround is to reimplement the method on the resource class:
[code]

[2021-02-01 09:00] FroMage commented on #14284
That's possible, but it would not be binary-compatible.

I'd make constants for the built-in classes, to allow for completion:

[code]

[2021-02-01 09:00] gsmet commented on #14707
@radcortez could you try to help @vsevel figure this out?

[2021-02-01 09:01] gsmet commented on #14709
/cc @Sanne @gavinking @DavideD

[2021-02-01 09:01] crossdump opened #14728 "Add WADL generation functionality to quarkus-maven-plugin"
**Description**
Functionality to get a WADL representation of the interface of a RESTEasy webservice using maven from /target/application.xml.
Without WADL generation functionality it is cumbersome and error-prone to develop clients for large and complex webservices developed with quarkus.

**Implementation ideas**
In RESTEasy there is a similar functionality (WADL file is reachable over HTTP ther

[2021-02-01 09:02] yrodiere opened #14729 "Hibernate Search dev console card for multi-persistence-unit applications"
**Description**
The dev console card for Hibernate Search, added in #14622, only works for the default persistence unit. It would be nice to make it work with applications that have multiple persistence units.

**Implementation ideas**
TBD.

[2021-02-01 09:07] yrodiere opened #14730 "Finer-grained progress tracking for mass indexing in the Hibernate Search dev console card"
**Description**

There is also support for adding a monitor to the mass indexer, so in theory you could display the mass indexing progress on the webpage when using the mass indexing feature the Hibernate Search dev card (see #14484)

**Implementation ideas**

`MassIndexingMonitor` + SSE to push progress to the dev console + some kind of task list with a progress bar on the dev console.

[2021-02-01 09:13] mkouba commented on #14696
@manovotn You're right. The fix does not work for class-level bindings. I'm not exactly sure what kind of bridge methods-related trickery is in the game. I'll try to find more details today...

[2021-02-01 09:13] FroMage commented on #14715
I can't say I remember, but I don't think we use CDI to look them up. We certainly don't use CDI to inject stuff in them.

It seems to be due to `CustomResourceProducersGenerator`, though, so not sure if this is due to constructor injection or just an accident?

[2021-02-01 09:16] manovotn commented on #14696
Yeah, it's really weird. I played with it a bit on Fri but didn't find the catch yet. I am also planning to take a look today so feel free to ping me on Zulip if you figure out anything.

[2021-02-01 09:18] geoand commented on #14715
`CustomResourceProducersGenerator` should only be coming into play when using constructor injection on a JAX-RS Resource that has uses `@QueryParam`, `@Context` or the like.

`@BeanParam` as parameter method should not be triggering its use - but I'll have to look into it more.

[2021-02-01 09:24] mkouba commented on #14696
So I think that the problem is that we also add the intercepted methods candidates from superclasses and there the method (`BridgeMethodInterceptionTest.Base.echo(T)` in the test) is not a bridge method... In other words, we would have to ignore methods that have a bridge method generated on the subtype, which is BTW something we have in `InterceptedSubclassFactory.addMethodsFromClass()` ;-).

[2021-02-01 09:42] albert0815 opened #14733 "Use proxy setting for keycloak policy enforcer"
**Description**
For OIDC a proxy setting was introduced with #8088. Currently this setting is not used in the policy enforcer. But actually the same resource URI (quarkus.oidc.auth-server-url) is used to connect to Keycloak. When using quarkus.oidc.proxy.host one most probably wants to use that proxy setting also for the policy enforcement. At least this is the case for us. So I would like to sugg

[2021-02-01 09:51] tsegismont commented on #14608
Indeed the doc is confusing. I will change it to "before it is closed". After it's closed, it's removed from the pool, whether or not the user has borrowed it from the pool at the time the timeout expired.

[2021-02-01 09:56] mkouba commented on #14671
I can confirm that @machi1990 's fix results in consistent behavior (at least it's locally reproducible ;-). I've sent a PR and added a warning to the doc.

[2021-02-01 10:22] lthasle opened #14736 "resteasy-reactive header propagation"
Description:
The http header from the client is not forwarded out from the resteasy client towards the external service.
This works great without the usage of resteasy-reactive

Expected behavior:
When a client is invoking a rest endpoint with an Authorization header, I expect that the Authorization header is propagated out from the resteasy client towards the external service.

Actual behavior:
F

[2021-02-01 10:26] gsmet commented on #14608
@tsegismont how is it not a bug to have `Fail to read any response from the server, the underlying connection might get lost unexpectedly.` errors from a pool? I might have missed something?

[2021-02-01 10:31] tsegismont commented on #14608
It's not a bug because the feature does not exist yet, see https://github.com/quarkusio/quarkus/issues/14608#issuecomment-769151568

The idle timeout we have now applies at the TCP connection level and works as expected.

It is true though that the documentation is incorrect and I just push a change to update it.

[2021-02-01 10:33] geoand commented on #14736
@michalszynkiewicz sounds like one for you :)

[2021-02-01 11:47] pjgg commented on #14608
This issue is talking about getting a connection that is closed (also, fails on Vertx 4 without a pool). This issue. `Vertx PgPool lost connection unexpectedly` can't be the normal behavior of your DB connections.

Could you provide an example about how to use this property  `quarkus.datasource.reactive.idle-timeout` and
`PgPool postgresql`?. Or it's not supported this combination?, and if it's su

[2021-02-01 11:54] pedroigor commented on #14705
@jmartisk Yes, I suspect this is something on our side. Transactions should only be managed within a blocking thread and not in an event loop thread.

I'll check why this is happening.

[2021-02-01 11:56] radcortez commented on #14707
sure, I'll have a look

[2021-02-01 11:58] gaetancollaud opened #14740 "Liquibase native compilation broken since 1.11.1.Final: NullPointerException in LiquibaseProcessor#nativeImageConfiguration"
**Describe the bug**
Since the version 1.11.1.Final I cannot compile native with liquibase. It was working fine in 1.11.0.Final. I suspect the issue started with #14500 (because of the stacktrace). This only happen if I have a `<createView` because if I comment it out, the build is passing.

/cc @famod (since you're the author of #14500) maybe you have some insights

**Expected behavior**
I can co

[2021-02-01 12:12] gsmet commented on #14740
We should have used `ofNullable()` for all these as we don't always reference a path.

@gaetancollaud any chance you could create a PR with a test?

[2021-02-01 12:23] gaetancollaud commented on #14740
@gsmet I can create a PR with `ofNullable()` and adapt the existing tests.

[2021-02-01 12:31] famod commented on #14740
Good catch! I actually only added the view, blindly using the same logic as the rest that was initially added by @joostbaas.
Three people including me reviewed it and nobody spotted the problem. Better have a test next time...

[2021-02-01 12:33] geoand commented on #14740
Damn... This is the kind of thing that is hard to catch in a review and it's best to have a test for...

[2021-02-01 12:38] gaetancollaud commented on #14740
I have issue with h2 when I run the tests (either Intellij or mvn), can some help ? See stacktrace in #14741

I don't use h2 otherwise so I don't think it's a conflict.

[2021-02-01 12:58] gaetancollaud commented on #14740
Nevermind, it seems that h2:mem uses the port 8082 And I had a service running on this port, my bad...

[2021-02-01 13:23] zakkak commented on #12393
Thanks @JiriOndrusek

Removing the LCMS Substitutions and running with GraalVM CE 20.1 results in http://paste.debian.net/plain/1183561 which AFAICS is not triggered by the graphics part of the test (or some exception/error gets hidden).

Note that I am not getting the exception reported [here](https://github.com/quarkusio/quarkus/issues/12393#issuecomment-700970057)

[2021-02-01 13:38] tsegismont commented on #14608
This property has been added in #11498 in order to solve #11149.

Until eclipse-vertx/vertx-sql-client#41 is solved, we have nothing better than the TCP connection level properties, as discussed in the original issue.

In other words, there is currently no way to fix [this test](https://github.com/pjgg/beefy-scenarios/blob/feature/vertx-sql/303-quarkus-vertx-sql/src/test/java/io/quarkus/qe/vertx/s

[2021-02-01 14:00] gaetancollaud commented on #14740
PR is ready to review #14741

[2021-02-01 14:06] DavideD commented on #14709
I'm having a look

[2021-02-01 14:32] abesada commented on #14608
I am an vertx end-user using it in production environments. The issue mentioned has occasionally appeared in production. I am not going to evaluate the internal architecture of vertx but as an end-user I consider that it is a bug in the toolkit that forces me to develop an external layer to validate if the connection given by the vertx pool is valid, with the consequent loss of performance.
The ot

[2021-02-01 14:33] DavideD commented on #14709
Is there a test project somewhere that I can look at?

[2021-02-01 14:34] bardsoleim opened #14743 "HashiCorp key vault does not override application.properties"
**Describe the bug**
HashiCorp vault does not override properties in application.properties

**Expected behavior**
Values in application.properties that share the same name described in vault should be overridden.

**Actual behavior**
Only the values in application.properties gets assigned.

**To Reproduce**

https://quarkus.io/guides/vault
follow this guide while having a value for "a-private-key

[2021-02-01 14:41] shawkins opened #14744 "Add a crud capable Kubernetes server test resource"
**Description**
Similar to KubernetesMockServerTestResource it would be great to have KubernetesServerTestResource supporting the crud feature of the fabric8 KubernetesServer.

**Implementation ideas**
A new test resource class.  Locally my implementation is just https://github.com/shawkins/mk-agent/blob/39d2606d59a228845d7fa643d277dfe495b64c04/agent-sync/src/test/java/org/bf2/sync/KubernetesServe

[2021-02-01 14:42] hernael commented on #14709
not yet, but it is easy to reproduce. Only make two concurrent reactive request to database (postgresql 13 in my case), startup the application and execute a reactive service.
If you wish i could create a demo test repo

[2021-02-01 14:42] tsegismont commented on #14608
@abesada sorry for the inconvenience.

This sounds like a different problem. Can you open a separate issue and explain what you see? Thank you

[2021-02-01 14:45] DavideD commented on #14709
That would be great and save me a lot of time

[2021-02-01 14:46] hernael commented on #14709
ok, give me about 10 min

[2021-02-01 14:46] DavideD commented on #14709
Thanks

[2021-02-01 14:56] Sgitario opened #14745 "Micrometer: Rename vertx properties to http server binding."
**Description**
Following this guide: https://quarkus.io/guides/micrometer, there are some vertx related properties like:
- quarkus.micrometer.binder.vertx.enabled
- quarkus.micrometer.binder.vertx.match-patterns
- quarkus.micrometer.binder.vertx.ignore-patterns

After speaking with @ebullient , it seems that this binding matches with the HTTP server metrics rather than vertx. Therefore, we should

[2021-02-01 14:57] Sanne commented on #14709
This looks like the same issue as others have reported: not using a transaction and/or not delegating to the right thread.

IMO it's Panache Reactive which should not allow this usage and throw a better exception.

[2021-02-01 14:58] DavideD commented on #14709
I think so, but I prefer to check with the test case

[2021-02-01 14:58] Sanne commented on #14709
(I don't know for sure and will let @DavideD reprodice and confirm, I'm just suspecting this might be the case since I see RestEasy being used in the stacktrace)

[2021-02-01 15:01] sberyozkin commented on #14733
@albert0815
`org.keycloak.representations.adapters.config.AdapterConfig` only has a `setProxyUrl` method - can it be enough ? If yes then I can open a PR (which will pick up the proxy host and port properties from the OIDC config), otherwise a Keycloak issue will need to be opened asking for more proxy properties to be supported (username, password)

[2021-02-01 15:21] hernael commented on #14709
https://github.com/hernael/reactive-demo

[2021-02-01 15:26] rsvoboda commented on #14608
If I'm reading this correctly, users can get connection from Vert.x PgPool which is already closed.

@pjgg say it's a bug, because end users should get valid connections only

@tsegismont says it's a known limitation because some parts are missing on Vert.x side

`the limitation has been discussed when the properties were added` is mentioned in one of the above comments.
Where should users get the

[2021-02-01 15:35] abesada commented on #14608
This is not a bug, it is a consequence of not set an idle timeout. Imagine a database instance in the cloud that has a limit of 100 concurrent connections. Now you create microservices around that database. If each microservice is allowed up to a maximum of 25 connections, in theory you can only build four microservices to ensure you don't saturate it, but if you define an idle timeout then you ca

[2021-02-01 16:01] hernael commented on #14709
in repository example is even worse, since it gives error in all requests :(

[2021-02-01 16:07] leutrimmusliuu opened #14747 "Reactive rest-easy, support sub resources"
ResourceInfo doesn't contain information about subresource method annotations at @ServerRequestFilter.
In the following example resource info should contain annotatitons @Get, @Path, @EndpointAnnotation, but instead it has the informations about the setupSubResource() method. Below you have the code examples. Also I attached a producer app.

public class RequestFilter {
  @ServerRequestFilter
  pu

[2021-02-01 16:15] albert0815 commented on #14733
For me proxy host and port would be sufficient.

[2021-02-01 16:20] hernael commented on #14709
please note that just created a service called hello/first. It does not have initial concurrency. Now, if  service "hello/first" is executed at first and then execute "hello" service, then no error is present

[2021-02-01 16:47] tsegismont commented on #14608
@rsvoboda we said the `reconnect-attempts`, `reconnect-interval` and `idle-timeout` options were TCP-level options [here](https://github.com/quarkusio/quarkus/issues/11149#issuecomment-673500553) and [here](https://github.com/quarkusio/quarkus/issues/11149#issuecomment-673592439).

Only if they activate this property, which is a low-level TCP property, disabled by default.

If users catch a failur

[2021-02-01 16:52] tsegismont commented on #14608
@abesada thanks for the details. Indeed, without `idle-timeout` timeout support at the pool level you can only use the TCP-level option which, as you said, occasionally appears in production.

With your previous comment I wasn't sure if you had hit a bug that prevented to use the pool altogether after some time. It seems it is not the case.

[2021-02-01 16:53] leutrimmusliuu commented on #14747
@geoand

[2021-02-01 17:18] Sanne opened #14749 "quarkus-integration-test-micrometer-prometheus failing when .minikube/ca.crt is missing"
**Describe the bug**
When I attempt to build current master, module `quarkus-integration-test-micrometer-prometheus` fails with

[code]

**Expected behavior**
A clean checkout should always pass.

**Actual behavior**
Can't build.

**To Reproduce**

Run the build.

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: `Linux ambeast 5.10.9-201.snn4.x86_64 #1

[2021-02-01 17:19] geoand commented on #14749
cc @iocanel

[2021-02-01 17:27] DavideD commented on #14709
Yes, this is the problem  @Sanne was talking about.
When I run the test I have the following exception:
[code]

[2021-02-01 17:29] #14740 closed

[2021-02-01 17:31] myannou commented on #13621
I am also affected by this issue (for a multitenancy app)
Is there any workaround to bypass this issue ?

[2021-02-01 17:42] tlvlp commented on #14678
@xstefank  so it seems that I have misunderstood the option. I have encountered the above problem, when I was looking to directly set the liveness and readyness endpoints as I'm porting one of our SpringBoot service to Quarkus and have to use the '/liveness' and '/readiness' endpoints of the replaced service.

From you hint and after taking a closer look to the health endpoint structure I have tri

[2021-02-01 17:54] #14715 closed

[2021-02-01 18:11] hernael commented on #14709
You say that the problem is resteasy? even if concurrent panache reactive code work fine with just before execute a call to non-concurrent panache code?
Note: an unit test only to repository layer also fails

[2021-02-01 18:20] ebullient commented on #14749
weird. I'll double check.

[2021-02-01 18:24] ebullient commented on #14743
related to #14707 ?

[2021-02-01 18:27] xstefank commented on #14678
@tlvlp thanks I see now what you are trying to achieve is `:8080/liveness` and `:8080/readiness` which indeed doesn't work (I verified). I'll look into this.

[2021-02-01 19:13] DavideD commented on #14709
This will work if you wrap everything in a transaction:
[code]

[2021-02-01 19:26] #14484 closed

[2021-02-01 19:31] rsvoboda commented on #14608
@tsegismont thank you for the pointers, so the limitations are documented as comments in the GH issue, we miss the details in Quarkus guide.

On the strategy I'd rather have input from @gsmet or @gavinking:
A) expand the documentation and keep the implementation as is
B) deprecate the property until a pool-level idle timeout is supported upstream.

Any idea about the plans for https://github.com/e

[2021-02-01 19:45] hernael commented on #14709
Ok, i will use this way.
But i still think there are an issue in somewhere. Maybe in future releases no longer have to use transaction in this case.
In any case, thank you very much!!!

[2021-02-01 19:48] gavinking commented on #14608
Well if I'm understanding all this correctly, it seems I had the same misunderstanding, and added a setting to HR that calls `setIdleTimeout()`, assuming that this was a "pool" timeout.

I guess I would say it's sorta pretty much critical that vert.x implements this feature in both 3 and 4 branches.

[2021-02-01 20:00] pjgg commented on #14608
I have created a PR  test, on vertx-sql-client as a scenario "[showroom](https://github.com/eclipse-vertx/vertx-sql-client/pull/881)"

[2021-02-01 20:40] Sanne commented on #14709
Well it's not RESTEasy's fault, but a limitation of our current integration: it's expected to run all Hibernate Reactive code within a reactive context - which at this time means within the same Vert.x eventloop as the vert.x SQL client which it's using underneath.

Failing to run it on the right thread will produce such obscure errors; we certainly need to fix this.

N.B. if you run you reproduce

[2021-02-01 20:41] wllianwd commented on #9677
Is there some update on that issue? I just tested with Quarkus 1.11.0 and pact 4.1.15, the issue is the same.

[2021-02-01 21:24] Postremus opened #14751 "Liquibase includeall only works in dev mode"
**Describe the bug**
I want to use includeAll in my changelog to include all other changelog files in a specific directory. This works in dev mode just fine.
When I run this project as jar however, the changelog in the directory is not executed / found.
[code]

Replacing the includeAll with a simple include works in dev mode and when run as jar.
[code]

**Expected behavior**
As seen from this dev

[2021-02-01 21:47] hernael commented on #14709
Now, after calling a simple request to panache reactive, all subsequent concurrent request to database work fine!
I do not know how initialization connections works in panache reactive, but from the behavior and the error "Session/EntityManager is closed" all this looks like initialization connections trouble in hibernete reactive.
Isn't it?

but anyway, thanks for helping me and giving me a solut

[2021-02-01 21:52] Sanne commented on #14709
Isn't it?

The code is fine but a single Session is not designed to be threadsafe; a consequence of running this on the wrong thread is that both your original thread and the Vert.x thread make state changes, leading likely to illegal state (and complex to diagnose issues).

So we need to ensure all operations are being scheduled on the right thread.

[2021-02-01 22:32] patriot1burke commented on #13655
@drissamri My current thinking is that I generate 4 .yaml files

* sam.jvm.http-api.yaml
* sam.native.http-api.yaml
* sam.jvm.rest-api.yaml
* sam.native.rest-api.yaml

The http-api.yaml files would be configured to use the 1.0 json protocol with a application.properites configuration option to switch to 2.0 if you were using http-api and cared about which protocol to use.

[2021-02-01 22:36] patriot1burke commented on #13655
BTW, with the current release 1.11.0.FInal, you should be able to use HttpApi if you switch to using the 1.0 protocol

     Type: AWS::Serverless::Function
      Properties:
        Handler: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest
        Runtime: java11
        CodeUri: function.zip
        MemorySize: 512
        Policies: AWSLambdaBasicExecutionRole
        Timeout:

[2021-02-02 02:10] radcortez commented on #14707
The issue is actually related with the Dev Console. Since the Config Dev Console is done at build time, the Vault ConfigSource is not available at that point, and the expansion fails.

I've added a fix in https://github.com/quarkusio/quarkus/pull/14309 to move the Dev Console Config to Runtime. This approach is also more correct, since it displays all values in the runtime configs and not only bui

[2021-02-02 02:14] radcortez commented on #14743
No. The `VaultConfigSource` is set with a lower ordinal (150) vs the `application.properties` file (250).

@vsevel what that on purpose?

[2021-02-02 03:20] hernael commented on #14707
thank you for the alternative solution Roberto!

[2021-02-02 05:38] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/529794576

[2021-02-02 06:50] masini commented on #14220
In my opinion the MqttSink wait passively for a reconnection (MqttSink.java:54)

[code]
but the Vertx's MqttClientImpl is unable to reconnect. the cause is the yet cited bug #66, but I would like to understand from the SmallRye team if I can do something to workaround this behaviour until is fixed from Vert.x teams.

[2021-02-02 06:55] cescoffier commented on #14366
For the record: https://issues.apache.org/jira/browse/KAFKA-10134.

[2021-02-02 07:00] gunnarmorling commented on #14366
Wow, ok. That's quite something. Happy it got fixed.

[2021-02-02 07:22] masini commented on #14220
I would like to add that from the discussion in:

https://github.com/vert-x3/vertx-mqtt/issues/66

is clear that NetClient only reconnect if a TCP error occurs.

If for some reason the MQTT broker fail and restart, nothing is done and the MQTTClient is unable to understand the difference.

Also the SmallRye documentation is not good at explaining that "reconnect-attempts" --> "Set the max reconnec

[2021-02-02 08:05] mpcbass commented on #14220
Thanks for the analysis

Please tell me if I can help in some way.
I'm more than happy to do.

I honestly tried but I don't know the project that well to be sure I'm tweaking the right part.

[2021-02-02 08:11] geoand commented on #6588
@sberyozkin one of the Keycloack quickstarts is failing:

[code]

Can you take a look please?

[2021-02-02 08:17] eAybars opened #14754 "Allow further configuration of Elasticsearch RestClient through custom HttpClientConfigCallback"
**Description**
Please consider providing more control over the configuration of the Elasticsearch RestClient with a user pluggable HttpClientConfigCallback implementation in the elasticsearch-rest-client extension.

**Why**
Form my case, I need to set a SSLContext (as described [here](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/_encrypted_communication.html)) to enable

[2021-02-02 08:29] lordofthejars opened #14755 "Adding mutiny-test-utils in Quarkus bom"
**Description**

When using Mutiny in Quarkus, you might want to write tests for the code you developed using it. Mutiny project has a really nice JAR file to simplify writing tests:

[code]

The problem is that since this artifact is not in Quarkus bom, then you need to specify the mutiny version, and this can end up with inconsistencies between mutiny in testing and mutiny in code.

[2021-02-02 08:41] yrodiere commented on #14754
Sounds like an important feature indeed. Would be useful in Hibernate Search too (though in the case of Hibernate Search, configuration APIs are missing).

Regarding the implementation, I'm a bit concerned about the future if we simply use the first bean we find in the CDI context that implements `HttpClientConfigCallback`. When we'll introduce support for multiple clients (#10905), it will be har

[2021-02-02 09:05] aramashkan opened #14756 "Generated gradle project with Kogito extension can't be build"
**Describe the bug**
Simple gradle project with kogito extension generated from code.quarkus.io can't be build

**Expected behavior**
Like maven project it should be buildable

**Actual behavior**
[code]

**To Reproduce**

[code]
Or just create gradle kotlin project from code.quarkus.io with kogito extension

**Environment**
[code]

[2021-02-02 09:05] eAybars commented on #14754
Hi Yoann, thanks for the quick response. I was not aware of the multiple client support issue so thank you for pointing that out as well, however your proposal seams to address it perfectly if you ask me.

Additionally maybe you may do something like `@ElasticsearchClientConfig  Instance<HttpClientConfigCallback> configCallbacks` (or with `@ElasticsearchClientConfig("clientName")` ) and invoke all

[2021-02-02 09:30] gsmet commented on #14707
I'm a bit worried about this. Won't we slow down dev mode significantly if we start doing all sorts of things with the Dev UI before it's even accessed?

/cc @stuartwdouglas

[2021-02-02 09:35] ge0ffrey opened #14757 "Add default quarkus profile called "native""
Certain application.properties need to differ between non-native and native runs.
For example:
- in non-native mode it's ok to overwrite and configure optaplanner-accessor-type=REFLECTION, but in native mode, that will crash
- in a demo application, it's ok to use an in memory H2 database (so the user doesn't have to start a database server), but in native mode in memory H2 doesn't work (so the us

[2021-02-02 09:35] ge0ffrey commented on #13341
As this can't be solved easily, I've created https://github.com/quarkusio/quarkus/issues/14757

[2021-02-02 09:41] thomas-mc-work opened #14758 "Issues with modelgen in native image"
**Describe the bug**

I'm using the `hibernate-modelgen` feature [as described here](https://quarkus.io/guides/hibernate-orm-panache#defining-entities-in-external-projects-or-jars). This works fine as long the project is executed by `mvn quarkus:dev`. When it's compiled into a native runner then I get an exception in the code line containing a reference to the generated model.

**Expected behavior

[2021-02-02 09:59] #14720 closed

[2021-02-02 10:17] radcortez commented on #14707
In this case, I think we are fine. The configuration has to be loaded anyway for the application. Potentially, we may have a slowdown if a `ConfigSource` does not cache the results and we are doing double lookups (for the console and for the actual application config).

Lets not forget, that currently the values we see in the console may not be correct, since they only take account the build sourc

[2021-02-02 10:58] vsevel commented on #14743
No. I don't remember where I got this value. Some quarkus code or an example domewhere.

[2021-02-02 11:26] sberyozkin commented on #14733
@albert0815 OK, let me handle it, @pedroigor Hi Pedro can you please also consider opening a Keycloak RFE to support the proxy authentication (username, password properties)

[2021-02-02 11:29] sberyozkin commented on #14472
Hi @pedroigor Sorry, have missed it. Yes, it should help,
@albert0815 can you please try https://quarkus.io/guides/security-openid-connect-client ?

[2021-02-02 11:49] pedroigor commented on #14733
@sberyozkin Thanks for looking at this one. Regarding the RFE, I'm not sure if it makes sense to open one? We had a similar issue [1] like this one a long time ago, but never for authentication.

[1] https://issues.redhat.com/browse/KEYCLOAK-2054

[2021-02-02 11:57] pokusak opened #14759 "OIDC client access token expiration reading problem"
OIDC client reads expiration from server response from part expires_at (see: io.quarkus.oidc.client.runtime.OidcClientImpl#EXPIRES_AT) but according to https://tools.ietf.org/html/rfc6749#section-4.2.2 it should be "expires_in"

[2021-02-02 12:04] AmsterdamFilho commented on #14677
@phillip-kruger The problem is that I have this configuration:

`{
  "openapi": "3.0.3",
  "info": {
    "title": "test",
    "description": "test",
    "version": "1.0.0-SNAPSHOT"
  },
  "security": [
    {
      "openid": []
    }
  ],
  "paths": {
  },
  "components": {
    "securitySchemes": {
      "openid": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://some-url.com/

[2021-02-02 12:11] sberyozkin commented on #14759
@pokusak thanks, that was not caught since Keycloak does not return this property - it is extracted from JWT in this case...

[2021-02-02 12:14] phillip-kruger commented on #14677
Can you look in your browser's web console if there is any errors when doing the available authorizations ?
Also have a look at the swagger-ui configuration options, maybe you need something there ?

[2021-02-02 12:24] jmartisk commented on #14650
Hmm, I tried copying your values and feeding them into a histogram, but the quantiles came out much more sensible. The fact that your 0.1/0.5/0.75/0.99 quantiles ended up at the same numbers - that looks weird, but sometimes happens - perhaps the default decay factor is quite high and so only a handful of values actually have a significant influence on the resulting quantiles.

The problem with su

[2021-02-02 12:45] mgwillem opened #14762 "JPA orm.xml file handling to support multiple database vendors"
**Description**
I need to implement a solution that supports multiple database vendors like Oracle, MS SQLServer, DB2, etc.

Moreover I need to re-use existing "legacy" JARs containing JPA entities with annotations and orm.xml files.
Such "legacy" JARs are used by existing Java EE 8 applications.

Existing database schemas use sequences for Oracle PK and identities for SQLServer PK.
To handle such

[2021-02-02 12:48] vsevel commented on #14743
I think I got it from the [zookeeper config source](https://github.com/smallrye/smallrye-config/blob/master/sources/zookeeper/src/main/java/io/smallrye/config/source/zookeeper/ZooKeeperConfigSource.java#L37)
I see that the consul config source has ordinal `270` with comment: _this is higher than the file system or jar ordinals, but lower than env vars_

for the kubernetes config we have:
[code]
@g

[2021-02-02 12:53] vsevel commented on #14707
and the issue certainly applies to all config sources that are fetching properties at runtime, which is then very limiting.

[2021-02-02 12:54] gastaldi commented on #14762
@mgwillem can you provide a sample `orm.xml` that you use in your application?

[2021-02-02 12:57] mgwillem commented on #14762
Here is an example of such orm.xml file for the SQLServer support

`<?xml version="1.0" encoding="UTF-8"?>

<entity-mappings
        xmlns="http://java.sun.com/xml/ns/persistence/orm"
        version="2.0">

    <description>Override Annotations...</description>

    <persistence-unit-metadata>
        <persistence-unit-defaults>
            <schema>dbo</schema>
        </persistence-unit-defaults

[2021-02-02 13:00] geoand commented on #14743
Both are just fine.

The Kubernetes uses both of them in order to ensure that secrets override properties, but for vault I assume you don't have 2 different kinds of sources

[2021-02-02 13:09] radcortez commented on #14743
By the way, per the spec, a `ConfigSource` may set the property `config_ordinal` to override its own ordinal, but I believe we don't have that implemented.

We may want to add that capability to the `VaultConfigSource` and also review all the other sources.

[2021-02-02 13:57] iocanel commented on #14749
The error, seems like there are environment variables / system properties configuring client certificates, that are not present.
It might be a good idea to when setting up the tests, to cleanup the environment to avoid such issues.

In the client itself we do it on:
1. surefire level: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/pom.xml#L263
2. junit level too: http

[2021-02-02 14:02] Sanne commented on #14762
I agree we should do this, but let me clarify some restrictions:

- The `orm.xml` resource will be ignored at runtime: I would prefer we pre-parse it during the Quarkus augmentation
- We can allow adding/updating it during "dev mode"
- It should still be possible to build a Quarkus application which does not need to initialize the XML parser libraries at runtime (even if the app is using`orm.xml`

[2021-02-02 14:16] Sanne commented on #14749
thanks for the pointer @iocanel !

But I don't have any such environment variable on the terminal I'm using to build this.

I see they are being set by `KubernetesMockServerTestResource` so this seems intentional by who designed this, but I'm not familiar with neither module.
 - https://github.com/quarkusio/quarkus/blob/f188601df7010f76d588dbf33547ccc5bb508c20/test-framework/kubernetes-client/src/

[2021-02-02 14:25] bardsoleim commented on #14743
After changing the value from 150 to 300 it works as expected.

[2021-02-02 14:44] kny78 commented on #14743
When @bardsoleim tested with ordinal=285, he modified the Quarkus source.

Is it possible to override this runtime or with @QuarkusMain ?

[2021-02-02 14:48] JanHuege opened #14769 "Application.properties quarkus.resteasy.path not working"
**Describe the bug**
quarkus.resteasy.path is not working but found in several docs. For example:
https://quarkus.io/guides/getting-started-testing#testing-a-specific-endpoint

**Expected behavior**
quarkus.resteasy.path prefixes all Paths for javax.ws.rs

**Actual behavior**
Is ignored.

**To Reproduce**

Steps to reproduce the behavior:
1. create simple quarkus app with resteasy-reactive
2. Crea

[2021-02-02 15:26] iocanel commented on #14749
An other way this can be tirggered is when `.kube/confg` points to a minikube cluster that has been deleted.

In a scenario like this the current cluster will have an entry like:

[code]

But the actual `/home/<username>/.minikube/ca.crt` will not be present.

So, I think that we will have to find how the kubernetes-client is getting dragged in and cause such issues.

Quick workarounds till then:

[2021-02-02 15:36] agoncal opened #14771 "Exposing the schema-generation.scripts properties in the application.properties"
**Description**

This follows a discussion on Zulip[1].

To generate the DDL for JPA and/or Panache entities, I can use the `schema-generation.scripts` properties in the `persistence.xml` file as follow:

[code]

This works well, but I am trying to avoid using the `persistence.xml` and only use the `application.properties` instead. I couldn't find these properties in the Quarkus documentation, so

[2021-02-02 15:40] #14345 closed

[2021-02-02 15:41] radcortez commented on #14743
Not with a simple configuration as far as I'm aware.

Right now, the possible options I see is to create a new provider / instance that is able to override the ordinal, but since it requires some internal Quarkus config it may not be so easy. Another option may be to cast the `Config` object to `SmallRyeConfig` and call `io.smallrye.config.SmallRyeConfig#addConfigSource`with a new source built fro

[2021-02-02 15:41] vsevel commented on #14743
@radcortez you mean we should honor a property `quarkus.vault.config_ordinal`?

[2021-02-02 16:06] radcortez commented on #14743
No, just `config_ordinal`. This property should not be exposed, but something internal to the `ConfigSource` itself. In the case of `VaultConfigSource`, this property must be retrieved from Vault and used to configure the ordinal.

Please check:
- https://github.com/eclipse/microprofile-config/blob/562ece3bed9396513351599c943b8ab90075fb00/api/src/main/java/org/eclipse/microprofile/config/spi/Confi

[2021-02-02 16:07] Sanne commented on #14749
So that was exactly my problem. Sorry for the noise! I'll close this.

Many thanks @iocanel and @ebullient

[2021-02-02 16:07] #14749 closed

[2021-02-02 16:12] mgwillem commented on #14762
Yes the `orm.xml` resource could be ignored at runtime. In my use-case I will generate one JAR per database vendor.
It seems we have a deal :)

[2021-02-02 16:38] broxgit commented on #3322
This would be largely beneficial for the expansion and adoption of Quarkus. We are incredibly interested in using Quarkus because it's a great framework and the extensions really open up possibilities for my team. However, our CI/CD architecture relies on Gradle (and many can argue that Gradle is superior) so being able to develop extensions with Gradle would be great!

[2021-02-02 16:41] tsegismont commented on #14608
@rsvoboda Vert.x 4.1 will come a new pool implementation. The refactoring PR is being reviewed. eclipse-vertx/vertx-sql-client#41 is planned for 4.1 but on hold until the refactoring PR is merged.

In the meantime, I will update #14737 to add the retry example and details about the TCP-level idle-timeout property.

@gavinking I will check with the team how we can prioritize an implementation of po

[2021-02-02 16:41] gavinking commented on #14608
Excellent, thanks.

[2021-02-02 16:42] Sanne commented on #14771
something different than the existing `quarkus.hibernate-orm.database.generation` ?

- https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.database.generation

[2021-02-02 16:48] jponge commented on #14755
Sounds like we could provide a BOM on the Mutiny side (discussed offline with @cescoffier)

[2021-02-02 16:49] cescoffier commented on #14755
Yes, we started having a bunch of modules in Mutiny (mutiny itself, kotlin, reactive streams ops...). Having a bom start to make some sense.

[2021-02-02 17:11] pjgg commented on #14608
@tsegismont I have added a proposal pool Idle implementation that passes the test:

https://github.com/eclipse-vertx/vertx-sql-client/pull/881

[2021-02-02 17:38] vsevel commented on #14743
@radcortez it looks a bit strange to put this information into the vault, because that is something that's going to be quarkus specific. whereas vault is a central point for many workloads and tools. we would have to figure out a path in the kv secret engine such as `secret/quarkus`, but then this would apply to all quarkus apps in the enterprise, which is not going to work out in most organizatio

[2021-02-02 17:57] radcortez commented on #14743
Don't you already take into account the app config in the `quarkus.vault.secret-config-kv-path` config? So, couldn't the user add a `config_ordinal` in the path and then use it to set the ordinal?

[2021-02-02 18:08] sberyozkin commented on #14733
@pedroigor Sure, sounds good :-), it is just that Vertx ProxyOptions have these properties... Yeah, we can review in the future if needed

[2021-02-02 18:14] vsevel commented on #14743
yes we could. note that `quarkus.vault.secret-config-kv-path` is actually multiple paths, such as:
[code]
somebody would have to decide what to do if `config_ordinal` was found if both of these paths. we could choose the first one. but then the behavior of the app would change if we were to reorder those paths, which could be unexpected.
since there is only one vault config source, it would seem m

[2021-02-02 18:37] drissamri commented on #13655
I think it's nice that there is an example deployment file, but in my eyes it's not more than just that. Something to get a quick start up and running but no more. If you are an AWS user you'll have your own templates to reuse or have company specifics in there. I think could even just have one sam.yaml file and add a Parameter to switch between jvm/native, but not sure if that would be much easie

[2021-02-02 18:44] radcortez commented on #14743
We can opt out of it if we don't find a suitable way to do it. I guess the spec did not foreseen this cases, so this is somehow uncharted territory. We can certainly bend the rules a little bit and point to a different property, other than `config_ordinal` due to the limitations of the implemented source.

[2021-02-02 18:53] vsevel commented on #14743
so would you be fine with a property such as `quarkus.vault.config_ordinal=300`?

[2021-02-02 18:58] radcortez commented on #14743
Yes. We can even add some of the reasoning why we picked that approach. Thanks!

[2021-02-02 19:33] obreckoff commented on #14725
I built a small proof of concept located at https://github.com/obreckoff/quarkus-with-resteasy-and-wadl-generation/.

I started from the getting-started-quickstart, added the jaxb- and undertow-extensions and imported the classes from https://github.com/resteasy/Resteasy/tree/master/resteasy-wadl

In these classes I adjusted the logging mechanism to the quarkus conventions because at runtime no im

[2021-02-02 19:41] Dufgui commented on #3322
sorry I have no more time to work on quarkus. But you can try a contribution.
It's simple:
just like https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/maven/CreateExtensionMojo.java

create a task here:
https://github.com/quarkusio/quarkus/tree/master/devtools/gradle/src/main/java/io/quarkus/gradle/tasks

[2021-02-02 20:06] agoncal commented on #14771
The `quarkus.hibernate-orm.database.generation` is _equivalent_ to the standard JPA `javax.persistence.schema-generation.database.action` property. It has an impact on the schema generated in the database (`none, create, drop-and-create, drop`).

The `javax.persistence.schema-generation.scripts.action` property (came later, I think in JPA 2.1) is about the schema definition. This property generate

[2021-02-02 20:24] drissamri commented on #6376
@patriot1burke since you've been working on the 2.0 payload, maybe you know how it's possible to access the requestContext or other parts of the original API Gateway request? ? (stageVariables, requestContext, routeKey, ...)
[code]
Is it the same way in JAXRS and Vert.x (which I am trying out right now)

[2021-02-02 20:28] maxandersen opened #14779 "Quarkus "2.0" - vert.x 4"
### Description
upgrade to vert.x 4 (#14685) are going to have an impact on a lot of extensions, but somewhat minimal on user code.

Thus we started referring to that work as Quarkus 2 and want to capture the impact and what changes it requires.

Note: this is very much work in progress - working to minimize impact.

Embedded Integration issues:
  - [x] JSON
    - [x] The new JSON support is requi

[2021-02-02 20:31] famod commented on #14751
Hm, I tried a few Quarkus versions (down to 1.9.2) and I even tried switching off `relativeToChangelogFile` but nothing helped.
But then I went back as far as 1.7.5.Final and with that version it still works! So it broke in 1.8.0.CR1, most likely due to #11147 (the update to Liquibase 4.0.0), but I haven't bisected it.

There are quite a few open issues in Liquibase for `includeAll()`, e.g. https:

[2021-02-02 20:33] famod commented on #14751
PS @geoand: Strange that the test you introduced back in june still works: #9881

[2021-02-02 20:35] geoand commented on #14751
Very weird indeed...

[2021-02-02 21:17] famod commented on #14751
I've added my findings to https://github.com/liquibase/liquibase/issues/1436#issuecomment-771992866.
Unless @stuartwdouglas comes up with some classloading black magic to work around the problem, I guess we have to wait until someone fixes it upstream.

[2021-02-02 21:21] patriot1burke commented on #6376
If you are using master, then just use the JAX-RS @Context inject with what you want, i.e.

com.amazonaws.services.lambda.runtime.Context;
APIGatewayV2HTTPEvent
APIGatewayV2HTTPEvent.RequestContext

If you are using the currently released amazon-lambda-http extension, you can still inject aws Context, but the gateway requests are a custom quarkus class.

io.quarkus.amazon.lambda.http.model.AwsProx

[2021-02-02 21:39] Sanne commented on #14771
Right, so you want it to also expose configuration options to generate the
create.sql and drop.sql ?

Wondering, should we maybe generate these always by default when running in
dev mode?

On Tue, 2 Feb 2021, 20:06 Antonio Goncalves, <notifications@github.com>
wrote:

[2021-02-02 21:50] stuartwdouglas commented on #14751
Nope, that is a production app that is using the JDK ClassLoader, nothing Quarkus related.

[2021-02-03 00:42] AmsterdamFilho commented on #14677
Yes, I can see some errors...

<img width="1456" alt="Screen Shot 2021-02-02 at 21 37 26" src="https://user-images.githubusercontent.com/12434206/106681412-2cc14080-659f-11eb-9262-d2623e668d98.png">

[2021-02-03 05:07] stuartwdouglas commented on #9287
https://github.com/quarkusio/quarkus/blob/d3325b53252fa33e8ca7c1103a95fc9149d37f62/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L928

This is set as a system property, so should be be able to read it from the property, either directly or using MP Config.

[2021-02-03 05:17] phillip-kruger commented on #14677
@AmsterdamFilho - can you please create a small reproducer that I can look at ?

[2021-02-03 05:27] jglink commented on #14751
@famod The 'includeAll' worked for me with Quarkus 1.10.x which I think used Liquibase 4.1.1
After the upgrade to Quarkus 1.11.x and therefore Liquibase 4.2.2 it fails again.

[2021-02-03 06:31] #14607 closed

[2021-02-03 07:45] ppalaga commented on #9287
Is it possible to get the `launchMode` from application code?

I think the most of the folks here are asking for a simple direct way to obtain the effective port from an application code (and perhaps also from a test). A single property (new or exiting one) that works over all modes would be nice. Or a read-only injectable `HttpServerOptions` mentioned by @geoand. Or we should stop relying on `qua

[2021-02-03 08:15] geoand commented on #14769
I just tried it and it works as expected.

[2021-02-03 08:15] geoand commented on #14756
cc @evacchi

[2021-02-03 08:31] agoncal commented on #14771
As you know, there are several strategies when mapping objects to a DB. Existing DB, starting from scratch, entities first, DB first.... So I'm not sure generating the DDL out of the entities should be the default in dev mode. Would that mean that these values would be the default ?

[code]

Because in JPA, the default is `none`:

[code]

So, TBH, I prefer the good old JPA way (no DB schema genera

[2021-02-03 08:58] pmlopes commented on #14779
@maxandersen I've a few remarks to this issue:

1. JSON `byte[]` support isn't gone. In fact, it has been enhanced. In vert.x 3.x the JSON object would not store `byte[]` internally because `byte[]` isn't a valid JSON type. Instead, `byte[]` data would be converted to a `String` base64 representation. This has a few drawbacks such as too much encode/decode cycles and unneeded gc. In vert.x 4 JSON

[2021-02-03 09:01] zakkak commented on #14545
@ivangfr are they always getting stuck?

[2021-02-03 09:06] JanHuege commented on #14769
Using resteasy-reactive? Does not work for me. Also not listed on /q/dev application.properties view and IntelliJ IDEA also states `Unknown property 'quarkus.resteasy.path'`

[2021-02-03 09:08] geoand commented on #14769
No, with RESTEasy Classic. For RESTEasy Reactive you can use `quarkus.http.root-path`.

[2021-02-03 09:42] #14401 closed

[2021-02-03 09:53] #14769 closed

[2021-02-03 10:01] ivangfr commented on #14545
I've tagged 2 docker images: one built on `Jan 27 2021` and another on `Jan 30 2021`. I've called them
[code]

Running 5 days ago the command you shared, it got stuck on both 2 images.

However, running today I get
[code]

But, when I try the `docker run` command  that Quakus uses, it gets stuck.
[code]

[2021-02-03 10:06] vietj commented on #14779
A few extra remarks:

1. Using Netty event-loop does not propagate TCCL, but that is very expected. In fact Netty event-loop implementation is final and cannot be overriden to provide add such behavior. This is working with Vert.x 3 because Vert.x 3 will not unset previous TCCL when executing a task and this has been corrected in Vert.x 4 . If Quarkus code is using Netty event-loop directly it act

[2021-02-03 10:24] rmanibus opened #14788 "Quarkus Maven Plugin : can't use properties generated by maven build-helper"
**Describe the bug**

quarkus configuration property containing values generated by maven build-helper regex-property make the quarkus maven plugin fail.
I'm able to display the content of those configuration properties with antrun plugin.

[code]
**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
[code]

**To Reproduce**
here is a reproducer
https:/

[2021-02-03 10:33] ntnhan94 commented on #13533
I have the same issue. Can not find out a workaround...

[2021-02-03 10:34] ch3rub1 opened #14789 "[Mongo Panache Extension] Dynamically select database"
**Description**
A few month ago, I've submitted an issue regarding the implemention of multitenancy within quarkus mongo panache extension (see https://github.com/quarkusio/quarkus/issues/5183).
It seems that quarkus mongo panache extension now support some kinds of multitenancy implementations like [multiple mongo client](https://quarkus.io/guides/mongodb#multiple-mongodb-clients) or database sel

[2021-02-03 10:52] gsmet commented on #13533
@cescoffier have you tested Kafka Streams with Avro?

[2021-02-03 10:55] #14755 closed

[2021-02-03 11:03] ngtampl94 commented on #13533
Workaround: Let try to add a REST Resource using quarkus-resteasy (jax-rs). The resource look like this:

        package com.testing.controller;

        import javax.ws.rs.GET;
        import javax.ws.rs.Path;
        import javax.ws.rs.Produces;
        import javax.ws.rs.core.MediaType;

        @Path("/hello")
        public class GreetingResource {

            @GET
            @Produces(Med

[2021-02-03 11:07] sberyozkin commented on #14779
Hi Paulo, my current plan is to try and complete the migration to Vert.x Mutiny Web Client, please see #14492. I've already completed the first phase (no actual migration but only encapsulating all the Vert.x OAuth2 code in a single class). Note I may still end up pleading for help with the migration to the new Vert.x 4.0 OAuth2 code if I fail with this migration :-), but for now I hope it will gi

[2021-02-03 11:09] gunnarmorling commented on #13533
Instead of using `SpecificAvroSerde`, could you please try the Apicurio serializer as described [here](https://quarkus.io/blog/kafka-avro/). This should be supported in native mode, too.

[2021-02-03 11:17] ntnhan94 commented on #13533
Hi @gunnarmorling

Because of some reasons, we have to use io.confluent . Will Confluent Avro Serializer be officially supported in native mode in the near future?
I think the workaround mentioned by @ngtampl94 is a clue to have some quick fixes..

[2021-02-03 11:42] evacchi commented on #12486
@gsmet I think that the fix on 11.1 was not enough :/

[2021-02-03 11:43] aloubyansky commented on #14788
It is in fact present among the build properties but when we are creating a ConfigSource out of those we are filtering out everything that doesn't start with the `quarkus.` prefix.
I am wondering whether we should allow users to control about what extra props should be made available in the config.
Just in case, @radcortez

[2021-02-03 11:48] radcortez commented on #14788
@rmanibus can you add a complete stacktrace please?

[2021-02-03 11:53] radtriste opened #14791 "[CI] - Kogito extension + Quarkus LTS"
This issue will be open and closed dependent on the state of https://github.com/kiegroup/kogito-runtimes building against Quarkus LTS branch.

If you have interest in being notified of this subscribe to the issue.

[2021-02-03 11:56] aloubyansky commented on #14788
[code]

[2021-02-03 12:08] rmanibus commented on #14788
@aloubyansky but why does it work with ${git.branch} then ?

[2021-02-03 12:14] radcortez commented on #14788
The issue is that we try to expand the variable, but since it was not included in the source the expansion fails. What we can do is to also include any properties required for expansion.

[2021-02-03 12:15] cescoffier commented on #13533
@gsmet no I didn't tested with Kafka streams, but we tested with the underlying client, so should not be an issue.

We have worked with the apicurio team to work in native. You can use this serde with the confluent schéma registry.

The confluent serde in native mode is more tricky.

[2021-02-03 12:21] aloubyansky commented on #14788
That makes sense @radcortez

@rmanibus because the git-commit-id-plugin also sets those properties as system properties by default. If you change your config to
[code]
it will fail in the same way as the git.safebranch.