[2021-03-16 20:36] #197 closed

[2021-03-16 20:36] stuartwdouglas commented on #980
Do we actually need this? It is very easy to do just looking at usages in the index, so IMHO this is not really worth perusing.

[2021-03-16 20:38] stuartwdouglas commented on #1016
Should this still be open?

[2021-03-16 20:41] stuartwdouglas commented on #1349
We can now do this in the config editor in Dev UI, so IMHO this can be closed.

[2021-03-16 20:45] stuartwdouglas commented on #1762
Is this still an issue? There have been a lot of fixes in Graal since this was opened.

[2021-03-16 20:49] stuartwdouglas commented on #2019
Closing, as this is really a Vert.x issue.

[2021-03-16 20:49] #2019 closed

[2021-03-16 20:52] Ladicek commented on #14394
Also, let's make one thing clear: this is not a regression. This has never worked :-)

[2021-03-16 20:53] stuartwdouglas commented on #2143
This has been implemented

[2021-03-16 20:53] #2143 closed

[2021-03-16 21:02] stuartwdouglas commented on #2448
@gsmet can this be closed?

[2021-03-16 21:03] stuartwdouglas commented on #2081
https://github.com/quarkusio/quarkus/commit/12f63afa48705fbd855f8a5ca4101d8cf13f5de7 this is now supported

[2021-03-16 21:03] #2081 closed

[2021-03-16 21:12] stuartwdouglas commented on #1288
Is this still an approach we want to take? It seems like JBang would be a better fit for this use case.

[2021-03-16 21:24] stuartwdouglas commented on #3140
Closing this, as access logging is now handled at the vert.x level.

[2021-03-16 21:24] #3140 closed

[2021-03-16 21:27] stuartwdouglas commented on #2152
Is there anything more we can realistically do here? We document/set the relevant system property every where we can, if a user uses a Java agent and does not set the property then IMHO this is user error, as AFAIK there is nothing we can do in that situation.

[2021-03-16 21:28] stuartwdouglas commented on #2223
Is this still an issue? It looks like it was solved in https://github.com/quarkusio/quarkus/pull/13376

[2021-03-16 21:58] taf-team-aki opened #15789 "quarkus-hibernate-reactive-panache: Won't work with Flyway"
## Describe the bug
A project using quarkus-hibernate-reactive-panache and quarkus-flyway won't start.

### Expected behavior
- Database should be created
- Endpoint should deliver results

### Actual behavior
- Service does not start with ".ConfigurationException: Model classes are defined for the default persistence unit but no default datasource found: the default EntityManagerFactory will not

[2021-03-16 22:13] geoand commented on #15789
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/10716

[2021-03-16 22:13] #15789 closed

[2021-03-16 22:27] geoand commented on #15164
Also, I wanted to clarify that we *can't* fix the issue in Quarkus itself.
The problem stems from the fact that Vert.x hangs on to original TCCL of the thread and resets it's quite often.
This leads the us having to implement ugly hacks like https://github.com/quarkusio/quarkus/pull/15779

[2021-03-16 22:49] #15642 closed

[2021-03-16 22:49] #15714 closed

[2021-03-16 23:12] stuartwdouglas commented on #11856
This is a Kotlin issue, not a Quarkus one: https://youtrack.jetbrains.com/issue/KT-12794

We can't change the annotation target to SOURCE, because then we can't read it. The workaround is from that ticket, use the @io.quarkus.test.common.QuarkusTestResource.List annotation explicitly.

[2021-03-16 23:12] #11856 closed

[2021-03-16 23:15] stuartwdouglas commented on #9634
This is fixed upstream, it should work in 1.13

[2021-03-16 23:15] #9634 closed

[2021-03-16 23:31] stuartwdouglas commented on #15732
Why is this actually contenting though? It seems inherently racey to have one thread calling onComplete at the same another thread is calling resume?

[2021-03-16 23:51] maxandersen commented on #352
didnt we end up being able to support multiple dialects with mulitple datasources? so we can mark this as done or?

[2021-03-17 02:18] stuartwdouglas commented on #13794
Websockets no longer need Undertow

[2021-03-17 02:18] #13794 closed

[2021-03-17 04:27] stuartwdouglas commented on #15025
I think https://github.com/agroal/agroal/commit/1929c9791d5b8686717054fa7d4807c442b90227 is the relevant commit, it will depend on when @barreiro does a release of Agroal.

[2021-03-17 05:18] stuartwdouglas commented on #14695
Looks like a Netty issue, I have a potential fix here:  https://github.com/netty/netty/pull/11093

[2021-03-17 05:24] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/659956700

[2021-03-17 05:24] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/659955574

[2021-03-17 05:26] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/659956700

[2021-03-17 05:59] stuartwdouglas commented on #14705
I have opened https://github.com/quarkusio/quarkus/pull/15797 to improve the error message, but I think the root cause is something in the Keycloak TX filter.

[2021-03-17 06:10] stuartwdouglas commented on #8805
Quarkus websockets are now based on top of pure Netty.

[2021-03-17 06:10] #8805 closed

[2021-03-17 06:40] cescoffier commented on #3217
@Ladicek that could be an interesting one, if you are interested.

The idea is to check for "reload" when we receive a message. There are multiple ways to do it.

1. Protocol specific

Basically, for Kafka, we can reproduce what we do for Kafka Streams. We introduce an interceptor and trigger the hot reload. To avoid too many verifications, we introduce a grace period.

2. Protocol agnostic

This

[2021-03-17 06:41] cescoffier commented on #15493
@ebullient what should we do about this one? Your answer looks good to me.

[2021-03-17 06:42] cescoffier commented on #12120
This issue is rather outdated. It has been fixed in SmallRye Reactive Messaging.

[2021-03-17 06:42] #12120 closed

[2021-03-17 07:01] bcluap commented on #15732
I'll catch a thread dump during the contention and see exactly what the
scenario is.

On Wed, 17 Mar 2021, 01:31 Stuart Douglas, ***@***.***> wrote:

[2021-03-17 07:23] mkouba commented on #980
Probably not. Let's reopen if needed.

[2021-03-17 07:23] #980 closed

[2021-03-17 08:22] geoand commented on #12486
@evacchi @gsmet it seems like https://github.com/kiegroup/kogito-runtimes/blob/master/.github/quarkus-ecosystem-test is not executable or something...

[2021-03-17 08:34] csotiriou commented on #8543
@guilhermeogliari @FroMage This is still not fixed.

What we have resorted to doing is to putting a REST client filter that catches all errors and rethrows a runtime exception of our making. @dusik66 's method also works fine.

[2021-03-17 08:34] fxrobin commented on #15642
Thanx, that was a fast fix!

[2021-03-17 08:47] Ladicek commented on #3217
I guess we want this for all protocols, not just Kafka (but if Kafka is easier, perhaps we can just start there). And, as mentioned above, not just when receiving a message, but perhaps also when emitting a message. Interesting one indeed :-) I'll finish some unfinished tasks and take a look at this. Nice opportunity to get deeper into Quarkus internals (hope I won't regret it :-) ).

[2021-03-17 08:49] evacchi commented on #12486
https://github.com/kiegroup/kogito-runtimes/pull/1152

[2021-03-17 08:58] loicmathieu commented on #15782
/cc @stuartwdouglas there seems to be a classloader issue on dev mode with how Postgres load socket factories

[2021-03-17 09:02] #15755 closed

[2021-03-17 09:03] #15204 closed

[2021-03-17 09:04] #14705 closed

[2021-03-17 09:22] pazkooda commented on #15272
@gsmet, @kenfinnigan: Consider closing this one - as of reporter suggestion 😃

[2021-03-17 09:32] ambition-consulting opened #15799 "Quarkus/Jaeger OpenTracing SenderFactory not customisable"
Following the default does not work: When I add
`META-INF/services/io.jaegertracing.spi.SenderFactory`
with the SenderFactory canonical name include to my quarkus application, this will not be picked up by the SenderResolver from jaeger-core:
`ServiceLoader<SenderFactory> senderFactoryServiceLoader = ServiceLoader.load(SenderFactory.class,
        SenderFactory.class.getClassLoader());`
Instead, s

[2021-03-17 09:32] markusdlugi commented on #15164
@geoand Wow, that's funny. You actually just fixed this issue with #15779 :smile:

I had a look at your changes in that PR and got suspicious because here the behavior was similar, because it only failed if some static resource was present in `META-INF/resources`, but worked otherwise. And since you explicitly set the TCCL in your PR in case there are static resources, I figured this might actuall

[2021-03-17 09:35] #14394 closed

[2021-03-17 09:36] geoand commented on #15164
I'm glad it worked!

To be honest, I was kinda hoping it would fix this issue as well, but I had no idea :)

[2021-03-17 09:36] #15758 closed

[2021-03-17 09:38] #15718 closed

[2021-03-17 09:45] #6810 closed

[2021-03-17 09:45] #9869 closed

[2021-03-17 09:45] #12507 closed

[2021-03-17 09:45] #10578 closed

[2021-03-17 09:45] #15195 closed

[2021-03-17 09:48] davidcurrie opened #15800 "Quartz scheduler does not support ConcurrentExecution.SKIP correctly"
## Describe the bug
When using the Quartz scheduler with multiple nodes, `ConcurrentExecution.SKIP` as implemented under https://github.com/quarkusio/quarkus/issues/10203 only skips executions that happen to be scheduled to a node that is still running a previous execution. Given that driver to switch from the simple scheduler to Quartz is often to get scheduling across multiple nodes, this behavi

[2021-03-17 10:14] #15763 closed

[2021-03-17 10:14] #15164 closed

[2021-03-17 10:24] FroMage commented on #13662
For extra detail, sure, but this should be the correct error body even for other errors if the clients wants JSON or if the response type is JSON.

[2021-03-17 10:24] FroMage commented on #15763
Thanks!

[2021-03-17 10:25] mkouba commented on #15800
`Scheduled#concurrentExecution()` is not intended to work accross the cluster.

@machi1990 Do you happen to know if it would be possible to map the `Scheduled#concurrentExecution()` to a Quartz-specific feature?

[2021-03-17 10:38] gytis commented on #13662
Sure, we could handle any unhandled error this way. But the RFC is not limited to JSON, it also has XML response type: application/problem+xml. Or do you prefer to limit this to JSON?

[2021-03-17 10:38] vu-bui opened #15801 "1.12.x failed to build native package with io.quarkus:quarkus-amazon-lambda-xray"
## Describe the bug
`1.12.1.Final` and `1.12.2.Final` failed to build native package with `io.quarkus:quarkus-amazon-lambda-xray` dependency.

### Actual behavior
I got this error while building native package
[code]

## To Reproduce
I'm building native package for AWS lambda, and it seems that the upgraded version of the Xray dependency in `1.12.1.Final` causes this problem. I still can build the

[2021-03-17 10:44] geoand commented on #15763
YW!

[2021-03-17 10:48] mmusgrov commented on #15442
@famod FYI Mayank Kunwar is working on this issue (and I don't have permissions to make him the assignee).

[2021-03-17 11:02] FroMage commented on #13662
Oh, XML, sure why not. I forgot it existed ;)

[2021-03-17 11:04] loicmathieu commented on #2611
@sberyozkin now that a CPE exist for Quarkus, it also match `quarkus-security` so old CVE are matched by the OWASP dependency plugin to quarkus (instead of quarkus-security) because of the difference of the version scheme.

For example, quarkus-security:1.1.3 (the version used in Quarkus 1.12) match the CVE https://nvd.nist.gov/vuln/detail/CVE-2017-18640 because Quarkus up to 1.3 is vulnerable.

I

[2021-03-17 11:35] geoand commented on #15778
Good idea - I'll take a look

[2021-03-17 11:47] davidcurrie commented on #15800
@mkouba - it seems odd to me that, by switching from the simple scheduler to Quartz, I go from running a job in every node to running that job in only one node, yet the semantics of the concurrent execution option don't mirror that. I'm not sure what the usage pattern is that would mean that you wouldn't want it to run concurrently in the same node but it would be fine to run it concurrently in a

[2021-03-17 11:47] someth2say opened #15804 "Error when YAML Config + List + Constructor-based converter"
## Describe the bug
I am getting a strange issue with lists in YAML configuration.
The following works ok-ish:
[code]

Now I want to make sure I retain the order of the elements in `mylist`, hence I replace `Collection` by  `List`.
If I do so, Arc refuses the `MyListElement` class at compile time for not having a no-args constructor :thinking:
[code]
Side-note the typo in the message requiring the

[2021-03-17 11:58] kenfinnigan commented on #15272
Closing at reporters request

[2021-03-17 11:58] #15272 closed

[2021-03-17 11:59] mkouba commented on #15800
I'm not a Quartz expert either but AFAIK the `@DisallowConcurrentExecution` annotation can only be used to prevent multiple job executions on a single node and the `org.quartz.Scheduler.getCurrentlyExecutingJobs()` method's javadoc (mentioned in the SO post)  reads: _"This method is not cluster aware.  That is, it will only return Jobs currently executing in this Scheduler instance, not across the

[2021-03-17 11:59] kenfinnigan commented on #15799
@ambition-consulting, as we're working on integrating OpenTelemetry for tracing and OpenTracing is no longer maintained, it's unlikely the core team would investigate this issue.

However, we'd gladly accept a PR from the community to resolve it

[2021-03-17 12:06] famod commented on #15442
@mmusgrov alright, if you tell me his GH name I can assign this issue to him.

[2021-03-17 12:12] davidcurrie commented on #15800
Apologies for the bum steer. The information is patently in the Quartz DB but it is not obviously exposed in any API. Seems I will have to look elsewhere for what seems like such an obvious capability.

[2021-03-17 12:16] #15323 closed

[2021-03-17 12:20] ebullient commented on #15493
I think the question is whether or not this is common enough to warrant generation from some config attribute.. though that comes with some complexity.

[2021-03-17 12:33] geoand commented on #15804
@radcortez would this be something that would be addressed if we move to the `@ConfigMapping` approach?

[2021-03-17 13:07] maxandersen opened #15806 "fill in SRE questionaire for registry.quarkus.io"
for permanent hosting we need to signup for resources on red hat infra.

[2021-03-17 13:27] #15681 closed

[2021-03-17 13:46] famod commented on #4224
@jaikiran Thanks for checking!

In fact, a colleague of mine just tested Lombok with Quarkus 1.12.2 dev mode and constructor related changes seem to be working fine. Dev mode does a full reload for most changes though, but it works in general. We are using AdoptOpenJDK 11.0.10.

/cc @stuartwdouglas @geoand

[2021-03-17 13:48] famod commented on #4224
So I think we can close this now. Please report back (or even better: create a new issue) if soemthing isn't working as expected with Lombok.

[2021-03-17 13:48] #4224 closed

[2021-03-17 13:53] mkouba commented on #15754
Hm, I don't see how the `quarkus.quartz.start-mode=forced` property can change the behavior if a `@Scheduled` method is present. In fact, the only purpose of this property is to start the Quartz scheduler even if no `@Scheduled` method is present - a job can be registered programatically.

I've tried to reproduce the issue locally with no success. @Sgitario Does the test fail intermittently?

[2021-03-17 13:55] Sanne commented on #352
yes let's close this - like I asked 6 months ago :)

[2021-03-17 13:55] #352 closed

[2021-03-17 14:09] galderz commented on #13702
Bump. Still happening...

[2021-03-17 14:12] galderz commented on #13702
@glefloch Can you send a PR for your workaround? Or is it something that needs to be tweaked in the local env?

[2021-03-17 14:20] #15778 closed

[2021-03-17 14:24] radcortez commented on #15804
Yes. SmallRye Config `@ConfigMapping` supports this.

I've tried with the reproducer and it works. On the other hand I think there is another issue with the validation of unused properties that start with prefix used. I'm observing a validation error when we use the `base` prefix and `basedir` is present. I'll investigate.

@someth2say can you try `@ConfigMapping(prefix="namespace")`?

[2021-03-17 14:41] Jurricane commented on #9896
I've got the same problem with quarkus 1.9.2 and mysql.

[2021-03-17 14:42] someth2say commented on #15804
Dang, I had tested with just `@ConfigMapping` and it failed.
But `@ConfigMapping(prefix = "base")` works flawlessly!
Thanks, @radcortez !

[2021-03-17 14:45] markusdlugi commented on #10716
To add onto this, I think `quarkus-quartz` is also affected by this problem. Quartz requires `quarkus-agroal`, otherwise Quarkus won't boot, and if that dependency is present, Hibernate Reactive won't work anymore:

[code]

[2021-03-17 15:00] mkouba commented on #6369
Closing, the original expression `{update && todo.completed}` should work since 1.9.0.CR1.

[2021-03-17 15:00] #6369 closed

[2021-03-17 15:15] radcortez commented on #15804
Great! :)

[2021-03-17 15:16] radcortez commented on #15804
So we plan to replace the `@ConfigPropeties` interfaces implementation with the one from SR Config, so in the end they should work the same.

[2021-03-17 15:23] hpehl commented on #1349
No objections from my side.

[2021-03-17 15:24] #1349 closed

[2021-03-17 15:25] gsmet commented on #15804
https://github.com/quarkusio/quarkus/pull/15807 fixes the typo in the error message.

[2021-03-17 15:26] geoand commented on #15804
Thanks @gsmet! I completely forgot about that

[2021-03-17 15:32] sfauvart opened #15809 "Liquibase validation failures in native image"
## Describe the bug
I have a quarkus application with a Postgres database and liquibase changeset.
All work fine on "classic" JVM but on native mode some liquibase change instruction seems have a problem and throw ValidationFailedException on startup.
I have this behavior on [update instruction](https://docs.liquibase.com/change-types/community/update.html)

### Expected behavior
Like on classic J

[2021-03-17 15:41] gsmet commented on #15801
Apparently something got broken by an XRay upgrade and we didn't notice it as there are no native tests for it.

https://github.com/quarkusio/quarkus/pull/15810 should fix it.

It would be nice if you could test it by following the instructions in https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#building-main (except you need to build the PR branch instead of main).

Thanks!

[2021-03-17 15:42] gsmet commented on #15801
Oh and thanks for the very detailed bug report btw. It helps a lot!

[2021-03-17 15:44] gsmet commented on #15809
@andrejpetras would you have the time to take a look at this one?

[2021-03-17 15:48] mkouba commented on #8750
TBH the proposed syntax does not make much sense to me but we could consider some defaults, i.e. the default name for `{#insert}` with no name and possibly use the content of the `include` tag as the default block:
[code]

[2021-03-17 15:56] ia3andy opened #15812 "Load codestarts from extension metadata codestart artifact location"
## Description

Part of https://github.com/quarkusio/quarkus/issues/11221

Extension metadata now contains the codestart artifact location. We need to add the process of loading those codestarts from those artifacts when generating a project.

[2021-03-17 16:10] famod commented on #10716
@Sanne Thanks for those insights, really appreciated!
I know you're a busy man, but how high is this on your priority list? 🙂
Seeing all those extensions not working with hibernate-reactive will most likely scare off potential users to actually even _try_ hibernate-reactive in Quarkus.
This is very much true for myself, currently starting a new not-so-small project based on Quarkus.

[2021-03-17 16:13] ia3andy opened #15813 "Move codestarts to their own artifact"
## Description

When https://github.com/quarkusio/quarkus/issues/15812 is ready, we should move the existing codestarts (they are cuttently located in platform-descriptor-json):

- The core quarkus codestarts to the `devtool-commons` module or to a new module (`quarkus-project-codestarts`
- The examples to a new module `quarkus-project-core-extension-codestarts`
- The jbang codestarts to a new mod

[2021-03-17 16:13] DavideD opened #15814 "For Hibernate Reactive enableCollectionInDefaultFetchGroup must be set to true"
Currently, the Hibernate Reactive extension doesn't set the property and so `enableCollectionInDefaultFetchGroup` is set to false. This is the default value for  ORM.

The result is that when we try to fetch lazy collection we have a `LazyInitializationException` errors.
See this issue on Hibernate Reactive for more details: https://github.com/hibernate/hibernate-reactive/issues/663

Example of co

[2021-03-17 16:14] DavideD commented on #15814
I already have a fix

[2021-03-17 16:28] gsmet commented on #15809
OK, so... adding `liquibase.change.core.AbstractModifyDataChange` for reflection fixes the issue but my guess is that we need to add all the classes marked with `@DatabaseChangeProperty`. That will inflate the size of the native image but I don't see any other solution.

[2021-03-17 16:41] famod commented on #1502
I almost submitted a "yay all is well" comment but I had second thoughts:

In a Quarkus 1.12.2 project we are setting up currently, all of the processors mentioned above _do work_, **but only because _Eclipse_ is triggering the processors!**
This might also explain why we are seeing so many full reloads/restarts instead of smaller (agent based?) code swappings... (/cc @stuartwdouglas, does that ma

[2021-03-17 17:05] gsmet commented on #15809
https://github.com/quarkusio/quarkus/pull/15815 should take care of this. Thanks for the reproducer, it was really helpful!

[2021-03-17 17:05] Sanne commented on #10716
Yes this is fairly high on my priority list :) Breaking it down in multiple smaller tasks, and I'm getting some help.

[2021-03-17 17:07] mirostary opened #15816 "PUT request invoked on paused infinispan server will appear later when it is running again"
If Quarkus application invokes a PUT request on the down Infinispan server, the request appears later when the server is running again.

The behavior is unexpected because the cache changes (or the request is processed) even after the client closed the connection, mainly it is a problem when running in OpenShift environment, where the request times out after 30 seconds (default setting openshift-r

[2021-03-17 17:09] sberyozkin commented on #2611
@loicmathieu Hi Loic - so our instruction for re-opening this issue has to be activated fast :-), thanks for checking it.
Hmm... so, I will ask to open CPEs for some well-known Quarkus projects, starting from the 2 you mentioned, we'll get there eventually I guess. thanks

[2021-03-17 17:15] rsynek opened #15817 "Quarkus maven plugin does not take pluginRepositories into consideration"
## Describe the bug
The Quarkus maven plugin downloads dependencies of the project. Unfortunately, it does not take into consideration the project's `pluginRepositories`. As a result, if there is a plugin that is not available in maven central, the Quarkus maven plugin fails, despite there is a `pluginRepository` defined that contains this plugin.

To illustrate the situation, the reproducer (see

[2021-03-17 17:28] famod commented on #15049
Closing, see Stuart's explanation.

[2021-03-17 17:28] #15049 closed

[2021-03-17 17:42] #15809 closed

[2021-03-17 17:44] DavideD opened #15819 "Set enableCollectionInDefaultFetchGroup to true for Hibernate ORM"
Follows https://github.com/quarkusio/quarkus/pull/15818

This property is required by Hibernate Reactive but we want to use the same default for Hibernate ORM .

More details about it:
* https://github.com/hibernate/hibernate-reactive/issues/374
* https://github.com/hibernate/hibernate-orm/pull/3558

[2021-03-17 17:48] #15801 closed

[2021-03-17 19:09] #13945 closed

[2021-03-17 19:11] iocanel commented on #14827
@mkonzal: behavior changed so urls are no longer sanitized. If user needs sanitization, then that should happen locally as part of git configuration.

[2021-03-17 19:11] #14827 closed

[2021-03-17 19:26] dufoli commented on #1997
I have move my code to quarkiverse repo and add few issue to have a global roadmap.
If people want to contribute or request features please used the quarkiverse repo ;-)

[2021-03-17 19:34] maryellenw77 opened #15820 "Quarkus doesn't refresh when resource files are updated"
## Describe the bug
My project has a set of json configuration files in the resources directory. We'd like Quarkus to restart and load these files when they are updated. Currently, Quarkus sees the file updates but determines that a restart isn't necessary. We know this because we see the message 'Files changed but restart not needed' when we make modifications.

### Expected behavior
Quarkus is r

[2021-03-17 20:12] bcluap commented on #15732
[code]

And...
[code]

[2021-03-17 20:24] bcluap commented on #15732
Just to explain our scenario...

Its basically a reverse proxy. Request comes in and hits our filter. We analyse it and see it must be proxied, suspend the request context, and use AHC (Netty based) async HTTP client to do the call to a downstream endpoint.

When the response comes back, using the netty eventloop thread, we do an abortWith on the request context with the response we received.

[co

[2021-03-17 20:31] RustamSultansoy opened #15821 "Quarkus Vault problem"
## Describe the bug
I have a small application with 2 rest endpoints and vault. Authentication method for vault is username/password
After 10-15 mins running app throws exception on API calls because it try to resolve "resteasy.original.webapplicationexception.behavior" property. And when it comes to vault source it couldn't authenticate second time. Thrown exception:
The current thread cannot be

[2021-03-17 20:43] #15814 closed

[2021-03-17 21:43] RustamSultansoy commented on #15821
fyi. i added manually resteasy.original.webapplicationexception.behavior=false to properties file, but still get same exception, because it try to find this property for given profile like "%dev.resteasy.original.webapplicationexception.behavior"

[2021-03-17 22:39] RustamSultansoy commented on #15821
this properties helped
quarkus.vault.secret-config-cache-period=1500H
resteasy.original.webapplicationexception.behavior=false

[2021-03-17 23:21] Morl99 commented on #6615
Ideally, we would have a quarkus extension available, that ensures the interoperability with hibernate-spatial. The only questions is, who is able to create it ;)

I tried the above workaround from @richardbischof, and it did not work for my usecase. I needed a few more files. See my example project for details: https://gitlab.com/Morl99/quarkus-spatial-example

[2021-03-17 23:26] aashreya opened #15825 "ElasticRestClient fails to load the provided custom configuration via @ElasticsearchClientConfig"
## Describe the bug
The ElasticRestClient fails to load the provided custom configuration via @ElasticsearchClientConfig.
I followed the documentation here https://quarkus.io/guides/elasticsearch#programmatically-configuring-elasticsearch to provide a custom configuration for elastic search.

In my case I am adding  AWS signing interceptor to the httpClientBuilder.

Version 1.12.2.Final

### Expec

[2021-03-17 23:41] jsebtes opened #15826 "RESTEasy Reactive: Context propagation between prematching request filter and blocking endpoint"
## Describe the bug
Context propagation seem does not work properly between a request filter with `@ServerRequestFilter(preMatching = true)` and an endpoint with `@Blocking`. A value set in a context in the filter cannot be read in the endpoint.
If `preMatching` is set to true, context propagation works well for non `@Blocking` endpoint.
If `preMatching` is set to false, context propagation works

[2021-03-18 05:25] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/663434774

[2021-03-18 06:21] yuriytkach commented on #14980
Not yet. For now I can't compile with 1.12.x because of tests issue: TestResource with WireMock server in it won't update the url in configs (trying to figure out what's going on, because the exact same test works perfectly on 1.11.6).

Actually, I've been running application on 1.11.6 for the last week and application runs 6 times a day now - never saw an error again. If error never appears in th

[2021-03-18 06:22] cescoffier commented on #15493
Yes, let's see if there are other demands. The work around you have made it not a blocker at all.

Alternatively we can had an attribute on the kafka connector to disable the metrics per channel, but I'm not sure it addresses the problem, as it won't let you filter but will drop clients completely. I would even consider that as a bad pattern.

[2021-03-18 06:27] geoand commented on #15826
@FroMage seems like we need to enable CP when offloading the task to the worker thread

[2021-03-18 06:29] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/663435679

[2021-03-18 06:33] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/663435679

[2021-03-18 06:49] geoand commented on #15732
Thanks for the explanation @bcluap.

I have a question though: As your application is `@Blocking` be default (which means that the filters run on the worker thread as well), how come you suspend processing?
Why not just do a blocking HTTP call and not deal with the suspend / resume dance that doesn't earn you any advantage for a worker thread anyway?

[2021-03-18 06:54] igor-dmitriev opened #15831 "OIDC affects start up time in native mode"
## Description
We are using Quarkus with GraalVM native-image which is deployed to AWS Lambda, we noticed significant performance loss when we added `io.quarkus:quarkus-oidc` dependency.
It is needed to have Auth0 integration.

[code]

application.properties
[code]

This is how it works without oidc:
<img width="1341" alt="oidc disabled" src="https://user-images.githubusercontent.com/4592740/11158

[2021-03-18 07:04] geoand commented on #15782
From the looks of the source code of `org.postgresql.util.ObjectFactory` it doesn't look like we can do much as `Class.forName()` is being used with the ClassLoader being passed in as an argument.
If we where able to use the TCCL there, it would likely work as expected

[2021-03-18 07:25] Sgitario commented on #15754
Using `quarkus.quartz.start-mode=forced` is intermittently working, without it. It seems to be working always.

What is happening is that the QUARTZ triggers table gets locked by the node and when this node is killed, the table remains locked. The second node should unlock the QUARTZ tables and indeed this is behaving this way when not using `quarkus.quartz.start-mode=forced`. My guess is that hav

[2021-03-18 07:48] machi1990 commented on #15800
@mkouba I do not think there is an equivalent.

[2021-03-18 07:48] geoand commented on #15771
Can you please add a reproducer project?

[2021-03-18 07:49] yrodiere commented on #15825
I believe your bean was detected as unused by Arc and was subsequently removed. See [here](https://quarkus.io/guides/cdi-reference#remove_unused_beans).

As a workaround, annotate your type with `@Unremovable`.

We should add something in the extension to tell Quarkus that anything annotated with `@ElasticsearchClientConfiguration` should not be considered as unused.

[2021-03-18 07:56] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/663440608

[2021-03-18 08:24] evacchi commented on #12486
has something changed in the way smallrye is configured?

[code]

LTS is green https://github.com/quarkusio/quarkus/issues/14860

[2021-03-18 08:26] geoand commented on #12486
@cescoffier ^

[2021-03-18 08:31] bcluap commented on #15732
Unfortunately, the worker pool does not solve the C10k problem. Our system is like an API gateway and needs to be able to handle 10's of thousands of concurrent calls without needing a worker thread per concurrent call. The suspend, non-blocking downstream call and abortWith pattern means we are not blocking a worker thread while waiting for the downstream HTTP call to respond.

In playing around

[2021-03-18 08:32] ge0ffrey commented on #15403
This is an issue for optaweb-vehicle-routing and optaweb-employee-rostering: "While we don't aim to support multiple different DBs out of the box, this Quarkus limitation makes it difficult to run Cypress integration tests against the standalone artifact because we can't build it for PostgreSQL and use H2 for integration tests at the same time. We can't have both in the same module."

[2021-03-18 08:35] geoand commented on #15732
OK, that `abortWith` is indeed a interesting use case.

I'd be in favor getting your suggestion or the one from @FroMage in to help reduce contention

[2021-03-18 08:41] gsmet commented on #15825
https://github.com/quarkusio/quarkus/pull/15833 should fix it.

[2021-03-18 08:41] DavideD opened #15834 "Error when running HQL queries spanning multiple tables in Hibernate Reactive"
## Describe the bug
It happens, for example, when using `IngheritanceType.JOINED` and an update/delete HQL query is executed on the parent entity.

At the moment, this exceptions is thrown:
[code]

It happens because we don't set `optionsBuilder.applyMultiTableBulkIdStrategy( new ReactiveBulkIdStrategy( metadata ) )`
when we create the session factory.

[2021-03-18 08:41] DavideD commented on #15834
I'm already preparing a fix

[2021-03-18 08:59] gavinking commented on #15720
I'm not sure that's right. I think there's a pretty clear distinction between "reactive" code and "blocking" code, and I don't think users would be very surprised if a "transaction" means something slightly different in each type of code.

So I guess I disagree with you on this @sanne. I think it's OK if, at least initially, reactive transactions are really quite limited.

[2021-03-18 09:19] eAybars commented on #15825
Hi, I was also able to reproduce the problem with a bean which is annotated with  `@Unremovable` , `@Dependent` and `@ElasticsearchClientConfig`.

When I select the bean through Arc using its implementation class (or `RestClientBuilder.HttpClientConfigCallback` with `@Any` qualifier) and inspect the returned beans qualifiers, `@ElasticsearchClientConfig` is not listed among them. It seams to have

[2021-03-18 09:29] mjurc opened #15836 "nextval('hibernate_sequence') does not work in import.sql scripts with H2"
## Describe the bug
Using `nextval('hibernate_sequence')` in `import.sql` files does not work anymore with H2 on Quarkus main, eg the following SQL command

[code]

produces exception with the following root cause:

[code]

### Expected behavior
`nextval('hibernate_sequence')` works properly as it does in previous versions.

### Actual behavior
`nextval('hibernate_sequence')` does not work.

## To

[2021-03-18 09:29] yrodiere commented on #15825
That sounds... strange?

@eAybars I'm interested in that reproducer. In particular, can you turn it into a test inside the extension, next to `ElasticsearchClientConfigTest`? It's really surprising that `ElasticsearchClientConfigTest` passes if user beans are ignored.

[2021-03-18 09:33] yrodiere commented on #15836
I think there's been talks to have one sequence per type instead of a global one. That could explain your problem, in theory. I'd be surprised if we changed that all of a sudden, though. I thought that was planned for ORM 6.

@Sanne did we change the way ORM assigns sequences by default, to assign a specific sequence to each type?

[2021-03-18 09:38] gsmet commented on #15825
We need to make `ElasticsearchClientConfig` a bean.

[2021-03-18 09:40] DavideD commented on #15834
PR is ready: https://github.com/quarkusio/quarkus/pull/15835

[2021-03-18 09:41] Chexpir opened #15837 "devmode - Not using JVM instrumentation, but always full restart"
## Describe the bug
I read from @maxandersen that in 1.11+ devmode new ability to detect wether a change can be applied using JVM instrumentation (what ides uses to update running jvms) or it requires a restart as devmode usually do.

### Expected behavior
Hot swap/reload applying JVM instrumentation, without a restart.

### Actual behavior
There´s always a restart, see logs below:

[code]

## To

[2021-03-18 09:43] gsmet commented on #15825
I think we also need something like: https://github.com/quarkusio/quarkus/pull/15838

But a test/reproducer would help, either in the code tree or as a standalone Maven project.

[2021-03-18 09:48] gsmet commented on #15825
No need for a reproducer. AFAICS the test is only working because we inject the class itself to test it. If I remove
[code]
the configurator is not executed.

[2021-03-18 09:51] gsmet commented on #15825
https://github.com/quarkusio/quarkus/pull/15838 fixes the test and makes things work.

[2021-03-18 09:59] gsmet commented on #15825
@eAybars as a workaround for now, you can try this: inject your configurator in one of the beans of your application:
[code]
This should trigger adding `@ElasticsearchClientConfig` as a qualifier and make things work (hopefully).

[2021-03-18 10:02] DavideD opened #15839 "Fetch a lazy association after using getReference doesn't work with Hibernate Reactive"
It's possible to reproduce it adding the following method to `HibernateReactiveTestEndpointFetchLazy`:
[code]
and the test in `HibernateReactiveFetchLazyTest`
[code]

See my branch: https://github.com/DavideD/quarkus/tree/getreference

This will cause a Session is closed exception. Adding transaction won't cause any exception but it will return 0 results.

[2021-03-18 10:02] DavideD commented on #15839
@gavinking Am I missing something or this should work?

[2021-03-18 10:04] gavinking commented on #15839
I think you need to fetch the entity first. `getReference()` usually returns a proxy.

[2021-03-18 10:05] gsmet commented on #15825
Well, this ^ was for @aashreya :)

[2021-03-18 10:15] cescoffier commented on #12486
Are you registering a custom connector?

[2021-03-18 10:16] DavideD commented on #15839
Do you mean like this?
[code]

[2021-03-18 10:19] evacchi commented on #12486
@cescoffier I think it's smallrye-http

[2021-03-18 10:23] jerboaa commented on #14904
For reference, instead of building Graal VM master from source, one could also use 21.1 dev builds from:
https://github.com/graalvm/graalvm-ce-dev-builds/releases in order to reproduce those failures.

[2021-03-18 10:25] Sanne commented on #15836
@yrodiere no we didn't make any change related to that discussion yet.

N.B. the URL is missing `DB_CLOSE_DELAY=-1`, that's quite tricky to handle when using H2 in memory - so it might relate with the different connection release strategies.

I haven't tried this though.

[2021-03-18 10:25] cescoffier commented on #12486
oh... we dropped smallrye-http (it was not reusing the same event loops), we have a new one in Quarkus: https://quarkus.io/guides/reactive-messaging-http.html

CC @michalszynkiewicz

[2021-03-18 10:26] Sanne commented on #15836
See also: #15298

[2021-03-18 10:26] cescoffier commented on #12486
(that being said, it should still works as before, even if not optimum)

[2021-03-18 10:38] FroMage commented on #15732
Also sounds like your filter should be able to run on the event loop even if the application is blocking by default. Shouldn't we add support for that @geoand ?

I mean, the workaround is pretty ugly.

[2021-03-18 10:40] ferencbeutel4711 commented on #15493
Hi guys, sorry for the late response. Just to let you know, the provided workaround is definitely good enough for us and the way to set it via configuration was only a suggestion, not requirement we have. So considering that, I think the issue could be closed for us and if a lot of demand comes up for this feature, it could be reopened.

[2021-03-18 10:40] FroMage commented on #15826
Yeah, I don't think we do anything CP-specific ATM.

[2021-03-18 10:47] #15825 closed

[2021-03-18 10:49] geoand commented on #15732
It is being on the worker thread because the application is using `@Blocking` as the default. We certainly could support adding `@NonBlocking` on the filter, but that could trigger a ping pong between event-loop and worker thread dispatch if there are multiple filters.
WDYT?

[2021-03-18 10:50] geoand commented on #15826
Yup, we'll need to support that

[2021-03-18 10:50] famod commented on #14528
@CurtisBaldwinson friendly reminder ^

[2021-03-18 10:57] maciejwalkowiak commented on #15623
FYI we are working on it on the Sentry SDK side: https://github.com/getsentry/sentry-java/pull/1329

[2021-03-18 10:58] FroMage commented on #15732
Well, it depends.

If this filter is the first one, it doesn't cost to run it on the event loop, right? If all it does is suspend then it's totally worth it.

If it does not suspend and passes execution to further filters or endpoints that do require a worker thread, then it didn't cost anything special.

It would only incur costs of ping-pong if indeed we have non-blocking -> blocking -> non-bloc

[2021-03-18 11:00] lburgazzoli opened #15840 "ClassNotFoundException: com.fasterxml.jackson.core.util.JacksonFeature #783"
## Describe the bug
I'm using jbang to create a simple rest service, and it fails because of the mentioned exception because of of mismatched dependencies as the Jackson Core version resolved is jackson-core-2.11.1 but it looks like jackson-core-2.12.1 is required

The original report for the issue is: https://github.com/jbangdev/jbang/issues/783

## To Reproduce
Steps to reproduce the behavior:
1

[2021-03-18 11:09] geoand commented on #15732
Yeah, that makes sense.

[2021-03-18 11:10] sberyozkin commented on #15831
@igor-dmitriev Can you please experiment with Quarkus `1.13.0.CR1` ? It has a new implementation

[2021-03-18 11:11] maxandersen commented on #15840
this is afaics not an issue specific for jbang the same happens when using that single maven dependency in either maven or gradle project.

Hints at some inconcistency in the Jackson extension itself.

[2021-03-18 11:13] loicmathieu commented on #15782
@geoand this is really annoying, we cannot mandate all libraries to use the TCCL to be compatible with out dev mode :(

I saw you add the upstream label, do you openned an issue upstream ?

[2021-03-18 11:14] geoand commented on #15782
I did not, no

[2021-03-18 11:15] geoand commented on #15782
Using `Class.forName` without a ClassLoader as parameter is bad practice. I'm not saying it should be the TCCL, I'm saying that is should be configurable

[2021-03-18 11:18] bcluap commented on #15732
@NonBlocking annotation on a filter would be marvellous

[2021-03-18 11:19] gavinking commented on #15839
yeah, like that, not like what I wrote :-)

[2021-03-18 11:22] DavideD commented on #15839
:-)

Sadly, it still doesn't work and gives Session already closed.

[2021-03-18 11:33] gavinking commented on #15839
Does it work in a plain HR test?

[2021-03-18 11:36] DavideD commented on #15839
I will try to test this exact case, but we have several tests in `ReferenceTest` similar to this one.

[2021-03-18 11:40] gavinking commented on #15839
well we probably do need to add a test with a detached object like the example I added to the docs.

[2021-03-18 11:55] geoand commented on #15631
From @cescoffier, OAUTH support will need something like:

mp.messaging.connector.smallrye-kafka.security.protocol=SASL_PLAINTEXT
mp.messaging.connector.smallrye-kafka.sasl.mechanism=OAUTHBEARER
mp.messaging.connector.smallrye-kafka.sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
  oauth.client.id="team-a-client" \
  oauth.client.secret="team-a-clien

[2021-03-18 12:01] sberyozkin commented on #15831
@igor-dmitriev Also, if the Auth0 bearer token in this case is in JWT format then you can try:

[code]

and if it is an opaque/binary token then:

[code]

it will save on `quarkus-oidc` fetching the well-known config from Auth0 at the the start up time

[2021-03-18 12:16] maxandersen commented on #15623
@ia3andy any idea why we dont have this issue - just a feature of sentry we didnt use and thus wasnt noticed ?

[2021-03-18 12:25] aloubyansky opened #15844 "Quarkus extension conditional dependencies"
## Description

It becomes more and more evident that the dependency resolution mechanism is lacking a feature of including certain extra dependencies only in cases when all their required dependencies are satisfied and not including them if at least one of their dependencies isn't found among the project's dependencies.

Given that Quarkus Maven and Gradle plugins use different (build system-spec

[2021-03-18 12:33] cescoffier opened #15845 "Kafka Streams extension does not read the "default broker configuration" map"
## Describe the bug

The Kafka Streams extension does not read the configuration provided by the kafka-client extension.
The Kafka Streams extension used a different approach for configuration which won't work with service bindings as the support of service bindings is based on the "default configuration" approach (basically it produces a `Map<String, Object>` that any Kafka related application ca

[2021-03-18 12:42] igor-dmitriev commented on #15831
@sberyozkin thanks for the update, I will try it out

[2021-03-18 12:46] jerboaa commented on #14904
PR for `integration-test/main`: https://github.com/quarkusio/quarkus/pull/15846

[2021-03-18 12:59] gsmet commented on #15623
In the meantime, I think we should fix it for 1.13. I implemented the rules here while we wait for the upgrade to a Sentry version including them: https://github.com/quarkusio/quarkus/pull/15847 .

[2021-03-18 13:00] gsmet commented on #15623
@u6f6o if you have the time to check the PR fixes your issue, that would be very nice.

https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#checking-an-issue-is-fixed-in-main might be of help (except you need to target my PR branch instead of main).

[2021-03-18 13:08] ia3andy commented on #15623
In code.quarkus.io we are not using native, so I guess this was never actually tested in native.

@maciejwalkowiak it would be nice if we add some integration tests to make sure events are sent correctly (native & non native), any idea how we could do it, mocking some Sentry components maybe?

[2021-03-18 13:10] yrodiere commented on #14762
@mgwillem Could you please detail what your classpath looks like? What are the JARs involved, where are the `orm.xml` files and there `persistence.xml` files, and which `persistence.xml` file references which `orm.xml` file?

The JPA spec allows many different setups, and it gives the tools to achieve these setups by allowing a `persistence.xml` to specify a list of JARs.

But currently, we don't

[2021-03-18 13:27] radcortez commented on #15804
https://github.com/smallrye/smallrye-config/pull/530 should fix the prefix problem I've found.

@someth2say is it okay to close this issue? The mentioned work is going to happen in separate issues / PRs. Thanks!

[2021-03-18 13:29] igor-dmitriev commented on #15831
@sberyozkin so, I tried it out,
it fails with an error on `1.13.0.CR1` version:
[code]

regarding the discovery, it works a little bit better when discovery is disabled:
[code]
Results:
<img width="1479" alt="Screenshot 2021-03-18 at 15 26 01" src="https://user-images.githubusercontent.com/4592740/111633927-ab480980-87fe-11eb-9456-ca9749511b64.png">

[2021-03-18 13:38] maciejwalkowiak commented on #15623
You can mock the `transport` - which is the last piece before payloads are sent to Sentry. Maybe you can take a look at how I did the tests for Logback appender to verify events at the very end: https://github.com/getsentry/sentry-java/blob/main/sentry-logback/src/test/kotlin/io/sentry/logback/SentryAppenderTest.kt#L82 and https://github.com/getsentry/sentry-java/blob/main/sentry-test-support/src/

[2021-03-18 13:49] gastaldi commented on #15651
Fixed in https://github.com/quarkusio/quarkus/pull/15736

[2021-03-18 13:49] #15651 closed

[2021-03-18 13:50] cescoffier commented on #15493
Thanks @ferencbeutel4711 !

Closing for now.

[2021-03-18 13:50] #15493 closed

[2021-03-18 14:11] sberyozkin commented on #2611
@loicmathieu Request to register `quarkus-http`, `quarkus-security` and `gizmo` has been opened, will update once it has been resolved.

[2021-03-18 14:12] jc opened #15848 "Quarkus 1.13.0.CR1 dev mode fails with build exception on Apple Silicon machine"
## Describe the bug
Quarkus dev mode fails with 1.13.0.CR1 on arm64 and x86_64 Java when using MacBook with M1 processor.

I verified it works on my Intel machine (although using java 15 not java 11). On the M1 machine package jar and native build also run fine.

Quarkus dev mode running 1.12.x works fine on M1 Mac.

## To Reproduce

Download quarkus-quickstarts. Go to getting started and adjust p

[2021-03-18 14:17] someth2say commented on #15804
Sure! The `ConfigMapping` approach worked for me.

[2021-03-18 14:17] #15804 closed

[2021-03-18 14:24] sberyozkin commented on #15831
@igor-dmitriev I believe for CR1 releases one needs to use `quarkus-bom`, cc @gsmet, give it a try please

[2021-03-18 14:31] sberyozkin commented on #15831
@igor-dmitriev if `Auth0` jwks have the embedded cert chains then the old implementation would decode and try to validate - but the new ones does not do it as it does not use them and because they have come from the trusted channel anyway - so here something might be saved as well.
Also, additionally, we can also look at postponing (but only optionally) the OIDC provider connection initialization

[2021-03-18 14:48] igor-dmitriev commented on #15831
@sberyozkin got it, thanks for the update, looking forward to it, having startup time ~= 200ms for Java-based application is fantastic.

[2021-03-18 15:08] #15834 closed

[2021-03-18 15:17] geoand commented on #15837
Please do a attach a reproducer - it's impossible to know what is going on otherwise.
Also please mention the exact steps you are following to surface the issue.

[2021-03-18 15:20] geoand commented on #15840
Quarkus imports the Jackson BOM, so `1.12.1` should be enforced throughout.
Any idea where `2.11.1` is coming from?

[2021-03-18 15:20] Sanne commented on #14762
by spec 8.2.1 the default name would be `META-INF/orm.xml`, and is able to avoid ambiguity by storing this resource in the root of the persistence unit (e.g. in the same jar as persistence.xml and its entities).

So I'd say you don't have to implement "case 4" as that was never supported in other systems either.

[2021-03-18 15:29] yrodiere commented on #14762
I wish :)

Taken from the ORM documentation, quoting the spec: https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#bootstrap-jpa-xml-files

[2021-03-18 15:35] gsmet opened #15851 "Improvements for in tree extension creation"
I tried to create a new extension in our tree using the command line.

First, I tried to create the extension in `extensions/` but this doesn't work as it tries to find `extensions/extensions/pom.xml`. I wonder if we could support that?

Next I tried to execute `mvn quarkus:create-extension` in the root of Quarkus and it didn't work. I had to use `mvn io.quarkus:quarkus-maven-plugin:create-extensi

[2021-03-18 15:57] FroMage opened #15852 "RESTEasy Reactive: UniInvoker signatures are wrong"
Due to how we implement it, all its return types are `Uni<?>` instead of the more useful `Uni<R>` for methods like `<R> get(Class<R>)`, forcing users to cast the return types to the right type:

[code]

This is because we implemented it with:

[code]

Now, for some reason the JAXRS interface is:

[code]

Which is pretty useless. We could mitigate this by making `UniInvoker` generic.

Or we could d

[2021-03-18 16:00] FroMage commented on #15852
Huh, `CompletionStageRxInvoker` does the same trick to fix the signature of `<R> get(Class<R>)`:

[code]

But interestingly it also overrides `get()` to return a `CompletionStage<Response>` which is probably what we should do too?

[2021-03-18 16:02] geoand commented on #15852
That does sounds reasonable

[2021-03-18 16:04] mkouba commented on #15754
I've just run the test more than 10x in a row (with and without `quarkus.quartz.start-mode=forced`) and no failure :-(. The test for native image seems to always got stuck though. It could be a timing issue or a similar kind of problem. But to be honest I'm not quite sure where to look now. Maybe @machi1990 has some idea?

[2021-03-18 16:07] el10686 opened #15853 "KubernetesTestServer does not return set mocked pods"
## Describe the bug
We (me and @chris-asl) are using Quarkus and quarkus-kubernetes-client following the documentation [Quarkus Kubernetes Client](https://quarkus.io/guides/kubernetes-client).

The test outlined in the documentation is not passing and fails with
[code]
We have created a test repository demonstrating exactly the problem (using `code.quarkus.io`) so that we have a minimal, complete

[2021-03-18 16:26] machi1990 commented on #15754
@mkouba @Sgitario I've not checked out the reproducer locally yet. I'll sit on this, next thing in the morning and try to reproduce it.

[2021-03-18 16:53] lburgazzoli commented on #15840
I don't, the only think I've added in my example was the resteasy-jackson extension

[2021-03-18 16:57] stefanorg commented on #6414
@loicmathieu any hint?

[2021-03-18 17:03] geoand commented on #15853
Something tells me I know where the username comes from :)

More seriously, I'll look into the issue son

[2021-03-18 17:04] loicmathieu commented on #6414
@stefanorg the PR is for readonly hibernate session (called readonly transaction by some other framework), it's a different thing as readonly connection to route to a different tenant.
You should open a dedicated issue for this.

[2021-03-18 17:06] ia3andy commented on #15851
Ah cool, thanks for the feedbacks!!!

This should work, there is a hook to look in the parent dir, did you try with `mvn io.quarkus:quarkus-maven-plugin:create-extension`? Maybe there is a bug.

I don't think we have the quarkus plugin in the plugin dependencies in quarkus-core. I am not sure how we could solve this?

Good idea!

ok!

👍

thanks!!

[2021-03-18 17:08] #15623 closed

[2021-03-18 17:13] Ladicek commented on #3217
I have a little bit of a prototype here: https://github.com/Ladicek/quarkus/commits/reactive-messaging-live-reload It seems to function well for instrumentation-based reload, with Kafka. Need to verify with other brokers and full restart, and then of course write some tests (gonna be interesting).

[2021-03-18 17:13] geoand commented on #15853
@FroMage would you like to take a look at `getting-started-testing.adoc` and `kubernetes-client.adoc` to see if there is anything we need to update based on your work with `WithKubernetesTestServer`?

[2021-03-18 17:25] aashreya commented on #15825
Thanks @gsmet for the fixes.
I actually gave that a try and Arc still couldn't find the class annotated with `@ElasticsearchClientConfig `
I can give it a try again with the above fixes.

[2021-03-18 17:32] survivant opened #15859 ""quarkus.http.test-timeout" Was removed ? (using 1.12.1.Final)"
I have this in my application.properties
# timeout for junit RestAssured / debug
%test.quarkus.http.test-timeout=600s

I'm using : <quarkus.platform.version>1.12.1.Final</quarkus.platform.version>

and now I obtain this in the logs
2021-03-18 12:47:35,512 WARN  [io.qua.config] (main) Unrecognized configuration key "quarkus.http.test-timeout" was provided; it will be ignored; verify that the depend

[2021-03-18 17:42] ia3andy commented on #15851
Ok it was a bug, it should have worked from the `extensions` dir.. I will provide a PR for all those..

[2021-03-18 18:03] cescoffier commented on #12486
@evacchi I may miss something, but it looks like your project is missing the dependency on the HTTP connector:

[code]

[2021-03-18 18:09] aashreya commented on #15825
Can this fix be backported to 1.12.* or the next version of 1.13* ?

[2021-03-18 18:22] ghost opened #15863 "getDeferredIdentity"
In resteasy reactive when quarkus.http.auth.proactive set to false methods annotated with security annotations throw exception if the "@Blocking" annotation is not used. If it is ok please add something to your documentation because interrelation between this features is not evident to newbies. Thank you.

[2021-03-18 18:39] jerboaa commented on #14904
PR for `integration-tests/redis-client`: https://github.com/quarkusio/quarkus/pull/15864

[2021-03-18 19:08] sberyozkin commented on #15863
CC @stuartwdouglas

[2021-03-18 19:10] sberyozkin opened #15866 "Support the injection of OIDC TokenIntrospection"
When the opaque tokens are remotely introspected we should support the injection of `TokenIntrospection` which is only available internally for now as a JSON object

[2021-03-18 21:08] danielpetisme commented on #9801
For the records,
Mongock uses [reflections](https://github.com/ronmamo/reflections) which is not native friendly OOTB.

[code]
You'll find the definition here
https://github.com/cloudyrock/mongock-core/blob/master/mongock-runner/mongock-runner-core/pom.xml#L40

So you either need to configure GraalVM or use another lib...

[2021-03-18 21:15] famod opened #15867 "[CI] - Early Access JDK build"
This issue reports the status of the nightly cron job that runs Early Access JDK build (first introduced in #15711).

Don't close this issue manually. This issue will be closed when the build gets fixed. It will be re-opened if it fails again later. You can subscribe to be notified of the status.

- Build page: https://github.com/quarkusio/quarkus/actions/workflows/jdk-early-access-build.yml

_Upd

[2021-03-18 21:26] bkzoller opened #15868 "Quarkus Tools IntelliJ plugin changes the maven dependencies"
## Describe the bug
When building a Quarkus project on the command line, maven uses commons-io version 2.8.0 from the pom.xml. However, when I run the unit tests in IntelliJ 2020.3.3, there is an external library named "Quarkus (deployment)" shown in the IDE, which uses commons-io version 2.5.

This difference in commons-io dependencies can result in unit tests which pass on the command line maven

[2021-03-18 22:19] stuartwdouglas commented on #15782
Can you try adding a `META-INF/quarkus-extension.properties` file to your project, and adding the following to it:

`parent-first-artifacts=com.google.whatever\:artifact-with-the-socketfactory`

Just as a temp workaround to see if it works? In theory we should be able to do this with the new parent-first CL config, however in practice it won't work at the moment without some changes.

[2021-03-18 23:41] maxandersen commented on #15840
if you just add same single dep to a project then the jackson deps are not locked in  and thus 2.12 comes in via resteasy and vertx afaics.

basically - you must use a bom for this all to work.

[2021-03-19 00:42] fabasoad opened #15873 "Bump smallrye-graphql to 1.0.25"
## Description

There is a https://github.com/smallrye/smallrye-graphql/pull/689 fix in smallrye-graphql 1.0.25 that allows users to use `Instant` type in GraphQL. This bug blocks us for bumping Quarkus to the 12.0.x version.

Current smallrye-graphql version:
https://github.com/quarkusio/quarkus/blob/6ca52ee869d70b45ceefa1784268736336aecfee/bom/application/pom.xml#L47

[2021-03-19 01:51] shinji62 commented on #15873
Will be nice, we hit the same issue in our team as well !

[2021-03-19 02:09] Stalyn-1994 commented on #12585
Hi FcoJavierSainz,you try to change dependency
import org.jboss.resteasy.annotations.jaxrs.PathParam;    by
import javax.ws.rs.PathParam;
in my case ,this worked for me

[2021-03-19 04:51] phillip-kruger commented on #15873
We are fixing one more thing in SmallRye, then we will do a release and pull it into Quarkus

[2021-03-19 05:29] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/666883085

[2021-03-19 05:36] phillip-kruger commented on #15873
cc @jmartisk

[2021-03-19 06:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/666884248

[2021-03-19 07:18] #15845 closed

[2021-03-19 07:26] geoand commented on #15732
As I am certain that the `@NonBlocking` -> `@Blocking` -> `@NonBlocking` dance will cause problems, here is what I propose:

We do support `@NonBlocking` on filters, but all the `@NonBlocking` filters **must** be the first ones to execute - otherwise fail.

[2021-03-19 07:37] bcluap commented on #15732
Very reasonable. Cannot see why one would ever go from worker back to
eventloop on purpose

On Fri, Mar 19, 2021 at 9:26 AM Georgios Andrianakis <
***@***.***> wrote:

[2021-03-19 07:57] gsmet commented on #15825
Yes, it's going to be backported to 1.13.

[2021-03-19 08:13] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/666890733

[2021-03-19 08:15] evacchi commented on #12486
@cescoffier I have double-checked because I expected that to be a transitive dependency but you are right. I suppose the list was being lazy-loaded in previous versions? anyway this should fix https://github.com/kiegroup/kogito-runtimes/pull/1158

[2021-03-19 08:15] Sgitario commented on #7795
I could not reproduce this issue anymore in 1.11 and 1.12, so maybe it can be closed now cc @maxandersen

[2021-03-19 08:30] phillip-kruger commented on #15873
thanks @gsmet !

[2021-03-19 08:44] mkouba commented on #15820
@maryellenw77 FYI you should be able to specify additional watched resources via the [quarkus.live-reload.watched-resources](https://quarkus.io/guides/all-config#quarkus-core_quarkus.live-reload.watched-resources) config property. Unfortunately, directories and wildcards are not supported. @geoand Maybe we could try to implement wildcards so that e.g. `*.json` would match all json resources?

[2021-03-19 08:47] geoand commented on #15820
@mkouba yeah, that sounds very reasonable

[2021-03-19 08:47] geoand commented on #15820
@gastaldi @radcortez is there anything in SR Commons that could be used for ^

[2021-03-19 08:50] FroMage commented on #15853
Damn, I forgot to update that one, didn't I?

[2021-03-19 08:51] cescoffier commented on #12486
@evacchi hum, it should not have been a dependency from quarkus. Let's hope that adding the dependency fixes it.

[2021-03-19 08:56] maxandersen commented on #15868
@jeffmaury something you can explain why intellij plugin messes with users dependencies ?

[2021-03-19 08:56] geoand commented on #15853
Well, I also forgot about it and I'm the one that reviewed it, so 🤷🏼

[2021-03-19 09:21] evacchi commented on #12486
correct, with "transitive dependency" I meant a component of our own that brings in that dep transitively -- which wasn't there anyway

[2021-03-19 09:28] u6f6o commented on #15623
@gsmet : I tested it as well, it worked for me. Thx for the fix!

[2021-03-19 09:51] DavideD commented on #15839
I think we already cover these cases in Hibernate reactive.
See [ReferenceTest](https://github.com/hibernate/hibernate-reactive/blob/183fa297317416646d6d9448cbad760a1cb07e30/hibernate-reactive-core/src/test/java/org/hibernate/reactive/ReferenceTest.java#L101):

* [testDetachedEntityReference](https://github.com/hibernate/hibernate-reactive/blob/183fa297317416646d6d9448cbad760a1cb07e30/hibernate-re

[2021-03-19 09:52] jeffmaury commented on #15868
This quarkus deployment library is added for Quarkus project in order to add Quarkus deployment JARs to the project classpath so that quarkus properties are discovered. It should have a specific scope that should not impact executions but that needs to be rechecked

[2021-03-19 09:59] alexgroom opened #15876 "@Traced annotation doesn't work as documented in opentracing.adoc when combined with JAX-RS"
I'm trying to combine use of JAX-RS and @Traced annotation in a single app and finding it hard to get any Jaeger output from the annotated calls but it works fine for the REST calls so my basic configuration of Jaeger seems fine.

### Expected behavior
I would expect to see tracing generated from the non-REST annotated methods as described in the docs

[code]

### Actual behavior
Only JAX-RS gener

[2021-03-19 10:05] mayankkunwar commented on #15442
Hi @famod I have raised a PR as fix for this issue.

[2021-03-19 10:06] Ladicek commented on #15876
What classes or methods did you annotate `@Traced` and expect traces from them? I see in the GitHub repo that you added some `@Traced` annotations into the `DataTable` class, which won't work. The `@Traced` annotation is an interceptor binding, so it will only work when added on CDI beans (and/or their methods).

[2021-03-19 10:08] Ladicek commented on #15876
One thing that should be obvious but I found that it sometimes isn't: even if you made `DataTable` a CDI bean, tracing using `@Traced` would _not_ work when you construct the `DataTable` instance yourself (`new DataTable`). You'd have to let the CDI container create the instance for you.

[2021-03-19 10:18] alexgroom commented on #15876
The actual base lab code leaves very little scope for using the annotation. But I took the documentation in its simplistic face value and did what it suggested and followed its example, it doesn't mention any limitations or requirements about CDI, but I suspected that might be the problem. Maybe a more complete worked example would be useful here showing the use of @Traced in a proper context whic

[2021-03-19 10:35] michalszynkiewicz commented on #14280
Looks like a duplicate of #9326

[2021-03-19 10:35] #14280 closed

[2021-03-19 10:37] Teg79 opened #15877 "Dev mode inside a container"
## Describe the bug
When running the `./mvnw compile quarkus:dev` command inside a container the server starts without error but every http request is dropped without any response or error in the logs.

### Expected behavior
The server must respond to http connections.

### Actual behavior
Start the server inside a container produces this log:
[code]
From inside the container the `curl http://loca

[2021-03-19 10:39] loicmathieu commented on #15782
@stuartwdouglas tried, same result :(

[2021-03-19 10:39] knutwannheden opened #15878 "PatternSyntaxException in dev console"
## Describe the bug
When opening the dev console in Quarkus 1.13.0.CR1 (using `/q/dev` URL) I see an error like this:

[code]

Looking at the Java code it looks like it doesn't work properly for Windows, since `\` isn't a valid Regex: https://github.com/quarkusio/quarkus/blob/82e052b56e639dcb43de7c3d07a68e0059f3abf0/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/de

[2021-03-19 10:44] jerboaa commented on #14904
PR for `integration-tests/reactive-messaging-kafka`: https://github.com/quarkusio/quarkus/pull/15879

[2021-03-19 10:46] gsmet commented on #15878
@knutwannheden could you try adding a `Pattern.quote()` call?

[2021-03-19 10:46] sberyozkin opened #15880 "Support the inclusion of all the discovered scopes in the OIDC authentication request"
## Description
`quarkus-oidc` will only include the `openid` scope by default or what the user has set `quarkus.oidc.authentication.scopes` to.
@danielpetisme has proposed to support `quarkus.oidc.authentication.scopes=*` - it means - request all the scopes found in the OIDC configuration metadata

[2021-03-19 10:47] knutwannheden commented on #15878
Yes, I just did :-)

[2021-03-19 10:59] geoand commented on #15732
https://github.com/quarkusio/quarkus/pull/15882 should take care of it

[2021-03-19 11:03] mkouba commented on #15664
In fact, the changes are reflected but since the default scope for JAX-RS resources is `@Singleton` and so the constructor is not called for every request - a single resource instance is shared for all requests. Note that CDI contexts are _not destroyed_ when a hot replace is performed via instrumentation. If you annotate the resource class with `@RequestScoped` you'll see the changes because a ne

[2021-03-19 11:17] gsmet commented on #15664
I don't think we should close this one. For me it's a regression of instrumentation-base hot reload compared to the previous hot reload behavior.

@stuartwdouglas should we collect these things and try to improve?

[2021-03-19 11:23] michalszynkiewicz commented on #8543
Looking at the fix versions in https://issues.redhat.com/browse/RESTEASY-2558 it didn't make it into 4.5.x branch, and Quarkus is still on 4.5.9

[2021-03-19 11:28] #7795 closed

[2021-03-19 11:31] mkouba commented on #15664
Hm, I don't think we could improve this in a reasonable manner. E.g. we could exclude all `@Singleton` and `@ApplicationScoped` bean classes from instrumentation-based replacement but that would complicate things even more, and possibly also defeat the purpose of instrumentation replacement because a great deal of app components would be probably excluded. But yes, it's a regression when compared

[2021-03-19 11:36] #15859 closed

[2021-03-19 11:36] michalszynkiewicz opened #15883 "Grpc Web support"
First make it work with Envoy proxy, then implement proxy in Quarkus

[2021-03-19 11:37] gsmet commented on #15664
For me the whole promise of Quarkus live reload compared to everything else that existed before was: it will always work.

I think we should try extra hard to keep that promise.

Another idea: should we disable instrumentation when a constructor is changed?

[2021-03-19 11:37] michalszynkiewicz commented on #12340
I have created a separate issue for grpc-web: #15883

[2021-03-19 11:47] michalszynkiewicz commented on #8543
Or am I missing something?

[2021-03-19 12:00] radcortez commented on #15820
I don't think we have. Feel free to add something :)

[2021-03-19 12:01] seseso opened #15884 "Slf4j + logback"
## Describe the bug
First of all, I know that logback is not supported and JBoss Logging is the official logging framework. That being said, I manage to work with logback but found out that it only works in Profile prod and not in dev. I see a different behavior and that's why I open this issue.

The problem arise at:
`ch.qos.logback.classic.LoggerContext lc = (ch.qos.logback.classic.LoggerContext

[2021-03-19 12:10] mkouba commented on #15664
My point is that sometimes instrumentation works just better because the contexts are not recreated and so you don't lose the state...

[2021-03-19 12:14] mkouba commented on #15664
I don't think we're able to detect this kind of modification...

[2021-03-19 12:15] kshpak opened #15885 ".env file for quarkus properties setup is not recognized"
## Describe the bug
According to the https://quarkus.io/guides/config quarkus should support reading properties values from .env file located in the root directory of the quarkus project.

However it doesn't and throws `javax.enterprise.inject.spi.DeploymentException: No config value of type [java.lang.String] exists for: greeting.name`

Reproducer attached.

### Expected behavior
Quarkus recogniz

[2021-03-19 12:16] gastaldi commented on #15820
@geoand support for wildcards? You mean like in https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/util/GlobUtil.java?

[2021-03-19 12:18] geoand commented on #15820
Right! That exactly like what we want here. Mind integrating it in the handling of `quarkus.live-reload.watched-resources`?

[2021-03-19 12:21] MarcoMartins86 opened #15886 "CDI events qualifiers not working when abstract superclass is in a library"
## Describe the bug
CDI events qualifiers are not working well when abstract superclass is in a library since when implementing the class it will be registered as a general observer instead of one with a qualifier.
Check https://github.com/MarcoMartins86/event_qualifier_issue for more details.

### Expected behavior
If I trigger an important event `http://localhost:8080/Events/Important` should ap

[2021-03-19 12:24] gastaldi commented on #15820
I think this issue may be closed (or renamed) and can be marked as a `good-first-issue` for our rockstar community contributors 😉

[2021-03-19 12:27] ia3andy opened #15887 "Quarkus CLI "dev" command is not working with arguments"
## Describe the bug
[code]

### Expected behavior
Should suspend

### Actual behavior
Unknown option: '-Dsuspend=true'

## To Reproduce

[code]

[2021-03-19 12:28] pedrolopix commented on #15742
I use this class to do it
[code]

[2021-03-19 12:38] Andro999b commented on #15271
Any chance that fix will be included into quarkus 1.13 release?

[2021-03-19 12:39] tttomat19 opened #15888 "hibernate.temp.use_jdbc_metadata_defaults=false setting is ignored in persistence.xml"
## Describe the bug
1. Use quarkus-hibernate-orm extension
2. Use dedicated META-INF/persistence.xml for configuration
3. set hibernate.temp.use_jdbc_metadata_defaults=false in persistence.xml
4. the setting is ignored during startup

### Expected behavior
hibernate.temp.use_jdbc_metadata_defaults setting should actually take effect.

### Actual behavior
hibernate.temp.use_jdbc_metadata_defaults=f

[2021-03-19 12:40] phillip-kruger commented on #15271
Yes

[2021-03-19 12:44] bpasson commented on #15742
Like my solution it is something which is outside the Quarkus core. In my opinion application shutdown is a fundamental part of the application lifecycle. A lot is done already on that topic. What I suggest to add is a missing piece.

[2021-03-19 12:46] galderz commented on #14139
We see this failure:

[code]

You can use `--trace-object-instantiation=sun.security.provider.NativePRNG$Blocking` to find out what's making it be accessible.

[2021-03-19 13:13] machi1990 commented on #15754
I've tried to reproduce the error with the [quartz quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/quartz-quickstart) by adding the `quarkus.quartz.start-mode=forced` and no issue. Both in native mode and in jvm mode.

[2021-03-19 13:15] Teg79 commented on #15877
The last version working is the 1.9.2.Final

[2021-03-19 13:16] Sgitario commented on #15754
The issue happens in a real environment when you disconnect one node. The another instance is not taking over the scheduled job. As far I can see, the quickstart is only starting up one instance.

[2021-03-19 13:23] galderz opened #15889 "Bouncycastle FIPs leaving a SecureRandom in heap"
Related to #14904. One of the failures is related to `quarkus-integration-test-bouncycastle-fips` module:

[code]

The issue arises from `org.bouncycastle.crypto.general.Utils` which contains `static final SecureRandom testRandom = new SecureRandom();`. This class is initialized at build time through:

[code]

The issue can be solved with a substitution like this. It bypasses the internal check to

[2021-03-19 13:23] machi1990 commented on #15754
Yes, that's what I tried to reproduce.
In several trials, I started the more than one instance with `docker-compose up --scale tasks=10 --scale nginx=1` and then continuously scaling up and down the `tasks` service with `docker-compose scale tasks=3` etc while observing the output to see if the job was picked up by another node.

[2021-03-19 13:24] galderz commented on #14904
I've created #15889 to track the `quarkus-integration-test-bouncycastle-fips` failures. It needs some consideration and agreement on the solution.

[2021-03-19 13:28] Sgitario commented on #15754
Ok, thanks for trying! Then I'm running clueless about why the beefy module is behaving this way. I'm experiencing the same than @mkouba. Also, for JVM, if I debug the module and stop the code test flow before killing the node, I also can reproduce it almost 100% of the times.

[2021-03-19 13:45] Ladicek commented on #15876
I hear you, but I have to say that `@Traced` works as intended in this regard. We can only possibly fix the documentation.

[2021-03-19 13:49] sberyozkin commented on #15889
@galderz thanks Galder, I'll start next week.

[2021-03-19 13:51] Sanne commented on #15888
Interesting, thanks for the reproducer.

Please note we need this disabled to be able to compile to native - also it's an undocumented property, I was not expecting end users to set it.

But I agree it should either be possible to disable it explicitly, or we need to ensure it's consistently disabled.

[2021-03-19 14:02] sberyozkin commented on #2611
@loicmathieu Hi Loic - all have been published now, can you please retry ? Or may be it is worth waiting till Monday - I can certainly see all CPEs in the browser - but not sure if the feeds will get the updates as well so soon
thanks

[2021-03-19 14:15] mkouba commented on #15886
@MarcoMartins86 the `qualifier_issue_lib` is probably not indexed and the `NormalEvent` qualifier is not discovered. Could you try to add an empty `src/main/resources/META-INF/beans.xml` file in the lib project?

See also https://quarkus.io/guides/cdi-reference#bean_discovery for more info about Quarkus bean discovery.

[2021-03-19 14:18] metacosm commented on #5931
Should we close this since we have the [`quarkus-operator-sdk`](https://github.com/quarkiverse/quarkus-operator-sdk) extension now? I'd favor opening more targeted issues under that repository now.

[2021-03-19 14:26] #15537 closed

[2021-03-19 14:27] alexgroom commented on #15876
I think the documentation is the piece that is misleading here so please fix that. A more complete worked example here combining the JAX-RS built-in tracing with some annotated elements would also be great

[2021-03-19 14:31] #15878 closed

[2021-03-19 14:44] aloubyansky commented on #15813
Do you still also want them to be merged into a single platform-wide codestarts artifact? Or is this different?

[2021-03-19 14:47] StFS opened #15891 "Add streaming support for files in RESTEasy Reactive"
## Description

It would be nice to have a simple way to return file content as a stream in a reactive way in a REST resource method.

The original discussion is [here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/N00b.20question.20about.20reactive.20development).

## Implementation ideas

This discussion took place on Zulip so I'm only conveying the ideas discussed there (by

[2021-03-19 14:51] jerboaa commented on #14904
Elytron Security LDAP is actually a Graal issue:
https://github.com/oracle/graal/issues/3297

[2021-03-19 15:05] MarcoMartins86 commented on #15886
Thank you for the suggestion but it did not work. Also, reading the page you mentioned, in the underlined text, if I understand correctly observers should be discovered automatically.

[2021-03-19 15:14] mkouba commented on #15886
Yes, but the bean classes, qualifiers, etc. must be indexed by Quarkus first. I'll take a look at the reproducer.

[2021-03-19 15:19] FroMage commented on #15853
Actually, `WithKubernetesTestServer` is documented there.

[2021-03-19 15:19] MarcoMartins86 commented on #15886
I think I was doing that already by having this on the pom.xml. Thank you again for your time.

[code]

[2021-03-19 15:27] chris-asl commented on #15853
@FroMage
The problem is that although it's documented, we're using it like this https://github.com/el10686/quarkus-kubernetes-client/blob/master/src/test/java/org/acme/KubernetesClientTest.java, but the test is failing
[code]

Are we missing something fundamental?

[2021-03-19 15:28] FroMage commented on #15853
Oh OK, lemme check

[2021-03-19 15:29] mmaggioni-wise opened #15892 "A @QuarkusTest with a ParameterResolver that return a java record, throws an exception"
## Describe the bug

During a QuarkuTest, when using a junit "ParameterResolver" that return a java record with at least one field, xstream return this error:

[code]

The problem in quarkus is at
`io.quarkus.test.junit.internal.XStreamDeepClone.doClone(XStreamDeepClone.java:49)`

As far as I understand, this class use xstream to just create a copy of the object (the java record) in the Quarkus Cl

[2021-03-19 15:34] daniel-chelcioiu commented on #10267
Hi,
Any news on this ?
Thanks

[2021-03-19 15:47] gsmet commented on #15820
Stupid question maybe but why don't we reload by default when resources are changed?

[2021-03-19 15:55] FroMage commented on #8543
Oh, I had missed that detail. How come we never updated? Any reason or just we forgot?

[2021-03-19 16:03] FroMage commented on #15853
#15853 should fix that. Basically CRUD mode is now the default, so if you want to fix your test in the simplest way, just add `crud = false` on the annotation.
Or set up your test resources like this:

[code]

IMO this is cleaner as it doesn't require mocking HTTP which can be error-prone.

[2021-03-19 16:03] FroMage commented on #15853
Let me know if this helps?

[2021-03-19 16:06] FroMage commented on #15891
Yup, supporting `AsyncFile` OOTB would make a lot of sense. Can you add your sample code here? Would supporting `Path` OOTB also make sense?

[2021-03-19 16:10] mkouba commented on #15886
I can confirm that it's a bug.

The Jandex `MethodParameterInfo` does not implement `equals()/hashCode()` and for some reason we receive two distinct target instances for the `@Observes` and `@NormalEvent` annotations declared on the event param of `AbstractObserverNormalEvent.observer()`.

I'll prepare a fix next Monday.

[2021-03-19 16:21] geoand commented on #15891
It does to me

[2021-03-19 16:31] grumpyrodriguez commented on #15664
I created this issue because the behaviour did not match what the documentation and Quarkus console reported, at least as far as my interpretation of these goes.

It would be absolutely OK if console logs or the documentation mentioned singleton behaviour, but to a developer, reloading a class would mean the whole instance being replaced.

If you'd consider changing the definition of expected beha

[2021-03-19 16:43] ia3andy commented on #15813
@aloubyansky all the quarkus-core extension codestarts be in `quarkus-project-core-extension-codestarts`

[2021-03-19 16:50] ge0ffrey commented on #13341
Thanks @essobedo !

[2021-03-19 17:40] #15851 closed

[2021-03-19 18:22] famod commented on #15892
Thanks for reporting this.

Upstream issue: https://github.com/x-stream/xstream/issues/210

@mmaggioni-wise

Do you have something concrete in mind?

@geoand WDYT? XStream 1.5 is still far away, AFAICS.

[2021-03-19 18:27] geoand commented on #15892
We could try and replace xstream with java serialization and see how far that would get us.

[2021-03-19 18:32] #8750 closed

[2021-03-19 18:34] famod commented on #15885
FTR: Quarkus version is 1.11.6.Final

@kshpak
Can you try
[code]
instead of
[code]
?

See also https://quarkus.io/guides/config-reference#env_file (which is (indirectly) linked from the article you mentioned)

[2021-03-19 18:39] famod commented on #15885
Nevermind, tried it myself. `GREETING_NAME=kirill` works, as documented.

[2021-03-19 18:39] #15885 closed

[2021-03-19 18:42] famod commented on #15892
This would require `implements Serializable` which is kind of a breaking change.
Maybe we should add java serialization as an alternative option that can somehow be selected?

[2021-03-19 18:47] jerboaa commented on #14904
PR for `integration-tests/amazon-services`: https://github.com/quarkusio/quarkus/pull/15897

[2021-03-19 18:48] geoand commented on #15892
Maybe it could be engaged if the class is serializable?

[2021-03-19 18:48] famod commented on #15884
As much as I myself would also love to use logback, as you said yourself:

I'm therefore going to convert this to an enhancement.

/cc @dmlloyd for general logging context and @stuartwdouglas for the classloading part

[2021-03-19 19:20] famod commented on #15892
Yeah, why not! I don't see why someone would want xstream serialization when the class in question declares to be java serialization compatible.

[2021-03-19 19:29] dmlloyd commented on #15884
A logging framework has four parts which are relevant to this discussion:

* The logging API (in the case of LogBack, this is `slf4j`; though Quarkus uses `jboss-logging`, `slf4j` is also completely supported for users)
* The logging implementation (this would be the "guts" of LogBack; Quarkus uses `jboss-logmanager` for this part, which is a substantially improved replacement core for the JDK's l

[2021-03-19 19:35] dmlloyd commented on #15884
As an aside: part of this is that we *do* need a good mechanism for detecting class path conflicts.  This would be necessary before we can solve the "same error in both situations" part of the problem.

[2021-03-19 20:45] stuartwdouglas commented on #15782
Actually it would probably need to go into its own sperate project and be added as a dep: https://github.com/stuartwdouglas/quarkus/blob/23ae9fd2a058b71bd65ff323d72fe84bfdb82a98/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L759

The current code only deals with zip files for dependencies.

[2021-03-19 22:32] chris-asl commented on #15853
@FroMage @geoand I can confirm this works just fine! Thank you very much for the prompt reply! :smile:

[2021-03-19 23:01] sberyozkin commented on #13957
@cemnura Hi Cem - assigning to you as agreed, lets have a `keycloak-server` test module similar to a more generic wiremock based `oidc-server` - but this one would setup the real live KC instance, moving the code from `integration-tests/oidc`, thanks

[2021-03-19 23:41] #15271 closed

[2021-03-19 23:41] #15873 closed

[2021-03-20 00:37] seseso commented on #15884
The only reason I use logback is to have access to the SiftingAppender, which I use to create logfiles "on demand", based on MDC properties. I need this to create separate log files per processing threads in a ETL pipeline. Other then that, I'll live happily without it!

[2021-03-20 02:08] xmlking commented on #14012
maybe it is an issue for macOS and Linux.
can someone with mac/Linux conform?
can't believe Java is platform dependent :)

[2021-03-20 09:35] mmaggioni-wise commented on #15892
with this code it seems to works.
we use Johnzon instead of Yasson because it supports java records.
this is a quick replace of the XStream class, with a custom one that use jsonb.

[code]

The class XStreamDeepClone seems to have everything we you need, it has the classloader and the object to copy.

I don t think forcing people to use the Serializable interface for all their records it's the bes

[2021-03-20 17:19] mkouba commented on #15886
@MarcoMartins86 FYI the problem only occurs if an observer method is declared on a class located in an archive with a pregenerated Jandex index (e.g. via the jandex-maven-plugin).

[2021-03-20 19:17] aadityasinha-dotcom commented on #15644
Can I work on this issue?

[2021-03-20 19:20] aadityasinha-dotcom commented on #15887
Can I work on this issue?

[2021-03-20 19:30] dinesh-monickaraj commented on #14012
@glefloch Upgrading Gradle to 6.8.3 worked for me.
@micheljung I am using the same version combination as like you. It works now. Thanks
Gradle: 6.8.3
Mapstruct: 1.4.2.Final
Quarkus: 1.12.0.Final
Kotlin: 1.4.31

[2021-03-20 20:51] xmlking commented on #14012
@dinesh-monickaraj which OS are you using?

[2021-03-20 21:41] gastaldi commented on #15644
Sorry, but this was already fixed in #15747. Closed

[2021-03-20 21:41] #15644 closed

[2021-03-20 22:12] famod commented on #15892
@mmaggioni-wise Thanks a lot! Btw, pull requests are more than welcome! 😉

@geoand I've been thinking we could introduce Apache Johnzon, use that primarily, but fall back to XStream in case of errors together with logging a warning, asking the user to report the respective exception.
We could then kick out XStream in 1.15 or 1.16, after we have more confidence with Johnzon. WDYT?

[2021-03-21 00:33] cstancu opened #15903 "MappedByteBufferReplacement substitutions is obsolete in JDK16"
## Describe the bug
Trying to build a simple Quarkus Native Image application with a JDK16 based GraalVM results in
[code]
The target method [`MappedByteBuffer.force0`](https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/graal/MappedByteBufferReplacement.java#L13) has been removed in JDK16.

Note: A JDK16 GraalVM is not widely available yet, it must be buil

[2021-03-21 01:04] mklueh commented on #2814
Can we have a multi stage Dockerfile for JVM builds as well?

Trying to deploy to DigitalOcean Apps, native build is running into s timeout after 30 minutes so I'd go for the plain old JVM build.

Ist there somewhere an official Dockerfile?

[2021-03-21 04:17] #15886 closed

[2021-03-21 07:26] mklueh opened #15904 "Gradle Multi-stage Dockerfile in documentation pointing to non-existent quay.io/quarkus/centos-quarkus-maven:21.0.0-java8"
## Description

https://quarkus.io/guides/building-native-image#using-a-multi-stage-docker-build

![image](https://user-images.githubusercontent.com/1553757/111897190-db6df300-8a1e-11eb-90bc-5edc5a31dbc7.png)

[code]

[2021-03-21 07:27] mklueh commented on #15904
Wrong label, needs to be bug

[2021-03-21 07:39] mklueh opened #15905 "Provide multi-stage Dockerfiles for native and jvm builds"
## Description

It seems the preferred way to build Docker images in Quarkus is using the CLI, however when using for example DigitalOcean Apps, which essentially is providing auto-build & deploy based on a Dockerfile specified in the project root, you are stuck with the Quarkus way.

There is a multi-stage Dockefile for native builds in the documentation https://quarkus.io/guides/building-native-

[2021-03-21 08:26] ambition-consulting commented on #15799
That would include updating an already now really outdated, semantically
breaking Jaeger Core versions across  multiple independent open source
repositories.

I guess I will have to for the next giant should to hop on instead.

Ken Finnigan ***@***.***> schrieb am Mi., 17. März 2021,
13:00:

[2021-03-21 14:33] #15904 closed

[2021-03-21 15:44] arvidvillen commented on #12597
Any updates on this?
Private field injection would be super nice :)

[2021-03-21 16:20] arvidvillen opened #15907 "Arc: interceptor binding without target ElementType.TYPE"
## Description

It would be nice if Arc supported interceptor bindings without a target of ElementType.TYPE (e.g only target ElementType.METHOD). This is not possible in CDI as the interceptor needs to be annotated at the class level. However, Arc might give extension writers (or maybe even application writers) the possibility to programmatically register interceptors for bindings and thus removin

[2021-03-21 16:32] arvidvillen opened #15908 "Quartz extension - graceful shutdown for @Scheduled does not work"
Allow users to set the `quarkus.shutdown.timeout` (or a separate property) to configure graceful shutdown for `@Scheduled`.
A typical use case is that the application interacts with a message queue in a scheduled method. When upgrading/releasing a new version of the app the user wants the service to ignore incoming messages (i.e., not run any new scheduled jobs) but finish the currently running jo

[2021-03-21 21:33] stuartwdouglas commented on #14695
I have fixed the netty bug, this should be fixed when we upgrade.

[2021-03-21 22:00] richiethom opened #15909 "AWS Lambda HTTP Content-Type is lost"
## Describe the bug
Quarkus RestEasy AWS Lambda's Content-Types don't get returned by AWS API Gateway.

### Expected behavior
The content type returned by the API Gateway is the one set by RESTEasy (ie 'application/json' unless set otherwise via @Produces)

### Actual behavior
The content type is `text/plain`.

## To Reproduce

1. Generate the Amazon Lambda HTTP example at https://quarkus.io/guide

[2021-03-22 01:50] pipinet commented on #8791
https://github.com/quarkiverse/quarkus-rsocket

[2021-03-22 03:12] bkzoller commented on #15868
@jeffmaury When the module "Quarkus (deployment) - scope: Provided" appears at the end of the list of modules in Project Settings -> Modules, then it does not interfere with the dependencies. However, when it appears at the top of that list of modules, then it does interfere and cause compilation errors.

It may be related to timing of loading the dependencies during project import, because I have

[2021-03-22 05:29] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/674890578

[2021-03-22 06:30] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/674891625

[2021-03-22 06:40] aloubyansky commented on #12111
@geoand it's RR deployment test
[code]

[2021-03-22 06:40] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/674891625

[2021-03-22 06:57] cescoffier opened #15912 "Vert.x 4 - Re-enable the RESTEasy Reactive TCK"
## Description

The RESTEasy Reactive TCK is not passing with Vert.x 4 and the build is stuck for 180 seconds (so timeout).
We need to investigate and re-enable it.

As this is now in the hot path to create the Quarkus 2.x branch, I have disabled the TCK and we will investigate directly in the 2.x branch.

## Implementation ideas

1. Get a lot of coffee
2. Debug

[2021-03-22 07:02] mkouba commented on #12597
Just to be clear - private field injection works fine even now but a reflection-based fallback is used.

[2021-03-22 07:11] geoand commented on #15912
@cescoffier should I re-enable in the vertx4-snapshot branch?

I don't think I'll have time to look into the failures today, maybe @FroMage or @stuartwdouglas has time?

[2021-03-22 07:15] mkouba commented on #15820
I think that historically we've chosen this path to minimize the number of resources that can trigger the reload, i.e. not every resource modification requires a reload. Anyway, if we change it now it would be a non-compatible change. So we should be careful here.

[2021-03-22 07:15] geoand commented on #15892
Yeah, we can do certainly try that

[2021-03-22 07:17] geoand commented on #12111
Thanks @aloubyansky

I'll have a quick look

[2021-03-22 07:28] hyperman1 commented on #10267
@hartimcwildfly  I think I answered you in another thread or on the chat, so I'll add my answer from long ago here:

In my experience,  all security parameters should be tuneable at run time.  Security setup can differ between dev and prod, and might be adapted by different teams.

We managed to introduce keycloak in our organisation, so my interest for LDAP has seriously diminished since writing

[2021-03-22 07:31] geoand commented on #12111
I was not able to reproduce this but I'll keep an eye out for it any case. I also restarted the job

[2021-03-22 07:43] mkouba commented on #15907
Hm, the thing is that if you remove the `ElementType.TYPE` from the target of the binding then users won't be able to annotate the bean class to intercept every method, instead every method that should be intercepted would have to be annotated. And that's IMO not very useful.

Do you have an idea how the API should look like? We can definitely try to outline some new way of defining interceptors..

[2021-03-22 08:02] cescoffier commented on #15912
I just disabled it in the vertx4-snapshot branch, as it's the base for the 2.x branch (_base_ as it's going to the inspiration as we will re-organize the commits).

There is no emergency, it can wait a few weeks. It's not because we would have a 2.x branch that it's going to be release immediately.

[2021-03-22 08:04] geoand commented on #15912
OK, understood :)

[2021-03-22 08:19] evacchi commented on #12486
Native image broken

[code]

seems related to cloud events @ricardozanini /cc @danielezonca @mariofusco -- this is broken on 1.11 too https://github.com/quarkusio/quarkus/issues/14860 so it must be something within the last 4 days (LTS was green at least 4 days ago)

[2021-03-22 08:47] cescoffier commented on #1644
With Resteasy Reactive, no need for that issue anymore :-)

[2021-03-22 08:48] #1644 closed

[2021-03-22 08:50] cescoffier commented on #15753
Fixed by @michalszynkiewicz (#15874)

[2021-03-22 08:50] #15753 closed

[2021-03-22 08:51] cescoffier commented on #15593
@ebullient I've seen work around that. Are we good?

[2021-03-22 08:51] FroMage commented on #15912
How many other branches would I need to compile `vertx4-snapshot`?

[2021-03-22 08:52] geoand commented on #15912
I _think_ you don't need anything else - but @cescoffier would know for sure

[2021-03-22 08:52] indalaterre commented on #15891
Does this feature request has a release plan? Currently this blocks the upgrade to resteasy-reactive

[2021-03-22 08:53] FroMage commented on #15912
OK let's try

[2021-03-22 08:54] cescoffier commented on #15912
vertx4-snapshot is THE ONE. If only relies on releases. So, just this one.

[2021-03-22 08:58] geoand commented on #15891
Hopefully we'll get something in for `1.14` but there is no guarantee.

[2021-03-22 09:00] #15732 closed

[2021-03-22 09:08] FroMage commented on #15912
OK I can reproduce

[2021-03-22 09:12] nimo23 commented on #588
@edewit Why is https://github.com/edewit/quarkus-quickstarts/tree/react-example/react-rest not more available in https://github.com/quarkusio/quarkus-quickstarts?

[2021-03-22 09:14] FroMage commented on #15912
I have a feeling this is due to DNS hanging forever for a call to resolve the `cts.tck` host.

[2021-03-22 09:16] jtama opened #15918 "Reactive panache nested transaction error"
## Describe the bug
As of today, reactive panache nested transactions always trigger exception.

### Expected behavior
When in a nested transaction panache should  :
* Minimal : Give an understandable error
* Better : Have a default behaviour like "start or join existing"
* Best : Offer control to the developper to choose between "required-existing" and "sub-transaction"
### Actual behavior
Trigge

[2021-03-22 09:17] jtama commented on #15918
Happy to help on this.

[2021-03-22 09:19] FroMage commented on #15912
Yes: we used to get this exception:

[code]

And now, we don't anymore. I can check if we ignore it somewhere, but does it ring a bell @cescoffier ?

[2021-03-22 09:20] wolfomat commented on #10665
Hi there,

quarkus: 1.12.2.Final

i am evaluation quarkus reactive, but currently it is not satisifying.
using jdbc + reactive in one pom.xml / project is currently not possible (using jdbc for schema update as workaround?)

these are my current results:

quarkus.hibernate-orm.database.generation=create will throw this one:

`vert.x-eventloop-thread-0) HRX000021: DDL command failed [java.lang.Unsu

[2021-03-22 09:21] wolfomat commented on #10665
and
`
quarkus.hibernate-orm.database.generation.create-schemas=true`

doesn't do anything....

[2021-03-22 09:21] matjazs opened #15919 "Add support for postgis container images to postgresql DevService"
## Description

DevServices support for PostgreSQL database does not work for `postgis` images. If you specify a custom image, e.g.:

[code]

image name verification fails, since `postgis` is not recognised as a `postgresql` compatible substitute.

I have stumbled upon this issue since our previously working TestContainers configuration stopped working with Quarkus 1.12. Specifying db-kind `other`

[2021-03-22 09:24] mkouba commented on #15908
I've just verified that the graceful shutdown works for simple scheduler (except the shutdown timeout is not interpreted correctly, but that's a different bug in the`io.quarkus.runtime.ExecutorRecorder`). However, we need to implement this for quartz extension because it does not reuse the default quarkus blocking executor.

[2021-03-22 09:38] FroMage commented on #15912
Yeah, DNS failures were not caught early enough. I've added a fix commit to your branch and re-enabled the TCK. Let me know if you run into further issues?

[2021-03-22 09:41] FroMage commented on #15912
I'm running the TCK locally ATM, will let you know the results.

[2021-03-22 09:48] geoand commented on #15912
Great find!

[2021-03-22 09:52] gsmet commented on #15919
Hmmm, could you give me more details about this:

Especially, could you give me the configuration you're trying and that doesn't work?

[2021-03-22 09:53] gsmet commented on #15919
@stuartwdouglas as for the compatible image issue, I wonder if we should trust the user and make all provided images compatible? Because I could see how people would try to use non-standard images.

[2021-03-22 10:00] cescoffier commented on #15912
Wow.... I knew it, it's always an issue with the ~~firewall~~ DNS

[2021-03-22 10:03] mkouba commented on #15908
Unfortunately, it seems that we will be able to enable the graceful shutdown for quartz but we will not be able to honor the timeout property (there is no quartz config option to specify the timeout and `org.quartz.Scheduler.shutdown(boolean)` just blocks until all running tasks are completed). In fact, this should have worked already but there's a missing `@Observes` on this line: https://github.

[2021-03-22 10:15] Sanne commented on #14762
@yrodiere I don't understand your point for "I wish" - could you clarify?

It seems to me that it's avoiding ambiguity, what am I missing?

[2021-03-22 10:23] machi1990 commented on #15908
Good catch.

[2021-03-22 10:24] Sanne commented on #15720
My concern is that it breaks code encapsulation and the ability to modularize complex applications.

Imagine I have two services, `ServiceA` and `ServiceB`.

    @Inject ServiceA a;
    @Inject ServiceB b;

    @Transactional
    public void moveStuff() {
        Thing obj = a.takeOne();
        b.putOne( obj );
    }

As someone who is coding at this level of abstraction, I shouldn't need to worr

[2021-03-22 10:30] FroMage commented on #15912
There's more:

[code]

[2021-03-22 10:35] #15903 closed

[2021-03-22 10:35] gsmet commented on #15903
Thanks for the report @cstancu !

[2021-03-22 10:38] gsmet commented on #15908
Should we throw a build error in this case? Or automatically consider the annotation is here (but I'm not sure of the consequences)?

[2021-03-22 10:38] FroMage commented on #15912
This one is just naughty.

What happens is:

1. we register a failure handler
2. we register a success handler
3. the success handler throws
4. our failure handler is not called

WTF?
What's the workflow then? Do we need to guard every success handler now?

[2021-03-22 10:41] geoand commented on #15877
This happens because Quarkus in dev mode only listens on `localhost` (this is done in order to prevent unauthorized access to the developers machine).

To change this, all you need to do is add `-Dquarkus.http.host=0.0.0.0` to your dev-mode invocation.

[2021-03-22 10:41] #15877 closed

[2021-03-22 10:43] DavideD commented on #15720
it does matter though.
If the method doesn't return a reactive type, there's nothing the application can do to handle the transaction (I think). A user should at least know if the services they are using are reactive or not.

If a user decides to mix the two paradigms, they have to handle the transactions themselves if they are required for subsequent calls.
In your example, the transactional is c

[2021-03-22 10:46] DavideD commented on #15720
[code]

[2021-03-22 10:47] yrodiere commented on #14762
Sorry if that wasn't clear, my point was just below. By spec, `orm.xml` does not even have to be in the same JAR as the `persistence.xml`. Users can avoid ambiguity by specifying the relevant JARs in their `persistence.xml`.

So from my understanding, this JAR content is spec-compliant:

* `my-app.jar`
  * `persistence.xml`
    * PU1
      * `<mapping-file>META-INF/orm.xml</mapping-file>`
      *

[2021-03-22 10:48] mkouba commented on #15908
I don't think we should do this. We could detect a param with a qualifier that is not declared on a producer method or an initializer method but since it's legal to use a qualifier annotation for other non-CDI stuff.

-1

[2021-03-22 10:53] sberyozkin commented on #15880
Hey @danielpetisme @pedroigor we've talked with Daniel a bit more about it on Zulip and agreed we should get some real demand for it - where the endpoints want the tokens with the open ended set of scopes these endpoints are not aware of - which may lead to the tokens containing too much information of access control power without the user even about it, especially if the OIDC provider has not bee

[2021-03-22 10:53] DavideD commented on #15720
But I guess the correct way to write code like that would be:
[code]

[2021-03-22 10:53] Sanne commented on #15720
Sure, like I said in my previous comment: "the method signatures might likely give some hint about one being rective-friendly, but that seems weak to base one's correctness on."

I would agree with you, in the sense that I personally wouldn't mix these. But look at it in terms of maintaining a large enterprise code base, and by that I mean something that's being evolved over time , new technologie

[2021-03-22 11:08] DavideD commented on #15720
I don't think it matters how big the application is, if you mix the two paradigms you need to be aware where the reactive code is or it's not going to work.

If you have reactive code that doesn't return an `Uni` (or similar) somewhere, you will have problems anyway.
In your original example, if  `putOne`  is reactive and nobody awaits for it's conclusion, `moveStuff` will return before `putOne` h

[2021-03-22 11:15] Sanne commented on #15720
I think that's wise what you say. But when I suggested to "ban" the use of Panache Reactive from being used by any non-reactive code I was yelled at by other developers as "too restrictive"..  We might need to make a strong case, write it down, and stand with such a decision of mixing-not-allowed.

If we don't, I'm afraid the expectation of such things to magically work will be something we can't

[2021-03-22 11:22] DavideD commented on #15720
We don't need to ban it.

I think it's fine if a user wants to use a reactive API inside a non reactive method.
My point is that we cannot help them and they have to handle that case on their own.
As far as we know, if the signature of the method is non-reactive, that method is going to be non reactive.

[2021-03-22 11:26] mgwillem commented on #14762
Sorry for the late response.

My use case is the following:
I've 2 legacy libraries, let's call them libA.jar and libB.jar, that are
used by my application.

Compiled for Oracle ... both libA and libB do not contain any
META-INF/orm.xml file.
Compiled for MSSQL ... both libA and libB contain META-INF/orm.xml files
(to override schema and PK generated value [from sequence to identity]).

persistenc

[2021-03-22 11:28] gavinking commented on #10665
To clarify: AFAIK, schema *export* does work in Quarkus with HR. This issue is specific to schema validation and update.

[2021-03-22 11:28] DavideD commented on #15720
I don't think so.  Sure, people will make mistakes in the beginning, but I think they will learn quickly why we cannot make it work.
This is similar to using `.thenAccept` with something returning a `CompletionStage`.

Again, unless I'm missing something and there is actually a way to make it work.

[2021-03-22 11:31] gavinking commented on #15785
This issue is a dupe of #10665. Can we just close it?

[2021-03-22 11:31] Sanne commented on #15720
Right, I think we _could_ make it work - eventually. But I'm not sure yet, it's definitely complex and there's other things we need to face first.

[2021-03-22 11:39] edeandrea commented on #15785
#10665 seems related to this one but not the same use case, although from an implementation standpoint it might be more related?

Essentially what's missing is the ability to validate the schema matches what the application "thinks" the schema should be.

[2021-03-22 11:41] Chexpir commented on #15837
@geoand Thanks. I have updated the info and tested it directly with the gradle quickstart project.

[2021-03-22 11:43] DavideD commented on #15720
Even if we could, I'm not sure we should.

By the way, a more concrete example of mixing the two paradigms is probably something like this:
[code]

This code is valid and it should work without problems, but you cannot expect it to work correctly without the `.await().indefinitely()` part.

[2021-03-22 11:46] Chexpir commented on #15837
Attaching the file here if you want to use directly my generation [my-artifactId.zip](https://github.com/quarkusio/quarkus/files/6181849/my-artifactId.zip)

[2021-03-22 12:03] yrodiere commented on #14762
Almost, thanks. One remaining question: where is the `persistence.xml`? In which file(s)? `libA.jar`, `libB.jar`, or your application jar?

[2021-03-22 12:06] sithmein commented on #14762
In my use case there wouldn't be a `persistence.xml` at all because Quarkus should set up everything.

[2021-03-22 12:14] yrodiere commented on #14762
Sure. I have that in mind too: allow listing mapping files in the Quarkus configuration.

The legacy use cases are much more tricky though, so I'd like to know where the `persistence.xml` file is in @mgwillem 's case...

[2021-03-22 12:31] Alwaysgone opened #15926 "Hot Reload for TLS Keystore"
Hello everyone,

I haven't been able to find anything regarding hot reloading of TLS keystores during Quarkus runtime. I understand that Quarkus is pretty static in its concept, so dynamic reloading of resources while in the production profile is probably out of scope without custom code.
Our current setup for TLS certificates is that we have short lived certificates, a few days vailidity, which a

[2021-03-22 12:40] cescoffier commented on #15912
in netty or in vert.x?

[2021-03-22 12:45] gavinking commented on #14762
That seems like a very fine setup in Java EE where you have assemblies (EARs and WARs) that contain `jar`s. And the domain model might be in the `jar` along with its `orm.xml`, and the `persistence.xml` would quite likely be in the assembly.

But do we have that sort of thing here?

[2021-03-22 12:46] mgwillem commented on #14762
libA.jar and libB.jar contain one META-INF/persistence.xml file each.
In my use case the application jar does not contain any persistence file.

Le lun. 22 mars 2021 à 13:14, Yoann Rodière ***@***.***> a
écrit :

[2021-03-22 12:48] edewit commented on #588
@nimo23 it's an open PR https://github.com/quarkusio/quarkus-quickstarts/pull/286 leave a +1 on it ;)

[2021-03-22 12:48] gavinking commented on #15720
I agree with Davide.

[2021-03-22 12:53] gavinking commented on #15785
From an implementation standpoint I have no idea how I could make schema validation work without also making schema update work by side-effect :-)

All we need to do is make a "mock" JDBC metadata API based on the reactive driver.

[2021-03-22 12:53] ricardozanini commented on #12486
This will fix it: https://github.com/kiegroup/kogito-runtimes/pull/1153/files#diff-2d30dae323db1a67e45320660fe964ca31641cfcfde0f3182c2bfc5a4f9cc281R31

[2021-03-22 12:54] ricardozanini commented on #12486
I'm exporting the extension to the common module. It will fix in my PR. Although, I think we will need to include the fix in this PR as well.

[2021-03-22 12:54] loicmathieu commented on #15782
@stuartwdouglas I don't understand, this is a JAR file and the code path you mentionned is for JAR file so it should ne taken into account.

I don't understand, this is already a separate dep, what should be done with it ? An extension ?

[2021-03-22 12:54] edeandrea commented on #15785
That works for me.

[2021-03-22 12:55] matjazs commented on #15919
Related to the separate issue about failing named-datasource configuration:

The following actually works with 1.12.2, but fails with the latest `main` branch.

Create a starter project:

[code]

Apply the below patch and run the tests.

The `DataSourceTest` will fail if the `secondary` datasource JDBC driver is not configured for the unspecified profile in `application.properties` and will pass i

[2021-03-22 12:55] yrodiere commented on #14762
No, we don't have `<jar-file>` support, even when using `persistence.xml`. There's an exception somewhere being thrown as soon as we detect `<jar-file>` being used.

So that was my point: I don't think we can (fully) support use case 4 without `<jar-file>` support.

Maybe that's fine, maybe that's not; in any case, supporting the other use cases will be a lot of work already, so I'll stick to that

[2021-03-22 12:57] lbilger commented on #3954
@geoand, you asked for reproducible examples of issues. I ran into this issue last week and had a hard time figuring out why your example worked and my code didn't. In the end, I found out that the issue seemed to be data classes that have non-primitive members, e.g. a data class containing a `List` or another data class. I'm not sure if I should open a new issue as this one has been closed for a

[2021-03-22 12:58] evacchi commented on #12486
it looks this is caused by the earlier fix , i.e. adding the http dependency -- is that needed at all there?

[2021-03-22 13:01] geoand commented on #3954
Thanks @lbilger. I'll try to take a look later on this week,

[2021-03-22 13:02] aruffie opened #15927 "[Swagger UI]: no service was found"
Dear,
I have 4 resources, a basic auth, and a cxf soap endpoint on the same project of my 4 rest resources.  --> I got a "no service was found" white page :-( do you have an idea of the problem plz ? bellow all my screenshots

**Expected behavior:**
On other project I don't have the problem, and in this project, when I go to localhost:8080/q/swagger-ui
I expected the same behavior of swagger-ui di

[2021-03-22 13:05] ebullient commented on #15593
Not quite. I put a lid on it (no OOM), if you want to try that and call that an answer to this issue..

Better recognition of patterns for client / server / etc. is still in flight.

[2021-03-22 13:15] FroMage commented on #15912
Vert.x

[2021-03-22 13:19] ricardozanini commented on #12486
Fix: https://github.com/kiegroup/kogito-runtimes/pull/1168

[2021-03-22 13:19] cescoffier commented on #15912
Which API?

CC @vietj

[2021-03-22 13:20] ricardozanini commented on #12486
It's not. And also the property that brings the need for this dependency is also not needed.

[2021-03-22 13:24] FroMage commented on #15912
I'm talking to him on discord, he confirms it's by design that exception handlers are not called if handlers throw. I find that confusing, especially considering `CompletionStage` does, how about Mutiny?

Also I wonder how to handle that, and why it worked in vert.x 3?

[2021-03-22 13:28] loicmathieu commented on #2611
@sberyozkin Unfortunatly `quarkus-security` is still detected as `quarkus` rather than `quarkus-security`.
I can see that the `quarkus-security` CPE exist but the dependency-check plugin still detect `quarkus` with a higest probability :(

[code]

[2021-03-22 13:38] FroMage commented on #15912
@cescoffier we used to have a try/catch in our handler, to handle these cases, and you removed it for the vert.x 4 migration, probably assuming the exception handler would get called, but it doesn't. I'll put it back, but I wonder what other similar assumptions you've made elsewhere? Note that I would have made the same assumption, I find the behaviour counter-intuitive.

[2021-03-22 13:50] FroMage commented on #15912
OK, fixed by putting the handler back. Branch now passes the TCK locally.

[2021-03-22 13:50] #15912 closed

[2021-03-22 14:10] cescoffier commented on #15912
Mutiny calls any subsequent failure handler.

About the removal, yes, I was thinking it would call the handler. My bad, sorry.

[2021-03-22 14:17] mkouba commented on #15837
It seems that the javaagent jvm arg is not set by default for gradle, unlike for maven: https://github.com/quarkusio/quarkus/blob/main/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L826. I was able to make the intrumentation work via:

[code]
Which of course not very user friendly ;-).

CC @glefloch

[2021-03-22 14:19] geoand commented on #15837
Yeah, we definitely need to make this work OOTB

[2021-03-22 14:22] akoufa opened #15928 "RestEasy Reactive Cache annotation support"
## Description

Hello to all. I would like to suggest following enhancement: Support for adding `@Cache` (org.jboss.resteasy.annotations.cache.Cache) annotation to RestEasy Reactive endpoints.

[2021-03-22 14:23] glefloch commented on #15837
Good catch, I'm taking care of it.

[2021-03-22 15:22] mmaggioni-wise commented on #15892
I did some other test, the problem with johnzon is that it require the class to have setters, a default constructor, and it doesn't work very well with collections.
The problem is that if you have a List of objects, the class type is a generic list so you will lose the object type, and when you try to convert it back to object it will result in a List of Map.
I guess with some magic this can be fi

[2021-03-22 15:23] oztimpower commented on #3954
@geoand This is the same issue I described above (complex structures) and why I added troubleshooting notes to the Kotlin documentation. Using the field annotation does overcome it, but may be considered a workaround.

[2021-03-22 15:25] geoand commented on #3954
Ah, thanks @oztimpower, I had forgot!

[2021-03-22 15:57] phillip-kruger commented on #15927
Do you perhaps have a small reproducer?

[2021-03-22 16:04] famod commented on #15892
After all that new info I'd say we should add java serialization support as a short term remedy and keep track of what is happening upstream.
Adding `Serializable` to you record seems like the lesser evil than anything else, until we have something better...

[2021-03-22 16:18] sberyozkin commented on #2611
Hi @loicmathieu thanks for checking it...
Hmm, I'm not sure how to resolve it. Looks like the `vendor` qualifier is wrong for the dependent projects

So we have `quarkus:quarkus` for Quarkus itself, then `quarkus:quarkus-security` for Quarkus Security, etc.
But it should likely be `quarkus-security:quarkus-security` for Quarkus Security, etc

Can you please reformat the table above so that I can l

[2021-03-22 16:42] dinesh-monickaraj commented on #14012
@xmlking I am using Windows 10. I have deployed the same jar combination code in Linux machine as well. Not sure about other OS.

[2021-03-22 16:55] aruffie commented on #15927
Hello @phillip-kruger , what you talking about reproducer ? You want my source code ? I can give you an archive

[2021-03-22 16:56] phillip-kruger commented on #15927
Yea, anything that I can run that reproduce the issue

[2021-03-22 16:59] aruffie commented on #15927
after work I try to generate that. BTW I can remove production login/password ? 😅

[2021-03-22 17:22] sberyozkin commented on #2611
@loicmathieu, hey, no, don't spend your time on reformatting that table, these last 2 lines are sufficient:
[code]

[2021-03-22 18:06] galderz commented on #15706
Re: I miss something handy which would provide more details when comparing two builds of the native-image.

[`-Dquarkus.native.enable-reports`](https://quarkus.io/guides/building-native-image#quarkus-native-pkg-native-config_quarkus.native.enable-reports) is your friend. It outputs several files, including:

* A call tree (useful for seeing which path leads to a certain method being included)

* L

[2021-03-22 18:13] galderz commented on #15706
See the comment I posted earlier today [here](https://github.com/oracle/graal/issues/2129#issuecomment-804109497). The more classes/methods that are part of the application, the longer it takes.

[2021-03-22 18:32] #15837 closed

[2021-03-22 18:34] #15908 closed

[2021-03-22 18:38] sberyozkin commented on #2611
@loicmathieu I've sent the updated files for these projects, lets see how it goes, thanks

[2021-03-22 18:44] sberyozkin opened #15933 "Update OIDC client code to retry if the request failed with Connection Was Closed"
## Description

It affects both `quarkus-oidc` and `quarkus-oidc-client` - if the connection error has happened after the initial connection was established, for ex, the connection was dropped, then, as recommended by Clement, it makes sense to retry.

## Implementation ideas

I've seen this `Connection was closed` only once, today, so it is quite rare - but for the moment I'll just add say 3 retr

[2021-03-22 19:47] pjgg opened #15934 "Grpc is giving a connection refuse on upstream"
## Describe the bug

On main branch we are getting the following error (GRPC):

[code]

Reproducer: [Quarkus-quickstarts/grpc-plain-text-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/grpc-plain-text-quickstart) or [beefy-scenarios](https://github.com/quarkus-qe/beefy-scenarios/tree/main/009-quarkus-infinispan-grpc-kafka) pointing to main branch `999-SNAPSHOT`

Works on 1.1

[2021-03-22 19:52] eriknyk commented on #15884
same here,
I need to send logs to Loggly, it has its logback appender also and I'm now finding the way to make this working

https://documentation.solarwinds.com/en/Success_Center/loggly/Content/admin/java-logback.htm?cshid=loggly_java-logback.

I can see in quarkus logging docs, that it supports Sfj4j and exists and adapter for it, documented in the following url

https://quarkus.io/guides/loggin

[2021-03-22 19:53] BrainShit opened #15935 "Unable to use @Authenticated with resteasy-reactive and smallrye jwt with proactive auth disabled"
## Describe the bug
I'm not 100% sure if this qualifies as a bug or as a "working as intended".

When you are using resteasy-reactive together with smallrye jwt and turn off the proactive authentication you are unable to use any of the Annotations, @Authenticated @RolesAllowed and @PermitAll as the log says getting the entity would result in a blocking operation. Meaning that those annotations wou

[2021-03-22 20:20] #15416 closed

[2021-03-22 20:40] atrosin opened #15937 "Configuration error after running application on Proguard: Exception in thread "main" java.lang.RuntimeException: Failed to start quarkus"
After running proguard on my application
(Proguard config file attached below)
and running output.jar with java -jar output.jar command I getting an error you see below

I have tried to insert some values(initial-size=0,isolation-level=none) for these properties in application.properties file, but the error appears with another configuration options and the error value is always "5M".

### Expecte

[2021-03-22 21:11] aruffie commented on #15927
@phillip-kruger  good evening, bellow my project which cause the problem (I only removed the cassandra host/login/password by a dummy connection's information)
[quarkus-dalkia-ticket-loader-issue.zip](https://github.com/quarkusio/quarkus/files/6185305/quarkus-dalkia-ticket-loader-issue.zip)

If you can found the problem ... I don't understand why

[2021-03-22 21:27] matjazs commented on #14829
I have only recently updated our Quarkus dependencies and found out that loading postgresql driver parent-first, causes our previously working, Postgis related, @QuarkusTest-annotated tests to fail.

Our test methods are failing when comparing:
- instances of `org.postgis.PGgeometry` loaded from database within the same test method using the JDBC ResultSet and the injected Agroal data source, to
-

[2021-03-22 22:34] sberyozkin commented on #15935
Hi @stuartwdouglas,  @geoand, I recall this issue was discussed, but there we had a code manually accessing the injected `SecurityIdentity`.
In this case I believe the user has `JsonWebToken` injected - @BrainShit - do you have it injected or do you only use the annotations ?

[2021-03-22 23:13] stuartwdouglas commented on #15919
The driver issue is because you have not included our postgresql extension, just the driver directly.

I am not sure how it worked previously.

[2021-03-22 23:24] tttomat19 commented on #15888
Thanks for feedback.

So I made a fix. It really works for me. Overall startup time improved by 18 seconds (from 25 down to 7 seconds).

tbh I do not fully understand the native part. Does it require a lot of testing?

Hibernate code itself obviously should not break while using this property. But can it break some quarkus internals?

[2021-03-22 23:26] famod opened #15940 "`@Blocking` on resource is ignored if implementing an OpenAPI-generated interface"
## Describe the bug
When generating interfaces from a OpenAPI defintion file via https://github.com/OpenAPITools/openapi-generator, all Jax-RS annotations are added to the interface so you don't have to repeat them in your actual resource that implements the interface.
If you decide that you need `@Blocking`, you have to put it in the interface to have it recognized.

### Expected behavior
Since b

[2021-03-22 23:27] stuartwdouglas commented on #15912
Does this mean that QuarkusErrorHandler will no longer take effect? If so how do you do HTTP error handling now if exception handlers are not called?

[2021-03-22 23:33] famod commented on #15940
I think this is more something for you @cescoffier or @geoand or @FroMage.

[2021-03-22 23:50] shumonsharif commented on #15927
@aruffie We have an open ticket already which I believe will address this issue once it's fixed:  https://github.com/quarkiverse/quarkus-cxf/issues/124

For now, and as already suggested to you before, are you able to specify `quarkus.cxf.path` as per https://github.com/quarkiverse/quarkus-cxf/issues/176#issuecomment-799382013 ?  That seems to allow access to your swagger-ui?

[2021-03-23 01:25] #13277 closed

[2021-03-23 02:34] stuartwdouglas commented on #15664
@mkouba maybe for singleton/application scoped beans we could destroy them and re-created them.

I am beginning to wonder if we should disable instrumentation by default, so those with large projects where it really matters can enable it. We could print an INFO message about enabling it if hot reload is taking a while (e.g. longer than 1s)

[2021-03-23 05:30] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/678467323

[2021-03-23 05:46] stuartwdouglas commented on #15934
Quickstarts fix is here:  https://github.com/quarkusio/quarkus-quickstarts/pull/820

Basically we changed the test port from 9000 to 9001 so it does not conflict with a running app.

[2021-03-23 05:50] stuartwdouglas commented on #15892
We should look at adding some hooks into JUnit so we no longer require this copying.

[2021-03-23 06:06] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/678473665

[2021-03-23 06:19] geoand commented on #15892
That would definitely be the best thing to do

[2021-03-23 06:21] Sgitario opened #15943 "OpenShift: We can't provide Java arguments"
## Describe the bug
Before [this PR](https://github.com/quarkusio/quarkus/pull/15670) was merged, we could add Java arguments via the jvmArgs properties (which was wrong and fixed as part of this PR). However, now we don't have any properties or way to add real Java arguments.

As an example, the args section in the YAML look like:

[code]

And what we can't achieve is to add Java arguments:

[cod

[2021-03-23 06:24] cescoffier commented on #15912
@stuartwdouglas No, in this case, it should be called. At least I didn't see any failure related to that (do we have tests?)

[2021-03-23 06:27] masini opened #15944 "Smallrye MQTT HiveMQ Extension"
## Describe the extension
Smallrye HiveMQ Extension allows native compilation of the new smallrye-mqtt-hivemq connector

## Additional context
The connector is yet created with another PR (https://github.com/smallrye/smallrye-reactive-messaging/pull/1081), we only need this to use the new ExcludeArtifactBuildItem that exclude the jar from Arc scanning.

[2021-03-23 06:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/678468356

[2021-03-23 06:28] geoand commented on #8593
`org.apache.camel.quarkus.component.grpc.it.GrpcTes` failed @jamesnetherton. Maybe it's just a flake

[2021-03-23 06:39] cescoffier opened #15945 "MongoDB Health Check may be waiting forever"
## Describe the bug

The MongoDB Health checks are waiting forever (30s as that's the default Mongo timeout) if the MongoDB server does not reply.

### Expected behavior

The health check endpoint should reply in a timely fashion.

### Actual behavior

Wait 30s, actually wait 30s per client when the brokers are not available.

## To Reproduce

Here is a google drive link with a reproducer:
https:/

[2021-03-23 06:43] stuartwdouglas commented on #15892
https://github.com/junit-team/junit5/issues/2579

[2021-03-23 06:44] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/678468356

[2021-03-23 06:44] geoand commented on #12111
Master is currently broken, see https://github.com/quarkusio/quarkus/pull/15946

[2021-03-23 06:48] geoand commented on #15892
Subscribed

[2021-03-23 07:00] phillip-kruger commented on #15927
@shumonsharif thanks for your reply. I believe we can then close this ? @aruffie ?

[2021-03-23 07:19] Postremus opened #15947 "Resteasy Reactive - Arraylist is an Invalid parameter typ"
## Describe the bug
During the migration from Resteasy Classic to Resteasy Reactive of one of my applications, I got the stacktrace from below during compilation.

I investigated this problem a bit, and found following resource to be the culprit:
[code]

Replacing the ArrayList with a simple java.util.List, the code compiles and I can call the resource.
This worked flawlessly with ArrayList in Res

[2021-03-23 07:19] jamesnetherton commented on #8593
Failed on our nightly Quarkus SNAPSHOT build too, so I need to take a look into it.

[2021-03-23 07:20] aruffie commented on #15927
good morning @phillip-kruger  no plz because I haven’t investigated the @shumonsharif  ticket yet because I’m at work, I’ll try to see later. but until I have solved the problem I prefer to leave it open, because it is for a proof of concept of my business so business. It's very important for me to validate the Quarkus' utilisation possibility

[2021-03-23 07:26] #15442 closed

[2021-03-23 07:44] geoand commented on #15947
Does it work if you use `List` instead of `ArrayList`?

[2021-03-23 07:45] Postremus commented on #15947
@geoand  yes, that does work.

[2021-03-23 07:56] BrainShit commented on #15935
I only use the annotations atm.

[2021-03-23 07:57] mkouba commented on #15664
I'm not quite sure this would help.

Well, from my experience features that are not enabled by default are rarely used.

Like I mentioned - I believe that it's not only about the time it takes to reload. With instrumentation enabled you can modify the logic without losing the state. And that can be very useful.

In any case, the current way of disabling instrumentation is quite verbose: `-Dquarkus

[2021-03-23 07:59] geoand commented on #15947
Thanks for the confirmation!

[2021-03-23 08:04] markusdlugi commented on #15042
Hi @gsmet, how should we proceed with this one? As stated above, the original error (HTTP 406) that was only present with multiple media types is fixed. However the media types are not handled as one would expect (e.g. a header of `Accept: application/hal+json` uses the `MessageBodyWriter` for `json` instead of `hal+json` (or `hal`, as suggested by @FroMage). Should we close this issue and open a

[2021-03-23 08:24] gsmet commented on #15042
It's probably better to open another issue with a full description of what we want to achieve. I will close this one.

[2021-03-23 08:24] #15042 closed

[2021-03-23 08:25] cescoffier commented on #15945
@loicmathieu I wonder about the current check strategy. It does a query against the "admin" database, which may not be accessible to the user.

After a bit of research (basically stackoverflow :-)), I've found another strategy that would just list the databases. Should be switched?

an alternative would be to allow the user to configure the database to query (and fallback to admin).

WDYT?

[2021-03-23 08:26] pjgg commented on #15934
Do you think that make sense create a new property called: `quarkus.grpc.clients.<service_name>.test-port` as `quarkus.http.test-port`

[2021-03-23 08:29] axblu commented on #6948
+1

[2021-03-23 08:33] matjazs commented on #15919
I have updated the reproducer for the driver configuration issue and included the postgresql extension: https://github.com/matjazs/quarkus-test-named-vs-default-datasource-config

We actually do have a postgresql extension included in our code, but I have excluded it in reproducer initially to present the minimal setup causing the error we get in our code. Adding the extension doesn't really chang

[2021-03-23 08:36] #15852 closed

[2021-03-23 08:43] geoand commented on #15935
Hey @sberyozkin

I personally don't remember anything about this, so anything you and Stuart agree on is obviously fine with me :)

[2021-03-23 08:45] lburgazzoli commented on #5511
@fmhwong @gsmet

I've missed this for quite a long time :)

I've not followed hibernate-validator evolution since a while so I don't know if this has somehow been implemented

[2021-03-23 09:29] loicmathieu commented on #15945
I remember that the first implementation was to list databases and we switch to do a query to the admin database, I'll need to check why.

There is also the issue that when using MongoDB with Panache we setup both the sync and reactive client even if the user only use one of the two. So the health check would be done on both client.

[2021-03-23 09:50] jerboaa commented on #14904
PR for `integration-tests/artemis-core` and `integration-tests/artemis-jms`: https://github.com/quarkusio/quarkus/pull/15952

[2021-03-23 10:11] Sgitario opened #15953 "Regression issue: Exception when using OpenShift/Kubernetes extensions and having an external Ansi dependency"
## Describe the bug
We are getting an exception when using the OpenShift/Kubernetes extensions and having a third party dependency like:

[code]

When we build our application, it fails with:

[code]

This is a regression issue caused by [this change](https://github.com/quarkusio/quarkus/commit/e7acfd4a687e75aaab37f6c0778b678a0ae2a629).

### Expected behavior
The application should work as before

[2021-03-23 10:12] Sgitario commented on #15953
/cc @iocanel

[2021-03-23 10:18] iocanel commented on #15953
I agree! The `NullLogger` should be used instead. This will probably need to be addressed on the dekorate side.

[2021-03-23 10:30] Sgitario commented on #15953
If you know any workaround, please let me know. This is a blocker for building our test suite against main atm :(

[2021-03-23 10:59] Sanne commented on #15888
Nice, thanks.

For the native aspects, yes it typically requires a lot of testing but I don't think it's the case here: if you had it wrong it would fail on any of the existing tests.

If you could send a pull request with your patch and ideally include an integration test we'll be happy to review; sending a PR will also trigger CI to run all native tests: so don't worry about it, if it breaks we'

[2021-03-23 11:14] sberyozkin commented on #15935
Hey @geonard, there was a discussion at #13835 awhile back, @stuartwdouglas fixed that issue with [this commit](https://github.com/quarkusio/quarkus/commit/b0246e2244796979e3052982ea94ab28e2ee2f20#diff-4d752707b4d76a74e7e3da06e9ce3f66990d2f31361f669967f81b36e524c792).

I'm not even sure this issue is specifically related to `smallrye-jwt` in general since the `proactive-auth` is disabled and the e

[2021-03-23 11:40] stuartwdouglas commented on #15934
https://github.com/quarkusio/quarkus/blob/0a42b6c35c1e37a34e97f8b4f94407a5bef7e193/extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/config/GrpcServerConfiguration.java#L24

The issue is the client, generally apps won't be connecting back to themselves, so I don't think it makes sense to change the client to default to 9001 in test mode.

[2021-03-23 11:41] stuartwdouglas commented on #15919
I added the extension to the diff based reproducer above and it worked.

[2021-03-23 11:58] #15919 closed

[2021-03-23 12:23] #13838 closed

[2021-03-23 12:25] #15880 closed

[2021-03-23 12:33] matjazs commented on #15919
That's strange, I have tried with locally built Quarkus snapshot using the latest main branch and also the one from Sonatype. The extension I have added is:
[code]

Maven and Java version
[code]

The test is still failing, am I missing something here?

[2021-03-23 13:04] geoand commented on #15947
We can support this, but are we sure we want to?

@FroMage WDYT?

[2021-03-23 13:26] geoand commented on #15940
We could certainly also consult the implementation class (it makes perfect sense to do so), however this seems to be a general issue - we only seem to consult the annotation from the interface.

@FroMage do you remember if the spec mentions something specific about this?

[2021-03-23 13:33] geoand commented on #15891
@StFS can you add the code you ended using so we can have a reference of what we want to achive / simplify?

[2021-03-23 13:57] FroMage commented on #15940
https://quarkus.io/specs/jaxrs/2.1/index.html#annotationinheritance says:

So we should look at whatever source has any JAX-RS annotation. Also note that superclass is favoured over superinterfaces.

[2021-03-23 14:02] aadityasinha-dotcom commented on #15937
Hey, can I work on this issue?

[2021-03-23 14:02] geoand commented on #15940
Very interesting, thanks!

[2021-03-23 14:05] FroMage commented on #15947
https://quarkus.io/specs/jaxrs/2.1/index.html#resource_field only mentions `List`.

I'm not sure why it would be useful to force an implementation class for `List` such as `ArrayList`.

ATM we do inject with `SingletonList`, `EmptyList` or `ArrayList`, so it's not even as if we always inject an `ArrayList`.

[2021-03-23 14:06] geoand commented on #15947
Yes, this is exactly why I brought it up :)

[2021-03-23 14:20] mmusgrov commented on #15720
Even though XA transactions block they can still work with reactive flows
as long as one understands that items only become available when the
associated transaction completes.
But I don't think it is reasonable to expect a non-blocking implementation
of XA transactions since XA is blocking by design.

If more than one resource is used by the @Transactional method then those
resources need to supp

[2021-03-23 14:21] gastaldi commented on #15944
Created https://github.com/quarkiverse/quarkus-hivemq-client with sample code (please keep package names and groupId/artifactId) and added @masini as the maintainer

[2021-03-23 14:21] #15944 closed

[2021-03-23 14:24] gastaldi commented on #15944
@masini See https://github.com/quarkiverse/quarkiverse/wiki/Release#perform-the-release for instructions on how to release your extension. After the release is performed, can you announce it on the `quarkus-dev` mailing list? Here is an example: https://groups.google.com/g/quarkus-dev/c/Pu7vsWBAF40/m/2Nh30DypAQAJ

[2021-03-23 14:24] Ladicek commented on #3217
I've pushed something that behaves, I believe, reasonably well -- both with instrumentation and full restart (tested with Kafka and AMQP on Artemis). I'm pretty sure there are some small windows for message loss, but frankly, I don't think that's a big deal in dev mode. I still need to figure out how to write tests.

[2021-03-23 14:28] gavinking commented on #15720
In my opinion, `@Transactional` doesn't imply an XA transaction. It just means "some sort of container-demarcated transaction". It can absolutely be a resource-local transaction, which it would be (at least initially) in the reactive case.

[2021-03-23 14:30] michalszynkiewicz commented on #15883
I create an example project that demonstrates using gRPC Web with Quarkus (with Envoy): https://github.com/michalszynkiewicz/quarkus-grpc-web

[2021-03-23 14:42] FroMage commented on #15756
The problem, as always, is that I can't seem to be able to reproduce this.

[2021-03-23 14:58] cescoffier commented on #15883
Awesome! Deserve a blog post :-D

[2021-03-23 15:03] masini commented on #15944
Great George, thank you for pointing me in the right direction.

Il giorno mar 23 mar 2021 alle ore 15:24 George Gastaldi <
***@***.***> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2021-03-23 15:04] gavinking commented on #15720
Of course, but for now we simply don't need to support multi-resource transactions in order to have some sort of minimal support for `@Transactional` with reactive.

[2021-03-23 15:06] cescoffier commented on #3217
Awesome, did you open a PR?

[2021-03-23 15:06] cescoffier commented on #3217
Data loss should be mitigated by missing ack - so basically, it should be still in the queue / topic

[2021-03-23 15:09] mmusgrov commented on #15720
We can have a reactive API even when XA resources are used and I submitted
just such a proposal in one of the other threads. But internally we will
use blocking threads (in the xa_ calls to the drivers).

On Tue, Mar 23, 2021 at 3:02 PM Sanne Grinovero ***@***.***>
wrote:

--
Michael Musgrove
***@***.***

JBoss, by Red Hat
Registered Address: Red Hat Ltd, 6700 Cork Airport Business Park, Kinsale
R

[2021-03-23 15:18] masini commented on #15944
George I need to understand well the philosophy, I modified the SmallRye
MQTT Extension to add build steps that allow HiveMQ native compilation.

How I see that you are proposing a general extension for HiveMQ, and I
agree.

But then how can I merge that with the work I did into the SmallRye PR ?

Il giorno mar 23 mar 2021 alle ore 16:02 Luca Masini ***@***.***>
ha scritto:

--
*******************

[2021-03-23 15:20] Sanne commented on #15720
Ok fair enough. Could we detect the use of multiple resources and throw a meaningful exception? My only concern really is not against the annotation nor API but to be cautious about the risk of things to "appear working" when in fact they won't be transactional.

[2021-03-23 15:20] Ladicek commented on #3217
Need to create some tests, PR will obviously follow.

[2021-03-23 15:29] gastaldi commented on #15944
@masini I believe your SmallRye PR needs to be merged first and released. Then I think this extension needs to depend on the `quarkus-smallrye-reactive-messaging-mqtt` extension (which contains the new release).

I am a bit curious on why the need to having a separate extension instead of having them in the `quarkus-smallrye-reactive-messaging-mqtt` extension directly. Maybe @cescoffier can explai

[2021-03-23 15:49] #15575 closed

[2021-03-23 15:49] glefloch commented on #14012
Does anyone still have the issue with Gradle 6.8.3 ?

[2021-03-23 16:13] DavideD opened #15959 "Multitenancy for Hibernate Reactive"
Hibernate Reactive [supports multitenancy](http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_custom_connection_management_and_multitenancy)
but The hibernate reactive extension doesn't have an equivalent for the property `hibernate.vertx.pool.class` that's it needed to pass a custom `ReactiveConnectionPool`.

[2021-03-23 16:45] jerboaa commented on #14904
At this point most of the Random/SplittableRandom related failures should be fixed. I haven't done a full run, but it would be good to get one done with quarkus master to see what's still left. @zakkak could you help with that?

[2021-03-23 16:46] gavinking commented on #15959
I am still of the opinion that we should move away from depending on Hibernate stuff for multitenancy in Quarkus.

[2021-03-23 16:58] mrizzi opened #15961 "REST Data Panache: JPA Entity with multiple associations not consistently updated"
## Describe the bug
When an `Entity` has multiple JPA associations (i.e. `ManyToOne`, `ManyToMany` and `OneToMany`), a removal to the `ManyToOne` field is not persisted when doing a `PUT` call.

### Expected behavior
Get all the fields updated.

### Actual behavior
The `ManyToOne` field is not part of the update.

## To Reproduce
The reproducer is available at [multiple-associations/hibernate-orm-

[2021-03-23 17:07] sberyozkin commented on #11886
@MarcusBiel  @stuartwdouglas I'm going to prioritize on this issue asap - we are getting too many user queries asking for the resource specific authentication mechanism support.

[2021-03-23 17:11] jerboaa opened #15962 "java.lang.NoClassDefFoundError: com/oracle/svm/core/jdk/LocalizationFeature"
## Describe the bug
When running `integration-tests/jpa-mariadb` on quarkus master with a recent [Graal VM CE build](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20210323_1605) (21.1.0-dev) in `-Dnative` mode I see NCDFE and ClassNotFoundException for Graal VMs `LocalizationFeature`. This seems to be related to Quarkus' generated autofeature.

### Expected behavior
No s

[2021-03-23 17:12] jerboaa commented on #15962
@zakkak @gsmet FYI.

[2021-03-23 17:17] famod commented on #15867
I'll close this once for testing purposes, now that the PR was merged. Should be re-opened automatically tomorrow morning.

[2021-03-23 17:40] geoand commented on #15947
I say let's leave things as they are for now.
Switching to `List` is super easy for users and it's probably best we don't overcommit to such details that could perhaps could back to bite us in the future

[2021-03-23 17:40] #15947 closed

[2021-03-23 17:47] Sanne commented on #1658
Both the Oracle Database team and the GraalVM team have been very helpful; it's not as polished as I'd hoped for but this works:
 - https://github.com/quarkusio/quarkus/pull/15964

To be more polished IMO it should not rely on the above flags ^, but the specific order of the directives we generate seem effective enough to override the most critical ones. In parallel the Oracle JDBC team has sugges

[2021-03-23 17:49] sberyozkin commented on #2611
@loicmathieu Hi Loic - it was not accepted since the CPE team believes `quarkus` as in `quarkus:quarkus-security` etc is a correct vendor qualifier therefore a likely problem is with the OWASP plugin itself. The CPE team does not believe that matching `quarkus-security` (ex, `pkg:maven/io.quarkus.security/quarkus-security@1.1.3.Final`) against the `quarkus:quarkus` CPE names is correct.

Can you g

[2021-03-23 17:50] famod commented on #15940
Which wouldn't solve my problem, would it?

I do understand the spec part, but `io.smallrye.common.annotation.Blocking` isn't really a JAX-RS annotation, IMO.

[2021-03-23 17:58] geoand commented on #15940
It isn't true, but I am not entirely convinced we should differentiate the standard behavior here.

[2021-03-23 18:07] #10646 closed

[2021-03-23 18:14] janknobloch opened #15966 "ClassNotFoundException using quarkus-micrometer-registry-prometheus / quarkus-smallrye-graphql"
Hi all,

i hope its not a maven hickup on my side, I deleted my local repo and could reproduce the error.

## Describe the bug
Quarkus 1.12.2 Final using quarkus-micrometer-registry-prometheus:

[code]

[code]
maybe in conjunction with  :

[code]
@phillip-kruger (since I think you are working on a lot of graphql matters and im not sure about if this is a graphql issue)?

I get the following except

[2021-03-23 18:17] ebullient commented on #15966
IIRC graphql does require smallrye metrics (if metrics is enabled) .. we should probably add the SPI to that extension until the dep goes away.

[2021-03-23 18:46] phillip-kruger commented on #15966
@jmartisk - this rings a bell. Did you fix this ?

[2021-03-23 18:55] phillip-kruger commented on #15966
I think (@jmartisk to confirm) that this is fixed here: https://github.com/smallrye/smallrye-graphql/pull/688 but this is not in any release version yet, and the fix is only in the main branch, so will only be in Quarkus later (when supporting MP4). Except if we backport

[2021-03-23 19:11] Faboli7 opened #15967 "Resteasy Rest Client: New exception behavior logs a stacktrace"
## Describe the bug
Hi,
I have a project using `quarkus-resteasy-jsonb` and `quarkus-rest-client-jsonb` and since I migrated to quarkus 1.12 and its [new way of handling rest client exceptions](https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.12#rest-client-exceptions), when a rest client returns a response with status >= 300, an error with stacktrace is logged when resteasy wraps the o

[2021-03-23 19:53] ebullient commented on #15966
PR to add that dep back (for now).

Which example was it? we should update that, too, I suppose.

[2021-03-23 19:54] #10499 closed

[2021-03-23 19:59] phillip-kruger commented on #15966
I don't think it was ever there....
You need to add metrics yourself, then we auto enable it.

[2021-03-23 20:08] janknobloch commented on #15966
I was referring to:
https://quarkus.io/guides/micrometer

maybe a note for users of Graphql exension mentioning the missing dep stated above would be sufficient for now?

[2021-03-23 20:35] ebullient commented on #15966
I can add to both guides (probably better)

[2021-03-23 20:41] geoand commented on #15962
Was the class in question replaced with some other class?

[2021-03-23 20:45] geoand commented on #15962
I'll have a look tomorrow morning

[2021-03-23 20:48] #15966 closed

[2021-03-23 20:50] michalszynkiewicz opened #15970 "Upgrade Reactive Rest Client to MP Rest Client 2.0"
see https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/MicroProfile.204.2E0/near/231537705

[2021-03-23 21:55] aruffie commented on #15927
Ok @phillip-kruger  & @shumonsharif  after many testing by specifying CXF path and RestEasy path, two cases apprears ...

**First case:**
I specify only **quarkus.resteasy.path** and without **quarkus.cxf.path**
![quarkus-soap-ok1](https://user-images.githubusercontent.com/80361700/112223066-ada8ca00-8c29-11eb-8555-4f9c5026cb9c.png)

And I got correctly my Soap Endpoint working like bellow:
![quar

[2021-03-23 22:03] zakkak commented on #14904
Sure, I started https://github.com/zakkak/graalvm-quarkus-ci/actions/runs/681073992 to test latest Quarkus with latest GraalVM.

[2021-03-23 22:12] stuartwdouglas commented on #15919
Ah, I just added the extension and dev mode started working. This appears to be a config issue with profiles rather than something data source specific, I am investigating.

[2021-03-23 22:19] famod commented on #15940
Right now, this issue is not a big deal for my current project. We just add it to a mustache template we have to override anyway and everything is blocking (which suites our current needs).

But as soon as we want to have certain calls non-blocking, things will be come verbose:
We would either need to introduce a vendor extension to control when to generate `@Blocking`, which pollutes the OpenAPI

[2021-03-23 22:39] stuartwdouglas commented on #15919
@radcortez this is caused by https://github.com/quarkusio/quarkus/commit/8d85f2299f4b0565fee348bed5bba5a711032a1e

calling ConfigSource.getPropertyNames() won't take profiles into account, so if the name is only defined in a property it will be ignored and the value won't be set.

What issue is this commit fixing? I think we need to revert it, and add a test for this scenario in our test-extension

[2021-03-23 23:04] shumonsharif commented on #15927
@aruffie I'm not sure what exactly your use case is, but the setup below works perfectly fine for me.

[code]

Your swagger-ui will be accessible and functioning at:  http://localhost:8080/q/swagger-ui/
Your CXF "Available SOAP services" will be accessible and functioning at:  http://localhost:8080/soap/

[2021-03-23 23:15] stuartwdouglas commented on #15912
ok, I was just wondering about that comment above.

[2021-03-23 23:35] famod commented on #15892
+💯 for the junit enhancement, but until that is available?

[2021-03-24 00:11] stuartwdouglas commented on #15935
So I don't know what we can do here in terms of a proper fix. We could look for the annotations on the resource and perform authentication if they are found, however this won't help if the resource calls another protected bean.

[2021-03-24 00:15] radcortez commented on #15919
The commit was to fix the issue reported in https://github.com/quarkusio/quarkus/issues/15389.

Since the defaults were registered in main properties, if you change the runtime profile, these may not be valid anymore, so I ended up registering all profiles in the default to be handled in the same way.

[2021-03-24 00:18] radcortez commented on #15919
Let me have a look and I'll fix this.

[2021-03-24 04:48] #15735 closed

[2021-03-24 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/681928252

[2021-03-24 06:19] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/681929304

[2021-03-24 06:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/681929304

[2021-03-24 06:38] geoand commented on #15940
I see your point.

I'll think about it a bit more

On Wed, Mar 24, 2021, 00:19 Falko Modler ***@***.***> wrote:

[2021-03-24 07:17] aruffie commented on #15927
Sorry @shumonsharif  but I think, you didn't understand that I said 😊 The URL(s) are available,
but the SOAP service don't work properly, by using your configuration I got the same problem:
![cxf-1](https://user-images.githubusercontent.com/80361700/112269346-8c22ff00-8c78-11eb-8801-31865549931c.png)
![cfx-2](https://user-images.githubusercontent.com/80361700/112269348-8cbb9580-8c78-11eb-9f0d-f891

[2021-03-24 07:45] gsmet commented on #15389
Reopening this as I had to revert the commit for the Final.

[2021-03-24 08:10] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/681934749

[2021-03-24 08:59] grumpyrodriguez commented on #15664
Even the comments here are helpful in (more or less) understanding what's going on. Based on what I've read so far, please consider @stuartwdouglas 's suggestion and allow users to choose the method to be used for hot reload.
I can see how keeping state and just hot reloading methods may help, but it would be great if users could choose whether or not they want this and if this was briefly documen

[2021-03-24 09:04] mkouba commented on #15664
Yes, `-Dquarkus.live-reload.instrumentation=false` disables the instrumentation. But I don't think it's even mentioned in the docs.

[2021-03-24 09:04] gsmet commented on #15664
@grumpyrodriguez just add `quarkus.live-reload.instrumentation=false` and things will be back to the way it was.

@stuartwdouglas @mkouba while I agree instrumentation has its perks, our previous live reload had a lot of success and one of the reasons was that it always worked and you didn't have weird edge cases.

[2021-03-24 09:08] pjgg commented on #15934
Thank you!,

So on test mode, the Grpc server port has been changed to `9001` so If we are running some test against our local environment we should add `%test.quarkus.grpc.clients.hello.port=9001` to our `application.properties`

[2021-03-24 09:13] FroMage commented on #15961
CC @gytis

[2021-03-24 09:39] jmartisk commented on #15966
A bit late to the party... anyway,
Yeah https://github.com/smallrye/smallrye-graphql/pull/688 will remove the dependency of SmallRye GraphQL on the MicroProfile API and GraphQL will be able to run with Micrometer directly, without the MicroProfile-Micrometer shim, and without depending on the MP Metrics API.
Until now, running GraphQL with the Micrometer extension was possible, but with adding the

[2021-03-24 09:47] phillip-kruger commented on #15966
I think we should just backport your fix and do a new release and when pulling it into Quarkus remove this ? w.d.y.t ?

[2021-03-24 09:53] Alwaysgone opened #15981 "Misleading Embeddable Configuration Documentation"
When trying to embed a configuration from another module in a Quarkus service I came across [this](https://quarkus.io/guides/config-reference#embedding-a-configuration-file-inside-a-dependency) documentation. In there it says that the properties file for the microprofile config's path should be `META-INF/microprofile.properties`. That does not work and after some digging I found one of your integr

[2021-03-24 10:03] markusdlugi opened #15982 "Resteasy Reactive: Enhance support for media types with suffix"
## Description

Follow-up to #15042. Media types with suffixes such as `application/hal+json` behave counterintuitively in Resteasy Reactive. For example, a `MessageBodyWriter` for `application/hal+json` is never used, but instead the normal provider for `json` is used since the suffix (`json`) is prioritized over the actual subtype (`hal`).

## Implementation ideas

See discussion in #15042, or m

[2021-03-24 10:07] jerboaa commented on #14904
@zakkak Thanks. In the spirit of teach a man to fish, what would be the steps to do this myself? Anyway, most issues are now #15962 which is unfortunate since we still have lots of noise :(

[2021-03-24 10:12] jmartisk commented on #15966
It's strictly speaking a breaking change because the metrics will go through Micrometer directly rather than through the MP Metrics bridge, so they will, at minimum, lose the `scope` tag.
But if that's not considered a problem, I think we could do it

[2021-03-24 10:29] geoand commented on #12111
It seems like CI running out of memory when running the documentation related tasks

cc @gsmet

[2021-03-24 10:37] #15501 closed

[2021-03-24 10:37] #15510 closed

[2021-03-24 11:10] geoand commented on #15940
https://github.com/quarkusio/quarkus/pull/15987 should take care of it

[2021-03-24 11:25] gsmet commented on #8145
@radcortez any chance you could have a look at this one? It's a problem for the Camel team.

It might warrant a discussion and in this case, let's organize one.

Thanks!

/cc @lburgazzoli

[2021-03-24 11:30] radcortez commented on #8145
Sure, I'll have a look.

[2021-03-24 11:31] sberyozkin opened #15988 "keycloak-authorization blocks Basic Auth request when both Basic and OIDC (with keycloak-authz) are enabled"
## Describe the bug
`keycloak-authorization` expects that it is only `quarkus-oidc` which is used to authenticate hence if other authentication mechanism is used then it will block it if the mode is enforcing

### Expected behavior
Ignore the requests where `SecurityIdentity` does not have `AccesstokenCredential` registered by `quarkus-oidc` meaning some other mechanism created `SecurityIdentity`.

[2021-03-24 11:55] loicmathieu commented on #15945
Now I remember why we do this, the ping command is lightweigth and made for this purpose, a health check of the connection.
Some MongoDB user may not be able to list the databases that's wy it's better than list database.

Now, if the admin database is not accessible to the user, maybe we need to use a different one, there is an authSource from the credential config, or the `database` property (us

[2021-03-24 12:08] loicmathieu commented on #15945
By the way, there is also the issue that both sync and reactive client are available anytime with Panache even if we only use one of the two. This is a known issue that can significantly add some latency to the health check.

[2021-03-24 12:33] geoand commented on #15981
cc @radcortez

[2021-03-24 12:39] dwamara opened #15991 "Readiness shows database connection although no database configured"
## Describe the bug
There is an entry in my healthcheck that leads to think that there is a database attached to the application when there is none

### Expected behavior
No entry for a database check should appear

### Actual behavior
Although there is no database configured in my application the Readiness check still returns an UP for a database connection, which leads to confusion. There should

[2021-03-24 12:43] sberyozkin commented on #15935
Hi Stuart @stuartwdouglas that sounds fine, the first resource (or multiple resources accessible directly) in the line is the frontend one so we can say - this is the security wall - anything that follows is not part of this frontend resource security wall (from the point of HTTP level security...). Does it sound reasonable ?

[2021-03-24 12:59] shumonsharif commented on #15927
@aruffie Your screenshot shows that didn't update your SOAP-UI project to point to the correct URL.  Would suggest you review some of the docs for both CXF and the quarkus-cxf extension.

You need to point to the **WSDL location** in SOAP-UI, so instead of http://localhost:8080/soap/, it should be something like:  http://localhost:8080/soap/dalkia-ticket-loader

[2021-03-24 13:05] cescoffier commented on #15945
@loicmathieu the latency comes from how the check is implemented today. I will try to find a moment today or tomorrow (likely tomorrow) to use concurrent calls.

+1 about the ability to set the database.

[2021-03-24 13:08] phiwu-gpdec opened #15993 "Console leaks startup WARN output even when quarkus.log.console.level=INFO"
Quarkus 1.11.6.FINAL

## Describe the bug
[code]

### Expected behavior
[LEVEL: INFO] [io.quarkus] MY-APP 1.0.0 on JVM (powered by Quarkus 1.11.6.Final) started in 1.154s. Listening on: http://localhost:8080
[LEVEL: INFO] [io.quarkus] Profile testconfig activated. Live Coding activated.
[LEVEL: INFO] [io.quarkus] Installed features: [cdi, config-yaml, rest-client, resteasy, resteasy-jackson, reste

[2021-03-24 13:14] gsmet commented on #15993
`WARN` is superior to `INFO` so you will always have the warnings when logging at `INFO` level. Same as you will have the errors.

Question is: why do you have these unrecognized properties? What are they?

[2021-03-24 13:16] zakkak commented on #14904
In that case I just copied the GH workflow from [oracle/graal](https://github.com/oracle/graal/blob/master/.github/workflows/quarkus.yml) to a new repo (zakkak/graalvm-quarkus-ci) and slightly edited it to use the latest dev branch of both graalvm *and* quarkus (the original workflow is using the latest *release* of quarkus with the latest dev branch of graalvm).

I also made it possible to trigge

[2021-03-24 13:18] #15981 closed

[2021-03-24 13:25] #15876 closed

[2021-03-24 13:44] ebullient commented on #15966
right.. but someone has opted to use the micrometer extension rather than the mp metrics extension, so presumably this change is expected..
From an API dependency perspective, GraphQL does require that API (which is why I did it that way). Making it an optional dep doesn't really help the user that doesn't realize they should add it.

[2021-03-24 13:58] stephennimmo opened #15997 "quarkus-maven-plugin create adds conflicting extensions: config-yaml adds quarkus-resteasy"
## Describe the bug
When using the quarkus maven plugin, if you specify the "quarkus-config-yaml" extension, for some reason it automatically adds the "quarkus-resteasy" extension, which is probably because the project generator writes the ConfigResource example code and assumes it needs the extension.

However, when specifying the extensions, if "quarkus-resteasy-reactive" is used, then the initi

[2021-03-24 14:12] geoand commented on #15997
cc @ia3andy

[2021-03-24 14:15] ebullient commented on #15966
https://github.com/quarkusio/quarkus/pull/15998 -- I've also just created this (doc change)

[2021-03-24 14:18] #13393 closed

[2021-03-24 14:18] phiwu-gpdec commented on #15993
Ok sorry, this was my fault, I think I misunderstood something.

These unrecognized properties are OpenTracing properties and OpenTracing isn't part of the project. It was only to see some other log messages.

[2021-03-24 14:18] #15993 closed

[2021-03-24 14:54] gsmet commented on #10353
The aesh CLI has been replaced by a picocli-based one which looks like the way forward.

Closing this issue.

[2021-03-24 14:54] #10353 closed

[2021-03-24 15:03] #15025 closed

[2021-03-24 16:04] #15962 closed

[2021-03-24 16:06] sberyozkin commented on #14619
I think #15965 should fix it and in general there will be no need to refer to public resources such as
[code]
since `keycloak-authorization` will only be acting on the resources which have already been authenticated by `quarkus-oidc`
CC @pedroigor

[2021-03-24 16:38] jerboaa commented on #14904
@zakkak Thanks for the info!

[2021-03-24 16:45] zakkak commented on #14904
Job for latest Quarkus vs latest Graal now that #15962 is fixed:
https://github.com/zakkak/graalvm-quarkus-ci/actions/runs/683707199

[2021-03-24 16:55] #15806 closed

[2021-03-24 16:55] gastaldi commented on #15806
JIRA created on https://issues.redhat.com/browse/APPSRE-3194

[2021-03-24 17:08] vsevel commented on #15821
what happens is that you read (or get injected) a property during the execution of the program. as a config source, vault gets called to attempt retrieving the particular property you are mentioning.
properties fetched from vault get cached in the vault config source (by default 10 mins). this means that after 10 mins of the initial retrieval, we will try to refresh those properties coming from va

[2021-03-24 17:17] geoand commented on #14904
👍🏼

[2021-03-24 17:57] jerboaa commented on #14904
Now that looks a lot better already! Thank you.

[2021-03-24 18:23] aruffie commented on #15927
ok thank @shumonsharif  it's work properly now :-) because I didn't think to aggregate the both URL for soap endpoint. You can close de ticket. BTW after trying with "quarkus.cxf.path=/" I realized that can request on "http://localhost:8080**//**dalkia-ticket-loader" ... I tried to put:

quarkus.cxf.path=
quarkus.cxf.endpoint."/dalkia-ticket-loader".implementor=fr.dalkia.ticketloader.services.fron

[2021-03-24 18:47] cescoffier commented on #15821
I suppose that the method is synchronous (not returning an uni), in this case, yes, unfortunately, you will need to check if you can block, and if you can, use the await(), otherwise probably print a warning and keep the cached value.

[2021-03-24 19:13] #15927 closed

[2021-03-24 19:38] jwheeler31 commented on #14012
@glefloch Can confirm.

OS: macOS 10.15.7 (Catalina)
Gradle: 6.8.3
Java: 11.0.10 Oracle
Kotlin: 1.4.30
kapt: 1.4.30
Quarkus: 1.10.2.Final

My error message is essentially the same as what @xmlking posted.

[2021-03-24 21:56] zakkak commented on #14904
I list below the ITs that are still failing (based on https://github.com/zakkak/graalvm-quarkus-ci/actions/runs/683707199)

## Random/SplitRandom related
1. Bouncy Castle FIPS
2. Elytron Security LDAP
3. JGit
4. Spring Data JPA
5. gRPC - TLS
6. gRPC - Plain Text with gzip compression
7. gRPC - Plain Text with Mutiny
8. gRPC - TLS with mutual auth
9. gRPC - Interceptors
10. gRPC - Proto v2

## Othe

[2021-03-24 22:48] famod commented on #14751
Good news: **This is fixed in `main` for JVM mode** after upgrading to Liquibase 4.3.2 via #15972. This will be part of 1.13.1.Final.

I don't think it will work properly in native mode. I think we'll have to add support to the liquibase extension.
I'll try to have a look before 1.13.1 is released.
/cc @gsmet

[2021-03-25 00:15] zakkak commented on #14904
PR for grpc* tests https://github.com/quarkusio/quarkus/pull/16008

[2021-03-25 04:17] gmkumar2005 commented on #14682
Workaround I have used : Create a separate project eg : DB_Migration with blocking jdbc.
Another option : Use liqibase docker image.

[2021-03-25 05:44] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/685410405

[2021-03-25 06:41] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/685411712

[2021-03-25 07:20] andrejpetras commented on #14682
I end up with my database migration solution which is using only the reactive drivers. https://github.com/lorislab/quarkus-barn
I did look on the Flyway and Liquibase implementation, but they are strongly linked to the JDBC driver and I want to avoid having unnecessary dependencies in my projects.

[2021-03-25 07:45] mkouba commented on #15713
The PR was merged.

[2021-03-25 07:45] #15713 closed

[2021-03-25 08:20] masini commented on #15944
Hi @gastaldi, I moved the code from the SmallRye Extension to this
extension and it works.

But now I'm confused because what I did on the PR for SmallRye is a new
MQTT Connector that uses HiveMQ client instead of VertX (in another thread
I can explain why if you are interested), instead this extension allow
native compilation of HiveMQ with or without the SmallRye Reactive
connector. Given this h

[2021-03-25 09:44] Sgitario opened #16014 "Regression issue: OIDC is failing to start even when authentication is disabled"
## Describe the bug
Having a Quarkus application with resteasy and OIDC, and disabling the authentication for all endpoints using:

[code]

When we run the app, it fails with:

[code]

Note that I'm aware that we can disable OIDC using the property `quarkus.oidc.enabled`, but this property is managed at build time. Therefore, the only way to enable/disable OIDC authentication at runtime is via the

[2021-03-25 09:52] gsmet commented on #16014
Two things here:
- looks like you would have an exception anyway so it's probably worth to check if this use case is supposed to be working
- I'm pretty sure you need to use `%1$s` if you want to use the same parameter several times

[2021-03-25 10:07] jerboaa commented on #14904
@zakkak

1. Elytron Security LDAP is oracle/graal#3297
2. JGit seems a bytecode parsing problem (not j.u.Random related). Probably a graal issue.
3. Bouncy Castle FIPS is tracked with https://github.com/quarkusio/quarkus/issues/15889
4. Spring Data JPA seems to the only one left after #16008

[2021-03-25 10:08] jerboaa commented on #14904
I'll look into Spring Data JPA

[2021-03-25 10:49] evacchi commented on #12486
this has been merged yesterday https://github.com/kiegroup/kogito-runtimes/pull/1168, I assume the the build results are outdated

[2021-03-25 10:57] masini commented on #15713
Thank you Martin.

Il giorno gio 25 mar 2021 alle ore 08:46 Martin Kouba <
***@***.***> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2021-03-25 11:23] mkouba commented on #13540
This should be fixed by https://github.com/quarkusio/quarkus/pull/14839.

[2021-03-25 11:23] #13540 closed

[2021-03-25 11:29] sberyozkin commented on #16014
The code branch where Uni is expected to be returned if the tenant is disabled is missing a `return` - hmm... looks like the test which checks that it works is not good... By the way, Jose @Sgitario, some regressions were caught early, before the release - can the tests which caught this one also be enabled to run against the snapshots ?
Going to fix shortly

[2021-03-25 11:38] gytis commented on #15961
Thanks, @mrizzi, will look into this.

[2021-03-25 11:41] sberyozkin commented on #11392
@mkouba hey Martin, sorry I've missed your comment - nice idea; also CC-ing @stuartwdouglas

[2021-03-25 12:14] knutwannheden commented on #11392
In our project we ended up implementing the equivalent of the JBoss `@RunAsPrincipal` annotation: https://docs.jboss.org/ejb3/embedded/api/org/jboss/annotation/security/RunAsPrincipal.html

[2021-03-25 12:23] sberyozkin commented on #16014
OK, the reason the code flow dev mode test works is because it checks that `TenantConfigResolver` can back-up with a dynamic tenant if the default one is disabled

[2021-03-25 12:46] sberyozkin commented on #16014
And it is also getting an expected 401 when the protected resource is accessed - but there the client_id is present but wrong - while in this case it is missing.
So there are 2 issues here:
- Disabled tenant Uni is not used - once it is fixed there will be no exception
- Wrong message format when the exception is reported

[2021-03-25 12:50] zakkak commented on #14904
Hmm I just saw that as well, but it seems non-deterministic... I'll see if I can get a reproducer.
In the meantime https://github.com/quarkusio/quarkus/pull/16017 fixes the Random related issue for it.

[2021-03-25 13:00] gsmet commented on #14904
@zakkak @jerboaa I just wanted to thank you both for this work!

[2021-03-25 13:01] gsmet commented on #14904
@jerboaa I'm surprised Spring Data JPA is an issue. We're supposed to only use a subset of Spring Data JPA APIs and no implementations.

[2021-03-25 13:08] geoand commented on #14904
What is the issue with Spring Data JPA?

[2021-03-25 13:09] jerboaa opened #16018 "[-Dnative] JPA class Person in integration-tests/spring-data-jpa uses j.u.Random"
## Describe the bug
[Person](https://github.com/quarkusio/quarkus/blob/main/integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/Person.java#L30) class in integration-tests/spring-data-jpa uses `java.util.Random` as part of its implementation. When generating a native-image from that app, this fails with [graal 21.1-dev](https://github.com/graalvm/graalvm-ce-dev-builds/rel

[2021-03-25 13:10] jerboaa commented on #14904
@gsmet @geoand https://github.com/quarkusio/quarkus/issues/16018 is the Spring Data JPA issue.

[2021-03-25 13:13] jerboaa commented on #16018
Example stack trace:
[code]

[2021-03-25 13:13] geoand commented on #16018
So this seems to just be an issue with the test class.
Can't we just remove the `static` modifier from the field and be done with it?

[2021-03-25 13:22] jerboaa commented on #16018
Sure if you think this is not something user applications would run into too, then yeah sure.

[2021-03-25 13:31] geoand commented on #16018
Yeah, there is no need to have this sort of Random here.
Feel free to open a PR and I'll approve

[2021-03-25 14:20] gastaldi commented on #15944
@masini I'd suggest you check with the SmallRye Reactive Messaging maintainers (cc @cescoffier) on what's the best strategy to have this documented.

[2021-03-25 14:27] sberyozkin commented on #16014
@Sgitario, by the way, I started working on addressing #15933.
So `tenant-enabled=false` would become less useful when dealing with the default config - can be more interesting in a multi-tenancy case though

[2021-03-25 14:45] Sgitario commented on #16014
Outstanding work @sberyozkin ! Also I see you have already covered this scenario in upstream.
About not using `tenant-enabled` for this use case after you finished #15933 , it sounds much better +1

[2021-03-25 15:03] jerboaa commented on #16018
Here you are:  #16020

[2021-03-25 15:26] Ladicek commented on #15182
Just found there's one other issue: even if we had suspend/resume callbacks that we would use to deactivate/reactivate the current span (I tried to prototype that using existing `ThreadSetupAction`s), there's one missing piece of the puzzle: when is the span (which is automatically started per MP OpenTracing rules with https://github.com/opentracing-contrib/java-jaxrs/blob/master/opentracing-jaxrs

[2021-03-25 15:45] sberyozkin commented on #14619
I've updated #15965 to resolve this issue - as access to the public resources should not require any `keycloak-authoriization` configuration once it is merged (though http policies may have to be set to permit a public access)

[2021-03-25 15:52] #16018 closed

[2021-03-25 15:56] jerboaa commented on #14904
Indeed seems to be non-deterministic :( Thanks for fixing the j.u.Random issues.

[2021-03-25 15:58] jerboaa commented on #14904
Latest test run with graal master and quarkus master here:
https://github.com/zakkak/graalvm-quarkus-ci/actions/runs/687103625

[2021-03-25 16:01] geoand commented on #15182
So do we need something specific to RESTEasy Reactive?

[2021-03-25 16:04] Ladicek commented on #15182
Aaaaaaaa ... I think so.

[2021-03-25 16:07] geoand commented on #15182
Are you on it or do you want me to look at it at some point?

[2021-03-25 16:10] Ladicek commented on #15182
I just wanted to take a quick look and see what I can do. Not much :-) I'm not planning to do any significant work on this. Also, I know @kenfinnigan has been deemphasizing OpenTracing in favor of OpenTelemetry, so not sure if this is even worth it.

[2021-03-25 16:13] geoand commented on #15182
But wouldn't a solution for OpenTracing be closely applicable to what might need to be done for OpenTelemetry?

[2021-03-25 16:19] jerboaa commented on #14904
I've created this issue to track it: https://github.com/graalvm/mandrel/issues/226

[2021-03-25 16:35] sberyozkin commented on #16014
Hi @Sgitario You are very kind :-), I'd like to hide myself for that super `no return` code :-)

[2021-03-25 17:14] kenfinnigan commented on #15182
Not necessarily, I'm hoping to work on OpenTelemetry and Resteasy Reactive next week

[2021-03-25 17:46] ebullient commented on #15601
Can you confirm which version of Quarkus you're using, and which extensions you have enabled?

[2021-03-25 17:55] geoand commented on #15182
OK, cool. Let me know when you start looking at it

[2021-03-25 17:56] #14619 closed

[2021-03-25 17:56] #15988 closed

[2021-03-25 18:42] sberyozkin commented on #16014
Closing manually as I mistyped `Fixes` in the PR

[2021-03-25 18:42] #16014 closed

[2021-03-25 20:26] cemnura commented on #13957
@sberyozkin I'm on it 😄

[2021-03-25 21:18] kdubb opened #16023 "Gradle multi-module project causes quarkusDev to fail"
## Describe the bug

The issue manifests itself differently between Java and Kotlin projects but the setup is the same, a multi-module Gradle project where one module depends on one or more other modules and any of the depended on modules have empty sources.

Running `quarkusDev` in a Kotlin project causes it to fail with gradle outputting `Failed to run`. If you run with `--stacktrace` you can se

[2021-03-25 21:24] rsearls opened #16024 "Changes needed in resteasy-reactive by RESTEasy"
## Description

In order for RESTEasy to use resteasy-reactive classes one structural change
is needed to the module. Class RuntimeDelegateImpl and file javax.ws.rs.ext.RuntimeDelegate
must be isolated in a module of its own.  This is because the JAX-RS API loads
the first RuntimeDelegate it finds on the classpath.  To ensure RESTEasy's
implementation is used and not resteasy-reactive's the new mo

[2021-03-25 21:27] kdubb commented on #16023
This may be related to #10894 as it seems to have an auspicious conclusion.

[2021-03-25 21:28] geoand commented on #16024
Thanks!

You mentioned I think in the email to the Dev list that you have a PR in mind.
Can you open it in draft state so we can see what this looks like in practice?

[2021-03-25 21:59] maxandersen opened #16026 "quarkus cli uber jars pom list external dependencies"
## Describe the bug
the published pom for  io.quarkus:quarkus-cli:1.13.0.Final:runner has a pom.xml that list dependencies but they are not needed.

that causes duplicate classes on classpath, affecting logging resolution see https://github.com/jbangdev/jbang/issues/813

### Expected behavior
im not really sure to be honest - but my first reaction is that the pom shouldnt say it needs deps.

we ca

[2021-03-25 22:07] maxandersen commented on #15887
@aadityasinha-dotcom feel free to submit pr for this. Basically just need to add a key/value parameter to the command.

[2021-03-25 22:10] davidboweninrupt commented on #9713
FYI, if you're looking for the docs for this, you can find them at [Quarkus - Using SSL With Native Executables](https://quarkus.io/guides/native-and-ssl)

[2021-03-25 22:17] maxandersen commented on #14846
thats weird - i cant look at this now but if some want to do it the first thing I would look at is that the dependency versions are the same between the two  - maybe quarkus picocli needs updating....next if the reflect config inside jansi somehow causes conflict with quarkus.

[2021-03-25 22:19] maxandersen commented on #12956
@ia3andy isn't this not already done ?

[2021-03-25 22:21] michalszynkiewicz commented on #16024
Why do we want to mix RESTEasy and RESTEasy Reactive? Or am I misundersting the intent?

[2021-03-25 22:24] maxandersen commented on #1288
yeah - this specific usecase jbang handles cleaner imo. and does not require docker.

[2021-03-25 22:24] #1288 closed

[2021-03-25 22:27] maxandersen opened #16031 "cli should support remote-dev"
## Describe the bug
`qs dev` does not suport remote-dev atm.

### Expected behavior
add remote-dev command similar do dev

[2021-03-25 22:29] maxandersen commented on #6033
closing as cli been updated and moved forward since.

[2021-03-25 22:29] #6033 closed

[2021-03-25 22:54] maxandersen commented on #10354
jreleaser.org is a project by @aalmiray that formalizes a lot of the release mechanisms done for jbang. we should see if that could be used.

[2021-03-25 23:15] maxandersen opened #16032 "document existing jbang install option"

[2021-03-25 23:16] maxandersen opened #16033 "review quarkus cli command / flag structure"
current cli outline looks like this:

[code]

they currently can be grouped in following categories:

## project creation

create, create-jbang, create-extension

imo. `create-jbang` should be a `--jbang` flag instead of its own command.

## platform/extension query/manipulation

list,add,remove/rm
platforms

kinda core to what we would like the cli to do but feels a bit weird we have list/add/rem

[2021-03-25 23:30] maxandersen opened #16034 "quarkus cli dev mode sometimes leave detached processes running"
running `qs dev` multiple times and eventually i have dangling quarkus:dev processes.

have a feeling its not fully attached or cli is not catching the right errors and cleans up properly

[2021-03-26 00:38] cemnura commented on #13957
I figured out that the current `integration-tests/oidc` runs a test container via maven plugin.

I migrated the `QuarkusTestResourceLifecycleManager` to a separate `test-framework` module and enabled the test container to run programmatically rather then a maven plugin.

All previous test seems to be working.

Also, I did not change the maven profile configurations so that it wont be a problem dur

[2021-03-26 03:52] ebullient commented on #16033
By this light, we should also simplify create-extension to use an --extension flag

[code]

Create options:
[code]

.. more tomorrow (Will edit) ...

[2021-03-26 06:06] maxandersen commented on #16033
Note, --jbang is an alternate build/layout like --gradle and --maven.

But extension is arguably different "thing".

[2021-03-26 07:14] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/688891527

[2021-03-26 07:36] magnusvage opened #16037 "Quarkus Redis client not accepting hostnames with underscores in it"
## Describe the bug
This is a borderline bug, since, depending on where on the Internet you check, underscores are either not recommended or not allowed in hostnames.

The issue I am having is that I am running a Quarkus App in one Docker Swarm stack, which needs to connect to a Redis server in another stack. In the Docker Swarm world, with the service redis running in the stack redis, that means

[2021-03-26 07:57] #15934 closed

[2021-03-26 08:04] nachogiljaldo commented on #15601
@ebullient I'm using 1.10.5.FINAL and I tried it in 1.11.2.FINAL if I remember correctly.

I was using fault-tolerance extension along with Kafka, postgres-reactive and flyway.

[2021-03-26 08:13] pokusak commented on #9262
Hi,
any update on this?
Thanks.

[2021-03-26 08:21] cchacin commented on #9722
@loicmathieu I'd like to help with this task

Question: where the integration tests should live in?

- An example application
- In the `panache` module
- In the `mongo` module

[2021-03-26 08:22] aloubyansky commented on #15817
Just for your info, a workaround would be to add `compile` explicitly to the command line.

[2021-03-26 08:23] cchacin commented on #9722
I just noticed that there is an `integration-test` maven module, if that is the right place to do it, I'm ready to start drafting the PR for this task, can you please assign the task to me?

[2021-03-26 08:24] machi1990 commented on #16037
The https://github.com/quarkusio/quarkus/blob/23b3435d0cae0fe428d7cf031a57809c0d510fc9/extensions/redis-client/runtime/src/main/java/io/quarkus/redis/client/runtime/RedisConfig.java#L66 config item type can be changed to a `String`. It should be a quick fix and some extensions does this already, but I'd like to get @gsmet @pmlopes opinion on this too.

[2021-03-26 08:39] wolfomat commented on #2759
This does not work in conjunction with hibernate reactive?!

[code]

application.properties:

# mariadb-reactive-configuration
[code]

Resource:

[code]

What`s the problem with that ?

[2021-03-26 08:45] knutwannheden opened #16039 "Also display "Not Found" page for URLs outside HTTP root path"
## Description

In the Dev Mode I think it would be very helpful if the "Not Found" page (as served by `NotFoundExceptionMapper`) could also be displayed for URLs outside the Quarkus application's root path.

Thus, when the developer starts the application in Dev Mode and doesn't remember the root path without consulting the `application.properties` he can basically enter any path in the URL field

[2021-03-26 09:04] dwamara commented on #2759
Why do you have quotes on "production" in the applications.properties file?

[2021-03-26 09:04] wolfomat commented on #2759
and further:

[code]

resulting in:
Caused by: io.quarkus.runtime.configuration.ConfigurationException: Datasource must be defined for persistence unit 'init-update'.

[2021-03-26 09:16] fkaltner opened #16040 "Docker-based build of native images fails using Minikube on macOS"
## Describe the bug
When running a build of a native image with the quarkus-maven-plugin `NativeImageBuildRunner` fails with:

[code]

### Expected behavior
The build image should be built successfully.

### Actual behavior
The build of the image fails since the value of `InitialCollectionPolicy` parameter contains a `$` which is not escaped (`-H:InitialCollectionPolicy=com.oracle.svm.core.genscav

[2021-03-26 09:19] wolfomat commented on #8547
having a reactive datasource as default with a named datasource results in this:

2021-03-26 10:18:00,200 WARN  [io.qua.config] (Quarkus Main Thread) Unrecognized configuration key "quarkus.datasource.init-update.jdbc.url" was provided; it will be ignored; verify that the dependency extension for this configuration is set or you did not make a typo

application.properties:

[code]

[2021-03-26 09:27] dwamara commented on #2759
Could you try to remove the quotes in your application.properties file and try again?

[2021-03-26 09:33] loicmathieu commented on #9722
@cchacin yes, it should be a new module inside our existing integration-test module, with both extension and some minimal code to check if we can use both or not.

I'll put you as assignee, thanks for working on this.

[2021-03-26 09:33] loicmathieu commented on #9722
If it didn't work, please don't try to fix any of the existing extension and just report the failure it, we will look if we want to support both extension together or not.

[2021-03-26 09:44] wolfomat commented on #2759
hi - thanks for the quick reply.
after removing the quotes, this happens:

` Unrecognized configuration key "quarkus.datasource.init-update.url" was provided; it will be ignored; verify that the dependency extension for this configuration is set or you did not make a typo`

[2021-03-26 09:46] jerboaa opened #16042 "[native] kafka-snappy integration-test fails with org.xerial.snappy.SnappyError: [FAILED_TO_LOAD_NATIVE_LIBRARY]"
## Describe the bug
When running `integration-tests/kafka-snappy` in native mode with `-Dtest-containers` and latest Graal VM 21.1-dev it fails to run the IT tests on the native image with an error failing to load a native library.

### Expected behavior
IT tests run fine on the native image

### Actual behavior
[code]

## To Reproduce
1. Set up Graal VM or Mandrel so as to being able to build wit

[2021-03-26 09:48] jerboaa commented on #14904
I believe we've covered all the bases for Random/SplittableRandom now and this umbrella issue can be closed. What remains are other issues (or non-quarkus issues):

1. Bouncy Castle FIPS is tracked with #15889
2. jgit bytecode parsing issue (intermittent). Tracked with graalvm/mandrel#226
3. Elytron Security LDAP is oracle/graal#3297
4. Kafka with snappy. Native lib fails to load. Tracked with #16

[2021-03-26 09:52] gsmet commented on #14904
Thanks for your work!

[2021-03-26 09:52] #14904 closed

[2021-03-26 09:54] maxandersen opened #16043 "cli native or ?"
## Description

can we make qs cli native ? does it make sense ?

[2021-03-26 09:54] wolfomat commented on #2759
this was because of some quarkus documentation. im some docs the quotation is around the named datasources, in some not. but i've tried both.

[2021-03-26 10:11] maxandersen opened #16044 "qs add does not handle failure/multiple adds"
## Describe the bug
`qs add metrics` fails (as expected as metadata atm is resulting in ambigous conflicts) with:

[code]

and `qs add openshift` works fine.

but `qs add openshift metrics` just fails silently.

### Expected behavior
qs should report the failure not just be silent.

[2021-03-26 10:32] FroMage commented on #16024
Yeah, I'm not really following what problem you're trying to solve, could you rephrase it please?

[2021-03-26 10:34] #15817 closed

[2021-03-26 10:56] #15940 closed

[2021-03-26 11:06] michelsaumon commented on #12133
Hibernate 5.4 will not support at all "old-school" java cloning of entities.

See : https://hibernate.atlassian.net/browse/HHH-12971

[2021-03-26 11:09] geoand commented on #16040
@jonathan-meier this look like something that must be fixed as a result of https://github.com/quarkusio/quarkus/pull/14635, no?

[2021-03-26 11:36] #15821 closed

[2021-03-26 11:46] rsynek commented on #15817
@aloubyansky interesting, thanks for sharing.

[2021-03-26 12:08] aadityasinha-dotcom commented on #16044
Can I work on this issue?

[2021-03-26 12:35] Postremus opened #16047 "Hot Reload: class redefinition failed: attempted to delete a method"
## Describe the bug
I have the following class in my project:
[code]

I changed the CONST and removed the `help` method at the same time.
A hot reload triggered the exception from below.

### Expected behavior
No exception during hot reload.

### Actual behavior
[code]

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archi

[2021-03-26 12:40] glefloch commented on #16047
@mkouba could we catch the exception and restart if it happens?

[2021-03-26 12:49] mkouba commented on #16047
Well, first of all we should not attempt to use instrumentation for this case (the class structure was obviously modified). I'll check the reproducer.

[2021-03-26 12:58] mkouba commented on #16047
Ok, so I was able to reproduce the issue and **(1)** the comparison logic in `ClassComparisonUtil.isSameStructure(ClassInfo, ClassInfo)` needs to be fixed to reflect the method removal, **(2)** the exception is logged but the full restart is perfomed afterwards and the result of the subsequent `GET http://localhost:8080/hello` is correct.

[2021-03-26 13:02] zakkak commented on #14904
Thank you @jerboaa!

[2021-03-26 13:06] rsearls commented on #16024
And how does one do that?

[2021-03-26 13:20] ebullient commented on #15601
And which metrics extension? A reproducer would also help a lot, if that isn't asking too much

[2021-03-26 13:22] ebullient commented on #16033
It is.. but you could also think of it as a variant of what is being created.. you still end up with a project in the end.

[2021-03-26 14:06] bcluap opened #16050 "RESTEasy Reactive: @Blocking endpoint uses eventloop for streaming a Multi back to the caller"
Describe the bug
When streaming a Multi back to a caller, the eventloop thread ends up being used even on @Blocking calls. This creates issues where the stream relies on thread context such as for transaction management and accessing the entitymanager.

Expected behavior
The worker thread should be used for the full request/response

Actual behavior
Eventloop is used after 2 iterations on the stre

[2021-03-26 15:04] edeandrea opened #16052 "Quarkus "all config" guide is missing kubernetes-client config"
## Describe the bug
The Quarkus All Config guide (https://quarkus.io/guides/all-config) doesn't seem to have any of the `kubernetes-client` config.

I haven't looked at others so can't speak if it's missing other config as well.

[2021-03-26 15:14] brunobastosg commented on #12743
This was also happening to me in Eclipse 2020-06, but I just updated it to version 2021-03 and now the red stop button is correctly stopping the Java process.

[2021-03-26 15:22] gastaldi commented on #12743
@nosaku can you confirm that following @brunobastosg's suggestion in https://github.com/quarkusio/quarkus/issues/12743#issuecomment-808297622 fixes the problem?

[2021-03-26 15:31] maxandersen commented on #16044
@aadityasinha-dotcom feel free to submit a PR.

[2021-03-26 15:52] bcournaud opened #16053 "Add multi-build support in a single module"
## Description

Give the possibility to build the same module multiple times with different profiles, generating different artifacts.

## Implementation ideas

Add multiple executions to the Quarkus maven plugin, specifying a different Quarkus profile for each execution.
The plugin could then generate one artifact for each execution and store it into a specific output directory.

Here is an exampl

[2021-03-26 16:15] rsearls commented on #16024
From doc,
https://docs.google.com/document/d/1VdCGPjig_aBM7eTDVXAhwVYjFqsZMZrEPdeyoz4doc4/edit

to contribute as well; the current RESTEasy team will also evaluate back and
forward backports of fixes and features that are not completely tied to the
backend architecture / design. **We’ll strive to avoid duplication of efforts
to implement new spec versions, possibly isolating shared pieces in commo

[2021-03-26 16:16] bcournaud commented on #16053
Potential PR for this: https://github.com/quarkusio/quarkus/pull/16054

[2021-03-26 16:30] FroMage commented on #13663
Apparently Kubernetes API server (https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) uses `application/json;stream=watch` and streams.

[2021-03-26 16:33] geoand commented on #13663
WTF if that `stream=watch` thing :)

[2021-03-26 16:41] michalszynkiewicz commented on #16024
I don't have access to the doc, I requested it. If I'm asking already answered questions, please let me know :)

Will we have some common core project that would contain the 25 classes then? If we're going to pull out some common code, I think it would be best done this way so that we can release it independently of both RESTEasy and RESTEasy Reactive.

[2021-03-26 16:52] loicmathieu commented on #15884
@eriknyk Loggly can be used via rsyslog, and Quarkus has a syslog happen, see https://quarkus.io/guides/logging#syslog-log-handler

@seseso the issue with dev mode may be due to its classloader, can you try to register logback as a parent first dependency to see if it solves the issu? See https://quarkus.io/guides/class-loading-reference#parent-first-dependencies

[2021-03-26 16:55] eriknyk commented on #15884
@loicmathieu I will try it, thanks

[2021-03-26 17:01] rsearls commented on #16024
8 of the classes copied from RESTEasy extend from

......
}

(e.g. NewCookieHeaderDelegate, CacheControlDelegate, DateDelegate, EntityTagDelegate,
LinkDelegate, LocaleDelegate, MediaTypeHeaderDelegate, CookieHeaderDelegate)

RESTEasy and resteasy-reactive have different implementations of RuntimeDelegateImpl.
They can't be shared.  Implementations of javax.ws.rs.ext.RuntimeDelegate are
declared as

[2021-03-26 17:04] rsearls commented on #16024
Quarkus still owns this project.  I think it is for them to say at this point.

[2021-03-26 17:09] kdubb opened #16057 "Agroal leaks XA connections"
## Describe the bug

Thy physical database connections backing XA connections are never closed properly but instead leaked.

I've added the issue to the Agroal JIRA [AG-165](https://issues.redhat.com/browse/AG-165) which attempts to explain in detail the possible origin of the issue. I am cross-posting because of the familiarity of these two projects and if this issue is proven correct it's a fair

[2021-03-26 17:12] kdubb commented on #16057
This could possibly be a duplicate of #11330 but that issue is stale and references possible misconfiguration issues that are unanswered.

[2021-03-26 17:17] jonathan-meier commented on #16040
From what I can tell, it doesn't seem to be a bug on Quarkus' side, but rather an issue with minikube. As @dmlloyd already stated in #2435 we're using `ProcessBuilder` which does not do any string interpolation since there is no shell involved. However, it seems that minikube internally works with wrapper shell scripts in order to be accessible via the `docker` command which in all likelihood do t

[2021-03-26 17:23] jonathan-meier commented on #16040
An possible workaround might actually be to inject the shell variable `BySpaceAndTime=$BySpaceAndTime` into the environment where the string interpolation happens 😃

[2021-03-26 17:23] geoand commented on #16040
Sneaky!

[2021-03-26 17:27] gytis commented on #15961
The difference is caused by the `EntityManager.merge` being used in the update as opposed to the `PanacheEntityBase.persist` which is used in your `testDb` test scenario.
We use merge there, because the `PUT` operation updates as well as creates a new entity with a predefined ID (as long as it is supported). In such case a regular persist does not work. I'll try to think of some workaround to make

[2021-03-26 17:32] vsevel opened #16058 "ConfigSource run in the async mode"
## Description

Recently the vault config source has moved to vertx (instead of okhttp client).
The vault config source has the ability to refresh itself periodically.
We had issue #16021 where properties were attempted to be refreshed in a non blocking thread.
Although calls to vault using the vertx client could return `Uni`, we are limited by the `ConfigSource` interface that requires a plain `M

[2021-03-26 17:39] gsmet commented on #16057
/cc @barreiro @Sanne @yrodiere

[2021-03-26 17:44] sberyozkin commented on #16058
Timer with a configurable poll interval is in interesting option IMHO, as making `ConfigSource` reactive may be tricky

[2021-03-26 17:52] geoand commented on #16050
Here is an explanation of why this happens:

Each item in the stream is written out here: https://github.com/quarkusio/quarkus/blob/7064dc76e59f50d3b4d5391eafdb26fa04797026/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java#L61.
This happens on the executor thread correctly for the first item.
However, once

[2021-03-26 18:33] Faboli7 opened #16059 "Resteasy-reactive and rest-client: propagation of headers doesn't work"
## Describe the bug
Hi, I have a production project using `quarkus-resteasy(-jsonb)` and `quarkus-rest-client`.

I wanted to give a try to the new `quarkus-resteasy-reactive(-jsonb)` extension so I replaced `quarkus-resteasy-jsonb` by this one in my pom.
Everything compiles **without any change to the code or config** and the app starts without error but I noticed that the headers are not propagat