[2020-07-27 07:47] michalszynkiewicz commented on #9264
@pavolloffay what do you think about tracing context for grpc calls ^

[2020-07-27 08:02] machi1990 commented on #10962
The value was for having the plugin / listener registration work out of the box (and users not having to think how they do) and all that's needed is correct configuration. I do not see any issue with performing validations, that's what the build time phase is for and it certainly will not cost a thing.

Finally, this is not a pressing thing to have though as it can be achieved programmatic. Happy

[2020-07-27 08:06] geoand commented on #10976
Hi,

Quarkus 1.7 will ship with a Redis extension based on Vert.x - see https://github.com/quarkusio/quarkus/blob/76a6fcbf267f6e2646266420135166b13ab5aee0/docs/src/main/asciidoc/redis.adoc.

Is there a specific reason why you would like to have a Lettuce based one?

[2020-07-27 08:08] geoand commented on #10975
Ah sorry about this... I didn't even think about it :(

[2020-07-27 08:09] pavolloffay commented on #9264
+1

[2020-07-27 08:11] geoand commented on #10954
@sberyozkin what sort of information do you envision this guide would contain?

[2020-07-27 08:20] mkouba commented on #10962
I don't want to sound like I want to "stop this effort" ;-). I'm just trying to understand the use case and pros and cons.

Speaking of `Map<String, Map<String, String>>` - what would a properties file example look like?

[2020-07-27 08:27] benDeMtp commented on #10114
Hello,
@Biratus has left the project.
So I just checkout his reproducer and I have reproduced, without any change to the pom.

`mvn install`
then
`java -jar target/test-cursor-mysql-1.0-SNAPSHOT-runner.jar`

Goto http://127.0.0.1:8080/mysql and see the logs. Test OK

For native image

`mvn package -Pnative`
then
`target/test-cursor-mysql-1.0-SNAPSHOT-runner`

Go to  http://127.0.0.1:8080/mysql and

[2020-07-27 08:31] machi1990 commented on #10962
Sure :-)

I think something like:

[code]

The same for plugins.

[2020-07-27 08:34] l2dy commented on #10976
Because I believe Lettuce is more mature for production than the Vert.x Redis client. Reasons below.

1) Lettuce has more commits, active contributors, and probably more production users.
2) The Vert.x Redis client went through a major refactor and got it backported to 3.9 in March this year, so less production users would have been able to test it thoroughly.
3) The Vert.x Redis client can't hand

[2020-07-27 08:41] geoand commented on #10976
Thanks for the input.

I think it's unlikely we will offer a second Redis extension (although anyone interested could code up such an extension if they think it's worth it).

cc @vietj @pmlopes to get their pespective on vert.x vs lettuce and shed some more light :)

[2020-07-27 08:45] michalszynkiewicz commented on #10249
Currently waiting on https://github.com/resteasy/Resteasy/pull/2476
When it's merged and released, this code will get us what we need: https://github.com/michalszynkiewicz/quarkus/commit/89fa8e9d12823b5765bd2819706dd502002b090f

[2020-07-27 08:47] marcelorubim commented on #10962
I thought of using Map<String, Map<String, String>, but in the end, I did this way. I think it's better for reading the code, and I can keep the class name property apart from the real Map (props names and values)

[code]

[code]

[2020-07-27 08:51] geoand commented on #10249
Thanks for the update @michalszynkiewicz.

If I may propose adding some Javadoc / comments to your Quarkus commit as it's not very evident what is generated and how it works (I mean of course one can figure it out looking at the generated bytecode, but I always find it very useful to have an example of the generated bytecode in Javadoc when reading such code).

[2020-07-27 08:59] MadinaS opened #10982 "Reactive DB connection causes problems"
Hi guys! First, I want tell you all, thank you for such a great job, what do you do with Quarkus!

**Describe the bug**
I have 2 connections to the same DB in my applications.properties file. It's looks like this:
[code]

in same file i have some property for my public key:
[code]

`${share.path}` - i get from my DB, with my custom DatabaseSource.

**Expected behavior**
it's work fine, till i add

[2020-07-27 09:05] parkee commented on #10963
@stuartwdouglas
yes, basically as soon as I switch from 1.6.1 to 1.5.2 version (without any other changes) it starts working as expected, so I suppose my configuration is correct.

[2020-07-27 09:07] gsmet commented on #10982
@phillip-kruger could you have a look at that one? I'm not totally sure we can make it work tbh but a closer look from you could help. Thanks!

[2020-07-27 09:13] phillip-kruger commented on #10982
Hi @gsmet - I am happy to look at this. I am on PTO at the moment, but might get a gap to look at this.

[2020-07-27 09:23] #10969 closed

[2020-07-27 09:23] #10975 closed

[2020-07-27 09:29] geoand commented on #10963
Seems similar to: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Sporadic.20CDI.20NPE

[2020-07-27 09:49] geoand commented on #10982
So essentially you have a custom `Datasource` that reads from a DB which works properly until you add

[code]

?

If so, I think this is one for @radcortez :)

[2020-07-27 09:52] MadinaS commented on #10982
yes it is. Especially until i add
[code]
to my application.properties

[2020-07-27 09:53] geoand commented on #10982
Does the problem still occur if you don't use `${DATABASE_HOST}` and `${DATABASE_PORT}` but instead use some hard-coded value?

[2020-07-27 09:53] machi1990 commented on #10962
Right!

I was only thinking of other properties, not the "class". I.e split the proposed configuration into runtime overridable properties (the rest) and build time ones (in this case the "class" property). As most of the other properties can be overriden during runtime.

[2020-07-27 09:55] MadinaS commented on #10982
i don't think, that it's a problem, because it also doesn't work in %dev and i use hard-coded values for my %dev

[2020-07-27 09:58] geoand commented on #10982
I just want to cover all possible bases

[2020-07-27 10:01] marcelorubim commented on #10962
![image](https://user-images.githubusercontent.com/32526483/88529935-0c547000-cfd7-11ea-95cb-e0275fae1bd9.png)

[2020-07-27 10:06] michalszynkiewicz commented on #10249
good point @geoand!
I still have some clean-up to do, will add some documentation then

[2020-07-27 10:08] geoand commented on #10249
Thanks @michalszynkiewicz!

Don't hesitate to ask for a review from me when things are in place :)

[2020-07-27 10:17] radcortez commented on #10982
@MadinaS Was this working on any previous Quarkus version? If so, which one?

[2020-07-27 10:29] johnaohara commented on #10785
I have not been able to observe a large delta between a vert.x and quarkus load test. I will close for now, but please re-open if there is a reproducer that demonstrates a performance difference.  Thanks

[2020-07-27 10:29] #10785 closed

[2020-07-27 10:31] MadinaS commented on #10982
i just started with reactive DB connections, so i didn't use it before Quarkus 1.6.0

[2020-07-27 10:33] MadinaS commented on #10982
UPDATE.
here is my error message:

[code]

[2020-07-27 10:35] radcortez commented on #10982
Ok, let me have a look.

[2020-07-27 11:01] geoand commented on #10846
I'll go ahead and close this - but feel free to reopen and/or comment @pilhuhn

[2020-07-27 11:01] #10846 closed

[2020-07-27 11:08] rmarting opened #10984 "NativeImageBuildStep fails if 'docker' is not installed"
**Describe the bug**
On a Fedora 32 fresh installation where 'docker' command is not installed because 'podman' is only available to run containers, I found the following exception when compiled a simple HelloWorld project:

`$ mvn clean package -Pnative -Dquarkus.native.container-build=true
[INFO] Scanning for projects...
[INFO]
[INFO] ---------------------< org.acme:code-with-quarkus >----------

[2020-07-27 11:17] rmarting commented on #10984
After review other issues opened regarding 'podman', I found the [#10637](https://github.com/quarkusio/quarkus/issues/10637) where I could see the following argument to compile:

`-Dquarkus.native.container-runtime=podman`

That parameter is not described in the [Quarkus - Container Images](https://quarkus.io/guides/container-image) reference.

Using that parameter in my command then I reproduce t

[2020-07-27 11:19] rmarting commented on #10637
Same failure error with `quay.io/quarkus/ubi-quarkus-native-image:20.1.0-java11` image and podman version 2.0.3.

[2020-07-27 11:43] #10943 closed

[2020-07-27 11:44] #10966 closed

[2020-07-27 11:45] geoand commented on #10943
I'm wondering if a dev mode test should be added based on the reproducer from this issue.

My thinking is that if we are testing the use of `PathMatchingResourcePatternResolver`, then we should be covering a good amount of integration code out there. WDYT?

[2020-07-27 11:48] radcortez commented on #10982
Hi @MadinaS,

Unfortunately, I was not able to move that much with your reproducer. There are a few things that are missing:

- The `application.properties` file is in the wrong place.
- The `DatabaseConfigSource` is not properly registered with a `META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource` file.
- I do require to set up a MySQL database and proper schemas to try out the p

[2020-07-27 11:58] geoand commented on #9967
I was not able to reproduce this on the Quickstart example with the latest Quarkus version.
Can you please re-check your application with Quarkus 1.6.1.Final?

[2020-07-27 12:13] geoand commented on #9768
I'll close this in favor of #10249 (as @michalszynkiewicz has already assigned himself to that one).

Please monitor the progress on that issue in order to see when the problem will be addressed.

[2020-07-27 12:13] #9768 closed

[2020-07-27 12:16] geoand commented on #9741
This point has indeed come up elsewhere.

I am wondering if we should indeed be making this hard-coded assignment (which could potentially be dangerous) or if should just document it for users. @gsmet what's your take?

[2020-07-27 12:21] geoand commented on #9257
@iocanel does dekorate have a way to set the Ingress path?

[2020-07-27 12:26] geoand commented on #10984
Thanks for reporting!

You are correct that the docs are currently a little confusing... Basically `quarkus.native.container-runtime` has nothing to do with the `quarkus.container-image.....` properties but that is not evident from the docs.

[2020-07-27 12:26] darren-bell-nanthealth opened #10987 "Kotlin Multiplatform Plugin+ Gradle + QuarkusDev"
**Describe the bug**
When I change the kotlin code in Kotlin Multiplatform plugin project, where quarkus is serving the backend, I would expect the quarkusDev gradle task to hot reload/deploy changes

**Expected behavior**
Changes to the Kotlin code in the quarkus backend source to be compiled and redeployed

**Actual behavior**
Nothing happens

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-27 12:32] #10972 closed

[2020-07-27 12:40] MarcusBiel commented on #10362
@sberyozkin as stated initially, @PermitAll to me means that this method is open, permitted to EVERYONE, so like not authenticated. But it actually means permitted to all authenticated roles.

[2020-07-27 12:40] MadinaS commented on #10982
sorry, just weird commit Oo
now it must be okay. I have built some mysql container for my project. U can use it from `docker push madinas/kniffel-mysql`
i'm not sure, am i can so fast make some h2 DB reproducer, but i can add some .sql file to my repo, than u can create the same DB based on my .sql and docker image

[2020-07-27 12:48] MarcusBiel opened #10988 "offer full fledged, simple to use Permissions"
Hi,

I have read:
https://quarkus.io/guides/security-keycloak-authorization
https://quarkus.io/guides/security
https://github.com/quarkusio/quarkus/pull/4487

What's the current state of permissions? I would want to make STRONG use of permissions. Basically, for every button / page / functionality on the frontend, the frontend should send a request to the backend asking if the currently locked in,

[2020-07-27 12:51] xstefank commented on #9542
@geoand so this can be closed I believe?

[2020-07-27 12:57] mkouba commented on #10893
Hm, we should also process a non-string, non-buffer method parameter annotated with `@Body`.

[2020-07-27 12:59] gsmet opened #10990 "Reactive routes - support Bean Validation for parameters and return value"
I'm not totally sure how we can handle things for return values in a reactive world but we can probably at least handle the parameter validation.

I think it would be very useful even if we only get parameter validation.

The code for JAX-RS is here: https://github.com/quarkusio/quarkus/tree/master/extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/jaxrs an

[2020-07-27 13:05] gsmet commented on #10921
@vietj what is `-DstagingProfileId=$NEXUS_PROFILE`?

[2020-07-27 13:08] gsmet commented on #10953
@aloubyansky can you make sure we fix this before Thursday? Thanks!

[2020-07-27 13:09] gastaldi opened #10991 "Qute: Unknown media type for suffix: .graphql"
**Description**
I am using `.graphql` files to produce valid GraphQL content from Qute templates (see the .txt files in https://github.com/quarkusio/quarkus-backports/tree/master/src/main/resources/templates/GitHubService). If I set their suffix to `.graphql`, Qute still finds them and parses correctly but the following logging message keeps appearing in the logs:

[code]

**Implementation ideas**

[2020-07-27 13:09] gastaldi commented on #10991
/cc @mkouba

[2020-07-27 13:30] iocanel commented on #9257
It should be trivial to do so. In dekorate land we do that automatically for spring boot apps.

[2020-07-27 13:37] michalszynkiewicz commented on #10813
MP RC spec says `@Dependent` is the default scope

[2020-07-27 13:41] benDeMtp commented on #10114
I just tried with 1.6.1 and this java version : openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment GraalVM CE 20.1.0 (build 11.0.7+10-jvmci-20.1-b02)
OpenJDK 64-Bit Server VM GraalVM CE 20.1.0 (build 11.0.7+10-jvmci-20.1-b02, mixed mode, sharing)

And it works like @tsegismont said.
I presume it has been fixed in 1.6.x

I'll try in the real project now :)

[2020-07-27 13:43] aloubyansky commented on #10953
PR opened @gsmet

[2020-07-27 14:10] geoand commented on #9542
Yes, that is correct

[2020-07-27 14:10] #9542 closed

[2020-07-27 14:18] geoand commented on #9257
Trivial as in "there is a property", or as in "write a decorator"?

[2020-07-27 14:46] michalszynkiewicz commented on #9766
@xmlking could you try with the current master (or 1.7.0.CR1 when it's released)?
I bumped the versions of grpc and protobuf dependencies in Quarkus.

[2020-07-27 15:01] joao-dantas opened #10998 "remote:dev plugin not working"
**Describe the bug**
While trying to use the remote:dev plugin for development in a container I faced a NullPointerException in the remote application after trying to connect with remote:dev.

First I start an image that starts my application in dev mode `quarkus:dev`. After it is up and running I try to connect using the specified properties in the documentation:

`./mvnw compile quarkus:remote-d

[2020-07-27 15:06] geoand commented on #10998
@stuartwdouglas is this maybe fixed by https://github.com/quarkusio/quarkus/pull/10977?

[2020-07-27 15:28] joao-dantas commented on #10998
Forgot to mention that I also tested with the master build. This can be reproduced in the branch https://github.com/joao-dantas/remot-dev-test/tree/use-quarkus-master.

[2020-07-27 15:36] gsmet commented on #10998
Adding this to the list of issues I track for 1.7.0.

[2020-07-27 15:37] michalszynkiewicz commented on #10802
@geoand @askalee90 should we close this issue or change it from bug to enhancement and change the description?

[2020-07-27 15:41] geoand commented on #10802
Let's make it a enhancement :)

[2020-07-27 15:41] gsmet commented on #10971
We don't specify versions in the BOM unless there is a strong reason i.e. we have the component included in one of our extensions.

It doesn't have sense to enforce versions if we don't have a reason to do so.

Spring maybe has some sort of dependencies to Lombok but we don't at the moment.

[2020-07-27 15:41] #10971 closed

[2020-07-27 15:42] askalee90 commented on #10802
Can change to enhancement?

On Mon, 27 Jul 2020, 11:38 pm Michał Szynkiewicz, <notifications@github.com>
wrote:

[2020-07-27 15:59] kenfinnigan commented on #10076
Is it purely a reference thing?

Would it be better to have an auto generated dashboard containing the metrics from all extensions within an application?

[2020-07-27 16:04] geoand commented on #10998
I can take a look at this tomorrow if Stuart hasn't fixed it by then :)

[2020-07-27 16:06] radcortez commented on #10982
Ok, let me check

[2020-07-27 16:15] joao-dantas commented on #10998
Please let me know if I can be of any help

[2020-07-27 17:09] #10984 closed

[2020-07-27 17:18] radcortez commented on #10982
Hi @MadinaS I had a look and everything since to work fine.

After a few changes to your code, I was able to retrieve the expansion variable from the database using the Config.

Are you sure that you have `share.path` available in your Database? Can you try adding it to the `application.properties` file so we are sure that it works? Thanks!

[2020-07-27 17:28] MadinaS commented on #10982
yes, i'm sure, that i have this `share.path` in my database... and  u can see this property at line 4 and 5 in my application.properties
because of
[code]
not working now, i commented that line and added it that to DB like full path:
[code]
my app (with reactive DB inside) have no problem, if some property will be saved in DB... but only if it will be saved complete and not partial...

[2020-07-27 17:34] MadinaS commented on #10982
ach, i know.... i can also start app without errors... first, wen i use my login and `mp.jwt.verify.publickey.location` will be called - i became error message

[2020-07-27 17:37] radcortez commented on #10982
I've pushed a PR to your repro project:
https://github.com/MadinaS/quarkusReactuvePlusConfigSource/pull/1

You notice that I've implemented a test that retrieves that configuration. Assuming that you have a MySQL DB running on the `test` profile that I've added (same as `dev`), it should work. I did create the schema and populated the table manually on a local docker MySQL instance.

[2020-07-27 17:41] xmlking commented on #9766
thanks @michalszynkiewicz  will try

[2020-07-27 18:36] privatejava commented on #10729
Hi @geoand ,

Sorry for so late reply, but I have pushed the code repository at here: https://github.com/privatejava/quarkus-example-jackson please check and let me know. The problem is coming from `AutoJacksonModule` . I followed exactly like in the tutorial.

[code]
please do `mvn clean install -Plambda` for directly compiling it.

[2020-07-27 18:48] machi1990 commented on #10976
@l2dy thanks for opening the issue. I agree with what @geoand.

A bit of context, early on when https://github.com/quarkusio/quarkus/issues/4453 was opened, I considered using Lettuce and offering a Redis Client on top of it,  https://github.com/quarkusio/quarkus/pull/4882. I managed to come up with a working version both in native and JVM mode (even before the recent added GraalVM support in v5.3

[2020-07-27 19:01] rsvoboda commented on #6717
@geoand I just started to look at failures of https://github.com/quarkus-qe/beefy-scenarios Daily native run and I see `Caused by: com.oracle.svm.hosted.substitute.DeletedElementException: Unsupported method sun.misc.URLClassPath.getLookupCacheURLs(ClassLoader) is reachable` issue you are mentioning.

The same application compiles properly with `quay.io/quarkus/ubi-quarkus-native-image:20.1.0-java

[2020-07-27 19:05] geoand commented on #6717
Thanks @rsvoboda

[2020-07-27 19:46] michalszynkiewicz commented on #10684
hi @Mahaswami , running Jasper Reports with Quarkus is not supported.

You can create a Quarkus extension for it.
If you would like to try, check out https://quarkus.io/guides/building-my-first-extension or https://quarkus.io/guides/writing-extensions for more details.

Feel free to ping us on Zulip (https://quarkusio.zulipchat.com/) if you need any help.

[2020-07-27 19:46] #10684 closed

[2020-07-27 19:53] michalszynkiewicz commented on #9766
Thank you for trying!

What I meant by "when it's released" is that it's not released yet. According to the release plan, it should be released on July 30: https://github.com/quarkusio/quarkus/wiki/Release-Planning

[2020-07-27 22:13] famod commented on #10916
@radcortez I just realized that 1.7.0.CR1 is already slated for the day after tomorrow.

I guess it is not a showstopper if it misses CR1 (and lands in Final instead), but it would be great if you could manage to get the update of SmallRye Config into CR1.

[2020-07-27 23:22] jimbogithub opened #11007 "Qute dev-mode Classloader issue"
**Describe the bug**
Getting java.lang.NoClassDefFoundError when running Qute project with a separate jar dependency in dev-mode.

Was OK in 1.5.2 but failing in 1.6.1 (1.6.0 not tested).

Reproducer attached.

**To Reproduce**
Reproducer is a parent pom with two modules. One is a jar library. The other is a Quarkus REST service:

- tar xvf qute-classloader-issue.tar
- cd qute-classloader-issue
-

[2020-07-28 00:04] stuartwdouglas commented on #10943
I have opened https://github.com/quarkusio/quarkus/pull/11009 that adds a test around the URL behaviour.

[2020-07-28 00:18] rmohta commented on #6293
@aguibert After this PR, do we have both "quarkus-reactive-db2-client" and "quarkus-jdbc-db2"?

[2020-07-28 01:41] kdubb opened #11012 "Custom configuration converter for arrays are ignored"
**Describe the bug**

You cannot create a configuration converter for an array type. For example, to convert strings to a byte array by decoding base64.

**Expected behavior**

Custom configuration converters for array types are honored.

**Actual behavior**

Custom configuration converters for array types are ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a converter for `b

[2020-07-28 01:45] kdubb commented on #11012
It appears this might be a simple fix in `smallrye-config` because `SmallRyeConfig.getConverter` checks if type is an array before looking up custom converters.

[2020-07-28 01:46] stuartwdouglas commented on #10998
The this is combing the old approach with the new approach, which is why it is failing.

You don't run mvn quarkus:dev on the remote side, you run a 'mutable-jar' application with 'QUARKUS_LAUNCH_DEVMODE'

[2020-07-28 04:41] aguibert commented on #6293
@rmohta they are two separate extensions, this issue only was for tracking the `quarkus-jdbc-db2` extension.  Issue #9457 was for tracking the `quarkus-reactive-db2-client`

[2020-07-28 05:26] rmohta commented on #6293
@aguibert Thank You. PR-9732 mentions "quarkus-reactive-db2-client" can be used in both JVM and Native mode.
Is this the case for "quarkus-jdbc-db2" too? Or like any other JDBC driver, atm - these can only run in jvm mode?

[2020-07-28 05:47] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/185224096

[2020-07-28 06:09] geoand commented on #10943
Excellent, thanks

[2020-07-28 06:10] #10706 closed

[2020-07-28 06:20] geoand commented on #11012
cc @radcortez

[2020-07-28 06:54] jmartisk commented on #10076
There exists a Grafana dashboard generator usable with Quarkus (https://github.com/jamesfalkner/microprofile-grafana) but I'm not sure if all users are going to use Grafana only
It also has the problem that some metrics are registered lazily (and the full list is not known in advance), so running the generator against an application which has just booted might not include all metrics.

[2020-07-28 07:04] sladyn98 commented on #10922
@gastaldi Working on this if its not taken up yet :+1:

[2020-07-28 07:12] gsmet commented on #10916
Note that I will be a bit nervous to upgrade SmallRye Config post CR1 so let's try to get this in before CR1 please.

[2020-07-28 07:28] bobanbg opened #11017 "Quartz - scheduling jobs programmatically fails when running from IDE"
**Describe the bug**
Execution of "SCHEDULING PERIODIC TASKS WITH QUARTZ" Guide fails when MyJob is fired after job creation is done correctly.

**Expected behavior**
Trigger calls MyJob method "performTask()" and persist a new Task.

**Actual behavior**
When it comes to fire MyJob execution, it throws IllegalStateException:  Job class must implement the Job interface.

**To Reproduce**
Code to re

[2020-07-28 07:30] #10998 closed

[2020-07-28 07:41] #10953 closed

[2020-07-28 07:41] #10963 closed

[2020-07-28 08:00] emmanuelbernard commented on #6293
@rmohta All the drivers you see listed as extensions in https://code.quarkus.io including all JDBC drivers do work in both JVM and native. That's a core value of Quarkus :)

[2020-07-28 08:18] rmohta commented on #9457
Hello, Is there any limitation in Reactive DB2 to get current timestamp? The same query works wells in DB2 JDBC driver (See Issue #6293).  I have tested it using snapshot jar. Below code, always returns the value of timestamp as null.

And when I connect to our DB2 instance running DB2 v11.1.4.4, then Reactive version will always throw below error - whereas db2-jdbc-driver works fine. What am I do

[2020-07-28 08:44] aksth opened #11021 "How to use multiple OIDC clients with a single realm in Quarkus (IDP: Keycloak). Multi-tenancy support with Token instead of RoutingContext's path"
I have two questions regarding the use of OIDC with Keycloak in Quarkus:

1.  I need to use multiple clients with a single realm (tenant). How to?
2. Right now, multi-tenancy is based on `RoutingContext`'s path parameter. What if I want to use the same API URL path for multiple tenants/realms? In that case, I will have to use JWT Token's "issuer" parameter to distinguish the realm. Is there a way

[2020-07-28 08:51] #10813 closed

[2020-07-28 09:03] aksth commented on #11021
@pedroigor @sberyozkin Can you help me out?

[2020-07-28 09:24] ahofmeister commented on #10154
I talked with @FroMage about this topic in and he created this issue: https://issues.redhat.com/browse/RESTEASY-2603 No one yet picked it up.

[2020-07-28 09:25] l2dy commented on #10976
Thanks for explaining the background, I was not aware of that chat.

Should we close the issue then? There seems to be no intention to support another Redis extension officially.

[2020-07-28 09:35] #10976 closed

[2020-07-28 09:42] emmanuelbernard commented on #9457
@rmohta can you open a new dedicated issue and mention @aguibert ?

[2020-07-28 10:04] aksth opened #11024 "After updating Quarkus from 1.4.1.Final to 1.6.1.Final, org.apache.* is not found"
In Quarkus 1.4.1.Final, to use commons-io utilities such as IOUtils, I didn't have to use Apache Commons IO maven dependency. But after updating Quarkus to 1.6.1.Final, I'm getting `org.apache.commons.io.IOUtils` cannot be resolved. So now I have to use `commons-io` maven dependency. Did something related to Apache's commons-io change in between the version 1.4.1.Final and 1.6.1.Final?

[2020-07-28 10:04] dididado opened #11025 "Quartz extension does not store job on db."
**Describe the bug**
I'm trying to configure the quartz extension to work with database but it seems it always fall back to the default behaviour which is RAMJobStore.
Quartz tables are present but always empty, the only tables filled are "QRTZ_SCHEDULER_STATE" and "QRTZ_LOCKS".

This is the startup log:

[code]

**Expected behavior**
When i create a job i'm expecting that is persisted inside the

[2020-07-28 10:07] radcortez commented on #10916
Yes, all the fixes are in. I just need to push the release and do the update. @famod you were able to confirm that the fixes, did indeed solve the problems, right?

[2020-07-28 10:17] panchitoboy commented on #7451
+1

[2020-07-28 10:22] michalszynkiewicz commented on #9264
@parkee could you create an issue and we will discuss with @cescoffier when he's back from PTO if we want it here or separately?

[2020-07-28 10:25] radcortez commented on #11012
Let me have a proper look into this. For now as a workaround, you could call `io.smallrye.config.SmallRyeConfig#getValue(java.lang.String, org.eclipse.microprofile.config.spi.Converter<T>)` and pass in the Converter directly to bypass Converters resolution.

[2020-07-28 10:31] mkouba commented on #11025
It is initialized again because you create a new `Scheduler` instance manually:

[code]

You should inject the existing `org.quartz.Scheduler` instead. See for example https://quarkus.io/guides/quartz#scheduling-jobs-programmatically. Alternatively, you can obtain a scheduler instance via programmatic lookup: `Arc.container().instance(org.quartz.Scheduler.class).get()`.

[2020-07-28 10:31] #11025 closed

[2020-07-28 10:59] dididado commented on #11025
Thanks for the reply mkouba, i did miss that... Now it works as expected!

[2020-07-28 11:00] michalszynkiewicz commented on #9053
I'm closing the issue because @cescoffier pasted a config that works for him and we haven't heard from @smatijasevic that it does not work for him.

[2020-07-28 11:00] #9053 closed

[2020-07-28 11:07] mkouba opened #11026 "Qute: document Mutiny usage in API"
`io.quarkus.qute.TemplateInstance.createMulti()`

[2020-07-28 11:08] famod commented on #10916
Unfortunately I have not yet checked your fixes. Do you have a SNAPSHOT-release somewhere?
I would need to focus on the first two fixes since my team is not affected by the third one.

[2020-07-28 11:22] radcortez commented on #10916
Yes, I can push one to Central.

[2020-07-28 11:43] radcortez commented on #10916
Ok 1.8.5-SNAPSHOT should be available here: https://oss.sonatype.org/content/repositories/snapshots/

[2020-07-28 11:50] pedroigor commented on #11021
@aksth If your application is a `web-app` type you should be able to obtain tokens via CDI. The token should only be available from your request headers if your application is a `service` type and protected with bearer authorization.

Could you confirm what is the type of application you are using?

[2020-07-28 12:04] tkalmar commented on #10916
@radcortez I can confirm, that this snapshot fixes the regressions. Excellent work.

[2020-07-28 12:12] radcortez commented on #10916
@tkalmar Thank you very much for checking. Ok pushing a stable release!

[2020-07-28 12:14] geoand commented on #10729
As I expected, this happens because of the Afterburner Jackson module.

Basically it gets discovered automatically by `findAndRegisterModules`

[2020-07-28 12:14] wjglerum commented on #10916
Can confirm that the snapshot release fixes the regressions indeed, thanks @radcortez!

[2020-07-28 12:15] radcortez commented on #10916
@wjglerum Thanks for checking :)

[2020-07-28 12:25] famod commented on #10916
Thanks all! This is how the community should work.

[2020-07-28 12:41] benDeMtp commented on #9832
@geoand for me it's still present in 1.6.1.Final

java.lang.RuntimeException:
java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
        [error]: Build step io.quarkus.deployment.steps.BootstrapConfigSetupBuildStep#setupBootstrapConfig threw an exception: java.lang.IllegalArgumentException: Unsupported api 524288
        at org.objectweb.asm.Cl

[2020-07-28 12:46] radcortez commented on #10916
Indeed :)

[2020-07-28 13:04] ia3andy opened #11029 "./gradlew test failing on generated Gradle Quarkus apps"
Reproducer:
Generate any Gradle project using Quarkus tooling (Maven, code.quarkus.io, ...) and run `./gradlew test`

[code]

I've checked in the [doc](https://quarkus.io/guides/gradle-tooling#running-native-tests) that native is supposed to be ran on: `./gradlew testNative`

Quarkus version: 1.6.1.Final

[2020-07-28 13:05] ia3andy commented on #11029
CC @glefloch @gastaldi

[2020-07-28 13:14] geoand commented on #10729
The way forward for this is to exclude afterburner from `quarkus-amazon-lambda-http`. However we need https://github.com/awslabs/aws-serverless-java-container/pull/369 for that

[2020-07-28 13:23] #10694 closed

[2020-07-28 13:23] #10856 closed

[2020-07-28 13:23] #10361 closed

[2020-07-28 13:23] #10427 closed

[2020-07-28 13:30] gastaldi commented on #11029
@ia3andy `./gradlew test` and `./gradlew testNative` both works for me, I tried with a default app generated from https://code.quarkus.io/.

[2020-07-28 13:33] ia3andy commented on #11029
@gastaldi mmmh that even weirder :)

[2020-07-28 13:35] galderz commented on #10637
Assigning this to myself.

[2020-07-28 13:38] ia3andy commented on #11029
maybe this is related to the JDK or something else then?

[2020-07-28 13:40] gastaldi commented on #11029
JDK 11 here too, different build though:

[code]

[2020-07-28 13:41] galderz opened #11032 "Add Mandrel details to user guide"
Add Mandrel to the building native user guide.

Feel free to adjust the label, wasn't sure. Dev discussion is [here](https://groups.google.com/g/quarkus-dev/c/OZvbBLtWoDs).

[2020-07-28 13:42] ia3andy commented on #11029
@glefloch working for you?

[2020-07-28 13:58] geoand commented on #6717
@rsvoboda can you try running that test with GraalVM 19.3.1 (Java 8)?

If I am not mistaken, it should be working...

[2020-07-28 14:00] wmacibnc commented on #10758
Thanks! But I need after to execute Quarkus.run() is execute my metrics.

[code]

[code]

![image](https://user-images.githubusercontent.com/3158954/88675701-9416a900-d0c1-11ea-84e9-c41e66d2e081.png)

[2020-07-28 14:01] wmacibnc commented on #10758
Thanks! But I need after to execute Quarkus.run() is execute my metrics.

[code]

[code]

![image](https://user-images.githubusercontent.com/3158954/88675701-9416a900-d0c1-11ea-84e9-c41e66d2e081.png)

[2020-07-28 14:04] famod commented on #11024
I am pretty sure that this is the reason: There have been some changes to the IDE launcher that has been leaking various dependencies until 1.5.1:

See:

- #9865
- #10067

Works as designed I'd say. Maybe this should be added to https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.5 @gsmet?

[2020-07-28 14:04] wmacibnc commented on #10758
I Resoled with Thread, but is no cool.

[code]

[2020-07-28 14:17] edwin opened #11034 "Securing Quarkus's Prometheus/Microprofile API Endpoint"
For a better security, i usually use a different port and a username/password for Prometheus/Microprofile api endpoint.
In other framework, i can use below configuration,
[code]
Is it possible to achieve the same feature with Quarkus?

[2020-07-28 14:33] gsmet commented on #11024
Yeah, I think it's normal you have to add the dependency yourself.

Dunno if it's really worth a note in the release notes. We don't really track our dependencies and they come and goes.

[2020-07-28 14:33] #11024 closed

[2020-07-28 15:02] #11029 closed

[2020-07-28 15:02] ia3andy commented on #11029
I can't reproduce after rebooting

[2020-07-28 15:03] jaikiran commented on #6717
A quick look at this, suggests to me that something (perhaps in Kafka or our testsuite of Kafka) is pulling in `NameServiceDescriptor` or is setting the DNS provider to non-default value of `default` which seems to trigger a code path in static analysis where it considers the above method as reachable. I haven't yet had time to analyze this deeper within Kafka and might do it tomorrow if no one el

[2020-07-28 15:12] erickgr2 commented on #4005
@shumonsharif I could test the extension and indeed I could publish a SOAP service, but I had a problem with dependency injection. Raised the issue https://github.com/shumonsharif/quarkus-cxf/issues/1 for more detail.

[2020-07-28 15:22] rmohta opened #11035 "quarkus-reactive-db2-client will not return CURRENT_TIMESTAMP"
**Describe the bug**
 Is there any limitation in quarkus-reactive-db2-client to get current timestamp? The same query works wells in DB2 JDBC driver (See Issue #6293). I have tested it using snapshot jar. Below code, always returns the value of timestamp as null.

And when I connect to our DB2 instance running DB2 v11.1.4.4, then Reactive version will always throw below error - whereas db2-jdbc-dr

[2020-07-28 16:04] #10893 closed

[2020-07-28 16:06] #10150 closed

[2020-07-28 17:05] gsmet opened #11038 "Upgrade to Quarkus HTTP 3.0.13.Final"

[2020-07-28 18:03] aksth commented on #11021
It is a `service` type. The clients send requests which include a Bearer token in the 'Authorization' header. Even if its a `service` type application, I tried to inject the `JsonWebToken` (IdToken) as well as `SecurityContext` but like you said it wasn't loaded when context resolver was executing.

[2020-07-28 18:05] aksth commented on #11024
Okay. Thank you.

[2020-07-28 18:18] panchitoboy commented on #461
Did you find a solution for this?

[2020-07-28 18:34] pedroigor commented on #11021
@aksth For that type of client you should be able to obtain the bearer token from header context.request().headers().get("Authorization"). The problem is that you would need to decode and parse the value to then access the content of the JWT (for opaque tokens, it won't work).

I would say we need to revied multi-tenancy code in order to allow custom resolvers to have access to the "unverified" to

[2020-07-28 18:48] geoand commented on #11034
I wonder if we should allow for easy security configuration of some endpoints like this.

@sberyozkin @stuartwdouglas WDYT?

[2020-07-28 19:46] rsvoboda commented on #6717
@geoand Using `-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java8 -Dquarkus.platform.version=1.6.1.Final -Dquarkus-plugin.version=1.6.1.Final` works fine. Quarkus master requires 20.1.0.

[2020-07-28 19:50] geoand commented on #6717
Yeah I know.

I sent an email about this issue.

[2020-07-28 20:11] rsvoboda commented on #6717
Just noticed that JDK 11 based GraalVM 20.1.0 native-image throws this into the console, the build continues successfully
[code]

[2020-07-28 20:13] geoand commented on #6717
I've seen someone mention that somewhere, but I could never reproduce it. Does that happen with https://github.com/quarkus-qe/beefy-scenarios ?

[2020-07-28 20:29] marcelorubim commented on #5709
Hi!

This task is marked is done **Implement, test and integrate a JMS connector for reactive messaging**?

Any documentation on how to use JMS connector for Reactive Message? Looks like only AMQP, MQTT and Kafka are supported right now.

[2020-07-28 20:41] #10722 closed

[2020-07-28 20:49] #10916 closed

[2020-07-28 20:49] #11012 closed

[2020-07-28 20:51] kenfinnigan commented on #5709
From a quick look, it doesn't appear to be an extension.

However, it should be possible to use it directly in JVM mode: https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/2.2/jms/jms.html

[2020-07-28 21:04] gwenneg commented on #10436
Hi @BiggA94 and sorry for the late answer. As explained by @gsmet, the current cache key building logic is based on the parameters positions only and not on their names. But this should not cause `testChangedOrderWithNonCacheKey` to fail so I suspect there's something fishy going on in the cache extension code. I'll check that right away.

[2020-07-28 21:06] dmlloyd commented on #10796
You can customize the log output to a great extent using just [a format string](https://quarkus.io/guides/logging#format-string).  But if that isn't enough, the thing you probably want is a custom formatter.  [This API](https://github.com/jboss-logging/jboss-logmanager/blob/master/core/src/main/java/org/jboss/logmanager/ExtFormatter.java#L32) is what you'd need to implement.  In order to use this

[2020-07-28 21:27] panchitoboy opened #11045 "Cucumber support"
**Description**
Cucumber is the most used tool for BDD testing and it supports Junit5, the problem is that the support for Junit 5 is using the Test engine instead the junit extensions. It would be great to have @QuarkusCucumberTest that take care of this problem

**Implementation ideas**
I think that something like https://github.com/cucumber/cucumber-jvm/tree/main/spring could be implemented

[2020-07-28 21:31] marcelorubim commented on #5709
I tried to use this with Quarkus and got no luck.

Without the extension ```quarkus-smallrye-reactive-messaging```, the application does not start.

And when I try to use the configuration for the JMS connector, this exception is thrown:

[code]

I'll check the effort make an extension for this.

[2020-07-28 22:07] famod commented on #10303
Hm, I am able to provoke this in 1.6.1.Final via:
[code]
[code]
[code]

PS: The resolver is registered via `META-INF/services/org.junit.jupiter.api.extension.Extension`.

Reopen XOR new ticket?

[2020-07-28 22:10] geoand commented on #10303
Indeed that does provoke the message (it's known).

The problem used to be that the message was shown whether or not the was a parameter resolver.

I'd say reopen the issue but adjust the title.

[2020-07-28 22:17] famod commented on #10303
I am not allowed to change the title so I'd kindly ask you @geoand or @emmanuelbernard to do this. Thanks!

Btw, it has nothing to do with the CDI lookup (just checked), but you certainly knew that already. 😉

[2020-07-28 22:20] famod commented on #10303
Do we need a reproducer or is it obvious?

[2020-07-28 23:01] gwenneg commented on #10436
As I suspected, there's a bug in the cache key building logic which should be fixed with #11046.

Thanks for opening this issue @BiggA94!

[2020-07-29 01:23] jaikiran commented on #6717
Hello @rsvoboda, @geoand, That happen when the application is built/augmented using Java 8 and then native image Java 11 tool is used to build the native image out of that augemented application. So it looks like on that setup, the JAVA_HOME is perhaps pointing to Java 8 whereas the GRAALVM_HOME is being pointed to Java 11 variant.

[2020-07-29 01:33] klboke commented on #10796
The demand is like this. We have a log system built by ourselves, and we need to actively push the console log to the log system. I am looking forward to the annotation-based log integration solution, which will be a very practical function

[2020-07-29 03:17] viniciusfcf commented on #10198
Still happens in version 1.6.1

[2020-07-29 03:30] aksth commented on #11021
Thanks, @pedroigor. `context.request().headers().get("Authorization")` does the work. Is this a suitable way to do it? or will it have some side effects in the future?

[2020-07-29 04:16] SetoKaiba opened #11048 "quarkus-mailer and the trustAnchors parameter must be non-empty"
**Describe the bug**
According to the guid here, the ssl is enabled by default with quarkus-mailer.
https://quarkus.io/guides/native-and-ssl

**Expected behavior**
ssl should work with native image

**Actual behavior**
ssl is not working with navtive image
the trustAnchors parameter must be non-empty is reported when I try to send mail with quarkus-mailer.

**To Reproduce**
Steps to reproduce the

[2020-07-29 05:13] johnaohara commented on #10198
Apologise, I have not had any time to investigate this yet. @barreiro have you observed this behaviour when load testing with the vert.x PgPool?

[2020-07-29 05:32] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/186660749

[2020-07-29 06:05] rsvoboda commented on #6717
Thanks for explanation, I had JDK 8 set on my PATH and building native using docker, so when I set my local JDK to 11 this java.lang.ClassNotFoundException: sun.security.ssl.Debug warning is gone

[2020-07-29 06:37] geoand commented on #6717
Thanks @jaikiran ! No wonder I was never able to reproduce it 😎

[2020-07-29 06:39] geoand commented on #10303
Nah, I think it's obvious.

The fix of course needs to be upstream in the xstream project

[2020-07-29 06:59] geoand commented on #11048
Can you please enhance the description with the error you are seeing along with the properties you are using to configure the application?

[2020-07-29 07:05] mkouba opened #11052 "Qute: introduce template extensions with namespaces"
API:
[code]
and the usage:
[code]
It's like "calling static methods from templates".

[2020-07-29 07:12] geoand commented on #10875
@iocanel I assume we should not include the trigger in the `DeploymentConfig`?

[2020-07-29 07:14] geoand commented on #10873
@loicmathieu would registering String's constructors for reflection in Quarkus not be enough?

[2020-07-29 07:17] loicmathieu commented on #10873
@geoand no idea, I didn't have time yet to investiguate on this issue. But I'm very surprise String didn't works OOTB with GraalVM ...

[2020-07-29 07:23] geoand commented on #10873
Well, I think it's more that the String is created with reflection that causes the problem.

I am pretty sure that if we register it for reflection, we'll be fine. We probably need to introspect the return types of the codecs and make sure we register things for reflection (similar to what we do for JAX-RS for example).

[2020-07-29 07:36] loicmathieu commented on #10873
OK, I think I understand what you means now ;)
I'll have a look next week ...

[2020-07-29 07:48] rsvoboda opened #11054 "Native image build shows `-H:IncludeAllTimeZones and -H:IncludeTimeZones are now deprecated` message"
Native image build shows `-H:IncludeAllTimeZones and -H:IncludeTimeZones are now deprecated. Native-image includes all timezonesby default.` message

I think we should remove these arguments, I will prepare PR for it.

[2020-07-29 07:53] machi1990 commented on #11054
Is this on master? I thought https://github.com/quarkusio/quarkus/pull/10840 should have fixed it.

/cc @Sanne

[2020-07-29 07:54] geoand commented on #10812
I'm gonna take this one as I think it's a little more complex than it seems and it would be good to have a fix for `1.7.0.CR1`

[2020-07-29 07:55] rsvoboda commented on #11054
I'm just looking at that code changes. I see it with my sample apps, but not in all cases, I will check `includeAllTimeZones` is or is not set. Some module didn't throw this warning.

[2020-07-29 07:55] jmartisk commented on #10758
The problem is that you're using the Quarkus command mode wrong. You need to execute `Quarkus.run(MyApp.class, args);` from the `main` method and that has to be the last (and optimally the only) thing in the `main` method, because Quarkus will then take control of the thread that calls it. Anything after that in your `main` method will probably never execute. Running the `Quarkus.run` method in a

[2020-07-29 08:02] rsvoboda commented on #11054
I don't do any setup for native arguments, using just defaults

I see this:
[code]

mvn clean verify -Dnative -Dquarkus.native.container-build=true -Dquarkus.native.native-image-xmx=4g -pl '!002-quarkus-all-extensions' -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-mandrel:20.1.0.1.Alpha2-java11

[2020-07-29 08:06] rsvoboda commented on #11054
I will double check on my local machine. But in ~1h on call now.

[2020-07-29 09:24] #8272 closed

[2020-07-29 09:24] #11007 closed

[2020-07-29 09:35] #10960 closed

[2020-07-29 09:43] edewit opened #11056 "Qute: Add javascript library to support template creation"
**Description**
As described in this blog: https://www.morling.dev/blog/quarkus-qute-test-ride/ under "Smoother User Experience via Unpoly", could there be a version of `Unpoly` specifically designed for qute to create a nicer UX. It would be automatically added to the rendered template and will provide a tight integration to render forms and errors, do post or put operations do pre-fetching of li

[2020-07-29 10:15] geoand commented on #10812
I'm facing a weird Arc issue which is why I haven't opened a PR yet - I'll ping you when I do

[2020-07-29 10:21] galderz commented on #10637
I'm unassigning myself from this because I won't be able to work on in for the next week or so. I've tried to replicate it on macOS but that won't work because you can't run podman on top of docker. Also tried centos 7 server, but podman version there is only 1.x. Finally tried fedora 32 aarch64 but the quarkus images don't support that arch (see https://github.com/quarkusio/quarkus-images/issues/

[2020-07-29 10:31] Serkan80 commented on #10889
The same happens when you use Hazelcast, see here:

https://stackoverflow.com/questions/63150170/problems-configuring-clustered-vertx-eventbus-in-quarkus

[2020-07-29 10:50] wmacibnc commented on #10758
Ok! Thanks!

[2020-07-29 10:50] #10758 closed

[2020-07-29 11:33] parkee opened #11059 "[quarkus-grpc] Add support for distributed tracing"

[2020-07-29 11:34] parkee commented on #9264
Sure @michalszynkiewicz
#11059

[2020-07-29 11:38] rsvoboda commented on #11054
I see it with current Quarkus master - e013d6279c

Steps to reproduce:
[code]

[2020-07-29 11:44] rsvoboda commented on #11054
command string contains `... -H:-AddAllCharsets -H:-IncludeAllTimeZones ...` so @Sanne's change kicks in
But native-image complains about `-H:IncludeAllTimeZones and -H:IncludeTimeZones are now deprecated. Native-image includes all timezonesby default.`

[2020-07-29 11:52] rsvoboda opened #11060 "Warning about unsupported argument is thrown into the console when running with Mandrel"
Warning about unsupported argument is thrown into the console when running native build using Mandrel image.
This is usability issue, Mandrel is supposed to be the default for Quarkus and therefore no warnings should be in the console log.

Warning shown in the console:
[code]

Steps to reproduce:
[code]

This is applicable to Mandrel only, GraalVM CE doesn't throw this warning.

[2020-07-29 12:01] rquinio commented on #9967
I haven't tried with the quickstrat, but the log would happen when polling health /ready endpoint.

There's 1 admin client instance created each time: https://github.com/quarkusio/quarkus/blob/f80bb060c1af9995609358c02877c817af6ff5ea/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsTopologyManager.java#L29

I'll open a PR with the proposed change.

[2020-07-29 12:03] KMUS commented on #10325
Tested Quarkus 1.6.1 with still the same metnioned problem but it seems, that this is a GraalVM issue. The truststore works as expetected. The keystore on the other hand is not part of the native image. After turning client authentification off in Graylog, all works fine with the newest Graal version.
Can anybody confirm this issue?

[2020-07-29 12:08] SetoKaiba commented on #11048
Here's the error.
2020-07-29 12:07:59,664 ERROR [io.ver.ext.mai.imp.SMTPConnection] (vert.x-eventloop-thread-4) exception on connect: javax.net.ssl.SSLHandshakeException: Failed to create SSL connection
        at io.vertx.core.net.impl.ChannelProvider$1.userEventTriggered(ChannelProvider.java:115)
        at io.netty.channel.AbstractChannelHandlerContext.invokeUserEventTriggered(AbstractChannelHa

[2020-07-29 12:09] SetoKaiba commented on #11048
here's the properties.

# Configuration file
# key = value

# datasource configuration
quarkus.datasource.url=jdbc:mysql://localhost:3306/blueeyesdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
quarkus.datasource.driver=com.mysql.cj.jdbc.Driver
quarkus.datasource.username=root
quarkus.datasource.password=123456

# drop and create the database at startup (use `update` to only update

[2020-07-29 12:15] #10436 closed

[2020-07-29 12:42] gsmet commented on #11048
Which version of Quarkus is it?

[2020-07-29 12:42] pedroigor commented on #11021
No side effect if you are using JWT. But you would need to parse the token by yourself. We could potentially make this use case a bit easier to implement.

[2020-07-29 12:58] zakkak commented on #10637
Unfortunately `podman unshare chown -R $CONTAINER_UID path` will leave you with a path that the host user won't be able to edit/delete and will need `podman unshare rm -rf path` to achieve it. So after the build is complete we need to chown the path back to the host user.

[2020-07-29 13:13] SetoKaiba commented on #11048
1.5.1.Final. Is it a bug fixed in later version?

[2020-07-29 13:14] kenfinnigan commented on #11059
This will need to wait on https://github.com/quarkusio/quarkus/issues/10499

[2020-07-29 13:31] sirAlexander commented on #7893
@geoand any suggested workarounds?

[2020-07-29 13:41] dmlloyd commented on #10796
How are you pushing the log?  You might be better off implementing a custom handler instead.  A formatter can turn a log record into a string, but a handler can take a log record and do anything with it (including serializing it, sending it to a server, etc.).

[2020-07-29 13:45] sirAlexander commented on #7893
@tobiasstadler what was your workaround?

[2020-07-29 13:51] sirAlexander commented on #11034
@edwin https://github.com/quarkusio/quarkus/issues/7893

[2020-07-29 13:52] geoand commented on #7893
We don't have that capability currently and TBH I don't remember others asking for it

[2020-07-29 13:53] geoand commented on #11054
I saw this as well. Is someone looking at it?

[2020-07-29 14:14] maxandersen commented on #10921
@gsmet I think this is nexus profile id as documented at https://github.com/sonatype/nexus-maven-plugins/blob/master/staging/maven-plugin/WORKFLOWS.md#targeted-profile

[code]

I don't have the credentials so can't see if/where it is but I assume you have the keys ;)

[2020-07-29 14:42] gsmet commented on #10921
We don't have access to any administration UI anyway on OSSRH so not sure what it is.

I might find the information when I will create the next staging repo, it might be in the staging repo UI somewhere.

There is a `Profile` column so that might be it.

[2020-07-29 14:59] gastaldi opened #11062 "quarkus:dev does not report javax.enterprise.inject.UnsatisfiedResolutionException when started the first time"
**Describe the bug**
Have a bean not managed by CDI and try to inject it in another bean, then without running `mvn clean package`, run `mvn quarkus:dev`

**Expected behavior**
The output should display the following exception:
[code]

**Actual behavior**
Only the following output is seen:

[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Fedor

[2020-07-29 15:41] gsmet opened #11064 "Split package: io.quarkus.agroal.deployment is used in both quarkus-agroal-deployment and quarkus-agroal-spi"
We need to change the package for the SPI but it's too risky to do it now, scheduled for 1.8.

[2020-07-29 15:58] edwin commented on #11034
yes, you are correct for the `different management port` part @sirAlexander
i was hoping if we cannot differentiate the port, at least give some security measurements such as `basic_auth` so that my prometheus can pull the metrics without have to worrying other malicious people might do the same

[2020-07-29 16:14] #10962 closed

[2020-07-29 16:15] #10812 closed

[2020-07-29 16:15] marziman commented on #10095
hello colleagues,

we are using native images and want to enable also native transport for vertx.
We are seeing the following output in logs:
"Vertx has Native Transport Enabled: false"

@cescoffier @tsegismont is this intended behaviour or are we doing sth. wrong?
We really would like to make use of native transport with native images.

Thanks for all your great work and help
Mehmet

[2020-07-29 16:21] gsmet commented on #11048
I think you might hit the issue fixed by @geoand here: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.6#native-image-and-truststore .

I would give 1.6.1.Final a try and see how it goes.

[2020-07-29 16:26] gsmet commented on #11054
I'm having a look. So my understanding is that we should drop this entirely?

[2020-07-29 16:37] gsmet commented on #11054
I created https://github.com/quarkusio/quarkus/pull/11065 .

[2020-07-29 16:56] famod commented on #10303
I fear that route doesn't look very promising: https://github.com/x-stream/xstream/issues/101

[2020-07-29 17:34] gsmet commented on #10357
@fwgreen could you prepare a reproducer in the form of a simple Maven project? Thanks!

[2020-07-29 19:09] kekbur commented on #8399
I created a cookie based CSRF security filter: https://gist.github.com/kekbur/b6fa75cfe52846a08143703ec2cf13e0

It has some caveats, but it should still be useful to some people.

* Only supports the content type `application/x-www-form-urlencoded`.
* The CSRF token must be present in the first `x` bytes of the request entity.

Using it is exceedingly simple: just include the class in your project

[2020-07-29 21:15] brokenjacobs opened #11070 "Kubernetes extension should not use version in labelselectors"
**Describe the bug**
When using manifests generated by the quarkus kubernetes extension, issues are encountered updating versions of deployed software. This is because labelselectors in deployments and other kubernetes objects are immutable. When using software such as fluxcd, the manifest is not able to be updated without deleting the old deployment, or naming the new deployment something else, a

[2020-07-29 21:18] brokenjacobs commented on #11070
Slightly more nuanced here.. the labels that are used in the selector should be configurable.

[2020-07-29 21:25] vietj commented on #10921
this is information you can get in sonatype OSS UI but it's a bit tricky, here is a screenshot that shows where you can get it

<img width="953" alt="Screen Shot 2020-07-29 at 23 23 29" src="https://user-images.githubusercontent.com/225674/88855220-cecc2e80-d1f2-11ea-9e5b-40ca55487642.png">

[2020-07-29 21:27] vietj commented on #10921
Actually currently it does retries , what could be improved is that the proxy currently store files in memory and maybe with Quarkus this will be too much and thus files should be persisted on the disk instead.

[2020-07-29 21:30] gsmet commented on #10921
Ah, thanks, that's helpful.

Another question: we are using the Sonatype Nexus plugin not the usual deploy plugin. Do you think it can cause issues or is it supported too?

[2020-07-29 21:36] geoand commented on #11070
I like the idea about the configurable labels in the selector.

[2020-07-29 21:39] gwenneg commented on #8483
Hi @guldner! Sorry you had to wait so long for an update on this issue. I just tried to reproduce it using Quarkus `1.6.1.Final` and the NPE seems to be gone with this version of Quarkus. Could you please give it a try?

[2020-07-29 21:52] wjglerum commented on #11062
Hi @gastaldi, I just ran into the same issue this evening when developing with `mvn quarkus:dev`

Your suggestion to use `mvn clean package` as a workaround to find the issue worked for me too. Thanks to your bug report I could investigate my issue locally a bit more, thanks!

Turns out IntelliJ was also warning me about this one 😅

[2020-07-29 22:43] fwgreen commented on #10357
Here's an example using `@FormParam`: https://github.com/fwgreen/PathConversionTest.  The issue is in the DetailResource class.  Thanks for taking the time to look at this.

[2020-07-29 22:54] nebrass opened #11072 "Http Root Path is not gathered by NativeImageTest"
**Describe the bug**
I'm create a CRUD application that is using Postgresql as database. And for tests:

- I'm using testcontainers to be iso equal the runtime db.
- I'm using, obviously, Rest Assured to verify that my REST APIs are returning the expected results
- I'm inheriting every @QuarkusTest annotated class to an @NativeImageTest class, to be able to run my test on the native image.

In the

[2020-07-29 23:22] famod commented on #10303
I took a stab at this upstream: https://github.com/x-stream/xstream/pull/216

This won't help for certain scenarios (e.g. if your parameter class contains a `TreeMap`) but it removed all warnings for my use case.

Now lets hope it gets merged and released soon.

[2020-07-30 01:28] stuartwdouglas opened #11075 "Large numbers of security annotations will cause deployment to fail"
I noticed this when playing around with my large deployment generator, if you have more than around 1k security annotations you will get the following:

    [ERROR] 	[error]: Build step io.quarkus.arc.deployment.ArcProcessor#generateResources threw an exception: org.objectweb.asm.MethodTooLargeException: Method too large: io/quarkus/security/runtime/interceptor/SecurityCheckStorage_878ea92f8543033

[2020-07-30 02:24] Neisuz opened #11076 "Read Timeout with Graphql extension"
**Describe the bug**
i've got the simple project where i use Rest approach.
When i add quarkus-smallrye-graphql extension and execute the request via Rest approach where i have to deserialize the body i got this ->

[code]

probably where it stucks ->

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Graphql extension shoudn't affect the behavior of the Rest

*

[2020-07-30 02:26] stuartwdouglas commented on #11075
@geoand I made a start on this here: https://github.com/stuartwdouglas/quarkus/tree/11075 but I need a bit of advice on how to handle the spring security stuff as I am not 100% sure what the semantics are supposed to be.

[2020-07-30 03:18] stuartwdouglas commented on #10357
The converter is invoked outside the scope of the current transaction, so the Person is a detached entity.

[2020-07-30 03:45] stuartwdouglas commented on #11034
You can use the normal permission system to apply security to an endpoint, see https://quarkus.io/guides/security#authorization-of-web-endpoints-using-configuration

We will likely support multiple endpoints at some point, but it is a fair bit of work and adds a bit of complexity, so I want to make sure there is sufficient demand before implementing it.

[2020-07-30 04:38] jaikiran commented on #11060
Hello @rsvoboda, I believe if you build GraalVM from oracle/graal master you would see the same warning with Graal VM CE too. They committed that change (which was then brought into Mandrel) recently https://github.com/oracle/graal/issues/2598 and that change I think will be available in next release of Graal VM.

[2020-07-30 05:34] mickroll opened #11079 "InjectMock does not work on observer method"
**Describe the bug**
Mocking a bean with `@io.quarkus.test.junit.mockito.InjectMock` does not work for methods that use `@Observes`.
Example:
`public void onExampleEvent(@Observes ExampleEvent event) {...}`
This method is called when `ExampleEvent` is fired, even if the bean containing this method is mocked by using `@InjectMock`.
Hint: any other method of the same bean is mocked successfully.

**

[2020-07-30 06:24] vietj commented on #10921
you should use the usual deploy plugin, I think that the sonatype nexus plugin works differently (perhaps it is as efficient?)

[2020-07-30 06:28] phillip-kruger commented on #11076
Hi @Neisuz  - Do you have a small project that recreate this issue so that I can have a look ?
Also see this example that use both REST and GraphQL: https://github.com/phillip-kruger/graphql-example/tree/master/quarkus-example

[2020-07-30 07:07] geoand commented on #10303
That's great! Let's see what happens

[2020-07-30 07:12] #11054 closed

[2020-07-30 07:13] rsvoboda commented on #11060
It's Mandrel specific - see `This is applicable to Mandrel only, GraalVM CE doesn't throw this warning.` in the description

@gsmet / @geoand Is there a way to detect that Mandrel is used and skip the `--no-server` argument? Asking because Mandrel is supposed to be the default (at least for Red Hat) and the experience should be "warning-less"

[2020-07-30 07:15] ia3andy opened #11083 "Handle config conflict properly in Codestarts"
what happens if two extensions list the same key ? warning, error, nothing ?

_Originally posted by @maxandersen in https://github.com/quarkusio/quarkus/pull/10372#discussion_r462139385_

[2020-07-30 07:15] #10991 closed

[2020-07-30 07:16] geoand commented on #11075
Looking now

[2020-07-30 07:17] ia3andy opened #11084 "Find a way to inform the consumer (print or result) about the Codestart processing"
that todo seems important to fix?

_Originally posted by @maxandersen in https://github.com/quarkusio/quarkus/pull/10372#discussion_r462147102_

[2020-07-30 07:19] geoand commented on #11060
@rsvoboda what does `native-image --version` return?

Is there is anything in that output that we can use to differentiate Mandrel?

[2020-07-30 07:20] ia3andy opened #11085 "Add a way to find/list default (and for a set of codestarts) config keys in Codestarts"
we should somewhere list the default name/data codestart properties/data will be fed in.

_Originally posted by @maxandersen in https://github.com/quarkusio/quarkus/pull/10372#discussion_r462137728_

[2020-07-30 07:29] famod commented on #10303
Until a new release of xstream (which might take a long time), we_could_ work around this Quarkus by registering our own list of converters. Just saying.

[2020-07-30 07:33] ia3andy opened #11086 "In tooling, do not install any extension when there are multiple matches"
**Describe the bug**
I think that by default we shouldn't install any extension when there are multiple matches:

We only list then and tell the user that they can use a flag to "accept" installing all

Example of case where you may not want all installed in the end:

[code]

**Expected behavior**
Fail and list the matching extensions

**Actual behavior**
They are installed

This new behavior has

[2020-07-30 07:35] maxandersen commented on #11086
this is broken behavior and should not go out in CR1. needs fixing.

[2020-07-30 07:35] maxandersen commented on #11086
/cc @gastaldi

[2020-07-30 07:37] geoand commented on #10303
Yeah, if the release don't come soon, I'll let you do a PR for that :)

[2020-07-30 07:39] ia3andy commented on #11086
I had to tweak a test in my PR to be ok with that behavior, depending on which one gets first, this test need to be changed:
https://github.com/ia3andy/quarkus/blob/codestarts-v0/integration-tests/devtools/src/test/java/io/quarkus/devtools/commands/AbstractAddExtensionsTest.java#L166

[2020-07-30 07:40] vhdirk commented on #10716
I can confirm this issue also exists for quarkus-liquibase

[2020-07-30 07:50] galderz commented on #11060
[code]

@zakkak has been worked on the packaging of Mandrel, maybe there's something we can do on that side, let's see what he says. Otherwise we can indeed execute the above and see if `Mandrel Distribution` or `Mandrel` is in it, and decide whether to add `--no-server` based on that.

[2020-07-30 07:51] galderz commented on #11060
Oh, I think @jaikiran's option above is preferrable. Wait and no fix :)

[2020-07-30 07:55] geoand commented on #11060
I think that for 1.7, we should add the solution above, since we don't want users to see this warning with Mandrel. We can always remove or alter it when we move to GraalVM 20.2

[2020-07-30 07:59] galderz commented on #11060
@jaikiran Are you completely sure this is due to a backport to Mandrel? `useServer` is [true](https://github.com/graalvm/mandrel/blob/mandrel/20.1/substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImageServer.java#L79) in Mandrel 20.1 branch.

[2020-07-30 08:00] galderz commented on #11060
I think this issue is more due to the packaging that we do for Mandrel, which is slightly different to the one done for Oracle GraalVM.

[2020-07-30 08:03] galderz commented on #11060
@geoand Wait until @zakkak replies before implementing anything. It could be that maybe we can avoid the Quarkus change by adjusting the packaging. Let's see what he says.

[2020-07-30 08:06] geoand commented on #11060
Well, it was too easy so I just did: https://github.com/quarkusio/quarkus/pull/11088

[2020-07-30 08:06] galderz commented on #11060
@geoand LOL, so quick! hehe :)

[2020-07-30 08:12] zhymke opened #11089 "Multiple instances of named log handler extention"
**Describe the bug**
I created a named log handler extention. My deployment module returns NamedLogHandlersBuildItem.
Application starts and the handler does it job.

After hot reload one more instance of the handler is register and the job is done twice. On each reload one additional handler instance is created and the handler code is runned multilple times.

**Expected behavior**
After hot reloa

[2020-07-30 08:19] benDeMtp commented on #9832
No more error if I remove this dep from my module pom :

<dependency>
      <groupId>org.graalvm.nativeimage</groupId>
      <artifactId>svm</artifactId>
 </dependency>

[2020-07-30 09:49] hantsy commented on #9741
@geoand As mentioned by Thomas https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20Vertx.20WebClient/near/204920121, I think it is possible to declare a  Quarkus specific `BodyCodec` in the vertx extension, and read our custom Jackson `ObjectMapperCustomizer` automatically.

[2020-07-30 09:52] geoand commented on #9741
Yeah, we just need to agree if we want that or not

[2020-07-30 10:07] gsmet commented on #9832
Yes, so the issue here is that the svm dependency is including a non-shaded version of ASM which conflicts with our own.

Apparently, they have solved this issue in later versions but right now, that's a big problem :/

[2020-07-30 10:15] gsmet commented on #11038
Fixed in https://github.com/quarkusio/quarkus/pull/11057

[2020-07-30 10:15] #11038 closed

[2020-07-30 10:21] ChFlick opened #11091 "RestAssured test fails using Qute templates with constructor injection"
**Describe the bug**
When a Qute template is injected via constructor injection, the template cannot be rendered in RestAssured tests and it throws a NullPointer exception.
Using field injection it works fine.

This only happens in the test, when running the application regularly, it works without problems.

**Expected behavior**
The test should work using constructor injection.

**Actual behavior

[2020-07-30 10:26] geoand commented on #11072
It's really hard to try and figure out what's going on without a reproducer project - do you perhaps have one that demonstrates this issue?

[2020-07-30 10:31] geoand commented on #11079
From @mkouba

[code]

[2020-07-30 10:39] jaikiran commented on #11060
@galderz, you are right - I had a more detailed look at the Mandrel code and it looks like this could be due to something else.

[2020-07-30 11:14] zakkak commented on #11060
Hello all, sorry for the delay, it appears that this is indeed a packaging/configuration mismatch.
Mandrel is using a `native-image` bash script, while GraalVM CE is using a binary `native-image` (this is controlled by `-Dcom.oracle.graalvm.isaot=true`).
In https://github.com/graalvm/mandrel/blob/56d4ee1b28d9099d60929b3bba0a94429f857759/substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driv

[2020-07-30 11:15] geoand commented on #11060
I'll take the PR out of draft then, thanks @zakkak for the information.

[2020-07-30 11:21] gsmet commented on #9741
I'm not sure I see an easy way out here...

The `ObjectMapper` used by Vert.x has some specific customization. The fields in `Json` are public static so we could override them as long as we do it early enough. We could have to talk to @vietj about that though.

And then, we have two options: either entirely replace the mapper and apply the specific Vert.x extensions as customizers or do the opposi

[2020-07-30 11:31] jaikiran commented on #11060
Hello @zakkak, I don't think we can fix this on the Quarkus side (or rather I don't think there's a fix really for this). If we remove the --no-server from Quarkus for Mandrel then this will launch a server in the background to run the builds. That's not something we want. In 20.2.x of Graal, they toggled the "default" which means that they don't launch any server at all unless explicitly asked to

[2020-07-30 11:34] jaikiran commented on #11060
Is that intentional? In the build process of the Graal VM mx build, there is an option to make sure that these generated "tools" are native applications themselves.

[2020-07-30 11:53] zakkak commented on #11060
Yes this is intentional. The bash script allows us to tweak things without altering source code.
See https://github.com/graalvm/mandrel-packaging/blob/14e3ebb4b80010cae4e01c319fc55afb70c028f4/buildJDK.sh#L98

If this turns out to cause trouble we will have to revisit that decision.

[2020-07-30 12:26] maxandersen opened #11094 "1.7 codefreeze is 12:00 CEST Thursday July 30th"
(test issue)

[2020-07-30 12:29] velias opened #11095 "PanacheQuery.range(startIndex, lastIndex) should use long typed parameters"
**Description**
`PanacheQuery.range(startIndex, lastIndex)` method should use `long` typed parameters instead of `int` to be usable for large datasets. Problem is both in ORM and MongoDB extension. JDBC and mongo drivers use `long` types for indexes as I know to prevent problems with large data sets.

**Implementation ideas**
Add `PanacheQuery.range(long startIndex, long lastIndex)` method with im

[2020-07-30 12:34] mkouba commented on #11091
@ChFlick Can you see a similar warning in the log?
[code]
It seems that the class is not compiled with `-parameters` and therefore quarkus is not able to derive the template name from the injection point.

You can either compile your class with `-parameters` or make use of `@io.quarkus.qute.api.ResourcePath`, i.e.
[code]

In Maven you can also use `-Dmaven.compiler.parameters=true` (maven-compiler

[2020-07-30 12:45] nebrass commented on #11072
Thank you @geoand  for your fast respone 😊

I couldn't reproduce with a minimal project: [here is ](https://dev.azure.com/nebrasslamouchi/playing-with-quarkus-microservices-monolith-example)the source of the Proof-of-concept that is having the issue.

Just fyi, the `spring-data-jpa` dependency is the one on master, as I'm depending on the fixes that will be shipped in the 1.7.0..

I've made a work

[2020-07-30 12:46] michalszynkiewicz opened #11096 "Externalize default builderImage URL for native image"
Currently the default container image for building the native image is hardcoded: https://github.com/quarkusio/quarkus/blob/ee7b838b9929df19ca83565e16e102c30fe5c815/core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java#L137

For product we'd want a different default one. We need to figure out a way to easily modify the property for the product.
E.g. move the the default URL to

[2020-07-30 12:49] velias commented on #11095
I can try to provide PR if you are interested.

[2020-07-30 13:05] mkouba commented on #11017
I've tried to modify our [quartz-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/quartz-quickstart) to schedule the job programmatically (with `quarkus.quartz.force-start=true`) and I didn't run into any problem. We also have a [InjectQuartzSchedulerTest](https://github.com/quarkusio/quarkus/blob/master/extensions/quartz/deployment/src/test/java/io/quarkus/quartz/test/Inje

[2020-07-30 13:08] loicmathieu commented on #11095
Hibernate with Panache uses JPA Query.
And in JPA query `setFirstResult` and `setMaxResults` takes int as parameters.

The same is true for MongoDB, we use `FindIterable.skip` and `FindIterable.limit` and both uses int as parameters.

[2020-07-30 13:12] gastaldi commented on #11086
I don't think the tests were changed, so it's hard to find this behavior. Also `mvn quarkus:add-extension -Dextensions="Sm??lRye**"` works in 1.6.1.Final, so this behavior is a bit inconsistent

[2020-07-30 13:21] ia3andy commented on #11086
@gastaldi the behavior was quite consistant:
- pattern search: allow multiple (the user intend to use a pattern, this is not hazardous)
- partial matches, name, ...: fail with the list of matches and tell the user to use a pattern or be more precise

[2020-07-30 13:31] RHodzelmans commented on #10400
So one of my customers is talking about that all Azure docs are pointing to Spring Boot. If we want to offer a developer low friction onramp to run Quarkus on Azure, they need doc examples that are feature comparable with the documentation about Spring Boot. So that if they want to adopt Quarkus, they get friction, if they want to deploy Spring Boot examples galore. E.g. https://docs.microsoft.com

[2020-07-30 13:31] velias commented on #11095
Hmm, interesting, I was convinced firstResult/skip are `long` typed. It is some time I used them last time, so I probably mixed up with `count` type of methods, which return `long` (which is quite interesting and makes these APIs a bit inconsistent). So sorry for bothering you, underlying APIs have to be patched first ;-)
Thanks for quick reply @loicmathieu

[2020-07-30 13:35] geoand commented on #10400
cc @jclingan

[2020-07-30 13:35] #11060 closed

[2020-07-30 13:37] bobanbg commented on #11017
Sure! Here's the repo whith code:  https://github.com/bobanbg/quarz-example

I launched it with Intellij shortcut (green arrow) next to psvm

[2020-07-30 13:42] ia3andy commented on #11086
@gastaldi what does that emoticon mean?

[2020-07-30 13:43] gastaldi commented on #11086
That I am having a look 😉

[2020-07-30 13:45] zakkak commented on #10637
Note that if the image is using the root user this issue doesn't appear:

[code]

vs

[code]

So an alternative would be to generate images that use the root user instead of the quarkus user

[2020-07-30 13:50] zakkak commented on #10637
@cescoffier would using the root user in the images cause any issues I might not be aware of?

[2020-07-30 13:56] gsmet commented on #10637
@geoand do you know who could look at that one?

[2020-07-30 13:57] geoand commented on #10637
@gastaldi maybe? I have never used podman, otherwise I would take a look myself

[2020-07-30 13:58] gsmet commented on #10637
@Ladicek maybe?

[2020-07-30 13:58] gastaldi commented on #11094
http://www.timebie.com/std/centraleuropeansummer.php?q=12

[2020-07-30 13:58] mkouba commented on #11017
Hm, your example works fine from the command line. So it seems like a class loading problem connected to `@QuarkusMain` started from the IDE. @stuartwdouglas Do you have an idea?

BTW `MyJob` should be public (the docs are already fixed in the master branch).

[2020-07-30 14:00] jaikiran commented on #11060
Thank you, that helped :) Mandrel is new to me, I wasn't aware of these changes.

[2020-07-30 14:01] gastaldi commented on #10637
I've played with Podman once, I can have a look if no one beats me to it

[2020-07-30 14:03] geoand commented on #10637
That's better than me, none and I don't think I can even install it :)

[2020-07-30 14:07] gastaldi commented on #10637
I wonder if https://github.com/tqvarnst/quarkus/commit/0b52b074b5ab95f264331dd60ab580d0d51182a6 actually fixes this. @tqvarnst can you confirm?

[2020-07-30 14:16] Ladicek commented on #10637
Just like @geoand, I have exactly zero experience with Podman.

[2020-07-30 14:18] nebrass commented on #11072
I found the origin of this issue @geoand .. it happens when there is two `application.properties`, the main one and a second one in the test resources.

I moved back the test properties to the main `application.properties` with the `%test` profile prefix and deleted the second one and everything is working perfectly now..

Is it still to be an issue ? or it's mandatory/recommended to have only one

[2020-07-30 14:19] bobanbg commented on #11017
Yep sorry, I used IDE for debugger and I didn't tried with command line... I confirm code works with command line and NOT work with QuarkusMain from IDE.

PS: I refactored code in the repo and made public MyJob as suggested

[2020-07-30 14:30] #11072 closed

[2020-07-30 14:31] nebrass commented on #11072
Okey ! Thank you @geoand ! 😃

[2020-07-30 14:35] zakkak commented on #10637
I think I've got a solution (we essentially need to add `-u=$(id -u):$(id -g)`):
[code]

[2020-07-30 14:41] geoand commented on #11072
Thanks for reporting

[2020-07-30 14:46] geoand commented on #10637
@zakkak if that works, please open a PR and ask @rsvoboda to test

[2020-07-30 15:06] gastaldi commented on #10637
@zakkak is it OK if I assign this issue to you?

[2020-07-30 15:08] zakkak commented on #10637
@gastaldi I do have something working, just polishing it and I will soon open a PR.

[2020-07-30 15:44] MadinaS commented on #10982
i added another Tests for my REST point... tetst work fine, but i still have Error, wenn i try to login in my app

![Screenshot from 2020-07-30 17-34-48](https://user-images.githubusercontent.com/16834492/88943865-5154fc80-d28c-11ea-9fcf-40af4b970d3c.png)

[2020-07-30 15:51] gsmet opened #11101 "gRPC tests not working when releasing"
I had to disable the gRPC tests in the 1.7 branch here: https://github.com/quarkusio/quarkus/commit/09c8c3c4ad084b5c24098e9ed6da086244f2b038 and here b465fdf3f87ca066230480038d761b70f0db7063

The issue is that the artifact `io.quarkus:quarkus-grpc-protoc-plugin:jar:shaded:1.7.0.CR1` is not found whereas it's built before and available locally in the local repository (I checked).

It's the gRPC dep

[2020-07-30 15:54] gastaldi commented on #11101
Might relate to #10955

[2020-07-30 15:56] gsmet commented on #11101
Yeah, I don't know. It happens a bit later. I will see if I have other similar failures for other artifacts.

[2020-07-30 15:56] fwgreen commented on #10357
I'm wondering what was allowing `@PathParam` to work until recently.  Did Panache automatically merge the entity?

[2020-07-30 15:57] gsmet commented on #10955
When doing CR1, it tried to download the CR1 artifacts from Central and all the other repositories, whereas they should have been available locally (or I would expect them to).

I have no recollection of the same behavior for the previous releases... but new laptop and it's making a lot more noise when building so I notice when it goes silent downloading the Internet again.

[2020-07-30 16:02] radcortez commented on #10982
Hi @MadinaS

Can you do a lookup on the `share.path` directly with `ConfigProvider.getConfig().getValue("share.path", String.class);` and check the output on both tests and dev mode? Thanks!

[2020-07-30 16:07] famod commented on #10303
Until then:
[code]
(yes, even AWT)

[2020-07-30 16:08] tnmtechnologies commented on #10669
I faced the same warnings during quarkus 1.6.1.Final startup.
As @Postremus , I fixed the warnings related to my source code by adding -parameters to the maven-compiler-plugin configuration:
[code]

Now few warnings remain.

[code]

Most warned classes are in artefact io.smallrye.reactive:mutiny except the Itr class.

My installed extensions:
[code]
Hope this helps.

[2020-07-30 16:11] rmanibus opened #11102 "Runner jar is deployed with a classifier that does not match quarkus.package.runner-suffix when building uber-jar"
**Describe the bug**

when using the property
[code]
the jar is created with the right suffix (my-artifactId-1.0.0-SNAPSHOT-fitnesse.jar), but it is installed in the local repository as  my-artifactId-1.0.0-SNAPSHOT-runner.jar

mvn install logs:

[code]

This make it impossible to create two jars with different build time configuration.

**Expected behavior**
(Describe the expected behavior clearl

[2020-07-30 16:16] gsmet commented on #10669
@tnmtechnologies could you give me an example of a validated method/bean generating this warning?

[2020-07-30 16:41] gsmet opened #11103 "Gradle tests not honoring the local Maven repo setting anymore"
Had to disable the Gradle tests for the 1.7.0.CR1 release: https://github.com/quarkusio/quarkus/commit/b58d6e1a8be28c09969ae75d4845ee72eb2a3fbd

I know for the sure the `devtools` tests failed. I also disabled the `integration-tests/` ones defensively.

We pass this to the Gradle run:
[code]
This used to be enough to honor the local repository we set at the Maven level with `export MAVEN_OPTS="-Dm

[2020-07-30 16:48] gsmet commented on #11103
/cc @aloubyansky @glefloch

[2020-07-30 17:09] tnmtechnologies commented on #10669
It seems that all the warnings in my source code relate to enums.

[code]

The warning
[code]

[2020-07-30 17:11] #11052 closed

[2020-07-30 17:16] gsmet commented on #10669
But this enum is not compiled with `-parameters`?

[2020-07-30 17:24] gastaldi commented on #11095
Closing for now, let's revisit when the underlying APIs are patched first ;)

[2020-07-30 17:24] #11095 closed

[2020-07-30 17:38] gsmet opened #11104 "Release fail with extensions present in the BOM and missing in the descriptor"
The release just failed with:
[code]

Looks like the JSON generation is incomplete. I had a weird impression when the descriptor was built because it tried to download some 1.7.0.CR1 from Central and the other external repositories, no idea if it's related though.

To reproduce:

- Java 8 environment
- `git clone git@github.com:quarkusio/quarkus-release.git`
- `cd quarkus-release`
- `./prerequisit

[2020-07-30 17:39] gsmet commented on #11104
/cc @quarkusio/devtools

[2020-07-30 17:42] tobiasstadler commented on #7893
@sirAlexander nginx in front of quarkus

[2020-07-30 18:41] SetoKaiba commented on #11048
I'm trying. But for windows, it seems that there's a bug for native image building. No problem for linux and mac.

[code]

[2020-07-30 18:44] aloubyansky commented on #11103
Perhaps we need to specify the url https://docs.gradle.org/current/userguide/declaring_repositories.html#sec:declaring_custom_repository

[2020-07-30 18:48] gastaldi commented on #11104
I get a `/usr/bin/env: ‘kscript’: No such file or directory`, what do I need to install?

[2020-07-30 18:51] gastaldi commented on #11104
I thought `sdk install kotlin` would do the trick, but it didn't, what I am missing?

[2020-07-30 18:52] gastaldi commented on #11104
Doh, `sdk install kscript`, of course :) Ignore me

[2020-07-30 19:22] famod commented on #11079
I don't want to repeat the discussion from [the zulip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/InjectMock.20.2B.20Observer).
It's just that from a very user centric (not at all spec centric) view, you mock a bean (class). You expect the entire "class" to be mocked. 🤷‍♂️

I'll convert this to an enhancement instead of closing it (via the discussed documentation update

[2020-07-30 19:30] geoand commented on #11079
You mean you can't change labels?

[2020-07-30 19:33] geoand commented on #11079
I don't really now what the exact permissions are (I'm not an admin of the repo)

[2020-07-30 20:13] #10637 closed

[2020-07-30 21:02] MadinaS commented on #10982
i have tested it and my GH-app gives me correct value (dev and test)... but my work Projekt can't now respond to any REST requests, because of this jwt property error.... but I can not find any differences between my work-project and GH -project .. no idea, what can it be ...

[2020-07-30 22:56] stuartwdouglas commented on #10357
I am surprised either of them worked at any point.

[2020-07-30 23:52] stuartwdouglas commented on #11017
The reason why this works in the console but not the ide is that the default Quartz CL model looks like:
        loadHelpers = new LinkedList<ClassLoadHelper>();

        loadHelpers.add(new LoadingLoaderClassLoadHelper());
        loadHelpers.add(new SimpleClassLoadHelper());
        loadHelpers.add(new ThreadContextClassLoadHelper());
        loadHelpers.add(new InitThreadContextClassLoadHelper(

[2020-07-31 00:09] fwgreen commented on #10357
`@FormParam` never worked, just `@PathParam`, which is why I thought it was a bug.  At any rate, thanks for taking the to clear this up for me.  That said, if Panache automatically persists changes, why wasn't an exception thrown when I tried to alter a detached entity?

[2020-07-31 00:18] #11086 closed

[2020-07-31 04:40] stuartwdouglas commented on #9776
Is this still an issue? I run tests from the IDE all the time and have not seen this.

[2020-07-31 04:42] stuartwdouglas commented on #7591
@Sanne it sounds like this is a hibernate issue? I don't think there is anything we can do on the Quarkus side.

[2020-07-31 04:50] stuartwdouglas commented on #6911
This has been fixed.

[2020-07-31 04:50] #6911 closed

[2020-07-31 05:13] stuartwdouglas commented on #8504
@Sanne is this supposed to work? My gut feeling is that this is not considered supported, but I don't know enough about hibernate to say for sure.

[2020-07-31 05:15] stuartwdouglas commented on #6476
I am going to close this. The user already knows that the native image takes a while, so IMHO it is obvious that this time is being included.

[2020-07-31 05:15] #6476 closed

[2020-07-31 05:15] stuartwdouglas commented on #9807
This should be fixed now.

[2020-07-31 05:15] #9807 closed

[2020-07-31 05:29] stuartwdouglas commented on #5810
This is not intended to be serializable, marking it serialazable would likely only lead to other more subtle problems.  If you really want to use the HTTP Session I would suggest just ignoring keys that start with 'io.quarkus'.

[2020-07-31 05:30] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/189548156

[2020-07-31 05:33] stuartwdouglas commented on #6190
It sounds like this should have been fixed by the ClassLoader changes in 1.3.

[2020-07-31 05:33] #6190 closed

[2020-07-31 05:39] stuartwdouglas commented on #8485
This definitely works, I just tested it and support was added in https://github.com/quarkusio/quarkus/commit/732217639e9f8926373ded2667bcbe774f490b59

[2020-07-31 05:39] #8485 closed

[2020-07-31 05:40] stuartwdouglas commented on #5439
We are now on Vert.x 3.9 so this should be resolved.

[2020-07-31 05:40] #5439 closed

[2020-07-31 05:43] stuartwdouglas commented on #10452
Sounds like this has been resolved.

[2020-07-31 05:43] #10452 closed

[2020-07-31 05:51] stuartwdouglas commented on #10118
Did you try my suggested workaround?

[2020-07-31 06:51] geoand commented on #8694
@karesti @wburns @mariofusco @evacchi there seems to be some problem in the Kogito - Infinispan integration.

[code]

Can you take a look please?

cc @gsmet

[2020-07-31 07:27] andreas-eberle opened #11114 "Log Level configuration not working in Unit Tests"
**Describe the bug**
When running unit tests (not `@QuarkusTest`) of a quarkus project, only severe log messages are printed, no matter what `quarkus.log.level` is configured. This can be reproduced with the reproducer code below or any fresh Kotlin Gradle Quarkus project created with [code.quarkus.io](code.quarkus.io).

E.g. if I run the following test

[code]

with an `application.properties` fi

[2020-07-31 07:55] atzoum commented on #5810
how can we ignore such keys using with undertow's session manager?

[2020-07-31 08:06] gsmet commented on #8694
AFAICS, the artifact is gone in 11.0.1.Final: https://search.maven.org/artifact/org.infinispan/infinispan-directory-provider

No idea if it's normal or not.

[2020-07-31 08:11] yuriytkach opened #11117 "Add AWS authentication method for Vault"
**Description**
Currently Quarkus supports 4 auth methods for Vault: token, userpass, approle and k8s.
Let's add the AWS auth method (https://www.vaultproject.io/docs/auth/aws).
This will greatly benefit lambda functions developed using Quarkus that require Vault access, as auth would be possible with aws iam role of the function.

[2020-07-31 08:14] #11075 closed

[2020-07-31 08:14] #10712 closed

[2020-07-31 08:17] stuartwdouglas commented on #5810
The issue is about implementing a custom session manager. You just ignore
the keys in your custom code.

Stuart

On Fri, 31 Jul 2020, 5:56 pm Aris Tzoumas, <notifications@github.com> wrote:

[2020-07-31 08:18] #11017 closed

[2020-07-31 08:25] gavinking commented on #7591
Yep, I'm pretty sure this should be re-reported as a feature request against Hibernate core.

[2020-07-31 08:39] geoand commented on #11114
I am a little confused to be honest... Why do you expect `quarkus.log.level` to work in a plain old unit test?
Quarkus configuration only works with Quarkus applications

[2020-07-31 08:42] gavinking commented on #7591
Actually Hibernate handles this via an instance of `ImportSqlCommandEtractor`, which can be selected using `hibernate.hbm2ddl.import_sql_extractor’. (This is new to me too!)

But it looks like this would need to be configured in SQL, since the Quarkus extension doesn't allow it to be set via a property, if I'm reading the documentation correctly.

[2020-07-31 08:45] andreas-eberle commented on #11114
How can I get the logging to work in the unit test? I thought this should work because unit tests are a normal part of a Quarkus project and thus I'd expect them to run and feel like any other test in a Quarkus project. I understand that unit tests are not a Quarkus feature but I think Quarkus should make them work and feel like other Quarkus stuff in a Quarkus project to make things consistent an

[2020-07-31 08:49] geoand commented on #11114
The thing is that Quarkus can't control code that doesn't involve it. When do you use a Quarkus test and you set `quarkus.log.level` a lot of stuff happens to make that work.
When Quarkus does not come into play, then it's just another property (like `foo.bar`).

In unit tests the way to configure logging is via the standard logging configuration - Quarkus specific things won't work.

[2020-07-31 09:30] #11114 closed

[2020-07-31 09:41] ChFlick commented on #11091
Yes that was it. I got a similar warning.
Using either `-parameters` or the `@io.quarkus.qute.api.ResourcePath` annotation resolved the issue.

Thank you very much.

[2020-07-31 09:41] #11091 closed

[2020-07-31 10:16] MadinaS commented on #10982
@radcortez
maybe it will be cached? somewhere..

[2020-07-31 10:20] mkouba commented on #11079
@famod I get your point. I think that we could try to temporarily disable all observers declared on mocked beans. I'll do some POC and we'll see how it goes...

[2020-07-31 10:26] MadinaS commented on #10982
@radcortez
if i disable my ´quarkus.smallrye-jwt.enabled=true´ in ´application.properties´ - then there are no more error messages.

[2020-07-31 11:42] andreas-eberle commented on #11114
It would be nice to add some documentation on how to get logging working in junit tests when testing quarkus code. I think this should be added to the [Quarkus testing guide](https://quarkus.io/guides/getting-started-testing). At the moment unit tests aren't mentioned there.

[2020-07-31 11:45] andreas-eberle commented on #11114
Maybe it could be an idea to have something like a `@QuarkusUnitTest` annotation only setting up basic stuff like logging and not starting the whole server. I still think Quarkus should aim to make unit tests work the same way full-blown Quarkus tests work to provide a complete user experience.

[2020-07-31 11:54] glefloch commented on #11103
This is weird, running `GRADLE_OPTS="-Dmaven.repo.local=../rep" ./gradlew clean test` from either `devtools/gradle` or `integration-tests/gradle` actually fails because the local repository `../rep` does contains dependencies...

[2020-07-31 11:55] loicmathieu commented on #6065
Closing this one as it has been fixed on Smallrye OpenAPI side.

[2020-07-31 11:55] #6065 closed

[2020-07-31 11:59] loicmathieu commented on #6166
Closing this one as we haven't heared from the reporter and #11058 rework the retrieval of mongodb database name.

[2020-07-31 11:59] #6166 closed

[2020-07-31 12:13] radcortez commented on #10982
Hum, maybe there is an issue with SmallRye JWT. Let me give it a try.

[2020-07-31 12:18] Sanne commented on #7591
I had reported this upstream, sorry it seems I forgot to cross-link the issues. AFAIR we resolved it, so maybe this issue is resolved since we upgraded.
I'll check when I return.

Regarding setting `ImportSqlCommandEtractor`: right we don't expose it, and actually use a different one than the default in Quarkus so to allow multi-line SQL import scripts: easier for end users as they can maintain ni

[2020-07-31 12:20] Sanne commented on #9776
Let's close, I can no longer reproduce it. Thanks!

[2020-07-31 12:20] #9776 closed

[2020-07-31 12:44] rmanibus commented on #11102
it's in io.quarkus.maven.BuildMojo

[code]

https://github.com/quarkusio/quarkus/blob/598e750eb09554411e895158efe63f7a349ff89d/devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java#L236

[2020-07-31 13:05] #11104 closed

[2020-07-31 13:22] geoand commented on #11114
The problem with that is that different folks would probably expect different things.

[2020-07-31 13:32] andreas-eberle commented on #11114
I think it would be better to implement a reasonable working default than not having it work by default at all.

Currently you can write some QuarkusTests and some unit tests alongside each other and run them in the same step (e.g. with `./gradlew check`). However one of them shows logs as expected and the other doesn't. From a user perspective, it is not clear why you would need to do something s

[2020-07-31 13:35] geoand commented on #11114
I disagree that anything should be done, otherwise you would be going around trying to do anything that touches with Quarkus even a little.

But that is only my opinion :). I propose you send an email to the quarkus-dev mailing list explaining the situation and what you propose.

[2020-07-31 14:03] pedroigor commented on #10147
@jaikiran I'm also having this issue when starting looking command-line support in Keycloak. Did you find something already? Meanwhile, I'll try to figure out what may be wrong.

Including the `quarkus-core-deployment` fixes the CNFE but not really a solution and I get other issues when doing so.

[2020-07-31 15:00] EfraimLA commented on #10437
And how can I select it with null values?

[2020-07-31 15:28] gsmet commented on #11102
@stuartwdouglas WDYT, should we take the suffix into account? We would need to drop the leading `-` but I suppose that would be best that ignoring it.

[2020-07-31 15:29] #11094 closed

[2020-07-31 15:30] loicmathieu commented on #10437
You should ask this in the Hibernate forum as it's the way constructor expressions works in Hibernate.
I see some people using SQL `CASE` for this but it seems very complex ...

[2020-07-31 15:31] gsmet commented on #11103
IIRC, not all the tests are failing so that might explain that we are in a bad situation in both cases.

[2020-07-31 15:31] pedroigor commented on #10147
The error can be reproduced by changing the https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started-command-mode to use a Java Main class to run the application using `Quarkus.run(GreetingMain.class, args);`.

Although we have tests for this at https://github.com/quarkusio/quarkus/blob/11a529e9595f33d22bd4c77082b4d2a07509c5cd/core/test-extension/deployment/src/test/java/io/qua

[2020-07-31 15:36] ia3andy commented on #11083
part of #8134

[2020-07-31 15:36] ia3andy commented on #11084
Part of #8134

[2020-07-31 15:36] ia3andy commented on #11085
Part of #8134

[2020-07-31 15:40] MadinaS commented on #10982
Exact... I think, I need to look deeper in my project, which dependencies i have with SmallRye or why it can‘t be used with reactive DB.. but I will have next week time for this. I will write here later, will also try to copy more important classes from my project to GH, maybe than u can see more and why it don’t work together.

[2020-07-31 15:40] gsmet commented on #11102
The good news is that we already have a PR: https://github.com/quarkusio/quarkus/pull/11124 :)

[2020-07-31 15:42] rmanibus commented on #11102
the PR drop the leading "-" if it exist yes :)

[2020-07-31 15:43] ia3andy opened #11125 "Create an api to generate Maven/Gradle wrappers accessible from devtools-commons"
**Description**
Create a tool to generate Maven/Gradle wrapper accessible from devtools-commons. This is meant to be use by all the tooling: CLI, code.quarkus.io, maven and gradle plugins

**Implementation ideas**
This should not include the binaries, but have a way to download and cache it.

[2020-07-31 15:46] ia3andy opened #11126 "Improve devtools and maven integration tests"
**Description**

- `MojoTestBase` is using `test-classes` as a testing folder, this is really hazardous and unstable.
- devtools extensions tests are too static (because they where used with a mock platform), now that they use the real platform, they should be more dynamic.

[2020-07-31 15:49] radcortez commented on #10982
Ok, I'm sorry I couldn't help you further. Please, let me know when you have more information and I'll be happy to continue.

[2020-07-31 15:49] jessequinn commented on #9671
@gastaldi agreed. as the standard i believe is application/gzip and not just gzip.

[2020-07-31 15:50] ia3andy opened #11127 "Executing the Gradle wrapper from Codestart integration tests is not working in CI"
**Describe the bug**
https://github.com/quarkusio/quarkus/blob/master/integration-tests/maven/src/test/java/io/quarkus/maven/it/CreateProjectCodestartMojoIT.java#L86

The exception is that the wrapper can't find the main class, I can't find it again.

[2020-07-31 15:53] ia3andy opened #11128 "Add Kotlin for Command mode example"
**Description**
Add Kotlin for Command mode example.
doc: https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/codestarts.adoc
dir: https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resources/bundled-codestarts/example/commandmode-example

[2020-07-31 15:55] ia3andy opened #11129 "Add Kotlin for Qute example codestart"
Description:
Add Kotlin for Qute example codestart.
doc: https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/codestarts.adoc
dir: https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resources/codestarts/qute-example

[2020-07-31 15:58] ia3andy opened #11130 "Introduce Quarkus Extension Codestart project type"
**Description**
It will let user generate Quarkus extension using the Codestart system.

Even if project type exist in Codestart, it may need a few change/renaming to allow this.

[2020-07-31 16:51] gsmet commented on #11103
I don't know how Gradle do its thing but Maven publishes things after the tests are run.

[2020-07-31 18:28] SetoKaiba commented on #11048
It's fixed in 1.6.1.Final. But there's a bug on windows native image building. It's working in versions before. I'll submit a new issue instead.

[2020-07-31 18:28] #11048 closed

[2020-07-31 18:32] SetoKaiba opened #11131 "Exception is reported on windows native image building."
**Describe the bug**
Exception is reported on windows native image building.
It happens from #11048

**Expected behavior**
It should be able to build native image.

**Actual behavior**
It does not build native image.  Exception is thrown. It's working in previous versions.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Place a reflection-config.json file in resources folder
2. Build

[2020-07-31 19:25] eldermoraes opened #11134 "Issue when using Kubernetes + MicroProfile Metrics"
**Describe the bug**
I created an application using three extensions:

- quarkus-kubernetes
- quarkus-container-image-jib
- quarkus-smallrye-metrics

When trying to deploy it on a Kubernetes cluster, it returns this error:
`
unable to decode "target/kubernetes/kubernetes.yml": resource.metadataOnlyObject.ObjectMeta: v1.ObjectMeta.Annotations: ReadString: expects " or n, but found 8, error found in

[2020-07-31 19:27] geoand commented on #11134
Thanks for reporting.

cc @iocanel

[2020-07-31 20:00] geoand commented on #6717
Closing this per https://groups.google.com/g/quarkus-dev/c/2HhcWDzD5nM/m/h1aVdi1vAAAJ

[2020-07-31 20:04] pilhuhn opened #11136 "Injection error in start with 1.7.CR1"
check out https://github.com/RedHatInsights/policies-ui-backend , do mvn clean test -> all good with 1.6.0 (and all versions before)

Now replace in pom. xml the 1.6.Final with 1.7.CR1 -> the above fails. Run with mvn quarkus:dev, the following is printed at startup:

[code]

[2020-07-31 20:26] tnmtechnologies commented on #10669
When this enum is not compiled with `-parameters`, then the warning occurs. So now I compile with `-parameters` and there is no more warning related to my enums.

But as described in my first message in this issue, some warnings remain. I think they are related to quarkus or third jar files.
For instance, the package of the class AndSupervisor (first warning) is io.smallrye.mutiny.operators.

[2020-07-31 20:46] seseso commented on #8140
One thing I miss is an enabled flag on prpperties to enable or disable the extension. I have quite a long list of classes methods annotated and would like to easily enable/disable the extension, for instance, to compare performance. Unless I missed something in the docs, today this is not possible and would require the removal of all annotations from my code.

[2020-07-31 20:48] gsmet commented on #10669
Yeah, what interests me is the remaining messages. Could you give an example of a method/bean that throws a warning (the element with the Bean Validation constraints)?

Thanks.

[2020-07-31 20:56] gwenneg commented on #8140
You are absolutely right @seseso, there is currently no way to disable the cache extension using a property, but I could easily take care of that missing flag. It looks like a build time property (meaning the flag could not be changed at runtime) would be enough, what do you think about that?

[2020-07-31 21:01] seseso commented on #8140
It would solve my use case for sure. And it would bring it closer to other
extensions that provide a similar flag!

On Fri, 31 Jul 2020, 21:56 Gwenneg Lepage, <notifications@github.com> wrote:

[2020-07-31 21:15] iocanel commented on #11134
Never seen something like this before and I've tried this scenario fairly recently.

[2020-07-31 21:29] gwenneg opened #11138 "Introduce build time flag property to disable the cache extension"
**Description**
This is originally an idea from @seseso in #8140 (see [here](https://github.com/quarkusio/quarkus/issues/8140#issuecomment-667349486)). Many Quarkus extensions can be disabled using a flag property while this is not currently possible for the cache extension. As a consequence, one has to remove/comment all caching annotations to disable the extension.

[2020-07-31 21:47] gwenneg commented on #8140
I created #11139 to address your request @seseso.

[2020-07-31 21:55] mdemerat commented on #5976
I'm using this:

[code]

[2020-07-31 23:31] famod opened #11141 "Regression in 1.7.0.CR1: Maven build fails with "Failure to find org.gradle:gradle-tooling-api:jar:6.5""
**Describe the bug**
Switching from 1.6.1.Final to 1.7.0.CR1 in an _existing Maven project_ results in a build failure:
[code]
Yes, this is behind a corporate Artifactory server acting as a "proxy".

**Expected behavior**
I can just build/test my project with Maven as before, without adding any Gradle repos.

**Actual behavior**
Build fails until I add https://repo.gradle.org/gradle/libs-releases

[2020-07-31 23:37] glefloch commented on #11141
Yes this dependency is not in maven central but in a Gradle repository, I don't know how we can change this

[2020-08-01 03:18] jaikiran commented on #11141
Interesting that didn't (doesn't?) show up in our Quarkus CI jobs.

[2020-08-01 10:29] WouterOet opened #11143 "InjectMock does not work in combination with @ServerEndpoint"
**Describe the bug**
Mocking using io.quarkus.test.junit.mockito.InjectMock does not work in combination with javax.websocket.server.ServerEndpoint (in combination with Kotlin).

Given the following beans:

(Websocket ServerEndpoint) -> (Bean B) -> (Bean A)

Where the arrow stand for invocation.

**Expected behavior**
When I mock bean A using InjectMock and the appropriate mockito setup, and I sen

[2020-08-01 11:20] gsmet commented on #11141
Yeah, not having CI failing is very astonishing.

I'm also quite surprised we try to drag Gradle in a Maven project?

[2020-08-01 11:22] gsmet commented on #11141
@famod can you try excluding this `io.quarkus:quarkus-bootstrap-gradle-resolver` dependency? If it works, that would allow you to test CR1 further.

[2020-08-01 11:28] famod commented on #11141
I'll have a look tomorrow.

We have that repository somewhere, in `build-parent` IIRC (writing on the phone).

What puzzles me is that on my private Windows box the dependeny *is* found/downloaded.
So after all it might only be a problem for corporate Artifactory/Nexus "proxy" setups.
But I'll re-check that as well.

[2020-08-01 11:39] asodja opened #11144 "Gradle 1.7.0.CR1 regression: Gradle project does not work with test-fixtures plugin anymore"
**Describe the bug**
In #10327 I was directed to use java-test-fixtures plugin for reused test resources. I am happily using it now. Unfortunately with 1.7.0.CR1 this stopped working. Reproducer can be found here: https://github.com/asodja/quarkus-test-fixtures-reproducer.

When running tests inside IDE (with Intellij Runner) I get:
[code]

And when I run `gradle test` from terminal I get:
[code]

[2020-08-01 11:49] glefloch commented on #11144
Thanks for reporting, the `test-fixtures` dependency does not seem to be available in the `test` configuration. We don't scan the `test-fixture` configuration yet. I will add it and use your reproducer to create an integration test.

[2020-08-01 12:06] czetsuya commented on #6531
I tried the 2 scripts above, unfortunately it doesn't work for me as I got:

[code]

Anybody has an update on how to create a pipeline for Quarkus project in GitLab?

[2020-08-01 14:07] geoand commented on #11136
Perhaps related to https://github.com/quarkusio/quarkus/pull/10985 ?

[2020-08-02 08:15] juangon opened #11146 "1.7.0.CR1: TestProfile + TestResource doesn't work in Native tests"
**Describe the bug**
As I wanted to separate native and "normal" tests, I made two TestProfiles, each of them have a custom TestResource with a MariaDB container (using testcontainers) on them. Each MariaDB has their own schema name etc (I changed it as I've seen native tests are using the same schema and container as normal tests) .

First issue came when I tried to set jdbc parameters for native

[2020-08-02 13:46] mahieddine commented on #11141
I have the same issue, even excluding it doesn't fix the issue

[code]

[2020-08-02 13:59] famod commented on #11141
@mahieddine Is that with a custom remote repository like Artifactory or Nexus?

[2020-08-02 14:03] mahieddine commented on #11141
@famod no i'm using jcenter/mavenCentral

[2020-08-02 14:04] famod commented on #11141
Ok, thanks. So it is a _general_ problem.

[2020-08-02 14:14] glefloch commented on #11141
This dependency is used to connect to a Gradle project in order to "discover" the project.
This allows to run tests or a main directly from the IDE.
I added the Gradle repository because this dependency provided by Gradle is not available on maven central.

[2020-08-02 14:16] garethahealy commented on #6531
@czetsuya what image did you use? i had: `maven:latest`

[2020-08-02 20:37] kostacasa opened #11149 "Expose reconnection properties for reactive datasources"
**Description**
The reactive datasource drivers from Vert.x support reconnection:
https://vertx.io/docs/vertx-mysql-postgresql-client/java/#_configuring_reconnections
However, this configuration seems unreachable using standard Quarkus configuration methods. (or undocumented)

Providing the ability to define reconnect properties would be hugely useful in order to gracefully handle database failove

[2020-08-02 22:51] tivrfoa commented on #9896
@Sanne
When: quarkus.hibernate-orm.database.generation = update
If one field is removed, should the schema be changed?
Because I'm testing PanacheEntity and:
1. I removed a field;
2. run: mvn quarkus:dev
3. Schema remained the same.

If this is a issue, is the problem on Quarkus or Hibernate?

[2020-08-02 23:23] czetsuya commented on #6531
@garethahealy when I tried to commit that in GitLab I got:
[code]

[2020-08-02 23:32] famod commented on #11141
Root pom.xml it is: https://github.com/quarkusio/quarkus/pull/10459/files#diff-600376dffeb79835ede4a0b285078036
Please don't see this as finger pointing. I am merely gathering all info so that we can make a good decision on how to solve this.

This works for me:
[code]
[code]
I haven't checked dev mode yet, but I guess it should also work with the exclusion.

[2020-08-03 05:11] stuartwdouglas commented on #11143
The mocks are cleared at the end of the test. As you send a message and don't wait to close the connection or receive a response the mocks are immediately cleared, and by the time the server has processed the message they are no longer installed.

To make this work you need to wait for the result of the server side processing somehow, either by closing the connection afterwards, waiting for the se

[2020-08-03 05:11] #11143 closed

[2020-08-03 05:28] stuartwdouglas commented on #11136
A workaround is to add @ApplicationScoped to com.redhat.cloud.policies.app.RbacServer.

[2020-08-03 05:29] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/192829857

[2020-08-03 05:30] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/192830412

[2020-08-03 05:53] geoand commented on #11146
Thanks for reporting this.

Actually the `@NativeImageTest` doesn't support `@TestProfile` at all (the reason being that it takes a long time to build a native binary and definitely don't want to do that multiple times for a test run).

I have opened #11150 to explicitly prevent this usage.

[2020-08-03 05:57] geoand commented on #11149
cc @aguibert

[2020-08-03 05:58] juangon commented on #11146
Thanks @geoand , then what's the strategy to test native builds with other needed components? Reuse the non native tests resources?

[2020-08-03 06:01] geoand commented on #11146
Due to the long time it takes to build a native image, **all** native image tests **must** work with the same components.

So the general idea is that if you need to have differentiated tests, those will only be for the JVM mode (i.e `@QuarkusTest`) - the native image tests will only test a final (think "production") application.

[2020-08-03 06:03] panchitoboy opened #11152 "Choose version in documentation site"
**Description**

It would be great to have a dropdown in quarkus.io to choose the version of the documentation. The documentation is improved in all the releases , so this allow to know what was present if i dont use the lastest version and what will be present if i want to use the RC version.

[2020-08-03 06:10] juangon commented on #11146
Ok but, what I asked is what could I use to start some containers to test native builds against. I thought about @TestResource but as what I know those are always started only when they exists...

[2020-08-03 06:30] geoand commented on #11146
I understand the question, and the answer is the same 😉.

You'll have to start up all components you need in a `@TestResource` (which is of course supported for `@NativeImageTest`) and use those components throughout your native image testing.

If you need to differentiate the components, the you can only do that with `@QuarkusTest` + `@TestProfile`

[2020-08-03 06:49] jmartisk commented on #11076
Yeah I guess we will need to see the code, from the stack trace I'm not sure how GraphQL is involved, this looks like a normal REST call, but for some reason it times out on reading the body (?). Also it seems that you're using Undertow, I'd suggest trying to switch to Vert.x for the web layer. I'm not completely sure if the GraphQL extension can run with Undertow.

[2020-08-03 06:52] juangon commented on #11146
Ok thanks again. Last question, is true  that everyting implementing `QuarkusTestResourceLifecycleManager` is started no matter if it's annotated within `@QuarkusTestResource`?

[2020-08-03 07:23] juangon commented on #11146
And it looks weird, as having multiple `QuarkusTestResourceLifecycleManager` they can mix with other ones, even if they aren't specified in the test's `@QuarkusTestResource` . If some properties are changed in `start()`method, they can be applied to other test!

[2020-08-03 07:28] mkouba commented on #11136
Stuart is right. The `RbacServer` rest client is injected into the `RbacFilter` which is created eagerly before the app starts (STATIC_INIT) and since rest client beans are `@Dependent` by default the rest client instance is created eagerly. So if you annotate the `RbacServer` with `@ApplicationScoped` it's not created until it's really used.

However, if it fails now then it means that before 1.7

[2020-08-03 07:44] gsmet commented on #11149
/cc @tsegismont

[2020-08-03 07:59] pilhuhn commented on #11136
I can confirm, that the workaround works.

But as @mkouba says, the Rest-Client-Interface is `@Dependent` by default (in the MP-Spec), I would not advise to require `@ApplicationScoped`.

[2020-08-03 08:01] geoand commented on #11146
No, that is not true.

A class that implements `QuarkusTestResourceLifecycleManager` will only be used if

* It's annotated with `@QuarkusTestResource` (in which case it's used for all profiles)
* It's used in `QuarkusTestProfile#testResources` (in which case it's used only for the `@TestProfile` that uses said `QuarkusTestProfile`)

[2020-08-03 08:04] pilhuhn commented on #9726
Is that something that could be addressed for 1.7 ?

[2020-08-03 08:08] geoand commented on #9726
I don't think so. @michalszynkiewicz has a fix but it depends on: https://github.com/resteasy/Resteasy/pull/2476

[2020-08-03 08:09] gsmet commented on #11146
@geoand is this issue specific to 1.7.0.CR1 and considered a regression? It doesn't feel like it?

[2020-08-03 08:12] geoand commented on #11146
It's a 1.6 issue, but with the advent of specific `QuarkusTestResourceLifecycleManager` for test profiles, it's easier for users to run into this now.

I suggest we do backport it because otherwise users end up in a situation where things seemingly should work, but they don't and there is absolutely no indication what's going on.

[2020-08-03 08:13] mkouba commented on #11136
Another workaround could be to inject `@WithCaching @RestClient Instance<RbacServer>` and `rbac.get()` instead. This way a single `@Dependent` instance is created lazily and cached for all invocations.

[2020-08-03 08:17] geoand commented on #11136
Could any of these workarounds be baked into the error message? Because currently the error has almost no call to action

[2020-08-03 08:20] #11146 closed

[2020-08-03 08:21] juangon commented on #11146
Ok thanks very much. Unfortunately this issue https://github.com/quarkusio/quarkus/issues/10225 still exist. I can't make native test working and populating DB using properties `quarkus.hibernate-orm.sql-load-script`etc. Can someone take a look?

[2020-08-03 08:27] juangon commented on #11146
@geoand the funny thing about https://github.com/quarkusio/quarkus/issues/10225 is that I should specify `prod`profile for these properties to work. It sounds weird and I think isn't an expected behavior.
Thanks!

[2020-08-03 08:27] geoand commented on #11146
You are welcome

[2020-08-03 08:36] MadinaS commented on #10982
new week - new challenges! =) can u try send a request to a [StatisticSocket](https://github.com/MadinaS/quarkusReactuvePlusConfigSource/blob/master/src/main/java/org/acme/config/sockets/StatisticSocket.java)? I think, it's not a problem of reactive DB connection, but of connection to WebSocket... it's not important (in my GH app) which ¸`{chatKey}` do u use, just make request to `[host]:[port]/sy

[2020-08-03 08:47] maxandersen commented on #11125
i'm not fully following what this is suggesting ? what tool is it you want created ? is it not just an api you want ? i feel like there was a related issue on how the wrappers were bundled today ?

[2020-08-03 08:49] maxandersen commented on #11130
how would this be invoked? -Dcodestart.type=extension or ?

[2020-08-03 08:55] pilhuhn commented on #11136
@geoand Or perhaps just be applied under the hood in all the synthetic code that is produced?
I think people look at the MP specs and/or even want to port software over. Having to apply stuff that is not in the spec may come as a surprise or could be seen as UX issue.

[2020-08-03 08:57] geoand commented on #11136
The approach we are currently thinking of (discussed in https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Injection.20error) is to make REST Client beans `@ApplicationScoped` by default

[2020-08-03 09:09] ia3andy commented on #11130
I guess it would be a new command since the params would be different `create-extension`

[2020-08-03 09:11] ia3andy commented on #11125
@maxandersen Yeah when I say tool, I mean API. You may remember we discussed that a few months ago..

I haven't checked for other issues, we could bind them to that one.

[2020-08-03 09:17] maxandersen commented on #11125
ok, the other issue was #8981 afair.

How does this one relate to #11127 ?

[2020-08-03 09:20] ia3andy commented on #11125
Yeah it would also solve that problem.. and for the CLI too..

[2020-08-03 09:20] MadinaS commented on #10982
@radcortez i think, `mp.jwt.verify.publickey.location` just don't understand `${share.path}` injection, if it not from `application.properties`, but from custom `ConfigSource`

[2020-08-03 09:25] ia3andy opened #11153 "Provide a way to test extension codestarts"
**Description**
We need to provide a way to test codestarts:
- validate definition and files
- test possible conflicts (@Path, package, ..)
- test runtime in all languages with all buildtools
- a snapshot testing library to make sure the generated content is right
- a library to build and run the generated codestarts alongside other codestarts to make sure it works properly
- some guidelines

[2020-08-03 09:29] ia3andy opened #11154 "Codestart dynamic paths for dynamic package names"
**Description**
This feature is not really necessary because example code are meant to be copied or deleted, having them in `org.acme` makes sense.

We could do it like this `/{project.package-name}/..` or auto-replace `org.acme`

[2020-08-03 09:43] ia3andy opened #11156 "Provide a system to generate a nice README.md and index.html"
**Description**
Provide a system to have generate a nice README.md with all extensions content

**Implementation ideas**
We could:
- have a specific FileStrategy for README.md
- provide a way to transform files into data and use it from other templates

[2020-08-03 10:19] famod commented on #6948
@HonoluluHenk Have you ever gotten round to looking into this?

[2020-08-03 10:27] asodja opened #11157 "Gradle fast-jar is not recreated when using clean"
**Describe the bug**
When I was using fast-jar I noticed, that fast jar is not recreated if you call `gradle clean quarkusBuild` two times in a row. Task :quarkusBuild is reported as up to date the second time.

**Expected behavior**
Fast jar is recreated if it is not present in `build/quarkus-app` directory

**Actual behavior**
There is no Fast jar in `build/` directory (there is no `build/quarku

[2020-08-03 10:38] radcortez commented on #10982
Hi @MadinaS, I've added a PR to your repro project:
https://github.com/MadinaS/quarkusReactuvePlusConfigSource/pull/2

This injects both the SmallRye JWT `JWTAuthContextInfoProvider` which is used to perform the authentication and the `mp.jwt.verify.publickey.location` property directly. Both of them work, using your custom ConfigSource.

There must be some sort of condition in your real project t

[2020-08-03 11:52] VS-AMC opened #11160 "Message Production Issue w/quarkus-smallrye-reactive-messaging-amqp and AMQ"
Message Production Issue w/quarkus-smallrye-reactive-messaging-amqp and AMQ

**Describe the bug**
This issue is similar to issue:
"reactive-messaging-amqp extension doesn't reconnect to host #7404"

I am using ActiveMQ v5.15 and a Quarkus app that uses extension quarkus-smallrye-reactive-messaging-amqp v1.6.1. If ActiveMQ restarts, the connectivity between AMQ and my app appears to be reconnected

[2020-08-03 12:04] jmartisk opened #11161 "SmallRye GraphQL extension does not set the CurrentVertxRequest"
... so it is not possible to inject `CurrentVertxRequest` or `RoutingContext` during GraphQL processing.
It does work when using, for example, a JAX-RS endpoint.

[2020-08-03 12:33] MadinaS commented on #10982
i added u to my private repository. In this repository, tests not working, but i can't find difference between real-project (private repo) and example-project (first repo) and understand why it don't see my `${share.path}`. There is a little bit more code, maybe u will see, what i can't..

[2020-08-03 13:13] Bonissauro commented on #9896
Same behavier here. When trying to add an attriute, quarkus shows an error on console saying table cannot be recreated.

2020-08-03 10:01:01,515 WARN  [org.hib.too.sch.int.ExceptionHandlerLoggedImpl] (Quarkus Main Thread) GenerationTarget encountered exception accepting command : Error executing DDL "create table Usuario (id bigint not null auto_increment, email varchar(255), nome varchar(255), se

[2020-08-03 13:19] enbohm opened #11163 "GraphQL with OpenTracing extension triggers a NullpointerException when tracing is disabled"
**Describe the bug**
Using OpenTracing and GraphQL with tracing disabled (e.g. for a specific profile such as test) triggers a NullpointerException.

**Expected behavior**
GraphQL endpoint should not trigger a NPE even if tracing is disabled

**Actual behavior**
A NullpointerException is thrown when any request is made towards the graphql-endpoint

**To Reproduce**
Steps to reproduce the behavior:

[2020-08-03 13:20] Bonissauro commented on #9896
Does this happen also on PostGres?

[2020-08-03 13:26] albert0815 opened #11164 "Provide Event Listener for MongoDB (Panache) persist / update / delete events"
**Description**
Currently it seems impossible to execute specific actions which should always be executed whenever a MongoDB persist (or update or delete) operation is being executed. I would like to maintain a history of all changes. I do not want to implement this in each and every entity by overwriting the persist / update method provided by PanacheMongoEntityBase. I think having a more generic

[2020-08-03 13:31] ebullient commented on #10076
This is going to get more complicated as micrometer comes in, as the two metrics systems use different naming conventions. Still possible, just different.

[2020-08-03 13:38] ebullient commented on #6285
Is this still valid?

FWIW, when I added support for MP Metrics to the micrometer extension, I did not use reflection at all (though I did make the assumption that annotations would be transformed to be complete. Gauges are the biggest weakness of what I attempted, as I created gauge objects on the fly at build time specifically to avoid runtime reflection). If something like this is still necessa

[2020-08-03 13:44] gsmet commented on #11163
It would probably be a good idea to fix it for 1.7.0.Final but AFAICS it will require a SmallRye GraphQL version bump.

[2020-08-03 13:46] gsmet commented on #11144
@glefloch as it's a regression, it would be nice to get this fixed for the Final, which means to merge a fix before Thursday evening. Is it OK for you?

[2020-08-03 13:47] phillip-kruger commented on #11163
I think this could be fixed in the extension. @jmartisk ? If not we can release a SR version to fix this.

[2020-08-03 13:47] jmartisk commented on #11163
I don't think it will need an upgrade, the problem here seems to be that the GraphQL extension sets `smallrye.graphql.tracing.enabled=true` based on the presence of SmallRye Opentracing even if Jaeger is disabled.

[2020-08-03 13:49] jmartisk commented on #11163
Fixing it properly will be a little tricky because while we can detect that Jaeger is disabled, we have no way to reliably know whether someone might have plugged in a different opentracing implementation than Jaeger.

[2020-08-03 13:58] jmartisk commented on #11163
Guess we could introduce an `OPENTRACING` capability and produce that when Jaeger is enabled, and set `smallrye.graphql.tracing.enabled` when the capability is present. Other possible tracer implementations would be expected to produce the capability too.

[2020-08-03 14:02] aguibert commented on #11149
hi @kostacasa, the documentation you've linked is actually for the old MySQL / PostgreSQL clients from Vertx which are currently deprecated in Vertx and not the same thing as the Vertx SQL Client we have in Quarkus.

You can find the documentation for those drivers here:
https://vertx.io/docs/#data_access

Fortunately there are equivalents to these options in the current Vertx clients, which would

[2020-08-03 14:05] aguibert commented on #11149
Actually, scratch my previous comment. The reconnect properties come from Vertx core, which is already configurable in Quarkus with these properties:

[code]

See https://quarkus.io/guides/all-config#quarkus-vertx-core_quarkus.vertx.eventbus.reconnect-attempts

[2020-08-03 14:13] glefloch commented on #11144
Yes I'm on it, I should be able to create the pull request tonight

[2020-08-03 14:26] alexander-dammeier commented on #8331
We have the same problem while using dual dev mode with quarkus and angular. I added ;DB_CLOSE_DELAY=-1 to our connection url and now it works! It think this should be documented somewhere so everybody finds that before this issue occurs again.

Background:
We are developing a software using event sourcing. In production we are using postgres and in dev-mode we are using H2. There is only one Tabl

[2020-08-03 14:39] stuartwdouglas commented on #8331
It's in the H2 documentation. Maybe we could add some special case code around but I am not really sure what would be the best approach

[2020-08-03 14:48] kostacasa commented on #11149
This is fantastic, thank you for the pointer! I didn't realize these options would affect the datasource, perhaps it might be worthwhile mentioning it in the reactive datasource documentation.

[2020-08-03 14:52] gsmet commented on #8331
We have this notion of `AgroalConnectionConfigurer` that can tweak the connection.

We could add a new method there that would be called if we are in dev mode and contribute the additional parameter?

[2020-08-03 15:31] leoiii12 commented on #9766
I got the same error when i was using the google cloud api.

[code]

I finally resolved it.

[code]

[2020-08-03 16:26] gastaldi commented on #6588
The build is still failing:
* Link to latest CI run: https://github.com//actions/runs/

[2020-08-03 17:04] radcortez commented on #10982
Ok, let me try it.

[2020-08-03 18:19] andrejpetras opened #11170 "Advanced JSON logging formatter"
**Description**
Looks like the Quarkus is using the same JSON formatter like Wildfly for the logs. In the customer projects this was always an issue not because it did not work, but we always needed to tweak the logs in most cases (reports, operation support, correct type in Kibana, ...). If multiple vendors are working in the project in most cases there is a definition how the logs should look li

[2020-08-03 18:56] MarcusBiel opened #11171 "403 instead of 401 in case of an expired access token"
We use an access token and a refresh token. When the access token expires, we use the refresh token to create a new token - therefore, the frontend needs to know if / when the access token expired. Right now, an expired acess token results in 403 exception - forbidden - same as when the user is just generally forbidden to access the resource. So I think that is a bug, not a feature.

Related to th

[2020-08-03 19:06] famod opened #11174 "Enforce the rule "don't use runtime dependencies in deployment artifacts""
**Description**
See #11169.

**Implementation ideas**
As mentioned in https://github.com/quarkusio/quarkus/pull/11169#issuecomment-668170987, the idea is to introduce a Maven a custom enforcer rule which enforces that there are no runtime deps of other extensions in deployment artifacts.

[2020-08-03 19:41] andrejpetras commented on #9861
@famod I didn't know about this. But it looks like it's a class that could be migrated to the Quarkus.

[2020-08-03 19:44] MarcusBiel commented on #11171
Some extra information:  io.vertx.core.impl.NoStackTraceThrowable: Expired Token is wrapped into an AuthenticationFailedException - but I can't even handle this exception with an ExceptionMapper like so:

@Provider
public class MyExceptionMapper implements ExceptionMapper<AuthenticationFailedException> {
    @Override
    public Response toResponse(AuthenticationFailedException exception) {

[2020-08-03 19:49] andrejpetras commented on #9861
@Sanne @famod
I started working on it. My branch: https://github.com/andrejpetras/quarkus/tree/9861_hibernate_types/extensions/hibernate-types

I will write the implementation and the tests first, and then we can move it to the right place.
I switch the implementation from Jackson to Jsonb (but I am no sure about this change)

Comments are welcome

[2020-08-03 21:40] ebullient opened #11180 "Micrometer support in v1.8"
**Describe the extension**

This is a quarkus extension that performs build time initialization, configuration, and injection of MeterRegistry, MeterBinder, and MeterFilter instances for micrometer.

**Configuration suggestion**

[code]

**Additional context**

This extension exists here: https://github.com/ebullient/quarkus-micrometer-extension

#11073  PR for 1.8

[2020-08-03 21:45] ebullient commented on #9398
See #11180 for the Micrometer extension. The prometheus registry implementation used by micrometer is based on the prometheus client.

[2020-08-03 22:20] aelfric opened #11181 "Date and Time Formatting for Qute"
**Description**
As discussed in the Zulip [chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Qute.20Date.2FTime.20Format), it would be nice if Qute supported formatting of date/time strings if a date or time object is passed into the template renderer.  An example might look lik this:

[code]

**Implementation ideas**
It was suggested in the chat discussion that a template ex

[2020-08-03 23:31] stuartwdouglas commented on #8331
I don't think it needs to be dev mode specific.

Also setting the min size to 1 rather than 0 would do it, which may be a simpler approach.

[2020-08-03 23:41] hrstoyanov opened #11182 "Gradle 6.5.1 quarkusDev fails with Quarkus 1.6.1"
Apologies, if this has been reported already/fixed in 1.7RC. The **quarkusDev** task uses the deprecated **compileOnly** scope.

**./gradlew quarkusDev --warning-mode all**

Task :recres-webapp:quarkusDev FAILED
**The compileOnly configuration has been deprecated for resolution. This will fail with an error in Gradle 7.0. Please resolve the compileClasspath configuration instead. Consult the upgra

[2020-08-03 23:48] hrstoyanov commented on #11182
... However, this is not the only issue:

➜  recres git:(new_start) ✗ ./gradlew quarkusDev --warning-mode none -stacktrace

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':recres-webapp:quarkusDev'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionExcep

[2020-08-03 23:54] hrstoyanov commented on #11182
Here are my properties:

[code]

Here is my build file:

[code]

[2020-08-04 00:25] hrstoyanov commented on #11182
It sounds like the quarkus plugin cannot inherit properties define in a parent project?

[2020-08-04 05:20] hc-codersatlas commented on #11182
Isn't compile and runtime that's deprecated. compileOnly and runtimeOnly are fine. Works for me with gradle 6.5.1 and even 6.6-rc-5. No such warnings / errors.

[2020-08-04 05:26] galderz commented on #9880
Yeah I think so. I can't remember the resolution, but I think it was just a temporary sync issue between quarkus and quarkus-platform.

[2020-08-04 05:26] #9880 closed

[2020-08-04 05:37] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/194280496

[2020-08-04 05:39] jclingan commented on #8392
Not urgent. A  nice-to-have developer joy feature.

[2020-08-04 05:45] czetsuya commented on #6531
After updating both .gitlab-ci.yaml and install-graal.sh, here's the version that works for me:

https://czetsuya-tech.blogspot.com/2020/08/building-quarkus-in-gitlab.html

[2020-08-04 05:50] #11141 closed

[2020-08-04 05:55] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/194281089

[2020-08-04 06:21] glefloch commented on #11182
It seems that the `quarkusDev` task is not able to find the `quarkus-gradle-plugin` dependency.
Have you any `settings.gradle` to set the plug-in version?
Also, can you try applying the quarkus plug-in directly in the `build.gradle` of the `recres-webapp` ?

Regarding the `compileOnly` configuration we are just looking if there are any dependencies declared and get them, but yes, when moving to Gr

[2020-08-04 06:38] killerzwelch opened #11184 "Compilation fails when using reflection-config in quarkus 1.6.x"
Hi, I'm currently facing a strange problem when using quarkus 1.6.x
**Describe the bug**
I have a utility jar with lots of enums that I need to mention in a reflection config json file, as mentioned https://quarkus.io/guides/writing-native-applications-tips#registering-for-reflection

in my application.properties I have the line
quarkus.native.additional-build-args =-H:ReflectionConfigurationFiles

[2020-08-04 06:58] hrstoyanov commented on #11182
Thanks @glefloch . I did not realize that you have quite a bit of plugin management logic in the settings file when generating projects, that maybe my mistake.

But yes, please get rid of deprecated feature for 1.7.x, if you can. Gradle link posted above should provide alternatives.

Feel free to close this issue otherwise

[2020-08-04 06:59] geoand commented on #11184
On Linux, I could not reproduce either when building the native binary either with docker or without

[2020-08-04 07:10] geoand commented on #11134
A couple questions:

1) Does the generated YAML pass if entered in http://www.yamllint.com ?
2) What version of kubectl are you using?

[2020-08-04 07:17] maxandersen opened #11185 "qute does not honor hasXXX() as a boolean property in ReflectionValueResolver"
**Describe the bug**
Have a bean with `boolean hasIssues()` then `{x.issues}` should evalute to true.

**Expected behavior**
both `isXXX()` and `hasXXX()` should be taken into consideration when resolving `{bean.xxx}`

[2020-08-04 07:20] maxandersen opened #11186 "improve use of qute standalone documentation"
**Description**
If you follow the defaults as outline in reference guide when using Qute standalone you don't get that far as ReflectionValueResolver() are not mentioned.

**Implementation ideas**

Document and add example of using core qute features standalone..i.e.

[code]

showing need to add reflectionValueResolver, custom `safeName` string extension and explicit error via resultMappers.

[2020-08-04 07:30] mkouba commented on #11185
Ok, Qute currently follows the JavaBeans spec where a getter method for a boolean property must match the `public boolean is<PropertyName>()` pattern.

[2020-08-04 07:46] maxandersen commented on #11185
hmm - It is quite common hasXXX is supported too afaik; but true - the javabean spec doesn't state it.

Now i'm starting to doubt if I'm just remembering wrong :)

[2020-08-04 07:54] loicmathieu commented on #11170
There is an already openned issue that ask for custom format for the JSON logging: https://github.com/quarkusio/quarkus/issues/7451

It's to achieve structured logging.

[2020-08-04 08:15] gsmet commented on #11185
FWIW, we decided to also support `has` in Hibernate Validator.

[2020-08-04 08:17] aloubyansky commented on #10955
Isn't this one fixed now with the removed dependency from the gRPC stubs on the quarkus-maven-plugin?

[2020-08-04 08:19] #9921 closed

[2020-08-04 08:24] aloubyansky commented on #11125
There is also an offline use-case.

[2020-08-04 08:33] derkoe opened #11188 "ClassNotFoundException in dev mode with @MessageBundle and properties file"
**Describe the bug**
java.lang.ClassNotFoundException in dev mode (mvn quarkus:dev) when using `@MessageBundle` with properties files.

The same code works when bundling the application with `mvn package` and launching the JAR.

**Expected behavior**
The properties from `msg_de.properties` are loaded into the `ApplicationMessages` in dev mode.

**Actual behavior**
An exception is thrown.

[code]

[2020-08-04 08:34] #11161 closed

[2020-08-04 08:35] #11062 closed

[2020-08-04 08:36] #11157 closed

[2020-08-04 08:40] aloubyansky commented on #11144
@gsmet, @glefloch is on vacation for two more weeks.

[2020-08-04 08:44] #11138 closed

[2020-08-04 08:45] #11102 closed

[2020-08-04 08:46] mkouba commented on #11185
IMPL NOTE: we should enhance the value resolver generator as well.

[2020-08-04 08:49] jmartisk commented on #6285
Required changes on SmallRye side are done (at least I think so - metric interceptors use a pre-computed metric map instead of relying on reflection), but it will still need changes on the Quarkus side, and that's not done.

[2020-08-04 09:01] loicmathieu commented on #10802
@askalee90 I didn't saw your pom.xml but did you use our `quarkus-mongodb-client` extension ?
It provides substitution for GraalVM so you must include it for MongoDB client to works.

We also include the mongodb-crypt library because it's needed for native image, I was that you have issue with `com.mongodb.client.internal.Crypt`this class is provided by the mongodb-crypt that we include with our e

[2020-08-04 09:14] glefloch commented on #11182
I think we can close this one and open a new issue related to Gradle 7 upgrade.
 WDYT @aloubyansky, @gsmet ?

[2020-08-04 09:26] aloubyansky commented on #11182
That probably makes sense. The referenced doc does not say compileOnly is deprecated though. But I haven't checked other warnings yet.

[2020-08-04 09:39] aloubyansky commented on #11182
Yes, I can see the warning about compileOnly.

[2020-08-04 09:42] maxandersen opened #11190 "qute removeStandaloneLines(true) does not remove comments"
**Describe the bug**

when using removeStandaloneLines(true); I would expect `{! this is a comment !}` on an otherwise empty line to be removed.

[2020-08-04 09:43] loicmathieu commented on #11164
@albert0815 using a CDI interceptor will only be possible on CDI beans so you will need to use the PanacheMongoRepository / PanacheMongoRepositoryBase classes as the entity classes are not CDI beans.

You should not rely on the MongoOperations class as it's an internal class subject to change in any realease.

It should be possible to create a CDI interceptor on your repository, but you may need t

[2020-08-04 10:37] geoand commented on #11188
@mkouba I'll take a quick look at this one today if I have the time. If I don't get it done today, I'll leave it to you since I'm going on PTO.

Either way, I'll let you know

[2020-08-04 10:58] glefloch commented on #11144
@aloubyansky, I thought adding the `testFixtures` class directory into the model would be enough. It fixes the issue related to the file not found but not the class loader conflict issue. I try updating the reproducer to avoid the lambda implementation but nothing changed. Could you have a look? I don't think this is related to the introduction of the model.

[2020-08-04 11:23] eldermoraes commented on #11134
Hi!

Yes.

`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323df90cdc7a335", GitTreeState:"clean", BuildDate:"2020-04-10T21:53:51Z", GoVersion:"go1.14.2", Compiler:"gc", Platform:"darwin/amd64"}`
`Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.1+3f6f40d", GitCommit:"3f6f40d", GitTreeState:"clean", BuildDate:"202

[2020-08-04 11:32] gsmet commented on #11103
The problem is specifically with these two tests:
[code]

I suspect the QuarkusModelBuilder does not honor the local Maven repository setting.

The scan build is available here: https://scans.gradle.com/s/w5s3s3jby3kb4/tests/:test/io.quarkus.gradle.builder.QuarkusModelBuilderTest/shouldLoadMultiModuleModel()#1 .

To reproduce:
- get this branch: https://github.com/gsmet/quarkus/tree/gradle-failure

[2020-08-04 11:37] #11163 closed

[2020-08-04 11:43] maxandersen commented on #11185
Thanks @gsmet I was 99% sure hibernate did this in past as hbm2java allows it but couldn't find proof easily for it.

[2020-08-04 11:50] gsmet commented on #11185
Note that I'm talking about Validator here, I don't exactly know if ORM supports it.

[2020-08-04 11:53] geoand commented on #11188
https://github.com/quarkusio/quarkus/pull/11192 should fix the issue

[2020-08-04 11:57] aloubyansky commented on #11103
I will.

[2020-08-04 11:58] aloubyansky commented on #11144
I will.

[2020-08-04 12:16] geoand commented on #11134
Just to make it very clear, this only happens when manually applying the YAML files.

So doing either of

[code]

or

[code]

(as mentioned at https://groups.google.com/g/quarkus-dev/c/7Qrg9WpaXGo/m/zicLMVuWAQAJ) will work around the issue until we fix this properly.

[2020-08-04 12:36] bcluap opened #11194 "1.7.0.CR1 Has dependency on jars not in Maven central"
**Describe the bug**
Build on 1.6.1.Final no longer work on 1.7.0.CR1 due to this dependency which is in gradle repository only and not many people would have that repo set up.

[INFO]
[INFO] ---------------------< org.acme:code-with-quarkus >---------------------
[INFO] Building code-with-quarkus 1.0.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
Downlo

[2020-08-04 12:58] eldermoraes commented on #11134
Yes, @geoand. I confirm it.

[2020-08-04 14:05] MarcusBiel commented on #11171
@stuartwdouglas  asked for a stacktrace - this is not so easy, as basically from outside, there is no exception - it is eaten up and converted to a 403 (which probably explains why I can't catch the AuthenticattionFailedException).
But I paused the threat and this is what I got:
	at java.base@14.0.2/java.lang.Throwable.<init>(Throwable.java:375)
	at io.vertx.core.impl.NoStackTraceThrowable.<init>(

[2020-08-04 14:17] ia3andy opened #11198 "Provide an api to test Quarkus Command Mode apps"
**Description**
We should provide an api to test Quarkus Command Mode application.

@stuartwdouglas pointed me to some internal testing tool that we could use as inspiration:
https://github.com/quarkusio/quarkus/blob/11a529e9595f33d22bd4c77082b4d2a07509c5cd/core/test-extension/deployment/src/test/java/io/quarkus/commandmode/SimpleCommandModeTestCase.java

IMHO, testing a Command Mode app should be

[2020-08-04 14:25] #11188 closed

[2020-08-04 14:27] sebthom commented on #11194
Having the same issue. In our project we only have access to an Artifactory instance that is only connected to jcenter and maven central.

[2020-08-04 14:35] jmtd commented on #10559
The JDK 14 packages are called `java-latest-openjdk-*` e.g. `java-latest-openjdk-headless` etc

[2020-08-04 14:36] #10941 closed

[2020-08-04 14:38] gsmet commented on #11194
This has already been fixed. I will start the backports to the 1.7 branch so that you can validate it's fixed.

[2020-08-04 14:39] maxandersen commented on #11194
I believe this is a duplicate of #11141

[2020-08-04 14:39] #11194 closed

[2020-08-04 14:48] mkouba opened #11199 "Type-safe message bundles - watch the localized file for changes during the dev mode"

[2020-08-04 15:08] jaikiran commented on #11184
There have been similar issues reported previously for native image build on Windows with Docker. Do any of the suggestions in this other issue https://github.com/quarkusio/quarkus/issues/6259 help? Having said that I can't say why it was working fine in versions lesser than 1.6.x of Quarkus.

[2020-08-04 15:13] jaikiran commented on #11184
The closest thing that I can remember to this, is this change https://github.com/quarkusio/quarkus/pull/5458 but that happened in 1.1.x days, so not sure if that's related to the issue you are seeing.

[2020-08-04 15:26] albert0815 commented on #11164
@loicmathieu Thanks for your response and the additional insights. We already tried the change stream which works. But as that needs to be run in a separate thread we would not have any context (e.g. user information which could be easily injected into a CDI bean). Using a repository for each entity type also seems like additional implementation overhead compared to our current approach using the

[2020-08-04 15:41] ia3andy commented on #11128
Scala could be implemented in the future if someone wants it

[2020-08-04 15:41] ia3andy commented on #11129
Scala could be implemented in the future if someone wants it

[2020-08-04 16:27] #11079 closed

[2020-08-04 16:43] #11136 closed

[2020-08-04 16:47] #10371 closed

[2020-08-04 17:17] attrout opened #11206 "Smallrye openapi creates a StackOverflowException when using Schema DiscriminatorMapping with self-reference"
**Describe the bug**
This bug is probably a smallrye problem, but opening this here first since we are using quarkus-smallrye-openapi.  If you use the @Schema annotation with a DiscriminatorMapping on a class that has a reference to itself (see reproduction steps) on a class being used by a REST endpoint, when running the service with the endpoint smallrye will create a StackOverflowException.

**

[2020-08-04 17:33] akhapre opened #11207 "Quarkus does not support for java commndline parameter -cp, -classpath. --class-path"
Java commandline parameter like -cp, -classpath, --classpth not support. I tried adding a directory as classpath with some additional resources and then tried to read them in the code as `Thread.currentThread().getContextClassLoader().getResource(<resource-path>)`, which returns null. Whereas a simple commandline program correctly recognized them and return correct path.

**Expected behavior**
Dir

[2020-08-04 18:03] jorsol opened #11208 "JsonNode not in Jandex after upgrade to 1.7.0.CR1"
**Describe the bug**
In 1.6.1.Final the maven build don't show any warning, but changing the version to 1.7.0.CR1 triggers a WARNING about `com.fasterxml.jackson.databind.JsonNode` that is not in the index.

Is a multi-module project using RESTEasy, so I would assume there is the ignore for ReflectiveHierarchyStep set.

**Expected behavior**
No log warning message.

**Actual behavior**
[code]
**To

[2020-08-04 18:33] gsmet commented on #11208
This is definitely not expected. Could you try to debug what's going on? It should pass through the `ResteasyDotNames.IgnoreForReflectionPredicate`.

If not, it might be interesting to know who created the `ReflectiveHierarchyStep` in question.

[2020-08-04 18:41] gsmet commented on #11208
A reproducer would definitely help, it's probably something related to the Kubernetes client.

[2020-08-04 18:45] #11103 closed

[2020-08-04 18:47] jorsol commented on #11208
I could try to make a reproducer, but it will probably take me some time...

The change I see that could affect between 1.6.1.Final and 1.7.0.CR1 is https://github.com/quarkusio/quarkus/commit/567d9cfcb550a48aeca274a618e6e94d847c2e09#diff-ededdffcf80522897a5e8aab2c124a05 but I can't be sure there is the issue.

[2020-08-04 18:52] gsmet commented on #11208
Good catch. Could you try that PR: https://github.com/quarkusio/quarkus/pull/11209 ?

https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master might help (but in this case, you need to get my branch from the PR)

[2020-08-04 18:54] ge0ffrey commented on #8331
It's a very common pitfall. The school-timetabling variant with Spring
(also on H2) doesn't run into it, so they must do it out of the box.

On Tue, Aug 4, 2020 at 1:32 AM Stuart Douglas <notifications@github.com>
wrote:

--
With kind regards / Met vriendelijke groeten,
Geoffrey De Smet

[2020-08-04 18:56] ge0ffrey commented on #8331
[send too early due to wrong button]
(continued)
So, +1 to do it through the configurer by default, so users don't have to
mess with the url nor run into this common pitfall.

Note that I did miss the original suggestion to try it out, and when I am
back from PTO I'll try it out and confirm if it works, but Alexander
already confirmed that.
Big thanks for figuring out this issue ;)

On Tue, Aug 4,

[2020-08-04 19:18] jorsol commented on #11208
Yes!, it looks like your branch solves the issue. Thanks!

Just a small note: `javax.ws.rs.container.AsyncResponse` is missing.

[2020-08-04 19:28] GustavoGramajo commented on #6133
@hartimcwildfly i wonder if i could use what you did to grab all logs from my app and send it to a queue (ActiveMQ). As far as i can tell, it doesn't seem to be a simpler way to do something like this.

[2020-08-04 20:09] VS-AMC commented on #11160
Can someone confirm if this is being reviewed? Thanks.

[2020-08-04 20:10] kenfinnigan commented on #11160
I don't believe anyone has reviewed it at present

[2020-08-04 20:13] VS-AMC commented on #11160
@kenfinnigan - thank you for replying.

[2020-08-04 20:22] rquinio commented on #9799
JMX should be disabled since it's not actually used for monitoring with Quarkus... But the JmxReporter seems hardcoded as a built-in everywhere:

https://github.com/apache/kafka/blob/783a6451f5f8c50dbe151caf5e76b74917690364/clients/src/main/java/org/apache/kafka/clients/producer/KafkaProducer.java#L355-L357

https://github.com/apache/kafka/blob/ffdec02e25bb3be52ee5c06fe76d388303f6ea43/clients/src/

[2020-08-04 20:30] brentcrammond opened #11211 "Spring Cloud Config Label"
**Description**
Add a new config entry to the Spring Cloud Config Extension.

This is a great extension and I am building a Quarkus Centralised Config (which will be made open source) that will use the same base API protocol (at least the default protocol) as the Spring Cloud Config. My intention is allow us to have different configuration for multiple instances, using the label.

**Implementation

[2020-08-04 20:37] rquinio commented on #9799
I've opened https://issues.apache.org/jira/browse/KAFKA-10360 upstream.

[2020-08-04 20:38] ia3andy commented on #11127
Ok I reproduced it: https://github.com/quarkusio/quarkus/pull/11200/checks?check_run_id=946234917
[code]

@aloubyansky any idea?
I can't reproduce locally.

[2020-08-04 20:45] aloubyansky commented on #11127
Not without looking.

[2020-08-04 20:47] glefloch commented on #11127
This looks like the `gradle/wrapper/gradle-wrapper.jar` is corrupted.

[2020-08-04 21:03] asodja commented on #7451
One way of workaround it is that you replace slf4j-jboss-logging with your own bindings and bridges.

Gradle example (most interesting stuff is in build.gradle and of course logback.xml):
https://github.com/asodja/quarkus-logstash-logging-example

You can start it and play with it with:
`./gradlew quarkusDev` or
`./gradlew build && java -jar build/quarkus-logstash-logging-example-my-version-runner

[2020-08-04 21:04] famod commented on #10225
https://quarkus.io/guides/building-native-image#testing-the-native-executable states regarding `quarkus.test.native-image-profile`:

And since both properties you mentioned are [_build time_ properties](https://quarkus.io/guides/hibernate-orm#hibernate-configuration-properties) (see also the lock symbol), you cannot change them the way you are trying to.

So for now this works as designed.

There

[2020-08-04 21:04] #10225 closed

[2020-08-04 21:07] famod commented on #11146
I did and unfortunately I had to close that issue (with a proper reasoning, of course).
Short story: Those dreaded hibernate build time properties again...

[2020-08-04 21:12] geoand commented on #11146
Ah, a classic 🙃

[2020-08-04 21:46] aloubyansky commented on #11144
Just fyi, here is a dirty way of fixing the classloading issue
[code]

[2020-08-04 21:50] aloubyansky commented on #11144
The classes from `testFixtures` are going to be on the original test classpath and loadable from Quarkus tests by delegating to the system classloader. But in this case, a class from `testFixtures` is also referencing an application class, which we load in the Quarkus class loader. Which results in the LinkageError. So the diff above adds `testFixtures` to the Quarkus classloader.

[2020-08-04 21:52] aloubyansky commented on #11144
There are other (primarily Gradle-related) issues about recognizing and/or adding more test paths there. This is not the way we want to evolve. We need to properly integrate build system-specific (maven/gradle) workspace paths in here instead adding hacks.

[2020-08-04 22:04] famod commented on #11207
Unfortunately, this is a limitation of `java`. You cannot specify a (custom) classpath via `-cp` etc. when also using `-jar`.
See also: https://stackoverflow.com/questions/15930782/call-java-jar-myfile-jar-with-additional-classpath-option/15930980

[2020-08-04 22:04] #11207 closed

[2020-08-04 22:12] famod commented on #11114
Well, IMHO this is definitely a blind spot in Quarkus projects. See also: #7696

In my current project we also have yet to find out how to get proper log output from plain Junit5 tests.
Once I/we find a good way I'd come up with a documentation PR.

[2020-08-04 22:15] aloubyansky commented on #11144
For 1.7.0.Final I guess we can live with this kind of quick fix, given that it's too late to introduce major changes.

[2020-08-04 23:24] famod commented on #8981
This works (in `~/.gradle/gradle.properties`):
[code]
I'll add it to the contibuting guide.

[2020-08-05 01:45] stuartwdouglas commented on #10371
I think I can see the problem and I have made another attempt at this for 1.8: https://github.com/quarkusio/quarkus/pull/11214

This change does simplify things and will allow for some nice optimisations in dev mode, so I do want to get it in.

[2020-08-05 03:01] danelowe opened #11215 "CDI Seems to break when kapt plugin is enabled"
**Describe the bug**
CDI seems to fail only when running quarkusDev from clean, when kapt plugin is enabled in my `domain` module. However, it runs fine a second time when not running from clean.

kapt plugin is being used for  `org.mapstruct:mapstruct-processor:1.4.0.Beta1`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/danelowe/quarkusmm/tree/284614cc0b6a5

[2020-08-05 03:37] spr1ng commented on #11076
This causes the issue:
[code]

[2020-08-05 05:19] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/195747629

[2020-08-05 05:36] killerzwelch commented on #11184
Thanks for reply. I will have a deeper look and try to reproduce it there. On additional info - when I don't mention the json file the package builds. So the runner.jar is mounted correctly into the container and native image is build.

[2020-08-05 06:27] mkouba opened #11216 "Qute: support bracket notation properly"
The current impl is broken and more or less useless.

~Ideally, the bracket content should be treated as an expression, i.e. `{foo["bar.baz"]}` -> "foo", "bar.baz"; or `{foo[bar.baz]}` where `bar.baz` is evaluated first and the result is the second token.~

This would be probably very powerful but also unnecessarily complicated. Therefore, I think it would be ok to only support literal values for

[2020-08-05 06:56] phillip-kruger commented on #11076
@stuartwdouglas might be able to help here then.

[2020-08-05 07:03] amitrajpushkar commented on #9316
sir how can fix the issue?

[2020-08-05 07:04] amitrajpushkar commented on #9316
sir how can i fix the issue?

[2020-08-05 07:13] ia3andy commented on #11127
I tested again, they passes locally using `mvn clean install`, why would they fail on CI only?

[2020-08-05 07:36] gsmet opened #11218 "Release Quarkus HTTP 3.0.14.Final and upgrade"

[2020-08-05 07:37] gsmet commented on #11194
This should be fixed in CR2 now available.

[2020-08-05 07:37] gsmet commented on #11141
This should be fixed in CR2 now available.

[2020-08-05 07:40] tombentley commented on #9799
Why do you need a separate client per channel? And if that really _is_ necessary, why not generate a unique client id using the given one as a prefix?

[2020-08-05 08:00] famod commented on #11141
Confirmed, thanks!

[2020-08-05 09:38] maxandersen opened #11221 "Allow individual extensions to contribute codestarts"
Ability for individual extensions to contribute a codestart.

Idea is to have an additional artifact (i.e. `codestarts`) similar to how extension has a `runtime` and `deployment` artifact.

Will be added when the codestarts structure have matured in platform.

Part of #8134

[2020-08-05 09:43] maxandersen commented on #11125
which offline use-case is on your mind ?

I'm inclined to just add mvnw.cmd/mvnw and gradlew.cmd/gradlew which will automatically fetch the actual jars if/when needed...

[2020-08-05 09:55] aloubyansky commented on #11125
Create a project w/o access to internet.

[2020-08-05 09:57] Rutzzzz opened #11222 "Mandrel native executable fails to run on path with Japanese characters"
When building native executable with Mandrel image on path with Japanese characters, the produced executable fails to run with the following error being displayed:

[code]

Steps to reproduce the behavior:
1. Create a directory called "元気かい"
2. Inside this directory generate a simple project (e.g. jax-rs app from https://code.quarkus.io/)
3. Run the following command inside the project:
`mvn clean

[2020-08-05 11:02] #11128 closed

[2020-08-05 11:09] gytis commented on #10884
I've raised a PR for this feature https://github.com/quarkusio/quarkus/pull/11225, but for the moment it is blocked by https://github.com/quarkusio/quarkus/pull/10078.

[2020-08-05 11:12] #9967 closed

[2020-08-05 11:19] #11190 closed

[2020-08-05 11:33] rvansa opened #11226 "IllegalArgumentException during hot replace"
**Describe the bug**
In dev mode, during a hot code replace I can see some requests failing and error in the console.

**Actual behavior**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Linux rvansa 5.2.17-200.fc30.x86_64 #1 SMP Mon Sep 23 13:42:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
 - Output of `java -version`: OpenJDK 64-Bit Server VM

[2020-08-05 11:41] maxandersen commented on #11125
They would need to have *some* access to the internet - at least a mirror of io.quarkus artifacts.

And the project would still be created; just that they might need to use their own gradle/mvn install if they really don't have full access to the internet to get the wrapper.

Is that a fair compromise considering all the aspects ?

[2020-08-05 12:15] Sanne commented on #9861
I wonder why things like `CamelCaseToSnakeCaseNamingStrategy` aren't contributed into Hibernate ORM. It's not that useful to have to include an additional extension just for that?

[2020-08-05 12:21] andreas-eberle commented on #11114
@famod: I was able to get the log outputs by changing the test task in the gradle file to

[code]

And I created a `logging.properties` file in the rest/resources directory with the following contents:

[code]

I hope this can help you.

[2020-08-05 12:39] famod commented on #11226
Have you checked a more recent version of Quarkus? 1.6.1.Final, for instance?

[2020-08-05 12:43] famod commented on #11226
@mkouba It fails because the `ArcContainer` parameter is not an instance of `ArcContainerImpl`:
https://github.com/quarkusio/quarkus/blob/1.4.2.Final/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/ArcContainerImpl.java#L663

[2020-08-05 12:45] patriot1burke opened #11229 "pom.xml fragment outputs exception"
**Describe the bug**
I have an 'example' codestart that only generates a pom fragment (azure functions).  The codestart works, but I get the follow exception.

Reproduce:
1. create codestart example  my-example/base/pom.xml  with [this pom.xml](https://gist.github.com/patriot1burke/dcb502e0e09a2b74c8f4982e7696faf6)
2. Run it

[ERROR] Unable to install the Maven wrapper (./mvnw) in the project
java

[2020-08-05 12:45] famod commented on #11114
@andreas-eberle Thanks a lot for this! I'll try that.

[2020-08-05 12:46] mkouba commented on #11226
That's very likely a class loading issue. There's only one implementation of `ArcContainer` and it's the `ArcContainerImpl`.

[2020-08-05 12:46] mkouba commented on #11226
CC @stuartwdouglas

[2020-08-05 12:51] #11208 closed

[2020-08-05 13:31] mjurc opened #11230 "Missing documentation for using configMaps with native-image on OCP"
**Describe the bug**
Currently, the community documentation describes usage of `configMap` with Quarkus on kubernetes in a standalone article in a fragmented fashion. There is no documentation available for user with a work flow that would allow them to build a native image, deploy it on kubernetes/OpenShift and configure it via `configMap`

**Expected behavior**
Describe the following:
1. What bu

[2020-08-05 13:43] mjurc commented on #10948
@geoand I've tried mounting the `configMap` to `/home/quarkus`, however that will delete the native binary deployed there in S2I binary build.

I've also tried mounting the `configMap` volume to `/home/quarkus/config` too since the jar runner seems to have no issues picking the configuration from such location. This does not work for the native image binary though.

I am not quite sure how Quarkus

[2020-08-05 13:50] Sanne commented on #7591
The upstream issue is:
 - https://hibernate.atlassian.net/browse/HHH-14033

This will be resolved when we next upgrade ORM in Quarkus.

[2020-08-05 14:01] geoand commented on #10948
From: https://quarkus.io/guides/config#overriding-properties-at-runtime

[code]

So all you need to know is the directory where the native binary exists in, and place have the config map mounted in `config` so `config/application.properties` ends up in the filesystem

[2020-08-05 14:06] gsmet commented on #11226
As mentioned by @famod , the first step is to try with a more recent version, we fixed quite a few class loader issues since we introduced the new class loader infrastructure.

If reproducible with 1.7.0.CR2, then we need to dig more.

[2020-08-05 14:14] Sanne opened #11231 "Upgrade to Hibernate ORM 5.4.21"
**Description**

Hibernate ORM 5.4.21 wasn't released yet, but we can start tracking some reasons to upgrade.

Among other improvements, it will:
 - resolve #7591
 - resolve #11325
 - resolve #11589

[2020-08-05 14:37] juangon commented on #11146
@famod thanks very much for the info and that hibernate link.

[2020-08-05 14:55] #11185 closed

[2020-08-05 14:55] #11199 closed

[2020-08-05 15:23] AlexKovynev commented on #11231
Be careful. Hibernate-Reactive have problems with it:)

[2020-08-05 15:54] patriot1burke commented on #11229
Nevermind, I had "mvn -e" switch.  This exception does display if I remove this switch.

[2020-08-05 15:54] #11229 closed

[2020-08-05 16:16] Sanne commented on #11231
@AlexKovynev what do you mean?

[2020-08-05 16:18] AlexKovynev commented on #11231
https://github.com/hibernate/hibernate-reactive/issues/309

[2020-08-05 16:20] Sanne commented on #11231
thanks, that's under control.

[2020-08-05 17:10] odrotbohm opened #11237 "Response format produced is not valid HAL"
According to the guide presented [here](https://quarkus.io/guides/rest-data-panache#get-people1) the response produced for a request with an `Accept` header of `application/hal+json` looks like this:

[code]

The `_links` section is not valid HAL as [according to the spec](https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5), each link is an object and the target URI is held in an `href`

[2020-08-05 17:38] gsmet commented on #11237
/cc @gytis

[2020-08-05 18:44] arielcarrera commented on #8906
+1 Same problem, in Windows fails and Linux works.

[2020-08-05 19:27] rafaeltuelho opened #11239 "Add a note to the getting started reactive guide regarding to mutiny-jaxrs dependecy"
**Description**
Update the Getting Started Reactive guide

**Implementation ideas**
The guide [1] is missing the need for the `quarkus-resteasy-mutiny` dependency to make mutiny work properly with JAX-RS resources.

[1] https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/getting-started-reactive.adoc

[2020-08-05 21:34] hrstoyanov commented on #11182
closing as this is referenced in #11232

[2020-08-05 21:38] hrstoyanov opened #11241 "Qurkus 1.6.1 using deprecated java options"
**Describe the bug**
I know Quarkus is based on Java 11, but of you try it with Java 14 with Gradle's  quarkusDev task, you get this:
[code]

Maybe time to stop using these options altogether now?

[2020-08-05 22:35] hrstoyanov opened #11242 "Native compile with quarkus 1.6.1 and BlazeBit on MacOs Catalina and GraalVM 20.1 fails"
**Describe the bug**
Producing native image with:

` gradle build -Dquarkus.package.type=native -x test`

fails with:

Caused by **: java.lang.UnsupportedClassVersionError: com/blazebit/persistence/DefaultPackageOpener has been compiled by a more recent version of the Java Runtime (class file version 58.0), this version of the Java Runtime only recognizes** class file versions up to 55.0
	at java.

[2020-08-05 23:48] famod commented on #11241
This has already been fixed via #11120 which is included in 1.7.0.CR2.

[2020-08-05 23:48] #11241 closed

[2020-08-06 02:10] AlexKovynev commented on #11242
someone upgrade Blaze from Alpha4 to Alpha5

https://github.com/Blazebit/blaze-persistence/releases/tag/1.5.0-Alpha5

We recently switched from using JDK 9 to JDK 14 for our releases and accidentally compiled MR-JAR contents with the Java 14 classfile version. This release fixes that.

[2020-08-06 05:01] edwin commented on #11034
hi @stuartwdouglas got it,
ive come up with a simple, but hopefully, working solution

[code]

by using this workaround
[code]

thanks for the info

[2020-08-06 05:02] #11034 closed

[2020-08-06 07:48] gytis commented on #11237
Thank you for reporting it @odrotbohm. It's a mistake in a guide. The generated endpoint returns an object just like in your example. I'll raise a PR to fix the guide.

[2020-08-06 07:59] gytis commented on #11237
Feel free to assign this to me @gsmet

[2020-08-06 08:09] gytis opened #11246 "Give warning when REST Data HAL endpoint cannot be exposed properly"
REST Data extension supports generating endpoints that return `application/hal+json` content. However, it requires a custom serialiser implementation which depends on `quarkus-resteasy-jackson` or `quarkus-resteasy-jsonb` being defined in an application's pom. This requirement is listed in an extension guide, but Quarkus won't give any warning when an actual application is build without such depen

[2020-08-06 08:10] gytis commented on #11246
I'll fix this problem, so please assign it to me.

[2020-08-06 08:55] VinodAnandan opened #11247 "Enable Codeql"
**Description**
Codeql will help to reduce vulnerabilities and 0days. Could you please enable it as it will help to improve the security of Quarkus?

https://docs.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code/about-code-scanning

https://docs.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code/enabling-code-scanning

[2020-08-06 09:13] #11237 closed

[2020-08-06 10:06] mkouba opened #11249 "Qute: demand valid "property" identifiers"
Currently, we don't specify any requirements except for the starting char of a tag: https://quarkus.io/guides/qute-reference#identifiers.

Our starting definition could be: a valid identifier is a sequence of characters that contains digits, alphabet characters and underscore.

We should also validate all expressions.

[2020-08-06 10:07] odrotbohm commented on #11237
That's great to hear. Thanks for the quick turnaround!

[2020-08-06 10:55] mgorniew opened #11251 "Gradle addExtension will add BOM dependency even if platform is already in dependencies list"
**Describe the bug**
Gradle plugin from master branch will add platform BOM dependency even if `enforcedPlatform` is already in dependency list.

**Expected behavior**
Platform BOM should not be added by addExtension task, if BOM is already present.

**Actual behavior**
From build.gradle, after calling `.\gradlew.bat addExtension --extensions="quarkus-jackson"`
[code]

**To Reproduce**
Steps to re

[2020-08-06 11:07] hartimcwildfly commented on #11242
The error message is very expressive. You try to use a Java14 class with a Java11 compiler. That cannot work. BlazeBit is not part of quarkus. "This extension is developed by a third party and is part of the Quarkus Platform." So I guess here is not the right place to raise the issue.

[2020-08-06 11:24] AlexKovynev commented on #11242
So as i see it's already fixed(updated) in platform some weeks ago. Need to wait 1.7 now.

[2020-08-06 11:59] rsvoboda opened #11252 "jax-rs - exception mapper - `Unable to extract parameter` doesn't show the value of the parameter, just {1}"
Quarkus master / Quarkus 1.7.0.CR2 - `Unable to extract parameter` doesn't show the value of the parameter, just {1} for case of exception in conversion of `@QueryParam` to the expected type - String to Integer in my case

Regression comparing to 1.3.4.Final and 1.6.1.Final, found it when experimenting with https://github.com/gastaldi/resteasy-xss example
It's REASTEasy issue for sure, I have poss

[2020-08-06 12:00] rsvoboda commented on #11252
RESTEasy issue: https://issues.redhat.com/browse/RESTEASY-2674
Possible fix: https://github.com/resteasy/Resteasy/pull/2490

[2020-08-06 12:10] mkouba commented on #1710
Ok, so to sum up the problem:
1. JAX-RS resources are `@Singleton` by default in Quarkus
2. `java.util.Optional` is `final` hence unproxyable from CDI POV and that's probably the reason why the relevant smallrye producer is `@Dependent`
3. `@Dependent` means that the bean instance is produced once, when injection is performed
4. As a result the singleton jax-rs resource holds the stale claim value

[2020-08-06 12:28] famod opened #11253 "Regression in 1.7: Dev mode auto-compile fails in MapStruct with "Attempt to recreate a file for type ...""
**Describe the bug**
I am getting this strange error during auto-compile while trying to start dev mode in one of our modules:
[code]
I have no clue why this is so horribly garbled. `mvn -e ...` doesn't help much but at least reveals which type was attempted to recreate.
[code]

This is _not_ flaky, btw. Only the affected "MapperImpl" can fluctuate (we have multiple mappers).

Dev mode in another

[2020-08-06 12:31] famod commented on #11253
@michalszynkiewicz Could it be caused by the new prepare execution?

[2020-08-06 12:39] michalszynkiewicz commented on #11253
@famod I don't think it's likely. `prepare` happens earlier and should have no impact on compilation.

[2020-08-06 12:39] matejvasek commented on #10366
@iocanel @geoand I would like to try to create an extension for `Knative` (mostly to learn more about Quarkus internals).

One attempt here: https://github.com/matejvasek/quarkus/tree/knative-client. With it I am able to create `knative service` and list `knative services` in native mode.

Testing code:
[code]

[2020-08-06 12:40] debae opened #11254 "Inconsistency between documentation of ssl.trustStore in amazon-lambda and native-and-ssl"
**Describe the bug**
There is an inconsistency between the documentation of https://quarkus.io/guides/amazon-lambda and https://quarkus.io/guides/native-and-ssl.

According to the amazon-lambda documentation to bootstrap file should be adapter like this :
`
#!/usr/bin/env bash
./runner -Djava.library.path=./ -Djavax.net.ssl.trustStore=./cacerts
`
However the documentation about native-and-ssl stat

[2020-08-06 12:40] gastaldi commented on #11251
Ah that's a bug in the ExtensionManager, I'll have a look

[2020-08-06 13:15] matejvasek commented on #10366
Should those three extension part of the `kubernetes-client` extension, or should there be three new extensions?

[2020-08-06 13:16] geoand commented on #10366
Thanks for your interest!

Let's talk about this in a few weeks as both Ioannis and I are on PTO

[2020-08-06 13:19] maxandersen opened #11256 "Enable platform to contribute settings/properties to initial project"
**Description**
It would be interesting to enable the platform descriptor to provide input to the initial setup of a project.

Known items:
- base image for docker native builds
- add maven repositories

**Implementation ideas**
have metadata in platform to seed project generation.

[2020-08-06 13:28] maxandersen commented on #11256
advantages:
 - no need for different semantics/diffs of quarkus core
 - its clearly documented and explicit to user what is "different"

disadvantages:
 - will (currently) only work for new projects
 - if platform changes its default user won't get updated; but maybe we can print a warning or add a "lint"-check to detect such.

caveat:
 - if diff relevant for extensions we don't have a way to hand

[2020-08-06 13:46] maxandersen commented on #11256
From chat:

Figure out A) how the container image will be configurable B) how to represent that somewhere in the platform artifact (platform.json or somewhere else) C) how codestarts hook that into its data D) if/how legacy codegen handles this E) make this wokr in both command line and code.quarkus F) Adjust A - E if one affects the other :wink:

[2020-08-06 13:53] #11239 closed

[2020-08-06 13:59] rsvoboda commented on #10948
I would appreciate simple step by step guide for the scenario of native image being deployed into OpenShift with ConfigMap being used.

[2020-08-06 13:59] hartimcwildfly commented on #6133
If you want to grab ALL your logs you have to provide a LogHandlerBuildItem (which was possible before my PR). If you want to use named handlers you have to provide a NamedLogHandlersBuildItem which can contain none, one or more handlers.

[2020-08-06 14:07] geoand commented on #10948
That will have to wait until I get from PTO unfortunately (unless someone else wants to provide it)

[2020-08-06 14:08] rsvoboda commented on #10948
ups, you are off for 2 weeks, right? Who is your "backup" for OpenShift / Kubernetes area?

[2020-08-06 14:12] geoand commented on #10948
Yeah, that it right.

Ioannis would qualify as my backup, but he is on PTO as well.

Maybe @Ladicek can help (if not on PTO)? If not, then I'll try and put aside some time to get to this sooner.

[2020-08-06 14:14] #11125 closed

[2020-08-06 14:14] #11127 closed

[2020-08-06 14:38] kenfinnigan opened #11258 "When using Secrets, config functionality should be auto enabled"
**Description**
Currently, if an application wants to read configuration from Kubernetes Secrets, but not a ConfigMap, the following properties need to be defined:

[code]

Which for me, was confusing at first as I'd assumed the first enablement was specific to ConfigMaps.

**Implementation ideas**
When `quarkus.kubernetes-config.secrets.enabled` is `true`, but `quarkus.kubernetes-config.enabled`

[2020-08-06 14:39] #11216 closed

[2020-08-06 15:33] Ladicek commented on #10948
I took a look and can confirm this has nothing to do with accessing a ConfigMap mounted into the container filesystem.

What I did:

1. Updated `application.properties` as described in this discussion. Specifically, I updated these 2 lines:

[code]

2. Built the application. This is against latest Quarkus `master`:

[code]

    I do have GraalVM with `native-image` installed locally, it's the Java

[2020-08-06 15:54] geoand commented on #10948
Thanks a lot @Ladicek !

I can confirm that the Response issue you had is due to Response not having a generic type and thus Quarkus not knowing what type to register for reflection

[2020-08-06 15:55] drissamri opened #11262 "quarkus-amazon-lambda-http does not marshal AWS API Gateway correctly"
**Describe the bug**
Request body of AWS API Gateway seems not being marshalled correctly with Amazon Funqy HTTP

**Expected behavior**
Fields should filled in

**Actual behavior**
Fields are not marshalled and returned as null or even marshalling error (depending on the setup)

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/drissamri/quarkus-funqy-bug
2. mvn cle

[2020-08-06 16:08] #11064 closed

[2020-08-06 16:43] antonwiens opened #11263 "Allow AWS Client TrustStore Configuration"
**Description**
The AWS Transport Configuration allows configuration of a keyStore for client authentication.
Can you please also add the ability to specify a trustStore for the aws client.

**Implementation ideas**
Please add a trustStore configuration option to TlsManagersProviderConfig and apply it to the client in AmazonClientTransportRecorder.

[2020-08-06 16:48] antonwiens opened #11264 "Amazon client requires both transport client implementations for native compilation"
**Describe the bug**
The [AmazonClientTransportRecorder](https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-services/common/runtime/src/main/java/io/quarkus/amazon/common/runtime/AmazonClientTransportRecorder.java)
has both UrlConnectionHttpClient and ApacheHttpClient Code in the Runtime Recorder which seems to require both the respective dependencies during native image compilatio

[2020-08-06 16:48] #11263 closed

[2020-08-06 16:48] antonwiens commented on #11263
Duplicate

[2020-08-06 17:30] famod commented on #11253
@michalszynkiewicz Well...`prepare` **is the causing this problem**, somehow.

The problem vanishes once I switch this to `false` in the debugger: https://github.com/quarkusio/quarkus/blob/1.7.0.CR2/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L387

The number of sources being compiled is then also much lower than with the auto-prepare.

[2020-08-06 17:32] famod commented on #11253
Btw, explicit `mvn quarkus:prepare quarkus:dev` doesn't help.

[2020-08-06 18:05] patriot1burke commented on #11262
A few things:

* Firstly, any object you return as a value from a Funqy method will be serialized into json and encoded within an AwsProxyResponse.  So, your example funqy method  returns an APIGatewayProxyResponseEvent.  This is marshalled and contained within another proxy response object which is returned through the gateway.
* I am not familiar with "sls deploy"
* I was able to get your exampl

[2020-08-06 18:06] famod commented on #11253
@aloubyansky Do you have a clue what's going on?
I'll compare `target` for both cases (ok/not ok).

[2020-08-06 18:37] #11144 closed

[2020-08-06 19:04] aloubyansky commented on #11253
Not yet. One thing with code get is that it does not seem to take into account the launch mode. But it's unlikely the cause here.

[2020-08-06 19:43] famod commented on #11253
So the workaround for now is `-Dquarkus.prepare.skip` (or set via `pom.xml`).

I don't really understand why this new goal is kicked off _by default_. Shouldn't there be an opt-in instead?

[2020-08-06 20:11] michalszynkiewicz commented on #11253
Thanknyou for investigating it @famod! Do you happen to have some small reproducer?

[2020-08-06 20:19] famod commented on #11253
No, unfortunately I don't. I am not allowed to share the affected project so I'd need to create a reproducer from scratch,
But after all this _might_ be easier than I first thought. Still, please don't expect any reproducer from me in the next few days because I am busy with other Quarkus issues and PTO stuff. 😉

[2020-08-06 20:24] michalszynkiewicz commented on #11253
If I have time, I'll try to create a reproducer. But I don't know mapstruct, also have other important stuff and start PTO next week ;)

Anyway, good to know that it's the prepare goal that causes the problem.

[2020-08-06 21:40] #11182 closed

[2020-08-06 22:02] jeffhubLR commented on #9980
If it _is_ a bug in maven-compiler-plugin, regardless, the reproducer project was generated from code.quarkus.io, which sets maven-compiler-plugin version to 3.8.1. Thus this should affect anyone using Infinispan who have recently generated a project and followed the Infinispan guide. It's also possible that the maven-compiler-plugin version upgrade surfaced some race condition in the quarkus plug

[2020-08-06 22:15] famod opened #11270 "Beans from transitive dependencies of a direct optional dependency are not injectable"
**Describe the bug**
If a direct dependency of a Maven module is marked as `optional`, beans in transitive dependencies of this optional dependency are not injectable.

E.g.:
- module `core` defines `quarkus-liquibase` (+ `h2` and some other basic stuff)
- module `dist` depends on `core`, but with `<optional>true</optional>`
- module `dist` is injecting `LiquibaseFactory` in some bean (e.g. a reso

[2020-08-06 22:16] famod commented on #11270
@aloubyansky This is the one we discussed on zulip.

[2020-08-06 22:59] famod opened #11272 "Dev mode: class not found in hibernate-validator deployment if dependency added via Maven profile"
**Describe the bug**
`HibernateValidatorRecorder` (or better to say `org.hibernate.validator.internal.metadata.provider.AnnotationMetaDataProvider`) fails with a `ClassNotFoundException` if a dependency with a REST resource (that contains validation annotations) is brought in via a Maven profile.

E.g.:
- module `core` has a very simple `HelloBean` (and defines the `quarkus-hibernate-validator` de

[2020-08-06 23:02] famod commented on #11272
I heard classloading problems are your speciality, @stuartwdouglas? 😉

/cc @aloubyansky

[2020-08-07 00:56] gastaldi commented on #11272
@famod the error is gone if you update to 1.7.0.CR2

[2020-08-07 01:18] #11251 closed

[2020-08-07 01:55] hrstoyanov opened #11273 "More flexible quarkus configuration"
**Description**
Currently Quarkus configuration fails to implement a very flexible way to specify a run-time configuration source  on the command line, where the source does not have to be in pre-defined location. Requiring "special locations" for configuration files is tricky when developers need to avoid accidentally checking in passwords in Git, preserve configuration files between compile/clea

[2020-08-07 05:24] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/198706509

[2020-08-07 05:25] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/198706631

[2020-08-07 05:44] gsmet commented on #11229
@ia3andy could you have a look anyway? Because if the Maven wrapper doesn't get installed, that's an issue.

[2020-08-07 06:09] mkouba commented on #11249
Hm, we'll need to be more lenient because we already use non-standard characters in built-in helpers, e.g. elvis operator: `{name ?: 'John'}` is translated to `name.?:('John')`. We could use digits, letters, `_` and `$` to cover all Java identifiers and add `?` and `:` for now and see how it goes. Alternatively, we could permit any non-whitespace chars.

[2020-08-07 06:55] SetoKaiba commented on #11131
Anyone? It's working in previous version. But it can't resolve the reflection-config.json in the 1.6.1.Final.

[2020-08-07 06:57] rsvoboda commented on #10948
This S2I image way might work for upstream, but for product the plan was that user builds native image on his own (Jenkins , Tekton pipeline) and deploys to OpenShift just the final native on top of ubi8 image, @tqvarnst is it still the plan?

How can user know this? Can Quarkus detect these common issues and warn users about it.
I know we have guide for native image with some tips, but it's not a

[2020-08-07 07:03] geoand commented on #10948
We can't really warn users in code, as that would potentially lead to a lot of false positives.

It might make sense to have mention this limitation in some part of the rest guide.

[2020-08-07 07:10] Ladicek commented on #10948
This S2I image is actually `ubi8-minimal` + few more packages installed + S2I scripts for the binary build. (Only for binary build, That is, the image expects the binary to be built elsewhere.)

I have no idea why there are tags for different versions of GraalVM, because there doesn't seem to be anything GraalVM-related in the image.

Seems to be documented in https://quarkus.io/guides/writing-nat

[2020-08-07 07:36] mkouba opened #11275 "Qute: implement a shortcut to access list element by index"
Support expressions like `{list.0}` and `{list[1]}`.

IMPL NOTE: This could be easily implemented by a template extension method. However, we should add `@TemplateExtention#matchRegex()` so that we could match integers because ``@TemplateExtention#matchName="*"`` effectively disables all type-safe checks.

[2020-08-07 07:51] mkouba opened #11276 "Qute: include section could be empty"
~I.e. the following snippet should work: `{include foo /}`.~
It turns out that this snippet works just fine.

We could also support params.

[2020-08-07 08:15] unexist commented on #8906
So apparently, this issue isn't fixed in 1.6.2 and I can confirm it works in 1.3.2, but is broken afterwards.

[2020-08-07 08:15] ia3andy commented on #11229
No worries, it failed to generate the wrapper due to the fact that the pom.xml was invalid.

[2020-08-07 08:43] mkouba commented on #11249
I think we should permit any non-whitespace chars but encourage users to only use valid Java identifiers.

[2020-08-07 08:48] knutwannheden opened #11279 "Fix typo in testing guide"
The [testing guide](https://quarkus.io/guides/getting-started-testing) has a small typo in an example: `s/BonourGreeter/BonjourGreeter/g`.

[2020-08-07 08:50] machi1990 commented on #11279
@knutwannheden thanks for spotting this. Would you like to take a stab at this and provide a quick PR?

[2020-08-07 08:51] galderz commented on #11222
@Rutzzzz Thx for trying out Mandrel, have you tried with other Quarkus images to see if the issue is specific to Mandrel or it happens with GraalVM as well?

[2020-08-07 09:04] ia3andy opened #11281 "Add configurable sequences to auto-escape in Qute"
**Description**
As discussed in Zulip, it would be nice to be able to auto escape sequences like `${`.

[2020-08-07 09:07] ia3andy commented on #6026
FYI: The Maven/Gradle wrappers are now included by default using codestarts (not added by maven) making the generation of projects consistant across our different tooling.

[2020-08-07 10:44] famod commented on #11272
@gastaldi Thanks for checking! I can confirm this also in my (far more complext) closed source project.

I though I had checked 1.7.0.CR2 before creating this issue, but I must have been distracted by #11253.

[2020-08-07 10:44] #11272 closed

[2020-08-07 11:22] galderz commented on #11222
This is not specific to Mandrel, Oracle GraalVM CE 20.1.0 shows the same thing. Here's some extra information on the stacktrace:

[code]

[2020-08-07 11:33] matfa42 commented on #9386
+1

[2020-08-07 11:43] #11279 closed

[2020-08-07 12:10] aloubyansky commented on #11270
So to be more precise, extensions that are transitive dependencies of a direct optional dependency aren't effective.

[2020-08-07 12:12] aloubyansky commented on #11270
Looks like it's filtered here https://github.com/quarkusio/quarkus/blob/master/independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/BuildDependencyGraphVisitor.java#L140

[2020-08-07 12:13] aloubyansky commented on #11270
I agree it should work.

[2020-08-07 12:42] aloubyansky commented on #11270
Interesting, your reproducer doesn't seem to work with current master (with optional = false)

[2020-08-07 12:50] aloubyansky commented on #11270
Sorry, it was an issue in my branch. It works :)

[2020-08-07 12:52] famod commented on #11270
I wasn't sure whether this is limited to extensions, didn't check.

[2020-08-07 12:57] aloubyansky commented on #11270
That was based on this statement:

[2020-08-07 12:58] aloubyansky commented on #11270
ah, you mean you didn't include non extension transitive deps.

[2020-08-07 13:26] wuiler commented on #2835
A much-needed enhancement. In mean while, we could use datasource, store procedure pointing to other datasource or even rest client to solved.

[2020-08-07 13:27] VS-AMC commented on #11160
Can someone please review this shortly? This issue affects the reliability of being able to use reactive streaming w/AMQP and has put several deliverables on hold pending a fix or a re-write to use an alternate driver.

[2020-08-07 13:36] pedroigor commented on #10147
FYI, it should work fine when using Quarkus Integration plugin for InteliJ.

[2020-08-07 13:37] mkouba opened #11285 "Qute: document under what conditions are special characters escaped"
https://quarkus.io/guides/qute-reference#character-escapes

A template variant must be set. A variant is set automatically for templates in the `src/main/resources/templates`.

[2020-08-07 13:45] gavinking commented on #2835
I agree, this is rather important.

[2020-08-07 14:12] galderz commented on #11222
My centos7 docker seg faults when trying to generate docker images (wot?), so I've been trying to build it inside docker on macOS and then running it on linux bare metal and I've been able to reproduce it that way.

However, I fail to replicate it on centos7 when generating native executable bare metal. On macOS, I'd run the more recent:

[code]

And when I take that binary and run it on centos7 t

[2020-08-07 14:23] galderz commented on #11222
Re 1. I've tried on macOS to set JAVA_HOME to graalvm 20.1.0 CE, and then build the native executable with ` ./mvnw clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=docker -Dquarkus.version=1.6.1.Final`. Ship the executable to centos7 and run it there with a folder with chinese chars and it fails. So, my gut feeling is that the problem is 2, unless th

[2020-08-07 16:39] radcortez commented on #11160
Hi @VS-AMC I understand your impatience.

A lot of our contributors are out since August is mostly a vacation month, so we have less people than we usually have to look into stuff. I'll try to find you someone to have a look next week. I hope you can understand.

[2020-08-07 16:45] hrstoyanov commented on #11273
@radcortez FIY.

[2020-08-07 16:46] VS-AMC commented on #11160
Hi Roberto,

I was not aware of that. Thank you for informing me.

Vic

From: Roberto Cortez <notifications@github.com>
Sent: Friday, August 7, 2020 12:40 PM
To: quarkusio/quarkus <quarkus@noreply.github.com>
Cc: Victor Soderberg <Victor.Soderberg@AMCNETWORKS.COM>; Mention <mention@noreply.github.com>
Subject: Re: [quarkusio/quarkus] Message Production Issue w/quarkus-smallrye-reactive-messaging-a

[2020-08-07 19:10] #11218 closed

[2020-08-07 19:31] rsvoboda commented on #11222
Just for the record - Quarkus product will be using Mandrel via docker image.

[2020-08-07 22:32] pschyma opened #11287 "Misleading/Erroneous signatures in Panache Hibernate Kotlin"
**Describe the bug**
Several signatures in the `PanacheCompanion` indicate that the result of function call may be `null`, e.g. `PanacheCompanion<Id, Entity>.findById(id: Id): Entity?` or `PanacheQuery<Entity>.singleResult(): Entity?`.

**Expected behavior**
Invoking a function with a nullable result type returns `null` instead of throwing an exception; like e.g. `PanacheQuery<Entity>.firstResult(

[2020-08-08 07:39] mqs24d opened #11288 "Flyway Plugin does not include version subfolder in script path"
**Describe the bug**
Since quarkus-version 1.4.2 the flyway plugin does not include the name of the version subfolder into the path of the migration scripts so that quarkus startup fails with an Exception ```org.flywaydb.core.api.FlywayException: Unable to obtain inputstream for resource: <configured location>/<script filename>```.

**Expected behavior**
Having a folder structure like this:
[code]

[2020-08-08 13:03] viveksahu26 commented on #11258
sir, i would love to work in this issue.. So, kindly, assign me this issue..

[2020-08-08 13:34] viveksahu26 commented on #11258
I am beginner to this issue. Can you please suggest, how to get started..

[2020-08-08 13:38] viveksahu26 commented on #10922
I am beginner in this issue, Can you please suggest me, how to get started..

[2020-08-08 13:39] viveksahu26 commented on #10022
I am beginner in this issue, Can you please suggest me, how to get started..

[2020-08-08 14:06] machi1990 commented on #10022
Hi @viveksahu26 thanks for your interest in this issue. This is part that you can look at:

https://github.com/quarkusio/quarkus/tree/963519899db1691ca86fe4f278fdebf055b10204/core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/ConfigDoItemFinder.java#L296-L310

It should be possible to check that `type` is `Duration.class.getName()` and do the needed logic for the default val

[2020-08-09 00:25] gastaldi commented on #10922
@viveksahu26 I think @sladyn98 is already working on it? Can you confirm @sladyn98?

[2020-08-09 00:27] gastaldi commented on #10922
@viveksahu26 anyway, I'd suggest you to read https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md first and then see if the instructions in https://github.com/quarkusio/quarkus/issues/10922#issue-664152770 help

[2020-08-09 00:28] #11276 closed

[2020-08-09 10:30] leosilvadev commented on #5633
Hi, what about this issue? I see it was closed but how should someone make that work? Or it just doesn't work yet?

[2020-08-09 11:48] drissamri commented on #11262
Sorry, I should've made my report a bit more clear. I've changed the example code a little bit.

Does  funqy-amazon-lambda-http support AWS API Gateway REST & HTTP API's?
The HTTP API's have a v1 payload (same format as REST APIs) but also a v2 payload format, are both supported?
https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html

There are two e

[2020-08-09 14:04] famod commented on #11253
I have a reproducer ready locally. Will push it to GH later today or tomorrow.

[2020-08-09 14:32] patriot1burke commented on #11262
A few things:
* I don't know why you want to use Lambda API interfaces directly in your Funqy methods.  The whole goal of Funqy is so that you do not have to use Lambda apis and interfaces.  If you want to use lambda event objects as you do in your example, just use our regular Amazon Lambda extension quarkus-amazon-lambda
* Just change your example to accept and return whatever body you want to p

[2020-08-09 15:53] viveksahu26 commented on #10022
since i am beginner. so can please explain me more about this issue.

On Sat, Aug 8, 2020 at 7:36 PM Manyanda Chitimbo <notifications@github.com>
wrote:

[2020-08-09 17:13] drissamri commented on #11262
On different demos I used the quarkus-amazon-lambda extension, but since in this project I need to have multiple functions/entrypoints in one lambda it was suggested on Twitter to use quarkus-amazon-lambda-http.

1) I don't really need the AWS Lambda specific bits, but I do need to set HTTP status & response content-type, is there any way to pass this on to the AwsProxyResponse?

2) I remove the o

[2020-08-09 17:15] mageddo commented on #10430
Is it supposed to be fixed on 1.6.1.Final? I'm using this version and still having the issue, [here a sample](https://github.com/mageddo/poc/tree/1128295/quarkus-swagger-issue)

[2020-08-09 17:18] mageddo commented on #10430
Explicitly add a NonArg constructor fixes the problem, I expect Quarkus to solve it for me though

[code]

[2020-08-09 21:13] patriot1burke commented on #11262
I'm sorry for the confusion.  Funqy methods take one POJO as a parameter and return a POJO.  There is no content type setting, or error code setting.  Funqy will automatically set error codes.  Internally, Funqy only deals in json.

If you want to deploy on lambda and use HTTP still and have multiple functions per deployment, then use

quarkus-funqy-http + quarkus-amazon-lambda-http

You will be a