[2019-03-17 11:37] yuhaibohotmail commented on #1539
My environment is:
ubuntu-18.04.1.0
graalvm-ce-1.0.0-rc13
Quarkus 0.11.0

[2019-03-17 12:41] dmlloyd commented on #1443
We should be modifying the manifest via build items IMO.  Maybe extensions should produce manifest entry items, which are then merged into the final product.

[2019-03-17 12:49] geoand commented on #1539
@yuhaibohotmail perhaps you would like to compare your test with https://github.com/johnaohara/pingperf#jmeter-load-tests-results?

[2019-03-17 13:28] mickaelistria commented on #1443
it could
1. copy the file
2. read manifest if existing, or create new one
3. alter manifest
4. copy it

Something like

[code]

[2019-03-17 14:43] Riduidel commented on #1443
Well, I suggest you take a look at the pull request #1540 :-)

[2019-03-17 17:22] sberyozkin commented on #1514
@rsvoboda , #1542 has been submitted; my apologies for getting the relevant changes into 1.1.1, though I was under the impression the first 2 version digits were somehow linked to the MP spec releases. I'll ask Scott what the versioning policy should be. Thought I guess in this case since it is already in 1.1.1 we will probably go 1.1.2... thanks

[2019-03-17 21:12] stalep commented on #1532
I tested locally with adding:
[code]
This gets past the PathTestHelper issue, but it still fails. Looking into it.

[2019-03-17 21:28] #1528 closed

[2019-03-18 00:34] stalep commented on #1458
With this PR: #1546 Gradle tests are going further, but they do not work yet.
From the log I notice that the test runner do not have any extensions installed: `INFO: Installed features: []`. - somehow Quarkus do not pick up the extensions.
To replicate, use the `getting-started` project with this build.gradle file:
[code]
Use a fresh built of Quarkus (with the PR referenced applied).

[2019-03-18 01:47] stuartwdouglas commented on #1538
I think the Provider issue may already be fixed in the next release

[2019-03-18 06:38] #1522 closed

[2019-03-18 06:51] cescoffier commented on #1524
@gsmet @rsvoboda I will update the Vert.x Axle client today.

[2019-03-18 06:53] cescoffier commented on #1511
This is also related to the idea to push our docker image to Quay.io (need to investigate this).

[2019-03-18 06:54] cescoffier commented on #1508
@Sanne I would really like removing our dependency on jboss-parent (we would gain in flexibility).

@stuartwdouglas @dmlloyd do you remember why we are using this compiler version?

[2019-03-18 06:56] cescoffier commented on #1495
I will have a look. Thanks!

@mkouba did you already see such kind of issue?

[2019-03-18 06:57] cescoffier commented on #1488
@iocanel @geoand A quickstart or blog would be very very nice!

[2019-03-18 06:59] kameshsampath commented on #1511
@cescoffier  - this can do all that is needed.  The `DESTINATION_NAME` parameter that you can set will determine where it needs to be pushed. e.g if I say `DESTINATION_NAME` as `quay.io/rhdevelopers/myapp` then its gets pushed there with only requirement that you need to have registry secrets configured. check the example out for more details. I am happy to fix anything that you find missing

[2019-03-18 07:04] rsvoboda commented on #1514
Relation to MP spec version is a nice feature. Micro versions on the other hand should preserve compatibility and include mainly fixes. So it's tough situation, we can go away from this problem saying that end user api wasn't changed, but it's alibistic :)

With increasing number of projects (TT, WF, Quarkus, Liberty?) which are using SR bits I think there should be bigger push on compatibility in

[2019-03-18 07:15] cescoffier commented on #1511
When I said investigate it was more for me, as I never used Quay before.

[2019-03-18 07:16] kameshsampath commented on #1511
sorry @cescoffier - you comment seem to me like general more info kind of thing, thats why I popped with that answer.

[2019-03-18 07:20] #1532 closed

[2019-03-18 07:25] cescoffier commented on #1499
I can't remember how I did it, but I don't believe it uses Patternfly, more some kind on "embedded" CSS. Note that quckstart pages (chat, validation...) uses Patternfly.  I'm not against using Patternfly (I love it), but it needs to be embedded in the page as the user may not have internet access (and adding a resource might be a bit too much).

[2019-03-18 07:45] geoand commented on #1497
Are we thinking of having a separate `FAQ` page in docs?

[2019-03-18 07:52] jnizet commented on #1532
The change still hardcodes a single default location for the classes.
This location is incorrect if Kotlin is used.
And if both Java and Kotlin are used, Gradle will store classes in two separate directories, not just one.
I don't know why the locations need to be verified that way because I have no idea of what Quarkus needs to do with these classes, but am I right to say that:

- given that thes

[2019-03-18 08:28] mkouba commented on #1495
So the problem is that there is no `ReactiveStreamsFactory` service provider registered. This SPI is implemented in `smallrye-reactive-streams-operators`. It works in JDK mode because `smallrye-reactive-streams-operators` is a transitive dependency of `quarkus-smallrye-reactive-messaging-kafka`. However, in order to make it work on substrate we need to register a `ServiceProviderBuildItem` ->  imp

[2019-03-18 08:37] matzew commented on #1495
yay~

[code]

[2019-03-18 08:39] matzew commented on #1495
great suggestion, thanks @mkouba

now, I think @cescoffier suggested that already, but I _understood_ it wrong, and added this instead:

[code]

[2019-03-18 08:48] vorburger commented on #1511
@kameshsampath FYI see also (my) related #1358 and #1390 (https://github.com/quarkusio/quarkus/compare/master...vorburger:issue-1390_dev-container) ...

[2019-03-18 09:01] gsmet commented on #1497
My idea was a general guide on writing native applications. Maybe something like "Tips for writing native applications"?

[2019-03-18 09:08] geoand commented on #1497
Hm, in that case I'm probably not the most appropriate person to lead such an effort since I don't have much experience in writing such native apps - I only basically know answers to of the FAQ :P

[2019-03-18 09:18] mkouba commented on #1456
@xstefank So I've just tried your demo, i.e. run `mvn clean compile quarkus:dev`, add `key2=pong` to the `microprofile-config.properties`, add `@Inject @ConfigProperty(name = "key2") String key` to PingResource and changed the `me.xstefank.PingResource.hello()` to return the injected value and the output is "pong". What exactly should I try to reproduce?

[2019-03-18 09:21] gsmet commented on #1497
As you wish. For now, I really envisioned it as: issue -> solution. We could add more content later.

[2019-03-18 09:22] stalep commented on #1533
I agree, for now I think we should change the it to `compile` instead of `compileOnly`.
With the latest changes in master i have tests working with `compile`. - except the native test, but looking into it.

[2019-03-18 09:23] RupprechJo commented on #1458
Had the same idea as stalep. But not only gradle itself is a problem. When importing a gradle project into IntelliJ or Eclipse, the output paths of gradle and the IDE are NOT shared (because gradle wants no shared paths, because that destroys correct up-to-date recognition). So, if you want to start the test from your IDE, it still will not work. Eclipse and IntelliJ, have default output paths, bu

[2019-03-18 09:24] geoand commented on #1497
OK, in that case, I can start writing it :P

[2019-03-18 09:25] xstefank commented on #1456
@mkouba I've tried it again, and it fails for me as expected. Let me try it with current master, I am on 0.11.0

[2019-03-18 09:27] mkouba commented on #1456
I used 0.11.0 too. What are your steps to reproduce the issue?

[2019-03-18 09:31] geoand commented on #1456
I ran into this same issue a few days ago while doing a demo. I can reproduce the problem both in `0.11.0` and the current `master`.

[2019-03-18 09:32] xstefank commented on #1456
the same as yours, and same as in the readme of the reproducer

[2019-03-18 09:34] geoand commented on #1456
Here is what I did:

Use:

[code]
and

[code]

Execute:

[code]

`http://localhost:8080/greeting` correctly returns: `asdf`

Add `testProp2 = hello` to `microprofile-config.properties`.

change `@ConfigProperty(name = "testProp")` to `@ConfigProperty(name = "testProp2")`.
When doing that I get:

[code]

[2019-03-18 09:42] mkouba commented on #1456
Hm, that's weird. Just tried several more times with no problem. Does it occur intermittently or every time you run the app?

[2019-03-18 09:43] geoand commented on #1456
For me it happens everytime

[2019-03-18 09:45] xstefank commented on #1456
yes, same for me

[2019-03-18 09:50] jnizet commented on #1533
`compile` is deprecated. `implementation` is the configuration to use for stuff that are needed at compile time and at runtime. See https://docs.gradle.org/current/userguide/java_plugin.html#sec:java_plugin_and_dependency_management.

[2019-03-18 09:52] mkouba commented on #1456
Ok gentlemen, pls tell me something about your configuration: jdk, maven, os, ... Also is the hot replacement triggered after you hit the resource? You should see something like `Hot replace total time: 0.462s ` in the console.

[2019-03-18 09:54] geoand commented on #1456
[code]

[2019-03-18 09:55] geoand commented on #1456
[code]

[2019-03-18 09:58] geoand commented on #1456
I should also add than when I simplu change the value of `testProp` (as opposed to adding a new property) hot reload works as expected

[2019-03-18 10:03] geoand commented on #1456
@mkouba If you think a quick call would help in debugging the issue, I'd be happy to do it

[2019-03-18 10:25] stalep commented on #1533
ah, i didnt know. thanks!

[2019-03-18 10:34] Sanne commented on #1508
@cescoffier +1 . David pointed me to https://issues.apache.org/jira/browse/MCOMPILER-320

[2019-03-18 10:50] mkouba commented on #1456
Hm, I think that it could be related to the fact that we replace the MP Config "data" during various phases of bootstrap... so it might be some sort of timing issue. @dmlloyd David could pls shed some light on this?

In any case,  the validation in [ConfigBuildStep](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.ja

[2019-03-18 11:47] mkouba opened #1555 "@ConfigProperty injection point validation must occur at RUNTIME_INIT"
The validation is currently performed [during augmentation](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java#L37) and so if a mandatory property without default value is defined a `DeploymentException` is thrown even if a relevant system property or an environment variable exists.

[2019-03-18 11:48] mkouba commented on #1456
https://github.com/quarkusio/quarkus/issues/1555

[2019-03-18 12:02] rhuss commented on #1488
@iocanel Do you think that the kubernetes-client will be able to run ootb with Quarkus or do you think we would need a dedicated extension (like mention in https://github.com/fabric8io/kubernetes-client/issues/1427) ?

[2019-03-18 12:04] geoand commented on #1497
One thing I am not clear on is, do we intend this guide to be aimed at extension authors, regular application authors or perhaps both?

[2019-03-18 12:58] dmlloyd commented on #1456
There's not a lot to say (after #1478): the build configuration is set up by consuming config sources, converters, etc. and then producing (and installing) the config object.  At run time, we parse the configuration and install the config object in a very similar way (though we use a couple of fixed config sources containing properties copied from the build `application.properties` and preset defa

[2019-03-18 13:02] dmlloyd commented on #1402
I'm going to reopen this until we can get someone with a Windows system to reproduce the problem.

[2019-03-18 13:15] mmacphail commented on #1402
I'm willing to try again; no problem for me; i'm just missing something once I installed the sources from upstream.

[2019-03-18 13:18] dmlloyd commented on #1508
I disagree.  In what way would we gain flexibility?  It seems to me we'd just end up reimplementing the whole thing.

[2019-03-18 13:25] mkouba commented on #1456
In this particular case, we'll have to collect all mandatory `@ConfigProperty` injection points (property name + type) and record a template method to validate that a config property for each recorded injection point is present. The performance impact should be negligible. But still, one thousand similar "features" and we're back where we were ;-).

Ok, I didn't know about the next big config PR.

[2019-03-18 13:29] geoand commented on #1456
@mkouba makes perfect sense for me

[2019-03-18 13:38] xstefank commented on #1456
@mkouba yes, same here, just ping us please when to test again

[2019-03-18 13:40] iocanel commented on #1488
@rhuss: I think it eventually will be able to run out of the box. I don't see why we would need an extension.

[2019-03-18 14:07] #1315 closed

[2019-03-18 14:09] #1017 closed

[2019-03-18 16:06] gnodet commented on #1474
PR available at https://github.com/quarkusio/quarkus/pull/1559

[2019-03-18 16:09] rsvoboda opened #1563 "Upgrade mariadb-jdbc from 2.3 to 2.4"
Upgrade mariadb-jdbc from 1.3 to 1.4

Classes imported in https://github.com/quarkusio/quarkus/blob/master/extensions/jdbc/jdbc-mariadb/jdbc-mariadb-runtime/src/main/java/io/quarkus/jdbc/mariadb/runtime/graal/DefaultAuthenticationProvider_Substitutions.java#L5-L10 are not available in 1.4 anymore

Not sure if it it's good or bad sign for substratevm support.

[2019-03-18 16:37] sberyozkin commented on #1514
Thanks. I was just a bit careless, 1.1.1 did not mean to be incompatible, I was simply a bit naive assuming only Thorntail was integrating at the level I was applying my changes to (ex, I needed a cleaner code to have a KC factory/principal).
I'll ask on the smallrye list what the versioning policy we should follow

Cheers

[2019-03-18 17:01] gastaldi commented on #1484
Not sure if it helps, but JRebel uses a [rebel.xml](https://manuals.zeroturnaround.com/jrebel/standalone/config.html#jar-configuration) on each JAR to find out where the compiled classes are - maybe a similar approach would be interesting

[2019-03-18 17:42] jkbrock commented on #1499
Sounds good, I'll take a look and start on some mockups next week.

[2019-03-18 18:09] gastaldi opened #1564 "Add link to list of possible dialects in the "USING HIBERNATE ORM AND JPA" guide"
When using the MariaDB driver to connect to a MySQL 5 DB, you must explicitly specify the dialect using `quarkus.hibernate-orm.dialect=org.hibernate.dialect.MySQL5Dialect` in your application.properties, otherwise you get errors as:

[code]

In https://quarkus.io/guides/hibernate-orm-guide it would be nice to have a link to the possible values for the `quarkus.hibernate-orm.dialect` property (I fo

[2019-03-18 20:49] marcobattaglia commented on #1413
@geoand @vertexclique
You can find an example of using quarkus, scala and kotlin together here:
[https://github.com/marcobattaglia/quarkus-scala](https://github.com/marcobattaglia/quarkus-scala)

We are working on testing other quarkus features: jpa, reactiveX and so on.

If you think that it needs some work in order to provide a better integration with quarkus we can work on it.

[2019-03-18 21:06] vorburger opened #1565 "RestClientITCase failure on master"
It looks like recent PRs (incl. e.g. #1327, #1562, #1561, #1559) all fail with:

[code]

I can locally reproduce this with `../../mvnw -Dnative=true clean install` (NB: IT) in `integration-tests/main` on the current (0813fed5f320d55ac3b0eb02f2cac6a3a985793e) `master` branch ...

... anyone looking at fixing this so that we can rebase those PRs?

[2019-03-18 21:25] dmlloyd commented on #1565
I'm working on reproducing now.

[2019-03-18 21:51] Sanne opened #1566 "Upgrade to GraalVM 1.0-rc14"

[2019-03-18 22:32] rsvoboda commented on #1565
This what I see in my PR #1561, I tried to revert my changes but without luck.

Then I tried to run locally on the master and I see the errors too - `mvn clean install -DskipTests -Denforcer.skip=true -Dcheckstyle.skip=true -Dno-native &&  mvn -pl integration-tests/main clean integration-test -Dnative  -Dit.test=RestClientITCase -Dtest=NONE -DfailIfNoTests=false`

When looking into PR #1562 (Remov

[2019-03-18 23:04] starksm64 commented on #1402
We need more info about which JDK is installed, maven installed, etc. I am running this on a windows 10 machine and I don't see this error.

[code]

[2019-03-18 23:20] gsmet commented on #1565
I narrowed down the issue to this: https://github.com/quarkusio/quarkus/pull/1567/files .

[2019-03-19 02:16] kenfinnigan commented on #1565
PR merged

[2019-03-19 02:16] #1565 closed

[2019-03-19 03:01] rdifrango commented on #1491
As a point of reference here's what I'm after and no matter what I seem to do it doesn't work:

https://developer.ibm.com/articles/j-javaee8-json-binding-3/#json-b-adapters

[2019-03-19 03:08] kameshsampath commented on #1511
@vorburger  if you check my builder image i have made it to use buildah than using docker which speeds up the build, the only issue I see with s2i is that your entire builder image packs to be output which is not good , in this approach my end image is just 30mb with ubi base.

Let me know your thoughts

[2019-03-19 04:35] #1469 closed

[2019-03-19 05:38] machi1990 commented on #1566
@Sanne I'd like to work in this.

[2019-03-19 06:07] michalszynkiewicz commented on #1565
@gsmet, do you know what caused the problem? The test worked fine in the build for the PR that added it https://github.com/quarkusio/quarkus/runs/79930279

[2019-03-19 07:04] cescoffier commented on #1566
@Sanne sounds a bit tricky to have it incorporated in Tomorrow's release no?

[2019-03-19 07:36] jmartisk commented on #1435
I'm currently working on getting this fixed on the SmallRye Metrics side, targeting its 2.0 release. It will be cleaner than doing this in Quarkus.

[2019-03-19 07:53] geoand commented on #1413
@marcobattaglia thanks for the pointer!

I think what @vertexclique was asking for was support for the dev mode with Scala resources

[2019-03-19 08:19] mkouba commented on #975
So the bean container is currently initialized during `STATIC_INIT` and it's legal and often practical to create bean instances in this phase too.

I don't think we should disallow using CDI beans during `STATIC_INIT` or move the whole container initialization to the `RUNTIME_INIT` phase. Instead, we should document that runtime config properties are not available there. I do plan to start a new d

[2019-03-19 08:19] cescoffier commented on #1495
@mkouba I agree with the proposed fix, opening a PR in a few minutes.

[2019-03-19 09:43] cescoffier commented on #1495
PR submitted.

[2019-03-19 10:06] #1409 closed

[2019-03-19 11:15] Sanne commented on #1566
@cescoffier indeed this isn't urgent. On the other hand, shouldn't be hard either.

@machi1990 sure, assigning to you! Thanks

[2019-03-19 11:21] Sanne commented on #1566
@cescoffier BTW why do you imply I was wanting it in the next release? Not sure what made you think so.

[2019-03-19 11:22] Sanne commented on #1566
@machi1990 I don't have permissions to assign it to you, but consider it yours ;-)

[2019-03-19 12:12] Sanne opened #1574 "Update to RESTEasy 4.0.0.CR1"
Not least becasue of:
 - https://issues.jboss.org/browse/RESTEASY-2190

[2019-03-19 12:18] Sanne commented on #975
sounds sensible, but I'm wondering about the usability implications.

 - Did we get to a point in which it's very clear to users which ones are runtime config properties?
 - Can we strictly validate mistakes made in this area and provide a good error message?

[2019-03-19 12:26] michalszynkiewicz commented on #1537
So the problem is that, probably due to a method with `@Timeout` being invoked in a separate thread, `javax.enterprise.context.ContextNotActiveException` is thrown on `MeEntity.findById`.
I will see if I see anything that we could do in this case.

[2019-03-19 12:38] Sanne opened #1575 "Extension for Flyway"
As suggested by @cristhiank on:
 - https://stackoverflow.com/questions/55233662/how-add-flyway-dependency-and-build-native-image-quarkus-java-lang-classnotfound
 - https://github.com/cristhiank/quarkus-flyway-bug

[2019-03-19 12:45] michalszynkiewicz commented on #1537
And comments in `TransactionScopedEntityManager` suggest that we don't want to spawn another `EntityManager` for such cases.
I don't think there is anything sensible we could do with this.
Do you have any suggestions @stuartwdouglas ?

[2019-03-19 12:45] kenfinnigan commented on #1575
We had one for Thorntail, so should be easy enough

[2019-03-19 12:48] Sanne commented on #1575
This is now assigned to @cristhiank , assigning to myself as mentor.

[2019-03-19 12:53] Sanne commented on #1575
I haven't tested this, but I suspect that all you need is to have a class similar to this one:

[code]

This should be packaged in the "runtime" module of a Flyway Quarkus extension.

[2019-03-19 12:54] cristhiank commented on #1575
Ok, got it, let me work on it and I will let you know

[2019-03-19 13:03] #1495 closed

[2019-03-19 14:10] #1514 closed

[2019-03-19 14:10] gsmet commented on #1491
@rdifrango could you share a simple project that I can take a look at?

Thanks.

[2019-03-19 14:21] rsvoboda opened #1577 "Version overrides - we should warn users to primarily use versions defined in Quarkus BOM"
Version overrides - we should warn users to primarily use versions defined in Quarkus BOM
The initial motivation for this version override topic is https://github.com/quarkusio/quarkus/issues/1522

Good fit for end-user warning could be https://quarkus.io/guides/getting-started-guide => 4. Bootstrapping the project => Note box after "Once generated, look at the pom.xml. You will find the import of

[2019-03-19 14:22] vorburger commented on #1511
@kameshsampath I did have a closer look at it meanwhile, and [your quarkus-java-builder](https://github.com/kameshsampath/quarkus-java-builder) is cool! To me, given that it is Kubernetes Knative Build based, it is complementary to OpenShift S2I (Native #1358 & JVM https://github.com/quarkusio/quarkus-quickstarts/pull/81) and Dev #1390) - IMHO we should offer both, and let users and customers choo

[2019-03-19 16:13] alphawolf1988 opened #1578 "RestAssured Json Schema Validator"
Currently RestAssured is available in the Quarkus BOM. It would be nice if also the Json Schema Validator is included:

`<dependency>
            <groupId>io.rest-assured</groupId>
            <artifactId>json-schema-validator</artifactId>
            <scope>test</scope>
 </dependency>`

[2019-03-19 16:13] machi1990 commented on #1566
@Sanne thanks, I have started to work on this. I think `graalvm 1.0.0-rc14` version is not yet on maven central: [cf](https://mvnrepository.com/artifact/org.graalvm.sdk/graal-sdk). I also think we'll have to upgrade our `graal-vm centos'` docker image: its current version is 1.0.0-rc13. Current my changes are visible in my local [branch](https://github.com/machi1990/quarkus/tree/chore/update-graal

[2019-03-19 16:14] gsmet commented on #1578
PR welcome :).

[2019-03-19 17:32] kameshsampath commented on #1511
@vorburger  thanks for the comments, I dont mind sending PR to the new Quarkus core image.  Let me know once you have it merged, I shall start sending PR's to it

[2019-03-19 17:38] Sanne commented on #1566
thanks @machi1990 , good progress!

regarding the graalsdk, it's already there: http://repo.maven.apache.org/maven2/com/oracle/substratevm/svm/1.0.0-rc14/svm-1.0.0-rc14.jar
(remember that sites such as https://mvnrepository.com aren't refreshed as fast, it's often worth checking the repo directly)

@cescoffier do we need to ask you about the docker images now?

[2019-03-19 18:07] machi1990 commented on #1566
Thanks for the timely reply. We wait for @cescoffier about the docker image and then I'll finish the tiny bits and make a PR afterwards.

[2019-03-19 18:34] vertexclique commented on #1413
Yes, also the support dependency like how kotlin has been done.

[2019-03-19 18:55] mmacphail commented on #1402
So,

I pulled the sources from upstream and installed them in the same `999-SNAPSHOT` version.
I'm able to compile & run using `mvn compile` and `mvn install`.

Unfortunately I still get the same issue:

    $ mvn compile quarkus:dev
    [INFO] Scanning for projects...
    [INFO]
    [INFO] --------------------< org.acme:quarkus-quickstart >---------------------
    [INFO] Building quarkus-quickst

[2019-03-19 20:49] #1480 closed

[2019-03-19 20:49] gsmet commented on #1480
@gunnarmorling you will have `quarkus-jsonp`/`quarkus-jsonb` extensions in tomorrow's release.

[2019-03-19 20:50] vorburger commented on #304
Closing this issue as I consider this Done with today's merge of #1358.

[2019-03-19 20:50] #304 closed

[2019-03-19 20:51] gsmet commented on #1482
It should be fixed in tomorrow's release.

[2019-03-19 20:51] #1482 closed

[2019-03-19 20:52] #1497 closed

[2019-03-19 20:56] #1118 closed

[2019-03-19 20:59] starksm64 commented on #1402
Thanks, I'll look at reproducing this setup on my windows 10 box.

[2019-03-19 21:17] #1555 closed

[2019-03-19 21:34] mmacphail commented on #1402
Thanks, @starksm64.

OK I did the exact same manipulation on Linux and I don't get the `Error: Could not find or load main class io.quarkus.dev.DevModeMain`. Everything is working as intended.

I ran `mvn -X quarkus:dev > logs.txt` for both the windows getting started project and the linux getting started project (results are here:  ([logs.txt](https://github.com/quarkusio/quarkus/files/2985653/lo

[2019-03-19 21:40] masini opened #1580 "The Jandex index is not complete, missing: java.lang.Comparable"
Using Bean Validation in an Entity that implements Comparable prevent "install" of the project with this Exception.

[code]
Attached a project, you can reproduce with:

`mvn install`

[2019-03-19 21:41] masini commented on #1580
[test-case-validator.zip](https://github.com/quarkusio/quarkus/files/2985675/test-case-validator.zip)

[2019-03-19 22:14] cristhiank commented on #1575
@Sanne please take a look to the first approach to implement this on my repo:

https://github.com/cristhiank/quarkus/commit/e87f3f36c6c04da142da440d680ad776e62dd749

I ended up doing some more substitutions but it is working now.

[2019-03-19 22:17] cristhiank commented on #1575
I also updated the test repo I made to use it and it is working now https://github.com/cristhiank/quarkus-flyway-bug/commit/ce3d2d99d546b92cc3a656675af81914916d1291

[2019-03-19 22:48] #1524 closed

[2019-03-19 22:49] #1443 closed

[2019-03-19 22:50] Sanne commented on #1575
thanks @cristhiank ! it's looking great.

I haven't tried it out yet, I'll trust you on that for now.. I had some minor comments.
Also, could you remove the @authors tags? apparently we're going to remove them all.

Looks like the main thing missing is some basic integration tests.

Please send a pull request when you're happy with it?

[2019-03-19 22:51] gsmet commented on #1532
@jnizet could you open another issue with all your (very valid) concerns. We knew it was a hack, we need to find a better solution but not sure it will be easy.

[2019-03-19 23:14] starksm64 commented on #1402
Thanks for the log as it added more info on what your environment is. So the problem was not the jdk version or being in a path with spaces, nor maven being in a path with spaces, but the fact that the .m2/repository for the local artifacts was in a path with spaces is the problem as when I made that change to my environment I see the issuer:

[code]

So we are not building the classpath correctly

[2019-03-19 23:14] cristhiank commented on #1575
Thanks @Sanne I will remove the tags, these are the defaults from my IDE 😣 . I will implement the integration tests. What am I suppose to test in this case ? I don’t know how to test the Substitutions but I will find the way, help is appreciate it as always 🙂

[2019-03-19 23:37] Sanne commented on #1575
To test things what we usually do is create a new module under `/integration-tests/`.

Since we can't use JUnit to test the native code, what we normally do is have an application which exposes a REST endpoint, and uses the to-be-tested component to return an "OK". This can be trivially done as we provide several helpers to do this easily.

Since you're creating a new extension, you could add a ne

[2019-03-19 23:39] Sanne commented on #1575
P.S. forgot to say: of course this makes sure you can test the full compilation of an "application" using Flyway, and so verify indirectly that all substitutions are doing the intended job. You'll have to find a way to assert that Flyway did something - maybe import something on the database, then assert for that?

[2019-03-19 23:43] cristhiank commented on #1575
Great, I got it, I will work in it and will be back with the results. Thanks for all your help.

[2019-03-20 00:13] stuartwdouglas commented on #1484
I think this is relatively easy to do, although it would require running quarkus:dev from the top level project. It will likely conflict with the bootstrap work though so I will hold off on this until it is in.

[2019-03-20 01:23] mohr023 commented on #1402
Can confirm this happens in a Win10 environment, also that the settings.xml workaround fixes it for the moment.
The classpath error @starksm64 mentioned also turns out to crash the application if the project folder itself is placed under a path that contains spaces (which is a little bit more annoying, since Quarkus logger was eating up the error messages and showing a nice "build success" without

[2019-03-20 06:24] johnaohara commented on #1402
@mohr23 dev mode logging should now not be swallowed, see #1375. Further improvements are coming in #1393

[2019-03-20 07:40] jnizet opened #1584 "Gradle integration is hard-coded for single-project using Java"
The changes made to fix #1532 still hardcodes a single default location for the classes.
This location is incorrect if Kotlin is used.
And if both Java and Kotlin are used, Gradle will store classes in two separate directories, not just one.
I don't know why the locations need to be verified that way because I have no idea of what Quarkus needs to do with these classes, but apparently:

 - given t

[2019-03-20 07:40] jnizet commented on #1532
@gsmet I have created #1584

[2019-03-20 08:46] stalep commented on #1584
Hi, yes there are hardcoded locations for the tests in Quarkus in it's current state. This is something we will try to address asap, but it won't happen in the next release (scheduled for today). The change we've done should work for the default location though, so hopefully that works for the majority of the users.

From the latest changes in master (with this pr #1583) I successfully run the get

[2019-03-20 09:13] #1533 closed

[2019-03-20 09:53] rsvoboda commented on #1577
Issues like https://stackoverflow.com/questions/55233662/how-add-flyway-dependency-and-build-native-image-quarkus-java-lang-classnotfound shows that we should warn also about risk for 3rd party libraries in native mode.
Native mode works with components defined in BOM, for 3rd party libraries there is a risk users would hit an issue.

[2019-03-20 10:09] cristhiank commented on #1575
Ready for your revision @Sanne  :)

[2019-03-20 10:37] johnaohara opened #1589 "vert.x web extension does not support RX routing context"
The vert.x web extension does not currently support the reactive version of the RoutingContext. Code such as ;
[code]

fails with;

[code]

We should either;
1) support both `io.vertx.reactivex.ext.web.RoutingContext` and `io.vertx.ext.web.RoutingContext`

or

2) Raise a warning if `io.vertx.reactivex.ext.web.RoutingContext`  is passed as a `@Route` method parameter type

[2019-03-20 11:03] mmacphail commented on #1402
Alright, I can confirm once I moved the repository to a spaceless path by configuring `~/.m2/settings.xml`, everything is working as it should on Windows 10. I'll try again once this is fixed to confirm the fix.
Thanks again @starksm64 for your analysis.

[2019-03-20 11:19] gsmet commented on #324
Closing, let's open a new one if we think we need further improvements.

[2019-03-20 11:19] #324 closed

[2019-03-20 11:20] gsmet commented on #241
This one has been fixed.

[2019-03-20 11:20] #241 closed

[2019-03-20 11:50] stalep commented on #1458
With the latest changes in master the next version (scheduled to be released today) I tested running the getting-started tests in Intellij which worked fine.
There are however a lot of hard-coded locations/assumptions inside Quarkus which we'll try to fix/improve in the upcoming versions. I'll close this issue now since the original issue here is resolved.

[2019-03-20 11:50] #1458 closed

[2019-03-20 11:52] stalep commented on #1457
This is fixed in master where we also recommend using the `implementation` configuration.

[2019-03-20 11:52] #1457 closed

[2019-03-20 11:58] stalep commented on #1374
With the latest changes in master (which will be available in the next release scheduled for today) Quarkus now also runs the native/substrate tests with Gradle. - you however need to separate the substrate tests and the quarkus tests in different folders since Quarkus do not allow them being run in the same session.
We have also updated the documentation to reflect this. Also the recommended conf

[2019-03-20 12:00] stalep commented on #1267
Not sure I understand what you think of regarding "no info about java application build". What do you think is missing from the Gradle tooling guide?

[2019-03-20 12:33] mohr023 commented on #1402
Hey @johnaohara , thanks for the heads up, I'll keep an eye out for the fix.

[2019-03-20 12:55] mkouba commented on #1456
@geoand @xstefank PRs merged, could you pls re-test?

[2019-03-20 12:59] geoand commented on #1456
@mkouba on it

[2019-03-20 13:09] geoand commented on #1456
Still the same issue for me @mkouba.

[code]

[2019-03-20 13:14] mkouba commented on #1456
Hm, very strange. @geoand what's your maven version?

[2019-03-20 13:17] geoand commented on #1456
@mkouba

[code]

[2019-03-20 14:11] aesteve commented on #1374
👋 everyone !

I'm trying to give gradle & kotlin a try (`quarkus-dev` would be enough for me atm) and am a bit surprised by a piece of your comment @jnizet

[code]

It doesn't for me :(   (using your github reproducer here : https://github.com/jnizet/quarkustest
It indeed gives the same output as in Java, but doesn't "hang infinitely" as it would for Java.
The process simply ends with "Build succe

[2019-03-20 14:16] geoand commented on #1374
@aesteve Hi.

Have you tried applying the various fixes I documented in this issue?

[2019-03-20 14:19] akram opened #1591 "The URL protocol https is supported but not enabled by default --enable-url-protocols=https"
Hi Quarkers,

I built my application using quarks and I created a native binary using:
[code]

Then I embedded the binary into a Docker image and ran it using:
[code]

When I try to access my application I got:
[code]

The documentation is not very clear about it. The graalVM says that the flag must be enabled while building the native binary. But I can't find where to enable it.
Should this be do

[2019-03-20 14:31] cescoffier opened #1592 "Gradle ITs fails during release"
[code]

[2019-03-20 14:44] aesteve commented on #1374
I did indeed.
But my issue is not related to `quarkus-native` or `quarkus-build` but more to `quarkus-dev` which seems to be working for @jnizet 's project, but not for me when I'm cloning his repository :\

Here's a repo containing my experiments if you're interested : https://github.com/aesteve/quarkus-kotlin-todobackend/blob/master/build.gradle.kts

:)

[2019-03-20 14:47] geoand commented on #1374
I remember that I had quarkus-dev working (it seems like one of my first comments was about that). If I have time in the coming days, I will look into your sample and try to figure out what is going on

[2019-03-20 14:50] stalep commented on #1592
Hm, I'm wondering if it could be because of this:
`buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath fileTree(dir: '../gradle/build/libs', include: 'quarkus-gradle-plugin-999-SNAPSHOT.jar')
        classpath fileTree(dir: '../gradle/target/dependencies/compile', include: '*.jar')
    }
}
`
The `include: 'quarkus-gradle-plugin-999-SNAPSHOT.jar'`, I'm

[2019-03-20 15:30] danielpetisme opened #1594 "Propose a parent pom for external extensions"
Currently, the extensions are embedded into the main Quarkus repository thus use the internal `build-parent` pom.xml.
To permits 3rd parties to develop their own extensions, it would be great to propose a public `quarkus-extension-parent` pom.

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Extensions/near/161188290

[2019-03-20 15:39] stalep commented on #1381
@geoand what is the usecase of importing the bom?
I don't know why the dependencies are not of type `ResolvedDependencyResult` tbh.

[2019-03-20 15:41] Sanne commented on #1381
FYI as a Gradle user I'm not sure I'd use a BOM at all. There are better solutions.

[2019-03-20 15:42] stalep commented on #1381
I thought so as well, but then I found: https://docs.gradle.org/5.0/userguide/managing_transitive_dependencies.html#sec:bom_import

[2019-03-20 15:43] gsmet opened #1596 "Outdated messages in JaegerDeploymentTemplate"
In `JaegerDeploymentTemplate`, we have:
[code]
I think the recommended way to define them is not to use `quarkus.jaeger.*` properties. The warn messages should probably reflect that.

@objectiser could you have a look, please?

[2019-03-20 15:46] gsmet commented on #1591
The SSL support in GraalVM is a bit rough right now.

I invite you to take a look at this part of our SSL guide: https://quarkus.io/guides/native-and-ssl-guide#the-sunec-library-and-friends .

[2019-03-20 15:47] gsmet commented on #355
@geoand do we need any action in the default ``Dockerfile``s or whatever is used in OpenShift?

[2019-03-20 15:50] objectiser commented on #1596
@gsmet sure - can you assign to me?

[2019-03-20 15:50] geoand commented on #1381
I just opened the issue because someone mentioned it. I am not a gradle user myself so I don't how often people do this :)

[2019-03-20 15:54] geoand commented on #355
Yes, we would need to add that to the generated Dockefiles

[2019-03-20 15:55] geoand commented on #355
@vorburger I assume this is something we need to add to the native s2i process as well?

[2019-03-20 15:56] gsmet commented on #731
This one has been fixed.

[2019-03-20 15:56] #731 closed

[2019-03-20 15:56] Sanne commented on #1381
yes Gradle _can_ support it, and +1 to give this option to users.

I just meant we should look at some other options too, but clearly that's material for a different issue.

[2019-03-20 16:00] gsmet commented on #950
@dmlloyd any idea about this one? We had a real life report on the ML of an error with Hibernate Validator failing because of that.

[2019-03-20 16:01] gsmet commented on #1018
@jkbrock I think we can close this one?

[2019-03-20 16:01] geoand commented on #950
I just opened a PR that (as far as I can test) fixed the issue

[2019-03-20 16:01] gsmet commented on #1008
Closing.

[2019-03-20 16:01] #1008 closed

[2019-03-20 16:02] akram commented on #1591
Hi @gsmet

thank you for this pointer. It explains why.
However, my docker image is but with `mvn package -Pnative -Dnative-image.docker-build=true`
Shouldn't the GraalVM image build process take care of pointing java.library.path and javax.net.ssl.trustStore to the new GraalVM home ?

[2019-03-20 16:05] gsmet commented on #1079
Already done, closing.

[2019-03-20 16:05] #1079 closed

[2019-03-20 16:10] gsmet commented on #1274
This has been fixed.

[2019-03-20 16:10] #1274 closed

[2019-03-20 16:12] mkouba commented on #1456
So I was able to reproduce the issue when modifying the properties file and the java class in an external editor and not in my IDE - Quarkus did not check for config file changes if a class change was detected and as a result, the config file was not updated (i.e. copied to `target/classes`). AFAIK Eclipse Maven integration copies files from `src/main/resources` to `target/classes` automatically a

[2019-03-20 16:12] gsmet commented on #1292
This has been fixed.

[2019-03-20 16:12] #1292 closed

[2019-03-20 16:14] gsmet commented on #1355
@danielpetisme is actively working on it.

[2019-03-20 16:19] gsmet commented on #1596
Unfortunately, no. I can only affect issues to members of the project :/

[2019-03-20 16:22] vorburger commented on #355
@geoand yup, and I have proposed that in #1599 if that's the conclusion of this issue's discussion...

... but I personally actually do also think that this is the wrong approach - the default of `true` of [quarkus.log.file.enable](https://quarkus.io/guides/logging-guide) seems wrong, to me, for a "Kubernetes Native Java stack" framework... IMHO default should be console, only; and log file should

[2019-03-20 16:24] vorburger commented on #355
We should do something similar in https://github.com/quarkusio/quarkus-quickstarts/pull/81 (non-native S2I) ?

[2019-03-20 16:25] #1592 closed

[2019-03-20 16:25] geoand commented on #1456
@mkouba I tested it and it works ( and I am using IntelliJ FWIW :) )

[2019-03-20 16:30] geoand commented on #355
@vorburger I think we should. I am going to open a PR containing a fix only to the generated Dockerfiles

[2019-03-20 16:45] geoand commented on #355
I added PR #1600 for the generated Dockerfiles

[2019-03-20 17:52] xstefank commented on #1456
@mkouba +1 fixed with you PR. Thanks!

[2019-03-20 18:07] dmlloyd commented on #355
FWIW disabling file logging by default is OK with me.

[2019-03-20 18:39] vorburger commented on #355
@dmlloyd I'm happy to raise the respective PR, but I have no idea where the default of `quarkus.log.file.enable` is defined in the sources... I cannot find it via a quick dumb `grep`. If you'd like to give me a hint/pointer, I could have a closer look.

[2019-03-20 18:43] dmlloyd commented on #355
It's this line here: https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java#L31

[2019-03-20 20:28] #1596 closed

[2019-03-20 20:28] #355 closed

[2019-03-20 20:34] mkouba commented on #1456
That's great, thanks for verification!

[2019-03-20 21:39] starksm64 commented on #1402
I added a dev discussion on this here:
https://groups.google.com/forum/#!topic/quarkus-dev/R2SkJQ9WtZg

It does apply to all platforms, not just windows.

[2019-03-21 00:33] gsmet opened #1605 "Provide a user-facing API to deal with GraalVM options"
For extension developers, we have all the `BuildItem` machinery which takes care of configuring GraalVM.

For applications themselves, we expose `@RegisterForReflection` but that's pretty much it. There's a need for a user-facing API allowing to configure GraalVM from the application code itself (add resources, resource bundles...).

[2019-03-21 00:35] gsmet opened #1606 "Test webjar support"
We should test if we currently support webjars (in JVM mode and native).

A good test for that might be to deploy the Swagger-UI webjar in an application.

@geoand wondering if you might be interested in this one?

[2019-03-21 03:39] #950 closed

[2019-03-21 06:29] geoand commented on #1606
@gsmet Sure thing! I'll give it a shot over the weekend

[2019-03-21 07:27] enbohm opened #1609 "OpenAPI annotation @SecurityRequirements makes Quarkus crash"
<h2>@SecurityRequirements-annotation makes Quarkus crash</h2>

The following code prevents Quarkus to start and generates an ```java.lang.ExceptionInInitializerError``` exception (see stacktrace below). Removing the OpenAPI annotation  ```org.eclipse.microprofile.openapi.annotations.security.SecurityRequirements``` make the application run as expected.

This code was tested on macOS Mojave and Ope

[2019-03-21 08:04] rhuss opened #1610 "dockerBuild for native image doesn't work with remote Docker daemons"
The build fails, to try to create a native binary with `dockerBuild` true and accessing a remote Docker daemon which does not allow bind mounts via `docker run -v` as it is done in https://github.com/quarkusio/quarkus/blob/fea6ba9709cbfa431706788123b49ef21999fec8/core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java#L286

This use is important when e.g. building aga

[2019-03-21 08:26] enbohm opened #1611 "OpenAPI annotation @APIResponse without content makes Quarkus crash"
The following code prevents Quarkus to start and generates an java.lang.NullPointerException exception (see stacktrace below).

This code was tested on macOS Mojave and OpenJDK Runtime Environment 18.9 (build 11+28) with Quarkus 0.12.0. <b>NOTE!</b> This did work with Quarkus 0.11.0.
[code]
[code]

Adding a content value to the annotation such as this:
[code]
makes the code work but shouldn't be m

[2019-03-21 09:24] sebastienblanc commented on #1163
Is this issue planned to be fixed in 0.13 ?

[2019-03-21 09:24] gsmet commented on #1611
@machi1990 could you take a look (and add more tests)? Thanks!

[2019-03-21 10:08] #1402 closed

[2019-03-21 10:29] #1456 closed

[2019-03-21 10:34] machi1990 commented on #1611
@gmet, I see the issue. I’ll take a look at it this evining.

[2019-03-21 11:01] Sanne commented on #1575
hi @cristhiank , what happened with the PR?

I suspect you had some trouble as you sent it from the master branch and possibly tried to update it to latest. I would suggest to create a new branch for any changes you make.

[2019-03-21 11:09] Edubits opened #1613 "@ConfigProperty cannot be used twice"
When injecting a @ConfigProperty multiple times (in different classes) ConfigBuildStep#validateConfigProperties throws an exception:
[code]

This worked in 0.11.0, but is broken in 0.12.0.

[2019-03-21 11:20] cristhiank commented on #1575
But, besides that, I'm having another issue. I need to add resources because Flyway reads .sql files from classpath, I already created a build step to produce a `SubstrateResourceBuildItem` but it is not working because some of the needed resources are in the Flyway jar :( .
So I added a "application archive marker" to try to add those resources but it is not working either.

Please take a look at

[2019-03-21 11:24] rhuss opened #1614 "Colorized logging looks good only on dark backgrounds"
When using a light terminal background the log output of Quarkus apps look weird. Unfortunately one can'tchange the colours by changing the ANSI color levels (like offered as configuration like in e.g. iTerm):

![grafik](https://user-images.githubusercontent.com/99080/54749151-ff01c700-4bd3-11e9-8150-cdd159231bb5.png)

It turns out that the colors are RGB hard-coded in jboss-logmanager-embedded, a

[2019-03-21 11:25] rhuss commented on #1614
Duplicate of #1378

[2019-03-21 11:25] #1614 closed

[2019-03-21 11:26] Edubits opened #1615 "Introduce profile-based override for application.properties"
In Thorntail this was handled in a nice way: https://docs.thorntail.io/2.3.0.Final/#default-thorntail-yaml-files_thorntail
It would be very useful if Quarkus would support something similar to prevent using several -D properties for overriding properties (like datasource) for different staging environments or local deployments.

[2019-03-21 11:27] rhuss commented on #1378
Iterm2 is not of much help here, as the log output uses absolute RGB value and not plain ANSI colors, which could be adapted and configured by the terminal adapter.

So having the mode switchable, or even better, make it configurable for each color individually would be awesome.

[2019-03-21 11:28] gsmet commented on #1615
@Edubits I confirm this is planned for a future release.

[2019-03-21 11:41] enbohm opened #1616 "Adding a Microprofile Custom ConfigSource not possible?"
I'm trying to add a customer config source as per https://www.tomitribe.com/blog/custom-configsource-with-microprofile-configuration/

The following code snippet works in both Thorntail and Oracle Helidon, but I can't get it to work in Quarkus. Is this a bug or not yet supported by the MP Config implementation in Quarkus?

[code]
and in
[code]

[2019-03-21 11:55] brunobat opened #1618 "Cannot use Hibernate on Java 11"
I'm using Hibernate to persist on PostgreSQL and on H2, on tests.
When executing tests or running on dev mode (mvn quarkus:dev) I get failures on Java 11. Exception bellow.
Setting the compatibility mode to Java 9, make things work. I'm using the latest Quarkus 0.12.0 but this already happened in the previous version.
Relevant dependencies:
[code]
Some of the annotations I'm using:
[code]
---
Conf

[2019-03-21 12:03] cristhiank commented on #1575
@Sanne , I just found out that the latest Flyway beta version removes those external resources https://github.com/flyway/flyway/blob/c50652d51315bfc0c2d1b0fba2548e8c05074eb6/flyway-core/src/main/java/org/flywaydb/core/internal/database/h2/H2Database.java#L103

[2019-03-21 12:04] gsmet commented on #1618
Looks like we are not using the correct ASM version. Will fix.

[2019-03-21 12:07] dmlloyd commented on #1378
You can disable colors via `-Dquarkus.log.console.color=false` or setting this property in your `application.properties`.

[2019-03-21 12:32] Sanne commented on #1575
@cristhiank there's a little mistake in the `FLYWAY_METATADA_TABLE_FILENAME` constant : it should be `createMetaDataTable` instead of `createMetadataTable.sql`.

That fixes the problem with resource loading ;)

[2019-03-21 12:38] cristhiank commented on #1575
Shame on me.... 🤣  Thanks @Sanne . I will make the changes and will be back.

[2019-03-21 12:52] Sanne commented on #1575
regarding this block:

   resources.add("db/migration/*.sql");

to be fair I'm not sure, but I suspect we don't do "*" expansions. In case that doesn't work, you will need that method to actually look for all matching resources, then list them all individually.

[2019-03-21 12:54] dmlloyd commented on #1605
Maybe some of this should be driven by config, e.g. file globs for matching resources to keep in the final image.

Also it would be nice to align some of this between JVM mode and native image, for example if I want to have some resource available at run time, I should be able to just specify that I want that resource instead of having extra config for native image.  Non-included resources should

[2019-03-21 13:23] cristhiank commented on #1575
@Sanne yes, you are right, expansions won't work, I'm working on that.
I have to add each application .sql file as an SVM resource and I will also have to make some substitution to avoid Flyway trying to discover migrations dynamically.

[2019-03-21 13:30] Sanne commented on #1575
perfect, looks like you're on track.

[2019-03-21 13:51] kenfinnigan commented on #1616
Are there any errors? Or it just does nothing?

[2019-03-21 13:58] kenfinnigan commented on #1333
Closing as "won't do" for now.

[2019-03-21 13:58] #1333 closed

[2019-03-21 14:00] enbohm commented on #1616
@kenfinnigan no errors, Quarkus starts but doesn't seem to do anything with the ConfigSource (the class doesn't seem to be instantiated at startup)

[2019-03-21 14:03] geoand commented on #1613
@Edubits is this a problem only in the dev mode?

[2019-03-21 14:05] kenfinnigan commented on #902
Wondering if this should be closed now? @n1hility @emmanuelbernard

[2019-03-21 14:07] kenfinnigan commented on #1013
Are these still valid?

I ran a quick check with Netty extension and only saw warnings about deprecated classes used by the `NettySubstitution` which I don't see as an issue as we still need to substitute the classes

[2019-03-21 14:12] gsmet commented on #1616
@enbohm can you prepare a simple reproducer so that we can take a look?

[2019-03-21 14:19] Edubits commented on #1613
Sorry for not mentioning, it happens both in dev and in a `mvn clean package` build. In the latter case the following is logged:
[code]

[2019-03-21 14:20] starksm64 commented on #1163
Yes, either via the workaround that I have or via the more general provider registration that I'm testing.

[2019-03-21 14:21] geoand commented on #1613
Thank you for the update @Edubits

[2019-03-21 14:53] rsvoboda commented on #1013
I will recheck it and paste my findings here.

[2019-03-21 15:03] dmlloyd opened #1620 "Tuning guide"
A need for a tuning guide has been identified.  The tuning guide could be organized by use case, and by whether running as a native image or in JVM mode.

[2019-03-21 15:04] rsvoboda opened #1621 "Introduce Tuning guide"
Introduce Tuning guide (for stuff -Xmx100m -Xmn70m) as these options have slightly different meaning in jvm vs. native mode of GraalVM.

Users should be guided through this area to avoid mistakes.

@n1hility fyi

[2019-03-21 15:11] kenfinnigan commented on #1621
Is this a duplicate of #1620?

[2019-03-21 15:11] rsvoboda commented on #1013
[code]
[code]

Deprecation warnings on JDK 8:
[code]

Deprecation warnings on JDK 11:
[code]

[2019-03-21 15:13] rsvoboda commented on #1621
Yeah, I created it basically at the same time as David :)

[2019-03-21 15:13] #1621 closed

[2019-03-21 15:13] enbohm commented on #1616
sure, will do that later this evening or early tomorrow morning!

[2019-03-21 15:22] cristhiank commented on #1575
@Sanne I need some help here, what would be the best approach to get a list for the resources I added in the FlywayBuildStep as Flyway expects to "discover" them dynamically, but it cannot be done in "native mode".

At this moment I am adding all the resources to the image here:
https://github.com/cristhiank/quarkus/blob/35a549815b378c59ea83fe25745f46a8e0f03b38/extensions/flyway/deployment/src/mai

[2019-03-21 15:29] vorburger opened #1622 "Static Web resources don't work in the Gradle build"
While version bumping https://github.com/quarkusio/quarkus-quickstarts/pull/90/ for https://github.com/quarkusio/quarkus-quickstarts/issues/75 and re-testing, I noticed that while http://localhost:8080/hello/greeting/M is OK, http://localhost:8080 is NOK and does not show that (new) static `index.html` web resource when built with Gradle (it's OK when built with Maven):

[code]

@stalep were you a

[2019-03-21 15:33] geoand commented on #1622
I am afraid I don't know a terrible amount about Gradle but I can definitely look into this if no one knows what the root cause is

[2019-03-21 15:37] vorburger opened #1623 "Gradle Plugin Integration Test should, ideally, actually run the application"
While #1405 (#1396) will help with future non-regression for Gradle related pure build issues such as e.g. #1323, it does not really e2e test the Gradle built artifact, and thus misses problems such as #1622 and other possible future ones like it.

In fact, we could complete break the Gradle plugin and produce an empty 0 bytes JAR, as long as the Gradle build process itself does not fail, and the

[2019-03-21 15:40] geoand commented on #1623
@vorburger I did both a (Maven) build and a `java -jar ...` as part of one of my open PRs. See [this](https://github.com/quarkusio/quarkus/blob/e88030665b9c000afa09e18e4e101c3bdba34eb9/integration-tests/command-line-apps/src/test/java/io/quarkus/clrunner/tests/CommandLineRunnerIT.java#L49)

[2019-03-21 16:25] Sanne commented on #1575
at runtime you can not load nor scan resources: you only have the binary image (the application file), and it will only include the resources we explicitly listed for inclusion at build time.

So migration scripts need to be either:
- included explicitly in the build step
- be external files, possibly discovered from some Path.

It looks like the first case should be covered by your work already?

[2019-03-21 16:25] vorburger commented on #1622
So... I dug a little, and figured that the Gradle built `build/getting-started-runner.jar` is _"just"_ missing the `/META-INF/resources/index.html` which ends up there in the Maven built `target/quarkus-quickstart-1.0-SNAPSHOT-runner.jar`, from `src/main/resources/META-INF/resources/index.html` ...

.. but this isn't just some dumb `build.gradle` configuration issue, because the "pure Gradle" buil

[2019-03-21 16:27] Sanne commented on #1575
I should clarify: by "at runtime" I mean of course "at runtime in native mode". You can still allow doing such things for standard JVM runtimes and dev-mode.

[2019-03-21 17:02] cristhiank commented on #1575
Yes, I understand, at this moment I am adding the resources to the image. But how can I access that list “at runtime” ? Because the list is generated at build time and Flyway has the concept of “Scanner” that discovers resources. So my approach is to substitute all the scanners for a single “QuarkusScanner” that will return the fixed list of resources included in the image. But I don’t know how to

[2019-03-21 18:04] jnizet commented on #1622
I haven't taken the time to dig deep, but I've noticed that the inputs of the Gradle task, and of the AppCreator class, only contain classes directories.

This has most probably be designed based on how Maven works: it stored the compiled classes and the copied resources in the same `target/classes` directory.

Gradle doesn't work the same way:
 - classes, generated by the compileJava task, are st

[2019-03-21 18:49] kameshsampath opened #1627 "The usage of 8081 by tests must be documented"
The default tests are not working with v0.12.0

Steps to reproduce:

1. Create a default Quarkus project

[code]

2. do `./mvnw clean test` or `mvn clean test`

## Expected Behaviour

Tests should pass

## Actual Behaviour

Tests failed with error

[code]

## More details:

If you notice startup logs of the test run, the quarkus server is started with IPv6 address like **Listening on: http://[::]:

[2019-03-21 19:21] Sanne commented on #1575
ah, good point.

There are a couple of very interesting things you can do. Unfortunately the specific need of accessing this stored state from within the scope of a substitution makes it hard. Other extensions can benefit from automatic bytecode recording by using `io.quarkus.runtime.annotations.Template`, but in this case we can't easily access the recorded template.

The simplest workaround is p

[2019-03-21 19:27] cristhiank commented on #1575
Cool, will do some research and I will let you know when I have it done. Thanks!

[2019-03-21 19:28] Sanne commented on #1580
sorry, unassigning from me as I'll be working on build tools for a bit longer.

[2019-03-21 20:59] geoand commented on #1627
I could not reproduce this... I tried both with JDK 8 and JDK 11 and got

[code]

Could you please give us the output of `mvn -version`?

[2019-03-21 21:26] n1hility commented on #1627
Is there another process on your box that is listening to localhost 8080?, that would cause the later any bind to succeed yet not answer that port. The 404 instead of a connection refused would support that.

[2019-03-21 21:36] geoand commented on #1613
@starksm64 I just opened PR for this :)

[2019-03-21 23:35] #1613 closed

[2019-03-22 00:47] starksm64 opened #1632 "@ConfigProperty injection into application beans with package private/public fields are seen as null in injected proxy"
We have a mismatch between the encapsulation level we are promoting with injected fields and @ConfigProperty associated with those fields. I have updated the application-configuration quickstart to illustrate the problem. Apply the attached application-configuration.patch.txt and there is a new GreetingBean:

[code]

and this GreetingResource#checkGreetingBean that illustrates the problem:

[code]

[2019-03-22 01:24] starksm64 opened #1633 "Injection of @ConfigProperty double produces java.lang.ClassNotFoundException: double"
If I add injection of a double field to the application-configuration quickstart solution GreetingResource:

[code]

and then try to

[code]

The problem is the generated ConfigBuildStep$validateConfigProperties5 attempting to load a primitive class using Class.forName:

[code]

We have to catch the use of a primitive type and reference the prmitive.class value directly.

[2019-03-22 01:44] kameshsampath commented on #1627
@n1hility  @geoand  - i have a local nexus running in 8081.

thats why I see QuarkusTest is starting the app with IPv6 on 8081 ?

[2019-03-22 02:07] kameshsampath commented on #1627
after discussing with @stuartwdouglas , I tried adding `quarkus.http.test-port` to the surefire test to change the port where  test will start and that seem to work. Wondering if I need to close this issue or its good to keep to add this trick in doc. Worth adding a test guide to the main repo ?

[2019-03-22 05:47] enbohm commented on #1616
My bad here....sorry

While trying to write a reproducer with a test case it did work. I was expecting the class "MyConfigSource" to be initialized while Quarkus was starting (since that has been the case with Helidon and other MP Config implementation). BUT it turns out to be that Quarus is only instantiating the class when a ConfigProperty is used, i.e. it delays the initialization of the custom

[2019-03-22 05:47] #1616 closed

[2019-03-22 07:04] cescoffier commented on #1627
The testing doc should be updated. I will open a PR.

[2019-03-22 07:33] johnaohara opened #1636 "Native image build in docker writes files as root to target dir"
If you build a native image inside a docker container with `mvn clean package -Pnative -Dnative-image.docker-build=true`  the artefacts are written by root.

As a result, subsequent commands like `mvn clean` fail, and artifacts can only be removed with `sudo rm`.

It is possible to run processes in Docker with a different user with the `--user` command line argument, but we will need to find a por

[2019-03-22 08:06] mkouba commented on #1632
This is a well known limitation of CDI client proxies - the only way to access the state of the underlying bean instance (contextual instance per the spec) is to _invoke a method_ of a client proxy (contextual reference for normal scoped beans). Only non-static _public_ fields are disallowed. You would get the same results with Weld.

I agree that it may not be understandable for new users but it'

[2019-03-22 08:17] cescoffier commented on #1636
I'm surprised by this (don't have this behavior on mac). Are your docker running as root? (can a regular use do something like `docker run ....`)

[2019-03-22 08:33] #1627 closed

[2019-03-22 08:35] cescoffier commented on #1566
@Sanne Can you confirm that this has been completed?

[2019-03-22 09:34] Edubits commented on #1613
Thanks, tested with the master and can confirm it works now.

[2019-03-22 09:36] geoand commented on #1613
Great to hear :)

[2019-03-22 09:46] Sanne commented on #1566
yes it's done. Sorry we didn't flag the issue :)

[2019-03-22 09:46] #1566 closed

[2019-03-22 09:49] johnaohara commented on #1636
afaik docker runs as root by default on linux

[2019-03-22 09:49] johnaohara commented on #1636
I think docker runs in a virtual machine on mas os, so might not have the same issue

[2019-03-22 09:58] johnaohara commented on #1636
if i run ` mvn clean package -Pnative -Dnative-image.docker-build=true`

This is the target dir;

[code]

[2019-03-22 10:21] cescoffier commented on #1636
So, on linux we would need to pass `--user` to the docker command line

[2019-03-22 10:22] cescoffier commented on #1636
But if you are on linux, why are you using docker?

[2019-03-22 10:24] johnaohara commented on #1636
Yes, so we would need to detect we were running on linux and pass in something like `--user $(id -u):$(id -g)`, however I am not sure how portable that would be across distributions and shells.

[2019-03-22 10:26] johnaohara commented on #1636
good question, but if people run on docker in linux, the build will currently break their maven functionality

[2019-03-22 10:57] michalszynkiewicz commented on #1399
seems somewhat connected to https://github.com/quarkusio/quarkus/issues/1537 where we have MP FT `@Timeout` spawning a new thread where the entity manager is not available.

[2019-03-22 11:06] #1633 closed

[2019-03-22 11:10] #1611 closed

[2019-03-22 12:02] Sanne commented on #1636
@cescoffier I had to use docker to test your images ;)

[2019-03-22 12:07] stalep commented on #1622
Hi @vorburger et al, sorry for the late reply.
I did not know of this issue and as @jnizet says, the AppCreator only contain classes directories. @Sanne is looking into a rewrite of the Gradle Plugin to work with a rather big change that @aloubyansky have worked on #1519
We have discussed a bit the current shortcomings in Quarkus regards to Gradle and it is something we'll work to address. To be h

[2019-03-22 12:10] mathianasj opened #1640 "Create an Orika Mapper Extension"
I would like to create an Orika extension.  Would this be something that should be part of the framework, or would this be better suited to be a standalone item?

[2019-03-22 12:26] stalep commented on #1623
Hi, the tests annotated with @QuarkusTest will not run the -runner.jar, but the compile classes, this is identical for both Maven and Gradle.
The @SubstrateTest tests will actually start the native image as a process and test against it.
The "problem" atm with how Gradle differs from Maven is that Gradle will try to run all the tests under `src/test` while Maven will run tests ending with "IT.java

[2019-03-22 12:33] vorburger commented on #1623
@stalep I was actually more thinking about an IT for the Gradle built JAR, but you are raising a good point that ideally such a new Gradle IT should cover both the runner JAR as well as a Gradle built native executable, yes.

[2019-03-22 12:41] starksm64 commented on #1632
Yes, but we are not bound to CDI rules and since we are advocating public access due to native image constraints, why not generate a synthetic accessor method similar to what lombok is doing?

https://projectlombok.org/

[2019-03-22 12:51] cescoffier commented on #1636
@Sanne you got a point :-D

[2019-03-22 13:05] machi1990 commented on #1580
hey here, I tried to reproduce this issue and stumbled upon another issue during the augmentation phase.
[code]

[2019-03-22 13:07] gsmet commented on #1580
@machi1990 I think you partially deployed some new code but not everything.

[2019-03-22 13:30] kenfinnigan commented on #1537
Wondering if this is something that can be resolved with SmallRye Context Propagation? @manovotn @FroMage

[2019-03-22 13:33] stalep commented on #1374
Can you please test with version 0.12 of Quarkus?

[2019-03-22 13:42] gsmet commented on #1605
See https://stackoverflow.com/questions/55300484/how-to-include-classpath-resources-in-a-quarkus-native-image/55300914#55300914 for a user asking about that.

[2019-03-22 13:43] geoand commented on #1605
Seems to be coming up a lot lately :)

[2019-03-22 13:46] mkouba commented on #1632
Hm, the problem is that we would have to redefine any existing class that reads the field, basically find and replace all `getfield` JVM instructions in user code which could be quite time consuming. But I'm definitely not an expert in this area.

[2019-03-22 13:48] cescoffier opened #1641 "@ConsumeEvent should indicate when the processing is blocking"
The `@ConsumeEvent` annotation should have a `blocking` attribute indicating that the processing is _blocking_, and so, called on a worker thread.

[2019-03-22 14:20] cescoffier opened #1643 "Add support for Axle and RX Message in @ConsumeEvent"
Right now, the `@ConsumeEvent` only accept `io.vertx.core.eventbus.Message`:

[code]

However, it fails when using Axle or RX versions of the `Message` class

[2019-03-22 14:41] geoand commented on #1632
I _think_ we already change the call sites as part of Panache. It would be interesting to know what kind of build time performance implications this has.

[2019-03-22 15:03] murphye opened #1644 "Align helper methods in RoutingExchange with new Vert.x Web"
1) Paulo is planning to add helper methods for RoutingContext
2) I am proposing a large set of helper methods from my Matrix concept which Paulo is interested in incorporating
3) RoutingExchange introduces a small set of helper methods

There should be a conversion on how to get these to align. I would like to see a comprehensive set of helper methods as I started in Matrix. Whether they are in Ro

[2019-03-22 15:04] hwellmann commented on #1605
As a Maven user, I would expect all my Maven resources from the current reactor to be included in the final image (otherwise, I wouldn't put them in the reactor in the first place), and of course I wouldn't want to worry about any patterns to match exactly my resources and nothing else from the classpath, so it would be really nice if quarkus-maven-plugin could do the job for me.

[2019-03-22 15:42] pipinet opened #1645 "quarkus.datasource.driver not work"
[code]
error:
[code]

[2019-03-22 15:54] cescoffier commented on #1645
In your `application.properties` file, you need to set:

[code]

Of course, update the value with what you need.
You can check https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-resteasy as reference

[2019-03-22 15:56] cescoffier commented on #1644
The helper methods are going to be added in Vert.x 4.0 - they are not there yet.
That's being said, yes, we should avoid having different names.

[2019-03-22 17:56] machi1990 commented on #1580
Interesting. I am not sure how I could have done that. Indeed, I do not have it on my other computer. Is there a way to go around the error I was getting?

I was potentially interested in reproducing it, which I have managed in our integration tests. To understand what could have caused the issue. The final goal was to propose a fix during the weekend. With the help of a mentor, see what really ne

[2019-03-22 17:59] gsmet commented on #1580
@machi1990 just `mvn clean install -DskipTests -DskipITs` from the root of Quarkus.

[2019-03-22 18:07] machi1990 commented on #1580
It works., thanks. I was not running the `clean install` command on the  root dir of Quarkus.

[2019-03-22 21:14] lulf commented on #562
@cescoffier What remains for the AMQP support?

[2019-03-22 21:45] rgcostea opened #1647 "How do I include my classpath dependencies in the native-image?"
Currently, "package -Pnative -Dnative-image.docker-build=true" only packages my java service into the native image.  However, it references many other jar files internally.  How do I mimic passing the argument "-cp target/*:target/lib/*" through quarkus so those libraries are also included in the image?

I tried adding it as an additionalBuildArg but that gave an error "-cp" is an unrecognized opt

[2019-03-22 22:46] masini opened #1648 "Error injecting beans in test sources"
Having a bean defined in test sources that depends on the EM:

[code]

and trying to inject it into a @QuarkusTest I got this Exception:

[io.quarkus.test.junit.QuarkusTestExtension] failed to instantiate test class [net.lucamasini.testcase.QuarkusResourceTest]: Failed to inject field protected net.lucamasini.testcase.TestDataFactory net.lucamasini.testcase.QuarkusResourceTest.dataFactory
Caused b

[2019-03-22 22:50] renannprado commented on #1374
@stalep I've tried with success, **BUT** there's one kinda obscure issue here I think.

I've published my repository as well, which is not having a lot of differences with the one from the op.
I didn't dig further, but the catch is the following: if you return an object from the REST endpoint, the build breaks. If you simply return a string, everything works just fine.

where you should change to

[2019-03-23 00:18] cristhiank commented on #1575
Hello @Sanne, it looks like I finally made it. Please let me know what you think. It's my first time working with Graal/SVM it was quite a challenge.

[2019-03-23 01:20] cristhiank opened #1650 "MP Config compilation fails if config is injected in multiple points"
Quarkus is not compiling when I try to inject a config value in different classes  It come up after I upgraded my project to 0.12.0.

I pushed some code to reproduce it in https://github.com/cristhiank/quarkus-bugs
Just clone it and try to run it.

Error is:

`Caused by: java.lang.IllegalStateException: Duplicate key custom.config (attempted merging values class java.lang.String and class java.lan

[2019-03-23 01:28] pipinet commented on #1645
i have application.properties  in the folder src/main/resources, but still not work.
[code]

[2019-03-23 01:51] cristhiank commented on #1650
I made a proposal to fix it here:

https://github.com/cristhiank/quarkus/commit/735d000defedc94f47f878ffcf7f71f26c80ec2e?diff=unified

[2019-03-23 02:47] starksm64 commented on #1650
Thanks @cristhiank , this was already reported and has been fixed via https://github.com/quarkusio/quarkus/pull/1629. It will be in the next release and has already been merged to master if you want to build it yourself.

[2019-03-23 02:47] #1650 closed

[2019-03-23 02:51] chengfang commented on #1505
Good to know it's in the plan. Project JBeret (the upstream project implementing JSR 352) is located at https://github.com/jberet/jsr352 . Integration into WildFly is at https://github.com/wildfly/wildfly/tree/master/batch-jberet . Feel free to reach out to JBeret team if you need anything.

[2019-03-23 07:33] masini commented on #1648
Just two lines.

Using TRACE I can see that ARC remove TestDataFactory because it thinks is unused.

Setting:

quarkus.arc.remove-unused-beans=false

now let me work with the tests, I still don't understand why that CDI Bean is marked as unused.

[2019-03-23 07:50] masini commented on #1648
I talked too fast, now I only do another step, when I try to use the EntityManager I got a ContextNotActive Exception.

[2019-03-23 08:01] cescoffier commented on #1645
@Sanne @gsmet Any idea?

[2019-03-23 08:03] cescoffier commented on #562
@lulf We have implemented a new Vert.x AMQP client (will be released soon - code is here: https://github.com/vert-x3/vertx-amqp-client) that will be used in Reactive Messaging. So expect it in 2 weeks or so.

[2019-03-23 11:26] gsmet commented on #1645
@pipinet could you share a simple project showing the issue?

It's hard to know what exactly is going wrong here.

[2019-03-23 12:03] gsmet commented on #1647
What's your issue exactly?

Because your dependencies should be included in the native image already.

[2019-03-23 13:18] pipinet commented on #1645
https://github.com/qwlabs/quarkus-issue

[2019-03-23 14:40] geoand commented on #1648
@masini For the time being you can get past the problem by adding:

[code]

to your `application.properties`.

I would consider this solution only a temporary fix and look into seeing what the actual root cause is

[2019-03-23 14:47] masini commented on #1648
Thank Georgios, but adding that I got a ContextNotActiveException, only the Exception changed, the tests still don't run.

I got that when it tries to get the EntityManager, which instead in correctly injected in some other beans.

[2019-03-23 14:49] geoand commented on #1648
I see. The test passed for me when using your reproducer, but nonetheless there seems to be some bug that I will look into.

[2019-03-23 14:57] masini commented on #1648
Sorry, my test was without an EntityManager and without the property.

[2019-03-23 15:34] masini commented on #1491
I think the problem is in how Yasson lookup CDI Beans, like your Adapter, it uses BeanManager's method not implemented by Arc.

[2019-03-23 15:46] geoand commented on #1648
@masini just out of curiosity, is there any reason you are defining the bean in the `test` only, and not having it part of your application?

[2019-03-23 15:47] gsmet commented on #1491
@mkouba could you take a look at this one? Especially to this comment: https://github.com/quarkusio/quarkus/issues/1491#issuecomment-473280520 .

It looks like a method is missing in ArC if we want to support JSON-B properly.

[2019-03-23 15:54] dmlloyd opened #1655 "IDE integration for `application.properties`"
It would be nice to have some kind of IDE integration/support around `application.properties`, to provide things like tab completion and quick documentation, as well as validation.

[2019-03-23 15:55] geoand commented on #1648
So the "problem" is that the bean you are defining is not used anywhere in the application, and is therefore being removed (see [this](https://quarkus.io/guides/cdi-reference#remove_unused_beans)).

Although I can understand the frustration of not having work OOTB as one might expect, this test is a weird corner case IMHO - you are defining a bean that you don't use anywhere except when to inject

[2019-03-23 16:11] masini commented on #1648
1. @geoand those are CDI beans that we use in our integration tests, all our projects are full of such CDI beans that help us in doing the IT.

1. I yet enabled that property, but now Arc is unable to inject a working proxy of the EntityManager because a ContextNotActiveException is thrown as soon as I try to use it

[2019-03-23 16:16] geoand commented on #1648
@masini I am trying to understand the use case of having beans only for tests and not in the application.
Is it to make testing code cleaner by reusing CDI capabilities in the tests themselves?

[2019-03-23 16:23] masini opened #1656 "Arc - Method used by Yasson not implemented"
Adding a @JsonbTypeSerializer or other annotations that lookup for a Bean, this Exception is thrown:

[code]

Is documented that createAnnotatedType is not supported but JSONB RI uses it as well (I think is older than Quarkus itself).

[2019-03-23 16:27] masini commented on #1648
Yes, I'm a bit fanatic, but AFAIK all our developers tests are full of CDI defined in tests.

[2019-03-23 16:27] geoand commented on #1648
Thanks for clarifying

[2019-03-23 16:34] gsmet commented on #1656
@mkouba any chance we could implement that method?

[2019-03-23 17:28] fbricon commented on #1498
Err... is it me or it doesn't work?

[code]

[2019-03-23 18:26] dmlloyd commented on #1640
You can always implement it as a standalone extension as a first step.  I don't know of any drive to have something like this in Quarkus framework itself, but that could always be revisited later if it turns out it's something we really want to have in there.

[2019-03-23 18:33] rgcostea commented on #1647
The runner jar created after compilation contains the class file of my project, some io.quarkus arc/deployment/runner/runtime classes including a GeneratedMain, and a MANIFEST file that contains the Class-Path with all of my dependencies.  One of those dependencies is jersey-client-2.23.1.

Now when I run the container image I get a ClassNotFoundException for org.glassfish.jersey.client.JerseyClie

[2019-03-23 19:39] gsmet commented on #1498
@fbricon by any chance, was it installed in the `souk` directory?

[2019-03-23 21:11] fbricon commented on #1498
yup. Looks like someone blindly merged a PR without testing it first ;-)

[2019-03-23 21:14] fbricon opened #1657 "Maven wrapper added to the parent directory of generated projects"
Following up on https://github.com/quarkusio/quarkus/issues/1498#issuecomment-475888872:

[code]

Turns out the maven wrapper has been added to the parent directory instead

[2019-03-23 21:16] gsmet commented on #1498
Yes and no :).

The issue is that the project creation has a different behavior depending
on if you are in an empty directory or not. If you are in an empty
directory, it will work as expected and that's what was tested. If you are
not in an empty directory, the project is created in a new directory and
the wrapper should also be installed in it.

I'm not a big fan of this behavior but @cescoffier

[2019-03-23 21:18] gsmet commented on #1657
@geoand so FYI, the Maven project creation behaves differently if the directory is empty or not:
- if the directory is empty, it creates a new project in place and that's probably what we all tested;
- if the directory is not empty, it will create a new project in a new directory and that's where the Maven wrapper should be installed.

@cescoffier I still think we should always create a new direct

[2019-03-23 22:15] geoand commented on #1657
I'm cool with whatever behavior we think is appropriate and will gladly submit a PR to implement it.

[2019-03-23 23:32] fbricon commented on #1534
Issue is still present with Quarkus 0.12.0
[code]

[2019-03-24 00:30] teriiehina opened #1658 "Add jdbc support for Oracle"
Hi,

it would really help advocate for Quarkus in my company if it was possible to use it with an Oracle database.

I didn't find any information on how to add support for a new jdbc driver and I'm pretty noob on this. I quickly had a look at the [jdbc extensions](https://github.com/quarkusio/quarkus/tree/master/extensions/jdbc) but I didn't find a common pattern.

If somebody could give me a hint

[2019-03-24 07:32] cescoffier commented on #1657
Well, it's more complicated. We need to check if there is a `pom.xml`, if there, check the type, add the sub-module and so on. So yes, we need to do it, but it's not a 15 minutes fix.

[2019-03-24 10:50] stalep commented on #1374
hm, so this: `com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: kotlin.jvm.internal.Intrinsics.` tells me that quarkus probably needs to do some extra work when we're working with kotlin... - disclamer; i know nothing about kotlin :)
 @dmlloyd / @stuartwdouglas any thoughts?

[2019-03-24 11:27] rgcostea commented on #1647
My rest service is actually a wrapper around an existing rest service.  The existing rest service is accessed using jersey-client.  When we attempt to build that client using ClientBuilder.newBuilder, we get the ClassNotFoundException mentioned above.  I am assuming that is because quarkus has configured the resteasy client to be used rather than the jersey-client I am attempting to use.  This con

[2019-03-24 11:52] akram commented on #1390
Hi @emmanuelbernard
S2I last step is to build a docker image and to push it to OpenShift internal docker registry.
Then a Deployment is created that will run this docker image by starting the java app of the maven build.

So, indeed, that would *not* really fit well in the Quarkus reload mode. Also especially, because s2i intend to produce container images, not to run code. And these container ima

[2019-03-24 12:03] geoand commented on #1657
Why don't we just fail the create process if there is already a `pom.xml` in the directory?
It seems to me that trying to accommodate cases where the project already exists would be tricky and not obvious to users. From my perspective, when I create a project I start with the idea that it is always a blank slate.

[2019-03-24 12:56] geoand commented on #1606
I tested how well we do with webjar by simply using angularjs from webjars for the `hibernate-orm-resteasy` starter.
So all I had to do was add:

[code]

and change the UI to use `/webjars/angularjs/1.4.8/angular.min.js` instead of `//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js`.

AngularJS only worked properly when running in plain JVM mode. Using devmode or native does not work

[2019-03-24 13:22] gsmet commented on #1657
Yes, personally, I would prefer the following behavior:
- create project: create a new project from scratch in a directory named after the artifact name;
- if we want to implement creating a submodule, I would make it a separate command. It's definitely not the same thing you are after and the behavior might be totally different (maybe the property `quarkus.version` should be added to the parent p

[2019-03-24 13:24] geoand commented on #1657
@gsmet makes sense, I'll look into the wrapper part and see how it can be fixed

[2019-03-24 13:27] masini commented on #1658
If you are satisfied with the JVM you can simply add the JDBC driver to your pom.

In the meanwhile I cloned a fork of Quarkus that contains a draft of the JDBC Extension:

https://github.com/Sanne/quarkus/tree/Oracle

but still is unable to native compile.

[2019-03-24 15:30] renannprado commented on #1374
@stalep suggestion: you guys might want to have a label for issues related to `kotlin`.

[2019-03-24 17:58] cescoffier commented on #1657
Don’t forget that also forcing to ‘cd’ is not very user friendly. (I personally hate having a dir within a dir)

But, I’m not opposed to change this, it’s just requires rechecking all quickstarts as some are based on the current behavior.

[2019-03-24 20:42] domdorn opened #1661 "System.out.println breaks quarkus"
When changing a few lines in
quarkus-quickstarts/hibernate-orm-panache-resteasy/src/main/java/com/acme/hibernate/orm/panache/FruitResource.java
![image](https://user-images.githubusercontent.com/100349/54885513-3ba41b80-4e7d-11e9-9f50-535bf5d82f8c.png)

I'll get this exception
![image](https://user-images.githubusercontent.com/100349/54885515-42329300-4e7d-11e9-9135-bcb2f76cc88d.png)

`
OpenJDK Gr

[2019-03-24 20:59] domdorn opened #1662 "hibernate-orm-panache-resteasy: updating does not work"
I just tried out the `hibernate-orm-panache-resteasy` example and updating a fruit does not work.

E.g. when updating "Apple" to "Applexxx", I get this response from the rest-endpoint:
```{"persistent":false,"id":2,"name":"Applexxx"}```
adding entity.persist() in the update method of com/acme/hibernate/orm/panache/FruitResource.java:71 did not make any difference.

There's no exception in the log

[2019-03-24 22:19] #1163 closed

[2019-03-24 22:26] starksm64 opened #1663 "MainClassBuildStep#build is not registering substitutions with MainBytecodeRecorderBuildItems"
I was adding an example of ObjectSubstiution to the test-extension and ran across this error even after producing the appropriate ObjectSubstitutionBuildItem:

[code]
Looking into why, I see that the MainClassBuildStep#build is only registering substiutions with StaticBytecodeRecorderBuildItems. I guess this was added after the initial update to register all substitutions across all BytecodeRecord

[2019-03-24 22:48] #1618 closed

[2019-03-25 01:15] x80486 commented on #1584
...looks like Gradle's `quarkusDev` task also follows the same trend; maybe this can be fixed along with the reported one :sunglasses:

[code]

[2019-03-25 01:55] #1641 closed

[2019-03-25 01:55] #1643 closed

[2019-03-25 07:02] cescoffier opened #1665 "SSL broken on MacOS X with GraalVM 1.0.0-rc14"
The `libsunec.dylib` is not in the amd64 directory anymore but in the parent. This is a changed introduced in the last GraalVM release. Note that the location didn't change for linux.

[2019-03-25 07:20] cescoffier commented on #1665
Actually what changes between the version is the existence of the `amd64` directory.

[2019-03-25 07:54] kadel commented on #1390
Hi @akram. We are leveraging s2i to run the code in [odo](https://github.com/openshift/odo) project. It is not ideal, as s2i was never designed for this, but It can be done.

s2i is starting to be limiting factor for us, so I'm currently exploring different ways how we can create images with better development mode  (inner loop) support especially for languages with dev mode with hot reload (Quark

[2019-03-25 08:08] #1663 closed

[2019-03-25 08:11] manovotn commented on #1537
@kenfinnigan @michalszynkiewicz  yea,I think you could make this work with MP context propagation.
Basically it's request scope not being active in another thread if I get it correctly (which is standard behaviour). So having CDI context propagated would make it work.

Alternatively, if you just need the scope to be active but don't care about preserving state from previous thread, you could [manu

[2019-03-25 08:12] mkouba commented on #1648
Hm, I thought that originally the test classes were also beans. Anyway, I think we should probably add some `UnremovableBeanBuildItem` for this particular use case. The question is how to identify "test-only" beans. @geoand any ideas?

[2019-03-25 08:50] geoand commented on #1648
If I am not mistaken, when starting up the tests, we add the test classes as an additional archive: https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L101

Could we perhaps in the `ArcAnnotationProcess` indentify this archive (based on the paths it uses, see: https://github.com/quarkusio/quarkus/blob/master/test-fra

[2019-03-25 09:22] mkouba commented on #1648
@masini WRT the problem with `EntityManager` - Quarkus currently requires the request context to be active when a method of an injected `EntityManager` is invoked. I'm sure whether this is correct (probably not) but there's an easy workaround:
[code]
I'm also going to add support for CDI 2.0 `javax.enterprise.context.control.RequestContextController`.

[2019-03-25 09:42] mkouba commented on #1656
We don't plan to fully support `Annotated` abstraction layer, the only exception is injection point metadata for `@Dependent` beans. Also `InjectionTarget` API is not supported ATM.  Ideally, Yasson should provide some SPI so that we can use ArC API. In this particular case, it should be quite straightforward.

[2019-03-25 09:51] gsmet commented on #1656
@mkouba Well, they do use the CDI SPI for that. Not sure they will want to include a separate one.

What's the plan for this, then? The use case is fairly common IMHO.

[2019-03-25 09:55] gsmet commented on #1661
Which version of Quarkus do you use? It seems you have the old error page. It's not related to your issue but it seems weird.

Could you try forcing the usage of the latest ASM version in your dependencies:
[code]
?

We worked on an upgrade for the next release but it's not yet included.

[2019-03-25 10:00] enbohm opened #1668 "@Timed and @Counted annotations fails when exceptions occurs"
The following method with ```@Counted``` and ```@Timed``` annotations fails if any exception occurs during the invocation. For instance, if I want the method to throw a javax.ws.rs.NotFoundException in some cases, it doesn't work due to these annotations and I instead get a HTTP status 500. If I remove the annotations the expected HTTP status code is 404 when calling ```/greeting/notfound```
[code

[2019-03-25 10:03] mkouba commented on #1648
@geoand Yes, we could add a `BuildChainBuilder` directly in `QuarkusTestExtesion`. The only problem is we don't want a dependency on the Arc extension. So we would need some hack similar to https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5-internal/src/main/java/io/quarkus/test/QuarkusUnitTest.java#L186-L211.

[2019-03-25 10:06] gsmet commented on #1668
@jmartisk does it work outside of Quarkus? I think it's something that should be supported.

[2019-03-25 10:06] geoand commented on #1648
@mkouba Cool! I'll have a look over the following days

[2019-03-25 10:08] mkouba commented on #1648
I'm trying to find the solution so I'll ping you for review/help today ;-)

[2019-03-25 10:11] geoand commented on #1648
Soungs good :)

[2019-03-25 10:12] mkouba opened #1669 "Document various ways how to integrate extension with CDI/ArC"

[2019-03-25 10:13] gsmet commented on #1648
@mkouba about the EM issue, it's not the first time someone comes up with the issue. Should we create a proper separate issue to discuss that?

[2019-03-25 10:22] mkouba commented on #1648
@gsmet +1. I think that we had a similar issue already. That's why Stuart created `io.quarkus.hibernate.orm.runtime.RequestScopedEntityManagerHolder`. Actually, the `TransactionScopedEntityManager.getEntityManager()` contains comments that either an active request context or an active transaction is required.

[2019-03-25 10:23] domdorn commented on #1661
@gsmet I've used master of `https://github.com/quarkusio/quarkus-quickstarts` with this revision:
[code]

[2019-03-25 10:23] mkouba commented on #1656
Well, it doesn't have to be a separate one but a more general one so that it would be possible to use any DI framework.

We don't have a plan yet. So far our strategy was not to support all "traditional" APIs (for example portable extensions) but provide an alternative way to do the same stuff.

[2019-03-25 10:32] gsmet commented on #1661
OK, that explains why you have the old error page.

Could you test with the ASM upgrade and report back? Thanks!

[2019-03-25 10:38] #1381 closed

[2019-03-25 10:41] masini commented on #1648
Adding manual activation/deactivation didn't solve the problem, I still
have javax.enterprise.context.ContextNotActiveException running tests.

Il giorno lun 25 mar 2019 alle ore 10:22 Martin Kouba <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
***************

[2019-03-25 10:46] mkouba commented on #1648
@masini How does your test look like? I did:
[code]
And the test passed (with `quarkus.arc.remove-unused-beans=false`).

[2019-03-25 11:42] gsmet opened #1670 "quarkus-caffeine should be part of the camel-core dependencies"
Otherwise, you end up with the following error when executing a native image:
[code]

[2019-03-25 11:45] gsmet opened #1671 "ImageIO substitutions should be global"
Right now, we have `Target_javax_imageio_ImageIO` in `quarkus-resteasy-common` and this substitution should be made global as we have JAXB dependending on it (and so `camel-core`).

[code]

[2019-03-25 11:51] gsmet opened #1672 "Should the CamelRuntimeProducer be marked as unremovable?"
A user reported having this in his logs:
[code]

I think the `CamelRuntimeProducer` bean should probably be marked as unremovable.

[2019-03-25 12:00] jcordes73 opened #1673 "Native compilation doesn't like space in project directory"
When creating a project directory with a space in it, native compilation fails, see steps to reproduce below:

mkdir "dir with space"
cd dir\ with\ space/
mvn io.quarkus:quarkus-maven-plugin:0.12.0:create \
    -DprojectGroupId=quarkus.io \
    -DprojectArtifactId=space-quickstart \
    -DprojectVersion=1.0-SNAPSHOT \
    -DclassName="io.quarkus.SpaceResource"
mvn compile quarkus:dev
mvn package -

[2019-03-25 12:13] dmlloyd commented on #1673
This seems related to #1402/#1607/#1438/#1030/etc.

[2019-03-25 12:29] jmartisk commented on #1668
I just tried the same with Thorntail and it works correctly there, it seems we might need a change in Quarkus. Let me have a look what can be done.

[2019-03-25 12:45] masini commented on #1648
Yes Martin, I need to check in the test-case I uploaded.

I tried in the real test-suite (hundreds of tests) doing that
in @BeforeEach and @AfterEach, checking that activation is called and it
fails.

I'll try to make a better test-case, thank you for your assistance.

Il giorno lun 25 mar 2019 alle ore 11:47 Martin Kouba <
notifications@github.com> ha scritto:

--
********************************

[2019-03-25 13:04] jmartisk commented on #1668
The problem seems to be related to the fact that metric interceptors in SmallRye Metrics have `@AroundInvoke` methods that are `private` (in the case of counters: https://github.com/smallrye/smallrye-metrics/blob/1.1.3/implementation/src/main/java/io/smallrye/metrics/interceptors/CountedInterceptor.java#L62).

In Quarkus, it seems that when a REST endpoint is intercepted by such interceptor, and t

[2019-03-25 13:12] mkouba opened #1675 "TestResourceProvider should provide a way to cleanup injected resources"
For example to invoke `@PreDestroy` callbacks.

[2019-03-25 13:36] mkouba commented on #1668
@jmartisk +1 for unwrapping the original exception. Feel free to send a PR! ;-)

Anyway, changing the interceptor methods to package-private would not hurt too. I see no real value in having them `private`.

[2019-03-25 13:43] mkouba commented on #1672
I believe it should. I'll try to adapt the camel code to use the new `RuntimeBeanBuildItem` API proposed by Stuart.

[2019-03-25 14:23] FroMage commented on #1376
So it appears that Hibernate is not enhancing my generated accessors for dirty checking. Perhaps it has to do with them being `TRANSIENT`, I'm checking.

[2019-03-25 14:34] mkouba opened #1680 "Fire @Initialized, @BeforeDestroyed and @Destroyed events for request and session contexts"
See also `io.quarkus.arc.ArcContainerImpl.init()`.

[2019-03-25 14:44] #1657 closed

[2019-03-25 15:18] FroMage commented on #1376
That's not it. I've also verified that it's running the Hibernate enhancer properly _after_ the Panache enhancer. It's like the Hibernate enhancer does not _see_ the generated accessors.

[2019-03-25 15:46] mkouba commented on #1672
Actually, once we switch to `RuntimeBeanBuildItem` the bean can be removable because the template does not attempt to lookup and initialize the `CamelRuntimeProducer` programatically. If we run into similar issues in the future we could simply add `RuntimeBeanBuildItem.setRemovable(false)`.

[2019-03-25 15:57] gsmet commented on #1534
@stuartwdouglas @dmlloyd I see there is now a `ClassFactory` abstraction in jboss-classfilewriter but AFAICS the only implementation in the jar is one not suitable for JDK 12.

Is there any plan to fix that?

(with Quarkus being bleeding edge, there's a good chance people will play with it with the latest JDKs)

[2019-03-25 16:03] gsmet commented on #1647
No. My bet would be that `JerseyClientBuilder` is instantiated via reflection and thus is not included in your native image as GraalVM can't determine that it is used so it's automatically removed from the image. You would have to register it for reflection for it to work.

The good thing if you use our `smallrye-rest-client` extension is that we take care of everything for you. You can find a gui

[2019-03-25 16:09] #1648 closed

[2019-03-25 16:10] rgcostea commented on #1647
Yes.  You are right.  I figured that out last night.  I'm now struggling to load the META-INF/services needed by some of those dependencies.  Thanks for the pointers.

[2019-03-25 16:25] dmlloyd commented on #1534
I believe that the preferred solution is still to drop jboss-classfilewriter but I don't think anyone is working that change at the moment.

[2019-03-25 16:29] pipinet commented on #1645
@gsmet demo is https://github.com/qwlabs/quarkus-issue

[2019-03-25 16:40] gsmet commented on #1645
@stalep it looks like it's a Gradle specific issue. Could you take a look?

AFAICS, if I add a `pom.xml` at the root, the build is OK.

It looks as if the `application.properties` is ignored.

[2019-03-25 16:48] #1574 closed

[2019-03-25 17:21] FroMage commented on #1376
So, it turns out that bytebuddy will load entities from the classloader even if we pass it the bytes we want to enhance. That's pretty harsh.

[2019-03-25 17:32] FroMage commented on #1376
@Sanne I believe this is a bug in Hibernate:

[code]

[2019-03-25 17:40] FroMage commented on #1376
Unless this is fixed in Hibernate I don't know how to work around it. I could perhaps fake a classloader we pass to the Hibernate enhancer context in order to use the `byte[]` for the type we're enhancing, but that feels really hackish. Naturally all those members are private so I can't reimplement this method outside the class to test how to fix it.

[2019-03-25 18:13] gsmet commented on #1122
@machi1990 if you're looking for some issues, this one shouldn't be too hard and it's in another subsystem.

Note that there is a `DefaultDataSourceConfigTest` in which you should add a check for the new property.

Tell me if you're interested.

[2019-03-25 19:46] stalep commented on #1645
quarkus have hard-coded the location of the application.properties, ill add a fix later tonight

[2019-03-25 20:00] #1668 closed

[2019-03-25 22:07] Sanne opened #1685 "Outdated repository settings in io.quarkus.bootstrap:bootstrap-parent"
This pom file still refers to the out of date `quarkus-nexus-release` repository id and imports the JBoss Nexus repository.

Also wondering: why is this structured as indipendent project? Please check with @cescoffier for special needs re relase process.

[2019-03-26 04:56] davsclaus commented on #1670
We are working on making Caffeine optional in future Camel releases
https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-13363

However caffeine is recommended to be in-use and this ticket is correct that we should have caffeine as dependency for quarkus-camel-core

[2019-03-26 06:44] cescoffier commented on #1685
@Sanne what's bootstrap? Is it a specific branch?

[2019-03-26 06:48] cescoffier commented on #1685
Ah got it, it's in Alexey's branch.
why is it an independent project? Shouldn't it be in _core_?

If it's an independent project I need to update the release scripts (not a big deal, just must keep that in mind), and copy the release settings (take them from Arc).

[2019-03-26 06:57] cescoffier commented on #1685
wow... `NotEnoughCoffeeException`

Having a look....

[2019-03-26 07:03] cescoffier commented on #1665
For the record, I've proposed 2 approaches:
* #1674 - Check the number of files in the `amd64` directory
* #1681 - Specifically look for the Linux library

[2019-03-26 07:04] cescoffier commented on #1661
Can you also mention your _regular_ JVM version? (are you using the GraalVM version to run the dev mode)

[2019-03-26 09:04] stuartwdouglas commented on #1390
I have implemented direct remote sync in the dev mode itself: https://github.com/quarkusio/quarkus/pull/1666 . This allows you to run `mvn quarkus:remote-dev` locally, and connect to a remote container. This will then use the same per request model that the dev mode already uses over a websocket, so there is no chance of seeing stale content.

[2019-03-26 09:18] FroMage commented on #1376
I can try to generate accessors that call the hibernate methods, but given that I don't have them yet I'm not sure it will work.

[2019-03-26 09:23] rsvoboda opened #1689 "Define and document end user facing API"
Define and document end user facing API

Possible deliverables:
 - JavaDoc
   - artifact in maven central
   - artifact attached to https://github.com/quarkusio/quarkus/releases
 - Guide under https://quarkus.io/guides/ - Core section

[2019-03-26 09:23] rsvoboda opened #1690 "Define and document API for extensions developers"
Define and document API for extensions developers

Possible deliverables:
 - JavaDoc
   - artifact in maven central
   - artifact attached to https://github.com/quarkusio/quarkus/releases
 - Enhanced https://quarkus.io/guides/extension-authors-guide
   - mention suggested APIs and existence of the JavaDoc

This task should also cover Jandex documentation as it's the key component.

fyi @manovotn

[2019-03-26 09:49] FroMage commented on #1376
Haha, that actually works.

[2019-03-26 09:56] manovotn commented on #1690
From user standpoint, I think there is quite some gap between knowing the principles of how to write an extension (which we document well in https://quarkus.io/guides/extension-authors-guide) and writing an actual extension.

You are supposed to use build items as entry points of processing but user hardly knows which entry points are there in the first place and what they actually mean. It might

[2019-03-26 10:08] FroMage commented on #1376
Fixed in #1691

[2019-03-26 10:10] FroMage commented on #1662
This must be a dupe of #1376 that I created a PR for just now. Don't hesitate to reopen if the PR does not fix your issue :)

[2019-03-26 10:10] #1662 closed

[2019-03-26 11:30] Sanne commented on #1376
awesome @FroMage , I was starting to look at the ORM angle but that's looking like a very though one.

[2019-03-26 11:33] #1685 closed

[2019-03-26 11:53] FroMage commented on #1376
Yeah, I figured. Go and accept my PR then ;)

[2019-03-26 11:55] Sanne commented on #1376
I will soon :) having a bit of a build queue even locally..

[2019-03-26 11:57] #1645 closed

[2019-03-26 12:34] dmlloyd opened #1693 "Provide a way for the augmentation embedding process to pass in config defaults"
If there is information that the augmentation embedding process (Maven plugin, Gradle plugin, etc.) has which affects default configuration values (for example, app name, directory structures, etc.), it should be able to pass in an additional lower-priority configuration set (maybe as a config source/map, maybe as a file) to that process containing those values which would be overridable via syste

[2019-03-26 12:38] dmlloyd commented on #1693
Directory structures includes things like input classes, output classes, and target directories.

[2019-03-26 12:40] stalep commented on #1622
This was fixed with #1688 - thanks for reporting!

[2019-03-26 12:40] #1622 closed

[2019-03-26 13:23] vorburger commented on #1305
https://github.com/quarkusio/quarkus-quickstarts/pull/81 has gone through some iterations, and we now have something (hopefully) final (now without `<uberJar>true`). @siamaksade hope you're OK if we close this issue after https://github.com/quarkusio/quarkus-quickstarts/pull/81 and https://github.com/quarkusio/quarkus/pull/1353 have been merged?

[2019-03-26 13:34] vorburger opened #1694 "mvn clean on current master fails"
Doing `mvn clean` on the current master (as of 39530003f34dff2505ba5d4e614195eb53166ec0) fails:

[code]

[2019-03-26 13:36] kenfinnigan commented on #1694
@aloubyansky is aware of this issue.

`mvn clean` fails, but `mvn clean install` works

[2019-03-26 13:40] vorburger commented on #1694
Oh, right. That's fine then I guess. Sorry.

@aloubyansky I'll close this issue (as ... "clarified"), feel free to re-open it, if you like / if useful.

[2019-03-26 13:40] #1694 closed

[2019-03-26 13:41] dmlloyd commented on #1694
This was due to the module rename/bootstrap PR AFAICT.  I just did an `find . -name target -exec rm -r '{}' \;` to solve it.

[2019-03-26 13:50] stalep commented on #1693
With #1688 the plugins now properly send the correct resource directory to Quarkus. So most of the directories needed to build the runner/native are now properly set by Maven/Gradle.
There are still issues regarding correct test folders etc, these are now hard-coded in Quarkus. - we need to find a better way of doing that, atm it breaks testing with kotlin and if people use something different tha

[2019-03-26 15:44] FroMage commented on #1376
Fixed now.

[2019-03-26 15:44] #1376 closed

[2019-03-26 15:48] mkouba opened #1696 "Add default scope to AdditionalBeanBuildItem"
And modify the default annotation transformer to reflect this property: https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcAnnotationProcessor.java#L153-L168

[2019-03-26 15:52] #1665 closed

[2019-03-26 16:11] kameshsampath opened #1698 "Update Knative Quickstart guide"
Update Knative Quickstart docs update for quarkusio/quarkus-quickstarts#112

[2019-03-26 16:20] cescoffier commented on #1665
#1681 has been picked.

[2019-03-26 16:53] #1670 closed

[2019-03-26 17:05] FroMage opened #1701 "Panache: mark `isPersistent()` method transient"
As seen in #1662

[2019-03-26 17:10] Sanne commented on #1563
I take it you meant versions _2.3_ -> _2.4_ instead of _1.3_ -> _1.4_ ? Updated the title.

[2019-03-26 18:42] geoand opened #1703 "Property not expanding when using 2 BUILD_TIME Configs"
While working on this #1300 I added a configuration named `KubernetesConfig` and in it I wanted to add `ConfigItem` like so:

[code]

with the expectation that `group` would be expanded to value of `quarkus.application.name` if not value for `quarkus.kubernetes.group` was supplied.
Unfortunately I am just seeing `${quarkus.application.group}` when using the config item

[2019-03-26 18:44] dmlloyd commented on #1703
Note to self:

- [ ] Check to make sure expansion is enabled (duh)
- [ ] Possibly change default expansion such that the defaults are part of a separate config source instead of expanded in line, so that recursive default expansion works

[2019-03-26 19:17] #1563 closed

[2019-03-26 19:28] gsmet opened #1704 "Fix dependency convergence of commons-lang3"
Right now, an exclusion was added in all the integration tests for the `commons-lang3` dependency of `rest-assured`.

It's clearly not something we should do as it will break all the quickstarts and every projects bootstrapped so far.

We should fix the dependency convergence properly in the BOM and remove all the existing exclusions.

[2019-03-26 19:30] #707 closed

[2019-03-26 20:52] kenfinnigan opened #1706 "Move "bootstrap-maven-plugin" to separate repository"
Having had experience with this from Thorntail, there's not really a good reason to have this inside the main repo, and if anything causes issues.

I'd recommend we move it out to it's own repository in the GH org and have it's own release cycle. Possibly just with a single incrementing number 1, 2, 3, etc.

It would also be good if this happened before 0.13.0 is released

[2019-03-26 21:31] #1672 closed

[2019-03-26 21:44] ikos23 opened #1707 "Quarkus 0.12.0 Error: Could not find or load main class io.quarkus.dev.DevModeMain"
Windows 10, Maven 3.6.0, Oracle JDK 1.8.0_201

Created a simple app using
[code]

Trying to run `mvn compile quarkus:dev`

Quarkus 0.12.0 . Cannot run the simplest example.

Logs:
[code]

[2019-03-26 22:32] gabfssilva commented on #1413
Scala is a bit different from Kotlin since it uses its own Option<T>, List<T>, Future<T> and so on, so maybe it needs more efford than Kotlin to implement expressive Scala with Quarkus.

[2019-03-27 04:51] masini opened #1708 "io.quarkus.bootstrap.BootstrapException if pom exists in parent directory"
The method:

io.quarkus.bootstrap.resolver.maven.workspace.LocalProject#locateRootProjectDir

try to locate the parent pom without looking at the content.

If you have a "dirty" pom in a directory which is parent of your pom.xml but with any relationship (no parent in Quarkus project, no module in parent pom) that pom.xml is used for the build and the build of course will be broken.

[2019-03-27 05:54] geoand commented on #1707
Could you execute `mvn -X Quarkus:dev` and see if you get any more output that would help debug the issue?
Thanks

[2019-03-27 08:54] thomasdarimont opened #1710 "smallrye-jwt returns stale claim data from previous JWT"
It seems that the quarkus smallrye-jwt integration holds on to values from previous JWT invocations and returns stale claim values instead of the ones from the current JWT.

E.g. accessing `currentUsername` always returns the value from the first JWT that was used to call the `/data/user` endpoint.
[code]
See discussion on twitter: https://twitter.com/thomasdarimont/status/1110569492520808450
The

[2019-03-27 09:31] gsmet commented on #1710
@starksm64 I believe this one would be for you.

[2019-03-27 09:37] gsmet opened #1712 "Rename the bootstrap-maven-plugin artifact to quarkus-bootstrap-maven-plugin"
All our other artifacts are named `quarkus-<something>` so let's be consistent.

[2019-03-27 09:50] sebastienblanc commented on #1710
I confirm I can reproduce this.

[2019-03-27 10:34] johnaohara opened #1714 "Arc silently fails if there is an exception in a @Produces method"
If a `@Produces` method call fails with an exception, that exception is swallowed and the application silently fails.

If there is an exception thrown by `createInstanceHandle()`  in this lambda :

https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/AbstractSharedContext.java#L33

The exception is swallowed and not reported.

In my case, a

[2019-03-27 12:39] marcinczeczko opened #1716 "Unable to compile due to the aws sdk classes"
Hi,
I was trying to create a lambda function with `com.amazonaws.services.lambda.runtime.events.APIGatewayProxyRequestEvent` & `com.amazonaws.services.lambda.runtime.events.APIGatewayProxyResponseEvent` types for RequestHandler

However, during quarkusBuild task I'm getting the error
[code]

Do you know how to overcome that issue ?

[2019-03-27 13:01] manovotn commented on #1491
This looks very much the same as #1656.

I am not sure that Yasson tries to achieve with those beans - is it addition of new beans or modification of bean metadata? Or if it's just looking up contextual instances, then you can use either `CDI.current()` or, better still, `BeanManager.createInstance()` and go from there. Both are supported by Arc.

[2019-03-27 13:32] stalep commented on #1374
I tested this locally against master and the test @renannprado provided now works (I also asked @geoand to verify :).

[2019-03-27 13:32] #1374 closed

[2019-03-27 13:33] geoand commented on #1374
Verified on my machine as well :)

[2019-03-27 14:09] atomicmass opened #1717 "PanacheBaseEntity fails with "This method is normally automatically overridden""
I have a class that extends `PanacheBaseEntity` and is annotated with `@Entity`. When I load the service with `mvn compile quarkus:dev` it works perfectly.

However if I execute the jar file directly `java -jar target/myproject-runner.jar` I get
[code]
This happens as soon as I hit one of the `list()` methods.
I'm using version 0.12.0

[2019-03-27 14:12] geoand commented on #1218
If this can be implemented like I think it can be (I was thinking that adding some bytecode to `io.quarkus.runtime.generated.RunTimeConfig#getRunTimeConfiguration` that would check a specific system property and/or an environment variable and if found add a new `ApplicationPropertiesConfigSource`), then I can take this up as part of an after hours activity :)

[2019-03-27 14:16] dmlloyd commented on #1218
First we need command-line argument parsing to be done (I have a WIP branch now).  Then it can be done as you say, except it'd be the command line argument values being checked first.

[2019-03-27 14:19] geoand commented on #1218
Got it! If you want me to take this after the command-line arguments work is in, feel free to assign it to me.

[2019-03-27 14:36] emmanuelbernard opened #1720 "Improve doc of quarkus:remote-dev"
https://github.com/quarkusio/quarkus/pull/1666/files#diff-08ed80fdba6156d04b65ff7da6eac102

This does not explain why it's useful: run your app in Kubernetes and having the backend services deployed and consumable. Can someone take a stab at it.

[2019-03-27 15:04] manovotn commented on #1714
@johnaohara not sure what situation you mean?
I have put together a [simple test](https://github.com/manovotn/quarkus/tree/issue1714) that has producers which throw ISE. The exception proliferates to the surface as expected in my case.

[2019-03-27 15:07] rsvoboda commented on #1673
The first error is `Error: Class initialization failed: io.quarkus.undertow.runtime.graal.URLResourceSubstitution$ResourceInfo`
Caused by: `java.io.FileNotFoundException: /Users/rsvoboda/tmp/dir%20with%20space/target/lib/io.smallrye.smallrye-config-1.3.5.jar (No such file or directory)` in my case.

I see same error when the root directory is named:
 * app dir ect ory
 * app#dir
 * žluťoučký-kůň

[2019-03-27 15:19] dmlloyd commented on #1673
Again it's going to be wrong URI handling somewhere.

Here's the rules for class paths:

* A `MANIFEST.MF` `Class-Path` is a list of relative URIs.  A relative URI is *not* a relative directory, it's a URI without a scheme (see [the RFC](https://tools.ietf.org/html/rfc3986#section-4.2)).
* Since it's a space-separated list, the "raw" URI must be used (see [the JavaDoc for `URI.toAsciiString()`](ht

[2019-03-27 15:20] dmlloyd commented on #1402
See https://github.com/quarkusio/quarkus/issues/1673#issuecomment-477205320

[2019-03-27 15:21] dmlloyd commented on #1438
See https://github.com/quarkusio/quarkus/issues/1673#issuecomment-477205320

[2019-03-27 16:54] #565 closed

[2019-03-27 20:23] rsvoboda commented on #1393
In dev mode I would like to configure DEBUG logging level for some categories.

Maybe some people would like to see DEBUG as default level for dev mode.

[2019-03-27 22:39] machi1990 commented on #558
This issue interests me a lot for two main reason:
- It is a good first issue as I am still taking my first steps in the codebase
- It touches unit tests, and I have always asked my self how does it work in the codebase.
I managed to come with a few test case as suggested by @emmanuelbernard. If it looks good, I'll open a PR for review.

[2019-03-27 22:44] Sanne commented on #558
@machi1990 that's awesome, really appreciate the help! Consider the issue yours.

No rush, but feel free to ask for any help you might neet.

[2019-03-27 22:48] machi1990 commented on #558
Thanks. As of now, the commit is ready for review: see here: [@machi1990 74302491547cca556](https://github.com/machi1990/quarkus/commit/74302491547cca55649fdf16d85ad9e33d78e89b) . I have four test cases testing the presence of `import.sql`, of another file, and of an absent file. Any case we should can add?

[2019-03-27 23:21] ikos23 commented on #1707
Done :)

[2019-03-28 02:25] starksm64 commented on #1707
This is a duplicate of #1402 that has been fixed for the 0.13.0 release.
The problem is that the local maven repository is located in a path with spaced:
`[DEBUG] Using local repository at C:\Users\Foo Bar\.m2\repository`

Issue #1402 gives a workaround of moving your local maven repository to a path without spaces.

[2019-03-28 05:35] geoand commented on #1707
@starksm64 so I guess we should close this, right?

[2019-03-28 07:16] johnaohara commented on #1714
This exception is occurring for the quarkus-vertx rest-http-crud-demo. I will create a reproducer for the issue

[2019-03-28 07:25] starksm64 commented on #1710
The issue is this:
https://github.com/quarkusio/quarkus/issues/1371

if you change the scope of the DataResource to @RequestScoped, you get the expected behavior:

[code]

[code]

[2019-03-28 07:50] thomasdarimont commented on #1710
Oh, that's for the clarification! I didn't try to add @RequestScoped explicitly, because it should be implied by JAX-RS. The ticket mentions that quarkus decided to deviate from the spec where it seems appropriate... Is there a list of those deviations somewhere for reference?

[2019-03-28 08:29] sebastienblanc commented on #1710
@starksm64 Is this going to stay ? In this case maybe the https://github.com/quarkusio/quarkus-quickstarts/blob/master/using-jwt-rbac quickstart should be updated then ?

[2019-03-28 08:46] masini opened #1724 "java.lang.IllegalStateException: This method is normally automatically..... in IT tests"
I got this Exception running IT tests with 'mvn test':

`java.lang.IllegalStateException: This method is normally automatically overridden in subclasses: did you forget to annotated your entity with @Entity?
`

this happen when I call this simple method of OrdiniService injected in the test:

[code]

All works as expected when I run this method through the JAX-RS interface with the 'quarkus:dev' g

[2019-03-28 08:58] aesteve commented on #1374
Hello.

I tried upgrading https://github.com/aesteve/quarkus-kotlin-todobackend to `0.12.0` and running `quarkus-dev`

Upgrading dependencies only to `0.12.0` and keeping:

[code]

Works!

BUT

Upgrading everything to `0.12.0` and running ` quarkusDev` (and no longer `quarkus-dev`) still doesn't work. I got the exact same issue I had previously: the gradle build is terminating mentioning "BUILD SU

[2019-03-28 09:00] geoand commented on #1374
There have been a lot of changes to gradle support in `master` since `0.12.0` so I would propose either to build from `master` or wait until `0.13.0` :)

[2019-03-28 09:02] aesteve commented on #1374
Oh, OK.

And when I wrote it works, in fact the dev process is running, but navigating `http://localhost:8080/hello` doesn't work.

[2019-03-28 09:04] emmanuelbernard opened #1725 "Fix mvn (and others?) project create which asks a misleading question"
[code]

I suppose it should be `Set the project version`

[2019-03-28 10:36] #1707 closed

[2019-03-28 10:36] cescoffier commented on #1707
Duplicate

[2019-03-28 10:38] mkouba commented on #1714
Thanks John, a reproducer would be really helpful.

[2019-03-28 10:40] johnaohara commented on #1714
@manovotn Have spent some time digging into this, the exception is propagating back from arc correctly, looks like an issue in vertx-web. Still investigating

[2019-03-28 10:40] johnaohara commented on #1714
@mkouba see above, I think the issue is in vertx-web

[2019-03-28 10:50] johnaohara commented on #1714
@mkouba  @manovotn  This isn't a bug, I had a vertx router that was handling the error response, but was not reporting the exception message. My mistake

[2019-03-28 10:50] #1714 closed

[2019-03-28 11:16] evanchooly commented on #1716
It's curious you're seeing that error.  I'm actually wrapping up the next round of Amazon Lambda integration which uses that class and I'm not seeing it.  I should have the extension merged today or tomorrow if all goes well.  When that goes, can you try using a `master` build and seeing if you get the same error?

[2019-03-28 11:40] BaptisteMeynier opened #1728 "Quarkus does not exposed Jax-rs Ressource which is on an other Maven Module"
I'm trying to develop a quarkus application with a Hexagonal architecture.
Application code is available in [github](https://github.com/BaptisteMeynier/Quarkus-Portfolio)
I have 4 modules; Business, Persistence, Webservice and the application is packaged in a global module where I will produce my Quarkus application.

When I launch:
mvn clean package -Pnative
and then my native image
portfolio-app

[2019-03-28 11:53] gsmet commented on #1728
Could you try to add an empty `META-INF/beans.xml` file in the module containing your endpoints?

[2019-03-28 12:12] geoand commented on #1728
When I tried this, none of the modules where getting indexed, so not only would JAX-RS endpoints not be picked up, but nor would any of the other annotated classes.

[2019-03-28 12:18] johnaohara opened #1729 "Register Exception handler for vertx-web"
After speaking to @mkouba regarding #1714 there is an issue where if a bean instance fails to instantiate as part of a vertx-web application, the root cause exception is swallowed, and a http 500 error is returned to the client

We need to register an exception handler for vertx-web to log any bean instantiation exceptions.

[2019-03-28 12:18] #1725 closed

[2019-03-28 12:19] gsmet opened #1730 "Move bootstrap descriptors to META-INF"
They are currently under a `quarkus/` directory. Having them in `META-INF` with the other descriptors would be more consistent.

[2019-03-28 12:29] mkouba commented on #1729
Note that `vertx-web` does not register any sophisticated error handler by default. However, we should be probably more user-friendly. @cescoffier @vietj WDYT?

BTW we already register a `BodyHandler` automatically.

[2019-03-28 12:46] emmanuelbernard opened #1732 "Adding Hibernate panache dependency + driver and no config leads to error"
When I add Hibernate Panache as a dependency, and do `mvn compile quarkus:dev`, I get

[code]

Note that I have no `@Entity` annotations. I think we did fix that issue in the past @gsmet but it might have resurfaced.

[2019-03-28 13:26] mkouba opened #1733 "Add vertx-web-client to the BOM"
RIght now, the only way to add the `vertx-web-client` dependency is:
[code]

[2019-03-28 13:27] emmanuelbernard opened #1734 "import.sql does not seem to be listen to for creation and change"
[code]

[code]

[code]

[code]

Then add `import.sql` with

[code]

And see `HelloMessage.find("lang", "es").singleResult();` crash

Then stop and restart `mvn compile quarkus:dev` and change import.sql

[code]

and see `HelloMessage.find("lang", "fr").singleResult();` crash

[2019-03-28 13:33] marcinczeczko commented on #1716
So coincidence :) Sure, I'll definitely check it. Thanks.

[2019-03-28 13:35] marcinczeczko commented on #1716
By the way, do you have plans to add more AWS SDK dependencies in the future ? Would be useful to get support for Dynamodb for instance.

[2019-03-28 13:52] mkouba commented on #1538
Well, the general problem with `javax.inject.Provider` injection was fixed in 0.12.0, see also https://github.com/quarkusio/quarkus/issues/1373 but I can see some NPE from within SmallRye when the `Provider` is used together with `@ConfigProperty`. I'll investigate it further.

[2019-03-28 13:54] kenfinnigan commented on #1733
Do we want vertx dependencies exposed through Quarkus BOM?

Check with @cescoffier

[2019-03-28 13:56] mkouba commented on #1733
It's already assigned to Clement ;-). Anyway, we already have non-quarkus dependencies in BOM so I see no reason why not `vertx-web-client`.

[2019-03-28 14:00] kenfinnigan commented on #1733
It's not so much about a non Quarkus dependency, but exposing Vert.x programming model and whether doing so makes things more complicated. Will leave it up to @cescoffier

[2019-03-28 14:14] mkouba commented on #1538
@xstefank The config-list-inject reproducer works fine with 0.12.0.

[2019-03-28 14:21] starksm64 commented on #1710
@sebastienblanc Yes, good point, we should not be promoting the default scope in the quickstart. I'll update that.

@thomasdarimont Good question, not that I know of so I'll bring it up with the team.

[2019-03-28 14:32] johnaohara opened #1735 "vertx-web binds to localhost by default"
Binding to localhost does not work in a container, vertx web needs to bind to 0.0.0.0 by default like it does in undertow

[2019-03-28 14:46] starksm64 commented on #1710
Another issue that was pointed out was the use of @Dependent scope by the producer of the claim values. This was something that the MP-JWT spec defined and I don't remember the reason now. So perhaps we could have a setting to change this behavior in the jwt extension and make this the default.

[2019-03-28 14:52] gsmet commented on #1728
Yes, right now, I think only the main module will be indexed if you don't add an empty `META-INF/beans.xml` or the Jandex Maven plugin.

[2019-03-28 14:54] geoand commented on #1728
Although I guess we will have a proper solution down the line, should we be documenting those 2 solutions somewhere (I don't really know where that would be...)?

[2019-03-28 14:57] gsmet commented on #1728
Yeah, so, the issue is that you end up with next issue: the dev mode does not support multi-module either.

That's definitely something we need to fix soon enough as most of the real life projects are multi-modules.

[2019-03-28 15:34] gsmet commented on #1704
Fixed.

[2019-03-28 15:34] #1704 closed

[2019-03-28 15:39] evanchooly commented on #1716
Nothing is *planned* for Dynamodb, necessarily, but it's hard to say how that might change in the future.  As we build out the extensions that *we* support, we're mostly looking at what makes most of our users more productive.  The hope is that for the wide variety of things we simply can't do, that there'd be community support for such extensions.

[2019-03-28 15:44] gsmet commented on #1732
We only "start" ORM if there are entities in the classpath. The issue is that it's entities in the large sense of the term (embeddables and mapped super classes are considered too) and with Panache, we have one abstract mapped super class: `PanacheEntity`.

Thus it tries to start ORM and you have this error.

We should probably be stricter and only start ORM if we have at least one class marked wi

[2019-03-28 16:03] cescoffier commented on #1733
I would rather add the Axle versions which are more inlined with the API model.

[2019-03-28 16:28] volalex opened #1742 "Adding @Gauge annotated method in ApplicationScoped bean causing error in bean instantation"
When I tried to add `@Gauge` metric to my app, it failed to start with

[code]

But this class definetly have a no-args constructor

When I remove `@Gauge` annotated method application starts without any issue

[2019-03-28 17:56] kabir opened #1743 "Register Hibernate @GenericGenerator strategy implementations for reflective access"
@Sanne (as discussed on Zulip):
I have an entity using org.hibernate.id.UUIDGenerator:
[code]
This works fine in Java but when running in native mode I get:
[code]
Kabir Khan: Is there some trick I need to perform, or is it a bug?
Kabir Khan: BTW I am planning on ripping out this entity so it isn't a huge deal
Sanne Grinovero: @Kabir Khan ah! thanks that's a useful bugreport :) Yes we probably nee

[2019-03-28 18:02] gsmet commented on #1743
Ah ah, was answering exactly what Sanne said and then I saw your discussion at the bottom.

[2019-03-28 19:13] #877 closed

[2019-03-28 19:13] dmlloyd commented on #877
This was previously fixed and should no longer be a problem.

[2019-03-28 19:23] kabir opened #1748 "User provided Rest client @RegisterProvider does not work"
I am running into a problem for the following in native
[code]
which gives
[code]
Kabir Khan: I tried adding a default constructor but get the same error. How do I add the constructor to the native image? I think I know how to do it in an extension (https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/UUIDGenerator.20(native)/near/161981147) but don't see how to do it for user-provide

[2019-03-28 19:24] kenfinnigan commented on #1748
Thanks, will take a look before next weeks release

[2019-03-28 19:35] #1306 closed

[2019-03-28 19:47] sarxos opened #1749 "Beans injected in tests are removed as unused"
Hello @mkouba,

This is in regards to our conversation from Zulip.

Beans injected into a test are automatically removed.

I have a service:

[code]

And a test:

[code]

Since `TestService` has bean defining annotation it is automatically discovered. And since it's `@Inject`-ed into test, it should **not** be autoremoved. But it's removed and test fails

The workarounds so far:

1) Configure `qua

[2019-03-28 19:48] geoand commented on #1735
This was fixed by the #1741 right? I wonder why it didn't close automatically...

[2019-03-28 19:55] geoand commented on #1749
@mkouba Would this PR I closed perhaps be of some use?

https://github.com/quarkusio/quarkus/pull/1545

[2019-03-28 20:16] andresetevejob opened #1750 "Contributing"
Hi,
I am a java developer, I heard about quarkus during a talk by Emmanuel Bernard.I would like to contribute to the development of the project.I read the guide line of contribution.IL asks to install the tools and to clone the project.After that how should I go about being in the list of contributors and follow the issues they need to be addressed

[2019-03-28 22:17] #1671 closed

[2019-03-28 23:54] #1703 closed

[2019-03-29 01:55] pipinet opened #1753 "Improve interaction with CQRS and Event Sourcing frameworks like Axon Framework etc"

[2019-03-29 03:27] #1696 closed

[2019-03-29 06:09] johnaohara commented on #1735
idk. I think auto close works on the issue ID being in the commit message, and not in PR comments

[2019-03-29 06:09] #1735 closed

[2019-03-29 06:20] johnaohara opened #1754 "Vertx-web App with code blocking event loop does not respond to SIGTERM"
An application using vertx-web, that blocks the event loop does not respond to a SIGTERM signal.  The application can only be stopped with a SIGKILL.

Is there anything we could do to intercept the signals and handle them correctly?

[2019-03-29 08:08] vietj commented on #1754
can you elaborate ?

an application usually blocks the event loop because of user code and not because of Vert.x code.

[2019-03-29 08:12] turing85 opened #1755 "Different JSON-response when compiling to native image"
**quarkus Version:**
0.11.0

**Java versions:**
* Oracle 1.8.0_191
* Oracle 11.0.2 2019-01-15

**GraalVM versions:**
* CE-1.0.0-RC12
* CE-1.0.0-RC13
* CE-1.0.0-RC14
* EE-1.0.0-RC12
* EE-1.0.0-RC14

**Expected behavior:**
Normal build and native image should create same JSON-response when REST-endpoint is called.

**Actual behavior:**
The JSON-responses differ.

**Description:**
The sample code can

[2019-03-29 08:43] marcinczeczko commented on #1755
I think you're missing `@RegisterForReflection` annotation on `User` pojo.

[2019-03-29 08:44] johnaohara opened #1756 "Can not override vertx-web configuration at runtime"
configuration parameters for vertx-web can not be overridden at runtime, passing `-Dquarkus.vertx.http.host=0.0.0.0` to a vertx-web application does not change the host that the application binds to

[2019-03-29 08:57] mkouba commented on #1749
@sarxos Ok, so we should clarify that this problem occurs iff an application bean (`TestService`) is used only in a test class (`GreetingResourceTest`). In other words, it's not used in the app code AND it's not used in any bean defined in `src/test/java`.

@geoand Yes, your proposal could one way how to address this issue. The other way would be to register `@QuarkusTest` as a bean defining annot

[2019-03-29 08:58] turing85 commented on #1755
Jup that fixes the issue. Thank you!

[2019-03-29 08:58] #1755 closed

[2019-03-29 09:01] geoand commented on #1749
You are the expert, whatever you think is best :). If you don't have enough time to fix it today, I can most likely squeeze in whichever fix you prefer over the weekend.

[2019-03-29 09:36] mkouba commented on #1756
@johnaohara So it looks like it works as expected but the config key is `quarkus.vertx-http.host` (note the hyphen between `vetx` and `http`). I apologize for mystifying you ;-)

[2019-03-29 09:46] mkouba commented on #1733
Ok. Well, feel free to add the Axle version only but honestly I don't understand the reason. If you look at our BOM we do include things like guava, org.apache.httpcomponents, jetty-client... and it's probably not that we're "exposing" their APIs.

[2019-03-29 09:57] sarxos commented on #1749
@mkouba Yes, I confirm. This issue appears if and only if my CDI bean is `@Inject`-ed only in a test class. If I additionally inject it in application class, e.g. a resource annotated with `@Path`, the problem does not exist.

[2019-03-29 10:04] sarxos commented on #1749
@mkouba I do not insist on fixing this, but this behaviour should be described in more details since I spent some time trying to narrow it down and I assume integrators to have similar problems when working with ArC's CDI. I can prepare PR against https://github.com/quarkusio/quarkusio.github.io/blob/develop/_guides/cdi-reference.adoc if you like. Quarkus is developed under Red Hat, am I correct?

[2019-03-29 10:08] johnaohara commented on #1756
Thanks for clarifying

[2019-03-29 10:08] #1756 closed

[2019-03-29 10:35] gsmet commented on #1755
@turing85 we add classes automatically for reflection if they are the return type of the REST endpoint but as long as you are using `Response`, we can't do that.

It's explained in more details here: https://quarkus.io/guides/rest-json-guide#about-serialization .

[2019-03-29 10:44] FroMage opened #1758 "Disable tests when running on SVM"
For tests that are shared between JVM and Substrate (like our guide advises), some tests do not go through HTTP endpoints and do not therefore make sense in native mode, we should support a `@DisabledOnSubstrate` annotation to disable those tests only on SVM.

[2019-03-29 10:50] cescoffier commented on #1758
Great idea! I'm just facing this issue :-)

[2019-03-29 10:52] Sanne commented on #1743
We can explore solving this in two different ways:
- look for the `@GenericGenerator` annotations and see if they mention classes which need to be registered for reflection
- make sure tha all identifier generators are constructed during augmentation

I suspect doing the first is easier and maybe the best way to ship a solution already; the second approach could be more efficient but we need to ch

[2019-03-29 10:54] mkouba commented on #1754
@johnaohara BTW if a route handler blocks it should have `@Route.type()=BLOCKING`

[2019-03-29 11:02] rsvoboda opened #1759 "Native build fails after building with Java 9 or later"
Native build of sample quarkus-maven-plugin based app fails.

Using current master (56518ac4f), the main error is:
`com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved method during parsing: java.nio.ByteBuffer.limit(int).`

[code]

[code]
Note: the same on GraalVM CE 1.0.0-rc14

[code]

[2019-03-29 12:25] rsvoboda commented on #1759
I tried the same steps on different machine (RHEL) and native build worked.

[2019-03-29 12:35] rsvoboda commented on #1759
`mvn package -Pnative -Dnative-image.docker-build=true` fails for me too

macOS 10.14.4 (18E226)

Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T20:41:47+02:00)
Maven home: /usr/local/Cellar/maven/3.6.0/libexec
Java version: 1.8.0_202, vendor: Oracle Corporation, runtime: /Users/rsvoboda/Downloads/graalvm-ee-1.0.0-rc14/Contents/Home/jre
Default locale: en_CZ, platform enc

[2019-03-29 12:57] rsvoboda commented on #1759
After adding `<additionalBuildArgs>-H:+ReportExceptionStackTraces</additionalBuildArgs>` I see longer stacktrace but can't get my head around it.

See https://paste.fedoraproject.org/paste/X36D-p-HJA4MU-OewJIGyw

[2019-03-29 13:00] FroMage commented on #1758
Fixed!

[2019-03-29 13:00] #1758 closed

[2019-03-29 13:00] FroMage commented on #1367
Fixed. This should work now, but only for tests running on the JVM.

[2019-03-29 13:00] #1367 closed

[2019-03-29 13:20] rsvoboda commented on #1759
So the issue is that I built Quarkus master using Java 11.

GraalVM is still based on Java 8

[2019-03-29 13:44] rsvoboda commented on #1759
Reopening
[code]

[2019-03-29 14:06] dmlloyd commented on #1754
Normally `SIGTERM` (and all other signals) are handled via calling `System.exit(128 + sigNum)`.  This in turn triggers the app shutdown process.  I think the only piece that is missing is probably interrupting threads that are performing blocking operations (which can be a bit delicate but it's the only safe and universal way to indicate that a blocking operation should be cancelled).

[2019-03-29 14:07] #1680 closed

[2019-03-29 14:12] brenol opened #1762 "javax.xml.parsers.FactoryConfigurationError: Provider org.apache.xerces.jaxp.SAXParserFactoryImpl"
Hello!

I am having a few issues while trying to use SAXParserFactoryImpl and have tried a few things:
- Creating a SAXParserProcessor and registering it with a @BuildStep, however, I'm not sure on how to configure a new extension (is this necessary?);
- Registering it with System.property;
- Tried using the underlying graalVM Class.forName as mentioned in Graal's reflection docs, but no luck;

Ev

[2019-03-29 14:34] #1538 closed

[2019-03-29 14:36] mkouba commented on #1749
@sarxos I agree that we should definitely improve the docs in this area. There is already an issue: https://github.com/quarkusio/quarkus/issues/1669.

I also think that should fix this. @geoand I lean towards the "register `@QuarkusTest` as a bean defining annotation" solution but your idea of having a `BuildItem` to specify classes that should be analyzed for injection points is also interesting.

[2019-03-29 14:48] geoand commented on #1749
:+1:

[2019-03-29 15:00] gsmet opened #1764 "Logging filters not applied in dev mode"
Current output when starting a simple project in dev mode is:
[code]

The log filters are not applied.

[2019-03-29 15:21] brenol commented on #1762
Using Class.forName directly:
[code]

[2019-03-29 15:40] ddcprg opened #1766 "Add support for smallrye-reactive-messaging-camel"
Currently it seems only `smallrye-reactive-messaging-kafka` is supported. Adding support for reactive Camel would be useful in my opinion. Is this is in the roadmap?

I'd would like to contribute this but honestly I don't know where to start.

[2019-03-29 16:29] #1355 closed

[2019-03-29 16:50] FroMage commented on #1717
This appears to work for me. Can you give me some code to look at?

[2019-03-29 16:50] aloubyansky opened #1769 "Add m2e lifecycle mapping to bootstrap maven plugin"
This issue is about integrating the plugin into the build process triggered by Eclipse. Currently it's ignored by Eclipse build which results in extension descriptor missing from the classes dir after the build.

[2019-03-29 16:56] FroMage commented on #1724
This happens to work in my test. Could you should me your test class?

[2019-03-29 17:44] karesti commented on #804
The dependency is mandatory even if you don't need query, it was not properly working on native, see https://github.com/quarkusio/quarkus/commit/587dfcd7f4d9c5921359eaaada95f8827108af1f#diff-b83041779974482399806b16cdac7068

This is explained as an issue to be corrected in the actual guide. @wburns what do you think about this issue? Should the dependency be removed even if not mandatory anymore?

[2019-03-29 17:46] karesti commented on #805
I totally agree on this, how can we make this automate?

[2019-03-29 17:55] Sanne commented on #804
right @karesti the dependency is needed. I'm not suggesting to remove it, just to make sure that this has minimal overhead (possibly none at all) when it's not actually being used in practice.

[2019-03-29 18:33] #1734 closed

[2019-03-29 18:39] Sanne commented on #1734
Ok so this works now, but we're in trouble with other "flavours" of the same issue:

# Deleting the file
If the `import.sql` existed initially, but then it's deleted: the last content of the script keeps being applied for subsequent imports in the same "dev" session as it's actually never removed from the target.

# Non-standard named files
So Guillaume fixed this by registering _specifically_ the

[2019-03-29 18:43] masini commented on #1724
Given that OrdiniService implements PanacheRepositoryBase<Ordine, String>,
I can reproduce with this method (using 0.12.0 and master):

@QuarkusTest
public class QuarkusResourceTest extends AbstractTest {

    @Inject
    OrdiniService ordiniService;

    @Test()
    public void testFindById() {

        assertThrows(java.lang.IllegalStateException.class, () -> {
            ordiniService.findById

[2019-03-29 18:49] Sanne opened #1772 "Support cleanup of deleted resources during live reload"
Taking for example the `import.sql` script of Hibernate ORM:

we produce a `new HotDeploymentConfigFileBuildItem(importFile)` for this file, so to allow people editing the script and applying those changes right away in the scope of "quarkus dev".

After #1736 it's now possible to start "dev mode", and then create the file later: it will be picked up.

The opposite isn't true though: if it's delet

[2019-03-29 19:16] geoand commented on #1772
I don't think the link to the PR is correct :)

[2019-03-29 20:32] #1748 closed

[2019-03-29 22:27] starksm64 opened #1773 "DevMojoIT hangs if the test build process fails"
One of my PRs kept hanging and timing out during the io.quarkus.maven.it.DevMojoIT tests. In tracking down the issue, I found that if the target test project that the DevMojoIT is building fails to compile, the DevMojoIT test fails on a timeout. DevMojoIT is not detecting the failed build. The reason the build was failing is that a dependency on the quarkus-maven-plugin was added to the core test-

[2019-03-29 23:12] geoand commented on #1742
I can reproduce this, it's actually very simple to do so. Simply create a project with the maven plugin, add the `quarkus-smallrye-metrics` dependency and annotation the method of the `hello` method with `@Gauge`.

Note that things work as expected when `@Timed` or `@Counted` is used.

I believe that the route case is the fact that the `@Gauge` annotation is not meta-annotated with `@Inherited` -

[2019-03-29 23:39] jclingan opened #1774 "Incomplete Maven Goal descriptions"
There are 11 maven goals and six of them have no description. Some descriptions are too simple (dev goal: "The dev mojo, that runs a quarkus app in a forked process"). Each goal should have a complete and purposeful description. Here is the output from help:describe:

[code]

[2019-03-29 23:59] teriiehina commented on #1658
thank you @masini for your answer.

It looks like you are working on this feature so if you need any help (even some alpha-testing) please let me know.

[2019-03-30 03:45] pipinet opened #1775 "Improve interaction with DB Migrations frameworks like flyway and liquibase etc"

[2019-03-30 08:16] cescoffier commented on #1773
This is very annoying. Even catching the error won't make it better (won't timeout but will fail).
We can add an artificial dependency in the maven pom, just to make ordering OK. But, I'm not a big fan of that. Unfortunately, the other solution would be do drop the ITs which are our only way to verify things work.

[2019-03-30 09:07] cescoffier commented on #1773
@starksm64 I've built master from an empty maven repo and didn't get the issue.

[code]

Do you know where the introduction of the dependency (Core Test -> Quarkus Maven plugin) has been introduced?

[2019-03-30 11:01] machi1990 commented on #1775
Support for Flyway may land soon: There is a [PR](https://github.com/quarkusio/quarkus/pull/1649) to add it.

[2019-03-30 11:59] pipinet commented on #1775
@machi1990 ok, thanks。

[2019-03-30 15:14] BaptisteMeynier commented on #1728
Thx the Jandex Maven plugin work well ! My Resource is discovered.

[2019-03-30 15:27] BaptisteMeynier commented on #1728
I don't know if there is a link with the previously issue. However I had added the jandex Maven plugin.  I created a producer in my main module portfolio-app which has to instantiate beans located in  others modules. It does'nt seems to be called. I added some logs which never appear [Provider class](https://github.com/BaptisteMeynier/Quarkus-Portfolio/blob/spi/portfolio-app/src/main/java/org/acme

[2019-03-30 17:15] starksm64 commented on #1773
Yes, it was in the core/test-extension when I added a native image test. I have moved that out into integration-tests so it has been resolved.

Shouldn't we be catching the error and failing the build though? It was a bug in the test-extension to add a dependency on the quarkus-maven-plugin given that it tests projects that depend on extensions.

We could move the devtools tests that depend on ext

[2019-03-30 20:03] machi1990 commented on #1122
Hey @gsmet, sure I am interested. I'll take a look at this. Your ping was probably lost in my inbox that's why I took a little longer to get back.

[2019-03-31 00:53] poldinik opened #1779 "Build failure of native executable with Google Vision sdk inside jax-rs endpoint"
I'm trying **to build a native executable deployed in docker container**. This is the code inside my unique jax-rs endpoint method, it contains google vision apis sdk.

[code]

I run `./mvnw package -Pnative` and this is the error (if I comment the code above, it builds successfully; my code works in dev mode, too)

[code]

[2019-03-31 02:57] richsanram commented on #1399
Any news about this? I have also this problem with Panache

[2019-03-31 16:17] johnaohara opened #1781 "jsons extension not serializing object in native mode"
If i manually serialize objects to json using jsonb, e.g;
[code]

In JVM mode, the output is expected;

[code]

but in native mode the output is an empty array;

[code]
There are no exceptions logged in the application log

[2019-03-31 16:20] gsmet commented on #1781
You have to add the `@RegisterForReflection` annotation to your objects.

And, yes, GraalVM doesn't throw any error, unfortunately.

See https://github.com/quarkusio/quarkus/issues/739 for more details.

[2019-03-31 19:31] geoand commented on #1781
We also have a relevant section in the docs [here](https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/writing-native-applications-tips.adoc#register-reflection)

[2019-03-31 21:15] aloubyansky opened #1782 "Classes directories are not added to the classpath in dev mode"
ClassLoaderCompiler adds only JARs to the its classpath ignoring directories and everything else. In dev mode we perform workspace discovery and where possible using classes directories instead of the installed JAR artifacts. In case of a multi-module project when one of the module appears as a dependency, its classes will appear in the directory. When the main project is recompiled, the dependenc

[2019-04-01 06:17] geoand commented on #1749
@mkouba I am thinking for the time being we should just go with the straight-forward of having `@QuarkusTest` be a bean defining annotation.
Should the need for a more complex solution (like the one I proposed above) arise, I think we could reevaluate. WDYT?

[2019-04-01 06:26] jmartisk commented on #1742
The problem occurs if you have a bean (it doesn't need to be ApplicationScoped) which contains a `@Gauge` as the only metrics annotation. If you add any other metric annotation (like `@Counted`) anywhere in the class, it will start working. This can be used as a workaround.

I think the problem stems from the fact that adding a `@Gauge` annotation binds a `MetricInterceptor` to only the constructo

[2019-04-01 06:37] geoand commented on #1742
@jmartisk do you not think that the `@Gauge` annotation itself is problematic like I described above?

[2019-04-01 06:47] jmartisk commented on #1742
@geoand No, I don't think it has anything to do with it. The fact that a Gauge annotation is not inherited is a design decision in the MP Metrics spec. And there is no class inheritance needed to reproduce this issue.

[2019-04-01 06:55] geoand commented on #1742
I could obviously be wrong @jmartisk since this is not my wheelhouse, but when I was debugging this issue I saw that https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeployment.java#L351 was not picking up the interceptor bindings for `@Gauge`, while it was for the other MP Metrics annotations - and my guess is that that

[2019-04-01 07:03] jmartisk commented on #1742
@geoand that's because a gauge doesn't have its own interceptor binding annotation (unlike the others), it is bound to the lifecycle of the bean using the vendor-specific `io.smallrye.metrics.interceptors.MetricsBinding`. Look into https://github.com/eclipse/microprofile-metrics/tree/1.1.1/api/src/main/java/org/eclipse/microprofile/metrics/annotation see the `@Gauge` annotation itself it not an in

[2019-04-01 07:08] geoand commented on #1742
Got, thanks for the explanation @jmartisk!

[2019-04-01 07:10] cescoffier commented on #1782
At the same time, the target/generated-sources directory should also be managed. No?

[2019-04-01 07:12] cescoffier commented on #1773
Definitely, we should better handle build failure.

[2019-04-01 07:13] cescoffier commented on #1766
The first step is to try with the upstream artifact and see if it works out of the box.

Then, we would need to depends on quarkus-camel instead of the upstream camel.

[2019-04-01 07:14] cescoffier commented on #1750
@andresetevejob you can pick any of the opened issue. Once you decide on one, just add a comment to the issue saying that you are working on this. I recommend to pick one of these:
https://github.com/quarkusio/quarkus/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2019-04-01 07:15] #1750 closed

[2019-04-01 07:40] sarxos opened #1786 "NPE from BeanManagerImpl when injecting beans in unit test"
Hello @mkouba,

This is in regards to the issue we discussed today on Zulip.

I have a 3rd party class which cannot be annotated with bean definintg annotation and I create factory for it.

[code]

A factory such as:

[code]

Everything works fine when I have it in `@Path` annotated resource, but when I inject it in unit test which does not have a bean defining annotation, I'm getting NPE from `Be

[2019-04-01 07:43] mkouba commented on #1786
This issue is related to https://github.com/quarkusio/quarkus/issues/1749

`SomeRef` is probably not used in the app code.

[2019-04-01 08:10] #1474 closed

[2019-04-01 08:22] sarxos commented on #1786
@mkouba Yes, this is correct. It is used in unit test only.

Just a side note. In practice I will have many such beans and related factories because project I'm working on will be used as a dependency. My goal is to have CDI compliant Akka integration layer which can be then used in any Quarkus-based applications. This integration layer, however, will not define any resources or REST/WS endpoints

[2019-04-01 08:32] Ladicek commented on #1049
To me, `src/main/webapp` means Maven WAR plugin. Which wouldn't be the case here. If the directory is supposed to be processed by the Quarkus Maven plugin, it should have a different name IMHO.

[2019-04-01 08:33] mkouba commented on #1749
@geoand Yes, makes sense. Would you like to send a PR? BTW we should probably also check the JUnit4 runner.

[2019-04-01 08:35] rsvoboda commented on #1049
Sure, but on the other hand `webapp` directory is de facto standard and we should make the transition for users as easy as possible.
Stuart said it could be relatively easy to cover webapp directory too in Quarkus Maven plugin.

[2019-04-01 08:38] geoand commented on #1749
@mkouba Sure thing, I will take care of it either tonight or tomorrow morning :)

[2019-04-01 08:44] masini commented on #1049
This is not only a matter of developer's habit.

Is a common pattern to have the static part of a system on another module in Maven and thanks to WAR overlay during build this is merged inside the real application.

I don't care to continue to use this plugin, but I need another way to achieve the same goal.

[2019-04-01 09:16] gsmet commented on #1772
Class of interest if someone wants to take it: `RuntimeUpdatesProcessor`.

[2019-04-01 09:19] gsmet commented on #1779
I wonder if this extension could help you: https://github.com/hpehl/quarkus-grpc-extension .

@hpehl ?

[2019-04-01 09:20] karesti commented on #804
@Sanne I understand you point! Probably I've been not clear myself. My question was more about @wburns that has put in the documentation that we added it because now is actually needed for technical reasons in native, but that we will remove it when this will be corrected. Which is exactly the opposite - at my understanding - to what you are asking in this issue (that dependency should stay regard

[2019-04-01 09:41] hpehl commented on #1779
I'm not familiar with the  Google Vision APIs SDK, but I'm facing similar issues in my gRPC extensions:

I got native working for the [gRPC](https://github.com/hpehl/quarkus-grpc-extension) extension by adding Netty related gRPC [substitutions](https://github.com/hpehl/quarkus-grpc-extension/blob/master/runtime/src/main/java/io/quarkus/grpc/runtime/graal/GrpcNettySubstitutions.java).

However for

[2019-04-01 10:00] Sanne commented on #1772
thanks @geoand ! You're right, I meant #1736. Edited.

[2019-04-01 10:08] geoand commented on #1772
You are welcome @Sanne :)

[2019-04-01 10:10] cniweb opened #1790 "add extensions in gradle"
Implement functionality to automatically add extensions to your Gradle project

[2019-04-01 10:11] jmartisk opened #1791 "@AroundConstruct method returning Object works only if it's private"
`InterceptorGenerator` incorrectly assumes that return type from an `@AroundConstruct` method is void, but the specification allows `Object` too (https://docs.oracle.com/javaee/7/api/javax/interceptor/AroundConstruct.html).

When the method is private, it will work because `InterceptorGenerator` will use a reflection fallback and find the method to invoke by name and param types only (so the retur

[2019-04-01 10:16] cniweb commented on #1790
An initial implementation already exists, but unfortunately without function:
https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusAddExtension.java

[2019-04-01 10:26] cniweb opened #1793 "publish gradle plugin to the gradle plugin portal"
Publish gradle plugin to the gradle plugin portal.

How it works, see:
https://plugins.gradle.org/docs/submit

[2019-04-01 11:42] johnaohara commented on #1781
Thanks @gsmet and @geoand for pointing out the documentation `@RegisterForReflection` did the trick.

[2019-04-01 11:42] #1781 closed

[2019-04-01 12:06] aloubyansky commented on #1782
yes, it should be. I plan to review this whole thing to add proper support for multi-module dev mode. I wanted to fix the immediate issue the user faced.

[2019-04-01 12:06] #1782 closed

[2019-04-01 12:22] aloubyansky opened #1795 "Remove hardcoded offline setting preference for dependency resolution"
Whether the remote artifact resolution should be allowed or not should be either an explicit user choice or coming from the default (user) configuration of the underlying dependency resoloving mechanism (e.g. maven), which is outside of Quarkus territory.

[2019-04-01 12:29] mkouba commented on #1791
Well, it is allowed and it's IMHO quite useless and misleading. But the truth is that in theory it should be possible to intercept both `AroundConstruct` and `AroundInvoke` with one method and so we should fix it.

[2019-04-01 12:54] FroMage commented on #1724
OK thanks. I can reproduce now. It turns out that this is due to the test classloader using `OrdiniService` from `target/classes` (unaugmented) instead of `target/test-classes` (augmented) as soon as I try to inject this service in the test. Removing the injection makes the right service be used.

[2019-04-01 13:09] aloubyansky opened #1797 "ID-based invalidation of the bootstrap CP cache"
Current bootstrap classpath cache invlidation is based on a latest timestamp of a pom.xml in the workspace. That potentially could not be enough in case some of the pom.xml files get updated (from a remote repository) with a timestamp that appears to be earlier than the recorded latest one, resulting in the CP cache not being invalidated.
Instead of relying on the latest timestamp, some kind of ha

[2019-04-01 13:10] kenfinnigan commented on #1797
Is it not possible to use the Maven metadata in the local repository for an artifact to know if it was updated?

[2019-04-01 13:26] stalep commented on #1790
Hi, yes it's on our todo :)

[2019-04-01 13:31] aloubyansky commented on #1797
@kenfinnigan possibly. Another requirement though is that it has to be fast, which is why I'm looking for a solution which is kind of on the surface. I am going to get a hold of the pom.xml files no matter what, so they will be right there for me. Reading artifact descriptions will mean creating requests and interpreting the results which will cost more and then I'll still have to be tracking upda

[2019-04-01 13:55] #1742 closed

[2019-04-01 13:58] vorburger commented on #1305
@siamaksade OK for you to close this issue, now that both https://github.com/quarkusio/quarkus-quickstarts/pull/81 as well as #1353 have been merged, and that https://github.com/quarkusio/quarkusio.github.io/pull/126 is hopefully about to be merged?

[2019-04-01 14:04] gastaldi opened #1799 "Download recommended GraalVM automatically when -Pnative is used"
It would be nice to to have a feature to download and set the required `GRAALVM_HOME` env when `-Pnative` is enabled. (Maybe store the downloaded GraalVM somewhere under a ~/.quarkus directory or ~/.m2)

[2019-04-01 14:08] #1795 closed

[2019-04-01 14:16] FroMage commented on #1724
OK I got it: what happens is that JUnit loads the `OrdiniService` class in its classloader (which as `test-classes` (augmented) and `classes` (non-augmented) _before_ we generate the augmented classes. And once they are loaded it's too late.

@stuartwdouglas or @dmlloyd didn't we already have an issue related to junit class loading in the past? Any idea what we can do here?

[2019-04-01 14:50] #1759 closed

[2019-04-01 15:08] sarxos opened #1802 "No qualifiers available from InjectionPoint (always EMPTY)"
Hi @mkouba,

This is in regards to the problem I described on Zulip. Let me elaborate on this a little more. I have a test bean where I inject qualified injectees:

[code]

And I have a factory which produces these qualified injectees:

[code]

My qualifier is the following and is special in a way that it has a `@Nonbinding` value definition (not sure if this is important) in order to bind my prod

[2019-04-01 15:21] mkouba commented on #1802
Ok so the problem is that a `BuuTest` test instance used by JUnit is not a bean instance managed by the container and so the correct `InjectionPoint` info is not provided. Even if you annotate the test class with `@Singleton` the real test instance is just: [new BuuTest()](https://github.com/quarkusio/quarkus/blob/master/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtensio

[2019-04-01 15:21] gsmet opened #1803 "Warn in dev mode: Unrecognized configuration key "quarkus.undertow.resources" provided"
When creating a simple project with:
[code]
and running:
[code]
we end up with the following warning:
[code]

[2019-04-01 16:35] gsmet commented on #1803
@stuartwdouglas was it supposed to be exposed to the users? In which case, it should be made proper MP config or do we make it `quarkus-internal.`?

[2019-04-01 17:02] gsmet commented on #1764
This is a regression: it was working correctly in 0.11.0.

The regression was caused by: https://github.com/quarkusio/quarkus/pull/1375

[2019-04-01 19:11] davsclaus opened #1807 "Camel Extension - Native binary does not output Camel version"
The native compiled binary does not output the Camel version when you run it

Native
[code]

vs JVM
[code]

Notice how the JVM mode outputs version 3.0.0-M2 and its blank in the native mode.

@gnodet @lburgazzoli its likely due that Apache Camel loads its version from the classpath by looking inside the maven meta-data to grab the version (AFAIK). So for quarkus we need to do something that does t

[2019-04-01 21:51] #1712 closed

[2019-04-01 22:51] #1730 closed

[2019-04-02 07:59] #1797 closed

[2019-04-02 08:33] #1791 closed

[2019-04-02 08:46] johnaohara commented on #1636
@cescoffier @Sanne I have created a PR #1810 Not sure about windows build, but will wait on CI to see if it builds on windows

[2019-04-02 08:53] stalep commented on #1793
It is also in the todo :)

[2019-04-02 09:37] #1749 closed

[2019-04-02 09:41] gsmet commented on #1374
@aesteve please open a new issue with a reproducer. Thanks!

[2019-04-02 09:47] geoand commented on #1374
I would suggest @aesteve that you try `0.13.0` once it's out in a few days since there have been a lot of changes in this area.

[2019-04-02 09:52] sarxos commented on #1749
Thank you @geoand :)

[2019-04-02 09:53] geoand commented on #1749
You are welcome @sarxos !

[2019-04-02 10:22] #1589 closed

[2019-04-02 11:55] mkouba commented on #1802
I think that these are valid questions. It should be possible to set a simulated injection point metadata in [ArcTestResourceProvider](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ArcTestResourceProvider.java). The `InjectionPoint.getBean()` method would return `null` but that's expected and you would get the same result when in

[2019-04-02 12:29] sarxos commented on #1802
Thank you @mkouba. Please let me know if I can help somehow.

[2019-04-02 13:39] manovotn commented on #1802
@mkouba would it make sense to let Arc create the test class instance? E.g. make it a bean?
I can see the instance if currently just created via constructor and treated as an injection target, but maybe swapping that around and having it as dependent (because it's probably recreated on a per-method basis) bean would be an option?

The method you posted from `QuarkusTestExtension` supplies the test

[2019-04-02 13:48] evanchooly commented on #732
We now use `quay.io/quarkus/centos-quarkus-native-image:graalvm-1.0.0-rc14`

[2019-04-02 13:50] mkouba commented on #1802
@manovotn AFAIK there are some classloading issues connected to this approach. At some point the test instances were beans but they're not anymore. I don't remember the details but @stuartwdouglas probably does ;-). Anyway, I have a fix and I'm going to send a PR in a moment.

[2019-04-02 14:10] cescoffier commented on #732
Yes, we control what's inside, and typically we have a version providing Maven and a few other tools (required for KNative)

[2019-04-02 14:22] davsclaus commented on #1807
Here is how the version is loaded
https://github.com/apache/camel/blob/926cb1b2a41730db4334c5e917a72487ceb6e32f/core/camel-core/src/main/java/org/apache/camel/impl/AbstractCamelContext.java#L2193

[2019-04-02 14:25] gnodet commented on #1807
Yes, we need to specify to the substrate VM that the file needs to be preserved.  Another (better) way would be to load the version at build time and add a substitution to avoid having to load the file at runtime and hardcode the version loaded at build time somehow.

[2019-04-02 14:43] cescoffier commented on #1305
This can be closed. quarkusio/quarkusio.github.io#126 need a bit of rework (very very small ordering issue).

[2019-04-02 14:43] #1305 closed

[2019-04-02 17:22] #1802 closed

[2019-04-02 17:39] starksm64 opened #1819 "Investigate changing the test-extension jaxb dependency to io.quarkus.jaxb."
A current update to the test-extension introduce a jaxb dependency on the standalone libraries rather than our jaxb extension due to concerns about dependencies from the core module on other extensions. We need to verify that this can be swapped out and remove the library dependency for the next release.

[2019-04-02 18:08] #1122 closed

[2019-04-02 18:37] machi1990 commented on #1772
@gsmet I'd like to give this one a shot. If I am understanding is correct, it involves cleaning the config timestamp registry and potentially removing the file from `target`?

[2019-04-02 18:38] rsvoboda opened #1820 "ReflectiveHierarchyStep - io.vertx.core.json JsonArray/JsonObject, PanacheEntity"
When running QS I see warnings for [io.quarkus.deployment.steps.ReflectiveHierarchyStep] Unable to properly register the hierarchy of the following classes for reflection as they are not in the Jandex index

Reported classes
	- io.quarkus.hibernate.orm.panache.PanacheEntity
	- io.vertx.core.json.JsonArray
	- io.vertx.core.json.JsonObject

Similar changes were done for https://github.com/quarkusio/

[2019-04-02 21:02] anadollu opened #1825 "gradle plugin does not consider application.properties file"
Steps to reproduce
1. convert Application Config project from quarkus-quickstarts projects to gradle project
https://github.com/quarkusio/quarkus-quickstarts/tree/master/application-configuration
2. build and run  directly (java -jar)  or gradle quarkusDev
3. then you will get an exception " javax.enterprise.inject.spi.DeploymentException: No config value of type class java.lang.String exists for:

[2019-04-02 21:25] drissamri commented on #1487
Since that issue is fixed, is there any chance AWS Lambda support will happen soon @dmlloyd?

[2019-04-02 21:43] dmlloyd commented on #1487
Once GraalVM RC15 is released, then that should solve this.  But I think @evanchooly has AWS Lambda more or less functional at this point either way.

[2019-04-02 22:04] Teg79 opened #1827 "Development mode quarkus:dev not working with kotlin sources"
In my project there is the kotlin extension.
When I run the `quarkus:dev` mode the server starts correctly but if I modify the sources the live recompile and reload doesn't trigger.
With java sources it works.

Attached you can find the example project
[getting-started.tar.gz](https://github.com/quarkusio/quarkus/files/3036062/getting-started.tar.gz)

[2019-04-02 22:07] andresetevejob commented on #447
I want to offer my help on this issue

[2019-04-02 22:19] drissamri commented on #1487
Any idea where I can find the working example? I'd like to demo this at our company asap to get people experimenting 👍

[2019-04-02 22:23] cristhiank opened #1828 "Cannot use @Inject and @TestInstance(TestInstance.Lifecycle.PER_CLASS)"
Quarkus testing brokes when you mark a `@QuarkusTest` with `@TestInstance(TestInstance.Lifecycle.PER_CLASS)` and the test has an `@Inject` field

https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-instance-lifecycle

This happens because Quarkus is bootstrapped in a `@BeforeAll` hook https://github.com/quarkusio/quarkus/blob/ee8e68db3dfc991dad87983a1cda8d2d2faa18d5/test-framework

[2019-04-02 22:32] cristhiank commented on #1828
I wonder if it would be better to do the dependency injection implementing the JUnit `TestInstancePostProcessor` extension point ?. But I don't know all the implementation details

https://junit.org/junit5/docs/current/user-guide/#extensions-test-instance-post-processing

[2019-04-03 00:36] evanchooly commented on #1487
I have a working implementation.  I filed PR #1822 today.  There's an unexpected failing test in there I'll have to track down tomorrow morning.  I have a working example in a git repo on my drive.  I'll clean it up and push it to github tomorrow.

[2019-04-03 02:29] danilocgomes commented on #1762
I'm facing same error here, do you have any update?

[2019-04-03 04:58] gastaldi opened #1829 "Support customization of the project name and version in logs"
The log says:

[code]

It would be nice if the project name and version could be customized in the logs, like in the example below:

[code]

[2019-04-03 05:01] gastaldi commented on #1829
Bonus points if this customization can be specified through Microprofile Config (`application.properties`)

[2019-04-03 06:16] geoand commented on #1827
Hi @Teg79 ,

The Kotlin reload use case works fine when Maven is properly configured. I would suggest that you create a project using:

[code]
and building up your project from there.

I am going to close this for the time being. If you create a project like I mention above and then still run into problems, feel free to reopen.

[2019-04-03 06:16] #1827 closed

[2019-04-03 06:19] geoand commented on #1825
Hi @anadollu

There have been a lot of changes on the gradle front since `0.12.0`. I would suggest that you either try using `master` or wait (a few hours most likely) for `0.13.0` to see if the problem has been fixed.

[2019-04-03 06:20] stalep commented on #1825
Yes, this have been fixed in master and will be visible in the upcoming `0.13.0` version.

[2019-04-03 06:20] #1825 closed

[2019-04-03 06:21] geoand commented on #1775
The flyway PR has been merged, OK to close the issue @pipinet ?

[2019-04-03 07:07] #1728 closed

[2019-04-03 08:17] gsmet commented on #1710
For now, the issue was documented. @starksm64 will work on a solution for the next release.

[2019-04-03 08:20] manovotn commented on #1828
Hmm, `TestInstancePostProcessor` probably won't help here. Quarkus is booted in `beforeAll()` and this  invocation will still come first if the lifecycle is set to `PER_CLASS`.

Maybe it would make sense to instead move the Quarkus boot to `createInstance()` and store some information about it into context store so we do it only once per test class. Then you could be always sure that you have quar

[2019-04-03 08:28] FroMage commented on #1820
I'm not sure I understand this TBH. @gsmet you do?

[2019-04-03 08:30] FroMage commented on #1632
We do indeed.

[2019-04-03 08:33] FroMage commented on #1537
Why don't you get similar errors for all things that require scopes? Like ArC, RESTEasy and others? Surely if all contexts are lost with those annotations you would have noticed the problem sooner, no?

[2019-04-03 08:36] geoand commented on #1828
Having Quarkus booted only once is a design decision as far as I understand (we only want to do it once since it contains the entire augmentation phase which is something we don't want running multiple times).
So perhaps we should also perform the same check that is done in `beforeAll` (meaning that we could maybe check the state and call `doJavaStart` iff the state does not contain the Quarkus in

[2019-04-03 08:36] FroMage commented on #1368
This is actually not possible (we tried) because static methods don't capture enclosing type parameters.

But we could propose a return type of `Optional`

[2019-04-03 08:41] manovotn commented on #1828
@geoand yeah I understood as much.
There is already most of the logic needed to check if we are booted (`ExtensionState` is being stored into root context), so I am now testing that moving it into `createInstance()` won't break anything.

[2019-04-03 08:42] geoand commented on #1828
@manovotn awesome!

[2019-04-03 08:43] sarxos opened #1832 "NPE from ArcAnnotationProcessor when default value() is used"
Hello @mkouba ,

This is in regards to the issue we discussed today on Zulip.

After using `jandex-maven-plugin` to generate `META-INF/jandex.idx` I'm getting errors from all my tests.

Maven plugin I used:

[code]

And the stack trace I'm getting is:

[code]

The source code (at revision with jandex failure):

https://github.com/sarxos/abberwoult/tree/00dd5d0a182f8ea85657044a4e4a228a7d828756

The

[2019-04-03 08:48] mkouba commented on #1832
FYI a PR to upgrade Jandex in the Maven plugin: https://github.com/wildfly/jandex-maven-plugin/pull/13

[2019-04-03 08:59] gsmet commented on #1820
Ah ah, funny. Just saw this issue and I already added an ignore rule for the Vert-x ones here: https://github.com/quarkusio/quarkus/pull/1833 .

As for `PanacheEntity`, I plan to fix it as part of my review of https://github.com/quarkusio/quarkus/pull/1654 .

[2019-04-03 09:10] mkouba commented on #1832
Unfortunately, I see no other way to obtain the default value from the jandex index and so the only thing we could do is to improve the exception message so that a user knows how to fix it.

[2019-04-03 09:24] phillip-kruger opened #1837 "Calling Config#getPropertyNames() leads to an exception"
Hi All.

When using version 999-SNAPSHOT, I get this error when trying to get all the property names of the Injected Config Object from MicroProfile Config:

[code]
I recreated the issue using the **quarkus-quickstarts**. I just added the following to **GreetingResource.java** in the getting-started project:

[code]
see:
https://github.com/phillip-kruger/quarkus-quickstarts/blob/master/getting-sta

[2019-04-03 10:14] jmartisk commented on #1435
So an update to the previous comment, this will be done by reading the Jandex index during STATIC_INIT and eagerly initializing annotated metrics that are found in it. It will require some enhancements for SmallRye Metrics so that it will be possible to initialize Metrics using Jandex data (currently SR-M only allows this from `java.lang.reflect` and CDI constructs, which we can't obtain in Quarku

[2019-04-03 10:17] jmartisk commented on #483
This looks like a job for the enhancement I'm currently working on via https://github.com/quarkusio/quarkus/issues/1435 - metrics declared by annotations will be registered automatically during build. I'm currently planning to get that in along with upgrade to SmallRye Metrics 2.0, after that is released (or if there's a requirement to get it in really fast I could backport it to SR-M 1.1.x).

[2019-04-03 10:35] hwellmann opened #1839 "NPE in io.quarkus:quarkus-maven-plugin:0.12.0:build"
`quarkus-maven-plugin:build` fails with a `NullPointerException`:

[code]
The detailed stack trace is:

[code]

I don't fully understand what's going on here, but there seems to be a broken API contract: `io.quarkus.arc.processor.Beans.hasQualifier(ClassInfo, AnnotationInstance, Collection<AnnotationInstance>)` expects the third argument to be non-null, whereas `BeanDeployment.findDisposer()` call

[2019-04-03 10:39] mkouba commented on #1435
@jmartisk In fact, we can obtain `java.lang.reflect` constructs in STATIC_INIT and we already do this for example in SmallRye Reactive Messaging integration. See also the [processor](https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java#L104-L128) and

[2019-04-03 10:45] stalep commented on #1584
In master, with this block in your build file:
`
quarkus {
    setSourceDir("src/main/kotlin")
    resourcesDir().add(File("src/main/resources"))
    setOutputDirectory("build/classes/kotlin/main")
}
`
Running `gradle quarkusDev` works, atm we're looking into fixing the plugin to work with the default values as well.

[2019-04-03 10:58] Teg79 commented on #1827
Thanks @geoand ,
The archetype from scratch it's working.
If you create the project without the `kotlin` extension and add it later, it adds only the dependency, the kotlin maven plugin is missing.

PS
there is a typo in your command, the working version is:
[code]

[2019-04-03 10:59] geoand commented on #1827
Good to know @Teg79 :)

[2019-04-03 11:10] himanshukapoor04 opened #1840 "Support sending emails in native mode"
I am creating a service using quarkus framework to send emails. This service use Apache commons email library to send emails over SMTP. If I create a native image then the email is not sent with the following root cause
[code]
It works fine otherwise if the service is executed through jar file.
Complete stack trace is
[code]

Sample code to reproduce this
[code]

[2019-04-03 11:33] #1743 closed

[2019-04-03 13:31] dmlloyd commented on #1762
I have a patch that should be (mostly) working to solve this but I've hit a Substrate internal error.

[2019-04-03 13:36] gastaldi opened #1842 "Native: Timezone in logs is fixed to the environment used to build the native image"
When running the native image, the timezone used in the logs is always the same as the `TZ` environment used while building the image

[2019-04-03 13:38] gastaldi opened #1843 "Error: Unsupported method java.net.NetworkInterface.isLoopback0(String, int) is reachable: Native method in Artemis JMS client"
I can't use the `org.apache.activemq:artemis-jms-client` dependency directly because it fails with the following error when creating the native image:

[code]

[2019-04-03 13:40] sberyozkin opened #1844 "Update to smallrye-jwt 1.1.3"

[2019-04-03 14:26] #1393 closed

[2019-04-03 14:26] #1764 closed

[2019-04-03 14:26] #1803 closed

[2019-04-03 14:32] himanshukapoor04 commented on #1840
Tried adding the java files which native image couldn't find using below code
`
import com.sun.mail.smtp.SMTPTransport;
import lombok.extern.slf4j.Slf4j;
import org.graalvm.nativeimage.Feature;
import org.graalvm.nativeimage.RuntimeReflection;

@AutomaticFeature
@Slf4j
public class RuntimeReflectionRegistrationFeature implements Feature {

    @Override
    public void beforeAnalysis(BeforeAnalysi

[2019-04-03 15:35] andrejpetras opened #1847 "Add JsonFormatter support for the log"
Hi,

it would be gread to have possibility to configure the JsonFormatter for the logs.
We can overwrite the configuration with a @BuildItem and StartupEvent but this is not nice.

For example:
[code]

Thanks
Andrej

[2019-04-03 16:26] ddcprg commented on #1766
I've got a working example but as soon as I try to use `quarkus-camel-core` the application fails. I noticed that this artifact has a dependency on Camel 3 (which is still under development). I think this is causing the exception since `smallrye-reactive-messaging-camel` depends on previous version 2.3.1.

I'll try to clean up the code a little bit and push it a public repo in my account.

[2019-04-03 18:08] ddcprg commented on #1766
I have created this repo https://github.com/ddcprg/camel-stream-test

At the moment I'm not using the Smallrye annotations to define the stream and instead I'm just creating the reactive stream with a Camel route subscriber.

This example uses Camel 3.0.0-M1 and I manage to get it working with `smallrye-reactive-messaging-camel` version _0.0.4_ compiled to use this version of Camel. If I try to us

[2019-04-03 19:37] Teg79 commented on #1827
My fault, the problem wasn't the kotlin extension but the Vert.x extension.
If I understand correctly the reload is triggered by a http request on undertow, if I don't use undertow (I removed the resteasy extension) but the vert.x web server, the reload automation is not working also with java

[2019-04-03 20:28] pedroigor opened #1849 "Keycloak Extension"
This issue is about providing an extension to protect Quarkus applications using Keycloak. Keycloak provides "adapters" for different platforms and servlet containers, including Undertow.

This extension should leverage the existing integration with Undertow in Keycloak and provide the same capabilities just like any other Keycloak adapter.

[2019-04-03 21:23] Sanne opened #1850 "Allow passing more parameters to NativeImageLauncher"
The `io.quarkus.test.common.NativeImageLauncher` should allow to pass some more parameters and system properties to the native image.

[2019-04-04 08:50] #1828 closed

[2019-04-04 09:05] mkouba commented on #1837
Looks like a RESTEasy bug: https://issues.jboss.org/browse/RESTEASY-2213

[2019-04-04 10:14] #1832 closed

[2019-04-04 10:49] rsvoboda commented on #1850
Just for the record: Related to neo4j investigation work - https://github.com/michael-simons/quarkus/commit/efe9b27abd2e3a49ebf29c5eabbb0ee60b962426#commitcomment-33025378

[2019-04-04 11:28] #1839 closed

[2019-04-04 11:32] himanshukapoor04 commented on #1840
Registered few more Java classes as given below
`
RuntimeReflection.register(multipart_mixed.class);
            RuntimeReflection.register(multipart_mixed.class.getMethods());
            RuntimeReflection.register(multipart_mixed.class.getDeclaredClasses());
            RuntimeReflection.register(multipart_mixed.class.getDeclaredConstructors());

            RuntimeReflection.register(text_html.

[2019-04-04 13:29] gsmet commented on #1840
There are 2 approaches here:
- either we make it work by adding things in quarkus-core as we consider mail should work out of the box
- or create a specific extension for emailing support

I lean towards the second option as a lot of applications won't need the emailing layer and low level Java stuff often requires a ton of classes.

@machi1990 I wonder if you would be interesting trying to put to

[2019-04-04 15:00] tsegismont opened #1862 "Reactive Postgres Client extension"
The [Reactice Postgres Client](https://reactiverse.io/reactive-pg-client/guide/java/) is a client for Postgres with a straightforward API focusing on scalability and low overhead.

The goal of issue is to gather requirements for a Quarkus extension and discuss technical details.

- Expose a PgPool instance for all supported shims (bare, Axle, RxJava)
- Use quarkus datasource usual properties for c

[2019-04-04 15:24] FroMage commented on #1862
That would be fine, but it would prevent using both Hibernat eORM and reactive-pg-client in the same application. But I think it's OK: they're essentially two different drivers.

Absolutely: it's even more useful precisely because it's not an ORM so we always need a file to create the schema.

[2019-04-04 15:24] FroMage commented on #1862
Note that my panache-rx branch already has some of those pieces, so feel free to steal them from there :)

[2019-04-04 15:33] tsegismont commented on #1862
Roger that

Le jeu. 4 avr. 2019 à 17:24, Stéphane Épardaud <notifications@github.com> a
écrit :

[2019-04-04 15:59] Sanne commented on #1862
Why is that ok? And even two drivers should be possible to be used in the same application.

[2019-04-04 16:02] Sanne commented on #1862
Sure why not. But I don't see why you relate it to "not being an ORM" :)

Automatically importing a sql script is some added value that ORMs often do but it's not defining them.

Incidentally, I'm not sure why the extension of the driver should do such things? It doesn't feel like such added value belongs in here.

We also have the Flyway extension, maybe it should integrate with that one if you w

[2019-04-04 16:03] gsmet commented on #1820
This is now fixed by the PRs mentioned above.

[2019-04-04 16:03] #1820 closed

[2019-04-04 16:08] gsmet commented on #1732
I have a patch for it but it's a bit more invasive than planned and we release soon. Let's move it to the next release.

[2019-04-04 16:16] gsmet commented on #1772
Yes, exactly, if a watched config file is not present anymore, we need to delete it.

As for classes, we have the same issue but it's not as simple as you don't have a 1-1 mapping between a source file and a class file (think of inner classes for instance).

I would deal with the config file in this issue and maybe open a new issue for the class files.

[2019-04-04 16:18] tsegismont commented on #1862
Sorry it was not clear enough. I meant that both Hibernate and Panache extension use the `quarkus.hibernate-orm.database.generation` property for DML.

The extension would do nothing particular to discriminate DDL for DML statements. I was just wondering if using DDL statements in `import.sql` for the extension guide was fine.

I would definitely advise users to use Flyway in production, but that

[2019-04-04 16:56] gsmet opened #1867 "Add a test getting all the MicroProfile config properties"
RESTEasy 4.0.0.CR1 broke it and it's really something we cannot afford in Quarkus as people are relying on MicroProfile Config to work as expected.

[2019-04-04 17:51] machi1990 commented on #1772
@gsmet it is okay. Thanks for getting back. I'll look on this later tonight and propose a patch.

[2019-04-04 17:55] gsmet opened #1868 "bootstrap cache directory should be nested"
As discussed with @aloubyansky and @evanchooly, the `boostrap` directory created in `target/` should be nested in a directory, be it `.quarkus` or whatever.

Currently, it conflicts with a `boostrap` file created by `AmazonLambdaProcessor`.

[2019-04-04 17:56] gsmet opened #1869 "AmazonLambdaProcessor bootstrap file writing should be cleaned up"
At least, the following code should be removed and a proper exception should probably be thrown:
[code]

[2019-04-04 20:12] dmlloyd opened #1871 "User configuration sources are not registered"
They should be registered along with the system configuration sources for run time.

[2019-04-04 22:42] Sanne commented on #1862
hi @tsegismont ! no worries I'm not at all saying that having a DDL statement in there is a problem. I only made some questions :)

I'm just wondering if it's useful for a client extension to auto-import a script? As a user I wouldn't expect this functionality to be provided by a Quarkus extension, so I wonder how useful it is, and if people will be able to find that this capability exists.
Maybe

[2019-04-04 23:43] rgcostea opened #1874 "Gradle quarkusBuild fails when referencing local project"
When building a multi-project configuration, quarkusBuild does not find the path to the jar file.  I have a dependency to a local project defined like so:

`
dependencies {
    api project(":my-util")
}
`

The build then fails with the following exception:

`io.quarkus.creator.AppCreatorException: Failed to build a runner jar
        at io.quarkus.creator.phase.runnerjar.RunnerJarPhase.provideOutc

[2019-04-05 02:24] #1869 closed

[2019-04-05 03:52] gastaldi commented on #880
I can confirm that adding the following dependency is enough. Tested in 0.12.0:
[code]

Example: https://github.com/fabric8-launcher/launcher-backend/blob/02910f3aa9606507302ccba544d529ea6d9acac3/web/pom.xml#L85-L88

[2019-04-05 04:02] davsclaus commented on #1807
Okay @gnodet - I noticed that get version was not eager loaded in camel-core so I added this
https://github.com/apache/camel/commit/35375403ab20f4aceb88ab26e54ca694803236d0

We could also optimise camel upstream and have the version source code generated and avoid loading that maven pom.xml file

[2019-04-05 06:56] aloubyansky opened #1877 "bootstrap maven plugin goal to display build dependency tree"
This will be similar to `mvn dependency:tree` but display the tree of application dependencies including the deployment ones used by Quarkus to build the executable.

[2019-04-05 07:02] mkouba opened #1880 "Make javax.ws.rs.ApplicationPath a bean defining annotation"
I'm not quite sure wheter it will be of any use but it would comply with JAX-RS spec requirements.
The corresponding `BeanDefiningAnnotationBuildItem` should be unremovable (default) and have the default scope: `@Singleton` or `@ApplicationScoped`.

[2019-04-05 07:05] mkouba commented on #1880
In fact, we should probably make the `javax.ws.rs.ext.Provider` a bean defining annotation too. And add a test that custom provider supports injection. @gsmet WDYT?

[2019-04-05 08:14] #1868 closed

[2019-04-05 08:52] himanshukapoor04 commented on #1840
@gsmet I assume this code in  **MailCommanndMap** is not getting executed properly. It could be because of the reason that files from META-INF of activation.jar are not getting copied over in graalvm image.
[code]

[2019-04-05 08:57] gsmet opened #1882 "Have a more advanced strategy to enable/disable DocumentProvider"
We disabled `DocumentProvider` which deals with `org.w3c.dom.Document` entirely in Quarkus as, with the default provider resolution, as soon as XML is produced/consumed, it embarks a significant amount of code in the native image, even if not used at all.

A more advanced strategy based on the return type/parameter types of the endpoint methods would probably be nice for this particular provider.

[2019-04-05 09:01] gsmet commented on #1840
@himanshukapoor04 good detective work.

Looks like we now have everything to write a `quarkus-mail` extension :). Who wants to do it?

[2019-04-05 10:05] johnaohara opened #1883 "Performance Measure guide has incorrect Date command"
The date command to measure startup time should be `date +"%T.%3N"`

[2019-04-05 10:11] johnaohara commented on #1883
PR; #1884

[2019-04-05 10:15] #1883 closed

[2019-04-05 10:33] himanshukapoor04 commented on #1840
@gsmet I can do it.

[2019-04-05 10:38] machi1990 commented on #1840
@gsmet Indeed a nice challenge and I was interested to go for it. But I think we have our taker here @himanshukapoor04: nice investigation of the issue by the way, bravo. I can offer my help if needed.

[2019-04-05 12:23] BiggA94 commented on #1584
It is working with Kotlin only. But if one needs to use Kotlin and Java in one Project, this is still a big Problem.

[2019-04-05 12:36] stalep commented on #1584
Yes, that is true. We're looking into improving this inside Quarkus, but it will not be included in the upcoming release unfortunately.

[2019-04-05 12:54] rbaumgar opened #1886 "Improve schema update for H2 and PostgreSQL and document various dev approaches"
application.properties
[code]
Developer.java
[code]

When I uncomment favoriteFramework, I get
[code]

Actions todo https://github.com/quarkusio/quarkus/issues/1886#issuecomment-486232276

- [ ] H2 to PostgreSQL -> lowercase
- [ ] Document `drop-and-create` vs `update`

[2019-04-05 13:41] hwellmann opened #1887 "Logging configuration ignores environment variables"
It seems that logging configuration only respects system properties but ignores environment variables.

Example:

This disables color output:

    java  -Dquarkus.log.console.color=false -jar application-configuration-1.0-SNAPSHOT-runner.jar

This should do the same, but has no effect:

    QUARKUS_LOG_CONSOLE_COLOR=false java -jar application-configuration-1.0-SNAPSHOT-runner.jar

[2019-04-05 13:45] isikemre opened #1888 "Quarkus cannot use the hibernate-validator constraints in the inherited class/interface"
If you use constraints from the hibernate-validator like [here](https://quarkus.io/guides/validation-guide#rest-end-point-validation) but in a parent interface (or class) the constraints don't work.

### Scenario
**ExampleResourceImpl** is implementing **ExampleResource** (it's a interface).
**ExampleResource** has all `@GET` and `@Path` (JAX-RS) annotations and has also all hibernate validation c

[2019-04-05 13:47] anadollu opened #1889 "Integrate Hibernate Validator with Hibernate ORM"
Normally we expect that a field defined in the Entity class like below

`
@Size(max=100)
@NotEmpty
@Column
private String name;
`

to be generated like that

`name varchar(100) not null`

but currently hibernate ignores these validation annotations and generates

`name varchar(255)`

unless we define all constraints with the @Column annotation.

[2019-04-05 13:51] gsmet commented on #1889
This is more or less expected, we still haven't linked ORM and Validator. Will prioritize it a bit more then!

[2019-04-05 13:52] tsegismont commented on #1862
@Sanne I filed this issue after a discussion on quarkus-dev about #1816.

It's been agreed to create an extension (and not just a guide) providing:

- autoconfig
- db setup in development mode

The motivation is that Quarkus users get a cohesive experience, regardless of the type of application they are writing.

A lot people don't read manuals :man_shrugging: But I have planned to update the guid

[2019-04-05 13:58] #1837 closed

[2019-04-05 13:58] #1867 closed

[2019-04-05 14:09] gsmet commented on #1888
I discussed with @isikemre on Zulip. Currently, it's not implemented, we need to implement it.

[2019-04-05 14:36] gastaldi opened #1890 "@WebFilters are not triggered when the OpenAPI endpoint is called"
Having a WebFilter defined as `@WebFilter(filterName = "CorsFilter", urlPatterns = "/*", asyncSupported = true)`, it never gets triggered when the `/openapi` endpoint is called (from `quarkus-smallrye-openapi`)

[2019-04-05 14:45] dmlloyd opened #1891 "Service providers in application conflict with those from dependencies and/or extensions"
The exception trace looks like this:

[code]

[2019-04-05 14:51] FroMage commented on #1886
@gsmet could this be related to Panache? Or to `update` vs `drop-create`?

[2019-04-05 14:53] FroMage commented on #1862
Well, sure, but that would be two different datasources, right?

[2019-04-05 14:58] gastaldi commented on #1890
Nevermind, I was testing against the wrong URL. Closing it

[2019-04-05 14:58] #1890 closed

[2019-04-05 15:01] masini opened #1893 "WWW-Authenticate Header missing"
Given a protected method in a JAX-RS resource:

    @GET
    @Produces(MediaType.TEXT_HTML)
    @RolesAllowed("user-monitor")
    public String returnBootstrapHTML() {
...

and Elytron configured to use the embedded Auth:

    quarkus.security.embedded.enabled=true
    ...
    ...
    ...
    quarkus.security.embedded.auth-mechanism=BASIC

the curl request doesn't receive the correct header "WWW-A

[2019-04-05 16:24] Sanne commented on #1862
Yes I agree! But you also said "it would prevent using both Hibernate ORM and reactive-pg-client" so I'm confused about that, as I see no reason why this would be prevented since - as you said just know - one can just declare two datasources.

[2019-04-05 16:26] Sanne commented on #1862
@tsegismont makes sense! I'm not opposing doing this, but I'll admit that I would have expected this to be left into "user's hands" like you said.

either way, fine by me - just asked to see if this was considered.

[2019-04-05 16:34] dmlloyd opened #1897 "RestEasy config sources are not registered for reflection"
This means they are not available for discovery within native images.

[2019-04-05 18:06] Sanne opened #1900 "Upgrade to GraalVM 1.0-rc15"
The GraalVM 1.0-rc15 distribution is now available, but the SDK jars aren't in Maven central yet.

[2019-04-06 06:34] sarxos commented on #1786
@mkouba I'm closing this one. After changes you and @geoand did in the master this is not a problem any more and described example testpass all the time. Thank you!

[2019-04-06 06:34] #1786 closed

[2019-04-06 06:36] masini commented on #1893
The problem is that Undertow doesn't challenge until setAuthenticationRequired is triggered.

But this is not triggered untile there a SecurityConstraint.

So I added this single line:

[code]
to "UndertowDeploymentTemplate" and now it works.

From my understanding of how it works, this mean that everyone must be authenticated so doesn't work for anonymous.

May be during template building can che

[2019-04-06 12:23] machi1990 commented on #629
I wanted to give this a short and noticed that tracing is passed to client calls in the following image.
<img width="703" alt="Screenshot 2019-04-06 at 14 00 02" src="https://user-images.githubusercontent.com/10106536/55669324-23b59a00-5876-11e9-8190-9252f183d8d7.png">

I did not understand what more needs to be done.

So in this commit [ef0a44b9f380d943ef5](https://github.com/machi1990/quarkus/co

[2019-04-06 12:39] Auskennfuchs opened #1904 "Lombok annotations not working properly"
When using Lombok and annotate classes with Getter, Setter, Data,...-annotations the code gets compiled with no errors and also the jar ist starting normally. But when using it and try to call some webservice functions it behaves weird. Sometimes the objects are returned correctly, sometimes it crashes with MethodNotFound-Exceptions, sometimes fields are just missing. Especially when you change so

[2019-04-06 13:10] masini commented on #1904
Hi, I ported an existing project with about 300 classes annotated with Lombok without any problem.

The only things I had to change was the scope of the Lombok dependency, from provided to compile to let the runtime hot recompile the changed source code.

[2019-04-06 16:17] tsegismont commented on #1862
@Sanne @emmanuelbernard @FroMage it seems there is no consensus yet on what this extension should or shouldn't do. Trying to summarize the feedback received so far:

- on one hand, there is a will to make it easy for users to consume the Reactive Pg client (in the opinionated platform spirit)
- on the other hand, there is the feeling that the Reactive Pg client is comparable to a JDBC driver, and

[2019-04-07 04:55] Auskennfuchs commented on #1904
Thank you for the hint on the compile scope. After setting this and updating to openjdk11 it's working for me now.

[2019-04-07 04:55] #1904 closed

[2019-04-07 09:19] #1775 closed

[2019-04-07 13:22] dubemarcantoine opened #1906 "Using quarkus-hibernate-orm-panache:0.12.0 with Gradle does not start the server in dev mode"
Hi,
I am trying to get a project with Quarkus using Gradle working, but when I add the `quarkus-hibernate-orm-panache:0.12.0` dependency, the server won't start when I do `gradle quarkusDev`. However, when I remove the dependency, it starts normally. There does not seem to be an error in the Gradle logs.

**Without Panache dependency**
[code]

**With Panache dependency**
[code]

As you can see, th

[2019-04-07 15:43] cescoffier commented on #1862
Hello,

It would be a good start. There are a few adaptation to do regarding the JSON handling. It would be preferable to not have 2 different ways to handling JSON.
I’m also wondering what would be the best approach to integrate the LISTEN feature (but I need to think about it a bit more)

Does that mean the extension won’t support fixtures? I don’t have a strong opinion, but as a user, I love wh

[2019-04-08 02:02] stevespringett opened #1908 "Support for JDO/Datanucleus"
JPA is nice if you use relational databases, but it's a subset of JDO, which handles no-sql and some graph databases without having to deal with SQL or SQL-like syntax. I don't think modern apps would use JPA in the cloud, but perhaps I'm wrong. Anyway, I typically use JDO (because Google AppEngine) for cloud Java apps, so support for Datanucleus would be ideal.

[2019-04-08 08:25] himanshukapoor04 commented on #1840
@gsmet is there any documentation like best practices on creating extensions?

[2019-04-08 08:59] FroMage commented on #1657
Haha, just got bitten by this.

[2019-04-08 09:03] machi1990 commented on #1840
@himanshukapoor04 there is this [writing your extension guide](https://quarkus.io/guides/extension-authors-guide).

[2019-04-08 09:05] geoand commented on #1657
It should be fixed in `master` :)

[2019-04-08 09:25] cescoffier opened #1909 "Migrate the maven invoker ITs tests to the internal test harness"
The maven plugin has 2 types of tests:

* some using the maven invoker plugin
* some using an internal test harness mechanism

The second approach gives more flexibility and should be used for all the tests. This issue is about migrating the tests using the maven invoker plugin to the internal mechanism.