[2021-02-12 17:57] jorsol commented on #15014
Thanks,

BTW have you noticed the leak of `apache-client` and `netty-nio-client` dependencies in the quarkus-app/lib/main? This is one of the reasons I have to exclude those dependencies explicitly, the <optional> is not enforced since is pulled from the main dependency of the service.

So one posible "fix" is to exclude them: https://github.com/quarkusio/quarkus/pull/15046

[2021-02-12 17:58] gsmet commented on #15014
Yeah, I have already committed a change to exclude them in my tree. They should have been optional all along.

Now I need to figure out how to get the recorder working properly.

[2021-02-12 18:00] jorsol commented on #15014
Great, so closing my PR then.

[2021-02-12 18:05] AndreiYu opened #15048 "Quarkus AWS S3AsyncClient doesn't apply default connectionMaxIdleTime set by AWS"
**Describe the bug**
[There was a bug in AWS SDK2.0+ S3AsyncClient ](https://github.com/aws/aws-sdk-java-v2/issues/1122)that caused Netty 'stale' connections to be picked up and reaped by `IdleConnectionReaper` when multiple concurrent async calls were performed. SDK picked up 3 threads that were to be killed by the reaper one by one and it caused retry policy to fail (3 unsuccessful attempts) and

[2021-02-12 19:45] martinoneutrino opened #15049 "Maven phase process-classes is not executed as part of quarkus:dev goal"
**Describe the bug**
Classes are left without byte-code enhancements after compilation, leading to errors at runtime, such as missing interfaces and `ExceptionInInitializerError`

**Expected behavior**
Using the `quarkus:dev` goal, including for hot-reload, will execute the `process-classes` phase so that classes are fully processed before being used at runtime.

**Actual behavior**
The `quarkus:d

[2021-02-12 20:15] geoand commented on #14972
@gsmet let's talk about this one on Monday, okay?

[2021-02-12 20:19] Legion2 commented on #13845
@phillip-kruger Thanks for you work, I tried 1.12.0.CR1 and it works great. Now I only need to wait for https://github.com/smallrye/smallrye-open-api/pull/679 to remove the workaround `oauth2-redirect.html` file.

[2021-02-12 21:24] maxandersen commented on #15030
Thanks for the pointers @kenfinnigan - that helped.

So, as I grok it we introduced two settings:

`quarkus.http.non-application-root-path` which defaults to `/q` to specify the default root to namespace our non-app additions. Thats a good thing IMO.

Then `quarkus.http.redirect-to-non-application-root-path` was added to define wether redirects should be done...but do I read the docs and code righ

[2021-02-12 22:47] radcortez commented on #15033
@jmdsc where you using direct injection of the property with `@ConfigProperty` instead of `@ConfigProperties`?

It seems that we are failing to register `Period` for reflection when it is used in a `@ConfigProperties`.  For `Period` and other time types, an implicit Converter is used that fallbacks to the `parse`,`of`, etc.

For now, you can register it manually in `src/main/resources/reflection-c

[2021-02-12 23:15] frederikb commented on #12724
May I respectfully suggest considering the addition of the `hibernate.use_sql_comments` option to complete the SQL logging trifecta? It is a helpful debugging tool.

Explanation/Example: https://dzone.com/articles/hibernate-debugging-where-does
Reference: https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#_sql_statement_logging

[2021-02-13 00:11] kenfinnigan commented on #15030
`quarkus.http.redirect-to-non-application-root-path` was intended as a bridging mechanism to enable anyone relying on the previous '/*' routes to not be impacted. Clearly, that wasn't the case because not everything handles redirects.

This redirect is applied to all non-application endpoints, not just `/health`, `/metrics`, etc.

Given the experience, it probably makes sense to ditch the redirect

[2021-02-13 00:44] hrstoyanov commented on #14847
Woudl check it this weekend! And TOML (I have not forgotten!) ... You guys rock!

[2021-02-13 00:58] maxandersen commented on #15030
Is that true ? like `/health -> /q/health` works but there is no `/dev -> `/q/dev` or are you saying that the list is "the extensions that mounted into `/<something>` now has the redirect ?

[2021-02-13 02:36] kenfinnigan commented on #15030
All non application endpoints are redirected.

In the VertxHttpProcessor, in the if statement a line below the link above, it checks if the route is a framework one (carryover of old name it seems) and does the redirect.

Any route that calls nonApplicationRoute() on the builder will have the redirect applied

[2021-02-13 06:13] spike83 commented on #2718
I was able to make a workaround.

Therefore I removed https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-client/runtime/src/main/java/io/quarkus/kafka/client/runtime/graal/SubstituteSnappy.java#L26-L65 and builded snapshot

In my project I added the snappy java dependency:

[code]
In addition the native library snappyjava needs to be loaded by:

[code]

This native library file `lib

[2021-02-13 06:34] StefanOltmann commented on #11923
I also run into this problem.

Did you manage to solve it?

[2021-02-13 08:28] maxandersen commented on #15030
...okey so /q/dev is not considered a non application route but something else.

#I'm trying to grok what decides which is a non app route and which is not since if everyone gets added in the / then what is the point of having g /q to avoid collisions? Is it then purely setup to have one sub tree to secure ?

[2021-02-13 08:51] MartinX3 commented on #15032
Thank you, I set project specific empty env variables in my IntelliJ as a workaround. :)

[2021-02-13 08:51] pschyma commented on #14695
@stuartwdouglas Sorry for the delay. The reproducer is quite easy as this error seems to be triggered by the size of the response.
Just extending the REST start project by `return "Hello RESTEasy\n".repeat(1000);` shows the exception as shown in [1].

The reproducer illustrates another problem: depending on the size of the payload the exception is just logged or truncated. See the three tests ther

[2021-02-13 09:03] StefanOltmann commented on #11923
Same here. It's really frustrating and not well documented how to configure this. Debugging this problem is a real pain.

Thank you for the link.

At least Quarkus should provide a better documentation how to trace and fix this Inet4Address probelm properly.

[2021-02-13 09:09] StefanOltmann commented on #11923
My `application.properties` looks like this:
[code]

I get this message:
[code]

But I already provided this. It has no effect.

---

[code]

[2021-02-13 09:41] famod commented on #15025
/cc @barreiro @gsmet @Sanne @yrodiere

[2021-02-13 09:54] Legion2 commented on #5807
@ia3andy #10372 was merged, what is the status of this issue?

[2021-02-13 10:56] jmdsc commented on #15033
@radcortez
You're spot on, the `@ConfigProperty` was being used at one stage to inject a single property of type `java.time.Period
` in the constructor. When the target class grew in required properties, these were moved to an interface using `@ConfigProperties`.

Will properties defined using the `@ConfigProperties`  strategy also be automatically picked-up/registered in a future release?

Thanks

[2021-02-13 11:45] phillip-kruger commented on #4766
The above mentioned PR will now include the `oauth2-redirect.html`.
I could not set the context automatically, but you can add it by setting this property:

`quarkus.swagger-ui.oauth2-redirect-url=http://localhost:8080/q/swagger-ui/oauth2-redirect.html`

We will have to make changes to the swagger-ui project to be able to pass in `/q/swagger-ui/oauth2-redirect.html` so that the js in swagger-ui ap

[2021-02-13 11:53] wicksim commented on #15004
@sberyozkin Thank you for your answer. I read the other ticket and as far as I understood, this problem should not appear if there is an introspection-endpoint configured? There is an introspection-endpoint in the .well-known-page of our IDP. As you can see in the bug report, I configured `quarkus.oidc.auth-server-url`, which should also automatically configure the introspection-path. So in my opi

[2021-02-13 12:29] Feavy commented on #11616
Hello, I am also facing this issue. Here is the stacktrace

[code]

Disabling http2 with `quarkus.http.http2=false` solves the problem.

[2021-02-13 12:46] shawkins opened #15056 "There are no timeout defaults on the declarative rest client"
**Description**
For declarative rest clients created by ResteasyClientBuilderImpl under io.quarkus.restclient.runtime.RestClientRecorder there are no default timeouts.  A connect and read timeout can be set via properties.  I could not find a good reference that this is expected behavior.  If it is, the quickstart or other places should call out that they need set.

Environment:
Quarkus version 1.

[2021-02-13 14:13] yuriytkach commented on #14980
Thank you for your reply. I will try with thread sleep and see how it goes.
The last action that we do is sending the Kafka message with Emmitter. Maybe Kafka shutdown is not going properly.

[2021-02-13 14:24] jspasquali opened #15057 "gRPC server not starting if proto grammar in maven dependency"
In my setup, there are 2 maven modules:
* a maven module with the grammar of the service inside src/main/proto/service.proto
* a maven module with the gRPC implementation + dependency on the grammar module (containing generated java code).  The gRPC implementation is a simple class like in the grpc quickstart
[code]

When compiling and running `java -jar target/my-app-1.0.0-SNAPSHOT-runner.jar`  t

[2021-02-13 14:34] kenfinnigan commented on #15030
It looks like `/q/dev` isn't a non-application endpoint, but it's because it defines its' own router: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java#L186

Anything that calls https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/deployment/src/main/java/io/qua

[2021-02-13 14:47] geniusit opened #15058 "Emitter fails with quarkus 1.11.x"
**Describe the bug**
Since I ve upgraded my microservices to quarkus 1.11 I notice that I can't use the `org.eclipse.microprofile.reactive.messaging.Emitter` anymore
The application fails on startup

**Expected behavior**
No stack and success startup. Like with Quarkus 1.10.x. I have 100 % startup success

**Actual behavior**
When I run the `java -jar` or `mvn compile quarkus:dev` command the appl

[2021-02-13 15:47] yhgillet commented on #15049
I have the same problem with some `validate` phase plugin (the copy resources from maven-resources-plugin ). The plugin is not called from the `quarkus:dev` goal

[2021-02-13 16:35] martinoneutrino commented on #15049
I would say that `validate` is not an appropriate phase to copy resources. It should be in `process-resources`. See the [Maven lifecycle reference](https://maven.apache.org/guides/introduction/introduction-to-the-lifecycle.html#Lifecycle_Reference).

[2021-02-13 17:21] Legion2 opened #15059 "With 1.12.0.CR1 the runner jar is not generated"
**Describe the bug**
After updating to 1.12.0.CR1 `mvn package` does not generate the `...-runner.jar` file any more.
When using the option `-Dquarkus.container-image.build=false` the docker image can not be build because of the missing file.

**Expected behavior**
The runner jar is generated into `target/` when running `mvn clean && mvn package`.

**Actual behavior**
No runner jar is present in `

[2021-02-13 17:29] famod commented on #15059
Quarkus 1.12 has switched to `fast-jar` packaging that has a different layout and jar file.
The details are here, including how to enable the old `legacy-jar` packaging (although you should consider making the move to `fast-jar`):
https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.12#fast-jar-as-default

[2021-02-13 17:30] Legion2 commented on #14814
I have the same problem, and it seems that all schemas for generic types with more than one generic type parameter are missing. All my Map<T1, T2> types have no schema generated for them. I'm using kotlin and `1.12.0.CR1` did not fix it.

[2021-02-13 18:13] #15059 closed

[2021-02-13 19:26] CurtisBaldwinson commented on #15008
That means the RestPath worked, but now you have a different problem, which is you're using blocking operations with a reactive endpoint. You can annotate `@Blocking` to the methods if you want to proceed anyways, or yes you can use non-reactive and write procedural/imperative code as you may be used to.

It's unlikely it will actually become a problem but of course you gain additional performance

[2021-02-14 02:37] yhgillet commented on #15049
yes the maven documentation gave the `validate` phase as an example by default , but it doesnt matter, as the `process-resources` phase plugins doesnt trigger also

[2021-02-14 02:39] yhgillet commented on #15049
yes the maven documentation gave the `validate` phase as an example by default , but it doesnt matter, as the `process-resources` phase plugins doesnt trigger also

[2021-02-14 10:37] geoand commented on #14885
@FroMage is this something you think that @SaumyaSingh1 can lool into?

[2021-02-14 13:43] StefanOltmann opened #15061 "Option --trace-class-initialization is broken and has no effect"
**Describe the bug**

My native build fails because of the Inet4Address problem described in https://github.com/quarkusio/quarkus/issues/11923.

Is states `Error: No instances of java.net.Inet4Address are allowed in the image heap as this class should be initialized at image runtime. To see how this object got instantiated use --trace-object-instantiation=java.net.Inet4Address.` and I try to resol

[2021-02-14 16:06] ahofmeister commented on #3273
I found a pretty easy way to override it - but it is with Qute.

[code]

You only have to have a `error404.html` page in the `resources/templates` directory and you are good to go.

[2021-02-14 17:09] rsvoboda opened #15062 ""Using Java versions older than 11 ... " complaint with Java 17 Early Access build"
I see `[WARNING] [io.quarkus.deployment.QuarkusAugmentor] Using Java versions older than 11 to build Quarkus applications is deprecated and will be disallowed in a future release!` complaint when using Java 17 Early Access build

Code for version check probably doesn't handle `-ea` suffix in Early Access Java build version, e.g. `17-ea`.

[2021-02-14 17:13] cescoffier commented on #2718
Thanks @spike83! That's a great step forward!
I will have a look this week.

Here are a few thoughts:

1. The native library could be handled by the extension. If you have the snappy dependency, we can add it to the native image instructions.
2. Once we have a proper integration, we can remove the `SubstituteSnappy`, but with your work, sounds almost done! We can also have a conditional substituti

[2021-02-14 17:22] dstutz commented on #14926
I just added
[code]
to my pom and I get the metamodel classes generated.  I don't know if this is "the right way" but it works.  provided scope keeps it out of the jar as it's only used during compilation.

[2021-02-14 18:04] famod commented on #14926
The downside of adding annotation processor dependencies as provided is that they can pollute you test classpath.

[2021-02-14 18:08] famod commented on #14926
@Postremus seeing that you added something for `PanacheEntity_` a year ago via #7218, do you know what's going wrong here? Thanks!

[2021-02-14 19:06] famod commented on #15049
@martinoneutrino Do you also see this problem _without_ `tiles-maven-plugin`?

[2021-02-14 19:16] famod commented on #15049
@yhgillet The ["standard" goal `resources`](https://maven.apache.org/plugins/maven-resources-plugin/resources-mojo.html) _is_ called by `quarkus:dev`, but custom `copy-resources` executions are not.
What happens in your `copy-resources` execution?

@aloubyansky Not sure about this. A user could have multiple such executions and in theory, DevMojo would need to call them all (with the respective co

[2021-02-14 19:28] the-bug commented on #14926
@dstutz thanks for this hint. I used this approach as well and it used to worked.
Did you extend an entity with PanacheEntity e.g. `extends PanacheEntity`? Like in https://github.com/the-bug/hibernate-jpamodelgen-reproducer/blob/main/src/main/java/org/acme/getting/started/Person.java#L10
I think this is the root cause...

[2021-02-14 19:31] Postremus commented on #14926
Annotation processors where deactivated in the panache modules, causing no PanacheEntity_ to be generated.
I proposed a fix in #15064, but I'm not sure myself why they where deactivated in the first place.

[2021-02-14 19:43] the-bug commented on #14926
@Postremus thanks!

[2021-02-14 21:04] jefrog1844 opened #15065 "@PermitAll and expired JWT"
**Describe the bug**
I have a method annotated with @PermitAll property setting of smallrye.jwt.always-check-authorization=false.  When I submit a call to this method, I get a error stating the JWT is expired.

**Expected behavior**
Method to execute even with expired JWT since it is annotated as PermitAll

**Actual behavior**
Caused by: org.jose4j.jwt.consumer.InvalidJwtException gets thrown and

[2021-02-14 23:10] martinoneutrino commented on #15049
@famod Thanks for the startup work around (`mvn process-classes quarkus:dev`). That takes care of the initial launch, but of course not the hot-reload that `quarkus:dev` uses to make development so easy...

[2021-02-14 23:41] #14898 closed

[2021-02-15 00:05] dstutz commented on #14926
@the-bug , I did not...I'm working on converting a very small application from Jakarta EE to Quarkus and just copied the entities over.

[2021-02-15 00:43] stuartwdouglas commented on #11616
The fix above is in Quarkus now, so I am closing this.

[2021-02-15 00:43] #11616 closed

[2021-02-15 01:03] #15028 closed

[2021-02-15 03:26] phillip-kruger commented on #15056
/cc @radcortez

[2021-02-15 04:49] JohnneSouza opened #15066 "Typo on DeploymentInjectionException"
**Description**
The text message on the Exception read as follow:
_Failed to inject extension deplpyment dependencies_

**Implementation ideas**
It should instead be like:
_Failed to inject extension deployment dependencies_

The typo is on the **deployment** word.

[2021-02-15 04:50] JohnneSouza commented on #15066
I can open a Pull Request if necessary!

[2021-02-15 04:57] stuartwdouglas commented on #15049
You will need to either write an EBean extension and tie into our class transformation or use the ebean-agent Javaagent to do the transformation. Maven is not involved in the hot reload process, so there is nothing that we can do here.

[2021-02-15 05:31] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/567473370

[2021-02-15 05:38] stuartwdouglas commented on #15065
Can you try setting `quarkus.http.auth.proactive=false`. By default if a credential is present we will attempt to validate it, if this is set then we won't attempt to authenticate until it is actually required.

[2021-02-15 06:33] seijikohara opened #15069 "Error in injection of RestClient in Kotlin constructor"
**Describe the bug**
When injecting RestClient in the Kotlin constructor, an exception is raised and Quarkus fails to start.

**Expected behavior**
No exception is thrown and Quarkus starts.

**Actual behavior**
UnsatisfiedResolutionException is raised.

[code]

**To Reproduce**

- RestClient

[code]

- Resource that injects RestClient

[code]

Steps to reproduce the behavior:
1. `./gradlew quarku

[2021-02-15 06:47] glefloch commented on #15069
@seijikohara could you try to add the `@RestClient` qualifier in the constructor where the rest client is injected, such as:
`class GeoResource constructor(@RestClient val geoService: GeoService)`

[2021-02-15 07:04] seijikohara commented on #15069
@glefloch No exceptions were thrown and it worked fine.
Thank you for your advice.

[2021-02-15 07:19] geoand commented on #8593
@evacchi the kogito tests appear to be failing

[2021-02-15 07:21] geoand commented on #15031
I'll start looking into this today

[2021-02-15 07:41] #15033 closed

[2021-02-15 07:43] #15032 closed

[2021-02-15 07:47] #15039 closed

[2021-02-15 07:49] rsvoboda opened #15070 "Dev mode - warning (about jdk 1.8 usage) not printed, as if logging is not fully initialized"
Dev mode - warning (about jdk 1.8 usage) not printed, as if logging is not fully initialized.
Another option could be that QuarkusAugmentor is called more eagerly - when the Quarkus logo gets printed out

Happens on Quarkus 1.12.0.CR1 and Quarkus master.
On Quarkus 1.11.3.Final there is an "old jdk" warning printed as the first line.

![Screenshot 2021-02-14 at 18 42 09](https://user-images.github

[2021-02-15 07:54] #15062 closed

[2021-02-15 07:59] ia3andy commented on #5807
Thanks @Legion2, yeah it's done

[2021-02-15 07:59] #5807 closed

[2021-02-15 08:06] geoand commented on #15031
@cescoffier I can't seem to build the `vertx4-snapshot` branch.

Is there anything I need to do?

[2021-02-15 08:06] glefloch commented on #15069
If everything is fine. I close this issue.

[2021-02-15 08:06] #15069 closed

[2021-02-15 08:07] evacchi commented on #8593
[code]

SPI issue. Mixed versions?

[2021-02-15 08:08] geoand commented on #8593
@phillip-kruger does the above ring any bells?

[2021-02-15 08:09] HelvetiaAppDev opened #15072 "allow dynamically setting flyway location"
**Description**
Currently the only way to set the flyway locations is through the built-time property `quarkus.flyway.locations`.
However it would be helpful to be able to set it at run-time.
One possible use case is using the same jar for multiple stages and one of the stages needs testdata that should be inserted with flyway.
Would this be possible? It was possible with thorntail and as far as I

[2021-02-15 08:10] markusdlugi commented on #15042
Might want to add that this only seems to affect RESTEasy Reactive, it is working in classic RESTEasy. So you might want to add the area/resteasy-reactive label.

/cc @FroMage, @geoand, @stuartwdouglas

[2021-02-15 08:13] phillip-kruger commented on #8593
@geoand - no bells. But I can try and help ? Any more info ?

[2021-02-15 08:13] cescoffier commented on #15031
the "quickly" does not pass?

[2021-02-15 08:15] geoand commented on #15031
Nope, I get:

[code]

[2021-02-15 08:15] geoand commented on #8593
I personally don't have any more information, just what CI shows :)

[2021-02-15 08:20] evacchi commented on #8593
Quarkus platform is still linking against 1.10 or 1.11 I think

[2021-02-15 08:21] geoand commented on #15031
Nevermind, my local branch had some extra commits for some reason...

[2021-02-15 08:21] Sgitario commented on #14961
Mostly, in order to cope with test scenarios of failover cases. Example:

[code]

Also, about the rest assured, when we want to start our Quarkus application using a random port (`quarkus.http.port=0`), the QuarkusProdModeTest is setting `RestAssured.defaultPort = 0` which is invalid (if you try to do `given()` in your test case, you will get an exception.

[2021-02-15 08:21] geoand commented on #8593
@aloubyansky is that something you have seen before?

[2021-02-15 08:23] Sgitario commented on #14961
@geoand I've proposed a PR to address this issue.

[2021-02-15 08:27] geoand commented on #14961
I see, thanks for the example.

To be honest, `QuarkusProdModeTest` was never meant to work when having multiple test extensions registered... I am surprised that is does work but I am not sure I want to explicitly support this...

@stuartwdouglas WDYT?

[2021-02-15 08:28] cescoffier commented on #14980
Do you have a reproducer?
Kafka shutdown is async (as polling may be in progress), we may start closing everything but `poll` returns and continue a bit of work instead of stopping.

[2021-02-15 08:29] cescoffier commented on #14812
Mutiny has built-in propagation. CompletionStage does not have that.

[2021-02-15 08:30] mkouba commented on #15069
I think that it's a known limitation of RESTEasy "classic" and it should work just fine with RESTEasy Reactive.

CC @geoand

[2021-02-15 08:32] geoand commented on #15069
Constructor injection also works in RESTEasy Classic, unless you try to do it in classes annotated with `@Provider`. In RESTEasy Reactive it works in all cases

[2021-02-15 08:36] aloubyansky commented on #8593
No. Was any backward incompatible upgrade that would break `org.eclipse.microprofile.openapi.spi.OASFactoryResolver: io.smallrye.openapi.spi.OASFactoryResolverImpl`?

[2021-02-15 08:43] stuartwdouglas commented on #14980
https://github.com/quarkusio/quarkus/pull/15067 should help with the NPE

[2021-02-15 08:45] phillip-kruger commented on #8593
No, not as far as I know.

[2021-02-15 08:47] michalszynkiewicz commented on #15057
@jspasquali thanks for your report!
Is the service implementation class in your Quarkus project?

[2021-02-15 08:47] #4766 closed

[2021-02-15 08:47] #14998 closed

[2021-02-15 08:53] aloubyansky commented on #8593
Is it a dev mode test? Not sure yet whether there were any related changes in Quarkus.

[2021-02-15 08:56] geoand commented on #8593
It doesn't look like a dev mode test from the stacktrace:

[code]

[2021-02-15 09:10] antoniomacri opened #15075 "Random getting "UT000127: Response has already been sent""
**Describe the bug**
I'm randomly getting this exception from Undertow:
[code]

I cannot see any other useful info from the logs, not from the access log, neither from the same thread or similar.

**Expected behavior**
No exception is thrown (or something better explaining why it is happening).

**Actual behavior**
The previous exception.

**To Reproduce**

Sorry, I'm not able create a reproducer.

[2021-02-15 09:22] gsmet commented on #15075
Which version of Quarkus is it?

[2021-02-15 10:08] sberyozkin commented on #15065
@jefrog1844 Yes, as Stuart @stuartwdouglas suggested, please disable the proactive authentication.

`smallrye.jwt.always-check-authorization` is about controlling, for the cases when JWT may also be expected as a cookie, that JWT should be checked not only as a cookie but also as Authorization header value. Some users were expecting for a single endpoint to have JWT to be submitter either as a bea

[2021-02-15 10:09] sberyozkin commented on #15065
I've just checked the docs and I believe `smallrye.jwt.always-check-authorization` is documented clearly enough...

[2021-02-15 10:21] antoniomacri commented on #15075
Sorry, I forgot to specify: 1.8.3.Final.

[2021-02-15 10:22] #14284 closed

[2021-02-15 10:27] FroMage commented on #14885
Indeed, sounds like a good idea!

[2021-02-15 10:43] dufoli commented on #14246
I solve the issue by replacing

[code]
and make a init method and empty constructor.
I think it is a bug, but I have found a workaround.

[2021-02-15 10:48] dufoli commented on #14246
when  synthetic bean come from supplier, SyntheticBeanBuildItem (with recorder supplier) live reload have not some behaviour than regular build and run.
At restart, my bean try to resolve constructor parameters as beans (as regular beans) and because it is string and List<String> it failed with List<String> because there is not singleton List bean to inject.

Imo, when they is supplier or runtimeV

[2021-02-15 10:51] junk123321 opened #15077 "timezone setting for jackson in application.properties"
**Description**
I would like to set jackson timezone to make Json output displayed with users' timezone. Here request a configuration similar to "spring.jackson.time-zone" in application.properties. It is much convenient than annotation setting like "@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "Asia/Tokyo")" . As the latter one needs to be set for each date field. Thanks much!

[2021-02-15 10:57] #14967 closed

[2021-02-15 11:20] iocanel commented on #14827
@mkonzal:  The git url that is used, is converted to https if posssible, for compatibility related reasons, anonymous access etc, which I think that it does make sense when it comes to using git via tooling.

To provide the best possible solution, I'd like to understand a little bit better your use case and how using `https` is causing issues for you.

Thanks in advance!

[2021-02-15 11:30] geoand commented on #15031
@cescoffier I have this ready, would you like me to push into the `vertx4-snapshot` branch?

[2021-02-15 11:38] knutwannheden commented on #5030
AFAICT the use case described in the issue description should meanwhile have been solved.

[2021-02-15 12:11] #9956 closed

[2021-02-15 12:18] michalszynkiewicz commented on #14996
Anyway, the endpoints are now (by default?) under `/q/health` if I understand correctly, so you should be able to this endpoint.
Right @kenfinnigan ?

[2021-02-15 12:28] bnjns opened #15078 "Improve documentation of Kafka configuration"
**Description**

We have recently integrated one of our products with Kakfa, by following this guide: https://quarkus.io/guides/kafka.

We found that configuring the service to use a local Kafka set up was relatively straightforward, but in production the Kafka cluster is hosted by Aiven and uses SSL authentication for the broker and HTTP basic authentication for the schema registry. We found this

[2021-02-15 12:56] geoand commented on #14747
I took a look at this and actually there is no way of presenting the `ResourceInfo` of the sub-resource in this case, because the filter executes way before we know which sub-resource is returned

[2021-02-15 12:56] #14747 closed

[2021-02-15 13:01] yuriytkach commented on #14980
Sorry, unfortunately, no reproducer, as it happens randomly on the exact same code that is run with the exact same params several times a day.

[2021-02-15 13:03] geoand commented on #15077
This seems like a reasonable request to me.

The only complication I see is that in order to preserve the `static-init` semantics of the `ObjectMapper` bean, we would need to make this property a build-time property (which is not ideal, but better than nothing...).

@gsmet is that OK with you?

[2021-02-15 13:04] geoand commented on #15075
Have you tried with Quarkus `1.11.3.Final` or `1.12.0.CR1`?

[2021-02-15 13:05] geoand commented on #15066
PRs welcome :)

[2021-02-15 13:08] geoand commented on #15061
Looking at the code you linked,

[code]

is not correct. You should use `,` as the delimiter for the various `native-image` configuration settings instead of a whitespace (` ` in this case)

[2021-02-15 13:11] geoand commented on #15072
We don't really want to do this, as we use the fact that `locations` is a build time property to optimize the startup time and memory usage of Quarkus when the Flyway extension is present.

[2021-02-15 13:11] #15072 closed

[2021-02-15 13:15] geoand commented on #15056
cc @michalszynkiewicz

[2021-02-15 13:17] geoand commented on #14999
So do we close this or is there something more to do?

[2021-02-15 13:18] gsmet commented on #14999
We can close.

[2021-02-15 13:18] #14999 closed

[2021-02-15 13:21] spike83 commented on #2718
@cescoffier I'm running the build in docker image quay.io/quarkus/ubi-quarkus-native-image:21.0.0-java11 (id: 31ccea2b17ae) so I would say 21.0.

[2021-02-15 13:42] antoniomacri commented on #15075
Not yet, that is my production version. I couldn't replicate the error in my test environment.

Do you think are there any Undertow changes on more recent versions that could have solved this issue?

[2021-02-15 13:42] kenfinnigan commented on #14996
Right, the solution would be to change the `@Path` in the REST Client interface

[2021-02-15 13:43] antonwiens commented on #14652
Any news on this one?

[2021-02-15 14:00] edeandrea opened #15081 "Validation on configuration using interfaces doesn't work"
**Describe the bug**
According to https://quarkus.io/guides/config-reference#additional-notes-on-configproperties I should be able to validate nested configuration using interfaces but it doesn't seem to work.

**Expected behavior**
I would expect the application to fail when starting up

**Actual behavior**
The application starts up without error

**To Reproduce**
Reproducer application attached

[2021-02-15 14:05] pjgg opened #15082 "Quarkus Quartz tables could be created by default."
## Description

When you are using Quarkus quartz extension, sometimes you want to persist your job history into a database (so could be shared between pods). However, with the current implementation, you have to [set up your schema](https://github.com/quarkusio/quarkus-quickstarts/blob/master/quartz-quickstart/src/main/resources/db/migration/V2.0.0__QuarkusQuartzTasks.sql) manually.

My suggestio

[2021-02-15 14:22] r-uu commented on #1392
What might be reasons why the ```getConverter(...)``` method never gets called? I have the code below and I can see that the provider instance (and it's static members) is created. Do I have to use a special scope for ```ConverterProvider```? Or do I have to register it somewhere? BTW: I'm using Jsonb, not Jackson.
[code]

[2021-02-15 14:38] gastaldi commented on #1392
You need to add `@ApplicationScoped` to your provider

[2021-02-15 14:48] shawkins opened #15083 "ApplicationScoped bean observing start/stop still observing even when mocked"
**Describe the bug**
I have an application scoped bean observing start:

[code]
I can of course see this hit the start method when the application starts.

In my QuarkusTests, I don't actually need/want the start to be hit.

If I use `@InjectMock SomeBean`, or create a `@Mock` replacement that overrides the start, I still see the original `onStart` being called.

**Expected behavior**
If you use `

[2021-02-15 14:56] #15066 closed

[2021-02-15 14:56] cescoffier opened #15084 "Vert.x 4 - OICD"
**Description**

The OICD integration is taking more time than anticipated, as there is an ongoing rewrite of the extension using the WebClient directly, instead of Vert.x OAuth.

This task tracks some of the work that needs to be done:

- [x] Re-enable `io.quarkus.it.keycloak.BearerTokenAuthorizationTest`
- [x] Re-enable `io.quarkus.it.keycloak.OidcClientTest`
- [x] Re-enable `io.quarkus.it.keycl

[2021-02-15 14:59] #14844 closed

[2021-02-15 15:08] FroMage commented on #15083
I can confirm this behaviour.

[2021-02-15 15:10] FroMage commented on #15083
Is this @mkouba or @geoand territory?

[2021-02-15 15:20] edeandrea commented on #15081
Just to add an additional comment - when using interfaces, putting validation on the getters doesn't work in general.

[code]

with configuration

[code]

should produce an error at startup, but it does not

[2021-02-15 15:20] FroMage commented on #15083
In the case of `@InjectMock` I confirm we get to `ArcContainerImpl.mockObserversFor`:

[code]

And it finds the observer bean and calls `mockable.arc$setMock(null);` but I am not sure how this should disable the observer.

[2021-02-15 15:23] FroMage commented on #15083
Actually, what I see is that application startup events are invoked before any `MockSupport` methods are called, so probably this is fired before all our observer mocking setup.

[2021-02-15 15:24] geoand commented on #11358
@michalszynkiewicz is this on your radar?

[2021-02-15 15:26] FroMage commented on #15083
Yes, startup events are fired by `QuarkusTestExtension` in:

[code]

Way before we do the mock setup in before/after methods.

[2021-02-15 15:30] FroMage commented on #15083
Considering this call runs the startup actions, and returns us what we need to install the mocks:

[code]

That's a pretty big chicken/egg problem.

[2021-02-15 15:33] geoand commented on #11379
@iocanel @maxandersen I believe this is something we should look into

[2021-02-15 15:34] geoand commented on #11382
cc @stuartwdouglas

[2021-02-15 15:36] geoand commented on #15083
Right, mocking doesn't really come into play with the events, so I don't think we can do much here...

[2021-02-15 15:40] FroMage commented on #15083
According to @mkouba mocking a bean is supposed to disable all its observer methods.

[2021-02-15 15:44] geoand commented on #15083
Hm... I don't think that is the case because IIRC, all mocking does under the hood is add a field to the normal scoped bean that can be used as the "target" instead of the actual instance of the bean.
But there might be something I am missing

[2021-02-15 15:48] flo-ryan commented on #15072
@geoand so there is no way to specify this property at runtime?
To me it definitely seems like a reasonable and sometimes "necessary" feature to be able to set different locations at runtime.

[2021-02-15 15:48] geoand commented on #15081
I'll take a look this week

[2021-02-15 15:54] FroMage commented on #15056
It appears that MP-REST doesn't really specify a default, or at least it's not in the javadoc, but `0` means forever.

This is passed on to RESTEasy Client, which defaults to `-1` for "unset".

Which is then passed on to Apache HttpClient, which sets anything `<= 0` to `0`. So in practice it appears to default to `forever`.

Frankly this sounds wrong, especially from the PoV of Quarkus where we do

[2021-02-15 15:56] geoand commented on #15072
Yes that is correct, it's not possible to set at runtime

[2021-02-15 15:56] geoand commented on #15056
I completely agree with ^

[2021-02-15 16:04] FroMage commented on #15056
According to https://quarkus.io/guides/all-config we have a plethora of defaults to pick from, since we're VERY consistent:

- `quarkus.datasource.jdbc.acquisition-timeout`: 5 (5 minutes, 5 seconds, 5 years, who knows?)
- `quarkus.dynamodb.sync-client.connection-timeout`: 2S
- `quarkus.dynamodb.sync-client.apache.connection-acquisition-timeout`: 10S (that's another Apache HTTP client, so perhaps a

[2021-02-15 16:07] geoand commented on #15056
Right, when I moved Consul to the vert.x client, I used custom fields: `quarkus.consul.agent.read-timeout` and ``quarkus.consul.agent.connection-timeout``

[2021-02-15 16:08] FroMage commented on #15083
Well, I think the logical intuitive behaviour is:

- For `@Mock`, overriding the event method should hijack the event, just like overriding other methods override behaviour. In practice, if I do that, _both_ methods get called (supertype and mock type). Yeah, that's just super weird.
- For `@InjectMock`, the event method should be a noop just like very other bean method, at least until we can defi

[2021-02-15 16:14] geoand commented on #15081
Your code isn't correct:

You need to add `@Valid` to `content` like so:

[code]

That results in the proper error message being triggered

[2021-02-15 16:18] FroMage commented on #15056
Vert.x client appears to use a `60s` connect timeout default, but I can't find its read/write timeout.

[2021-02-15 16:22] edeandrea commented on #15081
THanks @geoand I can confirm adding `@Valid` to the getter works. Thanks very much for that!

Do you want me to open a separate issue for the interfaces? Or just continue with this issue for that (I can update the reproducer example).

[2021-02-15 16:37] Sgitario opened #15085 "Unsupported type MethodAccessorGenerator on several extensions"
**Describe the bug**
We're getting failures when building a Quarkus app with some extensions (it happens with either Artemis, Camel, and maybe more). See steps about to reproduce it.

This is happening since this commit has been merged into master: https://github.com/quarkusio/quarkus/pull/15043
The deleted file `JavaIOSubstitutions.java` was introduced to exactly avoid the issue that we're experi

[2021-02-15 16:38] Sgitario commented on #15085
cc @galderz @JiriOndrusek @stuartwdouglas @geoand

[2021-02-15 16:40] geoand commented on #15081
I'd say just update the title, description and reproducer for this one is fine

[2021-02-15 16:51] edeandrea commented on #15081
Done.

I also noticed that in the IDE (IntelliJ in this specific case - not sure about behavior in others) that the `application.properties` file does not recognize the nested properties (see screenshot)

![IntelliJ-appProps](https://user-images.githubusercontent.com/363447/107974166-2e6a0b80-6f84-11eb-9098-08cbe1ba9929.png)

[2021-02-15 16:53] geoand commented on #15081
Not much I can do about that...

[2021-02-15 16:54] edeandrea commented on #15081
Is it expected that validation _should_ work when using interfaces?

[2021-02-15 16:56] r-uu commented on #1392
I added ApplicationScoped but it does not change the behaviour - still no calls to getConverter(). So there must be something else. Do you have any idea? Any need to configure something? Maybe an annotation somewhere?

One thing: the Converters, the ConverterProvider and the types to be converted live in their own maven module which is imported via maven dependency into the "server" module. Could

[2021-02-15 17:07] gastaldi commented on #1392
Have you tried to add an empty `META-INF/beans.xml` to your maven module?

[2021-02-15 17:13] maxandersen commented on #11379
I'm not convinced we want to trigger a redeploy just because yaml has changed...

[2021-02-15 17:13] sberyozkin commented on #15084
@cescoffier I'm focusing on this migration now

[2021-02-15 17:23] flo-ryan commented on #15072
@geoand hm, that's a pity. And also not entirely logical to me since the files are packaged in the jar anyways - but I also don't know the workings of Quarkus very well.
Is there maybe another option to cover that use case?
Using Flyway "natively" without the Quarkus plugin probably...?

[2021-02-15 17:23] geoand commented on #15081
Not really. I'm looking into how it can be added.

[2021-02-15 17:25] geoand commented on #15072
I'm no flyway expert, so I can't really say

[2021-02-15 17:27] r-uu commented on #1392
Yes, empty ```META-INF/beans.xml``` everywhere, in the importing and in the imported module.

I stumbled upon ```JsonbConfigCustomizer```. I made an implemention and annotated it as singleton. Quarkus at least calls it's ```customize(...)``` method. Is there a way to register Converters or ConverterProvider implementations there?

[2021-02-15 17:39] geoand commented on #15081
This can be done, but not without adding a ton of complexity to the `@ConfigProperties` implementation.

So unless this gets asked for again, I'll hold off on implementing it.

[2021-02-15 17:40] jspasquali commented on #15057
Not sure if what you refer to service implementation class is the generated grpc services or the singleton implementation extending from it... I'll try to be more specific:
- In a first Maven "grammar" module : it contains only the .proto definitions;  the pom.xml has dependency on quarkus-grpc + the quarkus-maven-plugin with `generate-code` goal, so the deliverable contains the generated grammar

[2021-02-15 17:43] edeandrea commented on #15081
Noted - but I might add something to the documentation mentioning that validation isn't supported/implemented when using interfaces.

Honestly I only discovered it when looking at the docs and thinking it was cool. Reduces a lot of boilerplate.

[2021-02-15 17:46] geoand commented on #15081
That's a good point

[2021-02-15 17:52] geoand commented on #15081
https://github.com/quarkusio/quarkus/pull/15086 is what is actually necessary to make this happen

[2021-02-15 17:54] edeandrea commented on #15081
Looks good to me! Ship it! :D

[2021-02-15 18:09] gsmet commented on #15014
@jorsol could you have a look at https://github.com/quarkusio/quarkus/pull/15087 ?

https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master might be useful, just check my branch instead of master.

I'm building the artifacts of 1.12.0.Final on Wednesday so, if we could iterate tomorrow, that would be perfect.

[2021-02-15 18:10] gsmet commented on #15048
https://github.com/quarkusio/quarkus/pull/15087 should fix it.

[2021-02-15 18:12] geoand commented on #15081
I'll need to rethink it, not to mention add the necessary tests (it did work on your example though)

[2021-02-15 18:13] mkouba commented on #15083
It does but `StartupEvent` is a bit special because it's fired before the mock is created. It's fired when the app starts.

[2021-02-15 18:14] geoand commented on #15083
So is there a way forward @mkouba ?

[2021-02-15 18:17] shawkins commented on #15083
My workaround is to use PostConstruct/PreDestroy with trivial usage of the bean in question in the QuarkusApplication run.

[2021-02-15 18:46] mrizzi opened #15088 "JOIN used with nullable referenced entity prevents some entity loading"
**Describe the bug**
I have 2 entities with a `@ManyToOne` relationship.
[code]
Executing `findAll(Sort sort)` method with different sorting parameter produces result sets with different number of items
[code]

**Expected behavior**
`listAll(Sort.by("name"))` method should always return the same number of items (i.e. `2` from the above `findAllSortByNameTest` tests)

**Actual behavior**
`listAll(S

[2021-02-15 18:58] cescoffier commented on #15084
Thanks @sberyozkin!

I disabled the test to gets the build a bit further and see if the next modules are going to be full of surprises...

[2021-02-15 19:00] cescoffier commented on #2718
Perfect thanks! MethodHandle support has been added in that version, which explains why you don't need any substitutions.

[2021-02-15 19:04] cescoffier commented on #15078
All the properties are documented on SmallRye, so I can add a link. However, keeping the link right is going to be harder, as the URL includes the version.

I believe we should go with a link and a table with the main attributes

[2021-02-15 19:05] cescoffier commented on #15031
Go ahead @geoand

Sorry, I'm 8h behind schedule...

[2021-02-15 19:08] geoand commented on #15031
Don't even think about it!

Done :)

[2021-02-15 19:51] vsevel commented on #14991
any news on this issue? is the reproducer badly coded, or do we have a real problem?

[2021-02-15 20:02] famod commented on #15088
/cc @FroMage @Sanne

[2021-02-15 20:08] famod commented on #15084
@cescoffier

FWIW, you could also set `-Dmaven.test.failure.ignore=true` and then grep the console output for `<<<`. (or grep the test reports)

[2021-02-15 20:14] StefanOltmann commented on #15061
@geoand Thank you. The option works, no bug.

[2021-02-15 20:14] #15061 closed

[2021-02-15 20:15] geoand commented on #15061
Great 👌

[2021-02-15 20:16] famod commented on #15075
Well, there is #14923, but @stuartwdouglas is the expert in this area.

[2021-02-15 20:23] r-uu commented on #1392
I think I misunderstood something. I thought that ```ParamConverter```s were also used for request / response message bodies. I actually do not use parameters but message bodies. So it is no surprise that a ```ParamConverter``` is never requested from my provider. No need for further investigation / help regarding this. Sorry. Thank you.

[2021-02-15 20:38] gsmet commented on #14756
@evacchi any chance you could have a look? The path `build/classes/java/main/src/main/resources` looks very wrong so I wonder if it's not an issue specific to Gradle. /cc @glefloch

[2021-02-15 20:39] gsmet commented on #14758
Ping @thomas-mc-work for a reproducer. Thanks!

[2021-02-15 20:40] gsmet commented on #14795
Ping @iocanel .

[2021-02-15 20:47] gsmet commented on #14892
@kiziltas any news?

[2021-02-15 20:48] gsmet commented on #14912
@cescoffier does it make sense to you?

[2021-02-15 20:54] iocanel commented on #14795
I must have done something weird with my notifications settings and I keep on missing mentions. Feel free to directly assign.

[2021-02-15 20:54] gsmet commented on #14986
Hibernate Reactive does not support named datasources at the moment.

Unfortunately, I don't think you can make your setup work at the moment.

That being said, if you're using JDBC and thus a blocking implementation for security, I really don't see the point in trying Hibernate Reactive. I would stay on plain Hibernate ORM.

[2021-02-15 20:57] gsmet commented on #15006
Has been fixed by https://github.com/quarkusio/quarkus/pull/15005 .

[2021-02-15 20:57] #15006 closed

[2021-02-15 20:59] gsmet commented on #15025
@yrodiere maybe you could have a look to this one given you played a bit with connections lately?

[2021-02-15 21:10] missourian55 opened #15089 "Quarkus 1.11.2 to Quarkus 1.11.3 upgrade failure of a Quarkus Kafka project"
**Describe the bug**
Upgraded an existing resteasy, resteasy-jackson and Kafka project from 1.11.2 to 1.11.3 and application fail to start in dev mode

**Expected behavior**
Application should start similar to 1.11.2

**Actual behavior**
[code]

**To Reproduce**

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).
Just follow guide of Apache Kafka with reac

[2021-02-15 21:50] stuartwdouglas commented on #14991
Mockito.mock(VaultSystemBackendEngine.class); needs to be Mockito.mock(VaultSystemBackendManager.class). You also likey need the PR I linked above.

I will add something to detect this.

[2021-02-15 22:35] cortex93 opened #15093 "Micrometer return 404 instead of 406"
**Describe the bug**
With
[code]
doing a request like
[code]
returns 404

**Expected behavior**
The endpoint actually exists but cannot fulfill the Accept header. The response should be 406 Not acceptable.

**Actual behavior**
Returns 404

**To Reproduce**

1. Follow the micrometer metrics guide.
2. instead of curl localhost:8080/q/metrics/, add the accept header with eg application/json

**Enviro

[2021-02-15 23:28] stuartwdouglas commented on #15085
This is because 20.3 is being used instead of 21.0. @gsmet  we still planning on supporting 20.3 for the next release?

[2021-02-15 23:39] ebullient commented on #15093
If you drop the accept header, it will work properly (prometheus w/ text/plain), which also would work fine with any microprofile metrics.

If you want the fallback of the json endpoint: `quarkus.micrometer.export.json.enabled`
Note that earlier versions of Quarkus had issues with the json exporter failing due to garbage collected guages (NaN values).

[2021-02-15 23:43] barreiro commented on #15025
It's a leak in Agroal. I've been trying to figure out how it could happen for a few days now, and with the reproducer provided by @TobiWeier I was finally able to crack it down.

[2021-02-15 23:52] stuartwdouglas commented on #14961
I think this is a corner case, but it does seem relatively simple to support so maybe it is ok. I would like some tests for this in the PR thought.

[2021-02-15 23:57] thomasdarimont opened #15095 "Add support to externalize SQL / JPAQL statements via orm.xml"
I think it would be helpful to be able to refer to `named-query` and `named-native-query` from the orm.xml, e.g.:
[code]

Especially more complex queries (reporting, analytics, etc.) benefit from this external form. This queries could also be syntax checked at compile time and (optionally) validated during startup.

This could then be lookued up by name via `PanacheEntity` or a `PanacheRepository`

[2021-02-16 03:28] stuartwdouglas commented on #15083
Maybe we just need some way to disable StartupEvent or @Startup beans being created when running tests?

[2021-02-16 03:39] stuartwdouglas commented on #15075
Without some form of reproducer or some more info on what causes it it will be very hard to track down. Generally this sort of thing will only happen on an error condition, where the response has already been started and then it attempts to write out an error repose.

[2021-02-16 04:26] syndic8-stephen opened #15097 "OASFilter set by mp.openapi.filter not processing file created with store-schema-directory"
**Describe the bug**
When a filter is configured with the configuration property mp.openapi.filter it is correctly picked up an processes the openapi file created from the openapi endpoint of the running application.   When the quarkus.smallrye-openapi.store-schema-directory property is set, the file is created without being processed with the configured custom OASFilter.

This seems to be a regre

[2021-02-16 04:27] jefrog1844 commented on #15065
Stuart's recommendation of using the setting quarkus.http.auth.proactive=false works as I expect the application to behave.  And thanks for clarification on always-check-authorization.  Nice job guys!

[2021-02-16 04:27] #15065 closed

[2021-02-16 05:12] stuartwdouglas commented on #1081
We have this now in the dev console.

[2021-02-16 05:12] #1081 closed

[2021-02-16 05:24] stuartwdouglas commented on #2650
I think we can mark this as resolved, as we now support a sync based remote dev, as well as a HTTP based one. The sync based approach lets you use whatever tool you want to sync the file systems.

[2021-02-16 05:24] #2650 closed

[2021-02-16 05:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/570580036

[2021-02-16 06:17] rathi1 commented on #11045
It seems the QuarkusTest context closes before the HTML & JSON reports are written completely.
I have added below code: **runtimeOptionsBuilder.addPluginName("html:target/cucumber-reports.html");**
Generated report has incomplete body.

Is there a way to fix this?

[2021-02-16 06:37] #15070 closed

[2021-02-16 07:13] cescoffier commented on #15089
Looks like a config issue. @radcortez any change I should be aware of?

[2021-02-16 07:14] cescoffier commented on #15084
@famod it's what we used (-fae) but we want to be as close as possible to the original build.

[2021-02-16 07:18] cescoffier commented on #14912
@gsmet Wonderful container world. If we use root, we won't be able to run on OpenShift anymore (where root is considered as a security issue).

The good news is that you can use:

COPY --chown=<user>:<group> <hostPath> <containerPath>

So COPy --chown=1001 ... should work.

[2021-02-16 07:27] Sgitario commented on #14961
This module was lacking of test units. However, I've added one to support this simple use case. The PR is updated.

[2021-02-16 07:36] evacchi commented on #14756
I'll try to spare some time; we're in the middle of a big refactoring, so this could be a good time to revisit this /cc @danielezonca

[2021-02-16 07:46] myassine2 opened #15099 "Flyway with Dockerizing Quarkus with Quartz and MySQL"
**Describe the bug**
I am trying to create a Quarkus container that has Quartz and I want to persist Quartz jobs. As such, I have to use the flyway to create the Quartz database. When running the project normally through IDE, it works great. When running through docker, the flyway fails to connect to the database.

**Expected behavior**
When running the docker containers, flyway should be able to

[2021-02-16 07:47] ambition-consulting opened #15100 "Allow for pass-through values on Compounds"
Basically we need @AliasFor in Quarkus/MicroProfile, I think. This will help a lot with annotation cluttering.

[2021-02-16 08:13] thomas-mc-work commented on #14758
Yes, sorry, I saw your request. It's not that easy. I'll reopen when I was successful.

[2021-02-16 08:19] mkouba commented on #15083
We could add a config property to disable the `LifecycleEventRunner.fireStartupEvent()` completely but I'm not so sure we should do this by default. Some extensions perform some important initialization logic there and the same might apply to some application classes.

BTW it's possible to "disable" the observer logic for tests like this:
[code]
But it's not very nice of course...

[2021-02-16 08:31] gaetancollaud commented on #3041
I currently have issue with kafka and Protobuf. I tried to register all the classes needed but now I'm stuck with some static field which is package protected. Any clue how I could solve this ?

The static field is:
[code]

The complete stacktrace
[code]

The classes registered for reflexion:
[code]

[2021-02-16 08:38] cescoffier commented on #15058
Thanks for the reproducer.
The bean is created too early, as the graph is unable to detect the relation between the emitter and the methods (as there is none). So, it materializes the `@Outgoing` (and so create the instance of the bean) before materializing the emitter, leading to the issue.

The workaround for now is to move the emitter outside of this class.

[2021-02-16 08:42] stuartwdouglas commented on #15083
I was thinking of basically doing that but via annotation, although unless we get more requests for this we should probably hold off for now.

[2021-02-16 08:50] FroMage commented on #15083
@mkouba adding test logic in real beans makes it hard to write one test that relies on the startup event not being fired and another that does. That makes it hard to isolate test behaviour.

@stuartwdouglas something like this?

[code]

[2021-02-16 08:51] haraldatbmw commented on #14650
Any other dump needs/ideas to further understand this strange behavior?

[2021-02-16 08:58] mkouba commented on #15083
Sure. That's why I wrote it's not very nice ;-)

Again, I don't think we could just skip the event completely. We could disable the app observers though and restart the app like we do for `@TestProfile`. Actually, could we make it part of the `QuarkusTestProfile`?

[2021-02-16 09:02] machi1990 commented on #15099
What happens when the datasource creds below
[code]

are set without the profile prefix?

[code]
?

[2021-02-16 09:04] geoand commented on #15083
That sounds reasonable to me

[2021-02-16 09:06] FroMage commented on #15083
To me too.

[2021-02-16 09:20] #14991 closed

[2021-02-16 09:30] michalszynkiewicz commented on #11358
still in my todo list, and still I don't want to assign it to myself in case someone else would have time for it earlier

[2021-02-16 09:31] geoand commented on #11358
seems rather unlikely at this point :)

[2021-02-16 09:32] michalszynkiewicz commented on #15057
I meant the singleton.

I think what you describe should work fine. Do you happen to have, or can prepare, a minimal reproducer? It would help me a lot in fixing the issue quickly.

[2021-02-16 09:33] mkouba commented on #14246
Hi @dufoli, could you add more info about how to reproduce the problem? Am I supposed to run `mvn quarkus:dev` in the `quarkus-cxf-integration-tests` module? I get `Caused by: java.net.ConnectException: ConnectException invoking http://localhost:8081/soap/greeting/foo: Connection refused (Connection refused)`. So how do I start the server?

[2021-02-16 09:43] cescoffier commented on #15058
Fixed by https://github.com/smallrye/smallrye-reactive-messaging/pull/1001.

[2021-02-16 09:49] michalszynkiewicz commented on #15056
I agree, there should be a default, finite read timeout.
I modified RestEasy Reactive client to default to 30s in my changes.

[2021-02-16 09:52] vsevel opened #15103 "Vault requires extension quarkus-vertx-core in 1.12.0.CR1"
**Describe the bug**
If the app uses the vault extension, a dependency on `quarkus-vertx-core` must be explicitly added for the native build to succeed.
This is related to getting the vault extension to use mutiny instead of the ok http client.
The solution is either to add `quarkus-vertx-core` into the vault extension as a dependency (the easiest and more maintainable), or replicate some of the c

[2021-02-16 09:53] myassine2 commented on #15099
Nothing, you may remove them. I copied these valued from another application.

[2021-02-16 09:56] avdev4j opened #15104 "llegalAccessError with Panache MongoDB and Gradle"
**Describe the bug**
Following this ticket https://github.com/quarkusio/quarkus/issues/12514

The bug has been fixed with Maven in the 1.11.0.Final but still exist if we use Gradle instead.

**Expected behavior**
The application should be able to access the entities with MongoDb.

**Actual behavior**
An exception is raised:
[code]
while the field is public.

**To Reproduce**

Sample repo: https://

[2021-02-16 10:05] famod commented on #15083
Could we also log a warning/info in case a user mocks a bean with such an observer method but does *not* use a profile? Or do you think it's too invasive?

[2021-02-16 10:21] vsevel commented on #14991
I confirm the suggested fix worked out.
and I did not need the PR linked above BTW.

[2021-02-16 10:32] radcortez commented on #15089
Yes, this is the same issue reported in https://github.com/quarkusio/quarkus/issues/15032.

A fix is already in place: https://github.com/quarkusio/quarkus/pull/15045.

@missourian55 as a workaround, you can set an empty default, like ${something:} in the failing properties.

[2021-02-16 10:33] #15089 closed

[2021-02-16 10:36] FroMage commented on #15056
Well, read and connect too, right? What keys do you use?

[2021-02-16 10:41] vsevel commented on #10520
will it make 1.12?

[2021-02-16 10:42] JiriOndrusek commented on #14530
I'd like to create SerializationClassBuildItem and @RegisterForSerialization   (both similar to reflection registration)
I'd like to create PR with contribution linked to this issue. Is there any other functionality which should be considered as a part of this feature?

[2021-02-16 10:42] SaumyaSingh1 opened #15105 "Updating class when no bytecode transformation whatsoever takes place results in NPE in the logs"
While running the quarkus app in dev mode, I got this  :

![image](https://user-images.githubusercontent.com/46818757/108050788-17a0e300-7070-11eb-9d16-99736bc5939b.png)

[code]

[2021-02-16 10:43] SaumyaSingh1 commented on #15105
CC @stuartwdouglas @FroMage

[2021-02-16 10:46] radcortez commented on #10520
Unfortunately, no. We are aligning this work with the Vert.x 4 update.

[2021-02-16 10:46] SaumyaSingh1 commented on #15105
Let me know if I need to put in some extra information as well :)

[2021-02-16 10:50] maxandersen commented on #15030
so this "non-application-route" is not consistently applied I guess?

But lets say `/q/dev` is an odd-ball out and everything was proper recorded as "non-application-route" and the flag changed to "serveFromRoot" we still end up with a weird situation here.

Like, I thought that the reason for `/q` was to *not* pollute the root namespace and thus the only thing that made sense to serve from root w

[2021-02-16 10:53] antonwiens commented on #14652
I found the issue in my project:
I create a variable in a companion object in kotlin:
[code]

This line is causing following error:

I don't know why this is caused. Does anyone know? @gsmet

[2021-02-16 10:56] michalszynkiewicz commented on #15056
do you mean configuration property keys?
I currently have `io.quarkus.rest.client.connect-timeout` and `io.quarkus.rest.client.read-timeout` (15 and 30 seconds).

[2021-02-16 11:00] dufoli commented on #14246
@mkouba I have added a dirty fix now. So you have to use version just before the fix :  https://github.com/quarkiverse/quarkus-cxf/tree/09eb7e235f7d741632df468359bfdb78dfa581f3

git checkout 09eb7e235f7d741632df468359bfdb78dfa581f3
mvn clean install
mvn quarkus:dev
go to http://localhost:8080/
then modify a file to add space and save. and got to http://localhost:8080/
you will see
Error restarting

[2021-02-16 11:07] FroMage commented on #15056
Sounds good. I wonder if we should have another set of properties `io.quarkus.connect-timeout` and `io.quarkus.read-timeout`, which every other timeout would default to?

So it would be global, and would be used by `io.quarkus.rest.client.connect-timeout` unless overridden, this allows each client to be configured, but also use a global default. WDYT?

I also wonder why we didn't go with `...timeo

[2021-02-16 11:11] geoand commented on #15056
I am absolutely in favor of this

[2021-02-16 11:14] ppalaga commented on #14530
I volunteer to review and assist if necessary.

[2021-02-16 11:27] mkouba commented on #14246
You should always run the dev mode with `quarkus:dev -DnoDeps` in a multi-module Maven project, see https://quarkus.io/guides/writing-extensions#multi-module-maven-projects-and-the-development-mode. However, for some reason it did not help in this particular case. I'm not sure why.

Furthermore, the following annotations are needless and should be removed: https://github.com/quarkiverse/quarkus-cx

[2021-02-16 11:30] gsmet commented on #14530
I suspect we will also need something similar to the `ReflectiveHierarchyBuildItem`.

[2021-02-16 11:31] gsmet commented on #14530
(Except if GraalVM handles it automatically!)

[2021-02-16 11:36] JPM84 commented on #14814
Same issue here. After upgrading from 1.10.5.Final to 1.11.3.Final. Downgrading for now...

[2021-02-16 11:38] geoand commented on #14972
The spring-web integration test handles some XML stuff and thus it brings in JAX-B which as you mention brings in ImageIO

[2021-02-16 11:42] #15026 closed

[2021-02-16 11:45] geoand commented on #15099
In the interest of saving time, what

are the values

[code]

when the container is built and when it is run?

[2021-02-16 11:50] geoand commented on #15093
@ebullient I am pretty sure that Reactive Routes (which is just a thin layer of Vert.x Web) properly handles this case.
I am mention it just in case you want to look at how it's done there

[2021-02-16 11:54] stuartwdouglas commented on #14530
So I had a quick look and I think that maybe it is just an extra flag on fields to allow final fields to also be set (i.e when fields are registered for reflection, you can basically set a flag that says that final fields can also be updated).

If this is all it is then maybe it should tie into our existing reflection infrastructure.

[2021-02-16 12:00] geoand commented on #15042
Thanks for reporting.

I must be failing to see something here because when I tried your example, both endpoints `application/octet-stream`

[2021-02-16 12:20] michalszynkiewicz commented on #15056
Do you mean why I didn't name them that way?

A global default, overridable separately for different extensions sounds good to me too.

[2021-02-16 12:21] phillip-kruger commented on #14814
@gsmet  - @MikeEdgar have a fix for this, should we try and get it into 1.12.0.Final ?

[2021-02-16 12:25] geoand commented on #15105
I can reproduce this consistently

[2021-02-16 12:32] myassine2 commented on #15099
Yes of course the values are as follows:

quarkus.datasource.db-kind=mysql
quarkus.datasource.username=root
quarkus.datasource.password=root
quarkus.datasource.jdbc.url=jdbc:mysql://mysql:3306/qrtz_notification
quarkus.flyway.migrate-at-start=true
quarkus.flyway.schemas=qrtz_notification
quarkus.flyway.clean-at-start=true
quarkus.quartz.store-type=db

[2021-02-16 12:41] gsmet commented on #15103
Yeah it's expected because we don't have an extension for `smallrye-mutiny-vertx-web-client` so you need to add the extensions yourself.

I will fix it.

[2021-02-16 12:42] geoand commented on #15008
I just tried taking out qute quickstart (see https://github.com/quarkusio/quarkus-quickstarts/blob/master/qute-quickstart/src/main/java/org/acme/qute/HelloResource.java)

and by changing

[code]

to

[code]

everything worked as expected

[2021-02-16 13:10] ebullient commented on #15093
Y.. this is may be in the router that was added for `/q` endpoints...

[2021-02-16 13:15] kenfinnigan commented on #15030
The original reasoning for serving anything from the root after the move to `/q` was purely as a backward-compatible "don't break" mode. Ignoring the fact we know now some things don't follow redirects.

I thought about on/off for each, but that gets really messy fast as we continue to add more endpoints.

We can have a flag to enable a grouping of endpoints, maybe MP ones, to be served from the r

[2021-02-16 13:39] markusdlugi commented on #15042
Hi @geoand,

thanks for having a look.

I think @holomekc missed some information about the reproducer - you need to add a specific "Accept" header to your request to observe the behavior. Both /working and /failing have two media types, with /working producing "application/json" and "application/hal" while /failing produces "application/json" and "application/hal+json". The behavior is as follows

[2021-02-16 13:41] cescoffier commented on #3041
@gaetancollaud Look at the gRPC extension which contain some Protobuf related substitutions.

[2021-02-16 13:50] gsmet commented on #15014
@jorsol any feedback? Clock is ticking :)

[2021-02-16 13:54] jorsol commented on #15014
@gsmet sorry, I haven't had time to test it yet, will start testing it right now, give me a couple of hours, although I'm confident it will work :)

[2021-02-16 14:05] arvid-villen-adtoox commented on #15025
We might be affected by this as well.
Does anybody know which versions of Quarkus this affects?

[2021-02-16 14:15] Sanne opened #15111 "Hibernate Reactive component is missing the dependency to Quarkus-Mutiny"
**Describe the bug**
Hibernate Reactive depends on Mutiny, but isn't using the `quarkus-mutiny` module; this implies it's missing the deployment module for Mutiny as well.

[2021-02-16 14:15] leutrimmusliuu commented on #14747
@geoand That really bad, this means we cannot use sub-resources anymore when we have filtering and annotations, which in most cases we do. Basically this reactive functionality is really limited and will be hard to use (migrate) rest-easy reactive without sub-resources in a bigger application. The point to migrating to a better version(in this case to rest-easy reactive) is to have more functional

[2021-02-16 14:15] kiziltas commented on #14892
Sorry for late response. I've managed to fix this by myself (can't remember right now, but was most likely workspace related), so this can be closed.

[2021-02-16 14:17] geoand commented on #14747
Did this work with RESTEasy Classic?

If so, it didn't seem so from the issue you uploaded

[2021-02-16 14:24] gaetancollaud commented on #3041
I'm using the grpc extension already. I have some grpc services implemented that works fine.

[2021-02-16 14:25] leutrimmusliuu commented on #14747
@geoand It does work when using javax.ws.rs.container.DynamicFeature. The issue was to show that it doesn't work at @ServerRequestFilter on the reast-easy reactive. I thought it was given that it works on classic one. If you have any suggestion on how to organize sub-resource as a work around please let me know.

[2021-02-16 14:42] jmartisk commented on #14650
Perhaps run a debugger and break on https://github.com/smallrye/smallrye-metrics/blob/2.4.5/implementation/src/main/java/io/smallrye/metrics/app/ExponentiallyDecayingReservoir.java#L209 on the condition that `sample.weight * scalingFactor` equals `NaN`, to see why that happens
Or similarly on https://github.com/smallrye/smallrye-metrics/blob/2.4.5/implementation/src/main/java/io/smallrye/metrics/a

[2021-02-16 14:45] jorsol commented on #15014
@gsmet It works for my use case, the reproducer works as expected. Thanks!

Just a small note, `url-connection-client` and `apache-client` are mutually exclusive, so having this should fail at **build** time.
[code]
Right now this fails at **runtime** with: `software.amazon.awssdk.core.exception.SdkClientException: Multiple HTTP implementations were found on the classpath. ...`.

So it would be ni

[2021-02-16 14:54] missourian55 commented on #15089
Thanks, the workaround fixes the problem

[2021-02-16 14:56] cescoffier commented on #15111
The quarkus-mutiny module also does the "infrastructure setup" (log, blocked thread checker, worker pool thingy). So you need to make sure you use quarkus-mutiny in your extension.

[2021-02-16 14:59] geoand commented on #14747
I was asking because I tried it with RESTEasy Classic and couldn't get it to work.
If you have such an example, I'd love to see it

[2021-02-16 15:07] #15014 closed

[2021-02-16 15:07] #15048 closed

[2021-02-16 15:11] DavideD commented on #15111
Thanks, I will have a look in a bit

[2021-02-16 15:17] mvrk57 commented on #2718
Hi guys :-) Im trying to use snappy in a native quarkus application too.
Is the only way to get it running to do it the way @spike83 described? Create a snapshot, remove SubstituteSnappy and load the precompiled lib?

Thanks for your help :)

[2021-02-16 15:22] gsmet commented on #15014
So sure... feel free to open an enhancement request. Probably a good issue for a new contributor.

[2021-02-16 15:28] Sanne commented on #15111
@DavideD it's assigned to me.. sending a PR soon.

[2021-02-16 15:32] sberyozkin commented on #13049
@mklueh thanks, so let me close it - but please re-open if it resurfaces again :-)

[2021-02-16 15:32] #13049 closed

[2021-02-16 15:32] syndic8-stephen commented on #15097
@phillip-kruger Thanks for the quick turnaround on this.  I still need to test against my code but the solution and code look good.

[2021-02-16 15:35] DavideD commented on #15111
Ah, sorry @Sanne, I didn't see it and thought you were on PTO.

Thanks

[2021-02-16 15:36] Sanne commented on #15111
thanks @DavideD :) I'll be away from tomorrow.

[2021-02-16 15:37] michalszynkiewicz opened #15113 "Add info on how to use gRPC code gen with Gradle to the guide"

[2021-02-16 15:44] bcluap opened #15114 "RESTEasy Reactive: Sub resource Path Params more than 2 levels back are not passed correctly"
Describe the bug
Sub resource path params are not bound correctly in a scenario with more than two sub resource levels.
E.g. if path /trees/{treeId}/branches/{branchId}/leaves/{leafId} is handled by a sub resource "LeavesResource" which uses @PathParam("treeId") and @PathParam("branchId") and @PathParam("leafId") then treeId is not injected while the other two are.

Expected behavior
Multiple leve

[2021-02-16 15:44] gsmet commented on #15075
We fixed a couple of occurrences of this error during the last months so yeah that might be already fixed in recent versions.

[2021-02-16 15:46] gsmet commented on #15088
/cc @Sanne @dreab8 any chance one person from the ORM team could have a look, at least to confirm if there's a bug? There is a reproducer above.

Thanks!

[2021-02-16 15:47] gsmet commented on #15100
I have absolutely no idea what you're talking about :).

Could you give a bit more context in the description about the feature you're referring to? Thanks!

[2021-02-16 15:49] leutrimmusliuu commented on #14747
@geoand  Here is a working example. Please let me know if you have any questions/sugestions.

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/5989808/code-with-quarkus.zip)

[2021-02-16 15:51] sberyozkin commented on #5485
@stuartwdouglas Hi Stuart, the case which is of interest to some users is where they just don't want to add the annotations in order for the authentication to take place. Yes, if some users add `@PermitAll` then it will be confusing to them why it is not honoured - but there will be the documentation explaining the auth is required by default or we can fail the build if it is enabled and `@PermitA

[2021-02-16 15:58] jspasquali commented on #15057
Sure, I'll try to put together a minimal reproducer when possible

[2021-02-16 16:02] syndic8-stephen opened #15117 "Allow output of openapi store-schema-directory to be packaged and available to classpath of generated jar and native"
**Description**

quarkus-openapi

During build we can specify the store-schema-directory to construct and save the openapi.yaml and openapi.json files.   When the jar is pushed into maven I would like code consuming the jar to be able to read the file directly from the classloader.   One use of this is to have a separate maven module that uses the openapi-generator-maven-plugin  to generate a clie

[2021-02-16 16:19] wgresshoff opened #15118 "/metrics uri in generated kubernetes.yml is wrong"
**Describe the bug**
Quarkus (currently) prefixes all technical (non-application uri's) by /q. In kubernetes.yml this works perfect for liveness and readyness url's, but /metrics is added as is

prometheus.io/path: /metrics

**Expected behavior**
The created path should be
prometheus.io/path: /q/metrics
(or instead of /q the configured non-application-root-path).

**Actual behavior**
(Describe the

[2021-02-16 16:36] jerboaa commented on #14972
Right. Note that many other tests (or apps) use JAX-B in some form or another and it will affect them too. This spring-web integration test is just one example how this could look like.

[2021-02-16 16:40] dreab8 commented on #15088
Hi @gsmet I'm going to look at it

[2021-02-16 16:45] phillip-kruger commented on #15117
The openapi document is already in the jar, as that is what is used to serve `/openapi`.

Should the client not generate from `/openapi` ?

[2021-02-16 16:51] phillip-kruger commented on #15117
You can also look at https://github.com/smallrye/smallrye-open-api/tree/master/tools/maven-plugin if you want to generate the openapi document with maven, maybe that works for you ?

[2021-02-16 16:59] syndic8-stephen commented on #15117
If using a schema first approach you would place your schema into the openapi folder and it would work that way.   If using a code/annotation first approach to generate the schema the annotations are generating the openapi.yaml and you do not have an openapi.yaml in the resources folder unless you are using one as a base/template for the processing, in that case the code pulling in the dependency

[2021-02-16 17:09] syndic8-stephen commented on #15117
That may be a solution for the time being but could not make use of any of the quarkus configuration in this case for the generation.   As I am generating the schema for everything else it may be enough to just rely on this for the generation and place into the openapi folder and just turn of quarkus processing.    Thanks, I will give it a go and see if it works for my code and can generate the sa

[2021-02-16 17:14] pjgg opened #15121 "Openshift/k8s /metrics should be /q/metrics"
## Description
As nowadays we are doing with /health, that on k8s/Openshift is pointing to /q/health 

For example:
[code]
We should do the same with /metrics in order to avoid a client redirection to /q/metrics that could be `inconvenience` in terms of performance and also could give some troubles with security. 

### Expected behavior
Currently, we are generating the following Openshift.yaml:
[c

[2021-02-16 17:16] geoand commented on #15121
This is a duplicate of https://github.com/quarkusio/quarkus/issues/15118

[2021-02-16 17:16] #15121 closed

[2021-02-16 17:40] #14814 closed

[2021-02-16 17:42] #15097 closed

[2021-02-16 18:41] gsmet commented on #14972
We discuss this with @geoand today.

If the issue boils down to the issue mentioned here: https://github.com/quarkusio/quarkus/pull/14700#issuecomment-769915587 then I'm not sure what we could do.

I have nothing against having a configuration property to enable ImageIO support (disabled by default) and a build item for extensions to potentially enable it (and that we can do!) but... we need to fi

[2021-02-16 18:51] antoniomacri commented on #15075
OK, thanks, I'll try to upgrade in the next weeks.

However if I'm correct, the two mentioned issues relate to request (mine is on response), with TLS/SSL (not my case).

I just added a few logs in my app to better investigate.

[2021-02-16 18:54] michalszynkiewicz commented on #15057
Thanks in advance :)

[2021-02-16 18:59] cescoffier commented on #2718
At the moment yes. I will be working on it soon.

[2021-02-16 19:05] radcortez commented on #15081
@geoand we can probably think about dropping `@ConfigProperties` interface implementation and replace it with SR Config `@ConfigMapping`, even if we just substitute the annotation at build time.

Right now, it seems we are just duplicating effort. Regarding validation, `@ConfigMapping` does not support that yet, but I already have a prototype for it here: https://github.com/smallrye/smallrye-confi

[2021-02-16 19:08] n1hility opened #15123 "Provide guidance on native vs hotspot"
Add some additional guidance to the Quarkus Performance Guide and possibly the native guide on factors that should help inform whether to go with native or hotspot/OpenJDK. For example, large heap applications are better suited to the advanced parallel collectors in OpenJDK (G1, Shenandoah).

[2021-02-16 19:10] edeandrea commented on #15081
Whatever the decision going forward is let's just keep in mind the top-level use case:

As a developer I should be able to expose type-safe configuration and/or hierarchies of configuration and be able to validate the configuration against a set of rules.

Currently the "interface-way" of defining configuration doesn't support that requirement whereas the "class-way" does. If the "interface-way" c

[2021-02-16 19:12] geoand commented on #15081
@radcortez yes, let's sync sometime before 1.13 and name a decision

[2021-02-16 19:23] radcortez commented on #15081
No worries. This is just the internal implementation. It shouldn't matter to the end user. And yes, interfaces should support validation as well.

[2021-02-16 19:27] phillip-kruger commented on #15117
Maybe you can explain what you want to do a bit more, as I am not sure I follow. The idea is that you can get the latest openapi by going to /openapi against your running application, The reason we added the ability to store the openapi document on build is so that users can compare against previous versions and detect changes. Apart from filters, the openapi document is generated on build and inc

[2021-02-16 19:51] #15118 closed

[2021-02-16 20:04] diogocarleto opened #15124 "Optimistic lock control on Panache MongoDB"
Hi guys, hope you are doing well.

I was thinking about something I've commented in another ticket some time ago, but in that ticket we are talking about MongoDB migrations.
What about we include in MongoDB Panache an optimistic lock feature, just like we have in JPA. Spring and other frameworks already have some similar.

I think it is not so complicated to implement, basically we need an annotat

[2021-02-16 20:29] robertjesionek opened #15125 "Ability to apply provider to 'quarkus.oidc.credentials.secret' configuration key"
The framework provides the ability to apply credentials-provider to 'quarkus.datasource' configuration key. It works great if developer decides to store sensitive data in the key vault.

It would be great if the Open ID Connect extension supported similar feature, that could be leveraged if developer prefers to store oidc's credential secret in the vault, too.

[2021-02-16 20:32] diogocarleto commented on #9802
Sorry for my delay, now it is working.

Thanks @mkouba, @loicmathieu and @FroMage.

Best,

[2021-02-16 20:39] cortex93 commented on #15093
I'm not an advocate of 406 over 404. I'm re Just notice the behavior when doing some tests moving from the smallrye extension to micrometer. And my tests were using the accept json header. I struggle a little bit why the endpoint fails. And with the recent move to /q, it adds some confusion as the guide is not up to date regarding default value shown in the configuration section at the end (still

[2021-02-16 20:50] #15111 closed

[2021-02-16 21:31] loicmathieu commented on #9802
Thanks to confirm the fix.
I'm closing it.

[2021-02-16 21:31] #9802 closed

[2021-02-16 21:59] sberyozkin commented on #15125
I wonder if a property initialization like this one can work:
[code]
@vsevel Hi Vincent, I recall we were talking awhile back about something similar ? Also CC @radcortez

[2021-02-16 22:21] #15105 closed

[2021-02-16 22:38] karesti commented on #7678
@rsvoboda @cescoffier I'm experiencing this issue with jvm and native mode in openshift. not sure what I'm doing wrong

[2021-02-16 22:39] karesti commented on #7678
not sure if this is the issue exactly
I get this:
2021-02-16 22:27:32,212 ERROR [io.qua.run.Application] (main) Failed to start application (with profile prod): java.lang.IllegalStateException: Failed to create cache dir: /tmp/vertx-cache/file-cache-840facac-d89f-4b7b-9980-0f48350ea364

[2021-02-16 22:50] hernael opened #15131 "Error running Panache Reactive Test with IntelliJ JUnit template"
**Describe the bug**
Since 1.11.x Quarkus version, the Test in IntelliJ fail.
In 1.10.5 work fine.

**Actual behavior**
when run Panache Reactive Test with IntelliJ JUnit template throws the following error:

[code]

**To Reproduce**
Just create a test to a Reactive Panache Repository and run it with IntelliJ JUnit template

**Environment (please complete the following information):**
 - Output of

[2021-02-16 23:34] #14926 closed

[2021-02-17 00:44] queencge opened #15132 "ServerExceptionMapper is not working expected in native image"
ServerExceptionMapper is not working expected in native image
When I tested without native-image
ServerExceptionMapper is called when it has exception and return proper value.

But after native-image, same call has just
{"error": null}

**Expected behavior**
Response with proper body

"error": {"method": "PUT","path": "/v1/users/send-reset-password-email","service": "core-identity-service","status

[2021-02-17 00:55] queencge opened #15133 "microprofile client library can't be called directly from the service project."
**Describe the bug**
I generated client library separate with openapi-generator with microprofile
Add this client library in main service project with mvn dependency.
but that  client API doesn't call properly.

First Issue.
So I need to create api client again in service project although client dependency library has it.
Although generated client class is in the client library which was generated

[2021-02-17 05:31] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/573805541

[2021-02-17 06:42] #11382 closed

[2021-02-17 07:20] geoand commented on #12486
This is failing with:

[code]

[2021-02-17 07:40] cescoffier commented on #7678
@karesti in your case I believe it's because you don't have the permission to write in `/tmp`, can you check that you have the permissions?

Any way to get a reproducer if that's not the case?

[2021-02-17 07:40] vsevel commented on #15125
it is more:
[code]
with `path/in/vault` containing key `my.secret`

but yes it works. there is nothing specific here. is this what you mean?

[2021-02-17 07:48] geoand commented on #15042
Understood thanks.

@FroMage @stuartwdouglas do you guys remember if is there somewhere in the spec that mentions how to handle these sorts of media types?

[2021-02-17 07:50] geoand commented on #15114
@stuartwdouglas mind taking a look at this one since you did most of the subresource stuff?

[2021-02-17 08:08] geoand commented on #14747
Thanks for the reproducer.

What you show in that code does work, but it's not the same thing as you describe in the case of the filter. In your latest example you are deciding whether or not to add a filter using a DynamicFeature, but the filter itself can't know the proper `ResourceInfo`.

That same code should work with RESTEasy Reactive as RESTEasy Reactive supports all the normal JAX-RS featu

[2021-02-17 08:11] geoand commented on #14747
In your example you could also use https://docs.oracle.com/javaee/7/api/javax/ws/rs/NameBinding.html instead of the dynamic feature.
Supporting `@NamedBinding` with `@ServerRequestFeature` in that case makes sense.

[2021-02-17 08:15] SaumyaSingh1 commented on #14885
Sure, would love to work on it :)

[2021-02-17 08:33] geoand commented on #14885
This is especially useful for Filters that use `@NameBinding`

[2021-02-17 08:52] #11902 closed

[2021-02-17 09:05] haraldatbmw commented on #14650
@jmartisk Looks like a known issue in other projects. See https://github.com/dropwizard/metrics/issues/1173

[2021-02-17 09:27] #14961 closed

[2021-02-17 09:41] karesti commented on #7678
@cescoffier oh ok. I will check this with the team. How can I give those permissions in openshift ?

[2021-02-17 09:41] karesti commented on #7678
@cescoffier I will check with the team so I get it solved if it's a matter of permissions

[2021-02-17 09:52] geoand commented on #15132
Can you update the code to show what `buildErrorResponse` does?

[2021-02-17 09:53] JoThomsen commented on #9210
I'm also very interested in this feature. I solved manually, but by adding an Annotation, would be very nice

[2021-02-17 09:56] queencge commented on #15132
public class ExceptionMappers {

    private final Logger logger = getLogger(getClass());

    @ServerExceptionMapper({IllegalStateException.class})
    public Response handleIllegalStateException(IllegalStateException illegalStateException, HttpServerRequest httpServerRequest) {
        logger.error("illegalStateException", illegalStateException);
        return Response
            .status(HttpR

[2021-02-17 09:57] geoand commented on #15132
And `ErrorResponse ` looks like?

[2021-02-17 10:01] gsmet commented on #14758
Thanks! Let's keep it open for now.

[2021-02-17 10:03] gsmet commented on #15058
Let's close it when we upgrade SmallRye Reactive Messaging in Quarkus!

[2021-02-17 10:06] queencge commented on #15132
[code]

[2021-02-17 10:09] queencge commented on #15132
when I tried to make Object to String

[code]

message is printed out like this.. {"error":null} . only that is happened in native-image

[2021-02-17 10:11] FroMage commented on #15131
This must be related to the changes in HR where we mandate access from the IO thread, but I don't understand why this would have passed CI, there's no reason why running from the CLI should behave differently to running from the IDE.

[2021-02-17 10:16] sberyozkin commented on #15125
@vsevel thanks Vincent; I see, yes, in this specific case getting `my.secret` as you have shown should be sufficient as the issue is about fetching it from Vault.
@robertjesionek can you please try something similar to what @vsevel typed above ?
thanks

[2021-02-17 10:17] geoand commented on #15132
This is **not** a RESTEasy Reactive issue.

The thing is that Quarkus has no way of knowing what type of entity you are returning and therefore cannot automatically make reflection work for that class in native mode.
To make the application work properly in native mode, you need to provide some hints manually by using `@RegisterForReflection` as is mentioned at https://quarkus.io/guides/rest-json#

[2021-02-17 10:17] #15132 closed

[2021-02-17 10:19] mvrk57 commented on #2718
thanks a lot! for now I got it working with the workaround. So no need for a hurry ;-)
Have a good day!

[2021-02-17 10:44] FroMage commented on #15042
Wow, that's quite a question.

JAX-RS mentions suffixes by accident several times, but not what to do with them. It does however point out that XML serialisers should be registered with `application/xml` and `application/*+xml`, pointing out that there is some partial matching in the subtype, and that it's not automatic: we can't assume that `application/foo+xml` matches `application/xml`.

https:

[2021-02-17 10:46] geoand commented on #15042
Thanks a lot @FroMage

[2021-02-17 10:48] jspasquali commented on #15057
Here is a reproducer repo : https://github.com/jspasquali/quarkus-grpc-dep-issue
Thanks to have a look!

[2021-02-17 10:52] geoand commented on #15133
Thanks for reporting.

Do you have a specific reproducer project you could share?

[2021-02-17 10:56] galderz commented on #15085
@stuartwdouglas Yes

[2021-02-17 10:57] geoand commented on #15131
I just tried this on our `hibernate-reactive-quickstart` and it worked just fine.

Can you share a sample project that exhibits the problematic behavior please?

[2021-02-17 10:58] FroMage commented on #15131
The quickstart runs from an IO thread, no? This is when running directly from a `@Test` method, no?

[2021-02-17 11:01] geoand commented on #15131
I guess (by just looking at the stacktrace), but that is why I would like to have a project that exhibits the behavior.

[2021-02-17 11:02] FroMage commented on #15131
Oh, I thought this was our CI tests.

OK, then I bet this is becaue our CI tests run this in a transaction and then block waiting for them, which makes them run on the IO thread, because we can do this for transactions.

[2021-02-17 11:04] geoand commented on #15131
Right, that makes sense.

If we have an example of what OP is trying to do, at the very least we need to document what the expected behavior is

[2021-02-17 11:10] queencge commented on #15133
with attached jar

Add depenency

[code]

In main service project, to call this client.
1. BookApi which is from library -> not working, JVM and native-image both
2. Create a interface
@RegisterRestClient(configKey = "microprofile-external-book-api")
@RegisterProvider(ApiExceptionMapper.class)
public interface BookClient extends BookApi
-> JVM working but native-image not working

3. need to creat

[2021-02-17 11:13] geoand commented on #15133
Thanks for the reproducer, but it looks like it missing the source code.

[2021-02-17 11:16] gsmet opened #15142 "Some code start tests test the version which is not compatible with releases"
Got these errors while releasing:
[code]

We can't count on the version to always be `999-SNAPSHOT`, we shouldn't test that.

[2021-02-17 11:22] ia3andy commented on #15142
Ok I will look for all snapshots containing versions and fix it..

[2021-02-17 11:28] queencge commented on #15133
[client.tar.gz](https://github.com/quarkusio/quarkus/files/5995262/client.tar.gz)
I attached client library source.. but.. that is just auto-generated one which is from openapi-cli.

And.. I just import this with dependency to connect external service.

[2021-02-17 11:29] geoand commented on #15133
@michalszynkiewicz mind taking a look at this?

[2021-02-17 11:33] michalszynkiewicz commented on #15133
Does the library with the client interfaces provide a jandex index? You can find instructions for adding it [here](https://stackoverflow.com/questions/55513502/how-to-create-a-jandex-index-in-quarkus-for-classes-in-a-external-module)

[2021-02-17 11:49] gsmet commented on #15142
Yeah, I don't think we can test this easily so I would rather drop the test on the version.

Otherwise, you need a reliable way to get the current version, not sure if we have that.

[2021-02-17 11:56] michalszynkiewicz commented on #15057
The details on what happens are that the `grpc-grammar` module doesn't have a Jandex index and the `grpc-service` module doesn't know that the implementation class is an implementation of (I think) `BindableService`, so it's not discovered.

To fix this, you need to have the `grpc-grammar` indexed. I think in this case the base way to do it is to add jandex-maven-plugin to it.
You can find details

[2021-02-17 12:09] robertjesionek commented on #15125
That does not work for me. I do not use a built-in vault extension. I am interacting with Azure Key Vault through their dedicated Java SDK: https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java

Provider approach would be much more flexible.

[2021-02-17 12:18] jmartisk commented on #14650
That's a great find, it surely looks related.
But unfortunately I still can't reproduce it, I took the reproducer from https://gist.github.com/altery/0efd06c4f8d0c83a44bd718e8170a49e, adapted it a little bit to MP Metrics API (which was originally based on Dropwizard and then diverged a bit), and...
and I still don't get any NaN values in the mean (instead, just zeroes)

Would you perhaps be able

[2021-02-17 12:23] ia3andy commented on #15142
[code]

@gsmet the problem is that we use snapshot testing to test that the code generation is valid. Having dynamic version is not relevant here and should be mocked for the test to run properly everywhere.

[2021-02-17 12:38] vsevel commented on #15125
there are 2 solutions:
1) implement the credentials provider pattern for the azure key vault (as a quarkus extension, or an app specific module) and support it in the oidc extension
2) implement an azure key vault config source

[2021-02-17 12:41] zakkak commented on #14972
@gsmet @geoand  wouldn't a conditional `@Delete` do the trick?
If `ImageIO` support is not enabled we `@Delete` `ImageIO`.

[2021-02-17 12:42] geoand commented on #14972
I don't get what we would delete in that case

[2021-02-17 12:43] sberyozkin commented on #15125
@robertjesionek I see; I'm pretty sure I've seen a blog post somewhere showing how the Azure key Vault values can be exposed as MP configuration properties, using a custom `ConfigSource`. CC @radcortez Hi Roberto - do you recall seeing it ?

[2021-02-17 12:44] zakkak commented on #14972
I was thinking about "deleting" the whole `ImageIO` class like we do in https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/graal/DeleteIIOImageProviderHelper.java and if that's too aggressive we could possible substitute only specific methods from ImageIO like we do in https://github.com/quarkusio/quarkus/blob/master

[2021-02-17 12:45] geoand commented on #15099
I don't get how you are trying to run things. From the logs it looks like you are running Quarkus in dev mode, but your docker-compose file indicates that you have built a production jar and are running it

[2021-02-17 12:46] sberyozkin commented on #15125
@robertjesionek see https://github.com/Azure/azure-microprofile/tree/master/microprofile-config-keyvault

[2021-02-17 12:48] geoand commented on #14972
In the examples you mentioned, we are deleting RESTEasy classes.
But in this issue, it's a JAX-B class  (`com.sun.xml.bind.v2.model.impl.RuntimeBuiltinLeafInfoImpl`) that loads `javax.imageio.ImageIO` in "<clinit>", so I don't understand what you are proposing we delete.

[2021-02-17 12:51] mkouba commented on #15083
@FroMage @geoand @famod @shawkins @stuartwdouglas Here's a draft PR: https://github.com/quarkusio/quarkus/pull/15144

At the moment  the tests are missing.

[2021-02-17 13:11] ppalaga commented on #9885
@ia3andy we publish the deprecation status [as described above](https://github.com/apache/camel-quarkus/blob/master/extensions/hystrix/runtime/src/main/resources/META-INF/quarkus-extension.yaml#L30-L32) but it is not shown on https://code.quarkus.io/?extension-search=hystrix Did it ever work?

[2021-02-17 13:11] gsmet commented on #15085
I created https://github.com/quarkusio/quarkus/pull/15145 .

[2021-02-17 13:11] geoand commented on #15100
I assume we are talking about https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/core/annotation/AliasFor.html.

If that is indeed the case, I personally don't see much point

[2021-02-17 13:16] geoand commented on #14972
What Guillaume is referring to here is that we would like the Mandrel team to write the (gigantic) necessary substitution that would be necessary for `RuntimeBuiltinLeafInfoImpl` to make it work as proposed

[2021-02-17 13:21] myassine2 commented on #15099
Thank you so much for your support, it was an issue from my end.

[2021-02-17 13:21] #15099 closed

[2021-02-17 13:23] geoand commented on #15099
Glad you figured it out :)

[2021-02-17 13:30] geoand commented on #14892
OK, let's close for now and if needed please re-open it with new information

[2021-02-17 13:30] #14892 closed

[2021-02-17 13:30] sberyozkin commented on #15125
Hi @robertjesionek @vsevel  Sure, I'll keep this issue open even if `ConfigSource` is confirmed to work as I agree going forward it would be useful for `quarkus-oidc` users to have `CredentialsProvider` checked; I can't prioritize on it now though so hopefully the `ConfigSource` approach will do well in the short/medium term

[2021-02-17 13:30] radcortez commented on #15125
I guess you find it? :)

[2021-02-17 13:33] #14795 closed

[2021-02-17 13:35] ambition-consulting commented on #15100
Yes, it helps in reducing annotation cluttering. Personally I have found a
workaround when using java immutables an Jackson, which allows
customisation differently

Georgios Andrianakis <notifications@github.com> schrieb am Mi., 17. Feb.
2021, 14:11:

[2021-02-17 13:37] geoand commented on #15100
Can you add an example of such cluttering and how `@AliasFor` reduces it?

[2021-02-17 13:39] geoand commented on #14709
Is this still an issue?

[2021-02-17 13:45] geoand commented on #14479
This was fixed in https://github.com/quarkusio/quarkus/pull/14489 which made it into Quarkus `1.11.2.Final`

[2021-02-17 13:45] #14479 closed

[2021-02-17 13:47] geoand commented on #14528
Is this still an issue with Quarkus `1.11.3.Final` or `1.12.0.CR1`?

If so, can you provide a reproducer please?

[2021-02-17 14:05] ntrp opened #15147 "OpenCV does not work in native mode (UnsatisfiedLinkError)"
**Describe the bug**
OpenCV does not work when the application is compiled to native.

**Expected behavior**
The call completes correctly

**Actual behavior**
While using OpenCV classes in native mode the application crashes with:
[code]

**To Reproduce**

https://github.com/ntrp/quarkus-jni-opencv-issue

Steps to reproduce the behavior:
1. compile to native with `mvn package -Pnative -Dquarkus.na

[2021-02-17 14:06] geoand commented on #14473
This is a known limitation in RESTEasy. From https://docs.jboss.org/resteasy/docs/4.5.9.Final/userguide/html/_FormParam.html:

[code]

[2021-02-17 14:06] #14473 closed

[2021-02-17 14:08] geoand commented on #14448
Is this still an issue?

[2021-02-17 14:13] hernael commented on #15131
Hi, please note here:

https://github.com/hernael/reactive-demo

I create a test call RepositoryTest with 2 methods.
Both methods fail in IntellIJ 2020.3

[2021-02-17 14:15] FroMage commented on #15131
Yes, that's it. Can you try using `Panache.withTransaction()` around the call in your test?

[2021-02-17 14:15] geoand commented on #14394
I think in GraalVM 21 support method handles better now so maybe this can be re-examined?

[2021-02-17 14:17] geoand commented on #14365
Is this still a problem with Quarkus `1.11.3.Final`?

[2021-02-17 14:20] hernael commented on #14709
this still fails for me in version 1.11.3

[2021-02-17 14:20] #14178 closed

[2021-02-17 14:21] geoand commented on #14199
There have been a lot of changes in Quarkus DevUI so this might have already been fixed.

Can you give it a shot with the latest versions of Quarkus?

[2021-02-17 14:22] Valentin-Nikolov commented on #12594
@gsmet what is the workaround to change the profile then? Do you plan to make some fix on that?

[2021-02-17 14:22] geoand commented on #14172
I'm going to close this at it doesn't seem reproducible.

If however you are able to reproduce it, feel free to comment and / or reopen

[2021-02-17 14:22] #14172 closed

[2021-02-17 14:24] geoand commented on #14029
Like Clement said, this is related to DNS and is not a Quarkus issue, so I'll go ahead and close

[2021-02-17 14:24] #14029 closed

[2021-02-17 14:25] hernael commented on #15131
I just tried like this:
[code]

but they still keep failing

[2021-02-17 14:25] geoand commented on #14010
Let's close this in favor of https://github.com/quarkusio/quarkus/issues/15013

[2021-02-17 14:25] #14010 closed

[2021-02-17 14:25] geoand commented on #15013
cc @aloubyansky

[2021-02-17 14:26] FroMage commented on #14885
@SaumyaSingh1 you can find the info about response/request filters in `ResourceInterceptorsBuildItem`, so that should be enough to create a new DEV UI page to display that info if you expose it from `DevConsoleProcessor`. Do you need more guidance or is it enough to get started?

[2021-02-17 14:27] geoand commented on #13999
This was fixed by https://github.com/quarkusio/quarkus/pull/14184

[2021-02-17 14:27] #13999 closed

[2021-02-17 14:27] FroMage commented on #15131
`getFirst` will likely fail because it's not waiting. but `getFirstBlocking` should work…

[2021-02-17 14:29] geoand commented on #13947
Is this still an issue or has it been addressed?

[2021-02-17 14:31] hernael commented on #15131
running them both together in Intellij fails, or running one by one also fail :(

[2021-02-17 14:33] geoand commented on #13742
This will be addressed when we move to Vert.x 4 and is being tracked by [here](https://github.com/quarkusio/quarkus/issues/15031), so let's close this as a duplicate

[2021-02-17 14:33] #13742 closed

[2021-02-17 14:36] geoand commented on #13658
This was likely fixed by Stuart in https://github.com/quarkusio/quarkus/pull/9524

[2021-02-17 14:36] #13658 closed

[2021-02-17 14:40] geoand commented on #13479
Fixed in https://github.com/quarkusio/quarkus/pull/13498

[2021-02-17 14:40] #13479 closed

[2021-02-17 14:44] geoand commented on #13277
@ntrp any change you could add an example as mentioned above?

[2021-02-17 14:47] geoand commented on #13006
The aforementioned commits have been in `master` for a while, so this can be closed

[2021-02-17 14:47] #13006 closed

[2021-02-17 14:49] geoand commented on #13003
Is this still an issue?

If it is, I'd love to have an example project that exhibits the problematic behavior

[2021-02-17 14:50] geoand commented on #13000
In Quarkus, JAX-RS resources are **not** request scoped by default, so this works as expected

[2021-02-17 14:50] #13000 closed

[2021-02-17 14:51] sommermi opened #15149 "Health checks fails due to NPE in quarkus-smallrye-health"
**Describe the bug**

I'm currently migrating a microservice from thorntail to quarkus. In thorntail the dependency
[code]

This was migrated to

[code]
After the migration a call to `/health` caused the exception:

[code]
The beans that are implementing the health checks are from a company internal source. Therefore i cannot post the original source code.

I investigated what could cause the prob

[2021-02-17 14:51] geoand commented on #12981
Is this still an issue?

[2021-02-17 14:52] mvrk57 commented on #8938
Hi guys! any progress on getting aws secrets within quarkus? Im not sure if I should write my own config provider for that since it should be a usual use case?
thanks a lot ;)

[2021-02-17 15:00] Ladicek commented on #15149
What scope is your "optional" health check? I think producer methods are only allowed to return `null` if the bean scope is `@Dependent`, but I'm no expert, so please don't take my word for it :-)

[2021-02-17 15:04] patriot1burke commented on #14448
I'll check.  Remind me tomorrow morning if I don't get back to you.

[2021-02-17 15:11] sommermi commented on #15149
The "optional" health check has ApplicationScope. Unfortunatley the actual code that implements this health check is a external dependency that i cannot publish. But i have recreated the exact same setup in my linked test project.

[2021-02-17 15:13] Ladicek commented on #15149
Quoting the `@Produces` javadoc:

[code]

I'm not exactly sure how that works, if you should add `@Dependent` on the producer method or something like that, but I'm pretty sure this is what causes the issue.

[2021-02-17 15:19] oscarfh commented on #14199
I am pretty busy, I cannot promise you that. I would propose that we close it and I open a new ticket if I have a similar issue.
WDYT?

[2021-02-17 15:24] geoand commented on #14199
Sure, makes sense

[2021-02-17 15:24] #14199 closed

[2021-02-17 15:58] obbyK commented on #14022
I tried logging in to the zulip chat group with my github account, the login process ends up sending me to create my organization. I don't have this problem on other zulip chat groups that i can log in with my github account (e.g camel)  is the group  private?

[2021-02-17 16:44] sberyozkin commented on #15125
Sorry @radcortez I meant to react with a smiley but chose a confused one by mistake :-), re-reacted with thumb up :-)

[2021-02-17 17:05] glefloch commented on #15013
@aloubyansky, I started working on it right here: #14834. As you suggested I migrated the `buildSystemProperties` in the `AppModel` but I'm kind of stuck there. I don't know how to properly propagate them in the application.

[2021-02-17 17:22] maxandersen commented on #14022
No. It's public. What URL did you follow ?

[2021-02-17 17:23] maxandersen commented on #14022
@hrstoyanov I missed your comment. We have so many sources of communication to keep track on. Opening one more won't help :)

[2021-02-17 17:41] obbyK commented on #14022
quarkusio.zulip.com

[2021-02-17 17:41] #9895 closed

[2021-02-17 17:41] #11782 closed

[2021-02-17 17:51] gsmet commented on #14022
The URL is https://quarkusio.zulipchat.com .

On Wed, Feb 17, 2021 at 6:41 PM Obby <notifications@github.com> wrote:

[2021-02-17 17:55] obbyK commented on #14022
yes, that's the same login i use, it ends up taking me to https://auth.zulipchat.com/accounts/go/. Upon entering quarkusio on that page, it takes me back to https://quarkusio.zulipchat.com/login/ in and endless loop

[2021-02-17 18:07] zakkak commented on #14972
I would try to avoid this kind of fix, since it essentially entails replicating code from the corresponding library. Ideally I would like a more generic approach that just "removes"/substitutes the classes that are causing the issue.

I toyed a bit with `@Delete` and unfortunately it turns out it doesn't do the trick. Even if we `@Delete` the classes GraalVM sees them as reachable and still brings

[2021-02-17 18:18] geoand commented on #14972
As far as we know, the aforementioned class is the one causing the issue when XML is needed.

I personally don't see any other solution

[2021-02-17 18:39] gsmet commented on #14972
You can't use `@Delete` but you could substitute the methods of the called ImageIO methods to throw exceptions.

I suppose you wouldn't need the library if it's just shell methods throwing exceptions.

Now, how practical it is and how it will scale if we have a ton of different methods called...

[2021-02-17 18:39] jclingan commented on #13850
I'll close this issue. It may be an issue with the base container image used. It does work with S2I though.

[2021-02-17 18:39] #13850 closed

[2021-02-17 18:52] jclingan commented on #11379
If I add a ConfigMap and redeploy, the app won't read it unless there is a rolebinding. The generated yaml includes it. An inexperienced developer (with Kube) will have to debug these types of issues.

This issue isn't about redeploying on YAML changes per se. YAML is generated when `mvn package` is run, which is counter to the Live Coding experience. Really, this GitHub issue is about recognizing

[2021-02-17 19:32] radcortez commented on #13277
I believe that with the changes we added in SmallRye Config 1.11.0 and the Indexed Properties Support, this should work fine, but needs verification.

[2021-02-17 19:41] #15057 closed

[2021-02-17 20:27] ntrp commented on #13277
Sorry, was busy this days. Will add one until the weekend and thank you for the great support you offer on all bugs we open! Not something that happens on every project :)

[2021-02-17 20:33] radcortez commented on #13277
BTW, the Indexed Properties Support was added here: https://github.com/quarkusio/quarkus/pull/14955

[2021-02-18 03:18] stuartwdouglas commented on #15114
I will have a look, however this particular bit was done by someone else :-)

https://github.com/quarkusio/quarkus/commit/c3ebc9adea635df73eb099c806b31812ac2e43e8

[2021-02-18 05:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/577099571

[2021-02-18 06:31] #15114 closed

[2021-02-18 06:32] geoand commented on #15114
I must have erased it from my mind completely 🙈

[2021-02-18 07:06] cescoffier commented on #15058
@gsmet Damned, we will need to be very careful, as it's got closed automatically.

[2021-02-18 07:07] cescoffier commented on #7678
Normally on OpenShift `/tmp` is writable. Did it change?

[2021-02-18 07:30] geoand commented on #554
+1 for closing this as it is unlikely users (thus `@QuarkusTest`) will need this. For extension authors, we have plenty of options on the table already

[2021-02-18 07:30] Sgitario opened #15159 "Bean Validation on Vert.x Routes is not automatically mapped to JSON"
**Describe the bug**
When using constraints on param binding:

[code]

And calling this route directly from a browser or curl with a wrong value, the output is not mapped to JSON.

This is working fine when validating responses:

[code]

If the returned person is not validated, now the output is properly mapped to JSON as expected. Moreover, I didn't need to set the `produces = "application/json"`

[2021-02-18 08:07] #554 closed

[2021-02-18 08:53] #15142 closed

[2021-02-18 08:56] wjglerum opened #15160 "Qute namespace extensions without parameters don't work in Quarkus 1.12.0.FINAL"
**Describe the bug**
I started giving Quarkus 1.12.0.FINAL a try and potentially found a bug.

When I add a template extensions with a namespace and without any parameters it makes Quarkus 1.12 fail to start. This works fine in previous Quarkus releases and should be supported according to the documentation.

See https://quarkus.io/guides/qute-reference#template_extension_methods

**Expected behav

[2021-02-18 09:09] aloubyansky commented on #15013
I'll get back to you soon about this. Sorry for the delay.

[2021-02-18 09:20] SaumyaSingh1 commented on #14885
Sure

[2021-02-18 09:31] karesti commented on #7678
So, the problem is that the docker file uses RUN chown 1001 /work \
and in openshift the user changes so the /tmp file has no rights.
I fixed the issue by using this docker file:

[code]

[2021-02-18 09:32] karesti commented on #7678
@cescoffier I forgot to ping you in my comment above

[2021-02-18 09:32] wjglerum commented on #15160
The generated example code from code.quarkus.io also seems to fail on Quarkus 1.12.0 (figured this out when I removed the Template Extension)

[code]

[2021-02-18 09:47] leutrimmusliuu commented on #14747
@geoand Thanks you for your time and suggestions. If we could have @NamedBinding at @ServerRequestFeature would really help us at many use cases. Looking forward to using it.

[2021-02-18 09:49] Ladicek commented on #15149
I'm looking more into it and found that I was sorely mistaken. Your producer method, by not declaring any scope (or stereotype) annotation, is already `@Dependent`. So that's not where the problem comes from. Please ignore all my comments above :-)

Indeed SmallRye Health doesn't expect `null` health checks. Whether that's a bug, I'm not sure. CC @xstefank.

In the meantime, you can workaround thi

[2021-02-18 09:51] geoand commented on #14747
It will hopefully be in `1.12.1` :)

[2021-02-18 10:17] mkouba commented on #15160
@wjglerum Thanks for reporting! I'll take a look asap.

[2021-02-18 10:17] markusdlugi opened #15164 "Hibernate Reactive: NamedQuery fails after hot reload"
**Describe the bug**
Same issue as already described by @cescoffier in #13355, but I was actually able to reproduce it reliably 😄

After the application is reloaded in dev mode due to a code change, named queries do not work anymore. You don't even need to change something in the queried entity itself, just any change that leads to an entire reload of the application will be sufficient.

**Expecte

[2021-02-18 10:24] dandreadis commented on #15030
I think the default for the MP endpoints should be / (root) (or whatever the specs define), which is what everyone expected up to now. Then if users want, they could move those all under q/* using the provided flag. I wouldn't add any redirects and/or dual-serves, because it complicates things.

Whether we should re-brake the early movers, or not, while unfortunate, IMO it is better to admit and c

[2021-02-18 10:47] mkouba opened #15165 "Qute validation - fix parsing of nested helper hints"
The following code causes a `NumberFormatException`:
https://github.com/quarkusio/quarkus-backports/blob/master/src/main/resources/templates/BackportsResource/backports.html#L15-L16

[2021-02-18 11:00] maxandersen commented on #15030
I would go for owning up to the issue and just do direct serve from both /q/* and /*

The whole intention was to get /q/ uniquely namespaced and add redirects for backwards compatiabilty - which turned out to not work. So doing direct serve seem to be the simplest - possibly *only* do it for the spec routes since we already only do it partially. (i.e. `/q/dev` is not served out)

@dandreadis btw.

[2021-02-18 11:01] holomekc commented on #15042
Hi. Thank you for checking it that fast! I agree to what @FroMage mentioned ```application/hal+json``` and ```application/hal``` should both match.

What I still do not get is the different treatment in the linked ```ClassRoutingHandler```. Why is ```sortedOriginalMediaTypes``` used in case of one MediaType and why is it ```sortedMediaTypes``` in case more MediaTypes are used?

[2021-02-18 11:06] dandreadis commented on #15030
/metrics, /health/, /openapi by default (with the flag moving them to the /q/ namespace)
The others could stay there: /q/dev/, q/swagger-ui

[2021-02-18 11:40] geoand commented on #15131
Can you provide the docker run you are using to start postgresql so we can try your example?

[2021-02-18 11:54] hyperman1 commented on #12981
AFAIK yes.  I talked with @iocanel from quarkus, and our suggestion was to add dummy empty or comment lines at the top of the  generated file. I don't know if he ever implemented it. See https://github.com/quarkusio/quarkus/issues/12826#issuecomment-717751715

[2021-02-18 11:56] zakkak commented on #14972
That's what I thought. Unfortunately substituting just the methods is not enough, we need to substitute the class initializers as well.

For example, compiling the following code does remove the `liblcms` dependency (due to the `ImageIO.read` substitution) but still brings in `libawt` and `libawt_headless` (due to the `ImageIO` class initialization).

[code]

[2021-02-18 12:02] geoand commented on #14972
Yeah, that would have been cool :)

[2021-02-18 12:20] rsvoboda commented on #7678
The default `Dockerfile.native` is:
[code]
So it needs to be adjusted?

[2021-02-18 12:32] karesti commented on #7678
@rsvoboda I did not use anything specific or custom. the quarkus app dit not start simply. I used 4 extensions: websockets, infinispan, rest and scheduler

[2021-02-18 12:54] iocanel commented on #12981
This should be fixed now.

[2021-02-18 12:54] #12981 closed

[2021-02-18 12:59] geoand commented on #15164
Can you try this while having set `quarkus.dev.instrumentation=false` in `application.properties` please?

[2021-02-18 13:07] markusdlugi commented on #15164
Just tested setting that in both application.properties and as system property. Unfortunately it didn't seem to have any effect, issue still exists.

[2021-02-18 13:08] akoufa commented on #14532
@cescoffier @machi1990 @pmlopes Thanks for taking care of this. Can we maybe change the label of the issue back to **bug** ?

[2021-02-18 13:10] geoand commented on #15164
So this does indeed look like a Hibernate (Reactive) issue

[2021-02-18 13:14] geoand commented on #15159
cc @mkouba

[2021-02-18 13:15] geoand commented on #15147
Quarkus makes no claim to work with OpenCV in native mode.
That would require a dedicated Quarkus extension that as of this point no one has written

[2021-02-18 13:18] Sgitario opened #15166 "Bean Validation on Vert.x Routes are not working to validate responses using Multi<>"
**Describe the bug**
The guide describes how we can validate responses: https://quarkus.io/guides/reactive-routes#using-bean-validation. For example:

[code]

This is working fine when using `Uni<...>`, but not using `Multi<...>`. For example:

[code]

**Expected behavior**
It should work the same as when using Uni reponse.

**Actual behavior**
Validation only works on Uni responses.

**Environmen

[2021-02-18 13:18] kenfinnigan commented on #15030
The list of endpoints that were moved under `/q` and with redirects is:

- /health
- /metrics
- /openapi
- /health-ui
- /swagger-ui
- /graphql-ui

In terms of what we do with any endpoints that we want to be served under the root, I think they should also be served under `/q`.

So every non-application endpoint is present under `/q`, but then some subset can be under the root with a config flag se

[2021-02-18 13:22] xstefank commented on #15149
The spec doesn't specify what happens if the health check producer returns null so we defaulted to NPE. If you think that this is a useful use case can you open an issue in the specification repo - https://github.com/eclipse/microprofile-health? In every case, if it worked in Thorntail, I will fix this now in SR so we ignore the `null` HealthChecks - https://github.com/smallrye/smallrye-health/iss

[2021-02-18 13:28] ntrp commented on #15147
Didn't say it does, just trying to understand why it does not

[2021-02-18 13:29] geoand commented on #15147
This would probably be a good starting point in doing so: https://www.graalvm.org/reference-manual/native-image/JNI/

[2021-02-18 13:31] ntrp commented on #15147
To rephrase what I wrote and I guess the bug story too, is there any hit anybody can give me to make it work? Already checked the GraalVM JNI documentation but it's definitely not clear on the necessary steps to make it work. I already tried adding JNI configs

[2021-02-18 14:16] jspasquali commented on #15057
Thanks, I forgot about this jandex thing... I tried with empty beans.xml and with jandex plugin, both are indeed valid solutions.
It is a bit unfortunate this deeper level of knowledge is needed for simple things, this jandex indexing is not something you typically understand by browsing a few quarkus guides!

[2021-02-18 14:16] markusdlugi commented on #15164
I think this might also be related to https://github.com/hibernate/hibernate-reactive/issues/537, what do you think? @Sanne, @gavinking

[2021-02-18 14:25] gsmet commented on #10448
@andreas-eberle did you end up getting OpenCV working?

[2021-02-18 14:26] gsmet commented on #15147
You will probably need some `quarkus.jni.library-paths` set.

But there's also a good chance OpenCV will need some substitutions.

There is another issue open there: https://github.com/quarkusio/quarkus/issues/10448 .

[2021-02-18 14:30] ntrp commented on #15147
I have seen that issue already but it is not affecting me, I am using the openpnp distro of OpenCV which hosts the compiled library in the jar this is why I am perplexed it does not work. I tried adding the so file to the resource inclusion file. I will try to learn better the tools available for native images.

[2021-02-18 14:30] franden opened #15167 "@QueryParam/@PathParam extraction as field on sub jaxrs resources do not work"
In case of usage of jaxrs [sub resources](https://jakarta.ee/specifications/restful-ws/3.0/jakarta-restful-ws-spec-3.0.html#sub_resources) the extraction of  @QueryParam/@PathParam on fields does not work. It works only as method parameter.
[code]

Detailed example:
https://github.com/franden/quarkus_jwt_401_handling_issue_showcase/blob/2e50055fcc792b3c14886ce06611037f0da208a0/src/main/java/org/ac

[2021-02-18 14:37] tursicSR commented on #15008
I think, it has something to do with the Browser not finding the resources(.css and pictures), the data itself is there.

But you can close the issue, I will use only QueryParam, which works fine.

[2021-02-18 14:43] gsmet commented on #15147
@ntrp I think `KafkaStreamsProcessor` might be of interest to you. Kafka Streams depends on Rocksdb so files included in the jar.

Things like: https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-streams/deployment/src/main/java/io/quarkus/kafka/streams/deployment/KafkaStreamsProcessor.java#L112-L130

And: https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-streams/depl

[2021-02-18 14:46] michalszynkiewicz commented on #15057
True, it would be good to have this info in the gRPC guide. I added this to my todo list.

[2021-02-18 15:11] Sgitario opened #15168 "Bean Validation on Vert.x Routes are not validating responses for Java types"
**Describe the bug**
For example, the next route:

[code]

It raises this exception:

[code]

**Expected behavior**
If there is a technical limitation on supporthing this use case, it must be documented and prevent this exception to be thrown. Otherwise, it should validate Java types.

**Actual behavior**
It throws an exception.

**Environment (please complete the following information):**
 - Quar

[2021-02-18 15:13] AlexKovynev opened #15169 "Introduce some more Hibernate batch settings"
**Description**

Add possibility to set that options:

hibernate.order_inserts   = true
hibernate.order_updates   = true

[2021-02-18 15:16] Sgitario opened #15170 "Vert.x Routes List/Set collections support"
**Description**
I would like to use some list or set collections as:

[code]

Or:

[code]

At the moment, the only way to do this is using the `JsonArray` class:

[code]

But supporting List and Set collections provide a better developer experience.

**Implementation ideas**
It should be just a matter of detect the collection here: https://github.com/quarkusio/quarkus/blob/9ae27a3e9e6559c1a35ab7c4

[2021-02-18 15:30] sherl0cks commented on #12393
@zakkak This issue seems to have stalled out. Should I open a new with a specific reproducer just for quarkus core? Are you open a PR just removing the substitution? I really would like to use quarkus native with ImageIO and this seems like the last hurdle in this very long journey.

[2021-02-18 15:32] geoand commented on #15131
The issue is that anyone on the team has to run plenty of such examples everyday, so spending time trying to figure out how to run each different one, is not a very productive use of our time.
I spent a couple minutes on this and when second attempt at running  didn't work, that was enough to ask for a docker command.
I don't care about the data, what I care about is having a database up that has

[2021-02-18 15:32] ntrp commented on #15147
Ok interesting, I actually have seen that rocks db library file in the resource.json file generated by the agent, initially we tried compiling to native a streaming application which uses OpenCV.

[2021-02-18 15:33] geoand commented on #14448
@patriot1burke ping 🙂

[2021-02-18 15:33] ferencbeutel4711 commented on #9138
sadly, the provided example does not work (at least not with autogenerated methods from panache) :(

[2021-02-18 15:38] hernael commented on #15131
sorry but i can't provide what you request

[2021-02-18 16:05] geoand commented on #15008
Well if you have an example project to share that exhibits the problematic behavior, I'd love to see it :)

[2021-02-18 16:21] gsmet commented on #15147
OK, I got something. At least your simple example passes.

I will clean things up and share it and we can iterate from that.

[2021-02-18 17:01] StFS commented on #9671
Any news on solving this @patriot1burke ?

[2021-02-18 17:02] gsmet commented on #15147
@ntrp you can try this extension: https://github.com/quarkiverse/quarkus-opencv

Build it locally for now and I'll release on Maven Central once I got some feedback from you.

[2021-02-18 17:40] gsmet commented on #10448
I created an extension here: https://github.com/quarkiverse/quarkus-opencv .

It works in native and AFAICS dev mode is working too.

[2021-02-18 17:40] #10448 closed

[2021-02-18 17:42] bcluap commented on #15114
Thanks @stuartwdouglas @geoand . I've confirmed it's working even with 4 levels of resources.

[2021-02-18 17:44] xmlking commented on #14012
Update: Still doesn't work with kotlin 1.4.30 and Quarkus 1.12.0.Final

[2021-02-18 18:55] Jeansen opened #15173 "application.yaml properties not injected with @ConfigProperty"
**Describe the bug**
Confiugarion properties work fine with application.properties. But when using application.yaml in combination with the maven dependcy, then Annotations with @ConfigProperty no longer work. That is, configuration properties are no longer injected.

**Expected behavior**
Adding the maven dependency io.quarkus:quarkus-config-yaml and converting a simple application.properties to

[2021-02-18 20:06] famod commented on #15173
You need to use 2 spaces indentation, not 4.

[2021-02-18 20:08] jcjolley commented on #11856
Anyone have a solution for this?

I tried making my own wrapping annotation without success

[2021-02-18 20:16] ntrp commented on #15147
Man, amazing! So simple and so fast :D. Looks like it works great, I tried it also on this example https://github.com/sshaaf/quarkus-opencv-examples so I guess it should work on our code too. It's weird because I guess the extension you created does two things, add the library to the native binary and load it on start. I tried to add the library by using the `-H:IncludeResources` switch and pointi

[2021-02-18 20:59] zakkak commented on #12393
@sherl0cks a minimal reproducer would probably help. However, keep in mind that ImageIO appears to be causing some issues (see #14972 for more details), so it is not yet clear how to proceed with it.

[2021-02-18 21:30] famod commented on #15173
Just confirmed that it works with 2 spaces. Feel free to reopen in case you still think there is bug.

[2021-02-18 21:30] #15173 closed

[2021-02-18 21:41] Jeansen commented on #15173
@famod Thanks for the quick reply. Is this by design? Shouldn't it be irrelevant what amount of spaces, as long as the indentation structure is fine? But even if it matters, then I would actually expect a parsing error telling me that the properties file is malformed. instead of silently ignoring values.

[2021-02-18 21:55] famod commented on #15173
Under the hood, Quarkus is using [`smallrye-config-source-yaml`](https://github.com/smallrye/smallrye-config/tree/master/sources/yaml) which is in turn using [`snakeyaml`](https://bitbucket.org/asomov/snakeyaml/src/master/).
So 2 spaces seems to be the default in snakeyaml and whether or not something is considered malformed is also up to snakeyaml.

There are, however, examples in the Quarkus doc

[2021-02-18 22:34] zakkak commented on #14972
FTR one can get this to work (i.e. remove all dependencies to libawt, libawt_headless, and libcms) by adding `@Substitute` to the class as well (see [here](https://github.com/oracle/graal/blob/59fafa1b9e8383bb0f92530b4876eb6e7d202578/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/annotate/TargetClass.java#L64-L69) for more details), e.g.:
[code]

Unfortunately this is not enough in ou

[2021-02-19 00:22] nvivot commented on #10499
Same as @omri-shaiko i'm also interested in this for datadog to move away from their tracer implementation

[2021-02-19 01:15] zakkak commented on #14972
So far the best solution I could come up with is the following.

Substitute the inner class used in the `RuntimeBuiltinLeafInfoImpl` class initializer using the following:
[code]

Unfortunately this requires the removal of some guarantees from GraalVM:
[code]

I have sent an [email to the graalvm-dev list](https://oss.oracle.com/pipermail/graalvm-dev/2021-February/000101.html) to see if those guar

[2021-02-19 01:46] pipinet commented on #6536
[code]

[code]

[2021-02-19 02:01] nicolas-vivot opened #15182 "Tracing broken when mixing JAX-RS reactive with reactive routes"
**Describe the bug**
When using both JAX-RS (reactive) resources and reactive routes (vertx @route), the generated trace_id seems to be broken on vertx threads after a JAX-RS reactive resources has been hit.
By broken i means that the trace_id on next requests hitting the reactive routes will be the same one as generated for the last JAX-RS resource request.

**Expected behavior**
Any request (no

[2021-02-19 02:16] nicolas-vivot commented on #15182
Hi,

This bug make the next requests on reactive routes non-traceable. (well, traceable but all grouped together under the same trace_id)

Note: it's fine to change all JAX-RS reactive endpoint as reactive routes, but then what's the point of JAX-RS reactive ?
Note 2: i'm new to Quarkus, my apologies if this is an expected behavior. If so, do you mind explaining me the reason of this ?

[2021-02-19 05:33] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/580407106

[2021-02-19 06:16] nicolas-vivot commented on #15182
I added the branch 'datadog-tracer'. Same bug happens with Datadog as tracer implementation, so does not come from the tracer itself.

[2021-02-19 07:28] evacchi commented on #8593
I have just merged the Quarkus 1.12.0.Final bump; hopefully that'll fix it

[2021-02-19 07:32] cescoffier commented on #7678
I just tried (with a different set of extensions but would still use vert.x) on an OpenShift on Azure and no problem.

D'oh didn't see the ubi-minimal version, I may have an older version.

[2021-02-19 07:35] nicolas-vivot commented on #15182
Surprisingly, when switching to json logger (using logging-json extension) this bug does not happens.
It's coming from the log formatter.

[2021-02-19 07:36] geoand commented on #8593
Thanks

[2021-02-19 07:45] cescoffier commented on #2718
#15174 provides an initial support.

The library is embedded in the native image (need to enable snappy and use GraalVM 21+) and loaded when the application starts.

The funny thing is that 4 days ago the MethodHandle used in the Kafka client have been removed... However, it would not enable the support on GraalVM 20.3 as it also needs serialization support.

[2021-02-19 07:48] rsvoboda commented on #7678
Which version of OpenShift was used? Especially interested in the version used by @karesti.

[2021-02-19 08:14] haraldatbmw commented on #14650
@jmartisk I followed your advise and built your smallrye metrics branch with the fix and built quarkus using this dependency. And deployed my application yesterday. Since then the issue was not reproducible any more. So it looks good for me.

Please merge your fix to the master.

[2021-02-19 08:26] cescoffier commented on #7678
Just checked with the very last ubi:8.3 - no problem. So might be an OpenShift permission issue.

[2021-02-19 08:27] gsmet commented on #14650
@jmartisk this is something we probably want for 1.11 and 1.12 so if you could merge the fix in a version that is backportable, that would be awesome.

[2021-02-19 08:31] gsmet commented on #15147
Yeah for the record, the important part is this one: https://github.com/quarkiverse/quarkus-opencv/blob/master/deployment/src/main/java/io/quarkiverse/opencv/deployment/OpenCVProcessor.java#L40-L43 .

Otherwise the library gets initialized at build time and things go wrong.

[2021-02-19 08:43] Sgitario opened #15184 "Bean Validation on Vert.x Routes: violation fields should not depend on field names"
**Description**
Bean Validation on Vert.x Routes: violation fields should not depend on field names. For example, given this route:

[code]

If we call this route and get a validation error, we would get this JSON output:

[code]

Then, if we change the method name as part of a refactor:

[code]

Now, the validation error would look like:

[code]

This can be potentially cumbersome for clients (fr

[2021-02-19 08:55] geoand commented on #15184
cc @mkouba

[2021-02-19 08:55] Sgitario opened #15185 "Vert.x Routes Wrong Behaviour when using hyphens (-) in params"
**Describe the bug**
When using a route with param names that includes hyphen characters:

[code]

If we call our route, we will get a HTTP 404 Not Found error.

Now, if we change our route to get rid of hyphens:

[code]

Everything works fine now.

**Expected behavior**
If there is a strong technical reason to not support hyphens, this should be documented. However, I think it should be supported

[2021-02-19 08:57] geoand commented on #15182
I am a little confused by the description as you mention both RESTEasy Reactive and Reactive Routes.
Can you clarify what **exactly** the problem is?

[2021-02-19 09:12] FroMage commented on #15114
Hahaha, I'm pretty sure we talked about this commit at the time and I noted it was only for a single level ;) :ghost: :bug:

[2021-02-19 09:13] FroMage commented on #15114
https://github.com/quarkusio/quarkus/pull/13853#discussion_r543164320

[2021-02-19 09:13] FroMage commented on #15114
:rofl:

[2021-02-19 09:14] FroMage commented on #15114
But OK, I was wrong, I said we had to use a stack and @stuartwdouglas used a chained list ;)

[2021-02-19 09:18] geoand commented on #15114
Somehow I had completely forgotten about it...

It's all a blur!

[2021-02-19 09:21] #14744 closed

[2021-02-19 09:23] bcluap commented on #15114
[image: image.png]

Looks like I'm a wildling :-)

On Fri, Feb 19, 2021 at 11:18 AM Georgios Andrianakis <
notifications@github.com> wrote:

[2021-02-19 09:26] #612 closed

[2021-02-19 09:27] FroMage commented on #14195
Pretty sure this is done.

[2021-02-19 09:27] #14195 closed

[2021-02-19 09:28] FroMage commented on #13108
PR has been merged, this is done a long time ago.

[2021-02-19 09:28] #13108 closed

[2021-02-19 09:28] FroMage commented on #9487
Yeah, why is this not closed?

[2021-02-19 09:28] #9487 closed

[2021-02-19 09:33] FroMage commented on #15114
TBH I don't have a clue how I could have remembered that and not what I did yesterday. I guess it's like those SMB secret blocks I still remember from childhood, there's special brain storage for random stuff.

[2021-02-19 09:34] geoand commented on #15114
I want a brain upgrade :P

[2021-02-19 09:39] Andro999b commented on #13357
@cescoffier Is it released? Cause i observe similar issue whit grpc streams.
onMessage listener calles on event-loop thread and onClose called worker thread.
Because of this stream can be closed when message recived.
I am using quarkus 1.11.3

[2021-02-19 09:40] geoand commented on #15185
cc @mkouba

[2021-02-19 09:41] cescoffier commented on #13357
Yes, it was released. Can you open another issue with a reproducer?

[2021-02-19 09:44] geoand commented on #15185
FWIW, this works as expected with RESTEasy Reactive (I just checked as I was curious)

[2021-02-19 09:54] gsmet commented on #15147
@ntrp I pushed the extension to Maven Central. Have fun!

[2021-02-19 09:54] #15147 closed

[2021-02-19 09:57] geoand commented on #15167
cc @asoldano @rsearls

[2021-02-19 09:59] geoand commented on #973
Something similar came up on the mailing list recently:

https://groups.google.com/g/quarkus-dev/c/qB3iW0ciLqI/m/UJAB7KbRAgAJ

[2021-02-19 10:11] geoand commented on #2450
Should this now be closed with the advent of `/q`?

[2021-02-19 10:17] geoand commented on #2904
I really think we should default to `@Singleton` for this...

[2021-02-19 10:18] geoand commented on #3023
Is this still needed?

[2021-02-19 10:21] geoand commented on #3083
https://github.com/eclipse-vertx/vert.x/pull/3749 for Vert.x 3.9 and https://github.com/eclipse-vertx/vert.x/commit/fc823eafffd1eaff77ca17e9cb1f5c18b9d4c5e7 for Vert.x 4.x should cover this

[2021-02-19 10:22] ntrp commented on #15147
Ah ok but that too would be fixable with the build flags `--initialize-at-run-time` I guess. Anyway thanks again for the quick release!

[2021-02-19 10:23] geoand commented on #3084
@michalszynkiewicz https://github.com/quarkusio/quarkus/pull/15141 should address this, right?

[2021-02-19 10:25] michalszynkiewicz commented on #3084
@geoand yes

[2021-02-19 10:26] #3262 closed

[2021-02-19 10:28] geoand commented on #3330
You can now do various things to address this:

* Use `@QuarkusTestProfile`: https://quarkus.io/guides/getting-started-testing#testing_different_profiles
* Use `QuarkusTest*Callback`: https://quarkus.io/guides/getting-started-testing#enrichment-via-quarkustestcallback

[2021-02-19 10:28] #3330 closed

[2021-02-19 10:30] geoand commented on #3461
Something similar was proposed on the mailing list: https://groups.google.com/g/quarkus-dev/c/qB3iW0ciLqI/m/UJAB7KbRAgAJ

[2021-02-19 10:34] gsmet commented on #15147
Yeah, you could fix things with a ton of flags but having an extension makes it easy for everyone and it's not really much more work.

[2021-02-19 10:36] myassine2 opened #15186 "Inject mock with Generics"
**Describe the bug**
I am trying to implement unit tests for my application that uses generics. When I try to annotate the service with @InjectMock for a generic, I get an error that it is unable to detect the bean. I have even tried to add @Named to the inject mock to specify the bean to use, but to no avail.

**Expected behavior**
I should be able to mock classes with generics.

**Actual behavio

[2021-02-19 10:39] geoand commented on #3403
This is going to be solved in a different way by https://github.com/quarkusio/quarkus/pull/14960

[2021-02-19 10:41] geoand commented on #3867
This has mostly been solved by https://quarkus.io/guides/getting-started-testing#testing_different_profiles

[2021-02-19 10:41] #3867 closed

[2021-02-19 10:43] geoand commented on #3938
I am pretty sure that this was fixed by https://github.com/quarkusio/quarkus/pull/14821

[2021-02-19 10:43] #3938 closed

[2021-02-19 10:45] geoand commented on #4281
Is this still a problem?

[2021-02-19 10:46] geoand commented on #4341
We now propose Jackson as the default (one of the reasons is performance), so I'm gonna close this

[2021-02-19 10:46] #4341 closed

[2021-02-19 10:52] jerboaa commented on #14972
[code]

Together with `--report-unsupported-elements-at-runtime` as a native image option seems to work, but is an ugly hack.

[2021-02-19 11:17] Andro999b opened #15187 "GRPC client stream onMessage and onClose executes on different threads"
When calling client grpc service method form blocking code(no matter if its blocking or async client).  Stream close will be executed on worker thread, but on message event will be executed on event-loop thread. So client stream usually closed before able to reads any message

**Expected behavior**
OnMessage and OnClose executed in correct order

**To Reproduce**
https://drive.google.com/file/d/1t

[2021-02-19 11:22] jmartisk commented on #14650
I will release SR Metrics 2.4.6 containing this fix. And also 3.0.2 (which will go to the `microprofile-4` branch for now).
2.4.6 should be backportable to Quarkus 1.11 and 1.12.

[2021-02-19 12:19] zhfeng commented on #14871
[JBTM-3429](https://issues.redhat.com/browse/JBTM-3429) is raised to track the work for JMS 2.0 support in Narayana

[2021-02-19 12:21] zhfeng commented on #14871
[messaginghub](https://github.com/messaginghub/pooled-jms) could be an another option to support the transaction manager integration.

[2021-02-19 12:47] Andro999b commented on #13357
@cescoffier I have created issue with details https://github.com/quarkusio/quarkus/issues/15187

[2021-02-19 12:53] cescoffier commented on #2082
I believe this can be closed. JNI support has been improved a lot.

[2021-02-19 13:16] johnoliver commented on #12584
I can also confirm that when `enable-compression` is set that it causes very odd behaviour, I also see the exception above, however oddly enough that correlates with when the request actually succeeds from the clients point of view. When set I see the following behaviour:

`curl -vvvv 'http://localhost:8080/anaddress' -o output --compressed` this will work fine but the server will throw the except

[2021-02-19 13:19] zakkak commented on #14972
I would add risky and dev-hostile, on top of ugly :)

[2021-02-19 13:19] kenfinnigan commented on #2450
I believe it can yeah

[2021-02-19 13:19] #2450 closed

[2021-02-19 13:19] maxandersen commented on #3403
Isn't this more solved by the feature of exception thrown provide link to add/fix necessary properties ?

[2021-02-19 13:23] jerboaa commented on #14972
Yes. That being said, it could be viable for opt-in users who have the JAXB app (including imageio) well tested and now just want to get rid of the AWT cruft in the native image.

[2021-02-19 13:25] geoand commented on #14972
We really don't want to have to introduce global settings to get around extension specific issues

[2021-02-19 13:28] kenfinnigan commented on #15182
Took a look at the reproducer, and it does include RESTEasy Reactive *and* Vert.x Web (for Reactive Routes).

Is this a bug with slf4j then if it's in the log formatter?

[2021-02-19 13:29] jerboaa commented on #14972
Makes sense.

[2021-02-19 13:32] FroMage opened #15190 "RESTEasy Reactive: support `Uni` in client"
Apparently we support `Multi` but not `Uni`.

[2021-02-19 13:34] FroMage opened #15191 "Add global timeout configuration"
As noticed in https://github.com/quarkusio/quarkus/issues/15056 we have lots of config timeout options for lots of different extensions.

It would be nice to support a global config that every other config could default to, thereby enforcing the same settings/defaults for every client, which could naturally still override it per client using their existing config.

[2021-02-19 13:35] nicolas-vivot commented on #15182
@geoand
Long story short: the problem is that the reported trace_id on the logs is wrong. This does not happen if i only hit the reactive routes. This happen as soon as i start to use the RESTEasy Reactive endpoints.

@kenfinnigan
Might be, i'll have a closer look at it this weekend.

[2021-02-19 13:37] FroMage opened #15192 "Add vertx web client config"
We're using the vertx web client in RESTEasy Reactive, but there's no way to configure it. While we might add jaxrs-client-specific config to override global web client settings, there should be a way to configure the vertx web client globally, possibly in the vertx extension?

[2021-02-19 13:38] FroMage commented on #15192
Related to #15189

[2021-02-19 13:42] Ladicek commented on #15182
I didn't take a look yet, but I fear that we leak an active span somewhere. I hope I'm wrong :-) I also hope I'll find some time to take a look, but it will probably be on Mon. If someone beats me to it, that would be great :-)

[2021-02-19 13:50] karesti commented on #7678
@rsvoboda I'm using a dedicated version 4.6.8

[2021-02-19 13:55] mgwillem commented on #14762
Hi! Any news regarding this feature support? Thanks

[2021-02-19 13:55] dfa1 opened #15193 "exclusion of slf4j-jboss-logmanager"
**Describe the bug**
In our quarkus applications we use a custom extension to be able to log JSON with a particular format (not supported by any quarkus extension I'm aware of).

Since slf4j-jboss-logmanager is extending `MarkerIgnoringBase` and we would like to use SLF4J as facade with *Markers*, right now we are excluding `slf4j-jboss-logmanager` manually from a lot of dependencies.

**Expected

[2021-02-19 14:09] MartinX3 commented on #4644
Would LazyLoading work, if I move from Jackson to JSONB?
Or is it  general problem with lazy loading in Quarkus?

[2021-02-19 14:14] cescoffier commented on #7678
@rsvoboda is that a setting you can reproduced? I don't have "dedicated", I only have cloud instances.

[2021-02-19 14:44] cescoffier commented on #15187
@Andro999b I just looked that the reproducer, and it seems to work (I bumped the version to 999-SNAPSHOT).

I've tried with and without the `@Blocking` annotation on the service.

Did I miss something?

[2021-02-19 14:48] abutic opened #15194 "Quarkus Redis client timeout shorter than a second"
**Describe the bug**
The docs says Redis client timeout is defined as a `Duration`:
https://quarkus.io/guides/redis#quarkus-redis-client_quarkus.redis.timeout

A `Duration` object is later passed to an underlying implementation, as can be seen here:
https://github.com/quarkusio/quarkus/blob/6dce42371c631b3070a953dbe57cfd94f33dc5a1/extensions/redis-client/runtime/src/main/java/io/quarkus/redis/clie

[2021-02-19 14:52] #14930 closed

[2021-02-19 14:55] Andro999b commented on #15187
@cescoffier Pls look at comment that i left in test. Its very trick to reproduce because its relied on thread execution order.
Basicaly to see it you will need to debug lines `io.grpc.stub.ClientCalls:694` (onClose) and  `io.grpc.stub.ClientCalls:688` (onMessage)  too see that them executes on different threads. On my machine onClose usually executes fitst.

[2021-02-19 14:55] gsmet commented on #15194
@abutic would you be interested in providing a pull request? Looks like you did most of the work already :).

[2021-02-19 14:56] #15078 closed

[2021-02-19 14:58] sommermi commented on #15149
Thanks for your fast help and the fix of the problem. I will open an issue in  https://github.com/eclipse/microprofile-health. I will close this issue here at this point.

[2021-02-19 14:58] #15149 closed

[2021-02-19 14:58] nielsvonstein-8336 opened #15195 "Subsequent @QuarkusTest's stuck when running with different @TestProfile for testing Lambdas"
**Describe the bug**
The Gradle project consists of multiple `RequestHandler` which all need to be tested individually. We use one test profile for each handler test and one test class per handler.
The test profiles spawns test resources (WireMock, localstack) and sets the handler `quarkus.lambda.handler` accordingly with some other variables.
When running the tests we observe that the first `@Qua

[2021-02-19 15:08] gsmet commented on #15193
/cc @jamezp

BTW, have you seen this extension: https://github.com/quarkiverse/quarkus-logging-json? You can tweak a lot of things!

[2021-02-19 15:20] belu opened #15196 "Dev UI config editor with filtering capabilities"
**Description**
The Config Editor in the Dev UI has no built-in possibility to filter for entries.

**Implementation ideas**
Could be similar to the one in the [All-Config Guide](https://quarkus.io/guides/all-config).

It would be helpful that after a value is updated and the page reloaded, the filter is still active.

[2021-02-19 15:43] pipinet opened #15198 "Cleanup or rest database after or before each test method in integration test easy"
**Description**
# We often need to do integration tests on applications include the database like this.
[code]

hope:
1、i don‘t want use @BeforeEach in super class clean up,  because often forget
2、@QuarkusTestResource can't meet the requirements，because it only call once

**Implementation ideas**
is there has some annotation like  @QuarkusTestResource(scope=EACH_TEST)  to clean up
or other annota

[2021-02-19 15:46] pipinet commented on #15198
@geoand I see you have pr https://github.com/quarkusio/quarkus/pull/15009
Will such considerations be included here?

[2021-02-19 15:49] Andro999b commented on #15187
@cescoffier also rechecked this with `999-SNAPSHOT` still valid

[2021-02-19 16:26] geoand commented on #15198
Not currently, but we can certainly consider it for the future

[2021-02-19 16:29] FroMage opened #15199 "Command mode: add ability to restart"
In some deployment scenarios, we can detect that configuration should be reloaded, such as https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically https://github.com/kubernetes/kubernetes/issues/22368

Given that Quarkus doesn't have the ability to reload its configuration (which could be nice, but probably not so useful given that we restart fast), it w

[2021-02-19 16:34] geoand commented on #15199
This has come up a few times and I've always been against it (although I recognize it can be useful).

I just think it could be too complex to do versus having a sidecar for example which could restart the main container

[2021-02-19 16:53] jorsol commented on #6736
More than providing an image with prepopulated m2, my use case is more "normal"... CI already has dependency cache features, so using `de.qaware.maven:go-offline-maven-plugin:1.2.8:resolve-dependencies` works great, EXCEPT that it doesn't resolve the dynamic dependencies that `quarkus-maven-plugin` loads, so it's not possible that the next run is in offline mode.

So, one question would be, how ca

[2021-02-19 17:04] Christopher-Chianelli opened #15200 "Panache empty collection as a middle parameter in a query causes QueryException"
**Describe the bug**
If a query takes a collection as a parameter that is not the first or last parameter,
and the collection is empty, the following exception is thrown:
[code]

**Expected behavior**
The query executes normally

**Actual behavior**
A variant of `org.hibernate.QueryException: Unexpected gap in ordinal parameter labels` is thrown.

**To Reproduce**
https://github.com/Christopher-Ch

[2021-02-19 17:10] FroMage opened #15201 "Kubernetes extension should not produce env vars with slashes when mapping mp-rest client config to env vars"
Given an `application.properties` like the following:

[code]

The generated `kubernetes.yml` uses the `FOO/MP_REST/URL` env var, which is invalid, as noted by https://github.com/eclipse/microprofile-rest-client/issues/171 and https://github.com/eclipse/microprofile-config/issues/420 in the past.

We should replace `/` with `_` and figure out if MP-Config actually can do the reverse mapping.

[2021-02-19 17:14] FroMage commented on #15201
@kenfinnigan says the reverse mapping should work. :crossed_fingers:

[2021-02-19 17:16] geoand commented on #15201
OK, I'll fix it ASAP

[2021-02-19 17:19] jamezp commented on #15193
The reason the `slf4j-jboss-logmanager` uses the `MarkerIgnoringBase` is because the JBoss Log Manger itself does not support markers. There has been a request to add the support https://issues.redhat.com/browse/LOGMGR-124. However I'm a bit naive with what markers actually are.

[2021-02-19 17:21] FroMage commented on #15199
It also depends if we can even respawn the current process without causing the pod to terminate when the first quarkus process terminates. If it sticks around being a zombie using memory for no reason, it's not worth it.

[2021-02-19 17:27] dfa1 commented on #15193
hi! thank you for quick reply :)

yes, I actually tried quarkus-logging-json but we need to pass SLF4J `Marker`s down to perform some additional logic (e.g. marking the event as "security event" or "audit log") but `slf4j-jboss-logmanager` is dropping them.

[2021-02-19 17:31] Andro999b commented on #15187
@cescoffier I have played i bit with ny reporoducer and found out that it not reproduce bug) But i think i actually found out a problem:
in `IOThreadClientInterceptor` there is `ForwardingClientCall` that override `onMesage` and execute then inside vertx context(that is 'event-thread-loop') but `IOThreadClientInterceptor` doesnt override `onClose` that mean `onClose` executed on caller thread. So

[2021-02-19 17:34] zenonwch commented on #8983
And for @InjectSpy as well.
Pls.

[2021-02-19 17:35] pjgg commented on #12535
@gsmet @Karm I have reproduced this issue on:
Quarkus Version: `1.11.3.Final`
Native image: `quay.io/quarkus/ubi-quarkus-native-image:20.3.0-java11`

You could run the following command on [Beefy-scenarios](https://github.com/quarkus-qe/beefy-scenarios) in order to reproduce the issue:

[code]
What should I do in order to fix it?

[2021-02-19 17:37] dfa1 commented on #15193
hi @jamezp,
oh I see :)

By the way within the company, we are required to use a "catalog" of predefined events for security and auditing purposes:

[code]

example:

[code]

[2021-02-19 17:37] cescoffier commented on #15187
Thanks! Fancy a PR? It looks you pinpointed the issue.

[2021-02-19 17:40] dfa1 commented on #15193
So the feature request is: it would be possible to not bind any SLF4J implementation by default?

[2021-02-19 17:45] Andro999b commented on #15187
Will try to make fix tomorrow.

[2021-02-19 17:50] gsmet commented on #15193
@dfa1 could you show us a small project showing what you usually do with SLF4J markers?

That might help @jamezp better understand what you are using them for.

[2021-02-19 17:57] dfa1 commented on #15193
@gsmet I cannot really "open source" the code.

By the way I tried to explain that in my previous comment! I'm open to answer more question and provide more "snippets" if needed! :)

[2021-02-19 17:58] famod commented on #15173
@Jeansen https://github.com/quarkusio/quarkus-quickstarts/pull/784 will add a new `config-yaml-quickstart` to help others not falling into the same pit.

[2021-02-19 18:02] famod commented on #15198
Hm, what about using [`QuarkusTestBeforeEachCallback`](https://quarkus.io/guides/getting-started-testing#enrichment-via-quarkustestcallback) instead?

[2021-02-19 18:03] gsmet commented on #15173
@radcortez could you comment on this ^. I also think it's a pretty bad behavior. Either it works or it throws an error but it shouldn't be silently ignored given it's perfectly valid to indent with 4 spaces as long as you are consistent.

[2021-02-19 18:03] famod commented on #15198
AFAICS this is also related to #14240.

[2021-02-19 18:06] jamezp commented on #15193
Yes the snippet does help for sure. I'm not sure when I'll have the time to look at this for the log manager itself. The log manager is an extension of JUL so it would be something new we'd need to implement, keep backwards compatibility and have something that would work for both slf4j and log4j2.

[2021-02-19 18:11] #15085 closed

[2021-02-19 18:33] #2718 closed

[2021-02-19 18:43] wjtan opened #15204 "NoClassDefFoundError for multi-module dependency in Vert.x reactive routes when using Maven quarkusDev"
**Describe the bug**
A multi-module maven project contains two submodules _mod1_ and _mod2_, where _mod2_ depends on _mod1_.
When running _mod2_ in dev mode, `NoClassDefFoundError` occurs for a route class from _mod1_.

The error does not occur when the application is built with `mvn package` and run with `java -jar mod2/target/mod2-0.0.1-SNAPSHOT-runner.jar`.

**Expected behavior**
The applicatio

[2021-02-19 18:54] radcortez commented on #15201
The reverse mapping rules only apply to the `EnvConfigSource`.

[2021-02-19 18:56] radcortez commented on #15201
I think we should provide a dotted version of `/mp-rest/url` to improve the user experience and to not confuse people. I mean you can still use it but a dotter version will also be accepter and map to the right configuration.

[2021-02-19 18:59] rsvoboda commented on #7678
We were not able to reproduce. As if there were some specific permissions specified in the used OpenShift cluster.
@pjgg was trying to reproduce this trouble.

[2021-02-19 19:02] radcortez commented on #15173
Let me check what `snakeyaml` is doing.

[2021-02-19 19:25] dfa1 commented on #15193
oh thank you, that would solve a big problem for us and maybe others as well :)

Of course, I could provide help (testing and even code, given you provide some guidelines).

[2021-02-19 19:42] radcortez commented on #15173
Hum, I was not able to reproduce this. I've added a test in SmallRye Config with multiple spaces. I've also tried with the described steps and it worked fine for me.

If I use a `tab` character you get the following error:

[code]

@famod did you also run into the error with 4 spaces?

[2021-02-19 19:45] radcortez commented on #15173
[code]

[2021-02-19 19:48] famod commented on #15173
Hm, actually I might have missed that.

[2021-02-19 20:05] gsmet commented on #15201
Well, if we didn’t want to confuse people, we would have proper Quarkus config :)

[2021-02-19 20:11] #15201 closed

[2021-02-19 20:53] famod commented on #15173
@radcortez Thanks for checking! I must have missed reproducing properly the actual reported problem because I now have to confirm what you are seeing: 4 spaces work just fine! 🤦

[2021-02-19 20:53] sherl0cks commented on #12393
@zakkak in the context of my issue, I don't see #14972 to be problematic. That issue seems to be an image size thing i.e. lets not include all these native libraries if we don't have to in order to keep native images smaller. Am I missing something? I'll try to get you a minimal reproducer ASAP.

[2021-02-19 21:02] zakkak commented on #12393
Apart from the image size, the linking with the graph libraries has also caused some regressions in Mandrel. We are still investigating how to make ImageIO/AWT support an *opt-in* feature and handle it properly.

Your reproducer might help in bringing in some initial support before polishing out the *opt in* part, but that's not my call :)

[2021-02-19 21:05] famod commented on #14823
@geoand Isn't this now solved with the awesome addition of `restrictToAnnotatedClass` by @FroMage?

[2021-02-19 21:08] geoand commented on #14823
If I am reading this correctly, yes

[2021-02-19 21:12] zakkak commented on #12535
@pjgg please try `quay.io/quarkus/ubi-quarkus-native-image:20.3.1-java11` instead.

Or just skip the `-Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:20.3.0-java11` option and let Quarkus pick the correct version.

[2021-02-19 21:16] famod commented on #14823
In this case, given how often people have complained about the global nature of `@TestResource`, IMO it should be mentioned explicitely in the 1.12.1 blog @gsmet.
It's way too easy to miss it, especially since it's "hidden" in #14821 ("Support KubernetesServer test resource for CRUD operations").

[2021-02-19 21:28] radcortez commented on #15173
@Jeansen can you please check?

[2021-02-19 22:18] radcortez commented on #14847
This is now supported with SmallRye Config `@ConfigMapping`, so I will consider there is an option to support the expected behaviour (even if it required to use a different API).

Moving forward, we may replace or use as a backend implementation the SR `@ConfigMapping` in the Quarkus `@ConfigProperties`.

@hrstoyanov if you disagree, please reopen.

[2021-02-19 22:18] sherl0cks commented on #12393
Simple project from https://code.quarkus.io/ with Resteasy https://github.com/sherl0cks/quarkus-imageio-reproducer

@zakkak ok this was very odd. I got it to work!?!? I need to go test quarkus 1.11.3 in my production app now, but at least this reproducer shows a working example. I left comments about one issue which I think is just my limited knowledge of graal. Perhaps you can point me in the rig

[2021-02-19 22:19] Jeansen commented on #15173
@radcortez OK, that's odd now. I've checked on my Linux system and it works fine with 4 spaces! But on my companies Laptop (MacBook Pro), it fails. I am not sure what's the issue, but so far I believe the error is on my side.

Thanks everyone for putting some time into this. Next time I will check better before opening an issue!

[2021-02-19 22:22] radcortez commented on #14847
Here is some documentation as well:
https://smallrye.io/docs/smallrye-config/mapping/mapping.html

[2021-02-19 22:37] radcortez commented on #14710
Hi @lferna this is already supported for some time as an experimental feature for `properties` files.

Please refer to: https://smallrye.io/docs/smallrye-config/config/config.html#locations and https://github.com/quarkusio/quarkus/tree/master/integration-tests/smallrye-config

Starting `1.13` it will be supported also as a `quarkus` property.

And I'll be adding the `YAML` support as well.

[2021-02-19 22:46] radcortez commented on #15173
As a note, my box is also a Mac and it worked fine. In the SR Config tests we run on both Linux and Windows, so it seems it is not something related with the OS.

[2021-02-19 23:18] ebaron opened #15208 "Build native image source jar"
**Description**
I would like the ability for Quarkus to produce a native image source jar without also running a `native-image` build. The scenario in mind is the following, with two machines:
1. Maven builder machine with all needed dependencies, but no GraalVM/Mandrel.
2. Container builder machine using a Mandrel builder image, but no Maven or dependencies. It has access to the output from the f

[2021-02-19 23:20] ebaron commented on #15208
/cc @jerboaa

[2021-02-19 23:22] gsmet commented on #15184
That’s the behavior of Bean Validation and I don’t think we should change that.

[2021-02-19 23:22] #15184 closed

[2021-02-19 23:34] gsmet commented on #15168
What you’re doing is incorrect if you don’t have a validator for Size and Uni. That’s how Bean Validation works. And that’s what the error is saying. So I don’t see anything to change here.

What could eventually work is having the constraint inside the Uni so on the String type.

I’m not sure if the latter is currently supported though. I know @cescoffier did some work around that but I don’t rem

[2021-02-19 23:37] gsmet commented on #15166
This is not a bug. The doc says that it’s supported by Uni.

There’s no support for Multi for now. I know it raises some questions and it was decided to skip it for now.

[2021-02-19 23:42] gsmet commented on #15164
Yeah I suspect one of the class is still loaded with the previous classloader. That would explain why you need as structural change to trigger it as the new instrumentation mode doesn’t change the class loader.

[2021-02-19 23:46] sherl0cks commented on #12393
@zakkak I was able to reproduce my original issue. It appears that the substitution is not a problem for jpg or png, but it is for tiff. Commit pushed with a new test that should make this clear.

[2021-02-20 00:02] cortex93 opened #15209 "RestClientProcessor should support parameterized providers/filters"
**Description**

Currently RestClientProcessor only support class-based registration of providers and I can't find a way to pass per method configuration. The idea would be to able to do something like :

[code]

or using annotations

[code]

[2021-02-20 03:02] diogocarleto commented on #15124
Guys, I put my idea in a [branch](https://github.com/diogocarleto/quarkus/tree/optimisticLockControl)  where we can compare and evolve or discard.

I created a `@Version` annotation and a `OptimisticLockException`, changed some methods in MongoOperator, such as `persist`, `update`, `persistOrUpdate`, and `delete` to check if the entity has the `@Version`, if there is no `@Version` the flow still t

[2021-02-20 12:42] vladykin opened #15213 "injecting Instance<S3Client> results in NPE at io.quarkus.amazon.s3.runtime.S3ClientProducer.client()"
**Describe the bug**
Attempt to call any S3Client method on instance injected as
[code]
results in NPE:
[code]

S3Client injected directly as
[code]
works without such NPE.

**Expected behavior**
Instance injected as
[code]
should work.

**Actual behavior**
Currently it throws NPE.

**To Reproduce**

Application bean:
[code]

Test:
[code]

pom.xml:
[code]

Steps to reproduce the behavior:
1. Creat

[2021-02-20 12:52] stuartwdouglas commented on #15199
If we need this we need an exit code that means restart and a script that executes it. A lot of out native functionality is based around static init stuff that can't be restarted.

[2021-02-20 13:11] essobedo opened #15214 "Allow to exclude JAX-RS classes with annotations"
**Description**

The idea of this feature is to provide an easy way to include/exclude JAX-RS resource, provider and feature classes at build time.

So far, the only way to keep control over the JAX-RS resource, provider and feature classes that we will have in our application is to rely on a JAX-RS Application class but it is not really convenient as soon as we have a lot of classes in our projec

[2021-02-20 13:17] essobedo commented on #15214
Here is a POC showing the logic https://github.com/quarkusio/quarkus/pull/15215

[2021-02-20 14:10] Jeansen commented on #15173
@radcortez Thx for your feedback. I am quite sure I use the same general development setup on both systems, Linux and Mac, but like I said. It is probably more likely, that the error is on my side and currently sits in front of the scree ;-)

[2021-02-20 14:20] glefloch commented on #14515
@csh0711, @alkuit, nice article!
FTR I started working a quarkus extension for MockK. This allows you to write:

[code]

You can find more information  here: https://github.com/quarkiverse/quarkus-mockk

If this is ok for you, I think we can clsose this issue?

[2021-02-20 16:09] pipinet opened #15218 "Easy way to get security context anywhere"
**Description**
In my case, i need auditing to save to database table created_by/updated_by column.
How can I get the current caller info?

**Implementation ideas**
Spring  AuditorAware

[2021-02-20 19:38] atorr0 opened #15265 "Support for Kryo serialization library"
**Kryo serialization option for https://code.quarkus.io/**
Hi,

I've read the serialization extension listed in https://code.quarkus.io/, but I haven't found any reference to Kryo.
I think it could be very nice to have Kryo serialization extension listed.

Thank you,

More info:
* https://github.com/EsotericSoftware/kryo
* https://flink.apache.org/news/2020/04/15/flink-serialization-tuning-vol-1.h

[2021-02-20 20:43] abutic commented on #15194
I was "afraid" you'd ask... :)

PR: https://github.com/quarkusio/quarkus/pull/15211

[2021-02-21 08:02] ge0ffrey opened #15220 "Memory leak in non-quarkus main() in quarkus-using module (due to quarkus dependencies)"
To reproduce, take any quarkus quickstart and add this class in `src/test/java` (or `src/main/java`):

[code]
With JDK 11, I get this:

[code]
That takes a few minutes. Use `-Xmx64m` to get it in a few seconds.
Its caused by jboss logging that by default remembers all logging statements in memory, see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Memory.20leak.2C.20logging.20an

[2021-02-21 09:52] renegrob opened #15221 "config_ordinal defined as property leaks into default properties"
**Describe the bug**
If I have an application.properties file with an explicit priority config_ordinal=1000 it works well until I do a re-augmentation of the mutable-jar. It seems that during augmentation the config_ordinal value gets included in the default values which means that the priority of the default values all the sudden is the highest and they cannot be overwritten anymore. In my unders

[2021-02-21 10:03] renegrob commented on #15221
/cc @radcortez

[2021-02-21 10:28] glefloch commented on #13982
@melissasgarden were you able to get it working ?

[2021-02-21 12:22] selckin commented on #14695
Also hit this error.
can confirm the size of the payload matters, worked fine with smallish payload/body
Adding undertow stopped it from corrupting the payload, but the error was still logged
Without compression everything works

Was using resteasy with jackson and returning a View object with a List<Entry> with 300+ smallish values (worked with 100), maybe this can help with reproducing (jackson

[2021-02-21 12:37] fouad-j commented on #14695
a workaround to enable gzip on our APIs is to add `@GZIP` annotation to our resources.

till the problem is fixed

[2021-02-21 13:03] glefloch commented on #11681
I just tested this with hazelcast 4.0.3 and 4.1. The test project works. I think we can close this one.

[2021-02-21 13:03] #11681 closed

[2021-02-21 13:57] neal-shah commented on #13627
Hi @phillip-kruger ,

Should this work when running `./gradlew quarkusDev`?

I've placed the **logo.png** and **style.css** under **src/main/resources/META-INF/branding** - I then run `./gradlew quarkusDev` but it seems like the logo does not change.

Am I missing something here?

Thank you!

[2021-02-21 14:31] mrizzi opened #15222 "Panache Query/DTO projection with fields from referenced entity"
**Description**

Currently, the Panache `project` method works great if the parameters in the DTO's constructor belongs to the same entity.

The case of having a DTO with also fields from referenced entities is not working because the required "dot" notation to build a working query is not compatible with Java naming that doesn't allow the usage of dots `.` in a parameter's name.

Example `DogDto`

[2021-02-21 15:14] mrizzi commented on #15222
`quarkus-dev` Google group discussion https://groups.google.com/g/quarkus-dev/c/Es8MvR8o_2I

[2021-02-21 16:41] #15187 closed

[2021-02-21 17:33] cescoffier commented on #15168
Reactive Routes validate the emitted objects but do not support using constraints directly on the method.

Here is an example: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/deployment/src/test/java/io/quarkus/vertx/web/validation/UniValidationTest.java#L100-L145

So, if you wrap your response into a class using `@Size` it will work.

[2021-02-22 00:06] DylanSale commented on #14694
Yes it is using fast jar for deployment, but this error is occuring with the dev server.

[2021-02-22 03:11] nicolas-vivot commented on #15182
@kenfinnigan  I was wrong, my eyes was probably tired during my tests.. The generated trace_id is still wrong no matter the formatter.

And this is happening no matter the tracer implementation.
When i use Jaeger as backend, all traces start to stack on the same.
When i use Datadog, no trace is reported back (probably because it detects this as a duplicate and skip it)

So i am afraid this is on Q

[2021-02-22 03:16] phillip-kruger commented on #13627
Hi @neal-shah .
What version of Quarkus are you running ?
What OS are you using ?
Did you make sure it's not your browser cache ? (so ctrl-F5)
Can you share a small reproducer.

Thanks :)

[2021-02-22 04:06] oztimpower commented on #3954
I have some experiences to add on this one. I use an IntelliJ plug-in to convert JSON to Kotlin data classes for me (large structure!)

Everything worked fine in JVM mode, Jackson-Kotlin-module clearly enabled for the `mapper.readValue(jsonBody)`. However, a straight native-image version failed, with similar errors above. I experimented a lot with the issue, looked at the optional fields, default

[2021-02-22 05:32] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/588029541

[2021-02-22 06:24] Sgitario commented on #15166
Thanks for confirming this! I was expecting a strongest message in the guides: https://quarkus.io/guides/reactive-routes#using-bean-validation. Something alike "Note that this is only supported for objects or Uni, not Multi", but I guess "When returning an object or a Uni, you can also use the @Valid annotation" is suffice. We can revisit this in the future if needed.

Should we keep this enhancem

[2021-02-22 06:57] geoand commented on #15182
Do things work properly if you use `@Blocking` on the JAX-RS method?

[2021-02-22 07:39] abutic commented on #15194
@gsmet and @machi1990, should I close this issue, now that it's fixed by #15211? Also, should the PR be linked to this issue (I don't seem to have the permission to link them)?

[2021-02-22 08:00] geoand commented on #15208
This would be very easy to add, the question is whether we want to support it or not :)

cc @gsmet @stuartwdouglas

[2021-02-22 08:00] geoand commented on #15209
@michalszynkiewicz perhaps this is something you could consider for the new MP Client?

[2021-02-22 08:01] geoand commented on #15196
cc @phillip-kruger

[2021-02-22 08:03] geoand commented on #15194
@abutic I'll close it.

Just as an FYI for next time, if you add `Fixes: #NNNNN` like I have done in the description of your PR, GH will automatically link the PR to the issue :)

[2021-02-22 08:03] #15194 closed

[2021-02-22 08:05] nicolas-vivot commented on #15182
Yes

[2021-02-22 08:09] geoand commented on #15192
Definitely +1 for this idea.

I don't see however how we could make these settings global as the `HttpClient` is created like so:

[code]

The `WebClient` is created in similar fashion:

[code]

Perhaps we need some new SPI in Vertx where we can register the default `HttpClientOptions` and `WebClientOptions`?

[2021-02-22 08:10] phillip-kruger commented on #15196
Hi @geoand - I am happy to look at this. I have not done the original config screen though, I think that might have been @radcortez.

@radcortez - any ideas ? Or can I just do what I think ?

[2021-02-22 08:11] geoand commented on #15196
Gotcha!

You guys can work it out between you then :)

[2021-02-22 08:15] geoand commented on #15182
The problem is that OpenTracing only works (AFAIK) with ThreadLocal in order to pass around the context.
The solution to make it work properly with RESTEasy Reactive (or any web framework that doesn't use a thread per request) would be to have an SPI that pushes and pull information from the framework's context object.

@kenfinnigan this is something that OpenTelemetry will definitely need to take

[2021-02-22 08:21] evacchi commented on #8593
I am confused (master is 2.0.0-SNAPSHOT; ongoing release is 1.3.0; platform is 1.2.0)

[2021-02-22 08:22] geoand commented on #8593
@evacchi I don't get it :)

[2021-02-22 08:26] geoand commented on #15170
@Sgitario thanks for trying out Reactive Routes and adding ideas to improve it.

Have you tried RESTEasy Reactive? Asking because most (if not all ?) of the enhancement you have proposed around Reactive Routes are featured already present in RESTEasy Reactive :)

[2021-02-22 08:29] evacchi commented on #8593
sorry I thought this was the ecosystem CI :D

[2021-02-22 08:34] Ladicek commented on #15182
Ah yeah, I guess the JAX-RS integration in SmallRye OpenTracing / OpenTracing Contrib (https://github.com/smallrye/smallrye-opentracing/blob/1.3.5/implementation/src/main/java/io/smallrye/opentracing/SmallRyeTracingDynamicFeature.java and https://github.com/opentracing-contrib/java-jaxrs) assumes thread-per-request implementation. Does maybe RESTEasy Reactive have a way to notify us when request p

[2021-02-22 08:40] mkouba commented on #15185
It seems that a dash (`-`) may not be used in a [path parameter name](https://vertx.io/docs/vertx-web/java/#_capturing_path_parameters): _"The placeholders consist of : followed by the parameter name. Parameter names consist of any alphabetic character, numeric character or underscore."_

Unfortunately, Vertx Web does not seem to validate the path at all. I think that we should add a least a quark

[2021-02-22 08:41] cescoffier commented on #15168
The issue is to retrieve the constraints. Currently, we detect `@Valid`, but we don't extract the constraints providing on the method. Maybe @gsmet has an idea.

[2021-02-22 08:41] geoand commented on #15182
There isn't something as explicit as you mention, but there is currently something limited that allows CDI Request scope to work in despite the presence of suspend / resume.

See: https://github.com/quarkusio/quarkus/blob/master/independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactive/common/core/AbstractResteasyReactiveContext.java#L31-L32,

[2021-02-22 08:43] cescoffier commented on #14183
Shouldn't we close that issue? PR #14214 has been merged.

@geoand @FroMage

[2021-02-22 08:44] cescoffier commented on #13358
This has been fixed.

[2021-02-22 08:44] #13358 closed

[2021-02-22 08:48] geoand commented on #14183
Yes, let's close it

[2021-02-22 08:48] cescoffier commented on #15192
At the moment the Vert.x Web Client is _unmanaged_.
Injected a _managed_ one is tricky as configuration (host/port) are likely going to be different every time.

What about a facade like:

[code]

which would merge the options with some default ones and produce the web client?

[2021-02-22 08:54] evacchi commented on #3023
on our side (Kogito), that would be helpful -- assuming we keep on using the CompilationProvider mechanism. This should trigger a big with any CompilationProvider; e.g.

1) create Foo.java, reload
2) Foo.class is available
3) delete Foo.java, reload
4) Foo.class is still loaded (?) -- unless the compilation provider knows that Foo.java has been deleted -- so that it can delete the corresponding Fo

[2021-02-22 08:54] geoand commented on #15192
Yeah, that's a good idea

[2021-02-22 08:55] beikov commented on #14694
Could you give version 1.6.0-Alpha2 a shot please? We fixed a few things in the Quarkus compatibility area since 1.5.1 but not sure if this is related. If the problem still persists, could you please attach a simple reproducer for this?

[2021-02-22 09:21] jerboaa commented on #15208
@geoand I've had a discussion about a similar workflow with @tqvarnst. The basic idea would be to do everything needed up to - but not including - running `native-image`. In fact, we've coined an idea of writing the native image command to a file (or just the native-image args) so as to be able to run the native-image command at a later stage later. This would be helpful for a staged container bui

[2021-02-22 09:29] Ladicek commented on #15182
I see. One way or another, we'll need to have some sort of suspend / resume callbacks. CDI request scope is one user, OpenTracing active span is another. If this sounds dangerously close to MP Context Propagation with all its pitfalls and headaches, that's probably because it is.

[2021-02-22 09:32] geoand commented on #15182
Unfortunately yes...

[2021-02-22 09:33] geoand commented on #15208
Understood.

I'll create a draft PR later on with a new package type as requested and we can discuss further based on that

[2021-02-22 09:37] jerboaa commented on #15208
Thanks!

[2021-02-22 09:45] sberyozkin commented on #15218
Would injecting `SecurityIdentity` help ?

[2021-02-22 10:03] #14183 closed

[2021-02-22 10:14] oztimpower commented on #3954
An addendum, I've been able to get it working with the entire object tree for native-image (fiddling with JSON to Kotlin data-class plugin options), generating val with nullable type and default of null, along with the Jackson field name, .i.e.:

[code]

[2021-02-22 10:19] anthony-quiros commented on #15222
Hello 😄
I have a question,
Can we also find a way to managed a list of referenced entities ?
Example :

[code]

[2021-02-22 10:59] Alwaysgone opened #15229 "Virtual host support for amqp 1.0"
Hello everyone,

we are currently trying to migrate our microservices to quarkus and have been using RabbitMQ with amqp 0.9 as a messaging broker. The goal here would be to be able to use smallrye reactive messaging with amqp 1.0 and the RabbitMQ amqp 1.0 plugin with the same setup we have right now. This includes the usage of various virtual hosts so we only have to maintain a single internal Rab

[2021-02-22 11:04] mmaggioni-wise opened #15231 "Client Metrics does not use template URI variables"
**Description**

Client Metrics does not use template URI variable for the called api.

instead of having one metric:
`http_client_requests_seconds_count{.... status="200",uri="/api/v1/surveys/{surveyId}",} 5.0`

there are multiple metrics:
`http_client_requests_seconds_count{.... status="200",uri="/api/v1/surveys/387",} 3.0`
`http_client_requests_seconds_count{.... status="200",uri="/api/v1/surve

[2021-02-22 11:21] neal-shah commented on #13627
Hey @phillip-kruger,

Thanks for the quick reply!

Here's my repro repo -> https://github.com/neal-shah/code-with-quarkus

Quarkus version is 1.11.3.Final.

I'm using macOS Catalina 10.15.7 - i've cleared all browser caches and using incognito on Chrome.

Many thanks! 🙂

[2021-02-22 11:34] phillip-kruger commented on #13627
Hi @neal-shah
I cloned your repo and started it in dev mode and the branding seems to work fine:

![image](https://user-images.githubusercontent.com/6836179/108702908-8ff52180-7512-11eb-9250-85770dc389e9.png)

Can you check if there is a quarkus folder in your temp folder ? And try and delete it and try again.

[2021-02-22 11:53] jmartisk commented on #15231
@ebullient

[2021-02-22 12:16] loicmathieu commented on #15222
@anthony-quiros please open a different github issue for your example, did you try your example ? Which exception did it throws ?

[2021-02-22 12:17] michalszynkiewicz commented on #15209
It definitely cannot be `@RegisterProvider` - this annotation can only be used on classes (unless we change the MP spec).

In a filter you can check which method it is executed for. Would that help you @cortex93 ?

[2021-02-22 13:33] edufolly commented on #12286
Same problem.

[2021-02-22 13:38] phillip-kruger commented on #12286
@radcortez

[2021-02-22 14:20] jorsol commented on #14996
Something must have changed on the rest-client, on 1.11.x the redirections were working, but on 1.12.0 it doesn't anymore.

And in my case, it's not the /health and /metrics endpoints, it's an endpoint for an external service.

[2021-02-22 14:22] sberyozkin commented on #14318
Hi @pedroigor

KEYCLOAK-16837 is marked for 13.0.0, can this fix be backported to 12.0.4 ? I don't think we have a workaround or is there one available ?

Thanks

[2021-02-22 14:27] sberyozkin commented on #14318
@pedroigor oh sorry, I guess the workaround is to migrate to Quarkus 1.11 which depends on KC 12.0.1 API

[2021-02-22 14:30] u6f6o opened #15235 "Allow to inject mocked @ConfigProperties classes in quarkus test"
**Description**

It's currently not possible to mock a config class that was annotated with the `@ConfigProperties` annotation. Let's assume, we have the following setup:

1.) config properties class
[code]

2.) service that uses the config class
[code]

3.) a test
[code]
The test fails with the message `UserConfig@2b4a250d is not a normal scoped CDI bean, make sure the bean is a normal scope like

[2021-02-22 14:34] zakkak commented on #12393
By you got it to work you mean that you got it compile right?

When I run `org.acme.NativeGreetingResourceIT.testFailJpgEndpoint` I get:
[code]

If I understand correctly the issue is that you don't know how to generate the proper configuration for your Quarkus app to make it work with ImageIO. Unfortunately this is not yet implemented (see https://github.com/quarkusio/quarkus/issues/13567) and yo

[2021-02-22 14:50] yrodiere commented on #15088
@dreab8 I'm assigning this ticket to you then, but it's just to have better visibility on what I can work on and what I cannot. Feel free to un-assign yourself if you won't work on this after all.

[2021-02-22 15:21] ebullient commented on #15231
I have an existing PR in flight for improved URI templating, #15047
Can you confirm the version of Quarkus and extensions you're using?

To handle this in the meanwhile, you can set a matchPattern:
`quarkus.micrometer.binder.http-client.match-pattern=/api/v1/surveys/[0-9]+=/api/v1/surveys/{surveyId}

[2021-02-22 15:22] celcius112 opened #15236 "Customize the nativeTest task sourceSets dependency"
Using Gradle, I would like the `native-test` source set to depend on another source set.

In our applications, we usually have this tree:
- /it: integration tests
- /main: application code
- /native-test
- /test: unit tests

As far as the documentation and the code in [QuarkusTestNative](https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/main/java/io/quarkus/gradle/tasks/QuarkusT

[2021-02-22 15:26] pedroigor commented on #14318
Or change the client settings to issue a refresh token as per https://issues.redhat.com/browse/KEYCLOAK-16837. See the workaround.

[2021-02-22 15:27] gsmet commented on #15088
Sorry, we had a discussion with Andrea last week and I needed to post the outcome: when the join is implicit (here the join is added because of a sort), the join is not a left join so it’s normal you don’t have all the rows.

So given the query that Panache generates, this is the expected behavior.

If you want a left join, you need to make it explicit in your query.

[2021-02-22 15:27] #15088 closed

[2021-02-22 15:30] #14962 closed

[2021-02-22 15:30] zakkak commented on #14972
Unfortunately, according to @christianwimmer (see [here](https://oss.oracle.com/pipermail/graalvm-dev/2021-February/000102.html)) those guarantees are still needed:

So in lack of a better alternative I think the way forward is https://github.com/oracle/graal/issues/3225

[2021-02-22 15:41] yrodiere commented on #12228
I confirm that the error is still present in Quarkus 1.11.3.Final. It does not happen on every boot, but it does happen from time to time. I'll look into this.

[2021-02-22 15:45] pjgg commented on #7678
@karesti I am trying to reproduce your issue without success.
Could you try to deploy on your cluster the following image:

`quay.io/pjgg/webclient:0.0.1`

For example, a valid YAML could be something like this:

[code]

[2021-02-22 15:45] mkouba commented on #15160
@wjglerum The https://github.com/quarkusio/quarkus/pull/15238 should fix the problem. The other issue is caused by the fact that your example defines a different package for `Quark`, i.e. there is no `org.acme.qute.Quark`.

[2021-02-22 15:52] anthony-quiros opened #15239 "Panache Query/DTO projection with fields from referenced a list of entities"
**Description**
Currently, the Panache project method works great if the parameters in the DTO's constructor belongs to the same entity.

But when we have a DTO with field that reference a list of entities we got this error message:

[code]

Here repository of an example : https://github.com/anthony-quiros/example-quarkus-entities-projection

[2021-02-22 16:16] mmaggioni-wise commented on #15231
Thank you!

Quarkus version is the 1.12.0.Final, the extensions are this ones:

`cdi, jaeger, micrometer, mutiny, rest-client, resteasy, resteasy-jsonb, resteasy-multipart, security, security-properties-file, smallrye-context-propagation, smallrye-fault-tolerance, smallrye-health, smallrye-jwt, smallrye-openapi, smallrye-opentracing, swagger-ui, vertx, vertx-web`

I took them from the "Installed f

[2021-02-22 16:20] wjglerum commented on #15160
Hi @mkouba that's great to hear, thanks for your work!

Aah I see, I indeed changed the package name, that's my bad 😉

[2021-02-22 16:25] famod commented on #15236
/cc @glefloch

[2021-02-22 16:39] tursicSR commented on #15008
ok, example:  https://github.com/tursicSR/example.git

[2021-02-22 16:48] ebullient commented on #15231
It isn't, yet. ;)
And that list looks fine, just wanted to confirm what you're running. Thanks!

[2021-02-22 16:50] lenalebt opened #15242 "Add support for Flyway "ignore future migrations""
**Description**
Flyway can be configured to ignore future migrations. Support for missing migrations already has been added in https://github.com/quarkusio/quarkus/issues/11421 . Ignoring future migrations is useful in rollback scenarios when you have backwards compatible database migrations (that you need anyways for zero-downtime deployments) and encounter an issue that is related to code change

[2021-02-22 16:51] lenalebt commented on #15242
I can implement it if you want to, following the implementation in https://github.com/quarkusio/quarkus/pull/11437/files as it's really no different. If you'd like to, I can try to make additional configuration properties available as I see need for them in case I see them missing?

[2021-02-22 16:51] patriot1burke commented on #9671
@StFS Attached PR incoming.  This should fix a lot of config issues for Resteasy Standalone.  You'll configure via application.properties

[2021-02-22 16:52] geoand commented on #15242
Thanks!

I like the idea and it would be great if you could contribute this new property.
I would say best limit the PR to this feature only.
If you want to add other Flyway options, it can always be done in subsequent PRs :)

[2021-02-22 16:54] lenalebt commented on #15242
Okay, will do so :-).

[2021-02-22 17:12] edeandrea opened #15243 "Quarkus Guides showing health extension need updating"
**Describe the bug**
Some of the Quarkus Guides showing the use of the health extension show the following for adding the health extension:

[code]

but when doing that (at least with `1.11.3.Final`, not sure how far back it goes) I get

[code]

It seems in order for it to work you have to do

[code]

**Which pages**
https://quarkus.io/guides/microprofile-health and potentially others

[2021-02-22 17:20] sherl0cks commented on #12393
I think you got it. To summarize, I have 3 test cases that cover the current state of native / imageio:

- Read jpeg works
- Write jpeg to png fails due configuration issue which is covered in #13567. I would be happy to run this manually config gen until quarkus supports it in the build, but I do not understand how from the docs.
- Read tiff fails and needs a graal patch like https://github.com/o

[2021-02-22 18:21] neal-shah commented on #13627
Ok so as much as I thought I had cleared the browser cache - it turns out I cleared it again and rebooted my laptop... and it seemed to work 🤦🏽‍♂️

So sorry for the time wasted, please accept my apologies! 🙏🏽

[2021-02-22 18:32] phillip-kruger commented on #13627
Hi @neal-shah . No apologies needed :) I am glad it is working for you. Also note that the "hot-reload" should also work now.

Cheers.

[2021-02-22 19:07] mrizzi commented on #15088
Sorry for asking more about this but I feel like the answer confused me and it may be worth clarifying for whoever will read this issue.
Considering the `@ManyToOne` relationship that has default fetch `EAGER`, shouldn't the SQL generated join be always a `left outer join` due to the eager loading?
It's not clear to me why the "fetch contract" should not be observed in this case.

[2021-02-22 19:14] radcortez commented on #15196
Feel free to change what you want. The original screen is just a boring table with each config in a line. I'm terrible for UI :)

[2021-02-22 19:15] radcortez commented on #12286
I'll have a look.

[2021-02-22 19:32] Legion2 commented on #15214
Another use case for this is to provide a utility endpoint for the dev mode.

For example when working with reactive messaging, you can replace an incoming channel with a REST endpoint. The developer can then POST messages to the channel using the swagger ui, instead of locally deploying a complex messaging middleware for just passing messages into the application.

[code]

[2021-02-22 20:01] shawkins opened #15247 "A way to determine exactly what secret/configmap was used by quarkus-kubernetes-config"
**Description**
We would like our application to restart it's own container when it detects that relevant configuration has changed.  Currently all we can determine from the config names created by quarkus-kubernetes-config is the secret/configmap name.

**Implementation ideas**
This could be as simple as just providing a full name: https://github.com/quarkusio/quarkus/compare/master...shawkins:ma

[2021-02-22 20:09] geoand commented on #15247
Interesting.

I understand that the config name will be different with your change when the config map has changed and I'm fine with that.
But could you explain a little how you plan to restart the container?

[2021-02-22 20:11] #15243 closed

[2021-02-22 20:18] shawkins commented on #15247
We'll setup a watch or periodic get on the secret containing properties that we want to trigger a restart.  On either a uid or resourceVersion change we'll call Quarkus.asyncExit - we don't have a requirement at this point to do any deep introspection of what values are actually changing.

[2021-02-22 20:18] lkrzyzanek opened #15250 "Kubernetes CRD ClassNotFoundException after upgrade to 1.11.2.Final in dev mode"
**Describe the bug**
Upgrade 1.11.1.Final -> 1.11.2.Final breaks `mvn quarkus:dev` with Kubernetes CRD.
Quarkus cannot find my CRD's Spec model class  used in this CRD: https://github.com/websitecd/operator/blob/main/service/src/main/java/io/websitecd/operator/crd/Website.java

Only mvn quarkus:dev is affected. Normal jar build (resp. quarkus tests) works correctly.

**Expected behavior**
mvn quar

[2021-02-22 20:22] cortex93 commented on #15209
I'm not sure to understand. Would it be possible to introspect an annotation on that method ?
The use case would be :

[code]

with _CustomRequestFilter_ having access to property values of _CustomValue_ annotation ?

[2021-02-22 20:24] geoand commented on #15250
Does the same problem occur with 1.11.3?

[2021-02-22 20:28] geoand commented on #15247
Makes sense, but I still don't understand where the config source name will come into play.

[2021-02-22 20:35] #15165 closed

[2021-02-22 20:40] shawkins commented on #15247
On start we'll need to use ConfigProvider.getConfig().getConfigSources() to look for ConfigSources that come from the secret in question - with the simple change it would need to parse the name to look for [secret=value].  For a given namespace/name that will give us the uid and resourceVersion that are the baseline for the configuration that is currently in use.  Of course if it's not safe to rel

[2021-02-22 20:46] geoand commented on #15247
The names themselves aren't part of the API but I don't see a reason for them to change, so I'm fine with the assumption that their names (I mean for ones coming from secrets or configmaps) can be predicted.
But best that is explained in a comment and be verified by tests.
So feel free to open a PR with the changes you indicated and the stuff I mentioned above

[2021-02-22 20:55] zakkak commented on #12393
Well I first applied the following diff to get read of the exception I mentioned earlier:
[code]

Then I:

1. Run `./mvnw verify -Pnative` once to build the source-jar (soon we will have an option to do this without building the native image, see #15233)
2. `export GRAALVM_HOME=/opt/jvms/graalvm-ce-java11-21.0.0`
3. `cd target/imageio-issue-1.0.0-SNAPSHOT-native-image-source-jar`
3. Run `mkdir -p

[2021-02-22 20:57] eamazaj opened #15266 "Support for Narayana LRA (Saga)"
**Add support for distributed transactions**
Narayana LRA implement the spec Microprofile LRA, Qurakus has taken a lot of force for the implementation of native applications in the cloud, it is important to add or implement the SAGA pattern to orchestrate microservices transactions on the Quarkus.

[2021-02-22 21:01] sherl0cks commented on #12393
Bummer. Thanks for testing.

[2021-02-22 21:01] lkrzyzanek commented on #15250
Yes 1.11.3 is affected as well. Just wanted to highlight that the issue was introduced in 1.11.2.

[2021-02-22 21:02] geoand commented on #15250
@iocanel want to take a look?

[2021-02-22 21:04] jonathan-meier commented on #1610
Building native images using a *remote* docker daemon has been implemented and merged for Quarkus 1.13 (PR #14635). Just use the flag `-Dquarkus.native.remote-container-build=true` instead of `-Dquarkus.native.container-build=true`.

[2021-02-22 21:05] geoand commented on #1610
Should we close this issue then and link the PR to the issue?

[2021-02-22 21:07] zakkak commented on #12393
Oh I forgot to reply to this. Yes, by all means :)

[2021-02-22 21:08] michalszynkiewicz commented on #15209
I mean `ClientRequestContext` has a property called `org.eclipse.microprofile.rest.client.invokedMethod` which contains the method that the filter was invoked for. See https://download.eclipse.org/microprofile/microprofile-rest-client-1.4.1/microprofile-rest-client-1.4.1.html#_clientrequestfilter

[2021-02-22 21:12] michalszynkiewicz commented on #15209
And yes, from the `java.lang.reflect.Method` object passed there you should be able to read any annotations on the method.

[2021-02-22 21:14] #1610 closed

[2021-02-22 21:26] sherl0cks commented on #12393
Looks easier said than done - was hoping it was a 1 liner but it looks like it needs a lot more than that. I will look closer.

[2021-02-22 21:35] shawkins commented on #15247
Updated with a pr to make it clearer what the intention is.

[2021-02-22 21:48] csh0711 commented on #14515
@glefloch Thanks for your reply!
Your extension looks really promising to me. My trivial test with the example from the Blog Post works nicely.

I think as soon as @alkuit confirms that his issue with the RestClient works as well we are fine.

Just curious: As this extension is still in v0.2.0 - will it be developed and maintained in the future?

Btw. I created a small pull request in your GitHub

[2021-02-22 21:58] renegrob commented on #15221
I guess io.quarkus.deployment.configuration.BuildTimeConfigurationReader.ReadOperation line 382 is where the error happens.

[2021-02-22 22:52] radcortez commented on #15221
Spec discussion: https://github.com/eclipse/microprofile-config/issues/676

[2021-02-22 23:11] radcortez commented on #15235
What do you want to mock exactly?

Is there any use case where a mock of `@ConfigProperties` is preferred over setting the configurations you require in the `test` profile? Just trying to understand your use case.

[2021-02-23 00:15] radcortez commented on #14710
Actually the support for additional `yaml` files is already available in the last version with the property `smallrye.config.locations`. Next version will add the config `quarkus.config.locations` to align with the quarkus namespace.

Please refer to this: https://smallrye.io/docs/smallrye-config/config/config.html#locations.

I'll be closing this one. If you feel that the current support is not e