[2022-02-25 16:54] chonton opened #23979 "Distinct ObjectMappers for RestEasy Reactive / RestEasy Reactive Client"
### Description

Quarkus allows a program to use specify a custom Jackson ObjectMapper by using CDI producer method or customize the ObjectMapper with ObjectMapperCustomizer instances.

I need to have different behaviors for RestEasy Reactive Client use and RestEasy Reactive use. Specifically, I want the service implementation to be set with .configure(DeserializationFeature.FAIL_ON_UNKNOWN_PROPER

[2022-02-25 16:59] sberyozkin commented on #23967
@Karm Thanks.

Yes, we've seen it with @zakkak. That native test does not work in native even without FIPS enabled so we spotted it while trying to fix it - however, I'll my PR in any case to avoid this inject issue.

But not sure what is the cause of `Cannot load new security provider at runtime` at the moment

[2022-02-25 16:59] DavideD commented on #23797
Panache doesn't have a `refresh` method but you can get it from the session.

After the persist, you can refresh the value via:
[code]

[2022-02-25 17:07] DavideD commented on #23797
I will close this issue but let me know  if this doesn't work. Thanks

[2022-02-25 17:07] #23797 closed

[2022-02-25 17:40] snazy commented on #23911
It doesn't explicitly filter anymore. Instead it looks up the `*ImplBase` class and collects the service method from there. So it doesn't need a particular check for lambda methods.

[2022-02-25 18:27] Karm commented on #23964
@jerboaa  @zakkak  I have it patched and working with FIPS :+1:

Not sure if to do it unconditionally though. I think I would rather add a `@BuildStep(onlyIfNot = IsFIPS.class)` knob...?

[2022-02-25 21:34] chonton commented on #23952
I was under the impression that resteasy-reactive-client is, as much as possible, a drop-in replacement for resteasy-client

[2022-02-25 22:00] Karm commented on #23964
Running full Kafka SSL test suite on FIPS enabled system as:

[code]
Shows it actually doesn't  work even in HotSpot mode. The previous hooray was premature, based only on the successful compilation.

I did not realize the test was actually disabled unless explicitly enabled:
[code]

[2022-02-25 23:59] danieloh30 opened #23984 "Solution link is broken"
### Describe the bug

The solution is located in the hibernate-orm-panache-kotlin-quickstart [directory](https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-panache-kotlin-quickstart) which is broken in SIMPLIFIED HIBERNATE ORM WITH PANACHE AND KOTLIN guide(https://quarkus.io/guides/hibernate-orm-panache-kotlin)

### Expected behavior

https://github.com/quarkusio/quarkus-quic

[2022-02-26 00:47] git4rputuval opened #23986 "Quarkus Multipart not working for multi layer applications"
### Describe the bug

We have an export-import microservice design that exports and imports data, one microservice component per family of entities.
This microservice design imports & exports using rest reactive design. And it works perfectly without any issues.

**Requirement**
But now we have a different requirement. We have a module that provides the user a page to select the list of microservi

[2022-02-26 01:04] geoand commented on #23952
To the extent it makes sense.

[2022-02-26 07:55] mklueh opened #23988 "Native build image configurations ignored - always falls back to 21.3-java11"
### Describe the bug

I'm trying to use the graal jdk17 image unsuccessfully.

What I've tried so far is

1. Gradle DSL

[code]

2. application.properties

[code]

and running it with the command

and also even

In addition, I've also deleted the docker directory with the images, because I was unsure if those are getting used by the docker extension.

No matter what I do, it always picks up 21.3-j

[2022-02-26 09:23] leutrimmusliuu opened #23990 "Resources path params not not included when a Sub-Resource is filtered by @ServerRequestFilter"
### Describe the bug

Resources path params not not included in ContainerRequestContext/UriInfo when a Sub-Resource is filtered by ServerRequestFilter.

### Expected behavior

When a Sub-Resource has path parameters inherited from the parent resource, when filtering with @ServerRequestFilter, the method getPathParameters() of UriInfo should provide all path parameters, including path params inheri

[2022-02-26 12:47] yuhaibohotmail opened #23991 "Swagger UI don't show in dev mode from 2.7.0.Final"
### Describe the bug

Chrome  console error log:
[code]

### Expected behavior

Show swagger ui

### Actual behavior

Swagger UI don't Show in dev mode .
it works for  versions prior to 2.7.0.CR1 in dev mode.

### How to Reproduce?

[openapibug.zip](https://github.com/quarkusio/quarkus/files/8146623/openapibug.zip)

### Output of `uname -a` or `ver`

Microsoft Windows [ 10.0.19043.1165]

### Outpu

[2022-02-26 16:24] pipinet opened #23992 "Enable to config quarkus.http.root-path at runtime both jvm/navite mode"
### Description

Any version quarkus can not support change quarkus.http.root-path at runtime.
but quarkus.http.port can be changed at runtime,  why?

### Implementation ideas

_No response_

[2022-02-26 17:26] gsmet commented on #23988
It's builder-image not build-image: `-Dquarkus.native.builder-image-...`.

[2022-02-26 18:42] lordofthejars opened #23993 "Quarkus CLI multiple search"
### Description

Currently, with Quarkus CLI you can search for extensions but only with one topic (ie `quarkus ext list --concise -i -s jdbc`) but sometimes you would like to search for multiple extensions, in the case of the database example I would like to search for `jdbc`,`panache`, `jsonb`, `openapi` and now I should go one by one.

### Implementation ideas

`quarkus ext list --concise -i -s

[2022-02-26 19:09] maxandersen commented on #23993
Technically we could do that but I'm struggling to find the usecase for doing a search returning multiple results where the search terms are "or"'Ed.

I would expect It to be matching all of them. I.e. search "hibernate, reactive" returns what is both hibernate and reactive not either hibernate or reactive.

Wdyt?

[2022-02-26 19:41] lordofthejars commented on #23993
My idea was an `or`, so  `quarkus ext list --concise -i -s jdbc, panache, jsonb` would return me the JDBC extension and panache extensions and JSON extensions so I can choose to add all of them at once, so my initial idea is an either.

[2022-02-27 01:46] gastaldi commented on #23992
Duplicate of https://github.com/quarkusio/quarkus/issues/13621

[2022-02-27 01:46] #23992 closed

[2022-02-27 02:06] hernael commented on #23960
MessageMarshaller documenation:
`since 4.3.1.Final. Will be removed in version 5. Please use annotation based marshallers instead. See AutoProtoSchemaBuilder`
(https://www.javadoc.io/doc/org.infinispan.protostream/protostream/latest/org/infinispan/protostream/MessageMarshaller.html)

So, it will not be possible to create the Marshallers from the classes autogenerated by grpc

[2022-02-27 08:50] phillip-kruger commented on #23991
Hi @yuhaibohotmail - so you are using '鈥橾' in the output somewhere? Do you have a reproducer ?

[2022-02-27 09:00] cescoffier commented on #23960
Yes, this feature is still in flux last time I asked, which is why we cannot integrate with it without risking breaking change in the future. That being said, we have several ongoing work around gRPC that will simplify such integration:

1 - on the server side, we may remove the gRPC server we are using to use a pure Vert.x approach
2 - on the protoc side, we are exploring protoc less approaches a

[2022-02-27 09:05] cescoffier commented on #23964
This is expected. The user is responsible for passing a `SslEngineFactory` in the kafka consumer/producer configuration.
So, you need to define the `kafka.ssl.engine.factory.class` property and point to a valid (FIPS-aware) SSL Engine Factory (`org.apache.kafka.common.security.auth.SslEngineFactory`).

To be clear, while I'm aware of this feature, I never had to use it.

[2022-02-27 09:05] mklueh commented on #23988
@gsmet oh my god, thank you, this indeed works.

Was it previously "build-image"? Because the documentation here also says so for the Gradle DSL

https://quarkus.io/guides/gradle-tooling#building-a-native-executable

If I change that to **builderImage** as well, it also works.

[code]

[2022-02-27 09:08] cescoffier commented on #23978
That's an interesting issue. What are you trying to do in your image?

The restriction comes from the fact that we were not able to run "plain" kafka as dev service. This limitation has been lifted recently. So, we could imagine removing/reducing this check.

[2022-02-27 09:21] yuhaibohotmail commented on #23991
nothing.
I used "https://code.quarkus.io/" generate  the project.

here is a reproducer
[openapibug.zip](https://github.com/quarkusio/quarkus/files/8148401/openapibug.zip)

[2022-02-27 09:35] phillip-kruger commented on #23991
ok thanks. I'll have a look.

[2022-02-27 09:53] ozangunalp commented on #23978
For redpanda image if it contains the rpk binary in the usual place it should be ok. I think we can remove that check for good.

[2022-02-27 12:10] sberyozkin commented on #23967
@Karm I fixed the Vertx issue with the BC FIPS JSSE test. And I've added a couple of guards to avoid doing duplicate `addProvider`/`insertProvider` - these are supposed to be idempotent but perhaps there are stricter checks in the FIPS enabled system, so now I have there:
[code]

Can you please retry with my branch ?

[2022-02-27 15:37] fedinskiy commented on #23978
@cescoffier in our case, we are trying to circumvent DockerHub download limits, but I can also imagine, that some teams may want to patch their images, eg to use another base distributive.

[2022-02-27 16:46] cescoffier commented on #21385
it's a bit more complicated, especially with duplicated contexts, where each message comes with its own context.

To have such a thread affinity, you need to implement and deploy your own verticle and not use `@ConsumeEvent`.
See https://quarkus.io/guides/vertx-reference#using-verticles learn how to use verticles in Quarkus.

So, for now, it's better to not implement this behavior.

[2022-02-27 16:46] #21385 closed

[2022-02-27 16:47] cescoffier commented on #19444
@ozangunalp should we close this one?

[2022-02-27 17:17] asathe opened #23994 "2.7.2 issues with XMLInputFactory after migrating from 2.6.3"
We're seeing an error when using jackson XmlFactory:
Caused by: java.lang.NoSuchMethodError: 'javax.xml.stream.XMLInputFactory javax.xml.stream.XMLInputFactory.newFactory(java.lang.String, java.lang.ClassLoader)'

Gradle file includes:
'com.fasterxml.jackson.dataformat:jackson-dataformat-xml'
'com.fasterxml.woodstox:woodstox-core:6.2.5'

`XmlMapper.builder()
.defaultUseWrapper(false)
.build()
.reg

[2022-02-27 17:27] chonton commented on #23957
2.7.1.Final

[2022-02-27 20:01] jimbogithub opened #23997 "SSE Defects"
### Describe the bug

Multiple issues related to Server Sent Events demonstrated in https://github.com/jimbogithub/sse.  It contains reactive and non-reactive versions of a simple `TimeBroadcaster` broadcasting a timestamp event once per second to each subscribed `TimeConsumer`.

### SSE Server
See `sse-server` `TimeBroadcaster`.

1. Unable to obtain a centralised (e.g. `@ApplicationScoped` or `@S

[2022-02-27 20:28] jimbogithub commented on #23655
Here are the lists of open files for two different copies of https://github.com/jimbogithub/sse (a reproducer I have for a different issue).

- With the root pom changed to point to Quarkus 2.5.1: [files_2.5.1.txt](https://github.com/quarkusio/quarkus/files/8149387/files_2.5.1.txt) - Contains 239 matches for `quarkus`.

- With the root pom left pointing to Quarkus 2.7.2: [files_2.7.2.txt](https://

[2022-02-27 20:36] jimbogithub commented on #23655
2.6.3 does not have this issue.

[2022-02-27 21:23] famod commented on #23655
@Postremus FWIW, jars are loaded multiple times in that 2.7.2 dump, e.g.:
- jackson-annotations-2.13.1.jar 7 times
- maven-core 8 times

Those are loaded _at most_ 2 times in the 2.5.1 dump.

But you probably already noticed that.

[2022-02-27 21:29] felixosth opened #23998 "AWT graphics with AWS Lambda not working in native"
### Describe the bug

Combining the two guides https://quarkus.io/guides/amazon-lambda-http and https://github.com/quarkusio/quarkus-quickstarts/tree/main/awt-graphics-rest-quickstart doesn't work with native-image.

 The error `/var/task/bootstrap: /lib64/libm.so.6: version 'GLIBC_2.29' not found (required by /var/task/bootstrap) `is thrown when testing using `./mvnw package -Dnative` and `sam lo

[2022-02-27 22:14] siudeks opened #23999 "gRpc with Mutiny with external proto files does not compile (n.MutinyGrpcGenerator: not found)"
### Describe the bug

I use a few modules to compile gRpc clients with external location of proto files, one module per one set of proto files. It does compilewithout Mutiny support, and it does not compile with Mutiny support.

### Expected behavior

Should be compilable and generate gRpc code with Mutiny plugin

### Actual behavior

It does not compile - PROTOC FAILED (...) n.MutinyGrpcGenerator

[2022-02-27 23:43] phillip-kruger commented on #23991
Hi @yuhaibohotmail - i could not recreate this. Your reproducer works fine. Can you share some more details ?
![Peek 2022-02-28 10-41](https://user-images.githubusercontent.com/6836179/155905021-6e9b138d-8971-4900-9158-bb8fd37e6dd6.gif)

[2022-02-28 00:09] yuhaibohotmail commented on #23991
Hi @phillip-kruger ， This bug only appears on Windows in dev mode, it works fine on MacOS

https://user-images.githubusercontent.com/48646226/155905836-d4f8a3c2-8adb-4ce5-b44d-3f8709995b95.mp4

https://user-images.githubusercontent.com/48646226/155905855-aa21e7e9-daf1-4297-969a-6b23913bd53a.mp4

[2022-02-28 00:21] phillip-kruger commented on #23991
Ok, I'll see if I can recreate on Windows.

[2022-02-28 00:22] hernael commented on #23960
@cescoffier thanks for answering me.
Work with Java First Approache sound good :)

Currently if you want to use grpc + infinispan + kafka with schema registry, then is necessary to use avro.. all that together under current approach (a protofile for grpc, a class with annotations for infinispan and an avsc file for avro) becomes complicated application maintenance.

If the same approache can be ap

[2022-02-28 00:31] yuhaibohotmail commented on #23991
I  find  '鈥橾'  in  swagger-ui-bundle.js
![image](https://user-images.githubusercontent.com/48646226/155906763-1995a68d-8921-4a61-b5a0-36576ffef1e2.png)

[2022-02-28 01:01] stuartwdouglas commented on #9316
TrustedAuthenticationRequest just has a principal, after the initial authentication the password does not come into it.

I am not 100% sure what you are asking for here, it sounds like you want to be able to use io.quarkus.vertx.http.runtime.security.PersistentLoginManager outside of form based auth?

[2022-02-28 01:27] weir2010 opened #24000 "quarkus-hibernate-reactive-panache save error"
### Describe the bug

code：
[code]
error：
`2022-02-28 09:19:58,895 WARN  [io.ver.ext.web.RoutingContext] (executor-thread-0) BodyHandler in not enabled on this route: RoutingContext.getBodyAsString(...) in always be NULL
2022-02-28 09:19:58,895 WARN  [io.ver.ext.web.RoutingContext] (executor-thread-0) BodyHandler in not enabled on this route: RoutingContext.getBodyAsJson() in always be NULL
2022-0

[2022-02-28 04:58] chonton commented on #4227
Snce Vertx is now the implementation layer, this no longer makes sense

[2022-02-28 04:58] #4227 closed

[2022-02-28 05:06] chonton commented on #15739
I now see quarkusio in the scorecard csv

[2022-02-28 05:06] #15739 closed

[2022-02-28 06:17] geoand commented on #23998
cc @Karm

[2022-02-28 06:20] geoand commented on #23984
@evanchooly so we don't have a quickstart for Hibernate ORM Panache Kotlin?
If so, please update the docs to remove the `solution` section.

[2022-02-28 06:43] geoand commented on #23957
Thanks. I'll have a look

[2022-02-28 07:02] cescoffier commented on #23960
In JVM mode, you can use use the protobuf serde for Kafka. It's rather rare (Avro is more popular in the Kafka world), but not impossible.

Also, Infinispan only supports protobuf messages, not gRPC. It does not handle the "interface" definition. gRPC central-point are these interfaces. That's why we are trying to see how we can combine both.

(Closing as proposed).

[2022-02-28 07:02] #23960 closed

[2022-02-28 07:08] cescoffier commented on #23999
You need to package your external proto file in a Maven artifact and declare it as a dependency on your project. Note that you should NOT use the gRPC maven plugin, but only quarkus-grpc.

Once you have declared your dependency, you need to add:

[code]

NOTE: This requires Quarkus 2.8 (or 999-SNAPSHOT).

[2022-02-28 07:53] michalszynkiewicz commented on #23966
@stuartwdouglas I'll change it so that only if the User-Agent is not set, the default value is set.

[2022-02-28 08:15] ozangunalp commented on #19444
Yes, this is fixed with #23340. Further improvements are on the way to reducing the Strimzi startup time using CDS.

[2022-02-28 08:15] #19444 closed

[2022-02-28 08:55] geoand commented on #23957
Although I agree this looks weird, it seems that it's mandated by the spec (see https://github.com/quarkusio/quarkus/pull/24001 which actually fails the TCK).

What you can do however is disable `DefaultMicroprofileRestClientExceptionMapper` by configuring `microprofile.rest.client.disable.default.mapper=false`

[2022-02-28 08:55] #23957 closed

[2022-02-28 09:15] Karm commented on #23998
Hmm, weird, I looks as if MLib wasn't baked in, i.e. before https://bugs.openjdk.java.net/browse/JDK-8254024.
I will take a look.

[2022-02-28 09:48] Sanne commented on #24000
You're using `.await().indefinitely();` within a reactive chain - that's a red flag as you're literally blocking the process.

And that's why it will timeout.

Rather than blockin on the `find()` method you need to chain the further operations on the uni returned by that operation.

[2022-02-28 09:48] #24000 closed

[2022-02-28 10:03] cescoffier commented on #24000
it looks like you are not using resteasy reactive. To use hibernate reactive, you need either resteasy reactive ou reactive routes.

[2022-02-28 10:28] tsegismont commented on #23728
@geoand I don't believe we need clarification in the docs. However we need more connection url formats to be supported. I will work on this.

[2022-02-28 10:28] mmusgrov commented on #23558
@lordofthejars you are correct, the communication between a service and an LRA coordinator must be bi-directional and `TestContainers` allows me to achieve that goal (see integration-tests/narayana-lra/src/test/java/org/acme/quickstart/lra/LRAParticipantTestResourceLifecycle.java):

[code]

[2022-02-28 10:30] tsegismont commented on #23846
@gsmet indeed, we need to update the reactive Oracle client to support more connection url formats. I will work on it.

[2022-02-28 10:34] siudeks commented on #23999
Thx @cescoffier Thx, will retest when 2.8 ver will be available

[2022-02-28 10:36] michalszynkiewicz commented on #21111
When trying to debug it  I see InternalStateAssertions#assertCurrentThreadMatches during he session close

[2022-02-28 10:44] michalszynkiewicz commented on #21111
@phillip-kruger is it normal that the graphql endpoint is executed on the worker thread even though it returns a Uni?

[2022-02-28 10:46] phillip-kruger commented on #21111
No, that is being fixed, but even with that fix , in my local environment, same problem when using it with reactive hibernate

[2022-02-28 10:46] michalszynkiewicz commented on #19662
moved to quarkiverse

[2022-02-28 10:46] #19662 closed

[2022-02-28 11:06] DavideD commented on #24000
The reactive method should look like:
[code]

You can check the [quickstart](https://github.com/quarkusio/quarkus-quickstarts/blob/d1f6a01f64da85d51a7b21714f7964fb37b9c701/hibernate-reactive-panache-quickstart/src/main/java/org/acme/hibernate/orm/panache/FruitResource.java#L72) for some examples and the right dependencies to use in the project.

[2022-02-28 11:13] michalszynkiewicz commented on #21111
is it still failing on this assertion then?

[2022-02-28 11:14] phillip-kruger commented on #21111
I am not sure. I'll commit my branch tomorrow then you can check?

[2022-02-28 11:35] mmusgrov commented on #23558
BTW, I have not changed anything, that was the original code which was merged back in Jul 16 2020

[2022-02-28 11:36] lordofthejars commented on #23558
So there is already a DevService for LRA? But no docs

[2022-02-28 12:25] weir2010 commented on #24000
Thank you. I'll try

[2022-02-28 12:40] knutwannheden commented on #23805
I am also seeing this warning quite a lot. So far I wasn't able to find the root cause of it. In my case I am not using any special libraries at all. I will report back if I find something.

[2022-02-28 13:10] sombraglez opened #24008 "Apicurio Registry DevService cannot be used by multiple Quarkus services"
### Describe the bug

Currently I'm trying to connect two simple Quarkus services using the default DevServices as Kafka broker and schema registry.  According to the logs both services can successfully find the DevServices, which are automatically started by Quarkus. However, by trying to send a first message into the configured topic the following error occurs:

[code]

This error only occurs on

[2022-02-28 13:38] michalszynkiewicz commented on #23680
Are there any difficulties in having it a runtime property?
For the rest client it IMO makes more sense. You can take your binary, test it in with trust-all enabled and then go to prod where it's disabled...

[2022-02-28 13:40] radcortez commented on #23879
@nunocasteleira thank you. Unfortunately, this is not enough. If I copy-paste your code, there are still missing things and I'm unable to get a running reproducer. I could fill in the blanks, but it could deviate from your original issue. Are you able to provide a small GH repo, with a working example? Thank you.

[2022-02-28 13:43] mmusgrov commented on #23558
I'm not familiar with DevService's. I wrote the integration test to use TestContainers.
At the time I wrote the LRA extension nothing was available so I raised issue https://github.com/quarkusio/quarkus/issues/18425 which is still in the `Open` state.

[2022-02-28 13:44] radcortez commented on #23680
Not at all.

Currently this is inconsistent in REST Clients and the Config documentation, plus the other extensions that use the fixed config at runtime (Keycloack, Kubernetes, Mail Client, OIDC, and Spring Cloud Config). Are we ok to change the configuration behaviouir for these extensions?

[2022-02-28 13:50] Ladicek commented on #23708
Yea this is more like CC @jponge @cescoffier

[2022-02-28 13:51] leutrimmusliuu commented on #23990
@geoand can you please check this and tag the team that worked on sub resources

[2022-02-28 13:52] sschu opened #24009 "Update MS SQL JDBC driver to version 10.2.0"
### Description

Currently, MS SQL JDBC driver version is 7.2.2 from April 2019. It should be updated to the current version 10.2.0. This is already used by testcontainers-java (see https://github.com/testcontainers/testcontainers-java/blob/244c77c618bfdd9ba5dad464a22b4b56789550c2/modules/mssqlserver/build.gradle#L13).

### Implementation ideas

_No response_

[2022-02-28 13:53] pipinet commented on #22961
Is there progress on this feature?

[2022-02-28 13:55] geoand commented on #23990
Can you attach a sample project that exhibits the problematic behavior?

[2022-02-28 13:59] jponge commented on #23708
We haven't had successful experiments so far, see https://github.com/smallrye/smallrye-mutiny/issues/177

[2022-02-28 14:03] pyranja commented on #20962
We are also seeing these errors when using native vertx 4.2.5 redis client in cluster mode.
@pmlopes is there an update on this? Any hints to investigate?

[2022-02-28 14:52] yrodiere opened #24011 "Elasticsearch dev-services for Hibernate Search when there are multiple Persistence Units or backends"
### Description

Follows up on #23753, #23974.

See the "limitations" section of the documentation of Elsaticsearch dev-services:

### Implementation ideas

_No response_

[2022-02-28 14:54] yrodiere commented on #23904
I'll consider closed; I opened #24011 for the multi-PU/multi-backend scenarios with Hibernate Search.

[2022-02-28 14:54] #23904 closed

[2022-02-28 15:09] alex-damico commented on #23908
@radcortez, Can you help us?

[2022-02-28 15:11] #10458 closed

[2022-02-28 15:13] GregJohnStewart commented on #23528
Bump to this! How goes it?

[2022-02-28 15:23] geoand commented on #23528
I don't think anyone is currently working on it

[2022-02-28 15:30] glefloch commented on #23528
I started some work before holidays, I will and push it. I was waiting for the maven PR to be merge before.

[2022-02-28 17:14] leutrimmusliuu commented on #23990
@geoand thank you for the quick response. I updated the issue and appended a reproducer app.

[2022-02-28 17:20] leutrimmusliuu commented on #23990
@FroMage @stuartwdouglas
Based on the sc below, the uri info contains the previous resource. The method getPathParams() should include the 'previous resource' path params.

![Screen Shot 2022-02-28 at 6 16 12 PM](https://user-images.githubusercontent.com/78145842/156028155-af4af190-4163-4042-80bb-e00d76d2d4c6.png)

[2022-02-28 17:42] #23978 closed

[2022-02-28 17:43] michalszynkiewicz commented on #23680
I don't know... @sberyozkin @cescoffier @geoand ^

[2022-02-28 17:49] michalszynkiewicz commented on #23986
the only thing that didn't work for me in the reproducer with the current version was receiving small files, I fixed it with the linked pull request.
I'd be grateful if you could verify all works for you with the `main` branch when the linked PR is merged

[2022-02-28 17:52] michalszynkiewicz commented on #23986
I just checked and the version you were using didn't support multipart responses at all, we support them since 2.7: https://github.com/quarkusio/quarkus/pull/22855

[2022-02-28 17:52] #23949 closed

[2022-02-28 17:59] #23574 closed

[2022-02-28 18:12] smallgaben commented on #15502
AbstractRequestHandler
[code]
CustomRequestHandler
[code]

[2022-02-28 18:43] gsmet commented on #23655
This is concerning. @Postremus do you think you will have the time to look at it before tomorrow evening? If not, we will need to have someone else having a look.

[2022-02-28 18:44] gsmet commented on #23998
@Karm couldn't it be that the native image is built with a Glibc that is incompatible with the one of the runtime image?

[2022-02-28 18:45] gsmet commented on #23994
Could you please provide a reproducer i.e. a small project reproducing the issue?

[2022-02-28 18:46] gsmet commented on #23994
My guess would be that the versions you are using are somehow incompatible.

[2022-02-28 18:53] Postremus commented on #23655
@gsmet My plan was to start looking at this issue in detail today. But I honestly don't think that I am able to fix this in todays remaining 3 hours.
I will dig into this a bit though.

Yesterday, I did some tests with only quarkus-fs-util, found nothing so far.

[2022-02-28 18:58] gsmet commented on #23988
Ah, thanks, I created https://github.com/quarkusio/quarkus/pull/24016 to fix it.

[2022-02-28 19:00] gsmet commented on #23971
@cescoffier @mkouba I don't remember which part it is in but I think it's in your area of expertise?

[2022-02-28 19:01] gsmet commented on #23948
I would say it probably makes sense to add configuration properties for both the use cases you mentioned.

Care to create a PR?

[2022-02-28 19:04] gsmet commented on #23914
@MartinSem care to share some information?

@phillip-kruger @jmartisk I wonder if it could be that we are not sending proper encoding headers anymore for these resources. That could explain that you have different behaviors depending on the default encoding of the browser.

[2022-02-28 19:16] Postremus commented on #23655
I guess I figured it out.

During a "Maven Update" in eclipse, the following goals are invoked:
- generate-code
- generate-code-tests

The generate-code goal uses a QuarkusClassLoader (the dev mode classloader), which internally opens a lot of `OpenArchivePathTree` instances.
This kind of Tree keeps the backing FileSystem open, until an explicit close invoked.

This never happens though during thi

[2022-02-28 19:34] evanchooly commented on #23727
I created a new project from the website and copied these classes in.  I can't recreate it.  Can you provide a project that recreates this, @fwgreen ?

[2022-02-28 19:44] evanchooly commented on #16354
I'm going to make the executive decision to close this as won't fix. We have not only panache support but also [quarkiverse-morphia](https://github.com/quarkiverse/quarkus-morphia/) for a more robust ODM solution. While community contributions are always welcome, this isn't one the quarkus team will pursue at this point.

[2022-02-28 19:44] #16354 closed

[2022-02-28 20:03] cescoffier commented on #23971
Does it currently generate a codec for Object?

[2022-02-28 20:06] cescoffier commented on #23680
This is why we are improving TLS config. That work was out on standby due to the duplicated context work.

See https://github.com/quarkusio/quarkus/issues/17038

[2022-02-28 21:11] gsmet commented on #8239
@bluemonk3y did you ever get to the bottom of this one? I know we fixed several providers issues but not sure this one has been fixed.

[2022-02-28 21:13] gsmet commented on #8635
@phillip-kruger not sure about this one? It's probably something that should be reported to SmallRye OpenAPI if it's still an issue.

[2022-02-28 21:14] gsmet commented on #11702
No activity for a while, closing. Please reopen with a reproducer if still an issue.

[2022-02-28 21:14] #11702 closed

[2022-02-28 21:14] phillip-kruger commented on #8635
Yes, we can move this to smallrye openapi and confirm there if it is still an issue

[2022-02-28 21:15] gsmet commented on #14879
We changed the way the resources are initialized so this might have been fixed in the way. Closing cause we were unable to reproduce it.

[2022-02-28 21:15] #14879 closed

[2022-02-28 21:16] gsmet commented on #16870
I did the first batch. I think we can close this one and open a new one should we move others.

[2022-02-28 21:16] #16870 closed

[2022-02-28 21:16] gsmet commented on #18257
No reproducer, closing.

[2022-02-28 21:16] #18257 closed

[2022-02-28 21:17] gsmet commented on #18683
An extension is in progress in the Quarkiverse now: https://github.com/quarkiverse/quarkus-openapi-generator .

[2022-02-28 21:18] gsmet commented on #18784
@maxandersen is this still an issue? I think I define some in my JBang scripts and they work fine.

[2022-02-28 21:18] gsmet commented on #21552
I think we can close this one now.

Thanks for all your work on this @Postremus .

[2022-02-28 21:18] #21552 closed

[2022-02-28 21:21] famod commented on #7696
2.7.2 has further improved the situation, so I'll close this issue.

Please open a new issue in case you thinks something is not right or missing.

[2022-02-28 21:21] #7696 closed

[2022-02-28 21:22] famod commented on #20749
Closing due to lack of feedback/lack of a reproducer. I do think this is not an issue anymore.

Please open a new issue in case you thinks something is not right or missing.

[2022-02-28 21:22] #20749 closed

[2022-02-28 21:38] chonton opened #24019 "In io.quarkus.jackson.ObjectMapperCustomizer, use JsonMapper instead of ObjectMapper"
### Description

As of 2.10, JsonMapper appears to be the preferred system.

This will require changing the default ObjectMapper producer and change the interface of ObjectMapperCustomizer.

What backward compatibility is required?

### Implementation ideas

[code]

[2022-02-28 23:10] asathe commented on #23994
I'll look to get a little reproducer setup shortly, thanks

[2022-03-01 00:06] radcortez commented on #23680
Ok, lets do the work as part of #17038

[2022-03-01 00:30] yuhaibohotmail commented on #23991
![image](https://user-images.githubusercontent.com/48646226/156081210-96159fe4-174c-4376-a711-ff1a8f2fb75a.png)

My locale is  zh-CN.
I just tested it work on Microsoft Edge (V98.0.1108.62)  in dev mode，and can not work on firefox(V97.0.1).

[2022-03-01 00:37] phillip-kruger commented on #23991
Ok, I think this is bigger than openapi and graphql, we might need some help from someone in the vertx-http or similar extension. I have not yet managed to recreate this issue, but I left the locale/charset as default on Windows. I'll try again. @stuartwdouglas @cescoffier - do you have any idea if anything changed ?

[2022-03-01 00:37] radcortez commented on #23908
I'll have a look.

[2022-03-01 00:48] fwgreen commented on #23727
@evanchooly Thanks for taking the time to investigate.  Here's a link https://github.com/fwgreen/code-with-quarkus

[2022-03-01 01:24] git4rputuval commented on #23986
@michalszynkiewicz thanks. Will upgrade to 2.7.2.FINAL from 2.5.0.FINAL, test and will revert.

[2022-03-01 02:10] stuartwdouglas commented on #23991
I don't see that character in the file (in smallrye-open-api-ui-2.1.17.jar). I don't really see how this could be a charset issue, this should be served just using the vert.x static file handler, no charset processing should be done.

[2022-03-01 02:11] stuartwdouglas commented on #23991
In my editor it looks like:

`o=n(434),u=RegExp("['’]","g")` rather than what you are seeing, but the back tick is 'U+2019'

[2022-03-01 02:16] phillip-kruger commented on #23991
@gsmet - There is no difference between the headers in 2.7.0 and 2.7.2 that I can see.

[2022-03-01 02:19] yuhaibohotmail commented on #23991
[swagger-ui-bundle.zip](https://github.com/quarkusio/quarkus/files/8158302/swagger-ui-bundle.zip)

This is  the js file I get from chrome
![image](https://user-images.githubusercontent.com/48646226/156092148-540fea29-78e5-40f9-ab9f-9dc33db63622.png)

[2022-03-01 02:20] kdubb commented on #24019
For outward compatibility producing a `JsonMapper` will fulfill injection requirements for `ObjectMapper`.

[2022-03-01 02:21] stuartwdouglas commented on #23991
Any idea what your default encoding is?

[2022-03-01 02:21] phillip-kruger commented on #23991
And you mentioned it works on Edge ? But not on Chrome and Firefox ?

[2022-03-01 02:22] stuartwdouglas commented on #23991
E.g. what happens if you run:
`System.out.println(new String("\u2019".getBytes(StandardCharsets.UTF_8)));`

[2022-03-01 02:27] stuartwdouglas commented on #23991
The browser is interpretting it as either `GBK` or `GB18030`

If you do: `System.out.println(new String("\u2019]".getBytes(StandardCharsets.UTF_8), "GB18030"));` you get `鈥橾`

[2022-03-01 02:27] yuhaibohotmail commented on #23991
[swagger-ui-bundle.zip](https://github.com/quarkusio/quarkus/files/8158319/swagger-ui-bundle.zip)
This is   js file I get from chrome in  product mode,can not find the character

[2022-03-01 02:27] yuhaibohotmail commented on #23991
yes, I get   `鈥橾`

[2022-03-01 02:28] stuartwdouglas commented on #23991
What headers do you see in the network tab of chrome?

[2022-03-01 02:30] yuhaibohotmail commented on #23991
System.out.println(new String("\u2019".getBytes(StandardCharsets.UTF_8)));
    I  get  鈥�

System.out.println(new String("\u2019]".getBytes(StandardCharsets.UTF_8), "GB18030"));
   I  get  鈥橾

[2022-03-01 02:31] yuhaibohotmail commented on #23991
yes  , it works on Edge in dev mode.

[2022-03-01 02:32] stuartwdouglas commented on #23991
Linked PR should fix the issue.

[2022-03-01 02:32] yuhaibohotmail commented on #23991
@stuartwdouglas  Thanks a lot !

[2022-03-01 03:09] yuhaibohotmail commented on #23991
@stuartwdouglas
I just tried that fix，it works for me。

[2022-03-01 04:19] #18784 closed

[2022-03-01 04:19] maxandersen commented on #18784
Yeah. This was fixed.

[2022-03-01 04:45] #23966 closed

[2022-03-01 05:05] geoand commented on #24019
What backward compatibility is required?

This is a pretty severe breaking change that could affect a lot of people. I am not sure I want to do that just yet.

[2022-03-01 05:53] geoand commented on #24019
https://github.com/quarkusio/quarkus/issues/23645 is also related

[2022-03-01 06:23] #23988 closed

[2022-03-01 06:36] cescoffier commented on #23680
BTW, ALL TLS related attributes should be runtime and not build-time. There are some nasty details here (often named security) that need runtime adjustment.

[2022-03-01 06:37] cescoffier commented on #23680
Famous last word since almost a year 🤣

[2022-03-01 06:44] cescoffier commented on #23971
We would need a new annotation (registering a codec must be explicit, and we also need the target class. So something like:

[code]

Also, when such a codec is found, we must not register the default codec for that type.

[2022-03-01 07:09] #23786 closed

[2022-03-01 07:13] #23986 closed

[2022-03-01 07:15] michalszynkiewicz commented on #23986
@git4rputuval please note that until a new version that contains https://github.com/quarkusio/quarkus/pull/24014 is released it will be failing on small files (smaller than 16KB)

[2022-03-01 07:40] git4rputuval commented on #23986
Thanks @michalszynkiewicz … I was struggling to understand why the sample project kept failing. Once I added the code to push the file size to above 16KB, it worked.

So now I have to wait till https://github.com/quarkusio/quarkus/pull/24014 is resolved. Any timeline you have in mind to get this fixed. We have a release in April 2022.

[2022-03-01 07:49] michalszynkiewicz commented on #23986
it's already fixed but needs a new Quarkus release.
@gsmet do you know when we may have a new Quarkus 2.7 release (that could incorporate https://github.com/quarkusio/quarkus/pull/24014)?

[2022-03-01 07:50] JiriOndrusek opened #24027 "Hibernate Validator does not use META-INF/validation.xml, it should work or be stated in the documentation."
### Describe the bug

I'm working on camel-quarkus issue which extends tests for hibernate validator (https://github.com/apache/camel-quarkus/issues/3567).

I tried to use `META-INF/validation.xml` for validation configuration. It seems, that xml is not applied. I found an older issue stating that only annotations are supported - https://github.com/quarkusio/quarkus/issues/5531#issuecomment-554800

[2022-03-01 07:51] dreamlike-ocean commented on #22961
不知我的实现是否符合您的要求 代码如下
https://github.com/dreamlike-ocean/codepieces/blob/main/quarkus_TransactionListener.java
——————————————————————————————————————————
I wonder if my implementation meets your requirements. The code is as follows：
https://github.com/dreamlike-ocean/codepieces/blob/main/quarkus_TransactionListener.java

[2022-03-01 08:11] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1914302266

[2022-03-01 08:39] michalszynkiewicz commented on #23997
for building the client in the reactive version, is there any reason for not using `ClientBuilder.newClient().register(new ClientRequestLogger()).register(new ClientResponseLogger());` to create the client?

[2022-03-01 09:16] Plawn commented on #23971
Hello @cescoffier,

I'm using the local eventBus, the auto registered codec works for POJOs if they are either inputs or outputs of a given @ConsumeEvent endpoint. What I had was a blocking (or on blocking) "controller" that would parse the body of the event and call the function accordingly. In my case I use this method to inject indentities in my websocket application.
To write this controller,

[2022-03-01 09:26] cescoffier commented on #23971
Thanks for the clarification. Did you try to register a codec explicitly? I'm wondering if it works for Object. I remember that we do some "assignableFrom" checks, so this codec may match too many cases.

[2022-03-01 09:35] michalszynkiewicz commented on #23997
CC @FroMage @geoand

[2022-03-01 10:04] JHahnHRO commented on #23713
It is now decided that decorating built-in beans will not be supported in the near future, yes? If so, then that should at least be documented. Ideally I'd like Quarkus to print a big fat warning to the log if a decorator for a built-in bean is found explaining that it will not work.

[2022-03-01 10:07] floflorentin opened #24030 "Error while persisting list of entities - Hibernate reactive Vert.x EventLoop thread"
### Describe the bug

Hello,
I'm using Hibernate Reactive Panache with RabbitMQ queues.
The error occurs while trying to persist huge amount of entities.
I add several entities that contain an id and a string in a queue from a REST API.

[code]

The queue is consuming to parse the string and create a new entity "log" that contain a list of "token".
I made a batch that sends a multi of a List of Lo

[2022-03-01 10:10] ftrippel opened #24031 "ForbiddenException / DenyAll Check / Happens with constructor argument in REST resource"
### Describe the bug

I will provide two examples. Example 1 passes just fine, but Example 2 results in a ForbiddenException / DenyAll check when the field "registry" is accessed. Otherwise the setup is exactly the same.

Note: we are using Quarkus with Kotlin 1.6.10

### Expected behavior

There should not be a permission check on a constructor argument when accessed.

### Actual behavior

**Exam

[2022-03-01 10:11] Plawn commented on #23971
In the end, I decided to wrap my function calls in order to automatically have the POJO registered. (I know it's not supposed to be done like that), because I didn't want to have to register the codecs explicitly.
I suppose a codec was registered for Object as it was the output of my endpoint, but it wasn't used, as I had a missing codec error

[2022-03-01 10:19] ftrippel commented on #24031
Seems we have an error in our code. Sorry to report this.

[2022-03-01 10:20] knuspertante commented on #23716
Hey @geoand,

sorry for the delay. Today I found enough time to implement a sample application.

See: [Quarkus Sample Application: Github Issue 23716](https://github.com/knuspertante/quarkus-issue-23716)

Pls use the following maven command to build this application.
[code]

If you comment [this line](https://github.com/knuspertante/quarkus-issue-23716/blob/5078386af95dd24a30715ab46788553c0cc56239

[2022-03-01 10:25] laurentperez opened #24032 "2.7.2.Final does not start when smallrye-metrics is on classpath"
### Describe the bug

Hello

I'm attempting to get client MP metrics per https://quarkus.io/guides/micrometer#quarkus-micrometer_quarkus.micrometer.binder.mp-metrics.enabled and https://quarkus.io/guides/smallrye-metrics

I am not using resteasy reactive but plain resteasy

When I add implementation("io.quarkus:quarkus-smallrye-metrics") as a dependency Quarkus does not start and throws below

Bug

[2022-03-01 10:41] #23991 closed

[2022-03-01 10:44] #23813 closed

[2022-03-01 10:46] gsmet commented on #24032
We really don't have enough information to help. Please provide a reproducer.

My guess would be that you have both Micrometer and SmallRye Metrics extensions but I could be mistaken.

[2022-03-01 10:47] gsmet commented on #23914
Probably fixed by https://github.com/quarkusio/quarkus/pull/24025 .

[2022-03-01 10:47] FroMage commented on #814
Yeah, I guess we can say that if anybody wants this, they have to use Renarde. We can always revisit if micro-services users also want a reverse-router.

[2022-03-01 10:47] #814 closed

[2022-03-01 10:53] FroMage commented on #20521
This looks like something we should document. I did run into the issue too myself.

[2022-03-01 11:13] geoand commented on #23716
Thanks.

Note that the issue should likely be moved to https://github.com/quarkiverse/quarkus-amazon-services.

@jerboaa I see you had done some GraalVM related work on the DynamoDB extension, so do you mind taking a look?

Thanks

[2022-03-01 11:22] geoand commented on #24032
We probably want to leverage the capabilities checks to make this illegal, see [this](https://github.com/quarkusio/quarkus/blob/2.7.2.Final/docs/src/main/asciidoc/capabilities.adoc#L16) for more information.

My guess is that all we need to do is add

[code]

to https://github.com/quarkusio/quarkus/blob/2.7.2.Final/extensions/micrometer/runtime/pom.xml#L128

[2022-03-01 11:51] gsmet commented on #24032
Yeah but we need to make sure this capability is not used for other purposes (typically to make sure SmallRye Metrics is there) :).

[2022-03-01 13:06] edeandrea commented on #23612
@geoand is this a regression on Quarkus main?

[code]

[2022-03-01 13:12] edeandrea commented on #23528
The maven PR is about whether or not to always run the integration tests (instead of only in the native profile).

Currently it's impossible to even run `@QuarkusIntegrationTest`s in Gradle right? That needs to be fixed.

Whether or not to always run them (i.e. `build.finalizedBy(intTest)` is a different problem. I think regardless we need the `intTest` tasks and source set.

Just my $0.02.

[2022-03-01 13:13] faermanj commented on #2931
Same issue here. I wanted the binary to be called exactly "kubectl-task", so this workaround...
[code]

[2022-03-01 13:14] geoand commented on #23612
It's the result of https://github.com/quarkusio/quarkus/pull/23905.

From the description:

[code]

[2022-03-01 13:18] edeandrea commented on #23612
Got it. Thanks you. So does that mean until 2.7.3 is out this CI will fail every day?

[2022-03-01 13:19] geoand commented on #23612
Why do you say that?

CI should be green once you make the changes mentioned above.

[2022-03-01 13:22] edeandrea commented on #23612
Is `quarkus-test-vertx` available pre 2.7.3?

[2022-03-01 13:24] geoand commented on #23612
Nope. Isn't CI testing against Quarkus `main`?

[2022-03-01 13:26] edeandrea commented on #23612
It is. Which goes to my earlier comment that I can't make any changes until 2.7.3 is released, which also means the daily CI will continue to fail each day because of it. There isn't anything I can do to fix it until 2.7.3 is out.

[2022-03-01 13:28] geoand commented on #23612
`2.7.3.Final` should be out this week

[2022-03-01 13:32] edeandrea commented on #23612
Sounds good. Thanks for the help!

Since this is a breaking change in a minor release I'd make sure it's well documented in the release notes :)

[2022-03-01 13:33] geoand commented on #23612
Yup, will do

[2022-03-01 13:36] mkavalecz commented on #6262
Note: the same thing is an issue for AWS CloudWatch. We need to replace \n with \r for it to handle to messages correctly.

[2022-03-01 13:45] DavideD commented on #24030
I don't think you are using Resteasy reactive. Make sure you have this dependency on the classpath:
[code]

[2022-03-01 13:46] DavideD commented on #24030
And not the regular resteasy

[2022-03-01 13:55] #23838 closed

[2022-03-01 14:15] floflorentin commented on #24030
Thank you for your reply, unfortunately I already made sure to use resteasy reactive dependency... In order to be sure of it, I removed all dependencies that aren't reactive.

[2022-03-01 14:19] DavideD commented on #24030
The reason I've suggested it is beacuse the error says that the code is runnning in `executor-thread-1`. This shouldn't happen with Reasteasy reactive and that's why Hibernate Reactive is complaining. It should be an `event-loop-thread`.

Can you create a reproducer that we can run? Maybe using one of the quickstarts? https://github.com/quarkusio/quarkus-quickstarts

[2022-03-01 14:29] Karm commented on #23998
@gsmet It is weird, because @felixosth 's system in not anything obscure, it's just a modern Ubuntu.

It works for me with my `GLibc 2.28`:

[code]
Starting Quarkus native just fine:
[code]
The error at the end is related to something else. Reading the [guide](https://quarkus.io/guides/amazon-lambda-http#deploy-to-aws):

My system:
`Centos 8 Stream, kernel: 4.18.0-365.el8.x86_64`
`GLibC: GNU C Lib

[2022-03-01 14:41] felixosth commented on #23998
Might be worth mentioning that we build our app in Github Actions using the command `./mvnw package -Dnative -Dquarkus.native.container-build=true` and that's where I found the problem initially. After that I installed Ubuntu (using Windows usually) and built it there.

[2022-03-01 15:26] ebullient commented on #24032
I can't find anyone directly referencing io.quarkus.metrics internally. But if it helps tools indicate there is a conflict, I'm ok with that.

[2022-03-01 15:32] juangon commented on #7678
Ok so it seems I had to create an init-containers in order to set the permissions properly. Thanks very much!

[2022-03-01 15:35] manovotn commented on #23713
You're right that we should at least denote this is the [reference guide](https://quarkus.io/guides/cdi-reference) and state the the support is limited.

I guess we could do that by monitoring the decorated type when processing them and log a warning or maybe straight up throw an error. WDYT @mkouba?

[2022-03-01 15:38] geoand commented on #24032
The capabilities don't need to be referenced programmatically.

Quarkus does check that there are no duplicates before launching the build

[2022-03-01 15:41] DavideD commented on #24030
I've just noticed this:

So, it normally works. It doesn't seem like an issue with Hibernate Reactive. It seems something else happens at some point that makes this run in the wrong thread.

[2022-03-01 16:03] ebullient commented on #24032
Right. The check that is preventing things from starting ALSO ensures there is only one metrics provider (that's why I wrote it that way). It was added at the same time as xml-based capability checks. I'm all for better error messages. ;)

[2022-03-01 16:13] rsvoboda opened #24037 "quarkus-reactive-routes fails when using Mutiny.SessionFactory.withSession"
### Describe the bug

quarkus-reactive-routes based code fails when using Mutiny.SessionFactory.withSession

hibernate-reactive-routes-quickstart is failing since https://github.com/quarkusio/quarkus/pull/23719 got merged
Code link https://github.com/quarkusio/quarkus-quickstarts/blob/main/hibernate-reactive-routes-quickstart/src/main/java/org/acme/hibernate/reactive/FruitsRoutes.java#L39

[code]

[2022-03-01 16:17] DavideD commented on #24030
Interesting, it seems there was a timeout here:
[code]

that caused  a rollback of the transaction:
[code]

So it could be a bug in reactive.

Great! Thanks a lot

[2022-03-01 16:58] patriot1burke commented on #22563
Finally have a PR for you.

[2022-03-01 16:58] floflorentin commented on #24030
The reproducer is now acccessible at :
https://github.com/floflorentin/demo-quarkus-hibernate-24030
Thank you again !

[2022-03-01 17:25] radcortez commented on #23908
I was not able to reproduce the issue directly. It seems that this is caused by the charset in the Content-Type header, but every browser that I've tried (Safari, Chrome, Firefox, and Edge) uses `UTF-8`. I was able to reproduce the issue by manually changing the charset to `ISO-8859-1`.

Are you able to confirm which headers are being sent on the post, and which browser are you using? Thanks!

[2022-03-01 17:25] Felk commented on #23767
I feel like I'm slowly getting more proficient in using Quarkus effectively, including thoroughly reading up on guides and finding all the neat tools that already exist. This includes this little neat button:

![grafik](https://user-images.githubusercontent.com/1996138/156217653-2522592b-8465-4a89-8335-6deca2b48981.png)

which brings me to the config editor pre-filtered for hibernate configs. All

[2022-03-01 17:33] laurentperez commented on #24032
Hi. Further info, setting https://quarkus.io/guides/micrometer#quarkus-micrometer_quarkus.micrometer.binder.mp-metrics.enabled to true works out of the box, we get metrics from our MP client. I don't need in fact to add sr-metrics

I sort of misunderstood sr-metrics, I thought it was the default implementation of MP metrics. I'm also using https://github.com/quarkiverse/quarkus-micrometer-registry

[2022-03-01 17:38] ebullient commented on #24032
https://quarkus.io/blog/micrometer-metrics/
It doesn't say "removed" it says "moved" .. if/when we do so, we'll be super obvious about it (i.e. we might move it into its own extension someday).

[2022-03-01 18:35] Karm commented on #23998
I can reproduce it on my Ubuntu VM:
[code]

[2022-03-01 18:49] jimbogithub commented on #23997
In my case no.  I simply point out the issue that occurs for anyone who does need to access the methods that are only available on the builder.

[2022-03-01 18:51] n1hility commented on #2931
we'll take a look at this. thanks for your patience. Clever workaround @faermanj

[2022-03-01 19:19] jimbogithub opened #24041 "Documented quarkus.log.handler.file...rotation.max-file-size default value is incorrect"
### Describe the bug

https://quarkus.io/guides/logging#quarkus-log-logging-log-config_quarkus.log.handler.file.-file-handlers-.rotation.max-file-size states the default size is `10`.  Based on the [MemorySize](https://quarkus.io/guides/logging#memory-size-note-anchor) definition, this would mean 10 bytes.  Actual value from observed system appears to be 640K.

### Expected behavior

_No response_

[2022-03-01 19:33] pwlan commented on #23678
Hi,
I have the exact same error message, but without using flow. I did some digging and found
[code]
My guess is that the 'Any' from the error message is referring to the parameter 'o' here.
`encodeToStream` is using a reified type parameter to determine the Serializer.
And this would be Any and not the exact type at runtime.

[2022-03-01 20:25] manofthepeace opened #24042 "RestClient reactive hangs forever when url is invalid"
### Describe the bug

When using the rest client with an invalid url example `http//localhost:8080` note the missing colon. Something makes the calls never return, and timeout values are also ignored. Using `@URL` from hibernate validator is a good way to catch it, but still I believe it should not hang.

In the reproducer I am using quartz scheduler as well. IN that case the app fully hangs and b

[2022-03-01 20:49] #24037 closed

[2022-03-01 20:57] glefloch commented on #23984
Actually, the quickstart exists but has never been merged https://github.com/quarkusio/quarkus-quickstarts/pull/964.

[2022-03-01 21:37] koalalam opened #24044 "Gradle Plugin - quarkusDev - Plugin dependenies are used to initialize logging"
### Describe the bug

For logging config, we are using vanilla slf4j/log4j2 ie we use slf4j at compile time and log4j2 at runtime with a dedicated log4j2 config file (log4j2.xml) which exists in application classpath. This setup has been working fine until we upgrade Quarkus from 2.5.1 to 2.7.2.

In Quarkus 2.7.2, we found `slf4j-jboss-logmanager` is used to initialize logging, as opposed to using

[2022-03-02 07:20] jcunliffe1 commented on #2648
I agree with @anborg - currently we are facing serious issues running quarkus in an enterprise environment without vault and have to basically implement password encryption/decryption ourselves.

[2022-03-02 07:35] uhdyi opened #24049 "failed build docker image with error code 137"
### Describe the bug

I'm following the tutorial here: https://quarkus.io/guides/building-native-image, and tried to build a docker image, but it failed with 137, searched around and tried all different approach but it didn't work

OS: macOS Catalina 10.15.7

Java:
openjdk version "11.0.14" 2022-01-18
OpenJDK Runtime Environment GraalVM CE 22.0.0.2 (build 11.0.14+9-jvmci-22.0-b05)
OpenJDK 64-Bit S

[2022-03-02 07:38] geoand commented on #24049
As the error message says, it's likely due to the fact that the Docker VM does not have enough memory.

[2022-03-02 07:38] #24049 closed

[2022-03-02 08:15] FengHuangDong commented on #23528
I want to try use different migrate sql in my IT，so i will set test profile in my application.yaml:

`# With profiles
"%test":
  quarkus:
    flyway:
      locations: db/migration,test/db/migration`

But it didn't work in @QuarkusIntegrationTest, maybe i think because maven build package not test env?
How can i insert mock data to testcontainers pg with QuarkusIntegrationTest?

[2022-03-02 08:18] geoand commented on #24041
@loicmathieu it seems like you updated `RotationConfig` last, so mind commenting?

[2022-03-02 08:22] geoand commented on #24031
Can you please attach a sample application that exhibits this behavior?

[2022-03-02 08:46] evacchi commented on #12486
I think it's a timeout, the build ended abruptly

[2022-03-02 08:55] machi1990 commented on #24041
The issue is that the default value displayed on the generated documentation is only for visualisation (see https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java#L61). The true default value will be whatever that is assigned by JBoss Logging, which is 640K. It could the case that the default value in upstream was updated and the change

[2022-03-02 09:23] rsvoboda commented on #7678
Thanks!

[2022-03-02 09:47] radtriste commented on #12486
[code]
yep looks like it ... should we update the timeout ?

[2022-03-02 09:51] evacchi commented on #12486
yep think so

[2022-03-02 10:30] herasimau opened #24054 "ReactiveClientHeadersFactory ignores rest-client @Produces headers"
### Describe the bug

When i use `@RegisterClientHeaders(ReactiveHeaderFactory.class) `
`public class ReactiveHeaderFactory extends  ReactiveClientHeadersFactory`

The Annotation `@Produces(MediaType.APPLICATION_OCTET_STREAM) `
in rest-client is ignored and expected headers are not injected.

The detail of error:
1. Endpoint exposed with Resteasy that consumes application/json:
    `@GET
      @Co

[2022-03-02 10:40] #23914 closed

[2022-03-02 10:45] gsmet commented on #24041
@machi1990 yeah I think it makes more sense to set it to 10 MB.

[2022-03-02 10:53] VanillaSpoon commented on #24041
Hey :) could i be assigned this issue. I'll get working on solution 1.

[2022-03-02 10:58] Sgitario commented on #23898
fyi: I've proposed a solution for this issue in https://github.com/quarkusio/quarkus/pull/24055

[2022-03-02 10:59] machi1990 commented on #24041
+1

Thanks @VanillaSpoon consider the issue yours. What option 1 is to change the
[code]

from line https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/logging/FileConfig.java#L61
to
[code]

[2022-03-02 11:16] evacchi commented on #12486
@radtriste @geoand is this correct? https://github.com/kiegroup/kogito-runtimes/pull/2051

[2022-03-02 11:26] mkavalecz commented on #21349
This really needs to be solved.
I'd be okay with the workaround described in the "additional information" section.

[2022-03-02 11:30] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1920383940

[2022-03-02 11:46] dskgry opened #24056 "ReactiveRedisClient: Transaction with multi() not working"
### Describe the bug

I'm trying to implement the check-and-set pattern (https://redis.io/topics/transactions#cas) using the ReactiveRedisClient. But commands after the `multi` command do not seem to get `queued`, they're executed directly. When using the blocking version, everything works as expected.

When using the following code, the log output of the reactive endpoint is:
MULTI OK
SET OK
EXEC

[2022-03-02 14:16] glefloch commented on #23984
This quickstart has been merged, the directory will be available as soon as quickstart development branch is merged into main.

[2022-03-02 14:16] #23984 closed

[2022-03-02 14:44] #23898 closed

[2022-03-02 14:59] Karm commented on #23998
IMHO Ubuntu's glibc is too new for the Linux AWS Lambda executes on. I will try to confirm...

[2022-03-02 15:01] gsmet commented on #23998
It's not really about being too new or too old. It's more that you need consistent Glibc (or at least compatible Glibc) in the builder image and in the runtime image.

[2022-03-02 15:11] Karm commented on #23998
Well, the version matters though. e.g. executable built on Centos 8 works just fine on Ubuntu 20, but not vice versa.

[code]

[2022-03-02 15:54] uhdyi commented on #24049
then how do I increase the Docker VM memory?

[2022-03-02 15:58] geoand commented on #24049
See https://docs.docker.com/desktop/mac/#resources

[2022-03-02 16:08] evanchooly commented on #23727
I've isolated the cause if not the precise why:  your model classes are packageless and that trips up quarkus somehow.  Try adding a package declaration to your source and see if that resolves your issues.  I'll dig in to the why on this end.

[2022-03-02 16:38] gsmet commented on #23838
2.7.3.Final has been released and you can now configure the behavior with:
[code]

[2022-03-02 16:49] alex-damico commented on #23908
IntelliJ by default uses iso-8859-1 encoding. Here's the problem.

Thanks for the support

[2022-03-02 17:11] evanchooly commented on #23727
the bytecode looks exactly same except for the package related changes, of course.  perhaps is a jvm/classloading wrinkle?  @dmlloyd ?

[2022-03-02 17:13] chonton commented on #23952
Closed by lazy consensus.

[2022-03-02 17:13] #23952 closed

[2022-03-02 17:35] fwgreen commented on #23727
Putting the models in a package does resolve the problem.

[2022-03-02 18:21] dmlloyd commented on #23727
I think whatever is generating the code is simply generating an invalid signature, or rather one not accepted by the JVM class verifier. The signature is a piece of data used to establish the generic type of the class (as opposed to the descriptor, which is used to unambiguously identify a class or member). The relevant info can be found in [§4.7.9 of the JVM specification version 17](https://docs

[2022-03-02 18:51] eijckron commented on #12287
We are also using the hibernate multi tenant setup and some support for this in the liquibase module would be helpful.
The needed functionality would be:
* Have some list of required schemas
* Create each schema if it does not yet exist
* Run a schema specific master change file. Reuse can be arranged through inclusion here.

With some directions on a preferred implementation I can try to help out

[2022-03-02 19:27] smil2k commented on #23888
Leaving out the @Observes annotation on the overriding method (BatchedDBReadModel) seems to solve the duplication.

[2022-03-02 21:12] radcortez commented on #23805
I don't get the warning message with `2.7.2.Final`. I believe this was fixed by some of the Context work we did.

Please reopen if the issue persists.

[2022-03-02 21:12] #23805 closed

[2022-03-02 22:43] manovotn commented on #23888
Yes, that corresponds to what we wrote earlier.
I might have some time tomorrow to tinker with how Arc does event delivery in these cases with inheritance, but the chances I will spot this race condition you are seeing are low. But you never know :)

[2022-03-02 22:47] machi1990 commented on #24056
@pmlopes would be able to help here. The reactive client delegates calls to the vertx mutiny API and I feel like this is not only the issue with the quarkus reactive client but a general one.

[2022-03-02 22:58] jimbogithub commented on #23997
Looks like this one has been addressed by #23949 / #23996.

[2022-03-02 23:39] radcortez commented on #23908
I've tried with the IntelliJ browser and it worked fine (I'm on MacOS). Which OS / IntelliJ version are you using?

Anyway, the meta tag for the webpage is set to`UTF-8`, so I'm not sure what is causing the issue.

[2022-03-03 00:07] evanchooly commented on #23727
ah ha!  i think i've found the errant entry (I was looking at the wrong/pretransformation .class files):

[code]

Others have the appropriate `LLicensedPracticalNurse$Companion;` formulation.  It only appears to affect the local vars section which limits the area to investigate at least.

[2022-03-03 01:45] jimbogithub commented on #23655
Nice work.  2.7.3 is now showing a little over half the files open that even 2.5.1 had.  Thanks.

[2022-03-03 01:45] #23655 closed

[2022-03-03 02:49] liuzhaozhao opened #24067 "use "hibernate reactive with panache" in kafkaConsumerRebalanceListener throw javax.enterprise.context.ContextNotActiveException"
### Describe the bug

My kafka consume offset is stored in the database, every time to start, need in KafkaConsumerRebalanceListener query the database, and set up the consume offset, But each time performs a database query in KafkaConsumerRebalanceListener throw "javax.enterprise.context.ContextNotActiveException"

[code]

[code]

[code]

### Expected behavior

Query the Kafka consume offset stor

[2022-03-03 05:41] synox commented on #9386
is this a good first issue? Is there guidance how this should be implemented?

[2022-03-03 06:05] #24042 closed

[2022-03-03 06:28] smil2k commented on #23888
I think it is probably wrong to duplicate the annotation together with inheritance. Maybe an error in the annotation processor would help to eliminate it in the first place.

Maybe some lines of warning in the doc.

[2022-03-03 06:47] cescoffier commented on #24067
Because of Kafka execution model, you cannot use hibernate reactive from a rebalance listener. Rebalance listeners are not executed on an event loop but from the kafka polling thread. It's mandatory as these listeners must be blocking (to follow the rebalance protocol).

[2022-03-03 06:47] aloubyansky commented on #23655
Great! Thanks for checking @jimbogithub

[2022-03-03 06:48] cescoffier commented on #24067
A workaround is to send a message on the event bus, do the recycling  in the event consumer (called on an event loop) and in the rebalance listener 'blocking' wait for a reply.

[2022-03-03 07:13] liuzhaozhao commented on #24067
Thanks for your reply, I will try it

[2022-03-03 08:08] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1926223036

[2022-03-03 08:15] liuzhaozhao commented on #24067
I found no examples of reactive access to data in kafkaRebalanceListener in the documentation:
https://quarkus.io/guides/kafka#consumer-rebalance-listener
https://smallrye.io/smallrye-reactive-messaging/3.14.1/kafka/consumer-rebalance-listener/

I have written a code that can be used according to the way you said, but it is not simple enough. Can The Quarkus team recommend the usage?

[code]

[cod

[2022-03-03 08:16] knutwannheden opened #24069 "OIDC: New tenant specific service to map a `TokenCredential` to a `SecurityIdentity`"
### Description

With #24051 an attempt was made to allow the `OidcIdentityProvider` to be used to parse an access token and map it to a `SecurityIdentity`. However, the `OidcIdentityProvider` implements multi-tenancy and to determine the applicable tenant it needs the Vert.x `RoutingContext` (cf. `DefaultTenantConfigResolver#resolveContext()`), which thus won't work when there is no request (e.g.

[2022-03-03 08:31] jmgtan commented on #14904
I've been getting the same `Random/SplittableRandom` error. I'm currently following the Quarkus Lambda guide (https://quarkus.io/guides/amazon-lambda) using the Quarkus 2.7.3.Final with GraalVM 21.3.1. I'm using the DynamoDB client from Java SDK v2.

[2022-03-03 08:43] glefloch commented on #24044
@aloubyansky do you have any idea of what could go wrong?

[2022-03-03 08:46] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1926240108

[2022-03-03 10:55] knuspertante commented on #23716
@jerboaa thanks for having a look at this issue!

I already use this dependency. See: [pom.xml](https://github.com/knuspertante/quarkus-issue-23716/blob/5078386af95dd24a30715ab46788553c0cc56239/example-service/pom.xml#L54)

I also exclude the the dynamodb-sdk. See: [pom.xml](https://github.com/knuspertante/quarkus-issue-23716/blob/5078386af95dd24a30715ab46788553c0cc56239/example-service/pom.xml#L6

[2022-03-03 11:29] carlesarnal commented on #18683
@gsmet Actually, the extension I was proposing was to generate the server-side part, not the client. I think the one you're pointing can be used to generate rest clients, no?

[2022-03-03 11:30] stephan-strate opened #24074 "Kotlin Hibernate Panache repository methods are listed as untested in JaCoCo code coverage report"
### Describe the bug

The JaCoCo code coverage report takes generated/injected methods (eg. `find`, `list`, `delete`) into account using the repository pattern with panache and kotlin. This drags down the the overall coverage.

### Expected behavior

Methods, injected by panache should not be taken into account in the code coverage report.

### Actual behavior

_No response_

### How to Reproduce?

[2022-03-03 11:32] gsmet commented on #18683
Ah you're right, I missed this extension was only about clients. The name is not ideal then :/

[2022-03-03 11:51] jmpargana commented on #23920
Thank you very much for taking the time and for the explanation. We'll look into morphia as an alternative for panache

[2022-03-03 11:51] #23920 closed

[2022-03-03 12:04] lamemind-ud opened #24075 "Spring JpaRepository doesn't seems to work with ORM named persistence units"
### Describe the bug

I have set up two persistence units in application.properties (`frontend` and `core`)
I have mapped packages using the property `quarkus.hibernate-orm."<name>".packages` accordingly.
Then I want to use my entities through `JpaRepository` (quarkus-spring-data-jpa)

Then I get the following generic exception _"The default datasource has not been properly configured."_

### Expe

[2022-03-03 12:23] manovotn commented on #23888
It is not wrong. CDI allows you to do that and the behavior should be subject to inheritance rules defined in CDI. This way you can override the logic of the method in each subclass while keeping it as an observer. However, the behavior you spotted is definitely weird.

[2022-03-03 13:06] famod commented on #19970
@MarcusBiel 2.7.3 should have fixed this (I haven't checked yet).

[2022-03-03 13:09] gastaldi commented on #19970
I can confirm this is fixed in 2.7.3.Final

[2022-03-03 13:29] cescoffier commented on #24067
in your `onPartitionAssigned` do something like:

[code]

In the same bean or another one (up to you) do something like:

[code]

[2022-03-03 13:48] stefanwendelmann opened #24078 "oidc-client configuration exception Environment"
### Describe the bug

Environment Variable wont work properly.

[code]

### Expected behavior

Same behavior in `.env` and in `application.properties`

### Actual behavior

[code]

### How to Reproduce?

part pom.xml

[code]

application.properties
[code]

.env
[code]

### Output of `uname -a` or `ver`

Windows 10

### Output of `java -version`

openjdk version "11.0.13" 2021-10-19 LTS OpenJDK Run

[2022-03-03 13:50] edeandrea commented on #23612
I just merged in changes for `2.7.3.Final` (quarkusio/quarkus-super-heroes#35), so this should go back to green tomorrow.

[2022-03-03 13:50] geoand commented on #24074
It doesn't look like we can do much about this...

The reason this happens is because the Kotlin compiler copies the methods of `PanacheRepositoryBase` into the implementation (I assume because those methods have default implementations). I even tried the various options mentioned [here](https://blog.jetbrains.com/kotlin/2020/07/kotlin-1-4-m3-generating-default-methods-in-interfaces/) but nothing

[2022-03-03 13:50] #24074 closed

[2022-03-03 13:52] sberyozkin commented on #24078
I think @radcortez explained how to deal with it at #23963, have a look please

[2022-03-03 13:56] dmlloyd commented on #9386
I think it could be a good first issue; I don't think it should be too complicated since file handling is essentially similar to console handling. It should be just a question of replicating the relevant config and config processing elements.

[2022-03-03 14:16] #10855 closed

[2022-03-03 14:18] marcuspaulo commented on #10855
Thank you very much.
@FroMage @MartinX3, @geoand and @sberyozkin, and Quarkus contributed team.

[2022-03-03 14:32] stefanwendelmann commented on #24078
also the problem is that i dont use `.env` in the production and staging environment, there i use the UNIX Environment Variables.

[2022-03-03 14:34] stefanwendelmann commented on #24078
so making a own Property and map it into the application.properties shold work i try it out in a while

[2022-03-03 14:52] Sanne commented on #24075
@geoand you mean for a given class or for an entity instance?

For a class you can't: the same entity can be reused in multiple PUs.
For a managed instance of an open session, you should be able to extract the references from it as while it's managed there's a reference to the owning Session.

[2022-03-03 15:03] sberyozkin commented on #24078
@stefanwendelmann

How are they overlapping ? The only common root is `quarkus`. But also, it works without the `env` properties, so may be something else is going on

[2022-03-03 15:47] MarcusBiel commented on #19970
Can't confirm since 2.7.3 doesn't work for me:
Build failure: Build failed due to errors
        [error]: Build step io.quarkiverse.logging.logback.deployment.LoggingLogbackProcessor#init threw an exception: java.lang.NoClassDefFoundError: io/quarkus/bootstrap/resolver/update/DefaultArtifactVersion
        at io.quarkiverse.logging.logback.deployment.LoggingLogbackProcessor.doVersionCheck(LoggingL

[2022-03-03 15:49] stefanwendelmann commented on #24078
The first part ist overlapping, maybe this is the problem but idk.

`QUARKUS_OIDC_CLIENT_AUTH_SERVER_URL` < oidc-client
`QUARKUS_OIDC_CLIENT_ID` < oidc

Maybe like you say something else is going on ^^

[2022-03-03 15:56] stefanwendelmann commented on #24078
Having the same OIDC Server for the `oidc` and `oidc-client` results me now in having:

[code]

wich is working fine.

[2022-03-03 16:15] stefanwendelmann commented on #24078
No jut a thought, that it can indiffer, the `How To Reproduce` is still valid

[2022-03-03 16:23] gastaldi commented on #19970
Better open an issue in the respective quarkiverse extension with a small reproducer

[2022-03-03 16:35] michalszynkiewicz commented on #24054
How do I run this mockoon?

I created a test like this in the project and I see the accept header is printed
[code]

[2022-03-03 17:58] sandersteenhoudt opened #24085 "quarkus-smallrye-openapi generation uses fields and ignores annotated methods"
### Describe the bug

I have the response body of my resources defined as interfaces, because I'm using the [Immutables library](https://immutables.github.io) to generate the implementation. I added Jackson's `@JsonProperty` annotations to the methods, but the resulting openAPI shows an empty schema.

I've been scratching my head for a few hours now and I can't find much about it online, but I'm p

[2022-03-03 18:16] tsegismont commented on #23846
@gsmet there is a fix in Vert.x 4.2 branch https://github.com/eclipse-vertx/vertx-sql-client/commit/a7edd75d3161d745ff8bdfce129816782b9aa01d

After Quarkus has upgraded to Vert.x 4.2.6, we can test again and, if it goes well, close this issue.

[2022-03-03 18:32] MikeEdgar commented on #24085
@sandersteenhoudt - can you confirm if it works if you name your interface methods with a `get` prefix?

[code]

[2022-03-03 18:45] lamemind-ud commented on #24075
For what I can understand (please correct me if I'm wrong), it seems Spring Jpa Repositories within Quarkus are not suited to run on multiple persistence units (nor named PUs)

- I cannot annotate a repository with `@PersistenceUnit("..")`
- So a repository can't know to which PU pinpoint
- So, actually, JpaRepository only work on default PU
- Only PanacheRepository can work on a specific PU

Am I

[2022-03-03 19:29] Sanne commented on #24075
@lamemind-ud an `EntityManager` is often as convenient as a repository - at least that's what we do in most large projects, often with ad-hoc custom helpers.
Generated helpers like the "Jpa Repository" in Spring and PanacheRepository are additional conveniences for simple projects and fast developing prototypes.

Perhaps you should use just `EntityManager` ?

[2022-03-03 20:00] aloubyansky commented on #24044
@stuartwdouglas or perhaps @geoand could you comment whether that's a bug?

[2022-03-03 20:10] lamemind-ud commented on #24075
Thanks for your reply @Sanne

Yes I'm working on a large project, and I was trying to avoid _ad-hoc custom helpers_, as they require much effort, tests, and so on. Repositories are much more solid and I love them.

I'm in the long way to migrate from `old monolithic plain old java` to `microservices`. I'm still new with CDI, IoC, Spring, etc... but I wanted to give Quarkus a huge chance and get in

[2022-03-03 20:52] kevinMuniz commented on #10561
Hello, can you tell me what was the solution you gave to this problem?

[2022-03-03 21:53] famod commented on #24075
TBH, I fail to see why spring repos wouldn't be suitable for more complex, non-prototype apps?

[2022-03-03 23:25] famod commented on #19970
Me too now.

[2022-03-04 00:57] jefrog1844 commented on #10855
Yes, thank you very much.

[2022-03-04 00:58] stuartwdouglas commented on #13584
As a workaround you can use a `ServletContainerInitializer` to set the session config programatically.

[2022-03-04 01:03] stuartwdouglas commented on #13584
Also this was fixed in 1.11 in f89e05920d2586c42ce8f556e3752a8d9b4cb923 , if you still have problems this is a different issue.

[2022-03-04 04:24] johnnorton opened #24088 "Live Reload is Failing"
### Describe the bug

While running the application (quarkus dev) and I make a change to the application, life reload kicks off but fails with the following exception.  The HTTP request just hangs.

[code]

### Expected behavior

Reload the application and handle the request

### Actual behavior

The application hangs.  The HTTP request that started the reload just hangs.

### How to Reproduce?

H

[2022-03-04 05:57] geoand commented on #24044
No idea personally

[2022-03-04 06:38] geoand commented on #24088
Can you please share a sample application where the live reload does not work?

Thanks

[2022-03-04 07:56] galderz commented on #14904
@jmgtan Maybe you could improve the amazon-lambda guide? OSS FTW

[2022-03-04 08:05] rsvoboda opened #24090 "Qute - localization - multi-module project - need for duplicated resources/messages and beans.xml"
### Describe the bug

Qute - localization - multi-module project - need for duplicated resources/messages and beans.xml

I have created https://github.com/rsvoboda/rsvoboda-playground/tree/master/qute-multimodule, api module contains all the necessary code and files, test module uses api module and focuses on testing.

`qute-api` and `qute-test` modules have the identical LocalizedMessagesTest. qu

[2022-03-04 08:22] sandersteenhoudt commented on #24085
@MikeEdgar - Oh wow, yeah, that works, thanks!
Out of curiosity, is this behaviour documented somewhere? I'm not really sure where I should have looked...
Also, I don't imagine there is a way to accomplish my expected behaviour (i.e. with what IntelliJ calls "record style", so without the `get` prefix), right?

[2022-03-04 08:34] LarsBrenker opened #24091 "Many CVEs related to postgres in the reactive client"
### Describe the bug

We would like to run a project with Quarkus Reactive against a Postgres database and have integrated the OWASP Dependency Check.

This reports a lot of CVEs related to Postgres.

If I see that correctly, this comes from the quarkus-reactive-pg-client, which in turn brings the smallrye-mutiny-vertx-pg-client.

In this context, 36 CVEs related to Postgres are reported to us. An

[2022-03-04 08:38] herasimau commented on #24054
Hi @michalszynkiewicz,

Thanks for your response,
i have simplified  by including LocalOctetResource instead of mockoon, so to replicate the issue:

1. git pull
2. start quarkus
3. Execute curl that will fail
[code]
4. Execute curl that will work
[code]

[2022-03-04 08:47] gsmet commented on #24091
It's a false positive. Please have a better look at the reports before reporting things like that.

OWASP is somehow considering they are the JDBC PostgreSQL driver in old versions and some www sql thing I don't know, which is not the case.

The pattern matching on the artifact names for this thing is dodgy at best and you need to be extra careful with what it reports.

[2022-03-04 08:47] #24091 closed

[2022-03-04 08:51] LarsBrenker commented on #24091
For me the confirmation that it is false positive was important. Thanks for the feedback.

[2022-03-04 08:53] RuggeroDAlo commented on #23804
With 2.7.3 panache is still failing, but pure hibernate is also failing now on the first message with

[code]

[2022-03-04 09:45] cescoffier commented on #23804
This is expected, kafka does not use safe duplicated context yet. We are working on that.

[2022-03-04 09:53] geoand commented on #23961
The alternative being that the user needs to setup the proper string manually?

[2022-03-04 10:08] michalszynkiewicz commented on #23961
IIUC, curerntly @sraturi is not able to se

[2022-03-04 10:11] michalszynkiewicz commented on #24054
wireshark suggests it's actually headers from the initiating call that get passed, weird, I'll continue looking into it

[2022-03-04 10:25] Sanne commented on #24075
Sorry I didn't mean to say that they shouldn't be used. More that it's very likely in a larger project to need additional custom repositories anyway, which diminishes their relevance.

They still can be used of course, I just find them less so central to the design.

In terms of design pattern - what many fail to grasp is that the EntityManager *is* the repository.
It's a bit of a generic one, so

[2022-03-04 10:40] isnowly opened #24098 "FindOptions support in mongodb-panache extension"
### Description

Hi,
The `find()` family of methods in `ReactivePanacheMongoRepositoryBase` does not provide the `FindOptions` parameter. It only has the `Sort` option.

[code]

I think is it possible to add a method like this:
[code]

Thanks.

### Implementation ideas

_No response_

[2022-03-04 10:44] lamemind-ud commented on #24075
Thanks @Sanne for advice.

At the end of this, I'd suggest to document clearly that `Spring repositories only work with <default> datasource`.

Regards

[2022-03-04 10:47] michalszynkiewicz commented on #24054
the PR linked above should fix it.
With it, if you change `getHeaders` in your factory to sth like this it will work as you expect:
[code]

[2022-03-04 10:47] geoand commented on #24075
Makes sense. Would you like to contribute that?

[2022-03-04 10:49] geoand commented on #23961
Yeah, I'm not so sure doing this on the client is correct way to go...

[2022-03-04 10:54] lamemind-ud commented on #24075
Yes @geoand , I will gladly do that.

[2022-03-04 11:08] galderz commented on #23807
Hmmmm, I'm no expert in this area, but I wonder if `quarkus.profile=NONE-CI` should be passed at build time for this to work? I'm unsure how this would be done.

@gsmet @geoand This is not really about Mandrel, but about Quarkus resolution of configuration property names. When/where do those happen?

[2022-03-04 11:08] floflorentin commented on #24030
Hello, I've edited the duration between each batch to 10ms instead of 1000ms in the reproducer.
The error appears more quickly.

[2022-03-04 11:10] MikeEdgar commented on #24085
@sandersteenhoudt supporting it seems reasonable, at least for methods that have this type of annotation. Would you mind opening up an issue in https://github.com/smallrye/smallrye-open-api to support it?

[2022-03-04 11:11] geoand commented on #23807
Shouldn't be necessary.

It's complicated, but this should work.

[2022-03-04 11:12] zailushangde opened #24100 "NullPointerException in io.quarkus.jackson.runtime.ObjectMapperProducer_ProducerMethod_objectMapper"
### Describe the bug

We have a function to transform a string to JsonNode, which is done using the default object mapper, without any customization.

Here is what the class signature looks like

[code]

However, **sometimes** it throws an NPE, and here are the frames

[code]

### Expected behavior

_No response_

### Actual behavior

Sometimes a null pointer exception is thrown, which does not oc

[2022-03-04 11:12] geoand commented on #23807
@pbezpalko any chance you could put together a sample application that exhibits the problematic behavior?

[2022-03-04 11:14] herasimau commented on #24054
Hi @michalszynkiewicz , i have updated example project with your suggestion,
but unfortunately it still fails, to replicate just make `git pull` and retry the curl's, thanks!

[2022-03-04 11:14] geoand commented on #24100
We'll need a sample application that exhibits the problematic behavior in order to investigate.

[2022-03-04 11:17] zailushangde commented on #24100
it is hard to reproduce it though

[2022-03-04 11:18] geoand commented on #24100
Yeah I understand.

However just looking at the logs, it's impossible to even guess about what might be the root cause of the problem.

[2022-03-04 11:20] sandersteenhoudt commented on #24085
@MikeEdgar Done. Thanks for the quick response and the help! I assume this issue can be closed now.

[2022-03-04 11:20] #24085 closed

[2022-03-04 11:54] loicmathieu commented on #24098
There is already a lot of overload on the find() method, but what we can do is to allow adding the find option inside the resulting ReactivePanacheQuery so one may call find("<query>").withOptions(FindOptions).

This is similar to the approach we took on Hibernate ORM with Panache to allow adding locks and hints to a panache query.

[2022-03-04 13:19] michalszynkiewicz commented on #24054
I'll change the signature of the method in this PR, sorry for the inconvenience. It will also get the headers that come from `@HeaderParam`, etc as a parameter.

[2022-03-04 13:25] feichtegger opened #24101 "Implementation of BeanManager#getELResolver()"
### Description

Is there a reason why `BeanManager#getELResolver()` has not been implemented yet?

It would be great if the `BeanManager` would return an instance of `ELResolver` instead of throwing an `UnsupportedOperationException`.

### Implementation ideas

_No response_

[2022-03-04 13:39] Plawn opened #24102 "Query hangs on invalid URI"
### Describe the bug

While developping an app, I ended up forgetting about URI encoding the data and sent this:

http://server:8081/query?q=g\\+\\+&dataOnly=true

In the back end I saw this exception:
[code]
but in the front end I ended up having a timeout without any error

### Expected behavior

The server doesn't hang and we have an error

### Actual behavior

The server hangs until the client

[2022-03-04 13:44] aomsweet commented on #24098
@loicmathieu  Thank you for your reply.
I see. At first, I just wanted to set the `Limit` parameter in FindOptions. You reminded me that the `page()` method in `ReactivePanacheQuery` can achieve the same effect.

Thanks.

[2022-03-04 13:58] geoand commented on #24102
Is this still the case with Quarkus `2.7.3.Final`?

[2022-03-04 14:32] smrtyvz opened #24105 "Quartz configuration misfireThreshold in application.properties file"
Not able to conifugrate misfireThreshold value in Quarkus

I am migrating a throntail project to quarkus. Basicly, quartz provide a property such "org.quartz.jobStore.misfireThreshold" (60000ms set as default). I wanted to change this value but couldn't achieved.

When I checked on documentation officialy quarkus is released, I couldn't find any method to change this.
Also core class QuartzBuildTi

[2022-03-04 14:33] Plawn commented on #24102
hello, I just tried it with 2.7.3.Final, here is the stacktrace

[code]

[2022-03-04 14:41] geoand commented on #24102
I seems like this has already been fixed on `main` (I checked).
@radcortez I wonder if it makes sense to have a `2.7` specific fix

[2022-03-04 14:43] fstarred commented on #8210
I had the same error when testing with a Main application that involves parallel().stream().
If I remove parallel(), then test does its work without exceptions.
PS Launching the main from quarkus:dev() return me no error

[2022-03-04 15:05] edeandrea commented on #23528
Hi @FengHuangDong I'm not sure [your comment](https://github.com/quarkusio/quarkus/issues/23528#issuecomment-1056534773) has anything to do with the issue being discussed in this ticket? It might get more visibility if you [start a discussion thread](https://github.com/quarkusio/quarkus/discussions) about it?

[2022-03-04 15:35] #24054 closed

[2022-03-04 15:38] manovotn commented on #24101
Because Quarkus/Arc doesn't implement EL.
Beans can and do have names (via `@Named`) and you can resolve them based on their names using `BeanManager.getBeans(String name)`.

I *think* there is something done for Qute that might resemble what you need, but it won't be standard EL. @mkouba might know more.

[2022-03-04 15:40] machi1990 commented on #24105
@VanillaSpoon if you'll be on lookout for new issue after https://github.com/quarkusio/quarkus/pull/24060, this might be a good one too. Let me know if you'll be interested

[2022-03-04 15:53] VanillaSpoon commented on #24105
Yea, count me in @machi1990. Thanks :)

[2022-03-04 16:20] johnnorton commented on #24088
Steps to Reproduce:

1.  Start Application `quarkus dev`
2. Make http request `http://localhost:8080/hello`
3. Change Code
4. Make another request to `http://localhost:8080/hello` to trigger Restart.  You will see the exception.  HTTP Request hangs.

[reactive-error.zip](https://github.com/quarkusio/quarkus/files/8187242/reactive-error.zip)

[2022-03-04 16:43] radcortez commented on #24102
It would need to be something specific because we did huge changes to that code.

We can certainly provide a fix for `2.7`.

[2022-03-04 16:54] fstarred commented on #9273
I had the same issue on a quarkus main application that involved some tasks using parallel().stream().
If I remove the parallel() operation, it works

[2022-03-04 18:22] ertanden opened #24110 "Spring-DI extension not available for >= 2.7.2.Final"
### Describe the bug

spring-di extension seems to be wrongly uploaded to gradle repo since 2.7.2.Final

https://repo.gradle.org/artifactory/jcenter/io/quarkus/quarkus-spring-di/2.7.3.Final/quarkus-spring-di-2.7.3.Final.jar

It says

{
  "errors": [
    {
      "status": 404,
      "message": "No space left on device"
    }
  ]
}

### Expected behavior

spring-di extension available as dependency

[2022-03-04 18:23] #23727 closed

[2022-03-04 18:28] gsmet commented on #24110
Given the error message, it looks like an infrastructure problem.

We publish to Maven Central, the rest is not in our hands.

[2022-03-04 18:28] #24110 closed

[2022-03-04 19:01] ltsallas commented on #11861
Other than the shared database, different schema multitenancy, there can be a shared database/shared schema approach with Postgres Row Level Security and a session parameter as discussed in the "Alternative approach" section in this [article](https://aws.amazon.com/blogs/database/multi-tenant-data-isolation-with-postgresql-row-level-security/)

I [made a question on stackoverflow](https://stackove

[2022-03-04 19:46] edeandrea commented on #24008
+1 to this as well as this affects the superheroes sample app (https://github.com/quarkusio/quarkus-super-heroes). That app is using Quarkus version 2.7.3.Final.

[2022-03-04 19:47] edeandrea commented on #24008
/cc @cescoffier @carlesarnal

[2022-03-04 20:10] #13584 closed

[2022-03-04 20:15] gsmet commented on #13584
@autumnfound if something is not working for you, please open a new issue with a reproducer. Thanks!

[2022-03-04 23:02] maxandersen commented on #22030
@sberyozkin won't call to UserInfo require a call back to github ? that seems wasteful. Github isn't like a small irrelevant service - why not add some relevant user info into that fake generated id anyhow and avoid users to do custom stuff just for github ?

[2022-03-05 00:57] ricardovm commented on #23804
In 2.6.2 is working fine. 2.7.x doesn't work

[2022-03-05 06:11] luca-bassoricci opened #24120 "Dependency order in pom.xml - NPE during headers writing"
### Describe the bug

Declaring `dependencies` in this order
[code]
will make this code
[code]
to fail with this stacktrace
[code]

### Expected behavior

Everything should works fine regardless dependencies order

### Actual behavior

[code]

### How to Reproduce?

Link to reproducer: https://github.com/luca-bassoricci/dependency-order-problem
`mvn test` to run test

### Output of `uname -a` or `

[2022-03-05 06:52] magick93 opened #24121 "Graphql - context.unwrap(DataFetchingEnvironment.class) is always null"
### Describe the bug

I'm trying to use `context` as described on https://quarkus.io/guides/smallrye-graphql:

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Reproducer

1. Add `quarkus.smallrye-graphql.events.enabled=true` to properties file
2. Ensure smallrey-graphql extension is added.
3. Add the following to a class with the `@GraphQLApi` annot

[2022-03-05 07:00] phillip-kruger commented on #24121
@magick93 thanks, can you share a reproducer? Thanks

[2022-03-05 09:31] magick93 commented on #24121
Hi @phillip-kruger - please see https://github.com/magick93/quarkus-smallrye-graphql-24121/tree/master

[2022-03-05 09:36] phillip-kruger commented on #24121
You have to use context inside a method. You are trying to use it as a class var
 The context is for a certain request, so use it somewhere in the flow of that request

[2022-03-05 09:38] magick93 commented on #24121
Yes, I tried using in in both - in a method - in the `addMyOwnEnum` and as
a class var.

In both cases I had the same result.

On Sat, 5 Mar 2022 at 09:36, Phillip Krüger ***@***.***>
wrote:

[2022-03-05 09:58] phillip-kruger commented on #24121
The addmyown method is not part of the request flow. The context hold information about the request. So any method that is a query or mutation, or any method called by those further downstream, you can use context.

Addmyown is called on schema creation on startup, only once, due to the obeserver

[2022-03-05 10:02] liuzhaozhao commented on #24067
If EventBus needs to return a list, will be thrown java.lang.ClassNotFoundException: java.util.List<cn.xxx.MqInfo>
[code]

[code]

[2022-03-05 10:17] alinayebi9080 opened #24123 "read host and port config from vault"
### Describe the bug

i'm using quarkus 2.7.1 and when use below config to load host and port config from vault, get error
quarkus.http.port=${http.port}
quarkus.http.host=${http.host}

But when i use space in the end of variable problem is fix
quarkus.http.port=${http.port: }
quarkus.http.host=${http.host: }

what's your idea?

### Expected behavior

_No response_

### Actual behavior

_No respon

[2022-03-05 10:42] mschorsch commented on #23780
@glefloch Is there any progress on this issue?

[2022-03-05 16:30] liuzhaozhao commented on #24067
Another issue I found was that EventBus could not be used in the onPartitionsRevoked event triggered when the application was shutdown, an exception was thrown: (NO_HANDLERS,-1) No handlers for address kafka-rebalance-revoked
[code]
[code]

[code]

[2022-03-05 17:26] cescoffier commented on #24067
That error means that no one is listening to that address. As you wait for a response and no one will ever reply, it just reject the message.

[2022-03-05 19:35] magick93 commented on #24121
Thanks Philip

The `addmyown` does not work as expected, too. There is no addition of an
enum to the graphql schema, which is what I thought this method would do.

On Sat, 5 Mar 2022 at 09:58, Phillip Krüger ***@***.***>
wrote:

[2022-03-05 20:44] phillip-kruger commented on #24121
Ok I'll have a look, that feature is under test so should be working. I'll get back to you

[2022-03-05 21:28] cmuramoto opened #24128 "AdditionalJpaOperations doest not work properly with multiple PersistenceUnits"
### Describe the bug

The problem I'm having is kind of similar to #24075, but I'm opening a separate issue because the scenario is a bit different and involves multiple persistent units.

I managed to make SpringRepositories work with multiple PU's by creating a bean to initialize [AbstractJpaOperations::entityToPersistenceUnit](https://github.com/quarkusio/quarkus/blob/2fa974bd2e4d63e0209155f8cb

[2022-03-06 02:32] liuzhaozhao commented on #24067
There are listeners, I actively trigger events through HTTP and they respond eventbus. Just it can't respond  eventbus before the application is shut down, probably because EventBus listens to the service shutdown event and cancels the previously registered listeners in advance.

This is the test code:
[code]

[2022-03-06 02:44] Legion2 commented on #21252
@luneo7 Now I had time to try your workaround and it works, thanks.

[2022-03-06 03:57] hernael opened #24129 "Provide request/reply semantics for Kafka"
### Description

I can't find a quarkus out the box alternative for:

https://docs.spring.io/spring-kafka/reference/html/#replying-template
https://dzone.com/articles/synchronous-kafka-using-spring-request-reply-1

it is possible to create alternatives to implement intuitively request/reply semantics for Kafka?

### Implementation ideas

_No response_

[2022-03-06 05:15] yuhaibohotmail opened #24130 "quarkus.oidc.tls.verification can not work in dev mode"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Microsoft Windows [ 10.0.19043.1110]

### Output of `java -version`

java version "11.0.7" 2020-04-14 LTS Java(TM) SE Runtime Environment 18.9 (build 11.0.7+8-LTS) Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.7+8-LTS,

[2022-03-06 10:47] rahimalizada opened #24131 "MongoDB compression support in native mode"
### Description

It would be nice to be able to use mongodb network compression in native mode.
Currently it can be enabled by setting proper option in mongodb connection string (`mongodb://localhost:27017/?compressors=zlib`)
but in native runtime mode is disabled by throwing an exception `"Unsupported compressor in native mode"`.

### Implementation ideas

_No response_

[2022-03-06 11:55] mklueh opened #24132 "No OASFactoryResolver implementation found! when running native application"
### Describe the bug

Hello,

I'm running into the following error when trying to start my natively compiled application docker container:

[code]

Is there something I'm missing? Should OpenAPI be disabled in production?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `

[2022-03-06 14:05] cescoffier commented on #24067
Ah yes, on shutdown you can access the managed event bus. Everything has already been closed.

[2022-03-06 14:30] geoand commented on #24128
This class is actually an internal class, so not meant to be used by application code.

I'll close this, because as you mentioned the issue is pretty much the same as #24075

[2022-03-06 14:31] #24128 closed

[2022-03-07 04:14] stuartwdouglas commented on #24044
I also have no idea off the top of my head, I would need to dig into it.

[2022-03-07 05:56] ozangunalp commented on #24129
You can set up a similar system using `propagate-record-key` (https://smallrye.io/smallrye-reactive-messaging/3.14.1/kafka/writing-kafka-records/#propagating-record-key) and `propagate-headers` options for an outgoing channel as your reply topic.

You should beware of the partitions of your reply topic as if you want to scale up your request-reply service, your replies may end up in a different in

[2022-03-07 06:55] Sgitario opened #24136 "Kubernetes: Wrongly parsing JVM arguments when using commas"
### Describe the bug

The property `quarkus.kubernetes.jvm-arguments` (or `quarkus.[openshift or s2i ...].jvm-arguments`) is splitting the value by comma. The problem is that some values need to keep the comma characters, for example, using:
[code]

Will result in the following container command:

[code]

Which is wrong. The expected output should be:

[code]

Also, note that if we set the propert

[2022-03-07 06:59] Sgitario commented on #24136
@iocanel @edeandrea @geoand , wdyt about the proposed solution?
I'm aware that we should avoid adding properties as much as possible, but taking into account that the JVM arguments `quarkus.http.host` and `java.util.logging.manager` are added internally and these are not very transparent to users, I think adding a new property `quarkus.kubernetes.jvm-additional-arguments` as a map, it will be usef

[2022-03-07 08:10] mkouba opened #24137 "Qute CDI integration - named dependent bean is destroyed before it's actually used"
The behavior is not standardized anywhere but it would make sense to follow the CDI rules for EL: https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#dependent_context_ee

NOTE: In this context, _"destroyed"_ means that if a `@Dependent` bean has a `@PreDestroy` callback associated then this callback is executed before the bean instance is used e.g. to output a value.

[2022-03-07 08:10] mkouba commented on #24101
Indeed, we don't implement the EL resolver deliberately because there's no standard use case for EL in quarkus (no JSP, no JSF, etc.). However, it should be fairly easy to create a custom EL resolver to cover most of the basic requirements.

The Qute integration with `@Named` beans is really simple: https://github.com/quarkusio/quarkus/blob/main/extensions/qute/runtime/src/main/java/io/quarkus/qut

[2022-03-07 08:12] loicmathieu commented on #24131
/cc @cescoffier

[2022-03-07 09:07] raoua-eng commented on #23838
Great :) thank you for your support

[2022-03-07 09:34] galderz commented on #23748
@geoand Hmmm, shouldn't really the way be to address it in jboss threads library and release a new version?

[2022-03-07 09:34] aomsweet commented on #24098
@loicmathieu Hi,
 I think it is necessary to increase the `FindOptions` parameter. I can't set `batchSize`.

Thanks.

[2022-03-07 09:43] galderz commented on #23748
Actually, there's a [PR to change this](https://github.com/jbossas/jboss-threads/pull/102). JBoss Threads is the only one who still does this. It should follow suit as every other library has done and stop doing this.

[2022-03-07 09:44] geoand commented on #23748
You have my vote...

[2022-03-07 10:01] aomsweet opened #24140 "Reactive Hibernate batch inserts (and updates)"
### Description

Hi, Dear Quarkus community

At present, when reactive hibernate call `persist (list)`, I know from the SQL log printed by hibernate that it executes one insert after another. However, hibernate can support `batch` insert. I think this is very important. Such important parameters should not be omitted.
@see https://github.com/hibernate/hibernate-reactive/issues/257, https://github.

[2022-03-07 10:09] sberyozkin commented on #20505
Hi All, please vote for https://github.com/keycloak/keycloak/issues/9539

[2022-03-07 10:25] cjbooms commented on #24100
As we can't reproduce this bug, we have worked around it by catching and retrying any requests that trigger it.

It feels to me like some sort of intermittent non-atomic context refresh is causing the issue. But that's purely based on looking at logs.

I've suggested the team place some additional logging in all exception mappers to try and better track this issue in our production code. We will r

[2022-03-07 10:29] geoand commented on #24100
Thanks for the update

[2022-03-07 10:36] geoand commented on #24088
Thanks for the reproducer.

https://github.com/quarkusio/quarkus/pull/24141/files fixes the issue

[2022-03-07 11:08] pbezpalko commented on #23807
Hi @geoand - yes, I will try to prepare the simplest application demonstrating all the problems found. I hope to be able to do this later this week.

[2022-03-07 11:57] allwinboss commented on #23700
@Sanne : did you check in your local on the boot time response variation  when setting initial size to higher value from 0 to 5 or 10?

[2022-03-07 12:09] cescoffier commented on #24129
As @ozangunalp said, you can implement your own mechanism easily.

We never planned to implement a way to do it more easily as it is very weird from a kafka POV (single partition, single consumer (or with some filters)), single consumer group. Kafka was not really designed for that.

[2022-03-07 12:23] felixosth commented on #23998
Please let me know if I can do anything to help!

[2022-03-07 12:34] cescoffier commented on #24131
zlib requires native libraries if I'm not mistaken. While possible it requires convoluted substitutions and also packages the native lib in the native executable (and unp[ack it on start). We did that work for Kafka (for snappy), so it's possible, but won't be done in a day.

[2022-03-07 12:47] cescoffier commented on #24129
To complete @ozangunalp:

- you probably want to reduce the linger on the provider side to avoid batching messages
- you may want to reduce the batch size and poll timeout on the consume side or you will have to wait for a complete batch (or timeout) to get the response

Do not forget that with all these constraints (single partition, single consumer...), your calls will be linearized.

[2022-03-07 12:49] cescoffier commented on #23804
With some sort of "working". It was actually not working correctly as the session was stored and shared between unrelated processing.

[2022-03-07 12:53] cescoffier commented on #23971
Closing as it's not required anymore.

[2022-03-07 13:05] alex-damico commented on #23908
By default Intellij (version 2021.3.2) uses this encoding

![image](https://user-images.githubusercontent.com/19572455/157039821-a4bc8005-2f40-4233-b9a0-14c8fef41f35.png)

When a special default character is written, the file changes to ```ISO-8859-1```.

Putting in ```UTF-8``` the characters are displayed/handled correctly.

[2022-03-07 13:36] cescoffier commented on #24008
@edeandrea @sombraglez - See https://github.com/quarkusio/quarkus/pull/24142.

@sombraglez thank you for the reproducer!

[2022-03-07 14:20] edeandrea commented on #24136
I like it!

[2022-03-07 14:33] hernael commented on #24129
@cescoffier, @ozangunalp Thank you both for answering me

[2022-03-07 14:56] mkouba commented on #23888
Hm, after some more investigation I found out that although the logic in the generated `_Observer` is wrong it should _still_ work... I'll continue with the investigation.

[2022-03-07 15:13] geoand commented on #24136
Do you mean `quarkus.openshift.arguments`? Asking because I don't see `quarkus.openshift.jvm-arguments` being defined anywhere...

[2022-03-07 15:44] mkouba commented on #23888
My findings were actually correct. There was another problem that it was possible to store a `@Singleton` bean instance in the application context. I'll shortly send a PR with a fix.

[2022-03-07 16:20] lw-mcno commented on #19277
Maybe for some using the Confluent-compatible endpoints of Apicurio registry would be enough. Here's one working configuration:

[code]

[2022-03-07 16:28] lw-mcno opened #24146 "Including quarkus-apicurio-registry-avro pollutes the OpenAPI / Swagger UI with non-working endpoints and data types"
### Describe the bug

Including the quarkus-apicurio-registry-avro dependency (for schema registry dev services), pollutes the service's Swagger UI and OpenAPI with non-working (404) endpoints from the Apicurio registry. This happens both in dev mode and when the service is deployed to a non-dev stage.

### Expected behavior

No Apicurio API definitions should be added to the service's API.

### A

[2022-03-07 16:47] lw-mcno opened #24148 "Avro deserialization fails since 2.5 with Confluent serdes in smallrye-kafka reactive messaging"
### Describe the bug

I've a Kafka Streams service, successfully running with Quarkus 2.4. It connects to Confluent Schema Registry and uses Confluent Avro serializers / deserializers. There is a Maven `parent` module, an `avro` module containing and compiling Avro schemas and a `core` module, where the application resides. Tests additonally use smallrye-kafka Reactive messaging for sending test d

[2022-03-07 18:57] afonsojramos commented on #21273
@FroMage can you better detail what is it that you need? What are the URIs that need to be added?

[2022-03-07 19:13] jerboaa commented on #23964
I don't think we should fix this on the quarkus side. It should be fixed in native-image instead. At least to get to the same state where JDK in FIPS mode is.

[2022-03-07 20:00] #24088 closed

[2022-03-07 21:15] SimonScholz opened #24153 "ReactiveClientHeadersFactory does not work with internal Uni"
### Describe the bug

Hi,

I've already made some comments in the original pull request, which introduced the `ReactiveClientHeadersFactory` https://github.com/quarkusio/quarkus/pull/21807/files and @Sgitario asked me to open a bug for this issue, which also contains a reproducer.

The issue is that the following code for a ReactiveClientHeadersFactory works using the `Uni.createFrom().item()` met

[2022-03-07 21:22] phillip-kruger commented on #24146
I'll have a look. Thanks :)

[2022-03-07 21:28] michalszynkiewicz commented on #24153
@SimonScholz can you try Quarkus from the current main branch? It should be fixed in https://github.com/quarkusio/quarkus/pull/24099
I don't know yet if this will be backported to 2.7

[2022-03-07 21:37] edeandrea commented on #18572
Hey @geoand gentle ping on this...thoughts?

I'm up for trying out a PR for this if you can point me to where I might get started?

[2022-03-07 22:02] SimonScholz commented on #24153
@michalszynkiewicz Thanks for the quick response. Can I get the snapshot version of the main branch from a certain artifact repository?

[2022-03-07 22:43] mazenkhalil opened #24156 "Mutiny worker pool fails when used to resolve OIDC tenant config"
### Describe the bug

TenantConfigResolver#resolve throws IllegalStateException if the returned Uni is run on the default worker thread from Mutiny.
e.g. Uni.createFrom().item(() -> getTenantConfig()).runSubscriptionOn(Infrastructure.getDefaultWorkerPool())

Changing the line above with the executor service from Arc solves the issue (Arc.container().getExecutorService()).

### Expected behavior

I

[2022-03-08 00:44] jimbogithub commented on #23655
@aloubyansky Same problem is occurring when building (mvn clean install).  More mojos impacted?  Raise another issue or re-open this one?

[2022-03-08 01:01] phillip-kruger commented on #21111
@michalszynkiewicz - I still have not committed my branch, trying to get it to a working state. I'll ping you once it's ready

[2022-03-08 01:04] phillip-kruger commented on #21457
Can we close this ?

[2022-03-08 01:06] phillip-kruger commented on #23482
Closing. Please reopen if needed

[2022-03-08 01:06] #23482 closed

[2022-03-08 01:48] phillip-kruger commented on #24121
Hi @magick93 - Everything seems to be working fine. Once you move the unwrap to a method in the request flow, the app starts up and the "addmyown" also works. See:
![working](https://user-images.githubusercontent.com/6836179/157149808-6f8ff887-7509-453e-9ee8-b615958f788d.gif)

[2022-03-08 01:48] #24121 closed

[2022-03-08 03:29] phillip-kruger commented on #24146
As a workaround you can add `quarkus.smallrye-openapi.ignore-static-document=true` in your config. I'll do a PR with a proper fix soon

[2022-03-08 06:37] aloubyansky commented on #23655
`mvn clean install` on the Quarkus repo? From an IDE?

[2022-03-08 06:56] geoand commented on #18572
[This](https://github.com/quarkusio/quarkus/blob/main/extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/JacksonBuildTimeConfig.java) and [this](https://github.com/quarkusio/quarkus/blob/main/extensions/jackson/runtime/src/main/java/io/quarkus/jackson/runtime/ObjectMapperProducer.java) should be a good start.

[2022-03-08 06:57] geoand commented on #24136
Okay, gotcha.

Why do you propose `quarkus.kubernetes.jvm-additional-arguments` be a map?

[2022-03-08 06:58] #23678 closed

[2022-03-08 06:58] michalszynkiewicz commented on #24153
I have never tried it but guessing from Github Actions we have, this can be the repository to use: https://oss.sonatype.org/content/repositories/snapshots

[2022-03-08 06:59] Sgitario commented on #24136
To avoid parsing the value in a comma-separated list.

[2022-03-08 07:00] geoand commented on #24136
I don't agree with using a map as we have not done that anywhere else a list of arguments is needed as part of configuration. We have used lists

[2022-03-08 07:06] Sgitario commented on #24136
I've just seen that we can use a list and at the same time avoid splitting the value by a comma (which is the root of this issue) via:
[code]
So, +1 to not use a map, but a list.

[2022-03-08 07:08] geoand commented on #24136
Well, I guess my point is that users should not have to do that either. They just want to pass list of params (as they would on the command line), the difference being that they likely have to escape the comma.

[2022-03-08 07:11] cescoffier commented on #24156
Hum, something does not come back on the right context. Definitely a bug.

[2022-03-08 07:14] cescoffier commented on #24156
I don't see how using Arc executor can make it work, as it's the same thread pool under the hood.

[2022-03-08 07:15] cescoffier commented on #24156
Could you provide a complete reproducer?

[2022-03-08 07:20] Sgitario commented on #24136
I just tried `quarkus.openshift.jvm-arguments=-agentlib:jdwp=transport=dt_socket\\,server=y\\,suspend=n\\,address=*:5005` and did work, so as you said, we don't need to do anything new here, just to provide a new property to append JVM arguments instead of replacing and document this property.

[2022-03-08 07:26] jimbogithub commented on #23655
On the command line whilst building multiple Quarkus based apps as part of a multi-module build.
In fact, the exact same set of projects as the original issue.
I didn't notice earlier as I didn't hit the open file limit but a colleague had more things already running on his machine and hit the limit.
Running `lsof | grep java > open_files.txt` during the build shows the same symptoms, i.e. multipl

[2022-03-08 07:41] geoand commented on #24136
+1

[2022-03-08 07:52] geoand commented on #24153
Yes, this is built nightly

[2022-03-08 07:53] geoand commented on #24102
I think we should

[2022-03-08 07:53] #24102 closed

[2022-03-08 07:56] grubermi commented on #23836
We just updated the Quarkus-version in our project to 2.7.3.Final, but we are still facing the same behaviour: The container-image is neighter built nor pushed. This also happens, when I build the attached Dummy-project with version 2.7.3.Final.
Am I doing something wrong?
@geoand Could you please take a look at this again?

[2022-03-08 08:02] DeMol-EE commented on #23637
To add my 2 cents, I feel like having the option to include/exclude a bean for only exactly one profile (`@IfBuildProfile`) or only exactly all profiles except one (`@UnlessBuildProfile`) is a little restrictive. Would it be feasible to make `@IfBuildProfile` repeatable so one could enumerate the profiles for which the bean should be included? Or to change the datatype of `value` from string to ar

[2022-03-08 08:07] #24130 closed

[2022-03-08 08:23] geoand commented on #23836
You are absolutely right.

The fix was only done for JVM build, not native 🤦🏼 .

https://github.com/quarkusio/quarkus/pull/24159 fixes the native build as well.

[2022-03-08 08:28] danielbobbert opened #24160 "WorkerInterceptor not invoked for methods returning a Multi"
### Describe the bug

When defining a JAX-RS WriterInterceptor with quarkus-resteasy-reactive, the WriterInterceptor is only invoked for blocking methods and those returning a Uni<?>, but not for methods returning a Multi<?>.

### Expected behavior

The WriterInterceptor should be invoked for all methods, including those returning a Multi<?>

### Actual behavior

WriterInterceptor is only invoked

[2022-03-08 08:29] danielbobbert commented on #24160
Attached is a small sample app that reproduces the issue.
[writer-interceptor-test.zip](https://github.com/quarkusio/quarkus/files/8204090/writer-interceptor-test.zip)

[2022-03-08 08:34] cescoffier commented on #24156
I pushed a workaround in https://github.com/quarkusio/quarkus/pull/24134.

However, I need to know why you are calling the tenant resolver on a worker thread. This breaks the assumption, would only work if you emit the result on the right context.

[2022-03-08 08:46] #24008 closed

[2022-03-08 09:04] #23492 closed

[2022-03-08 09:12] lordofthejars opened #24161 "Quarkus CLI adding extension fails with white space"
### Describe the bug

Quarkus CLI adding extension fails when the extension name has a white space:

[code]

### Expected behavior

It should add the extensions

### Actual behavior

Gets an exception:

[code]

### How to Reproduce?

quarkus create app org.acme:movie-plays-consumer \
    --extension=kafka, jackson \
    --no-code

### Output of `uname -a` or `ver`

_No response_

### Output of `ja

[2022-03-08 09:26] mazenkhalil commented on #24156
I am investigating locally, and here are my findings so far.

The actual issue happens in the SecurityIdentityAugmentor not the TenantConfigResolver as I mentioned earlier. I couldn't detect this because I am using @CacheResult in one of my internal methods.

So basically you can replicate this by returning `Uni.createFrom().item(() -> build()).runSubscriptionOn(Infrastructure.getDefaultWorkerPool

[2022-03-08 09:42] #22035 closed

[2022-03-08 09:42] #23528 closed

[2022-03-08 09:48] aloubyansky commented on #23655
@jimbogithub would you be able to build Quarkus from a custom branch and test it in your builds?

[2022-03-08 09:54] mkouba commented on #23637
I think there are two different problems:
1. Be able to activate multiple profiles during build
2. Be able to activate a bean for multiple profiles

I'm going to talk about (2). `@IfBuildProfile` was originally designed to work with the default profiles (prod, dev, test) where a single value was enough. I agree that if custom profiles are used then a single value is restrictive. We could change th

[2022-03-08 10:10] jimbogithub commented on #23655
Yes I could.

[2022-03-08 10:18] gsmet commented on #24161
Well, either escape the space or use quotes. That's how command line shells work, there's nothing we can do about it.

Both the following commands will work:
[code]
[code]

[2022-03-08 10:18] #24161 closed

[2022-03-08 10:34] fbricon opened #24166 "[Qute] Custom default value is ignored in {config:boolean } rendering"
### Describe the bug

According to https://quarkus.io/guides/qute-reference#config,  when you write `{config:boolean('quarkus.foo.boolean') ?: 'Not Found'}`, I was expecting it displays `Not Found` if `quarkus.foo.boolean` is not defined. But  NOT_FOUND is rendered instead

### Expected behavior

Display the user-defined default value

### Actual behavior

Displays hard-coded NOT_FOUND

### How to

[2022-03-08 10:54] geoand commented on #23637
Yeah, I think this makes most sense.
But what would the semantics be, `OR` or `AND`?

[2022-03-08 11:28] #24120 closed

[2022-03-08 11:30] #24136 closed

[2022-03-08 11:35] mkouba commented on #23637
I think that for now it should be `OR` for `@IfBuildProfile` and `AND` for `@UnlessBuildProfile` because only single build profile can be active?

[2022-03-08 11:38] geoand commented on #23637
Yeah, that sounds most reasonable

[2022-03-08 11:38] radcortez commented on #23637
I think it will depend if we want to official support multi profile.

[2022-03-08 11:47] ebullient commented on #24161
This should also work:
[code]

[2022-03-08 11:50] geoand commented on #24160
Actually, this is something we deliberately have avoided, because returning `Multi` is a very special case.

[2022-03-08 11:50] #24160 closed

[2022-03-08 12:06] mkouba commented on #23637
Yep, the thing is that implementation of (2) should be quite straightforward and without side-effects while (1) might be a little bit trickier.

[2022-03-08 12:39] aloubyansky commented on #23655
@jimbogithub before I ask you to give it a try, do you need `generate-code`/`generate-code-tests` goals in your builds? Are they present in your configs? E.g. do you have the gRPC extension in your apps?
If you don't need them, you could try removing them and see whether it makes a significant difference. If it's troublesome, I'll create a branch with an optimization/cleanup for those goals that y

[2022-03-08 12:45] gsmet commented on #23655
These goals are in the default generated project. So we will need them to work OK.

[2022-03-08 12:47] aloubyansky commented on #23655
Absolutely. It's just before asking @jimbogithub to build the thing and test it I thought we could try to narrow down the issue.

[2022-03-08 13:08] Sgitario commented on #23947
Proposed solution in https://github.com/quarkusio/quarkus/pull/24172

[2022-03-08 13:58] mkouba commented on #24090
You need to add the `beans.xml` or any other marker file in order to make the `qute-api` an application archive. Otherwise the `qute-api` is not part of the app index if you run your app from within `qute-test` module. This behavior is not qute-specific. See also the [Working with multi-module projects](https://quarkus.io/guides/maven-tooling#multi-module-maven) and [Bean Discovery](https://quarku

[2022-03-08 14:03] gsmet opened #24174 "Move all the guides to use RESTEasy Reactive"
- Apply the necessary changes to the extensions added (command, text, dependencies...)
- Apply the necessary changes to the quickstart code (see ongoing PR here: https://github.com/quarkusio/quarkus-quickstarts/pull/971/files)

[2022-03-08 14:09] geoand commented on #24090
Correct

[2022-03-08 14:11] gsmet opened #24175 "Do not add RESTEasy classic by default in generated projects"
We want to move to RESTEasy Reactive by default. It is also a good opportunity to adjust the default behavior.

I think we should change the behavior to:
- do not add RESTEasy Reactive automatically if at least one extension is specified: Quarkus is used for a lot of things now and forcing a REST impl by default when other extensions are specified makes little sense
- add RESTEasy Reactive by defa

[2022-03-08 14:12] gsmet opened #24176 "Adjust code.quarkus.io ordering to get RESTEasy Reactive extensions grouped first"
And the RESTEasy Classic ones, grouped second, and maybe adjusted to be shown as RESTEasy Classic.

[2022-03-08 14:22] geoand commented on #14927
I am wondering if it makes sense to have something like the following:

[code]

The result would be that the test would setup Quarkus bootstrap in a way that completely excludes `io.quarkus:quarkus-flyway` from the build classpath, therefore the resulting application would behave as though that extension never existed.

This could obviously lead to problems depending on what extension was excluded

[2022-03-08 15:15] mkouba commented on #14927
Hm, so any exclusion like this would have to result in an app restart, or? Would it make sense to extend the `QuarkusTestProfile` instead?

[2022-03-08 15:18] geoand commented on #14927
Yes, if different exclusions are needed, a restart will be necessary

[2022-03-08 15:23] johnnorton opened #24181 "Referencing Context APIGatewayV2HTTPEvent in RestEasy Method Throws Exeception"
### Describe the bug

White using RestEasy-Reactive and Lambda HTTP.  Referencing @Context APIGatewayV2HTTPEvent throws IllegalStateException

**Method:**

[code]

**Exception Thrown:**

[code]

This appears to only happen when using `RestEast-Reactive`

### Expected behavior

No exception is thrown and the `@Context APIGatewayV2HTTPEvent` parameter is available for reference.

### Actual behavior

[2022-03-08 15:28] johnnorton commented on #24181
Reproducer Attached

[reactive-error.zip](https://github.com/quarkusio/quarkus/files/8207415/reactive-error.zip)

[2022-03-08 17:00] Felk commented on #6262
I am encountering a similar issue: trying to send the logs to fluentd using [socket logging](https://github.com/quarkusio/quarkus/pull/23128).
The receiving end is not capable of handling multiline log messages, mostly due to fluentd's [`in_tcp` not working with the `multiline` parser](https://github.com/fluent/fluentd/issues/1762).

I cannot use `quarkus-logging-json` since it is not on a per-han

[2022-03-08 17:10] raoua-eng opened #24183 "Context as a method parameter in GraphQLApi class + Java Bean Validation input"
### Describe the bug

I upgraded the quarkus version to **2.7.3.Final** and I'm using Jakarta validation API to validate GraphQL inputs.  For instance, in this example my GraphQL input deal with the _Size_, _Email_, _Past_ and _NotBlank_ annotations:
[code]
When I run a mutation from the GraphQL playground an exception is thrown saying :
[code]
In my mutation method I'm using the io.smallrye.graph

[2022-03-08 17:18] edeandrea opened #24185 "Exceptions thrown in Rest client should be more specific"
### Description

Currently when using the Quarkus rest client (regular & reactive), any response other than a 2xx is thrown as a `javax.ws.rs.WebApplicationException` (in Quarkus using RESTEasy Reactive, the exception is a `org.jboss.resteasy.reactive.ClientWebApplicationException`, which is a subclass of `javax.ws.rs.WebApplicationException`), even though jax-rs exposes more fine-grained exceptio

[2022-03-08 17:27] thejibz commented on #7401
You can use **nextval('hibernate_sequence')** in your import.sql as in:

`INSERT INTO ticket(id, name,seat) VALUES (nextval('hibernate_sequence'), 'Phantom of the Opera','11A')`

It will increment the DB sequence when inserting rows.

Source: http://www.mastertheboss.com/soa-cloud/quarkus/managing-data-persistence-with-quarkus/

[2022-03-08 18:04] jimbogithub commented on #23655
We do have `generate-code`/`generate-code-tests` for the reasons @gsmet points out but we don't use gRPC so if that means we can remove them then I could try that on our main build.

In the meantime I've added two branches to the https://github.com/jimbogithub/sse reproducer from earlier on.  The `with_sleep` branch simply sleeps for 30 seconds (via a test) at the end of the build so that you have

[2022-03-08 18:04] famod commented on #14927
A `QuarkusTestProfile` would also automatically be covered by our TestClassOrderer.
Downside: You need to write more code.

I don't want to overcomplicate this, but a restart is a big price to pay. So I was wondering how "binding" that exclusion should be.
Imagine a larger set of tests, some need more modules than other, but if you run them all it's better (from the runtime perspective) to only bo

[2022-03-08 18:19] michalszynkiewicz commented on #24185
FYI, there is a workaround for this - you can use a custom exception mapper

[2022-03-08 18:20] edeandrea commented on #24185
Is there an example of that somewhere?

[2022-03-08 18:27] jimbogithub commented on #23655
Removed `generate-code`/`generate-code-tests` from our main build.  That appears to resolve the issue.  Running `while true; do lsof | grep java | wc -l && echo "" && sleep 2; done` at the same time as the build showed a background count of about 300 (no build running), peaks of around 2000 when running QuarkusTests, troughs of around 700 while compiling.  No obvious sign of leakage except that th

[2022-03-08 19:11] edeandrea commented on #24185
Are you talking about `ResponseExceptionMapper` (like what's described in #21175)?

I tried doing this:

[code]

and then

[code]

but that doesn't work. I still am getting `org.jboss.resteasy.reactive.ClientWebApplicationException` thrown

[2022-03-08 19:22] #24132 closed

[2022-03-08 19:23] #24146 closed

[2022-03-08 19:38] edeandrea commented on #24185
I think its because in `org.jboss.resteasy.reactive.client.impl.RestClientRequestContext` there is

[code]

Seems I'd have to invent my own `Exception` subclass rather than re-use one of the existing JAX-RS ones, since they all extend from `WebApplicationException`. The resteasy reactive client will always wrap any `WebApplicationException` in a `org.jboss.resteasy.reactive.client.impl.ClientWebAp

[2022-03-08 19:39] lw-mcno commented on #24146
That was fast, thanks :)

[2022-03-08 19:48] manofthepeace commented on #24185
I have the same issue. In our case we duplicated the jax-rs exceptions to our custom ones to make it work. As you stated in your previous update, not something we really wanted to but, we did not really find a better way.

As you pointed, it makes fault tolerance not work properly (I think this will get fixed in quarkus 2.8 though, ft will look into the cause chain). But It also makes the behaviou

[2022-03-08 19:53] edeandrea commented on #24185
@manofthepeace Using a custom exception I was able to combine with `@Fallback(fallbackMethod = "findRandomHeroFallback", applyOn = NotFoundException.class)` which simply returned a `CompletableFuture.completedStage(null);`.

But still, I don't want to invent my own custom exception types, especially when they already exist in the spec.

[2022-03-08 20:06] aloubyansky commented on #23655
https://github.com/quarkusio/quarkus/pull/24173 should help then. Hopefully it'll make it in 2.7.4.Final scheduled to be released tomorrow.
AFAIR, only the gRPC extension relies on the `generate-code` goals. Kogito extensions also had plans for them. Otherwise, they aren't required.

[2022-03-08 20:06] aloubyansky commented on #23655
Thanks a lot for testing @jimbogithub

[2022-03-08 20:08] manofthepeace commented on #24185
In my case I am only using `@Retry(abortOn=NotFoundException.class)` from fault-tolerance, directly in the restClient interface. If I in my ResponseExceptionMapper I return the jax-rs variant of the exception it breaks, otherwise with my custom one it works.

For mutiny using your example using simply;
`Uni<hero> randomHero= this.heroClient.findRandomHero().onFailure(NotFoundException.class).....`

[2022-03-08 20:10] edeandrea commented on #24185
Yes thats correct - I wouldn't be able to use `.onFailure` with the exception class name. Instead of creating my own exception class I'm doing this

[code]

I'd like to be able to use all built-in stuff without inventing my own custom stuff.

[2022-03-08 20:19] manofthepeace commented on #24185
Totally agree with you. I thought somewhat it was by design and did not open a bug for that reason. I believe I saw other bugs on that. About the code above, definitely complex for something so simple..

At some point I did use an outside `Predicate` instead of `Throwable`, since the onFailure can take a predicate as well. So it did look a little cleaner, since the logic was out of the uni somethi

[2022-03-08 20:20] edeandrea commented on #24185
I did that too :)

https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-fights/src/main/java/io/quarkus/sample/superheroes/fight/client/HeroClient.java#L36 & https://github.com/quarkusio/quarkus-super-heroes/blob/main/rest-fights/src/main/java/io/quarkus/sample/superheroes/fight/client/Is404Exception.java

[2022-03-08 20:59] famod commented on #23655
@aloubyansky maybe those mojos should log something as INFO if they are not needed.

[2022-03-08 21:03] aloubyansky commented on #23655
I am not sure about that, tbh.

[2022-03-08 21:50] edeandrea commented on #24185
Thanks for that reference. If I understand it correctly it means that I would still need to implement a `ResponseExceptionMapper` but I could re-use the jax-rs exception types rather than inventing my own? The exception I create in the mapper would still be wrapped, but the FT annotations could find it in the exception hierarchy?

Still not an ideal solution in my opinion, but certainly better tha

[2022-03-08 22:26] edeandrea commented on #24185
Not sure if it helps your use case or not, but I was able to get around using `.onFailure` completely. I haven't checked it in yet but have it locally. If you clone https://github.com/quarkusio/quarkus-super-heroes and then apply this patch: https://gist.github.com/edeandrea/3ce39125cd050c4419757179f15a4c5e

You should see that I've used the custom exception in the rest client (`HeroRestClient`) f

[2022-03-08 22:33] #24166 closed

[2022-03-08 22:40] manofthepeace commented on #24185
I must say I am not too too aware aware of the `@Fallback` since I have not used it. But ultimately it seems to be similar result, since we still need custom exception. Also, in the case the rest-client is not used with the fault-tolerance module at all, then there's no way around having the custom exception so the `.onFailure` works. Behavior is(will be) inconsistent between FT and Mutiny in that

[2022-03-08 23:21] Temdegon opened #24192 "Put AWSRequestId into logger MDC for quarkus-amazon-lambda"
### Description

Currently there is no out-of-the-box way to include AWSRequestId into log records.
There is com.amazonaws:aws-lambda-java-log4j2 library which does that, but it's is not very quarkus-friendly (at least last time I've tried it).
Of course developer could do MDC.put("AWSRequestId", context.getAwsRequestId()) in RequestHandler, but would be nice to have this working without additiona

[2022-03-09 00:42] stuartwdouglas commented on #14927
A big problem with this is how you exclude transient dependencies. e.g. if your application depends on quarkus-resteasy, and you exclude it, do you still get the HTTP server brought in by `vertx-http`. If you exclude `vertx-http` then any of its deps should also be excluded.

I like the idea in theory, but we need to give some thought to how to handle these cases.

[2022-03-09 05:43] geoand commented on #14927
Yeah, my thought was that bootstrap would exclude all the Quarkus dependencies that depended on whatever was excluded.
That could still get us into trouble, but I think it's the most logical way to do it.

[2022-03-09 06:16] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1955457101

[2022-03-09 06:18] geoand commented on #14927
@famod I think that would actually be pretty dangerous behavior. My preference would be that exclusions are taken at face value.

[2022-03-09 06:22] Sgitario commented on #22963
Duplicated by https://github.com/quarkusio/quarkus/issues/24175

[2022-03-09 06:22] #22963 closed

[2022-03-09 06:36] Sgitario commented on #16547
I think this issue is already done and hence can be closed. See https://quarkus.io/guides/deploying-to-openshift#using-deployment-instead-of-deploymentconfig

//cc @iocanel @geoand

[2022-03-09 06:36] cescoffier commented on #24156
Fixed in https://github.com/quarkusio/quarkus/pull/24134.

[2022-03-09 06:36] #24156 closed

[2022-03-09 06:47] geoand commented on #16547
It has yes! Thanks for spotting this old issue

[2022-03-09 06:47] #16547 closed

[2022-03-09 07:01] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1955457101

[2022-03-09 07:22] indiealexh commented on #21111
Thought I was doing something wrong.
Glad to see this issue is in progress.
If I can help let me know.

[2022-03-09 08:41] ia3andy commented on #22981
I've found the problem, I am working on the PR

[2022-03-09 08:43] Ladicek commented on #24185
Personally, I don't consider consistency between `Uni.onFailure` and FT annotations important. They are two different APIs.

[2022-03-09 10:34] geoand commented on #14927
I think having something (experimental) as described above would be a nice addition for `2.8` or `2.9`. If we agree on the basic idea, I can move ahead with an implementation and then we can discuss more when I have something to show.

[2022-03-09 11:00] #23947 closed

[2022-03-09 11:11] michalszynkiewicz commented on #24185
The jax-rs exceptions are intentionally converted to a different exception for security reasons. Specifically, not to leak any info from the response.

I think we should create specific client exceptions for different status code classes.

[2022-03-09 11:14] Sgitario commented on #19845
Added proposed solution here: https://github.com/quarkusio/quarkus/pull/24199

[2022-03-09 11:18] Sgitario commented on #20114
@geoand I've just realized this issue is also fixed as part of https://github.com/quarkusio/quarkus/pull/24172

[2022-03-09 11:20] geoand commented on #20114
Cool

[2022-03-09 11:20] #20114 closed

[2022-03-09 11:51] geoand commented on #23594
Closing as this has since been fixed

[2022-03-09 11:51] #23594 closed

[2022-03-09 11:59] geoand commented on #23483
Indeed `quarkus.http.test-host` only works for `@QuarkusIntegrationTest`.

In the quickstart you mention, `@QuarkusIntegrationTest` is only configured to run when the `native` profile is active, so the command you mention does not run `NativeBearerTokenAuthenticationIT`

[2022-03-09 11:59] #23483 closed

[2022-03-09 12:13] geoand commented on #22211
So can we close this?

[2022-03-09 12:16] mkouba commented on #22211
I'm not sure - the https://github.com/quarkusio/quarkus/pull/22253 does not touch the RESTEasy Reactive/Renarde part...

[2022-03-09 12:17] #24090 closed

[2022-03-09 12:19] geoand commented on #20800
Closing as out of date. Feel free to comment if this is still an issue

[2022-03-09 12:28] geoand commented on #20397
With this merged, is there something we can now do?

[2022-03-09 12:29] geoand commented on #20395
Can you please provide a sample project that reproduces this error?

Thanks

[2022-03-09 12:30] edeandrea commented on #24185
Not that I disagree and maybe I'm missing something obvious, but playing devil's advocate here... How would creating specific client exceptions prevent potentially leaking anything into the response? I don't see any difference in that regard vs re-using the same exception hierarchy that already exists in JAX-RS?

Also, the current exception that does get thrown has info in it that says what the re

[2022-03-09 12:36] geoand commented on #20003
Closing as `won't fix`

[2022-03-09 12:36] #20003 closed

[2022-03-09 12:43] geoand commented on #19727
Closing this as we have `@Retry` support in the reactive rest client

[2022-03-09 12:43] #19727 closed

[2022-03-09 12:47] geoand commented on #19121
Is this still an issue with the latest versions of Quarkus and Kogito?

[2022-03-09 12:51] geoand commented on #18526
@iocanel is this something you plan to work on still?

[2022-03-09 12:54] geoand commented on #18476
This has since been fixed in smallrye-reactive-messaging

[2022-03-09 12:54] #18476 closed

[2022-03-09 12:55] geoand commented on #18447
Closing as out of date

[2022-03-09 12:55] #18447 closed

[2022-03-09 13:09] #17347 closed

[2022-03-09 13:13] geoand commented on #17002
I think something similar was fixed recently, so I'll close this.
If it's not fixed, feel free to reopen.

[2022-03-09 13:13] #17002 closed

[2022-03-09 13:14] geoand commented on #16991
Closing this as our focus in on the `quarkus-rest-client-reactive` (which uses Vert.x under the hood)

[2022-03-09 13:14] #16991 closed

[2022-03-09 13:17] geoand commented on #16894
Closing as we never got adequate information to be able to perform a proper investigation.

Feel free to comment with more up to date and detailed information if this is still an issue

[2022-03-09 13:17] #16894 closed

[2022-03-09 13:21] geoand commented on #16522
cc @michalszynkiewicz

[2022-03-09 13:23] geoand commented on #16350
Is this still an issue?

[2022-03-09 13:24] geoand commented on #16158
An extension already exists for Vaadin, see https://github.com/vaadin/quarkus

[2022-03-09 13:24] #16158 closed

[2022-03-09 13:27] geoand commented on #15742
@bpasson would you be willing to contribute this feature?

[2022-03-09 13:30] geoand commented on #15706
Closing as `out of date`. If it's still an issue, feel free to reopen

[2022-03-09 13:30] #15706 closed

[2022-03-09 13:42] iocanel commented on #18526
I think I am overwhelmed at the moment.

[2022-03-09 13:45] geoand commented on #18526
Completely understood!

[2022-03-09 14:15] kdubb opened #24202 "Document Kotlin coroutine compatibility with extensions"
### Description

While much of Quarkus supports Kotlin coroutines, some core extensions still do not (e.g. SmallRye Fault Tolerance and Cache).

When somebody attempts to use these extensions there is no place to check on it's compatibility with coroutines and is basically left to "try it". Many times the failures are not obviously due to coroutines and can lead the user on a bug hunt only to find

[2022-03-09 14:32] vsevel commented on #20397
In Oct @zakkak was saying:

I see that there is a new `registerIncludingAssociatedClasses` api in [RuntimeSerialization](https://github.com/ziyilin/ziyi-forked-graal/blob/8e401c9af6643f8671cc0a3aaa464a55ff4b2962/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/hosted/RuntimeSerialization.java#L75)

it sounds like there is something to do in quarkus. e.g. using `registerIncludingAssociat

[2022-03-09 14:40] #19860 closed

[2022-03-09 14:42] vsevel commented on #19121
I have not done any testing recently (the POC that was using kogito, which we were doing in Sept/Oct, was considered finished and put on shelf). in the work I am doing now, there is no kogito anymore.
I suppose the issue still exists, unless @mariofusco did something. was there an issue created?

[2022-03-09 14:58] GavinRay97 opened #24204 "NPE when RESTEasy-Reactive and Picocli both in deps"
### Describe the bug

If you have both RESTEasy-Reactive and Picocli in your dependencies, RESTEasy endpoints throws an NPE exception:
- `NullPointerException: Cannot invoke "io.quarkus.arc.ArcContainer.getActiveContext(java.lang.Class)" because the return value of "io.quarkus.arc.Arc.container()" is null`

To reproduce, just create a new application at https://code.quarkus.io that has both RESTEa

[2022-03-09 15:35] edeandrea commented on #18572
I'll throw a draft PR together shortly for your to take a look at

[2022-03-09 15:36] geoand commented on #18572
Cool :)

[2022-03-09 15:37] famod commented on #14927
Well, it shouldn't be the default because some tests might actually fail if an extension is still around. So what I'm thinking about is a flag parameter of that new annotation, to opt in into that "lenient" behavior.

Without such a mode, I really see the risk that this whole `@ExcludeExtension` feature will actually slow down overall runtime instead of speeding things up.
This is my POV from look

[2022-03-09 15:39] isaul32 commented on #20395
Sure. There is a [sample project](https://github.com/isaul32/quarkus-kotlin-validation-issue-sample) that reproduces this error. The car and the book should be the same, but the car is written in Java and the book in Kotlin.

[2022-03-09 15:56] edeandrea commented on #18572
Ahh seems I can't do this in `JacksonBuildTimeConfig`?

[code]

[2022-03-09 16:03] geoand commented on #18572
You mean have an enum as the key of the map? If so, then correct, you can't

[2022-03-09 16:07] edeandrea commented on #18572
Yes thats what I mean. I would think this would be a common thing no? Couldn't we modify `BuildTimeConfigurationReader.processValue` where it does

[code]

?

[2022-03-09 16:14] geoand commented on #18572
Yes, it can be done

[2022-03-09 16:15] edeandrea commented on #18572
take you what? an hour or so? :D

[2022-03-09 16:29] moisaluc commented on #13233
Hi,

I know this is closed but I'm having the same issue, even with what was specified in the previous comments. Multi-module project, I have a Jandex index, the POJOs are discovered fine but get javax.validation.UnexpectedTypeException: HV000030: No validator could be found for constraint 'javax.validation.constraints.NotBlank' validating type 'java.lang.String'.

I have a few strings annotated w

[2022-03-09 16:35] mkouba commented on #24204
@geoand @GavinRay97 I'll take a look. Is it dev mode only? Also how do you hit the `/hello` endpoint in a CLI app? I mean the command is executed and the app is stopped by default. You can add `Quarkus.waitForExit()` in the `run()` method of the command but what's the point? ;-)

[2022-03-09 16:45] geoand commented on #24204
I only tried dev mode but my guess is that the same would be the case for prod mode.

You basically don't have to do much, just generate the project with the extensions shown, start the application and hit the hello endpoint

[2022-03-09 16:45] JohnnMartins commented on #23014
I was facing the same problem and solved it change quarkus-amazon-lambda-rest putting it on the profile native.

[code]
with that, the error stopped on dev mode.

[2022-03-09 16:46] geoand commented on #18572
My guess is that it's a one liner 😜.

I'll have a look tomorrow

[2022-03-09 16:47] edeandrea commented on #18572
I changed that `if` statement to

[code]

but no idea if that fixes it :) I'll play with it and see if my tests work :)

[2022-03-09 16:48] geoand commented on #18572
😎

[2022-03-09 17:16] u6f6o opened #24210 "OOM with QuarkusTestResourceConfigurableLifecycleManager"
### Describe the bug

I replaced our wiremock integration tests with a QuarkusTestResourceLifecycleManager approach. Instead of starting und stopping the wiremock server in the junit `BeforeAll` and `AfterAll` methods, I provide a class the looks like the following:
[code]

I annotated all integration tests with `@WithWiremockedRemoteApis` and basically this approach looks pretty charming.  My pro

[2022-03-09 17:35] ebullient commented on #24204
Picocli commands _tend_ to be one and done. You can use a picocli command-line interface to start a long-running process (too), as an alternate way of processing options. In this case, because resteasy-reactive is present, I would assume a long(er)-running process is the intent, but you would need to indicate that the app is running (using `Quarkus.waitForExit()`, as @mkouba suggests and is docume

[2022-03-09 17:52] gsmet commented on #13233
@moisaluc you're using Hibernate Validator 6.2.x and Bean Validation 2.0, right?

If not, you should (that's what the Quarkus BOM enforces so if you haven't overridden the versions, it should be OK). If so, please create a reproducer.

[2022-03-09 17:59] #21697 closed

[2022-03-09 18:04] aluckenbaugh opened #24212 "@Scheduled method invoked both on original bean and @Alternative bean"
### Describe the bug

If `@Scheduled` is applied to a function and an `@Alternative` subclass is created for the bean containing the annotated method, the method is invoked twice by the scheduler, once for each bean. This means that when the alternative bean is being used the scheduled method is invoked twice, which is unexpected.

A reproducer is attached with the minimal changes necessary to sho

[2022-03-09 19:03] edeandrea commented on #18572
Unfortunately that in itself doesn't seem to do it. Seems that the config class (`JacksonBuildTimeConfig` in this case) is instantiated programmatically via reflection, so even if I set a default value on the `Map` field (like `public Map<SerializationFeature, Boolean> serialization = new EnumMap<>(SerializationFeature.class);`) it doesn't take

The `BuildTimeConfigurationReader.readConfigGroup`

[2022-03-09 19:24] geoand commented on #18572
Sure yeah

[2022-03-09 19:29] phillip-kruger commented on #24183
@jmartisk - this is a weird one, Context can be injected in the class, but in the method gives this error, only when using BV.

[2022-03-09 19:29] phillip-kruger commented on #21457
Ok I leave this for @sberyozkin to close :)

[2022-03-09 19:33] #23748 closed

[2022-03-09 19:35] gsmet commented on #24183
Not sure if it helps: the constraint will make the method intercepted by the HV interceptor. Not sure it changes something for you.

[2022-03-09 19:38] edeandrea opened #24214 "Allow Map config properties to contain enum keys"
Currently it seems that config properties that are `Map`s are only allowed to be keyed by `String`. Allowing `enum` constants as keys would be good to have.

[2022-03-09 19:38] edeandrea commented on #18572
I created ##24214

[2022-03-09 19:39] edeandrea commented on #24214
This came out of #18572. [See comments there](https://github.com/quarkusio/quarkus/issues/18572#issuecomment-1063078066) for more details.

[2022-03-09 19:40] phillip-kruger commented on #24183
Not sure, I assume the interception happens when it's called? We call the method using reflection, and we see if the context needs to be added to the parameters, and if so, we add it.

[2022-03-09 19:50] edeandrea commented on #24214
/cc @geoand

[2022-03-09 20:07] edeandrea commented on #18572
I'm not sure what you mean by `customizer`. Can you provide an example? I'm not at all familiar with this part of the codebase.

[2022-03-09 20:21] geoand commented on #18572
@gsmet means an ObjectMapperCustomizer.

[2022-03-09 20:22] edeandrea commented on #18572
Yeah I was just in the middle of writing that `ObjectMapperCustomizer` is what I thought it was. Me personally I'd prefer to have less code and more config - being able to supply configuration once in my config and then leave it be. Just my opinion.

[2022-03-09 20:52] siudeks commented on #23999
Closing as I am able to create gRpc files from scanned jars using current version 2.7.3

[2022-03-09 20:52] #23999 closed

[2022-03-09 21:07] AndLvovSky commented on #23014
I've used the following workaround for Gradle - basically, the dependency is excluded in dev mode:
[code]

[2022-03-09 21:28] famod commented on #24210
The thing is that as soon as you add `@QuarkusTestResource` to another annotation (a stereotype), then this resource is treated as if `restrictToAnnotatedClass` was set to `true`.
So, each of your annotated test classes will start and stop the wiremock server, instead of starting one server once and keeping it up until the last test class is done.
I cannot say I like this behaviour, but this is ju

[2022-03-10 07:08] u6f6o commented on #24210
So, each of your annotated test classes will start and stop the wiremock server, instead of starting one server once and keeping it up until the last test class is done.
I cannot say I like this behaviour, but this is just how it works currently.

Okay, but if I am not missing sth., that's the same with the static initialisers I provided in my sample project? Every test class starts and stops its

[2022-03-10 07:08] geoand commented on #24210
Thanks for reporting.

As @famod mentions, a memory dump will go a long way to figuring out the OOM error

[2022-03-10 07:47] mkouba commented on #24204
Nope. In prod mode the app is shutdown after the picocli command is executed.

Ok, so if I understand it correctly the current behavior is expected and it works as designed and documented ;-).

[2022-03-10 07:51] #19845 closed

[2022-03-10 07:53] ia3andy commented on #11515
I created https://github.com/quarkusio/code.quarkus.io/pull/807 to fix the compatibility, but it has to wait for the next major release to be effective.

[2022-03-10 07:56] geoand commented on #24214
Thinking about this more, I actually don't think this is tremendously useful. I understand it's usefulness in what you are trying to do with the Jackson configuration, but I can't remember it ever being useful for any other domain.

@radcortez any thoughts?

[2022-03-10 08:05] geoand commented on #24210
I agree, it's a bad default but it's legacy carried from pre-Quarkus 1.7, where test profiles did not exist.

[2022-03-10 08:16] geoand commented on #14927
Yup, that could certainly happen, depending on the use case.

[2022-03-10 08:41] geoand commented on #24204
Is there any way we can improve the error instead of throwing a NPE?

[2022-03-10 08:43] mkouba commented on #24212
Note that `@Alternative` does not disable the original bean. It merely gives higher priority to `@Alternative` beans during injection. For example, if you have `@Alternative class MockFoo extends Foo` and `Foo` declares an observer method then this observer method is also invoked upon the `Foo` bean instance. In other words, I think that `@Alternative` itself should not disable the `@Scheduled` me

[2022-03-10 09:23] aloubyansky commented on #14927
Not exactly easy but could be done. It's just it would have to be implemented differently for Maven and Gradle, where it will be more tricky. We actually still don't support even forced dependencies in Gradle, although getting closer to that. So, `QuarkusProdModeTest.setForcedDependencies(forcedDeps)` are currently ignored, fyi @glefloch

[2022-03-10 09:24] geoand commented on #14927
Ah, I wasn't aware of that.
Thanks for the information

[2022-03-10 09:53] mkouba commented on #24204
Not easily. The `Arc.container()` method currently returns `null` if the container is not running and some components may rely on this behavior. So we would have to modify all call sites to check nullability instead.

However, we could add a simple check in `io.quarkus.resteasy.reactive.common.runtime.ArcThreadSetupAction.activateInitial()`. WDYT?

[2022-03-10 09:56] geoand commented on #24204
Yeah, that sounds reasonable

[2022-03-10 10:20] moisaluc commented on #13233
@gsmet I am, yes, I haven't changed anything. But while building a small, separate reproducer I noticed that it actually works as expected so it looks like there's something wrong with my actual project. Happily (or sadly...) I only have to figure out what.

Thanks for the fast reply!

[2022-03-10 10:52] gsmet commented on #13233
Make sure you really have a Jandex index for the modules in which the
constraints are.

Because we take the list of constraints we detect in the Jandex index and
we push it to HV. Any constraint that is not in the Jandex index won't have
its validators registered in HV. Which would lead to the errors you are
seeing.

On Thu, Mar 10, 2022 at 11:21 AM moisaluc ***@***.***> wrote:

[2022-03-10 10:56] radcortez commented on #24214
We do support Enum keys in SR `@ConfigMapping`. Recently, I've added support to allow the use of SR `@ConfigMapping` for Quarkus extensions, so we could move the config in that direction if we really want to support Enum keys.

[2022-03-10 11:13] Plawn commented on #23592
@MikeEdgar still true in the last version ?

[2022-03-10 11:14] luca-bassoricci opened #24228 "TEST: Static method in PanacheEntity with parameters type 'array of primitive' generate error during deployment phase"
### Describe the bug

Error in deployment phase when launching test caused by method enhancement of Panache's static methods which signature contains `array of primitive` parameter(s).
Error is present only during `test` s because the problem shows up only adding `io.quarkus:quarkus-panache-mock` dependency

### Expected behavior

No errors

### Actual behavior

[code]

### How to Reproduce?

[Lin

[2022-03-10 11:23] famod opened #24229 "Continuous testing is not picking up custom JUnit extension from same module"
### Describe the bug

A Junit extension, e.g. a `org.junit.jupiter.api.extension.BeforeAllCallback`, that is registered via `src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension` is not picked up when `mvn quarkus:test` (CT) is run in that module.

If CT is run in another module that depends on the module that contains the extension, everything works as expected!

### Exp

[2022-03-10 11:48] famod commented on #24210
Ok, but with a LifecycleManager that is used via such a stereotype, there will also be a **Quarkus restart** for each test class.
Can you verify this?

[2022-03-10 11:56] bodiam commented on #6420
For those looking for a solution to this, we've forked java-faker here: https://github.com/datafaker-net/datafaker, which has this issue resolved.

[2022-03-10 11:57] u6f6o commented on #24210
Yes, it's the same as with the static approach. For every annotated test clazz, the start method is invoked before the test methods are invoked. After all test methods were executed in the given clazz, the stop method is invoiked.

[2022-03-10 11:59] jesperpedersen opened #24231 "quarkus/jib: Native build fails if docker isn't installed"
### Describe the bug

1) Download https://github.com/operator-framework/operator-sdk
2) mkdir test && cd test
3) operator-sdk init --plugins quarkus --domain halkyon.io --project-name expose
4) Change pom.xml
[code]
5) `mvn clean package -Pnative`

Fails with

[code]

since `docker` isn't installed. The build up to this point have used `podman` successfully.

### Expected behavior

To be able to u

[2022-03-10 12:01] u6f6o commented on #24210
Creating a heap dump is no problem but for the real life service, this dump may also contain sensitive data and I think I am not allowed to share the dump. Have to figure out if there is any way to obfuscate the data etc.

In the meantime here is a screenshot of the leak suspects that MAT found:
![image](https://user-images.githubusercontent.com/1176370/157657577-869f5e94-4ea3-44e2-8c92-ac5c758283

[2022-03-10 12:15] cylab commented on #9671
@liweinan any findings?

[2022-03-10 12:20] gsmet commented on #9671
@geoand do we have a GZip filter in RESTEasy Reactive?

[2022-03-10 12:26] famod commented on #23078
@aloubyansky FYI, I'm still seeing inconsistencies w.r.t. to that cache, so I need to reintroduce that workaround I posted previously: https://github.com/quarkusio/quarkus/issues/23078#issuecomment-1018340655
The concrete problem is with this workaround for ArchUnit: #23929
If `mvn test` (or similar) was run in a module, running  `mvn quarkus:test -Parchunit-exclude` afterwards will not respect th

[2022-03-10 12:29] #23929 closed

[2022-03-10 12:31] ebullient commented on #24204
I guess I would like to know if the long-running usage is what @GavinRay97 intended.. and in that case, if `Quarkus.waitForExit()` is being used...

(but in case it isn't, a nicer error would still be nice 😊)

[2022-03-10 12:32] geoand commented on #9671
Not currently

[2022-03-10 12:34] famod commented on #24210
Right, but what I meant is that with your static approach there should be *no* _Quarkus_ restarts, but with that `@WithWiremockedRemoteApis` there _will_ be _Quarkus_ restarts.
I'm really talking about _Quarkus_, not Wiremock!

This explains the runtime penalty and probably also the OOMs (in case something is not clean up during those _Quarkus_ restarts).

[2022-03-10 12:35] aloubyansky commented on #23078
Is it still about changing the scope for lombok?

[2022-03-10 12:37] geoand commented on #24231
What you are seeing is the expected behavior.

I assume you mean with this that building the native binary is done with podman without you having to configure anything?

[2022-03-10 12:39] famod commented on #23078
No, this time it's about what I documented as a workaround in #23929, which is an exclusion for ArchUnit (in a profile).
So same same but different. 😉

[2022-03-10 12:40] famod commented on #24229
/cc @geoand @aloubyansky (FTR)

[2022-03-10 12:40] jesperpedersen commented on #24231
@geoand Correct - like
[code]

[2022-03-10 12:43] mkouba opened #24234 "Scheduler - support static scheduled methods"
### Description

Similarly, the CDI spec supports static observer methods.

### Implementation ideas

_No response_

[2022-03-10 12:45] aloubyansky commented on #23078
I think we need an option to ignore the cache then.

[2022-03-10 12:48] jesperpedersen commented on #24231
@metacosm FYI

[2022-03-10 12:49] geoand commented on #24231
Gotcha, thanks .

I'll take care of it to bring it in line with what we do for the native build

[2022-03-10 12:53] u6f6o commented on #24210
ah, sorry, missed that point. 👍

[2022-03-10 13:06] dtsaryov opened #24235 "Simplified @PathParam usage is available only if project uses RESTEasy Reactive"
### Describe the bug

There was a [demo](https://www.youtube.com/watch?v=DCEJSBgA0T8&t=1217s) describing simplified usage of `@PathParam` when it can be omitted:

[code]

But this feature is not available for a "default imperative" project.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No respons

[2022-03-10 13:18] gsmet commented on #9671
@geoand could you create an issue with it (you will be able to be more specific than I would)? Because I have seen quite a lot of people using the GZip filter for RESTEasy and it makes total sense if you're paying for the traffic.

[2022-03-10 13:23] u6f6o commented on #24210
okay, I think you are right. I realised that the heap dump contains quite some QuarkusClassLoader objects. This is not the case for the static approach:
![image](https://user-images.githubusercontent.com/1176370/157670150-1d204ee1-966c-4a0b-bb2f-2797503f1597.png)
As a next step, I added some big players in my build.gradle (lib-wise) in order to further blow up the QuarkusClassLoader. This caused t

[2022-03-10 13:40] geoand commented on #9671
We already have https://github.com/quarkusio/quarkus/issues/16425

[2022-03-10 13:43] gsmet commented on #9671
OK. I added it to the board here:
https://github.com/orgs/quarkusio/projects/13/views/18

Because I really think it's something we will need for 2.8.

[2022-03-10 13:43] geoand commented on #16326
I am going to close this because https://github.com/quarkusio/quarkus/pull/24238 will introduce the same detection method we have for the native binary using container build into our Jib support

[2022-03-10 13:43] #16326 closed

[2022-03-10 13:45] geoand commented on #9671
That is very unlikely to happen for `2.8`. The issue is that we likely want to use Vert.x's GZIP support, but that will take some time to figure out

[2022-03-10 13:47] geoand commented on #24235
Yup, this is something that is available to RESTEasy Reactive only.

[2022-03-10 13:48] #24235 closed

[2022-03-10 13:53] aluckenbaugh commented on #24212
Thank you for your response, @mkouba.  Your recommendation for separating the logic and the scheduling in different beans provides us with a usable pattern.

Would this mean that the behavior of the Quarkus scheduler needs to change?  At the moment in the code example I provided both the `AlternativeCounterBean` and `CounterBean` instances are having their `increment()` functions invoked by the sc

[2022-03-10 13:53] dtsaryov commented on #24235
@geoand thanks for the answer!

[2022-03-10 14:02] geoand commented on #24235
YW

[2022-03-10 14:10] #22981 closed

[2022-03-10 14:19] GavinRay97 commented on #24204
What do you do if your quarkus app is a web application that also has a CLI? 🤔
Should there be a different `dev` command for starting the web app versus the CLI app

In this case I have a REST API, plus a "management" CLI tool

@ebullient

Yeah, I had assumed it would run the REST API -- I don't have a `QuarkusApplication` overriding anything. I guess my expectations were that it would run the Pic

[2022-03-10 14:26] gsmet opened #24239 "Write a RESTEasy Classic -> Reactive migration guide"
We need to collect all the most common use cases and document them.

We should also document the limitations (typically the lack of GZip support if we don't have it by then).

https://github.com/quarkusio/quarkus-quickstarts/pull/971 is a good start for that.

[2022-03-10 14:36] mkouba commented on #24212
Yes, and given the fact that scheduled methods with identity may cause troubles we'll need to think about this and find some acceptable solution. TBH we did not think a lot about `@Scheduled` and inheritance because it's not a common use case.

[2022-03-10 14:42] GavinRay97 opened #24241 "[FR] Ability to tag/annotate tests to explicitly enable DevServices on a per-test basis"
### Description

I have an unusual application, it provides support for a very large number of datasources. So in my deps, I have:

[code]

Obviously, it wouldn't be good to start half a dozen Docker container services for every dev/test run.
So for now, I'm using manual Testcontainers in my tests:

[code]
[code]

It would be nice to be able to annotate or tag my tests somehow to still be able to

[2022-03-10 14:44] mkouba commented on #24212
FTR the "inheritance" for `@Scheduled` methods was introduced in this commit: https://github.com/quarkusio/quarkus/commit/54dfc3be296bbc37d47d70d4744f110cc15dd1ef (when `Scheduled#identity()` did not exist yet)

[2022-03-10 14:45] bdepaz80 opened #24242 "LDAP response read timed out, timeout used: 5000 ms."
Hey,
We're using quarkus quarkus-elytron-security-ldap 2.6.1.Final in combination with Oracle LDAP. During security authentication we get "LDAP response read timed out, timeout used: 5000 ms.".

The problem is most probably related to performance issue in our LDAP setup, but that is something we can't change just like that.
However, it would be nice if there was a possibility to override the defau

[2022-03-10 14:51] mkouba commented on #24212
Hm, I think that `@Scheduled` methods should not be inherited at all. The identity must be unique and it would be very confusing if scheduled methods with identity _would not be_ inherited and methods without identity _woud be_ inherited. @machi1990 WDYT?

It would be a breaking change but I'm +1 since the current behavior does not make a lot of sense. AFAIK it's an undocumented feature anyway.

[2022-03-10 14:52] #23888 closed

[2022-03-10 15:14] GavinRay97 commented on #24241
Easier said than done, but maybe something like:

- An abstract class `DevServicesBase`
- Make `DevServicesDatasourceProcessor` and others like the Mongo processor extend it
- In `DevServicesBase`, have some method like:

[code]

[2022-03-10 15:16] geoand commented on #24242
https://github.com/quarkusio/quarkus/pull/24245 will give you the necessary configuration knobs

[2022-03-10 15:18] liweinan commented on #9671
@cylab Sorry I was busy on other tasks at hands. @gsmet @geoand Thanks for checking this!

[2022-03-10 15:22] michalszynkiewicz commented on #21442
@cescoffier since we have json streaming, and with the linked PR it can be read as Multi, do we still want this?

[2022-03-10 15:30] mkouba commented on #24204
I think that this is not a common use case ;-). In this case, just use `Quarkus.waitForExit()` as mentioned above.

That's probably because of how the dev mode works. In prod mode the app is just shut down. BTW you can press `space` to run your command again.

Just do:

[code]

[2022-03-10 16:04] evanchooly commented on #23746
I'm not familiar enough with all this to create a reproducer on my own.  Can you put one together and I'll dig in to it?  Thanks.

[2022-03-10 16:43] machi1990 commented on #24212
+1 on having consistent behavior that can be clearly documented. So I am in favor of making the `@Scheduled` method not inherited. It will be good if we could still support declaring `@Scheduled` method on interface like below. We could validate during build time if there is more than one implementation of the interface
[code]

[2022-03-10 17:20] mkouba commented on #24212
Hm, this is not supported ATM and to be honest, I don't see any benefit in this pattern...

[2022-03-10 17:24] famod opened #24249 "Reuse maven-surefire-plugin `environmentVariables` and `systemPropertyVariables` for continuous testing"
### Description

Currenty, I need to "duplicate" most of the following maven-surefire-plugin configuration to have a consistent behaviour in continuous testing:
[code]
(I'm setting most of the above via `environmentVariables` and `systemProperties` for `quarkus-maven-plugin`)

It would be nice if those variables would be carried over automatically.
Do we also need to be able to exclude specific va

[2022-03-10 17:25] luca-bassoricci commented on #24228
I fixed the problem, but I have some trouble during building.
If no rush  I'll try to solve my problems and then send my PR

[2022-03-10 17:41] geniusit opened #24250 "resteasy reactive doesn't support wildcard type since quarkus 2.7.2"
### Describe the bug

Hi,

I have this method :

[code]

It works well until quarkus 2.7.1
Since I upgrade to quarkus 2.7.2 / 2.7.3 or 2.7.4 my application fails to start with the following stacktrace :

[code]

Thank you for help

Bertrand

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1 : create an app with the quarkus-resteasy-reactive-jackson

[2022-03-10 18:07] geoand commented on #24250
Good point...

We should probably disallow this completely.

WDYT @stuartwdouglas @FroMage ?

[2022-03-10 18:08] #24242 closed

[2022-03-10 18:39] cescoffier commented on #21442
No, that should be enough.

[2022-03-10 18:39] #21442 closed

[2022-03-10 19:23] machi1990 opened #24254 "Allow to configure Quartz misfire handling strategy globally that will be applied to all @Scheduled methods"
### Description

At the moment we rely on the default strategy.
It will be useful to define all the supported strategies by quartz and define and expose them as `quarkus.quartz.misfire-strategy`.

### Implementation ideas

Ddefine all the supported strategies by quartz and define and enum type out of them.
Then we can expose as a quartz runtime configuration `quarkus.quartz.misfire-strategy`, whic

[2022-03-10 19:23] machi1990 commented on #24254
Follow up work on https://github.com/quarkusio/quarkus/issues/24105

[2022-03-10 19:40] machi1990 commented on #24212
Thanks, I wrote the snippet with a vague recollection of it being supported but I was wrong.

[2022-03-10 20:20] glefloch commented on #14927
@aloubyansky, `forcedDependencies` needs resolution and proper support in both gradle and maven, but for resource exclusion, it can directly be handled in the after the resolution when building the quarkus classloader right ?

[2022-03-10 20:38] famod opened #24257 "Annotation classloading issue in custom JUnit extension when run in continuous testing"
### Describe the bug

A Junit extension, e.g. a `org.junit.jupiter.api.extension.BeforeEachCallback`, that is registered via `src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension`, cannot find a custom annotation that is present on a test method.

`context.getRequiredTestMethod().getAnnotationsByType(SomeAnnotation.class)` (`context` being `org.junit.jupiter.api.extension

[2022-03-10 20:43] Sanne commented on #14927
hey all - I'm a little confused by the direction of the conversation.

This discussion seemed it had stalled ~6 months ago with https://github.com/quarkusio/quarkus/issues/14927#issuecomment-913849578 - which concluded that @famod was going to have a closer look into jacoco.

Then 2 days ago the topic is resurrected but going in a different direction; I really don't mind if you all find a nice sol

[2022-03-10 21:01] aloubyansky commented on #14927
`forcedDependencies` are properly supported in Maven (except what Ioannis has been working on).

No, exclusions are filters that have to be applied by the resolver itself. We can't compensate for it properly after a configuration has been resolved. In Gradle, I suppose it could be done using https://docs.gradle.org/current/javadoc/org/gradle/api/artifacts/Configuration.html#exclude-java.util.Map-

[2022-03-10 21:23] famod commented on #24210
@geoand
When there is a profile change or resources need to be reloaded, we are closing the `ExtensionState`:
https://github.com/quarkusio/quarkus/blob/2.7.4.Final/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L600
During that `close()`, `runningQuarkusApplication` is set to null, but I don't see that we are closing it?
https://github.com/quarkusio/quarkus/blo

[2022-03-10 21:48] stuartwdouglas commented on #24250
I think it should be treated the same as RestResponse<Object> (i.e. we just do full dynamic resolution).

[2022-03-10 22:19] seanyerg opened #24258 "Kotlin dev compiler cannot access Builder subclass after gRPC hot reload"
### Describe the bug

Application builds and starts correctly with 'mvn compile quarkus:dev', but then making changes to any code dependent on generated gRPC classes generates a class access exception for Builder subclass, but only when also using Kotlin.  The following is the stack error message generated by KotlinCompilerProvider on hot reload:

Compilation failed.             .map { res: String

[2022-03-10 22:55] MikeEdgar commented on #23592
@Plawn, yes same issue in 2.7.4. Demo project @ https://github.com/MikeEdgar/quarkus-23592/tree/main/getting-started

[2022-03-10 23:24] famod commented on #24229
Turns out that the "Deployment Class Loader" that is used for discovering the tests does know the `META-INF/services/org.junit.jupiter.api.extension.Extension`, but the "Augmentation Class Loader" doesn't.

[2022-03-11 00:05] mchristiansen opened #24260 "Gradle quarkusGenerateCode task with composite build dependency causes jar does not exist"
### Describe the bug

Our gradle composite build intermittently fails with dependent jars not existing (see below sample output). It always fails on the quarkusGenerateCode task of a module that depends on a jar produced by the included build. We don't usually run this task directly, but running it directly reproduces the issue much more consistently.

[code]

### Expected behavior

I should be ab

[2022-03-11 02:51] geoand commented on #14927
@Sanne what I am proposing is not for the web server per-se, it's a general solution.

Not sure what data you would like to see to support the usefulness of the proposal

[2022-03-11 02:52] #24231 closed

[2022-03-11 02:53] geoand commented on #24210
I'll have to devote some time to chase down what looks like a ClassLoader leak

[2022-03-11 03:43] romilpunetha opened #24261 "MongoDb transactions not persisting object and not throwing any error"
### Describe the bug

I'm trying to create a single entity in a transaction and can see the following log:

[code]

However, on successful completion of the api, the object isn't persisted in the database.

### Expected behavior

The object should be found after transaction commit.

### Actual behavior

<img width="986" alt="Screenshot 2022-03-11 at 9 11 22 AM" src="https://user-images.githubuserc

[2022-03-11 04:17] geoand commented on #24210
There seems to be some deep leak in JMX that I don't see how we can work around.
The good news is though that if you exclude the micrometer extension, the OOM in the tests goes away.
So I am going to close this as there isn't much we can do on our side

[2022-03-11 04:17] #24210 closed

[2022-03-11 04:36] geoand commented on #24250
https://github.com/quarkusio/quarkus/pull/24262 does just that.

[2022-03-11 05:04] geoand commented on #12111
@ia3andy `RegistrySnapshotCatalogCompatibilityTest` seems to be flaky. Can you take a look?

[2022-03-11 05:48] geoand commented on #24204
I'm gonna close this as it's not a Quarkus issue.

Thanks everyone for your input

[2022-03-11 05:48] #24204 closed

[2022-03-11 06:12] romilpunetha commented on #24261
It worked after making the following change:

[code]

[2022-03-11 06:12] #24261 closed

[2022-03-11 06:23] drsarutobi8 commented on #12802
Hi @michalszynkiewicz ,
I auto generate protos from my CRUD services and I write business protos separately. So I agree with @philippegoncalves that having quarkus to code generate from sourceSet/main/proto where I can add my both type of protos there together (without com.google.protobuf) would be cleaner.

[2022-03-11 06:56] u6f6o commented on #24210
By excluding you mean, removing the micrometer dependency as a whole?

[2022-03-11 06:59] geoand commented on #24210
For tests, yes

[2022-03-11 07:02] u6f6o commented on #24210
So theoretically, the micrometer team could "fix" this issue by delivering jmx support only with a separate dependency, like for example `io.micrometer:micrometer-registry-jmx`?

[2022-03-11 07:04] geoand commented on #24210
I can't comment on that since I don't know anything about micrometer internals.

FWIW, the problem seems to come from `io.micrometer.core.instrument.binder.jvm.JvmGcMetrics$GcMetricsNotificationListener`

[2022-03-11 07:12] mklueh opened #24263 "Using @IfBuildProfile leads to "Can not inject an instance of class.. Please make sure it is a CDI bean, also possibly the beans.xml file is needed" during native build"
### Describe the bug

I have a resource class that is intended for development purpose only. Annotated with `@IfBuildProfile("dev")` should exclude it from the production build.

[code]

However, when running the native build, it leads to this error:

[code]

This is the description of the annotation. It just disables the bean, but it still seems to exist.

Is this a bug or intended behavior? If s

[2022-03-11 07:25] geoand commented on #20395
This seems to be a weird interplay between Hibernate Validator and Kotlin...

On one hand, the bytecode that kotlinc generates differs from the bytecode that java generates in the fact that the `RuntimeVisibleTypeAnnotations` element is missing.
On the other hand, Hibernate Validator is not obtaining the method parameter annotations by calling `parameter.getAnnotation(...)` (which does contain the

[2022-03-11 07:36] mschorsch commented on #20395
@isaul32 The kotlin compiler argument `-Xemit-jvm-type-annotations` might help.

[2022-03-11 07:37] geoand commented on #20395
Tried it, it does not

[2022-03-11 07:45] jsmrcka opened #24264 "Reactive Oracle client does not provide an Oracle-specific exception"
### Describe the bug

Unlike other reactive DB clients (`reactive-pg-client`, `reactive-mysql-client`, `reactive-mssql-client`, `reactive-db2-client`), Reactive Oracle client (`reactive-oracle-client`) does not provide an Oracle-specific exception, something like `OracleException`, which would be thrown in case of a failure.
[code]
Instead, it uses generic `io.vertx.core.VertxException`.

This mak

[2022-03-11 07:52] geoand commented on #24264
cc @tsegismont

[2022-03-11 07:54] mkouba commented on #24263
I think that this is more a question for graphql extension authors. CC @phillip-kruger

[2022-03-11 07:57] knutwannheden commented on #20800
Apparently I cannot reopen the issue, but I just tested this again with Quarkus 2.7.4 and the behavior still appears to be the same. I.e. I can when launching the application override the value of a config property that is supposed to be fixed at build-time.

[2022-03-11 07:58] #24250 closed

[2022-03-11 07:59] knutwannheden commented on #20800
/cc @geoand

[2022-03-11 08:09] phillip-kruger commented on #24263
Do we have to do something special to make that annotation to work ?

[2022-03-11 08:13] mkouba commented on #24263
I'm not sure I understand the question. But I think that the problem here is that the graphql extension discovers _classes_ annotated with `@GraphQLApi` (and expects the relevant bean to be present at runtime) and it should discover _beans_ annotated with `@GraphQLApi` - in this case, the bean is vetoed and completely ignored unless running in the dev mode, i.e. it not available at runtime.

[2022-03-11 09:14] jmartisk commented on #24183
The problem is that we incorrectly compute the index where we the argument should be stored in the respective `FieldDefinition` - the `FieldDefinition` (that describes the operation for schema purposes) does not contain arguments of type `Context`, so when there's a `Context` argument on an operation, then the set of fields in the `FieldDefinition` is not the same as the set of Java method argumen

[2022-03-11 09:28] tsegismont commented on #24264
@jsmrcka can you please file an issue on https://github.com/eclipse-vertx/vertx-sql-client ? Thanks

[2022-03-11 09:28] famod commented on #22064
Ran into this myself and figured out it's a classloading issue. I've created a PR upstream: https://github.com/testcontainers/testcontainers-java/pull/5167

My worarkound (for MariaDB) looks as follows:
[code]

[2022-03-11 09:33] famod commented on #24249
Related: #22902 and #20231

[2022-03-11 09:34] loicmathieu commented on #24228
Hi @luca-bassoricci thanks for trying to fix it !
Don't hesitate to open a draft PR (to avoid consuming CI with non-fonctionning PR) to gather feedback.
You can also ask for help on the Zulip #dev channel: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev

There is  no rush if you can wait for yourself ;)

[2022-03-11 10:02] luca-bassoricci commented on #24228
My problems are related to vertx-http module: tests fail with this stacktrace:
quarkus-vertx-http-deployment --- TESTS
[code]
and I'm pretty sure no other services are running on port 8080 :/
any advice?

[2022-03-11 10:30] #23164 closed

[2022-03-11 10:43] loicmathieu commented on #24228
Tests runs on port 8081 normally.
Better open a draft PR or share a branch on your fork so we can have a look at the code.

[2022-03-11 12:06] jmartisk commented on #24183
So, this will be resolved by upgrading to SmallRye GraphQL 1.4.4 or 1.5.0, not sure yet what version we will release

[2022-03-11 12:14] gsmet commented on #24183
@jmartisk in any case, I think it would be a good idea to have something back portable to 2.7.

[2022-03-11 12:16] #24234 closed

[2022-03-11 12:17] jesperpedersen commented on #24231
Thank you for your quick fix !

[2022-03-11 12:45] pjgg commented on #5802
Related to: https://quarkiverse.github.io/quarkiverse-docs/quarkus-config-extensions/dev/consul.html

[2022-03-11 13:04] #23713 closed

[2022-03-11 13:19] loicmathieu commented on #24098
@aomsweet `FindOptions` is used internally so we cannot directly allow users to set it.

However, we can support missing options. I can allow setting `batchSize` is there an other option that should also be custimizeable ? We prefere to lower the API surface so we usually choose to expose only what's needed for most use cases.

[2022-03-11 13:22] mkueng1 commented on #12685
So there is still no possibility to ignore any existing persistence.xml via the application.properties as proposed in the commit of the tisoft fork? It would make it easier when working with JPA libraries which are also used in JEE applications.

[2022-03-11 13:30] andreas-eberle opened #24273 "Kotlin + Resteasy: Query parameters do not use Kotlin default values"
### Describe the bug

When using Kotlin + Resteasy (reactive and non reactive), the Kotlin default parameters are not used. E.g. when you have an endpoint with query parameters where you want to use default values, this does not work:

[code]

When you call this endpoint without the page parameter, the page variable will contain the value `0`. If you call it without the name parameter, the call wi

[2022-03-11 15:19] manofthepeace opened #24276 "Getting io.quarkus.runtime.configuration.QuarkusConfigFactory not a subtype in dev mode really intermitently"
### Describe the bug

This one is really hard to reproduce, it seems to happen randomly, and so far I have been able to observe it only in dev mode. I will not be able to put a reproducer in place as I am really not able to reproduce at will.

Here's the stacktrace;

[code]

Please note;
1. Event is coming as a List<Event> from a rest client reactive jackson
2. first line of the stackStrace, the i

[2022-03-11 15:21] pjgg opened #24277 "quarkus application can't reach consul server. Openshift scenario"
### Describe the bug

Application code: https://github.com/quarkus-qe/quarkus-test-framework/tree/main/examples/consul

When I try to deploy a Quarkus application that uses `consul` over OCP 4.9, I am getting the following error:

[code]
The same scenario use to work as expected with Quarkus 2.2.5.Final

Could be related to: https://github.com/quarkusio/quarkus/issues/23519
I didn't see any note i

[2022-03-11 15:24] gsmet commented on #24277
@cescoffier didn't we get rid of this behavior:

[2022-03-11 15:34] geoand commented on #24277
It likely worked in 2.x because IIRC, it was the extension was not using the Vert.x client back then

[2022-03-11 15:58] #24212 closed

[2022-03-11 16:10] cescoffier commented on #24277
Which extension is it used to connect to Consul? It's likely wrong. I fixed the Vault extension but did nothing around Consul.

[2022-03-11 16:15] geoand commented on #24277
I'll look at fixing the consul extension in the same way

[2022-03-11 16:26] geoand commented on #24277
https://github.com/quarkiverse/quarkus-config-extensions/pull/58 should fix the issue

[2022-03-11 17:29] #24277 closed

[2022-03-11 17:34] pwlan commented on #23678
Hi,
thanks for the fix, @gsmet and @evanchooly.
But it looks like this has introduced a new issue.
When using Lists, the following error ocurrs.

[code]

The issue can be easily reproduced:
[code]

[2022-03-11 19:23] bpasson commented on #15742
@geoand I can take a swing at it and see if I can cook up a PR to be reviewed. Is that ok with you?

[2022-03-11 22:09] #24105 closed

[2022-03-12 06:07] leotu opened #24279 "Quartz extension store-type support customization"
### Description

Quartz Configuration "quarkus.quartz.store-type" only support ram or jdbc, it should be allow user  to specify other type (i.e, Redis) by org.quartz.jobStore.class or provided jobStoreFactory

### Implementation ideas

_No response_

[2022-03-12 08:41] geoand commented on #15742
👌

[2022-03-12 10:45] machi1990 commented on #24279
It make sense to be able to use other job stores e.g redis, kafka etc but getting it to work in native might be trick. Do you have some implementations ideas that you can add to the issue description?

I suppose you are referring to https://github.com/RedisLabs/redis-quartz, which I do not think will work out of the box in native mode without having an extension for linked external libraries: http

[2022-03-12 10:56] mrickly commented on #18982
Hi @mkouba , I did not manage to make the decorator pattern work in Quarkus for an interface `MyInterface<K,V>`. I suspect it might be related to this issue. Could you share a tentative timeline for the implementation?

[2022-03-12 14:20] paulrobinson commented on #23684
@pjgg you don't happen to know which PR this was fixed in?

[2022-03-12 15:24] leotu commented on #24279
The project I am referring to is [https://github.com/jlinn/quartz-redis-jobstore](https://github.com/jlinn/quartz-redis-jobstore), native mode maybe the problem is  [redis.clients](https://github.com/jlinn/quartz-redis-jobstore/blob/master/pom.xml)  and  rewrite it using "quarkus redis client".

[2022-03-12 19:24] pjgg commented on #23684
I am not 100% sure, but I think that could be related to this PR:

https://github.com/quarkusio/quarkus/pull/20138/files

@mkouba WDYT?

[2022-03-12 19:37] gsmet commented on #23684
What @mkouba was saying is that it was probably due to a mismatch of Quarkus versions in the test itself i.e. a test mixing somehow 2.2 and something newer than 2.3 included.
Nothing was fixed in Quarkus regarding this particular issue so you won't find a PR.

[2022-03-12 20:39] michalszynkiewicz commented on #12802
@drsarutobi8 how does your app get the protos?

[2022-03-13 11:33] gsmet opened #24283 "JBoss Threads version logging in tests"
I'm trying to write `@QuarkusMainTest` tests and the output is hard to test because I end up with:
[code]
in it.

I saw it for other tests too but it's especially annoying when dealing with command mode tests as you can't test the output properly.

@famod I believe this is due to the change you made to initialize the loggers earlier in the tests. @geoand worked around it by adding a specific test

[2022-03-13 16:54] brielmayer opened #24284 "AWS Lambda throws IllegalStateException: Missing HTTP method in request event"
### Describe the bug

Every time a HTTP request hits the AWS Lambda, we are receiving the following error:

[code]

We use the latest Quarkus version.

### Expected behavior

Lambda is starting and handeling the request

### Actual behavior

java.lang.IllegalStateException: Missing HTTP method in request event whenever a request hits the Lambda

### How to Reproduce?

_No response_

### Output of

[2022-03-13 22:37] #24181 closed

[2022-03-13 23:19] nachogon1 opened #24286 "LookUpIfProperty not working in Kotlin"
### Describe the bug

I am working with quarkus in Kotlin. I would like to use LookupIfProperty. Following the quarkus documentation, this is the equivalent in Kotlin.
[code]

### Expected behavior

[code]

### Actual behavior

[code]

### How to Reproduce?

Steps to reproduce the behaviour:
1. `./gradlew build`

### Output of `uname -a` or `ver`

Darwin Ignacios-MBP 20.6.0 Darwin Kernel Version 2

[2022-03-14 02:53] herdi73 opened #24287 "Gzip Compression Not Working over HTTPS"
### Describe the bug

I want to compress static resources in Quarkus like js, css, and image. I was activated configuration for compression **quarkus.http.enable-compression:true**. It's working perfectly on HTTP mode but does not working over https.

### Expected behavior

Content will be compressed as GZIP over HTTPS

### Actual behavior

No GZIP compression over HTTPS

### How to Reproduce?

St

[2022-03-14 03:31] aomsweet opened #24288 "Support Asynchronous testing"
### Description

The current test method is executed synchronously and it cannot test asynchronous methods.  Vertx supports asynchronous testing, but I didn't find a similar way in Quarkus. Am I missing something?
[code]

### Implementation ideas

_No response_

[2022-03-14 06:08] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1978775257

[2022-03-14 07:06] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1978775257

[2022-03-14 07:33] mkouba commented on #18982
To be honest, I don't remember the difference between the rules for regular injection points and for delegate injection points. But I believe that the difference is minimal. @manovotn Do you happen to know?

@mrickly could you share more details about your app? We have a [test with generics](https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/tests/src/test/java/io/quarkus/arc/

[2022-03-14 07:42] mkouba commented on #23684
Exactly.

[2022-03-14 07:57] mrickly commented on #18982
@mkouba : In our application, the decorator has unbounded type parameters (MyInterface<K, V>) and the delegate has  actual types (e.g. MyDelegate<String, Contract>). In your test, the decorator has actual types (String, Long) which match the actual types (String, Long) of the delegate. One rule of the specification reads: "the delegate type parameter is a type variable, the bean type parameter is

[2022-03-14 08:09] mkouba commented on #18982
Could you share the pseudo-code of your decorator and the bean that should be decorated?

Note that it's the delegate injection point that is used during decorator resolution, i.e. the bean must be assignable to the delegate injection point of a decorator to bind the decorator to a bean.

[2022-03-14 08:52] mrickly commented on #18982
`public class MyParameterizedType<K, V> {

    final K key;

    final V value;

    public MyParameterizedType(K key, V value) {
        this.key = key;
        this.value = value;
    }

    @Override
    public String toString() {
        return "key=" + key.toString() + ", value=" + value.toString();
    }

}`

`public interface MyInterface<K, V> {

    void doSomething(MyParameterizedType<K,

[2022-03-14 09:28] manovotn commented on #18982
@mkouba I _think_ there was a difference in a raw type assignment but otherwise it was the same.
I.e. this sentence differs:

[2022-03-14 09:50] manovotn commented on #18982
I agree that this scenario seems like it should be covered by this spec statement.

Maybe we are passing in wrong required type for decorators when attempting typesafe resolution (otherwise the same issue would occur outside of decorator since we are using same ruleset - and I am not seeing that happen).

[2022-03-14 09:55] mkouba commented on #18982
@mrickly I've tried your setup and it seems to work. I think that your `MyDelegateBean` is marked as [unused and removed from the app](https://quarkus.io/guides/cdi-reference#remove_unused_beans). Therefore, the decorator was removed as well.

[2022-03-14 10:43] manovotn commented on #18982
I think @mrickly has hit the behavior where the assignability rules for delegate injection points differ.

This sentence has no counterpart in standard assignability rules and since we are ATM (incorrectly) using a single set of rules, the check will fail.

[Assignability of raw and parameterized types for delegate injection points](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#delegate_assign

[2022-03-14 12:13] lw-mcno commented on #24148
@cescoffier I've tried reproducing the problem using smallrye-kafka and confluent serdes using apicurio registry, but it works as expected in a simpler project. Unfortunately, I can't put a finger on the original cause of this in a more complex project. I wasn't able to get the route smallrye-kafka out -> kafka-streams -> smallrye-kafka-in (deserialization) up and running in a reasonable time, but

[2022-03-14 13:07] sberyozkin commented on #24078
Thanks @radcortez, let me close it for now. @stefanwendelmann please reopen with a reproducer if it still does not work for you

[2022-03-14 13:07] #24078 closed

[2022-03-14 13:12] sberyozkin commented on #23477
@orivat This is the issue I'd try to prioritize upon.

@tassadar81 @pedroigor How does Keycloak do the backchannel logout ? The way it is described at https://openid.net/specs/openid-connect-backchannel-1_0.html or differently ? I have not been able to confirm it in the docs.

Thanks

[2022-03-14 13:15] sberyozkin commented on #23477
@tassadar81 @pedroigor If it is a logout JWT token then we can verify it and then compare its `iss`/`aud` claim values  with the ones from the current ID token and remove the session token in case of the match

[2022-03-14 13:24] progaddict commented on #23341
Hi everyone,

I think I was able to fix it locally: https://github.com/bvahdat/code-with-quarkus3/pull/1/files

My env is the following:
[code]

If you could confirm that the fix is also working in your env (locally or in a CI/CD pipeline), that would be really awesome.

The reflection config could then probably be added to the corresponding quarkus extension (`quarkus-jdbc-oracle`).

P.S.
* When

[2022-03-14 13:25] glefloch commented on #24260
Thanks for reporting this @mchristiansen. I will have a look.

[2022-03-14 14:34] DavideD commented on #24030
Sorry, I haven't forgotten about this. We had some issues with our CI that I had to look into. I will get back to it soo

[2022-03-14 14:45] SoerenHenning commented on #18973
We're facing the same issue with Quarkus 2.7.4. Increasing maxHeapSize in Gradle works, but is there any other way to avoid failing tests because of `java.lang.OutOfMemoryError: Java heap space` exceptions?

[2022-03-14 15:01] lw-mcno commented on #12941
Tip: when using a programmatically constructed client (ResteasyClientBuilder) with registered filter / interceptors (described e.g. here: https://docs.jboss.org/resteasy/docs/6.0.0.Final/userguide/html/gzip.html), one can simply use microprofile configuration properties, e.g.:
[code]

as Quarkus' `ResteasyConfigurationMPConfig`  implementation of `RestEasyConfiguration` is being queried by the int

[2022-03-14 15:08] gsmet commented on #23341
@Sanne ^

[2022-03-14 15:13] jerboaa commented on #23716
@geoand So I had a look at this. It seems the core of the problem is a limitation of using dynamodb in jax-rs filters. The conflict seem to come from that a) quarkus initializes everything at build time (in this case the entire resteasy jaxrs stack and related quarkus glue) b) this application uses a JAX-RS-filter which in turn uses amazon dynamodb which needs to initialize some of its classes at

[2022-03-14 15:20] manovotn commented on #18982
@mrickly just an FYI, I have submitted a [PR](https://github.com/quarkusio/quarkus/pull/24301) that fixes your scenario (and possibly other cases as well), so unless we discover some major flaw, this should land in the next Quarkus release :-)

[2022-03-14 15:25] Sanne commented on #14927
@geoand just reminding that Stuart had pointed out that starting the server just takes some milliseconds - so let's make sure we're looking at the right problem?

Older discussions (above) seem to have been suggesting the need to look further into entity enhancements, and possibly jacoco related instrumentation - to which Stuart also warned that it's performed in parallel so it needs to be interpr

[2022-03-14 15:26] geoand commented on #23716
Thanks for looking into it @jerboaa

[2022-03-14 15:29] geoand commented on #14927
I had a specific use case in mind, which was more about giving users more flexibility when testing, rather than addressing performance.

It's been a few days however and it has slipped my mind.

[2022-03-14 15:31] gsmet commented on #24283
@famod any chance you could have a look at this one?

You can reproduce it easily with the tests in: https://github.com/quarkiverse/quarkus-github-action/ .

They are passing now because I use `contains()` instead.

[2022-03-14 15:38] mchristiansen commented on #24260
I see the same behavior. We ran into this specifically because _something_ in our build must be dependent on `quarkusGenerateCode` directly. I haven't tracked that down or tried to reproduce it with the attached project since I figured the task shouldn't fail if called directly anyway.

[2022-03-14 15:53] gsmet opened #24302 "NPE when interrupting the extension creation process"
If I do:
[code]
Then ctrl + c, ctrl +c when the questions are asked, I end up with:
[code]

We should probably handle that more gracefully and throw an error and exit.

[2022-03-14 15:53] gsmet commented on #24302
@glefloch I thought you might be interested by this one.

[2022-03-14 16:19] pbezpalko commented on #23807
Hi @geoand - I prepare simple demo for this bug - can be found here:
https://github.com/pbezpalko/quarkus-issues-23807

There is README.md with detailed information how to build and run. The bug is quite visible :)

[2022-03-14 16:28] mrickly commented on #18982
Thanks @mkouba and @manovotn , that was fast!

[2022-03-14 17:33] u6f6o commented on #23746
Sure 👍 : https://github.com/u6f6o/quarkus-suspend-cache-issue If you run the test, it should fail with someting like:
[code]

[2022-03-14 19:07] #13224 closed

[2022-03-14 19:12] radcortez commented on #23940
https://github.com/quarkusio/quarkus/pull/24134 improved this.

[2022-03-14 19:12] #23940 closed

[2022-03-14 19:24] gsmet commented on #24286
Is it working in Java?

My guess is that you need to annotate the other one with `@LookupUnlessProperty`. Or maybe `@DefaultBean` would work?

@mkouba I think the example in https://quarkus.io/guides/cdi-reference#declaratively-choose-beans-that-can-be-obtained-by-programmatic-lookup is a bit misleading. Couldn't we make it work instead of explaining why it fails in a comment?

[2022-03-14 19:51] gsmet commented on #24287
Could you try https://github.com/quarkusio/quarkus/pull/24306 ?

Follow the instructions in https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#building-main except you should build my branch.

[2022-03-14 20:50] sombraglez opened #24308 "Apicurio Devservice can not be configured with apicurio-registry-mem images from outside of DockerHub"
### Describe the bug

Apicurio DevServices requires images from apicurio/apicurio-registry-mem. Due to this constraint we cannot use the Apicurio images copied to our own container registry.
In order to avoid reaching our DockerHub download limits, we try to use as much as possible images copied to our own registry.

### Expected behavior

It should be possible to start the Apicurio DevService usi

[2022-03-14 21:38] jsebtes commented on #15826
Reproducer updated to quarkus 2.7.4
=> https://github.com/jsebtes/context-propagation-reproducer/tree/quarkus2.7.4

[2022-03-14 23:17] famod commented on #24283
@gsmet I'm probably missing something, but adding a `src/test/resources/application.properties` with:
[code]
makes those log statements go away.

Are you looking for something more convenient?