[2021-07-21 07:35] abrenn commented on #17767
I don't really know what is preventing it from writing into that log file. The logfile was created but was empty.

[2021-07-21 07:54] #18853 closed

[2021-07-21 08:08] geoand commented on #17767
That's very interesting in it's own right. If you could create a small project that replicates this behavior, it would be a tremendous help for us

[2021-07-21 08:16] geoand commented on #17767
This worked for me. Here is part of the output:

[code]

[2021-07-21 08:27] geoand commented on #18792
It seems like you are mixing `rest-client` and `rest-client-reactive`. Does the same thing happen if you remove the `rest-client`?

[2021-07-21 08:28] geoand commented on #18777
cc @michalszynkiewicz

[2021-07-21 08:35] Sgitario opened #18883 "Regression: Continuous testing does not detect new test classes after changing sources"
### Describe the bug

This issue is similar to https://github.com/quarkusio/quarkus/issues/18795 (that has been already fixed), but happens after updating some existing sources.

Given having a Quarkus application running in DEV mode and with the continuous testing enabled,
When we update an existing source
And we copy a test java class into the sources
Then the test should be detected and execute

[2021-07-21 08:39] geoand commented on #18742
Also cc @pmlopes as this might be a Vert.x Redis Client issue

[2021-07-21 08:42] #17145 closed

[2021-07-21 08:49] abrenn commented on #17767
@geoand it is still reproduceable by the same code i posted 29 days ago further up in this issue:
https://github.com/quarkusio/quarkus/issues/17767#issuecomment-866011229

[2021-07-21 08:50] geoand commented on #18763
Quarkus `1.12.1.Final` is pretty old by now, can you try `1.13.7.Final` and / or `2.0.2.Final`?

[2021-07-21 08:51] geoand commented on #18740
Bumping this @sberyozkin :)

[2021-07-21 08:58] OnePlusOneIsTen commented on #18536
I managed to add the `RoutingContext` and implement the `serialize` method to sign the token myself. Thank you very much for your help :)

[2021-07-21 08:59] Sanne commented on #18864
Excellent, thanks @stuartwdouglas for the quick fix!

[2021-07-21 09:00] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1051350404

[2021-07-21 09:08] geoand commented on #17767
That reproducer isn't listening on an http port as far as I can tell.
In cases like that, you'll need to implement your own `io.quarkus.test.common.IntegrationTestStartedNotifier` (or the now deprecated `io.quarkus.test.common.NativeImageStartedNotifier`) in order to let the testing infrastructure know when the application starts

[2021-07-21 09:13] gsmet commented on #18763
This is expected. You made your `AlwaysInvalidValidator` bean `@ApplicationScoped` so only one will be created for the whole application.

If you make it `@Dependent`, the problem goes away.

[2021-07-21 09:13] #18763 closed

[2021-07-21 09:14] #18733 closed

[2021-07-21 09:30] stuartwdouglas commented on #18883
I just see it hanging:

[code]

[2021-07-21 09:39] cescoffier commented on #18859
Yes, it does support it (we use that in gRPC).

[2021-07-21 09:42] Sanne commented on #18299
@stuartwdouglas I don't understand these hacks, in particular I wonder how we can get away with sunddenly setting a new CL on the context; wouldn't it be more appropariate to shut down the current context in a clean way and then start the new ones with the new context?

[2021-07-21 09:42] Sgitario opened #18884 "Regression: CLI newly created app does not start on DEV mode"
### Describe the bug

Having installed the latest Quarkus CLI using 999-SNAPSHOT
When create a new application: `quarkus create app my-app`
And run on dev mode: `quarkus dev` or `mvn quarkus:dev`

Neither way works to run on DEV mode because of:
[code]

The `pom.xml` does contain the `quarkus-maven-plugin`:

[code]

The problem is that the property `quarkus.platform.group-id` has `io.quarkus.platf

[2021-07-21 09:44] stuartwdouglas commented on #18299
Then you lose the live reload workflow, as the first request after a change will fail as the server is shut down

[2021-07-21 09:46] Sanne commented on #18299
But also I wonder about the real purpose of these:

https://github.com/eclipse-vertx/vert.x/blob/ccbe23c30a6cf0f93e221b447a3b49897eddb175/src/main/java/io/vertx/core/impl/ContextImpl.java#L79-L81

if it's not critical for vertx that we do stick to these rules, perhaps the fix is just to remove those lines in Vertx ? But I'd love to hear @vietj 's opinion about that, as I'm sure the warning has som

[2021-07-21 09:47] abrenn commented on #17767
You are correct. But you can just add one HTTP Endpoint to it. Or I will do that later today.

[2021-07-21 09:48] Sanne commented on #18299
Is there no way to gracefully spin up new workers while terminating the stale ones?

[2021-07-21 09:55] ferencbeutel4711 opened #18885 "Quartz cannot find bean instances of jobs"
### Describe the bug

Hello there,

we have an issue that is present with quarkus 1.13 - 2.0.2, in 1.12 the issue is not yet present.

In our setup we are using quartz to schedule the execution of jobs. Here is a simple implementation example of one of our jobs:

[code]

As you can see in the above example, we are creating a Singleton instance of our job which should be used by quartz. With quarku

[2021-07-21 10:02] Sanne commented on #18299
Github's autocompletion doesn't seem to like me pinging `vietj` so I suspect that's not working: sent an email on the list.

[2021-07-21 10:03] thienldd opened #18886 "Qute: access the context of nested tag"
### Description

Let's say we have a user-defined tag:

itemDetail.html
`{#set item=itemMap.get(itemId)}
{/set}`

Is it possible to access the "item" variable in itemDetail.html from another template?
So we can have a dynamic way to render the item detail

itemList.html
`{#itemDetail itemId='1'}
{item.quantity} {item.unit}
{/itemDetail}`

itemList2.html
`{#itemDetail itemId='2'}
{item.quantity} ({

[2021-07-21 10:05] geoand commented on #17767
I tested the application with a REST endpoint and indeed the log file was empty. When I removed the custom gradle configuration you have for logging, everything worked as expected

[2021-07-21 10:07] gsmet commented on #18884
/cc @aloubyansky

[2021-07-21 10:11] geoand commented on #18885
Can you add a reproducer project please?

[2021-07-21 10:17] aloubyansky commented on #18884
This should be fixed with https://github.com/quarkusio/quarkus/pull/18813

[2021-07-21 10:17] #18884 closed

[2021-07-21 10:20] Sgitario commented on #18884
I built Quarkus upstream by myself locally today (including the commit you mention) and didn't work for me...

[2021-07-21 10:26] sberyozkin commented on #18818
@joggeli34 That said, may be we should check with Pedro @pedroigor first - perhaps some configuration is also possible

[2021-07-21 10:29] stuartwdouglas commented on #18299
The only thing 'stale' about them is that they have the old TCCL. Trying to
attach a new event loop to an existing connection is not really possible
without ltd of much more complex and invasive changes that likely would not
be accepted into Netty.

Stuart

On Wed, 21 Jul 2021, 7:48 pm Sanne Grinovero, ***@***.***>
wrote:

[2021-07-21 10:31] pilhuhn opened #18887 "Quarkus continuous test mode hides server output"
### Describe the bug

I am using the new continuous test mode, which is awesome.
Now when I work on some test-driven coding, I write a test, write the code and then Quarkus runs my test and shows me that my code is not working:

[code]

But it hides the internal error message that the server would produce, which would help me understand why my code fails.

E.g. when I trigger the same rest-test no

[2021-07-21 10:31] Sanne commented on #18299
@stuartwdouglas today I'm looking at leaks again, and it seems even setting the `vertx.disableTCCL` doesn't prevent various instances of `io.quarkus.bootstrap.classloading.QuarkusClassLoader` being leaked, a different one being held by each `VertxThread`.   I suppose this suggests that `tryCleanTccl` isn't working anymore.

[2021-07-21 10:34] pilhuhn opened #18888 "Continuous testing fails to pick up if there is initially no test"
### Describe the bug

Start writing Quarkus code, but have no test yet.
Run `mvn quarkus:dev`. The continuous test options line is shown

Now add a test and type 'r'un in the console, the test is not picked up.
One has to stop Quarkus and re-run `mvn quarkus:dev`.
From there on, tests (at least in the exiting test class) are picked up correctly

### Expected behavior

_No response_

### Actual beh

[2021-07-21 10:34] aloubyansky commented on #18884
Yes, this means the CLI version is 999-SNAPSHOT. But now that the registry client is enabled, the project it generates is the one recommended by the registry.quarkus.io. Which is currently 2.0.2.Final. And this what you were trying to launch with quarkus:dev. Changing the plugin's groupId to `io.quarkus` in the generated project will fix it.

[2021-07-21 10:55] #18294 closed

[2021-07-21 10:59] Sgitario commented on #18884
Thanks for the clarifications!

[2021-07-21 11:00] Sgitario commented on #18883
Thanks for your reply @stuartwdouglas . I've found the issue (not in Quarkus). Closing.

[2021-07-21 11:00] #18883 closed

[2021-07-21 11:03] Sanne commented on #18299
The problem with `tryCleanTccl` seems to be that each of the many "rest tasks" it is scheduling for execution via `executeBlocking` is actually going to be executed on a single, sole thread as a new context is created for the first task, and then associated with the current thread.  I'll try to see what alternatives vertx offers.

[2021-07-21 11:04] pokusak opened #18890 "Graceful shutdown of keep-alive connections"
### Description

Currently there is support for graceful shutdown implemented in [io.quarkus.vertx.http.runtime.filters.GracefulShutdownFilter ](https://github.com/quarkusio/quarkus/blob/2.1/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/filters/GracefulShutdownFilter.java) it waits for all requests to finish and only then (except timeout) terminate the application. This

[2021-07-21 11:07] ferencbeutel4711 commented on #18885
hi geoand,

sure, no problem. You can find it here: https://github.com/ferencbeutel4711/repro-18885

just run it with quarkusDev, after roughly 15 seconds you will see the exception.

[2021-07-21 11:17] gsmet commented on #18890
@stuartwdouglas looks like something for you.

[2021-07-21 11:19] gsmet commented on #18839
This is in not the version of Maven but of `maven-aether-provider`. This is a different artifact with a different lifecycle: https://search.maven.org/artifact/org.apache.maven/maven-aether-provider .

[2021-07-21 11:19] #18839 closed

[2021-07-21 11:20] gsmet commented on #18831
Is it really something we want? We already support two formats, I'm not sure a third one will serve us.

@geoand @stuartwdouglas WDYT?

[2021-07-21 11:21] #18845 closed

[2021-07-21 11:24] geoand commented on #18831
I'm definitely not in favor of it, but I don't think I'll loose any sleep over it, as long as there is no runtime performance implications if I don't use it

[2021-07-21 11:30] gsmet commented on #18817
I think you should prepare a small project showing what you're doing with these classes exactly.

This way, we could decide if the APIs need to evolve with a proper use case.

[2021-07-21 11:35] michalszynkiewicz commented on #18777
I will fix it, hopefully today. I have something that should work but one of the tests is failing ATM ;)

[2021-07-21 11:35] gsmet commented on #18787
I'm pretty sure it's an issue with your environment. I don't know from where `-Xmx2048m -XX:MaxPermSize=512m` is coming but it should be a path. Didn't you mix JAVA_OPTS and JAVA_HOME or something similar?

[2021-07-21 11:36] geoand commented on #18885
Thanks!

I don't know much about Quarkus, but I'll have a look anyway. If I can't figure it out, I'll pull in others who have actually worked in this area.

[2021-07-21 11:39] gsmet commented on #18782
I don't see any uberjar config in the attached project?

[2021-07-21 11:42] gsmet commented on #18776
@michalszynkiewicz @ozangunalp @cescoffier could one of you investigate this one? There's a good chance we might need Stuart here but let's at least investigate a bit what's going on and if it's still an issue with current main.

[2021-07-21 11:42] radcortez commented on #18831
This can go to the quarkiverse config extensions: https://github.com/quarkiverse/quarkus-config-extensions.

[2021-07-21 11:43] gsmet commented on #18746
Yeah, this will be fixed by 2.0.3.Final.

[2021-07-21 11:43] #18746 closed

[2021-07-21 11:44] gsmet commented on #18746
PR is here: https://github.com/quarkusio/quarkus/pull/18675

[2021-07-21 11:46] gsmet commented on #18742
Yeah I wouldn't be surprised if the issue was in Vert.x given what I've seen in our code.

[2021-07-21 11:49] gsmet commented on #18737
I confirm I get the warning by running `mvn clean install` with the reproducer.

@Sanne does it ring a bell? Do you know who would be the right person to look at this?

[2021-07-21 11:50] gsmet commented on #18722
So should we do something about this? I'm leaning towards closing this one as I don't think we have a lot of community users still on 1.11.

[2021-07-21 11:51] gsmet commented on #18721
I'm closing this one for now. Please reopen with a reproducer once you have it. Thanks!

[2021-07-21 11:51] #18721 closed

[2021-07-21 11:53] gsmet commented on #18706
@geoand did you do it in the end?

[2021-07-21 11:55] geoand commented on #18706
Good think you mentioned it!

I did in https://github.com/quarkusio/quarkus/pull/18758.

So I'll close this. Please reopen if the issue persists with `2.1.0.Final`

[2021-07-21 11:55] #18706 closed

[2021-07-21 11:55] gsmet commented on #18685
Maybe you could try adding `quarkus.datasource.jdbc.validation-query-sql=select 1` to your `application.properties`?

[2021-07-21 11:56] simon-hlx commented on #17767
Which custom gradle configuration you removed ?
Cause me i add nothing come from the "starter code" from quarkus

[2021-07-21 11:57] geoand commented on #17767
I removed any logging related stuff from the reproducer mentioned in https://github.com/quarkusio/quarkus/issues/17767#issuecomment-866011229

[2021-07-21 11:57] zakkak commented on #18722
It might be worth changing `1.11` branch to use the mandrel builder-image instead of graalvm.

Other than that +1 on doing nothing about it

[2021-07-21 12:00] geoand commented on #18885
The easy workaround for now is to add: `quarkus.arc.dev-mode.monitoring-enabled=false` you `application.properties`. More information about this can be found [here](https://quarkus.io/guides/cdi-reference#quarkus-arc_quarkus.arc.dev-mode.monitoring-enabled).

[2021-07-21 12:20] geoand commented on #18885
It looks like Arc should not be trying to create a proxy in this case, but in any case that's one for @mkouba

[2021-07-21 12:21] 01epa commented on #18817
I can't share my code since it is a proprietary. I will try to explain. We have several quarkus microservices which may be used with different security configurations. The most major one is to use/accept tokens from Keycloak identity-provider. On keycloak there are a lot of users/clients on different realms. Thus we have a dynamic tenant resolver for that.
The second configuration is vault. There

[2021-07-21 12:24] 01epa commented on #18817
Actually what I want is to have access to these classes and remove the workaround `quarkus.test.flat-class-path=true` and have a support of continius testing.

[2021-07-21 12:28] machi1990 commented on #18885
@geoand sure you do :-)

Anyway, thanks for having a look at the issue.

[2021-07-21 12:29] geoand commented on #18885
Haha, I meant Quartz :P

[2021-07-21 12:38] sjaakd commented on #18763
I understand.. but I think the behavior on JBOSS looks different that in Quarkus (our validators are shared). That is portability issue. I'll check if I can adapt in JBOSS as well. I can't find where, but I read somewhere that the advice was to use `@ApplictionScoped` on custom validators.

Besides this example, I could not get non `@ApplicationScoped` validators to function earlier.

[2021-07-21 12:39] sjaakd commented on #18763
I would really like to, but https://github.com/quarkusio/quarkus/issues/18587 is blocking me.

[2021-07-21 12:40] FroMage commented on #18565
I added a preliminary fix in SR-CP at https://github.com/smallrye/smallrye-context-propagation/pull/299 because I actually get an exception myself, before I get this warning, so it's more severe. Then I'll fix the warning too in Quarkus in https://github.com/FroMage/quarkus/pull/new/18565

[2021-07-21 12:43] Sanne commented on #18763
I really don't know about that, but I'd suggest to trust @gsmet over other random suggestions as he's the project lead for Hibernate Validator and also responsible for its maintenance in JBoss server ;-)

[2021-07-21 12:50] jerboaa commented on #18722
+1

[2021-07-21 13:03] ia3andy opened #18895 "Add stable/preview flag in platforms releases"
### Description

For now we can only rely on the naming `Final/CR1` to find out if it's a stable or a preview release. It would be nice to introduce a flag for this

### Implementation ideas

_No response_

[2021-07-21 13:04] ia3andy commented on #18895
cc @gastaldi @aloubyansky

[2021-07-21 13:11] sberyozkin commented on #18447
@stuartwdouglas Can you check please if you can reproduce ? I'm getting it all the time in Dev UI for Keycloak

[2021-07-21 13:28] gsmet commented on #18763
Well, `@ApplicationScoped` is recommended **IF** your bean can be shared as you then have only one instance.

It's definitely not recommended if you need different `ConstraintValidator` beans.

[2021-07-21 13:44] ozangunalp commented on #18776
I can reproduce this with the current main on Java 11.

[2021-07-21 13:45] GavinRay97 commented on #18792
Ah -- is the:
[code]

Pulling in `rest-client` as well? 😬
Will check something, one moment

[2021-07-21 13:46] michalszynkiewicz commented on #18776
I'm a bit surprised the SSE endpoint stays alive (and stuck) on reload...

[2021-07-21 13:46] geoand commented on #18792
Yup

[2021-07-21 13:59] GavinRay97 commented on #18792
Oh man, big no-no crossing the streams like that 🙈
I thought it was pulling in generic `mutiny` operators for either of the `rest-client`/`rest-client-reactive` implementations.

Whoops.

Let me remove and test again, thank you for that piece of info 🤦 🙏
[code]

[2021-07-21 14:15] fedinskiy commented on #18103
@Sanne is there any plans for a guide for Hibernate Reactive without Panache?

[2021-07-21 14:19] michalszynkiewicz commented on #18776
I see the SSE endpoint, after restart, still uses the old classloader.
The endpoint to feed movies uses the new classloader.

I think that's the issue. I will try to dig into it a bit further.

[2021-07-21 14:19] GavinRay97 commented on #18792
@geoand Yeahhh, that did the trick. Closing -- Thanks once again friend. 🤦

[2021-07-21 14:19] #18792 closed

[2021-07-21 14:25] geoand commented on #18792
Glad to hear it.

Yeah, I was thinking of the same thing. I'll open a draft and see it how it goes

[2021-07-21 14:40] jtama commented on #12680
@geoand  why exactly won't the okhttp version be updated ? https://github.com/quarkiverse/quarkus-minio/actions/runs/1047560127 is caused by this deprecated version. Is there any thing I can help to update the version ?

[2021-07-21 14:40] edeandrea opened #18900 "quarkus-smallrye-openapi property quarkus.smallrye-openapi.operation-id-strategy doesn't work"
### Describe the bug

The `quarkus.smallrye-openapi.operation-id-strategy` property provided by the `quarkus-smallrye-openapi` extension doesn't seem to work.

### Expected behavior

In my `application.properties` file if I set  `mp.openapi.extensions.smallrye.operationIdStrategy=METHOD`, when I download the openapi document I do see the `operationId` element in each section

### Actual behavior

[2021-07-21 14:42] gastaldi commented on #12680
Because AFAIK the Kubernetes Client extension needs the older version and won't work with the latest and greatest (see  https://github.com/quarkusio/quarkus/issues/12680#issuecomment-734410520).

[2021-07-21 14:52] geoand commented on #18900
I wonder if the problem is that we use `operationIdStrategy` as the suffix when setting the system property instead of `operation-id-strategy`

[2021-07-21 14:57] phillip-kruger commented on #18900
@edeandrea - The Guide (https://quarkus.io/guides/openapi-swaggerui#auto-generation-of-operation-id) does say that it should be set as `mp.openapi.extensions.smallrye.operationIdStrategy=METHOD`

This is a MicroProfile Property (that we have not mapped to quarkus)

[2021-07-21 14:58] phillip-kruger commented on #18900
Wait, we did. And that is the problem right ?
https://quarkus.io/guides/openapi-swaggerui#quarkus-smallrye-openapi_quarkus.smallrye-openapi.operation-id-strategy

Ok I will have a look

[2021-07-21 14:59] phillip-kruger commented on #18900
What version of Quarkus  are you using ?

[2021-07-21 14:59] geoand commented on #18900
Exactly: https://github.com/quarkusio/quarkus/blob/2.1.0.CR1/extensions/smallrye-openapi-common/deployment/src/main/java/io/quarkus/smallrye/openapi/common/deployment/SmallRyeOpenApiConfig.java#L159

[2021-07-21 15:00] edeandrea commented on #18900
2.0.2.Final

[2021-07-21 15:03] phillip-kruger commented on #18900
Thanks. I'll have a look a.s.a.p

[2021-07-21 15:10] edeandrea commented on #18900
@geoand I'll try this in a bit and report back

[2021-07-21 15:13] geoand commented on #18900
@phillip-kruger I found another issue with how the mapping is done. I will send a PR that will likely conflict with whatever fix you come up with, so I'll just rebase it when you are done.

[2021-07-21 15:18] phillip-kruger commented on #18900
@geoand :
I am planning to move to `RelocateConfigSourceInterceptor` now that it's available. Like we have done for GraphQL: https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLConfigMapping.java

[2021-07-21 15:19] geoand commented on #18900
Excellent. Then that will fix the issue I found as well :)

[2021-07-21 15:25] edeandrea commented on #18900
I wish the browser didn't prompt me to download the openapi...i guess that's because its in yaml format and not json?

@geoand setting `quarkus.smallrye-openapi.terms-of-service=blah` does not seem to work.

[2021-07-21 15:26] geoand commented on #18900
OK, thanks

[2021-07-21 15:34] languitar opened #18903 "DefaultBean with generics cannot be overridden for specific type"
### Describe the bug

Given the following example kotlin code:

[code]

### Expected behavior

`stringSerialize` should be used and the application does not end in a RuntimeException

### Actual behavior

`catchAllSerializer` is used.

I would also be happy to drop `catchAllSerializer` completely but in that case resolution fails.

### How to Reproduce?

This only seems to happen in case the produ

[2021-07-21 15:43] michalszynkiewicz commented on #18776
I see this behavior (keeping the old/pre-reload classloaders on SSE endpoints if the call is in progress when the app is reloaded) also without kafka. I don't know enough about the server part of RestEasy Reactive to fix it quickly, I think.

[2021-07-21 15:44] #18777 closed

[2021-07-21 15:51] geoand commented on #18777
Is there a PR that closed this?

[2021-07-21 15:56] michalszynkiewicz commented on #18777
https://github.com/quarkusio/quarkus/pull/18892

[2021-07-21 16:33] Sanne opened #18911 "dev-mode Classloader leaks via the vertx blocking executor pool"
### Describe the bug

The code in https://github.com/quarkusio/quarkus/blob/fadd877ddbe5dd32c57b0a2b67a342367714f7dd/extensions/vertx-core/runtime/src/main/java/io/quarkus/vertx/core/runtime/VertxCoreRecorder.java#L129 isn't really doing what it's supposed to do as all tasks being passed to `executeBlocking` are being run within the same context, and with ordering requested so they are guaranteed

[2021-07-21 16:39] Sanne commented on #18103
yes sure, but it's still experimental.

[2021-07-21 16:42] Sanne commented on #18737
Interesting, thanks I'll have a better look tomorrow.

[2021-07-21 16:51] pmlopes commented on #18742
While the `SELECT` command is explicit about "single" and "cluster": https://redis.io/commands/select modes, nothing is stated about "sentinel". For this reason, the vertx client did not consider the db in the connection. Users can manually issue a "SELECT 9" to overcome the current limitation.

Meanwhile, a new issue should be added upstream to track the support for allowing db selects in sentine

[2021-07-21 16:52] cescoffier commented on #18776
A workaround could be to turn off the hot reload using instrumentation.

But during the hot reload, it should cut the SSE connection. It's up to the client side to reconnect.

[2021-07-21 16:54] vsevel commented on #18360
I removed the `-XDstringConcat=inline` param. I executed 2 runs for each graalvm version. it seems there is an improvement for memory consumption (going from 6Gb to 5). for compilation time there may be an improvement, but it is less obvious: I got 146 and 137 secs for 21.1, and 128 and 138 secs for 21.2:

[code]

[2021-07-21 16:56] brunoborges commented on #18831
I'd settle with TOML support instead of XML/XSD, simply because maintaining the XSD for this use case could be cumbersome.

[2021-07-21 17:00] gsmet commented on #18831
Well, question is what does it bring vs how much effort will it be to maintain one more format. I personally have no strong opinion about this but we need to be careful as long term maintenance has a cost for anything we do.

[2021-07-21 18:32] brunoborges commented on #18831
If you support YAML already, then supporting TOML is a matter of adding an if statement somewhere where "if it is TOML, use this Jackson library to convert it to JSON Object".

[2021-07-21 18:58] gsmet commented on #18831
No it's not. We would need a specific extension for it as we don't want to bring the TOML data format dependency if we don't need it.

[2021-07-21 19:01] geoand commented on #18831
Furthermore, I don't think we even rely on Jackson for YAML support (although I didn't check this)

[2021-07-21 19:23] bdevreugd-vialis opened #18914 "QuarkusIntegrationTest: docker option --net=host not supported for windows"
In Quarkus 2.1.0 the docker run command has changed to bind to the host network instead. This property, however, is invalid on windows (and mac?). Nor does this work properly if the container is started from another container (for example on our gitlab runner).

https://github.com/quarkusio/quarkus/blob/d0555c781c15cbc684684b3d79f98f2507658a94/test-framework/common/src/main/java/io/quarkus/test/co

[2021-07-21 19:29] geoand commented on #18914
The suggestion is interesting, but I don't see how setting both hosts would solve the problem.

We could use test containers to launch the container, but I would really like to avoid that...

[2021-07-21 19:45] bdevreugd-vialis commented on #18914
The main issue right now is that it is rather hard to write a solution that fits all (windows / mac / linux / from within another container). So I though, why not use a solution that already supports all those (edge) cases.

Reason I added both connection strings was that an connection inside the testcontainer network is different then a connection from the host to a testcontainer.

Anyway, any ot

[2021-07-21 19:50] gsmet commented on #18831
BTW, I'm -1 for XML, +0 for TOML as several users asked for it IIRC.

[2021-07-21 20:31] michalszynkiewicz commented on #18560
So, JAX-RS says this:
[code]

So I think it should be applied to clients. @ronsigal @jamezp what do you guys think? How does it work in pure RESTEasy?

[2021-07-21 21:43] n1hility commented on #18879
@maxandersen that doesn't seem to fix it for me. It seems the issue is that jbang only edits .bashrc and not .bash_profile on my system.

[2021-07-21 21:46] stuartwdouglas commented on #18831
I am -1 for XML. If a user wants it as a quarkiverse extension and is prepared to maintain it then that is fine, but I don't think we should be spending any time on it.

I also don't know how you would go about mapping all our config to an XSD.

[2021-07-21 22:11] stuartwdouglas commented on #18887
Press [o] to trigger test output, or use `quarkus.test.display-test-output=true` to always display it.

We hide it by default to avoid cluttering the console with massive amounts of noise, but maybe we should display the captured output when there is a failure like we do in the Dev UI.

[2021-07-21 22:51] maxandersen commented on #18879
Doh. You are probably right.

https://github.com/jbangdev/jbang/issues/930

Issue is OS X built in terminal behaves differently than anything else.

@quintesse you got a chance to make a pr for that ?

[2021-07-21 23:17] stuartwdouglas commented on #18817
So you want to be able to verify a JWT token from the currently selected tenant?
We could probably supply an API just for that. The problem with just marking this class public is that we don't consider what you are doing supported, so we may break it in future with no warning.

If we can nail down the use cases that you need this class for we can possibly provide a documented API for it.

cc @sber

[2021-07-22 00:35] #18911 closed

[2021-07-22 00:47] stuartwdouglas commented on #18888
I think this is a duplicate of https://github.com/quarkusio/quarkus/issues/18795

Basically if src/test was not present when the process was started it was not monitored.

[2021-07-22 00:47] #18888 closed

[2021-07-22 00:50] stuartwdouglas commented on #18859
Isn't GRPC layered on Netty though rather than the Vert.x HTTP layer?

[2021-07-22 00:53] stuartwdouglas commented on #18299
Yea, tryCleanTccl was introduced for Vert.x 3, changes for Vert.x 4 seem to have broken it.

[2021-07-22 01:05] stuartwdouglas commented on #18887
I will make this part of the prompt to make it more obvious

[2021-07-22 02:49] stuartwdouglas commented on #18673
Did this work?

[2021-07-22 03:00] #1016 closed

[2021-07-22 03:29] stuartwdouglas commented on #1461
We have mvn quarkus:generate-config, I think this is out of date.

[2021-07-22 03:29] #1461 closed

[2021-07-22 03:40] stuartwdouglas commented on #1850
quarkus.native.additional-build-args should handle this.

[2021-07-22 03:40] #1850 closed

[2021-07-22 03:51] stuartwdouglas commented on #3461
Done.

[2021-07-22 03:51] #3461 closed

[2021-07-22 04:08] stuartwdouglas commented on #3606
This is likely addressed by https://github.com/quarkusio/quarkus/commit/54af257ec4b1a101669554744b6452fcfa3f4540

[2021-07-22 04:08] #3606 closed

[2021-07-22 04:10] stuartwdouglas commented on #2966
We have encrypted cookie support as part of FORM auth, which does a similar thing but without needed any state on the server.

[2021-07-22 04:10] #2966 closed

[2021-07-22 04:37] #18890 closed

[2021-07-22 04:56] geoand commented on #18914
Right, I understand the rationale and definitely appreciate the input!

I have another idea that would be simpler to implement and hopefully would cover all cases.
I'll work on it today and see how it goes

[2021-07-22 05:24] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1054982469

[2021-07-22 06:05] cescoffier commented on #18859
Ah yes, it's a Vert.x server, but it delegates to Netty directly. We wanted to have a pure Vert.x transport.

[2021-07-22 06:29] pokusak commented on #18890
@stuartwdouglas thanks for very quick reaction. May be I am wrong here but is placement of your fix right? Of course when 503 is returned it doesn't hurt to add Connection: close. But this is case of completely new connection. I was mainly thinking about existing connections which are open with keep alive. Once current request in such connection is done it should be closed by Connection: close hea

[2021-07-22 06:33] mkouba commented on #18858
So it was fixed in a way that the bean archive index ignores the `IndexView.getClassByName(DotName)` queries for array-based dot names, i.e. these warnings are not diplayed anymore. Whether it's ok or not depends on the actual use case, i.e. an extension should not attempt to obtain a class for an array type.

[2021-07-22 06:34] stuartwdouglas commented on #18890
responseDoneHandler is called when the response is done (i.e. has been sent to the client). You can't add a header to the connections that are currently being processed, they are likely being processed by different threads so any attempt to modify the non thread safe header map from another thread would cause all kinds of problems, and in general tracking this is way more expensive than the the co

[2021-07-22 07:22] ozangunalp commented on #18776
I think it is off by default, and when I activate it using `quarkus.live-reload.instrumentation=true` I don't have the issue anymore.

[2021-07-22 08:35] mkouba commented on #18885
Ok, so the exception comes from the `org.quartz.simpl.SimpleJobFactory` which attempts to instantiate a `TestJob_Subclass` via a no-args constructor but the subclass obviously does not declare a no-args constructor. It probably works with  `quarkus.arc.dev-mode.monitoring-enabled=false` because the original class is transformed with the `allopen` plugin (because in fact the `HouseKeepingJob` class

[2021-07-22 08:40] geoand commented on #18885
So should we close this @mkouba ?

[2021-07-22 08:40] pilhuhn commented on #18887
Thank you Stuart!

[2021-07-22 08:50] pjgg opened #18927 "Add `fail on empty beans` jackson mapper property to application properties"
### Description

By default Jackson mapper `FAIL_ON_EMPTY_BEANS` is set to `true`. Would be great to be able to set this property to `false` through an application property as we do with other Jackson mapper properties:

quarkus.jackson.fail-on-unknown-properties
quarkus.jackson.write-dates-as-timestamps
quarkus.jackson.accept-case-insensitive-enums
quarkus.jackson.timezone

In this way, we could

[2021-07-22 08:51] mkouba commented on #18885
I'd like to close this issue if (1) @ferencbeutel4711 is happy with the workaround, or (2) migration to `quarkus-quartz` would solve the problem.

[2021-07-22 09:04] radcortez commented on #18831
We did the work to support TOML in SR Config, but we never merged it because recently we didn't have people asking for it, so we didn't worry about it: https://github.com/smallrye/smallrye-config/pull/497

[2021-07-22 09:05] ppalaga commented on #8646
@jamesnetherton adapted our nightly Quarkus Main job to always use the same issue. It is this one: https://github.com/apache/camel-quarkus/issues/2926

How can it now be wired with status.quarkus.io? I guess you need to watch it on your side?

[2021-07-22 09:27] mkouba commented on #18886
No, this is currently not possible because the `nested-content` is actually a parameter that is evaluated _before_ the user-defined tag is executed. In fact, `{#itemDetail itemId='1'}foo{/itemDetail}` could be rewritten as `{#itemDetail itemId='1' nested-content='foo'}`.

In theory, you can pass the nested content as a string and use the [eval section](https://quarkus.io/guides/qute-reference#eval

[2021-07-22 09:34] michalszynkiewicz commented on #18776
Yes, that's what we do with gRPC streams.

@geoand @FroMage @stuartwdouglas can one of you give some pointers on implementing this or take a look at it himself?

[2021-07-22 09:39] geoand commented on #18776
Pointers for which part exactly?

[2021-07-22 09:43] michalszynkiewicz commented on #18776
good question :D It seems we miss closing an SSE connection on the app reload.
I don't know how it's implemented but we may need some way to gather such connections when in dev mode

[2021-07-22 09:45] geoand commented on #18776
That's one for @FroMage

[2021-07-22 10:05] michalszynkiewicz commented on #13660
Note: It should work fine with rest-client-reactive.

[2021-07-22 10:07] pokusak commented on #18890
Sorry for being so stubborn. How will this affect currently open connections with http keep alive? Those connections are open and clients are allowed to send requests through them. (Clients are not aware of running shutdown.)
Case I am trying to describe might be like this:

1. Quarkus application deployed to Kubernetes.
2. Clients are using http keep alive
3. Cluster needs to move pod so sends SI

[2021-07-22 10:11] ferencbeutel4711 commented on #18885
Hi @mkouba, thanks for your reply.

I am pretty sure we are using the `quarkus-quartz` dependency in the repro repo as seen here:

[code]
https://github.com/ferencbeutel4711/repro-18885/blob/master/build.gradle#L14

Also, I dont understand what changed from 12.x -> 13.x that caused this issue to arise.

From my understanding, in the quarkus-quartz extension, there is the `InvokerJobFactory`, which

[2021-07-22 10:16] geoand commented on #18885
This is happening for the reason I explained above about the moniroting functionality Arc added.

@mkouba the issue is that if monitoring is disabled, everything works as expected. If not, Arc is not resolving the job this leading to the failure of the default implementation

[2021-07-22 10:19] lthasle commented on #18560
It applies only to the Container(reactive) now. It would be nice if also would be applied to the client, to be consistent

[2021-07-22 10:36] mkouba commented on #18885
I see. Well, the problem is that the job class is determined using the `this::class.java` which is really `HouseKeepingJob_Subclass` (and will be an subclass instance for any intercepted bean). One way to fix this problem is to detect an ArC subclass via ` io.quarkus.arc.Subclass.isAssignableFrom(jobClass)` and if so, then simply use the result of `java.lang.Class.getSuperclass()`.

Exactly, but k

[2021-07-22 10:38] geoand commented on #18885
Should I assign this to you @mkouba ?

[2021-07-22 10:45] brunobat commented on #17622
The smallrye issue was solved and it would be nice to include the fix in the next quarkus...

[2021-07-22 10:51] leonidr commented on #15133
@queencge  - I am having the same RESTEASY004530 with JAX-RS interface based proxy client in native image. Have you been able to overcome it?

[2021-07-22 10:59] michalszynkiewicz commented on #15133
@leonidr does your library with client provide a jandex index?

If yes, can you please attach a whole reproducer, client library sources  + the sources of the project that uses it?

[2021-07-22 11:12] Ladicek commented on #18195
Addressed the 1st item in #18908.

[2021-07-22 11:57] quintesse commented on #18879
@maxandersen sure, but you'll have to test it, no Mac here :-)

See jbangdev/jbang#966

[2021-07-22 12:11] mkouba commented on #18885
I've just sent a PR - you can mimic [this logic](https://github.com/quarkusio/quarkus/pull/18931/files#diff-c639bfa620c120ae00ffdef3e0c3ef8dfc051f4f305c818a8691edb8e4c0bd31R493-R496) as a workaround.

[2021-07-22 12:18] ferencbeutel4711 commented on #18885
hey guys, thank you so much for the quick fix and great work in general on this issue, it is much appreciated :)

[2021-07-22 13:35] geoand commented on #18914
I used some of your ideas to open https://github.com/quarkusio/quarkus/pull/18933.

Thanks for the input

[2021-07-22 13:52] gsmet commented on #18763
@sjaakd I created https://github.com/quarkusio/quarkus/pull/18935 to clarify this. Thanks for the report!

[2021-07-22 13:55] phillip-kruger commented on #18900
@edeandrea - Above PR will fix the issue, I also added a test case for all mappings to make sure this says in tack. Thanks :)

[2021-07-22 13:57] edeandrea commented on #18900
@phillip-kruger Thanks for taking care of this so quickly! Any idea what Quarkus version we might see this? 2.0.x? 2.1.x?

[2021-07-22 14:00] phillip-kruger commented on #18900
We should be able to backport this, so I'll add the `backport` label. I think that means we should see it in 2.1.1 (as we already missed 2.1.0)

[2021-07-22 14:09] edeandrea commented on #18900
No chance of a 2.0.x?

[2021-07-22 14:12] kenfinnigan opened #18937 "Deactivating Micrometer default binders"
### Describe the bug

It's not possible to deactivate the default Micrometer binders with a single property.

### Expected behavior

Should be able to set:

[code]

### Actual behavior

Needed to set:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No respon

[2021-07-22 14:21] geoand commented on #18900
I would say 0️⃣ . We don't maintain multiple streams. Once `2.1.x` is out, it's the end of `2.0.x`

[2021-07-22 14:22] phillip-kruger commented on #18900
I am also not sure if there will be another 2.0.x release....

[2021-07-22 14:22] edeandrea commented on #18900
But 2.1 isn't out :)

[2021-07-22 14:25] geoand commented on #18900
You think 😉

[2021-07-22 15:43] jamezp commented on #18560
@maciejwalkowiak They are discovered if the client runs in the container. Outside the container I don't think things are auto-discovered.

[2021-07-22 16:22] vsevel opened #18941 "NoSuchElementException in RuntimeUpdatesProcessor if no tests are present in multi module in dev mode"
### Describe the bug

If a module contains no test, dev mode prints out the following exception while running the tests:

[code]

The issue is with this code:
[code]

In the described situation we have `s.getTest()` being _empty_. As such the `get()` will end up with the `NoSuchElementException`.

An easy workaround is to create at least a `src/main/java/.../EmptyTest.java`.

### Expected behavior

[2021-07-22 16:23] vsevel commented on #18941
/cc @stuartwdouglas

[2021-07-22 16:41] Sanne opened #18942 "Should start a single Vertx instance, or guarantee unique thread names"
### Describe the bug

When starting Quarkus in dev mode, there are two independent Vert.x engined started:

1. One by `VertxCoreRecorder#initialize` triggered by `ResteasyStandaloneRecorder`
2. One by `DevConsoleProcessor#initializeVirtual`.

This doesn't seem efficient (is it necessary?) and is extremely confusing, as both instances are starting threads which have overlapping names; so for exampl

[2021-07-22 16:49] Sanne opened #18943 "dev-mode Classloader leak via Vert.x internal worker pool"
### Describe the bug

This is similar to #18911, but it turns out Vert.x has an additional internal pool which is keeping hold of previous classloaders: these threads are lazily started (so easy to miss in a simple app) and follow the naming scheme `vertx-internal-blocking-` N

### Expected behavior

We should reset these as well.

[2021-07-22 16:52] gsmet commented on #18587
Mkay, I had some fun debugging this one. AFAICS, it's an issue in Swagger UI, a ton of person are complaining here: https://github.com/swagger-api/swagger-ui/issues/4650 .

I was able to make it work by tweaking the OpenAPI document like so:
[code]

This important part is this section:
[code]

Problem is: AFAICS, there is no way to define the `xml` part with annotations. @phillip-kruger am I missi

[2021-07-22 16:55] gsmet commented on #18941
Can you test with 2.1.0.Final and see how it goes? (only the core artifacts have been released so use the quarkus-bom, 2.0.3.Final might also have a fix)

[2021-07-22 18:26] barreiro commented on #18797
Is debatable that this a non recoverable error. I certainly get your arguments, but in Agroal the security is pluggable and every time a new connection is requested the security layer is queried for principal and credentials. There are scenarios where these change over time and Agroal is designed to deal with it.

The health check should not succeed though, as it won't be able to get a connection

[2021-07-22 18:40] stuartwdouglas commented on #18942
The additional Vert.x runs on the -deployment side, and is loaded by a different ClassLoader.

Basically this is how you can invoke functions in the -deployment part of Quarkus from a HTTP request handled by the runtime part, a virtual channel proxies the request to the vert.x instance in -deployment.

[2021-07-22 18:42] stuartwdouglas commented on #18942
It does not look like there is any way to change the thread names.

[2021-07-22 18:50] #18885 closed

[2021-07-22 18:58] stuartwdouglas commented on #18941
Looks like a duplicate of https://github.com/quarkusio/quarkus/issues/18796

[2021-07-22 19:02] stuartwdouglas commented on #18890
Basically what happens is:

- Shutdown grace period the readiness check is changed to report that the pod is no longer ready, requests are still processed as normal
- After the grace period any currently running requests (not connections) are allowed to finish
- Any request that is received at this point is rejected, even if it is an existing connection

[2021-07-22 19:24] survivant opened #18949 "Migration 1.13.7.Final to 2.0.3.Final : Exception in thread "main" java.lang.AssertionError"
### Describe the bug

I'm trying to migrate my application to Quarkus 2.  It's could be possible that I have dependency that was compiled with jdk 8.

My code compile and run fine with Quarkus 1.13.7.Final.

[compile-errors.log](https://github.com/quarkusio/quarkus/files/6864732/compile-errors.log)

[code]

Here my pom.xml
[code]

### Expected behavior

_No response_

### Actual behavior

_No resp

[2021-07-22 19:52] barreiro commented on #18737
The thing here is that Hibernate closes the connections on `BEFORE_COMPLETION` as well. After a little debugging is not yet clear to me if a second `Synchronization` is registered or not, and if it is, it's not clear that it runs.

[2021-07-22 19:59] #18927 closed

[2021-07-22 21:01] #18937 closed

[2021-07-23 00:03] stuartwdouglas commented on #10035
This is being added as a Quarkiverse extension here: https://github.com/quarkiverse/quarkus-logging-logback

[2021-07-23 02:26] stuartwdouglas commented on #10035
First release of quarkus-logging-logback is done, any issues report them on the quarkiverse repo.

[2021-07-23 02:26] #10035 closed

[2021-07-23 02:32] stuartwdouglas commented on #18949
This is a Javac bug, I think I have seen similar issues when you have invalid imports. Try compiling with JDK16 and see if it points out any issues in your code.

[2021-07-23 04:36] geoand commented on #18949
I've seen the same and it always came down to invalid imports as well

[2021-07-23 04:36] #18949 closed

[2021-07-23 05:24] vsevel commented on #18941
indeed. thanks.

[2021-07-23 05:24] #18941 closed

[2021-07-23 05:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1058588289

[2021-07-23 05:27] #18900 closed

[2021-07-23 05:34] lthasle commented on #18560
The ClientRequestFilter or ClientResponseFilter are also discovered in the resteasy classic(non reactive) case

[2021-07-23 05:50] aloubyansky opened #18954 "quarkus:dependency-tree fails on conditional dependencies unless they are present in the local repo"
### Describe the bug

Assuming the local repo does not contain the `io.quarkiverse.logging.logback` artifacts, create a project using `qs create -x logback -S 2.1` then

[code]
Building the project properly downloads the dependencies and then `quarkus:dependency-tree` works.

[2021-07-23 06:34] Sgitario opened #18956 "Regression: Can't connect to AMQP server (artemis) using either 2.1.0.Final or 999-SNAPSHOT"
### Describe the bug

We had a module using artemis and the Quarkus extension `quarkus-smallrye-reactive-messaging-amqp`.
When upgrading this module to use the latest Quarkus version to 2.1.0.Final (and also 999-SNAPSHOT), it stopped working because can't connect to artemis:

[code]

When using 2.0.3.Final, everything works fine. I could not find any relevant information in the migration guide abo

[2021-07-23 06:52] phillip-kruger commented on #18587
Hi @gsmet - I actually have no idea :) I can do some investigation at some point. Maybe @MikeEdgar knows ?

[2021-07-23 07:10] #17304 closed

[2021-07-23 08:08] lgtti commented on #18797
I can agree with your assertion, but i think you cannot assume that every configuration needs a lazy check.
It is correct to support deployments with lazy connection startup or dynamic configurations, but it is also correct to support static ones.

Adding a new configuration option, quarkus.datasource.lazy (true=fail on connection open at runtime, false=check the configuration at startup (make a s

[2021-07-23 08:22] sdaschner opened #18958 "MP Context ThreadContext isn't propagated properly with @RequestScoped"
### Describe the bug

The `ThreadContext` from MP doesn't reliably capture the context of beans that include a `@RequestScoped` bean.

Not sure if I'm missing something, but the example (that I've tested with other MP impls) described [here](https://blog.sebastian-daschner.com/entries/context-asynchronous-execution-bulkheads-microprofile) doesn't work with Quarkus.

### Expected behavior

_No resp

[2021-07-23 08:38] #18954 closed

[2021-07-23 09:30] Adelrisk commented on #18293
I also experienced this. My workaround: refactor the public fields into private fields with getters/setters.

The decisive combination seems to be:
- public field `parentField` in a class with `@MappedSuperclass` (extending `PanacheEntity` is not required)
- child class `ChildEntity` with `@Entity`
- given an instance of the child, access the public fields declared in the parent class.

This acces

[2021-07-23 09:47] #18943 closed

[2021-07-23 09:58] michalszynkiewicz commented on #15133
I'm quite certain this is the problem with non-indexed client interfaces.
Therefore I'm closing the issue.

If the linked instructions of adding dependencies to the index don't solve the problem, please reopen it with a full reproducer (or create a new one).

[2021-07-23 09:58] #15133 closed

[2021-07-23 10:11] michalszynkiewicz commented on #18392
Firstly, it's definitely not a bug.

`@RegisterRestClient` - the annotation that has the `baseUri` attribute - is a marker to make the client generated for the interface available as a CDI bean.
As such, in my opinion, it should not be taken into consideration when create the client programmaticaly (with ClientBuilder).

@geoand what's your opinion?

[2021-07-23 10:17] geoand commented on #18392
I agree with @michalszynkiewicz on this one. The way I see it, `@RegisterRestClient` is specific used for auto-registration of the interface and therefore anything specificied in it should be ignored when doing programmatic registration.

I propose we close this as `won't-fix`

[2021-07-23 10:22] michalszynkiewicz commented on #18548
@radcortez you have wrote the code that handles it, WDYT?
Looking at the linked Oracle doc, I'm not sure if they mean regex patterns there or just things like `*foo.com` and `bar*`. If we wanted to keep supporting regex, it seems not doable to differentiate between the regex and non-regex usage of trailing `*`...

Maybe we could replace leading `*` with `.*` and don't care about trailing ones?

[2021-07-23 10:28] hamburml opened #18962 "Vulnerability in netty-codec 4.1.65"
Our nexusIQ shows a violation in netty-codec.
The version 4.1.66.Final has none.

Issue: SONATYPE-2021-0789

[2021-07-23 10:32] michalszynkiewicz commented on #17807
1.5 months later, we have no reproducer. We have tests for similar configurations, I will close this issue. Please reopen if you find time to create a reproducer.

[2021-07-23 10:57] languitar opened #18963 "quarkus.kubernetes-config.secrets.enabled not explained on Kubernetes Config documentation"
### Describe the bug

The [configuration reference](https://quarkus.io/guides/kubernetes-config#configuration-reference) for kubernetes config does not list the property `quarkus.kubernetes-config.secrets.enabled`

### Expected behavior

Should be included in the property list on that page

### Actual behavior

Only mention in the explanations of another property

### How to Reproduce?

_No respon

[2021-07-23 11:05] geoand commented on #18963
cc @metacosm

[2021-07-23 11:15] #16895 closed

[2021-07-23 11:18] geoand commented on #18963
@machi1990 any idea why https://github.com/quarkusio/quarkus/blob/2.1.0.Final/extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigBuildTimeConfig.java#L14 isn't showing up on https://quarkus.io/guides/kubernetes-config#configuration-reference?

[2021-07-23 11:21] Sanne commented on #18942
Thanks for the explanation! I have a fix which seems to work fine.

[2021-07-23 11:25] MikeEdgar commented on #18587
You might try something like below. Note the dummy class to place an `@XmlRootElement` and the addition of the `schema` property to `@Content`. It's not ENTIRELY annotations since the dummy class is there...

[code]

[2021-07-23 11:30] machi1990 commented on #18963
From top of my head no, but I'll have a look at it in couple of hours. It is very suspicious.

[2021-07-23 11:30] geoand commented on #18963
Thanks!

[2021-07-23 11:32] radcortez commented on #18823
The issue is related with the method override you have from the base class to the inherited class. If you remove the override it works.

 I'll fix this, but I don't see a reason for an existing override. Can you please let me know your use case? Thanks!

[2021-07-23 11:43] gsmet commented on #18587
Ah thanks @MikeEdgar .

I can confirm the following diff fixes the issue:
[code]

[2021-07-23 11:43] #18587 closed

[2021-07-23 11:58] #18392 closed

[2021-07-23 12:23] sberyozkin commented on #18962
@hamburml Can you please send an email with more details to security@quarkus.io ? I'm not allowed to view that issue, thanks

[2021-07-23 12:24] geoand commented on #18962
cc @jviet as we bring in Netty as a transitive dependency of Vert.x

[2021-07-23 12:34] mschorsch commented on #18831
TOML support woule be great 😃

[2021-07-23 13:13] re-thc commented on #18962
https://github.com/netty/netty/pull/11429 is the related issue. Might not be relevant if not using LZ4 but nevertheless.

[2021-07-23 13:23] sophokles73 commented on #17266
How can I use `@Inject` to override the prefix? AFAIK the `Inject` annotation has no properties that would allow me to do so ....

[2021-07-23 13:30] machi1990 commented on #18963
I had a first look at there are couple of reasons for this:
- we are only including a partial configuration (quarkus-kubernetes-config-kubernetes-config-source-config.adoc) for the extension (BOOTSTRAP config root from the KubernetesConfigSourceConfig.java file). The one we are interested with is at: quarkus-kubernetes-config-kubernetes-config-build-time-config.adoc (also a partial generated outpu

[2021-07-23 13:42] machi1990 commented on #18963
@geoand I might have found the issue, the package name is `io.quarkus.kubernetes.client.runtime` for the https://github.com/quarkusio/quarkus/tree/main/extensions/kubernetes-config/runtime module. See https://github.com/quarkusio/quarkus/blob/main/extensions/kubernetes-config/runtime/src/main/java/io/quarkus/kubernetes/client/runtime/KubernetesConfigSourceConfig.java#L1 Since the name is derived f

[2021-07-23 13:44] geoand commented on #18963
Ouch... That is likely just my dumb mistake in naming the package

[2021-07-23 13:46] machi1990 commented on #18963
Okay, I'll prepare a PR to fix the issue.

[2021-07-23 15:09] #18942 closed

[2021-07-23 15:38] #18250 closed

[2021-07-23 15:50] radcortez commented on #18823
Requires https://github.com/smallrye/smallrye-config/pull/621.

[2021-07-23 16:21] radcortez commented on #18548
Actually the code is copy of `org.jboss.resteasy.microprofile.client.RestClientBuilderImpl`. I had to do it to remove some CDI references, so we didn't have to depend on RESTEasy CDI. The same code can be found in RESTEasy.

I was having a look into the JDK code and maybe we can just do the same thing. Check `sun.net.spi.DefaultProxySelector#toPattern` and `sun.net.spi.DefaultProxySelector#disjunc

[2021-07-23 16:29] radcortez commented on #17266
Sorry, I think I miss-typed :) I meant to say use `@ConfigMapping`.

Use both `@Inject` and `@ConfigMapping(prefix=[OVERRIDE])` to override the prefix.

[2021-07-23 16:34] kornys opened #18973 "Java OOM Java heap space when I use WithKubernetesTestServer annotation in unit test"
### Describe the bug

We use in our unit tests `@QuarkusTestResource(KubernetesServerTestResource.class)` and all unit tests works fine with this mocked kube server, but we want to have scope of mocked kube server per class instead of per module so we switched to `@WithKubernetesTestServer` which is equivalent to `@QuarkusTestResource(value = KubernetesServerTestResource.class, restrictToAnnotated

[2021-07-23 16:42] geoand commented on #18973
Does the same happen with `1.13.7.Final` or `2.0.3.Final`?

[2021-07-23 18:29] survivant opened #18975 "Wrong kafka host is reported in console : Error connecting to node broker:9092"
### Describe the bug

I'm using Quarkus 2.0.3.Final.  I added kafka dependency and I added those lines in application.properties and I didn't add any java classes to handle Kafka consumer/producer.  I found that I have error in loop in the logs.

I was also expecting the topics to be created when the application started

[code]

logs
[code]

I started my kafka broker with this docker-compose

[cod

[2021-07-23 19:22] kornys commented on #18973
@shawkins could we upgrade quarkus version? I think it will cause isseus because of operatorSDK, right?

[2021-07-23 19:44] shawkins commented on #18973
@kornys yes we are blocked.  A WIP was started by @metacosm but I'm not sure when it will get picked back up.

[2021-07-23 20:41] #18963 closed

[2021-07-23 20:47] markusdlugi opened #18977 "Reactive REST Client breaks Hibernate Reactive Transactions"
### Describe the bug

When combining the Reactive REST client with Hibernate Reactive, the Reactive REST client seems to break Context Propagation, leading to Hibernate Transactions not working as intended.

### Expected behavior

Using Reactive REST Client does not have any negative effects on Hibernate Reactive

### Actual behavior

Using Reactive REST Client will break Hibernate Reactive Transa

[2021-07-23 21:41] michalszynkiewicz commented on #17807
@radcortez do you know more about this issue?

[2021-07-23 21:48] radcortez commented on #17807
Sorry, I think I've opened this by mistake.

[2021-07-23 22:57] Sanne commented on #18977
The contract of 'sessionFactory.withSession() is to open a new session: the
Hibernate API does not make assumptions about scopes or contexts,
operations are explicit.

I guess we could make this clearer?

On Fri, 23 Jul 2021, 21:47 quarkus-bot[bot], ***@***.***>
wrote:

[2021-07-23 23:26] gavinking commented on #18977
WDYM, @Sanne?

`withSession()` will return the existing session associated with the current Vert.x context (if there is one).

But I'm not sure why calling the rest client would change the Vert.x context.

[2021-07-24 01:26] stuartwdouglas commented on #10362
So the issue here is that JAX-RS comes after the HTTP authentication layer. If you have configured HTTP level authentication then it will be run before the request has actually reached the JAX-RS layer.

We can't 'push up' the JAX-RS level constrains into the HTTP layer, because JAX-RS pre-matching filters can change the endpoint that the request is mapped to, so you can't be sure which endpoint w

[2021-07-24 01:42] stuartwdouglas commented on #17594
So we have had support for this for a while, but it was just mentioned in the config properties, and only just was added to the guide: https://github.com/quarkusio/quarkus/blob/04f2041a004256dd0ed0799655d3ed378a61c48a/docs/src/main/asciidoc/http-reference.adoc#9-running-behind-a-reverse-proxy

If you set these properties then the above solution should work for you, as Quarkus will parse these head

[2021-07-24 01:42] #17594 closed

[2021-07-24 01:59] stuartwdouglas commented on #17224
I just checked and this appears to no longer be an issue.

[2021-07-24 01:59] #17224 closed

[2021-07-24 02:01] stuartwdouglas commented on #4649
We mostly have this now with LiveReloadBuildItem.

[2021-07-24 02:01] #4649 closed

[2021-07-24 02:05] stuartwdouglas commented on #5332
@dmlloyd is this still an issue? I am not sure what it is referring too?

[2021-07-24 02:10] stuartwdouglas commented on #4872
We have continuous testing now, which has superseded this.

[2021-07-24 02:10] #4872 closed

[2021-07-24 05:21] markusdlugi commented on #18977
Yeah that's basically the question @gavinking. After the REST call returns the execution will resume on another event loop thread, but the session used to persist the entity is not in the context anymore.

After a good night's sleep I can also answer my own question:

When there is no transaction, the `session.persist(author)` call will immediately result in the entity being written to the databas

[2021-07-24 08:15] MarcusBiel commented on #10362
@stuartwdouglas quarkus.security.jaxrs.default-roles-allowed - sounds like a great improvement, since my lisr of public paths (quarkus.http.auth.permission.public.paths=) is getting longer and longer. Any idea in which version this will be available?

[2021-07-24 08:39] stuartwdouglas commented on #10362
Should be 2.2

[2021-07-24 09:04] gavinking commented on #18977
OK so perhaps there's some way to avoid that. TBH it looks wrong to me, it's not what happens with the Vert.x SQL client, so I don't see why it should happen with the REST client (but surely I'm missing some subtleties).

[2021-07-24 10:39] alainmucyo commented on #7451
No update on the issue?

[2021-07-24 19:52] garyhodgson opened #18980 "Quarkus Dev mode and Tests does not use effective pom when quarkus.bootstrap.effective-model-builder=true"
### Describe the bug

When using the [maven-profiledep-extension](https://github.com/sviperll/ozymandias/tree/master/maven-profiledep-extension) to compose the pom.xml via profiles, the quarkus tests fail to run. Also, the application fails to start in dev mode.

As the extension results in non-standard pom.xml files it is not unrealistic to expect to have to use the `quarkus.bootstrap.effective-m

[2021-07-24 20:37] garyhodgson opened #18981 "Alternate pom.xml ignored in Quarkus Dev mode and Tests if not specified with an absolute path"
### Describe the bug

Whilst investigating #18980 I encountered the problem that tests and dev mode do not seem to use the alternate pom when using the maven `-f` flag.

I attempted to use the flattened pom file generated by the [flatten-maven-plugin](https://www.mojohaus.org/flatten-maven-plugin), but this resulted in the same exceptions.

After further investigation I found out that the alternat

[2021-07-25 08:33] leonidr commented on #2148
@kenfinnigan  - debugging the RestClientProcessor i've found that the use case we ask for is blocked by isRestClientInterface method checking that there are no implementations of the interface  ==> "index.getAllKnownImplementors(classInfo.name()).isEmpty()"
I've seen that REST endpoint implementing such interface is registered with @Typed annotation scoped to endpoint implementing class only - e.g

[2021-07-25 09:40] gunnarmorling commented on #18594
Thx, can confirm adding a test brings back the dev mode input interface.

[2021-07-25 15:05] kenfinnigan commented on #2148
I believe it's a technical effort to investigate all the use cases and come up with a way that works for them all.

Please open a new issue if you would like it re-evaluated

[2021-07-25 18:04] jhautin commented on #18065
same with quarkus 2.0.3.Final and postgres. seems related to usage of postgres JDBC Driver.
[code]

[2021-07-25 18:30] mkouba opened #18982 "ArC - implement assignability rules for decorators delegate injection points according to the spec"
### Description

Decorator delegate injection points have a special set of rules for determining assignability of raw and parameterized types as defined in the spec:
https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#delegate_assignable_parameters

### Implementation ideas

_No response_

[2021-07-25 21:30] sjaakd commented on #18587
Thanks. I'll try the dummy class. I even think I have one at hand to do XML schema validation. But still strange that Swagger suddenly starts to validate requests / examples.

It should be a user choice though. The examples (after all) are under my own control. One of the scenarios could even be deliberately specifying an example with wrong XML on order for the service to detect this to demonstrat

[2021-07-26 00:02] stuartwdouglas commented on #4640
This should be fine now, there have been a lof of changes in the GraalVM SSL support since this issue was opened.

[2021-07-26 00:02] #4640 closed

[2021-07-26 00:03] stuartwdouglas commented on #5103
@Sanne is this an issue? I don't think we want to support other connection pools.

[2021-07-26 00:20] stuartwdouglas commented on #5548
We have a warning for this, and can fail if you set `quarkus.configuration.build-time-mismatch-at-runtime = fail`

[2021-07-26 00:20] #5548 closed

[2021-07-26 00:21] stuartwdouglas commented on #4396
We have worked around this by adding a test scoped dependency on the pom, I don't think there is much more we can do here.

[2021-07-26 00:21] #4396 closed

[2021-07-26 05:20] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1066218009

[2021-07-26 06:30] geoand commented on #18981
cc @aloubyansky

[2021-07-26 06:40] geoand commented on #18975
Can you try with the docker compose file we use with the [kafka-bare-quickstart](https://github.com/quarkusio/quarkus-quickstarts/blob/2.0.3.Final/kafka-bare-quickstart/docker-compose.yaml)?

[2021-07-26 06:44] geoand commented on #18973
Any change we can get a small project that reproduces the problem? Preferably without the operator-sdk involved

[2021-07-26 06:47] geoand commented on #18958
cc @FroMage

[2021-07-26 07:15] nastra commented on #18823
@radcortez thanks for fixing this. Our use case is: We define Base Config interfaces at a central place, which don't have any dependencies to Quarkus. Then we have a Quarkus-specific Config interface that extends this Base Config interface and just overrides the methods.

[2021-07-26 07:57] loicmathieu commented on #7451
@alainmucyo you can try https://github.com/quarkiverse/quarkus-logging-json that support structured logging.
I think we can close this issue as this will not be supported with the core Quarkus logmanager.

[2021-07-26 08:23] manovotn commented on #18958
Hi,

can you share the reproducer quarkus app that you used so that we are both looking at identical code?

So, if you don't put in the wait it works as expected?

You are using both, `ManagedExecutor` and `ThreadContext` - any reason for it? Context will be propagated accordingly to your `ManagedExecutor` settings if you just pass in ordinary executable. `ThreadContext` can be used if you want to

[2021-07-26 08:44] aloubyansky commented on #18981
Thanks for the report, https://github.com/quarkusio/quarkus/pull/18985 will fix it.

[2021-07-26 08:54] JapuDCret opened #18986 "Quarkus Jib is unable to create container image: 'docker load' command failed with error (Windows)"
### Describe the bug

After starting my Windows laptop I was unable to build a jib image.

The output was:
[code]

A restart of the Docker engine did not help. A restart of windows did not either.

### Expected behavior

Jib container is successfully built.

### Actual behavior

Jib container is not being built.

### How to Reproduce?

Currently I have no way of reproducing this issue.

### Output

[2021-07-26 09:06] geoand commented on #18986
I would suggest pruning the images on your local system and trying again.
If the problem persists, then please report the issue to the Jib repository, as there isn't anything Quarkus can do about it.

[2021-07-26 09:06] #18986 closed

[2021-07-26 09:07] FroMage commented on #18263
I suppose so, at least I had an error when I tried your config.

[2021-07-26 09:09] aloubyansky commented on #18980
During the test setup the original Maven build context isn't available to the Quarkus bootstrap process it's unfortunately unaware of what the Maven extension did and which profiles should be activated.

[2021-07-26 09:12] #18560 closed

[2021-07-26 09:16] michalszynkiewicz commented on #17886
So, `protoc` is indeed there but `protoc-gen-grpc-java` is not...
I don't have the hardware to check if it's possible to use some other binary for `protoc-gen-grpc-java` with e.g. `osx-x86_64`...

[2021-07-26 09:19] ishwar25667 opened #18987 "Unable to export micrometer metrics in JSON format."
### Describe the bug

I tried with -

1- Configure below properties in application.properties but it seems to not work.

quarkus.micrometer.export.json.enabled

2- Using the below header information using Curl-

curl -i -H "Accept: application/json" -H "Content-Type: application/json" http://localhost:8080/q/metrics

Please help if anyone already did it.

### Expected behavior

_No response_

###

[2021-07-26 09:42] tnmtechnologies opened #18988 "java.lang.IllegalStateException: SRMET00003: No metric mapped"
### Describe the bug

When upgrading from 1.13.6.Final to 2.0.3.Final, an exception with message SRMET00003: No metric mapped for public
 occurs when running our automatic tests.

We use io.quarkus:quarkus-smallrye-metrics.

### Expected behavior

no exception

### Actual behavior

"java.lang.IllegalStateException: SRMET00003: No metric mapped for public javax.ws.rs.core.Response com.bcom.newedge.

[2021-07-26 09:50] geoand commented on #15665
Is this still an issue or has or has it since been fixed?

[2021-07-26 09:53] geoand commented on #15643
I'm going to close this as https://github.com/quarkusio/quarkus/pull/17077 introduced a solution based on extensions

[2021-07-26 09:53] #15643 closed

[2021-07-26 09:57] geoand commented on #15621
Jackson support was added in https://github.com/quarkusio/quarkus/pull/15777. I don't think we'll need JSON-B support unless someone really wants it

[2021-07-26 09:57] #15621 closed

[2021-07-26 09:58] geoand commented on #15601
Is this still an issue?

[2021-07-26 10:02] geoand commented on #15627
With RESTEasy Reactive going to become the default REST layer, do you feel that https://quarkus.io/guides/resteasy-reactive provides enough information WRT issue?

[2021-07-26 10:02] FroMage commented on #18293
Which version of Quarkus and native-image are you using? Can you share a reproducer? It works for me with GraalVM 20.3.1 and Quarkus 2.0.3.Final with this code:

[code]

Both with and without `extends PanacheEntity`.

[2021-07-26 10:07] jmartisk commented on #18987
Weird, this should work. What exactly do you mean by "no response"? What is the status code (could you add `-v` to the `curl` command?)
Are you able to obtain metrics in Prometheus format?

[2021-07-26 10:41] geoand commented on #15628
This is not a Quarkus issue, but a Yasson issue. Please open an issue in that repo.

[2021-07-26 10:41] #15628 closed

[2021-07-26 10:42] geoand commented on #15630
Closing as https://github.com/quarkusio/quarkus/pull/8631 should cover it

[2021-07-26 10:42] #15630 closed

[2021-07-26 10:45] geoand commented on #15509
cc @sberyozkin

[2021-07-26 10:46] geoand commented on #15430
@iocanel is this one on your radar?

[2021-07-26 10:47] geoand commented on #15415
Is this still an issue or can we close it?

[2021-07-26 10:48] maxandersen commented on #15415
i haven't verified it is gone - last i checked it still happened but been a while ;/

[2021-07-26 10:51] geoand commented on #15302
I'm going to close this as a user who wants custom behavior can always implement a custom exception mapper and return whatever HTTP result they like

[2021-07-26 10:51] #15302 closed

[2021-07-26 10:52] geoand commented on #15199
With the console that @stuartwdouglas has added as part of the continuous testing work, this has already been done, no?

[2021-07-26 10:53] geoand commented on #15131
This has likely been fixed in https://github.com/quarkusio/quarkus/pull/17728 which is part of `2.1.0.CR1`. Can you please check so we can close the issue if so, or else see what else needs to be done?

[2021-07-26 10:58] csotiriou opened #18990 "NPE with `getUriInfo()` after aborting a request during the Authorization step in RESTEasy Reactive"
### Describe the bug

When using RESTEasy Reactive, when we try to use `requestContext.getUriInfo()` in a `@ServiceResponseFilter` after an abort has been made in a `@ServerRequestFilter` (`return Uni.createFrom().item(Response.status(401).build())`), there is a null pointer exception happening, when calling `request.getUriInfo()` in the response filter.

### Expected behavior

The service should

[2021-07-26 10:59] Sanne commented on #17806
The error message is printing:

[code]

Pay attntion to the `[]`: it's not complaining about the  `LoggerSetting` class, but about the **array** whose type is a LoggerSetting.

[2021-07-26 11:01] HelvetiaAppDev opened #18991 "Upgrade of hibernate-validator"
### Description

The current version of org.hibernate.validator:hibernate-validator in quarkus-hibernate-validator is 6.2.0.Final
There is a new version of org.hibernate.validator:hibernate-validator 7.0.x
Would it be possible to upgrade it for possible security concerns?

### Implementation ideas

_No response_

[2021-07-26 11:01] geoand commented on #14927
Let's say Quarkus had this functionality, what would your test look like?

[2021-07-26 11:03] geoand commented on #14709
Have the latest fixes in Hibernate Reactive Panache addressed this issue?

[2021-07-26 11:05] geoand commented on #14672
I am going to close this as out of date, as the code has changed plenty since this was reported.
If you can reproduce this with Quarkus 2.1.x, then please reopen the issue

[2021-07-26 11:05] #14672 closed

[2021-07-26 11:09] geoand commented on #14566
Is this still an issue in Quarkus 2.1.x? There have been a ton of config related fixes, which is why I ask

[2021-07-26 11:09] famod commented on #14927
FWIW, we just split up our single module Maven project into a 5 module project. There is a `core` module without any REST resources/controller but still we had to add some http config due to project sepcific needs (e.g. `insecure-requests` are ok for tests, but it is switched off in the main `application.yaml`).
`@QuarkusTest`s in that `core` module simply `@Inject` services or other beans and tes

[2021-07-26 11:11] Sanne commented on #14709
@geoand good point, sorry I forgot to check this issue. I'll do that now.

[2021-07-26 11:11] geoand commented on #14709
Thanks!

[2021-07-26 11:28] geoand commented on #14927
So in this case, all you are doing is interacting with the database taking advantage of the fact that Quarkus has wired up all the necessary beans for you?

[2021-07-26 11:46] gavinking commented on #14709
Wait, then why is this issue even still open?

*Of course* it's wrong to have a single session shared between concurrent threads, and always has been, in any flavor or Hibernate!

Can we just close this now.

[2021-07-26 12:09] a-frank opened #18993 "ContextNotActiveException for request scoped bean in Kotlin Flow"
### Describe the bug

Hi Quarkus Team,

first of all thanks for adding Flow as an option for SSE endpoints.

But currently when using Flow this leads to a ContextNotActiveException, when combining it with the access to a request scoped bean

Kind regards

### Expected behavior

The value of the request scoped bean can be accessed within the context of a Flow

### Actual behavior

When trying to ac

[2021-07-26 12:27] survivant commented on #18975
look like the problem is not always there with my docker-compose.    I restarted my kafka broker + quarkus and the problem was not there. I restarted my quarkus application and when I entered http://localhost:8080  the problem started.  So I try To recreate the same scenario again and it works.  And I restarted kafka+quarkus again later.. and the problem appear again and I didn't even call http://

[2021-07-26 12:31] geoand commented on #18990
Thanks for reporting!

https://github.com/quarkusio/quarkus/pull/18995 fixes the problem

[2021-07-26 12:39] geoand commented on #14368
Is this still an issue?

[2021-07-26 12:40] geoand commented on #14295
I'll close this because we ended up adding an upper bound to the log entries

[2021-07-26 12:40] #14295 closed

[2021-07-26 12:40] Sanne commented on #14709
@gavinking the user isn't controlling the Session use explicitly, this is done via the Panache magic. So yes you're right of course that  this is illegal from the Hibernate perspective, but we should fix the fact that this could happen behind the user's back - remember this is an old issue so it's most likely fixed with the Panache Reactive fixes we just discussed last week.

[2021-07-26 12:42] edeandrea commented on #14368
To be honest i'm not sure. @lburgazzoli ?

[2021-07-26 12:43] edeandrea commented on #14368
The PR @lburgazzoli raised (#14848) is still in draft.

[2021-07-26 12:43] #14174 closed

[2021-07-26 12:46] geoand commented on #14051
I will likely work on this after the 2.2 stabilization release is out

[2021-07-26 12:48] geoand commented on #14004
Is this even a Quarkus issue?

I mean do regular (non-Quarkus) tests annotated with `@DisplayName` show up like you mention in the reports?

[2021-07-26 12:50] edeandrea opened #18996 "Inconsistency in Infinispan extension trust store"
### Describe the bug

This is an offshoot from #14368 .

The behavior of `quarkus.infinispan-client.trust-store` is different than `infinispan.client.hotrod.trust_store_path` (defined in `hotrod-client.properties`). `infinispan.client.hotrod.trust_store_path` allows pointing directly to a certificate in pem format (per https://docs.jboss.org/infinispan/11.0/apidocs/org/infinispan/client/hotrod/con

[2021-07-26 12:50] edeandrea commented on #14368
I raised #18996 for that.

[2021-07-26 12:51] antonwiens opened #18997 "Resteasy Reactive not working with unspecified accept header and multiple produces"
### Describe the bug

I have discovered a problem with resteasy-reactive and produces media type matching.

If i have more than one media type (e.g. text/plain and application/json) and no specific mediatype is selected in the accept header, then the response contains content-type: application/octet-stream.

Also i noticed that the qs parameter is ignored in resteasy-reactive, which is unfortunatl

[2021-07-26 12:56] geoand commented on #13767
We don't have such a formal process, but any issue you open of the like should be marked with `kind/enhancement`

[2021-07-26 12:56] #13767 closed

[2021-07-26 12:57] merlante opened #18998 "Kafka Oauth extension"
### Description

In the guide, [Quarkus - Using Apache Kafka with Reactive Messaging guide](https://quarkus.io/guides/kafka), there is a section on "Authentication with OAuth", where a third party library, the strimzi-kafka-oauth client, is specified to provide the jaas callback handler. The problem is that this library is not part of Quarkus and is not guaranteed to work, for example, in native m

[2021-07-26 12:59] eniuane commented on #14004
If I run non-Quarkus tests annotated with @DisplayName I got no problem, this only happens when its a quarkus test.

[2021-07-26 13:04] argenstijn commented on #7451
Personal view..this should be supported by the core log module. Why not?

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Loïc Mathieu ***@***.***>
Sent: Monday, July 26, 2021 9:57:56 AM
To: quarkusio/quarkus ***@***.***>
Cc: argenstijn ***@***.***>; Comment ***@***.***>
Subject: Re: [quarkusio/quarkus] Support for custom format/fields in quarkus-logg

[2021-07-26 13:05] geoand commented on #18997
I see the same issue with RESTEasy Classic, so I am inclined to think it's just how the JAX-RS spec handles these cases.

WDYT @FroMage ?

[2021-07-26 13:06] Sanne commented on #14709
This seems indeed working fine now. Thanks all!

[2021-07-26 13:06] antonwiens commented on #18997
But this used to work for me in resteasy classic in quarkus  1.10, so i dont think its normal behavior.
Also the qs parameter used to work.

[2021-07-26 13:07] geoand commented on #18997
I just switched your reproducer to resteasy classic and the tests still failed

[2021-07-26 13:08] michalszynkiewicz commented on #17886
People write this is possible with Rosetta.
This PR upgrades grpc to the version used by vertx-grpc and allows to override the os classifier, so in case of M1+rosetta, should allow mac users to use osx-x86_64 binaries, if I understand it correctly.

[2021-07-26 13:09] michalszynkiewicz commented on #17886
I don't want to close this issue yet, let's close it when we have get a proper fix (when protoc-gen-grpc-java is released for osx-aarch64)

[2021-07-26 13:10] antonwiens commented on #18997
Sorry, i had an error in the test assertion, which also failed by mistake in resteasy-classic but not due to the same problem:

[code]

should be:
[code]

[2021-07-26 13:11] geoand commented on #14004
I am not seeing that. I am seeing `@Display` name not being used at all in the surefire reports

[2021-07-26 13:15] antonwiens commented on #18997
Here is the the test with resteasy-classic with fixed assertion that is not failing:
[resteasy-classic-not-failing.zip](https://github.com/quarkusio/quarkus/files/6878433/resteasy-classic-not-failing.zip)

Here with resteasy-reactive failing with fixed assertion:
[reproducer-fixed-assertion.zip](https://github.com/quarkusio/quarkus/files/6878450/reproducer-fixed-assertion.zip)

[2021-07-26 13:18] geoand commented on #18997
The workaround is to use `RestAssured.given().accept("application/json").get(...)` instead of `RestAssured.given().get(...)`

[2021-07-26 13:19] geoand commented on #18997
It does seem like RESTEasy Reactive is not using the same default as RESTEasy Classic though... I'll have a look

[2021-07-26 13:22] antonwiens commented on #18997
Thanks for looking into it.

[2021-07-26 13:24] gavinking commented on #14709
@Sanne OK 👍

[2021-07-26 13:25] ebullient commented on #15601
Yes.

[2021-07-26 13:30] ebullient commented on #18987
Please also share which version of Quarkus you are using, and what extensions you have enabled.

[2021-07-26 13:54] Sanne commented on #5103
I suppose we can close this now.

The reason was that in some cases they come as "highly recommended" by the DB vendor.

I'm thinking mainly about Oracle JDBC and its embedded UCP, until recently I had the impression they were pushing for this to be a requirement for supported customers, but it seems the wording about this is far more relaxed nowadays.

So let's close it for now; there are other s

[2021-07-26 13:54] #5103 closed

[2021-07-26 13:55] Sanne commented on #5103
BTW to bear in mind that  users configuring Hibernate ORM via a `persistence.xml` still have more freedom than what they should have ;)

[2021-07-26 13:57] wburns commented on #18996
@edeandrea did you set the trust store type to pem ? If this is not set it defaults to JKS

[2021-07-26 14:06] tioback commented on #15013
Hey, guys. It's been a while, now, so I wonder if there's been an update, or if any help is needed.
Also, is there a workaround?

[2021-07-26 14:06] Sanne commented on #18797
I agree, some applications will need lazy checking, others require an immediate check.

I'm pretty sure this was working in Quarkus 1.x by controlling `quarkus.datasource.jdbc.initial-size`: if I set this to any N>0 I would expect a fatal error immediately on boot, if the N connections can't be established. (But we're only getting a WARN logged today, and we should fix that)

[2021-07-26 14:09] vietj commented on #18962
@re-thc thanks, indeed it is not relevant, only users that are using LZ4, we'll upgrade anyway :-)

[2021-07-26 14:10] wburns commented on #18996
Talking with Tristan he mentioned this (which I was looking at 12 code)

@edeandrea so what version of Quarkus are you using?

[2021-07-26 14:12] famod commented on #14927
Yes, and that the same db config is used as for rest assured tests etc.

[2021-07-26 14:17] tioback commented on #15013
Posting the workaround (wrap it in an Optional) in case anyone else has the same doubt:

[code]

[2021-07-26 14:17] metacosm commented on #18973
@shawkins @kornys not sure I'm following, what is blocking you?

[2021-07-26 14:20] geoand commented on #18997
https://github.com/quarkusio/quarkus/pull/19000 should fix the issue

[2021-07-26 14:23] shawkins commented on #18973
https://github.com/bf2fc6cc711aee1a0c2a/kas-fleetshard/pull/367 is marked as a WIP, are you saying that can now be completed?  Alternatively you had mentioned just skipping ahead to quarkus 2.

[2021-07-26 14:27] geoand commented on #13763
Is this still an issue? If it is, @radcortez should be aware of it

[2021-07-26 14:29] geoand commented on #13685
Is this error still showing up in CI?

[2021-07-26 14:30] ishwar25667 commented on #18987
Sorry it was my bad I tried with prometheus path & it always returning response in plain text. Once I configure export json path now it was working fine.
Thanks for your quick response.

[2021-07-26 14:30] ebullient commented on #13763
I haven't tried lately... I moved away from that pattern

[2021-07-26 14:31] metacosm commented on #18973
@shawkins ok, I wasn't sure what you were refering to… Let me loop back on this, I had forgotten about it… :(
By the way, I've tried to reproduce the issue locally and couldn't so far on the test I tried (`ManagedKafkaAgentControllerTest.createStatus`).

[2021-07-26 14:34] garyhodgson commented on #18981
@aloubyansky Many thanks for the very quick response!  I'll test as soon as it becomes available.

[2021-07-26 14:37] radcortez commented on #13763
I believe this was fixed in https://github.com/quarkusio/quarkus/issues/13966.

[2021-07-26 14:41] geoand commented on #12850
I'm going to close this as moving forward we are going to be focusing on the rest-client-reactive and this request is already on @michalszynkiewicz's radar

[2021-07-26 14:42] geoand commented on #13763
Let's close then.

Thanks

[2021-07-26 14:42] #13763 closed

[2021-07-26 14:45] geoand commented on #12740
@Sanne as there seems to be plenty of interest in this, maybe initially we should go for the register-for-reflection solution and then at some later time opt for an optimal solution?

[2021-07-26 15:12] Sanne opened #19001 "DevMode Runtime ClassLoader is never closed"
### Describe the bug

Tracing the constructors and `close` methods on `QuarkusClassLoader` one can see that during a live-reload this is the sequence of relevant events:
 - start a new "Deployment Class Loader: DEV"
 - stop a "Deployment Class Loader: DEV"
 - start a new "Quarkus Runtime ClassLoader: DEV"

So at each re-deply, two new classloaders are constructed, but only one is being closed. The

[2021-07-26 15:16] geoand commented on #12312
Is this still an issue?

[2021-07-26 15:16] Sanne commented on #18991
Why would you be concerned? The same people maintaining Hibernate Validator are maintaining Quarkus, if there ever is a security issue we would backport it to any branch that Quarkus is using.

We can't upgrade to Validator 7 now as it changes APIs.

[2021-07-26 15:16] #18991 closed

[2021-07-26 15:20] Sanne commented on #12740
@geoand people can already do this? Just register all needed components for reflection.

We should make it work properly though.

[2021-07-26 15:25] geoand commented on #12740
Well my point is that they should not have to do it. Same as they don't have to for example when returning POJOs from REST endpoints or message processors.

I completely understand that a proper solution would be ideal, but if something is pretty highly requested and easily fixable, should we not provide that fix until time permits us to come up with a better solution?

[2021-07-26 15:31] antonwiens commented on #18997
As i can see the quality factor (qs parameter) is not yet considered in this fix?

[2021-07-26 15:45] geoand commented on #18997
It is because the supported media types are sorted by qs

[2021-07-26 15:46] antonwiens commented on #18997
Thanks for clarifing this!

[2021-07-26 15:46] Sanne commented on #12740
Sure, it's not far down on our TODO list.

[2021-07-26 15:52] barreiro commented on #18797
Are you sure !? ... It would imply delaying the boot for the time it takes to establish all the connections. It may take seconds, witch I believe is unacceptable.

This should be handled by health check, that's what that feature is for!

[2021-07-26 15:53] geoand commented on #12237
https://github.com/quarkusio/quarkus/pull/19002 fixes the issue. We'll try to get it in `2.1.1.Final`

[2021-07-26 16:00] Sanne commented on #18797
if `initial-size` is being set, it should be honoured no? Why would that be unacceptable?

Do you have a better suggestion? For example if Agroal is not configured to use a pluggable password source, it would be reasonable to fail fast when the password is missing.

[2021-07-26 16:18] iocanel commented on #15430
Thanks for the reminder! I will have a look!

[2021-07-26 17:21] fabrii commented on #4644
After this fix https://github.com/quarkusio/quarkus/issues/17291 that was introduced in the 2.0.0 version, now the Hibernate5Module prevents lazy collections from being initialized in the serialization process. If a collection is lazy while serializing the parent object, it gets replaced with null.

` defaultMapper.registerModule(new Hibernate5Module())`

[2021-07-26 21:04] jimbogithub commented on #12312
It is solved by the solution documented at https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.8#hibernate-orm

[2021-07-26 21:10] #18002 closed

[2021-07-26 21:38] #10362 closed

[2021-07-26 22:16] stuartwdouglas commented on #15199
Isn't this about prod mode? Either way I don't think it will be done. If there are config properties we want to support we should look at this on a case by case basis, but I don't really know if we want to go down that route.

[2021-07-27 02:59] hongshaoyang opened #19009 "JMX remote connection not working"
### Describe the bug

1. On GraalVM EE 21.1.0 + Quarkus, I tried to connect to a JMX connection by adding
com.sun.management.jmxremote to java opts
2. Connect to the JMX port specified (e.g. `-Dcom.sun.management.jmxremote.port=9010`) in VisualVM
3. VisualVM can't connect via that JMX port.

I've also tried using JMC (JDK Mission Control) and JConsole (https://docs.oracle.com/en/java/javase/11/man

[2021-07-27 04:40] oztimpower commented on #15665
Yes, verified this is now fixed. Thanks!

[2021-07-27 04:40] #15665 closed

[2021-07-27 04:42] geoand commented on #15665
Thanks for checking!

[2021-07-27 04:43] oztimpower commented on #15430
Verified this is now fixed. Tested on `Quarkus 2.0.3`.

[2021-07-27 04:43] #15430 closed

[2021-07-27 04:45] geoand commented on #15430
👍🏼

[2021-07-27 04:56] geoand commented on #12237
Fixed in https://github.com/quarkusio/quarkus/pull/19002

[2021-07-27 04:56] #12237 closed

[2021-07-27 04:58] geoand commented on #12106
@ia3andy has this been done?

[2021-07-27 04:59] geoand commented on #12104
I am going to close this as this should work properly with managed `quarkus-jaxrs-client-reactive`

[2021-07-27 04:59] #12104 closed

[2021-07-27 05:01] geoand commented on #12079
cc @manusa

[2021-07-27 05:03] geoand commented on #12069
I am going to close this as looking at `quarkus-integration-test-mailer`, it seems to be done

[2021-07-27 05:03] #12069 closed

[2021-07-27 05:04] geoand commented on #12042
This has been implemented by @gsmet for a while now (see https://status.quarkus.io/).

[2021-07-27 05:04] #12042 closed

[2021-07-27 05:05] geoand commented on #12002
@rsvoboda can we close this? These versions are pretty old at this point

[2021-07-27 05:17] geoand commented on #11971
I recently added `io.quarkus.kubernetes.spi.CustomProjectRootBuildItem` for the purpose of supporting the `@QuarkusProdModeTest`, but it might be useful in this case as well.
Basically, we just need to customize the build chain to add this build item when augmentation from JBang takes place

[2021-07-27 05:22] geoand commented on #11431
This had already been fixed

[2021-07-27 05:22] #11431 closed

[2021-07-27 05:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1069940774

[2021-07-27 05:28] geoand commented on #11415
Although not specifically targeting this issue, one can now do what is mentioned here by utilizing https://quarkus.io/version/main/guides/all-config#quarkus-core_quarkus.class-loading.removed-resources-removed-resources.

For example, if you have an `Application` class in the `com.example:shared` Maven artifact, you can exclude it
by adding
[code]

The capability was introduced in https://github.c

[2021-07-27 05:28] #11415 closed

[2021-07-27 05:33] geoand commented on #11365
Fixed by https://github.com/quarkusio/quarkus/pull/18321

[2021-07-27 05:33] #11365 closed

[2021-07-27 05:34] geoand commented on #11347
Is this still an issue with the latest Quarkus versions?

[2021-07-27 05:35] geoand commented on #11252
It appears from the RESTEasy version where this was fixed that it is no longer an issue

[2021-07-27 05:35] #11252 closed

[2021-07-27 05:36] geoand commented on #11246
This has already been fixed

[2021-07-27 05:36] #11246 closed

[2021-07-27 05:39] geoand commented on #10733
Closing as per comments above

[2021-07-27 05:39] #10733 closed

[2021-07-27 05:56] ia3andy commented on #12106
Nop, I didn't get the time to go down those less prioritized issues 😩

[2021-07-27 06:54] #19001 closed

[2021-07-27 06:56] evacchi commented on #18745
have we addressed this already on `main`+2.1 ? @ricardozanini also @radtriste @cristianonicolai  -- pinging you since you did the update this time, have you noticed some related failure?

[2021-07-27 07:05] radtriste commented on #18745
@Edoardo Vacchi ***@***.***> PRs for 2.1 are still ongoing:
- https://github.com/kiegroup/kogito-runtimes/pull/1465
- https://github.com/kiegroup/optaplanner/pull/1451

@Cristiano Nicolai ***@***.***>  is going to solve the apps part
AFAIK

Tristan Radisson

Principal Software Quality Engineer

Business Automation Cloud

Red Hat France <https://www.redhat.com/>

***@***.***
+33 (1) 41912322
<https

[2021-07-27 07:06] Postremus opened #19011 "Add option to force restart quarkus in dev ui"
### Description

Printing the help from the terminal give following options:
[code]

The help in dev ui only shows these commands:
![image](https://user-images.githubusercontent.com/1223135/127110471-baff6cdd-d929-4038-ad65-b8e524060ab9.png)

I propose that the following 2 commands are also added to dev ui:
* [l] - Toggle live reload (enabled)
* [s] - Force restart

### Implementation ideas

_No r

[2021-07-27 07:22] ivannov opened #19012 "java.lang.IllegalAccessError: class com.example.Startup tried to access protected field in Panache after 1.13"
### Describe the bug

I have an abstract Panache entity (`User extends PanacheEntityBase`) that declares a few public fields:

[code]

Then I have another entity that extends the first one (`InheritedUser extends User`) without adding any new fields.

Then in a class (located in another package) I instantiate the `InheritedUser` class, try to set a value to one of the fields inherited from the par

[2021-07-27 07:34] mschorsch opened #19013 "Suspendable ServerRequestFilter in Resteasy Reactive"
### Description

The following return types are currently possible in Resteasy Reactive Filters (`@ServerRequestFilter`): `void`, `Response`, `RestResponse`, `Optional<Response>`, `Optional<RestResponse>`, `Uni <Void>`, `Uni<RestResponse>` or `Uni <Response>`.

Please add support for suspendable filters (Kotlin Coroutines).

Example
[code]

### Implementation ideas

_No response_

[2021-07-27 07:45] glefloch commented on #18874
Thanks for reporting this @Solido. Are you using the Gradle kotlin DSL or not? I'm trying to reproduce the issue.

[2021-07-27 08:40] rsvoboda commented on #11252
+1, the issue is fixed now, checked with Quarkus 2.1.0.Final

[2021-07-27 08:54] rsvoboda opened #19016 "jax-rs - exception mapper - `Unable to extract parameter` message doesn't appear in dev mode"
### Describe the bug

When double-checking https://github.com/quarkusio/quarkus/issues/11252 I noticed that the expected `RESTEASY003870: Unable to extract parameter from http request: javax.ws.rs.QueryParam("paging") value is 'asd'` message for `curl -v 'localhost:8080/users?paging=asd'` request appears only when running the app in production mode using `java -jar ...`.

The code of the endpoint

[2021-07-27 08:56] FroMage commented on #18689
It's fixed upstream, so we should be able to close this when it's released.

[2021-07-27 09:03] FroMage commented on #18698
This is perfect!

[2021-07-27 09:08] FroMage commented on #18732
So, @loicmathieu you fixed the mongodb issues, but not `io.quarkus.hibernate.orm.panache` right?

[2021-07-27 09:19] loicmathieu commented on #18732
@FroMage Guillaume fixed them in Hibernate with Panache.
I think the issue is fixed now as he also add an ignored rules for the k8s client.

@gastaldi can we close this one now thanks to Guillaume's work ?

[2021-07-27 09:23] geoand commented on #19013
This is certainly interesting, but may I ask what you plan to do in the filter that requires it to be a suspending function?

[2021-07-27 09:27] fjtirado commented on #18745
Hi, This should be already fixed in main branch.
https://issues.redhat.com/browse/KOGITO-5459
In any case, multi approach was substantially changed with
https://issues.redhat.com/browse/KOGITO-5252

[2021-07-27 09:28] geoand commented on #14927
And is there any indication that the web layer is slowing down the tests significantly?

[2021-07-27 10:25] bdevreugd-vialis opened #19017 "QuarkusIntegrationTest: argLine is also given to docker run, which doesn't work because jacoco sets -javaagent"
In another issue the ability to set `quarkus.test.arg-line` was added, in order to make Jacoco work when running integration test using java executable.

However the argLine is also used for docker runs, which fails because '-javaagent' is not a valid docker argument.

Suggestion:
Instead of specifying one `arg-line`, add the ability to specifiy an arg-line per artifact type, so:
* quarkus.test.ja

[2021-07-27 10:50] geoand commented on #19017
I don't want to revert back to that TBH.

What does your test scenario look like that involves running both the jar artifact and the docker artifact?

[2021-07-27 10:51] #18993 closed

[2021-07-27 11:07] #18299 closed

[2021-07-27 11:16] #17344 closed

[2021-07-27 11:46] senzu opened #19019 "[2.0.3] java.lang.invoke.BoundMethodHandle$Species_LL cannot be cast to java.lang.invoke.SimpleMethodHandle"
### Describe the bug

A simple toString() function throws ClassCastException

java.lang.ClassCastException: java.lang.invoke.BoundMethodHandle$Species_LL cannot be cast to java.lang.invoke.SimpleMethodHandle
        at com.oracle.svm.methodhandles.MethodHandleIntrinsicImpl.execute(MethodHandleIntrinsicImpl.java:258)
        at com.oracle.svm.methodhandles.Util_java_lang_invoke_MethodHandle.invokeI

[2021-07-27 11:50] loicmathieu commented on #11336
Closing the issue as no news from the issuer since more than one month

[2021-07-27 11:50] #11336 closed

[2021-07-27 11:50] famod commented on #14927
@geoand I don't think web layer is the main problem for me. I was referring to http mostly because of the surprising need to configure something you don't actually use.

What I can give you right away is this:
[code]
Notes:
- `FooTest` is totally empty, just a `@QuarkusTest` with an empty `@Test` method
- compilation etc. takes around 5 secs
- there is a noticable "lag" of a few seconds between `R

[2021-07-27 11:53] geoand commented on #14927
Thanks for the information

[2021-07-27 11:59] loicmathieu commented on #9355
The enhancement has been done on the upstream library, it will be available on 1.15.0 wich is not yet publshed.

[2021-07-27 12:13] geoand commented on #19019
I assume this is happening in native mode, correct?

What Quarkus versions and what GraalVM version are you using?

[2021-07-27 12:15] geoand commented on #10746
Is this still an issue with the latest Quarkus versions?

[2021-07-27 12:16] geoand commented on #10729
https://github.com/awslabs/aws-serverless-java-container/pull/369 has been merged but we still need a release of it

[2021-07-27 12:17] geoand commented on #10697
Is this something that has been added to the client recently @iocanel / @manusa ?

[2021-07-27 12:20] survivant commented on #10746
no idea because I opened that issue a year ago and they switch to Spring boot for testing keycloak.

[2021-07-27 12:25] geoand commented on #10496
`@Context` is a JAX-RS annotation and is not in any connected to CDI which is why you are seeing this behavior.

In RESTEasy Reactive we have anticipated this disconnect and have bridged the two worlds, so I'm going to close this issue as we don't plan to do the same work for RESTEasy Classic

[2021-07-27 12:25] #10496 closed

[2021-07-27 12:27] #18732 closed

[2021-07-27 12:27] geoand commented on #10409
@Sanne I know you do this work periodically. Do you think we should close this issue? I don't think it brings much value to have it hanging around

[2021-07-27 12:28] geoand commented on #10746
OK, I'll close it then. Feel free to reopen if it's still an issue

[2021-07-27 12:28] #10746 closed

[2021-07-27 12:29] senzu commented on #19019
Yes, it happens in native mode!

The GraalVM version is the following:

openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment GraalVM CE 21.1.0 (build 11.0.11+8-jvmci-21.1-b05)
OpenJDK 64-Bit Server VM GraalVM CE 21.1.0 (build 11.0.11+8-jvmci-21.1-b05, mixed mode, sharing)

But I have built it with Docker native command:

mvn clean package -Pnative -Dquarkus.native.container-build=true

[2021-07-27 12:31] geoand commented on #19019
cc @zakkak @galderz

[2021-07-27 12:33] manusa commented on #10697
There is the [`Config#empty()`](https://javadoc.io/static/io.fabric8/kubernetes-client/5.6.0/io/fabric8/kubernetes/client/Config.html#empty--) which prevents inferring any kind of configuration from the system.

I'm not sure if this is what you asking.

However, when using this configuration **everything** would need to be configured manually (maybe by reusing some methods such as `Config#fromKube

[2021-07-27 12:35] manusa commented on #10697
I feel more like Ladislav, I don't see this as an issue (maybe the lack of documentation or of information is).

We have the same behavior in Eclipse JKube, if a user needs to override some settings when dealing with a cluster, the use of system properties is an option.

[2021-07-27 12:44] wabrit commented on #18228
The following may help in implementing a solution, based on analysing how the gelf logger extension and opentracing work together to include MDC data in logs.

**Gelf Logger**

There is a `MdcGelfMessageAssembler` class in the `logging-gelf` library; this looks to be where log events are augmented with MDC data. The MDC data for that is sourced from calls made elsewhere to `org.jboss.logging.MDC.p

[2021-07-27 12:44] wansors opened #19020 "Tool to generate "Configuration Reference" Table for applications"
### Description

In large projects there are lots of configuration properties, and is not easy to keep up to date the documentation.
It could be nice to have a tool or maven plugin to autogenerate a "Configuration Reference" Table like the ones on the website (https://quarkus.io/guides/all-config). Adding the property, documentation from the javadoc and default values.

Thanks

### Implementation

[2021-07-27 12:46] Sanne commented on #10409
Ok right let's close this as it doesn't fit very well with our work flow.

However to be clear while I've recently been looking at overall memory consumption and memory leaks, I haven't been checking startup times at all.

[2021-07-27 12:46] #10409 closed

[2021-07-27 12:56] languitar commented on #4219
Am I right that this doesn't help when testing native executables where injection isn't available?

[2021-07-27 12:56] geoand commented on #10697
I'll leave up to you folks to figure out whether this will be implemented or closed as won't fix

[2021-07-27 13:01] geoand commented on #4219
No, that is not correct. `QuarkusTestResourceLifecycleManager#inject(Object)` has nothing to do with CDI injection, it's a totally different mechanism that works for all kinds of Quarkus tests

[2021-07-27 13:15] geoand commented on #10249
Is this still an issue with the latest rest client and the latest GraalVM (which includes improved method handle support)?

[2021-07-27 13:17] geoand commented on #10163
@iocanel you had something like this in pipeline, right?

[2021-07-27 13:18] geoand commented on #10118
Closing as there has been no user update

[2021-07-27 13:18] #10118 closed

[2021-07-27 13:21] geoand commented on #10147
If this is still an issue, can someone please upload a reproducer project?

[2021-07-27 13:21] geoand commented on #10114
Closing as this has pressumably been fixed.
If not, feel free to reopen

[2021-07-27 13:21] #10114 closed

[2021-07-27 13:24] geoand commented on #9976
When I pivot the Spring Web support onto RESTEasy Reactive, this will be easy to implement

[2021-07-27 13:26] lburgazzoli commented on #10147
@geoand it was not an issue anymore when I tried last time

[2021-07-27 13:27] geoand commented on #9894
This has already been fixed - I just tested an application generated from code.quarkus.io

[2021-07-27 13:27] #9894 closed

[2021-07-27 13:31] geoand commented on #10147
OK, I'll close it then. If someone sees that it's still an issue, please comment and upload a reproducer project

[2021-07-27 13:31] #10147 closed

[2021-07-27 13:34] FroMage commented on #18776
So we have to keep track of all the open connections when in DEV mode? This sort of thing doesn't appear to be limited to SSE though: it can happen with any REST call that is streaming.

What is the producer of the SSE feed? Is it Reactive Messaging? Shouldn't it be responsible for cutting the emission? Or is it the case that it can keep the `Multi` open when hot-reloading and it's only the SSE co

[2021-07-27 13:43] geoand commented on #9307
Closing as out of date

[2021-07-27 13:43] #9307 closed

[2021-07-27 13:44] geoand commented on #9257
Is this still an issue? I vaguely remember a related fix...

[2021-07-27 13:47] asodja opened #19022 "Quarkus Gradle plugin 2.1.0.Final configuration time is slow"
### Describe the bug

I am upgrading our project from Quarkus 1.3.x to 2.x.x. I saw that 2.1.0.Final is on Gradle plugin portal so I tried it out, even though I know 2.1.0.Final is not released yet. I found out that 2.1.0.Final increases gradle configuration time substantially. Even gradle help now takes cca. 8s. Quarkus Gradle plugin 2.0.3.Final works ok.

It seems that problem is, that dependenc

[2021-07-27 13:47] geoand commented on #9162
Is this still an issue?

[2021-07-27 13:49] #18997 closed

[2021-07-27 13:53] geoand commented on #9003
@evanchooly is looking into this (and I'll be helping if necessary).
The plan is to introduce support into RESTEasy Reactive

[2021-07-27 13:54] geoand commented on #8983
You can use `@InjectMock(convertScopes=true)` if absolutely necessary

[2021-07-27 13:54] #8983 closed

[2021-07-27 13:58] #18990 closed

[2021-07-27 13:59] loicmathieu commented on #12020
Closing it as no answer from the issuer since more than one month and it has been tested by myself with no issue.
@wjsgzcn please re-open the issue with some feedback if needed.

[2021-07-27 13:59] #12020 closed

[2021-07-27 14:00] #8553 closed

[2021-07-27 14:02] geoand commented on #8394
For this reason, I am going to close the issue

[2021-07-27 14:02] #8394 closed

[2021-07-27 14:03] geoand commented on #8286
Is this still an issue with the latest Quarkus versions?

[2021-07-27 14:06] geoand commented on #7963
I assume this has been done, right? If so, let's close the issue please.

[2021-07-27 14:07] famod commented on #8218
@geoand coincidentally, yesterday I was in the need to see the effective config in non dev mode. Having some support for this would come in handy.
Dev mode is not prod mode after all 😉

[2021-07-27 14:09] Ladicek commented on #7963
I filed this when I was doing QE work (reviewing test coverage), and didn't address it myself.

[2021-07-27 14:09] Ladicek commented on #7980
I filed this when I was doing QE work (reviewing test coverage), and didn't address it myself.

[2021-07-27 14:11] gastaldi commented on #8218
We'd need to be careful to not introduce a security issue if we're going to support that, for example, you'd need to be authenticated if your application is public.

[2021-07-27 14:14] loicmathieu commented on #13042
Closing the issue as the reproducer works with latest Quarkus and no news from the issuer.
@AlonaSharpe please open the issue again if you have any feedback on it.

[2021-07-27 14:14] #13042 closed

[2021-07-27 14:18] famod commented on #8218
Valid point! But I do think that this would not be something you enable all the time.
So to some extend, the responsibility could be offloaded to the user.

Anyway, I just wanted to point out that this enhancement request still relevant, IMO.

[2021-07-27 14:22] gastaldi commented on #8218
For the record, I was referring to be authenticated if we're introducing a web page showing configuration options. Showing the config in the logs during the startup (except with sensitive data) may be a nice thing to have though

[2021-07-27 14:26] bdevreugd-vialis commented on #19017
The POM is setup like: https://quarkus.io/guides/tests-with-coverage#coverage-for-integration-tests
Our CI runs two jobs:
- one creates a jar artifact and runs integration test + sonar. Because it is an jar artifact, we also get code coverage.
- the other job creates a docker image (either native or jvm) and also runs integration test.

This works fine on Quarkus 2.0, but fails on 2.1 since the ar

[2021-07-27 14:30] geoand commented on #19017
But you can fairly easily configure some Maven profiles so set the appropriate value for each environment you are building in.

I really don't plan on moving back to the previous state unless there is a very good reason to

[2021-07-27 14:33] radcortez commented on #8218
BTW, this is already supported:
https://smallrye.io/docs/smallrye-config/interceptors/interceptors.html#logging-interceptor

The interceptor is not registered by default, but if you add it you will get the logging.

[2021-07-27 14:33] evanchooly opened #19023 "Morphia extension in quarkiverse"
### Description

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

We've had a number of requests to add more ODM-like features to MongoDB Panache.  Rather than building yet another ODM, let's integrate an existing one.  As the maintainer of Morphia, integrating in to quarkus shouldn't be terribly difficult.

### Configuration suggestion

_No response_

[2021-07-27 14:35] gastaldi commented on #8218
@radcortez that's awesome! Is this mentioned in the Quarkus docs or in a guide somewhere we can point users to?

[2021-07-27 14:44] gastaldi commented on #19023
Repository created in https://github.com/quarkiverse/quarkus-morphia.
Also registered in the Quarkus extension catalog in https://github.com/quarkusio/quarkus-extension-catalog/commit/d9f4722280203451182096e8e641ec9f19d1ede3

[2021-07-27 14:44] #19023 closed

[2021-07-27 14:48] dfa1 opened #19024 "no logging output in tests not annotated with @QuarkusTest"
### Describe the bug

In my quarkus applications I would like to see log output in all tests, not only those annotated with `@QuarkusTest` annotation.

### Expected behavior

To be able to configure and see logging output for all unit tests, even those not annotated with @QuarkusTest.

### Actual behavior

Logging output only for tests annotated with `@QuarkusTest`.

### How to Reproduce?

Try thi

[2021-07-27 14:53] Solido commented on #18874
Bonjour Guillaume !
Yes this is a full kotlin solution

[2021-07-27 14:56] bdevreugd-vialis commented on #19017
Sure I can, it just doesn't feel right that a property has 3 different meanings (jvm argument, docker argument or quarkus native executable argument).

Ah well, at least change the documentation:

[code]
https://github.com/quarkusio/quarkus/blame/main/docs/src/main/asciidoc/tests-with-coverage.adoc#L304-L307

Because following this, the native executable will be run with the jacoco javaagent.

[2021-07-27 15:03] famod commented on #19024
Related: #7696 & #11114

AFAIK, this still a blind spot that requires workarounds that may or may not work for you (see above issues),

[2021-07-27 15:06] geoand commented on #12761
This was actually fixed in https://github.com/quarkusio/quarkus/pull/18030

[2021-07-27 15:06] #12761 closed

[2021-07-27 15:07] geoand commented on #19024
Yeah, this is pretty much a duplicate of those issues, so I'll go ahead and close it

[2021-07-27 15:07] #19024 closed

[2021-07-27 15:09] geoand commented on #19017
Sure that sounds reasonable. Would you like to contribute that?

[2021-07-27 15:12] #19011 closed

[2021-07-27 15:15] rsvoboda commented on #12002
I was checking 2.1.0.Final. It has similar timeToFirstOKRequestMs like 1.7.2.Final, the app uses less memory (rssKb). Used GraalVM 20.3 for the comparison and StartStopTest#fullMicroProfileNative test.

Also tried 2.1.0.Final StartStopTest#fullMicroProfileNative test with GraalVM 21.0.0.2 and 21.2.0, similar results as with GraalVM 20.3. Checked on my local MBP, so definitely not a performance env

[2021-07-27 15:15] #12002 closed

[2021-07-27 15:48] dfa1 commented on #19024
thank you @famod  and @geoand  for the bugs

[2021-07-27 15:53] languitar commented on #18854
Is there a quick workaround to access these properties in the current release version?

[2021-07-27 15:59] geoand commented on #18854
Unfortunately, no

[2021-07-27 16:26] loicmathieu commented on #8371
If it's still needed, I can take care of this one.

[2021-07-27 16:26] merlante commented on #18998
/cc @ppalaga @gsmet.

[2021-07-27 17:13] Sanne commented on #17421
I think this might be fixed in Quarkus `main` now as consequence of fixing #18875

But I can't try it again currently :)  @DavideD could you test it?

[2021-07-27 17:15] Sanne commented on #16640
cc/ @gsmet : when separating the extensions, we should take such issues into account: they highlight that not all configuration properties for ORM "blocking" are suitable to be exposed on HR.

[2021-07-27 17:17] DavideD commented on #17421
Yes, I will have a look

[2021-07-27 17:36] famod opened #19030 "SplitPackageProcessor picks up duplicates via test-jar that are not actually in that test-jar"
### Describe the bug

With 2.1.0, when running tests in some of our modules, we are seeing this:
[code]

What's interesting is that only a single artifact is listed (`de.somecompany.someproject:register-core`).
That `register-core` module is producing a `test-jar` that is present on the test classpath of the module that is issuing the warnings (here: `register-api`).
That test-jar of register-core

[2021-07-27 17:46] famod opened #19031 "Make SplitPackageProcessor configurable"
### Description

With 2.1.0 we are getting:
[code]
because we a generating stubs from WSDL in two different Maven modules (via `cxf-codegen-plugin`).

I do get the point of avoiding split packages, but in this case I don't think our valuable project time is well invested in trying to separate (or unify) those generated packages. They are not subject to any injection anyway.

Therefore it would com

[2021-07-27 17:46] #16451 closed

[2021-07-27 17:53] famod commented on #19030
I guess I should debug this: https://github.com/quarkusio/quarkus/blob/d0555c781c15cbc684684b3d79f98f2507658a94/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/SplitPackageProcessor.java#L56

[2021-07-27 18:05] loicmathieu commented on #13575
@sorin-costea there is multiple log4j classes that Elasticsearch rest client uses somewhere that should be register for reflection.

I'll prepare a fix for Quarkus 2.2, meanwhile you can use the following class to register them from your project as a workaround.

[code]

[2021-07-27 18:22] gavinking commented on #16640
I'm not sure if it's related, but note that there was a bug in HR that caused this property to be ignored. It should be fixed now. @Sanne

[2021-07-27 19:20] edeandrea opened #19033 "`gradlew build` seems to be trying to execute `@NativeImageTest`s"
### Describe the bug

When creating a new project from code.quarkus.io using Gradle as the build tool, running `./gradlew build` seems to be executing the `@NativeImageTest` tests.

[code]

### Expected behavior

The `@NativeImageTest`s shouldn't be run. At least that's my understanding according to https://quarkus.io/guides/gradle-tooling#building-with-gradlew-build

### Actual behavior

The `@Na

[2021-07-27 19:22] survivant opened #19034 "Kafka : SRMSG00019: Unable to connect an emitter with the channel"
### Describe the bug

[quarkus-emitter-kafka.zip](https://github.com/quarkusio/quarkus/files/6888082/quarkus-emitter-kafka.zip)

I'm using Quarkus 2.0.3.Final

I want to send message on a topic.  The message will be read by another application.

In my sending application, I will send a CleanupjobMessage with a emitter.

[code]

My java code

[code]

If I start the application with  :  mvn clean qu

[2021-07-27 19:23] edeandrea commented on #19033
Reading the guide further, should the generated `@NativeImageTest` be generated into a different source set other than `src/test/java`?

[2021-07-27 19:31] marcelstoer opened #19035 "Logging Log4J 2"
### Description

Equivalent to https://github.com/quarkiverse/quarkus-logging-logback for [Log4J 2](https://logging.apache.org/log4j/2.x/).

Allow me to use Log4J 2 to configure Quarkus logging via `log4j2.yml` et al as per https://logging.apache.org/log4j/2.x/manual/configuration.html#AutomaticConfiguration

**Motivation**
There's nothing to be gained by using `<insert-your-favorite-mainstream-Ja

[2021-07-27 19:45] glefloch commented on #19033
Yes by default they are located under `src/native-test/java`. Could you try putting them there?

[2021-07-27 19:55] glefloch commented on #19022
In ˋ2.1.0.Final` we introduce conditional dependency resolution.
This needs dependency to be resolved before compilation as it can adds dependencies to the classpath.
Right now this is done in the ˋafterEvaluateˋ method but maybe we can do better.

[2021-07-27 19:56] kjq opened #19037 "Multipart Class Defined Outside Resource Implementation Fails with CNFE "Populator""
### Describe the bug

When I define a class meant to be used as a payload in both my REST client and resource I get a CNFE stating that the "populator" could not be located.  If I put the class with the resource it works fine.

Referencing a conversation with Michal on [Google Groups](https://groups.google.com/g/quarkus-dev/c/oq73n_QJzxI/m/zJw0CtJsAAAJ).

**Issue 1 demonstrates the error / Working

[2021-07-27 19:58] edeandrea commented on #19033
I must have done something dumb. Sorry about that.

[2021-07-27 19:58] #19033 closed

[2021-07-27 20:04] famod commented on #19020
Do you mean some kind of filtered config based on the extensions you are using?

[2021-07-27 20:37] rquinio commented on #19034
@survivant I think there's a typo in the config: `mp.messaging.outcoming` => `mp.messaging.outgoing`

[2021-07-27 20:39] luketn commented on #15691
Quick question: will OpenTelemetry support Reactive everything well out of the box? (Without hacks like @ annotations?)

[2021-07-27 20:42] survivant commented on #19034
@rquinio thank you !  I need vacation.

[2021-07-27 20:42] #19034 closed

[2021-07-27 20:58] #13575 closed

[2021-07-27 21:04] mcurcija commented on #16998
Reproducible as follows:
using quarkus 2.0.3.Final with minimal gradle deps:
dependencies {
    implementation enforcedPlatform("${quarkusPlatformGroupId}:${quarkusPlatformArtifactId}:${quarkusPlatformVersion}")
    implementation 'io.quarkus:quarkus-jdbc-oracle'
    implementation 'io.quarkus:quarkus-jdbc-postgresql'
}
native build used:  quay.io/quarkus/ubi-quarkus-native-image:21.1-java11 (Fedo

[2021-07-27 21:10] tioback opened #19039 "Allow flyway to use different credentials"
### Description

I would like to use different credentials for my flyway migrations, while still using the same datasource.

For that, I believe we should make `flyway.user` and `flyway.password` visible.

In case they are specified, the application should use those credentials to connect to the default (or named) datasource.

The default behaviour in case the properties are missing, is to use the

[2021-07-27 21:14] stuartwdouglas commented on #16797
+1 to keeping reactive routes separate.

[2021-07-27 21:35] stuartwdouglas commented on #14927
The 'Quarkus Stopped' lag should be fixed upstream.

So out of the 8s we have:
1 for arc generating resources
1 for hibernate
2 for liquibase

Which leaves 4s. My guess would be this is actually starting hibernate/arc, but without a profile its hard to say.

[2021-07-27 21:37] kjq opened #19041 "Support uploading multiple files with Multipart Payload in REST client"
### Description

Uploading multiple files through the RESTClient and a multipart payload does not work.  Handling multiple files as Multipart directly in the resource appears to work.  It would be convenient to handle multiple uploads in the multipart request instead of having to iterate/send each one or zip/unzip them.

This references this conversation on [Google Groups](https://groups.google.co

[2021-07-27 21:41] kjq opened #19042 "Support multipart payload with different parts in REST client"
### Description

When defining a multipart payload, for use in the RESTClient, it appears you cannot define multiple different parts.  Using the same payload directly in the resource appears to work.  It would be nice to support multiple parts within the payload (text, json, files, etc.)

This references this conversation on [Google Groups](https://groups.google.com/g/quarkus-dev/c/oq73n_QJzxI/m/B

[2021-07-27 23:08] fredmtyro commented on #8286
Thanks for following up, everything works correctly in Quarkus 2 as far as I can see.

[2021-07-27 23:23] famod commented on #8286
Thanks for letting us know!

[2021-07-27 23:23] #8286 closed

[2021-07-28 00:08] stuartwdouglas commented on #18854
Maybe we should provide a way to inject these clients into QuarkusIntegrationTest.

[2021-07-28 00:36] kenfinnigan commented on #15691
Are there particular annotations you don't like using? Developer Experience for OpenTelemetry is an area for improvement, please raise issues for any areas of concern

I believe OpenTelemetry integration with Reactive works well, but it depends on whether you're expecting automatic span creation?

[2021-07-28 02:52] stuartwdouglas commented on #18776
The linked PR should fix both issues

[2021-07-28 03:06] stuartwdouglas opened #19044 "Kafka dev services restarted for continuous testing"
### Describe the bug

When using continuous testing + Kafka devservices the kafka container is started/stopped each time, which makes testing slow. It would be better if it could just be 'cleaned' somehow instead (I think deleting and re-creating the topics).

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or

[2021-07-28 03:12] stuartwdouglas opened #19045 "Kafka JMX registration causes issues with continuous testing"
### Describe the bug

Enable continuous testing + test output with kafka-avro-schema-quickstart and you get the following:

[code]

I think we need to use different client ids for the tests somehow.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No res

[2021-07-28 03:26] luketn commented on #15691
I’m still learning Quarkus, but as I understand it, if use use straight up JAX-RS you will get great support just by adding the extension for OpenTracing / OpenTelemetry right? Is it possible to have the same experience with the Reactive flavour of JAX-RS also without changing or annotating your code? Apologies I may be missing some knowledge about how this works that would require the annotation

[2021-07-28 04:45] geoand commented on #18854
So injecting a data source for example?
That sounds neat, but I am wondering what we would inject in the case of Keycloak or Apicurio

[2021-07-28 04:53] #18887 closed

[2021-07-28 04:57] digven commented on #18782
@gsmet can you please let me know the config to provide for uber jar.

I have the below property added in application.properties:
quarkus.package.uber-jar=true

[2021-07-28 05:00] deki commented on #10729
Release 1.6 is now available in Maven Central.

[2021-07-28 05:06] geoand commented on #10729
Nice!

[2021-07-28 05:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1073696811

[2021-07-28 06:17] wansors commented on #19020
Not of the extensions activated, only for the new config properties added by the user in their project. It has no sense for small applications, but if your application or service has many configuration parameters is a nice way to have docslikecode.

[2021-07-28 06:26] geoand commented on #19037
@michalszynkiewicz let me know if you need anything from me on this one

[2021-07-28 06:45] languitar commented on #18854
Having easy access to the database and messaging systems etc. would be really good. Providing fixtures in terms of data inside integration tests is currently not exactly easy, especially with DevServices. Giving clients back to the test would really help. Being able to programmatically use entities to prefill the database would also be very nice.

[2021-07-28 06:59] iocanel commented on #9257
I think this is still an issue

[2021-07-28 07:27] mschorsch commented on #19013
I am planning to call a suspend function in a service. The suspend function in the service makes an asynchronous request (a database call or a rest request).

In addition, it is already possible to return a `Uni`, so it would make sense to support `Deferred` as well.

Maybe it would be a good idea to support suspendable functions where `Uni` is already supported?

[2021-07-28 07:51] ia3andy opened #19049 "CLI "quarkus dev" command is not working with gradle kotlin"
### Describe the bug

quarkus dev command is not working with gradle kotlin

### Expected behavior

should work

### Actual behavior

[code]

### How to Reproduce?

1. Generate some project with code.quarkus using Gradle Kotlin: https://stage.code.quarkus.io/?b=GRADLE_KOTLIN_DSL&e=resteasy&e=resteasy-jackson&e=hibernate-validator
2. Copy `quarkus dev` command in the popup
3. Unzip and cd
4.
[code]

[2021-07-28 07:53] ia3andy commented on #19049
/cc @ebullient

[2021-07-28 08:00] mkouba commented on #19030
It's very likely that the jar has the same `groupId` and `artifactId`. @manovotn we should probably include the classifier if available.

[2021-07-28 08:02] michalszynkiewicz commented on #19037
The weird thing is, the class is there, generated.

[2021-07-28 08:05] mkouba commented on #19030
I don't think it's "overzealous". It does not fail the build but logs some warnings if something is wrong and if I'm not mistaken a split package is problematic not only for dependency injection but in general in Java 11+.

[2021-07-28 08:08] stuartwdouglas commented on #19037
It is likely ending up in the wrong ClassLoader, which is determined by `io.quarkus.deployment.builditem.GeneratedClassBuildItem#applicationClass`

[2021-07-28 08:15] asodja commented on #19022
Oh I see. Do you think creating a separate task for that and make compile task depend on it would solve it?

Current solution also brings up some issues with dependency plugins, for example Spring dependency plugin (https://docs.spring.io/dependency-management-plugin/docs/current/reference/html/)

[2021-07-28 08:17] mkouba commented on #19031
We could easily implement this but I'm not quite it's worth the effort to introduce a config property just to suppress some warnings. In theory, you should be able to set the log level to `ERROR` for the `io.quarkus.arc.deployment.SplitPackageProcessor` logger to suppress all warnings...

[2021-07-28 08:25] ishwar25667 opened #19050 "Unable to set custom data source properties in Quarkus Flyway migration"
### Describe the bug

I Just wanted to migrated data source using Flyway extension using custom data source properties such as-

module.datasource.jdbc.url=xxx
module.datasource.username=xxx
module.datasource.password=xxx

But unable to find any properties where I could set this custom data source.

gone through below article link but properties are started with quarkus.datasource.<custom_data_sou

[2021-07-28 08:25] famod commented on #19030
I don't mind changing the title (or if you do). 🙂

We don't use the classifier, but `<type>test-jar</type>. This type correctly ends up in the `ApplicationArchive`'s `AppArtifactKey`.

I did a quick debug session and I think the actual problem is that `archive.getIndex().getKnownClasses()` is returning way to many known classes!

We use `jandex-maven-plugin` for the main part of `register-core`. B

[2021-07-28 08:27] mkouba commented on #19030
I see. So the type should be added as well ;-).

[2021-07-28 08:30] famod commented on #19030
The type is there already in AppArtifactKey! I have yet to check `ApplicationArchive`'s `hashCode`.

PS: I don't see the processor doing anything with GAV etc., which is actually good in this case.

[2021-07-28 08:43] #15598 closed

[2021-07-28 08:43] famod commented on #19030
Interesting, it doesn't seem to have one: https://github.com/quarkusio/quarkus/blob/2.1.0.Final/core/deployment/src/main/java/io/quarkus/deployment/ApplicationArchiveImpl.java
But this doesn't really play a role here, actually.

Anyway, **I think I now do understand why the index contains packages that are not in that test-jar**:
We include only a prt of `src/test/java`, not everything! So the ind

[2021-07-28 08:46] famod commented on #19031
Sure, I can suppress all warnings but this way I might miss warnings that are actually more relevant for me/my project.

[2021-07-28 08:54] famod commented on #14927
Is see it's gone already in 2.1.0. 👍

h2 will take its toll as well.

With 2.1.0 and some Maven tweaking (`surefire:test@default-test` instead of `test`),  I'm down to ~12s for the whole call.

So that is more or less the same.

But this is suprising (wasn't there with 2.0.3):
[code]
Has something changed wrt web layer in tests that don't actually use it?

[2021-07-28 08:55] geoand commented on #19050
As mentioned in the guide you linked, for a datasource named `inventory` (configured with properties like `quarkus.datasource.inventory.db-kind=h2`), then you would configure flyway using something like:

[code]

[2021-07-28 08:55] #19050 closed

[2021-07-28 08:57] cogniocode opened #19051 "Quarkus fails to report a correct exception when conflicting authentication mechanisms are used (was Quarkus: can't verify Auth0 token)"
### Describe the bug

I have the following OIDC configuration:
[code]

While trying to access any endpoint with a valid access token I receive following response:
[code]

If logging level is set to DEBUG the following stack trace is printed:
[code]

### Expected behavior

Quarkus should successfully verify token and give access to endpoint.

### Actual behavior

Quarkus throws exception.

### How

[2021-07-28 08:58] geoand commented on #14927
Not that I know of. If you have a sample that shows this problem, I'll take a look

[2021-07-28 08:58] #19017 closed

[2021-07-28 09:13] geoand commented on #9606
This is supported (albeit I don't know when it started to be supported).
See https://github.com/quarkusio/quarkus/blob/2.1.0.Final/extensions/reactive-mssql-client/deployment/src/test/java/io/quarkus/reactive/mssql/client/MultipleDataSourcesTest.java for an example of a relevant test

[2021-07-28 09:13] #9606 closed

[2021-07-28 09:14] famod commented on #19031
Well, spoke too soon: I failed at silencing it via logging config. Even tried adding:
[code]
to surefire to get rid of the warnings in #19030 but nope...

[2021-07-28 09:15] glefloch commented on #19049
I can reproduce the issue. This comes from here: https://github.com/quarkusio/quarkus/blob/8033e5e2a9ded66fd59eec281233777aff54a2a4/devtools/cli/src/main/java/io/quarkus/cli/build/GradleRunner.java#L238

I have fixed it. I'm adding a test.

[2021-07-28 09:15] galderz opened #19052 "Support `native-image` dev versions built locally"
### Describe the bug

Error when trying to build Quarkus 2.1.0.Final binaries with locally built `native-image`, e.g.

[code]

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No respons

[2021-07-28 09:19] galderz commented on #19019
The local GraalVM version has no effect if building in container, so what matters here is what Quarkus version you're using (???) and see what container build image is in use, and see what GraalVM / Mandrel version is used then...

[2021-07-28 09:20] ia3andy commented on #19049
Thanks @glefloch, we need to backport it to 2.0 and 2.1 if possible

[2021-07-28 09:24] geoand commented on #7486
This has long been implemented, so I'm closing it

[2021-07-28 09:24] #7486 closed

[2021-07-28 09:27] geoand commented on #7405
I'm going to go ahead and close this as we have a much better solution in RESTEasy Reactive, see https://quarkus.io/guides/resteasy-reactive#request-or-response-filters

[2021-07-28 09:27] #7405 closed

[2021-07-28 09:36] geoand commented on #7090
I'll close this one in favor of https://github.com/quarkusio/quarkus/issues/13662 which already has a discussion surrounding it

[2021-07-28 09:36] #7090 closed

[2021-07-28 09:41] manovotn commented on #19030
Actually, the current information would have been enough, but as part of [this commit](https://github.com/quarkusio/quarkus/commit/300dda6f6ed6d8334d117619575739bf3c792cee#diff-fe2b2e58f26d69df46bc71a784fc9f084248f6fd4b6a7007e37ba163393c9db0) an ordering was imposed which led to creation of the set that now has the problem with uniqueness of its elements.

Here is a PR that adds type and classifie

[2021-07-28 09:43] vsevel opened #19055 "Native build fails with postgres and oracle drivers together"
### Describe the bug

I have added the following dependencies :

[code]

The native build fails.

It works with postgres alone, or oracle alone, but not with both together.

It means I cannot build an application, which may target postgres and/or oracle.

### Expected behavior

Able to build the native image with both drivers postgres and oracle in the same executable.

### Actual behavior

The bu

[2021-07-28 09:43] mkouba commented on #19031
No, I mean warnings from the logger of name `io.quarkus.arc.deployment.SplitPackageProcessor`.

For tests you need to follow the steps described here: https://quarkus.io/guides/logging#how-to-configure-logging-for-quarkustest

[2021-07-28 09:46] galderz commented on #19019
Hmmm, the default container builder image in 2.0.3.Final appears to use GraalVM 21.1 (see [here](https://github.com/quarkusio/quarkus/blob/2.0.3.Final/build-parent/pom.xml#L134)). If this is still happening in 21.1.x, could you share a reproducer?

[2021-07-28 09:48] aloubyansky commented on #19030
@famod are you going to look into adding hashCode/equals to the ApplicationArchiveImpl?

[2021-07-28 09:48] galderz commented on #19019
One more detail, the issue was only fixed in 21.2 (see [fix](https://github.com/oracle/graal/commit/540eff5e0b6edf7cffafba9fad5c874446d5299e)).

[2021-07-28 09:53] sberyozkin commented on #19051
Hi @cogniocode I've been testing `Auth0` JWT tokens recently and had no problems verifying it with `quarkus-oidc`.
`Auth0` can also produce binary tokens and since it does not have an introspection endpoint such tokens can not be verified.
However the stack trace suggests you are in fact using `quarkus-smallrye-jwt` with an incomplete setup - can you provide a reproducer please ? Or provide more i

[2021-07-28 09:55] sberyozkin commented on #19051
@cogniocode And also, please confirm the token which is being sent is a JWT token (you can copy and paste it here if it is a test one or check if it has 3 parts separated by 2 dots - paste it into `jwt.io` and see if it can be decoded)

[2021-07-28 09:57] deodorel opened #19056 "local sam execution in jvm mode failing with resteasy error"
### Describe the bug

I am trying to run my project locally with 2.0.1.Final and 2.0.3.Final versions, and when executing

sam local invoke --template svc/target/sam.jvm.yaml --event some_json

i am getting the exception

Caused by: java.lang.NoSuchFieldError: SERVER_SENT_EVENTS_TYPE
        at org.jboss.resteasy.core.ResourceMethodInvoker.isSseResourceMethod(ResourceMethodInvoker.java:224)

[2021-07-28 09:59] cogniocode commented on #19051
Hi @sberyozkin, thanks for your time.

I would love to provide reproducer, if you can tell how to create one :D

Here is the token I'm using:
[code]

[2021-07-28 09:59] radcortez commented on #8218
No, but I can add it.

[2021-07-28 10:00] famod commented on #19031
Sorry for being imprecise: I meant I would not see any warnings from that processor, even the ones that might be more relevant for me.

Thanks for the pointer but `LogManager` is already there since day one.
Besides, the warning from my initial comment/description is issued by `quarkus-maven-plugin` when building the app, so no tests involved there.

[2021-07-28 10:01] vsevel opened #19057 "Ldap style oracle jdbc urls not supported for native"
### Describe the bug

If I use a url `jdbc:oracle:thin:@ldap://...`, I get the following error at startup: ` java.lang.ClassNotFoundException: com.sun.jndi.ldap.LdapCtxFactory]`

### Expected behavior

Should work same as non ldap oracle jdbc url.

### Actual behavior

Here is the full exception:

[code]

### How to Reproduce?

Create an application using the `quarkus-jdbc-oracle` driver.
Compile

[2021-07-28 10:04] famod commented on #19030
@manovotn

How is that a problem here? Why should `register-core` (the main jar) be considered equal to `register-core` test-jar? Or am I getting you wrong?

@aloubyansky

No time for that, sorry. But as I stated previously, this is not the main problem here (which doesn't mean it shouldn't be addressed), it's the index for that test-jar that contains too many known classes.

[2021-07-28 10:07] manovotn commented on #19030
You are correct that they shouldn't be equal. All I am saying is that the `Set<String>` that is used in current impl introduces this problem because both your JARs will generate the same `String`.

[2021-07-28 10:08] sberyozkin commented on #19051
@cogniocode Np, this is a JWT token and should be easily verifiable with both `quarkus-smallrye-jwt` and `quarkus-oidc`.

The question is how is this stack trace produced - it is not `quarkus-oidc` code but `quarkus-smallrye-jwt` so I'd like to see the configuration which is causing it. It appears that a local key is referenced somehow using `smallrye-jwt` properties.

You can create a reproducer

[2021-07-28 10:09] michalszynkiewicz commented on #19037
So, it is set to be an application class.
But it is the same in the case of having the payload class in the same module, and it works...
When I change `applicationClass` to `false` for it, it fails to load the interface class (in this case `api.FilePayload`) - and it fails like that also in Quarkus tests

[2021-07-28 10:10] michalszynkiewicz commented on #19037
@geoand if you could take a look at it, I'd be grateful :)

[2021-07-28 10:12] geoand commented on #19037
I'll have a look tomorrow

[2021-07-28 10:19] cogniocode commented on #19051
The issue was resolved after I have deleted from pom.xml following dependency:
[code]

I suppose `quarkus-oidc` and `quarkus-smallrye-jwt` conflict somehow resulting in that error. Is this the intended behaviour?
My full pom.xml is like that:
[code]

[2021-07-28 10:22] radcortez commented on #8218
@famod do you want to try the interceptor approach? Just register the `io.smallrye.config.LoggingConfigSourceInterceptor` in a `META-INF/services/io.smallrye.config.ConfigSourceInterceptor` file.

If this works for you, I can just add a configuration to auto-register the interceptor.

[2021-07-28 10:22] sberyozkin commented on #19051
@cogniocode good it has been resolved - this is a bug that this exception is being triggered - well, we expect it to fail as both extensions provide the same authentication mechanism support for the `bearer` type - so it should fail at startup but with a different exception. Let me look into it it (note I'll be on PTO from tomorrow). In any case the good news it works as expected with the correct

[2021-07-28 10:24] cogniocode commented on #19051
Alright, thanks for your help.

[2021-07-28 10:32] #18914 closed

[2021-07-28 10:47] chris-asl opened #19059 "(InMemoryConnector) Sink does not receive message as per Kafka docs"
### Describe the bug

I'm testing reactive messaging using a Kafka connector.

I want to test with the `InMemoryConnector` as provided by SmallRye, [here](https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.8/testing/testing.html) and outlined in the related guide on the [Testing without a broker](https://quarkus.io/guides/kafka#testing-without-a-broker) section.

FYI @el

[2021-07-28 10:52] Sanne commented on #19055
This is caused by the GraalVM directives included in the Oracle JDBC driver.

I did report such issues to the Oracle team, they agreed to fix it but unfortunately also mentioned it's going to take some time to see a new release.

I assume you are an Oracle customer? I would suggest to report it to them, they should be able to give you a patched driver much faster than the ones they release in Mave

[2021-07-28 11:02] Sanne commented on #16640
Ok good to know. Still, it would be wise to keep the configuration properties separated.

[2021-07-28 11:02] #19049 closed

[2021-07-28 11:05] geoand commented on #6967
I am going to close this as I almost certain this is longer an issue (we haven't heard other users mention something similar)

[2021-07-28 11:05] #6967 closed

[2021-07-28 11:10] geoand commented on #6320
What's the use case for this?

I am fairly certain that the use of DevServices (which can start the necessary database as part of a different process) in all forms of tests should cover the need for this.

[2021-07-28 11:12] geoand commented on #6266
The documentation does mention this, see https://quarkus.io/guides/maven-tooling#multi-module-maven

[2021-07-28 11:12] #6266 closed

[2021-07-28 11:12] geoand commented on #6232
Is this still a problem?

[2021-07-28 11:16] geoand commented on #6208
This has already been implemented inthe form of `@InjectMock` and `@InjectSpy`. See https://quarkus.io/guides/getting-started-testing#further-simplification-with-injectmock and https://quarkus.io/guides/getting-started-testing#using-injectmock-with-restclient for more information

[2021-07-28 11:16] #6208 closed

[2021-07-28 11:19] geoand commented on #6184
I am going to close this as we have a dedicated GH Action that runs nightly. See https://github.com/quarkusio/quarkus/actions/workflows/deploy-snapshots.yml for more details

[2021-07-28 11:19] #6184 closed

[2021-07-28 11:25] geoand commented on #6151
I am going to close this since we now have a fully managed JAX-RS client in the form of `quarkus-jaxrs-client-reactive`

[2021-07-28 11:25] #6151 closed

[2021-07-28 11:27] geoand commented on #6134
I am going to close this because now a user can trigger a manual reload from both the console and the DevUI (this will be part of the `2.2` release)

[2021-07-28 11:27] #6134 closed

[2021-07-28 11:30] geoand commented on #5966
Is this still an issue? I am pretty sure it's not

[2021-07-28 11:32] geoand commented on #5871
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/5871

[2021-07-28 11:32] #5871 closed

[2021-07-28 11:34] geoand commented on #5864
Closing as `won't fix` as this does seems to be a very rare complaint

[2021-07-28 11:34] #5864 closed

[2021-07-28 11:37] geoand commented on #5712
I am going to close this as @edeandrea's resource (which is coming soon) covers all topics a Spring developer would want to know to Quarkus

[2021-07-28 11:37] #5712 closed

[2021-07-28 11:38] geoand commented on #5760
This is very old now and since we don't have enough information, I'll close it

[2021-07-28 11:38] #5760 closed

[2021-07-28 11:40] edeandrea commented on #5712
It should be out mid-end of August. I'll post a link back here once it's out.

[2021-07-28 11:42] #5526 closed

[2021-07-28 11:42] rsynek opened #19061 "Accept a list of quarkus extensions in the quarkus-platform-bom-maven-plugin"
### Description

The `quarkus-platform-bom-maven-plugin` currently requires a BOM (e.g. org.optaplanner:optaplanner-bom) as an input to generate a platform member BOM (e.g. io.quarkus.platform:quarkus-optaplanner-bom).

The input BOM is supposed to define also versions of dependencies of all related Quarkus extensions, which forces the `dependencyManagement` of the project the extensions belong (e

[2021-07-28 11:43] geoand commented on #5634
With Hibernate Reactive having been integrated in Quarkus, I think this can be closed now, right?

[2021-07-28 11:48] geoand commented on #14528
Closing this as we didn't get the expected user input.
If this is still an issue, please comment with the new information

[2021-07-28 11:48] #14528 closed

[2021-07-28 11:50] geoand commented on #14758
Any update on this?

[2021-07-28 11:54] geoand commented on #16024
We will soon move the core RESTEasy Reactive project out of the Quarkus repo, but the plan isn't to reuse code from RESTEasy, so I'll close this

[2021-07-28 11:54] #16024 closed

[2021-07-28 11:57] geoand commented on #16106
Is this still an issue?

[2021-07-28 11:59] aloubyansky commented on #19061
@rsynek sounds good, although this issue should move to https://github.com/quarkusio/quarkus-platform-bom-generator, since this is where it will be implemented.

[2021-07-28 12:10] maxandersen commented on #6184
cool, but how come https://oss.sonatype.org/content/repositories/snapshots/io/quarkus/quarkus-core/999-SNAPSHOT/ last update then is in April 21 ?

[2021-07-28 12:13] geoand commented on #6184
See https://s01.oss.sonatype.org/content/repositories/snapshots/io/quarkus/quarkus-core/999-SNAPSHOT/ (not the use of `s01`)

[2021-07-28 12:15] maxandersen commented on #6184
ah gotcha - background info at https://central.sonatype.org/publish/publish-guide/, change in '21

[2021-07-28 12:22] vsevel commented on #19055
hi @Sanne no hurry for me. And we have started running tests with `oracle xe` instead of `postgres`.
I just wanted to create the issue if this was not known already.

[2021-07-28 12:27] kenfinnigan commented on #15691
Ah ok.

If you're just talking about RESTEasy Reactive, then yes OpenTelemetry integrates with that without annotations required on the code.

Database queries is something that is not there today for OpenTelemetry, it's on the roadmap, but the other pieces should be present already

[2021-07-28 12:27] rsynek commented on #19061
@aloubyansky right, that's a better place; let me move it over there.

[2021-07-28 12:28] rsynek commented on #19061
Moving the issue to https://github.com/quarkusio/quarkus-platform-bom-generator/issues/64.

[2021-07-28 12:28] #19061 closed

[2021-07-28 12:31] geoand commented on #16122
@TomasHofman 's analysis is spot on.

However RESTEasy Reactive should certainly not be throwing a NPE. https://github.com/quarkusio/quarkus/pull/19062 takes care of that

[2021-07-28 12:32] bcluap commented on #16106
Nope, can be closed due to the other PR's that have resolved these 2 issues.

[2021-07-28 12:32] #16106 closed

[2021-07-28 12:32] geoand commented on #16106
Thanks!

[2021-07-28 12:32] manovotn commented on #19031
So basically a configurable whitelist for the processor.
I am not sure it is entirely sensible and would prefer for users to either ignore all warning or solve them. OTOH, I get your point here.

It is definitely implementable, the property could pass in a list of Strings which represent different packages you want the processor to skip. I'll look into it.

[2021-07-28 12:33] deki opened #19063 "NPE in LambdaHttpHandler (amazon-lambda-http extension)"
### Describe the bug

While testing a Quarkus Lambda function, I hit the following NPE:

ERROR [qua.ama.lam.http] (main) Request Failure: java.lang.NullPointerException
at io.quarkus.amazon.lambda.http.LambdaHttpHandler.nettyDispatch(LambdaHttpHandler.java:171)
at io.quarkus.amazon.lambda.http.LambdaHttpHandler.handleRequest(LambdaHttpHandler.java:63)
at io.quarkus.amazon.lambda.http.LambdaHttpHan

[2021-07-28 12:38] evacchi commented on #6232
I have created this JIRA a few days ago, I am trying to raise the priority for the next sprint https://issues.redhat.com/browse/KOGITO-5456

[2021-07-28 12:43] galderz commented on #19052
Not a Quarkus issue, the snapshot built does not contain version information.

[2021-07-28 12:43] famod commented on #19031
@manovotn if there was an option to switch it off it would be ok for me. I would then enable it on demand.

[2021-07-28 12:43] #19052 closed

[2021-07-28 12:49] geoand commented on #16321
This was fixed in `2.1.0.CR1`

[2021-07-28 12:49] #16321 closed

[2021-07-28 12:49] HardNorth commented on #19063
@deki Interesting, the only option I see is that `request.getRequestContext().getHttp()` returned null. Because `request.getRequestContext()` was already called few lines above. How did you got such state? Because it's not really clear what to do in that case. There is no "default" method in HTTP protocol.

[2021-07-28 12:51] geoand commented on #16220
This is likely due to a config change that went in.

[2021-07-28 12:51] #16220 closed

[2021-07-28 12:56] patriot1burke commented on #19063
Maybe you are using the wrong extension?  Are you doing a normal lambda or are you using vertxweb, servlet, or jax-rs with lambda?

A regular lambda is quarkus-amazon-lambda
If you are using one of our HTTP apis its quarkus-amazon-lambda-http (or -rest depending on which AWS http api you are using)

[2021-07-28 12:56] deki commented on #19063
Yes if you trigger the Lambda function directly without involving API-Gateway (e.g. using the Test button in the AWS Lambda console) there is obviously no HTTP involved. So not much we can do apart from providing a proper error message.

[2021-07-28 13:09] ricardozanini commented on #18745
Thanks @fjtirado

[2021-07-28 13:38] geoand commented on #16550
This is an extreme corner case...
I don't see the legacy jar working with this either to be honest

[2021-07-28 13:39] wabrit commented on #18228
Other otel logging instrumentations (e.g. log4j) are relatively simple because the logging framework in question has an SPI-based extension mechanism in which to inject the MDC behaviour.

For jboss logging the only similar mechanism I can find is the SPI-able `EmbeddedConfigurator` interface, and which allows additional jboss logging `ExtHandler` implementations to be registered. The problem is I

[2021-07-28 13:48] Sanne commented on #5634
Right, closing.

[2021-07-28 13:48] #5634 closed

[2021-07-28 14:10] #18981 closed

[2021-07-28 14:14] nimo23 commented on #5871
@geoand How can https://github.com/quarkusio/quarkus/issues/5871 be a duplicate of https://github.com/quarkusio/quarkus/issues/5871 ?

[2021-07-28 14:25] famod commented on #19030
@manovotn @mkouba @aloubyansky can anyone of you point me to where an index is created when a beans.xml is found?
TBH, I'd prefer if someone with more knowledge in that area would pick up this task but I can at least _try_ to support.

[2021-07-28 14:31] sberyozkin commented on #19051
When I add `quarkus-smallrye-jwt` to `integration-tests/oidc` which already has the `quarkus-oidc` dependency then I see:
[code]

which is expected. It is the `main` branch. However, adding both dependencies to `quarkus-quickstart/security-openid-connect-quickstart` makes no difference, sending a bogus token returns 401 as expected, no exception as shown in the description is thrown so something i

[2021-07-28 14:41] aloubyansky commented on #19030
I could have a look. There is no reproducer readily available, is there?

[2021-07-28 14:57] geoand commented on #5871
It's magic, because everyone knows that #5871=#6477

[2021-07-28 15:56] geoand commented on #19037
https://github.com/quarkusio/quarkus/pull/19068 is the fix in any case

[2021-07-28 16:36] famod commented on #19030
No. I can try to hack something later.

[2021-07-28 17:22] #7331 closed

[2021-07-28 18:41] venkatt007 commented on #9210
Any alternate way to achieve this in quarkus? Facing similar one. Any help will be much appreciated. Looking for some examples

[2021-07-28 20:09] jfey commented on #15944
Hello,

I am also havin' issues with the VertX based MQTT and it drives me crazy. The proposed solution seems like a nice option with better control too.

Any update regarding an official build and also support for the latest Quarkus Release?? I did not see a local build process explained in the docs (i would try) and could not find the dependency ready to be used:
    <dependency>
      <groupId>

[2021-07-28 21:25] #18776 closed

[2021-07-28 22:33] #16122 closed

[2021-07-28 22:37] luketn commented on #15691
Cool, thanks!

[2021-07-28 22:39] stuartwdouglas commented on #16550
Does it work if you use getResources() and iterate on the result?

[2021-07-29 01:56] #18648 closed

[2021-07-29 04:38] tadayosi opened #19073 "Error "java.lang.SecurityException: setParent() disallowed" thrown using some 3rd party library with Quarkus"
### Describe the bug

I understand the issue is that the 3rd party library invokes `Logger#setParent()` internally, but not always we control libraries which we want to use in our Quarkus app (in my case it is `io.github.spencerpark:jupyter-jvm-basekernel`).

### Expected behavior

Quarkus (or JBoss Logging) should allow to use 3rd party libaries despite they use `Logger#setParent()` internally. O

[2021-07-29 05:16] #19037 closed

[2021-07-29 05:19] geoand commented on #19059
cc @ozangunalp

[2021-07-29 05:20] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1077382266

[2021-07-29 05:28] geoand commented on #2144
I am going to close this as we have implemented this stuff in RESTEasy Reactive

[2021-07-29 05:28] #2144 closed

[2021-07-29 05:37] geoand commented on #2489
This has already been implemented with the introduction of [@ConfigMapping](https://smallrye.io/docs/smallrye-config/mapping/mapping.html) into SmallRye Config 2.3 (which is included in Quarkus 2.0)

[2021-07-29 05:37] #2489 closed

[2021-07-29 05:39] geoand commented on #2282
This was fixed by https://github.com/quarkusio/quarkus/pull/19060 and the issue is actually a duplicate of https://github.com/quarkusio/quarkus/issues/7331

[2021-07-29 05:39] #2282 closed

[2021-07-29 05:40] geoand commented on #2282
Close, but it's a little more complicated. Even if the JVM process dies, the docker build still runs because as a sort of daemon. As the PR that fixes the issue shows, we just needed to execute the proper `docker rm -f ...` command

[2021-07-29 05:41] geoand commented on #2445
With the use of micrometer as the default for metrics, I think this has been covered. Right @ebullient ?

[2021-07-29 05:42] geoand commented on #2442
Closing this as the file no longer exists

[2021-07-29 05:42] #2442 closed

[2021-07-29 05:46] geoand commented on #3285
This seems to be way out of date now so I'll close it. Feel free to reopen if it's still an issue

[2021-07-29 05:46] #3285 closed

[2021-07-29 05:49] geoand commented on #3111
I am pretty sure this has been covered by the introduction of `io.vertx.mutiny.core.eventbus.EventBus` so I'll close this. Feel free to reopen if there is still work to do

[2021-07-29 05:49] #3111 closed

[2021-07-29 05:57] geoand commented on #4404
Is this still an issue? Furthermore, is it an issue with the new `quarkus-rest-client-reactive`?

[2021-07-29 05:57] geoand commented on #4345
Closing this as it has been implemented in the form of RESTEasy Reactive

[2021-07-29 05:57] #4345 closed

[2021-07-29 05:58] geoand commented on #7306
This has been implemented in the sense that we now **require** Java 11

[2021-07-29 05:58] #7306 closed

[2021-07-29 05:59] geoand commented on #4036
This won't be implemented since there hasn't been any community interest

[2021-07-29 05:59] #4036 closed

[2021-07-29 06:00] geoand commented on #4408
Is this still an issue?

[2021-07-29 06:02] geoand commented on #4919
@galderz IIRC there is now some way to do this?

[2021-07-29 06:04] geoand commented on #4797
I am going to close this as essentially a duplicate of https://github.com/quarkusio/quarkus/issues/6506

[2021-07-29 06:04] #4797 closed

[2021-07-29 06:05] geoand commented on #4804
@michalszynkiewicz @FroMage are there any cool ideas we could borrow from here to add to the new reactive REST client?

[2021-07-29 06:06] geoand commented on #4675
@ebullient should this be considered done at this point?

[2021-07-29 06:08] geoand commented on #5298
@ppalaga Can you explain this one a little? I am not sure what it refers to

[2021-07-29 06:10] geoand commented on #5206
This has been implemented in RESTEasy Reactive

[2021-07-29 06:10] #5206 closed

[2021-07-29 06:12] geoand commented on #5434
I'll close this as won't fix since we now have much better solutions with RESTEasy Reactive, Hibernate Reactive and Munity

[2021-07-29 06:12] #5434 closed

[2021-07-29 06:13] geoand commented on #5432
@cescoffier don't we already have this for Reactive Messaging? If so, I think we should close the issue

[2021-07-29 06:25] geoand commented on #5420
I am going to close this as @FroMage has implemented [@RestResponse](https://github.com/quarkusio/quarkus/pull/18269) in RESTEasy Reactive which is essentially `Response` but with a generic type (and some API improvements)

[2021-07-29 06:25] #5420 closed

[2021-07-29 06:28] geoand commented on #5705
cc @bardweler

[2021-07-29 06:31] ppalaga commented on #5298
This is really old. IIRC at that time, the team's strategy was that service discovery does not need any special implementation in Quarkus, because it is solved by Kubernetes or whichever other container orchestrator the application runs in. There was no sole word about this topic in the whole Quarkus docs and so newcomers could have thought that there is no solution to the problem at all. Although

[2021-07-29 06:31] geoand commented on #5298
Thanks for the information.

cc @michalszynkiewicz

[2021-07-29 07:27] michalszynkiewicz commented on #4804
Using `@Headers("Authorization: Bearer {accessToken}")` may indeed be more straightforward than setting the constant part of the header value.

For the other mentioned features, I like `@RequestLine("GET /v{version}/{ressourceName}?criteria1={criteria1}&criteria2={criteria2}")` less than

[code]

We cannot do query params as ^ but does it make much sense? With JAX-RS we simply have them as `@Query

[2021-07-29 08:27] ozangunalp commented on #19059
@chris-asl thanks for the reproducer, it helped a lot.

I hear that this is very misleading, we need to explain this more in the documentation:

The (very confusingly named) `InMemorySink` and `InMemorySource` are independent outgoing and incoming in-memory channels.
The fact that your `application.yml` contains `connector: smallrye-kafka` and `topic: order` config doesn't make them work like Kafk

[2021-07-29 08:48] geoand commented on #4804
I'll leave it up to you to decide whether or not to keep this ticket open or close as `won't fix`

[2021-07-29 08:51] andlinger opened #19079 "Unable to create native debug build in Gradle"
### Describe the bug

I wanted to create a native debug build in Gradle. I attached the following arguments to the 'build' task:
`-Dquarkus.package.type=native -Dquarkus.native.debug.enabled=true`

However, the following exception happens at the end of the build:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `

[2021-07-29 08:54] geoand commented on #19031
Something tells me that @manovotn got more than he bargained for when he decided to help out on the split package issue 😆

[2021-07-29 08:58] Sanne commented on #4919
was about to ask the same :) We'll need it for #19055

[2021-07-29 09:01] geoand commented on #19079
I was not able to reproduce this with a new project downloaded from code.quarkus.io

[2021-07-29 09:02] Sanne commented on #4345
is RESTEasy Reactive the only way forward?  I still see performance issues when using the "classic" one.

[2021-07-29 09:05] geoand commented on #4345
RESTEasy Classic certainly is not going anywhere, but our focus from a Quarkus PoV is on RESTEasy Reactive

[2021-07-29 09:06] geoand commented on #7934
I am going to close this as out of date. Please attach a new (working) reproducer if this is still a problem

[2021-07-29 09:06] #7934 closed

[2021-07-29 09:08] geoand commented on #16899
This is essentially a duplicate of https://github.com/quarkusio/quarkus/issues/7862

[2021-07-29 09:08] #16899 closed

[2021-07-29 09:08] Sanne commented on #4345
Ok but why close this then? I still hope this can be improved

[2021-07-29 09:10] geoand commented on #7683
Is this still an issue? Asking because the k8s client has received several bug fixes since this was opened

[2021-07-29 09:11] geoand commented on #7812
Should this be closed then?

[2021-07-29 09:16] geoand commented on #8097
I am going to close this as we have documented testcontainers [here](https://quarkus.io/guides/getting-started-testing#quarkus-test-resource) and also rely on test containers for DevServices which is mentioned among other places, [here](https://quarkus.io/guides/datasource#dev-services)

[2021-07-29 09:16] #8097 closed

[2021-07-29 09:18] andlinger commented on #19079
Which means?

[2021-07-29 09:19] geoand commented on #4345
Who is going to improve it? And where is the improvement going to go? If it's in Quarkus (which I doubt anyone will do at this point), then it would make sense to leave the ticket open. But if the fix is going to be in RESTEasy, then it's probably best to track it in the appropriate issue tracker

[2021-07-29 09:20] geoand commented on #19079
That you'll need to attach a sample project and provide more information for us

[2021-07-29 09:22] iocanel commented on #7683
The client fails to deserialize what appears to be a Status resource. To be honest it doesn't seem right getting something called Status when watching for jobs.

This may indicate that the server returns an unexpected response or us failing to deserialize it either due to a missing jar, failing reflection call (if native) or a client bug.

I would suggest trying in jvm mode too.
If it still fails,

[2021-07-29 09:22] geoand commented on #8585
Closing as `@QuarkusTestResource` is now documented in https://quarkus.io/guides/getting-started-testing#testing_different_profiles

[2021-07-29 09:22] #8585 closed

[2021-07-29 09:24] bdevreugd-vialis opened #19080 "QuarkusIntegrationTest: Access to DevServices after #18933"
### Description

Issue #18854 allowed access to the dev service urls inside integration tests.
However, issue #18933 causes dev services to be started inside a shared network which will return urls inside that network. The integration test however is run from the host, which has no access to that shared network.

Could you add a method for integration tests, to acces the dev services?

### Impleme

[2021-07-29 09:24] rsvoboda opened #19081 "infinispan-client requires authentication to be defined right after adding the extension, didn't need that in 2.0.0.Final"
### Describe the bug

infinispan-client requires authentication to be defined right after adding the extension, didn't need that in 2.0.0.Final

[code]

### Expected behavior

Application starts without error

### Actual behavior

Error + stacktrace are thrown

### How to Reproduce?

**Generate the 2.0.0.Final based project:**
rm -rf app-generated-skeleton && mvn io.quarkus:quarkus-maven-plugin:2.

[2021-07-29 09:25] geoand commented on #19080
Thanks for reporting!

[2021-07-29 09:25] andlinger commented on #19079
I just tried to download a new project from code.quarkus.io. Here the problem happens too.

[code]

[2021-07-29 09:27] asoldano commented on #4345
Adding @jamezp here. James, I think it might be worth isolating the possible improvements that could go into RESTEasy and create JIRAs for them.

[2021-07-29 09:33] karesti commented on #19081
@rsvoboda hi! are you using infinispan without authentication ?

[2021-07-29 09:33] machi1990 commented on #18742
@sap-nocops can you please see https://github.com/vert-x3/vertx-redis-client/pull/305#issuecomment-888898860, thanks ?

[2021-07-29 09:34] geoand commented on #19079
I can't reproduce it. Maybe @glefloch can or has an idea about what might be going on

[2021-07-29 09:34] pokusak opened #19082 "Native build fails with LC_ALL=cs_CZ"
### Describe the bug

Building native image with environment variable LC_ALL set to cs_CZ fails on tests (or if tests skipped binary is created but fails to start with same error)

### Expected behavior

Working executable should be created for EN settings same as for CZ settings

### Actual behavior

Running final binary fails on:
`
java.lang.NoSuchMethodError: java.lang.String.<init>([B)V

[2021-07-29 09:35] rsvoboda commented on #19081
Hi Katia. My flow is just to generate the project and run the dev mode to ensure good OOTB experience, no ISPN is running.

[2021-07-29 09:36] DavideD commented on #17421
I can confirm the live reload works now with the latest quarkus snapshot.
No exception is thrown.

[2021-07-29 09:38] geoand commented on #8541
This has been implemented as part of https://github.com/quarkusio/quarkus/pull/16473

[2021-07-29 09:38] #8541 closed

[2021-07-29 09:38] Sanne commented on #17421
excellent, thanks @DavideD !

[2021-07-29 09:38] #17421 closed

[2021-07-29 09:38] karesti commented on #19081
Ok, we changed the default behaviour since infinispan is authenticated by default and authorization enabled by default.
https://quarkus.io/version/main/guides/infinispan-client

I added the DIGEST by default as well since SCRAM is not yet supported with quarkus and it's the default.

So the

quarkus.infinispan-client.use-authEnables is set to true

quarkus.infinispan-client.use-authEnables or disa

[2021-07-29 09:39] rsvoboda opened #19083 "quarkus-maven-plugin:2.1.0.Final:create fails when `-DplatformVersion=2.1.0.Final` is specified"
### Describe the bug

quarkus-maven-plugin:2.1.0.Final:create fails when `-DplatformVersion=2.1.0.Final` is specified

Running `rm -rf app-generated-skeleton && mvn io.quarkus:quarkus-maven-plugin:2.1.0.Final:create -DprojectGroupId=my-groupId -DprojectArtifactId=app-generated-skeleton -DprojectVersion=1.0.0-SNAPSHOT -DpackageName=org.my.group -DplatformVersion=2.1.0.Final -Dextensions=quarkus-inf

[2021-07-29 09:39] karesti commented on #19081
@rsvoboda the documentation changes are in snapshot version

[2021-07-29 09:41] rsvoboda commented on #19081
I think something should be added into https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.1.

[2021-07-29 09:46] karesti commented on #19081
probably @rsvoboda
I did not test this use case at all, I just made sure to simplify the use of infinispan since the container images are authenticated by default and to use a non authenticated you need to do it explicitly, so it makes more sense to me to also specifically disable it from the extension, which is also the case if you specify a user and password today.
Anyway, how do you think we ca

[2021-07-29 09:50] rsvoboda commented on #19081
Using `quarkus.infinispan-client.use-auth=false` I get further. But there are attempts to contact ISPN server eagerly, I have no work for ISPN, I have just added the extension ...

I see this in the logs:
[code]

[2021-07-29 09:51] thienldd commented on #18886
Thanks @mkouba. I'll give it a try.

[2021-07-29 09:55] karesti commented on #19081
yes, I see, tries to connect to infinispan even if there is nothing configured about infinispan, which is weird since I don't create any client in the extension (is null) if the application.properties is empty

[2021-07-29 09:56] rsvoboda commented on #19081
My use case is that developer generates new project, knows he/she will use ISPN too, so he/she adds the extension.
Starts the dev mode and wants to switch to the IDE to start coding some rest endpoint etc. but the browser gives just Error restarting Quarkus with `Connection refused: /127.0.0.1:11222` in the stacktrace

[2021-07-29 09:56] glefloch commented on #19079
I can reproduce the error when adding the `-Dquarkus.native.debug.enabled=true` option. It looks like the file `build/code-with-quarkus-1.0.0-SNAPSHOT-native-image-source-jar/code-with-quarkus-1.0.0-SNAPSHOT-runner.debug` does not exist.

@geoand should it be generated by the `native-image` tool?

[2021-07-29 09:58] karesti commented on #19081
ok I know why, is because I added the Console Dev mode.

[2021-07-29 10:03] karesti commented on #19081
@rsvoboda I'll fix this

[2021-07-29 10:04] 0SkillAllLuck opened #19085 "gRPC in custom extension causes gRPC to fail"
### Describe the bug

When using a proto file inside an extension and generating code there the gRPC services can no longer work correctly. IntelliJ shows that the classes are found but the gRPC service can't start. The issue seems to only occur with Quarkus 2.0 or higher.

### Expected behavior

The gRPC service starts normally and works

### Actual behavior

The gRPC service starts but returns u

[2021-07-29 10:06] karesti commented on #19081
@rsvoboda I think this should be fixed already in 2.2
https://github.com/quarkusio/quarkus/pull/18618

[2021-07-29 10:07] andlinger commented on #19079
The fact that the .debug file is not found can, according to the documentation, also be due to the fact that "objcopy" is not installed or not in the PATH. I have encountered this error before.

[2021-07-29 10:08] karesti commented on #19081
but maybe there are still other issues related to the lack of any property specified in dev mode.
I will check this use case with the latest snapshot version and fix whatever needs to be fixed if it fails

[2021-07-29 10:12] geoand commented on #19079
I'll take a look

[2021-07-29 10:21] ambition-consulting commented on #6276
It's a shame that a framework, which is meant for microservice orchestration, has only testing support for monolithic applications. We need orchestration support like provided by spring-cloud-contracts or pact.

[2021-07-29 10:35] wabrit commented on #6276
I would agree with @ambition-consulting - CDC is a big part of our Spring Boot microservice qa process, and it would be very desirable to have an equivalent in quarkus. Ideally the framework should be language-agnostic so that e.g. contracts published by a Quarkus microservice producer can be tested by a Nodejs consumer - spring-cloud-contracts AFAIK does not support that.

[2021-07-29 10:42] geoand commented on #19079
I was able to reproduce it and I'll come up with a fix soon

[2021-07-29 10:50] DavideD commented on #15131
I've just tested this with the latest snapshots and it seems to work without errors now.

I had to change a couple of tests from:
[code]
to
[code]

But the Vert.x exception doesn't occur anymore

[2021-07-29 10:51] markusdlugi commented on #18977
@michalszynkiewicz @geoand @FroMage Any idea why this would happen?

[2021-07-29 10:56] geoand commented on #15131
Thanks for checking!

I'll close this based on that information. If this comes up again, feel free to reopen

[2021-07-29 10:56] #15131 closed

[2021-07-29 10:57] iompo opened #19086 "gradle parallel execution fails when using composing build"
### Describe the bug

If I build my module with gradle parallel execution and [composite build](https://docs.gradle.org/current/userguide/composite_builds.html) the task fails. It does not fail when I don't use parallel execution.

### Expected behavior

build task should complete without errors

### Actual behavior

the task fails with the following message:
[code]
The file is actually there afte

[2021-07-29 11:03] geoand commented on #19079
https://github.com/quarkusio/quarkus/pull/19087 takes care of the issue

[2021-07-29 11:22] geoand commented on #18977
Does the problem manifest in `2.1.0.Final` as well?

[2021-07-29 11:30] markusdlugi commented on #18977
Just updated the reproducer and tested it with that version again. It does also exist in 2.1.0.Final.

[2021-07-29 11:32] geoand commented on #18977
I'll try and have a look soon

[2021-07-29 11:37] manovotn commented on #19031
@geoand It all started with good intention to let users know about split packages which may break Arc functionality.
Unfortunately, road to hell is also paved with good intentions :-D

[2021-07-29 11:43] silviu-negoita commented on #18685
Hi again! @gsmet i tried your fix, but there is no difference.
Meanwhile, I can found a better way to reproduce. When DB connection is down, I stress out the application with events(which hits the DB). After a while, application will not receive events anymore . I attached a thread dump for this case, but also after restart.
[mem_dumps.zip](https://github.com/quarkusio/quarkus/files/6900199/mem_du

[2021-07-29 11:51] chris-asl commented on #19059
I see, this makes it much more clearer (the **independent** part).
I've added a commit to the reproducer which uses the example from the Quarkus Kafka docs with the addition of said processor.

I believe the independent clarification along with the processor component, should be also added to the documentation.
I could prepare a patch along the lines of https://github.com/quarkusio/quarkus/pull/18

[2021-07-29 11:53] Sgitario opened #19090 "Regression: Null pointer exception when enabling continuous testing"
### Describe the bug

This issue is caused by this commit: https://github.com/quarkusio/quarkus/commit/8d49f1e0af15608bb91588e9b05521048ca1a5bf

Basically, doing `mvn quarkus:dev` and pressing the key `r` (resuming testing), we will get the exception:

[code]

Other consequences (not sure if related to the null pointer or not) are that when adding a new test, this test is indeed detected and execu

[2021-07-29 12:08] neoludo opened #19091 "Map of Map not supported in SmallRye ConfigMapping"
Hi,

considering that interface :
[code]

and that application.yml
[code]

I'm getting that value in my SampleConfig object :
Map {
   value1 -> Map { value1: xoxox21 },
   value2 -> Map { value2: xoxox22 },
   value3 -> Map { value3: xoxox13 }
}

instead of :
Map {
   key1-> Map { value1: xoxox11, value2: xoxox12, value3: xoxox13 },
   key2 -> Map { value1: xoxox21, value2: xoxox22 }
}

Test to r

[2021-07-29 12:17] rsvoboda commented on #7812
https://quarkus.io/guides/all-config guide is updated, now we have lock icon

[2021-07-29 12:17] #7812 closed

[2021-07-29 12:21] rsvoboda commented on #19081
Cool, tried Quarkus main and this issue is already fixed.
`mvn -f app-generated-skeleton/pom.xml clean quarkus:dev -Dquarkus.platform.version=999-SNAPSHOT -Dquarkus.platform.group-id=io.quarkus`

[2021-07-29 12:22] #19081 closed

[2021-07-29 12:27] ebullient commented on #4675
Either that, or John needs to go through and make a list. ;)

[2021-07-29 12:32] michalszynkiewicz commented on #19085
@0SkillAllLuck we do something similar with reflection service and health service...
Do you have your extension available somewhere? If not, can you create some minimal reproducer? It helps a lot in fixing issues.

[2021-07-29 12:34] michalszynkiewicz commented on #4804
I'd close it. @FroMage WDYT?

[2021-07-29 12:34] rsvoboda opened #19092 "Split package usage for `io.fabric8:openshift-model`, `io.fabric8:openshift-model-operator`"
### Describe the bug

Quarkus reports split package `io.fabric8.openshift.api.model` usage in `io.fabric8:openshift-model`, `io.fabric8:openshift-model-operator` artifacts.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Build project with `quarkus-openshift-client` extension and check the console logs.

### Output of `uname -a` or `ver`

m

[2021-07-29 12:38] geoand commented on #19092
cc @manovotn

[2021-07-29 13:00] geoand commented on #19090
I **assume** it's as simple as https://github.com/quarkusio/quarkus/pull/19093

[2021-07-29 13:02] iompo commented on #19086
Might be a similar problem as [issues 13052](https://github.com/quarkusio/quarkus/issues/13052)?

[2021-07-29 13:05] robp94 opened #19094 "Custom Extension with reactive messaging blocking or runSubscprition not working"
### Describe the bug

I have a custom extension which uses reactive messaging. It has some blocking work to do and then sends an event via a rest client. Without using `blocking` or `runSubscriptionOn` it is working, but sometimes gets the warning that it blocked the thread to long. So I tried adding the blocking annotation, which does not work. Injecting fails, like for the logger.
My second idea

[2021-07-29 13:10] manovotn commented on #19092
This should be addressed by whoever is the maintainer of the aforementioned packages (any idea who that would be @gsmet  or @geoand?).
If not solvable right away, they can whitelist the package as was done in https://github.com/quarkusio/quarkus/pull/18743
Alternatively, users will be able to ignore certain packages once https://github.com/quarkusio/quarkus/pull/19089 gets incorporated.

[2021-07-29 13:12] geoand commented on #19092
We can't really address it now (since it's a k8s client issue).

@manovotn does https://github.com/quarkusio/quarkus/pull/19089 allow an extension to provide configuration?

[2021-07-29 13:26] karesti commented on #19081
@rsvoboda as I suspected the dev ui tries to use a null remote cache manager so it breaks. fixing that in a PR

[2021-07-29 13:33] manovotn commented on #19092
It doesn't now, we can expand it.  Didn't think we would need that as well :-D

[2021-07-29 13:46] ppalaga opened #19095 "Compatibility policy"
### Description

It would be nice if Quarkus team could address the following topics somewhere in the docs:

* What is the general approach to performing backwards incompatible changes
* Quarkus and semantic versioning
* Time/number of releases between deprecation and removal

cc @gsmet

### Implementation ideas

[FAQ](https://quarkus.io/faq/) and [Migration guides](https://github.com/quarkusio/qu

[2021-07-29 14:05] silviu-negoita commented on #18685
Also, i see something similar in here https://github.com/quarkusio/quarkus/issues/15025. I am reproducing the issue in `2.0.3.Final`

[2021-07-29 14:30] loicmathieu opened #19098 "Performance drop for Kafka reactive messaging since Quarkus 2.0"
### Describe the bug

We made a lot of test and ends up to the conclusion that the thoughtput of Smallrye Reactive Messaging Kakfa drops by approximatively 4 times from Quarkus 1.13 to Quarkus 2.

I also try Quarkus 2.1 and by forcing the latest version of smallrye reactive messaging Kafka (3.8) to see if it changes something but no.

I isolated one of our Kafka components that reads from one AVRO

[2021-07-29 15:05] #19079 closed

[2021-07-29 15:09] karesti commented on #19081
I made some changes to the dev UI https://github.com/quarkusio/quarkus/pull/19099

[2021-07-29 15:41] vsevel commented on #19091
you can do:

[code]

Then with this config:
[code]

you can do:
[code]

I was not able to use a `Map` indeed. @radcortez is this possible?

[2021-07-29 15:47] vsevel commented on #19091
actually this works as well:

[code]
[code]
[code]

[2021-07-29 15:52] sberyozkin commented on #18740
Hi @geoand sorry, have just spotted this issue - I'm afraid it is totally out of our control - `quarkus-keycloak-admin-client` is wrapping a Keycloak library which depends on RestEasy (classic)

[2021-07-29 15:52] loicmathieu commented on #19098
After disabling `pause-if-no-requests` I had to double the memory due to being OOMKilled and disabled liveness/readiness probes.
Then I saw spurious blocking threads on random frame.
After looking at some profile and GC logs, it appears that the new version needs a LOT more memory, doubling it is really not enought as with 2Go limit it uses a heap of 1.5GB (usually, on Quarkus 1.13, heap is around

[2021-07-29 15:56] sberyozkin commented on #17046
@zakkak Hi - I'm sorry - I keep missing the notifications and I've no idea what is causing it. Let me look into after PTO, thanks for spending your time on this issue, it is appreciated

[2021-07-29 16:03] geoand commented on #18740
Understood, thanks

[2021-07-29 16:03] gsmet commented on #19098
Can you take a heap dump for both and compare things?

On Thu, Jul 29, 2021 at 5:53 PM Loïc Mathieu ***@***.***>
wrote:

[2021-07-29 16:06] gsmet commented on #19098
I see you moved to Micrometer. Can you drop it and see how it goes?

[2021-07-29 16:37] sberyozkin commented on #17046
@zakkak Quick question about this code:
[code]
I think it can not be done directly in `NativeImageAutoFeatureStep#generateFeature` so I wonder is it possible to do it `SecurityProcessor`'s own `generateFeature` by doing again
[code]
?
If that it is not possible then I can probably introduce a build item which will pass parameters to support the after reg updates from `SecurityProcessor`, ex:

[cod

[2021-07-29 17:27] GavinRay97 opened #19101 "GraalVM new "Espresso" -- viable for an improved dev experience w/ HotSwap API + enhanced debugging/monitoring?"
### Description

I'm sure the Quarkus folks are well aware of it, but Graal has recently released their new `Espresso` framework which implements Truffle for JVM bytecode

- https://www.graalvm.org/reference-manual/java-on-truffle/

This brings several advantages and unique abilities that I think would be beneficial to the Quarkus userbase.
- (It also has some disadvantages -- notably that the run

[2021-07-29 18:01] edeandrea opened #19102 "Enhance `@TestTransaction` to recognize `@ReactiveTransactional`"
### Description

Quarkus 2.1 introduces `@ReactiveTransactional`, but if I'm writing tests that want to roll back the transaction at the end of each test I can't use [`@TestTransaction`](https://quarkus.io/guides/getting-started-testing#tests-and-transactions). Instead I have to do something like this:

[code]

and then use it like this
[code]

Instead, it would be much nicer to do this
[code]

Al

[2021-07-29 18:02] geoand commented on #19102
Does `@TestReactiveTransaction` fit the bill?

[2021-07-29 18:11] ozangunalp commented on #19094
@robp94 your test exits before a thread in the worker pool can run on the `eventClient`.
You see the "Client is closed" error because the app is being shut down.
You can use `awaitility` library to wait in your test for the stub to receive the request.

Something like this at the end of your test should work:
[code]

[2021-07-29 18:15] edeandrea commented on #19102
Does that already exist?

[2021-07-29 18:20] geoand commented on #19102
It does: https://github.com/quarkusio/quarkus/blob/2.1.0.Final/test-framework/common/src/main/java/io/quarkus/test/TestReactiveTransaction.java

Wanna give it a try and if it does do what the issue explains, we can close it

[2021-07-29 18:24] edeandrea commented on #19102
When I use it I get
[code]

Here's the test class
[code]

[2021-07-29 18:44] cescoffier commented on #19098
If you disable the pause/request cycles, you must be prepared for having to store the records in memory. In the previous version, it stopped polling, so you didn't have this problem, but as you were not polling you were also consider dead by the broker.

My guess is that we are not writing fast enough on the other side. This has changed recently to work around a critical bug in the kafka client (w

[2021-07-29 20:05] survivant opened #19106 "java.util.ServiceConfigurationError: io.smallrye.config.SmallRyeConfigFactory: io.quarkus.runtime.configuration.QuarkusConfigFactory not a subtype"
### Describe the bug

I have this code .  PS That code works fine before, now I saw this error after adding kafka support.

[code]

that return this error
[code]

![image](https://user-images.githubusercontent.com/191879/127558423-9b879121-439e-4c03-8474-bed04ec302ea.png)

Same problem with Quarkus 2.0.3.Final and Quarkus 2.1.0.Final

[2021-07-29 20:55] geoand commented on #19102
Yes, that stuff is required - it's the price of using a reactive approach in the tests themselves.

I'm going to close this as the annotation covers the original issue's intent.

For bugs regarding the test lifecycle or API improvements, please open new focused issues

[2021-07-29 20:55] #19102 closed

[2021-07-29 21:11] edeandrea commented on #19102
I'd say the custom class I built is far more intuitive than having to bring in extra vertx dependencies just so I can test :) Yeah I lose the test annotation but its far easier to read and I can continue using my favorite libraries.

[2021-07-29 21:27] edeandrea opened #19109 "Can't seem to use `UniAssertSubscriber` nor JUnit's `@BeforeEach` or `@AfterEach` with `@TestReactiveTransaction`"
### Describe the bug

This is a spawn-off from #19102 - there's a lengthy comment at the bottom which I'll try to summarize here.

If I have an application using Panache reactive and I try to use the new `@TestReactiveTransaction` annotation rather than what I'm doing now:
[code]

It seems I'm no longer able to use things like `UniAssertSubscriber` or run any kinds of tests that use any kind of `a

[2021-07-29 21:49] richygreat opened #19110 "Native quarkus application's kafka client fails to connect to confluent cloud"
### Describe the bug

After upgrading my kafka messaging based quakus application to 2.0.2.Final and upgrading graalvm to graalvm-ce-java11-21.2.0, the kafka client fails to connect with Confluent cloud cluster.

With the below properties the quarkus-smallrye-reactive-messaging-kafka dependent application fails to connect.

application.properties
[code]

[code]

### Expected behavior

Application

[2021-07-29 22:03] richygreat commented on #19110
If I downgrade graalvm to graalvm-ce-java11-21.1.0 the Kafka client works in native build.

[2021-07-29 22:06] famod commented on #8218
@radcortez I'll try to find some time on sunday or so.

[2021-07-29 22:07] #19090 closed

[2021-07-29 22:45] famod commented on #19030
@aloubyansky I recycled an older example project (which has a weird name 😉 ): https://github.com/famod/modmono-quarkus/tree/issue-19030-test-jar-index (make sure to switch to branch `issue-19030-test-jar-index`!)

`mvn clean install` will yield during testing in `dist` module:
[code]
or with 999-SNAPSHOT a bit more detailed:
[code]

[2021-07-30 00:05] #19051 closed

[2021-07-30 01:58] #16745 closed

[2021-07-30 02:06] stuartwdouglas commented on #18726
Did you configure the correct results file?

[2021-07-30 02:57] tttomat19 opened #19113 "quarkus.swagger-ui.oauth2-redirect-url documentation and default value"
### Description

So I battled swagger-ui + oidc with auth code or implicit flow with redirects and such.
The problem was after successful login in oauth provider the redirect led to localhost:8080/oauth2-redirect.html
And there was 404.

The solution was found here in the last comment: https://github.com/quarkusio/quarkus/issues/4766 Many thanks to Phillip.

I set this property and it worked fine.

[2021-07-30 03:24] hongshaoyang commented on #19009
Possibly related to #6943 where

[2021-07-30 04:21] gastaldi opened #19114 "Support Sonarcloud analysis on Quarkiverse extension builds"
### Description

It would be nice if the quarkiverse extensions ran Sonarcloud during the build

### Implementation ideas

PR builds may need a change in the process - see https://github.com/quarkiverse/quarkus-logging-json/pull/117#issuecomment-889612908)

[2021-07-30 04:34] stuartwdouglas commented on #18360
Any chance you could test out this PR: https://github.com/quarkusio/quarkus/pull/19115

It should help a lot (assuming it actually works, but the kube client tests passed for me locally).

With the integration tests it halved the binary size and more than halved the compile time.

[2021-07-30 06:12] Lahres-Dev opened #19116 "@QuarkusIntegrationTest not working with Docker Image when doing security testing"
### Describe the bug

`mvnw clean verify -Pdocker-deploy` aborts build process with `connection refused`

I am using `quarkus-test-keycloak-server` plugin to simulate a Keycloak instance for security testing. Running `mvnw clean verify` works fine, also `mvnw quarkus:dev` continuous tests are running successfully.

Reproducer: https://github.com/Lahres-Dev/quarkus-issue-1
`quarkus.container-image.

[2021-07-30 06:12] geoand commented on #19109
What exactly would you be asserting in n `@BeforeEach` or `@AfterEach`?
Asking because I want to understand the use case

Nope, that can't be done

[2021-07-30 06:22] geoand commented on #19116
Thanks for reporting.

This is essentially a duplicate of https://github.com/quarkusio/quarkus/issues/18914

[2021-07-30 06:22] #19116 closed

[2021-07-30 06:25] Lahres-Dev commented on #19116
ok, thanks for the info :)

[2021-07-30 06:38] phillip-kruger commented on #19113
Hi @tttomat19 - Thanks for logging this. I'll play around with making that the default. As a last resort, I'll update the documentation

[2021-07-30 06:41] richygreat commented on #19110
Quarkus 2.1.0 release fixed this issue.

[2021-07-30 06:41] #19110 closed

[2021-07-30 06:51] rsvoboda opened #19117 "Broken favicon for Dev UI"
### Describe the bug

Broken favicon for Dev UI, nice one is when using Quarkus 1.13.7.Final.

Quarkus 2.0.0.Final and 2.1.0.Final bring weird gray something instead of favicon similar to the usual one like in case of https://quarkus.io/

http://localhost:8080/q/dev/resources/images/favicon.ico (you may need to hit Ctrl+R to force reload or open the link in private mode)
![Screenshot 2021-07-30 at

[2021-07-30 06:55] geoand commented on #18977
The problem here stems from the fact that when the response from the rest client comes back, it comes back on a different event-loop thread than the original one (essentially in RESTEasy Reactive when the result in ready, we resume processing by doing https://github.com/quarkusio/quarkus/blob/2.1.0.Final/independent-projects/resteasy-reactive/common/runtime/src/main/java/org/jboss/resteasy/reactiv

[2021-07-30 07:06] geoand commented on #19013
Yeah, we can certainly do that. But it will likely be a `2.3` enhancement, not a `2.2` one

[2021-07-30 07:10] #19044 closed

[2021-07-30 07:12] robp94 commented on #19094
Thx.

[2021-07-30 07:12] #19094 closed

[2021-07-30 07:14] geoand commented on #19080
I'll try and take a look next week

[2021-07-30 07:17] famod commented on #19117
I've also seen exceptions being logged about this.

[2021-07-30 07:24] geoand commented on #10729
https://github.com/quarkusio/quarkus/pull/19119 should take care of the issue

[2021-07-30 07:43] vsevel opened #19121 "Native build fails with oracle drivers and kogito together"
### Describe the bug

I am using kogito and oracle in the same application.

The build fails with: `Error: Detected a MBean server in the image heap. This is currently not supported, but could be changed in the future. Management beans are registered in many global caches that would need to be cleared and properly re-built at image build time. Class of disallowed object: com.sun.jmx.mbeanserver.Jm

[2021-07-30 07:43] xabe commented on #18706
@geoand it worked

Thanks for the help

[2021-07-30 07:44] geoand commented on #18706
👍🏼

[2021-07-30 08:01] loicmathieu commented on #19098
@gsmet

I'll provides heap histogram and dump if possible. As the heap usage difference is huge (50MB vs 1.5GB) I think an histogram may reveal the offender easily.

We moved multiple releases away, and without it we will be blind. Is there some structural changes to micrometer between 1.13 and 2.0 ? This really seems to be related to Kafka as when we put less load, heap reamains around 50MB and e

[2021-07-30 08:16] MarcusBiel commented on #19035
Yes, this is also something we would need :)

[2021-07-30 08:26] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1081084690

[2021-07-30 08:32] loicmathieu commented on #19098
So I can confirm that my high heap usage is due to too many Kafka messages kept in memort. When doing heap histogram of live object I have 1000x more Kafka message in memory using 2.1 (with pause-on-request disabled) than 1.13.

See the following heap histograms:
[histo-1.13-1.txt](https://github.com/quarkusio/quarkus/files/6906150/histo-1.13-1.txt)
[histo-2.1-1.txt](https://github.com/quarkusio/q

[2021-07-30 09:13] 0SkillAllLuck commented on #19085
I created a reproducer plugin and project here:

[Plugin](https://github.com/0SkillAllLuck/quarkus-grpc-reproducer-plugin)
[Project](https://github.com/0SkillAllLuck/quarkus-grpc-reproducer)

To reproduce:

- Run `mvn clean install` in plugin
- Run `mvn clean test` in project

[2021-07-30 09:49] michalszynkiewicz commented on #19085
@0SkillAllLuck thanks! Looking at it

[2021-07-30 10:02] loicmathieu commented on #19098
I replaced the `@Outgoing` usage with a raw Kafka Producer that I manually instantiate, re-enabled pause-if-no-request, and use it to send the outgoing message and it shows no performance differencies.
So the issue is on the consumer side.

[2021-07-30 10:21] michalszynkiewicz commented on #19085
Testing with `grpcurl` I see it works outside tests and dev mode.

[2021-07-30 10:22] ppalaga commented on #4408
Let's close

[2021-07-30 10:22] #4408 closed

[2021-07-30 10:36] michalszynkiewicz commented on #19085
So the problem is that you have duplicated proto file definition in the application project.
This way for the app you generate exactly the same classes as for the extension.

If you remove `src/main/proto/ep2.proto` you will no longer get this error.
You will still have a problem with the generated classes not being available in the jandex index but you may solve it either by indexing your extensi

[2021-07-30 10:36] #19085 closed

[2021-07-30 11:15] geoand commented on #19101
cc @galderz @zakkak

[2021-07-30 11:18] phillip-kruger commented on #17828
@FroMage , only looking at this now. I could not recreate it, using the latest Quarkus (2.1.0)

![history](https://user-images.githubusercontent.com/6836179/127645483-2da70f1d-9407-4ba7-9c8c-fad5df1b44ab.gif)

Can you check again ?

[2021-07-30 11:21] Sgitario opened #19125 "[CI] - Quarkus QE Test Suite + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/quarkus-qe/quarkus-test-suite building against Quarkus main snapshot.

If you have interest in being notified of this subscribe to the issue.

[2021-07-30 11:58] survivant commented on #19106
I updated Quarkus to 2.1.0.Final and the problem is still there.

[code]

[2021-07-30 12:11] gozus19p opened #19127 "Quarkus Consul Config :: Enable .yaml support"
### Description

Hi all,

I am opening this issue in order to ask for an improvement. So, let's introduce the topic.

I am migrating from Spring Boot to Quarkus. My Spring application makes use of Spring Cloud Consul, in order to handle configuration. The entire configuration deployed on Consul is made in .yaml format.

I am not able to load properties written in .yaml extension from Consul to Qua

[2021-07-30 12:31] rivasdiaz opened #19128 "Picocli command options exposed as ConfigSources"
### Description

I would like to be able to map a parameters parsed for a picocli command to config properties. The simplest case would be to have commands available as a configuration sources.

Use case:

Allow the developer to specify host, username and/or password for a database connection to be parameters, which may have (in some cases) predefined defaults.

If I use Quarkus Database support,

[2021-07-30 12:32] coiouhkc opened #19129 "hibernate-orm is missing some important Hibernate batch configuration options"
### Description

See https://quarkus.io/guides/hibernate-orm for current list and https://vladmihalcea.com/how-to-batch-insert-and-update-statements-with-hibernate/ for additional needed options, e.g.
* `hibernate.order_inserts`
* `hibernate.order_updates`
* `hibernate.jdbc.batch_versioned_data`

Is it planned to add them?

### Workaround
Using `persistence.xml`

### Implementation ideas

_No resp

[2021-07-30 13:06] languitar opened #19131 "Allow multiple static openapi.yaml/json files"
### Description

A service might implement multiple predefined APIs when using an API-first approach. I can also generate the appropriate model and API classes with the openapi generator by configuring multiple executions of the maven plugin with different input definition files. However, the ability of the openapi plugin for serving a static definition is currently limited to a single `openapi.ya

[2021-07-30 13:08] survivant commented on #19106
I'm going in vacation for 3 weeks, I'll try to answer if you have questions.

[2021-07-30 13:11] edeandrea opened #19132 "Devservices in remote container IDEs"
### Description

I posted this on Zulip as well in the **Dev** stream (https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Devservices.20in.20remote.20container.20IDEs/near/247608708)

Has anyone given any thought to how devservices (spinning up databases/Kafka/etc) might work when the developer is working in a remote IDE (like Eclipse Che/GitPods/CodeReady Workspaces/etc)?

Right now

[2021-07-30 13:11] gavinking commented on #19129
I feel like `hibernate.jdbc.batch_versioned_data` is something that's should be automatic the user should not really be required to worry about setting explicitly.

[2021-07-30 13:14] edeandrea opened #19133 "Global config property to disable all DevServices"
### Description

It would be nice to have a global config property to be able to enable/disable all DevServices, something like `quarkus.devservices.enabled`.

A global switch to shut things off (like if I need/want to run `quarkus:dev` in a remote IDE like Eclipse Che which doesn't allow you to start containers because you're already in a container). In such a case if my app uses, say, a postgres