[2019-10-18 07:46] jaikiran commented on #3261
This most likely looks like a core Hibernate issue, than Quarkus. Perhaps @Sanne would know?

[2019-10-18 08:00] mkouba opened #4650 "Metrics - detect possible metric ID conflicts at build time"
For example, if I have a method annotated like this:
[code]
I get `java.lang.IllegalArgumentException: Previously registered metric org.acme.config.GreetingResource.hello is of type meter, expected timer` at runtime. The solution is to add an explicit name to one of the metrics. We could easily detect this error at build time. WDYT @jmartisk?

[2019-10-18 08:01] blxbrgld opened #4651 "Duplicate metrics HELP line"
**Duplicate metrics HELP line**

The metrics resource returns duplicate HELP line for `base_gc_time_total` and this as a result leads to telegraf failure when trying to collect the metrics from the /metrics resource (/metrics/application works fine). The error is the following:

[code]
It's true that there are two identical HELP lines (for `PS MarkSweep` and `PS Scavenge`):

[code]

[2019-10-18 08:29] #4552 closed

[2019-10-18 08:30] geoand commented on #4634
I can reproduce the problem both in Quarkus `0.25` and the latest `master`. I'll look into it.

[2019-10-18 08:31] cescoffier commented on #4647
native image requires glibc, alpine is using musl if I'm not mistaken.

[2019-10-18 08:32] cescoffier commented on #4645
Do you have more content around the stack trace?
We have a bunch of classloaders...

[2019-10-18 08:33] cescoffier commented on #4613
This is going to be fixed with the update to Vertx 3.8.3

[2019-10-18 08:33] cescoffier commented on #4613
(so hopefully very soon)

[2019-10-18 08:34] cescoffier commented on #4613
BTW, I've added a test reproducing the issue.

[2019-10-18 08:36] cescoffier commented on #3605
Fixed with the vert.x split

[2019-10-18 08:36] #3605 closed

[2019-10-18 08:41] gnodet commented on #4645
@cescoffier I'm working on it.  I may have a fix.

[2019-10-18 08:51] gnodet commented on #4645
@cescoffier The following patch seems to fix the problem:
[code]

[2019-10-18 09:06] stephenc commented on #4134
Ok. I found the line causing the NPE:

[code]

[2019-10-18 09:14] stephenc commented on #4134
More specifically, that `static` block in an `@ApplicationScoped` bean

[2019-10-18 09:15] stephenc commented on #4134
If I move the `static` block to our `@ApplicationPath` annotated class, all is fine... going to try hoisting it to the bean constructor

[2019-10-18 09:21] ia3andy commented on #4320
We discussed it with @maxandersen and thought that using K8S style labels would be nice:
[code]

Here are the different labels would be supported (other would be ignored by tooling or could be specific to a sort of tooling):
- "ShortName" is an abbreviation of the name use for search purpose
- "Keywords" is what we previously referred as "labels" used for search purpose
- "Category" or "Categories

[2019-10-18 09:22] stephenc commented on #4134
ok. it seems to be just trying to initialize bouncy castle from a static block in an application scoped bean. I can initialize bouncy castle in the constructor of the application scoped bean... at least as far as `native-image` is concerned... just need to test the integrated microservice to see if it's all working as it should

[2019-10-18 09:32] FroMage commented on #4636
PRs are in for quickstarts and guides.

[2019-10-18 09:46] gsmet commented on #4568
What would be the resulting YAML file? What I understand from this makes me think it won't be very user friendly. So I might misunderstand the end result. Could someone give a YAML example?

[2019-10-18 09:47] stephenc commented on #4134
ok, so I changed the constructor code to do some logging:

[code]

And here's what I see in the build logs

<img width="1175" alt="Screenshot 2019-10-18 at 10 29 11" src="https://user-images.githubusercontent.com/209336/67083313-d99d6180-f192-11e9-9cc5-943701deb988.png">

Whereas, if I move that to a static block
<img width="1121" alt="Screenshot 2019-10-18 at 10 35 53" src="https://user-images.gi

[2019-10-18 09:49] mkouba commented on #4490
@Sanne pls provide more info...

[2019-10-18 09:50] sberyozkin commented on #4495
@pedroigor Can you please open a draft PR ? Or if the only bit which is missing is the native support then lets do a non-draft PR ? We can say the initial support for the `policy-enforcer` is now available, the native support is coming next

[2019-10-18 10:08] sberyozkin commented on #4495
@pedroigor `quarkus-keycloak-policy-enforcer` is a good module name, so we are not going for `keycloak-authz` ?
That is fine, but can we expect something else beyond `policy-enforcer` that will be related to the KC specific authorization support ? If yes then the name proposed earlier by Stian @stianst and yourself should probably be used, `quarkus-keycloak-authz`, may be more expanded as some use

[2019-10-18 10:18] paulrobinson commented on #4610
@johnaohara will this Epic be complete when the alerting is in place?

[2019-10-18 10:22] paulrobinson commented on #4611
@kenfinnigan Do you have a list off GH issues for the failing tests that we need to pass for Quarkus 1.0.0?

[2019-10-18 10:24] johnaohara commented on #4610
@paulrobinson yes, I am validating that alerting is working as expected, I have update the epic with the list of actions that have been complete to date

[2019-10-18 10:27] paulrobinson commented on #4610
That's great, thanks. I've moved the Epic to 'in progress' on the planning board: https://github.com/orgs/quarkusio/projects/5 as it has a complete list of work, and is in progress.

[2019-10-18 10:30] geoand commented on #4634
@stuartwdouglas I think you'll probably have to look at this one.
I was able to track this down to `AuthenticationRequestContext#runBlocking` being problematic (see details of what  I did to arrive to this conclusion at the end).

It seems like when `AuthenticationRequestContext#runBlocking` the `io.vertx.core.http.impl.HttpServerRequestImpl` is read and closed thus causing RESTEasy to not read an

[2019-10-18 10:36] FreifeldRoyi commented on #4090
[jsonb-test-fail.zip](https://github.com/quarkusio/quarkus/files/3743456/jsonb-test-fail.zip)

Sorry for the delay

[2019-10-18 10:37] jmartisk commented on #4650
Having some sort of eager validation at build time would definitely be a good thing. A problem could be that this might not be easy to implement without duplicating a lot of logic from SmallRye Metrics that happens in runtime code (in the recorder we call `MetricsMetadata.registerMetrics`: https://github.com/quarkusio/quarkus/blob/0.25.0/extensions/smallrye-metrics/runtime/src/main/java/io/quarkus

[2019-10-18 10:37] geoand commented on #4090
Thanks @FreifeldRoyi, I'll take a look

[2019-10-18 10:52] jmartisk commented on #4651
Interesting, I thought we had this covered properly in tests, but for some reason it indeed behaves this way. I'll see what can be done to fix it.

[2019-10-18 10:54] lordofthejars opened #4656 "Custom Configuration Converter failing at start up time"
**Describe the bug**

I have created a custom converter that transforms a String representing a percentage to a double but at the bootup time I got:

[code]

**Expected behavior**

The application should start normally.

**Actual behavior**

The exception is thrown. The workaround of creating a custom type instead of using Double fails as well as it interprets the property as number instead of str

[2019-10-18 10:56] lordofthejars commented on #4656
Wait wait.

[2019-10-18 10:56] #4656 closed

[2019-10-18 11:09] haraldatbmw commented on #4640
Just reinstalled the latest graalvm for linux (befor my runtime was openjdk only) but resulted in the same error.

My new call of my executable:
[code]

My graalvm env variable:
[code]

The libraries:
[code]

The directory tree:
[code]

[2019-10-18 11:10] stianst commented on #4495
quarkus-keycloak-policy-enforcer and quarkus-keycloak-authz are both generic names. I'm not to keen on policy-enforcer as there's some ambiguity in it. What types of policies is it enforcing? It's only authz, not general policies, so hence why not just call it -authz.

[2019-10-18 11:18] geoand commented on #4090
#4658 should take care of it

[2019-10-18 11:25] jmartisk commented on #4651
I filed https://github.com/smallrye/smallrye-metrics/issues/188 on the SmallRye Metrics side and will submit a fix. Once a new release of SR-M is out, we can upgrade this in Quarkus, probably next week.

[2019-10-18 11:28] FreifeldRoyi commented on #4090
You're fast =)
Thank you

[2019-10-18 11:32] davidcurrie opened #4659 "SecurityException for injection point with @Deprecated"
**Describe the bug**

I have an injected config property:
[code]
If I add `@Deprecated` then I get a security exception as follows:

[code]

**Expected behavior**

No exception.

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

Exception as above.

**To Reproduce**
Steps to reproduce the behavior:
1. See above.

**Configuration**
[code]

**Screenshots**
(If applicable, ad

[2019-10-18 11:32] geoand commented on #4090
You are welcome :)

[2019-10-18 11:46] gwenneg commented on #4568
@gsmet I will test empty keys tonight and post a YAML example here as soon as I have something working.

It'll probably be something like:
[code]

[2019-10-18 11:49] tassadar81 opened #4660 "Keycloak tokens are rejected with 401 if @RolesAllowed is used"
the call i use to generate token:

export access_token=$(curl -X POST http://my keycloak server/auth/realms/my realm/protocol/openid-connect/token -H 'content-type: application/x-www-form-urlencoded' -d "username=my username" -d "password=my password" -d 'grant_type=password' -d "client_id=application-cards" | jq --raw-output '.access_token')

That successed i a get the token i use to post to my R

[2019-10-18 11:57] kenfinnigan commented on #4611
https://github.com/quarkusio/quarkus/issues/4520, https://github.com/quarkusio/quarkus/issues/4519, https://github.com/quarkusio/quarkus/issues/4518, https://github.com/quarkusio/quarkus/issues/4517, https://github.com/quarkusio/quarkus/issues/4516 contain the currently excluded TCK tests.

But there hasn't been any evaluation done as to what is "critical" and what isn't

[2019-10-18 11:58] kenfinnigan commented on #4611
FT we're still waiting on for a list of things to fix, as the TCK isn't part of CI yet

[2019-10-18 12:07] enbohm commented on #4572
I've now created a repo which contains the setup of a reproducer https://github.com/enbohm/quarkus-envoy-503/blob/master/README.md

However, I am not able to provoke the error using Quakus only (i.e. without a front proxy) and I more and more suspect that is has something to do with Envoy.  There are similar issues reported by istio users (see https://github.com/istio/istio/issues/13205) and someo

[2019-10-18 12:16] dmlloyd commented on #4568
It's YAML; I don't think it's our mission to make spec-conformant YAML be user-friendly.  It should be idiomatic, and therefore intuitive to YAMLphiles, but other than that I don't think we ought to be harming ourselves trying to accommodate it.

Maybe I misunderstood the spec but I thought that a null key was represented by literal nothing? e.g.

[code]

I'm not sure I read it correctly as the sp

[2019-10-18 12:19] #4090 closed

[2019-10-18 12:21] geoand commented on #4659
Should be taken care of by #4661

[2019-10-18 12:27] emmanuelbernard commented on #4320
I can live with that as long as some labels will be constrained and others are more free.

I'd likely go for lower case though for keys
Remember that one extension could have several guides
Why is status always overridden by the platform layer?

[2019-10-18 12:29] gwenneg commented on #4568
I'm not sure if the `null` or `~` key either. I'll test each possibility, including `: MySQL5InnoDBDialect`.

[2019-10-18 12:31] sberyozkin commented on #4626
This fails with:
[code]
See https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=9906&view=logs

[2019-10-18 12:32] sberyozkin commented on #4626
@pedroigor FYI

[2019-10-18 12:34] FroMage commented on #4636
In theory, I ran them locally.

[2019-10-18 12:44] ia3andy commented on #4320
Sure

I don't mind either. I just find it nice K8S way, but that must be my frontend side talking

Because we want full control over that no? if not then nevermind

[2019-10-18 12:46] sberyozkin commented on #4660
Right now if the token contains a `groups` claim then it will be used to populate the principal roles but by default KC does not use this claim. In the newer KC version you can set the MP-JWT option somewhere for it to include the roles in the `groups` claim.
The principal created by the OIDC module can probably be customized as well

[2019-10-18 12:46] emmanuelbernard commented on #4320
@ia3andy the casing is nice but will it be remembered and will we have to deal with people with mis-casing?

[2019-10-18 12:46] emmanuelbernard commented on #4320
An extension can declare itself beta, I think that's fair. We just need to be able to override it

[2019-10-18 12:47] viniciusfcf commented on #4619
Sure

[2019-10-18 12:48] ia3andy commented on #4320
I would say we suggest that casing, but we handle any casing? Maybe we could have some kind of extension validator showing warning in case of mis-casing, or even auto-reformating?

[2019-10-18 12:54] viniciusfcf opened #4664 "Unclear stacktrace on server startup"
**Describe the bug**
After update my project from 0.23.2 to 0.25.0 and all keycloak configurations, the server did not started. My keycloak was up, however without my realm.

**Expected behavior**
StackTrace with a clear message, like `please make sure the 'quarkus.oidc.auth-server-url' is correct`

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

[code]

[2019-10-18 12:55] ia3andy commented on #4320
What did we decide about linking a readme file? That's really something I want for Code Quarkus..

[2019-10-18 13:00] dmlloyd commented on #4568
You appear to be correct: testing with `libyaml` indicates that `~` maps to an empty key, as does `null`.  A literal empty key results in an error.

[2019-10-18 13:11] gsmet commented on #4568
IMHO, it all comes down to: do we want YAML to be a first class citizen or not?

If we do then I think the format should be straightforward in YAML too and it's worth changing our configurations properties.

@emmanuelbernard WDYT?

[2019-10-18 13:14] dmlloyd commented on #4568
No. :)

We can't have everything be a first class citizen.  But anyway it *is* straightforward in YAML since there's a predefined, idiomatic mechanism for exactly this, so it doesn't matter: YAML gets first class treatment just coincidentally.

Essentially we treat any construct like:
[code]
To be equivalent to:
[code]

And that's how it'll go into SmallRye, unless there's a valid objection.

[2019-10-18 13:18] ia3andy opened #4666 "Add tests for json and custom logging"
As part of https://github.com/quarkusio/quarkus/pull/4121 we need to have more tests around json logging and custom logging handlers

[2019-10-18 13:21] emmanuelbernard commented on #4568
Ah that sucks a bit... Not sure what to do, have a `.class` sub key or keep prioritizing the dialect + dialect.subkey model.

Do we use this model often? Vs always setting properties on leaves only?

[2019-10-18 13:22] jaikiran commented on #4640
I had a bit more closer look at your logs. So:

[code]
So you are building the native-image on Windows OS? Of course using `docker`. And then copying over that generated native-image to some other (linux?) system and running/launching it from there?

[2019-10-18 13:24] jaikiran commented on #4640
By the way, does that exception occur when you hit some rest endpoint? If so, we can sort this out very quickly if you can add the following statement as the first line in your rest endpoint method, before doing the other implementation:

[code]
If you can get that output log when you launch your application, then we will know what exactly is going on.

[2019-10-18 13:25] emmanuelbernard commented on #4320
@ia3andy we have not decided AFAIK. I'm fine either way but I think the readme model would need to be clarified further:
- can I get a shorter description version?
- is that by taking the first paragraph of the readme or separate?
- how do deal with multiple versions,
    - should I point to a specific file with tag on GitHub? like this https://github.com/quarkusio/quarkus/blob/0.25.0/README.md

[2019-10-18 13:26] emmanuelbernard commented on #4320
@maxandersen cc^

[2019-10-18 13:27] dmlloyd commented on #4568
We do, and more importantly, MP-Config allows it (it's not really a Quarkus question).  So the YAML mapping for MP-Config (which is what we're really talking about here) must also allow it.  And if it must allow it, then it should use the idiomatic YAML approach, whether or not we as individuals think it's good or it sucks: whoever wrote the YAML spec seems to like this approach at any rate.  So,

[2019-10-18 13:40] emmanuelbernard commented on #4320
I'm fine with all but when you step back:

- you go for the case sensitive way but make it case insensitive (with the associated possible bugs)
- you go for the above and you write a whole tooling to warn people that they did a typo
- you go for case insensitive

Solution 2 is a lot of work and over board for something that "looks nicer" to Kube people. I personally thing it looks less nice and is

[2019-10-18 13:43] ia3andy commented on #4320
@emmanuelbernard TBH I am not attached to the casing that much, let's stay uniform & use lowercase :) I am editing the above format proposal accordingly

[2019-10-18 13:46] blsouthr opened #4667 "Build fails for @Provider exception mapper"
starting with 0.23.2 I get
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:0.25.0:build (default) on project demo: Failed to build a runnable JAR: Failed to build a runner jar: Failed to augment application classes: Build failure: Build failed due to errors
[ERROR]         [error]: Build step io.quarkus.arc.deployment.ArcProcessor#registerBeans threw an exception: javax.enterprise.i

[2019-10-18 13:53] gsmet commented on #4667
@jmartisk @mkouba I wonder if this is related to us automatically adding conflicting scopes because we have Metrics there too.

[2019-10-18 14:12] tassadar81 commented on #4660
Directly from admin console the server version i'm using:

Server Version 6.0.1

[2019-10-18 14:46] pedroigor commented on #4495
I won't debate about the best name. Either for me it is fine. So, I'll change to `quarkus-keycloak-authorization`.

Policy Enforcer is a well-known pattern and strongly related to authorization and, more precisely, centralized authorization. Which is pretty much what this extension is all about.

[2019-10-18 14:47] BeneStem commented on #4647
Linking the glibc stattically into the image during build should work.
With the small example from the mentioned guide it does.
`busybox:glibc` would also be fine as a small base image :)

[2019-10-18 14:48] pedroigor commented on #4495
Sounds good for me. I have implemented the `application.properties` config and now working with docs. I should have a PR today or on Mon at most.

[2019-10-18 14:50] pedroigor commented on #4495
@sberyozkin @stianst , btw a configuration example is like that:

[code]

Shall we also replace the `policy-enforcer` by `authorization` ?

[2019-10-18 14:55] pedroigor commented on #4626
@sberyozkin, This error should be fixed by passing the following system properties when booting the server:

[code]

[2019-10-18 15:00] pedroigor commented on #4626
In fact, I think we can just remove the logic from test that is trying to create policies on the server. They seem to be irrelevant to what is being tested (they were there for the old extension).

[2019-10-18 15:02] geoand commented on #4626
@pedroigor Whatever you think is best.

My "fix" was just a quick bandaid to get us back to green CI :)

[2019-10-18 15:03] pedroigor commented on #4626
Sent https://github.com/quarkusio/quarkus/pull/4670.

[2019-10-18 15:04] pedroigor commented on #4626
@geoand, it works too :)

But, as you know, we need to make sure we work with latest Keycloak version. So for OIDC, we don't need to deploy scripts to the server (but with the new extension I'm working).

[2019-10-18 15:04] geoand commented on #4626
@pedroigor yes of course! Thanks for the PR!

[2019-10-18 15:10] sberyozkin commented on #4626
Guys you are too fast :-)

[2019-10-18 15:12] gastaldi opened #4671 "Gradle build fails with java.util.zip.ZipException: invalid stored block lengths"
**Describe the bug**
After generating a Gradle project using the quarkus-maven-plugin, `gradle build` throws an `java.util.zip.ZipException: invalid stored block lengths` error

**Expected behavior**
Build finishes succesfully

**Actual behavior**
Build fails with an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn clean install -DskipTests` in latest master
2. In /tmp, ru

[2019-10-18 15:29] geoand commented on #4671
I couldn't reproduce this

[2019-10-18 15:34] gastaldi commented on #4671
After deleting my local gradle installation and the local repository, the error is gone, looks like it was something in my environment. Closing

[2019-10-18 15:34] #4671 closed

[2019-10-18 15:48] xfh opened #4672 "OIDC Extension throws ClassNotFoundException when using quarkus-resteasy-jackson"
**Describe the bug**
I am migration a project with the Keycloak extension (Quarkus 0.22.0) to the new OIDC extension (Quarkus 0.25.0). I am using the `quarkus-resteasy-jackson` extension instead of jsonb. Unfortunately, these extensions are no longer interchangeable: the access token cannot be parsed, because org.eclipse.microprofile.jwt.Claims specifies JsonObject types, e.g. for the address.
See

[2019-10-18 15:51] gsmet commented on #4672
For the record, here is the stracktrace:
[code]

[2019-10-18 15:52] gsmet commented on #4672
@sberyozkin could you have someone take a look at this Monday. It looks like a missing dependency.

[2019-10-18 16:13] zeeZ commented on #2241
We shaved 12 minutes off a 15 minute build by disabling this option.

[code]

Almost 10 minutes were spent just building the call tree, the other two minutes were spent spewing out a 1 GB text file.

[2019-10-18 16:20] xfh commented on #4660
@tassadar81 It looks like your `quarkus.oidc.auth-server-url` is missing the realm. With the new extension, it should be `http://my keycloak server/auth/realms/YOUR_REALM_NAME`

However, based on your `quarkus-resteasy-jackson` dependency, it looks like you will run in to the same problem as me: #4672

[2019-10-18 16:39] jclingan opened #4675 "Improve extension metrics"
**Description**
Quarkus needs a consistent approach to metrics. It would be nice for extensions to:

1. Document not just how to enable metrics, but also document the metrics themselves
2. Consistency (or at least formality) for enabling and exposing metrics.
 - Hibernate logs  statistics (via quarkus.hibernate-orm.statistics=true property setting) to stdout but not the /metrics endpoint.
 - Kafka

[2019-10-18 16:58] clochardpagan commented on #4627
Reopening for tracking purpose, as suggested by @jaikiran

[2019-10-18 17:12] sberyozkin commented on #4672
@gsmet thanks, I'll be working tomorrow so will have a look

[2019-10-18 17:12] xfh commented on #4672
I could fix it by adding the dependency
[code]

[2019-10-18 17:31] sberyozkin commented on #4672
@xfh thanks, that might be one option, otherwise I was thinking to make `quarkus-jsonb` provided and make the transformation into `JsonWebToken` optional

[2019-10-18 17:37] xfh commented on #4672
As long as there is still a way to get all the properties from the access token I am happy :-)

With JsonWebToken I can cast the SecurityIdentity Principal to JWTCallerPrincipal and get for example the clientId through `((JWTCallerPrincipal) securityIdentity.getPrincipal()).getClaim("clientId")`

I wouldn't mind a solution that does not require casting tough.

[2019-10-18 17:42] dfranssen commented on #4495
👍

Some questions:
- is it still possible to access the `KeycloakSecurityContext`? (I use it to get the list of permissions (scopes) from its AuthorizationContext in order to know if e.g. the scope tenants:view or tenants-view-detailed is granted. In the latter case more information will be returned). In the previous extension there was a `KeycloakSecurityContextProducer`
- in some discussions bef

[2019-10-18 17:46] sberyozkin commented on #4672
@xfh it is even easier, you can have `@Inject JsonWebToken jwt` :-)

[2019-10-18 17:47] xfh commented on #4672
@sberyozkin great, thanks!

[2019-10-18 18:18] pedroigor commented on #4495
Good point. You should have the same behavior as before in regards to being able to inject the `KeycloakSecurityContext`.

When the policy enforcer kicks in, it may exchange the bearer token with a new token from Keycloak with the granted permissions. We need to push this new token back so you can obtain its claims through Microprofile JWT API. The problem is that authorization happens now after t

[2019-10-18 18:23] dfranssen commented on #4495
Thank you for your feedback.

Please make sure that the policyEnforcer url, which is built from the authServerUrl, takes into account the overwritten value from the environment variable QUARKUS_OIDC_AUTH_SERVER_URL or if it is being set via a profile. In my current setup, this seems not to be the case and the default `quarkus.keycloak.auth-server-url` is being used to build xxx/auth/realms/topupz/

[2019-10-18 18:27] pedroigor commented on #4495
The policy enforcer just uses whatever you defined in `keycloak.oidc.auth-server-url`. Is that what you mean ?

[2019-10-18 18:34] dfranssen commented on #4495
yes if e.g. in application.properties we have
[code]
and set the environment variable `QUARKUS_PROFILE=dev` or directly overwrite with env var `QUARKUS_OIDC_AUTH_SERVER_URL=http://yyy/auth`.

I would expect that the policy enforcer url is based on http://yyy/auth, but currently http://xxx/auth/realms/myrealm/.well-known/uma2-configuration is being used. (v0.21 though)

[2019-10-18 18:59] dfranssen commented on #4495
Just before creating a new issue, I would like to verify the following:

If I enable the policy-enforcer, my websocket at path `/ws/test` seems to be intercepted as well as I now get a HTTP 403, even after setting
[code]
does this mean that by enabling the policy enforcer it expects that each request has to be authenticated, even if in this case it is a websocket?

[2019-10-18 19:28] xfh commented on #4660
@tassadar81 FYI: in Keycloak 7.0.1 I had to go to Client -> Mappers -> Add Builtin and add `groups` to get the roles added to the groups claim. After that, `jsonWebToken.getGroups()` returns the groups as expected.
Note though, that I did not need the group claim for`@RolesAllowed`. I guess for authorisation,  the roles are read from the claim `realm_access.roles`.

[2019-10-18 20:04] pedroigor commented on #4495
It will be intercepted but should be ignored if you have that setting. I have a test using JAX-RS to test a public endpoint. I guess for ws, the behavior should be the same ?

[2019-10-18 20:12] xfh commented on #4672
@sberyozkin FYI: just adding the `resteasy-json-binding-provider` dependency is apparently not enough. It works when running quarkus in dev mode, but fails after building a JVM based Docker Image with the following ClassNotFoundException: org.apache.commons.io.input.ProxyInputStream

[code]

I got that fixed by adding
[code]

[2019-10-18 20:18] pedroigor commented on #4495
@dfranssen it should be able to replace config properties by setting system properties.

[2019-10-18 20:23] pedroigor commented on #4495
@sberyozkin When running an application JAR everything works fine. But when running in dev mode I get errors due to some classes from `commons-logging` not in the classpath.

The library is excluded in `build-parent`.

The same issue shows up when running native (when I first tried). What should we do in this case ? I guess that revert the exclusion of `commons-logging` is not an option?

FYI, Key

[2019-10-18 21:26] gwenneg commented on #4604
I'll take a look at this one.

[2019-10-18 21:40] dfranssen commented on #4495
Indeed, I had a typo, it is working correctly

[2019-10-19 05:34] jaikiran commented on #4627
This is reproducible in our testsuite with this test case https://github.com/quarkusio/quarkus/pull/4679

[2019-10-19 06:44] dreab8 commented on #3261
I may be wrong but it seems that the marshalling/unmarshalling process interferes in some way with the hibernate inline dirty tracking mechanism.

[2019-10-19 07:36] dreab8 commented on #3261
probably this issue is related to https://github.com/quarkusio/quarkus/issues/2815

[2019-10-19 09:18] vietj commented on #4572
@enbohm it is great investigations you are doing now, I'm not familiar at all with such proxies and their behaviour to have insights about what is going on . Is there a way to dump the TCP traffic between containers to see what is going on with wireshark ?

[2019-10-19 09:28] dwamara commented on #2759
Until this is implemented, we decided to build intermediate Microservices for each of the databases that will be called and return JSON. It's a bit cumbersome as we now have to add multiple remote calls for each database operation we would like to have.
Still waiting on this one though.

[2019-10-19 13:52] #4573 closed

[2019-10-19 13:52] emmanuelbernard opened #4680 "vert.x error while using Swagger UI in dev mode"
Intermittent failure it seems. I saw it once and refresh fixed it.
Does that ring a bell @stuartwdouglas @cescoffier @vietj ?

0.25.0 demoing the Todo app (live coding)

2019-10-19 15:48:35,432 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (vert.x-eventloop-thread-15) HTTP Request to /swagger-ui/swagger-ui.css failed, error id: 5d144e8e-31b6-4586-a7db-b9a249ec92b0-2: java.nio.channels.ClosedChann

[2019-10-19 14:02] emmanuelbernard commented on #4680
More of those randomly

[code]

[2019-10-19 14:19] emmanuelbernard commented on #4680
it's allover the map bith in JVM and native

[code]

[2019-10-19 14:52] jaikiran commented on #4680
This:
[code]
is actually being tracked in https://github.com/quarkusio/quarkus/issues/4627. The root cause being in vertx-web https://github.com/vert-x3/vertx-web/issues/1429 for which a fix is being made available.

In the related issue, @vietj noted[1] that:

[code]
I wonder if the rest of the issues that you are seeing (all related to serving static resources like .css) all boil down to perhaps

[2019-10-19 17:10] emmanuelbernard commented on #4680
that could make sense indeed. Thanks for connecting the dots @jaikiran

[2019-10-19 18:05] Sanne commented on #4490
hi @mkouba - to provide more details I'll need to run those metrics again; it takes me quite some time and won't be able to do it this week.

Of course the win isn't very high in absoulte terms, as Arc boots quite fast - we're talking about milliseconds.  But considering the spirit of Quarkus if this uuid isn't used I'd just avoid it: it's not only about time but also about including / loading the

[2019-10-20 03:51] stuartwdouglas commented on #2241
Let's get rid of it. The error reporting that was so problematic seems to
have improved as graal has matured, so I a think the value of this is
questionable now anyway.

On Sat, 19 Oct. 2019, 3:13 am Christian, <notifications@github.com> wrote:

[2019-10-20 09:34] mkouba commented on #4490
@Sanne  Ok. No need to run the tests again. I've already fixed this in https://github.com/quarkusio/quarkus/pull/4676.

[2019-10-20 11:53] ivangfr opened #4683 "Class io.quarkus.kafka.client.serialization.JsonbSerializer not included in native image"
**Describe the bug**
After packaging/building my kafka producer-consumer application, when trying to run the docker container that contains the native application, I am facing the error: **Class io.quarkus.kafka.client.serialization.JsonbSerializer could not be found**

**Expected behavior**
My application should start normally without the error above

**Actual behavior**
Here is the stacktrace
[c

[2019-10-20 12:41] dufoli commented on #2759
I have worked on mongo multi datasource. I can handle this one too if needed ?

[2019-10-20 16:54] sberyozkin commented on #4495
@pedroigor Hi Pedro, it is pulled in from somewhere I guess, @gsmet - do you know why ?
IMHO, it should not block the PR, we can have a follow up issue (fix for the dev mode, etc).
It all looks good to me, the configuration example.
Please rename the module as you've suggested above (hope Stian @stianst would be OK with it).

@dfranssen FYI, as Pedro said, you will be able to get all the informati

[2019-10-20 20:23] dfranssen commented on #4495
@pedroigor I tried without success with the profile, env variable and system property. I tested with the latest non-breaking version (v0.23.2):
- without pep: the `authServerUrl` is in the 3 cases correctly replaced (yyy)
- when I activate pep with `quarkus.keycloak.policy-enforcer.enable=true`, the policyEnforcerUrl is based on the original authServerUrl `xxx` instead of being the overridden `yyy

[2019-10-20 23:37] luszczynski commented on #3312
I have the same issue as well. When I use
[code]
 is working fine. But when using *
[code]
is not working no matter what I do.

[2019-10-20 23:41] rmcguinness opened #4684 "Add variable expansion in MANIFEST.MF file for CI/CD builds"
**Description**
When building a quarkus runner project, the MANIFEST file may contain existing META-INF/MANIFEST.MF entries, but those entries MUST be static. CI/CD systems often add attributes to the environment during execution of pipelines that are then used by downstream system for monitoring, routing and running the produced JAR files.

**Implementation ideas**
Allow the META-INF/MANIFEST.MF

[2019-10-21 01:19] stuartwdouglas commented on #4638
For 0.25 this needs to be migrated to the new security layer. In particular:

- You need to depend on elytron-security-properties-file
- Property names are now: quarkus.security.users.file.* rather than quarkus.security.file.*
- Basic auth is enabled via `quarkus.http.auth.basic=true`

[2019-10-21 02:12] kelvinbt commented on #4544
@sberyozkin

Sorry for late reply,
FYI : 0.24.0 it happens on Reactive Routes with Vert.x only. @RolesAllowed with JAX-RS endpoints still working as usual.

Thanks @stuartwdouglas

It fixed the issue but we ran into new issue.
as I'm aware when you use /* for determined the security path. This will forced all requests to came with bearer token.

I created a route with @PermitAll:
[code]
`Expected

[2019-10-21 05:03] wicksim commented on #4638
It works now, but:

- It doesn't work, when adding `quarkus-elytron-security-properties-file`-dependency with test-scope
- I'm getting `WARN: Unrecognized configuration key "quarkus.security.users.file.auth-mechanism" provided` when providing this property. It's not neccessary in my case, but it's mentioned on https://quarkus.io/guides/elytron-properties-guide.html
- As a beginner, the relation to

[2019-10-21 06:25] #4659 closed

[2019-10-21 06:38] Ladicek commented on #3312
Instead of `*`, just leave the `quarkus.http.cors.origins` property out.

One other thing I'd like to highlight, because I've seen it in the reports here (I already mentioned this in the other CORS issue): if the request doesn't have the `Origin` header, the response won't have CORS headers either.

This is perfectly fine per my understanding of CORS. (What's worse is that this doesn't necessarily

[2019-10-21 06:54] stuartwdouglas commented on #4649
This should be possible, basically we would want have both the old and new Jandex indexes so you could see if entities had changed.

[2019-10-21 07:00] haraldatbmw commented on #4640
Some infos about my environment:

- My operating system is Windows 10
- I compiled the native image using docker
- On my Windows 10 I have installed the "Linux Subsystem for Windows" to run the native executable

I did an additional successful test (without docker build):
- I installed GraalVM and native-image to my "Linux Subsystem for Windows" (WSL)
- I built the native image without docker in W

[2019-10-21 07:09] tassadar81 commented on #4660
My configuration has the realm, i'll edit the original message to improve clarity

oh bad luck :(

[2019-10-21 07:29] jmartisk commented on #4667
Yeah, resteasy extension as well as metrics extension add scopes to beans, but in this case they both add different scopes because they don't know about each other. I this case the Metrics extension clearly should not add the `@Dependent` scope.
It may get quite hard to "guess" when Metrics should NOT add a scope. So far we have logic in place that this is skipped for JAX-RS endpoints, apparently

[2019-10-21 07:40] jmartisk commented on #4667
For the future we might need to think of a more sophisticated algorithm to decide which extension should attach scopes in case multiple extensions want to add conflicting scopes... For now I sent a PR which tells Metrics extension to skip this for classes with a `@Provider` annotation

[2019-10-21 07:42] mkouba commented on #4667
So `AnnotationsTransformer` can be ordered and `TransformationContext.getAnnotations()` always returns the current set of annotations.You can easily test the presence of a built-in scope by means of `io.quarkus.arc.processor.BuiltinScope.isIn(Iterable<AnnotationInstance>)`.

[2019-10-21 07:44] #4672 closed

[2019-10-21 07:47] jmartisk commented on #4667
Yeah you can test whether another extension already added a scope before you, but we can't generally assume much about the ordering of the processors, right? In this case Metrics processor seems to run first, so it can't just check "hey, resteasy extension already added a different scope, so I'll skip this".

[2019-10-21 07:51] jmartisk commented on #4667
We could do this check instead of the `BuiltinScope.isDeclaredOn(ctx.getTarget().asClass()` that we have now, that will be a bit safer because it will account for scopes added by different extensions, but we still need to guess that another extension running later will want to add a different scope, and that one has higher priority

[2019-10-21 07:53] tassadar81 commented on #4660
Here is my token decoded:

{
  "jti": "7cb71df3-ee95-494b-aeb8-8eb03bf479f0",
  "exp": 1571643702,
  "nbf": 0,
  "iat": 1571643402,
  "iss": "http://my keycloak server/auth/realms/my realm",
  "aud": "account",
  "sub": "dfcc6a99-a331-4a24-a807-7773ea27ce0a",
  "typ": "Bearer",
  "azp": "application-cards",
  "auth_time": 0,
  "session_state": "6de76935-3c94-45f7-a926-87850d8afd96",
  "acr": "1",

[2019-10-21 07:58] mkouba commented on #4667
Well, each `AnnotationsTransformer` has a priority, `BuildExtension.DEFAULT_PRIORITY` by default. If you know that you would like to run your transformer after some other transformer just modify the priorities accordingly.

In general, any transformer that adds a scope annotation should check the current set of annotations and if there's a built-in scope it should not add any scope.

I'm not sure

[2019-10-21 08:01] tassadar81 commented on #4660
Added the mapper you told me but nothing has changed

[2019-10-21 08:16] jmartisk commented on #4667
Oh, now I get it, so we'll make the Metrics `AnnotationsTransformer` run after the one for Resteasy, and also when checking whether there is a scope present already, instead of doing `BuiltinScope.isDeclaredOn(ctx.getTarget().asClass())`,  we will do `BuiltinScope.isIn(ctx.getAnnotations())`, does that sound good?

I guess we could then discard the checks (in the Metrics transformer) whether the b

[2019-10-21 08:17] cescoffier commented on #4680
I've opened a PR that contains a fix (#4689)

Note that the issue only happen if you use Firefox.

[2019-10-21 08:19] cescoffier commented on #4683
I believe both classes need to be added to the reflection list.

[2019-10-21 08:24] aesteve opened #4690 "Swagger-UI path is serving Swagger's YAML"
**Describe the bug**
From 0.24.0 on, when targeting `/swagger-ui`, I'm receiving a YAML file.

**Expected behavior**
This endpoint is configured to serve HTML resources from Swagger's UI, not the Swagger YAML definition.
As in versions 0.21.2 or 0.22.0 (or myabe 0.23.0, couldn't get it running), display Swagger's HTML resources, not the YAML definition

**Actual behavior**
The YAML definition (in

[2019-10-21 08:25] enbohm commented on #4572
@vietj will investigate and try to get TCP logs if possible

[2019-10-21 08:25] geoand commented on #4645
I wonder if this is also the root cause of the very large memory usage when building Quarkus itself from source.

[2019-10-21 08:28] gsmet commented on #4690
This is a duplicate of https://github.com/quarkusio/quarkus/issues/4613 .

It will be fixed soon but in the meantime, just publish the OpenAPI on something not `/swagger`. The default will work fine.

[2019-10-21 08:28] gsmet commented on #4690
Closing as duplicate.

[2019-10-21 08:28] #4690 closed

[2019-10-21 08:31] aesteve commented on #4690
Sorry about the duplicate and thanks for the workaround.

[2019-10-21 08:36] johnaohara commented on #2241
@stuartwdouglas have you worked on this? I was going to open a PR, but won't spend time on it if you have already done so

[2019-10-21 08:52] #4490 closed

[2019-10-21 08:57] chaminnk commented on #4082
Initial SQL is now implemented in 0.24.0 release. Check `quarkus.datasource.new-connection-sql` in https://quarkus.io/guides/datasource-guide

[2019-10-21 08:58] Sanne commented on #4649
the Jandex index contains "touch" timestamps and such? Could we trust those?

I'm skeptical, I think I'd rather prefer an "input signature" handled by quarkus-core than having to implement custom logic in each extension.

[2019-10-21 09:02] tassadar81 commented on #4480
Hello, do you have any plans about this issue? I'm facing now this topic for apps to be written in the company i'm working so it will be very useful to know a roadmap about is it's already planned.
Thanks

[2019-10-21 09:20] johnaohara commented on #2241
Current assumption is reports are enabled by default (i.e. disable-reports = false).  If we simply make the default to true, we would lose the ability to set `-Dnative-image.disable-reports` on the command line, and to enable reporting would mean users had to specify a double negative e.g in maven pom `<disable-reports>false</disable-reports>`.  I think the parameter should be modified to "enabled

[2019-10-21 09:27] emmanuelbernard opened #4693 "make spring-web extension REST endpoint published in openapi"
Create a Spring Web REST endpoint and add openapi. You will see that the end point is not published.

Can wait after 1.0 if needed.

[2019-10-21 09:48] sberyozkin commented on #4660
@tassadar81 what do you have in `@RolesAllowed` ?

[2019-10-21 09:55] michalszynkiewicz opened #4695 "CDI security - determining security checks at build time"
**Description**
The current implementation of CDI Security determines the check to be applied for a given method in runtime.
The result is cached but it could be moved to build time to further optimize

**Implementation ideas**

For more see https://github.com/quarkusio/quarkus/pull/4413/files#r335520637

[2019-10-21 10:01] paulrobinson commented on #4611
@kenfinnigan who are you waiting on for this list?

[2019-10-21 10:01] tassadar81 commented on #4660
@sberyozkin i've @RolesAllowed("tipoapplicazione-read")

i didn't get notice the the error now is a bit changed, not it shows a 403:

< HTTP/1.1 403 Forbidden
< Content-Length: 34
< Content-Type: text/html;charset=UTF-8
<
{ [34 bytes data]
100    34  100    34    0     0    311      0 --:--:-- --:--:-- --:--:--   311Access forbidden: role not allowed

Sorry :)

[2019-10-21 10:15] sberyozkin commented on #4660
@tassadar81 np, but what is the value of the RolesAllowed annotation ?
By the way, the adapter will work with the arbitrary claims containing the roles info, KC users won't have to be creating `groups` mappings, it is only currently the solution which should work

[2019-10-21 10:23] tassadar81 commented on #4660
@sberyozkin the value is tipoapplicazione-read as i written in the previous comment

[2019-10-21 10:29] ppalaga commented on #4408
Cannot reproduce with Quarkus 0.25 - see https://github.com/apache/camel-quarkus/pull/295

This issue can probably be closed.

[2019-10-21 10:32] sberyozkin commented on #4660
@tassadar81 but that one is inside the custom `application-cards` claim, so this is why it is not available inside the `groups`. As I said, the adapter should be able to get the roles content from everywhere in the token, but for now it is not possible

[2019-10-21 10:48] #4645 closed

[2019-10-21 11:01] mkouba commented on #4134
@stephenc Now that you know where the NPE comes from could you try to build a simple reproducer? I'll try figure out what the problem is but it would be really useful to know where to start...

[2019-10-21 11:02] tassadar81 commented on #4660
@sberyozkin ok now i've a new token solved as:

{
  "jti": "f6e7065b-314a-4e9e-a7cf-16dcee3b1d02",
  "exp": 1571655748,
  "nbf": 0,
  "iat": 1571655448,
  "iss": "http://my keycloak server/auth/realms/my realm",
  "aud": "account",
  "sub": "dfcc6a99-a331-4a24-a807-7773ea27ce0a",
  "typ": "Bearer",
  "azp": "application-cards",
  "auth_time": 0,
  "session_state": "7e29d459-bc67-4a15-ba03-ab9f740c

[2019-10-21 11:06] gsmet commented on #4495
What's the status of this one?

[2019-10-21 11:06] #4587 closed

[2019-10-21 11:10] mkouba commented on #3533
@manovotn I'm wondering if we should implement this in 1.0.

[2019-10-21 11:19] Rashmini opened #4697 "Failed to copy resources: index.html and myproperties.properties in multimodule projects"
**Describe the bug**
After compiling the application and trying to run, it prompts the error: **Failed to copy resources: java.nio.file.NoSuchFileException: C:\Users\rnarlk\projects\quarkus-multimodule-issue\rest\target\classes\myproperties.properties**

**Expected behavior**
Strings in myproperties.properties file should be displayed in http://localhost:8080/welcome

**Actual behavior**
Here is t

[2019-10-21 11:21] geoand commented on #4693
This shouldn't be hard, basically we probably need some sort of implementation of `io.smallrye.openapi.runtime.scanner.AnnotationScannerExtension`.

I'll see if we can get it in before `1.0`

[2019-10-21 11:26] jaikiran commented on #4697
Perhaps this is related to this https://github.com/quarkusio/quarkus/pull/4633 ?

[2019-10-21 11:31] sberyozkin commented on #4660
@tassadar81 I'll have to investigate, there is some inconsistent code at the `VertxOAuth2IdentityProvider` level at the moment, a `groups` aware Principal is registered, but then the roles are extracted from `realm_access/roles` after all :-), sorry I did not spot it earlier.
This is a problem because if one injects `Principal` then its `isUserInRole` would return the result inconsistent with what

[2019-10-21 11:33] mkouba commented on #4134
So a static initializer itself shouldn't be a problem in general. Note that static initializers of the safe classes are called when the native image is built (see https://github.com/oracle/graal/blob/master/substratevm/CLASS-INITIALIZATION.md), whereas the constructor is invoked when the bean instance is created - the exact timing depends on the bean scoped and in which phase it's called/needed.

[2019-10-21 11:39] sberyozkin commented on #4660
Never mind, Principal does not have this method, only SecurityContext. But the inconsistency remains, we just need to sync the info a bit

[2019-10-21 11:42] wicksim commented on #4638
I'm fine with that...closing the issue.

[2019-10-21 11:42] #4638 closed

[2019-10-21 11:53] geoand commented on #4693
Actually is seems like some JAX-RS stuff are baked into the top level `io.smallrye.openapi.runtime.scanner.OpenApiAnnotationScanner` so it might not be so easy after all. I'll continue to investigate and update later on feasibility for 1.0

[2019-10-21 11:59] tassadar81 commented on #4660
@sberyozkin as now is very weird in the case in the same realm you have different applications. But ok, i'll stay tuned on topic thanks

[2019-10-21 12:00] dreab8 commented on #3261
It seems we have this issue every time we change a property to its type default value, when the entity is unmarshalled the value of `$$_hibernate_tracker` is null and the inline dirty track mechanism fails to detect the change.

[2019-10-21 12:03] mkouba commented on #4134
Actually, we do initialize the whole class hierarchy at build time: https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L175

[2019-10-21 12:08] manovotn commented on #3533
@mkouba we haven't seen any request for this so far.
We'll definitely need to add this as we go on, but I don't think it is worth rushing it now for 1.0.

[2019-10-21 12:10] kenfinnigan commented on #4611
No person, we were waiting on an MP FT release, but we can now do a SmallRye release and see how many tests we've got left in the PR

[2019-10-21 12:27] #4667 closed

[2019-10-21 12:30] geoand commented on #4693
So `OpenApiAnnotationScanner` is tied to JAX-RS currently and I don't see any useful injection points that would give us a quick win.
It looks like this would need some dedicated attention and since it's not a priority item I proposed we move it to after `1.0`, OK @emmanuelbernard ?

[2019-10-21 12:30] gsmet commented on #4667
Fixed by https://github.com/quarkusio/quarkus/pull/4688 .

[2019-10-21 12:36] sberyozkin commented on #4660
@tassadar81 I agree; stay tuned, I'll fix it for 0.27.0

[2019-10-21 13:02] pedroigor commented on #4495
@gsmet Here is:

* Rename module to `quarkus-keycloak-authorization`
* Allow injection of `KeycloakSecurityContext`. I've talked with @stuartwdouglas and currently the request scope is not yet active during auth. I'll be checking that.
* Check the issue mentioned by @dfranssen in regards to profile, env and sys prop configuration values.
* Create follow-up issues for Dev Mode, Native, and Multi-Te

[2019-10-21 13:05] gsmet commented on #4495
OK, so it's not 0.26 material, will move it to next release, thanks!

[2019-10-21 13:24] dufoli commented on #4368
#1408 is merged so maybe this issue has to be closed ?

[2019-10-21 13:32] gsmet opened #4699 "Doc generation - issue with doc sections in runtime/build time"
In the Hibernate Search doc, I have a section that is both in build time and runtime config and I end up with 2 titles.

I should have only one.

![issue-section](https://user-images.githubusercontent.com/1279749/67209596-f3030f80-f417-11e9-9b3e-eff409b563a1.png)

[2019-10-21 13:32] gsmet commented on #4699
@machi1990 could you have a look?

(Note you will need a PR that I will open soon with some doc changes)

[2019-10-21 13:34] gsmet opened #4700 "Doc generation - issue with passthrough maps"
The MongoDB client guide has a passthrough maps and it ends up being weird in the documentation.

In this particular case of a `Map<String, NOT CONFIG OBJECT>`, the type should be `Map<String, NOT CONFIG OBJECT>` and we shouldn't have the key.

![issue-map](https://user-images.githubusercontent.com/1279749/67209734-36f61480-f418-11e9-9543-37fc78bc041d.png)

[2019-10-21 13:34] gsmet commented on #4700
@machi1990 could you have a look?

[2019-10-21 13:36] xfh commented on #4672
Thanks @sberyozkin  & @gsmet, I love how quickly you are moving and where you are going with this project!

[2019-10-21 13:44] mkouba commented on #2904
@antoinesd What's your opinion on this? Currently, the "default" scope is `@Dependent`.

[2019-10-21 13:47] mkouba commented on #2154
This was fixed few months ago: https://github.com/quarkusio/quarkus/tree/master/bom/deployment

[2019-10-21 13:47] #2154 closed

[2019-10-21 13:50] mkouba commented on #1675
Closing - we don't use a `TestResourceProvider` to inject a test class anymore and it seems there's no other component/extension that requires this functionality.

[2019-10-21 13:50] #1675 closed

[2019-10-21 13:54] xfh commented on #4660
@sberyozkin I think that explains some odd inconsistency I've noted as well:
Using `SecurityIdentity.getRoles()` I did indeed get all roles from the token, while using `JsonWebToken.getGroups()` remained empty.

[2019-10-21 14:00] mkouba opened #4701 "Use the correct default executor to fire async CDI events"
We're currently using `ForkJoinPool.commonPool()`.

@stuartwdouglas @dmlloyd @manovotn WDYT?

[2019-10-21 14:02] dmlloyd commented on #4701
Seems reasonable.

[2019-10-21 14:02] mkouba commented on #1490
Out of date.

[2019-10-21 14:02] #1490 closed

[2019-10-21 14:03] mkouba commented on #4701
Do you think that `ForkJoinPool.commonPool()` is reasonable?

[2019-10-21 14:06] mkouba commented on #338
It's very likely not needed. Reopen if necessary.

[2019-10-21 14:06] #338 closed

[2019-10-21 14:08] dmlloyd commented on #4701
No I was responding to the title of the proposal, which is to use a better default executor, which seems reasonable.

I have mixed feelings about the `ForkJoinPool`.  On the one hand, it's largely invisible and just does its work in the background without interfering much (at run time at least).  On the other hand it creates yet more threads that the user has limited control over, and there's also

[2019-10-21 14:09] luszczynski commented on #3312
@Ladicek you are right. It is working now only with:
[code]

[2019-10-21 14:16] #4636 closed

[2019-10-21 14:32] dmlloyd opened #4704 "Rename Substrate build items"
The `Substrate*` build items should be renamed to be `NativeImage*` instead.  The Graal people have repeatedly tried to pull back from the `Substrate` name, so it's probably best to avoid using product names period and instead name these items by their function.

Not really sure if this is a "bug" or an "enhancement".  Maybe we need another category. :)

[2019-10-21 14:35] gastaldi opened #4705 "gradle listExtensions outputs java.lang.IllegalArgumentException: The specified project directory '/tmp/foo/:listExtensions' does not exist."
**Describe the bug**
In a Gradle project generated with the following command:

[code]

Type `./gradlew listExtensions` and you should see the following output:

[code]

**Expected behavior**
No stacktrace before the list of extensions is shown

**Actual behavior**
Stacktrace appears

**To Reproduce**
Steps to reproduce the behavior:

See description above

**Environment (please complete the follo

[2019-10-21 14:39] gsmet opened #4706 "Kafka Streams - Config - Topics should be a list"
Right now, it's a string but it should rather be a proper list in config:

https://github.com/quarkusio/quarkus/blob/master/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java#L37

@gunnarmorling can you have a look? Or maybe you had a particular reason to do it this way?

[2019-10-21 14:41] gsmet opened #4707 "Kubernetes Client - Config - Some properties should be optional"
Nearly all the properties are required, whereas I'm pretty sure they should be optional (typically the proxy stuff).

Please use `Optional` where it makes sense.

@geoand @gastaldi could you have a look? It's not high priority but I just included the generated doc and it ends up with `required` everywhere.

I'm also wondering if most of the config should be runtime instead of build time?

[2019-10-21 14:44] geoand commented on #4707
I'll check it out

[2019-10-21 14:53] sberyozkin commented on #4495
@pedroigor I'm not sure about `KeycloakSecurityContext`. Lets not tie the users again to the KC API in their user code. What does it offer that `JsonWebToken` or `SecurityIdentiy` does not ? If needed we should enhance the latter for example. Thanks

[2019-10-21 15:11] manovotn commented on #4701
This may be a little basic question, but how do I get hold of those thread pools? I vaguely recall that for MP CP we did this via some build item(`ExecutorBuildItem`?); is that the way to go, or can you grab it by some other means as well?

[2019-10-21 15:17] quintesse commented on #4320
Btw, does anyone have a suggestion on where those override files would be located?

[2019-10-21 15:40] dmlloyd commented on #4701
`ExecutorBuildItem` is the way.  I imagine we should have some better CDI integration though, and we probably should be producing a scheduled executor too.

[2019-10-21 15:41] sberyozkin commented on #4448
See [this Vertx issue](https://github.com/vert-x3/vertx-web/issues/1395).

[2019-10-21 15:47] lburgazzoli commented on #4408
I think this happens because resteasy is not a dependency of such tests

[2019-10-21 15:49] paulrobinson commented on #4617
@gsmet, @cescoffier Can you help populate this list of tasks? Any other people we should ping for input?

[2019-10-21 15:50] seseso opened #4710 "Swagger-ui response with wrong content-type?"
**Describe the bug**
When using swagger-ui, responses are comming with content-type
text/html;charset=windows-1252
which shows strange characters on browser.

**Expected behavior**
By default, I would except UTF-8 in responses

**Environment (please complete the following information):**
 - OS: Windows 10 Pro
 - Java version: OpenJDK 8
 - N/A
 - Quarkus version: 0.25.0

![image](https://user-image

[2019-10-21 15:55] FreifeldRoyi opened #4712 "How to monitor health of Stream and Kafka connection?"
I'm using an Emitter (SmallRye, not MP) to send messages to Kafka, and I want to know if the Stream and Kafka connection are alive and ok, how can I reflect that in the health endpoints?
For example, If a Stream is closed (due to some uncaught exception), or the Kafka connection is not ready/healthy or closed, what should I add to the health endpoints to monitor that?

Thank you

[2019-10-21 16:00] aloubyansky commented on #4320
They could be in the platform for a start, I guess.

[2019-10-21 16:03] gsmet commented on #4710
@seseso could you check if https://github.com/quarkusio/quarkus/pull/4713 fixes your issue?

Just build the PR with `mvn clean install -DskipTests -DskipITs` then use `999-SNAPSHOT` in your app.

[2019-10-21 16:04] quintesse commented on #4320
Sorry @aloubyansky , I'm not fluent in Quarkus yet, what is "the platform" exactly? :-)

[2019-10-21 16:23] dwalluck commented on #4619
I think that the issue may be a bit worse than what is described here. It looks like simply enabling the quarkus-oidc extension forces a valid OIDC server to have to be running at start-up. This means that you can't disable the property either. This makes it impossible to, say, use BASIC authentication for tests while using the quarkus-oidc extension  in production.

It should be possible to enabl

[2019-10-21 16:27] sberyozkin commented on #4660
@xfh Right, we have to consolidate things a bit. In `smallrye-jwt` we map the arbitrary roles claim to `groups`, so the same concept should work here. I think we'll have to provide some API as well for the users to do some complex mappings. but in most cases just setting a property should be enough, with the `groups` and the KC path to the roles, and `scopes` to be supported by default.

[2019-10-21 16:29] aloubyansky commented on #4320
There is a separate repo for it which is https://github.com/quarkusio/quarkus-platform
I'll create a new branch soon called "universe", as we've decided to call it that actually for 1.0, which will be an updated version of the current master. The JSON will be generated in this repo and deployed as a Maven artifact.

[2019-10-21 16:33] seseso commented on #4710
Works like a charm!

Thanks!

[2019-10-21 16:34] sberyozkin opened #4716 "quarkus-oidc should get JsonWebToken or JWT Map view from VertxOAuth2"
**Description**
Right now we have to double parse the token in the adapter code to create `JsonWebToken` because VertxOAuth2 has already got it parsed and it has no way to map that to JsonWebToken.

**Implementation ideas**
It is impossible to avoid the double parsing unless VertxOAuth2, at the moment of seeing the parsed token, could map it to `JsonWebToken` (possibly with the help of `smallrye-j

[2019-10-21 18:31] mkouba opened #4718 "JdbcRecorder.registerPrincipalQuery() should never initialize ArC"
See https://github.com/quarkusio/quarkus/blob/master/extensions/elytron-security-jdbc/runtime/src/main/java/io/quarkus/elytron/security/jdbc/JdbcRecorder.java#L44-L46. If it needs to perform some logic after ArC is initialized it should depend on the `BeanContainerBuildItem`.

[2019-10-21 18:32] mkouba commented on #4718
@stuartwdouglas @danielpetisme FYI

[2019-10-21 18:41] mkouba commented on #4701
Hm, except that `ExecutorBuildItem` is of course a RUNTIME_INIT construct and ArC is initialized during STATIC_INIT. So we'll probably have to use `ForkJoinPool.commonPool()` and switch to "default" executor at runtime?

[2019-10-21 18:46] #4710 closed

[2019-10-21 18:51] zakhdar opened #4719 "Quarkus Rest Client - com.fasterxml.jackson.databind.JsonMappingException Class has no default constructor"
**Describe the bug**
I created a project where i use quarkus rest client with a class that extend JsonSerializer for De/Serializing when i write to mongodb everything run fine in standard JVM but when i run in native  on kubernetes i get
`com.fasterxml.jackson.databind.JsonMappingException: Class net.afco.gateway.utils.ObjectIdJsonSerializer has no default (no arg) constructor`
where ObjectIdJsonS

[2019-10-21 18:53] gsmet commented on #4710
Thanks for checking!

[2019-10-21 19:03] lhauspie commented on #4683
Can I work on this one ?

[2019-10-21 19:08] machi1990 opened #4720 "Restarts in DevMode generate a warning about multiple Vertx instance"
**Describe the bug**
In dev mode, we have this warning
[code]
**Expected behavior**
No warning message

**Actual behavior**
The warning message is logged on each restart
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. start Quarkus in dev mode
2. trigger a restart by modifying a file
3. observe the console

**Environment (please complete the following information):**
 - Quarkus versio

[2019-10-21 19:20] gwenneg commented on #4704
@dmlloyd Should `@SubstrateTest` (and all related classes) also by renamed to `@NativeImageTest`?

[2019-10-21 19:20] pedroigor commented on #4495
I've considered it just because this is a Keycloak-specific extension and users are already used to it.

No problem if you want to re-use `JsonWebToken` or `SecurityIdentity`. However, there is one thing that we would need to do to make the `updated` token available once permissions are checked by the policy enforcer.

FYI, this enforcer can run in two modes. One mode is all about parsing the gran

[2019-10-21 19:23] machi1990 commented on #4704
If yes, we have to think of a possible user migration path :-)

Maybe deprecate it first? Like what we did we `@Template` and `@Recorder`

[2019-10-21 19:23] pedroigor commented on #4660
@sberyozkin Regarding custom role mapping, users can provide a `RoleDecoder`, right ? Not sure though if that is the best API we can offer (although it is quite simple).

For KC path to roles, I think we are missing the mapping of "client roles". I've considered that in my initial set of changes to the code flow.

[2019-10-21 20:12] dmlloyd commented on #4701
It depends on what kind of work you're doing I guess.  The challenge with starting threads during native-image static init is that you have to tear them down again before the init can be "done".  The only way to signal that is to delay exit of the static init block until all the work is finished and everything is torn down again (because we can't have threads hanging around or else native-image wi

[2019-10-21 20:12] maxandersen opened #4723 "introduce notion of a platform parent pom.xml"
**Description**
with introduction of platform the generated app has more than just one version to take care off.
quarkus.version AND quarkus.platform.version + various setup that is now generated into every pom.xml we generate.

**Implementation ideas**
suggestion is to make platform publish a matching parent pom which would define these versions + include the repeated plugin mgmt and profiles. wo

[2019-10-21 20:14] maxandersen commented on #4723
existingn PR for quarkus repo: https://github.com/quarkusio/quarkus/pull/3754
platform poc: https://github.com/aloubyansky/quarkus-platform-poc/tree/master/parent

[2019-10-21 20:22] aloubyansky opened #4724 "Fix extension descriptions in the generated JSON"
The maven plugin generating `quarkus-extension.json` file is taking description from the pom.xml file. Most of the extensions don't actually include the description. In that case the description gets inherited from the closest parent that has it. Currently what ends up in the JSON file looks completely wrong.

[2019-10-21 21:09] aloubyansky commented on #4313
I'm closing this one, as such as file was already generated in 0.25.0. And is going to be generated the same way for the universe.

[2019-10-21 21:09] #4313 closed

[2019-10-21 21:20] aloubyansky commented on #4723
It's unlikely this one will make it into 1.0. Besides creating the parent in the universe repo, it will also mean updating the project generating templates and then also probably the logic that checks what the target platform is. Since the application pom.xml can have a parent that imports the BOM or import the BOM directly, or have no parent and no BOM. It's not necessarily difficult to do but wi

[2019-10-21 21:29] maxandersen commented on #4723
we need to update the templates and tools anyways to deal with separate quarkus.version and quarkus.platform.versions anyway.

Not sure what you refer to by "probably the logic that checks what the target platform is" ? wouldn't bom still be referenced by users projects ?

[2019-10-21 21:32] aloubyansky commented on #4723
For what exactly? quarkus.version is going to be used in the plugin configs. And the BOM version is a specific value at this point. So it kind of works.

No, the BOM would be inherited from the parent.

[2019-10-21 21:37] maxandersen commented on #4723
to update the used platform version. That is ultimately the only thing users should need to do.

if we could avoid that things would be simpler imo. then use of parent is 100% optional.

[2019-10-21 21:44] aloubyansky commented on #4723
Parent by its nature is a convenience. It's never required. People may want to prefer/be forced to use other parents.

[2019-10-21 21:47] maxandersen commented on #4723
well, if we kept the bom reference in user projects for now it wouldn't require the changes you feared would take some time.

but i agree it would be tricky no matter what - but if we don't do this we'll need to at least document how to update...as it is no longer just bumping one thing.

[2019-10-21 21:48] maxandersen commented on #4313
btw. sholdn't we remove the extension.json at some point in core ? its going to be a cause of confusion at some point if still need to be maintained?

[2019-10-21 21:52] aloubyansky commented on #4723
BTW, if you have the parent and import the BOM explicitly in the app's pom, you are going to end up modifying two lines for updating the version. Because properties aren't allowed in `parent` element.

[2019-10-21 21:54] aloubyansky commented on #4313
Yes, it's officially deprecated. Let's keep for the upcoming release at least though.

[2019-10-21 21:57] maxandersen commented on #4723
gdammit - that’s why we can't have nice things ;)

[2019-10-21 22:02] #4315 closed

[2019-10-21 23:26] #4368 closed

[2019-10-22 00:37] barata0 opened #4729 "Vertx guide Axle API mistake?"
The Vertx Guide is trying to print the **content** varable, but it is declared as **res**

Is this correct?

[code]

[2019-10-22 00:50] stuartwdouglas commented on #4660
RoleDecoder is an Elytron API, so it only works with the elytron based modules.

At the moment you can provide a `io.quarkus.security.identity.SecurityIdentityAugmentor` CDI bean in your application, inject the token using MP JWT, and then populate the identity however you want.

[2019-10-22 04:30] #4634 closed

[2019-10-22 04:31] #4680 closed

[2019-10-22 05:34] geoand commented on #4719
Can you please list the extensions you are using in your application?

[2019-10-22 05:55] lhauspie commented on #4706
Can I work on this issue after @gunnarmorling answered ?

[2019-10-22 06:03] gunnarmorling commented on #4706
+1 for making this a list. No specific reason that isn't one yet, an
oversight probably. @Logan, feel free to grab this one. Thanks a lot!

[2019-10-22 06:06] lhauspie commented on #4706
Thanks. I'll work on it.

PS: my handle is @lhauspie ;)

[2019-10-22 06:06] #4683 closed

[2019-10-22 06:17] iabughosh commented on #3312
Dears,
Is still this considered as a bug ? because for me even if I disabled cors config, I am still facing the same issue !

[2019-10-22 06:17] mkouba commented on #4701
@dmlloyd But using `ForkJoinPool.commonPool()` during STATIC_INIT should be ok, or? TBH I don't think that async CDI events are frequently used and especially not in the integration code (which is mostly the CDI stuff run in STATIC_INIT). In other words, if using `ForkJoinPool.commonPool()` during STATIC_INIT is OK I wouldn't spend more time on this.

[2019-10-22 06:47] gunnarmorling commented on #4706
👍

Yeah, sorry, I was replying from my phone, didn't have the handle and didn't think that @ with your name would hit another user... :)

[2019-10-22 06:51] gunnarmorling commented on #4706
Btw. just in case you're interested in doing more contributions to the Quarkus Kafka Streams extensions, there's a few things we could talk about. E.g. built-in support for metrics and health checks, if the corresponding Quarkus extensions are enabled. It's on my list of things to work on, but would be more than glad about any help. As said, just in case, simply ignore this message otherwise :)

[2019-10-22 07:16] gsmet commented on #2764
@sberyozkin @vsevel I'm not sure what's this one is referring to? Especially the "distributed" part. Was it fixed by the Vault PR?

[2019-10-22 07:31] mkouba commented on #4718
@gsmet what's the reason to revert the commit?

[2019-10-22 07:39] Alars-ALIT commented on #4262
Does this mean that quarkus can't be deployed as a native image to Google Cloud Run? Are there any workarounds?

[2019-10-22 07:40] maxandersen opened #4742 "gradle templates are not taking platform version into account"
**Describe the bug**
with the new PR for extracting devtools and introduce platforms the gradle projects are still referring to quarkus bom and quarkus versions for its dependencies.

**Expected behavior**
use platform bom and version in gradle.

**To Reproduce**
run `mvn io.quarkus:quarkus-maven-plugin:999-SNAPSHOT:create -DprojectGroupId=org.acme -DprojectArtifactId=application-configuratxio4 -D

[2019-10-22 07:41] gsmet commented on #4718
Sorry, I should have given an explanation: it makes the build fail.

But Stuart has probably a fix there: https://github.com/quarkusio/quarkus/pull/4740 . So let's wait for the CI result there and decide after.

[2019-10-22 07:48] maxandersen opened #4743 "make gradle plugin that dynamically add resolution rules/plugin setup to gradle"
**Description**
currently we do everything hardcoded in gradle in a somewhat non-gradle way.

if we end up having a parent pom and platform bom in maven (see #4723) there is no good way in gradle to do that besides having our existing or a new gradle plugin inject build configs.

by doing this we reduce the scaffolding greatly for users and they'll just have to declare usage of the plugin + a id/v

[2019-10-22 07:50] mkouba commented on #4718
Ok, thanks.

[2019-10-22 07:51] mkouba commented on #4718
So we'll revert the revert if #4740 is merged?

[2019-10-22 07:53] gsmet commented on #4718
Well, let's not merge this one and wait for Stuart's PR CI run. It will fail in `PackageIT` anyway as we have another issue but if it goes until there, I will merge it.

[2019-10-22 07:54] tassadar81 commented on #4660
@sbery

Most of all i think that user needs what is planned on issue #4480. With bearer authentication fixed on 0.27 what are the options for user to secure a web application using quarkus? I mean there's any kind of security interceptor to provide a custom login page? Then a security filter api to generate the token to use to the next requests?

[2019-10-22 08:04] aloubyansky commented on #3136
There was an adjustment in Quarkus 0.25.0 to allow the integrating the tests described above.

[2019-10-22 08:04] #3136 closed

[2019-10-22 08:06] maxandersen opened #4744 "Generated maven project should have a property for quarkus platform and version"
**Describe the bug**
when mvn project generated and quarkus version != platform version we fall back to hardcoded values.
Should use property replacements instead., i.e. ${quarkus.platform.version} and ${quarkus.platform.id}

**To Reproduce**
use latest master/0.26 with universe platform with a version number updated to be 998-SNAPSHOT in all its pom.xml files and run:

`mvn io.quarkus:quarkus-mav

[2019-10-22 08:15] maxandersen opened #4745 "gradle wrapper not created when creating projects on windows"
**Describe the bug**
CreateProjectMojo calls gradle instead of gradle.bat/cmd thus on windows gradle wrappers are never created.

https://github.com/quarkusio/quarkus/blob/8582422fd071d3ef152d861ab50de5ca1064e8cf/devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java#L219

[2019-10-22 08:17] lhauspie commented on #4706
It would be a pleasure. Feel free to give me some pointer to issues to start discussion.

[2019-10-22 08:24] aloubyansky commented on #4744
You probably want to be checking whether the platform BOM comes from Quarkus itself or it's a universe or other external one. Because if it's Quarkus core then one property will be enough. And if it's an external BOM, where else would that property be used?

[2019-10-22 08:42] #4718 closed

[2019-10-22 09:00] vsevel commented on #2764
@yuhaibohotmail I am not sure what you are referring to. can you elaborate?
thanks

cc @gsmet

[2019-10-22 09:21] maxandersen commented on #4744
if you want to "optimize" that specific situation we could just use `<quarkus.platform.version>${quarkus.version}</quarkus.platform.version>`

I'm not really following why we would have that situation occur once first platform is released and out ?

[2019-10-22 09:23] aloubyansky commented on #4744
Where would 'quarkus.platform.version' be used?

[2019-10-22 09:24] aloubyansky commented on #4744
Besides the BOM import.

[2019-10-22 09:32] maxandersen commented on #4744
when doing `mvn -Dquarkus.platform.version=xyz clean install` to test/work with new version.

[2019-10-22 09:33] zakhdar commented on #4719
Here is my POM
[code]

[2019-10-22 09:34] aloubyansky commented on #4744
ok

[2019-10-22 09:37] aloubyansky opened #4749 "Bootstrap maven repo initializer should take into account maven.repo.local property"
At this point the local repository location can be configured using settings.xml and QUARKUS_LOCAL_REPO env var with the default pointing to the `~/.m2/repository`. It should also consult `maven.repo.local` system property.

[2019-10-22 09:42] geoand commented on #4745
@maxandersen Are you planning to address this one? I don't have a Windows machine so if I started it it would just be shooting in the dark :)

[2019-10-22 09:49] geoand commented on #4719
Thanks @zakhdar.

I will address this.

[2019-10-22 09:55] maxandersen commented on #4745
yes sorry - forgot to assign. I'll get it fixed.

[2019-10-22 10:13] lhauspie-adeo commented on #4706
As the `topics` String is a comma-separated list of topic names, `KafkaStreamsTopologyManager.java` parse this `topics` String to a Set<String> by using this piece of code :
[code]

So my question is: how is it possible to make `topics` to be a List (or a Set) in `KafkaStreamsRuntimeConfig.java` without parsing a comma-separated String ?

@gsmet do you have a use case where you need to retrieve th

[2019-10-22 10:20] #4701 closed

[2019-10-22 10:20] machi1990 commented on #4706
Hi @lhauspie-adeo

I guess changing

[code]

to
[code]

[2019-10-22 10:22] lhauspie-adeo commented on #4706
Oh. OK, I did it, I just have to test before creating the PR.

Thanks

[2019-10-22 10:25] machi1990 commented on #4706
You are welcome. Thanks for the contribution :-)

[2019-10-22 10:28] lhauspie commented on #4706
Sorry, I got the wrong account again.
Could you assign this issue to @lhauspie, not @lhauspie-adeo

[2019-10-22 10:45] johnaohara commented on #2241
#4734 has been merged

[2019-10-22 10:45] #2241 closed

[2019-10-22 11:00] gunnarmorling commented on #4675
Currently the Kafka Streams extension doesn't expose any health checks or metrics. There's a related discussion in https://github.com/quarkusio/quarkus/issues/4375, which is about providing means for letting extensions automatically expose metrics and health checks if the required other extensions are enabled.

[2019-10-22 11:24] #4707 closed

[2019-10-22 11:46] gsmet commented on #4720
I suppose we could add a log filter cleanup rule but I'm not sure it would be the right fix. @stuartwdouglas what's your take on that one?

[2019-10-22 11:49] machi1990 commented on #4720
I was thinking of doing it only for DevMode. I was not sure if filtering is the way to go.

[2019-10-22 11:51] gsmet commented on #4720
I think it's last resort and a proper fix would be better.

I forgot about this otherwise I would have pushed a workaround in 0.26.0. There's a good chance people will complain about this.

[2019-10-22 12:09] yrodiere commented on #3284
@gsmet Setting the same milestone as https://github.com/quarkusio/quarkus/issues/2556, since both problems have the same root cause and will be fixed by a new release of HV and an upgrade to that new release in Quarkus.

[2019-10-22 12:09] yrodiere commented on #3284
See also  #4439

[2019-10-22 12:18] gsmet commented on #4617
We also need a proper sexy tweet and probably an email too.

1.0 is worth having someone like @emmanuelbernard writing all of them to get some good vibes.

[2019-10-22 12:26] pedroigor commented on #4660
@tassadar81 Could you elaborate more why you would need a login page in your application given that #4480 is related to OIDC Authorization Code Flow for authenticating users? That would mean redirecting your users to some OP where the login page and authentication flow happen.

[2019-10-22 12:33] Sanne commented on #4649
That's what I mean. I can't trust the jandex index alone; even if it had information about deleted entities, there's more missing.

[2019-10-22 12:37] tassadar81 commented on #4660
Yes, as #4480 is still to be implemented if i've understood correctly, for my web application i'm developing i need a login process inside the application. So i was asking which options quarkus offers now to get this using bearer auth. In the guides i've found just how to secure rest backend methods.
I'd like to write some interceptors that will manage this that cound be putted in a different jar

[2019-10-22 12:44] machi1990 commented on #4720
Do you want me to prepare a draft PR for the log filtering?

[2019-10-22 13:14] Sanne commented on #4644
Hibernate ORM as configured in Quarkus used Enhanced Proxies. This is similar to the HibernateProxy, but they are generated at build time.

I suspect this issue might be related to #3261

[2019-10-22 13:19] geoand commented on #4719
#4757 should take care of this

[2019-10-22 13:32] ricardozanini commented on #3312
Does anyone here have a reproducer with a ReactJS application accessing a Quarkus REST API to demonstrate this error to maintainers?

[2019-10-22 13:37] haraldatbmw commented on #4640
@jaikiran Are you able to reproduce the issue?

[2019-10-22 13:47] haraldatbmw commented on #4640
I have an other running solution, using a multistage docker build.
This works without any errors.

[code]

[2019-10-22 13:48] maxandersen opened #4758 "ensure kogito quarkus extension have what they need to integrate with platform"
Should get someone from kogito to ensure their extension works.

- add missing metadata if any
- release snapshot we can use in platform ? (if they want in)
- code.quarkus.io integration ? (probably post 1.0)

[2019-10-22 13:48] maxandersen opened #4759 "ensure keycloak are ready/aware of platform changes"

[2019-10-22 13:55] haraldatbmw commented on #4640
So the **error remaining** is using the **native image docker build** and then building and running the docker-image or running it directly inside WSL in Windows10.
[code]

[2019-10-22 14:35] quintesse commented on #4320
If we want to follow what K8s does here we should really be talking about `annotations`, not `labels`. Labels in K8s are specifically meant for identifying and looking up resources. Their values can only be simple ID strings. Annotations on the other hand are basically free-form, their values can be as simple or as complex as you want,

[2019-10-22 14:47] jorsol opened #4762 "Quarkus 0.26.0 native-image fail with additionalBuildArgs"
**Describe the bug**
Upgrading to Quarkus 0.26.0 fail the build of native-image when using `<additionalBuildArgs>
`

The generated command is:

Note the brackets around -H:IncludeResources=.*/banner.txt, the list of additional args is show with the brackets and that causes the fail.

**Expected behavior**
Native image working.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the be

[2019-10-22 14:47] gastaldi commented on #4724
I can work on this to make sure the descriptions are correctly set in the `extensions/<name>/runtime` poms

[2019-10-22 15:00] ia3andy commented on #4320
@quintesse maybe we should name it `metadata`? does it ring a bell in ur memory 😂

[2019-10-22 15:16] pedroigor commented on #4495
@sberyozkin @stuartwdouglas I'm about to send a PR (including quickstart) considering all the suggestions and issues herein suggested.

I'm still not sure about how to proceed with the `commons-logging` error I mentioned before. The behaviour is quite weird. When running tests, everything works fine (JVM mode) but when running using a separated application (e.g.: following the guide/quickstart) it

[2019-10-22 15:16] paulrobinson commented on #4369
@stuartwdouglas Can you add assignees to these issues please?

#4347 Add a JPA Identity Extension
#2764 Support distributed configuration with HashiCorp Vault
#3586 Enhance Elytron Security extension to support a database as identity store

[2019-10-22 15:28] maxandersen commented on #4320
@quintesse it was actually for selection/querying I was thinking...but not sure we care about the "performance" aspects here and need to have both labels and annotations ;)

Basically what I'm suggesting is just doing:

Map<String, List> metadata;  :)

[2019-10-22 15:30] emmanuelbernard commented on #4320
Well. Let’s use the English meaning for label :)

On Tue 22 Oct 2019 at 16:35, Tako Schotanus <notifications@github.com>
wrote:

[2019-10-22 15:38] ochaloup opened #4765 "narayana-jta extension: harmonise the node name and the xa node name to a single value"
**Description**
The Narayana does not recommend to diverge the node identifier and the xa node names. This setup should be used only in rare specific cases and it should not be explicitly available as a Microprofile config property
https://github.com/quarkusio/quarkus/blob/0.25.0/extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/TransactionManagerConfiguration.java#L18

[2019-10-22 15:40] sberyozkin commented on #2764
@gsmet @vsevel I hope this issue can be safely resolved :-). Originally it was referring to either HashiCorp Vault or Spring Cloud Config. I was looking to open an issue to match @vsevel 's PR, found this one and updated.
Vault is distributed in nature, which is what the 'distributed' referred to. And its key-value secrets service can be used for keeping the general configuration values, not neces

[2019-10-22 15:44] btsibr opened #4766 "swagger-ui is not mapping oauth2-redirect.html"
**Describe the bug**
In Quarkus, swagger-UI sets the redirect_uri for OAUTH2 requests to /oauth2-redirect.html.  If this file doesn't exist, the Authorize dialog (after asking for scopes) returns to a 404 page (that includes a suggestion for /webjars/swagger-ui/3.20.9/oauth2-redirect.html).

Quarkus 0.25.0 w/ swagger-ui and smallrye-jwt extensions.

**Expected behavior**
The authorize dialog succe

[2019-10-22 15:48] sberyozkin commented on #4660
@stuartwdouglas @pedroigor so it is super good, we already have `io.quarkus.security.identity.SecurityIdentityAugmentor ` for the users who need to do something advanced; I'll just try ti do some tweaks to ensure it it works consistently OOB for the major cases (when `groups` is available, for KC tokens, for `scopes`, and for some arbitrary claims using a `smallrye.jwt.groups,path` property - woul

[2019-10-22 15:50] sberyozkin commented on #4660
@tassadar81 As Pedro said we'll provide a standard based solution to have a server web app user redirected to IDP such as Keycloak and returned back; as part of that PR we'll let users differentiate between the authorization only and web flows

[2019-10-22 15:52] collin-sullivan opened #4767 "Java 11/Gradle - NullPointerException on build Reactive Messaging"
NullPointerException is thrown at build time when using `@Incoming` or `@Outgoing` method annotations from quarkus-smallrye-reactive-messaging on Java 11.  Build completes successfully on java 1.8 or if I remove the  `@Incoming` or `@Outgoing` method annotations when using Java 11.

Last Quarkus Version it worked:
- 0.23.2

Quarkus Versions this is broken:
- 0.24.0
- 0.25.0
- 0.26.0

Sample Code:

[2019-10-22 15:53] btsibr commented on #4766
I believe that it just needs to set the oauth2RedirectUrl when it modifies the swagger-ui index.html

https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/.

As an aside, it'd be nice to be able to set the validatorUrl.

[2019-10-22 15:55] #4749 closed

[2019-10-22 16:02] sberyozkin commented on #4495
@pedroigor Hi Pedro, I see, I propose that we discuss this concept, to show which permission was granted as part of some follow up PR, because once the oidc adapter will support UMA, etc, the same kind of utility method check should work as well. We'll add some nice typed methods to `TokenCredentail` for example.
The most important thing is that we'll have the users able to migrate, but this keycl

[2019-10-22 16:04] gsmet commented on #4767
Oh, yes, the `commons-lang3` version parsing being all broken. Classic.

@jmartisk you were the one working on this, no? Could you see if we can add a proper test and try if `commons-lang3` 3.9 fixes the issue? If not, we should go away from it forever.

[2019-10-22 16:07] pedroigor commented on #4495
@sberyozkin The part that makes available the granted permissions through the SI is already implemented. I've even added a `PermissionChecker` so that users can use SI related methods to check whether or a specific permission is granted (if they want to check programmatically).

The exchange part is also working and is a core capability of the extension.

The missing bit now is just this `commons-

[2019-10-22 16:09] geoand commented on #4767
@cescoffier works on this in general but I done some work on it as well

[2019-10-22 16:39] quintesse commented on #4320
@emmanuelbernard not sure what you mean exactly. Is that comment pro or contra using the name "labels"? I think the word "label" can mean many things in English ;-)
When you say in English that you "label something" it generally means that you associate a simple description. On the other hand the label on a jar of let's say honey can be pretty complex. :-)

@maxandersen I like `metadata` too, nice

[2019-10-22 17:15] gastaldi commented on #4724
The `<name>` always ends up with `- Runtime`, like in:
[code]

Should we keep the `- Runtime` suffix or should I remove it?

[2019-10-22 17:29] #3861 closed

[2019-10-22 17:30] vsevel commented on #2764
@sberyozkin I now recall some of our conversations about supporting other vault like products. we did not elaborate at that time. it was several months ago. and back then we were deep down in the design of the vault service, then the vault config source. that is what you are referring to right? you were thinking of having a UniversalVault interface of some sort. correct?

I think we achieved some

[2019-10-22 17:32] aloubyansky commented on #4724
An alternative would be set the name in the JSON file (or whatever the replacement will be). But I guess it would be nice if the name in the pom would match the extension name.

[2019-10-22 17:40] gastaldi commented on #4724
@aloubyansky so I assume that as a yes? :) I'll add in a separate commit just in case

[2019-10-22 17:53] dmlloyd commented on #4262
You can work around the problem by defining the environment variable `DISABLE_SIGNAL_HANDLERS` to any value.  Obviously this means that you won't have OS signal handling though.

[2019-10-22 17:54] dmlloyd commented on #4262
Ultimately we'll probably end up defining our own signal handler which works more like OpenJDK's.

[2019-10-22 17:54] aloubyansky commented on #4724
Maybe you should ask the extension maintainers instead :)

[2019-10-22 17:59] sberyozkin commented on #2764
@vsevel thanks;
I only meant that right now we already have KV and DB credentials stores supported, and the former can be transparently used by the users, and once #3937 is resolved then it will be even better, our own extensions will be able to use their own properties to indirectly fetch the secrets of all sorts from Vault.
But Vault has a dozen more types of stores (engines, sorry) supported :-

[2019-10-22 18:19] sberyozkin commented on #4480
Yes, Pedro has already done a lot of work around it, we just have some higher priority issues to deal with. Stay tuned :-)

[2019-10-22 18:28] gastaldi commented on #3329
Looks like this issue can be closed now?

[2019-10-22 18:29] sberyozkin commented on #4495
@pedro, sure, that the KC policy enforcer needs it; but in time we'll have the oidc adapter having a similar requirement, exchange a token (to delegate or impersonate) using the token exchange protocol - the concept has to work with the 3rd party IDPs. At that point we'll most likely want to reuse the code which will be located in the KC extension but without the KC specific API :-)

I propose to

[2019-10-22 19:11] vsevel commented on #2764
@sberyozkin I see. I agree the vault extension will naturally evolve toward supporting new secret engines, and new authentication methods.
I do not think this issue is meaningful as it is. It should be more specific (eg add support for transit secret engine). or I would rather close it (because to me it has been fixed in https://github.com/quarkusio/quarkus/pull/2897), and open new ones as needed.

[2019-10-22 19:20] vsevel commented on #4495
some (@starksm64 @gsmet) have argued that rest calls should be done using the default quarkus jax-rs client. I created https://github.com/quarkusio/quarkus/issues/4162 as a result of this feedback.
as far as okhttp is concerned, it seemed smaller than the apache httpclient, and I saw that the fabric8 kubernetes client was already using it.
the new java 11 HTTP Client might offer an alternative at

[2019-10-22 19:40] kenfinnigan commented on #4611
I've updated the epic with details of what I think is critical

[2019-10-22 19:51] maxandersen commented on #4316
@paulrobinson once you think the spreadsheet is fairly decent report back and we'll use that for this.

[2019-10-22 19:52] maxandersen commented on #3962
I consider this one done as camel-quarkus is now in the platform - https://github.com/quarkusio/code.quarkus.io/issues/165 will cover the rest.

[2019-10-22 19:52] #3962 closed

[2019-10-22 20:03] aloubyansky commented on #3329
There are a couple of points from Emmanuel's list we could use to create a couple of issues. Otherwise, yes, can be closed, imo.

[2019-10-22 20:06] aloubyansky opened #4771 "Define a notion of a beta/experimental extension in the tooling"
Extension authors (or extension catalog authors) should be able to indicate in the metadata that the state/quality of certain extensions is beta or experimental.

[2019-10-22 20:08] aloubyansky opened #4772 "Define the notion of the preferred extension for a label"
Extension catalog authors should be able to define default extensions for certain labels, given that multiple extensions could be associated with the same label(s).

[2019-10-22 20:09] aloubyansky commented on #3329
Ok, I created #4771 and #4772

[2019-10-22 20:09] #3329 closed

[2019-10-22 20:18] kenfinnigan commented on #4520
Current WIP branch is here: https://github.com/kenfinnigan/quarkus/tree/restclient

[2019-10-22 20:27] geoand commented on #4767
After talking about this extensively it looks like it might be due the build classpath being set incorrectly (this only happens for Gradle).
@aloubyansky agreed to take a look

[2019-10-22 20:28] #4762 closed

[2019-10-22 20:29] #4745 closed

[2019-10-22 20:42] #4742 closed

[2019-10-22 20:45] #4637 closed

[2019-10-22 20:48] maxandersen commented on #4724
-1 on doing "magic" prefix removals. Should just use the name and users can change it or override it explicitly.

[2019-10-22 20:53] gastaldi commented on #4724
@maxandersen Not sure I follow, what "magic" prefix removals are you talking about?

[2019-10-22 20:57] maxandersen commented on #4724
ah sorry - I misread it :) thought you were removing the specific *postfix* in the descriptor generator - now I grok you are just suggesting to remove it. Yeah, that’s fine but I would raise it on the dev list first before doing a bulk remove.

[2019-10-22 21:00] maxandersen commented on #4771
these really just need to go into k8s style metadata - then we don't have to care.

[2019-10-22 21:01] maxandersen commented on #4772
is that done today somewhere in the existing setup ?

really should rename label to keyword since then this makes much more sense.

[2019-10-22 21:17] #4724 closed

[2019-10-22 21:29] tsfullman opened #4773 "QuarkusDev NoSuchMethodError failed startup"
**Describe the bug**
I pulled in 0.26.0 and built non-natively successfully. However, when trying to do a ./gradlew quarkusDev the app fails to start and gets the following stacktrace (I cut out the beginning):

[code]

**Expected behavior**
The app to start correctly

**Actual behavior**
breaks doing a quarkusDev

**To Reproduce**
Steps to reproduce the behavior:
1. Use quarkus 0.26.0
2. ./gradle

[2019-10-22 21:33] lordofthejars opened #4774 "Fault Tolerant retries and async"
**Describe the bug**

Using Fault Tolerance with Rest Client spec in async code, makes the request hung.

So I have the next code:

[code]
And:

[code]
Then it works as expected but then if I add the fault tolerance:

[code]

Then it hangs.

Then if I remove the `@Asynchronous` then it does not hang but the retries are not happening in case of error.

**Expected behavior**

Call should happen in n

[2019-10-22 22:41] #4292 closed

[2019-10-22 23:00] gastaldi commented on #4771
How about setting this as a Maven `<property>` similar to what's done in https://github.com/thorntail/thorntail/blob/master/fractions/flyway/pom.xml#L37?

[2019-10-22 23:14] gastaldi opened #4778 "gradle listExtensions displays mvn instructions"
**Describe the bug**
In a project generated with Gradle, run `gradle listExtensions`. You should see in the end the following message:

[code]

**Expected behavior**
The message should be:
[code]

**Actual behavior**
It is not

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. `cd foo & ./gradlew listExtensions`

**Environment (please complete the following information):**
 - Output o

[2019-10-22 23:25] gastaldi commented on #4723
I'm :-1:  to having a parent pom.xml and the main reason is because most enterprise developers already have their own preferred parent pom. Not to mention that child poms will inherit some of its tags (`<description>`,  `<scm>`, to name a few), which does not make sense at all

[2019-10-22 23:34] gastaldi commented on #4729
@barata0 good catch! PR created: https://github.com/quarkusio/quarkus/pull/4779

[2019-10-23 01:43] saturnism opened #4782 "Quarkus produces JAR that fails CRC32 checks"
**Describe the bug**
[code]

**Expected behavior**
No CRC check errors

**Actual behavior**
CRC check errors for unknown reason.

**To Reproduce**
Steps to reproduce the behavior: See above.

**Configuration**
None

**Screenshots**
N/A

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  Darwin ... 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14

[2019-10-23 01:48] ludoch commented on #4782
On my Mac system, it works, so might be installation specific...?

[2019-10-23 02:28] ludoch commented on #4782
It seems oraclejdk works and adoptopenjdk failed!!
So adoptopenjdk is not a reliable distro?

[2019-10-23 02:29] saturnism commented on #4782
Interestingly enough:

JAR fails CRC check w/ AdoptOpenJDK 11.0.4.

[code]

CRC check fails w/ Zulu 11.0.5
[code]

CRC check passes w/ Oracle OpenJDK 11.0.2
[code]

CRC check passes w/ all OpenJDK 1.8 that I have on the system (Oracle OpenJDK, AdoptOpenJDK, and Zulu)

[2019-10-23 02:34] saturnism commented on #4782
OpenJDK 13 is also broken:
[code]

[2019-10-23 02:41] ludoch commented on #4782
So maybe move this bug to openjdk itself...

[2019-10-23 02:51] Rashmini commented on #4697
This was solved by release 0.26.0.
Thank you

[2019-10-23 02:51] #4697 closed

[2019-10-23 03:23] #4334 closed

[2019-10-23 03:23] #4344 closed

[2019-10-23 06:11] geoand commented on #4773
@tsfullman can you show your entire `build.gradle` file please?

[2019-10-23 06:12] maxandersen commented on #4723
Challenge is that 80-90% of the generated pom will be pure scaffolding.
What is your suggested alternative ?

I'm not a fan either but its apparently not stopping start.spring.io examples to be used.
Note, in this case its not about making a generic good parent - its about making it easy to use quarkus in opinionated way.

Gradle's approach is nicer this way as the plugin can do "mix-ins" rather t

[2019-10-23 06:14] maxandersen commented on #4771
the plugin to generate the metadata already take values from pom.xml - that part is really secondary; the key is how we store and manage this at the API level between extensions and our platform/registry.

[2019-10-23 06:25] #4729 closed

[2019-10-23 06:31] gastaldi commented on #4771
I believe this information (after read from the pom.xml) will be stored in the generated `extensions.json` (and as a new attribute in the `Extension` class). Each extension author could then define in their own pom.xmls how mature the extension is.

[2019-10-23 06:33] jmartisk commented on #4773
I don't know how exactly this could happen, but I have an explanation particularly for the `java.lang.NoSuchMethodError` - this will happen if there's MP Metrics 2.0 present, because that method was added in 2.1. Quarkus 0.26 uses Metrics 2.1 though, so we might need to find out how the 2.0 API got into this.

[2019-10-23 06:44] gastaldi commented on #4723
IMHO considering that configuring Quarkus is simply adding dependencies and the Quakus plugin, a parent pom won't help much. What would be interesting though is if we could introduce some POMs that simply transitively resolves to some common extensions (for example, microprofile)

I believe that the `Quarkus CLI` (when introduced) would be able to add op

[2019-10-23 07:01] gastaldi commented on #4320
Perhaps overrides in the `extension.json` could be done with JSON Patch (http://jsonpatch.com/) - just an idea.

[2019-10-23 07:20] #4576 closed

[2019-10-23 07:28] tassadar81 commented on #4660
@sberyozkin ok i've missed such possibility, where i can find a guide to configure both rest methods and web flows? I was reading [this](https://quarkus.io/guides/oidc-guide) guide but just rest services are present:

[2019-10-23 08:06] #4719 closed

[2019-10-23 08:28] mkouba commented on #4774
@michalszynkiewicz @Ladicek Any ideas?

[2019-10-23 08:33] paulrobinson commented on #4316
@maxandersen will do. I'll be chasing people today.

[2019-10-23 08:35] paulrobinson commented on #4316
@emmanuelbernard, @maxandersen: Are we still planning to label (e.g. alpha, beta, etc) extensions for 1.0.0? If so, we will need an algorithm to determine this. I would suggest something that can be codified into the spreadsheet using the responses from the extension maintainers.

[2019-10-23 08:47] emmanuelbernard commented on #4099
gentle ping :)

[2019-10-23 08:48] emmanuelbernard commented on #4099
Got the same comment while driving a lab. Getting the first exception first is preferablr

[2019-10-23 08:49] jaikiran commented on #4099
Hello @emmanuelbernard, I will get back to this, this week.

[2019-10-23 08:57] mkouba opened #4787 "RESTEasy standalone - @ApplicationPath not honored if it does not start with a slash"
Moreover, if it starts with a slash the resource is served from both the root and the app path.

For example:
[code]
HTTP requests to `/greeting` and `/foo/greeting` are both handled by `GreetingResource`.

[2019-10-23 09:07] rbelfils opened #4788 "More trace when run mvn test and binding port fail"
**Description**
Manque d'informations dans la stacktrace lors du lancement des tests Quarkus.
Si le port par défaut (8081) est utilisé, il n'affiche pas le port qui pose souci.

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroup

[2019-10-23 09:16] #4503 closed

[2019-10-23 09:25] agoncal opened #4789 "quarkus-maven-plugin -Dpath is interpreted on Cygwin / Windows"
**Describe the bug**

When you use the quarkus-maven-plugin on Cygwin on Windows, the -Dpath is interpreted. For example, if you open a Cygwin terminal and type :

[code]

Instead of generating :

[code]

the code that is generated is

[code]

**Expected behavior**

The expected code is

[code]

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to re

[2019-10-23 09:31] gsmet commented on #4789
Yes, we already have a report of that somewhere. My understanding is that it's the shell doing bad things, not Quarkus.

[2019-10-23 09:39] mvniekerk commented on #4664
Same:
Upgraded from 0.23.1 -> 0.25
The `quarkus.oidc.auth-server-url` and `quarkus.keycloak.auth-server-url` are different, in that the `/realms/<my_realm>` must be appended on 0.25

_0.25_
quarkus.oidc.auth-server-url=http://localhost:8080/auth/realms/quarkus
quarkus.oidc.client-id=backend-service

vs

_0.23_
quarkus.keycloak.realm=quarkus
quarkus.keycloak.auth-server-url=http://localhost:8080/au

[2019-10-23 09:57] jaikiran commented on #4782
This indeed looks like an issue in recent versions of Java itself. I've been able to narrow this down to a very simple usage which reproduces this. I've opened https://bugs.openjdk.java.net/browse/JDK-8232879 to get inputs from the OpenJDK team. Thank you for reporting this and providing sufficient details for narrowing this down.

[2019-10-23 10:07] stauvel commented on #4789
I tried without the first '/' in the -Dpath param, and then Maven plugin created it for me :

    $ mvn io.quarkus:quarkus-maven-plugin:0.25.0:create     -DprojectGroupId=io.quarkus.workshop.super-heroes     -DprojectArtifactId=rest-hero     -DclassName="io.quarkus.workshop.superheroes.hero.HeroResource"     -Dpath="api/heroes"
    (...)
    $ cat rest-hero/src/main/java/io/quarkus/workshop/superh

[2019-10-23 10:09] Sanne opened #4791 "The Software Transactional Memory extension should not start the TransactionStatusManager during native build"
(repurposing this bug as I originally misunderstood the problem)

**Describe the bug**
The JTA Narayana extension is setting a JVM flag to disable the TSM; something similar should be done for the Software Transactional Memory extension, as it's also starting the TSM during native builds.

See also #4748

[2019-10-23 10:34] sberyozkin opened #4792 "JAX-RS SecurityContext should be linked to SecurityIdentity"
**Description**
`SecurityContext.isUserInRole` etc should be able to use the roles info being prepared for `SecurityIdentity` (for example, as part of the OIDC flow etc)

[2019-10-23 10:58] emmanuelbernard commented on #4664
@sberyozkin if you have time or you can delegate to someone. That would be a good to have.

[2019-10-23 11:32] loicmathieu commented on #4619
Hi @dwalluck
On many security related extension, you can switch them by env by setting an 'enabled' property to false.
Apparently, this property is missing in OIDC, if we implement it you will be able to configure your apps like this:

[code]

I think this would solve your issue.
@sberyozkin I can provide a PR for this if it's OK for you

[2019-10-23 11:38] lhauspie opened #4793 "Support Health Check for Kafka Streams extension"
**Description**
As @gunnarmorling said in the #4675 issue, kafka streams doesn't expose any health checks or metrics. It could be interesting to add the health check capability (at least readiness) as the #4675 seems to be only about metrics.

**Implementation ideas**
Just create the `@Readiness` that will check if the `quarkus.kafka-streams.topics` are reachable or not. Maybe by reusing a part of

[2019-10-23 11:41] loicmathieu commented on #4712
cc @lhauspie wanted to works on an health check for KafkaStream (#4793).

But as I understand, you only use `quarkus-kafka-client` extension.
I'm OK for a readiness check on KafkaStream as it requires some topics to be created. But I'm more concerned by a readiness check on a simple Kafka client because Kafka itself is fault tolerent:

- If I'm a consumer to a Kafka cluster, the consumer will wait

[2019-10-23 11:41] lhauspie commented on #4793
I'll be glad to help on this topic if you're ok with that issue.

[2019-10-23 11:47] Manu206 commented on #3598
I also include the Origin header. Still no change. There is still something wrong.

[2019-10-23 12:00] gsmet commented on #3598
@Manu206 any chance you could provide a sample application so that we could see what's not working correctly?

[2019-10-23 12:00] gsmet commented on #3598
We really need to get to the bottom of this.

[2019-10-23 12:05] sberyozkin commented on #4664
@emmanuelbernard sure, I can have a look

[2019-10-23 12:06] agoncal commented on #4789
Yes, avoiding the first "/" works also under Mac (so `-Dpath="api/heroes"` instead of `-Dpath="/api/heroes"`)

[2019-10-23 12:06] #4789 closed

[2019-10-23 12:41] tsfullman commented on #4773
Your comment about the version helped. I realized I was pulling in another dependency that was enforcing 'org.eclipse.microprofile:microprofile:3.0' which uses metrics 2.0. Closing this bug as it was a code issue on my end. Thank you for your help.

[2019-10-23 12:41] #4773 closed

[2019-10-23 12:43] geoand commented on #4773
Thanks for reporting back @tsfullman

[2019-10-23 12:53] emmanuelbernard opened #4796 "Documentation for quarkus.security.file / embedded not present in any guide"
While one can find in https://quarkus.io/guides/all-config `quarkus.security.users.file.enabled` / `quarkus.security.users.embedded.enabled` and friends. I could not find it in any security guide. We need the doc.

[2019-10-23 12:57] alesj commented on #3370
Again bitten by this ... :-)

[2019-10-23 13:01] mvniekerk opened #4797 "@QuarkusTest @Inject NPE with Spock + Kotlin"
**Describe the bug**
Adding Spock and annotating a specification class with @QuarkusTest, doing an @Inject with some bean always result in a NPE

**Expected behavior**
Have the beans injected into the specification

**Actual behavior**
NPE when trying to accessing the (should have been) injected beans

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout https://github.com/mvniekerk/quark

[2019-10-23 13:04] gsmet commented on #4796
It's in there: https://quarkus.io/guides/elytron-properties-guide.html

but the issue is that I think it wasn't added to the guide toc when it was first added. It's linked from the main security guide though.

[2019-10-23 13:06] emmanuelbernard commented on #4796
Right it's linked from here https://quarkus.io/guides/security-guide but it wasn't obvious I could go down.

[2019-10-23 13:11] gsmet commented on #4796
Yeah, for now, I included the generated ones where they were missing. For some of the guides, there is some more info, intro and so on and including the generated properties was losing information so I let it like that pending a better solution.

But sure, if Sergey can rework that, that would be nice.

[2019-10-23 14:04] jaikiran commented on #4782
A PR containing a workaround in Quarkus has been issued https://github.com/quarkusio/quarkus/pull/4801

[2019-10-23 14:13] jaikiran commented on #4640
@haraldatbmw Thank you for the detailed information. I have been able to correlate this back to the code which sets up this infrastructure. I do see that there is an issue in the way this is done. However, I don't see any other way out, other than probably adding a prominent note explain these issues in the guide. Before getting to that though, I want to make sure I've understood the code correctl

[2019-10-23 14:15] ebullient commented on #4037
Spring 5 Security is pretty tidy now.. we really should figure out how to pull this in, as Spring applications will tend to use it.

[2019-10-23 14:16] Sanne commented on #3817
I confirm this was fixed by #4717

[2019-10-23 14:16] #3817 closed

[2019-10-23 14:19] gastaldi opened #4802 "Add a search feature in https://quarkus.io/guides/"
**Description**
It would be nice to have a search feature in https://quarkus.io/guides/.  Right now everytime I navigate to that page I always end up using Ctrl+F to find the Guide I want.

**Implementation ideas**
Add a search field or organize the guides list

[2019-10-23 14:19] ebullient commented on #3436
I'd like to talk to the Spring team to see if there is a better way to do this.

[2019-10-23 14:21] saturnism commented on #4782
Thanks for the quick workaround!!

[2019-10-23 14:33] ebullient opened #4803 "Support Spring 5 Reactive (WebFlux)"
**Description**
Spring 5 Reactive support is based on WebFlux, which is a Java8-based reimplementation of RxJava. From a general Spring implementation perspective, the reactive workloads based on WebFlux can drop or bypass interaction with Tomcat to go right to Netty or Undertow, which could map nicely (with Quarkus undertow).

Reference:
https://docs.spring.io/spring-framework/docs/5.0.0.M1/sprin

[2019-10-23 14:34] ebullient commented on #4036
https://spring.io/projects/spring-cloud-stream for reference

[2019-10-23 14:37] kenfinnigan commented on #4803
I know @cescoffier has done some thinking on this, so not sure what the latest is.

But I believe the idea is we'd use reactive types that can be mapped to WebFlux, but not directly use WebFlux

[2019-10-23 14:39] ebullient commented on #4803
That's a possibility, sure. Point is, from an application developer's POV, they should be able to follow Spring docs & guides for writing WebFlux / Spring 5 Reactive applications, and it should work (within confines of what is possible with Quarkus re: dynamic behavior @ runtime)

[2019-10-23 14:49] rafaelkloss commented on #4377
Hi @dreab8 i'm trying to do this right now

[2019-10-23 14:53] ebullient commented on #4114
I think we can get some help with thinking about this. Re: conditional beans, we'd need some choices made at compile time that can help constrain evaluation of conditionals at runtime (and possibly provide some help for Spring devs to flag behaviors that won't be possible at runtime when built this way).

[2019-10-23 14:54] idrissneumann opened #4804 "More flexible templating with your restful interface contract than with jax-rs"
**Description**
Is it possible to have a better way to design more flexible resftful client with templating like [OpenFeign/feign](https://github.com/OpenFeign) allow us to do?

Here is an example of interface contract with feign:

[code]

With Jax-Rs, I'll have to pass as argument value the complete header value wich looks like `Bearer <token value>`. Whereas with this solution, I can avoid to ma

[2019-10-23 15:10] t-shaguy commented on #4510
Same here!

[2019-10-23 15:12] gsmet commented on #3314
@mcrose could you check that 0.26.1 fixes your issue?

[2019-10-23 15:16] Sanne opened #4808 "Agroal to not log warnings for default configuration"
**Describe the bug**
The default in Quarkus for initial-size is 0; when setting any min-size, this will produce a scary warning about

    "Initial size not whithin min / max bounds"

(warning is new since #4754 )

We should either:

- automatically set the initial-size to match the min size (when it's omitted from configuration)
- de-emphasize the warning to info level
- ?

[2019-10-23 15:35] loicmathieu opened #4809 "Multiple Improvements/addons to Hibernate with Panache"
Here are the list of multiple improvements/addons to the Hibernate ORM with Panache extension.

You can find the code here (WIP) https://github.com/quarkusio/quarkus/compare/master...loicmathieu:feat/panache-improvements

### 1. Optional Support: :heavy_check_mark:
Issues: https://github.com/quarkusio/quarkus/issues/3967 and  https://github.com/quarkusio/quarkus/issues/1368
Proposed implementation

[2019-10-23 15:52] loicmathieu opened #4812 "Hibernate ORM with Panache not shown as installed features"
**Describe the bug**
When using Hibernate ORM with Panache extension, the Installed features list displayed on the log didn't show `hibernate_orm-panache`.

**Expected behavior**
`hibernate_orm-panache` extension is shown in the extension list

**To Reproduce**
Steps to reproduce the behavior:
1. Start an apps with Hibernate ORM with Panache

**Environment (please complete the following informatio

[2019-10-23 15:54] gsmet commented on #4782
Let's close this one. I wouldn't hold my breath on the JDK bug being fixed in all supported versions so I'm pretty sure we will keep the workaround for a while.

[2019-10-23 15:54] #4782 closed

[2019-10-23 16:02] geoand commented on #4797
Thanks for reporting.

There is no `Spock` integration currently in Quarkus which is why you are seeing the error.

[2019-10-23 16:47] mcrose commented on #3314
ok, I will try

[2019-10-23 17:25] rsvoboda commented on #3370
@alesj two more times and you will fix it on your own ;)

[2019-10-23 17:40] machi1990 commented on #4802
+1 I remember opening this issue https://github.com/quarkusio/quarkusio.github.io/issues/259 in the website repo.

[2019-10-23 17:43] machi1990 commented on #3598
@gsmet I can check it once we have a sample producer app.

[2019-10-23 18:10] Mefl opened #4815 "No hot reload on bad configuration wich block the quarkus startup and when http.port is overridden"
**Describe the bug**
If you configure a bad value that block the first application start, there is no way to have hot reload.

If you start on a good value, but after plug a bbad config, the hot reload is ok. A configuration change will trigger the hot reload as wanted.

**Expected behavior**
The hot reload is trigger if you change the configuration file, or a code change, even it never could be s

[2019-10-23 19:03] gsmet commented on #4815
Hum, this used to work IIRC. Adding the `regression` label.

[2019-10-23 19:20] mvniekerk commented on #4797
There doesn't seem to be integration on anything but Java src + Java tests.

As a POC I've written an interface in Kotlin, implementation in Kotlin and wrote a test in Java and injecting the interface. Fails at ARC level.

[2019-10-23 19:22] sberyozkin opened #4817 "Add User Managed Access authorization support"
**Description**
Please see https://kantarainitiative.org/confluence/display/uma/Home.

**Implementation ideas**
Keycloak already supports it, the only 'restriction' is that the adapter code needs to be generic for it to work with any IDPs implementing UMA.

[2019-10-23 19:25] geoand commented on #4797
I didn't dig into details but I wouldn't expect it to work OOTB

[2019-10-23 20:02] gsmet commented on #4762
@jorsol just wanted to thank you for reporting the issue right away. We released 0.26.1 right away thanks to that.

[2019-10-23 20:30] sberyozkin commented on #4796
@gsmet @emmanuelbernard hi, I'm not sure I'll have time to improve beyond what Guillaume already did in time for 0.27.0, traveling back home tomorrow, these modules are new to me, so will need to catch up and I need to try to resolve a couple of  OIDC issues before 0.27.0 :-). If what Guillaume already did can provide an intermediate input then may be we can get it fixed in the next version which

[2019-10-23 21:01] rafaelkloss commented on #4377
Hi @dreab8  i have good news, take a look on this repository https://github.com/rafaelkloss/quarkus-many-to-one-error
I "destructed" my own project and keep the architecture for reproduce.

[2019-10-23 21:09] rafaelkloss commented on #4377
When you debug, make a breakpoint on ErrorHereServiceImpl line 30

[2019-10-23 22:25] Sparow199 opened #4820 "Move from Java EE to Jakarta EE dependencies"

[2019-10-24 00:07] kenfinnigan commented on #4820
It's on the radar, but not likely something that will happen for 1.0

[2019-10-24 01:26] saturnism commented on #4782
awesome! looking forward to the 0.27 release.

[2019-10-24 05:56] jaikiran commented on #4815
I gave this a try with both 0.25.0 and latest upstream master. It works fine on both these versions.

What I did was included an incorrect JDBC URL in application.properties:
[code]
(notice the datasource.url has an incorrect value `jdbc2:...`)
and in my REST endpoint code, just created a connection:

[code]

The first time I accessed this endpoint, in dev mode:
[code]
I did see the exception in t

[2019-10-24 06:04] ia3andy opened #4822 "Using tooling, platform descriptor should only be downloaded when targeting a different version"
**Describe the bug**
When using maven plugin to create a project it downloads the descriptor even if it's the current used version in the plugin:
[code]

**Expected behavior**
Download only if the version is different and maybe have a cache?

**Actual behavior**
Download every time

[2019-10-24 06:13] jaikiran commented on #4815
FWIW - I even mode that connection logic into a `StartupEvent` handler so as to fail the application startup itself. Even then the hot deployment changes were detected _as soon as_ I accessed some endpoint of the application.

[2019-10-24 06:13] ia3andy opened #4823 "Gradle doesn't work if using JDK 11"
**Describe the bug**

When calling `./gradlew build` having `JDK11`, you get that:
[code]

We fixed it using (but it needs further tests with Kotlin and Scala):
[code]

[2019-10-24 07:03] sberyozkin commented on #4796
I'll ping Guillaume a bit later, may be few obvious improvements can indeed be done quickly, I'm not just entirely sure about the scope. Stuart recommends adding TOC :-)

[2019-10-24 07:13] sberyozkin commented on #4448
Hi Pedro @pedroigor I'll be happy to work with you on this one in the next week or so. If you'll have time then I'll be helping alongside, otherwise I can probably fix it.

The question I have is, now that we have a `realm` value appended to the IDP URL, do we need to parameterize that value ? Or, with the multi tenant deployments, it is still the same realm, only different client properties withi

[2019-10-24 07:17] sberyozkin commented on #4660
@tassadar81 sure, please see #4480

[2019-10-24 07:21] sberyozkin commented on #4619
Hi @loicmathieu - if you have a bit of time then yes, please do it.

[2019-10-24 07:22] mazegreg opened #4824 "Cannot use runtime quarkus.security.users.file.* config"
**Describe the bug**
I have successfully setup quarkus.security.users.file.* (enabled, users, roles, realm-name) config but the only place where I can have it to work is inside the application.properties file. I think this whould be overridable at startup using java -Dquarkus.security...... options.

**Expected behavior**
These configuration properties are marked as "Configuration property fixed a

[2019-10-24 07:55] mazegreg commented on #4824
@sberyozkin and  @geoand might have an opinion regarding this?

[2019-10-24 08:02] FroMage commented on #4347
Looking at it for prototyping.

[2019-10-24 08:02] geoand commented on #4824
@sberyozkin is the expert here :)

[2019-10-24 08:13] #4604 closed

[2019-10-24 08:26] mkouba opened #4825 "VertxHttpRecorder - Router event is fired twice"
https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L164-L174

[2019-10-24 08:29] Mefl commented on #4815
Oh, where is maybe a more subtle thing : the jdbc url I use to reproduce is a good url but without database at the end (connexion refused because of a bad port for example).

At first startup I have theses logs :
[code]

[2019-10-24 08:43] blsouthr opened #4826 "@RequestScoped doesn't work with fault tolerance @Retry"
I have two request scoped beans. One is holding request data and another is using that data in error case to include it in error response. this however doesn't work if I add Retry annotation.
See attached project with tests. Quarkus 0.26.1

[getting-started.zip](https://github.com/quarkusio/quarkus/files/3766523/getting-started.zip)
1. Start project.
2. do curl http://localhost:8080/hello/error?da

[2019-10-24 08:57] jorsol commented on #4762
Thank you for a really fast bugfix. :smile:

[2019-10-24 09:09] geoand commented on #3343
@dufoli I am personally super short on time right now so I can't promise I'll do a review soon. Sorry...

[2019-10-24 09:44] loicmathieu commented on #3343
@dufoli I will make a review, I hope today. But maybe a second reviewer will be needed ...

[2019-10-24 09:46] gsmet commented on #4125
@FroMage I'm reopening this one, let's close it once we have upgraded RESTEasy.

[2019-10-24 09:50] stuartwdouglas commented on #4824
We should allow these to be externalised from the application, at the moment it only loads from the ClassLoader. It should be changed to allow them to load from the file system as well, and make this modifiable at runtime time.

[2019-10-24 09:52] loicmathieu commented on #4619
@dwalluck with #4828 you will be able to disabled OIDC on test profile like this:

[code]

You can test it by installing the branch (or master when merged) locally.

Is it OK for you? If yes I will close the issue when the PR will be merged.

[2019-10-24 10:06] rsvoboda commented on #3617
Can be this issue closed ? PR was merged 13 days ago.

[2019-10-24 10:07] mkouba commented on #4826
Hello @blsouthr, the `GreetingResource.helloError(String)` method is executed on a different thread with a new request context. In other words, the original request context is not propagated. I'm not sure whether the MP FT spec defines this behavior though - @Ladicek WDYT?

[2019-10-24 10:09] rsvoboda opened #4830 "infinispan-embedded - fail to build native image"
integration-tests/infinispan-embedded fails to build native image

[code]

[code]

[2019-10-24 10:09] asoldano commented on #4125
@FroMage , I'm targetting end of October for the 4.4.0.Final release

[2019-10-24 10:14] lordofthejars opened #4831 "HealthChecks and CDI Produces"
**Description**

Hi I have developed a Health Check using CDI so the code looks like:

[code]
I have read in this document https://github.com/eclipse/microprofile-health/blob/51c0421ee9ab68742126e98d52ff20542273d2fe/spec/src/main/asciidoc/java-api.adoc that  you can define health checks using CDI producers.

I don't know exactly if this is mandatory or not regarding the MicroProfile Health Checks

[2019-10-24 10:16] iabughosh commented on #3312
Unfortunately, the main problem - which is disabling the cors still not working fine. I will try these configuration and report back.

[2019-10-24 10:21] blsouthr commented on #4826
@mkouba yes, I know. But I think it is a bug. It's working in thorntail btw

[2019-10-24 10:52] Ladicek commented on #4826
@mkouba If the `GreetingResource.helloError(String)` method is executed on a different thread, then there's something terribly wrong. There's no `@Asynchronous` and there's no `@Timeout`, so it must be on the same thread, unless I'm missing something.

[2019-10-24 10:58] mkouba commented on #4826
I'm not sure what the current impl does but I do think that originally (ie. first versions of SmallRye FT) the retry logic was performed within a Hystrix command that was executed on a different thread...

[2019-10-24 11:06] Ladicek commented on #4826
I think I had to rewrite how retry is handled because it didn't work properly in async scenarios. (Basically I think we handle retries manually in SmallRye FT, instead of relying on Hystrix.)

[2019-10-24 11:08] mkouba commented on #4826
Ok, would you care to take this issue @Ladicek?

[2019-10-24 11:22] iabughosh commented on #3312
Just Tried @Ladicek and it is working fine (which is great :) ); however, it is not working if I disabled CORS. I will close this bug as the main issue is resolved for me.

[2019-10-24 11:22] #3312 closed

[2019-10-24 11:22] sberyozkin commented on #4664
I have the PR coming with the following:
[code]

[2019-10-24 11:23] gwenneg commented on #3617
I'm not sure this issue is entirely covered by the PR:

[2019-10-24 11:28] emmanuelbernard commented on #4664
@sberyozkin you could provide a quick URL example for Keycloak but not a biggie

[2019-10-24 11:30] Ladicek commented on #4826
So, funny thing is: the retried attempts are invoked on the request-handling thread. But the exception mapper is invoked on a different thread!

[2019-10-24 11:33] Ladicek commented on #4826
If I change the retry delay from 500 millis to 5 millis, the exception mapper is invoked on the original request-handling thread, but I'm still getting an empty response. I don't think this is a SmallRye FT problem.

[2019-10-24 11:34] dcdh opened #4834 "Tests are hanging when using a Kafka consumer and the mailer."
**Describe the bug**
Tests are hanging when using a Kafka consumer and the mailer.
The simple POC provide a simple kafka consumer and just a dependency to `quarkus-mailer` to describe this bug.

**Expected behavior**
At the end of the test we should see this message:

`2019-10-24 13:15:54,718 INFO  [io.sma.rea.mes.ext.MediatorManager] (main) Cancel subscriptions`

Next junit should stop and displa

[2019-10-24 11:35] mkouba commented on #4787
For the record - I've just read the spec again and I'm not quite sure an `@ApplicationPath.value()` not starting with a slash must be supported (looks undefined). On the other hand, I believe we should support it to improve the usability. The other option would be to fail the build which seems a bit useless to me...

[2019-10-24 11:37] mcrose commented on #3314
solved with 0.26.1 release

[2019-10-24 11:37] #3314 closed

[2019-10-24 11:41] mkouba opened #4835 "Prepend a slash to a io.quarkus.vertx.web.Route.path if not present"
A `Route` path must start with a `/`. So if a user declares `@Route(path = "hello")` Quarkus fails during RUNTIME_INIT. I think we should prepend the slash automatically if not present. For the record - JAX-RS `@Path` can have both values, ie. `@Path("hello")` and `@Path("/hello")`.

[2019-10-24 11:44] rsvoboda commented on #3617
Just asking to avoid leftovers

[2019-10-24 11:57] rsvoboda opened #4836 "vault-app tests fail to build native image"
integration-tests/vault-app fails to build native image

[code]
[code]

[2019-10-24 11:57] Ladicek commented on #4826
I just tried adding `quarkus-undertow` to switch RESTEasy to Servlet, but no, that doesn't help.

[2019-10-24 11:58] Sanne commented on #3314
Great! many thanks @mcrose

[2019-10-24 12:04] FroMage commented on #4125
OK, thanks.

[2019-10-24 12:09] qrman commented on #4835
Hi, can I take this issue?

[2019-10-24 12:21] gsmet commented on #4787
I agree, let's be user friendly on this one. Especially since `@Path` supports not having a `/`.

[2019-10-24 12:32] luszczynski commented on #3312
As I said, the only way to make it work on any domain is using only one single CORS property:
[code]
If I disable it, the problem still persists. I'm using Quarkus 0.25.0.
IMHO quarkus.http.cors.origins=* should also work, but for now, it isn't.

[2019-10-24 12:33] cmoulliard commented on #3436
@geoand @gytis What do you think about Erin proposition ? Who should be contacted ?

[2019-10-24 12:34] geoand commented on #4823
@ia3andy IIRC you had a PR for this?

[2019-10-24 12:37] Ladicek commented on #3312
Currently, you can achieve "all origins" by simply omitting `quarkus.http.cors.origins` altogether. I wonder what should be the difference between "no `quarkus.http.cors.origins` at all" and "`quarkus.http.cors.origins=*`".

[2019-10-24 12:37] geoand commented on #3436
I think that @n1hility and @jclingan also need to weigh in on this.

Of course it would be idea if the breaking up of Spring jars into API and implementation didn't have to be maintaned by us but was something that occured upsteam.
How that could happen is something beyong my knowledge.

[2019-10-24 12:41] sberyozkin commented on #4664
@emmanuelbernard good idea, as the KC URL has a specific structure, so now it will read:
[code]

[2019-10-24 12:42] gsmet commented on #4823
So the default build also builds the native image?

[2019-10-24 12:44] #4699 closed

[2019-10-24 12:49] sberyozkin commented on #4824
@geoand Hey Georgios, the noisy person (myself) is here :-). Let me just add +1 to what Stuart said :-). I propose we try to fix it for the next version following 0.27.0
By the way, @mazegreg, I'd also encourage you to look at the Vault extension.

[2019-10-24 12:51] sberyozkin commented on #4824
@slymnshn @mazegreg Please watch https://github.com/quarkusio/quarkus/issues/4448 (re the multitenancy)

[2019-10-24 12:51] FroMage commented on #4347
Well, I stopped looking at it, but I do have a branch with the start of this. I hit the issue that it appears that the credentials are being looked up outside of a scope in which ArC can deliver an `EntityManager` (so probably outside the request scope), which I'm not sure how to fix. I can probably get an `EntityManagerFactory` and create one, but it's probably not right performance-wise?

[2019-10-24 12:53] geoand commented on #4823
Yes. It's documented in the guide how to exclude the native stuff.
It was done this way since it's more idiomatic to Gradle but we can change if people think this isn't what we should be doing.

[2019-10-24 12:56] mkouba commented on #4835
@qrman Of course, go ahaead! ;-)

[2019-10-24 12:57] sberyozkin commented on #4619
@loicmathieu thanks Loic :-)
One more thing that may be we can add is a single delayed retry, say, after 10 sec, if the initial attempt to connect to IDP fails, which will probably help @UnvirtualHH as it appears the use case there is that in some test environment the tests starts before the docker KC instance is up. @UnvirtualHH can you please confirm ?

[2019-10-24 12:58] rsvoboda opened #4838 "HttpAuthenticationMechanism.ChallengeSender.apply - return true instead of null"
HttpAuthenticationMechanism.ChallengeSender.apply should probably return `true` instead of `null`

Issue for the discussion https://github.com/quarkusio/quarkus/commit/8f39da48551c27b6e3debc7b5683a704c74f8957#r35642382

[2019-10-24 13:00] ia3andy commented on #4823
@geoand I won't have time to fix that today, we absolutely need it for next release. @gsmet when is the next?

[2019-10-24 13:01] pedroigor commented on #4480
@sberyozkin I've talked with Stian about the missing configuration bits and we agreed about these points:

* The client type values that we'll use to decide whether or the application supports bearer or code  are: `client` and `resource-server`. Where `client` means a client acting on behalf of the user and interacting with a resource server (as per spec definition). The `resource-server` type mea

[2019-10-24 13:08] Sanne commented on #4617
And update boot times?

[2019-10-24 13:14] michalszynkiewicz commented on #4838
thanks @rsvoboda !

[2019-10-24 13:21] sberyozkin commented on #4480
@pedroigor, and @stianst Thanks for the update.
So if it is a 'client' then it is the code flow ? And `resource-server` - the bearer token receiver ?
I'd only say that the 'client' may choose to forward the access token but may not be interested, all it wants is to interact with the user, it just happens the code flow will return the id and access tokens.

I'm not sure these particular qualifiers

[2019-10-24 13:24] UnvirtualHH commented on #4619
Well, better would be a configurable delay, maybe 10 seconds as default value, but overwritable by a config param, so that I may can set it up to 30sec or more, so that it fits to my needs.

[2019-10-24 13:25] sberyozkin commented on #4480
@pedroigor I did a [quick code](https://github.com/sberyozkin/quarkus/commit/61ffed5d2358a58f3478dad3c535953cf0953776) a couple of weeks back. But it is not relevant now I guess.

[2019-10-24 13:42] sberyozkin commented on #4836
@vsevel Hi Vincent - can you please check when you get few secs ?

[2019-10-24 13:47] dwalluck commented on #4619
@loicmathieu Thanks! One reason I was trying to disable the quarkus-oidc extension is that I don't think the `quarkus.security.users.*` properties will work if it's left enabled.

This is a separate issue, but I don't think it is clear what security provider will get used if `quarkus.oidc.enabled=true` and `quarkus.security.users.embedded.enabled=true` (or `quarkus.security.users.file.enabled=true

[2019-10-24 13:48] sberyozkin commented on #4619
@UnvirtualHH OK, I guess a property like `connection-retry-interval` would do, but we'll just have a single retry...thanks

[2019-10-24 13:51] Sanne opened #4839 "Dependency sanity checker based on blacklists"
**Description**
During design meetings we have repeatedly hit the question of "but what if the dependency tree pulls in X and we have a conflict with Y?"

Examples:
 - pulling in the Jakarta EE API when we already have the old one around as well (or vice-versa)
 - pulling in some upstream Spring API when there's a similar one already
 - any other such competing distributions which have a different

[2019-10-24 13:57] Sanne commented on #4839
@n1hility recommends to not go beyond a warning.

@aloubyansky this one trivial for you? Or please point out where to change we can find a different volunteer.

[2019-10-24 14:05] loicmathieu commented on #4619
@dwalluck normally if you have multiple security providers enabled at the same time it should crash (at build time). As the security layer has been refactored a lot recently it may not still be the case.

With my changes already merged, you can disabled each extension so it fixes your issue but not the one from @UnvirtualHH unfortunatly ...

Regarding the issue @UnvirtualHH have, I'm not fan of a

[2019-10-24 14:13] gsmet commented on #4836
Hmm, this is very weird `com.oracle.svm.core.util.UserError$UserException: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved method during parsing: io.quarkus.runtime.Timing.printStartupTime(java.lang.String, java.lang.String, java.lang.String, boolean)`

[2019-10-24 14:15] gsmet commented on #4839
Basically, we want to provide a list of `groupId:artifactId` for which we want to raise a warning.

Ideally, we would provide a map with `banned groupId -> recommended groupId`.

The map can be hardcoded somewhere, no need for a configuration file IMHO.

[2019-10-24 14:19] mkouba commented on #4826
So it seems that the contexts are broken by `smallrye-context-propagation-propagators-rxjava1` which automatically registers some [context propagators](https://github.com/smallrye/smallrye-context-propagation/tree/master/propagators-rxjava1/src/main/java/io/smallrye/context/propagators/rxjava1) for rxjava1 and Hystrix is using rxjava1 under the hood. I've also noticed that due to this propagation

[2019-10-24 14:20] dwalluck commented on #4619
@loicmathieu Currently, there seems to be no indication that it (`quarkus.security.users.*`) is not being used. You will just realize when authentication doesn't work.

My issue was similar to @UnvirtualHH: when I tried to have a blank `%test.quarkus.oidc.auth-server=` property value, I believe I got the same exception. I wonder if an empty URL couldn't imply the same as `enabled=false`.

I think

[2019-10-24 14:21] mkouba commented on #4826
@kenfinnigan @FroMage Why do we have `smallrye-context-propagation` dependencies in the `quarkus-smallrye-fault-tolerance` extension? It does not seem to be necessary.

[2019-10-24 14:21] manovotn commented on #4826
The PR that added it traces back to https://github.com/quarkusio/quarkus/issues/1537

[2019-10-24 14:28] kenfinnigan commented on #4826
Thoughts @michalszynkiewicz?

[2019-10-24 14:28] gengraphael opened #4841 "Why? -> native-image failed with 0.26.1 and graalvm windows graalvm-ce-windows-amd64-19.2.1"
**Describe the bug**
Quarkus application with 0.26.1 can be build native inside of linux docker but not for windows on windows 10

Can you see where the problem is?

**Actual behavior**
Build failed with error...
[code]

**pom**
[code]

**Environment (please complete the following information):**
 - Output of `java -version`: `openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_23

[2019-10-24 14:29] stianst commented on #4480
I'm not 100% convinced about client and resource-server either, but struggling to come up with good names. What about app and service? Or frontend and backend?

[2019-10-24 14:29] FroMage commented on #4826
We can disable context propagation, but it will mean nothing works once FT kicks in, because your endpoint code will lose all contexts: CDI, RESTEasy, Transaction, Servlet. This is what #1537 fixed. It was quite a biggie.

[2019-10-24 14:31] FroMage commented on #4826
Frankly I don't know how you can use FT without CP, it's a bit like trying to run EE code on random threads: it won't work.

[2019-10-24 14:32] geoand opened #4842 "Improve the way runtime configuration is injected into CDI producers"
**Description**
Currently the way injection of Runtime Configuration into CDI producers works by utilizing a Quarkus Recorder (that "records" the configuration object) and sets a field of the producer class (see for example: [AbstractDataSourceProducer](https://github.com/quarkusio/quarkus/blob/master/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/AbstractDataSourceProducer.java

[2019-10-24 14:33] loicmathieu commented on #4619
@dwalluck it's more complicated than this because the extension hook into vertx/undertow to add security intereceptors, interceptors are not the same for all extension, and this is done at build time.

So you need to use the `enabled` property.

[2019-10-24 14:34] mkouba commented on #4842
Could you add some pseudocode example? I'm not sure I'm following you...

CC @manovotn

[2019-10-24 14:38] FroMage commented on #4826
The problem is that once you add context propagation for RxJava1 it will work for all RxJava1 usages, even those that are internal to Hystrix. But we can't really tell from CP whether we should or not do context propagation, we can't tell if this is user code or Hystrix internal code.

Perhaps we could add an API to enable/disable CP that FT would call at some points (we want CP for the endpoint c

[2019-10-24 14:40] FroMage commented on #4826
We can also make FT explicitely use the CP API to capture/restore contexts when it invokes the endpoints, instead of depending on RxJava1.

But to get back to the point, all this doesn't really explain why you get an issue: the contexts should be propagated. Even in exception handlers. If your issue is that the context is not propagated in an exception handler of RxJava1, it means you don't get _e

[2019-10-24 14:40] stianst commented on #4480
Setting code flow properties is really something that has to be supported in a programmatic way. Scope, prompt, max_age, and IdP specific things are most often set dynamically at runtime and not statically in a config file.

[2019-10-24 14:42] jaikiran commented on #4836
Hello @rsvoboda, is this against upstream master? The same command works fine for me locally. Plus, this output in your log seems odd:
[code]
Not sure how/why `0.23.0` of Quarkus Maven plugin in coming in here. It should be:
[code]

[2019-10-24 14:43] geoand commented on #4842
He goes:

Let's say that in the runtime module you have:

[code]

Then in the build-time module an implementation would be generated simply extends `AbstractMyProducer` and simply generated an implementation for `getRuntimeConfiguration`.

Does that make sense if you compare it say to the links I have added in the description?

[2019-10-24 14:45] stianst commented on #4480
For names of app types the general idea is that someone can secure their apps without knowing all that much about oidc. Names like client, relaying party and resource server are a bit confusing imo. Perhaps we should ask some non-security guys?

[2019-10-24 14:50] mkouba commented on #4842
I'm sorry I missed the links ;-). Hm, I don't see a problem here - you could set the configuration on a bean in a RUNTIME_INIT build step (lazy/eager init should not matter here). In other words, the `AgroalRuntimeConfig` should contain the values...

[2019-10-24 14:51] paulrobinson commented on #4617
@Sanne added the boot times item.

[2019-10-24 14:52] jaikiran commented on #4836
[code]
Okay, so looks like something changed in plugin dependency resolution in this version. I was on `3.6.1` and things were building fine with the above command. I decided to try this `3.6.2` based on your report and it indeed fails with similar errors. It infact uses `0.23.2` of quarkus-maven-plugin:
[code]
To be fair, it does log a big warning message before it continues with the build. The W

[2019-10-24 14:53] mkouba commented on #4842
Well, actually I'm not sure whether `BytecodeRecorderImpl` supports serialization of a RuntimeConfig...

[2019-10-24 14:57] pedroigor commented on #4480
Yeah, that could help. Whatever the person says we use :)

[2019-10-24 15:00] geoand commented on #4842
Now I am the one that doesn't follow :laughing:

[2019-10-24 15:12] FroMage commented on #4826
Yeah. It _is_ called a lot, and it's annoying, I agree. But I don't know how to make it better.

[2019-10-24 15:12] jaikiran commented on #4836
I've issued https://github.com/quarkusio/quarkus/pull/4843 to fix this.

[2019-10-24 15:17] emmanuelbernard commented on #4617
@johnaohara is mr boot time

[2019-10-24 15:20] FroMage commented on #4826
So, let me give some opinion of what might happen. I don't have the first idea of how FT works.

But, IF it works by twisting the REST endpoint return type from things like `Response` into a reactive type such as `CompletionStage<Response>` to accomplish its task, THEN the RESTEasy runtime is going to call `cs.toCompletableFuture().getNow()` which will try to see if the value is already resolved o

[2019-10-24 15:20] aloubyansky commented on #4839
I would do it here https://github.com/quarkusio/quarkus/blob/master/core/creator/src/main/java/io/quarkus/creator/curator/Curator.java#L157
The list of artifacts could theoretically be added to CuratedApplicationCreator (in the maven and gradle plugins).

[2019-10-24 15:35] stianst commented on #4480
Find some random person in the supermarket and ask them

On Thu, 24 Oct 2019, 16:57 Pedro Igor, <notifications@github.com> wrote:

[2019-10-24 15:36] vsevel commented on #4836
@jaikiran hello,
I did miss that big warning. It was on the first `quarkus-maven-plugin` (with the build goal), but not on the second one (for the native). and it just worked.
interestingly, I copied the vault-app module from the [jpa-postgresql](https://github.com/quarkusio/quarkus/blob/master/integration-tests/jpa-postgresql/pom.xml#L63) integration test, which happens to have no version on any

[2019-10-24 15:44] Sanne commented on #4644
This was actually not related to #3261 I think, we'll investigate it separately.  CC @FroMage could you have a look?

[2019-10-24 16:09] geoand commented on #4823
I agree we need it ASAP. @ia3andy if you won't be able to get to this tomorrow, let me know and I'll take care of it.

[2019-10-24 16:17] jaikiran commented on #4836
Hello @vsevel,

You are right, many of them were missing this version. Maven highly recommends pinning them to a specific version, for avoiding issues like these. So I've updated that PR to include these too.

That section is actually under the "build" which seems to be applicable only for the default profiles and that's correctly working for the default profiles of these child projects. However,

[2019-10-24 16:22] ia3andy commented on #4823
@geoand  I think I'll be able to make it tomoz. In case I don't, I'll ping u ;-) thanks mate!

[2019-10-24 16:22] geoand commented on #4823
Cool!

[2019-10-24 19:24] vsevel opened #4846 "Quarkus Vault Authentication Guide"
**Description**
Provide a guide showing how to deploy hashicorp vault and a client quarkus application in kubernetes, demonstrating the [vault kubernetes auth method](https://www.vaultproject.io/docs/auth/kubernetes.html).

**Implementation ideas**
see the [vault quarkus kubernetes tutorial](https://github.com/vsevel/vaultapp)

For a more comprehensive guide, all vault authentication methods curre

[2019-10-24 19:36] #4706 closed

[2019-10-24 19:37] vsevel opened #4847 "Quarkus Vault Dynamic DB Credentials Guide"
**Description**
Provide a quarkus guide showing how to configure vault and quarkus to use [dynamic db credentials](https://www.vaultproject.io/docs/secrets/databases/index.html) in agroal.

**Implementation ideas**
this will be inspired from the integration tests, in particular
 - the [vault init](https://github.com/quarkusio/quarkus/blob/master/test-framework/vault/src/main/java/io/quarkus/vault/

[2019-10-24 19:44] gsmet commented on #4836
Good catch @rsvoboda !

[2019-10-24 19:44] #4836 closed

[2019-10-24 19:47] geoand commented on #4767
So the plot thickens around this... The boostrap work that reads the user dependencies reads the correct version of commons-lang3!
However it seems like the wrong version is loaded from one of the Gradle classloaders...

[2019-10-24 20:06] vsevel opened #4848 "Ability to use config objects within config sources"
**Description**
Advanced config sources (such as [vault](https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSource.java) or [zookeeper](https://github.com/smallrye/smallrye-config/blob/master/sources/zookeeper/src/main/java/io/smallrye/configsource/ZooKeeperConfigSource.java)) are likely to be configured themselves. It

[2019-10-24 20:52] maxandersen opened #4849 "cleanup quarkus-extension and extensions.json formats"
As described in #4539 we have a lot of different formats at play in our extension manifest. This bug is to capture the cleanup specifally on quarkus-extension.json that is the key file to "define" an extension.

- [x] json vs yaml - general agreement is that its better we have yaml than json in the manifest. The actual aggregated file will still be json as intended read by frontends if need be.
-

[2019-10-24 21:05] michalszynkiewicz commented on #4826
@kenfinnigan thanks for CCing me.
Unfortunately I don't know enough about the way Hystrix does things to have an answer.

Re directly using CP, is it possible to disable the automatic context propagation for hystrix in such case? If not, wouldn't it be a problem anyway if a user added something else that would bring CP-rxjava1 to his project?

[2019-10-24 23:27] stuartwdouglas commented on #4347
We need to create the request scope earlier then I guess. I was trying to avoid this as there is some complexity in dealing with this if the thread is propagated between different threads.

Creating an EntityManager is also a solution (and should not really be a perf issue, they are supposed to be fairly cheap), but it means that if we are going to stick the user entity into the SecurityIdentity t

[2019-10-24 23:28] #4838 closed

[2019-10-24 23:29] #4825 closed

[2019-10-24 23:41] #4495 closed

[2019-10-24 23:50] #4835 closed

[2019-10-25 02:01] kenfinnigan commented on #4338
This is being done as part of #4520

[2019-10-25 04:59] cristianonicolai opened #4852 "Vert.X route handler not completing/resuming when handling requests"
**Describe the bug**
Apparently router handlers are being paused in https://github.com/quarkusio/quarkus/blob/0.26/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/VertxHttpRecorder.java#L82, affecting some of the app-specific handlers to not resume once a request is executed.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior

[2019-10-25 06:02] UnvirtualHH commented on #4619
Well, I was just a meaning a configurable parameter after which time in seconds one retry should occur. So e.g. if I know that after 30 seconds all other containers are up, I will configure it with this one...if I know that it takes 180seconds, I will configure my retry to that value.

[2019-10-25 06:06] manovotn commented on #4842
The recorder uses `Arc.container().instance(AbstractDataSourceProducer.class).get()` which means it either creates the bean if it didn't exist yet, or it retrieves one from bean store (I am assuming we are talking singleton/app scoped bean here).

If it is the former, then you shouldn't have issues, you are the first one to touch the bean and you immediately provide config.
If it is the latter, so

[2019-10-25 06:11] cristianonicolai commented on #4852
@stuartwdouglas fyi

[2019-10-25 06:25] kunieda-o opened #4854 "quarkusBuild doen't work well since 0.26.0"
**Describe the bug**
Fail when `./gradlew quarkusBuild`

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Runnable jar created

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
Fail and error reason is not in detail.

**To Reproduce**
Steps to reproduce the behavior:
1. download from https://github.com/quarkusio/quarkus-quickstarts.git
2. git c

[2019-10-25 06:27] geoand commented on #4842
@manovotn I am assuming that things currently work because of the former scenario you describe.

However, if the producer where to eagerly produce a bean because some other bean needed to inject it, then wouldn't the fact that the runtime configuration is injected into the producer after it's created be sort of a race condition? I think that is what people have been experiencing.
So what I am prop

[2019-10-25 06:40] geoand commented on #4854
Gradle support has been removed from the `getting-started` quickstart.

To generate a gradle project use something like:

[code]

The task works just fine in that project.

[2019-10-25 06:40] #4854 closed

[2019-10-25 06:42] geoand commented on #4848
I remember we had some preliminary discussions around this in the context of supporting a Kubernetes ConfigMap config source.

[2019-10-25 06:44] geoand commented on #4841
@dmlloyd Are GraalVM native images even expected to work on Windows?

[2019-10-25 06:48] stuartwdouglas commented on #4852
We need to wrap the router to have it automatically resume on these routes, @cescoffier we talked about this in Vienna

[2019-10-25 07:33] mkouba commented on #4842
So the bean that needs some kind of initialization should react appropriately and the client bean should not use it until it's fully initialized. If an extension needs to use bean A that needs some init there should be a **build item** that signals that bean A was initialized -> this would ensure the build step will be executed after A is fully initialized. WDYT?

I don't like this very much. It's

[2019-10-25 07:39] geoand commented on #4842
I think I understand what you mean, however I sense a mismatch here between the CDI world and the Quarkus world.
Ideally as an extension author all I want to do is be able to easily create a CDI producer bean that can utilize runtime configuration and then let Arc figure out the initialization order.

I agree that it's both harder to understand and debug. But if ask @Sanne I assume that he would s

[2019-10-25 08:01] mkouba commented on #4842
So I think you could use the `RuntimeBeanBuildItem` to achieve similar results, i.e. return the initialized bean instance supplier from the recorder.

[2019-10-25 08:04] geoand commented on #4842
I'll need to `RuntimeBeanBuildItem` out. I was not aware of it.

[2019-10-25 08:06] mkouba commented on #4842
Well, it's not documented because we don't feel it's stable/mature enough.

[2019-10-25 08:15] geoand commented on #4842
Understood, thanks. I'll play around with it when are past 1.0 and see if it fits the bill for what we want here.

[2019-10-25 08:48] FroMage commented on #4826
We could, but again, it would break any user code requiring contexts in RxJava. If we disable CP for Hystrix, we need to find a way to enable it for non-Hystrix usage, and we also need FT to add explicit support for FT so that user apps actually work.

[2019-10-25 09:22] loicmathieu opened #4857 "quarkus-smallrye-fault-tolerance extension should not have a hard dependency to quarkus-smallrye-metrics"
**Describe the bug**
When including the `quarkus-smallrye-fault-tolerance` extension, we automatically have the metrics extension as it have a hard dependency to it.

**Expected behavior**
Metrics should be included only if the `quarkus-smallrye-metrics` extension is added in the pom.xml

**Environment (please complete the following information):**
 - Quarkus version or git rev: 0.26 or master

**

[2019-10-25 09:24] rvansa opened #4858 "uberjar: second build fails"
**Describe the bug**
With uberjar enabled, the second time I run `mvn install` it fails with:
[code]

`mvn clean install` works as usual.

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: 5.2.17-200.fc30.x86_64 #1 SMP Mon Sep 23 13:42:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
 - Output of `java -version`: openjdk version "1.8.0_222"
 - GraalVM version

[2019-10-25 09:27] michalszynkiewicz commented on #4826
So there's no way to selectively disable/enable context propagation, right?
Not sure that would be a good thing, just asking to be sure.

[2019-10-25 09:50] paulrobinson commented on #4316
@maxandersen  We are now down to 10 extensions that still need review. When do you need the final list?

[2019-10-25 09:52] sberyozkin commented on #4480
@pedroigor @stianst thanks;

Re the names, I was thinking about the 'client' on the plane yesterday and I just could not sleep because of it :-).  I was going to suggest `authorization` and `web` but then I had doubts again.
Indeed, marking a web application as the 'client' if all what is required is to get the human users authenticating into it, can be confusing unless someone has read the OAuth2

[2019-10-25 09:53] loicmathieu commented on #4375
@jmartisk I comes up with a different design that yours, mainly inspired by what I did for extension health check, that allows to have an optional dependency to the metric extension so that if a user didn't include the extension in it's pom.xml it will not be included.

You can have a look at this branch, I implement a single metric for the agroal extension and if I only include agroal in my pom I

[2019-10-25 10:10] maxandersen commented on #4316
@paulrobinson yesterday ? :) realistically I wouldn't be ready to do the updates in metadata before monday/tuesday.

[2019-10-25 10:24] FroMage commented on #4644
OK, so, what happens is that the serialisation of `TestA` which has a `@OneToMany` collection of `TestB` causes a lazy-loading exception:

[code]

Now, this exception is quite normal, _except_ that the jackson-hibernate module has some code to deal with lazy collections by opening sessions prior to reading them. Now, I don't know if that code would work, because it appears that code can't even get

[2019-10-25 10:29] stianst commented on #4480
+1 to web-app and service

On Fri, 25 Oct 2019, 11:52 sberyozkin, <notifications@github.com> wrote:

[2019-10-25 11:11] loicmathieu commented on #4375
@jmartisk my approach is easier to use (and for the maintainer that already provides health check it is similar to again ... easier) but provides less functionalities.

I agree that providing metrics dynamically is a valid use case and it is a lack in my implementation.

What I'm not OK with your implementation is that your SPI depends on `microprofile-metrics-api`, so this class will be embedded

[2019-10-25 11:25] geoand commented on #4375
I haven't really followed the discussion so what I am about to say might not make sense: Why would having an spi depend on another spi be a problem? They are just build time dependencies to glue various Quarkus, are they not?

[2019-10-25 11:28] loicmathieu opened #4860 "Provides Jackson Java 8 modules with quarkus-jackson"
**Description**
Quarkus provides Jackson 2 capabilities via the `quarkus-jackson` extension.
Jackson 2 is Java 7 compatible and specific Java 8 data types needs to be registred via the following [Java 8 modules](https://github.com/FasterXML/jackson-modules-java8):

- com.fasterxml.jackson.datatype.jsr310.JavaTimeModule: for Java DatTime API
- com.fasterxml.jackson.datatype.jdk8.Jdk8Module: for Opt

[2019-10-25 11:33] jmartisk commented on #4375
It doesn't seem so, if the extension does not register any metric than no classes from `microprofile-metrics-api` are included in the resulting application, because everything from the API is dead code. I checked the resulting runner JAR and there is nothing related to metrics in it.
We could certainly get rid of this dependency too, but the usage would get quite ugly because the extension would n

[2019-10-25 11:39] loicmathieu commented on #4375
@jmartisk @geoand SPI can have dependencies, they will not be available at runtime. My bad :)

@jmartisk when you talk about dead code you talk about native image right ? Keep in mind that Quarkus is more used with Hotspot today than in SVM so we need to make sure that no extra dependencies are added when building a regular JAR application.

Still I don't like the complexity to use it for an exten

[2019-10-25 11:53] jmartisk commented on #4375
It's just an example, even though I agree it's not nice - surely the extension can have a config property to enable/disable metrics, like in your case.

Agreed, it is also useful for an extension to introduce a CDI bean with metric annotations. But I think we don't quite need a special `BuildItem` for that, isn't that just a matter of adding such bean to the application through an `AdditionalBeanB

[2019-10-25 11:56] dcdh commented on #4834
An exception is thrown and discarded in `io.vertx.core.impl.ContextImpl`

[code]

Method threw 'java.util.concurrent.RejectedExecutionException' exception with message `event executor terminated`

[2019-10-25 12:00] pedroigor commented on #4480
@stianst @sberyozkin Deal.

[2019-10-25 12:04] geoand commented on #4834
Yes, for reason it gets terminated before this runs. This is where we need @cescoffier 's expert knowledge to help out :)

[2019-10-25 12:10] dcdh commented on #4834
I found this interesting code in `io.netty.util.concurrent.SingleThreadEventExecutor`

[code]

The method `reject` (the one who throw the exception) is called because the test is stopping.

[2019-10-25 12:14] geoand commented on #4834
I think there is more to it than that. When the test is stopped a sequence of shutdown tasks are executed, on of which leads to KafkaConsumer being closed (if you go higher up the callstack you'll see that this is down to smallrye-reactive-messaging observing a shutdown event).
When the mailer is not there, the shutdown works just fine

[2019-10-25 12:24] Sanne commented on #4644
thanks for the thorough analysis @FroMage !

Agreed this is not something we can fix in short time, as it requires at least changes to Jackson, and possibly to Hibernate ORM as well - to support a questionable use case.

@cerias please do consider that attempting to load objects in this way implies that the state you retrieve is defined by reading from multiple, independent read transactions. That

[2019-10-25 12:38] dcdh commented on #4834
When it fails, the value of `state` is defined to `ST_TERMINATED` in `SingleThreadEventExecutor`. In this case the method `isShutdown` returns `true`.
I guess the mailer call the `cleanup();` method in `doStartThread` because it is only in the `finally` block that the `state` is defined to `ST_TERMINATED`.
However, hard to debug :(

[2019-10-25 12:39] loicmathieu commented on #4808
Just saw this warning yesterday and think it should not be there.

+1 to set it to min size if not set

[2019-10-25 12:39] jaikiran commented on #4858
FWIW - this appears to be a bug in Java itself. The `Files.newOutputStream` states that:

[code]
So this error shouldn't have happened with the code we have.

I gave this a quick test with Java 8 and it indeed fails with the exception. However, if I move to Java 11 (11.0.5 to be precise) the exception no longer happens and things work fine. So it looks like it got fixed in some recent version.

[2019-10-25 12:42] jaikiran commented on #4858
Agreed.

[2019-10-25 12:43] geoand commented on #4858
I'll open a PR later on today, haven't started working on it yet.

[2019-10-25 12:47] dmlloyd commented on #4841
I believe they can work if you have JNI enabled but I haven't tried it personally.

[2019-10-25 12:49] dmlloyd commented on #4262
It means that `SIGINT`/`SIGTERM` won't call shutdown hooks (the process will end abruptly) and you cannot get stack traces via `SIGQUIT`.

[2019-10-25 12:51] Sanne commented on #4808
hi @loicmathieu ! happy to debate this: I was actually inclined to rather change the WARN to INFO, as talking with others they actually appreciate the fact that first connection is deferred (by defaulting to zero s initial-size):

the reason is that when spinning up multiple containers, this allows to start the app containers "in parallel" with the DB containers. It's apparently very convenient.

[2019-10-25 13:00] #4787 closed

[2019-10-25 13:14] FroMage opened #4862 "Add annotation to ignore classes"
Some users (@alesj, for example) have a need to declare a class that should be ignored by the Quarkus extensions, even though they would otherwise be auto-detected and incorporated in the application.

In his example, he has an implementation of a JAX-RS interface that is only used internally and should not be exposed, but JAX-RS would automatically expose it.

CDI has `@Vetoed` to achieve the sam

[2019-10-25 13:14] jaikiran commented on #4767
It's probably is the same or similar to this issue https://github.com/quarkusio/quarkus/issues/3917#issuecomment-533882132. In that example, I can see that (at that time) `org.apache.commons:commons-lang3:3.5` was being pulled in. I guess, if you run that command referenced in that comment against this reproducible app, you will probably see something similar.

[2019-10-25 13:15] loicmathieu commented on #4808
Hum I always feels uncomfortable to have a min that is not realy a min ... But I understand the rational behind it.

I always think that the order of startup is up to an orchestrator, and not everybody uses BD in containers.

If it was always the case (but the warning is new), maybe change to an INFO that explain that it's OK to have it like

[code]

Maybe also setting it to more than max should b

[2019-10-25 13:16] geoand commented on #4767
Yeah, I have prototyped a (far from ideal) fix for this and will open a PR over the weekend.

[2019-10-25 13:18] geoand commented on #3917
As @jaikiran mentioned, this is very similar to #4767. I will most likely open a PR that should address this over the next couple days.

[2019-10-25 13:20] #3878 closed

[2019-10-25 13:21] FroMage commented on #4517
That test has just been unexcluded due to #4662 being merged. I'll double check that the new IT is run by our CI.

[2019-10-25 13:27] FroMage commented on #4517
It appears it will be run, just not natively

[2019-10-25 13:35] rafaelkloss commented on #4377
I did a fast class diagram to demonstrate my model
![Screen Shot 2019-10-25 at 10 34 27 AM](https://user-images.githubusercontent.com/6857475/67575552-30ff7c80-f713-11e9-892c-35e7707e3f31.png)

[2019-10-25 13:41] Sanne commented on #4808
good point, I like your message proposal better. It belongs into Agroal upstream though, this is not generated by Quarkus code.

@barreiro WDYT ? ^

[2019-10-25 13:53] sberyozkin commented on #4660
I should have the PR coming in once I complete the tests

[2019-10-25 14:27] maxandersen commented on #4822
if this is resovled in mvn aren't the ~/.m2 working as a cache ?

[2019-10-25 14:29] ebullient commented on #1888
I can have a look

[2019-10-25 14:33] gsmet commented on #4860
I think it makes sense.

As for the `PamareterNamesModule`, our project template now enables `-parameters` so it might make sense too. If it doesn't have weird compatibility issues.

[2019-10-25 14:36] emmanuelbernard opened #4871 "Detect pom changes when in quarkus:dev mode"
Today, you need to restart quarkus:dev to take pom changes into action.
We have long discussed fixing that but no issue was capturing this.

CC @stuartwdouglas

[2019-10-25 14:39] emmanuelbernard commented on #4815
Here it looks like you already have a service listening to the same port as Quarkus. So there is not much we can do at this stage.

[2019-10-25 14:39] loicmathieu commented on #4860
OK, I will prepare a PR for this that includes the `PamareterNamesModule`.
I will double check the `PamareterNamesModule` ...

[2019-10-25 14:41] emmanuelbernard opened #4872 "Offer page to run tests in live coding mode"
quarkus:dev could offer a /quarkus/tests page which a way to run all tests or just a single test.
This is no different from an IDE run except we would benefit from and already loaded Quarkus (possibly).

A good use case is to appease test driven design people that feel like live coding is dangerous.

[2019-10-25 14:49] #4339 closed

[2019-10-25 15:02] mkouba commented on #4519
It turns out that `AirlinesAppTest` does not fail on master.

I've added a quick hack to disable the `InjectionEnricher` for TestNG methods with non-Arquillian dataProvider, such as [AirlinesAppTest.testVersion()](https://github.com/eclipse/microprofile-open-api/blob/master/tck/src/main/java/org/eclipse/microprofile/openapi/tck/AirlinesAppTest.java#L54) because the log is currently full of warning

[2019-10-25 15:10] Mefl commented on #4815
Hi Emmanuel,

You made me doubt, so I re-did the test :
1/ start the app with good database endpoint ( control test) -> ok
1a/ curl http://localhost:8082 -> html index page
2/ stop the app
3/ change the jdbc url to a bad port number
4/ start the app : same logs as above
5/ curl http://localhost:8082 -> Connexion refused
6/ while the app is still running, change the jdbc url to the right port -> no

[2019-10-25 15:14] kenfinnigan commented on #4519
Do all the tests use a dataProvider? What's it for?

[2019-10-25 15:26] loicmathieu commented on #4635
@geoand I just tested it and the system property `quarkus.debug.generated-classes-dir` does not work anymore. Their didn't seems to be way to output the generated classes during a normal maven build anymore.

But on dev mode, classes are always generated in the `target/wiring-devmode`.

I will prepare a PR with the modification to the guide, but maybe the functionality to output the classes during

[2019-10-25 15:29] loicmathieu commented on #4635
In fact, the system property is used inside `io.quarkus.runner.RuntimeClassLoader` but I'm not sure if it is used during a normal maven dir (mvn clean install) ?

[2019-10-25 15:30] ia3andy commented on #4823
@geoand I didn't see the time pass today 😬I totally forgot about that one lol let's do it on monday 😅 Anyway I think the release will not be on monday.

[2019-10-25 15:31] emmanuelbernard commented on #4815
So here is what I did and seems to work here

1/ start the app with good database endpoint ( control test) -> ok
1a/ curl http://localhost:8082 -> html index page

3/ change the jdbc url to a bad port number
4/ start the app : same logs as above
5/ curl http://localhost:8082 -> Connexion refused
6/ while the app is still running, change the jdbc url to the right port -> nothing happens
7/ curl htt

[2019-10-25 15:34] geoand commented on #4823
@ia3andy yeah, it won't be so we have time. However if you don't get a chance Monday, ping me around noon so I can take care of this one :)

[2019-10-25 15:36] emmanuelbernard commented on #4815
And just tried your flow

You made me doubt, so I re-did the test (the app is listening on 8082) :
1/ start the app with good database endpoint ( control test) -> ok
1a/ curl http://localhost:8082 -> html index page
2/ stop the app
3/ change the jdbc url to a bad port number
4/ start the app : same logs as above
5/ curl http://localhost:8082 -> Connexion refused
6/ while the app is still running,

[2019-10-25 15:38] geoand commented on #4635
@loicmathieu indeed, things have changed a lot WRT how the regular jar is produced.
AFAIR, `quarkus.debug.generated-classes-dir` was also about the dev mode though.

[2019-10-25 15:39] emmanuelbernard commented on #4815
@Mefl can you try and change the Quarkus version in your pom to 0.26.1 and `mvn clean quarkus:dev`

[2019-10-25 15:41] loicmathieu commented on #4635
Just tested it, `quarkus.debug.generated-classes-dir` have no impact on dev mode ... The classes are always generated inside `target/wiring-devmode` whether you use this sys properties or not

[2019-10-25 15:47] Mefl commented on #4815
@emmanuelbernard I was already doing it ;-)

This change nothing, I have the same result.
I am on java -version
openjdk version "13" 2019-09-17
OpenJDK Runtime Environment AdoptOpenJDK (build 13+33)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13+33, mixed mode, sharing)

macos 10.14.4 (on an 2.7Ghz i7)

I will do several tests with several jdk to understand the difference.

Can you put the log of

[2019-10-25 15:48] geoand commented on #4635
That is partly true, indeed `target/wiring-devmode` contains **some** classes. However, if you do:

[code]

you will see a lot more classes inside `target/generated-devmode`. Can you give it a shot and see if that makes sense?

[2019-10-25 15:50] emmanuelbernard commented on #4815
@Mefl

[code]

But as I said, the bind address is something I don't see, there is something additional in your environment

[2019-10-25 15:52] emmanuelbernard commented on #4815
Ah i think you have an other Quarkus instance running in the background.
That would explain the issues you see. I.e always failing.

On Fri 25 Oct 2019 at 17:50, Emmanuel Bernard <notifications@github.com>
wrote:

[2019-10-25 16:04] Mefl commented on #4815
Yes, I had another app started on another port (8080).

I reboot the mac, I retry and now, I do not see the bind error, but I don't still have the hot reload.

It hangs after :
`17:58:29 ERROR [io.qu.de.DevModeMain] (main) Failed to start Quarkus, attempting to start hot replacement endpoint to recover`

[2019-10-25 16:08] loicmathieu commented on #4872
Or we can have a quarkus:test that will launch the test suite and relaunch them each time a class changes.
This is how a lot of JS framework do ...

[2019-10-25 16:11] Sanne commented on #4808
The warning about schema-export not closing all statements turned out to be real, although not a significant bug; will need an ORM upgrade:
 - https://hibernate.atlassian.net/browse/HHH-13654

[2019-10-25 16:14] machi1990 commented on #4872
I like the idea.  Or `mvn clean test -Dwatch` ?

[2019-10-25 16:35] loicmathieu commented on #4635
@geoand I comes up with #4878

[2019-10-25 17:13] sberyozkin commented on #4792
Already [linked](https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/QuarkusResteasySecurityContext.java#L31) as expected.

[2019-10-25 17:13] #4792 closed

[2019-10-25 17:20] dhartford commented on #3312
@Ladicek   For the `quarkus.http.cors.origins=*` discussion item, I can at least share my experience which may not be related to the catalyst, but may support it.  When working in certain regulatory fields, you often have to explicitly list all (security) relevant configuration values, often copying the default value, to show reviewers/auditors the intent as explicitly as possible.
HTH!

[2019-10-25 17:49] jmartisk commented on #4375
I just realized one more significant problem with the annotation based approach. This will create the metrics in the `application` scope, but we want metrics from extensions to be in the `vendor` scope, because they are not declared directly by the application. MP Metrics API doesn't allow turning annotations into metrics in `vendor` scope so we would have to extend it somehow, like introduce a ne

[2019-10-25 20:01] kenfinnigan commented on #4516
@dmlloyd @jmesnil I was taking a look at `ConfigProviderTest.testPropertyConfigSource` this afternoon and I'm not sure if the behavior is a problem with us or the TCK.

Basically the test iterates over system properties and verifies that the values from `System.getProperties()` are the same as `config.getValue()` retrieved from the system property config source.

What's weird is that the value for

[2019-10-25 20:17] gastaldi opened #4881 "gradle testNative ignores *IT tests"
**Describe the bug**
When I run `gradle testNative` in a Quarkus Gradle project, the `NativeGreetingResourceIT` test is not executed.

**Expected behavior**
IT test is executed

**Actual behavior**
It is not executed. It does execute if I rename to `NativeGreetingTest`.

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]

2. `gradle buildNative --docker-build=true testNative`

**Additiona

[2019-10-25 20:37] #4822 closed

[2019-10-25 20:57] leomrlima commented on #1947
Would documentation on how to enable SSL support for native images be suitable here or in a new issue? Currently, the SO link works for me on JVM mode, but for Native mode it throws an error.

I don't know if I'm missing some configuration, or if this is unsupported currently by the tools.

Thanks!

`Caused by: java.security.NoSuchAlgorithmException: Error constructing implementation (algorithm: J

[2019-10-26 00:54] #348 closed

[2019-10-26 03:08] #4664 closed

[2019-10-26 04:18] #4830 closed

[2019-10-26 04:21] jaikiran commented on #4815
Even if you issue a subsequent `curl` request?

[2019-10-26 05:59] geoand commented on #4881
Weird... I specifically remember seeing tests being run and failing. Do you have a fix ready or should I take a look at it?

[2019-10-26 06:05] stuartwdouglas commented on #4872
This links in with my 'developer console' idea, which is a local in browser developer tooling that can do things like this.

[2019-10-26 06:51] svinther opened #4886 "ResponseExceptionMapper with @Provider annotation not automatically used"
It is only possible to register a ResponseExceptionMapper by either:

- Use a custom RestClientBuilder and invoke RestClientBuilder.register()
- Annotate a resource with @RegisterProvider

The last option causes warnings being logged, such as

`WARN  [org.jbo.res.res.i18n] (vert.x-worker-thread-0) RESTEASY002160: Provider instance org.acme.MyResponseExceptionMapper is already registered.  2nd regi

[2019-10-26 06:56] Ladicek commented on #3312
@dhartforf In that case, it should be possible to just write `quarkus.http.cors.origins=`, but I'd expect that in highly regulated fields, allowing all origins wouldn't be what you want :-) Thanks for an interesting case though!

[2019-10-26 08:00] machi1990 commented on #4453
I have opened a PR here https://github.com/quarkusio/quarkus/pull/4882, chim in and give your feedback.

[2019-10-26 09:24] vsevel opened #4888 "Add support for Vault Transit Engine"
**Description**
The [transit engine](https://www.vaultproject.io/docs/secrets/transit/index.html) provides encryption as a service for a client application. Instead of storing your encryption key securely, and retrieve it from your application to apply the encrypt/decrypt algorithm locally, you delegate this to vault: You just ask vault to create a key and associate it with a name that you pass, t

[2019-10-26 09:32] jskov commented on #3552
I still have problems with my tests running on 0.26.1.

This morning I spent some time trying to find the cause of it.

What I see is:

[code]

I tried to create a simple project and that did not display the problem.
So I tried trimming down my regular project to find the cause.

Turns out that the class bootstrap only works, if the unit tests are executed in the context of the Gradle task 'test'.

[2019-10-26 09:35] 38leinaD commented on #3552
I see the same error and i guess it aligns with the comment by @jskov. When running it as "gradle check" on the commandline, tests are executed. when running the test from within eclipse, i get the exception.

[2019-10-26 10:37] gastaldi commented on #4881
Nope, it's up for grabs :)  BTW have you been able to reproduce it using the steps I mentioned above?

[2019-10-26 10:42] geoand commented on #4881
I'll give it a shot and let you know

[2019-10-26 10:50] geoand commented on #4881
I can see the tests being executed (basically what I did is change the code to make the test fail and it did as expected).
What makes you think they don't run?

[2019-10-26 11:08] gastaldi commented on #4881
If you look at https://github.com/quarkusio/quarkus/pull/4579, the `NativeGreetingResourceTest` is not displayed in the console if you rename it to `NativeGreetingResourceIT`

[2019-10-26 11:19] emmanuelbernard commented on #4375
I have not looked at the code, just the conversations. Let me give you some context:

- most extensions will expose metrics
- but if SR metrics extension is not in the CP, then these metrics code must not be in the CP (in practice if there is no Metrics Build Item to listen to, the extensions will not publish their metrics.
- a global switch off flag must be available like we do for health
- we sh

[2019-10-26 11:20] geoand commented on #4881
I executed: `./gradlew clean buildNative  --docker-build=true testNative  --console=plain` on the created project (after editing the test to make it fail) and got:

[code]

If I revert the change to the test I get:

[code]

So I am not sure what else to do about this.

[2019-10-26 11:22] emmanuelbernard commented on #4375
Oh and it is best if an extension is not in control of the off switch, rather be mutualized by the metrics extension. Like we have tried in health.

[2019-10-26 11:25] gastaldi commented on #4881
Hm, maybe I got confused because the test was not being shown in the console. I'll close the issue for now. Thanks for checking and sorry about the confusion

[2019-10-26 11:25] #4881 closed

[2019-10-26 11:27] geoand commented on #4881
Not a problem at all! The more scrutiny on this better :)

[2019-10-26 11:29] geoand commented on #4886
@gastaldi what was your conclusion about this one?

[2019-10-26 11:35] gastaldi commented on #4886
I think the current behavior is correct and `@Provider` is not supposed to work in this case. At least the spec does not mention anything about it: https://github.com/eclipse/microprofile-rest-client/blob/master/spec/src/main/asciidoc/providers.asciidoc, but I may be missing something. Thoughts @kenfinnigan ?

[2019-10-26 11:53] emmanuelbernard opened #4890 "Improving the BindAddress error"
i often see in labs people hitting a BindAddress problem. They tend to blame Quarkus but it is invariably :

- another process running in the same port (usually the http port)
- sometimes a different Quarkus instance running

We could improve the situation by :
1. being more explicit in the exception (handling) and proposing ways to discover the culprit process (commands to run)
2. Try and find th

[2019-10-26 13:58] yuhaibohotmail opened #4891 "The character set encoding of static HTML file is changed"
**Describe the bug**
When browsing from a browser, the character set encoding of static HTML file is changed  in version 0.24 or higher.
But working fine in version 0.23.2 or lower.

![image](https://user-images.githubusercontent.com/48646226/67620490-2ab7f000-f83a-11e9-8623-7731a0200865.png)

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
![023 2](https://user-image

[2019-10-26 14:08] gsmet commented on #4891
@yuhaibohotmail can you try with this PR: https://github.com/quarkusio/quarkus/pull/4892 ?

[2019-10-26 14:26] michalszynkiewicz commented on #4826
I'll try to tackle this

[2019-10-26 15:20] yuhaibohotmail commented on #4891
It worked，Thanks!

[2019-10-26 16:06] emmanuelbernard commented on #4815
Like @jaikiran i feel it might just be a small error on your part but better go to the bottom of it. Maybe we could do a Skype or something like that so I can see the exact steps.

[2019-10-26 16:38] Ravisankar-Challa opened #4894 "0.26.1 is missing wiring-classes/bootstrap file"
0.26.1 is missing wiring-classes/bootstrap file. I have been using that for AWS lambda bootstrap. Will you reconsider enabling wiring-classes/bootstrap

[2019-10-26 16:47] Sanne commented on #3643
@fbascheper many thanks, yes we're looking. I hope to have a fix soon - sorry for the delay!

[2019-10-26 17:35] Sanne commented on #3643
A fix for HHH-13446 was merged; this issue will be resolved via an upgrade to `Hibernate ORM 5.4.8.Final`

[2019-10-26 18:19] michalszynkiewicz commented on #4826
with some println debugging, I'm getting the user code invoked always on the same thread:
[code]

[2019-10-26 20:39] mkouba commented on #4519
@kenfinnigan https://testng.org/doc/documentation-main.html#parameters-dataproviders

[2019-10-26 20:51] machi1990 commented on #4232
Hi @gintsgints do you have a sample project so that I can have a look? My intuition tells me that you'll need to set an initial base-line using by adding the following config property
[code]

[2019-10-26 21:02] machi1990 commented on #3918
Fixed by https://github.com/smallrye/smallrye-open-api/pull/190. We'll need an upgrade once there is a new smallrye release to fix the issue.

[2019-10-26 21:10] michalszynkiewicz commented on #4826
SmallRye FT does some calls that end up RxJava and Context Propagation does some context deactivaton and activation but it all looks fine at first sight (but it's the first time at looking at this code...). Yet, when the mapper is reached, the SomeBean instance it's different...

[2019-10-26 21:47] machi1990 commented on #3073
Fixed by https://github.com/quarkusio/quarkus/pull/3074

[2019-10-26 21:47] #3073 closed

[2019-10-26 21:51] machi1990 commented on #3053
What's the plan on this one? I am really curios about it @emmanuelbernard @cmoulliard

[2019-10-26 22:01] machi1990 commented on #2863
Hi @gunnarmorling, I just noticed that all sub-tasks in this issue have been checked. Can this issue be safely closed? Thanks.

[2019-10-26 22:04] machi1990 commented on #2342
We have Mongo support since version 0.18.

[2019-10-26 22:04] #2342 closed

[2019-10-26 22:25] #4320 closed

[2019-10-26 22:46] gwenneg commented on #4568
I tested empty YAML keys with #4525 and snakeyaml (which is also the YAML parser in the future SmallRye YAML config source unless it's replaced with something else).

Both `null:true` and `~:true` on the YAML side were parsed to a Java map entry with a `null` key and a `true` value. However, `:true` (omitting the YAML key)  was not valid and could not be parsed.

As @dmlloyd wrote [here](https://g

[2019-10-26 22:52] victorl2 commented on #3651
I implemented some code using the hibernate interfaces with the persistence.xml, but is **not** well polished/integrated with quarkus. Could someone give me a **direction** on *how can i approach this implementation for the multitenancy support ?*

[2019-10-26 23:01] machi1990 commented on #3651
@gsmet is this issue somehow related to https://github.com/quarkusio/quarkus/issues/2759 ?

[2019-10-27 01:46] #4858 closed

[2019-10-27 03:56] #4891 closed

[2019-10-27 08:29] fandiluo opened #4900 "@Inject PgPool NullPointerException in Reactive Router and Scheduled"
**Describe the bug**
Will occur when Reactive Router and Scheduler exists at the same project.

**Expected behavior**
Pgpool should be successfully inject

**Actual behavior**
PgPool NullPointerException

**To Reproduce**

[code]

[code]

**Log**
ExampleScheduler:
[code]
ExampleResource2:
[code]

[2019-10-27 09:33] gintsgints commented on #4232
Here is my example project:

https://github.com/gintsgints/quarkus-ws

[2019-10-27 14:10] geoand commented on #4894
cc @justinlee

[2019-10-27 14:14] geoand commented on #4890
I had people tell me that they wanted Quarkus to use a random port when there were clashes. The basic use case they mentioned was to easily run multiple Quarkus apps in Dev mode without having to configure anything.

[2019-10-27 14:50] jaikiran commented on #4099
@emmanuelbernard Here's a version which I think achieves what you wanted https://github.com/quarkusio/quarkus/pull/4904

[2019-10-27 15:53] xfh commented on #4571
Did this ever work? I don't know how far the Quarkus support for configuration properties at runtime is supposed to go.

@ivangfr you can add the environment variable KAFKA_BOOTSTRAP_SERVERS to your Quarkus container, to specify the bootstrap server globally, and remove mp.messaging.outgoing.news.bootstrap.servers. Maybe that works for you? You can also try if you get it working with MP_MESSAGING_

[2019-10-27 16:20] cescoffier commented on #4613
Was fixed with the update to Vert.x 3.8.2

[2019-10-27 16:20] #4613 closed

[2019-10-27 16:41] oztimpower commented on #4894
This is the commit that removed the file from extensions/amazon-lambda/src/main/resources/bootstrap (yet adding it back doesn't get it back to your build path):

archetype and bugfix	1a5161a2d	Bill Burke <bburke@redhat.com>	24 Oct 2019 at 6:04 AM

[2019-10-27 19:06] viniciusfcf opened #4908 "Graylog log management"
**Describe the extension**
With distributed systems, centralized logs are required to unify everything. Otherwise, it is impossible to manage the scale.

Graylog is a great open source log management.

Java client lib is: https://github.com/mp911de/logstash-gelf

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Ad

[2019-10-27 20:22] gwenneg commented on #3987
`10.0.0.CR1` is the current version on [master](https://github.com/quarkusio/quarkus/blob/master/bom/runtime/pom.xml#L116), so I'm closing this issue.

[2019-10-27 20:22] #3987 closed

[2019-10-27 20:37] ivangfr commented on #4571
Hey @xfh,

Using `MP_MESSAGING_OUTGOING_NEWS_BOOTSTRAP_SERVERS=HOST:PORT` works.

So now, my docker command looks like
[code]

What I also did was to set two properties in `application.properties`, one for development and other for _"production"_
[code]

So, for  _"production"_ the default is `kafka:9092`. If for some reason the kafka host or port is different (for example, `kafka-service:9093`),

[2019-10-27 20:40] rsvoboda opened #4910 "Azure pipelines cover only subset of modules (43/60) for native runs"
Azure pipelines are missing several modules for native runs

There are 60 modules under integration-tests and 43 of them are executed in native mode

[code]

[2019-10-27 20:44] gsmet commented on #4910
Just a note that we need to be careful because some of them are not designed to be run in native, and some of them are just modules used in other tests.

So not all of them should be added.

But for sure, some are missing.

[2019-10-27 21:26] maxandersen opened #4911 "tools and bootstrap in independent-projects should use quarkus parent pom"
Burned quite a lot of time the last week because of:

A) dependency-management is not setup similar to quarkus so it takes a lot of hand editing to add what should be simple dependencies (i.e. jackson dataformat)

B) formatting in independent-projects not using ide-config/eclipse-format.xml resulted in back and forth to find right format.

To fix that - rather than setup duplicate of what quarkus

[2019-10-27 21:32] #4348 closed

[2019-10-27 21:40] maxandersen commented on #4911
just tried doing a PR for it and it actually significantly simplifies and reduces the pom.xml files - I'll open one once #4851 is applied as that itself reduced a few things in pom.xml.

[2019-10-28 01:23] stuartwdouglas commented on #4911
There is a reason why it was not done this way originally, these projects were intended to be split out into their own repos.

[2019-10-28 03:56] jaikiran commented on #3634
Fixed in https://github.com/quarkusio/quarkus/pull/3640

[2019-10-28 03:56] #3634 closed

[2019-10-28 05:27] stuartwdouglas commented on #1724
Is this still an issue? I am hopeful that the change that added DeploymentClassLoader would have fixed this.

[2019-10-28 05:29] maxandersen commented on #4911
just because it is in different repos doesn't prevent use of a common parent bom. i.e. right now they all use jboss parent, but with very little benefit as they duplicate setup and things gets missed.

[2019-10-28 05:33] maxandersen commented on #4911
alternative is that we find a way to manually copy all the settings/setup from quarkus parent pom into tools and bootstrap at least as I'm getting tired of having to manually align versions and formatting :)

[2019-10-28 06:04] stuartwdouglas commented on #4894
CC @patriot1burke

[2019-10-28 06:12] stuartwdouglas commented on #4857
This will need some work in Smallrye, at the moment there is a hard dependency within smallrye itself.

[2019-10-28 06:38] stuartwdouglas commented on #4815
I wonder if there is a race here. There might be a certain point in the startup where the server has started but hot reload has not been registered, then on failure it can't recover as the server has already been started.

[2019-10-28 06:43] stuartwdouglas commented on #4815
@Mefl can you test out that linked PR and see if it helps?

[2019-10-28 06:48] stuartwdouglas commented on #4834
I have seen this sort of problem a lot. Generally the solution is to catch RejectedExcecutionException and if it is due to shutdown either just run the task directly, or start a new thread to run the shutdown task.

[2019-10-28 06:55] stuartwdouglas commented on #4720
It sounds like this can be closed now?

[2019-10-28 07:10] geoand commented on #4834
@stuartwdouglas It's too bad that `runOnContext` doesn't indicate at all whether or not an exception was thrown (and I am assuming that changing this core Vert.x class it is out of the question in the short term).
The only way I see around the problem is to change the shutdown code of the Kafka client to use a new thread instead of the Context.

[2019-10-28 07:32] geoand commented on #4834
Here is the PR: https://github.com/vert-x3/vertx-kafka-client/pull/152

[2019-10-28 08:19] emmanuelbernard opened #4918 "Offer missing extension advice upon Arc UnsatisfiedResolutionException"
Here is a typical mistake a user makes: he forgets to add `quarkus-vertx` as a dependency leading to

[code]

I propose, that we have a mapping of missing type to extension so that we can throw a meaningful error "Have added the quarkus-vertx extension in your pom.xml or Gradle project?". That would be a good usability improvement

This is not the first time I see people missing dependencies, and

[2019-10-28 08:24] cescoffier commented on #4918
Yes, it would definitely improve the devX.

[2019-10-28 08:40] michael-schnell commented on #4888
The Spring Vault integration does offer similar functionality and more:

https://docs.spring.io/spring-vault/docs/current/api/org/springframework/vault/core/VaultTransitOperations.html

Would be great to have something like that in Quarkus. The above interface should be a good starting point.

[2019-10-28 08:45] emmanuelbernard opened #4919 "Offer a way to blacklist GraalVM metadata from JARs"
Some dependencies define GraalVM metadata in `MANIFEST`. But some goes against possible optimization of Quarkus. We need a mechanism to blacklist GraalVM metadata for specific dependencies.

[2019-10-28 08:48] cescoffier commented on #4900
@tsegismont can you have a look?

[2019-10-28 08:57] machi1990 commented on #4720
@stuartwdouglas Hi, the log filtering is a workaround only applied in dev mode till we have a proper solution of having only one Vertx instance. I'll leave the issue open. WDYT?

[2019-10-28 09:02] FroMage commented on #1724
OK, lemme try it again, then.

[2019-10-28 09:02] #4910 closed

[2019-10-28 09:04] stuartwdouglas commented on #4720
https://github.com/quarkusio/quarkus/issues/4367 is the issue to track removal of the 2nd vert.x instance, this one was just the log message.

[2019-10-28 09:04] #4720 closed

[2019-10-28 09:07] #4635 closed

[2019-10-28 09:13] Sanne commented on #4918
In early days I remember suggesting that rather than having a "runtime" module explicitly chosen, we'd add the respective companion jars automatically after inspecting the dependencies.

I don't remember why exactly we went for the current strategy; probably also related with the reticense of automatically adding dependencies. But maybe now we can evolve in to such direction?

Proposal:
 - expect

[2019-10-28 09:16] FroMage commented on #4918
Agreed with what @emmanuelbernard is proposing (I would need to think more about @Sanne's proposal). We can build an exhaustive list of produced CDI beans during build, and save it somewhere, and use this for the error messages.

This seems harder for 3rd-party extensions, though.

[2019-10-28 09:23] emmanuelbernard commented on #4918
@Sanne Yoour proposal would need some serious discussions, in particular since we are moving away from a pure 1-1 between extension and dependencies (I have security and HTTP in mind). In the example I had in mind, it would not have helped as the user did not have vertx in its dependencies, it assumed it was coming from the base HTTP dependency.

[2019-10-28 09:28] geoand commented on #4834
There actually might be something wrong with the way vert.x is being shutdown in Quarkus. I'm looking into it

[2019-10-28 09:33] mkouba commented on #4918
Sounds like an interesting idea except that we would have to hardcode the mappings in the core/arc with the current model.

[2019-10-28 09:44] emmanuelbernard commented on #4918
@mkouba yep but I don't see that as too problematic.

[2019-10-28 09:50] loicmathieu commented on #4375
@jmartisk I noticed that using annotation currently implies having metrics in the application scope, I think that if it can be handled somhow it would be good.

I know that Jaeger is a different story, but let's try to have something that works for 80% of use cases :). Jaeger can still use the global switch directly from `ConfigProvider.getConfig` to handle it and provides it's own switch ...

I t

[2019-10-28 09:59] FroMage opened #4922 "Handle forwarded headers"
When sitting behind a forwarding proxy (that has always been the case for my apps at least) we cannot trust the underlying TCP connection for the remote IP and current port, nor the HTTP `Host` header, so the information we expose to users is wrong. The impact is they cannot use JAX-RS `UriInfo` to build absolute URIs nor `HttpResponse.getRemoteAddress()` to log security violations, nor can they k

[2019-10-28 09:59] FroMage commented on #4922
As noticed in https://github.com/quarkusio/quarkus/pull/4907#issuecomment-546870817

[2019-10-28 09:59] #4099 closed

[2019-10-28 10:18] paulrobinson commented on #4610
@johnaohara did you manage to verify that the alerting was working as expected?

[2019-10-28 10:24] dreab8 commented on #4377
@rafaelkloss thanks a lot for the reproducer, I'll look at it.

[2019-10-28 10:28] paulrobinson commented on #4617
@emmanuelbernard do you know who the tasks here should be assigned to? For those that don't warrant a GitHub issue, can you tag them in the checklist item?

[2019-10-28 10:38] emmanuelbernard commented on #4617
@paulrobinson done

[2019-10-28 10:46] FroMage commented on #1724
Nope, sorry @stuartwdouglas the problem is still there :(

[2019-10-28 10:53] gastaldi commented on #4918
Perhaps the Maven plugin could generate a mapping file during the build that could be consumed by ArC

[2019-10-28 10:56] Mefl commented on #4815
@stuartwdouglas
I cloned your repo and I tested with your PR : it's the same result.

@jaikiran
Once it has failed on startup, the http port is not opened anymore and the connexion is always refused. And it doesn't trigger on file change.

@emmanuelbernard of course, i can show you.

--
I did some new tests this morning and it shows that the property quarkus.datasource.url seems to not be reloaded

[2019-10-28 10:56] emmanuelbernard commented on #4890
Well we could offer something like

[code]

Which we could default to `fail` in prod and either `fail` or `one-up`
in dev (to be discussed).

But that's a separate issue. My concern is that people will hit the old
port and find it confusing until they go read the logs.

On 27 Oct 2019, at 15:14, Georgios Andrianakis wrote:

[2019-10-28 11:03] #4852 closed

[2019-10-28 11:13] Sanne opened #4925 "quarkus-integration-test-vault-app is requiring Docker to build"
**Describe the bug**
The module `quarkus-integration-test-vault-app` is expecting the docker daemon to be running; not having it has the whole Quarkus build fail.

Other modules have a conditional dependency controlled by a flag to enable any integration tests requiring docker.

This is particularly annoying for people building Quarkus without docker (possibly because working on an unrelated set o

[2019-10-28 11:16] loicmathieu commented on #4857
@stuartwdouglas will you forward this issue to smallrye?

As I understand, smallrye-fault-tolerance get a MetricRegistry from CDI, so maybe we can add a no-op MetricRegistryto Arc if none already exist. With this we will be able to move the dependency from ` quarkus-smallrye-metrics` to `smallrye-metrics`.

[2019-10-28 11:17] gsmet commented on #4925
@Sanne are you sure? AFAICS, the tests should only be run if you have `-Dtest-vault`. At least, that's how it's supposed to work.

[2019-10-28 11:20] loicmathieu commented on #4908
JSON loggin is already implemented bu not yet merged : #4121 maybe this will allow to send logs to graylog more easily.

[2019-10-28 11:40] sberyozkin commented on #4888
@michael-schnell In general our approach is to make things simple for the users. That interface is just probably a 1 to 1 mapping with the Vault API but most of those operations won't probably make much sense for example for the JAX-RS code having to do something with Vault in  scope of the current request. All those key creation operations for example, etc

[2019-10-28 11:46] Sanne commented on #4808
@loicmathieu some updates, as I just had a chat with @gsmet on zulip about this.

So your wording suggestion didn't make it in the Agroal release, I guess too late for that - we'll be able to improve the message in the future.

Guillaume reminded me that it's not cool to log even an INFO when it relates to the default configs; we briefly considered using a logging filter but we agreed it's not the

[2019-10-28 11:52] sberyozkin commented on #4888
@vsevel, having something like
[code]
would be just perfect IMHO, and also
[code]
as well as `sign`/`verify`.

But what is this `optionalContext` ? How can a user code calculate it ?

The other question is about `rewrap`. I guess that all the operations that the user code itself can not easily enough implement itself in context of the current call should be managed by the transit engine implementa