[2019-08-28 05:58] machi1990 commented on #3743
@stuartwdouglas looks like an issue similar to https://github.com/quarkusio/quarkus/issues/3558. I'll provide a PR in the quarkus-http repo.

[2019-08-28 06:25] ia3andy opened #3747 "Quarkus project creation with Kotlin is not working anymore"
**Describe the bug**
Quarkus project creation with Kotlin is not working anymore

Discovered by @xorye in https://github.com/fabric8-launcher/launcher-quarkus/issues/110

**Expected behavior**
Create a project with Kotlin

**Actual behavior**
Error

**To Reproduce**
[code]

[code]

[2019-08-28 06:53] rsvoboda commented on #3728
`mvn clean install -DskipTests -DskipITs -Dsmallrye-open-api.version=1.1.7 -X` gives

[code]

[2019-08-28 07:03] #3743 closed

[2019-08-28 07:23] gwenneg commented on #3747
@ia3andy Could this be a duplicate of #3541?

[2019-08-28 07:28] ia3andy commented on #3747
@gwenneg yes it is, thanks ;-)

[2019-08-28 07:28] #3747 closed

[2019-08-28 07:55] mkouba commented on #3537
Hm, it seems that SM openapi does not attempt to index primitive types anymore: https://github.com/smallrye/smallrye-open-api/blob/master/implementation/src/main/java/io/smallrye/openapi/runtime/scanner/dataobject/IgnoreResolver.java#L259

@gsmet You're right that we should return `null` instead of throwing an ISE. I'll create a separate issue.

[2019-08-28 07:56] #3663 closed

[2019-08-28 07:57] mkouba opened #3748 "BeanArchives.index() should never throw ISE but signal that it is not possible to index the class"
See https://github.com/quarkusio/quarkus/issues/3537.

[2019-08-28 08:17] geoand commented on #3741
I don't know anything about Bazel (and I assume I'm not the only one), but I strongly suspect this can't work.
Basically for Maven and Gradle Quarkus has a plugin that creates the final artifact - no such plugin exists for Bazel.
Now if/when Quarkus can be run from a simple `public static void main`, something like this would maybe work

[2019-08-28 08:20] machi1990 commented on #3372
I think this should be kept open until #3404 is merged (which depends on a new release of `quarkus-http`). WDYT @cescoffier ?

[2019-08-28 08:22] #2945 closed

[2019-08-28 08:35] belyaev-andrey commented on #3685
I'm using elytron, not keycloak, just for the sake of simplicity. And by not adding CORS headers in the second case the framework does not allow me to handle the response correctly in my ReactJS application because the browser just blocks it. That is the reason why I raised the issue. I'm OK with any response (401, 402, 410, 418, whatever) as soon as it is not blocked by the browser.

[2019-08-28 08:37] #3710 closed

[2019-08-28 08:53] #3644 closed

[2019-08-28 09:09] geoand commented on #3593
@iocanel can you explain how the Kubernetes model used `@Valid` and if all it's instances are actually needed or could perhaps be trimmed down?
Asking because they are causing the native image produced by Quarkus to explode is size...

[2019-08-28 09:28] sberyozkin commented on #3685
Hi, sorry I should've been more clear.
IMHO, there should be a consistent handling of this issue in Quarkus, irrespectively of how the endpoint is protected, either with the `quarkus-elytron-security` (for example, Basic Auth) or with `quarkus-keycloak` (OIDC tokens), it does not really matter what sort of scheme is set in the `Authorization` header, the treatment of the CORS preflight requests sh

[2019-08-28 09:46] belyaev-andrey commented on #3685
Yep, I completely agree with you regarding request/response consistency. Also, I think it might worth implementing a simple backend application using other frameworks, e.g. Spring boot or Micronaut and look at their behavior. I think I'll add more backends to my sample soon :-)

[2019-08-28 10:59] Sanne commented on #3627
I'd classify this as a feature request rather than a bug: we didn't create an Envers extension yet.

[2019-08-28 11:03] Sanne commented on #3627
Actually, since the feature request already exists ( #3120  )  I'll close this.

[2019-08-28 11:03] #3627 closed

[2019-08-28 11:06] Sanne commented on #2323
+1 I agree, we should add such an extension.

[2019-08-28 11:09] machi1990 commented on #2323
@Simulant87 are you still keen on working on implementing a MySql extension?

[2019-08-28 11:20] sberyozkin commented on #3685
OK, KC always handles the preflight request, so I guess the Quarkus should handle it the same way by default.

[2019-08-28 11:41] sberyozkin commented on #3685
My proposal is to introduce a property instructing Quarkus to always handle preflights, by default it can be true to stay consistent with KC, and the order of the filters will be adjusted. If someone has concerns about exposing the fine grained CORS policy details in some security-sensitive set ups then this attribute can be disabled. If dealing with such an attribute is problematic/not possible t

[2019-08-28 12:15] Simulant87 commented on #2323
I haven't started implementing anything. I am also not commited to provide long term support for an extension.

@machi1990 if you want to start implementing it, please go ahead. You are not taking anything away from me, what I wanted to do.

However I am interessed in understanding how to build an extension in general. Currently I don't even know where I should start. So maybe I can provide some l

[2019-08-28 12:24] iocanel commented on #3593
The idea is that all Kubernetes model objects are validated by the builder itself (if a validation impl is present in the classpath).

AFAIR, this was added so that we can prevent users from creating instances containing illegal names, labels & annotations. This is why for such fields there are validation api annotations present in the model objects.

But I have absolutely no idea, why the @Valid

[2019-08-28 12:25] geoand commented on #3593
@iocanel do you want to do that or should I?

[2019-08-28 12:30] gsmet commented on #3593
Hmmm, the `@Valid` annotation is used to enable cascading so it might be useful in some cases. But right now, it looks as if it's added everywhere, ignoring if the bean might be constrained or not.

That being said, I'm not sure it's that easy to determine if a bean is contrained because you have to consider the entire tree of the bean (e.g. potentially the bean properties of the bean).

[2019-08-28 12:43] belyaev-andrey commented on #3685
While investigating this issue, I could not find a "standard" behavior for the CORS+auth combination. Introducing a setting for this looks like a good idea to me.

[2019-08-28 12:47] geoand commented on #3593
Actually, I'm having a tough time figuring out what is adding `@Valid`, @iocanel any pointers?

[2019-08-28 13:20] jmartisk commented on #3528
List of remaining tasks:
- Merge a permanent fix for this Arquillian issue with Before/After methods
- Merge https://github.com/eclipse/microprofile-metrics/pull/432 and https://github.com/eclipse/microprofile-metrics/pull/429 into MP Metrics and release 2.0.2 of the spec
- Either merge PR https://github.com/quarkusio/quarkus/pull/3731 or include the workaround in TCK: https://github.com/eclipse/m

[2019-08-28 13:28] jmartisk commented on #3528
If https://github.com/jmartisk/quarkus/commit/c91b8310541217a87f7006bb113393cab7a4a00f can be considered a permanent solution I can simply add that into my PR and get everything ready probably tomorrow

[2019-08-28 13:32] Sanne commented on #2323
hi @Simulant87 - in case you want to give it a shot, don't worry we won't hold you to needing to maintain it as well :)

Building a new extension requires quite some knowledge; we have a guide about it but still it's not an easy topic:
 - https://quarkus.io/guides/extension-authors-guide

The get started in an "easy way", I think indeed creating the MySQL extension is a great idea.

You probably j

[2019-08-28 13:36] jmartisk commented on #3528
Also not sure about the status of https://github.com/quarkusio/quarkus/pull/3731, I see there are some unresolved issues with it. I can include a workaround in the TCK but as I said, we don't want to pollute it too much

[2019-08-28 13:42] #3560 closed

[2019-08-28 13:46] iocanel commented on #3593
`@Valid` is most probably added by the annotator module, that is passed to the jsonschema2pojo plugin.

[2019-08-28 13:49] geoand commented on #3593
@iocanel the only thing I see that might be relevant is: https://github.com/fabric8io/kubernetes-client/blob/1342a9f3b1db254b696ae6007d7eb04e32f78e54/kubernetes-model/kubernetes-model-annotator/src/main/java/io/fabric8/kubernetes/annotator/KubernetesTypeAnnotator.java#L77

[2019-08-28 13:58] machi1990 commented on #2323
Adding up to this, to obtain drivers maybe this can be of help https://docs.jboss.org/hibernate/stable/orm/javadocs/org/hibernate/dialect/package-summary.html

[2019-08-28 13:58] mkouba commented on #3528
+1

This PR should be ready - the last failures were most probably unrelated. I'm waiting for the next CI run ;-).

[2019-08-28 14:07] geoand commented on #3593
@iocanel If I set `validationEnabled` to false, some tests no longer pass. So I think we need to look at this a little more

[2019-08-28 14:10] iocanel commented on #3593
yeah, that would completely disable validation, and I am not sure if it will remove the annotations or just skip calling the validator.

[2019-08-28 14:12] geoand commented on #3593
@iocanel ping me when you have some time so we can discuss please

[2019-08-28 14:41] #3722 closed

[2019-08-28 14:41] mkouba commented on #3528
@jmartisk FYI I've just merged https://github.com/quarkusio/quarkus/pull/3731.

[2019-08-28 16:15] #3748 closed

[2019-08-28 16:20] #3661 closed

[2019-08-28 16:20] FroMage commented on #3578
Funny thing to note is that I can't run TechEmpower for quarkus with pg-client due to this. I can workaround it by finishing every endpoint on a worker thread, but I suppose it will kill perf.

[2019-08-28 16:29] gsmet commented on #3516
@dmlloyd so was the issue fixed by the changes of the referenced PRs? Or we need a fix in the config code?

[2019-08-28 16:31] gsmet commented on #3645
@greyskyy well, if you got further, it's probably worth a PR :).

[2019-08-28 16:39] nderwin opened #3758 "Update smallrye-reactive-messaging to 1.0.3"
**Description**
A newer version of the library has been released and it would be great to take advantage of the changes, especially the new config item for using SSL for the AMQP connection.

**Implementation ideas**
Change the version property in the bom from 0.0.10 to 1.0.3.

[2019-08-28 20:22] gwenneg commented on #2936
I just tested with master (2f519a49cdb6ecfa81874e9e1cb7a4d6423c3a23), this bug is still happening.

[2019-08-28 20:47] Simulant87 commented on #3179
I created an issue for it in the depending project https://github.com/eclipse-ee4j/yasson/issues/316 and plan to implement a fix to improve the error message in the exception.

Still I think generating a default constructor when missing would be nice for convenient usage.

[2019-08-28 20:50] rverma-nikiai commented on #3741
Do we use any annotationProcessor to generate the main class?

[2019-08-28 20:52] geoand commented on #3741
Quarkus does not use annotation processors. All the magic is done at a post compile phase

[2019-08-28 20:56] rverma-nikiai commented on #3741
Bazel doesn't have as such a plugin mechanism, however its more of a generic rule which you can define a rule, which can be a shell script, java jar, or any binary etc. Basically, if I can get a jar from maven central, and can run `java -jar /my/code/src/dir` and can generate the Main class, we can make bazel work with it :)

[2019-08-28 20:57] rverma-nikiai commented on #3741
Or as stated earlier, having the main class in code would be simplest :)

[2019-08-28 20:58] geoand commented on #3741
We'll see if the Main class thing actually happens.

[2019-08-28 21:25] machi1990 commented on #3520
I can give this a go over the weekend.

[2019-08-29 01:33] #3681 closed

[2019-08-29 08:14] mkouba opened #3767 "Clarify behavior of interceptors/alternatives without @Priority"
We do state that the contents of a `beans.xml` file is ignored. However, we don't say what happens if your app contains a interceptor/alternative without `@Priority`.

The current behavior is:
- an interceptor without `@Priority` is enabled and has a default priority of value `0` - `javax.interceptor.Interceptor.Priority.PLATFORM_BEFORE`
- an alternative bean without `@Priority` is not an alternat

[2019-08-29 08:53] ochaloup commented on #3678
@rsvoboda @gsmet we are able to make the update of the jandex version for the next release of Narayana (5.9.8.Final). Would that be fine from perspective of this issue to upgrade to the latest Narayana when released?

[2019-08-29 09:07] gsmet commented on #3678
@ochaloup yes, sure, thanks for that!

[2019-08-29 09:44] #3578 closed

[2019-08-29 10:02] suchwerk opened #3769 "Whitespaces in quarkus.http.cors.methods config is breaking build"
Having some whitespaces in the quarkus.http.cors.methods  leads to:
[code]

Quarkus version: current master

**Configuration**
[code]

[2019-08-29 10:03] gsmet commented on #3537
@EricWittmann can you check this one will be fixed too (i.e. when having an array of primitives)?

[2019-08-29 10:05] gsmet commented on #3745
@jmartisk @kenfinnigan what do you think about this one? Should we take the context root into account? I suppose we should try to be consistent with SmallRye Health too.

[2019-08-29 10:56] jmartisk commented on #3745
https://github.com/quarkusio/quarkus/pull/3772 should fix this

[2019-08-29 11:10] dteleguin opened #3773 "@MessageLogger from jboss-logging-annotations incompatible with dev mode"
**Describe the bug**
Trying to use a `@MessageLogger`-annotated logger results in an exception in dev mode.

**Expected behavior**
The same code works perfectly in compiled mode, we'd expect the same for dev.

**Actual behavior**
The following exception is thrown:
[code]
The root cause is that `org.jboss.logging.Logger#getMessageLogger` tries to dynamically load the generated `HelloLogger_$logger`

[2019-08-29 11:18] suchwerk opened #3774 "Wrong documentation for disabling start-tls in mailer"
Using NONE as config value as stated in the documentation leads to
[code]

[code]
should be
[code]
 - Quarkus verion: current master

[2019-08-29 11:40] rsvoboda commented on #3737
The same issue is seen in quickstarts - microprofile-fault-tolerance
@gsmet fyi

[2019-08-29 12:38] EricWittmann commented on #3537
Sure thing.

[2019-08-29 12:38] #2936 closed

[2019-08-29 12:39] FroMage commented on #2936
Thanks, should be fixed now.

[2019-08-29 12:41] jmartisk commented on #3745
I'd say that if the whole application is under a custom context-root, then the metrics endpoint should be under it too. I tried doing this with Health and it works this way, so I guess we just need to fix Metrics

[2019-08-29 12:41] gwenneg commented on #2936
Great! Thanks for the fix.

[2019-08-29 13:10] dmlloyd commented on #2288
This was fixed by #3629.

[2019-08-29 13:10] #2288 closed

[2019-08-29 13:13] dmlloyd commented on #3476
This should be fixed now.

[2019-08-29 13:13] #3476 closed

[2019-08-29 13:20] herodes1991 commented on #2125
I copied exactly the example of the `quarkus-quickstarts/rest-client` with ssl.
With maven I have no issues and works like a charm. But with gradle i'm not able to make it works, I receive the error
```java.lang.UnsatisfiedLinkError: sun.security.ec.ECDSASignature.verifySignedDigest([B[B[B[B)Z [symbol: Java_sun_security_ec_ECDSASignature_verifySignedDigest or Java_sun_security_ec_ECDSASignature_ve

[2019-08-29 13:36] ia3andy commented on #2409
@gsmet any update on this? Is there another framework like Sentry to capture errors that I could use with Quarkus?

[2019-08-29 13:37] iocanel commented on #3593
Ceated the PR on the client side, that will hopefully address the issue.

[2019-08-29 13:39] lbernardomaia commented on #3637
Hi guys,

just to let you know because probably it's related.

I got a similar problem but now using the quarkus-mailer.

In my properties file when I have ` quarkus.mailer.port=${MAIL_PORT}` the following exception is thrown:

`
apis-comparison-tool    | 13:27:52,628 ERROR [io.qua.dev.DevModeMain] Failed to start quarkus: java.lang.NumberFormatException: For input string: "${MAIL_PORT}"
apis-comp

[2019-08-29 13:43] lbernardomaia commented on #3637
Hi guys,

just to let you know, perhaps it's related.

I got a similar problem but now using the quarkus-mailer.

In my properties file when I have ` quarkus.mailer.port=${MAIL_PORT}` the following exception is thrown:

`
email    | 13:27:52,628 ERROR [io.qua.dev.DevModeMain] Failed to start quarkus: java.lang.NumberFormatException: For input string: "${MAIL_PORT}"
email    |     at java.lang.Numb

[2019-08-29 13:45] geoand commented on #3593
Awesome!

[2019-08-29 14:02] machi1990 commented on #3774
Fixed by https://github.com/quarkusio/quarkus/pull/3768

[2019-08-29 14:02] #3774 closed

[2019-08-29 14:57] EricWittmann commented on #3537
It seems that the fix does **not** address this problem.  The latest MP OpenAPI release gets us beyond the String Index Array Exception, but now there is the StreamClosed error.

I'm digging in.  I think ultimately the jandex index available to **smallrye-open-api** has too much stuff in it (everything?).  I suspect that @MikeEdgar is correct that this is the issue:  https://github.com/quarkusio/q

[2019-08-29 15:12] EricWittmann commented on #3537
Excluding primitive arrays from the `@Ignore` resolver did the trick.  There may be additional land mines in there due to the inclusion of all java classes in the jandex index....or there may not.  It might be worth having a conversation about `smallryeOpenApiIndex`.  But the following PR fixes this bug:

https://github.com/smallrye/smallrye-open-api/pull/170

[2019-08-29 15:46] #3769 closed

[2019-08-29 16:31] mkouba commented on #3537
@EricWittmann is it `java.io.IOException: Stream closed`? Where does it come from? It should not come from the `BeanArchiveIndex` on the quarkus master.

[2019-08-29 16:49] gwenneg commented on #2936
Fix confirmed from `master` with the reproducer.

[2019-08-29 16:50] EricWittmann commented on #3537
I didn't capture the stack trace - I assume it was the same as before.  I'll have to go back and do it again.  I'll report back here after I've had a chance to do that.  It's also possible I had a stale Quarkus `master`.  When was the **stream closed** problem fixed?

[2019-08-29 17:27] gwenneg commented on #3294
@dmlloyd This was fixed with #3629 merge, right?

[2019-08-29 17:36] EricWittmann commented on #3537
I just tried this again and @mkouba is right - the **stream closed** problem is gone.  I was using an older version of quarkus `master`.  I thought I had pulled the latest but I had not.

So trying everything again **without** the fix in https://github.com/smallrye/smallrye-open-api/pull/170 results in a successful build for the reproducer in this bug.

That said, I think the fix in the PR is stil

[2019-08-30 03:48] chaminnk opened #3779 "H2 database connection not working"
**Describe the bug**
When trying to connect to H2 database after containerizing the native build, connection is broken error is prompted.
**Expected behavior**
Connects to H2 database and creates a table.

**Actual behavior**
2019-08-30 03:25:35,923 INFO  [io.quarkus] (main) Quarkus 0.21.1 started in 0.003s. Listening on: http://0.0.0.0:8080
2019-08-30 03:25:35,923 INFO  [io.quarkus] (main) Instal

[2019-08-30 05:57] #3709 closed

[2019-08-30 06:18] mkouba commented on #3537
+1. There's no need to lookup the class for a primitive or a primitive array.

[2019-08-30 13:59] #3745 closed

[2019-08-30 14:00] #3730 closed

[2019-08-30 14:02] FreifeldRoyi opened #3781 "Register JAX-RS classes by default"
**Describe the bug**
It seems that there's an issue with Jandex registration when using a `Response` as a response from a JAX-RS REST endpoint.
[code]
Is printed on quarkus load time.

There was a [similar issue](https://github.com/quarkusio/quarkus/pull/2679) when using a rest client

**To Reproduce**
Steps to reproduce the behavior:
1. create a simple rest endpoint
2. return a Response
3. `mvn c

[2019-08-30 14:08] FreifeldRoyi opened #3782 "Performance on MacBook pro"
Hi,
I was wondering what is the throughput you're getting when using quarkus on MacOS?
When I was using full blown application server on my old Ubuntu desktop, with simple JAX-RS GET method returning "hello", I got to 3-4k res/sec (but I could go higher with different configuration).

I get much lower response times (~200 res/sec) on my MacBook pro. Did anyone experience the same results? Did you

[2019-08-30 15:32] machi1990 commented on #3782
localhost lookup can be slow on mac, have you added a /etc/hosts entry ? See https://thoeni.io/post/macos-sierra-java/ for details.

[2019-08-30 17:22] vsevel opened #3784 "TestScopeManager. tearDown() calls setup() instead of tearDown()"
The tearDown() method of TestScopeManager calls TestScopeSetup.setup() instead of tearDown():
https://github.com/quarkusio/quarkus/blob/2a3e3c6993d0530f512457bef5cc4ee85234c36f/test-framework/common/src/main/java/io/quarkus/test/common/TestScopeManager.java#L25-L29

I did not see any bad behaviors associated with that mistake though.

[2019-08-30 17:49] naushadamin opened #3785 "Unable to start quarkus with spring data jpa dependencies"
Getting following error during start:
Caused by: io.quarkus.deployment.configuration.ConfigurationError: Unable to properly register the hierarchy of the following JPA classes as they are not in the Jandex index:
	- org.springframework.data.domain.Auditable
	- org.springframework.data.domain.Persistable
Consider adding them to the index either by creating a Jandex index for your dependency via the

[2019-08-30 18:10] daggerok opened #3786 "Tests fails if quarkus project has been created with -Dpath=/ system setting passed to maven plugin"
**Describe the bug**
(Describe the problem clearly and concisely.)

Just after generating fresh new Quarkus project by using maven plugin create goal, `mvn test` command failed.

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

Either fail project generation if path `/` was provided or do not generate index.html page which is conflicts with provided root path

**Actua

[2019-08-30 19:10] #3528 closed

[2019-08-30 19:22] dcdh opened #3787 "Unable to run test using `mvn clean test` on main application when Flyway is embedded in an external jar."
**Describe the bug**
I have designed a POC to ensure that CDI, JPA, Flyway and Kafka integration defined in an external jar are working well.
Excepted Flyway all other libraries are working.

**Expected behavior**
The appliation should compile and produce a jar file.

**Actual behavior**
The application fails to compile.
This error arise when compiling it:

[code]

**To Reproduce**
Steps to reprod

[2019-08-30 20:56] gsmet commented on #3784
@vsevel can you create a separate PR for this?

[2019-08-30 21:34] geoand commented on #3786
@ia3andy @gsmet should we perhaps not include `index.html` when the user specified `/` as the path? Or disallow that value maybe?

[2019-08-30 21:35] geoand commented on #3785
Hi,

what version of Quarkus are you using?

[2019-08-30 21:48] geoand commented on #3779
Hi,

Where does `Dockerfile.multistage` come from?

[2019-08-30 21:54] geoand commented on #3667
When you say actuator, do you mean the Spring Boot actuator?
And when you say `build.properties` do you mean `build-info.properties` from Spring Boot?

[2019-08-31 08:32] vsevel opened #3790 "NPE in ArcTestRequestScopeProvider.setup() in native mode with dependency on deployment test jar"
while working on the quarkus vault extension, I encountered a NPE in ArcTestRequestScopeProvider in native mode, after adding a test jar (which contains helper classes to start and configure vault for integration testing) as a test dependency of integration test jpa-postgresql.

may be the issue is in the way I developed the vault extension, and specifically the test jar.
or may be there is a lack

[2019-08-31 11:57] FreifeldRoyi commented on #3782
Unfortunately it didn't work 😭

[2019-08-31 15:15] misl commented on #3652
Changes have been merged, issue can be closed.

[2019-08-31 15:15] #3652 closed

[2019-08-31 20:07] dcdh commented on #3787
FlywayProcessor:

When test is running from Intellij the path is `/home/damien/IdeaProjects/pocquarkusexternaljar/helloworld-service/target/classes/db/migration`

When test is running using `mvn -Dtest=HelloWorldServiceAppTest -Dmaven.surefire.debug test` the path is `file:/home/damien/.m2/repository/com/damdamdeo/helloworld-service/1.0-SNAPSHOT/helloworld-service-1.0-SNAPSHOT.jar!/db/migration` a

[2019-09-01 12:00] thaweechok opened #3795 "Native image of quickstart application has memory leak problem both native executable and docker version."
I built native image of quarkus quickstart application to native image both executable application and docker image then tested it with postman to test "http://localhost:8080/hello". I found that memory usage keep increase from 2 MB, 10 MB to 200 MB and keep going. I try to leave it but memory did not come down.

**Expected behavior**
Application should return memory at certain point.

**Actual be

[2019-09-01 19:47] vsevel opened #3796 "Add docker to windows build machine in quarkus-ci"
**Description**
docker does not seem to be available on the quarkus-ci windows machine: https://github.com/quarkusio/quarkus/pull/2897#issuecomment-503878094
this limits the ability to do testcontainers style integration tests, such as:
https://github.com/vsevel/quarkus/blob/master/extensions/vault/deployment/src/test/java/io/quarkus/vault/VaultTestExtension.java#L110
as a result I had to disable

[2019-09-01 20:09] vsevel opened #3797 "Add graal vm to build machines"
**Description**
when running the native integration tests, my understanding is that we need to add the graal libraries when exercising tls communications.
If graal was available on the build machine, we could refer to its libraries from the GraalITCase tests.

**Implementation ideas**
for the vault extension, I created a VaultTestLifecycleManager that [adds the java.library.path to the runner](htt

[2019-09-01 22:19] geoand commented on #1534
@gwenneg Is this something you started looking into? If not, I think it's something I can potentially get in before the next release

[2019-09-01 22:35] gwenneg commented on #1534
@geoand I took a quick look at it and didn't find how to solve this with dynamic proxies only, then I started looking for a way to do it with Gizmo but I didn't spend much time on it and won't be able to until `0.22.0`. Do not hesitate do submit a PR to fix this issue in `0.22.0` :)

[2019-09-01 22:37] geoand commented on #1534
Thanks for the info. I'll take a look at a Gizmo based solution, hopefully I can have it in time for `0.22`

[2019-09-01 23:26] geoand commented on #1534
Now that I think about it more it might not be wise to get such a change in so close to release even if I do have a proper replacement.
In any case I'll work on it and we'll see how it goes.

[2019-09-02 09:05] cescoffier opened #3802 "Move the static file support to Vert.x"
**Description**
When undertow is not present, we need to serve static files using Vert.x (Static File Handler from Vert.x Web).

It includes:

* [ ] - Detecting when undertow is not available and register the static file handler
* [ ] - Chain the static file handler in hot reload mode
* [ ] - Share a common configuration (such as `http.file` between the undertow and vert.x to configure the locatio

[2019-09-02 09:56] loicmathieu commented on #3796
:+1: same issue for the soon-to-be-merged-I-hope MongoDB with Panache extension.

[2019-09-02 09:59] loicmathieu commented on #3795
Hi,
I you run java without any max heap limit, it will takes (depending on the JVM used) around 1/4th of your memory for max heap (so hear 8GB). So it's normal that it is not cleaning the heap when it is around 160 MB.

I would suggest to set a upper bound for your java process (-Xmx128m for example) or/and for your docker container (Java will pick up it's default from the container memory limits)

[2019-09-02 10:05] emmanuelbernard commented on #3782
We have had no such report and quite a few of us are on macOS. I don't know what it is but I'd argue for a specificity of your OS setup. You said you tried on two different MBP? Also how you inject and measure might have a glitch

[2019-09-02 10:14] emmanuelbernard opened #3803 "Improve generated configuration documentation (round 2)"
After https://github.com/quarkusio/quarkus/pull/3428 merge

This tracks further improvements requests.

- [ ] Make it possible to generate all properties in one file, a properties file per extension and properties per `ConfigGroup` (like general props, orm general, orm database, orm cache)
- [ ] Group properties per `ConfigGroup` and create separations (as header or full line in the table)
- [ ] t

[2019-09-02 10:15] emmanuelbernard commented on #3803
CC @machi1990 @FroMage

[2019-09-02 10:15] emmanuelbernard commented on #3803
Let me know @machi1990 if you are willing to help for the second round.

[2019-09-02 10:23] gsmet commented on #3803
So for this one, I wasn't sure if we should do it automatically or manually including all of them.

At least, we should have a way to define a proper order of the extensions.

Hmmm, the legend is at the top (see https://github.com/machi1990/quarkus-generated-extension-config-docs/blob/master/src/main/asciidoc/generated/quarkus-agroal.adoc). For now, it uses emoji so it's pure text. Note that it de

[2019-09-02 11:37] FreifeldRoyi commented on #3782
Old desktop Ubuntu, and my current MBP.
I used (in both cases) JMeter & Apache Bench. They run from the same computer the application server or quarkus were running on

[2019-09-02 12:44] malys commented on #2263
+1. Interesting to debug and add dynamic traces.
What are  the alternatives to debug java native binary @johnaohara ?

[2019-09-02 13:15] thaweechok commented on #3795
Hi,
Wow, I try to put `./getting-started-1.0-SNAPSHOT-runner -Xmx64m`. it works now. Memory stay at around 9 MB.

I did not know before that native image is still java and also could apply jvm options to it. I thought that it's purely static executable application.

Maybe finding some place to document it.

Thank you so much, for your kindly suggestions.

[2019-09-02 13:15] #3795 closed

[2019-09-02 13:19] stuartwdouglas commented on #3782
How old is the MBP and what are you doing to drive the load? I can get 40k+ on my 2015 model, even 3-4k is not very good for such a simple endpoint.

[2019-09-02 13:20] emmanuelbernard commented on #3803
If you only embed the first line of the descroption, I don't think the table will have variable heights. In fact this two lines per entry model is likely to reduce such encounters

[2019-09-02 13:35] aloubyansky opened #3804 "Gradle plugin module is missing gradle.properties"
Gradle build scripts are referencing `${version}` property which is passed in as a system property when the Gradle build process is launched from the Maven build.
However when the project is imported into an IDE as a Gradle project, this variable cannot be resolved as it's not defined in the "Gradle space". And also for the same reason `gradle build` fails.
An easy fix would be to add `gradle.prop

[2019-09-02 13:36] BiggA94 opened #3806 "Propertie amqp-host does not work for reactive-messaging-amqp"
**Describe the bug**
I am using the reactive-messaging-amqp extension.
The documentation states, that one can change the host to connect to by setting `amqp-host` and `amqp-port` via application.properties.
Sadly, the settings seem to not get propagated to my application.
But ´amqp-user´ and ´amqp-password´  are working though.

Also I am running an ActiveMQ-Artemis Broker on localhost.

**Expecte

[2019-09-02 15:54] FroMage commented on #3803
https://github.com/quarkusio/quarkus/pull/3809 has progress:

- Adjusted the column sizes
- Put the first javadoc sentence (not perfect yet in terms of length that can exceed the column width and end up on two lines, also considers `i.e` as a sentence end)
- Turn enum types into enum values
- Turn `java.lang.Class<?>` into `class name`
- Turn Java primitive wrapper types into primitives (nobody ca

[2019-09-02 16:16] matheus-meneses commented on #3667
yep

[2019-09-02 16:31] emmanuelbernard commented on #3803
I don’t understand. I am not asking for the template to be asciidoc. I am asking for the description source to be asciidoc (Taken en from the Javadoc)

[2019-09-02 16:44] machi1990 commented on #3803
👍 good work. I'd should be able check the PR tonight.

Yes, there is only one case I could think of at the moment - `List<T>`.
So when it comes to generics, only Optional<T>, List<T> and Map<K,T> are handle at the moment. I thought may be not skipping the type check could not hurt.

We only generate this folder if we have found config items that are within are `io.quarkus......` package.

[2019-09-02 16:45] machi1990 commented on #3803
I see that @FroMage has started working on it, but yeah sure I'll be able to help on this round too :-)

[2019-09-02 17:03] karesti commented on #1322
@wburns is there a jira related ?

[2019-09-02 17:35] geoand commented on #1534
I opened #3810 that allows for removing `jboss-invocation` but doesn't yet allow building on JDK 12 (although it gets closer than the current state)

[2019-09-02 20:08] #3784 closed

[2019-09-02 20:09] vsevel commented on #3784
fixed by https://github.com/quarkusio/quarkus/pull/3789

[2019-09-02 21:05] abelsromero commented on #2746
Quarkus: 0.21.1
Graal: 19.2.0
Using `smallrye-jwt` extension.

I found that resources inside `src/main/resources/META-INF/resources` are added by default to the native image (no pom config required). However, placing them in the `src/main/resources` and using

[code]
does not.

I noticed this message `[INFO] [io.quarkus.smallrye.jwt.deployment.SmallRyeJwtProcessor] Adding META-INF/resources/jwt-pu

[2019-09-02 22:37] gwenneg commented on #3758
The `smallrye-reactive-messaging` version was changed to `1.0.3` in #3746 a few days ago. Is there something to do in the extension code to take advantage of the new smallrye features?

[2019-09-03 01:36] nderwin commented on #3758
It doesn't look like anything specific would need updated, but it wouldn't hurt to get another opinion.

[2019-09-03 06:32] boonyasukd opened #3813 "Kotlin project fails to include JAXP classes provided by JDK"
**Describe the bug**
I'm creating [a project](https://github.com/boonyasukd/buggy-kotlin-native) in Kotlin that requires the use of `JAXP` included as part of Java 8. However, when I built an executable, ran it, and made a REST call to `http://localhost:8080/hello`, I got an error saying that it cannot find resource bundle class `com.sun.org.apache.xml.internal.serializer.utils.SerializerMessages`

[2019-09-03 06:57] #3678 closed

[2019-09-03 07:17] mkouba commented on #3790
My guess would be that this NPE is caused by the [bug](https://github.com/quarkusio/quarkus/issues/3784) you've already fixed in another [PR](https://github.com/quarkusio/quarkus/pull/3789) ;-). Anyway, I do agree that `ArcTestRequestScopeProvider` should be more robust and log a warning if no `ArcContainer` is available. Would you care to send a PR?

[2019-09-03 08:08] FroMage commented on #3803
I don't see that check, where is it?

[2019-09-03 08:09] FroMage commented on #3803
We're not talking about the same thing. I'm talking about the fact that we have to generate asciidoc without HTML in there. It makes for seriously hard formatting of the table.

[2019-09-03 08:40] machi1990 commented on #3803
A config root is recorded only if its within a `io.quarkus...` package.
Here - https://github.com/quarkusio/quarkus/blob/master/core/processor/src/main/java/io/quarkus/annotation/processor/generate_doc/GenerateExtensionConfigurationDoc.java#L67-L79

If this list is empty, the generated config items will be empty upon arriving here - https://github.com/quarkusio/quarkus/blob/master/core/processor/s

[2019-09-03 08:53] chaminnk commented on #3779
Hi,
This is my ```Dockerfile.multistage```

[code]

[2019-09-03 09:13] FroMage commented on #3803
OK, thanks. But then it prevents other extensions from using our documentation generator. Well, we can get to that when someone asks for it.

[2019-09-03 10:18] machi1990 commented on #3779
It seems that the H2 database is not started in TCP mode.

Did you try using the in memory mode?

[2019-09-03 12:28] emmanuelbernard opened #3817 "cryptic error when providing import.sql file without ; at the end of each line"
Adding

[code]

Leads to a cryptic

[code]

Also it seems adding the `;` while in live coding does not fix the issue. I had to stop and restart  Quarkus.

[2019-09-03 12:45] Karm opened #3818 "Cannot build master, Docs, asciidoctor:, datasource-guide.adoc: line 228: include file not found"
Build fails on Documentation build:
[code]
**Environment:**
Linux, Java 11, Quarkus git HEAD: 7404e8e

[2019-09-03 13:17] emmanuelbernard opened #3820 "RESTEasy does not return the ErrorMessage when JSON is expected from the client"
How to reproduce:
from a new project with resteasy-jsonb in

[code]

Note the commented `@GET`.

It leads to the following cryptic error

[code]

So the error fails to serialize and thus hides the underlying error.

Proposal:
- make sure `NotFoundExceptionMapper$ErrorMessage` has a JSON mapper
- make the RESTEasy error report better upstream

[2019-09-03 13:18] emmanuelbernard commented on #3820
CC @FroMage and @gsmet

[2019-09-03 13:18] FreifeldRoyi commented on #3782
2016 MBP.
jmeter with 10 threads looping forever

[2019-09-03 13:33] wburns commented on #1322
https://issues.jboss.org/browse/ISPN-10488

[2019-09-03 14:33] vsevel commented on #3790
@mkouba

I thought the same. I did a quick test, but the fix for the other PR did not seem to solve it. I will double check it now that it has been merged.

my initial thinking was not to solve it using a test and a warning, because I was afraid to hide a root cause and potentially not using this opportunity to correct a bug (if any) somwhere else.

but yes if everybody believes that the right sol

[2019-09-03 14:50] loicmathieu commented on #3820
@FroMage did you start working on it? I'm the one that contribute the json representation of resteasy NotFoundExceptionMapper error page so I'm curious what is the issue.

[2019-09-03 14:51] FroMage commented on #3820
Yes, I'm looking at it.

I can't reproduce it in the quarkus integration test, but on a new app, I get similar errors:

[code]

[2019-09-03 15:03] loicmathieu commented on #3820
@emmanuelbernard is this native build ?

It seems you send a request with `Accept: application/json`so the NotFoundExceptionMapper try to generate a json representation but fails as no json provider is found. If you use the `reasteasy-jsonb` extension this should works.

[2019-09-03 15:14] dmlloyd commented on #3803
I would like to see us drop "type" and replace it with some kind of documentation derived from the converter in use.  This would allow us to say things like "an integer between 0 and 65535, inclusive" or "any of the following values: xxx, yyy, zzz" and things like that, on an automated basis.

[2019-09-03 15:18] dmlloyd commented on #3803
Also we should probably state whether the property is required to have a value or not, now that this distinction is supported.  With the next SmallRye Config update, optionality is implemented using a converter, so maybe that could be part of deriving value type from converter type.

[2019-09-03 15:48] Karm opened #3828 "Native image: Discrepancy between default https/http protocol and the actual used one"
**Description**
When native build is executed with a pom without a profile with explicit
[code]
and application.properties contain:
```quarkus.ssl.native=true```

This is used as the default: ```-H:EnableURLProtocols=https ```

Both with master 7404e8e0f2f3:
[code]

and with 0.21.1:

[code]

**Expected behavior**
When started, the server should start listening on *https*, not *http*.

**Actual beh

[2019-09-03 15:49] mkouba opened #3829 "Normal scoped producer method that returns null value at runtime should throw IllegalProductException"
See https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_method.

[2019-09-03 15:58] FroMage commented on #3820
Well, it's more complex than that. I fixed a bug where we had a resource locator instead of a resource method. Then I fixed a bug with the way variants were selected. But now I'm getting exceptions like:

[code]

And frankly that's just plain weird.

[2019-09-03 16:08] gsmet commented on #3818
@machi1990 is this expected?

[2019-09-03 16:11] FroMage commented on #3820
Oh, I bet I know. It's because we only register the providers if there's a method annotated with `@Path`, I'm sure. Because the minute I put at least one method, it works.

The fact that jsonb is a required dep is another issue.

[2019-09-03 16:14] Karm commented on #3828
Updated the post to clarify  quarkus.ssl.native=true

[2019-09-03 16:15] FroMage commented on #3820
Or it's because we don't find any method returning that MIME type so the media writers are removed.

[2019-09-03 16:33] FroMage commented on #3820
OK, that's it: we only register message body writers for method return types we find, so if we don't have any REST method defined, we don't register message body writers for `String` or for JSON (regardless of whether the `resteasy-jsonb` dependency is present).

So that solves the super weird behaviour.

@gsmet since you did the provider scanning, what do you think of forcing `String` message bod

[2019-09-03 16:45] #3804 closed

[2019-09-03 16:53] machi1990 commented on #3818
@gsmet Yes, generated docs were  git-ignored: I am not sure if it was good idea from my end.

@Karm A fresh (re-)build of the whole project with `mvn clean install -DskipTests -DskipiTs` is required, at least run it once to generate the docs.

[2019-09-03 17:14] gsmet commented on #3818
That's a good call, we don't want to commit generated docs... but that might become a pain when we just want to quickly generate the documentation.

[2019-09-03 17:16] emmanuelbernard commented on #3820
Could we raise a deployment exception when an app has app/JSON endpoints
but not RESTEasy-JSON or Jackson ?

On Tue 3 Sep 2019 at 18:33, Stéphane Épardaud <notifications@github.com>
wrote:

[2019-09-03 17:27] emmanuelbernard commented on #3803
I see. I do have answer for some of your syntax questions. Hit me on Zulip
tomorrow.

On Tue 3 Sep 2019 at 10:09, Stéphane Épardaud <notifications@github.com>
wrote:

[2019-09-03 17:30] machi1990 commented on #3818
Okay, maybe document this behaviour somewhere in the contributing guide?

[2019-09-03 17:50] lordofthejars opened #3833 "ArtemisTestResource available"
**Description**
Artemis integration test has an `ArtemisTestResource` https://github.com/quarkusio/quarkus/pull/2930/files#diff-76fa3fe6358cacc251f9cb4d29ae82ac to manage the lifecycle of an embedded Artemis instance for testing purposes.

The problem is that this class is not available for all users, I think that this kind of utilities should be available for any user because the way we test thes

[2019-09-03 18:01] naushadamin commented on #3785
0.21.1

[2019-09-03 18:06] geoand commented on #3785
Thanks for the info.

This has been fixed in `master` and will be present in `0.22.0`, so I'll take the liberty to close this.

[2019-09-03 18:06] #3785 closed

[2019-09-03 18:39] rsvoboda opened #3834 "Defining quarkus.version on command line fails the tests"
Defining `-Dquarkus.version` on command line fails the tests, reproducible for example via notorious getting-started project (using 999-SNAPSHOT).

Direct change of `quarkus.version` in pom.xml doesn't break the build, breaks only when specifying  on command line.

Running `mvn clean verify -Dquarkus.version=0.21.1` fails with
[code]

Running with `-Dquarkus.version` can be very handy when checkin

[2019-09-04 06:26] jmartisk opened #3838 "REST endpoint containing a @Gauge annotation will not work properly"
The problem is that we've recently started  [adding a @Dependent annotation](https://github.com/quarkusio/quarkus/blob/5fd1a57eb423fd95e3045feecf39ccb7a284dccd/extensions/smallrye-metrics/deployment/src/main/java/io/quarkus/smallrye/metrics/deployment/SmallRyeMetricsProcessor.java#L124)  to classes where we find metric annotations and they don't have any explicit CDI scope, this is to enable them

[2019-09-04 06:29] mmornati commented on #2125
Here mine working Dockerfile:

[code]

[2019-09-04 06:42] herodes1991 commented on #2125
For me, the docker image it works when i compile using maven plugin, but it doesn't when i compile using gradle plugin 😅 If you prefer I can open a new issue, because I understand that it is a different error

[2019-09-04 06:49] manovotn commented on #3767
To sum up the discussion from Zulip:

I proposed to fail fast (throw exception) on finding alternatives/interceptors without priority.
Martin thought that might be too strict (at least for interceptors) and therefore we could keep the default behaviour as is and log a warning to user in order not to promote this approach.

[2019-09-04 07:56] gsmet opened #3840 "Bad styling for error page"
Our error page looks like the attachment now. It doesn't sound normal.
![Screenshot from 2019-09-04 09-54-58](https://user-images.githubusercontent.com/1279749/64236193-2f2af100-cefa-11e9-8243-edc3edabcd32.png)

[2019-09-04 08:02] loicmathieu commented on #3820
@emmanuelbernard I think it's the opposite :) we should raise a deployment exception when an app has resteasy-jsonb or resteasy-jackson but no endpoint ... Or just a runtime exception as with livereload we tend to launch the app early in the developement process.

@FroMage I think that generating an exception / a warning to give the developer a hint of what happens is enought for the moment. When

[2019-09-04 08:59] gsmet opened #3842 "Container not running error when playing with dev mode on a simple app"
**Note: I obtain this error after the message body writers issue is fixed so we need https://github.com/quarkusio/quarkus/pull/3845 in first.**

I created a simple application with:

[code]

Then I commented the endpoint by commenting the `@GET` in the `src/main/java/org/acme/quickstart/GreetingResource.java` resource.

I then launch the application in dev mode with:
[code]

Go to `http://localhos

[2019-09-04 08:59] gsmet commented on #3842
@stuartwdouglas can you have a look at that one?

Just had it while trying to fix the error page layout.

[2019-09-04 09:01] gsmet commented on #3820
BTW, I'm working on it right now.

I want a fix for our bugfix release, we can refine later.

[2019-09-04 09:09] mkouba commented on #3790
Well, in that case we should find the root cause first. Is it still reproducible with your branch?

I believe it's a good solution ;-).

[2019-09-04 09:18] gsmet opened #3844 "Dev mode: several Vert.x worker threads detecting the change"
Still with a very simple getting-started application.

I start in dev mode. I don't load anything. I go to the `src/main/java/org/acme/quickstart/GreetingResource.java` resource and remove a semi-colon to have a compilation error.

When I load the `http://localhost:8080/hello` page, I end up with several Vert.x worker threads signaling the change:
[code]

It's variable, sometimes I have 1, sometim

[2019-09-04 09:18] gsmet commented on #3844
@stuartwdouglas I think this one might be of interest to you.

[2019-09-04 09:20] mkouba commented on #3838
There was a discussion that this should be actually the default behavior, at least from JAX-RS spec POV. However, `@Singleton` is still the default in quarkus: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L126

Do we validate a gauge declared on a `@Depende

[2019-09-04 09:40] gsmet opened #3846 "Dev mode: weird ZIP error on shutdown"
I sometimes have this weird this error when I shut down the dev mode:
[code]

[2019-09-04 09:45] jmartisk commented on #3838
We allow it right now, but it might be a good idea to throw an error if this is detected. Metrics spec allows throwing a validation error (but does not require it - theoretically there might be cases when such dependent bean will still only have one instance, in which case the gauge would work correctly - it breaks once a second instance is being built).

Yeah I've been wondering about the same th

[2019-09-04 10:08] gsmet commented on #3818
@machi1990 looks like we could use `opts=optional` as in:
[code]

That's probably the best course of action for now.

[2019-09-04 10:42] machi1990 commented on #3818
Sure, let's do it.

[2019-09-04 10:44] mkouba commented on #3838
There is. An extension can produce an `AdditionalJaxRsResourceDefiningAnnotationBuildItem`. But it seems that it's currently only used in the `spring-web` extension to turn a class annotated with `@RestController` into a resource.

[2019-09-04 11:47] stuartwdouglas commented on #3846
@gsmet did you happen to re-build Quarkus while dev mode was active? Dev mode runs from artifacts in the maven repo, so if you do mvn install on quarkus then shut down you can get that error

[2019-09-04 11:52] gsmet commented on #3846
Ah maybe, I was building the Quarkus core runtime a lot to fix the error page.

Let's close it then. I'll reopen if it happens in other circumstances.

[2019-09-04 11:52] #3846 closed

[2019-09-04 11:52] stuartwdouglas commented on #3844
@gsmet is your browser making multiple requests (e.g. favicon.ico)? It looks like if there is a compilation error it is trying to recompile on every request

[2019-09-04 11:54] gsmet commented on #3844
It's probable that my browser makes several requests. But I never saw this behavior before.

[2019-09-04 11:56] stuartwdouglas commented on #3844
It's because the 'two second window' thing is no longer updated if there is an error, so every request attempts to scan. Fix should be trivial.

[2019-09-04 12:56] fterella commented on #2148
Hi,

I'm using quarkus in order to build several microservices and I'm struggling with this scenario. My idea is to create a custom api gateway that calls several microservices. I've defined the interfaces as rest client and signature for the effective rest endpoints, I've implemented them (on different projects) as endpoints, and finally I'm trying to develop a gateway that uses the interfaces bo

[2019-09-04 13:07] #3820 closed

[2019-09-04 13:07] #3840 closed

[2019-09-04 13:22] emmanuelbernard opened #3851 "Improvements for 404"
I got confused as I tried to reach a html page and got a Resource Not found page which showed me REST endpoint options
took me a while to figure that out. Here is what I propose to improve it:

- ~clearly show 404 in the page~ (done here: https://github.com/quarkusio/quarkus/pull/3854)
- ideally display the list of static resources if we know them
- ~give an intro before the list of rest endpoints

[2019-09-04 13:25] emmanuelbernard opened #3852 "404 page does not list swagger-ui"
call an 404 resource with openapi extension in, you won't get swagger-ui listed.

[2019-09-04 13:32] gsmet commented on #3851
I have a PR in the works for that

not sure it's a good idea, it will be very verbose

PR coming too

[2019-09-04 13:32] emmanuelbernard commented on #3851
you can start lsiting static resources and stop at 1000 with a ...

[2019-09-04 13:33] emmanuelbernard commented on #3851
below the rest endpoints

[2019-09-04 13:36] kenfinnigan commented on #2148
I believe this scenario can be done by not including `@RegisterRestClient` on the parent interface that contains all the methods, and then create a child interface that just has that annotation to use for REST Client.

[2019-09-04 14:10] jrevault opened #3855 "Gradle and config source"
Hi all and thanks for doing Quarkus :)

I made a [github repo]( https://github.com/jrevault/Quarkus_env_conf_issue) example for this problem.

I'm trying to load a configuration from an external file. Path of the file is given via an environment variable : QUARKUS_CONF_FILE="application.properties"

Class [EnvCongigSource](https://github.com/jrevault/Quarkus_env_conf_issue/blob/master/src/main/jav

[2019-09-04 14:11] gsmet opened #3856 "RESTEasy extension should throw a build error if consuming or producing JSON without any JSON body writer/reader"
This is an idea of @emmanuelbernard and it looks interesting from a user experience perspective.

[2019-09-04 14:35] lbernardomaia opened #3857 "Openapi not working when quarkus.swagger-ui.path is "/""
**Describe the bug**
Hi, not sure if is a Quarkus or a MicroProfile issue, but when I have the config bellow in the application.properties, the OpenApi endpoint doesn't work. I've attached a PrintScreen and there isn't error in the logs

application.properties:
`
quarkus.swagger-ui.path=/
`

**Expected behaviour**
The OpenApi endpoint should work independently of quarkus.swagger-ui.path config

![

[2019-09-04 14:37] #3829 closed

[2019-09-04 17:43] vsevel commented on #3790
@mkouba I rebased the branch on master, and verified we still had the issue. shall I start now on the PR, or do you want to take a look first at the branch?

[2019-09-04 17:45] #3844 closed

[2019-09-04 18:15] gnodet opened #3859 "Native testing expects the executable to be OS specific: docker build based executable fail"
On OSX for example, the native build default to using docker, which ends up building a linux-based native executable.  However, in the testing phase, docker isn't used so we end up with an error `Caused by: java.lang.RuntimeException: Unable to start native image in 60s`.

[2019-09-04 18:19] machi1990 commented on #3859
@gnodet can you try to increase the timeout to two minutes or mote timeout with `-Dquarkus.test.native-image-wait-time=120` and see if the tests start successfully? By default it is 60s.

[2019-09-04 18:23] gnodet commented on #3859
The problem afaik is that the build produces a linux exectuable on OSX, but the tests don't use docker to start the executable. I think I can raise the timeout to whatever, it would still fail.

[2019-09-04 19:15] gwenneg commented on #3859
@gnodet Are you using Maven or Gradle?

[2019-09-04 19:29] gnodet opened #3860 "Provides an opt-in for jaxb support in resteasy-server-common extension"
**Description**
The resteasy-server-common extension provides a `@BuildStep JaxbEnabledBuildItem` which forces the support and inclusion of jaxb.  However, JAXB is not mandatory and when compiling to native, it forces the whole jaxp+jaxb stack to be included while it may not be used.

**Implementation ideas**
Make the build item to be provided only when opting-in with a configuration property some

[2019-09-04 19:29] gnodet commented on #3860
I can provide a patch once a direction is agreed.

[2019-09-04 19:37] gnodet commented on #3860
The whole point is that `resteasy-server-common` is used in almost all testing, and it raises the native compilation time by a huge factor (to a point it's nearly impossible to turn on native testing during a full build) while maybe only a few integration tests would actually use jaxb.

[2019-09-04 19:38] gnodet commented on #3859
@gwenneg maven, is there anything to turn on ? I just tested without any additional change with a locally compiled version of the `0.21` branch, but the results are the same

[2019-09-04 19:43] gsmet commented on #3860
Yes that’s something that’s on my (long) list for a while. I think we enable JAXB far too often. That’s definitely something we need to improve.

[2019-09-04 19:46] tsfullman opened #3861 "quarkus-reactive-pg-client extension fails to pull pg-client-deployment dependency during build"
**Describe the bug**

When I pull in the quarkus-reactive-pg-client extension using gradle and quarkus-bom version 0.21.1 and try to ./gradlew quarkusBuild, it fails to pull in all of the dependencies and throws an error that it was unable to resolve quarkus-reactive-pg-client-deployment-0.21.1.jar. On version 0.21.0, it fails to pull in io.quarkus:quarkus-undertow-common-substitutions-deployment:

[2019-09-04 19:54] Dufgui commented on #1964
it's maybe a duplicate of #2277 now no ? or is there any still some improvement missing ?
@danielpetisme @ebramirez

[2019-09-04 20:32] jglick opened #3862 "mvn quarkus:remote-dev does not work when quarkus.servlet.context-path specified"
**Describe the bug**

I was successfully using `mvn quarkus:remote-dev` until I introduced `quarkus.servlet.context-path` from #2479.

**Expected behavior**

Same as before.

**Actual behavior**

[code]

**To Reproduce**

Do not have a public project to demonstrate the difference on at the moment. Can try to construct one upon request.

**Configuration**
[code]

where an `Ingress` has been configu

[2019-09-04 23:53] dcdh commented on #3120
Good news.
Envers fails at startup in native mode because some classes are missing after doing native compilation.

I have follow the `reflection-config.json` tutorial and this content fix this issue:

[code]

Are there a way to include it in the extension ?

[2019-09-05 00:35] ovkhasch commented on #2720
Please, check this article - it might be helpful for this task: https://e.printstacktrace.blog/graalvm-and-groovy-how-to-start/

[2019-09-05 00:52] stuartwdouglas commented on #3857
I don't think we should allow a path of / for swagger UI. Swagger takes complete control of quarkus.swagger-ui.path so if it is set of / then nothing else can be served.

[2019-09-05 00:55] stuartwdouglas commented on #3852
It also won't list Servlet mappings

[2019-09-05 01:02] stuartwdouglas commented on #3842
I just attempted these reproducer steps with current master and it worked as expected.

[2019-09-05 03:00] jeremyrdavis opened #3863 "dev mode error with multiple application properties profiles"
**Describe the bug**
I have both "%dev" and "%test" profiles in my application properties.  Making a simple change results in errors being thrown.  I've gotten a couple of different errors, but they all reference the datasource.

**Expected behavior**
I expect quarkus:dev to work as usual and reload on code changes

**Actual behavior**
I got the following error by simply changing text returned fro

[2019-09-05 06:42] Davio commented on #3632
I have the same problem, my current workaround is to use an interface for REST annotations with explicit static method calls in the implementing classes (example based on Spring Petclinic):

[code]

Implementing Resource:
[code]

[2019-09-05 07:08] mkouba commented on #3790
Ok. I can see the problem now. The `quarkus-vault-deployment` dependency brings in the `quarkus-arc-deployment` artifact which contains the `ArcTestRequestScopeProvider`.

One thing we could do is to skip TestScopeManager.setup()/tearDown() for a substra

[2019-09-05 07:18] mkouba commented on #3790
I'm sorry for closing the issue - it wasn't me but some odd keyboard shortcut ;-).

[2019-09-05 07:27] Karm commented on #3828
Hello @gsmet @aloubyansky, I would like to be able to control this with a property.

My feeble attempt that workarounds it for me for my JWT Auth application is [1]. As you can see, I have hardcoded ```true``` on the line with ```nativeImage.produce...``` as I wasn't able to make the native image phase to pick it from neither application.properties nor env properties nor sys properties.

Could you

[2019-09-05 07:34] #3818 closed

[2019-09-05 08:26] chaminnk commented on #3779
I tried the memory mode first, but it prompts an error ```org.h2.jdbc.JdbcSQLException: Database may be already in use: null```. That's why I used TCP mode.

[2019-09-05 08:37] vsevel commented on #3790
it is there for the AdditionalBeanBuildItem.

I completed the refactoring discussed here https://github.com/quarkusio/quarkus/pull/2897#issuecomment-527574691 around a spi approach, as opposed to relying on reflection.
I also got rid of the org.eclipse.microprofile.config.spi.ConfigSource in vault (which caused me some issues with the native integration test jpa-postresql-vault), and started relyi

[2019-09-05 08:51] mkouba commented on #3790
I do undestand why you need the `AdditionalBeanBuildItem` in the `VaultProcessor` but why do you add the `quarkus-vault-deployment` dependency in the integration test pom? If you need to test the extension you should add the `quarkus-vault` runtime dependency.

I'd say we should do both:
1. make `ArcTestRequestScopeProvider` more robust so that it does not throw NPE
2. skip `TestScopeManager.setup

[2019-09-05 09:06] gnodet commented on #3860
@gsmet fwiw the build and tests works fine with the PR which removes the jaxb enabled build item

[2019-09-05 09:09] teoincontatto opened #3867 "Improve Quarkus testing framework"
Currently the annotation `@QuarkusTest` start the application under testing. The problem with that is that I have some IT where stop and restart of the application is required to check the application works as expected.
The only option I had was to copy code from `QuarkusTestExtension` and to use outside of the Quarkus JUnit extension. I think this could be easily improved by implementing an param

[2019-09-05 09:30] vsevel commented on #3790
@mkouba

it is not the quarkus-vault-deployment that I need, but its test jar, which used to contain testcontainers supporting classes. this is the last item (ie: vault-test) I was discussing in my comment above.
but that part is gone. I introduced a separate module https://github.com/vsevel/quarkus/tree/master/extensions/vault/test and now refer to it in https://github.com/vsevel/quarkus/blob/mas

[2019-09-05 09:30] loicmathieu opened #3868 "Intermitent failure on ConfigurationSetup#initializeConfiguration during livereload"
**Describe the bug**
Sometimes, the livereload crash after a change on one file with an error on the configuration build step: `Build step io.quarkus.deployment.steps.ConfigurationSetup#initializeConfiguration threw an exception: java.util.NoSuchElementException: Property quarkus.log.category."org.hibernate.SQL".level not found`

**Expected behavior**
Livereload should always works.

**Actual beha

[2019-09-05 09:35] gsmet commented on #3868
Can you try with the just released 0.21.2? We fixed a very similar issue.

[2019-09-05 09:44] vsevel commented on #3790
waiting for CI on https://github.com/quarkusio/quarkus/pull/3869

[2019-09-05 09:55] loicmathieu opened #3870 "PanacheQuery.range()"
**Description**
PanacheQuery support a paging mechanism that allow to fetch the result of a query page by page. This is handy to list all the result of a query but not to give an external application the capability to fetch all the results.

Moreover, paging is statefull as it implies to store the size of the page and the current page index.

In API developement, range query is often implemented b

[2019-09-05 10:08] loicmathieu commented on #3868
@gsmet I triggered more than 10 livereload and no issue with 0.21.2.
Sorry for the duplicate this is a bug I wanted to open since a few weeks and I didn't saw anything about it when I quickly looks at the list of bugfixes for 0.21.2.

[2019-09-05 10:08] #3868 closed

[2019-09-05 10:09] fterella commented on #2148
I've tried and it is not sufficient to create a simple child interface with @RegisterRestClient annotation, because in that scenario a similar error occurs (during the maven install goal). In order to build and execute the gateway, I must also include again the @Path annotation into the child interface. With this modification I was able to run the gateway as expected.
Thank you for the tip!

[2019-09-05 10:10] gsmet commented on #2148
@kenfinnigan we had several complaints about this not being possible. Any chance we could come up with a plan to fix this use case?

[2019-09-05 10:15] lbernardomaia commented on #3857
Ok, closing the issue!

[2019-09-05 10:15] #3857 closed

[2019-09-05 10:23] machi1990 commented on #3857
Good candidate of https://github.com/quarkusio/quarkus/issues/2489.

[2019-09-05 10:43] garyttierney opened #3871 "RestEasy extension no longer picks up Resource implementations with a corresponding interface"
**Describe the bug**

Previously it was possible to create an interface specification of a JAX-RS resource, and implement it separately:

<small>common-project/MyResource.java</small>
[code]

<small>quarkus-project/ServerMyResource.java</small>
[code]
**Expected behavior**

Accessing `/` in my Quarkus application should return "value".

**Actual behavior**

I see a 404 instead.

**To Reproduce**
S

[2019-09-05 11:33] sirf commented on #3685
If the access control headers are not set for 4xx responses, the actual status code will become obscured in a browser, effectively masking the actual error.

Most real world applications I've come across where CORS headers can be enbabled will set the headers even for non-2xx responses. Amazon S3 is a good example:
curl -v "https://eriks-testbucket.s3.eu-north-1.amazonaws.com/403.txt" -H "Origin:

[2019-09-05 11:49] flo-ryan commented on #1893
+1 for this issue

@masini how did you add that line? thanks

[2019-09-05 12:44] jglick opened #3876 "RestAssured unaware of quarkus.servlet.context-path, revisited"
**Describe the bug**

This is a follow-up to #3551, which I believe was closed without adequate consideration.

**Expected behavior**

If I have a Quarkus app with passing `RestAssured` tests and `@SubstrateTest` variants, I can add

[code]

and tests will still pass.

**Actual behavior**

All tests fail.

**To Reproduce**

I do not currently have a public demo app reproducing the issue, though I

[2019-09-05 13:37] manovotn opened #3878 "Add support for @TransactionalScoped into narayana extension"
Narayana offers `@TransactionalScoped` as a "custom" CDI context. This is normally registered via CDI extension which of course isn't possible here - instead we should use [`ContextRegistrar` ](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/ContextRegistrar.java )Arc extension (or its [build item](https://github.com/quarku

[2019-09-05 13:38] kenfinnigan commented on #3878
Maybe @xstefank can help with this?

[2019-09-05 13:42] manovotn commented on #3878
Also note that the context will need things like `TransactionSynchronizationRegistry` and current Narayana extension already has providers for those, see [`NarayanaJTAProducers`](https://github.com/quarkusio/quarkus/blob/master/extensions/narayana-jta/runtime/src/main/java/io/quarkus/narayana/jta/runtime/NarayanaJtaProducers.java).

[2019-09-05 13:58] manovotn commented on #3878
I was thinking @ochaloup from Narayna might be interested in looking into this?

[2019-09-05 14:30] garyttierney commented on #3871
Update: this stemmed from the fact that my project is a multi-module project. In 0.20.0, one of my modules was included in the Jandex index even though it had no `beans.xml` or `application.properties` listing.

I'm not sure if this a regression, but I do wonder if we can handle the multi-module case in a better way (is sticking all our user modules in the Jandex index a reasonable thing to do?)

[2019-09-05 14:31] kodgezgini commented on #3592
Problem still exists at Quarkus 0.21.2.

**Error restarting Quarkus
java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/Barbaros/.m2/repository/io/quarkus/arc/arc/0.21.2/arc-0.21.2.jar**

`java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/Barbaros/.m2/repository/io/quarkus/arc/arc/0.21.2/arc-0.21.2.jar
	at java.base/sun.nio.fs.WindowsPathParser.norma

[2019-09-05 14:42] cescoffier opened #3881 "Memory usage increase with the new network stack"
When deploying the `getting-started` application in OpenShift, I have seen that the new network stack version required 24Mb or memory instead of 12Mb to serve the requests.  With 12Mb, `OutOfMemory` exception are thrown.

**How to reproduce it**

1. You need an OpenShift cluster somewhere (I used crc), and `oc` connected to it.
2. Create a new project with `oc new-project some-quarkus-test`
3. Cre

[2019-09-05 15:04] lbernardomaia opened #3883 "Make the RegisterForReflection annotation more flexible for native image"
**Description**
Would be nice have a way to tell to `@RegisterForReflection` annotation what I want instead of using the reflection-config.json file as stated here https://quarkus.io/guides/writing-native-applications-tips.

Currently, If I want only public methods to use reflection, I need to create the file below:

reflection-config.json:
[code]

Implementation ideas:
`@RegisterForReflection(all

[2019-09-05 15:06] vsevel opened #3884 "skip TestScopeManager.setup()/tearDown() for a substrate test"
**Description**
Second part of changes discussed in https://github.com/quarkusio/quarkus/issues/3790#issuecomment-528267207

@mkouba @stuartwdouglas

[2019-09-05 15:21] gsmet commented on #3883
@lbernardomaia interested in contributing it? It shouldn't be too hard.

Better suggest a design for the annotation before though.

[2019-09-05 15:39] muirandy commented on #3202
@cescoffier Whats the process for closing this ticket? Code was merged to master 2 weeks back.

[2019-09-05 15:57] machi1990 commented on #3202
What was the PR closing the issue? Just for reference. Otherwise I can close the issue.

[2019-09-05 16:16] pipinet commented on #3552
still not work in 0.21.2
https://github.com/qwlabs/quarkus-issues/tree/master/2019-06-21-21-00

[2019-09-05 16:34] muirandy commented on #3202
[#3547](https://github.com/quarkusio/quarkus/pull/3547)

[2019-09-05 16:36] machi1990 commented on #3202
Thanks. Closing.

[2019-09-05 16:36] #3202 closed

[2019-09-05 16:41] ochaloup commented on #3878
@manovotn yes, I would be. @kenfinnigan what is the priority (and +/-deadline) for this feature?

[2019-09-05 16:45] jamesfalkner commented on #3863
FWIW I get the same with mongodb.

works:

`quarkus.mongodb.connection-string=mongodb://localhost:27017`

fails:

`%dev.quarkus.mongodb.connection-string=mongodb://localhost:27017`

with

[code]

[2019-09-05 16:47] #3838 closed

[2019-09-05 17:07] aaronanderson opened #3886 "Support deployment and hot deployment of additional web content beyond src/main/resources/META-INF/resources"
**Description**
I am developing a web application on Quarkus like this [example](https://github.com/aaronanderson/quarkus-oidc/tree/master/example) that uses React and webpack. I have configured my JavaScript build process to publish resources to the supported src/main/resources/META-INF/resources directory and deployment and hot deployment work. However this location is intended to store version

[2019-09-05 17:17] machi1990 commented on #3863
@jeremyrdavis @jamesfalkner thanks for reporting this issue. I was able to reproduce this with `0.21.1` but not with `0.21.2` which was released a few days ago to address several bug. Can you try with that version and confirm if it the issue is fixed? Thanks.

[2019-09-05 17:21] gsmet commented on #3592
@dmlloyd any idea? I checked and your commit is part of 0.21.2.

[2019-09-05 17:23] garyttierney commented on #3552
@pipinet have you seen the solution from @geekrumper? This works perfectly for me.

[2019-09-05 17:27] garyttierney commented on #3552
I'm not sure exactly what the behaviour is for `apply(...)` vs the `plugins {}` block, but the behaviour I observed when using `plugins {}` is that older Quarkus artifacts were being used (and not the version I requested).

Using `apply(...)` seems to make everything get pulled in correctly.

[2019-09-05 17:45] kenfinnigan commented on #3878
Right now it blocks adding the MP Context Propagation TCK into the build, and also prevents `@TransactionalScoped` from being used in Quarkus.

There's no hard deadline, but we're trying to get all TCKs running in Quarkus before 1.0 to ensure we pass and resolve minor issues

[2019-09-05 17:51] jglick opened #3888 "Injecting @ConfigProperty(name="quarkus.servlet.context-path") does not work in native mode"
**Describe the bug**

`@ConfigProperty` works to inject `quarkus.servlet.context-path` into a field in JVM mode, but apparently not in native mode, or least not in tests.

**Expected behavior**

Behavior should be identical across `@QuarkusTest` and `@SubstrateTest`.

**Actual behavior**

Injection works as expected in JVM mode (`surefire:test`). Native tests (`failsafe:integration-test`) fail wit

[2019-09-05 17:56] machi1990 commented on #3888
I guess this is expected because `ServletConfig` is a build time config. Am I correct?  @dmlloyd @gsmet

[2019-09-05 17:58] gsmet commented on #3888
Yes, probably, maybe we should make this config root `BUILD_AND_RUN_TIME_FIXED` instead.

@stuartwdouglas WDYT?

[2019-09-05 17:59] dmlloyd commented on #3888
Right, at present I believe that `BUILD_TIME` config root values are not stored in the run time image.  However, perhaps that should change: even if the config objects themselves are not available at run time, there's probably no harm in making those properties available to those using the config API directly.  The only cost would be the memory usage of the additional keys and values.

[2019-09-05 18:00] machi1990 commented on #3888
What will be the difference with `BUILD_AND_RUN_TIME_FIXED `?

[2019-09-05 18:13] jamesfalkner opened #3889 "java.security.cert.CertificateException when connecting to SSL-enabled MongoDB from native app"
**Describe the bug**
I am using the MongoDB quickstart to connect to an ssl-enabled MongoDB server. When I do this from a JVM-based app it works. Same code, but compiled to native fails.

This is my connection string in `application.properties`:

`quarkus.mongodb.connection-string=mongodb://[redacted]@[redacted]:10255/?ssl=true&replicaSet=globaldb`

**Expected behavior**
No errors, connection succ

[2019-09-05 18:17] machi1990 commented on #3803
addressed by https://github.com/quarkusio/quarkus/pull/3809 thanks to @FroMage

https://github.com/quarkusio/quarkus/pull/3887 will somehow address this with conditional asciidoc using the `@asciidoclet` block tag. Thanks to @gsmet

[2019-09-05 18:52] jamesfalkner commented on #3863
Confirmed it works again with `0.21.2` !

[2019-09-05 19:01] gwenneg commented on #3876
Hi @jglick. I'll take a look and see if we do something better.

[2019-09-05 19:12] dmlloyd commented on #3888
The difference would be that the configuration root classes and corresponding groups and objects would not exist in the run time image.

[2019-09-05 19:12] machi1990 commented on #3120
@dcdh great news.

[2019-09-05 19:16] machi1990 commented on #3863
Glad it worked for you. This can be closed then.

[2019-09-05 19:16] #3863 closed

[2019-09-05 19:20] emmanuelbernard opened #3890 "Offer a conversion table between Spring Boot annotations and Quarkus annotations"
A user at the BordeauxJUG asked me for a conversion table between the Spring Boot annotations and the CDI/RESTEasy etc annotations. I think it would be a good guide complement

[2019-09-05 20:06] geoand commented on #3890
Sure thing.

I assume we are talking about a separate guide?

[2019-09-05 23:04] lbernardomaia commented on #3883
Sure, I had a look and one suggested design would be as below:

RegisterForReflection:
[code]

Use:

- @RegisterForReflection(enableAttributes = Attributes.ALL_DECLARED_CLASSES)

- @RegisterForReflection(enableAttributes = {Attributes.ALL_DECLARED_CLASSES, Attributes.ALL_DECLARED_CONSTRUCTOR})

The use of `enableAttributes()` would set the `methods()` and `fields()` to false.

[2019-09-05 23:10] lbernardomaia commented on #3883
Sure, I had a look and one suggested design would be as below:

RegisterForReflection:
[code]

Use:

- @RegisterForReflection(enabledAttributes = Attributes.ALL_DECLARED_CLASSES)

- @RegisterForReflection(enabledAttributes = {Attributes.ALL_DECLARED_CLASSES, Attributes.ALL_DECLARED_CONSTRUCTOR})

The use of `enabledAttributes()` would set the `methods()` and `fields()` to false.

[2019-09-06 01:30] codecr commented on #1658
Hi!

Thank you for the explication @teriiehina; but I have an issue using quarkus 0.21.2 or 0.21.1 and graalvm 19.1.1

May I know which versions are you using? I will appreciate any hint.
`
Error: Class that is marked for delaying initialization to run time got initialized during image building: oracle.jdbc.driver.BlockSource. Try marking this class for build-time initialization with --initialize-

[2019-09-06 01:44] jamesfalkner opened #3895 "Native s2i binary image fails to run SSL-enabled apps"
**Describe the bug**
I am using https://quay.io/repository/redhat/quarkus-binary-s2i to run a native Linux binary generated from a Quarkus app that uses MongoDB extension w/SSL.

I have set `quarkus.ssl.native=true` in my `application.properties` (which should not be needed according to https://quarkus.io/guides/native-and-ssl-guide when using the MongoDB extension.

**Expected behavior**
The app

[2019-09-06 03:43] hantsy commented on #1029
@swiss-chris

I had the same problem When I wrote my Helloworld Quarkus application with Apache Maven.

But it works well in Cygwin prompt.

[2019-09-06 05:47] emmanuelbernard commented on #3890
Yes but I think it would be referenced or in the "landing guide" for Spring users as well

[2019-09-06 06:01] jrevault opened #3898 "gradlew quarkusDev -> NullPointerException on startup"
Hi all,

I just migrated to Windows 10 pro (maybe it's not related, but it's the only difference) and my previous project is crashing at start when I launch
gradlew quarkusDev

Here is the exception I got :
[code]

[2019-09-06 06:17] hantsy commented on #461
Currently it seems all quickstarts are demonstrating  `QuarkusTest` of JAX-RS.

Hope it includes:
* Mockito integration, mock CDI by some annotations like @MockBean @SpyBean
* Provides embedded server for test purpose, such as H2 for JPA, embedded Mongo for Mongo. etc
* Integrate TestContainers to setup dependent service(such as a MySql server) in Docker directly

[2019-09-06 06:43] mkouba commented on #3871
This is how bean discovery currently works in Quarkus, ie. a module must contain `beans.xml`, `META-INF/jandex.idx` or be referenced by quarkus.index-dependency in `application.properties`. See https://quarkus.io/guides/cdi-reference#bean_discovery for more details.

So I'd say it's not a regression but a fixed bug in the gradle integration.

Hm, something like "add all modules from the project au

[2019-09-06 06:47] geoand commented on #3871
Maybe this would create more problems that it solved? Not sure either, so just asking

[2019-09-06 07:03] rboei opened #3900 "Additional information needed in documentation of @Scheduled"
Hey,
the original thread with the question:
https://groups.google.com/forum/#!topic/quarkus-dev/yHy1EqCw29Q

The documentation is missing some points on how the scheduling mechanism works, when using the annotation. The information which needs to be added:
https://groups.google.com/d/msg/quarkus-dev/yHy1EqCw29Q/8-n2LSDmBwAJ

Kind regards,
Rene

[2019-09-06 07:05] #3898 closed

[2019-09-06 07:06] jrevault commented on #3898
I need to check something first...

[2019-09-06 07:09] gnodet commented on #3859
@gwenneg I think you did misunderstood my problem.
When defining the required properties to make the native build happen on docker using
[code]
for example, the tests will always fail because the generated native executable is run on the host and not in the docker container.  In my case, host = OSX so the compiled executable can not be run at all.

[2019-09-06 08:18] Dufgui commented on #3851
I start a PR on it. It's works. I must add the limit of number of files displayed

[2019-09-06 08:31] ShannonDing opened #3903 "Add extension for Apache RocketMQ"
Hi,
I am a PMC member from Apache RocketMQ. I have learned Graalvm recently, and I am very interested in it. At the same time, I also implemented the lightweight client[1] of RocketMQ based on Graalvm. RocketMQ is a distributed high-performance messaging engine. RocketMQ is designed to handle online business processing. Message engines are often tightly coupled with services. so a native client is

[2019-09-06 08:36] emmanuelbernard opened #3904 "Add support for YAML configuration files"
Some people prefer yaml for the hierarchical configuration structure we have.
It would be useful I think to support it as an extra `configsource` https://github.com/eclipse/microprofile-config/blob/master/spec/src/main/asciidoc/configsources.asciidoc

`application.yaml`

and make sure we enlist that file for hot reload etc (everywhere `application.properties` is used really).

As for priority, we

[2019-09-06 08:50] stuartwdouglas commented on #3904
Should be easy to do as an extension, if not then we should make sure we have good SPI's to make it easy.

[2019-09-06 08:50] emmanuelbernard opened #3905 "Offer API generation based on OpenAPI definition"
There is a maven plugin that takes the OpenAPI definition and generates the JAX-RS endpoints and keep them in sync
https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator-maven-plugin

A attendee was wondering if our generator (code.*, CLI) was able to add this maven plugin (option).

I guess that's something we could do once extensions can control project generatio

[2019-09-06 08:50] emmanuelbernard commented on #3905
cc @ia3andy

[2019-09-06 09:40] #2990 closed

[2019-09-06 11:13] gsmet opened #3907 "Check why Vert.x extension is depending on jboss-jaxrs-api_2.1_spec"
In `extensions/vertx/runtime/pom.xml`, we have a dependency to `jboss-jaxrs-api_2.1_spec`. We should check if it's really necessary and remove it if we can.

[2019-09-06 11:38] manovotn opened #3908 "MP CP integration doesn't allow for user defined custom contexts"
I came across this while investigating execution of MP CP TCK on Quarkus.
What the TCK does is define custom contexts (`ThreadContextProvider`s) that are registered via service loader mechanism.
Here is a [link](https://github.com/eclipse/microprofile-context-propagation/blob/master/tck/src/main/java/org/eclipse/microprofile/context/tck/ThreadContextTest.java#L113) to those TCK tests.

However, ou

[2019-09-06 12:06] FroMage commented on #3908
I'm not sure I understand the issue.

In Quarkus we have a flat classpath, so at static-init time we can scan all providers and they will be found. You can't add providers later because Quarkus doesn't support hot-adding code.

Now, in the case of the TCK we package our app as a `.war` which has services defined. I'm not sure how we deploy it to Quarkus, but I assume we need to start a new Quarkus

[2019-09-06 12:07] FroMage commented on #3908
I mean, the body of the `.war` _has_ to be visible to Quarkus at build time, otherwise it can't index/instrument it.

[2019-09-06 12:08] dmlloyd opened #3909 "quarkus-documentation rendering into a source directory"
**Describe the bug**
The `quarkus-documentation` project is generating the docs into `docs/src/main/asciidoc`.  It should be generating into `docs/target/...`.  It's just a matter of time before a PR includes the generated files by accident.

**To Reproduce**
Steps to reproduce the behavior:
Do a clean build.

[2019-09-06 12:14] gsmet commented on #3909
The directory is part of the .gitignore so I'm not sure there is a real problem regarding PR.

I agree it's not ideal but we need them to be there for the includes to work.

[2019-09-06 12:18] gwenneg commented on #3904
I'd like to contribute on this one.

[2019-09-06 12:47] ia3andy commented on #3905
Behind, it uses:
[code]
Which is plain Java, maybe it would be easier to just integrate it as part of the Quarkus codegen. We should also look if it works with Quarkus native (for Code Quarkus).

[2019-09-06 13:04] jamesfalkner commented on #2125
FWIW this also failed for me even when using Maven.

From my experiments, it seems `-Djava.library.path` no longer has any effect - if all the `*.so` files are in the same directory as the app, it works. So here's the `Dockerfile` I am using:

[code]

[2019-09-06 13:10] gsmet commented on #3605
Reopening as we had to revert it in https://github.com/quarkusio/quarkus/pull/3896 .

The current fix causes issues as we need the `-deployment` dependency to be in the deployment artifact and the `-runtime` dependency to be in the runtime artifact.

The proposed fix mistakenly add the runtime dependency to the deployment artifact.

That being said, I tried to do it properly and we have a circular

[2019-09-06 13:15] jamesfalkner commented on #2125
Also https://github.com/oracle/graal/pull/1604/commits/3bd21e06641e4b4e6f09b38af7176bea7202edd0 says that the `java.library.path` needs to be set to the actual path to the `.so` file, not the directory in which it is in.

But when I tried that, it failed with the same "can't load EC library" error.

[2019-09-06 13:24] #3728 closed

[2019-09-06 13:25] #3537 closed

[2019-09-06 13:36] kenfinnigan commented on #3905
I'd be curious to see if instead there was a piece of Apicurio we could include for that generation?

@EricWittmann thoughts?

[2019-09-06 13:39] geoand commented on #1534
#3906 should take care of the issue for good

[2019-09-06 13:43] manovotn commented on #3908
Hmm, you are right,  but from debug I saw that during discovery (in static init) we only found context provider from arc, not from the TCK test archive.

But just now I see that to load those classes, we do inspect known classes to a CL that loaded `SmallRyeContextPropagationProcessor` - e.g. `ServiceUtil.classesNamedIn(SmallRyeContextPropagationRecorder.class.getClassLoader(), "META-INF/services/

[2019-09-06 13:50] kenfinnigan commented on #3904
Yaml support makes sense, seeing things in a structured way can be beneficial

[2019-09-06 14:03] gastaldi commented on #3904
There is https://github.com/microprofile-extensions/config-ext/tree/master/configsource-yaml and it seems that there are plans to move that to Smallrye-Config. Maybe it would be nice to consider that when developing this solution ;)

[2019-09-06 14:11] dmlloyd commented on #3904
Yeah that'd be the right way to do it.  Making the priority be one higher than the properties is fine too.

[2019-09-06 14:11] manovotn commented on #3908
Also, the TCK test is actually a WAR with two JAR files that declare the `META-INF/services` bits, but that shouldn't be trouble as in a dummy test that worked fine for me.

As for CLs, adding some prints showed me that:
* from within test, I am getting `RuntimeClassLoader@366c4480`
* The CL that is used to load the context providers from `SmallRyeContextPropagationRecorder` is `java.net.URLClassL

[2019-09-06 14:12] dmlloyd commented on #3904
Would we also want a `microprofile-config.yaml` to be supported?

[2019-09-06 14:19] gastaldi commented on #3904
@dmlloyd yeah, I think that would be nice too

[2019-09-06 14:25] dmlloyd commented on #3909
Hmm it didn't seem to ignore for me even though my checkout is up to date.  Will investigate further.

We can't use e.g. `docs/target/generated-sources/asciidoc` or something?  I guess it's an asciidoctor config problem of some sort?

[2019-09-06 14:30] #1534 closed

[2019-09-06 14:35] gsmet commented on #3909
We could maybe make it work by having an attribute for the generated path.
I need to check if I can make it work with the website too.

I'll dig a bit further. I agree the current situation is not ideal.

On Fri, Sep 6, 2019 at 4:25 PM David M. Lloyd <notifications@github.com>
wrote:

[2019-09-06 14:55] machi1990 commented on #3909
We have a `.gitignore` entry for generated docs. I am curios to what might have went wrong.

[2019-09-06 14:55] EricWittmann commented on #3905
I do have some code in Apicurio for this, and it **might** work better than the openapi-generator tool for JAX-RS.  It would be very interesting if someone were to do a comparison of the results.  The Apicurio code can be found here:

https://github.com/Apicurio/apicurio-studio/tree/master/back-end/hub-codegen

It is integrated into the Apicurio Studio upstream project, so you could test it out ea

[2019-09-06 17:52] #3389 closed

[2019-09-06 17:57] ppalaga commented on #2238
What is the status of this, @lburgazzoli ?

[2019-09-06 22:39] gwenneg commented on #3859
Oh yes, I got your first message wrong, sorry. There must be something wrong in `NativeImagePhase`. I'll try to run a native build with Docker on a Mac tomorrow and see what happens.

[2019-09-07 05:32] gnodet commented on #3859
@gwenneg I don't think the `NativeImagePhase` has any problem, but it's more the testing framework which should leverage the same mechanism and also start the compiled native binary using docker if docker was used to build the image.

[2019-09-07 09:23] hantsy opened #3914 "Document how to publish custom OpenAPI design document (instead of driven by the code)"
Currently the OpenAPI generate schema from JAX-RS codes. This is code first way.

But some API description is not clear enough, we have to use the Microprofile OpenAPI annotations to enrich it.  Thus a lots of codes in Jax-rs are MP OpenAPI annotations.

In my experience, some projects require Design APIs firstly. There are some tools can do this, such as Swagger Editor. We can a well defined sche

[2019-09-07 09:44] machi1990 commented on #3914
Related to https://github.com/quarkusio/quarkus/issues/3905

[2019-09-07 13:47] gastaldi commented on #3607
Is there a reason why the JUnit4 extension is needed (besides migration from existing projects to Quarkus)? Depending on a library that's no longer maintained feels wrong to me :)

[2019-09-07 19:43] 4ntoine opened #3917 "Failed to build a runner jar: java.lang.NoSuchFieldError: AROUND_CONSTRUCT"
**Describe the bug**
Can't build jar written in Kotlin and build with Gradle.

**Expected behavior**
Jar file is compiled

**Actual behavior**
Getting build error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/4ntoine/NotesServerApp/tree/quarkus
2. ./gradlew clean :app-quarkus:build --stacktrace
3. see build error

**Configuration**
[code]

**Screenshots

[2019-09-08 01:41] gastaldi commented on #3907
There are `javax.ws.rs.ext.MessageBodyReader`s and `javax.ws.rs.ext.MessageWriter`s implementations in https://github.com/quarkusio/quarkus/tree/master/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime that require that dependency

[2019-09-08 04:03] gastaldi commented on #3607
To cause more confusion, Rest assured 4.1.1 depends on `hamcrest` only, which is a Uberjar from `hamcrest-core` and `hamcrest-library` :)

[2019-09-08 06:14] hantsy opened #3918 "JAX-RS sub resource is not gererated in OpenAPI schema"
I mounted the subresource in the parent resource like this:

[code]
The details of this issue can be found on stackoverflow:
https://stackoverflow.com/questions/57830712/jax-rs-sub-resource-is-not-generated-in-quarkus-openapi-schema

[2019-09-08 06:18] hantsy opened #3919 "JAX-RS sub resource is not recognised in Quarkus"
Register sub resource in the parent resource.

[code]
`CommentResource` is like this, it does not includ a `@Path`.

[code]

The details and workaround can be found on stackoverflow.
https://stackoverflow.com/questions/57820428/jax-rs-subresource-issue-in-quarkus

[2019-09-08 10:02] geoand commented on #3919
@gsmet, @mkouba IIRC you were talking about this, right?

[2019-09-08 10:04] geoand commented on #3917
@aloubyansky I don't really remember what the status of the gradle plugin is currently, but this looks like it's failing in a multi-module project. Is this a known issue?

[2019-09-08 10:12] 4ntoine commented on #3917
i've quickly looked into https://quarkus.io/guides/kotlin and https://quarkus.io/guides/gradle-tooling before i started. Am i missing anything?

[2019-09-08 12:08] hantsy opened #3920 "Add Jakarta/Java EE 8 Security Spec support"
I am not sure if possible to add Security Spec 1.0 support in Quarkus.

I browsed the quickstarts samples, currently in the JAX-RS Resource, the `SecurityContext` from Jaxrs, but if I want to use SecurityContext in other places, such as Domain Service codes  JPA codes,  Security Spec 1.0 specific `SecurityContext` is a good option.

Or is there some approaches to transfer a `SecurityContext` like

[2019-09-08 13:24] machi1990 commented on #2323
I'll take a look.

[2019-09-08 17:41] loicmathieu commented on #3256
Fixed by #3335

[2019-09-08 17:41] #3256 closed

[2019-09-09 01:59] stuartwdouglas commented on #3914
This should already exist. It should be able to read from:

`
    private static final String META_INF_OPENAPI_YAML = "META-INF/openapi.yaml";
    private static final String WEB_INF_CLASSES_META_INF_OPENAPI_YAML = "WEB-INF/classes/META-INF/openapi.yaml";
    private static final String META_INF_OPENAPI_YML = "META-INF/openapi.yml";
    private static final String WEB_INF_CLASSES_META_INF_OPENAPI_

[2019-09-09 02:03] stuartwdouglas commented on #3917
Do you have an old version of the CDI API on your class path?

[2019-09-09 05:58] machi1990 commented on #3914
I mis-read the issue and I thought it was asking generated JAX-RS from OpenApi definition.
After re-reading it again, indeed OpenAPI schema can be loaded from a pre-defined schema as indicated by Stuart above. In such a workflow it is interesting to also disable annotation scanning with `mp.openapi.scan.disable=true`

[2019-09-09 06:30] mkouba commented on #3919
@geoand Yep, exactly.

[2019-09-09 06:40] webfolderio commented on #3666
What is the reason behind this decision? Undertow is offical http/servlet container of Red Hat. Why did you decide to use third-party library instead of your own.

[2019-09-09 07:33] galderz opened #3928 "Exceptions in quarkus Maven augmentation output mangled"
Even with @gastaldi's [PR](https://github.com/quarkusio/quarkus/pull/3761) to make mojo logger synchronized, exceptions logger were being mangled, e.g.

[code]

These exceptions were coming from Netty processor, uses SLF4J logging and that uses MavenSimpleLogger directly which does not have the mojo logger protection.

One way to fix this is to make Netty use a JBoss Logger, which will end up dire

[2019-09-09 07:46] drissamri commented on #3354
Which other tickets are this so I can have a look?

Serverless Framework just invokes the handler you define just you would in AWS SAM/AWS CLI/other frameworks, so I'm afraid this is not something related to Serverless Framework?

[2019-09-09 08:17] emmanuelbernard commented on #3904
So @gwenneg you can start from `https://github.com/microprofile-extensions/config-ext/tree/master/configsource-yaml`, see if that fits our need and when it's in SmallRye, we can decide to rely on it. In the mean time we can just copy it over. I don't think I'm fan of all the options they have but we don't have to expose them.

And try and do it as an extension.

Let us know if you see things uncle

[2019-09-09 08:23] emmanuelbernard commented on #3666
@webfolderio we are in a deep work to unify our web layers in Quarkus. Undertow will be used but in a different form most probably. The choice for the unification is to enable a single stack for all web content whether servler, reactive or otherwise and share interception layers like security ones. It also paves the road for a much better serverless solution in Quarkus.

[2019-09-09 08:27] emmanuelbernard commented on #3914
Re-qualifying as a documentation issue. @machi1990 if you have a few mins, you can take stuart's message to update our openapi guide

[2019-09-09 08:45] aloubyansky commented on #3917
Something weird is happening here. It looks like Quarkus bootstrap resolver is adding javax.enterprise:cdi-api::jar:2.0.SP1 to the build classpath. But ends up being used is `.gradle/caches/modules-2/files-2.1/javax.enterprise/cdi-api/1.0/44c453f60909dfc223552ace63e05c694215156b/cdi-api-1.0.jar!/javax/enterprise/inject/spi/InterceptionType.class`.

[2019-09-09 09:02] 4ntoine commented on #3917
Is it related to spring boot used in another modules? Anything i can check?

пн, 9 сент. 2019 г., 13:45 Alexey Loubyansky <notifications@github.com>:

[2019-09-09 09:11] aloubyansky commented on #3917
Does it use that version of cdi? `/gradlew :app-quarkus:dependencies --configuration compileClasspath -q` does not list it. It mentions:
* javax.enterprise:cdi-api:1.2 -> 2.0.SP1 (*)
* javax.enterprise:cdi-api:2.0 -> 2.0.SP1 (*)

I'm not sure where 1.0 comes from.

[2019-09-09 09:13] geoand commented on #3917
Perhaps:

[code]

although it seems to indicate that `1.2` is overriden

[2019-09-09 09:13] aloubyansky commented on #3917
compileClasspath should dominate the build classpath. So the older version of CDI must be coming from Gradle setting up the CP.

[2019-09-09 09:44] emmanuelbernard commented on #3886
Another though I had recently is whether we should support something like this

`-Dquarkus.(static|web)resource.path=/some/other/path`

Which would add a new path outside the app containing static resources. It could be listened ot for hotdeployment too as needed. That way you can point your backend to the output dir of your front end project and have a zero copy experience.

Feel free to shoot th

[2019-09-09 09:59] emmanuelbernard commented on #2323
A quick first step would be to have a `quarkus-jdbc-mysql` extensions that is just the mariadb extension but also publishes a MySqlBuildItem. The Hibernate extension could listen to it and flip the dialect property.
It would not work for an add having two datasources one with maria and one with mysql but that's a first step that does not requires to make the MySQL driver work on GraalVM. This shou

[2019-09-09 10:03] emmanuelbernard commented on #3918
Related to https://github.com/quarkusio/quarkus/issues/3919

[2019-09-09 10:04] gsmet commented on #3886
@emmanuelbernard I think it's probably something we need to figure out for 1.0? WDYT?

[2019-09-09 10:05] emmanuelbernard commented on #3607
I would not be opposed to make a stand and only support JUnit 5

[2019-09-09 10:15] emmanuelbernard commented on #3859
Guillaume is right, we should look at the docker-build and container-runtime to make sure we run the native executable from the right OS. But then this raises the question of which port to open and which Docker image to use.

Essentially, we nee to ask the user to do the following steps or have convention over configuration to do the same

Have a dockerfile

[code]

esp the port number if it has c

[2019-09-09 10:26] emmanuelbernard commented on #3886
It’s in the nice to have category for me. Looks like a net new feature we
can put post 1.0 if we have too.

On Mon 9 Sep 2019 at 12:04, Guillaume Smet <notifications@github.com> wrote:

[2019-09-09 10:32] aloubyansky commented on #3917
It's not an application dependency. The jar is coming from the parent classloader of the one Gradle creates to compile the app. It could be one of the Gradle plugins bringing it in. So it could be Spring Boot.

[2019-09-09 11:20] geoand commented on #3859
Could we perhaps leverage the container that created the native executable to also start the application and run the tests against it instead of needing a new docker image and container?

[2019-09-09 11:26] emmanuelbernard commented on #3859
you still need to define the right port openin

[2019-09-09 11:29] geoand commented on #3859
But for tests that is `8081` (configurable via a property of course). So couldn't we just use that?
I think it would work, although I might be missing something

[2019-09-09 12:25] hantsy commented on #3914
@machi1990 Hm, can we implement it like: If there is a openapi.json/yml existed, then the "Scan" is disabled by default.
And the openapi schema file name(eg. myapi.json etc) may can customized via configuration.

[2019-09-09 12:29] sberyozkin commented on #3856
@gsmet, hi, as long as JSON is not consumed as String or InputStream directly in the user code, it should indeed help the users.

[2019-09-09 12:40] machi1990 commented on #3914
Interesting, @emmanuelbernard asked for the same thing here https://github.com/quarkusio/quarkus/pull/3932#discussion_r322200834 and opened a question in our mailing https://groups.google.com/forum/#!msg/quarkus-dev/HOLYbfWr4T8/khdNGlSnAwAJ

Either way, I think this should be an issue apart.

[2019-09-09 12:46] sberyozkin commented on #3920
Hi,
In Thorntail we had it supported by depending on the [WildFly features](https://github.com/thorntail/thorntail/blob/master/fractions/javaee/ee-security/module.conf).
I think having an extension to have the EE Security optionally supported would be good, but things are changing right now in the Quarkus security, so I don't think depending on the PicketBox for example is an option, but hopefully

[2019-09-09 12:59] rvansa opened #3935 "Using Vert.x logging APIs"
I am porting a Vert.x app which uses Vert.x logging APIs. It's not obvious how to set up logging to use Quarkus logging facilities;
[code]
works but
[code]
does not. Also, I can't just set the system property in a static constructor (it won't work even in the JVM version).

[2019-09-09 13:12] gsmet commented on #3935
@cescoffier @vietj shouldn't we deal with it in Quarkus itself if not already done? Using our JBoss Logging infrastructure should be the default.

[2019-09-09 13:24] #3372 closed

[2019-09-09 13:29] #1435 closed

[2019-09-09 13:31] jmartisk commented on #2135
This should be resolved now with latest versions. The metrics from `PrimeNumberChecker` (except the Gauge) will be visible at `/metrics/application` right after the start even before sending any other HTTP requests. Can we close this?

[2019-09-09 13:31] cescoffier commented on #3935
We need to implement and configure a Vert.x logging facade using the Quarkus logging support. There is no existing facade for JBoss Logging.

[2019-09-09 13:37] rvansa commented on #3935
@cescoffier Why can't the existing facade that delegates to SLF4J or some other framework be used, and use its adaptor to Quarkus? I understand it's not 100% efficient, but that's more a good-to-have.

[2019-09-09 14:26] sberyozkin opened #3937 "Support the configuration property indirection with custom ConfigSource"
**Description**
It is possible to use the property indirection when all the properties are set in `application.properties`:
[code]
but not when a resolution of the `password` property is supported by a custom `ConfigSource`, so the following does not work:

[code]
Having it supported would benefit Quarkus immensely, especially from the security point of view: for example, all the extensions requir

[2019-09-09 14:30] manovotn commented on #3908
Turns out using TCCL for the service discovery finds those providers inside TCK war so I suppose we should be using TCCL there?

[2019-09-09 14:33] kenfinnigan commented on #3937
This would likely require updates to https://github.com/smallrye/smallrye-config

[2019-09-09 14:38] FroMage commented on #3908
Huh, we need to ask @stuartwdouglas or @dmlloyd this question, because I copied the service-loading code from other extensions and they were not using the TCCL. Should we use the TCCL in build processors to load services?

[2019-09-09 15:45] sberyozkin commented on #3937
Hi @kenfinnigan, thanks, will have a look

[2019-09-09 15:46] jglick opened #3938 "KubernetesMockServer tests sensitive to runOrder/reuseForks"
**Describe the bug**

The `KubernetesMockServer` test resource seems to carry over mocks between `@QuarkusTest` classes in the same JVM. Since Surefire defaults to `reuseForks=true` and `runOrder=filesystem`, this means that in a project with multiple test suites using the mock server, even if individual tests (`mvn test -Dtest=SomeTest`) reliably pass, the whole suite (`mvn test`) may fail with c

[2019-09-09 15:55] dmlloyd commented on #3908
IMO we should have build items for each class loader which is injected in to build steps.  Then there'd be no more need for guessing about what the TCCL represents at any given time.

[2019-09-09 16:00] dmlloyd commented on #3592
The remaining issue should be fixed with #3934 - at least, I can't get it to fail locally now...

[2019-09-09 16:31] sberyozkin opened #3939 "Generic OIDC adapter extension"
**Description**
Quarkus already ships a Keycloak adapter extension.
However it is optimized to validate the tokens issued by Keycloak for the client to the RS server request flow only.
A generic adapter extension can help users work with other 3rd party OIDC servers.

**Implementation ideas**
Here is one [idea](https://github.com/aaronanderson/quarkus-oidc) from Aaron Anderson.
As @stuartwdouglas

[2019-09-09 16:58] dmlloyd commented on #3937
This happens because of how we wrap config sources.  But once property expansion hits the MP-config spec (and subsequently SmallRye Config), our custom property expansion will be removed and it should all begin to work consistently.

[2019-09-09 17:05] machi1990 commented on #1673
Can this issue be closed? Looks like all the related issues have been closed.

[2019-09-09 17:11] sberyozkin commented on #3092
@n1hility, @kenfinnigan, sorry, keep missing the Git notifications, need to review why.
I hoped the Keycloak team would pick this issue up :-).
AFAIK, the current Quarkus keycloak integration tests do not dynamically acquire a token, so for the test purposes at least, it would be handy (I'm assuming some in-memory DBs are used for similar purposes, it would be the same idea :-) ).

Good point, hav

[2019-09-09 17:13] #2287 closed

[2019-09-09 17:20] dmlloyd commented on #1673
Yes, I think so.  Thanks.

[2019-09-09 17:20] #1673 closed

[2019-09-09 18:21] teriiehina commented on #1658
Hi @codecr, sorry for not giving the details.

I'm indeed using the quarkus `0.21.1` and GraalVM `19.1.1`.

The solution is giving in the error log:

    Try marking this class for build-time initialization with --initialize-at-build-time=oracle.jdbc.driver.BlockSource

If you look at the `quarkus-maven-plugin` plugin configuration in my `pom.xml` example, you will see the `<additionalBuildArgs>`

[2019-09-09 19:06] codecr commented on #1658
Hi @teriiehina ,

Actually my pom is identical to your suggestion but if try to switch to --initialize-at-build-time I got another set of errors.

[2019-09-09 19:42] #3914 closed

[2019-09-09 20:20] #3876 closed

[2019-09-09 20:39] geoand commented on #3938
@iocanel how can one reset the Mock server? I searched a little but I didn't come up with anything useful

[2019-09-09 21:30] gwenneg commented on #3876
`RestAssured` (and the `TestHTTPResource` injections) should now be automatically configured when a custom servlet context path is used.

[2019-09-09 22:58] teriiehina commented on #1658
OK. sorry, I won't be of much help.

[2019-09-10 00:53] #3881 closed

[2019-09-10 01:21] stuartwdouglas commented on #3920
We will have a very similar bean called SecurityIdentity: https://github.com/quarkusio/quarkus-security/blob/master/src/main/java/io/quarkus/security/identity/SecurityIdentity.java

[2019-09-10 05:17] 4ntoine commented on #3917
I've tried to [disable](https://github.com/4ntoine/NotesServerApp/commit/cc883dc3acc4fef534a83f8c60348e9508c6514e) spring-related plugins and it did not help - still having the same issue. Anything i can try?

[2019-09-10 05:41] stuartwdouglas commented on #3917
Does gradle have the equivalent of mvn dependency:tree ?

On Tue, 10 Sep. 2019, 3:17 pm Anton Smirnov, <notifications@github.com>
wrote:

[2019-09-10 05:47] geoand commented on #3917
Yeah, `./gradlew :dependencies` a portion of its output was posted above (for application dependencies).
But in this case I think we would need to find a way to show the dependencies of the plugins based on what @aloubyansky found.

[2019-09-10 07:11] cescoffier commented on #3935
@rvansa it won't work in native as the LoggerDelegateFactory is not registered for reflection.

[2019-09-10 08:30] jmartisk opened #3943 "Support injection of arguments into Arquillian test methods"
Some tests from the MP Metrics TCK are using this and for now we've had to exclude them.
CC @kenfinnigan @mkouba @manovotn

[2019-09-10 09:32] sberyozkin commented on #3939
The other thing is that right now Quarkus can't support the OIDC confidential clients which are running as web servers (these are the clients which are acquiring both the OIDC ID and access tokens at the same time as part of the authorization code or hybrid OIDC flows and using the access tokens to access the remote resource servers).
The current adapter support is only about verifying the access

[2019-09-10 09:37] sberyozkin commented on #3939
@patriot1burke, @sebastienblanc, @pedroigor, hi Keycloak experts, FYI

[2019-09-10 09:39] gsmet opened #3945 "Use enums for Hibernate ORM configuration"
This will allow to have the values properly documented.

[2019-09-10 09:50] aloubyansky commented on #3917
If anybody's interested, here is the complete classloader hierarchy just before the augmentation phase https://paste.fedoraproject.org/paste/icSItlZemOoDjVZbW4sx-A
I still couldn't figure out what brings it in though.

[2019-09-10 09:56] loicmathieu opened #3946 "Document the usage of opentracing JDBC sampler"
**Description**
Following this discussion on SO: https://stackoverflow.com/questions/57854200/how-do-i-enable-jaeger-jdbc-tracing-in-quarkus/57855614 it is possible to use `opentracing-jdbc` with Quarkus to have spans for each SQL query. But the latests version of the library cannot be used due to consistency between smallrye-openapi and opentracing-jdbc dependencies.

**Implementation ideas**
- A

[2019-09-10 10:05] lordofthejars opened #3947 "SSL handshake error when using dev mode"
**Describe the bug**

I have created a service that connects to an external https service (https://api.punkapi.com/v2/beers). To make this connection I have used the MP Rest Client. Then I start the service using dev mode. The first request I do works perfectly but if I do a change in the code and then I do again the request I get an exception: `Caused by: javax.net.ssl.SSLHandshakeException: Rece

[2019-09-10 11:54] abelsromero opened #3949 "Unable to map exceptions other than `Exception` and `ApplicationException`"
**Describe the bug**
I am trying to adjust the response for errors provided by quarkus extensions but it does not seem to be possible to capture those in ExceptionMappers.
Also, this issue (https://github.com/quarkusio/quarkus/issues/3253) mentions that `WebApplicationExceptions` works, but that's not the case for me. So I cannot easily capture javax.ws.rs.core.Response exceptions easily.

**Expec

[2019-09-10 12:05] gsmet opened #3950 "Improve consistency of the Mailer extension packages"
Right now, we end up with the config reference doc being named `quarkus-mailer-impl.adoc` due to these inconsistencies.

We could work around it in the config reference doc generation but having consistency is better.

[2019-09-10 12:07] gsmet commented on #3949
@abelsromero any chance you could create a quick reproducer? It would be helpful. Thanks!

[2019-09-10 12:43] sebastienblanc commented on #3526
@Sanne Hi ! I'm trying to workaround the issue by building graal locally but I have an issue to install the `native-image` command, could you tell me how you did it ?

[2019-09-10 13:21] #3943 closed

[2019-09-10 13:47] #3909 closed

[2019-09-10 13:53] gsmet commented on #3909
For the record, it's not possible to put things in `docs/target` as it gets cleaned up before generating the doc on `mvn clean install` so I moved things to the global `target/` directory.

[2019-09-10 14:24] abelsromero commented on #3949
Sure! Here it is a stripped version of my project https://github.com/abelsromero/quarkus-issue3949.
The readme contains instructions about how to run it.

[2019-09-10 14:32] gsmet commented on #3947
@lordofthejars could you create a simple reproducer? Thanks!

[2019-09-10 14:33] lordofthejars commented on #3947
Yes no problem, let me push it on GH

[2019-09-10 16:23] lordofthejars commented on #3947
Here it is https://github.com/lordofthejars/quarkus-https

To reproduce it is important to start in dev mode, do a request, then change something in your code (ie add a sysout in the resource) and then do the request again.

Thanks.

[2019-09-10 19:02] gwenneg commented on #3861
Hi @tsfullman! I just tried to reproduce your issue without success.

Could you provide a minimal reproducer and also tell me which version of Gradle you're using?

[2019-09-10 19:20] gwenneg commented on #3313
Fixed in #3451

[2019-09-10 19:20] #3313 closed

[2019-09-10 20:29] rdifrango opened #3954 "Using Jackson support for Kotlin fails in native mode."
**Describe the bug**
When using the Jackson Kotlin module with a Kotlin data class, it fails in native mode with the following:

[code]

The example code is pretty straight forward:

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)
If I run this in JVM mode, aka `mvn compile quarkus:dev`, or as a runnable jar it works just fine.

**Actual behavior**
(Describe t

[2019-09-10 20:53] rdifrango commented on #3954
For a short-term work-around the following working:

[code]

[2019-09-11 08:10] gsmet commented on #3954
I think this is a legit issue. As a parameter of a REST method, the `Address` type should be registered for reflection automatically.

There's something wrong going on.

[2019-09-11 08:28] gcollin opened #3957 "Mongo-Client FindOneAndReplace blocking in some cases"
**Describe the bug**
When enhancing the provided using-mongodb-client quickstart to support PUT to replace existing documents in a collection, one wants to use

[code]

**Expected behavior**
If the filter doesn't match any element, then a new document is inserted automatically (upsert)

**Actual behavior**
The call to findOneAndReplace() never returns.
However, with

[code]
Then a new document is

[2019-09-11 08:31] gsmet commented on #3957
@cescoffier can you have a look at this one (or delegate)?

[2019-09-11 08:32] gsmet commented on #3954
@geoand any chance you could have a look to this one?

[2019-09-11 08:40] geoand commented on #3954
@gsmet sure thing

[2019-09-11 09:06] geoand commented on #3954
This doesn't appear to be a Quarkus issue.
The `Address`  class does get registered for reflection correctly.
In order to confirm @rdifrango can you please use your workaround without the `@RegisterForReflection` annotation? If I am correct, it should still work.
In that case you'll need to go read up on what the proper way to use Kotlin data classes and Jackson.

[2019-09-11 09:08] lburgazzoli opened #3958 "SmallRyeConfig : ClassLoader_resolveClass error"
**Describe the bug**
When adding camel into the mix, I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  clone https://github.com/lburgazzoli/quarkus-camel-example
2.  built the native image

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:  Linux mars 5.2.11-200.fc30.x86_64
 - Output of `java -version`: OpenJDK 64

[2019-09-11 10:02] ia3andy opened #3962 "Add Apache Camel extension available in project creation tooling"
Until the Platform is ready, we need to temporarily make Apache Camel available in the project creation tooling:
https://github.com/apache/camel-quarkus/issues/190

We need to update: https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/filtered/extensions.json

@aloubyansky is working on making it possible to add external extensions without affecting the bom. Could you link t

[2019-09-11 10:03] gsmet commented on #3947
@kenfinnigan @stuartwdouglas this might be of some interest to you.

[2019-09-11 11:10] sberyozkin commented on #3920
Nice, can be a much lighter alternative

[2019-09-11 12:04] FreifeldRoyi commented on #1847
+1

[2019-09-11 12:30] kenfinnigan commented on #3947
Does it need a separate trust store? https://github.com/eclipse/microprofile-rest-client/blob/master/spec/src/main/asciidoc/ssl.asciidoc

[2019-09-11 12:32] lordofthejars commented on #3947
I don’t think so, in my case just worked without installing anything

El El mié, 11 sept 2019 a las 14:31, Ken Finnigan <notifications@github.com>
escribió:

--
Enviat amb Gmail Mobile

[2019-09-11 12:43] dmlloyd commented on #3958
I just want to note a couple of things.

@lburgazzoli, your `java -version` output is incomplete, and doesn't say what the actual version is.  But in any event I think we'd want the versions used by docker, whatever they may be...

The first method that is failing to be parsed is one that was generated by SVM itself.  So it seems odd that it is not parsing its own bytecode for some reason.  But, b

[2019-09-11 12:56] lburgazzoli commented on #3958
The full java version on my host is:

    openjdk version "1.8.0_222"
    OpenJDK Runtime Environment (build 1.8.0_222-b10)
    OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)

The I'm building with the docker images used by the quarkus maven plugin when it is configured to build the native image through docker:

     quay.io/quarkus/ubi-quarkus-native-image:19.1.1

Which reports:

    doc

[2019-09-11 12:59] hantsy opened #3965 "Jpa criteria support in Hibernate ORM Panache"
JPA Criteria is very important for developers. Hope add  Spring Data like `Specification` to build query Criteria and provide variants of existed methods , eg. `findAll(Specification, Sort)`.

[2019-09-11 13:10] johnbanq commented on #3965
In addition to that, can we come up with something like JHipster's entity filtering mechanism?
It allows you to write things like age.lessThan=10 in your query parameters and get it converted to criteria queries.
Not a big feature but I would say it is a nice addition

[2019-09-11 13:15] hantsy opened #3966 "Support custom methods by convention in Hibernate ORM Panache"
Spring Data and Apache DeltaSpike allow users declares a custom without codes to implement.

eg.

`findByStatus(Status status)` query by status properties in the Entity.

[2019-09-11 13:18] hantsy opened #3967 "Provides Optional result in Hibernate ORM Panache"
For single result  query , return a Optional to align with Java 8.

Such as `Optional<Post> p = this.findById(id)`

[2019-09-11 13:21] hantsy opened #3968 "Provide Asyn CompletableFuture in Hibernate ORM Panache"
Execute the query in another thread.

Some like the example in Spring Data.

[code]

[2019-09-11 13:32] hantsy opened #3969 "Provide a more generic save method in Hibernate ORM Panache"
Currently  the persist is provided, I can not found the merge method.

If possible provide a generic  `save` method(and `saveAll`) like Spring Data JPA.

[code]

[2019-09-11 13:35] rdifrango commented on #3954
@geoand you're correct, it still works if I remove `@RegisterForReflection`.

I also tested by swap back to `val` from `var` but with default values and that's when it fails again, so working:

[code]

[2019-09-11 13:39] geoand commented on #3954
Thanks for confirming and looking into it.
It certainly looks like it's an issue with how Kotlin and Jackson interact.

So I will go ahead and close this since it doesn't appear to be a Quarkus issue. If you feel that is not correct, please reopen and provide an update.

Thanks

[2019-09-11 13:40] rdifrango commented on #3954
@geoand I still think this is an issue as the *NOT WORKING* case, works just fine in JVM mode, it only fails in NATIVE mode.

[2019-09-11 13:44] rdifrango opened #3970 "Native Mode: Performance test `socket: too many open files`"
**Describe the bug**
(Describe the problem clearly and concisely.)
With the JVM variant of Quarkus we were able to run ~450 virtual users, however, we can’t go above 200 vus as the native image complains `socket: too many open files.`

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Repro

[2019-09-11 13:44] geoand commented on #3954
@rdifrango a small reproducer then where I can see the exact error you are getting?

[2019-09-11 13:48] rdifrango commented on #3954
The code above is exactly what I used, nothing more nothing less :)

To build it we issue:

[code]

To run it:

[code]

[2019-09-11 13:49] geoand commented on #3954
If you could upload it to github or something, so I don't make any mistakes while trying to reproduce that would be great :)

[2019-09-11 13:56] rdifrango commented on #3954
@geoand , I'll see what I can do, sadly uploading to GH is non-trivial at the office :)

Here's the maven POM file:

[code]

[2019-09-11 14:02] geoand commented on #3954
Thanks @rdifrango,  I'll try and reproduce it. One last thing, do you have a curl command for POSTing to the endpoint?

[2019-09-11 14:05] rdifrango commented on #3954
[code]

[2019-09-11 14:06] geoand commented on #3954
Thanks, I'll try it and let you know

[2019-09-11 14:29] geoand commented on #3954
I was able to reproduce thje problem.
It doesn't look like a regular Quarkus problem (since the class is registered for reflection), but more some kind of weird interop issue.
I am guessing it will take a lot more digging than I can do at the moment, so let's leave it open and I'll take a look when I have som extra time.

[2019-09-11 14:29] rdifrango commented on #3954
thank you @geoand!

[2019-09-11 14:50] geoand commented on #3954
Actually what we are seeing seems consistent with the Kotlin module not being applied in native mode.

[2019-09-11 15:23] machi1990 commented on #3968
@FroMage is this somehow related to Panache-Rx https://github.com/quarkusio/quarkus/issues/2198, you have been working on ?

[2019-09-11 15:48] rdifrango commented on #3970
Closing, as we think its an issue with out kubernetes cluster.

[2019-09-11 15:48] #3970 closed

[2019-09-11 17:45] Nunalves opened #3973 "H2DatabaseTestResource does not work in native mode"
**Describe the bug**
I use the H2DatabaseTestResource like described here:
https://stackoverflow.com/questions/55063778/how-can-use-an-in-memory-h2-database-when-testing-my-quarkus-application

I simply persist some data with a PanacheEntity for the test to retrieve that data.
Here is a simple reproducer project:
[quarkus-h2-test.zip](https://github.com/quarkusio/quarkus/files/3602048/quarkus-h2-t

[2019-09-11 18:41] geoand commented on #3973
Actually I think this is expected, right @gsmet?

[2019-09-11 19:44] misl commented on #284
Any progress or timelines on this? I am highly interested as well.

Is there any example code somewhere of what this would look like?

[2019-09-11 20:28] DineshNO opened #3975 "Quarkus user guide in pdf format"
Quarkus user guide in pdf format will be really helpful to learn faster offline too.
Junit5 user guide are available in PDF download format which are really useful.

[2019-09-11 20:46] gwenneg commented on #3975
Have you heard of the [Quarkus Cheat-Sheet](https://lordofthejars.github.io/quarkus-cheat-sheet/) written by @lordofthejars? It covers most of the Quarkus documentation topics and there's a PDF version available too.

[2019-09-11 21:10] dmlloyd commented on #284
No but I could spitball a few concepts to see what sticks.

The simplest to implement would be to have a user-provided implementation of the proposed [`ExecutionHandler`](https://github.com/dmlloyd/quarkus/blob/cmd/core/runtime/src/main/java/io/quarkus/runtime/execution/ExecutionHandler.java) interface, which would look something like this:

[code]

Another option would be to provide a "smart" ann

[2019-09-12 00:41] stuartwdouglas commented on #3949
The issue is that RollbackException is a checked exception, so Arc needs to wrap it in a RuntimeException. If you add 'throws javax.transaction.RollbackException' to save() (and all callers of save) this will work as expected.

That said we could probably make this work better, maybe Arc could have a specific RuntimeException subclass it throws in this case, and Resteasy could know to unwrap it. C

[2019-09-12 04:34] #3593 closed

[2019-09-12 06:58] emmanuelbernard opened #3981 "Report boot time and RSS measures for REST and RESTCRUD on master"
It will be useful to keep track of the boot time and RSS usage of the REST app and REST + CRUD app for master on a daily (or every other day basis). It would spot regressions in term of memory usage. I'm specifically looking at the native image generation.
We need to be alerted by email of such variation.

[2019-09-12 07:54] abelsromero commented on #3949
It's been a while since I worked with JAX-RS and my memory could be wrong. But  I thought the system checked exceptions in the stacktrace locking for a match.
But the fix makes me think that only top level exceptions are being machted.

[2019-09-12 07:58] loicmathieu commented on #3965
There are ongoing discussion in this area in the following issue: https://github.com/quarkusio/quarkus/issues/2303

[2019-09-12 09:03] ia3andy opened #3985 "Create quarkus-sentry Extension"
**Description**
This extension would add sentry support, the idea would be that when the sentry extension is enabled, you configure `quarkus.sentry.dsn` and you are done.

**Implementation ideas**
Here are some leads to implement it provided by @dmlloyd:

the configuration is held in `io.quarkus.runtime.logging.LogConfig` and its members
in order to add Sentry support, we'd need to do one of two p

[2019-09-12 10:15] anadollu opened #3987 "Infinispan client extension : infinispan version upgrade to 10.0.0.CR1"
**Description**
A newest more stable version of Infinispan server 10.0.0.CR1 is available at the moment but current quarkus infinispan client extension uses 10.0.3.Beta version of infinispan client libraries.

[2019-09-12 11:18] mkouba opened #3990 "NPE when handling circular dependencies"
If there is a normal scoped bean that declares a normal scoped producer and the bean depends on the producer method a NPE is thrown. See for example [MPConfigBean from the MP CP TCK](https://github.com/eclipse/microprofile-context-propagation/blob/master/tck/src/main/java/org/eclipse/microprofile/context/tck/MPConfigBean.java)

The producer bean can be added before the declaring bean and so a null

[2019-09-12 13:21] geoand opened #3992 "Support not supplying a value for name in Spring Web @PathVariable"
In the current Quarkus integration when using Spring Web's `@PathVariable` one needs to supply a value for `name` (or `value` which is an alias) like so:

[code]

In Spring Web this is not absolutely necessary because Spring can use the method parameter name (if the `-parameter` flag has been supplied during source code compilation).
We should try and do the same.

See: https://github.com/quarkusi

[2019-09-12 14:11] emmanuelbernard opened #3994 "Release notes for 0.22"

[2019-09-12 15:13] loicmathieu opened #3995 "Provides a way to disabled Jaeger opentracing"
**Description**
Currently, when you include the `smallrye-opentracing` extension, there is no way to disabled it. But it's very common that, in dev, you don't have a Jaeger server.

Jaeger tracing can also impact the performane of an application so it can be convenient to have an easy way to disabled it for troubleshooting.

The only way to disable the extension is to provides nothing for the `qua

[2019-09-13 07:29] dwamara commented on #3969
It's strange that you write that because the merge method is implemented by the EntityManager and up til now I have been using it without any problem.
This is a piece of one of my codes and I am using Hibernate with Panache
[code]

[2019-09-13 07:55] mkouba opened #4002 "Auto-@Inject fields break producer fields"
Also if a producer field is annotated with `@Inject`, the container should detect the problem.

[2019-09-13 08:01] #3900 closed

[2019-09-13 08:05] gytis commented on #3436
@geoand we could use Maven Shade Plugin to pick the interfaces that are needed for Quarkus and release them under our own GAV name.

[2019-09-13 08:09] geoand commented on #3436
@gytis Interesting! I think Spring Framework uses gradle however - although yeah the same idea would apply I assume.
Would you like to start experimenting with this? Having this absolutely miminum dependencies would be a great benefit to reduce the footprint of Quarkus applications using the spring modules.

[2019-09-13 08:10] dwamara commented on #2759
@gsmet @emmanuelbernard Just wanted to bump this one as it seems to have been forgotten and I quite desperately need it.

[2019-09-13 08:12] gytis commented on #3436
I tried it briefly a couple of weeks ago and it works fine. The main issue is to cherry-pick all the required classes and interfaces and list them in the plugin configuration. I'll try it properly on Monday.

[2019-09-13 08:20] geoand commented on #3436
Awesome, thanks!

[2019-09-13 08:27] mkouba commented on #3990
I fixed one issue but there are certainly other corner cases that are not covered. In any case, I'm going to send a PR and we can continue improving the code ;-). Thanks a lot for the feedback.

[2019-09-13 08:54] #3995 closed

[2019-09-13 09:16] gastaldi commented on #447
I believe this issue can be closed as code.quarkus.io is now live?

[2019-09-13 09:19] machi1990 commented on #447
Good point. Starter site available at https://code.quarkus.io/.  Closing.

[2019-09-13 09:19] #447 closed

[2019-09-13 09:41] mthmulders commented on #3990
Thanks for having a fix ready even before I could start to think of one :-)

[2019-09-13 09:43] edewit commented on #588
So either you put the front-end inside the quarkus project and let the maven front-end plugin generate the site, or you have a separate project and let npm tooling (or front-end plugin) put the output in the quarkus project. But for both of these solutions you would need the `quarkus:dev` command to also watch the target folder for changes, right? Does that sum it up?

[2019-09-13 09:48] emmanuelbernard commented on #3994
Also add

## New extensions

The extension ecosystem is growing very nicely.
We are working on a model to streamline extension publications. We call this effort the Quarkus platform.
In the mean time we have seen community members wanting to collaborate on extensions, we have created a [new issue template](https://github.com/quarkusio/quarkus/issues/new?assignees=&labels=extension-proposal&templat

[2019-09-13 09:50] emmanuelbernard opened #4005 "Extension for CXF"
**Describe the extension**

Discuss CXF support via an extension (either partial support or full is TBD).
Interested, please +1 via the emoji/reaction feature of GitHub (top right)

**Configuration suggestion**

[code]

**Additional context**
(Add any other context about the proposal here.)

We mainly use SOAP/XML based web services driven by our insurance industry standard formats ( MISMO) . We a

[2019-09-13 10:15] gsmet commented on #2759
@dwamara It's not forgotten, just not yet on the top of my list. I'll see if I can prioritize it a bit more.

[2019-09-13 10:16] gsmet commented on #2759
BTW: we need quite a lot of infrastructure work done before: support multiple PU in the ORM config for instance.

[2019-09-13 10:27] ottuzzi commented on #4005
I work in banking environment where SOAP+XML is the de facto standard and still will be standard for the years to come.
CXF is the most mature/flexible jax-ws implementation today so it would be a great choice.
Please note that CXF is also a jax-rs implementation so you can have problems with resteasy (at work we use wildfly and we disable wildfly jaxrs and jaxws subsystems through jboss-deploymen

[2019-09-13 10:43] machi1990 commented on #2759
@gsmet I was planning to give this a go and then was stuck on this :-(

[2019-09-13 10:50] gsmet commented on #2759
@machi1990 well, even if you miss the multiple PU stuff, maybe you can try to work on the infrastructure work for Panache? The main issue is that we need to inject the proper entity manager.

Obviously, you wouldn't be able to test it until we have the multiple PU support coming but it would help to have it ready.

[2019-09-13 10:53] misl commented on #3905
Thanks @kenfinnigan for pointing me to this issue.

Swagger for example already has [Swagger Inflector](https://github.com/swagger-api/swagger-inflector). And the other day discovered [Vert.x Web API Service](https://vertx.io/docs/vertx-web-api-service/java/). This together with Quarkus seems like an ideal development stack to me. Although I wonder what plumbing it takes to get this working.

It s

[2019-09-13 10:57] machi1990 commented on #2759
Nice. Thanks for the heads up. I'll slide in your DM a little later to talk about this :-)

[2019-09-13 10:57] misl commented on #3905
BTW If would could not only target OpenAPI but [AsyncAPI](https://www.asyncapi.com/) as well that would be even better. :-)

[2019-09-13 11:14] remkop commented on #284
Would there be any interest in cooperation with the [picocli](https://github.com/remkop/picocli) project? Picocli has:

* GraalVM [native image support](https://picocli.info/#_graalvm_native_images) (see the [picocli-codegen](https://github.com/remkop/picocli/tree/master/picocli-codegen) annotation processor)
* intuitive API with annotations for options and positional parameters, invoke with one l

[2019-09-13 11:17] geoand commented on #284
Hey @remkop

I think that ideally things would designed in a why that could make integrating libraries like picocli and [aesh](https://github.com/aeshell/aesh) via a dedicated Quarkus extension very easy

[2019-09-13 11:22] EricWittmann commented on #3905
There is a smallrye project for asyncapi here:  https://github.com/smallrye/smallrye-async-api/

Not too much there yet, but it's a place to explore ideas.

[2019-09-13 11:33] subhash-koganti commented on #4005
Thanks for creating this proposal Emmanuel . It will definitely help people working in the insurance and financial services industries who are still on SOAP web services due to existing electronic data interchanges with their B2B customers .

[2019-09-13 11:44] #4002 closed

[2019-09-13 11:47] haraldatbmw opened #4009 "native-image - static resources in sub-directories"
**Describe the bug**
My static HTML web-resources are located inside the directory META-INF/resources. My JavaScript, CSS files and images are in sub-directories (e.g. META-INF/resources/images, META-INF/resources/scripts, META-INF/resources/styles).

If I create a native image only the files directly inside the META-INF/resources directory are included not the sub-directories and its files.

**Ex

[2019-09-13 11:52] remkop commented on #284
@geoand That makes sense.

Command line applications may want to use Quarkus dependency injection to inject services into their commands and subcommands.

Picocli is designed to [integrate with dependency injection containers](https://picocli.info/#_custom_factory).

What I am proposing is to add an extension that provides a picocli `IFactory` implementation to get objects from the Quarkus depende

[2019-09-13 11:54] geoand commented on #284
:+1:
That looks very similar to what I had prototyped with Aesh a few months ago :)

[2019-09-13 12:05] remkop commented on #284
Would there be interest in a pull request for such a picocli extension?

[2019-09-13 12:07] geoand commented on #284
@remkop Thanks a lot for the offer to help!
But first I think we would need to settle on the basics of the design that will allow creating applications that immediately exit

[2019-09-13 12:15] remkop commented on #284
Interesting! Isn't it enough to simply have a way to start and stop the context? E.g.:

[code]

[2019-09-13 12:17] geoand commented on #284
Not exactly :)

For one thing, in Quarkus the main method (and class) is generated since there are a lot of things that need to happen at startup.

[2019-09-13 12:18] remkop commented on #284
Interesting! Perhaps it is an idea to push that work into `ContextBuilder.build()`?

[2019-09-13 12:20] geoand commented on #284
That could be one idea perhaps. @dmlloyd has done all the heavy lifting in this area so he is the best person to comment :)

[2019-09-13 12:50] ppalaga commented on #3958
I am getting a very similar stack trace with the code in https://github.com/apache/camel-quarkus/pull/201 also using the default docker image of Quarkus 0.21.2

[code]

[2019-09-13 12:58] remkop commented on #284
Understood.

@dmlloyd Does the above look feasible/interesting?

An alternative approach is for Quarkus to provide Spring Boot-like `CommandRunner` and `ExitCodeGenerator` interfaces. That would also work: picocli has a [`picocli-spring-boot-starter`](https://github.com/remkop/picocli/tree/master/picocli-spring-boot-starter) containing a `PicocliSpringFactory` to integrate with Spring that way. It

[2019-09-13 13:37] dmlloyd commented on #284
I don't think it's really feasible for us to do it this way, just because the state of the system is very fragile when `main` is entered, and we need certain controls over the app lifecycle (especially for dev mode and testing, but likely for other things as well in the future).  Also we may need to guarantee (in certain cases) that the setup code for extensions is always run on the `main` thread

[2019-09-13 13:40] dmlloyd commented on #3958
Yep this stack trace similarly seems to show that something is trying to call `ClassLoader#resolveClass` reflectively.  Whatever it is will need to be substituted.

[2019-09-13 14:00] aguibert commented on #2457
FYI eclipse-ee4j/yasson#230 has been closed now (fixes as of Yasson 1.0.4) so this issue can likely be closed

[2019-09-13 14:04] gsmet commented on #2457
Thanks for the heads up @aguibert , closing.

[2019-09-13 14:04] #2457 closed

[2019-09-13 15:10] lburgazzoli commented on #3958
Adding

    --report-unsupported-elements-at-runtime

make the application compile and run as expected

[2019-09-13 17:02] tsfullman commented on #3861
Hi, It seemed to start working on quarkus 0.21.1 but I'm not sure why. It also works on 0.21.2 now that that has been released. However, it does still have the same error as mentioned above when building with 0.21.0. The gradle version is 5.5.1

[2019-09-13 17:06] lburgazzoli commented on #3958
turns out that this is a problem in how camel handles xml: we can enable/disable xml/jaxb related bits with a build time configuration option but that does not influence the classpath hence, when xml processing is not disabled it is required to add quarkus-jaxb

[2019-09-13 17:06] #3958 closed

[2019-09-13 17:12] ppalaga commented on #3958
@lburgazzoli sounds like we need a followup issue on the Camel Quarkus side?

[2019-09-13 19:07] gwenneg opened #4013 "Upgrade GraalVM to 19.2.0.1"
The GraalVM team released a critical patch update today: [19.2.0.1](https://github.com/oracle/graal/releases/tag/vm-19.2.0.1) ([release note](https://www.graalvm.org/docs/release-notes/19_2/#19201)).

[2019-09-13 19:10] dhartford commented on #588
Actively reviewing a similar challenge where using a quarkus application that is in need of a UI, that based on any large/enterprise organization may mandate react+their styling / angular+their styling / some-other-nodejs-based-solution-specific-to-environment-working-in.

Having a 'developer joy' example that interacts with a nodejs-based UI (reactjs my preference), such as with the maven-front-e

[2019-09-13 19:27] gsmet commented on #4013
@cescoffier ping to create the images :).

[2019-09-14 00:02] rarguello commented on #3526
Fixed in GraalVM 19.2.0.1: https://www.graalvm.org/docs/release-notes/19_2/#19201

[2019-09-14 00:06] rarguello commented on #3526
#4013 will fix this

[2019-09-14 01:33] hantsy commented on #3969
@dwamara I have not found it in the `PanacheEntity` and `PanacheRepository`.

[2019-09-14 06:12] hantsy opened #4015 "Support QueryByExample in Panache"
Hibernate and Spring Data JPA provide **query by example**, I hope includes this in Quarkus.

eg.

`findByExample(Example)`
`countByExample(Example)`

Example.builder.xxx.build to get an example.

[2019-09-14 06:16] hantsy opened #4016 "Support QueryDSL in Panache"
QueryDSL is very popular in developer communities, as an alternative of JPA APIs, it is better to add it in Quarkus.

[2019-09-14 06:21] hantsy opened #4017 "Support Mapper applied in the query result in Panache"
Spring Data JPA and Apache DeltaSpike provides possibility to mapping the query result to another type.

eg.

`PostDto findByStatus(status)` to convert Post to PostDto automatically.

[code]
to convert Post to PostDto by the custom mapper.

And It should also convert the model type in a `List`, `Stream`, `Optional`, `CompleteFuture` etc.

[2019-09-14 07:27] dwamara commented on #3969
@hantsy because you can find it in the EntityManager. The datasource you declare in your application.properties also serves to instantiate the EntityManager and you can then use it to merge your entities if you want.

[2019-09-14 08:09] remkop commented on #284
Thanks for the clarification.

Looking at your comment above, I like the simplicity of the `@MainMethod` annotation. Some questions:

* Who will be responsible for calling `System.exit`? One idea is to let Quarkus exit the JVM if the  `@MainMethod`-annotated method returns an `int`, and avoid calling `System.exit` if the  `@MainMethod`-annotated method returns `void`, but that doesn’t cater for ca

[2019-09-14 09:28] Dufgui commented on #4005
I start a work on it. Now I must test to see if it's do the job....

[2019-09-14 10:35] hantsy commented on #3973
Same here, tests failed when used native profile.

[2019-09-14 10:36] geoand commented on #3973
I think that is expected, but would like to hear more from others

[2019-09-14 10:41] hantsy opened #4019 "Docker env does not apply as expected"
I tried to build and run the application by a docker-compose file.

[code]
The [Application Configuration Guide](https://quarkus.io/guides/application-configuration-guide#overriding-properties-at-runtime) said, it is possible to use an env variable to override the configured properties.

When run `docker-compose up`, it still try to connect `localhost` postgres which I defined in the *src/main/res

[2019-09-14 12:08] hantsy commented on #3973
But I can not disable H2 in native test.
It requires extra DataSource configuration in *src/test/resources/application.properties*. Even I disabled all tests, it still tried to connect to H2 when run tests.

[2019-09-14 12:53] abelsromero opened #4020 "`@ConfigProperty` not working in ContextResolver"
**Describe the bug**
Properties marked for configuration injection with `@ConfigProperty` in a `ContextResolver` are null unless class is annotated with `@ApplicationScoped`.

**Expected behavior**
Property should have the value defined in `application.properties` without additional configuration.

**Actual behavior**
Property value is `null` unless class is annotated with `@ApplicationScoped`.

*

[2019-09-14 12:57] hantsy opened #4021 "Improve the application cofiguration"
When I wrote my [Quarkus sample](https://github.com/hantsy/quarkus-sample), I found an issue.
I am tried to use `quarkus-test-h2`, and it requires extra configuration in *src/test/resources/application.properties*.

If I do not define the  `quarkus.hibernate-orm.database.generation` in this test application properties. It will complain the tables are not existed when I ran tests.

But I have defin

[2019-09-14 21:28] geoand commented on #4019
Have you tried to run this with plain docker (using -e for th env var) instead of docker compose? Or even j`ava -jar ... ` with the env bar set?

[2019-09-14 21:28] gwenneg commented on #4020
@abelsromero If you want this injection to work before `0.23.0` is released, you can try adding the `@Inject` annotation to the `dateFormat` field.

[2019-09-14 21:35] geoand commented on #4009
Hi,

Can you please try:

[code]

I haven't tried it, but it might work.

In any case this isn't a Quarkus bug. This parameter is passed straight to GraalVM native-image.

[2019-09-14 21:40] geoand commented on #4020
@gwenneg any idea why it doesn't work in previous versions?
I would expect this to work since I thought `@Provider` classes were beans

[2019-09-14 21:49] geoand commented on #4019
So I tried ` QUARKUS_DATASOURCE_URL=... java -jar target/hibernate-orm-panache-resteasy-1.0-SNAPSHOT-runner.jar` with [this](https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-orm-panache-resteasy) example app and it worked as expected.
I also tried ` docker run -i --rm -p 8080:8080 -e "QUARKUS_DATASOURCE_URL=..." quarkus/hibernate-orm-resteasy-jvm` which also worked properly.

[2019-09-14 21:50] gwenneg commented on #4020
@geoand It looks like there's a @BuildStep ordering issue here. `AutoInjectFieldProcessor.annotationTransformer()` is being run after `ResteasyServerCommonProcessor.annotationTransformer()` while I think it should be the opposite. Therefore, when the method that transforms `@Providers` into `@Singleton` is run, the `@ConfigProperty`-annotated fields are not annotated with `@Inject` yet.

I'm not s

[2019-09-14 21:55] gwenneg commented on #4020
@geoand I've been looking for an existing BuildItem that could be produced by `AutoInjectFieldProcessor.annotationTransformer()` and then consumed by `ResteasyServerCommonProcessor.annotationTransformer()` to force the order, but I didn't find anything convincing yet :)

[2019-09-14 21:59] geoand commented on #4020
@gwenneg interesting. I haden't seen `ResteasyServerCommonProcessor#annotationTransformer`  before but I'm wondering why that can't be replaced with a `BeanDefiningAnnotation`.
Unless I'm missing something, that would achieve the same result and also overcome the problem you describe

[2019-09-14 22:04] geoand commented on #4020
I'll open a PR and see if CI passes

[2019-09-15 06:11] FreifeldRoyi commented on #3782
what are the ulimit values set on your computer?

[2019-09-15 07:17] hantsy commented on #4019
@geoand The final jar should work well. I have tried in my [quarkus sample](https://github.com/hantsy/quarkus-sample).

Open the *src/main/docker/Dockerfile.multistage*. I have to skip tests to complete the **test** phase for native profile, where the env **QUARKUS_DATASOURCE_URL** did not affect.

After it is built, and run the application as native container, it works as expected.

[2019-09-15 07:37] hantsy commented on #3969
@dwamara Yes, as a workaround, it worked well. I understood your meaning. What I said is it is missing in the Quarkus's Hibernate ORM Panache.

[2019-09-15 07:56] geoand commented on #4019
I'll take another look soon, but I am almost certain this is not a Quarkus problem.
Nevertheless I'll reopen the issue until I check it again

[2019-09-15 08:22] geoand commented on #4019
So what you are seeing in normal docker-compose behavior.
The `environment` section is applied at the `docker run ...` stage, not the `docker  build ` stage.
See [this](https://stackoverflow.com/questions/52429984/docker-compose-build-environment-variable) for more details.

[2019-09-15 08:22] #4019 closed

[2019-09-15 10:12] #4020 closed

[2019-09-15 12:13] #3994 closed

[2019-09-15 14:38] IThinkIGottaGo opened #4026 "Refesh brower try to hot reload changes of properties, but throws `javax.enterprise.inject.spi.DeploymentException`"
**Describe the bug**
I'am not sure is that a bug, but I just try to learn Quarkus and followed [Custom Configuration](https://quarkus.io/guides/application-configuration-guide#custom-configuration) that official doc.
Begin it's all ok, but soon I want to try whether quarkus could hot reload properties with custom configuration converter.  So I first make the target type `MicroProfileCustomValue` n

[2019-09-16 00:11] bbeaupain opened #4029 "Re-deploy resources when hot reloading"
**Description**
I think it would be useful for the hot-reload feature to also monitor and re-deploy resources from `src/main/resources` to `target/classes/` like the regular Maven compile step would do. My use-case is integrating the Pebble template engine, configured to load templates from resources (provided from `Thread.currentThread().contextClassLoader`). I would like my changes in these temp

[2019-09-16 00:19] stuartwdouglas commented on #588
So most modern frontend web frameworks provide their own development server. We need to take advantage of this, as we also want to allow for hot reload in the web framework. This means there are two apprpaches we can use:

1) Map JAX-RS under a specific path (/api), then configure the frontend server to proxy /api to quarkus.
2) Add the ability to change the 'DefaultServlet' to a proxy servlet, th

[2019-09-16 00:29] #3990 closed

[2019-09-16 01:45] gastaldi commented on #3883
@lbernardomaia your proposal seems a bit confusing, shouldn't `methods()` and `fields()` instead of being `boolean` accept a format like in https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md#manual-configuration or am I missing something?

[2019-09-16 01:47] gastaldi commented on #3883
Ah that is part of the current annotation, just realized that, sorry. :)
I think in this case those booleans need to go in favor of your `enabledAttributes` array WDYT?

[2019-09-16 06:22] haraldatbmw commented on #4009
Hi,

it already works with this argument:
`<additionalBuildArg>-H:IncludeResources=META-INF/resources/.*</additionalBuildArg>`

I think it should be the default behaviour of the native image builder that sub-directories are part of the image.

[2019-09-16 06:58] geoand commented on #4009
Oh, sorry I misread your issue :)

I think this makes sense

[2019-09-16 08:59] irishshagua opened #4031 "ExceptionMapper not handling Exceptions thrown from injected RestClient"
**Describe the bug**
For an ExceptionMapper register with a controller, it is not being fired for exceptions which are thrown by an injected RestClient

**Expected behavior**
An `ExceptionMapper<Thowable>` should handle any exceptions which could be caught in the controller code

**Actual behavior**
`WebApplicationException`s which are thrown from a RestClient are not being handled by the `Excepti

[2019-09-16 08:59] loicmathieu commented on #4005
Even on a modern stack wil often deals with SOAP WS.
I think we also need a SOAP Client as it's very common to have exisitng SOAP WS that we need to interact with. So if this extension lands please inlcude a SOAP client with it.

[2019-09-16 10:00] hantsy commented on #2303
I also wish the Panache QL accept EL like the Seam framework. such as:

`uesrname=#{identity.name}`

`role in #{identity.roles}`

[2019-09-16 10:25] machi1990 commented on #4015
@loicmathieu @hantsy would you qualify this issue as duplicate?

[2019-09-16 10:33] loicmathieu commented on #4015
@machi1990 no as #2303 has a broader scope

[2019-09-16 11:34] hantsy opened #4034 "Add EL support in Panache QL"
I  wish the Panache QL accept EL like the Seam framework. such as:

`uesrname=#{identity.name}`

`role in #{identity.roles}`

[2019-09-16 11:36] hantsy commented on #4034
related to #2303

[2019-09-16 11:38] hantsy commented on #4015
I hope in #2303, creating a checklist in issue content for all possible improvements/features in Panache is more clear, and very item refers to the specific issue link.

[2019-09-16 11:57] jmartisk commented on #3113
Hi @cescoffier, would you mind if I took this and tried to come up with some initial implementation? I'd start with Health and then perhaps Metrics as well. Or do you want to wait until these get into the specification? (I saw some open issues for it) Perhaps if we tried to implement this early, it could serve as a base for backporting it into the spec.

The liveness checks should be 'true' in all

[2019-09-16 12:22] ppalaga opened #4035 "${project.groupId} does not work well with Maven 3.6.2"
Just reported https://issues.apache.org/jira/browse/MNG-6767

What it means for Quarkus: If you are building the Quarkus source tree using Maven 3.6.2, Maven will take the latest release (currently 0.22.0) of `quarkus-maven-plugin` instead of the extpected `999-SNAPSHOT`. We either have to stay with Maven 3.6.1 or we have to replace `${project.groupId}` with `io.quarkus`.

[2019-09-16 12:24] ppalaga commented on #4035
Why are we actually using `${project.groupId}`?

[2019-09-16 13:11] geoand opened #4036 "Introduce support for Spring Cloud Stream"

[2019-09-16 13:11] geoand opened #4037 "Introduce support for Spring Security"
### Description
Decide on what features from Spring security should be supported then implement the important ones for this Epic.

### Analysis
(links to analysis docs containing architecture design work, requirements gathering, etc)

### Tasks
- [x] Support Spring Security's `@Secured` (#5225)
- [x] Support Spring Security's `@PreAuthorize` (open PR: #5787)

[2019-09-16 13:23] geoand opened #4038 "Introduce support for Spring's @ConfigurationProperties"

[2019-09-16 13:26] dmlloyd commented on #284
This is basically exactly what the patch proposes.  We generally don't want users calling `System.exit` because that can cause difficulties with unit testing (for example), and also prevents applications from returning an abnormal status if a problem happens during shutdown (which you may sometimes want in the case of a command line application).

Do you mean the bean manager?  I think we have som

[2019-09-16 13:33] alesj opened #4039 "Invalid dependency / injection resolution for producers"
[code]

[code]

[2019-09-16 13:36] hantsy opened #4040 "Add Support of Spring Data JPA specific JpaSpecificationExecutor"
Quarkus 0.22.0

I just tried Spring Data JPA feature, the first limitation is JpaSpecificationExecutor does not work.

https://github.com/hantsy/quarkus-sample/tree/master/spring-post-service

[code]

[2019-09-16 13:38] hantsy opened #4041 "Page and Pagable are not worked in Spring"
Quarkus 0.22.0

Both `Page` result, `Pageable` params  are not worked as expected.

https://github.com/hantsy/quarkus-sample/tree/master/spring-post-service

[code]

[2019-09-16 13:40] alesj commented on #4039
If I change the injection point to ProducerActions instead of Function, it works.
(with all the right generics of course)

[2019-09-16 13:40] hantsy opened #4042 "@ExceptionHandler method does not accept the WebRequest / HttpRequest as a parameter"
Quarkus 0.22.0

`@ExceptionHandler` only accept one parameter, but it should allow more params in the method param list.

https://github.com/hantsy/quarkus-sample/tree/master/spring-post-service

[code]

[2019-09-16 13:43] hantsy commented on #4038
I think `@ConfigurationProperties` is from Spring Boot.

[2019-09-16 13:44] mkouba commented on #4039
Yes, if you look at the bean types of the `registryProducer()`:

- `java.lang.AutoCloseable`
- `java.util.function.Function<org.apache.kafka.clients.producer.ProducerRecord<K, V>,java.util.concurrent.CompletableFuture<org.apache.kafka.clients.producer.RecordMetadata>>`
- `io.apicurio.registry.kafka.utils.ProducerActions<io.apicurio.registry.kafka.proto.Reg$UUID, io.apicurio.registry.kafka.proto.Re

[2019-09-16 13:45] geoand commented on #4038
That is true

[2019-09-16 13:48] hantsy commented on #4037
Currently there are some issues I found when copying a very simple Spring sample to Quarkus. I think port Spring in Quarkus is a lot of work.

Instead of introducing Spring Security I hope there is a more generic programmatic approach to configure Security rules by matching HTTP url/method etc, like the configuration in Spring Security.

[2019-09-16 13:48] loicmathieu commented on #3967
It is duplicate with #1368

[2019-09-16 13:52] geoand commented on #4037
Quarkus is going to introduce a native security solution soon.
Any work we do towards this ticket will be based on that.

[2019-09-16 13:55] geoand commented on #4040
We have made it  clear that not everything from Spring Data will work on Quarkus.
Can you give some details about how you usually use `JpaSpecificationExecutor`?

[2019-09-16 13:56] geoand commented on #4041
I'm not really sure what the issue is here, but `Page` and `Pageable` should be working as expected. See [this](https://github.com/quarkusio/quarkus/blob/master/integration-tests/spring-data-jpa/src/main/java/io/quarkus/it/spring/data/jpa/CountryResource.java).

Can you give some details of what exactly you think does not work correctly?

[2019-09-16 13:59] hantsy commented on #4040
Some like the purpose I described in issue #4016 and #3965.

 `JpaSpecificationExecutor` is to support JPA Criteria and also introduces a great `Specification` (a DDD concept) to satisfy **Type-safe** query requirements.

Many developers are practicing **Typesafe** query instead of string based query in development.

[2019-09-16 14:04] hantsy commented on #4041
In my sample, I tried to used `@PageableDefault(page = 0, size = 10, sort = "createdDate", direction = Direction.DESC) Pageable page` in request params, and return a `Page` object,  all are not worked.

Please tried my sample, and reset the commented codes.

I have used these in before Spring projects for years.

[2019-09-16 14:05] geoand commented on #4040
Thanks for the info.

When we have a general strategy around how Panache will handle such `Typesafe` handling, we can revisit this

[2019-09-16 14:13] geoand commented on #4041
I'll try this soon, however I'll need a couple more things for you please:

* Please supply a `docker run ...` command for me to start a database locally.
* Also an `import.sql` script would be great so I can have some data to play with.

Thanks

[2019-09-16 14:15] mkouba commented on #4020
@geoand I don't remember the details but it was something like that we don't register all providers found on the class path. See https://github.com/quarkusio/quarkus/pull/1924 comments for more details.

@gwenneg So your solution is ok for `@ConfigProperty` but it wouldn't work for other annotations (CDI qualifiers in general). I'll try to modify the code and make use of `AutoInjectAnnotationBuild

[2019-09-16 14:26] gwenneg commented on #4020
@mkouba That's why I was looking for a better way to fix this than #4024 :) Could you ping me when you submit the PR? I'm interested in the way you'll improve this.

[2019-09-16 14:31] #3852 closed

[2019-09-16 14:31] #3851 closed

[2019-09-16 14:39] geoand commented on #4042
OK, so basically we won't be adding support for `WebRequest` (a Spring specific type) soon, but we can probably add support for `HttpServletRequest` (the servlet type).

[2019-09-16 14:52] gsmet opened #4045 "Support config doc sections"
@machi1990 moving the discussion here.

I think we could just have:
[code]
because we will need a comment (it's mandatory) and we could have the first sentence of the comment be the title (we could automatically remove the dot) and the rest of the comment would be the intro of the section.

We could imagine supporting Asciidoc in this case too with `@asciidoclet`.

WDYT? Does it seem feasible?

[2019-09-16 14:57] machi1990 commented on #4045
Hi @gsmet thanks. It is feasible. I’ll work on this.

Just a quick question, do we support embedded ConfigDocSection?

[2019-09-16 14:58] gsmet commented on #4035
No real reason I suppose except we had plans to rename the project, which we did.

[2019-09-16 15:12] gsmet commented on #4045
Good question. If not overly complicated, why not. If it's complicated, one level looks good for now and would be nice to have ASAP (@marcinczeczko also asked for it for the Amazon Dynamodb extension).

[2019-09-16 15:15] machi1990 commented on #4045
Okay,  I have the data structure in mind. I’ll see in practice when I have my PC in front of me.

Good to see these kind of feedback after early adoption.

[2019-09-16 15:17] hantsy commented on #4041
Use my docker-compose file to serve a running Postgresql.

`docker-compose up blogdb`

I used a  bean `AppInitializer` to init data.

[2019-09-16 15:56] geoand commented on #4042
I opened #4046 to address this. Feel free to give it a try

[2019-09-16 16:01] jglick commented on #3938
Even with `reuseForks=false`, test methods within a class seem to reuse the mock server, which is pretty awkward: to create a genuinely independent test you need to create a fresh class. (Or maybe a nested class?) Of course there is a bit of overhead to start the app separately for each test class, but I think this is worth the reduced chance of wasting time tracking down interference between test

[2019-09-16 16:02] geoand commented on #3938
I agree 100%.

@iocanel do we have a way to reset the mock server? If so, then I can patch the Quarkus parts to call whatever is needed to reset it between tests

[2019-09-16 16:04] iocanel commented on #3938
I don't remember by heart.
Let me have a look.

[2019-09-16 16:11] iocanel commented on #3938
I am looking at the `kubernetes-tests` of the `kubernetes-client` itself and they use something like:

     @Rule
     KubernetesServer server = new KubernetesServer();

Which seems to do the trick!
Now, I am no expret in junit rules but from peeking the code it seems that internally it creates a new mock server and mock client per test case.

Does that work for you?

[2019-09-16 16:13] geoand commented on #4041
So basically what you example uses is the `PageableDefault` correct?
That we definitely don't support (yet).

I would suggest to refactor to use vanilla `Page` and `Sort` like in the examples I showed.
Also returning `Page` seems kind of fishy to me to be honest. Is it something you seen often? I personally haven't encountered it in code

[2019-09-16 16:15] geoand commented on #3938
@iocanel I see. I'll have to see how this can be handled.

Thanks for checking!

[2019-09-16 16:18] geoand commented on #3938
@jglick If you would like to take a stab at it, I won't stop you :).
Just saying because I don't know when I will be able to get around to this one...

[2019-09-16 16:19] ppalaga opened #4047 "Native image start timeout when testing vertx-web on Quarkus 0.22.0"
An integration test for `vertx-web` extension (see [this branch](https://github.com/ppalaga/quarkus/commits/190916-vertx-web-itest) )  fails with the following message:

[code]

The test is failing on the 0.22.0 branch, but is passing on the master.

We (camel-quarkus) would need this to work on 0.22.x if possible.

Steps to reproduce:

[code]

Expected: the build should pass
Actual: the native im

[2019-09-16 16:26] ppalaga commented on #4035
Robert Scholte [says](https://twitter.com/rfscholte/status/1173622004529999874)

So replacing `${project.groupId}` with `io.quarkus` might be the preferred solution.

I can prepare a patch. Feel free to assign to me.

[2019-09-16 16:48] gsmet opened #4048 "Document how to properly override the RESTEasy Jsonb instance"
See this question on SO: https://stackoverflow.com/questions/57935807/initialize-jsonb-configuration-once/57959679#57959679 .

It's not obvious that the `Jsonb` instance will be created for each request when using the OP's pattern so we should test and document a proper way of doing that.

[2019-09-16 17:24] #3946 closed

[2019-09-16 17:26] gsmet commented on #3860
OK, that's understandable.

[2019-09-16 18:07] jordanglassman commented on #2770
Still occuring for me using 0.20.0.

As a workaround, I can simply `@Inject` the bean that's produced but not used, and ignore it.

The error message remains unhelpful, but google brought me here.

[2019-09-16 18:14] stephenc commented on #2770
@jordanglassman hit me up on our internal slack tomorrow... 😂

[2019-09-16 18:20] mkouba commented on #2770
Feel free to create a new issue.

I'm afraid I don't understand. Could you share a minimal reproducer code?

What error message do you get?

[2019-09-16 18:54] jordanglassman opened #4049 "@Produces annotated methods that are not consumed not ignored and result in failed build"
**Describe the bug**
Issue described [here](https://github.com/quarkusio/quarkus/issues/2770) persists under 0.20.0.

**Expected behavior**
When using a class with method annotated with `@Produces`, even if never "produced", expect successful build.

**Actual behavior**
Build fails with misleading error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Simple reproducer:

[code]

[2019-09-16 18:55] jordanglassman commented on #2770
Done:  https://github.com/quarkusio/quarkus/issues/4049

[2019-09-16 20:28] teriiehina commented on #1658
@Nunalves you are right, I forgot to put the `reflection_config.json`, sorry about that. I added with the others file contents in [my previous response](https://github.com/quarkusio/quarkus/issues/1658#issuecomment-523618130) for clarity.

[2019-09-16 20:33] geoand commented on #4049
Hi, just a quick question, have you tried with the latest Quarkus `0.22.0`?

[2019-09-16 21:35] #3790 closed

[2019-09-16 21:35] #3884 closed

[2019-09-16 22:23] remkop commented on #284
Understood. What about expanding on that and also recognizing `java.lang.Integer` as a return value from the `@MainMethod`-annotated method (in addition to `void` or primitive `int`). This would allow applications to decide at runtime: when an application has a `@MainMethod`-annotated method that returns a `java.lang.Integer`, they can optionally return `null` to signal to Quarkus to _not_ call `S

[2019-09-16 22:43] gastaldi commented on #1658
Just a heads-up that the Oracle JDBC drivers are in the central Maven repository: https://medium.com/@kuassimensah/oracle-jdbc-drivers-on-maven-central-64fcf724d8b

[2019-09-16 22:46] gastaldi commented on #1658
I'd love to work on this issue by providing a new Quarkus extension. @gsmet are there any legal issues regarding the Oracle JDBC driver in the Maven repository and Quarkus?

[2019-09-17 01:42] hantsy commented on #4041
In Spring Data,
1. for request,  `PageRequest` is an impl of `Pageable`,
2. for response `PageImpl` implements`Page`.

My example is copied from my Spring samples, it am sure the codes worked well.

[2019-09-17 02:24] gastaldi commented on #1658
PR created in https://github.com/quarkusio/quarkus/pull/4054 based on @Sanne's amazing job and @teriiehina's comment in https://github.com/quarkusio/quarkus/issues/1658#issuecomment-523618130. I'd appreciate if someone could test it :)

[2019-09-17 04:04] #4035 closed

[2019-09-17 05:01] geoand commented on #4041
I'll try it again and see what happens.

As a request from our side for future issue reporting, I would like to ask you to make it dead easy for people to reproduce your issues. Please remove any ambiguity and reduce extra steps to an absolute minimum.

Thanks

[2019-09-17 05:12] geoand commented on #4041
@hantsy Can you please explain what *exactly* you see is not working in `this.postRepository.findAll(PageRequest.of(page, size))`?

I tried it again and it worked as expected.

As I said `@PageableDefault` is not implemented yet, but we could perhaps fix that in the future.

[2019-09-17 06:14] mkouba commented on #2770
@jordanglassman Thanks.

[2019-09-17 06:33] mkouba commented on #4049
Hm, but `SomeClient` is proxyable.... I'll try to reproduce the issue and we'll see what the real problem is.

[2019-09-17 06:35] hantsy commented on #4041
The exception is thrown when I ran `mvn clean package quarkus:dev`. The test failed.

[code]

[2019-09-17 06:37] geoand commented on #4041
Thanks for clarifying.

Yes I mentioned in one of the commenta above that returning `Page` will not work properly. I suggest you just return a `List` with the page data for the time being.

[2019-09-17 06:39] geoand opened #4056 "Spring Data's Page cannot be returned from a Spring Web controller"
See [this](https://github.com/quarkusio/quarkus/issues/4041#issuecomment-532081752) for details

[2019-09-17 06:50] Nicklas2751 opened #4057 "Class not found when using java.time classes in @ElementCollection"
**Describe the bug**
I built a simple application with Quarkus 0.21.2 which uses hibernate orm panach to save a entity to a h2 database. The entity includes a ElementCollection of DaysOfWeek. I also created some tests to ensure CURD works. The tests all work fine but when I run them nativly I get the following exception:
[code]

I wrote about this on StackOverflow before and got a Workaround and g

[2019-09-17 07:07] mkouba commented on #4049
By the way, an injection point (e.g. `SomeService#someProvider`) should not declare a scope annotation -> it will be simply ignored.

[2019-09-17 07:22] mkouba commented on #4049
It turns out we have a bug in the bean removal algorithm. If there's a bean that declares an unused producer we remove the declaraing bean although it's injected somewhere.

[2019-09-17 07:52] gytis commented on #3436
@geoand take a look at the possible option for spring-di. Here's what would be changed in Quarkus: https://github.com/gytis/quarkus/commit/0c5b2b1460be52bf504fada42413d8aaea6825ec. And here's the dependency pom: https://github.com/gytis/quarkus-spring-context-api/blob/master/pom.xml.

Of course the naming, repository location and ethical aspect (we're taking parts for Spring Framework and renaming

[2019-09-17 08:03] rsvoboda opened #4059 "access-log - custom category doesn't work"
access-log - custom category doesn't work on master. This works with 0.22.0.

`access-log(format='common', category='my.own.category')` defined in META-INF/undertow-handlers.conf, using sample getting-started application generated via quarkus maven plugin

Quarkus 0.22.0
[code]

Quarkus master (mvn clean package quarkus:dev -DskipTests):
[code]

This issue blocks progress on PR https://github.com/

[2019-09-17 08:05] geoand commented on #3436
@gytis I like it!

@n1hility WDYT about the approach? How should we proceed?

[2019-09-17 08:12] lordofthejars opened #7306 "Default to JDK11 on Quarkus tooling (cmd line mvn and gradle, code.quarkus.io, ..)"
**Description**

Add an option to select between JDK8 or JDK11

[2019-09-17 08:27] #3919 closed

[2019-09-17 08:41] geoand commented on #4057
@Sanne @FroMage this one seems suited for you :)

[2019-09-17 08:49] Sanne commented on #4057
thanks @geoand , I'll have a look this evening if nobody beats me to it. I suspect it relates to us not processing the `@ElementCollection` annotation

[2019-09-17 08:49] FroMage commented on #4057
Yup, that's what it looks like indeed, in the build processor.

[2019-09-17 09:08] mwasserschaff commented on #3294
Hm, still I get the same issue, looks like the problem appears in the plugin code, but the mentioned fix does not affect the quarkus plugin dependencies.

I was able to work around it by forcing the buildscript dependency resolution to always pick `javax.enterprise:cdi-api:2.0.SP1`, i.e.:
[code]

[2019-09-17 09:26] mkouba commented on #4039
It seems that we don't resolve the nested type variables correctly (`ProducerActions<K, V>` -> `Function<ProducerRecord<K, V>, CompletableFuture<RecordMetadata>>`). I'm going to send a PR shortly.

[2019-09-17 09:27] Manu206 commented on #3598
I tested again with latest release 0.22 and still there is an issue.

Headers are still defined like:
[code]

Postman headers look like:
[code]

If I set the headers via Corsfilter like mentioned earlier I get:
[code]

Seems like Methods and Allow Headers are missing via Quarkus config.

[2019-09-17 10:04] ppalaga commented on #4047
The native image starts properly but listens on port 8080 instead of 8081 where the `io.quarkus.test.common.NativeImageLauncher` expects it. This is caused by the fact that, for some reason, the native image is started in LaunchMode NORMAL.

[2019-09-17 10:20] gsmet commented on #3598
I wonder if it's related to https://github.com/quarkusio/quarkus/issues/3312 .

@Ladicek did you make progress on this issue
@sberyozkin is this something you're familiar with and could handle?

[2019-09-17 10:45] ppalaga commented on #4047
A simple workaround is to configure the normal port to be 8081 in `application.properties`:

[code]

[2019-09-17 11:15] Ladicek commented on #3598
This was pretty easy to fix (just had to make sure `CORSFilter` comes sooner than `ResteasyFilter`), but before I was able to find some time to write proper tests, HTTP got totally revamped in Quarkus. We need to check if this still happens.

[2019-09-17 11:16] Ladicek commented on #3598
And yes, #3312 is (was?) most likely the same problem.

[2019-09-17 13:34] dmlloyd commented on #284
I don't know that I'd use `null` for that, but I think I see what you mean: you want a way to let Quarkus stay up instead of exiting, sort of a "continue in the background" kind of thing?

[2019-09-17 14:06] maxandersen commented on #1029
for those looking for  a quick fix you can add `-D quarkus.log.console.color=false`

[code]

That at least works around the issue.

[2019-09-17 14:13] gsmet commented on #1029
Would someone having the issue be interested in having a look at how Maven does it and what we do wrong? That could be an interesting detective project :).

[2019-09-17 14:14] emmanuelbernard opened #4064 "Live reload failing with Zip archives generated by code.quarkus.io due to time zone issues"
on 0.22

1. Start new project with `code.quarkus.io` with resteasy,resteasy-jsonb,panache,postgresql,openapi,validator
2. go in live reload
3. add TodoResource

[code]

4. add Todo

[code]

5. refresh http://localhost:8080/api
6. see Hibernate not configured error
7. add in application.properties

[code]

8. refresh http://localhost:8080/api
9. You still see the error where it should not and the l

[2019-09-17 14:19] rsvoboda commented on #1029
MVN is using https://github.com/fusesource/jansi - Jansi is a small java library that allows you to use ANSI escape sequences to format your console output which works even on windows.

[code]
Starting from Windows 10 the Windows console support ANSI Escape Sequences.

I think Quarkus coloring stuff done via specifying RGB, but that would be probably for @dmlloyd to confirm.

[2019-09-17 14:21] rsvoboda commented on #1029
https://issues.apache.org/jira/browse/MNG-3507 - ANSI color logging for improved output visibility

[2019-09-17 14:25] ia3andy commented on #4064
@emmanuelbernard you can share the link to the generate [app](https://code.quarkus.io/api/download?g=org.acme&a=regression-live-reload&v=1.0.0-SNAPSHOT&c=org.acme.ExampleResource&e=io.quarkus%3Aquarkus-resteasy&e=io.quarkus%3Aquarkus-resteasy-jsonb&e=io.quarkus%3Aquarkus-hibernate-orm-panache&e=io.quarkus%3Aquarkus-jdbc-postgresql&e=io.quarkus%3Aquarkus-smallrye-openapi&e=io.quarkus%3Aquarkus-hibe

[2019-09-17 14:32] emmanuelbernard commented on #4064
I confirm that doing the same app with

[code]

Work as expected so it's either a bug from the code.quarkus.io generator or Quarkus 0.22 or a combination of both.

BTW I don't understand why code. generates ExampleResource while the mvn pluging generates HelloResource,

[2019-09-17 14:32] emmanuelbernard commented on #4064
@ia3andy No time, I'm trying to salvage my demos for CodeOne

[2019-09-17 14:40] maxandersen commented on #1029
code for handling the coloring seem to come from https://github.com/dmlloyd/jboss-logmanager-embedded/blob/3d27632c40a9cb9c7c16f365d2e31d5390d67d68/src/main/java/org/jboss/logmanager/formatters/ColorPatternFormatter.java#L76

Which yes, seem to use RGB values rather than ansi.

A first fix is to have coloring be disabled when not running in a capable terminal.

[2019-09-17 14:47] emmanuelbernard commented on #4064
As @gsmet guessed my files have a modified date in the future which must be screwing up things

[2019-09-17 14:48] emmanuelbernard commented on #4064
So I'm on macOS and use the code.quarkus.io in SFO. if that helps on the date problem and use the macOS native archive opener

[2019-09-17 14:53] gsmet commented on #4064
FWIW, the date issue is reproducible on a plain Fedora 30 so I think it's a general issue.

[2019-09-17 14:56] wburns commented on #805
This is always enabled now without user interaction. https://github.com/quarkusio/quarkus/blob/master/extensions/infinispan-client/deployment/src/main/java/io/quarkus/infinispan/client/deployment/InfinispanClientProcessor.java#L89

[2019-09-17 14:56] #805 closed

[2019-09-17 15:06] ia3andy commented on #4064
This issue has been reproduced and seems to be due to the zip creation in Code Quarkus. I filed an issue there: https://github.com/quarkusio/code.quarkus.io/issues/152

Let's keep that issue open until we actually have a fix.

[2019-09-17 16:13] ia3andy commented on #4064
It's now fixed on code.quarkus.io

I think as @maxandersen suggested, maybe it would be better to check the (risky?) files dates at build/runtime?

[2019-09-17 16:24] gsmet commented on #4026
@dmlloyd this one looks like a config issue?

[2019-09-17 16:31] dmlloyd commented on #1029
OK I feel like everybody is getting off course here :)  I'll do a quick rundown of the facts.

Here is where we set up the logic for determining if we use color: https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/logging/LoggingSetupRecorder.java#L76-L99

Here is where we decide whether or not the ANSI terminal supports 24-bit RGB color: https://github.c

[2019-09-17 16:39] limadelrey commented on #1971
Any update on this @richsanram?

[2019-09-17 17:04] rikcarve commented on #3592
Still get the error in 0.22.0 in Windows 10 Pro and OpenJDK 11.
`java.nio.file.InvalidPathException: Illegal char <:> at index 2: /C:/Users/rik/.m2/repository/io/quarkus/arc/arc/0.22.0/arc-0.22.0.jar
	at java.base/sun.nio.fs.WindowsPathParser.normalize(WindowsPathParser.java:182)
	at java.base/sun.nio.fs.WindowsPathParser.parse(WindowsPathParser.java:153)
	at java.base/sun.nio.fs.WindowsPathParser

[2019-09-17 18:23] maxandersen commented on #1029
Won't colours completely disappear if we do 2 ? Thought finding what munges the output while in mvn sounded better to me. What am I missing ?

[2019-09-17 19:25] hprange commented on #2469
I'm having an issue while running tests annotated with `@QuarkusTest` using Maven that seems to be related to this issue. The tests fail with the following message:

[code]

The same tests work if I add a no-args constructor to `com.acme.MyBean` class. BTW, `MyBean` doesn't extend other types and it's injected into one of my REST resources.

Curiously, everything works fine if I run the `quarkus:d

[2019-09-17 19:44] dmlloyd commented on #1029
Well, ultimately we'll want to do both, I think; however, in *general* if the output is going through a pipe, it's *probably* getting piped into something like a log analyzer or collector or viewer, which 9 times out of 10 won't handle the ANSI codes.  So we definitely want to be detecting the pipe more correctly than we are, because we want those cases to work.

That said, if we want to support c

[2019-09-17 19:44] dmlloyd commented on #1029
I wrote this test program to run on Windows, which might be of use for experimentation:

[code]

[2019-09-17 19:47] maxandersen commented on #1029
so, I wanted to check that normal console for quarkus works and afaics it does not.
Here is what I get running ` java -jar .\target\getting-started-1.0-SNAPSHOT-runner.jar`:

[code]
so it does not seem like it is a devmode only issue.

[2019-09-17 19:48] dmlloyd commented on #1029
What version of Windows are you using?  AFAIK we only support an updated Windows 10.

[2019-09-17 19:51] maxandersen commented on #1029
This is a windows 10 I installed within the last week.

![2019-09-17_21-50-50](https://user-images.githubusercontent.com/54129/65074486-3ab7f680-d995-11e9-8de4-8ed36d26ef5b.png)

[2019-09-17 19:58] dmlloyd commented on #1029
Looks like the situation is more complex than I thought:

* There might be a dependent package involved: https://devblogs.microsoft.com/commandline/24-bit-color-in-the-windows-console/#comment-3999
* There might be a registry key involved: https://github.com/ytdl-org/youtube-dl/issues/15758
* You might have to enable it via a win32 call: https://docs.microsoft.com/en-us/windows/console/setconsolem

[2019-09-17 19:59] maxandersen commented on #1029
1903 is the latest version and after updating latest version of fixes windows the same issue still occurs.

[2019-09-17 20:00] maxandersen commented on #1029
@dmlloyd I'll try those out and see if I can get it to fix it - but is there a way to avoid use of RGB but instead us "pure old" ANSI color codes as color formatter ? Then at least have that as a fallback ?

[2019-09-17 20:05] emmanuelbernard opened #4069 "RESTEasy is @GET optional?"
On stage I did the following and the endpoint was not published

[code]

Notice the absence of `@GET`. @cescoffier seems to say that it is a bug as GET is the default. But I don't know. It's to double check.

[2019-09-17 20:07] emmanuelbernard opened #4070 "mvn quarkus:dev fails on new projects without compile"
@cescoffier told me that `compile` is optional now in `mvn compile quarkus:dev` but on new projects it will fail because there is no target directory created yet (I think). Is that to be considered a bug? @stuartwdouglas @aloubyansky

[2019-09-17 20:09] dmlloyd commented on #1029
The output you pasted is using "pure old" ANSI already.

[2019-09-17 20:10] maxandersen commented on #1029
Okey, so colors are NOT enabled by default. Setting that registry flag works.

for both plain quarkus and mvn.

![2019-09-17_22-10-40](https://user-images.githubusercontent.com/54129/65075861-fda13380-d997-11e9-90f8-ad3c1971b9ee.png)

![2019-09-17_22-10-11](https://user-images.githubusercontent.com/54129/65075830-ed895400-d997-11e9-8212-d4015f6c4071.png)

[2019-09-17 20:11] maxandersen commented on #1029
hmm - so what vooodoo is maven doing since it works there ?

[2019-09-17 20:14] rsvoboda commented on #1029
cmd coloring is not enabled by default, registry hack needs to be performed or SetConsoleMode API must be used - use ENABLE_VIRTUAL_TERMINAL_PROCESSING (0x0400) flag. Jansi uses this option.
Details in https://stackoverflow.com/a/54291292 and https://docs.microsoft.com/en-us/windows/console/setconsolemode

I think Maven / Gradle go via Jansi, I found https://github.com/gradle/gradle/blob/master/su

[2019-09-17 20:14] maxandersen commented on #1029
A workaround available now to users are to set that key and enable it globally.

We can also go for trying to detect that setting, possibly using something from https://stackoverflow.com/questions/62289/read-write-to-windows-registry-using-java#6163701 to read the values.

[2019-09-17 20:16] maxandersen commented on #1029
If they use jansi to set that flag how come it is not affecting our output when run inside mvn ?

[2019-09-17 20:17] rsvoboda commented on #1029
I think we fork, but just guessing ... @stuartwdouglas ?

[2019-09-17 20:18] maxandersen commented on #1029
hmm - I thought the streams were sent back through maven and printed there.

But yes, if we are truly forking it would not.

[2019-09-17 20:23] maxandersen commented on #1029
for those who hate regedit use this to enable it globally on windows:

[code]

if you already have the key it will ask confirmation before overwriting.

[2019-09-17 20:27] maxandersen commented on #1029
found the code/change in jansi https://github.com/jline/jline3/pull/280/files#diff-41eb681bf4c48dc67c42f75a806e12efR43

But this is still only done to enable more advanced coloring. Basic ANSI coloring should  work pre-Windows 10...

[2019-09-17 20:28] emmanuelbernard opened #4071 "Enable in CI the build of GraalVM master and run the Quarkus test suite against it"
The Micronaut team and GraalVM team are doing that. Or more precisely, the micronaut team is having a CI job and monitor it. When they detect that something fails, they report to the GraalVM team. If that not complicated it would be nice to do the same on our side. I'd also love to get the memory usage diff to make sure they don't regress.

CC @dmlloyd for Mandrel's PoV

[2019-09-17 20:31] geoand commented on #4070
I don't think this has been included in `0.22`.

https://github.com/quarkusio/quarkus/pull/3879

[2019-09-17 20:32] maxandersen commented on #1029
In jansi they still have this open issue https://github.com/fusesource/jansi/issues/63 and so far I haven't found code in their repo that refer to setconsolemode.

[2019-09-17 20:36] #4070 closed

[2019-09-17 21:40] emmanuelbernard opened #4072 "Improve usability of `quarkus.hibernate-orm.sql-load-script`"
Steps

1. create a new project with Hibernate ORM and an entity
2. in the same step add to `application.properties`

[code]

and the `import-dev.sql` file

3. Then refresh the browser

You end up with the following error

[code]

because `import-dev.sql` is not a hot resourse as it was not part of the previous application.properties, the framework fails claiming it does not file the file.

Let's t

[2019-09-17 21:47] emmanuelbernard commented on #4072
Option 1. don't fail with exception when the import-dev.sql file is not found but just a warning.
And force the file to be put in the hot reload list.
Also force Quarkus Core to copy the files from the hot list
Next refresh, warning should disappear.

[2019-09-17 21:51] emmanuelbernard commented on #4072
I feel there is a chicken and egg and Quarkus Core should offer a way to check for a file presence in `src` and copy in `target` via an API to properly solve this one.

[2019-09-17 21:51] emmanuelbernard commented on #4072
@stuartwdouglas

[2019-09-17 21:57] maxandersen commented on #1029
Also checked if by any chance windows environment variables are different but no - they are exactly equivalent.

could also run `reg query HKEY_CURRENT_USER\Console /v VirtualTerminalLevel` from java but I reckon that would add a bit too much overhead...

[2019-09-17 22:02] emmanuelbernard opened #4073 "Display profile (and mode?) we run with in the logs at startup time"
Is there any disadvantage to show the profile Quarkus has been started with in the log?
It's something I miss when I demo profiles.

CC @FroMage for advice

[2019-09-17 22:09] #4049 closed

[2019-09-17 22:25] remkop commented on #284
Yes. To be honest I don't have a concrete use case. Perhaps some applications, depending on the command line arguments, need to either exit immediately with some exit status, or start some long running service in the background and leave the JVM up...

[2019-09-17 22:42] dmlloyd commented on #1029
JDK 11 does seem to have a `jline` impl hidden inside of it... with a JNA bridge to `SetConsoleMode`...

https://github.com/unofficial-openjdk/openjdk/blob/jdk/jdk/src/jdk.internal.le/windows/classes/jdk/internal/org/jline/terminal/impl/jna/win/Kernel32.java#L217-L222

[2019-09-17 22:56] maxandersen commented on #1029
hmm - so how does one go about calling that optionally under Java11 if no reflection allowed ?

[2019-09-17 22:59] dmlloyd commented on #1029
I guess you'd have to launch with a bunch of JDK options turned on.  Not a great option...

[2019-09-17 23:22] dmlloyd commented on #284
The most natural integration I can think of would be to allow the main method to return some kind of `Future` or `Single` and make it reactive.  The best thing about such an approach though: we can do it later :grin:

[2019-09-17 23:24] stuartwdouglas commented on #4072
I think there are two options here:

- Just copy all changed files every request, but only trigger a hot reload if a flagged file has been modified
- Change the hot reload support to have excluded files rather than included files, so we can just exclude all web resources from causing a hot reload but auto reload if any other file is changed.

The original goal of selectively reloading on resource

[2019-09-17 23:29] dmlloyd commented on #4071
Good idea IMO.

[2019-09-17 23:31] remkop commented on #284
Fair enough.  Supporting just `void` (don’t exit) and primitive `int` (exit with returned status code) should be sufficient initially.

[2019-09-17 23:31] dmlloyd commented on #3592
Commit df51bee0c05d7f9dcdedc315b63d08465e20cbd6 has not yet been included within a release as far as I can tell.  The next release should have it.

[2019-09-17 23:35] dmlloyd commented on #4026
Dev mode has its own "version" of a lot of the bootup path, and I think part of it is going to relate to config setup.  There's probably an easy-ish fix in the dev mode setup code, but the "right" fix IMO is to try and unify dev mode startup with "real" startup as much as possible, to try and reduce the number of dev-mode-specific bugs that we have.

[2019-09-18 00:14] emmanuelbernard commented on #4072
I think I like point 1 best which is what's missing and I'm not sure there is a lot of harm to it.
I don't think point 2 would be going in he right direction

[2019-09-18 00:51] jamesfalkner opened #4077 "Opentracing extension: java.lang.reflect.InvocationTargetException: Illegal character in authority"
**Describe the bug**
When building an app with the OpenTracing extension, and specifying an environment variable in the definition of an application property in `application.properties`:

[code]

The application fails to build (jvm or native) with

[code]

**Expected behavior**
App builds and runs with no errors and the property is settable via environment variable at runtime.

**Actual behavior**

[2019-09-18 01:12] emmanuelbernard commented on #4064
Is it really fixed in the macOS archiver case in the end?

[2019-09-18 02:08] IThinkIGottaGo commented on #4026
totally agree, and thanks for your response~~

[2019-09-18 05:14] 38leinaD commented on #284
Excited to see that there already is discussion on how an integration with picocli could work.
Actually, i am awaiting the quarkus cli-support to move a micronautfw CLI application to a more standard platform. Micronaut has helped me to get some initial prototype up an running but before sharing the tool with my coworkers or extendeding on it, i want to see it moved to a standard like Java/Jakarta

[2019-09-18 07:04] ia3andy commented on #4064
@emmanuelbernard no it still bug, I'll create a new fix with a fixed date in the past (probably build date UTC - 12h).

As discusses with @dmlloyd and @stuartwdouglas, in parallel, a fix in the quarkus dev watch algo seems important too. They suggested using date offset from the file dates.

[2019-09-18 07:14] mkouba commented on #2469
@hprange Yes pls. File a new issue. And if possible add a minimal reproducer app/test.

[2019-09-18 07:25] Sanne commented on #4072
I would expect the Extension to be ableto "register interest" in a
specific resource after its configuration is parsed. Is that too late
in the game?

On Wed, 18 Sep 2019 at 01:14, Emmanuel Bernard <notifications@github.com> wrote:

[2019-09-18 07:57] ppalaga commented on #4047
Closing because having the workaround for 0.22.0 and this issue not occurring on the master cancels the need for a 0.22.0 fix from our (Camel Quarkus) side.

[2019-09-18 07:57] #4047 closed

[2019-09-18 08:00] #4042 closed

[2019-09-18 08:13] loicmathieu commented on #4048
Thinking about it and the discussion we had for MongoDB with Panache that needs to register custom serializers, maybe the best is to have a ContextProvider that retrieve the Jsonb instance from Arc, providing a default bean that the user can override.

So instead provinding it's own ContextResolver a user should provides a Jsonb object.

[2019-09-18 08:19] gsmet commented on #3842
Let's close it for now.

[2019-09-18 08:19] #3842 closed

[2019-09-18 08:43] FroMage commented on #4073
Those seem to be good info to show, indeed. +1

[2019-09-18 08:46] manovotn opened #4080 "Arc - add better handling of non-indexed classes we encounter"
Currently, Arc in many places tries to search a class from index and while we check for `null`, we don't really log anything and we mostly silently proceed. This can lead to some puzzling user output, as was pointed out on another PR https://github.com/quarkusio/quarkus/pull/4060#discussion_r325540679.

The likelihood of this happening is small as `io.quarkus.arc.processor.BeanArchives.IndexWrappe

[2019-09-18 08:55] hantsy commented on #4042
If there is no plan to add `WebRequest`, please add a usage **limitation** block in the docs, it is important for developers.

[2019-09-18 09:10] hguerrero opened #4081 "AdminClient is not getting all the config properties."
**Describe the bug**
AdminClient is not able to connect to SSL secured Kafka cluster

**Expected behavior**
AdminClient is configured with the same properties as KafkaStreams

**Actual behavior**
AdminClient config is only using the bootstrap server

**To Reproduce**
Steps to reproduce the behavior:
1. Configure SSL connection
2. Add passthrough config
3. Try to start KafkaStreams application

**C

[2019-09-18 09:12] geoand commented on #4042
Thats is a great point! Would you like to contribute a PR for the docs addressing that?

Thanks

[2019-09-18 09:27] gsmet commented on #4081
Maybe you could provide the error you have? That will be helpful.

Thanks.

[2019-09-18 09:31] gsmet commented on #4077
There's a good change you're hitting this issue: https://github.com/quarkusio/quarkus/issues/3516 and that the env variable is not expanded and Jaeger refuses either $ or { in the URL.

@dmlloyd what's the status of this one? It's an issue that often gets reported.

[2019-09-18 09:33] #4039 closed

[2019-09-18 09:33] gsmet commented on #4048
That's a good idea.

[2019-09-18 09:35] gsmet commented on #4069
@asoldano @patriot1burke ?

[2019-09-18 09:37] gsmet commented on #4021
That's how Maven works, we want change that.

What you need is the profile feature: https://quarkus.io/guides/application-configuration-guide#configuration-profiles .

[2019-09-18 09:48] hguerrero commented on #4081
This is the error:

[code]

[2019-09-18 09:54] Rashmini opened #4082 "Add datasource configurations for initSQL and validationQuery"
**Description**
Just tried to set up a connection pool using Quarkus. The first limitation is that there are no configuration keys for initSQL and validationQuery which can be configured using the application.properties file.

[2019-09-18 10:55] mbeedub commented on #2323
+1 would also like to see full MySQL support

[2019-09-18 11:00] rsvoboda commented on #3607
quarkus-junit4  removed via https://github.com/quarkusio/quarkus/pull/3940

I will look into updating rest-assured and eliminating hamcrest-core deps

[2019-09-18 11:09] gsmet commented on #3607
@rsvoboda Please ban them entirely to avoid conflicts. Thanks!

[2019-09-18 11:10] gsmet commented on #2323
@mbeedub there's a PR open: feel free to test it - https://github.com/quarkusio/quarkus/pull/4067

[2019-09-18 11:16] #4057 closed

[2019-09-18 11:27] rsvoboda commented on #3607
We still have them in various places :(

Updating rest-assured  and awaitility eliminates some hamcrest 1.3 apperance, but we still have junit4 used in various places. Junit4 brings in hamcrest 1.3.

[code]

I would push PR for rest-assured and awaitility update now and continue with other stuff continuously. @gsmet works for you ?

Note: Using `mvn dependency:tree | grep -B 10 hamcrest-core` to f

[2019-09-18 11:41] mkouba commented on #3607
Well, I don't think this would bring any benefits but I wouldn't mind if @manovotn is willing to take care of it ;-).

[2019-09-18 13:59] jordanglassman opened #4088 "CodeSource#location always null inside when running in dev mode"
**Describe the bug**

When running a Flyway java-based migration programatically, it failed with NPE when running:

[code]

because all fields in CodeSource are null:

![image](https://user-images.githubusercontent.com/1238718/65154997-776a0900-d9fa-11e9-8e45-92552c93aee2.png)

I discovered that this is the case everywhere in the application.  Not sure if this is expected or not, but it is prevent

[2019-09-18 14:25] jordanglassman commented on #4088
Update:  verified same error recurs with programmatic Flyway configuration:

[code]

using

[code]

[2019-09-18 14:54] JChrist commented on #2143
For anyone interested, one _hacky_ way for easy debugging inside the IDE is a custom test class under test sources named `TestMain` so that it doesn't match surefire/failsafe patters, which uses `@QuarkusTest` and simply sleeps:

[code]

This uses the test http port (8081 by default) as described in the documentation, so either use it under port 8081, or add `quarkus.http.test-port=8080` in `appli

[2019-09-18 14:59] FreifeldRoyi opened #4090 "Why Quarkus-JsonB is using ArC?"
As I was writing a unit test (not `@QuarkusTest`) for a class that uses `Jsonb.fromJson(String,Class)`, I got a NullPointerException on an adapted type field:

[code]

I'm not sure that the adapted field is actually what causing the problem but It failed on that particular field so I'm writing it down. The way I solved it is by using `Arc.initialize()` as a `BeforeAll` step in the test and `Arc.sh

[2019-09-18 15:05] dmlloyd commented on #4077
It's in progress, but keeps getting bumped down due to one-off issues... sorry.  I'll try to get it done ASAP.

[2019-09-18 15:13] gsmet commented on #4090
On Wed, Sep 18, 2019 at 4:59 PM Royi Freifeld <notifications@github.com>
wrote:

Any chance we could have the stacktrace?

[2019-09-18 16:07] kenfinnigan commented on #4069
I'm pretty sure there's no default for HTTP method verbs in JAX-RS

[2019-09-18 16:16] sean-scott-lr commented on #3626
Oh Bummer. I just wasted quite a bit of time trying to get https working ( will open a separate ticket ), so I could try testing http/2 performance.  I really thought I had read that http/2 was supported already. Going back through the docs, I cant find why I thought this.

[2019-09-18 16:22] sean-scott-lr commented on #3626
Adding more info to help people googling for this...
Here is what h2load says when trying to use quarkus and http2

TLS Protocol: TLSv1.2
Cipher: ECDHE-RSA-AES256-GCM-SHA384
Server Temp Key: ECDH P-256 256 bits
No protocol negotiated. Fallback behaviour may be activated
Server does not support NPN/ALPN. Falling back to HTTP/1.1.
Application protocol: http/1.1

[2019-09-18 16:45] jordanglassman commented on #4088
Not able to reproduce with in the test env:  https://github.com/jordanglassman/quarkus/commit/326c32a034f7b864492f6e350f460e25fc83238b

[2019-09-18 18:11] geoand commented on #4081
Hi,

Does this problem only occur in native mode or can it be reproduced in regular JVM mode as well?

[2019-09-18 18:35] gastaldi commented on #3907
Since https://github.com/quarkusio/quarkus/pull/3924 was merged, I think this issue is safe to be closed?

[2019-09-18 18:38] #3907 closed

[2019-09-18 18:38] gsmet commented on #3907
@gastaldi yup, thanks!

[2019-09-18 18:39] geoand commented on #4048
Yeah, we already do that Jackson.

I also have that implemented in #3553 which I have not had time to bring up to date and add benchmarks yet

[2019-09-18 18:40] geoand commented on #4048
If anyone wants to take this up, it's indeed a nice first issue and I would be willing to help out if needed

[2019-09-18 19:08] dmlloyd opened #4093 "Duplicated dependencies in main integration test"
[code]

This appears during augmentation on `integration-tests/main`.

[2019-09-18 19:36] gastaldi opened #4094 "Random HTTP port is shown as zero in the startup logs"
**Describe the bug**
Quarkus 0.22.0 allowed starting a service in a random port by specifying 0 as the HTTP port. Quarkus 999-SNAPSHOT does not.

**Expected behavior**
The Quarkus application should start in a random port

**Actual behavior**
It starts in port 0 (?) and doesn't show the assigned port

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn io.quarkus:quarkus-maven-plugin:0.22.0:

[2019-09-18 19:52] jordanglassman commented on #4088
Created a trivial reproducer project:  https://github.com/jordanglassman/quarkus-flyway-bug