[2020-02-05 13:16] pedroigor commented on #6997
True. I was thinking more about supporting both web-app and service from a same app. Does it really make sense ? I mean, it clearly shows you are pushing too much to your application whereas you should, by design, have distinct applications for both back and frontends ?

[2020-02-05 13:45] azzazzel commented on #1724
@jonathanvila I tried `999-SNAPSHOT` but I can't get Quarkus to stat with it :(
`mvn clean compile quarkus:dev` hangs after
[code]

[2020-02-05 13:48] dmlloyd commented on #6983
Well, firstly, I want to point out that this issue is not about compatibility or any kind of change.  It's purely about documentation.  So, if a build item is not in an SPI module, it's not considered public and not documented as such.

Secondly, no, because split packages are not allowed, period.

Yes, this is true, but it's a reality of the design we've chosen.  Not having public/shareable items

[2020-02-05 13:53] #6934 closed

[2020-02-05 14:05] karesti commented on #3548
I could reproduce the error, I opened a JIRA in infinispan https://issues.redhat.com/browse/ISPN-11281

[2020-02-05 14:09] jonathanvila commented on #1724
Jajajajajaja man

Add the black magic to it : -DskipTests

El mié., 5 feb. 2020 14:45, Milen Dyankov <notifications@github.com>
escribió:

[2020-02-05 14:10] jonathanvila commented on #1724
Ohhh sorry, I thought it was a problem on build time

Forget what I said about tests

I will. Check if mine behaves the same

El mié., 5 feb. 2020 15:09, Jonathan Vila Lopez <jonathan.vila@gmail.com>
escribió:

[2020-02-05 14:10] lordofthejars opened #7007 "Add health check for Vault"
**Description**

Add health check for Vault.

**Implementation ideas**

Create a readiness health check that checks if Vault is up and running.

(I can provide a PR as I have implemented for my project)

[2020-02-05 14:27] sberyozkin commented on #6997
@pedroigor This is what multi-tenancy gives us :-) and in itself the issue of having a `web-app` cleanly supported on a per-tenant basis (which is what this issue is primarily about) would require the `application-type` becoming a runtime property which in turn would require the composite mechanism. I think it is reasonable in that we will have have the human users authenticating directly against

[2020-02-05 14:29] lordofthejars opened #7008 "Integration between Vault extension and Vault Agent"
**Description**

Integration between Vault extension and Vault Agent so injected secrets can be read easily.

**Implementation ideas**

Recently, Vault has created an agent that injects secrets directly into the container using an init and sidecar container. In short summary, the agent creates configuration files at `/vault/secrets` directory.

So, for example, could create several configuration f

[2020-02-05 17:29] rafaelkloss commented on #6063
any chance to fix this on 1.3.0 ?

[2020-02-05 17:50] Sanne commented on #6063
yes I hope so. I had to put this on hold for a while, but I'm back working on it now.

It's rather complex, I'm trying to not have to revisit the whole boot of the ORM :)

[2020-02-05 19:34] sberyozkin commented on #7007
@lordofthejars Hi, do you think of integrating it with MP Health too ?

[2020-02-05 19:41] pedroigor commented on #6997
OK, for the sake of flexibility, I'm OK to support the composite mechanism in order to support both types from a same app.

But we should probably recommend users to have better separation and don't mix these two types in a same app.

[2020-02-05 19:45] sberyozkin opened #7013 "Optimize the use of TenantConfigResolver by making OidcTenantConfig a good map key"
**Description**
Right now using `TenantConfigProvider` (which can create `OidcTenantConfig` on the fly) involves reconnecting to the OIDC server on every request (note a combination of `TenantResolver` + having a tenant specific config in `application.properties` is very effective).

**Implementation ideas**
Implement `OidcTenantConfig` `equals` and `hashCode` and use it as a map key in the concur

[2020-02-05 20:09] lordofthejars commented on #7007
Yes as the other quarkus extensions

El mié., 5 feb. 2020 20:34, sberyozkin <notifications@github.com> escribió:

[2020-02-05 20:10] kamilgregorczyk opened #7014 "Building native docker image fails due to Failed to augment application classes error"
**Describe the bug**
I created a simple project via the web wizard with Gradle and creating a native image works by running `./gradlew buildNative` but doing the same thing with building docker by running ` ./gradlew buildNative --docker-build=true ` does not work, it ends with such error:
[code]

**Expected behavior**
I expected the native image to be created along with docker one

**Actual behav

[2020-02-05 20:22] jonathanvila commented on #6545
In my case I am redefining the file name to be used :
%test.quarkus.hibernate-orm.sql-load-script = import-test.sql

But apparently I need to put that import-test.sql file in src/main/resources not in src/test/resources

I dont know if this is on purpose.

[2020-02-05 20:34] #6898 closed

[2020-02-05 20:35] #3670 closed

[2020-02-05 20:41] gwenneg commented on #7014
Hi @kamilgregorczyk and thanks for reporting this issue!

Unfortunately, that very long stack trace doesn't contain the failure cause. Would it be possible for you to provide us with a minimal reproducer? If the build fails with a project right after its creation using the web wizard, another possibility would be to describe here the exact list of extensions you selected.

[2020-02-05 20:45] kamilgregorczyk commented on #7014
I generated a project with no deps and the only thing I changed is java version in Gradle:

[code]

[2020-02-05 20:46] vsevel commented on #7007
when config is retrieved from vault through the vault config source, it sounds to me that the application startup would actually fail (and crash the app) before the readiness check would be able to kick in I would think.
accepting to start without the vault means that the app should be able to do without its secrets for a little while until vault gets available, then fetch its secrets and become r

[2020-02-05 21:02] vsevel commented on #7008
my own understanding is that the vault agent is a very good solution when your technology does not support interacting with vault natively (e.g. quarkus before we created the vault extension). it is universal as any technology is capable of drawing config properties from a file, plus acts as a cache. you only have to make a local read on your config files if you want secrets hot reload.
I find it

[2020-02-05 21:14] gwenneg commented on #7014
Thanks!

Could you try running the build with the following command?
`./gradlew buildNative --docker-build=true -Dquarkus.native.builder-image=quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11`

Quarkus `1.2.0.Final` supports both GraalVM `19.2.1` (not compatible with Java 11) and `19.3.1` (compatible with Java 11). When you build a project using `./gradlew buildNative --docker-build=true`, Q

[2020-02-05 21:19] gwenneg commented on #7014
We should probably document the `-Dquarkus.native.builder-image` option in the guides until the Java 8 support is dropped in Quarkus, I'll submit a PR to fix that.

[2020-02-05 21:22] pedroigor commented on #7013
@sberyozkin I'm not sure if we reconnect to the OIDC server on each request. We cache the config right after creation.

This https://github.com/quarkusio/quarkus/pull/6970, also does not block for every request, but only when a tenant config does not exist.

Is that right ?

[2020-02-05 21:43] kamilgregorczyk commented on #7014
Worked! thanks:) I have one more question, is quarkus/graalvm compatible with arm64?
I managed to make it work with normal JVM image like here: https://hub.docker.com/repository/docker/uniqe15/quarkus but creating the same image For AMD and arm with native image like here https://hub.docker.com/repository/docker/uniqe15/quarkus2 does not seem to be created in proper format, is there anything speci

[2020-02-05 22:00] gwenneg commented on #7014
I know there's a GraalVM version dedicated to ARM64 and that we don't provide a Docker image for this version. I'd say it's possible to run Quarkus in native mode using a local ARM64 GraalVM installation but I've never tried it myself.

@dmlloyd Would you have the answer to that question?

[2020-02-05 22:13] Mason-Harding commented on #3954
I'm working on a related issue, and I was able to get Kotlin.Any registered for reflection by adding java.lang.Object to reflection-config.  Hope that helps.

[2020-02-05 22:18] sherl0cks commented on #6785
@patriot1burke anything else we can do at this time to help you move this issue forward?

[2020-02-05 22:22] Mason-Harding commented on #3954
I am running into this same issue, except I get the error
`@NotNull method kotlin/reflect/jvm/internal/impl/builtins/KotlinBuiltIns.getBuiltInClassByFqName must not return null`
I tried adding kotlin.Metadata to the reflection-config file, and now am also getting
`java.lang.AssertionError: Built-in class kotlin.Any is not found`

I tried debugging by doing `Class.forName(Any::class.java.name)`, wh

[2020-02-06 02:05] stuartwdouglas commented on #1724
Can you get a jstack thread dump to see what is going on?

[2020-02-06 07:21] geoand commented on #3954
Yeah this seems to require a chat with the Kotlin folks to see how to proceed. Unfortunately I haven't had the time to do that :(

[2020-02-06 07:26] Postremus commented on #6168
@Sergey80 could you please retry with current master? I can't reproduce this one anymore with your reproducer.

[2020-02-06 07:27] #3343 closed

[2020-02-06 08:08] Ladicek commented on #6983
I have some experience with generating documentation from annotations using an annotation processor and a Maven plugin (see https://github.com/Ladicek/ann-docu-gen, which is a prototype I built in my free time and then used in an internal project).

I can see how I'd collect build steps and generate documentation for them, but build items are not annotated in any way and when present in an `spi` m

[2020-02-06 08:16] sdaschner commented on #5314
Some more investigation on this:

Apparently the issue is caused by removal of the sub-resource at build time. When I use `resourceContext.getResource(MySubResource.class)` and at the same time annotate `MySubResource` with `@Unremovable` (or use an unused, dummy injection of `@Inject MySubResource mySubResource`), then it works as expected.

From the logs:

[code]

So, I guess we could resolve th

[2020-02-06 08:17] snajfi commented on #6545
Hello. I made test and this issue is reproducible also in last stable version (1.2.0.Final).

[2020-02-06 08:22] wfrank2509 commented on #7014
Hi ... I stumbled over the same issue yesterday also solving that with the quarkus.native.builder-image setting. Looking at the quarks core code I saw that 19.3 is set there as default ConfigItem. I have uninstalled 19.2 native-image and only latest graalvm 19.3 on my machine but somehow still the "older" version is used when I don't set the build-image property.

[2020-02-06 08:25] sdaschner commented on #4120
@dfranssen I claim, this won't work if you instantiate the bean yourself (then it's not managed by the container/runtime and no aspects such as transactions are handled).

Have you tried

1) in the parent: injecting with `@Inject ChildResource childResource` and then, in your method, passing that to `resourceContext.initResource(childResource)`
OR
2) using `resourceContext.getResource(ChildResourc

[2020-02-06 08:59] tgippi commented on #6978
I've just tested it on the 1.3 branch. It seems the issue has been fixed there (I guess #6411 has fixed it?)

[2020-02-06 09:02] wfrank2509 commented on #6327
Hi ... yes sure, but if you want to use Postgres Features like the JSONB type you need a library like that. The one mentioned is very commonly used.

[2020-02-06 09:15] gsmet commented on #6327
My understanding is that something is trying to delete the `com/sun/jna/LastErrorException` from the native image but the class is not there.

You have a lot of dependencies so it's a bit hard to know who. I looked at the Quarkus source code and I don't see anything related to that class.

@dmlloyd any idea how we could debug that one?

[2020-02-06 09:34] lordofthejars commented on #7007
Yes that's true but notice that readiness probe is called periodically not just at the beginning and if it fails K8s stops sending traffic to this instance. As you set at the beginning if there is no Vault the starting application will fail before the readiness probe, but what's happening if a user is using a dynamic secret? The secret is changed periodically so it means that the application must

[2020-02-06 09:36] lordofthejars commented on #7008
Well actually, my point is that we cannot control if user will choose vault agent or not, and since it is something specific to Vault, it should be Vault who provides this integration as well. I mean it is not something out of Vault, it is about Vault and Vault Agent how they mount secrets, so it is just provides an integration so the users can choose whatever they want to use the extension operat

[2020-02-06 09:37] geoand opened #7017 "Spring Data JPA query method that contains a field name from fails"
When using an entity that contains a field named `from` or `to`, the method name parser gets confused since `from` and `to` are also used for range queries.
We should be able to distinguish when `from` (or `to`) is used for a range query and when it's used as an entity field

[2020-02-06 09:44] #6950 closed

[2020-02-06 09:47] jmartisk opened #7018 "Recreate all metric registries on startup?"
Currently, the behavior of dev mode is that `application` metric registry will be discarded and re-created on reload. This however does not include the `vendor` and `base` registries, so extensions must take care of removing their metrics properly in case that they have to be re-registered on reloading.
While this could theoretically allow some specific metrics, in cases where appropriate, to just

[2020-02-06 09:57] hamzayoussef opened #7019 "Connect to a datasource programmatically"
I'd like to know how can I connect to a datasource programmatically withtout using `application.properties`.

Spring Boot way:
[code]

[2020-02-06 10:02] sdaschner commented on #6131
@machi1990 Thanks, using `1.3.0.Alpha1` fixes this for me (running JAX-RS client in plain tests works again :tada:)

[2020-02-06 10:13] sdaschner opened #7020 "QuarkusTest in 1.3.0.Alpha1 requires JUnit 5.6?"
**Description**

It seems that switching to Quarkus `1.3.0` (Alpha1) requires JUnit Jupiter `5.6.0`, or, at least running a `@QuarkusTest` with Jupiter `5.5.2` fails with:

[code]

For me, that's not a show-stopper since I can update to JUnit `5.6.0`, but is there a way to resolve it? If not, then we might add a documentation that folks need to update their JUnit5. This worked in Quarkus `1.2.0.Fi

[2020-02-06 10:17] sberyozkin commented on #7013
Hi @pedroigor Sorry, I did not realize that even if `OidcTenantConfig` is returned from `TenantConfigResolver` then it is cached. Hmm...

The reason behind my assumption was that only it returns `OidcTenantConfig`, so where is a `tenantId`... I've just looked more carefully and see in this case it is `clientId` which is used as a `tenantId` in this case but it is not a muti-tenancy which is offere

[2020-02-06 10:35] gsmet commented on #7020
Yes. We specifically worked with the JUnit team to fix some issues that were blocking our class loader work.

What surprises me is that it's in our BOM:
[code]
so if you don't specify a version, everything should be fine. Do you specify the version manually?

[2020-02-06 10:36] loicmathieu commented on #6131
This fixes also the issue for me, closing it.

[2020-02-06 10:36] #6131 closed

[2020-02-06 10:37] gsmet commented on #7020
I added a note here: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.3 .

[2020-02-06 10:44] sdaschner commented on #7020
Thanks!

Yes, and some projects do, so I think the note is helpful :)

[2020-02-06 10:44] #7020 closed

[2020-02-06 10:47] sberyozkin commented on #7013
Perhaps another alternative would be change `TenantConfigResolver` to accept `RoutingContext` and `Function` which would provide `OAuth2Auth` for `TenantConfigResolver` to return `TenantConfigContext` which would also have a `tenantId` property so that we can key it in `DefaultTenantConfigResolver`. But I'm not really sure...It seems we'd expose the users to too many internal/runtime details this

[2020-02-06 11:05] sberyozkin commented on #7008
Hi @lordofthejars Quarkus Vault extension already offers a `ConfigSource` which can support the injection of Vault secrets into some custom or even existing Quarkus secret properties (via indirection). This extension communicates directly with Vault.
If I understand it correctly, `Vault Agent` can be used independently, it will fetch the Vault secrets, and in your case, will make them available in

[2020-02-06 11:16] sberyozkin commented on #7007
Hi @lordofthejars @vsevel, in OIDC we added a [connection delay property](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcRecorder.java#L82) to make sure that `OIDC` is not available then the extension will keep trying connecting to it for up to 2 mins.
Perhaps that can be done for the `Vault` extension to avoid some uncertainties

[2020-02-06 11:18] gsmet commented on #7020
Sure, thanks for reporting it!

[2020-02-06 11:23] gwenneg commented on #7014
Hi @wfrank2509. If you looked at the code from the current Quarkus `master` branch, then you probably saw a code that was updated since the `1.2.0.Final` release.

In Quarkus `1.2.0.Final`, the default Docker image contained GraalVM `19.2.1` (Java 8 only).

Today (and in the future `1.3.0.Final` release), the default image contains GraalVM `19.3.1` (Java 8 edition).

In both cases, if you want to

[2020-02-06 11:49] lordofthejars commented on #7008
You are right any ConfigSource that you can set the custom path might work.
But it should load all files of the dir as vault agent could mount more
than one.

El jue., 6 feb. 2020 12:05, sberyozkin <notifications@github.com> escribió:

[2020-02-06 11:49] #6993 closed

[2020-02-06 12:15] antsab20 opened #7024 "Native image build failed with exit status code 1"
**Describe the bug**
I just upgraded my app from 1.1.1 -> 1.2.0 to test building a native image with graalvm-ce-java11-linux-amd64-19.3.1.

**Expected behavior**
The native image should be successfully build.
**Actual behavior**
[code]
**To Reproduce**
When compiling as native image.

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or

[2020-02-06 12:20] gsmet commented on #7024
Can you try adding `-e` to your Maven command and see if it provides more useful errors?

Last resort would be using `-X` too and see if you get more info.

[2020-02-06 12:22] gastaldi commented on #7024
@antsab20 you don't need this:
[code]

It is resolved transitively through `quarkus-smallrye-health`.

[2020-02-06 12:25] antsab20 commented on #7024
Same output.

The  output that I posted is  using -X

[2020-02-06 12:27] ppalaga commented on #676
Related and generally useful for reproducible builds: https://github.com/jboss/jboss-parent-pom/issues/89

[2020-02-06 12:36] ppalaga opened #7025 "Output property files reproducibly"
`java.util.Properties.store(...)` has at least three reproducibility issues:

* Ordering of the entries in the file is non-reproducible due to `ConcurrentHashMap` being used internally
* Usage of System.getProperty("line.separator") as a line sepatator
* Always writing a timestamp into the file

This causes that jars produced by our projects change with every build even if there was no change in t

[2020-02-06 12:36] ppalaga commented on #676
Blocked by https://github.com/quarkusio/quarkus/issues/7025

[2020-02-06 12:37] antsab20 commented on #7024
You are a wizard :). That was the problem.

[2020-02-06 12:40] gastaldi commented on #7024
Thanks! Closing the issue now :wink:

[2020-02-06 12:40] #7024 closed

[2020-02-06 12:43] ppalaga opened #7026 "Set project.build.outputTimestamp for reproducible JARs"
`project.build.outputTimestamp` property signals to `maven-jar-plugin` 3.2.0+ that it should switch to the reproducible mode. Among other things, this makes the plugin to use the timestamp stored in the named Maven property for the entries in the ZIP file. See https://blogs.apache.org/maven/entry/apache-maven-jar-plugin-version3

A PR follows

[2020-02-06 12:43] ppalaga commented on #676
Blocked by https://github.com/quarkusio/quarkus/issues/7026

[2020-02-06 12:44] sberyozkin commented on #6997
Hi @pedroigor But it is what Google or any other hybrid-like web app is :-) - there is a dozen of options to get something out of it, with the command line tools, Java APIs, or via the direct human interaction. But agreed, we should suggest that it is not something the users should do just to make things cool :-).

[2020-02-06 12:55] ppalaga opened #7027 "Output runner JARs reproducibly"
We write into several JAR files during our augmentation process. The ZIP entries get timestamps of the instant when they were written. Therefore, when repeating the build from an unchanged source tree, the resulting JAR files are binary different for every build.

We should take the same strategy as the maven-jar-plugin - i.e. take the stable value stored in the `project.build.outputTimestamp` pro

[2020-02-06 12:55] ppalaga commented on #676
Blocked by https://github.com/quarkusio/quarkus/issues/7027

[2020-02-06 13:05] antoinesd opened #7028 "Test that smallrye-health works in dev mode"
**Description**
Test that changes in Health Check procedure are effective in dev mode

[2020-02-06 13:21] antoinesd opened #7030 "Test that CDI beans in SmallRye Health are present"
**Description**
Check that all expected CDI beans in SR Health are deployed once

[2020-02-06 13:27] pedroigor commented on #7013
The reason for using a client id, at least initially, is that it can be chosen when creating a client or, in case the client is created through RFC-7591 (Dynamic Client Registration), the client id is issued by the AS. In fact, even some well-known providers issue the client, even though creating through their administration UIs.

[2020-02-06 13:35] antoinesd opened #7031 "Test the SmallRye Health configuration"
**Description**
Test that configuration changes are taken into account

[2020-02-06 13:46] kamilgregorczyk commented on #7014
@gwenneg If I get it correctly, the image quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11 has no arm version but the raw one from graal has?

[2020-02-06 13:47] andrejpetras opened #7033 "Regex support for the NativeImageResourceBuildItem"
**Description**
Add the regex support for the NativeImageResourceBuildItem.
Liquibase extension PR: https://github.com/quarkusio/quarkus/pull/6334#discussion_r360989113

**Implementation ideas**
Loop over all QuarkusClassLoader elements and check if they match the regex patterns.
https://github.com/andrejpetras/quarkus/commit/0c5eee023ec085ff77470d485f42a4cfe90b289c

TODO: access elements field of

[2020-02-06 13:49] ge0ffrey opened #7034 "ReflectiveClassBuildItem(..., Class<?>... className) should be classProxy friendly"
This code doesn't actually open the class "foo.Bar" up for reflection in the native image:
[code]

A) Proposal A
The problem is that this method in ReflectiveClassBuildItem doesn't deal with class proxies:
[code]
B) Proposal B
The alternative problem is that classProxy.getName() doesn't return the original class'sname.

[2020-02-06 13:50] Sanne opened #7035 "UnsupportedFeatureError: The offset of private final java.util.Set"
**Describe the bug**
The native image succeeds to build, but fails at startup:

N.B. the output seems partially corrupted as well?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout current master ( 64f0e690c when I hit this )
2. Build integration test module `quarkus-integration-test-jpa-h2` with `-Dnative`
3. run existing test `io.quarkus.it.jpa.h2.JPAFunctionalityInGraalITCa

[2020-02-06 13:50] emersonl91 commented on #6992
+1

[2020-02-06 14:02] #6853 closed

[2020-02-06 14:02] #6836 closed

[2020-02-06 14:02] #6842 closed

[2020-02-06 14:04] debae commented on #6914
Closing this ticket , it has been fixed by @andreas-eberle in https://github.com/quarkusio/quarkus/commit/17a161d0816e29f9c611cdc02d91d93b5483973f

[2020-02-06 14:04] #6914 closed

[2020-02-06 14:06] gwenneg commented on #7035
That's a weird output indeed.

This is most likely related to #6956. I'll investigate this issue tonight unless it's been fixed by then.

[2020-02-06 14:07] debae commented on #6954
I've made some changes :
[code]

[2020-02-06 14:11] Sanne commented on #7035
thanks @gwenneg , I wasn't planned to dive too deeply on this as I'm busy with other issues: so some help would be welcome.

Just wondering, nobody else hit this issue? Since it's in the integration tests, I wonder why nobody noticed yet - especially as #6956 seems was merged some days ago.

[2020-02-06 14:12] gwenneg commented on #7035
@gsmet This is probably a regression affecting `1.3.0.Alpha1`. We will probably need to revert https://github.com/quarkusio/quarkus/pull/6956/commits/14a6eb6da5dbed554a3e537319e3ea9bcb39.

[2020-02-06 14:13] gwenneg commented on #7035
@Sanne I'm also surprised this didn't show up in CI. I'll try to figure this out tonight.

[2020-02-06 14:13] rsearls opened #7036 "Issues with new requirement of testng for testing"
Quarkus 1.2.0 now requires testng.  This has introduced the following 2 issues.
There are 2 issues.
* When 2 or more tests are run, testng prints an error in usage message.
* The names of the individual tests that successfully run are no longer printed.  Only a summary of total tests run is listed.

**Expected behavior**
* Each test file that successfully runs reports the filename and test summary

[2020-02-06 14:14] sberyozkin commented on #6549
Hi @tpenakov, OOM won't happen just because the native image is too big. Besides, with the parser configuration optimizations the tika extension will have a much slimmer native image, example, for PDF only, for DOCx only, etc.
Thanks

[2020-02-06 14:21] gwenneg commented on #7035
The GraalVM team commited https://github.com/netty/netty/commit/4980a6b30416af6fa73af1226ac305965cc516e7 in netty and it is part of netty `4.1.43.Final` (and higher) so https://github.com/quarkusio/quarkus/commit/14a6eb6da5dbed554a3e537319e3ea9bcb39 should have been a safe commit.

[2020-02-06 14:28] Sanne commented on #7035
FYI we shouldn't drop code like 14a6eb6 as we hope to be able to have a switch in GraalVM which disables loading such metadata: it's better to have the Quarkus extension to have the definite say on what the compiler should do.  The problem is otherwise different such metadata could have conflicting flags.

[2020-02-06 14:31] gwenneg commented on #7035
I didn't know that, we should revert https://github.com/quarkusio/quarkus/commit/14a6eb6da5dbed554a3e537319e3ea9bcb39 without a doubt then. Thanks for the info!

[2020-02-06 14:45] Sanne commented on #7035
thanks @gwenneg , I can confirm: I reverted 14a6eb6 and the problem is gone.  I'll let you do the PR, please ping me when it's there I can expedite approve :)

More puzzling would be to figure out why that Netty resource is being ignored. It might relate to how resources are loaded: I just noticed I only have the issue on JDK11.

[2020-02-06 14:47] Sanne commented on #7035
@cescoffier FYI ^

[2020-02-06 14:47] gsmet commented on #7035
Are you sure you don't have an old Netty around? Just to be extra sure?

Because CI should have failed, it runs with Netty for each test basically.

[2020-02-06 14:48] Sanne commented on #7035
That was my first thought as well :) I checked the Maven dependency tree, it seems we're not pulling in some different/unexpected version.

Is master being tested with JDK11 ? That seems to be the crucial difference - I'm confirming, will update the bug description.

[2020-02-06 14:48] gsmet commented on #7035
Typically, be sure you have fully built and installed master before testing things.

[2020-02-06 14:49] gsmet commented on #7035
Yes, it is. That's why I'm very surprised.

[2020-02-06 14:50] gwenneg commented on #7035
That's because the original GraalVM issue only happens with JDK > 9 according to the https://github.com/netty/netty/commit/4980a6b30416af6fa73af1226ac305965cc516e7 commit message.

[2020-02-06 14:50] gsmet commented on #7036
Can you expand on that? Because we are not supposed to use TestNG in Quarkus.

[2020-02-06 14:51] Sanne commented on #7035
Confirmed, it was working just fine on GraalVM 19.3.1 / JDK ***8*** . Only fails on 11.

[2020-02-06 14:57] Sanne commented on #7035
@gsmet since maven's trees can't always be trusted, I also nuked all other versions I had in my local cache: re-run the build, and it didn't have to download anything so I guess it's really using that version.

I also see the json file within the jar.

[2020-02-06 15:02] gsmet commented on #7035
OK, I will check if I can reproduce it myself. If CI was red, I wouldn't but there's something fishy here. It might be our CI not testing the right thing. We need to get to the bottom of it.

https://github.com/quarkusio/quarkus/runs/428850800?check_suite_focus=true is green.

[2020-02-06 15:35] zulq opened #7038 "Kotlin quarkus Dev recompiling with JVM target 1.6"
When running in Dev mode with kotlin, JVM 1.6 target is being used instead of the Intellij settings after code changes and thus causing the following error.

**Calls to static methods in Java interfaces are prohibited in JVM target 1.6. Recompile with '-jvm-target 1.8'**

After restarting it works initially until code is changed again.

[2020-02-06 15:47] gsmet commented on #7038
This has been fixed in 1.3.0.Alpha1.

Agreed it's an Alpha but probably better than something not working :).

[2020-02-06 15:50] gsmet commented on #7034
I'm not really sure that's something we want to fix. It is really something that shouldn't be done.

You should use the recorder proxy only to push classes to the recorder.

[2020-02-06 15:57] dmlloyd commented on #7014
It should work but only on an actual system.  In fact, I'll give it a try right now, why not!

[2020-02-06 15:59] dmlloyd commented on #7014
It's going to take a while though :slightly_smiling_face:

[2020-02-06 16:21] dmlloyd opened #7039 "NPE seen during quarkus-smallrye-metrics-deployment build"
**Describe the bug**
An NPE is seen during the build.

**Expected behavior**
No NPE?

**To Reproduce**
Steps to reproduce the behavior:
1. Check out rev `ed9b0e9006dab1d1c11b1f17ecea928134cb4365`
2. Clean install
3. View NPE in output

**Output**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: `Linux 5.2.14-200.fc30.aarch64 #1 SMP Tue Sep 10 1

[2020-02-06 16:26] gsmet commented on #7039
Thanks for that one, it made my day :).

[2020-02-06 16:41] gsmet commented on #7035
So I confirm I have the same issue when building with JDK 11 and using GraalVM JDK 11.

[2020-02-06 16:45] sberyozkin commented on #7013
@pedroigor thanks,  this is good in itself for sure, but the the `clientId` is not unique across the multi-tenancy configuration space. I'm not sure this is what the tenant config resolvers should do, there will be `quarkus-oidc-client` in time to support these kind of things...

[2020-02-06 16:45] rsearls commented on #7036
The pom.xml provided in the sample project contains the minimum archives required to compile and run the tests.  Each one of the archives was added
because of a compiler or test run issue in which a needed class was not present.

Comment out the archive for testng
lines 65-69.  Running the test  "mvn test" displays the following msg.
[ERROR] org.jboss.resteasy.test.core.basic.ByeTest  Time elapsed

[2020-02-06 16:46] gsmet commented on #7035
Lol:
[code]

[2020-02-06 16:49] rsearls commented on #7036
And none of my tests classes use or import any org/testng/* classes

[2020-02-06 16:50] dmlloyd opened #7040 "MongoDB unit tests fail on AArch64"
**Describe the bug**
MongoDB unit tests fail on AArch64 with an error like this:

[code]

This is simlar to #3423.

**Expected behavior**
Either the test should pass (if supportable on AArch64) or be skipped (if running the extension on AArch64 is unsupported).

**Actual behavior**
The test fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an AArch64 system
2. Check out Quarkus
3.

[2020-02-06 16:54] rsearls commented on #7036
Here is the stacktrace.  The failure appears to be comming from
at io.quarkus.arquillian.QuarkusTestNgCallbacks.invokeTestNgBeforeClasses(QuarkusTestNgCal
lbacks.java:31)

"main@1" prio=5 tid=0x1 nid=NA runnable
  java.lang.Thread.State: RUNNABLE
	  at java.lang.NoClassDefFoundError.<init>(NoClassDefFoundError.java:59)
	  at io.quarkus.arquillian.QuarkusTestNgCallbacks.invokeTestNgBeforeClasses(Qu

[2020-02-06 16:56] gsmet commented on #7035
https://github.com/quarkusio/quarkus/pull/7041

Good catch, @Sanne .

[2020-02-06 17:05] dmlloyd commented on #6327
We'd have to start by figuring out what requires JNA.  The `hibernate-types` project doesn't seem to use it so it must come in transitively from something else postgres-related.

[2020-02-06 17:08] Sanne commented on #7035
Many thanks for the thourough checks @gsmet , I was very puzzled about "why only me?" :)

[2020-02-06 17:10] dmlloyd commented on #7040
We might consider forking or dropping `flapdoodle` since it is apparently no longer maintained.

[2020-02-06 17:20] gsmet commented on #7040
Couldn't we just start MongoDB as a Docker container?

[2020-02-06 17:55] rsearls opened #7043 ""method is not visible from class loader" for created proxy classes."
Resteasy has a lot of test classes that creates a proxy class from an interface
definition.  The quarkus environment reports, "method is not visible from class loader".
and the test fails.

[ERROR] test on test(org.jboss.resteasy.test.core.basic.PartialAnnotationResourceTest)(org.jboss.resteasy.test.core.basic.PartialAnnotationResourceTest)  Time elapsed: 0.019 s  <<< FAILURE!
java.lang.IllegalArg

[2020-02-06 17:57] gsmet opened #7044 "OIDC code flow tests failing in native on CI"
The OIDC code flow tests are now consistently failing on CI with something like:

[code]

/cc @sberyozkin @pedroigor

[2020-02-06 18:02] sberyozkin commented on #7044
@gsmet FYI, I've rebased the latest OIDC PR which I merged in the morning and it was totally green.

[2020-02-06 18:09] gsmet commented on #7044
Not saying you did anything wrong but we had 2 builds failing in a row with the exact same errors. Looks suspicious.

[2020-02-06 18:13] sberyozkin commented on #7044
@gsmet Hi Guillaume, I'm always open to realizing I've broken a build :-), but so far I can't reproduce:
[code]

[2020-02-06 18:26] sberyozkin commented on #7044
Have rebuilt the master, rerun the tests, still no luck...

[2020-02-06 18:30] sberyozkin commented on #7044
I'd like to disable one test that depends on a multi-tenancy feature and see if it makes a difference

[2020-02-06 18:41] geoand commented on #7044
I saw this failure in some PRs as well FWIW

[2020-02-06 18:42] sberyozkin commented on #7044
If #7045 passes then I'd rewrite that test a bit to avoid setting a custom cookie, my best bet that it has not been cleared in the JVM mode (despite the disabled test actually asking HtmlUnit WebClient to clear it and as such it then affects the tests in the native mode)

[2020-02-06 18:43] geoand commented on #7038
@gsmet beat me to it 😎. Please give 1.3.0.Alpha1 a try to see if the problem disappears for you

[2020-02-06 18:44] geoand commented on #7034
Can you explain your use case? I am pretty sure there is some better way to achieve your end result

[2020-02-06 18:45] geoand commented on #7039
cc @jmartisk

[2020-02-06 18:47] geoand commented on #7043
I don't think it will make a difference, but can you please try against Quarkus 1.3.0.Final?

[2020-02-06 18:48] geoand commented on #7040
I was about to say the same thing as @gsmet . I think that fake mongo thing is causing more trouble than it's worth.

[2020-02-06 19:04] GregJohnStewart opened #7046 "Add equals/ hashcode to PanacheMongoEntity"
**Description**

I would like it if the `PanacheMongoEntity` would have its `equals` and `hashcode` methods implemented, in order to more easily compare Mongo entity objects that utilize this class. Without the methods defined by the panache entity class, it makes using lombok to simplify the code written for extending classes more difficult.

**Implementation ideas**

I wrote my own wrapper class

[2020-02-06 19:38] rsearls commented on #7043
I don't have access to 1.3.0.Final.
I have https://github.com/quarkusio/quarkus.git
but this does not appear to be the right one for building 1.3.0.Final.

[2020-02-06 19:44] pedroigor commented on #7013
Yes, it is not. If you find that this model is limiting people, I'm OK to review and provide the necessary means to explicitly define the tenant id when resolving configs.

[2020-02-06 19:45] geoand commented on #7043
Sorry, my bad. I meant 1.3.0.Alpha1

[2020-02-06 19:51] Postremus commented on #6760
This is somewhat related to https://github.com/quarkusio/quarkus/issues/3091.
In that bug, we also did not detect sub folders correctly.

https://github.com/quarkusio/quarkus/blob/6df5c5a0b4cb204f2669258581000c5d6b9dcb18/extensions/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java#L127-L129

In this, and other similar lines, we check if an file  is t

[2020-02-06 20:01] rsearls commented on #7043
Yes 1.3.0.Alpha1 resolves this issue

[2020-02-06 20:07] geoand commented on #7043
Excellent, an easy win the. 🤘

[2020-02-06 20:07] #7043 closed

[2020-02-06 20:24] kamilgregorczyk commented on #7014
@dmlloyd Thanks! I have a Kubernetes cluster build on arm64, let me know if you want to test things

[2020-02-06 20:40] #6964 closed

[2020-02-06 21:02] geoand opened #7048 "Allow the standalone use of @Startup"
Currently the new `@Startup` annotation requires a scope annotation to go along with it.

It was [suggested](https://github.com/quarkusio/quarkus/pull/6969#issuecomment-582784981) to make `@Startup` a standalone annotation that is `@ApplicationScoped` by default

[2020-02-06 21:25] sberyozkin commented on #7013
Hi Pedro since we agree it is not unique, we don't need to wait for people starting reporting the problems because they will as soon as more than one tenancy configuration will have the same clientId.
As I said, the only difference between `TenantResolver` and `TenantConfigResolver` is `static` vs `dynamic`, they should be consistent otherwise in the way the multi-tenancy is supported.
Making sure

[2020-02-06 21:57] sberyozkin commented on #7013
@pedroigor hey, and it will be an internal fix really, we will be able to expand `TenantConfigResolver` if needed further but I just can't see how at the moment giving the dynamic nature of it, recall, during the initial PR I was trying to convince for it to extend `TenantResolver` so that it can return a `tenantId` while also returning a Map of tenantIds to OidcTenantConfig, but then I thought, i

[2020-02-06 22:14] #7035 closed

[2020-02-06 22:26] sberyozkin commented on #7044
Hi, #7045 has passed so I'm hoping it was causing the problem, or rather the cookie which this test was depending upon was not cleaned-up. I'll follow up with a simpler solution as the tenant id is not really needed in that test after a redirect, will try tomorrow to let other PRs go in without being affected :-)

[2020-02-07 00:10] gwenneg commented on #3306
Now that the first version of the `quarkus-cache` extension is merged, we could start discussing about the programmatic caching API for advanced use cases. There's already been an advanced use case question in #6903 and maybe the programmatic API could be the answer to that question.

If there's a consensus about the operations/features the API should support, I could start working on it. But firs

[2020-02-07 02:58] stuartwdouglas commented on #6978
This was a known problem that should be fixed by the classloader change (I think it is a duplicate of https://github.com/quarkusio/quarkus/issues/5354)

[2020-02-07 02:58] #6978 closed

[2020-02-07 03:45] stuartwdouglas commented on #6951
index-dependency does not work because the jar is in the project itself, so we can't interpolate it's name from the location in the maven repo. This is not really something we want to support anyway, as if it is part of the same project then you can just add an index (well you are supposed to be able to...).

[2020-02-07 04:24] emattheis opened #7054 "missing RESTeasy classes in native build of JAX-RS app"
**Describe the bug**
A JAX-RS app which works fine when built as a JAR fails when built as a native executable.

**Expected behavior**
JAX-RS endpoint should work and emit JSON.

**Actual behavior**
JAX-RS endpoint fails during lazy initialization of CDI beans due to missing classes in RESTeasy.

**Additional context**
See reproducer here: https://github.com/emattheis/quarkus-native-issue

[2020-02-07 05:51] sciack opened #7055 "Gradle native build mask error"
**Describe the bug**
When a gradle native build goes in error, it's really difficult to understand the problem, the exception will just tell that something is failing.

**Expected behavior**
I'm expecting a meaningful error like maven:
`Caused by: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: com.ibm.icu.text.Normalizer. To diagnose th

[2020-02-07 06:19] lburgazzoli commented on #6951
So I found the reason and it is related how application archive are now constructed so if the archive is part of the project, then the paths the archive points to are project path, instead of pointing to a jar.

This should not cause issue usually but we have some bits in camel-quarkus that reason in term of paths and of course resources from jars have different paths than those from the filesyste

[2020-02-07 06:19] #6951 closed

[2020-02-07 08:09] jmartisk commented on #7039
Well, this is correct. The `DevModeMetricsTest` removes a metric and then verifies that it does not exist anymore by asserting HTTP 500 response from a REST call that reads that metric:  https://github.com/quarkusio/quarkus/blob/1.3.0.Alpha1/extensions/smallrye-metrics/deployment/src/test/java/io/quarkus/smallrye/metrics/deployment/DevModeMetricsTest.java#L83
A lot of negative tests do things that

[2020-02-07 08:25] jmartisk commented on #7039
If it feels too intrusive, we could change the test to do something else

[2020-02-07 09:06] jmartisk opened #7061 "Allow MetricBuildItem to declare the desired scope"
Currently all metrics from `MetricBuildItem`s are placed into the `vendor` registry

[2020-02-07 09:08] loicmathieu commented on #7046
@FroMage WDYT ?
If we do it, we will do it also for Hibernate with Panache ...

According to be, providing default hashcode/equals for `PanacheEntity` and `PanacheMongoEntity` is easy but as the ID are only provided after the entity was persisted to the database, this means the hashcode and equals method will always return false when the entity is created but not yet persisted. This can be very su

[2020-02-07 09:10] loicmathieu commented on #7040
This as already been discussed, due to the fact that our CI runner in Windows didn't have docker we cannot do this ... or we need to skip the test on Windows.

If we install docker on the Windows runner, we will then be able to use testcontainers and it will be a lot easier to maintain these kind of tests.

[2020-02-07 09:14] Karm opened #7062 "mvn package:Intermittent NoClassDefFoundError: org/jboss/threads/EnhancedQueueExecutor"
**Describe the bug**
Simple MicroProfile JAX-RS app build **sometimes** spits the undermentioned error after a **successful** Maven build. e.g.

[code]

Note that I am consistently, always getting this on Circle CI builder VM (some Ubuntu; Java and Maven the same as in my reproducer). I got the error message also on my RHEL 7.6 dualcore VM after a couple of trials. I haven't been able to reproduce

[2020-02-07 09:25] jmartisk commented on #7018
Another reason to do this is that if an extension places metrics into `base` or `vendor` scopes and it does that dynamically at runtime, because the list of metrics is not known during build, it gets quite difficult for the extension to correctly determine when to remove and re-create the metrics.

[2020-02-07 09:33] loicmathieu commented on #5183
@realDrCastafolte MongoDB with Panache currently only allow to use multiple database on the same MongoDB client (so on the same MongoDB clsuster).

Multiple MongoDB Client with Quarkus just lands in thanks to #4529, I will now works on integrating this functionality inside MongoDB with Panache, so stay tuned ;)

[2020-02-07 09:49] gsmet commented on #7062
/cc @dmlloyd @stuartwdouglas

[2020-02-07 09:53] pschyma opened #7065 "Test application.properties are ignored in 1.3.0.Alpha1"
**Describe the bug**
Only main `application.properties` are applied in unit tests.

**Expected behavior**
Test `application.properties` are applied.

**Actual behavior**
Only main `application.properties` are applied in unit tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple Quarkus project
2. Override some configuration, e.g. `quarkus.http.root-path`
3. Test for test con

[2020-02-07 10:00] zulq commented on #7038
Tried to update but dependencies failed to resolve for 1.3.0.Alpha1 after I updated the gradle properites file.

[2020-02-07 10:01] geoand commented on #7038
It is in Maven Central: https://mvnrepository.com/artifact/io.quarkus/quarkus-bom/1.3.0.Alpha1

[2020-02-07 10:03] zulq commented on #7038
Yes, I did confirm that before updating but still not resolving.

[2020-02-07 10:04] geoand commented on #7038
I have tried it myself and the dependencies were resolved. Also other users have reported success.
What is the exact error you are getting?

[2020-02-07 10:08] zulq commented on #7038
Could not resolve: io.quarkus:quarkus-resteasy-qute and for all the other packages.

[2020-02-07 10:10] geoand commented on #7038
I propose you clean you clean your gradle cache and/or your `.m2` directory

[2020-02-07 10:19] FroMage commented on #7046
I think @Sanne had an opinion about hashCode/equals for entities, but I don't remember it. I've never ever needed it myself because I've never had to deal with collections of unpersisted entities, or multiple instances of the same persisted entity.

[2020-02-07 10:24] zulq commented on #7038
Did all that and still, however getting the following:
-Declare repository providing the artifact, see doc....

[2020-02-07 10:32] geoand commented on #7054
I see that the code uses:

[code]

which seems to work in JVM mode but not native. In native mode the root cause of the failure seems to be:

[code]

Now we can in Quarkus register this provider when we see `StreamingOutput` as a return value of a JAX-RS method, but I don't understand why it's needed.
@asoldano @FroMage any ideas?

[2020-02-07 10:33] zulq commented on #7038
However if add the package version explicitly as part of the implementation it works so am suspecting the platform/quarkus plugin

[2020-02-07 10:35] geoand commented on #7038
@zulq are we sure the gradle parts were properly released?

[2020-02-07 10:37] FroMage commented on #7054
I'm guessing it depends on the contents of `Greeter.write` which seems to be doing its own serialisation with `JsonGeneratorImpl`. Probably that lib needs some types registered for reflection.

[2020-02-07 10:39] geoand commented on #7054
Oh, I didn't realize that SerializationOutput is something that a user implements! I should have checked that, thanks!

[2020-02-07 10:40] geoand commented on #7054
Then this shifts and I think the idea person to take a look is @aguibert :)

[2020-02-07 11:00] andreas-eberle opened #7066 "Native build of Kafka Streams fails at runtime with class RocksDBException not found"
**Describe the bug**
The native build of kafka streams aggregator fails at runtime with the exception

[code]

**Expected behavior**
Native build works at runtime.

**Actual behavior**
The aggregator container fails immediately after startup with the exception shown above. The producer container works normally.

This happens with graalvm 19.2.1, 19.3.1-java8 and 19.3.1-java11.

**To Reproduce**
St

[2020-02-07 11:26] zulq commented on #7038
Getting the following after adding the package versions explicitly:
`   > Could not find io.quarkus:quarkus-universe-bom:1.3.0.Alpha1.`

[2020-02-07 11:28] geoand commented on #7038
Oh OK, that's easy then :)

We haven't released universe bom. You can change the artifactId to `quarkus-bom` and things should be fine

[2020-02-07 11:40] zulq commented on #7038
Did that and deps resolved but now getting:
`Caused by: org.eclipse.aether.transfer.ArtifactNotFoundException: Could not find artifact io.quarkus:quarkus-spring-data-jpa-deployment:jar:1.3.0.Alpha1`

Tried to resolve this by adding `1.2.0.Final to quarkus-spring-data-jpa` but no luck.

[2020-02-07 11:48] geoand commented on #7038
@aloubyansky I am seeing the following:

* Create a new project using: `mvn io.quarkus:quarkus-maven-plugin:1.3.0.Alpha1:create -DprojectGroupId=org.acme -DprojectArtifactId=getting-started -DclassName="org.acme.quickstart.GreetingResource" -Dpath="/hello" -DbuildTool=gradle
`

* Update the versions and bom
* Execute quarkusDev using: ` ./gradlew quarkusDev`

And the exception is:

[code]

Are we

[2020-02-07 11:48] radcortez commented on #7065
I've just experienced the same when I've updated one of my apps to 1.3.0.Alpha1.

The issue here is that there are multiple `application.properties` in the classpath. The one in `main` and the one in `test`. Only one gets loaded, and it will be the first one found by the classloader.

Before 1.3.0.Alpha1, the test classpath url was found first, so `application.properties` from `test` was loaded fi

[2020-02-07 11:53] radcortez commented on #7065
Not sure if this was the intended behaviour from the start. Thinking about this, one annoying thing, is that `application.properties` test was used and the one in main was ignored.

I'm wondering if it will be more interesting to actually read from both, and have `application.properties` from `test` to have a higher priority and just override configs from `main`.

[2020-02-07 11:54] radcortez commented on #7065
Alternative, we can always rely on profiles and have everything in one file.

[2020-02-07 12:03] gsmet commented on #7065
It's probably already solved in master: https://github.com/quarkusio/quarkus/pull/7052 .

[2020-02-07 12:07] radcortez commented on #7065
Cool. Thanks. I'll give it a try.

[2020-02-07 12:21] aloubyansky commented on #7038
Yes, that's a wrong resolver.

[2020-02-07 12:21] wfrank2509 commented on #6667
The issue seems not related to s390, only.

The quarkus-quickstarts/kafka-streams example throws the following exception when staring the docker container with the native build:

[code]

The build was done with Graalvm 19.3:
[code]

Same issue occurs with 19.2 and also with building everything with java 11 and using java11 native-image.

One strange observation is that the bundled RocksDB jar ('/U

[2020-02-07 12:25] wfrank2509 commented on #7066
Please see also https://github.com/quarkusio/quarkus/issues/6667 which seems to be related.

[2020-02-07 12:26] gunnarmorling commented on #6667
Could you try with the latest snapshot build or by building Quarkus
and this extension from master? It might be you're running into an
issue which has been recently fixed by PR
https://github.com/quarkusio/quarkus/pull/6952.

[2020-02-07 12:28] radcortez commented on #7065
@pschyma I can confirm that current master fixes this issue. I've just tried it and works as before.

[2020-02-07 12:34] gastaldi commented on #6545
Can someone test against master? I believe #7052 might have fixed this

[2020-02-07 13:17] emmanuelbernard commented on #3306
@gwenneg my proposal is, @karesti and you can start something and exchange. When you feel you ahve more questions than answers, send an email to quarkus-dev@ with proposals and code sample (usage). Or we can go and do a dedicated issue but I tend ot like emails a bit better.

The main principle is again the MVP for a programmatic API as well as thinking imperative and reactive (which means looking

[2020-02-07 13:20] andreas-eberle commented on #7066
I was able to get the quickstart example to start with this [jniconfig.json](https://github.com/quarkusio/quarkus/files/4170953/jniconfig.zip) (package to zip due to github restrictions) put into the resurces directory of the the aggregator.

Additionally, I added

[code]

in the aggregator pom.xml to look like

[code]

[2020-02-07 13:37] vsevel commented on #7008
I still do not see the relationship with the vault extension
what would you develop in the extension to support effectively an approach based on a vault agent?
what we could need is a config source that can point to a dir, load all files and watch them for changes.
but I am not convinced that this should be the responsibility of the vault extension, as other sidecar containers could be working in

[2020-02-07 13:39] #7065 closed

[2020-02-07 13:46] vsevel commented on #7007
if vault isn't there, it is going to be not there for everybody (the only extension is where one replica does not see the vault because of a firewall issue, but the other replicas do). so if your readiness probe fails on vault, this will make all your replicas offline, which will trigger monitoring alerts on your component, whereas there is nothing wrong with your app. typically if your app was do

[2020-02-07 13:49] nimo23 opened #7074 "provide "kafka-embeeded""
**Describe the extension**
Kafka can also be used in embeeded mode. With "ksql"-queryEngine and the ability of kafka to store its data on file system it can be an alternative for common relational databases. Would be nice to have a "quarkus-kafka-embeeded" extension with the same simplifications (such as injection points, transactions) as the  "quarkus-infinispan-embeeded"-extension and which can

[2020-02-07 13:51] lordofthejars commented on #7008
Vincent you are totally right, I think that an extension that implement a
watch would be great

El vie., 7 feb. 2020 14:37, Vincent Sevel <notifications@github.com>
escribió:

[2020-02-07 13:52] lordofthejars commented on #7007
Sure I am not saying to enabled by default, but at least having it

El vie., 7 feb. 2020 14:46, Vincent Sevel <notifications@github.com>
escribió:

[2020-02-07 13:58] dmlloyd commented on #7062
I'm guessing this is due the class loader being closed before the thread pool is terminated.

[2020-02-07 14:01] dmlloyd commented on #7039
I don't think it's a bad idea to have a negative test, but an NPE is always a bug.  There should probably be a "proper" check and an informative exception.

[2020-02-07 14:02] Sanne commented on #7046
indeed, the question of how to properly implement entity equality is a subject of strong debates.

Personally I strongly believe that entities managed by Hibernate ORM are best compared via object identity:  having no overrides for equals/hashcode is the only solution that gives no strong headaches to users - provided they have no "special needs".

The problem with those users who do have "special

[2020-02-07 14:04] kenfinnigan commented on #7036
The Arquillian adapter supports JUnit and TestNG, as the MicroProfile TCKs use one or the other depending on which spec it is.

I wonder if the issue is because the reproducer has the Arquillian TestNG container as a dependency instead of the JUnit one, which is triggering the TestNG methods in the Quarkus Arquillian adapter to be called?

[2020-02-07 14:04] Sanne commented on #7046
Also like @FroMage said, it's all really a lot easier when dealing exclusively with bags of persisted entities, so that one can stop being bothered by the devilish details of getting the equality contract wrong.

[2020-02-07 14:06] mkouba opened #7076 "ArC - introduce a new build item that represents a scope of a custom context registered by an extension"
Some extension register an annotation transformer that adds a scope annotation to a class that is annotated with no scope annotation but meets some specific requirements, e.g. a class with a `@Scheduled` business methods is `@Singleton` by default: https://github.com/quarkusio/quarkus/blob/master/extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java#

[2020-02-07 14:07] #7048 closed

[2020-02-07 14:24] loicmathieu commented on #7046
@Sanne The answer is no.

MongoDB with Panache is stateless, so identity equals is less usable.

[2020-02-07 14:25] jaikiran commented on #6759
Hello @canidae, can you try this with `1.3.0-Alpha1` of Quarkus. It logs this exception when I tried it on that version:

[code]
If you can still reproduce it on that version, please add relevant details or share an application (preferably as a github repo) to reproduce the issue.

[2020-02-07 14:27] manovotn commented on #7076
Thanks for creating the issue, I'll take it :-)

[2020-02-07 14:29] andreas-eberle commented on #7066
I tried to add the classes in the kafka-streams extension by adding the following two lines to `KafkaStreamsProcessor.registerCompulsoryClasses()` but it does not seem to take any effect.

[code]

@gunnarmorling: I saw you worked on this method the last. Do you have an idea what I'm doing wrong?

[2020-02-07 14:34] mkouba commented on #7076
Actually, we could just enhance the existing `ContextRegistrarBuildItem` -> add the scope name...

[2020-02-07 14:39] gastaldi opened #7077 "Gradle buildNative is broken"
**Describe the bug**
In a Gradle project, when you run `./gradle buildNative --stacktrace` the following  error appears:

[code]

**Expected behavior**
No error

**Actual behavior**
Errors

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. `./gradlew buildNative --stacktrace`

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Fedora 31
 - O

[2020-02-07 14:41] gastaldi commented on #7077
@aloubyansky this may be related to recent changes in the bootstrap module?

[2020-02-07 14:42] manovotn commented on #7076
@mkouba Haha, I was literally just now looking at the code and thinking the same, only to come here and see your comment :D

[2020-02-07 15:24] gastaldi commented on #7077
@aloubyansky I created a PR that should fix it: https://github.com/quarkusio/quarkus/pull/7078

[2020-02-07 15:31] sean-scott-lr opened #7079 "1.3.0Alpha1 cannot initially find JDBC Driver on Java8, but works on Java11"
**Describe the bug**
When using 1.3.0Alpha1 with Java8, during startup I see the following error:

[code]

However, shortly after this error Quarkus attempts to load again and succeeds.

[code]

This does NOT happen in Java 11

**Expected behavior**
Error does not occur.

**Actual behavior**
Succeeds in Java 11, Fails in Java 8

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configu

[2020-02-07 15:34] geoand commented on #7077
Also, was dev-mode affected by this bug? And if so, does the PR fix it?

[2020-02-07 15:36] aloubyansky commented on #7077
I don't see a corresponding issue in the dev mode.

[2020-02-07 15:38] geoand commented on #7077
[This](https://github.com/quarkusio/quarkus/issues/7038#issuecomment-583357514) is what I had in mind.

[2020-02-07 15:41] aloubyansky commented on #7077
Have you tried the PR i opened https://github.com/quarkusio/quarkus/pull/7071 ? @geoand

[2020-02-07 15:43] geoand commented on #7077
Oh, I missed that one, let me do that now

[2020-02-07 15:52] geoand commented on #7038
The issue mentioned above should be fixed by #7071

[2020-02-07 16:07] jaikiran commented on #7079
This looks odd:

[code]
Not sure why it's using `io.opentracing.contrib.jdbc.TracingDriver` to connect. Can you share an application which reproduces this?

[2020-02-07 16:16] dmlloyd opened #7080 "Java 11 native builds are about 20% slower than Java8"
**Describe the bug**
Java 11 native image builds process more classes, methods, and fields than Java 8 native builds.  The corresponding added heap and GC load is likely the cause of a ~20% slowdown for native image builds of small-sized projects (like quickstarts).

This is the downstream issue for oracle/graal#2129.  See that issue for the nitty gritty details.

We should look into what we can d

[2020-02-07 16:22] ge0ffrey commented on #7000
It won't make this week, but it's on my short term todo list.

[2020-02-07 16:30] nimo23 commented on #7046
I always provide `equals/hashCode` in jpa entities because I always use `Set` for my relationships instead of `Lists`. Sets does not allow duplicates, but with lists you must care of that for example with something like this:

[code]

But with Sets you need a propert `equals/hashCode`-contract.

And if the entity has natural identifiers (for example, all unique fields or IDs) then I put them into

[2020-02-07 16:30] sean-scott-lr commented on #7079
We are using the tracing driver.
quarkus.datasource.url=jdbc:tracing:postgresql://localhost:port/__dbSchemaName__

Works in 1.2.0.Final Java8 and Java11
Doesn't work in 1.3.0.Alpha1 Java8 but does in Java11

[2020-02-07 16:33] phact commented on #6954
Getting a similar (almost identical) dump on startup for native-image running `1.2.0-Final`

[code]

[2020-02-07 16:39] phact commented on #6954
In case this is helpful, it works when I roll back to `1.1.0.CR1`

[2020-02-07 16:50] aloubyansky commented on #7079
The issue is described launching the application in dev mode. What happens when you build it and launch it from the JAR?

[2020-02-07 16:53] Sanne opened #7081 "Hibernate ORM logging ServiceConfigurationError errors with full stacktraces"
**Describe the bug**
When Hibernate ORM's is scanning for services such as Integrator, when running on JDK11 (and not on JDK8) the strategy it uses to search for services is generating background noise in the form of verbose stacktraces being logged since Quarkus changed the classloader strategy.

These errors are harmless as it's still able to load the correct class definition as it goes on tryin

[2020-02-07 17:06] Sanne commented on #7046
as I said, I realize that for JPA to discuss what is "the right way" of doing equals/hashcode is always controversial.

I strongly believe it's a recipe for disaster to work with non-persisted and non-managed entities, but sure there's various ways to use it. Basing things on Sequence like @nimo23 mentions is a good idea, but it doesn't apply to all databases.

Which is precisely why I believe the

[2020-02-07 17:12] emmanuelbernard commented on #2759
Not forgotten. But the current efforts in the data area are about some bug fixes to stabilize the platform and another area around reactive access.

[2020-02-07 17:19] Sanne commented on #6063
I have a solution for this, we'll release Hibernate ORM 5.4.11.Final soon and then need to send a PR for Quarkus.

[2020-02-07 17:24] Sanne commented on #6770
hi @jesperpedersen , sorry I don't understand what you mean? Are you suggesting a code change in Agroal?

[2020-02-07 17:24] rafialhamd commented on #4124
I'm facing this issue, now.

Just started with Quarkus.
Ran command: `mvnw compile quarkus:dev:`, in Windows 10 _git bash terminal_.

localhost:8080/hello is working fine.
Changed the code, and hot deploy didn't work.

Wanted to re-start Quarkus. Attempted Ctrl+C. But, didn't work.
So, Closed the 'terminal'.
Again, running the command `mvnw compile quarkus:dev:` gives the below error:

Can someone

[2020-02-07 17:29] rafaelkloss commented on #6063
Tanks a lot @Sanne !

[2020-02-07 17:39] sherl0cks commented on #6785
@patriot1burke circling back to this, as this is an important issue for us and I'm hoping we can keep it moving forward. Anything we can do to help? Thoughts on what is needed to get this submitted upstream?

[2020-02-07 18:13] wfrank2509 commented on #6667
Actually the PR was done by my colleague Sebastian :)

Tried the latest SNAPSHOT now.

That fixes the inclusion of the shared library but leads to the following issue when running the aggregator container:

[code]

That leads to the issue my other colleague Andreas has :)

Please see: https://github.com/quarkusio/quarkus/issues/7066

[2020-02-07 18:35] sean-scott-lr commented on #7079
So, I had to skip tests to build the jar because the issue happens during test too.  However, I was able to run the jar with JDK8 successfully once I was able to build it.

[2020-02-07 18:35] patriot1burke commented on #6785
I should be able to get back to this on Monday or Tuesday, with a PR by end of week.

[2020-02-07 18:36] patriot1burke commented on #6785
I can't promise anything after the PR though.  Depends on when somebody is available to review and when master is released.

[2020-02-07 18:47] sherl0cks commented on #6785
@patriot1burke sounds good, we appreciate all your help so far. Do let us know if there is anything we can do to help out.

[2020-02-07 18:59] wfrank2509 commented on #7066
Also tried a slightly different thing to register the Reflection Classes in aggregator module of the kafka-streams quickstart:

**application.properties:**
quarkus.native.additional-build-args=-H:ReflectionConfigurationFiles=reflection-config.json

Add File **reflection-config.json** to main/resources:
[code]

Unfortunately same result when running the native build container:
``` java.lang.NoClass

[2020-02-07 19:03] emattheis commented on #7054
@geoand For what it's worth, I found that switching my JAX-RS method from this
[code]
to this
[code]
makes the Jandex warnings go away. The native build still exhibits the same problems.

[2020-02-07 19:08] nimo23 commented on #7046
Yes. I also think that this makes more sense. However, I don't understand why using db-generators (like sequence) by default if jpa-providers cannot detached entities and multiple sessions with same object without custom equals/hashCode.

@Sanne one subjective question: The user does not need to use the database ID generation which is the default for `PanacheEntity`. Do you think that client ID ge

[2020-02-07 19:22] aloubyansky commented on #7079
Thanks for this info.

[2020-02-07 19:29] wfrank2509 commented on #7066
The image classpath configured for the native build contains the rocksdb jar.

[code]

[2020-02-07 19:34] gunnarmorling commented on #7066
Do you have a reproducer handy? Will the kafka-streams-quickstart example
expose this issue when used with the latest Quarkus version?

[2020-02-07 19:52] wfrank2509 commented on #7066
Yes ... I am using the plain kafka-streams-quickstart example to reproduce the issue.

[2020-02-07 20:01] rsearls opened #7084 "quarkus-arquillian does call @Before unless @RunAsClient is present"
Arquillian processes all @Before annotations (org.junit.Before) when
@RunAsClient annotation (org.jboss.arquillian.container.test.api.RunAsClient)
is not present and when present. quarkus-arquillian only processes the
@Before annotation when @RunAsClient is present.

Test AsyncPostProcessingTest has @Before and no @RunAsClient.  Test fails
because client is null.  The method is never called.

   @

[2020-02-07 20:21] debae commented on #6954
@phact Can you please add the configuration of you application.yaml , because the error is different according to me.
The reason why you don't get this exception in 1.1.0.CR1 is because the named handlers are only introduced as of version 1.2.0.

[2020-02-07 20:27] andreas-eberle commented on #7066
Also, I had issues with the provided docker-compose file causing the containers to not find each other due to wrong names. With the compose file I attached in my initial post, the containers can at least find each other and connect to kafka.

[2020-02-07 20:57] gunnarmorling commented on #7066
Ok, I'll try and take a look next week. I reckon one of the recent
GraalVM updates is triggering this.

[2020-02-07 21:08] ionutbalosin commented on #2835
+1

[2020-02-07 21:16] stuartwdouglas commented on #7062
This is not running tests, so AFAIK the only EnhancedQueueExecutor is the one used in io.quarkus.builder.Execution#executor, which is definitely shut down after the build.

[2020-02-07 21:19] #7044 closed

[2020-02-07 21:33] irenakezic commented on #2718
@gsmet sorry for taking so long to look into this.
From what I can see there is a problem with MethodHandle in GraalVM (as described here https://github.com/oracle/graal/issues/955) which is used for snappy compression type. I am not sure if I should try to make further substitutions for CompressionType to try to resolve this?

[2020-02-07 21:35] nikospara commented on #4147
Still happening with 1.2.0, which has 5464 merged.

[2020-02-07 23:01] cadu-goncalves commented on #5802
In a recent research I realized that **Quarkus** already provides **Consul** integration, throught **Apache Camel**.

Specifically for Service Registry **Camel** provides the component [Service Registry](https://camel.apache.org/manual/latest/service-registry.html) and also a direct [Consul Component](https://camel.apache.org/components/latest/consul-component.html) for other integrations (KV stor

[2020-02-07 23:23] rsearls opened #7087 "quarkus-arquillian having issue process app using CompletionStage"
Deploying the app results is the following error message and none of
the test methods being called. I have traced the error into io.quarkus.arc.processor.BeanArchives
but have been unsuccessful determining root cause.

    [INFO] Running org.jboss.resteasy.test.asynch.AsyncInjectionTest
    18:07:48,889 INFO  [org.jbo.threads] JBoss Threads version 3.0.0.Final
    18:07:49,150 WARN  [io.qua.arc.pr

[2020-02-08 01:15] hguerrero opened #7088 "amqp-host is not working in reactive messaging"
**Describe the bug**
(Describe the problem clearly and concisely.)
Documentation states that the property `amqp-host` should be use however the one available is actually `amqp-server` as initially described in #3806
**Expected behavior**
(Describe the expected behavior clearly and concisely.)
Documentation and property should be the same either `-host` or `-server
**Actual behavior**
(Describe the

[2020-02-08 01:33] nimo23 commented on #5602
I am not against annotations in general if the intentions are clearly separated. But having someting like this:

[code]

how should one know which annotations can or should be (not) mixed up without searching for that stuff which is very time consuming? **Why not using lambda style method chaining instead?** It is by far easier to construct such expressions as above, because with method-chaining t

[2020-02-08 02:16] sherl0cks commented on #6491
@dforsl circling back to this one. Do you think you'll have a chance to submit a PR of this one? My team is hitting the same issue.

[2020-02-08 02:58] #7077 closed

[2020-02-08 06:41] geoand commented on #4147
Is it an issue with 1.3.0.Alpha1 as well?

[2020-02-08 06:52] rafialhamd commented on #4124
I **rebooted** Windows, and started to use _Traditional Windows Command Prompt_, and no issues in using `mvnw compile quarkus:dev:`.

[2020-02-08 07:26] gwenneg commented on #7087
Hi @rsearls and thanks for reporting this.

You need to fix `-Dfile=FIX_THIS/lib/utils-arquillian-utils-4.5.0-SNAPSHOT.jar` (from your repository README.md) before we can use your reproducer, right?

[2020-02-08 07:28] jaikiran commented on #7079
This is a genuine issue. I've opened https://github.com/quarkusio/quarkus/pull/7089 with a potential fix.

[2020-02-08 07:44] gunnarmorling commented on #6109
Hey @InfoSec812, did you have a chance to make any progress with reworking the Kafka Streams guide?

[2020-02-08 09:15] gunnarmorling commented on #6667
Ok, best to not conflate multiple issues; this one here really is about the lack of RocksDB support on s390; this will be hard to come by, unless the native RocksDB parts get ported or we add an alternative statestore implementation that's purely Java-based.

The similar issue about the native lib not being found in a container build for Linux has been addressed already. Let's continue the discuss

[2020-02-08 10:07] gunnarmorling commented on #7066
For the time being, you can add the following class to the _aggregator_ project to resolve the issue:

[code]

I'll send a PR for taking care of this in the Quarkus Kafka Streams extension shortly.

[2020-02-08 10:36] CrystalMethod opened #7090 "[PoC/WIP] Zalando Problem (RFC7807) Extension"
**Describe the extension**

Provide an extension that adds the ability to use the [Zalando problem](https://github.com/zalando/problem) library in the Quarkus application.The extension itself is fairly simple - an ExceptionMapper is more or less the core function. The extension works in JVM and native mode. See here for first implementation:

https://github.com/cloudstark/quarkus-problem-extension

[2020-02-08 12:10] mklueh opened #7091 "java.lang.IllegalArgumentException: UTF8 string too large when running a QuarkusTest"
**Describe the bug**
Bug occurs for me when trying to execute a QuarkusTest

**To Reproduce**

I´m having a multi-module project if that does mean anything.
Running on Quarkus 1.2.0 Final

in my build.gradle I have these additional props defined because I first ran into another issue

[code]

What is that exception related to? Class Name, Application Location?

Thanks in advance.

[code]

[2020-02-08 12:53] jaikiran commented on #7091
Hello @mklueh, can you share the application (maybe as a github repo) which reproduces this exception?

[2020-02-08 13:18] rsearls commented on #7087
No.  If you install utils-arquillian-utils as directed there is no issue.  This archive only contains a utility used by the test to generate the test's url.
Once you install this archive compile the project,
  mvn clean test -DskipTests=true
Then run the test.
mvn test
You will see the issue.

[2020-02-08 14:43] gwenneg commented on #7087
I'm sorry but I don't see the `utils-arquillian-utils.jar` file anywhere. Am i missing something?

[2020-02-08 15:28] rsearls commented on #7087
Try fetching the project again.   It appears lib dir was ignored by .gitignore.
when I added stuff.
I've fixed this.  You should have access to the dir and archive now.

[2020-02-08 17:05] ArjanKranenburg commented on #2125
Thanks @jamesfalkner. Your dockerfile worked for me.

[2020-02-08 18:25] mklueh commented on #7091
Hello @jaikiran ,

I cannot share the application, but I´d like to create a demo project around the issue. Sadly I cannot reproduce it for now in the demo project, it works as expected.

Could you tell me where I might need to look for when it comes to the exception "UTF8 string too large" or is it likely that the exception is meaningless in my case?

[2020-02-08 19:15] mklueh commented on #7091
I´ve managed to break the problem down to two dependencies that are causing it when being used together. Excluding one of the two cause the issue to disappear

[code]

[Demo Project](https://github.com/mklueh/quarkus-utf8-too-large-exception)

[2020-02-08 19:35] nimo23 commented on #7074
I dont think that this makes sense.

[2020-02-08 19:35] #7074 closed

[2020-02-08 20:05] chonton opened #7094 "SSE endpoint has incorrect value for Transfer-Encoding header"
**Describe the bug**
JAX-RS resource which is producing server-sent-events has a spurious ```Transfer-Encoding ``` response header

**Expected behavior**
No Transfer-Encoding response header or header value of ```identity```

**Actual behavior**
Response header set as ```transfer-encoding: chunked``` even though the response body is not chunked endcoded

[code]

**To Reproduce**
Steps to reproduce

[2020-02-08 21:32] bluemonk3y commented on #6701
As per the pervious link I believe this is a sam docker issue wrt storage where the class path ends up being broken due to failed mounting or scp. awslabs/aws-sam-cli#1092

[2020-02-08 21:50] evanchooly commented on #6701
I have been at a conference this week but I will try to take a look when I'm back in the office next week.

[2020-02-08 23:35] chonton commented on #7094
Suggested fix:
[code]

[2020-02-09 08:04] troosan opened #7095 "Swagger-ui "Try it out" feature ignores root-path defined in Quarkus properties"
**Describe the bug**
In the application.properties I have specified a custom "quarkus.http.root-path"
However, when using swagger-ui, the "Try it out" fires the request without this root-path

**Expected behavior**
Request is executed against the correct URL

**Actual behavior**
Request is missing the root-path in the URL

**To Reproduce**
Steps to reproduce the behavior:
1. go to http://localhost

[2020-02-09 08:36] JohT opened #7096 "Provider for SchemaFactory cannot be created (1.3.0.Alpha1)"
**Describe the bug**
QuarkusTests fail with the following exception when started with Quarkus 1.3.0.Alpha1:

Caused by: javax.xml.validation.SchemaFactoryConfigurationError: Provider for class javax.xml.validation.SchemaFactory cannot be crea
ted
Caused by: java.util.ServiceConfigurationError: javax.xml.validation.SchemaFactory: org.apache.xerces.jaxp.validation.XMLSchemaFactor
y Unable to get pub

[2020-02-09 10:11] gwenneg commented on #7096
Thanks for reporting this @JohT!

@stuartwdouglas Could this be related to the big classloader change?

[2020-02-09 10:13] cescoffier opened #7097 "Introducing Mutiny"
### Description
The objective of this epic is to gather all the tasks related to the introduction of Mutiny in Quarkus, as well as the deprecation of Axle and RX APIs, documentation and quickstart updates...

### Tasks
- [X] Create the Mutiny extension - https://github.com/quarkusio/quarkus/pull/7098
- [X] Integrate Mutiny in the Vert.x extension, and manage Axle / RX deprecation - https://github.

[2020-02-09 12:12] sberyozkin commented on #6549
@tpenakov Hi, I've renamed this issue to have it focused around a specific issue you have reported to do with the Docx format. I will create a follow issue to check other OOXMl formats in the native mode. thanks

[2020-02-09 12:22] tpenakov commented on #6549
Hi @sberyozkin ,
Yep - that seems reasonable.
For this week I wasn't able to work on this one, but hopefully will try to end it next week.

[2020-02-09 15:40] GregJohnStewart commented on #7046
So what would the consensus be here? (Just a bump, and curious to see where this goes)

[2020-02-09 16:22] zeljkot opened #7102 "@QuarkusTest does not handle entity updates"
**Describe the bug**
A test creates, updates and reads the entity in separate transactions. The last transaction, which reads the entity, can find it, but the entity still has the same value as when it was created.

**Expected behavior**
After an entity is updated in one transaction, the change should be visible in the next transaction.

**Actual behavior**
After an entity is updated in one transa

[2020-02-09 19:20] Sanne commented on #7046
I don't what this applied to JPA entities, but I have no opinion regarding DTO's going into MongoDB - mainly as I have no experience with it, I can't speak about the implications in that case.

If this is only about `PanacheMongoEntity` as the title states, I think it should be @loicmathieu to decide.

@nimo23 I agree in some situations using UUID generators is adviseable, but again I wouldn't mak

[2020-02-09 19:38] nikospara commented on #4147
Hi @geoand, sorry for the delayed response. YES, I get the same behavior with 1.3.0.Alpha1 (compiled locally).

[2020-02-09 19:51] geoand commented on #4147
Okay thanks for checking.

@aloubyansky is this something you want to check?

[2020-02-09 19:53] aloubyansky commented on #4147
Sure, I was going to.

[2020-02-09 19:57] gwenneg opened #7104 "Deprecate QuarkusNative"
As discussed in #7051 and in [Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/configure.20builderImage.20via.20gradle/near/187596485), the `QuarkusNative` task from our Gradle plugin should be deprecated and kept around for backwards compatibility just like `NativeImageMojo` from the Maven plugin.

The `gradle-tooling` guide will have to be updated, but there's also some w

[2020-02-09 20:29] geoand commented on #4147
Thanks!

[2020-02-09 20:45] zeljkot opened #7105 "Non-accessible methods from superclass are not transactional"
**Describe the bug**
If class A extends class B, and class B has some @Transactional methods that are not accessible from class A (e.g. they a private, or class B is in another package and methods are package-private), methods from class B will not get transaction and they will fail. For example:
[code]

**Expected behavior**
Methods should get transaction or error should be generated.

**Actual b

[2020-02-09 21:02] stuartwdouglas commented on #7096
Yes, this is related to the class loading change.

Generally it happens when you have some artifacts that provide javax.xml classes, but not all of them.

[2020-02-09 22:07] stuartwdouglas commented on #7096
If you build with https://github.com/quarkusio/quarkus/pull/7106 and exclude the xml-apis dependency from dom4j then the tests pass. I am leaving this open though, as we need a better solution for XML, I will post to the mailing list shortly.

[2020-02-09 22:17] aloubyansky commented on #4147
I can reproduce it.

[2020-02-09 23:05] gwenneg commented on #7014
Sorry, I didn't see your question.

We built the `quay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11` Docker image using the `graalvm-ce-java11-linux-amd64-19.3.1.tar.gz` file that you can find in the [GraalVM CE release page](https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-19.3.1).

We don't currently provide any Docker image for the `aarch64` version of GraalVM, so if you want o

[2020-02-09 23:09] gwenneg commented on #7014
The Maven and Gradle tooling guides have been updated to make things clearer about which Docker image to use depending on the Java version.

I'm leaving this open since it looks like the ARM64 discussion is still in progress.

[2020-02-10 00:05] troosan commented on #7095
found a way around it.
If you define the following in the openapi yml file, the correct path is used.
[code]
Still, the default auto-generated yml file should also work

[2020-02-10 01:09] gwenneg commented on #7087
Thanks for fixing the file issue!

I tested the project locally and confirmed both the warn messages and the fact that none of the test methods are called. I'm pretty sure there's no link between these two facts.

Actually, the warn messages in `BeanArchives` happen because we didn't expect in `ResteasyServerCommonProcessor.registerContextProxyDefinitions(...)` that primitive types would be annota

[2020-02-10 04:13] #7079 closed

[2020-02-10 06:14] rmh78 commented on #7014
Yesterday I successfully tried to bring my native compiled Quarkus application to a Raspberry Pi4 running on Ubuntu 64Bit ARM. Multi-stage docker build took nearly 4 hours with ARM emulation (docker buildx tooling) on my MacBook. But startup of the app was in 15ms.

[2020-02-10 08:35] stuartwdouglas commented on #7102
In your test you have @Transactional on a method that is called by other methods on the same class. CDI interceptors are not applied for self invocation, only for external invocation (e.g. when you inject the bean and invoke on it). As no transaction is active this is why the change is not persisted.

[2020-02-10 08:37] stuartwdouglas commented on #7102
@mkouba can you confirm that there are no plans to add support for self-interception? I know this is a topic that comes up every now and then but I can't remember what the spec has to say about it.

[2020-02-10 08:45] gsmet commented on #7095
/cc @EricWittmann would it make sense to have a way to push that information to SmallRye OpenAPI?

[2020-02-10 08:57] galderz commented on #6685
Fixed in graal

[2020-02-10 08:57] #6685 closed

[2020-02-10 09:22] Sanne commented on #6800
fixed by #7083

[2020-02-10 09:22] #6800 closed

[2020-02-10 09:26] Sanne commented on #5756
this was fixed by #7083

[2020-02-10 09:26] #5756 closed

[2020-02-10 09:31] loicmathieu commented on #7046
First, a digression on UUIDs. UUID are good identifiers because they are client generated (so no risk of contention on INSERT on the database as with database generated sequence) and random so safer to use (a sequence is predictable so a user can fetch the entire database easily).
Concern about performance and entropy needs to be taken seriously if you plan to generate a lot of them (on modern JVM

[2020-02-10 09:59] galderz commented on #6869
This appears to be fixed in most recent graal master. Could be due to Esteban's fix which was included instead of ours. Closing this for now.

[2020-02-10 09:59] #6869 closed

[2020-02-10 11:05] sberyozkin commented on #4446
This depends on how a client in a Keycloak realm has been created, so I'm closing this issue

[2020-02-10 11:05] #4446 closed

[2020-02-10 11:09] jessydeclerck opened #7116 "Custom serializer in ObjectMapperCustomizer is loaded randomly"
**Describe the bug**
A custom serializer registered in Jackson's ObjectMapper through ObjectMapperCustomizer is loaded randomly. Sometimes it works, sometimes it doesn't after a restart or during tests.

**Expected behavior**
Data should always be serialized the same way. The ZonedDateTime field in the below example should always look like this : 2020-02-10T10:39:22Z

**Actual behavior**
The Zoned

[2020-02-10 11:21] nimo23 commented on #7046
Yes, this is one of the most important things when using cliend id generation. It does not need to be an UUID, look at https://neilmadden.blog/2018/08/30/moving-away-from-uuids/. Combining this with pooling (such as the pooling which does hibernate with sequence and its allocationSize?) or by using ThreadLocal on a static class level, for example:

`private static final ThreadLocal<SecureRandom> R

[2020-02-10 11:33] zeljkot commented on #7102
Things get a little weird here. If I remove @Transactional and put `transaction.begin();` and `transaction.commit();`, then everything work. If I put @Transactional back on one of the called methods (not the test method, which is called by framework!), I get `ARJUNA016051: thread is already associated with a transaction!`. A transaction is created even for the self invocation.

`transaction.getSta

[2020-02-10 11:42] Sanne commented on #7046
right, ids being assigned explicitly by the user are the best :)
But sometimes it's not practical.

In conclusion, looks like we all agree that this is an area in which one solution doesn't fit all needs.

I hope you don't mind @GregJohnStewart , but I'd close this. Honestly, might be great to completely abstract how the "user domain" maps to objects, but we're not ready for it yet :)
Sometimes I

[2020-02-10 11:59] pivovarit commented on #3306
Still, would be great if underlying caching technology was pluggable. Are there any plans to implement it in near future?

Looks like some groundwork was already done at Caffeine is just one of _many_: https://github.com/quarkusio/quarkus/blob/b7d8ef57d5b2b1b64191dfc6c50e3c50cb89942b/extensions/cache/deployment/src/main/java/io/quarkus/cache/deployment/CacheProcessor.java#L81

[2020-02-10 11:59] galderz commented on #5337
Unable to replicate it any more with more recent graal master checkouts.

[2020-02-10 11:59] #5337 closed

[2020-02-10 12:10] gwenneg commented on #3306
Having multiple caching providers was part of the initial plan 7 months ago (see [here](https://github.com/quarkusio/quarkus/issues/3128#issuecomment-511351463) for more details). That's why `CacheDeploymentConstants.CAFFEINE_CACHE_TYPE` is still around. I don't know if this possibility will considered in near future though.

[2020-02-10 12:14] #7081 closed

[2020-02-10 13:02] rsearls commented on #7087
This is what resteasy supports currently.  It is my understanding you guys want quarkus to also support current usages.

[2020-02-10 13:22] ge0ffrey commented on #7000
Fix PR is here: https://github.com/quarkusio/quarkus/pull/7119

[2020-02-10 13:24] shvyrev opened #7120 "Error in context propagation tutorial"
**Describe the bug**
Unexpected behaviour when I try to use code from [Usage example for CompletionStage](https://quarkus.io/guides/context-propagation#usage-example-for-completionstage)

**Expected behavior**
Store persons to Postgre.

**Actual behavior**
Compile exception. Need to change `CompletionStage<Person> => CompletionStage<List<Person>>`

Getting error:
[gist-link](https://gist.github.co

[2020-02-10 13:25] #5819 closed

[2020-02-10 13:28] andreas-eberle commented on #6722
Is there any way to help debugging on this? It is a real pain not to be able to use constructor injection normally.

[2020-02-10 13:44] bobbyphilip opened #7121 "Panache support for Projections"
**Description**
I am not really sure if my terminology is right, so I will describe the feature.
Assume I am building an API to return fruits

[code]
I can use `@JsonbTransient`, to mark fields I dont need to be returned in the API.
However there are cases where I want to return different fields depending on the API called.
For example when I list all the fruits, I need the name and colour. And la

[2020-02-10 14:21] gwenneg commented on #7087
Ok, I just wanted to make sure since I'm not a RestEasy expert :)

[2020-02-10 14:37] EricWittmann commented on #7095
Yeah I think that if there is a custom root path setting in Quarkus, then that should be pushed into SmallRye OpenAPI so that the generated OAI document is correct.

[2020-02-10 15:03] rsearls opened #7122 "quarkus-arquillian does not report per-test information when suite of tests run."
When running a (suite) of tests in a test directory and NOT using quarkus
per-test stats are printed to the console.  This information is not provided
when quarkus is used.  Only a summary of all tests results is printed.  This
makes it impossible to know what tests passed and what failed.  Tests have
to be run individually by hand.

Typical non-quarkus cnsole output.
    [INFO] Running org.jboss.

[2020-02-10 15:35] jesperpedersen commented on #6770
@Sanne We need to look at the code that calls `DataSource.getConnection()` and find a code path to stick the `c.close()` in. Where is the code for `em.getTransaction()` and the `ON_CLOSE` functionality ? We are basically in a bean managed transaction scenario - should this be allowed if Narayana is deployed ? - so we need go through those code paths.

[2020-02-10 15:56] loicmathieu commented on #7121
@bobbyphilip projection is available for MongoDB with Panache, see https://quarkus.io/guides/mongodb-panache#query-projection but not yet for Hibernate with Panache.

There is an open issue for adding projection to Hibernate with Panache, #6261 if it's what you are looking for please close your issue and add comment (or at least vote for it) on #6261.

[2020-02-10 16:07] murphye commented on #5712
Please see my email I sent on the internal dev mailing list "Spring Boot to Quarkus Guide: Need a Sidekick to Complete".

I am already working on something like this based on the old version of Petclinic. As stated in the email, I could use some help, even though I have most of the hard work completed (app about 80% converted). Converting an older MVC with Thymeleaf application is much harder than

[2020-02-10 16:12] #7121 closed

[2020-02-10 16:21] gastaldi commented on #7120
@shvyrev nice catch, mind providing a PR with this fix? Here is the Asciidoc file: https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/context-propagation.adoc#usage-example-for-completionstage

[2020-02-10 16:37] shvyrev commented on #7120
Thank you for your trust. Give me some time.

[2020-02-10 16:52] jmkgreen commented on #6349
I'm guessing this has nothing to do with Panache specifically and everything to do with injecting of resources? I have a test injecting a service that doesn't work (same error). Works fine within IntelliJ, but through Maven it blows up.

[2020-02-10 17:12] zeljkot commented on #6349
Panache is OK and error is fixed in 1.3.0.Alpha1

[2020-02-10 17:12] #6349 closed

[2020-02-10 17:37] #7039 closed

[2020-02-10 18:56] aaronanderson opened #7123 "Classloader issue with CompletableFuture"
**Describe the bug**
This issue affects 1.3.0.Alpha1 and is probably related to the recent classloader changes.

I am using the Jakarta EE SAAJ implementation in my application which relies on the Java Service Provider Interface mechanism to instantiate the service's implementation. This works fine when invoked from the a JAX-RS method but it throws provider not found exception when run inside a C

[2020-02-10 19:21] geoand commented on #7116
Thank you for reporting this!

I was able to reproduce this one. I'll take a look at it soon

[2020-02-10 19:30] mklueh commented on #6635
Also running into it now

[2020-02-10 19:47] rsearls opened #7124 "Root cause of exception "Failed to initialize Arc" not getting reported."
All types of exceptions thrown during testing using quarkus are not getting
reported, (e.g. ClassNotFound, ServiceConfigurationError, RuntimeExceptions,
java.net.ConnectException).
Almost all errors bubble up through io.quarkus.arc.Arc.initialize(Arc.java:26)
and are caught in  org.jboss.arquillian.core.impl.ObserverImpl  line 89,
however at no time in the call stack is the exception information b

[2020-02-10 20:06] gwenneg commented on #7087
I guess you found in #7124 the reason why the test methods weren't called here.

Here's what I see with a breakpoint at `ObserverImpl:89`:
[code]

[2020-02-10 21:25] kamilgregorczyk commented on #7014
@rmh78 could you walk me through the process ? I’m kind of confused as before building the docket image I guess I need to have a generated binary by gradle in arm64  but I can’t think of any way on how to do that

[2020-02-10 21:47] stuartwdouglas commented on #7123
I am not sure what we can really do here. The CompletableFuture *async methods that do not take an executor are really problematic, as they run in a common pool and there is no obvious way to control the TCCL.

I will have a look and see if there are some hacks I can do here.

[2020-02-10 22:34] cealsair opened #7127 "Create a Quarkus registry"
### Description
Create a Quarkus registry to host third-party Quarkus extensions and third-party layered projects/products. This would be accompanied by documented processes on how to certify your extension and/or project/product with Quarkus. A first phase could be a process for self-certification. A future phase could consist of a more formal process.

### Analysis
What's in it for Quarkus?
This

[2020-02-10 22:37] #6292 closed

[2020-02-10 23:05] fmhwong commented on #6584
@angelozerr

`org.acme.restclient.CountriesService/mp-rest/url=https://restcountries.eu/rest` can be represented in yaml as follows:-

[code]

For multiple datasources:
e.g.:
[code]
can be represented in yaml as follows:-
[code]

I can add an example on how to rest client URL in the https://quarkus.io/guides/config#yaml.

[2020-02-10 23:26] aaronanderson commented on #7123
Makes sense.

I dug around and discovered the quarkus-smallrye-context-propagation extension. I then updated reproducer and added the extension to the pom.xml, added an `@Inject
 ManagedExecutor exec;` to the jax-rs resource, and then referenced the executor i.e.  CompletableFuture.runAsync(() -> {... }, exec);` After applying these changes the reproducer ran fine with 1.3.0.Alpha1.

I suppose if

[2020-02-10 23:31] stuartwdouglas commented on #7123
We do have an internal executor, but it is not actually injectable yet. If you create your own executor managed by CDI this will also work, as the executor will pick up the TCCL of the current deployment.

[2020-02-11 00:57] stuartwdouglas commented on #7102
ok, this is weird, I will investigate

[2020-02-11 01:25] stuartwdouglas commented on #7102
Turns out I was wrong, we do support self invocation for interceptors, so now I have no idea what is going on here, I will investigate further.

[2020-02-11 01:47] stuartwdouglas commented on #7102
@FroMage the test does not seem to be transformed to use the getters/setters, so the dirty checker is not picking up that the entity is dirty.

[2020-02-11 02:46] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: cf539e605b91095925cde9e35b3075e263628960

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-11 05:05] GregJohnStewart commented on #7046
All good! The issue was deeper than I imagined. Not a big deal, thought I would suggest. Thanks for all your time!

[2020-02-11 05:05] #7046 closed

[2020-02-11 07:14] geoand commented on #6588
Seems like the RSS threshold was passed...

[2020-02-11 07:14] moksamedia opened #7129 "OIDC extension fails with Okta OIDC"
**Describe the bug**
OIDC extension configured to use Okta OIDC is stuck in a redirect loop. The code is never exchanged for a token. The OIDC app configuration works with OIDC Debugger.

`application.properties`
[code]

Network redirects:

302 | GET | localhost:8080 | secured | document | plain | 402 B | 0 B
-- | -- | -- | -- | -- | -- | -- | --
302 | GET | dev-447850.okta.com | authorize?redirec

[2020-02-11 07:27] moksamedia commented on #7129
A little more info, debugging `CodeAuthenticationMechanism` reveals this error:

Future{cause=Unauthorized: {"error":"invalid_request","error_description":"Cannot supply multiple client credentials. Use one of the following: credentials in the Authorization header, credentials in the post body, or a client_assertion in the post body."}}

[2020-02-11 07:46] shvyrev commented on #7120
Sorry it's very difficult for me. I think this tutorial code never worked fine.
So many errors.

I got new one.

`10:28:28,308 INFO  [org.jbo.threads] JBoss Threads version 3.0.0.Final
10:28:29,089 INFO  [org.hib.jpa.boo.int.PersistenceXmlParser] HHH000318: Could not find any META-INF/persistence.xml file in the classpath
10:28:29,255 INFO  [org.hib.Version] HHH000412: Hibernate Core {5.4.10.Final

[2020-02-11 08:51] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 43b16cb9189ba393b353faab29f495093258082f

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-11 09:08] #6939 closed

[2020-02-11 09:15] gsmet commented on #7129
/cc @sberyozkin @pedroigor

[2020-02-11 09:20] geoand commented on #4038
This was delivered by @gytis with 1.2

[2020-02-11 09:20] #4038 closed

[2020-02-11 09:20] gsmet commented on #7054
@aguibert any chance you could have a look at that one?

[2020-02-11 09:20] gsmet commented on #7038
@geoand so can we close this issue?

[2020-02-11 09:22] gsmet commented on #6870
@mkouba any progress on this one?

[2020-02-11 09:23] geoand commented on #5662
A native implementation of bootstrap config support was merged (https://github.com/quarkusio/quarkus/pull/6913).

A first draft version of Spring Cloud Config Server support is in [this](7130) draft PR

[2020-02-11 09:25] geoand commented on #7038
Yes certainly

[2020-02-11 09:25] #7038 closed

[2020-02-11 09:25] gwenneg commented on #6588
The RSS went from 25984 kB 9 hours ago to 20080 kB 3 hours ago. That's a surprisingly huge gap for a few commits difference.

[2020-02-11 09:26] geoand commented on #6588
Yeah, I would guess it's probably just a system issue.

[2020-02-11 09:26] canidae commented on #6759
1.3.0.Alpha1, and presumably 1.3.0.Final once released fixes this issue.
This issue is not listed in the [release log](https://github.com/quarkusio/quarkus/releases), sa of such I'm leaving the issue open. Feel free to close this issue whether you want it to be listed in the release log or not.

[2020-02-11 09:28] FroMage commented on #7102
Well we really need to make sure all the classes that use the entity are transformed as well, otherwise even user-defined accessors won't get called and it will be all confusing.

[2020-02-11 10:43] mkueng1 commented on #6948
I have the same use case - so +1 for the "user demand"

[2020-02-11 10:46] ppalaga opened #7132 "How to test native images built in a container that require a SSL trustStore"
The non-portability of native images that require SSL is well documented in https://quarkus.io/guides/native-and-ssl

The non-portability is a problem when when running an itest requiring HTTPS against a native image that was built in a docker container. I am not sure there is any such test in the Quarkus source tree. In any case, I am about to add such a test to Camel Quarkus https://github.com/a

[2020-02-11 10:55] zulq opened #7133 "Kotlin quarkusDev with gradle: javax.enterprise.inject.spi.DefinitionException: Normal scoped bean must not be final"
Anytime I changed a bean I get this error. I have to restart to get the changes reflected. This is making developing with kotlin very slow as it requires full restart instead of hot reload.
Quarkus version: `1.2.0.Final`
Build Tool: `Gradle` generated from `code.quarkus.io`

[2020-02-11 11:00] aloubyansky opened #7134 "Managed dependency versions of an app override its dependency versions specified explicitly"
This bug affects only 1.3.0.Alpha1 and not earlier releases.

Attention @gsmet: this is blocker for the upcoming release.

It should not be passing `localProject.getAppArtifact()` as an argument in case `managedProject` is null. Before opening a PR though, I'll check whether it affects Camel IT.

[2020-02-11 11:07] MartinX3 commented on #4767
Sadly the issue is not fixed in 1.3.0.Alpha1
Is it possible to create an Alpha2 release? :)

[2020-02-11 11:13] ctron-te commented on #4254
Strangely when I try the sample project with Java everything works fine. Then I converted it to Kotlin, which works fine with java runtime but when I move to provided runtime I get ` java.lang.IllegalStateException: Failed to create cache dir`.

[2020-02-11 11:13] geoand commented on #4767
@MartinX3 do have a reproducer?

[2020-02-11 11:17] MartinX3 commented on #4767
Oh I thought since @zeldanerd24 it is fixed in master that Alpha1 just doesn't contain the newest fixes.
@geoand I will try if I am be able to run quarkus master on my local machine with this manual https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md to create a producer :)

[2020-02-11 11:25] sberyozkin commented on #7129
@moksamedia Hi, thanks for the thorough analysis, I believe it has been fixed with Quarkus https://github.com/quarkusio/quarkus/tree/1.3.0.Alpha1, can you please try it ?

[2020-02-11 11:31] wfrank2509 commented on #7066
Thanks @gunnarmorling  for the workaround!

[2020-02-11 11:42] geoand commented on #7133
Hello,

Which version of Quarkus are you using? Better yet, what does your `pom.xml` look like?

[2020-02-11 11:45] sberyozkin commented on #6549
@tpenakov Hi, no problems, happy you are still OK with looking at this issue :-)

[2020-02-11 12:04] zulq commented on #7133
@geoand, see updates.

[2020-02-11 12:06] geoand commented on #7133
OK thanks.

We are working on this for Gradle, it's a known issue that it doesn't work currently

[2020-02-11 12:09] zulq commented on #7133
Considering this and other issues, do you advice switching to `maven` for now.

[2020-02-11 12:18] geoand commented on #7133
Maven support in Quarkus is more mature at the moment, but improvements to Gradle support are definitely coming

[2020-02-11 12:21] vankofalcon opened #7137 "Quarkus and Kafka"
Hi all,
Is there a way to use Quarkus and the original Apache Kafka Clients artifact?
https://mvnrepository.com/artifact/org.apache.kafka/kafka-clients
Is that going to work in native mode as well?

[2020-02-11 12:23] zulq commented on #7133
Seems this is more of a kotlin issue than gradle, similar to the following:
https://github.com/quarkusio/quarkus/issues/4414

[2020-02-11 12:24] geoand commented on #7133
It's a combination most likely

[2020-02-11 12:28] Alffrredo commented on #6986
This is usable feature.
Currently Apache Ignite cash have problem when try to access in quarkus.

[2020-02-11 12:54] gastaldi commented on #7120
Don't worry, take your time and help us understand what's wrong in the tutorial so we can fix properly. I think in your case you're importing the wrong class (`sun.jvm.hotspot.debugger.ThreadContext` instead of `org.eclipse.microprofile.context.ThreadContext`)

[2020-02-11 13:22] jmartisk commented on #5701
Health seems to be done for these extensions:
- Agroal
- Kafka Streams
- Kafka Client
- Artemis Core
- MongoDB Client
- Neo4j

The title says '50 % of the relevant extensions', not sure which exactly could be considered relevant, but I'd say we've probably accomplished that number. How about we close this epic as done, and open new issues once we decide to do this for another extension? There hasn

[2020-02-11 13:27] jmartisk commented on #6960
This is covered in the TCK, and we decided that it should be enough after all, so I'll close this.

[2020-02-11 13:27] #6960 closed

[2020-02-11 13:27] MartinX3 commented on #4767
Sadly `./mvnw clean install` fails with `INFO] Quarkus - Agroal - Deployment ...................... FAILURE [ 13.326 s]` and I also miss a documentation to create a producer.

[2020-02-11 13:30] geoand commented on #4767
Does `./mvnw -e clean install` give any more information?

[2020-02-11 13:31] jamesnetherton opened #7139 "Enhance JsonDeserialize reflective class registration"
**Description**
The Jackson extension JacksonProcessor [iterates](https://github.com/quarkusio/quarkus/blob/master/extensions/jackson/deployment/src/main/java/io/quarkus/jackson/deployment/JacksonProcessor.java#L94-L116) over anything that is annotated with `JsonDeserialize`. It only creates `ReflectiveClassBuildItem` for the "using" annotation value, if the annotation target kind is a method or f

[2020-02-11 13:43] geoand commented on #7116
This turns out to be a problem with the order that the customizers are applied. Basically Quarkus applies it's own customizer that registers the JSR310 and it sometimes overrides the user provided one.

I'm going to fix this today by introducing a priority to the `ObjectMapperCustomizer` interface and make the default Quarkus customizers have the lowest priority.

[2020-02-11 13:46] vonatzigenc opened #7140 "JUnit-Extension with ParameterResolver leads to "RuntimeException: Could not find method XY on test class" with 1.3.0.Alpha1"
This bug affects only 1.3.0.Alpha1 and not earlier releases.

**Describe the bug**
JUnit test methods with a parameter provided by a ParameterResolver from a JUnit extension will throw a runtime exception originating from _io.quarkus.test.junit.quarkusTestExtension#runExtensionMethod_.

The probable cause is that the class is loaded with the ContextClassLoader, but the parameter types are not. The

[2020-02-11 13:48] sberyozkin commented on #7013
@pedroigor Hi, I've been thinking more about how to address this issue, and would like to revisit the idea of `TenantConfigResolver` being linked directly or indirectly with `TenantResolver` as opposed to going into this `equals`/`hashCode` process.
Here are 3 options I can think of:
1. Indirect linking. If `TenantResolver` returns `tenantId` and no configuration with this `tenantId` is available

[2020-02-11 13:54] #6902 closed

[2020-02-11 13:58] aaronanderson commented on #7123
Perhaps a SystemPropertyBuildItem could set the java.util.concurrent.ForkJoinPool.common.threadFactory system property at startup to a ForkJoinPool.ForkJoinWorkerThreadFactory implementation that leverages the new classloading framework?

[2020-02-11 14:26] aguibert commented on #7054
I'll have a look at this one. Can you assign to me please @geoand ?

[2020-02-11 14:31] geoand commented on #7054
Done!

[2020-02-11 14:32] geoand commented on #7116
#7142 takes care of the issue

[2020-02-11 15:06] Karm commented on #3828
Not an issue any more IIRC.

[2020-02-11 15:06] #3828 closed

[2020-02-11 15:19] zulq commented on #7133
Not sure if this helps, but am suspecting the re-compile in dev mode is ignoring the `all-open` plugin. Is there anyway to configure that and check?

[2020-02-11 15:22] geoand commented on #7133
Yes, that is exactly what is going on. For Gradle there is no cde that glues things together (as opposed to Maven). That should change soon

[2020-02-11 15:29] aaronanderson commented on #7123
I played around a bit with the reproducer and when I added this class:

[code]

and built the project with this command:
`mvn clean install -Djava.util.concurrent.ForkJoinPool.common.threadFactory=org.acme.quickstart.QuarkusForkJoinWorkerThreadFactory`

The test passed.

This issue may have a larger impact on my application than I first realized since I do not have many ComputableFuture usages in

[2020-02-11 16:01] MartinX3 commented on #4767
Oh yes, sorry
Thought you was already aware
Here is the log :D
[build.log](https://github.com/quarkusio/quarkus/files/4186656/build.log)

[2020-02-11 16:03] paulrobinson commented on #7030
Thanks for opening this. Do you know if this is already covered by the MP TCK tests? We've now got agreement that we don't need to duplicate tests in Quarkus that are already covered by the MP TCK.

[2020-02-11 16:04] paulrobinson commented on #7028
@antoinesd Is this Quarkus specific? It sounds like it's not something that would be covered by the TCK tests. Correct?

[2020-02-11 16:04] geoand commented on #4767
You can always just do `./mvnw clean install -DskipTests` to skip all the tests

[2020-02-11 16:04] paulrobinson commented on #7030
Thanks for opening this. Do you know if this is already covered by the MP TCK tests? We've now got agreement that we don't need to duplicate tests in Quarkus that are already covered by the MP TCK.

[2020-02-11 16:05] paulrobinson commented on #7031
Thanks for opening this. Do you know if this is already covered by the MP TCK tests? We've now got agreement that we don't need to duplicate tests in Quarkus that are already covered by the MP TCK.

[2020-02-11 16:08] MartinX3 commented on #4767
Oh yes, thank you :)
I just thought something is broken on master and stopped testing :S

[2020-02-11 16:10] geoand commented on #4767
Nah, our CI would have spotted it by now with all the PRs we have and the CI cron jobs that run :)

[2020-02-11 16:21] mithandir opened #7144 "Qute Template Extension with multiple parameters: Resulting in endless wait without error"
**Describe the bug**
I'm trying to create a Qute template extension with multiple parameters as described here: https://quarkus.io/guides/qute-reference#method-parameters

When using a method with a single parameter all is working well, when I add a second parameter in the template extension method, it results in an endless loop in the browser.

I tried setting the default logger to DEBUG, but not

[2020-02-11 16:27] #5701 closed

[2020-02-11 16:29] alex-lmco opened #7145 "Quarkus >=1.1.0.Final breaks GraalVM Polyglot"
**Describe the bug**
Quarkus version >= 1.1.0.Final breaks GraalVM Polyglot.  On 1.1.0.CR1 polyglot works as expected.  Past 1.1.0.CR1 there is a classpath error related to finding the ScriptEngine.

**Expected behavior**

Able to initialize a script context

**Actual behavior**

Unable to initialize a script context:

TestRunnerTest > test() FAILED
    java.lang.NoClassDefFoundError: Could not in

[2020-02-11 16:58] loicmathieu commented on #6742
@gsmet @TheVidAllMayThe using the `no-arg` compiler plugin and the not mandatory `@MongoEntity` annotation (as the compiler plugin needs an anotation to target classes that needs a no-arg constructor) it works.

[code]

I tested native mode and it works for both approach.

I will update the guide acordingly and close this issue.

[2020-02-11 17:27] maxandersen opened #7148 "Have a way to get access to EntityManager even without entities"
**Description**
JPA and Hibernate APIs can still be used and be useful without entities( query raw data and using native sql) but for now we don't support @Inject of JPA apis when no entities.

At the moment having to tell users to  create a dummy entity to get access to a stateless session is pretty suboptimal :)

**Implementation ideas**
have a `quarkus.jpa.enable=true|false|auto` property to al

[2020-02-11 17:42] gsmet commented on #6933
/cc @EricWittmann could you have a look at the reproducer?

[2020-02-11 17:43] rmh78 commented on #7014
@kamilgregorczyk I created a multi-stage docker file. So the build of the native executable in done in the first docker stage. This stage uses the oracle graal image which is available for ARM64 too.
see https://github.com/rmh78/quarkus-simple/blob/master/src/main/docker/Dockerfile

For docker buildx you have to enable docker experimental features.

[2020-02-11 18:19] moksamedia commented on #7129
@sberyozkin That does work, thanks.

For posterity, here are the application.properties settings I used. I had to change the Okta auth server URL from `https://dev-447850.okta.com` to `https://dev-447850.okta.com/oauth2/default`.

[code]

[2020-02-11 18:21] moksamedia commented on #7129
@sberyozkin Two questions:
1) when is this 1.3.0.Alpha1 expected to be released, more or less?
2) I saw that this was covered in another ticked, but are you planning on updating the redirect_uri parameter so that it can be a static URL that's not a child of the request URI? Something more like `/oauth/callback` instead of the app base URL? Seems like a strange way to do that.

[2020-02-11 18:54] aaronanderson commented on #7123
I wrote a simple Quarkus extension that uses a deployment SystemPropertyBuildItem as mentioned above and this worked fine when running the application using the standalone -runner.jar file but it did not work in Quarkus dev mode. It seems Quarkus dev mode uses a stream().parallel() early in the startup before the application processed initializing the default factory before the system property is

[2020-02-11 19:23] sherl0cks opened #7150 "@RegisterForReflection cannot be added to --initialize-at-run-time="
**Describe the bug**
Classes marked with `@RegisterForReflection` cannot be added to `--initialize-at-run-time=` because Quarkus attempts to initialize the classes `  at io.quarkus.runner.AutoFeature.beforeAnalysis(AutoFeature.zig:970)` during a native image build.

**Expected behavior**
I can annotate a class with `@RegisterForReflection` and also `--initialize-at-run-time=`.

**Actual behavior**

[2020-02-11 19:51] #7116 closed

[2020-02-11 20:32] mjoellnier opened #7151 "Native image building broken (Exit code 1/137)"
**Describe the bug**
When executing `./mvnw package -Dnative -Dquarkus.native.container-build=true` the build fails although `./mvnw package -Pnative` works as expected.

**Expected behavior**
I expect the build to succeed according to the [docs](https://quarkus.io/guides/building-native-image).

**Actual behavior**
When executing `./mvnw package -Dnative -Dquarkus.native.container-build=true` the

[2020-02-11 20:54] geoand commented on #7151
The error code means that the docker doesn't have enough memory to run to run the native image build process.
To overcome the error you need to give docker more memory.

Of course Quarkus needs to improve the error handling here and provide a more meaningful message (see #1140)

[2020-02-11 20:54] #7151 closed

[2020-02-11 21:00] geoand commented on #7139
Hi,

I would really like to see a reproducer for this.
Once we have that and we can verify that registering for reflection fixes the problem, it will be trivial to add the support you requested.

[2020-02-11 21:22] JohT opened #7152 "Classes with @ConstructorProperties for Reflection"
**Description**
Classes with constructors annotated with `@java.beans.ConstructorProperties` should be registered for reflection without further configuration.

Part of its JavaDoc:

This annotation makes it possible to write immutable value objects that can be serialized with JSON-B [[2]](https://github.com/eclipse-ee4j/jsonb-api/issues/115#issue-398276491) and Jackson without any configuration a

[2020-02-11 21:25] gwenneg commented on #7145
Hi @alex-lmco and thanks for reporting this issue.

It could be a consequence of the GraalVM downgrade we had to make between Quarkus `1.1.0.CR1` and `1.1.0.Final` because of a GraalVM `19.3.0` blocking issue:

| Quarkus release | GraalVM supported version(s) |
| - | - |
| 1.1.0.CR1 | 19.3.0 |
| 1.1.0.Final | 19.2.1 |
| 1.2.0..Final | 19.2.1 (default) and 19.3.1 |
| 1.3.0.Alpha1 | 19.3.1 |

I'll g

[2020-02-11 21:53] gwenneg commented on #7150
Hi @sherl0cks.

The `@RegisterForReflection` annotation was specifically designed to initialize a class at **build time** during the native image generation so that GraalVM doesn't remove it because the class is not used directly in the call tree.

That why you can't use `@RegisterForReflection` and `--initialize-at-run-time` for the same class.

[2020-02-11 21:57] sherl0cks commented on #7150
@gwenneg OK. Why does reflection-config.json work for the scenario? Are they not equivalent features?

[2020-02-11 22:04] gwenneg commented on #7150
`reflection-config.json` is a GraalVM feature while `@RegisterForReflection` is a Quarkus feature, they are not strictly equivalent. I'll take a look at the GraalVM internal logic related to `reflection-config.json` and try to understand why there's a behavior difference between these two features.

[2020-02-11 22:09] sherl0cks commented on #7150
@gwenneg that makes sense, thank you. Can you confirm that if I add a class to `--initialize-at-run-time` that it will prevent graal from removing methods? And thus, if there are classes that need reflection at runtime, but for whatever reason (e.g. they are avro generated), cannot be initialized at build time, that it is sufficient to add these classes to `--initialize-at-run-time` and they will

[2020-02-11 22:11] patriot1burke commented on #4254
Any reason to have quarkus set the java.io.tmpdir and vertx cache dir automatically?  Pretty sure /tmp is guaranteed to be available for lambda.

[2020-02-11 22:12] patriot1burke commented on #4254
My issue is I can't reproduce the problem.

[2020-02-11 22:12] gwenneg commented on #7150
I never tried it but I don't think using `--initialize-at-runtime` will protect a class from removal. As far as I know, `reflection-config.json` and `@RegisterForReflection` are the only available solutions for that.

[2020-02-11 22:13] sherl0cks commented on #7150
@gwenneg ok, that is useful info. I'm running some tests now and will report back.

[2020-02-11 22:13] patriot1burke commented on #4254
BTW all, we want to avoid requiring a bootstrap shell script around the runner so as to reduce cold start latency even more.

[2020-02-11 22:13] patriot1burke commented on #5859
@mihapolak Sorry for very late reply.

* We are trying to avoid creating a bootstrap shell script that wraps the native executable as we're trying to reduce coldstart latency.  A wrapper shell script just increases cold start latency
* I've been demoing Native amazon-lambda and amazon-lambda-http a lot and I have yet to have to supply the java.io.tmpdir system property.
* I'll automatically set th

[2020-02-11 22:38] gwenneg commented on #7145
I just ran `./gradlew test` using your test project (which depends on Quarkus `1.2.0.Final`) and a local GraalVM CE `19.3.1` (Java 8 edition) installation. The test completed successfully so I suppose the Polyglot error you experienced came from a GraalVM `19.2.1` issue.

Could you please do the same test and confirm me everything's OK?

[2020-02-12 00:06] stuartwdouglas commented on #7123
I think using -Djava.util.concurrent.ForkJoinPool.common.parallelism=0 will work for dev/test mode, as a new thread will be created each time. Production mode has a flat class loader so this will not affect production apps.

[2020-02-12 00:16] dcdh opened #7155 "Vault add writeSecret in VaultKVSecretEngine"
**Description**
Currently `VaultKVSecretEngine` allow only to read a secret present in Vault.

An application may need to write secret.

**Implementation ideas**

In the interface `VaultKVSecretEngine` define a method to `writeSecret` like this one:

[code]

In `VaultKvManager` the implementation could be:

[code]

In the interface `VaultClient` we could add theses two methods to handle writing se

[2020-02-12 00:51] GregJohnStewart opened #7156 "Qute can't resolve any templates"
I'm having trouble getting templates to resolve in Quarkus version `1.2.0.FINAL`. I'm following the guides, and as far as I can tell I have everything set up correctly. I really would like to have more to put for this but there doesn't seem to be much to try here (it seems like it should be super straight forward). I'm using Gradle to run my builds, if that matters.

Qute dependencies:

[code]

Co

[2020-02-12 01:40] patriot1burke commented on #6785
@sherl0cks @christianThor I improved things a bit so there's less boilerplate to do.  Here's what the config would look like.

quarkus.lambda.handler=test
quarkus.ssl.native=true
quarkus.native.additional-build-args=-H:DynamicProxyConfigurationFiles=dynamic-proxy-config.json

Eventually I want to be able to get rid of the wrapper shell script, and the need to package the lib.so file and cacert fil

[2020-02-12 03:49] KaenDagger commented on #5488
I am taking up this issue. If its fine

[2020-02-12 04:51] christianThor commented on #6785
Awesome! Yeah - it looks like it is connected to apache. Thank you @patriot1burke !

[2020-02-12 05:23] shvyrev commented on #7120
Thank you. You are right. It was my mistake. Used wrong import class.

Help me please.

Added two version of GET request "/people"

1. Version with ThreadContext (tutorial code).

- [code](https://github.com/shvyrev/quarkus-tutorial-bugfix/blob/master/src/main/java/org/acme/ExampleResource.java#L52-L78l)
- request `http "localhost:8080/hello/v1/people"`
- exception "java.lang.IllegalStateException

[2020-02-12 05:31] jaikiran commented on #7156
Hello @GregJohnStewart, can you for now try changing this:

[code]
to
[code]
and see if it works.
Additionally, can you enable `DEBUG` logging level for `io.quarkus.qute.deployment` and post the output of those logs when you build and run your application? More on logging configuration can be found here https://quarkus.io/guides/logging

[2020-02-12 05:34] jaikiran commented on #7144
Hello @mithandir, when that hang happens, can you get us around 2-3 thread dumps (using `jstack` against the quarkus process) with an interval of around 2 seconds between them?

[2020-02-12 07:38] jmartisk commented on #7030
By the way I noticed that SmallRye Health implementation module contains a `beans.xml` file: https://github.com/smallrye/smallrye-health/blob/master/implementation/src/main/resources/META-INF/beans.xml so that means all CDI beans from it are automatically picked up by Quarkus. I think this is generally a bad idea and can lead to beans being picked up when they are not needed. Beans should be enabl

[2020-02-12 07:42] #4147 closed

[2020-02-12 07:46] jmartisk commented on #7030
TCK tests, IIUC, verify the high level functionality (health reporting), CDI beans are a lower level component needed to achieve this, so I guess they don't really care what beans there are, but if there were important beans missing, then the health reporting would not work as expected, so the TCK tests would fail.

[2020-02-12 07:47] aloubyansky commented on #4147
@nikospara I believe https://github.com/quarkusio/quarkus/pull/7154 fixes your issue. The PR also includes a test for it. And it's now merged in master. If there is a chance you can try it, please, do and let us know how it worked for you. Thanks.

[2020-02-12 07:50] xstefank commented on #7030
TCK is not testing this.

@jmartisk this is not the right place to discuss SR in particular but remember that SR is not only used in Quarkus.

[2020-02-12 07:56] jamesnetherton commented on #7139
To reproduce...

1. Clone my [fork](https://github.com/jamesnetherton/camel-quarkus) of camel-quarkus and switch to the `jackson-reproducer` branch.
2. Build the project: `mvn clean install -DskipTests`.
3. Run the Olingo4 extension native image build and observe the error. `mvn clean install -Dnative -pl :camel-quarkus-integration-test-olingo4`.
4. Uncomment the code in method `registerForReflect

[2020-02-12 07:57] geoand commented on #7139
OK, thanks

[2020-02-12 08:17] cescoffier commented on #7137
You need to use the quarkus-kafka-client artifact and then yes, it would work.
https://mvnrepository.com/artifact/io.quarkus/quarkus-kafka-client

[2020-02-12 08:17] #7137 closed

[2020-02-12 08:42] geoand commented on #7139
#7157 should take care of the issue

[2020-02-12 10:10] ia3andy opened #7158 "Building a native image with minikube docker fails"
**Describe the bug**
Since I use minikube on my machine, I don't want to switch back and forth with Docker to build my native image which use a lot of resources.

I directly use minikube docker with:
[code]

and it fails with:
[code]

I've checked `gos-arrow-0.0.1-runner.jar` is in the target directory.

**Expected behavior**
Should build the native image

**Actual behavior**
Fail

**To Reproduce*

[2020-02-12 10:12] angelozerr commented on #6584
@fmhwong thank you for your feedback.

So the basic idea is to split with '.' (like I did in vscode-quarkus)

For mapped property like `quarkus.log.category."io.quarkus".level=DEBUG` do we split "io.quarkus" too ?

[2020-02-12 10:13] ia3andy commented on #7158
[code]

[2020-02-12 10:14] liquidblock commented on #2931
@computerlove any updates on the PR?
Great work. I would like to use this feature.

[2020-02-12 10:24] sberyozkin commented on #7155
@dcdh Hi, is that something that may be required for the Vault administrative purposes ? So far Vault API has been built with the assumption that the secrets, etc that the application may need are added to Vault out of band, by the Vault administrator, as opposed to a service code servicing some client request.
Can you please explain the use case ?

Thanks

[2020-02-12 10:59] TheVidAllMayThe commented on #6742
@loicmathieu Thank you so much. I've been meaning to try it out, but I've been pretty swamped. Glad to see that it works!

[2020-02-12 11:12] loicmathieu commented on #6566
@TheVidAllMayThe I works on this now and the date format is not OK for both `LocalDateTime` and `Instant`. It's not the fact that is misses the **Z** but it's the fact it generates format with too many nanoseconds fractions (6 and MongoDB only supports 3 of them).

See this generated query with all the supported formats
[code]

I will fix this issue but it raises the question of adding **Z** at th

[2020-02-12 11:59] jmartisk commented on #7031
I don't think this is covered in TCK, because Quarkus configuration mechanisms are inherently Quarkus-specific. AFAIK the only two things that you can configure now are paths to the health check endpoints and a flag whether health checks registered by other extensions should be enabled.
@antoinesd If you wish I can try to come up with some tests for the endpoint paths. Or is there anything else th

[2020-02-12 12:23] #4347 closed

[2020-02-12 12:26] bjornhilstad opened #7160 "Offer Sybase ASE JDBC extension"
**Describe the extension**
Offer Sybase ASE JDBC support via extension that works in JVM mode and native mode.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Additional context**
(Add any other context about the proposal here.)

[2020-02-12 12:32] pedroigor commented on #7013
@sberyozkin What if we just:

* Change `TenantConfigResolver` to return a `Map<String, TenantConfig>` or a specific type that wraps both the id and config

* Have a `tenantId` property in config. In fact, for the latter, maybe the best would be to provide a more user-friendly API for configuring a tenant. I think we discussed this already ...

[2020-02-12 12:46] rsvoboda opened #7161 "Running a shutdown task failed: Provider io.smallrye.faulttolerance.propagation.ContextPropagationExecutorFactory not a subtype"
I circled back to the https://github.com/quarkus-qe/beefy-scenarios to try it with current Quarkus master and I noticed stacktrace in the console, tests do not fail though.

Stacktrace is around faulttolerance, so @Ladicek  / @michalszynkiewicz could you please take a look ?

Steps to reproduce:
[code]

Details
[code]

[2020-02-12 12:52] aloubyansky commented on #7134
Fixed by #7154

[2020-02-12 12:52] #7134 closed

[2020-02-12 13:21] Ladicek commented on #7161
I wonder how come that `io.smallrye.faulttolerance.propagation.ContextPropagationExecutorFactory` is not a subtype of `io.smallrye.faulttolerance.ExecutorFactory`. The only thing I can possibly figure out is that they are loaded by different classloaders.

[2020-02-12 13:38] sberyozkin commented on #7129
@moksamedia Thanks for the update.
Did you have to change the Okta endpoint address because it was not responding to the discovery request ? Then indeed, changing the address is required. The alternative option is to keep the original address but to use  `introspection-path` and `jwks-path` properties though we actually haven't had any confirmation from the users they work.

Can you please check i

[2020-02-12 13:53] rsvoboda commented on #7161
had similar feeling as the error didn't cause test failure

[2020-02-12 14:07] GregJohnStewart commented on #7156
I had initially been trying without the file extension, and added it as a debug.

Here's the log:

[quarkus log.txt](https://github.com/quarkusio/quarkus/files/4192715/quarkus.log.txt)

[2020-02-12 14:11] gsmet commented on #7156
/cc @mkouba

[2020-02-12 14:13] gsmet commented on #7150
Funnily enough, there is an ongoing thread on the list: https://groups.google.com/forum/#!topic/quarkus-dev/VDJ6_Slc0yU . In the end, it might indeed be a bug or at least an undesired behavior.

[2020-02-12 14:14] gsmet commented on #7144
/cc @mkouba

[2020-02-12 14:15] #7139 closed

[2020-02-12 14:19] jaikiran commented on #7156
I've a feeling that this might be related to gradle usage. Any chance you can either try this with Maven or share the gradle project as a github repo for one of us to try and reproduce this?

[2020-02-12 14:29] GregJohnStewart commented on #7156
I can share the repo sure, but it would be nontrivial to switch to Maven at this point....

[https://github.com/GregJohnStewart/task-timekeeper](https://github.com/GregJohnStewart/task-timekeeper)

I am working on the `webserver-work` branch

The command to run (to show the package structure to the server):

`./gradlew :WebServer:Server:quarkusdev`

[2020-02-12 14:31] gsmet commented on #7156
Might be interesting to test master with this given all the class loading changes there.

[2020-02-12 14:34] GregJohnStewart commented on #7156
Master is far behind the webserver branch, If the server runs in master its a super barebones with some experiments with Mongo codecs, but no qute

[2020-02-12 14:35] alex-lmco commented on #7145
FYI this is on windows:

GraalVM 19.3.1 + Quarkus 1.2.0.Final, JDK 11:
[code]
[code]

GraalVM 19.3.1 + Quarkus 1.2.0.Final, JDK 8:

[code]
[code]

I can't get master (as of this morning) or 1.3.0.Alpha1 to work due to an issue with quarkusTestConfig:

[code]

[2020-02-12 14:56] mithandir commented on #7144
Sure, here are 4 dumps:

[1-before.log](https://github.com/quarkusio/quarkus/files/4192944/1-before.log)
[2-start.log](https://github.com/quarkusio/quarkus/files/4192945/2-start.log)
[3-start-plus2sec.log](https://github.com/quarkusio/quarkus/files/4192946/3-start-plus2sec.log)
[4-additional2sec.log](https://github.com/quarkusio/quarkus/files/4192947/4-additional2sec.log)

[2020-02-12 15:05] gastaldi commented on #7120
Can you add the missing files in the root of your https://github.com/shvyrev/quarkus-tutorial-bugfix/ repository? I cannot build it because It's missing the pom.xml

[2020-02-12 15:16] emersonl91 opened #7163 "Entity not committed when expected"
During the execution of a process I open two transactions:
- One to create an object and inform that the process has started;
- Another to change the object that was created in the first transaction, informing that the process was completed;

However, after executing the second transaction method, if I query the database the value has not yet been updated. What I expected is that after the executi

[2020-02-12 15:58] patriot1burke commented on #6785
FYI, submitted a PR for this.

[2020-02-12 16:05] aklemp opened #7166 "Native Build in OpenShift is failing"
**Describe the bug**
Building a native Quarkus application in OpenShift 3.11 is failing. The same works locally without problems (on Debian with Docker build and GraalVM 19.3.1-java8).

**Expected behavior**
The build is successful like it is locally.

**Actual behavior**
There are a lot of errors but it seems like OpenShift is trying to augment the application with features, that are not supporte

[2020-02-12 16:16] gwenneg commented on #7145
I don't have a Windows machine with GraalVM right now, but I'll try to run a Windows test and see if there's any difference on my side.

[2020-02-12 16:23] EricWittmann commented on #6933
@gsmet This reproducer builds OK when I use the `master` **smallrye-open-api** library.  I suggest we wait for the next release (should be happening soon) and re-test this reproducer.

[2020-02-12 16:24] EricWittmann commented on #6933
For the record, this is the openapi that is generated when I use sr-oai `master` to do the build:

[code]

[2020-02-12 16:38] moksamedia commented on #7129
I only added the thing about changing the Okta endpoint so that if someone else found this trying to figure things out, they'd have correct info. It was my mistake. I don't think it's a problem with the OIDC extension. I'll close the ticket.

[2020-02-12 16:38] #7129 closed

[2020-02-12 17:00] sberyozkin commented on #6606
@hartimcwildfly All will be good, I'm sure it will make it to Quarkus, LDAP security support is important.
With a tight schedule, it was not possible to identify a fix, so we had to temporarily drop it. And unfortunately, at this moment of time at least, my own experience with fixing the native issues is limited to adding the classes for reflection or enabling JNI :-)
Can you please share a link t

[2020-02-12 17:17] pdolezal opened #7167 "POST with HTTP/2 fails with: java.lang.IllegalStateException: Request has already been read"
**Describe the bug**
A POST request over HTTP/2 fails with _java.lang.IllegalStateException: Request has already been read_. The request is not processed by the appropriate JAX-RS resource at all and instead a _400 Bad Request_ that contains the error message in its body.
The same request over HTTP/1 executes correctly.

**Expected behavior**
The requests should be executed in the same way regardl

[2020-02-12 17:34] gwenneg commented on #7145
I double-checked on the MacBook I used for the test yesterday, it is definitely working fine:
[code]

I also ran the same test using Windows + GraalVM CE 19.3.1 (JDK 8 edition) and it failed, so I can confirm there's an issue and it seems to only affect Windows.

[2020-02-12 17:59] sberyozkin commented on #7013
@pedroigor

But where then the dynamism will be ? It will be the same as `TenantResolver` with the only difference is that `TenantResolver` looks up for `OidcTenantConfig` in application.properties while TenantConfigResolver - would create is itself somehow.

Not sure about it - this is a dynamic property.

[2020-02-12 18:06] sberyozkin commented on #7013
`TenantConfigResolver` has the right dynamism but we just need to make sure that the tenant id it uses to create `OidcTenantConfig` is visible to `DefaultTenantConfigResolver`. Any practical implementation would need to check `RoutingContext` to get some id. If it proves tricky then at least no collision will happen (hashCode, equals). IMHO something out of those 3 options should do if the dynamis

[2020-02-12 18:33] gwenneg commented on #7145
Here's another problem: I don't know how I made it fail on Windows, now I can't reproduce the failure anymore...

[2020-02-12 19:04] fmhwong commented on #6584
@angelozerr it will look like this

[code]

[2020-02-12 19:14] zeljkot commented on #7102
Today I tried to run my regular tests, which run perfectly under Java 8, under Java 11. The result was a hot mess: half of the tests failed, probably due to some transaction issues. It only happens on Windows, even in WSL2 tests run fine. Should I open a new issue for that or you think that may be related to this issue? To be honest, I do not have a clue about what is going on. Do you test on Wind

[2020-02-12 19:17] sherl0cks commented on #7150
Funny that Bill brought that up, as he is working on #7165 and #6785 which also came my team. Also looks like a stackoverflow thread on it too: https://stackoverflow.com/questions/59413224/quarkus-native-build-class-in-both-build-and-run-time-initialization. So clearly this is not a one off issue.

As to my testing. I can confirm that when only specifying `--initialize-at-runtime` without `reflect

[2020-02-12 19:20] gsmet commented on #7150
I think there's a good chance @patriot1burke fixed it here: https://github.com/quarkusio/quarkus/pull/7165/files#diff-f0cb01672f1c4cc99791becacd492916R260 .

[2020-02-12 19:26] fmhwong commented on #6615
@thesteve0 Do you have a reproducer I can use to check if it works in native?

[2020-02-12 19:27] cescoffier commented on #7166
I just tried (using minishift) and it was working for me. I'm surprised by `com.instana.agent.loader`, are you sure you don't have an agent or extra dependency in your application?

[2020-02-12 19:35] zeljkot commented on #7102
Here is more: if a class implementing the PanacheRepository is marked as `@Transactional`, methods injected by Quarkus are not transactional. @FroMage would you consider this as the same issue or different one?

[2020-02-12 19:40] gpietrek commented on #2835
+1

[2020-02-12 19:40] #6742 closed

[2020-02-12 19:46] gpietrek commented on #5762
basic feature, we need it urgently

[2020-02-12 20:06] wfrank2509 opened #7171 "Apache POI not working in native build"
**Describe the bug**
I created a server that parses a simple table in an Excel Sheet with Apache POI.
Running the code on the JVM works like expected but in the nativeBuild version I get a runtime exception when the XSSFWorkbook is created.

**Expected behavior**
Should work like in JVM build.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add POI to project (Gra

[2020-02-12 20:46] manoelcampos commented on #2198
Has anyone been able to use `@Version`? I works fine using just JPA. Adding Panache, there is no `OptimisticLockException` when multiple users try to update the same record on the DB.

I don't know if the issue is related to the way I'm performing the update. A sample class is below:

[code]

[2020-02-12 20:58] nonconceptual opened #7172 "Cannot configure Vertx Max Frame Size"
**Describe the bug**
I am encountering an issue when sending a large set of data to the Quarkus java server. It appears that I am hitting the max allowed frame size for vertx, and I cannot find any way to configure it for Quarkus. From the digging I have done thus far, I _think_ the culprit is io.vertx.core.http.HttpServerOptions#maxWebsocketFrameSize, which seems to be using the [default value.](

[2020-02-12 21:00] patriot1burke commented on #7150
FYI, the problem was that reflection registration in quarkus was loading the class and initializing it at static-init.  Fix was just to not initialize the class.  My PR should fix it.

[2020-02-12 21:03] gsmet commented on #7172
/cc @cescoffier I think we discussed that a while ago :)

[2020-02-12 21:04] sherl0cks commented on #7150
@patriot1burke well that was a lucky bit of serendipity right there. Really appreciate your collaboration on these issues.

[2020-02-12 21:04] gsmet commented on #7172
@nonconceptual that might be a nice thing to contribute if you want to try!

[2020-02-12 21:13] tdevilleduc opened #7173 "Cannot build native image with Quarkus on Win10"
- GraalVM: 19.3.1
 - Java: 11.0.5
 - OS: Win10 pro
 - Quarkus: 1.2.0.Final
 - repo: https://github.com/tdevilleduc/code-with-quarkus.git

I'm working currently on Quarkus, and i've manage to build a native image with -Dquarkus.native.container-runtime=docker parameter
I want now to make the same without this parameter

I started back from [generating my application][1] and i'm following [building

[2020-02-12 21:17] computerlove commented on #2931
Haven't gotten around to it yeat :/
Soon :p

[2020-02-12 21:32] zeljkot commented on #7163
Is it similar to this: https://github.com/quarkusio/quarkus/issues/7102

[2020-02-12 21:35] famod commented on #7173
Did you have a look at #5675?

[2020-02-12 21:54] andrejpetras opened #7174 "SchedulerProcessor method collectScheduledMethods recursion check"
**Describe the bug**

[code]

https://github.com/quarkusio/quarkus/blob/801dcb28295721fd65f9d30d1f0ad340dd6b5dd7/extensions/scheduler/deployment/src/main/java/io/quarkus/scheduler/deployment/SchedulerProcessor.java#L191

**Expected behavior**
[code]

**Actual behavior**
NPE

[2020-02-12 22:03] matjazmav opened #7175 "Techempower Benchmarks"
Can you provide and reference the Techempower Benchmark so we can compare actual performance?

Is this the "official" [solution](https://www.techempower.com/benchmarks/#section=test&runid=48e28547-3d66-42e2-9a61-11b312e6e173&hw=ph&test=fortune&l=xan3hb-1r) (search for "quarkus")?

[2020-02-12 22:05] machi1990 commented on #7174
@andrejpetras good catch. Can you try https://github.com/quarkusio/quarkus/pull/7176? Thanks!

[2020-02-12 22:05] tdevilleduc commented on #7173
Oops! That's indeed quite the same problem
As I understand:

19.3 is not support yet :)

5675 is still tracking the issue with 19.2
But it's a Graalvm issue and it seems like it hasn't been reported yet in graal repo

I've tried with 19.2.1 and it does failed silently

[2020-02-12 22:10] famod commented on #7173
GraalVM 19.3.1 is supported since Quarkus 1.2.0: https://quarkus.io/blog/quarkus-1-2-0-final-released/

You could check whether this applies also to your case: https://github.com/quarkusio/quarkus/issues/5675#issuecomment-578878630
If yes then we have more proof that Quarkus should add extra quotes (`"`).

Beware that if running the command manually (like I did in #5675) you might run in to https:

[2020-02-12 22:11] machi1990 commented on #6584
+1 for adding an example. Thanks @fmhwong

No, the mapped property should not be split.

[2020-02-13 04:05] jaikiran commented on #6162
I've opened https://github.com/oracle/graal/pull/2148 with a change to support this.

[2020-02-13 05:16] dcdh commented on #7155
@sberyozkin thanks for your reply. I was not aware about Vault assumption into Quarkus.

In my case it is not for an administrative purpose. Following GDPR I have to find a way to be compliant with it regarding personal data in my applications.
I am doing event sourcing (store each change on an aggregate as a domain event) and one of the golden rules is immutability. The store must not change or b

[2020-02-13 05:42] dcdh commented on #7155
This [commit](https://github.com/dcdh/event-data-spreader/commit/488200a7b701fe0552286a45d5f00fa10d4f626d) is a dirty workaround.

[2020-02-13 06:24] angelozerr commented on #6584
@fmhwong @machi1990 many thanks for your clarification.

[2020-02-13 08:10] Sanne commented on #6162
thanks @jaikiran !

[2020-02-13 08:16] aklemp commented on #7166
The project code is exactly as described but I suspect some instrumentation magic in OpenShift (because Instana is deployed somewhere). In the meantime I found this [article](https://www.instana.com/blog/quarkus-and-instana-lightspeed-monitoring-for-supersonic-java/). I have to try around a bit and see if this issue can be resolved.

[2020-02-13 08:25] iustinov commented on #6133
@dmlloyd, does the Quarkus team have plans for support aspectj (e.g. for logging)?

[2020-02-13 08:27] hartimcwildfly commented on #6133
aspectj-maven-plugin still does not support Java11 so I think they won't have planys for aspectj.

[2020-02-13 09:57] tdevilleduc commented on #7173
I tried this and I think I have the same result as you are

[code]

Apparently I need to install windows-sdk-7.1
This is all new to me. I will try to read stuff before jumping into that

Yes I think so too.

Anyway, I can close this one because it's tracked by #5675

[2020-02-13 09:57] #7173 closed

[2020-02-13 10:03] #7174 closed

[2020-02-13 10:27] FroMage commented on #7102
This looks like a different issue.

[2020-02-13 10:28] FroMage commented on #2198
Can you open another issue please. This issue is unrelated.

[2020-02-13 10:38] sberyozkin commented on #7171
@wfrank2509 thanks, but Quarkus does not have a poi extension so it is not a Quarkus bug :-).
What do you think about giving a tika extension a go ? In which case #6549 would be the issue to discuss

[2020-02-13 10:48] gsmet commented on #7171
I don't think it has anything to do with Tika. It's about generating a document with Apache POI.

There's a good chance you will need an extension for that to work flawlessly. But you could start by experimenting with a reflection config file: https://quarkus.io/guides/writing-native-applications-tips#using-a-configuration-file . And then we could build an extension from there.

[2020-02-13 10:55] sberyozkin commented on #7155
@dcdh Thanks. IMHO it makes sense to add this option. Vincent @vsevel is a lead of the Vault extension, but I'm not sure how available he is right now. Can you please consider creating a patch (label `area/vault`) based on your prototype above and CC to @vsevel and myself ?
Thanks

[2020-02-13 10:59] emersonl91 commented on #7163
@zeljkot  Yes, it looks very similar to me.

[2020-02-13 11:01] geoand commented on #7175
cc @johnaohara

[2020-02-13 11:04] geoand commented on #7171
I'm changing the label, since this is not a bug (for the simple reason that we don't have an Apache POI extension).

[2020-02-13 11:04] emersonl91 commented on #7102
I believe I am in the same situation, but there is something strange when it is not in test mode too.

I did a test via POSTMAN and with MSSQL database. I followed the request in the database, the entity is updated as expected, but in the application I use the command `MyEntity.findAll().list().get(0)` and the entity remains not updated.

More informations: #7163

[2020-02-13 11:12] sberyozkin commented on #7171
@gsmet

Per the issue description: `I created a server that parses a simple table in an Excel Sheet with Apache POI.` It is not the generation.

So it is has everything to do with the Tika extension as it uses Apache POI to cover OOXML formats.

[2020-02-13 11:16] sberyozkin commented on #7171
Even though I'm likely biased, IMHO it does not make sense to create an extension per every familtyy of parsers around and then keep them all maintaining; instead, keeping improving the tika extension is a better strategy IMHO

[2020-02-13 11:21] johnaohara commented on #7175
@matjazmav We are preparing a PR for the Techempower benchmark. The value shown on that result page is derived from a contribution from the community that is based on a very old version, using inefficient, non-idomatic quarkus syntax.

[2020-02-13 11:22] gsmet commented on #7171
Ah sorry my bad. That being said, I don't think you can be as fine grained as with the Apache POI API when using Tika. Typically, can you extract a particular cell? Can you get a formula value?

Also keep in mind that Apache POI is widely used to generate Excel files so it has an interest outside of Tika.

So while I agree it makes no sense to have an extension for every parser. A POI one could ha

[2020-02-13 11:42] sberyozkin commented on #7013
Hi Pedro @pedroigor, so I've had a long (enough :-)) period of thinking about `TenantConfigResolver` and I'm coming to the conclusion we have a case of the over-engineering here which is only me to blame for :-), as I kept asking you during the multi-tenancy PR review, `Pedro, please add something more dynamic` :-). I.e, I propose to drop `TenantConfigResolver` for the moment and revisit the idea

[2020-02-13 11:46] zulq opened #7179 "Quarkus JWT Kotlin sample"
Sorry if this the wrong place to create this. However I have created a `Kotlin` app with `JWT` authentication [Quarkus JWT kotlin sample](https://github.com/zulq/quarkus-jwt) .Some of the features are:

1. Registering users with hashed password using `spring-security-crypto`.
2. Authenticate with username and password to get `JWT` token.
3. User Roles from DB as part of `JWT`.
4. Key generator

Wo

[2020-02-13 11:51] sberyozkin commented on #7013
Or we just do what have discussed earlier and is something you've touched upon here:
[code]
and we say, to avoid any ambiguities, you either use `TenantResolver` + `applicationProperties` combination or `TenantConfigResolver` but not both. The reason you may want to use `TenantConfigResolver` is when putting the OIDC config in the `application.properties` is not working for you.

But even here a d

[2020-02-13 11:57] ppalaga commented on #6975
As agreed on the developer mailing list, Quarkus build reproducibility is not required at this time, see https://groups.google.com/forum/#!topic/quarkus-dev/6geWtb5HOdc Thus closing.

In case this becomes a topic in the future, here is my latest code https://github.com/ppalaga/quarkus/commits/native-image-cache-and-build-reproducibility

[2020-02-13 11:57] #6975 closed

[2020-02-13 11:57] ppalaga commented on #7025
As agreed on the developer mailing list, Quarkus build reproducibility is not required at this time, see https://groups.google.com/forum/#!topic/quarkus-dev/6geWtb5HOdc Thus closing.

In case this becomes a topic in the future, here is my latest code https://github.com/ppalaga/quarkus/commits/native-image-cache-and-build-reproducibility

[2020-02-13 11:57] #7025 closed

[2020-02-13 11:57] ppalaga commented on #7026
As agreed on the developer mailing list, Quarkus build reproducibility is not required at this time, see https://groups.google.com/forum/#!topic/quarkus-dev/6geWtb5HOdc Thus closing.

In case this becomes a topic in the future, here is my latest code https://github.com/ppalaga/quarkus/commits/native-image-cache-and-build-reproducibility

[2020-02-13 11:57] #7026 closed

[2020-02-13 11:58] ppalaga commented on #7027
As agreed on the developer mailing list, Quarkus build reproducibility is not required at this time, see https://groups.google.com/forum/#!topic/quarkus-dev/6geWtb5HOdc Thus closing.

In case this becomes a topic in the future, here is my latest code https://github.com/ppalaga/quarkus/commits/native-image-cache-and-build-reproducibility

[2020-02-13 11:59] sberyozkin commented on #7171
@gsmet, thanks, no problems, the description also says the exception is thrown when ` XSSFWorkbook is created`, so yeah, could've been either process :-)

Sounds good, re accessing some individual cells, true, Tika can't help. It depends what the requirement is, for the data analytics the fine grained access is typically not needed; for generating things Tika is of no help either (I've proposed to

[2020-02-13 12:08] pedroigor commented on #7013
@sberyozkin Now that we have it I think we should keep it :) As it stands today, I think the functionality is quite functional and also useful.

I don't see a reason for having `TenantConfigResolver` extending `TenantResolver`. Note that when resolving a tenant config, the implementation can even have its own cache of tenant configurations.

The tenant id issue should be quite easy to solve by jus

[2020-02-13 12:12] sberyozkin commented on #7179
Hi @zulq, thanks,  it looks interesting.
FYI, [over here](https://github.com/zulq/quarkus-jwt/blob/master/src/main/kotlin/org/acme/config/TokenHelper.kt#L25), you can use java.util.Map to avoid dealing with Jose4J directly (few claims like `jit`, `iat`, `exp` will be added by default too), and you can use a no-arg `sign()` and drop all the code which loads the key since you have a property pointin

[2020-02-13 12:29] sberyozkin commented on #7013
Hey @pedroigor That is fine, lets keep it :), But IMHO we should fix the `clientId` issue then, I'm just not happy with it, let me reiterate why:
- It is simply not consistent for `DefaultTenantConfigResolver` to have the statically resolved `OidcTenantConfig` be keyed in its map cache using a proper tenant id, while dynamically created `OidcTenantConfig` are saved in the same map using `clientId`

[2020-02-13 12:47] dmlloyd commented on #6133
No, there are currently no plans to support aspectj that I know of.

[2020-02-13 12:50] ppalaga opened #7180 "create-extension mojo should accept absolute paths for the templatesUriBase option"
ATM, setting `-DtemplatesUriBase=file:///some/absolute/path` or `<templatesUriBase>file:///${project.basedir}/my/path</templatesUriBase>` results an exception similar to the following:

[code]

Original report: https://github.com/apache/camel-quarkus/issues/688

A PR follows.

[2020-02-13 12:54] zulq commented on #7179
@sberyozkin, thanks for the feedback, changes implemented as recommended.

[2020-02-13 12:57] pedroigor commented on #7013
What I mean is this:

[code]
Now we use the `tenantId` as a key instead of client id.

That is why I don't think we need `TenantConfigResolver` extending the other.

[2020-02-13 13:22] ppalaga opened #7181 "create-extension should generate application.properties for the integration test"
create-extension should generate application.properties for the integration test.

Original report: https://github.com/apache/camel-quarkus/issues/694

A PR follows

[2020-02-13 13:30] Rupert-RR opened #7183 "Observing the RxJava Vert.x `Router` does not work"
**Describe the bug**

When adding a method to be called when the router is ready, in an `ApplicationScoped` class, the method is never called if we use the RxJava version of the router but is called appropriately if not. This is perhaps related to [this issue](https://github.com/quarkusio/quarkus/issues/1589).

**Expected behaviour**

The method annotated with `@Observes` should be called when the

[2020-02-13 14:01] alex-lmco commented on #7145
I can consistently reproduce it on windows by just running ./gradlew test.  Unfortunately I cannot *not* reproduce it which would be helpful for development since we run our binaries containerized on linux but do our development on windows.

[2020-02-13 14:07] rsvoboda opened #7185 "quarkus-kubernetes and quarkus-maven-plugin:native-image - Build failed due to errors"
When I use quarkus-kubernetes extension (Quarkus master based) and quarkus-maven-plugin:native-image (deprecated approach, but still available) based native profile I get build failure.

This is the use case when user updates the version of Quarkus in already existing project. When creating new project without native-image goal everything works.

I did some investigation and the main diff is in th

[2020-02-13 14:23] geoand commented on #7185
Let's wait for the major changes in #5496 to land and then look at this one

[2020-02-13 14:28] sberyozkin commented on #7179
Hi @zulq Thanks. I think it is definitely a quarkus-quickstart issue. I'm not sure another doc is required but having one more JWT example would be useful, can you please close this issue, open a new Quickstart one with a PR and CC to @gsmet, myself ? And @geoand and @gastaldi who are Kotlin gurus :-)

[2020-02-13 14:29] gastaldi commented on #7179
I'm not really a Kotlin guru (in fact I don't use Kotlin at all :) ), but I'm happy to help when possible ;)

[2020-02-13 14:30] geoand commented on #7179
I'm not an expert, but I could try and take a look in a few days

[2020-02-13 14:40] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 3b8d255046bb4532d7959bd61b9a3a794a16dd6c

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-13 14:42] geoand commented on #6588
The RSS check tripped again. @johnaohara can you pehaps take a look and see if this is an actual problem is just a false positive?

[2020-02-13 14:42] sberyozkin commented on #7179
@gastaldi @geoand thanks, @zulq has already implemented the project, so just an extra PR check when it is open will be of help, cheers

[2020-02-13 14:45] johnaohara commented on #6588
@geoand sure, looking

[2020-02-13 15:02] zulq commented on #7179
@sberyozkin, closing as requested. Please bear with me sometime to create a PR or should it suffice only to create an issue on the quick-starts with a link to the project? More of a TFS guy lol.

[2020-02-13 15:11] sberyozkin commented on #7013
@pedroigor This looks promising, I'm feeling better already :-).

[2020-02-13 15:27] zeljkot opened #7188 "PanacheRepository injected methods cannot be made transactional"
**Describe the bug**
If a class implementing the PanacheRepository is marked as `@Transactional`, methods injected by Quarkus are not transactional.

**Expected behavior**
All public methods should be transactional. When calling e.g. persist, a transaction should be created and operation should succeed.

**Actual behavior**
App throws `javax.persistence.TransactionRequiredException: Transaction is

[2020-02-13 15:34] zulq commented on #7179
@sberyozkin, getting permission error:
`15:32	Can't Create Pull Request
			Push failed:
			remote: Permission to quarkusio/quarkus-quickstarts.git denied to zulq.
			unable to access 'https://github.com/quarkusio/quarkus-quickstarts.git/': The requested URL returned error: 403`

[2020-02-13 15:45] kratisto opened #7189 "Function integrate of custom hibernate integrator is not called"
**Describe the bug**
We need to use hibernate integrators to put events listener. And it seems that the custom integrator is only instantiated but never really called.

**Expected behavior**
I want to add custom integrator and the function integrate is called.

**Actual behavior**
We tried to add the file `META-INF/services/org.hibernate.integrator.spi.Integrator` with the following content :
[cod

[2020-02-13 16:02] gastaldi commented on #7179
@zulq you need to push to your fork and then create a PR

[2020-02-13 16:03] gastaldi commented on #7179
If you're using `hub` from https://hub.github.com, do:

- `hub fork`
- `git push zulq your-branch`

[2020-02-13 16:25] #6584 closed

[2020-02-13 16:27] #6063 closed

[2020-02-13 16:29] #6566 closed

[2020-02-13 16:30] gastaldi commented on #7189
@kratisto that seems to be a decent solution, would you mind opening a PR so @Sanne can review it? Thanks!

[2020-02-13 16:34] TheGeekPharaoh opened #7191 "Native JAX-RS Lambda example fails: invalid response"
**Describe the bug**
Running the Resteasy AWS Lambda sample code ([found here](https://quarkus.io/guides/amazon-lambda-http)) works locally in JVM mode but fails when using native mode.

**Expected behavior**
A call (via browser, curl, etc.) should return the same results running locally using SAM, whether in JVM or native mode.

**Actual behavior**
The code is compiled using Maven:

`mvn clean in

[2020-02-13 16:37] gastaldi commented on #7163
Should we close this issue as duplicate and focus on #7102? Looks like #7188 is also related

[2020-02-13 16:47] Sanne commented on #7189
We shouldn't require a new configuration property.  I'd prefer it if we could figure out why the integrator isn't being called, it's probably something silly I forgot.

[2020-02-13 16:49] aguibert commented on #7054
hi @emattheis, been looking into this issue a bit and for starters I'll propose a workaround for you.

There seems to be some issue with directly injecting constructs like `Client` instead of using a REST Client interface. I was able to get your sample working by changing the `GreetingService` class to the following:

[code]

If I go back to the original code, I see that the root issue is the CNFE

[2020-02-13 16:52] gastaldi commented on #7189
It's already done in:
https://github.com/quarkusio/quarkus/blob/8e0cce8b5ae30b46fbd21db6ddb3d5ade208d3be/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java#L225-L230 but I wonder if we should be using the TCCL instead of `getClass().getClassloader()`?

[2020-02-13 16:53] gastaldi commented on #7189
I'll have a look at it

[2020-02-13 17:04] emersonl91 commented on #7163
@gastaldi i agree

[2020-02-13 17:05] gastaldi commented on #7163
@emersonl91 thanks! Closing as duplicate of #7102

[2020-02-13 17:05] #7163 closed

[2020-02-13 18:03] zeljkot commented on #7163
@gastaldi if I understood @FroMage correctly, #7188 is a different issue, as discussed in #7102 thread.

[2020-02-13 18:07] kamilgregorczyk commented on #7014
[code]
Worked for Gradle + arm, thanks!

[2020-02-13 18:08] #7014 closed

[2020-02-13 18:25] gastaldi commented on #7189
I can change it to no longer require an entry in META-INF/services by doing `index.getIndex().getAllKnownImplementors(DotName.createSimple("org.hibernate.integrator.spi.Integrator")`, but I am not sure if we should be doing that.

WDYT?

[2020-02-13 18:27] emersonl91 commented on #7102
@zeljkot The `quarkus-narayana-jta` dependency is missing in pom.xml. I added and did tests with TransactionManager and UserTransaction and it didn't solve it. I'm importing from the javax.transaction package, is that correct?

I don't know why the lack of dependency does not generate an error.

In the tests with TransactionManager and UserTransaction the following message started to be displayed

[2020-02-13 18:28] gastaldi commented on #7189
Looks like this is also done in
https://github.com/quarkusio/quarkus/blob/3ec35702774fa1cff1f4442cd072865c7e8d65ad/extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/deployment/RESTEasyExtension.java#L33-L34

[2020-02-13 18:55] zeljkot commented on #7102
Narayana is dependency of Hibernate, there is no need to include it per se.

[2020-02-13 20:35] cescoffier commented on #6588
The build is still failing with:

* Quarkus commit: 923efbfd611f2761b1d9080ef411d18c38e646d9

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-13 20:48] manoelcampos opened #7193 "Hibernate's `@Version` annotation to enable Optimistic Locking is ignored"
**Describe the bug**
The Hibernate´s `@Version` annotation is having no effect when using Panache.

**Expected behavior**
An `OptimisticLockException` should be thrown to avoid possible data override when two users try to update the same entity at the same time.

**Actual behavior**
When using Hibernate's `@Version` annotation to enable Optimistic Locking, if two users change the same Entity at th

[2020-02-13 20:50] manoelcampos commented on #2198
Hello @FroMage,
Sorry, I saw people discussing about `@Version` here and thought it was the right place to report. I just created issue #7193.

[2020-02-13 21:42] emersonl91 commented on #7102
My quarkus logs with log trace enabled:

https://send.firefox.com/download/1017dc8221806b4b/#HN3XWg9TzL4hc_db5reZ3Q

[2020-02-13 21:52] Sanne commented on #7189
No I'd not do that. There's no benefit, other than the problem that it requires all integrators to have been indexed by Jandex. I'm not sure why RESTEasy decided to go for this approach, there's likely something different.

kratisto mentioned that his Integrators are being found just fine; the problem he's describing is that they are not being initialized: see the `integrate` method in his example

[2020-02-13 21:56] gastaldi commented on #7189
:+1:  Agreed.

Not sure about  that, I added some debug statements with a sample app and I don't see my integrator being found, but I'll investigate. One thing I noticed is that `disintegrate` is not called when the test finishes, probably because `io.quarkus.hibernate.orm.runtime.JPAConfig#destroy(java.lang.Object)` is not called after the test finishes

[2020-02-13 22:16] kamilgregorczyk commented on #7014
@gwenneg could you please tell me where's the Dockerfile for uay.io/quarkus/ubi-quarkus-native-image:19.3.1-java11? I'd like to create something similar so I don't need to wait hours for everything to build on each deploy

[2020-02-13 22:36] patriot1burke commented on #5859
@evanchooly Solution for the system property issues is to just set java.io.tmpdir=/tmp and
vertx.cacheDirBase=/tmp/vertx via a SystemPropertyBuildIItem.  Personally though I could never reproduce this issue.  I'll assign this to myself if you like.

@mihapolak Justin is right in that you can't just add quarkus-resteasy, you ahve to add amazon-lambda-http too and follow the quarkus docs for setting

[2020-02-13 22:51] nikospara commented on #4147
Hi @aloubyansky, again sorry for the late reaction. Will check ASAP (tomorrow probably) and let you know. Thank you!

[2020-02-13 23:16] patriot1burke commented on #7191
Weird, I was getting the 502 response error as you did at first, then it just went away.  It works for me now and I can't reproduce the 502

[2020-02-13 23:28] jimbogithub opened #7195 "Multi-project @QuarkusTest in IDE to use compiled source"
**Describe the bug**
Running @QuarkusTests in Eclipse IDE for a multi-project Maven setup, the tests are picking up the jar dependencies not the compiled source.

**Environment (please complete the following information):**
 - Quarkus version or git rev: 1.3.0.Alpha1

**Additional context**
https://groups.google.com/d/msg/quarkus-dev/ovaJ1GUang8/9jUbs9m7AQAJ

[2020-02-13 23:37] victorl2 commented on #3651
Do we have any expectation to include multitenancy in future releases ?

[2020-02-14 02:44] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: e3a1545c774be87699f66ddaf87e051367fee2aa

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-14 03:15] evanchooly commented on #5859
Sounds great @patriot1burke.

[2020-02-14 08:51] hartimcwildfly commented on #6606
The branch one commit before the deletion: https://github.com/hartimcwildfly/quarkus/tree/add-elytron-ldap-auth

[2020-02-14 08:58] aloubyansky commented on #7195
@jimbogithub I couldn't reproduce it so far. Here is the project I used https://github.com/aloubyansky/playground/tree/quarkus-test-multimodule The test is located in the `runner` module while the resource impl is in the `rest` module.
I was changing the output of `/app/hello` and could see it affecting the test.
Are you usinig Maven or Gradle for your project? Thanks.

[2020-02-14 09:57] zulq commented on #7179
Getting `push to origin/development was rejected`. On Windows using intellij. Do I need to `Force Push`?

[2020-02-14 10:02] kratisto commented on #7189
In fact
[code]
Doesn't read the file present in my project. I debugged ServiceUtil.
`classLoader.getResource(fileName);` return an empty `Collections`.
`BootLoader.findResources(fileName);` return `null` even if i set the absolute path ( `/Users/JEFFREY/workspace/pro/java11/samourai-order-service/src/main/resources/META-INF/services/org.hibernate.integrator.spi.Integrator`). A `cat` with this full

[2020-02-14 10:04] geoand commented on #7179
You need to your fork, not Quarkus. What does

[code]

look like?

[2020-02-14 10:11] zulq commented on #7179
Here: `origin  https://github.com/zulq/quarkus-quickstarts.git (fetch)
origin  https://github.com/zulq/quarkus-quickstarts.git (push)`

[2020-02-14 10:13] geoand commented on #7179
That looks good, so you should be able to push to it. Depending on what the state of your branches are, you indeed might need to force push

[2020-02-14 10:15] gintsgints commented on #6807
My use case:
I would like to have "Enter chat" endpoint, where if user have token, it will be identified by my token user, but if I have no token, then "anonymous" user would be created.

[2020-02-14 10:18] zulq commented on #7179
Push successful and created a PR as well.

[2020-02-14 10:19] #7179 closed

[2020-02-14 10:52] andreas-eberle commented on #6198
I think the CR and Alpha builds are only published to quarkus-bom and not to quarkus-universe-bom. Compare https://mvnrepository.com/artifact/io.quarkus/quarkus-bom to https://mvnrepository.com/artifact/io.quarkus/quarkus-universe-bom.
So if you want to test the CRs and Alphas, you should probably use the quarkus-bom.

[2020-02-14 12:09] tpenakov commented on #6549
Hi @sberyozkin ,
PR is cerated: https://github.com/quarkusio/quarkus/pull/7198
However there is a few things to points out:

- xalan dependency is included - probably on wrong place: extensions/arc/runtime/pom.xml
- additional config property is added for supported file types - we have support for pptx ans xlsx file types as well, however if we include all of them - the native build ends with OOM

[2020-02-14 12:51] jmkgreen commented on #6707
I am seeing exactly the same. If it implements RequestHandler it seems to work.

According to https://quarkus.io/guides/amazon-lambda#choose-your-lambda only `RequestHandler` implementations are scanned for, which may be why.

I am building against `RequestHandler` because I want to use Jackson. The documentation for Quarkus mentioning Jackson does not make clear whether the integration is purely

[2020-02-14 13:20] sberyozkin commented on #6549
Hi @tpenakov As noted in the PR request, it is appreciated you've spent so much time on this issue :-), I'll try to help now as well. By the way, please also watch #7171, which, if implemented, may help you more. Though as far as this extension is concerned the POI issues will have to be fixed anyway.
I'll keep you up to date once I get to testing your PR, cheers

[2020-02-14 13:26] loicmathieu opened #7199 "QuarkusTestExtension doesn't work with @ExtendWith or @RegisterExtension"
**Describe the bug**
Using the getting-started quickstart, the test is generated as follows with the `@QuarkusTest` annotation.

[code]

Junit offers two more ways to integrate an extension: `@ExtendWith` and `@RegisterExtension` . Both ways allows to order extensions between them so it's usefull when using multiple extensions.

Using any of these two annotations leads to the following error:
[cod

[2020-02-14 13:27] Kin-Z commented on #5869
it works for the property `<native.image.path>` both ways, but none of the above mentioned ways work for the property `java.library.path`.

[2020-02-14 13:44] #6220 closed

[2020-02-14 14:17] #5446 closed

[2020-02-14 15:38] dmlloyd commented on #6606
It's definitely a GraalVM problem relating to a point where Java code calls into C code.  It could be a JNI bug (there is at least one bug which can potentially cause stack or heap corruption when handling byte arrays).  But without more context (e.g. a stack trace at the point of failure) it's hard to say for sure.

[2020-02-14 15:59] ppalaga opened #7203 "Surefire 3.0.0-M4 passing even if a build step throws an exception"
Quarkus is currently using maven-surefire-plugin 2.22.1 with which this issue does not occur. The issue is occurring in Camel Quarkus where we use maven-surefire-plugin 3.0.0-M4. But wit ha few changes, the issue is reproducible also in Quarkus.

Steps to reproduce:

1. Add `throw new RuntimeException("This is failing");` at the end of `io.quarkus.hibernate.validator.deployment.HibernateValidatorP

[2020-02-14 20:42] emattheis commented on #7054
Thanks for the followup @aguibert

In my actual application I need a `Client` to have finer control over HTTP requests, so unfortunately the workaround isn't suitable.

[2020-02-14 20:45] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: 9f61f42ec98e0ba3cde8055d8fc95a2d84118594

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-14 20:58] jimbogithub commented on #7195
I'm using Maven.  I have separate aggregator and parent poms.  If I change your project to conform with that then it reproduces the issue.  Looks like I can't commit to you project, so here's my diff:

[patch.diff.zip](https://github.com/quarkusio/quarkus/files/4206778/patch.diff.zip)

[2020-02-14 21:08] jimbogithub commented on #7195
Just in case you don't like opening zip files you find on the internet:

[patch.diff.txt](https://github.com/quarkusio/quarkus/files/4206811/patch.diff.txt)

(GitHub won't let me attach a .diff directly)

[2020-02-14 21:28] #5662 closed

[2020-02-14 21:48] aloubyansky commented on #7195
Could you please review this commit and confirm whether I got it right? https://github.com/aloubyansky/playground/commit/0af59ddcd2d5e1a0815de8ba9b303ae8ea47a78b

I may be missing something, because it didn't fail. Although I kind of see what the cause should be. Before I tried it, my suspicion was that your parent pom did not declare any parent while the root pom is meant to be its parent. Is the

[2020-02-14 22:11] EfraimLA commented on #4644
Is there some plan to resolve this?

[2020-02-14 22:17] fmhwong commented on #6513
@cescoffier Do you have a preference of making a copy of `quarkus-maven-overrides-java8.yaml` and `quarkus-maven-overrides-java11.yaml`, making the changes in the copy and check them in OR modify the existing files?

[2020-02-14 22:56] jimbogithub commented on #7195
Commit looks good.

It is deliberate that the parent pom does not have the aggregator pom as its parent.  This is a pretty common practice.

I think if you delete any pre-built jars from your target directories / repo you will then get an error like this where it appears to be looking for the jars:

	at io.quarkus.test.junit.QuarkusTestExtension.doJavaStart(QuarkusTestExtension.java:129)
	at io.qu

[2020-02-14 22:58] jimbogithub commented on #7195
UPDATE.  Actually to be clear I am seeing a full failure here.  Your test is still passing after I've edited the HelloResource.  It should fail.

[2020-02-14 23:58] gwenneg commented on #7145
Well, I'm really sorry but I tried multiple times with each GraalVM version and couldn't reproduce the failure.

Here's what I did, each time with an unmodified `test.zip`:
[code]
[code]
[code]

Either I'm missing something obvious here or the failure I saw was a false positive.

@gsmet: Would you have a suggestion of someone who could help testing this on Windows?

[2020-02-15 00:49] gastaldi commented on #7189
@kratisto I created a PR (https://github.com/quarkusio/quarkus/pull/7208) which fixes this. Can you give it a try?

[2020-02-15 02:47] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: f5063a092de3aadbd1433f58f1b07af65f892b15

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-15 07:06] aloubyansky commented on #7195
Interesting that I don't install nor build the jars. I do `mvn clean` and then run the tests from Eclipse. IIRC, the original impl did pick the `agg`pom as the parent but later decided to be more strict because there were negative effects on the dev mode, although some impl details have changed we could probably go back to picking up these kind of parents. However I'd like to reproduce this error

[2020-02-15 10:46] geoand commented on #7195
I tried what you proposwd and here is the output:

[code]

[2020-02-15 13:47] schulzp commented on #6954
Hi, I run into the same issue, even when running the `app.jar` inside a dockerized JVM (`Dockerfile.jvm`), see my [MWE](https://github.com/schulzp/quarkus-logging-npe).

[2020-02-15 13:54] srivatsav opened #7212 "java.lang.NullPointerException: null at io.quarkus.hibernate.orm.panache.runtime.JpaOperations.getEntityManager(JpaOperations.java:75)"
**Describe the bug**
Using hibernate ORM with Panache gives Null Pointer Exception whenever trying to  communicate with DB.

**Actual behavior**
 Throws null pointer Exception -

java.lang.NullPointerException: null
	at io.quarkus.hibernate.orm.panache.runtime.JpaOperations.getEntityManager(JpaOperations.java:75) ~[quarkus-hibernate-orm-panache-1.2.0.Final.jar:1.2.0.Final]
	at io.quarkus.hibernate

[2020-02-15 15:39] InfoSec812 commented on #6109
No, I might be able to start this week once I am back home for DeveloperWeek.

[2020-02-15 15:50] SR-Lut3t1um commented on #5488
How can I work arround this bug?

[2020-02-15 20:28] DicksengA opened #7213 "Dbref for mongodb"
Any idea how i can use DBref for mongodb in quarkus. Have trying to migrate our enterprise app from spring but havent been able to find an example on how to achieve this using panache

[2020-02-15 20:43] stuartwdouglas commented on #7199
This is because it uses the QuarkusTest annotation to turn test classes into beans.

[2020-02-15 21:45] AmsterdamFilho commented on #6770
Is there a workaround for this? This issue is really polluting the logs of my application.

[2020-02-15 22:41] overthetop opened #7215 "Start many kafka consumers listening on a topic"
When I use the reactive messaging in Quarkus and annotate a method with @Incoming("orders") I get only 1 kafka consumer for that channel. Is there a way to specify a concurency number of listeners for this channel? For example I need 20 kafka consumers listening on the topic. How can I do that?

[2020-02-16 09:29] tpenakov commented on #6549
Thank you @sberyozkin - I am watching the #7171 already. I also suggested Apache POI together with Xml Beans to become a separate extensions.
BTW - the bigger part of Apache POI inclusion is done in this task...

[2020-02-16 09:58] cescoffier commented on #7215
This is tracked by https://github.com/smallrye/smallrye-reactive-messaging/issues/329.

[2020-02-16 09:59] cescoffier commented on #7183
I don't believe we expose the RX Router. Any specific feature you would like to use from this API?

[2020-02-16 11:02] loicmathieu commented on #7199
Ok but Canada we fix it or at least provides a workaround?
Using those annotations is the only way to ordering test extensions. So it is very important in order Quarkus to play well inside the Junit 5 ecosystem

[2020-02-16 11:18] Rupert-RR commented on #7183
I was following the [Reactive Routes guide](https://quarkus.io/guides/reactive-routes) and wish to [register my routes directly on the Vert.x router](https://quarkus.io/guides/reactive-routes#using-the-vert-x-web-router), but using RxJava syntax rather than `AsyncResult`.
Is there any reason not to expose the Rx router?

As another point (which may merit a separate issue), I notice that using Vert

[2020-02-16 12:03] tk303 opened #7217 "Quarkus gradle build fails with flatDir"
**Describe the bug**
I'm using gradle to build quarkus project.
I've got jar dependencies that are in my projects 'lib' folder that I need to include as dependencies.
When trying to build the project it fails

**Expected behavior**
It should build and start

**Actual behavior**
Build fails without any clear reason.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a sample quarkus proj

[2020-02-16 14:24] #5354 closed

[2020-02-16 17:24] 38leinaD commented on #4125
Is there some way to inject the HTTPRequest into a CDI interceptor?
@Context does not work; at least for me the member is null

`
    @Context
    HttpRequest request;
`

What i want to achive is to annotate certain Jax-RS endpoint with an interceptor-binding and let the CDI-interceptor check some value in the headers.

[2020-02-16 17:41] alesj commented on #4125
What if you try @Context on some servlet listener, set the request into
some ThreadLocal, and get it from TL in that interceptor ... ?

On Sun, 16 Feb 2020 at 18:24, Daniel Platz <notifications@github.com> wrote:

[2020-02-16 18:09] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: e71f96a58e402569a223a22a4938f59be8e5d704

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-16 18:45] 38leinaD commented on #4125
Thanks! That worked. Actually used a JaxRS filter

[code]

[2020-02-16 18:53] alesj commented on #4125
Don’t forget to cleanup TL afterwards ...

On Sun, 16 Feb 2020 at 19:45, Daniel Platz <notifications@github.com> wrote:

[2020-02-16 20:57] nikospara commented on #4147
Hello again @aloubyansky. Yes, I confirm it is working with the latest master.

[2020-02-16 21:21] aloubyansky commented on #4147
Excellent, thanks @nikospara

[2020-02-17 02:57] GregJohnStewart opened #7220 "Allow @ConfigurationProperty to apply to class members when using @ConfigProperties"
(version `1.2.0.Final`, using Gradle)

**Description**
As it stands, I can't seem to properly apply `@ConfigurationProperty` annotations to members of a class that has the `@ConfigurationProperties` on it. Current behavior it seems is that the members' annotations are ignored. I noticed that the annotation works for interfaces, but I would like it to work for classes as well.

Example:

[code]

Er

[2020-02-17 03:08] cescoffier commented on #6588
Build fixed with:

* Quarkus commit: 4ce58c95dfb5b71e80a127aac1b20cc4a4d0c045

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-17 06:33] overthetop commented on #7215
Thank you @cescoffier. As a workaround until the issue is resolved I guess I have to use the vert.x kafka driver directly?

[2020-02-17 07:02] #6785 closed

[2020-02-17 07:06] gsmet commented on #6933
It should be fixed in Alpha2 that will be released in a couple of hours.

Please retest once released and report back, thanks!

[2020-02-17 07:06] #6933 closed

[2020-02-17 07:10] #6849 closed

[2020-02-17 07:13] gsmet commented on #6571
Do we have a PR for that one?

[2020-02-17 07:17] gsmet commented on #6179
@gwenneg what's the status of this one?

[2020-02-17 07:24] gwenneg commented on #6179
I didn't try to remove https://github.com/quarkusio/quarkus/commit/43e36e5daa104b97c319f945d55da307b6779800 so far and I'm not sure https://github.com/quarkusio/quarkus/commit/85d8746449961b1e025768a12000cf217d19414a actually needs to be removed. I'll take a look at it tonight.

[2020-02-17 08:18] tlvenn commented on #1997
Shouldn't the issue relabeled as 'kind/extension-proposal' / 'kind/new-feature' @gsmet ? It seems weird to tag it as a question. Thanks

[2020-02-17 08:59] kratisto commented on #7189
It works with your fix

[2020-02-17 09:33] loicmathieu commented on #7213
Did you try to use a `com.mongodb.DBRef` field inside your entity ?

For querying, you can use a native MongoDB query so everything that is possible with raw mongodb-client is possible with MongoDB with Panache.

Please give feedback on what you tested and what works.

[2020-02-17 09:40] loicmathieu commented on #7212
@srivatsav

How do your run your application? I notice that you have an Application class with `@SpringBootApplication` I'm not sure it is supported in Quarkus, maybe @geoand can give us some light on this.

[2020-02-17 10:07] geoand commented on #7212
@srivatsav It seems like you are mixing a Spring Boot and a Quarkus application. That is never going to work.

Please take a look at: https://quarkus.io/guides/spring-data-jpa

[2020-02-17 10:07] #7212 closed

[2020-02-17 11:09] #7189 closed

[2020-02-17 11:10] kratisto commented on #7189
@gastaldi @Sanne Thanks for your time and your work

[2020-02-17 11:17] mkouba commented on #7102
@stuartwdouglas Yes, we do. The behavior is undefined from the spec POV.

@zeljkot Yes, this is a known issue - repository class is transformed/methods are generated and so the CDI container does not see the methods at all. And for entities there is a problem with static methods - these are not intercepted by design (as defined by the spec).

[2020-02-17 11:17] gastaldi commented on #7189
@kratisto thank you for the bug report ;)

[2020-02-17 11:31] TheVidAllMayThe commented on #6921
I can confirm that this issue does not happen with maven. It would be really nice to solve it for gradle since it is very annoying

[2020-02-17 11:37] pedroigor commented on #6571
@gsmet Almost there. Most of the work is done. We have been discussing some changes to multi-tenancy that were important to understand what we should put in docs/quickstarts.

Based on the latest @sberyozkin, I'm not going to promote Google integration (sadly) but a single Keycloak instance serving multiple tenants/realms.

It should be ready tomorrow.

[2020-02-17 11:40] alex-lmco commented on #7145
Thank you for the inclusion of the "refresh-dependencies" part. I apparently had a couple bad jars in my local maven repo.  When I cleared out ~/.m2 everything went away and both graalvm jdk11 and graalvm jdk8 work just fine.  Thank you!

[2020-02-17 11:40] #7145 closed

[2020-02-17 11:51] mkouba commented on #7144
@mithandir Could you pls try your app with 1.3.0.Alpha2? I know that we fixed few issues related to template extensions recently...

[2020-02-17 11:56] gsmet commented on #7144
I just released the staging repository of Alpha2 so it's not yet on Central. It should be there in ~1 hour.

[2020-02-17 12:11] gsmet commented on #7172
@fmhwong would you be interested in driving this one home?

[2020-02-17 12:12] gsmet commented on #7185
I don't think it's worth spending time on that one.

People using the latest versions won't have this issue and we didn't have any report.

[2020-02-17 12:14] gsmet commented on #7188
Yeah, I think it's probably the same issue of the methods being injected too late and not being taken into account by the interception layer.

/cc @mkouba

[2020-02-17 12:15] kameshsampath opened #7221 "The native runner with Mariadb extension fails to run"
**Describe the bug**
Building a Hibernate panache application using Mariadb backend is not able to run in native mode and it fails with the following error.

**Expected behavior**
The application should start successfully.

**Actual behavior**
[code]

[2020-02-17 12:16] gsmet commented on #7193
/cc @Sanne @FroMage any idea?

[2020-02-17 12:18] gsmet commented on #7217
/cc @quarkusio/devtools @quarkusio/bootstrap
(not sure what is the issue so pinging both)

[2020-02-17 12:19] gsmet commented on #7167
I don't think we support HTTP/2 right now. @stuartwdouglas ?

[2020-02-17 12:20] gsmet commented on #7221
Which version of Quarkus? There's no link to the project.

[2020-02-17 12:20] kameshsampath commented on #7221
@gsmet  - just updated, its v1.2.0.Final

[2020-02-17 12:21] kameshsampath commented on #7221
@Sanne  ^^

[2020-02-17 12:21] gsmet commented on #7221
Can you try 1.3.0.Alpha1? I think it's probably fixed by https://github.com/quarkusio/quarkus/pull/6815 .

[2020-02-17 12:21] kameshsampath commented on #7221
let me quickly and update

[2020-02-17 12:24] gastaldi commented on #7217
I'll have a look. But you shouldn't need to download JARs explicitly.

eg. Your implementation should read:

`implementation group: 'org.apache.commons', name: 'commons-lang3', version: '3.9'`

[2020-02-17 12:24] gwenneg commented on #7145
You're welcome!

[2020-02-17 12:32] T1b4lt opened #7224 "RESTEasy JAX-RS example project fails when I try to create native image (Windows)"
**Describe the bug**
After downloading the base project from https://code.quarkus.io/ (the one with RestEasy JAX-RS included) I try to execute the command `.\mvnw -e package -Pnative` but I get Build Failure

**Expected behavior**
Create a native image

**Actual behavior**
Build Failure. After executing `.\mvnw -e package -Pnative` PowerShell:

[code]

**To Reproduce**
Steps to reproduce the behav

[2020-02-17 12:41] kameshsampath commented on #7221
@gsmet - I can confirm that #6815  has fixed this issue with bumping quarkus-jdbc-mariadb to `1.3.0.Alpha1`

[2020-02-17 12:43] #7221 closed

[2020-02-17 12:43] gsmet commented on #7221
Thanks.

[2020-02-17 12:49] Sanne commented on #7221
nice. thanks all!

[2020-02-17 13:16] sberyozkin commented on #6350
Here is a summary of the available options:
1. `KEYCLOAK-12285` is resolved soon
2. `quarkus-keycloak-authorization` ships a light-weight admin client to support the main admin operations
3. if KC admin operations used by the users watching this issue can be expressed in terms of the standard OIDC protocols like Dynamic Registration, then shipping `OIDCAdminClient` which will work for most of the

[2020-02-17 13:29] Sanne commented on #6770
Right, sorry it's taking me long to understand the best way forward.

A good workaround would be to add `hibernate.connection.handling_mode=DELAYED_ACQUISITION_AND_RELEASE_AFTER_STATEMENT` , but there is no way to set this in the `application.properties` : you will need to have a persitence.xml to override it.

I think I'll need to switch back to that default for now, and consider this more of a l

[2020-02-17 13:40] stianst commented on #6350
KEYCLOAK-12285 Keycloak is currently in a feature freeze so we are not able to work on this in Keycloak right now. For generic use-cases around administrating Keycloak through the Keycloak Admin APIs please contact the Keycloak team, not the Quarkus team. The Keycloak admin java client library is maintained and delivered by the Keycloak team, so that is the correct place to discuss this.

quarkus-

[2020-02-17 14:01] sberyozkin commented on #6350
@stianst Thanks.

+1, will be good to have anyway.

[2020-02-17 14:04] mithandir commented on #7144
I will have a look later on.

[2020-02-17 14:21] SR-Lut3t1um opened #7229 "Add option to make a nativeBuild use the --static option"
**Reason:**
I want to create a nativeImage that can run nativly on Alpine linux however because alpine uses musl instead of libc some C++ functions eg: __strdup are not available.

To solve this issue Graal added the arguement ´--static´ to enable static linking that solves [this](https://github.com/oracle/graal/issues/394) issue.

**Solution**
Also add a parameter to Gradle that passes this argue

[2020-02-17 14:35] dmlloyd commented on #6954
@schulzp could you please share your Quarkus version & the stack trace you are seeing?

[2020-02-17 14:57] cescoffier commented on #5707
Integration is covered by #7097.

[2020-02-17 14:58] cescoffier commented on #6588
Unfortunately, the build failed:

* Quarkus commit: adb97439846aac6e91c0513a9746a5f0e0e83bf2

* Quickstarts commit: e497ea241d39e7b8c70af9bd2f98e6dd24f5828e

* Link to build: https://github.com/quarkusio/quarkus-quickstarts/actions

[2020-02-17 15:01] cescoffier commented on #7183
@Rupert-RR The Router RX API does not differ much from the _bare_ API. If you look at https://vertx.io/docs/apidocs/io/vertx/reactivex/ext/web/Router.html you will see that it does not add RX type. Do I miss something?

About the second issue, please open a separate issue. The maintainer of the extension will likely chime in.

[2020-02-17 15:06] gastaldi commented on #7000
Fixed in https://github.com/quarkusio/quarkus/commit/d7490b15d497560808e00f5287f1b6a0aae8c9b2

[2020-02-17 15:06] #7000 closed

[2020-02-17 15:07] gsmet commented on #6350
@stianst well, the issue is related to Quarkus too as it's the combination of the two that doesn't work so it's normal users are complaining here first.

What is a bit of a problem is that the issue was reported as a Keycloak issue in late November and if you're saying you're in feature freeze, that means that we don't have any solution for the foreseeable future, and especially for Quarkus 1.3.

[2020-02-17 15:22] alphamikevictor opened #7232 "Use a mock server with Initialization events"
**Describe the bug**
Maybe it is not a bug, maybe it is a feature to implement.

So far I am writing a sort of Operator with Quarkus, so when Quarkus starts I am placing code to deal with Kubernetes,  while performing tests it is complaining because when trying to get CRDs it receives a 404.

This is an extract of the code:

[code]

**Expected behavior**
I was expecting to reach the mockServer set

[2020-02-17 15:31] DorianMaliszewski commented on #6571
I did a little Medium post on it :sweat_smile: So you can go check it, and If you want I can do an other for the Quarkus Guides to help you !
https://medium.com/@maliszewskid3/implement-multi-tenancy-oidc-and-hibernate-on-quarkus-4f2e0214ed2d

[2020-02-17 15:39] Rupert-RR commented on #7183
@cescoffier yes, it looks like you are right. Sorry — I was expecting more Rx methods to handle the asynchronous parts of it but it looks like that is not available. Thanks for looking.

[2020-02-17 15:39] #7183 closed

[2020-02-17 15:41] emmanuelbernard opened #7233 "Add access to the entityManager from a JPA PanacheEntity / Repository"
In a `PanacheEntity` entity or in `PanacheRepository`, I should be able to access the entitymanager (available via `JpaOperations.getEntityManager()` internally).

probably

[code]

[2020-02-17 15:43] zulq opened #7234 "1.3.0.Alpha2 Kotlin error Caused by: java.util.zip.ZipException: zip END header not found"

[2020-02-17 15:44] gsmet commented on #7234
Could you drop the artifacts and try again? Looks like an invalid artifact around.

If not, please provide a reproducer.

[2020-02-17 15:45] tk303 commented on #7217
Yes, this was a simple example, my use case is that I've got some jars that are not available on public Maven as they're specific to another internal project.

I appreciate your very prompt respond.
Hope it gets solved.
Thanks

[2020-02-17 15:52] gastaldi commented on #7217
Gotcha. Can you give it a try with the https://github.com/quarkusio/quarkus/pull/7225 PR and confirm that resolves your problem?

[2020-02-17 15:53] mkouba commented on #6870
So the problem here is that whenever we find an identifier that resolves to a map we do consider the next part of the expression a map key and try to lookup the value. Which of course does not make sense for `map.entrySet` but is very useful in many other use cases.

The optional restriction of `TreeMap` is something we didn't think about. We could catch the `ClassCastException`. It's quite ugly b

[2020-02-17 15:55] rsearls opened #7235 ""java.net.BindException: Address already in use" when test uses multiple arquillian's @Deployment annotation"
I get the follow exception when a test uses multiple arquillian's @Deployment annotation.

    java.util.concurrent.ExecutionException:
    java.net.BindException: Address already in use

Execution env.
    jdk 11.0.2
    mvn 3.6.0
    quarkus 999-SNAPSHOT

This project demonstrates the issue
  https://github.com/rsearls/quarkus-BindException.git

Test org/jboss/resteasy/test/xxe/ExternalParameter

[2020-02-17 16:00] geoand commented on #7220
I think this is a very reasonable request. I would definitely be willing to help anyone interested in implementing it :)

[2020-02-17 16:02] gsmet commented on #6870
Can't you special case `entrySet`? (I haven't looked at the code)

[2020-02-17 16:02] gsmet commented on #6870
That being said, I wonder if the feature itself is a good idea.

[2020-02-17 16:03] zulq commented on #7234
Cleaned and cleared caches as well, no luck. Reverted back to `1.2.0.Final` and that's working fine. Think will just stick with that for now.

[2020-02-17 16:06] gsmet commented on #7234
If it's in the Alpha2 and we don't solve it, there's a good chance it will end up in the Final.

So better take the time to provide a reproducer so that we can understand what's going on!

[2020-02-17 16:07] Ladicek commented on #7161
Apparently there were some classloading fixes that made it to 1.3.0.Alpha2. Worth a retest.

[2020-02-17 16:08] GregJohnStewart commented on #7220
I'd love to try my hand at implementing, or at least help :) I would just ask for pointers on where to look and start, potentially haha

[2020-02-17 16:10] zulq commented on #7234
Will wait and try tomorrow as can't still see `Aplha2` when browsing maven.

[2020-02-17 16:18] geoand commented on #7220
Great! I'll provide some pointers tomorrow morning

[2020-02-17 16:34] SR-Lut3t1um commented on #7234
I have the same issue yet I'm not using kotlin.
My setup rn:

Gradle 6.2
Quarkus: 1.3.0.Alpha2

[2020-02-17 16:42] sberyozkin commented on #6350
Hi All, if this is urgent for some of the users here, then using JAX-RS Client API, reusing the bean classes from the admin client library if needed (while also excluding resteasy) should offer a temp workaround. For example, given the code above, you'd initialize JAX-RS Client with the same URL value as is used for `quarkus-oidc` (base URL + realm). The next 4 params are likely the form params, m

[2020-02-17 16:54] SR-Lut3t1um commented on #7234
Here is a full Pipeline log in case this helps.

[code]

[2020-02-17 17:02] nonconceptual commented on #7172
I don't have the immediate bandwidth but I do have another clue! Setting the `HttpServerOptions` in `VertxHttpRecorder` didn't fix the issue. Instead, increasing the frame size passed to `WebSocketFrameDecoder` in `Hanshake` worked for me.

[2020-02-17 17:03] emmanuelbernard commented on #7193
Can you try one thing @manoelcampos

Add
https://github.com/manoelcampos/hibernate-concurrency/blob/master/2-database-concurrency-panache/src/main/java/com/manoelcampos/server/model/Cliente.java#L23

`existente.version = cliente.version;`

to make sure we get the client side version copied so we detect the conflict.

Also replace https://github.com/manoelcampos/hibernate-concurrency/blob/master/2-

[2020-02-17 17:03] gsmet commented on #7234
Could you add a breakpoint and see which jar is problematic?

[2020-02-17 17:04] gsmet commented on #7234
/cc @quarkusio/devtools

[2020-02-17 17:08] gastaldi commented on #7234
Any chance to add a small reproducer project to the issue?

[2020-02-17 17:10] SR-Lut3t1um commented on #7234
I could just set the project I#m cureently workin on here. It's in a really early stage but for debugging this issue it should not matter.

[2020-02-17 17:12] SR-Lut3t1um commented on #7234
https://gitlab.informatik.uni-bremen.de/tobias5/aut0m4t0n

Here ya go

[2020-02-17 17:42] nimo23 commented on #7233
Related to https://github.com/quarkusio/quarkus/issues/6080.

[2020-02-17 17:48] nimo23 commented on #5871
@gsmet I also tried the reproducer with jackson instead of yasson for the rest-endpoint to be sure that this is not a marshalling issue..

[2020-02-17 17:52] gastaldi commented on #7234
Thank you, I managed to reproduce the bug. I'll investigate what's going on

[2020-02-17 18:01] gastaldi commented on #7234
Apparently some code is passing this path in the constructor of `JarClassPathElement`: `home/ggastald/.m2/repository/org/jboss/shrinkwrap/shrinkwrap-depchain/1.2.6/shrinkwrap-depchain-1.2.6.pom`

Providing a fix

[2020-02-17 18:02] emmanuelbernard commented on #6080
One question @nimo23 , why a "thread-safe" entity manager? EntityManager by their nature are not thread safe, nor are entities. I wonder what you have in mind.

[2020-02-17 18:08] manoelcampos commented on #7193
Hello @emmanuelbernard
In fact, I removed the field from the update just to try different things and forgot to put it back. Including the field is the way it's supposed to work, but it doesn't.
I just updated the source code including it.

I added 2 animated gifs to the [README](https://github.com/manoelcampos/hibernate-concurrency) to show the issue.

Replacing `persist()` by `flush()` or `persis