[2020-06-15 15:32] galderz commented on #9792
@emmanuelbernard Might be better if we discuss it in quarkus-dev google group?

[2020-06-15 15:33] tsegismont commented on #10015
@FroMage I have a fix for this one. Will send a PR soon. Yet I still don't know why the Hibernate Reactive test pass on `master`...

[2020-06-15 15:38] aguibert commented on #10015
hmm, I remember when I was writing the `disposeStageSession` I temporarily added some logging messages to check if it was called and in what order and I do recall seeing it invoked at the correct time, but as you mention it may have been a race condition

[2020-06-15 15:52] FroMage commented on #10015
`disposeStageSession` will be called, but not its `close` listener, because nobody is using the resulting `CompletionStage`.

[2020-06-15 15:57] GregJohnStewart commented on #9287
I mean I like the idea, just something that gives us access to current running port (wasn't sure if the question was directed at me, @geoand )

[2020-06-15 16:03] tsegismont commented on #10015
@FroMage disposeStageSession is called as well as the callback. `CompletionStage` is eager unlike `Uni`. It doesn't matter if someone uses it or not.

[2020-06-15 16:06] FroMage commented on #10015
Ah, it's called because as soon as it is created, it will be produced, and so at some point it will be fullfilled and we can chain on it, I guess you're right.

[2020-06-15 16:11] geoand commented on #9287
It wasn't directed to anyone specifically.

A CDI bean like the one I mentioned above shouldn't be hard to create and should solve the problem

[2020-06-15 16:12] GregJohnStewart opened #10020 "Enable both html and plaintext emails to be sent with Qute"
Apologies if this is already a capability and I was unable to find it, but I was wondering if we could make it possible to send emails with both a plaintext and html formatted message, using multipart MIME types, a-la https://gist.github.com/tylermakin/d820f65eb3c9dd98d58721c7fb1939a8

I could see a potential way to make the template something like this:

[code]

I have a naive view on how the qut

[2020-06-15 16:14] Kondamon commented on #6006
I have compiled the mailer example from [here](https://quarkus.io/guides/mailer) as native image running in docker:

[code]
I receive the same error with quarkus 1.5.1

[code]

[2020-06-15 16:15] GregJohnStewart commented on #9138
I almost feel like this warrants a quarkus jacoco plugin? This is a ton of setup, potentially copy/paste for the most part

[2020-06-15 16:17] EfraimLA opened #10021 "Read/use system resources in native mode throwing NPE"
**Describe the bug**
I'm trying to read a private key to sign JWT tokens but i get NPE when using system resources in native mode

**Expected behavior**
Read key and sign jwt but also i saw some related issues, assumes it's resolved when updating to `Quarkus 1.5.0.Final` but i actually use `1.5.1.Final` and still get this in native mode

**Actual behavior**
Got NPE in Native Mode

**To Reproduce**

[2020-06-15 16:20] emmanuelbernard commented on #7440
@ppalaga it's in there https://github.com/quarkusio/quarkus/wiki/Adding-extensions-to-the-Quarkus-ecosystem we prefer not to add more extension int he monorepo but that does not change how it's exposed.

[2020-06-15 16:25] sberyozkin commented on #10021
@EfraimLA Can you please provide more details ?
Where is the private key located ? How to access it ? thanks

[2020-06-15 16:27] EfraimLA commented on #10021
This is how my resources are organized

![image](https://user-images.githubusercontent.com/46459026/84682380-2d677280-aefb-11ea-9f00-657efa28ed05.png)

[2020-06-15 16:41] sberyozkin commented on #10021
@EfraimLA How do you access it from the code or refer to it from the configuration ?

[2020-06-15 16:44] EfraimLA commented on #10021
This is my reader function

[code]
And this me calling with path
`PrivateKey pk = readPrivateKey("/privateKey.pem");`

[2020-06-15 16:50] Sanne opened #10022 "Configuration properties of type duration should include the unit when rendering the default value"
**Description**
Configuration properties such as `acquisition-timeout` on `io.quarkus.agroal.runtime.DataSourceJdbcRuntimeConfig` are declared with a default value of "5".

    @ConfigItem(defaultValue = "5")
    public Optional<Duration> acquisitionTimeout = Optional.of(Duration.ofSeconds(5));

This gets rendered on documentation as type "Duration" and default value "5" but the docs don't clarify

[2020-06-15 16:51] talend-jphautin opened #10023 "inconsistencies between docker native image and docker jvm image"

[2020-06-15 16:52] #10023 closed

[2020-06-15 16:53] patoessy commented on #5341
Thanks. I will update once everything is ready. Nice work so far.

On Mon, Jun 15, 2020, 12:48 sberyozkin <notifications@github.com> wrote:

[2020-06-15 16:54] jphautin opened #10024 "inconsistencies between docker native image and docker jvm image"
**Describe the bug**
I would like to use both jvm and native image with the same code and configuration.
I have found 2 inconsistencies in the images provided by default:
- TimeZone
- file location

**Actual behavior**

I would like to use both jvm and native image with the same code and configuration.
I have found 2 inconsistencies in the images provided by default:
- in native image, the timezon

[2020-06-15 16:55] sberyozkin commented on #10021
@EfraimLA Oh, so what is `TokenUtils`, is it the one coming from MP JWT TCK ? Where is the `smallrye-jwt` code here ?

What has been fixed is the code like this:
[code]
or
[code]

[2020-06-15 17:04] wiradikusuma opened #10025 "Can't compile with Scala 2.13"
**Describe the bug**
Quarkus doesn't work when Scala version is changed from 2.12 to 2.13.

**Expected behavior**
Successfully compiled.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://code.quarkus.io
2. Select Scala (I also selected Gradle, resteasy-jackson, jackson, jdbc-postgresql and mailer)
3. Download and extract the skeleton project
4. In the project's working directory,

[2020-06-15 17:07] EfraimLA commented on #10021
I used it from a repo but don't remember which, have u some sample to use?

[2020-06-15 17:46] sberyozkin commented on #10021
@EfraimLA It looks like this issue is not a bug and can be closed.
Please check:
https://quarkus.io/guides/security-jwt#generate-jwt-tokens

and

https://github.com/quarkusio/quarkus-quickstarts/blob/master/security-jwt-quickstart/src/test/java/org/acme/security/jwt/TokenUtils.java#L48
(most of this old quickstart code will be replaced but you can see there how to use the new builder API)

[2020-06-15 17:57] EfraimLA commented on #10021
K, so isn't a bug with system resources?

[2020-06-15 18:33] vsevel commented on #9991
@geoand sure. is there any issue I could relate to, so that I can catch the notification and know when something is ready?

@dmlloyd in vault's case (and I suspect for consul also), the goal is not use a config source to configure another, but instead to use an extension (e.g. vault) from a config source (e.g. vault config source). and that extension should be able to be implemented using regular

[2020-06-15 18:35] geoand commented on #9991
@radcortez would know more

[2020-06-15 18:44] radcortez commented on #9991
@vsevel @geoand this is still dependent on https://github.com/quarkusio/quarkus/pull/9184

@vsevel not quite sure if I understood correctly what you want to do. Can you provide me more details?

[2020-06-15 18:46] buehren commented on #9769
It still fails with Quarkus 1.5.1-Final.

To reproduce: https://github.com/buehren/quarkus-1.5.0-mqtt-wildcard-problem

[2020-06-15 18:56] #9536 closed

[2020-06-15 18:56] #9797 closed

[2020-06-15 19:43] benkard commented on #9961
In case it helps, I also have this problem (PostgreSQL 11.8, Quarkus 1.5.1; everything works fine in Quarkus 1.4.2), in this method here: https://gerrit.benkard.de/plugins/gitiles/mulkcms2/+/60c0892466c8e48faba3e7bbe2b462c47aa032fa/src/main/java/eu/mulk/mulkcms2/benki/bookmarks/BookmarkResource.java#82

It only affects updates of existing entities, not the creation of new ones.

The strange thing

[2020-06-15 20:38] aloubyansky commented on #10003
Verified, it's a Windows-specific issue.

[2020-06-15 21:04] pepperbob commented on #9677
@geoand can you tell if deep cloning can be avoided once JUnit5 resolves the issue https://github.com/junit-team/junit5/issues/201 ?

I see that #9886 has been resolved to fix the Supplier use case in a very specific way; however I can't see pointers to a general solution to solve the problem in this issue for example.

[2020-06-15 21:40] sberyozkin commented on #10021
@EfraimLA But where is the bug ? I don't see a smallrye-jwt code in your code fragment. What is that `TokenUtils` that you use ? Please create a reproducer showing the code which I linked to in action and failing to load the key, thanks

[2020-06-15 21:40] obbyK opened #10029 "Getting LAST_INSERTED_ID in mysql_reactive_client"
Is it possible to get the last inserted id with mysql reactive client using transactions? @geoand

Example:
database table is person(id,firstname,lastname) where id is auto incremented.

    return this.client.begin()
       .flatMap(tx -> tx
               .preparedQuery("INSERT INTO person (firstname,lastname) VALUES ($1,$2)")
               .execute(Tuple.of(person.getFirstName(),person.getLast

[2020-06-15 22:13] gsmet commented on #9999
It's 1.2.1.Final AFAICS: https://github.com/ongres/stackgres/blob/development/stackgres-k8s/src/pom.xml#L59 .

Let's close this one then.

[2020-06-15 22:13] #9999 closed

[2020-06-15 22:45] EfraimLA commented on #10021
i just update my TokenUtils and removed all methods and keep only this functions:

[code]

And added `smallrye.jwt.sign.key-location=privateKey.pem` to application.properties

it works on JVM but doesn't in native runner

[2020-06-16 00:58] #9753 closed

[2020-06-16 01:46] daniel-augusto commented on #10022
Hi @Sanne, in doc there is a tooltip for a description of Duration pattern with link to https://quarkus.io/guides/datasource#duration-note-anchor

In this section, describe a duration have a default in seconds:

`You can also provide duration values starting with a number. In this case, if the value consists only of a number, the converter treats the value as seconds. `

When time aren't in a seco

[2020-06-16 02:10] jaikiran opened #10031 "JarRunnerIT fast jar test methods consistently failing on CI runs"
I haven't been able to reproduce locally but `JarRunnerIT` test methods `testThatFastJarFormatWorks` and `testThatMutableFastJarWorks` have been failing regularly (across various Java versions) with condition timeout exception in CI runs. To help debug what's going, we recently merged this PR https://github.com/quarkusio/quarkus/pull/9960 which has now turned out to be useful, because a subsequent

[2020-06-16 02:14] jaikiran commented on #10031
And this one from a Java 11 run https://github.com/quarkusio/quarkus/pull/10026/checks?check_run_id=773794509:

[code]

[code]

[2020-06-16 02:18] gastaldi commented on #10025
I tried to reproduce this issue following the steps you described but it works for me. Can you push a sample project in a Github repository?

The only difference is that I am running Fedora 32 with openjdk 11

[2020-06-16 02:31] #9994 closed

[2020-06-16 03:26] #10003 closed

[2020-06-16 03:37] arilsonsantos opened #10033 "@RestControllerAdvice and @ExceptionHandler"
Hy guys,
I'm migrating a Spring Boot service to Quarkus, everything has been going almost 100% ok.

**Describe the bug**
I'm not sure if it is even a bug or I need to set up something else, but I have not been seing any problem like that, so... here am I.

In the test class, the ApiExceptionHandler (RestControllerAdvice), workes well, and all messages of success and fail are showed correctly, but

[2020-06-16 03:40] gastaldi commented on #1394
Is this still an issue or can be closed?

[2020-06-16 04:25] geoand commented on #9677
Yes, if JUnit fixes that issue (we have been monitoring it), then all nastiness of doing the deep cloone should go away

[2020-06-16 04:28] geoand commented on #10031
Thanks a lot @jaikiran !

[2020-06-16 04:54] #10031 closed

[2020-06-16 05:05] stuartwdouglas commented on #6238
It is now possible to enable CdI beans via config, and https://github.com/quarkusio/quarkus/pull/9933 allows them to be enabled per test easily.

[2020-06-16 05:05] #6238 closed

[2020-06-16 05:06] stuartwdouglas commented on #5291
This should not be a problem now we have command mode support.

[2020-06-16 05:06] #5291 closed

[2020-06-16 05:08] ahamed-k commented on #9965
Yes. JWKS has both x5c and x5t. And would appreciate if you add support for x5t. Please add this feature to support x5t too alternate to kid in case of JWKS

[2020-06-16 05:16] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/136790144

[2020-06-16 05:17] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/136790106

[2020-06-16 05:28] benkard commented on #9961
Some more observations:

- The bug occurs when running the JAR file created by `mvn package`, but not in development mode.
- `.isDirty()` on the Hibernate session is an indicator of the bug: When it occurs (and if there are no other changes in the session), `.isDirty()` returns false.
- If I use a setter instead of direct field access, `.isDirty()` returns true and the bug does not occur.  It stil

[2020-06-16 05:47] benkard commented on #9961
Generated code for direct field access:

Quarkus 1.4.2:

[code]

Quarkus 1.5.1:

[code]

[2020-06-16 05:49] wiradikusuma commented on #10025
I managed to narrow it down, please change a line in `ExampleResource.scala` -- I've updated my submission.

[2020-06-16 06:25] galderz commented on #9792
Started a [discussion on quarkus-dev](https://groups.google.com/forum/#!topic/quarkus-dev/VOSQ6zhy_vI) about the configuration to expose. I will work with @jerboaa to see where we end up splitting symbols.

[2020-06-16 06:53] emmanuelbernard commented on #9792
yes I think the enum is fine. I had the same thoughts when talking with Andrew during Insights.

[2020-06-16 06:53] emmanuelbernard commented on #9792
What would be the values though?

[2020-06-16 06:56] mkouba commented on #10020
Hi @GregJohnStewart, this should work out of the box. The injected `MailTemplate` will use both the `.txt` and `.html` variants if they're found. If you look at our example [here](https://quarkus.io/guides/mailer#message-body-based-on-qute-templates) then both the `hello.txt` and the `hello.html` templates are used to build the mail message. The `@ResourcePath` qualifier could be used to locate a

[2020-06-16 06:58] emmanuelbernard commented on #9792
Also we need to make room for the ability to generate "more" debug symbols.

Is this external file supposed to be configurable in name and location?
I have two proposals depending on this

Proposition 1: not configurable or with sensible default file name value

[code]

Proposition 2: must define a file name anyways

[code]

[2020-06-16 07:00] emmanuelbernard commented on #9792
I think 1 has my preference as it can be as simple as

`quarkus.native.debug-symbols.enable=INTERNAL`

[2020-06-16 07:04] geoand commented on #9792
I would go with `1`

[2020-06-16 07:17] emmanuelbernard commented on #7440
@dominik42 I don't think there is an initial version besides the repo you point to, so you could work from it.
Assuming the repo has a working version, I can see the following steps to world domination:

- update from Quarkus 0.15 to Quarkus 1.5.1 (and keep up)
    - this will likely break the existing code. 0.15 was around when dinosaurs were young
    - alternative is to restart from scratch, ch

[2020-06-16 07:20] geoand commented on #7440
For ecosystem-ci which is what we propose for running tests against Quarkus master, there is https://github.com/quarkusio/quarkus-ecosystem-ci and https://www.youtube.com/watch?v=VpbRA1n0hHQ

[2020-06-16 07:40] rsvoboda commented on #9792
Regarding `quarkus.native.debug-symbols.enable=NONE|INTERNAL|EXTERNAL`

 - `.enable` evokes true/false being the value
 - I always struggle between`.enable` and `.enabled` suffix, which one is the one
   - looking at https://quarkus.io/guides/all-config there are both ways being used and that's not ideal

I would go with with `quarkus.native.debug-symbols=NONE|INTERNAL|EXTERNAL` (drop .enable) or

[2020-06-16 07:40] emmanuelbernard commented on #7440
@geoand fancy adding a testing your extension into the cosystem section in https://quarkus.io/guides/writing-extensions? If only to point to these?

[2020-06-16 07:42] geoand commented on #10033
@arilsonsantos Thanks for reporting!

There is definitely something weird going on... Would it be possible for you to supply a project that reproduces this behavior? That is by far the easiest way for us to fix the problem and also add a test to ensure it doesn't happen again.

Thanks

[2020-06-16 07:43] geoand commented on #7440
Good idea! Let me do that

[2020-06-16 07:48] #8936 closed

[2020-06-16 07:48] emmanuelbernard commented on #7440
Just to clarify my statement. There is a technical aspect to Open Core when it comes to Quarkus.
If your open core model adds new features or new code path (which it will invariably do), this means two things:

1. the extension exposing properties, pre-starting the framework at build time etc, will need to know about the extra properties to deal with them
2. in native image compilation, extra code

[2020-06-16 07:52] jerboaa commented on #9792
@emmanuelbernard I'd like to avoid adding too many config values for this. OK for making the *suffix* configurable (defaulting to `.debug`, say). The name of the external debug symbols would always be `<binary>.debug`. Example `foo`, the binary, and `foo.debug` containing the debug symbols of binary `foo`.

[2020-06-16 07:52] ahamed-k opened #10035 "Support for Logback using XML configuration"
Appreciate if you could add support for Logback and configuration in XML format in Quarkus

[2020-06-16 07:59] agagliardi commented on #9640
@cescoffier
RHEL 7.7
Reproduced with base image:
- registry.access.redhat.com/ubi8/ubi-minimal:8.1
- amd64/alpine:latest (needs `apk add libc6-compat`)

[2020-06-16 08:02] lukaseder commented on #7440
Thanks for the clarifications, @emmanuelbernard.

In jOOQ's case, we take a lot of care to make the various editions / distributions as binary compatible as possible. The main difference for users is the Maven groupId. As the Spring Boot integration has shown so far, the jOOQ distributions can be switched with only little effort.

We'll definitely be very happy to help support any third party exte

[2020-06-16 08:04] geoand commented on #10006
cc @iocanel

[2020-06-16 08:09] cescoffier commented on #9954
Registering the classes won't be enough, we would need to add them to the index somehow.

[2020-06-16 08:10] loicmathieu commented on #9961
@benkard this helps a lot ! I'm pretty sure that with these information @FroMage will be able to understand what's going on !

[2020-06-16 08:15] galderz commented on #9792
@emmanuelbernard I opened a [quarkus-dev](https://groups.google.com/forum/#!topic/quarkus-dev/VOSQ6zhy_vI) discussion, but anyway...

I agree with @rsvoboda, something that enable in it seems like it should be true|false. Also, note that `quarkus.native.debug-symbols` already exists today, as a boolean, that adds `-g` (enterprise edition flag).

I'd just for an enum (that allows us to introduce ne

[2020-06-16 08:31] jamesnetherton opened #10039 "Provide a way for extensions to customize the gRPC server setup"
I'd like to reuse the Quarkus gRPC extension over in the camel-quarkus project for gRPC component support (see https://github.com/apache/camel-quarkus/issues/762).

The main issue that I need to overcome is the difference in programming models. The Quarkus extension is built around exposing CDI beans, where as the Camel component is not.

What would be helpful, is if the gRPC extension could expos

[2020-06-16 08:36] mkouba commented on #6238
For the record - there's also `@IfBuildProfile` and `@UnlessBuildProfile`: https://quarkus.io/guides/cdi-reference#enabling-beans-for-quarkus-build-profile

[2020-06-16 08:45] cescoffier commented on #9640
I don't understand why it tries to use `/home/linuxbrew/.linuxbrew/lib/ld.so`. From your instruction, the native executable is built in a container, so it should not be linked with libraries from your host.

Can you try with:

[code]

It seems that you got the wrong system property.

[2020-06-16 08:46] loicmathieu commented on #9961
@benkard can you test on 1.5.0 alors ? We try to chase down which changes causes this

[2020-06-16 08:49] henrikengelbrink opened #10041 "Flyway migrations of defined locations are not applied anymore"
**Describe the bug**
I want to use different database migrations with flyway for testing.
I defined two different locations for the flyway migrations in the `application.properties`:
[code]
**Expected behavior**
I expect that all migrations in the folders `migration` and `testing` are applied

**Actual behavior**
Only the migrations in the `migration` folder are applied, anything in `testing` is i

[2020-06-16 09:15] hosseinmp76 commented on #9974
same problem with eclipse and Gradle

[2020-06-16 09:46] agagliardi commented on #9640
Your right. Building within the container works as expected. Should be something wrong with my environment. Thanks for your help!

[2020-06-16 09:46] #9640 closed

[2020-06-16 09:48] emmanuelbernard opened #10043 "Add Hibernate ORM with Panache for Kotlin guide to the website"
There is a guide for it https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/hibernate-orm-panache-kotlin.adoc
But it's not showing on the website (neither list nor direct URL). I guess some metadata somewhere is missing.
@gsmet if you tell me or @evanchooly what to do, we will send the right PR.

[2020-06-16 10:06] maxandersen commented on #9792
debug-symbols is a weird implementation detail for me.

should it not just to include debug info or not ?  i.e. `-g` on javac and gcc compiler?.

[2020-06-16 10:12] maxandersen commented on #9792
for me what would make sense is that the debug file location default to <binaryname>.symbols and then have a `quarkus.native.debug=<list of options where none means don't do it>`.

have it default on and then you just need to do `-Dquarkus.native.debug=none` to turn it off.

If you want to tweak settings do `-Dquarkus.native.debug=lines,goto11` or if it truly just is a integer level tehn:

`-Dquar

[2020-06-16 10:15] tsegismont commented on #10015
When the producer is invoked the stage session is created and the CS will at some point be fulfilled, exactly.

As for the Mutiny session it is different. We can't use `onTermination` because it creates another cold `Uni` and nothing happens until someone subscribes to it.

[2020-06-16 11:03] gunnarmorling commented on #4961
Hey @alesj, where are we with this one, it seems it stalled a bit. What's missing from your PoV to wrap it up?

[2020-06-16 11:18] geoand commented on #10041
Hm... I was not able to reproduce this... Our integration test (https://github.com/quarkusio/quarkus/blob/ecddfb0a2eeb5283fd1ebbf1830737f78cf15d0b/integration-tests/flyway/src/main/resources/application.properties#L14) is properly picking up all locations.

Do you perhaps have a project you can share which displayes the behavior you mention?

[2020-06-16 11:28] arilsonsantos commented on #10033
@geoand
Sure, it is a small poc.

[2020-06-16 11:40] sberyozkin commented on #10021
@EfraimLA I'll investigate, can you check what happens with `smallrye.jwt.sign.key-location=/privateKey.pem` ? thanks

[2020-06-16 11:47] geoand commented on #10033
Thanks

[2020-06-16 12:03] #9941 closed

[2020-06-16 12:06] geoand commented on #10033
Two things going on, one is a bug on our side and one is a misuse on your side:

* There definitely should not be a NPE on our side - I'll fix that
* You should be supplying an `Αccept` header. It could be something like `Accept: */*` or `Accept: application/json`. The fix I'll do will ensure that a NPE is not thrown, but in that case the reponse won't be json.

[2020-06-16 12:17] #9561 closed

[2020-06-16 12:27] galderz commented on #9792
All, further discussions in https://groups.google.com/forum/#!topic/quarkus-dev/VOSQ6zhy_vI

[2020-06-16 12:27] arilsonsantos commented on #10033
Great!
Thanks a lot.

[2020-06-16 12:34] FroMage commented on #8795
Upstream says this is fixed in 4.5.4.Final but it's not. Something went wrong with the release: https://issues.redhat.com/browse/RESTEASY-2573?focusedCommentId=14159817&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-14159817

[2020-06-16 12:37] gsmet commented on #10043
I think it's 1.6 material as a lot of the work has been done for 1.6.

[2020-06-16 12:38] Sanne commented on #7440
hi @lukaseder , great to see you here!

For sake of clarity, regarding this statement:

That's a great premise but it's not enough when it comes to native-image compilation.

It's a little more of a burden than "just" maintining both source and binary compatibility, as any _internal_ change you might have has possible impact on it no longer compiling to native (or - more subtly - have some impact

[2020-06-16 12:41] asoldano commented on #8795
Yes, the team is aware of this, a new release (4.5.5.Final) is being tagged today.

[2020-06-16 12:48] FroMage commented on #8795
Oh, OK, great news, thanks :)

[2020-06-16 12:52] sberyozkin commented on #10021
@EfraimLA

I have updated [this quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-jwt-quickstart) locally with:

[code]

and `mvn clean install -Dnative` works.
Please create a reproducer project

[2020-06-16 13:19] #9721 closed

[2020-06-16 13:23] rohit-s8 opened #10046 "Support for Specifying the default namespace in application.properties"
**Description**
The [kubernetes extension for quarkus](https://quarkus.io/guides/deploying-to-kubernetes) always generates the resource definitions for the default namespace and there is no way to configure this during build time.
It would be great if we could have a system property like `quarkus.kubernetes.namespace` and set the namespace of the app without having to edit the generated sources ea

[2020-06-16 13:31] geoand commented on #10029
This isn't my wheelhouse, @tsegismont can you help out?

[2020-06-16 13:42] gsmet commented on #9974
Could one of you try if https://github.com/quarkusio/quarkus/issues/9974 improves the situation or not?

Thanks!

[2020-06-16 13:48] fluoxa commented on #9973
Hello Geoand,

i checked it again. If i compile it, then it works like you said (also with my configuration with profiles and baseUrl via environment vars)

**Running with maven dev mode (mvn quarkus:dev) is only working when i use application.properties. For my test i uses your config and removed all unnecessary dependencies.**

I'll reopen it and i hope you can check it again to reproduce my pro

[2020-06-16 13:48] #6404 closed

[2020-06-16 13:48] cescoffier commented on #5449
Left-over. Was fixed a long time ago.

[2020-06-16 13:48] #5449 closed

[2020-06-16 13:49] evanchooly commented on #10043
I figured that might be the case.  When is 1.6 due to ship?  I'd love to get the mongo panache stuff done in time for that, too.

[2020-06-16 13:49] geoand commented on #9973
Interesting information, thanks

[2020-06-16 13:49] nelsongraca commented on #9275
@famod not sure, @Sanne may be the best person to answer that

[2020-06-16 13:50] nelsongraca commented on #2933
@famod Time has been short, started yesterday, still working on writing some tests.

[2020-06-16 13:52] fluoxa commented on #9973
unfortunately i cannot reopen it respectively dont see the button for it

[2020-06-16 13:58] emmanuelbernard commented on #10043
@evanchooly cut dates are here https://github.com/quarkusio/quarkus/wiki/Release-Planning#16
Enough before CR1 would be best.

[2020-06-16 14:02] evanchooly commented on #10043
perfect.  thanks.

[2020-06-16 14:03] emmanuelbernard commented on #7440
Ah but they don't do GraalVM native image :) That's the case I was talking about as Sanne mentioned in his answer.

[2020-06-16 14:21] hyperman1 opened #10049 "LDAP security - Documentation - Missing example code and LDAP data"
The Quarkus Security LDAP documentation at  https://quarkus.io/guides/security-ldap requires a few updates:

The docuemnt referenced her does not exist:
  The solution is located in the security-ldap-quickstart directory. ->
   https://github.com/quarkusio/quarkus-quickstarts/tree/master/security-ldap-quickstart

The documentation makes certain assumptions about what OUs, users and groups exist in

[2020-06-16 14:24] hyperman1 opened #10050 "Quarkus LDAP Security - on loglevel DEBUG, the username & password are dumped"
**Describe the bug**
The debug log dumps passwords. Maybe it is a good idea to censor them, or else at least give only a hash of that password?  An example:

2020-06-16 10:47:09,259 DEBUG [io.qua.ver.htt.run.sec.BasicAuthenticationMechanism] (vert.x-eventloop-thread-14) Found basic auth header USERNAME:PASSWORD (decoded using charset UTF-8)

**Expected behavior**
The password should not be logged

[2020-06-16 14:27] alesj commented on #4961
@gunnarmorling nothing from my side.
@gsmet wdyt? Or what's holding this up?

[2020-06-16 14:29] jokergit commented on #9981
Hi Jaikirian,
  any news? Btw Quarkus ver 1.1.1 no issue for NoProxyHost Parameter. Actually, i have downgraded the Quarkus release to 1.1.1, to have the Production Test for PosteItaliane.it.

Thanks a lot

[2020-06-16 14:36] gsmet commented on #9954
I created https://github.com/quarkusio/quarkus/pull/10052 to fix it.

[2020-06-16 14:41] famod commented on #2933
@nelsongraca that's more than I expected! Thanks!

[2020-06-16 14:43] sberyozkin commented on #10050
CC @hartimcwildfly

[2020-06-16 14:43] sberyozkin commented on #10049
CC @hartimcwildfly

[2020-06-16 14:44] evanchooly commented on #2811
related #9856

[2020-06-16 14:44] evanchooly commented on #8404
related #9856

[2020-06-16 14:46] gastaldi commented on #10025
@wiradikusuma can you build Quarkus master from https://github.com/quarkusio/quarkus/pull/10053 and let me know if that works for you? It worked for me locally, but a second pair of eyes would help :wink:

[2020-06-16 14:47] tsegismont commented on #10029
I'll reply on [SO](https://stackoverflow.com/questions/62406005/how-can-i-insert-and-get-last-inserted-id-in-mysql-with-transactions-using-quark)

[2020-06-16 14:48] geoand commented on #10029
Great, I'll close this then

[2020-06-16 14:48] #10029 closed

[2020-06-16 14:50] rquinio commented on #8461
It depends on smallrye https://github.com/smallrye/smallrye-opentracing/issues/85

[2020-06-16 14:51] gsmet commented on #10050
Right, passwords should never be logged. Please replace that with `*****`.

[2020-06-16 14:52] gsmet commented on #10046
/cc @iocanel @geoand

[2020-06-16 14:54] lukaseder commented on #7440
Well, the OSS part is already a (big) start.

Yes, we have that on our roadmap

[2020-06-16 14:55] geoand commented on #10046
To be clear, the generated manifests do not reference the `default` namespace, they omit it completely which means that when you apply them, they are applied to whatever namespace is used in your current `kubectl` context

[2020-06-16 14:55] gsmet commented on #10041
How do you apply the test profile when starting the application?

`quarkus.flyway.locations` is a build time property so it cannot be changed at runtime.

[2020-06-16 14:56] sberyozkin opened #10054 "SecurityIdentityAugmentor JsonWebToken injection does not work"
**Describe the bug**
 @wjglerum has reported that having
[code]
in a custom `SecurityIdentityAugmentor` does not work.

**Expected behavior**
both `jwt` and `idToken` are injected correctly

**Actual behavior**
 `ContextNotActiveException` is reported

CC @mkouba @stuartwdouglas

[2020-06-16 14:58] sberyozkin commented on #10054
I wonder if `Arc.container.instance(JsonWebToken.class)` and `Arc.container.instance(JsonWebToken.class, IdToken.class)` should do ?

Though the direct injection should probably work. May be
[code]

?

[2020-06-16 15:07] drissamri commented on #9979
That does the trick!

[2020-06-16 15:09] haraldatbmw opened #10055 "OpenShift deployment with kubernetes & container-image-docker extension does not work"
**Describe the bug**

The combination of both extensions **quarkus-kubernetes** and **quarkus-container-image-docker** for **deployment-target=openshift** does not work out of the box.

The generated openshift.yml file contains some not needed resources and wrong settings for S2I build (S2I is not in place in my configuration).

To get the deployment done I have to go the OpenShift WebConsole and

[2020-06-16 15:17] Ladicek opened #10056 "OpenJ9 images not recognized as using run-java.sh"
**Description**
Quarkus has a hard-coded list of base S2I images known to use the `run-java.sh` mechanism: https://github.com/quarkusio/quarkus/blob/1.5.1.Final/extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iBaseJavaImage.java#L11-L19

This list doesn't include the Red Hat OpenJ9 images, which makes for a sub-par experience.

**

[2020-06-16 15:17] Ladicek commented on #10056
CC @iocanel @geoand

[2020-06-16 15:18] geoand commented on #10056
@iocanel do you want to take this one?

[2020-06-16 15:20] Ladicek commented on #10056
It's rather easy, but I currently don't have time to spare, so I'd prefer if you guys could take over it :-)

[2020-06-16 15:22] FroMage commented on #9961
@benkard where are you getting this class from, when you disassemble it? From the `target/foo-runner.jar`?

[2020-06-16 15:22] geoand commented on #10056
@iocanel if you can do it that would be great. Otherwise I'll squize it in tomorrow

[2020-06-16 15:23] wjglerum commented on #10054
That gives the same `ContextNotActiveException` as soon as I call `get()` on one of those instances.

[2020-06-16 15:26] FroMage commented on #9961
From a quick test, the `target/foo.jar` will not have the bytecode enhancements, while the `target/foo-runner.jar` will have them, but that's always been the case as far as I can tell.

[2020-06-16 15:28] FroMage commented on #9961
Yes, it was already the case for 1.4.2. Something else must be happening.

[2020-06-16 15:36] iocanel commented on #10056
I am not sure if I'll have the time tommorow

On Tue, Jun 16, 2020, 6:22 PM Georgios Andrianakis <notifications@github.com>
wrote:

[2020-06-16 15:37] wjglerum commented on #2003
@gsmet I provided a pr with the docs and a quickstart example, see https://github.com/quarkusio/quarkus/pull/9164 and https://github.com/quarkusio/quarkus-quickstarts/pull/559/files

Any thoughts or feedback?

[2020-06-16 15:37] FroMage commented on #9961
Mmm, I can't build your project entirely due to `Unauthorized for docker.benkard.de/mulk/mulkcms2` but I can see indeed that your `-runner.jar` does not contain the accessor calls.

This doesn't happen for a trivial project, so I have to see what is the difference.

[2020-06-16 15:38] geoand commented on #10056
OK, I'll take a super quick look tomorrow morning then

[2020-06-16 15:40] sedaition commented on #5254
Beginning in 1.5.0 I have this issue for all my kafka related apps. Any version prior to that works fine. Are we sure this issue is resolved and that there were no backwards breaking config changes? Stack trace:
`Caused by: io.quarkus.builder.BuildException:
Build failure: Build failed due to errors
        [error]: Build step io.quarkus.kafka.client.deployment.KafkaProcessor#withSasl threw an exc

[2020-06-16 15:44] benkard commented on #9961
Yeah, you can't build it to completion because of

[code]

in `application.properties`, but since that's only relevant after the JAR has finished building, you can ignore the errors (or disable those settings in `application.properties`).

I'm just lazy is all.

[2020-06-16 15:44] wjglerum commented on #9947
Alright thanks for the background info and suggestion, just posted it to the mailing list too.

[2020-06-16 15:53] FroMage commented on #9961
It's fine, I've removed the `jib` extension and it builds.

@stuartwdouglas what I'm seeing is that for some reason `tccl.getElementsWithResource(META_INF_PANACHE_ARCHIVE_MARKER)` returns only `[quarkus-hibernate-orm-panache-common-999-SNAPSHOT.jar: file:/home/stephane/.m2/repository/io/quarkus/quarkus-hibernate-orm-panache-common/999-SNAPSHOT/quarkus-hibernate-orm-panache-common-999-SNAPSHOT.jar,

[2020-06-16 16:00] FroMage commented on #9961
For the other project I have these archives: `[quarkus-hibernate-orm-panache-common-999-SNAPSHOT.jar: file:/home/stephane/.m2/repository/io/quarkus/quarkus-hibernate-orm-panache-common/999-SNAPSHOT/quarkus-hibernate-orm-panache-common-999-SNAPSHOT.jar, quarkus-panache-common-deployment-999-SNAPSHOT.jar: file:/home/stephane/.m2/repository/io/quarkus/quarkus-panache-common-deployment/999-SNAPSHOT/qu

[2020-06-16 16:00] sberyozkin commented on #10054
`quarkus-oidc` `JsonWebToken` producer is Request scoped but since a custom `SecurityIdentityAugmentor` is `ApplicationScoped` it should still work.
It works with `ApplicationScoped` JAX-RS endpoints...

`Securityidentiy` itself carries these tokens in a raw form as `AccessTokenCredential` and `IdTokenCredential`. We can add `getToken(Class<?> cls)` methods if the injection is not possible for som

[2020-06-16 16:01] FroMage commented on #9961
Well, it's not in the list because the marker isn't there. Now let's see why it's not there.

[2020-06-16 16:08] FroMage commented on #9961
OK, found it. It's due to this in your `pom.xml`:

[code]

Which has the side-effect of disabling the Hibernate ORM with Panache APT processor which adds the marker file.

Workaround: specify the Panache APT processor manually in the list:

[code]

@stuartwdouglas any idea how we can improve this?

[2020-06-16 16:25] ejba commented on #10056
@iocanel @geoand Perhaps I can help, if you don't mind. It's just add those images to the enum, right?

[2020-06-16 16:32] geoand commented on #10056
That's how I understand it, so feel free to take it and ping me and @Ladicek on the PR :)

[2020-06-16 16:40] yatindra opened #10057 "No options to scale gRPC server"
**Describe the bug**
`io.vertx.grpc.VertxServer` do not auto-scale across Vert.x event-loop. In Vert.x the scaling is determined by the number of deployed instances of a Verticles. I am not entirely familiar with how Quarkus initializes the `GrpcServerRecorder`, but it seems like only one instance of `VertxServer` is ever started.

**Expected behavior**
Singletons implementing a gRPC Service shoul

[2020-06-16 17:11] wjglerum commented on #10054
Yeah that's what surprises me, in JAX-RS resources/endpoints I can simply use injection when they are `@ApplicationScoped`. Having a `getToken` method on the identity could be useful indeed, I tried to get it from there too but it was not there.

I do see we can get the raw token from the identity using the `getCredential(IdTokenCredential.class)` method indeed, but we would have to parse it again

[2020-06-16 17:53] yatindra opened #10059 "Cannot inject reactive Pool/PgPool into gRPC Singleton"
**Describe the bug**
A null reference is passed while injecting a reactive `Pool` or `PgPool` into any bean annotated with `@Singleton` if extension `quarkus-grpc` is added. Injection of my own Singleton works fine.

This mostly affects injection into a gRPC service implementation as these services only work if annotated with `@Singleton`. Injection into `@ApplicationScoped` keeps working as expec

[2020-06-16 18:52] #10033 closed

[2020-06-16 19:53] richiethom opened #10063 "quarkus-amazon-lambda isn't generating a valid native SAM file"
**Describe the bug**
When I generate a native Lambda binary on WSL2, I must use the Docker build feature via `-Dnative-image.docker-build=true`. When I do this, a variable isn't replaced correctly in the generated `sam.native.yaml` file.  This means that the binary doesn't deploy properly on AWS.

The problem may exist without using the Docker build feature, but I can't check that as I can only ge

[2020-06-16 19:57] EfraimLA commented on #10021
If i set `smallrye.jwt.sign.key-location=/privateKey.pem` get `Caused by: java.lang.RuntimeException: java.lang.IllegalArgumentException: Signing key can not be loaded from: /privateKey.pem`

[2020-06-16 20:11] EfraimLA commented on #10021
Also tried this, even without getting builder with jws() method and with just `smallrye.jwt.sign.key-location=privateKey.pem` but got the same
`Caused by: java.lang.IllegalArgumentException: Signing key can not be loaded from: privateKey.pem`

[2020-06-16 20:13] pedroigor commented on #7414
@DorianMaliszewski Nice!

If we could just use a bounded hash map as well as make sure the client sending the ticket is indeed the one to which the token was first issued, it would be really nice.

[2020-06-16 20:32] EfraimLA commented on #10021
Well now i'm trying with the same methods and config in JVM mode, can sign token with no problems but i get this warning, is this something relevant?
[code]

[2020-06-16 20:52] pedroigor commented on #8719
@sberyozkin Sorry. Yes, you can enable MP JWT client scope so that tokens are issued using the MP JWT semantics. @wjsgzcn See https://www.keycloak.org/docs/latest/server_admin/#protocol.

[2020-06-16 20:55] rquinio opened #10064 "Improve support for Kafka Streams interactive queries"
**Description**

The idea would be to industrialize the support of Kafka Streams interactive queries when ["querying remote state stores for the entire app"](https://docs.confluent.io/current/streams/developer-guide/interactive-queries.html#querying-remote-state-stores-for-the-entire-app).

This was discussed in https://github.com/quarkusio/quarkus-quickstarts/pull/578 , as the quickstart demonstr

[2020-06-16 20:56] murphye commented on #9306
Potential related:

https://github.com/quarkusio/quarkus/issues/2414#issuecomment-596883930
https://github.com/oracle/graal/pull/2241

[2020-06-17 00:54] jbcodeforce commented on #7885
Hi, I'm testing exactly the same configuration with quarkus 1.5.1 final, enabling amqp1.0 in rabbitmq, still get this trace in rabbitmq  rabbitmq_1  | 2020-06-17 00:48:22.644 [info] <0.686.0> accepting AMQP connection <0.686.0> (172.19.0.1:58398 -> 172.19.0.3:5672)
rabbitmq_1  | 2020-06-17 00:48:28.655 [error] <0.686.0> closing AMQP connection <0.686.0> (172.19.0.1:58398 -> 172.19.0.3:5672):
rabbi

[2020-06-17 01:58] #10050 closed

[2020-06-17 02:24] hosseinmp76 commented on #9974
isn't #9974 this issue? did you mean #10067?

[2020-06-17 03:32] stuartwdouglas commented on #10054
This is expected behavior, the augmentors are used to build the identity, you can't inject it as it has not been built yet.

You should be able to just case the Principal on the identity you are augmenting to JsonWebToken.

[2020-06-17 03:32] #10054 closed

[2020-06-17 03:37] jaikiran commented on #9981
@jokergit, I have been away for a bit and haven't had a chance to look more into this. Any chance you can share a reproducer app (preferably as a github repo with any instructions)? That will make it easier/quicker for some of us to see what's going on.

[2020-06-17 05:02] michael-schnell commented on #8936
Cool! Along with #8937 this will be a very nice feature to allow adding things like a wait script.

[2020-06-17 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/138011674

[2020-06-17 05:28] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/138011166

[2020-06-17 06:05] dufoli commented on #4005
ok so new TODO:
- create a repository with only etension with bom on quarku
- publish on maven repository (maven central ?)
- create a cxf.json with
{
  "group-id": "org.apache.cxf.core.extensions.quarkus",
  "artifact-id": "cxf-quarkus"
}
- create a pull request to https://github.com/quarkusio/quarkus-extension-catalog

[2020-06-17 06:07] dufoli commented on #4005
@gastaldi is it the right todo to register extension outside of quarkus ?

[2020-06-17 06:35] geoand commented on #8936
Right, I forgot about that one, thanks!

[2020-06-17 06:59] geoand commented on #10055
Yeah... The openshift extension is only really meant to be used with S2I, it's not ideal.

I would suggest for the time being to use the vanilla kubernetes extension and apply `quarkus.kubernetes.deployment-target=openshift`.

cc @iocanel

[2020-06-17 07:03] haraldatbmw commented on #10055
@geoand I do not use the openshift extension. I know this is for S2I only. I already use the vanilla kubernetes extension. And this issue is all about the kubernetes extension with target=openshift.

[2020-06-17 07:05] geoand commented on #10055
OK, sorry I missread it then :)

[2020-06-17 07:32] TranNgocKhoa commented on #9974
I think he means [#10012](https://github.com/quarkusio/quarkus/pull/10012)

[2020-06-17 07:38] #10056 closed

[2020-06-17 07:40] aloubyansky commented on #9974
@gsmet did mean #10012 but #10067 is the one we are going to merge.

[2020-06-17 07:58] gunnarmorling commented on #10064
Yes, definitely a good improvement; I also wasn't happy about the HOSTNAME requirement, but I wasn't aware of that `getQualifiedHostName()` functionality. Makes absolutely sense to default to that. Would you like to send a PR for it?

[2020-06-17 08:01] #7095 closed

[2020-06-17 08:01] #8407 closed

[2020-06-17 08:01] #8499 closed

[2020-06-17 08:37] adutra commented on #9183
Fixed. The quickstart module was still referencing driver 4.7.0-SNAPSHOT.

[2020-06-17 08:48] #7710 closed

[2020-06-17 08:50] FroMage commented on #8795
I validate that 4.5.5.Final fixes it, made a PR to bump our RESTEasy dep and added a test for this at https://github.com/quarkusio/quarkus/pull/10069.

[2020-06-17 08:51] #10015 closed

[2020-06-17 09:26] sberyozkin commented on #10054
Hi @stuartwdouglas, @wjglerum  Principal cast would only work for IdToken in case of the code flow, I think we may need to have some conversion support for `AccessToken`

[2020-06-17 09:30] #9447 closed

[2020-06-17 09:31] #8177 closed

[2020-06-17 09:31] #7404 closed

[2020-06-17 09:31] #7580 closed

[2020-06-17 09:35] #9871 closed

[2020-06-17 09:42] geoand commented on #9973
#10070 fixes the issue

[2020-06-17 10:09] gastaldi commented on #4005
@Dufgui this is still a work in progress (meaning that we'll document these steps properly) and our tools are not aware of it at the moment.

You'll also need to declare the released versions, as in https://github.com/gastaldi/quarkus-extension-catalog/blob/master/extensions/jsf.json
but yes, that would be the right thing to do if you want a community extension outside the platform :wink:

[2020-06-17 10:27] #9690 closed

[2020-06-17 10:58] sberyozkin commented on #10021
@EfraimLA I was testing with Java 8, I've rebuilt the Quarkus master and the quickstart changes with Java 11, and it is clean and works in the native mode with the changes I've pasted above.
Please create a git hub reproducer project for us to make some progress
Thanks

[2020-06-17 10:58] DorianMaliszewski commented on #7414
We can add a field in WebsocketTicketAccess like "from" where we can store the subject of the token or the token completely and then made a findBy with UUID and from field ??

[2020-06-17 11:28] fluoxa commented on #9973
thanks for taking care, will it be released as minor version of 1.5.X or in 1.6?

[2020-06-17 11:42] #9974 closed

[2020-06-17 11:45] geoand commented on #9973
We'll try to get it in 1.5.2

[2020-06-17 12:08] geoand commented on #8937
https://github.com/quarkusio/quarkus/pull/10071 implements this feature.

[2020-06-17 12:34] oztimpower commented on #9165
@amenic-hub Can we close this now that I have demonstrated it's possible to generate a native-binary?

[2020-06-17 12:36] FroMage commented on #9194
OK I can reproduce. This doesn't happen on Undertow.

[2020-06-17 12:49] oztimpower commented on #9997
Hi @JalajChawla, I know how to fix this one, I had a PR #9697 that tackled this issue. I will be resubmitted it soon.

I downloaded your sample project thanks, it looks like it is the standard maven archetype for the Amazon Lambda extension per the guide. BTW, you may need a .gitignore on your project, it has the target directory (and .git) checked in.

[2020-06-17 12:53] nelsongraca commented on #9275
For those interested, just pushed the changes I believe are needed, will do more testing to ensure everything is properly working.

[2020-06-17 12:56] JalajChawla commented on #9997
Thanks @oztimpower for the response and yes it is the standard maven archetype and yes will include the gitignore thanks.

[2020-06-17 13:06] louisthomas commented on #5705
https://github.com/paketo-buildpacks/graalvm

[2020-06-17 13:22] emmanuelbernard commented on #9947
Wouldn't it make sense to just send a pull request to add the properties you need?

Are you using io.quarkus:quarkus-kafka-client or io.quarkus:quarkus-smallrye-reactive-messaging-kafka ?

I am not familiar with the `.env` thing, do you mean literally environment variables or something different? What I am wondering is if these properties should be build time vs runtime. For example I did not imag

[2020-06-17 13:30] geoand commented on #9947
@emmanuelbernard the `.env` file is meant to be a way for users to easily configure environment variables, so yeah it's basically meant for runtime config.

The issue here is that because the kafka config is not part of the Quarkus config (it reads properties manually), it doesn't pick up the DotEnvConfigSource.
We can make it work for sure (but then people might start asking for YAML, or custom c

[2020-06-17 13:36] wjglerum commented on #9947
Yeah indeed, the weird thing for me here is that YAML, env vars, application properties all work, except for the `.env` file for these specific options. That's not something I expected when working with this. Now that I now I can simply use env vars instead locally.

We override the security config for connection to the prod broker as locally we don't want to deal with a SASL set-up etc and simply

[2020-06-17 13:39] wjglerum commented on #9947
Using `quarkus-smallrye-reactive-messaging-kafka` btw at the moment, haven't tried `io.quarkus:quarkus-kafka-client`

[2020-06-17 13:39] geoand commented on #9947
Let's see what @cescoffier has to say before proceeding any further

[2020-06-17 13:43] sedaition commented on #5254
@cescoffier

[2020-06-17 13:59] zeldanerd24 commented on #9949
Any movement on this issue? Seeing the same unhelpful error message on a native build with Gradle.

[2020-06-17 14:01] geoand commented on #9949
@glefloch have you perhaps encountered this before?

[2020-06-17 14:08] FroMage commented on #9194
@patriot1burke do you remember why you added the `VertxBufferImpl` class? Using `Buffer.buffer(ByteBuf)` makes this issue go away and we have one less class to maintain. I'm sure you must have had a reason to not use it and write your own, do you remember?

[2020-06-17 14:38] #8937 closed

[2020-06-17 14:44] glefloch commented on #9949
I clone the project on my machine and running `./gradlew quarkusBuild -Dquarkus.package.type=native` was successful with jdk 19.3.1.r8.
I'm installing graalvm 20.1.0 to try with it.

[2020-06-17 14:45] #9973 closed

[2020-06-17 14:51] EfraimLA commented on #10021
https://github.com/EfraimLA/quarkus-jwt-reproducer

It's my reproducer with Java 11, in native doesn't work

[2020-06-17 14:52] Auties00 opened #10074 "GraalVM: Native Image Build fails"
When I try to build the native image for my quarkus project using the command mvn package -Pnative I get an unexpected error that causes the build to fail:
`
Error: Cannot run program "C:\Program Files\Java\graal\bin\java.exe": CreateProcess error=206, Name or extension is too long
`
 - java version "13.0.1" 2019-10-15
   Java(TM) SE Runtime Environment (build 13.0.1+9)
   Java HotSpot(TM) 64-Bit

[2020-06-17 14:52] gsmet commented on #9949
Do we have the `native-image` output when building with Gradle?

I know the Gradle build is usually quiet but that would be useful in case of an error.

[2020-06-17 14:55] jclingan opened #10076 "Create "All Metrics" guide"
**Description**
The "[all configuration](https://quarkus.io/guides/all-config)" guide is very useful in understanding how Quarkus can be configured. This concept should be extended to metrics, with the creation of an "all metrics" guide that is an aggregation of core quarkus metrics plus the metrics available in all extensions.  This also builds confidence in Quarkus being an observable platform.

[2020-06-17 14:56] #8508 closed

[2020-06-17 15:02] #9954 closed

[2020-06-17 15:04] glefloch commented on #9949
No we don't, this could be really useful.
Running the gradle command with `--info` shows the `native-image` command.

[2020-06-17 15:18] wiradikusuma commented on #10025
@gastaldi I can confirm that it works.

OOT, where can I find guides on how to migrate existing apps to Quarkus? I've converted a Jersey-based WAR app to be RESTEasy-based and uses `main()` (with Underflow), then I don't know what's next.

[2020-06-17 16:00] radcortez commented on #7442
There is now a way to support this in SmallRye Config latest version, which is also available in Quarkus.

How do we envision this being used in Quarkus? In SmallRye Config, you can list secret keys with the API `SmallRyeConfigBuilder#withSecretKeys`. Should we came up with a list of our own and auto configure it? Should we provide a configuration property that lists keys that are known to be secr

[2020-06-17 16:15] ejba opened #10079 "Set a safer default for quarkus.http.limits.max-body-size"
**Describe the bug**
Currently, the `quarkus.http.limits.max-body-size` [default](https://quarkus.io/guides/http-reference) is "unlimited". This default setting could be considered as an insecure one once the attacker could exploit it by sending large HTTP requests to provoke Denial-of-Service until cause resource exhaustion.

**Expected behavior**
The `quarkus.http.limits.max-body-size` should ha

[2020-06-17 16:33] dmlloyd commented on #7442
Quarkus configuration values which are secrets should have a type which unambiguously identifies the value as a secret, e.g. a `Key` subtype.  The listing of secret properties should thus be automatic based on whether the property has a type which is a secret type.

Another thing to think about is that it's not really possible to list *all* property names which are secret, because in many cases th

[2020-06-17 16:43] rquinio commented on #10064
@gunnarmorling Not at the moment, as I'll be focusing first on other pending PRs/issues.
This might be a good first issue for anyone familiar with KStreams interactive queries.

[2020-06-17 17:56] maxandersen commented on #5957
this was merged a while back. closing.

[2020-06-17 17:56] #5957 closed

[2020-06-17 17:56] mcserra commented on #10064
Hi. Can i pick this one?

[2020-06-17 18:23] cpmoore commented on #7019
It's not that easy, but you can create an AgroalDataSource directly
[code]
This can all be collapsed to a couple lines, just broke it apart to see the pieces

There's a `DataSources` class in Quarkus that looks like it should be able to be invoked programtically, but it expects some properties to be set at build time.

[2020-06-17 18:35] cpmoore commented on #7019
You can also use an `AgroalPropertiesReader`
[code]

[2020-06-17 19:01] gunnarmorling commented on #10064
Absolutely, go for it.

[2020-06-17 19:56] #9979 closed

[2020-06-17 20:01] patriot1burke commented on #9962
The handler must be specified as:
io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest

This Quarkus handler wraps your handler to bootstrap quarkus components and to wrap creation of your actual handler class so that injection will work.

Our docs aren't that great, apologies.

[2020-06-17 20:01] #9962 closed

[2020-06-17 20:03] patriot1burke commented on #8970
@stuartwdouglas Removing  amazon-lambda label from this issue.

[2020-06-17 21:28] famod commented on #9837
Update regarding _offline_ instrumentation: I've just successfully tested a fix that is supposed to land in JaCoCo 0.8.6: https://github.com/jacoco/jacoco/pull/1057

Once 0.8.6 is out I am going to update the Quarkus docs (and the example) to use 0.8.6.

Aside from that I'd still prefer a working _online_ instrumentation.

[2020-06-17 21:44] sean-scott-lr commented on #9980
FYI, our only way to work around this is with the Deprecated MessageMarshaller<>

[2020-06-17 21:47] GregJohnStewart commented on #10020
Ah, gotcha @mkouba I see that now, thanks!

though it looks like I'm now having trouble with the beans I had injected into the template.. anything that references the bean comes back with "NOT_FOUND" being put in, even though it was working before, but I think that is a separate issue. In case you are curious though, this:

[code]

yields:

[code]

[2020-06-17 21:47] #10020 closed

[2020-06-17 21:56] DaveO-Home commented on #3886
One thing I didn't mention; my app runs under Vert.x so the vertical has to be redeployed.

[2020-06-17 22:19] shahmalhar commented on #7936
Mysql failover is not working with native image with 1.5.0.Final, below is my DB connectivity URL:
quarkus.datasource.jdbc.url=jdbc:mysql://localhost:3306,localhost1:3306,localhost2:3306/cpaps

Can someone help me here?

[2020-06-18 00:08] #10063 closed

[2020-06-18 04:10] jaikiran commented on #3886
Hello @DaveO-Home

When it hangs, can you get use the thread dump (using `jstack` for example) of the Quarkus dev mode Java process? Take 2-3 thread dumps, separated by around 5 seconds each so that we can compare them to see what's going on.

[2020-06-18 04:15] jaikiran commented on #9306
@provcristianmaluenda, is there an reproducer application you can share (perhaps as a github repo)?

[2020-06-18 05:05] ntkhoauit opened #10083 "Azure functions"

[2020-06-18 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/139237151

[2020-06-18 05:32] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/139237117

[2020-06-18 05:35] geoand commented on #8593
I am seeing:

[code]

in `KuduInfrastructureTestHelper`

[2020-06-18 05:36] DaveO-Home commented on #3886
Ran `jhsdb jstack --pid 87613 > notokdump.dat` - below is a diff between working and not working:
[code]
Also got this against the non-working dump;
[code]
The non-working dump;
[code]

[2020-06-18 06:15] mkouba commented on #10020
@GregJohnStewart few questions:
1. Are both the `serverInfo` and the `serverUrlService` passed as the template data?
2. Are those CDI beans? If so what scope do they have?
3. What exactly means "it was working before"? Did you use `MailTemplate`?

[2020-06-18 06:19] #9263 closed

[2020-06-18 06:31] geoand commented on #10074
Hi,

It would be great if you could upload the log to gist or pastebin or something so we can take a look.

[2020-06-18 08:16] gunnarmorling opened #10086 "Propagate custom main class to manifest"
Based on [a discussion](https://twitter.com/maxandersen/status/1273525669247492096) with @maxandersen on Twitter. If there's a custom main method in a `@QuarkusMain` class, it'd be useful to set that class as the main class in the JAR manifest. I hope it's doable in the light of rules described [here](https://quarkus.io/guides/command-mode-reference#multiple-main-methods) for finding the right mai

[2020-06-18 08:23] ppalaga commented on #8593
I think we also see port conflicts from time to time on our CI. @jamesnetherton might know more.

[2020-06-18 08:29] #10083 closed

[2020-06-18 08:49] rquinio commented on #4961
@alesj The native tests are failing in the PR CI build. I don't know if they worked before the big rebase done by @gsmet on May 20 ?

[2020-06-18 08:55] maxandersen commented on #10086
@stuartwdouglas and @quarkusio/devtools - any objections to this idea ?

[2020-06-18 09:06] jamesnetherton commented on #8593
I never got to the bottom of what's going on. I never see conflicts locally, so it's been hard to reproduce the issue. I opened https://github.com/apache/camel-quarkus/issues/1370 to investigate.

[2020-06-18 09:50] famod commented on #9354
**Workaround**: For now added this to our root `dependencyManagement`:
[code]
The Quarkus team will surely not recommend this offcially, so **use at your own risk!**

[2020-06-18 09:56] amenic-hub commented on #9165
Hi @oztimpower, I'm really sorry for my absence, but I was quite packed these weeks. I read your comments and I am going to integrate your suggestions in my code in the next week.

Anyway, as you've been able to mimic my environment with positive outcomes, we can close the issue now. Then I'll do it my business to update you/reopen in case of useful insights or unexpected behaviours.

Many thanks

[2020-06-18 09:56] #9165 closed

[2020-06-18 10:08] radcortez commented on #7442
Sure. I think there are two angles:

- Quarkus exposed configuration.
- User custom configuration.

For Quarkus configuration, since we control it, we could implement the type `Key` and find patterns to match the secrets that we have.

For user custom configuration, right now, we don't have a good way to set this up. You can only do this in the `SmallRyeBuilder` which will force users to implement

[2020-06-18 11:26] sberyozkin commented on #9622
Hi @atoom, so there are 2 problems which are being addressed in @ejba's PR, one is to do with `X-Forwarded-Prefix`, one is about choosing between `X-Forwarded-Host`  and  `X-Forwarded-Server`. The latter problem is sorted out with the configurable options, can `X-Forwarded-Prefix` dilemma be resolved in a similar way, instead of the only way. I propose to get the PR going and follow up with the en

[2020-06-18 11:46] geoand commented on #10086
Weird that we don't do that already... I don't see why we wouldn't do it

[2020-06-18 12:02] rdehuyss commented on #2809
I'm also having trouble with this...

My current workaround is to do this:
public static Class<?> loadClass(String className) throws ClassNotFoundException {
        try {
            return Class.forName(className);
        } catch (ClassNotFoundException e) {
            return currentThread().getContextClassLoader().loadClass(className);
        }
    }

instead of
`Class.forName(className);`

[2020-06-18 12:05] atoom commented on #9622
Hi @sberyozkin,

I did not mean to slow up your progress on this - we have an internal discussion about this issue in our team so I was looking around various open source projects to try to find a common best practice on how this has been implemented. The way Spring have chosen to do their implementation did not fit us at but when I saw that you had chosen a similar approach I was curious on your

[2020-06-18 12:12] geoand commented on #10086
Let me play with it real quick

[2020-06-18 12:20] geoand commented on #10086
I tried out our quickstart and it the main class is in the manifest. Can you show me an example of something that doesn't work properly?

[2020-06-18 12:35] davsclaus commented on #9693
Yes I have seen this too

[2020-06-18 12:40] #9961 closed

[2020-06-18 12:43] stuartwdouglas commented on #2809
Class.forName() without a CL is often problematic. In general you should always use the TCCL.

[2020-06-18 12:47] stuartwdouglas commented on #2809
I am closing this, as there are no plans to enable Class.forName() to work for every situation (this can only be done with a flat classpath, which means no hot reload). If you use the 3 argument version and pass in the TCCL this should work fine.

[2020-06-18 12:47] #2809 closed

[2020-06-18 12:49] gsmet commented on #9892
/cc @glefloch didn't you make some adjustments around this area?

[2020-06-18 12:56] gunnarmorling commented on #10086
Interesting, maybe I'm doing something stupid :) Here's my code: https://github.com/gunnarmorling/search.morling.dev. Run this:

[code]

And observe how the generated main class is set.

[2020-06-18 13:02] gsmet commented on #9980
/ping @wburns @karesti

[2020-06-18 13:03] geoand commented on #10086
I see Stuart self assigned, so I'll let him investigate or I can take it if he is doing something for the time being

[2020-06-18 13:07] harshmadhani commented on #10079
We can keep the default value of max body size at 2-5 MB. 1 MB is a bit small I think

[2020-06-18 13:11] wburns commented on #9980
It sounds like the annotation processor is not being ran for some reason when `compile test` arguments are provided, which seems odd to me. I am not that familiar with the processor we implemented, so I would have to discuss with someone else on the team.

[2020-06-18 13:12] nelsongraca commented on #9275
@aguibert I would like to have your input about how these changes may affect hibernate-reactive since there are references to defaultSchema and defaultCatalog in Hibernate reactive processor, I'm having some difficulties creating the tests for hibernate-reactive.

[2020-06-18 13:20] glefloch commented on #9892
I remember reading an issue about that but I can't find it. I think @aloubyansky fixed it.
If that's not the case, I will have a look.

[2020-06-18 13:21] #10001 closed

[2020-06-18 13:23] aloubyansky commented on #9892
No, I did not look into this.

[2020-06-18 13:28] maxandersen commented on #9275
push changes where ?

but default schema and catalog seems necessary.

[2020-06-18 14:07] wburns commented on #9980
Using inotifywait I can see the AP is properly invoked initially and generates the classes, but then they are all removed and recompiled again but the second time the AP is not invoked it seems
[code]

I removed
[code]
from the pom.xml and now it works for me.

[2020-06-18 14:10] nelsongraca commented on #9275
@maxandersen on my personal fork, since there are more users who wish this change thought I should say so.
I know it will be necessary but I'm not having success with creating the tests for hibernate-reactive

[2020-06-18 14:30] galderz opened #10094 "Get Quarkus and third party sources to source cache for debug symbols"
Part of the debug symbol generation process is creating a source cache with the java source files available. JDK, and some of the GraalVM, source code is already added to this cache. However, sources for dependencies of the application, both Quarkus and third party, are not currently exploded. This enhancement is to make sure those are exploded and they can be navigated through with a native code

[2020-06-18 14:36] jeffhubLR commented on #9980
Thanks for looking into this @wburns

The reproducer is a project generated from code.quarkus.io, which includes the maven-compiler-plugin block.

Is investigation still ongoing or is the recommended fix to remove the maven-compiler-plugin block to resolve? If the recommended fix is to remove the maven-compiler-plugin block, is the generator at code.quarkus.io going to be updated appropriately?

[2020-06-18 14:57] emmanuelbernard commented on #9947
And thanks for let me know. I did look at the kafka client code and what you reported was not making sense. I'm happy it was not my brain disagreeing with reality.

[2020-06-18 14:58] wburns commented on #9980
Unfortunately, I am not a maven wiz and Quarkus does their own pom magic in their plugin. So my guess is the example should probably be changed. WDYT @gsmet ?

[2020-06-18 15:08] Biratus opened #10095 "Vertx native transport always false"
No matter the value in quarkus.vertx.prefer-native-transport there is always this in the logs:

DEBUG [io.qua.ver.cor.run.VertxCoreRecorder] (main) Vertx has Native Transport Enabled: false

[2020-06-18 15:18] paolocarta opened #10096 "Not expected behaviour when using http.* or https.* proxy system properties"
**Describe the bug**

At the moment in order to set an http/https proxy one uses system properties like:
```-Dhttp.proxyHost=localhost -Dhttp.proxyPort=9090 -Dhttps.proxyHost=localhost -Dhttps.proxyPort=9090 -Dhttp.nonProxyHosts=dummy.example.com```

However, the behaviour is not as expected. For instance:

- If you specify just https.* properties, they are not picked up.

- If you specify both ht

[2020-06-18 15:55] gastaldi commented on #10096
Might be fixed by https://github.com/quarkusio/quarkus/pull/10069

[2020-06-18 16:46] jeffhubLR commented on #9980
The maven-compiler-plugin configuration is where compiler arguments are currently specified for maven projects.
It appears that quarkus-maven-plugin supports some of the configuration that maven-compiler-plugin does. Is it expected that quarkus-maven-plugin reach parity with the configuration that can be passed to maven-compiler-plugin? If not, how is it proposed that the gaps be handled?

I guess

[2020-06-18 17:34] shahdadpuri-varun commented on #9354
This works well if you use `mvn quarkus:dev`. But it fails when you try to build a native image.

[2020-06-18 17:41] famod commented on #9354
It also works in JVMmode but yeah, I haven't checked native mode.

[2020-06-18 17:46] yall opened #10100 "Spring Data JPA - Method name parsing fails when fields start with "and" or "or""
Repositories method name parsing for does not handle fields starting with "and" or "or" and split by operators blindly.

With this repository:
[code]

Exception is thrown:
[code]

Simple project to reproduce it:
[code]

[2020-06-18 17:50] #10086 closed

[2020-06-18 18:29] Auties00 commented on #10074
https://hastebin.com/wexiqidoda.sql

[2020-06-18 19:03] geoand commented on #10074
Can you perhaps attach the output of `mvn -X package -Dnative`?

[2020-06-18 19:28] gunnarmorling opened #10102 "Don't report image is pulled unless it's actually happening"
Seeing this confusing message in the log:

[code]

It only should say "Pulling image..." if that's actually happening. Perhaps "Checking image status... or something initially"?

[2020-06-18 21:14] rdehuyss commented on #9943
Quarkus newbie here: if I would annotate an interface with @RegisterForReflection, will all the classes implementing this interface be registered for reflection?

Longer story: I'm trying to serialize lambda's using the writereplace method via reflection.

[2020-06-18 22:44] pelletier197 opened #10104 "Native-Image: Newly created project with Tika extension can't extract anything"
**Describe the bug**
I tried creating a Tika project following [the documentation](https://quarkus.io/guides/tika) on Quarkus. I think any pdf would produce the same result, but here's the one I tried.
[americanexpress_01.pdf](https://github.com/quarkusio/quarkus/files/4801495/americanexpress_01.pdf)

**Expected behavior**
To give a little context, I should be able to extract any text from any doc

[2020-06-19 00:01] mboulatian commented on #5101
I just downloaded the project both ways using gradle - starter project and maven architype. Both ways don't work and I get the following message: Plugin [id: 'io.quarkus', version: '1.5.2.Final'] was not found in any of the following sources:

[2020-06-19 00:06] oztimpower commented on #5101
Hi @mboulatian Quarkus 1.5.2 was just released overnight and there is a slight lag of the binaries being available on the maven repositories. Can I suggest you try again in one day or modify the version in your maven Pom or gradle build to 1.5.1?

[2020-06-19 00:10] mboulatian commented on #5101
thanks for quick reply. I will try tomorrow.

[2020-06-19 00:15] mboulatian commented on #5101
Just for curiosity I tried changing the versions in gradle.properties and settings.gradle to 1.5.1 and still the same result. I better wait for  24 hours and if result the same I will report it here

[2020-06-19 00:31] oztimpower commented on #5101
Sorry I should have been more specific. 1.5.1.Final.

If you check on the maven repo you’ll see what the latest version is. I did a quick check when seeing your post.

Yes do wait another day and also do a quick check on the maven repos to see if the new version is now available.

<dependency>
    <groupId>io.quarkus</groupId>
    <artifactId>quarkus-core</artifactId>
    <version>1.5.1.Final</ver

[2020-06-19 03:38] jaikiran commented on #10094
Hello @galderz,

If I understood this part doc correctly https://github.com/oracle/graal/blob/master/substratevm/DEBUGINFO.md:
[code]
then I don't think Quarkus needs to explode the source (jar) of Quarkus application and its dependencies, isn't it? I guess, Quarkus build process could just point to the existing Maven/Gradle downloaded source jar files (that reside in the local Maven filesystem ca

[2020-06-19 03:54] gilliardmacedo commented on #2814
Thanks a lot for this!

When using multi stage docker build, **remember to edit .dockerignore to include sources**!

[2020-06-19 04:36] jaikiran opened #10106 "CI job failures - FormAuthCookiesTestCase#testCredentialCookieRotation fails on slow systems"
FormAuthCookiesTestCase#testCredentialCookieRotation has been recently failing in some CI runs [1][2]. The failures aren't really genuine issues with the feature being tested but instead have to do with the kind of timing checks that are in place in that test. On slow systems, these checks can lead to spurious failures. The test could be improved to avoid these checks and yet test the feature bein

[2020-06-19 04:54] pschyma commented on #9138
There is already gradle/gradle#2429 but without any progress. Ideally the Gradle issue should be implemented and Quarkus plugin should allow to set the classes path to use for testing.

So we would have an ideal split of responsibilities. But I doubt that this will happen on the Gradle side.

For now I struggled implementing a plugin because of the hard-coded paths in Quarkus.

[2020-06-19 05:09] #10100 closed

[2020-06-19 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/140476222

[2020-06-19 05:59] jaikiran commented on #9306
I have never used Gradle before, but I have recently seen many users complaining about the lack of log messages (especially) when building native images with Quarkus. So I decided to take a look at this. To be honest, I am really surprised by the complete lack of logs that show up during a normal gradle build process of Quarkus application as compared to Maven, which prints out useful log messages

[2020-06-19 06:30] geoand commented on #10106
I propose that for the time being we disable this test. When someone looks into it and comes up with a fix, we can reenable it

[2020-06-19 06:41] NathanSchmid commented on #9954
Is there a workaround for this in 1.5?

[2020-06-19 07:11] glefloch commented on #9892
Ahh found it: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Gradle.20help.20requested
It seems the problem was comming from the `protobuf`plugin.
@Ladicek pushed a commit but I'm not sure they released a new version of the plugin.

[2020-06-19 08:27] gsmet commented on #9954
No. 1.6.0.CR1 will contain the fix and should be released next week.

[2020-06-19 08:29] hyperman1 opened #10110 "ldap - setRecursive"
**Description**
As described in the chat:
I'm trying to use quarkus LDAP integration withactive directory, and I'm running in some snags:

I started with https://quarkus.io/guides/security-ldap

REMARK 1:
io.quarkus.elytron.security.ldap.LdapRecorder:createRealm seems to have no configuration option to call setRecursive(true)
Hence quarkus requires all users in LDAP to be in the same organizationa

[2020-06-19 08:36] #6321 closed

[2020-06-19 08:55] sirAlexander opened #10112 "Quarkus Swagger UI behind an Ingress Controller"
I'm having a similar Issue as described here. @gsmet as you are tagged in that post, has this been fixed yet? if not any ETA, thanks.

https://gitmemory.com/issue/quarkusio/quarkus/4200/535037694

[2020-06-19 09:00] loicmathieu commented on #9956
@marc-christian-schulze  there is two ways to fix that:

1. Allow user to pass a native query with any operator and if none, add the `$set` one. This is an easy improvement, inside `ReactiveMongoOperations::bindUpdate` we check that the update string contains none of the operators listed here https://docs.mongodb.com/manual/reference/operator/update/

2. Provides a way for user to overload the ope

[2020-06-19 09:32] sberyozkin commented on #10110
From the chat: `HartiMcWildfly: LdapRecorder under identityMapping() add a .searchRecursive()`

[2020-06-19 09:36] Biratus opened #10114 "NPE using mutiny cursor - possibly due to number of fields"
Hi, I am using a cursor to go through large amounts of data. I implemented the cursor using Mutiny's Uni and Multi.
It works great but once compiled in the native image I get a NPE out of nowhere that is not catch by the onFailure. I think the NPE closes the database connection and then onFailure catched the SQLException: closed connection.
The NPE is thrown no matter the cursor's read size or the

[2020-06-19 09:45] sberyozkin commented on #10104
Hi @pelletier197 Thanks for opening this issue. PDF files are being tested in the native mode, but as your example shows, there could be some code path inside the Tika PDF parser or likely PDFBox which need more native image support.
I'm assigning this issue to myself but I don't help when I can get it fixed, if you can find some time to investigate then it would be appreciated.

Do you know what

[2020-06-19 09:47] rdehuyss opened #10115 "getResource with absolute resource name is not working in native image"
**Describe the bug**
Absolute resource names are not found in native images (with beginning '/')

**Expected behavior**
Absolute resource names should be found

**To Reproduce**
Steps to reproduce the behavior:

Create any Jax-rs resource and add a property file.

[code]

In JVM mode the output is as follows:
  Property file exists: true
  Property file exists: true

In native mode the output is a

[2020-06-19 10:07] crissi98 opened #10117 "SSL client authentication for consul-config extension"
**Description**
There should be a way to provide a keystore with a client certificate for the consul-config extension to use for client authentification with the consul agent.

**Implementation ideas**
By now, there is a config property called ```quarkus.consul-config.agent.key-store```. This property is used to provide a truststore. In my opinion, this property should be renamed to ```quarkus.con

[2020-06-19 10:16] Auties00 commented on #10074
[output.txt](https://github.com/quarkusio/quarkus/files/4803931/output.txt)
Kind of long

[2020-06-19 10:25] zolyfarkas opened #10118 "QuarkusClassLoader makes the slf4j log backend initialize the second time"
I have a custom TestExecutionListener that uses slf4j for logging. This listener runs before the Quarkus junit Extension kicks in and loads the slf4j backend (singleton)

The quarkus junit extension uses QuarkusClassLoader with                     .setIsolateDeployment(true) which causes slf4j backend to load again.

would there be interest to make setIsolateDeployment() configurable?
The same for

[2020-06-19 10:31] sberyozkin commented on #10104
@pelletier197 These are FontBox resources:
https://svn.apache.org/viewvc/pdfbox/trunk/fontbox/src/main/resources/org/apache/fontbox/cmap/

So all we need is
[code]

I need to clarify how to load all of them fast under a singe dir...

[2020-06-19 10:44] pelletier197 commented on #10104
@sberyozkin yes exactly I had figured that out doing my research.

However, I don't know if regexs would work with paths since I haven't found any example with a full path in the Graalvm documentation.

I can try to figure out what exactly is the regex needed to match those resources, but it will not be enough to solve my problem, since tika instantiate a lot of things by reflection that are not b

[2020-06-19 10:46] #6805 closed

[2020-06-19 10:51] sberyozkin commented on #10104
@pelletier197, if you can attach the test PDF files with the corresponding errors then we can tackle them one by one. This is really the only way forward with or without Quarkus, for Tika to work in the native image, and its PDF parser in particular.

The parser must be included, a few of them are excluded from the native imafe but certainly not `xslx` ones. It could be for example an media-type d

[2020-06-19 10:55] geoand commented on #10115
Is the JVM version you are referring to the regular `java -jar ..` execution or dev mode?

[2020-06-19 10:57] geoand commented on #10117
Makes sense,

would you like to provide a PR?
Also, have you tried your code in native mode?

[2020-06-19 10:57] ahamed-k commented on #2931
@computerlove, @brunoborges - Has this PR been finished. We have been using a hack around this to create a uber jar. Would be pleased to know if this is complete and ready to use. Thanks.

[2020-06-19 10:58] rdehuyss commented on #10115
It is dev mode

[2020-06-19 10:59] geoand commented on #10115
I assume that `java -jar` behaves the same way as native-mode?

[2020-06-19 11:24] bentaljaard opened #10119 "MongoDB Health Check fails when using Mongo template on Openshift"
**Describe the bug**
When configuring an application to point to a mongoDB instance deployed using the standard Openshift templates, the health check fails as it does not have the permissions to connect to the admin database. The openshift template creates an user with ReadWrite permissions that does not have the required permissions to list databases in admin db. There is also no config property

[2020-06-19 11:40] rsvoboda opened #10120 "Introduce label for tracking native image related issues"
Introduce label for tracking native image related issues and PRs.

At this moment there is no way to search for native image related issues.
There is graalvm-java11 label, but that's specific for JDK 8 -> JDK11 move.

https://quarkusio.zulipchat.com/#narrow/stream/191168-core-team/topic/GH.20issues.20-.20native.20image/near/201252952

[2020-06-19 11:41] rsvoboda commented on #10120
@gsmet / @maxandersen fyi

[2020-06-19 11:46] loicmathieu commented on #10119
@bentaljaard we can change the implementation of the default health check, we need to find something that any user with read access would be able to do.

Maybe we can use one of the diagnostic commands instead but we need to find one that all users can send: https://docs.mongodb.com/manual/reference/command/#diagnostic-commands

[2020-06-19 11:51] geoand commented on #10074
My guess from the output is that you the path you are running from is causing problems, I see `C:\Users\Ale\Desktop\Coding\Java\6) Backend\hytaleshosting`

Can you try using a path that doesn't have weird characters in it please?

[2020-06-19 11:57] bentaljaard commented on #10119
I ran a couple of commands that might be helpful:

[code]

Maybe the dbStats command could be an option??

[2020-06-19 12:05] loicmathieu commented on #10119
Can you check `ping`, `buildInfo` and `features`.
I would use the command that have the less impact on the server and the smaller response.

[2020-06-19 12:07] rdehuyss commented on #10115
Indeed, just double checked...

[2020-06-19 12:07] loicmathieu commented on #10119
And you should run them on the `admin` db if possible. As this is the only db we sure exists.

[2020-06-19 12:08] geoand commented on #10115
That's what I thought. So it's actually the dev mode classloader being too lenient here

[2020-06-19 12:10] rdehuyss commented on #10115
Why too lenient? In all other JVM's (I have tests for 12 different JVM's) the leading slash works... It seems that the others are too strict?

[2020-06-19 12:12] sberyozkin commented on #10021
@EfraimLA Thanks, I've missed it, will have a look

[2020-06-19 12:14] geoand commented on #10115
Sorry, didn't you just say that `java -jar ...` behaves the same way as the native mode i.e. it doesn't load the resource if it has a leading slash?

[2020-06-19 12:16] rdehuyss commented on #10115
Yes - my mistake - doing further testing to find root cause.

[2020-06-19 12:22] rdehuyss commented on #10115
Ok, my mistake - it's because I'm using the TCCL instead of the normal classloader.

Indeed - the dev mode classloader is too lenient.

[2020-06-19 12:28] geoand commented on #10115
Yeah, we should address that

[2020-06-19 12:55] pelletier197 commented on #10104
Sadly, I cannot provide you with the PDFs for security reasons. I can however do better than that.

Since I really need this thing to work with GraalVM, I will use the [tracing agent](https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md) provided by graalVM to generate the configuration files based on a 40Gb dataset I have (not enough for all the possible files, but better than not

[2020-06-19 13:00] maxandersen commented on #10120
+1 for a "area/native" or "area/native-image" issues and pull-requests.

[2020-06-19 13:05] Auties00 commented on #10074
Just tried(C:/hytaleshosting), same thing. Also the error refers to: "C:\Program Files\Java\graal\bin\java.exe", should I try to move the jdk to C:\?

[2020-06-19 13:11] bentaljaard commented on #10119
I was able to run this on the admin db:

[code]

[2020-06-19 13:12] tkalmar opened #10122 "NullpointerException when building from profile"
**Describe the bug**
When building a dev-jar from profile the build fails with an NullPointerException

**Expected behavior**
Build builds correctly.

**Actual behavior**
NullpointerException:
[code]

**To Reproduce**
Steps to reproduce the behavior:

clone https://github.com/tkalmar/quarkus-reproduce-9546/tree/reproduce_npe_profile_build
mvn -Pqjar-h2 -f server -X
**Configuration**
[code]

**Scre

[2020-06-19 13:12] tkalmar commented on #10122
cc @famod

[2020-06-19 13:12] zenonwch commented on #7301
Sorry for the question for the closed issue.
But what if I want to set different values for the different test classes?

[2020-06-19 13:18] geoand commented on #7301
Then you have to wait for Quarkus 1.6 which introduces the notion of [QuarkusTestProfile](https://github.com/quarkusio/quarkus/blob/2f7b40c343c81c61212c3497b6594f3b68d29feb/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestProfile.java)

[2020-06-19 13:21] ojacquemart opened #10123 "Launching Quarkus Kotlin Gradle App from IDE fails"
**Describe the bug**
Create a fresh app from code.quarkus.io with the 1.5.2 version:
- build tool: gradle
- extension: kotlin

Create a main App like:

[code]

**Expected behavior**
The app starts

**Actual behavior**
The app does not start and gives the following exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. generate the app
2. add a main file
3. run the main

**Environ

[2020-06-19 13:21] loicmathieu commented on #10119
`ping` seems to be the better command to run.

[2020-06-19 13:22] geoand commented on #10074
Can you try executing

[code]

from you command line from inside `target/...-native-image-source-jar`?

[2020-06-19 13:23] crissi98 commented on #10117
I did not try it in native mode yet. I will verify that it is working in native mode and then i would like to provide a PR.

[2020-06-19 13:28] loicmathieu commented on #10119
Doing this will change the response of the health check endpoint (the databases list is included inside the response).
This will be a breaking change. I need to discuss with others to see what they think about it.

Or maybe I can fallback on using the `ping` command in case of `Unauthorized` exception but I'm not fan of this either.

[2020-06-19 13:32] geoand commented on #10123
I can reproduce this on Gradle. The same application in Maven works

[2020-06-19 13:38] aloubyansky commented on #10123
On master as well @geoand ?

[2020-06-19 13:38] geoand commented on #10123
I also tried Java Gradle project and that fails to, so I guess the IDE launcher doesn't work?

[2020-06-19 13:38] geoand commented on #10123
Good question! Let me check

[2020-06-19 13:41] geoand commented on #10123
Same thing for `master` - with a simple Gradle Java project it fails - but I am seeing a different error than OP, most likely because my IDE is trying to launch Gradle or something...

[2020-06-19 13:45] buehren commented on #9769
It still fails with Quarkus 1.5.2-Final.

To reproduce: https://github.com/buehren/quarkus-1.5.0-mqtt-wildcard-problem (updated to 1.5.2)

[2020-06-19 13:46] aloubyansky commented on #10123
Ok, thanks, we need Gradle workspace discovery for that. @glefloch is looking into that.

[2020-06-19 13:57] geoand commented on #10123
Excellent 👌

[2020-06-19 14:32] knutwannheden opened #10126 "Allow QuarkusTest to override base URL of REST client"
As [discussed on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/help.20with.20PACT.20extension) it could be useful if a test could override the base URL of a given REST client.

One use case (as discussed on Zulip) would be for a PACT consumer test, where the test invokes some method on a REST client (directly or indirectly through some service in the application under te

[2020-06-19 14:50] sberyozkin commented on #10104
Hi @pelletier197 thanks, good you have a solution for now.
OK, let me first try to fix this particular issue, I think I will get the time before 1.6.0.
I'll ping you here once it is done to see what can be done - without the test files it can be hard to get any assurance adding a given resource will work. Seeing a generated resource set can help I guess :-) It should be not large I'd say...
Cheers

[2020-06-19 15:12] jeffhubLR commented on #9980
I just discovered that this problem does _NOT_ exhibit itself when maven-compiler-plugin 3.8.0 is used.

Nothing in the release notes to go on, though: https://blogs.apache.org/maven/entry/apache-maven-compiler-plugin-version1

[2020-06-19 15:20] pelletier197 commented on #10104
If that can help you, here are the generated configurations for this only file I sent you.

[dependencies.zip](https://github.com/quarkusio/quarkus/files/4805339/dependencies.zip)

Thank you for your feedback!

[2020-06-19 15:45] sberyozkin commented on #10104
@pelletier197 thanks for your help :-)

[2020-06-19 16:18] famod commented on #10122
This part is easy to miss so in all clarity: This is a **regression*.

[2020-06-19 17:56] rmh78 commented on #9663
@nheidloff
This seams to relate to my latest issue here: https://github.com/quarkusio/quarkus/issues/10055
I prefer to use the container-image-docker and the kubernetes extension for openshift deployment (without S2I).

[2020-06-19 18:19] MarcusBiel opened #10128 "ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl"
Quarkus 1.5 as a native executable - together with sendgrid-java 4.6.0.

And there I am getting:

Getting:
Caused by java.lang.ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl)
web_1  | 	at org.apache.commons.logging.LogFactory.createFactory(LogFactory.java:1158)
web_1  | 	at org.apache.commons.logging.LogFactory$2.run(LogFactory.java:960)
web_1  | 	at java.security.AccessCon

[2020-06-19 19:42] erichelgeson commented on #3106
Just a link for those of us (like me) who are not familiar https://quarkus.io/guides/qute-reference

[2020-06-19 20:46] EfraimLA commented on #10021
Ok I wait ur response

[2020-06-19 22:16] machi1990 opened #10131 "A suspicious log about agroal being present when using Hibernate ORM Reactive extension"
**Describe the bug**
When using the hibernate reactive orm extension, I am seeing a warning message about agroal extension not being properly configured.

The message is:
[code]

**Expected behavior**
No warning message

**Actual behavior**
A warning message is displayed

**To Reproduce**

Run any of the reactive integration tests and observe the console output.

**Configuration**
[code]

**Screen

[2020-06-19 23:44] fabstao opened #10132 "Dockerfile.multistage not working (looks like an image issue)"
**Describe the bug**
Can't build docker native image with the application, can't even copy pom.xml to the build image (quay.io/quarkus/centos-quarkus-maven:19.3.1-java11) it looks like an issue with the image because I can copy files into my own Docker images, even based on CentOS.

**Expected behavior**
Build application into docker container image

**Actual behavior**
Docker build fails in first

[2020-06-20 00:08] GregJohnStewart commented on #10020
(sorry, tried to respond from email, but it didn't make it)

ServerInfo/ serverurlservice are both application scoped beans, autowired elsewhere as well. I don't directly pass them in, and the above was gotten by `template.instance().render()`. I have a test running this template as a regular `Template` for debugging.

I am trying both MailTemplate and "regular" Template for debugging, seem to get

[2020-06-20 00:40] marc-christian-schulze commented on #9956
@loicmathieu if you ask for my opinion, I would assume that both options are satisfying for users, given that both implementations consider the following use cases:

1. A user might want to apply a _single update operator_ on the matching document/s.
2. A user might want to apply _multiple update operators_ on the matching document/s in the same transaction (per document), e.g. $push + $set (and m

[2020-06-20 01:01] GregJohnStewart commented on #10020
Okay, managed to solve the issue by explicitly providing the beans with the `.data()` method, but when reading through the docs it isn't terribly clear you need to do so.

[2020-06-20 08:41] ejba commented on #10132
Hi @fabstao,

I should have a look at the **.dockerignore** file. The file has the following content by default.

[code]

As you can see, all files are ignored (i.e. pom file) except the artifacts. Hence, I have to adjust this file according to your needs.

[2020-06-20 10:55] enesusta commented on #9976
@geoand I'm sorry for the late response.  Yeah, CompleationStage is worked as expected. Thank you for attention.

[2020-06-20 11:21] enesusta opened #10133 "Spring MVC @RequestParam encoding problem on UTF-8"
I develop a rest API that serves city information for users. But I'm having problems with @RequestParam charset.  I sent some params to the controller which includes Turkish characters. And it didn't work as expected.

Some of the characters that I have Turkish character problem:
- ı
- ö
- ş
- ç

If you want to check that source code of this project: https://github.com/enesusta/tzone/tree/develop

[2020-06-20 11:34] buehren commented on #9769
It seems that this bug was introduced in smallrye-reactive-messaging 2.0.3. It is planned to be fixed in 2.2.0: https://github.com/smallrye/smallrye-reactive-messaging/issues/615

[2020-06-20 13:06] haseemisaac opened #10134 "MicroProfile RestClient Encoding Failing for Emojis"
**Describe the bug**
Unable to encode emoji's in a @QueryParam for their GET request for their MicroProfile RestClient. It keeps failing for me; any emoji I try it automatically converts to ??.

I even tried to do:
String pre = "Sending emoji: 😉";
```System.out.println(URLEncoder.encode(pre, "UTF-8"));```

```@Encoded``` on the parameter and URLEncoder to encode the text with emoji before passing

[2020-06-20 13:07] geoand commented on #10133
Thanks for reporting.

Can I ask you to check whether a `@PathVariable` suffers from the same problem?

[2020-06-20 13:36] Sanne commented on #10131
This is addressed by #10060

[2020-06-20 21:48] lburgazzoli opened #10135 "ConcurrentModificationException on ArcContainerImpl.getMatchingBeans"
**Describe the bug**

I'm unable to reproduce it consistently but with the latest master of camel-quarkus that spawn a thread to start camel-main (to support quarkus command mode)  I see:

[code]

**Environment (please complete the following information):**
 - Output of `java -version`:
[code]
 - Quarkus version or git rev:
[code]
 - Build tool (ie. output of `mvnw --version` or `gradlew --version

[2020-06-20 22:08] nappt commented on #9634
Hi,

I'm having the same problem trying to run a R script.
My workaround was to use:

1.` quarkus.native.additional-build-args =--language:js`
2. `mvn package`
3. `java -jar target/xxxxx-SNAPSHOT-runner.jar`

I couldn't make it work with quarkus dev mode.
I'm with java 11 on graalvm 20.

[2020-06-21 01:40] danilomeneghel opened #10136 "Problem with Unit Tests (H2 DB)"
I did a project with Quarkus, but I'm having difficulties with the Tests part.

I used the H2 as a bench (because it is more practical for testing), but even though I made the settings (the system running and saving the data), in the unit test this does not happen.
The following error message is returning for all classes that are tested:

`"Connect Connection refused: connect"`

I have also change

[2020-06-21 07:09] fabstao commented on #10132
Oh got it, now it's working, thanks a lot!

[2020-06-21 07:09] #10132 closed

[2020-06-21 07:23] jaikiran commented on #10128
Hello @MarcusBiel, is there an application that you can share which reproduces this issue? Preferably as a github repo? I'm interested in the `pom.xml` to see what extensions and dependencies are in place for your project.

[2020-06-21 07:31] jaikiran commented on #10074
This actually is a known issue in Graal VM which is being tracked here https://github.com/oracle/graal/issues/2387. There's a PR open for it https://github.com/oracle/graal/pull/2443

[2020-06-21 08:08] geoand commented on #10074
Ah, that's nice! Thanks @jaikiran

[2020-06-21 08:44] MarcusBiel commented on #10128
I am trying to set up a sample application to reproduce the issue, however that's not so easy as it is a native executable, using ssl, jwt, database, sendgrid...

As a first go, here is the pom.xml. It has the org.jboss.logmanager.LogManager,
maybe that's a first thing I need to replace with a different LogManager?

<?xml version="1.0"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0

[2020-06-21 09:45] MarcusBiel commented on #10128
Ok, here is a sample application with the described bug:
https://github.com/MarcusBiel/quarkus-sample

I have also committed the target folder with the native executable (mac) that show cases the Exception thrown form SendGrid.

[2020-06-21 12:18] gunnarmorling opened #10139 "Recording error when passing instance of Lucene's `RAMDirectory`"
**Describe the bug**
I try to pass a `RAMDirectory` (essentially a set of byte arrays) from static to runtime via a recorder. I get this exception:

[code]

**Expected behavior**
Directory instance can be passed.

**Actual behavior**
Getting the exception above.

**To Reproduce**
Steps to reproduce the behavior:

- Clone https://github.com/gunnarmorling/search.morling.dev
- Build the extension
- B

[2020-06-21 12:20] enesusta commented on #10133
[code]

Unfortunately, I'm having the same problem.

[2020-06-21 13:07] turbolaban commented on #7999
Stumbled upon this issue as I ran into a similar problem. After a bit of testing, it appears that it is not related to coroutines at all, but rather that the Jackson Kotlin module is missing or broken in the native build. If the code can be made to run without the jackson kotlin module, it works both on jvm and native. With and without coroutines.

A simple example, without coroutines, that works

[2020-06-21 13:09] famod commented on #10122
@tkalmar It seems you copied the wrong version for `quarkus-jdbc-h2`:
https://github.com/tkalmar/quarkus-reproduce-9546/blob/reproduce_npe_profile_build/server/pom.xml#L51

But even without this version (so that 1.5.2.Final is used) the problem persists.

[2020-06-21 13:12] famod commented on #10122
@stuartwdouglas The code fails here:
https://github.com/quarkusio/quarkus/blob/1.5.2.Final/devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java#L174

`projectArtifact.getFile()` returns `null` and therefore `.toPath()` fails with an NPE.

Since you were the one [who added this line](https://github.com/quarkusio/quarkus/commit/86e91c77ec152c5a84a1f9916110cd90bbd68451#diff-fc5bfcac2e033b00de

[2020-06-21 15:21] harshithpawar94 commented on #9969
**Sorry for not providing complete details and for the late reply. Below is the issue which I am facing.**

[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:1.5.0.Final:native-image (default) on project quarkus: Failed to generate native image: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build step io.quarkus.deployment.pkg.steps.Nat

[2020-06-21 15:26] hosseinmp76 commented on #9314
any progress or plan for it in this issue?
I think this issue makes quarkus not only a backend framework but a general-purpose basic and infrastructural framework in java eco-system.

[2020-06-21 15:27] geoand commented on #9969
Can you try rerunning it with `-X` passed to Maven?

[2020-06-21 16:59] harshithpawar94 commented on #9969
**Sorry, Here it is,**

22:26:31,358 INFO  [org.hib.Version] HHH000412: Hibernate ORM core version 5.4.16.Final
22:26:39.223 [ForkJoinPool-2-worker-7] DEBUG io.netty.util.internal.InternalThreadLocalMap - -Dio.netty.threadLocalMap.stringBuilder.initialSize: 1024
22:26:39.223 [ForkJoinPool-2-worker-7] DEBUG io.netty.util.internal.InternalThreadLocalMap - -Dio.netty.threadLocalMap.stringBuilder.maxS

[2020-06-21 17:10] geoand commented on #9969
[code]

looks interesting. But the only way we can figure out what's going on, is if you point us to a project that reproduces this behavior

[2020-06-21 18:06] famod commented on #10136
It seems you have not set the `db-kind` property: https://quarkus.io/guides/datasource#default-datasource

[2020-06-21 19:23] danilomeneghel commented on #10136
Thanks for the feedback.
I have now added this "quarkus.datasource.db-kind = h2" to the application.properties file, however the error persists.

I will add this here as a Bug.

[2020-06-21 19:26] danilomeneghel opened #10140 "Bug with Unit Test H2"
I did a project with Quarkus, but I'm having difficulties with the Tests part.

I used the H2 as a bench (because it is more practical for testing), but even though I made the settings (the system running and saving the data), in the unit test this does not happen.
The following error message is returning for all classes that are tested:

`"Connect Connection refused: connect"`

I have also change

[2020-06-21 19:43] danilomeneghel commented on #10140
Using the JDK 14 return:

[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running app.ApplicationTest
[INFO] H2 database started in TCP server mode; server status: TCP server running at tcp://192.168.43.72:9092 (only local connections)
2020-06-21 16:41:40,673 ERROR [io.qua.application] (main) Fai

[2020-06-22 00:38] jaikiran commented on #9306
https://github.com/quarkusio/quarkus/pull/10137 has been merged in Quarkus. This should provide a bit more visibility in the native image build process in Quarkus when using Gradle. A few more enhancements will be needed to have this build process be almost on par with Maven when it comes to logging. I will get to those when I get a chance.

[2020-06-22 00:59] provcristianmaluenda commented on #9306
Sorry @jaikiran, I missed your comment. I have a privet project that I can not share, but I could create a new project for this issue if still you need it.
Thanks for your help!

[2020-06-22 01:02] jaikiran commented on #9306
Yes please. That will help us figure out what else will help to debug issues like these on Gradle.

[2020-06-22 01:10] jaikiran commented on #7549
Hello @marc-christian-schulze and others, the missing logs from native image generation during Gradle build should now be fixed with https://github.com/quarkusio/quarkus/pull/10137 merged into master branch of Quarkus.

Given that this issue here is mostly about these missing logs, I will close this as fixed (in next release). Please either reopen or create a new issue if you still run into this p

[2020-06-22 01:10] #7549 closed

[2020-06-22 05:30] jimbogithub opened #10143 "quarkus-maven-plugin DevMojo erroneously excludes local project dependencies"
**Describe the bug**
Unexpected warning message is displayed for local project dependencies that are not extension dependencies during `quarkus:dev`:

`[WARNING] Local Quarkus extension dependency <group-id>:<project-id> will not be hot-reloadable`

By adding logging to the quarkus-maven-plugin DevMojo, it is apparent that the
**DevMojo is excluding transitive dependencies of test dependencies eve

[2020-06-22 05:53] jmartisk commented on #9986
I can't reproduce this with current Quarkus master, I think this was fixed as a side effect of https://github.com/quarkusio/quarkus/pull/10004
Can you retry with Quarkus 1.5.2.Final?

[2020-06-22 05:56] #9887 closed

[2020-06-22 05:57] cescoffier commented on #9076
There is a suitable underlying client here: http://smallrye.io/smallrye-reactive-utils/apidocs/io/vertx/mutiny/rabbitmq/RabbitMQClient.html

[2020-06-22 06:19] #10102 closed

[2020-06-22 06:21] #10119 closed

[2020-06-22 06:45] glefloch commented on #9949
thanks to https://github.com/quarkusio/quarkus/pull/10137 we will now have `native-image` output.
@hakandilek, can you try with the current version of master?
You can follow the [contributing guide](https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#build) to build and use a local version of quarkus.

[2020-06-22 06:59] danilomeneghel commented on #10140
It's Solved.

[2020-06-22 07:00] #10140 closed

[2020-06-22 07:00] danilomeneghel commented on #10136
It's Solved.

[2020-06-22 07:00] #10136 closed

[2020-06-22 07:23] gunnarmorling commented on #10139
Note I've come to realize that passing `RAMDirectory` likely doesn't work anyways, as it's supposedly "non-serializeable" in recorder terms. I'm still leaving this issue open as I think it exposes a bug where the byte code recorder cannot deal with a specific trait of the parameter types.

[2020-06-22 07:27] geoand commented on #10135
cc @mkouba

[2020-06-22 07:34] crissi98 commented on #10117
I tested it in native mode and it does also work

[2020-06-22 08:22] lburgazzoli opened #10147 "Command Line Application fails to start from Intellij"
**Describe the bug**
Command Line Application fails to start from Intellij

**Expected behavior**
The application should start

**Actual behavior**
The application fails to start with the following exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. checkout https://github.com/apache/camel-quarkus
2. build the project
3. run the `Main` class from `examples/timer-log/main` from

[2020-06-22 08:40] tsegismont commented on #9693
I looked into a similar issue reported on the chat by a Quarkus GraphQL user. After reload the GraphQL query payload cannot been read most of the time.

For the record, the reason is that during reload, verticles are undeployed and the previous vertx instance closed, but the new Vert.x instance keeps the reference to the previous HTTP server and Vert.x instance.
Then when `getOrCreateContext` is i

[2020-06-22 08:55] computerlove commented on #2931
The code worked when I last tested it. But there are no unit or integration tests for this.
If there haven't been any changes in the code in this area it should be just to add appropriate tests and  documentation before asking the Quarkus team for approval.

[2020-06-22 08:56] galderz commented on #10094
Right, it doesn't have to explode anything, but either we need to get Quarkus to add the right search path parameters to the generation, or we put the source jars next to the normal jars.

As a first step, there should be a way to generate a `<myproject>-1.0.0-SNAPSHOT-runner-source.jar`, because that would contain the sources for all the code inside that, which is what goes into image generation.

[2020-06-22 08:58] geoand commented on #10147
@lburgazzoli have you by chance tested if this is still an issue with the latest `master`?

[2020-06-22 08:59] lburgazzoli commented on #10147
no, just opened so I won't forget :)
will try it soon

[2020-06-22 09:09] obbyK opened #10149 "When using vertx routes without annotations, how do you define the security?"
When using vertx routes like the following, how would i use the `@RolesAllowed` and ` @Authenticated`?

    public void routes(@Observes Router router) {
             router.get("/hello").handler(rc -> rc.response().end("Hello from my route"));
        }

[2020-06-22 09:12] geoand commented on #10149
Please ask questions like on StackOverflow.

Thanks

[2020-06-22 09:12] #10149 closed

[2020-06-22 09:18] gunnarmorling opened #10150 "Document allowed parameter types for bytecode recording"
Currently it's not quite clear from the extension author guide which parameter types can be used for recording calls (see [ML thread](https://groups.google.com/forum/#!msg/quarkus-dev/ZpsBfMdyvjA/XSeu_JdjAQAJ)). As per @stuartwdouglas, it's these:

* primitives
* String
* Class (see {@link #classProxy(String)} to handle classes that are not loadable at generation time)
* Objects with a no-arg cons

[2020-06-22 09:32] galderz commented on #10094
This issue has some complexities, so I've started a [quarkus-dev discussion](https://groups.google.com/forum/#!topic/quarkus-dev/jEJsKmHQzcw). Please comment there.

[2020-06-22 09:52] lburgazzoli commented on #10147
@geoand yes, same behaviour with the latest `master`, it can be something wrong on my side but don't know

[2020-06-22 09:53] geoand commented on #10147
Thanks for checking

[2020-06-22 10:50] knutwannheden opened #10152 "QuarkusTestExtension#runExtensionMethod() should only deep clone when necessary"
**Description**
`QuarkusTestExtension#runExtensionMethod()` appears to do a deep-clone of all arguments of a given test method. If the parameter class is the same in both class loaders (i.e. both loaded it through a common ancestor class loader) this wouldn't be necessary and avoiding the deep-clone would also be desirable because not all objects can be cloned (see #9677).

[2020-06-22 10:55] geoand commented on #10152
Unfortunately it's not that simple. If for example you have a `Supplier` that supplies an object that was created from the System classloader, you still need to clone the  supplied object into the TCCL.

Now all this stuff is definitely nasty, I don't see any good solution to the problem.

[2020-06-22 10:59] knutwannheden commented on #10152
Yes, of course one of the deeply referenced objects may need cloning. So the cloning algorithm would then first have to check if any of the objects in the graph needs cloning or not, which isn't very nice either...

[2020-06-22 11:02] knutwannheden commented on #10152
Possibly it would help the JUnit team if the Quarkus use case could be explained in detail in the context of junit-team/junit5#201.

[2020-06-22 11:06] ppalaga opened #10153 "Asterisk and other special characters not escaped in Quarkus config docs"
`io.quarkus.annotation.processor.generate_doc.JavaDocParser.appendHtml(StringBuilder, Node)` is passing asterisk and other special characters verbatim to AsciiDoc. As a result, when AsciiDoctor renders the docs to HTML, the asterisks are replaced by `<strong>` instead of being displayed verbatim. An example: https://camel.apache.org/camel-quarkus/latest/extensions/core.html#quarkus.camel.service.d

[2020-06-22 11:07] geoand commented on #10152
@stuartwdouglas has already chatted with the JUnit team about this, so they are aware of our case

[2020-06-22 11:13] MarcusBiel opened #10154 "ConstraintViolation(CheckedException can't be properly handled as BAD_REQUEST"
SQLIntegrityConstraintViolationException  is a checked exception, so Arc needs to wrap it in a RuntimeException. Now this can't be properly handled as BAD Request anymore.

More you can also find in this issue: https://github.com/quarkusio/quarkus/issues/3949
including code to reproduce the issue: https://github.com/abelsromero/quarkus-issue3949

Following this approach I wrote an exception mapper

[2020-06-22 11:27] geoand commented on #9317
I don't really know how I am going to do this because I am on Ubuntu where CRC isn't really supported...
If someone has a link or instructions on how to setup CRC for Ubuntu, I would be greatful.

[2020-06-22 11:40] knutwannheden commented on #10152
Unless you will consider implementing a more clever deep cloning algorithm (only cloning if at least one object in the graph needs cloning), I think we can close this issue again. Hopefully the JUnit 5 issue will be addressed in the not too distant future...

[2020-06-22 11:45] sberyozkin commented on #10021
@EfraimLA, good news is that it is not a bug,
See:
https://quarkus.io/guides/writing-native-applications-tips#including-resources

I've reproduced it, so the private key should be in `META-INF/resources` if you'd like a given resource be loaded by default in the native image, or provide the resource registration file as documented in the linked docs.

I'll wait for you to confirm before closing th

[2020-06-22 11:45] geoand commented on #10152
Hopefully we won't have to create a more clever cloning algorithm, but it may come to that at some point...

[2020-06-22 11:50] crissi98 commented on #10117
Closing this since it is fixed by #10145

[2020-06-22 11:50] #10117 closed

[2020-06-22 11:57] famod opened #10156 "spring-data-jpa: repository calls merge() when it should call persist() instead"
**Describe the bug**
Although we do _not_ work with detached entities, we ran into https://hibernate.atlassian.net/browse/HHH-9362 and/or https://hibernate.atlassian.net/browse/HHH-11414 for a rather simple persist scenario.
In the call stack we can see that the generated repository is calling `merge()` instead of `persist()`.
This is most likely due to [this code in `StockMethodsAdder`](https://g

[2020-06-22 11:58] famod commented on #10156
/cc @Sanne (mainly for the Hiber nate bugs and a broader view on the general topic)

[2020-06-22 12:04] geoand commented on #10156
Thanks for the analysis.

When we added this implementation, we indeed were following what regular spring-data-jpa was doing.

If @Sanne agrees that what you propose

[code]

is the proper thing to do, then yeah, I'd be willing to add a configuration property to change that would allow changing the behavior.

[2020-06-22 12:05] radcortez commented on #1217
This is now documented in SmallRye Config via an example:
https://github.com/smallrye/smallrye-config/tree/master/examples/configmap

It can also be done for Quarkus if required. The config related code should not be different.

[2020-06-22 12:07] famod commented on #10156
:+1: but please note that this is only working for updates! We'd still need that `@Version` handling (preferred) or `Persistable.isNew()`.

[2020-06-22 12:10] geoand commented on #10156
I admit I don't know what the version thing does, but I don't think it would be a problem to add support for whatever it is :P

[2020-06-22 12:13] geoand commented on #10126
I have a technical way to do this (using a lot of reflection), but the best way for a user to use this isn't clear to me.

Would you like to open start a quarkus-dev mailing thread discussion where you will present this use case to folks and ask what they think the best API is?

Thanks

[2020-06-22 12:14] Sanne commented on #10156
I agree with most of what @famod expects - except I'm confused by the last suggestion:

Should it not use persist for newly created objects which are to be persisted? They will not be managed yet, so they will not be contained by the current state of the EM.

I don't know what Spring does, nor what our spring-data-jpa modules do, but would recommend to clearly expose these as separate methods.

Th

[2020-06-22 12:15] famod commented on #10156
@geoand

AFAICS the logic is reather simple: If the `@Version` field is present and its value is not yet set: use `persist()`.

[2020-06-22 12:15] Sanne commented on #10156
To clarify:
 - use persist() for new objects which need to be persisted
 - use merge() to update objects which are expected to exist (see its javadoc for more precision)

There's no safe way to be able to automatically disinguish the two use cases. Especially, it's not safe to check for the ID being set.

[2020-06-22 12:16] geoand commented on #10156
`spring-data-jpa` just exposes `save` which is expected to work for both new and existing entities

[2020-06-22 12:18] radcortez commented on #305
I've made an example on how to use `FileSystemConfigSource` in SmallRye Config with Kubernetes ConfigMap. It should be the same in Quarkus:
https://github.com/smallrye/smallrye-config/tree/master/examples/configmap

Quarkus does have some additional support as well:
https://quarkus.io/guides/kubernetes-config

[2020-06-22 12:18] famod commented on #10156
@Sanne

Yeah ok, it is not just about `contains()`:
- if version and/or id is set
- **and** if `contains()` returns `false`: call `merge()`

PS: `Persistable.isNew()` has to be thrown into the mix as well, _if_ it is used at all.

[2020-06-22 12:20] famod commented on #10156
Ah sorry, missed that part:

That's of course true. Then we should turn it around: Call `merge()` _unless_ `contains()` returns `true`.

[2020-06-22 12:22] AndreiYu opened #10157 "slf4j (jboss) logging doesn't work when native-image isolates are used"
**Describe the bug**
Logger (default Quarkus Jboss logger wrapped with slf4j) doesn't generate output when invoked from isolates.
When no isolates are used (either from native-image or from hotspot dev mode), log output is present as expected

**Expected behavior**
Logger defined as static final field in the class generates output when invoked from Isolate context.

or:
Logger created as new insta

[2020-06-22 12:23] geoand commented on #10126
The simplest thing I can think of is to expose a class like `RestClientTest` that would have a `useBaseUrl` method where the user (or in the future a test extension) would set a base URL given a rest-client class (very similar to what `QuarkusMock` does).

WDYT?

[2020-06-22 12:25] geoand commented on #10156
@famod do you want to right down the final rules so there can be full clarity on what we are talking about?

[2020-06-22 12:29] Sanne commented on #10156
I'm still confused :) That's going to break both merge and persist use cases:

- it's legal to _merge_ both detached and managed objects
- _persist_ is always invoked on a non-managed object, it makes it managed (and assigns an Id if necessary)

[2020-06-22 12:29] fgiloux opened #10158 "RFE: Kubernetes/OpenShift - Generate one json file per object definition rather than a list contained in a single file"
**Description**
Today Kubernetes and OpenShift generated objects are all stored in a single file for instance: target/kubernetes/kubernetes.yml

This is suboptimal as it does not play well with usual GitOps workflows where files may be kustomized per environment using kustomize. This is for instance leveraged by Flux  and ArgoCD.

Also the preferred extension for yaml files is yaml not yml: https:

[2020-06-22 12:33] famod commented on #10156
It's a typical monday for me so I am probably confused too. ;-)

Later today I'll try to write down the rules I am thinking of. So maybe I'll come to the same conclusion eventually.

[2020-06-22 12:36] TobiWeier opened #10159 "Quarkus startup fails, if jaxrs filter injects a mp reactive messaging emitter"
**Describe the bug**
If Quarkus uses MicroProfile Reactive Messaging with incoming and outgoing topics and a JAXRS `javax.ws.rs.container.ContainerRequestFilter` injects (indirectly) an `org.eclipse.microprofile.reactive.messaging.Emitter`, than startup fails with `java.lang.ExceptionInInitializerError` caused by 'Unable to find a emitter with the name \<topicname\>, available emitters are: []'.

[2020-06-22 12:40] banovp opened #10160 "Since 1.5.1. switch from URLConnectionEngine to ApacheHttpClient43Engine impacts in very poor client performance"
**Describe the bug**
We have performance problems with a Restservice Client based on _resteasy-client-microprofile 4.5.3._ caused by the forced usage of the **ApacheHttpClient43Engine**. Please note, the worst performance is the same, regardless of the tls usage (**both http and https** have the same miserable performance)

Within the 1.5.1.Final there was the issue:
https://github.com/quarkusio/q

[2020-06-22 13:33] knutwannheden commented on #10126
Yes, something like that sounds good to me. I can't really say if it should be `setBaseUrl()` or `setBaseUri()`. And possibly the `Test` suffix in `RestClientTest` is a bit confusing. Maybe something like `RestClientSupport`?

[2020-06-22 13:34] geoand commented on #10126
Yeah, makes sense

[2020-06-22 13:47] patriot1burke commented on #9194
@FroMage If you look at BufferImpl.getByteBuf() it does a copy of the underlying netty ByteBuf.  VertxBufferImpl does not.

https://github.com/eclipse-vertx/vert.x/blob/3.7/src/main/java/io/vertx/core/buffer/impl/BufferImpl.java#L472

There's a number of places in the quarkus code which access the underlying ByteBuf

FYI, undertow has the same VertxBufferImpl implementation and I derived resteasy'

[2020-06-22 13:47] akoufa opened #10162 "Kotlin Coroutines in Quarkus"
**Description**

Hello to all. I am lately heavily using Quarkus together with Kotlin and I would like to ask you what the progress is, if any, regarding Kotlin Coroutines support in Quarkus APIs. Providing suspendable function APIs, like for example my other feature [request](https://github.com/quarkusio/quarkus/issues/9003), will improve the Quarkus experience for Kotlin developers. Together wit

[2020-06-22 13:50] pilhuhn commented on #7536
@danielpetisme Do you have an error message for "not compatible" ?

[2020-06-22 13:53] pilhuhn commented on #9837
We also have that issue and apparently others. See e.g. https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/JaCoCo.20coverage.20and.20JDK.20versions

[2020-06-22 13:54] FroMage commented on #9194
Ah OK. Except apparently there's a bug somewhere wrt buffer deallocation, which leads to those warnings. How can we go about fixing that, if we can't take Vert.x's impl which doesn't have this bug?

[2020-06-22 13:55] pilhuhn commented on #9837
@famod So you built JaCoCo 0.8.6 locally with that change? Or is there a snapshot version already out in some repo?

[2020-06-22 13:56] gastaldi commented on #10079
Fixed in https://github.com/quarkusio/quarkus/commit/12bcdca84b7f40615a616c640ab56df0b526d7c5

[2020-06-22 13:56] #10079 closed

[2020-06-22 14:00] famod commented on #9837
@pilhuhn I had built this branch: https://github.com/jacoco/jacoco/pull/1057

See also: https://github.com/jacoco/jacoco/issues/331#issuecomment-645503438

[2020-06-22 14:04] patriot1burke commented on #9194
I don't know enough about vert.x or netty to give you a good answer.

[2020-06-22 14:11] patriot1burke commented on #9194
It looks to me like resteasy over raw vertx is not doing reference counting correctly and not really anything to do with the fact that VertxBufferImpl exists as a class.

[2020-06-22 14:13] EfraimLA commented on #10021
Ohhh sure that makes sense, in fact I did try putting the publicKey.pem there and even appeared in native building log, I'll confirm

[2020-06-22 14:14] FroMage commented on #9194
It's possible that both are related, in that vert.x will properly reference count its own buffer impl, and not ours?

[2020-06-22 14:15] patriot1burke commented on #9194
I do see in VertxBlockingOutput that I am releasing the ByteBuf on error.  This "bug" shows up when connection is closed in the middle of a request?  If so, the fact that VertxBlockingOutput releases the ByteBuf on errors might be the issue.

[2020-06-22 14:18] FroMage commented on #9194
I could test this, but I don't know if we should release it or not.

[2020-06-22 14:26] patriot1burke commented on #9194
I don't think I implemented the ByteBuf release code here (@johnaohara did):

https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/standalone/VertxBlockingOutput.java#L84

and defininately not here (that's your code stef):

https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy

[2020-06-22 14:30] FroMage commented on #9194
My commit, but code from @stuartwdouglas ;)

[2020-06-22 14:47] fgiloux opened #10163 "RFE: Default to Deployment rather than DeploymentConfiguration also for OpenShift"
**Description**
Not only for Kubernetes but also for OpenShift Deployment should be preferred to DeploymentConfiguration, cf OpenShift documentation:
https://docs.openshift.com/container-platform/4.4/applications/deployments/what-deployments-are.html#deployments-comparing-deploymentconfigs_what-deployments-are

Note that ImageChangeTrigger is also available with Deployment, this can be configured

[2020-06-22 14:57] geoand commented on #10163
Similar to: https://github.com/quarkusio/quarkus/issues/10055

@iocanel I think we need to rethink the Openshift target, or at least make it more configurable

[2020-06-22 15:09] geoand commented on #10162
cc @evanchooly

[2020-06-22 15:16] geoand commented on #10160
@kenfinnigan @asoldano have you encountered this sort of problem before?

[2020-06-22 15:23] kameshsampath opened #10164 "Adding Validations for Spring Projects"
**Description**
As Spring user when I new REST API project, many times we forget to add `@RestController` annotation, which results API not available. This is a very common mistake, it will be nice to add some validations which can check for `@RestController`  on the classes that has *Mappings.

CC: @geoand

[2020-06-22 15:23] kenfinnigan commented on #10160
Are there things you're doing with `RestClientBuilder` that precludes you from using direct CDI injection of the rest-client instance? Not an issue, more a curiosity.

This is for a test situation right, as you mention the mock taking 50ms previously?

Is it possible that the rest-client call is triggering retries and or timeouts which is why the response is taking longer?

[2020-06-22 15:44] geoand commented on #10164
#10165 fixes this

[2020-06-22 15:49] rt-chang opened #10166 "-Dquarkus.args cannot handle more than one argument in command line"
**Describe the bug**
When running applications in Maven with more than one command line argument for `-Dquarkus.args`, Quarkus is not capable of handling those arguments and passing them to the application

**Expected behavior**
In the example code linked below in reproduction steps, the expected behaviour is for the program to take 2 arguments (`--name` and `--day`) which should produce a message

[2020-06-22 15:53] evanchooly commented on #10162
We're working on a formal timeline but unofficially here's my short term plan:

1.  Finish the panache support (currently wrapping up the mongodb-panache support to mirror the JPA support).
2.  Make sure dev mode works properly for kotlin projects (there's a couple of issues on this and one PR underway that might clear them all up at once)
3.  It's not set in stone yet, but the kotlinx serializati

[2020-06-22 15:54] evanchooly commented on #10162
Also, my unordered, unprioritized working list:  https://github.com/quarkusio/quarkus/labels/area%2Fkotlin

[2020-06-22 16:17] smsajid opened #10167 "custom kubernetes labels not added to minikube.yml"
**Describe the bug**
I am trying to apply custom labels to generated kubernetes.yml and minikube.yml using the property:
quarkus.kubernetes.labels.Foo=Bar

I have added both the kubernetes and minikube plugin in my build.gradle file:
[code]

**Expected behavior**
Custom labels must be added to both yml files

**Actual behavior**
Labels only added to kubernetes.yml file but not to minikube.yml

kub

[2020-06-22 17:42] #9588 closed

[2020-06-22 18:07] bentito commented on #9317
Let me know if I can help at all in recreating or documentation. I have
latest CRC running on my Mac.

Brett Tofel
Sr. Software Engineer
Red Hat (OpenShift Metering)

On Mon, Jun 22, 2020 at 7:27 AM Georgios Andrianakis <
notifications@github.com> wrote:

[2020-06-22 18:16] vsevel commented on #9991
hello @radcortez
I agree my statement was a bit mysterious and confusing ;)
let's try to make it clearer:

the vault extensions can be used as:
- [a config source](https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSource.java): if you have `foo=bar` in vault at `secret/myapp`, then you will be able to inject property

[2020-06-22 18:20] #10164 closed

[2020-06-22 18:55] geoand commented on #9317
The problem is that the only thing I can do is develop the extension blindly and then give to someone as yourself to test it. I have no way of getting immediate feedback which is very very inefficient...

[2020-06-22 18:57] geoand commented on #10166
I wonder if this is a Windows cmd issue... In any case we probably should be going the extra mile to split the arguments

[2020-06-22 19:01] gastaldi commented on #10166
I can confirm this fails in Fedora 32 too

[2020-06-22 19:10] geoand commented on #10166
Interesting!

[2020-06-22 19:10] orpheusx commented on #8600
As of June 22, 2020, the documentation still doesn't say anything about the need to add `-Dnative-image.docker-build=true -Dquarkus.native.enable-jni=true` so why did this ticket get closed? At the very least the doc needs to be updated. Better yet, if the switches are always needed for the native images to work it seems like they should be added as part of the build process.

[2020-06-22 19:11] patriot1burke commented on #8600
Good point about doco, but those switches aren't required to build native if you are on Linux.

[2020-06-22 19:12] gunnarmorling opened #10168 "Report inconsistent recording method at extension build time"
**Description**

When declaring an inconsistent recorder method like this (`@Record` without recorder parameter):

[code]

Then an exception is only raised when running the extension instead of when building it:

[code]

[2020-06-22 19:15] orpheusx commented on #8600
Fair enough. I'm on a Mac fwiw. Is there a way to reopen this or should I just file a new ticket?

[2020-06-22 19:29] gastaldi commented on #10166
I managed to make it work by changing this line:

https://github.com/takari/maven-wrapper/blob/7039b05cfec0e8a729d6d84670433912e00c6aa5/mvnw#L301

to
[code]

@rt-chang can you perform this change locally and let me know if that works for you?

[2020-06-22 19:46] rt-chang commented on #10166
I was unable to get it to work locally. It produced the help text for Java's CLI

[2020-06-22 19:57] rt-chang commented on #10166
I noticed when looking at the [related PR for this feature](https://github.com/quarkusio/quarkus/pull/8433), that Quarkus handles the arguments differently for [quarkus.args](https://github.com/38leinaD/quarkus/blob/4a9495b95e290a285ca77ef1141ab480222362e0/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L648) versus [jvm args](https://github.com/38leinaD/quarkus/blob/4a9495b95e290a285ca

[2020-06-22 20:06] gastaldi commented on #10166
@rt-chang Good catch! I reused the same class to parse the JVM args and apparently it works. Let me provide a PR

[2020-06-22 20:14] patriot1burke commented on #8600
The lambda docs do talk about this switch, but dont' mention it within HTTP guide. Apologies.

[2020-06-22 20:20] patriot1burke commented on #8600
https://github.com/quarkusio/quarkus/pull/10171

[2020-06-22 20:20] patriot1burke commented on #8600
See about pull request just submitted.

[2020-06-22 20:26] rikkert09 commented on #8600
I was on linux but I still needed to set those two parameters.. Without those the image was not working

[2020-06-22 21:48] famod commented on #10156
First, the rather clear **intial persist** case (just as the original `spring-data` does it):

Call `persist()` (in that order):
- **if** a `@Version` field is present _and_ is not yet set
- **or** the id field is not yet set
- **otherwise** call `merge()`

That would cover the case custom id types + `@Version` field.

`Persistable.isNew()` could (or maybe should?) be added later for the folks usi

[2020-06-22 21:48] #9642 closed

[2020-06-22 22:38] famod commented on #10156
Secondly, I had a small debugging and testing session with a Quarkus test (1.4.2.Final) and this confirmed what I have seen in older projects with older Hibernate versions:
You _can_ call `persist()` with already existing entities, as Hibernate will render an **UPDATE** for that.

So in case we extend the list from my previous comment as follows:

Call `persist()` (in that order):
- **if** a `@Ver

[2020-06-22 22:46] EfraimLA commented on #10021
I confirm, Yes that's not a bug, thanks for help

I close issue

[2020-06-22 22:46] #10021 closed

[2020-06-23 01:03] k0l0ssus commented on #6515
@stuartwdouglas just so I understand, v1.5 has your fix? Because I used the reproducer in this issue and bumped Quarkus version up, same result.

[2020-06-23 01:18] gboro54 opened #10174 "QuarkusTestResources all started no matter what"
**Describe the bug**
I have 2 quarkus test and 2 seperate test resources (1 for starting a MySQL container and another for starting a LocalStack container). Each of the test classes are annotated  with @QuarkusTestResource for there resource.

**Expected behavior**
Since each test class is independent and has different resources I would expect to only see the resource assigned to that class to sta

[2020-06-23 02:04] stuartwdouglas commented on #6515
There was no fix, I wrote a test that passed so I could not reproduce the issue.

[2020-06-23 02:29] stuartwdouglas commented on #9693
Looks like I did a fix for this but must have forgotten to actually open the PR, oops.

[2020-06-23 02:52] imzahahs opened #10177 "Using square brackets in url causes URISyntaxException"
**Describe the bug**
Sending square brackets `[` or `]` for any url results in Internal Server Error page. Other symbols seem to work fine. Problem happens on deployed container as well, an error page is shown and `ExceptionMapper<Throwable>` is not honored. :/

**Expected behavior**
Should be handled as 404 instead

**Actual behavior**
HTTP 500 received with the following stacktrace.

[code]

**T

[2020-06-23 02:59] stuartwdouglas commented on #10122
Do you have any idea why getFile is returning null? Is there something different about this project?

[2020-06-23 03:37] stuartwdouglas commented on #10177
I could not reproduce this locally. Are you using proxy address forwarding by any chance?

[2020-06-23 05:17] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/144457804

[2020-06-23 05:34] kameshsampath commented on #10164
@geoand  - does this cover validating even with classes not having @RequestMapping ?? Say having @GetMapping @PostMapping at method level ?

[2020-06-23 05:34] geoand commented on #10164
Nope, it does not

[2020-06-23 05:43] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/144457725

[2020-06-23 05:52] kameshsampath commented on #10164
as discussed adding that would make this validation pretty much compelte.

[2020-06-23 06:03] geoand commented on #10164
#10179 does that

[2020-06-23 06:08] cescoffier commented on #10057
I believe there is a TODO in the code explaining that the server should be started in a verticle and the number of verticles should be configurable.

[2020-06-23 06:12] zhfeng opened #10180 "ClassNotFoundException when using narayana-jta extension in the native mode"
**Describe the bug**
There is a ClassNotFoundException when running the application with the narayana-jta extension in the native mode.

**Expected behavior**
It should not throw a ClassNotFoundException

**Actual behavior**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. create a simple quickstart example
[code]
2. add the narayana-jta extension
[code]
3. modify the GreetingResource.j

[2020-06-23 06:15] zhfeng commented on #10180
It looks like that *com.arjuna.ats.internal.arjuna.utils.SocketProcessId" should be added in the ReflectiveClass. Also the other classes which implement the *com.arjuna.ats.arjuna.utils.Process* interface should be added.

[2020-06-23 06:17] imzahahs commented on #10177
Hmm not that I'm aware of, I was able to reproduce it with a fresh Quarkus project from https://code.quarkus.io/. No additional changes, just run it and go to `http://localhost:8080/he[llo`

Here's an additional stacktrace from console:

[code]
I tried using Oracle JDK 11, GraalVM Java 11 and Adopt OpenJDK 11. Same results.

[2020-06-23 06:27] kameshsampath commented on #10164
👍🏻

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Georgios Andrianakis <notifications@github.com>
Sent: Tuesday, June 23, 2020 11:33:29 AM
To: quarkusio/quarkus <quarkus@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [quarkusio/quarkus] Adding Validations for Spring Projects (#10164)

#10179<h

[2020-06-23 07:08] geoand commented on #10156
So I assume that as a first step we should just add the `@Version` support that Spring Data proper has.

[2020-06-23 07:15] mkouba commented on #10020
I'm sorry but I'm not following. If you want to inject the beans directly in the template you need to use the `inject:`  namespace as described in the docs [Injecting Beans Directly In Templates](https://quarkus.io/guides/qute-reference#injecting-beans-directly-in-templates). Otherwise, you need to pass the bean reference as ordinary data.

`NOT_FOUND` means that some part of an expression is refe

[2020-06-23 07:39] mkouba commented on #10135
Hm, this should never happen because the list of beans is only modified when the `ArcContainerImpl` is constructed (bootstrap). I can see that you're using the `BeanManager` to obtain the set of beans. @lburgazzoli  How do you obtain the `BeanManager` instance and when?

[2020-06-23 07:50] daniel-alonso-sanchez commented on #9300
Same here

[2020-06-23 07:56] harshithpawar94 commented on #9969
Here is the sample project [link](https://bitbucket.org/harshithpawarg/quarkus-demo.git
) to reproduce issue.

[2020-06-23 08:16] lburgazzoli commented on #10135
[This](https://github.com/apache/camel-quarkus/blob/master/extensions-core/core/runtime/src/main/java/org/apache/camel/quarkus/core/RuntimeBeanRepository.java#L76-L83) is the current implementation, before it was as simple as

    Arc.container().beanManager()

That `RuntimeBeanRepository` is used by camel to look up beans from the container in which it runs. Note that I've noticed this problem on

[2020-06-23 08:22] Sanne commented on #10156
Is this `@Version` a custom semantics or is it the JPA `javax.persistence.Version` ? If it's just the JPA one then we obviously support it in Hibernate.

I'm not too fond of this plan overall though. The semantics of this are complex and confusing, and there's still plenty of cases in which the opereation will not do what the intention might have been.

It seems like there _might_ be a reasonable

[2020-06-23 08:38] famod commented on #10156
@Sanne

Default JPA, it seems:
https://github.com/spring-projects/spring-data-jpa/blob/2.3.1.RELEASE/src/main/java/org/springframework/data/jpa/repository/support/JpaMetamodelEntityInformation.java#L122

I see your point. It depends on how similar Quarkus' `spring-data-jpa` should be to the original one.
I do see good reasons to strife for equality but maybe without inheriting too many questionabl

[2020-06-23 08:42] mkouba commented on #10135
It's very likely that you try obtain the `BeanManager` from a reference to a container that is being currently shut down.

[2020-06-23 08:51] lburgazzoli commented on #10135
yes that's possible however I've no control about that, looking at the stack trace, camel is in its initialization phase so there should be something wrong either in how I did set-up the tests or how the unit tests are executed

[2020-06-23 09:08] adutra commented on #9183
This is indeed unfortunate but it doesn't seem to be our fault but rather network problems for the last 2 failed builds.

Last build error:

[code]

@gsmet do you know what's going on or how to fix this?

Builds dashboard: https://github.com/datastax/cassandra-quarkus/actions?query=workflow%3A%22Quarkus+ecosystem+CI%22

[2020-06-23 09:16] famod commented on #10174
Seems related: #9854

[2020-06-23 09:18] Sanne commented on #10156
Ok, it had forgot that the goal of this module is compatibility with the spring-data API.

Maybe a good middleground is to implement the reasonable conditions that @famod suggested, but:
- check for the model compatibility at build time
- warn explicitly about this being a rather bad idea, when the model is not compatible with such a strategy

I'll let @geoand decide :)

[2020-06-23 09:24] tkalmar opened #10183 "Openapi.yaml file is not consistent to api.json"
**Describe the bug**
We are using desing first for our REST-Api
The openapi.yaml file in swagger-ui, which is rendered with smallrye/openapi i think is not consistent with the api.json used to generate our REST- endpoints.
Vendor-Extensions of Path-Parameters are rendered on the operation not the Parameter.

**Expected behavior**
Vendor-Extensions of Path-Parameters are rendered on the parameter.

[2020-06-23 09:24] geoand commented on #10156
Yeah that sounds pretty reasonable to me - follow what Spring Data JPA does but also add proper warnings when we know things might not work that well.

[2020-06-23 09:24] tkalmar commented on #10183
cc @famod

[2020-06-23 09:35] florent-lb commented on #2052
I'm really fan to have this feature to quarkus, will you propose a synergy with microprofile rest client in future ? (like openFeign )?

[2020-06-23 09:41] csotiriou opened #10184 "Performance decrease w/Quarkus 1.5.0, Mongo Extension, Mutiny"
It seems that there is a considerable throughput performance hit (approx 40%) when upgrading one microservice from an older stack using Quarkus to a newer one.

Older stack:
- Quarkus 1.2.1
- JDK 8 (running in OpenJ9)
- MongoDB extension (with Completion Stages)
- SOAP Calls (but reproducible with HTTP REST, without SOAP)

Newer stack:
- Quarkus 1.5.0
- JDK 11 (running in OpenJ9)
- MongoDB extensi

[2020-06-23 09:52] tomsontom opened #10185 "CORS Error when Keycloak Token Timesout"
**Describe the bug**
If you enable OIDC Support with Keycloak calls to REST-APIs start to fail once the Token provided by Keycloak is timed out with an CORS-Failure like this:

[code]

**Expected behavior**
The timeout of the token should not lead to an error

**Actual behavior**
CORS Error produced

**To Reproduce**
Clone https://github.com/tomsontom/keycloak-cors/ and follow the steps there

**C

[2020-06-23 09:59] sberyozkin commented on #10185
@tomsontom Thanks.
So the question is, what happens with the very 1st successful `http://localhost:8080/hello` request ? This should also do a redirect.

[2020-06-23 10:01] sberyozkin commented on #10185
CC @pedroigor @stuartwdouglas

[2020-06-23 10:11] zkhan96 opened #10186 "RESTful Quarkus serverless cold start times are very slow on AWS"
**Describe the bug**
I seem to have cold start times of 11s when doing any rest call to my quarkus app in AWS lambda deployed by `sam deploy`

The app is using API gateway as a proxy to talk to an endpoint on the app.

The app connects to RDS PostgreSQL using a custom credentials provider, does a GET on a very small payload, and returns the JSON to the client.

**Expected behaviour**
Cold start ti

[2020-06-23 10:14] famod commented on #10156
Btw, as long as `Persistable.isNew()` is _not_ evaluated there should be at least a hint here: https://quarkus.io/guides/spring-data-jpa#what-is-currently-unsupported

I am not sure whether a warning could be implemented because `Persistable.getId()` is already in use.

[2020-06-23 10:20] banovp commented on #10160
Hi,
we are using a mock service only for testing and after deployment the client is calling a remote service. In both cases a client based on _ApacheHttpClient43Engine_ is very very slow, there is no real difference in the performance, it's just very bad. With the URLConnectionEngine on the other hand both clients are very fast, as before. To force usage of the URLConnectionEngine we've replaced t

[2020-06-23 10:21] sberyozkin commented on #10185
It feels like it is about tweaking the same origin browser policy somehow.

[2020-06-23 10:25] tomsontom commented on #10185
@sberyozkin well why should the first request lead to a redirect? The user logs when one fetches the index.html site and hence the token is valid at that point.

Now the page does not get reloaded for $x minutes and when issuing a request afterwards no cookie is sent with the request:

Working GET-Call:
[code]

Failing GET-Call
[code]

[2020-06-23 10:34] FroMage opened #10187 "Hibernate Reactive bug with generated IDs"
When using generated IDs such as:

[code]

in HR I get:

[code]

This is because `ReactiveIdentifierGeneratorFactoryInitiator` is supposed to take over the metamodel's `IdentifierGenerator` creation, but it gets registered too late after ORM is booted and has built its metamodel with the JDBC `IdentifierGenerator`.

ATM for ORM we register `QuarkusMutableIdentifierGeneratorFactoryInitiator` in `Re

[2020-06-23 10:39] sberyozkin commented on #10185
@tomsontom My assumption has been that the user logins with the very 1st GET to the hello endpoint...
OK, I think we are getting closer to the route of the problem... But we need a consistent view of what is going on. I propose to focus on a single Quarkus resource only, be it either `index.html` (which is shipped with Quarkus) or `localhost:8080/hello`.
Let it be `index.html`
So, Tom, please past

[2020-06-23 10:41] jmartisk opened #10188 "Support exposing metrics from Neo4j driver"
Neo4j driver has got built-in support for connection pool metrics. We just need to bridge them into our metrics extension to be able to automatically expose them to the outside world.

[2020-06-23 10:53] tomsontom commented on #10185
Ok so the initial fetch of index.html looks like this:

*General:*
[code]

*Response Headers:*
[code]
*Request Headers:*
[code]
which leads to:

*General*
[code]

*Response Headers:*
[code]
*Request Headers:*
[code]
*Query String Parameters:*
[code]

[2020-06-23 11:00] famod commented on #10174
@geoand this topic seems to be coming back again and again (in various manifestations).

I was thinking that maybe `QuarkusTestResourceLifecycleManagers` could somehow be started lazily?
I suppose in that case a manager could not contribute system properties anymore?

[2020-06-23 11:01] tomsontom commented on #10185
Now executing the log-in leads to:
*General:*
[code]
*Response Headers:*
[code]
*Request Headers:*
[code]
*Query String parameters:*
[code]
*Form Data:*
[code]
followed by the following request sequence

*General*
[code]
*Response headers:*
[code]
*Request headers:*
[code]
*Query String Parameters:*
[code]
followed by the following sequence:

*General*
[code]
*Response headers:*
[code]
*Request he

[2020-06-23 11:02] geoand commented on #10174
With the current design we can't have that - `QuarkusTestResourceLifecycleManager` is started for `all` tests.

However, with the advent of `QuarkusTestProfile` we do plan to make test profile specific `QuarkusTestResourceLifecycleManager` work

[2020-06-23 11:07] famod commented on #10174
How is `QuarkusTestProfile` going to work? Do I have to activate it via a property?

[2020-06-23 11:09] k0l0ssus commented on #6515
Oh. There's a reproducer attached to this issue already @stuartwdouglas

[2020-06-23 11:10] geoand commented on #10174
It already works, take a look at the examples in the codebase.

What isn't there is integration with `QuarkusTestResourceLifecycleManager`

[2020-06-23 11:14] tomsontom commented on #10185
If i now rerequest the index.html after the timeout i get the following perfectly fine series of calls:
*General:*
[code]
*Response Headers:*
[code]
*Request Headers:*
[code]
leading the following call sequence:

*General:*
[code]
*Response Headers:*
[code]
*Request Headers:*
[code]
*Query String parameters:*
[code]

who then leads to the following call:

*General:*
[code]
*Response Headers:*
[cod

[2020-06-23 11:19] tomsontom commented on #10185
The very same call sequence is work if I enter `/hello` and keep calling it after the timeout i then get something like this:
*General:*
[code]
*Response Headers:*
[code]
*Request Headers:*
[code]
leading to:
*General:*
[code]
*Response Headers:*
[code]
*Request Headers:*
[code]
*Query String Parameters:*
[code]
Leading to:

*General:*
[code]
*Response Headers:*
[code]
*Request Headers:*
[code]
*Q

[2020-06-23 11:32] tomsontom commented on #10185
Well now it gets interesting when I compare the response provided by keycloak by invoking "/hello" via the browser I see

[code]

When if that happens through an XHR it is:
[code]

[2020-06-23 11:38] sberyozkin commented on #10185
Hi @tomsontom
So, if we just drive it via the browser then it is not a problem at all, be it `index.html` or `localhost:8080/hello`.
If XHR is involved then it enforces the same origin policy - I think Keycloak has to be configured to enable the CORS.
Does it sound right ? CC @pedroigor

[2020-06-23 11:40] sberyozkin commented on #10185
@tomsontom Example, https://github.com/mauriciovigolo/keycloak-angular/issues/91, or search for `Keycloak CORS`

[2020-06-23 11:46] tomsontom commented on #10185
this is correct but we configured CORS in Keycloak

<img width="1188" alt="Bildschirmfoto 2020-06-23 um 13 46 24" src="https://user-images.githubusercontent.com/52631/85399961-f2e38280-b557-11ea-813e-064542ab0243.png">

[2020-06-23 11:48] tomsontom commented on #10185
we also tried with using "Access Type": Public but that did not change anything

[2020-06-23 11:50] Biratus commented on #10114
up

[2020-06-23 11:54] daniel-alonso-sanchez commented on #9300
Well, I was wrong. The problem in my app was related with the stax api dependency, introduced as a transitive one through min.io java client.

After excluding it, everything went fine.

[2020-06-23 11:56] famod commented on #10174
Ok found the docs: https://github.com/quarkusio/quarkus/pull/9933/files#diff-47ba67a53b8e59e00a94c37fdc60c396

This is a nice improvement. I don't like the sort-by-package approach since packaing shoud be driven by business (and visibility) rules but I do know you cannot do anything about sorting test classes since surefire plugin is deciding that on its own.

I guess `-Dtest=...` will only active

[2020-06-23 12:00] geoand commented on #10174
The sorting is proposed as a way of minimizing the number of restarts necessary.

It should. If it doesn't, then please open an issue

[2020-06-23 12:06] kenfinnigan commented on #2052
@florent-lb I don't think MP REST Client would integrate with Eureka because MP REST Client expects to be in a container type environment

[2020-06-23 12:07] sberyozkin commented on #10185
@pedroigor Hi Pedro, can you have a look please ? I'm pretty sure now that it is a Keycloak issue

[2020-06-23 12:08] famod commented on #10174
Btw, back in 2017 there was an attempt to add custom sorting strategies to surefire: https://github.com/apache/maven-surefire/pull/169

[2020-06-23 12:13] sberyozkin commented on #8719
Hi @pedroigor I'm planning to do a PR a bit later which can let the users use the access token as the source of the roles in the code flow, I'll CC you :-)

[2020-06-23 12:13] michalszynkiewicz commented on #9766
@xmlking thanks for the report!
Could you simplify the reproducer a bit?
This one uses quarkus-grpc together with kotlin-grpc and the gradle confing is not that simple, it's not that easy for me (being gradle noob) to spot what the problem is with it.

[2020-06-23 12:14] michalszynkiewicz commented on #9766
Also, quarkusDev starts for me locally with the EchoService0 uncommented, on the current `develop` branch

[2020-06-23 12:14] #5867 closed

[2020-06-23 12:15] sberyozkin commented on #5867
@emmanuelbernard Hi, last issue fixed for 1.6.0, so the epic is finally resolved :-)

[2020-06-23 12:16] gboro54 commented on #10174
are QuarkusTestProfile in 1.5.2.Final?

[2020-06-23 12:17] emmanuelbernard commented on #5920
@maxandersen ping the pinger

[2020-06-23 12:17] geoand commented on #10174
No, it will part of `1.6.0.Final`

[2020-06-23 12:20] gboro54 commented on #10174
Ignore I can see that its targeted towards 1.6.0

[2020-06-23 12:20] sberyozkin commented on #7414
@DorianMaliszewski Hi, interesting, how is the bearer token bound to this ticket ?

[2020-06-23 12:25] aloubyansky commented on #7140
The issue described in the original description appears to be fixed in 1.5.0.Final. Please, give 1.5.2.Final a try and if it still fails for some of you, please, open a new issue with a reproducer and/or detailed instructions to reproduce the issue. Thanks everyone!

[2020-06-23 12:25] #7140 closed

[2020-06-23 12:27] emmanuelbernard opened #10189 "Move Gradle out of beta"
**Description**

There are some corner cases while using Gradle quarkus tooling or the gradle file is not behaving well.

This issue is to collect the known "bigger" issues for info.

related:
https://github.com/quarkusio/quarkus/pull/4905#issuecomment-546851800
update documentation to have both maven and gradle variation

Definition of move Gradle out of beta (2020-05-20)
Good parts:
  - we have

[2020-06-23 12:29] emmanuelbernard commented on #10189
Hey all, Please enlist to #5101 as it is the follow up actions post 1.6

[2020-06-23 12:30] sberyozkin commented on #10185
Hi @tomsontom If you are not too tired after tracing it :-), can you please do one more trace with XHR on:
1. initial `index.html` pull which causes the login.
2. `index.html` after the ID token expiry
(or `localhost:8080/hello` with XHR).
There is still some grey area,  why it works during 1. with XHR

[2020-06-23 12:33] emmanuelbernard commented on #5101
Hey all, Please enlist to #10189 as it is the follow up actions post 1.6.

[2020-06-23 12:37] famod commented on #10122
@stuartwdouglas I'm not sure who you wanted to adress with your question but from my POV the only special thing here is that the h2 dependency is just present in a profile.

[2020-06-23 12:50] tomsontom commented on #10185
Not sure I can follow to provide the required information correctly let me rephrase to see if I got this right:
* Trace the opening of index.html in the browser (I think that trace is already above)
* Trace the opening of index.html after the expire in the browser

our do you want me to rewrite the app the fetch index.html via XHR or how should i initialize a XHR without loading some html/js code.

[2020-06-23 12:55] aloubyansky commented on #10122
It looks like it's related to the fact the `server` has neither sources nor resources, so it will end up being packaged an empty JAR. But until the packaging phase, there is literally no real content. So that may explain the null and why `mvn -f server package` works.

[2020-06-23 12:56] emmanuelbernard commented on #7876
Hey all, I'm wondering of the status of this? Is it blocking on the quarkus team size? You think we can get it ready for 1.6 say core final? https://github.com/quarkusio/quarkus/wiki/Release-Planning#16 /CC @tomekl007 @gsmet

[2020-06-23 12:58] UnvirtualHH commented on #7876
Well, 1.0.0-alpha1 has been released...and I already use it. So I'm in good hope it will be final soon ;)

[2020-06-23 12:59] tkalmar commented on #10122
@famod The dependency is not the problem, even if you remove this dependency from the profile getFile is null. Perhaps the maven model is built different for profiles than for "normal" runs? Even if i dumb donw the example to a single module with one rest resource i get the NPE when building from profile ...

[2020-06-23 13:04] jaikiran commented on #10160
Hello @banovp, is there an application you can share with us (preferably as a github repo) which reproduces this issue? Or maybe your application.properties contents?

[2020-06-23 13:05] aloubyansky commented on #10122
Could you push that single module example somewhere on github? Or zip it and attach to this issue? Thanks @tkalmar

[2020-06-23 13:12] tkalmar commented on #10122
https://github.com/tkalmar/quarkus-reproduce-9546/tree/reproduce_npe_profile_build_minimal

[2020-06-23 13:15] sberyozkin commented on #10185
@tomsontom sorry, never mind, I think I have a clear picture now of what is going on.
It is just a coincidence that you see the issue for the first time only when the token expires - this is because your very first login does not go via XHR. If your first access to the Quarkus endpoint was going via XHR then you'd see it immediately.
So it is really about getting Keycloak responding with the expec

[2020-06-23 13:19] aloubyansky commented on #10122
In this case it hasn't been compiled. If you do `compile quarkus:build` it'll work

[2020-06-23 13:21] aloubyansky commented on #10122
or
[code]

[2020-06-23 13:28] tkalmar commented on #10122
Indeed, it has nothing to do with profile :/ mvn quarkus:build without compile NPEs also, works with quarkus 1.4.2Final, so this is a regression as @famod stated.

[2020-06-23 13:34] aloubyansky commented on #10122
It's not true though that it actually worked in 1.4.2.Final. What happened in that version the resolver would simply pick up your previously installed JAR from the local repo. It's easy to reproduce using your minimal example. Remove the server artifact from your local repo and re-run.
We never did automatic compilation in the BuildMojo (unlike in DevMojo).

[2020-06-23 13:42] tkalmar commented on #10122
You are right. The Errormessage is not optimal in both versions, but i think  `NullPointerException`instead of `...Could not find artifact` is no improvement.

[2020-06-23 13:47] aloubyansky commented on #10122
Well, if we are going to play that game...:) What's better: to fail fast with an NPE or be fooled by running stale code? :D
We do agree it needs to be properly fixed. No doubt about that :)

[2020-06-23 13:54] tkalmar commented on #10122
I vote for fail fast ;)

[2020-06-23 14:00] vishalgoel1988 opened #10191 "Quarkus k8s image push does not work with kubectl external authentication"
**Describe the bug**
Hi,

I am trying to deploy a quarkus application in kubernetes cluster (EKS) using quarkus kubernetes extension.

During mvnw package, I see below error in mvn output (though build is shown as success). I have "aws" in my path and even on same console, I am able to run aws command.

[INFO] --- quarkus-maven-plugin:1.4.2.Final:build (default) @ security-keycloak-authorization-q

[2020-06-23 14:01] aloubyansky commented on #10122
BTW, while we certainly could copy "auto-compile" from the DevMojo to BuildMojo, I don't feel good about that idea. It has its limitations. I'd prefer throwing an error if a project hasn't been compiled yet instead in this case.
Just in case, here is a fix
[code]

[2020-06-23 14:04] geoand commented on #10191
@iocanel @manusa this looks like a bug in the Kubernetes, right?

[2020-06-23 14:09] ctron opened #10193 "Allow logging with timestamps at UTC"
**Description**

It should be possible to configure the timestamps for logging to UTC. Having the option to show the timezone is fine, but for aggregated logging, it should be possible to configure the logging system to UTC (for the logs only, not the full JVM).

Most logging frameworks can to this out of the box (Logback, JBoss Logging, Log4J2, …) Quarkus should be able to do that too.

**Impleme

[2020-06-23 14:23] YusufIsah opened #10194 "URL is not defined for datasource error when using quarkus.datasource.db-kind=postgresql on a properties file"
**Description**
- warn that you used an incorrect property name
- in the URL not defined error, we could give you the property name to use.
I was confused because I thought I was using the correct datasource url, unknowingly that I was missing jdbc in the url. At the very least, we could have the above message as part of the error message

**Implementation ideas**
(If you have any implementation i

[2020-06-23 14:26] adutra commented on #7876
Hey @emmanuelbernard thanks for checking in!

Indeed we released [1.0.0-alpha1](https://github.com/datastax/cassandra-quarkus/releases/tag/1.0.0-alpha1) yesterday (official announcements should follow this week).

Our next step now is to open a PR for quarkus-platform and include our extension as part of the platform. We already have the PR up in our internal fork, it's just a matter of opening it

[2020-06-23 14:47] tomsontom commented on #10185
so one more info: If I turn off CORS in Chrome then everything is working fine so it is definately a client problem

[2020-06-23 14:47] tomsontom commented on #10185
so one more info: If I turn off CORS in Chrome then everything is working fine so it is definately a client problem

[2020-06-23 14:50] ejba commented on #10194
Could a warning telling the `quarkus.datasource.jdbc.url` property is empty solve the problem?

[2020-06-23 14:51] manusa commented on #10191
It sure seems a problem in Kubernetes Client.

It seems the `aws` command cannot be found when [starting the process](https://github.com/fabric8io/kubernetes-client/blob/0114600f6f73196fc75e2d8774914a68721c6f53/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L570) to retrieve the OAuth token.

See also: [client-go-credential-plugins](https://kubernetes.io/docs/reference/ac

[2020-06-23 15:04] emmanuelbernard commented on #10194
@YusufIsah can you paste your exception stack, that would help to do a quick win on this one. Trying to find where trhings are triggered to opportinustically have the right message if we can't do holistically yet

[2020-06-23 15:06] vishalgoel1988 commented on #10191
My kubectl cli works perfectly with just "aws" in kube config. Just a note that I am running all this on windows.
If I put my full aws.cmd path in my kube config, quarkus works perfectly.

[2020-06-23 15:11] manusa commented on #10191
:+1: So it's definitely a problem with `ProcessBuilder` not using your env PATH.
This could probably get fixed by wrapping the command in the [ProcessBuilder](https://github.com/fabric8io/kubernetes-client/blob/0114600f6f73196fc75e2d8774914a68721c6f53/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L558) with `sh -c aws` (*nix) or  `cmd /C start aws` (windows).

[2020-06-23 15:17] emmanuelbernard commented on #10194
[code]

[2020-06-23 15:39] viniciusfcf opened #10198 "Race in the pool using PgPool"
**Describe the bug**
Running a little load test using jaxrs, mutiny and reactive-pg-client the throughput was worst (6x) than using only jaxrs and panache.

**Expected behavior**
Throughput should be better using mutiny and reactive-pg-client.

**To Reproduce**
Steps to reproduce the behavior:

**Packaging and running the application**
1. `git clone github.com/viniciusfcf/quarkus-benchmark/`
2. `d

[2020-06-23 15:51] sberyozkin commented on #10185
@tomsontom Thanks. By the way, what Keycloak version do you use ?

[2020-06-23 16:29] famod commented on #10122
Okay, trying to catch up: So you are saying that the build goal depends on `traget/classes` (which is created by resources plugin) even if this is more less empty? Am I missing something?

[2020-06-23 16:32] tomsontom commented on #10185
See https://github.com/tomsontom/keycloak-cors/#environments but locally i also gave 10.0.2 a try without any difference - if time permits in the evening i‘ll put a proxy infront of both and experiment what headers are missing

[2020-06-23 16:36] famod commented on #10156
Whoever is taking a stab at this: Would this be a candidate for 1.6.1/.2 or is it 1.7.0 only?

[2020-06-23 16:52] aloubyansky commented on #10122
If there are no sources and no resources and the artifact hasn't been previously packaged, it's not resolvable.

[2020-06-23 16:57] emmanuelbernard commented on #7876
Depends what you call alpha. But if that's supposed to work then we can mark the extension with status experimental. that's fine. If that's barely compiling, then that's a different story

[2020-06-23 17:04] cassunde commented on #9076
Hi @fabiojapa you started the implementation?

[2020-06-23 17:22] csotiriou commented on #10184
Hello,

Just to add to this issue, I switched to the synchronous client in MongoDB, and I still faced problems. I decided to make another test:

- Use the **synchronous** MongoDB driver, but return it using `Uni.createFrom().item(response)` (just to expose `Uni` interfaces, for testing)
- Use the synchronous MongoDB driver again, but encapsulate it in RxJava's `Single`, to simulate as much of the

[2020-06-23 17:40] geoand commented on #10156
I doubt I'll have time for 1.6, but you never know

On Tue, Jun 23, 2020, 19:36 Falko Modler <notifications@github.com> wrote:

[2020-06-23 17:45] MarcusBiel commented on #10128
Ok, I was able to fix the ClassNotFoundException by adding a reflection-config.json. However, now I still get an error when sending out emails - the external library uses it's own version of Jackson it seems, this is not working in native mode, and therefore the body send to the external endpoint is empty.
Updated the reproducer here:  https://github.com/MarcusBiel/quarkus-sample

[2020-06-23 18:01] MarcusBiel commented on #10128
Tried to exclude Jackson, so that the quarkus-jackson dependencies are used instead. No success yet:
        <dependency>
            <groupId>com.sendgrid</groupId>
            <artifactId>sendgrid-java</artifactId>
            <version>4.6.0</version>
            <exclusions>
                <exclusion>
                    <artifactId>com.fasterxml.jackson.core</artifactId>
                    <

[2020-06-23 18:02] #10122 closed

[2020-06-23 18:05] #10153 closed

[2020-06-23 18:12] machi1990 commented on #10131
Should’ve been fixed by #10060

[2020-06-23 18:12] #10131 closed

[2020-06-23 19:45] sebthom commented on #9895
This is a much needed feature. We have a complex staging process with multiple environments per stage and need to mix/reuse profiles. We use multiple profiles with Spring Boot and now try to transition to Quarkus.

[2020-06-23 19:50] geoand commented on #10174
@famod did you try using the test profile? Do you have any feedback?

[2020-06-23 19:57] survivant commented on #9970
create a POC trying to get 1 Producer, multiple consumers
https://github.com/survivant/quarkus-pubsub-poc

[2020-06-23 20:10] vishalgoel1988 opened #10201 "Quarkus path based authentication"
**Describe the bug**
Hi,

It seems that path based authentication policy does not work. I have following in my application.properties.
#authn
quarkus.http.auth.permission.authenticated.paths=/*
quarkus.http.auth.permission.authenticated.policy=authenticated
#allow /health/* always for probeness
quarkus.http.auth.permission.health.paths=/health/*
quarkus.http.auth.permission.health.policy=permit
qu

[2020-06-23 20:17] Sanne commented on #10131
right, I forgot to close this issue. Thanks @machi1990 !

[2020-06-23 20:21] famod opened #10202 "Unable to set logfile name/path for QuarkusTests"
**Describe the bug**
When executing tests (via maven surefire), `quarkus.log.file.enable=true` (via `-D` or `application.properties`/`.yaml`) enables logging to `target/quarkus.log` (default). So far so good.
But setting `quarkus.log.file.path=quarkus-test.log` has _no_ effect, Quarkus always seems to log to `quarkus.log` for tests.

**Expected behavior**
`quarkus.log.file.path` shoul be picked up

[2020-06-23 20:22] famod commented on #10202
cc @tkalmar & @harthorst

[2020-06-23 20:26] sberyozkin commented on #10201
@vishalgoel1988 I think it was fixed for 1.6.0, hi Pedro @pedroigor can you check please ?

[2020-06-23 20:31] famod commented on #10202
I guess that explains it:
https://github.com/quarkusio/quarkus/blob/1.5.2.Final/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L367

https://github.com/quarkusio/quarkus/blob/1.5.2.Final/test-framework/common/src/main/java/io/quarkus/test/common/PropertyTestUtil.java

But why?

cc @geoand

[2020-06-23 20:34] pcasaes opened #10203 "Allow Quarkus Scheduler to handle concurrent execution"
**Description**
According to the docs Quarkus Scheduler allows concurrent execution

https://quarkus.io/guides/scheduler

It would be nice to be able to prevent concurrent execution.

**Implementation ideas**

We can add a property to the `Scheduled` annotation that would control this. It would default to the concurrent behavior of course.

[2020-06-23 20:40] famod commented on #10174
@geoand

No, sorry. Busy with other stuff.

[2020-06-23 20:41] geoand commented on #10174
No worries, thanks

[2020-06-23 21:08] bcluap opened #10204 "ContainerRequestFilter: Exception reading input stream on HTTP/2"
**Describe the bug**
java.lang.IllegalStateException: Request has already been read when trying to read requestContext.getEntityStream() in a ContainerRequestFilter when the client calls with HTTP/2.

**Expected behavior**
Filters should be able to read the stream as per HTTP/1.x

**Actual behavior**
Exception as follows:
[code]

[2020-06-23 21:10] geoand commented on #10202
An oversight most likely. https://github.com/quarkusio/quarkus/pull/10205 should fix the issue (for system properties, for `application.properties` it doesn't have an effect)

[2020-06-23 21:11] bcluap commented on #10204
Forgot to mention this only happens when undertow is used. Removing undertow from POM and it works fine.

[2020-06-23 21:14] famod commented on #10202
Oh wow, very quick PR. Thanks!

Do see any chance to make it work for app properties as well?

[2020-06-23 21:15] geoand commented on #10202
Yeah, we probably could make it work, but it's more work that I am not sure is worth the trouble 😁

[2020-06-23 21:50] aloubyansky commented on #3066
We just don't see these files. We rely on `ResolvedConfiguration.getResolvedArtifacts()` [1] which does not include files. `ResolvedConfiguration.getFiles()` does.

[1] https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java#L241

[2020-06-23 21:53] fabiojapa commented on #9076
Hi @cassunde I didn't.

[2020-06-23 22:30] Karm commented on #9816
It works. Thank you for the hint @diegokogan

[2020-06-23 22:30] #9816 closed

[2020-06-23 23:30] cassunde commented on #9076
Hi @cescoffier, is there a documentation or specification to follow? what is the best way to start this implementation?

[2020-06-24 02:06] erikcostlow opened #10207 "Missing authorization with"
**Describe the bug**
Panache-ORM automatically creates a CRUD endpoint for each entity. The interface stubs out the CRUD part but does not appear to provide an override-able mechanism for implementing authorization - as a result any user who can CRUD one object can CRUD them all.

**Expected behavior**
Users can only interact with object that they are allowed.

**Actual behavior**
Users can intera

[2020-06-24 04:51] vishalgoel1988 commented on #10201
Hi,

Is there any expected release time for 1.6.0?

[2020-06-24 04:59] #10096 closed

[2020-06-24 05:02] #10202 closed

[2020-06-24 05:18] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/145738371

[2020-06-24 05:33] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/145738316

[2020-06-24 06:19] richiethom commented on #6376
I think this issue might be the problem I'm having with injecting the context into a Funqy function. [The Guide](https://quarkus.io/guides/funqy#context-injection) says you can do it but it doesn't work. Debugging locally using SAM shows that the context gets as far as LambdaHttpHandler, but no further.

[2020-06-24 06:20] johnaohara commented on #7175
The first techempower run that includes an idiomatic implementation has completed.

https://www.techempower.com/benchmarks/#section=test&runid=c5c1d265-ed92-4e9d-956d-6b8265839bc1&hw=ph&test=composite&l=zijbpb-f&a=2

[2020-06-24 06:20] #7175 closed

[2020-06-24 07:20] geoand commented on #10156
Actually, I'll take a look at adding support for `@Version` as this seems to be used quite widely and as already mentioned it is what regular spring-data-jpa does.

But I don't think I'll be doing anything more for this ticket unless we find a really good reason to

[2020-06-24 07:21] tomsontom commented on #10185
So yesterday I hacked into quarkus and added the following headers:
* Access-Control-Allow-Origin: *
* Access-Control-Allow-Methods: *
* Access-Control-Allow-Headers: *

But that did not change anything (I already suspected that) adding them to keycloak is a bit trickier so I have not yet done that. As we already suspected this looks like a keycloak problem because it does not send CORS-Headers re

[2020-06-24 07:38] geoand commented on #7486
This is related to #10055

[2020-06-24 07:54] famod commented on #10202
Thanks for (partially) fixing it!

The thing is that I lost time trying to figure out what is going on and this might also happen to others.
I'll create another ticket then so that other users can find the problem more quickly.

[2020-06-24 07:57] famod commented on #10156
@geoand Are you going to extend https://quarkus.io/guides/spring-data-jpa#what-is-currently-unsupported as well?

There could be a link to the spring docs ("Entity State-detection Strategies") and some notes what is not (yet) covered or is covered differently.

[2020-06-24 08:12] ia3andy opened #10209 "Make it possible to customize the behavior when a Qute value is missing"
**Description**
Currently, when a Qute value is missing, it is replaced by `NOT_FOUND` in the rendered result.
It would be useful to be able to let the consumer choose what he want to do: warning log, fail, use `NOT_FOUND`, use something else.

**Implementation ideas**
Maybe we should be able to define some kind of `String MissingValueProvider#get(String expression)` in which we could  either retu

[2020-06-24 08:22] mkouba commented on #10209
It is possible to customize this behavior but it's not documented yet ;-). You can register a `io.quarkus.qute.ResultMapper` via `io.quarkus.qute.EngineBuilder.addResultMapper()` that handles `io.quarkus.qute.Results.Result.NOT_FOUND`, e.g. something like:
[code]
In quarkus we use a result mapper to escape characters for HTML.

[2020-06-24 08:24] ia3andy commented on #10209
@mkouba ah cool :) closing then!

[2020-06-24 08:24] #10209 closed

[2020-06-24 08:26] mkouba commented on #10209
I think that we have an issue to document the SPI. But it's a low priority given the fact that it's still evolving...

[2020-06-24 08:30] theute opened #10210 "Smallrye reactive messaging: CommitFailed never recovered the connection"
As described here: https://github.com/smallrye/smallrye-reactive-messaging/issues/518
Seems fixed, but we'll need the fix "in" Quarkus

Thanks !

[2020-06-24 09:12] geoand commented on #10156
#10211 adds support for checking `@Version` and if it exists, using it to decide which `EntityManager` method to call.

[2020-06-24 09:13] geoand commented on #10156
I am not sure what you want to add in the docs. Assuming we have #10211, what else would be missing from our spring-data-jpa stuff WRT state detection?

[2020-06-24 09:18] geoand commented on #10207
cc @gytis

[2020-06-24 09:19] geoand commented on #10204
cc @stuartwdouglas

[2020-06-24 09:38] sberyozkin commented on #10201
`CR1` will be coming shortly, however I'm not 100% sure about the fix. Are you using `quarkus-keycloak-authorization` and would like some resources be public, `/health/*' etc ? If yes then I'm pretty sure it was resolved but you'd likely need to use keycloak-authorization policy, Pedro @pedroigor can confirm

[2020-06-24 09:41] ia3andy commented on #10209
@mkouba I tried this:
[code]

ended up with:
[code]

[2020-06-24 09:42] sberyozkin commented on #10185
Hi @tomsontom Right, CORS headers returned by Quarkus are only needed when the Quarkus resources are accessed (they will likely need to be setup anyway once Keycloak CORS issue is resolved since the user will be getting via XHR back to Quarkus).
It can also make sense to post to the Keycloak forum

[2020-06-24 09:44] adutra commented on #7876
Not only it compiles, but it is already being tested by some early adopters. So IMO it would be fair to ship ti with experimental status.

[2020-06-24 09:47] sberyozkin commented on #10185
@tomsontom Can you do a quick try and set the Keycloak web-origin property to `http://localhost:8080/`, note the trailing `/` ? Or may be have both `http://localhost:8080/` and `http://localhost:8080`. It might be just an exact match issue...

[2020-06-24 09:47] maxandersen opened #10212 "Integration Tests for command mode apps"
**Description**
Currently IT tests assumes the app being tested are a long running serving apps leaving users of command mode in the dark.

Right now if you add a `@NativeImageTest` it launches the command mode app which with zero arguments which then abruptly exits making the test fails as expected it launches.

I'm wondering if we should introduce a way to test command mode apps and I can see tw

[2020-06-24 09:50] sirAlexanderT commented on #9428
@gsmet @geoand running Quarkus 1.5.2 there is not much change I'm afraid, times seem worse by a second

" on JVM (powered by Quarkus 1.5.2.Final) started in 3.377s. " :(

[2020-06-24 09:58] geoand commented on #9428
If you can provide us with a sample, that would be great, because the ones we tested definetely didn't show that behavior

[2020-06-24 09:59] vishalgoel1988 commented on #10201
I have keycloak-authorization-policy in my pom, but I have disabled policy-enforcer in application.properties.
I want to allow /health/* outside of authentication. Obviously it is out of authorization as policy-enforcer is off.

[2020-06-24 10:00] FroMage commented on #10207
Wouldn't it be enough to put security annotations on your CRUD interface?

[2020-06-24 10:06] mkouba commented on #10209
Hm, that's possible. Let me try this, write a test and fix a bug ;-)

[2020-06-24 10:15] rsvoboda opened #10214 "Quarkus project compilation fails when && is present in path - e.g. 'RHEL8 && large'"
Quarkus project compilation fails when && is present in path - e.g. 'RHEL8 && large'
I have Jenkins matrix job running on RHEL 8 slaves with large size and Quarkus compilation fails.

Reproducer:
[code]

Quite interesting observation is that the build passes when only the `extensions/grpc/runtime` module is picked, but it fails when `extensions/grpc` or full build is executed
[code]

Details:
[cod

[2020-06-24 10:27] emmanuelbernard commented on #7876
Cool. Please open the PR to the platform project and let's get it in. @mention me as I'm interested.

[2020-06-24 10:31] geoand commented on #10194
@emmanuelbernard I assume the quick win you are referring to is to warn users to use `quarkus.datasource.jdbc.url` instead of `quarkus.datasource.url`?

[2020-06-24 10:38] emmanuelbernard commented on #10194
The absolute minimal is to catch agroal's config exception and hint that maybe they use quarkus.datasource.url vs quarkus.datasource.jdbc.url.
Next level but super easy too is to check if quarkus.datasource.url is present and not quarkus.datasource.jdbc.url and raise an explicit message (vs a hint).
Ideally we could even move that from the agroal extension to the shared datasource extension that g

[2020-06-24 10:39] geoand commented on #10194
I'll mark this as a `good first issue` then :)

[2020-06-24 10:40] sirAlexander opened #10215 "Flyway Callback Scripts Failing When Running mvn test"
**Describe the bug**
I have a "beforeMigrate" flyway callback script. when I run **mvn test** I get the flyway error:

I'm also using test containers

[code]

[2020-06-24 10:54] ppalaga opened #10217 "quarkus-extension-processor race conditions when modules are built in parallel"
When the Quarkus source tree is built with `mvn -T 1C` or with [mvnd](https://github.com/mvndaemon/mvnd) (which internally uses `-T 1C`), the build intermittently fails either in `quarkus-extension-processor` code or in `io.quarkus.docs.generation.AllConfigGenerator`. This is because quarkus-extension-processor reads and writes files in `<repo-root>/target/asciidoc/generated/config` without any lo

[2020-06-24 10:55] sberyozkin commented on #10201
`/*` covers `/health/*`, I think a wildcard needs to be replaced with more specific path policies.
The only other alternative is for Quarkus to start sorting path expressions and come up with a  path selection algorithm when multiple path expressions overlap. But the URI space is typically not unlimited for a given service endpoint. So try to avoid using a wildcard...
CC @stuartwdouglas

[2020-06-24 10:56] ppalaga commented on #10217
Related https://github.com/apache/camel-quarkus/issues/1403

[2020-06-24 11:10] ejba commented on #10194
@geoand @emmanuelbernard  Is it okay if I peek this one?

[2020-06-24 11:11] geoand commented on #10194
By all means!

[2020-06-24 11:30] cescoffier commented on #9076
@cassunde have a look to the exiting connector like this one https://github.com/smallrye/smallrye-reactive-messaging/tree/master/smallrye-reactive-messaging-kafka.

A connector is a bean implementing 2 interfaces (for inbound and outbound). On the reception side you need to produce a stream (it’s easy with the client mentioned above). To send, we may need to investigate if rabbit has a flow contro

[2020-06-24 11:30] emmanuelbernard commented on #10194
This is an important issue to me as I don’t like usability hurdle. So go for it. I would have done it otherwise.

[2020-06-24 11:34] ejba commented on #10194
@emmanuelbernard If you feel that's important task, please take it. I don't mind at all! :)

[2020-06-24 11:54] radcortez commented on #9991
Ah, now I understand. Thank you.

I think I have a solution for you :)

In SmallRye Config (which Quarkus uses as the Config implementation), we added support for ConfigSources to configure themselves. This is how it looks:
https://smallrye.io/docs/smallrye-config/config-sources/config-sources.html

It should be straightforward. You provide your `ConfigSource` via a `ConfigSourceFactory`, which gi

[2020-06-24 11:57] sirAlexander commented on #10215
@geoand Thanks for the quick turnaround.. by the way here is a link to a reproducer that also includes the slow flyway startup issue
https://github.com/sirAlexander/quarkus-reproducer

[2020-06-24 12:00] mmusgrov commented on #10180
The default [Process implementation](https://github.com/jbosstm/narayana/blob/master/ArjunaCore/arjuna/classes/com/arjuna/ats/arjuna/utils/Process.java#L41) is set to [SocketProcessId](https://github.com/jbosstm/narayana/blob/master/ArjunaCore/arjuna/classes/com/arjuna/ats/arjuna/utils/Utility.java#L379). The quarkus narayana-jta extension does not [expose this item in its config](https://github.c

[2020-06-24 12:00] geoand commented on #10215
Cool thanks. Can you please add it though to the other issue so it doesn't get lost?

[2020-06-24 12:04] sirAlexander commented on #9428
@geoand as requested >> https://github.com/sirAlexander/quarkus-reproducer

[2020-06-24 12:08] aureamunoz commented on #7432
Would you be able to close this issue @geoand ?

[2020-06-24 12:09] #7432 closed

[2020-06-24 12:09] geoand commented on #7432
Done

[2020-06-24 12:13] aureamunoz commented on #7432
thank you :-)

[2020-06-24 12:17] vishalgoel1988 commented on #10201
Hi,

Acc. to https://quarkus.io/guides/security#matching-multiple-paths-longest-wins, support is already there and it should work,
Also, path can be have dynamic content, so it is not feasible to put exact path.

[2020-06-24 12:20] tpenakov commented on #7432
Hi @aureamunoz and @geoand ,
Could you please bring me more details why this is closed?

[2020-06-24 12:22] geoand commented on #7432
I'll let @aureamunoz explain since she worked on it

[2020-06-24 12:53] ejba commented on #10194
I was thinking to do something like this in `Datasources` at line 142.
What do you think @emmanuelbernard @geoand ?

[code]

[2020-06-24 12:55] aureamunoz commented on #7432
This has been implemented throught https://github.com/quarkusio/quarkus/pull/7908. The Spring Boot Naming strategies are the default values in Quarkus Spring Data jpa extension.

[2020-06-24 13:02] sberyozkin commented on #10201
@vishalgoel1988 Yeah, you are right. How do you disable the `keycloak-authorization` ?

[2020-06-24 13:03] sberyozkin commented on #10201
`#quarkus.keycloak.policy-enforcer.enable=true` does not disable it, it should be `quarkus.keycloak.policy-enforcer.enable=false`

[2020-06-24 13:09] geoand commented on #10194
I propose you open a PR and in the description of that PR list the how it behaves under circumstances like this one

[2020-06-24 13:14] vishalgoel1988 commented on #10201
https://quarkus.io/guides/security-keycloak-authorization#quarkus-keycloak-keycloak-policy-enforcer-config_configuration
is quarkus.keycloak.policy-enforcer.enable not false by default?

[2020-06-24 13:21] geoand commented on #10215
So I tried the reproducer with a MySQL database running in docker and after making sure that no migration was actually needed, I saw that a single statement in Flyway was adding around 300ms of startup time (which was almost all the time taken up by the Flyway extension). Other than that, everything appeared fine.

As for the statement in question:

Inside `org.flywaydb.core.internal.jdbc.JdbcConn

[2020-06-24 13:28] #10156 closed

[2020-06-24 13:35] geoand commented on #10215
Ah sorry, wrong issue :)

[2020-06-24 13:35] geoand commented on #9428
_Copied from https://github.com/quarkusio/quarkus/issues/10215#issuecomment-648815823 (since that was the wrong issue)_

So I tried the reproducer with a MySQL database running in docker and after making sure that no migration was actually needed, I saw that a single statement in Flyway was adding around 300ms of startup time (which was almost all the time taken up by the Flyway extension). Other

[2020-06-24 13:45] sirAlexander commented on #9428
@geoand hmm.. thats odd, is this as jvm image on `jdk 11 hs`. And were you running the jar-runner? As i'm consistently getting over 3 secs. Do the machine specs affect these times?

I'm running a local MySQL instance, so not on docker. Am I running it any different?

[2020-06-24 13:49] sirAlexander commented on #9428
<img width="1343" alt="Screenshot 2020-06-24 at 14 47 40" src="https://user-images.githubusercontent.com/2058291/85568714-d4e65280-b629-11ea-8dee-3b60a0723b64.png">

[2020-06-24 13:53] geoand commented on #9428
From the screenshot you show, the delay I am talking about is the one `Flyway Communit...` until `Database ....`

But yeah you are right, there is another delay (after Flyway prints its last log) that I hadn't noticed. Need to look into that

[2020-06-24 14:01] jaikiran commented on #10134
Hello @haseemisaac, is there an application that you can share as a github repo, which reproduces this issue? That will make it easier for some of us to quickly look into it and see what's going wrong.

[2020-06-24 14:01] geoand commented on #9428
If you add debugging logging (quarkus.log.level=DEBUG) then you'll see that there is nothing weird going on - the second slowdown that is visible with `INFO` is explained by `DEBUG` logs which slow Quarkus starting Hibernate and, Netty.

So the only real slowdown I see is when `Flyway` obtains the initial connection

[2020-06-24 14:03] geoand commented on #9428
![Screenshot from 2020-06-24 17-02-58](https://user-images.githubusercontent.com/4374975/85571138-960dc800-b63c-11ea-8de5-618e889cde83.png)

[2020-06-24 14:09] sirAlexander commented on #9428
@geoand also noticed that your flyway version is different to mine? are you on a different quarkus version?

[2020-06-24 14:14] geoand commented on #9428
Quarkus build from source, but I just tried with `1.5.2.Final` and the numbers are the same

[2020-06-24 14:16] sirAlexander commented on #9428
@geoand my MySql version is 5.7

[2020-06-24 14:18] geoand commented on #9428
I used both MySQL 8 and MySQL 5.7, same results

[2020-06-24 14:24] xmlking commented on #9766
i have protos in a sub-project under `libs\protos` which user default grpc java code generated
the test project is under `/apps` which uses generated code under libs.
I am not using ` quarkus-grpc` to generate code from photos.

[2020-06-24 14:24] sirAlexander commented on #9428
looks like it's possibly down to my dev machine then

[2020-06-24 14:26] erikcostlow commented on #10207
Commonly yes, but the item that makes this feature unique is that it generates those methods for you so it's either through inheritance or you're changing generated code (likely re-generation issues).
Let's say someone wanted to control the generated method, public Response update(@PathParam("id") Long id, Person person), so that people could only update themselves or administrators could update a

[2020-06-24 14:26] famod commented on #10156
@geoand

`Persistable.isNew()`

[2020-06-24 14:29] sirAlexander commented on #9428
Thanks @geoand for taking the time to troubleshoot

[2020-06-24 14:33] jaikiran commented on #10128
I have been a bit busy with some of my other work. If no one else gets to this first, I'll try and take a look at this in the next few days.

[2020-06-24 14:34] geoand commented on #9428
You are welcome.

I'll go ahead and close this for now. If you find any new information of interest, feel free to post it here and we can reexamine if necessary.

[2020-06-24 14:34] #9428 closed

[2020-06-24 14:35] jclingan opened #10224 "Update Rest Client Guide on how to register a provider"
**Description**
Update [Rest Client Guide](https://quarkus.io/guides/rest-client) on how to intercept Rest Client API calls by registering a provider.

**Implementation ideas**
Per [this Zulip thread](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/RestClient.20Intercept.20request), brief topic description and [link to the RestEASY docs](https://docs.jboss.org/resteasy/docs/4.5.5

[2020-06-24 14:37] geoand commented on #10156
Now I see what that does... I admit had never seen that one in the wild. We can surely support it, can you open a new issue for that?

[2020-06-24 14:48] juangon opened #10225 "quarkus.hibernate-orm.database.generation and quarkus.hibernate-orm.sql-load-script doesn't work with native tests and custom profile"
**Describe the bug**
When setting a custom profile to execute tests in native mode in `application.properties` it doesn't work. If changing your custom profile to `prod`, it works.

**Expected behavior**
`quarkus.hibernate-orm.database.generation` and `quarkus.hibernate-orm.sql-load-script` should work properly for custom profiles in native mode.

**Actual behavior**
Custom settings aren't applied

[2020-06-24 15:24] ghost opened #10226 "regression from quarkus 1.2.1 - polyglot app fails with module org.graalvm.sdk does not export org.graalvm.polyglot.impl to unnamed"
**Describe the bug**
Project scaffolded at https://code.quarkus.io/ - depending on io.quarkus:quarkus-core:jar:1.5.2.Final,
and extended with polyglot code below, fails at execution with an exception:
`com.oracle.truffle.polyglot.PolyglotImpl (in unnamed module) cannot access class org.graalvm.polyglot.impl.AbstractPolyglotImpl`
The same app, but with quarkus 1.2.1, passes the test.

[code]
I've a

[2020-06-24 15:43] wgresshoff opened #10227 "Issue with dex: OIDC server is not available at the 'quarkus.oidc.auth-server-url' URL"
**Describe the bug**
The bug was already discussed here:
https://groups.google.com/forum/?oldui=1#!topic/quarkus-dev/64RNvIIu9XQ

**Expected behavior**
Quarkus service starts

**Actual behavior**
The services doesn't start, because there is a problem with the OIDC server

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

[2020-06-24 15:54] emmanuelbernard commented on #9585
Is that done in master @stuartwdouglas or is it looking good for 1.6?
I'm asking to move to 1.7 if not on the roadmap.

[2020-06-24 15:56] #10215 closed

[2020-06-24 16:06] sberyozkin commented on #10227
@wgresshoff Hi, can you please try `https://oidc.k8s.wwu.de`, without the trailing `/' slash ?

[2020-06-24 16:28] wgresshoff commented on #10227
Yes, I tried that. It's awkward, sorry. An error comes up now, when the readiness check runs, resulting in:
2020-06-24 16:23:44,013 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (vert.x-eventloop-thread-1) HTTP Request to /health/ready failed, error id: 16e7ae29-0f3d-4a6b-a531-3137548e0fc5-1: java.lang.RuntimeException: Multiple mechanisms present that use the same credential transport HttpCreden

[2020-06-24 16:29] haseemisaac commented on #10134
I've put my code into this repo:
https://github.com/haseemisaac/test-quar
Look for the file: TelegramWebhookService

The app needs the TELEGRAM_BOT_KEY environment variable in order for it to
work. This app is for a telegram chat bot

Best,
Haseem

On Wed, Jun 24, 2020 at 3:01 PM Jaikiran <notifications@github.com> wrote:

[2020-06-24 16:35] sberyozkin commented on #10227
@wgresshoff Is it after stripping "/" ?
It should go once you remove `quarkus-smallrye-jwt` from the pom

[2020-06-24 16:40] gsmet commented on #10134
@haseemisaac just to narrow down the issue a bit, are you using a non-UTF-8 locale?

Could you try an `export LANG=en_US.UTF-8` on the linux box before launching the app if so?

Thanks!

[2020-06-24 16:49] famod opened #10231 "spring-data-jpa: Support org.springframework.data.domain.Persistable.isNew()"
**Description**
See https://github.com/spring-projects/spring-data-jpa/blob/2.3.1.RELEASE/src/main/asciidoc/jpa.adoc#entity-state-detection-strategies (point 2)

This is a follow-up to: https://github.com/quarkusio/quarkus/issues/10156#issuecomment-648861189

The Interface is already part of the jars that are shipped with the `spring-data-jpa` Quarkus extension, but the method is not yet evaluated

[2020-06-24 16:50] gsmet commented on #9987
@pmlopes @michalszynkiewicz @cescoffier looks like something we would like for 1.6, no?

[2020-06-24 16:50] famod commented on #10156
@geoand

Me neither and my team wouldn't use it as we have `@Version` which (after your PR) will guarantee a nice OOTB experience.

Done: #10231

Does it make sense to document the 1.6.0 status quo nonetheless? I could do that tomorrow.

[2020-06-24 16:51] wgresshoff commented on #10227
Yes, after stripping the trailing "/" it worked. And removing quarkus-smallrye-jwt from the pom worked, too. Thanks a lot!
But does that mean, I can't use OpenID connect to secure webapps and services in the same project (for the actual project I don't need that, but one never knows).
Now, the next problem occured, but that's a dex configuration problem.

[2020-06-24 17:09] famod opened #10233 "quarkus.log.file.path cannot be set for QuarkusTests via application.properties or .yaml"
See #10202 which contains all necessary context and info.

The PR for #10202 fixed `-Dquarkus.log.file.path=...`, but not configuration via application.properties or .yaml (https://github.com/quarkusio/quarkus/issues/10202#issuecomment-648659695).

[2020-06-24 17:11] gsmet commented on #10160
@banovp maybe you could profile what's going on using this guide: https://github.com/quarkusio/quarkus/blob/master/TROUBLESHOOTING.md ?

[2020-06-24 17:13] cescoffier commented on #9987
@gsmet not sure, it's a bit tricky. gRPC convention and java convention are not exactly the same. We have followed the java convention.

[2020-06-24 17:13] gsmet commented on #10184
There is an ongoing discussion with @johnaohara on Zulip. Hopefully, this will provide useful feedback.

[2020-06-24 17:16] gsmet commented on #10193
/cc @jamezp
/cc @jaikiran too as you played with this recently :)

[2020-06-24 17:17] gsmet commented on #10198
/cc @johnaohara @tsegismont

[2020-06-24 17:18] gsmet commented on #10203
/cc @mkouba

[2020-06-24 17:22] geoand commented on #10156
Sure, that would be great

[2020-06-24 17:33] gsmet commented on #10210
It should be included in the upcoming 1.6. Can you test 1.6.0.CR1 when it's out? I plan to release it tomorrow.

[2020-06-24 17:33] #10210 closed

[2020-06-24 17:37] banovp commented on #10160
Hi all,

Thank you for your effort. As we were building a demo project today for you to reproduce the issue, we were able to solve the problem. It was our mock service. The mock service was not closing the connection:
[code]

we've added
[code]

and this solved the issue. The **ApacheHttpClient43Engine** is using connection pooling. This was not the case previously with the **URLConnectionClient**

[2020-06-24 17:37] #10160 closed

[2020-06-24 17:39] gsmet commented on #9428
@sirAlexander could you give a try to https://github.com/quarkusio/quarkus/blob/master/TROUBLESHOOTING.md ?

Might help finding the root cause of the slowness.

[2020-06-24 17:57] famod opened #10234 "Dev-mode: Add property/parameter to define extra files to watch for changes"
**Description**
As discussed here with @geoand: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Dev.20mode.20not.20reloading.20.22application-shared.2Eyaml.22/near/198171450

**Implementation ideas**
AFAICS a regex would be the most versatile solution. Or even a list of regex.

[2020-06-24 18:02] geoand commented on #10160
Thanks for the update!

[2020-06-24 18:41] sberyozkin commented on #10227
@wgresshoff great, let me do a small fix which will close this issue.
You can use `quarkus-oidc` to secure both types of applications, multi-tenancy feature is one way to have a single Quarkus application to deal with both the bearer tokens and code-flows, it is very flexible :-) ping us please on the forum/zulip if you'll have any questions

[2020-06-24 18:59] vsevel commented on #9991
@radcortez sounds promising.
I suppose however that I will not get a VaultRuntime, but only get the ability to do some `getValue` as you say. so I think we are talking about being able to drop my reimplementation of [getVaultProperty](https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/config/VaultConfigSource.java#L313-L322), but not my

[2020-06-24 19:17] radcortez commented on #9991
Yes. But not only that you can remove the init code, since you will have access to the Config Context at the constructor level, so no need to play around with Atomic values :)

Actually, we can :) This is being worked on at the moment:
https://github.com/smallrye/smallrye-config/pull/333

But probably still a few weeks away.

Thank you!

[2020-06-24 19:40] haseemisaac commented on #10134
I have, I still get the same issue
![image](https://user-images.githubusercontent.com/27515169/85619892-de3be300-b65a-11ea-9283-f061e9193ad8.png)

![image](https://user-images.githubusercontent.com/27515169/85619903-e4ca5a80-b65a-11ea-89d3-226c24a26778.png)