[2019-10-28 12:02] Sanne commented on #4925
I wasn't setting that flag, but I had `-Dnative`; this will produce:

[code]

[2019-10-28 12:06] radcortez commented on #1724
I can confirm the issue is still happening. Just tried it with Quarkus 0.26.1.

[2019-10-28 12:11] Sanne commented on #4925
I guess the native tests should be skipped as well when `test-vault` is not set.

Also, no tests requiring docker should be started unless `-Ddocker` is set.

[2019-10-28 12:12] gsmet commented on #4925
Ah, OK, now that I have a look, it's not consistent with how we do things elsewhere.

Will fix soon as it's in the way.

[2019-10-28 12:13] gsmet commented on #4925
Yup, it's an oversight, will fix.

[2019-10-28 12:15] Sanne commented on #4925
hey you don't have to fix it :) leave something for the newcomers!

(but as you wish)

[2019-10-28 12:34] gsmet commented on #4925
Yeah, it can be a build problem in real life and I prefer to get it fixed
soon.

I just finished this Jakarta work (hopefully!) so a small PR is a nice
change of air :).

On Mon, Oct 28, 2019 at 1:15 PM Sanne Grinovero <notifications@github.com>
wrote:

[2019-10-28 12:38] mkouba commented on #4918
@emmanuelbernard hard-coded values on a wrong place usually prove to be problematic.

WRT @Sanne's idea - @kenfinnigan can have some ideas and comments as Thorntail extensions can do some "autodiscovery".

[2019-10-28 12:48] kenfinnigan commented on #4918
For Thorntail we implemented "auto discovery" by using a meta model for extensions/dependencies to register whichever API packages or configuration files would indicate that the dependency was needed. For example, javax.persistence -> JPA fraction, faces-config.xml -> JSF fraction, etc.

Then the build sucked the meta classes from each extension into the maven plugin for TT so that it had the info

[2019-10-28 12:54] dmlloyd commented on #4516
There's an actual property called `env.MAVEN_CMD_LINE_ARGS`?  If so, we're not setting that AFAIK; Maven must be.  And perhaps they're inserting a leading space then?

[2019-10-28 12:55] loicmathieu commented on #4808
@Sanne I usually set the min size to 3 or 5 but in the cloud 0 have sense.
I wonder what is the cost to establish a connection in Agroal but I now that on some database it's not negligible (Oracle start an OS process for each connection for example)

But as usual it's a compromise and I'm ok with it.

[2019-10-28 12:55] kenfinnigan commented on #4516
I believe it's set by Maven.

I'm just confused how accessing it directly through system properties, and through system properties in the config source, lead to one having a leading space and one not

[2019-10-28 12:56] barreiro commented on #4808
Hi. I decided to have two messages for the cases when initial < min and initial > max, and that's why I didn't went with the words suggested by Loic. I hope the new messages are still clear enough:

``Initial size smaller than min. Connections will be created when necessary``

``Initial size bigger than max. Connections will be destroyed as soon as they return to the pool``

 If not, they can be i

[2019-10-28 12:56] dmlloyd commented on #4516
Is there a log output I could look at without having to build everything?

[2019-10-28 12:57] kenfinnigan commented on #4516
Will run the test and capture it for you

[2019-10-28 13:00] kenfinnigan commented on #4886
It's not clear from the spec, but I do believe that because `ResponseExceptionMapper` is specific to MP REST Client that JAX-RS doesn't understand the class which is why `@Provider` doesn't work.

So it needs to be activated by either `@RegisterProvider` on the interface or `RestClientBuilder.register()`

[2019-10-28 13:06] Sanne commented on #4918
just to clarify, the idea I posted above is not new and we already discussed it, and I was persuaded that it doesn't give us enough control.

So I'm not resurrecting the topic now to make it the new default; I think the current approach is working just fine. I'm just suggesting that when the extension for a component X is blatantly missing while we detect the X being on classpath, on top of a big

[2019-10-28 13:07] vsevel commented on #4888
@sberyozkin I agree we should start with a minimum of the most userful methods on the service.

I did not mention `rotate` because I think that this would not be used in a typical quarkus application. To me, it is more an administrative task.

I included `rewrap` in the proposition because I was thinking that a developer team might decide to write a job as a quarkus application to reencrpyt all da

[2019-10-28 13:07] kenfinnigan commented on #4516
@dmlloyd here's the output from running the single test method: https://gist.github.com/kenfinnigan/ede49a21fd7f144f7d58c65e29b295cc

[2019-10-28 13:17] dmlloyd commented on #4516
Hmm that's pretty strange.  I think we can rule out SmallRye Config though because that call path would just be `System.getProperty`.

[2019-10-28 13:21] kenfinnigan commented on #4516
Well I guess that's good, but I'm really confused as to how `System.getProperty` returns different values for that one key on the same system at the same time

[2019-10-28 13:24] kenfinnigan commented on #4519
Thanks @mkouba.

Are you able to submit a PR with the hack and enabling of test?

[2019-10-28 13:27] Mefl opened #4928 "Quarkus:dev does not detect property change between compilation and start"
**Describe the bug**
Si you don't do mvn compile quarkus:dev but you do in 2 command, therefore
1/ mvn compile
2/ mvn quarkus:dev

Any property change between the 2 operations is not detected, and the app start with the compiled value of properties.

**Expected behavior**
changing `quarkus.datasource.url` property :
1/ edit application.properties to put bad port number (543555)
2/ mvn clean compil

[2019-10-28 13:28] emmanuelbernard commented on #4815
@stuartwdouglas I got to the bottom of the error.

The problem is that when Quarkus DEv starts in error, it does not honor the `quarkus.http.port` property and falls back to 8080. I could confirm by starting a project in failure, then fixing it, then hitting localhost:8080 with success.

I also notice that after quarkus:dev starts in success, a change of `quarkus.http.port` is not honored either.

[2019-10-28 13:31] dmlloyd commented on #4516
I think it's not `getProperty`.

Here's one hypothesis, which might be a little crazy but it's all I can think of that makes sense: Maven copies all the system and env properties into the Maven property map.  They somehow munge the whitespace at that time.  Or, at a later point, they set that property by hand for some reason.  Then we haplessly copy the build system properties in as a configuratio

[2019-10-28 13:32] kenfinnigan commented on #4516
So you think we shouldn't be copying any property that doesn't begin `QUARKUS`?

[2019-10-28 13:35] NetoDevel opened #4929 "Quarkus Environment"
**Quarkus Environment**

Do we have any way of indicating in which environment we are running our application?

**Configuration suggestion**
[code]

**Additional context**
get environment programmatically

[code]

[2019-10-28 13:35] dmlloyd commented on #4516
The intent for that code was in fact to only copy build system properties that started with `quarkus.`.  But I can't think of any other place it could have gone wrong, without attaching a debugger (I'm in the middle of a bunch of code changes so that isn't really a convenient option at this point).

[2019-10-28 13:36] kenfinnigan commented on #4516
That's fine, I can dig in to see if I can discover why we're reading more than needed.

Might be a key needs to be passed to SRye Config, maybe

[2019-10-28 13:55] geoand commented on #4928
I you plan on using such a workflow often, the easy solution to this problem would be to just always do `mvn clean quarkus:dev`

[2019-10-28 13:55] geoand commented on #4928
Sorry, I closed it by accident...

[2019-10-28 14:30] FroMage commented on #4815
It looks like `VertxHttpRecorder.startServerAfterFailedStart` does not actually use the http config.

[2019-10-28 14:36] jaikiran commented on #4815
I see what's going on. Funnily enough, when it starts with a failure, it ends up listening on both `8080` (default port) as well as whatever other port `quarkus.http.port` is configured to.
I'm working on a potential patch and testing it as we speak.

[2019-10-28 14:40] FroMage commented on #4815
OK cool, thanks!

[2019-10-28 14:49] cescoffier commented on #4900
I've tried to reproduce it but failed so far.

In my `application.properties`, I have:
[code]

I've added the following dependencies:

[code]

Can you give me more details?

[2019-10-28 15:08] cescoffier commented on #3051
Closing as this has been done.

[2019-10-28 15:08] #3051 closed

[2019-10-28 15:08] #3036 closed

[2019-10-28 15:09] cescoffier commented on #3082
Done.

[2019-10-28 15:09] #3082 closed

[2019-10-28 15:09] emmanuelbernard commented on #4928
It's not a high priority bug but I was wondering why quarkus:dev was thinking there was no change in that case.

[2019-10-28 15:09] #3087 closed

[2019-10-28 15:09] cescoffier commented on #3087
It's been done.

[2019-10-28 15:29] jaikiran commented on #4815
@emmanuelbernard, @Mefl,
I've issued https://github.com/quarkusio/quarkus/pull/4934 to fix this issue.

@emmanuelbernard

I haven't changed anything related to this in that PR, since this appears to be a  slightly different thing and as far as I can see is unrelated to this.

[2019-10-28 15:36] Heni-ghodbane commented on #4493
I'm trying to get the jwks across https url using this config:

#test with a fake httpsServer

I'm pretty sure that the JWT and .pem key are correct - it works with with the following config.

Does anyone know what means this log error:

`2019-10-28 16:20:28,875 TRACE [io.net.cha.nio.NioEventLoop] (vert.x-worker-thread-0) instrumented a special java.util.Set into: {}
2019-10-28 16:20:28,878 INFO

[2019-10-28 15:52] johnaohara commented on #4560
@stuartwdouglas are there any updates before 1.0.0.RC1 that I need to take into account or are we good ok ot verify/update numbers?

[2019-10-28 15:57] geoand commented on #4928
I'll take a look soon and see if there is an easy way to get it done

[2019-10-28 16:06] emmanuelbernard commented on #4560
@johnaohara Verify with The release happening Wednesday

[2019-10-28 16:08] emmanuelbernard commented on #4918
Whatever it is, if we have if fast and without a factory heating the universe, I'm happy.

[2019-10-28 16:09] emmanuelbernard commented on #4918
But to me the maven specific solution is not OK, it has ot be generic. so this metadata collection could be added by extensions into the extension.json/yaml or do we need a separate metadat thing

[2019-10-28 16:11] #4824 closed

[2019-10-28 16:11] emmanuelbernard commented on #4918
CC @maxandersen might need more metadata down the line (post 1.0)

[2019-10-28 16:34] Sanne commented on #3382
@kdkanishka  @wargun02 did anyone try the recent fixes?

Please let us know if this was resolved, as we didn't have a way to reproduce this.

[2019-10-28 16:46] ia3andy opened #4938 "Use QuarkusJsonPlatformDescriptorResolver leads to exceptions"
**Describe the bug**
I am using `QuarkusJsonPlatformDescriptorResolver` as described in `JsonDescriptorResolverDemo`.

[code]

But I get an exception at bootstrap:
[code]

[2019-10-28 17:17] ia3andy commented on #4938
To reproduce use this code outside in a main outside of quarkus.

[2019-10-28 17:19] Mefl commented on #4815
@jaikiran I tested your PR, it works on my case

[2019-10-28 17:35] ia3andy commented on #4938
[resolver.zip](https://github.com/quarkusio/quarkus/files/3779907/resolver.zip)

`./mvnw compile quarkus:dev` and hit `http://0.0.0.0:8080/hello`

you get:
[code]

run `mvn test` and you get the exception in the issue

[2019-10-28 18:01] ia3andy commented on #4938
I had a wrong (renamed) dependency in my cache making things fail

[2019-10-28 18:01] #4938 closed

[2019-10-28 18:03] Sanne commented on #3945
@gsmet still plan to do this?

[2019-10-28 18:15] Sanne commented on #4377
A note from @dreab8 : this issue (also) seems related with self-dirty-tracking being enabled during build time enhancement.

[2019-10-28 18:24] ia3andy opened #4941 "Make new platform resolver code work in native app"
I've tried to setup Code Quarkus to compile to native with master and the new resolver. It always misses some classes:
https://github.com/quarkusio/code.quarkus.io/pull/194/

The reflection file is there:
https://github.com/quarkusio/code.quarkus.io/pull/194/files#diff-92f9ada386b472dc5e9b8b6990b7a8a7

To reproduce:
[code]

[2019-10-28 18:24] ia3andy commented on #4941
@aloubyansky could you help make it work?

[2019-10-28 18:27] ia3andy commented on #4941
Once this is running, you need to make sure you can generate applications using the running webapp.

[2019-10-28 18:57] emmanuelbernard commented on #4941
Btw unrelated but @ia3andy you should not use the reflection object and instead write extensions to do that work :)

[2019-10-28 19:09] ia3andy commented on #4941
@emmanuelbernard yes for sure, I just never took the time to actually do it 😬

[2019-10-28 19:11] ia3andy opened #4944 "Quarkus DevTools extension (unlisted?)"
**Describe the extension**
The extension should provide what's required to use Quarkus devtools

**Additional context**
To use for example in Code Quarkus

[2019-10-28 19:11] ia3andy commented on #4941
I created an issue for it: https://github.com/quarkusio/quarkus/issues/4944

[2019-10-28 19:32] rsvoboda opened #4945 "infinispan-embedded fails on macOS"
integration-tests/infinispan-embedded fails on macOS (using OpenJDK 64-Bit GraalVM CE 19.2.0.1 (build 25.222-b08-jvmci-19.2-b02, mixed mode))

I thought it's related to multicast on macOS so I tried to apply steps from https://github.com/belaban/JGroups/wiki/Multicast-routing-on-Mac-OS. Adding route for localhost didn't help.
Running infinispan-embedded on Windows machine works well, no failure.

[2019-10-28 19:37] machi1990 commented on #4929
Hi, right now it is possible to do so using the `-Dquarkus.profile` system property or `QUARKUS_PROFILE` environment variable.

And to retrieve the current profile programmatically you can do `ProfileManager.getActiveProfile()`.

[2019-10-28 19:41] mathianasj opened #4946 "Oidc Client roles"
**Description**
It would be nice to be able to utilize the client roles in addition to the realm roles.

**Implementation ideas**
I would recommend the ability to provide custom role mappings from the jwt claims or perform flat map so you could use the client roles too.

[2019-10-28 19:55] geoand commented on #4928
So basically the change to `application.properties` isn't picked up because the dev mode doesn't have a previous "last modified time" to compare with.
I assume for this very special case the dev mode could compare the "source" with the "target" since in this very special case they should be the same.

[2019-10-28 20:21] 38leinaD commented on #4890
I think "quarkus.http.port.on-conflict=one-up" will not help people that are confused about a port bind exception. Instead, they will now be confused that the app is not running on port 8080 as shown in all documentation and tutorials.
But it is a good idea to have this option to be able to easily start multiple instances.

[2019-10-28 20:41] gsmet commented on #4406
@marcinczeczko 's work has been merged.

[2019-10-28 20:41] #4406 closed

[2019-10-28 20:51] NetoDevel commented on #4929
@machi1990,
Thanks for the answer.
Since there is already a feature for this I will close this issue.

[2019-10-28 21:02] machi1990 commented on #4929
What kind of validations do you have in mind? In the meantime, Quarkus supports to define profile specific configuration properties through `%profile.quarkus.....` e.g `%test.quarkus.datasource.driver=org.h2.Driver`

[2019-10-28 21:02] #4834 closed

[2019-10-28 21:29] maxandersen commented on #4944
you mean what is required to use quarkus devtools in native ?

[2019-10-28 21:30] #4925 closed

[2019-10-28 22:11] #4808 closed

[2019-10-28 23:05] #4778 closed

[2019-10-28 23:18] #4660 closed

[2019-10-28 23:54] stuartwdouglas commented on #1724
How can I reproduce? I tried to follow the steps above and everything passed for me.

[2019-10-29 01:15] #4815 closed

[2019-10-29 01:48] fandiluo commented on #4900
dependenies not include quarkus-resteasy-jsonb

[code]
Could you try again ?

[2019-10-29 02:09] yuhaibohotmail commented on #4900
**In some cases，I can  reproduce the bug  ，but it's random.**
It's easier to reproduce this error in dev mode：
     mvn compile quarkus:dev
When an error occurs  I modified the code and  call a restful route to cause hot replace，then it works.( please see the log below). I guess it may be related to the initialization order of some instances.

`
2019-10-29 09:51:20,009 INFO  [io.quarkus] (main) In

[2019-10-29 02:17] yuhaibohotmail commented on #4900
@fandiluo
I try my code  with not include quarkus-resteasy-jsonb dependenies，random occurrence of fault.

[2019-10-29 03:53] kdkanishka commented on #3382
@Sanne
Tried the fix. It seems that the problem is solved now.

[2019-10-29 04:57] wargun02 commented on #3382
@Sanne, thanks for the follow up. I'm on another project. If @kdkanishka has got no issues, then we can close this issue for now. I'll re-open it if I encounter this issue again in future.

[2019-10-29 04:57] #3382 closed

[2019-10-29 05:22] belyaev-andrey opened #4957 "Application fails after reload in development mode if there is a NamedQuery present in the codebase"
**Describe the bug**
Development mode. If there is a named query in the application code, the application fails during reload after any code change.

**Expected behavior**
I should see the updated data after I change the code.

**Actual behavior**
Error occurs:
[code]

**To Reproduce**
Steps to reproduce:
1. Create a project with an entity and a NamedQuery. Example: https://github.com/belyaev-andr

[2019-10-29 06:13] stuartwdouglas commented on #4946
You can do this programatically using io.quarkus.security.identity.SecurityIdentityAugmentor. Create a CDI bean that implements this interface, inject the JsonWebToken, and you can modify the role set to whatever you want based on the token.

[2019-10-29 06:15] #1539 closed

[2019-10-29 06:19] stuartwdouglas commented on #4928
There is a related problem with remote dev mode, in that if the container starting state is not the same as the local starting state things can get out of sync.

Until we do the first run we don't actually have a list of hot deployment related files so we can't just check them before startup. We could hard code something for application.properties but that kinda sucks

[2019-10-29 06:25] Ravisankar-Challa commented on #4894
With this commit https://github.com/quarkusio/quarkus/pull/4951 there is no need for wiring-classes/bootstrap. So closing the issue.

[2019-10-29 06:25] #4894 closed

[2019-10-29 06:25] michael-schnell commented on #4888
Why not just migrate the Spring Boot code with the missing functions to Quarkus? I don't think there is much effort associated with this. The Spring code is already there, why should we try to reinvent the wheel?

[2019-10-29 06:25] Ravisankar-Challa commented on #4894
With this commit https://github.com/quarkusio/quarkus/pull/4951 there is no need for wiring-classes/bootstrap. So closing the issue.

[2019-10-29 06:28] michael-schnell commented on #4888
Maybe I could pick up this task and try to migrate the stuff next weekend.

[2019-10-29 07:35] #3643 closed

[2019-10-29 08:03] #4941 closed

[2019-10-29 08:06] ia3andy opened #4959 "Make CreateProject work in native mode"
**Describe the bug**
I've tried to setup Code Quarkus to compile to native with master.
quarkusio/code.quarkus.io#194

When generating an application, it fails with an exception:
[code]

To reproduce:
1. build in native
2. run
3. hit http://0.0.0.0:8080/api/download?g=org.acme&a=code-with-quarkus&v=1.0.0-SNAPSHOT&c=org.acme.ExampleResource&e=io.quarkus%3Aquarkus-smallrye-openapi&e=io.quarkus%3Aqua

[2019-10-29 08:07] geoand opened #4960 "Building with Gradle gives a warning about CDI dependencies"
Now that we have moved to Jakarta dependencies and because gradle leaks CDI dependencies into our classpath, we get the following warning when building a gradle project:

[code]

cc @gsmet @stuartwdouglas @emmanuelbernard

[2019-10-29 08:09] #4480 closed

[2019-10-29 08:10] sander-su opened #4961 "[kafka streams] sasl not configurable"
**Describe the bug**
The kafka streams extensions only allows for the bootstrap-servers and application-id to be set at runtime. This works in a non authentication environment but when auth is required there are other properties which needs to be configurable at runtime.
Also the confluent schema registry need to be configurable (again with auth properties)

**Expected behavior**
More properties n

[2019-10-29 08:23] ia3andy opened #4964 "Descriptions are missing from json QuarkusPlatformDescriptor"
- the generated extensions.json file doesn't contain it
- when loading the QuarkusPlatformDescriptor description are `null`

[2019-10-29 08:31] jmartisk commented on #4857
AFAIU, to get rid of this dependency, we would need to remove all compile-time metric-related dependencies from SmallRye FT and somehow make them optional. Sounds doable, but not very easy.

I'm starting to realize that if we really want to unify the way extensions register metrics, this will, among other things, need a unified strategy in all SmallRye projects that would be compatible with the Qu

[2019-10-29 08:44] maxandersen commented on #4964
bug is that the data is not there in the extensions as they are optional. updated description to specify it.

[2019-10-29 08:45] jmartisk opened #4966 "Move to MP Metrics 2.2"
Metrics 2.1 is considered broken and we shouldn't release with it

[2019-10-29 08:48] maxandersen opened #4967 "need pinned defined for categories"
code.quarkus.io need pinned for categories.

https://github.com/quarkusio/quarkus/blob/master/devtools/bom-descriptor-json/src/main/resources/extensions-overrides.json needs updating with  a "pinned" attribute like:

[code]

The pins are each groupId:artifactId for what should be put at top and sorted as listed in this array.

[2019-10-29 08:57] Ladicek commented on #4857
Currently, the MicroProfile Fault Tolerance spec requires all implementations to publish metrics. It also defines a a switch that can be used to turn metrics off (`MP_Fault_Tolerance_Metrics_Enabled`). There's a noop metrics collector in SmallRye Fault Tolerance already, which is used when the config property it set to `false`, so there should be nothing preventing the Quarkus extension to selecti

[2019-10-29 09:25] loicmathieu commented on #4857
@Ladicek so this switch must be turned off on the build if the Quarkus metrics capability is not present ?
Let me try this

[2019-10-29 09:52] vsevel commented on #4888
hello @michael-schnell,

When creating the vault extension, this has been a design goal to provide a higher level set of services for the most common use cases, and make them very easy to use for the typical client application.

There has been also some discussions in the context of https://github.com/quarkusio/quarkus/pull/2897 to provide as well a _vault client_, much like [VaultClient](https://

[2019-10-29 09:53] FroMage commented on #1724
Open `PanacheFunctionalityTest` and add this field: `Person p = new Person();`, now try to run the test and it will fail.

[2019-10-29 09:55] loicmathieu commented on #4857
@Ladicek even if the metrics are turned off smallrye inject the metrics factory in [MetricsCollectorFactory.java](https://github.com/smallrye/smallrye-fault-tolerance/blob/master/implementation/src/main/java/io/smallrye/faulttolerance/metrics/MetricsCollectorFactory.java#L39) so we have a `javax.enterprise.inject.UnsatisfiedResolutionException: Unsatisfied dependency for type org.eclipse.microprof

[2019-10-29 09:58] Sanne commented on #3382
great, thanks all!

[2019-10-29 10:01] FroMage commented on #4796
#4760 added the config tables for file/embedded, so I think we're good with it?

[2019-10-29 10:22] emmanuelbernard opened #4975 "JWT quickstart uses a dependency with a security vulnerability (medium)"
https://github.com/quarkusio/quarkus-quickstarts/network/alert/using-jwt-rbac/pom.xml/com.nimbusds:nimbus-jose-jwt/open

https://github.com/quarkusio/quarkus-quickstarts/blob/master/using-jwt-rbac/pom.xml

@kenfinnigan I guestimate it's coming from SmallRye JWT but can you chase the right person?

[2019-10-29 10:24] kenfinnigan commented on #4975
I can't see security issues, which dependency is it?

[2019-10-29 10:26] cescoffier commented on #4975
<dependency>
  <groupId>com.nimbusds</groupId>
  <artifactId>nimbus-jose-jwt</artifactId>
  <version>[7.9,)</version>
</dependency>

[2019-10-29 10:27] cescoffier commented on #4975
well, you need at least 7.9.

[2019-10-29 10:28] kenfinnigan commented on #4975
It's not coming from `smallrye-jwt` as that doesn't have any dependencies on `nimbus-jose-jwt`

[2019-10-29 10:29] kenfinnigan commented on #4975
Maybe @sberyozkin knows as I think he wrote the quickstart

[2019-10-29 10:29] stuartwdouglas commented on #4960
We need class loader isolation, we can't have gradle leaking all its deps into our class path.

[2019-10-29 10:32] cescoffier commented on #4975
the quickstart does not have the dependency either.

[2019-10-29 10:34] cescoffier commented on #4975
It may come from:

[code]

[2019-10-29 10:36] kenfinnigan commented on #4975
In `smallrye-jwt` there aren't any security notifications about dependencies

[2019-10-29 10:36] loicmathieu commented on #4857
@Ladicek @jmartisk by switching the config OFF and providing a NOOP Metrics Registry it works, not very elegant, but it works: https://github.com/quarkusio/quarkus/compare/master...loicmathieu:fix/smallrye-metrics-depdendency

If you think it's OK I can prepare a PR (more tests and some cleanup needed).

[2019-10-29 10:39] cescoffier commented on #4975
can it be a false positive?

[2019-10-29 10:39] cescoffier commented on #4975
I would rather be sure before marking the issue invalid.

[2019-10-29 10:44] Ladicek commented on #4857
Ah, true. I'm looking into SmallRye FT and there's quite a lot of places that refer to the `MetricRegistry` class. It would require some amount of (boring) work to abstract that out. I think that providing a noop implementation of `MetricRegistry` is easiest, but you will only get rid of the SmallRye Metrics dependency. You will still need MicroProfile Metrics present.

[2019-10-29 10:51] ia3andy opened #4977 "short-name is defined in extension descriptor root but read from metadata"
**Describe the bug**
`Extension.getShortName` retrieve the value from `metadata.short-name` but the value is set in the root of each extension descriptors. ex:
[code]

**Expected**
[code]

[2019-10-29 10:51] #4823 closed

[2019-10-29 10:53] #4871 closed

[2019-10-29 11:16] maxandersen commented on #4977
there is only a small subest of the extensions that have short-name listed.
just need updated to put in metadata.

[2019-10-29 11:18] ia3andy commented on #4977
@maxandersen are u taking care of it or should we assign someone?

[2019-10-29 11:19] emmanuelbernard commented on #4977
I'll do it

[2019-10-29 11:21] loicmathieu commented on #4857
@Ladicek currently I only get rid of `quarkus-smallrye-metrics` and it's fine as a first step because it means that the metrics extension will not be enabled anymore when adding the fault-tolerance one.
I try by removing the depdendency to `smallrye-metrics` and it seems to works (but it should not ...).
As I said, I need more testing/polishing, but I will do it only if you think this is the good

[2019-10-29 11:24] Ladicek commented on #4857
I think the approach is OK. WDYT @jmartisk?

[2019-10-29 11:28] sberyozkin commented on #4796
@FroMage This is nice :-), thanks for your help.
@gsmet, @emmanuelbernard - can this issue be closed now ? Or would you like some more updates ?

[2019-10-29 11:36] jmartisk commented on #4857
Sounds good. I didn't quite check whether SR-FT does anything more than just inject the `MetricRegistry` and call its methods, in which case the no-op registry trick might not be enough just by itself, but perhaps it will.
We will still include the MP Metrics API in applications (or part of it, perhaps dead code elimination will do some work) but it's the best we can do for the moment, I guess

[2019-10-29 11:37] loicmathieu commented on #4048
@gsmet the works @geoand done for #4212 fixes this issue right ?
Maybe providing a new SO answer based on a JsonbCustomizer will be a good thing ? I can do it if you want

[2019-10-29 11:38] #4796 closed

[2019-10-29 11:39] loicmathieu commented on #4857
OK, cool, I will do some testing and cleanup and open a PR for this.

[2019-10-29 11:43] geoand commented on #4048
@loicmathieu That would be great!

[2019-10-29 11:43] loicmathieu commented on #2834
@clochardpagan #1889 has been merged a long time ago . Does it fixes your issue? Can I close it ?

[2019-10-29 11:53] vc-void opened #4981 "Hibernate ManyToOne OptimisticLockException"
**Describe the bug**
Imagine the relationship described below:
"one" RouteStop -> "many" OrderLine
"one" Order -> "many" OrderLine

Both relationships are bidirectional and each side is lazy.
When I find the Order using EntityManager.find(clazz, id) and initialize its OrderLines I get `StaleObjectStateException: Row was updated or deleted by another transaction (or unsaved-value mapping was incorr

[2019-10-29 11:56] stuartwdouglas commented on #4975
mvn dependency:tree does not show up anything about it

[2019-10-29 12:00] gastaldi opened #4982 "Do not require Gradle to be installed to generate the Gradle wrapper"
**Description**
When `mvn quarkus:create -DbuildTool=gradle` is invoked and Gradle isn't installed in the local environment, the Gradle wrapper is not created.

**Implementation ideas**
Do not require Gradle to be installed. Copy files manually as done in code.quarkus.io.

[2019-10-29 12:05] maxandersen commented on #4977
@emmanuelbernard i'm not seeing any updates/PR's that fixes this thus reopening.

[2019-10-29 12:16] geoand opened #4983 "rest-client doesn't take deployment profile when reading config"
_From the mailing list:_

I have the following configuration (Quarkus 0.26.1) in application.properties:

[code]

to distinguish dev and prod profile. However, the rest client won't get injected when starting in prod profile while

[code]

works. Shouldn't the first version work as well?

[2019-10-29 12:28] fandiluo commented on #4900
I provide my code. Please try it!
[code](https://send.firefox.com/download/ba8a670b239ab9bf/#u3DkgVxqUEjHwnhwWlCExg)

[2019-10-29 12:39] #4704 closed

[2019-10-29 12:48] #3284 closed

[2019-10-29 12:48] #2556 closed

[2019-10-29 12:56] sberyozkin commented on #4975
Hi All

smallrye-jwt itself does not use nimbus-jwt. We updated the demo to use jose4j. I can add an exclusion as well, but where, in the quickstart or the smallrye-jwt extension ?

[2019-10-29 12:57] sberyozkin commented on #4975
Let me add an exclusion to the extension

[2019-10-29 12:58] #4977 closed

[2019-10-29 12:58] sberyozkin commented on #4975
Oh, actually, there is no nimbus-jwt in the tree at all, just jose4j, looks like a false positive

[2019-10-29 13:02] maxandersen commented on #4977
@emmanuelbernard had pushed directly to master evil him ;)

[2019-10-29 13:06] johnaohara commented on #4610
@paulrobinson yes, have validated alerting, closing issue

[2019-10-29 13:06] #4610 closed

[2019-10-29 13:07] dfranssen commented on #4120
@gsmet see https://github.com/dfranssen/quarkus-tx-issue-subresources for a reproducer

In short: although having `@Transactional` on the parent and child resource methods, executing `ParentChildResourceTest` results in: `TransactionRequiredException: Transaction is not active, consider adding @Transactional to your method to automatically activate one`

[2019-10-29 13:07] sberyozkin commented on #4946
@mathianasj In addition to what Stuart said, I think we just did it implicitly, see this [test resource](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/test/resources/tokenKeycloakResourceAccess.json#L16).
Is it what you had in mind ?
CC @pedroigor Hi Pedro, you mentioned there could be more enhancement applied there, please type a token example to show what can be en

[2019-10-29 13:08] johnaohara commented on #3981
Linked to #4610

[2019-10-29 13:08] #3981 closed

[2019-10-29 13:10] gwenneg opened #4989 "Rename @SubstrateTest to @NativeImageTest"
Following #4722 merge, `@SubstrateTest` needs to be renamed to `@NativeImageTest`.

`@SubstrateTest` will be deprecated first and removed later.

[2019-10-29 13:11] gwenneg commented on #4989
cc @gsmet

[2019-10-29 13:15] sberyozkin commented on #4481
Pedro:
[code]

We can probably delay it as needed

[2019-10-29 13:27] #4860 closed

[2019-10-29 13:30] FroMage commented on #4125
I want to document this, but I don't see any documentation on the resteasy vs. servlet deployment in guides. Is this documented somewhere @stuartwdouglas @patriot1burke ?

[2019-10-29 13:33] maxandersen commented on #4772
is this just about having i.e. camel able to put "camel", "integration" in all their extensions keywords ?

if yes, I suggest we do that as having extension mojo read quarkus.extension.metadata.keywords property and add them in if nothing in the .yaml.

Then they can define that property and use maven notion of sharing it where it makes sense.

[2019-10-29 13:38] pedroigor commented on #4946
I think this should be covered by what you did. @mathianasj do you need client roles other than those related with the client_id used by the application ?

[2019-10-29 13:40] loicmathieu commented on #4048
New SO answer with the JSON-B customizer approach: https://stackoverflow.com/a/58608559/3603660
I'm closing the issue!

[2019-10-29 13:40] #4048 closed

[2019-10-29 13:40] sberyozkin commented on #4888
@michael-schnell I disagree. The simplicity is the key for Quarkus.

[2019-10-29 13:54] sberyozkin commented on #4888
@vsevel, "Eventually we settled on keeping the VaultClient an implementation detail at this point, and not pushing it too soon into the api. The idea was to make the extension useful first, and not necessarily exhaustive at this point." - yes, this is nicely summarized.

Perhaps we can start considering making a complete `VaultClient` available as well, but I'd really consider an enhancement like

[2019-10-29 14:01] lordofthejars opened #4991 "Exception is thrown when `UriBuilder` is used with no @Path at method"
**Describe the bug**
An exception is thrown when `UriBuilder` is used with no @Path at the method.

[code]

If `DeveloperResource` contains `@Path` but not the `createDeveloper` method then an exception is thrown:

`RESTEASY003645: No public @Path annotated method for org.acme.quickstart.DeveloperResource.createDeveloper`

I think that if `@Path` it is not mandatory at method level (it takes from

[2019-10-29 14:11] michalszynkiewicz opened #4992 "CDI security: Unannotated inherited methods may be restricted when they should not"
**Describe the bug**
For the case in the $subject, `determineSecurityAnnotationFromBindings#determineSecurityAnnotationFromBindings` returns annotations from the subclass even if the method is not overriden

**Expected behavior**
If we want to be consistent with JSR 250 section 2.1 point 4, constraint from the subclass should not be applied here.

**To Reproduce**
Steps to reproduce the behavior:

[2019-10-29 14:14] patriot1burke commented on #4125
Inject HttpRequest HttpResponse

[2019-10-29 14:15] patriot1burke commented on #4125
org.jboss.resteasy.spi.HttpRequest/HttpResponse

I think what's missing is client IP address

[2019-10-29 14:16] patriot1burke commented on #4125
@stuartwdouglas HttpRequest/Response is a public resteasy SPI.

[2019-10-29 14:16] michalszynkiewicz commented on #4992
thanks @aureamunoz for finding it!

It would be best to move figuring out the check to build time when solving this issue.

[2019-10-29 14:25] FroMage commented on #4125
Yeah I added this, I know, but I don't know where best to document it ;)

[2019-10-29 14:44] #4959 closed

[2019-10-29 14:48] #4964 closed

[2019-10-29 14:50] loicmathieu commented on #3632
@jesuino I think that what you want to do cannot works, it's not a limitation on Panache but on the way Java Generics works

On your reproducer I saw this:
[code]

Even if `T` seems to be of type `TheEntity`, at runtime it isn't, as T extends PancheEntity, the runtime class is `PanacheEntity` so you try to call the listAll() methods on PanacheEntity and it can not works.

This is the way static me

[2019-10-29 14:50] #3632 closed

[2019-10-29 14:56] stianst commented on #4481
@sberyozkin can you clarify what you mean about when their sessions are invalidated and silent re-authentication?

[2019-10-29 14:58] sberyozkin commented on #4482
@CSTDev if you know where in the Vertx request context the client cert info is available then please comment here

[2019-10-29 15:13] geoand commented on #4991
@lordofthejars can you please give a little more info? Do you have a complete example we can try?

[2019-10-29 15:15] gsmet commented on #4991
And maybe the full stacktrace too.

[2019-10-29 15:16] gsmet commented on #4991
BTW, it looks like a RESTEasy issue, not a Quarkus one, no?

[2019-10-29 15:17] lordofthejars commented on #4991
To do it just scaffold a Quarkus project and in `hello` method return a `Response.created` instead of String.

[code]

[2019-10-29 15:22] zeljkot opened #4996 "quarkus-maven-plugin does not obey --file -f command line flag"
**Describe the bug**
When --file is specified on command line (e.g. `mvn --file pom2.xml quarkus:dev`) it is ignored. Quarkus plugin either loads pom.xml or complains that there is no pom.xml.

**Expected behavior**
Plugin should use specified file.

**Actual behavior**
Plugin ignores the flag and always uses pom.xml.

**To Reproduce**
Steps to reproduce the behavior:
1. Rename pom.xml to pom2.xml

[2019-10-29 15:27] geoand commented on #4991
I jus tried this and I agree with @gsmet that it's not Quarkus specific. I suggest opening an issue on the RESTEasy repository.

[2019-10-29 15:27] #4991 closed

[2019-10-29 16:15] emmanuelbernard opened #5000 "Decide which suffix to use RC or CR, Final or GA"
CC @n1hility

[2019-10-29 16:16] maxandersen commented on #5000
It can't be RC if its Final and GA as it will look like later release.

I only see one option if we want to stay sane - .CRn and .Final

[2019-10-29 16:20] gsmet commented on #5000
I asked this question because until now we didn't have a suffix for the releases (0.27.0).

I see two options:
- keep the no prefix way and go with: `x.y.z-rc1` and `x.y.z` for the final
- go the JBoss way: `x.y.z.CR1` and `x.y.z.Final`

I don't care either way, I just need to know :).

[2019-10-29 17:06] sberyozkin opened #5001 "Support for the pre-emptive AccessToken refreshment"
**Description**
Both access and id tokens can now be supported for the "web-app" applications as part of the code flow. Code for the refresh tokens has also been prototyped. The next step is to use the refresh tokens to pre-emptively refresh ATs when a given access token is close to being expired to avoid the web-app getting 401 when it makes an outbound call with this AT

**Implementation ideas**

[2019-10-29 17:11] SulimanBanora commented on #4841
I have the same problem. ( I believe our error messages match line by line. )

[2019-10-29 17:53] kenfinnigan opened #5002 "Incorrect extension metadata for Jaeger"
https://github.com/quarkusio/quarkus/blob/master/extensions/jaeger/runtime/src/main/resources/META-INF/quarkus-extension.yaml identifies the extension as being for "security", which is incorrect

[2019-10-29 17:53] sberyozkin opened #5003 "Refresh the verification JWK sets on demand"
**Description**
As discussed with Paulo and Pedro, the adapter should try to optimize the token verification process by caching the JWK keys while also refreshing them periodically to support the key rotation

CC @pedroigor @stianst

[2019-10-29 17:58] NetoDevel commented on #4929
@machi1990,
Imagine when startup the application I run a routine that looks for errors in integrating something.

I don't want this to run while I run my integration tests.

Programmatically I do an evaluating in which profile I am running so this routine does not run.

what you told me to use should works .. but it works if I pass as argument of my .jar or set in my ide and I believe the best sol

[2019-10-29 18:27] michael-schnell commented on #4888
I think the minimum to implement are the non-admin functions:

[code]
The rest is not necessary for simple use cases.

[2019-10-29 18:50] #4627 closed

[2019-10-29 19:52] mathianasj commented on #4946
I think that is doing exactly what I was looking for I will test it out when I’m back at a computer

[2019-10-29 20:14] maxandersen commented on #5002
https://github.com/quarkusio/quarkus/issues/5002

[2019-10-29 20:15] maxandersen commented on #4849
this have now been completed

[2019-10-29 20:15] #4849 closed

[2019-10-29 20:22] maxandersen commented on #4771
This is possible today via `quarkus-extension.yaml` - just need to hear from @ia3andy if he already picked a name/value set for it.

On call today we said that for v1 its basically just about identifying wether a feature is stable or not - no grading yet.

My suggestion is to use a key named "grading"  and for now only recognized value will be "preview"

[2019-10-29 20:23] maxandersen commented on #4759
platform changes not (knowningly) affecting keycloak at this time thus closing.

[2019-10-29 20:23] #4759 closed

[2019-10-29 20:24] maxandersen commented on #4758
kogito is in our current build thus no special action identified.

[2019-10-29 20:24] #4758 closed

[2019-10-29 20:26] maxandersen commented on #4723
have you looked at the generated pom ? its not just dependency adding ;)

[2019-10-29 20:31] maxandersen commented on #3322
request makes sense but this would be post v1. I would actually prefer we had a native `qctl` or `qli` cli to do the bootstrapping. Its really backwards we have to tell users to install gradle or mvn ( + java) when we could just generate the initial project for them .... or even just give them a bit.ly url to curl  to get a zip from code.quarkus.io.

No need to strictly use either mvn or gradle fo

[2019-10-29 20:37] maxandersen opened #5006 "cleanup gradle resolution of platform for list and addextensions"
- [x] fix gradle to use properties to look up bom
- [ ] have tools use io.quarkus.platform:universe and look up latest as default, log warning if not avaialble and used bundled
- [x] define how to get from bom to extensions.json (use type?)
- [x] do a test release of universe following the details
- [x] look into #5008
- [ ] doc impacts #5105

[2019-10-29 21:04] maxandersen opened #5008 "figure out QuarkusDependencyPredicate hardcoding of io.quarkus"
QuarkusDependencyPredicate assumes extensions is io.quarkus.

This seem to exclude any non io.quarkus from list/addextensions.

[2019-10-29 21:06] #5002 closed

[2019-10-29 21:33] wburns commented on #3617
Oops, I meant to close this. The base extension is in Quarkus now. Additional features will come as different issues.

[2019-10-29 21:33] #3617 closed

[2019-10-29 21:53] #4349 closed

[2019-10-29 21:53] #4520 closed

[2019-10-29 21:53] #4957 closed

[2019-10-29 22:36] #4989 closed

[2019-10-29 22:48] #4983 closed

[2019-10-29 23:04] heri333 opened #5009 "Suppress duplication warnings when building an uber jar"
When creating an uber jar, there are two blocks of duplication warnings printed:

[code]

Since those warnings should be safe to ignore and nothing has to be fixed in the build script, they should be suppressed or at least there should be an option to suppress them.

[2019-10-29 23:30] stuartwdouglas commented on #1724
Good news and bad news.

The bad news is there is nothing I can do with the current approach to make this work.

The good news is that JUnit 5.5 added a hook that I should be able to use to work around this entirely, and fix a heap of the fragility here by going back to using RuntimeClassLoader.

[2019-10-29 23:33] maxandersen commented on #5000
the first option using semver.org style is just not viable in maven - please don't use it. it will come back and burn us when/if we rely on resolving "latest" for extensions using maven (or gradle) versioning mechanics.

CR1 and Final is the only way to go IMO as that fits/does not conflict  with how productized bits are versioned.

[2019-10-29 23:36] stuartwdouglas commented on #1724
Actually it is just bad news, it looks like even though they added org.junit.jupiter.api.extension.InvocationInterceptor, they also added some internal checks that deliberately prevent it being used for this use case.

[2019-10-30 00:30] stuartwdouglas commented on #1724
So one option here would be to forbid the use of @BeforeAll and instead have a @QuarkusBeforeAll. Then I can use the same techniques as QuarkusUnitTest to proxy the invocations to a test instance I define in RuntimeClassLoader

[2019-10-30 00:44] stuartwdouglas commented on #1724
So if JUnit implements https://github.com/junit-team/junit5/issues/2083 I can make this work transparently

[2019-10-30 05:09] stuartwdouglas commented on #5009
This is already fixed upstream and will be in the next release

[2019-10-30 05:09] #5009 closed

[2019-10-30 05:37] stuartwdouglas commented on #4922
I think we should be able to just stick this in the RoutingContext under some well key, and then RESTEasy and Undertow can be modified to look at this key for the remote address.

All this code existing in Undertow already, so it should be pretty simple.

[2019-10-30 06:25] #4767 closed

[2019-10-30 06:40] ia3andy commented on #4771
@maxandersen I used "status" as a key already (we can change it):
https://github.com/quarkusio/quarkus/blob/1c8ed9b18f2afb4e29a6658f242d8efe51a9915c/independent-projects/tools/platform-descriptor-api/src/main/java/io/quarkus/dependencies/Extension.java#L36

[2019-10-30 07:34] jmartisk opened #5014 "Re-enable org.eclipse.microprofile.metrics.test.MpMetricTest"
It was excluded after https://github.com/quarkusio/quarkus/pull/4954

[2019-10-30 07:36] jmartisk commented on #4611
I think we should add https://github.com/quarkusio/quarkus/issues/5014 now that the test was recently excluded and is quite a significant part of the Metrics REST TCK.

[2019-10-30 07:42] zeljkot opened #5015 "Injecting from another module causes ClassCastException"
**Describe the bug**
The class to be injected is located in Maven dependency. During the runtime, injection fails with java.lang.ClassCastException. Both main project and dependency have beans.xml. If the injected class is moved to the main project, injection works.

Verified in dev mode.

**Expected behavior**
Class should be injected without error.

**Actual behavior**

When the @Inject variable

[2019-10-30 07:50] sgerr opened #5016 "Native image does not inherit system time zone"
Native image does ignore system time zone, assumes GMT instead. Code snippet to verify:

[code]

Output (no matter system timezone is):

`--- default time zone id is: GMT`

[2019-10-30 07:51] mkouba commented on #4826
@michalszynkiewicz yes, as I wrote [here](https://github.com/quarkusio/quarkus/issues/4826#issuecomment-545940422) Hystrix is using rxjava under the hood and this triggers [ArcContextProvider](https://github.com/quarkusio/quarkus/blob/master/extensions/arc/runtime/src/main/java/io/quarkus/arc/runtime/context/ArcContextProvider.java) and that could mix up the contexts somehow...

[2019-10-30 07:53] geoand opened #5017 "Improve Kubernetes experience"
From @cescoffier :

Here are some improvements that may be interesting to have:

* Config analysis:
    Print somewhere in the console or in a generated descriptor the main configuration key that needs to be overridden: database url, MP rest client, Kafka broker location... Each extension should be able to contribute to this set.

* Config map:
    Generate a config map file with the configuration

[2019-10-30 07:54] geoand commented on #5017
* Config analysis: That is an great point! I really like it!

* Config map: I like this one

* Not sure I understand the hardcoded values point. Can you explain a little more?

* Not really sure we can do much about this, but worth checking out

* The descriptor has changed location - it is now at target/kubernetes

* Labels can now be added with the latest changes @iocanel  has made - basically t

[2019-10-30 08:12] geoand commented on #5016
@dmlloyd is this something you have seen before?

[2019-10-30 08:18] geoand commented on #5017
From @cescoffier about bulkhead and timeout:

[code]

[2019-10-30 08:43] stianst commented on #5003
Keys don't need to be loaded periodically, but rather on-demand. Basically if there is an unknown kid try to fetch keys again. Otherwise there would be a period between keys being rotated on the server side and not being available in the client.

[2019-10-30 08:48] mkouba opened #5018 "ScopeInfo should have a public constructor"
Otherwise it can't be used for custom scopes in a `BeanConfigurator`. We should also add some javadoc to instruct the users to use `io.quarkus.arc.processor.BuiltinScope` for built-in scopes.

[2019-10-30 09:13] xfh opened #5019 "OIDC Error Handling for invalid & expired tokens"
**Describe the bug**
With the old Keycloak extension, invalid or expired tokens resulted in common HTTP 401 responses. Since the refactoring of the security layer, such a request results in a HTTP 500 response:
[code]

A requests with e.g. an unauthorised role still results in HTTP 403 `Access forbidden: role not allowed`, so I am guessing the exception mapping for authentication has been forgotte

[2019-10-30 09:16] stuartwdouglas commented on #5019
@pedroigor  @sberyozkin FYI

[2019-10-30 09:21] xfh commented on #5019
By the way: when making a request without access token, quarkus responds with HTTP 401 Not authorized

[2019-10-30 09:47] mkouba opened #5020 "Scheduler - make the thread pool configurable and/or reuse ExecutorBuildItem"
The values are currently hard-coded in `io.quarkus.scheduler.runtime.QuartzScheduler.start()`.

[2019-10-30 09:53] jaikiran commented on #5020
Just a FYI - there's a similar enhancement request here https://github.com/quarkusio/quarkus/issues/4606 :)

[2019-10-30 09:54] mkouba commented on #5020
@jaikiran Yes, I know :-).

[2019-10-30 11:02] maxandersen commented on #4771
status is equally neutral to grading so i'm fine with that. lets keep it simple ;)

so "status" = "preview" is the key/value pair we'll use for v1 to mark things non-stable, ok ?

[2019-10-30 11:41] jmartisk commented on #5014
@kenfinnigan No matter how I try, I can't reproduce the failure you mentioned in https://github.com/quarkusio/quarkus/pull/4954#issuecomment-547418841  - if I take the current master and un-exclude the test, everything works. Guess I'll just send a PR with un-excluding the test and we'll see how it goes

[2019-10-30 11:44] MikeEdgar commented on #2819
This issue is fixed - the parameters from the `@BeanParam` are present in https://editor.swagger.io/?url=https://code.quarkus.io/openapi

* [CodeQuarkusResource.kt](https://github.com/quarkusio/code.quarkus.io/blob/master/src/main/kotlin/io/quarkus/code/CodeQuarkusResource.kt) - uses `@BeanParam`
* [QuarkusProject.kt](https://github.com/quarkusio/code.quarkus.io/blob/master/src/main/kotlin/io/quar

[2019-10-30 11:50] gsmet commented on #2819
@ia3andy I let you close this one if everything is OK for you?

[2019-10-30 12:11] gsmet opened #5023 "Add additional metadata to MANIFEST.MF"
Following this SO question - https://stackoverflow.com/questions/58623758/quarkus-maven-plugin-does-not-add-implementation-entries-to-manifest - stating that we don't push some useful information to the manifest, I think we could push at least a couple more, especially the suggested ones.

This should be done in `JarResultBuildStep`, we have a method to generate the manifest. The information are a

[2019-10-30 12:12] gsmet commented on #5023
@anamarija this one might be a good issue to start with and understand the concept of build step and build items that is core to Quarkus.

[2019-10-30 12:17] remkop commented on #284
@dmlloyd Now that Quarkus 0.27 was released, will you be able to spend time on this?

[2019-10-30 12:43] oztimpower opened #5027 "Gradle Kubernetes extension failure - maven ok"
**Describe the bug**
Exception for Gradle build when Kubernetes dependency added.  Maven build works fine.  Basic Resteasy sample project.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':quarkusBuild'.

* Try:
Run with --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionException:

[2019-10-30 12:52] kenfinnigan commented on #5018
Is it ok to add a public constructor as part of REST TCK fix?

[2019-10-30 12:54] mkouba commented on #5018
@kenfinnigan sure. Pls update the javadocs as well.

[2019-10-30 12:56] kenfinnigan commented on #2801
Resolved as part of #4520

[2019-10-30 12:56] #2801 closed

[2019-10-30 12:57] kenfinnigan commented on #2800
Resolved as part of #4520

[2019-10-30 12:57] #2800 closed

[2019-10-30 12:57] kenfinnigan commented on #2796
Resolved as part of #4520

[2019-10-30 12:57] #2796 closed

[2019-10-30 12:57] kenfinnigan commented on #5018
Which javadoc? the ScopeInfo or somewhere else?

[2019-10-30 13:01] kenfinnigan commented on #2799
Resolved as part of #4520

[2019-10-30 13:01] #2799 closed

[2019-10-30 13:02] kenfinnigan commented on #2701
Is this issue still an issue or for Arquillian use, it's ok now?

Wondering if we can close

[2019-10-30 13:04] emmanuelbernard commented on #4774
Bump up on FT hanging @michalszynkiewicz @Ladicek

[2019-10-30 13:12] mkouba commented on #5018
Yep, `ScopeInfo`.

[2019-10-30 13:14] rafaelkloss commented on #4377
Hi guys, thanks for the effort, so far we are using 0.22.0.

[2019-10-30 13:14] #4966 closed

[2019-10-30 13:15] rafaelkloss commented on #4377
There are any workaround for this ?

[2019-10-30 13:16] michalszynkiewicz commented on #4826
I started looking into it and intend to continue when I'm finished with my current task so I am assigning it to myself.

[2019-10-30 13:16] jmartisk commented on #4651
Should be fixed in current master

[2019-10-30 13:16] #4651 closed

[2019-10-30 13:17] #2819 closed

[2019-10-30 13:17] michalszynkiewicz commented on #4774
I will be looking at https://github.com/quarkusio/quarkus/issues/4826 soon, can try to tackle this one as well by the way

[2019-10-30 13:21] dmlloyd commented on #284
I'm almost finished with my current task, and this one will be next.

[2019-10-30 13:22] tatute opened #5030 "Injection doesn't work in ClientHeadersFactory"
Initial discussion can be found on [StackOverflow](https://stackoverflow.com/questions/58558635/quarkus-microprofile-is-there-a-better-way-to-use-a-property-from-applicatio/58623996)

**Describe the bug**
Injecting a bean into a class that extends ```ClientHeadersFactory``` doesn't work.

**Expected behavior**
I would like to have an instance of my class injected by the container

**Actual behavio

[2019-10-30 13:28] sberyozkin commented on #4946
@mathianasj FYI, `0.27.0` is out, give it a try please

[2019-10-30 13:28] Ladicek commented on #4774
I can reproduce this with Thorntail. I believe this is an un(der)specified interaction between Fault Tolerance and RestClient, because RestClient can do asynchronous invocations on its own, and when adding FT's `@Asynchronous`, there's 2nd level of async invocations going on.

[2019-10-30 13:30] mkouba commented on #2701
It seems that a workaround exists - see my comment https://github.com/quarkusio/quarkus/issues/2701#issuecomment-501672780.

Closing the isse.

[2019-10-30 13:30] #2701 closed

[2019-10-30 13:46] oztimpower commented on #5027
Regenerated Gradle build.gradle from latest Maven template, and it works ok now.

[2019-10-30 13:51] michalszynkiewicz commented on #4774
the fact that the `@Retry` is not invoked on without `@Asynchronous` is expected because FT treats the completion stage creation as the method under retry in this situation

[2019-10-30 13:57] loicmathieu commented on #5017
- Config map: what's difficult with generating a ConfigMap is that not everything should be overriden at runtime. I understand that your first point will try to guess what's needed to be overriden but it really depends on the user. For exemple I don't use ConfigMap for mp-rest-client URL as the target service is deployed in k8s on thd same namespace, so I use k8s service name that are stable accro

[2019-10-30 14:12] jorsol commented on #5000
Not sure if I follow... [maven versioning rules](https://cwiki.apache.org/confluence/display/MAVENOLD/Versioning) perfectly allows using `x.y.z-rc1` and `x.y.z`:
[code]

And in fact the dot used in `1.0.0.CR1` creates a weird distinction compared to the dash qualifier type `1.0.0-rc1`

[2019-10-30 14:35] geoand commented on #4693
Makes sense

[2019-10-30 14:46] kenfinnigan commented on #4512
How's the big config PR going @dmlloyd?

[2019-10-30 14:52] kenfinnigan commented on #4693
Don't we convert Spring Web annotations to JAX-RS ones for execution? So do we just need to modify SmallRye OpenAPI to be able to operate on a "current" set of beans instead of pre-computed jandex?

[2019-10-30 14:55] Ladicek commented on #4774
In case anyone's interested, here's my Thorntail test case: https://github.com/Ladicek/thorntail-test-suite/commit/0a09c24326e08c816be5031843dc3bc4d93f85af

[2019-10-30 14:58] kenfinnigan commented on #4693
Ok.

Does that mean SRye OpenAPI needs to understand Spring annotations?

[2019-10-30 15:06] Sanne commented on #3690
I guess this issue should have been closed?

[2019-10-30 15:10] pedroigor commented on #5019
I think this is fixed by https://github.com/quarkusio/quarkus/pull/4884/files#diff-f1401467a45b52a1e0a23ca77551e4e1R36. Test here https://github.com/quarkusio/quarkus/pull/4884/files#diff-a93f781220e33322eb3e04e6fcabb961R189.

[2019-10-30 15:11] Sanne commented on #2767
N.B. also there's no need to use the `org.hibernate.orm Gradle plugin`: Quarkus does the enhancement of all your entities automatically.

[2019-10-30 15:16] sberyozkin commented on #5019
@xfh Can you please try `0.27.0` ?

[2019-10-30 15:18] xfh commented on #5019
Ah nice, a new release. I'll try directly.

[2019-10-30 15:22] geoand commented on #5023
And of course feel free to reach out for any help you might need

[2019-10-30 15:29] oztimpower opened #5036 "Gradle plugin Uber-jar to use application.property quarkus.package.uber-jar=true like Maven"
**Description**
Maven has really simple Uber-jar creation via the application.property quarkus.package.uber-jar=true.  Would it be possible to Gradle to also use this property.

Reason being, I'm seeing really weird behaviour using:
[code]

It's incrementing the number on the runner ApplicationImpl.  This needs to be "1", as it's hard-coded in Class.ForName on startup in the Amazon-Lambda Stream H

[2019-10-30 15:30] xfh commented on #5019
Now I get HTTP 403 and no error message in the log. I think it used to be 401 before, but I don't really care which one. Looks good to me.

[2019-10-30 15:40] sberyozkin commented on #5019
@xfh re the empty log, please watch [this issue](https://github.com/quarkusio/quarkus/issues/4553).

[2019-10-30 15:42] oztimpower opened #5037 "Amazon Lambda SAM CLI integration"
**Description**
I've tested the SAM integration that is on the Amazon Lambda HTTP docs, and used a similar sam.jvm.yaml (without the dynamo db YAML), and it works fine.

Any chance the archetype and documentation could clone this functionality from the Amazon Lambda HTTP implementation (incl. uber jar) -- particularly whilst it's fresh in the minds of the developers.

[code]

[code]

It would be s

[2019-10-30 15:44] sberyozkin commented on #5019
@pedroigor I was actually going to ask you about the statues :-), as I thought 403 was only for the permissions related failure. I guess 401 and 403 are just used interchangeably by various OIDC adapters. If you think it is worth documenting 401 vs 403 now then sure, please, or we can wait a bit, thanks

[2019-10-30 15:45] pedroigor commented on #5019
Added a test for this scenario. See https://github.com/quarkusio/quarkus/pull/5038.

[2019-10-30 15:45] geoand commented on #5036
Hi, with Quarkus `0.27` you can do:

[code]

And to get the uber-jar.

Can you give it a shot please?

[2019-10-30 15:46] kenfinnigan commented on #4516
@dmlloyd so I figured out what's going on with the system properties.

`ExpandingConfigSource` when it creates the expression compiler, doesn't set a flag for "no trim", which means the value is trimmed. Which leads to our mismatch.

Is it ok to add a no trim flag to the expression creation?

[2019-10-30 15:47] sberyozkin commented on #5019
@pedroigor cool, thanks; 403 works as well I think

[2019-10-30 15:47] xfh commented on #5019
@pedroigor thanks for the explanation. You can close the issue.

[2019-10-30 15:49] #5019 closed

[2019-10-30 15:50] oztimpower commented on #5036
Needless to say I don't have this issue with the Maven plugin (the version increment).

[2019-10-30 15:51] sberyozkin opened #5040 "quarkus-oidc can depend on vertx-core and vertx-http as opposed to the full vertx stack"
**Description**
See the subject, as recommended by Clement @cescoffier

**Implementation ideas**
Have the adapter depending on `quarkus-vertx-core`

[2019-10-30 16:00] gsmet commented on #5015
@mkouba could you have a look please?

[2019-10-30 16:05] emmanuelbernard commented on #4629
That's a fair question, we [c|sh]ould push JBoss Logging yes, it has a few additional useful APIs. But gently, people can use what they want

[2019-10-30 16:20] emmanuelbernard opened #5043 "quarkus-security extension has incorrect quarkus-extension.yaml"
Referencing jaeger
Also started a conversation to know whether this extension is to be unlisted or not

[2019-10-30 16:48] dmlloyd commented on #4516
Sure, that should be fine.

[2019-10-30 19:27] snoopdave commented on #3138
I'm still seeing this problem with Quarkus 0.27.0

[2019-10-30 20:03] dmlloyd commented on #4512
Working, sort of.  Just fixing some glitches.  Then I have to add a bunch more tests.

[2019-10-30 20:04] dmlloyd commented on #5016
No, I have never seen this.  I agree this looks like a GraalVM bug.  I wonder if it doesn't load the zone database by default to save space.

[2019-10-30 20:21] anamarija commented on #5023
Hi,
Could you please provide some additional info what you mean with the opt-in option. Should it be a custom gradle/maven configuration param which when set should define a build param which in the JarResultBuildStep enables implementationEntries in the manifest. As I understood from the SO question only these two are needed currently

Implementation-Title:  ${appArtifact.artifactId}
Implementati

[2019-10-30 20:33] kenfinnigan commented on #4512
Ok, if there's anything I can do to help, just let me know

[2019-10-30 20:45] kenfinnigan commented on #4338
This is part of 0.27

[2019-10-30 20:45] #4338 closed

[2019-10-30 20:45] FreifeldRoyi commented on #4712
I'm actually using the `quarkus-smallrye-reactive-messaging-kafka` and not directly using the kafka client.
Everything is reactive once I emit a message. So if the emitting stream is down (due to some exception) or if the kafka (reactive)-stream is down, the service becomes unhealthy.
I guess you're right that it's not an issue with Kafka, but a reactive issue.

[2019-10-30 20:46] kenfinnigan commented on #4886
I'm going to close as I don't think this is a bug.

Please reopen if it's proven otherwise

[2019-10-30 20:46] #4886 closed

[2019-10-30 20:50] kenfinnigan commented on #4134
Can you try reproducing with 0.27 and the most recent Graal

[2019-10-30 20:54] kenfinnigan commented on #4123
Can you try with 0.27, as there was an issue where Rest Client properties weren't respecting the config profiles, which is now resolved

[2019-10-30 20:54] kenfinnigan commented on #3781
Can you verify with 0.27, as I think this should be fixed now

[2019-10-30 20:58] kenfinnigan commented on #2657
Is this still a problem with 0.27?

[2019-10-30 20:58] kenfinnigan commented on #2222
Can you verify if this is still a problem?

I think JWT in Native issues are all fixed

[2019-10-30 20:58] p-zalejko opened #5051 "Quarkus 0.27 - JWT role validation does not work"
Hi,

I have just migrated my small project from Quarkus 0.25 to 0.27 and I ran into an issue.

Let's image we have the [SmallRye JWT extension](https://quarkus.io/guides/jwt-guide) configured and the following class:

[code]

Corresponding test:

[code]

Everything works fine with 0.25. Unfortunately on Quarkus 0.27 my test fails because a request ends with HTTP 200 (```helloProtected``` method ge

[2019-10-30 21:01] kenfinnigan commented on #1949
Can you verify with 0.27, as I think this should be fixed?

[2019-10-30 22:04] stuartwdouglas commented on #5036
I don't think we need this count thing any more, I think it was to work around class loading issues for tests back when our internal tests did not have an isolated class loader.

[2019-10-30 22:22] stuartwdouglas commented on #5051
This should be handled by the io.quarkus.security.runtime.interceptor.RolesAllowedInterceptor now.

Do you have a reproducer?

[2019-10-30 22:28] stuartwdouglas commented on #5051
I think you might have to declare the function as 'open'.

That said we really should throw a deployment error for this case.

[2019-10-30 22:31] p-zalejko commented on #5051
Hi,

thanks for info. I will check it. I have a small project [here](https://github.com/p-zalejko/my-planner/tree/v0.0.4). There is ```GreetingResourceTest``` and it fails when in pom.xml 0.27 is set.

[2019-10-30 22:33] p-zalejko commented on #5051
@stuartwdouglas  thanks!, you are right, I changed these methods to ```open``` and now everything is fine.

[2019-10-30 22:35] stuartwdouglas commented on #5051
@mkouba it looks like ArC is just ignoring final methods for interceptors, is this intentional? It seems like a big problem for cases like this.

[2019-10-30 22:35] stuartwdouglas commented on #5051
Maybe if interceptors have been applied to final methods on application classes we could use our class transformers to make it 'just work' by removing the final modifier.

[2019-10-30 22:36] geoand commented on #3552
@maxandersen are you planning on looking at this one? I don't use eclipse so I don't think I can do much about it

[2019-10-30 23:33] #5018 closed

[2019-10-31 00:29] cstancu commented on #4218
@gsmet the `onlyWith = JDK8OrEarlier.class` changes that I mentioned above could be integrated before the 19.3.0 release and I think it should be enough to allow us to enable the Quarkus integration tests for JDK11.

[2019-10-31 01:13] brunoabdon opened #5058 "Include Throwable in startup error log message"
**Describe the bug**
The error log message "_Failed to start Quarkus, attempting to start hot replacement endpoint to recover_" should include the Throwable that caused it.

This is at this line: https://github.com/quarkusio/quarkus/blob/6ac42657d5c3cc95cf8a09feb8a1f52ebc80b4f7/core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java#L187

**Expected behavior**
Show the Throwable info on error l

[2019-10-31 01:22] kunieda-o opened #5059 "java.lang.NoSuchFieldError: SERVER_SENT_EVENTS_TYPE when building with gradle"
**Describe the bug**
Fail when ./gradlew quarkusBuild

**Expected behavior**
Runnable jar created

**Actual behavior**
Build was failed.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
[code]

**Environment (please complete the following information):**
[code]

Quarkus version or git rev: `0.27.0`

**Additional context**
- I saw this error sin

[2019-10-31 01:59] stuartwdouglas commented on #5059
Something is pulling in an old version of javax.ws.rs:javax.ws.rs-api. You need to figure out how to get rid of this dependency.

[2019-10-31 02:29] kunieda-o commented on #5059
Thank you for pointing it out.

`implementation 'javax.ws.rs:javax.ws.rs-api:2.1.1'`
I thought it's not problem because the enum has `SERVER_SENT_EVENTS_TYPE `.

I removed  `implementation 'javax.ws.rs:javax.ws.rs-api:2.1.1'` and build again, then found the following error...
[code]

[2019-10-31 02:49] kunieda-o commented on #5059
And I could do `quarkusDev` whether removing the dependency or not.

[2019-10-31 03:43] jaikiran commented on #5058
https://github.com/quarkusio/quarkus/pull/5061

[2019-10-31 04:16] stuartwdouglas commented on #5015
This is related to how transformation is handled in dev mode. Because PersonReposity is not in the main application arc assumes that it will be loaded by the app class loader, and so creates the client proxy in the app class loader.

However because this is transformed it actually ends up in the RuntimeClassLoader, so the client proxy and repository and in different loaders.

[2019-10-31 04:35] jaikiran opened #5062 "Building a Quarkus application with Java 12+ can result in failure to start it in Java 8 runtime"
Quarkus applications are generated to be runnable against a minimum Java 8 version. However, there appears to be an issue where if a Quarkus application is built using Java 8+ (especially Java 12 or higher) and then that application is started on Java 8, then it runs into an exception. One such exception is:

[code]
It looks like we are missing the use of `-release` option that should be configure

[2019-10-31 04:39] jaikiran commented on #5062
Simplest way to reproduce this is. Have a trivial application with REST endpoint which has this:
[code]
then in `application.properties`:

[code]
Build the application using Java 12 or higher:
[code]
Now run the application using Java 8:
[code]
you should see the exception stacktrace like the one in the description of this issue.

[2019-10-31 04:40] stuartwdouglas commented on #5015
@mkouba if you want to handle this have a look at the logic https://github.com/quarkusio/quarkus/blob/c3e9bc7da2255ca744c818734cdf6bb0b335bdc2/core/deployment/src/main/java/io/quarkus/runner/RuntimeClassLoader.java#L273 to see what should be considered an application class (although this should be moved into a build step so it is only run once).

Otherwise I can look at it tomorrow

[2019-10-31 05:12] jaikiran commented on #5062
The more I look into this, the more this looks related to gizmo where it uses ASM to generate the class files. Although gizmo does use `OpCodes.V1_8` for class file generation using ASM https://github.com/quarkusio/gizmo/blob/master/src/main/java/io/quarkus/gizmo/ClassCreator.java#L151, I don't know if that will prevent ASM from using APIs in the generated class file from a higher version of Java

[2019-10-31 05:17] remkop commented on #4095
@maxandersen An alternative approach to calling the `setConsoleMode` native API may be to use [Jansi](https://github.com/fusesource/jansi) and [picocli-jansi-graalvm](https://github.com/remkop/picocli-jansi-graalvm).

In native images Jansi has [issues](https://github.com/fusesource/jansi/issues/162).   `picocli-jansi-graalvm` works around these issues.

Enabling it works similar as with Jansi:

[

[2019-10-31 05:22] stuartwdouglas commented on #5062
I am not sure. This would be an ASM issue rather than a Gizmo one.

[2019-10-31 05:23] stuartwdouglas commented on #5062
I would grep for ConstantDesc in the ASM source code and see what shows up.

[2019-10-31 05:24] jaikiran commented on #5062
Looks like it. I'll try to see if I can reproduce this in a non-Quarkus use case and then present it to ASM project as a issue/question.

[2019-10-31 06:48] sgerr commented on #5016
Is there any workaround except of explicit specifying time zone every time it is needed?

[2019-10-31 07:15] johnaohara commented on #4560
@jkbrock I have sent an email with the figures

[2019-10-31 07:30] mkouba opened #5063 "ComponentsProviderGenerator - break the generated getComponents() method for large deployments into multiple methods"
Otherwise we end up with `org.objectweb.asm.MethodTooLargeException`. `BytecodeRecorderImpl` already has something similar implemented.

[2019-10-31 07:37] geoand commented on #5036
@oztimpower Would you be able to check and see if Stuart's #5060 PR fixes the issue with the gradle daemin?

[2019-10-31 07:40] geoand commented on #5051
@stuartwdouglas That could be a general strategy for Kotlin, although it's probably better if we actually implement the kotlin compiler plugin which would open things we deem necessary to be open.

[2019-10-31 07:41] geoand commented on #5037
cc @evanchooly @patriot1burke

[2019-10-31 07:43] geoand commented on #5059
The second problem you mention has been fixed in `master` (via #https://github.com/quarkusio/quarkus/pull/5041) and will be part of the `0.28.0` release

[2019-10-31 07:47] kunieda-o commented on #5059
Thank you. Sorry, I didn't notice it.

[2019-10-31 07:47] #5059 closed

[2019-10-31 07:49] geoand commented on #5059
Not a problem at all!

[2019-10-31 07:52] mkouba commented on #5051
Yes, we do ignore the final methods. The CDI spec requires a class that has a bound interceptor to be proxyable - no final methods. But we're a bit more lenient. I think we log a warning for each ignored final method...

[2019-10-31 07:55] mkouba commented on #5051
Sounds interesting. But I wonder if there could be any "hidden" problems with this approach?

[2019-10-31 07:58] stuartwdouglas commented on #5051
I think this behaviour is a big problem for security interceptors, especially if the interceptor has been bound to the method rather than the class

[2019-10-31 08:03] jskovjyskebankdk commented on #3552
Not (only) related to eclipse, btw. This is (also) a problem from Gradle command line.

[2019-10-31 08:06] geoand commented on #3552
@jskovjyskebankdk which command did you is not working?

Asking because the are various fixes for the gradle tasks that have gone in lately

[2019-10-31 08:14] jmartisk commented on #4375
The class with metric annotations will most likely contain not just metric annotations, but any useful business logic (for example, it will have a method that does something useful and is annotated with `@Counted`, so turning off metrics does not mean that you won't need to call that method at all). So we would need to add this bean as an additional bean even if metrics are disabled. But there is

[2019-10-31 08:33] emmanuelbernard commented on #5063
Adding as a candidate for 0.28

[2019-10-31 08:40] oztimpower commented on #5036
Yes, after multi-executions with the same Gradle daemon I confirm it's stable.

Much appreciated!

Validated below:
[code]

[2019-10-31 08:43] geoand commented on #5036
Thanks for checking @oztimpower!

[2019-10-31 08:48] jskovjyskebankdk commented on #3552
See https://github.com/quarkusio/quarkus/issues/3552#issuecomment-546586969, tested with 0.26.1

@QuarkusTest only works when executed in context of the Gradle task named 'test'.
They fail if you use a custom instance called e.g. 'integration'.

[2019-10-31 08:52] geoand commented on #3552
@jskovjyskebankdk I see. Starting with Quarkus `0.26.1` you can generate a Gradle project using the Maven tooling (see [this](https://quarkus.io/guides/gradle-tooling#project-creation)) which sets up 2 different tasks for tests.
I propose you take a look and tell us what you think.

[2019-10-31 08:56] #5036 closed

[2019-10-31 09:04] jskovjyskebankdk commented on #3552
I am not having problems writing Gradle.
The problem is that the quarkus plugin makes assumptions about what tasks are relevant for testing, based on naming (it would seem - this is not a comprehensive bug analysis :) )
It should do so based on task types.

[2019-10-31 09:09] geoand commented on #3552
@jskovjyskebankdk I understand where you are coming from.
However the plugin now sets up the necessary tasks on it's own so you shouldn't need to manually configure them anymore.
That said, having custom test tasks will probably not work at this point.

[2019-10-31 09:11] emmanuelbernard opened #5067 "404 in oidc web app guide"
A link is forwarding to a 404 in the documentation: https://quarkus.io/guides/oidc-web-app-guide
"Import the realm configuration file to create a new realm. For more details, see the Keycloak documentation about how to create a new realm." -> https://github.com/quarkusio/quarkus-quickstarts/tree/master/openid-connect-web-authentication/config/quarkus-realm.json

[2019-10-31 09:12] emmanuelbernard commented on #5067
I'll fix the issue in two steps.

Go for the final link which will need the new development quick start to be in master.
In the mean time fix it on the website

[2019-10-31 09:14] maxandersen commented on #3552
@jskovjyskebankdk sorry for the troubles. we've found a few bad assumptions in the gradle task implementation that we'll need to fix to make it more solid - this is one of them; but it will be post 1.0. Very shortly after is my plan.

[2019-10-31 09:16] jskovjyskebankdk commented on #3552
No worries. I have a workaround :)

I just felt it was best behavior to report new insights on an issue that appeared to be stale.

[2019-10-31 09:17] loicmathieu commented on #4712
@FreifeldRoyi we can easily monitor the health of a Kafka cluster, but I'm not confident to put a health check DOWN if a Kafka broker is down because the Java Kafka Producer is resilient and can keep some messages (in memody I think) in a buffer and send them when the cluster is back. The same for a client, it will reconnect to the cluster when back. So if I implements a Kafka Healthcheck I would

[2019-10-31 09:57] gengraphael commented on #4841
HI... yes i do!

Linux under Centos 8 ist working! Only windows not!

[2019-10-31 10:08] loicmathieu opened #5071 "Private injection on smallrye-metrics"
**Describe the bug**
Following this discussion on Zulip: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Unrecommended.20usage.20of.20private.20members/near/179447246 I spotted some private field injection on `smallrye-metrics`.

[code]

**Expected behavior**
No private injection for performance reason.

**Environment (please complete the following information):**
 - Quarkus versio

[2019-10-31 10:12] jaikiran commented on #5062
After some debugging, it now looks like we might need @mkouba's help to sort this out.

What seems to be happening is, we have `io.quarkus.arc.runtime.QuarkusConfigProducer` which has (among other methods)
[code]

During deployment processing, the `io.quarkus.arc.processor.BeanDeployment` in its `findBeans`  does a call to `Beans.createProducerMethod` after finding the `@Produces` on that above me

[2019-10-31 10:13] jaikiran commented on #5062
I'm going to unassign myself from this one for now, since this has now turned out to be related to Arc, which I don't have much knowledge of.

[2019-10-31 10:19] emmanuelbernard commented on #4375
@jmartisk  I inferred a bit probably but here we are only talking about metrics that would be **built-in and provided by extensions**. Explicit user app metrics, we do them the normal MP Metrics way as indeed business logic is mingled.

So DB connection acquisition per second, cache miss / hit by Hibernate. For these, we want the user to be able to say, I don't want the extension metrics with a fl

[2019-10-31 10:20] geoand commented on #5062
@jaikiran Thanks for the insightful analysis and for your time on this!

[2019-10-31 10:25] gsmet commented on #5062
Yeah, so, for me it's not top priority on the shopping list to get applications built with JDK 12+ to run on Java 8.

I think we can live with it for now and get back to it when we have more time.

[2019-10-31 10:27] geoand commented on #5062
I agree

[2019-10-31 10:30] jmartisk commented on #5071
@loicmathieu Sure thing. I will do the fix as well. https://github.com/smallrye/smallrye-metrics/issues/199

[2019-10-31 10:49] jmartisk commented on #5071
Hm, I realized these injections are in the Metrics TCK code as well. I'll see what can be done there, but AFAIU this performance problem is a bit Quarkus-specific and might not apply to general usage of CDI, so this could potentially hit some resistance. Or do we have any source saying that this should not be done in general? Anyway, I guess that as long as the TCKs pass, it's not a big deal for u

[2019-10-31 10:52] ge0ffrey opened #5072 "Documentation gap fo extension authors guide: Configuration Value Types lacks java.time.*"
The configuration convertors in this list:
  https://quarkus.io/guides/extension-authors-guide#configuration-value-types
Do not mention java.time.Duration or any of the other java.time.* classes.

However, Guillaume confirmed it is supported, so java.time.Duration (and potentially other java.time.* classes) should be added to that list.

[2019-10-31 10:53] ge0ffrey commented on #5072
Related:
"it's the only one missing so we need to take a step back and fill in the gaps
see for instance: https://github.com/quarkusio/quarkus/blob/master/extensions/agroal/runtime/src/main/java/io/quarkus/agroal/runtime/DataSourceRuntimeConfig.java#L74 "

[2019-10-31 10:54] Sanne commented on #5062
Wondering though what's the deal about String being considered a bean. Would this imply we have tons of unused useless beins being registered?

[2019-10-31 10:56] emmanuelbernard commented on #4375
Meaning I inferred things when I created the issue. Sorry

[2019-10-31 10:57] Sanne commented on #5058
I think we can consider this resolved by #5061 : closing

[2019-10-31 10:57] #5058 closed

[2019-10-31 11:01] jmartisk commented on #4375
@emmanuelbernard Well yes, I am talking about metrics from Quarkus extensions only. Not sure what exactly made you think I'm dealing with application metrics here. For those, nothing will change, of course.

[2019-10-31 11:03] jmartisk commented on #4375
If you got confused by "option to turn off all metrics globally" then yeah that might not have been clear, but I meant the ones from extensions here. Sorry :)

[2019-10-31 11:08] stuartwdouglas commented on #5062
It's considered a bean for injecting config properties (and JWT claims).

[2019-10-31 11:09] emmanuelbernard commented on #4375
you said "business logic"

[2019-10-31 11:11] jmartisk commented on #4375
Ok, that might not have been the best term either, but I meant some code that is actually doing something, meaning that we cannot discard it without breaking the application.

[2019-10-31 11:12] emmanuelbernard commented on #4375
OK it's clearer to me now why you feel the programmatic approach will dominate for extensions. I do agree. And for programmatic, disabling them is easier of course as we simply don't enlist them.

[2019-10-31 11:22] #5067 closed

[2019-10-31 11:23] emmanuelbernard commented on #5051
Isn’t it the Kotlin extension job to open the useful classes ?

[2019-10-31 11:25] stuartwdouglas commented on #5051
This is not really a kotlin specific issue IMHO. If you apply a security annotation to a class it should either work, or cause a deployment error. Ignoring @RolesAllowed because a method is final is likely CVE material.

[2019-10-31 11:26] #5043 closed

[2019-10-31 11:28] Sanne commented on #5062
JWT ?

On Thu, 31 Oct 2019, 11:08 Stuart Douglas, <notifications@github.com> wrote:

[2019-10-31 11:29] geoand commented on #5051
I completely agree with what @stuartwdouglas about failing on `final`.
On the other hand, making things non final is part of Kotlin support - not necessarily the extension but the Kotlin compiler addon we should to write (since our proposed changes to the generic all-open one got rejected)

[2019-10-31 11:31] stuartwdouglas commented on #5062
Well basically anything that does:

[code]

The main ones in the base platform are microprofile config which lets you inject config as a String, and Json Web Token support (smallrye-jwt) that allow you to inject claims from the token as a string.

[2019-10-31 11:36] gsmet commented on #5051
Is someone working on the deployment error approach? I think we should have it in 0.28.0.

[2019-10-31 11:38] loicmathieu opened #5073 "Provides extension HealthCheck"
**Description**
Provides health check for some of the existing extensions.
It will not be exhaustive, please advise if some other extensions deserve an health check in the same batch of health check.

**Implementation ideas**

### MongoDB Health Check
Provides a **readiness** health check for MongoDB.
Proposed implementation: use the `MongoClient` to list the databases.
**Enabled** by default.

##

[2019-10-31 11:39] geoand commented on #5051
I am not, but I can get to it in a few hours if no one picks it up sooner.

[2019-10-31 11:47] Sanne commented on #5062
Ah thanks for the explanation, that makes sense.

But I'd say I'd expect the qualifier to be mandatory.. I hope we don't
register and inspect just any and all String fields :)

On Thu, 31 Oct 2019, 11:31 Stuart Douglas, <notifications@github.com> wrote:

[2019-10-31 12:34] angelozerr commented on #1655
@maxandersen even if we have managed Quarkus properties with JDT LS, I think it should be very good if each extension could provide those properties because:

 * it will avoid scanning classes from JAR to collect Quarkus properties and will improve performance: reading a JSON file from a JAR should be more performant than scanning classes from JAR.
 * we have re-developed the Quarkus properties ge

[2019-10-31 12:57] geoand commented on #5071
Indeed the private member injection thing is Quarkus specific.

[2019-10-31 12:58] geoand commented on #5073
@cescoffier might have some comments on this

[2019-10-31 13:07] FreifeldRoyi commented on #4712
Indeed it is my responsibility! But I'd rather let the container orchestrator kill and restart a DOWN instance, emit an alert from my monitoring system and not leave it up and running and hanging.

I already agreed that the code handling kafka behind the scenes is probably doing a good job reconnecting, but it's still a resource that needs to be checked for readiness.. If I can mark the instance a

[2019-10-31 13:10] sberyozkin commented on #3685
@belyaev-andrey Can you please check the latest master code if you can ? @stuartwdouglas has done [some fixes](https://github.com/quarkusio/quarkus/pull/5056).

[2019-10-31 13:13] sberyozkin commented on #3598
Can Stuart's [fix](https://github.com/quarkusio/quarkus/pull/5056) help here ?

[2019-10-31 13:14] sberyozkin commented on #3568
@stuartwdouglas Hi Stuart, what do you think of this one ? (JAX-RS applications can have Options methods in general)

[2019-10-31 13:23] jmartisk commented on #5071
Okay, we'll leave TCKs as they are

[2019-10-31 13:25] geoand commented on #5030
@kenfinnigan @asoldano  This will require a change in resteasy-client-microprofile since currently `ClientHeaderProviders` doesn't have a way to delegate the creation of a  `ClientHeadersFactory`.

[2019-10-31 13:30] mkouba commented on #5051
It should be possible to throw a deployment error for non-proxyable types annotated with a security annotation. On the other hand, I'm not quite sure it should be the default behavior.

Currently, we have a concept of "validation rules" that could be skipped: https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/BeanDeploymentVal

[2019-10-31 13:31] kenfinnigan commented on #5030
Based on the current MP REST Client specification, it doesn't define whether injection should be possible within the factory.

I believe there are other types where injection isn't supported either for MP REST Client.

I think we'd need this clarified in the spec first

[2019-10-31 13:31] mkouba commented on #5062
@Sanne `@Produces` is mandatory ;-).

[2019-10-31 13:34] geoand commented on #5030
Makes sense.

My perspective is that this sort of injection is very useful for users.

[2019-10-31 13:43] dmlloyd commented on #1655
Yet another descriptor eh?

I was thinking we could probably replace 80% or more of extension descriptor metadata by using Jandex instead...

[2019-10-31 13:54] kenfinnigan commented on #4975
Are we good to close this?

I think we figured it was a notice on a previously used dependency right?

[2019-10-31 13:57] kenfinnigan commented on #3758
Closing as we're now on 1.0.8

[2019-10-31 13:57] #3758 closed

[2019-10-31 13:58] kenfinnigan commented on #3737
@rsvoboda can you verify with 0.27?

I'd be surprised if this is still an issue

[2019-10-31 14:03] jaikiran commented on #5016
I can't reproduce this. I get the right timezone. I'm on Graal `19.2.0.1` (I haven't yet tested on `19.2.1`). What version of Graal VM are you on and which Java vendor and version?

Also, can you paste the exact command you use to generate the native image?

[2019-10-31 14:16] mkouba commented on #5062
@jaikiran So the set of bean types of a producer method is defined by the spec -  the return type, every superclass and all interfaces (see https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_method_types). I think we can easily fix this one with `@Typed(String.class)` added to the producer method. The only problem would be that you wouldn't be able to resolve  `@ConfigProperty ConstantDesc

[2019-10-31 14:22] kenfinnigan opened #5080 "MP Fault Tolerance TCK - Fix excluded tests"
Currently, the below tests are excluded from execution when running the MP FT TCK. We need to either fix Quarkus so the test passes or challenge and fix the TCK if it's a problem there.

- [ ] [testBulkheadClassSemaphore3](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-fault-tolerance/tck-suite.xml#L28)
- [ ] [testCircuitBreakerMetric](https://github.com/quarkusio/quarkus/blob/

[2019-10-31 14:26] jaikiran commented on #5016
Tried on `19.2.1` of GraalVM. Can't reproduce there either - I get my system specific timezone as the value.

[2019-10-31 14:34] emmanuelbernard opened #5081 "Mark gradle support as preview until we fix the last hiccups in the next few weeks"
@maxandersen change the doc
@ia3andy make preview visible in code.quarkus.io

[2019-10-31 14:38] mkouba commented on #5015
@stuartwdouglas So if there is at least one transformed class in an archive we consider all classes from that archive to be app classes?

[2019-10-31 14:49] dwamara opened #5082 "Quarkus with Struts2 and co."
I am not proficient with Javascript frameworks, having done most of my work with Frameworks like Struts2 and up to now, I have used Quarkus only for building my services. Is it possible to use one of those frameworks to build a web application based on Quarkus? Meaning the application, say using Struts2 will be deployed with Quarkus in native mode for example.

[2019-10-31 14:49] manovotn opened #5083 "Arc generated beans/subclasses/proxies are considered framework classes from CL point of view"
Assuming there are two junit test classes and assuming there is a synthetic bean created and used in both, then if the synthetic bean can differ on a test-to-test basis, the classloader will retain the class information possibly leading to test failures.
This only happens if you execute all tests at once (separetely, they would pass) and with `<reuseForks>` set to `true` (which is default).

This

[2019-10-31 15:09] sgerr commented on #5016
Hello, @jaikiran

I'm building native image using maven with docker on Windows 10, running it on Oracle Linux 7 or even Fedora 30. To reproduce:

1. Create project

`mvn io.quarkus:quarkus-maven-plugin:0.27.0:create -DprojectGroupId=com.sgerr -DprojectArtifactId=tztest -Dextensions="undertow" -Dpath=tz`

2. Create class Starter, use code snippet above.
3. Build native image

`mvnw package -Pnative

[2019-10-31 15:31] gsmet commented on #5016
Stupid question but would the timezone be fixed at build time?

On Thu, Oct 31, 2019 at 4:09 PM sgerr <notifications@github.com> wrote:

[2019-10-31 15:47] rsvoboda commented on #3737
ok, will look into it tmr

[2019-10-31 16:19] barrkel commented on #4918
Independent of something as simple as a missing dependency, tools for analyzing UnsatisfiedResolutionException are not great.

I just upgraded from 0.23.2 to 0.27.0 and I'm getting `UnsatisfiedResolutionException` in my tests for `PrincipalProducer` from `smallrye-jwt`, which worked before the version bump. Don't pay too much mind to the specifics of my problem, but rather the tools at my disposal

[2019-10-31 17:02] sberyozkin commented on #5001
@pedroigor OK, but we don't want the users themselves dealing with it, correct ?

[2019-10-31 17:26] lburgazzoli opened #5091 "Dedicated artefact for native-image substitutions"
**Description**
An extension is now composed by a build artefact and a runtime one where the runtime one hosts eventual substitutions needed to patch java classes in order to be compiled and run in native mode. From a user point of view, the artefact that matter is the runtime one as the deployment one is automatically discovered and consumed by quarkus tooling.

This separation is ok for most of

[2019-10-31 17:40] jkbrock commented on #4560
@johnaohara , I don't see it. did you send it to jbrock?

[2019-10-31 17:59] johnaohara commented on #4560
@jkbrock i did, forwarded again

[2019-10-31 18:02] jkbrock commented on #4560
Sorry, not sure how I missed it the first time. Thank you, @johnaohara

[2019-10-31 19:19] patriot1burke opened #5095 "Resteasy Standalone NPE with Virtual Http"
Cannot use AWS Lambda or Azure Functions extensions with Resteasy standalone.  You get an NPE error:

2019-10-31 15:26:42,172 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (vert.x-worker-thread-0) HTTP Request to /hello/bye failed, error id: f31e0e8e-b90d-4154-b799-781742a7d594-1: java.lang.NullPointerException
    at io.quarkus.resteasy.runtime.standalone.VertxRequestHandler.dispatch(VertxReques

[2019-10-31 19:31] mkouba commented on #4918
@barrkel for the record - `quarkus.log.category."io.quarkus.arc.**processor**".level=DEBUG` in `application.properties` only works for the dev mode. For normal build use `mvn -X` and grep "Unused" or "io.quarkus.arc".

[2019-10-31 19:39] dmlloyd commented on #5016
I'm looking at the source code and it looks like this:

[code]

So it looks to me like it's only including, by default, GMT, UTC, and whatever the build host's time zone is.  So if the run host has a different time zone, you won't get it and it'll fall back to UTC.  This should be verifiable by building a native image with a different value set for the `TZ` env. variable and then running it to see

[2019-10-31 19:46] dmlloyd commented on #5091
I think having substitutions be a first-order concern is going to cause trouble & confusion.

In this case we probably want e.g. `quarkus-undertow(-server?)`, `quarkus-undertow-client` (maybe), and `quarkus-undertow-common` extensions.  That would solve the problem just as well; generally if you have a library that is multi-purpose then it should probably have multiple extensions to support it so

[2019-10-31 20:03] machi1990 opened #5097 "generated docs are sometimes overridden when running full build"
**Describe the bug**
When running a full build, we sometimes override a previous part of a generated doc

**Expected behavior**
We should merge extensions doc and not overriding a partial or fully generated one

**Actual behavior**
Docs are overridden - e.g when running a full build, the `quarkus-vertx-http.adoc` generated doc does not contain all the information about http configuration.

But whe

[2019-10-31 20:04] jclingan commented on #5017
This is somewhat of a [duplicate issue](https://github.com/quarkusio/quarkus/issues/3403) I opened a while ago. Great minds think alike, but I'd like to mention that a PM brought it up first :-)

[2019-10-31 20:21] lburgazzoli commented on #5091
A "feature flag" would be more than enough.

The proposal to have an additional artefact was meant to avoid causing changes to existing extension but if that's not a huge concern, then I'm all for switch.

[2019-10-31 20:43] rsvoboda commented on #3737
This can be closed, issue has been fixed.

I had to adjust my pom.xml to work with 0.27.0
[code]

[2019-10-31 20:57] stuartwdouglas commented on #5015
yes. If we just transformed the class and left the rest in the base class loader then package private access would be broken.

[2019-10-31 21:25] maxandersen commented on #4095
@remkop as @dmlloyd points out relying on jansi have issues on its own but this issue wouldn't go away in native - and once we are in native mode jansi would be superfluous as far as I can see.

[2019-10-31 21:26] dmlloyd commented on #4095
That said, picocli's heuristics are superior to our own.

[2019-10-31 21:33] #3737 closed

[2019-10-31 21:36] maxandersen commented on #5082
If you run in JVM mode it should be doable, but for native you'll most likely need to write an extension to let graalvm do its thing - but struts is probably too reliant on reflection so it might be hard if not impossible.

in any case the core quarkus team are not at this time spending time of writing extensions for past frontend technologies our selves, but if someone in the broader community wo

[2019-10-31 21:42] pedroigor commented on #5001
If we provide the necessary capability to automatically refresh tokens, probably yes. But having access to the RT may be useful too.

[2019-10-31 21:57] maxandersen commented on #4771
fixed in core, outstanding issue in code.quarkus.io https://github.com/quarkusio/code.quarkus.io/issues/196

[2019-10-31 21:57] #4771 closed

[2019-10-31 21:59] maxandersen commented on #4316
included in fix for https://github.com/quarkusio/quarkus/issues/4771

[2019-10-31 21:59] #4316 closed

[2019-10-31 22:14] maxandersen commented on #5000
please see https://developer.jboss.org/wiki/JBossProjectVersioning - i should be more precise that the versioning mechanis that wiki describes works in any versioning system (mvn, osgi, npm and more) and it especially don't conflict with productized binaries versioning to avoid creation of separate GAV's.

[2019-10-31 22:26] #5063 closed

[2019-10-31 22:42] maxandersen opened #5101 "Better Gradle support out on our quest out of beta"
**Description**

There are some corner cases while using Gradle quarkus tooling or the gradle file is not behaving well.

This issue is to collect the known "bigger" issues for info.

related:
https://github.com/quarkusio/quarkus/pull/4905#issuecomment-546851800
update documentation to have both maven and gradle variation

Definition of move Gradle out of beta (2020-05-20)
Good parts:
  - we have

[2019-10-31 22:44] anamarija commented on #5023
[#5100](https://github.com/quarkusio/quarkus/pull/5100)

[2019-10-31 23:00] Sanne opened #5103 "Hibernate ORM should only enforce provider_disables_autocommit when using Agroal"
**Describe the bug**
We decided to set the flag `provider_disables_autocommit` by default, as the expectation is to use the Agroal datasource - which takes care of this flag correctly.

However we need to consider that there's various ways in which the connection pool implementation could be overriden; this isn't a problem as all reasonable connection pool implementations do similarly disable auto

[2019-10-31 23:07] maxandersen commented on #4772
ah - I think you mean that when using addextension using a label the platform/catalog could declare which extensions should "win" ?

[2019-10-31 23:18] maxandersen opened #5105 "investigate if/how docs and created projects build gets affected by the separate versions introduced"
as caught yesterday we actually end up having quarkus.version and quarkus.platform.version increasing at different speeds.

And in builds and lot of docs the quarkus.version is not really about quarkus core but about which quarkus.tools.version to use.

We should just ensure that for v1 launch these things are okey to all point to same version (1.0.0.Final)

I *think* they can but we might want to

[2019-10-31 23:22] geoand commented on #4996
Adding some useful logging output:

[code]

[2019-10-31 23:24] sberyozkin commented on #5001
@pedroigor RT is not a token credential really :-). It only enables the refreshment of the AT. So if we do let users see it then we should explain what and how they can do it :-). But that would move us away from the 'make it simple for the users' OIDC strategy. IMHO it will give us more flexibility if we won't start with exposing it, we will always be able to do if there will be a convincing stor

[2019-10-31 23:40] remkop commented on #4095
Understood. Please be aware that this means no ANSI colors outside of native images.

Actually, the discussion above made me realize there’s currently no way to tell picocli to always emit ANSI escape codes when in a TTY (interactive console). This would be needed when applications enable colors with the `SetConsoleMode` without Jansi. I’ll try to [fix that](https://github.com/remkop/picocli/issue

[2019-11-01 00:01] Sanne commented on #5091
It's tempting to have the subtitutions in a separate jar so to not need having such classes when e.g. there is no interest in native images. But they are often very small, I'd guess there is no significant space benefit other than satisfying a sense of OCD :)

Also agree with David that the root problem is likely just a lack of flexibility of the extension; there is likely always going to be a way

[2019-11-01 00:06] #5095 closed

[2019-11-01 03:20] pipinet commented on #3552
i remove gradle idea plugin. works.

[2019-11-01 05:53] sgerr commented on #5016
Hello, @dmlloyd

Thank you for ypur reply. Please clarify, how to add -H:+IncludeAllTimeZones switch when maven build?

[2019-11-01 06:12] sgerr commented on #5016
Oh, yes. Including in pom properties

[code]

will do that.

[2019-11-01 06:45] machi1990 commented on #4929
Indeed if you pass the `-Dquarkus.profile` property or use `QUARKUS_PROFILE ` env variable, `ProfileManager.getActiveProfile()` will return the custom profile. Otherwise, it will return default values depending on which environment you are running on:
1. `dev` - if you are in dev mode
2. `test` - if you are in test mode (except for native tests which run under the `prod`profile )
3. `prod` - if yo

[2019-11-01 07:45] sgerr commented on #5016
I just rebuild project on Fedora 30 (maven, opendjk 1.8, docker). The same result:

[code]

[2019-11-01 08:13] maxandersen commented on #3552
which plugin to be exact ?

[2019-11-01 08:37] sander-su commented on #4961
@gunnarmorling ?

[2019-11-01 09:00] gunnarmorling commented on #4961
@sander-su, sounds good to me. There's just one thing to consider in terms of backwards-compat: any of the properties now promoted to runtime-configurable should be obtained from the old location as a fallback. I.e. first try quarkus.kafka-streams.xyz, then kafka-streams.xyz.

Would you be interested in creating a PR for this?

[2019-11-01 09:12] spoenemann opened #5109 "NoSuchElementException during Hibernate initialization"
**Describe the bug**
I get a NoSuchElementException when running `./gradlew quarkusDev` in the project https://github.com/theia-ide/extension-registry (branch `quarkus-issue`, subdir `server`).

**Expected behavior**
If anything is wrong in the way I use the JPA annotations, I would expect a meaningful error message.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-11-01 09:23] rsvoboda opened #5110 "Native build fails when additionalBuildArg is commented out"
Native build fails when `additionalBuildArg` is commented out. Thrown exception is: Failed to generate a native image: Failed to augment application classes: Property quarkus.native.additional-build-args not found

It's happening with 0.26.1, 0.27.0 and master when using quarkus-maven-plugin - native-image goal definition in pom.xml. Wasn't happening with 0.25.0 and earlier versions.

Snippet from

[2019-11-01 09:39] jmartisk commented on #4375
Ok I'll update and polish my code and try to send an initial PR to potentially get more feedback. For now just with programmatic metrics, we can add annotated metrics later if we resolve the open questions that there are.

[2019-11-01 10:03] gunnarmorling commented on #4375
Hey @lhauspie, this is the issue we were talking about as a foundation for auto-exposing the metrics in the Kafka Streams extension.

I haven't followed the discussion closely, but I think (if you're still interested) you could essentially take the work that's done here and build the Kafka Streams metrics based on that. Also might be a good vehicle to provide feedback to @jmartisk to see whether t

[2019-11-01 10:14] #5081 closed

[2019-11-01 10:19] rsvoboda opened #5111 "Inconsistent guides for native image"
I see some inconsistencies in guides for native image

https://quarkus.io/guides/building-native-image-guide mentions new way using `<quarkus.package.type>native</quarkus.package.type>` property.

https://quarkus.io/guides/maven-tooling mentions only maven plugin definition way.

https://quarkus.io/guides/writing-native-applications-tips mentions only maven plugin definition way.

https://quarkus.

[2019-11-01 10:26] sberyozkin commented on #5001
@pedroigor Hey Pedro, I thought a bit more about, you are right,  it is not always possible to reliably detect the AT has to be refreshed, there will always be a possibility for the `web-app` doing an outbound call and the AT expiring somewhere in the transit :-).
However I'm still not sure we would ask the users to deal with refreshing the access tokens as there is a bit of complexity involved in

[2019-11-01 10:43] gsmet commented on #5111
We shouldn't advertise the Maven way of doing things anymore.

[2019-11-01 10:50] rsvoboda commented on #5111
Just out of curiosity, what's the way for `additionalBuildArgs` with the new approach ?

And one more thing, `<enableHttpUrlHandler>true</enableHttpUrlHandler>` is enabled by default or what's the new way?

[2019-11-01 11:00] geoand commented on #5109
@Sanne any idea what might be going on here?

I was able to reproduce it both in dev mode and in after building the jar and running it with `java -jar ...`

[2019-11-01 11:02] NetoDevel commented on #4929
@machi1990,
Ahh cool.
I will close this problem.
Thanks

[2019-11-01 11:02] #4929 closed

[2019-11-01 11:17] jmartisk commented on #4375
Btw the latest WIP version is at https://github.com/jmartisk/quarkus/commits/master-extension-metrics , I've just updated it. Also adding an implementation for the Agroal extension, that will serve as a better example than the Config example I showed earlier..

[2019-11-01 11:17] geoand commented on #5111
@rsvoboda yes, it's enabled by default. The new way of configuring things is just to use application.properties with the configuration available from [NativeConfig](https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java#L13)

[2019-11-01 11:22] viniciusfcf commented on #4908
Probably will not work with graylog. Graylog is able to accept and parse RFC 5424 and RFC 3164 compliant syslog messages and supports TCP transport with both the octet counting or termination character methods. UDP is also supported and the recommended way to send log messages in most architectures.

[2019-11-01 11:40] blaghed commented on #4005
Pretty interested in this extension as well. Any chance to get some traction on it?

[2019-11-01 11:48] Dufgui commented on #4005
Sorry I have too much works to continue until December.

Le ven. 1 nov. 2019 à 12:40, blaghed <notifications@github.com> a écrit :

[2019-11-01 12:12] dmlloyd commented on #5016
It seems that the default time zone is not reset by GraalVM at native image start, so the time zone captured at build is retained.  To fix it, there would have to be some startup hook which causes redetection of the default zone.

Furthermore there's a bug in that if you set the default time zone to `null`, you'll end up with lots of NPEs because the `null` handling logic is substituted away by Gr

[2019-11-01 12:14] gnunn1 opened #5113 "Provide API to create bcrypt hash and salt"
**Description**
Quarkus provides a bcrypt password mapper for the elyton JDBC security provider but doesn't appear to offer a way to create a bcrypt salt and hash thus limiting it's usefulness. It is possible to do this using JARs from Wildfly however they will not compile natively.

Example using code from Wildfly, pom.xml:

[code]
Code:

[code]

[2019-11-01 12:19] maxandersen commented on #5008
looked at this and its simply using it to try and mark a dependency as installed if it has quarkus- as start of its artifactid. That is obviously wrong/not enough and the current setup is just too far removed from having reliable access to the registry to check if really an extension so not something that is an easy fix.

but at the moment this code is not really resulting in any error/issues as t

[2019-11-01 12:20] sgerr commented on #5016
Unfortunatelly, it does not. At build time zone was neither GMT no UTC too.

So, no workaround on that except to specify time zone explicitly at start time or invoke `date +%z` on *NIX system and collect output.

[2019-11-01 12:21] pedroigor commented on #5001
I think we should expose it and your suggestion about having `AccesTokenCredential.getRefreshToken` looks very good and much better than having a specific type for the RT.

Like I mentioned before when doing code flow, we should be able to automatically refresh tokens. Where users can enable or disable this capability. At this regard, there are two main points here:

* Users may want to check sess

[2019-11-01 12:25] dmlloyd commented on #5016
Did you not say that you were building in a docker container?  Are you setting the time zone env var in docker?

[2019-11-01 12:32] sgerr commented on #5016
No. I'm using standard maven build procedure as I mentioned above:

`mvnw package -Pnative -Dquarkus.native.container-build=true`

[2019-11-01 12:32] sberyozkin commented on #5113
@danielpetisme Hi Daniel, if you can find some time to check this one then it would be nice

[2019-11-01 12:33] dmlloyd commented on #5113
What do you mean by "they will not compile natively"?  Is native image generation failing with these JARs, or...?

[2019-11-01 12:36] dmlloyd commented on #5016
I believe docker does not inherit the time zone from the host by default.  See https://forums.docker.com/t/synchronize-timezone-from-host-to-container/39116/2

[2019-11-01 12:37] sberyozkin commented on #5001
@pedroigor thanks; sounds good

[2019-11-01 12:38] sberyozkin commented on #4946
@mathianasj I hope it all works good for you now. Please reopen if not; thanks

[2019-11-01 12:38] #4946 closed

[2019-11-01 12:39] sgerr commented on #5016
May be. Bu it does not matter because the point of our interest is the TZ of host machine at runtime.

[2019-11-01 12:43] geoand commented on #5016
@sgerr what @dmlloyd is saying essentially is that if you do `mvnw package -Pnative` (and thus don't use Docker) you should see at runtime the TZ of the machine that built the native binary.

Due to the fact that you are using docker to build the binary, you don't see that behavior because Docker (seemingly) doesn't use the hosts default TZ.

[2019-11-01 12:45] gnunn1 commented on #5113
Yes, native image generation is failing, below is full output:

[code]

[2019-11-01 12:49] dmlloyd commented on #5113
Ah! I can't believe this bug isn't fixed yet in GraalVM.  I'll make a note of it.

[2019-11-01 12:55] Ladicek commented on #4774
I was wondering if this could perhaps be caused by wrong interceptor order? When I was debugging this (in Thorntail context), the RestClient interceptor was applied before the Fault Tolerance interceptor. Could that possibly be wrong? (Honest question, I don't know.)

[2019-11-01 12:55] rsvoboda opened #5115 "quarkus-amazon-dynamodb and quarkus-smallrye-fault-tolerance combination causes CNFE"
quarkus-amazon-dynamodb and quarkus-smallrye-fault-tolerance combination causes CNFE
java.lang.ClassNotFoundException: software.amazon.awssdk.http.urlconnection.UrlConnectionHttpClient$Builder

url-connection-client is marked as optional - https://github.com/quarkusio/quarkus/blob/master/extensions/amazon-dynamodb/runtime/pom.xml#L45

Steps to reproduce:
use microprofile-fault-tolerance-quickstart

[2019-11-01 12:58] sgerr commented on #5016
@geoand, yes. But is it the behaviour you expected? Of course -- not. You are expecting to get host machine time zone at runtime. Moreover in some cases, for example storing timeseries to DB, you do not want to think about time zones at all because Hibernate is clever enought to do this work for you behind the scenes.

[2019-11-01 13:03] paulrobinson commented on #4369
@stuartwdouglas Is this Epic complete now? Can you move to 'Review' state if it needs any final review, or 'done' if it's totally finished.

We're using the Epic board to track this: https://github.com/orgs/quarkusio/projects/5

[2019-11-01 13:03] #5110 closed

[2019-11-01 13:03] geoand commented on #5016
@sgerr so yes, of course the behavior is not expected.

What we are trying to do however is set the scene for what the actual problem can be and what is peripheral to the discussion.
@dmlloyd's analysis and your testing make it clear that the bug is in GraalVM, so I would propose you open an relevant issue in the project's issue tracker.

[2019-11-01 13:07] sgerr commented on #5016
@geoand yes, sure. Meanwhile we can use quarkus in JVM mode where it works as expected.

[2019-11-01 13:15] jamesfalkner opened #5116 "Trailing whitespace after `quarkus.jaeger.sampler-param=1` fails to build"
**Describe the bug**
Configured for OpenTracing using:

`quarkus.jaeger.sampler-param=1 `

(notice the whitespace after the `1`), it fails to build with:

[code]
**Expected behavior**
No errors

**Actual behavior**
Errors (see above)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project and include the `opentracing` extension:
[code]
2. Add configuration:
[code]
(add space aft

[2019-11-01 13:17] pedroigor commented on #5113
@dmlloyd is this [issue](https://github.com/oracle/graal/issues/877) related ?

[2019-11-01 13:19] dmlloyd commented on #5113
Yes I think that's the same issue.

[2019-11-01 13:21] geoand commented on #5016
Thanks!

[2019-11-01 13:22] geoand commented on #5116
Let me take a quick look at this and if I can come up with a quick win

[2019-11-01 13:29] geoand commented on #5116
This happens because the trailing whitespace trips the `BigDecimal` constructor:

[code]

@kenfinnigan @dmlloyd what the final resolution for the whitespace handling?

Note that was able to reproduce this with both `0.27.0` and `master`.

[2019-11-01 13:31] kenfinnigan commented on #5116
we've removed whitespace trimming, but it seems that this was an issue even with trimming.

One option is to switch the config to be a String, and then just valid what's entered is a valid number before the recorder sets the system property?

[2019-11-01 13:33] ricardozanini commented on #4285
@wburns having @mswiderski PR merged, I understand that we can close this issue.

[2019-11-01 13:33] geoand commented on #5116
@kenfinnigan That is certainly possible but I am curious as to why this actually fails.

[2019-11-01 13:34] kenfinnigan commented on #5116
Because the `ImplicitConverter` is trying to convert the string to a BigDecimal

[2019-11-01 13:34] dmlloyd commented on #5116
Why is this a bug?  If you've added whitespace then it's not a valid number anymore.

[2019-11-01 13:35] kenfinnigan commented on #5116
I think the issue is that a nicer error message would be better

[2019-11-01 13:35] geoand commented on #5116
So it's expected then. We'll need a better error message then

[2019-11-01 13:35] dmlloyd commented on #5116
Ah well if that's the problem, it's already rolled into my config mega-patch, so I'll just add this bug ID to it.

[2019-11-01 13:36] kenfinnigan commented on #5116
lol, what's that, now 45 issues resolved in the PR?

[2019-11-01 13:36] dmlloyd commented on #5116
18 by last count. :)

[2019-11-01 13:53] Sanne commented on #5109
Interesting, looks like a similar problem as https://hibernate.atlassian.net/projects/HHH/issues/HHH-13295

We normally track such issues on Hibernate's JIRA - I'll close this one and link it from there so we can include this as test as well.

Thanks for the reproducer!

[2019-11-01 13:53] #5109 closed

[2019-11-01 13:58] Sanne commented on #5109
@spoenemann I agree - at very least the error should be better. I'll see what we can do.

[2019-11-01 13:59] jamesfalkner commented on #5116
Technically that's correct, but in my mind (and I suspect many developers) in a properties file `1` is the same as `1    ` is the same as `1   # this is a comment`

[2019-11-01 14:01] dmlloyd commented on #5116
That can't be changed without changing the MP Config specification, or else abandoning spec compliance.  Both are options but we'd have to commit to one or the other.

[2019-11-01 14:02] jamesfalkner commented on #5116
Yeah.. that's understandable.

[2019-11-01 14:07] gsmet commented on #5051
So, the situation for now is that we will throw a proper error message for this and you will have to make your method `open`.

We will improve on this soon thanks to @geoand 's PR.

[2019-11-01 14:13] barrkel commented on #4918
@mkouba FWIW my go-to technique for these kinds of issues is to download the JAR sources, add extra logging or pause points suitable for attaching a debugger, compile and install snapshot version in local repo, rewire dependencies to use my snapshot version, then iterate.

Inscrutable Arc and dev mode startup errors are probably the biggest risk factors before I unleash my spike on the rest of my

[2019-11-01 14:32] gastaldi commented on #5000
+1 to https://developer.jboss.org/wiki/JBossProjectVersioning

[2019-11-01 14:32] mkouba commented on #4918
Well, ArC is just a dependency injection based on CDI and its errors are very similar to other CDI implementations, ie. Weld. I'm not really sure what you mean with "inscrutable".

That is true. Quarkus should improve in this area. Contributions are welcome! ;-)

[2019-11-01 14:34] gsmet commented on #5000
I'm closing this one. We will go with `1.0.0.CR1` and `1.0.0.Final` when time comes.

[2019-11-01 14:34] #5000 closed

[2019-11-01 14:35] gsmet commented on #5115
@marcinczeczko could you have a look to this one?

I wonder if it's just not having added the additional jar but the error should really be more user-friendly if it's the case (and be only triggered if some config properties have been set).

[2019-11-01 14:50] sberyozkin commented on #4493
@Heni-ghodbane Please see the [configuration table](https://quarkus.io/guides/jwt-guide#microprofile-jwt-configuration), SSL should be directly supported if HTTPS based URLs are used in the native mode.

[2019-11-01 14:51] sberyozkin commented on #4493
Fix for this issue is on the way at https://github.com/smallrye/smallrye-jwt/pull/141

[2019-11-01 14:55] alexander-dammeier opened #5118 "Support injection of loggers"
**Description**
I am using slf4j as a logger and i always write an CDI-producer to inject a logger into my classes. Since Quarkus supports slf4j directly, it would be nice if quarkus itself implements this producer. This way nobody needs to write boilerplate code for this anymore.

**Implementation ideas**
My current producer looks like this:
[code]
So you can inject it this way:
[code]
I think th

[2019-11-01 16:15] geoand commented on #3294
I am going to close this since we have reports it has been fixed and I also couldn't reproduce it with the latest version of Quarkus

[2019-11-01 16:15] #3294 closed

[2019-11-01 17:00] geoand commented on #4960
This might be due to how gradle is resolving dependencies. I am thinking this because I am seeing this part of the dependency try in a gradle project:

[code]

which seems to indicate that gradle is honoring the exclusions we have in quarkus-core:

[code]

[2019-11-01 17:19] #5082 closed

[2019-11-01 17:56] rsvoboda commented on #5115
Adding the dependency to app's pom.xml is workaround for this issue
[code]

+1 for better message

[2019-11-01 17:57] marcinczeczko commented on #5115
In general the exception should be thrown if you're not using any dybamodb client, so looks like there is some issue in there. I'll take a look this weekend

[2019-11-01 18:25] kenfinnigan commented on #2856
Closing as it should be fixed

[2019-11-01 18:25] #2856 closed

[2019-11-01 19:23] angelozerr commented on #1655
@dmlloyd you mean that our jdt ls extension should use jandex? If it that how to do that? I have not found some index files in the quarkus extension jar?

Thanks for your help!

[2019-11-01 19:38] #4285 closed

[2019-11-01 19:48] gsmet commented on #4285
Oh, looks like I missed a couple of notifications a while ago, sorry about that :).

[2019-11-01 20:16] #5080 closed

[2019-11-01 20:17] kenfinnigan opened #5123 "Improve MP TCK execution time"
The following TCKs require surefire to be configured to prevent the reuse of JVMs for different tests:

- [ ] [MP Config](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-config/pom.xml#L38)
- [ ] [MP Fault Tolerance](https://github.com/quarkusio/quarkus/blob/master/tcks/microprofile-fault-tolerance/pom.xml#L32)
- [ ] [MP REST Client](https://github.com/quarkusio/quarkus/blob/mas

[2019-11-01 21:04] dmlloyd commented on #1655
Not at all.  It was purely a side-band comment to @gsmet and @maxandersen.

[2019-11-01 21:32] maxandersen commented on #1655
@angelozerr I'm not sure I follow what your collection of metadata has to with open this issue - aren't you talking about a new feature suggestion in your comment ?

On first glance I'm not sure why the extensions would have that json info bundled as you already can locate the info and can cache the data.

@dmlloyd if I missed we actually have the metadata stored somewhere else do tell - I hate un

[2019-11-01 21:37] #3586 closed

[2019-11-01 22:01] angelozerr commented on #1655
No I'm talking about metadata required by IDE to manage completion, hover, validation and go to definition feature inside an IDE.

Indeed we have done that with JDT LS extension, but it requires to scan all classes from all JAR of the classpath (the first time before caching it) and the thing which is very annoying is that we have re-develop the generation of Quarkus property generation from a giv

[2019-11-01 22:17] maxandersen commented on #1655
a jandex  approach here might not be a bad idea for you to share code, but please open an issue and lets discuss that in isolation/separation from this already done issue.

[2019-11-02 10:18] alexander-dammeier opened #5126 "make Scheduler cron configurable via MP-Config"
**Description**
I am using quarkus scheduler for a registration task for IoT devices in a smart city application. The task repeats every minute and retries to register if something went wrong before. It would be very helpful if I dont have to hardcode the cron into my services. Then i can repeat the task more often in dev mode and less often in production for example.

**Implementation ideas**
I t

[2019-11-02 10:53] machi1990 commented on #5126
Hi @alexander-dammeier thanks for reporting this.

This can current be achieved with

[code]

With `registrationcron ` property being the `application.properties` configuration file.

[2019-11-02 11:18] gsmet commented on #5126
Is it documented somewhere? Do we have a test for it?

On Sat, Nov 2, 2019 at 11:53 AM Manyanda Chitimbo <notifications@github.com>
wrote:

[2019-11-02 11:24] machi1990 commented on #5126
It is not documented, I was planning to get to it a bit later.

As for the test we have one example job here:
https://github.com/quarkusio/quarkus/blob/master/integration-tests/main/src/main/java/io/quarkus/it/scheduler/ExampleJobs.java#L27-L32

[2019-11-02 11:29] gsmet commented on #5126
Cool, thanks!

[2019-11-02 12:28] jaikiran commented on #5062
I don't have too much CDI usage knowledge nor have I interacted much with CDI users. So I'm not the best person to answer that question, but I think it's probably acceptable and I don't think there will be users injecting a `ConstantDesc` or even `Constable` and some other interfaces that `String` implements (perhaps `CharSequence` would be an exception?).

I built that locally against latest upst

[2019-11-02 12:49] soberich opened #5128 "Regression in 0.27.0. Gradle's `quarkusDev` reports classes not registered for Reflection."
Gradle's `quarkusDev` reports classes not registered for Reflection in `0.27.0` while in `0.26.1` no such reporting occur.
I did not investigate are they really stopped being registered. The project is a playground and doesn't play well with Quarkus basically.

**To Reproduce**
Steps to reproduce the behaviour:

[code]
with `0.26.1`
it starts up fine logging:
[code]

if change `0.26.1` to `0.27.0`

[2019-11-02 13:10] berndfischer63 opened #5129 "Property "quarkus.datasource.driver" not overwritten using profiles"
**Describe the bug**
Given a simple application with a RestController backed by JPA/Jdbc connected database.
This application uses following configuration in "application.properties"

**Expected behavior**
Successful build and start of application

**Actual behavior**
Starting application failed with error

It seems that property "quarkus.datasource.driver" is still "filled" with build time value

[2019-11-02 13:21] machi1990 commented on #5129
Hi @berndfischer63  the `quarkus.datasource.url` and `quarkus.datasource.driver` are build time property. Once set, they cannot be overriden in runtime.

Running `mvn clean package` will build the application with the `prod` file thus taking the following configurations
[code]

With only these two
[code]
being overridable.

[2019-11-02 14:13] alexander-dammeier commented on #5126
The best feature requests are for non-documented features.
Thank you very much for your fast response and the example code 👍
As a test I worked for a private project with Quarkus and I am very satisfied. I'll suggest Quarkus at work.

[2019-11-02 14:16] machi1990 commented on #5126
@alexander-dammeier I am glad it worked for you. We'll have the feature documented for the next release hopefully.

Looking forward to hear your success story on using Quarkus in production ;-)

[2019-11-02 16:42] gsmet commented on #5128
@soberich yeah, things are a bit in flux regarding Gradle at the moment. We are making significant progress though so it should stabilize soon.

I'll let @geoand or @gastaldi answer to you about this.

[2019-11-02 16:54] geoand commented on #5128
@soberich Thanks for reporting! Indeed Gradle support is in flux.
I'll hopefully have a look soon although my time is a little limited this week.
@gastaldi feel free to take a look as well if you want to

[2019-11-02 17:13] gastaldi commented on #5128
Sure, will have a look Monday morning

[2019-11-02 23:07] stuartwdouglas commented on #5015
Note that a temporary workaround would be to have all the modules in the same maven project, then dev mode will consider them all to be replaceable classes and will load them all in the correct ClassLoader.

[2019-11-02 23:18] geoand commented on #5128
This doesn't really look like a regression in the gradle support. Version `0.27.0` did indeed hide the exception in dev mode so you couldn't really figure out what was going on (but that has been fixed in #5061).
When using the latest `master`  of Quarkus the exception is visible and looks like:

[code]

So I am assuming you need to add `quarkus-undertow`. My guess is that one of the dependencies

[2019-11-03 01:52] soberich commented on #5128
Yeah, well. Really Gradle integration in a dark corner. Thanks @geoand

[2019-11-03 01:52] #5128 closed

[2019-11-03 03:08] pipinet commented on #3552
idea

[2019-11-03 03:09] pipinet commented on #3552
open gralde project with project folder, not .ipr file

[2019-11-03 09:02] geoand commented on #5128
You are welcome!

[2019-11-03 09:20] emmanuelbernard commented on #5133
I tracked it down to minikube having been started and overriding docker host

[code]

@cescoffier I let you decide if that's a bug or not and a 0.28.0 or not.

[2019-11-03 09:34] emmanuelbernard opened #5133 "I can't seem to be able to build native images in docker"
$> ./mvnw package -Pnative -Dquarkus.native.container-build=true
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------< com.example:fruits-app >-----------------------
[INFO] Building fruits-app 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ fruits-app ---
[INF

[2019-11-03 09:49] Ravisankar-Challa opened #5134 "Quarkus Lambda Http VertxRequestHandler -> request.remoteAddress().host() nullpointer exception"
Hi There,

I am getting NullPointerException in VertxRequestHandler.java line number 99 -> request.remoteAddress().host() when invoked from Amazon Api Gateway
request.remoteAddress() is null

I am using the following dependencies.
<dependency>
      <groupId>io.quarkus</groupId>
      <artifactId>quarkus-amazon-lambda-http</artifactId>
</dependency>

<dependency>
      <groupId>io.quarkus</groupId

[2019-11-03 09:52] berndfischer63 commented on #5129
Hi @machi1990,
thanks for your fast and detailed answer/explanations - leading me to new questions ;-)

1. Why does this constraint exist? Because of "compiling" to native executables via SubstrateVM?

2. From point of view of a user of Quarkus I it still looks more or less confusing - because property `quarkus.datasource.url` is overridable during runtime. It is visible from my example above (Qua

[2019-11-03 09:57] machi1990 commented on #5129
Sorry, I just realized that my reply caused confusion since I copied the mentioned the wrong  property `quarkus.datasource.url` which is indeed overridable at runtime. It was supposed to be `quarkus.hibernate-orm.dialect`. I have corrected my initial reply.

[2019-11-03 10:09] emmanuelbernard commented on #5133
I confirm that when running  minikube version: v1.5.2
commit: 792dbf92a1de583fcee76f8791cff12e0c9440ad

I reproduce that error

Specifically

[code]

[2019-11-03 11:16] gsmet commented on #5134
It should be fixed by tomorrow's release.

[2019-11-03 11:16] #5134 closed

[2019-11-03 11:28] Postremus commented on #5128
soberich <notifications@github.com> schrieb am Sa., 2. Nov. 2019, 13:49:

[2019-11-03 11:31] emmanuelbernard commented on #5133
So it's a known minikube issue as it cannot deal with volumes

[2019-11-03 12:24] emmanuelbernard opened #5135 "Quarkus Kubernetes Dekorate kubernetes.group partially applied"
Create a new project
Add quarkus-kubernetes as dependency

Add the following to the `application.properties` file

[code]

In `target/kubernetes/kubernetes.yml`, you will see

- spec.template.spec.containers.image : ${username}/fruits-app:1.0-SNAPSHOT
- metadata.labels.group: ${username}

Where ${username} is your environment username and where it should be `example`.

@iocanel @geoand

To decide

[2019-11-03 13:02] vsevel commented on #4888
@sberyozkin I have created a new [post](https://groups.google.com/d/msg/quarkus-dev/2QNHq_9j5os/njmAQnDPBAAJ) in the quarkus-dev google group to get some feedback.

[2019-11-03 13:24] geoand commented on #5135
I'll check this out in an hour or so. @iocanel if you beat me to it, feel free to address

[2019-11-03 13:46] Sanne commented on #5129
Indeed the `dialect` configuration property is encoded as a constant at build time as documented here:
[quarkus.hibernate-orm.dialect](`https://quarkus.io/guides/all-config#quarkus-hibernate-orm_quarkus.hibernate-orm.dialect`)

Same for the JDBC driver.

Sorry if that's still confusing; we improved the doc about this and I'm looking forward for this to produce an actual warning or error at boot, b

[2019-11-03 14:01] emmanuelbernard opened #5136 "Still seeing channel closed on Firefox and 0.27"
Swagger UI enabled and with DB but not sure that matters.

[code]

Consider possible fix for 0.28

[2019-11-03 14:04] gsmet commented on #5136
We need far more information than that.

[2019-11-03 14:35] geoand commented on #5135
I can reproduce the problem

[2019-11-03 14:42] geoand commented on #5135
So @iocanel there seem to be 2 problems:

* setting `kubernetes.group` doesn't affect the `group` label of the created `Service` (although it does affect the `group` label of the `Deployment`).
* setting `kubernetes.group` has no effect on the value of `image` of the container spec.
* setting `kubernetes.registry` also doesn't seem to affect the value of `image` at all.

[2019-11-03 14:48] JohT opened #5138 "prefix "classpath:" does not work for "quarkus.flyway.locations " in native mode"
Flyway does not use locations configured with the prefix "classpath:" in native mode.
The configuration entry (application.properties)
- `quarkus.flyway.locations=db/custom` works (native and substrate)
- `quarkus.flyway.locations=classpath:db/custom` doesn't (substrate only)

I suggest to simply delete the "classpath:" hint inside the JavaDoc and the description.
Since it may be, that "classpath:

[2019-11-03 15:09] gsmet commented on #5136
/cc @stuartwdouglas

[2019-11-03 15:12] geoand commented on #5135
For the time being I'll see if I can work around these issues on the Quarkus side of things until they are properly addressed in Dekorate.

[2019-11-03 15:48] dodalovic commented on #284
@dmlloyd So, we can expect having picocli based solution? Thanks

[2019-11-03 16:03] geoand commented on #5135
I think I have some hacks to get things working correctly. I'll add some tests and open a PR soon

[2019-11-03 16:47] gsmet commented on #5136
I tried to reproduce it with the quickstart in dev mode and couldn't.

[2019-11-03 16:48] #5126 closed

[2019-11-03 16:56] #5111 closed

[2019-11-03 17:47] emmanuelbernard commented on #5136
it was Java 8 and based off an alpine container

[2019-11-03 17:49] emmanuelbernard commented on #5136
image with the jdk is `quay.io/rhdevelopers/tutorial-tools:0.0.3`

Comamnd I ran for info to start the image

[code]

Then I was in `./mvnw compile quarkus:dev`  and hitting http://localhost:8080/swagger-ui with Firefox.

[2019-11-03 17:58] gsmet commented on #5136
I wasn't able to reproduce it with the quickstart but with this app Emmanuel sent me:

https://www.dropbox.com/s/9e9elhc83g92e7v/fruits-app.zip?dl=0

Starting a MariaDB server:
[code]

Then:
[code]

Then refreshing http://localhost:8080/swagger-ui/ with Firefox ~20 times quickly, I was able to reproduce it.

[2019-11-03 18:04] #5097 closed

[2019-11-03 18:21] sberyozkin commented on #4888
@michael-schnell Thanks, IMHO this looks good, indeed, that is pretty much what Vincent and myself came to a general agreement about, make it easy for the users to adopt Vault API fast, and in due time, Vincent's complete VaultClient API can be expanded and exposed publicly if required. We hope to make it nearly trivial for the users to work with Vault, and Vincent did a lot of work with the origi

[2019-11-03 18:31] #5135 closed

[2019-11-03 19:14] machi1990 opened #5144 "generate a documentation file for each config root and general config items (non config group config items)"
**Description**
Write now we generate:
- an extension documentation file (extension config root combined)
- a config group configuration file (each config group)
- all configuration file (all configuration roots)

It could be nice to also generate a file per config root and general config items (non config group config items)

**Implementation ideas**
- the name of the file for config root could b

[2019-11-03 19:15] machi1990 commented on #5144
Follows up https://github.com/quarkusio/quarkus/pull/5044

[2019-11-03 19:44] JohT opened #5145 "narayana native mode ObjectStoreEnvironmentBean no-parameter constructor"
Since quarkus version 0.27.0 (not in 0.26.1) i get the following exception using native image, when a transaction is committed:

**Stacktrace**
java.lang.InstantiationException: Type `com.arjuna.ats.arjuna.common.ObjectStoreEnvironmentBean` can not be instantiated reflectively as it does not have a no-parameter constructor or the no-parameter constructor has not been added explicitly to the native

[2019-11-03 19:54] gsmet commented on #5145
What happens if you remove `quarkus.datasource.transactions=xa` from your config file?

[2019-11-03 20:50] stuartwdouglas commented on #5136
If you are refreshing repeatedly firefox can just drop the connection. We should not be logging these errors at ERROR level, but at DEBUG. Remote clients drop connections all the time, and it is normal.

[2019-11-03 21:00] gsmet commented on #5145
@JohT what do you mean by `Create a account using the contained postman collection`?

[2019-11-03 21:12] gsmet commented on #5145
OK, got it.

[2019-11-03 21:17] zeljkot commented on #5015
Thank you for the tip! The project I am working on has one project per repo, and projects already have a parent (error: 'parent.relativePath' points at wrong local POM) so it is probably not applicable, but it might help somebody else.

[2019-11-03 21:23] gsmet commented on #5145
I fixed your initial issue but I still have this error when running the postman file:
[code]
But it doesn't seem related to Quarkus.

[2019-11-03 21:29] maxandersen commented on #5006
most done for 0.28 but default lookup/resolution of platform didn't make it in. to be discussed monday if we can/want to put it in for 1.0.

[2019-11-03 21:30] maxandersen commented on #4744
some cleanup made it into gradle for 0.28 but both maven and gradle could use a bit more cleanup but could probably be done in a backwards compatible way.

[2019-11-03 21:40] maxandersen commented on #4318
CI for Prs are running so for now no further action needed so closing this.

[2019-11-03 21:44] #4318 closed

[2019-11-03 21:48] maxandersen commented on #4967
this is done.

[2019-11-03 21:48] #4967 closed

[2019-11-03 21:52] maxandersen commented on #3552
@pipinet I'm not fully following you. Are you saying that you removed intellij gradle plugin then things started working for you ?

Your comment about "open gradle project with project folder" i don't understand - intellij will use .ipr if that is found in your folder...can you elaborate a bit more ?

[2019-11-03 22:15] stuartwdouglas commented on #5136
@emmanuelbernard what are you doing to get the exception? Does it affect the functionality of the app?

[2019-11-03 22:17] stuartwdouglas opened #5150 "/swagger-ui does not show up in not found exception page"
However the webjars index.html does show up, which is not something we want to expose.

[2019-11-03 23:15] #5145 closed

[2019-11-04 01:15] stuartwdouglas commented on #5083
How do I reproduce this? I ran those tests with the random bean names code removed and they still passed.

[2019-11-04 02:00] pipinet commented on #3552
1、gradle test not working in command line
fix: remove idea plugin https://docs.gradle.org/current/userguide/idea_plugin.html

2、test not working in IntelliJ IDEA
fix: remove .ipr file that generated by ./gradlew idea command

[2019-11-04 05:07] #421 closed

[2019-11-04 05:27] #5136 closed

[2019-11-04 05:53] #592 closed

[2019-11-04 05:55] stuartwdouglas commented on #632
Is this still relevant?

[2019-11-04 05:57] stuartwdouglas commented on #780
Is this still relevant?

[2019-11-04 06:08] #976 closed

[2019-11-04 06:09] #1056 closed

[2019-11-04 06:20] stuartwdouglas commented on #1257
Is this still an issue?

[2019-11-04 06:22] stuartwdouglas commented on #1382
Pretty sure this is now out of date?

[2019-11-04 06:22] stuartwdouglas commented on #1319
@FroMage is this still an issue?

[2019-11-04 06:54] Ravisankar-Challa opened #5158 "Please add null check for LambdaHttpHandler.java line 84 -> request.getMultiValueHeaders()"
Hi There,

Could you please add a null value check in LambdaHttpHandler.java line 84 ->  request.getMultiValueHeaders()

I able to send a request with out any http headers from AWS Api gateway and it fails in the above mentioned class with null pointer exception.

Thanks,
Ravi

[2019-11-04 06:59] stuartwdouglas commented on #5138
It looks like this code just ignores the prefixes: https://github.com/quarkusio/quarkus/blob/5257fd855f44d1389e110bfc74303d835d0a3c05/extensions/flyway/deployment/src/main/java/io/quarkus/flyway/FlywayProcessor.java#L111

[2019-11-04 07:06] gsmet commented on #5158
Could you provide a sample project reproducing the issue? We can't figure out how this could be null.

[2019-11-04 07:11] stuartwdouglas commented on #5158
Is https://github.com/quarkusio/quarkus/pull/5159 what you are after? I don't see any reference to getMultiValueHeaders() on line 84 in any version.

[2019-11-04 07:20] JohT commented on #5145
Awesome! Thanks! And yes, the last exception looks like something on my side.
BTW, removing `quarkus.datasource.transactions=xa`didn't change the exception.
Maybe it's because i directly use javax.transaction api for the adapting [JtaTransactionManager](https://github.com/JohT/showcase-quarkus-eventsourcing/blob/master/showcase-quarkus-eventsourcing/src/main/java/io/github/joht/showcase/quarkuseve

[2019-11-04 07:25] dfranssen commented on #4495
@pedroigor I tested this weekend with v0.27.0 and all remarks I have made have been resolved. Thanks a lot!

[2019-11-04 07:35] michalszynkiewicz commented on #5083
hi @stuartwdouglas, were you running both tests in a single maven run? And from `cdi-security-deployment-time-scanning` branch of my fork? It failed both for me and Matej.
You can also run the MP JWT TCK, the `RolesAllowedTest` should fail in it with the same problem. But that may depend on the test order.

[2019-11-04 07:57] #5158 closed

[2019-11-04 07:59] emmanuelbernard opened #5160 "Should JWT @Claim require @Inject too"
The guide seems to use `@Claim` and `@Inject` together and 0.27 seems to mandate that. But  our quarkus lab used to work with just `@Claim` in seems
Is that a regression or was the behavior never intended?

@lordofthejars

[2019-11-04 08:03] mkouba commented on #5083
So the problem with synthetic beans is that unlike fwk class beans their `Bean#create()` implementation may be deployment-specific: https://github.com/michalszynkiewicz/quarkus/commit/b7e05dd0cc454c3062bf4daf3045b70797692826#diff-36e991a830b10f10b19a4360212eebcaR147-R156.

[2019-11-04 08:04] manovotn commented on #5083
@stuartwdouglas did you run it also with `<reuseForks>` set to `true` (which is default if you remove that line)?

[2019-11-04 08:28] FroMage commented on #1319
No, you fixed it.

[2019-11-04 08:28] #1319 closed

[2019-11-04 08:38] emmanuelbernard commented on #5136
I don't know if it was breaking the functionality. I have to admit I forgot to check if the favicon was showing up

[2019-11-04 08:42] jmartisk commented on #5123
This workaround fixed the Config TCK for me: https://github.com/jmartisk/quarkus/commit/f0353a522063d96893fb8d2742a978a1aa58d6ab
Apparently we're hitting a variant of https://github.com/quarkusio/quarkus/issues/4512 again. There are two different `Config` instances available at runtime, and one of them does not have the needed converters configured. Unfortunately, the test uses the wrong one.

[2019-11-04 09:20] jmartisk opened #5163 "NoSuchFileException in logs and improper caching in devmode after removing a html file"
If there is a static html file in `src/main/resources/META-INF/resources/`, the user starts dev mode, accesses that file over a HTTP request, and then deletes the file and tries the same URL again, this exception will start to appear repeatedly in the log:

[code]

Moreover, if this file is removed BEFORE there is a HTTP request to it, the contents of that file are cached somewhere and it will sti

[2019-11-04 10:01] geoand commented on #1382
Yes, this has been implemented

[2019-11-04 10:01] #1382 closed

[2019-11-04 10:01] maxandersen commented on #3552
@pipinet got it - I wonder what "evil" idea plugin does to confuse the test runs...

[2019-11-04 10:03] #2767 closed

[2019-11-04 10:03] #3458 closed

[2019-11-04 10:24] Markus-Schwer commented on #3806
I have the exact same problem (quarkus version 0.27.0). Does anyone have an update on this?

[2019-11-04 10:45] Markus-Schwer commented on #3806
This is my stacktrace:
[code]

Example for my application.properties:
[code]

[2019-11-04 10:46] #4820 closed

[2019-11-04 10:46] gsmet commented on #4820
Done in 0.27.0.

[2019-11-04 10:47] HeavyTobi commented on #3806
have the same issue... any news on that?

[2019-11-04 10:50] gsmet commented on #3802
This has been done.

[2019-11-04 10:50] #3802 closed

[2019-11-04 10:50] sberyozkin commented on #5160
[This test](https://github.com/eclipse/microprofile-jwt-auth/blob/master/tck/src/test/java/org/eclipse/microprofile/jwt/tck/container/jaxrs/ClaimValueInjectionEndpoint.java) shows `Inject` everywhere.
May be [this code](https://github.com/quarkusio/quarkus/commit/b8e5f55139aa14b959e12169ae369b1ae2f6adb6#diff-b54a42d0e73da6c5409eb000962bca27) is related ? Not 100% sure, CC Martin @mkouba and Michal

[2019-11-04 10:53] gsmet commented on #4082
@anamarija maybe you could work on the addition of `validationQuery`?

[2019-11-04 10:56] mkouba commented on #5160
`@Inject` is _optional_ for a **field** injection point if it has at least one qualifier. It's a Quarkus-specific feature that actually violates the CDI spec (where `@Inject` is mandatory).

@sberyozkin the TCK must be CDI-compliant. So it _has to_ use `@Inject`.

In any case, I wouldn't call it a "regression"...

[2019-11-04 11:01] gsmet commented on #4093
Most of this got solved by my Jakarta patch but we still have:
[code]
when building `integration-tests/main`.

The funny thing is that we don't have it in `mvn dependency:tree` so I really don't know where it's coming from.

@anamarija if you're up for some detective work, this one would be a good one to deep dive into our build process :).

[2019-11-04 11:02] sberyozkin commented on #5160
@mkouba Hi Martin, thanks for the fast update; As far as I'm concerned, the fewer annotations, the better :-), so if Qurakus allows for it then it is fine. May be some documentation has to be updated somewhere to answer a question from @emmanuelbernard ? If you tell me what to update then I can take of it, thanks

[2019-11-04 11:06] gsmet commented on #4088
How to reproduce:
 * get https://github.com/jordanglassman/quarkus-flyway-bug
 * update to 999-SNAPSHOT to be sure you run on master
 * `mvn clean compile quarkus:dev`

There's probably an information missing in our CL or our compiled files.

@anamarija up for some detective work?

[2019-11-04 11:17] cescoffier commented on #3806
I will have a look

[2019-11-04 11:18] anamarija commented on #4082
ok.

[2019-11-04 11:19] anamarija commented on #4088
ok.

[2019-11-04 11:20] anamarija commented on #4093
ok

[2019-11-04 11:26] jmartisk commented on #5163
https://github.com/quarkusio/quarkus/pull/5165 should fix the log part, haven't yet looked much into the caching thing but that seems to be somewhere on Vert.x level?!

[2019-11-04 12:13] mkouba commented on #5160
I've updated the CDI guide to include few lines about this feature: https://github.com/quarkusio/quarkus/pull/5167 (previously it was only mentioned in the blogpost)

[2019-11-04 12:15] machi1990 commented on #5163
Yeap, I planned to look at this a bit later. Thanks for fixing the logging part.

[2019-11-04 12:52] cescoffier commented on #3806
The properties seem to work.
I've tried:
[code]
And the application got the right server and port.

If you give wrong connection details you should see in the application log:
[code]
(here I used localhost instead of `naboo`).

@Markus-Schwer  So what you see is the right stack trace when you cannot connect. Can you give me a reproducer if it's still incorrect?

[2019-11-04 13:01] Markus-Schwer commented on #3806
@cescoffier Thank you for your quick response!
The problem isn't that `localhost:61616` isn't reachable, because i don't have a local AMQP server running. The problem is that, as it states in the stacktrace `ConnectTimeoutException: connection timed out: localhost/127.0.0.1:61616` it tries to connect to localhost, instead of the host specified in the properties.

[2019-11-04 13:03] maxandersen opened #5170 "override extension no longer seem to merge extenions but instead override"
current platform overrides for camel are completely ignoring metadata from camel extensions.

[2019-11-04 13:06] kenfinnigan commented on #5123
Submit a PR!

[2019-11-04 13:07] maxandersen commented on #5170
camel-core have:
[code]

override have:
[code]

resulting platform have:

[code]

it should have:
[code]

[2019-11-04 13:09] dmlloyd commented on #780
This is done.

[2019-11-04 13:09] #780 closed

[2019-11-04 13:10] loicmathieu commented on #4908
@viniciusfcf you can already use syslog, it's supported.
JSON logging will allow you to write GELF format right ? But if you want to directly send the log event to graylog, right, I don't think it's possible yet ...

Did you try if this library is working on Quarkus: https://marketplace.graylog.org/addons/7ea104bd-519d-4140-a396-ff962314415e ? It seems that it allows to send logs to graylog from a

[2019-11-04 13:28] sberyozkin opened #5172 "MP JWT TCK RolesAllowedTest fails when run individually"
**Describe the bug**
Michal @michalszynkiewicz has discovered that `RolesAllowedTest.testNeesGroup1Mapping ` fails when `RolesAllowedTest` is run individually.

For the record, it passes when run individually in Thorntail

**Expected behavior**
The test always passes

[2019-11-04 13:33] dmlloyd commented on #632
Probably not.

[2019-11-04 13:33] #632 closed

[2019-11-04 13:34] dmlloyd commented on #284
Doubtful, but I would expect that the Quarkus solution would be able to support picocli based applications.

[2019-11-04 13:36] rpelisse commented on #284
As long as NOT using Picocli is not based solely on the "not invented here syndrom", I'm fine with it ;) !

[2019-11-04 13:37] pedroigor commented on #4495
@dfranssen tk u for checking it !

[2019-11-04 13:39] maxandersen commented on #284
@rpelisse this issue is about enabling CLI styled apps, wether piccoli or other cli fwks are used for quarkus cli is a different topic (one we'll start once cli style support is available :)

[2019-11-04 13:56] Markus-Schwer commented on #3806
I just noticed that i use the wrong property:
[code]

[2019-11-04 14:06] Markus-Schwer commented on #3806
Turns out, that was the problem...
@cescoffier Sorry for waisting your time.

[2019-11-04 14:14] jmartisk commented on #5123
Well as I said it's a workaround. `ConfigProviderResolver.instance().getConfig()` and `ConfigProvider.getConfig()` should return the same object. I'm not sure if this workaround will not break anything until we have a proper fix in Config, and I'm not sure if it's worth the risk for saving 30 seconds in TCK duration :/

[2019-11-04 14:23] kenfinnigan commented on #5123
fair enough.

Once @dmlloyd mega config PR is in the problem might go away as well

[2019-11-04 14:33] emmanuelbernard opened #5174 "Incorrect error page in dev mode when quarkus-kubernetes is in the classpath"
Create a project with `quarkus-kubernetes` as extension.

Then start in dev mode.

Then create a new java file and forget to add a mandatory import (e.g. `List getAll()` without importing `java.util;.List`). You then get the following nasty error

The web page shows

[code]

Does annotation processors leaks somehow. CC @geoand

[2019-11-04 14:34] jkristof94 opened #5175 "Multiple instances are created from a ConfigSource"
Language: Kotlin (AWS Lambda)

Environment: When running a `@QuarkusTest` annotated test

Setup: A class implements `org.eclipse.microprofile.config.spi.ConfigSource` and is added to the list of entries in `org.eclipse.microprofile.config.spi.ConfigSource` under `META-INF/services`

Scenario: When running a test annotated with `@QuarkusTest` (Currently I can not test it any other way because of [t

[2019-11-04 14:42] AlexanderHofmeister opened #5176 "quarkus.vertx.max-worker-execute-time not picking up"
**Describe the bug**
The property `quarkus.vertx.max-worker-execute-time` is not recognized by the quarkus application.

**Expected behavior**
I would expect to see a the configuted value as time limit  in the logs of the quarkus application.

**Actual behavior**
Still getting the warning with the default (?) value of 60000ms.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. build a 's

[2019-11-04 14:57] jmartisk commented on #5175
Looks like yet another manifestation of https://github.com/quarkusio/quarkus/issues/4512

[2019-11-04 15:20] emmanuelbernard opened #5178 "Is there a scala guide? It's not referenced in /guides/"
@gsmet

[2019-11-04 15:22] gsmet commented on #5178
I don't think so. I can try to ping the guy who initially contributed it and see if he's interested to provide a guide + quickstart.

[2019-11-04 15:26] #5170 closed

[2019-11-04 15:57] gsmet commented on #3806
OK, we have at least one person saying it works so let's close it. Please reopen if it still doesn't work for you.

[2019-11-04 15:57] #3806 closed

[2019-11-04 15:59] gsmet commented on #5116
@dmlloyd @kenfinnigan  wouldn't it be possible to have a couple of SmallRye converters more lenient without breaking the spec/TCK tests?

For everything number, the current behavior is a bit pedantic and doesn't bring much.

[2019-11-04 16:00] kenfinnigan commented on #5116
I don't think so.

As soon as you have a converter that's more lenient, the TCK test would pick it up and use it

[2019-11-04 16:23] #4700 closed

[2019-11-04 16:27] geoand commented on #5174
@iocanel we stumbled upon this one. Is perhaps one of the jar dependencies adding annotation processing stuff by mistake?

[2019-11-04 16:36] iocanel commented on #5174
Can you assign the issue to me?

[2019-11-04 16:37] emmanuelbernard commented on #5160
@sberyozkin can you run some quarkus specific tests as well outside the TCK. Because if I did not make a mistake it was not working for me at the time. I had to add `@Inject`. But maybe I got it wrong.

[2019-11-04 16:39] iocanel commented on #5174
VelocityTransformationProcessor is a dekorate transitive.
It should be marked as compile and optional to avoid issues like this.
Apparently, stopped being the case possibly when we added support for Openshift.

[2019-11-04 16:53] geoand commented on #5174
I can't seem to assign it to you, but consider it your

[2019-11-04 17:00] iocanel commented on #5174
I created a pull request that should fix the issue for now.
And also verified that I don't get this issue following the steps @emmanuelbernard described.

[2019-11-04 17:21] machi1990 commented on #5163
@jmartisk I pushed a possible fix for this. It also includes your fix for the log. I could not update your PR, so let's open another one that includes the two fixes.

[2019-11-04 17:38] #5176 closed

[2019-11-04 17:39] #5072 closed

[2019-11-04 17:43] realDrCastafolte opened #5183 "Multitenancy with mongodb panache extension"
**Description**
We're building an app which implement multitenancy by having different mongo databases.

Currently, there seems to be no way to specify which database should be used by PanacheMongoRepository implementations depending on dynamic values like http requests headers or path params.

Currently, since Panache get the database value by calling [ConfigProvider.getConfig()](https://github.c

[2019-11-04 17:54] machi1990 commented on #5183
@loicmathieu this one is for you.

[2019-11-04 18:26] #5174 closed

[2019-11-04 19:42] nderwin opened #5186 "Unable to change debug port in dev mode"
**Describe the bug**
The DevMojo no longer respects the `debug` option when setting up the debug port it dev mode.  Looks to be a result of commit https://github.com/quarkusio/quarkus/commit/66d25b78f0cd386b6deb7a3eeb20e3fb665bb01e

**Expected behavior**
`mvn compile quarkus:dev -Ddebug=5006` should listen on port 5006 for debugger connections.

**Actual behavior**
Dev mode always listens to port

[2019-11-04 19:58] gsmet commented on #5186
Right, looks fishy. @stuartwdouglas could you have a look?

[2019-11-04 20:16] berndfischer63 commented on #5129
Thanks @machi1990  and @Sanne for detailed and deep explanations - now I understand the intended behaviour (it's not a bug) and the reason(s)  behind.

[2019-11-04 20:16] #5129 closed

[2019-11-04 22:19] machi1990 commented on #5129
You are welcome @berndfischer63 .

If you wish to generating an executable jar using `dev` configurations, you can try building the app with `mvn clean install -Dquarkus.profile=dev`. _PS: do not ship the jar in prod_ ;-)

[2019-11-04 22:32] #589 closed

[2019-11-04 22:48] danielpetisme commented on #5113
I do agree with @gnunn1 without a way to generate bcrypted password the usage of the bcrypt-mapper is limited.
It looks we are stuck because of a graal issue and personally I can't event think of a resolution date (are we talking about days or months).
As for now,  the option I can see are
1- Clearly mention in the Quarkus Elytron JDBC doc that bcrypt is not supported yet and reference this issue.

[2019-11-04 22:59] #5163 closed

[2019-11-04 22:59] #5186 closed

[2019-11-04 23:07] viniciusfcf commented on #4908
Hi @loicmathieu. This library is the same of https://github.com/mp911de/logstash-gelf (I linked on my first post). Probably will work. I'm using it in other projects without quarkus.

I'm not sure JSON logging will alow me to write GELF format, I will try to test it.

I'm trying to undestand what define if a "extension proposal" is a good one. Just be usefull on distributed systems?

The final pur

[2019-11-05 00:34] zthulj opened #5192 "Unable to get the quarkus.http.port from environment variable"
**Describe the bug**
I'm trying to deploy the starter quarkus app via container to Heroku.
The web process must listen for HTTP traffic on $PORT, which is set by Heroku

I have set in my application.properties :
[code]

**Expected behavior**
Quarkus should start and listen on 8080 on my computer or if no $PORT is given, and listen on $PORT if given.
Tests should pass.

**Actual behavior**
I get th

[2019-11-05 01:05] stuartwdouglas opened #5194 "Deprecated @BuildStep#providesCapabilities"
This should really just use CapabilityBuildItem directly, there is nothing special about capabilities where they should required their own value on the annotation.

[2019-11-05 01:46] #4619 closed

[2019-11-05 03:04] stuartwdouglas commented on #5192
Looks like when this is loaded 'expanding' is false in ConfigDefinition, so the ExpandingConfigSource ignores it

[2019-11-05 04:45] Ravisankar-Challa opened #5196 "aws-lambda-http how to turn off response body base64 encoding"
Hi Team,

I am using aws-lambda-http body is always base64 encoded (see sample response below) in response. Is there an option to not to do base 64 encoding?

{
	"statusCode": 200,
	"multiValueHeaders": {
		"Content-Length": ["23"],
		"Content-Type": ["application/json"]
	},
	"body": "eyJoZWxsbyI6ImhlbGxvIGpheHJzIn0=",
	"isBase64Encoded": true
}

Thanks,
Ravi

[2019-11-05 05:26] kunieda-o opened #5197 "Gradle Build - java.lang.NoSuchFieldError: SERVER_SENT_EVENTS_TYPE"
https://github.com/quarkusio/quarkus/issues/5059

This might be same with above, but I can't solve in `0.28.1` ( `0.28.0` also ).

Please let me know if you notice anything.

[code]

[2019-11-05 07:22] dodalovic opened #5200 "Improve readability of the website using more readable font"
**Description**

Currently, the website looks like:

![image](https://user-images.githubusercontent.com/6358061/68186729-1ea00100-ffa5-11e9-9405-521bf2004a59.png)

Personally, I find it slightly more readable if we decide to leverage [inter font](https://rsms.me/inter/)

which would make it look like:

![image](https://user-images.githubusercontent.com/6358061/68186838-5d35bb80-ffa5-11e9-82ce-ea7d

[2019-11-05 07:59] gsmet opened #5201 "Dev mode - 404 - List of static files not reloaded"
Launch dev mode, go to an unknown page, you get the 404 with a list of static html files.

Create a new html file, reload the 404, the file is not there.

[2019-11-05 07:59] gsmet commented on #5201
@machi1990 I was wondering if you could have a look at this one, now that you're fluent in dev mode :).

[2019-11-05 08:00] gsmet commented on #5150
@machi1990 I was wondering if you could have a look at this one, it's very connected to the other one I pinged you on.

[2019-11-05 08:18] sander-su commented on #4961
@gunnarmorling I can make a PR but as this is a side R&D project I dont know when it will be ready ..

[2019-11-05 08:23] machi1990 commented on #5201
Yeap. I’ll have a look later on today.

[2019-11-05 08:45] loicmathieu commented on #5183
@machi1990 there is two ways to solve this issue:

1. Providing a MongoDatabaseResolver as suggested
2. Providing a way to resolve different values for a config property based on a ThreadLocal value

As we rely on Vert.x i don't know if the second is easily feasible, ping @cescoffier, anyway this will impact the config resolution and I don't know if something for this already exist for MP Config.

[2019-11-05 08:49] loicmathieu commented on #4908
@viniciusfcf an extension is needed to include the framework/component/technology used inside the global configuration mechanism, to provides CDI beans if needed, and to have some native image customization/fixes if the third party library didn't works out of the box on GraalVM native image.

Anyway, please give us feedback on your tests we can then decide if we need to create a specific extension

[2019-11-05 08:52] emmanuelbernard commented on #5200
WDYT @jkbrock

[2019-11-05 09:14] FroMage commented on #5183
Do you need one database per entity class or multiple databases per entity class?

[2019-11-05 09:29] gsmet commented on #5196
/cc @patriot1burke @evanchooly

[2019-11-05 09:31] gsmet commented on #5197
@kunieda-o any chance you could provide a sample application reproducing the issue? That would be very helpful.

/cc @geoand @gastaldi

[2019-11-05 09:34] geoand commented on #5197
If I had to guess I would say it's similar to the problems we've seen with Gradle and dependencies before.

As @gsmet said a reproducer will go a long way

[2019-11-05 09:36] spoenemann opened #5204 "Gradle plugin does not work with plugins DSL"
**Describe the bug**
As described in https://plugins.gradle.org/plugin/io.quarkus the preferred way to include the Quarkus Gradle plugin should be
[code]

**Expected behavior**
The Gradle plugins API should work for Quarkus.

**Actual behavior**
[code]

It works only when using the [legacy plugin syntax](https://plugins.gradle.org/plugin/io.quarkus).

**To Reproduce**
Steps to reproduce the behavi

[2019-11-05 09:39] #487 closed

[2019-11-05 09:40] #425 closed

[2019-11-05 09:42] gsmet commented on #438
This has been done a while ago.

[2019-11-05 09:42] #438 closed

[2019-11-05 09:44] gsmet commented on #483
@objectiser @jmartisk what is the status of this one?

[2019-11-05 09:45] gsmet commented on #486
@objectiser any chance we could make progress on this? That would be one less issue :)

[2019-11-05 09:46] #562 closed

[2019-11-05 09:46] cescoffier commented on #562
The remaining action will be tracked in another issue.

[2019-11-05 09:48] gsmet commented on #350
We have a transaction guide now.

[2019-11-05 09:48] #350 closed

[2019-11-05 09:50] realDrCastafolte commented on #5183
We need to be able to define, dynamically, the database on which an entity will be persisted to.

Database selection depends on a request context like http header ("X-Tenant" for instance) or URI path param ("/api/v1/{tenant}/...").

Having a mechanism like our missed [KeycloakConfigResolver](https://github.com/quarkusio/quarkus/blob/0.23/extensions/keycloak/runtime/src/main/java/io/quarkus/keyclo

[2019-11-05 09:59] gsmet commented on #5204
This returns a 404: https://plugins.gradle.org/m2/org/gradle/gradle-tooling-api/5.5.1/gradle-tooling-api-5.5.1.pom .

I don't know if the issue is us using it or the file being unavailable.

/cc @geoand @gastaldi

[2019-11-05 10:00] geoand commented on #5204
Can you try with `0.28.1` please?

[2019-11-05 10:04] sberyozkin commented on #5160
@emmanuelbernard
Stuart updated [this test resource](https://github.com/quarkusio/quarkus/blob/master/integration-tests/oidc/src/main/java/io/quarkus/it/keycloak/AdminResource.java#L17) recently, the test itself is [here](https://github.com/quarkusio/quarkus/blob/master/integration-tests/oidc/src/test/java/io/quarkus/it/keycloak/BearerTokenAuthorizationTest.java#L162). So it works without `Inject`

[2019-11-05 10:07] emmanuelbernard opened #5206 "Make the RESTEasy extension infer the mediatype like Spring Web extension does"
In RESTEasy, you need to set `@Produces(MediaType.APPLICATION_JSON)` but it's infered in the Spring equivalent. Could we do the same for RESTEasy?

CC @geoand

[2019-11-05 10:11] geoand commented on #5206
I see no reason why we can't do this.
Can you think any reason not to @asoldano , @gsmet ?

[2019-11-05 10:13] #643 closed

[2019-11-05 10:13] gsmet commented on #641
@stuartwdouglas do we want to fix that or should I close it?

[2019-11-05 10:15] gsmet commented on #701
I think this is out of date with all the security work being done since then.

[2019-11-05 10:15] #701 closed

[2019-11-05 10:16] #722 closed

[2019-11-05 10:18] objectiser commented on #483
@gsmet This is out of date, no longer required. Will close.

[2019-11-05 10:18] #483 closed

[2019-11-05 10:19] gsmet commented on #739
No feedback from the GraalVM team so I suppose we will have to live with it. At least it has been documented on our side.

[2019-11-05 10:19] #739 closed

[2019-11-05 10:19] #773 closed

[2019-11-05 10:20] gsmet commented on #776
Clément is working on it in the quickstart repo. I think we can close this one here.

[2019-11-05 10:20] #776 closed

[2019-11-05 10:21] gsmet commented on #802
The PR got merged so let's close it.

[2019-11-05 10:21] #802 closed

[2019-11-05 10:25] gsmet commented on #878
@dmlloyd I think this is done, isn't it?

[2019-11-05 10:27] gsmet commented on #832
Outdated, we have the platform now.

[2019-11-05 10:27] #832 closed

[2019-11-05 10:28] blsouthr opened #5209 "CDI Instance memory leak"
Instance<SomeBean> is not destroying dependent beans. The array  "dependentInstances" of creationalContext is constantly growing, which eventually results in OOM.

Thorntail is working fine in that scenario. In Weld "dependentInstances" array has size 0.

Steps to reproduce the behavior:
1. Execute mvn test of attached project
2. The output shows that total free memory is decreasing
3. Alternative

[2019-11-05 10:34] emmanuelbernard opened #5211 "Improve JWT usability for getting started experience"
Just by adding jwt to the extension and nothing else leads to the following error

[code]

Are these absolutly mandatory and could we not raise an error if JWT restrictions are not used in the app anywhere?

CC @kenfinnigan

[2019-11-05 10:35] enbohm commented on #4572
Reading more about similar issues in Istio (among others) https://github.com/istio/istio/issues/13848 where it could be related to the socket timeout settings in Quarkus. I did find a useful write-up about sporadic 503 UC (upstream closed) on https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times/index.html

The conclusion was that the applications were using a low socket timeout, e.g.

[2019-11-05 10:48] FroMage commented on #5183
OK, this is more than #3343 because the choice of DB is dynamic. Pretty sure the list of DBs is static, though, right? The client can't point you to a DB you haven't set up in configuration, right?

So this question is then more general and could apply to ORM as well @Sanne @emmanuelbernard and in general I guess the way I would do it is via a filter or interceptor that we could make extendable wh

[2019-11-05 10:56] Sanne commented on #5183
Funny I was having similar thoughts yesterday regarding Hibernate ORM multitenancy.

In Hibernate / upstream, the capability to use a "dynamically selected" database is actually popular; the way it works is there's a SPI and the user needs to inject his custom "switch" implementation during bootup.

We can also pick up such an implementation by classname / configuration but as far as I understand

[2019-11-05 11:00] mkouba commented on #5160
Thanks @sberyozkin.

[2019-11-05 11:00] #5160 closed

[2019-11-05 11:08] objectiser commented on #486
@gsmet Another one out of date - will close.

[2019-11-05 11:08] #486 closed

[2019-11-05 11:24] loicmathieu commented on #5183
For DataSources, I implement a routing datasource once, that was configured with a table with routing keys and datasource names, and delegate to the right datasource bean based on a routing criteria.
For this to works every datasources needs to be CDI beans + the routing datasource.

I remember that the configuration part (in XML) was a mess ;)

So first, we need a multi-database/multi-mongo/... i

[2019-11-05 11:32] mkouba commented on #5209
Hello, I've checked the attached project and I can confirm that this is not a bug. Every invocation of `Instance<SomeBean>.get()` creates a new instance of `SomeBean` because it's `@Dependent` and _"An instance of a bean with scope @Dependent obtained by direct invocation of an Instance is a dependent object of the instance of Instance."_ (see the [6.4.1. Dependent objects](https://docs.jboss.org/

[2019-11-05 11:48] blsouthr commented on #5209
JAX-RS in my Thorntail app is annotated with @ApplicationScoped. Does Thorntail ignore it and applies @RequestScoped instead?

Wouldn't it make sense if Quarkus would also make JAX-RS @RequestScoped by default then?

[2019-11-05 11:58] sberyozkin commented on #5211
@emmanuelbernard
One can use `smallrye-jwt` simply to verify the tokens and make sure the roles info extracted from them is effective against `@RolesAllowed` restrictions - so there is no requirement for the users to add MP JWT `JsonWebToken` or `Claim` in their code.
The extension can be 'disabled' with a property, which is a common pattern in Quarkus AFAIK.

[2019-11-05 12:05] gsmet commented on #486
Thanks!

[2019-11-05 12:08] mkouba commented on #5209
It shouldn't but I'm not 100% sure. @Ladicek WDYT?

Well, it's configurable - you can switch the default behavior via `quarkus.resteasy.singleton-resources=false`. More details on motivation can be found here: https://github.com/quarkusio/quarkus/issues/312

[2019-11-05 12:13] Sanne commented on #5183
yes using a CDI bean looks like the natural choice.

Having a routing criteria return a String might not suit all needs though; for example in ORM it could be a schema name, or it could be a name of something else like the role. In Hibernate ORM the `tenantId` is a String type, so having such a `RoutingCriteriaResolver` could be easily plugging in, but :

- it needs to be coupled with a custom `or

[2019-11-05 12:15] enbohm opened #5213 "UnsupportedOperationException thrown at startup for vertx-quickstart project with Java 11"
**Describe the bug**
When starting vertx-quickstart project (from quarkus quickstart examples) via ```mvn compile quarkus:dev -Dquarkus.log.level=DEBUG``` the following stack trace is shown in the logs:
[code]

**Expected behavior**
No stack trace (or fail to start application)

**Actual behavior**
Application is started with possible errors.

**To Reproduce**
Steps to reproduce the behavior:
1. g

[2019-11-05 12:19] mkouba opened #5214 "All configuration options guide - no RESTEasy config options"
I.e. `ResteasyServerCommonProcessor.ResteasyConfig.singletonResources`. For the record `ResteasyConfig` is a static nested class.

@FroMage @machi1990 Any idea?

[2019-11-05 12:21] Ladicek commented on #5209
I'm pretty sure Thorntail doesn't do anything to override Weld's and RESTEasy's behavior. If you annotate your JAX-RS resource `@ApplicationScoped`, then it's application scoped. I'm not sure if the default is `@RequestScoped`, but if @mkouba says it is, then it probably is :-)

[2019-11-05 12:27] gsmet opened #5215 "Kafka native ITs are unstable"
We have a lot of failures in the native Kafka tests lately.

I see this error:

[code]

We should also probably get rid of this warning somehow:
[code]

[2019-11-05 12:28] gsmet commented on #5215
@cescoffier could you have a look? Most of our PRs are failing because of that.

[2019-11-05 12:29] stuartwdouglas commented on #5213
This is a netty issue, they attempt lots of different optimisations, and some of them don't work on all JDK versions. When they don't work they log them at DEBUG.

[2019-11-05 12:29] rafaelkloss commented on #4377
Hi Sanne, thanks for reply, i wait for the finish of issue.
@dreab8  you did it reproduce using my project example ?

[2019-11-05 12:47] rafaelkloss commented on #4377
Hi guys, even i don't understand why works fine until quarkus 0.22.0, before 0.23 the "auto dirty tracking" is disabled ?

[2019-11-05 12:49] gastaldi commented on #5204
I may be wrong but the `apply plugin: 'io.quarkus'` is necessary to support calls to `nativeTestImplementation` in the `dependencies{}` section?

[2019-11-05 13:05] kenfinnigan commented on #5206
It depends on what the "default" is going to be, and/or how complicated it is to determine based on the return type.

JSON is not the default media type for JAX-RS

[2019-11-05 13:09] FroMage commented on #5214
It's in `target/asciidoc/generated/config/quarkus-resteasy-server.adoc` and in `target/asciidoc/generated/config/all-configuration-roots-generated-doc.properties` so it is picked up
and must be a bug in my all-config generator.

[2019-11-05 13:09] dmlloyd commented on #878
I think so yeah.

[2019-11-05 13:09] #878 closed

[2019-11-05 13:10] kenfinnigan commented on #5211
I think @emmanuelbernard is asking for an error to be displayed at build time if the extension is present but the required configuration isn't set, as opposed to failing to respond to an endpoint at runtime

[2019-11-05 13:29] realDrCastafolte commented on #5183
The approche described above is exactly what we looking for.
For now, we only have one datasource but we need to switch schema (= mongodb database) dynamicaly, even if the schema/username/database is not known at boot time (mongodb client creates a database at first use).

[2019-11-05 13:39] FroMage commented on #5214
I found the bug, but we're also missing `openapi`.

[2019-11-05 13:42] dmlloyd commented on #5192
I think this could be the same problem as #2816/#4077.

[2019-11-05 13:43] FroMage commented on #5214
The problem is due to `SmallRyeOpenApiConfig.java` being in `quarkus-smallrye-openapi-common-deployment` which does not have a `quarkus-config-roots.list` listing it.

@dmlloyd do you know why it would not list it?

[2019-11-05 13:44] dmlloyd commented on #5113
The short-term fix would be to `@Substitute` the clone call with `Arrays.copyOf`.

[2019-11-05 13:44] FroMage commented on #5214
No, sorry, my bad, it is listed in `extensions/smallrye-openapi-common/deployment/target/classes/META-INF/quarkus-config-roots.list`

[2019-11-05 13:45] FroMage commented on #5214
OK, so the issue is that `quarkus-smallrye-openapi-common-deployment` is not listed as part of the platform, and so I'm not scanning it to find its config roots and I can't figure out which extension this property belongs to.

[2019-11-05 13:49] FroMage commented on #5214
I guess the same would happen of all config roots that live in `*-common` extensions not listed…

[2019-11-05 13:52] FroMage commented on #5214
Well, `quarkus-resteasy-common` and `quarkus-resteasy-server-common` are part of the platform BOM, but `quarkus-smallrye-openapi-common-deployment` is a deployment-only thing.

Really not sure how to fix that, guys.

[2019-11-05 13:57] FroMage commented on #5214
#5218 fixes the resteasy (and other member config types) issue.

But remains the issue of figuring out which extension holds the `openapi` one…

[2019-11-05 13:58] bvarner opened #5219 "Allow setting a custom Hibernate ConnectionProvider"
**Description**
Allow setting `hibernate.connection.provider-class` through quarkus app application properties.

**Implementation ideas**
Implement adding the ability to specify a custom connection provider with a hibernate.orm setting such as: `quarkus.hibernate-orm.connection.provider-class` that would set `hibernate.connection.provider-class` within a jpa persistence context when not using a pe

[2019-11-05 14:00] gsmet commented on #5214
Note that we can just push the fixed adoc file to the website while waiting
for the new release.

On Tue, Nov 5, 2019 at 2:58 PM Stéphane Épardaud <notifications@github.com>
wrote:

[2019-11-05 14:03] FroMage commented on #5214
Yeah, this is only impacting what we build from `docs`.

[2019-11-05 14:15] blsouthr commented on #5209
BTW, why this test has so bad performance? I changed the loop in test to run 1000 times and it takes ca 4 minutes with high cpu and memory usage:
![visualvm](https://user-images.githubusercontent.com/56728828/68215143-064cd800-ffdf-11e9-8f3e-e082d9cf1970.PNG)

[2019-11-05 14:28] dmlloyd commented on #5214
Could hardcode it for now?

[2019-11-05 14:29] gastaldi commented on #5101
Here is a Gradle project using the minimum configuration (which should be generated by our tools): https://github.com/gastaldi/gradle-quarkus-project

[2019-11-05 14:32] gastaldi commented on #5204
Adding this issue to #5101

[2019-11-05 14:33] FroMage commented on #5214
Yes, that's what I'll do.

[2019-11-05 15:07] nderwin commented on #5186
@gsmet In which release will the fix for this appear?

[2019-11-05 15:15] gastaldi opened #5221 "Support Remote Development mode in the Gradle plugin"
**Description**
In https://quarkus.io/guides/maven-tooling#remote-development-mode it says it's possible to run live-reload in a remote environment. This task does not exist in the Gradle plugin

**Implementation ideas**
See how it's done in maven

[2019-11-05 15:20] gastaldi commented on #5221
Adding to https://github.com/quarkusio/quarkus/issues/5101

[2019-11-05 15:40] mkouba commented on #5209
@blsouthr Well, you allocate/fill an array of size 52 428 800 per each request (because a new `SomeBean` is created for each request). So even if you destroy the bean correctly the JVM has to do a lot of garbage collection (`Total time: 01:40 min` for 1000 requests on my laptop). Of course, if you don't destroy the bean you'll get `OutOfMemoryError` very soon.

[2019-11-05 15:46] mkouba commented on #5209
Closing. Feel free to reopen if needed.

[2019-11-05 15:46] #5209 closed

[2019-11-05 15:49] jkbrock commented on #5200
Inter and Open Sans are very comparable and the differences are pretty subtle (wider C's, loopier J's, grotesque lowercase g's, and a little but more character tracking).

On one hand, I think it's worth considering and testing, but on the other, we've already built Open Sans into the Quarkus Brand. So, I'll look into it as something we can test for.

[2019-11-05 16:22] loicmathieu opened #5223 "ConfigProvider.getConfig() should takes profile into account"
**Describe the bug**
Following the discussion for #4869 it appears that when accessing the Config object from `ConfigProvider.getConfig()`, profiles is not taken into account.

Reading the spec, this is the prefered way to access the configuration programmaticaly

https://github.com/eclipse/microprofile-config#design

**Expected behavior**
`ConfigProvider.getConfig()` take profiles into account.

[2019-11-05 16:49] xorye opened #5224 "Cannot add extensions to Gradle project with comma-separated extensions list"
**Describe the bug**
In the guide: https://quarkus.io/guides/gradle-tooling#dealing-with-extensions

it looks like we can add extensions in a comma-separated list like so:
`./gradlew addExtension --extensions="quarkus-artemis-jms,quarkus-vertx"`

However, for my Gradle project, I get this message:
[code]

I took those extensions from the list provided with ./gradlew listExtensions.

**Expected beh

[2019-11-05 16:55] #4082 closed

[2019-11-05 17:02] gsmet commented on #5186
It's going to be released very soon.

[2019-11-05 17:05] gsmet commented on #5224
/cc @gastaldi @geoand @maxandersen

[2019-11-05 17:06] loicmathieu commented on #4908
@viniciusfcf I made some test and as you need a special handler to send logs to Graylog and that there is currently no way to set the handler used by Quarkus logging, yes, it needs an extension.

Based on the works made by @dmlloyd on it's json logging PR I was able to build a graylog extension. It still needs polishing, documentation and testing but as soon as #4121 is merged I will be able to pr

[2019-11-05 17:16] dmlloyd commented on #5223
The bug is that `ConfigProvider.getConfig()` and `ConfigProviderResolver.instance().getConfig()` are unfortunately returning different instances.  This is codified in the existing bug report #4653.

It does not have any relationship to profiles.

[2019-11-05 17:25] geoand commented on #5224
Should be an easy fix. I can take it in a few hours if no one else does

[2019-11-05 17:31] Ravisankar-Challa commented on #5196
It's not an issue it works fine from Anazon API Gateway. I am using https://github.com/lambci/docker-lambda for testing where lambda is invoked directly not through API Gateway. It would he really nice if you could provide some quarkus property to Devs/users to control the base64 encoding of body.

[2019-11-05 18:27] #5023 closed

[2019-11-05 18:35] gsmet commented on #5178
We should create a simple Scala project here:
https://github.com/quarkusio/quarkus-quickstarts

And have a guide similar to https://quarkus.io/guides/kotlin , at least for the first part of the guide. I don't think we need to dig too much into Gradle for now.

We have an IT for Scala here https://github.com/quarkusio/quarkus/tree/master/integration-tests/scala which can give some ideas.

The dev m

[2019-11-05 18:43] #699 closed

[2019-11-05 18:44] #5194 closed

[2019-11-05 18:52] sberyozkin opened #5226 "Support LDAP identity provider"
**Describe the extension**
This extension, possibly built on top of Elytron and called `elytron-security-ldap`, will support LDAP. Perhaps a Vertx based reactive alternative can be also investigated

[2019-11-05 18:56] Sanne commented on #5219
Hi,
sorry I don't think that's a good idea. Historically Hibernate allowed a lot of flexibility in this area, as there were many buggy connection pools so it was a hard choice.. today it's more like the opposite, we can actually better prevent issues by doing better integration - while the connection provider patterns are well understood.

Why would you want a different provider?

[2019-11-05 20:24] maxandersen opened #5229 "Add way for extensions to alternatively describe their configuration for use by tools"
**Description**
In #1655 and in https://github.com/redhat-developer/vscode-quarkus/issues/129 its been discussed it would be great if extensions have an ability to self-document their properties/config structure in cases where the config model is not possible to be described via @ConfigRoot and @ConfigProperty

[2019-11-05 20:25] aguibert commented on #5138
I'll have a look into this issue and propose a PR when I'm done

[2019-11-05 20:27] maxandersen commented on #5229
having an extra *optional* descriptor file in extensions manifest.mf metadata could be an option - but I would still say tools should read the annotations if they can and only take the metadata if present.

[2019-11-05 21:11] GuilhermeBrisida opened #5231 "Mailer extension replyTo doesn't work"
**Describe the bug**
If you call  `setReplyTo` in a `Mail` object, the `ReactiveMailerImpl` doesn't add the corresponding header.

**Expected behavior**
The `ReactiveMailerImpl ` should add the replyTo attribute of `Mail` to the corresponding `MailMessage`, allowing mail clients (such as Outlook or Gmail) to reply to the correct address.

**Actual behavior**
The header is not added, and replies ar

[2019-11-05 21:27] geoand commented on #5197
@kunieda-o I would love to take a look a this one and try to get to the bottom of it, so any sort of reproducer you can possible provide would be a huge help.

Thanks

[2019-11-05 22:16] garrettahines1 opened #5234 "MQ Message not acknowledged on thrown exception"
**Describe the bug**
I am using artemis mq as a message broker and have an incoming stream to listen for messages on a queue. In the method for the incoming stream, I have it possible to throw an exception. It seems that if an exception is thrown the mq broker is not notified that the message has been acknowledged by my service even though I have received and processed it. My service will no longe

[2019-11-05 22:17] Sanne commented on #5091
Looks like we agreed to not do this, at least for now?

I'll close, we can re-open and re-evaluate as needed. Thanks!

[2019-11-05 22:17] #5091 closed

[2019-11-05 22:27] #5224 closed

[2019-11-05 22:28] gsmet commented on #5234
/cc @cescoffier

[2019-11-05 22:44] machi1990 opened #5236 "Move handling of NotFound http code from resteasy to the vertx-http extension"
**Description**
Current the `NotFound` error page is handled by `resteasy` via https://github.com/quarkusio/quarkus/blob/44e029ba5f100594f1fe235c63c3aee280f253b9/extensions/resteasy/runtime/src/main/java/io/quarkus/resteasy/runtime/NotFoundExceptionMapper.java.

This presents two setbacks:

- We are unable to list `vertx-web` rest endpoints and various others endpoints eg swagger, metrics, health.

[2019-11-05 22:46] alexander-dammeier commented on #3598
@sberyozkin No, i still have this problem with Quarkus 0.28.1

my application.properties (copied from [your documentation](https://quarkus.io/guides/http-reference#cors-filter) and sligthy modified) :
[code]

but my response headers are:
[code]

I will test this a little bit on my system tomorrow.

[2019-11-05 23:11] stuartwdouglas commented on #5226
Looks like Vert.x LDAP support is based on top of Shiro and is blocking under the covers, so we should stick with Elytron.

[2019-11-05 23:41] #5231 closed

[2019-11-05 23:46] gastaldi commented on #5213
According to @stuartwdouglas' comment above, I don't think there is anything in the Quarkus side to fix?

[2019-11-05 23:51] stuartwdouglas commented on #5213
It would be good to filter this out, we have had a few reports about it

[2019-11-06 01:00] viniciusfcf commented on #4908
Great. I saw logstash-gelf code and their main classes probably are: GelfLayout and GelfMessage (Really is a json message), and the Senders (HTTP, REDIS, Kafka...)

[2019-11-06 01:12] kunieda-o commented on #5197
@gsmet @geoand
Thank you guys.

I created reproducer.
Would you please check it?
https://github.com/kunieda-o/quarkus-0.28.1-fail-example

[2019-11-06 02:28] patriot1burke commented on #5196
Its hardcoded to base 64 because API Gateway requires you to specify your binary types up front and because anything not UTF-8 has to be encoded.  So, just decided to encode everything.

[2019-11-06 02:40] #5040 closed

[2019-11-06 03:07] patriot1burke commented on #5196
If you're using aws-lambda-http, why not just use `sam local` like our docs suggest?

[2019-11-06 03:12] leotu opened #5240 "Vertx with clustered manager startup failed"
Quarkus Version: 0.28.1

**Configuration**
(application.properties):
[code]

**Console error message**
[code]

**To reproduce**
[code]

[code]

**Additional context**
It maybe a bug at class: io.quarkus.vertx.core.runtime.VertxCoreRecorder
method: "initializeWeb(VertxConfiguration conf) "

It should be add condition "  if (options.getEventBusOptions().isClustered()) {"
work like method "initialize

[2019-11-06 06:35] kunieda-o commented on #5197
https://github.com/kunieda-o/quarkus-0.28.1-fail-example/pull/1/files

Works well when I removed owasp dependency check plugin.

[2019-11-06 06:35] #5197 closed

[2019-11-06 07:01] geoand commented on #5197
@kunieda-o Thanks for checking and figuring out the problem!

Although I'm glad you were able to work around the problem, we will however on the Quarkus side in future need to make sure this doesn't happen

[2019-11-06 07:01] geoand commented on #5206
It's not, but couldn't we take the opiniotated approach and make it the default in Quarkus?

[2019-11-06 07:08] gintsgints opened #5241 "microprofile annotation generates second parameter in UI"
**Describe the bug**
When I execute next example:

[code]

**Expected behavior**
I should get one username field in swager-ui.

**Actual behavior**
I get two fields for query instead

**Screenshots**
![image](https://user-images.githubusercontent.com/1847580/68275611-df40e580-0074-11ea-867a-21ed7123f6e3.png)

**Environment (please complete the following information):**
Java 1.8
Quarkus version: 0.

[2019-11-06 07:11] Ladicek commented on #3598
`quarkus.http.cors.origins=*` is wrong, if you want all origins, you should just leave the property out. Please make sure that you set the `Origin` header in the request when testing.

[2019-11-06 08:16] emmanuelbernard opened #5243 "Should we wire mvn exec:exec to either java -jar *runner.jar or quarkus:dev?"
A thought that occurred to me cc @maxandersen

[2019-11-06 08:25] emmanuelbernard opened #5244 "Offer a way to control the list of locale embedded in GraalVM native image"
I don't think we offer a facility to describe the list of locale a user wants in his native image. Something like`quarkus.native.locale=en_EN,fr-FR` driving native-image would be useful.

CC @dmlloyd @stuartwdouglas

[2019-11-06 08:27] Ravisankar-Challa commented on #5196
@patriot1burke I totally agree but please do consider providing a quarkus property to disable base64 encoding.

[2019-11-06 08:30] gsmet commented on #5244
I'm a big +1 on this one as it's a major issue.

But AFAIK, there's no options for that in GraalVM for now.

[2019-11-06 08:32] gsmet commented on #5241
@gintsgints could you try with 0.28.1? There has been a whole lot of fixes in SmallRye OpenAPI since then.

[2019-11-06 08:34] gsmet commented on #5241
@EricWittmann does it ring a bell?

[2019-11-06 08:37] #5138 closed

[2019-11-06 08:40] gsmet commented on #5240
/cc @cescoffier

[2019-11-06 08:45] gintsgints commented on #5241
Yes. Works with latest 2.28.1 version. Thank you.

[2019-11-06 08:45] #5241 closed

[2019-11-06 09:17] djajcevic commented on #4571
This works for me: `quarkus.datasource.username=${DB_USERNAME:na}`.
Configuration for REST clients do no work; `mp-rest/url=${SOME_URL:http://...}`, but this is OK since it's evaluated at build time. Would be great if this can be dynamic.

[2019-11-06 09:20] gintsgints commented on #4253
@sberyozkin I see new oidc code available. Can you use both files with it now?

[2019-11-06 09:31] asoldano commented on #5206
@emmanuelbernard @geoand how does spring web actually infer this?
As for Quarkus being opinionated, etc. if we had RESTEasy completely rely on annotation metadata provided by Quarkus, we could simply change the input to RESTEasy adding the application/json as "produces"...

[2019-11-06 09:45] geoand commented on #5206
So basically for the Spring annotations, when there is no `@Produces`, the code just defaults to using json since that is what Spring Web does as well.

[2019-11-06 10:01] jaikiran commented on #5215
I opened https://github.com/quarkusio/quarkus/pull/5245 to handle that `NoSuchElementException`

[2019-11-06 10:02] michalszynkiewicz commented on #5172
@sberyozkin, turns out I was wrong.
The test is not executed at all when we run all the tests because it's in the `ee-security-optional` group. And we only run: https://github.com/quarkusio/quarkus/blob/849c28ef9940ac898173fbb4808d8c7b13b71fd5/tcks/microprofile-jwt/tck-base-suite.xml#L23-L32

The name `-optional` suggest that we don't need to pass it so it's probably okay that we don't.

Do you th

[2019-11-06 10:40] spoenemann commented on #5204
@geoand same problem with `0.28.1`.

[2019-11-06 10:45] geoand commented on #5204
Thanks for checking @spoenemann

[2019-11-06 10:53] maxandersen commented on #5243
you mean in users generated project ? Sure, I would say `exec:exec` would be best suited for java -jar *runner.jar and then you use `quarkus:dev` for `quarkus:dev`

[2019-11-06 11:01] loicmathieu commented on #5223
@dmlloyd this is not #4653 as it's about GraalVM updates.

I was a mis-understanding relationship to profiles, but anyway, the important thing is to fix it to be able to offers an undertandable (and standard) way to access the config programmatically.

[2019-11-06 11:08] sberyozkin commented on #5226
@stuartwdouglas thanks for checking it.

[2019-11-06 11:11] sberyozkin commented on #3685
Marking it as a Good First issue for Andrey or someone else from the community to verify the issue has been resolved and if not then consider a minor PR :-). @belyaev-andrey Andrey, thanks for opening this issue in the 1st place

[2019-11-06 11:19] Ravisankar-Challa opened #5247 "0.28.1 -> amazon-lamda-http not working"
I am getting below error when a basic hellowrold lambda deploy to AWS and invoked through API gateway. you can see the stacktrace in the attached image

![image](https://user-images.githubusercontent.com/11788842/68294071-45e5f380-00b5-11ea-87ba-a5c73add22d6.png)

[2019-11-06 11:39] rsvoboda opened #5248 "vertx-graphql fails in native mode - GraphQLInputDeserializer has no default (no arg) constructor"
integration-tests/vertx-graphql fails in native mode - GraphQLInputDeserializer has no default (no arg) constructor

[code]

CC @machi1990 @cristianonicolai @gsmet

[code]

[2019-11-06 11:42] gsmet commented on #5248
Do we have an IT for this extension? I don't have reviewed this one so I don't really know but there's certainly something missing.

@cescoffier could you clarify the situation regarding this extension? Should it be a public one, given there might be a SmallRye effort for GraphQL?

[2019-11-06 11:43] zulq opened #5249 "Gradle kotlin project missing all-open plugin"
**Describe the bug**
When kotlin is chosen, the all-open plugin is not added

**Expected behavior**
When kotlin is chosen the all-open plugin should be added and the default allOpen section

**Actual behavior**

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://code.quarkus.io/
2. Create a new project with kotlin and Gradle as build tool.

[2019-11-06 11:44] rsvoboda commented on #5248
yup, not present in https://github.com/quarkusio/quarkus/blob/master/ci-templates/stages.yml

[2019-11-06 11:48] jaikiran commented on #5247
This looks like an issue in vertx itself where it can't handle unresolved `InetSocketAddress`. The only way for now to get past this is probably an ugly hack in Quarkus, until the fix is available in vertx.
I'll propose a PR here and open an issue in vertx and see what gets decided.

[2019-11-06 12:04] EricWittmann commented on #5241
@gsmet I suspect this is a new bug.  We should open something up in smallrye-open-api.  Very likely this specific case is not covered.  The case is where the `@Parameter` annotation is put directly on the Java method argument without a `name` property.  That SHOULD work because of course we could infer that the annotation goes with the argument.  But likely we aren't doing that.

A temporary worka

[2019-11-06 12:13] machi1990 commented on #5248
I am only discovering about this extension today. However, let me see if we can get the native test to pass and add the extension in the CI.

[2019-11-06 12:18] jaikiran commented on #5247
I've opened a PR which proposes a workaround https://github.com/quarkusio/quarkus/pull/5250

[2019-11-06 12:21] belyaev-andrey commented on #3685
It works for me with version 0.28.1, but it looks like you don't take
[code]
property into account. I always see realm name "Quarkus" for the wrong password. I'll double check it and create an issue if it is confirmed.

[2019-11-06 12:23] zulq opened #5251 "Gradle project repeats dependencies."
[code]

[2019-11-06 12:24] geoand commented on #5251
Is there an issue in Quarkus proper?

[2019-11-06 12:25] ia3andy commented on #5251
@geoand I transferred the issue. I can't reproduce for now

[2019-11-06 12:29] ia3andy commented on #5251
Ok I've just reproduced using the exact same dependencies weird..

[2019-11-06 12:31] ia3andy commented on #5251
Ok it's when we add `Kotlin`

[2019-11-06 12:31] geoand commented on #5251
I can take a look at it soon, but not for a few more days probably

[2019-11-06 12:31] geoand commented on #5251
That's great to know!

[2019-11-06 12:31] lkrzyzanek opened #5252 "Multiple QuarkusTestResource annotations in Test are ignored"
**Describe the bug**
Multiple `@QuarkusTestResource` annotations in Test are completely ignored
e.g.
@QuarkusTest
@QuarkusTestResource(ActiveMQServerTestResource.class)
@QuarkusTestResource(ActiveMQClientTestResource.class)

**Expected behavior**
Given that `QuarkusTestResource` annotation is `Repeatable` both test resources should be processed.

**Actual behavior**
Both QuarkusTestResource are ig

[2019-11-06 12:34] gsmet commented on #5251
@aguibert would you mind having a look at that one?

[2019-11-06 12:38] lkrzyzanek commented on #5252
The trouble seems to be in method `TestResourceManager.getTestResources` here:  https://github.com/quarkusio/quarkus/blob/master/test-framework/common/src/main/java/io/quarkus/test/common/TestResourceManager.java#L88

When I'm debugging the `index` variable it contains list of all annotations but in case of multiple `QuarkusTestResource` annotations the name is  `io.quarkus.test.common.QuarkusTest

[2019-11-06 12:52] Ravisankar-Challa commented on #5247
@patriot1burke

[2019-11-06 12:59] sberyozkin commented on #3685
@belyaev-andrey thanks, good news (that this issue has been resolved), please open the one about `quarkus.security.users.file.realm-name`, thanks

[2019-11-06 13:09] dmlloyd commented on #5223
I guess I had a clipboard/brain malfunction.  I corrected the issue link.

[2019-11-06 13:22] #5172 closed

[2019-11-06 13:26] emmanuelbernard commented on #5206
So we could default to JSON if you add RESTEasy JSON but not sure that's an obvious choice.

[2019-11-06 13:28] Djela97 opened #5254 "Native Kafka SSL connection bug"
I think i covered everything in this question: https://stackoverflow.com/questions/58709700/is-kafka-ssl-connection-supported-in-native

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:

 - Output of `java -version`:

 - GraalVM version (if different from Java): 19.2.1
 - Quarkus version or git rev: 0.28.1

[2019-11-06 13:39] geoand commented on #5206
That seems to me to be the proper choice and in line with the useful defaults that Quarkus provides in other cases

[2019-11-06 13:41] gsmet commented on #5215
Let's close this one and reopen if the tests are still flaky.

[2019-11-06 13:41] #5215 closed

[2019-11-06 13:50] sberyozkin opened #5255 "HTTP Security Policy should support the role mappings"
**Description**
@michalszynkiewicz has discovered that Quarkus MP-JWT TCK does not run `RolesAllowedTest.testNeesGroup1Mapping` because it is part of the optional ee-security test group, but in fact it does not depend on the container supporting EE-Security, all it tests is that a container is able to map a role set in the token to the role listed in `@RolesAllowed`.

For example, given [this toke