[2022-09-05 09:34] kie-ci commented on #12486
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2990956550

[2022-09-05 09:57] #27635 closed

[2022-09-05 10:20] WesternGun commented on #8292
I think Optional is good, it can go well with property set put into test profiles as well as YAML. For example I need a set property, which can be

1. absent
2. only one value which is ""
3. several values

So in the code I put it as optional, and in test profile I use

1. configMap.put("key", null)
2. configMap.put("key", ""); // note here "[]" are not needed
3. configMap.put("key" "a,b,c,d")

wh

[2022-09-05 11:53] michalvavrik commented on #27609
I'll have a look provided no-one is working on this (?). Any preferences/requirements on impl. @sberyozkin ?

[2022-09-05 12:38] #26368 closed

[2022-09-05 13:08] gastaldi commented on #26368
@morphy76 The repository is now available in https://github.com/quarkiverse/quarkus-zookeeper-client

[2022-09-05 13:16] geoand commented on #27315
Furthermore, is this still an issue with Quarkus `2.12`?

[2022-09-05 13:19] #27039 closed

[2022-09-05 13:21] gastaldi commented on #27039
Repository created in https://github.com/quarkiverse/quarkus-wiremock, please check https://github.com/quarkiverse/quarkiverse/wiki/Checklist#after-the-repository-is-created about the next steps.

Enjoy!

[2022-09-05 13:29] languitar opened #27725 "Jackson ObjectMapper configuration broken if JsonObject.mapTo is used in test resource"
### Describe the bug

When using `JsonObject.mapTo` in the `start` method of a test resource, the object mapper used in the running Quarkus app in Quarkus tests is not configured properly. This can be shown with the jackson Kotlin module, which should be automatically loaded once the dependency is available. As soon as `JsonObject.mapTo` is used in the `start` method, the Kotlin module is not load

[2022-09-05 13:44] glefloch commented on #27511
Actually, I don't understand why this is working on maven. Dev services starts when configuration is missing.

However, in your `application.properties` file, you have configured an URL / username / password (https://github.com/bitxon/quarkus-gradle-failed-native-test/blob/main/gradle-project/src/main/resources/application.properties#L6-L8).

 If you remove those configuration, then dev service st

[2022-09-05 13:50] geoand commented on #27511
@glefloch  no, dev services should only kick in when no URL is provided

[2022-09-05 14:04] holly-cummins opened #27729 "Pact consumer-driven contract testing extension"
### Description

[Pact](https://pact.io/) is a widely-recommended framework for consumer-driven contract testing. Because Quarkus is optimised for microservices and consumer-driven contract tests are an important part of a microservices development workflow, Pact is particularly relevant for Quarkus.

## Why is an extension needed? Functional issues

Although it is possible to use Pact with Quarku

[2022-09-05 14:31] holly-cummins commented on #27729
That's my intention.

[2022-09-05 15:20] bitxon commented on #27511
@glefloch If we remove `quarkus.datasource.jdbc.url` -> nativeTest is working fine

[2022-09-05 15:23] geoand commented on #27511
That is the expected behavior

[2022-09-05 15:35] antssilva96 commented on #2303
Any updates on this ?

[2022-09-05 15:46] #18043 closed

[2022-09-05 16:28] rmanibus opened #27734 "flyway baseline-version has no effect"
### Describe the bug

After updating the config key quarkus.flyway.baseline-version: "2022.09.02.2", I was expecting newly created environments to use 2022.09.02.2 as first version (with migrate-at-start enabled).

It turns out that migrate-at-start does not execute the baseline operation and all migrations before 2022.09.02.2 are still executed.

### Expected behavior

first migration of newly cr

[2022-09-05 17:35] Sanne opened #27735 "Performance regression in RequestContext activations"
### Describe the bug

There is a performance regression caused by #27249 : the logging statements are allocating various `java.util.stream.SliceOps$1` and `byte[]` + `StringBuilder` to encode numbers as hex, capturing and  formatting the stacktraces.

These logging statements are protected by a check for TRACE being enabled, but it would seem the value of this is true at the point it's captured (d

[2022-09-05 18:50] #27570 closed

[2022-09-05 18:50] #27642 closed

[2022-09-05 18:50] #27643 closed

[2022-09-05 18:50] gastaldi commented on #27734
Do you also have `quarkus.flyway.baseline-on-migrate` set to true in your `application.properties`?

[2022-09-05 18:57] rmanibus commented on #27734
thank you @gastaldi I missed it.

However the description of this option is not very clear:

"Enable the creation of the history table if it does not exist already".

It does not really mention the baseline operation. so should I expect the baseline operation to be only executed if the bdd is empty ?

[2022-09-05 19:19] rmanibus commented on #27734
@gastaldi so the baseline-on-migrate simply enable baselineOnMigrate in flyway config.

the flyway doc mention that this option will trigger the baseline operation if it is executed against a non-empty schema with no metadata table.

So when you execute it against an empty schema, the baseline operation does not occurs.

[2022-09-05 19:22] gastaldi commented on #27734
So it seems to be a Flyway bug/feature? Nit sure if there is something we can do in the Quarkus side

[2022-09-05 19:30] rmanibus commented on #27734
@gastaldi yeah more a flyway feature.
Seeing what my projects looks like, I am regularly squashing old migrations into one new baseline, and old migration remains because they might still be needed by some existing environments.
For that use case it could be interesting to be able to specify a baseline version for newly created environment by just executing something like:
[code]

[2022-09-05 19:35] gastaldi commented on #27734
Hm, maybe this can be set here: https://github.com/quarkusio/quarkus/blob/main/extensions/flyway/runtime/src/main/java/io/quarkus/flyway/runtime/FlywayRecorder.java#L79 but I think it needs to be configurable, so it doesn't break any existing behavior.

WDYT @geoand ?

[2022-09-05 20:06] wmacibnc commented on #27705
Thanks!

[2022-09-05 20:17] holly-cummins commented on #27729
This should also have the "area/testing" label.

[2022-09-05 20:23] dmadunic commented on #27318
I have created a small test application, and it is available here: https://github.com/dmadunic/infinispan-quarkus-test

it has both gradle and maven build tools in it.

To reproduce the problem, after cloning the repo, first start infinispan server with the credentials admin/secret.

Now run the following command to start the app:
[code]

Once the app is up invoke the url: `http://localhost:8080/a

[2022-09-05 21:10] DMaxter commented on #27215
Are there any alternatives I can use to upload images then?

[2022-09-05 23:58] rmanibus commented on #27734
@gastaldi I can make the PR.
I have a working solution using a custom flyway sequence in a StartupEvent observer, but scheduled methods are firing before the end of this custom method, which is causing a lot of stacktrace in the logs

[2022-09-06 00:00] gastaldi commented on #27734
I am a bit unsure if we should modify the extension, it seems to be really specific to your use case, but maybe I am missing something

[2022-09-06 00:13] rmanibus commented on #27734
@gastaldi

It's really just about baselining new empty environment to avoid replaying a long history of migrations.
Over the time the growing amount of migrations in a project is causing a consequent overhead to each deployment.
For example without doing this, migrations ads up 1 minutes to the execution of the tests in my project.

also about my previous message,

Do you know if there is a lifecy

[2022-09-06 00:19] gastaldi commented on #27734
@rmanibus yes, you can register callbacks (https://quarkus.io/guides/flyway#quarkus-flyway_quarkus.flyway.callbacks) and listen for such events

[2022-09-06 00:22] gastaldi commented on #27734
Sorry, I misunderstood the question above, are you using the Quartz extension or simply scheduler?

[2022-09-06 00:27] rmanibus commented on #27734
@gastaldi I am using simple scheduler for now but I think using a flyway callback as you mentioned might work because migrate at start is executed before the scheduler is started. Thank you very much !

[2022-09-06 00:59] yazinnnn opened #27743 "Throughput of Resteasy Reactive's significantly decreased in 2.12.0.Final"
### Describe the bug

when i use 2.11.3.Final, the endpoint's throughput would be 410k rps

[code]

when upgrade to 2.12.0.Final, throughput would decrease to 46k rps

[code]

### what make this difference?

#### dependencies
[code]

#### test endpoint
`fun uni(): Uni<String> = Uni.createFrom().item("uni")`

#### cpu
intel 10400 6c12t

### Expected behavior

_No response_

### Actual behavior

_No

[2022-09-06 01:23] rmanibus commented on #27734
@gastaldi
It seems that org.flywaydb.core.Flyway bean cannot be accessed inside the callback because it is called during static init
(see the stacktrace bellow, I tried to access it with CDI.current().select(Flyway.class).get()).

So I will stick to the startup event observer for now but it is not really a proper solution.

[code]

[2022-09-06 04:19] geoand commented on #27705
🙏

[2022-09-06 04:35] rmanibus commented on #27734
@gastaldi sure I will take some time to work on it tomorrow !

[2022-09-06 05:15] geoand commented on #27743
Thanks for reporting.

That's a pretty extrordinary regression, I'll look into it ASAP

[2022-09-06 05:17] geoand commented on #27734
Yeah, that seems reasonable

[2022-09-06 05:36] geoand commented on #27743
I can confirm this, we have a massive performance drop.

[2022-09-06 05:39] #27735 closed

[2022-09-06 05:50] geoand commented on #27743
This was actually picked up by us as well yesterday and fixed in https://github.com/quarkusio/quarkus/pull/27736. The fix will be part of `2.12.1.Final`

[2022-09-06 05:50] #27743 closed

[2022-09-06 05:56] geoand commented on #27215
See my comment above.

[2022-09-06 05:58] mkouba commented on #27735
Do we know why this actually happens?

[2022-09-06 06:32] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/2997737158

[2022-09-06 06:46] yazinnnn commented on #27743
Thanks a lot！

[2022-09-06 06:47] geoand commented on #27743
💪🏼

[2022-09-06 06:48] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2997770192

[2022-09-06 07:19] #27430 closed

[2022-09-06 07:24] loicmathieu commented on #2303
@antssilva96 no update on it, you can see https://github.com/quarkusio/quarkus/issues/8136 that tries to sum up all the ideas around dynamic query support in Panache.

I open a discussion on Zulip as I think we need to move forward or decide to close all these issues: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Panache.20dynamic.20query

[2022-09-06 07:26] glefloch commented on #27511
Ok, I will close this one then.

[2022-09-06 07:26] #27511 closed

[2022-09-06 07:47] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/2997770192

[2022-09-06 07:54] karesti commented on #804
This is already done

[2022-09-06 07:54] #804 closed

[2022-09-06 08:18] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/2997739601

[2022-09-06 08:19] Saladoc opened #27746 "Make Path annotation content configurable from properties"
### Description

With Spring MVC, it is possible to use placeholders with Path configurations. In `@RequestMapping("${myapp.path}")` the placeholder will be replaced with the myapp.path property.

When looking for a similar feature in Quarkus (or really any feature to dynamically configure the path of a specific endpoint) I was informed that currently no such feature exists in quarkus.

### Implem

[2022-09-06 08:39] ctron commented on #7414
Is there a link to some blog post now? I have the same issue.

[2022-09-06 08:51] lazystone commented on #25680
It's probably not a bug - I had the same message in my tests and I realized that it's the client part which throws this when tests are being shut down.

You probably need to define `.onFailure` on one of the `Multi`'s:

[code]

[2022-09-06 08:56] Sanne commented on #27735
I don't know exactly, sorry. Only remembered similar issues we had in the past - would be great to make it easier to catch such a mistake - it's very misleading and clearly anyone could fall it into.

[2022-09-06 08:56] lazystone commented on #25680
`io.quarkus.grpc.stubs.ClientCalls` should most probably have `onFailure` defined for created emitters.

[2022-09-06 09:01] fazeem84 commented on #26250
@brunobat Any update on this?
@patriot1burke
Please find the answers to your queries
Is there any stack trace or warning?
No Exception stack trace is logged into cloud watch
Is the telemetry server visible to the lambda?
yes, lambda is able to communicate with telemetry if we switch run time environment to NodeJS or Java

[2022-09-06 09:31] sberyozkin opened #27749 "Keycloak Reactive Admin Client code which depends on comparing Response.StatusType does not work"
### Describe the bug

Reported by the user, for example the comparison in this code always returns `false` because `org.jboss.resteasy.reactive.common.jaxrs.StatusTypeImpl` does not implement `equals`:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -versio

[2022-09-06 09:40] sberyozkin opened #27751 "Support injecting RUNTIME_INIT configuration to RESTEasy Reactive filters"
### Description

Currently it is not possible to have features depending on RESTEasy Reactive filters configured at run time as pointed out in #27726.

IMHO it is a serious restriction and hopefully it is possible to enhance it.

CC @geoand

### Implementation ideas

_No response_

[2022-09-06 09:41] geoand commented on #27751
Although it's not ideal, it's not so big of a restriction in practice - it has never come up until now

[2022-09-06 09:46] sberyozkin opened #27752 "Make it possible to have non-static SecureRandom in RESTEasy Reactive filters"
### Description

Declaring a `SecureRandom` instance variable in a RESTEasy Reactive filter causes a native build failure - therefore the implementations have to create it during the request processing which can be expensive.

Please investigate if the way RESTEasy Reactive filters are created can be changed to support it

CC @geoand

### Implementation ideas

_No response_

[2022-09-06 10:00] sberyozkin opened #27753 "`quarkus-oidc` loses a refresh token if the provider does not recycle it during the refresh token grant"
### Describe the bug

`quarkus-oidc`, once it completes the code flow, keeps ID, access and refresh tokens concatenated in a single cookie or split into 3 separate cookies. The lifetime of all of these cookies is set to the age of the ID token plus some extra configurable duration.
If the session is about to expire and `quarkus-oidc` is allowed to auto-refresh it then it will use the refresh token

[2022-09-06 10:05] sberyozkin commented on #27751
@geoand May be it means the users have not started yet building features which depend on configurable reactive filters.
#27726 is a concrete feature which won't be possible to change at run time, so not sure what you mean by `it's not so big of a restriction in practice`

[2022-09-06 10:08] sberyozkin commented on #27751
@geoand I have a feeling #27752 is actually related - as it seems both issues stem from the fact that filters are created at the static init time. Have a look please, a single tweak might get both issues addressed

[2022-09-06 10:15] geoand commented on #27751
@sberyozkin we can't do that. The entire RESTEasy Reactive Deployment is done at build time by design

[2022-09-06 10:34] sberyozkin commented on #27751
@geoand Sure - by the design ideas can be revisited, right ? Can we at least think of the possible options how to handle such an enhancement request ?

Users do want to change configuration properties at runtime and therefore the features which depend on reactive filters will have an adoption problem as in practical cases the users often want to tweak things at runtime. FYI, `OidcClientReactiveFil

[2022-09-06 10:40] geoand commented on #27751
Not without serious implications. The way I see it, this use case does not warrant such a drastic change.

From the user's point of view, configuration will work just fine. What does not work from what you showed is the injection of Quarkus configuration.

Furthermore, no user has ever reported such an issue, so my feeling is that only people with really deep integrations (such as yours) will run

[2022-09-06 10:50] sberyozkin commented on #27751
@geoand

I don't really think that was the real problem, one just can't configure a filter with a runtime init property, which way one supplies it.

What `deep integration` you are referring to - this is a straightforward feature which just needs to be configured

Sigh. May be I can get you explaining eventually `why`. And it is really related, which handler to use since neither one can be configu

[2022-09-06 10:57] tsaarni commented on #15926
It is now possibel to implement hot-reload on the application side. Check #27481 and #27682.

[2022-09-06 11:03] geoand commented on #27751
Not true. What users want to do inject their own configuration properties and doing something like:

[code]

works perfectly and will output whatever the runtime value of `my.property` is.

My point is the same as above. You are trying to integrate the Quarkus config system into this - this is not what a user will do.

I have since walked back my statement that lead to this - although the filter i

[2022-09-06 11:13] sberyozkin commented on #27751
@geoand

Right, see your point.

Yes, I ignored this one. As I said in the PR which led me to opening this issue, I have 8 configuration properties - but I think listing 8 properties in the constructor wins if it will get that feature the RUNTIME_INIT config capability.

Close this issue please if you prefer...

[2022-09-06 11:15] sberyozkin commented on #27752
Georgios, IMHO it is still a serious enough restriction...

[2022-09-06 11:21] geoand commented on #27751
Users would likely use `@ConfigMapping` for this. But I just saw that this won't work... So I'll leave the issue open

[2022-09-06 11:21] geoand commented on #27752
It may be, but I don't want to address it unless there is an actual need for it.

[2022-09-06 11:51] cristianonicolai commented on #12486
@fjtirado io.quarkus.restclient.runtime.RestClientBuilderFactory is getting broken due to changes on https://github.com/quarkusio/quarkus/commit/67daca9f1276262c9d1db9716aefc0ce0e0cb710

[2022-09-06 12:20] ia3andy commented on #9895
@radcortez why is this completed?

[2022-09-06 12:24] radcortez commented on #9895
We had some pushback in https://github.com/quarkusio/quarkus/pull/12841.

[2022-09-06 12:43] sberyozkin commented on #27752
@geoand Well, #27726 shows a concrete requirement (see the current request filter implementation). Does it count or it has be reported by real users :-) ?

[2022-09-06 12:59] vietj commented on #26937
@jsorah can you provide a similar behavior with a vanilla Resteasy application (that uses Vert.x) and the VertxInputStream ? that would help a lot

[2022-09-06 13:07] ia3andy opened #27760 "Some Quarkus mode are enforcing a specific profile making it impossible to use another config profile"
### Describe the bug

I am trying to use remote dev mode on openshift, I have a specific profile for openshift named `openshift`.

When I activate remote dev mode, `dev` profile gets activated breaking the configuration which needs the `openshift` profile to work.

### Expected behavior

Have both `dev` and `openshift` profiles enabled when it was used at build time or when it is set with `quarkus

[2022-09-06 13:08] ia3andy commented on #27760
cc @radcortez @dmlloyd

[2022-09-06 13:25] geoand commented on #27752
I'll take a look sometime soon

[2022-09-06 13:32] sstefano commented on #27630
I have the same issue with the latest version of quarkus 2.12.0 + RESTEasy Reactive so, we need to wait for the next release, is it correct?

[2022-09-06 13:42] tarsij opened #27761 "In native mode a static instance cannot load resources as the resource url references a jar in the path"
Hey there,

Looks like when an object is instantiated as static then the object or any objects instantiated by it are not able to load resources.

If I instantiate the object as non static, the resource URL looks like this:

     resource:/diagram-interchange-dish-example.dmn

If I instantiate it as static, then the resource URL looks like this:

     jar:file:/project/quarkus-bug-1.0-SNAPSHOT-run

[2022-09-06 13:44] gsmet commented on #27630
We have a 2.12.1.Final planned for tomorrow. I will check if I can backport the SmallRye Config upgrade.

[2022-09-06 13:53] mkouba commented on #27751
@sberyozkin FYI you can try to use programmatic lookup to inject the root configuration beans and obtain the instance lazily, i.e. instead of `@Inject HttpConfiguration config` just do `@Inject Instance<HttpConfiguration> config` and then `config.get().port`. This way the configuration bean is obtained lazily when needed.

[2022-09-06 13:57] geoand commented on #27751
This does seem a bit problematic, so I'll have to spend more time on (when I do have some that is)

[2022-09-06 14:12] smil2k opened #27762 "Reactive native returns "400 bad request" in case of bean params with template parameters"
### Describe the bug

In case the beam param has template type quarkus fails without proper error.
Rest easy classic was working fine.

### Expected behavior

400 bad requests should be throwing some kind of hint into the log + it should work as before.

### Actual behavior

Error

### How to Reproduce?

Compile the attached test: classic works or type parameters removed.
[resteasy-reactive-proble

[2022-09-06 14:31] wjglerum opened #27763 "Incorrect Devservices config generated for Keycloak with Testcontainers Cloud"
### Describe the bug

When using Devservices for Keycloak with Testcontainers Cloud an incorrect config is generated. The detected port mapping is correct, however the injected urls contain the wrong port.

<img width="2048" alt="image" src="https://user-images.githubusercontent.com/7404187/188660631-ef314c99-a87d-4e80-9ee8-e760cdffd413.png">

The port `65299` is detected in the port mappings, how

[2022-09-06 14:32] wjglerum commented on #27763
I'm happy to help out and dig further into this btw. Where would I find the parts where the config is generated for the devservices? And does this differ for Keycloak?

[2022-09-06 14:37] sberyozkin commented on #27752
@geoand It is not a major issue for now, I agree, take your time please. In the #27726 case, the random value would really be expected in practice on specific request paths, those returning HTML forms, not for all GETs, so the cost would not be great unless the app has a real lot of users

[2022-09-06 14:45] gsmet commented on #27763
@wjglerum the culprit will probably be in KeycloakDevServicesProcessor. It's where the config is adjusted.

[2022-09-06 14:45] bsideup commented on #27763
I believe this is the issue:
https://github.com/quarkusio/quarkus/blob/83e79914bc23d2cb446bd852ef72e31cd9920826/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservices/keycloak/KeycloakDevServicesProcessor.java#L403
https://github.com/quarkusio/quarkus/blob/83e79914bc23d2cb446bd852ef72e31cd9920826/extensions/oidc/deployment/src/main/java/io/quarkus/oidc/deployment/devservic

[2022-09-06 15:02] sberyozkin commented on #24833
@VanillaSpoon Hey, np at all, thanks for the update. Welcome @biswassri

[2022-09-06 15:28] wjglerum commented on #27763
@geoand would you have more insights for this and how to proceed? As I see that you worked on those bits.

[2022-09-06 15:29] geoand commented on #27763
I'll try and have a look tomorrow and let you know, but I can't make any promises

[2022-09-06 15:33] wjglerum commented on #27763
Thanks! I'll have another look tomorrow too.

[2022-09-06 16:28] n1hility commented on #27448
Your welcome, this will be part of the podman 4.2.1 release, which will be shipping soon. Closing since there is completed.

[2022-09-06 16:28] #27448 closed

[2022-09-06 17:07] sberyozkin commented on #27751
@mkouba Thanks for the idea, sounds promising, let me do a quick try

[2022-09-06 17:19] famod commented on #9895
TBH, I'd love to see the pushback being pushed back! 😉

@ia3andy are you going to open a new issue?

[2022-09-06 17:22] sberyozkin commented on #27751
@mkouba, @geoand, Guys, it works perfectly, see  https://github.com/quarkusio/quarkus/pull/27726/commits/287f884901aca9c95e93db69adf4a3f576e17712, I believe this issue can definitely be closed now as invalid, what do you think ?

[2022-09-06 17:22] ia3andy commented on #9895
I created https://github.com/quarkusio/quarkus/issues/27760

[2022-09-06 17:25] geoand commented on #27751
I'd say let's keep it open as I want to explore alternatives

[2022-09-06 17:54] sberyozkin commented on #27751
Sure, sounds good (before I saw Martin's comment, I was wondering if a build time resteasy reactive property can be introduced which can tell it when to init the filters - so the most optimized way is done by default per the original design, but can be tweaked if necessary with a single property - sorry if it sounds silly :-)). And thanks Georgios for bearing with me today :-)

[2022-09-06 17:57] geoand commented on #27751
👌

[2022-09-06 18:08] rmanibus commented on #27734
@gastaldi here is the reproducer: https://github.com/rmanibus/quarkus_27734

[2022-09-06 18:53] #27259 closed

[2022-09-06 19:23] ricardozanini commented on #27448
@radtriste cc

[2022-09-06 20:08] spolti commented on #26931
@gsmet hi, about native mode, what is the recommended way to have it at static_init?
With
[code]

it seems that the bean is not validated and no constraint violations are thrown.

Any idea?

[2022-09-06 21:21] GavinRay97 commented on #20037
Just to throw my hat in the ring:

Product I work on supports queries across a variety of databases
In tests, that's no problem because I have `QuarkusTestResourceLifecycleManager` for each database type that spin up a `TestContainer`

But if I want to hand-test the app, and interact with it outside of tests, then I can't re-use those services and have them spun up and started as part of `quarkusD

[2022-09-07 01:41] gastaldi commented on #27734
@rmanibus I have a fix in https://github.com/quarkusio/quarkus/pull/27770 but your callback gives the following error:

[code]

[2022-09-07 01:50] rmanibus commented on #27734
@gastaldi Thank you very much.
Since the interceptor is called inside the migrate method, my guess is that flyway create the table before calling the lifecycle hook.

[2022-09-07 02:15] fabrii commented on #4644
Hi! I did some testing related to this discussion https://github.com/quarkusio/quarkus/discussions/27657

Can confirm that with [27666 ](https://github.com/quarkusio/quarkus/pull/27666) PR the Hibernate5Module works correctly. Lazy collections are not serialized and no exception is thrown.

Can confirm that @jayfray12 workaround also works.

[2022-09-07 02:55] cristianonicolai commented on #12486
@TomasHofman would it be possible to revert some of the method visibility changes in `RestClientBase.java` regarding `configure*`, so it allows us to continue to work with different Quarkus versions. If you make it package visible, it would already be enough for our use, instead of private.

[2022-09-07 03:37] phillip-kruger commented on #27628
I am going to revert this fix, as it's causing some other problems. For now use the workaround as described, until I can find another way...

[2022-09-07 04:05] stuartwdouglas commented on #20037
So there are a couple of issues with QuarkusTestResourceLifecycleManager:
- Dev Services are started once at launch, these test resources are started and stopped after each run
- This is because the classes need to reloaded after each run, so the resource that runs each time is actually  a different `Class` in a new ClassLoader.
- Even if we ignored this the `inject` method is problematic and woul

[2022-09-07 06:58] #27022 closed

[2022-09-07 06:58] #27375 closed

[2022-09-07 07:29] gsmet opened #27773 "Too many levels of RuntimeException nesting on BuildException"
It doesn't happen always but we are nesting original exceptions into RuntimeExceptions far too aggressively in some cases.

We should probably clean this up and remove the ones that don't have a proper message by special casing RuntimeExceptions to rethrow them without any additional wrapping.

[code]

[2022-09-07 07:55] csmuller commented on #27459
@loicmathieu I'm having the same problem as OP when using the devservices. I guess the devservices spins up a standalone instance. So, having it spin up a single-node replica set would be much appreciated.

[2022-09-07 08:39] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3005250502

[2022-09-07 08:42] #4644 closed

[2022-09-07 08:45] tarsij opened #27775 "In AWS Lambda the constructor is invoked for every invocation"
### Describe the bug

When creating a native quarkus aws lambda, the constructor is invoked for every handler invocation.
That is a problem as the subsequent handler calls won't benefit of the pre-initialised instance.

In the standard lambda implementations the constructor is used to do pre-initialisations like loading some resources or opening connections. The subsequent calls for a warm instanc

[2022-09-07 09:00] tarsij opened #27777 "In native mode a static instance cannot load resources as the resource URL references a jar in the path"
### Describe the bug

When an object is instantiated as static then the object or any objects instantiated by it are not able to load resources.

If I instantiate the object as non static, then when the object tries to load a resource, the resource URL looks like this:

    resource:/diagram-interchange-dish-example.dmn

If I instantiate the same object as static, then the resource URL looks like

[2022-09-07 09:15] loicmathieu commented on #27459
@csmuller I checked and testcontainers MongoDBContainer which is used by our devservices do start a single instance replicaset and do support transactions (at least with version 4.4).

So using devservices, transactions will be possible. I'll review our documentation but as devservices is the prefered way to run MongoDB on dev mode and test and it setup a one instance replicaset I consider this is

[2022-09-07 09:49] csmuller commented on #27459
@loicmathieu Thanks for the speedy answer. Indeed, it worked with the `mongo:4.4` docker image.
Using a mongo version starting at 6 fails, because the MongoDBContainer expects the "old" `mongo` cmd line tool but should use the new `mongosh`.
Just mentioning that here for completeness. Not something that Quarkus has control over.

[2022-09-07 10:07] Sgitario commented on #27762
This issue is not only happening in Native, but also in JVM mode. It's a known issue, already reported by https://github.com/quarkusio/quarkus/issues/23592. Using the latest Quarkus, it does not fail, but it returns bad request.

[2022-09-07 10:10] tarsij commented on #27761
I'm closing this as I reopened it as a bug

[2022-09-07 10:10] #27761 closed

[2022-09-07 10:17] holly-cummins opened #27778 "Misleading 'unrecognized configuration' warnings for quarkus.debug.transformed-classes-dir and quarkus.debug.generated-sources-dir"
### Describe the bug

https://quarkus.io/guides/writing-extensions suggests the following debug options:

All of the options produce the expected output, but there are warnings in the log for the transformed classes and generated sources options (but not the generated classes):

[code]

I can't see any different handling in the code for the three options, so I'm not sure why one doesn't get a warn

[2022-09-07 10:53] loicmathieu commented on #27459
@csmuller this should be discussed with the testcontainers team, maybe open an issue in their repository.

[2022-09-07 11:13] gsmet commented on #24603
In the end, we didn't use this so let's close it.

[2022-09-07 11:13] #24603 closed

[2022-09-07 11:27] geoand commented on #27762
I wonder if https://github.com/quarkusio/quarkus/pull/27526 already handles this as I remember @FroMage mentioning he fixed something along these lines

[2022-09-07 11:40] geoand commented on #27777
This is actually the expected behavior as all statically reachable code is "frozen" at native image build time.

To make your code work, you need to write a GraalVM substitution that resets the fields.
An example of such a substitution can be found [here](https://github.com/quarkusio/quarkus/blob/c78351e2d18b695c5519b84bc4e8abc2f0749c78/extensions/netty/runtime/src/main/java/io/quarkus/netty/runti

[2022-09-07 11:40] #27777 closed

[2022-09-07 11:47] loicmathieu commented on #27459
@dhoffer as a single MongoDB instance can be setup as a replicaset and this is what our devserices provides can we close this issue ? I updated the documentation to better describe this, see #27781

[2022-09-07 11:55] patriot1burke commented on #27775
Put `@ApplicationScoped` on your lambda class

[2022-09-07 12:04] Sgitario commented on #27762
I've just confirmed that this is still not working after using the changes in #27526

[2022-09-07 12:05] geoand commented on #27762
Okay, thanks for checking

[2022-09-07 12:40] matusfaro commented on #27362
In a very similar position, I am trying to convert an existing tool based on the getting started guide. Running with `-X` gives a few more details:

[code]

[code]

In addition to the same error as OP:

[code]

[2022-09-07 12:46] #27749 closed

[2022-09-07 13:05] zakkak opened #27784 "Stop relying on `native-image`'s`-H:` options"
### Description

`native-image` options starting with `-H:` are internal and subject to change without notice. As a result we should avoid using them where possible.

Quarkus currently uses the following options:

[code]

Relates to #25943

### Implementation ideas

Some of these can be replaced with their respective `--` prefixed option (which is done in https://github.com/quarkusio/quarkus/pull/

[2022-09-07 13:16] famod commented on #25706
@gsmet FYI, i saw you adding that rr-move label, so I added it here as well (as it does block the move to rest-client-reactive for my current project).

[2022-09-07 13:42] cescoffier opened #27785 "Integrate Redis with the Quarkus Cache"
### Description
Allows to use Redis instead of Caffeine with the Quarkus Cache extension.

[2022-09-07 14:12] pantaoran commented on #12120
@cescoffier How has this been fixed? I'm using the latest version of Quarkus with the `quarkus-kafka-streams` dependency, and my logs are still full of these warnings when I'm running unit tests with the `TopologyTestDriver`. Do I need to configure something to make those go away?

[2022-09-07 14:57] tarsij commented on #27775
Hi patriot1burke,

Thanks a mill for your answer.
In this case there's another small bug.
On the first run the Constructor is invoked twice.
I've left a logging in the constructor to test the behaviour. I see the log appearing twice (both in my tests and on aws as well).

For subsequent calls it is not invoked anymore, so that is indeed sorted.

One more note.
If this is the expected solution, the

[2022-09-07 15:06] tarsij commented on #27777
Hi @geoand,

Thanks a mill for your answer.
Will try the solution you mentioned.

Though I'm surprised this is the expected behaviour. Why is it expected to have a wrong resource URL?
I have no issues with having everything "frozen" for statically reachable code. My problem is when the statically reachable code is generated the resource URL is not translated to the native resource path.
The static

[2022-09-07 15:14] geoand commented on #27777
Yeah, I completely see your point, it's definitely not intuitive behavior - I actually wonder if GraalVM could detect this - @zakkak any idea?

[2022-09-07 15:15] OscarRL commented on #27005
Still happens on 2.12.0.Final

[2022-09-07 16:18] tarsij commented on #27777
@geoand this might seem like a noob question but which lib contains the annotations?
Looks like they were removed from

      <dependency>
        <groupId>org.graalvm.nativeimage</groupId>
        <artifactId>svm</artifactId>
        <version>22.2.0</version>
        <scope>provided</scope>
      </dependency>

[2022-09-07 16:33] geoand commented on #27777
@zakkak can give you all the info about to the latest changes

[2022-09-07 16:51] geoand commented on #26187
This is a pretty weird issue - I was able to track down the root cause (I'll write it up later).

Now I need to see how it can be addressed

[2022-09-07 16:53] jerboaa opened #27791 "JPAFunctionalityInGraalITCase.verifyJdkXmlParsersHavebeenEcludedFromNative test fails with GraalVM 22.3.0-dev"
### Describe the bug

This last worked with quarkus revision 4f53bdd6f377edcc783e3a91b3ea3e24794cfc81. So some change between 4f53bdd6f377edcc783e3a91b3ea3e24794cfc81 and bc451819b26ba4a084349ebdac3532e732b618ae caused this issue to appear.

When running the `jpa-postgresql` integration test in native mode with a recent [GraalVM 22.3 dev build](https://github.com/graalvm/graalvm-ce-dev-builds/rele

[2022-09-07 17:01] cescoffier commented on #27785
For the record, I started discussing this with @gwenneg and started working on it (between other tasks)

[2022-09-07 17:14] geoand commented on #25981
@famod ^

[2022-09-07 17:21] geoand commented on #27763
So you seem to have something working, no?

[2022-09-07 21:04] #27773 closed

[2022-09-07 22:25] MarcAntoine-Beauvais opened #27797 "Jackson property extension accept-case-insensitive-enums doesn't work"
### Describe the bug

When using property
`quarkus.jackson.accept-case-insensitive-enums=true`

It should ignore case during Enum deserialization but it doesn't.

### Expected behavior

It should ignore case during Enum deserialization.

### Actual behavior

404 Not Found when trying to pass enum not matching the case

### How to Reproduce?

https://github.com/MarcAntoine-Beauvais/4j-template-quar

[2022-09-08 04:06] querdenker2k opened #27800 "Memory Leak when using PlatformLogger"
### Describe the bug

When the PlatformLogger is used there will be left empty LoggerWeakRef instances of JBoss logging. This causes a memory leak.
This regards to all usages of PlatformLogger, as well these which are implicit in internal java classes. For me there is a memory leak in nearly every Quarkus application.

### Expected behavior

The instances should not be there.

### Actual behavior

[2022-09-08 04:35] galderz commented on #27735
There was a slightly similar issue with Infinispan and other middleware projects, that cached TRACE enabled into static final variables. These would be turn out to be true at native executable runtime, even if they were built with TRACE disabled. The case here seems slightly different since caching the value of TRACE enabled is done on an instance variable rather than static variable, but maybe th

[2022-09-08 05:35] TheBlindM opened #27801 "Sorry, acquisition timeout! when using Sqlite"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

quarkus.datasource.jdbc.max-size=1
quarkus.datasource.jdbc.initial-size=1

When I increase the max-size, there will be a database lock,When max-size is 1, Sorry, acquisition timeout

code:
![image](https://user-images.githubusercontent.com/48701152/189042376-0b7353c9-9e7b-45f8-99b6-e0bd0a579fbd.png)

### How t

[2022-09-08 06:07] geoand commented on #27797
Although I understand why one would think this is a bug, but it's actually really not.

Jackson is only used to convert the HTTP request **body**, not the various parameters (like query in this case). Those are handled differently as per the JAX-RS spec (see section `3.3.2` of [this](https://download.oracle.com/otn-pub/jcp/jaxrs-2_1-final-eval-spec/jaxrs-2_1-final-spec.pdf?AuthParam=1662617310_9ba

[2022-09-08 06:07] #27797 closed

[2022-09-08 06:12] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3012673186

[2022-09-08 06:43] geoand commented on #27800
cc @dmlloyd @jamezp

[2022-09-08 06:44] #23592 closed

[2022-09-08 06:44] #27762 closed

[2022-09-08 06:49] yrodiere commented on #27801
I'd certainly expect acquisition timeouts with such a configuration. A database connect pool of size 1 is bound to cause problems, be it just because we sometimes need to open a secondary connection in Hibernate ORM to retrieve IDs outside of a transaction (with some DB vendors).

IMO you problem is more likely this, and that's where you should focus your efforts:

Anyway, I'm sorry but we don't h

[2022-09-08 06:49] #27801 closed

[2022-09-08 06:51] #27669 closed

[2022-09-08 07:17] #26420 closed

[2022-09-08 07:18] #25423 closed

[2022-09-08 07:56] geoand commented on #27725
We could theoretically reset the `mapper`. Currently it would be safe as the codec initialization is not triggered, but there is no telling that it won't happen in future (for example if we load the `Json` class anywhere in the startup code), so I am not really sure about it

[2022-09-08 08:00] cescoffier commented on #25680
The problem is that the client should pass an `onFailure` callback to the subscription:

[code]

Without the failure callback, the error is captured by Mutiny and reported as mentioned in the description.

When the server stops, we cannot consider it the stream's end. It's not, it's an abrupt cut in the communication.

[2022-09-08 08:03] #27578 closed

[2022-09-08 08:05] geoand commented on #27735
@aldettinger, the regression happens with any kind usage of RESTEasy Reactive. We have not tested RESTEasy Classic, but it is likely affected as well.

[2022-09-08 08:38] rsvoboda opened #27803 "Kotlin - unrecommended usage of private members warning for public field injection"
### Describe the bug

Kotlin - unrecommended usage of private members warning for public field injection

[code]

Equivalent java code has no warning.

Another example are quarkus quickstarts - `mvn clean package -DskipTests -pl hibernate-orm-panache-kotlin-quickstart,hibernate-orm-panache-quickstart`

CC @mkouba

### Expected behavior

No warning

### Actual behavior

Found unrecommended usage of

[2022-09-08 08:41] aldettinger commented on #27735
Ok, that's interesting to know. Many thanks @geoand .

[2022-09-08 08:41] geoand commented on #27735
👍🏼

[2022-09-08 08:55] brunobat commented on #27785
I once implemented a cache for Quarkus in Redis, @cescoffier, @gwenneg.
It would be nice if we could create an API and extract Cafeine from the current Quarkus cache project and make it pluggable, add you own cache provider, being Cafeine, Redis, etc...

[2022-09-08 09:11] csscriptplus commented on #27382
@zakkak a Kubernetes pod with Docker environment does not work for me, because the Kubernters cluster does not have a Docker environment. I have now created a Docker container with local Mandrel environment.

**application.properties:**
- quarkus.log.level=INFO
- quarkus.http.host=0.0.0.0
- quarkus.http.cors=true
- quarkus.smallrye-jwt.enabled=true
- mp.jwt.verify.publickey.location=publicKey.pem

[2022-09-08 09:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3012674369

[2022-09-08 09:43] yrodiere commented on #27801
I have absolutely no idea how MyBatis works. But using a connection pool with only 1 connection is a very bad idea in general, so I doubt switching to MyBatis will solve anything in the long run.

[2022-09-08 09:58] iriikoad commented on #12457
In Quarkus 2.11.3, I see in FormAuthenticationMechanism, method 'authenticate';
[code]
And this line is forcing the use of FormAuthenticationMechanism instance, not the custom one. So it is not using our method 'getChallenge'.

I fixed this with:
[code]

[2022-09-08 09:59] kiview commented on #27763
I am a little bit out of the loop, but can't Quarkus make use of this existing Keycloak module?
https://github.com/dasniko/testcontainers-keycloak

It is not part of the bundled Testcontianers modules at this point, but @dasniko is an active member of the Testcontainers community, and his implementation does not use fixed ports.

[2022-09-08 10:02] iriikoad commented on #12457
Note: you may have to fix this also as 'getCredentialTransport()' is deprecated:
[code]

[2022-09-08 10:26] geoand commented on #27763
That's a fair question. I personally don't know, but it's definitely worth exploring

[2022-09-08 10:46] rsvoboda commented on #26187
Vert.x component issue - https://github.com/eclipse-vertx/vert.x/issues/4473

[2022-09-08 10:47] languitar commented on #27725
At least the behavior now is pretty confusing. If the Vertx JsonObject should only be usable from within a running Quarkus  application, then it would probably best to throw an IllegalStateException in cases where it is used outside.

[2022-09-08 10:51] geoand commented on #27725
Yeah, that would be nice, but it shifts the problem to detecting those cases 😉

[2022-09-08 10:59] knutwannheden commented on #26776
@radcortez Looking at the implementation it seems like now the span name will always just be `HTTP <METHOD>` and never actually include the route. Further, since `ServerAttributesExtractor#route(HttpRequest)` always returns `null`, there will also not be any `http.route` attribute set on the span. To me this seems wrong. The way I interpreted this issue, the request was to only omit the route for

[2022-09-08 11:26] geoand commented on #27803
Does the same happen if instead of

[code]

you use

[code]

?

[2022-09-08 11:28] #27717 closed

[2022-09-08 11:28] #26711 closed

[2022-09-08 11:43] privetpoka commented on #27265
Hello. I am experiencing similar issue as @liuzhaozhao described. It happened once I update quarkus version from 2.9.2 to 2.11.2 (also with 2.12.0).
Any idea about how to overcome this issue?

[2022-09-08 11:51] zakkak commented on #27382
@csscriptplus does the same application work locally and only fail on the CI/CD environment?

Have you tried running the native image on a local machine instead of a kubernetes cluster?

[2022-09-08 11:57] TomasHofman commented on #12486
@cristianonicolai sure, I will open a PR.

[2022-09-08 12:09] gsmet opened #27807 "Jakarta - EE 10 - RestClientExceptionTest.testExceptionCaught failure"
With the current state of `jakarta-rewrite` (for more information, see https://github.com/quarkusio/quarkus/tree/main/jakarta#build-locally), we have the following failure:

[code]

My guess is that a behavior has changed in RESTEasy but I want us to get more details about what is exactly going on before involving James Perkins.

[2022-09-08 12:10] #27637 closed

[2022-09-08 12:11] gsmet opened #27808 "Jakarta - EE 10 - SmallRye Metrics test failure"
Since the upgrade to RESTEasy 6.1, we have a failure in the following SmallRye Metrics test in the `jakarta-rewrite` branch (for more information, see https://github.com/quarkusio/quarkus/tree/main/jakarta#build-locally):

[code]

My guess is that a behavior has changed in RESTEasy but I want us to get more details about what is exactly going on before involving James Perkins.

[2022-09-08 12:16] Sanne commented on #27801
Hibernate can also (theoretically) work fine with a single connection; the problem specifically is the use of sequence emulations: this does require at least two connections. I don't know for sure about MyBatis but I suspect you'd have the same issue as the sequence needs to be acquired within a parallel, independent scope.

So either use a larger amount of connections or avoid using sequences.

[2022-09-08 12:16] gsmet opened #27809 "Jakarta - EE 10 - AWT test failures"
Since the upgrade to RESTEasy 6.1, AWT tests for `ImageDecodersTest#testComplexImages` are failing in the jakarta-rewrite branch (for more information, see https://github.com/quarkusio/quarkus/tree/main/jakarta#build-locally):

Typically in integration-tests/awt which makes use of multipart to upload images (in JVM mode):

[code]

Also, the tests are failing in `integration-tests/no-awt` but only

[2022-09-08 12:22] gsmet commented on #27808
@jmartisk could you have a look at this failure? It's working with current RESTEasy and IIRC it was working with RESTEasy 6.0 too. So my guess is that there's a change of behavior in RESTEasy 6.1 that we need to spot.

[2022-09-08 12:26] gsmet commented on #27807
@Sgitario I wonder if you could have a look at that one and try to understand the change of behavior in RESTEasy 6.1?

[2022-09-08 12:27] gsmet commented on #27809
@Karm as mentioned in the description, I suspect a problem in RESTEasy but I think we need more details to understand what exactly is not working and what makes the tests fail.

[2022-09-08 12:35] jmartisk commented on #27808
I'll double check it, but my suspicion is that it might have been a change where a `ContainerResponseFilter` is now called for responses that had an unmapped exception, which didn't happen before?! This looks suspicious: https://issues.redhat.com/browse/RESTEASY-3097

[2022-09-08 12:41] gsmet commented on #27808
@jmartisk btw, https://github.com/quarkusio/quarkus/issues/27807 might be related to this one.

[2022-09-08 13:06] jerboaa commented on #27382
@csscriptplus The issue you are observing looks to me the GraalVM equivalent of: https://bugs.openjdk.org/browse/JDK-8272124

Could you please create a native-image issue and tag me? I will try to fix it.

As a work-around, you could pass `-Dquarkus.native.additional-build-args=-H:-UseContainerSupport` when building the native image.

[2022-09-08 13:08] jerboaa commented on #27382
Anyway, it's not a quarkus issue and we should close this.

[2022-09-08 13:10] #27382 closed

[2022-09-08 13:11] sberyozkin commented on #27698
@sag1 I've opened #27811 as we need to fix it for 2.13.0.CR1, thanks for reporting the problem

[2022-09-08 13:16] brunobat opened #27812 "Upgrade quarkus-arquillian to use JUnit 5"
### Description

The quarkus-arquillian extension is still using the old JUnit 4 framework.
Most usages are under the tcks.
It's getting outdated because It seems that MP is trying to move towards Junit, starting that after MP 6.0.
Also, MP Telemetry tracing is based on JUnit 5.

### Implementation ideas

_No response_

[2022-09-08 13:18] mkouba commented on #27229
I'm going to close this one because I was not able to reproduce any of the problems after https://github.com/quarkusio/quarkus/pull/27497 and https://github.com/quarkusio/quarkus/pull/27443 were merged!

[2022-09-08 13:18] #27229 closed

[2022-09-08 13:23] mkouba commented on #8763
This is a good candidate for a quarkiverse project. Maybe even a subproject of https://github.com/quarkiverse/quarkus-rsocket?

However, we don't plan to add something like this in the core.

[2022-09-08 13:23] #8763 closed

[2022-09-08 13:23] anbonifacio commented on #27253
Hi, I'm trying to create a reproducer for the issue, but it's more subtle than I expected initially: it is not enough to import just quarkus-opentelemetry-exporter-otlp, so I have to do some trial and error.
By the way we are using a maven multi-module project and the problem is present also with quarkus 2.12.1

[2022-09-08 13:25] Sanne commented on #27791
Hi @jerboaa, thanks for the report - this is going to be interesting :)

I've created this test myself, to verify some assumptions we have on how GraalVM's dead code elimination could be "guided" and enable stronger optimisations.

This implies that such a regression isn't critical in terms of functionality: the application will behave the same semantically; but it might be a performance regressio

[2022-09-08 13:28] mkouba commented on #10695
We don't plan to add this feature in the foreseeable future. However, a contribution is welcome! :-)

[2022-09-08 13:28] Sanne commented on #27791
BTW the optimisation was crafted using @galderz 's scripts to analyze the reachability graph using neo4j

[2022-09-08 13:30] mkouba commented on #21376
Does [Renarde](https://github.com/quarkiverse/quarkus-renarde) have a solution for this?

[2022-09-08 13:35] jerboaa commented on #27791
@Sanne Note that I didn't reproduce with a GraalVM CE dev build (used the same one) with quarkus at revision `4f53bdd6f377edcc783e3a91b3ea3e24794cfc81`, I'm not 100% sold on it being a graal issue. Does anything between `4f53bdd6f377edcc783e3a91b3ea3e24794cfc81` and `bc451819b26ba4a084349ebdac3532e732b618ae` that could have caused this?

[2022-09-08 13:36] mkouba commented on #25785
If someone really needs this functionality then a workaround (simple, but not very elegant) would be to pass the `TemplateInstance` as a data object, i.e. something like:

[code]
and in the template:
[code]

[2022-09-08 13:36] #25785 closed

[2022-09-08 13:36] #24283 closed

[2022-09-08 13:37] jerboaa commented on #27791
Could you please point me to those changes?

[2022-09-08 13:38] mkouba commented on #26424
I think that we can close this issue. Feel free to reopen if you have more questions...

[2022-09-08 13:38] gastaldi commented on #27812
For the record: support for JUnit 5 was introduced in Arquillian 1.7.0, which is still in Alpha stage.

[2022-09-08 13:44] geoand commented on #27803
That's what I thought.

Using `lateinit` is actually the "proper" way to do field injection in Kotlin, so I propose this being closed.

[2022-09-08 13:46] mkouba commented on #21393
A problem I see with this enhancement is that other dependencies/extensions would not be able to contribute a template to your application. Or we would have to use a different base for dependencies/extensions and for your app. Which is not very nice.

Feel free to reopen this issue if you really think it's a fundamental feature we should add or if you have more questions/comments.

[2022-09-08 13:46] #21393 closed

[2022-09-08 13:54] rsvoboda commented on #27803
Well, the construct that I used is what users get suggested by IntelliJ Idea when inserting Java based version.

We use the same construct in Quarkus Quickstarts. Docs cover `lateinit` example - https://quarkus.io/guides/kotlin#cdi-inject-with-kotlin

[2022-09-08 13:59] spolti opened #27813 "Optional Quarkus extension on native mode"
### Describe the bug

We are creating a addon that, when enabled perform some queries in the Kubernetes Cluster to apply certain configurations.
However, this query, can be looking for specific OpenShift resources and the quarkus-openshift-client is then used. To avoid adding extra dependencies when not used, we would like to have this dependency as optional and if user wants to use that specific

[2022-09-08 14:01] rsvoboda commented on #27803
Not saying it's correct, but many users can end up with that code.

[2022-09-08 14:03] gsmet commented on #27813
Yeah so you can't do that with a native executable, at least it's really not recommended and we try to avoid that in Quarkus at all force. Thus why we deprecated `NativeImageAllowIncompleteClasspathBuildItem`.

What you should do is: have your own specific openshift dependency that depends on the Quarkus one and that will implement an SPI that is exposed by the main module so that you don't have a

[2022-09-08 14:04] brunobat commented on #27812
looks like quarkus is already using aquillian 1.7.0-alpha, however quarkus-arquillian is excluding all junit5 dependencies.

[2022-09-08 14:09] geoand commented on #27803
Which is why they should use constructor injection in the first place 😉

[2022-09-08 14:10] geoand commented on #27813
+1 on what @gsmet suggests

[2022-09-08 14:14] evanchooly commented on #27803
It shouldn't even compile without the lateinit because you have to initialize a nonnull property.  Constructor injection is much 'cleaner' for but not always an option.  But in this case it should be favored, I think.

[2022-09-08 14:14] geoand commented on #27803
@mkouba an example without `lateinit`:

![Screenshot from 2022-09-08 17-12-01](https://user-images.githubusercontent.com/4374975/189144751-4f8a2ad8-f220-4baf-a88f-28e866b38c5c.png)

and the same field with `lateinit`:

![Screenshot from 2022-09-08 17-13-57](https://user-images.githubusercontent.com/4374975/189145122-e61017fd-0c45-4c23-9324-6fe26a59e283.png)

The code I used is coming from [here](h

[2022-09-08 14:26] jerboaa commented on #27791
I'll see if I can find out. It's definitely quarkus related as well.

[2022-09-08 14:41] spolti commented on #27813
Thanks all, I am closing this issue.

[2022-09-08 14:41] #27813 closed

[2022-09-08 15:05] sag1 commented on #27698
Thank you for taking this into account @sberyozkin. I am eagerly waiting for the release

[2022-09-08 15:08] sberyozkin commented on #27763
@kiview It may be an interesting enhancement idea as its API looks nice but it is hard to know it will work without the fixes done by Georgios, both the one built here and the one created by @dasniko are TestContainer instances. The local implementation makes it a bit more flexible - ex, `19.0.1` is used locally, we can tune start up commands, and we work with the same version to support both Wild

[2022-09-08 15:48] Sanne commented on #27229
Awesome @mkouba !

[2022-09-08 16:02] Sanne commented on #27791
As reference, one needs to understand the different expectations in these two tests:
 - https://github.com/quarkusio/quarkus/blob/af8b95d75ab9c8e77cfb90b4ab9aff867eae2eec/integration-tests/jpa-postgresql-withxml/src/test/java/io/quarkus/it/jpa/postgresql/JPAFunctionalityInGraalITCase.java
 - https://github.com/quarkusio/quarkus/blob/af8b95d75ab9c8e77cfb90b4ab9aff867eae2eec/integration-tests/jpa-po

[2022-09-08 16:19] marcwrobel opened #27816 "Use dependabot for simplifying GitHub actions version management"
### Description

GitHub action versions seems rarely updated. For instance `ci-actions-incremental.yml` is still using `action/checkout@v2` even if `action/checkout@v3` has been released a few months ago.

Dependabot is used in the project for managing some of the Maven and Gradle dependencies. But it can also manage GitHub actions version (package ecosystem `github-actions`).

Should Dependabot b

[2022-09-08 17:10] #8399 closed

[2022-09-08 17:21] dhoffer commented on #27459
@loicmathieu @csmuller @evanchooly I don't have a great/perfect answer for you on this.  Your solution seems reasonable/logical to me but the person that does our MongoDB installs feels that a one replicaset install is a waste of resources (and its on a resource constrained system) so doesn't like the idea of installing that way.  He did say its technically possible he just doesn't want the resour

[2022-09-08 17:26] jerboaa commented on #27791
@Sanne So it looks like it's caused by this commit: https://github.com/oracle/graal/commit/89fdc4232159852300e11d2952cd1932b77b7b9a

If I had to guess, move of `NeverInline` annotation might be the issue? If that's the case adding `-H:NeverInline=<string>*` to the native image build might fix it.

[2022-09-08 17:28] jerboaa commented on #27791
I'm looking at this usage: https://github.com/quarkusio/quarkus/blob/821f5eb64ed2444bda92d34ff603dc50193c2362/extensions/jdbc/jdbc-postgresql/runtime/src/main/java/io/quarkus/jdbc/postgresql/runtime/graal/DomHelper.java#L53..L56

[2022-09-08 17:33] dmlloyd commented on #27760
There needs to be clear semantic rules around how the profiles combine. For example, if profiles `%a` and `%b` are both active, then properties `%a.foo` and `%b.foo` in the same configuration file are in conflict.

I would suggest that the order of profile activations would determine the relative priority of the properties. Just as `%a.foo` would take precedence over `foo` when `%a` is activated,

[2022-09-08 17:56] geoand commented on #27735
This kind of thing should never happen in user code.
The reason is happened in Arc code is that some specifics parts of Quarkus are loaded before the entire logging setup is complete.

[2022-09-08 18:12] adjiandov opened #27817 "Graphql endpoint secured with RolesAllowed returns status 200 despite ForbiddenException being thrown"
### Describe the bug

Setup:
Quarkus with SmallRye GraphQL, OIDC with Keycloak.
When securing the endpoints with @RolesAllowed if the user(token) does not have the required roles a ForbiddenException is thrown but the request comes back with status 200 and DataFetchingError instead of 401 or 403.

### Expected behavior

Response has proper message and error code.

### Actual behavior

Response com

[2022-09-08 18:16] jamezp commented on #26937
I'm not really sure this is a RESTEasy issue then. RESTEasy might be able to do some better reporting, but that's about it. Currently the default RESTEasy client does not support http/2.

[2022-09-08 18:22] evanchooly commented on #27459
I don't know of any resource which suggests that a single node replica set consumes significantly more resources. it *does* have an oplog which will, of course, consume *some* resources but will it be noticeable? I haven't found that to be the case, personally. The oplog can be sized down to whatever you want it to be, though, and offset some of that.

[2022-09-08 18:46] gsmet commented on #26937
@cescoffier isn't this issue fixed by what you did here: https://github.com/quarkusio/quarkus/pull/27772 ?

[2022-09-08 18:55] vladaman commented on #24609
I am having similar issue. Using AWS API Gateway (HTTP) with JWT + Cognito. We get an exception when we inject:
[code]

Exception trace:
[code]

I also tried to inject `java.security.Principal` but that does not seem to have any values.

[2022-09-08 19:47] jendib opened #27818 ""HTTPS required" when creating Keycloak realm in Devservices"
### Describe the bug

I'm using the Keycloak devservices and it's working fine on my local computer, however I'm getting this error in the CI:
[code]

### Expected behavior

No error on starting Keycloak container.

### Actual behavior

"HTTPS required" on creating realm.

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

17

###

[2022-09-08 19:48] #27698 closed

[2022-09-08 19:56] alexeysharandin commented on #27801
Based on this - https://github.com/xerial/sqlite-jdbc/blob/c408b8fb59ba5afa8d4ae4e581fafc8d8ecd47bb/src/test/java/org/sqlite/TransactionTest.java#L90
Looks like sqlite not support multiple write operations in one transaction and need open/close transaction for each of action.
I share code how to do it in your case the ticket to sqlite repo.

[2022-09-08 19:59] sberyozkin commented on #27818
There are a few tests depending on Dev Services for KC in Quarkus, mainly in quickstarts but also a couple of them are in the main repo. These tests import realms, I don't recall seeing such an error. Can it be a CI specific issue ?

[2022-09-08 20:03] jendib commented on #27818
It might be, but my CI is running well for other devservices (PostgreSQL, Kafka, etc) and it's fairly standard (Docker).

[2022-09-08 21:29] holly-cummins opened #27821 "Parameterized test contexts do not see transformed test classes (classloader/ordering issues in tests)"
### Describe the bug

I think something is not right in classloading for test classes. If an extension transforms a test class, what gets executed is the transformed class (as you'd expect) - *except* that if the test is parameterised or uses a TestTemplate, the template gets passed a context which has the *untransformed* class.

For example, in this test, `MyContextProvider` gets handed a context

[2022-09-08 21:35] holly-cummins commented on #6276
See #27729, which is arguably a duplicate of this, but with the extension-proposal type.

[2022-09-08 21:36] holly-cummins commented on #27729
See also #6276, which is arguably a duplicate of this but which I missed in my searches (and this one has the extension-proposal issue type).

[2022-09-08 21:38] holly-cummins commented on #27729
It might also be possible to address #22611 with an extension but that would need a lot of thought.

[2022-09-08 21:42] holly-cummins commented on #6276
See also #9677 which sets many pact artifacts to be parentfirst in a core pom, with a comment
[code]
Those updates should perhaps? move to this extension once implemented.

[2022-09-08 22:05] HonoluluHenk commented on #24829
Thanks, guys!

[2022-09-08 22:05] #24829 closed

[2022-09-08 23:56] phillip-kruger commented on #27817
This is the correct behavior. We follow the GraphQL over HTTP Spec (see https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md)

GraphQL will return 200 with the errors in the error fields. GraphQL is not tightly coupled with HTTP.

In Quarkus you might want to set `quarkus.smallrye-graphql.error-extension-fields` (see https://quarkus.io/guides/smallrye-graphql#quarkus-smal

[2022-09-09 04:20] geoand commented on #26581
This might be related to the k8s client upgrade. @manusa @metacosm mind taking a look?

[2022-09-09 04:27] manusa commented on #26581
I'll try to take a look later, but this seems more related to the content of the resource and not to the API invocation itself (selector doesn't match template labels).
I'm not sure if this is done through Dekorate, or if it's implemented directly in the Quarkus code-base.

Related error log:
[code]

[2022-09-09 04:31] geoand commented on #26581
cc @Sgitario and @iocanel as well

[2022-09-09 04:53] mweber03 commented on #27638
Attempting to isolate the issue in a reproducer.

[2022-09-09 05:32] geoand commented on #27816
Interesting idea. Would you like to open a PR for this?

[2022-09-09 05:42] geoand commented on #6588
@aureamunoz @manusa the `stork-kubernetes-quickstart` is now failing likely due to the client update. Can you please take a look?

Thanks

[2022-09-09 05:49] Sgitario commented on #27807
This failure is related to this change: https://github.com/resteasy/resteasy/pull/3034.
Before these changes, the response was sanitized (see third parameter in line https://github.com/resteasy/resteasy/blob/61fa657f7612f2897cd10e0f761dfbbd514161ee/resteasy-client-api/src/main/java/org/jboss/resteasy/client/exception/ResteasyWebApplicationException.java#L25).
After these changes, the response is s

[2022-09-09 05:52] geoand commented on #27803
I am going to close this, as aside from transforming the bytecode, there is not much we can do.

[2022-09-09 05:52] #27803 closed

[2022-09-09 06:00] BrainShit commented on #27180
Is there any update on this? As this is preventing me from updating further than 2.7.5

[2022-09-09 06:01] geoand commented on #23612
@brunobat @radcortez can you take a look at the reported failure?

[code]

Is that expected because of some recently merged change?

[2022-09-09 06:09] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3020157419

[2022-09-09 06:20] cescoffier commented on #26937
@gsmet Yes. Sorry, forgot about that one (I mostly discussed on the keycloack issue).

[2022-09-09 06:20] cescoffier commented on #26937
Fixed by #22772.

[2022-09-09 06:20] #26937 closed

[2022-09-09 06:22] jmartisk commented on #27808
Yeah so the thing is that there is now a default `ExceptionMapper`, so all processing exceptions get mapped, and a `ContainerResponseFilter` is now called for every response. Before, it was only called
for requests that were either success or had a mapped exception. Thus requests that used to be detected as unmapped errors (because the filter wasn't called for them) are now detected as successful,

[2022-09-09 06:24] #26187 closed

[2022-09-09 06:33] Sgitario commented on #26581
fix in https://github.com/quarkusio/quarkus/pull/27825

[2022-09-09 06:39] rsvoboda commented on #27803
Thanks for the investigation, I will update the hibernate-kotlin QS to use `lateinit`

[2022-09-09 07:26] geoand commented on #27803
Great, thank you!

[2022-09-09 07:37] metacosm commented on #26117
Let's close this for now, since I'm not sure this still happens. Will open a new issue if needed.

[2022-09-09 07:37] #26117 closed

[2022-09-09 07:59] gsmet commented on #27807
@Sgitario thanks for digging into this. TBH, I'm not sure what to do. Fixing the test means that anyone using this pattern might have information leaking to the users... which is quite bad. Especially since this test is there exactly to make sure this behavior is not happening. And that we made explicit changes in RESTEasy for it not to happen.

@jamezp could we discuss this change with @sberyozki

[2022-09-09 08:08] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3020158626

[2022-09-09 08:13] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/3020182069

[2022-09-09 08:31] zakkak commented on #27784
Quoting related discussion from https://github.com/oracle/graal/issues/4862#issuecomment-1241670074

[2022-09-09 08:39] knutwannheden opened #27827 "Missing `http.route` attribute on OpenTelemetry server spans"
### Describe the bug

As commented here https://github.com/quarkusio/quarkus/issues/26776#issuecomment-1240559852 the PR #26898 causes a regression in Quarkus 2.12.1: The HTTP server spans no longer include the `http.route` attribute and consequently the span names are now reduced to `HTTP <METHOD>` rather than including the HTTP route.

### Expected behavior

AFAICT the issue #26776 requested tha

[2022-09-09 09:09] csscriptplus opened #27828 "Native image build NPE"
### Describe the bug

@jerboaa I'll refer to ticket [#27382](https://github.com/quarkusio/quarkus/issues/27382)
The local native build on my MacBook with Docker environment works.
The build in Jenkins with a Kubernetes pod for the native build and no Docker environment then has the NPE at runtime. So I use JIB for the container build.

Your workaround worked.

### Expected behavior

_No response_

[2022-09-09 09:17] Sanne commented on #27791
@jerboaa thanks for finding it!

So it might be because of package changes like these?

https://github.com/oracle/graal/commit/89fdc4232159852300e11d2952cd1932b77b7b9a#diff-947ac1347c188508d95be452d074199eb5f11565d29403f98f8fd3ca1617b67bL43-R45

I don't mind if this particular optimisation is broken temporarily (we could even disable the test for a while), but I'm concerned if such changes could b

[2022-09-09 09:36] radcortez commented on #23612
It might be related to https://github.com/quarkusio/quarkus/pull/27443. I'll have a look.

[2022-09-09 10:02] geoand commented on #23612
Thanks!

[2022-09-09 10:04] iedwin opened #27831 "Redis GEO related error: ERR unsupported unit provided. please use m, km, ft, mi"
### Describe the bug

I tried to use redis GEO commands geoadd/geodist/geosearch via Quarks v2.12 but got the below error which is nearly the same with the one I mistake to operate redis via redis-cli.

[code]
[code]
#### My code:
#### RedisTool
[code]
[code]
### application.yml
[code]

### Expected behavior

Return the nearist member in the given key.

### Actual behavior

Return error:
Caused by

[2022-09-09 10:08] Sgitario commented on #27809
This is related to this change: https://github.com/resteasy/resteasy/pull/3044. Basically, it will map all the unhandled exceptions to return 500 and collect all the inner exception messages.

This test relies on the exception messages to be logged and this can be enabled using the logger `org.jboss.resteasy.core.providerfactory.DefaultExceptionMapper`. Will try this direction.

[2022-09-09 10:36] Sgitario commented on #27809
When enabling the logging for the DefaultExceptionMapper by adding this build step in ResteasyBuiltinsProcessor:
[code]

And running the test again, we got the exception message now:

[code]

Still we would need to adjust the test exception because we're losing the path. The exception message before Resteasy 6.1 was:

[code]

Therefore, this is not the right direction as the exception is not going

[2022-09-09 10:39] Sanne commented on #27784
Yes I remember seeing some substantial benefits from it - but it's been a while, I wouldn't know if they are still applicable.
The drawback being that stacktraces aren't printed *exactly* as in Java, but people looking at it didn't find it too bad (they are still very understandable) so we considered it a good tradeoff.

IMO it has value to have specific configuration knobs, such as `fullStackTrac

[2022-09-09 10:49] Sanne commented on #27791
yes I understand these were not meant as public API - can't complain too much, but would be nice to have a way for a smooth transition.

Since we're facing a transition, I wonder if it could be doable to have both types of annotations taken in consideration?

Thanks for the reference - I'll try, I don't think I know all of our use cases. @dmlloyd might know of more important/critical uses? Mine we

[2022-09-09 10:51] cescoffier commented on #27831
What is the version of your redis server?

[2022-09-09 10:54] cescoffier commented on #27831
Yes the case changed between redis 6 and 7.

[2022-09-09 11:23] misho9933 commented on #27380
Hi,
The server is SalesForce and I don't have the code myself.

I managed to connect to the same server by using the io.grpc.stub.StreamObserver and pure java.
Unfortunatelly I cannot use the same approach with quarkus because i need to create some threads manually and my understanding is the only way is quarkus-grpc which is not working for me

[2022-09-09 11:42] cescoffier commented on #27380
The deadline can be configured with: `[quarkus.grpc.clients."client-name".deadline](https://quarkus.io/guides/grpc-service-consumption#quarkus-grpc-config-group-config-grpc-client-configuration_quarkus.grpc.clients.-client-name-.deadline)`

Note that you can use the regular stubs if you do not want to use the Mutiny one. Unfortunately, without a proper reproducer, it's hard for us to investigate (

[2022-09-09 12:44] aureamunoz commented on #6588
The problem comes from the current Stork version used by Quarkus (1.1.2) that is depending on the old Kubernetes client 5.x. We should upgrade to use Stork 1.2.0, do I move forward for it?

[2022-09-09 12:50] #27816 closed

[2022-09-09 14:49] #27664 closed

[2022-09-09 14:54] smil2k opened #27841 "Quarkus build does not use the proxy settings in maven settings.xml"
### Describe the bug

In case of changing the quarkus version the first build has to be called with implicit java proxy settings on the command line in order to get a build behind proxy.

Maven downloads all the necessary jars, but some of them are downloaded by the quarkus plugin which does not honor the setting.

### Expected behavior

in case the setting is set in maven, every plugin should hon

[2022-09-09 14:55] geoand commented on #27841
cc @aloubyansky

[2022-09-09 15:00] aloubyansky commented on #27841
@smil2k thanks for reporting the issue. Could you please give a settings.xml (snippet) with a proxy config as an example? I suppose it's nothing extraordinary but just in case. Thanks.

[2022-09-09 15:01] mhagnumdw opened #27842 "Support projection with named query"
### Description

The code below returns the following error: `Unable to perform a projection on a named query`

[code]

### Implementation ideas

_No response_

[2022-09-09 15:03] jacksoncastro commented on #27842
Same error, any suggestion?

[2022-09-09 15:13] smil2k commented on #27841
[code]

[2022-09-09 16:09] gastaldi commented on #27842
Because the `project` method changes the underlying HQL, it's better to use `getEntityManager().createNamedQuery("Debito.findIds", Long.class).getResultList()` in this case

[2022-09-09 16:46] #27166 closed

[2022-09-09 16:48] Sanne commented on #27166
This was fixed now by #27802 - bear in mind that you might need to use `@ActivateRequestContext` going forward, as an incoming message listener won't have the scope by default: we decided it's better to make it explicit, so that there's a well defined beginning of the scope - and more importantly, you get to choose where it ends.

[2022-09-09 17:28] manofthepeace opened #27844 "Cannot change log message via logging filter"
### Describe the bug

Apologies if this is not a quarkus issue. Sometimes it is hard to distinguish. I am trying to change an internal quarkus' log message via a logging filter. I can change the Log level no problem (oddly JUL uses WARNING and quarkus uses WARN not sure if it's normal), but the changing the message, breaks the formatting.

The JUL `LogRecord::setMessage` api states; `Set the "raw"

[2022-09-09 18:28] HeroxHeruxum opened #27845 "Support manipulation of the Hibernate-Envers' Change detection"
### Description

I've recently encountered an Issue where Hibernate detected changes where none should have been declared. More preciese:
There were ZonedDateTime Values that created unneeded changes.
An example I've tried to merge an ZonedDateTime in UTC to an DataBase which is configured to persist values in another TimeZone than UTC. This has to do with Quarkus relying on using the Byte Code En

[2022-09-10 10:16] Plawn opened #27851 "Add a way to export the full dependency Graph"
### Description

The dev UI allows us to view the dependency graph for all the Beans in the app, it would be nice to view the full dependency graph for the whole application as a JSON directly to then exploit the data in other applications

### Implementation ideas

Export all the data using a JSON controller or a maven Mojo based on the `DevBeanInfos.java` or `DependencyGraph.java` directly

[2022-09-10 13:57] iedwin commented on #27831
Thanks a lot for your help!
The version of my redis is 7.0.4. So there should be a version adaption for redis 6+?

[2022-09-10 14:11] jendib commented on #27818
I found out the issue. On my CI the Docker engine is running remotely (another node in the Swarm). I changed to a localhost Docker engine and the KC devservice is now running.
Feel free to close this issue if you think it doesn't need to be fixed.

[2022-09-10 14:21] cescoffier commented on #27831
Yes, I will have a look. Hoping that lowercase would work everywhere.

[2022-09-10 19:18] langsamu opened #27852 "500 from RESTEasy Reactive with malformed Accept when multiple @Produces"
### Describe the bug

A resource method that has multiple `@Produces` annotations causes an internal server error if you send an Accept header with a malformed `q` value.

I'm sending this Accept header (as a minimal example, I'd tried many more): `*/*, a/b; q`. Note `q` is malformed. It should be `q=0.9` or similar.

And writing this resource:
[code]

### Expected behavior

In the case of a malfo

[2022-09-10 19:54] AliLozano commented on #16208
Just happened to me, I tested it in dev and quarkus returns x-build in the allow headers, but when I run it with docker it only  returns `content-type`

[2022-09-10 21:58] siudeks opened #27854 "Run Panache reactive transactional operation when application is starting"
### Describe the bug

I need to run custom transactional database logic when application is starting. My stack is only reactive, no JDBC.

I decided to put database-related logic when StartupEvent is published by Quarkus.

### Expected behavior

Working transactional reactive code when application is starting

### Actual behavior

Error:
The current operation requires a safe (isolated) Vert.x sub-

[2022-09-11 13:29] deathwaiting commented on #26818
This is a bit late reply,
But if it is just reseting test data, spring actually provides the `@Sql` annotation, which runs a sql script before/after test classes or methods.
We usually depend on this in our spring projects , and no context re-run is needed

I actually made a similar annotation in my quarkus project using CDI bean injection, so, it will be nice addition for integration tests.

[2022-09-12 03:15] shnplr opened #27857 "Add empty scopes for oauth flow"
### Description

For OAuth Flow Object specification for "scopes" states:

REQUIRED. The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.

Adding quarkus-smallrye-openapi dependency to oidc example project generates /q/openapi such as

[code]
It could be a good feature to include empty scopes in this case to support

[2022-09-12 06:12] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3034882368

[2022-09-12 06:13] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3034884265

[2022-09-12 06:37] yrodiere commented on #27845
Hi @HeroxHeruxum. This sounds more like a bug than an enhancement request? Could you provide a reproducer, please?

[2022-09-12 06:57] PyAntony commented on #24624
any update on this? I am facing the exact same issue.

[2022-09-12 07:19] cescoffier commented on #26915
I have the same problem as @geoand.
Please provides a simple standalone reproducer.

[2022-09-12 07:21] cescoffier commented on #26830
@spencercjh sorry for the delay.
By any chance, do you have a reproducer?

[2022-09-12 07:37] #27808 closed

[2022-09-12 07:45] #24885 closed

[2022-09-12 07:46] radu-muresan commented on #23637
Hi guys,

My use case is I want to use a bean (e.g. SomeBeanImpl) for profile 'prod' and another bean (e.g. SomeBeanMock) for profiles 'dev' and 'test'.

currently I tried:
@UnlessBuildProfile('prod')
SomeBeanImpl
gives me an error when not using the 'prod' profile, can elaborate if it is the case, but the mock bean is not inserted.

after that I used:
@IfBuildProfile('prod')
SomeBeanImpl

@IfBuil

[2022-09-12 08:13] Sgitario commented on #26747
You can already set the ingress host property: https://github.com/quarkusio/quarkus/blob/f4238ad15d1a3d73a83b4c2bf8945edf72ec4db6/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/IngressConfig.java#L22
This change was added in https://github.com/quarkusio/quarkus/commit/788b5bec7edb5bb347d7bd75f9b0dd939d6686c4.

Let me know if this works for you and if we can

[2022-09-12 08:26] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3034884265

[2022-09-12 08:40] mkouba commented on #23637
What kind of error? The `SomeBeanImpl` shoud be available in `test` and `dev`.

[2022-09-12 08:45] janinko commented on #25981
You are talking here about filtering categories, but my original request was for filters in handlers.
For example I have console and file handlers and I want to have filter to log only specific categories or certain keyword into the file.

[2022-09-12 08:48] radu-muresan commented on #23637
I ended up using:
@IfBuildProfile('prod')
SomeBeanImpl

@UnlessBuildProfile('prod')
SomeBeanMock

and it did the trick.

The error probably was an incorrect use of @IfBuildProfile with @UnlessBuildProfile, please disregard that part.

Thanks!

[2022-09-12 08:55] geoand commented on #25981
Filters in handlers... Interesting 😎.

I'll have to see how we can support that

[2022-09-12 09:01] mkouba commented on #24624
We don't plan to add support for generic decorators in the near future. See the comments above for possible workarounds.

[2022-09-12 09:10] maxandersen commented on #24829
@HonoluluHenk where did you push it to @HonoluluHenk ? how can user use it?

[2022-09-12 09:10] PeterGrzeschik opened #27862 "ElasticSearch Dev Service image cannot be replaced with custom-built image"
### Describe the bug

In the ElasticSearch DEV service you can use your own image (`quarkus.elasticsearch.devservices.image-name`), however it is not accepted because it is not **name-compatible** with the expected value: `docker.elastic.co/elasticsearch/elasticsearch`.

### Expected behavior

Any image that extends an ElasticSearch image is accepted and used.

### Actual behavior

[code]

### How

[2022-09-12 09:29] ThoSap commented on #26747
Ahh cool, thanks! So the issue regarding secured ingress was fixed in Quarkus `2.12.0.CR1`, nice 😏

The PR/commit you mentioned fixes another workaround I made with a post-process step using `sed` for a secured ingress, but _does not fix this issue_ regarding the path explained here:
https://github.com/quarkusio/quarkus/issues/26747#issuecomment-1185267170

[2022-09-12 09:39] famod commented on #27487
Fix confirmed in 2.12.1, thanks!

[2022-09-12 09:42] ozangunalp commented on #21367
This should be fixed now with #27802.

To access request scoped beans, one will need to explicitly use `@ActivateRequestContext` on incoming methods. Note that the request context will be active only during the method call, and will be destroyed when the processing completes.

[2022-09-12 09:48] #21367 closed

[2022-09-12 09:53] antonwiens commented on #17839
Is this still relevant?

[2022-09-12 09:56] sberyozkin commented on #27818
@jendib Thanks, I think it suggests that a start-up command sequence used by DevServices for KC is not quire precise, as it is really Keycloak which is enforcing HTTPS in this case. May be we should also support talking to HTTPS based endpoints. Worth keeping the issue open

[2022-09-12 09:58] languitar commented on #27862
Is there a chance to make the solution from #20945 the default behavior for all dev services? If the user exchanges the image, he or she probably know why. Would be unfortunate if someone has to stumble upon this problem for each (new) dev service first.

[2022-09-12 10:59] geoand commented on #27862
Seems like an oversight. Would you like to provide a fix?

[2022-09-12 11:12] milos-stojanovic-nortal opened #27865 "[CVE-2022-25857] CVE detected in Snake-YAML dependency"
### Describe the bug

CVE detected in Snake-YAML dependency which is used in quarkus.
Scanning the project which is using: implementation group: 'io.quarkus.platform', name: 'quarkus-bom', version: '2.12.1.Final', ext: 'pom' we have found that there is used dependency: implementation group: 'org.yaml', name: 'snakeyaml', version: '1.31'
scanning that project for vulnerabilities we have found that

[2022-09-12 11:48] ozangunalp commented on #27265
Hi, I tried to reproduce this without success a couple of weeks ago but was sidetracked.
I tried to do something similar to this config: https://github.com/smallrye/smallrye-reactive-messaging/issues/1811#issuecomment-1207215229 , but couldn't reproduce hanging consumption with 100k messages.

I know it is hard in these cases but a reproducer would be awesome.

[2022-09-12 11:50] csscriptplus opened #27869 "native image JWT sign java.net.MalformedURLException: no protocol"
### Describe the bug

I have an application that creates a JWT and signs it. The following error occurs:
`java.net.MalformedURLException: no protocol: privateKey.pem `

As a docker image build everything works.

**application.properties**
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No re

[2022-09-12 11:56] geoand commented on #27627
@evanchooly have you been able to figure this one out?

[2022-09-12 11:57] geoand commented on #27315
Closing this as we never got a reproducer.

Feel free to comment / reopen if you have more information

[2022-09-12 11:57] #27315 closed

[2022-09-12 11:58] geoand commented on #26756
Closing this as we never got a reproducer.

Feel free to comment / reopen if you have more information

[2022-09-12 11:58] #26756 closed

[2022-09-12 11:59] geoand commented on #27237
@GavinRay97 ^

[2022-09-12 12:00] geoand commented on #27869
Mind attaching a sample project we can test?

[2022-09-12 12:06] pjgg opened #27870 "Stork custom serviceDiscovery default Host is not working anymore"
### Describe the bug

Quarkus version: Upstream
Extension: `stork-core` and `stork-configuration-generator`

If no `quarkus.stork.<SERVICE_NAME>.service-discovery.host` is provided then by default `localhost/127.0.0.1:80` is used as a service discovery host, and then an exception is thrown

[code]

In previous upstream version, the default host was `localhost`.

Work around: Define on your applica

[2022-09-12 12:13] rsvoboda commented on #27870
Sounds there is a change in behaviour / possible regression in stork.

Should we have entry in https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.13 about that? @aureamunoz

[2022-09-12 13:07] fedinskiy opened #27872 "Qute puts encoding in Content-Type header for located templates and doesn't put for injected"
### Describe the bug

I have one HTML file with Qute template.
If I inject it automagically, via `@Inject` annotation, and then return it from Resteasy endpoint, then resulting HTTP response has header `Content-Type=text/html`.
If I inject it ia `@Location` annotation, and then return from a similar endpoint, then resulting HTTP response has header `Content-Type=text/html;charset=UTF-8`.

### Expe

[2022-09-12 13:09] csscriptplus commented on #27869
@geoand here an example project:
[quarks-test-master.zip](https://github.com/quarkusio/quarkus/files/9548290/quarks-test-master.zip)

[2022-09-12 13:12] sberyozkin commented on #27869
Let me try it, I've just tested the same setup on the main branch, works ok

[2022-09-12 13:31] mkouba commented on #27844
Hm, the `GreetingResource` injects and logs messages via `org.jboss.logging.Logger` but the filter is set using the `java.util.logging.Logger`. I don't think that this is something that is supported because internally quarkus `jboss-logmanager-embedded` to write the log messages.

[2022-09-12 13:38] mkouba commented on #27872
Could you test the reproducer with `resteasy-reactive-qute` as well?

[2022-09-12 13:40] geoand commented on #25981
I updated the PR with tests and docs

[2022-09-12 13:49] csscriptplus commented on #27869
@sberyozkin: Here is my special feature. I use Jenkins to build and deploy my application and sample into my Kubernetes cluster. My Kubernetes cluster does not have a Docker environment. Therefore, the native build is done via a Kubernetes pod with a self-built image. This build image contains a Mandrel installation.
Here the files: [quarkus.zip](https://github.com/quarkusio/quarkus/files/9548570/

[2022-09-12 13:49] radcortez commented on #26776
No, this is fine. The route is set by https://github.com/quarkusio/quarkus/blob/9572d44e7261de7be027d4d45c7752d101e2685e/extensions/opentelemetry/opentelemetry/runtime/src/main/java/io/quarkus/opentelemetry/runtime/tracing/vertx/HttpInstrumenterVertxTracer.java#L96.

The issue you see is something else. I'll reply in #27827.

[2022-09-12 13:52] radcortez commented on #27827
Are your REST endpoints defined in interfaces?

It seems that our changes uncovered a side effect. Before, we were always generating the route and then updating it with the one coming from the context. Now, we just update it with the one coming from the context. The issue is that the route path is set via a CDI interceptor that is not executed when the REST annotations are placed in an interface.

[2022-09-12 13:58] #27609 closed

[2022-09-12 13:59] mkouba commented on #27872
So the difference between `@Inject Template basic` and `@Location("basic.html") Template located` is that for the first one the template path is "incomplete" and the actual template is _selected_ in the `io.quarkus.resteasy.qute.runtime.TemplateResponseFilter` right before the rendering (based on accept headers). For `@Location("basic.html")` the path is "complete" and the `TemplateResponseFilter`

[2022-09-12 14:01] evanchooly commented on #27627
I haven't had a chance yet, no. There was a potential OIDC wrinkle that I was hoping more info would come out about but maybe it's not an issue here.

[2022-09-12 14:04] geoand commented on #27627
Hm... I don't see any OIDC complication with this one

[2022-09-12 14:12] evanchooly commented on #27627
clement had linked to a possibly related issue but it looks like nothing came of it. it was mostly me being hopeful  :)

[2022-09-12 14:17] fabrii commented on #22204
I ran the Hibernate.isInitialized test (on envers entities) in the 5.6, 5.2 and 5.0 branches. It is not working in any of those. Envers uses a ListProxy class instead of PersistentCollection, so it is ignored by the "isInitialized" method. The ListProxy class does not have any method to check if it is initialized or not. This comment is a follow up to this discussion: (https://github.com/quarkusio

[2022-09-12 14:19] fedinskiy commented on #27872
@mkouba with `quarkus-resteasy-qute`replaced with `quarkus-resteasy-reactive-qute` in pom.xml, both endpoints return `Content-Type=text/html;charset=UTF-8`.

[2022-09-12 14:19] zakkak commented on #27777
This is a caveat of ahead of time compilation. `native-image` doesn't know how to automatically do the "translation" for us so we need to do the substitution ourselves.

Note that `native-image` doesn't initialize all classes at build time by default, it only does so for a core of libraries for which it provides all the necessary substitutions. As a result this issue is not that common outside of

[2022-09-12 14:30] geoand commented on #27869
@sberyozkin the way you mention with `quarkus.native.additional-build-args` is the harder way actually. Using `quarkus.native.resources.includes`  is easier, if it fits one's use case.

[2022-09-12 14:32] rsvoboda opened #27873 "kafka-panache-reactive-quickstart fails after #27802"
### Describe the bug

kafka-panache-reactive-quickstart fails after https://github.com/quarkusio/quarkus/pull/27802 got merged, CC @ozangunalp

https://github.com/quarkusio/quarkus/pull/27802 is breaking change and there is no information in https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.13

Proposal:
 - update Migration-Guide-2.13
 - indicate which class could use `@ActivateRequestCo

[2022-09-12 14:40] cescoffier commented on #27627
To make progress, I would need a reproducer.
To be honest, I can't see why changing the worker thread pool would "make it work". There is something else...

[2022-09-12 14:43] cescoffier commented on #27873
It's actually a bug fix. It was not really working... it was using the request scope from the application startup.

[2022-09-12 14:43] cescoffier commented on #17886
Fixed.

[2022-09-12 14:43] #17886 closed

[2022-09-12 14:46] rsvoboda commented on #27873
I'm not proposing to revert it;)

I want to have it documented in migration guide as it's a breaking change

And if possible to indicate which class could use @ActivateRequestContext so the end users can fix their code a bit faster

[2022-09-12 14:46] rsvoboda commented on #27873
(I will proceed with QS fix in the meantime)

[2022-09-12 14:57] cescoffier commented on #27873
I've asked Ozan to add a note (it should have been done while merging)

[2022-09-12 15:01] sberyozkin commented on #27869
@geoand Sure, thanks, I've just seen `quarkus.native.additional-build-args=-H:IncludeResources=...` somewhere in the tests awhile back and keep copying it ever since :-).

I think we should close this issue now, @csscriptplus hope the info we provided here helps, thanks

[2022-09-12 15:01] #27869 closed

[2022-09-12 15:04] ozangunalp commented on #27873
I've missed that.
@rsvoboda thanks for the heads up, I'll update the migration guide accordingly.

Too bad the error message doesn't mention the channel name. I'll also look into it.

[2022-09-12 15:06] mazenkhalil commented on #27627
I will provide a reproducer shortly.

[2022-09-12 15:14] sberyozkin commented on #27865
@milos-stojanovic-nortal it is already fixed in #27581 and is marked for the backport to `2.12.x`, thanks

[2022-09-12 15:26] milos-stojanovic-nortal commented on #27865
Great! Thank you!

[2022-09-12 15:27] sberyozkin opened #27876 "OIDC Code Flow diagram does not fit well into the document"
### Description

The new diagram can be seen at https://quarkus.io/version/main/guides/security-openid-connect-web-authentication
but it does not fit alongside the TOC on the right, so there is a big space there one has to scroll through before seeing it.

I wonder is it possible to add some attribute to the included image to make it align better or should the image itself become more compact ?
CC

[2022-09-12 15:32] sberyozkin commented on #27876
`276_0822` is also visible in the bottom right corner

[2022-09-12 15:46] mazenkhalil commented on #27627
Below the reproducer and the (workaround).
https://github.com/mazenkhalil/quarkus-mongodb-dns-issue-reproducer-27627.git

Please note that changing the worker thread pool would make it work only when @CacheResult is present.

[2022-09-12 15:51] gsmet commented on #27865
2.12.2.Final will be released tomorrow and will include the upgrade.

[2022-09-12 16:01] radcortez commented on #27760
This is what we already have implemented in SmallRye Config:
https://smallrye.io/smallrye-config/Main/config/profiles/

The difference is that we reverse the order of the profile listing, meaning that if we have profile `a` and `b` in this order, `b` has precedence over `a`. The rationale was that you are most likely going to define the generic profiles first and the specific ones later, for insta

[2022-09-12 16:13] dmlloyd commented on #27791
I think it is specifically ensuring that certain inline sites do or do not take place, particularly in performance-critical code (logging comes to mind). One can infer that the heuristic inliner doesn't always make the decisions we would want otherwise.

Maybe an alternative would be to mark some given code as "hot" or "cold" in such a way that the inliner can take that into account?

[2022-09-12 16:39] manofthepeace commented on #27844
Yes, it does seem like a odd configuration, but the only one that seem to work, before https://github.com/quarkusio/quarkus/pull/27864 gets merged.

I am using the above to change some logs level, and also some log parameters, for instance, in the code in the reproducer, I could replace the "test" string parameter with "test2" within the filter, and the log would print test2 fine. Looks like only

[2022-09-12 16:54] Sanne commented on #27791
Hi @dmlloyd - right I was going to ping you about this issue to ask how much of a problem you expect this to be for Logging, assuming we'll live w/o such optimisations applied during some "transition" period.

See also https://github.com/oracle/graal/issues/4862#issuecomment-1241826003

[2022-09-12 16:56] ia3andy commented on #27760
That sounds good, @radcortez let me know if I can help on this ;-)

[2022-09-12 16:59] antssilva96 commented on #15117
Hello @phillip-kruger ! I'm not the OP but I have a similar issue.

Our use case is as follows:

1. We have a quarkus microservice in which we have a couple of resources and all the normal stuff
2. We use the quarkus-smallrye-openapi extension to make available the openapi spec for our service.
3. We provide a Python client to interact with our service, all automatically generated from the open ap

[2022-09-12 17:00] Sanne commented on #21217
Yes that's a good workaround. As mentioned we'll eventually rewrite the Hibernate Reactive extension to take such things into account, but we need to focus on Jakarta 10 + Hibernate ORM 6 first; so please use this workaround in the meantime.

[2022-09-12 17:11] dmlloyd commented on #27791
Well that's the whole issue - we don't know from one release to the next how much of a problem it will be, or even *if* it will be a problem. All we can do is observe that the problem did exist once. And when it comes to heuristics, we cannot reliably predict the behavior even with testing because things like program size might impact (to give just one example) the number of call sites which in tu

[2022-09-12 18:47] michalvavrik commented on #27180
Hello, I can reproduce it. I'll have a look and let you know.

[2022-09-12 19:23] #26867 closed

[2022-09-12 20:03] mgubaidullin commented on #26522
Hello. Any news, when quarkus have a dekorate version that fix this?

[2022-09-12 21:39] michalvavrik commented on #27180
Hi @sberyozkin ,
when you are using custom `HttpAuthenticationMechanism` and call one of:
- `io.quarkus.vertx.http.runtime.security.FormAuthenticationMechanism`
- `io.quarkus.smallrye.jwt.runtime.auth.JWTAuthMechanism`
- `io.quarkus.oidc.runtime.AbstractOidcAuthenticationMechanism`
- `io.quarkus.security.webauthn.WebAuthnAuthenticationMechanism`
- `io.quarkus.vertx.http.runtime.security.BasicAuthe

[2022-09-12 23:24] phillip-kruger commented on #15117
I am not sure if there is a recommended way, what you are suggesting sounds reasonable to me. All of what you suggest should already be possible, right ?

[2022-09-13 05:14] Sgitario commented on #26522
I didn't update this issue when bumping Dekorate, but it's now fixed. I've linked a pull request proving that this issue is gone.

[2022-09-13 05:14] #26522 closed

[2022-09-13 05:15] geoand commented on #26522
@Sgitario which version fixes the issue?

[2022-09-13 05:17] Sgitario commented on #26522
Dekorate 2.11.2

[2022-09-13 05:20] mschorsch opened #27884 "quarkus-config: Maven-Property conflicts with 'prefix' (Regression since Quarkus 2.12)"
### Describe the bug

__Regression Quarkus 2.11 -> Quarkus 2.12__

If the `prefix` in `ConfigMapping` has the same name as a Maven-Property, you will get the following error (see reproducer) on startup:

[code]

Note: At the moment i cannot upgrade my Quarkus projects to Quarkus 2.12.1.Final because the property is defined in a parent pom over which i have no control.

### Expected behavior

_No r

[2022-09-13 05:23] iedwin commented on #27831
@cescoffier  hi cescoffier, which version of quarkus should this fix be merged to?

[2022-09-13 05:24] geoand commented on #26522
I meant Quarkus :)

When we close issues, we do try to set the milestones to help future readers (and ourselves)

[2022-09-13 05:24] mschorsch commented on #27884
cc @radcortez

[2022-09-13 05:26] cescoffier commented on #27831
It got merged yesterday, and will be in tomorrow's release.

[2022-09-13 05:27] #27831 closed

[2022-09-13 05:31] Sgitario commented on #26522
ah ok, the fix was included in `2.12.1.Final`. I've already updated the issue with the milestone.

[2022-09-13 05:34] geoand commented on #26522
Excellent, thanks

[2022-09-13 05:45] geoand commented on #27627
Thanks a lot for the reproducer - I can indeed see the same error

[2022-09-13 05:52] geoand commented on #27627
The problem is [here](https://github.com/quarkusio/quarkus/blob/2.12.1.Final/extensions/mongodb-client/runtime/src/main/java/io/quarkus/mongodb/runtime/dns/MongoDnsClient.java#L121) - we can't block on the event loop

[2022-09-13 05:59] geoand commented on #27627
A slightly cleaner stacktrace can be obtained if we use `quarkus.arc.dev-mode.monitoring-enabled=false`.

[code]

[2022-09-13 06:07] cescoffier commented on #27831
Fixed by https://github.com/quarkusio/quarkus/pull/27861.

[2022-09-13 06:16] geoand commented on #27627
I think we have to revert the use of the reactive DNS client as it can cause these sorts of issues all too easily.
Either that, or we manually perform the DNS lookups at application start-up so they are available for our reactive DNS client and therefore avoid blocking.

[2022-09-13 06:21] geoand commented on #27872
In RESTEasy Reactive we explicitly add the charset when it makes sense. I have no idea why there is a difference in RESTEasy Classic.

[2022-09-13 06:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3042583777

[2022-09-13 06:26] geoand commented on #27844
`java.util.logging.Filter` is meant to decide whether a handler should log a message or not, it's not really meant to change the `LogRecord`, so I would say that what you are doing is probably unspecified.

[2022-09-13 06:31] #27844 closed

[2022-09-13 06:37] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3042585438

[2022-09-13 06:42] liangyuanpeng commented on #6271
FYI,   pulsar community begin working for A pulsar client of reactive https://github.com/apache/pulsar-client-reactive

[2022-09-13 06:44] geoand commented on #6271
@ozangunalp we should probably try and get our work over the finish line :)

[2022-09-13 06:45] geoand commented on #6271
FWIW, their regular client Pulsar already support non-blocking IO. We definitely won't be utilizing any client that is based on Reactor

[2022-09-13 07:05] geoand commented on #27627
I should clarify that what I propose above can work because we do know the value of the connection string at startup. The downside is that we would need to copy a lot of mongo code that parses it

[2022-09-13 07:09] cescoffier commented on #27627
Hum, in this case, like in Vault, we need an extra Vert.x instance. It's ugly, but it's the only way to avoid that kind of isse.

[2022-09-13 07:12] cescoffier commented on #27627
Hum, won't be enough. As the proposed Mongo SPI is blocking, we cannot use it from an I/O thread.
However, switching to the regular blocking DNS client (JNDI) won't work either, as you will be blocking the I/O thread.

I believe the Mongo Client initial connection must be off-loaded to a worker thread because this is blocking the DNS query. However, Mongo is lazy, so we do not know when that initi

[2022-09-13 07:14] geoand commented on #27627
I don't think we'll need a new Vert.x instance, because we can do the parsing after Vert.x is ready - but before any of the Mongo CDI beans are created (which is when the parsing is first done).

But like I said, this will require us to copy some of the code the Mongo driver uses (in `ConnectionString`)...

[2022-09-13 07:15] cescoffier commented on #27627
We could imagine doing a "ping" just after the initialization of the client (in the recorder) to force the initialization (and DNS lookup) to happen.

[2022-09-13 07:15] geoand commented on #27627
My idea is that we do the lookup at startup so our `MongoDNSClient` will then just get the already resolved data

[2022-09-13 07:15] geoand commented on #27627
Yeah, that's also worth looking into.

[2022-09-13 07:16] geoand commented on #27627
@evanchooly do you want to take a look or should I?

[2022-09-13 07:20] mkouba commented on #27854
https://github.com/quarkusio/quarkus/issues/27623 and this [zulip discussion](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Reactive.20code.20at.20startup) are related.

[2022-09-13 07:34] pjgg opened #27886 "Stork native is throwing a `BuildException` exception when the app is built"
### Describe the bug

Quarkus Version: Upstream
Extensions: `stork-service-discovery-consul` and `stork-service-discovery-kubernetes`
Stork version: 1.1.2 (same as Quarkus [BOM](https://github.com/quarkusio/quarkus/blob/main/bom/application/pom.xml#L56))

Given a Quarkus app that is using Stock as a service discovery / load balancer, when I build a native application with `quay.io/quarkus/ubi-quar

[2022-09-13 07:44] mkouba commented on #27854
This workaround seems to work:

[code]

[2022-09-13 07:46] jtvmatos opened #27887 "quarkus.smallrye-openapi: Attach the built OpenAPI schema files as build artifact."
### Description

It would be useful to add a flag that allows attach the built OpenAPI schema files (yaml/JSON) as build artifact.

This feature is available in the `smallrye-open-api` (https://github.com/smallrye/smallrye-open-api/tree/main/tools/maven-plugin#configuration-options) `attachArtifacts (boolean, default: false) - Attach the built OpenAPI schema as build artifact` and the configuratio

[2022-09-13 07:46] mkouba commented on #27623
FTR [this workaround](https://github.com/quarkusio/quarkus/issues/27854#issuecomment-1245026347) seems to work.

[2022-09-13 07:52] maxandersen opened #27889 "have quarkus use user-agent when interacting with systems"
### Description

In https://github.com/quarkusio/quarkus/pull/21458 user-agent used when calling amazon lambda apis is set to:

[code]

and used in http url connection requests allowing Amazon to identify Quarkus usage.

We should do similar for other integrations that allow setting user agent.

Suggestion is to make a config property that defaults to something similar to above but include java.ve

[2022-09-13 07:53] geoand commented on #27886
There is a pretty prominent warning message:

[code]

So first of all you'll need to add:

[code]

to the application's dependencies.

Now, even with that done, I get the following:

[code]

This seems to me the be caused by some mismatch between Kubernetes Client versions and I'll leave it to @Sgitario @aureamunoz and @manusa to figure out what's going on.

[2022-09-13 07:54] geoand commented on #27889
Do you have any such integrations in mind?

[2022-09-13 07:57] sixcorners commented on #2765
Setting defaultValue to "" also seems to cause this to happen btw. Using Optional<> instead works for me though.

[2022-09-13 08:09] rsvoboda commented on #27886
about kube client + Stork Kubernetes Service Discovery: `highly recommended` or `mandatory`? @aureamunoz and @manusa

btw there is revert of kube client going on - https://github.com/quarkusio/quarkus/pull/27875
but still, we will move to 6.1 at some time

[2022-09-13 08:27] cescoffier commented on #27870
The problem is that the service discovery provider does not provide the host and port for the service instance.
So we can argue it's a bug in the service discovery provider.

However, as it seems that it was supported before, I'm opening a PR handling the `null` host and `0` port

[2022-09-13 08:31] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3042585438

[2022-09-13 08:42] mschorsch opened #27892 "resteasy-reactive: ParamConverter+Kotlin+ResteasyReactice+List<SomeClass> leads to java.lang.ClassNotFoundException on startup (Regression since 2.12)"
### Describe the bug

__Regression Quarkus 2.11 -> Quarkus 2.12__

The following example leads to an error on startup (reproducer attached):

[code]

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[reproducer.zip](https://github.com/quarkusio/quarkus/files/9555095/reproducer.zip)

### Output of `uname -a` or `ver`

_No response_

### Output

[2022-09-13 08:44] JamshedAlamQaderi commented on #21428
Can anyone tell me how to use `@Scheduled` with kotlin coroutine?

[2022-09-13 08:46] faskan opened #27893 "JPA overridden properties from MapperSuperclass is not evaluated correctly"
### Describe the bug

I am working on a spring-boot to quarkus migration project and I came through this issue when copying my JPA entities as it is from spring boot to quarkus. I have replicated the issue in a sample project (https://github.com/faskan/quarkus-hibernate-sample)

There exists a MappedSuperClass with name AbstractEntity, with the following field which is mapped to database column `n

[2022-09-13 08:47] geoand commented on #21428
Just annotate a public suspend function with `@Suspend`

[2022-09-13 08:50] cescoffier commented on #27886
yes, it's a client version mismatch. With the storm happening around that subject at the moment, let's wait until we know which version will be used and adapt stork kubernetes discovery (@aureamunoz).

[2022-09-13 08:54] antssilva96 commented on #15117
What we're currently doing to achieve this is use [https://github.com/smallrye/smallrye-open-api](https://github.com/smallrye/smallrye-open-api/tree/master/tools/maven-plugin) with the `output directory` pointing at the value in defined in `quarkus.smallrye-openapi.store-schema-directory` and `<attachArtifacts>true</attachArtifacts>` so basically "tricking" the smallrye-open-api maven plugin to pu

[2022-09-13 09:01] mkouba commented on #22101
Is `io.quarkus.arc.config.ConfigProperties` used internally by the spring compatibility layer?

[2022-09-13 09:06] aureamunoz commented on #27886
[code]

This error comes from [Stork using k8s client 5.x version]( https://github.com/quarkusio/quarkus/issues/6588#issuecomment-1241931998). The [PR](https://github.com/quarkusio/quarkus/pull/27839#issuecomment-1243670551) is in standby.

`quarkus-kubernetes-client` is needed when compiling natively because is this extension who does all the job

[2022-09-13 09:09] mkouba commented on #18588
We don't plan to support this in quarkus.

[2022-09-13 09:09] #18588 closed

[2022-09-13 09:12] geoand commented on #22101
Yes

[2022-09-13 09:13] zyc opened #27894 "Impossible to set quarkus.hibernate-orm.unsupported-properties."hibernate.cache.region.factory_class""
I'm trying to use Redisson as second level strategy on my project but it is impossible because that line in `quarkus-hibernate-orm` version `2.12.1.Final`:

https://github.com/quarkusio/quarkus/blob/13b15b1f87f40cf262a767fc7e6d9f34e37c778b/extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/boot/FastBootMetadataBuilder.java#L368

Because that, is useless set `quarkus.hi

[2022-09-13 09:13] phillip-kruger commented on #15117
Have you inspected the jar file that gets generated? The file might just be in there somewhere... I'll double check later

[2022-09-13 09:19] geoand commented on #27627
I actually have another idea which I'll try out soon and report back

[2022-09-13 09:20] mkouba commented on #22101
Hm, it seems that `@ConfigMapping` can only be used in interfaces which makes the migration path a bit more difficult...

[2022-09-13 09:26] michalvavrik commented on #27886
@aureamunoz alright, in that case, shouldn't it be explicitly said that if you don't have `quarkus-kuberentes-client` extension, it won't work in native? I didn't find it in the docs and recommendation does not state what will happen. I thought all the extensions are native ready.

[2022-09-13 09:34] yrodiere commented on #27894
Configuration set by Quarkus cannot be overridden and that's on purpose, so that people don't abuse `unsupported-properties` and send feature request instead.

And that worked: you just requested a way to set the region factory to something else than the default ;)

We should indeed probably add cache-related settings to the Hibernate ORM extension.

[2022-09-13 09:36] JamshedAlamQaderi commented on #21428
@geoand thanks for your help. Can you provide me the actual package for `@Suspend`

[2022-09-13 09:43] geoand commented on #21428
Sorry, I meant `@Scheduled`

[2022-09-13 09:44] JamshedAlamQaderi commented on #21428
I am using `io.quarkus:quarkus-scheduler`. Is that okay for coroutine?

[2022-09-13 09:46] zyc commented on #27894
You're right. I need to set some settings like:

[code]

I've realized the settings being ignored here:

![Captura de Tela 2022-09-13 às 05 52 41](https://user-images.githubusercontent.com/541500/189868603-d8edfbe1-b7c7-4b70-a1ed-8f90898401ad.png)

So would be nice if had a way to set the cache settings overriding the defaults. Thanks!

[2022-09-13 10:02] sberyozkin commented on #27876
The doc recommending how to control an image positioning is here: https://docs.asciidoctor.org/asciidoc/latest/macros/image-position/

But it is hard to test it - when I build the docs locally I see TOC at the top of the generated page so the image fits underneath it so I do not see the problem locally.
While on the main website the TOC is on the right so the image does not fit and goes below, not

[2022-09-13 10:03] geoand commented on #21428
Yes

[2022-09-13 10:04] geoand commented on #22101
Exactly right...

[2022-09-13 10:07] yrodiere commented on #27894
Looking closer at the code, it seems Quarkus is forcing a custom Infinispan local cache on purpose. That looks like a very deliberate choice, especially from what I can read in the documentation.

@Sanne any constraints that should make us think twice before allowing custom cache implementors?

[2022-09-13 10:34] radcortez commented on #27827
Weird. There is definitely a problem when REST endpoints are defined in interfaces, but regular endpoints should update the route name correctly. I've tried with a few sample endpoints. When we did the change, it didn't break the tests either, so maybe there are some other conditions that we are not picking up.

If you can get me a reproducer, it would be great.

[2022-09-13 10:43] #25981 closed

[2022-09-13 10:55] radcortez commented on #22101
There is some limited support for classes that I need to add for the MP `ConfigProperties` (it does not support nested elements). Ideally we would like to not have to support classes :)

[2022-09-13 10:56] janinko commented on #25981
Great thanks. However, It would be nice that the filter is also configurable from config file. Wildfly has it like this:
[code]
Note that the filters can also have properties like `pattern` here, that should be configurable from config too.

[2022-09-13 10:58] geoand commented on #25981
We tend to shy away from configuring class names in a configuration file as it's very error prone and IDEs can't really help users.

[2022-09-13 11:01] janinko commented on #25981
Fair enough, but I would really like the properties configurable.

[2022-09-13 11:02] geoand commented on #25981
`properties` of the filter you mean? As in the ability to set arbitrary fields in configuration?

[2022-09-13 11:03] janinko commented on #25981
Yup. I for example use a message pattern filter and would like to have the pattern configurable.

[2022-09-13 11:03] mkouba commented on #22101
@geoand would you care to work on this issue?

[2022-09-13 11:04] geoand commented on #25981
I understand the desire, but again that is something we really don't do in Quarkus.

[2022-09-13 11:05] geoand commented on #22101
It will be pretty low on my list of things to do :)

[2022-09-13 11:10] janinko commented on #25981
So how is this done in Quarkus? I believe that logging is something that should be widely configurable.

[2022-09-13 11:26] geoand commented on #25981
How is what done? Logging configuration you mean?
Normally, it would be done with CDI, but in this case I don't think it will fly as logging needs to be configured super early.

If for whatever reason you need to configure the filters introduced here, we could provide some kind of Customizer style interface, or even a way to provide a factory for the filter.

[2022-09-13 11:32] knutwannheden commented on #27827
It appears to be working correctly after all. I had some code which expected the HTTP route to be available already before the request completes (and the attribute gets updated). This was in the context on an interceptor on the JAAS annotations (`@RolesAllowed` etc.), which I use to perform "security logging".

I can however live with the fact that the HTTP route is not yet available until the ope

[2022-09-13 11:32] #27827 closed

[2022-09-13 11:34] knutwannheden commented on #27827
@radcortez Before stumbling over this I was however thinking about reporting a feature request to also get an `http.route` attribute for client spans, when these originate from an MP REST Client, where a route could be derived from the annotations. If you think this makes sense, I can create an issue.

[2022-09-13 11:34] cescoffier commented on #27886
@michalvavrik this one is an exception as it is only required when using the kubernetes discovery (which is not an extension, but a plain jar).

[2022-09-13 11:35] mkouba commented on #5400
I think that we can close this.

[2022-09-13 11:35] #5400 closed

[2022-09-13 11:37] rsvoboda commented on #27886
Shouldn't be the dependency on kube client defined directly for Stork Kubernetes Service Discovery? Native mode  experience should be on par with jvm mode experience (ideally).

[2022-09-13 11:43] janinko commented on #25981
Our usecase is that we have a Filter class that we use in all of our applications and want to configure each application to have different pattern that is being filtered.

It looks to me that this way it is implemented means that we would have to create custom subclass for each application with the pattern hardcoded and would need to recompile the application if we need the pattern to change.

[2022-09-13 11:46] #27870 closed

[2022-09-13 11:47] radcortez commented on #27827
We had that before, but we decided to remove it in https://github.com/quarkusio/quarkus/pull/26694. Please, check the following conversation: https://github.com/quarkusio/quarkus/pull/26694#discussion_r921022598

[2022-09-13 11:47] #27852 closed

[2022-09-13 11:51] geoand commented on #27627
https://github.com/quarkusio/quarkus/pull/27896 is what I have in mind

[2022-09-13 11:55] geoand commented on #25981
Sure, we want to avoid that.

The solutions I propose above would allow you do what you need

[2022-09-13 11:59] phillip-kruger commented on #27876
Hi @sberyozkin - I had a quick look, but no suggestions. I think this is a ascidoc thing that I do not know well enough to comment.

[2022-09-13 12:14] #26401 closed

[2022-09-13 12:17] aureamunoz commented on #27886
This way Stork should depend on Quarkus and and this is not desirable

[2022-09-13 12:22] #27668 closed

[2022-09-13 12:34] cescoffier commented on #27886
Yes, it would create a dependency cycle. We know this is now ideal.

[2022-09-13 12:34] mkouba commented on #22101
Ok, I can try to take a look. Do we actually have `@ConfigProperties` documented somewhere?

[2022-09-13 12:35] geoand commented on #22101
Not anymore I don't think

[2022-09-13 12:45] maxandersen commented on #27889
any use of http based apis, i.e. amazon, google, azure, kubernetes/openshift, would be my first thought.

[2022-09-13 12:53] aureamunoz commented on #27870
Yes, its kind of regression. I was just checking what the `ClientSendRequestHandler`did before but you were faster ;-)

[2022-09-13 12:55] maxandersen commented on #10354
closing as we have multiple ones now including windows. antyhing needed beyond that we open as individual issue.

[2022-09-13 12:55] #10354 closed

[2022-09-13 13:27] yrodiere commented on #27893
Thanks for reporting.

The fact that the behavior is different is annoying, no argument there.

However... I'd like to point out that your `Fruit` entity has *two* `name` fields: one in the mapper superclass, and one in `Fruit`. The one from the superclass never gets used and is always null as far as I can tell.

It's really a weird setup. Ideally, you would not repeat the `name` field in your `Fr

[2022-09-13 13:35] maxandersen commented on #24657
related discussions https://github.com/quarkusio/quarkus/discussions/25757

[2022-09-13 13:44] manofthepeace commented on #27844
@geoand  To be honest I did expect that outcome as I know I am abusing the filter at the moment. But I would still think it would be nice to have a way to change internal log messages I will explain my 2 use case, maybe it could be raised as an enhancement, without using filter, or maybe there's a way I just do now know, or maybe my case is just unrealistic and just wrong :) .

1- https://github.c

[2022-09-13 14:19] #26901 closed

[2022-09-13 14:36] sberyozkin opened #27900 "Some OIDC tests have become flaky"
### Describe the bug

Looks like some instability has been introduced after the upgrade to KC 19.0.1 - as no significant changes have been made to `CodeAuthenticationMechanism`.

I've just seen `CodeFlowTest.testTokenAutorefresh` failing in one of the PRs.
I've seen a few more tests failing randomly.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

[2022-09-13 14:51] yrodiere commented on #27893
I reproduced the issue in plain Hibernate ORM; the problem is not in Quarkus: https://hibernate.atlassian.net/browse/HHH-15505
Will try to address the problem in ORM.

[2022-09-13 14:57] faskan commented on #27893
@yrodiere Thank you for picking it up.

I agree, it is a weird setup. Unfortunately the repository that I am working on (to migrate) is a legacy code with hundreds of such usages. Refactoring it like you suggested would mean a lot of effort. I'm looking forward for a better alternative.

[2022-09-13 14:59] Chexpir opened #27901 "RestClient Reactive - set HostnameVerifier or SSLContext"
### Description

There is a [known limitation](https://quarkus.io/guides/rest-client-reactive#known-limitations) on RestClient Reactive, we cannot set a HostnameVerifier or SSLContext.

We have switched back to rest-client-mutiny for now, even if it's deprecated, but it would be useful to get this done, so we can move back towards a fully reactive service.

Do we know the priority of this feature?

[2022-09-13 15:05] ctron commented on #27154
I am running into the same issue. I have a quite basic mapping of:

[code]

Which results in an unexpected 404. In the `/404` page I can see the endpoint (`/api/deviceClaims/v1alpha1/simulator`):

![image](https://user-images.githubusercontent.com/202474/189937422-91adce97-a7fa-484b-8a92-63b081b965e0.png)

But it also seems weird that it is listed beneath the `/api/deviceClaims/v1alpha1` resource.

[2022-09-13 15:11] mkouba commented on #22101
Furthermore, `@ConfigPrefix` is a qualifier that can be used on an injection point. So that you can reuse one `io.quarkus.arc.config.ConfigProperties` definition for multiple prefixes. This is probably also something that cannot be implemented via `@ConfigMapping`...

[2022-09-13 15:21] ctron commented on #27154
Please ignore my previous comment (deleted it). The 404 error was coming from an 404 exception, which bubbled up the chain. Unfortunately it wasn't possible (at least to me) to distinguish it from a "404 page not found" case.

[2022-09-13 15:21] tmulle commented on #27389
@mkouba @sberyozkin

Was just wondering if either of you had a suggestion on how to handle server side logins via code using the standard http mechanism as I mention above?

We'd like to use JFF/Primefaces customized Login forms so we can support validation of fields (missing password, username, etc) BEFORE the form is posted to the server. And the only way I know of is to use a backing bean which

[2022-09-13 15:21] geoand commented on #27901
@Sgitario would you be willing to look into lifting this restriction?

[2022-09-13 15:28] bcluap opened #27902 "OpenAPI Regression: Duplicate path params in generated openapi json as of 2.12"
If a REST resource references a path param in its method signature, and a sub resource references the same path param, then the generated openapi json has the parameter in it twice and it fails OpenAPI validation in tools like readme.com and https://validator.swagger.io/

E.g.

REST resource:
[code]
Sub resource (paymentResource):
[code]

OpenAPI generated by Quarkus 2.12:
"/{paymentId}/refunds" :

[2022-09-13 15:30] fedinskiy opened #27903 "Support Qute "Array" operations over Lists"
### Description

According to the guide[1] Qute can use some convenience operators when accessing arrays(length, access by index, virtual method "get" and so on). It would be convenient, if the same methods could be used when accessing lists.

Examples
1. This works
[code]

2. This fails
[code]

Since generally it is more convenient to use Lists as variables and, especially, class fields, lack of

[2022-09-13 15:31] MikeEdgar commented on #27902
I'll review this in detail soon - opened upstream issue as well https://github.com/smallrye/smallrye-open-api/issues/1256

[2022-09-13 15:40] #27892 closed

[2022-09-13 15:42] geoand commented on #27901
I should note that it's entirely possible that we will need changes in Vert.x to support this

[2022-09-13 15:42] MikeEdgar commented on #27902
@bcluap as a short-term work-around, can you remove the arguments from `getPaymentResource` or are they required in your application in a way not shown in the code sample?

[2022-09-13 15:43] cescoffier commented on #27901
Vertx does not provide such a feature. So, I don't believe we can provide that feature. However, you can enable the trustall feature which will by-pass the verification.

[2022-09-13 15:46] cescoffier commented on #27901
The SSL context approach may work with vertx 4.3.4 (some rework around ssl has been achieved, it should provide such an option)

[2022-09-13 15:50] tarsij commented on #27777
Thanks a million @zakkak

[2022-09-13 16:03] geoand commented on #25981
It's just a proposal for now 🙂

[2022-09-13 16:39] itatdcer opened #27904 "Kafka configuration reported as unknown config"
### Describe the bug

I have configured a property for a kafka incoming topic which quarkus report as unknown:
`mp.messaging.incoming.topic-test1-in.pause-if-no-requests=false`

The documentation has this propertties available to use but I get a warning on startup:
`2022-09-13 17:34:03,125 WARN  [org.apa.kaf.cli.con.ConsumerConfig] (main) The configuration 'pause-if-no-requests' was supplied but i

[2022-09-13 17:10] sberyozkin commented on #27900
`io.quarkus.it.keycloak.CodeFlowTest.testRPInitiatedLogout` is failing as well.

I'll have a look tomorrow, but if necessary a PR updating to KC 19.0.1 can be temp reverted and check if it makes it more stable, @gsmet, let me know please what you prefer

[2022-09-13 17:12] gsmet commented on #27900
@sberyozkin I plan to disable all the flaky tests on Thursday afternoon. So if you can fix them by then, fine :).

[2022-09-13 17:16] #11710 closed

[2022-09-13 17:16] sberyozkin commented on #27900
@gsmet Sure, I'll investigate, I'm 99% sure it is a test-only problem, might be timeout related used in these tests, so might be able to improve it...

[2022-09-13 17:36] gsmet commented on #27900
I'm not totally sure it's just that. For some of them, the HTTP status is incorrect.

[2022-09-13 17:42] sberyozkin commented on #27900
At the moment if the refreshing the token fails then a flow terminating `AuthenticationCompletionException` is thrown leading to `401` - but failing refreshing the token should really re-initiate the login with `302` - I'm changing it in another PR too...

[2022-09-13 18:09] ozangunalp commented on #27904
The `pause-if-no-requests` log is already fixed upstream, and will soon land in Quarkus. \
The `group-id` log comes from the global kafka broker health check. We pass the default kafka configuration directly to the admin client we use to check the cluster.
We cannot filter for only admin config keys, as there can be security related config as well, but we can at least filter out the `group.id`.

[2022-09-13 19:11] mkouba commented on #27903
For lists you should use `{colors.size}`. I tend to disagree that we should treat arrays as lists although it's a very similar data structure. If we support array operations on lists we should also support list operations on arrays, or? Also do you expect that [additional List operations](https://quarkus.io/guides/qute-reference#lists) would work for arrays as well?

[2022-09-13 20:08] sixcorners opened #27906 "@TransientReference results in @Dispose method being called multiple times"
### Describe the bug

If I use TransientReference the injected bean gets disposed more than once.

### Expected behavior

Produced beans should be disposed once and only once.

### Actual behavior

Produced beans are disposed of multiple times if TransientReference is used.

### How to Reproduce?

1. Have a produce method require a different TransientReference bean that has a dispose method.
2. Wa

[2022-09-13 20:52] michalvavrik commented on #27180
@sberyozkin I re-read docs now and following paragraph

_In some cases such a default logic of selecting the challenge is exactly what is required by a given application, but sometimes it may not meet the requirements. In such cases (or indeed in other similar cases where you'd like to change the order in which the mechanisms are asked to handle the current authentication or challenge request), yo

[2022-09-13 21:02] jorsol opened #27907 "Failed to index ResteasyJackson2Provider using the keycloak-admin-client-reactive extension"
### Describe the bug

The `quarkus-keycloak-admin-client-reactive` extension excludes dependencies from classic RESTEasy including org.jboss.resteasy.plugins.providers.jackson.ResteasyJackson2Provider.

The keycloak-admin-client dependency has a `JacksonProvider` class that extends `ResteasyJackson2Provider`.

When Quarkus is building the app, it prints a `WARNING` that can't index the `org.jboss.

[2022-09-13 21:18] michalvavrik commented on #27180
https://github.com/quarkusio/quarkus/issues/22206 https://github.com/quarkusio/quarkus/pull/22483 https://github.com/quarkusio/quarkus/issues/22404 gave me an idea, I'll try to figure it out on my own.

[2022-09-13 21:25] michalvavrik commented on #26296
I'll have a look.

[2022-09-13 22:31] lppedd commented on #16355
Is this still valid?
I've built native executables on Windows, and I've noticed the Micronaut starter project measures at around 200-250ms for `-h`, while the Quarkus one at around 350ms+. Is this to be expected?
It's not a big deal, but it's noticeable.

[2022-09-14 02:29] iedwin commented on #27831
Tested GEO commands(geoadd/geodist/geosearch) by runing quarkus v2.12.2.Final in redis cluster 6.2.6 and 7.0.4 and all worked well.

[2022-09-14 02:57] fabrii commented on #22204
With *ToOne attributes is another history:

Given:

[code]

and this test:

[code]

When running the test in hibernate-orm 5.6 branch, it works correctly. When doing ret.getRefEntity().getClass().getCanonicalName(), I am getting org.hibernate.envers.test.entities.collection.MultipleRefEntity$HibernateProxy$sP2hnRhO

When running the test in the last release of Quarkus, it does not work. When doing

[2022-09-14 03:34] zhfeng opened #27911 "Support to restart the test container during the transaction crash recovery"
### Description

In https://github.com/quarkusio/quarkus/issues/26160 we need a way to test crash recovery. Basically we need to be able to crash and restart the test container and then verify that transactions are recovered.

### Implementation ideas

_No response_

[2022-09-14 04:04] #26160 closed

[2022-09-14 05:28] geoand commented on #27844
Thanks for explaining the use case. I agree that it does seem useful at times, unfortunately `java.util.logging` does not seem to have a mechanism for updating the record.

[2022-09-14 05:30] geoand commented on #27907
Thanks for reporting @jorsol!
Would you like to take a stab at fixing this?

[2022-09-14 06:16] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3050362942

[2022-09-14 06:31] cescoffier commented on #27904
I would add that these warnings are totally normal. If you write a serializer/deserializer/partitioner/interceptor.... anything that receives a config will display these warnings.

We can clean up the configuration with what we know is unrelated, but imagine that your _thing_ requires the `group.id` config. It won't receive it. So, we need to clean up per target (consumer/producer/admin) and make

[2022-09-14 06:45] knutwannheden opened #27912 "Deadlock on exit in Dev Mode"
### Describe the bug

I have a few times observed that the dev-mode can deadlock when trying to quit (e.g. by pressing `q` or `ctrl-c`). This time I connected with the debugger and got the thread dumps.

### Expected behavior

_No response_

### Actual behavior

[code]

[code]

[code]

### How to Reproduce?

I cannot reproduce this reliably, but I hope the thread dumps will help analyze and resolv

[2022-09-14 06:48] fedinskiy commented on #27903
Ok, in that case my suggestion would be "put all datatypes closer in the guide"(Arrays are in 3.4.5 and all other are in 4.6.4) :) Thank you, I guess this solves myproblem.

[2022-09-14 06:48] #27903 closed

[2022-09-14 07:27] iedwin opened #27913 "quarkus-redis-client: 'fromCoordinate(double, double)' has private access in 'io.quarkus.redis.datasource.geo.GeoSearchArgs' blocking my usage of geosearch FROMLONLAT"
### Describe the bug

According to the manual of Redis geosearch command, it supports to calculate the nearist points from the given longitude and latitude as below. However when I want to use this command via quarkus-redis-client, I found the GeoSearchArgs.fromCoordinate() had private access thus I couldn't use it in my code. I believe this method should have public access as the same as GeoSearc

[2022-09-14 07:30] mkouba commented on #27906
@sixcorners Thanks for reporting! The issue should be fixed in https://github.com/quarkusio/quarkus/pull/27914.

[2022-09-14 07:37] mkouba commented on #27903
Well, this is on purpose. Arrays are described in the core because they're handled specifically. You can call existing methods from collections and maps but 4.6.4. is about additional operations implemented by template extensions (e.g. `{list.reversed}`).

[2022-09-14 08:18] yrodiere commented on #22204
Where are you getting that exactly? I don't see you calling `toString` in this test.

Also, I'm a bit surprised that you expect the association to be lazy, since it's a `@ManyToOne`, and those are eager by default... ? (See `javax.persistence.ManyToOne#fetch`)

Note I'm not saying there's no bug; just trying to clarify the expectations and what you're seing.

Careful about that, it might still be

[2022-09-14 08:18] #26890 closed

[2022-09-14 08:21] yrodiere commented on #22204
This difference is actually meaningless, since Quarkus relies on bytecode enhancement for proxies, so you're unlikely to *ever* see a `HibernateProxy` class in Quarkus (except in very specific cases). An instance of `mypackage.MultipleRefEntity` could very well be an uninitialized proxy.

[2022-09-14 08:27] Sanne commented on #22204
Right, be careful about expecing a particular class to be used to model a relation.
Tests should cover semantics, implementation details aren't guaranteed to be stable and would depend on various factors - such as the relation being nullable, type of enhancement being applied, etc..

[2022-09-14 08:29] #27066 closed

[2022-09-14 08:34] Sanne commented on #27784
Honestly I don't see much value in migrating away from the existing options. What's the point - are we actually terrified that some of these might cease to exist?
Surely that would happen in a minor, no? Which gives us ample time to react - but most importantly it's hypotethical, it might never be a problem.

[2022-09-14 08:34] mkouba commented on #27876
You can add `:toc-position: right` just bellow the `:toc:` and you should see the TOC on the right. On the other hand, it's always better to send a pull request so that the bot renders the preview of the website and adds a link to the comment ;-)

However, `float=left` does not seem to help. It looks like the image is not scaled down to fit the width.

But I'm no asciidoc expert either :-(

[2022-09-14 08:43] #1204 closed

[2022-09-14 08:50] mkouba commented on #27876
Something like `image::authorization_code_flow.png[alt=Authorization Code Flow,width="60%",align="center"]` seems to work but no guarantee :-)

[2022-09-14 08:50] geoand commented on #25981
@janinko can you take a look at https://github.com/quarkusio/quarkus/pull/27917?

The test I changed should give you a pretty good idea of how users would configure such filters.

WDYT?

[2022-09-14 08:51] rsvoboda opened #27918 "mail extension - `socket was closed unexpected` when shutting down the app"
### Describe the bug

mail extension - `socket was closed unexpected`when shutting down the app

[code]

Based on the discussion with @cescoffier
 - we keep a connection opened with the SMTP server
 - we are closing the connection, but the server didn't say BYE (yet)
 - so, we abruptly cut it (as we are shutting down)

AIs:
 - have a note in mailer reference guide
 - update the error message to me

[2022-09-14 08:53] ozangunalp commented on #27661
Quarkus Kafka Streams extension doesn't set default serdes itself or force setupping default Serdes. I don't know the exact topology you are building, but your issue must come from the topology itself.

[2022-09-14 08:59] zakkak commented on #27784
I wouldn't say "terrified", but there is indeed chance they might cease to exist (we have seen it happen with other options in the past, see the `Deprecated` options in [NativeConfig](https://github.com/quarkusio/quarkus/blob/68bea9cfe0c2677f9c7b6eb26ea87cb8845eb9f1/core/deployment/src/main/java/io/quarkus/deployment/pkg/NativeConfig.java)).

Not necessarily, there is no such commitment from upstr

[2022-09-14 09:03] rsvoboda opened #27919 "mailer - endpoint invocation stays blocked when having mailer misconfigured"
### Describe the bug

mailer - endpoint invocation stays blocked when having mailer misconfigured

when I used config based on https://quarkus.io/guides/mailer#configuring-the-mailer and invoked `curl localhost:8080/mail/` I got warning and error in log
[code]

But curl command didn't finish, still waiting for response.
And I had to interrupt it using `Ctrl+C`

Endpoint invocation shouldn't be blo

[2022-09-14 09:04] rsvoboda commented on #27919
/cc @cescoffier

[2022-09-14 09:12] Chexpir commented on #27901
Thanks everybody for your prompt responses. If HostnameVerifier support is not achievable, SSLContext support is still good for our requirements.

trust-all operates in the app level, and we have the need to trust only _some_ of the Rest Clients.

When I said "at least HostnameVerifier" I thought it would be easier, but I am totally happy without HostnameVerifier, as SSLContext will perfectly be v

[2022-09-14 09:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3050364675

[2022-09-14 09:22] Sanne commented on #27894
Quarkus was meant to be an opinionated platform; standardizing some components was meant to make our life much simpler, and also provide great value for end users: we'd all be able to move over from the times in which platform maintainers would not take responsibility for the odd behavious of "3rd party" libraries maintained by a different community.

For example we made Agroal the mandatory datas

[2022-09-14 09:37] Sanne commented on #27784
Well ok if you badly want to change this, feel free to go ahead and explore that option; personally I'm not too concerned and would hope you don't spend too much time on it.

[2022-09-14 09:47] gsmet commented on #27913
My plan is to release 2.12.3.Final next Tuesday. It will contain this fix.

[2022-09-14 09:50] iedwin commented on #27913
Got it, thanks for your quick reply!

[2022-09-14 09:50] #27913 closed

[2022-09-14 10:08] gsmet commented on #27919
Probably a good idea to get a stacktrace of the stuck thread.

[2022-09-14 10:11] jessydeclerck commented on #26922
Hello, I have the same issue.

 I've also noticed that when I put a breakpoint in :https://github.com/quarkusio/quarkus/blob/94024509974b65ca00b99d09bbb094482da8b63c/extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/exceptionmappers/SecurityExceptionMapperUtil.java#L19
The 401 response is returned before this method is fully ex

[2022-09-14 10:22] sberyozkin commented on #27180
@michalvavrik Apologies, seeing/reading your analysis only now as I've noticed your PR...

[2022-09-14 10:22] michalvavrik commented on #27180
np

[2022-09-14 10:23] rsvoboda commented on #27919
Full thread dump by jstack command - [jstack.txt](https://github.com/quarkusio/quarkus/files/9565419/jstack.txt)

[2022-09-14 10:28] lppedd opened #27923 "[Windows Native] UnsatisfiedLinkError using Quarkus Picocli with Jansi"
### Describe the bug

Starting from a fresh Quarkus CLI application, add the `picocli-jansi-graalvm` dependency

[code]

Initialize Jansi in your main class

[code]

Package with
[code]

Run, and you'll see the result:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output

[2022-09-14 11:05] ozangunalp commented on #27873
I think we can close this
- Quickstart fixed https://github.com/quarkusio/quarkus-quickstarts/pull/1174
- 2.13 Migration guide updated : https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.13
- Descriptive logging fixed : https://github.com/smallrye/smallrye-reactive-messaging/pull/1889

[2022-09-14 11:11] famod commented on #27901
My 2 cents:

How would an implemetation look like that tries to mimic `io.quarkus.restclient.NoopHostnameVerifier`?
As already mentioned, the manager approach would probably _not_ verify much more than just the host?
Could Quarkus provide such a "workaround" manager OOTB?

Also, I assume that with this workaround, Quarkus would still properly set up the `KeyManager`?
Reason I'm asking is that it's

[2022-09-14 11:13] famod commented on #27901
+💯

[2022-09-14 11:18] geoand commented on #27901
I personally think that if we properly document how to address the common concerns, we don't really need to have `HostnameVerifier` "emulation".

[2022-09-14 11:22] radcortez commented on #22101
We don't support such a feature with `@ConfigMapping`. I don't believe we had users complaining about it, so I wonder how useful this feature is. Maybe we can drop it?

`@Vetoed` is only added to the MP `@ConfigProperties`, not `@ConfigMapping`. This is because MP `@ConfigProperties` may be recognized as managed beans and we need to use a configurator bean to provide the actual implementation. May

[2022-09-14 11:34] sberyozkin commented on #27876
Thanks @mkouba :-). I wonder how can we check it before opening a PR ? In my local builds I can see TOC on the top, the image - beneath it. @gsmet are you OK if we'll keep experimenting with @sheilamjones and submit a few PRs and see if the page in snapshot docs site looks OK ?

[2022-09-14 11:35] famod commented on #27901
My point is that it's not _that_ rare to skip hostname verification, so it would be much more developer friendly if Quarkus would close that gap by shipping something that can be used OOTB.
Otherwise people woud need to implement their own Manager and carry it around from project to project to cover a concern that most would expect to be just a flag to enable. Just saying. 😉

[2022-09-14 11:41] famod commented on #27901
Agreed!
In the end I just need the client to _not_ verify the hostname (_without_ skipping every other verification), so I don't need such a layer.

[2022-09-14 11:41] Sgitario commented on #27901
If what we want is to skip the hostname verification, we can achieve this by setting 'verifyHost(false)'. All we would need is to add a new property for setting this flag.

[2022-09-14 12:09] JiriOndrusek opened #27929 "Quartz: Do not create QuartzScheduler bean, if it is not used."
### Description

I'm working on the camel-quarkus (issue https://github.com/apache/camel-quarkus/issues/4076). I encountered a problem.
Camel Quartz component is trying to autowire a quartz scheduler (recent change - https://issues.apache.org/jira/browse/CAMEL-18143).
**Before** Camel change - the scheduler was created in the component.
**After** the change -  Quarkus's Quartz scheduler is created

[2022-09-14 12:10] JiriOndrusek commented on #27929
If the proposed solution is "approved", I can work on this issue.

[2022-09-14 12:39] pdolezal opened #27930 "Wrong dependency version provided with Maven 3.8.5"
### Describe the bug

We encountered an interesting bug, which may or may not be a problem of the Quarkus Maven plugin, but might deserve verification to prevent similar problems to occur in the future, because the plugin relies on some subtleties that break under some circumstances.

The build produced a deliverable with a lower `com.fasterxml.jackson.core.jackson-core` library version than Maven

[2022-09-14 12:46] fabrii commented on #22204
Thanks for the feedback.

Is there a way to run the hibernate-orm tests with Bytecode Enhancement enabled?

I know that *ToOne associations are eager in JPA, but that was not the case with Envers. As you can see in my hibernate-orm test, Hibernate.isInitialized returned false for a ManyToOne association, and the object had the HibernateProxy class.

See adamw message in https://developer.jboss.org

[2022-09-14 12:48] gsmet commented on #27930
@aloubyansky that's probably one for you.

[2022-09-14 12:49] yrodiere commented on #22204
All of them? Not that I know. There are dedicated tests though, those that use `@RunWith(BytecodeEnhancerRunner.class)`.

[2022-09-14 12:50] yrodiere commented on #22204
Interesting. If that's on purpose, this could indeed be an unintended regression when bytecode enhancement is enabled.

[2022-09-14 13:02] Sanne commented on #22204
Adam only said "all relations are lazy", but I don't think that implied _ToOne relations as well as that's not technically possible unless they are marked as non-nullable.
We can't convert a lazy proxy to "null" on initialization if we discover the _one element it's pointing to didn't actually exist.

[2022-09-14 13:05] fedinskiy opened #27931 "Qute guide says parity properties are based on zero-based index, but they are based on one-based index"
### Describe the bug

According to the Qute guide[1], loops have several properties for accessing parity metadata, namely `odd`, `even` and `indexParity`. The guide says their output is based on zero-based "index"(as opposed to one-based "count").
Zero-based index means, that the first element has index 0 and the second has index 1, so the reader may assume, that the first element would be even(0

[2022-09-14 13:09] majguo opened #27932 "Quarkus extensions for Azure services"
### Description

This repository will host Quarkus extensions for different Azure services, e.g.:
- [Key Vault](https://azure.microsoft.com/services/key-vault/)
- [App Configuration](https://docs.microsoft.com/azure/azure-app-configuration/overview)
- [Cosmos DB](https://docs.microsoft.com/azure/cosmos-db/introduction)
- [Blob storage](https://docs.microsoft.com/azure/storage/blobs/storage-blobs-i

[2022-09-14 13:27] lthasle commented on #26857
@cescoffier
Any news on this?
Will it be fixed in: #27443

[2022-09-14 13:30] cescoffier commented on #26857
Ah yes! Sorry! It should be fixed in the release that should go out today (CR1).

Basically, as you saw the contextual data was lost. It's not the case anymore.

It would be great if you could verify, and let us know.

[2022-09-14 13:31] csscriptplus opened #27934 "kubernetes init container value wrong in yaml"
### Describe the bug

**My maven build has following parameters:**

- -Dquarkus.kubernetes.init-containers."init-containers".image=curlimages/curl:latest
- -Dquarkus.kubernetes.init-containers."init-containers".command=["sh","-c"]
- -Dquarkus.kubernetes.init-containers."init-containers".arguments=["while [ $(curl -sw '%{http_code}' http://nexus.xxx.local -o /dev/null) -ne 200 ]; do sleep 2; done"]

[2022-09-14 13:33] rsvoboda commented on #16522
/cc @geoand @Sgitario

[2022-09-14 13:52] fabrii commented on #22204
Good! If you think it might help, I can start by coding Hibernate.isInitialized tests with and without Bytecode Enhancement in Envers at hibernate-orm (5.6 or main branch ?)

The implementation of this Envers feature are in this two classes:
- https://github.com/hibernate/hibernate-orm/blob/main/hibernate-envers/src/main/java/org/hibernate/envers/internal/entities/mapper/relation/ToOneIdMapper.jav

[2022-09-14 13:52] melloware commented on #27932
I would love this!  1 thing is I ran into Native Image issues with Quarkus using Azure Blob Storage due to this issue: https://github.com/Azure/azure-sdk-for-java/issues/30332

[2022-09-14 13:54] mkouba commented on #27931
That's a bug. I think that we should keep the current behavior: (a) it's more intuitive and (b) we don't want to break compatibility. However, we'll need to fix the docs and also fix the [code here](https://github.com/quarkusio/quarkus/blob/main/independent-projects/qute/core/src/main/java/io/quarkus/qute/LoopSectionHelper.java#L269-L303), i.e. for the `odd` property we should return `(count % 2 !

[2022-09-14 13:57] yrodiere commented on #22204
For the collection problem? Sure it would help, thanks. Better submit a PR to the main branch; backporting to 5.6 is another story.

By the way, for the collections, if the fix is just about adding an interface and extending it in both `PersistentCollection` and envers' collections, writing the tests is probably 90% of the work, so you can probably submit the fix along with the tests :)

Don't for

[2022-09-14 13:59] rsvoboda commented on #27873
When is `3.20.0` planned for release? And will it make it into Quarkus 2.13 branch?

[2022-09-14 14:06] #27932 closed

[2022-09-14 14:08] gastaldi commented on #27932
Welcome to the Quarkiverse! :)

The repository was created in https://github.com/quarkiverse/quarkus-azure-services and permissions were granted to the team members.

Please follow the checklist in  https://github.com/quarkiverse/quarkiverse/wiki/Checklist#after-the-repository-is-created with the next onboarding steps.

[2022-09-14 14:10] fedinskiy commented on #27931
@mkouba I totally agree, that we should keep the current behavior. That is why I do not see any reason to "fix" the code, since `even` and `odd` work as expected.

I presume, you want to change the code use new variable "count", and not existing[1] field "index", but to keep its behavior intact, is that correct?

[1] https://github.com/quarkusio/quarkus/blob/main/independent-projects/qute/core/src

[2022-09-14 14:13] ozangunalp commented on #27873
I'll try to open the version bump PR this week for 3.19.0 but it doesn't include the last item.
3.20.0 should follow shortly. But I don't know which Quarkus milestone it'll correspond.

[2022-09-14 14:28] mkouba commented on #27931
Exactly.

[2022-09-14 14:33] javaduke opened #27935 "Please add support for Caffeine JCache"
### Description

Caffeine has support for JCache (https://github.com/ben-manes/caffeine/tree/master/jcache) but it is not supported by Quarkus. Yet it may be useful to support it as it can be used, for example, in `camel-quarkus` by the `camel-quarkus-jcache` extension.

### Implementation ideas

I think all it takes is modifying the existing `caffeine` extension by adding one dependency and one c

[2022-09-14 14:37] jerboaa commented on #27791
In terms of image size this means: `62.90MB` with the bug vs. `54.84MB` without on GraalVM 22.3-dev. That's `~8MB`. The workaround is to pass `-H:NeverInline='io.quarkus.jdbc.postgresql.runtime.graal.DomHelper.obfuscatedMethodName'`. I'll see if I can come up with a patch to fix it.

[2022-09-14 14:38] famod commented on #27930
Just to rule that out: have you tried Maven 3.8.6 and/or latest dependency-plugin?

[2022-09-14 15:09] sberyozkin commented on #5751
@michalvavrik Hi Michal, I think as far as the immediate impact on the Quarkus security is concerned, this one will likely have the biggest one. So please add it the list of the sec issues are are looking at :-)

[2022-09-14 15:11] michalvavrik commented on #5751
@sberyozkin Thanks, I'm always looking for new list items :-) I'll have a look later this week.

[2022-09-14 15:12] sberyozkin commented on #5751
@michalvavrik Sounds good, take your time please :-)

[2022-09-14 15:45] edeandrea commented on #23612
@geoand

FYI @radcortez has a fix in place on quarkusio/quarkus-super-heroes#138 but the fix requires things that aren't available in 2.12.x.

Therefore that PR cannot be merged until 2.13 is out, which means that this will continue to fail each day until 2.13 is out.

[2022-09-14 15:59] aaronanderson opened #27939 "Multi-Factored Authentication (MFA) Enhanced Form Based Authentication Extension"
### Description

A prototype is available here: [quarkus-form-mfa](https://github.com/aaronanderson/quarkus-form-mfa)

This optional extension would satisfy industry standard MFA requirements for Quarkus web applications where the built-in authentication mechanisms are insufficient and OIDC configuration is impractical. The ideal uses for this extension is for administrative web applications where

[2022-09-14 16:04] geoand commented on #23612
`2.13.0.CR1` is being released - it would actually have been out already if there weren't problems with Sonatype's release server

[2022-09-14 16:06] edeandrea commented on #23612
Yeah I'm fighting the maven central thing with other projects :) Good to know about 2.13.0.CR1, but I'm hesitant to merge an update to a non-released quarkus version to the superheroes `main` branch. What are your thoughts on that?

[2022-09-14 16:12] geoand commented on #23612
By non released do you mean non-final?

[2022-09-14 16:13] edeandrea commented on #23612
Yes

[2022-09-14 16:14] geoand commented on #23612
I would say that CRs are pretty stable

[2022-09-14 16:26] sberyozkin commented on #27900
`io.quarkus.it.keycloak.CodeFlowTest.testRPInitiatedLogout` fails because Keycloak returns a `"error":"invalid_grant","error_description":"Token is not active"}` message when a refresh token is used to refresh the tokens - in this case `quarkus-oidc` will indeed request a redirect to Keycloak - but the session at the Keycloak level is still active and the redirect loop starts eventually leading to

[2022-09-14 16:27] sberyozkin commented on #27900
I suspect all the other random test failures are related to this inactive refresh token case.
Forgot to add - I managed to get avoid this error once...

[2022-09-14 16:30] edeandrea commented on #23612
Do you know when 2.13.0.Final is slated for?

[2022-09-14 16:33] geoand commented on #23612
Next week

[2022-09-14 16:35] sberyozkin commented on #27900
Keycloak returns a refresh token which is valid for 14 secs, but it fails after about 7 secs

[2022-09-14 16:35] edeandrea commented on #23612
Then I think we'll just hold off for that since 2.13.0.CR1 isn't even available.

[2022-09-14 17:02] aaronanderson opened #27942 "Multitenancy Extension"
### Description

A prototype is available here: [quarkus-multitenancy](https://github.com/aaronanderson/quarkus-multitenancy)

Quarkus already has some multitenancy support via the [OIDC extension](https://quarkus.io/guides/security-openid-connect-multitenancy). This extension provides high level multitenancy support that other Quarkus extensions or web-based applications can utilize to tailor ind

[2022-09-14 17:07] cescoffier commented on #27873
That issue should be closed.
3.20.0 log fix is nice to have, but not something required.

[2022-09-14 17:07] #27873 closed

[2022-09-14 17:08] GavinRay97 opened #27945 "[OTEL]: Setting OTEL Java Agent option in `application.properties` does not work"
### Describe the bug

I am trying to disable a feature which strips all whitespace from traced SQL queries:
- https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/#db-statement-sanitization

According to [this](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6610) issue, I should set:
`otel.instrumentation.common.db-statement-sanitizer.enabled=false

[2022-09-14 17:08] cescoffier commented on #26857
Ok due to Sonatype being picky (ask @gsmet), it may be only released tomorrow.

[2022-09-14 17:26] holly-cummins opened #27946 "Documentation on how to use extensions (as a user)"
### Description

We have lots of documentation on how to write extensions, but less on how to use them, and nothing that's neatly gathered up in one place. I'm looking for something I can link to as "What are extensions? How to use extensions?".

### Implementation ideas

The page at https://access.redhat.com/documentation/en-us/red_hat_build_of_quarkus/1.3/html/developing_and_compiling_your_quark

[2022-09-14 17:31] cescoffier commented on #27919
So... there is a bug and a workaround.
The is a bug in the Vert.x Mailer which emits auth command asynchronously when there is a chain, but seems to forget to report in some cases. I will open an issue on the Vert.x mailer (@vietj for your info).

The workaround  consists of not using auth chain, and just adding:
[code]

[2022-09-14 17:36] cescoffier commented on #27919
Issue opened: https://github.com/vert-x3/vertx-mail-client/issues/186

[2022-09-14 17:51] Joofthan opened #27947 "quarkus.platform.version not in config sources"
### Describe the bug

The property "quarkus.platform.version" is not available.

It is listed in the Guide: https://quarkus.io/guides/all-config

### Expected behavior

Response with Text:
"Quarkus Version: 2.12.2.Final"
 or
"Quarkus Version: 999-SNAPSHOT"

### Actual behavior

Failed to load config value of type class java.lang.String for: quarkus.platform.version

### How to Reproduce?

Empty Qu

[2022-09-14 18:43] lgarin opened #27949 "@Transactional on default method"
### Describe the bug

The `@Transactional` annotation is not observed by Quarkus if placed on a default method. If such a method is used to persist an entity then the call will fail with a `TransactionRequiredException`.

**Example**
[code]
**Example**
[code]

### Expected behavior

A default method annotated with `@Transactional` must start a transaction if no current transaction is active.

###

[2022-09-14 18:44] mariuszbozek commented on #27661
Hi, I fixed the issue. The problem was with my topology. In the first step I created KStream object and then I doing some aggregation but as separate blocks of code so KStream force in second step to use right Serde

[2022-09-14 18:45] #27661 closed

[2022-09-14 19:58] AdlerFleurant opened #27950 "Generate Code fails if project dependencies do not include a main SourceSet"
### Describe the bug

For Gradle, the task `quarkusGenerateCode` fails if a project dependency does not have a `sourceSet` called exactly `main`.

### Expected behavior

Building a project should work even if a project dependency does not have a `sourceSet` called `main`.

### Actual behavior

Gradle fails with the following error:

[code]

### How to Reproduce?

Reproducer: https://github.com/Adl

[2022-09-14 20:02] csscriptplus commented on #27934
@geoand it doesn't work.
[code]

[2022-09-14 22:26] #27180 closed

[2022-09-14 22:27] GavinRay97 commented on #27945
If I manually set it in my Quarkus Application main it works 🤔
When I log the value, it logs `null`:

[code]

[2022-09-14 22:33] sberyozkin commented on #27939
Hi @aaronanderson It is a nice quality effort - please pursue it further in quarkiverse if you'd like.
I'm not sure though what kind of message we'd like to send with such an extension - according to the description it can be used when OIDC is too excessive, but I wonder is it really excessive - the provider manages the users, MFA if needed, etc, and a lot of effort has to go into this new extensi

[2022-09-14 22:36] sberyozkin commented on #27939
If you decide to keep going with it in Quarkiverse then consider renaming it to `quarkus-form-mfa` as `quarkus-mfa` is a too generic name

[2022-09-15 02:20] aaronanderson commented on #27939
Hi @sberyozkin , thanks for the feedback. I would like to pursue adding the extension to Quarkiverse if there are no objections.
I agree OIDC should be the strongly recommended as the primary means of protecting Quarkus web applications. This extension really serves two use cases:

1. Delegated OIDC configuration administration - I am building a multi-tenanted Quarkus web application where clients

[2022-09-15 05:14] Sgitario commented on #27934
I think the problem is that you're wrapping the values with `[...]` in the `command` and `arguments` properties. These properties are a comma-separated list. Instead, I tried with:

[code]

And the output looks better:

[code]

Note the stripping of the `args` value (it's in two lines because it's too long). I think this is automatically done by the yaml serializer (Jackson) and I'm not sure if it

[2022-09-15 05:27] geoand commented on #27947
What does your `pom.xml` look like?

[2022-09-15 05:28] geoand commented on #27945
cc @brunobat

[2022-09-15 05:31] mschorsch commented on #23746
@geoand Any updates? Maybe for 2.13 😄 ?

[2022-09-15 05:32] geoand commented on #16522
@sberyozkin what's your take on https://github.com/quarkusio/quarkus/issues/16522#issuecomment-1246773262? Is there something we need to do to make the experience better? Or maybe just add some more documentation?

[2022-09-15 05:32] geoand commented on #23746
Not a chance :)

[2022-09-15 05:33] geoand commented on #23746
Other things keep getting higher priority, so I really don't know when I'll get around to this

[2022-09-15 05:43] geoand commented on #27949
@mkouba is this behavior expected or is it a bug?

[2022-09-15 06:19] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3058003946

[2022-09-15 06:39] pdolezal commented on #27930
Yes, we tried 3.8.4 (working), 3.8.5 (where we found the problem originally) and 3.8.6 (working again). So, it is possible to work around the problem by using any other version than 3.8.5 and/or `flatten-maven-plugin` (tried with 1.2.7 and 1.3.0), but I'm afraid that the problem could appear anytime again and it could also bite other ignorant users. The worst part perhaps is that it undermined our

[2022-09-15 06:46] geoand commented on #27886
Is this still a problem now that Stork `1.2` has been merged into `main`?

[2022-09-15 06:55] geoand commented on #27828
@jerboaa is there anything we need to do with this?

[2022-09-15 07:02] mkouba commented on #27949
So in CDI the interceptor bindings are never inherited from interfaces. It's forbidden by the spec. See [Inheritance and specialization](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#inheritance): _"Type-level metadata is never inherited from interfaces implemented by a bean."_ and _"Member-level metadata is not inherited."_.

What does work is that the default method is intercepted

[2022-09-15 07:03] geoand commented on #27949
@mkouba Thanks!

I am going to close as `won't fix` based on your explanation.

[2022-09-15 07:03] #27949 closed

[2022-09-15 07:37] aloubyansky commented on #27930
You may be running into https://issues.apache.org/jira/browse/MNG-7432 that affects 3.8.5 and was fixed in 3.8.6. We are not recommending Maven 3.8.5 to Quarkus users because of that.

[2022-09-15 07:47] pdolezal commented on #27930
I see. Good to know that Maven 3.8.5 suffers from problems that makes it unsuitable for Quarkus. I'm not able to tell if the root cause for this particular case is the same as described in the Maven bug (there is no reactor, no profiles involved etc.), but I can't tell the opposite either. I trust your judgement and if you think that nothing should be done for Quarkus, let it be so.

Anyway thanks

[2022-09-15 07:52] aureamunoz commented on #27886
I've just checked and it works for me locally. WDYT @pjgg ?

[2022-09-15 08:11] cescoffier commented on #27919
Fixed proposed: https://github.com/vert-x3/vertx-mail-client/pull/187.

[2022-09-15 08:14] jerboaa commented on #27828
@geoand No. Not on the quarkus side. Feel free to close. There needs to be an upstream GraalVM issue (at https://github.com/oracle/graal/issues) and I can take a look at the NPE issue pertaining to the container code in Graal.

[2022-09-15 08:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3058005543

[2022-09-15 08:27] mkouba commented on #22101
Thanks Roberto!

@geoand WDYT?

[2022-09-15 08:35] mkouba commented on #27929
Unfortunately, the `quarkus.quartz.start-mode` is a runtime config property, i.e. we cannot just skip registration of [the QuartzScheduler here](https://github.com/quarkusio/quarkus/blob/main/extensions/quartz/deployment/src/main/java/io/quarkus/quartz/deployment/QuartzProcessor.java#L74-L77).

However, you could try to obtain the `org.quartz.Scheduler` bean programatically via `@Inject javax.ente

[2022-09-15 08:36] sberyozkin commented on #27939
Hi @aaronanderson

No problems at all, and I don't think any objections can follow as Quarkiverse is a place for the users to innovate, so please go ahead. CC @gastaldi

Who knows, may be many users will find it useful :-). It would make sense IMHO to describe some typical use cases where such an extension can be used, similarly to what you've typed above. Perhaps your original extension name prop

[2022-09-15 08:38] sberyozkin commented on #27942
Interesting. @FroMage Hi Steph, can it be if interest to Renarde as well ?

[2022-09-15 08:43] brunobat commented on #27945
We are aware of this issue and we are working on the OTel autoconfiguration on Quarkus.
Currently, otel side properties are not supported.
Related issue: https://github.com/quarkusio/quarkus/issues/26444

[2022-09-15 08:57] josephearl opened #27957 "Quarkus Flyway applies Java migrations to all data sources regardless of location"
### Describe the bug

I have a default data source with `quarkus.flyway.locations=db/migration` and another data source with `quarkus.other.flyway.locations=other-db/migration`

I have a Java based migration in a package `another.db.migration`.

The Java migrations are applied to both data sources despite not being in the list of locations for either data source.

I found this out because the migr

[2022-09-15 09:07] geoand commented on #27945
Sounds like this is a duplicate issue then, right?

If so, please close it and apply the corresponding label

[2022-09-15 09:08] geoand commented on #27828
Thanks for the information.

[2022-09-15 09:08] #27828 closed

[2022-09-15 09:09] aloubyansky commented on #27930
"Reactor" is a component of a "Maven engine", it is surely involved.
The `flatten-maven-plugin` manipulates the POM and that could make it suffer from the mentioned bug. Which is about an inconsistency between dependency information provided, for example, through `Project` API and what the Maven resolver returns. The `quarkus-maven-plugin` relies on the Maven resolver API provided by the Maven plu

[2022-09-15 09:09] #27930 closed

[2022-09-15 09:22] mmusgrov opened #27958 "Test Harness support for testing crash resilience"
### Description

The narayana JTA extension provides transaction support and a key feature provided by JTA is to be able to complete prepared transactions following failures in the environment such as networking issues or JVM crashes.

Issue #26160 added support for recovery but the test for is manual (https://github.com/zhfeng/quarkus-narayana-crash-recovery):
1. start the quarkus app
2. the app

[2022-09-15 09:24] chschroe74 commented on #26410
@phillip-kruger I saw some updates to the GraphQL extension in the last couple of releases, but I did not notice anything related to this issue (and the status is still "open"). Is it still something that is on the agenda, or should I better close the issue?

[2022-09-15 09:30] geoand commented on #22101
I don't really think we can, it was a user that requested and implenented that feature

[2022-09-15 09:31] zhfeng commented on #27911
It is duplicated with #27958

[2022-09-15 09:31] #27911 closed

[2022-09-15 09:33] geoand commented on #27957
Thanks for reporting.

It looks like this is a duplicate of https://github.com/quarkusio/quarkus/issues/21275, do you agree?

[2022-09-15 09:34] josephearl commented on #27957
@geoand yes it does look like the same issue, should I close this as dupe?

[2022-09-15 09:35] geoand commented on #27957
I'll do it.

Thanks for confirming

[2022-09-15 09:35] #27957 closed

[2022-09-15 09:36] geoand commented on #21275
@mac-b-ferguson just checking in, were you able to progress with the fix you had in mind?

[2022-09-15 09:45] preslavrachev commented on #15518
@zarglayoun @halkhalil @famod Have you guys managed to resolve this issue? I am in exactly the same situation - having a parent `pom.xml` that addresses two sub-modules (`app` and `core`). `app` has all the Quarkus dependencies and serves as a project runner.`core` has only pure POJOs and logic. `app` also refers to `core` as a dependency.

If I do:

[code]
the app won't even start, because it nee

[2022-09-15 09:46] geoand commented on #27958
This seems interesting, but is it really something general that Quarkus users would take advantage of?

[2022-09-15 09:59] csscriptplus commented on #27934
@Sgitario  This is the result of my tests:
Application.properties | Kubernetes.yml
-- | --
Command: [sh, -c] | command:   <br>- "[sh"  <br> - " -c]”
Command: sh, -c | command:   <br>- sh  <br>- ‘ -c’
Command: “sh, -c” | command:   <br>- '"sh'   <br>- ' -c"'
Command: “sh”, “-c” | command:   <br>- '"sh"'  <br> - '"-c"'
Command: sh -c | command:  - sh -c

**All results are wrong.**

Possible results

[2022-09-15 10:05] radcortez commented on #22101
This is the PR that added the feature: https://github.com/quarkusio/quarkus/pull/17063.

To support this, we would have to implement it directly in SmallRye Config.

Anyway, the use case described in the original PR, I believe it is covered by: https://github.com/quarkusio/quarkus/pull/19965. We only registered mappings for valid and used beans, so if a bean is disabled by a build profile, and it

[2022-09-15 10:07] Sgitario commented on #27934
Why is wrong: `quarkus.kubernetes.init-containers."init-containers".command=sh -c`? The output seems correct, or is Kubernetes failing to start the container?

Alternatively, have you tried to move the `-c` flag to the arguments? To be precise:

[code]

[2022-09-15 10:07] pjgg commented on #27886
Yes, looks good to me. I could not reproduce against Stork 1.2.0

[2022-09-15 10:08] geoand commented on #27886
Thanks folks, I'll close this

[2022-09-15 10:08] #27886 closed

[2022-09-15 10:10] mkouba commented on #22101
Are you sure? I think that we could try to reuse the `BuildExclusionsBuildItem` and skip the [registration of there bean here](https://github.com/quarkusio/quarkus/blob/main/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment/ConfigBuildStep.java#L291-L326).

[2022-09-15 10:16] RuggeroDAlo commented on #26857
@cescoffier I just did a quick test with 2.13.0.CR1 and the issue using MDC seems to be fixed (I opened duplicate issue #26717 ), thanks!

[2022-09-15 10:17] #26857 closed

[2022-09-15 10:27] csscriptplus commented on #27934
[code]
This is in a kubernetes yaml file not correct. The container is not starting.

[2022-09-15 10:28] csscriptplus commented on #27934
[code]

This works and the container is starting.

[2022-09-15 10:34] radcortez commented on #22101
Well, it is possible to implement it there, but I would like SmallRye Config to be in control of all the features. A big issue we still have is config features spread all over the place, which we have been trying to concentrate slowly in SmallRye Config.

If the original use case was to exclude `@ConfigProperties` because they were being injected in a profile-based bean, but we now look into the e

[2022-09-15 10:57] mkouba commented on #22101
Ok, so [something like this](https://github.com/mkouba/quarkus/commit/6c211bfb3c9d777d87eab51c0d17d7437b87d6e8) seems to work.

That's reasonable but our code already contains a bunch of integration logic. And given the fact that `@IfBuildProfile` is a quarkus-specific feature I don't think this should go into SmallRye Config.

I have no idea what the original use case was. So I'll let @geoand com

[2022-09-15 11:01] geoand commented on #22101
The use case was to not create a bean at all in case the profile did not match

[2022-09-15 11:06] radcortez commented on #22101
Which we already do with https://github.com/quarkusio/quarkus/pull/19965.

The same user that implemented that feature, openened the exact same thing for `@ConfigMapping` in https://github.com/quarkusio/quarkus/issues/20275. It seems that he was able to move forward and use what we did in https://github.com/quarkusio/quarkus/pull/19965, so I think we should be good.

[2022-09-15 11:11] mkouba commented on #22101
BTW I've noticed two bad usages of `@IfBuildProfile` in `IfBuildProfileTest`:

1. `IfBuildProfileTest.Hello.dummyAbsentBis`
2. `io.quarkus.arc.test.profile.IfBuildProfileTest.Hello.setDummyAbsent(Instance<Dummy>)`.

`@IfBuildProfile` should only work for producer methods and fields, not injected fields and parameters. If there's a test that expects this to work it has to pass by coincidence...

[2022-09-15 11:11] Joofthan commented on #27947
It looks like Defaut + Java 17 ( https://code.quarkus.io/?j=17 ) without any changes.

[2022-09-15 11:17] mkouba commented on #22101
Ok, so I tend to think that we should remove the "profile/property exclusion" functionality completely and if there's a new use case that would require similar feature we can add something similar to the code from my branch. WDYT?

[2022-09-15 11:24] phillip-kruger commented on #26410
No work has been done yet, but it's on my to-do list. Please keep this open. Also, if you are keen to provide a PR you are very welcome.

[2022-09-15 11:38] radcortez commented on #22101
Agree. Thank you.

[2022-09-15 11:39] lthasle commented on #26857
@cescoffier Works fine, thanks!

[2022-09-15 11:43] mmusgrov commented on #27958
I think so because some quarkus users have a need to use global transactions (spanning more than one resource) and they would benefit from the knowledge that there are tests that verify recovery semantics.

Note that the request is to be used by extensions for testing and the JTA extension needs the functionality.

[2022-09-15 11:44] geoand commented on #27958
I can help out with technical advice on this, but as I don't really understand the use case, I can't lead this.

[2022-09-15 11:58] rsvoboda opened #27959 "OIDC scenarion with authorization using `@ClientHeaderParam` doesn't work after move to reactive"
### Describe the bug

I'm trying to migrate testing scenarios we have for quarkus-oidc-client-filter / quarkus-oidc-token-propagation / quarkus-rest-client into their reactive variants.

Changes for the move are here: https://github.com/rsvoboda/quarkus-test-suite/commit/818b36371a7f511062377b869fe34407221537f7

There is failure in one scenario called "LookupAuthorization" with authorization using

[2022-09-15 12:02] geoand commented on #27959
Do the server logs contain any useful into?

[2022-09-15 12:04] rsvoboda commented on #27959
nope :/

[2022-09-15 12:08] geoand commented on #27959
That's likely because of the use of `@QuarkusScenario`

[2022-09-15 12:10] rsvoboda commented on #27959
Why do you think so?

[2022-09-15 12:16] geoand commented on #27959
Nevermind, I was able to get a stacktrace (by adding `quarkus.log.category."org.jboss.resteasy.reactive.common.core.AbstractResteasyReactiveContext".level=DEBUG` to `application.properties`):

[code]

[2022-09-15 12:25] geoand commented on #27959
@sberyozkin not sure, but there seems to be something very wrong in the generated implementation of `io.quarkus.rest.client.reactive.HeaderFiller`.
I'm looking into that now.

[2022-09-15 12:37] JiriOndrusek commented on #27929
Thanks for the hint. I will look into it.

[2022-09-15 12:39] geoand commented on #27959
It might be a combination of issues. Once I've addressed the one I mentioned above, I'll know more.

[2022-09-15 13:10] jerboaa commented on #27791
@Sanne Please have a look at https://github.com/quarkusio/quarkus/pull/27960. It should achieve the same thing as the old `@NeverInline` trick. Tested with Mandrel `22.3-dev` and `22.2.0-Final`.

[2022-09-15 13:10] geoand commented on #27959
It indeed seems to be a combination. https://github.com/quarkusio/quarkus/pull/27961 fixes the first part, so @sberyozkin if you want to take a look at the `404` part, that would be great.

[2022-09-15 13:11] sberyozkin commented on #27959
@geoand Thanks, but OIDC never reports `404`. So not sure it is related at all

[2022-09-15 13:12] geoand commented on #27959
Actually, disregard my previous comment please, with https://github.com/quarkusio/quarkus/pull/27961 the tests now pass.

[2022-09-15 13:14] Sanne commented on #27791
@jerboaa thanks! Well check it out more in detail next week.

Let's not forget about the general effectiveness of these annotations?

[2022-09-15 13:32] jerboaa commented on #27791
Thanks!

Was it effective in this case, though? This particular use-case seemed very strange to me. It used reflection and `@NeverInline` in order to not pull in some code in some circumstances (reachability). Given it's fragility, I went with the proposed solution which - to me - conveys the intent more clearly. The side effect is that another instance of relying on non-API annotations is gone.

[2022-09-15 14:15] GavinRay97 commented on #27945
I'll close the issue but if I could ask for some clarification on _why_ (just for my own understanding) setting it in the `application.properties` doesn't work that would be much appreciated.

I thought that the app properties were universal, and also that SmallRye Config would set the corresponding ENV vars for each of them.

[2022-09-15 14:15] #27945 closed

[2022-09-15 14:38] GavinRay97 commented on #27942
I'd have a use case for this

[2022-09-15 14:50] gastaldi commented on #27939
+1 on `quarkus-mfa`, I think it makes more sense, given the description above. I'll setup the repository

[2022-09-15 15:05] diogocarleto commented on #15124
Hello guys, hope you are doing well.

So sorry for my long delay in that.

I've just opened a [PR](https://github.com/quarkusio/quarkus/pull/27966) to try to handle that, we have being used a similar approach in our project.

I left the following description in the PR:

"
This PR is intent to bring optimist lock control to mongodb-panache, similar what we have in JPA/Hibernate. It is important to

[2022-09-15 15:32] jerboaa commented on #25943
With #27960 there would be no more usage of `@NeverInline` in Quarkus as far as I can see. As far as @AlwaysInline is concerned, I see these remaining usages:

[code]

[2022-09-15 15:33] GavinRay97 commented on #27345
I updated to `2.13.0.CR1` and this appears to be fixed (may have also been cached and it was actually fixed earlier?)

[2022-09-15 15:50] wojciechkopciewicz opened #27970 "CloudEvent deserialization does not work with quarkus-resteasy-reactive"
### Describe the bug

When using quarkus-resteasy-reactive (plus quarkus-resteasy-reactive-jackson) CloudEvent class cannot be deserialized on REST endpoints. Everything works fine with quarkus-reasteasy.

### Expected behavior

CloudEvent class should be deserialized.

### Actual behavior
The following exception is being thrown and 500 Internal Server Error is returned from the server:
[code]
###

[2022-09-15 16:00] geoand commented on #27970
I'll have a look later on today or tomorrow

[2022-09-15 16:14] sberyozkin commented on #27939
Thanks @gastaldi

[2022-09-15 16:20] sberyozkin commented on #27900
`CodeFlowTest` tests have been passing for me today, so I've opened #27968 in an attempt to simplify them a bit, though no guarantee yet they will become stable.

The other test which is randomly failing is `oidc-token-propagation-reactive`: https://github.com/quarkusio/quarkus/pull/27737#issuecomment-1237440403 - I'll have a look next

[2022-09-15 16:34] radcortez commented on #27417
My knowledge of Vault, so I'm unsure on what we are able to do with it or not, but the issue here is that without having a list of available properties, we are unable to query for dynamic keys.

Take for instance [`quarkus.smallrye-graphql-client.[name].url`](https://quarkus.io/guides/all-config#quarkus-smallrye-graphql-client_quarkus.smallrye-graphql-client.-clients-.url). The `name` part is dyna

[2022-09-15 16:36] #27939 closed

[2022-09-15 16:38] gastaldi commented on #27939
Repository created in https://github.com/quarkiverse/quarkus-mfa

Please follow the next steps in https://github.com/quarkiverse/quarkiverse/wiki/Checklist#after-the-repository-is-created

[2022-09-15 17:23] sheilamjones commented on #27876
Hi Sergey, Hi all,
Thanks for your insights into how this could be fixed. After further research, I think the "role=center" attribute could fix this issue as that attribute allows you to scale the image relative to the content area  I updated the file to change this attribute (in PR https://github.com/quarkusio/quarkus/pull/27972). Would it be possible to verify this fix in the snapshot docs outpu

[2022-09-15 18:01] geoand commented on #27970
It seems to work in Classic RESTEasy because of an undocumented feature there: The extension code scans the classpath for JAX-RS Providers. I am a little weary of adding the same feature to RESTEasy Reactive.

I propose adding the [Jandex plugin](https://github.com/wildfly/jandex-maven-plugin) to the build of `io.cloudevents:cloudevents-http-restful-ws`.

[2022-09-15 18:52] jderuere commented on #27022
I still have this bug in 2.12.1 and 2.12.2

[2022-09-15 18:54] MikeEdgar commented on #27022
Hi @jderuere, do you have a simple project with the issue you can share?

[2022-09-15 20:40] wojciechkopciewicz commented on #27970
@geoand would you be able to provide a working example?

[2022-09-15 21:29] sberyozkin commented on #27876
Hi @sheilamjones Thanks, let me merge your PR and then we can compare with the way the images are shown in Bearer token guide and choose the best option, thanks for looking into it

[2022-09-15 21:47] jderuere commented on #27022
It's fixed, I found out the problem!

[code]

I got two function, same name, different signature. For some reason it is behaving fine with Quarkus 2.11, but crashing with 2.12

[2022-09-16 00:08] MikeEdgar commented on #27022
@jderuere were you seeing the same `StackOverflowError` shown in the comments earlier in this thread?

[2022-09-16 00:11] #27959 closed

[2022-09-16 00:41] jderuere commented on #27022
Oh no, indeed! I realize the second line was:

`at io.smallrye.openapi.api.util.MergeUtil`, not FilterUtil

[2022-09-16 03:24] zhfeng commented on #27958
@geoand there is a similar test case in narayana xts crash-recovery-tests https://github.com/jbosstm/narayana/blob/master/XTS/localjunit/crash-recovery-tests/src/test/java/com/arjuna/qa/junit/BaseCrashTest.java#L192 but it is based on `wildfly-arquillia`. So I wonder if we can leverage on `quarkus-arquillia` as well?

[2022-09-16 03:38] geoand commented on #27970
I'm actually rethinking this and it probably does make sense to do what RESTEasy Classic does

[2022-09-16 05:16] kdubb opened #27979 "RESTEasy Reactive doesn't apply `ContainerRequestFilter`s to reactive methods"
### Describe the bug

When applying a name bound `ContainerRequestFilter` to a resource that has only reactive methods (in the discovery case they were Kotlin `suspend` methods) the filter is never called.

The filter is not applied even if the name binding annotation is explicitly applied to the method or if the annotation is applied to the class as a whole.

The filter did not do anything that m

[2022-09-16 05:50] wilvdb opened #27980 "Liquibase parses changelog from file system"
### Description

Current Liquibase extension implementation load change logs from the classpath.
In our case, we want to deploy database changes as part of our deployment process using Liquibase. It means change logs are stored in a separate project (git repo). But, for local development and testing, we want to use liquibase extension for deploying the changes as part of the application startup.

[2022-09-16 05:53] geoand commented on #27970
https://github.com/quarkusio/quarkus/pull/27981 should take care of the issue

[2022-09-16 05:55] geoand commented on #27979
Interesting case. Could you attach a sample application we could use to test fixes against?

[2022-09-16 05:55] geoand commented on #27958
If this is going to be user facing (which I am personally not 100% convinced it should), `quarkus-aquillian` is **not** an option.

[2022-09-16 06:09] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/3065601761

[2022-09-16 06:14] kdubb opened #27982 "Unused Narayana is started upon application start"
### Describe the bug

`mongodb-panache-common` adds the `narayana-jta` extension. Although added, the transaction manager was never used and thus not started.

As of `2.13.0.CR1` the transaction manager is started nearly immediately at startup

### Expected behavior

Narayana is not started if not used.

Additionally, it would be nice to not have it included if it's not going to be used.

### Actu

[2022-09-16 06:24] geoand commented on #27982
cc @loicmathieu who added the transaction support for Mongo

[2022-09-16 06:48] wojciechkopciewicz commented on #27970
In the meantime I tried to use jandex option using application.properties approach described here: https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index and it works fine.

[2022-09-16 06:50] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3065603769

[2022-09-16 06:57] geoand commented on #27970
Yeah, that's the general way to index libraries on the classpath that are not searched by default

[2022-09-16 07:02] loicmathieu commented on #27982
@mmusgrov @gsmet does something changed on the Narayana side that can cause this issue ?
@kdubb does it creates a real issue or it's just an observation that it is started now and not before ?

[2022-09-16 07:03] Chexpir commented on #27901
Hi @Sgitario ! I am sure most of the developer use cases will be covered with that, and developer experience using it is very straightforward.

I am unsure if our specific use case is covered, as due to the dynamic base URLs we have, we are forced to use [RestClientBuilders](https://quarkus.io/guides/rest-client-reactive#programmatic-client-creation-with-restclientbuilder) programatically.

[2022-09-16 07:07] knutwannheden opened #27984 "OpenTelemetry CLIENT spans must have an `Error` status on 4xx status codes"
### Describe the bug

According to the [OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md) the CLIENT spans must have an `ERROR` status when the server returns a HTTP 4xx status:

### Expected behavior

See description.

### Actual behavior

Currently, the RestEasy Reactive REST Client emits client

[2022-09-16 07:07] kdubb commented on #27982
Everything works but I would argue that spending time starting unused subsystems is a "real" issue for Quarkus.

[2022-09-16 07:09] kdubb commented on #27979
Here's one for both Java/Mutiny and Kotlin coroutine. The reproducer was needed, apparently it requires the JAX-RS annotations to be on an API interface with the name binding filter on a resource implementation class.

[code-with-quarkus-2.zip](https://github.com/quarkusio/quarkus/files/9581531/code-with-quarkus-2.zip)
[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/9581532/code

[2022-09-16 07:24] geoand commented on #27979
Thanks. I'll have a look next week.

[2022-09-16 07:25] geoand commented on #27980
Sounds like an interesting feature

[2022-09-16 07:29] arpit-gupta213 opened #27985 "Micrometer support for fully qualified metrics names"
### Discussed in https://github.com/quarkusio/quarkus/discussions/27983

<div type='discussions-op-text'>

<sup>Originally posted by **arpit-gupta213** September 16, 2022</sup>
I am trying to migrate from microprofile to micrometer metrics in my project. The current implementation(microprofile) uses the fully qualified metrics names. For example, if I have a metrics with name "totalCount" in the c

[2022-09-16 07:42] geoand commented on #27984
@brunobat @radcortez let me know if you need any REST Client help with this

[2022-09-16 07:46] Postremus opened #27987 "New Info Log Messages since 2.13.0.CR1"
### Describe the bug

Relates to #26161

On quarkus dev startup, I get info log messages related to recovery service starting up. Are these messages really needed?

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

windows 10

### Output of `java -version`

openjdk 18.0.2 2022-07-19 OpenJDK Run

[2022-09-16 07:49] knutwannheden opened #27988 "`@TestHTTPResource` should also consider `quarkus.http.root-path`"
### Describe the bug

Currently, the `@TestHTTPResource` annotation doesn't appear to respect the `quarkus.http.root-path` config. I.e. an injected path is not resolved against that root, but always against `/`.

### Expected behavior

The injected path should be a path that is prefixed with `quarkus.http.root-path`.

### Actual behavior

See description.

### How to Reproduce?

_No response_

###

[2022-09-16 07:49] #27931 closed

[2022-09-16 08:14] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/3065603769

[2022-09-16 08:21] sberyozkin opened #27990 "Native image generation failure for `integration-tests/keycloak-authorization`"
### Describe the bug

I've just noticed it in [this build log](https://pipelines.actions.githubusercontent.com/serviceHosts/db7e007d-ef45-446a-a481-86fd29e0a95c/_apis/pipelines/1/runs/167795/signedlogcontent/73?urlExpires=2022-09-16T08%3A20%3A14.9904555Z&urlSigningMethod=HMACV1&urlSignature=G4jxvtdxv9WQaE%2FH4gIoC1qoHeFV5zqGf%2BO94eVQTn0%3D):
[code]

### Expected behavior

_No response_

### Actua

[2022-09-16 08:23] sberyozkin opened #27991 "Native image generation failure for `integration-tests/keycloak-authorization` in resteasy-reactive"
### Describe the bug

I've just noticed it in [this build log](https://pipelines.actions.githubusercontent.com/serviceHosts/db7e007d-ef45-446a-a481-86fd29e0a95c/_apis/pipelines/1/runs/167795/signedlogcontent/73?urlExpires=2022-09-16T08%3A20%3A14.9904555Z&urlSigningMethod=HMACV1&urlSignature=G4jxvtdxv9WQaE%2FH4gIoC1qoHeFV5zqGf%2BO94eVQTn0%3D):
[code]

### Expected behavior

_No response_

### Actua

[2022-09-16 08:24] sberyozkin commented on #27991
This message is reported:
[code]

[2022-09-16 08:26] #27990 closed

[2022-09-16 08:27] sberyozkin commented on #27990
Duplicate

[2022-09-16 08:29] sberyozkin commented on #27991
Might be related to #27981, so sorry for the noise if yes

[2022-09-16 08:35] gsmet commented on #27991
I'm not sure it is. I wonder if you have a mix of RESTEasy Classic and RESTEasy Reactive dependencies. Because this is coming from RESTEasy Classic AFAIK: `org.jboss.resteasy.plugins.providers.JaxrsFormProvider`

[2022-09-16 08:49] gsmet commented on #27987
Thanks for testing and reporting this. Fixes is here: https://github.com/quarkusio/quarkus/pull/27993 .

[2022-09-16 09:12] sberyozkin commented on #27991
Yeah, there are 2 dependencies there, `keycloak-admin-client-reactive` and `keycloak-admin-client`, not sure why the last one is there, let me get rid of it

[2022-09-16 09:13] rsvoboda opened #27995 "Scenarion with authorization using @ClientHeaderParam doesn't bild into native after move to reactive"
### Describe the bug

I'm trying to migrate testing scenarios we have for quarkus-oidc-client-filter / quarkus-oidc-token-propagation / quarkus-rest-client into their reactive variants.

Changes for the move are here: https://github.com/rsvoboda/quarkus-test-suite/commit/818b36371a7f511062377b869fe34407221537f7

This is followup work after https://github.com/quarkusio/quarkus/issues/27959 fix. I t

[2022-09-16 09:18] knutwannheden opened #27996 "Test profile config properties can bleed into other test profiles"
### Describe the bug

I have run into the problem (I've seen this in dev-mode, but don't know if it is specific to that), that config properties which are provided by test profiles (using `QuarkusTestProfile#getConfigOverrides()`) can bleed into later tests which don't use that profile.

I did some debugging and AFAICT the problem is in `io.quarkus.test.junit.QuarkusTestExtension#doJavaStart()`. I

[2022-09-16 09:24] knutwannheden commented on #27996
/cc @geoand

[2022-09-16 09:34] brunobat commented on #27984
A reproducer would be nice, @knutwannheden

[2022-09-16 09:36] rsvoboda commented on #27995
I thought the fail was related `NTLMEngineImpl` and to the fact, that `resteasy-classic/rest-client` and `resteasy-classic/resteasy-mutiny-common` has dependency on `quarkus-apache-httpclient` which sets `NTLMEngineImpl` for runtime initialization. But I was wrong, adding `quarkus-apache-httpclient` didn't help.

Looking closer to the deps I realized that there is direct usage of `org.keycloak:key

[2022-09-16 09:37] sberyozkin commented on #27995
@rsvoboda You have
[code]
and it is used here: https://github.com/quarkus-qe/quarkus-test-suite/blob/main/security/keycloak-oidc-client-extended/src/main/java/io/quarkus/ts/security/keycloak/oidcclient/extended/restclient/ping/clients/LookupAuthorizationPongClient.java#L64

This dependency and code need to be replaced.
Use `keycload-admin-client-reactve`, see the guide added by @michalvavrik.
Or y

[2022-09-16 09:40] knutwannheden commented on #27984
I am quite busy at the moment and it will unfortunately take me some time until I get to this.

[2022-09-16 10:03] sschellh opened #27999 "quarkus.datasource."datasource-name".jdbc.min-size not honored if max-lifetime is set"
### Describe the bug

If we set the parameter
  `quarkus.datasource."datasource-name".jdbc.max-lifetime`
then the size of the jdbc connection pools falls below the minimum pool size.

### Expected behavior

The jdbc connection pool contains at any time at least as many connections as stated in
 `quarkus.datasource."datasource-name".jdbc.min-size`

### Actual behavior

If the parameter
  `quarkus.d

[2022-09-16 10:10] geoand commented on #27991
This issue only happens with https://github.com/quarkusio/quarkus/pull/27981.

[2022-09-16 10:20] imjuoy commented on #12941
Any updates on this?

[2022-09-16 10:25] sberyozkin commented on #27995
Sorry, forgot add a link to the guide :-)

https://quarkus.io/version/main/guides/security-keycloak-admin-client

[2022-09-16 10:34] geoand commented on #27995
So are we okay as is with this one?

[2022-09-16 10:45] radcortez commented on #27884
As a workaround, you can set `smallrye.config.mapping.validate-unknown=false`.

[2022-09-16 10:55] radcortez commented on #27947
@geoand the issue here is that we are mapping `quarkus.platform.version` as build time only: https://github.com/quarkusio/quarkus/blob/8c980c4695515df4f39a705f1c243174f2f4ccf1/core/deployment/src/main/java/io/quarkus/deployment/PlatformConfig.java

So the values are not recorded for runtime. Do we want to change this?

[2022-09-16 10:59] #27991 closed

[2022-09-16 11:00] sberyozkin commented on #27995
Yeah, I think it is not a Quarkus bug, Rostislav, do you agree ?

[2022-09-16 11:01] geoand commented on #27947
I personally don't see a very compelling reason to do so, but on the other hand it wouldn't add any overhead, so I'll leave it up to you