[2019-06-18 12:37] FroMage opened #2874 "Rename `Template` to `Recorder` or something"
I've heard Quarkus users yesterday who were _very_ confused as to what our `Template` recorders did and how they worked. Part of it is due to this functionnality being original (haven't seen it elsewhere), but part of it is due to the name `Template` which does mean at all what it does (record any calls made through the object) and does not mean the most common industry term for template (renderin

[2019-06-18 12:44] sberyozkin commented on #2856
FYI, I was only referring to the case of an explicit `Consumes` on the `GET` method (which is incorrect and which is what I proposing to target but indeed it can be ignored).
Your explanation about the OpenApi enhancement makes sense, thanks :-)

[2019-06-18 12:51] #2848 closed

[2019-06-18 12:52] #2781 closed

[2019-06-18 12:53] #2527 closed

[2019-06-18 13:10] n1hility commented on #2412
Blocker list: https://github.com/quarkusio/quarkus/issues/2792

[2019-06-18 13:34] dmlloyd commented on #2860
Yeah, it would also be more complex though.  But sure, that could be an enhancement.

[2019-06-18 13:50] bobmcwhirter commented on #2792
There's also:

https://github.com/oracle/graal/issues/1335

Which simply makes life more difficult.

[2019-06-18 14:28] dmlloyd opened #2876 "Update docs for Graal 19"
`native-image` is no longer included by default. Need to install it by running `gu install native-image`, adapt documentation, adapt CI, adapt container images.

[2019-06-18 14:42] #1960 closed

[2019-06-18 15:05] bobmcwhirter commented on #818
https://github.com/oracle/graal/issues/1392

[2019-06-18 16:43] gsmet commented on #2854
@emmanuelbernard I think we are still early in the Quarkus life and it would be nice to avoid making choices we would regret.

Supporting only files with `;` makes sense IMHO as it's the standard SQL files. TBH, I was surprised we didn't need a `;` at first.

We could test if the file contains a `;` but that would be a bit fragile and would break when a `;` is introduced. And I don't think having

[2019-06-18 18:08] machi1990 commented on #2830
I can take a look at this.

[2019-06-18 18:26] aloubyansky commented on #2852
While it may make sense to include only the JARs, is it wrong though to have an XML file there? Isn't it a bug in Graal?

[2019-06-18 18:56] rmpestano commented on #2714
Also if you try to run the project using the `native profile` you get the same exception at build time

[2019-06-18 19:11] gsmet commented on #2852
I don't know. I don't think adding an XML file to the classpath makes sense TBH.

[2019-06-18 19:17] gsmet commented on #2590
Unfortunately, given what @kenfinnigan said in the SmallRye REST client issue, I don't know when this will be fixed.

@kenfinnigan can you check that the issue reported to SmallRye REST client has been integrated in the RESTEasy roadmap. It seems to be a pretty annoying issue.

Thanks!

[2019-06-18 19:18] gsmet commented on #2784
@sberyozkin should this one be closed?

[2019-06-18 19:34] kenfinnigan commented on #2590
@sberyozkin Can you link which RESTEasy issue you were referring to in https://github.com/smallrye/smallrye-rest-client/issues/11 and then we can determine whether that would be part of a release of RESTEasy that would include the REST Client?

[2019-06-18 20:52] aloubyansky commented on #2852
Is it illegal?

[2019-06-18 20:56] cstancu commented on #2792
https://github.com/oracle/graal/pull/1371 is fixed and merged into master. Do you need it backported to a 19.0.x release?

[2019-06-18 20:58] bobmcwhirter commented on #2792
David says he doesn’t see the same issue with 19.

Granted I am also working with jdk11 where he’s working with 8.

I defer to David Lloyd.

On Tue, Jun 18, 2019 at 4:56 PM Codrut Stancu <notifications@github.com>
wrote:

[2019-06-18 21:40] vietk commented on #2852
I did not have the issue with hotspot, but I don't know if it's because it lazy loads jars (which I doubt) or it filters out non-jar file
In any case, the error reporting in GraalVm should be enhanced, took me a while to realize among all jar files in the manifest.

[2019-06-18 21:51] aloubyansky commented on #2852
That's my point. Will be good to have the Graal team comment on this.

[2019-06-18 22:14] bobmcwhirter commented on #2792
David also says (always blame David) it probably wouldn’t hurt to backport to 19.

[2019-06-19 03:18] clochardpagan opened #2883 "Hibernate-validation fails to validate @Column(unique = true)"
Column annotation with unique = true, is not accounted as expected.

Field is defined as follow:

[code]
Call of validator in resource:
[code]

**Expected behavior**
Some ConstraintViolation<> returned from validation.validate(user).

**Actual behavior**
Validation passes and we have exception from DB layer:

**To Reproduce**
Steps to reproduce the behavior:
1. Create any domain class
2. Add any f

[2019-06-19 06:15] haraldatbmw commented on #2871
I just found the cause. The bug is already solved with #2470.
To workaround I can add my nexus repository directly in my pom.xml

[2019-06-19 07:21] rsvoboda opened #2885 "Transform `-D` arguments to system properties"
Transform `-D` arguments to system properties so that users can just append properties to the command and don't need to jump back and forth.

Currently users have to pass properties prior to`-jar` - e.g. `java -Dfoo=bar -Dgoo=baz -jar myApplication-runner.jar`

it would be helpful to support also following style `java -jar myApplication-runner.jar -Dfoo=bar -Dgoo=baz -D...`

This works for Thornta

[2019-06-19 07:48] FroMage commented on #2854
@gsmet +1

[2019-06-19 07:51] gsmet opened #2886 "Update the MicroProfile Health guide and quickstart"
We updated to 2.0 which introduces quite a lot of changes, especially the separate readiness/liveness probe.

The guide and the quickstart should be updated to take that into account.

[2019-06-19 07:51] gsmet commented on #2886
@antoinesd any chance you could take a look at that one for the next release?

[2019-06-19 08:08] #2830 closed

[2019-06-19 08:11] #1889 closed

[2019-06-19 08:12] #2860 closed

[2019-06-19 08:14] FroMage commented on #2860
@stuartwdouglas @dmlloyd I've merged this PR since it's a cheap improvement over the current situation. Could you open a new issue about this additional feature?

[2019-06-19 08:29] gsmet commented on #2725
Addressed by https://github.com/smallrye/smallrye-jwt/pull/70 .

[2019-06-19 08:29] #2725 closed

[2019-06-19 08:29] gsmet commented on #2784
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/2725 .

[2019-06-19 08:31] gsmet commented on #2196
I'm closing this one for 0.17.0 as the initial issue has been solved and we need an entry in the release notes.

Please open a new issue if encounter something else.

[2019-06-19 08:31] #2196 closed

[2019-06-19 08:55] rsvoboda commented on #2725
Double checked as I got confused by https://github.com/quarkusio/quarkus/commit/3e448277f19a24448329efba23a7efc9802b7172 which is 20 days old and fix is 8 days old. Some GH black magic or re-tag and re-release of smallrye-jwt-1.1 had to happen :)

Now I see Quarkus boot in tests and reasonable error message `2019-06-19 10:50:40,837 ERROR [io.und.req.io] (executor-thread-1) Exception handling reque

[2019-06-19 08:55] sberyozkin commented on #2725
FYI, the next smallrye-jwt release will have a [better message](https://github.com/smallrye/smallrye-jwt/blob/master/implementation/src/main/java/io/smallrye/jwt/config/JWTAuthContextInfoProvider.java#L257)

[2019-06-19 08:57] sberyozkin commented on #2725
NPE caused by the disabled smallrye-jwt property has been fixed directly in Quarkus

[2019-06-19 09:17] gsmet commented on #2482
FWIW It's still an issue with current master as of today.

[2019-06-19 09:34] gsmet commented on #2831
@stuartwdouglas could you take a look at Martin's questions? I just had the exact same issue with another build.

[2019-06-19 10:47] isikemre commented on #2842
Sorry for the late response. Yeah, `QUARKUS_RESTEASY_PATH="/some-path" java -jar application.jar` does not work too.

I just found out, that this **don't work**, too:
`java -Dquarkus.resteasy.path="/some-path" -jar someJar.jar` or `java -jar someJar.jar -Dquarkus.resteasy.path="/some-path"`

Currently only `mvn quarkus:dev` works fine with `-Dquarkus.resteasy.path="/some-path"`

[2019-06-19 10:55] geoand commented on #2842
OK, I see what the issue is, the `ResteasyConfig` by using `@ConfigRoot` implicitly uses `phase() default BUILD_TIME`. That mean that the RESTEasy configuration is build time only and cannot be overriden at runtime. @gsmet is this done on purpose?

[2019-06-19 11:37] gsmet commented on #2737
I'm keeping the issue open for now as I'm not sure everything was implemented as it was supposed to be.

Feel free to close it if everything is in order.

[2019-06-19 11:57] ruromero commented on #2016
@gsmet I face this issue when building a native docker image. I need SSL to work to connect to the k8s client using the sslCaCert.
Shall I include the whole library and the cacerts?

[2019-06-19 12:01] gsmet commented on #2016
@ruromero yes, you will need both.

[2019-06-19 13:03] geoand commented on #2842
Well it looks like we do generate some build items that depend on it, so I assume this works as expected. Should we close this then?

[2019-06-19 13:06] gsmet commented on #2842
Maybe we could make explicit that the config is build time config? I know it's the default value but explicit won't hurt.

[2019-06-19 13:08] geoand commented on #2842
Yeah, that makes sense

[2019-06-19 13:18] isikemre commented on #2842
So it's working like expected and it is not a bug?

[2019-06-19 13:24] ewcchan commented on #2470
The reported problem exists in v0.16.1 and I could workaround it with direct <repository> entry in my project pom.xml file.

[2019-06-19 13:25] gsmet commented on #2842
Yes, this is a build time config that you can't override at runtime.

It is used during the build.

[2019-06-19 13:25] geoand commented on #2842
It is working as expected. In Quarkus some configuration is build time only, and RESTEasy config is part of it

[2019-06-19 13:26] gsmet commented on #2470
@ewcchan  Yes, the fix is coming in a few hours with 0.17.0.

[2019-06-19 13:33] isikemre commented on #2842
Alright thank you for the awesome help/work. I am gonna close this now!

[2019-06-19 13:35] #2842 closed

[2019-06-19 13:37] esteban-aliverti opened #2892 "Comments are not properly managed by ServiceUtil"
**Describe the bug**
`ServiceUtil` is used by `UndertowBuildStep` to extract the list of class named from all the `META-INF/services/javax.servlet.ServletContainerInitializer` files present in the classpath.
The problem is that if one of these `javax.servlet.ServletContainerInitializer` files contains lines with comments (`#`), the lines are still parsed and their content tried to be used as a val

[2019-06-19 13:39] gsmet commented on #2892
@esteban-aliverti would you be interested in fixing it?

[2019-06-19 13:40] esteban-aliverti commented on #2892
Sure. I already have one ;).
I'm preparing the PR right now.

[2019-06-19 13:44] gsmet commented on #2892
Cool, thanks.

Tests would be welcome too as we all thought it was already properly handled.

[2019-06-19 13:51] esteban-aliverti commented on #2892
A PR can be found here: https://github.com/quarkusio/quarkus/pull/2893

[2019-06-19 14:21] solsson commented on #2718
There's https://github.com/airlift/aircompressor but I suppose a switch would involve a patch to Kafka client source.

[2019-06-19 19:18] emmanuelbernard commented on #2482
Right. I don’t think we should wait for the transaction improvements before we investigation.

[2019-06-19 19:34] emmanuelbernard commented on #2854
Ok

[2019-06-19 20:16] gwenneg opened #2894 "UnsupportedOperationException: This feature requires ASM7 while using Panache and Guava"
**Describe the bug**
Quarkus build fails (with the Gradle plugin) when I am using both `quarkus-hibernate-orm-panache` and a Guava `LoadingCache` instance in the same project (not necessarily in the same class).

**Expected behavior**
I want to be able to use both `quarkus-hibernate-orm-panache` and any Guava feature in the same project.

**Actual behavior**
The following exception is thrown durin

[2019-06-19 20:20] emmanuelbernard commented on #2755
Yes `entity.validate()` would call bean validation.

[2019-06-19 20:29] emmanuelbernard commented on #2755
For sure we need flush as update/merge is kinda implicit in panache.
I don’t think we would need persistAndFlush for all variants of persist. Spring Data does not for example.

I don’t know really how to evaluate the weight vs benefit. Your call.

[2019-06-19 23:13] gwenneg commented on #2894
It seems this issue is caused by the following transitive dependencies graph:
[code]

The latest `animal-sniffer-annotations` version (1.18) upgraded its `asm` dependency version to `7.0` but the latest `guava` version still depends on `animal-sniffer-annotations:1.17`.

[2019-06-20 00:16] garyttierney commented on #1874
Just below the code mentioned is a check to see if the build artifact is a JAR file: https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/main/java/io/quarkus/gradle/AppModelGradleResolver.java#L91.

Inline:
[code]

I suspect `a` (an `AppArtifact`) here might actually be a directory instead of a single file, and so it will enter the conditional and hit the `continue`. Removing this

[2019-06-20 05:42] geoand commented on #1157
So it looks like there was extra work that needed to be done: https://github.com/JetBrains/kotlin/pull/2421

[2019-06-20 05:57] loicmathieu commented on #2755
@emmanuelbernard I will prepare a PR with my changes and a few lines in the transaction section of the Panache Guide.
I'll stick to flush() and persistAndFlush(Entity) as they are the more common usage (and it's the way Spring Data implement it).

[2019-06-20 06:08] geoand opened #2898 "Setting of system property java.io.tmpdir having no effect on VertxTemplate in native mode"
**Describe the bug**
Setting of system property `java.io.tmpdir` in native mode has no effect for vert.x quickstart. This is part of the discussion [here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Native.20builds.3A.20JVM.20options.20at.20runtime/near/168516155).

**Expected behavior**
Setting the `java.io.tmpdir` system property should work correctly since the `VertxTempla

[2019-06-20 06:40] esteban-aliverti commented on #2892
Thank you for the support. I think this issue can be closed now.

[2019-06-20 06:40] emmanuelbernard commented on #2755
The one tiny improvement could be a `persistAndFlush(Object o, Object...
otherOs)` but come to think of it, it semi defeats the purpose as you don't
know from which object the exception would come from. But you don't
necessarily know with persistAndFlush either since other operations might
be queued. 🤷

On Thu, Jun 20, 2019 at 7:57 AM Loïc Mathieu <notifications@github.com>
wrote:

[2019-06-20 06:43] JChrist commented on #2143
I tried to have a go at this, as I consider this extremely important for day-to-day use.
I've stumbled a bit on how the dev run lifecycle goes, because (as I understood) the logic is split between the DevMojo and the DevModeMain.
My current line of thinking (which I'm not yet sure is the best way to do it) is that this could be handled by replicating the logic of dependency/classpath matching from

[2019-06-20 06:56] emmanuelbernard commented on #1488
Nice @ricardozanini !
So --allow-incomplete-classpath is something we are wrestling with in our GraalVM 19 support. So let me CC @dmlloyd here.
We do support jackson (for RESTEasy at least) in Quarkus. So that might work for the Fabric8 part. If you know the JSON types ahead of time, then a kubernetes-(fabric8-)client extension can very easily enlist them.

[2019-06-20 07:00] wargun02 opened #2900 "Not able to perform @Inject on class which implements ConstraintValidator"
Say if I have a custom validator annotation:

[code]

and custom payload class:
[code]
and a custom implemented validator class:
[code]

For any other class annotated with @ApplicationScope that has:
[code]
and later
[code]

this will throw a NullPointerException because "someQueryServ" in PayloadValidator is not injected.

There are some issues and solution from other framework on this, which you

[2019-06-20 07:21] tveon commented on #2751
Oh, sorry - I didn't notice the difference between `vertx-jdbc-client` and `vertx-sql-client`. 😕

I'm facing the same issue, so I was looking for possible solutions. To me, the solution proposed by @markuslackner seems cleaner than using a `@Named` bean - but obviously I'm pretty new to Quarkus and Vert.X... 😊

BTW (unrelated) - are there clients for all the "callback, RxJava and Axle based APIs."

[2019-06-20 08:23] antoinesd commented on #2886
Yes @gsmet, I'm on it

[2019-06-20 09:10] FroMage commented on #2894
I don't think we can solve this in Quarkus. I don't think we can define overrides in our BOM, right @gsmet ?

[2019-06-20 09:22] wglanzer opened #2903 "Unable to invoke own Serializer/Deserializer within Kafka in native compiled program"
**Describe the bug**
If I specify my own serializer/deserializers in application.properties, kafka does not find them in native compiled program. On the other hand all works just fine in "normal" mode, without native compilation.

The following error appears on the console:

[code]

**To Reproduce**
I think you just have to put your own serializer/deserializer in sample kafka projects.

**Configur

[2019-06-20 09:32] #2761 closed

[2019-06-20 09:44] dwamara commented on #2761
Sorry for the delay, the reproducer would have been https://github.com/dwamara/quarkus-email-sender_bug2761 but I can't seem to reproduce it with 0.17.0 anymore so I'm closing the ticket

[2019-06-20 10:43] mkouba opened #2904 "Define default scope for @Health, @Liveness and @Readiness bean defining annotations"
I think that `@Singleton` would be the best match. Also add a NOTE to the docs - so that it's clear that we differ from the standard behavior.

[2019-06-20 12:44] mkouba opened #2905 "Reimplement BeanDefiningAnnotation default scope"
A bean defining annotation produced by `BeanDefiningAnnotationBuildItem` with a default scope value set is currently recognized as a stereotype. For example:

[code]
`@Path` is by default recognized as a stereotype with `@Singleton`. This works fine even if a user adds a custom scope:

[code]
However, the app would fail if a user adds a strereotype with a different scope:

[code]
We could try to a

[2019-06-20 12:47] gwenneg commented on #2894
@FroMage That's also what I thought when creating this issue. At least, you know there's a good reason to keep an eye on the next Guava release and integrate it into `quarkus-bom` if you want to fix this ASM issue.

[2019-06-20 13:35] gsmet commented on #2894
So, first things first, it's really weird that the Animal Sniffer annotation package drags ASM with it.

Next, I don't know the Kotlin DSL. Is what you do similar to what we do here: https://quarkus.io/guides/gradle-tooling#project-creation .

I'm especially thinking about the `implementation enforcedPlatform('io.quarkus:quarkus-bom:0.17.0')` bit as you only use `platform()` in your Gradle file.

[2019-06-20 13:37] gsmet commented on #2894
@FroMage that's what the BOM is for. And we define the ASM dependency in our BOM to the following version: `<asm.version>7.1</asm.version>`.

But, for this to work, you need the BOM to be properly enforced.

[2019-06-20 13:51] gwenneg commented on #2894
@gsmet I can't test right now but I'm pretty sure you found the reason why I had this ASM issue. `enforcedPlatform` also exists in Kotlin DSL and I didn't see it was missing in my build file.

I will test this soon and keep you updated with the results.

[2019-06-20 13:59] solsson commented on #2718
Can we do something like #2794?

[2019-06-20 14:03] gsmet commented on #2894
@gwenneg thanks!

[2019-06-20 14:10] cescoffier commented on #2718
It's a bit more tricky as Graal does not support optional "substitutions".

In an ideal world, we would remove Snappy if we can't find it in the classpath. I might be somewhat possible for some of the substitution (methods) but not for all (class substitution).

[2019-06-20 14:18] cescoffier commented on #2903
Can you try to add the `RegisterForReflection` annotation on your serializer and deserializer?

[2019-06-20 14:27] gsmet commented on #2903
@cescoffier Hmmm, if it fixes the issue, is there a way to look for them and register them automatically? That would sound like a useful addition.

[2019-06-20 14:35] wglanzer commented on #2903
@cescoffier this did not fix it, same issue appears again.

I read something, that is has something to do with the classloader and the way kafka loads its services. ( `org.apache.kafka.common.utils.Utils#getContextOrKafkaClassLoader`, https://stackoverflow.com/questions/37363119/kafka-producer-org-apache-kafka-common-serialization-stringserializer-could-no )

I missed out some information for you:

[2019-06-20 14:44] ewcchan commented on #2470
@gsmet the issue is no longer shown and it is working with 0.17.0 release. Thanks!

[2019-06-20 15:08] jmini opened #2907 "OpenAPI with static files instead of annotation scanning"
**Describe the bug**
It seems that all the `microprofile-open-api` features are not supported yet by quarkus.

One setup example:
Add the config property `mp.openapi.scan.disable=true` and a static OpenAPI file in `src/main/resources/META-INF/openapi.yaml`.

In that case, the `microprofile-open-api` annotation scanning should be disabled and the openapi spec should be served from the static file.

[2019-06-20 15:08] gsmet commented on #2470
@ewcchan thanks for your confirmation!

[2019-06-20 15:21] aloubyansky opened #2908 "quarkus:native-image should not fail if the runner jar does not exist"
Currently, the NativeImageMojo gives up in case the runner jar (the outcome of the BuildMojo) can't be found on the disk. It would be nice to be able to simply execute `mvn quarkus:native-image` for a project.
Another enhancement I would like to add here is the ability to provide the Maven coordinates of the application I want to generate the native image for, instead of always configuring the Nat

[2019-06-20 15:47] machi1990 commented on #2892
Fixed by #2893.

Thanks @esteban-aliverti

[2019-06-20 15:47] #2892 closed

[2019-06-20 15:54] geoand commented on #2894
It's a real pity that Gradle's default BOM behavior differs from Maven's.... Without testing this, I would assume that what @gsmet mentions should fix the problem.

[2019-06-20 16:26] emmanuelbernard commented on #2907
I looked at the extension code and the expected behavior seems to be half there as the static files are marked for hot reload and detected. But I think there might be path problems or sort. We should definitely add more tests to cover different configuration approaches like I did for Hibernate and it’s handling of persistence.xml

[2019-06-20 17:39] jmini commented on #2907
I investigated a little bit more. If you restart your quarkus-server completely (something that you tend to forget to do/try), then the static file is taken into account.

So this issue is more about the hot-reload not working for `src/main/resources/META-INF/openapi.yaml`.

---

In addition, I am also not sure how `mp.openapi.scan.disable` is supported (I did not manage to make it work).

[2019-06-20 19:08] #1874 closed

[2019-06-20 19:14] gwenneg commented on #2894
I just replaced `platform` with `enforcedPlatform` in the Gradle build file and the exception is still there.

I also converted the Gradle build to a Maven one and the same exception is thrown using `./mvnw clean compile quarkus:dev` so this has nothing to do with Gradle's management of BOMs or transitive dependencies.

You can test all these changes with the reproducer mentioned above.

[2019-06-20 20:18] machi1990 commented on #2762
Hey @patriot1burke, is this still an issue?
In this [guide](https://quarkus.io/guides/application-configuration-guide), section **Package and run the application**  there is a mention of which jar file to run
i.e `... the application can be packaged using ./mvnw clean package and executed using the -runner.jar file`.

[2019-06-20 21:06] dmlloyd opened #2914 "Java 11+GraalVM: Kafka Crc32C uses method handle"
**Describe the bug**
The `org.apache.kafka.common.utils.Crc32C` class is using a method handle under Java 9+ to access the public constructor of `java.util.zip.CRC32C`; this fails with `native-image`.

Ideally the Kafka library would utilize a multi-release JAR to just call the constructor directly instead of resorting to reflection to solve this issue.  Failing that, we should just do it ourselve

[2019-06-20 21:54] gwenneg commented on #2894
I finally found something that looks like the real cause of this issue while debugging Quarkus.

There a dependency on `io.quarkus.gizmo:gizmo:1.0.0.Alpha4` in the` io.quarkus.arc:arc-processor` [pom.xml](https://github.com/quarkusio/quarkus/blob/0.17/independent-projects/arc/processor/pom.xml#L41) and that version of Gizmo is creating an instance of `GizmoClassVisitor` using an ASM6 api code:
htt

[2019-06-20 22:22] gwenneg commented on #2894
I just realized there isn't a single `Opcodes.ASM7` used in the Quarkus code while there are many `Opcodes.ASM6`. Is there a reason why Quarkus is depending on ASM7 but using ASM6 api code?

[2019-06-21 05:19] geoand commented on #1488
There is now a [PR](https://github.com/quarkusio/quarkus/pull/2910) for this.

[2019-06-21 07:28] FroMage commented on #2894
@dmlloyd @stuartwdouglas any specific reason for this?

[2019-06-21 07:35] gsmet commented on #2894
I don't think it's entirely closed by the Gizmo PR, and in any case we need to update Gizmo before closing this one.

As for using `ASM6`, it's just the version we used at the time. It's supposed to work... as long as we don't use specific ASM7 APIs.

So I would vote for updating everything to `ASM7`. @gwenneg up for it?

[2019-06-21 07:40] gwenneg commented on #2894
@gsmet Yes, I'll submit a PR to replace all `Opcodes.ASM6` occurences in Quarkus. Is it possible to have `gizmo:1.0.0.Alpha5` released so that I can include in the PR?

[2019-06-21 07:45] emmanuelbernard commented on #2914
Just to clarify, you are talking about the experimental Java 11 GraalVM support or does it also fail with Java 8 GraalVM?

[2019-06-21 07:51] emmanuelbernard commented on #2904
BTW what is the difference between `@Singleton` and `ApplicationScoped`?

[2019-06-21 07:52] emmanuelbernard commented on #2904
That's to be implemented in the health extension I suppose right @mkouba ? In that case I'll CC @kenfinnigan for further triage.

[2019-06-21 07:58] emmanuelbernard commented on #2903
Yes I suppose that your other maven module does not have a `beans.xml` descriptor or a generated Jandex index (`META-INF/jandex.idx`), see https://quarkus.io/guides/cdi-reference#bean_discovery

If you try that and it works, I think the Kafka extension should look at the configuration and enlist the serializer / deserializers and enlist them e.g. read `mp.messaging.incoming.BusinessToken_CREATE_IN

[2019-06-21 08:05] #2852 closed

[2019-06-21 09:25] emmanuelbernard commented on #2900
CC @gsmet

[2019-06-21 09:32] emmanuelbernard commented on #2898
CC @cescoffier @vietj @tsegismont

[2019-06-21 09:46] emmanuelbernard commented on #2883
This is the expected behavior. There is no way to reliably validate that an object has a unique property via Bean Validation. There would be at best race condition. Also, `@Column` is not considered by Bean Validation

[2019-06-21 09:46] #2883 closed

[2019-06-21 09:48] emmanuelbernard commented on #2883
I'd recommend you write your own query logic to validate but again it will be best effort unless you use transaction at a serializable level otherwise you are not protecting against phantom reads. It is very unlikely your DBA set up your database to guarantee that.

[2019-06-21 09:49] emmanuelbernard commented on #2874
+1 for me. I get confused too. CC @stuartwdouglas

[2019-06-21 09:50] emmanuelbernard commented on #2865
I'll close it in the mean time but if you feel it is not addressed @brigolini, I can reopen to further the conversation.

[2019-06-21 09:50] #2865 closed

[2019-06-21 09:57] emmanuelbernard commented on #2856
@sberyozkin Let's not focus on the consumes and get because this code equally fails. That's the original code that failed it if I recall.

[code]

[2019-06-21 10:12] machi1990 commented on #2678
@dmlloyd thanks for the clarifications.

So I have given this a thought and gave it a go [here](https://github.com/quarkusio/quarkus/compare/master...machi1990:2678?expand=1)

- Some enums are not / need not to be in skewCase e.g `Protocol` cf `ServerSslConfig.java`, I thought of adding an option `skewCase` for `@ConfigItem` to opt out the conversion.
- Some modifications had to be done for `Objec

[2019-06-21 10:24] emmanuelbernard commented on #2852
@aloubyansky I've created https://github.com/oracle/graal/issues/1417 to get to the bottom of it.

[2019-06-21 10:28] gsmet commented on #2284
Closing this one as it's a duplicate of the website issue.

[2019-06-21 10:28] #2284 closed

[2019-06-21 11:27] rsvoboda opened #2917 "Big file fails native image generation with java.lang.NegativeArraySizeException"
Big file in `META-INF/resources/` fails native image generation with java.lang.NegativeArraySizeException

Project code: https://github.com/quarkus-qe/beefy-scenarios/tree/master/scenario-201-static
Big file generated in process-test-classes phase using https://github.com/quarkus-qe/beefy-scenarios/blob/master/scenario-201-static/src/test/java/io/quarkus/qe/hello/GenerateLargeFile.java
Run it usin

[2019-06-21 11:28] dmlloyd commented on #2678
You're right, we do need a way to opt out.  Maybe `hyphenate-values` is a better name?  But it only applies to `enum` properties, so maybe a separate `@Hyphenate(false)` is better.  We could give an error if the `@Hyphenate` annotation is given on non-enum properties.

I think your approach is correct, generally speaking.

[2019-06-21 11:32] dmlloyd commented on #2917
This is not likely to be realistically fixable; SubstrateVM seems to store resources as byte arrays on the serialized heap, and byte arrays are bounded in size.  We probably should have a friendlier error message for this case, but that's about all we can do.  I think having a 2GB resource in a native image is pretty solidly an edge case though.

[2019-06-21 11:34] dmlloyd commented on #2914
This is Java 11 with GraalVM.  Maybe we should have a label for these issues (I've just indicated it by the issue title only) because there may be many of them over the next few weeks.

[2019-06-21 11:45] dmlloyd commented on #2894
No, it was an oversight on my part.

[2019-06-21 11:56] waldimiro opened #2918 "invocationContext.getTarget().getClass().getMethods() in @Interceptor @PostConstruct does not contains custom Method annotations"
**Describe the bug**
invocationContext.getTarget().getClass().getMethods() in @Interceptor @PostConstruct does not contains custom Method annotations.

**Expected behavior**
invocationContext.getTarget().getClass().getMethods() contains custom method annotations.

**Actual behavior**
To retrieve method annotations, I must iterate methods over ((Class<?>) invocationContext.getTarget().getClass().ge

[2019-06-21 12:15] wglanzer commented on #2903
@emmanuelbernard is it enough to just annotate my serializers/deserializers with "@ApplicationScoped" ? Tried this, nothing changed.
In JVM mode my serializers/deserializers work great.

Sorry for this dumb question at all, but I am new to CDI with quarkus - I always used Google Guice for dependency injection in my projects before.

[2019-06-21 12:25] jkremser commented on #1488
this was my "one-liner" :)

[code]

[2019-06-21 12:27] geoand commented on #1488
@jkremser The PR assuming it will be merged will shield you from all that GraalVM native-image complexity :)

[2019-06-21 12:30] rsvoboda commented on #2917
- 2GB => 1GB
 - agree it's a edge case (intentionally)

[2019-06-21 13:48] bobmcwhirter commented on #2852
I'm working on an upstream fix for this.

[2019-06-21 14:57] bobmcwhirter commented on #2852
See https://github.com/oracle/graal/pull/1418

[2019-06-21 15:01] GuangjieZHANG opened #2921 "How to set SSL required to NO_REQUIRED?"
I'am configuring a quarkus project with Keycloak.
When I test it locally, it works well.
But when I deployed it in docker with a remote address and then I test it with Postman, it said:   WARN  [org.key.ada.RequestAuthenticator] (executor-thread-1)  SSL is required to authenticate. Remote address 176.***.***.** is secure: false, SSL required for: EXTERNAL .
And it returns a 403 Forbidden.
Is there

[2019-06-21 15:54] emmanuelbernard commented on #2903
no, since your serializers are in a different maven module, you need to flag the module itself with the beans.xml file or get a jandex index generated. It's a matter of the classes be in the Jandex index so we can see them during extensions augmentation time. Right know I suspect they are not seen at all.

[2019-06-21 15:59] aloubyansky opened #2922 "BootstrapClassLoaderFactory to support application archives and respect managed dependencies"
In addition to resolving Quarkus application dependency models in the context of the current Maven project relying on the existence of the application classes directories, it'll be also useful to be able to do that for application archives. The primary use-case in mind is integrating externally developed extension testsuites (in the form of Maven artifacts) into the platform testsuite.

[2019-06-21 16:06] dmlloyd opened #2923 "Class generation build items are screwy"
We have a `GeneratedClassBuildItem` which accepts a class name, byte array, and a flag to indicate what "kind" of class it is.

At the same time, we have a pattern for generating classes, particularly with Gizmo: consume the `ClassOutputBuildItem` and then feed it to Gizmo and have it write the class directly to the `ClassOutput`.

On top of all this, we have two different kinds of `ClassOutput`.

[2019-06-21 16:28] machi1990 commented on #2678
Re: `skewCase` I was not sure about the naming either so I decided to went to the very end of my approach. Finally, I like what you propose better regarding an `@Hypenate` annotation.
I will go along that line and allow opting in for hypnated-values by `@Hyphenate(true)`. The default value is `false`.

Okay, let me prepare a commit and open a draft PR so that we can continue with the discussion th

[2019-06-21 16:30] emmanuelbernard opened #2925 "Remove confusing reference to libcrypt"
Fedora 29 ships with libcrypt.so.1
Fedora 30 ships with libcrypt.so.2

GraalVM uses libcrypt.so.1 so we moved to ubi as base image to avoid this problem.
GraalVM is planning to remove that dependency: https://github.com/oracle/graal/issues/1340#issuecomment-498653502

So not to confuse people I'll remove the reference

[2019-06-22 03:37] brunoborges opened #2931 "[Maven] Don't change finalName with runner classifier"
**Description**
When `uberJar` is `true`, the Quarkus Maven Plugin will change the generated artifact of the project with a `runner` classifier. This generates a JAR with a different finalName than what the user is expecting.

**Implementation ideas**
Either stop appending a different classifier, ultimately generating an uberJar as the final build artifact, or add a configuration option, where the

[2019-06-22 07:33] brunoborges commented on #2931
As a comparison, Spring Boot repackages the JAR of the application with the runnable uber jar. If the user really wants a new file, he/she needs to set a classifier manually: https://docs.spring.io/spring-boot/docs/current/maven-plugin/examples/repackage-classifier.html

I believe this is a better, commonly expected behavior, that users can rely on ${project.build.finalName}.jar

[2019-06-22 08:06] brunoborges commented on #2931
Ideally, there should be no `runner` classifier even when `uberJar` is false (default). Instead, if someone wants just the code of the application, then another classifier should be used (e.g. `lib`), or a clear separation of artifact generation by using Maven profiles with different settings of the plugin (e.g. either generates a runnable JAR, or generates just the library).

[2019-06-22 08:25] brunoborges commented on #2931
When `uberJar` is false, Quarkus Maven plugin will produce two JARs:

1. ${finalName}.jar containing only the code the user wrote
1. ${finalName}-runner.jar containing user code plus bootstrap and a MANIFEST with classpath pointing to dependencies in the `lib/` folder.

When `uberJar` is true, the plugin will produce one JAR:

2. ${finalName}-runner.jar containing user code plus bootstrap plus all

[2019-06-22 08:36] brunoborges commented on #2931
Discussion regarding this issue: https://twitter.com/brunoborges/status/1142339838881882112

[2019-06-22 08:59] rquinio commented on #2719
I faced this problem as well: it looks like empty relativePath is actually a hack used by some projects (ex: https://www.robintegg.com/2019/01/20/why-does-spring-initializr-set-the-parent-pom-relativepath-to-empty/) to bypass default resolution - I also found https://stackoverflow.com/a/37068864/1234362 with more details on the resolution.

Since it doesn't stack-overflow, Quarkus command line jus

[2019-06-22 09:00] stephenc commented on #2931
I would say the only excuse for renaming the original with `uberjar` on is if quarkus produced *three* artifacts in uberjar mode: the uberjar, The Uberrunner and the original.

In non-uberjar mode I see quarkus being probably doing the right thing.

The question is really is uberjar referring to the main artifact or the side runner.

* If intent is the side runner then perhaps rename the config to

[2019-06-22 09:44] gsmet opened #2933 "Move some of the Hibernate config to runtime"
So the idea is to move as many as possible elements to runtime config.

Note that some of the elements should stay as build time config because they are used during the build (for instance, the dialect) but we should try to push as many configuration knobs to runtime as long as it's technically doable.

[2019-06-22 11:00] machi1990 opened #2934 "Creating an uberJar with a fileName config fails"
**Describe the bug**
Creating an uberJar with a fileName set fails with a NPE.

**Expected behavior**
Should package the uber jar without failing

**Actual behavior**
The command throws an expection but the uberJar is successfully created.

**To Reproduce**
Steps to reproduce the behavior:
Run the following commands
1. `git clone -b uber-jar-bug https://github.com/machi1990/quarkus-quickstarts `
2

[2019-06-22 12:47] cescoffier commented on #2925
PR merged.

[2019-06-22 12:47] #2925 closed

[2019-06-22 12:52] cescoffier commented on #2903
@gsmet Codecs are already detected and registered by the extension if there are in the index.

[2019-06-22 13:15] gsmet commented on #2921
@pedroigor any chance you could answer this one?

[2019-06-22 13:40] gwenneg opened #2936 "Entities extending PanacheEntityBase are not enhanced in dev mode when located in a dependency"
**Describe the bug**
Getters and setters are not generated for an entity extending `PanacheEntityBase` and located in a dependency of a Quarkus project. This dependency contains an empty `beans.xml`.

**Expected behavior**
The Quarkus documentation says entities getter/setter generation should work for entities from dependencies as long as there's an empty beans.xml in the dependencies:

**Actual

[2019-06-22 14:30] gsmet commented on #2918
@mkouba I suppose it's related to Arc? Not sure what the behavior should be but I'm pretty sure you're the person to answer that :).

[2019-06-22 14:39] #1488 closed

[2019-06-22 15:21] #2914 closed

[2019-06-22 15:35] #2413 closed

[2019-06-22 18:28] rquinio commented on #1655
For Eclipse there is a spring-boot support plugin with same feature: https://github.com/spring-projects/sts4/wiki/Boot-Properties-Editor (can be installed at https://spring.io/tools3/sts/all)

If nobody has started working on this yet, I'm willing to give a try.

Is it OK to introduce a dependency from quarkus-extension-processor to org.springframework.boot:spring-boot-configuration-processor:2.1.

[2019-06-22 18:53] gwenneg commented on #2767
@gsmet I'm note sure there's a real problem here.

When I created this issue, I was trying to persist an entity with an attribute extending JPA's `AttributeConverter<List<Something>, String>` and the dirty check wasn't working in Quarkus while I had no problem with the same code in Thorntail (without Hibernate bytecode enhancement). I didn't see at first that there were some features of Hibernate

[2019-06-22 20:53] gsmet commented on #2767
Yes, there is: we should ignore the interfaces when going through the hierarchy. If not all interfaces, at least those Hibernate ORM SPIs.

[2019-06-22 21:16] gwenneg commented on #2936
It seems this bug only affects dev mode. It's not happening with `./mvnw clean package` followed by `java -jar target/jaxrs-resource-1.0-SNAPSHOT-runner.jar`.

[2019-06-23 08:33] machi1990 commented on #1909
@koziolk hi, any updates on this?

[2019-06-23 09:36] wglanzer commented on #2903
@emmanuelbernard I created a small repository, if you need it ( https://github.com/wglanzer/quarkus-kafka-exception , with docker-compose to bring up kafka ), because I do not know what I'm doing wrong..
- annoted them with "@RegisterForReflection"
- I created a beans.xml, containing my Serializers as beans.
- I "marked" them as used, with a System.out.println() in my rest resource.

[2019-06-23 11:21] machi1990 commented on #2798
@geoand I can take a look at this. Do you know how I can activate and test the skipped TCKs?

[2019-06-23 11:30] geoand commented on #2798
@machi1990 cool!

To run the TCK tests you just need to add `-Dtcks`.

Then just take a look at `tck-suite.xml` and see the comments on the disabled tests to see which ones you should enable once you have the fix.

Let me know if you need anything else, although it should be pretty straightforward to tackle this one (I am guessing anyway since I haven't actually looked into the code that would nee

[2019-06-23 11:51] machi1990 commented on #2798
Sorry,  I am pretty new on running TCKs tests. So I am going to ask will it suffice to remove these lines? https://github.com/quarkusio/quarkus/blob/88fb38b914ff027a562cb90f78ca060456204da8/tcks/microprofile-rest-client/tck-suite.xml#L47-L57

Yes, I think I know where to look at.

[2019-06-23 11:54] geoand commented on #2798
Exactly! That file contains (among other things) the tests have been currently excluded due to the fact that the current implementation doesn't pass them. So removing those line will re-enable the tests (you can verify it by doing it and running the testsuite and seeing the them fail)

:+1:

[2019-06-23 19:30] gwenneg commented on #2936
I added the missing getters/setters as a workaround for this issue and now I'm facing a new `IllegalStateException` with the following message when calling the `PanacheEntityBase.find()` method:

This also happens only in dev mode. Everything's fine if I run a packaged jar like in my previous comment. These two issues have to be related.

This time, I don't see any workaround, I'll have to wait fo

[2019-06-23 20:09] machi1990 commented on #2936
Hi @gwenneg, I do no know why you are getting the error but I think that I have a work around.

Taking a closer  look at your project  and was able to reproduce the problem with your current setup. But then looking closer, it looked to me like a `multimodule` project, so I went on and added a `pom.xml`  file at the root of the project:

[code]

And then I added:

[code]
in the `pom.xml` file of th

[2019-06-23 20:33] gwenneg commented on #2936
Hi @machi1990 and thanks for taking the time to help me.

My reproducer may look like a multi-modules Maven project with a missing parent `pom.xml`, but I actually didn't add this `pom.xml` on purpose. At first, I wanted to reproduce this issue with two separate repositories and then I got lazy and put everything in the same repository :)

I am trying to use Panache in several real projects which

[2019-06-23 23:35] stuartwdouglas commented on #2874
Recorder is probably a better name. Originally we had a recorder object that used templates, however that is not really part of the API any more.

[2019-06-24 00:05] dmlloyd commented on #2874
Maybe "recordable" would be a bit more idiomatic?

[2019-06-24 00:31] stuartwdouglas commented on #2874
I think either is fine. I think the distinction between recorder and recording proxy is more of an implementation detail. Technically they are recorders, it is basically an implementation detail that they delegate to another class that is also called a recorder.

[2019-06-24 00:41] #2894 closed

[2019-06-24 01:11] #2922 closed

[2019-06-24 01:12] #2719 closed

[2019-06-24 08:59] #2917 closed

[2019-06-24 09:12] stuartwdouglas commented on #2917
We do need some solution for serving files that does not involve storing them in the native image (e.g. an external directory).

[2019-06-24 09:14] rsvoboda commented on #1534
@dmlloyd @stuartwdouglas any plans to make Quarkus run on java 12 and java 13 ?

[2019-06-24 09:15] aloubyansky opened #2941 "Support JARs as test sources in Quarkus JUnit 5 extension"
Currently, Quarkus test extension expects the tests to be located in a directory on the disk. The testsuites of the externally built Quarkus extensions, however, will be integrated into the platform testsuite as JAR files. This issue is about adding support for JAR files as test sources to the Quarkus JUnit5 extension.

[2019-06-24 09:48] emmanuelbernard commented on #2874
I tend to prefer Recorder as it shows to the user the intent / end result.

[2019-06-24 11:59] cescoffier opened #2944 "Kafka - JsonObject serializer and deserializer not included in native image"
The issue has been reported by @michalszynkiewicz. So just re-transcribing:

It seems that in 0.17.0, the (Vert.x) JsonObject serializer and deserializer are not embedded in the native image.

https://gist.github.com/michalszynkiewicz/d527479cc4ce72a1addc61801ba34458

[code]

[2019-06-24 12:28] emmanuelbernard opened #2945 "Tell how to create a Jandex index in dependencies for multi-modules projects"
We tell people they need to generate a Jandex index https://quarkus.io/guides/cdi-reference#bean_discovery
But we don't tell them how? It would be nice to point to the doc or simply tell them right away.

Likewise telling where to create the beans.xml `resources/META-INF/beans.xml` would be helpful, I saw a user making the mistake.

[2019-06-24 12:28] emmanuelbernard commented on #2945
@mkouba ou even @n1hility

[2019-06-24 12:29] gsmet commented on #2945
FWIW, I wrote a comprehensive answer on Stack Overflow: https://stackoverflow.com/questions/55513502/how-to-create-a-jandex-index-in-quarkus-for-classes-in-a-external-module/55513723#55513723 .

[2019-06-24 12:45] emmanuelbernard commented on #2945
We could reference it then

[2019-06-24 12:47] emmanuelbernard commented on #2903
You did put the `beans.xml` in the wrong directory and in the wrong project :)
Here is the fix https://github.com/wglanzer/quarkus-kafka-exception/pull/1

And a comprehensive answer to add another module's beans to a Quarkus project https://stackoverflow.com/questions/55513502/how-to-create-a-jandex-index-in-quarkus-for-classes-in-a-external-module/55513723#55513723

[2019-06-24 12:48] #2903 closed

[2019-06-24 12:57] dmlloyd opened #2946 "Allow incomplete classpaths by default"
**Description**
Add a configuration switch to allow incomplete class paths for native image; the default should be `true`.

As discussed on [the development list topic](https://groups.google.com/d/topic/quarkus-dev/Yx3Z00wFtXw/discussion).

[2019-06-24 13:01] dmlloyd commented on #1534
Some day, for sure, because we'll want to support the next LTS version.  But supporting 11 is a prerequisite.

[2019-06-24 13:02] dmlloyd commented on #1655
Sure, that's probably OK, just be aware that these are not public SPIs so the format of the metadata may change without much notice.

[2019-06-24 14:17] agiertli opened #2949 "NoSuchMethod during unit test"
Please see following test case:

https://github.com/agiertli/quarkus-nosuchmethod-error

This may be related to:
https://github.com/quarkusio/quarkus/issues/1724
(I am not sure)

[2019-06-24 14:17] agiertli commented on #2949
Closing as it's a duplicate of:
https://github.com/quarkusio/quarkus/issues/1724

[2019-06-24 14:53] #2908 closed

[2019-06-24 15:45] gsmet opened #2950 "Upgrade to Hibernate Search 6.0.0.Alpha7"

[2019-06-24 16:33] #2412 closed

[2019-06-24 16:33] #2792 closed

[2019-06-24 16:33] #2876 closed

[2019-06-24 17:54] wglanzer commented on #2903
Thank you for your patience, it works now :) 👍

[2019-06-24 18:34] pedroigor commented on #2921
@GuangjieZHANG, could you please try to set `quarkus.keycloak.ssl-required=NONE` ?

For more details about the different configuration options, see https://www.keycloak.org/docs/latest/securing_apps/index.html#_java_adapter_config.

[2019-06-24 19:03] emmanuelbernard commented on #2903
No worries, it's good feedback and we found areas to improve the doc on.

[2019-06-24 19:18] machi1990 commented on #2933
Hi @gsmet,

I was curios about this one and started checking its feasibility. I have some few questions to help my understanding.

1. What will be the impact of this change to `HibernateOrmTemplate.initMetaData(…)` which is called on a `STATIC_INIT` record block?: https://github.com/quarkusio/quarkus/blob/688ee16b0641ac60239c0c7970ce23b6cbff35ff/extensions/hibernate-orm/deployment/src/main/java/io

[2019-06-24 20:00] dmlloyd opened #2951 "Add support for weak build item producers"
**Description**
Add the ability to mark a build step's produced item(s) as `@Weak`.  If the build chain only consumes items that a step produces weakly, the step is skipped.

**Implementation ideas**
This functionality is already built in to the build chain builder and is used by bytecode recorders.  This issue is to make the feature generally applicable by adding support for the annotation to the

[2019-06-24 21:10] #2944 closed

[2019-06-24 21:51] dmlloyd opened #2954 "AnnotationProxyBuildStep is racy"
`AnnotationProxyBuildStep` leaks a build producer outside of its build step.  Build producers can only be executed within the duration of that step's execution.  Once the step method returns, build producers must no longer be used, otherwise produced items might silently go missing (in the case where there's nothing to catch the exception that is thrown).

[2019-06-24 22:28] aloubyansky opened #2955 "ArchiveRootBuildItem should include archive location and the archive root paths"
It's currently initialized with a single path, which is practically application classes directory. However, when an instance of `ApplicationArchiveImpl` is created using `ArchiveRootBuildItem`, it expects two different arguments: one representing a path to the archive, the other one - app classes dir. It works in case the app archive is represented with the app classes dir but if the app archive i

[2019-06-25 04:37] #2941 closed

[2019-06-25 06:07] agiertli commented on #2949
Can somebody from eng please double check whether this is the same manifestation of the issue reported here #1724?

[2019-06-25 06:44] mkouba commented on #2904
Yes, it would be a minor change in the health extension build step.

`@Singleton` is very similar to `@ApplicationScoped` except for it's not a normal scope and so no client proxies are injected, instead a direct reference to the bean is used.

There are few consequences:
* no lazy init; `@ApplicationScoped` beans in weld and arc are instantiated lazily, when first used
* not possible to destroy a

[2019-06-25 08:51] rsvoboda opened #2957 "Check availability of native-image command in NativeImagePhase"
Check availability of native-image command in NativeImagePhase

Starting with GraalVM 19 native-image is not standard part of GraalVM installation.
When running Quarkus native-image plugin user gets not so great `No such file or directory`  exception. On the first sight it's not clear what file is not present as the message mentions `target` directory too.

User may think that the build went wrong

[2019-06-25 08:53] gsmet commented on #2957
It would be nice if we could take care of this one today as we plan to release tomorrow with GraalVM 19 support and we could have a lot of reports.

[2019-06-25 08:55] rsvoboda commented on #2957
Wanted to keep it open for community, but I can look into it.

[2019-06-25 08:57] GuangjieZHANG commented on #2921
Thanks so much!!!!!  It works!!!! I've spent at least 10 days and now it works well.
Merci beaucoup! @pedroigor @gsmet

[2019-06-25 08:57] #2921 closed

[2019-06-25 09:24] gsmet commented on #2957
If you can, please do. Definitely better to have it for tomorrow’s release.

[2019-06-25 09:28] lordofthejars commented on #1488
PR for not using reflection has been released in the kubernetes client since 4.2.0 currently we are 4.3.0 so it should work.

[2019-06-25 09:32] geoand commented on #1488
@lordofthejars there were still some reflection issues that needed to be addressed to make the Client work on GraalVM, hence the need for the extension

[2019-06-25 09:36] lordofthejars commented on #1488
Sure, anything you need from Kubernetes client just pings us and we will release ASAP.

[2019-06-25 09:47] geoand commented on #1488
Thanks :) We should be good for the time being, but I'll definitely let you know whatever comes uo

[2019-06-25 10:17] FroMage commented on #2949
Thanks, I will check this.

[2019-06-25 10:32] mkouba commented on #2918
I'm sorry but I wasn't able to reproduce the issue. In your case, `invocationContext.getTarget()` should return the instance of `MyIntercepted` and if so, then it's up to the JDK reflection ad eveything should work as expected. You're mentioning `getGenericSuperclass()` in the description. For `MyIntercepted` this method should return `null` so I suppose that was another example?

[2019-06-25 11:00] rsvoboda opened #2959 "Native image - java.lang.ClassNotFoundException: com.fasterxml.jackson.module.jaxb.JaxbAnnotationIntrospector"
Native image build process throws java.lang.ClassNotFoundException: com.fasterxml.jackson.module.jaxb.JaxbAnnotationIntrospector

Native image is generated, but console is polluted with stacktrace.
Running Quarkus master and GraalVM 19.0.2 CE.

[code]

[code]

Running `mvn verify -Dnative` passes but console is polluted with stacktrace

[2019-06-25 12:11] mkouba commented on #2714
It's very likely a gizmo bug: https://github.com/quarkusio/gizmo/issues/14.

[2019-06-25 13:32] waldimiro commented on #2918
In my case invocationContext.getTarget() returns a "MyIntercepted_Subclass" class...

[2019-06-25 14:12] mkouba commented on #2918
I see. In that case, the `MyIntercepted` bean has some methods intercepted as well and a subclass instance must be used as a contextual instance and also as `InvocationContext.getTarget()`. The methods declared on the subclass do not declare any annotations and so your solution using `getGenericSuperclass()` is correct. You may also test the target class to implement `io.quarkus.arc.Subclass` to b

[2019-06-25 14:26] andreybevilacqua opened #2961 "IllegalStateException when adding quarkus-smallrye-openapi to a Quarkus Rest application"
I’m creating a Quarkus Rest application, with resteasy, Lombok, H2 db and Panache. I’m inserting data in the database during startup (AppLifecycleBean.java), and works when I run `mvn clean install -U`.

But when I add the OpenAPI dependency in pom.xml, I’m getting `org.jboss.resteasy.spi.UnhandledException: java.lang.IllegalStateException: This method is normally automatically overridden in subcl

[2019-06-25 14:32] mkouba commented on #2918
@manovotn I would expect the same behavior in Weld, right?

[2019-06-25 14:38] pedroigor commented on #2921
@GuangjieZHANG, thank you for trying this out. We do have a link to that doc at https://quarkus.io/guides/keycloak-guide. But maybe we should make it more visible given that it is quite hidden at the bottom of the page :)

[2019-06-25 15:48] gsmet commented on #2959
This is due to this code: https://github.com/quarkusio/quarkus/blob/master/extensions/resteasy-server-common/deployment/src/main/java/io/quarkus/resteasy/server/common/deployment/ResteasyServerCommonProcessor.java#L491 .

We have several options:
- live with it: I don't think that's acceptable as it's going to log an exception in A LOT of cases
- remove it: not sure it's a good idea as it would br

[2019-06-25 16:33] #2955 closed

[2019-06-25 16:51] dmlloyd commented on #2959
Sure, seems fine, as long as it's tracked & fixed later.

[2019-06-25 17:04] machi1990 commented on #2959
Maybe comment for tomorrow release with reference to this issue and keep this issue open for tracking?

[2019-06-25 17:05] gsmet commented on #2959
I think I will just test if the classes are in the classpath for now.

This way, the workaround is very localized and where the things are already a bit ad hoc.

We do that a few lines above for another class.

I'll try to push something this evening.

[2019-06-25 17:13] #2957 closed

[2019-06-25 17:54] patriot1burke opened #2962 "@IncludeWhen(LaunchMode.NORMAL)"
**Description**
I think there's a few different places where we have @BuildSteps that we want to include or exclude only for a specific launch mode.  It bothers me that I have to include a LaunchModeBuildItem as a parameter to my method and then do an if statement to determine whether or not to run the build step.  THis is mostly a cosmetic suggestion, but it would be nice to have this encapsulate

[2019-06-25 21:38] gastaldi opened #2963 "Build warnings when using quarkus-smallrye-health extension"
**Describe the bug**
The following warnings are shown during the build:
[code]

**Expected behavior**
No warnings

**Actual behavior**
Warning is shown

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. cd getting-started
3. mvn package

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: `Linux ggastald-laptop 5.1.6-300.fc30.x86_64 #1 SMP Fr

[2019-06-25 21:49] machi1990 commented on #2963
@gastaldi the warning is expected: introduce by this PR https://github.com/quarkusio/quarkus/pull/2644.

[2019-06-25 21:51] gastaldi commented on #2963
@machi1990 I am not saying that the warning shouldn't exist, but I think the smallrye-health extension needs to be enhanced to not trigger that warning, no?

[2019-06-25 22:08] dmlloyd commented on #2298
Evaluated as part of the Graal 19 project work.  We're sticking with build-time initialization by default to favor performance.  So far so good...

[2019-06-25 22:08] #2298 closed

[2019-06-26 02:17] clochardpagan opened #2966 "Can we have simple session authentification"
**Description**
Quarkus is new, modern, fancy all the good things you have, when you are young. But there are some not-so-young systems we deal with, and it will be a huge relief to have something similar to good old sessions id cookies stored somewhere.

**Implementation ideas**
No big ideas, but there are some reasons why it's not possible, convenient or secure to use JWT secured service. For ex

[2019-06-26 04:31] jmini opened #2967 "OpenAPI: query parameter "format" value"
As discussed with @EricWittmann on gitter, the MicroProfile specification is clear about the optional query parameter `format` that is used to control the format of the OpenAPI specification:

[code]

The `<value>` can be:
* `YAML`
* `JSON`

See: https://github.com/eclipse/microprofile-open-api/blob/1.x/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#53-query-parameters

—

The current imple

[2019-06-26 06:55] manovotn commented on #2918
Yes, Weld subclasses (and proxies) do not inherit annotations either. These subclasses are generally considered to be hidden away from user so having annotations doesn't make much sense plus you would get into troubles detecting which annotations are to be there (`@Inherited` ones and so on).

[2019-06-26 07:33] mkouba commented on #2963
Moreover, [this method](https://github.com/smallrye/smallrye-health/blob/master/implementation/src/main/java/io/smallrye/health/SmallRyeHealthReporter.java#L102) is private and should be completely ignored.

[2019-06-26 07:48] GuangjieZHANG commented on #2921
Yes it really was. I was looking for a document like this for a long time but always not getting it.
Btw Quarkus is really cool~ Thanks for you all ! @pedroigor

[2019-06-26 07:55] GuangjieZHANG commented on #2921
I have found this document and configured the project according to this page : https://quarkus.io/guides/keycloak-guide. but in this guide I did't find how to disable the ssl-required.
Now it really works.
BTW, Quarkus is really cool and thanks so much to you all ! @pedroigor

[2019-06-26 07:55] gsmet opened #2971 "Fix reflection registration of unknown class"
We have to revert https://github.com/quarkusio/quarkus/pull/2970 and see if allowing incomplete classpath fixes the issue.

Or we need to find a better fix.

[2019-06-26 08:05] rsvoboda commented on #2971
Some details in https://github.com/quarkusio/quarkus/issues/2959 and https://github.com/quarkusio/quarkus/pull/2969

[2019-06-26 08:05] fboulay opened #2972 "Uber jar creation fails with a specific library"
**Describe the bug**
When adding the library `com.google.api-ads:ads-lib:4.6.0` it is impossible to create an uber jar.

**Expected behavior**
The uber jar creation should work

**Actual behavior**
The stack trace is the following when executing `mvn package`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a quarkus project, for example with this command (from the getting start

[2019-06-26 08:08] emmanuelbernard commented on #2231
Hey all,
This is a recurring feedback we hear when at conference. We really need to improve on the guides and merge them. Who could drive a v1 home on that part at least? @sebastienblanc I know at some point you volunteered, can you still try?

[2019-06-26 08:11] emmanuelbernard commented on #2231
The other feedback is that people tried to set up OAuth with our doc and failed.

[2019-06-26 08:41] anadollu opened #2974 "quarkus-hibernate-validator module ignore custom constraint validators defined in SPI file"
**Describe the bug**
quarkus-hibernate-validator module ignores ConstraintValidators defined in

/META-INF/services/javax.validation.ConstraintValidator file

**Expected behavior**
to be able to register custom constraint validators  for third party annotations in /META-INF/services/javax.validation.ConstraintValidator

**Actual behavior**
Custom constraint validators defined in SPI file not regis

[2019-06-26 10:38] FroMage commented on #2961
Essentially what happens is that OpenAPI loads our class in the main class loader before Hibernate and Panache had a chance to enhance it:

[code]

Whereas without openapi, the class is loaded by ORM after we've enhanced it:

[code]

[2019-06-26 10:40] FroMage commented on #2961
I do see:

[code]

printed _after_ openapi scans things (in the test that fails), but before ORM loads the classes (in the test that works)

@stuartwdouglas or @dmlloyd any idea how I can fix this?

[2019-06-26 11:19] guanchao-yang opened #2978 "After project generated , when exec command ` ./mvnw package -Pnative -DskipTests` and I got errors as below"
**Please use StackOverflow for questions.**

This helps the community to be able to find answers to their similar issues more easily.

[Click this link to ask on StackOverflow with the "quarkus" tag](https://stackoverflow.com/questions/ask?tags=quarkus).

[2019-06-26 11:20] guanchao-yang opened #2980 "After project generated , when exec command ` ./mvnw package -Pnative -DskipTests` and I got errors as below"
I use Maven command generate the project below :

[code]

 After project generated , when exec command ` ./mvnw package -Pnative -DskipTests` and  I got errors as below :

[code]

[2019-06-26 11:21] #2755 closed

[2019-06-26 11:30] emmanuelbernard commented on #2980
This is to be expected, the version of Graal that Quarkus 0.17.0 and below use is 1.0rc16.
But Quarkus 0.18.0 is about to be released any time now with GraalVM *19.0.2* support.

[2019-06-26 11:30] #2980 closed

[2019-06-26 11:33] emmanuelbernard commented on #2972
@aloubyansky can you have a look at this one?

[2019-06-26 11:39] #2967 closed

[2019-06-26 11:43] aloubyansky commented on #2972
I think this issue should be fixed actually by https://github.com/quarkusio/quarkus/commit/9da728d2ee903e864b1886e5adbb713aaebe025b

[2019-06-26 11:44] #2963 closed

[2019-06-26 11:46] #2959 closed

[2019-06-26 11:49] aloubyansky commented on #2972
Yes, verified following the instructions to reproduce. Thanks reporting anyway!

[2019-06-26 11:49] #2972 closed

[2019-06-26 11:54] mkouba commented on #2954
What does this actually mean?

If that's the case then we should definitely update the `BuildProducer`'s javadoc.

From what i remember we use this "approach" quite often, for example https://github.com/quarkusio/quarkus/blob/master/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java#L181.

How would you recommend reimplementing a similar stuff where some logi

[2019-06-26 12:07] dmlloyd commented on #2954
It means that when you call `BuildProducer.produce()` outside of the scope of your build step, it is (probably) throwing an exception that is silently discarded.  Though looking at the code, there might not be a check for this after all.

Sure.

You'll need another build step if you want to produce build items later.  If you want to produce a build item earlier which represents some action that sh

[2019-06-26 12:18] csotiriou opened #2981 "ContextNotActiveException when using SuspendableContainerRequestContext"
I am using Mongo (JVM, I do not care about native) as a pre-request filter, in order to get some data from the MongoDB before it reaches the actual Resource.

Mongo Driver is asynchronous by nature, so I call `suspend()` before I start making the call. However, when trying to do `resume()`, I get a `javax.enterprise.context.ContextNotActiveException`.

The following is written in the `public void

[2019-06-26 12:21] gpthome commented on #2128
I was seeing a similar issue...

Listening for transport dt_socket at address: 5005
←[38;5;145m2019-06-26 06:47:54,334←[39m←[38;5;188m ←[39m←[38;5;107mINFO ←[39m←[38;5;188m [←[39m←[38;5;69mio.qua.dep.QuarkusAugmentor←[39m←[38;5;188m] (←[39m←[38;5;71mmain←[39m←[38;5;188m) ←[39m←[38;5;151mBeginning quarkus

Setting `quarkus.log.console.color=false` did actually make the gibberish go away when runnin

[2019-06-26 12:34] dmlloyd commented on #2954
In fact this has been in the doc since November 2018:

[2019-06-26 12:52] FroMage commented on #2981
You should use MP-CP. You can inject a `ThreadContext` object and use its methods to wrap your calls. If your underlying mongo client uses RxJava2 it should work OOTB (if you depend on `smallrye-context-propagation-propagators-rxjava2`).

I don't think we can use `ThreadContext` to wrap `Publisher` because it does not depend on RS, but we could make a case for it in the spec.

[2019-06-26 12:57] fboulay commented on #2972
@aloubyansky thank you for you quick response.

[2019-06-26 13:14] mkouba commented on #2954
Well, in my use case I need to produce a build item within an "unknown" build step (not the one which injected the build producer). In the referenced example we produce a `BeanDeploymentValidatorBuildItem` with a `BeanDeploymentValidator` instance that is executed during `ArcAnnotationProcessor.build()` and when executed may produce some build items. Would it make sense to make it possible to prod

[2019-06-26 13:19] acheaito commented on #2021
I can confirm that quarkus.http.ssl.certificate.key-store-password=mypass works with 0.16.1

[2019-06-26 13:25] geoand commented on #2021
Thanks @acheaito . I'll close this one then.

[2019-06-26 13:25] #2021 closed

[2019-06-26 13:39] snsbe opened #2985 "OpenTracing JaxRs Client Async Starting new Trace"
**Describe the bug**
When using JaxRS Client to call out using `.rx()`, there is started a new trace instead continue existing.

Tried also adding `TracedExecutorService`, without any success.
[code]
**Expected behavior**
Expected to continue existing trace, with new spans.

**Actual behavior**
A completely new trace is started.

**To Reproduce**
I have created a repo to reproduce the error [https

[2019-06-26 13:44] FroMage commented on #2961
SmallRye OpenAPI actually uses jandex, but they check if the entity is a subtype of `Collection`, which is not in jandex and so they revert to loading the class.

[2019-06-26 13:46] FroMage commented on #2961
So we could fix this by making SmallRye OpenAPI use a throw-away CL, or making the extension depend on a build marker that says that types have been instrumented. WDYT?

[2019-06-26 13:48] kenfinnigan commented on #2985
I don't believe the JAX-RS Client has any built-in functionality for propagating trace span headers from incoming to outgoing request.

If you want that behavior, you need to use the REST Client: https://quarkus.io/guides/rest-client-guide

[2019-06-26 13:59] snsbe commented on #2985
It's working when do synchronous call, with a client .registered with the `ClientTracingFeature`.

[2019-06-26 14:01] snsbe commented on #2985
For the Resteasy 3, there is some doc here [https://github.com/opentracing-contrib/java-jaxrs#resteasy](https://github.com/opentracing-contrib/java-jaxrs#resteasy)

[2019-06-26 14:10] dmlloyd commented on #2954
Can you run the instance, but instead of producing the values directly, collect them into a list or something, and then produce the list from a known build step?

[2019-06-26 14:22] csotiriou commented on #2981
I see what you mean. So, as I understand it, I need to propagate the current context so that I can call `resume()` later, am I right?

Just two notes
1) The rxJava implementation of MongoDB is deprecated. The Reactive Streams implementation of MongoDB is the only supported async version.
2) How can I use context propagation in this case? The doc mentions that context propagation works with Reactiv

[2019-06-26 14:26] mkouba commented on #2954
I'm not sure. In any case, that would make the usage less flexible and more verbose :-(

[2019-06-26 14:35] FroMage commented on #2981
Reactive Streams is not an implementation, it's an API. The implementation is either RxJava2 or Reactor. Do you know which one it is you're using?

If the Mongo client is using RS-Operators, then it uses RxJava2 and so yes, it should work. Is that the case?

[2019-06-26 14:52] FroMage commented on #2961
Fix in #2987 but not sure it's the right fix.

[2019-06-26 14:55] FroMage commented on #2949
Huh, this is weird, I can't reproduce this. Running `mvn clean test` from your repo passes for me. Which JDK are you using?

[2019-06-26 14:57] kenfinnigan commented on #2985
Though you've included the `smallrye-rest-client` into your project, you're still using the JAX-RS Client only.

If you switch to using the SmallRye REST Client, I believe that works for synchronous or asynchronous calls. As `smallrye-opentracing` registers asynchronous tracers into the REST Client

[2019-06-26 15:01] FroMage commented on #2936
It appears that we do detect that we need to modify the entity archive, because we create the modified jar, but we don't populate it:

[code]

[2019-06-26 15:04] FroMage commented on #2936
The augmented entity is properly in `target/jaxrs-resource-1.0-SNAPSHOT-runner.jar` though.

[2019-06-26 15:09] csotiriou commented on #2981
Thanks for the immediate answer.

Actually, this is the driver I am using:
https://mongodb.github.io/mongo-java-driver-reactivestreams/

It exposes APIs only through publishers and subscribers from the org.reactivestreams implementation.

The other ones, like
https://mongodb.github.io/mongo-java-driver-rx/
https://mongodb.github.io/mongo-java-driver/  (This one mentions that the async part of this

[2019-06-26 15:25] FroMage commented on #2936
Ah, so it's normal that these archives don't have the types we transform, I forgot that was the resolution of #2196.

Note that this is working in the `java -jar target/...-runner.jar` case.

[2019-06-26 15:34] FroMage commented on #2936
In this case, in `quarkus:dev` I can see that the class is loaded from the unmodified archive: `/home/stephane/.m2/repository/com/gwenneg/entity-dependency/1.0-SNAPSHOT/entity-dependency-1.0-SNAPSHOT.jar` rather than the augmented classes.

At this point, surely @stuartwdouglas will know why it's not using the augmented class in dev mode.

[2019-06-26 15:42] FroMage commented on #2833
This could be due to #2961

[2019-06-26 15:50] FroMage commented on #2981
OK, so you're right, they implemented their own RS implementation. That's ambitious. So in any case, MP-CP cannot propagate context automatically in this case since it does not know about their implementation.

This should get you working:

[code]

With this thread context injected in your interceptor:

[code]

You can also use programmatic injection if your interceptor is not a bean.

[2019-06-26 15:57] FroMage commented on #2981
I've filed https://github.com/eclipse/microprofile-context-propagation/issues/166 to add support for this to MP-CP.

[2019-06-26 16:11] fndejong commented on #2021
@geoand I still have to document the feature. I must admit that I forgot to do it, since it took longer then expected to get merged. I should have some time to write document the options and their meaning in the coming weekend.

[2019-06-26 16:12] geoand commented on #2021
@fndejong OK, sounds good

[2019-06-26 16:45] dmlloyd commented on #2961
If you have an ordering constraint, then that should probably be represented by a build item dependency.  I have a change (#2952) which introduces "virtual" build items but just producing and consuming an empty simple build item is probably good enough for now.  I think it does make sense to have a build item representing the fact that bytecode enhancement was completed.

[2019-06-26 17:35] csotiriou commented on #2981
@FroMage thank you. But I still have no luck.

[code]

Error:
`java.lang.IllegalStateException: UT000048: No request is currently active`

The error seems to have changed a little, but the root of the problem is probably the same, am I right?

[2019-06-26 18:10] csotiriou commented on #2981
I apologize. Your solution worked, and I thank you very much, @FroMage . The next error originated by somewhere else in my code, where I hadn't used MP-CP (where I also should).

[2019-06-26 18:43] lordofthejars opened #2989 "Create a HealthStatus helper class"
**Description**

Checking MicroProfile spec, in CDI section (https://github.com/eclipse/microprofile-health/blob/master/spec/src/main/asciidoc/java-api.adoc#integration-with-cdi) you'll see that they are using a class called `HealthStatus`. This class is not a spec class but a helper class created for the sake of simplifying the example.

But after using the spec a bit, I have arrived at the concl

[2019-06-26 18:45] kenfinnigan commented on #2989
Would you consider contributing that directly to https://github.com/smallrye/smallrye-health ?

[2019-06-26 18:49] lordofthejars commented on #2989
@kenfinnigan Well this is what we could discuss if this should go to smallrye-health or in Quarkus. For what I see this is not something related to spec so it should be outside, but of course, it is just my point of view. Not strong opinion.

[2019-06-26 18:50] mthmulders opened #2990 "Circular dependencies?"
I'm trying to see if I can get the [MVC specification (JSR 371)](https://www.mvc-spec.org/) and its reference implementation [Krazo](https://github.com/eclipse-ee4j/krazo) working in a Quarkus app.
I think the right way to do that is by creating a Quarkus extension.
I've got a [skeleton](https://github.com/mthmulders/quarkus-mvc) of that, and I have a small MVC-application (in the same repo) on to

[2019-06-26 18:52] kenfinnigan commented on #2989
SmallRye is not intended to be a "pure spec" implementation. Granted it might get murky if changes actually break the TCK, but we can always look to adjust the TCK if that happens.

If there are changes that would benefit anything using a piece of SmallRye, we'd like to see it integrated there

[2019-06-26 18:53] lordofthejars commented on #2989
Ok, then I'll send the PR there :) thanks.

[2019-06-26 18:54] kenfinnigan commented on #2989
Up to you, but you could leave this open and link to SRye Health issue so we can track it being included with a new release

[2019-06-26 18:56] lordofthejars commented on #2989
Ok I lol do it in this way. Good idea.

El El mié, 26 jun 2019 a las 20:54, Ken Finnigan <notifications@github.com>
escribió:

--
Enviat amb Gmail Mobile

[2019-06-26 19:34] FroMage commented on #2961
I'd be fine with that, except I think the augmentations are done lazily so not sure we can determine they've all been done. Also I suspect they're done outside the build graph…

[2019-06-26 19:35] FroMage commented on #2981
OK, excellent, this is great news :)

Let me know if you have success in that other part of your code.

[2019-06-26 21:18] jmini opened #2991 "OpenAPI: RESTEASY003210 issue with @ApplicationPath("")"
I am not a JAX-RS expert, but I think that `@ApplicationPath("")` and `@ApplicationPath("/")` are the same.

Javadoc for `String value();` in `@ApplicationPath`:

If this is correct you can continue to read this issue.

---

**Describe the bug**
When using `@ApplicationPath("")` the OpenAPI specification is not served.

**Expected behavior**
[code]

Returns a Yaml OpenAPI.

**Actual behavior**
[co

[2019-06-26 22:06] Dufgui commented on #1943
ok, it's work on 404 now, and the template is centralized. I don't create the /@documentation
but I don't know how doing it on compile/deploy phase, so you think i can do it on runtime ?
And i must add return type and real method  and class wich handle the end point.

for the landing page, i don't find it yet, because it seems to be taken by undertow and not by reasteasy. So i must check how to ha

[2019-06-27 05:44] sgerr commented on #2021
@fndejong I juist wrote a short howto at Stack Owerflow.

https://stackoverflow.com/questions/55588382/quarkus-https-restful-service/55647430#55647430

May be it would be helpful.

[2019-06-27 05:49] haroldjcastillo commented on #2125
Hi @gsmet @anadollu, I'm not sure why it does not work.

In my dockerfile I have:
[code]

`docker build -f src/main/docker/Dockerfile.native -t test-image .`
`docker run -i --rm -p 8080:8080 test-image`

`ssl`  and `target` folder contents is copied into the WORKDIR, ex:

[code]
In the container, I have a folder `lib` with the `amd64`

[code]
Do you know if I should do something else?

[2019-06-27 06:35] lordofthejars commented on #2989
I created an issue to smallrye-healthcheck project: https://github.com/smallrye/smallrye-health/issues/50 This issue can be used to track when the issue lands to Quarkus as well.

[2019-06-27 07:43] vorburger commented on #1930
#2993 by @garyttierney may propose a solution for this problem?

[2019-06-27 08:27] loicmathieu opened #2997 "Offers a way to configure a transaction timeout per transaction"
**Description**
Quarkus offers a way to configure the default transaction timeout but no way to configure it per transaction (per method that is transactional).

**Implementation ideas**
This has been discuss on the mailing list (https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/quarkus-dev/My_108NopbE), the proposition it to add a new annotation `@TransactionTimeout("5")`

[2019-06-27 08:29] loicmathieu commented on #2997
I will work on it next week.

[2019-06-27 08:34] emmanuelbernard opened #2999 "Offer a JNIBuildItem to let extensions enable JNI"
See https://groups.google.com/d/topic/quarkus-dev/pLwbEB1VCP0/discussion for the conversation

[2019-06-27 09:01] FroMage commented on #1943
I think we can do the `@documentation` another time. This is already great. So we only need to make sure this runs only in DEV/TEST mode. You can do that in `ResteasyProcessor` by conditionally registering your feature based on a new injected `LaunchModeBuildItem` parameter.

[2019-06-27 09:02] masini commented on #2997
What about adding a new @TransactionConfig, where various configurations can be added, like:

* isolation level
* readonly
* transaction timeout ?

[2019-06-27 09:23] loicmathieu commented on #2997
Hello masini,

Isolation Level is the same as the TxType that can be provided inside a `@Transactional` annotation right ?

For readonly I'm not sure it's something part on any spec, so i'm not sure all transaction manager support it ... for me, readonly transaction it's ... no transaction ? I usually don't put any `@Transaction` annotation for read only methods.

We can for sure add a more generi

[2019-06-27 09:27] csotiriou commented on #2981
@FroMage I stumbled across a discovery, actually.

The other error was inside my interceptor, where I also wanted to do some logging of the inbound request. This is a method interceptor - so no filter there.

It turns out that when using the method suggested, the HTTPServletRequest cannot be injected anymore.

Sample code exhibiting the problem:

[code]

I have injected the HTTP Servlet Request vi

[2019-06-27 09:31] FroMage commented on #2981
So, probably `HTTPServletRequest` is a proxy which looks up the current request via some context. It's not RESTEasy I think, so propbably undertow, right @stuartwdouglas ?

[2019-06-27 09:38] loicmathieu opened #3002 "Issue on the Security Guide for embedded authentication"
**Describe the bug**
Following the security guide https://quarkus.io/guides/security-guide the configuration for the auth mechanism when using the embedded authentication is `CUSTOM` but is should be `BASIC`. It generates an error at runtime.

**Expected behavior**
Everything should work whe someone follow the security guide

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the guide ..

[2019-06-27 09:42] csotiriou commented on #2981
Maybe this has something to do with this problem?

https://github.com/eclipse/microprofile-context-propagation/issues/134

Is the current request being treated a different way? If yes, how can I gain access to the current request inside an interceptor when async filters are used in Quarkus?

[2019-06-27 09:44] kameshsampath commented on #2657
this is a show stopper for all the external service calls that might return JSON

[2019-06-27 09:44] FroMage commented on #2981
No, it's probably that we need a context provider for undertow. I just have to find what injects that servlet request.

[2019-06-27 09:48] FroMage commented on #2981
So what's your exact stack trace?

[2019-06-27 09:49] FroMage commented on #2981
It looks like `ServletRequestContext` is what I have to look at.

[2019-06-27 09:56] masini commented on #2997
Hi Mathieu,
* Isolation level is not the propagation, is READ_COMMITTED, SERIALIZABLE and so on
* readOnly is an hint that some transaction manager can use to optimize, suppose you have a nested transactionm this way you can tell the TM "don't bother with transaction, I'm reading !!" and some TM are very susceptible to this feature.
Thanks.

[2019-06-27 09:56] gsmet commented on #2021
@sgerr could you contribute something to this file: https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/undertow-reference.adoc ?

It would be nice to have some proper documentation in our reference doc.

Thanks!

[2019-06-27 09:57] gsmet commented on #2021
Ah just saw @fndejong wanted to do it, sorry.

Let's get something ready for the next release!

[2019-06-27 09:59] agiertli commented on #2949
Hi,

I have tried with jdk 8 and jdk 11. Error occurs with both.

$ java -version
openjdk version "11.0.2" 2019-01-15
$ java -version
java version "1.8.0_181"
$ mvn -v
Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T20:33:14+02:00)

[2019-06-27 10:05] agiertli commented on #2949
I've also asked a friend test this.
He is using Fedora 30 and OpenJDK 1.8
The output is here:
[code]

[2019-06-27 10:21] csotiriou commented on #2981
Most probably you are right.

Here is a capture of the stacktrace. The exception is caused by accessing the injected HTTPServletRequest inside an interceptor (medhod annotated with @AroundInvoke).

Relevant piece of code inside the handler of @AroundInvoke:

[code]

![Capture](https://user-images.githubusercontent.com/1228484/60258426-cb72bf00-98dd-11e9-8539-73bd57fe3cde.PNG)

[2019-06-27 10:54] manovotn commented on #2990
Not really an answer to your question, but just chiming in...
What I know for a fact is that Quarkus (or more accurately Arc) doesn't support circular dependencies at the moment whereas Weld does so long as there is at least one normal scoped bean in a given dependency chain (which is strictly speaking what CDI specification requires).

I am not sure if there are plans to support that (@mkouba mig

[2019-06-27 11:15] loicmathieu commented on #2997
@masini right, forget my comment. Isolation level is usually set at the driver level but right, having it configured per method can be usefull.

As the proposition of adding a `@TransactionTimeout` annotation comes from @emmanuelbernard I wanted to know what he think about it ?

[2019-06-27 11:18] FroMage commented on #2981
OK, I should have fixed it with #3006, can you try it out?

[2019-06-27 11:34] emmanuelbernard commented on #2997
`Hum, I have to admit I have not seen many situations where an app would use different isolation levels. Do you have examples?
read Only transactions is something that some DB might do minor optim on but it's more a case where the application can try and enforce it by checking that you are not writing to the DB.

BTW read only is still a transaction, you still have the isolation level guarantees w

[2019-06-27 11:47] gsmet commented on #2997
I know with Spring making a transaction read only could make a big
difference. We used that a lot.

As for setting the isolation level locally, you might want a serializable
isolation level for a couple of critical tables of your schema for instance.

I find the @TransactionTimeout name better as the @TransactionConfig name
doesn't sound very appealing but having one annotation for all the
configu

[2019-06-27 11:57] jorsol opened #3008 "No config value of type [java.lang.String] exists for: quarkus.application.name"
**Describe the bug**
I have generated a config example file with `./mvnw quarkus:generate-config` and check that it has the properties:
[code]

**Expected behavior**
These example file reads that if not set, defaults to the name/version of the project.

The defaults of the project is assumed to be from Maven `${project.version}` and `${project.artifactId}`.

**Actual behavior**
Trying to inject th

[2019-06-27 12:24] dmlloyd commented on #2999
Related: https://groups.google.com/d/topic/quarkus-dev/qJCKz-CU3RU/discussion

[2019-06-27 12:25] loicmathieu commented on #2997
On the other way, we are extending the capabilities of the `@Transactional` anotation right ?
So why not really do this, meaning create a `^QuarkusTransaction` (naming to choose) that extends `@Transaction` with timeout, isolationLevel and so ont. Than we tell the user to use the first one unless they need something specific on the second one.

If more things goes to the standard `@Transaction` we

[2019-06-27 12:26] mkouba commented on #2990
Matej is right, circular dependencies are not supported ATM. He's also right that users are encouraged to avoid circular dependencies where possible. On the other hand, it's a CDI spec requirement and so we should probably think about how difficult it would be to add the support of circular dependencies.

[2019-06-27 12:33] mthmulders commented on #2990
To be clear, I totally agree with @manovotn that having circular dependencies is not something to wish for.

In this case I've brought op the issue because it's an external codebase (Krazo) which I obviously cannot easily change. Of course I could mention it there, but they're probably well aware of the fact and I'm not sure if they're willing to change it.

[2019-06-27 12:42] sberyozkin opened #3010 "Update to smallrye-jwt-1.1-2.0.0"
**Description**
smallrye-jwt-1.1-2.0.0 will bring a number of new options to deal with the custom tokens and will have a more optimal key resolution

[2019-06-27 12:44] mkouba commented on #2990
I fully understand ;-). And I also doubt that Krazo's team is going to try to get rid of circular deps because as I mentioned - every CDI implementation must support it.

[2019-06-27 13:15] #3002 closed

[2019-06-27 13:19] csotiriou commented on #2981
@FroMage thank you very much. I will try it later today, since I need to setup my environment to compile quarkus, and use specific versions, etc. I will post back with my findings.

[2019-06-27 13:22] Sanne commented on #2854
Is there a matching HHH jira for this?

[2019-06-27 13:24] FroMage commented on #2981
OK thanks.

[2019-06-27 13:24] gsmet commented on #2854
@Sanne hmmm, the idea was to change the default value in Quarkus.

[2019-06-27 13:49] Sanne commented on #2854
ok, ignore me then. I assumed some work was needed in ORM upstream - in that case please link to it.

[2019-06-27 14:00] dwamara commented on #2657
@kameshsampath all my external service calls do.

[2019-06-27 14:02] gsmet commented on #2657
@kameshsampath @dwamara could you work on a simple reproducer? That would help.

[2019-06-27 14:05] dwamara commented on #2657
I'll modify one of my code producing this error and will upload it tonight.

[2019-06-27 14:09] gsmet commented on #2657
Thank you. We are in the process of changing the REST client implementation but it's a good opportunity to check if the new one still has the issue.

/cc @kenfinnigan @asoldano

[2019-06-27 14:16] kenfinnigan commented on #2148
I think for now we will close this.

If it becomes a real use problem we can re-evaluate

[2019-06-27 14:16] #2148 closed

[2019-06-27 14:18] manovotn commented on #2990
After some discussion with @mkouba - the current implementation operates with `InjectableBean` as a metadata reference. Each such bean knows all of its dependencies and holds them in a form of `InjectableReferenceProvider` fields. In order to support cyclic dependencies, we would need to replace this with something like `Supplier<InjectableReferenceProvider>`. With that we would also need to chang

[2019-06-27 14:29] masini commented on #2997
I like the idea of @QuarkusTransaction, so that we are still under spec but with more feature !

Regarding read-only, some DB needs it, like MS SQLServer which is very good at managing query on that that some other transaction are reading, and implements isolation level with HUGE locks !

And also if I remember well (please someone that knows it can confirm) Narayana supports them so why don't exp

[2019-06-27 14:43] dmlloyd opened #3012 "Support Maven and Gradle properties as a build-time config source"
**Description**
It would be nice to be able to govern Quarkus build properties the same way you can govern mojo properties from the command line, like this for example:

[code]

This is based on a rough idea that was [discussed on the development list](https://groups.google.com/d/topic/quarkus-dev/JBde4SXqxgw/discussion).

**Implementation ideas**
Support Maven and Gradle properties as a build-tim

[2019-06-27 14:46] asoldano commented on #2657
/cc @patriot1burke too

[2019-06-27 14:54] dmlloyd opened #3013 "Introduce a native image extension"
**Description**
Make native image be an extension rather than a dedicated Mojo.  Make sure the extension can be explicitly disabled by a configuration property.  Make sure all the current Mojo configuration flags are moved into the build-time configuration of the extension.

**Implementation ideas**
Produce the native image during the augment phase.  Use a virtual build item as a pseudo target for

[2019-06-27 15:10] geoand commented on #2978
This is most likely due to the use of incorrect GraalVM version. If you are using `0.18.0` version of Quarkus, you need to have GraalVM 19.0.2 installed

[2019-06-27 15:10] mthmulders commented on #2990
Thanks for all the pointers! I'm willing to give it a try and see if I can implement something like this. I just can't make any promises on the timeframe...

[2019-06-27 16:47] csotiriou commented on #2981
@FroMage I can verify that your fork works.

I build the entire Quarkus from source (your fork) and I added 999-SNAPSHOT as a dependency. I can see that HTTPServletRequest is usable again, after the asynchronous filter ends.

Thank you very much for your support and your efforts. I will wait until this gets merged into an official release.

[2019-06-27 18:11] Dufgui commented on #1943
done, ready for review

[2019-06-27 18:24] manoelcampos commented on #1218
Has anyone been able to use an external config file?
I have a uber jar and created the `config/application.properties` inside the jar dir. Then I run the app using

[code]

But I get the following warning:

[code]

[2019-06-27 19:37] dwamara commented on #2657
@gsmet @kenfinnigan @asoldano @patriot1burke
Here is the reproducer: https://github.com/dwamara/quarkus-rest-client_bug2657

[2019-06-27 19:38] kenfinnigan commented on #2657
Thanks

[2019-06-27 20:39] Sanne commented on #2997
So I replied on the mailing list already, but to give some more background...

I asked for this same feature several years ago to our TX team as I was surprised to find that there was no easy way to do such a thing on an EE server, and I was lectured about the pitfalls of trying to explain such a thing. Sadly I don't remember all details, but I was given an excellent alternative:

You typically do

[2019-06-27 20:44] Sanne commented on #2950
I merged the related PR. but I'm not sure what I should do with the issue?

[2019-06-27 20:47] Sanne opened #3014 "mssql JDBC driver requiring non-default character sets"
**Describe the bug**
The MSSQL JDBC Driver is requiring users to set the _addAllCharsets_ property on native-image build plugins.

This should ideally be automated, or at least we should document this need.

**Expected behavior**
Users shouldn't need to know this.

[2019-06-27 20:53] #2950 closed

[2019-06-27 20:54] Sanne commented on #2336
I'm guessing this could be related to Agroal's background health check for JDBC connections. @barreiro @stalep ?

[2019-06-27 21:03] #1580 closed

[2019-06-27 21:22] gsmet commented on #2997
How would you do that if you just execute a long running query (typically a large update)?

[2019-06-27 21:35] Sanne commented on #2997
that's an excellent question. Some people will say that you really shouldn't.. personally I'm a bit more flexible: I believe we should have whatever is processing such long update keep the hearhbeat going (but I'd agree that ORM falls short, it would need some new features).

So ideally I think that's how it should be fixed properly, but I admit it's not easy.

Ask yourself though: nobody ever nee

[2019-06-27 21:45] gsmet commented on #2997
Maybe because they are using Spring?

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/transaction/annotation/Transactional.html#timeout--

I mean it comes from a real life SO question and, well, we don't have an
appropriate answer.

On Thu, Jun 27, 2019 at 11:35 PM Sanne Grinovero <notifications@github.com>
wrote:

[2019-06-27 21:55] gsmet commented on #3014
Once we have https://github.com/quarkusio/quarkus/issues/3013 , it should just be a matter of pushing a build item.

[2019-06-28 02:26] guanchao-yang commented on #2978
@geoand Thanks

[2019-06-28 02:26] #2978 closed

[2019-06-28 03:50] kameshsampath commented on #2657
@gsmet - am not able to reproduce it now :( the same code is returning the results to me, but I have added the source code in the gist https://gist.github.com/kameshsampath/66b140f6f9c94fa7d20f918fae9ca15e. I am not sure it has something to do with backend response :( ..

[2019-06-28 04:36] geoand commented on #2978
You are welcome

[2019-06-28 06:40] guanchao-yang opened #3015 "I use GraalVM version `graalvm-ce-19.0.0` to compile sub project hibernate-validator with tag `0.18.0` get errors"
I use GraalVM  version `graalvm-ce-19.0.0` to compile your sub project [hibernate-validator](https://github.com/quarkusio/quarkus/tree/master/integration-tests/hibernate-validator)  with tag `0.18.0` get errors below :

[code]

[2019-06-28 06:52] machi1990 commented on #3015
Hey @guanchao-yang  The minimum required graalvm version is 19.0.2.

[2019-06-28 07:00] #3015 closed

[2019-06-28 07:20] koziolk commented on #1909
@machi1990 Still in progress.

[2019-06-28 07:37] machi1990 commented on #1909
Let me know if you'll need more help (pointers) on this.

[2019-06-28 08:02] Postremus commented on #2118
I need this functionallity as well. My specific use case would be to increase the max "UndertowOptions.MULTIPART_MAX_ENTITY_SIZE" of undertow. This would allow to restrict the file upload size while the file is still streamed.

[2019-06-28 08:02] dwamara commented on #2657
@kameshsampath
Check if you can have it with my reproducer (https://github.com/quarkusio/quarkus/issues/2657#issuecomment-506482312) I had the problem with the 0.15.0 version of Quarkus and was on my side able to reproduce it with the 0.17.0.
The source code of the io.smallrye.restclient.PartialResponse that is used by Quarkus explicitly has
[code]

[2019-06-28 08:10] emmanuelbernard commented on #2997
Right it's not that they did not need it. It's that they were offered non
standard solutions. Seam might even had that since I remember we discussed
this in the past for sure. The heartbeat is clever and we probably should
offer something like that but as discussed it does not cover the case of a
single long running query. Even if we were to spawn a different thread and
do the heartbeat from there

[2019-06-28 08:24] Sanne commented on #2997
do the heartbeat from there and Narayana support this multi thread calls,
how do I know that my big query is "good" and "ongoing".

I didn't say it's easy, but I did mention it's possible. And as mentioned above, Hibernate ORM doesn't support this (yet) and indeed it would be a lot of work so I'm not recommending to make this a proprity. FYI we have community members doing server side monitoring o

[2019-06-28 08:27] snsbe commented on #2985
It looks likes it's possible to do something like this:
[code]
But what is the correct way to get the `ExecutorService`?

[2019-06-28 08:33] FroMage commented on #2981
OK, let's close this issue then, thanks!

[2019-06-28 08:33] #2981 closed

[2019-06-28 08:34] FroMage commented on #1943
Could you open a PR so we can review it properly please?

[2019-06-28 08:37] mkouba commented on #2898
So I've just verified that the system property itself is not ignored. But maybe it's too late to set it here: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/VertxTemplate.java#L79 because the `FileSystemOptions` is already initialized with the `io.vertx.core.file.FileSystemOptions.TMPDIR` static field which is probably recorded duri

[2019-06-28 09:05] mkouba commented on #2898
It turns out the cache dir is initialized eagerly so I've manually tested that `using-vertx` quickstart fails if I use `target/using-vertx-1.0-SNAPSHOT-runner -Djava.io.tmpdir=/dummy` and quarkus build from [this PR](https://github.com/quarkusio/quarkus/pull/3016)

[2019-06-28 09:17] michalszynkiewicz opened #3017 "RestEasy returns 405 instead of 500 for POST"
**Describe the bug**
405 is returned for POST requests on internal server errors.
It works fine with GET

**Expected behavior**
500 should be returned

**To Reproduce**
Steps to reproduce the behavior:
- clone it and start it:
[code]
- query:
[code]

**Environment (please complete the following information):**
Quarkus 0.18.0, java 8

[2019-06-28 09:21] Dufgui commented on #1943
it 's already done but the link seems not working , i don't know why

https://github.com/quarkusio/quarkus/pull/2992

[2019-06-28 09:33] rsvoboda opened #3018 "Solution for serving files that does not involve storing them in the native image"
**Description**
Solution for serving files that does not involve storing them in the native image.
This requirement originates from discussion in https://github.com/quarkusio/quarkus/issues/2917

**Implementation ideas**
Serving via an external directory is obvious way - filesystem path could be configurable via property, same could be done for the endpoint which exposes the content

Expose just f

[2019-06-28 10:02] FroMage commented on #1943
Sorry you're right, I missed it.

[2019-06-28 10:16] loicmathieu commented on #3017
Duplicated with #2657

[2019-06-28 10:18] michalszynkiewicz commented on #3017
@loicmathieu why do you think it's a duplicate of 2567? The other one is about the client, isn't it?

[2019-06-28 10:22] gsmet commented on #3017
ping @asoldano

[2019-06-28 11:08] dwamara commented on #2657
I've just bumped the Quarkus version to 0.18.0 in the reproducer. Still able to reproduce it, just in case.

[2019-06-28 11:14] kameshsampath commented on #2657
Will try and let you know @Daniel Wamara<mailto:notifications@github.com>

From: Daniel Wamara <notifications@github.com>
Reply-To: quarkusio/quarkus <reply@reply.github.com>
Date: Friday, 28 June 2019 at 1:32 PM
To: quarkusio/quarkus <quarkus@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [quarkusio/quarkus] "java.lang.Runtim

[2019-06-28 12:59] Dufgui commented on #1943
seems ok :op
 now i am looking for my next ticket, any proposal ?

[2019-06-28 13:03] kenfinnigan commented on #2985
To use Asynchronous with the REST Client you would define an interface to the external service:

[code]

Notice the use of `CompletionStage` as a return type, which indicates we want an asynchronous response.

Then you would use it as:
[code]

Tracing and ExecutorService should be completely hidden.

https://download.eclipse.org/microprofile/microprofile-rest-client-1.3.2/microprofile-rest-client-

[2019-06-28 13:04] #1943 closed

[2019-06-28 13:06] FroMage commented on #1943
Thanks a lot!

I don't have any specific proposal but you can ask on Zulip :)

[2019-06-28 13:25] rmpestano opened #3021 "java.lang.UnsatisfiedLinkError: /opt/graalvm/jre/lib/amd64/libfontmanager.so"
**Describe the bug**

Hi folks, after upgrading to `Quarkus 0.18` I'm getting the error below during native image build.

Steps to reproduce are on the branch `0.18` of this repository: https://github.com/rmpestano/quarkus-myfaces/tree/0.18

Following is the stacktrace:

[code]

I'm using docker to build the native image and looks like the docker container needs to have `libfontmanager.so`

**Expe

[2019-06-28 13:53] evacchi opened #3023 "Notify compilation provider on file deletion"
**Description**
Currently compilation provider is only invoked when a file is added or updated, it may be usefl to receive a notification when a file is removed

**Implementation ideas**
a separate method with a set of deleted files, or a `Set(Deleted(file), Updated(file))`

e.g. in Kogito we need to know whether a source file (process, rule) has been removed, to update the indexes we use at runti

[2019-06-28 14:21] manoelcampos commented on #1218
Hello guys,

After analyzing the [ApplicationPropertiesConfigSource.java](https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/ApplicationPropertiesConfigSource.java), I realized that when running the app from a jar, it ignores the config dir.

Shouldn't it prioritize an existing `config/application.properties` file instead of loading the fil

[2019-06-28 14:22] masini commented on #2773
Any news on this ? Ken have you understood the problem ?

[2019-06-28 14:25] kenfinnigan commented on #2773
Without `smallrye-rest-client` in the project `@Inject` works?

I'm not sure if `@Inject` is intended to work inside a JAX-RS `@Provider`. Not sure if @mkouba or @asoldano know

[2019-06-28 14:40] geoand commented on #1218
Hi,

It should prioritize the file system properties due to the priority being higher here: https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/ApplicationPropertiesConfigSource.java#L72

Maybe perhaps you are trying to override a property that is build time only?

[2019-06-28 14:52] manoelcampos commented on #1218
I'm just trying to use a different JDBC connection string and other DB-related parameters in the production env. My `src/main/resources/application.properties` has the `dev.quarkus.datasource.url` and `prod.quarkus.datasource.url` variables.

Despite I define the profile to be used by typing `export QUARKUS_PROFILE=prod; java -jar rest-app-quarkus-server-jpa-runner.jar`, it seems to ignore when ru

[2019-06-28 14:56] manoelcampos commented on #1218
@geoand, for what I understood, the method you pointed is from the `InFileSystem` class, which I suppose will be used only when the app is running outside a jar.

When running from a jar file, I suppose the [InJar](https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/ApplicationPropertiesConfigSource.java#L52) class will be used instead. That

[2019-06-28 14:59] geoand commented on #1218
@manoelcampos I think you have sort of confused things. The `InFileSystem` and `InJar` refers to the location of the properties file, not how the application is launched :).

As per your problem, could you supply a reproucer (perhaps with a reproducer containing a README with steps) that I can check over the weekend?

[2019-06-28 15:02] manoelcampos commented on #1218
For sure and thanks for the support.

[2019-06-28 15:08] geoand commented on #1218
No problem :)

[2019-06-28 16:17] brigolini commented on #2865
Sorry it take too long.
I did what you said and got this error from Quarkus:
 "The project CC-Parent has no output yet. Make sure it contains at least one source or resource file and then run `mvn compile quarkus:dev`"

It looks that Quarkus expect me to have a source file in the parent project.
My tree is:
cc-parent -> Parent Project
--->cc = has the services for the project
--->cc-web-quarkus =

[2019-06-28 16:24] gpthome commented on #2961
I ran into this same issue.  By simply including the "quarkus-smallrye-openapi" dependency, my REST tests began to fail with the same error message described in this issue.

Any chance there is a short term workaround?  Otherwise, do I need to choose... OpenAPI support or skip tests?

Thanks.

[2019-06-28 18:13] vinchauhan commented on #3008
I would like to work on this one - I think the fix will come from

https://github.com/quarkusio/quarkus/blob/master/core/creator/src/main/java/io/quarkus/creator/phase/generateconfig/GenerateConfigPhase.java ( Line 161 onwards)

Do we have a document to describe the core components in Qarkus and how they interact or I will have to understand through code.

[2019-06-28 19:08] dmlloyd commented on #3008
The `GenerateConfigPhase` is just the documentation step.  The error indicates that the application name was not set in the configuration, and that it also (for whatever reason) wasn't defaulted as the documentation says it should be.

The class `io.quarkus.deployment.steps.ApplicationInfoBuildStep` is responsible for reading the application name configuration and ensuring that it is set.  Right n

[2019-06-28 19:21] masini commented on #2773
I read in the specs that JAX-RS resources can be used as CDI injection
target, and it works great when I use it as server resources.

It doesn't work when the same @Provider is used from the MP Rest Client.

Il giorno ven 28 giu 2019 alle ore 16:25 Ken Finnigan <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini

[2019-06-28 19:44] kenfinnigan commented on #2773
That’s correct that you can inject CDI beans into JAX-RS Resource classes.

However, I don’t believe that JAX-RS Providers support injection with CDI.

Sent from my iPhone

[2019-06-28 20:35] manoelcampos commented on #1218
Hello @geoand
In fact, the issue is not what I thought.
I could reproduce it in a sample project available at https://github.com/manoelcampos/quarkus-profiles-issue

There is a README explaining the issue and how to reproduce it.
Thanks.

[2019-06-28 21:00] vinchauhan commented on #3008
@dmlloyd - Thank you for the explanation.

[2019-06-29 08:17] masini commented on #2773
The specs says yes from what I can read, I copy paste here for your
convenience.

" JAX-RS: Java API for RESTful Web Services

10.2.3 Context and Dependency Injection (CDI)

In a product that supports CDI, implementations *MUST* support the use of
CDI-style Beans as root resource classes, *providers* and Application
subclasses.
Providers and Application subclasses MUST be singletons or use applica

[2019-06-29 08:53] ChristianHuff-DEV commented on #2746
@geoand Could you give an example on how to add a resource using `additionalBuildArgs`. Based on #388 and the [substratevm documentation](https://github.com/oracle/graal/blob/master/substratevm/RESOURCES.md), I haven't been able to figure it out.

I'm using Quarkus *0.18.0* with GraalVM *ce-1.0.0-rc16*.

I added a file called *version.txt* to the `src/main/resources` folder (same folder as *applic

[2019-06-29 09:05] geoand commented on #2746
Hello @ChristianHuff-DEV,

I would advise you to take a look at my comment [here](https://github.com/quarkusio/quarkus/pull/2910#issuecomment-504671096).

Simply adding `<additionalBuildArgs>-H:IncludeResources=version.txt</additionalBuildArgs>`  (where `version.txt` should be located in `src/main/resources`) should be enough to get it loadable using `getClass().getResourceAsStream("/version.txt")

[2019-06-29 09:52] jorsol commented on #3008
@dmlloyd I forgot to mention that the error is when I try to inject the property `quarkus.application.name` in a field.

Looking through `ApplicationInfoBuildStep` and `ApplicationInfoUtil`, the file `application-info.properties` is created with the keys `artifactId` and `version` which is weird and appears that these values are not read by the `@ConfigProperty` injection annotation.

The correspo

[2019-06-29 10:30] geoand commented on #1218
@manoelcampos nice, I'll take a look today or tomorrow most likely

[2019-06-29 12:06] dmlloyd commented on #3008
This is almost certainly due to the way these two properties are handled in this code.  Normally we register a ConfigSource which contains all of the default values.  This code takes a different path, and as a result, the default values are not visible at rum time.  On Monday I can take a look. I think we'll also have to add a section to the doc about how to provide default values for build time c

[2019-06-29 13:39] ChristianHuff-DEV commented on #2746
Thank you @geoand,
adjusting the regex and loading method fixed the issue!

[2019-06-29 13:40] geoand commented on #2746
Glad to hear it!

[2019-06-29 16:49] ggam commented on #1893
Do you have a roadmap for this issue? The security guide (https://quarkus.io/guides/security-guide) examples don't work because of this issue, which is very annoying. I'm using @masini's code snippet as a workaround.

[2019-06-29 20:43] machi1990 commented on #2797
https://github.com/quarkusio/quarkus/pull/2940 also treats this.

[2019-06-29 21:03] machi1990 commented on #2528
Looks like it was fixed by https://github.com/quarkusio/quarkus/pull/2641. Closing.

[2019-06-29 21:03] #2528 closed

[2019-06-29 21:14] machi1990 commented on #2440
@bellrauthien Quarkus 0.18.0 has been released with support for GraalVM 19.0.2. Can you check if you are still having this issue?

[2019-06-29 21:48] machi1990 commented on #2226
Fixed by https://github.com/quarkusio/quarkus/pull/2411. Closing.

[2019-06-29 21:48] #2226 closed

[2019-06-30 07:52] geoand commented on #1218
@manoelcampos I see a few problems with the configuration. First of all the system property is `-Dquarkus-profile` not `-DQUARKUS_PROFILE`.
Moreover when using profiles in `application.properties` you need to prefix them with `%`, like `%dev.quarkus.datasource.url`

[2019-06-30 09:35] machi1990 commented on #2015
Fixed by https://github.com/quarkusio/quarkus/pull/2076. Closing.

[2019-06-30 09:35] #2015 closed

[2019-06-30 10:46] sarxos commented on #2809
Hi @stuartwdouglas,

Have you had a chance to take a look at the reproducer I prepared?

https://github.com/sarxos/quarkus-issue-2809

[2019-06-30 11:56] manoelcampos commented on #1218
Oh God. I missed out this %.
Sorry and thanks.

[2019-06-30 12:36] geoand commented on #1218
No problem 😊

On Sun, Jun 30, 2019, 14:56 Manoel Campos da Silva Filho <
notifications@github.com> wrote:

[2019-06-30 15:23] Dufgui commented on #2082
I take a look at it.

[2019-06-30 16:15] Dufgui commented on #2082
https://github.com/quarkusio/quarkus-quickstarts/pull/235

[2019-06-30 20:14] gunnarmorling opened #3030 "Apply default values during property expansion"
**Description**
Default values are not applied during expansion of config values. E.g. given a config in _application.properties_ like this:

    quarkus.kafka-streams.application-server=${hostname}:${quarkus.http.port}

Then the HTTP port should default to the value from the config item, but instead an error is raised:

    Build step io.quarkus.deployment.steps.ConfigurationSetup#initializeConfi

[2019-06-30 21:19] rquinio commented on #1655
Here's the output of my attempt:

Eclipse:
![eclipse-quarkus-config](https://user-images.githubusercontent.com/1886883/60401974-778c0280-9b89-11e9-8bcb-980e6e71218f.jpg)

IntelliJ:
![idea-quarkus-config](https://user-images.githubusercontent.com/1886883/60402244-3e559180-9b8d-11e9-8c34-8cc03c89edad.jpg)

Limitations seen:

1) spring-boot IDE integration only works for **runtime configuration**, si

[2019-07-01 02:08] stuartwdouglas commented on #2865
Don't add the plugin to the parent, only add it to the module that you actually want to run quarkus:dev on and this should work ok (I think cc-web-quarkus).

[2019-07-01 05:24] justintime4tea commented on #2231
I was able to get the "using-keycloak" set up fairly easy but I cannot for the life of my get one single endpoint to be @PermitAll (anonymous). It seems I either need to disable enforcement (permissive does not work) or make every endpoint require login if any of them need login. Basic vanilla "using-keycloak" quickstart and using application.properties to configure Keycloak.

In context: I've had

[2019-07-01 08:11] #2961 closed

[2019-07-01 08:11] FroMage commented on #2961
OK, I just merged the fix.

[2019-07-01 08:12] FroMage commented on #2833
I've merged a fix for #2961. Could you tell us if it fixes your problem?

[2019-07-01 08:19] aesteve commented on #2863
Thank you for putting so much effort into this.
Would Avro serde be part of your goal ?
Like adding schema-registry URL in application.properties, and (un)marshalling from/to Avro's generic record onto a POJO ?

Thank you.

[2019-07-01 08:20] emmanuelbernard commented on #2082
I think ti's superseded by https://github.com/quarkusio/quarkus/issues/2999 if I understand correctly.

[2019-07-01 08:45] gunnarmorling commented on #2863
Hey @aesteve, I haven't thought about Avro support yet. AFAIK there are Avro SerDes coming with the schema registry already, those should work?

[2019-07-01 08:51] aesteve commented on #2863
Didn't try it yet (with Quarkus), but they should work indeed for extracting `GenericRecord`, but I'm not sure if they allow to map directly on POJOs ?

Maybe there are some traps with blocking non-blocking ? Since http requests to the registry could block ? not sure how Quarkus handles the blocking/non-blocking ambiguity, not sure if the Quarkus Kafka extension is blocking or not, but that should

[2019-07-01 08:58] Postremus opened #3034 "Quarkus projects do not compile when project path contains whitespaces"
**Describe the bug**
I am trying to build a quarkus project on our company jenkins. The path to the project in jenkins contains whitespaces.
"/var/lib/jenkins/jobs/wolf - project/workspace/project-web/target/classes"
The build fails.
If I remove these whitespaces, the build is successfull.

**Expected behavior**
The project builds without errors caused by internal quarkus maven plugin problems.

*

[2019-07-01 08:59] Dufgui commented on #2082
I can continue on it ? Are you ok with my quickstart/test case ?

[2019-07-01 09:05] gsmet commented on #3034
@machi1990 IIRC you fixed a similar issue not long ago? Could you take a look?

[2019-07-01 09:11] vietk opened #3035 "Boostrap resolver : Do not merge managed dependencies before collection process"
**Describe the bug**
I have a dependency in the pom.xml of my quarkus application that IS managed by the bootstrap resolver out of the << maven resolving policy >> making the build overriding the version of my dependency.

**Expected behavior**
Direct dependencies should not be managed

**Actual behavior**
Direct dependencies are managed

**To Reproduce**
https://github.com/vietk/QuarkusReproducer

[2019-07-01 09:17] #2934 closed

[2019-07-01 09:28] aesteve commented on #1374
Same as @cypressious I tried cloning your repo @renannprado but the `./gradlew quarkusDev` simply exits after 2s :(

[2019-07-01 09:29] cescoffier commented on #562
@andrejpetras AMQP has been added.

[2019-07-01 09:30] cescoffier commented on #788
this has been handled a long time ago...

[2019-07-01 09:30] #788 closed

[2019-07-01 09:33] geoand commented on #1374
Gradle support has received a lot of fixes in the latest release, I suggest you give `0.18.0` a try :)

[2019-07-01 09:33] cescoffier opened #3036 "Improve Vert.x instance configuration"
This issues covers:

* [x] - Migrate some of the config properties to build time (instead of all runtime time) and prepare a `VertxOptions` instance
* [x] - Configure the worker thread pools (worker and internal) from Vert.x with the worker thread pool of Quarkus (#3083)
* [x] - Configure the Vert.x and Netty logging with the Quarkus logging mechanism
* [x] - Make sure that the Vert.x instance can

[2019-07-01 09:34] aesteve commented on #1374
I was editing my comment when you posted.
Sorry, it seems to work with `0.18.0` I'll submit a PR to @renannprado 's repository.

Thank you for your work to support Gradle + kotlin.

[2019-07-01 09:35] cescoffier opened #3037 "Reactive PG Client not taking account configuration update in hot reload"
I think everything is in the title.

[2019-07-01 09:35] geoand commented on #1374
Great to hear!

[2019-07-01 09:36] cescoffier opened #3038 "Mail Client not taking account configuration update in hot reload"
Everything is in the title.

[2019-07-01 09:37] cescoffier opened #3039 "Extend mail client to support Gmail SMTP server"
This issue covers:

* the test of the mail client with Gmail SMTP server
* the update of the guide to explain the required configuration

Requires Vert.x 3.8

[2019-07-01 09:39] cescoffier opened #3040 "Reactive Messaging / Kafka - Ease JSON / JSON-B usage"
This issue covers:

* [x] - The addition of JSON-P serializer, deserializer and serde
* [x] - Fixing the JSON-B deserializer to be usable with raw Kafka Producer
* [x] - When using a Kafka channel with JSON-B, register the targer class for reflection, and when needed add the classname in the configuration

[2019-07-01 09:41] cescoffier opened #3041 "Reactive Messaging / Kafka - ProtoBuff support"
* Add support for ProtoBuff records (for key and payload).
* Make sure the classes are registered for reflection when needed

[2019-07-01 09:43] cescoffier opened #3042 "Reactive Messaging / AMQP - JSON support"
Improve JSON support with AMQP:

* [x] - JSON-P support as payload (content type must be set, binary payload)
* [x] - JSON-B support to convert JSON payload to and from objects
* [x] - Detect the classes that need to be registered for reflection

[2019-07-01 09:44] cescoffier opened #3043 "Reactive Messaging / AMQP - Protobuff support"
Add support for ProtoBuf in Reactive MEssaging / AMQP

[2019-07-01 09:46] cescoffier opened #3044 "Reactive Messaging - Implement a HTTP & WebSocket connector for Quarkus"
this issue is about implementing a Reactive Messaging Connector that:

* receives HTTP request and wrap them into a `Message`
* call HTTP endpoints for each received `Message`
* receives WebSocket message and wrap them into a `Message`
* support SSE and SockJS

[2019-07-01 09:46] cescoffier opened #3045 "Reactive Messaging / MQTT - Create extension for the MQTT connector"

[2019-07-01 10:05] cescoffier opened #3046 "Fix Quarkus S2I"
There are 2 issues with our S2Is:

With the Java builder:

[code]

The native S2I has also an issue on OCP 4.x when there is a permission issue on the built executable.

[2019-07-01 10:06] machi1990 commented on #3034
@gsmet I'll take a look.

[2019-07-01 10:08] aesteve commented on #1374
Unfortunately no, it doesn't work, I can't figure out why :(

I'm alternating between many errors, mainly:

[code]

If I'm adding

[code]

Then I'm facing another issue :

[code]

So I tried:

[code]

But then in my `build` directory I get a weird directory structure.

Gonna give up for now, waiting for 0.19.0!
Thanks for your help, though!

I pushed my attempts here : https://github.com/aesteve/q

[2019-07-01 10:14] geoand commented on #1374
I'll try and check it out later

[2019-07-01 10:16] loicmathieu commented on #2997
@emmanuelbernard , @gsmet , @Sanne So I will start to work on this one. What is the best way to do it ?

I can propose three different ways :

- Adding an `@TransactionTimeout` annotation with a Duration value: this is the minimal implementation for this issue.
- Adding an `@TransactionConfig` annotation with a `timeout` attribute : we can then add more configuration attribute as proposed by @mach

[2019-07-01 10:21] Dufgui commented on #2999
quarkusio/quarkus-quickstarts#235
I can continue on it ? Are you ok with my quickstart/integration test case ?

[2019-07-01 10:48] mkouba commented on #2773
So I'm not really sure as I am no JAX-RS expert.

However, it seems that even JAX-RS built-in injection using the `@Context` annotation does not cover all use cases on the client-side - see 10.2 Context Types: _"This section describes the types of context available to providers (client and server) as well as resource classes and Application subclasses (server only). Except for Configuration and Pr

[2019-07-01 11:15] geoand commented on #2773
@mkouba I am in the same exact situation you are, not a JAX-RS expert but the feature sounds reasonable

[2019-07-01 11:44] FroMage commented on #2808
Running techempower I see A LOT of those:

[code]

[2019-07-01 11:49] rmpestano commented on #3021
Moved to the [right repo](https://github.com/quarkusio/quarkus-images/issues/24).

[2019-07-01 11:52] dmlloyd commented on #2999
I think that we're going to want to get the native image extension work underway first (see #3013).

[2019-07-01 11:56] emmanuelbernard commented on #2999
I don't know, is the native image extension planned for soon? The JNI thing
seems relatively easy to squeeze in a week.

On Mon, Jul 1, 2019 at 1:53 PM David M. Lloyd <notifications@github.com>
wrote:

[2019-07-01 11:57] AdamBien opened #3048 "native-image location"
**Describe the bug**
io.quarkus:quarkus-maven-plugin:0.18.0:native-image

expects the native-image to be located in: /Java/JavaVirtualMachines/graalvm-ce-19.0.2/bin/native-image

The actual location is:  /graalvm-ce-19.0.2/Contents/Home/bin

**Expected behavior**

After `gu install native-image` quarkus should pick-up the native-image without any additional configuration.

**Actual behavior**
Imag

[2019-07-01 12:10] dmlloyd commented on #2999
Is it?  It didn't seem easy to me, but that might be due to my familiarity (or lack thereof) with the current build phase system and the way it integrates with Maven/Gradle.

[2019-07-01 12:14] sberyozkin opened #3049 "Let users configure smallrye-jwt to block the requests without a token (anonymous requests)"
**Expected behavior**
If the service method has no RBAC annotations then the request without a token is allowed in. It should be possible to optionally block it

[2019-07-01 12:43] emmanuelbernard commented on #2999
I was thinking it would look like SslNativeConfigBuildItem but I did not
evaluate further.

On Mon, Jul 1, 2019 at 2:10 PM David M. Lloyd <notifications@github.com>
wrote:

[2019-07-01 12:47] rmpestano commented on #2714
Hi @mkouba, just to confirm, the fix was not merged into quarkus 0.18, right?

[2019-07-01 12:54] gsmet commented on #2999
Yeah, it's a hack that was present before and I refined for the SSL native support.

Basically, we push properties to the `native-image.properties` file which is read in `NativeImagePhase` (see https://github.com/quarkusio/quarkus/blob/master/core/creator/src/main/java/io/quarkus/creator/phase/nativeimage/NativeImagePhase.java#L384 ).

So, while having native image build as an extension is definit

[2019-07-01 12:55] gsmet commented on #2714
Yup, it didn't make it, we need a new Gizmo release.

[2019-07-01 14:12] cescoffier opened #3051 "Add support for the new Vert.x SQL Client in Quarkus"
We need to support the new SQL client coming with Vert.x 3.8 to support more type of database (Postgres and MySQL).

This includes:

* updating the Vert.x version to 3.8
* integrating this new API (and the 2 clients: Postgres and MySQL)

[2019-07-01 14:14] vertx-ci commented on #3051
note there will be also SQL Server support but delivered early fall

[2019-07-01 14:14] vietj commented on #3051
note we will have SQL server support in fall for the same API.

[2019-07-01 14:26] andrejpetras commented on #562
@cescoffier thanks, is working well ;) I create a new ticket for the AMQP client to add the modified method.
https://github.com/vert-x3/vertx-amqp-client/issues/18

[2019-07-01 15:11] emmanuelbernard commented on #2082
So JNI integration is more a extension writer effort than an end user. On top of that we want to introduce this notion of JNI build item. So the quickstart is likely to evolve. It might be a better use of your time to work on the JNIBuildItem first.

[2019-07-01 15:18] gunnarmorling commented on #2082
As a test for JNIBuildItem you might use the Kafka Streams extension. This
currently requires "jni" to be set to "true" manually in the plug-in config
for native image mode, which shouldn't be needed any longer if it were to
use JNIBuildItem.

[2019-07-01 15:21] dmlloyd commented on #3030
Hmm this did work at some point (it's facilitated by `io.quarkus.deployment.configuration.DefaultValuesConfigurationSource` at build time and by the (generated) class `io.quarkus.runtime.generated.RunTimeDefaultConfigSource` at run time).

[2019-07-01 15:44] dmlloyd commented on #3008
I think this comes down to the following steps:

- [ ] Define a build item representing a build-time `ConfigSource`
- [ ] Consume that build item in `io.quarkus.deployment.steps.ConfigurationSetup#initializeConfiguration`
- [ ] Define a build item for specifying a build-time default value (sort of analogous to `io.quarkus.deployment.builditem.RunTimeConfigurationDefaultBuildItem` but for build tim

[2019-07-01 17:18] emmanuelbernard opened #3053 "Consider offer a Kubernetes operator for Quarkus applications"
A operator could update the application based on new framework minor or even micro changes based on policy (only micro, automated vs manual etc). This would be based on the ability for Quarkus to have a provisioning phase.

Also an operator can reload the application based on ConfigMap change.
If the `ConfigMap` changes have a build time property, have a policy to force a recompilation for redeplo

[2019-07-01 17:55] kenfinnigan opened #3055 "Switch REST Client implementation"
**Description**
Switch from SmallRye REST Client to RESTEasy MP Client as the implementation for MP REST Client specification.

**Implementation ideas**
MP REST Client 1.3 is now implemented within `resteasy-client-microprofile` artifact in 4.x

[2019-07-01 18:14] cmoulliard commented on #3053
Our operator could be easily extended to support Quarkus as we already can deploy SpringBoot, Vert.x, Thorntail or even NodeJS if we use s2i. More images / deployment modes should be supported in the future

[2019-07-01 19:20] kenfinnigan commented on #2989
Merged latest SmallRye Health with the utility present

[2019-07-01 19:20] #2989 closed

[2019-07-01 21:09] ChristopheMaldivi commented on #2578
Hi @Dufgui ,
Basically I have the same question : how to use jackson instead of json-b (yasson).
It is mainly because yasson will fail to deserialize a json where some fields are missing (I did not find a way to do that with yasson). Jackson can do it quite simply (if the field is not found, it will initialize it with null).
To get `quarkus-restasy` use jackson, I've done the following so far:
[co

[2019-07-01 21:34] machi1990 commented on #3034
hey @Postremus, thanks for reporting the issue. I tried following the procedure below but I could not successfully reproduce the issue.

Do you mind coming up with a simple reproducer along with the command that runs on your CI.  This could help in the investigation of the issue and make sure that the issue has been fixed generally.

Thanks.

[2019-07-01 21:44] gunnarmorling opened #3058 "No dependency injection in dev mode in extension-provided bean"
**Describe the bug**
My extension declares an `@Application`-scoped bean (via `AdditionalBeanBuildItem`). When this is run during dev mode, it doesn't have any dependencies injected (only it's no-args constructor gets called, but not its parameterized `@Inject`-annotated constructor.

**Expected behavior**
Dependencies are injected.

**Actual behavior**
Dependencies not injected, leading to NPEs i

[2019-07-01 22:51] Sparow199 opened #3059 "Add support for Syslog logging handler"
**Description**
Expose syslog-handler via application.properties

**Implementation ideas**
I'm working in this feature in my [fork](https://github.com/Sparow199/quarkus/commit/57a010643aefbd6d7b36866fcc3a02cd5df977dc) (Work in progress)

I'll make a PR ASAP.
Thanks

[2019-07-01 23:10] Dufgui commented on #2999
I do the code just by following what SSL native do. Now I will think about what must really done to work and test it ;o)

[2019-07-01 23:19] stuartwdouglas commented on #2808
It would be a race. You must have already started another thread which is closing the async context. If you use io.undertow.servlet.spec.AsyncContextImpl#start to start the thread it will avoid this race as the task will not be run until the container has returned.

[2019-07-02 02:49] brigolini commented on #2865
Thanks for the reply. It worked fine now!

[2019-07-02 06:50] stalep commented on #2336
hm, @barreiro is on PTO this week, but I know he implemented a `maxLifeTime` feature in Agroal 1.5. Before that it never timed out AFAIK which do look like this issue here. @enbohm do you mind testing with the latest version of Quarkus? I know we use Agral 1.5 in that version.

[2019-07-02 06:59] enbohm commented on #2336
@stalep sure - I will update to the latest version and see the result. I'll keep you posted, thx!

[2019-07-02 07:01] gwenneg commented on #2653
Any approving reviewer available for the PR?

[2019-07-02 07:05] #2653 closed

[2019-07-02 07:13] agoncal opened #3062 "Building a native app with a custom profile does not work"
**Describe the bug**

Despite the default profiles (dev, test, prod), Quarkus allows to have custom profiles (eg. staging). Activating a custom profile when developping works, but not when building a native app.

**Expected behavior**

Such command should work. It sets the `quarkus-profile` to `staging` and then builds the native app. But in fact, the `prod` profile is used instead:

[code]

**Act

[2019-07-02 07:13] cescoffier commented on #3021
Reopening as it may be fixed in this repo. The latest GraalVM does not ship the libfont library anymore. So it would require the extension to include it explicitly.

[2019-07-02 07:14] cescoffier commented on #3046
The permission issue has been fixed.
The other issue is due to an outdated Maven version. Investigation in progress.

[2019-07-02 07:30] gwenneg commented on #2653
Thanks @geoand!

[2019-07-02 07:31] geoand commented on #2653
Thank you for your work on the PR!

[2019-07-02 07:31] Postremus commented on #3034
@machi1990
I tried to create a simple reproducer app, but I am unable to.
My project is a multi module project, with one module containing service classes, and the other contains the quarkus plugin.

I am however able to reproduce this error locally (on Windows 10) with the same app. I am running "mvn clean install -X"

[code]

[2019-07-02 09:22] FroMage commented on #2808
Well, I don't think we can control how the async user threads are started (if any: sometimes they're just completed on some event loop).

[2019-07-02 09:24] cescoffier commented on #562
@andrejpetras I've added the `modified` method in the client. We would be able to benefit from it once it's released.

[2019-07-02 10:13] loicmathieu commented on #2997
Hello,

I create an implementation done via an `@TransactionTimeout` because it's the simple way to provide this functionality. See the PR #3063 .

Regarding the possible implementation of an`@TransactionConfig` to provides more configuration option, the issue is that these options are not available at JTA level so I will need to cast the transaction manager to Narayana and start using specific AP

[2019-07-02 10:43] sberyozkin opened #3064 "OIDC adapter should use smallrye-jwt extension"
**Description**
smallrye-jwt should be able to let the Keycloak adapter validate the tokens as well take care of all the subtleties associated with the OIDC flows and 'extend' it by letting the users access the tokens via MP JWT Api

**Implementation ideas**
Bill: "smalrye-jwt could just look for a marker BuildItem and not wire in the defaut implementation if that exists.  Keycloak would just publ

[2019-07-02 10:57] csotiriou commented on #305
Is there any update to this? I am scratching my head on how this can work, the smallrye microprofile config also does not have any definitive solution/documentation for this.

[2019-07-02 11:45] dmlloyd commented on #3012
Here is a challenge: it might be impossible to get ahold of the build system properties from within `@QuarkusTest`.  That means that the augmentation that happens during this test phase doesn't have access to the same environment that "normal" augmentation has.

This is perhaps another reason to revisit the "last-minute" augmentation that is happening in tests and dev mode, maybe in favor of a tes

[2019-07-02 12:09] dmlloyd commented on #3030
@gunnarmorling did you happen to get a stack trace at all?

[2019-07-02 12:10] dmlloyd commented on #3030
Also where is that property `quarkus.kafka-streams.application-server` defined?  Is that a pass-through property, and if so, what's facilitating the pass-through?

[2019-07-02 13:05] stalep commented on #2336
@gsmet do we have a `quarkus.datasource.max-life-time` or something similar for connections in Quarkus now or a default maxLifeTime?

[2019-07-02 13:13] DemiusAcademius opened #3066 "How to add local jar file with gradle?"
standard way:
dependencies {
   compile files("path/to/jar")
}
not work
if starting with quakusDev, we see java.lang.NoClassDeffoundError: oracle/jdbc/driver/OracleDriver

[2019-07-02 13:22] gunnarmorling commented on #3030
@dmlloyd, here's the complete stracktrace:

[code]

It's a regular property, [defined](https://github.com/quarkusio/quarkus/blob/c7b990b0377a25cf9bcc09de9876c616fcd6f454/extensions/kafka-streams/runtime/src/main/java/io/quarkus/kafka/streams/runtime/KafkaStreamsRuntimeConfig.java#L28) as a config item.

[2019-07-02 13:56] dmlloyd commented on #3030
OK I think I understand what's happening.  The run time configuration properties are getting expanded, and they're expanding against the build time config.  It should be an easy(ish) fix though.

[2019-07-02 14:00] feaster83 commented on #1753
Yes, we need an extension to support integration with the Axon Framework.

[2019-07-02 14:08] gsmet commented on #2336
I don't think it got implemented. I'm creating an issue.

But that being said, isn't Agroal supposed to test the connections regularly anyway?

[2019-07-02 14:09] gsmet opened #3067 "Implement max-life-time configuration for Agroal"

[2019-07-02 14:27] emmanuelbernard commented on #2997
I don't think we care about depending on Narayana. I owe you a reply on
@TransactionTimeout vs @TransactionConfig but for me at least, the
dependecy on Narayana is not a weight on one direction.

On Tue, Jul 2, 2019 at 12:14 PM Loïc Mathieu <notifications@github.com>
wrote:

[2019-07-02 14:41] dmlloyd commented on #3030
I have a fix here (quarkusio/quarkus#3068) that will fix the first half of your problem (well, technically it fixes the last `Caused by:` in your quoted stack trace).  To fix the second half (the part under the `Suppressed:` heading), you'll need to make a change to this code:

[code]

Otherwise you will include a number of extra properties that you might not want.  Also, you should wrap that code

[2019-07-02 16:09] andrejpetras commented on #562
@cescoffier thanks

[2019-07-02 16:40] krzyk commented on #1534
I just want to support what was written in https://github.com/quarkusio/quarkus/issues/1534#issuecomment-476261148:

I use JDK 12 (with `--enable-preview` - it would be good to test if preview features also work with byte code generator you are using) and plan to test out JDK 13 before it is released. And I also wanted to give Quarkus a chance, but lack of latest Java version support for a bleedin

[2019-07-02 17:17] emmanuelbernard commented on #2999
oops

[2019-07-02 19:28] Sanne opened #3073 "Upgrade to GraalVM 19.1.0"
- https://medium.com/graalvm/graalvm-19-1-compiling-faster-a0041066dee4
 - https://www.graalvm.org/docs/release-notes/

[2019-07-02 20:16] gsmet commented on #3073
I pushed an initial PR here: https://github.com/quarkusio/quarkus/pull/3074 .

I had a failure locally related to JAXB, let's see what CI has to say.

[2019-07-02 20:38] gunnarmorling opened #3075 "[ORM] Add option for logging bind variables"
**Description**
Instead of only seeing the executed DML, I'd also like to see the values for bind parameters (akin to org.hibernate.type=trace in old times).

[2019-07-02 21:08] gwenneg commented on #3067
I'd like to work on this one.

[2019-07-02 22:10] gunnarmorling commented on #3075
Ok, realizing now I still can increase the log level to TRACE and see the bind params. It still feels a bit irregular to me, perhaps `quarkus.hibernate-orm.log.sql` should not only allow for `true` and `false` but also for some option showing the bind params, like `extended` or so?

[2019-07-03 00:42] ronsigal commented on #2773
Hey guys,

I, on the other hand, don't know anything about quarkus, and, honestly, I don't have a lot of experience with MicroProfile Client.

One thing that comes to mind is this: Shouldn't CountriesService have a
[code]
annotation? I tried it, though, and it doesn't help.

I'll keep looking.

-Ron

[2019-07-03 06:49] enbohm commented on #2336
@stalep just checked the logs from my Quarkus 0.18.0 service and unfortunately the issue is still there

[2019-07-03 08:21] fstab opened #3077 "Kubernetes client extension: JsonMappingException in native mode"
I created a minimal project with the new Fabric8 Kubernetes Client extension. When I watch Pods, I get the following error:

[code]

This is reproducable with the following minimal Java code:

[code]
The code works when I run it on the JVM instead of native mode.

[2019-07-03 08:23] #3067 closed

[2019-07-03 08:25] fstab commented on #3077
[pod-watcher.tar.gz](https://github.com/quarkusio/quarkus/files/3353942/pod-watcher.tar.gz)
Attaching the example project to reproduce. The `deploy/` directory contains the necessary deployment yamls.

[2019-07-03 09:33] mkouba commented on #3058
A minimal reproducer would be helpful.

[2019-07-03 09:39] haraldatbmw commented on #2871
When using **mvnw** instead of mvn this is still an open issue.
Just retested it with quarkus.io version 0.18.0

[2019-07-03 11:19] gsmet commented on #2871
AFAICS, it's the Maven wrapper which can't download Maven so it has nothing to do with Quarkus itself.

[2019-07-03 11:20] dmlloyd commented on #2954
Ping... any more thoughts/updates on this?

[2019-07-03 11:23] gsmet commented on #3077
@geoand this one is for you :).

[2019-07-03 11:25] geoand commented on #3077
I'll take a look!

[2019-07-03 11:50] cescoffier commented on #3073
Also, only the native-image docker image has been produced. We would need to also publish the S2I and "maven" docker images when we have everything working.

[2019-07-03 11:51] geoand commented on #3077
It looks like a "problem" in the Kubernetes Client which tries to dynamically load classes upon deserialization.
I'll see if we can fix it here with some kind of substitution, otherwise we'll need to take care of it upstream.

[2019-07-03 11:51] #3045 closed

[2019-07-03 11:54] cescoffier opened #3082 "Netty/Vert.x - Reuse the same event loop group"
This issue is about configuring the Vert.x event loop group to be sure it's shared with the rest of the Quarkus ecosystem.

[2019-07-03 11:55] cescoffier opened #3083 "Netty/Vert.x - Share the worker thread pool"
Quarkus provides a worker thread pool which should be shared by all parties including Vert.x

[2019-07-03 11:56] haraldatbmw commented on #2871
Okay, I got it. If the environment variable **MVNW_REPOURL** is set to my nexus maven repository the mvnw command works fine :-)

[2019-07-03 11:56] #2871 closed

[2019-07-03 12:06] cescoffier opened #3084 "Non blocking HTTP/REST client"
Provides an implementation of the Rest client using a non-blocking transport layer.

[2019-07-03 12:18] #2898 closed

[2019-07-03 13:06] geoand commented on #3077
@fstab #3085 should take care of your issue (I tested it with your reproducer)

[2019-07-03 13:11] gsmet commented on #2815
@waldimiro a simple reproducer would help. It shouldn't take you too much time.

[2019-07-03 13:58] mkouba commented on #2954
Ok, let's say that I would like to reimplement this build step: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx/deployment/src/main/java/io/quarkus/vertx/deployment/VertxProcessor.java#L158-L190 where the `BeanDeploymentValidator` is invoked within `ArcAnnotationProcessor.build()` during `STATIC_INIT`.

We would have to add the `EventConsumerBusinessMethodItem`s in an instance va

[2019-07-03 14:15] cescoffier opened #3087 "Shared Vert.x instance producer"
This issue is about having a single shared Vert.x instance shared among the different components.

This is related to:

* #3036
* #3083
* #3082

[2019-07-03 20:24] fstab commented on #3077
Great, thanks!

[2019-07-03 20:34] dmlloyd commented on #2954
That's the key question.  The answer is "it's not allowed under any circumstances".  The problem has to be solved with a different approach.  Do you *need* actual build items for the produced `EventConsumerBusinessMethod` instances?

[2019-07-03 21:58] geoand commented on #3077
You are welcome!

[2019-07-03 22:46] Sparow199 commented on #3059
Hi @dmlloyd , i'm working on Syslog handler integration but i need some help to determine which properties to expose in application.properties.

I looked at [this file](https://github.com/dmlloyd/jboss-logmanager/blob/master/src/main/java/org/jboss/logmanager/handlers/SyslogHandler.java) and this [documentation](https://docs.jboss.org/author/display/AS72/Logging+Configuration) to lookup for the pr

[2019-07-04 06:42] mkouba commented on #2954
I think I do. The workflow is:
1. Register a `BeanDeploymentValidator`
2. This validator is invoked during Arc init, after all beans are discovered
3. For a method declared on a bean class and annotated with `@ConsumeEvent` produce `EventConsumerBusinessMethodItem`
4. For each `EventConsumerBusinessMethodItem` generate an invoker class and register the class for reflection
5. Finally, call a runti

[2019-07-04 07:12] mkouba opened #3089 "Test - stale config values"
When reviewing https://github.com/quarkusio/quarkus/pull/2940 I found out we're still having problems with stale config values during Arquillian tests. I'm not quite sure how to fix this problem but here are my observations:

1. `org.eclipse.microprofile.config.ConfigProvider.getConfig()` returns a `Config` obtained from a `ConfigProviderResolver` (which is stored in a static field and is initiali

[2019-07-04 07:15] mkouba commented on #3087
What does it mean? We do share a `Vertx` instance, or?

[2019-07-04 09:54] Postremus opened #3091 "No redirect to index.html in subdirectory when running as uberjar"
**Describe the bug**
I have a custom index.html in my /src/main/resources/META-INF/resources/subdirectory/ directory. I get automaticly redirected to this index.html, when I run the quarkus using quarkus:dev, and access localhost:8080/subdirectory.

Running as uberjar, when I try to access the "localhost:8080/subdirectory" page, i get a Not Found Error.

**Expected behavior**
index.html is automat

[2019-07-04 12:43] #2798 closed

[2019-07-04 12:43] #2797 closed

[2019-07-04 13:49] sberyozkin commented on #3010
#3081 fixes it

[2019-07-04 13:49] #3010 closed

[2019-07-04 14:02] cescoffier commented on #3084
The non-blocking transport should be done in resteasy first.

[2019-07-04 14:04] cescoffier commented on #3087
@mkouba Yes, things are changing a little bit with the new transport layer.

[2019-07-04 14:39] loicmathieu commented on #2997
@emmanuelbernard what's your opinion on this one? `@TransactionTimeout` (already implemented in PR #3063 ) or `@TransactionConfig` ? (needs to rename and maybe implements the other configuration options)

[2019-07-04 14:44] emmanuelbernard commented on #2997
I think a `@QuarkusTransaction` is less preferable because we want stuff in the spec.
So `@TransactionConfig` or `@TransactionExtra` would get my preference.

[2019-07-04 14:52] loicmathieu commented on #2997
I prefere `@TransactionConfig` because I don't immediatly understand what _Extra_ means. Or `@TransactionExtraConfig` because it's about configuration but it's a bit long.
So I'll use `@TransactionConfig`.

[2019-07-04 14:55] emmanuelbernard commented on #2997
I was wondering if it was about configuration or behavior. Is MANDATORY and
friend a configuration too?

On Thu, Jul 4, 2019 at 4:53 PM Loïc Mathieu <notifications@github.com>
wrote:

[2019-07-04 15:40] loicmathieu commented on #2997
You're right `@Transactional` is about transaction behaviour (the type) but also configuration (when to rollback).
Timeout is about configuration, isolationLevel about behaviour ... so it's not easy to choose a correct name.
But as Config is generic enought I suppose it's a good naming that carry the intention well enought.

[2019-07-04 16:49] sberyozkin opened #3092 "Support running Keycloak server as a Quarkus extension"
**Description**
Running it on top of Quarkus will prove invaluable for the testing as it has been the case with Thorntail. Besides it may also encourage some Keycloak users to learn more about Quarkus if they run it like it. Running Keycloak in the native mode seems very promising as well.

[2019-07-04 17:00] kameshsampath opened #3093 "Unable to run application inside kubernernetes"
**Describe the bug**
Unable to start Quarkus application inside kubernetes.

**Expected behavior**
Application should start correctly

**Actual behavior**
[code]

[2019-07-04 17:54] ppalaga opened #3094 "Bean created three times instead of one after renaming test package"
Cloning from https://github.com/apache/camel-quarkus/issues/24 so that this can be assigned to a milestone (hopefully 0.19.0). @aloubyansky has a fix that I have verified.

[2019-07-04 17:59] ppalaga opened #3095 "Remove Camel extensions and integration tests"
Camel extensions have their new home in https://github.com/apache/camel-quarkus and they can be removed from here once this blocker is fixed: https://github.com/quarkusio/quarkus/issues/3094

We hope both #3094 and the current issue can be resolved in Quarkus 0.19.0.

cc @lburgazzoli @aloubyansky

[2019-07-05 05:55] DwarfenM commented on #3093
As workaround you can try to build you docker image with -Dvertx.disableFileCPResolving=true property.
For jvm build change this line:
`ENV JAVA_OPTIONS="-Dquarkus.http.host=0.0.0.0 -Djava.util.logging.manager=org.jboss.logmanager.LogManager"`
To:
`ENV JAVA_OPTIONS="-Dquarkus.http.host=0.0.0.0 -Dvertx.disableFileCPResolving=true -Djava.util.logging.manager=org.jboss.logmanager.LogManager"`

[2019-07-05 07:20] cescoffier commented on #3093
Yes, the workaround would work.

It's also fixed in #3016.

[2019-07-05 07:20] #3093 closed

[2019-07-05 07:27] emmanuelbernard commented on #2966
Let's refine a bit you needs. If you need is to be able to do user state without JWT, one option is to rely on an external key/value system like Infinispan https://quarkus.io/guides/infinispan-client-guide to store that per user state outside of the Quarkus app proper. That way your Quarkus app remains stateless and more easily scalable.

We then can imagine an easier way to define and propagate a

[2019-07-05 07:30] emmanuelbernard commented on #2834
We also discussed adding a entity.validate() returning `Set<ConstraintViolation>` at some point to explicitly have the result and not even attempt to persist. I tried to find the issue but seems that we never logged our conversation @FroMage

[2019-07-05 07:34] emmanuelbernard opened #3097 "Unify the HTTP layer (netty, vertx, servlet, vertx web, resteasy)"
@patriot1burke and @stuartwdouglas
Can you create the relevant sub issues and link them here and add them to the 1.0 project board.

[2019-07-05 07:38] emmanuelbernard commented on #3084
Is that the general issue related to the work going on when one refers to "the REST client work"?

[2019-07-05 07:46] emmanuelbernard commented on #2277
See also https://github.com/quarkusio/quarkus/pull/2406 for an easier guide start

[2019-07-05 07:47] emmanuelbernard commented on #810
Dupe of https://github.com/quarkusio/quarkus/issues/2277

[2019-07-05 07:47] #810 closed

[2019-07-05 07:55] emmanuelbernard opened #3098 "Offer facilities to separate the notion of Quarkus core from the Quarkus platform"
We know there will be a Quarkus git repo and repos hosting other extensions (up to one per extension).
We know we want Quarkus extension writers to join a given Quarkus platform train compatibility wise.
We know some extensions are more aligned with the Quarkus mission of Cloud Native focused platform, and we need to differentiate them.
We know we may want to offer an "golden path" technology wise

[2019-07-05 07:57] evdh opened #3099 "Multiple handlers for amazon-lambda extension"
**Description**
Currently, only a single Handler/Function is allowed in the Amazon Lambda extension. Meaning you would have to build a single artifact/zipfile for each lambda. If you have a large project consisting of dozens of endpoints/lambdas, building all this would take forever. It should be possible to build one artifact with multiple lambdas and then specify which handler you want to to use

[2019-07-05 07:58] emmanuelbernard opened #3100 "Offer a way to generate an extension via build e.g. mvn quarkus:create-extension (template)"
**Description**
(Describe the feature here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (or [the corresponding Google Group](https://groups.google.com/group/quarkus-dev); see [the decisions process document](https

[2019-07-05 08:03] emmanuelbernard commented on #3066
Hi.

Can you offer a reproducable.
CC @aloubyansky

[2019-07-05 08:03] loicmathieu commented on #2997
Hi @emmanuelbernard I renamed to `@TransactionConfig` but a quick look at the narayana implementation didn't show me how to set the isolation level nor the readonly at transaction level. So for now I will only implements the timeout in the config object. See the PR.

[2019-07-05 08:10] emmanuelbernard commented on #3100
Duplicate of #2113

[2019-07-05 08:10] #3100 closed

[2019-07-05 08:14] emmanuelbernard opened #3101 "Offer a Gradle project template via gradle init"
https://stackoverflow.com/questions/34856834/create-custom-build-init-type-for-gradle-build-init-plugin

`gradle init --type quarkus` would be awesome

Check if that can be done so we decide to keep it in 1.0 or not

[2019-07-05 08:21] emmanuelbernard opened #3102 "Enable Gradle add-extension by update gradle project structure to isolate extensions dependencies"
the `build.gradle` `from` clause to embed the Quarkus extension dependencies
see https://github.com/gradle/kotlin-dsl/tree/master/samples/modularity

That way the add-extension logic could look for that file and edit it.
We can ask users to respect the structure or even make it a no edit file (less preferred).

[2019-07-05 08:23] emmanuelbernard opened #3103 "Support testing with Gradle"
**Description**
(Describe the feature here.)

**Implementation ideas**
(If you have any implementation ideas, they can go here, however please note that all design change proposals should be posted to [the Quarkus developer mailing list](mailto:quarkus-dev@googlegroups.com) (or [the corresponding Google Group](https://groups.google.com/group/quarkus-dev); see [the decisions process document](https

[2019-07-05 08:23] emmanuelbernard commented on #3103
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/quarkus-dev/ZXla0Oak9UE

[2019-07-05 08:30] emmanuelbernard opened #3104 "Implementer starter.*.io experience in quarkus:dev"
quarkus:dev offering a console for dev focused tasks, the first one being adding and managing extensions

[2019-07-05 08:35] emmanuelbernard commented on #2048
@cescoffier is that the issue you use for the MongoDB work? That's the one I added to the 1.0 project

[2019-07-05 08:38] emmanuelbernard opened #3105 "Write down in the extension guide a quick section for our axle (or otherwise) approach"
One paragraph why
Explain which types to prefer in APIs
Explain bridging options

[2019-07-05 08:38] emmanuelbernard commented on #3105
@cescoffier

[2019-07-05 08:40] emmanuelbernard opened #3106 "Offer template engine that is build time and reactive"
CC @mkouba

[2019-07-05 08:41] emmanuelbernard opened #3107 "Make sure each relevant extension offer a liveliness and readiness data"
Of course first checking if MP Health is an enlisted extension

[2019-07-05 08:46] emmanuelbernard opened #3109 "Clarify secret management strategy and integrate vault"
Place holder for the real issues to be linked by the security guys/gals

[2019-07-05 08:47] emmanuelbernard commented on #2231
Also see current proposal on OAuth2 (PR) https://github.com/quarkusio/quarkus/pull/3078

[2019-07-05 08:48] #3034 closed

[2019-07-05 09:47] loicmathieu commented on #3107
+1 I miss this functionality from other framework :
- When Agroal is in the classpath, we should automatically check the DS and add a health check about it
- When Kafka is in the classpath we should automatically check the broker and add a health check
- ...

Of course we need to be able to disable those health checks if needed.

As Quarkus is build time and prevent the usage of reflection, I don'

[2019-07-05 09:52] loicmathieu commented on #3107
As I understand liveness : it's about restarting the application so the extension should not provide liveness because I don't want to restart my apps if my DB is down because it will be useless (it's the DB that needs to be restarted).

**Liveness**: global UP for the apps without checking any dependecies (so any extension)
**Readiness** : UP for my apps and all it's dependecies (DB, broker, LDAP,

[2019-07-05 10:15] cescoffier opened #3111 "Make sending message to the event bus more tightly integrated"
Just a slightly different API hiding the `Message` sent and received:

* `send(payload)`
* `publisher(payload)`
*`request(payload) : CompletionStage<O>` (the response)

Mostly the sending part of #2529

[2019-07-05 10:17] cescoffier opened #3112 "Integrate JMS with reactive messaging"
Provides a reactive messaging connector to integrate with JMS.

[2019-07-05 10:18] cescoffier opened #3113 "Decorate reactive messaging connectors with health and metrics"
For each connector:

1. define the liveness and readiness sensors
2. define the key metrics
3. implement the sensors
4. implement the metrics

[2019-07-05 10:23] kameshsampath commented on #3093
Thanks @cescoffier

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Clement Escoffier <notifications@github.com>
Sent: Friday, July 5, 2019 12:50:28 PM
To: quarkusio/quarkus
Cc: Kamesh Sampath; Author
Subject: Re: [quarkusio/quarkus] Unable to run application inside kubernernetes (#3093)

Closed #3093<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F

[2019-07-05 11:03] geoand opened #3114 "Instructions on multi-stage docker build lead to error"
When using the multi-stage docker build as mentioned [here](https://quarkus.io/guides/building-native-image-guide#creating-a-container-with-a-multi-stage-docker-build), we get the following error:

[code]

[2019-07-05 11:04] geoand commented on #3114
The error was initially mentioned in [this](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Creating.20a.20container.20with.20a.20multi-stage.20Docker.20build) conversation.

[2019-07-05 12:22] #3114 closed

[2019-07-05 13:21] alainpham opened #3116 "camel application properties are not overridden at runtime"
**Describe the bug**
When using the camel extension, application properties such ```quarkus.camel.servlet.url-patterns``` or ```quarkus.camel.routes-uris``` are not overridden at runtime with the native executable.

**Expected behavior**
When overriding application variables with a config/application.properties file or environment variables. They should be taken into account by the executable.

**

[2019-07-05 13:43] FroMage commented on #2198
OK guys, it's possible this is ready for review and trials.

I support already the full test of panache orm, plus most basic types and many of the most common annotations. I believe the most annoying missing so far is cascade and embedded.

I'd like people to try it out and tell me what annotations they're missing to use this, and why.

[2019-07-05 14:04] geoand commented on #2949
I could reproduce this every time on my clean with a simple `mvn clean test`.
The funny (but sort of expected) thing is that moving `TestUtils` from `src/test` to `src/main` eliminates the problem.

[2019-07-05 14:34] emmanuelbernard commented on #3062
@gsmet do you mind doing a first level investigation?

[2019-07-05 15:50] geoand commented on #3116
The corresponding Camel Config is configurable at build time only as can be seen [here](https://github.com/quarkusio/quarkus/blob/256a120ce6c910630139225f73ec2dd18daa068f/extensions/camel/camel-core/runtime/src/main/java/io/quarkus/camel/core/runtime/CamelConfig.java#L14).

It very much looks like that was intentional but I have no experience with Camel on Quarkus so I can't provide any meaningful

[2019-07-05 16:44] gsmet commented on #3062
On it.

[2019-07-05 16:54] michalszynkiewicz commented on #3044
does this task depend on any tasks in other projects?

[2019-07-05 16:55] gsmet commented on #3062
@agoncal the last command with native should be `install` instead of `package` no? Otherwise the native tests are not executed and the profile is not displayed at all. Or did I miss something?

If you're referring to the profile displayed during the tests, the tests start a totally new process via failsafe so you need to pass the profile there. BTW, the profile should be `test` by default and it's

[2019-07-05 16:59] gsmet opened #3119 "When running the native tests, the prod profile is used"
When running the tests on the native executable, the `test` profile should be used by default.

This is not the case as currently, the `prod` profile is used.

I thought it would be an easy fix but I had some weird behavior after fixing it. I think I'll need to discuss it with @stuartwdouglas .

I will create a PR as a base for discussion.

[2019-07-05 18:38] gwenneg commented on #3102
I'd like to work on this.

[2019-07-05 19:14] dcdh opened #3120 "Add native support for Hibernate Envers"
**Description**
Hello,

is it possible to add Hibernate Envers module to easily audit JPA entities under Quarkus

Thanks by advance.

Damien

[2019-07-05 20:35] pedroigor opened #3123 "Allow applications to customize how roles are decoded from raw identity"
**Description**
During the authentication, the `elytron-security` extension is decoding roles expecting that they are always associated with a `groups` attribute after the identity was successfully authorized.

In some cases, it might be useful for applications to define how roles are decoded from the attributes associated with an identity instead of assuming that roles should always be fetched fr

[2019-07-06 09:29] agoncal commented on #3062
@gsmet Hum.... getting confused here.

Let's take the default behaviour. When I build a native app, the `test` profile is used by default when testing (I don't have the `prod` profile as you mentioned in #3119). But once I execute the native app, I get the `prod` profile.

[code]

Now, if I specify a specific profile (eg. `staging`), the tests are executed with this specific profile (which is fine

[2019-07-06 09:52] Postremus commented on #3091
My reproducer can be found at https://github.com/Postremus/quarkus-reproducers/tree/master/quarkus-reproducer-3091

[2019-07-06 10:41] Dufgui commented on #2759
I would like to help on this. I finish my ticket on jni :)

[2019-07-06 11:43] dwamara commented on #2759
I only saw your question now, no entity lives in more than one datasource.

[2019-07-06 12:45] JohT opened #3126 "UnsatisfiedResolutionException on CDI beans with more than one constructor"
**Description**
UnsatisfiedResolutionException on CDI beans with one no-arg constructor and one additional constructor (e.g. with one parameter for testing purposes). For example:
[code]

**Expected behavior**
Even if quarkus does not claim to be fully CDI-specification conform, this behavior may also make sense for quarkus:

([https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#bean_constructors](u

[2019-07-06 13:02] masini opened #3127 "Jsonb FieldAccessStrategy prevent Hibernate dirty fields tracking"
**Describe the bug**
Using Jsonb FieldAccessStategy it seems that Hibernate is unable to track dirty fields

**Expected behavior**
Merge should understand that the detached entity is changed and update accordingly

**Actual behavior**
Merge does nothing

**To Reproduce**
Steps to reproduce the behavior:
1. Download reproducer project
2. run "mvn clean compile quarkus:dev"
3. launch "execute-testca

[2019-07-06 13:03] masini commented on #3127
[test-case.zip](https://github.com/quarkusio/quarkus/files/3364695/test-case.zip)

[2019-07-06 13:21] alainpham commented on #3116
Ok, thanks. I just discovered that there were different Configuration Root Phases. It does make sense for most of those properties to be fixed & unchangeable at run time like disable jaxb & xml, however I think that routesUris should be changeable at run time. When I configure routesUris to read a file on some file system path, the file is read dynamically during run time even with the native exec

[2019-07-06 13:22] gsmet commented on #3116
@alainpham yes, it makes perfectly sense.

@lburgazzoli ?

[2019-07-06 13:23] geoand commented on #3116
It's probably best to ping the author(s) of the extension to get more feedback on the questions you raised.

[2019-07-06 13:45] #3091 closed

[2019-07-06 14:17] #2808 closed

[2019-07-06 14:27] #3017 closed

[2019-07-06 14:32] anadollu opened #3128 "JCache (JSR 107) Extension"
**Description**
The JCache JSR (JSR-107) Quarkus Extension

**Implementation ideas**
One of Infinispan or Hazelcast implementations will be enough on the first step.

[2019-07-06 14:35] gwenneg commented on #2653
@gsmet I don't know how important the `milestone` is, but this will be part of `0.19.0` and there's no milestone on the issue or the PR.

[2019-07-06 14:38] geoand commented on #2653
Good catch, I added the milestone to the PR

[2019-07-07 08:59] gsmet commented on #2759
@Dufgui I'm planning to work on this one as it's a touchy one. Also we need to wait for @machi1990 's work about moving as much configuration as possible to runtime as it will conflict.

[2019-07-07 09:00] gsmet commented on #3014
@Dufgui would you be interested in taking this one? It's very similar to what you did with JNI.

[2019-07-07 09:11] masini opened #3131 "Cannot use JsonbSerializer with Hibernate ORM"
**Describe the bug**
A custom JsonbSerializer for a collection returned by Hibernate (can be an ArrayList or a *Bag) launch a JsonbException complaining that there is a recursive serialization.

**Expected behavior**
Should understand that List<MyPojo>, ArrayList<MyPojo> and PersistentBag<MyPojo> are the same

**Actual behavior**
Don't understand the difference

**To Reproduce**
Steps to reproduce

[2019-07-07 09:16] Dufgui commented on #2759
ok, i will do the #3014 but I want increase my level ;o) and get more touchy enhancement.

[2019-07-07 09:35] Dufgui commented on #3014
done, could you find a more touchy one please ?

[2019-07-07 11:49] lburgazzoli commented on #3116
@alainpham there is a property `deferInitPhase` that changes the way camel deal with routes: if set to true, routes are loaded at runtime however this reduces the optimization that camel can do as when building the route at build time, then the materialization of the route to the underlying processors is done at build time which has impacts on memory and start-up time (no need to parse xml, build

[2019-07-07 15:34] geoand commented on #3131
I am assuming the problem only manifests during in native mode, correct?

[2019-07-07 15:47] Dufgui commented on #3038
use ##3130 maybe ?

[2019-07-07 18:27] cescoffier commented on #3044
No, this task is about implementing a Connector in Quarkus. As it's quarkus specific, it should not involve any code in the upstream project.

[2019-07-07 19:20] masini commented on #3131
Hi Georgios, I haven't tried in native mode.

I reproduced with quarkus:dev and @QuarcusTest.

Thanks for your interest.

[2019-07-07 19:26] geoand commented on #3131
Hi, thanks for the extra info!

[2019-07-07 19:58] Dufgui commented on #2529
hello, I start to work on it. Could you explain what is expected for the GenericCodec ? especially for encodeToWire and decodeFromWire ?

[2019-07-08 06:48] cescoffier commented on #2529
Thanks for your help @Dufgui !

So, in the case of local, the `decodeFromWire` / `encodeToWire` should:

* if clonable -> return a clone of the object
* if not, return the direct reference

Otherwise, if not local, encode/decode it to JSON using JSON-B.

[2019-07-08 08:14] geoand commented on #3131
@masini could you please provide some code snippets of how you are recreating the problem? Because reading the issue some things just don't add up in my mind.

Thanks

[2019-07-08 08:21] masini commented on #3131
Hi Georgios, I retrieve a "RootPojo" using the EntityManager, which has a lazy collection:

public class RootPojo {
...
...
...
@OneToMany
@JsonbCustomSerializer(MySerializer.class)
List<ReferencedPojo> myCollection
}

when RESTEasy try to send the JSON from the JAX-RS service I got the Exception because Jsonb is unable to understand that the PersistentBag returned by the ORM is the same thing.

I

[2019-07-08 08:30] geoand commented on #3131
Thanks for the code, the use case is now clear. Would you also be able to add the exception that you are seeing from JsonB?

[2019-07-08 08:49] FroMage commented on #2834
We did talk about it, but did not add any issue.

[2019-07-08 08:50] FroMage commented on #2834
This is my last comment about the issue: https://github.com/quarkusio/quarkus/issues/646#issuecomment-465215799

[2019-07-08 08:51] FroMage commented on #3106
Well, fine, but then you guys will have to start commenting on the syntax choice that are being made because the two of us are not enough eyes.

[2019-07-08 08:51] FroMage commented on #3106
I mean, look at https://github.com/mkouba/qute/issues issues and start commenting.

[2019-07-08 09:21] gsmet commented on #2854
@machi1990 wondering if you would be interested in taking this one? We need to push the other extractor in the config (we don't want it to be configurable for now) and we need to fix all the SQL files in the tree (and in the quickstarts tree) to add `;` at the end of the lines.

I thought I would have the time to do it but there are a lot of things to review before Wednesday and I doubt I will get

[2019-07-08 09:25] masini commented on #3131
The Exception is thrown by:

`org.eclipse.yasson.internal.serializer.UserSerializerSerializer`

at line 57.

Thanks

[2019-07-08 09:27] geoand commented on #3131
Could you perhaps provide a larger part of the stacktrace? Thank you

[2019-07-08 09:47] gsmet commented on #2886
Done by @xstefank in the end.

[2019-07-08 09:47] #2886 closed

[2019-07-08 09:48] ppalaga commented on #3095
Please assign to me.

[2019-07-08 09:50] mkouba commented on #2874
Current state:
[code]
`@Recorder`:
[code]
`@Recordable`:
[code]

I personally like `@Recordable` because it reads "recordable template". `@Recording` sounds also good to me:

[code]

[2019-07-08 10:14] #2704 closed

[2019-07-08 10:24] machi1990 commented on #2854
@gsmet I'll take a look.

[2019-07-08 10:30] xstefank commented on #2886
ah, sorry, I totally missed this issue. @antoinesd sorry for this.

[2019-07-08 11:02] #3126 closed

[2019-07-08 11:06] CarlosPanarello opened #3135 "How to add application metrics in /metrics path"
Is there any configuration to add all application metrics in same the metrics path?

[2019-07-08 11:09] emmanuelbernard commented on #2874
The point is more that we would get a `ArcRecorder`

[2019-07-08 11:14] mkouba commented on #2874
[code]
Like this? If so I'm fine with that.

[2019-07-08 11:33] gsmet commented on #2874
+1 too.

Let's make this change just after a release.

[2019-07-08 11:40] Sanne commented on #1793
Added it to the list of issues we should have for 1.0

[2019-07-08 12:28] emmanuelbernard commented on #3062
I think we have conflated a few things possibly and will need a clearer doc and maybe some changes. I've started a discussion on Zulip but we will capture it either here or via email.

[2019-07-08 12:35] ppalaga opened #3136 "Quarkus Platform should not ban test scope in endorsed third party test projects"
This is a followup of https://github.com/apache/camel-quarkus/pull/35 cc @lburgazzoli

Background: @aloubyansky 's proposal https://github.com/aloubyansky/moving-camel-out-of-quarkus/blob/master/it/camel-servlet/pom.xml#L26 how endorsed third party extension tests should look like bans `<scope>test</scope>` in integration test projects. This is motivated by the fact that @aloubyansky wants to be a

[2019-07-08 12:50] kenfinnigan commented on #3135
For application metrics to appear in /metrics for an application there needs to be metrics created with the MP Metrics annotations.

See https://quarkus.io/guides/metrics-guide for some example usage

[2019-07-08 13:00] mkouba commented on #2954
Another similar use case is `io.quarkus.arc.deployment.ConfigBuildStep.analyzeConfigPropertyInjectionPoints()`:

1. Register a `BeanRegistrar`
2. Analyze all injection points in the application
3. For each IP with `@ConfigProperty` qualifier:
   1. Produce `ConfigPropertyBuildItem` which is consumed by a `@Record` build step and runs validation during `RUNTIME_INIT`
   2. For types that are not ha

[2019-07-08 13:19] ataxexe commented on #2330
Closing as it was fixed.

[2019-07-08 13:19] #2330 closed

[2019-07-08 13:24] cescoffier commented on #3084
@emmanuelbernard Yes

For the record, work has been started: https://github.com/resteasy/Resteasy/pull/2087.

[2019-07-08 13:26] cescoffier commented on #3082
Some related work has been done for Vert.x 3.8: https://github.com/eclipse-vertx/vert.x/issues/3023.

[2019-07-08 13:32] gsmet commented on #2933
@machi1990 sorry for the late answer. So the whole thing is to try to check which properties have to be defined before static init and which ones can be defined later.

Moving things to runtime init is a no no as it will slow down our startup in native mode and we don't want that.

So we need to figure out for each properties if they need to be defined early (in this case, they have to be defined

[2019-07-08 13:36] DemiusAcademius commented on #3066
Hi!.

I solved the problem for the development mode.
I add oracle library to local maven repository via maven { url: 'libs' }
and it all worked

пт, 5 июл. 2019 г. в 11:03, Emmanuel Bernard <notifications@github.com>:

[2019-07-08 13:42] gsmet commented on #3066
Thanks!

[2019-07-08 13:49] dmlloyd commented on #2954
Let me know if you want to discuss or brainstorm this sometime this week.  I'll make sure my calendar is updated with my availability.

[2019-07-08 13:56] loicmathieu commented on #3128
+1 but I'd rather love to see an EhCache implementation as it's a widely used cache implementation with a nice API and a lot of people use it.
Maybe we need a JCache implementation where we can plugged in multiple cache provider so we can cover more use cases:
- local cache (EhCache are the most used)
- distributed caching (with JGroups for ex)
- remote caching (client/server like Hazelcast and In

[2019-07-08 14:17] michalszynkiewicz commented on #3044
A few notes from conversations with Clement:

Supported methods: `PUT`, `POST`.

Types supported out of the box: (at least) `Json` and `byte[]`

Example configuration:
[code]

The http endpoint should return `202 Accepted` and pass the message to the stream.

[2019-07-08 14:42] gsmet commented on #3062
You are pointing to the surefire tests. They don't test native mode. The native mode is tested by the failsafe IT.

If you enable the failsafe one, you will see the native executable is tested with the `prod` profile.

Again, you're pointing to the JVM tests, not the native tests.

Yes it's the expected behavior. So that you can switch to different profiles at runtime.

That can be discussed for s

[2019-07-08 14:42] mgagliardo91 opened #3138 "QuarkusTest loads @ApplicationPath class twice"
**Describe the bug**
When running a test defined with `@QuarkusTest` using the maven-failsafe-plugin, I am receiving an error that appears to be related to quarkus attempting to load a class we use to defines the `@ApplicationPath` twice.

[code]

**Expected behavior**
The integration test loads all dependent application classes once, and completes successfully.

**Actual behavior**
Errors are thr

[2019-07-08 17:22] ginccc opened #3139 "After adding various extentsion, maven build fails"
Had no problems running & compiling at the beginning, but after adding some extensions, the maven build failed.

[code]
POM-file:
[code]

Here is the project:
[quarkus-test.zip](https://github.com/quarkusio/quarkus/files/3369499/quarkus-test.zip)

[2019-07-08 18:27] dmlloyd commented on #3059
I'd do the following:

* `appName`, make it optional and use `org.wildfly.common.os.Process#getProcessName` if it is not given
* `level`, similarly to the other handlers
* `facility`, default to `USER_LEVEL`
* `hostname`, make it optional and use `org.wildfly.common.net.HostName#getQualifiedHostName` if it is not given
* `syslogType`, default to `RFC5424`
* `protocol`, default to `TCP`
* `autoFlus

[2019-07-08 20:01] sberyozkin commented on #2784
@gsmet can this issue be actually closed, it is still in the Open state ?

[2019-07-08 20:54] CarlosPanarello commented on #3135
In the examples, that annotations used are showing only in metrics/application path. In metrics path showed only metrics from server. My doubt is about how to change the default path "metrics/application" for metrics used with annotations.

[2019-07-08 21:03] fmutluay opened #3140 "How to set record-request-start-time attribute for undertow?"
After enabling the access-log handler via undertow-handlers.conf file, the %D or %T pattern not print the response time into log file.

Contents of ../src/main/resources/META-INF/undertow-handlers.conf
access-log('%h %{i,X-Forwarded-For} %l %u %t %r %s %b %I %D')

Is there any way to set this attribute to true?

[2019-07-08 22:11] machi1990 commented on #2933
@gsmet thanks for getting back.

This is what I thought. Thanks for confirming it.

I should have some time next week. I'll start to dig into it and come to you with questions from time to time to see the direction I have taken.

It is pretty clear and answers my questions. Thanks.

[2019-07-08 22:26] alainpham commented on #3116
Thanks for the hint @lburgazzoli. I wan't so sure about what deferInitPhase really meant. The picture is becoming a bit clearer now but I still have to figure out a few things.

1) If `deferinitPhase=false`, does that mean that the option `-H:IncludeResources=...` must to be added so that the resources are part of the native executable or are the xml routes declared in the property `routesUris` au

[2019-07-08 22:56] Sparow199 commented on #3059
Great. @dmlloyd what do you think if we refactor `public void initializeLogging(LogConfig config) ` like this:
[code]

[2019-07-08 23:09] #3012 closed

[2019-07-08 23:48] stuartwdouglas commented on #2874
Can we make the change ASAP? I will be talking about extension development next week.

[2019-07-09 01:06] n1hility commented on #2874
+1 FWIW  I like this name style the best.

[2019-07-09 01:23] #3048 closed

[2019-07-09 07:10] lburgazzoli commented on #3116
As I can recall, in such cases the resources are not included but they are processed at build time so the generated bytecode contains the materialized routes and there's no more need to have the original XMLs.

That make sense. We are now in the process of moving camel-quarkus in its new [home](https://github.com/apache/camel-quarkus) ad we have a number of thing to improve, can you raise an issue

[2019-07-09 07:42] lburgazzoli commented on #3136
@aloubyansky does the removal of the test scope eventually impact the build time as test dependencies leak into the compile classpath ?

[2019-07-09 07:47] aloubyansky commented on #3136
Right, they will end up in the lib dir.

[2019-07-09 08:42] Dufgui commented on #2529
Thanks for your quick reply. but I think we don't talk about the same thing.
https://vertx.io/docs/apidocs/io/vertx/core/eventbus/MessageCodec.html
`decodeFromWire` / `encodeToWire ` read or write in a Buffer. So I cannot return a clone or the direct reference because I have no object and I must a create one.

The local aspect is in the `transform(S s)`.

So, I propose:

- in the `transform ` :  t

[2019-07-09 09:41] emmanuelbernard commented on #3062
BTW conversations are also happening here https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/quarkus-dev/NFpDtpRVZ7Y/3G7WmRMJDAAJ

[2019-07-09 10:11] emmanuelbernard commented on #3102
Cool, just keep @aloubyansky in the loop as he oversees our general dependency effort.

[2019-07-09 11:35] emmanuelbernard commented on #3107
@loicmathieu on the build time discovery, the idea is to have a `LivenessBuildItem` and a `ReadinessBuildItem` probably in a shared extension like `health-producer-extension` or something like that.
Every extension wanting to produce a health check would add a dependency to this shared extension and produce the relevant build item.
The healthcheck extensions proper would depend on `health-producer

[2019-07-09 11:42] emmanuelbernard commented on #2997
@michaelmusgrove @tomjenkinson can you give @loicmathieu a hint as to which API to use?

[2019-07-09 12:02] radcortez commented on #3035
+1

[2019-07-09 12:03] tdferreira commented on #3035
+1

[2019-07-09 12:04] brunobat commented on #3035
+1 This was working on v.0.17.0

[2019-07-09 12:16] gsmet commented on #3035
@vietk @radcortez @tdferreira @brunobat can any of you check that https://github.com/quarkusio/quarkus/pull/3054 fixes the issue for you?

We release the 0.19.0 tomorrow so it would be nice to get a confirmation today. Thanks!

[2019-07-09 12:19] #3035 closed

[2019-07-09 12:38] clochardpagan commented on #2966
Hmmm... There can be any production scenario where we really need session. Always we can offload state to somewhere (JWT, kv-pair, remote-service, etc.) But in case of development mode it is a neat feature. For example, we'd like to work on some service (initial development phase) and create primitive security layer to split users activity. But in case of Infinispan we'll need to setup server on d

[2019-07-09 12:38] stuartwdouglas commented on #3107
I have made a start on this here: https://github.com/stuartwdouglas/quarkus/pull/new/build-in-health-checks

No tests but it should work, it just needs some actual health check implementations.

[2019-07-09 13:17] radcortez commented on #3035
Wonderful. Will test with 0.19. Thanks!

[2019-07-09 13:54] emmanuelbernard opened #3145 "Rename quarkus-profile to quarkus.profile"
To align with our convention but listen to the old property as backup for backward compatibility.
this includes doc and quickstart changes

[2019-07-09 13:57] tomjenkinson commented on #2997
I think it is @mmusgrov that we intended to ping on this one too. But I would also add in @maeste as setting isolation level and readonly on database resource is something in IronJacamar rather than Narayana. In Narayana we work with resource managers at the [XA](https://docs.oracle.com/javase/8/docs/api/javax/transaction/xa/XAResource.html) level

[2019-07-09 14:03] emmanuelbernard opened #3146 "Document that running the test suite under a custom test profile is done via"
Background info https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/quarkus-dev/NFpDtpRVZ7Y/3G7WmRMJDAAJ

We want to maintain an intuitive experience around using profile configuration:

1. `mvn clean install package -Dquarkus.profile=foo` should build the jar or native image with the `foo` profile but still use the `test` profile when running test

In other words, the profile

[2019-07-09 14:07] vietk commented on #3035
@gsmet I tested with the reproducer, and I have the expected result, so I consider this fixed :D
thanks

[2019-07-09 14:08] gsmet commented on #3035
@vietk  Thanks for confirming!

[2019-07-09 14:11] emmanuelbernard opened #3147 "The profile a runner or native image is build from should be the default profile used unless overridden"
The profile a runner or native image is build from should be the default profile used unless overridden at runtime by `quarkus.profile`

The reason is that the following behavior is counter intuitive

[code]

In our example, the app will run withy `prod-aws` by default and can be overridden by

[code]

[2019-07-09 14:12] emmanuelbernard opened #3148 "Native executable tests should be run under the test profile"
`@SubstrateTest` tests are currently run with the `prod` profile and should be run with the `test` profile instead.

[2019-07-09 14:15] #2874 closed

[2019-07-09 14:15] emmanuelbernard opened #3149 "Building with custom profile should run tests with the test profile by default"
`mvn install -Dquarkus.profile=foo` should run tests under the `test` profile and build the jar / native executable under the `foo` profile.
See https://github.com/quarkusio/quarkus/issues/3146

[2019-07-09 14:16] emmanuelbernard opened #3150 "Improve and fix profile configuration user experience"
With profile configurations out the door, we started to get feedback. Now is the time for a rev of fixes and improvements.

- [x] Rename quarkus-profile to quarkus.profile https://github.com/quarkusio/quarkus/issues/3145
- [x] Support Maven and Gradle properties as a build-time config source https://github.com/quarkusio/quarkus/issues/3012

- [x] Building with custom profile should run tests with

[2019-07-09 14:17] emmanuelbernard commented on #3149
It might be the current behavior, but need to check.

[2019-07-09 14:18] emmanuelbernard commented on #3062
We have created a new issue to track the changes we want to make based on this conversation and others on quarkus-dev
https://github.com/quarkusio/quarkus/issues/3150
I'll close hat but please add comments to the new one.

[2019-07-09 14:18] #3062 closed

[2019-07-09 14:26] gsmet commented on #3150
I will coordinate this effort.

[2019-07-09 14:28] gsmet commented on #3150
@machi1990 @gwenneg if you're looking for issues to fix, this list is a nice source. We would like to target the next release for these improvements.

Some will be simple. Some not so much so it you're interested in one, write a comment in the issue and we can discuss it.

[2019-07-09 14:32] mkouba opened #3151 "Split the BeanProcessor.process() method into several well-defined phases"
The goal is to allow Quarkus extensions to inject a build item for each phase instead of registering a callback-style extension (such as `BeanRegistrar`). This would make it possible to produce other build items from within the given build step.

Note that _"injected objects are only valid during a `@BuildStep` method invocation, once the method is complete they are no longer valid"_.

[2019-07-09 14:45] emmanuelbernard commented on #2997
Ah so maybe that's more an API that Agroal would provide. @barreiro can you chime in?
It also means that we need a contract between Agroal and the Transaction interceptor so that other non agroal driven transaction resources could also interact.

[2019-07-09 14:52] gwenneg commented on #3150
@gsmet I haven't done a lot of tests with native images, it seems to be a good time to start diving into this topic! I may start with an easy one though since I'm already working on a few other issues.

[2019-07-09 14:54] gwenneg commented on #3145
@gsmet I'll start with this one!

[2019-07-09 14:59] emmanuelbernard commented on #2966
We do have an internal local cache implementation that could be used for your development mode to simulate infinispan. Let's explore that idea.

If that's development mode, is that a problem?

CC @tristantarrant and @sebastienblanc to brainstorm these dev simulation ideas.

[2019-07-09 15:06] #3077 closed

[2019-07-09 15:20] #2814 closed

[2019-07-09 15:21] #1886 closed

[2019-07-09 15:22] dmlloyd commented on #3059
Sure, I think that would be OK.

[2019-07-09 15:32] gwenneg commented on #3102
Ok, I'll do that :) I'm sure there will be a few points to discuss in this upcoming PR.

[2019-07-09 15:42] kenfinnigan commented on #3135
Can you provide a reproducer, as it might be a bug.

I know that once you've defined application metrics they won't show up in /metrics until you've actually received requests that use the metrics.

If that's not the problem it's likely a bug

[2019-07-09 15:47] kenfinnigan commented on #3107
Though I think it's a good idea to offer built in health checks for our extensions, we need to do it in a way that's very easy to turn off.

My concern is that users will want very specific to their application ways for different extensions, so we need a way to turn them off so it's an "all or nothing" type approach

[2019-07-09 16:52] alainpham commented on #3116
@lburgazzoli, thanks it's clear to me now.
Sure I'll raise the issue on the apache repos.

Many thanks

[2019-07-09 17:54] emmanuelbernard commented on #3107
Can you provide guidance for a uniform mechanism? We need to push that in
the extension author guide.

On Tue, Jul 9, 2019 at 5:47 PM Ken Finnigan <notifications@github.com>
wrote:

[2019-07-09 18:47] gwenneg commented on #3139
Hi @ginccc and thanks for using Quarkus!

I just had a look at your issue and it seems to be caused by the absence of Keycloak configuration in your project. You can find configuration examples in the Quarkus Keycloak guide here:
https://quarkus.io/guides/keycloak-guide#configuring-the-application

Could you try running your project again after adding either the configuration values in `applicatio

[2019-07-09 19:23] gwenneg commented on #3139
@gsmet Is there still time to include this in `0.19.0`?

[2019-07-09 19:29] kenfinnigan commented on #3107
TBH I'm not sure.

One option might be extensions having an `optional` dep on MP Health API jar to then create a `HealthCheck` implementation in the runtime. I *think* that would mean the implementation would be DCE'd unless the health check extension was present to bring along the impl.

However, I'm not sure optional dependencies play with the augmentation stuff, so could be way off base

[2019-07-09 20:53] #2999 closed

[2019-07-09 21:00] machi1990 commented on #3148
I'll take a look at this too.

[2019-07-09 21:11] emmanuelbernard commented on #3107
@kenfinnigan we already have that problem solved. If sr-health is not present the extension e.g. Quarkus-agroal` won’t add  healthchecks. That’s what Stuart did. Or are you saying we need an extension per specific healthcheck implémentation manually added by the user e.g.
`quarkus-agroal-healthcheck-dbready`, `quarkus-agroal-healthcheck-dblowlatency`, etc. The latter does not sound reasonable.

So

[2019-07-09 21:46] gsmet opened #3156 "Document the CORS filter feature"
I couldn't find a documentation for the CORS config, whereas it's a pretty common use case.

So either we should write one, or if it's already existing, we should add more links to it from the other guides.

[2019-07-09 21:59] stuartwdouglas commented on #3107
Some way to disable it based on name would probably be useful. A simple way would be to enable them all by default, but then have a quarkus.health.disable-builtin={regex}

[2019-07-09 23:13] gwenneg commented on #3149
I will take a loot at this.

[2019-07-10 02:51] #3139 closed

[2019-07-10 02:51] #3014 closed

[2019-07-10 05:47] erkanerol commented on #2814
The section is added into the guide. Thanks a lot!

https://quarkus.io/guides/building-native-image-guide#creating-a-container-with-a-multi-stage-docker-build

[2019-07-10 07:58] jtama-op opened #3162 "Quarkus-kubernetes extension doesn't generate expected resources"
Following the [Generating Kubernetes Resources](https://quarkus.io/guides/ap4k) doesn't generate any files in `target/wiring-classes/META-INF/kubernetes/`

**Expected behavior**
I expect the extension to generate sample kubernetes configuration file.

**Actual behavior**
Nothing is generated.

**To Reproduce**
Follow the guide to reproduce

**Configuration**
Nothing added to the generated code.

*

[2019-07-10 08:04] gsmet commented on #3162
@geoand I let you take a look at this one?

[2019-07-10 08:12] geoand commented on #3162
Sure thing, I'll check it out

[2019-07-10 08:16] geoand commented on #3162
@jtama-op I just followed the guide and everything worked as expected.

Essentially I created a project:

[code]

Then inside the project I did:

[code]

which results in the following:

[code]

Are you doing anything different?

[2019-07-10 08:21] gsmet commented on #2991
I think this issue will be fixed by https://github.com/quarkusio/quarkus/pull/3161 .

Could you check, either using master or with 0.19.0 when it's released.

Thanks!

[2019-07-10 08:28] jtama-op commented on #3162
@geoand Ho i am sorry I add missread the guide, and was looking into `target/classes/META-INF/` very sorry.

Closing the bug.

[2019-07-10 08:28] #3162 closed

[2019-07-10 08:29] geoand commented on #3162
No problem at all!

[2019-07-10 09:03] #3037 closed

[2019-07-10 09:11] ppalaga commented on #2113
I started hacking on a maven plugin that would primarily suit the use case of adding extensions in camel-quarkus.

[2019-07-10 09:24] emmanuelbernard opened #3164 "Make the environment specific properties of Keycloak runtime overridable"
Right now, properties for keycloak are read in a `STATIC_INIT` block which means it is recorded and replayed from the build time value.
Most properties are fine at build time and executed in a static init block (bruned into the native image by substrate vm). But some like `auth-server-url` should be read at runtime as it can be overridden by users via e.g. environment variables.

I can imagine two

[2019-07-10 09:45] mkouba commented on #2954
This issue is blocked by https://github.com/quarkusio/quarkus/issues/3151

[2019-07-10 10:42] hugomarcelino-spotqa commented on #1374
Having the same problem!

[2019-07-10 10:49] gunnarmorling commented on #2863
I was having some issues in dev mode (see https://github.com/quarkusio/quarkus/issues/3058). Will provide a reproducer in a bit.

[2019-07-10 11:05] cypressious commented on #1374
Can we get the issue reopened?

[2019-07-10 11:09] gsmet opened #3166 "Support and/or document pushing the logs to EFK (elastic fluentd kibana) and ELK (elastic logstash kibana)"
Apparently, we don't have anything built in for that in JBoss Logging but we have a generic JSON handler that could maybe be used.

Maybe it's just documentation needed but we had a question about that on Zulip and we need a proper answer.

/cc @emmanuelbernard to prioritize

[2019-07-10 11:12] geoand commented on #1374
Versions 0.19.0 will be released today most likely.
Once it is out please give it a try and let us know what happens.

[2019-07-10 11:17] #3123 closed

[2019-07-10 11:32] CarlosPanarello commented on #3135
Sorry, my mistake. I found my metrics in /metrics, it is because they only create a metric after used.

[2019-07-10 12:00] jmini commented on #2991
I will do, thank you!

[2019-07-10 12:03] sberyozkin commented on #2134
@gsmet @gunnarmorling can this issue be closed now ?

[2019-07-10 12:09] sberyozkin opened #3167 "Make Tika extension configurable"
**Description**
At the moment the Tika extension is very basic - it does not let users customize any part of the internal Tika flow while Tika itself can be configured deeply with [TikaConfig](https://tika.apache.org/1.21/configuring.html),

**Implementation ideas**
Introduce `TikaConfiguration` for loading the native Tika `TikaConfig`, but also support the most mainstream configuration options di

[2019-07-10 12:15] gsmet commented on #2134
Yes, and let's create other more specific issues if needed.

[2019-07-10 12:15] #2134 closed

[2019-07-10 12:20] kenfinnigan commented on #3135
No problem, glad it's sorted out

[2019-07-10 12:20] #3135 closed

[2019-07-10 12:21] kenfinnigan commented on #3107
We also need a way to disable them all with a config setting.

Would the disable config be using extension name or health check name?

[2019-07-10 12:40] emmanuelbernard commented on #3107
Right that's what I was trying to say, have a property to override which one is enabled or disabled. Though I think regexp is a universal standard for non user friendly right alongside Perl code :D

On the granularity, you tell me, I'm not expert but I suspect we don't initially want the healthcheck name to be part of an extension API
So I would start with extension name only and keep the door ope

[2019-07-10 12:47] kenfinnigan commented on #3107
Yes I think you can hit each health check endpoint by going to `/health/[health-check-name]`, so makes sense to use that.

Would the below

[code]

actually be:

[code]

as we've already disabled everything by specifying a value for the property?

Might also help if we used `+` when adding, even if there's no `-`:
[code]

[2019-07-10 12:52] emmanuelbernard commented on #3107
Yes, that's why I said it's non canonical (not encouraged form). I jsut wanted to make sure we had an implementation that would not fail and was relatively regular.
Yes we can definitely make + optional.

[2019-07-10 12:55] emmanuelbernard commented on #3166
Looks like a good contribution opportunity

[2019-07-10 13:43] gsmet opened #3174 "Reintroduce Gradle ITs in main tree"
I just caught a major regression in the Gradle plugin at the end of the release process.

This is definitely not something we want to happen again.

We need to reintroduce some Gradle IT. There is a PR here: https://github.com/quarkusio/quarkus/pull/2783 not sure if it is good (in any case, the ITs should be in the `integration-tests` directory).

@stalep @aloubyansky @geoand @garyttierney who can

[2019-07-10 13:45] loicmathieu commented on #3107
Hello,

I like the way it evolves but please, implements a more friendly-way to
de-active health checks! (regex, or +name -name => too complex)

As each health check will be provided by an extension, I think it's the
extension responsability to offers a simple enable property that is true by
defaults like:
quarkus.agroal.health.enable=false
quarkus.kafka.health.enable=false

Then we can provide in

[2019-07-10 13:47] emmanuelbernard commented on #2113
Hey @ppalaga is that really specific to Camel? My concern would be fragmenting the community by offering tools useful in different islands. Also ideally we don't want people to have to install / setup / know more than the Quarkus maven plugin.

I understand we can't adhere to that stic tline 100%. I am just mentioning the general intent.

[2019-07-10 14:02] geoand commented on #3174
I will try out the PR and see what happens

[2019-07-10 14:02] emmanuelbernard commented on #3107
The drawback with your proposal is that each extension must implement the same logic , make sure to document it and not forget about it. That's why I was trying to avoid that.
But if we really feel that `quarkus.foo.health.enable` is  better and overweight the future bugs and code burden, we can go for it.

[2019-07-10 14:28] geoand commented on #3174
Added comments to #2783

[2019-07-10 14:31] gsmet opened #3176 "Push Gradle properties to the configuration (again)"
In https://github.com/quarkusio/quarkus/pull/3173 , we reverted the copy of Gradle properties to config because the Gradle properties contain null values and complex objects.

We could only push String keys and values.

But let's wait for https://github.com/quarkusio/quarkus/issues/3174 to be implemented.

[2019-07-10 14:35] dmlloyd commented on #3176
We might want to revise the whole thing (Maven side too) to only push String keys in the `quarkus.` namespace.

[2019-07-10 14:36] geoand commented on #3176
I think that makes a lot sense. If we don't apply such a filter, we will end up with a ton of properties in Gradle's case

[2019-07-10 14:38] gsmet commented on #3176
+1 from me too.

[2019-07-10 14:39] gsmet opened #3177 "Filter build properties we push to config"
We might want to only push the build properties with the `quarkus.` prefix to the config.

This applies to Maven and Gradle.

This is related to https://github.com/quarkusio/quarkus/issues/3176 .