[2020-09-02 13:27] gsmet commented on #11818
Yes schema creation is seen as an administrative task very much like the database creation.

Using a `persistence.xml` is not really recommended.

I suppose we would have to expose `javax.persistence.schema-generation.create-script-source` in the config.

@Sanne WDYT?

[2020-09-02 13:43] rsvoboda opened #11820 "Clean project with debezium-quarkus-outbox fails with BuildException"
Clean project with debezium-quarkus-outbox fails with BuildException.
There are no code changes, just generated skeleton application.

[code]

Reproducer:
[code]

[2020-09-02 13:44] Sanne commented on #11818
It won't work when using the regular `import.sql` ?

[2020-09-02 13:44] noelo opened #11821 "Add Infinispan secret credential processing"
**Description**
When deploying Infinispan via the Infinispan Operator the user credentials are stored in a yaml format in a secret. Currently there is no easy way by which to consume this secret and populate the quarkus.infinispan-client.auth-username
 & quarkus.infinispan-client.auth-password properties.

**Implementation ideas**
Load the secret at startup and parse the payload when initialising

[2020-09-02 13:45] gsmet commented on #11818
Isn't `import.sql` executed after the automatic DDL generation?

[2020-09-02 13:50] Sanne commented on #11818
Sure, it happens after; it's slightly inconvenient but one can still choose to use it to make changes to the schema.

N.B. there's the possibility that the reported issue is caused by a different problem, like our lack of full db metadata. I'd need to investigate better.

[2020-09-02 13:54] BastianSperrhacke-Otto commented on #11818
using the import.sql comes too late, you are right. Is there a chance to configure when to fire the import.sql? like in jpa <property name="javax.persistence.schema-generation.create-source" value="script-then-metadata"/>

[2020-09-02 13:55] gsmet commented on #11818
@Sanne well, you need to create the schema before creating the database model :).

IIRC, I had to create the schema manually in my good old Hibernate + PostgreSQL days.

[2020-09-02 13:56] rsvoboda opened #11822 "Clean project with cassandra-quarkus-client gets stuck in tests"
Clean project with cassandra-quarkus-client gets stuck in tests
There is just `[INFO] Running org.acme.getting.started.GreetingResourceTest` and nothing else.
I suspect it tries to connect to cassandra but there is no connection timeout.

After I hit Ctrl+C following message is printed
[code]

Reproducer:
[code]

[2020-09-02 13:57] BastianSperrhacke-Otto commented on #11818
In jpa standard it is autocreated. there is no more work to do. It would be nice if it works here as well

[2020-09-02 13:57] gsmet commented on #11818
You mean with a standard Hibernate ORM project, you had the schema created for you?

[2020-09-02 13:58] michalszynkiewicz commented on #10039
I'm not sure it would work with dev mode.
Also, we don't start the gRPC server if we don't have to and we make this decision in build time.

I'm thinking of doing sth like:
[code]
If you prefer, the supplier could supply multiple services.
Would that work for you?

[2020-09-02 14:01] vsevel commented on #3200
hello @geoand @gastaldi
we started porting our java lib to provision our apps on our ocp cluster, and although most of our objects are pure k8s, we still use a few openshift objects (projectrequest, route, imagestream). without support for the openshift-client, I think we are down to not using the quarkus fabric8 k8s client unfortunately.
how much effort do you think this would be?

[2020-09-02 14:06] geoand commented on #3200
@vsevel Hey

It should not be much effort TBH. It should be very similar to the `quarkus-kubernetes` extension,

[2020-09-02 14:07] gastaldi commented on #3200
BTW if your application is not compiled to native, you can add the fabric8 openshift-client dependency and use it right away

[2020-09-02 14:15] agoncal opened #11823 "Property quarkus.container-image.tag with numbers generates a breaking minikube.yml file"
**Describe the bug**

When you set the property `quarkus.container-image.tag` to a numberical value and then you generate a `minikube.yml` with the Minikube extension, the file cannot be applied by kubectl (while the JSON file works). Set letters instead of numbers, it works.

**Expected behavior**

When generating the manifest files with numbers, the `minikube.json` file can be applied by kubectl

[2020-09-02 14:21] vsevel commented on #3200
@gastaldi great. we will add the dependency for now
@geoand and I will give a shot at the extension next, since we want to evaluate the native approach in the context of this migration
I will keep you updated on the progress

[2020-09-02 14:24] geoand commented on #11823
Thanks for reporting!

This is almost certainly has the same root cause as: https://github.com/quarkusio/quarkus/issues/11134

and should be fixed once we get a dekorate release with: https://github.com/dekorateio/dekorate/pull/607

[2020-09-02 14:27] BastianSperrhacke-Otto commented on #11818
I worked with eclipselink so far, but I used standard javax persistence configuration. In this setup schema was generated. I would guess that a plain old hibernate project will do the same.

[2020-09-02 14:31] BastianSperrhacke-Otto commented on #11818
So as I understand it correct, the missing creation of the schema is not a bug, it is a missing feature?

[2020-09-02 14:39] gsmet commented on #11818
I'm not entirely sure Hibernate ORM behaves the same. We would need to check that.

[2020-09-02 14:41] jamesnetherton commented on #10039
The problem I have is with the way in which the camel gRPC component works. It dynamically constructs the `BindableService` impls at runtime, because it needs to add in the Camel routing bits. Users aren't really expected to create their own service implementations in this context.

Hence my thinking around having access to the `HandlerRegistry`, since it'd provide a means for the Camel component

[2020-09-02 14:50] BastianSperrhacke-Otto commented on #11818
alternatively it would be nice to get the chance to hook in a sql file BEFORE hibernate creates the tables (Sequences etc.).

[2020-09-02 14:53] emfataliev opened #11824 "SseEventSink#send invalid SSE message"
**Describe the bug**
In the case of large sse message (±30 Kb), body writer divide the message into blocks and sent it in the wrong sequence.

**Expected behavior**
Outbound SSE message should be equals SseEventSink#send argument

**Actual behavior**
Outbound SSE message does not equal SseEventSink#send argument

**To Reproduce**
Steps to reproduce the behavior:
1. Create SSE endpoint
2. Send SSE

[2020-09-02 15:03] gsmet commented on #11824
/cc @cescoffier

[2020-09-02 15:13] jaikiran commented on #11783
Fixed in https://github.com/quarkusio/quarkus/pull/11809

[2020-09-02 15:13] #11783 closed

[2020-09-02 15:35] cescoffier commented on #11824
CC @FroMage @asoldano

[2020-09-02 15:54] ivangreene commented on #11792
@gastaldi tested this out with my reproducer, works great

[2020-09-02 15:58] glefloch commented on #11215
@danelowe I can reproduce it with the clean. The issue is only happening on multi-module project. I keep investigating

[2020-09-02 16:00] FroMage commented on #11824
Yeah, sorry I don't have time for that ATM, perhaps @asoldano can find someone else?

[2020-09-02 16:01] asoldano commented on #11824
CC @jimma

[2020-09-02 17:21] gastaldi commented on #11822
I think this belongs here: https://github.com/datastax/cassandra-quarkus?

[2020-09-02 18:43] #11815 closed

[2020-09-02 18:43] #11806 closed

[2020-09-02 19:10] laguiar commented on #7440
@maxandersen thanks for replying... yes, going native is the major point for being using Quarkus, so choosing components that will fit this purpose is a must.

Is Jooq "as is" native compatible to use without a quarkus extension?

[2020-09-02 19:29] gsmet commented on #2835
For all those interested by this feature, it's now available in 1.8.0.CR1.

Please see the additional information, link to the work in progress documentation and instructions on how to test it in the announcement email: https://groups.google.com/g/quarkus-dev/c/RGjLAyJx_40 .

As mentioned in the email, Final is coming soon so early feedback is mostly welcome.

Note that we support multiple persist

[2020-09-02 19:39] webfolderio opened #11833 "JPA Form Based Authentication don't work if username is incorrect"
**Describe the bug**
Form based JPA authentication hangs if username is incorrect.

**Expected behavior**
Quarkus should be return HTTP 403.

**Actual behavior**
HTTP request ends due to timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/webfolderio/quarkus-quickstarts
2. cd quarkus-quickstarts/security-jpa-quickstart
3. mvn test

**Configuration**
[code]

[2020-09-02 19:50] #11725 closed

[2020-09-02 20:19] sberyozkin commented on #11833
Hi @webfolderio I think #11808 may have fixed it

[2020-09-02 20:24] webfolderio commented on #11833
Thanks @sberyozkin

This is duplicate issue, please see #11807

[2020-09-02 20:24] #11833 closed

[2020-09-02 20:27] sberyozkin commented on #11833
Hi @webfolderio thanks, hopefully it does fix it, please double check if you can get a bit of time

[2020-09-02 20:49] famod commented on #11114
@andreas-eberle For this to work, `java.util.logging.manager` must _not_ be set to `org.jboss.logmanager.LogManager`, right?

That's a bit unfortunate since this will then "break" logging in `QuarkusTests`.

[2020-09-02 20:50] michalszynkiewicz commented on #10039
What do you mean by routing bits for the BindableService?

[2020-09-02 20:54] maxandersen commented on #7440
ack - valid point; just that even without native you get speed and performance improvements - but of course native gives you way faster startup. Thus if minimal startup time is your goal native is what you want.

You tell me - I haven't tried and honestly this is where we really need help and participation to figure out. Try it out and see - maybe you can help get started on the jooq extension ?

[2020-09-02 20:59] kenfinnigan commented on #11801
What was the code using the `CompletionStage` you tried?

I think you hit https://github.com/smallrye/smallrye-reactive-messaging/blob/master/smallrye-reactive-messaging-provider/src/main/java/io/smallrye/reactive/messaging/MediatorConfigurationSupport.java#L169 and maybe it's a missed update that we've created error loop that needs to be resolved. @cescoffier might know if that error should be ad

[2020-09-02 22:19] fwgreen commented on #10357
Closing this issue:  My root problem is design related and already under discussion here https://github.com/quarkusio/quarkus/issues/2244 and here https://github.com/quarkusio/quarkus/issues/3969

[2020-09-02 22:19] #10357 closed

[2020-09-02 22:47] mostafacs opened #11838 "quarks-openapi filter packages to scan for documenting. and support swagger annotations"
**Package to scan**
It would be nice to have a feature to choose specific packages to be documenting and handling by openapi and swagger.
Because I was to document only public endpoints (generate HTML docs and swagger docs) and keep internal endpoints secret.
**Support swagger annotations**
I want to document endpoints and model class using annotations like @ApiModel, @Api,...
or the v3 swagger an

[2020-09-02 23:26] MikeEdgar commented on #11838
@mostafacs - have you tried the MicroProfile OpenAPI configuration properties?

https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#311-core-configurations

Specifically:
- `mp.openapi.scan.packages`
- `mp.openapi.scan.classes`
- `mp.openapi.scan.exclude.packages`
- `mp.openapi.scan.exclude.classes`

[2020-09-02 23:28] mostafacs commented on #11838
@MikeEdgar  Thanks. I will try it now. What about swagger annotations for documenting endpoints and models ?

[2020-09-02 23:31] MikeEdgar commented on #11838
@mostafacs , MicroProfile OpenAPI also has a set of annotations, listed on that same spec page: https://github.com/eclipse/microprofile-open-api/blob/master/spec/src/main/asciidoc/microprofile-openapi-spec.adoc#documentation-mechanisms

JAX-RS endpoints should automatically be scanned since they are annotated with `@Path` (unless excluded with one of the previously-mentioned properties).

[2020-09-02 23:31] mostafacs commented on #11838
Got it. thanks so much.

[2020-09-02 23:31] #11838 closed

[2020-09-03 00:18] BastianSperrhacke-Otto commented on #11818
Take a look at https://docs.jboss.org/hibernate/orm/5.2/userguide/html_single/Hibernate_User_Guide.html#schema-generation

The JPA variant of hibernate.hbm2dll.create_namespaces. Specifies whether the persistence provider is to create the database schema(s) in addition to creating database objects (tables, sequences, constraints, etc). The value of this boolean property should be set to true if th

[2020-09-03 02:20] harry9111985 commented on #7451
Hi @SlyngDK,

Firstly I would like to thank you for the effort being put in and I really liked the fact that the JBossLoggerAdapter can now pass the arguments down the framework . This helps us getting a logging event with parameters and help us have an extension to record it the way we want in the logs ( in our case being a JsonProvider for Arguments)

I wrote up an extension for the StructuredAr

[2020-09-03 03:01] sherl0cks commented on #8479
Just hit this again. Any progress on a fix? Anyway I can help?

[2020-09-03 03:48] harry9111985 commented on #11632
Thanks @Ladicek for filling in the suggestion .

[2020-09-03 04:03] jaikiran opened #11839 "IncompletePostTestCase fails once in a while with SocketTimeoutException: Read timed out"
I've noticed the `IncompletePostTestCase` fail once in while in our CI jobs. One such instance is[1]. The failure looks like:

[code]
I initially thought the timeouts configured on that test are slightly on the lower side. But it's been configured for a 1 second timeout, which I think is reasonable. It may very well be the network communication on the GitHub action VMs is slow and the timeout migh

[2020-09-03 04:17] missourian55 opened #11840 "Bump "aws-lambda-java-event" to 3.2.0"
**Description**
Please bump the aws-events from 3.1.0 to 3.2.0, AWS added **Kafka events** support which huge for MSK consumers

**Implementation ideas**
[code]

**Release notes with change log**

https://github.com/aws/aws-lambda-java-libs/blob/master/aws-lambda-java-events/RELEASE.CHANGELOG.md

[2020-09-03 04:21] daibertdiego commented on #10339
Same problem here.

[2020-09-03 04:41] jaikiran opened #11841 "ReadTimeoutTest#testReadTimesOut fails once in a while"
A recent CI job has shown the following failure:

[code]
Looking at this testcase (and some related ones) they all check the same `static` field `invoked`. So if multiple test methods (within the same test case) get executed in different threads (I don't know if JUnit 5 does that) then this can cause issues. It's either that or there's some genuine issue in the code (and not the test), because I d

[2020-09-03 04:58] #11084 closed

[2020-09-03 05:21] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/237203663

[2020-09-03 05:25] geoand commented on #11820
I am almost certain this has been fixed in the latest debezium release.

cc @gunnarmorling @gsmet

[2020-09-03 05:27] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/237204980

[2020-09-03 05:31] cescoffier commented on #11801
We should be able to support this. Basically, we could off-load the call to the worker. Something to fix in reactive messaging.

[2020-09-03 05:34] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/237203801

[2020-09-03 05:49] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/237204441

[2020-09-03 06:00] geoand commented on #8694
@evacchi we have new error:

[code]

[2020-09-03 06:28] vsevel commented on #3200
do you think we should just add the fabric8 openshift-client library (plus any required quarkus related classes) into the existing the kubernetes-client extension, or should we create a new openshift-client extension that depends (maven-wise) on the kubernetes-client extension?

[2020-09-03 06:33] geoand commented on #3200
I believe we should not have the openshift model/client in the kubernetes extension as to keep the number of classes small when needed.

[2020-09-03 06:38] evacchi commented on #8694
@geoand probably some quay.io/dockerhub timeout/limit ? cc @cristianonicolai

[2020-09-03 06:50] rsvoboda commented on #11822
https://github.com/datastax/cassandra-quarkus/issues/132 filed

[2020-09-03 06:55] jamesnetherton commented on #10039
Basically [this](https://github.com/apache/camel/blob/master/components/camel-grpc/src/main/java/org/apache/camel/component/grpc/server/GrpcMethodHandler.java). It deals with invocations of the various `BindableService` methods and hands off to the Camel routing engine.

[2020-09-03 07:17] yuhaibohotmail opened #11842 "Panache repository persist failure with multiple persistence units in 1.8.0.cr1"
**Describe the bug**

  Panache repository persist  failure with  multiple persistence units。
[code]
[code]

this is a reproducer:
[demo.zip](https://github.com/quarkusio/quarkus/files/5166973/demo.zip)

[2020-09-03 08:05] 38leinaD commented on #11415
Ok, i have been giving this some more though and investigated as well.

Why is this useful?

I see this as an important feature to support the migration of bigger microservices or monoliths that are to be broken up to quarkus.
From own experience, I can tell you that is what as rather smooth ride up to now to migrate a big JEE application to quarkus. The only item that is left and I see problemati

[2020-09-03 08:11] michalszynkiewicz commented on #10039
If the handler has to be created in the runtime, can you have the BindableService created earlier and set the handler for it in the runtime?

[2020-09-03 08:21] #11134 closed

[2020-09-03 08:21] #11823 closed

[2020-09-03 08:28] gsmet opened #11844 "MongoDB test cluster far too verbose"
It's very hard to grab the output of the MongoDB extension tests given how the MongoDB test cluster is chatty.

I think we should get rid of flapdoodle and start a MongoDB cluster using the usual Maven plugin and be consistent with the rest of the test suite.

I don't know how chatty it will be so we might have to pass it options.

[2020-09-03 08:28] jamesnetherton commented on #10039
Yes, possibly. I will check.

It's a bit complicated because camel component actually constructs the `BindableService` implementation class dynamically using javassist. I can easily replace that logic with Gizmo and do it at build time. But, like I said earlier, maybe it could be better to simplify the camel component to try and avoid this.

It's been a few months since I dug into the code, so I n

[2020-09-03 08:36] rsvoboda commented on #11822
What's interesting is that per (datastax/cassandra-quarkus#132 comment) latest released cassandra quarkus client supports Quarkus 1.5 and not 1.7.
And we have it in 1.7 universe ... @maxandersen / @gsmet

[2020-09-03 08:41] sekaijin commented on #2835
Hello

It's good news.
Because I have many cases where it is necessary.
Simply a job that transfers data from one database to another with camel
from ("jpa: ....."). bean (MyConverter.class)
.to ("jpa: ...");

Thank

[2020-09-03 09:11] knutwannheden opened #11846 "quarkus.smallrye-openapi.store-schema-directory should be relative to project basedir"
**Describe the bug**
When setting `quarkus.smallrye-openapi.store-schema-directory` in `application.properties` to have the build write the `openapi.yaml` file to the file system when running a build, the directory path (if relative) is interpreted as relative to the current process' working directory.

**Expected behavior**
When building a Maven project from the command line using the `-f`option

[2020-09-03 09:15] gsmet commented on #11096
Is this sorted out?

[2020-09-03 09:16] phillip-kruger commented on #11846
Good point. I'll have a look to change it. Thanks :)

[2020-09-03 09:21] gavinking commented on #11818
To summarize a couple of things about this functionality:

1. Schema creation only happens if you set `hibernate.hbm2dll.create_namespaces=true`.
2. According to the JPA spec, apparently, it only happens if you explicitly set the schema of all your entities using `@Table(name="foo", schema="bar")`, which is pretty sucky.
3. But Hibernate has a better way which is to set `hibernate.default_schema`.

[2020-09-03 09:23] gavinking commented on #11818
As I understand it, it's not auto-created by default. You must explicitly set `javax.persistence.create-database-schemas`.

[2020-09-03 09:25] michalszynkiewicz commented on #11096
We have a workaround for the product but we don't have a proper solution for this yet to my knowledge

[2020-09-03 09:32] gavinking commented on #11818
Sorry, I lie. `create schema` does work on DB2, it's `drop schema` that is broken.

[2020-09-03 09:42] maxandersen commented on #11822
Thanks for reporting. Seems it's being prepared for 1.7.1 thus no action necessary at this time.

[2020-09-03 10:24] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/237554965

[2020-09-03 10:39] lburgazzoli commented on #11411
@bframke do you have a reproducer for that ?

[2020-09-03 10:40] Sanne commented on #9142
Nice! thanks @Mobe91 and @beikov

[2020-09-03 10:44] geoand commented on #11844
I agree, however there is one problem with this: The tests that actually create a Mongo cluster...

[2020-09-03 10:48] geoand commented on #11844
I'll take a quick (less than an hour look and see if we can remove the logs)

[2020-09-03 10:59] antoniomacri commented on #11715
Sorry, the cause was my IdP didn't return the ID token on refresh, but only the access token.

Thanks!

[2020-09-03 11:11] gyannitin commented on #11795
Hi,

Below project can be used for reference. It injects the MongoClient to access the database. If database need ssl certificate for authentication then we need to implement mongoClient and provide the authentication related information.

https://github.com/quarkusio/quarkus-quickstarts/tree/master/mongodb-quickstart

I have written below class to get the configured mongoClient.

public class Sin

[2020-09-03 11:23] gyannitin commented on #11795
When I run the application from my local system, junit and application works perfect. But when I build the application in Jenkins then junit fails to connect with mongodb [com.mongodb.MongoSocketOpenException: Exception opening socket]. If I comment out junit tests, build is successful and application get deployed and working. Same code works when we access the application from endpoint, why it do

[2020-09-03 12:20] emfataliev commented on #11824
Perhaps the error occurs at SseEventOutputImpl.java:233-234
[code]

`io.quarkus.resteasy.runtime.standalone.VertxOutputStream#asyncWrite` writes response by 8 kb chunks

[2020-09-03 12:46] galderz commented on #10095
@cescoffier and I have been looking into this. We've reproduced the issue in [this small example](https://github.com/galderz/mendrugo/tree/master/epoll). For epoll native transport to work in native image, it'd seem that we need to pre-register some classes/field/methdos for JNI access, plus we also need Netty's `AbstractReferenceCounted` to be initialized at build time. We haven't fully settled o

[2020-09-03 12:46] gastaldi commented on #3200
I'm still convinced that https://github.com/quarkusio/quarkus/issues/3200#issuecomment-517771636 is the best approach 😉

[2020-09-03 12:48] kenfinnigan commented on #11415
@38leinaD it's not just the JAX-RS side of things that needs amending, as far as I understand. It would also be necessary to segregate the CDI container (ArC) so that beans for one JAX-RS application are not injectable into the other.

My understanding is that the `getClasses()` on the `Application` ensures that only those particular classes are available to that JAX-RS Application, which means th

[2020-09-03 12:52] machi1990 opened #11853 "Quarkus cli test failing"
**Describe the bug**

The `io.quarkus.cli.CliTest.testAddListRemove` is failing unrelated to the changes I was working on https://github.com/quarkusio/quarkus/pull/11852

https://github.com/quarkusio/quarkus/runs/1066539001

**Expected behavior**

The test to pass.

**Actual behavior**

[code]

[2020-09-03 13:08] FroMage commented on #11415
Leaving aside the build-time complexities of supporting this in Quarkus, we could ask the RESTEasy team if multiple applications are even supported by RESTEasy at runtime in the same module/classloader. Given what I know about statics and ThreadLocals in the runtime I just don't know if it's even meant to be supported. Probably @asoldano will know?

As to whether this would be good for Quarkus, or

[2020-09-03 13:14] gsmet commented on #11853
Yeah, @ia3andy is working on it.

[2020-09-03 13:15] coding4kay commented on #5657
I think the “normal” use case is following:

-       public frontend client for amazing app
-       backend client with roles with roles [READ, WRITE] for amazing app
-       search service client with roles [READ, WRITE]

Now I want to call the search service from my amazing app backend.

I can give my user the role [READ,WRITE] from my amazing app and [READ] from my search service and forward th

[2020-09-03 13:22] loicmathieu commented on #11795
@gyannitin in your example you didn't use the Quarkus mongodb-client extension as you create the client by yourself.
So there is nothing Quarkus specific.

What we support for SSL connection with MongoDB is only to include the SSL certificate inside your JVM (you can find an example usage [here](https://access.redhat.com/documentation/en-us/red_hat_jboss_data_virtualization/6.2/html/security_guide

[2020-09-03 13:23] gsmet commented on #11820
Yeah this is known, will be fixed with the upgrade to 1.2.3.Final.

[2020-09-03 13:30] 38leinaD commented on #11415
Maybe getClasses in the JAX-RS spec has a broader scope, but from my experience with writing rest services, it usually boils down to returning resource-classes, providers and exeception mappers from the getClasses method. If we are talking about "segregate the CDI container (ArC) so that beans for one JAX-RS application are not injectable into the other", i am not sure what that means realisticall

[2020-09-03 13:35] gsmet commented on #11840
I created https://github.com/quarkusio/quarkus/pull/11855 so that it gets updated automatically.

[2020-09-03 13:53] sberyozkin commented on #11415
@38leinaD, @famod Hi,

This is what `DynamicFeature` is for where one can attach the specific providers to the specific resource methods (i.e, specific paths). Does it work ?

[2020-09-03 13:54] Meemaw commented on #11681
@pivovarit were you able to reproduce the issue?

[2020-09-03 13:55] pivovarit commented on #11681
Yes, but I have no clue why it's happening for now :)

[2020-09-03 13:56] asoldano commented on #11415
AFAIR this is not supported currently; the idea is that a JavaEE / JakartaEE deployment (associated to its classloader) can possibly be a JAX-RS deployment. Each deployment has a single Application.

[2020-09-03 13:59] CVeniamin opened #11856 "Repeatable QuarkusTestResource do not work on kotlin"
**Describe the bug**
Unable to use repeatable `@QuarkusTestResource` in kotlin.

Consider the following example:
[code]
does not work, giving the following error: `Repeatable annotations with non-SOURCE retention are not yet supported`.
This was already reported on [#5252](https://github.com/quarkusio/quarkus/issues/5252) and fixed as part of [PR #5473](https://github.com/quarkusio/quarkus/pull/52

[2020-09-03 14:06] mkouba opened #11857 "quarkus.debug.transformed-classes-dir does not work anymore"
This regression was introduced in:
https://github.com/quarkusio/quarkus/commit/9d3fa16a74c1b9354352843aab28ce71b3c95350#diff-db1d39a812769ff88e14c8dd8e39c0c4

[2020-09-03 14:07] mkouba commented on #11857
CC @FroMage

[2020-09-03 14:25] 38leinaD commented on #11415
I understand that one resteasy deployment has a single application. But it is not possible to have multiple resteasy deployments on the same classloader? I.e. there is no limitation in JavaEE to define multiple Jax-RS applications in a single war/classloader. My assumption is that if Quarkus uses resteasy, which is also used in appservers (?), resteasy in quarkus should also not have a problem to

[2020-09-03 14:37] gavinking opened #11861 "Multitenant datasources"
Currently the Hibernate extension features some integration with Hibernate multitenancy. Multitenancy in Hibernate essentially boils down to letting the program set a tenant id in the context of a certain request, and having the datasource used by Hibernate selected automatically on the basis of that id. Where "automatically" means you the user can write code to select it.

It seems to me that thi

[2020-09-03 14:43] asoldano commented on #11415
uh, I just realized there was already a discussion about supporting this in WildFly and it looks like it's only partially working. You might want to read the long discussion that started with this message https://www.eclipse.org/lists/jaxrs-dev/msg00564.html where the spec lead was saying that the spec is not really stating this is supported or not and some clarifications would be needed.

[2020-09-03 14:45] asoldano commented on #11415
@ronsigal, I'm sure you have better memories of the discussion and can help here.

[2020-09-03 14:54] #11853 closed

[2020-09-03 15:05] MikeEdgar commented on #11712
@phillip-kruger , i agree. Moving the hidden property to the field should fix it. If no setter exists that would be a change in smallrye to account for that. It is also misleading that the field in the schema is not identified as writeOnly. Adjusting for that would also be a good smallrye enhancement/fix.

[2020-09-03 15:22] BastianSperrhacke-Otto commented on #11818
Hey, Gavin. Thank you for your answer.
Probably it is sucky to write on each entity, but belongs to the JPA Spec. We currently try to migrate our Jakarta EE code to quarkus, because quarkus offers most of our APIs we were using in Jakarta EE.
I confirm that `quarkus.hibernate-orm.database.default-schema` does not create the schema on postgres.
What can I do to get `quarkus.hibernate-orm.database.g

[2020-09-03 15:43] kenfinnigan commented on #11801
I've created https://github.com/smallrye/smallrye-reactive-messaging/issues/718 to implement the feature for returning `Uni` and `CompletionStage`

[2020-09-03 15:51] 38leinaD commented on #11415
Just a quick summary/opinion based on all the good comments:
I understand now that there are problems regarding segregation of CDI beans, but I am not sure if this is really something to strife for. Regarding the use case in https://issues.redhat.com/browse/RESTEASY-1709, the person could have just used `@Inject MetricsApplication application`. Yes, not perfect because the provider is not reusable

[2020-09-03 15:52] gsmet commented on #11842
Thanks a lot for testing and reporting this issue!

[2020-09-03 16:05] 38leinaD opened #11863 "Generic Type arguments of producer method needs to be in a bean archive"
**Describe the bug**
I have a setup like this:
A producer that produces something with a generic type argument

[code]
I have some concrete type "SpecificBusinessObject extends BusinessObject" where I inject the BusinessObjectContainer with the concrete type argument:

[code]
Just for completeness; the container looks like this:

[code]

All classes are part of the main quarkus application except

[2020-09-03 16:23] 38leinaD commented on #11863
Additionally, the problem is that today there is no way to get this resolved other than, adding the beans.xml (which might not be always possible). Adding an index-dependency to the application.properties does not work; also adding IndexDepenendecyBuildItem does not work because the jar is not a bean archive.
It would be good to have a way to add an additional bean-archive from an extension.

[2020-09-03 17:23] cescoffier commented on #10990
See #11864.

[2020-09-03 17:48] #11842 closed

[2020-09-03 18:15] survivant opened #11866 "allow @Inject into a QuarkusTestResourceLifecycleManager"
I'm using QuarkusTestResourceLifecycleManager to launch a DockerCompose with testcontainer.

but I need to initialise data into a service in that docker-compose container.  Could it be possible to inject object in QuarkusTestResourceLifecycleManager ?

example

[code]

[2020-09-03 18:28] svinther commented on #11729
The essence of this is the question on how to programmatically create a first class citizen `DataSource` that works exactly as if it was created using `application.properties`. Same question here I suppose https://github.com/quarkusio/quarkus/issues/7019, but with no good answers. Would be really helpful with an experts comment on this

[2020-09-03 18:35] pivovarit commented on #11681
I have news. Good and bad.

The good one is that I identified the cause of the issue. The bad one is that it requires a subtle change in how Hazelcast deals with resource loading, so the fix will be made available in the next bugfix version.

I will post more details here once I prepare a PR

[2020-09-03 18:38] gavinking commented on #11729
Is this issue different or the same as #11861? (I never noticed it before.)

[2020-09-03 19:13] svinther commented on #11729
Different I think, as #11861 seems to suggest changes in architecture/implementation details on how to select a datasource configured elsewhere, e.g in `application.properties` .

This issue is about how to correctly configure a previously completely unknown datasource during requests. For instance by looking up the configuration properties in etcd (by a request provided tenantid). As can be seen

[2020-09-03 19:20] #11844 closed

[2020-09-03 19:29] vsevel commented on #11753
hello all,
`AgroalVaultITCase` does not carry native testing.
all natives tests for vault are located into `VaultInGraalITCase` from module `vault-app`.
I am confused. why would `vault-agroal` be considered during native testing. it does not have the `native-image` profile in `pom.xml` and does not mention the `@NativeImageTest` annotation.
what am I missing?

[2020-09-03 19:43] parkee opened #11867 "Gradle build fails after upgrade to 1.7.2"
After upgrade to 1.7.2, all maven projects work just fine, but gradle projects fail with:
[code]

Any thoughts about why it happened and how to fix that?

[2020-09-03 19:48] glefloch commented on #11867
@parkee do you have a small reproducer? Are you running `quarkusBuild` or `quarkusDev` task?

[2020-09-03 19:53] parkee commented on #11867
@glefloch
I can create it if needed, but currently, I don't have one.
That's the command I use to build it and it worked with all older versions:
`./gradlew clean build -x test -Dquarkus.container-image.push=true -Dquarkus.container-image.tag=$BUILD_ID`
We're using quarkus with kotlin if that matters.

[2020-09-03 19:55] glefloch commented on #11867
I will try to reproduce it with a simple kotlin project I have. Is it a multi module project?

[2020-09-03 20:04] parkee commented on #11867
No, it's a simple single module microservice

[2020-09-03 20:17] parkee commented on #11867
@glefloch
Well, I just played with it and found that as soon as I remove
`implementation 'io.quarkus:quarkus-grpc'`
it builds successfully.
So looks like quarkus grpc is that black sheep :D

[2020-09-03 20:22] parkee commented on #11867
@glefloch Here's the link to the reproducer

https://code.quarkus.io/?g=org.acme&a=code-with-quarkus&v=1.0.0-SNAPSHOT&b=GRADLE&c=org.acme.ExampleResource&s=iDg.OxX&cn=code.quarkus.io

[2020-09-03 20:33] parkee commented on #11867
I guess it would also be nice to update this post to reflect this specific issue (for other people who decide to upgrade)
https://quarkus.io/blog/quarkus-1-7-2-final-released/

[2020-09-03 20:42] webfolderio opened #11868 "JPA Form Based Authentication throws NullPointerException if username is incorrect"
**Describe the bug**
Form based JPA authentication throws `NullPointerException` if username is incorrect.

**Expected behavior**
Quarkus should be return `HTTP 403`.

**Actual behavior**
Quarkus returns `HTTP 500` and throws `NullPointerException`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/webfolderio/quarkus-quickstarts
2. cd quarkus-quickstarts/s

[2020-09-03 20:43] Sanne commented on #11729
I agree with the high level idea: it needs to be easier to define new datasources. However we need to think carefully about which level of flexibility to expose: for example I don't think we should allow switching the `db-kind`, as we need that to be a build time constant.

For this reason we can't fully support your request of starting datasources "completely unknown" (like you say); but we could

[2020-09-03 20:57] gastaldi commented on #11867
This is what I see with `--stacktrace`:

[code]

[2020-09-03 21:26] famod commented on #11415
@sberyozkin

You mean something like this? https://access.redhat.com/documentation/en-us/red_hat_fuse/7.3/html/apache_cxf_development_guide/jaxrs20filters#JAXRS20Filters-DynamicBinding

Looks promising. Worth a look I guess. Is there anything special to be aware of in Quarkus when using this approach?

[2020-09-03 21:29] gastaldi commented on #11867
@glefloch it seems to be caused by this commit: https://github.com/quarkusio/quarkus/commit/c49e697f4a1dcdbb002cef92ae62cbbfcda92c9f

The following block is never reached:

[code]

[2020-09-03 22:05] angrymango commented on #7440
The extension really serves two purposes. It provides integration into Quarkus (configuration, dsl context injection) and it deals with making jOOQ compile natively via GraalVM.

Current status:

- The original extension created by @leotu https://github.com/leotu/quarkus-ext-jooq has been updated to Quarkus 1.6.1 and jOOQ 3.13.3. I haven't tested it yet.

- I'm trying to stay up to date with the v

[2020-09-03 22:45] dcdh opened #11872 "Trace keycloak calls"
**Description**

In Quarkus we can log all requests using opentracing feature. However it is not the case about requests made by the authentication mechanism using keycloak.
It would be nice to add them in opentracing because keycloak can be a point of failure. Also it may be useful to collect response time to analyze them afterwards.

**Implementation ideas**
`quarkus-keycloak-authorization` used

[2020-09-03 23:47] gavinking commented on #11729
Well correct me if I'm misunderstanding this, but if the desire to "define new datasources" at runtime is actually arising out of the need to support multitenancy, then it seems to me that my proposal for datasources which are by nature aware of multitenancy is a *much* better way to address the real underlying need.

Am I way off base here?

[2020-09-03 23:53] gavinking commented on #11729
What I'm saying here is that the actual requirement is to be able to map tenant ids to catalog names and schema names (and, perhaps, JDBC URLs). I think the perceived need to map tenant ids to dynamically-created datasources is arising out of an architectural bug which we should fix.

[2020-09-04 00:32] gastaldi commented on #11867
If it's a bug in the Gradle plugin only, we can update it directly in the Gradle Plugin portal without requiring a new Quarkus release. Give us some time and we'll have it fixed ASAP.

Thank you !

[2020-09-04 03:17] wjsgzcn opened #11875 "gelf takes about 2 minutes to start"
**Describe the bug**
When using gelf and debug my quarkus application,  I find my app takes very long time (about 2 minutes) to start.

**Expected behavior**
My app should be started in several seconds.

**Actual behavior**
My app is started in several minutes.

**To Reproduce**
Steps to reproduce the behavior:
1.  WSL2
2.  OpenJDK 11
3.  Adding gelf to dependency and set quarkus.log.handler.gelf.

[2020-09-04 04:10] wjsgzcn commented on #11875
It is happened in WSL, when I move the jar file to Windows, it start very quick.

[2020-09-04 04:54] jglink commented on #9832
I had the same problem in IntelliJ but removing the various Quarkus plugins didn´t help.
Only after I removed the library `org.graalvm.nativeimage:svm` from my local MVN repository, the tests were working again in IntelliJ.

[2020-09-04 04:58] svinther commented on #11729
What I was aiming for is dynamic/programmatic multitenancy on the schema and database level. I understand that multitenancy on the dbprovider level is a stretch further and the drivers needed must be known on build time.

In my approach to make this work, I enable the postgres driver by defining a "dummy" default datasource in the `application.properties` like shown in the reproducer example https

[2020-09-04 05:28] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/238894436

[2020-09-04 05:49] mariofusco commented on #8694
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/238894233

[2020-09-04 06:25] #10500 closed

[2020-09-04 06:25] pmdeville commented on #10500
with 1.7.0 no problem anymore

[2020-09-04 06:26] geoand commented on #11875
Hi,

Can you please run `mvn -Dquarkus.debug.print-startup-times=true quarkus:dev` and augment the description of the issue with this information?

[2020-09-04 06:49] geoand commented on #11866
As explained on the email [thread](https://groups.google.com/g/quarkus-dev/c/6rpfNu-xWSM/m/ZkirnSGaAQAJ), this can't be done because a `QuarkusTestResourceLifecycleManager` is used to prepare the environment to make CDI (among other things) work.

[2020-09-04 06:49] #11866 closed

[2020-09-04 07:08] galderz commented on #11524
I think https://github.com/oracle/graal/issues/911 deals with a different request: when an application needs to handle different locales.

The issue being discussed here is not necessarily that. From my understanding, your app uses a single locale `it`. Then, MongoDB has hardcoded `en` locale which causes issues, due to the assumption of GraalVM of native image of a single locale, the `en` locale.

[2020-09-04 07:11] tmohme commented on #11675
With 1.7.2.Final everything works as expected.

[2020-09-04 07:12] galderz commented on #11774
Thx @jaikiran!! Your work really helps improve Quarkus!! :)

[2020-09-04 07:15] galderz commented on #11768
Yup, can be closed.

[2020-09-04 07:15] #11768 closed

[2020-09-04 07:35] Ladicek commented on #11872
This makes a lot of sense to me, Keycloak calls should definitely be visible in the trace.

[2020-09-04 07:36] Ladicek commented on #11872
On the other hand, I have no idea who would be the best person to deal with this :-) CC @sberyozkin @pedroigor

[2020-09-04 07:36] Ladicek commented on #11872
And CC @pavolloffay

[2020-09-04 07:38] loicmathieu commented on #11524
I checked the Graal issue and I don't think using the workaround based on `@Feature` is a good thing to add to Quarkus. You could still add it to your own application as a workaround if needed.

I think the best is to raise this to the MongoDB team, for this the best will be to create a minimal reproducer with only the mongodb-driver as dependency (so no Quarkus) to show that the issue here is tha

[2020-09-04 07:39] bframke commented on #11411
Now I've created one, which gets the error directly on startup.
https://github.com/bframke/quarkus-examples/tree/master/camel-kafka-sasl

Tested and build with Quarkus 1.7.1

[2020-09-04 08:08] FroMage commented on #11415
Not necessarily trivial, because this only works in the servlet mode, if it works, which means  in Quarkus you'll need to be in servlet mode which is slower than the default mode.

And from what @asoldano says it's not clear if RESTEasy even supports having multiple deployments in the same class loader. Frankly by looking at the code I'm really unsure but I think it doesn't.

[2020-09-04 08:17] ia3andy commented on #4206
@gastaldi I have this exception on code.quarkus.io:
[code]

[2020-09-04 08:24] gsmet commented on #11875
My guess would be a network configuration issue leading to a timeout.

[2020-09-04 08:27] gsmet commented on #8694
@evacchi @mariofusco still the same issue:
[code]

I don't think it's a timeout. Maybe the image you used has been removed or something similar?

[2020-09-04 08:36] gsmet commented on #11675
Thanks for confirming!

[2020-09-04 08:36] #11675 closed

[2020-09-04 08:40] evacchi commented on #8694
@gsmet I think it's more about this:
https://github.com/kiegroup/kogito-runtimes/blob/2dcdb8e8b99a7ee0247c4c9cb0a7064d36e3f817/kogito-test-utils/src/main/java/org/kie/kogito/testcontainers/quarkus/InfinispanQuarkusTestResource.java

not working in native mode for some reason -- the JVM version has run (few lines above) otherwise the native image would be skipped.

[2020-09-04 09:01] gsmet commented on #8694
The test resource is not supposed to be executed in native but around the native execution.

[2020-09-04 09:07] mkouba opened #11879 "quarkus-integration-test-vault needs to be fixed"
This module contains tests that make use of `io.quarkus.test.QuarkusUnitTest` from `io.quarkus:quarkus-junit5-internal` (such tests should reside in the `quarkus-vault-deployment` module). As a result a weird class loading behavior is observed.

NOTE: The problem was identified while investigating a failure in https://github.com/quarkusio/quarkus/pull/11848. For some reason the `VaultHealthCheck`

[2020-09-04 09:22] glefloch commented on #11215
I spent some times trying to fix this issue. The problem looks related to the `kaptKotlin` task which seems to do something wrong. skipping it makes the error go away..

[2020-09-04 09:31] sunmeplz commented on #5657
@sberyozkin Hi
the case like @coding4kay described.
For a example we have some king of service which have scheduler and it's calls executed out of user request scope. So we are mapping the required role to service account and getting service account bearer token during schedule execution and pass to http client.

[2020-09-04 09:39] lburgazzoli commented on #11411
can you add some instruction about how to run it ?

[2020-09-04 09:45] MarcusBiel commented on #10553
Is there a limit on the number of handlers allowed? It worked fine for the given case with 4 handlers. Now I have a different case with 13 handlers, and it's not working.. the map stays empty at runtime.

[2020-09-04 10:00] glefloch commented on #11390
@mahieddine I just tried to reproduce your error with quarkus 1.7.2.Final and I'm not able to.
I created this project https://github.com/glefloch/quarkus-gradle-qute which reproduce your extension and it's working. Are you able to reproduce the error with quarkus 1.7.2.Final ?

[2020-09-04 10:08] sberyozkin commented on #11879
Not sure iif #11753 related, @vsevel, hi Vincent, looks like Quarkus Vault (tests only :-)) need some expert attention :-)

[2020-09-04 10:09] bframke commented on #11411
There is a start.sh in the project, which starts the Project with the command I've also named in the first part of the ticket.

For now per default Kafka with SASL (example on how to deactivate it is also in the first part of the ticket) can be started with the restart-kafka.sh in the kafka directory.

The application will try to connect to the Kafka via SASL, this can be changed with the applicat

[2020-09-04 10:11] someth2say opened #11883 "Incorrect reference to "quarkus.openshift.sidecar" in the "Deploy to Kubernetes" guide."
**Description**
The guide for "Deploying to Kubernetes" contains the list of accepted configuration entries for OpenShift in https://quarkus.io/guides/deploying-to-kubernetes#openshift.
For creating a sidecar, the documentation instructs to use "quarkus.openshift.sidecars", but that entry does not work.
After support from the core team, we found that the right entry should be "quarkus.openshift.co

[2020-09-04 10:25] someth2say commented on #11883
Also, seems that env vars injected into the sidecar container are the same as the ones on the main containers, instead of the ones defined in quarkus.openshift.containers.test.env.vars".

But seems that Georgios is already addressing that 👍

[2020-09-04 10:45] sberyozkin commented on #11861
@gavinking Would it make sense to link [OIDC Multi-tenancy](https://quarkus.io/guides/security-openid-connect-multitenancy) with Hibrernate Multi-tenancy closer ?
There was a [blog post](https://medium.com/@maliszewskid3/implement-multi-tenancy-oidc-and-hibernate-on-quarkus-4f2e0214ed2d) awhile back.

OIDC extension runs first, and when its mult-tenancy is activated, a tenant id is available, can

[2020-09-04 10:48] BastianSperrhacke-Otto commented on #11818
I will do that at the weekend, probably tonight. Stand by. :)

[2020-09-04 10:55] MarcusBiel opened #11886 "Basic Authentication for a single URL"
Hi, I've read:
https://quarkus.io/guides/security-built-in-authentication#basic-auth

It talks about how to turn on basic auth for Quarkus. However, what I am looking for is a way to turn on basic auth for a SINGLE url / endpoint (external webhook).

I don't think that is possible at the moment, but it would be great feature to add.

[2020-09-04 11:04] SlyngDK commented on #7451
@harry9111985 thanks for the feedback, I will take a look at it next week.

@loicmathieu
Do you think an improved version of the POC, is an extension we can get into the project?
Maybe replacing the `quarkus-logging-json`, and change it to the same default format?
POC: https://github.com/SlyngDK/quarkus-logging-json-structured

[2020-09-04 11:10] mkouba commented on #11879
Hm, and it seems that the same applies to `quarkus-integration-test-vault-agroal`.

[2020-09-04 11:10] sberyozkin commented on #11872
I'm not sure about exposing the trace calls to the underlying providers (OIDC, etc) which secure Quarkus endpoints, `keycloak-authorization` is only one case, tokens can also be introspected remotely against Keycloak (or Auth0 etc), etc. And it provides a bit too much information to the users as I guess they want to see the open traces without having to authenticate ? CC @pedroigor

[2020-09-04 11:12] pavolloffay commented on #11872
+1 to trace the requests to keycoak the `opentracing-vertx-web` creates standard HTTP span with URL, verb, status code. It could be also possible to add other tags that might be unique to keycloak and give value from the observability standpoint.

One thing to look after is to make sure that spans created by the vertex client are connected to the parent transaction.

[2020-09-04 11:14] loicmathieu opened #11887 "Kotlin Hibernate with Panache didn't validate bad usage of PanacheEntity"
**Describe the bug**
Kotlin Hibernate with Panache should have the same validation phase as the Java version that detects that `PanacheEntity` is not used by an entity that defines an `@Id`.

**Expected behavior**
The Kotlin version must run the same validation phase as in the `io.quarkus.hibernate.orm.panache.deployment.PanacheHibernateResourceProcessor.validate()` and must include the same tests

[2020-09-04 11:14] loicmathieu commented on #11887
/cc @evanchooly

[2020-09-04 11:17] maxandersen opened #11888 "jbang w/kubernetes gives org/xml/sax/ class exceptions"
**Describe the bug**

Given:

[code]

running it with:

`jbang --verbose build -Dquarkus.container-image.build=true quarkusjib.java`

gives:
[code]

**Expected behavior**
no exception thrown and should generate the deployment files in root directory(or we define some auxillary folder to use for jbang builds)

**Actual behavior**
looks like two issues, one hiding the other - class loader issue in d

[2020-09-04 11:22] geoand commented on #11888
cc @iocanel

[2020-09-04 11:27] sberyozkin commented on #11886
Hi @MarcusBiel I think this is a more general issue (i.e, how to have Basic or Form or OIDC enabled but used for a single URL only), and I believe https://quarkus.io/guides/security-authorization gives the answers, using that path configuration one can choose which paths are open and which require the authentication, etc

[2020-09-04 11:28] iocanel commented on #11888
Maybe we just need to set TCCL?

[2020-09-04 11:29] MarcusBiel commented on #11886
We are already using quarkus.http.auth.permission paths.. for oauth. But for a specific webhook, we can't used oauth and need to use basic auth instead.

[2020-09-04 11:30] geoand commented on #11888
Could be, haven't tried it yet

[2020-09-04 11:33] maxandersen commented on #11888
trying to find BuildInfoReaderRegistry.java but no trace ;)

[2020-09-04 11:33] sberyozkin commented on #11886
@MarcusBiel I think that should work OOB, @stuartwdouglas made it possible to combine multiple authentication mechanisms.
Have you tried ?

[2020-09-04 11:36] MarcusBiel commented on #11886
Unclear / complex how to apply multiple authentication mechanisms. For now, I made it work on the proxy we have in front of the Quarkus application server anyway...

[2020-09-04 11:36] DorianMaliszewski commented on #11861
Hi,

Maybe this feature can be implemented by adding a filter after OIDC tenant resolver and in application.properties just quarkus.hibernate.use-oidc-tenant-resolver=true  or something close.

It can be a good thing to implement an easy way to link hibernate to oidc tenant resolver. :+1:

[2020-09-04 11:39] sberyozkin commented on #11886
@MarcusBiel it should just work, enabling say `basic-auth` and `oauth2`, but I'll experiment a bit later

[2020-09-04 12:01] lburgazzoli commented on #11411
it does not seems able to connect, what I get is:

[code]

[2020-09-04 12:04] gyannitin commented on #11795
Thanks for your response.

My applications were deployed in jboss eap from long time. Now, we are slowly converting them into microservices using quarkus. In jboss, connections work fine. I have provided the certificate in standalone.xml as below in system properties.

<property name="javax.net.ssl.trustStore" value="/opt/jboss/jbfsw-6/basei/jbfsw-63/software/deployment/cert/cacacerts"/>
<property

[2020-09-04 12:31] gastaldi commented on #4206
Permissions perhaps?

[2020-09-04 12:39] parkee opened #11890 "Upgrade opentracing to 0.33.0"
Currently, quarkus uses opentracing.version = 0.31.0
I was trying to integrate it with grpc-tracing library
https://github.com/opentracing-contrib/java-grpc
But I found that it uses 0.33.0 which's incompatible with 0.31.0 and quarkus tracing is incompatible with 0.32.0+ because of some API changes.

[2020-09-04 12:43] #11868 closed

[2020-09-04 12:46] gavinking commented on #11861
@sberyozkin yes, sure, it sounds like it would be great to integrate with that stuff as a source of tenant ids, though my main concern here in this particular issue is that I want it to be the datasource layer, not Hibernate itself, which is responsible for interpreting the tenant ids.

But yes, it sounds like a good idea.

[2020-09-04 13:02] agoncal opened #11891 "Native Tests fail when quarkus.http.test-port is set to 0"
**Describe the bug**

When running a native test with `quarkus.http.test-port=0` you get the following :

[code]

The runner is executed with `localhost:0` (instead of a random port). So it hangs, and then the test fails with:

[code]

**Expected behavior**

The test should pass using a random port (like JVM mode tests).

**Actual behavior**

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2020-09-04 13:02] Ladicek commented on #11890
I think MicroProfile OpenTracing is looking to update to 0.33, which would be a prerequisite. CC @pavolloffay

[2020-09-04 13:03] Shohou opened #11892 "Adding @IfBuildProfile("prod") annotation to one grpc service throws away all other services"
**Describe the bug**
I have multiple grpc services defined in my proto file and corresponding implementations in java code. If I mark one implementation with annotation `@IfBuildProfile("prod")` and run application with prod profile, all other services disappear, grpcurl shows only one single service which I marked with annotation.

**Expected behavior**
All defined services should still be availa

[2020-09-04 13:21] pavolloffay commented on #11890
This is a duplicate of #8461

[2020-09-04 13:25] pavolloffay commented on #8461
The MP 2.0-RC2 has been released and SmallRye-OpenTracing has been updated. Does Quarkus use MicroProfile RC releases? If so then we can update otherwise we will have to wait for https://github.com/eclipse/microprofile/issues/169

[2020-09-04 13:27] geoand commented on #8461
@kenfinnigan ^

[2020-09-04 13:28] kenfinnigan commented on #8461
We don't use RC releases, we need Finals just because of the fast release schedule

[2020-09-04 13:45] #9709 closed

[2020-09-04 13:46] cescoffier commented on #11711
Handled by https://github.com/quarkusio/quarkus/pull/11828.

[2020-09-04 14:01] loicmathieu commented on #11795
You should add the certificate into the container JRE inside your docker build (Dockerfile) using keytool.
Again, you can follow [this link](https://access.redhat.com/documentation/en-us/red_hat_jboss_data_virtualization/6.2/html/security_guide/add_a_certificate_to_a_truststore_using_keytool) that explain how to do that.

[2020-09-04 14:15] bframke commented on #11411
Yes, you have to start the Kafka first, then the application

[2020-09-04 14:27] lburgazzoli commented on #11411
The reason kafka does not start is:

[code]

[2020-09-04 14:45] bframke commented on #11411
Okay, normally you just need docker-compose, use restart-kafka.sh and thats it. We did not modify the image in any away that we needed to rebuild it. On docker-compose, executed in the same folder where the files are, it normally gets them into it because we add them as a docker-volume

[2020-09-04 14:47] 38leinaD commented on #11415
Ok, I was not aware that there are different modes in resteasy for running inside a servlet container and not. But I would have expected quarkus to use that servlet container mode as it has a servlet container.
So, seems like it really is not as easy to support multiple applications... :-/

@sberyozkin the dynamic feature looks indeed interesting. @famod let me know if you have tried it out and wh

[2020-09-04 14:53] famod commented on #11891
/cc @geoand

[2020-09-04 14:55] geoand commented on #11891
As mentioned at, https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/quarkus.2Ehttp.2Etest-port.3D0.20and.20Native.20Tests, this has to do with the NativeImageLauncher not using the proper port when connecting to the application.

I'll take a look at it next week unless someone wants to be dive in sooner,

[2020-09-04 15:07] lburgazzoli commented on #11411
I'm using that script but does not seem to work (on fedora)

[2020-09-04 15:14] bframke commented on #11411
Okay, on ArchLinux and Ubuntu it did work, mh. Could be that Fedora does not add the docker volumes in the same way as the other two OS do or maybe something need to be changed there, not sure. Never worked with Fedora. Else we have to create a new docker image where the volumes are just in the docker image itself.

[2020-09-04 15:21] andreas-eberle opened #11900 "Gradle + quarkus-container-image-jib: AccessDeniedException on second run on Windows"
**Describe the bug**
I try to build a container image with the `quarkus-container-image-jib` extension in my Quarkus (gradle, Kotlin) project on my Windows 10 PC. The first run works (`./gradlew assemble -Dquarkus.container-image.build=true`). On the second and any further runs l I always get `AccessDeniedException`s. When I stop the gradle deamons (`./gradlew --stop`) or kill them via the TaskMan

[2020-09-04 15:26] gsmet commented on #11818
@BastianSperrhacke-Otto in the end, I reproduced the issue and created the following PR: https://github.com/quarkusio/quarkus/pull/11901

[2020-09-04 15:32] Shohou opened #11902 "gradle quarkusDev run fails with --include-build"
**Describe the bug**
Gradle allows to compose builds - https://docs.gradle.org/current/userguide/composite_builds.html
But if you use it with some library `gradle --include-build ../lib quarkusDev` fails to find classes or injected Services from that library

**Expected behavior**
`gradle --include-build ../lib quarkusDev` should execute the same way as without `--include-build ../lib` parameter

[2020-09-04 15:37] sberyozkin commented on #11861
Hi @DorianMaliszewski thanks, yes, I was thinking of getting this ID automatically, without even having to do something, OIDC would set the ID in the the request context and it will be picked up if other Hibernate or lower level resolver is not available.

[2020-09-04 15:39] andreas-eberle opened #11903 "Gradle multimodule project + quarkus-container-image-jib: OverlappingFileLockException"
**Describe the bug**
I have a gradle + Kotlin multi-module project and try to build container images with the quarkus-container-image-jib extension.  When I run `./gradlew assemble -Dquarkus.container-image.build=true`, I get an `OverlappingFileLockException` (on Windows 10 as well as on the `gradle:6.6-jdk11` docker image).

Apart from the issues I described in #11900, I can build both images by

[2020-09-04 15:39] sberyozkin commented on #11861
Hi @gavinking thanks; sorry, I think I'd create a dedicated issue to discuss linking OIDC and Hibernate/datasource tenants, so as to not to overload this issue :-)

[2020-09-04 15:40] #11687 closed

[2020-09-04 15:40] #11711 closed

[2020-09-04 15:53] andreas-eberle commented on #11903
As a workaround, it works when you specify `quarkusBuild.mustRunAfter(':serviceA:quarkusBuild')` in the `build.gradle` file of `serviceB`. This ensures the quarkus tasks and therefore the jib image building is run sequentially.

However, I don't see why they shouldn't be able to run in parallel.

[2020-09-04 15:56] evanchooly commented on #11524
I agree with @loicmathieu.  I'm not sure we want to be patching upstream bugs like that but perhaps in the short run it might be worth it.

[2020-09-04 16:03] #11867 closed

[2020-09-04 16:13] Shohou commented on #11902
Q: "Why would you ever need this?"
A: "Intellij idea links projects at the source level if you combine them in a single composite build using settings.gradle"

[2020-09-04 16:24] gastaldi commented on #11867
@parkee the fix was applied and the plugin was updated, can you clear your cache and try again?

[2020-09-04 16:50] lburgazzoli commented on #11411
I did try to use plain docker so I have:

[code]

and

[code]

When starting kafka I keep getting:

[code]

I did check the content of the files on the container and they are properly mounted.

[2020-09-04 16:53] parkee commented on #11867
@gastaldi Unfortunately still the same.
I tried to remove `rm -rf $HOME/.gradle/caches/` locally and I also tried to build it on Cloud Build (it doesn't have any caches and always starts from the clean state).
But I still have the same issue. Any suggestions on what else I need to check?

[2020-09-04 16:55] glefloch commented on #11902
Currently, included builds are not checked by our custom tooling model. That something we can add I think.

[2020-09-04 17:05] lburgazzoli commented on #11411
ok, now it is better but I'm getting:

[code]

[2020-09-04 17:31] gastaldi commented on #11867
@parkee for some obscure reason the uploaded plugin didn't have the fix. Try again now, please (after `rm -rf $HOME/.gradle/caches/` locally).

[2020-09-04 17:33] gavinking commented on #11861
Don't apologize, it's a great idea; please open the issue!

[2020-09-04 17:35] gastaldi commented on #11867
Hold on, it doesn't seem to be there yet, I'll let you know when it's OK

[2020-09-04 17:41] gastaldi commented on #11867
It should be all good now @parkee, sorry for the trouble

[2020-09-04 18:02] yampug opened #11905 "Native Image Compressed Executable Size"
**Description**
The binary that native-image generates, is compressing quite well. For example, in the case of my app (no bundled resources) it is about 39 Mb in size, it does not have many dependencies but compresses with gzip from 39Mb down to 14Mb (default level 6 compression). Wouldn't that mean that there should be some room to optimize and trim the binary size? (as it seemingly implies lots

[2020-09-04 18:29] bframke commented on #11411
Yeah, I got this error with the Bitnami Kafka in Kuberneter. I've increased the socketRequestMaxBytes from 104857600 to 209715200. I guess in your case it should be 419430400 bytes, it should hopefully help in this case

[2020-09-04 18:37] parkee commented on #11867
@gastaldi It works now, thank you!

[2020-09-04 19:46] BastianSperrhacke-Otto commented on #11818
Very nice!!!

[2020-09-04 20:35] knutwannheden commented on #10022
We have the same issue with the documentation for our own Quarkus extensions, so I looked into this one. I hope you hadn't already put work into this, @viveksahu26.

[2020-09-04 21:47] maxandersen opened #11910 "Generate main class in jbang integration"
**Description**
currently jbang relies on a main class to be in the *source* file (jbang does some basic regular expression to locate it...all very shady and fragile) - it works great for the scripting perspective but with quarkus it gets tedious as you normally don't need a main class - and especially when trying to do command mode with picocli we should just be okey with:

[code]

but this fails

[2020-09-04 22:22] maxandersen opened #11911 "-Dquarkus.http.host=0.0.0.0 force set in s2i and jib despite it being the default"
**Describe the bug**
just noticed that -Dquarkus.http.host=0.0.0.0 being set on various jvm/native arguments on https://quarkus.io/guides/all-config for s2i and jib.

Since https://github.com/quarkusio/quarkus/pull/1307 that been the default value anyway and it also means any setting in application.properties will get ignored (afaics).

Is that really the intention ?

I would have expected default

[2020-09-04 22:24] geoand commented on #11911
I also found it weird as well... We should definitely get rid of it as it's the default which is very unlikely to change at this point

[2020-09-04 22:34] maxandersen commented on #11911
yeah, very likely and thus just something to clean up to not trigger my ocd for clean settings ;)

[2020-09-04 22:36] geoand commented on #11911
I'll do this over the weekend if you don't beat me to it :)

[2020-09-04 22:37] geoand commented on #11891
https://github.com/quarkusio/quarkus/pull/11912 should fix this

[2020-09-04 22:38] geoand commented on #11892
cc @manovotn @mkouba

[2020-09-04 22:47] maxandersen opened #11913 "hibernate with jbang fails with class loader issue"
**Describe the bug**
use this code:

[code]

build/run it with: `jbang quarkusclidb.java`

and you get:

[code]

Probably similar issue as in #11542 where we found places TCCL was not put as a fallback for class.forname.

[2020-09-04 23:16] ambition-consulting opened #11914 "Can't shut up logs"
When running Quarkus as thin jar, I cannot get the logs to shut up. Other modes might also be affected.

When disabling the logs, I would expect no more logs to show up. Considering how console logs can affect performance, I wonder why nobody else complains.

**To Reproduce**

[code]

java -Dquarkus-profile=prod -Dquarkus.http.port=8083 -jar target/whatever-1.0.0-SNAPSHOT-runner.jar

I also tried

[2020-09-04 23:19] dmlloyd commented on #11914
Looks like the log manager didn't get set up properly for some reason.  A workaround may be to manually set `-Djava.util.logging.manager=org.jboss.logmanager.LogManager`.

[2020-09-04 23:38] maxandersen opened #11915 "default code gen not working in 1.8.0.CR1"
**Describe the bug**
following guide at https://quarkus.io/guides/redis using command:

[code]

the resulting project does not have any files in java nor test.

[code]

**Expected behavior**
There should be a working example as in previous version.

[2020-09-04 23:41] maxandersen commented on #11915
/cc @ia3andy any idea what is causing this ?

[2020-09-04 23:55] maxandersen opened #11916 "reddis client not working with jbang"
**Describe the bug**
use the following code (same as https://quarkus.io/guides/redis just with static public classes):

[code]

then run with: `jbang quarkusclireddis.java` and you get:

[code]

looks like another class loading issue on first glance.

[2020-09-04 23:59] maxandersen commented on #11914
it didn't get set up properly as the command used was `java -Dquarkus-profile=prod -Dquarkus.http.port=8083 -jar target/whatever-1.0.0-SNAPSHOT-runner.jar`

As documented at https://quarkus.io/guides/logging#how-to-configure-logging-for-quarkustest when launching quarkus manually (or during tests) you need to set this property manually.

thus if you run it with `java -Djava.util.logging.manager=or

[2020-09-05 02:33] ketoketo commented on #10942
@tnmtechnologies
It seems to me that you need to define and configure JsonbTypeAdapter in your collections of the enum type as well.
If you do so, the behavior is as expected.
I've written [sample code](https://github.com/ketoketo/quarkus-quickstarts/blob/issue/enum_serialization_collections/rest-json-quickstart/src/main/java/org/acme/rest/json/Fruit.java#L21-L22) to illustrate this.

[2020-09-05 05:50] lvargas0584 opened #11917 "KubernetesProcessor No registry was set for the container image, so 'ImagePullPolicy' is being force-set to 'IfNotPresent'."
**Describe the bug**
 this warnning appears even though  i put the 'property quarkus.container-image.registry' , so the kubernetes yml is not correctly generated
[code]

**Expected behavior**
[code]
**Actual behavior**
(Describe the actual behavior clearly and concisely.)
[log.txt](https://github.com/quarkusio/quarkus/files/5177581/log.txt)

**Configuration**
[code]

[2020-09-05 07:56] geoand commented on #11917
Hi,

I can't reproduce this problem. What version of Quarkus are you using?

[2020-09-05 08:15] geoand commented on #11911
https://github.com/quarkusio/quarkus/issues/11918 takes care of this, but I am thinking we probably want to fix it for docker as well

[2020-09-05 08:21] gsmet commented on #11915
Needless to say this is highly critical and is a blocker.

[2020-09-05 08:21] gsmet commented on #11915
Also, we need to check if it's an issue in 1.7 too.

[2020-09-05 08:42] ia3andy commented on #11915
Having a quick look, but I won't be able to spend long

[2020-09-05 08:50] ia3andy commented on #11915
Ok I can reproduce on 1.7.2.Final, 1.8.0.CR1 and master

[2020-09-05 09:01] ia3andy commented on #11915
className is null, I need to find why..

[2020-09-05 09:08] ia3andy commented on #11915
this doesn't seem to be due to the codestarts, I don't see where the className default value is set.. When this is no className we don't generate the classes..

[2020-09-05 09:10] ia3andy commented on #11915
Well this seems to be expected I see everywhere in the code: `// If className is null, we won't create the REST resource,`

And by default this is null...

[code]

I let you see for the rest.

[2020-09-05 09:12] ia3andy commented on #11915
Ok I can reproduce on `1.6.0.Final` this has been there forever.. going back to WE

[2020-09-05 09:17] maxandersen commented on #11915
Ahh. That's "fun" so we've had "empty" project gen I just never by chance not send without class name.

Closing as working as expected.

[2020-09-05 09:17] #11915 closed

[2020-09-05 16:08] pkkamos opened #11919 "Eclipse POM.xml Error -- Newly Created Quarkus Project."
**Describe the bug**
Creating a new Quarkus project (1.7.2) in Eclipse(2020-06 (4.16.0)) IDE, The generated pom.xml file has an error.

### Error
_Plugin execution not covered by lifecycle configuration: io.quarkus:quarkus-maven-plugin:1.7.2.Final:generate-code (execution: default, phase: generate-sources)_

**Expected behaviour**
(A fresh or new created Quarkus project should be generated without

[2020-09-05 18:40] geoand commented on #11903
I was not able to reproduce this on Linux unfortunately.

Also this looks more like a jib bug honestly. Have you opened an issue on the jib issue tracker?

[2020-09-05 18:41] geoand commented on #11900
This is really weird indeed... Unfortunately I don't have a Windows machine so I can't reproduce it

[2020-09-05 18:44] xumk opened #11921 "Wrong work is parsing configuration VaultRuntimeConfig"
Class VaultConfigSource used it own parser for read app configuration with help regexp.
`
public static final Pattern SECRET_CONFIG_KV_PATH_PATTERN = Pattern
            .compile("^quarkus\\.vault\\.secret-config-kv-path\\.([^.]+)$");
`
VaultRuntimeConfig
`
    @ConfigItem(name = "secret-config-kv-path.\"prefix\"")
    public Map<String, List<String>> secretConfigKvPrefixPath;
`
It regex does not

[2020-09-05 18:51] geoand commented on #11900
This seems to be a Windows problem... See: https://bugs.openjdk.java.net/browse/JDK-8029608

The only way I see around it is for us to sleep and re-attempt creating the directory when this happens...

[2020-09-05 19:04] xumk commented on #5422
Now to complete this task you want to add chenges in new version? I can to do it in the coming days

[2020-09-05 19:09] geoand commented on #11900
Would you be willing to give https://github.com/quarkusio/quarkus/pull/11922 a try and see if it fixes your issue?

[2020-09-05 21:27] vsevel commented on #11879
hi @mkouba indeed those tests do use `QuarkusUnitTest` to be able to use different vault configurations. I have located those tests into the `integration-tests` module because they start a vault in a docker container. as such they really are integration tests.
I have seen other modules with the same pattern, such as `quarkus-integration-test-smallrye-context-propagation` for instance.
should `Quar

[2020-09-06 01:30] mostafacs opened #11923 "Errors in Native image build."
I have the following issues in native image build this is the logs:
- Note This a project in production and I'm migrating from spring cloud to quarkus I can't share source code. I hope the following information help.
[code]

**Environment**
- Java version
[code]

 - Output of `uname -a` or `ver`:
`Darwin macs-mbp 19.6.0 Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.

[2020-09-06 03:19] lvargas0584 commented on #11917
i share you my code
the quarkus version is 1.7.0

[business-bemobi-ms.zip](https://github.com/quarkusio/quarkus/files/5179013/business-bemobi-ms.zip)

[2020-09-06 06:48] michael-schnell commented on #11861
At the time the Multitenancy feature was implemented, Hibernate ORM extension was the only place to integrate this in a short amount of time. Unfortunately Hibernate Multitenancy itself isn't really finalized since years. As stated in the manual "The JPA expert group is in the process of defining multitenancy support for an upcoming version of the specification". So this was a best effort approach

[2020-09-06 06:54] michael-schnell commented on #11861
In general the mechanism for selecting the tenant is pretty much the same in the Hibernate ORM Multitenancy and the ODIC extension. It is very easy to integrate both parts using CDI.

[2020-09-06 08:00] vsevel commented on #11879
I went back to the last commit I did 6 weeks ago `6993e3dd25 - Merge pull request #10887 from vsevel/create_policy (6 weeks ago) <George Gastaldi>` https://github.com/quarkusio/quarkus/pull/10887 from the 23rd of july, which targetted  1.7.0.CR1.
I did a full rebuild, and could not pass the native vault test because of the system property / tls error.

what could have possibly changed these last f

[2020-09-06 08:13] gavinking commented on #11861
So I've done a bit more research into how this stuff has been done in Quarkus, and here's a more concrete proposal to kick about.

1. Introduce a parent/child relationship between "base" datasources and "tenant" datasources.
2. Tenant datasources inherit the configuration of the base datasource, except for any setting they explicitly override.
3. The base datasource uses the current tenant identif

[2020-09-06 08:16] gavinking commented on #11861
@Sanne I'm still waiting to hear your take on all this.

[2020-09-06 08:29] gavinking commented on #11861
Well, even if there is a good reason to use `setSchema()` instead of the JDBC connection properties, we can still abstract that as a property of the datasource via `.schema` (and for completeness `.catalog`) properties:

[code]

[2020-09-06 09:15] vsevel commented on #11879
I went further to `8e88110559 - add jbang labelling (2 days ago) <Max Rydahl Andersen>` just before your commit `bf1042c29f - Disable tests in quarkus-integration-test-vault... (2 days ago) <Martin Kouba>`.
and I was able to pass the vault IT tests (except the native one because of the ssl init error as usual):
[code]
I did a full rebuild without the tests, then I executed:
`./mvnw clean install -

[2020-09-06 10:37] svinther commented on #11729
For the record, I fixed my specific usecase for now, by doing like this https://github.com/svinther/quarkus-problem-h8mt/pull/1

[2020-09-06 10:58] michael-schnell commented on #11861
If I remember it correctly, "setSchema(..)" didn't work either on MariaDB or on PostgreSQL. Some databases like MariaDB/MySQL do not support database schemas. In these cases you have to use the DATABASE approach.

[2020-09-06 11:09] michael-schnell commented on #11861
Sounds like a good approach, but seems mainly to optimize the configuration setup.

How do you tell Hibernate which is the currently selected tenant connection/datasource to use? Most likely this is connected to a request scope.

[2020-09-06 14:04] gavinking commented on #11861
Well you don't need to. That's the whole idea. You just point Hibernate at the base datasource which takes care of redirecting the connection requests to the correct contextual tenant datasource, just as it would do for any other client.

Hibernate multitenancy doesn't need to be involved in this at all.

[2020-09-06 14:05] gavinking commented on #11861
@michael-schnell

Eyeballing the code of the Postgres JDBC driver, I believe Postgres *does* support `setSchema()`, but no, of course, MySQL (and derivative) don't have schemas, so they don't support it.

[2020-09-06 14:47] cescoffier commented on #1766
Done and documented: https://camel.apache.org/camel-quarkus/latest/reference/extensions/smallrye-reactive-messaging.html

@lburgazzoli please thank the contributor for me!

[2020-09-06 14:47] #1766 closed

[2020-09-06 15:41] softshipper opened #11926 "Kotlin Hibernate Panache: Update list on many-to-many relationship failed"
Hi all
I have the following DDL definition:
[code]

As you can see on the definition, I use **HIBERNATE ORM WITH PANACHE** and it follows Active Record pattern.
In addition, I have created `AccountRepository`:
[code]
The problem that I have is the method `updateInterests`. It throws the exception:

[code]
The incoming `interests` payload is:
[code]
Thanks

[2020-09-06 17:01] wjsgzcn commented on #11875
I run `mvn -Dquarkus.debug.print-startup-times=true quarkus:dev`:
[code]
It seems the gelf port is not ok.

When I change the gelf address from localhost to 0.0.0.0, everything seems good.

So that is a network issue.

[2020-09-06 17:01] #11875 closed

[2020-09-06 17:33] sberyozkin commented on #11921
CC @vsevel

[2020-09-06 18:15] vsevel commented on #11879
I got confused by the git history. ignore the previous comment.
the commit before yours is actually `77383b555e Merge pull request #11884 from gsmet/update-guava (2 days ago) <Jaikiran>`. I was able to pass the tests (except the native one which has the system property init issue as discussed before).
so the tests stopped working in your commit `b97fc16a27 - Merge pull request #11848 from mkouba/a

[2020-09-06 18:22] vsevel commented on #11921
the plan is to move away from a dedicated parser. some support is expected fro the smallrye config project, as discussed here https://github.com/quarkusio/quarkus/issues/9991#issuecomment-656816961
@radcortez when do you think a 1.9 release might be available?

[2020-09-06 19:45] kny78 commented on #11549
Does anyone know the status on this? Is the problem reported to the people who work with the classloader?

[2020-09-06 20:02] geoand commented on #11549
I would be one of those people but unfortunately I haven't had time to look into it yet.

[2020-09-06 20:11] mkrzywanski commented on #11527
Are there any test classes that test that those properties are actually set? Because I cannot find it.

[2020-09-06 20:18] kny78 commented on #11549
I know the feeling :-)

[2020-09-06 20:19] geoand commented on #11549
Hopefully sometime this week 😎

[2020-09-06 21:51] famod commented on #10303
1.4.13 is out (but not yet on central): https://github.com/x-stream/xstream/releases/tag/XSTREAM_1_4_13
I'll have a look in the next few days but it seems I will have some "fun" with the following comment:

[code]

[2020-09-06 21:56] geoand commented on #10303
Good thing is that octaplanner is no longer part of the core, so we shouldn't have any problems

[2020-09-06 22:06] dcdh opened #11927 "Add Principal informations in log."
**Description**

I propose to enrich logs by adding the user who has made the action. So when a log is produced, we can ensure on who has made the action and trace hm easily. It is very useful for support team.

![image](https://user-images.githubusercontent.com/5189615/92335678-731a7e00-f099-11ea-9e25-104f468e8b09.png)

Regarding this screenshot, you can notice that it is already the case when tr

[2020-09-07 04:17] #11792 closed

[2020-09-07 04:20] fiarabbit opened #11929 "Quarkus w/ hibernate ORM does not throw any exception when database is rolled-back on commit phase"
**Describe the bug**
Quarkus with HibernateORM does not throw any exception although database is rolled back on the commit phase.

When Quarkus is combined with HibernateORM and narayana integrations, it also depends on `agroal` and `agroal-narayana`.

However, [`agroal-narayana` does not throw appropriate exception](https://github.com/agroal/agroal/blob/11ab7548aeffb2dbe4d22fee2f337346d2548bad/ag

[2020-09-07 04:23] #10022 closed

[2020-09-07 05:27] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/242463096

[2020-09-07 05:29] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/242461952

[2020-09-07 05:44] RajatKumar-git commented on #10753
Hello,
I am also facing the same kind of error, i need to read the parameters at runtime ${params} which is later on have to be append on the url in config file
e.g
%dev:
   param: abc
   url: https://host:port/path?{param}

how to reslove this issue any idea?

[2020-09-07 05:50] mariofusco commented on #8694
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/242462655

[2020-09-07 05:56] dcdh opened #11931 "Return traceId in header response."
**Description**
To debug more easily an Ajax request I propose to return the traceId in response header.

![image](https://user-images.githubusercontent.com/5189615/92352776-235ea580-f0df-11ea-8cf4-bdad69a57463.png)

![image](https://user-images.githubusercontent.com/5189615/92352791-2a85b380-f0df-11ea-9c15-b4e267f53a4d.png)

**Implementation ideas**

I've follow this code https://github.com/quark

[2020-09-07 06:27] geoand commented on #10753
@RajatKumar-git please chat https://quarkusio.zulipchat.com or StackOverflow for such questions

[2020-09-07 06:33] #11891 closed

[2020-09-07 06:45] mkouba commented on #11879
Yes, I always thought so. If not then we have a class loading problem... CC @stuartwdouglas @gsmet @geoand @aloubyansky

And that's exactly the problem. Before my change in https://github.com/quarkusio/quarkus/pull/11848 all "unused" beans were just removed and ingnored at runtime during programmatic lookup. After my change we hold the bean types of the removed beans (unless `quarkus.arc.detect-un

[2020-09-07 06:51] nicolinux72 commented on #11524
In summary: for us, developers with a default locale other than en - let's call ourselves the rest of the world :-) -, **it is not possible to use native quarkus applications with mongodb**.

All due to the combined effect of:
-  a [bug](https://github.com/oracle/graal/issues/911) in native-image that currently only includes the current locale;
-  a somewhat naive implementation of mongodb client

[2020-09-07 07:03] geoand commented on #11879
This sounds reasonable to me

[2020-09-07 07:08] stuartwdouglas commented on #11879
They should work fine even in other modules. It is a bit confusing to have them in the integration-tests directory but there is no reason this should not work.

[2020-09-07 07:11] mkouba commented on #11879
Hm, then we have a bug in classloading or a specific pom config is needed.

Anyway, for integration tests we should probably use [test profiles](https://quarkus.io/blog/quarkus-test-profiles/) for similar use cases, or?

[2020-09-07 07:30] geoand commented on #11923
Hi,

Are you using the `quarkus-mysql` extension in this application?

[2020-09-07 07:40] Ladicek commented on #11931
I think this makes sense, though there probably should be a configuration switch to turn it off. (I think it's pretty safe to have it on by default, even in production, but some users in highly regulated environments would probably like to turn it off.)

CC @pavolloffay

[2020-09-07 07:43] #11857 closed

[2020-09-07 08:17] RajatKumar-git commented on #10753
thanks raised query https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Read.20config.20files.20at.20runtime/near/209267257

[2020-09-07 08:28] sebastienblanc opened #11934 "Being logged to a registry should not be mandatory when using minikube extension"
**Description**
When using the `minikube` extension and you use `quarkus.kubernetes.deploy=true` you still need to be logged into a registry (like dockerhub or quay) even if in the end you don't push anything. (Since Minikube use the local Docker registry).

[2020-09-07 09:06] #11911 closed

[2020-09-07 09:06] mkouba commented on #11919
@pkkamos I'd recommned to mark the goal as ignored in eclipse preferences. Do you use Quarkus Tools to create the new project? If so, I'd try to file an issue here: https://github.com/jbosstools/jbosstools-quarkus.

@ia3andy Is it intentional that the newly generated plugin config snippet looks like this:
[code]
AFAIK only the `build` goal was used previously...

[2020-09-07 09:09] geoand commented on #11934
Hi,

Thanks for reporting!

What error are you getting when you are not logged in?

[2020-09-07 09:09] ia3andy commented on #11919
@mkouba are you talking about the `generate-code` and `generate-code-tests` goals?

@michalszynkiewicz made that change on purpose for grpc, maybe he will have more details.

[2020-09-07 09:13] #11818 closed

[2020-09-07 09:15] pkkamos commented on #11919
@mkouba , I actually ignored it from eclipse. I thought I should report it maybe it's a bug. This wasn't the case with the earlier version I first tried this on.

[2020-09-07 09:18] gsmet commented on #11810
Apparently, this doesn't happen for real user apps so closing for now.

[2020-09-07 09:18] #11810 closed

[2020-09-07 09:20] maegges65 commented on #10339
I have the same problem with quarkus 1.7.1-Final.
I annotated field, getter and setter, with no effect.

[2020-09-07 09:20] sebastienblanc commented on #11934
Well I need to do more tests because I'm unable to reproduce it right now  😂  ...

[2020-09-07 09:23] sberyozkin commented on #11927
@dcdh I doubt this kind of enhancement will be supported, anything related to logging the security related information such as the currently logged in user's name will be considered as a potential security risk, or a data privacy risk. In a way, this risk can be somewhat of the academic nature in some specific closed/isolated deployments, but in most cases what we can expect is someone opening a s

[2020-09-07 09:44] mkouba commented on #11892
Yes, this is how `@IfBuildProfile` is implemented. And programmatic lookup (`@Inject Instance<>`) does attempt to resolve ambiguous dependencies, i.e. remove non-alternative beans if an alternative is present.

@geoand I don't remember the details but it seems that `@AlternativePriority` is added to solve some conflicts? https://github.com/quarkusio/quarkus/blob/master/extensions/arc/deployment/sr

[2020-09-07 09:44] ia3andy commented on #4206
@gastaldi this is the same exception as your (Cannot save config file 'FileBasedConfig[/project/?/.gitconfig]': java.io.IOException: Creating directories for /project/? failed), It's inside a container.

[2020-09-07 09:50] mkouba commented on #11919
Ok, in that case we should probably only use all those goals iff grpc is present, or?

[2020-09-07 10:11] geoand commented on #11892
Yeah, IIRC we did it to avoid conflicts with `quarkus.arc.selected-alternatives`

[2020-09-07 10:13] Shohou commented on #11892
I expected ambiguities to be resolved at the every specific service level. Am I wrong?
So if I have service A with implementation A1 and service B with implementations B1 and B2, and if B1 has some `@AlternativePriority` it should be chosen over B2 only and A1 should still stay. So I expect the resulting implementations to be A1 and B1.
Now ambiguities are resolved over all services and only B1 st

[2020-09-07 10:27] Sanne commented on #11913
Could you expand on this? Why should we use such a fallback? One of the design goals in Quarkus was to use a flat classloader model (with the obvious exception of build time and dev mode).

[2020-09-07 10:30] #11914 closed

[2020-09-07 10:30] Sanne commented on #11913
@maxandersen we will need a way to have integration tests run with jbang. Do you have a way?

[2020-09-07 10:33] mkouba commented on #11892
Yep, the problem is that in the grpc case all services implement the `BindableService`... @michalszynkiewicz Am I right?

[2020-09-07 10:33] ambition-consulting commented on #11914
You are right, adding the LogManager helped. Thank you. :-)

[2020-09-07 10:46] mkouba commented on #11892
@geoand I wonder if we really need to add anything for **enabled** bean...

[2020-09-07 10:49] #11883 closed

[2020-09-07 10:50] geoand commented on #11892
We can certainly remove that part and see if the tests pass :)

[2020-09-07 10:56] mkouba commented on #11892
Ok, I'll try it...

[2020-09-07 11:05] geoand commented on #11892
Cool, thanks!

[2020-09-07 11:08] #11917 closed

[2020-09-07 11:15] Sanne commented on #11913
Looks like jbang is running it on JDK11 by default?

In that case you need to adjust the dependencies, add

    //DEPS javax.xml.bind:jaxb-api:2.3.1
    //DEPS org.glassfish.jaxb:jaxb-runtime:2.3.1

[2020-09-07 11:16] maxandersen commented on #11913
@stuartwdouglas should comment as he was the one suggesting the way to integrate.

I.e. afaik I don't do anything much different from maven/gradle in that I just create a class loader with all the jars and then run from there.

I'm equally surprised it's needed and I can see I'm bumping into it basically everywhere so I'm wondering if there is a better way for jbang to call out to the spi ...

[2020-09-07 11:17] Sanne commented on #11913
Also, see my complaints at : https://github.com/quarkusio/quarkus/wiki/Why-Dropping-Java-8#classpath-cleanup :)

I feel like we should add the JDK11 specific dependencies, and stop supporting Java 8 as this is really getting in the way of people having fun with this all.

[2020-09-07 11:19] mkouba commented on #11892
Hm, all the tests seem to pass. I'll send a PR shortly. @manovotn WDYT?

BTW I found this: https://github.com/quarkusio/quarkus/pull/8343#discussion_r403957050

[2020-09-07 11:21] geoand commented on #11892
Right! I was looking for that comment but I wasn't able to find it :)

[2020-09-07 11:21] Sanne commented on #11913
I'll close this, I'll leave it to you @maxandersen to think if we can improve the user experience or tooling around this - personally I feel these requirements are already documented, and the pain points tracked on the wiki.

In particular I'd highlight this section of the above-linked wiki:

    We all strife to make reasonable defaults, but dependency management isn’t currently able to deal on a

[2020-09-07 11:22] maxandersen commented on #11913
I run integration tests in jbang itself with karate. Works pretty nice.

Missing piece is install of jbang so it will be accessible in path but that should be pretty straight forward.

Actually - can we assume access to docker? Then we can use the jbang docker image.

[2020-09-07 11:24] maxandersen commented on #11913
it runs with users default jvm ... only gets jdk11 if it can't find anything else.

[2020-09-07 11:24] cescoffier commented on #11892
@mkouba I confirm, all gRPC services are `BindableService`, implementation cannot be proxied (`final`)

[2020-09-07 11:28] maxandersen commented on #11913
i added those but not seeing a difference in behavior - it worked for you ?

[2020-09-07 11:30] glefloch commented on #11318
The error regarding the FileNotFound has been fixed in PR #11502 and everything is working fine when running `gradle test` command.
There is still an issue when running tests from the IDE.
[code]

I tried few things but I was not able to get something working.

@aloubyansky do you have an idea?

[2020-09-07 11:30] maxandersen commented on #11913
reopening until I can actually run it ;)

and yes; if we can fix some of this in jbang thats great -  not sure how though ...

[2020-09-07 11:33] maxandersen commented on #11913
tried with java 8 and 11 and with and without the updated deps - same result. Did you get different result?

[2020-09-07 11:33] SlyngDK commented on #7451
@gsmet Will you take a look ^^^

[2020-09-07 11:42] sberyozkin commented on #11886
Hi @MarcusBiel I've opened #11937, it will not resolve this issue but it shows what needs to be done to have multiple authentication mechanisms combined, if you use the `oauth2` extension then it should already work. But in any case, I agree it would be a useful feature to have, after enabling the multiple mechanisms, to be able to say for this given path(s) **only** this mechanism can be used, ri

[2020-09-07 11:51] Sanne commented on #11913
hum, sorry yes it seemed to work but I forgot to use `--verbose`.  It actually still fails.

[2020-09-07 12:12] sberyozkin commented on #10359
Just to add to this issue, @bindu-variam, see https://quarkus.io/guides/security#identity-providers for the links to the production-quality identity providers, the embedded properties approach is for the testing only

[2020-09-07 12:28] SlyngDK commented on #7451
@harry9111985 I have updated the POC, as you suggested. You are welcome to contribute to it.

[2020-09-07 12:39] radcortez commented on #11782
@dmlloyd do you remember why do we have a different version of `EnvConfigSource` in Quarkus and not use the one from SmallRye Config?

[2020-09-07 12:43] andreas-eberle commented on #11900
@geoand: Unfortunately, this does not seem to fix the issue. I still get the same error. Furthermore, I don't think this is a timing issue only, since I can only fix it by stopping the gradle deamons. Therefore it looks to me like the gradle deamons seem to keep some file lock on the directories or something like that.

[2020-09-07 12:45] geoand commented on #11900
I see. I'll reopen the issue then and ask @glefloch if he has any ideas

[2020-09-07 12:49] ia3andy commented on #11919
TBH I don't know, Michal doesn't seem to be here today..

On Mon, Sep 7, 2020 at 11:50 AM Martin Kouba <notifications@github.com>
wrote:

--
Andy Damevin

[2020-09-07 12:53] gsmet commented on #11919
I think what we need is an update (if we have one or creating one) of the lifecycle metadata for Eclipse.

@fbricon could you help with this? Or know someone who could?

[2020-09-07 13:03] fbricon commented on #11919
the lifecycle mapping should be embedded in quarkus-maven-plugin, preferably. Basically, for each of the `generate-code`, `generate-code-test`, `build` goals, the questions are:
- should that goal be executed in an Eclipse build (every time a file is changed)? or only when configuring the project in Eclipse? or never?

[2020-09-07 13:04] michalszynkiewicz commented on #11919
Until we kick 1.7 out, I'd be grateful for direct pings

[2020-09-07 13:05] ia3andy commented on #11919
I pinged you on zulip :)

[2020-09-07 13:14] gsmet commented on #11919
@michalszynkiewicz can you answer the questions from Fred?

[2020-09-07 13:16] glefloch commented on #11900
@geoand I will access to a windows machine tonight. I will give a try to those two issues.

[2020-09-07 13:16] ia3andy commented on #11919
sorry @michalszynkiewicz I pinged the wrong Michal :) my bad!

[2020-09-07 13:24] michalszynkiewicz commented on #11919
@fbricon the `generate-code*` goals operate on files in `src/main` and `src/test` (but outside of `src/*/java` and `src/*/resources`) and generate java files from them.
I think they should be triggered on every eclipse build (but for the situation when a user has `quarkus:dev` running, `dev` triggers the same logic to generate the code and watches for changes in the "source" files).

[2020-09-07 13:53] mkouba opened #11942 "ArC interceptors - implement inheritance rules properly"
The Interceptors spec states:

superclasses are invoked before the interceptor method defined by the interceptor class**, most general
superclass first.

(5.2.2 Invocation Order of Interceptors with Superclasses)

And also:

classes of the target class or the interceptor classes. However, only one around-invoke method may be
defined on a given class.

(2.5 Business Method Interceptors)

[2020-09-07 14:01] radcortez commented on #11921
We were having a few issues with native mode that required a few changes. I think most of the work is done, so hopefully by the end of this week or next week.

[2020-09-07 14:11] mahieddine commented on #11390
@glefloch i just tried with quarkus 1.7.2.Final and the issue is resolved ! thank you ! i'll close this issue as it's not happening anymore.

[2020-09-07 14:11] #11390 closed

[2020-09-07 14:45] kenfinnigan commented on #11931
I'd prefer it the other way around, off by default except when running with `quarkus:dev` which enables it.

@dcdh can you elaborate on the use case? Is it purely for testing in development, or some other reason?

[2020-09-07 14:58] andreas-eberle opened #11944 "Gradle: Cannot push containers to multiple repositories due to task caching"
**Describe the bug**
Currently the `quarkus-container-image-jib` extension does not support multiple registry urls to push images to. Therefore I'm running the following command build & push images twice.
[code]

However, when you run the command the second time, with a different registry, it is not executed due to gradle task caching. I think the push task should either not be cached or it should

[2020-09-07 15:00] Frintrop opened #11945 "Configurable instance name for quartz"
If you configure multiple application on same quartz datasource, they get all the same instance name.

props.put(StdSchedulerFactory.PROP_SCHED_INSTANCE_NAME, "QuarkusQuartzScheduler");

It would great to make this configureable through microprofile config

[2020-09-07 15:05] machi1990 commented on #11945
@Frintrop thanks for opening the issue. Would you like to prepare a PR on this?

[2020-09-07 15:09] Savalek commented on #11824
cool!

[2020-09-07 15:13] mkouba commented on #11919
Hm, I'll repeat my question here: do we need to execute all those goals by default, i.e. for all apps? Our pom config is quite verbose even now...

[2020-09-07 15:31] gsmet commented on #11919
We don't but:
- we need to take them into account in the lifecycle metadata anyway
- when adding the gRPC extension, it's going to be hard to figure out you need to add something
- other extensions might use them in the future

So all in all, I agree it's verbose but I think it's safer to have them. And in any case, we need to figure out the Eclipse issue.

[2020-09-07 15:48] #11647 closed

[2020-09-07 16:00] mostafacs commented on #11923
Hi,
Yes, I added these maven dependencies. But I don't use `./mvnw quarkus:add-extension .....`
[code]

[2020-09-07 16:41] gsmet commented on #11923
Which version of Quarkus is this?

I wonder if it's not just a GraalVM version mismatch:
* if using Quarkus 1.7, use GraalVM 20.1
* if using Quarkus 1.8.0.CR1, use GraalVM 20.2

If it's not the issue, we will need a reproducer as I don't see us finding the issue with just this information.

[2020-09-07 17:01] dcdh commented on #11931
@kenfinnigan I am working for a client for an internal platform compound of several micro-services. We use the Spring Boot + Spring Cloud Sleuth ... stack. Spring Cloud Sleuth add in our response header some data coming from opentracing like `x-b3-traceid`.
It  was added to help support team to easier trace the flow of interaction between our multiple micro-services from the frontend. So when we f

[2020-09-07 17:19] sberyozkin opened #11949 "Simplify tenant resolution for the OIDC/Hibernate Multitenancy combination"
**Description**
Tenant id has to be resolved to support both OIDC and Hibernate multi-tenancy flows.
In both cases a tenant id can be extracted from `RoutingContext`, for example, see [OIDC](https://quarkus.io/guides/security-openid-connect-multitenancy#programmatically-resolving-tenants-configuration) and  [Hibernate](https://quarkus.io/guides/hibernate-orm#multitenancy) resolver examples.

Effec

[2020-09-07 17:33] michael-schnell commented on #11949
We should avoid creating a direct dependency to the vertx extension by using the `io.vertx.ext.web.RoutingContext` for the multitenancy feature. That's why we avoided this for the `io.quarkus.hibernate.orm.runtime.tenant.TenantResolver`. In contrast to the ODIC resolver, it has not a direct dependency to vertx.

[2020-09-07 18:05] Frintrop commented on #11945
next three weeks it is not possible for me. sorry. maybe later.

[2020-09-07 18:13] sberyozkin commented on #11949
@michael-schnell Right, in the OIDC code we do need `RoutingContext` but I see that it is not needed at the data level...
Hmm... I think what I can do is to create this small OIDC PR and do a small update to the Hibernate Multitenancy docs pointing out that a `tenant-id` `RoutingContext` attribute will be available, so the custom Hibernate resolvers which also need to parse something from `Routing

[2020-09-07 18:29] gavinking commented on #11949
This shouldn't be something specific to either OIDC or Hibernate. It should be a neutral aspect of the Quarkus environment, by which I mean that there should be an agreed place where tenant ids are made available by some extensions, and consumed by others. It shouldn't be a matter of OIDC and Hibernate agreeing on some sort of protocol, but rather the Quarkus environment providing a standard place

[2020-09-07 18:37] softshipper commented on #11926
Hi @evanchooly, @FroMage, @loicmathieu @gsmet, @Sanne

I have created the example. Execute the following steps:

1. docker-compose up(starts Postgres DB)
2. ./mvnw clean compile quarkus:dev
3. set export API_URL=http://localhost:8080
4. cd e2e-test, npm install and npm test

And you will see the error message:
[code]
Thanks
[manyrest.zip](https://github.com/quarkusio/quarkus/files/5184569/manyrest

[2020-09-07 18:40] sberyozkin commented on #11949
@gavinking I just switched off my laptop and then on again to close this issue :-), because I realized a custom user OIDC resolver can pass it as a routing context attribute over a custom user Hibernate resolver, so it is entirely up to the users if they would want it or not and Quarkus does not need to do anything itself (at least on the OIDC + Hibernate multi-tenancy path).
I can only propose a

[2020-09-07 19:26] P3trur0 commented on #11945
hello @Frintrop, if you provide few more details I could give it a try.

[2020-09-07 19:34] glefloch commented on #11944
Yes system properties are not set as task input.
I have a fix for this. I will push it once I have a valid test.

[2020-09-07 20:07] michael-schnell commented on #11949
I think it is still worth thinking about harmonizing the TenantResolver for ODIC and DataSource (currently Hibernate ORM). This would allow other extensions to use the same information. But the TenantResolver interface itself should be independent of other extensions. I guess it shoudl be possible to adjust the current ODIC TenantResolver in a way that is backward compatible, but still uses the ne

[2020-09-07 21:25] #6463 closed

[2020-09-07 22:17] mostafacs commented on #11923
@gsmet Thanks.
currently, I use Quarkus 1.7 and GraalVM version 20.2 I will update Quarkus to 1.8.0.CR1 and back to you.

[2020-09-08 00:42] mostafacs commented on #11923
@gsmet  I changed the GraalVm version to 20.1
and it's more time to build more than the previous try to build. But finally, it fails also with these logs:
[code]

[2020-09-08 00:52] stuartwdouglas commented on #11927
Logging the current user is absolutely not a security issue, and is required by a lot of organisations for audit purposes. Logging credentials is a different matter but the username is absolutely fine.

This sort of code belongs in the jaeger extension though, not in Keycloak, and should not be tied to RESTEasy.

[2020-09-08 02:07] jaikiran commented on #11839
Hello @stuartwdouglas, I just happened to see this one fail in one another PR today[1]. Before I try and increase the timeout, I wanted your input on whether you think the current timeout of 1 second is on the lower side or whether there is some other genuine issue here. I haven't been able to reproduce this any place consistently to be able to figure it out myself.

[1] https://github.com/quarkus

[2020-09-08 02:45] stuartwdouglas commented on #11839
One second is generally pretty low for any sort of CI based timeout.

[2020-09-08 05:14] #11913 closed

[2020-09-08 05:27] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/244000439

[2020-09-08 05:33] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/243999367

[2020-09-08 06:32] Ladicek commented on #11931
Tracing is, by definition, meant for production. I just wonder what would happen in case the tracer decides not to sample the trace. I don't know, but I hope that there's a way to detect that and either not include the header in the response at all, or somehow indicate that the trace is not sampled.

[2020-09-08 06:55] #10303 closed

[2020-09-08 07:29] #11839 closed

[2020-09-08 07:50] 38leinaD opened #11962 "quarkus:dev - Lift external dependency into application-classloader"
**Description**
External libraries might be keeping state in some statics that does not play nicely with quarkus dev-mode reloads. This is because everything external to the main maven/gradle project goes into the application base classloader that stays the same between dev-mode runs/reloads.
With the gradle plugin not supporting composite builds and also in general, it would be nice to somehow te

[2020-09-08 08:08] gsmet commented on #11945
@P3trur0 sorry, not this time, I found a couple of issues I wanted to fix in the Quartz extension so I took the liberty to implement this one too as it was just 3 lines to change.

Be ready for the next time :).

[2020-09-08 08:12] P3trur0 commented on #11945
@gsmet thanks :) May I see how the fix looks like in order to get more familarity with the codebase?
Thanks!

[2020-09-08 08:30] gsmet commented on #11945
Sure: https://github.com/gsmet/quarkus/commit/7ede42359cb2ff8d5570414026c2af7b1ed29e55

[2020-09-08 09:02] knutwannheden opened #11965 "Config property to include health endpoints in OpenAPI definition"
**Description**
As [discussed in Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/openapi.20definition.20for.20.2Fhealth.20endpoints) it could be useful to include the health endpoints (like `/health`) in the OpenAPI definition for the application.

Our use case for this is that we are deploying our applications to Azure and register all endpoints with its API management. I

[2020-09-08 09:05] phillip-kruger commented on #11965
Thanks ! I'll look at this a.s.a.p.
We might as well add /metrics ?

[2020-09-08 09:22] 38leinaD opened #11966 "Allow configuration of JAX-RS application-class if multiple exist"
**Description**
Quarkus does not support multiple JAX-RS applications to be deployed (see https://github.com/quarkusio/quarkus/issues/11415).
In situations, where a more monolithic JEE application is ported to Quarkus, it is helpful if multiple JAX-RS applications will not immediately fail the build of the Quarkus application but offer an configurable way to denote one of the rest applications to

[2020-09-08 09:27] mjurc opened #11968 "quarkus.kubernetes-config.secrets.enabled takes precedence over quarkus.kubernetes-config.enabled"
**Describe the bug**
`quarkus.kubernetes-config.secrets.enabled` takes precedence over `quarkus.kubernetes-config.enabled`. When `quarkus.kubernetes-config.secrets.enabled=true` and `quarkus.kubernetes-config.enabled=false`, Quarkus application will still try to get configuration from secrets.

This is a change of behaviour compared to Quarkus 1.7.

**Expected behavior**
When `quarkus.kubernetes-c

[2020-09-08 09:35] kanibs commented on #2019
hey @cescoffier , thanks for this information. But are there any plans to implement the feature(in future) of deploying an already instantiated verticle with instances getting set to more than 1.
Reason being, when deploying using the class-name, there are many instance variable that does not get initialized and we have to make them all static.

[2020-09-08 09:40] Ladicek commented on #11968
I kinda agree that this is a regression. It was introduced in https://github.com/quarkusio/quarkus/pull/11748, which is an implementation of https://github.com/quarkusio/quarkus/issues/11258. Unfortunately, I didn't see that issue nor the PR, otherwise I would have objected.

[2020-09-08 09:43] geoand commented on #11968
Ah darn it... I sorta expected something like this to happen but should have looked more closely...

[2020-09-08 09:44] geoand commented on #11968
So yeah, we should decide what we want the actual behavior to be

[2020-09-08 09:44] Ladicek commented on #11258
This goes directly against my original intent. The `quarkus.kubernetes-config.enabled` config property controls whether config sources are created based on ConfigMaps and Secrets. That's also how all other extensions work.

The `quarkus.kubernetes-config.secrets.enabled` config property is _not_ an alias. It was only meant to enable generating additional Kubernetes resources.

[2020-09-08 09:45] geoand commented on #11258
Let's decide on this one before 1.8 goes out

[2020-09-08 09:52] Ladicek commented on #11258
I don't see a reason to be able to enable/disable only-ConfigMaps or only-Secrets -- you control that by setting the list of ConfigMaps and Secrets to read. You just enable/disable reading config sources from the Kubernetes API server.

So the issue is that I probably should have used a different name for `quarkus.kubernetes-config.secrets.enabled` :-/

[2020-09-08 10:01] gsmet commented on #11968
Can we try to sort it out today so that we fix it for the Final?

[2020-09-08 10:08] geoand commented on #11968
Yes. I don't have a strong opinion, so whatever @Ladicek (as the one who originally implemented this) and @kenfinnigan (who reported the issue) think is best

[2020-09-08 10:11] sberyozkin commented on #11949
Hi @michael-schnell I'm not sure there is much scope in it, we'd need to introduce some `tenant-common` extension, etc, but if the users can easily pass the tenant id via a `RoutingContext` medium then there is no much code saving by supporting a single interface.
The mechanics of the tenant resolution are also somewhat different, in OIDC the dynamic tenant configurations are possible.
But what wo

[2020-09-08 10:18] #11790 closed

[2020-09-08 10:22] aloubyansky commented on #11318
I was trying to reproduce it in Eclipse by running the test as JUnit and Gradle test. It worked. I don't have IDEA installed currently. It's IDEA-specific, iiuc?

[2020-09-08 10:28] 38leinaD commented on #11966
Thinking about it now some more. As application classes in Quarkus today do not really offer anything exception setting the @ApplicationPath, another option would be to offer a config "quarkus.resteasy.ignoreApplicationClasses=true", so the extension will fall back to the case that there is no explicit application-class at all...

Another alternative, would be a way to veto an application-class fr

[2020-09-08 11:08] mkouba commented on #11863
Hm, I think that we could try improve our `io.quarkus.arc.processor.BeanArchives.IndexWrapper` to handle this use case.

[2020-09-08 11:21] cescoffier commented on #2019
That should be a feature request on Vert.x itself. In the meantime, you can use a Supplier<Verticle> instead of classnames to initialize the verticle properly.

[2020-09-08 11:23] kanibs commented on #2019
Thanks @cescoffier  for the response. My Bad I did not notice that this is Quarkus repo.

[2020-09-08 11:37] geoand commented on #6588
The jms-quickstart seems to be flaky @cescoffier

[2020-09-08 11:38] maxandersen commented on #11913
with #11957 this updated (as the original had bugs/was incomplete) works:

[code]

[2020-09-08 11:44] maxandersen commented on #11888
this is fixed with #11957 and latest jbang master. cause: not good enough classloader isolation in the SPI between jbang and quarkus.

the TCCL concern was wrong/not the issue.

[2020-09-08 11:44] #11888 closed

[2020-09-08 11:46] maxandersen opened #11971 "jbang w/jib/kubernetes gives "could not find matching project info to read""
**Describe the bug**
similar to #11888 but this time not about class loading issues but about dekorate assuming 'stuff' we'll need to fix/adapt to.

[code]

run that with `jbang --verbose -Dq.v=999-SNAPSHOT quarkusjib.java` and you get:

[code]

[2020-09-08 11:47] michael-schnell commented on #11949
I guess the 90% use case is exactly what you described:
1) Extract the realm (tenant) from the URL path or request header
2) Authenticate/authorize with ODIC (keycloak) using the realm
3) Use the realm as tenant id for accessing protected tenant resources like the database

You must ensure that any user is authorized for a realm/tenant to access the database and possibly other resources.

Another

[2020-09-08 11:48] geoand commented on #11971
cc @iocanel

[2020-09-08 11:49] maxandersen commented on #11971
remove kubernetes and it does not complain. i think its just a matter of understanding what dekorate are looking for and if its just a question about jbang/quarkus spi makes a builditem available with a directory it can write to to mimic `target` from maven ?

[2020-09-08 11:51] geoand commented on #11971
Yeah, it should be easily fixable :)

I pinged Ioannis since he is the dekorate internals master and would definitely be able to fix this much faster than I could

[2020-09-08 12:04] maxandersen commented on #11916
this one does NOT seem fixed. I'm updating the example to actually work.

[2020-09-08 12:06] sberyozkin commented on #11927
Hi @stuartwdouglas I'm not sure; if it is `JWT` and Quarkus is configured to use a 'preferred_user_name' then we can get not just a login name like `alice1` but `Alice Brown` etc. If a given organization needs it then a filter like the one suggested above can be registered in no time; Quarkus doing it itself is a different story IMHO

[2020-09-08 12:17] pedroigor commented on #11927
I agree with @stuartwdouglas but I also see your point @sberyozkin, mainly in regards to privacy. Considering all the privacy regulations I'm not whether or not services should be able to track user activity without consent. I would then agree that for now, users should implement something like that filter. I'm afraid some one would open another issue later telling us to include a `quarkus.securit

[2020-09-08 12:20] #11945 closed

[2020-09-08 12:23] machi1990 commented on #11916
I saw https://github.com/quarkusio/quarkus/pull/11958 earlier today. It should have fixed this issue I suppose? @mkouba @stuartwdouglas

[2020-09-08 12:26] stuartwdouglas commented on #11916
The actual issues is that transformation was not working in JBang, which I fixed in JBang. That PR would help it run with the latest release though. Either way it is no longer a problem.

[2020-09-08 12:26] #11916 closed

[2020-09-08 12:26] mkouba commented on #11916
This PR should fix this particular issue but the main problem is that jbang probably does not see the transformed classes...

[2020-09-08 12:35] iocanel commented on #11971
Will have a fix probably today or tomorrow

On Tue, Sep 8, 2020, 2:52 PM Georgios Andrianakis <notifications@github.com>
wrote:

[2020-09-08 12:36] knutwannheden commented on #11965
Interesting question. Would you then envision a config property where the value is a comma-separated list like `health, metrics`?

[2020-09-08 12:39] kenfinnigan commented on #11258
It's not a one or the other, it's being able to activate secrets without knowing you also must enable the entirety of config for the extension

[2020-09-08 12:39] phillip-kruger commented on #11965
I was thinking boolean properties, one for each. Something like

- quarkus.smallrye-openapi.add-health=true
- quarkus.smallrye-openapi.add-metrics=true

I started with the Health work, we can do that first and then do metrics later maybe.

[2020-09-08 12:40] pedroigor commented on #11872
I lack experience in this area but I would expect to have a generic solution that would allow tracing not only `keycloak-authorization` calls but also `quarkus-oidc` (I think @sberyozkin highlighted this).

[2020-09-08 12:50] mkouba commented on #11863
The problem with the index wrapper approach is that it's designed to lazily index a specific missing type, e.g. `BusinessObjectContainer`. Whereas for this particular case we need to look for all known subclasses (e.g. all subclasses of `BusinessObject`); that would mean to load all types from the class path, i.e. something we're not going to do ;-).

So I think that we would have to leverage the

[2020-09-08 12:53] geoand commented on #11258
Basically I'm leaning towards what Ken mentions here - with the caveat that the user shouldn't have to explicitly set `quarkus.kubernetes-config.enabled=true`.

However, as reported in https://github.com/quarkusio/quarkus/issues/11968, we should probably not fetch the secrets when `quarkus.kubernetes-config.enabled=false` was set explicitly.

WDYT?

[2020-09-08 12:55] Ladicek commented on #11258
There's no such thing as "activate secrets". You just activate Kubernetes config.

The "secrets.enable" thing just makes Quarkus generate additional Kubernetes resources that give the application's service account access to secrets in the Kubernetes API server.

Again, bad name of the property, it seems :-(

[2020-09-08 12:58] kenfinnigan commented on #11258
Irrespective of how it's named, if it needs to be turned on to use secrets, and another config property turned on to make that work, that's a bad experience.

It shouldn't require to configuration properties to be turned on to do one thing

[2020-09-08 12:58] Ladicek commented on #11258
And the reason why we need the property is that we don't know at build time if the user will want to read stuff from secrets. We could generate the resources always, but for some reason I don't recall, we didn't want that.

[2020-09-08 13:02] kenfinnigan commented on #11258
I don't mind if there's a property to generate the secrets, but I don't see why I need to set another property in addition to that one

[2020-09-08 13:03] sberyozkin commented on #11949
@michael-schnell great, thanks for this overview. I can keep this open if you'd like but I do feel that just doing
[code]
is enough for such cases.
So yes, we can keep this issue open in order to get more feedback though I'm trying to close as many OIDC related issues as possible to keep controlling the open issues :-).

[2020-09-08 13:12] geoand commented on #11258
I think I can come up with something that fits both of your requirements, checking now

[2020-09-08 13:14] Ladicek commented on #11258
The 2 properties are totally orthogonal, and only appear to not be when you consider Quarkus-generated Kubernetes YAML files to be the only possible way how to obtain Kubernetes YAML files for Quarkus application.

Frankly, we could just always generate the additional Kubernetes resources and let users know that if they don't need them, they can delete them :-) (Or, instead of having a property to

[2020-09-08 13:20] laguiar opened #11974 "Automatically add dependency for jackson-module-kotlin"
As pointed in the Kotlin documentation:
https://quarkus.io/guides/kotlin#kotlin-and-jackson

The ```jackson-module-kotlin``` has to be manually added when there is the need to register the Kotlin module on Jackson, basically, when using kotlin + jackson.

**Description**
When bootstrapping an application, when any Jackson specific extensions were added _(as mentioned in the documentation above)_,

[2020-09-08 13:44] wuiler opened #11975 "Import.sql not trimming blank space at the end of an sql statement"
**Describe the bug**
Updating from Quarkus 1.71. to Quarkus 1.7.2 **import.sql** file gets an error on startup. In Quarkus 1.7.1 is working, I've tested the import.sql file with SQLIde to the if been a problem of sql file, and line by line.
**I've recognized the bug, Parse is not trimming blank space at the final of the sql statement with ;**

**Expected behavior**
Works in Quarkus 1.7.1. or maybe

[2020-09-08 13:47] #11846 closed

[2020-09-08 13:48] acx70 opened #11976 ""com.ibm.as400.access.AS400" connection error (compatibility)"
**Describe the bug**
My Quarkus native application starts successfully but as soon as I try to connect to as400, I get the following exception
[code]

**Expected behaviour**
The native image works correctly and connect to as400

**Actual behaviour**
Got an exception.

**To Reproduce**
Steps to reproduce the behaviour:
1.
2.
3.

**Configuration**
[code]

**Screenshots**
(If applicable, add screensh

[2020-09-08 13:50] gsmet commented on #11975
/cc @dreab8 @Sanne this must be an issue with the new parser?

[2020-09-08 13:53] Sanne commented on #11975
@gsmet yes, very likely.  Thanks we'll look at it.

[2020-09-08 14:07] gastaldi commented on #4206
@ia3andy how do I reproduce that? I ran `mvn package -DskipTests -Dnative -Dquarkus.native.container-build` but all I got was:

[code]

[2020-09-08 14:08] dmlloyd commented on #11782
These reasons that I recall:
* We don't want the env property names to come back from `getProperties()` at build time; since the mapping is one-way, there's no clean way to map them back and otherwise they're just noise
* We don't use `io.smallrye.config.SmallRyeConfigBuilder#getDefaultSources` at build time because of class path pollution issues
* It's the base class for DotEnvConfigSource which

[2020-09-08 14:17] ia3andy commented on #4206
`docker run -i --rm -p 8080:8080 quay.io/quarkus/code-quarkus-app:latest`

On Tue, Sep 8, 2020 at 4:07 PM George Gastaldi <notifications@github.com>
wrote:

--
Andy Damevin

[2020-09-08 14:38] #10907 closed

[2020-09-08 14:41] #10990 closed

[2020-09-08 14:54] kenfinnigan commented on #11965
We need to be very careful about this, as it does open up possible security concerns exposing what is "internal APIs" to exposure.

I would suggest this is only enabled is the OpenAPI endpoint is secured, or it's DEV mode.

@n1hility @maxandersen might have comments too

[2020-09-08 15:03] knutwannheden commented on #11965
In our case we use the new feature allowing to generate the openapi.yaml into the file system at build time.

[2020-09-08 15:09] ge0ffrey commented on #11563
Radovan is investigating the cause of this, which is probably related to the Drools unfork.

[2020-09-08 15:16] gsmet commented on #11563
I think you should discuss with @mariofusco and @evacchi because I remember we have the very same issue with Kogito.

[2020-09-08 15:21] evacchi commented on #11563
fixed on master https://github.com/kiegroup/kogito-runtimes/commit/0ecc75dd59c086260b69d2c4d646c30d0f86138c

[2020-09-08 15:28] evacchi commented on #11563
FYI it's actually related to GraalVM 20.2 -- no issue with GraalVM 20.1
we worked it around by using substitutions https://github.com/kiegroup/kogito-runtimes/commit/0ecc75dd59c086260b69d2c4d646c30d0f86138c#diff-96151edecfecab2498645ec9a01b0550

the issue should be "properly" fixed, once @mariofusco is able to merge MVEL descoping, which should make the dependency optional, thus unreachable to nat

[2020-09-08 16:04] mostafacs commented on #11923
@geoand  I will create a reproduce repository by the end of today.

[2020-09-08 16:20] mfoo opened #11985 "Clarification around hot code reload and multi-module projects"
Hello!

I feel like there is a lack of documentation around hot code reloading and potentially also around multi-module projects. The best I can find is the [CDI reference](https://quarkus.io/guides/cdi-reference#bean_discovery) and the [Extensions guide](https://quarkus.io/guides/writing-extensions). Other than that, there's no real high level guide on how hot code reload is implemented in Quarku

[2020-09-08 16:42] vitor-cardoso-tdx opened #11986 "Problem connecting to Redis Cluster on sentinel type"
**Describe the bug**
Cannot connect Redis client on with sentinel type. This is a bug because is not supporting this type of configuration.

**Expected behavior**
Can ping /use the redis clients with sentinel type successfully.

**Actual behavior**
Because current `RedisAPIProducer.java#buildConnectionString()` is doing :
[code]
producing : redis://sentinel1:26379/0 -> with database config append,

[2020-09-08 16:51] BastianSperrhacke-Otto commented on #5310
I also agree. I need it too for my systemtests, which should inject an entitymanager for creating test data. the test itself will run its Rest Requests against a docker container from testcontainers. there is no need to run the app by @QuarkusTest but there is a need to inject sth into my test.

[2020-09-08 17:01] #11944 closed

[2020-09-08 17:01] phillip-kruger commented on #11965
@kenfinnigan - users can already expose the /health endpoint. (like @knutwannheden has already done) so we are not really making something less secure. Users will still have to configure the gateway to allow traffic. Plus this will be off by default, so it will be a conscious decision by the user.

[2020-09-08 17:01] #11968 closed

[2020-09-08 17:20] sberyozkin commented on #11872
Hi @pedroigor yeah, well, I was again being a bit paranoid here :-), suggesting that exposing the KC traces to a Quarkus endpoint user is the info which is arguably sensitive - shows the traget address of the OIDC server which is outside of the scope of tracing the application specific calls through the distributed system.
That said, if it is configurable (ex, block exposing these traces if needed

[2020-09-08 19:16] glefloch commented on #11900
I can reproduce the error. I tried using the latest version of gradle but I still have the issue.
As you said @andreas-eberle I think the problem is related to the gradle dameon, running the `assemble` commande multiple time with`--no-daemon` actually works.
Even after a long time, I can't do a `./gradlew clean` as the `build` directory seems to be locked.

This looks like a known issue (https://g

[2020-09-08 19:17] geoand commented on #11900
So I guess we should close this as it's not a Quarkus issue?

[2020-09-08 19:18] machi1990 commented on #11986
@vitor-cardoso-tdx thanks for reporting the issue.  https://github.com/machi1990/quarkus/commit/0cc495f12e51722fd32b6cc3455460a1a56b247e should take care of this and the client would be configured using the redis uri scheme.

[2020-09-08 19:18] glefloch commented on #11900
Well I don't think we can do much more in Quarkus

[2020-09-08 19:19] #11900 closed

[2020-09-08 21:30] alvarolop opened #11992 "Spring Data Redis"
**Describe the extension**
Spring Data Redis provides easy configuration and access to Redis from Spring applications. It offers both low-level and high-level abstractions for interacting with the store, freeing the user from infrastructural concerns.

We are currently considering the migration of our set of applications from Spring Boot to Quarkus and I am estimating the effort that it would take

[2020-09-08 21:57] alvarolop opened #11993 "org.springframework.data.annotation.Id in quarkus-spring-data-jpa"
**Description**
We are currently considering the migration of our set of applications from Spring Boot to Quarkus and I am estimating the effort that it would take to accomplish this migration. We are already using `spring-boot-starter-data-redis` and specifically this annotation `org.springframework.data.annotation.Id`.

I have seen that `quarkus-spring-data-jpa` (https://quarkus.io/guides/spring

[2020-09-08 22:20] evanchooly commented on #11926
I converted the test to java and got the same error so it doesn't appear to be kotlin related.  It seems like perhaps the JPA operation is incorrect.  It feels weird updating a many-to-many relationship like that.

[2020-09-09 00:24] stuartwdouglas commented on #11872
I don't see any problems with this, but  obviously things like tokens and other credentials should not be included in the data.

[2020-09-09 01:34] knutwannheden commented on #11525
@mkouba Based on my use case, do you consider anything needs to be done here? Should I report an issue?

[2020-09-09 04:06] stuartwdouglas commented on #11962
I had a stab at this here: https://github.com/quarkusio/quarkus/compare/master...stuartwdouglas:11962?expand=1

Unfortunately I ran into a chicken and egg problem, where we need to know the dependency information before the config has been read/setup. I need to have a bit more of a think about how to actually configure this.

[2020-09-09 05:08] geoand commented on #11993
Hi,

Thanks for reporting.

Does the application in question that uses spring-data-jpa use `org.springframework.data.annotation.Id`? I would like to see an example of that if possible please.

[2020-09-09 05:27] geoand commented on #11096
Removing the milestone for the time being

[2020-09-09 05:30] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/245722956

[2020-09-09 05:49] geoand commented on #11992
@machi1990 as you developed the Quarkus Redis extension, do you have any take on how it compares with Spring Data Redis?

[2020-09-09 06:32] albert0815 commented on #9801
We would also be very happy with some kind of mongo db migration tool to be integrated with quarkus. Also optimistic locking is a feature which we need.

For the migration we did a POC using Mongock, which we setup in a startup listener which worked fine. But we also will have another look at Liquibase.

@loicmathieu Where did you find the information that liquibase is using db.eval? For me it sou

[2020-09-09 06:36] mkouba commented on #11525
@knutwannheden Nope, you should check the returned `CompletionStage` and log all exceptions returned from `CompletionException#getSuppressed()`.

[2020-09-09 06:39] alrawas opened #11996 "quarkus-spring-web breaks startup of camel-quarkus-activemq in kubernetes environment"
**Describe the bug**
Before writing any classes. starting with `quarkus-container-image-jib`, `quarkus-kubernetes`, `camel-quarkus-activemq` builds successfully and starts up successfully.

However when adding this extension to the pom `quarkus-spring-web` my quarkus app still builds successfully and pushes to my local kubernetes registry but it fails to start up and I get `ClassNotFoundException:

[2020-09-09 07:08] geoand commented on #11996
@lburgazzoli looking at the stacktrace, it looks like Camel is trying to load some Spring classes for some reason.

[2020-09-09 07:23] lburgazzoli commented on #11996
it is the first time I see this but yes camel-jms and camel-activemq which is based on it have a dependency on spring as they use spring-jms.

We need to investigate what triggers this issue.

In the meantime, a workaround could be to use camel-sjms or camel-sjms2 as they are based on the jms specs without dependency on spring. An example can be found here https://github.com/apache/camel-quarkus/t

[2020-09-09 07:33] #11299 closed

[2020-09-09 07:34] mperezco commented on #11993
Looks like a duplicate of: https://github.com/windup/windup-rulesets/pull/461/commits

[2020-09-09 07:41] #11820 closed

[2020-09-09 07:42] lburgazzoli commented on #11411
I've hopefully been able to have everything running and it works, I think the only missing part was that in the latest version of camel-quarkus you need to explicitly add `camel-quarkus-main` if you want to sue properties like `camel.component.kafka.*` (see https://camel.apache.org/camel-quarkus/latest/user-guide/bootstrap.html)

[2020-09-09 07:52] mperezco commented on #11992
I'd love to have a rule for it in windup https://github.com/windup/windup-rulesets/ ... so it can make it to the Migration Toolkit for Applications https://red.ht/mta

[2020-09-09 07:58] gsmet commented on #11992
Well, right now, we are just providing a client.

If we want to simplify things, we basically need some sort of Redis with Panache, similar to what Loïc did with MongoDB.

[2020-09-09 08:30] geoand commented on #11992
Right, Redis Panache would make a lot of sense.

WDYT @machi1990 @loicmathieu ?

[2020-09-09 08:33] geoand opened #11997 "Change deprecated Fabric8 Maven Plugin to JKube kubernetes-maven-plugin"
Some of our integration tests use the deprecated Fabric8 Maven Plugin.
[JKube](https://www.eclipse.org/jkube/) `kubernetes-maven-plugin` however
has now reached version `1.0.0` so we should probably migrate to it.

[2020-09-09 08:48] glefloch commented on #11318
yes it looks like...

[2020-09-09 08:49] geoand commented on #11997
Ah nevermind...

I though JKube also included a replacement for the docker-maven plugin, but that doesn't appear to be the case

[2020-09-09 08:49] #11997 closed

[2020-09-09 08:50] loicmathieu commented on #11992
Of course it will make a lot of sense !

But keep in mind that it's a lot of work to create and maintan so we need to be sure that people will use it.
And it will need some careful design with Steph and Emmanuel (and maybe myself) ...

I'm OK to help designing it, but I don't have a lot of time available these days ...

[2020-09-09 08:53] geoand commented on #11992
Same here, but I'd be willing to work on this if people think it's useful.

cc @emmanuelbernard @FroMage

[2020-09-09 09:10] Sanne commented on #11926
Thanks @evanchooly ! Could you share the Java version ?

[2020-09-09 09:32] tlvenn commented on #7665
Hi @mkouba, any pointer as to how to set the locale that should be used with a given template using the new Type safe Message bundles with Qute ? I have a language filter which will decide which language should be used to render a given RestEasy request but I have no clue on how to pass down this to Qute.

Is there an attribute I can set on a given template to force the locale for example ?

Thank

[2020-09-09 09:36] killerzwelch commented on #11184
Hi, due to proxy restrictions I am unable to test the SNAPSHOT release, but I can confirm that the problem is solved in version 1.7.2.Final for me. Thanks a lot for analysing and fixing

[2020-09-09 09:44] machi1990 commented on #11992
+1 on this. I think we can offer more than just a client.

[2020-09-09 09:49] gsmet commented on #11992
For me, one interesting question is: wouldn't it cover a lot of use cases if we simply integrated it with the Cache extension.

[2020-09-09 09:51] geoand commented on #11992
That's an interesting question. I guess it really depends on how much of the Redis API we want to expose (as it offers a lot more than just "caching apis")

[2020-09-09 09:58] galderz commented on #11524
I think it is, but based on [my experiments](https://github.com/galderz/mendrugo/blob/master/timezones/Timezones.java) it makes no difference to use that. Only using the same locale as the one provided when creating the native image works. See [output of experiment](https://gist.github.com/galderz/e645752d7dd9cea5f9feaf7c507fffaf).

I've found something interesting about testing this. If you look

[2020-09-09 10:09] mkouba commented on #7665
@tlvenn Yes, you can set an attribute of a template instance via `TemplateInstance#setAttribute()`; the key is `locale` or `MessageBundles.ATTRIBUTE_LOCALE`, see for example https://github.com/quarkusio/quarkus/blob/master/extensions/qute/deployment/src/test/java/io/quarkus/qute/deployment/i18n/MessageBundleTest.java#L73

[2020-09-09 10:10] loicmathieu commented on #11524
We could substitute as a temporal workaround but this issue should be raised on the MongoDB driver as an issue with GraalVM as I think a sample code without quarkus will experiement the same issue.

I'm pretty sure they can use the default TZ instead of EN but they need to do it on their side.

[2020-09-09 10:58] jaikiran commented on #11184
Thank you both for confirming the fix.

[2020-09-09 11:01] loicmathieu opened #12000 "Application crash with both Micrometer and Fault Tolerance extension"
**Describe the bug**
When you add both micrometer and fault tolerance extension, you'll be facing the following exception

[code]

As I created the `io.quarkus.smallrye.faulttolerance.runtime.NoopMetricRegistry` I know what's going on ;)

The fault tolerance need a metric registry to registers it's metrics. In case the smallrye-metric extension is not present we provides a NoopMetricRegistry.
We n

[2020-09-09 11:04] loicmathieu commented on #12000
/cc @ebullient

The fault tolerance code is good: https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-fault-tolerance/deployment/src/main/java/io/quarkus/smallrye/faulttolerance/deployment/SmallRyeFaultToleranceProcessor.java#L153

So the fix should be on the micrometer extension that should provides the metrics capability.

I can try to find some time to fix this if you want.

[2020-09-09 11:09] #11892 closed

[2020-09-09 11:14] radcortez commented on #11782
How about if we extend the SR `EnvConfigSource` to remove `getProperties` and maybe add the caching mechanism in SR, so we have a consistent behaviour?

[2020-09-09 11:24] rsvoboda opened #12002 "Time to first OK request increased (doubled) for MP application between 1.3.4.Final and 1.7.2.Final"
We have testing application which is using all MP specs - https://github.com/quarkus-qe/quarkus-startstop/blob/master/app-full-microprofile/pom.xml. I'm using beefed up bare metal machine with Intel(R) Xeon(R) CPU E5-2695 v2 @ 2.40GHz (24 processors reported, 12 cores) and 32 GB RAM. This bare metal machine is running on RHEL 7.8.

Time to first OK request doubled for this MP application between 1

[2020-09-09 11:29] rsvoboda commented on #12002
Just for the record, I have tried Mandrel 20.1 too.
GraalVM 20.1 and Mandrel 20.1 have same results

[2020-09-09 11:34] gsmet commented on #12002
Well, first, I would:
- try in JVM mode and see what happens
- if reproducible in JVM mode, I would use
https://github.com/quarkusio/quarkus/blob/master/TROUBLESHOOTING.md to
profile things

If not reproducible in JVM mode, then there's a good chance it's native
only and it's going to be more tricky.

On Wed, Sep 9, 2020 at 1:25 PM Rostislav Svoboda <notifications@github.com>
wrote:

[2020-09-09 11:35] gsmet commented on #12002
Also, could you either use a different CSV separator or a different decimal separator because numbers are not really readable when using commas for everything.

[2020-09-09 11:36] doctau opened #12003 "Cannot use quarkus in maven module with 'war' packaging since 1.7"
In earlier versions of Quarkus, the Maven plugin was allowed to be applied to modules with 'war' packaging, and https://github.com/quarkusio/quarkus/commit/df925cf17621a27392065d54ddd10a77569d2f65 made it require 'jar' packaging. While that seems sensible to prevent problems, being able to use 'war' packaging is actually useful.

I have been migrating several microservices from Wildfly to Quarkus,

[2020-09-09 11:37] rsvoboda commented on #12002
Sure, I will run JVM mode and provide the data

[2020-09-09 11:42] rsvoboda commented on #12002
JVM ... 1.7.2
AVG timeToFirstOKRequest without min and max values: 1861

JVM ... 1.3.4
 AVG timeToFirstOKRequest without min and max values: 1531

[2020-09-09 11:44] rsvoboda commented on #12002
JVM ... 1.7.2
App    Mode    buildTimeMs    timeToFirstOKRequestMs    startedInMs    stoppedInMs    RSSKb    FDs
FULL_MICROPROFILE    JVM    6816    1843    1251    44    543512    349
FULL_MICROPROFILE    JVM    6816    1834    1233    44    554380    349
FULL_MICROPROFILE    JVM    6816    1874    1224    43    545664    347
FULL_MICROPROFILE    JVM    6816    1852    1251    42    555080    349

[2020-09-09 11:46] tosuns opened #12004 "Hibernate ORM build error during enhancement of entity"
**Describe the bug**
I encountered a build failure of my project during the enhancement phase of an entity, which is caused by not being able to access an attribute from its parent class.

The hierarchie of the involved entities is as follows:

[code]

[code]
The `tags` attribute is causing the issue.

[code]
[code]
[code]
[code]

The maven build output is as follows
[code]

**Expected behavior**

[2020-09-09 11:47] rsvoboda commented on #12002
@gsmet  / @johnaohara can Quarkus 1.7 (with some patches) run with GraalVM 19.3 ?

[2020-09-09 11:57] ia3andy opened #12005 "Add a new project type to codestarts "quarkus-jbang""
**Description**
This could be used as a new buildtool from the Quarkus tooling (CLI, plugins).

**Implementation ideas**
This is a new codestart project type since it's not compatible with the current quarkus app example codestarts and tooling.

[2020-09-09 12:22] andrejpetras commented on #3905
Hi,
I created `mp-rest-client-maven-plugin` few moths ago. It wraps the `swagger-codegen` and generate Microprofile Rest-Client classes.

[2020-09-09 12:27] tlvlp opened #12006 "RESTEasy ExceptionMapper is not called when using Hibernate Validator on QueryParams"
**Describe the bug**
When using Hibernate validator to check query parameters in a RestEasy endpoint the validation error is returned before it could be caught and altered by a custom ExceptionMapper.

**Expected behavior**
ExceptionMapper should catch and be able to override all exception responses in the controller.

**Actual behavior**
The hibernate validation error response is returned to the

[2020-09-09 12:29] rsvoboda commented on #12002
Here are details from troubleshooting runs, I had to quick patch a bit quarkus-startstop project

[Archive.zip](https://github.com/quarkusio/quarkus/files/5195090/Archive.zip)
GH doesn't support attaching .svg files :/  Zip includes
 - startup-cpu-profile-1.3.4.Final.svg
 - startup-alloc-profile-1.7.2.Final.svg
 - startup-alloc-profile-1.3.4.Final.svg
 - startup-cpu-profile-1.7.2.Final.svg

[2020-09-09 12:34] dmlloyd commented on #11782
Sure, go ahead.

[2020-09-09 12:35] johnaohara commented on #12002
@rsvoboda looking

[2020-09-09 13:02] famod commented on #9301
FTR: This is still a problem with 1.7.2.Final. My team also ran into this recently.

@mkouba & @phillip-kruger WDYT? Is this something thank can be fixed?

[2020-09-09 13:08] ebullient commented on #12000
Let me double check why that doesn't work.. and what the most appropriate fix is given the two extensions. Won't take long, I don't think. ;)

[2020-09-09 13:12] mkouba commented on #9301
Yes, we just need to handle the `@RegisterClientHeaders` annotations like we do for `@RegisterProvider`. I'll send a PR.

[2020-09-09 13:18] geoand commented on #12006
Unless I am reading this wrong, I am pretty sure what you are seeing is the desired behavior, because JAX-RS will use the ExceptionMapper whose generic type best matches the exception - which is `QuarkusRestViolationExceptionMapper` in this case (this is JAX-RS [spec](https://github.com/jax-rs/spec/blob/master/spec.pdf) behavior).

So to get the described behavior, you need to use the specific exc

[2020-09-09 13:19] #11863 closed

[2020-09-09 13:24] loicmathieu commented on #12000
Capability is the standard way to do this kind of dependency check as it requires no maven dependencies. It has been design for this use case.

[2020-09-09 13:27] tlvlp commented on #12006
@geoand thanks, it makes sense.

What I was trying to achieve is to have a central exception mapper, assuming that it would override all exception mappers, instead of creating a separate class for each exception type and having other handlers working in the background without being clearly visible for whoever has to maintain the code after me.

[2020-09-09 13:28] famod commented on #9301
Awesome, thanks @mkouba!

[2020-09-09 13:32] ebullient commented on #12000
Yes — but there aren’t enough constants, and their meaning changes. As of 1.7, we added a different way for metrics. It also does not require maven dependencies (the BuildItems mentioned are in core)

[2020-09-09 13:33] geoand commented on #12006
Yeah, I don't think you can do that AFAIK

[2020-09-09 13:34] loicmathieu commented on #12000
OK then, if no maven dependencies I'm OK with it ;)

[2020-09-09 13:50] gsmet commented on #12006
I don't know if `@Priority` would help there. Maybe @asoldano can say for sure?

[2020-09-09 14:03] aloubyansky commented on #12003
/cc @Sanne @stuartwdouglas

[2020-09-09 14:23] juanmanuelz commented on #461
I'm using a workaround. Using the information here https://www.objectivity.co.uk/blog/cucumber-parallel-scenarios-junit5-gradle/ and https://github.com/cucumber/cucumber-jvm/tree/master/junit-platform-engine . In addition to that, I had to create some code to mimic what happens when @QuarkusTest is used (I will write you back with the details, is nothing worth a gist or a reference here because is

[2020-09-09 14:38] evanchooly commented on #11926
Attached!  I kept the kotlin version in place for comparison's sake but the e2e tests invoked the java api now

[manyrest-java.tar.gz](https://github.com/quarkusio/quarkus/files/5195917/manyrest-java.tar.gz)

[2020-09-09 14:43] evanchooly commented on #11974
Is it safe to assume we would *always* need the jackson kotlin module?  On the one hand, it's just a jar probably few would notice but some might quibble at the unnecessary jar.  I'm thinking of, say, kafka projects.  Do they need/use jackson for serialization or would it just be the RESTy front end type apps.  For that matter, even REST wouldn't necessarily need jackson if the payloads were simpl

[2020-09-09 14:44] ebullient commented on #12000
Patch is pretty simple -- give it a whirl?

[2020-09-09 14:47] geoand commented on #11974
The reason we don't add this automatically, is because we don't have a kotlin + jackson extension - so there is no natural place to put this dependency that would make sense.
For me it isn't safe to assume that all Kotlin projects will include Jackson - and the reverse is of course even more unreasonable.

What we do do (as mentioned in the documentation), is activate the Kotlin Jackson module if

[2020-09-09 14:47] gastaldi commented on #4206
@ia3andy I executed the following command and still I can't reproduce your error:

[code]

[2020-09-09 14:49] loicmathieu commented on #12000
I'm building Quarkus with this patch now.
I'll let you know if it fixes the issue.

[2020-09-09 14:50] gsmet commented on #8588
@geoand as discussed, I think this one is important.

Also see https://stackoverflow.com/questions/63813368/can-t-push-to-gitlab-registry-quarkus-jib-build

[2020-09-09 14:52] geoand commented on #8588
I'll try and carve out some time to play with GitLab and see how we can improve

[2020-09-09 14:56] bframke commented on #11411
ohh, yeah there was a change in camel-quarkus, good to know, thanks. Thought everything I put in there was enough, but I guess for me he pulled it out my local cache.

[2020-09-09 15:20] johnaohara commented on #12002
One significant change is that QuarkusJagerTracer is being initialized in the event loop in 1.7.2.Final, whereas in 1.3.4 this was occurring in the worker pool. The event loop is a SingleThreadEventExecutor and QuarkusJagerTracer initialization is doing a whole bunch of loading key stores, intializing SSLCiphers and loading classes.  This will add overhead to the startup of the application.

[2020-09-09 15:20] evanchooly commented on #11974
Ah.  So this sounds like a non-issue then and it's already being handled behind the scenes.  Is there anything to done here, then?

[2020-09-09 15:21] tlvenn commented on #7665
Thanks !

[2020-09-09 15:22] geoand commented on #11974
I personally don't see anything else we can do here - theoretically we **can** add the dependency on our own, but I really don't think we want to start doing that kind of thing...

[2020-09-09 15:26] evanchooly commented on #11974
I tend to agree.  what about if we enhanced the add-extension plugin to detect the need and silently include it then?

[2020-09-09 15:27] geoand commented on #11974
That does sound like a good idea to me.

@ia3andy what do you think?

[2020-09-09 15:36] andrejpetras commented on #5657
Hi,
I need to create MP RestClient which needs to call endpoint secured with the Keycloak OpenID.
My application itself does not have any security and does not need any security.

Do we have simple example how to setup and configure the MP RestClient to call secured endpoint with a KC?

BR,
Andrej

[2020-09-09 16:01] arvidvillen commented on #5958
I just happened to see this issue and I think it could be closed as there already exist an extension and a guide.

[2020-09-09 16:10] Sanne commented on #12003
There had been some problems indeed; see #10807 . I'm not a build expert though, perhaps there's a better solution? But unless someone had the bandwith to properly investigate this, I'd rather not revert this.

I hope you don't mind, I'll relabel this from bug to feature request.

[2020-09-09 16:20] arvidvillen opened #12012 "Property for disabling liquibase migration logs"
**Description**
Sometimes (e.g. in test profile) it would be nice to disable the liquibase migration logs.

It seems that you are unable to disable the logging using `quarkus.log.category."liq.exe.jvm".level=ERROR`.
I think the problem is that liquibase does not use slf4j but im not sure as I dont know that much about the internals.

**Implementation ideas**
Something like `quarkus.liquibase.migra

[2020-09-09 16:22] aloubyansky commented on #12003
I did have an option to turn this check off originally.

[2020-09-09 16:32] laguiar commented on #11974
Hi @evanchooly @geoand
My initial idea was exactly to detect automatically on https://code.quarkus.io that both kotlin + jackson was added to the project dependencies and place the extra ```jackson-module-kotlin``` on gradle/maven file.

I had to figure out the missing dependency when some json parsing was failing already in my tests, because my first expectation was that it was already on classhp

[2020-09-09 16:34] gsmet commented on #5958
Ah yes, thanks!

[2020-09-09 16:34] #5958 closed

[2020-09-09 16:34] gastaldi commented on #12003
Trying to understand the use case here:

What's wrong in having your web resources in `src/main/resources/META-INF/resources`? You'll still end up having a JAR that can be referenced as a dependency in other modules (which IMHO is better than what the WAR plugin does by creating a second JAR).

[2020-09-09 18:01] sberyozkin opened #12015 "Create RH-SSO CI job"
**Description**
It will be useful to have a CI job which will be triggered only when a new PR updates `quarkus-keycloak-authorization` extension or `integration-tests/keycloak-authorization` and which start the latest Keycloak product image.
This job should also set a `rh-sso` (or similar) system property so that the `integration-tests/keycloak-authorization` tests can use it to skip the tests whi

[2020-09-09 18:12] geoand commented on #12015
Hey @sberyozkin ,

I personally don't have any experience with jobs that only run when changes are made - but it shouldn't be hard to write I think.

Alternatively we could have a cron job

[2020-09-09 18:27] maxandersen commented on #11974
this should not be limited to code.quarkus.io - this should behave consistently across our tool chain.

do we have examples on other similar implicitly needed dependencies (that users must add and we can't add for them elsewhere) ?

wondering if we should add a metadata to extensions to act as hint what could be recommended to add.

[2020-09-09 18:45] #9301 closed

[2020-09-09 19:29] pedroigor commented on #12015
@sberyozkin The only problem I see about that is that changes in dependencies (e.g.: quarkus-oidc) that could affect the extension would only be checked after changing the extension itself.

[2020-09-09 21:02] geoand commented on #11974
@maxandersen this one is the only such case I can think of

[2020-09-09 21:23] Sanne commented on #11926
ok, I see now. It's not possible to bind an array into a parameter like you're doing.

I'm not sure why you use an update query - why don't you simply load and modify the Interest object?

[2020-09-09 21:31] Sanne commented on #11926
Incidentally, the `read(UUID id)` is unnecessary: you only need it because you're extending the wrong repository.

extend ` PanacheRepositoryBase<JavaAccount,UUID>` since your object uses an UUID as primary key; then you can load objects by using the method `findById`

[2020-09-09 21:34] Sanne commented on #11926
Then the correct implementation of the update method also becomes much easier:

    @Transactional
    public void updateInterests(UUID id, List<JavaInterest> interests) {
        JavaAccount javaAccount = findById( id );
        javaAccount.interests = interests;
    }

I hope that makes sense?  I'll close this as it's not a bug.

[2020-09-09 21:34] #11926 closed

[2020-09-09 22:45] matejvasek opened #12019 "Funqy QueryObjectReader not working in native image."
**Describe the bug**

Funqy QueryObjectReader not working in native image.

Note that jackson object reader works fine.

**Expected behavior**

[code]

**Actual behavior**
To reproduce call sample greeting function:
[code]

In the application log:
[code]

[2020-09-09 22:46] matejvasek commented on #12019
/cc @patriot1burke

[2020-09-09 22:47] matejvasek commented on #12019
Java version:
openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment GraalVM CE 20.1.0 (build 11.0.7+10-jvmci-20.1-b02)
OpenJDK 64-Bit Server VM GraalVM CE 20.1.0 (build 11.0.7+10-jvmci-20.1-b02, mixed mode, sharing)

Quarkus verions:
1.7.2.Final, 1.8.0.CR1

[2020-09-09 22:53] matejvasek commented on #12019
[code]

[2020-09-10 01:16] stuartwdouglas commented on #461
Do you have a simple @QuarkusTest + Cucumber example I could look at to see if I could get it to work? I have never used cucumber, so I am not really sure what the expectation is here, but I think I would need to write a custom quarkus-cucmber module to integrate them.

[2020-09-10 01:53] wjsgzcn opened #12020 "Gelf in native image takes too long time to start"
**Describe the bug**
Using gelf, when build and run in NATIVE mode, my app takes about 15 second to start. Running app using -Dquarkus.debug.print-startup-times=true, and find the gelf takes very long time to "build".
[code]

In JVM mode,  "GelfLogHandlerProcessor.build" takes only 1ms.

**Environment (please complete the following information):**
 - Output of `java -version`:  11
 - GraalVM versi

[2020-09-10 01:57] stuartwdouglas commented on #9837
Is there a reproducer somewhere for the agent based instrumentation issue?

[2020-09-10 03:31] n1hility commented on #6026
Any updates on this issue? Should it be moved to 1.9?

[2020-09-10 03:32] n1hility commented on #9264
@michalszynkiewicz @cescoffier should we split this issue into 1.8 and 1.9? It looks like we aren't going to get to everything in time for 1.8

[2020-09-10 03:35] n1hility commented on #9269
@stuartwdouglas @FroMage Is this work mostly complete? Do you think it will make 1.8, or should we split it into a 1.9 followup task?

[2020-09-10 03:36] n1hility commented on #9449
@cescoffier This is looking like a 1.9 item now? wdyt?

[2020-09-10 03:37] n1hility commented on #9003
@evanchooly Any updates here, or should this be moved to 1.9?

[2020-09-10 03:38] n1hility commented on #5843
@gavinking @emmanuelbernard @FroMage what should we do with this task, 1.9? Close?

[2020-09-10 03:40] n1hility commented on #9211
@evanchooly should we move this to 1.9?

[2020-09-10 03:41] n1hility commented on #10373
@evanchooly Should this be moved to 1.9?

[2020-09-10 05:11] geoand commented on #12019
Should just be a matter of registering the proper classes for reflection

[2020-09-10 05:22] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/247468180

[2020-09-10 05:28] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/247469329

[2020-09-10 05:40] esteveavi opened #12021 "Add support for reactive client for Google Pub/Sub service"
**Describe the extension**
It should be great if there were an extension for Google Pub/Sub service equivalent of the AWS SNS.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Additional context**
(Add any other context about the proposal here.)

[2020-09-10 06:23] kny78 commented on #11549
@geoand After I updated to Kotlin 1.4.10 and Quarkus 1.8.0.Final, I still get an error:

[code]

There is another test in the project, without "@QuarkusTest", but with the same code. It runs as it should.

Project link: [https://github.com/kny78/quarkus-kotlin14-jackson-fail](https://github.com/kny78/quarkus-kotlin14-jackson-fail)

[2020-09-10 06:53] ia3andy commented on #6026
Yeah it was merged for 1.9: https://github.com/quarkusio/quarkus/pull/11450

[2020-09-10 07:03] ia3andy commented on #11974
There is also `Qute` `RESTEasy` and `RESTEasy Qute` for example, and I think there are some other. I think we need to have a new `require-extensions` field in the extensions metadata. Then we would just have to auto-add the extension when the `require-extensions` are all in the set of selected extensions. In the other direction also, if `RESTEasy Qute` is selected, it will auto-add `Qute` and `RES

[2020-09-10 07:18] cescoffier commented on #9449
In 1.9, we will only support Kafka. (CC @kenfinnigan).
Other connectors will come next.

[2020-09-10 07:19] cescoffier commented on #9269
There is still work to do.
The fusing approach directly in Mutiny didn't provide the expected output, and the performance gains are meaningless.

[2020-09-10 07:20] cescoffier commented on #9264
The remaining issues are mostly going to be 1.9 / 1.10.

[2020-09-10 07:45] Teg79 opened #12022 "Error connecting Postgres cluster on AWS"
**Describe the bug**
After upgrading to 1.8.0.Final the Postgres DataSource fails to connect.
It works against a local DB, but fails with the AWS Aurora Postgres instance.
The same AWS Postgres connection from DBeaver is working fine.
With Quarkus 1.5.2.Final it works.

**Expected behavior**
We expected that the connection is successful

**Actual behavior**
Cannot connect to the AWS Postgres insta

[2020-09-10 08:04] rvansa opened #12023 "Sending transfer-encoding headers over HTTP2"
**Describe the bug**
I access quarkus over SSL, negotiating HTTP2. RESTeasy (?) adds the `transfer-encoding` header to some calls even though this goes over HTTP2 where this header is not allowed, resulting in errors in Chrome (`net::ERR_HTTP2_PROTOCOL_ERROR`) or curl (`http2 error: Invalid HTTP header field was received: frame type: 1, stream: 1, name: [transfer-encoding], value: [chunked]`). Fir

[2020-09-10 08:06] rvansa commented on #12023
CC @johnaohara

[2020-09-10 08:08] #12000 closed

[2020-09-10 08:10] galderz commented on #12002
As already hinted, there's a lot of differences in the variables above to narrow down this: different Quarkus source, different GraalVM version, different underlying JDK version.

@rsvoboda On the Mandrel side, I'll take a loot at trying to run Quarkus 1.7.x with GraalVM 19.3.1 and report back.

[2020-09-10 08:14] machi1990 commented on #11974
@ia3andy interesting. I'd thought that the `RESTEasy Qute` extension came with the `RESTEasy` and `Qute` extensions automatic.

[2020-09-10 08:15] gsmet commented on #12022
@Teg79 can you downgrade the PostgreSQL JDBC driver version to what it was in 1.5.2.Final?

That would be `42.2.12`.

[2020-09-10 08:16] gsmet commented on #12012
You need to use the fully name of the category. The name is shortened in our logs.

[2020-09-10 08:22] gsmet commented on #11974
We don't have a mechanism that automatically adds extensions. IIIRC, @Sanne wanted that in the beginning and others weren't excited about it thus why it was never done.

BTW, `requires-extensions` is very misleading, it's more something like `extensions-triggering-inclusion` that you want (name is equally bad but that's the idea) or something like that. And you would need the ability to add severa

[2020-09-10 08:23] Teg79 commented on #12022
@gsmet It is the same driver version

[2020-09-10 08:27] arvidvillen commented on #12012
Ah, sorry, my mistake. Thanks for the fast reply!

I can confirm that `%test.quarkus.log.category."liquibase.executor.jvm.JdbcExecutor".level=ERROR` works as expected.

I do, however, think it would be nice with a general property as to not be dependent on the liquibase internals.

But if you feel that this is unnecessary, or too much work for to little gain, please feel free to close this issue.

[2020-09-10 08:29] johnaohara commented on #12023
This occurs when the payload in `Response.ok()` is large enough to be chunked, smaller payloads are returned correctly

[2020-09-10 08:30] tisoft commented on #11891
I tried this with 1.8.0.Final, but get the following exception:

application.properties:
[code]

[code]

Is there anything else I need to configure?

[2020-09-10 08:45] dejanb opened #12024 "Dependency on slf4j-jboss-logging violates Apache license"
**Description**

org.jboss.slf4j:slf4j-jboss-logging:jar:1.2.0.Final is still LGPL licensed and quarkus-core use it as a dependency. This prevents Quarkus to pass IP due diligence process (in Eclipse projects for example).

**Implementation ideas**
Other JBoss logging modules moved to Apache license, so it seems reasonable to do it for this one as well if possible. If it is not, use some of the ot

[2020-09-10 08:50] gsmet commented on #11974
Also, I don't think I would put it in the metadata but I would leverage the build steps and have a `SuggestedExtensionBuildItem` that would be collected and then displayed nicely in a unified way.

That would allow for much more flexibility.

[2020-09-10 08:55] gsmet commented on #12024
/cc @jamezp @dmlloyd

[2020-09-10 09:07] loicmathieu commented on #12021
There is already on openned PR for this : #9745

[2020-09-10 09:15] maxandersen commented on #11974
@gsmet wouldn't that mean it gets printed on every build ?

[2020-09-10 09:17] maxandersen commented on #11974
also - tools should be able to reason about this *without* running quarkus build imo. that doesn't exclude us doing some builditem thing additional but just seems like for this usecase its "too late" to do this at quarkus buildtime.

[2020-09-10 09:18] wicksim opened #12026 "Hibernate's @AnyMetaDef in package-info.java not working"
**Describe the bug**
`@AnyMetaDef` is not recognized by Hibernate when placed inside `package-info.java` (which is considered best practice).

Exception: ` org.hibernate.AnnotationException: Unable to find @AnyMetaDef for an @(ManyTo)Any mapping`

**Expected behavior**
`@AnyMetaDef` defined in `package-info.java` should be recognized by Hibernate.

**Actual behavior**
`@AnyMetaDef` defined in `pac

[2020-09-10 09:20] jameschu commented on #10695
Manually create TemplateInstance for each resource method is really really annoying..

[2020-09-10 09:36] geoand commented on #11891
@tisoft how were you able to reproduce that?

[2020-09-10 09:59] fluoxa commented on #10147
Hello @jaikiran , did you find time to working on it?

[2020-09-10 10:10] mkouba opened #12028 "Qute RESTEasy Integration - document RestTemplate"
`io.quarkus.resteasy.qute.RestTemplate` is not mentioned anywhere in the guides.

[2020-09-10 10:18] mkouba commented on #10695
@FroMage We could return a Map, or?

@jameschu Is it? You can also try to use `io.quarkus.resteasy.qute.RestTemplate` which derives the name of the template from the resource class and resource method name. I personally don't see a big difference between in UX between `@Template` + `return service.findItem(id)` and `return RestTemplate.data("item", service.findItem(id))`. In fact, I find the latte

[2020-09-10 10:19] Sanne commented on #11974
Thanks for pinging me! Indeed the lack of automatcally controlling additional dependencies has been bothering me for a while, and I believe the time could be right. I'll send a proposal to the list.

[2020-09-10 10:21] gavinking commented on #5843
Wll I would still like to see this be integrated in such a way that Quarkus+Hibernate users can take easy advantage of it.

[2020-09-10 10:35] sberyozkin commented on #12015
Hey @geoand sure, thanks; sorry, what I meant is to have a GitHub action which would trigger, once either of those 2 (+ `quarkus-oidc`) get updated, only, probably, `NativeSecurity3` CI job; I think we did something similar for the docs ?

[2020-09-10 10:38] sberyozkin commented on #12015
@pedroigor Hey, not sure I understand :-), if we include `quarkus-oidc` in the check list then it should be fine ?

[2020-09-10 10:39] geoand commented on #12015
@sberyozkin I see. Then @gsmet is probably best equiped to answer :)

[2020-09-10 10:58] sberyozkin commented on #12015
@geoand thanks. We can certainly add `RH SSO Service` [here](https://github.com/quarkusio/quarkus/blob/master/.github/workflows/ci-actions.yml#L622), alongside `Keycloak Service`, which will be identical, the only difference will be an RH-SSO image name.
And probably to have it published on a different port, say `--publish 8190:8080`.
And then add similar to [this section](https://github.com/quark

[2020-09-10 11:28] jameschu commented on #10695
Hi Martin, thanks for the tip.

I also found your google group reply earlier
https://groups.google.com/g/quarkus-dev/c/4tX_Z8qtpJ8/m/qKfhMM7uDAAJ

I dont know if you heared about playframework (version 1.x). it "was" a great java framework.

https://www.playframework.com/documentation/1.2.x/controllers#result

[2020-09-10 11:56] loicmathieu opened #12029 "Micrometer extension didn't work with the security-oauth2 extension"
**Describe the bug**
When using micrometer extension and security-oauth2 I have the following exception:

[code]

The exception didn't occurs if I remove the security extensions.
The exception didn' occurs with smallrye-metrics.

This is the complete list of extensions I use: agroal, cdi, flyway, hibernate-orm, hibernate-orm-panache, hibernate-validator, jaeger, jdbc-postgresql, micrometer, mutiny

[2020-09-10 11:56] loicmathieu commented on #12029
/cc @ebullient

[2020-09-10 12:44] matejvasek commented on #12019
@geoand probably yes. I just wonder why JSON deserialization works just fine?

[2020-09-10 12:46] geoand commented on #12019
Not sure TBH, haven't looked at Funqy at all :)

[2020-09-10 12:50] patriot1burke commented on #12019
I'm on vacation this week, but this is probably because classes aren't registered for reflection.  JSON works because the quarkus-jackson plugin is registering that default constructors should be created.  At least that's my guess.

[2020-09-10 13:12] geoand commented on #12019
I'll have a look.

@matejvasek how can I easily reproduce this?

[2020-09-10 13:14] kenfinnigan commented on #9449
Right, do we need an OpenTelemetry extension for Quarkus for 1.9 as well, or are we ok with users needing to add OpenTelemetry into their application for "day one"?

[2020-09-10 13:19] kenfinnigan commented on #11965
Not sure I get your point on the gateway. If an application exposes its root endpoint, which is common with microservices, doesn't that make `/openapi` or `/health` automatically exposed?

[2020-09-10 13:31] phillip-kruger commented on #11965
Sure, and that is the case even without adding `/health` to openapi

[2020-09-10 14:07] pschyma commented on #11549
Same here. After upgrading to 1.8.0.Final I still see the errors in my tests.

Using kotlin 1.4.0 it's still the "kotlin/kotlin.kotlin_builtins" error and with 1.4.10 the new one reported by @kny78.

Additionally, I had to change my code which used kotlin reflection to perform some injection in `@QuarkusTest`s, because this also failed on 1.4.10 with the "kotlin.Any not found" error.

I'm also add

[2020-09-10 14:12] geoand commented on #11549
Looks like fun :)

[2020-09-10 14:15] tisoft commented on #11891
It fails everytime with my real test, but I haven't been able to extract a minimal reproducer yet. Might be caused by extensions I'm using, or something funny in my test case. Will report back as soon as I have a reproducer, I can share.

[2020-09-10 14:50] geoand commented on #11549
Took a super quick look at this and didn't get far... If someone with knowledge of Kotlin internals want to take a stab at this, be my guest :)

[2020-09-10 14:59] pedroigor commented on #10147
@fluoxa @jaikiran I was able to run the main class using Quarkus Integration Plugin for InteliJ and it works fine for what I need.

[2020-09-10 15:12] pschyma commented on #11549
I tried to debug this for a short time, but my breakpoints were never hit in the tests.

Maybe I'll find some time on the weekend to understand kotlin internals here.

Meanwhile I made another observation: when I remove the "reflect" dependency and Gradle pulls the 1.3.72 version from jackson-module-kotlin, my tests work again on Quarkus 1.8.0.Final. On Quarkus 1.7.3.Final hibernate-types fails to

[2020-09-10 15:27] 38leinaD commented on #11966
@gsmet @kenfinnigan could you have a look at this? for a quarkus migration i need a way to control the multiple jax-rs applications we have in our JEE application. As multiple jax-rs applications seem not easily possible in quarkus (https://github.com/quarkusio/quarkus/issues/11415), this would provide an easy way to at least "merge" multiple rest applications into one without giving up the sepera

[2020-09-10 16:00] evanchooly commented on #10373
yes, please.  i'm working on cleaning up some integrations and want to get it done correctly.

[2020-09-10 19:42] emfataliev commented on #11824
#https://github.com/resteasy/Resteasy/pull/2510

[2020-09-10 21:07] galderz commented on #12002
I've done some running with [this branch](https://github.com/galderz/quarkus/tree/t_graalvm193), which sets minimum GraalVM version to 19.3.1 and I've seen [this liquibase failure](https://gist.github.com/galderz/05c07b05a368d889d432af5005d4fbf9). A somehow similar exception was reported with Kotlin, but I've not seen it before. Also, it could already be fixed in 19.3.3...

Anyway, in spite of thi

[2020-09-10 21:29] evanchooly commented on #9211
yes, it should.  i'm wrapping this one up but i'm trying to align it with the java side of the world and want it done correctly and it's run in to a few snags i want to take the time to wrangle properly.

[2020-09-10 22:01] asoldano commented on #11824
https://issues.redhat.com/browse/RESTEASY-2689

[2020-09-10 22:38] dhoffer opened #12036 "quarkus-config-yaml causes ClassCastException"
I converted my application to using yaml for the properties so I added this dependency (1.7.3.Final):

<dependency>
<groupId>io.quarkus</groupId>
<artifactId>quarkus-config-yaml</artifactId>
</dependency>

I then converted the properties to yaml.
storefront.path.appConfig.1=/storefront/appConfig/*
storefront.path.appConfig.2=/storefront/storefront/appConfig/*
storefront.path.training.1=/storefront

[2020-09-10 23:40] asoldano commented on #12006
CC @ronsigal

[2020-09-10 23:51] maxandersen commented on #11965
this all sounds reasonable imo. agree with @kenfinnigan security concern but making this an optional opt-in and there is a usecase for azure to make it even work I think we should be fine.

[2020-09-11 00:46] evanchooly commented on #9003
Definitely move it

On Wed, Sep 9, 2020, 11:37 PM Jason T. Greene <notifications@github.com>
wrote:

[2020-09-11 00:47] evanchooly commented on #10373
Definitely move it

On Wed, Sep 9, 2020, 11:41 PM Jason T. Greene <notifications@github.com>
wrote:

[2020-09-11 02:44] kostacasa commented on #12006
I also tried to define a "catch-all" style ExceptionMapper and ran into this issue. @Priority didn't do the trick for me. There are many different ExceptionMappers defined on the classpath that "overtake" exceptions and return all sorts of weird and unpredictable responses. This is undesirable behavior, especially when trying to standardize an API error response format.

I ended up catching except

[2020-09-11 05:22] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/249242103

[2020-09-11 05:29] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/249243444

[2020-09-11 05:48] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/249242251

[2020-09-11 07:05] geoand commented on #12036
cc @radcortez

[2020-09-11 07:22] sherl0cks opened #12039 "Amazon Lambda HTTP Extension with Java 11: An illegal reflective access operation has occurred"
**Describe the bug**
Looks like an aws dependency brings in jackson afterburner which has issues with using protected. Should I open a bug with the upstream AWS repo? Perhaps quarkus can remove this dependency? Do CI tests not check against java 11 for this extension?

- https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/How.20to.20get.20rid.20of.20the.20ILLEGAL.20messages
- https://g

[2020-09-11 07:32] loicmathieu commented on #10873
@gsmet @geoand @aguibert I want to move on for this one as one of my PR to fix an issue is waiting on it.

Is adding `java.lang.String` to the `WHITELISTED_FROM_IGNORED_PACKAGES` of `ReflectiveHierarchyBuildItem` ok for you guys ? If fixes the issue but I don't know if it can have side effects?
I can easily provides a PR for this, it's a oneliner ;)

[2020-09-11 07:45] geoand commented on #10873
Yeah, I don't think we want to register String for reflection TBH... If it's absolutely necessary, then I assume we only want to register its constructors

[2020-09-11 08:08] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/249426674

[2020-09-11 08:26] loicmathieu commented on #10873
@geoand the issue is that in this case we don't know if it's needed or not to register it. `ReflectiveHierarchyBuildItem` harvest all possible classes to register for reflection so if we don't add `String` to this discovery mechanism how can we know that we need to register it ?

A solution will be to register it in any cases as it is highly probable that it is already registered for reflection an

[2020-09-11 08:27] antonwiens opened #12040 "Smallrye-JWT config property naming bug"
The config property smallrye.jwt.decrypt.key-location is implemented wrong in smallrye-jwt with the name smallrye.jwt.decrypt.key.location. There is already a implemented but not released bugfix underway:
https://github.com/eclipse/microprofile-jwt-auth/issues/193

You can find the wrong implementation in this class: io.smallrye.jwt.config.JWTAuthContextInfoProvider#decryptionKeyLocation

My sugge

[2020-09-11 08:33] antonwiens commented on #12040
Actually i read it wrong. It should actually be named "smallrye.jwt.decrypt.key.location" so naming it like that in the quarkus documentation would be the fix.

[2020-09-11 08:35] geoand commented on #10873
So yeah, I would prefer if in the jsonb extension we just register String's constructor for reflection and nothing else.

[2020-09-11 08:43] gsmet opened #12041 "Upgrade Quarkus HTTP to 3.0.15.Final"
We need this fix in: https://github.com/quarkusio/quarkus-http/pull/42 .

[2020-09-11 08:45] gsmet commented on #12022
@Teg79 please report back so that we know if there's a bug in the JDBC driver or something else fishy.

[2020-09-11 08:46] gsmet commented on #12026
Could you prepare a small Maven reproducer?

Thanks!

[2020-09-11 08:52] emfataliev commented on #11824
@asoldano, thanks for fixing this important bug! @D01B thanks to you too!
when will these fixes be in quarkus?

[2020-09-11 09:03] loicmathieu commented on #10873
OK, I'll give it a try

[2020-09-11 09:07] lburgazzoli commented on #11411
@bframke is the issues fixed by adding camel-main ?

[2020-09-11 09:19] bframke commented on #11411
No, in the main project where I did a copy from and where camel-main is already in because of open-tracing this still happens.

[2020-09-11 09:19] maxandersen commented on #6184
seems this is a problem again thus reusing it as it was never closed.

This should be trivial to move to github actions - any objections on doing that ? lets make it happen :)

[2020-09-11 09:22] maxandersen opened #12042 "CI status page"
**Description**
form @gsmet:
"I would like to have a CI Status page with everything CI in
Quarkus (Quarkus itself, CI Ecosystem, Quickstarts, Snapshots publication and so on). I know I can get the information by having a look at several
specific places, but a simple and unified status page hosted somewhere with
proper links would be extremely helpful. I will prepare the UI and collect
the things w

[2020-09-11 09:29] bframke commented on #11411
Yeah, I'm checking currently again in the reproducer, had some new errors, because of some tests I did some days ago.

[2020-09-11 09:36] bframke commented on #11411
Okay, added the missing camel-main to the reproducer, also just in case upgraded to 1.7.2 (also tested with 1.7.1) and now I get terminated during auth. So we are after the SASL Error from the beginning.

So looks like it works with this, maybe we an bigger error in our project or it is already resolved and we didn't know.

[2020-09-11 09:39] lburgazzoli commented on #11411
cool, I'll try to create a reproducer in any case on camel-quarkus so we can spot similar issues in case

[2020-09-11 09:49] sberyozkin commented on #12040
@antonwiens thanks for spotting it

[2020-09-11 10:01] lburgazzoli commented on #11411
@bframke can we close this issue ?

[2020-09-11 10:18] radcortez commented on #12036
I'll have a look.

[2020-09-11 10:20] rsvoboda opened #12043 "Unsatisfied dependency for type io.vertx.db2client.DB2Pool and qualifiers with Quarkus master, works with 1.8.0.Final"
I see Unsatisfied dependency for type io.vertx.db2client.DB2Pool and qualifiers with Quarkus master (6588419c63) when running daily GH CI check on https://github.com/quarkus-qe/beefy-scenarios. Works well with 1.8.0.Final.

[code]

Reproducer (expecting Quarkus master was built beforehand):
[code]

Running with Quarkus 1.8.0.Final works fine (`mvn clean verify -pl 002-quarkus-all-extensions/ -Dqua

[2020-09-11 10:43] geoand commented on #12043
@gsmet could this be because of the config change?

[2020-09-11 10:46] bframke commented on #11411
Yes, we are away from the original problem. If it occurs anew I will open it, else there will be another one :D

[2020-09-11 10:46] #11411 closed

[2020-09-11 11:04] pipinet commented on #11725
still existing... in version 1.7.2.Final

[2020-09-11 11:30] radcortez commented on #12036
Snakeyaml does use the type of the key to represent the data. This is inline with the YAML specification.

This is usually fine, but since we need to flatten this to convert it into a `ConfigSource` that only deals with Strings it becomes a problem. I've made a fix to SR Config to convert every key to a String. This only applies to the conversion to a `ConfigSource`. If you try to parse the YAML y

[2020-09-11 11:34] rsvoboda commented on #12002
To check diff between GraalVM 19.3 and 20.1 I applied patch Galder mentioned in previous comment and executed `mvn clean test -Dtest=StartStopTest#fullMicroProfileNative -Ptestsuite -Dquarkus.version=999-SNAPSHOT` command twice for each version.

**19.3.1.r11-grl**
AVG timeToFirstOKRequest without min and max values: 64
AVG timeToFirstOKRequest without min and max values: 64

**20.1.0.r11-grl**
AV

[2020-09-11 11:39] yuriyz commented on #11644
@banovp here is how we solved it on our side, maybe it will help in your case too
https://github.com/GluuFederation/oxauth-config/issues/165#issuecomment-691041339

[2020-09-11 12:05] geoand commented on #8588
I think we'll have to introduce a new (optional) property in container-image config which will basically contain the entire string.

[2020-09-11 13:04] loicmathieu commented on #10873
PR #12045 workaround the issue by registering the constructors of String inside the jsonb extension.
But this is a workaround so we need to better understand what's going on on Yasson side for `Optional<String>`.

@gsmet suggested on the following comment to open an issue on Yasson: https://github.com/quarkusio/quarkus/pull/12045/files/ec0c7aaa39d758c31db1ff2f756710f4f1e42f18#r487019525

I don't k

[2020-09-11 13:11] danipenaperez opened #12047 "Native Build fails by ByteBuffer usage via google-cloud-pubsub"
**Describe the bug**
On Java non native mode works fine, but fails at native image generation by :
`Caused by: com.oracle.graal.pointsto.constraints.UnsupportedFeatureException: Detected a direct/mapped ByteBuffer in the image heap. A direct ByteBuffer has a pointer to unmanaged C memory, and C memory from the image generator is not available at image run time.A mapped ByteBuffer references a file

[2020-09-11 13:27] akruel commented on #11329
Guys, initially thank's for amazing work!

Any news for this issue?

[2020-09-11 13:28] benDeMtp opened #12048 "Quarkus-rest-client should support proxy authentication"
**Description**
In some infrastructure the outgoing traffic must go through a proxy.
And in some cases, this proxy requires basic authentication.

By convention java use these properties to parameters a proxy :
http(s).proxyHost
http(s).proxyPort
http(s).proxyUser
http(s).proxyPassword

Although the properties http(s).proxyHost and http(s).proxyPort are supported by quarkus-rest-client, there is n

[2020-09-11 13:28] gsmet commented on #12043
Yeah, it's related to that.

I fixed some other unrelated issue but this one I need to understand what's going on.

[2020-09-11 13:42] gsmet commented on #12043
Yeah, so the reactive extensions have a bug that was hidden before that. I will fix it.

[2020-09-11 13:46] geoand commented on #12043
Cool!

[2020-09-11 14:01] loicmathieu commented on #12047
@danipenaperez `google-cloud-pubsub` is not yet supported by Quarkus, there is no extension for it.

Normally, you would need to refer this issue on Google Cloud PubSub side or try to make native works by yourself ...

But, your are lucky ;) I start working on adding support for Google Cloud PubSub some times ago and we might have an extension soon or later on Quarkus. The PR is #9745

[2020-09-11 14:37] cescoffier commented on #12048
@radcortez @kenfinnigan Any idea?

[2020-09-11 14:44] danipenaperez commented on #12047
nice to ear it!!  Seems to be advanced, I hope will be included in next version
thanks @loicmathieu

[2020-09-11 15:00] geoand commented on #8588
This is a good opportunity to consolidate the container image resolution and information passing - so I'll pick it up on Monday

[2020-09-11 15:02] kenfinnigan commented on #12048
I couldn't find anything about providing security credentials in RESTEasy documentation either.

@asoldano, @patriot1burke, @FroMage might know how.

I did find this though: https://stackoverflow.com/questions/30776211/jax-rs-unable-to-authenticate-to-proxy

Not pretty, but could work. We could then look to implement something nicer in RESTEasy

[2020-09-11 15:18] dhoffer commented on #12036
Thanks for the quick response.  Sounds good.

[2020-09-11 15:21] gsmet commented on #8588
Yeah or you could imagine it being some string template with placeholders.

[2020-09-11 16:06] TobiWeier opened #12050 "Microprofile OASFilter only executed during build - not in runtime"
**Describe the bug**
A microprofile org.eclipse.microprofile.openapi.OASFilter implementation (e.g. for setting authorizationUrl during runtime) is only executed during maven build - but not during runtime. Because of this, the OASFilter is not usable for make settings in different environments.

**Expected behavior**
OASFilter should executed during runtime

**Actual behavior**
OASFilter only is

[2020-09-11 16:40] machi1990 commented on #12050
/cc @phillip-kruger

[2020-09-11 17:20] gastaldi commented on #12024
@dejanb where do you see that information? The sources in https://github.com/jboss-logging/slf4j-jboss-logging/tree/1.2.0.Final indicate it's ASL (it's inherited from jboss-parent)

[2020-09-11 17:24] gsmet commented on #12024
https://github.com/jboss-logging/slf4j-jboss-logging/blob/1.2.0.Final/pom.xml#L8

[2020-09-11 17:26] gastaldi commented on #12024
@gsmet thanks, should've checked the sources first, I was looking at the pom.xml only :)

[2020-09-11 21:02] mostafacs commented on #11923
This is the [reproducer project](https://github.com/mostafacs/quarkus-issue). When I'm using BigDecimal as a member in a model class I got this exception.
[code]

[2020-09-12 07:39] vsevel commented on #11329
we need to drop the special property loading that is done in the vault extension today.
we are waiting for a release of the smallrye config project as discussed here https://github.com/quarkusio/quarkus/issues/9991#issuecomment-656816961, which should solve https://github.com/quarkusio/quarkus/issues/11921, and hopefully this issue too.

[2020-09-12 09:22] alsasian opened #12055 "Non-standard proxy forwarded headers are not being parsed"
**Describe the bug**

Non-standard proxy forwarded headers are not being parsed, even though both standard and non-standard forwarded headers configurations are enabled. This behavior contradicts information at https://quarkus.io/guides/vertx#running-behind-a-reverse-proxy.

The corresponding implementation at [ForwardedParser.java](https://github.com/quarkusio/quarkus/blob/1.7.3.Final/extensions/

[2020-09-12 11:51] Nunalves opened #12056 "Ability to start test resources in parallel (concurrently)"
**Description**
At the moment it is not possible to start test resources in parallel. (`@QuarkusTestResource` annotated test with `QuarkusTestResourceLifecycleManager` implementation classes)

The use case for me, is that i'm using integration test style tests and sometimes i have to start more than one container (eg: oracle DB and keycloak auth server). It would really speed up test execution if

[2020-09-12 12:09] #12019 closed

[2020-09-12 12:13] #11949 closed

[2020-09-12 15:27] haroonsin opened #12058 "OpenAPI/SwaggerUI displaying EntityManager schema for PanacheEntity Pojo"
**Describe the bug**
When a rest resource has panache entity pojo as request body, the open api spec and swagger ui lists entity manager representation as the value instead of the pojo. I could see that if the any normal pojo which isn't an PanacheEntity works fine.
A sample application can be found here - https://github.com/haroonsin/quarkus-openapi-panacheentity.git

**Additional context**
[code

[2020-09-12 15:35] gsmet commented on #12058
I think it just displays the `EntityManager` as an attribute of the `Book`.

Is there an annotation we could add to have this field ignored by SmallRye OpenAPI?

[2020-09-12 15:37] phillip-kruger commented on #12058
@Schema(hidden=true)

[2020-09-12 18:13] phillip-kruger commented on #12058
Maybe @gytis can help here. When panache generate the code add the above hidden on ?

[2020-09-12 19:20] gsmet commented on #12058
It's not generated, it's coming from here: https://github.com/quarkusio/quarkus/blob/master/extensions/panache/hibernate-orm-panache/runtime/src/main/java/io/quarkus/hibernate/orm/panache/PanacheEntityBase.java#L43 .

And I think it's a new issue as the method was recently renamed to have a `get` prefix.

We could add the annotation but that means we will have a dependency on the OpenAPI annotatio

[2020-09-12 19:23] gsmet commented on #12058
@FroMage @gastaldi this one keeps on giving: https://github.com/quarkusio/quarkus/pull/10611 ...

I wonder if it was such a good idea to rename it to a getter given it's a problem for a ton of libraries.

We could add one more ignore for OpenAPI.

[2020-09-12 20:07] MikeEdgar commented on #12058
SmallRye OpenAPI *should* be ignoring this since it understands the JSON ignore annotations. I am betting that it's being flagged as a "write only" attribute and appearing because of that. It might not be a bad idea for "write only" attributes to properly be flagged as hidden when there is no setter.

[2020-09-12 21:28] gastaldi commented on #12058
@gsmet yeah, I also agree that we shouldn't have renamed that. Maybe we should revert that change and deprecate that method

[2020-09-13 00:27] martin-liu opened #12062 "Quarkus Tika's configuration `quarkus.tika.tika-config-path` not work in `quarkus:dev` run"
**Describe the bug**
Tika config `quarkus.tika.tika-config-path=tika-config.xml` not work in `quarkus:dev`

**Expected behavior**
It should work in both `quarkus:dev` and `java -jar` run when set `tika-config-path`

**Actual behavior**
When run with ` ./mvnw quarkus:dev`, it throws below exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://code.quarkus.io/ , add `A

[2020-09-13 06:38] arturobrzut opened #12063 "Quarkus kubernetes sidecars EnvVar do not work"
**Describe the bug**
Hi,

I am trying to generate sidecar configs with env variables using quarkus application.properties. I have below in my application.properties.

quarkus.kubernetes-client.trust-certs=true
quarkus.container-image.name=supersonicjava
quarkus.container-image.registry=quay.io
quarkus.container-image.group=arturobrzut

quarkus.kubernetes.sidecars.mariadb.image= mariadb:10.5.5
quar

[2020-09-13 06:59] rsvoboda commented on #12002
mvn clean test -Dtest=StartStopTest#fullMicroProfileNative -Ptestsuite -Dquarkus.version=1.3.0.Final
36 ms

mvn clean test -Dtest=StartStopTest#fullMicroProfileNative -Ptestsuite -Dquarkus.version=1.3.4.Final
36 ms

mvn clean test -Dtest=StartStopTest#fullMicroProfileNative -Ptestsuite -Dquarkus.version=1.4.0.CR1
63 ms

mvn clean test -Dtest=StartStopTest#fullMicroProfileNative -Ptestsuite -Dquark

[2020-09-13 09:19] ejba commented on #10922
Hi everyone,

@sladyn98 @viveksahu26 are you already working on this issue?

[2020-09-13 10:12] rolandhaas commented on #11644
I fight the same issue. Do we have an update on this?
Until a proper fix we will remain on version 1.6.x of quarkus (unfortunately the provided workourd doesn't seem to be working on our side)

[2020-09-13 16:26] viveksahu26 commented on #10922
No I am not working on it..

[2020-09-13 18:54] sberyozkin commented on #12055
@alsasian Hi, but were the standard headers available in the forwarded request ?

[2020-09-13 19:13] ejba commented on #12055
Hi @alsasian,

I don't know if I getting the real question here but I interpret that according with the documentation, when both configurations (i.e. standard or non-standard headers) are combine, quarkus parses *only*  the Forwarded header (not both).

[2020-09-13 20:07] famod commented on #9837
@stuartwdouglas I just modified the quickstart:
- clone https://github.com/famod/quarkus-quickstarts.git
- switch to issue-9837-jacoco-online
- cd tests-with-coverage-quickstart
- mvn clean verify

target/site/jacoco* will then not contain any coverage for `GreetingResource` (it does with the offline flavor).

PS: I kept the separation into UTs and ITs, which makes it a bit more complex.

[2020-09-13 20:32] ejba commented on #12055
Having second thoughts about it, @alsasian is right! The documentation as it is does not follow the implementation. The idea was to describe that when both combine, *only* forwarded header is parsed (as the original implementation did before my PR). @sberyozkin It's a matter of fixing doc.

[2020-09-13 23:33] yuhaibohotmail opened #12067 "Unable to build Hibernate SessionFactory error with native mode in 1.8.0.final"
**Describe the bug**
(Describe the problem clearly and concisely.)

When run in  native mode , program will report " Unable to build Hibernate SessionFactory" error with either multiple persistence units or  single persistence units.

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**T

[2020-09-14 01:30] ThomasSousa96 opened #12068 "Quarkus Websocket sometimes not send the object"
**Describe the bug**

I'm using [Quarkus WebSocket](https://quarkus.io/guides/websockets) in my app. I have a Session list and when occurs some event in my app I sends a message to the opened sessions.

[code]

 * This forEach is executed inside a managedExecutor.runAsync method.

The problem is that frequently I send a message, the result handler returns `isOK() == true`, but the message is not s

[2020-09-14 02:39] alsasian commented on #12055
@ejba thanks for the clarification. Indeed, I was expecting some kind of failover mechanism to parse custom header when standard header is not provided. I was not sure whether the issue is with the doc or the implementation.

Thanks again for checking :thumbsup:.

[2020-09-14 03:18] stuartwdouglas commented on #9837
So it looks like this is hard coded into the maven plugin, so we can't override it to look at the transformed classes.

The best way forward might be to create a Quarkus jacoco extension. We could perform the instrumentation using our existing transformers, and do the reporting based on the transformed classes.

[2020-09-14 05:02] geoand commented on #12063
@metacosm do you want to take a look at this one?

[2020-09-14 05:28] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/253225526

[2020-09-14 05:29] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/253225423

[2020-09-14 05:29] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/253226813

[2020-09-14 05:40] geoand commented on #8593
@lburgazzoli we have a failure in ` quarkus-universe-integration-tests-camel-jdbc`:

[code]

cc @gsmet since this **may** be related to other jdbc failures we've seen.

Maybe all that is going is that the test is using the old - no longer  support jdbc config syntax?

[2020-09-14 05:53] wicksim commented on #12026
Here it is: [package-info-bug.zip](https://github.com/quarkusio/quarkus/files/5216385/package-info-bug.zip)

There is a test in the project and when building with `mvn clean install` the error should appear. Commenting in the `@AnyMetaDef`-annotation in the `Entity`-Class should fix it.

[2020-09-14 05:53] mariofusco commented on #8694
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/253226605

[2020-09-14 05:55] geoand commented on #8694
@evacchi @mariofusco seems like there is some GraalVM related issue:

[code]

[2020-09-14 06:07] lburgazzoli commented on #8593
@jamesnetherton @ppalaga FYI

[2020-09-14 06:10] jamesnetherton commented on #8593
It's already fixed on our side. I'll add a fix for quarkus-platform when I upgrade the Camel version later today.

[2020-09-14 06:11] cescoffier opened #12069 "Add native test for the mailer extension"
**Description**
Add integration tests for the mailer extension.
There are "mock" mail servers that can be used:

[code]

**Test**

- [x] Send text email
- [x] Send HTML email
- [x] Send email with attachment
- [x] Send email from template
- [x] Send email with custom headers
- [x] Send email with multiple recipients
- [ ] Send emails with the blocking client

[2020-09-14 06:27] evacchi commented on #8694
so it looks like returning a Resource from a jar holds onto some reference that native-image dislikes. Maybe it is safer to unpack it to disk? @mariofusco

[2020-09-14 06:53] RohanHart commented on #3127
https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#entity-pojo-accessors states that getters/setters are not required. I've not found any documentation indicating that they are required to be used for bytecode-enhanced dirty checking to work.

[2020-09-14 07:02] geoand commented on #8588
https://github.com/quarkusio/quarkus/pull/12070 should take care of this

[2020-09-14 07:34] geoand commented on #11966
So basically what you are looking for here is to have a flag that will allow the Quarkus build to proceed in the presence of multiple `javax.ws.rs.Application.Application` classes, by essentially ignoring those classes altogether?

[2020-09-14 07:40] metacosm commented on #12063
Yes, I'll take a look.

[2020-09-14 07:43] 38leinaD commented on #11966
Yes, exactly. Because in quarkus the application class does not provide anything except the path; all dynamic features like the getClasses method are not used anyway. So, it would be a pragamtic option for a migrating project to just ignore the different application classes altogether so the quarkus default application is used. So, all rest applications are merged under one path.

For a migration

[2020-09-14 07:47] geoand commented on #11966
I'm personally fine with this option.

@gsmet @kenfinnigan @FroMage WDYT?

[2020-09-14 08:06] evacchi commented on #8694
@geoand https://github.com/kiegroup/kogito-runtimes/pull/761

[2020-09-14 08:16] ejba commented on #12055
@alsasian I am the one should say thanks here! ;)

[2020-09-14 08:44] xstefank opened #12071 "/health/well is not exposed"
**Describe the bug**
In SR Health 2.2.2 we've introduced the experimental Wellness feature - https://github.com/smallrye/smallrye-health/releases/tag/2.2.2 that also introduced a new health endpoint -- `/health/well` which is not currently exposed by Quarkus. Please note that `@Wellness` annotated checks are still collected in the `/health` endpoint.

**Expected behavior**
`/health/well` is expose

[2020-09-14 08:44] xstefank commented on #12071
I will also take this to fix.

[2020-09-14 08:45] loicmathieu commented on #12058
OK for me (I was against the renaming anyway ...)