[2021-03-26 18:51] mrizzi commented on #15961
@gytis thanks for the info :+1:

I've tried to have a look at the code before and after having opened this issue and the best idea I had to analyzed this was to use the `quarkus.debug.transformed-classes-dir` and `quarkus.debug.generated-classes-dir` options to read the code but I found no way to debug the test execution.

Have you got a better approach to share for debugging methods created for a

[2021-03-26 18:57] sberyozkin commented on #8506
@rsvoboda #16060 will fix it for `quarkus-oidc`

[2021-03-26 18:58] sberyozkin opened #16061 "OIDC Client extension should start without the configuration"
See #8506

[2021-03-26 19:11] sberyozkin commented on #15831
@igor-dmitriev I've been thinking about this issue - so there is no need to introduce a property to delay `quarkus-oidc` initialization until the very first request as one can already do it with a custom resolver.

Instead of
[code]

you can do

[code]

and register a custom [TenantContextResolver](https://quarkus.io/guides/security-openid-connect-multitenancy#programmatically-resolving-tenants-co

[2021-03-26 19:26] famod commented on #15940
@geoand Thanks a lot for this rapid turnaround!

[2021-03-26 19:26] geoand commented on #15940
YW!

[2021-03-26 21:06] Sanne opened #16062 "Check that no dependencies include native-image metadata"
## Description

Library maintainers are now encouraged to add metadata for native-image within the jar files to improve the out-of-the-box experience on GraalVM native.

This is great as it will likely, on average, reduce the friction to adopt native-image in the larger ecosystem; however we've already witnessed that in some cases such metadata might be incompatible with flags from other libraries

[2021-03-26 21:30] renegrob opened #16063 "@Scheduled add Support for Default Value and for Switching Timer Off"
## Description

The `@Scheduled` annotation currently allows the attributes `cron`, `every` and `delayed` to contain a fix value or reference a property value by an expression `{propertyname}`.
I suggest to offer a default value for the property expression: e.g. `@Scheduled(every = "{mytask.interval:5m}")` -> If the property `mytask.inteval`is `null` then the default value `5m` is used.
Also it is

[2021-03-26 23:13] jonathan-meier commented on #16040
@fkaltner I wasn't able to reproduce it. The containerized native image build worked fine for me in the minikube cluster on macOS (`$BySpaceAndTime` stayed attached to the `CollectionPolicy` class, as expected), though I'm not entirely sure whether I did the same thing as you do.

What is the relevance of the NFS share arguments for `minikube start`? I don't see where in the reproduction we need t

[2021-03-27 00:31] aadityasinha-dotcom commented on #16044
Thanks for your reply. Can you briefly explain me about because I am new to open source contributions.

[2021-03-27 01:14] cchacin commented on #9722
Initial PR: https://github.com/quarkusio/quarkus/pull/16066

[2021-03-27 02:52] nicolas-vivot commented on #15182
FYI, I'm ok not fixing this. I agree that open telemetry support should be the priority.

But open telemetry is not yet mature on all the expected features (logging for example), especially when it comes to 3rd party vendors (like datadog) who do not yet provide full support on their collector's exporter.

Because of that, some people will continue to stay with open tracing for a while (that's my

[2021-03-27 03:50] kenfinnigan commented on #15182
Though OpenTelemetry is still working on metrics and logs, tracing is GA and stable.

What else is needed to move away from OpenTracing?

[2021-03-27 06:17] nicolas-vivot commented on #15182
Technically nothing.

But - and i will talk only for myself and the company i work for - it has a cost depending on the monitoring vendor you're using.
In my case it's datadog.
We have a small kubernetes cloud infra with a few apps and monitor all of this with datadog. We have the datadog agent installed & running on each cluster to monitor. Logs, traces and metrics pass by that agent before being

[2021-03-27 07:16] glefloch commented on #16023
@kdubb thanks for reporting this I will have a look on both issue.

[2021-03-27 07:43] krisachai opened #16067 "Qute template failed to compile javascript syntax"
## Describe the bug
I followed this quickstart [guide ](https://quarkus.io/guides/security-openid-connect#single-page-applications) to the part that I need to create an static html page (coped from the link above).

[code]
However, the page that I created throws error
[code]

due to this particular javascript syntax **{onLoad**
[code]
I'm able to access the login page after I put a whitespace betw

[2021-03-27 09:28] glefloch commented on #16067
@krisachai have you tried escaping `{ˋ with `\{ˋ ?

[2021-03-27 09:38] bcluap commented on #16050
Thanks @geoand for the analysis.

Playing around with your suggestion a bit I found I could get it to work by using an executor and passing the thread context explicitly. This was however about 50% slower than just setting the thread context on the eventloop itself as and when required (e.g. every 1000 items when we want to clear the EM). This means we only set the context when actually needed.

[

[2021-03-27 09:45] geoand commented on #16050
Looks pretty nice!

On another note, this is another case where the stateless session from Hibernate would be great.
The reason is that the results of the query would be not be tracked and therefore there would be no need to clear the session.
We really need to get that documented and we will soon

[2021-03-27 10:37] bcluap commented on #16050
Thanks. Thats a nice tip:

[code]

Works as well. Same performance.

[2021-03-27 10:40] maxandersen commented on #16044
For creating pull request see https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

For the issue see the description and then locate the error and try fix it :)

[2021-03-27 10:44] geoand commented on #16050
Excellent 👌

[2021-03-27 12:08] jaikiran commented on #16042
Hello @jerboaa, I've opened https://github.com/quarkusio/quarkus/pull/16069 with a fix. Turns out this issue isn't related to GraalVM dev version and instead is reproducible even with latest released versions. Looks like we don't run this integration tests in native mode in our CI, which is why it wasn't caught earlier.

[2021-03-27 12:11] s0l0c0ding opened #16070 "RestEasy returns status code 200 instead of 307 when using Response.temporaryRedirect during test"
## Describe the bug
RestEasy returns status code 200 instead of 307 when verifying the  Response.temporaryRedirect with RestAssured

### Expected behavior
status code 307 should be returned

### Actual behavior
a 200 status  code is returned

## To Reproduce

run the test GreetingResourceTest

in this repo https://github.com/s0l0c0ding/bug-resteasy-restassured

Steps to reproduce the behavior:
1.

[2021-03-27 14:37] kenfinnigan commented on #15182
Makes sense, thanks for the details.

We'd be more than happy to have you submit the extension to the quarkiverse!

[2021-03-27 15:32] renegrob commented on #16063
@radcortez I found your comment in smallrye-confi: https://github.com/smallrye/smallrye-config/issues/198#issuecomment-601777924. And I noticed that https://smallrye.io/docs/smallrye-config/interceptors/interceptors.html#expression-interceptor is already in the Quarkus core. So I suggest to use that instead of having a proprietary implementation here. It already covers all the substitution feature

[2021-03-27 16:15] sberyozkin commented on #16058
@vsevel Hi Vincent, by the way, can `VaultConfigSource` have its own timer ?

[2021-03-27 17:51] u6f6o commented on #3954
I run into the same issue today (I suppose). Initially I used the following data class to de-serialize a  json resource (via rest client):

[code]
It worked without any problem in the non-native mode but as soon as I deployed the application in native mode, the de-serialization failed. After some time, I figured out, that it works if I annotate the stations field with a `@JsonProperty` annotation:

[2021-03-27 23:47] maxandersen commented on #16032
started in #16046

[2021-03-28 05:42] #16042 closed

[2021-03-28 09:42] vsevel commented on #16058
@sberyozkin hello Sergey, it could, but I would rather not burn a thread just for the vault config source cache refresh. it would be better if there was a central pool in quarkus for those kind of scheduled tasks.

[2021-03-28 11:26] cescoffier commented on #16037
No problem to switch to String. URI was providing some formatting rules, validating the user input.

I'm actually surprised that underscore is not supported. I need to check the official URI format to check.

[2021-03-28 13:01] pmlopes commented on #16037
Vertx redis uses URI to parse the connection string. Just need to verify if underscores are working as expected. I don't know why it shouldn't tbh.

[2021-03-28 16:18] famod commented on #14751
So, I have to confirm that it's not working in native mode (I extended the IT locally).

@gsmet @andrejpetras AFAICS, the included files are picked up here and end up in the native app:
https://github.com/quarkusio/quarkus/blob/1.13.0.Final/extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java#L349
But I suppose it then fails to find them in this exe

[2021-03-28 19:26] magnusvage commented on #16037
@pmlopes seems to have been reported for at least a few years.
This bug report talks about java.net.URL accepting underscores, would that be an easier fix than moving to a String perhaps?
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8180809

[2021-03-28 21:02] artysidorenko commented on #11045
After looking through the startup steps used by the [QuarkusTestExtension](https://github.com/quarkusio/quarkus/blob/main/test-framework/junit5/src/main/java/io/quarkus/test/junit/QuarkusTestExtension.java#L181), I put together a simplified version that manages to start the application through the `CdiObjectFactory`. It requires `junit-vintage-engine` but aside from that re-uses most things from q

[2021-03-28 21:35] maxandersen opened #16076 "qute not handling missing getter well"
## Describe the bug

if I iterate a map defined without getter i.e.

[code]

and then do:

[code]

I get this non informative error:
[code]

### Expected behavior
I would at first expect qute to just access the field since there is no getter - but i'll open that as separate issue.

second I would expect we can tell the user that it is about `{catalog.aliases}` not being resolvable or similar?,,,

[2021-03-28 21:40] maxandersen opened #16077 "Qute should handle non-public field only classes better"
## Description

would it not be feasible to have qute handle accessing fields like this:

[code]

right now i see to have to add getters or make the fields public.

which I could kinda live with but since jackson access them just fine and my class does not need the fields to be public to use it would be nice qute wasn't picky :)

in case there are some technical reasons for not doing it then could

[2021-03-28 22:19] #16047 closed

[2021-03-29 06:28] geoand commented on #12111
The error is:

[code]

[2021-03-29 06:43] mkouba commented on #16067
This is a known limitation. You have several possibilities:
1. Add a whitespace or any other invalida identifier after the `{; see also https://quarkus.io/guides/qute-reference#identifiers
2. Use the escape sequence `\{` (as mentioned by @glefloch)
3. Use [unparsed character data](https://quarkus.io/guides/qute-reference#unparsed-character-data) surrounded by `{|` and `|}`
4. Use [content filters]

[2021-03-29 06:47] ia3andy commented on #12956
We introduced `--examples` (https://github.com/quarkusio/quarkus/pull/14681) to override the extension examples selection.

The idea here is a bit different since it would not override but add codestarts to the existing pre-selection.

Still, I think having an open `--codestarts` option would be too hazardous, for now we only have `github-action` which would be relevant so we could just add a new

[2021-03-29 06:52] ia3andy commented on #15997
😱 🙈

@maxandersen @aloubyansky  this is tricky tricky I don't see any easy way out, any thoughts?

[2021-03-29 06:55] aloubyansky commented on #12956
BTW, @ia3andy, not sure whether you are aware, the shortcut for examples `-e` kind of collides with `-e` for logging stacktraces. Currently to enable the stacktraces `-e` should be put in before the command.

[2021-03-29 06:56] geoand commented on #16070
There is no bug in either RESTEasy or RestAssured, it's just how RestAssured behaves - it follows redirects by default.

You can update your test method to

[code]

if you don't want to follow redirects

[2021-03-29 06:56] #16070 closed

[2021-03-29 06:58] aloubyansky commented on #15997
Can't we add resteasy as the default one _only_ if the user didn't provide a list of desired extensions?

[2021-03-29 07:22] mkouba commented on #16076
Well, the `aliases` field is not `public` and we mention in the docs several times that non-public members are ignored when generating the value resolver classes. The original idea was that non-public members are not part of the public API and thus not intended to be accessed from templates. We could change this behavior but then the obvious question could follow: if you support package-private th

[2021-03-29 07:31] maxandersen commented on #15997
Or have a way to say either / or for dependent extensions?

[2021-03-29 07:31] pmlopes commented on #16037
@cescoffier one of the reasons why URI is being used instead of URL was because in the past URL forced the whole network stack and ssl support to be included on a native image. If this isn't a problem anymore changing it upstream in `vertx-redis-client` isn't a problem

[2021-03-29 07:49] andlinger opened #16081 "Difference in object serialization between REST and REST reactive"
We are trying to serialize a MonetaryAmount object. However, the CurrencyUnit member of this object is serialized differently in REST and REST Reactive.

In REST, the attached serializer (see class `io.i15s.quarkus.objectmapper.ObjectMapperConfiguration`) is used and therefore the object is formatted correctly:

[code]

But when we use REST Reactive, the serializer is not used and the object is fo

[2021-03-29 07:57] loicmathieu commented on #15782
@stuartwdouglas @geoand if nothing can be done at our side (according to me, updating a dependency code via bytecode injection is not a solution), can one of you open an issue upstream on the PostgreSQL client ?
I'm not sure why loading a class without a CL is not a good idead so I don't know how to describe the bug and the possible side effect of them moving to the TCCL.

[2021-03-29 08:05] pmlopes commented on #16037
Having a look at `URL` it will not work to parse the connection string because it will not allow the `redis`/`rediss` protocol

[2021-03-29 08:07] gytis commented on #15961
Good question but unfortunately I don't have a good answer to that. Maybe @geoand has some suggestions on debugging the generated/transformed code?

But specifically for this case, I've changed the generated code to use `persist` and the update worked as you'd expect. However, the creation stopped working.

[2021-03-29 08:08] pmlopes commented on #16037
The RFC 1123 also dissallows the usage of `_` in domain names, so that is why I think the JDK classes don't allow it. Windows, however, may allow it if used in netbios: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-2000-server/cc959336(v=technet.10) but they recommend avoiding it if names are to be resolved outside windows (which is the case).

[2021-03-29 08:11] machi1990 commented on #16037
So our best option is to leave it as it is and ask user to not include underscore in domain names?

[2021-03-29 08:13] magnusvage commented on #16037
I think this is an issue of RFC/specs vs. reality. Agreed, the specs say no to underscores, but in reality it has become somewhat prevalent (but one could argue it is a bad design choice on the Docker Swarm side to generate hostnames like this).

[2021-03-29 08:31] geoand commented on #15961
I usually do `mvn package -Dquarkus.package.fernflower.enabled=true -DskipTests`.
That results in `target/decompiled` being created which contains all generated and transformed code.
Then I try to understand what went wrong by looking at that :)

[2021-03-29 08:37] jerboaa commented on #16042
@jaikiran Excellent. Thank you!

[2021-03-29 08:42] maxandersen commented on #16076
`if you support package-private then why not private members?` package-private are actually accessible between these classes so I would consider them part of the contract. private I could grok would be off-limits. Isn't it at least possible to have the error message detect the presence of package-private to help user guide them?

if NOT_FOUND is the cause of `[io.quarkus.qute.Results$Result]` show

[2021-03-29 08:53] geoand commented on #16059
@michalszynkiewicz would you like to look into this?

[2021-03-29 08:54] ia3andy commented on #12956
ok I created https://github.com/quarkusio/quarkus/pull/16082

[2021-03-29 09:09] mkouba commented on #16063
I think that the possibility to specify the defaults and the "disabled" state might be very useful.

+1 to add support for the `${property}` syntax.

I'm not so sure about the "nested expressions" and "property substitution" though. I find the syntax quite complex and hard to read. Plus the additional value is questionable.

[2021-03-29 09:20] maxandersen commented on #12607
@cescoffier having partial support notion could be useful i  think but what are the current examples we are aware of that is "partial" ? is it like "sometimes it works" or "user has to do something to see it work/fail" ?

[2021-03-29 09:22] mkouba commented on #16076
Yes, it's part of the "package" contract. It's questionable whether a template is part of the package but I get your point.

The problem is that at its core qute does not care about methods at all. There is a "value resolver" abstraction that can be built on top anything (e.g. extension methods). So if a property is not found then we don't know whether it's a private method or what caused the prob

[2021-03-29 09:23] geoand commented on #16081
I'll check it out

[2021-03-29 09:30] essobedo commented on #16053
@aloubyansky Hi, WDYT of this enhancement and the related PR proposal? It is somehow the next step of https://github.com/quarkusio/quarkus/pull/15356.

[2021-03-29 09:31] maxandersen commented on #16076
I'll say having come back to qute a few times now using it works pretty damn well, except that I see to always get confused about NOT_FOUND and the related error messages around it.

Like, of all the strategies I think NOT_FOUND is the worst to have as default.

As our goal is to catch errors AND still allow developers to work I feel throw-exception or output-original + possibly a warning log woul

[2021-03-29 09:34] michalszynkiewicz commented on #16059
@geoand there's clearly some conflict between resteasy and resteasy-reactive. Users have reported such things in a few other places too, IIRC.
Do we want to support such a mix?

[2021-03-29 09:40] geoand commented on #16059
Well, ideally we would.

Practically, if there is something simple we can do to separate stuff without too much effort, that would be nice.

Otherwise we need to start making it very clear in docs (and perhaps a warning during the build), that users should use the new client.

[2021-03-29 09:42] aloubyansky commented on #16053
I commented on the PR. Thanks!

[2021-03-29 10:01] maxandersen opened #16087 "qs build / devmode should call out to jbang if app.java or src/app.java present"
## Description

qs dev / build supports maven and gradle.

didnt add jbang support yet as no clean way to detect it.

now jbang has notion of default "app" which we could utilize and thus make it so
if "app.java" is present assume it is a jbang project and call out to `jbang build`, `jbang run -Dquarkus.dev`, etc.

[2021-03-29 10:05] renegrob commented on #16063
Well, if we use `io.smallrye.common.expression.Expression` which is already in Quarkus core then it comes out-of-the-box although it might not add that much value. I think it makes sense to support everywhere the same expressions consistently. Else you end up with it looks the same but behaves slightly different than when used in this other extension.
Else I'd rather stick with the "{property}" sy

[2021-03-29 10:24] stuartwdouglas commented on #16059
Won't there be issues with all the JAX-RS providers if we have both on the ClassPath?

[2021-03-29 10:24] nirodg commented on #6807
You can also use annotations `@PermitAll`, no token verification. Works at class and method level

As an example,
[code]

[2021-03-29 10:25] mkouba commented on #16063
Ok, it makes sense to reuse the existing SM stuff. I'd still prefer not to propagate these features though.

+1

Well, we could just prepend the `$` to the top level expression if needed, e.g. `{foo.bar}` would become `${foo.bar}` before the SM expression is parsed.

[2021-03-29 10:31] geoand commented on #16059
I thought this issue was only about `quarkus-resteasy-reactive` and the `quarkus-rest-client` being in the same application, which I would have hoped would work.
But if we think it won't work at all, we should start warning users.

[2021-03-29 10:37] renegrob commented on #16063
+1
I can easily change that in the PR.

So should we prevent: `delay="${myconf.delay}s"`or `every="${myconf.task1.interval:${myconf.default.interval:off}}"` ?

[2021-03-29 10:49] michalszynkiewicz commented on #16059
I'd rather we kept the RR and RestEasy classic worlds separate...
Anyway, I don't have the capacity to take a look at it now.

@Faboli7 would using rest-client-reactive be an option for you? The API is the same, nearly all features are covered. The drawback is that rest-client-reactive has just been added in Quarkus 1.13 so may be more buggy, and, until the quarkus platform is released, you'd have

[2021-03-29 10:54] mkouba commented on #16063
Well, I don't think we need to prevent this. We could just mention that the syntax follows the SM expression rules, add a link, and only show the simple examples, i.e. `${my.conf.delays:10s}` or `{my.conf.delays:off}`.

[2021-03-29 11:01] Sgitario opened #16089 "Regression issue: Wrong port in OpenShift route"
## Describe the bug
(Describe the problem clearly and concisely.)

### Actual behavior
The port in the route is set to 80 and it should be 8080.

## To Reproduce

Steps to reproduce the behavior:
1. `mvn io.quarkus:quarkus-maven-plugin:999-SNAPSHOT:create     -DprojectGroupId=org.acme     -DprojectArtifactId=openshift-quickstart     -DclassName="org.acme.rest.GreetingResource"     -Dpath="/greetin

[2021-03-29 11:07] Sgitario commented on #15953
Any updates about this issue? I could not find any workaround in our side yet as it seems that it's also picking AnsiLogger when: https://github.com/dekorateio/dekorate/blob/7d9a96f0ba3c07983ed89db81b3c84dddfa63433/core/src/main/java/io/dekorate/LoggerFactory.java#L49

I could make it worked when setting `LoggerFactory.setLogger(new NoopLogger());` at the beginning of the KubernetesProcessor.build

[2021-03-29 11:08] geoand commented on #15953
@iocanel are you looking at this?
Is there some quick fix we can do in Quarkys?

[2021-03-29 11:11] radcortez commented on #16063
Let me know if you need help.

[2021-03-29 11:22] geoand commented on #16081
I am not sure if this is a Jackson Databind or Jackson Datatype Money problem, but in any case https://github.com/zalando/jackson-datatype-money/pull/283 should take care of the issue.

[2021-03-29 11:53] lburgazzoli opened #16092 "tooling: provide a quarkus:run goal"
## Description

Quarkus provide a very nice development mode but it would be nice to have also support for running projects without dev support.

This is quite useful for example projects so people can check them one and do

    # jmv
    mvn quarkus:run
    # native
    mvn:quarkus:run -Dnative

In the camel-k-runtime project, we [implement](https://github.com/apache/camel-k-runtime/blob/master/e

[2021-03-29 12:04] kenfinnigan opened #16093 "Add Quickstart/Guide for OpenTelemetry extension"
## Description

Add a guide and quickstart for OpenTelemetry

[2021-03-29 12:10] huseyin-kilic commented on #8242
Hello, is there any update on this issue? Thank you.

[2021-03-29 12:15] iocanel commented on #15953
@geoand @Sgitario: I haven't had the time to look at it and I won't manage to look at it before Thursday.

But, here are some thoughts for everyone that wants to go for a fix.
The extension is meant to be using the `NoopLogger` this was either broken in one of the recent refactorings, or the changes in dekorate 2.x no longer respect the set logger (the former seems more likely).

AFAIR, we were se

[2021-03-29 12:18] #16023 closed

[2021-03-29 12:22] geoand commented on #15953
We already seem to have https://github.com/quarkusio/quarkus/blob/main/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/KubernetesProcessor.java#L135.

Furthermore it doesn't seem like we can access Dekorate's logger any other way.

[2021-03-29 12:28] radcortez commented on #16058
I'm not opposed to provide a way for Config to be more reactive friendly.

It is unlikely to see such feature in MP Config directly (at least for the foreseeable future) so we would need to provide our own interface of `ConfigSource` to extend the API. We already have https://github.com/smallrye/smallrye-config/blob/8f45017cea7210410f01cba4f5d8f7f7dc65dd1b/implementation/src/main/java/io/smallrye/

[2021-03-29 12:29] Karm commented on #15889
@sberyozkin

You can download snapshots here:

https://ci.modcluster.io/view/Mandrel/job/mandrel-21.0-linux-build/
https://ci.modcluster.io/view/Mandrel/job/mandrel-21.0-windows-build/

[2021-03-29 12:37] aloubyansky commented on #8242
@stuartwdouglas another alternative would be to intercept an "before test" event, read the plugin config, resolve the effective app model taking the plugin config into account, serialize it and read it in the quarkus test extension.
I've been considering app model serialization before the test launch anyway because the effective model resolution from the quarkus test extension is significantly slo

[2021-03-29 12:38] geoand commented on #16089
Thanks for reporting!

Actually the best way to fix this would be to remove

[code]

from the Route definition altogether.

@iocanel how can we do that?

[2021-03-29 12:57] jerboaa commented on #15889
@sberyozkin It should be reproducible with Graal VM 21.1.0-dev snapshots from here too: https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20210325_0249

[2021-03-29 12:59] #15820 closed

[2021-03-29 13:12] iocanel commented on #16089
Not sure if this is behavior between different openshift versions, or a doc issue, but I'll have to look at it closer.
Till then, this can be worked around:

[code]

[2021-03-29 13:18] geoand commented on #16089
Yeah, that is nice for getting around the problems now,  but the OOTB Route doesn't work - which we definitely need to fix for users :)

[2021-03-29 13:22] krisachai commented on #16067
Thank you all, I will close this issue as it is a known limitation.

[2021-03-29 13:22] #16067 closed

[2021-03-29 13:41] sberyozkin commented on #15889
@Karm @jerboaa thanks :-)

[2021-03-29 14:17] ivannov opened #16095 "Load configuration properties from Consul KV folders"
## Background

At the moment an application developer load the configuration from Consul's Key Value store using the Quarkus consul-config extension.

You can either obtain a single config property from a list of Consul key/values via:

[code]

Or you can load a bunch config properties from a Consul key/value that is laid out as a properties file via:

[code]

In both cases the Consul paths should

[2021-03-29 14:29] danberindei commented on #15816
@mirostary I added a comment on https://issues.redhat.com/browse/QUARKUS-876

The gist of it is you're suspending the Infinispan server container, but the connection you're interrupting is from curl to the `simple-infinispan` application, and the interruption doesn't stop the application from doing whatever it started to do with the server.

[2021-03-29 14:30] sberyozkin commented on #16095
Linking to [CredentialsProvider](https://quarkus.io/guides/credentials-provider) just in case

[2021-03-29 14:31] #16052 closed

[2021-03-29 14:32] geoand commented on #16081
https://github.com/zalando/jackson-datatype-money/pull/283 was merged so I'll go ahead and close this

[2021-03-29 14:32] #16081 closed

[2021-03-29 14:34] sberyozkin commented on #16058
@vsevel Sure, what can be difficult is for this centralized timer task to decide which sources to refresh. @loicmathieu mentioned an idea of a `Watch` in the forum.
The individual custom source can run the task on the Blocking executor provided by Quarkus - I guess it would be used in any case...

[2021-03-29 14:42] geoand commented on #15721
Is someone working on this or should I take it?

[2021-03-29 14:49] andlinger commented on #16081
awesome! thank you

[2021-03-29 15:01] SaumyaSingh1 commented on #15721
Sure,
These days, I am exploring Prod Stuff so not working on this :)

[2021-03-29 15:16] ppalaga commented on #5244
Blocked by https://github.com/oracle/graal/issues/2908

[2021-03-29 16:00] Andro999b opened #16099 "JWT Config key behevior different in native and jvm mode"
## Describe the bug
`mp.jwt.verify.publickey.location` is build time config key in native mode
and runtime in jvm mode

### Expected behavior
`mp.jwt.verify.publickey.location` to  be runtime evaluated in both jvm and native

### Actual behavior
`mp.jwt.verify.publickey.location`  evaluate during build in native mode

Steps to reproduce the behavior:
1. Use env varaible in `mp.jwt.verify.publickey

[2021-03-29 16:04] Faboli7 commented on #16059
Hi all and thanks for your replies.

@michalszynkiewicz The reasons why I used quarkus-rest-client is because I was already using it in my project and according to [this paragraph](https://quarkus.io/blog/resteasy-reactive/#do-other-extensions-work-with-it) it was supposed to work, and according to the second part of [this paragraph](https://quarkus.io/blog/resteasy-reactive/#what-jax-rs-features-

[2021-03-29 16:05] cescoffier commented on #12607
We had partial support in the past, but I fixed them recently (Avro, Snappy).
So, I don't have more examples from my side. However, having a dependency having some kind of support but part of the API unsupported won't be rare.

UPDATE: MP Fault tolerance _fallback_ unsupported in native is kind of a "partially supported".

I want to also note, that some extension works only on the very last GraalV

[2021-03-29 16:11] sberyozkin commented on #16099
@radcortez hey Roberto, how would we tackle this one :-) ? (I believe it is not a smallrye-jwt specific issue and relates to the ongoing conversation about syncing `mp-*/smallrye-*` properties with the quarkus-namespaced properties)

[2021-03-29 16:13] gastaldi commented on #12607
Perhaps we could have a `reason` metadata property (name yet to be defined) explaining why the extension doesn't work  in native (possibly pointing to a URL with more info)

[2021-03-29 16:14] mrizzi commented on #15961
Thanks a lot guys for the answers, both helpful :+1:

[2021-03-29 16:27] aloubyansky commented on #15812
Implemented as part of https://github.com/quarkusio/quarkus/pull/15862

[2021-03-29 16:27] #15812 closed

[2021-03-29 16:30] aloubyansky commented on #11221
@ia3andy given that codestarts artifacts referenced from the extension metadata are now added to the codestarts resource loader, do you still want to keep this one open?

[2021-03-29 16:37] pmlopes commented on #16037
@magnusvage I agree, yet this isn't a trivial issue. Spring and others have open issues regarding the same (support underscore in URIs).

Even though if we relax the rule by creating a parser ourselves, any underlying library that uses `URI` internally will end up blowing with the same exception.

This is more of a JDK structural issue, and sadly `URL` can't be used either... (although it allows u

[2021-03-29 16:44] lburgazzoli opened #16102 "class-loading issue with fast-jar"
## Describe the bug
While upgrade camel-k to the latest camel-quarkus (1.8.0) and quarkus  (1.13.0.Final) I've notice an issue that appears with fast-jar but not with the legacy-jar

Here the exception:

[code]

There some groovy code that load a camel route at runtime, which looks like:

[code]

The problem disappear if:
- legacy-jar is configured instead of fast-jar
- the GroovyRoutesBuilderLoad

[2021-03-29 17:00] sberyozkin commented on #15889
`@RuntimeReInitialized` does not really work as BouncyCastle provider is set by the recorder at the static initialization time. But substitutions work - I think this is fine for now - the self-tests for some cases are skipped in the native mode - and it can be documented.

[2021-03-29 17:03] flupec opened #16103 "Register subclasses MessageCodec for EventBus usage"
## Describe the bug
The problem is that quarkus does not handle the case when a subtype of the type declared in the method is passed to the method. Quarkus registers Message Codec's only specifically for classes declared with `@ConsumeEvent` annotation.

### Expected behavior
`LocalEventBusCodec` must be registered for all subtypes of parameter type from method that is annotated with`@ConsumeEvent

[2021-03-29 17:20] radcortez commented on #6823
This was added in https://github.com/quarkusio/quarkus/pull/13154.

[2021-03-29 17:20] #6823 closed

[2021-03-29 18:02] bcluap opened #16106 "RESTEasy Reactive: Opentracing has incorrect operation name & span is finished prior to aroundWriteTo"
Describe the bug
Opentracing behaves differently in 2 cases between standard RESTEasy and Reactive. In both cases standard RESTEasy seems to be correct:
1) When a sub resource is called, the operation name should be that of the sub resource as opposed to the root resource
2) The jax-rs span should remain open until all aroundWriteTo have been processed so that filters can add additional context in

[2021-03-29 18:23] kenfinnigan opened #16107 "Remove default Jaeger endpoint except in DEV mode"
## Description

Instead of defaulting the Jaeger endpoint in configuration, only do so when in DEV mode

## Implementation ideas

Endpoint is null by default, but a build item checks for an empty endpoint and DEV mode to set it to http://localhost:14250

[2021-03-29 19:36] tosix1988 opened #16108 "QuarkusTestResourceLifecycleManager start/stop executed for each test method in Quarkus 1.13.0.CR1"
Hello,

I have been trying out the Quarkus 1.13.0.CR1 release, and I have noticed the following change in behavior (when comparing with Quarkus 1.12.0.Final) regarding `QuarkusTestResourceLifecycleManager`. Formerly, the `start`/`stop` methods of the lifecycle manager were executed before/after the tests are run, however, with the 1.13.0.CR1 version of Quarkus it seems that they are invoked before

[2021-03-29 19:41] bcluap commented on #16106
Something like this seems to solve issue (2):
It finishes the span in the aroundWriteTo.

[code]

Issue is that I've had to add beans.xml so the provider is picked up. Not sure what the correct way would be to do this within Quarkus itself.

[2021-03-29 20:10] #15909 closed

[2021-03-29 21:22] Davide-Di-Do commented on #10162
I know that is not top, but at the moment I've found this way to run coroutines in quarkus https://dev.to/davide_d_cube/quarkus-reactive-programming-without-callback-headache-5goo - The article is very bad, but the sense is: await all deferred calls avoiding callback hell, later in the code transform the suspends in UNI again

[2021-03-30 05:21] geoand commented on #10162
@evanchooly is looking into adding proper Corroutine support into RESTEasy Reactive, so watch this space for updates :)

[2021-03-30 05:28] flupec commented on #16103
Here is simple [reproducer](https://github.com/flupec/quarkus-issue-rreproducer)

[2021-03-30 06:33] geoand commented on #16106
Thanks for reporting!

@Ladicek is this similar to what you were looking at?

[2021-03-30 06:37] geoand commented on #16102
@stuartwdouglas I wonder if this is due to https://github.com/quarkusio/quarkus/pull/15399

[2021-03-30 07:27] Prashant0731 commented on #1991
sadasd**dasdadasd**  dadsadads

[2021-03-30 07:28] mkouba commented on #16076
Well, in my opinion the no-op and output the original expression are the worst strategies.

We do try to catch errors for type-safe expressions and type-safe templates.

Let's try to produce a better error message first...

[2021-03-30 08:01] Ladicek commented on #16106
I don't think it's similar, no.

When it comes to finishing the span in `WriterInterceptor`, I guess I don't really have an opinion. MicroProfile OpenTracing only says "The MicroProfile implementation must provide a mechanism to automatically start a Span for any incoming JAX-RS request, and finish the Span when the request completes", which leaves considerable freedom to implementers.

As I descr

[2021-03-30 08:02] Sgitario opened #16113 "Regression issue: Fast Jar not working using OpenShift and Docker strategy"
## Describe the bug
When using the Docker strategy when deploying an application using OpenShift, the build failed because the generated artifacts are not found:

[code]

### Actual behavior
The build should find the artifacts in the right folder.

## To Reproduce

Steps to reproduce the behavior:
1. `mvn io.quarkus:quarkus-maven-plugin:999-SNAPSHOT:create     -DprojectGroupId=org.acme     -Dproje

[2021-03-30 08:33] ia3andy commented on #11221
@aloubyansky  Let's say this issue is done when we have a working Quarkiverse extension with an extension codestart with testing.

[2021-03-30 08:35] rsvoboda commented on #16113
CC @geoand @iocanel

[2021-03-30 08:56] mkouba commented on #16077
field found but missing accessors or similar ?

FTR you should get an error at build time when using type-safe expressions and type-safe templates.

[2021-03-30 09:15] ppalaga commented on #12607
We (Camel Quarkus) document the limitations on our extension pages. Here is an example: https://camel.apache.org/camel-quarkus/latest/reference/extensions/activemq.html#_camel_quarkus_limitations
So we would not mind having a markup for the situation when there are limitations known for the given extension.

[2021-03-30 09:30] maxandersen opened #16115 "quarkus service binding create crd based on services used"
## Description

utilize dekorate 2.x service binding operator CRD creation to add service binding custom resource request

[2021-03-30 09:32] geoand commented on #16113
Seems rather serious.

@iocanel can you prioritize this please?

[2021-03-30 09:52] iocanel commented on #16113
@geoand: roger roger

[2021-03-30 09:53] geoand commented on #16113
Thanks 👍

[2021-03-30 10:12] #16108 closed

[2021-03-30 10:25] geoand commented on #16106
These assumptions **do** hold. See https://jakarta.ee/specifications/restful-ws/3.0/jakarta-restful-ws-spec-3.0.html#processing_pipeline

[2021-03-30 10:37] Ladicek commented on #16106
That's nice. We could collapse all 3 span-finishing options into 1 :-)

(Well, maybe we should keep using the servlet filter for JAX-RS on servlet. People may have additional servlet filters. But when running on Vert.x, it sounds like both classic RESTEasy and RESTEasy Reactive could use the writer interceptor.)

[2021-03-30 10:52] geoand commented on #16106
Yeah, that sounds reasonable

[2021-03-30 11:07] Karm opened #16116 "Windows: Sources missing when debugging native-image, -Dquarkus.native.debug.enabled=true"
Hello,

While I was stepping through the native-image debug session I noticed we don't have sources for Quarkus and its dependencies properly assembled on Windows. See these two flows:

# Linux :heavy_check_mark:

[code]
# Windows :x:

[code]

Missing sources on Windows diminish the debug experience:

[code]

### Expected behavior
Sources are assembled in the `sources` directory.

### Actual behav

[2021-03-30 12:09] yrodiere commented on #16057
I just double-checked, and this looks **unrelated** to [AG-154](https://issues.redhat.com/browse/AG-154) (fixed in #15025) which only happens during rollbacks.

It does look similar to #11330 though.

@barreiro could you please enlighten us, both for this ticket and #11330? Could a misconfiguration cause the leaks, or is this a bug?

[2021-03-30 12:27] barreiro commented on #16057
@yrodiere it's a bug on Agroal, I believe. Tracking on [AG-165](https://issues.redhat.com/browse/AG-165).
If it is what I think it is, I have a fix. Still need to verify with the reproducers provided and work on a test case to make sure it's right.

[2021-03-30 12:45] #15599 closed

[2021-03-30 12:45] #15933 closed

[2021-03-30 12:45] #16061 closed

[2021-03-30 12:49] #13595 closed

[2021-03-30 13:04] JiriOndrusek commented on #14530
PR with the implementation is prepared and approved to be merged (https://github.com/quarkusio/quarkus/pull/15380)

[2021-03-30 13:09] JiriOndrusek opened #16117 "Introduce a buildItem for compiler flag -H:+InlineBeforeAnalysis"
## Description
GraalVM introduced in 21.0.0 a new compiler flag `-H:+InlineBeforeAnalysis` (see https://github.com/oracle/graal/issues/2594)

## Implementation ideas

It would be nice to have a buildItem to use this flag in extensions.

[2021-03-30 13:25] u6f6o opened #16118 "Allow us to enable browser-like http client caching in quarkus rest clients"
## Description

It would be nice if we could configure the quarkus rest clients to respect http cache headers returned by a remote server. In case these headers are present, the rest client could decide on its own, wether it should send a request to the server again or if a local copy of a previous response from a local cache could be sufficient. The etag header could furthermore reduce the amount

[2021-03-30 13:50] afnaanbaig opened #16119 "quarkus.tls.trust-all=true not working"
BUG: tls trust all not working

### Expected behavior
Expected result is to ignore the certificate validation and allow all sorts of certificates whether secure or not

### Actual behavior
Unable to access the actual website through our application.
Link for testing purpose.
https://untrusted-root.badssl.com/

## To Reproduce

[https://github.com/afnaanbaig/Bad-ssl-quarkus]

### Configuration
[cod

[2021-03-30 13:59] radcortez commented on #8145
I had a quick look and I first tried to just remove the discovered sources from static init, which solves the duplication issue. This does create an additional one, where some libraries (RESTEasy) which use the Config to configure itself, is also part of static init, meaning that it will miss its configuration and not work properly. There might be other libraries in this situation.

The only good

[2021-03-30 14:13] glefloch commented on #16119
Thanks for reporting this @afnaanbaig. Under the hood, `quarkus.tls.trust-all` add `io.quarkus.restclient.NoopHostnameVerifier` as hostname verifier of all rest client (https://quarkus.io/guides/rest-client#disabling-hostname-verification).
I will check if we need to do more.

[2021-03-30 14:57] adutra commented on #15522
Hi, for future reference, indeed this issue was fixed in the Cassandra driver 4.11.0, see [here](https://datastax-oss.atlassian.net/browse/JAVA-2927). Then the fix was incorporated in the Cassandra extension 1.0.1, see [here](https://github.com/datastax/cassandra-quarkus/issues/157).

[2021-03-30 15:45] sirf opened #16122 "Reactive ContainerResponseFilter throws NPE"
## Describe the bug
When a ContainerResponseFilter is active in a reactive rest application,
and we try to use `getResourceMethod()` on the `ResourceInfo` object,
NullPointerException is observed. Also, the filter doesn't seem to be invoked at all on some endpoints.

### Expected behavior
Should not throw NPE

### Actual behavior
NPE is thrown.

[code]

## To Reproduce

I've attached a reproducer.

[2021-03-30 15:46] sirf commented on #16122
Reproducer
[getting-started-reactive.tar.gz](https://github.com/quarkusio/quarkus/files/6230269/getting-started-reactive.tar.gz)

[2021-03-30 16:46] zakkak commented on #15331
@gsmet shall I prepare a PR for this?

[2021-03-30 16:50] sberyozkin commented on #14139
Hi @galderz

This is what I've got after tracing one of the problems,
[code]

It is similar to BC FIPS case - but there it was originating at the method level so it was just stubbed it `return true`;
Here these are the internal fields of `BouncyCastleFipsProvider` but from what I understood recomputing the fields is a build time action... So my current GraalVM native experience is not enough to ge

[2021-03-30 19:24] hernael opened #16123 "from version 1.13.0 Vault MicroProfile Config Source stopped working"
**Describe the bug**
from version 1.13.0 Vault MicroProfile Config Source stopped working to use vault with Databases (Vault MicroProfile Config Source) and OIDC

**Expected behavior**
quarkus fetched vault kv values first and then try verificted dependent properties. In version 1.12.X works fine, but in 1.13.0 does not work

**Actual behavior**
on startup throw error:

[code]

Hi @radcortez, @vse

[2021-03-30 19:29] wansors opened #16124 "JDBC ConfigSource Extension"
## Describe the extension

The idea is to have a extension that implements a ConfigSource to read properties from a JDBC Database table.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

## Configuration suggestion
[code]

## Additional context
The extension can depend on agroal.
It can be similar to https://github.com/microprofile-extensions/config-ex

[2021-03-30 20:05] radcortez commented on #16123
Does this only happens with the Vault source? Can you try without it?

[2021-03-30 20:11] edeandrea opened #16125 "DevServices: Passing parameters to TestContainers"
## Description

The new DevServices stuff in 1.13 is awesome! It would be really nice to be able to pass additional parameters directly to testcontainers.

For example:

[code]

where in `src/main/resources/db` there is a `schema.sql` file that creates the schema.

See the Using a classpath init script section from https://www.testcontainers.org/modules/databases/jdbc/

Right now I'm doing this:

[2021-03-30 20:41] hernael commented on #16123
without vault?

[2021-03-30 20:49] radcortez commented on #16123
Yes, are you able to remove Vault and set up the required configuration in `application.properties`? I'm trying to rule out if this is something Vault specific or it it is general.

I supposed that `database.url` is set up in Vault. You may try to set something up in `application.properties`. It doesn't need to be valid, we just need to make sure that the expansion works.

[2021-03-30 21:03] zakkak opened #16126 "[native] Integration test "main" fails with GraalVM 20.3.1.2"
## Describe the bug
Native image of integration test `main` fails to build with GraalVM 20.3.1.2

### Expected behavior
The native image should buils and the test should pass.

### Actual behavior
The native image fails to build with:
[code]

## To Reproduce

[code]

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Linux 5.10.20-200.fc33.x86_64

### Ou

[2021-03-30 21:04] hernael commented on #16123
ok, i only replace the db properties referenced by Vault in application.properties (quarkus.datasource.reactive.url, quarkus.datasource.password, quarkus.datasource.username) by equivalent conection params and this works fine.

Additional info: vault oidc properties in application.properties work fine.

[2021-03-30 21:06] zakkak opened #16128 "[native] Integration test "rest-client" fails with GraalVM 20.3.1.2"
## Describe the bug
Native image of integration test `rest-client` fails to build with GraalVM 20.3.1.2

### Expected behavior
The native image should buils and the test should pass.

### Actual behavior
The native image fails to build with:
[code]

## To Reproduce
[code]

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Linux 5.10.20-200.fc33.x86_64

[2021-03-30 21:16] vsevel commented on #16058
@sberyozkin I was thinking more about a central timer facility, where you could register your periodic tasks. the timer facility would be general purpose, not dedicated to config sources. I am surprised actually that none of the existing extensions have already expressed the need. the use case does not exist, or everybody is doing its own `ScheduledExecutorService `?

[2021-03-30 21:30] zakkak opened #16129 "[native] Integration test "kafka-snappy" fails with GraalVM 20.3.1.2"
## Describe the bug
Native image of integration test `kafka-snappy` fails with GraalVM 20.3.1.2

### Expected behavior
The native image test should pass.

### Actual behavior
The native image test fails with:
[code]

## To Reproduce
[code]

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Linux 5.10.20-200.fc33.x86_64

### Output of `java -version`
11.

[2021-03-30 21:39] brunolmfg opened #16130 "Micrometer Vert.x Binder Locks Shutdown on devmode"
## Describe the bug
Using Micrometer extension the shutdown thread is locked on devmode waiting for Vert.x Binder to be undeployed.

### Expected behavior
On devmode the application will shutdown when SIGINT (Ctrl+C) is fired.

### Actual behavior
The application is locked waiting for Vert.x closure that's never fired due to an NPE on `InvocationInterceptor#monitor`.
[code]
The stacktrace above is

[2021-03-30 21:39] vsevel commented on #16123
In 1.13.CR1 I only added https://github.com/quarkusio/quarkus/pull/15617 and https://github.com/quarkusio/quarkus/pull/15353
does not seem to be related

[2021-03-30 21:50] radcortez commented on #16123
Do you have other properties set up in Vault? Is this only failing for expanded properties for Vault? Can you provide me a print of `ConfigProvider.getConfig().getConfigSources()`? I'm interested in the types, names and order of the sources.

[2021-03-30 22:01] zakkak opened #16131 "[native] Quarkus not able to parse GraalVM version in upcoming 21.1"
## Describe the bug
Quakus fails to parse the GraalVM version from `native-image --version` in upcoming GraalVM 21.1.

This is because in the upcoming GraalVM the version is:
[code]
while in previous versions it used to be:
[code]
Note the removal of "Version" and the addition of "Java 11 CE".

### Expected behavior
Quarkus should be able to get the version without any warning or error.

### Actua

[2021-03-30 22:03] Manny404 opened #16132 "New Websockets doesnt work"
## Describe the bug
I am getting an exception and the websocket connection  will be closed. After the update to 1.13.0.Final. The same code is working with 1.12.2.

An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually
 means the last handler in the pipeline did not handle the exception.: io.netty.handler.codec.http.websocketx.CorruptedWebSocketFrameException

[2021-03-30 22:51] hernael commented on #16123
please best use this data:
[code]
I'm not sure but data in previous post maybe is for 1.10.5. Sorry...

[2021-03-30 23:18] radcortez commented on #16123
@hernael I took a copy and edited the prints, since these contain some environment variables I don't want you to accidentally expose any sensitive information. I'll have a look tomorrow.

[2021-03-30 23:27] stuartwdouglas commented on #16102
Can you push your current code base to a branch so I can look into it?

[2021-03-31 02:27] jaikiran commented on #16131
Graal releases have for a long time included a `GRAALVM_HOME/release` file which is a properties file and contains important and useful information like the Graal VM version, Java version and various other things. For example, the one I have in my 21.1.0-dev currently has this:

[code]
So I think it's time to start parsing this file instead of relying on the `native-image --version` output which i

[2021-03-31 05:32] afnaanbaig commented on #16119
o.quarkus.restclient.NoopHostnameVerifier this does not work as well. I have tried this method not once but multiple times and I am unable to resolve the issue.  Your help would be appreciated.

[2021-03-31 05:38] cescoffier commented on #16129
Snappy requires graalvm 21.+ because of serialization and method handle support.

[2021-03-31 05:40] #15945 closed

[2021-03-31 06:08] digsb commented on #8287
Hi,

Is there any plan to introduce this functionality in future Quarkus version?

If No plan, what is required to be done to use hbm.xml files while working with Quarkus?

Thanks.

[2021-03-31 06:14] geoand commented on #16132
cc @stuartwdouglas

[2021-03-31 06:18] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/703828263

[2021-03-31 06:20] geoand commented on #16125
I am a little confused, doesn't `quarkus.datasource.devservices.properties.TC_INITSCRIPT=db/schema.sql` already do what you want?

[2021-03-31 06:25] geoand commented on #16124
I think this would be interesting to have the in Quarkiverse.

WDYT @phillip-kruger @radcortez ?

[2021-03-31 06:26] #15490 closed

[2021-03-31 06:28] kie-ci commented on #12486
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/703828263

[2021-03-31 06:31] phillip-kruger commented on #16124
Yea, I was thinking that many of the config extensions can move there.

[2021-03-31 06:32] indalaterre commented on #15891
I was reading this post where the 1.14 could be the last 1.x version before the 2.x.
https://groups.google.com/g/quarkus-dev/c/oTBc0iHLxrw/m/_ykCmyi_BgAJ?pli=1

Is there any chance to have this enhancement in the 1.14 before the migration?

[2021-03-31 06:38] evacchi commented on #12486
does not seem to be related to Quarkus, this seems like an invoker-related issue on the Spring Boot ITs @jstastny-cz

[code]

[2021-03-31 06:44] geoand commented on #15891
As you have read in that announcement, `1.14` will likely only happen if there are significant features to be added to it.

At this point, I can't promise anything regarding the timeline of this issue.

@indalaterre are you using `StreamingOutput` from JAX-RS and looking to move off it?

[2021-03-31 06:45] geoand commented on #12486
Should the launch command be updated to not run those ITs?

[2021-03-31 06:47] indalaterre commented on #15891
@geoand yes we use `StreamingOutput` to implement download functionalities for generated streams. We want to migrate to resteasy-reactive but we need to enhancement

[2021-03-31 06:50] geoand commented on #15891
@indalaterre can you paste an example snippet of how you are using it?

[2021-03-31 06:54] evacchi commented on #12486
we may skip those (but at the moment there is no such a config AFAIK), and/or fix the build config. I don't see why it should break here

[2021-03-31 06:56] geoand commented on #12486
Could we not just exclude the specific modules via Maven's `--projects !groupID:artifactID`?

[2021-03-31 07:03] indalaterre commented on #15891
[Snippet.txt](https://github.com/quarkusio/quarkus/files/6234426/Snippet.txt)

Here's the snippet

[2021-03-31 07:06] geoand commented on #15891
Thanks

[2021-03-31 07:13] evacchi commented on #12486
that's not a bad idea @radtriste @jstastny-cz WDYT ?
(btw we can also exclude specific profiles with -P !profile-id)

[2021-03-31 07:18] geoand commented on #12486
Definitely. If you add the necessary profiles, then it would make a lot of sense to use the proper one when running the Quarkus test in Ecosystem CI

[2021-03-31 07:25] sorin-costea commented on #15740
I think calling V1 "obsolete" might be a rush. There's still a significant feature disparity between the two AWS REST and HTTP API Gateways and the REST won't disappear very soon.

So, any plans to update the V1 to 1.13 as well?

[2021-03-31 07:30] maxandersen commented on #15490
Awesome :)

[2021-03-31 07:36] xtaixe commented on #15490
Great! Thanks @mkouba ! Hopefully there's a 1.14 soon and we don't have to wait for 2.0...

[2021-03-31 08:27] TobiWeier commented on #13621
We are also affected by this issue. The root-path should be able to be determined during deployment. Using `nginx.ingress.kubernetes.io/rewrite-target` annotation in kubernetes ingress as a workaround leads to issues in swagger-ui.

[2021-03-31 08:39] geoand commented on #16130
Also, @ebullient, is there a good reason why `VertxMeterBinderAdapter` is a CDI bean?

[2021-03-31 08:45] #15721 closed

[2021-03-31 09:02] mkouba commented on #16130
So IIUIC the `VertxMeterBinderAdapter` is registered in vertx and `io.vertx.core.spi.metrics.VertxMetrics.verticleUndeployed()` is invoked _after_ the CDI container is shut down.

A quick workaround is to set `quarkus.arc.dev-mode.monitoring-enabled=false`. `VertxMeterBinderAdapter` is `@Singleton` so no client proxy or subclass will be used.

We could add a check in the `InvocationInterceptor` bu

[2021-03-31 09:17] geoand commented on #16130
Yes, it's invoked by Vert.x to undeploy the Metrics Verticle.

I agree, which is why I asked @ebullient why it is a CDI bean. It doesn't look like it should be.

[2021-03-31 09:48] jerboaa commented on #16131
The `release` file for Mandrel is just OpenJDK's `release` file, so this won't work, unfortunately.

[code]

[2021-03-31 09:56] zakkak commented on #16129
Thanks @cescoffier.

In that case we need a way to detect that the test/app is relying on some unsupported feature and report it to the user. Then the test suite should ideally be able to either skip unsupported tests (based on the GraalVM/Mandrel version) or parse their output and mark them as passing if they fail with the expected message.

[2021-03-31 09:56] vu-bui opened #16139 "[native] 1.13.0.Final Fails To Build Native Image"
## Describe the bug
I got into a problem building native image after upgrading to `1.13.0` saying that it could not find some classes. I fixed it by following this [comment](https://github.com/quarkusio/quarkus/issues/6327#issuecomment-599037575) and got into another problem that I haven't found any solution. Here is the error log that I got
[code]
This does not happen when I switch back to `1.11.

[2021-03-31 09:58] Sanne commented on #8287
@digsb yes we're planning to have it soon. @yrodiere is already working on it

[2021-03-31 10:09] famod opened #16141 "Add workaround to generated projects for maven.compiler.parameters problem in IntelliJ IDEA"
## Description

As discussed here: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/resteasy.20pathparam.20always.20null/near/232163105

This workaround for https://youtrack.jetbrains.com/issue/IDEA-201496:
[code]
should be added to the generation of new projects.

[2021-03-31 10:22] radcortez commented on #16124
+1 for a Quarkiverse Extension.

I'm wondering if we should group all sources in a single extension with multi modules or just keep them separate.

[2021-03-31 10:25] yrodiere commented on #8287
Closing as duplicate of #14762.

Which, indeed, I'm currently working on. It's not as straightforward as one might think, mainly because we want to process the mapping at compile time. But I'm getting there.

[2021-03-31 10:25] #8287 closed

[2021-03-31 10:42] geoand commented on #16139
cc @cescoffier

[2021-03-31 10:45] #13957 closed

[2021-03-31 10:46] gsmet commented on #16139
So first, it's a bad idea to follow the comment you pointed out. Can you give us the errors you have first?

And then, are you using a Netty version that is not the one we have in Quarkus? Because it looks a lot like a dependency problem. Can you confirm you are using our BOM and Netty is version `4.1.49.Final`?

[2021-03-31 10:48] geoand opened #16143 "Using quarkus-rest-client-reactive-jackson on rest-client-quickstart fails"
## Describe the bug
When taking https://github.com/quarkusio/quarkus-quickstarts/tree/main/rest-client-quickstart and using `quarkus-resteasy-reactive-jackson` and `quarkus-rest-client-reactive-jackson` instead of the original RESTEasy and rest-client dependencies (and also substituting `@PathParam` for `@RestPath`), then running the tests fails with:

[code]

### Expected behavior
The tests shoul

[2021-03-31 11:09] digsb commented on #8287
Thanks @yrodiere. I know you will have other priorities as well, but any estimate on when we can have a build for testing.

Is there anything I can do to help?

[2021-03-31 11:14] JuMp3 commented on #5976
ok, but if you don't set that header ("Accept-language"), you have not the Locale; I would like to find a solution equivalent to the Spring Boot Locale that automatically inject it in the controller

[2021-03-31 11:16] yrodiere commented on #8287
We will need a new release of ORM, and the patches are quite large. So it will probably take several weeks before the feature lands in the main branch of Quarkus, and some more until it gets released.

You can test my patch! Watch #14762, you should get notified when I submit the PR.

[2021-03-31 11:17] jaikiran commented on #16131
Hello @jerboaa, I haven't been following Mandrel development work, but I was under the impression that it was changes/enhancements/fixes on top of Graal VM (and _not_ on top of vanilla OpenJDK Java). Isn't that the case? If so, perhaps it needs to follow similar constructs/semantics that Graal VM follows for generating this `release` file and maybe include a "MANDREL_VERSION" property?

[2021-03-31 11:26] gsmet commented on #16131
I don't know how complex it would be but I would also be in favor of what @jaikiran proposes (and adjust Mandrel if needed to have similar properties).

[2021-03-31 11:29] edeandrea commented on #16125
No it doesn't. When you look at the resolved properties the JDBC url is not a testcontainers url (i.e. jdbc:tc:.......). Its a standard postgres url.

[2021-03-31 11:45] sberyozkin commented on #14139
@zakkak @galderz

I'm progressing - the current problem is:

[code]

`final` `javax.crypto.JceSecurity` class has a `static final SecureRandom RANDOM = new SecureRandom();` - which propagates to a FIPS default secure random provider. So the above error is happening is when I'm try to `runtime-reinitialize`  `javax.crypto.JceSecurity`  -  can I fix it with the substitution somehow ?

[2021-03-31 12:18] zakkak commented on #16131
I believe the following sentence is the best description of Mandrel I have seen so far.

Source: https://developers.redhat.com/blog/2020/06/05/mandrel-a-community-distribution-of-graalvm-for-the-red-hat-build-of-quarkus/

So to make it a bit more clear:
Mandrel is a distribution of vanilla/upstream OpenJDK with a specially packaged GraalVM `native-image`.

As such, unfortunately it doesn't seem to

[2021-03-31 12:19] ebullient commented on #16130
Looking. You guys have a few hours on me.

Thank you @brunolmfg for chasing this down! I did notice this as well, but it only happened with master, and not in any of the other branches, and I was having a lot of problems w/ my system at the time, so I assumed it was "just me".. :sigh:

The VertxMeterBinderAdapter (Singleton) is retrieved from Arc along two different paths in the recorder (once dur

[2021-03-31 12:33] jerboaa commented on #16131
One reason would be that in the RPM case, that file is being owned by the `java-11-openjdk-headless` package and it's discouraged to change other package's files. Would adding a `mandrel-release` file work?

[2021-03-31 12:47] zakkak commented on #16129
I am using this workflow https://github.com/zakkak/graalvm-quarkus-ci/blob/main/.github/workflows/quarkus.yml to test Quarkus main (and other versions) with various GraalVM versions, so running the workflow with 20.3 picked the test from `main`'s `.github/native-tests.json`.

[2021-03-31 12:49] sberyozkin commented on #14139
@zakkak @galderz

[This comment](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/SecuritySubstitutions.java#L258) is of some concern - would it explain the error above ?

[2021-03-31 13:12] maxandersen commented on #16131
Mandrel might see itself as custom openjdk build but the java version is the least interesting part for Quarkus - its the base version of graalvm parts that are relevant for native-image command.

relying on properties file inside a jdk distribution isn't really usable as we have no guarantee users have such setup.

why is it that native-image in mandrel can't just do the same as graalvm native-im

[2021-03-31 14:01] jerboaa commented on #16131
I'm +1 to keeping with `native-image --version` logic.

We are looking to "align" with Graal VM for `native-image --version` via https://github.com/graalvm/mandrel/issues/230. but we cannot do it in full as a) Graal VM ships native image as native binary, Mandrel not (there is a risk shipping as native-image; rather than plain java app) b) Graal VM upstream would prefer not to call it Graal VM if

[2021-03-31 14:13] zakkak commented on #14139
Yes. Since `javax.crypto.JceSecurity.RANDOM` is handled in `Target_javax_crypto_JceSecurity` you shouldn't need to reinitialize it. However, at the same time you shouldn't be getting the error in https://github.com/quarkusio/quarkus/issues/14139#issuecomment-811000207 :/

[2021-03-31 14:38] cescoffier commented on #16129
ah ah.... yeah.... if you remove the safeguard, then :-D

So there are multiple tasks:

1. better warn the user if they use an unsupported graalvm version (I was thinking we were doing that already, but globally). Maybe we need to have a new build item that advertise the minimal GraalVM version. @geoand @gsmet WDYT?
2.  how can we filter these tests.  Can we use Junit with the right predicate [htt

[2021-03-31 14:38] geoand opened #16148 "Using quarkus-rest-client-reactive-jackson on rest-client-quickstart blocks when Uni is returned"
## Describe the bug
When taking https://github.com/quarkusio/quarkus-quickstarts/tree/main/rest-client-quickstart and using `quarkus-resteasy-reactive-jackson` and `quarkus-rest-client-reactive-jackson` instead of the original RESTEasy and rest-client dependencies (and also substituting `@PathParam` for `@RestPath`), then running

[code]

results in a timeout exception that seems to be due to the

[2021-03-31 14:40] cescoffier commented on #16139
Yes, double-check your netty version. I got the same issue when we bumped Netty (in the 2.x branch), so there is a good chance you are not using the right version.

Do not update the netty version - or you will see plenty of these.

[2021-03-31 14:44] geoand opened #16149 "Using quarkus-rest-client-reactive-jackson on rest-client-quickstart fails fast when CompletionStage is returned"
## Describe the bug
When taking https://github.com/quarkusio/quarkus-quickstarts/tree/main/rest-client-quickstart and using `quarkus-resteasy-reactive-jackson` and `quarkus-rest-client-reactive-jackson` instead of the original RESTEasy and rest-client dependencies (and also substituting `@PathParam` for `@RestPath`), then running

[code]

fails with:

[code]

[2021-03-31 14:48] michalszynkiewicz opened #16150 "Service discovery and client side load balancing for gRPC and Rest Client"
+ a possibility to implement stats-based load balancing (based on response time or anything like that) and not only the simple round-robin

[2021-03-31 14:51] wjglerum opened #16151 "OIDC Extension does not work anymore with Azure AD and Quarkus 1.13.0"
## Describe the bug
Looks like there is a regression when updating from Quarkus `1.12.x` to `1.13.0`

We get a `401 Unauthorized` when we try to authenticate through Azure AD with Quarkus OIDC, this used to work fine in the previous versions. I did some debugging and turns out Azure AD doesn't like the chunked transfer headers.

I intercepted the requests to Azure AD with ProxyMan and Quarkus runn

[2021-03-31 14:58] sberyozkin commented on #14139
@zakkak thanks; FYI, I'm getting it with this PR, #16105, when running `integration-tests/bouncycastle-fips-jsse` - the executable actually starts if I try to re-init `JceSecurity` :-), i.e the build itself does not fail, but then it fails with that error `...JceSecurityAccessor: found no method named set or setRANDOM` during the re-initialization try...
And if I do not try to re-init it then it f

[2021-03-31 14:58] wjglerum commented on #16151
@sberyozkin do you have any ideas? I tried digging through the commit log, but I couldn't find anything related.

[2021-03-31 15:01] sberyozkin commented on #16151
@wjglerum Thanks for the analysis - I'll just update the code now to avoid setting the chunked encoding header.

[2021-03-31 15:01] geoand commented on #16129
In JUnit you have can arbitrary predicates.

We could likely just check the GraalVM version and decide whether or not the test should be skipped

[2021-03-31 15:02] wjglerum commented on #16151
Cool, let me know if I can help or test anything 👍

[2021-03-31 15:19] FroMage commented on #16043
It MUST be native. On my machine it took this time:

[code]

That's unacceptable for a CLI.

[2021-03-31 15:20] FroMage opened #16152 "CLI: reported name is incorrect"
[code]

That's wrong: it's called `qs` so use `$0` (name of the current executable) to report the usage line

[2021-03-31 15:23] FroMage opened #16153 "CLI: discuss name"
Can we have a bikeshedding discussion for the CLI name? ATM it's `qs` and I'm not sure there are good reasons for not calling it `q` instead.

At least in UNIX there are no `q` command by default. And `qs` it not more intuitive to come up with (and justify) than `q`. I didn't even realise it was a contraction of `QuarkuS` until it was pointed out, so not obvious at all.

[2021-03-31 15:28] FroMage opened #16154 "CLI: list --installable should be sorted"
I can't make sense of what the order is supposed to be here:

[code]

It's also a bit confusing that some extensions start with `quarkus-` while others don't.

[2021-03-31 15:33] FroMage opened #16155 "CLI: consider defaulting to `dev` command when in a quarkus project"
ATM it lists the available commands, but there's already `qs --help` for that.

It could be a nicer default to default to `qs dev` if the current CWD is a quarkus project, no?

And bonus points: open browser on the DEV UI?

[2021-03-31 15:36] FroMage commented on #15891
Snippet inline:

[code]

[2021-03-31 15:38] FroMage commented on #15891
I forget who's our openapi expert, is it @phillip-kruger ?

@indalaterre can you tell us the type of `item` in your code?

[2021-03-31 15:40] geoand commented on #15891
Exactly

[2021-03-31 15:44] cescoffier commented on #16129
Yes, and we have that code somewhere already (in the devtools)

[2021-03-31 15:46] FroMage commented on #15891
So, @phillip-kruger do you confirm that as far as (SR) open-api is concerned, the previous endpoint signature should be equivalent to:

[code]

[2021-03-31 15:47] FroMage commented on #16154
Sorry everyone, bot went a bit overboard with CC here :)

[2021-03-31 15:53] indalaterre commented on #15891
@FroMage item it's a `ByteBuffer`

[2021-03-31 15:57] FroMage commented on #15891
Hah, we should support those out of the box, if we don't already. https://quarkus.io/guides/resteasy-reactive#resource-types says we don't yet, but there's no good reason.

[2021-03-31 16:01] sberyozkin commented on #16151
I'm updating it to use Vert.x `Buffer` as it looks like `sendForm` does not set the content-length - I'd like to avoid setting `Content-Length` manually - but if needed, that can be done using `Buffer.length()`

[2021-03-31 16:43] phillip-kruger commented on #15891
@FroMage Not sure what you mean ? Do you mean we should be able to omit the `@Parameter` ? The schema should be OK (set to String) but I am not sure about the required (Might need a BV `NotNull` or something) and the content media type I doubt will be set by default. Or am I missing the point ?

[2021-03-31 16:54] radcortez commented on #16123
Hi @hernael, I didn't find anything suspicious in the data. Could you iterate over `ConfigProvider.getConfig().getConfigSources();` and when you get to the `VaultConfigSource` try to retrieve the keys directly from the source?

I've tried locally with a `Vault` docker image and a few properties, including starting up a database with expanded properties coming from `Vault` and it worked fine. Maybe

[2021-03-31 17:14] gsmet commented on #16043
This is what I have with native:
[code]

It's not amazingly fast tbh. I would have expected our command line support to be faster (especially to just display the help).

But in any case, the real commands will do a lot more work and network accesses so they will be slow anyway.

[2021-03-31 17:36] janbodnar opened #16158 "Vaadin support"
**Vaadin support**
Are there plans to support the Vaadin UI framework?  It is the best component-based UI framework available.
I saw only an integration with Spring Boot.

[2021-03-31 17:54] gsmet commented on #16153
I'm against `q`. It's not distinctive enough and that might break people's aliases.

[2021-03-31 18:20] gsmet commented on #16152
Are you testing main or 1.13? Something related got fixed here: https://github.com/quarkusio/quarkus/pull/15747 . Not sure if it's the same issue or not.

[2021-03-31 18:23] neon-dev commented on #15509
Sorry for the late reply, @gsmet. I finally got to create a reproducer and found the culprit while doing so.

Up until 1.11.0 this extension caused `javax.json.Json*` types do de/serialize differently:
[code]
You get different results when calling `http://localhost:8080/api/test` with and without this extension.
I've left `quarkus-logging-json` in the pom.xml so you can simply (un)comment the JWT

[2021-03-31 18:48] CJUnderhill commented on #16153
I agree; several people on our team already have 'q' aliased to something else. In fact, I'd actually propose the opposite of OP's request: could we get a more intuitive/distinctive CLI name (like `quark`) or something similar? Devs who want a more minimal one can just alias it to whatever they'd like.

[2021-03-31 19:19] senzu opened #16162 "Oracle - Agroal can't connect with service name"
Hi!

I'd like to connect to an Oracle database with service name instead of SID, I receive the following message:

Invalid connection string format, a valid format is: "host:port:sid" : java.sql.SQLException: Io exception: Invalid connection string format, a valid format is: "host:port:sid"

The format I'd like to use: host:port/service_name

Could you provide any solution to this?

[2021-03-31 20:08] #16151 closed

[2021-03-31 20:10] sberyozkin commented on #16151
@wjglerum Please check the snapshots tomorrow - that should fix it - I don't think `Content-Length` would need to be set manually - but with `Buffer` that could be done too - let me know please how it goes

[2021-03-31 20:14] patriot1burke commented on #15740
v1 is now `quarkus-amazon-lambda-rest` extension.  Take a look at the new docs.  Paragraph 3:  https://quarkus.io/guides/amazon-lambda-http

[2021-03-31 20:16] patriot1burke commented on #15740
Basically AWS has two different gateway APIs for http.  REST (the old stuff) and HTTP (the new stuff).  Does the "old" stuff (`quarkus-amazon-lambda-rest`) work for you?  If so, can I close this?

[2021-03-31 20:21] wjglerum commented on #16151
@sberyozkin wow, thanks for your quick fix! I'll definitely give this a try tomorrow 👍

[2021-03-31 20:27] #16117 closed

[2021-03-31 20:54] maxandersen commented on #16043
Being fast to show help isn't critical  Imo. Try compare it to what same create commands using mvn and Gradle does. Then CLI jvm doesn't feel slow and the native startup time doesn't make a big difference. I thus still consider it nice/good to have not a must.

[2021-03-31 20:55] maxandersen commented on #16043
I.e. if the option is between not releasing any cli vs having A jvm cli that is much faster than mvn/Gradle I would go for cli jvm.

[2021-03-31 20:59] maxandersen commented on #16155
How do you quickly decide a project is a Quarkus project ?

[2021-03-31 21:01] maxandersen commented on #16155
Open browser on dev/UI  I'm not following...what if it's a command mode or pure websocket there is no devui...should be a better thing devmode itself in Quarkus would do that...?

[2021-03-31 21:04] maxandersen commented on #16153
I'll say I always planned on having installation enable qs and quarkus.

My main reason for qs is it's more distinctive and things like on stack overflow qs label is not taken but q is (for q.js)

[2021-03-31 21:24] hernael commented on #16123
I just updated a demo project that i have hosted for issues purposes:

https://github.com/hernael/reactive-demo

Maybe seeing this helps us a little better. Please note that i started the app with intellij in dev mode (just click run in idea)

[2021-03-31 21:47] wjglerum commented on #16151
Actually give at a try just now, by building the snapshot myself locally. All looks good, thanks again!

Captured request from ProxyMan with the applied fix:
[code]

Could this fix be backported to a `1.13.x` release? As this blocks us from upgrading to Quarkus 1.13

[2021-03-31 23:39] sorin-costea commented on #15740
Coolness! It works with *-rest. I didn't check the updated docs so I wasn't aware of the split. I'm not the OP here so I can't tell you to close, but fwiw I'm totally fine now.

[2021-04-01 01:46] stuartwdouglas commented on #16132
https://github.com/quarkusio/quarkus-http/pull/67 will fix it

[2021-04-01 01:49] stuartwdouglas commented on #16132
If you need a workaround you can include the following in your project:

[code]

[2021-04-01 03:10] vu-bui commented on #16139
Thanks for the quick replies.

Here is the error that I have if I don't add `jakarta.security.jacc:jakarta.security.jacc-api` and `net.java.dev.jna:jna` as the comment suggests
[code]

It's indeed caused by Netty version. I have `software.amazon.awssdk:s3` in my project and it depends on Netty `4.1.59.Final`. Ironically, that AWS SDK is specified by `quarkus-universal-bom`. Here is my dependency l

[2021-04-01 03:57] ThreeDollarsABottleOfGreenTea opened #16166 "The Dev UI link in the application root path points to the error"
## Describe the bug
The Dev UI link in the application root path points to the error

### Expected behavior
Forward the '192.168.0.111:8080/**monitor**/q/dev' link to open this page.

### Actual behavior
This link leads me to 'http://192.168.0.111:8080/q/dev/', this page can't open, where root-path is missing.

## To Reproduce

Build a quarkus application use get started in the idea.

Steps to rep

[2021-04-01 04:37] maxandersen commented on #16076
Why is it you think NOT FOUND is better than leave the expression so one can actually quickly see what was not found ?

[2021-04-01 04:59] #16130 closed

[2021-04-01 06:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/707380337

[2021-04-01 06:53] maxandersen commented on #16033
lets say we unified on `create`, how would you indicate wether you want a quarkus project created or quarkus extension created ?

[2021-04-01 07:23] #16149 closed

[2021-04-01 07:29] maxandersen commented on #16043
okey so now at keyboard to do runs on my machine:

maven:
`mw io.quarkus:quarkus-maven-plugin:1.13.0.Final:create   -Dextensions="vertx"  5.38s user 0.58s system 244% cpu 2.438 total`

jar direct:
`java -jar  create  4.09s user 0.35s system 164% cpu 2.695 total`

qs via jbang (expected some overhead but not that noticeable in create call)
`qs create  2.79s user 0.33s system 178% cpu 1.749 total`

[2021-04-01 07:33] argenstijn commented on #14652
Do you still have the same issue when using the laterst vrsion of graalvm,quarkus and quarkus-cxf?

[2021-04-01 07:39] Andro999b commented on #16076
I think its also related to this `java.lang.ClassCastException: class io.quarkus.qute.Results$Result cannot be cast to class java.lang.String` happen when qute try to access not exists string message

[2021-04-01 07:41] gsmet commented on #16139
You need to enforce our BOM.

I don't remember how it's done in the Gradle world but if you generate a project using our tools, you'll see.

[2021-04-01 07:43] gsmet commented on #16139
And any chance you could prepare a small project reproducing the `javax.security.jacc.PolicyContextException`? I'll be interested to have a look.

[2021-04-01 07:50] FroMage commented on #15891
I mean it looks like all that annotation specifies should be optional and can be inferred by the rest of the signature, no?

For the content-type, you're right we can't infer it. Though it's wrong anway since it claims to be text but then it's set to PDF ;)

[2021-04-01 07:52] FroMage commented on #16043
You can't possibly compare this to other JVM commands: everyone laments how slow they are to start.

I do agree it's acceptable to start with a JVM version if we can't pull off a native one in time due to time constraints, but we should fix this and get something that bears comparison with other command-line apps (non-JVM).

[2021-04-01 07:53] FroMage commented on #16043
Still 5 times faster than the JVM version ;)

[2021-04-01 07:56] FroMage commented on #16152
How can I know? I installed with `curl -Ls https://sh.jbang.dev | bash -s - app install --force qs@quarkusio`

[2021-04-01 07:57] indalaterre commented on #15891
Wait the text content-type is for the request while the pdf is for the response. This code works so I think it's not a problem of the api

[2021-04-01 07:58] phillip-kruger commented on #15891
Yes, except for content type yes. Required I am not sure what the default is, so that might also needs to be set somehow, either with `@Schema` or something else like Bean validation. To set the response content type you can use `@APIResponse`

[2021-04-01 07:58] FroMage commented on #16155
Well you already do that, don't you? Since I've seen the CLI fire up gradle or mvn.

Perhaps, true.

[2021-04-01 08:03] maxandersen commented on #16043
100% agree - thats all I've been saying. lets look into it but dont make it the first priority. i/we spent ungawdly amount of time initailly on the cli as everyone seem insisting on it had to be native when windows native wasnt even possible; and I just dont want us to keep "hanging" on it being native as there are much more impactful things that keeps lagging.

[2021-04-01 08:13] maxandersen commented on #16155
that happens because user explicit asks for a command to execute.

That said I'm not really against the idea as another thing I would like to add is #11516 so you can just run `qs build` or `qs dev` in any subdirectory of a project. having that then "qs" anywhere would bring you into devmode.

which I guess isn't a bad thing - but for me getting help printed is just the default experience I have w

[2021-04-01 08:21] maxandersen commented on #16153
sleeping on this I [recall in conversation](https://github.com/quarkusio/quarkus/pull/13601#issuecomment-740642067) about dev ui and the use of `/q` I was proposing we use `/qs` as it would match the cli shorthand. Mainly to avoid name conflicts and to not introduce multiple names for users to keep track on.

I still think `qs` is much better as its searchable/googable/distinguishable but Im also

[2021-04-01 08:25] gsmet commented on #16152
I have no idea what this does :). But with `main`, I have `qs` in the usage. So I think it has been fixed properly! Closing.

[2021-04-01 08:25] #16152 closed

[2021-04-01 08:26] gsmet commented on #16166
Yeah, the index page is static so it doesn't react to your configuration. I don't think we want to change that because we don't want to have a template engine as a required dependency.

[2021-04-01 08:26] #16166 closed

[2021-04-01 08:29] FroMage commented on #16153
I would assume our label should be `quarkus` anyway

[2021-04-01 08:31] FroMage commented on #16152
[code]

So I guess you're right.

This is how the official documentation tells us to install it, get with the program ;)

[2021-04-01 08:34] FroMage commented on #16155
Sure, but other CLIs don't really have any logical default action, perhaps? This sorta feels like one of those "oh you know what I mean" when you type it.

[code]

That looks perfectly fine to me :)

[2021-04-01 08:38] #16148 closed

[2021-04-01 08:40] ThreeDollarsABottleOfGreenTea commented on #16166
Maybe you can get this parameter from address bar to fix this bug.

[2021-04-01 08:50] lrotim opened #16170 "Http2 does not work with reactive routes in quarkus dev mode"
## Describe the bug
When using enabling http2 & SSL receiving a request from browser that is processed via HTTP2 on quarkus backend yields `java.lang.IllegalStateException: Request has already been read` Error if using reactive route in dev mode

As far as I can see in VertxHttpRecorder there is an attempt to resume a request which raises an error - This  "Recorder" is added in front of any Route

[2021-04-01 08:52] gsmet commented on #16170
@stuartwdouglas could you have a look?

[2021-04-01 09:10] yrodiere opened #16172 "Dev-services and related tests for Oracle"
## Description

Follow-up on #15964 : that PR introduces support for Oracle's JDBC driver, but lacks the corresponding dev-services, as well as the corresponding tests (which, crucially, also test that Agroal's `ExceptionSorter` is correctly set).

## Implementation ideas

See `io.quarkus.jdbc.db2.deployment.DevServicesDB2DatasourceTestCase`: basically, we need the same test in the jdbc-oracle ext

[2021-04-01 09:15] sberyozkin commented on #16151
@wjglerum Hi - thanks for a quick confirmation - I've added a label suggesting to backport the fix to `1.13.1.Final` - if @gsmet will see no problems with the backport then it should make it :-)

[2021-04-01 09:15] #16162 closed

[2021-04-01 09:16] senzu commented on #16162
With another Oracle JDBC driver worked, sorry

<dependency>
      <groupId>com.oracle.database.jdbc</groupId>
      <artifactId>ojdbc11</artifactId>
      <version>21.1.0.0</version>
</dependency>

[2021-04-01 09:20] sberyozkin commented on #13239
@gauravrmsc - Hi, how are things - can you let me now please if you are intending to resume working on this issue ? Np if not - i can suggest a few other issues to look at which can take less time, etc
Thanks

[2021-04-01 09:22] gsmet commented on #16162
No worries, thanks for the follow-up!

[2021-04-01 09:30] gsmet commented on #16037
I don't think we can reasonably do something about this. Closing.

[2021-04-01 09:30] #16037 closed

[2021-04-01 09:31] gsmet commented on #16057
@barreiro any progress? This looks serious and I would like to have it fixed in 1.13.1.Final if possible (so upgrade should be m merged by Tuesday evening).

[2021-04-01 09:31] michalszynkiewicz opened #16173 "Rest Client Reactive - disable ssl verification if `quarkus.tls.trust-all=true`"

[2021-04-01 09:34] maxandersen commented on #16131
so `GraalVM 21.1.0 Java 11 CE (Java Version 11.0.11+5-jvmci-21.1-b02)` becomes `Mandrel 21.1.0 Java 11 (Java Version 11.0.11)` ?

[2021-04-01 09:35] sberyozkin commented on #13676
I've looked at this issue again and indeed if the `id_token` flow is required then it is an SPA-level decision - and if this SPA then posts this token as a bearer token to Quarkus then the existing `service` app will just verify it as always... Let me close it for now

[2021-04-01 09:35] #13676 closed

[2021-04-01 09:36] #15785 closed

[2021-04-01 09:40] #6954 closed

[2021-04-01 09:40] debae commented on #6954
This issue is solved in 1.13.0.Final by @dmlloyd

[2021-04-01 10:03] ppalaga opened #16174 "Include Quarkiverse Freemarker in the platform"
As noted earlier, our `camel-quarkus-freemarker` extension depends on `io.quarkiverse.freemarker:quarkus-freemarker`. For this to be legal, `io.quarkiverse.freemarker:quarkus-freemarker` should be tested in the platform.

[2021-04-01 10:04] ppalaga commented on #16174
cc @jamesnetherton

[2021-04-01 10:08] ppalaga opened #16175 "Include Quarkiverse Google Cloud Services in the platform"
As noted earlier, our `camel-quarkus-google-bigquery` and `camel-quarkus-google-pubsub` extensions depend on `io.quarkiverse.googlecloudservices:quarkus-google-cloud-bigquery` and `io.quarkiverse.googlecloudservices:quarkus-google-cloud-pubsub` extensions respectively. For this to be legal, those `io.quarkiverse.googlecloudservices:*` should be tested in the platform.

[2021-04-01 10:09] ppalaga commented on #16175
cc @jamesnetherton

[2021-04-01 10:11] ppalaga opened #16176 "Include Quarkiverse Minio in the platform"
As noted earlier, our `camel-quarkus-minio` extension depends on `io.quarkiverse.minio:quarkus-minio`. For this to be legal, `io.quarkiverse.minio:quarkus-minio` should be tested in the platform.

[2021-04-01 10:11] ppalaga commented on #16176
cc @jamesnetherton

[2021-04-01 10:12] aloubyansky commented on #16175
fyi @loicmathieu

[2021-04-01 11:29] vu-bui commented on #16139
Enforcing the BOM did resolve the Netty version problem. Thanks for that. Here is the project that has missing `javax.security.jacc.PolicyContextException` problem. I just created a plain project with all the suspicious extensions. https://github.com/vu-bui/code-with-quarkus.

Also i'm building using `./gradlew quarkusBuild  -Dquarkus.package.type=native -Dquarkus.native.container-build=true` comm

[2021-04-01 11:35] gsmet commented on #16139
OK thanks I'll try to have a look.

[2021-04-01 11:36] sberyozkin commented on #2611
@loicmathieu Hi - I'm going to send a query to https://jeremylong.github.io/DependencyCheck/mailing-lists.html

[2021-04-01 11:43] gsmet commented on #16139
I was able to reproduce it with your sample project.

@zakkak do you have any idea what's triggering this:
[code]

It looks like something is trying to disable `javax.security.jacc.PolicyContextException` and that it's not around but I scanned the Quarkus codebase and it doesn't look like it's us doing this.

[2021-04-01 11:45] igor-dmitriev commented on #15831
Hi @sberyozkin , it is not working, cause it is required to provide auth-server-url and client-id, otherwise it fails with an error:
[code]

when I added them and added a custom TenantContextResolver as well, it does not give any positive effect, unfortunately

[code]

**application.properties**
[code]

[2021-04-01 11:45] pjgg opened #16179 "Support more than one kafka `kafka.bootstrap.servers` per application"
## Description

Even if Kafka scale very well and the security is done by topics (so make sense that multi-tenancy it's also covered by topics), sometimes could make sense to have two or more Kafkas in your infrastructure/env.

Nowadays I didn't find a way to configure two or more kafkas on your `application.properties`

[code]

I suggest something like...

`kafka.`service_name`.bootstrap.servers`

[2021-04-01 12:06] loicmathieu commented on #2611
@sberyozkin I didn't have time to reach out to them, so if you can I'll be happy to followup on the issue and gives more feedback if needed ;)

[2021-04-01 12:10] radcortez commented on #16123
Ok, let me check

[2021-04-01 12:13] loicmathieu commented on #16175
@aloubyansky can you point me to where I can find the information of what it means to be in the platform (cost, integration way, release process).

Another question, Camel currently only use two services, should I only include those ones or should I include all the extensions ?

[2021-04-01 12:18] FroMage commented on #15891
OK lemme take that.

[2021-04-01 12:25] geoand commented on #15891
💪🏼

[2021-04-01 12:44] radcortez commented on #16123
Ok, I believe this is related with https://github.com/quarkusio/quarkus/pull/14960 and more specifically with: https://github.com/quarkusio/quarkus/blob/f4cba6a04ff1df74915297559b62154c49a61fb5/extensions/datasource/deployment-spi/src/main/java/io/quarkus/datasource/deployment/spi/DevServicesDatasourceConfigurationHandlerBuildItem.java#L98-L108

This checks if a DS configuration is available to st

[2021-04-01 12:49] sberyozkin commented on #13205
@cemnura Hi - as agreed please have a look at this one when you get a chance - I can't assign it to you (not sure why - as I was able to assign the previous issue you looked at to you) but it is not really a problem

[2021-04-01 12:54] sberyozkin commented on #13205
Did a minor update to the description as it is `quarkus-oidc` configuration which is referenced (no `quarkus.oauth2.enabled` is used).

[2021-04-01 13:09] ppalaga commented on #16175
We plan to add storage and functions. So, we'd prefer to have those at least.

[2021-04-01 13:14] edeandrea opened #16182 "Mocking Panache active record pattern not working"
## Describe the bug
I've built a JAX-RS endpoint & a test using Panache & the active record pattern. I'm trying to mock Panache so I can test the resource class in isolation. It doesn't seem to be working. I've successfully been able to do this using the repository pattern and am trying to achieve the same thing with the active record pattern. I've attached a reproducing project, but here are the

[2021-04-01 13:23] dmlloyd commented on #15884
So I guess the question comes down to:

* Should we implement an equivalent to the LogBack SiftingAppender?
* Should we provide a specific bridge to use LogBack's SiftingAppender?
* Should we examine the possibility of implementing a new file-based handler that has enough general capabilities to cover the requisite use cases?

/cc @jamezp for additional perspective.

[2021-04-01 13:24] loicmathieu commented on #16175
Function is already a core extension.

Quarkiverse Google Cloud services provides the following extensions:

   - BigQuery
   <https://github.com/quarkiverse/quarkus-google-cloud-services/blob/master/bigquery>
   - Bigtable
   <https://github.com/quarkiverse/quarkus-google-cloud-services/blob/master/bigtable>
   - Firestore
   <https://github.com/quarkiverse/quarkus-google-cloud-services/blob/mast

[2021-04-01 13:27] michalszynkiewicz opened #16184 "Align Reactive RestEasy default mime types"
At the moment, resteasy reactive content type is set to plaintext for string return type and json otherwise by default.
The rest client on the other hand is aligned to the MicroProfile specification and always uses application/json by default.

This needs to be aligned, probably it would be best to change the client to behave like server and have a switch so that it can be compliant with the spec.

[2021-04-01 13:28] #15567 closed

[2021-04-01 13:38] #16119 closed

[2021-04-01 13:52] axblu commented on #16153
I would use `quarkus` as a label. It is easy to add an alias named `q` or `qs` if desired.

[2021-04-01 13:53] ppalaga commented on #16175
OK, out of those, we (Camel Quarkus) are only interested in bigquery, pubsub and storage, which is not to say that we are against publishing everything :)

[2021-04-01 14:11] barreiro commented on #16057
@gsmet thanks for the context. I have a possible fix, still need to verify with the provided reproducer.

[2021-04-01 14:14] famod commented on #15884
For me, something like `TurboFilter` (http://logback.qos.ch/manual/filters.html) would come in handy as well.

E.g. to suppress specific WARN and ERROR messages while doing negative tests.

[2021-04-01 14:50] hernael commented on #16123
ok @radcortez, thanks for the solution!

[2021-04-01 14:59] sberyozkin commented on #2611
@loicmathieu Np at all, sounds good, I wonder if more than adding the exceptions for `quarkus-security` can be done, I'll let you know once I reach out to the team

[2021-04-01 15:18] argenstijn commented on #14652
Somehow weird:    Sometimes it work and sometimes it fails.

Using 1.13.0.Final quarkus, graalv 21 and

<dependency>
			<groupId>io.quarkiverse.cxf</groupId>
			<artifactId>quarkus-cxf</artifactId>
			<version>0.5</version>
		</dependency>

[2021-04-01 15:24] jamezp commented on #15884
I can't find where this `SiftingAppender` lives in logback. That said it seems like a handler that could be created.

[2021-04-01 15:24] jamezp commented on #15884
This sounds like a filter assigned to a logger instead of a handler.

[2021-04-01 15:31] aloubyansky commented on #16033
What we should think of is a set options that `create-extension` (and another create flavors) need. If they have different options, I think they are good candidates to become subcommands instead of options of `create`.

[2021-04-01 15:40] gsmet commented on #16123
@radcortez any chance we could have a fix by Tuesday evening?

[2021-04-01 15:43] radcortez commented on #16123
Yes, doing it right now.

[2021-04-01 15:46] #13326 closed

[2021-04-01 15:55] cescoffier commented on #16179
In Reactive Messaging each channel can have its own bootstrap.servers. In addition, with the service binding work, we generate multiple kafka configurations (using the service binding id as name).

[2021-04-01 15:56] cescoffier commented on #16179
basically, it's already in the works.

[2021-04-01 16:31] andreas-eberle opened #16188 "Cannot customize lambda function name"
## Describe the bug
We have a project with multiple lambda functions. As described in the documentation, it is easily possible to select the lambda function we want Quarkus to run (https://quarkus.io/guides/amazon-lambda#choose). Unfortunately, it is not possible to upload multiple lambda functions to different names because the `FUNCTION_NAME` is hardcoded in the `manage.sh` script and cannot be

[2021-04-01 17:21] #16113 closed

[2021-04-01 17:22] maxandersen opened #16190 "setup ci flow for testing quarkus deployment against openshift sandbox"
## Description
we've have multiple releases where one or more of the kubernetes / openshift deployment mechanisms fails.

That could have been captured if we had a basic smoke test of those deploy options.

## Implementation ideas
we have option of using openshift developer sandbox - lets us test both kubernetes and openshift flows.

idea is to setup a job dedicated to this testing.

in future we

[2021-04-01 18:54] aloubyansky commented on #16175
@loicmathieu i'll write a doc about that and let you know.
Ideally, what you need to provide is
* a BOM that includes your extensions and their required dependencies (you may import other BOMs they require)
* tests packaged as test-jar

You don't need to package the whole testsuite, more like smoke tests. They will be integrated into the platform TS.

[2021-04-01 18:55] aloubyansky commented on #16175
Your BOM will be imported here https://github.com/aloubyansky/quarkus-platform/blob/main/bom/pom.xml
And your tests will be integrated in https://github.com/aloubyansky/quarkus-platform/tree/main/integration-tests

[2021-04-01 18:57] aloubyansky commented on #16175
I would consider adding all your extensions to the platform. It probably makes more sense that way.

[2021-04-01 18:58] aloubyansky commented on #16175
BTW, i'm working on a new platform project setup. Which hopefully make it all easier. It's not yet ready though, just keep in mind we are looking into improving it.

[2021-04-01 19:35] svor opened #16191 "Debugger doesn't stop on a breakpoint when debugging a Quarkus app"
## Describe the bug
Active breakpoints don't work if you make changes before debugging a Quarkus application, but after disabling/enabling the breakpoint, it starts working. It is reproducible in VS Code and Eclipse IDE.

As @maxandersen suggested I tried to disable instrumentation `-Dquarkus.live-reload.instrumentation=false` and the problem has gone.

### Expected behavior
The debugger should st

[2021-04-01 19:38] maxandersen commented on #16191
@stuartwdouglas rings a bell ? Feels like our check for instrumention clears/disables the active breakpoints somehow.

[2021-04-01 19:38] famod commented on #16191
/cc @stuartwdouglas

[2021-04-01 20:06] edeandrea commented on #15302
Did this get fixed in 1.13 (I haven't re-tested - was just curious)?

[2021-04-01 22:05] famod opened #16195 "CI: replace JDK 15 with 16"
## Description
JDK 16 reached GA a few weeks ago and the natural cycle would be to replace the jobs in Quarkus CI that are currently running on JDK 15 with JDK 16.
Our EA test job/workflow [1] is still running on 16 (and not 17-ea) because there are still some problems, especially with Kotlin and Gradle.
The idea is to get the EA job to the point where we can make the switch (both for CI JDK 15 ->

[2021-04-01 22:06] famod commented on #16195
I'm currently testing some fixes/workarounds for the known problems.

[2021-04-01 22:36] tanadeau opened #16196 "Quarkus 1.13.0.Final Gradle plugin does not run annotation processors"
## Describe the bug
Using Quarkus 1.13.0.Final and the Gradle plugin of the same version, annotation processors are no longer run. If I keep the library versions of Quarkus at 1.13.0.Final and just change the Gradle plugin to 1.12.2.Final, everything works as expected.

### Expected behavior
Annotation processors are run, code is generated by them, and build completes successfully.

### Actual beh

[2021-04-01 22:47] tanadeau commented on #16196
My guess is that it has something to do with https://github.com/quarkusio/quarkus/commit/de6b5b5760b06edc0f0061ebff14985ee09dad11#diff-9ce4124e67bfff3d68b092c4fb5a0e168cf8c722357f89ad19766a34700987dc

[2021-04-01 22:52] tanadeau commented on #16196
If I change `annotationProcessor` to `compileOnly`, then it works. However, doing so breaks a lot of Gradle code examples for libraries that use annotation processors.

[2021-04-02 00:38] zakkak commented on #16139
## TLDR

This is happening because `software.amazon.awssdk.sdk-core-2.16.19` includes a `native-image.properties` file with the following content:
[code]

This essentially enables the [`ReportUnsupportedElementsAtRuntime` native-image feature](https://github.com/oracle/graal/blob/870e6fb68767e2d1d3e7561257cd87781d4bfd31/substratevm/Options.md#options-to-native-image-builder) which is [known to cau

[2021-04-02 01:00] zakkak commented on #16131
I was thinking about `native-image 21.1.0.0 Java 11 Mandrel Distribution (Java Version 11.0.10+9)` for Mandrel's bash script and
`native-image 21.1.0.0 Java 11 CE (Java Version 11.0.11+5-jvmci-21.1-b02)` for GraalVM's bash script (which is not shipped with GraalVM CE).
This is discussed in https://github.com/graalvm/mandrel/issues/230 so please refer there for more propose alternatives there.

[2021-04-02 01:00] hprange opened #16198 "Retrying after database error causes Hibernate exception"
## Describe the bug
My project has a JPA entity annotated with `@UniqueConstraint` to guarantee the application won't persist duplicate data. One of its endpoints checks the presence of a key in the database and, if missing, inserts a new record. Under highly concurrent circumstances, the application may trigger unique constraints while saving new data. I added the `@Retry` annotation to the resou

[2021-04-02 01:44] missourian55 opened #16199 "AWS Lambda Java Events 3.8.0 adoption and failures"
## Description

AWS released a new Java events version a week ago. Quarkus 1.13.0.Final use version *3.7.0* of below library. When I manually added below version the native image compilation failed with some JODA errors. I just want to give a heads up to Quarkus team about this issue

**New version**
[code]
**Native Image compilation failure**
[code]

[2021-04-02 02:57] vu-bui commented on #16139
Thanks for the insights, I really appreciate that. I also have another problem that I don't actually know if it's related to the hack that I did or the argument in AWS SDK. So when I added the 2 dependencies I mentioned before, I can successfully build the native image, but I got this exception when running it in AWS Lambda
[code]

I use API Gateway to proxy the request to a AWS Lambda function, w

[2021-04-02 05:23] geoand commented on #15302
I don't really remember TBH

[2021-04-02 05:28] geoand commented on #16139
Didn't @galderz mention somewhere that we can remove / disable GraalVM flags at will?
If we don't have that yet, it's probably a good time to start looking into it 😎

[2021-04-02 06:24] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/710727620

[2021-04-02 06:34] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/710727620

[2021-04-02 07:21] loicmathieu commented on #16175
Hi,

Thanks for the information.

I don't have a bom at the moment but was thinking of creating one for some
time, now seems to be a good moment ;)

For smoke tests, this is not easy and we will not be able to test all the
services as not all provide emulators (some needs a real instance on the
cloud to be run). So I could only include tests for which an emulator
exists.

Regards,

Loïc

Le jeu. 1

[2021-04-02 07:25] rebillard-maxime opened #16200 "UnsatisfiedResolutionException : Build Failed with Mapstruct and Quarkus 1.13.0"
## Describe the bug

I came accross a build issue with mapstruct regarding the new quarkus version (1.13.0), that didn't happen on version 1.12.2.

On Quarkus version 1.12.2 my code build without errors.
On Quarkus version 1.13.0 my code doesn't build.

(same Mapstruct version)

### Expected behavior
I expect the code to build without errors.

### Actual behavior
It didn't build properly and got

[2021-04-02 07:43] rebillard-maxime commented on #16200
It seems linked to `https://github.com/quarkusio/quarkus/issues/16196`

[2021-04-02 07:48] glefloch commented on #16200
thanks for reporting this. I will look into it!

[2021-04-02 07:56] YunaBraska opened #16202 "Quarkus 1.13.0 Missing test annotation @QuarkusTest"
## Describe the bug
I can't find any documentation for the replacement of the annotation `@QuarkusTest`

### Expected behavior
Quarkus tests running

### Actual behaviour
`ClassNotFoundException`

## To Reproduce

* Upgrade Quarkus 1.12.0  to Quarkus 1.13.0
* I use `./mvnw -B versions:update-properties -DgenerateBackupPoms=false` for upgrading my dependencies...
* Using:
[code]

[2021-04-02 07:56] FroMage opened #16203 "DevServices: logs too verbose"
I just started an app with DevServices and I got this logorrhea:

[code]

I'm pretty sure that this should be enough:

[code]

The rest is useless, no?

[2021-04-02 07:59] FroMage opened #16204 "Hibernate ORM: `drop-and-create` logs too verbose"
In DEV mode, I just got those logs:

[code]

Due to this config:

[code]

Given that they're not real issues, and we know about them, is there any way we can filter them out?

CC @Sanne @yrodiere ?

[2021-04-02 08:32] FroMage commented on #16182
Hah. This won't work because `PanacheMock` is meant to mock static methods. Here you're calling an instance method. Mocking this would mean mocking it for every instance, which is probably not what is expected?

I guess we can probably fix this somehow, but not sure how yet. Need to think about it.

[2021-04-02 08:59] Sanne commented on #16204
I guess we could filter them, but I'm not sure about it being a good idea.  It seems the ones you got are harmless, but what if you had a more serious SQL exception?

Ideally ORM could be improved to have an advanced dictionary to grade the severity of each such case, but unless it gets contributed I'm afraid we have more pressing things to fix.

[2021-04-02 09:32] argenstijn commented on #14652
I include a simpleJaxb project which can reproduce this error constantly:
using:
graalvm 21
quarkus 1.13.0
jaxb-extension

[simpleJaxb.zip](https://github.com/quarkusio/quarkus/files/6248830/simpleJaxb.zip)

[2021-04-02 09:58] mincel opened #16207 "Missing Hazelcast logs after change #15636. It would be nice to have a config parameter."
## Description

We use Hazelcast embedded in one of our projects. After upgrading to 1.13.0.Final version we get `"LogManager error of type WRITE_FAILURE: The delayed handler's queue was overrun and log record(s) were lost. Did you forget to configure logging?"` during server startup. All Hazelcast logs are lost. I suspect it is related to change https://github.com/quarkusio/quarkus/pull/15636.

H

[2021-04-02 10:31] zakkak commented on #16139
@geoand yes that would be https://github.com/oracle/graal/pull/3179. This will probably land in GraalVM 21.2.0 though (expected on Jul 20 2021).

[2021-04-02 10:33] geoand commented on #16139
I see, thakns!

[2021-04-02 10:52] sberyozkin commented on #4817
I'd like to close this issue for now as it is unlikely we will be able to prioritize on it in the short term - but can re-open it if there will be more user queries

[2021-04-02 11:11] YunaBraska opened #16208 "CORS Preflight responses missing `Access-Control-Request-Headers`"
## Describe the bug
I am unable to find the right setting to automatically set the `Access-Control-Request-Headers` in the Preflight/Options response. I tried using the setting `quarkus.http.cors.headers` by yaml config but that doesn't produce any header response on the OPTIONS endpoints (`https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/OPTIONS#preflighted_requests_in_cors`).
Wildcards

[2021-04-02 11:12] YunaBraska commented on #16202
Never mind, needed to restart my PC somehow to recognise the maven thingy again :/ sorry

[2021-04-02 11:12] #16202 closed

[2021-04-02 11:28] edeandrea commented on #16182
I tried changing `fruit.persist()` to `Fruit.persist(fruit)` and updating the mock to include `any(Fruit.class)` but that didn't work either.

[2021-04-02 12:13] zakkak commented on #6327
An explanation of why this is happening can be found in https://github.com/oracle/graal/issues/1725

As explained there:

We introduced the option --report-unsupported-elements-at-runtime so that developers can delay thinking about some Native Image compatibility issues and make quick progress getting a first image built. But that option fundamentally hides problems at image build time that you ac

[2021-04-02 12:26] loicmathieu commented on #16182
I'm afraid this will not be possible as the Fruit instance is creted from the serialization layer, so when it arrives inside your JAX-RS ressource it is not a mock but a real object.

I cannot see a way to workaround this.

[2021-04-02 12:30] sberyozkin commented on #16208
@YunaBraska, it looks like it is a formatting issue.
The code which deals with this header is [here](https://github.com/quarkusio/quarkus/blob/fa50d364b12df474f3223de7be791a578b992548/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java#L39). So it takes `headers` and then adds the request header which is contained in those `headers` to `Access-Control-Req

[2021-04-02 12:38] edeandrea commented on #16182
I also tried cresting a new Fruit instance but that didn't work either

[2021-04-02 12:42] jtama commented on #9985
@loicmathieu Do you know if the same is available for `quarkus-reactive-pg-client` ?

[2021-04-02 12:44] zakkak commented on #15434
This looks like the same issue with https://github.com/quarkusio/quarkus/issues/16139
Please see https://github.com/quarkusio/quarkus/issues/16139#issuecomment-812252577 for the culprit.

[2021-04-02 12:45] jtama commented on #9985
You are write, but that jdbc url feels like a hack, and additional-jdbc-properties are the right way.

[2021-04-02 12:52] loicmathieu commented on #9985
@jtama the reactive clients are based on Vert.x reactive database driver. I don't know if those supports all the configuration options as the JDBC variants.

[2021-04-02 12:56] zakkak commented on #16062
:+1: https://github.com/quarkusio/quarkus/issues/16139 and https://github.com/quarkusio/quarkus/issues/15434 seem to be caused by such native-image metadata.

Detecting such metadata and overriding the offending parts with oracle/graal#3179 (expected to land in GraalVM 21.2.0 on Jul 20 2021) would be nice!

[2021-04-02 12:56] loicmathieu commented on #15434
@Sgitario can you check if removing the AWS extensions resolves the issue ?
If yes, it's the same one as #16139, the issue is upstream on the AWS SDK

[2021-04-02 12:57] s0l0c0ding commented on #16070
thanks for the hint

[2021-04-02 12:58] loicmathieu commented on #16182
As I said, the Fruit instance will be created by the serialization layer of RESTEasy, I don't see how you can mock it.

[2021-04-02 13:06] edeandrea commented on #16182
If I used a "dto" object or something that wasn't tied to panache or
hibernate as the jaxrs input and then created a new Fruit object in the
jaxrs method - would that work or is that still the same problem?

----------
Sent from a mobile device

On Fri, Apr 2, 2021, 8:58 AM Loïc Mathieu ***@***.***> wrote:

[2021-04-02 13:14] loicmathieu commented on #16182
You'll not be able to mock the new object's persist method easily.

The only way I can see for this is to create a factory method inside your `Fruit` entity:

[code]

Then mock this factory method to return a mock ...

@FroMage as doing `PanacheMock.doNothing().when(Fruit.class).persist();` will not work, we should generate a RuntimeException (checking the mocked method to be static from PanacheMo

[2021-04-02 13:18] edeandrea commented on #16182
I also tried `PanacheMock.doNothing().when(Fruit.class).persist(Mockito.any(Fruit.class));` but that ended up in a ton of error saying that the mock was not complete.

[2021-04-02 13:20] sberyozkin commented on #15831
@igor-dmitriev

I only proto-typed the code, so indeed setting client-id was also expected.
OK, so you see it working in principle with `TenantConfigResolver` - thanks for trying it.

With this resolver, `OidcRecorder` does not set any code really which would do something at the start up.
The only other thing that I'd like to ask you to try is switch to `1.13.0.Final` - it has a new OIDC channel s

[2021-04-02 13:22] sberyozkin commented on #15831
By the way `quarkus-oidc`, in its SNAPSHOT code, will start with `auth-server-url` in the dev mode (though it is not related to this issue)

[2021-04-02 13:32] patriot1burke commented on #16199
Which event are you using in your Lambda?  I think this issue has popped up before and the solution is to exclude joda.

[2021-04-02 13:39] jtama commented on #9985
@loicmathieu So I have answer bits :
* additional-jdbc-properties are processed by `agroal/DataSourceJdbcRuntimeConfig`which is not used by the reactive `PgPoolRecorder ` that uses directly DataSourceRuntimeConfig. So if it works it's by directly passing those properties in the URL.
* Even included in URL this doesn't seems to work with the following error : `Connection refused: localhost/127.0.0.

[2021-04-02 13:44] ppalaga commented on #16175
@jamesnetherton recently did some alignment of google dependency versions in Camel Quarkus so he may perhaps help.

[2021-04-02 14:01] missourian55 commented on #16199
I am using below events. *IamPolicyResponse* is the new event added by AWS to support Lambda Authorizer, it doesn't have any JODA references.

[code]

[2021-04-02 14:16] edeandrea commented on #16182
This is what I meant - When I tried `PanacheMock.doNothing().when(Fruit.class).persist(Mockito.any(Fruit.class));` I got

[code]

[2021-04-02 14:19] loicmathieu commented on #16175
Just created a BOM this morning so it would be easier to manage the version.
I still need to investiguate on the usage of the library BOM from Quarkus, last time I check we use too many Google library so I was reluctant to use it to avoid possible issue with grcp or other areas.

[2021-04-02 14:33] mincel opened #16210 "Liquibase fails to find datasource when devservices is disabled."
## Describe the bug
I get the following error when I set `quarkus.datasource.devservices=false` in `dev` mode after upgrading Quarkus from 1.12.2.Final to 1.13.0.Final. I already have a database running on my dev environment so I don't need another database.

[code]

### Expected behavior
I expect Liquibase to use named datasource as configured. There was no problem prior to Quarkus 1.13.0.Final.

[2021-04-02 14:36] famod commented on #16195
After skipping `devtools/gradle` and `integration-tests/gradle` and adding an `-add-opens` workaround for the `kotlin-maven-plugin`, the build failed in my fork with **259 test failures**. I'll try to group them...

[2021-04-02 14:58] famod commented on #16195
Affected test classes with number of failing test methods:
[code]

[2021-04-02 15:04] jtama opened #16211 "Reactive resteasy native exception"
## Describe the bug
When running reactive resteasy in native mode and accessing an endpoint with insufficient right a forbidden exception is thrown and is catched by `io.quarkus.resteasy.reactive.server.runtime.exceptionmappers.ForbiddenExceptionMapper`that throws an exception

### Expected behavior
This should work flowlessly

### Actual behavior
An exception is thrown with following :

`
Caused

[2021-04-02 15:05] missourian55 commented on #16199
I think I find the problem, transitive dependency issues

aws-lambda-java-events depends on **joda 2.6**

quarkus-amazon-lambda-common depends on jackson-datatype-joda depends on **joda 2.10.8**

So your recommendation of adding exclusion to joda when explicitly declaring **aws-lambda-java-events** works or we can declare an explicit joda dependency. Thank You!

[2021-04-02 15:05] #16199 closed

[2021-04-02 15:06] YunaBraska commented on #16208
Properties looks like the same...

My config
[code]

Browser Request:
[code]

Quarkus response:
[code]

Browser error:
`Access to XMLHttpRequest at 'http://localhost:8081/users/login' from origin 'http://localhost:8080' has been blocked by CORS policy: Request header field content-type is not allowed by Access-Control-Allow-Headers in preflight response.`

[2021-04-02 15:19] sberyozkin commented on #16208
@YunaBraska Can you remove ` ` between the values ? The code does not trim at the moment (will have to be fixed)

[2021-04-02 16:38] argenstijn commented on #14652
This fixes  the problem but dunno what i am breaking then:

`
@TargetClass(className = "com.sun.xml.bind.v2.model.impl.TypeInfoImpl", onlyWith = Target_com_sun_xml_bind_v2_model_impl_TypeInfoImpl.Selector.class)
@Substitute
final class Target_com_sun_xml_bind_v2_model_impl_TypeInfoImpl {

    static final class Selector implements BooleanSupplier {

        @Override
        public boolean getAsBo

[2021-04-02 17:29] YunaBraska commented on #16208
Hm it doesn't work either, its totally ignoring my CORS config.... My current workaround is to create a `@Provider` like this `CorsOverwriteHeaders implements ContainerResponseFilter` and put the config hardcoded in there :(

[2021-04-02 20:06] #15331 closed

[2021-04-02 20:07] #16196 closed

[2021-04-02 20:07] #16200 closed

[2021-04-02 21:15] zakkak commented on #16129
I gave `@DisabledIf` a go with no luck.

[code]

The problem seems to be that the JUnit tests are being run using the hosts JVM which results in `org.graalvm.home.Version.getCurrent()` returning "snapshot". If I change the `JAVA_HOME` to point to GraalVM then it works.
So we need to:
1. Detect whether the unit tests are being run against a native image. I didn't find how to do this.
2. Get the ver

[2021-04-02 21:17] zakkak commented on #13275
@Karm do we have any updates on this?

[2021-04-02 21:25] daibertdiego opened #16217 "Quarkus Kotlin using @ApplicationPath triggering javax.ws.rs.NotFoundException: RESTEASY003210: Could not find resource for full path on production only."
## Describe the bug
I am using `@ApplicationPath(value = "/api")
class RestApplicationConfig : Application()` to modify my base URL for my REST endpoints and when I run the module using the quarkus:dev everything is fine, but when I run the module in production on kubernets, the module keep logging this error forever.

`2021-04-02 21:10:00 ERROR [or.un.ex.ExceptionHandlers] (executor-thread-1) Unc

[2021-04-02 22:54] Legion2 opened #16218 "Excluded JAX-RS classes are visible in openapi"
## Describe the bug
When JAX-RS classes are excluded via `@IfBuildProfile` (#15215), it is still visible in the generated openapi document.

### Expected behavior
When a JAX-RS class is excluded from the current build via an `IfBuildProperty` annotation (or similar), it should also be excluded from openapi document generation.

### Actual behavior
The endpoints of the JAX-RS class are visible in o

[2021-04-03 06:32] eddiecarpenter opened #16219 "java.util.MissingFormatArgumentException: Format specifier '%s'"
Error message created in OidcCommonUtils::verifyCommonConfiguration uses String.format() to create an error message. The error text contains 2 %s specifiers but only 1 value is being passed.

This problem was introduced in version 1.13.0-Final

**Extract from OidcCommonUtils**

[code]

[2021-04-03 07:45] gsmet commented on #16219
This has been fixed here https://github.com/quarkusio/quarkus/pull/16019/files and will be part of 1.13.1.Final.

Thanks for the report anyway!

[2021-04-03 07:45] #16219 closed

[2021-04-03 07:48] jaybeepee opened #16220 "Regression when using multiple datasources 1.12.2.Final => 1.13.0.Final"
## Describe the bug
changing from Quarkus version 1.12.2.Final to 1.13.0.Final results in our multiple datasources configuration to fail on boot.

### Expected behavior
No errors should be observed and DB connections in both datasources should be established successfully

### Actual behavior
The primary (default) datasource fails with an error stating that the driver doesn't support the db url (co

[2021-04-03 08:07] mutasemhidmi commented on #8386
I increased the memory but it's still not working, and building gets stuck
this is the command I am using ./mvnw package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.native-image-xmx=16g

[2021-04-03 08:31] gsmet commented on #16220
Is it in dev mode only or it also happens when you run the jar?

[2021-04-03 08:38] yoobi opened #16222 "Quarkus-mongodb-panache -- embedded object"
## Describe the bug
Hello! I'm new to quarkus and trying to build a REST API with it for the fun, I'm trying out "io.quarkus:quarkus-mongodb-panache" but I'm unable to find a solution for this simple use-case
I've been reading this nice [article](https://quarkus.io/guides/mongodb-panache) but didn't find anything related to my issue

[code]
My issue here is that the `Address` is a `data class` tha

[2021-04-03 09:04] jaybeepee commented on #16220
Hi Guillaume,

Happens when running the jar too.

Cheers
Jason

On Sat, Apr 3, 2021 at 10:31 AM Guillaume Smet ***@***.***>
wrote:

[2021-04-03 11:22] mutasemhidmi opened #16223 "native image build gets stuck. I have macbook m1 and I am using docker to build a native image by running the below command"
## Describe the bug
(Describe the problem clearly and concisely.)

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps

[2021-04-03 11:22] mutasemhidmi opened #16224 "native image build gets stuck. I have macbook m1 and I am using docker to build a native image by running the below command"
## Describe the bug
(Describe the problem clearly and concisely.)

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps

[2021-04-03 11:23] mutasemhidmi opened #16225 "native image build gets stuck"
native image build gets stuck. I have macbook m1 and I am using docker to build a native image by runninag the below command. Note that I increased the memory in docker desktop and in the pom.xml

./mvnw package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.native-image-xmx=16g

[2021-04-03 12:18] bpasson opened #16226 "Flyway initSql support"
## Description
Flyway has an initSql property to specify sql to run. This is useful e.g. for selecting a role in PostgreSQL to use for the migration. This is beneficial if you use vault generated users who also need to update schemas. Currently it cannot be specified in the extension configuration. I think it would be a good addition.

[2021-04-03 12:43] machi1990 commented on #16224
Duplicate of https://github.com/quarkusio/quarkus/issues/16223

[2021-04-03 12:43] #16224 closed

[2021-04-03 12:45] machi1990 commented on #16223
Duplicate of https://github.com/quarkusio/quarkus/issues/16225. @mutasemhidmi can you please add all the relavant details in that issue?

[2021-04-03 12:45] #16223 closed

[2021-04-03 12:52] geoand commented on #16129
I'll take a look next week and see what can be done

[2021-04-03 14:55] vietk commented on #16225
Hello, you can try to use [RemoveSaturatedTypeFlows](https://github.com/oracle/graal/issues/2384) option to your build, you'll need less memory and probably needs less GC.

[2021-04-03 15:24] mutasemhidmi commented on #16225
@machi1990 [INFO] Scanning for projects...
[INFO]
[INFO] ---------------------< org.acme:code-with-quarkus >---------------------
[INFO] Building code-with-quarkus 1.0.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- quarkus-maven-plugin:1.11.3.Final:generate-code (default) @ code-with-quarkus ---
[INFO]
[INFO] --- maven-resources-plugin:

[2021-04-03 15:26] mutasemhidmi commented on #16225
@vietk what I need to do exactly ?

[2021-04-03 16:10] cescoffier opened #16227 "Investigate io.quarkus.resteasy.reactive.server.test.stream.StreamTestCase#testClientStreaming"
`io.quarkus.resteasy.reactive.server.test.stream.StreamTestCase#testClientStreaming` has been disabled in the Vert.x 4 branches due to some random failure on CI.

Also:
`io.quarkus.resteasy.reactive.jsonb.deployment.test.sse.SseTestCase#testMultiFromMulti`

[2021-04-03 17:21] rolandhaas opened #16228 "Resteasy fails to load abstract subclass of javax.ws.rs.core.Application"
## Describe the bug
Since 1.13.0.Final an application using an abstract Base Implementation of an javax.ws.rs.core.Application will not start anymore.

### Expected behavior
The Application should start properly as with previous versions of quarkus (< 1.13.0.Fiinal).

### Actual behavior
Starting the application won't work because of the following exception. This either with maven or intellij quar

[2021-04-03 19:44] briankahoot opened #16230 "Using quarkusDev with gradle leaves process running"
## Describe the bug
When running quarkus in dev mode, using `./gradlew quarkusDev`, the service is started correctly but when gradle is closed (by pressing Ctrl+C) the process is left running. Subsequent attempts to run in dev mode result in a port conflict for the debug port and an increasing number of processes left behind.

### Expected behavior
When you terminate the gradle build then the asso

[2021-04-03 20:26] gavinking commented on #16204
Agreed. We really don't have a good way to know that the warning is completely harmless.

[2021-04-03 20:37] gavinking commented on #16198
When an exception propagates out of the Hibernate session, the session is considered in an inconsistent state and must be discarded. You can't just retry things using the same session.

[2021-04-03 23:44] hrstoyanov opened #16231 "Possible bug in 1.13.0.Final, not present in 1.12.2.Final?"
## Describe the bug
The bug is well [explained here](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/1.2E13.2E0.2EFinal.20issue)

[2021-04-04 07:23] vietk commented on #16225
Sorry for the non detailled answer :
You have to pass the option I mentioned above [RemoveSaturatedTypeFlows](https://github.com/oracle/graal/issues/2384) by using [the additional build args commands ](https://github.com/oracle/graal/issues/2384)to the build.

For example, you can modify the native profile in your pom.xml

[code]

Hope it could helps achieving your build ...

Regards

[2021-04-04 11:47] gsmet commented on #16231
Please provide a description in the issue. Thanks!

[2021-04-04 16:21] mutasemhidmi commented on #16225
it didn't work, and I tried to run this command ./mvnw package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=docker, but It got stuck again. Note that I am using the new MacBook m1.

[2021-04-04 17:48] hprange commented on #16198
Thanks for replying so fast, @gavinking. Shouldn't Quarkus discard the Hibernate session automatically in this case? If not, how can I tell Quarkus to discard the Hibernate session before making a new attempt to execute the resource method?

[2021-04-04 18:20] mutasemhidmi commented on #16225
I noticed something weird that although the memory max usage is 16gbyte, the memory usage get stuck after a while

CONTAINER ID   NAME             CPU %     MEM USAGE / LIMIT     MEM %     NET I/O       BLOCK I/O
f55b6256819d   sleepy_perlman   101.21%   1.098GiB / 15.61GiB   7.03%     1.02kB / 0B   0B / 627kB

[2021-04-04 18:50] igor-dmitriev commented on #15831
@sberyozkin yes, I tried it with `1.13.0.Final`, nothing changed, application start-up time seems still affected, ~=0.5 seconds in AWS Lambda

[2021-04-04 23:19] fwgreen opened #16233 "Maven 3.8.1 update causes warning"
Maven was recently updated from 3.6.3 to 3.8.1 to address [a security vulnerability](https://maven.apache.org/docs/3.8.1/release-notes.html).  As a result, this warning now comes up on startup...
[code]

Quarkus 1.12.1
Java 16

[2021-04-05 01:47] gorshkov-leonid commented on #4404
I reproduced it with the latest quarkus 1.13

[2021-04-05 05:45] srisatya1197 commented on #16233
@fwgreen Sir I want work on this issue .

[2021-04-05 05:51] nicolas-vivot opened #16234 "Datadog tracer"
## Describe the extension

The purpose of this extension is to provide native support to the Datadog tracer implementation for open tracing (using Datadog official dd-java-ot and dd-java-api jars)

### What / who this extension is for

- people who are interested in migrating their java stack to Quarkus native, but cannot due to their dependence on Datadog for the tracing and the [reasons mentione

[2021-04-05 06:22] typekpb opened #16235 "Swagger UI: Uncaught TypeError: Cannot read property 'anyOf' of undefined"
## Describe the bug
Clicking in the http://localhost:8080/q/swagger-ui/ on the GET `/population` endpoint ends in exception in the console:
[code]
It happens for the following (generated) `swagger.yml` file:
[code]

### Expected behavior
Swagger UI shows details of the endpoint
### Actual behavior
Swagger UI ends ends in a neverending loading indicator, having error in javascript console.

## To R

[2021-04-05 06:23] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/718243408

[2021-04-05 06:24] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/718243408

[2021-04-05 07:35] geoand commented on #16129
https://github.com/quarkusio/quarkus/pull/16236 takes care of it

[2021-04-05 07:46] #3217 closed

[2021-04-05 07:49] cescoffier commented on #13533
Closed, the `quarkus-rest-client` extension was missing.

[2021-04-05 07:49] #13533 closed

[2021-04-05 08:31] geoand commented on #16210
Would it be possible for you to attach a small project that exhibits this erroneous behavior?

Thanks

[2021-04-05 09:23] pjgg commented on #16179
Ok so If for example, I have an outgoing topic called `source-stock-price`  that receive events from a producer, and an incoming topic called `sink-stock-price`, we could have a configuration like the following one:
[code]

Assuming that channel `source-stock-price` is listening on `localhost:9092` and `sink-stock-price` is listening on `168.127.0.65:9093`

Thank you @cescoffier I think that we co

[2021-04-05 09:47] mincel commented on #16210
[getting-started-liquibase-test.zip](https://github.com/quarkusio/quarkus/files/6257489/getting-started-liquibase-test.zip)

[2021-04-05 09:58] #16207 closed

[2021-04-05 09:59] mincel commented on #16207
I'll reopen as bug

[2021-04-05 10:04] mincel opened #16239 "Missing Hazelcast logs after change #15636"
## Describe the bug
We use Hazelcast embedded in one of our projects. After upgrading to 1.13.0.Final version we get `"LogManager error of type WRITE_FAILURE: The delayed handler's queue was overrun and log record(s) were lost. Did you forget to configure logging?"` during server startup. All Hazelcast startup logs are lost. I suspect it is related to change https://github.com/quarkusio/quarkus/pu

[2021-04-05 10:09] gsmet commented on #16239
FWIW, I also had the warning when I upgraded Quarkus in an app. Just downloading the new artifacts triggered it.

I think we need to rethink this or at least have a discussion about it.

/cc @geoand @stuartwdouglas

[2021-04-05 10:23] geoand commented on #16239
This one seems to the gift that keeps on giving

On Mon, Apr 5, 2021, 13:09 Guillaume Smet ***@***.***> wrote:

[2021-04-05 10:37] #16129 closed

[2021-04-05 11:03] yoobi commented on #9210
Anything new concerning the enhancement ? :D

[2021-04-05 12:06] gorshkov-leonid commented on #4404
e.g.:

client.doOperation1().thenComposeAsync((v)->client.doOperation2() ,ex)
* Operation1 is 200
* Operation 2 is 401 (because of absence of header)

It seems thatResteasyContext is not accessible on chain in the first thenCompose:
`ResteasyContext.getContextData(javax.ws.rs.core.HttpHeaders.class).getRequestHeader("Authorization").get(0)`

[2021-04-05 12:15] kenfinnigan commented on #16234
Agree it makes sense for this to be added to Quarkiverse

[2021-04-05 13:00] famod commented on #16233
@srisatya1197 Thanks for your offer (really appreciated!) but I have already started to work on this in general, including an update of the Quarkus CI.
See also this discussion I have just started: https://groups.google.com/g/quarkus-dev/c/A-cm9pvviiE

/cc @aloubyansky

[2021-04-05 13:06] cescoffier commented on #16233
The issue is about a change in mavne blocking insecure repositories by default. Check that all your repositories are in `https` (<--- s) and not `http`

[2021-04-05 14:12] geoand commented on #16210
I assume that the initial intention was to use `quarkus.datasource.inventory.devservices=false`.
I tried that but even then Quarkus starts a container for the default datasource even when though the default datasource seems to not be used at all.

When switching to `quarkus.datasource.devservices=false` then indeed Quarkus does turn off the dev-services for the default datasource, but a such a dat

[2021-04-05 14:21] mincel commented on #16210
We haven't used the default datasource nor configured it in our application. We have two named datasources and two named liquibase configurations to update both databases. It is working perfectly on 1.12.x and older versions.

[2021-04-05 14:22] geoand commented on #16210
Yes I know.

What I am asking @gsmet is whether the use case with no default datasource and only named datasources is supported (which I assume it is), or if it was working up until now by accident.

[2021-04-05 14:26] jc commented on #16230
I've been seeing similar behavior using kotlin and maven.

Running `quarkus:dev` hitting Ctrl^C doesn't terminate the java process, I have to `kill` manually. I haven't had time to generate a reproducible test case but a thread dump shows that the Quarkus Shutdown Thread is stuck in waiting on a `CountDownLatch`:  `at io.quarkus.vertx.core.runtime.VertxCoreRecorder.shutdownDevMode(VertxCoreRecorde

[2021-04-05 14:42] stooke commented on #16116
This has consistently worked properly in Graal proper on Window, although informing the debugger of the source directory is a manual, clumsy process currently.  It's unclear from the information given if 'target/source' exists and contains anything.  Is 'target/sources' partially populated or non-existent?  Is it possible the 'sources' directory was created elsewhere, for example in the cwd suring

[2021-04-05 15:16] damonsutherland opened #16240 "Swagger UI does not report Scemas for Immutables entities"
## Describe the bug
When using swagger-ui packaged in quarkus-smallrye-openapi with quarkus-resteasy-jackson, entities created using the Immutables.org library are not recognized.

### Expected behavior
swagger openapi generation should honor/use the associated class when generating the schema if an entity is annotated with @JsonSerialize(as=...).  For example:
[code]
should create a schema that l

[2021-04-05 15:40] phillip-kruger commented on #16240
This is actually OpenAPI. Please log a issue with a feature request to support this at SmallRye OpenAPI. @MikeEdgar ^^^

[2021-04-05 15:47] #16240 closed

[2021-04-05 15:55] vladykin opened #16241 "Support configuring per-method retryPolicy for gRPC channel"
## Description

`io.quarkus.grpc.runtime.supports.Channels` is responsible for producing instances of `io.grpc.Channel`.
Most of `io.grpc.Channel` properties are set from application.properties. But not all.
I'm looking for a way to call `io.grpc.ManagedChannelBuilder#defaultServiceConfig` to configure retry policy. This is needed to make gRPC retry actually work.

Setting `quarkus.grpc.clients."s

[2021-04-05 16:27] cescoffier commented on #16241
Did you try with the @Retry annotation?

At the moment we don't support the retry gRPC extension, but that's something we can add.

[2021-04-05 17:03] vladykin commented on #16241
No, I didn't try this annotation. Do you mean that I should put it on a method in my app that calls gRPC stub methods? And as result my method will be called again if it throws exception?
Well, that sounds like a viable workaround for blocking methods. But I suspect it won't work for methods returning CompletionStage and Uni/Multi, where nothing is thrown from method in case of failure.

For Uni a

[2021-04-05 18:39] rareddy opened #16243 "@UnlessBuildProfile not working as expected"
## Describe the bug
When @UnlessBuildProfile used on @ApplicationScoped bean, there are a couple of issues I am seeing.

1. When you build a profile that does not match to the annotation, even in that profile the bean is available.
2. When the bean is available it does not do the @inject operations correctly.

for example, I have @UnlessBuildProfile("prod"), and when building the prod I still see

[2021-04-05 18:56] cescoffier commented on #16241
Good question about the configuration. @michalszynkiewicz do we have some kind of support?

About @Retry in the next version it will work with method returning Uni. I don't believe it will work for Multi. I said next version, as it needs Smallrye Fault Tolerance 5.x which will come with a Quarkus 2.0

[2021-04-05 19:35] #1658 closed

[2021-04-05 19:39] #13980 closed

[2021-04-05 19:39] #14788 closed

[2021-04-05 19:42] glefloch commented on #16230
I tried to reproduce the problem, but I was not able to. Do you have a sample project that reproduce the issue? @briankahoot, the sample project does not contains any metrics.

[2021-04-05 21:46] famod commented on #15686
I'm currently working on:

[2021-04-06 00:18] #16231 closed

[2021-04-06 03:06] jaikiran commented on #16239
The GitHub Action CI logs for Quarkus have a lot of this specific WARN message for a while now. I haven't had the time or chance to check if this was just because of the way the tests are written/run or some genuine issue.

[2021-04-06 03:47] jaikiran commented on #16225
I'm not sure if that architecture is currently supported by Graal VM/native-image. It's only recently that the base OpenJDK itself added support for this https://github.com/openjdk/jdk/pull/2200.

[2021-04-06 04:02] jaikiran commented on #16230
Looking at the code in `VertxRecorder` there's a possibility for this to block forever. I've create a PR with a potential fix https://github.com/quarkusio/quarkus/pull/16253 (I don't have an easy way to verify that it fixes your issue).

[2021-04-06 05:38] Sgitario commented on #15434
Yep, removing all the AWS extensions fixes this issue. However, I think this issue should remain opened and once the another issue related to AWS is solved, I can try again with Mongo.

[2021-04-06 05:39] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/721381024

[2021-04-06 06:12] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/721382303

[2021-04-06 06:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/721382303

[2021-04-06 06:45] mkouba commented on #16230
@jaikiran Hm, what makes you think that this reproducer can be fixed with your PR? The reproducer does not seem to depend on the [`quarkus-vertx` extension](https://github.com/quarkusio/quarkus/tree/main/extensions/vertx) and I see no method annotated with `@ConsumeEvent` there...

[2021-04-06 06:46] stuartwdouglas opened #16255 "Hibernate Reactive hangs on insert"
## Describe the bug
Hibernate reactive hangs when inserting, the sequence generator stops returning numbers and requests just hang.

## To Reproduce

Take the hibernate reactive quickstart, and remove the unique constraint for the name field (it will still reproduce even with this, this just simplifies things).

Then run `wrk -s post.lua http://localhost:8080/fruits`

where post.lua is:

[code]

E

[2021-04-06 06:47] Namphibian opened #16257 "GRPC: Unable to import shared proto messages into another proto file."
[grpc.zip](https://github.com/quarkusio/quarkus/files/6262629/grpc.zip)
## Describe the bug
To stick to the DRY principle I would like to declare some shared messages/objects inside of a library.proto file and then use this library across various other .proto files.

My library.proto looks something like this:
[code]
I add the` import 'library.proto'` line to my `base.proto` file and I can run `mv

[2021-04-06 06:50] Namphibian commented on #16257
Example project

[2021-04-06 06:50] Namphibian commented on #16257
The example project is located here: https://github.com/quarkusio/quarkus/files/6262614/grpc.zip

[2021-04-06 06:52] stuartwdouglas commented on #16255
org.hibernate.reactive.pool.impl.ProxyConnection#withConnection hits the line `throw new IllegalStateException( "session is currently connecting to database" );`

Because this exception is thrown rather than returning a ComplectionStage that has failed with IllegalStateException everything locks up permanently as the generator CS never completes.

[2021-04-06 07:31] srisatya1197 commented on #16226
Is the issue was assigned or can I work on this Sir?

[2021-04-06 07:31] #16228 closed

[2021-04-06 07:33] FroMage commented on #16243
CC @mkouba

[2021-04-06 07:35] FroMage commented on #16243
Actually, I wonder if this is not a combination of RESTEasy scanning and taking over discovery because CDI would not claim that bean?

[2021-04-06 07:37] geoand commented on #16226
You can work on it if you like

[2021-04-06 07:57] jaikiran commented on #16230
Hello @mkouba,

The change in my PR was (supposed to be) motivated by this comment:

[code]

But now that you asked me this question, I checked again and the PR I opened, fixes this in a different recorder and not VertxCoreRecorder. So yes, I need to unlink that PR from this issue. I'll do that now.

As for the VertxCoreRecorder, its usage of the latch seems fine to me. It looks like the handler i

[2021-04-06 08:05] srisatya1197 commented on #16226
Sure Sir

[2021-04-06 08:15] mkouba commented on #16243
Yes, I think so. The bean is not registered but there's a fallback used in the [QuarkusInjectorFactory](https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-classic/resteasy-common/runtime/src/main/java/io/quarkus/resteasy/common/runtime/QuarkusInjectorFactory.java) that just creates the resource instance via `new MockControlPlane()` and that's why CDI injection does not work there.

[2021-04-06 08:18] mkouba commented on #16243
TBH I'm not sure what the correct behavior would be but I think that the fallback is there since the beginning (and an "invisible" DEBUG message is logged).

[2021-04-06 08:30] mkouba commented on #16230
+1

Indeed, the usage of the `CountDownLatch` in the `VertxCoreRecorder.shutdownDevMode()` looks OK.

[2021-04-06 08:39] FroMage commented on #16182
Errr, mocking `Fruit.persist(fruit)` should definitely work.

[2021-04-06 08:45] gsmet commented on #16239
@mincel any chance you could prepare a small reproducer? I'd like to have a look with an example.

In the meantime, I think we need to revert this patch for 1.13.1.

[2021-04-06 08:47] gsmet commented on #16239
I wonder if it's recording all log levels thus leading to us collecting a ton of records.

[2021-04-06 09:07] mkouba commented on #16243
CC @geoand

[2021-04-06 09:09] geoand commented on #16243
Yeah, I think what you guys mention is what is going on

[2021-04-06 09:11] DavideD commented on #16255
I will have a look

[2021-04-06 09:13] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/721888710

[2021-04-06 09:37] ia3andy opened #16264 "mvn quarkus:add-extension broken always adding bom"
## Describe the bug
Even when the bom is already present, the `quarkus:add-extension` adds the bom to the project again.

[code]

Resulting in twice the same bom in the pom.xml:
[code]

### Expected behavior
It should not add the bom when already present

## To Reproduce

Create a base project https://code.quarkus.io/d

Use the command:
[code]

This also affect the CLI (`qs add resteasy-jackson`)

[2021-04-06 09:39] ia3andy commented on #16264
FYI: when switching `quarkus.platform.artifact-id` from `quarkus-universe-bom` to `quarkus-bom`:

[code]
Then it doesn't add it anymore.

[2021-04-06 10:07] wtrocki opened #16266 "OpenShift quickstarts for Quarkus using s2i as main method"
## Description

Since quarkus offers different models of provisioning to OpenShift and Kubernetes it is worth to review existing guides:
https://github.com/openshift/console-operator/tree/master/quickstarts

[2021-04-06 10:08] FroMage commented on #16204
Don't they follow an obvious pattern? If we know what tables we create, I mean.

[2021-04-06 10:10] gsmet commented on #16204
Which database is it? Is it one for which we use `IF EXISTS`?

[2021-04-06 10:13] geoand commented on #16266
cc @maxandersen

[2021-04-06 10:14] FroMage commented on #16243
So perhaps RESTEasy Classic and Reactive should both special-case `@UnlessBuildProfile`?

[2021-04-06 10:14] Sanne commented on #16204
agreed this is the better direction to approach the issue.

[2021-04-06 10:14] FroMage commented on #16204
Pretty sure it's postgres. Not sure if you use `IF EXISTS`.

[2021-04-06 10:18] Sanne commented on #16198
@hprange yes I think you're right, this needs to be handled by the code implementing the `@Retry` annotation bindings.

I'm not familiar with that though. @radcortez could you suggest someone to assign this to?

[2021-04-06 10:20] geoand commented on #16243
That will likely be needed

[2021-04-06 10:24] radcortez commented on #16198
@Ladicek what do you think?

[2021-04-06 10:31] wtrocki commented on #16266
CC @ serenamarie125 as original author of those

[2021-04-06 10:38] DavideD commented on #16255
I cannot replicate the issue with the latest quickstart in `development` `hibernate-reactive-quickstart` (we updated it less than an hour ago).

Could you try again and let me know the `-R` option you are using with `wrk`, please?

[2021-04-06 10:40] Sanne commented on #16255
I'll let Davide look, but a suggestion: the error message smells of threading issues again.

[2021-04-06 10:46] Ladicek commented on #16198
SmallRye Fault Tolerance can't possibly know all the state management intricacies of all the frameworks present in the application. It also has no idea how the guarded code looks like. The basic assumption of `@Retry` is that it is safe to execute the guarded method multiple times.

That said, this could perhaps be a use case for "before retry actions" (https://github.com/smallrye/smallrye-fault-t

[2021-04-06 10:49] stuartwdouglas commented on #16255
So I had another look and I am not sure if it is that IllegalStateException I mentioned, I saw it hit that when I stepped through in a debugger but when I just set a breakpoint there it does not seem to be hit. It still locks up the the queue just keeps growing indefinitely though.

[2021-04-06 10:50] fkaltner commented on #16040
@jonathan-meier Yes, you are right, `eval $(minikube docker-env)` is required before the `mvn` build command. I'll update the steps to reproduce.

Since it worked on your machine, I carefully re-inspected my local Minikube setup looking for any wrapper scripts for the "docker" command. Actually it turned out I created one (named "docker"), since Minikube does not ship with a local "docker" command

[2021-04-06 10:50] #16040 closed

[2021-04-06 10:51] Sanne commented on #16198
right, would be nice to have "before retry" actions automatically registered. What about transactions - how are they supposed to integrate with `@Retry` , is this specified somewhere?

I would expect the current transaction to be aborted and a new one started, but that's assuming the Retry annotation is on the outer endpoint. Would be a mess to auto-abort transactions from a nested method.

[2021-04-06 11:03] geoand commented on #16089
I ran into this again today - @iocanel is this on one your radar?

[2021-04-06 11:23] Ladicek commented on #16198
There is no specification on how `@Retry` should interact with JPA or transactions. MicroProfile Fault Tolerance is mainly designed for guarding straightforward request/response network interactions.

I also realized another thing. If I understand correctly, Hibernate sessions are managed by Quarkus and are assumed to span the whole request. If we were to discard them in the middle of request proc

[2021-04-06 11:23] sirf opened #16268 "interceptor fails with IllegalArgumentException when parameters are modified and the target method uses primitive types"
## Describe the bug
When an @AroundInvoke interceptor is used on a method that accepts one or many arguments with primitive types,
and one of the arguments are modified, the application crashes with an IllegalArgumentException.
[code]

### Expected behavior
Should not crash.

### Actual behavior
Crashes.

## To Reproduce

I've attached a simple reproducer. It's just the getting-started-reactive pr

[2021-04-06 11:29] wtrocki commented on #16266
To clarify that s2i is still default for quarkus but other methods are more reliable:
https://quarkus.io/guides/deploying-to-openshift#non-s2i-builds

[2021-04-06 11:29] stuartwdouglas commented on #16255
Could this be the cause: https://github.com/hibernate/hibernate-reactive/blob/eceb57100021ea3b72f8ee78580b993349358b5f/hibernate-reactive-core/src/main/java/org/hibernate/reactive/id/impl/BlockingIdentifierGenerator.java#L82

While identifiers are being fetched connections from every event loop thread are added to the list. When the CS completes then they all call generate again from the event loo

[2021-04-06 11:30] edeandrea commented on #16182
It currently does not

[2021-04-06 11:39] #16123 closed

[2021-04-06 11:48] rsvoboda opened #16270 "JGraphT extension proposal for quarkiverse"
I played with JGraphT(https://jgrapht.org/) during the Easter holiday and it works well in JVM mode and reasonably well in native mode.

GraphML Import/Export is where I hit issues in native mode. I have `quarkus-jgrapht` WIP extension code that
addresses import/export issues.

I would like to share that extension as part of https://github.com/quarkiverse/quarkus-jgrapht.

Is quarkus-jgrapht exten

[2021-04-06 11:50] Sanne commented on #16198
Thanks for clarifying @Ladicek .

I must admit I'm not a fan of these "fault-tolerant" annotations, if it's a dumb "try again in a loop" thing that seems not very helpful and not motivating people to fix the underlying issues.

We probably need to keep this simple for now - sorry @hprange , seems like you shouldn't use it in this case.

[2021-04-06 11:50] gastaldi commented on #16270
@rsvoboda yes, that library is awesome, we use it in JBoss Forge. I'll set up a repository for you

[2021-04-06 11:53] gsmet commented on #16220
@jaybeepee it's a bit hard to see what's going on here. Any chance you could prepare a small reproducer?

[2021-04-06 12:03] Ladicek commented on #16198
I agree that blindly retrying in case of an error is, itself, an error. `@Retry` is to be used very sparingly, though for some reason, a lot of people reach for it very soon :-) It's something I plan to add to the documentation when I expand it (https://github.com/smallrye/smallrye-fault-tolerance/issues/397).

[2021-04-06 12:03] jaybeepee commented on #16220
sure @gsmet - will do one sometime today / this eve

[2021-04-06 12:13] sirf opened #16274 "Interceptor doesn't allow subclasses to be passed as parameter to intercepted method"
## Describe the bug
When an @AroundInvoke interceptor is used on a method that accepts one or many parameters,
and a parameter is assigned a subtype of the formal argument type, the application crashes with an IllegalArgumentException.
[code]

### Expected behavior
Should not crash.

### Actual behavior
Crashes.

## To Reproduce

I've attached a simple reproducer. It's just the getting-started-rea

[2021-04-06 12:16] vietk commented on #16225
The native build is running into a docker container, so as long as docker is supported on M1, it should be working.

@mutasemhidmi
Do you have a large code base to compile natively?
Because, the more `complex` is the code, the more memory you need to do the compilation ...

Maybe you can add also this option to your build to have more information of the native compilation
[code]
by  updating the n

[2021-04-06 12:42] maxandersen opened #16275 "showing massive list of extensions does not scale - can we improve ?"
## Description

when starting on code.quarkus or in IDE or even on cli we currently default to
show the full list of extensions with some grouping and basic filtering of non-user extensions.

That list can be quite daunting for new users.

Can we come up with a simpler initial experience ?

some constraints mentioned in offline discussions:

- having some grouping/bundles/archetype that defines a

[2021-04-06 12:51] sberyozkin opened #16276 "Add 'keycloak-authorization' integration test based on Wiremock"
## Description
Testing various `keycloak-authorization` configuration options, including the caching of the responses, would help to increase the coverage and also show the users how they can quickly test it without having to set up Keycloak

@cemnura Hi - this is another issue we can look at as part of improving the test support for OIDC/Keycloak :-)

[2021-04-06 12:51] loicmathieu commented on #16222
Hi,

[code]

So this is a typical issue with Kotlin Data classes and the MongoDB POJO codec that MongoDB with Panache uses. There is some explaination on the MongoDB with Panache guide: https://quarkus.io/guides/mongodb-panache#working-with-kotlin-data-classes

As the `Address` class is provided in a third party library, you cannot annotate the construcotor nor configure the no-arg kotlinc plugin

[2021-04-06 13:05] gastaldi commented on #16270
Repository created in https://github.com/quarkiverse/quarkus-jgrapht with a sample code. Enjoy!

[2021-04-06 13:05] #16270 closed

[2021-04-06 13:35] insectengine commented on #16275
Main View:
https://xd.adobe.com/view/a207a421-e1b6-4a5e-9ef8-834c5ace662b-f754/

* Note: One planned interaction would be if you hover over a group link, you'd get a list of those extensions. You can see this by clicking on the top right "foo extensions" link (only way I could show this via the wireframe software).

GROUPED MODE VIEWS

Grouped View with Two Groups selected:
https://xd.adobe.com/vi

[2021-04-06 13:50] apat59 opened #16279 "Possible Connection leak, very specific environment."
## Describe the bug
Quite quick and linear connection leak, see metrics.

![Capture d’écran du 2021-04-01 08-33-32](https://user-images.githubusercontent.com/5196977/113718813-4e4cbe80-96ed-11eb-8e08-e92c954020f7.png)

### Expected behavior
Available count and max used count should stick to 10, the db load is pretty low and must not increase that way.

### Actual behavior
Check grafana screenshot.

[2021-04-06 13:52] florianRieb commented on #16139
hey @vu-bui, if your using REST APIs on your API Gateway, replace the following  dependency:
quarkus-amazon-lambda-http -> quarkus-amazon-lambda-rest
I faced the same issue and this solved it for me.

[2021-04-06 13:54] geoand commented on #16279
cc @Sanne

[2021-04-06 14:11] Sanne commented on #16279
cc @barreiro - does it ring any bell?

[2021-04-06 14:18] knutwannheden opened #16283 "Document that Maven properties can be used as source for build-time config"
## Description

On [Zulip there was a discussion](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Why.20are.20there.20no.20maven-plugins.3F) regarding how to tag the Docker images produced by Quarkus using `git rev-parse --short HEAD`. It was pointed out that Maven properties are also a config source for Quarkus' build-time properties. I couldn't find anything regarding this in t

[2021-04-06 14:24] gsmet commented on #16264
@aloubyansky I thought you had fixed this one already?

[2021-04-06 14:24] gsmet commented on #16274
/cc @mkouba

[2021-04-06 14:25] gsmet commented on #16268
/cc @mkouba

[2021-04-06 14:26] gsmet commented on #16220
OK cool. 1.13.1.Final is planned for tomorrow and I would like to get to the bottom of it before that!

[2021-04-06 14:40] mkouba commented on #16274
Hm, this one is interesting. The interceptors spec states _"The parameter types must match the types for the target class
method or constructor..."_ and the ArC implementation is a bit strict. I wonder if it's safe to allow subtypes as well... and it probably is. WDYT? @manovotn @Ladicek

[2021-04-06 14:40] jc commented on #16230
I can reproduce this using the [kafka-streams-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-streams-quickstart), adding `micrometer-registry-prometheus` to either producer or aggregator causes `quarkus:dev` to hang on termination.

`mvn quarkus:add-extension -Dextensions="micrometer-registry-prometheus"`

[2021-04-06 14:45] abutic opened #16284 "Use `Credentials Provider`-like mechanism with Redis clients"
## Description

It would be nice to be able to use `Credentials Provider`-like mechanism (or something similar), available with DB data sources, with Redis clients/connections as well. This way, one could retrieve Redis password from some other source and then use it, without setting it in `quarkus.redis.hosts` configuration property.

## Alternative?
Is there any way to configure Redis password *

[2021-04-06 14:45] sirf commented on #16268
FYI I just realized it's not even necessary to modify any parameter in order to trigger the issue.
This is enough to cause the app to crash.
`context.setParameters(context.getParameters());`

A workaround is of course to change the signature of the intercepted method to accept Integer instead of int, etc.

[2021-04-06 14:48] mkouba commented on #16268
Yes, we need to box the primitive method parameter types during validation because the params are represented as `Object[]`.

@sirf Would you care to send a PR or should I fix it? FYI there's a util method that can be used here: https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/runtime/src/main/java/io/quarkus/arc/impl/Types.java#L20-L26

[2021-04-06 14:50] mkouba commented on #16230
CC @ebullient

[2021-04-06 14:52] machi1990 commented on #16284
This is a good enhancement.

No, at the moment we do not have a programmatic way of configuring the Redis client. Why do you need this, can't the password be supplied per environment?

[2021-04-06 14:57] luce98 commented on #15131
I'm experiencing the same issue: some tests are failing after migrating from 10.5 to 11.
Does someone already have a workaround?

[2021-04-06 15:00] sirf commented on #16274
Thorntail doesn't require an exact class match, that's why I figured Quarkus shouldn't either, but I'll admin that I have not actually read the spec :innocent:

[2021-04-06 15:02] abutic commented on #16284
We'd like to be able to get and use a password from our sensitive data storage, without having to *write it down* either to `application.properties`, system property or environment variable. If you have any advice on how to do this, we'd really appreciate it.

[2021-04-06 15:04] geoand commented on #16274
Seems like a useful addition

[2021-04-06 15:05] sirf commented on #16268
@mkouba I'll give it a shot.

[2021-04-06 15:12] machi1990 commented on #16284
Okay, having a Credentials Provider and store it somewhere like Vault just like datasources will be a useful addition.
As a workaround, have you tried to supply the password via [ConfigSource](https://quarkus.io/guides/config-reference#custom-configuration-sources)?

[2021-04-06 15:15] gsmet commented on #16284
I think the easiest way would be to implement it in Quarkus with the credential provider contract we already have. I don't think that would be that hard.

[2021-04-06 15:19] FroMage commented on #16182
OK indeed. I see this is because those are real methods, they don't have `@GenerateBridge` so we don't inject the mocking bits.

[2021-04-06 15:21] manovotn commented on #16274
Yeah, it ought to be safe to allow subtypes, so +1.
TCKs seem to have [some assertions on this](https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/java/org/jboss/cdi/tck/interceptors/tests/contract/aroundConstruct/BravoInterceptor.java), but none should be detrimental; especially since you say Thorntail (which means Weld) allowed this as well.

[2021-04-06 15:22] edeandrea commented on #16182
Thanks for verifying!

Is that something that can be addressed in a future release?

[2021-04-06 15:23] hernael commented on #15131
I have not migrated from version 1.10.5 to any later version (1.11.x, 1.12.x or 1.13.0) because I have problems with the test and reactive panache (#14709) in those versions :(

[2021-04-06 15:35] geoand commented on #16243
This actually should be working as we have merged: https://github.com/quarkusio/quarkus/pull/15215

[2021-04-06 15:41] rareddy commented on #16243
I am using `1.11.1.Final` version of Quarkus if the above is after that I would need validate with a newer release

[2021-04-06 15:42] geoand commented on #16243
OK, that explains it then, as I just tried with the latest and it works

[2021-04-06 15:42] #16243 closed

[2021-04-06 15:49] ebullient commented on #16230
@mkouba .. this should have been fixed with our latest (joint) changes last week (re #16130)
PRs #16140 and #16164

[2021-04-06 15:58] sberyozkin opened #16288 "Make sure OIDC users can restrict the signature algorithm"
## Description

Right now all asymmetric algorithms will be supported: #16287.
It will be good from the security point of view to let users require that for example only `RS512` is supported, etc

[2021-04-06 16:18] sberyozkin commented on #16288
Jacob Middag also proposed to make `setRelaxVerificationKeyValidation` configurable - so that we can recommend the users to restrict the key length to 2048+

[2021-04-06 16:26] yoobi opened #16289 "How to use aggregation and lookup with panache mongodb"
## Describe the bug
I have the following mongodb query that I want to translate to Panache
[code]

I didn't find documentation about aggregation

### Configuration
[code]

[2021-04-06 16:30] evanchooly commented on #16289
mongodb-panace does not offer anything in the way of aggregations.  You'll need to use the `MongoCollection` API directly for that.

[2021-04-06 16:32] aloubyansky commented on #16264
@gsmet it was related but different. It was for 1.11.x, it's on different JSON format. In 1.13.x extensions may have multiple platform origins in the JSON.

[2021-04-06 16:35] abutic commented on #16284
Hm, in order to get the password from a sensitive data storage, we need our custom `@ApplicationScoped` bean, which I think is not available for injection before `ConfigSource` methods get called. This could be an issue for us, but your suggestion is definitely worth investigating. Thanks!

[2021-04-06 16:39] survivant opened #16291 "Quarkus 1.13.0.Final unable to build native image at command line"
[code-with-quarkus (5).zip](https://github.com/quarkusio/quarkus/files/6266251/code-with-quarkus.5.zip)

I use the online generator to generate a basic demo.  I downloaded the zip file and unzip it.  I launch the command that is in readme.md

mvn package -Pnative -Dquarkus.native.container-build=true

but It doesn't compile.  The documentation in the readme is not up to date ?

PS C:\Users\sd00352

[2021-04-06 16:41] machi1990 commented on #16284
Thanks for looking. Well then, I think the CredentialsProvider is a very good is something you really need here. I'll open a PR for this enhancement. Until then, let me know how the `ConfigSource` option goes.

[2021-04-06 17:12] yoobi commented on #16289
That explains everything ! Thanks for the information maybe it should be added in the documentation

[2021-04-06 17:13] famod commented on #16283
/cc @radcortez FYI

[2021-04-06 17:33] famod opened #16292 "Liquibase includeAll does not work in native mode"
This is a follow-up to #14751 which contains all the necessary info, especially https://github.com/quarkusio/quarkus/issues/14751#issuecomment-808919081

Short story: includeAll was fixed for JVM mode by upgrading to Liquibase to 4.3.2 but the classpath resource scanning in Liquibase needs some adjustments (in Quarkus) to make it work in native.

[2021-04-06 17:34] famod commented on #14751
I created a separate issue for native: #16292

[2021-04-06 17:38] mrizzi opened #16294 "Quarkus 1.13.0: `401 Unauthorized` using different host names for Keycloak"
## Describe the bug
The authorization configuration for endpoints based on `quarkus.http.auth` properties that was working on Quarkus 1.12.2 provides a `401 Unauthorized` once migrated to Quarkus 1.13.0.
At my understanding, the issue is triggered by requesting the access token to Keycloak using a URL that is different from the one in the application's configurations for the property `quarkus.oidc

[2021-04-06 17:58] gsmet commented on #16294
/cc @sberyozkin @pedroigor

[2021-04-06 18:52] famod commented on #16264
@aloubyansky does this have anything to do with #14164?

[2021-04-06 18:57] famod commented on #16227
FWIW, we have seen this test class failing randomly on `main` as well: #15756

[2021-04-06 19:01] aloubyansky commented on #16264
Right, that should be fixed with this one as well, assuming the parent imports the BOM that includes the extension being added.

[2021-04-06 19:05] famod commented on #14164
Should be fixed by the PR for #16264.

[2021-04-06 20:02] mutasemhidmi commented on #16225
@vietk I am just trying quarkus lambda example, the one with greeting class. I wanted to ask something is there any difference between using ./mvnw package -Pnative -Dquarkus.native.container-build=true and ./mvnw package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=docker. Note that both are giving me the same results, but as I understood the second one does n

[2021-04-06 20:22] aloubyansky commented on #16291
Somehow, it's a command line issue. It doesn't even get to the Quarkus plugin. I was able to build the reproducer with the copy&pasted command from the description on linux.

[2021-04-06 20:29] survivant commented on #16291
if I try only this it works (not the native build of course)

[code]

[2021-04-06 20:32] aloubyansky commented on #16291
Just curious, have you tried quoting the argument? Not sure, if that makes sense.

[2021-04-06 20:32] survivant commented on #16291
another tests with differents params in the command line

[code]

[2021-04-06 20:34] aloubyansky commented on #16291
Could you try other non-quarkus properties with dots in the names? It looks like it uses the dot as a separator.

[2021-04-06 20:35] aloubyansky commented on #16291
No, it somehow eats `-Dquarkus`

[2021-04-06 20:36] survivant commented on #16291
ya.. it's wierd.

I even try from a folder without spaces (never know in Windows), the same results

[code]

[2021-04-06 20:37] #14751 closed

[2021-04-06 20:38] survivant commented on #16291
a full stack trace

[code]

[2021-04-06 20:43] survivant commented on #16291
ok.  it's not related to quarkus
[code]

produce the same result.

[2021-04-06 20:43] #16291 closed

[2021-04-06 20:45] typekpb opened #16299 "Support for opentracing-jdbc without the need to provide jdbc url"
## Describe the bug
Currently, to integrate quarkus with opentracing-jdbc, there is a need to (based on https://quarkus.io/guides/opentracing) provide config props like:
[code]

However in the quarkusDev it's not optimal, as I'm not able to use auto-created postgres container (just by including the `quarkus-jdbc-postgresql` dependency, as I'm forced to  override the jdbc url. Would it rather be po

[2021-04-06 21:15] survivant commented on #16291
It's a problem with Windows 10 Powershell.  I don't know when Microsoft did the changed.. but if you use -D it stop working.

you need to put that param in ""

mvn clean "-Dmaven.test.skip=true"

see : https://stackoverflow.com/questions/21902668/maven-works-in-cmd-but-not-powershell

[2021-04-06 21:26] DouglasGo8 commented on #1658
I have been struggle with this problem, I have a service with Quarkus, Apache Camel and Jdbc Oracle when I try run in native mode receive <code>Error: Classes that should be initialized at run time got initialized during image building:
 oracle.jdbc.OracleDriver the class was requested to be initialized at run time (from the command line). To see why oracle.jdbc.OracleDriver got initialized use --

[2021-04-06 21:30] sberyozkin commented on #16294
@mrizzi Can you please add

[code]
and check what is being logged ?

thanks

[2021-04-06 21:35] #16239 closed

[2021-04-06 21:39] sberyozkin commented on #16294
@mrizzi By the way, once this issue is fixed - please note you don't need to configure `keycloak-authorization` to  access the public resources in `1.13.x` - as it is already done in the http authentication configuration

[2021-04-06 22:08] wansors commented on #16124
Can I create a PR to add the jdbc config module on
https://github.com/quarkiverse/quarkus-config-extensions ?

I have a code that implements a ConfigSourceFactory, Do I need to develop it as the others config extensions (I think they use the ConfigSourceProvider)?

Thanks

[2021-04-06 23:41] jaybeepee commented on #16220
Hey @gsmet

So it turns out this is not a bug, my sincere apologies. What we found is that if there is a submodule with an application.properties file that is configured for only one of the DBs (as the default and different to the 'global' default), then this error is happening. For some reason in 1.12.2 this did not cause an issue and I guess was ignored but in 1.13.0 it gets 'confused' somehow.

[2021-04-07 02:51] amahfouz1 commented on #13054
I have the full JNA configurations sample here if anyone is interested https://github.com/amahfouz1/jna-graalvm

[2021-04-07 03:10] vu-bui commented on #16139
Thanks @florianRieb. This new package was introduced in `1.13` but I didn't know about it until I read the updated guides. Changing `quarkus-amazon-lambda-http` to `quarkus-amazon-lambda-rest` did solve the problem.

[2021-04-07 06:15] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/724876898

[2021-04-07 06:21] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/724876898

[2021-04-07 06:32] geoand commented on #16292
Do we have an example application where this isn't working?

Or some easy way to reproduce it?

[2021-04-07 06:39] mkouba commented on #16274
FTR this is the Weld impl of `setParameters()`: https://github.com/weld/core/blob/master/impl/src/main/java/org/jboss/weld/interceptor/proxy/AbstractInvocationContext.java#L119-L185

[2021-04-07 06:45] michalszynkiewicz commented on #16241
`@Retry` works for methods that return `CompletionStage` but you need to also add `@Asynchronous` annotation.

[2021-04-07 06:54] famod commented on #16292
Two options to reproduce:
- run the IT from #16293 (and flip that flag)
- use the sampleproject from #14751 (which is about JVM mode, so native bits have to be added)

[2021-04-07 07:06] michalszynkiewicz commented on #16241
I will take a look at it when I have a while.

[2021-04-07 07:07] #16063 closed

[2021-04-07 07:13] michalszynkiewicz commented on #16257
@Namphibian do you happen to have a spring example where it works? According to https://developers.google.com/protocol-buffers/docs/proto3#importing_definitions imports don't work for Java

[2021-04-07 07:32] ppalaga commented on #1658
@DouglasGo8 you may want to report on https://github.com/apache/camel-quarkus/issues/new including proper steps to reproduce.

[2021-04-07 07:35] #16210 closed

[2021-04-07 07:55] #16264 closed

[2021-04-07 07:59] mrizzi commented on #16294
Hi @sberyozkin,
this is the line of log I got:
[code]

[2021-04-07 08:12] aloubyansky commented on #14164
This should be fixed by https://github.com/quarkusio/quarkus/pull/16290

[2021-04-07 08:12] #14164 closed

[2021-04-07 08:22] Ladicek commented on #16274
Allowing subtypes should indeed be safe.

(And the Weld implementation is funny :-) )

[2021-04-07 09:12] knutwannheden commented on #16283
As commented in the chat I find the precedence ordering somewhat problematic, because overriding an `application.properties` config via `mvn`s `-D` works, but via user property in the `pom.xml` file doesn't. That should probably also be clarified.

[2021-04-07 09:16] mrizzi commented on #16294
@sberyozkin maybe I'm wrong but was this a bug of previous Quarkus versions?
I mean, is Quarkus 1.13.0 working as expected about issuer validation?
It seems like previously the issuer validation was done only if `quarkus.oidc.token.issuer` property was provided (ref. [OidcUtils#validateClaims](https://github.com/quarkusio/quarkus/blob/1.12.2.Final/extensions/oidc/runtime/src/main/java/io/quarkus/o

[2021-04-07 09:20] tkzhakuna commented on #4041
I got the same problem in my Rest Controller but this used to work : findAll(Pageable pageable){....}

Also tried this without success:
findAll(@RequestParam("offset")int offset,@RequestParam("pageNumber")int pageNumber,
								   @RequestParam("pageSize") int pageSize,@RequestParam("paged")boolean paged,
								   @RequestParam("unpaged") boolean unpaged, final Pageable pageable){.....}

[2021-04-07 09:27] #16274 closed

[2021-04-07 09:30] sberyozkin commented on #16294
Hi @mrizzi so, interesting, the issuer is set dynamically using the current request's host, but not to the one advertised  in the discovery doc. CC @pedroigor, FYI.
So, I think the reason it worked in `1.12.x` was that the issuer, by default, was not checked for the bearer tokens - I recall it is checked as part of the code flow token acquisition only where it is matched against `auth-server-url`

[2021-04-07 09:40] FroMage commented on #16182
I have a PR that fixes it for the static methods. As for `entity.persist()` and other instance methods, my opinion is that you can mock them by mocking the `EntityManager` which we ultimately delegate to, but I hit a bug at https://github.com/quarkusio/quarkus/pull/15092#issuecomment-814767337 which we probably have to fix.

[2021-04-07 09:47] Sanne commented on #1658
yes please report to Camel. @ppalaga let me know if you need help.. this was tricky.

It's probably related to some other component which is triggering a chain initialization at static init time; you'd either have to change the code to avoid this, or have such other component also reconfigured for runtime initialization, as I won't be able to change the Oracle driver code.

[2021-04-07 09:49] mrizzi commented on #16294
@sberyozkin locally I'm using Keycloak 12.0.4

[2021-04-07 09:49] sberyozkin commented on #16294
Well the good news one can indeed set `quarkus.oidc.token.issuer=https://192.168.49.1:8543/auth/realms/quarkus` and that just works - as it overrides the discovered value.

[2021-04-07 09:53] mrizzi commented on #16294
It's good because it works but it's not so good when talking about K8s/OCP because it means that when doing a basic deployment using templates, that value can not be provided because it will be generated dynamically at deployment time requiring manual changes to the user.
The previous behavior was better because the configuration required no manual intervention so if there's another option to avoi

[2021-04-07 09:59] sberyozkin commented on #16294
@mrizzi

It was not better as it was less safe - the issuer was not verified at all by default for the bearer tokens.
Perhaps I can update the code to check if `quarkus.oidc.token.issuer` is empty or equal to some value like `any` - in which case the verification will be skipped - I don't like this idea but for the moment see no other viable options

[2021-04-07 10:27] mrizzi commented on #16294
@sberyozkin absolutely right: security always wins :+1:
No need to add the `any` option for me: let's keep it as it is from the Quarkus side.

[2021-04-07 10:42] survivant commented on #16291
maybe the readme.md could be updated to reflect that requirements for Windows and powershell

[2021-04-07 10:47] #16053 closed

[2021-04-07 11:27] sberyozkin commented on #16294
@mrizzi Hi, it is an interesting issue, sorry it is happening for your deployments with `1.13.x` - but indeed the fact it worked because the issuer was not verified was certainly easier to deal with :-) but the key property check was skipped was also problematic.
That said, you are likely not the last user who will report this issue :-). So if we have a case where the issuer is dynamically generat

[2021-04-07 11:29] theseeker58 opened #16315 "quarkus-infinispan-client stops working along with mapstruct-processor"
Hi,
I have an application based on quarkus-infinispan-client. Everything works fine as long as I don't use Mapstruct to map data transfer object to the domain objects annotated with protostream. As soon as I configure maven-compiler-plugin with mapstruct processor
[code]
quarkus-infinispan-client stops generating schema from the Interface that extends SerializationContextInitializer.

No exception

[2021-04-07 11:45] mkouba opened #16316 "CLI: make it possible to specify additional quarkus config properties"
ATM it's not possible to pass quarkus config properties, e.g. something like `qs build -p quarkus.package.type=uber-jar`.

See also https://picocli.info/#_maps

[2021-04-07 11:49] mkouba opened #16318 "CLI: consider autocomplete support via TAB"
I believe that most of the CLI users are used to use this feature.

See https://picocli.info/autocomplete.html.

[2021-04-07 11:50] radcortez commented on #16124
Feel free to open a PR. We may need to work the project structure a bit, but I'm thinking a multimodule project with each source in a submodule.

I guess that you use `ConfigSourceFactory` to read some additional configuration and configure the source? In the case, it is fine, because you cannot do it with ´ConfigSourceProvider`.

[2021-04-07 11:54] sberyozkin commented on #16294
@mrizzi Have a look at https://stackoverflow.com/questions/61966384/keycloak-invalid-token-issuer, can any of the recommendations there work for you ?

[2021-04-07 11:58] radcortez commented on #16283
Yes, because `-D` handles it as a System property which has higher priority.

Regarding `pom.xml` vs `application.properties`, I believe that `application.properties` should have priority because you may not be able to change properties in the `pom` (thinking about inherited properties from a parent pom that you don't control).

Config as come a long way since the last few months, so we probably n

[2021-04-07 12:06] DouglasGo8 commented on #1658
Reported at https://github.com/apache/camel-quarkus/issues/2448

[2021-04-07 12:10] jjdestef3 opened #16319 "Issue with Camel FHIR extension when upgrading to 1.13.0.Final"
## Describe the bug
I an using the Camel FHIR extension in a project which is working fine for Quarkus version 1.12.2.Final. When upgrading to 1.13.0.Final and running the application in dev mode it fails to start and throws a ChainBuilder Exception.

### Expected behavior
The application starts without exceptions.

### Actual behavior
The application does not start and throws the following except

[2021-04-07 12:45] pazkooda commented on #13662
Consider looking at just opensourced extension we developed at TietoEvry
https://github.com/TietoEVRY/quarkus-resteasy-problem

You may find it useful.

Regarding integrating this into Quarkus suggestion from dev mailing list is to put this into Quarkiverse which will try to do in near future.

[2021-04-07 13:02] FroMage commented on #13662
That looks nice, but I'm not sure if this should really live outside of quarkus itself. I mean: I don't see why most users would want to opt out of having this feature when they import resteasy (classic or reactive).

[2021-04-07 13:05] geoand commented on #13662
So @FroMage you would prefer to integrate what @pazkooda and team developed this into RESTEasy Classic and/or Reactive ?

[2021-04-07 13:06] pazkooda commented on #13662
I've just made same question/concern on dev mailing list. But is not me to decide here :).
In case you'd be interesting in incorporating our part (somehow) don't hesitate to contact me or @lwitkowski for details.
We are open to help out with Reactive port if needed.

[2021-04-07 13:14] FroMage commented on #13662
Well, yes, it sounds like this could be a new core extension that both resteasy versions import by default, no?

[2021-04-07 13:16] gsmet commented on #16132
Will be fixed in 1.13.1.Final.

[2021-04-07 13:16] #16132 closed

[2021-04-07 13:20] geoand commented on #13662
I can see the merit, I'm not against it

[2021-04-07 13:23] jsmrcka opened #16321 "Spring Web: @ExceptionHandler response does not override @ResponseStatus"
## Describe the bug
REST controller with an endpoint:
[code]
Spring exception handler:
[code]
The response should be `400 BAD REQUEST`, but is `200 OK`.
Without the `@ResponseStatus(HttpStatus.OK)` annotation, the response is `400 BAD REQUEST`.
Without the `@ExceptionHandler`, the response is `500 Internal Server Error`.

### Expected behavior
Response status code is determined by `@ExceptionHandl

[2021-04-07 13:24] pazkooda commented on #13662
Just for you info: we already evaluated XML support - see this (closed) [PullReq#20](https://github.com/TietoEVRY/quarkus-resteasy-problem/pull/20). Yet we were not sure if some side effects of implementation are worth introducing it in early stage of this extension.
Waiting for community feedback before introducing this to core of our code.

[2021-04-07 13:28] debae opened #16322 "KinesisEvent object cannot be parsed in AWS Lambda Function"
## Describe the bug
If you use the quarkus-lambda extension you can consume all AWS events by simply implementing the interface and selecting the correct type of event. In case of Kinesis :

[code]

The configured jackson ObjectMapper however cannot marshal the input event correctly.

### Expected behavior

The KinesisEvent json can be marshalled correctly and the RequestHandler gets invoked.

###

[2021-04-07 13:29] debae commented on #16322
In order to get it to work we need to register an ObjectMapperCustomizer ( which is used by quarkus-jackson ) that allows a float to be converted to a Date :

[code]

[2021-04-07 13:31] geoand commented on #16321
Thanks for reporting, I'll take a look soon

[2021-04-07 13:47] hyper-ricardo opened #16323 "Quarkus 1.13.0 with Jacoco include test classes in report"
## Describe the bug
With a Quarkus 1.13.0 Gradlew project and the quarkus-jacoco extension, classes from src/test/resources are included in the Jacoco report.
Event with this property in the application.yml

[code]

### Expected behavior
No test classes from src/test/java should be included in the Jacoco raport

### Actual behavior
Test classes from src/test/java are included in the Jacoco report

[2021-04-07 13:59] geoand commented on #16321
https://github.com/resteasy/Resteasy/pull/2722 fixes the issue. Once that is merged we'll need a new RESTEasy release to pick up the fix

[2021-04-07 14:07] geoand commented on #16323
cc @stuartwdouglas

[2021-04-07 14:08] sberyozkin commented on #16294
@mrizzi @pedroigor FYI, #16324

[2021-04-07 14:14] wburns commented on #16315
@theseeker58 Does it generate the schema file (target/classes/proto/generated/$schemaFileName) and the impl for the SerializationContextInitializer in the target/classes directory?

[2021-04-07 14:17] theseeker58 commented on #16315
only the compiled Interface. The Impl class is no longer generated. If I
remove mapstruct-processor it works fine again

Il giorno mer 7 apr 2021 alle ore 16:15 William Burns <
***@***.***> ha scritto:

[2021-04-07 14:27] gsmet commented on #16315
Probably better if you prepare a small reproducer for the issue.

[2021-04-07 14:53] ajhajj opened #16326 "Ability to detect podman when creating container output"
I have noticed that:

`./mvnw package -Pnative -Dquarkus.native.container-build=true`

will detect either docker or podman and use accordingly.  However:

`./mvnw package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true`

requires the presence of docker unless I explicitly specify '`-Dquarkus.native.container-runtime=podman`'.  This feels like inconsistent behavi

[2021-04-07 14:57] mrizzi commented on #16294
So, interesting tests starting keycloak's container adding `-e KEYCLOAK_FRONTEND_URL=https://192.168.49.1:8543/auth`:

- Quarkus 1.13.0 works **without** the `quarkus.oidc.token.issuer` property (even if, from my perspective, it's the same solution since it's always a matter of adding a property to the K8s deployment with the Keycloak's external URL)
- Quarkus 1.12.2 fails to start the application

[2021-04-07 15:06] ia3andy commented on #16031
@maxandersen do you know if it's in the pipeline, I think it's important to be iso with the maven plugin.

[2021-04-07 15:32] sberyozkin commented on #16294
@mrizzi

Ok, thanks for the tests - so it looks not bad in `1.13.x` with `KEYCLOAK_FRONTEND_URL` - looks like it affects how Keycloak sets the issuer in the discovery doc and in the `iss` claim - same value - so no need to customize with the property ; combined with the possibility of skipping the authentication completely, it should cover this `issuer` space qutie well

[2021-04-07 15:34] sberyozkin commented on #16294
`fedora-ip` vs the ipaddress is the same problem as with `localhost` vs ip, when using the `issuer` property - so indeed, setting the frontend url property at the startup seems the best option - of skipping it if really needed

[2021-04-07 15:37] mrizzi commented on #16294
@sberyozkin my opinion right now is that we will wait for `quarkus.oidc.token.issuer=any` to be available from #16324 so that we can keep our k8s/OCP templates basic as they're without any need for manual intervention **only for development purposes**

Then when my team will work on creating an operator, we will enforce there all the "production level" security requirements

[2021-04-07 16:46] pedroigor commented on #16294
@mrizzi @sberyozkin I was about to suggest a similar setting in Keycloak. As a quick background, that flag forces Keycloak to publish all the frontend URLS (issuer, jwks, authorization endpoint, etc) with a specific URL. There is also a setting for forcing backchannel URLs to use the URL set to the frontend URLs. This configuration is usually done when deploying to production. See https://www.keyc

[2021-04-07 16:53] sberyozkin commented on #2611
Hi @loicmathieu Here is the post: https://groups.google.com/g/dependency-check/c/3Oen-UKhM0U - please watch it/comment there as needed, thanks

[2021-04-07 17:19] asodja opened #16328 "Gradle quarkusDev fails when using Java toolchains"
## Describe the bug
When using Gradle Java toolchains quarkus dev is not run with JDK provided in toolchains but it uses current system JDK.
Toolchains reference: https://docs.gradle.org/current/userguide/toolchains.html

For example if my system Java version is 11 and I have defined Java toolchains with version 15, gradle will compile classes with JDK 15, but quarkusDev will start server with JDK

[2021-04-07 17:22] mrizzi commented on #16294
@pedroigor my understanding/guessing is because the validation implementation changed with Quarkus 1.13.0 from the previous [OidcUtils#validateClaims](https://github.com/quarkusio/quarkus/blob/1.12.2.Final/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/runtime/OidcUtils.java#L67) in Quarkus 1.12.2.

What surprised me is that our tests were not able to catch this but using keycloak with test

[2021-04-07 17:35] kdubb commented on #16057
@barreiro @gsmet Did this not make it into 1.13.1.Final?

[2021-04-07 17:38] gsmet commented on #16057
No, it didn't.

[2021-04-07 17:42] gsmet commented on #16057
There's a good chance I will release a `.2` next week though.

[2021-04-07 17:49] kdubb commented on #16057
That would be great. This is confirmed to be a total leak of all physical connections & it has a merged fix.

[2021-04-07 18:17] joggeli34 opened #16329 "Incorrect micrometer metrics for http method OPTIONS"
## Describe the bug
The method="OPTIONS" request creates a separate counter for each path parameter instead of combining them.

### Expected behavior
Metrics should look like follow:

`
http_server_requests_seconds_max{,method="POST",outcome="SUCCESS",status="204",uri="/api/alerts/{alertId}",} 0.0
http_server_requests_seconds_max{method="OPTIONS",outcome="SUCCESS",status="200",uri="/api/alerts/{al

[2021-04-07 18:23] dufoli commented on #13054
Me, I am working on extension but never finished it.

[2021-04-07 18:31] amahfouz1 commented on #13054
@dufoli here you go the full configuration and it has been proven stable in production. Let me know if you need any help with the extension.

[2021-04-07 18:39] Faboli7 commented on #16059
Hi,

I tried again with quarkus 1.13 and the new rest client extension but now I have issues with timeouts when I call external services.
From my logs and the logs of those services, I can tell that my application waits 30 seconds before actually making the call, and directly after I get a timeout.

Here is the partial stacktrace:
[code]
I'm not using async calls and I thought the issue might come

[2021-04-07 18:41] geoand commented on #16059
There are some enhancements coming in `1.13.1`.
I would propose trying it when it comes out (likely by the end of the week) and if you still encounter problems, open a new issue

[2021-04-07 18:46] Faboli7 commented on #16059
Ok @geoand, I'll do that. Thanks.

[2021-04-07 18:53] ebullient commented on #16329
Thanks for opening this. You can use a configuration match pattern to correct this condition while you wait for an official fix.
https://quarkus.io/guides/micrometer#quarkus-micrometer_quarkus.micrometer.binder.http-server.match-patterns

[2021-04-07 19:02] ebullient commented on #16033
Coming back to this after letting it percolate for a bit.... (also some simplifications after talking w/ Max)

[code]

Lots of room for improvement w/ list. Wondering about pinning/filtering based on platform version (even if platform version then still appears in the resulting list.. ). Starts to make the existence/selection of a platform meaningful w.r.t. where extensions come from...
[code]

I

[2021-04-07 19:29] diggernet commented on #12469
I've just run into this UnsatisfiedLinkError with a JNI library.  While searching for a solution, I found this page:
https://quarkus.io/guides/class-loading-reference
In particular, this part:

"When running a production application everything is loaded in the system ClassLoader, so it is a completely flat class path. [...] For all other use cases (e.g. tests, dev mode, and building the applicatio

[2021-04-07 19:37] machi1990 commented on #14532
There is an ongoing PR https://github.com/quarkusio/quarkus/pull/16333 to do the upgrade work.

[2021-04-07 19:41] machi1990 commented on #13161
Once https://github.com/quarkusio/quarkus/pull/16333 is in to bring support for vertx redis 4.0.0, we can consider adding other options.

[2021-04-07 19:45] gastaldi opened #16480 "Test non-platform extensions' compatibility when a new Quarkus release becomes available"
When a new Quarkus release becomes available, we run a CI for each of those extensions compatible with the previous version of Quarkus against the newly released one.

Those that pass the CI are assumed to be compatible with the new Quarkus release and the registry gets updated with that info. Those that fail aren't marked as compatible then when the next Quarkus release becomes available, we repe

[2021-04-07 19:47] MikeEdgar commented on #16218
Should a class disabled in the build with this annotation be also excluded from the Jandex index or is it needed there for other purposes?

[2021-04-07 19:58] aloubyansky commented on #16033
Nice. A thing to keep in mind is commands like `add` and `list` depend on the context. E.g. if it's an application, it's what's described. What if I `create-extension` and do `add`? It could certainly still add a dependency on an extension, it's not unreasonable. But in that case it would have to update the deployment module as well.

[2021-04-07 20:18] Ralamboniaina commented on #15517
Quarkus 1.13 release solved this issue. Thank you @sberyozkin @patriot1burke.

[2021-04-07 20:18] #15517 closed

[2021-04-07 20:22] ebullient commented on #16033
it could certainly help make sure you add the right dependency in the right place (as you don't always need them in both places, ... ). But there are a few cases where I need the extension dependency in one or the other (but not both), so yes, extensions are trickier.

We could either say add/remove isn't supported for extension projects, or figure out a middle ground (e.g. advice on what needs to

[2021-04-07 20:30] aloubyansky commented on #16033
Just in case, if a runtime extension artifact depends on a runtime artifact of another extension, it should be mirrored in the deployment deps. And the other way around.

[2021-04-07 20:34] ebullient commented on #16033
Micrometer uses some extensions in the test scope (so only in deployment, not at runtime at all).

Micrometer also uses other extensions optionally: so the optional dependency is in the runtime module, and maybe only the spi is in deployment (there are other checks in place to ensure paths aren't exercised if the other extension isn't there).

[2021-04-07 21:05] sberyozkin commented on #15517
@Ralamboniaina thanks, I did not look into further but may be Bill did :-), cheers

[2021-04-07 21:12] XakepSDK opened #16336 "Qute example not working in firefox"
## Describe the bug
When clicking `Generate new quark`, Firefox fails to execute POST request with error `NS_BINDING_ABORTED`
Works in Chromium

### Expected behavior
New item added

### Actual behavior
POST request fails, no new item added

## To Reproduce
1. Create quarkus project with Qute
2. Open example page
3. Click on `Generate new quark`

### Configuration
Nothing changed; default config f

[2021-04-07 22:13] Maldivia opened #16337 "Qute deployment errors with template parameter declaration of concrete classes and usage of default methods"
## Describe the bug
Given the following example classes:
[code]

[code]

And the following template:
[code]

Running `mvn quarkus:dev` fails with the following error:
[code]

If I change the templated to use the interface instead, it works as expected:
[code]

mvn version: Apache Maven 3.8.1
java version: build 11.0.10+9
quarkus-plugin.version: 1.13.1.Final
quarkus.platform.version: 1.13.1.Final

[2021-04-07 22:55] lucafuji opened #16338 "Quarkus sql client PreparedQuery.executeBatch number of rows affected always equal to 1"
## Describe the bug
We are using io.quarkus:quarkus-reactive-pg-client library and quarkus 1.11.1.Final.
We are using the preparedQuery.executeBatch as below, but the rowCount always returns 1 no matter how many rows it updated

[code]

### Expected behavior
The row count should return actual number of rows updated

### Actual behavior
Always returns 1

[2021-04-07 23:26] edeandrea commented on #16182
Thanks for the updates! What are the chances of getting this into an upcoming 1.13.x release?

[2021-04-08 02:09] stuartwdouglas commented on #16191
We have disabled instrumentation by default, as it seems to cause lots of problems like this one (which I think is a JDK/IDE problem rather than a Quarkus one).

[2021-04-08 02:09] #16191 closed

[2021-04-08 05:39] geoand commented on #16326
Can you explain which part of the build requires docker?

Some logs for the second case would be helpful

[2021-04-08 06:18] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/728347285

[2021-04-08 06:26] mukhtarhussainbaloch opened #16343 "Unit Testing Quarkus with quarkus-smallrye-openapi causing InvalidDefinitionException Java 8 date/time type `java.time.LocalDate` not supported"
## Describe the bug
When `quarkus-smallraye-openapi` dependency is included in pom.xml, Unit Test having POJO's with LocalDate type variable fail with "com.fasterxml.jackson.databind.exc.InvalidDefinitionException:"
### Expected behavior
Unit Test should run without exception and objects having LocalDate type should marshal and unmarshal without any problem.
### Actual behavior
Unit Test fail with

[2021-04-08 06:26] phillip-kruger commented on #16218
@geoandri maybe you can help ? When a `@IfBuildProfile` is present, will the class be removed from the Jandex index ?

[2021-04-08 06:44] mkouba commented on #16336
Works fine with Firefox 87.0 (64-bit). 88.0.b8 is a developer edition, right?

@XakepSDK Could you try to dump the response headers received from the server?

[2021-04-08 06:45] #13161 closed

[2021-04-08 06:45] #14532 closed

[2021-04-08 06:45] #15031 closed

[2021-04-08 06:45] #15970 closed

[2021-04-08 06:52] #16323 closed

[2021-04-08 07:16] geoand commented on #16343
Thanks for reporting.

Can you please attach a reproducer project to the issue?

[2021-04-08 07:17] geoand commented on #16338
cc @tsegismont

[2021-04-08 07:20] #16268 closed

[2021-04-08 07:34] geoandri commented on #16218
Hi @phillip-kruger , I think that you meant to mention @geoand .

[2021-04-08 07:38] phillip-kruger commented on #16218
Yes I did, sorry :)

[2021-04-08 07:38] geoand commented on #16218
They will not be removed from the Jandex index. They are only removed from Arc

[2021-04-08 07:41] phillip-kruger commented on #16218
Thanks, that is the problem then. We look at jandex when we build the schema. So we will have to build in something specific for this case...