[2021-04-19 05:49] geoand commented on #16576
@stuartwdouglas I am just now looking into it, but that's what I gathered from looking at the error message. I want to dump the actual output to see

[2021-04-19 05:55] geoand commented on #16576
So indeed, `org.simple.reproducer.services.ImplementedService_Subclass` is overriding `public final String format(LogRecord var1)`:

[code]

[2021-04-19 06:11] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/762396821

[2021-04-19 06:19] iocanel commented on #16612
In theory people could specify the rbac configuration in src/main/kubernetes and make it as strict as they need to.

Haven't tried it though...

Now I can see a feature flag to disable the generation of rbac resources. Also we could point to an existing Role binding or even control the privileges. These are all valid approaches.

[2021-04-19 06:28] geoand commented on #16610
The change is behavior you are seeing is due to https://github.com/quarkusio/quarkus/pull/13223.

The fact that it doesn't work well in WSL2 seems to be a bug of WSL2 itself, see https://github.com/microsoft/WSL/issues/5298.

Apart from the workarounds mentioned in that issue, you can also specify `quarkus.http.host=0.0.0.0`.

[2021-04-19 06:28] #16610 closed

[2021-04-19 06:31] mkouba commented on #16576
Hm, IIRC we try to remove the `final` modifier from the intercepted methods. @geoand It was originally implemented by you ;-). Could it be a problem because jboss logmanager classes are loaded by CL that does not support transformation?

Since 1.13 the container monitors business method invocations in the development mode by default. You can disable monitoring via [quarkus.arc.dev-mode.monitoring-

[2021-04-19 06:31] stuartwdouglas commented on #16571
I think this may already be fixed by https://github.com/quarkusio/quarkus/pull/16460

[2021-04-19 06:32] stuartwdouglas commented on #16571
Actually probably not, if this still happens in 1.13.2

[2021-04-19 06:35] geoand commented on #16576
Of course I did... :(.
So yeah, because the logmanager is loaded parent first, the transformations are not being applied

Hm, maybe we should document this somewhere?

[2021-04-19 06:35] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/762396821

[2021-04-19 06:43] mkouba commented on #16576
Hm, so even if we detect similar cases and omit the class from monitoring the error appears in the dev mode if a interceptor binding is explicitly declared. Maybe we should try to detect the problematic classes and fail the build?

Yes, we can a paragraph to the **Development Mode** section. I can send a PR later today...

[2021-04-19 06:50] geoand commented on #16576
Yeah. I think there are 2 things here:

1) When there is no explicit interceptor binding created by the user, we should just simply not perform the transformation if any class in the class hierarchy is loaded parent first
2) If there is an explicit interceptor binding created by the user and any class in the class hierarchy is loaded parent first, we should fail the build

[2021-04-19 07:08] mkouba commented on #16576
Can we detect this somehow?

[2021-04-19 07:09] geoand opened #16615 "Introduce versions of ClientRequestFilter and ClientResponseFilter that can suspend and resume"
## Description

In RESTEasy Reactive we have the `ResteasyReactiveContainerRequestFilter` and `ResteasyReactiveContainerResponseFilter` which can suspend and resume thus allowing for non-blocking filters.

We should have something similar for the client

Originally came up in https://github.com/quarkusio/quarkus/issues/16523

[2021-04-19 07:09] geoand commented on #16523
I opened https://github.com/quarkusio/quarkus/issues/16615 to track the need

[2021-04-19 07:12] nragon commented on #14431
Should this be open as enhancement?

[2021-04-19 07:15] phillip-kruger commented on #14431
You are welcome to open a new issue :)

[2021-04-19 07:16] pegrc commented on #16576
Thanks, we'll give this a go for now :) and thanks everyone for looking into it

[2021-04-19 07:18] geoand commented on #16576
For example, when checking at https://github.com/quarkusio/quarkus/blob/d4dd21bd0135285aea825ca8444f28ce89688b6c/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/Methods.java#L221

it would be something like:

[code]

[2021-04-19 07:19] glefloch commented on #16429
@rpr13 have you a reproducer? it looks like you are using gradle 7.0, have the same issue with gradle 6.8.3 ?

[2021-04-19 07:24] rpr13 commented on #16429
Hi, I don't know what reproducer is.

Same thing happened on gradle 6.8.3.

[2021-04-19 07:25] glefloch commented on #16429
just a sample project that fails with this error.

[2021-04-19 07:29] nragon opened #16616 "Support for nested OpenAPI resources on multi-module project"
## Description
OpenAPI allows to set branding logo and favicon but these options are only allowed to be set on a first level module.
This works:
[code]
This doesn't:
[code]

In or specific use case, our microservice has two units which are deployed independently (Module 2 and 3).
[code]
Since Module 1 has a dependency for Common, setting resources on common would mean that Module 3 would end up ha

[2021-04-19 07:30] geoand commented on #16576
https://github.com/quarkusio/quarkus/pull/16617 is an implementation of the idea above

[2021-04-19 07:39] rpr13 commented on #16429
I have this `build.gradle.kts`
[code]

[2021-04-19 07:40] rpr13 commented on #16429
Oh
And example `.env` file
[code]

[2021-04-19 07:47] glefloch commented on #16429
Thanks I will test with that.

[2021-04-19 07:47] phillip-kruger commented on #16537
I can not recreate this issue (using main branch).

[2021-04-19 07:50] phillip-kruger commented on #16616
Just to confirm, we are talking about the branding resources (logo.png, css etc)

[2021-04-19 07:58] nragon commented on #16616
Yes

[2021-04-19 08:33] mkouba commented on #16590
Thanks for reporting! This bug should be fixed in https://github.com/quarkusio/quarkus/pull/16618.

[2021-04-19 08:37] bpasson commented on #16612
@iocanel specifying the rbac configuration src/main/kubernetes does add them to the generated descriptors, but if the name is not the same as would be generated it is just added and the *-view rolebinding is still generated. A bit more control over how it all is generated seems a good idea to me.

[2021-04-19 08:54] morhei opened #16619 "Hibernate: Entity not updated when changed value provided via method"
I use Quarkus + Hibernate to sync data to the DB and I've noticed during testing that sometimes my entity isn't updated. I've created a minimal example adjusting the original example https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-orm-quickstart

Here are my adjustments:

**import.sql**
[code]

**Fruit.java**
[code]

**DBTest.java**
[code]

What I see is that _testUpdateNameOn

[2021-04-19 09:11] jonathanroques commented on #13655
Hi,
I'm going back to quarkus after some frontend dev during the last months 🥵 .. I update from 1.10 to 1.13.2 and I have some issues. First of all it looks like `PAyloadFormatVersion` is not required anymore right ?

Secondly, I want to setup some auth using cognito here's what I do :

[code]

But my request are always authorized, as if the authorizer is not used... Any suggestions, or something

[2021-04-19 09:36] vladykin commented on #16603
Thanks for explanation. That should definitely be added to the documentation.

With the reconnect properties you suggested, the test passed for me too. However I have additional questions on this.

Am I correct that after exhausting retries the application enters a non-recoverable state, where it no longer attempts any reconnects and will never succeed in sending/receiving any messages to/from mes

[2021-04-19 09:40] Postremus opened #16620 "Resteasy Reactive - NPE when a filter throws exceptions"
## Describe the bug

My application throws an exception inside a `ContainerRequestFilter`. This exception is then catched an converted to a 400 status code inside an `ExceptionMapper`.

This setup works fine in Resteasy Classic - status code 400 ist returned, and no exception.
In Resteasy Reactive, I get the exception from below and an 500 status code.

When I remove the `ExceptionMapper`, the Run

[2021-04-19 09:43] Dxvid opened #16621 "Quarkus default user 1001 conflicts with other user in almost any Linux system"
## Describe the bug
Quarkus uses user 1001 by default inside the docker containers, this conflicts with other user in almost any Linux system as almost all Linux installations will have a user 1001 already present in the system.
This causes both security issues and unexpected behavior on the servers where Quarkus is running, especially if a volume is mounted.
Whether the machine is a physical one,

[2021-04-19 09:44] vladykin commented on #16603
And a second question. Suppose an application with REST API, which sends messages to @Outgoing channel as part of incoming REST request processing.

With the current algorithm of health reporting, the application loses connection with broker but continues reporting itself as ready. It means k8s keeps sending REST requests to the application, but they can't be successfully processed, because messag

[2021-04-19 09:46] geoand commented on #16621
cc @maxandersen

[2021-04-19 09:46] YunaBraska commented on #16399
@loicmathieu which project is this. I am a bit confused who does what in quarkus.

[2021-04-19 10:42] gerritdrost commented on #16429
Experiencing similar problems, but with `config/application.properties` instead of `.env`:

[code]

[2021-04-19 11:25] sberyozkin commented on #16523
Great stuff :-)

[2021-04-19 11:50] #11695 closed

[2021-04-19 12:06] mkouba commented on #16437
Ok, so I was able to reproduce the problem. Yes, the client proxy class declares `org.hibernate.query.Query createQuery(java.lang.String)` from `SharedSessionContract`  which overrides `org.hibernate.query.QueryProducer.createQuery(String)` from the `QueryProducer`. But apparently we need to add the generated bridge methods with `javax.persistence` types as well..

[2021-04-19 12:27] geoand commented on #16540
Good point. We should fix this one. I'll take a later this week

[2021-04-19 12:30] sberyozkin commented on #16540
Hey @geoand - thanks - let me know please if i can help somehow - I was just typing a line suggesting that it should be reproducible with a custom test filter injecting some test bean (no need to use OidcClientFilter) - perhaps I can help with a reproducer, etc

[2021-04-19 12:31] geoand commented on #16540
Thanks for the offer @sberyozkin :).

I know exactly what this doesn't work and I am already refactoring the client code a little for #16615, so this will fit it nicely one I'm done with the other issue

[2021-04-19 12:36] sberyozkin commented on #16540
@geoand, Np at all, cool, great you are already aware of where the problem is :-)

[2021-04-19 12:36] FroMage commented on #14883
Yes.

[2021-04-19 12:39] InfoSec812 commented on #3905
So, a couple of comments and some insights for a long-time user of OpenAPI Generator.

1. There are efforts underway to improve the OpenAPI Generator to use the latest and greatest OpenAPI Annotations
2. Those efforts are slowed because all of the JAva generators share some base classes and this can potentially break other generators if we move too quickly
3. We also need to be careful not to brea

[2021-04-19 12:41] FroMage commented on #16437
Sorry about the delay. OK so it's an ArC bug then?

[2021-04-19 12:44] FroMage commented on #16573
That sounds like a weird result from your DB. `count(*)` should never return an empty result set, no? What DB is this?

[2021-04-19 12:45] FroMage commented on #16615
Well OK, but then also exception mappers, no? ;)

[2021-04-19 12:51] geoand commented on #16615
Yup

[2021-04-19 12:54] geoand commented on #16615
But probably later, cause I don't know if/how are handling the exception mapper for the client

[2021-04-19 13:10] geoand commented on #16523
@sberyozkin I opened #16624 to cover the suspend / resume case for filters. Here is an example of how it can be used: https://github.com/quarkusio/quarkus/pull/16624/files#diff-f38b9446e212797812d04f5e5da9a9cc749e486c1d89dd5e27cedbae200e2962

[2021-04-19 13:11] gwenneg opened #16625 "Local information disclosure vulnerability in the Netty version from 1.13.2.Final"
Quarkus `1.13.2.Final` depends on netty `4.1.49.Final` which suffers from [this vulnerability](https://github.com/netty/netty/security/advisories/GHSA-5mcr-gq6c-3hq2) which was fixed in netty `4.1.59.Final`

I saw that netty was updated to `4.1.60.Final` on `main` because of Vert.x 4.

Would it be possible to update netty to either `4.1.59.Final` or `4.1.60.Final` in the next `1.13` release (assum

[2021-04-19 13:11] loicmathieu commented on #16399
This is not a Quarkus project but the official MongoDB Java Driver : https://github.com/mongodb/mongo-java-driver
The issue is a limitation of the usage of the Pojo Codec that mandates your classes to be valid Java beans (with getters and setters) or classes with public fields.

The issue is reproducible without Quarkus.

[2021-04-19 13:21] FroMage commented on #16615
Sure, those are not linked.

[2021-04-19 13:23] geoand opened #16626 "Introduce the ability to suspend and resume in JAX-RS client ExceptionMappers"
## Description

Same as we have for the server exception mappers

[2021-04-19 13:23] geoand commented on #16615
I opened a new issue: https://github.com/quarkusio/quarkus/issues/16626

[2021-04-19 13:27] igor-dmitriev commented on #15740
it works with `quarkus-amazon-lambda-rest`, thanks

[2021-04-19 13:27] #15740 closed

[2021-04-19 13:34] FroMage commented on #16615
Damnit, man, I'm sorry I misread this issue. I thought you were talking about annotation-declared client requests and filters, and I suggested adding annotation-declared exception mappers. I didn't realise I had mis-read the subject. I don't think exception mappers can suspend on the server-side, can they?

[2021-04-19 13:39] geoand commented on #16615
No need to apologize, you likely read the correct thing :)
What happened is that when I opened the issue initially, I did mention the annotations. Howeve then I realised that the client doesn't automatically register filters, so I then changed the title and description to only mention suspend and resume.

As for exception mappers, they can resume on server

[2021-04-19 13:40] FroMage commented on #16615
Hahahaha, excellent :)

[2021-04-19 13:41] ideal commented on #16487
OK, thanks.

[2021-04-19 13:41] FroMage commented on #16615
Huh, is that by design or because we forgot?

[2021-04-19 13:43] geoand commented on #16615
I think it's just how the JAX-RS client works by spec - if it worked otherwise, the TCK would have a ton of failing tests :)

[2021-04-19 13:43] mkouba commented on #16437
I'm not sure TBH because I would expect the hibernate `Session` interface to have a bridge method for `EntityManager.createQuery(String)` defined, similarly as it has for `EntityManager.createQuery(javax.persistence.criteria.CriteriaDelete)`, but the bridge method is not there...

[2021-04-19 13:46] galderz commented on #16139
From what I can see [here](https://github.com/oracle/graal/pull/3179/commits/31a1c56bdeaddce51866ede950ff06d3019f4a96), it'll already be available as part of 21.1.

[2021-04-19 13:47] mhautman commented on #16573
@FroMage It's a Postgres. Now that the table has been filled in it seems to work fine. I deIeted all the rows and it still works fine. I think this happens when the table has never been filled in before and the count is queried programmatically or it's a problem between the desk and the chair.. Sorry for bothering you.

[2021-04-19 13:48] mkouba commented on #16437
Hm, it seems that all other `create()` methods are explicitly overriden: https://github.com/hibernate/hibernate-orm/blob/main/hibernate-core/src/main/java/org/hibernate/Session.java#L1141-L1154

@Sanne do you happen to know why `org.hibernate.query.QueryProducer.createQuery(String)` is not?

[2021-04-19 13:59] cescoffier commented on #16603
Tes, once the retires have been exhausted, the connector considered this failure as fatal. As a consequence, it switches the liveness check to false and applies a "let it crash" pattern (a supervisor would kill it and restart it).

For your second question, you would have to implement your own check. At the moment both readiness and liveness (in the AMQP connector) have the same logic. It would ma

[2021-04-19 14:05] #16615 closed

[2021-04-19 14:13] FroMage commented on #16573
Maybe the table didn't exist? If that was the case, then indeed, it's not the job of this method to pretend that it exists and all went well. It's better to keep throwing, even if the exception could be better.

I'll close this, then, OK?

[2021-04-19 14:13] #16573 closed

[2021-04-19 14:19] cescoffier commented on #16555
Yes, this case cannot be easily tracked.
Note that it should work if you return a `Uni<RandomObject>` directly.

[2021-04-19 14:20] cescoffier commented on #16390
Health checks are executed on the worker thread, so should be fine in recent versions.

[2021-04-19 14:21] cescoffier commented on #16625
Not really, Quarkus and Vert.x are not impacted by the CVE as we don't use the `AbstractDiskHttpData` class.

[2021-04-19 14:22] geoand commented on #16615
Yeah, I like the idea.
Up until today I actually thought that the filters where automatically registered

[2021-04-19 14:25] gwenneg commented on #16625
That's good to know, thanks for the info @cescoffier.

[2021-04-19 15:06] radcortez commented on #16531
Hi @hhovhann

I've tried the reproducer and added my own `.env` file with the same configuration names, but pointing to a personal email server and I has able to send emails.

The included stacktrace seems to point to another issue, related with a database connection and/or missing keystores. The reproducer project does not include any database connection, so I supposed the stacktrace is not from

[2021-04-19 15:06] Sanne commented on #16437
do sorry I don't know if there's a specific reason.

[2021-04-19 15:10] Sanne commented on #16437
BTW it's defined in `org.hibernate.SharedSessionContract`, the parent interface of Session. The `SharedSessionContract` is shared across other flavours of Session.

[2021-04-19 15:35] radcortez commented on #16482
Indeed there is no connection between MP Config and the CDI container lifecycle, other than contributing beans to inject properties.

A `Config` instance is one of the first things that it is initialised, so you can always fallback to the programmatic Config API. Try using `ConfigProvider.getConfig()` and retrieve the configuration programmatically. That should work.

[2021-04-19 15:37] radcortez commented on #14847
Reopened due to some additional issues found in the implementation.

[2021-04-19 16:00] hhovhann commented on #16531
Thanks for the clarification and checks.

[2021-04-19 16:00] #16531 closed

[2021-04-19 16:10] mmusgrov commented on #15364
There is some preparatory work that we need to do in narayana before we can provide this extension which we have captured in a [JIRA issue](https://issues.redhat.com/browse/JBTM-3457). Sweta is doing the work and is making good progress.

[2021-04-19 16:13] fugu13 commented on #16235
I've encountered this problem as well, the issue seems to be in handling

[code]

It assumes that there will be an `items` since type is `array`, and it looks like assuming that should be safe. Per the current OpenAPI specification, where it adds restrictions to what is allowed for json-schema,

Unfortunately I got lost trying to untangle why items is not being set there, I'm not yet familiar enou

[2021-04-19 16:15] yrodiere commented on #14762
I submitted a PR to support XML mapping: https://github.com/quarkusio/quarkus/pull/16630

Anyone interested in the feature, please try it out and report about your results! You will need to build the main branch of Hibernate ORM locally first, though. See the PR description.

[2021-04-19 16:36] zakkak opened #16631 "Testing Quarkus against different versions of GraalVM/Mandrel"
## Description

It looks like our current way of testing Quarkus with different GraalVM CE and Mandrel versions is a bit flawed and might let issues go through.

I have [shared this in the quarkus-dev mailing list](https://groups.google.com/g/quarkus-dev/c/kBknz8EMz7Q/m/wZpeSg3BBwAJ) as well, but having it here makes it easier to link issues and PRs.

### Existing pipelines

I am personally aware

[2021-04-19 16:52] famod commented on #16482
I closing this one. Feel free to reopen or open another issue.

[2021-04-19 17:03] laurentperez commented on #16488
I close this ticket, because we managed to downgrade the driver to mysql5.1, and removed the flyway extension because it requires mysqld 5.7 and our db is older.

Also the jdbc 8.0 driver requires jdk8, so afaik there is no real point in retrofiting the jdbc extension to support the 5.x driver, since Quarkus itself requires a jdk8, maybe even 11 for quarkus2

Still for legacy ports of Spring Boot

[2021-04-19 17:03] #16488 closed

[2021-04-19 17:08] falcantaracano opened #16632 "Flyway quarkus extension get “java.lang.RuntimeException: java.lang.RuntimeException: Failed to start quarkus” when executing test"
## Describe the bug
When execute mvnw test in my project using Flyway quarkus extension with version 1.13.2_Final, it produces the following error:
[code]
The used configuration is:
[code]
### Expected behavior
After H2 is started, flyway must create the t_examples table and insert two rows. The Test1Flyway must insert one additional row into the same table.

### Actual behavior
This Test1Flyway d

[2021-04-19 17:12] #16620 closed

[2021-04-19 17:21] iriikoad opened #16633 "Code reload: static attributes not reset in dependencies classes"
## Description

I notice that the reload of the application done by quarkus:dev ( 1.13.0.Final) does not reset static attributes in dependencies.
- Issue exist on v1.11 and 1.12 too.
- instrumentation hot reload is disabled

Example of class that is not reset in dependency:

[code]

If this class "SingletonObject" is inside the project Quarkus, static attribute "instance" is reset to NULL when Qua

[2021-04-19 18:45] gsmet commented on #15415
@maxandersen so I can confirm I get the error every time the image is refreshed.

Here is the error I get:
[code]

BTW @iocanel , I used to have the error in the terminal and now I have to go to the OpenShift console to get the error.

I get this in the terminal:
[code]

[2021-04-19 18:47] tom3cz opened #16635 "io.quarkus.mailer.MailTemplate - mailer doesn't send email messages on Quarkus 1.12.2.Final and higher"
![image](https://user-images.githubusercontent.com/82838494/115286811-cd131400-a14f-11eb-8682-aacf857b19e4.png)

I am sending emails as in the above screenshot, using this https://quarkus.io/guides/mailer. I have made upgrade from Quarkus 1.11.1Final to the newest 1.13.2 and this approach stoped sending emails. There is no error, even in debug mode. Email is not sending (with quarkus.mailer.mock i

[2021-04-19 19:03] andrejpetras commented on #3905
In the last two years we have also tried to switch to the `openapi-generator`. In our case there were no advantages to switching to `openapi-generator`.

Both are too generic which makes the project (generator) difficult to maintain. Just check the list of issues on GitHub:
https://github.com/OpenAPITools/openapi-generator/issues
https://github.com/swagger-api/swagger-codegen/issues

Finally, I wo

[2021-04-19 19:21] gsmet commented on #16635
My guess is that it's because it now returns a `Uni` and you need to subscribe to it or it doesn't execute anything.

/cc @cescoffier

[2021-04-19 19:23] gsmet commented on #16633
/cc @stuartwdouglas

[2021-04-19 19:24] #16625 closed

[2021-04-19 19:28] gsmet commented on #16605
My advice would be to use Jackson.

[2021-04-19 19:34] #16599 closed

[2021-04-19 19:38] InfoSec812 commented on #3905
I can understand the desire to avoid the "technical debt" of `swagger-codegen` and `openapi-generator`, but I would caution that those 2 are the most widely used and visible tools in the space right now and we should leverage than instead of building a "snowflake".

[2021-04-19 19:50] wburns commented on #16386
So, debugging the tests the old version never even initialized Infinispan (breakpoint is never hit in the client), where as the latest build Quarkus is now initializing Infinispan. I am not familiar with the code that is referencing our cache, but it is requesting a cache with no name and isn't configured in the server.

Here is the full stack trace of the new version that is creating an Infinispa

[2021-04-19 19:54] wburns commented on #16386
My guess is there is a configuration missing for the cache name of the kafka side possibly. But as far as I can see there is no issue on the Infinispan side as this is expected behavior.

[2021-04-19 20:53] cssovs opened #16638 "Reactive Panache [ Session/EntityManager is closed]"
I have a simple code below.
[code]

[code]

[code]

However, I dont get the part why it is throwing a ` Session/EntityManager is closed`

[code]

After i run the application for the first time then hit the REST API it was ok no errors but when i tried hitting the same api again, thats when the error started.

Thanks for any advice and explaination that you could give.
Appreciated

[2021-04-19 20:54] cssovs commented on #16638
and here is my pom.xml

[code]

[2021-04-19 21:16] holomekc opened #16640 "hibernate-reactive statement-batch-size is not used"
## Describe the bug
In hibernate-reactive the following property is ignored:
[code]

although it is described here. They also mention although it is a jdbc property it is used by hibernate reactive:
https://hibernate.org/reactive/documentation/1.0/reference/html_single/#_enabling_statement_batching

This is quite an important property to improve performance for example if you insert a lot of value

[2021-04-19 22:15] felipewind opened #16645 "Create a parameter to start H2 in Server Mode"
## Description

I'd like **Quarkus to start H2 in server mode**, so I would be able to run my application in development mode and access the data base with a client as DBeaver.

Nowadays, when I want to do this, I use H2 in Mixed Mode (local and remote connections at the same time) like this:
[code]

The downside about using H2 with Mixed Mode is:
- The URL is more complex and it must be adapted t

[2021-04-19 22:25] holomekc commented on #16640
Created PR:
https://github.com/quarkusio/quarkus/pull/16646

Did I miss something or what do you think?

[2021-04-20 02:42] hrstoyanov commented on #14113
See #14847. @radcortez is well aware of the issues, we discussed them on the zulip chat, I provided examples there

[2021-04-20 02:55] stuartwdouglas commented on #16633
We don't reload dependencies outside the project by default, if you really want to do this you need to use add:

quarkus.class-loading.reloadable-artifacts=groupId:artifactId

into application.properties.

[2021-04-20 02:55] #16633 closed

[2021-04-20 04:27] cescoffier commented on #16386
Thanks @wburns. Kafka should not touch infinispan (at least, not as far as I know). @Ladicek can it be because of the new @Identified injected? We may inject too many instance which get 'instantiated' (just a guess)

[2021-04-20 04:30] cescoffier commented on #16635
As @gsmet said, it now returns a Uni and you need to subscribe to trigger the operation (sending the email). You can use: subscribeAsCompletionStage() to send the email and ignore the outcome. You can also use subscribe().with(x -> success, t -> failed) method.

[2021-04-20 04:31] kenfinnigan commented on #16255
Not sure if it's the same issue or not, but I had a different situation with the same error.

If I have the following:
[code]

where `Customer` is a Panache entity and `getOrdersForCustomer()` uses an `Order` Panache entity to retrieve orders with the customer id, I see the following stacktrace:
[code]

[2021-04-20 04:33] stuartwdouglas commented on #16255
That is likely the same error

[2021-04-20 04:42] stuartwdouglas commented on #16255
Actually your code does not seem to be inserting into the DB, so it is likely a different error.

[2021-04-20 04:45] stuartwdouglas commented on #16255
I think you might need to wrap your code in a transaction.

[2021-04-20 05:36] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/765960445

[2021-04-20 06:01] richiethom opened #16647 "Suggestion for passing username as a Principal from the AWS Lambda context"
## Description

At the moment to get the Cognito account associated with an AWS Lambda HTTP invocation, it is necessary to do the following, which isn't particularly clean:

[code]

(this is using the newer AWS API Gateway which doesn't connect with Cognito as easily, we have to integrate Cognito using JWT)

In addition, it doesn't seem possible to inject this information when the Lambda is being

[2021-04-20 06:07] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/765961083

[2021-04-20 06:25] phillip-kruger commented on #16235
/cc @MikeEdgar

[2021-04-20 06:53] csotiriou commented on #16592
I should add that the temporary workaround of putting `resteasy.patchfilter.disabled=true` seems to be working for 1.13.x but not 1.11.x.

[2021-04-20 06:56] indalaterre commented on #15891
Hello, is there any chance to have this in 2.0?

[2021-04-20 06:56] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/765961083

[2021-04-20 07:04] geoand commented on #15891
@FroMage this was added in https://github.com/quarkusio/quarkus/pull/16286, right?

[2021-04-20 07:19] #16582 closed

[2021-04-20 07:22] geoand commented on #16540
Actually, I tried this and could not reproduce this issue.

I took https://github.com/quarkusio/quarkus-quickstarts/tree/development/rest-client-reactive-quickstart and added:

[code]

while also adding `@RegisterProvider(MyFilter.class)` on `CountriesService` and everything worked just fine

[2021-04-20 07:29] geoand commented on #14847
What are the additional implementation issues?

[2021-04-20 07:31] Ladicek commented on #16386
That doesn't seem related. As the error message clearly says, and @wburns confirms, the Infinispan server doesn't have the requested cache configured. Inconvenitenly, neither the issue description nor the reproducer contain any information about how to configure the Infinispan server. @Sgitario care to add more info about that?

[2021-04-20 07:35] geoand commented on #6588
@cescoffier seems like `kafka-streams-quickstart-aggregator` is failing. Do you have any idea?

[2021-04-20 07:35] Sgitario opened #16651 "SSL: Missing HTTPS protocol when building in Native"
## Describe the bug

According to the guide `https://quarkus.io/guides/native-and-ssl`, for native, the next SSL configuration needs to be set:

[code]

The problem is that these properties are not being set by default:
- Creating a new app using Maven command line:

[code]

Adding the `server.keystore` into `src/main/resources/META-INF/resources`.
Having the properties:

[code]

It seems that I n

[2021-04-20 07:37] Sgitario commented on #16386
It's in the reproducer... https://github.com/Sgitario/quarkus-examples/blob/main/reproducers/infinispan-fails-to-start/src/test/java/io/quarkus/qe/containers/InfinispanTestResource.java

[2021-04-20 07:44] Ladicek commented on #16386
Ayea, didn't see that. Will check.

[2021-04-20 07:56] indalaterre commented on #15891
@geoand I saw that there is a 13.3 milestone? Can also this one be released there?

[2021-04-20 07:57] Sgitario commented on #16651
It seems that I need to provide the following property when creating a new application:

[code]

This should be noted in the guide though. But I'm not sure why it works fine from the quickstarted. Any ideas?

[2021-04-20 07:57] geoand commented on #16632
The NPE is caused by:

[code]

That sounds like an H2 bug to be honest

[2021-04-20 07:59] geoand commented on #15891
I am not sure we want to make such a change in `1.13.3`. But I'll let @FroMage decide.

[2021-04-20 07:59] mirostary commented on #15816
@danberindei Thank you for the explanation, We've configured a hotrod client. Since this an expected behavior, It may be good to add more about this to the documentation [Quarkus - Infinispan Client](https://quarkus.io/guides/infinispan-client). It could prevent some problems, for example in OpenShift, there are the request times in default out after 30 seconds.

[2021-04-20 08:13] iriikoad commented on #16633
Your solution resolves the issue.

`quarkus.class-loading.reloadable-artifacts=groupId:artifactId`

Thanks a lot.

[2021-04-20 08:34] #15660 closed

[2021-04-20 08:43] FroMage commented on #15891
Yes, we now support sending files async. I guess we could backport this, I don't see why not, if there's a need.

[2021-04-20 08:44] #15891 closed

[2021-04-20 08:45] geoand commented on #15891
@FroMage are you sure that https://github.com/quarkusio/quarkus/pull/16286 will work with Vert.x 3?

Something tells me that even the PR applies cleanly, there might be some subtle issues

[2021-04-20 08:50] FroMage commented on #15891
Well, it's tested. If the tests pass, then it works and is tested exactly as much as it is currently on 2.0, so I'd say about the same level of confidence in both cases.

If it doesn't apply cleanly or the tests break, then we can decide if it's worth it or not.

[2021-04-20 08:51] geoand commented on #15891
OK, than can you please open a PR against the `1.13` branch? Best to know now if it applies cleanly and if the tests pass than wait until it's time to release

[2021-04-20 08:53] #16590 closed

[2021-04-20 09:06] max-grigoriev opened #16652 "Custom yaml properties don't work in native mode"
## Describe the bug
Entities annotated by `ConfigProperties` don't work in native mode.

### Expected behavior
The native mode should work the same way as java mode.

### Actual behavior
Error is thrown when there's access to the property:
[code]

## To Reproduce

https://github.com/max-grigoriev/code-with-quarkus

Steps to reproduce the behavior:
1. Build: `./gradlew clean build -Dquarkus.package

[2021-04-20 09:22] FroMage commented on #15891
OK done, thanks: https://github.com/quarkusio/quarkus/pull/16653

[2021-04-20 09:22] FroMage commented on #15891
And it did not apply cleanly ;)

[2021-04-20 09:28] geoand commented on #15891
Thanks! Let's see how it goes

[2021-04-20 10:25] radcortez commented on #14847
This is in SR ConfigMapping. We have an issue where when we have defaults set with the annotation at the same level for collection types, the defaults are not being applied properly.

[2021-04-20 10:43] geoand commented on #14847
Understood, thanks

[2021-04-20 10:53] Ladicek commented on #16386
So I found that the test programmatically creates all the caches it needs, which means the problem must be elsewhere. Then I noticed the exception is thrown during the Kafka connector initialization, which lead me to finding out that...

@cescoffier is of course correct :-)

The problem is indeed caused by my PR to move from `@Named` to `@Identifier`. Fix is simple: https://github.com/smallrye/sma

[2021-04-20 11:05] sberyozkin commented on #16540
Hi @geoand thanks, let me try to add a reactive rest client/oidc filter integration test based on your enhancement earlier and see what happens :-)

[2021-04-20 11:11] geoand commented on #16540
Thanks @sberyozkin. If you come up with a reproducer of the problem, I'd love to see it :)

[2021-04-20 11:15] #16580 closed

[2021-04-20 11:15] Ladicek commented on #16386
I have now verified that with SmallRye Reactive Messaging built from https://github.com/smallrye/smallrye-reactive-messaging/pull/1169, the issue is gone and the reproducer tests pass.

[2021-04-20 12:08] iriikoad commented on #16633
Update:
This property creates a ClassNotFoundException in arc when we wants to inject instances of CDI beans of this library.

Example: I want to inject all classes that implements a "NewServiceInterface" defined in the "libx" in my REST class of the app:

@Path("/hello")
public class GreetingResource {

    @Inject
    Instance<NewServiceInterface> services;
    @GET
    @Produces(MediaType.TEXT_

[2021-04-20 12:13] #16352 closed

[2021-04-20 13:09] sberyozkin opened #16656 "Reactive RestClient fails to start if 'quarkus.tls.trust-all' is set"
## Describe the bug
Setting `quarkus,tls.trust-all=true` leads to
[code]

### Expected behavior

It is documented that HostnameVerifier is not supported right now - not sure if it is a permanent restriction though. Perhaps for now it should fail with a more informative warning

[2021-04-20 13:53] geoand commented on #16656
cc @michalszynkiewicz

[2021-04-20 13:53] geoand commented on #16652
cc @radcortez

[2021-04-20 13:57] skasten commented on #15383
Hey togther,

do you have any updates for this topic? Is it planned to integrate connection pool checks for the HTTP connections of the RESTEasy client?

Best regards

[2021-04-20 13:58] sberyozkin commented on #16540
Hey @geoand, please see #16658. It gives me NPE - the curious thing, if I add `@Provider` to it - NPE is gone - but the filter is not invoked. But this filter is registered with `@RegisterProvider`.
FYI, I've tried injecting `HttpServerRequest` and it also gives NPE

[2021-04-20 14:23] jonathanroques commented on #13655
Also it looks like I can't use **Api** events anymore (instead of **HttpApi**) it leads to NPE

[2021-04-20 14:24] geoand commented on #16540
So indeed `@Provider` is needed to make one of these filters work as a CDI bean.
The JAX-RS spec mentions:

[code]

from https://docs.oracle.com/javaee/7/api/javax/ws/rs/client/ClientRequestFilter.html

Was this not the case with the old rest-client?

[2021-04-20 14:27] #16537 closed

[2021-04-20 14:37] kenfinnigan commented on #16255
@stuartwdouglas Right, it's purely reading from two different entities.

I changed the `Order` retrieval to use `PgPool` directly. I had thought about doing them in a transaction but wanted to avoid that for a pure read. Are we saying that a situation like this must have a transaction even for reads?

[2021-04-20 14:46] DavideD commented on #16255
I think this issue my be related to this one: https://github.com/quarkusio/quarkus/issues/14709#issuecomment-819571648

[2021-04-20 14:50] sberyozkin commented on #16540
It works OK [here](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/OidcClientRequestCustomFilter.java) since it is registered as a provider [here](https://github.com/quarkusio/quarkus/blob/main/extensions/oidc-client/deployment/src/test/java/io/quarkus/oidc/client/ProtectedResourceService.java#L10).

I don't really mind adding `

[2021-04-20 14:57] mweber03 opened #16659 "gradle quarkusDev task not reading .env"
## Describe the bug
I have a `.env` file in my project directory, but when I run `quarkusDev`, the environment variables don't exist.

### Expected behavior
[code]

### Actual behavior
[code]

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps to reproduce the behavior:
1

[2021-04-20 14:59] sberyozkin commented on #16540
@geoand OK, sorry, the injection works with @Provider - I was confused as the test endpoint is returning an empty principal so assumed the filter was skipped - I'll ping on Zulip.

[2021-04-20 15:01] ivanjunckes opened #16660 "@Cacheable with hibernate quarkus not working"
## Describe the bug
The hibernate cache is not working with @Cacheable in Quarkus

### Expected behavior
Be able to cache a query

### Actual behavior
Cache is not working

## To Reproduce

https://github.com/ivanjunckes/quarkus-hibernate-cache-example

Steps to reproduce the behavior:
1. Execute mvn clean install
2. UserResourceTest

### Screenshots
(If applicable, add screenshots to help explain

[2021-04-20 15:02] geoand commented on #16540
NP!

[2021-04-20 15:21] sberyozkin commented on #16540
Actually the test passes now - it is just that the reactive client is a bit sensitive to the lack of `@Produces("text/plain")` - probably because it assumes `application/json` by default... So all is good there - if you'd like please close this issue - unless you'd like to track a possible `@RegisterProvider(MyProvider.class)` + CDI enhancement here...

Cheers

[2021-04-20 15:46] vladykin commented on #16603
Ok, got it, thanks again.

So, this discussion results in two follow-up enhancement requests:
* document what health endpoint actually returns taking into account reconnect attempts --- it was not obvious at all
* extend AMQP connector to separately report readiness and liveness (readiness indicates if connection to broker is available right now, liveness indicates if we still have hope to reconne

[2021-04-20 15:48] geoand commented on #16540
Yeah, let's keep this open for the CDI enhancement

[2021-04-20 16:10] DavideD commented on #14709
I don't think in this  case the problem is the lack of a transaction, I think the issue get solved because when one calls `withTransaction` the block of code runs in the right Vert.x context. As far as I know one could do some reads without a transaction. What happens when we call `Panache.withTransaction`?

In Hibernate Reactive we check two things:
* The thread must be an eventLoopThread using `

[2021-04-20 17:51] fiorenzino commented on #16234
@nicolas-vivot no news about your datadog example in quarkus? i'm trying, also watching your examples project on github, but without success. Using the java agent, in the docker image, i'm not capable to add on the logs the traceId..

[2021-04-20 18:18] #11153 closed

[2021-04-20 18:42] falcantaracano commented on #16632
Probably.

I find the following issues in H2 with [50000-197] code for the version 1.4.197.
[https://github.com/h2database/h2database/issues/1430]
[https://github.com/h2database/h2database/issues/1297]

Actually, H2 database project has two higest version (1.4.199 and 1.4.200). The h2 team made a commit to master just before releasing version 1.4.199 from this code error [50000-197]

Is it possibl

[2021-04-20 18:57] #16607 closed

[2021-04-20 19:01] gastaldi commented on #16632
@falcantaracano of course, just declare the dependency on the updated h2 driver in your application

[2021-04-20 19:20] glefloch opened #16661 "QuarkusGenerateCode gradle task is not incremental"
## Describe the bug

When running `quarkusBuild` or `quarkusDev`, it triggers `quarkusGenerateCode` task. This tasks is always ran, even when no change happen.

### Expected behavior
The task should be `UP-TO-DATE`, if no changes happen to

### Actual behavior
The task always is always ran

## To Reproduce

Steps to reproduce the behavior:
1. Create a simple project
2. run `./gradlew quarkusBuild`

[2021-04-20 19:20] falcantaracano commented on #16632
NPE exception is related with ***mode=Oracle*** in the jdbc parameter. I remove it, and Flyway creates the   "PUBLIC"."flyway_schema_history" table.

Now, the new exception is related not to find my t_example table.  Flyway considers that this new created database is update for public schema, not loading my creation script.
[code]
I would appreciate any help with this new exception.

Thanks ...

[2021-04-20 19:44] sebthom opened #16662 "io.netty.util.Version#identify not working in uber-jars"
## Describe the bug
When packaging a Quarkus application as an [uber-jar](https://quarkus.io/guides/maven-tooling#uber-jar-maven) the [io.netty.util.Version#identify](https://netty.io/4.1/api/io/netty/util/Version.html#identify--) method returns an empty map instead of the versions of the included netty artifacts. The reason is that each Netty artifact contains a `META-INF/io.netty.versions` which

[2021-04-20 19:50] michalszynkiewicz commented on #16656
@sberyozkin do you get this error on `main` or some release version?

We need to support this flag so I will implement this instead of adding a better error message.

[2021-04-20 20:58] ppalaga commented on #5244
Citing from https://medium.com/graalvm/graalvm-21-1-96e18f6806b :

It would be nice if Quarkus had config options for end users and BuildItems for extension authors to leverage the new options of the native compiler.

[2021-04-20 21:13] gsmet commented on #16662
https://github.com/quarkusio/quarkus/pull/16664 should fix it, thanks for the report.

[2021-04-20 21:15] #16561 closed

[2021-04-20 23:03] alexbrigido commented on #13667
I got success using javax.ws.rs.core.MultivaluedHashMap class instead Form (javax.ws.rs.core.Form).

`private static final MultivaluedMap<String, String> values = new MultivaluedHashMap<String, String>();`

`javax.ws.rs.core.Response response = client.target(REST_URI).request().post(Entity.entity(values, MediaType.APPLICATION_FORM_URLENCODED));`

Quarkus: 1.10.3.Final

[2021-04-20 23:28] kucharzyk commented on #16358
Same issue here:

[code]

Warnings dissappears after removing quarkus-jacoco extension

[2021-04-21 00:00] x80486 commented on #16429
Issue was introduced from `1.13.0.Final` until the actual version:

[code]

I tested all those versions one by one 😅 ...`1.12.2.Final` is fine.

[2021-04-21 00:49] stuartwdouglas commented on #16358
The main issue is that both the plugin and the extension are in use, but when this is fixed there are other issues that the linked PR fixes.

[2021-04-21 03:05] steelcg opened #16668 "encoding problems in log file"
## Describe the bug
when using Chinese text in logging file, the encoding of the log file will chang from UTF-8 to ansii

### Expected behavior
the encoding of the log file should aways be UTF-8

### Actual behavior
the encoding of the log file changes from UTF-8 to ansii

## To Reproduce

i uploaded the project.

Steps to reproduce the behavior:
1. package the project with "mvnw package"
2. run t

[2021-04-21 03:06] steelcg commented on #16668
[quarkus-logging-encoding-problems.zip](https://github.com/quarkusio/quarkus/files/6347747/quarkus-logging-encoding-problems.zip)
project

[2021-04-21 03:25] stuartwdouglas commented on #16633
Can you open a new issue with these details? ArC is likely defining its classes in the wrong ClassLoader.

[2021-04-21 05:24] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/769511346

[2021-04-21 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/769509536

[2021-04-21 05:30] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/769510760

[2021-04-21 05:30] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/769510760

[2021-04-21 05:37] fmcejudo commented on #8834
The build is still failing:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/769510439

[2021-04-21 05:41] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/769517506

[2021-04-21 05:53] debae commented on #16322
The same applies when you are using the events from DynamoDB Streams

[2021-04-21 06:11] manuelbl commented on #16668
Text files do not save the encoding. So Notepad++ guesses what the encoding is. In this case, Notepad++ has certainly made in incorrect guess.

Open the log file explicitly with UTF-8 and see if that fixes the problem.

[2021-04-21 06:12] nicolas-vivot commented on #16234
@fiorenzino Sorry i'm super buzzy these days in my job. Let me quickly upload that on my projects by tomorrow.

[2021-04-21 06:33] geoand commented on #8593
Seems like there is some weird failure with the `quarkus-universe-integration-tests-camel-rpkgtests` tests.
Can you take a look @jamesnetherton ?

[2021-04-21 06:36] dicolasi commented on #6276
Same question here :)

[2021-04-21 06:37] geoand commented on #16632
It's probably best if you ask the Flyway folks as it seems to be an issue a Flyway (after the change you made)

[2021-04-21 06:37] #16632 closed

[2021-04-21 06:37] jamesnetherton commented on #8593
Yes, I'll take a look into it.

[2021-04-21 06:39] jamesnetherton commented on #8593
It is failing because camel-quarkus has some extensions that depend on bits that are located in the JBoss Maven repo and it's not been too stable over the past 24 hours. So hopefully it's just a temporary problem.

[2021-04-21 06:41] fiorenzino commented on #16234
@nicolas-vivot if you want share privately part of code (fiorenzino AT Gmail)

[2021-04-21 06:45] geoand commented on #8593
Gotcha, thanks!

[2021-04-21 06:49] steelcg commented on #16668
![encoding](https://user-images.githubusercontent.com/38218864/115508654-25f9be00-a2b0-11eb-9758-ace7c9781d7f.png)
that donesn't fix the problem
This point of the problem is why these text wasnot written to file with out UTF-8 encoded.
[code]

[2021-04-21 07:02] asoldano commented on #15383
@liweinan do you have time to help on this?

[2021-04-21 07:20] mkouba commented on #16437
Ok, so I was finally able to create a reproducer.

To sum it up:
1. `Session extends SharedSessionContract, EntityManager`,
2. `SharedSessionContract` declares `org.hibernate.query.Query createQuery(String queryString)` which overrides the `org.hibernate.Query createQuery(String queryString)` from the `QueryProducer`,
3. `EntityManager` declares `javax.persistence.Query createQuery(String qlString

[2021-04-21 07:41] MarkusKramer commented on #16208
I'm seeing the same issue. However, the issue only seems to occur when compiling to a native image. When running in dev mode (JRE based) CORS is working fine.
I'm also using a custom CORS filter a workaround now.

[2021-04-21 07:57] geoand commented on #16540
https://github.com/quarkusio/quarkus/pull/16673 contains the CDI enhancement

[2021-04-21 08:12] manuelbl commented on #16668
Independent of the log message, the log file is written in the platform's default encoding. This applies whether Chinese text is used or not. Unfortunately, the default encoding on most Windows machine is usually country-specific instead of a universal encoding like UTF-8. The problem hardly exists on Linux and macOS as they have switched to UTF-8 some time ago.

As far as I can tell the fact that

[2021-04-21 08:29] steelcg opened #16674 "make the log file encoding configurable and possibly default to UTF-8"
## Description

refer to #16668
## Implementation ideas

https://github.com/quarkusio/quarkus/issues/16668#issuecomment-823870855

[2021-04-21 08:30] steelcg commented on #16668
@manuelbl Thanks for your support.

[2021-04-21 08:35] rosariop opened #16675 "PanacheEntity Creating Tables Failing With H2"
## Describe the bug
When building a database structure using PanacheEntity, errors are thrown during DDL exection.
Hibernate failes to create tables when using JavaX persitence relation (e.g. MayToOne) on the given table-type.

### Expected behavior
I'd expect, that hibernate generates the database tables with all given links between them.

### Actual behavior
Error executing DDL creating tables
`

[2021-04-21 08:57] eichstaedtk opened #16676 "Nullpointer create Schema if entity based on interface"
If the graphql entity is based on an interface you wil get an Nullpointer during quarkus startup.

Caused by: java.lang.NullPointerException
	at io.smallrye.graphql.schema.creator.ReferenceCreator.createReference(ReferenceCreator.java:201)
	at io.smallrye.graphql.schema.creator.ReferenceCreator.getReference(ReferenceCreator.java:314)
	at io.smallrye.graphql.schema.creator.ReferenceCreator.createRe

[2021-04-21 08:58] sberyozkin commented on #16656
@michalszynkiewicz

`main`

+1

[2021-04-21 09:19] loicmathieu commented on #6506
Can you try with Spock 2.0-M5 that is based on JUnit5 as Quarkus has support for JUnit5.

[2021-04-21 09:20] loicmathieu commented on #4797
Can you try with Spock version 2.0-M5 that has support for JUnit5 ?

[2021-04-21 09:23] geoand commented on #16676
cc @phillip-kruger

[2021-04-21 09:27] phillip-kruger commented on #16676
Hi @eichstaedtk - Do you have a small reproducer I can look at ?

[2021-04-21 09:34] holomekc opened #16677 "hibernate-reactive NullPointerException in case quarkus log level is set to debug and sql logging is enabled"
## Describe the bug
When quarkus.log.level=DEBUG and quarkus.hibernate-orm.log.sql=true
an NullPointerException occurs on HTTP request:

[code]
### Expected behavior
Logging should not prevent application from running

### Actual behavior
Logging prevents application from running

## To Reproduce
Setup configuration and check Stacktrace above

### Configuration
[code]

### Screenshots
-

## Additi

[2021-04-21 09:38] holomekc commented on #16677
In fact it seems to be enough to set logging to debug. sql logging can be disabled.

[2021-04-21 09:42] Sanne commented on #16677
many thanks @holomekc !

[2021-04-21 09:46] holomekc commented on #16640
It looks like that even more properties are not updated in hibernate-reactive to the same state as it exists in hibernate-orm. I am not really sure if I understand the configuration setup though. Are there some configuration which is shared? It is quite hard to understand which configuration should also work in hibernate-reactive.

[2021-04-21 10:11] FroMage commented on #16437
Thanks a lot. This allows me to move further.

Now I run into this weird thing:

[code]

When I'm doing this:

[code]

In other injection points, I do get the proper mock `Session` since the test passes. But apparently, the version injected in the test is not the mock.

I'm pretty sure https://quarkus.io/guides/getting-started-testing#quarkus_mock says this should work, no @geoand ?

[2021-04-21 10:24] iriikoad opened #16681 "Property "quarkus.class-loading.reloadable-artifacts" creates "ClassNotFoundException" in Arc"
Update:
This property creates a ClassNotFoundException in arc when we wants to inject instances of CDI beans of this library.

Example: I want to inject all classes that implements a "NewServiceInterface" defined in the "libx" in my REST class of the app:

@Path("/hello")
public class GreetingResource {

    @Inject
    Instance<NewServiceInterface> services;
    @GET
    @Produces(MediaType.TEXT_

[2021-04-21 10:27] #13205 closed

[2021-04-21 10:28] wtrocki opened #16682 "ServiceBinding for Kafka should not use localhost values if no bindings are present and fail fast when starting with invalid values"
## Describe the bug

The typical approach for Kubernetes is to fail fast. If there is Kubernetes service binding plugin used proper behavior would
be to look for the values and if they are not present fail application fast.

This way application can stop etc. Currently app will try to connect to localhost (which is due to values being undefined).
My take is that I would love this to be consistent

[2021-04-21 10:29] wtrocki commented on #16682
This is minor fix. I would love to contribute it based on agreement

[2021-04-21 10:34] geoand commented on #16682
Fine with me, but ultimately it's up to @cescoffier to decide the desired behavior

[2021-04-21 10:47] geoand commented on #16437
@FroMage you are verifying the session when you should verifying the mock :)

Something like:

[code]

[2021-04-21 10:51] Sanne commented on #16640
That is a very fair point. Yes the hibernate-reactive extension has been built as a POC extending the "traditional" Hibernate ORM extension, which implies it inherits all its configuration properties - and some other logic which it doesn't really need or use yet.

We'll be separating it soon in fully independent extensions, that should help to clarify which properties are actually available for us

[2021-04-21 10:58] sberyozkin commented on #16523
Thanks, PR is on the way :-)

[2021-04-21 11:14] radcortez commented on #14847
@hrstoyanov this will be fixed with https://github.com/smallrye/smallrye-config/pull/550.

[2021-04-21 11:58] gsmet commented on #16651
but doesn't it make your keystore publically accessible?

[2021-04-21 12:00] gsmet commented on #16651
I added some details here: https://github.com/quarkusio/quarkus/pull/16687

[2021-04-21 12:10] gwenneg commented on #15131
I have the same problem but without Panache. Running a query using `Mutiny.Session` from a `@Test` method fails in IntelliJ 2021.1 with Quarkus 1.13.2.Final. Everything's fine if the test is run without IntelliJ.

[2021-04-21 12:12] radcortez commented on #14330
All additional configuration formats will be supported by https://github.com/quarkiverse/quarkus-config-extensions. I've created https://github.com/quarkiverse/quarkus-config-extensions/issues/6 to track this and we will follow from there.

[2021-04-21 12:12] #14330 closed

[2021-04-21 12:19] FroMage commented on #16437
But… the docs I pointed to indicate that even in the test, the `@Inject` instance should result in the mock instance, no? I don't see how it can mean anything else…

[2021-04-21 12:29] mkouba commented on #16681
@iriikoad We would need a full stack trace and ideally a reproducer app too...

[2021-04-21 12:35] mkouba commented on #16437
I don't think you can use `Mockito.verify()` together with an injected bean; and the docs do not claim it is possible - simple asserts are used there.

[2021-04-21 12:37] #16656 closed

[2021-04-21 12:40] FroMage commented on #16437
OOOOOOOHHH OK. So… OK. So what happens is that `@Inject` doesn't get us the mock instance, but a CDI proxy to the mock instance, right?

And even though you can call the methods of both the mock instance and the proxy to the mock, in order to get mock responses, you can actually only call `verify` on the mock instance.

OK. That's a subtlety that I'll add to the guide, because that's quite a fine

[2021-04-21 12:40] FroMage commented on #16437
But thanks for your explanation!

[2021-04-21 12:53] kenfinnigan commented on #16406
Thanks for the details.

The big issue is that RESTEasy Classic, via the JAX-RS spec, is *too* lenient in terms of the translation of `@Path` content.

[2021-04-21 13:06] shawkins opened #16690 "There's no way of marking an env configmap or secret as optional"
## Description
When using a list property https://quarkus.io/guides/deploying-to-kubernetes#environment-variables-from-secret to associate configmaps or secrets with the env using envFrom, they will always be marked as optional: false

[2021-04-21 13:11] #16540 closed

[2021-04-21 13:12] geoand commented on #16437
@FroMage exactly

[2021-04-21 13:12] FroMage commented on #16638
This is using Mutiny, so it's using Hibernate Reactive from a worker thread, which isn't supported. Can you try putting `Panache.withTransction()` around your calls?

[code]

[2021-04-21 13:21] shawkins commented on #16690
As a workaround you can use the src/main/kubernetes.yml fragment, instead of a config property:
[code]

[2021-04-21 13:22] geoand commented on #16690
cc @iocanel @metacosm

[2021-04-21 13:27] gsmet opened #16691 "Unable to release due to javadoc error in Hibernate ORM Panache Kotlin module"
I have no idea if it's the only module being problematic so the person fixing that should:
- mvn clean install -Dquickly everything
- run `mvn javadoc:javadoc` and iterate with `-rf` because generating javadoc is slow (you should be able to start from `mvn javadoc:javadoc -rf :quarkus-hibernate-orm-panache-kotlin` if you're using the latest main)
[code]

[2021-04-21 13:28] Sanne commented on #14709
@FroMage please see `org.hibernate.reactive.common.InternalStateAssertions` : it expects a system property to be set to enable the assertions that Davide is mentioning.

I had hopes to enable these assertions by default, but I wasn't able to do so as it would break Panache apparently. That's precisely the issue I asked you about some months ago, but then you had been drafted to work on other thing

[2021-04-21 13:29] Sanne commented on #14709
BTW the system property is set for the integration tests using Hibernate Reactive which don't use Panache; see:
 - integration-tests/hibernate-reactive-postgresql/pom.xml
 - integration-tests/hibernate-reactive-db2/pom.xml
 - integration-tests/hibernate-reactive-mysql/pom.xml
 -

[2021-04-21 13:33] metacosm commented on #16690
Indeed. We could add a configuration option to make the property as optional. I guess we just didn't see the need to it initial since, presumably, when you want to import values, well, you want to import them so they need to be there. 😄
Out of curiosity, could you elaborate on a scenario where you'd need to make that optional? (Not that this impact this feature request in any way, I just want to b

[2021-04-21 13:36] FroMage commented on #14709
Well, it's not just setting up the assertion checks, right? If we want to make this work transparently for Panache, we need to start switching to the right thread behind the scenes if required, right?

[2021-04-21 13:45] shawkins commented on #16690
We are looking at the best way to update the logging configuration at runtime - the configmap where these override values comes from need not exist.  We need to have the initial values picked up as configuration in some way - it doesn't have to be environment variables, but while looking at that, I saw the property path doesn't allow setting optional true.

[2021-04-21 13:45] renegrob commented on #15720
Having multiple resources does not necessary mean that you need XA transactions. But in that case you probably need to control the transactions of those resources separately. This is something that JEE never really addressed - although widely used outside the JEE context. For instance you commit the consumed message after you updated (and committed to) the database accordingly.

[2021-04-21 13:46] deepankarmalhan commented on #15825
Has this fixed been released? I'm running into the same issue.

[2021-04-21 13:58] matejvasek commented on #14454
@sshaaf has this been fixed by your PRs?

[2021-04-21 13:59] matejvasek commented on #14448
@patriot1burke has this been fixed?

[2021-04-21 14:03] matejvasek commented on #12638
@patriot1burke I think this can be closed.

[2021-04-21 14:04] matejvasek commented on #8222
@patriot1burke I think this can be closed.

[2021-04-21 14:07] Sanne commented on #14709
@FroMage right, I need you to patch Panache Reactive to run things on the right thread. Enabling the assertions should help you to verify being on the right track - and when you're done I'll patch Hibernate Reactive to enable the assertions by default.

What we need is all Quarkus integration tests (including those using Panache) to be able to pass with those assertions enabled.

cc/ @DavideD @gav

[2021-04-21 14:20] loicmathieu commented on #15825
@deepankarmalhan this has been fixed on Quarkus 1.13, wich version are you running on?

[2021-04-21 14:23] Sanne commented on #16437
Interesting, but this is rather tricky for end users. Couldn't the CDI proxy be made to work with `verify` as well? That would surely be more user friendly.

[2021-04-21 14:29] geoand commented on #16437
I personally don't think it's tricky - it's just how mockito works.
If you want to able to do that sort of thing, you would likely use Quarkus' `@InjectMock`

[2021-04-21 14:35] famod commented on #16437
Or resort to `io.quarkus.arc.ClientProxy.arc_contextualInstance()` or `io.quarkus.arc.runtime.ClientProxyUnwrapper`?

Got that from here: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Unproxy.20.40RequestScoped.20bean/near/219501112

[2021-04-21 14:48] deepankarmalhan commented on #15825
Running on 1.12, upgrading to 1.13 right now since I saw the milestone tags on this issue. I can report back if the issue still exists.

[2021-04-21 14:50] iocanel commented on #15943
@Sgitario: I feel that the expectation is a little bit off.
The property `quarkus.openshift.arguments` was never meant to append, but replace the arguments.

From my POV this is the only way we can provide full customizability and I wouldn't want to change it, as it would be really limiting for other use cases.

Something that would possibly address your needs is introducing an additional property

[2021-04-21 14:51] mcsweeneyjm opened #16694 "Quarkus MTLS auth SecurityIdentity empty if `quarkus.http.ssl.client-auth` is loaded from a profile"
## Describe the bug
When attempting to do MTLS auth in Quarkus, the `SecurityIdentity` does not have the certificate information if I have the `quarkus.http.ssl.client-auth:request` property in a profile in `application.properties`. If I move this property out to the top-level outside of a profile, the certificate will load. I'm also testing this in Docker, so that might be relevant as well.

###

[2021-04-21 14:54] #16662 closed

[2021-04-21 15:22] sshaaf commented on #14454
yes they should be

[2021-04-21 15:22] jclingan commented on #14051
Any update?

[2021-04-21 15:35] FroMage commented on #16437
Huh, so perhaps I used the wrong approach in my test?

[2021-04-21 15:59] yurake commented on #12324
I have the issue solved, when I upgrade Quarkus version 1.8.1-Final to 1.13.2.Final.
In Quarkus 1.12 released, Fast jar is as default, I guess target Dockerfile was changed.

[code]

[2021-04-21 16:24] deepankarmalhan commented on #15825
Updating to `1.13.2.Final` worked. Thanks!

[2021-04-21 16:42] geoand commented on #16437
What is you exact goal?

[2021-04-21 16:48] Sanne commented on #16660
hi @ivanjunckes ! I've had a look at your reproducer.

There's a couple mistakes:

1. You need to enable statistics `quarkus.hibernate-orm.statistics=true`
2. On the `Statistics` object, use `getQueryExecutionCount()` and `getQueryCacheHitCount`. Query Cache is not the same as entity cache.
3. It can't use the actual query cache as you have uncommitted changes pending in the current transaction; t

[2021-04-21 16:48] #16660 closed

[2021-04-21 16:48] sberyozkin commented on #16694
@mcsweeneyjm Thanks, based at what you said in the Zulip thread I'm assuming for now it is a configuration issue (i.e it works if it is a top level property). CC @radcortez

[2021-04-21 16:53] Sanne commented on #16437
Sure but isn't that always the answer :)  "There's a memory leak X" --> "That's just how this works" :-P

What I'm suggesting is that it's not obvious to users that when they inject an object they get a proxy. And sure they're mocking here so a proxy is expected, but I guess that having a proxy of a proxy isn't the general expectation.

But I'm entirely out of my field of comfort, so no idea if it

[2021-04-21 17:15] sberyozkin opened #16697 "Enhance TestSecurity OIDC module to support the injection of UserInfo and OidcConfigurationMetadata"
## Description
`OidcConfigurationMetadata` can be initialized from `quarkus.oidc.jwk-path`, etc
`UserInfo` from a security attribute with a `userinfo.` prefix

[2021-04-21 17:15] geoand commented on #16437
Sure, making users lives easier is what we strive to do.
That is what `@InjectMock` does

[2021-04-21 17:17] jfrantzius opened #16698 "Cannot enable Swagger UI via Quarkus profile"
## Describe the bug
The property `quarkus.swagger-ui.always-include` is a build time property, and so it should be possible to set `quarkus.swagger-ui.always-include=true` via Quarkus profiles, i.e. define it per profile in `application.properties`. When I try this and then successfully activate the profile at runtime, Quarkus still says "RESTEASY003210: Could not find resource for full path: http

[2021-04-21 17:24] radcortez commented on #16652
@max-grigoriev please use `@ConfigMapping` instead, which works (I've tested it with your reproducer). The only difference is that it only supports interfaces. For more information check here: https://smallrye.io/docs/smallrye-config/main/mapping/mapping.html

In the meanwhile I'll look into the `@ConfigProperties` issue, but at some point we are going to deprecate it in favour of `@ConfigMapping`

[2021-04-21 17:32] metacosm commented on #16690
An option could be to add `optional-secrets`, `optional-configmaps` and `optionally-mapping` configuration entries to generate optional versions of the mappings. What do you think, @shawkins @geoand @iocanel ?

[2021-04-21 17:43] patriot1burke commented on #16647
This is a good workaround for now.   Additionally we'd need to make this Principal available using standard mechanisms for obtaining it (i.e. the SecurityContext interface JAX-RS has).

[2021-04-21 17:51] sshaaf commented on #14454
Closing issue, PRs have the fix

[2021-04-21 17:51] #14454 closed

[2021-04-21 17:53] patriot1burke commented on #15562
Modify the manage.sh file generated.  You'll see that create-function invoke hardcodes the memory size to 256

[2021-04-21 17:54] #15562 closed

[2021-04-21 17:58] #12362 closed

[2021-04-21 18:03] Sgitario commented on #15943
Sure, I never meant to change the behaviour of the `quarkus.openshift.arguments`. However, having a new property would potentially help users that require to provide additional arguments.
Being said that, I don't have a strong need of having this feature.

[2021-04-21 18:14] geoand commented on #15943
👍

Let's keep this open as an enhancement request

[2021-04-21 18:16] sebthom commented on #16662
@gsmet thanks for the quick fix! do you think this can make it into 1.13.3 or 1.14?

[2021-04-21 18:17] geoand commented on #16690
I'm fine with it

[2021-04-21 18:22] Christopher-Chianelli opened #16699 "Dev UI does not use embedded.html when extension module is in same project as application"
## Describe the bug
When a Quarkus app is in the same project as a local extension, the extension's embedded.html will be ignored in Dev UI

### Expected behavior
The extension's embedded.html will be shown in Dev UI

### Actual behavior
The extension's embedded.html is not shown in Dev UI

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific)

[2021-04-21 18:22] gsmet commented on #16662
Yes, it will be backported.

[2021-04-21 18:22] shawkins commented on #16690
If I understand you correctly, that would look like:

quarkus.kubernetes.env.optional-secrets=x,y,z

quarkus.kubernetes.env.optional-configmaps=a,b,c

quarkus.kubernetes.env.mapping.foo.optional=true

Yes, I'm fine with that.

[2021-04-21 18:26] metacosm commented on #16690
Yes for the first two. No for the 3rd one, though that could be an option as well. I was thinking more about `quarkus.kubernetes.env.optionally-mapping.foo.[with-key|from-configmap|from-secret]` but we certainly could go with `quarkus.kubernetes.env.mapping.foo.optionally=true` (to keep the "fluency").

[2021-04-21 18:27] geoand commented on #14051
Not yet.

I hope to rebase the Spring Web support on RESTEasy Reactive some time before 2.x

[2021-04-21 18:44] laurentperez opened #16700 "JPA security : allow @UserDefinition to work with multitenant datasource"
## Description

Hi, posting as enhancement but this may be a bug or missing feature.
We're are using quarkus.hibernate-orm.multitenant=DATABASE. Our custom TenantResolver or TenantConnectionResolver implementations work fine, in a @RequestScoped resolving tenant

However, we're facing a problem with JPA, https://quarkus.io/guides/security-jpa . A `io.quarkus.security.jpa.UserDefinition` is needed

[2021-04-21 18:47] spbolton commented on #16577
I think this is related to a bug and pull request I have pushed to resteasy .  The Parameter annotations are being ignored when using Uni https://issues.redhat.com/browse/RESTEASY-2872

[2021-04-21 18:51] spbolton commented on #16577
My issue was with the regular original REST client when using Uni not the new reactive client,  not sure if this is still using the same code I fixed in the base Resteasy code.

[2021-04-21 18:54] typelean commented on #9123
I just recently had this issue and figured out the problems and cleaned up all cases of connections that were opened during transactions... it is not just forgetting to close connections or prepared statements or regular statements or results/row-sets... it is quite difficult if the code is complex... but end of the day... the "acquisition timeout" issue resolved when all the code was fixed.  It w

[2021-04-21 19:13] hrstoyanov commented on #14847
Thanks @radcortez , will test as soon as itis available in the maven repo!

[2021-04-21 19:20] machi1990 opened #16701 "Being able to pause/resume a specific scheduled method"
## Description
The scheduler can be paused and resumed globally, it will be nice to programatically allow pausing/resuming a specific scheduled method.

A workaround for now is for someone to not execute the main logic of the scheduled method based on the said condition.

[2021-04-21 19:29] michalszynkiewicz commented on #16577
@spbolton thanks for adding a comment that might be useful :)
In this case, the underlying code is completely separate. The fix is awaiting review and should be in Quarkus 2.0 (who knows, maybe even next 1.3.x)

[2021-04-21 19:59] geoand commented on #14720
Yes, I can confirm that this is the intended behavior.

The problem is that because `Response` is not a generic type, RESTEasy Reactive can't know what Java type is being used for the payload at build time

[2021-04-21 19:59] cssovs commented on #16638
@FroMage i'll try

[2021-04-21 20:00] michalszynkiewicz opened #16702 "Rest Client Reactive - Filters not executed for non-successful return codes"
CC @geoand I will try to attach a minimal reproducer tomorrow

[2021-04-21 20:01] geoand commented on #16702
That would be great, thanks

[2021-04-21 20:02] gsmet commented on #14720
@geoand I wonder if we should introduce a typed version of Response in RESTEasy Reactive with a proper type argument. It wouldn't be as flexible as you would define the type but I think it could work in a lot of cases.

[2021-04-21 20:03] geoand commented on #14720
Yes we have thought about it. If I am not mistaken, @FroMage had a branch with that

[2021-04-21 20:24] sberyozkin commented on #16700
CC @gsmet @FroMage

[2021-04-21 20:38] jfrantzius commented on #13850
We're seeing the same problem on Azure Kubernetes Service (AKS).
@jclingan you mentioned a workaround by using a PVC, do you refer to mounting it as `/work/dev`? Or what do you mean by "running the code from that volume"?

[2021-04-21 21:09] cssovs commented on #16638
This is the change,

[code]

[code]

and it is giving the below error

[code]

[2021-04-21 21:28] Marcus-Biel-idnow commented on #16697
go go go :)

[2021-04-21 21:50] spbolton commented on #8543
I got stuck on this recently and traced through to the issue.   I did create a workaround by overriding the UniProvider and set the correct AsyncInterceptorRxInvoker.  Looks like the fix may be now backported to 4.5.10 .

[code]

[2021-04-21 23:21] nicolas-vivot commented on #16234
@fiorenzino I invited you to a private repository so that you have access to the extension code.

Feel free to report an problem you have directly there.

Note: i've seen you're interested in the log correlation. The extension is using the json logging extension and this one output the MDC context as a sub objected called 'mdc' in logs. So you'll have to create a TraceId re-mapper rules in your da

[2021-04-22 03:18] sciack commented on #6631
Sorry I was pulled in different things for  a lot and I missed the notification, will try and give you a feedback.

[2021-04-22 03:27] suzihao commented on #16225
I use m1 macbook air,encountered the same problem as you.but I use windows build native image with docker successed. Even the
docker for m1 official version is like this.

[2021-04-22 04:07] mutasemhidmi commented on #16225
@suzihao any idea where is the problem coming from?  At first, I thought that it's coming from the image because its type is amd64.

[2021-04-22 05:10] Sgitario commented on #16651
The new details in the PR are sufficient for my point of view to resolve this issue. Thanks for looking into this!

[2021-04-22 05:23] fmcejudo commented on #8834
Build fixed:
* Link to latest CI run: https://github.com/fmcejudo/quarkus-eureka/actions/runs/773032693

[2021-04-22 05:23] #8834 closed

[2021-04-22 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/773032125

[2021-04-22 05:28] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/773033408

[2021-04-22 05:31] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/773033222

[2021-04-22 05:34] tpenakov commented on #15562
It is the memory size of lambda? If I am right It does nothing to do with capping the memory of the application. If this option is not present there is a chance GC never to get called and the application to consume the entire host memory

[2021-04-22 05:39] suzihao commented on #16225
@mutasemhidmi Completely clueless，I had to use the windows

[2021-04-22 05:44] eichstaedtk commented on #16676
@phillip-kruger Unfortunately not because it is an internal project. But what I examined is that as soon as the GraphQL Entity contains a method like this you can reproduce the issue. The only way you get thsi up and running if you use @Ignore for the method.

public Map<String, String> getContextMap() {
    return contextMap;
  }

Can you fix this issue because I saw that the check for interfaces

[2021-04-22 06:17] jamesnetherton commented on #8593
@ppalaga this nightly build is never going to pass until camel-quarkus has a release that's compatible with the latest work on the Quarkus `main` branch. Since you've been looking into that, maybe you can disable the problematic tests if you know which ones they are?

[2021-04-22 06:35] phillip-kruger commented on #16676
Ok, so the issue here is then Map (rather than interface). We support interfaces, however Map is not supported in GraphQL.
See https://github.com/graphql/graphql-spec/issues/101
See https://graphql.org/learn/schema/

You can create an Object (Let's call is KeyValuePair) that has two fields (String key and String value) and have a list of those.

Closing here as this is not supported in GraphQL (in

[2021-04-22 06:35] #16676 closed

[2021-04-22 07:01] mkouba commented on #16701
Hm, we should be able to reuse the `@Scheduled.identity()` to identify a specific method...

[2021-04-22 07:02] mkouba commented on #16701
BTW it would be also nice to implement pause/resume per job in the Dev UI ;-)

[2021-04-22 07:05] machi1990 commented on #16701
Yes, I was thinking the same. What about jobs that do not have `identity`? I was thinking of not giving making it possible to pause/resume them if no identity is given by the user. Or otherwise, use the combination of `ClassName#methodName` and retrieve the generated combination.

Would also be good to make this work for the Quartz extension too.

[2021-04-22 07:08] maxandersen opened #16710 "have generate-config etc. provide better info/context"
## Description

originally from https://issues.redhat.com/browse/QUARKUS-878:

While performing ./mvnw quarkus:generate-config command there is no clear output of what it has done. (it creates application.properties.example under the src/main/resources)

For example, while performing ./mvnw quarkus:add-extension it generates the clear output for the user what it has done (Extension <extension_name

[2021-04-22 07:12] aloubyansky commented on #11563
The failure is consequence of the changes related to the continuous testing feature recently added in the Quarkus main branch. The issue could be fixed by calling `QuarkusUnitTest.setFlatClassPath(true)`. Although, we should probably look into this more on the Quarkus side.

[2021-04-22 07:14] michalszynkiewicz commented on #16702
AFAIR the MicroProfile TCK tests this by returning an erroneous response from a filter, maybe JAX-RS one does it this way too?

[2021-04-22 07:20] mkouba commented on #16701
`ClassName#methodName` is not necessarily unique. We should also keep in mind that `@Scheduled` is repeatable. In theory, we could expose the list of scheduled methods, i.e. something like `io.quarkus.scheduler.runtime.SchedulerContext.getScheduledMethods()` through the public API. But in general, an explicit identity should be used to pause/resume the job.

+1 The impl should be straightforward -

[2021-04-22 07:25] geoand commented on #16702
Not sure TBH.

BTW, reading https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/reactive.20server.20.26.20client it seems like that issue was about `ExceptionMapper` classes, but this issue is about ClientResponseFilters. Is that intentional?

[2021-04-22 07:35] phillip-kruger commented on #16698
Hi @jfrantzius

As you notes, that property is a build time property, so when you "change" it, to take effect you will to rebuild. So step 3 and 4 needs to switch around.

1.     Download and unpack swagger-ui.zip
2.     verify that reproducer contains swagger-ui by running mvn compile quarkus:dev and opening http://localhost:8080/q/swagger-ui/
4.     export QUARKUS_PROFILE=dev-environment
3.

[2021-04-22 07:42] glefloch commented on #12111
@aloubyansky, @ia3andy the job fails with this error in `io.quarkus.devtools.testing.codestarts.QuarkusCodestartTestExtensionTest`:

    Caused by: io.quarkus.registry.RegistryResolutionException: Failed to resolve Quarkus extensions catalog io.quarkus:quarkus-bom-quarkus-platform-descriptor:json:999-SNAPSHOT:999-SNAPSHOT

should we add a dependency to `io.quarkus:quarkus-bom-quarkus-platform-desc

[2021-04-22 07:46] aloubyansky commented on #12111
Ah, that's a problem. We can't add a dependency on the platform artifact in independent-projects. The tests that need it should move to the `integration-tests`.

[2021-04-22 07:49] kimhyeongjun opened #16712 "hibernate-reactive NullpointException in case Quarkus log in set to debug"
## Describe the bug
hibernate-reactive NullpointException
When I set the log level to debug and run it, a nullpointexception occurs and the application does not work properly.

### Configuration
[code]

### Screenshots
16:35:55 ERROR [io.qu.ru.Application] (Quarkus Main Thread) Failed to start application (with profile dev): java.lang.NullPointerException
	at org.hibernate.reactive.persister.colle

[2021-04-22 07:51] glefloch commented on #12111
Ok, taking care of it.

[2021-04-22 07:51] geoand commented on #16702
Ah, now I see how it works.

So basically the rest-client engages `ResponseExceptionMapper` by implementing a `ClientResponseFilter`, so the problem is actually that `ClientResponseFilter` is not executed when an exception is thrown.

[2021-04-22 08:09] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/773040112

[2021-04-22 08:13] ppalaga opened #16713 "Arc regression on 2.0: It's not possible to add a synthetic constructor with no parameters to the unproxyable return type of PRODUCER METHOD bean"
With a CDI producer method like the following

[code]
I am getting the following exception after we have upgraded to Quarkus 2.0.0.Alpha1:

[code]

It used to work with Quarkus 1.x.

## Steps to reproduce:

It happens in Camel Quarkus Minio test https://github.com/apache/camel-quarkus/tree/camel-main/integration-tests/minio
in `camel-main` branch where we upgraded to Quarkus 2.0. The branch depend

[2021-04-22 08:19] michalszynkiewicz commented on #16702
Running the test from the [example project](https://github.com/quarkusio/quarkus/files/6356676/wrong-status-code-causes-filter-skip-example.zip) you can see that the `ClientResponseCompleteRestHandler` is throwing an exception.

I think the exception could be thrown later, in `ClientResponseCompleteRestHandler` and not in `ClientSetResponseEntityRestHandler` if the status code is wrong.
Or maybe w

[2021-04-22 08:20] michalszynkiewicz commented on #16702
changing how rest client reactive handles `ResponseExceptionMapper` is also an option :)

[2021-04-22 08:24] jfrantzius commented on #16698
Thanks a lot @phillip-kruger , `quarkus.swagger-ui.enable` does the trick for me, I wasn't aware of that flag. It seems that the documentation for it may be wrong, or behaviour may not be as expected, though:

I did set `quarkus.swagger-ui.always-include=true`, but have to additionally set `quarkus.swagger-ui.enable=true`  in order for it to work (when not running in dev mode).

[2021-04-22 08:28] #16698 closed

[2021-04-22 08:30] geoand commented on #16702
I'll look at it more closely either later on today or tomorrow

On Thu, Apr 22, 2021, 11:20 Michał Szynkiewicz ***@***.***>
wrote:

[2021-04-22 08:33] manovotn commented on #16713
I did a quick scan of what the producer looks like and what are the types of the bean and it looks exactly like a test we have in Quarkus that is supposed to fail.
See this - https://github.com/quarkusio/quarkus/blob/main/extensions/arc/deployment/src/test/java/io/quarkus/arc/test/unproxyable/ProducerFailedToAddMissingNoargsConstructorTest.java

And in your commit upgrading Quarkus, you also chang

[2021-04-22 08:35] mkouba commented on #16699
It seems that Dev UI only considers templates located in jar files: https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsoleProcessor.java#L585

In this particular case, the URL points to a directory, .e.g. the `file://` protocol is used.

[2021-04-22 08:39] mkouba commented on #16713
Matej is right, we don't generate the no-args constructor automatically if the produced class extends a class that does not have a no-args constructor. It's documented here: https://quarkus.io/guides/cdi-reference#simplified-constructor-injection. You should consider using the `@Singleton` scope.

[2021-04-22 08:40] machi1990 commented on #16701
Good point. I typed too fast, I mean to use the combination of classname and method to retrieve the generated unique ids. But I agree with you on using the explicit id for pausing and resuming.

+1.

This is a very good first issue for contribution. I'll label it as such so that any community contributor can pick it up.

[2021-04-22 08:42] machi1990 opened #16714 "Add DevServices for Redis extension"
## Description

Integrate the dev services feature for the redis extension

[2021-04-22 08:53] iocanel commented on #15943
A use case that was brought to my attention and slightly changed my perspective on this, is when an application is in need of arguments (e.g. a picoli app). Again, not the most common use case, but there is a clear distinction between kubernetes cmd/args and application args and that makes me less reluctant.

[2021-04-22 08:58] iriikoad commented on #16681
1-Compile le "libx" then "getting started" with mvn clean install
2-launch "getting-started" with mvn compile quarkus:dev
3-go to http://localhost:8080/hellocdi
You should have "2 services" displayed when it's working, but you'll get the exception
7d5-ac57-91ccb2c22bff-1: org.jboss.resteasy.spi.UnhandledException: java.lang.NoClassDefFoundError: org/acme/test/libx/NewServiceImpl
	at org.jboss.rest

[2021-04-22 09:13] eichstaedtk opened #16716 "JsonParsingException for Quarkus GraphQL Integration"
## Describe the bug
I wrote the following GraphQL Quarkus Integration using Resteasy:

 given()
        .when().contentType("application/json")
        .body("{\"query\": \"query {findACorporateBodyWithID(id:\"123\") {preferredName}}\"}")
        .post("/rest/graphql")
        .then()
        .statusCode(200)
        .body("data.findACorporateBodyWithID.preferredName", is("Staatsbibliothek zu Berl

[2021-04-22 09:13] bboyz269 opened #16717 "`j.u.ConcurrentModificationException` in `i.q.h.o.r.RequestScopedSessionHolder#getOrCreateSession`"
## Description
My use case is Hibernate ORM multi tenancy with multiple data sources, persistence units.
Reproducible steps as following:
1. A query executes on "tenant" data source.
2. `RequestScopedSessionHolder` put "tenant" session to its session map.
3. In `TenantResolver`, an other query executes on "admin" data source to resolve the tenant id.
[code]
4. `RequestScopedSessionHolder` put "adm

[2021-04-22 09:16] FroMage opened #16718 "RESTEasy Reactive: introduce `GenericResponse` type"
ATM the JAX-RS type `Response` is used to return more than just the entity, like for example setting headers or status code or cookies.

But given that it's not generic, we can't extract the type of the response entity from its presence, leading to issues with both scanning/inspection, as well as type-safety where a user can end up returning a response with an entity of the wrong type.

https://gi

[2021-04-22 09:17] FroMage commented on #14720
Yup. https://github.com/FroMage/quarkus/commit/bc744d9dfbb45a60dba411acbff93fb320e38df7 But it's really a POC. I think it would make for a good feature, though. And since it's the second time other people than me have mentioned it, it's probably time to open an issue for it: https://github.com/quarkusio/quarkus/issues/16718

[2021-04-22 09:17] ppalaga commented on #16713
Thanks for the explanation, @manovotn and @mkouba. As @Ladicek pointed out in the chat, this is caused by a change in Minio, not in Arc. Originally `MinioClient` extended `Object`, now it extends `S3Base` which has no default constructor.

I am sure it worked, but you are still right that our producer was broken. There is another producer class in Quarkiverse Minio https://github.com/quarkiverse/q

[2021-04-22 09:17] #16713 closed

[2021-04-22 09:17] phillip-kruger commented on #16716
Hi @eichstaedtk Can you share a small application that reproduce this ? Thanks

[2021-04-22 09:25] FroMage commented on #16700
Yeah, this is not supported ATM, IIRC we're loading the entity via the default session, and we should actually set the right PU in `JpaTrustedIdentityProvider` when we look up the `EntityManagerFactory`.

I'm not sure I'll have time to work on this soon, though, so if you're game for providing a PR, that could be faster :)

[2021-04-22 09:35] loicmathieu commented on #14159
No news from the reporter since more than two months, I'm closing it.
@imrabti if you find the time to try the proposed corrected code and the issue still occurs, please re-open it.

[2021-04-22 09:35] #14159 closed

[2021-04-22 09:37] famod commented on #16369
@loicmathieu thanks for that info! Closing...

[2021-04-22 09:37] #16369 closed

[2021-04-22 09:42] geoand commented on #15943
For a picocli style application to be useful, we would likely want to support Kubernetes Job or CronJob in addition to this

[2021-04-22 09:48] loicmathieu commented on #16399
@YunaBraska as the issue is not on Quarkus but on the MongoDB Java Driver can we close this issue ?

[2021-04-22 09:48] JapuDCret commented on #9677
Using Quarkus `1.12.2.Final` and Pact `4.2.4` this error is still present

[2021-04-22 09:58] ppalaga commented on #16713
I have submitted a fix to Quarkiverse Minio https://github.com/quarkusio/quarkus/issues/16713

[2021-04-22 10:22] loicmathieu commented on #15239
As the error exception said, you need to use a `Collection` and not a `List` for the dogs attribute.

[code]

But after this, there is a new issue with an incorrect SQL query sent to Postgres:

[code]

This may be an issue with DTO projection on Hibernate Reactive.

[2021-04-22 10:23] eichstaedtk commented on #16716
@phillip-kruger No Sorry that is an internal project. But what I found meanwhile is that if I remove the double quotes around und using the following JSON Body the server is responding with

given()
        .when().contentType("application/json; charset=UTF-8")
        .body("{ \"query\": \"{" +
            "  **findACorporateBodyWithID(id: 123)** {" +
            "    preferredName" +

[2021-04-22 10:26] phillip-kruger commented on #16716
You can test out the query using the graphql-ui and once you have it working use that in the test case

[2021-04-22 10:31] eichstaedtk commented on #16716
@phillip-kruger The query is ok using the graphql-ui but won't be accepted during test. I found that the query without the parameter id and using an DefaultValue on Server Side the test is running through.
 This is the resteasy command with which the test is running

given()
        .when().contentType("application/json; charset=UTF-8")
        .body("{ \"query\": \"{" +
            "  findACorpor

[2021-04-22 10:45] geoand commented on #16702
In https://github.com/geoand/quarkus/tree/%2316702 I made the `ClientResponseFilter` part of the abort handling chain, however the JAX-RS TCK did not pass (there was a test that failed with a NPE because it expected the HTTP status to be set).

Moreover, even with this change in place, the reproducer does not engage the `MyResponseExceptionMapper`.
So it looks like some other strategy will be need

[2021-04-22 10:45] #13754 closed

[2021-04-22 10:45] #13856 closed

[2021-04-22 11:00] max-grigoriev commented on #16652
@radcortez your solution works, thanks a lot.
P.S. it would be nice to have updated docs on the Quarkus website.

[2021-04-22 11:00] phillip-kruger commented on #16716
Should the quotes in query not be escaped ?

[2021-04-22 11:01] sberyozkin opened #16719 "Generated NamedOidcClient producers have different clients sharing the same Tokens State"
## Describe the bug
I've come across it while looking at the reactive OidcClient filter tests where an extension provider and custom filter both extend `AbstractTokensProducer` - this is not a problem for filters because they all use the same underlying OidcClient instance, but for the named clients case where we can have
[code]

with `client1` and `client2` pointing to for example different Keycl

[2021-04-22 11:02] mkouba commented on #16681
It seems that the [application class predicate](https://github.com/quarkusio/quarkus/blob/main/core/deployment/src/main/java/io/quarkus/deployment/dev/IsolatedDevModeMain.java#L376-L381) used during the build in the dev mode does not play well together with the `quarkus.class-loading.reloadable-artifacts` property.

@stuartwdouglas Do you think it would be safe to consider the `ConfiguredClassLoad

[2021-04-22 11:07] kshpak opened #16720 "Agrogal triggers testcontainer to start without JDBC datasource settled up"
## Describe the bug
Quarkus 1.13.2 Agrogal dependency runs testcontainer automatically without JDBC datasource settled up in application.properties file and without testcontainer resource defined.

### Expected behavior
A warning message is shown as in 1.11.6.Final version
WARN  [io.qua.agr.dep.AgroalProcessor] (build-42) The Agroal dependency is present but no JDBC datasources have been defined.

[2021-04-22 11:07] zakkak opened #16721 "[native] kafka integration tests fail to build with GraalVM 20.3"
## Describe the bug
The kafka integration tests fail to build with GraalVM 20.3

### Expected behavior
Tests should build

### Actual behavior
Tests fail to build with:
[code]

## To Reproduce

[code]

## Environment (please complete the following information):

| Key                          | Value

[2021-04-22 11:07] radcortez commented on #16652
Great! Yes, we are preparing an update for the Config Guide: https://github.com/quarkusio/quarkus/pull/16496

[2021-04-22 11:22] eichstaedtk commented on #16716
Yes but that makes no difference. The test failed with and without quotation. The only difference ist the error message.

[2021-04-22 11:24] stuartwdouglas commented on #16681
It definitely should be, the fact it is missing is a bug.

[2021-04-22 11:33] phillip-kruger commented on #16716
Ok, if you can create a small example app that reproduce this I can have a look. Thanks

[2021-04-22 11:44] sberyozkin commented on #16719
I think we should just remove `AtomicReferenceFieldUpdater` and use the local `AtomicReference<TokenRequestsState>`

[2021-04-22 11:50] sberyozkin commented on #16719
I'll need to update the named client tests to reproduce the problem and will open it as a draft PR

[2021-04-22 12:00] lthasle opened #16723 "resteasy-reactive doesn't trigger filters"
## Describe the bug
The RestEasy Reactive client core handler fails when a request is not successful and doesn't trigger filters

### Expected behavior
 filters triggered

### Actual behavior
filters not triggered

## To Reproduce
see:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/reactive.20server.20.26.20client/near/235506862

## Environment (please complete the following inf

[2021-04-22 12:10] kshpak commented on #16720
Affected by https://github.com/quarkusio/quarkus/pull/14960
Feature, but looks like a bug
Unnecessary overhead of docker container is added

[2021-04-22 12:19] FroMage commented on #15239
Yeah, that looks like an HR bug, no @DavideD @gavinking should I file an issue?

[2021-04-22 12:24] michalszynkiewicz commented on #16702
For unknown host, I agree, we should fail as we do now, I think.

I don't fully follow what happened in the jax-rs test, tried looking at it in the browser and it is **not** easy to follow :D

[2021-04-22 12:28] danielezonca commented on #16401
Kogito extension is already wrapping OpenApiTools codegen classes to avoid the usage of Maven plugin/CLI and producing the client. Then the source is compiled in memory and produced as `GeneratedBeanBuildItem` ([this class](https://github.com/kiegroup/kogito-runtimes/blob/master/kogito-codegen-modules/kogito-codegen-openapi/src/main/java/org/kie/kogito/codegen/openapi/client/generator/OpenApiClien

[2021-04-22 12:32] maxandersen commented on #15943
I think a "appargs" or similar property makes sense to add; but yes - don't see this as being openshift specific. Should be generally possible for wherever we configure the java/app launch for native and jvmmode.

[2021-04-22 12:32] gsmet commented on #16471
@flygarej I had a look at my local java.security file and I see the securerandom.source is already defined. Are we sure adding something at the bottom takes precedence?

[2021-04-22 12:33] DavideD commented on #15239
Yes @FroMage, please

[2021-04-22 12:39] joggeli34 opened #16725 "Oidc doesn't recover when auth-server was not avaliable at startup"
## Describe the bug

When runing quarkus with oidc enabled, the application starts even when the oidc-server is currently not avaliable. Each request to the api results in a error:

`io.quarkus.oidc.OIDCException: Tenant configuration has not been resolved
	at io.quarkus.oidc.runtime.OidcAuthenticationMechanism.resolve(OidcAuthenticationMechanism.java:61)
	at io.quarkus.oidc.runtime.OidcAuthentica

[2021-04-22 12:43] gsmet commented on #16471
I created https://github.com/quarkusio/quarkus/pull/16726 to address this.

[2021-04-22 12:49] ricardozanini commented on #16401
It's possible. And I can work on a Quarkus Extension for OpenApiClient. :)

[2021-04-22 12:54] matejvasek commented on #12638
@maschmid can this be closed?

[2021-04-22 12:54] geoand commented on #16702
The spec isn't clear on whether or not `ClientResponseFilter` should be executed when there is an exception or not and the NPE in failing test isn't exactly indicative.

Does the old rest-client depend on this behavior?

[2021-04-22 13:14] flygarej commented on #16471
Just tested, and I can confirm that the last line takes precedence, given that the override property = true and set before the additional line.

#
# **Determines whether this properties file can be appended to**
# or overridden on the command line via -Djava.security.properties
#
security.overridePropertiesFile=true

[2021-04-22 13:15] sberyozkin commented on #16725
@joggeli34 Is it running in the dev mode ? A test is available confirming it recovers in the dev mode

[2021-04-22 13:18] sberyozkin commented on #16725
Keeping a timer in a production mode is expensive - especially in a multi-tenant case. If it is not a dev mode then you should use a `connect-delay` property

[2021-04-22 13:19] michalszynkiewicz commented on #16702
Classic RestEasy used a `ClientResponseFilter` for exception mapping:
https://github.com/resteasy/Resteasy/blob/main/resteasy-client-microprofile-base/src/main/java/org/jboss/resteasy/microprofile/client/ExceptionMapping.java

Does this answer your question?

[2021-04-22 13:23] sberyozkin opened #16728 "Provide a fluent API to set up Quarkus Security"
## Description

Hantsy Bai has linked to the following Spring Security example:
[code]

While we can do with combining HttpAuthenticationMechanism/IdentityProvider and [configuration](https://quarkus.io/guides/security-authorization), supporting something similar to the above in Quarkus can be of interest

Also CC @stuartwdouglas

[2021-04-22 13:27] geoand commented on #16702
OK, I guess then that I'll just disable the failing TCK test and open a PR.
But like I said, it won't be enough to fix the original problem, as it seems like the new rest-client does not register `MyResponseExceptionMapper`

[2021-04-22 13:27] geoand commented on #16723
Thanks for reporting!

We opened an issue in the meantime (https://github.com/quarkusio/quarkus/issues/16702) so let's close this one as a duplicate

[2021-04-22 13:27] #16723 closed

[2021-04-22 13:28] axblu commented on #11045
Hi, any progress on this? We would be interested in an extension for Cucumber in Quarkus.

[2021-04-22 13:29] michalszynkiewicz commented on #16702
have you checked with the project I attached or the one the reporter provided? The latter was missing `@RegisterProvider(...)` on the client side IIRC

[2021-04-22 13:31] hantsy opened #16729 "Secure methods annoations with EL support"
## Description

Currently, Quarkus provides a  `@Authenticated` to ensure the current user is logged in.

And also allow user uses the Jakarta EE security annotations, such as `@RolesAllow` etc to protect, but it is not flexible.

## Implementation ideas

Spring provides `@PreAuthorized` and `@PostAuthorized` to allow user evaluate the security context via EL and method parameters and result(`@Pos

[2021-04-22 13:32] geoand commented on #16702
Yes, I enabled that and still the mapper never seems to be engaged

[2021-04-22 13:39] hantsy opened #16730 "Add fluent APIs to secure route path via pattern matchers"
## Description

Currently, Quarkus supports the declaration of HTTP API protections via *application.properties*. But it is not flexible.

## Implementation ideas

I remembered JBoss PicketLink projects has some similar `Configuration` CDI beans to archive this purpose.(ported from Seam2/Seam 3).

Spring has great support in this domain. https://github.com/hantsy/spring-webmvc-auth0-sample/blob/ma

[2021-04-22 13:40] hantsy commented on #16730
Duplicated with #16728

[2021-04-22 13:40] #16730 closed

[2021-04-22 13:45] geoand commented on #16702
Here it is: https://github.com/quarkusio/quarkus/pull/16731

[2021-04-22 13:45] hantsy commented on #16728
Found in the old PicketLink docucmentation, https://docs.jboss.org/picketlink/2/latest/reference/html-single/, there are some work like this.

[code]

[2021-04-22 14:17] jonathanroques commented on #13655
@drissamri Don't you have issues when deploying on different stages ?
For instance my Path is /deals then if I'm deploying on `"dev"` stage the path will be :  .../dev/deals but then I have this error: `RESTEASY003210: Could not find resource for full path:  ..../dev/deals`

[2021-04-22 14:28] joggeli34 commented on #16725
It happens in dev mode and in production.

I don't understand the `quarkus.oidc.connection-delay` property exactly. Would this help to recover or just delaying the requests as long as defined there when no auth-server is avaliable? So when setting the value to 20s, but the auth-server is avaliable after 1min it doesn't recover?

[2021-04-22 14:34] mkouba commented on #16681
Ok, I'll send a PR then...

[2021-04-22 14:43] sberyozkin commented on #16725
OK, I see - no, as I said no timer is allocated to keep pinging the OIDC server until it may come up. I expect that in production OIDC server is already running - so we are really talking about a test/dev scenario where it may not have started just yet - so yes - if you set this property to 20 sec then it will miss if it will start after 1 min so set to 2 mins.

[2021-04-22 15:02] joggeli34 commented on #16725
Ok, now I understand. Thanks.
We will handle it now with livenessProbes and the `quarkus.oidc.connection-delay`, so that the application gets restarted when the liveness is not reached after the same amount of time as the connection-delay.

Normally our OIDC-server (keycloak) is already running, but we had a major issue which triggered the whole cluster to reboot...

Would it be an idea that quark

[2021-04-22 15:11] anthony-quiros opened #16732 "Native build failing when using undertow"
## Describe the bug
Getting error when packaging in native:
[code]
### Configuration
[code]

### Screenshots

## Environment (please complete the following information):

### Output of `uname -a` or `ver`
Darwin MacBook-Pro-xxxxx.local 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64 x86_64

### Output of `java -version`
openjdk version "11.0.1

[2021-04-22 15:12] bennetelli opened #16733 "Add quarkus-logging-kafka extension"
## Describe the extension

At Red Hat Insights we have got the situation that we want to log our application log to a Apache Kafka topic instead of the standard application log.
In our opinion the extension could also be useful for others who need more flexibility than with the existing extensions like quarkus-logging-gelf which directly sends logs to a centralized log management system like logst

[2021-04-22 15:20] rosariop commented on #16675
It's not a bug. ORDER is a keyword in SQL so the error comes from my Table beeing badly named.

[2021-04-22 15:20] #16675 closed

[2021-04-22 15:26] sberyozkin commented on #16725
@joggeli34 I think I can update the code to give it a single retry when the OIDC connection is required but it is marked as not initialized. I'll give a try.
Note you can also delay it easily with `TenantConfigResolver` :-)

[2021-04-22 15:32] jonathanroques opened #16734 "Http Lambda does not work with AWS API GW deployment stages (path issue)"
## Describe the bug
Linked with https://github.com/quarkusio/quarkus/issues/13655
Using `io.quarkus:quarkus-amazon-lambda-http`, say your base path is `/deals`.
It works with the default stage but if I create a `dev` stage the URL for this API will be `my-api-url/dev/deals` which returns a 404 error :

### Expected behavior
The API should response should the same whatever the deployment stage is.

[2021-04-22 15:40] joggeli34 commented on #16725
I now tested with different quarkus-versions and noticed that this behavior was introduced in 1.13.1.Final.
With 1.13.0.Final the application just throws and error and prevents to start (`ERROR: Failed to start application (with profile dev)`)

Is that correct?

[2021-04-22 15:48] sberyozkin commented on #16725
@joggeli34 Yes - it was affecting the user experience in the dev mode.

[2021-04-22 16:01] joggeli34 commented on #16725
I now tested with the parameter settings:

[code]
In the dev-mode it doesn't recover even if the oidc-server is up after 1m. It just keeps responding all requests with OICDException.

[code]

[2021-04-22 16:18] bennetelli commented on #16733
here is a working example: https://github.com/bennetelli/quarkus-logging-kafka

[2021-04-22 16:23] sberyozkin commented on #16725
@joggeli34 As I said there is no timer there pinging the unavailable server all the time. In the dev mode one would start with no address at all or some template address - the server would start - you can verify it fails - next you set a correct address and it works - but here it is slightly different - you just have OIDC server coming up at some point but unless you refresh the dev endpoint someh

[2021-04-22 16:35] wtrocki opened #16737 "Quarkus Service binding - specific service documentation it is not easy to find"
## Example service bindings for quarkus are not well documented (or I simply cannot find it).

I would expect to have single page that list all services that quarkus supports and what are the key for them.
Something like

[code]

or

[code]

[2021-04-22 16:36] wtrocki commented on #16737
Once we have more services it wil be great to actually have registry even outside quarkus for other teams like Node.js to pickup etc.

[2021-04-22 17:21] #16471 closed

[2021-04-22 17:24] bkzoller commented on #13655
There are two Quarkus extensions for Amazon Lambda APIs, quarkus-amazon-lambda-http and quarkus-amazon-lambda-rest. According to the [extension guide](https://quarkus.io/guides/amazon-lambda-http), the former is for HTTP Gateway API and the latter is for REST Gateway API. Therefore, the generated SAM CLI templates should match whichever extension is on the classpath.

If instead quarkus-amazon-lam

[2021-04-22 18:34] geniusit opened #16738 "devservices doesn't run initscript / initfunction"
Hi,

According to the quarkus documentation, the confiugration
[code]
accepts a ```java Map<String,String>``` for additional properties

But i suspect it doesn't work as excpected.

### Expected behavior
An init script / init function should be called after container creation.

### Actual behavior
Noting happens

## To Reproduce
Create a sample quarkus project with this dependency :

[code]

Add t

[2021-04-22 18:40] mweber03 commented on #16659
Another example.

I pulled this repository: https://github.com/mkyong/quarkus

Added: `quarkus-hello-world-gradle/.env` with contents
[code]

Updated: `quarkus-hello-world-gradle/src/main/java/com/mkyong/quarkus/HelloResource.java` with
[code]

Still no luck. This project uses Quarkus 1.11.0

[2021-04-22 18:51] mschorsch opened #16739 "RESTEasy Reactive Kotlin is using a Worker-Thread and not a Vert.x-Event-Thread"
## Describe the bug
Since Quarkus 2.0.0Alpha1 it is possible to implement suspend functions for REST endpoints. However, the executing thread is a worker thread (DefaultDispatcher-worker) and not, as expected, a Vert.x event thread (vert.x-eventloop-thread).

### Expected behavior
The supend function is executed in a Vert.x event thread (vert.x-eventloop-thread).

### Actual behavior
The supend fu

[2021-04-22 20:42] michalszynkiewicz commented on #16702
I'll see why the exception mapper is not triggered tomorrow.

[2021-04-22 21:06] panchitoboy commented on #11045
HI, at this moment i think the more "clean way" to use cucumber in quarkus is here:

https://github.com/panchitoboy/quarkus-cucumber/tree/quarkus-target (thanks @artysidorenko for clean the branch).

I dont know if in Quarkus 2.0 (released today) there would be an easy way to start quarkus for testing without @QuarkusTest . In that case it would be easy create an integration using the cucumber Obj

[2021-04-22 21:38] sberyozkin commented on #16725
@joggeli34 Np at all, I'll look into it, we'll try to make it right

[2021-04-22 23:41] stuartwdouglas opened #16745 "Add Continuous testing support to Dev UI"
Tracker issue for the Dev UI work, as at the moment it is very basic.

Things we should support:

- [ ]  Auto refresh results as tests are run
- [ ] Display collapsible test output
- [ ] Display test stack traces
- [ ] Click to open in IDE
- [ ] Re-run specific test
- [ ] Same options as can be done in the console (re-run, re-run failing, broken only mode)
- [ ] Temporarily set tags/patterns to ru

[2021-04-23 01:50] missourian55 opened #16747 "Avro code generation issue in Quarkus 2.0.0-Alpha1"
## Describe the bug
Just tried 2.0.0.Alpha1 in a sample Kafka project facing compilation error

### Expected behavior
Avro code generation should work

### Actual behavior
Duplicate class error

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps to reproduce the behavior:

[2021-04-23 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/776622704

[2021-04-23 05:26] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/776624703

[2021-04-23 05:30] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/776624237

[2021-04-23 05:31] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/776624237

[2021-04-23 06:44] famod commented on #15867
Finally, reporting is working! /cc @gsmet ⬆️

[2021-04-23 06:49] #16577 closed

[2021-04-23 06:56] gaetancollaud commented on #5951
I had the same issue because I didn't specify any roles for my user. This is strange because in your example you specify a role...

Example **not working**:
[code]

Example that works:
[code]

[2021-04-23 07:12] aadityasinha-dotcom commented on #16701
Hey! I want to work on this issue.
Can you explain me about this.

[2021-04-23 07:13] mkouba commented on #16699
The problem is that we can't easily read the `groupId` and `artifactId` from the file path of a `-deployment` module, e.g. `/my/source/my-ext/deployment/target/classes/dev-templates`.

@FroMage WDYT?

[2021-04-23 07:20] mkouba commented on #16701
@aadityasinha-dotcom Sure thing ;-). Here's what needs to be done (in a nutshell):

1. Extend the `io.quarkus.scheduler.Scheduler` API, i.e. add `pause(String indentity)` and `resume(String identity)` methods
2. Implement these methods in the [SimpleScheduler](https://github.com/quarkusio/quarkus/blob/main/extensions/scheduler/runtime/src/main/java/io/quarkus/scheduler/runtime/SimpleScheduler.java

[2021-04-23 07:24] aadityasinha-dotcom commented on #16701
Thanks for your reply.
I will work on this :+1: .

[2021-04-23 07:27] machi1990 commented on #16701
Well summed up @mkouba

Thank you so much @aadityasinha-dotcom feel free to ping us in case of any questions or opening a draft PR and we can iterate from there.

[2021-04-23 07:30] mkouba commented on #16701
Also feel free to join the community on the [zulip](https://quarkusio.zulipchat.com/) chat...

[2021-04-23 07:35] machi1990 commented on #16737
+1, I think this is a documentation and each extension that support service binding can enlist the expected binding keys.

[2021-04-23 07:42] wtrocki commented on #16737
I'm happy to contribute this upon agreement

[2021-04-23 07:45] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/776630996

[2021-04-23 07:56] fwippe commented on #16719
@sberyozkin I don't see any obvious problem regarding the static `TokensHelper.tokenRequestStateUpdater`: You are explicitly allowed to use the same `AtomicReferenceFieldUpdater` for several update targets. Thus, as far as I know, a new `TokensHelper` (or `AbstractTokensProducer`) should provide an independent `Tokens` via the individual `TokenRequestState`.

[2021-04-23 08:59] jonathanroques commented on #16734
To complete this issue, here's an [exemple](https://github.com/awsdocs/aws-lambda-developer-guide/blob/main/sample-apps/nodejs-apig/event-v2.json) of an APIGatewayV2HTTPEvent.

In the [LambdaHttpHandler#L173](https://github.com/quarkusio/quarkus/blob/f1a5a40b3fc89ebaefcd7d2f5c21163624c6977e/extensions/amazon-lambda-http/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.java#L17

[2021-04-23 09:05] yrodiere opened #16752 "DevServices for Elasticsearch"
## Description

We have several extensions that require an Elasticsearch cluster:

* The Elasticsearch high-level REST client
* The Elasticsearch low-level REST client
* The Hibernate Search ORM+Elasticsearch extension

It would be nice to have DevServices support for that

## Implementation ideas

Let's see how it's done for other DevServices.

A few things we need to be cautious about:

1. We ty

[2021-04-23 09:08] michalszynkiewicz commented on #16702
Programmatically registered exception mapper works with your changes :)

I'll try to create a fix for mappers registered with `@RegisterProvider` today

[2021-04-23 09:11] geoand commented on #16702
Cool :)

[2021-04-23 09:15] michalszynkiewicz commented on #16173
done in https://github.com/quarkusio/quarkus/pull/16685

[2021-04-23 09:15] #16173 closed

[2021-04-23 09:25] machi1990 commented on #16737
/cc @geoand what do you think?

[2021-04-23 09:27] geoand commented on #16737
We currently have https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/deploying-to-kubernetes.adoc#service-binding.

I'd be happy to have that enhanced further :)

[2021-04-23 09:28] ia3andy opened #16753 "Problem with quarkus-websockets on 2.0.0.Alpha1"
## Describe the bug

With quarkus `main` branch, I get this exception when sending a websocket message (no problem with `1.13.2.Final`):

[code]

### Expected behavior
Should work

### Actual behavior
Exception and not working

## To Reproduce
https://github.com/ia3andy/reproducer-websocket

The reproducer use the websocket example codestart which is very close to the quickstart.

Steps to reprodu

[2021-04-23 09:29] #15997 closed

[2021-04-23 09:31] csotiriou commented on #10184
@geoand, it seems that the issue is fixed, I have experienced no more crashes and strange behaviour.

[2021-04-23 09:33] geoand commented on #10184
That's awesome, thanks!

[2021-04-23 09:33] #10184 closed

[2021-04-23 09:54] blxbrgld opened #16754 "404 error from resources declared in javax.ws.rs.core.Application#getClasses"
I'm trying to upgrade to **1.13.2.Final** and use the ability to limit the JAX-RS resources introduced by [this](https://github.com/quarkusio/quarkus/pull/14207) feature, but the declared resources in the overriden ``javax.ws.rs.core.Application#getClasses`` method return 404 error. If i do not override ``getClasses`` (or return an empty set, which as far as i understand is equivalent), the endpoi

[2021-04-23 10:12] sberyozkin commented on #16694
Hi @mcsweeneyjm closing this issue given the explanation from Rene Grob in the linked Zulip thread - please re-open if you feel something needs to be done about this issue, thanks

[2021-04-23 10:12] #16694 closed

[2021-04-23 10:21] sberyozkin commented on #16725
Hi @joggeli34

I'll restore the earlier functionality where the application was failing to start when it failed to connect to the OIDC server - but only if `auth-server-url` is an invalid URL - if it is a valid URL then a debug message will be displayed that the connection is not possible at the moment but an attempt will made to establish it during the initial request.

It feels it will be the ri

[2021-04-23 10:24] machi1990 commented on #16737
@geoand Suppose we add the bindings details in there for each extension, won't that be too big of information to maintain and for users to find their way on the docs over time?

[2021-04-23 10:28] wtrocki commented on #16737
There are different use cases.
Binding is being used internally in quarkus - values provided are consumed in plugins.

But even for simple summit demos we had situations where apart from quarkus plugin we needed to get raw config for other non quarkus lib. Additionally this is working with one specific Kafka. I'm trying to facilitate other Kafkas - like strimzi to conform to this standard - having

[2021-04-23 10:29] sdaschner opened #16755 "JAX-RS client builder fails in continuous 2.0 tests"
When running Quarkus `2.0.0.Alpha1` in dev mode, I can't run a test which programmatically creates a JAX-RS client.
## Describe the bug

## To Reproduce
Following code used in test:

[code]

Results in:

[code]

This would be very helpful in the interactive tests, since the way how I like to write plain JUnit tests (which programmatic stuff only) runs very fast.

Reproducer: https://github.com/sda

[2021-04-23 10:30] sdaschner commented on #16755
I remember I've had a similar issue before when using the JAX-RS client before, but I didn't find an issue to it...

[2021-04-23 10:31] geoand commented on #16737
I'd love us to come to a point where having too much documentation is a problem 😎

[2021-04-23 10:43] machi1990 commented on #16737
Me too. I was only thinking of a dividing and spreading the same contents in a different way. But let's get the content first and see how it goes.

[2021-04-23 11:02] #16681 closed

[2021-04-23 11:11] wtrocki commented on #16737
I had different idea. Since those configs need to be across different frameworks we might actually setup separate page for it - config registry and quarkus can reference it in the documentation.

This way we going to kill two birds with one stone - provide clear info for Quarkus (but also other languages and frameworks also populating quarkus as reference implementation for java that does follow t

[2021-04-23 11:13] geoand commented on #16737
That sounds very reasonable

[2021-04-23 11:22] sberyozkin commented on #16719
@fwippe Sure, I got some unexpected log output when 2 different filters were running - only a single LOG notification that the tokens have been acquired - so seeing the `static` qualifiers got me wondering, but I'll investigate it further

[2021-04-23 12:09] Sgitario commented on #15953
Any updates about this issue?

Otherwise, are you ok if we fix it by:
"I could make it worked when setting LoggerFactory.setLogger(new NoopLogger()); at the beginning of the KubernetesProcessor.build method." ?

cc  @iocanel @geoand

[2021-04-23 12:25] essobedo commented on #16754
Hi, inheritance is not yet supported by this feature, it was a very basic first step but it should not be hard to add it. I will check it asap, meanwhile you could get rid of the interface to make it work.

[2021-04-23 12:32] glefloch commented on #16747
@missourian55 thanks for reporting this. @michalszynkiewicz shouldn't we remove the avro plugin in the quickstart ?

[2021-04-23 12:37] #16702 closed

[2021-04-23 13:05] mkouba opened #16759 "Qute - support multiple NamespaceResolvers for the same namespace"
Currently, only one `NamespaceResolver` can be registered for a specific namespace (such as `inject` or `data`). The original idea was to keep the implementation simple. However, a `NamespaceResolver` could implement `io.quarkus.qute.WithPriority` as the regular value resolvers do so that the resolver with higher priority would take precedence. This would be especially helpful when adding built-in

[2021-04-23 13:09] avano opened #16760 "Openshift/K8s resources files not created without quarkus-resteasy dependency"
## Describe the bug
I have `quarkus-openshift` extension in my pom file, but the resources in `target/kubernetes` are not generated without `quarkus-resteasy` dependency

### Expected behavior
Resources generated even without `quarkus-resteasy` dependency

### Actual behavior
No resources are generated after removing `quarkus-resteasy` dependency

## To Reproduce

https://github.com/avano/quarkus-

[2021-04-23 13:11] FroMage commented on #16401
That would be pretty awesome, yes.

[2021-04-23 13:12] geoand commented on #16760
This is expected behavior.

For Quarkus to generate the manifests, the application needs to be an HTTP application.

That might change in the future, but for now it's expected

[2021-04-23 13:12] #16760 closed

[2021-04-23 13:12] danberindei commented on #16315
@theseeker58 please push the changes that make the compilation break for you. I have tried the instructions in `README.md` and `mvn clean compile test` still works.

[2021-04-23 13:36] FroMage commented on #16699
This seems like a pretty edge case, running dev mode inside an extension. If there's a quick hack we can do to make it work, then why not, but it doesn't seem to be a very useful requirement, no?

[2021-04-23 13:45] franden opened #16762 "[Quarkus 2.0.0-Alpha1] Continuous Testing + junitpioneer -> IssueExtensionExecutionListener not a subtype"
I am very appreciate about Quarkus Continuous Testing feature. Great improvement!

Today I tested this feature with Quarkus 2.0.0-Alpha1 with my code which is using in JUnit tests the  https://github.com/junit-pioneer/junit-pioneer library. If I now press the e button in the console after quarkus:dev start i get the exception:
[code]
Test:

[code]

Any idea how to avoid this exception?

[2021-04-23 13:57] michalszynkiewicz commented on #16747
@glefloch where do we have the avro plugin in quickstarts?

[2021-04-23 14:01] glefloch commented on #16747
oh I taught @missourian55 was using a quickstart but it's not the case. @missourian55 could you attach a reproducer?

[2021-04-23 14:01] KarstenWintermann commented on #12755
Hello @sberyozkin, I believe that

breaks the possibility for an easy workaround using a `SecurityIdentityAugmentor`, since now `QuarkusSecurityIdentity.Builder` raises an `IllegalStateException("Principal is null but anonymous status is false")` before the SecurityIdentityAugmentors are invoked. So the issue described by @haraldatbmw remains, that there are Identity Providers like Forgerock, whic

[2021-04-23 14:04] glefloch commented on #10189
Should we consider moving gradle out of beta for Quarkus 2.0 ?

[2021-04-23 14:05] Christopher-Chianelli commented on #16699
It also occurs when the extension in in the same project (note the root of my reproducer doesn't have a pom for this reason). I sometime create one-off extensions for projects (ex: an irc-bot extension that read annotations and automatically sets up the bot). I came into this issue when trying to test the Dev UI for my extension; at the very least, a warning should be shown that Dev UI won't be av

[2021-04-23 14:08] michalszynkiewicz commented on #16747
@missourian55 with 2.0 it's no longer necessary to use the plugin. Can you retry with it removed from your pom.xml?

[2021-04-23 14:15] shawkins opened #16763 "Using the -Dquarkus.kubernetes.namespace option does not update subjects"
## Describe the bug
When the src/main/kubernetes.yml contains a ClusterRoleBinding referencing a ServiceAccount in the same file and you try to override the namespace via the quarkus.kubernetes.namespace property, the referenced ServiceAccount namespace will not be updated.

## To Reproduce

Use a src/main/kubernetes.yml like:
[code]
A maven package with -Dquarkus.kubernetes.namespace=expected

Wi

[2021-04-23 14:17] glefloch commented on #16659
Thanks for reporting this.
Actually I don't think this is a bug. Variables in `.env` file are used by `smallrye-config` to populate your config properties alongside your `application.properties` file.

If you declare the following property, it should be correctly populated:

    @ConfigProperty(name = "test.env")
    String env;

Am I right @radcortez ?

[2021-04-23 14:21] laurentperez commented on #16700
I forked to attempt a PR, but my knowledge of the code is still quite limited and it's a bit hard for me atm to get the "big picture", as in https://github.com/quarkusio/quarkus/issues/12400

I understand Quarkus is a big project too, documentation exists, but its internals has a steep learning curve, for me at least.

So at best I can only provide ideas atm, for example maybe quarkus.hibernate-or

[2021-04-23 14:34] glefloch commented on #16429
@radcortez have you already seen this? I don't why it tries to load a `.env` from gradle home ..

[2021-04-23 14:48] FroMage commented on #15239
Reported in https://github.com/hibernate/hibernate-reactive/issues/723 I'm going to close it here. Thanks everyone involved!

[2021-04-23 14:48] #15239 closed

[2021-04-23 14:52] theseeker58 commented on #16315
@danberindei Compilation works fine with no errors.
The problem is that org.acme.model.CatalogSchemImpl.class is no longer generated under the target dir.
OBV without a real Infinispan server you won't get any exception.
Try to uncomment mapstruct-processor under the configuration section of maven-compiler-plugin and you'll notice yourself

[2021-04-23 14:57] FroMage commented on #16700
Oh right, this is not just about specifying a data source, but also resolving the tenant.

Yeah, this won't be trivial :(

[2021-04-23 14:58] FroMage commented on #16700
What do you use ATM to resolve the tenant for the normal requests?

[2021-04-23 14:58] glandais-sparklane opened #16765 "kafka-client : Detected a MBean server in the image heap"
## Describe the bug
In some cases, org.apache.kafka.common.metrics.JmxReporter.reconfigure is called, implying the usage of MBean server.
Native executable can not be build.

### Expected behavior
All methods accessing to MBeanServer shall be substituted.

### Actual behavior
reconfigure method is causing this kind of error during native build :

`Error: Detected a MBean server in the image heap.

[2021-04-23 15:01] radcortez commented on #16659
Yes, but the `.env` file needs to reside in the working directory. I'll give it a try , maybe there is some issue with Gradle.

[2021-04-23 15:02] radcortez commented on #16429
Hum, the files are optional. So this shouldn't happen. Let me have a look.

[2021-04-23 15:06] geoand commented on #16763
Have you tried with the latest 1.11 version of Quarkus?

[2021-04-23 15:07] geoand commented on #16763
@iocanel this sounds like one that needs to be fixed in the 1.11 branch.

Can you take care of it please?

[2021-04-23 15:07] gerritdrost commented on #16429
To clarify, in my case I have a `config/application.properties` in my project directory. It seems like it detects the file correctly from the project directory, but then uses the wrong working directory when trying to read it.

[2021-04-23 15:15] FroMage commented on #16638
I'm sorry I tried reproducing this for half an hour but I can't. It works for me. Could you open a github project with a minimal reproducer project please?

[2021-04-23 15:19] hantsy opened #16767 "Nested configuration or beans only used in the host Test class"
## Description

I created a sample project to experience Oidc API protection with Auth0, but when writing tests, I encountered a few issues.

One is from writing tests with the usage of `@TestSecurity` with properties file users/roles,

https://github.com/hantsy/quarkus-sandbox/blob/master/oidc-api-auth0/src/test/java/com/example/TestSecurityLazyAuthTest.java

I tried to disable oidc in the Profil

[2021-04-23 15:20] FroMage commented on #16437
@geoand you're so right, sorry about this. I'll update my test and my docs to use it, that is indeed much simpler.

[2021-04-23 15:24] geoand commented on #16437
Glad to hear it!

[2021-04-23 15:28] FroMage commented on #16437
Done.

[2021-04-23 15:32] FroMage commented on #8543
Thanks. Given that there's a workaround, and it should be fixed in Quarkus 2.0, I'm going to close this issue. Please reopen it if you can't make the workaround work, and you absolutely must need it in Quarkus 1.13.x.

[2021-04-23 15:32] #8543 closed

[2021-04-23 15:34] joggeli34 commented on #16725
Thanks, yes that sounds very reasonable this way.

[2021-04-23 15:45] shawkins commented on #16763
I have not yet.

[2021-04-23 15:47] evanchooly commented on #16691
that last patch fixed this, yes?  i'm working on the profile update (CI is running) that we talked about.  Should this issue wait for that or should we just close this one because the build *was* released?

[2021-04-23 15:50] agoncal opened #16768 "Being able to fix the Postgres listening port property with DevServices"
## Description

When you use DevServices in Dev and Test mode to startup a Postgres database, the listening port is random and you get a different one each time you startup or execute the tests (eg. `localhost:55046/default`, `localhost:55048/default`, etc.). But in development mode, it's sometimes useful to access the database. And to get the port, you need to check the Dev UI to know this random

[2021-04-23 15:52] Ladicek commented on #16544
I put something together, but need to write a bunch of tests, so not publishing it anywhere yet.

[2021-04-23 16:13] pak3nuh commented on #16739
Hi @evanchooly
I was actually trying to test this, because I also thought we needed to create an application's specific CoroutineScope and a Dispatcher that uses a vertex thread.
My issue is that the kotlin files aren't being picked up by the processor that generates the synthetic beans.
I'm sure I'm using a local build of quarkus with the latest artifacts.
Any pointers?

[2021-04-23 16:33] danielpetisme opened #16769 "Native packaging fail with kafka-client"
## Describe the bug
When using the kafka-client extension, the native packaging fail.
The issue is related to a Jackson dependency pulled by Apache Kafka.

If I include the `quarkus-jackson` extension the native packaging works.

### Expected behavior
One should be able to build a native executable with only the `kafka-client` extension`

### Actual behavior
With only the `kafka-client` extension,

[2021-04-23 16:45] Postremus opened #16770 "RunnerClassLoader getResources returns duplicate results"
## Describe the bug

I was updating from 1.12.2 to 1.13.2, and noticed that drools is not initializing anymore.

The root cause seems to be this getResources call, which returns the same file paths multiple times:
https://github.com/kiegroup/droolsjbpm-knowledge/blob/master/kie-api/src/main/java/org/kie/api/internal/utils/ServiceDiscoveryImpl.java#L190

When searching for files, the same file path

[2021-04-23 16:53] danielpetisme opened #16771 "Ease Quarkus issue creation by automating data collection"
## Description

I just finished filling in an issue and I had to go provide the whole application, java, graalvm,os information.
While providing the commands to type is great, I think Quarkus could be one step further by automating this data collection.

## Implementation ideas

The information asked in the Quarkus issue request is quite classic:
* configuration.properties
* Java/GraalVM version
*

[2021-04-23 16:57] maxandersen commented on #16771
Already exist but didn't get much positive response on quarkus-dev about it so I haven't pushed it much :)

Source: https://github.com/quarkusio/jbang-catalog/blob/master/quarkusissue.java

Command:
'jbang buginfo@quarkusio'

[2021-04-23 16:58] danberindei commented on #16315
I see now @theseeker58, I missed the final paragraph in README.md and expected the test to fail.

[2021-04-23 17:00] hantsy opened #16772 "Update quarkus-security to the latest in io.quarkus:quarkus-vertx-http"
View the dependency: tree, and notice there is an old security extensions referred by vertx-http.

[code]

[2021-04-23 17:04] gsmet commented on #16772
No it's normal. Quarkus Security is a separate project with its own lifecycle hosted here https://github.com/quarkusio/quarkus-security .

[2021-04-23 17:04] #16772 closed

[2021-04-23 17:06] danielpetisme commented on #16771
Why I discover this only now!!! This is exactly what I was looking for.
I think it worth to be added in the `bug_report` template as optional just to see how people react (like canary testing)
if the feedbacks are bad or if people don't use it, you still can remove it afterward.

Note: I'm not a huge fan of the table rendering, I would personally prefer old fashion Markdown sections/titles

[2021-04-23 17:30] maxandersen commented on #16771
PRs welcome - I just did a quick initial implementation of it :)

[2021-04-23 17:30] maxandersen commented on #16771
And yes makes sense we add it to the template text - want to make a pr for that ?

[2021-04-23 17:33] radcortez commented on #16659
Just tried it with the sample project and it does work.

I've just noticed that @mweber03 is using `System.getenv`. While it seems to make sense the JDK API does not read from `.env` files. This is done by SmallRye Config, our config implementation and you need to use the Config API to retrieve the values. Either by using injection like @glefloch suggested or you can also do it programmatically li

[2021-04-23 17:36] edeandrea commented on #16182
What's the status on getting this into a 1.13.x release? It is very important for me.

[2021-04-23 17:51] sberyozkin commented on #16725
@joggeli34 Please see #16725.
Thanks

[2021-04-23 18:11] aloubyansky commented on #10189
I think we should review the current state and what's missing for that.
Let's get the call conditional deps in first though.

[2021-04-23 18:29] HasseNasse opened #16774 "Support for using Fauna DB with Quarkus Native Image"
## Description

Would be nice if quarkus would allow usage of Fauna DB drivers in native image mode. JVM mode works fine but when we run this in native mode we get the following error.

`2021-04-23 18:27:24,112 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (executor-thread-1) HTTP Request to /articles? failed, error id: a3f2fe19-64a8-4cf9-8b51-56a66b43e4ab-1: org.jboss.resteasy.spi.UnhandledExcep

[2021-04-23 18:37] laurentperez commented on #16700
We're in a fortunate scenario where all of our calls are HTTP so we're using a custom implementation of a `@RequestScoped` https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-orm/runtime/src/main/java/io/quarkus/hibernate/orm/runtime/tenant/TenantResolver.java and for the dataSources a custom https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-orm/runtime/src/main/j

[2021-04-23 19:04] ia3andy commented on #12111
It's now a different problem..

[2021-04-23 19:10] gsmet commented on #16774
If you prepare a simple Maven project with some tests working in JVM mode, I can have a look. But the tests would have to be self contained. I don't know if they have some containers you can start from TestContainers?

[2021-04-23 19:14] famod commented on #16770
/cc @stuartwdouglas @geoand

[2021-04-23 19:16] famod commented on #16762
/cc @stuartwdouglas

[2021-04-23 19:22] geoand commented on #16770
Interesting, I'll take a look next week

[2021-04-23 19:22] radcortez commented on #16429
Hum, it seems this is caused by the Gradle Daemon setting the default directory and later in the execution modifying the `user.dir` to the right directory, but the Filesystem default directory still keeps the original daemon directory.

When we introduced the new config loader, we call `url.toUri()` which resolves to the daemon path (the initial default) and not the updated `user.dir`. The default

[2021-04-23 19:30] radcortez commented on #16429
I think we may be able to fix this if we construct a valid URI with the `user.dir` at the source level instead of relying in the relative path. BTW, Maven seems to work fine.

[2021-04-23 19:36] leonardowestphal commented on #11447
@manovotn
I have the same problem. I'm migrating a legacy Java EE application to Quarkus...
Will any implementation be done to solve it?

I believe that my problem would be solved if the limitation "Interceptor methods on superclasses are not implemented yet" mentioned in https://quarkus.io/guides/cdi-reference#limitations was implemented. Or maybe if there was an annotation similar to '@ javax.in

[2021-04-23 19:44] geoand commented on #15953
This one is really for @iocanel to decide

[2021-04-23 19:54] missourian55 commented on #16747
@michalszynkiewicz

Thanks, once I removed the Avro codegen plugin, the compilation was successful. So fa,r two things worthy enough to a callout in 2.0.0 migration guide

1. No need to configure `Avro code-gen` plugin if you declare `quarkus-avro` dependency
2.  Kubernetes plugin now start mapping port *80* to *8080*, previously it was 8080 to 8080

We use Quarkus with istio sidecars so we have t

[2021-04-23 20:27] HasseNasse commented on #16774
@gsmet Thanks, I'll cook something up and get back asap.

[2021-04-23 21:10] Postremus commented on #16770
I tested a bit further, and I think this getResources duplication is caused every time a directory has a non empty sub directory.

This observation also holds true for the drools artifacts. META-INF contains the non empty `maven/org.drools/drools-core/` directory, causing the duplication for `META-INF/kie.conf`.

The following file layout forces the same file path to be returned three times.
![ima

[2021-04-23 21:18] jamesfalkner opened #16776 "quarkus.openshift.annotations not applied to deployment config"
## Describe the bug
When deploying an app with the OpenShift extension, and specifying `-Dquarkus.openshift.annotations."app.openshift.io/connects-to"=foo`, the annotation is never applied (and therefore the desired visual connector doesn't show in the web console in OpenShift 4.6)

### Expected behavior
The annotation is applied to the `DeploymentConfig` and a visual connector shows up in the web

[2021-04-23 21:36] manovotn commented on #11447
Hmm I thought we don't even support around invoke declared on the bean instead of interceptor class.
At least that's what I understood from https://github.com/quarkusio/quarkus/issues/11942

I'd need to check that though; not in front of my PC now.

[2021-04-23 23:22] radcortez commented on #16429
Hopefully #16777 will fix this.

[2021-04-24 02:50] selvarajchennappan opened #16778 "QuarkusTest multiPart fileupload works fine with eclipse but not working mvnw test JVM crashed"
Quarkus test  multiPart fileupload runs fine with eclipse IDE but not working mvnw test JVM crashed

### Expected behavior
mvnw test should work fine

### Actual behavior
floods of log "org.apa.htt.wire  and VM crashed.
[quarkustest-fileuplod-mvnw.txt](https://github.com/quarkusio/quarkus/files/6368890/quarkustest-fileuplod-mvnw.txt)

Steps to reproduce the behavior:
1.Create Rest endpoint with Mu

[2021-04-24 08:19] YunaBraska opened #16779 "RestEasy custom error response bodies missing"
## Describe the bug
After build the native build, the custom error handler (`implements ExceptionMapper`) does not return response bodies.
I get a bit frustrated with quarkus these days. There are many features not working and I feel like i am building workarounds only these days...
I can't provide a project link here its a private one.

### Expected behaviour
Rest exception handling should return

[2021-04-24 11:32] serrodcal opened #16781 "InvocationTargetException in Quarkus 2.0.0.Alpha1"
## Describe the bug
[code]

### Expected behavior
The application should start fine.

### Actual behavior

Testing Quarkus 2.0, with Reactive Routes, I got InvocationTargetException when I start the application after `./mvnw clean package`. The application starts fine using `./mvnw quarkus:dev`.

## To Reproduce

`pom.xml` file:
[code]

### Configuration
[code]

### Screenshots
(If applicable, add

[2021-04-24 13:55] geoand commented on #16776
I can't reproduce this.

I added `quarkus.openshift.annotations."app.openshift.io/connects-to"=foo` to an application that contained the `quarkus-openshift` extension and

it generated the following `DeploymentConfig`:

[code]

Am I missing something?

[2021-04-24 15:21] geoand commented on #16770
https://github.com/quarkusio/quarkus/pull/16782 should take care of it

[2021-04-24 15:29] gsmet commented on #16781
Could you please provide a reproducer?

[2021-04-24 20:30] serrodcal commented on #16781
Yes, [here](https://github.com/serrodcal-tmp/quarkus-2-alpha1) you have ;)

[2021-04-24 21:47] CurtisBaldwinson commented on #14220
+1 to this issue. @mpcbass in our project we decided to remove the smallrye library entirely because the connection can't be relied on. However we've had success with the Quarkus camel paho extension. We were able to get it to reconnect after disconnects and you may have similar success because it actually respects the reconnection parameters specified.

For anyone interested in the reasoning: eve

[2021-04-25 06:22] aomsweet opened #16784 "Non-essential bean"
## Description

Bean injection is not necessary, if the bean is empty, Inject will report an error.

## Implementation ideas

Spring can use @Resource annotation, but Quarkus does not seem to recognize @Resource

[2021-04-25 07:06] aloubyansky commented on #12111
[code]

[2021-04-25 09:56] masini commented on #14220
Hi @CurtisBaldwinson I have a PR with automatic reconnection:

https://github.com/smallrye/smallrye-reactive-messaging/pull/1081#issuecomment-792743422

[2021-04-25 11:00] ttsatsanis opened #16785 "Support Kotlin PanacheCompanion / PancheEntity for reactive pattern"
## Description

Currently `PanacheCompanion` does not support `io.quarkus.hibernate.reactive.panache.PanacheEntityBase`.
It would be very helpful to create interfaces for `PanacheCompanion` and `PanacheEntityBase` / `PanacheEntity` on a reactive stack of `io.quarkus.hibernate.orm.panache.kotlin`

Reactive pattern on Kotlin can only be implemented through `PanacheRepository` or by introducing stati

[2021-04-25 13:20] evanchooly commented on #16785
There is already this module: `hibernate-orm-panache-kotlin`

[2021-04-25 13:47] hantsy commented on #16697
@sberyozkin

It is not only the issue of the `test-security` and `oidc` used together.

I tried it more today in my sample application, https://github.com/hantsy/quarkus-sandbox/tree/master/oidc-api-auth0

This is a service application(the default application type is **service**).

I have an `AudienceValidator` class to validate the `aud` claim,  see [here](https://github.com/hantsy/quarkus-sandbo

[2021-04-25 13:58] hantsy commented on #16697
@sberyozkin  BTW, not sure it can be categorized as an issue.

When the `quarkus.oidc.client-id` is not set, it will throw exception: `Tenant configuration can not be resolved`.

As I understand it, a service type application or  the Resource server role in OAuth2 protocol, it should not contain a client-id.

The client-id and client-secrets are part of the client application when  an **Oauth2 Cli

[2021-04-25 14:44] renegrob opened #16786 "Changed runtime value of quarkus.datasource.db-kind is silently ignored"
## Describe the bug
Usually when you change a build-time property at runtime, you get a warning like this:
[code]

However if I change db-kind:
[code]
Its value is silently ignored.
From my point of view, it should behave like other build-time properties and produce a warning.

_Originally posted by @aloubyansky in https://github.com/quarkusio/quarkus/pull/16606#r615658657_

### Expected behavior

[2021-04-25 14:49] cescoffier commented on #16765
Which version of kafka client were you using?

[2021-04-25 15:31] cescoffier commented on #16555
BTW, was it working with the 1.x version?

[2021-04-25 15:34] cescoffier commented on #16733
I need to think a bit more about that one.
Typically what's your record key, how to enforce ordering (well, yes with a key), how to be sure we don't mess up the ordering (Retry + number of inflight...).

In your code, you use `write` which is async, you have no guarantee it will be processed before others, that depends on retry and the inflight. Also, if it fails, you probably won't catch the erro

[2021-04-25 15:35] cescoffier commented on #16721
Snappy requires 21.0. It uses serialization. I was pretty sure we fixed that recently...

[2021-04-25 15:40] evanchooly commented on #16785
In my head, I thought I'd already done this but clearly I was thinking of the reactive mongodb module.

[2021-04-25 19:47] maxandersen commented on #16768
Not sure what the good way would be here.

With contionous testing you wouldn’t want random ports as otherwise there would be conflicts.

So it would only be the first one that would be “fixed”.

[2021-04-25 23:22] #16770 closed

[2021-04-26 01:59] bboyz269 opened #16789 "Context is not propagated within IdentityProvider (AuthenticationRequestContext's runBlocking method)"
## Describe the bug
I'm implementing a custom IdentityProvider, require access to the request.  I tried to inject `io.vertx.ext.web.RoutingContext` but got the `javax.enterprise.context.ContextNotActiveException`.

What I tried:
* Adding `@ActivateRequestContext`, the exception turns to `javax.enterprise.inject.IllegalProductException: Normal scoped producer method may not return null: io.quarkus.

[2021-04-26 02:39] jimbogithub opened #16790 "DB Connection Leak with TxType.SUPPORTS in WebSocket handler"
## Describe the bug
Database Connections Leak with TxType.SUPPORTS.  May be specific to WebSocket handler.

### Expected behavior
No Leak.

### Actual behavior
Leak.

## To Reproduce

See attached mod of ChatTest example.  See table.sql.

[websockets-quickstart2.zip](https://github.com/quarkusio/quarkus/files/6373897/websockets-quickstart2.zip)

Note that ChatRepo.read() leaks (TxType.SUPPORTS), h

[2021-04-26 05:21] ttsatsanis commented on #16785
@evanchooly yes, I was referring to implementations apart from Mongo which already has a reactive stack with Panache on Kotlin (I currently use Hibernate with Postgres)

[2021-04-26 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/784360929

[2021-04-26 05:32] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/784362641

[2021-04-26 05:33] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/784362444

[2021-04-26 05:35] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/784362444

[2021-04-26 05:52] cescoffier commented on #16755
\CC  @FroMage @michalszynkiewicz @stuartwdouglas (adding Stuart as it may be a classloading issue)

[2021-04-26 05:53] cescoffier commented on #16747
@michalszynkiewicz can you add these into the migration guide?

I'm surprised by the second item (not related to Avro), @geoand was this done on purpose?

[2021-04-26 05:54] cescoffier commented on #16635
Closing. The solution is in the previous comment.

[2021-04-26 05:54] #16635 closed

[2021-04-26 05:55] cescoffier commented on #16451
@michalszynkiewicz I know that @pmlopes added support for optional fields in Vert.x gRPC relatively recently.

[2021-04-26 05:55] geoand commented on #16747
@cescoffier yes, it was done on purpose (cc @iocanel who made this change when we bumped to Dekorate 2.x)

[2021-04-26 06:09] cescoffier commented on #16682
While I agree, it's not that simple. We need to look at the issue from a developer standpoint. Let's imagine a developer using Quarkus (great choice!), and starting to work on the application locally. It should work OOTB, and the broker may be running on the localhost.

Now, our developer adds the service-binding extension because the targetted Kubernetes environment is configured to be used with

[2021-04-26 06:10] cescoffier commented on #16257
@Namphibian Any update?

[2021-04-26 06:10] cescoffier commented on #14820
@michalszynkiewicz can you have a look? It may be out of date.

[2021-04-26 06:11] #16765 closed

[2021-04-26 06:25] jmartisk opened #16792 "SmallRye GraphQL Client extension"
We don't yet have first-class support for GraphQL clients with SmallRye GraphQL in Quarkus. A separate extension would probably be a good way to introduce it, with all the features like a proper Quarkus-like configuration model, and support for client injection.

This will probably be added along with upgrading to SmallRye GraphQL 1.2, which will contain both the dynamic and typesafe clients.

[2021-04-26 06:35] geoand commented on #16747
Just edit https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0 :)

[2021-04-26 06:45] michalszynkiewicz commented on #16747
done

[2021-04-26 07:42] glandais-sparklane commented on #16765
@cescoffier I guessed you've seen it but the kafka client version is coming from the bom (kafka2.version=2.7.0) with 1.13.2.Final

[2021-04-26 07:50] essobedo commented on #16754
The corresponding PR https://github.com/quarkusio/quarkus/pull/16793

[2021-04-26 07:52] tqvarnst opened #16794 "ClasscastException when using MultipartForm in dev mode"
## Describe the bug
This problem is only related to running Quarkus in dev mode.

When using MultipartForm data in a post request during dev mode after a reload Quarkus throws a ClassCastException. Restarting Dev mode fixes the issue

### Expected behavior
Hotreload of MutlipartForm object should be possible.

### Actual behavior
ClassCastException

## To Reproduce

See https://github.com/tqvarnst

[2021-04-26 07:55] agoncal commented on #16768
I'm more interested in having a fix port in `%dev`. Like all the `devservices` property, it won't be available in production, and then you could have either `%dev%.quarkus.datasource.devservices.port=5432` only for dev, but if you have the property for `%test`, then, as you say, only the first one would be fixed.

[2021-04-26 08:02] ia3andy commented on #16753
This also affect `2.0.0.Alpha1`.

[2021-04-26 08:03] ia3andy commented on #16753
@geoand could you triage, I am not sure who to ping on this beside @cescoffier.

[2021-04-26 08:05] geoand commented on #16753
cc @stuartwdouglas

[2021-04-26 08:06] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/784370285

[2021-04-26 08:08] zakkak commented on #16721
@cescoffier I guess you are referring to https://github.com/quarkusio/quarkus/pull/16236

Unfortunately I still see this with Quarkus 6aaa9c6e8c877d217bd756741228013fc73ee0b3 and quay.io/quarkus/ubi-quarkus-mandrel:20.3-java11

Maybe an issue with GraalVM Version comparison, I'll have a look.

See: https://github.com/graalvm/mandrel/runs/2434532058?check_suite_focus=true

[2021-04-26 08:38] sberyozkin commented on #16789
@renegrob Hi Rene - is it what your quarkus-security enhancement was about (passing the relevant info via the custom attributes etc) ?

[2021-04-26 08:44] sberyozkin commented on #16789
@bboyz269 `IdentityProvider`s are run as part of the process for creating an injectable `SecurityIdentity` hence you see this error - so the context propagation is not quite relevant.

[2021-04-26 08:58] cescoffier opened #16797 "Restructure Vert.x extensions"
## Description

At the moment, we have 4 Vert.x related extensions. This is mostly because of decisions taken at the very beginning of the project, before Vert.x becomes the underlying engine (even the name of the extension is somewhat broken now).
So currently we have:

* vertx-core -> configure vert.x, produce the "bare" Vert.x instance
* vertx-http -> initialize Vert.x Web router(s) and the Ver

[2021-04-26 09:07] cescoffier commented on #16739
That is definitely a bug.

Not blocking the worker threads has almost no interest. What you don't want to block is the I/O thread. Co-routine should be dispatched on the Vert.x context handling the request.

[2021-04-26 09:08] #16601 closed

[2021-04-26 09:15] manovotn commented on #11447
I am going to close this issue because the original problem (self-invocation and interception) is a grey specification area and the current implementation was a design choice - in other words, it is intentional that self-invocation triggers interception.

@leonardowestphal I think your report is unrelated to this issue - please create a separate issue and apart from this code also include a stackt

[2021-04-26 09:15] #11447 closed

[2021-04-26 09:26] danberindei commented on #16315
@theseeker58 the problem is that you are setting the annotation processor paths explicitly in the compiler plugin:

[code]

Normally the compiler plugin automatically detects the annotation processors from all the jars on the classpath. But when you set `annotationProcessorPaths` in the `maven-compiler-plugin` configuration, the compiler will only look for annotation processors in the jars you spe

[2021-04-26 09:26] masini opened #16799 "Problems with RestEasy Reactive and Reactive REST Client"
## Describe the bug
I created a test-case problems that shows how using the reactive version we've got problems in the interaction between RESTEasy Reactive, Reactive REST Client and various handler and filters

### Expected behavior
The tests should run all correctly

### Actual behavior
Using the profile reactive tests fails

## To Reproduce

[https://github.com/masini/reactive-rest-test.git](ht

[2021-04-26 09:42] Sanne commented on #16589
+1 to forbid using a mix for the same PU.

We should keep allowing the use of a different configuration method for a different PU though.

To be clear our initial plan was that the use of `persistence.xml` would be phased out, but I don't think we ever considered all aspect of such a move.
IMO it's nice to optionally allow a full JPA-spec compliant use, so maybe we should just work on making the u

[2021-04-26 10:03] geoand commented on #16799
Thanks for reporting!

There were various fixes gone into `main`, could you check and see if they fix some or all of the issues?

[2021-04-26 10:11] geoand commented on #16784
Can you add an example of what you are looking for?

[2021-04-26 10:12] geoand commented on #16778
What version of Quarkus are you using? `1.38.0` is not a valid version.

Furthermore, can you add a reproducer project that we can test?

[2021-04-26 10:15] geoand commented on #16779
Can you please attach a sample project that reproduces this problem?

Otherwise it's very hard for us to be able to identify the exact issue and provide you the necessary help

[2021-04-26 10:18] geoand commented on #16781
@serrodcal it seems that the project is not public

[2021-04-26 10:43] ppalaga commented on #16439
We recently started doing something like that in Camel Quarkus - see e.g. https://github.com/apache/camel-quarkus/pull/2477 There are some time measurements before and after the change in the final PR comment.

We run the grouped tests by the community CI and the isolated tests are run by Camel QE on internal RH infra. I admit that we may revisit this strategy once we start using GIB.

[2021-04-26 10:50] serrodcal commented on #16781
Sorry, now it's public.

[2021-04-26 10:55] geoand commented on #16781
The problem is that you are not using the BOM (you need to use `quarkus-bom` as is mentioned in the release announcement)

[2021-04-26 10:55] #16781 closed

[2021-04-26 11:11] zakkak commented on #16439
Thanks for the info @ppalaga .

With GIB in place the "grouping" of multiple tests in a single native image indeed doesn't seem to be worth the effort.

So if there are no tests that could be combined without possible negative effects to the quality of testing, I suggest we close this issue and leave things at their current state.

[2021-04-26 11:35] theseeker58 commented on #16315
@danberindei unfortunately that explicit configuration is needed by mapstrut. Without that, mapstruct no longer generates sources from the annotated interface. Mapstruct behaviour seems to be different from protostream approach. So how to?

[2021-04-26 11:36] #16769 closed

[2021-04-26 11:47] ppalaga opened #16804 "quarkus.test.flat-class-path=true required to run Avro tests"
7ca3307d331a104a24e8af87a473ac24a5880ad7 added `quarkus.test.flat-class-path=true` to various Avro related test modules see e.g. https://github.com/quarkusio/quarkus/commit/7ca3307d331a104a24e8af87a473ac24a5880ad7#diff-6d16e1bd2cec46a1c2d8f00ec4f3476b7554df6379ac769a0492f8aad9f69911R10 Not sure what particular failure symptoms were observed there.

After upgrading to Quarkus 2.0.0.Alpha1, adding `

[2021-04-26 11:47] ppalaga commented on #16804
I guess this is something for @stuartwdouglas

[2021-04-26 11:59] hhovhann opened #16805 "Clicking from dev UI tests from container getting an error"
## Describe the bug
Clicking from dev UI tests from container throwing an  Internal server error
### Expected behavior
Should navigate to new test tab
### Actual behavior
Throwing an error
`io.quarkus.qute.TemplateException: Loop error in template [io.quarkus.quarkus-vertx-http/test] on line 47: {info:tests.results.passing} not found, use {info:tests.results.passing.orEmpty} to ignore this error

[2021-04-26 12:00] leonardowestphal commented on #11447
@manovotn
The code I posted is just an example of the legacy code that I'm migrating and, as it doesn't work, I had to separate it into a "standard" interceptor, just like the one mentioned in this issue, so my problem became identical to this one.

If Quarkus supported interceptor methods on superclasses, I could maintain the structure of the legacy code, but if the self-invocation continues to o

[2021-04-26 12:01] leonardowestphal commented on #11447
Would it be possible to think of an alternative to resolve the issue of self-invocation?

[2021-04-26 12:29] manovotn commented on #11942
I have composed a test to see what we actually support; it's taken from interceptors TCK and works with a hierarchy of interceptors as well as hierarchy of interceptors declared on a target class.
Test can be seen [here](https://github.com/manovotn/quarkus/tree/interceptorInheritance) and is based on [this TCK test](https://github.com/eclipse-ee4j/cdi-tck/blob/3.0.2/impl/src/main/java/org/jboss/cd

[2021-04-26 12:38] #16721 closed

[2021-04-26 12:39] YunaBraska commented on #16779
@geoand I created a small project now https://github.com/YunaBraska/quarkus_16779 and I was lucky to also point more error details as this clean project returns an error like `No serializer found for class ApiError and no properties discovered to create BeanSerializer (to avoid exception, disable SerializationFeature.FAIL_ON_EMPTY_BEANS)`
So somehow the serialisation does not work on native. I cou

[2021-04-26 12:46] manovotn commented on #11447
I see. I don't think we are planning to support interceptors declared on target class (or it's superclasses) as that brings a lot of complexity and frankly speaking is super-rarely used. It also stands out from other interception as it doesn't even use bindings and the specification mentions it very briefly.

I don't think that's planned, at least not now. The fact that self-invocation triggers in

[2021-04-26 12:49] FroMage commented on #16425
@SaumyaSingh1 is going to look into that

[2021-04-26 12:51] MartinX3 opened #16806 "Kotlin 1.5.10"
## Description

Dear developers,

regarding https://github.com/quarkusio/quarkus/issues/11428 would it be possible to switch to kotlin 1.5 now? Maybe for 2.0 if some stuff in quarkus needs to get adapted to use its new features.
Kotlin 1.5 is now available via the dependency manager.

## Implementation ideas
N/A

[2021-04-26 12:55] renegrob commented on #16789
@sberyozkin Yes. Currently it is possible but you have to replace/extend the `HttpAuthenticationMechanism`in order to put additional context in the `AuthenticationRequestContext`.
I don't know if it is possible to let `QuarkusIdentityProviderManagerImpl` augement the `AuthenticationRequestContext` similar to the augmenters already present for `SecurityIdentity`. Are we still on the Vertx thread wh

[2021-04-26 12:59] geoand commented on #16779
In your project all you need to do is add `@RegisterForReflection` on the `ApiError` class and the problem goes away.

More details can be found at https://quarkus.io/guides/writing-native-applications-tips#registering-for-reflection

[2021-04-26 12:59] #16779 closed

[2021-04-26 12:59] mkouba commented on #11447
Well, Quarkus is simply not another Java/Jakarata EE application server and you'll hit incompatibilities here and there. We do try to keep things aligned with the specs where possible but we also made some design decisions that (we believe) fit better the Quarkus goals and architecture.

[2021-04-26 12:59] famod commented on #16806
This would also be required to get the Kotlin bits building in Quarkus CI.

FTR, @evanchooly commented on 1.5.0-*rc* [here](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Quarkus.20tested.20on.20Java.2016/near/235726958):

[2021-04-26 13:02] masini commented on #16799
Sure, which branch ? I'm a bit confused now that 2.0 is coming !

[2021-04-26 13:03] geoand commented on #16799
`main`

[2021-04-26 13:07] YunaBraska commented on #16779
@geoand is there any other cleaner way to do this? This annotation sounds for me like an `@Dirty`-Solution...

[2021-04-26 13:09] MartinX3 commented on #16806
Yes, Kotlin 1.5 seems to be final now according to its new version number.

And good to know what is needed there.
So it depends on https://github.com/quarkusio/quarkus/issues/16195

Kotlin 1.5 won't work with Java LTS 11 ?

[2021-04-26 13:10] geoand commented on #16779
There is no way for Quarkus to know that you are using the `ApiError` as a DTO

[2021-04-26 13:30] andreas-eberle opened #16807 "Make quarkus.lambda.handler property a compile time property"
## Description

At the moment the property `quarkus.lambda.handler` is a runtime property. However, compiling a project with multiple lambda handlers, requires you to specify this property during compile and during runtime.

I think it would make more sense to change this property to a compile time property. This way, Quarkus could use the information to remove all the other handlers and optimize

[2021-04-26 13:31] andreas-eberle commented on #16807
This is also a bit related to #16188.

[2021-04-26 13:39] chris-asl opened #16808 "Cannot transform *class as its containing application archive could not be found"
I have created an MCVE where I have the classic greeting resource and I've added a Utility class (private constructor w. one static method).

When using `jacoco-extension` the tests run just fine, but when adding `quarkus-smallrye-openapi`, dependency, I get  these warnings when running tests:

[code]

Are the warnings valid (and thus I am misusing something)?
~Is such a utility class to be avoide

[2021-04-26 13:40] leonardowestphal commented on #11447
Ok, Thanks guys!
I will try to use Threadlocal as a workaround.

To reset the Threadlocal could I use a mechanism similar to this?

[code]
Could you advise me on the best way to do this using Quarkus?
After each Thread execute I need to make sure that Threadlocal is clean.

[2021-04-26 13:52] sberyozkin commented on #16789
I think so, which is why a `runBlocking` alternative is provided. But augmenting `AuthenticationRequestContext` on the Vert.x thread should work as it would me simply about associating some request properties with it.

[2021-04-26 13:58] #8145 closed

[2021-04-26 14:01] pjgg opened #16809 "Kafka AVRO (Strimzi / apicurio) - new required property"
## Describe the bug
Seems that a new property is required.

Quarkus version: Upstream

[The following](https://github.com/quarkus-qe/beefy-scenarios/tree/main/301-quarkus-vertx-kafka) scenario is failing after pointing to the latest Quarkus upstream changes.

New required property: `apicurio.registry.use-specific-avro-reader=true`

Unset the following property:

`apicurio.registry.avrodatumprovide

[2021-04-26 14:10] patriot1burke commented on #16188
Isn't this just a matter of modifying manage.sh?

[2021-04-26 14:13] Ladicek commented on #16809
Note that `use-specific-avro-reader` is only read by `DefaultAvroDatumProvider`. If you use `ReflectAvroDatumProvider`, which is still possible, then `use-specific-avro-reader` is ignored.

The problem you're facing is a different problem -- one that has to do with Avro class loading.

[2021-04-26 14:13] #16809 closed

[2021-04-26 14:24] pjgg opened #16810 "Kafka / Avro class loader issue"
## Describe the bug

Suddenly beefy-ts/reactive-kafka stop working. Looks that we have a problem related to class loading order.

[Scenario](https://github.com/quarkus-qe/beefy-scenarios/tree/main/301-quarkus-vertx-kafka)
**How to reproduce:** `mvn clean test -pl 301-quarkus-vertx-kafka`
**Quarkus Version:** Upstream
**Error message:** `class io.quarkus.qe.kafka.StockPrice cannot be cast to class

[2021-04-26 14:33] FroMage commented on #15239
@anthony-quiros Turns out this sort of projection is not supported by Hibernate, as noted in the hibernate/hibernate-reactive#723 issue.

[2021-04-26 14:37] Ladicek commented on #16810
This is because when locating the Avro schema of the generated class, Avro tries to load the generated class first from the class loader that loaded Avro itself. Only if that fails does Avro consult the TCCL. In the Quarkus architecture, Avro is loaded by the Quarkus base CL, which has the JDK app CL as a parent -- so it can always find the generated classes, because they are on the JVM classpath.

[2021-04-26 14:43] #16794 closed

[2021-04-26 15:04] geoand commented on #16799
Understood, thanks.

@michalszynkiewicz can you take a look?

[2021-04-26 15:13] lordofthejars opened #16812 "Quarkus Istio extension"
## Describe the extension

Creates a Quarkus Istio extension that registers the Kubernetes extension but changes the generated Kubernetes annotations adding the Istio annotations to enable Istio sidecar.

## Additional context

I created this project to play a bit with Quarkus extensions but I think it would be interesting so you don't need to configure in `application.properties` the annotations.

[2021-04-26 15:17] knutwannheden opened #16813 "Security context not available in health check"
## Describe the bug
The health checks don't appear to have access to the security context (`SecurityIdentity` object) which was created for the corresponding `q/health` call.

### Expected behavior
When a health check is called the authenticated user should be available via the `SecurityIdentity` object.

### Actual behavior
The `SecurityIdentity` object in the health check always appears to repre

[2021-04-26 15:23] geoand commented on #16808
Mind sharing a small reproducer?

Thanks

[2021-04-26 15:25] knutwannheden commented on #16813
As [suggested on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Security.20context.20propagation.20in.20health.20checks.3F) I tried protecting the health endpoints using the following additional configuration:
[code]
It doesn't appear to make any difference. In the health check the security identity is still not available.

Please also note that the reproducer contains an

[2021-04-26 15:57] mweber03 commented on #16659
So I guess there's no way to get traditional environment variables into the `quarkusDev` task?

Basically I'm migrating some of our services to Quarkus and we previously had `JavaExec` tasks to run the dev mode (which has `environment` properties to set environment variables). But it sounds like we would have to migrate all of our internal `System.getenv` references to the microprofile config befo

[2021-04-26 16:14] dcaillia commented on #7696
We're using slf4j api in all our code.

Quarkus puts an impl (from jboss) on the classpath.

When i run a normal (non quarkus) junit tests from my IDE, i have no clue how to configure logging. It is not explained anywhere.

What i get: "LogManager error of type WRITE_FAILURE: The delayed handler's queue was overrun and log record(s) were lost. Did you forget to configure logging?"

What to do?

-

[2021-04-26 16:38] radcortez commented on #16659
I guess it could work if we made some changes to read the `.env` file in the quarkus dev mode runner and pass them to the running process.

But there are things that are not going to work, like configuration override, profiles, property expansion etc.

TBH, I don't we should support this, because we would have to support loading of all properties as well to make `System.getProperty` consistent and

[2021-04-26 16:42] ekasumov opened #16814 "Support regular expressions in CORS origins configuration"
## Description

Providing regex support when specifying the allowed origins in CORS configuration would be extremely helpful. Currently, there is no documented way of specifying allowed hosts without listing them explicitly, which may not be feasible.

Consider the following scenario: A Quarkus proxy service maps requests from multiple clients to multiple backend servers. The client instances are

[2021-04-26 16:52] ppalaga commented on #16804
The same kind of issue seems to be happening in Camel Quarkus AtlasMap test. AtlasMap has a compound classloader which allows for passing our preferred class loader, but there is no way to override the ordering of its delegate classloaders. (Actually their compound class loader is using a HashSet for storing the delegates, so the ordering is even not reproducible.) So when a bad ordering happens,

[2021-04-26 16:52] tsegismont commented on #13192
See also https://github.com/quarkusio/quarkus/issues/5403

[2021-04-26 17:59] rquinio commented on #12120
I think this may have been closed by mistake, as it's quarkus-kstream extension question/issue.

Anyway I've found a solution for this: simply inject a mock of KafkaStreams - a class that extends KafkaStreams and overrides start() to do nothing. The bean being singleton scope, it has to be done via QuarkusTestProfile CDI alternatives.

I'll do a PR to demonstrate that via https://github.com/quarku

[2021-04-26 18:27] toniperezfer commented on #8306
I would like to work on it. Any suggestions? Thanks.

[2021-04-26 19:01] rsvoboda commented on #15953
This is blocking us with https://github.com/quarkus-qe/quarkus-openshift-test-suite move to Quarkus 2.0.0 Alpha releases.

[2021-04-26 19:03] knutwannheden commented on #16813
FWIW, I also tested with `quarkus-resteasy-reactive` instead of `quarkus-resteasy` and the result is the same there.

[2021-04-26 19:04] geoand commented on #15953
@iocanel what do you want to do about this one?

[2021-04-26 19:49] jimbogithub commented on #16790
Have just observed more leaks which suggest the problem is not WebSocket specific.

[2021-04-26 20:06] missourian55 commented on #16807
Yes, we use it for the reasons you mentioned "One project with a bunch of lambdas". During the CDK-Cloudformation deployment we inject environment variables. This is super flexible for us.

`quarkus.lambda.handler=${LAMBDA_HANDLER:default}`

[2021-04-26 20:08] jorsol opened #16817 "quarkus.kubernetes.ports fails on Quarkus 2.0.0.Alpha1"
## Describe the bug
Using `quarkus.kubernetes.ports.remote.container-port=9090` makes the build fails.

### Expected behavior
Generate the correct YAML with the included port:
[code]

### Actual behavior
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Add `quarkus-kubernetes` extension.
2. Add port configuration.
3. Build.

### Configuration
[code]

[2021-04-26 20:24] jamesfalkner commented on #16776
Figured it out. When on the command line, one must escape the quotes (otherwise the shell strips them). e.g.

`mvn package  -Dquarkus.openshift.annotations.\"app.openshift.io/connects-to\"=foo`

Without the the escapes, the OpenShift plugin just ignores it.

[2021-04-26 20:24] #16776 closed

[2021-04-26 21:29] jimbogithub commented on #16790
![image](https://user-images.githubusercontent.com/5095954/116153168-01cc3000-a73b-11eb-971a-cc58d39d2d3d.png)

[2021-04-26 21:37] pak3nuh commented on #16739
Hi all,

I've made some changes to capture the vertex context and run the coroutines on a vertex worker. It seems to run in the correct thread, but I'm very new to quarkus internals and I may missing something.
Also, I'd like your inputs because I believe we should expose the coroutine scope for user customization and I'm not sure how. Still learning how the extension mechanism works.

The changes

[2021-04-27 01:25] nicolas-vivot commented on #16234
@Ladicek @kenfinnigan Any ideas when the extension repository will be available ?

Is there anything special i need to know to make my extension compliant with version 2.0 of Quarkus ?

[2021-04-27 03:14] stuartwdouglas commented on #16425
It's fairly coarse grained, and can already be enabled: https://github.com/stuartwdouglas/quarkus/blob/ac8b99c0d022e7e26eb18834e39282821933c31f/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/HttpConfiguration.java#L223

[2021-04-27 04:41] geoand commented on #16817
Should be fixed in https://github.com/dekorateio/dekorate/pull/752.

[2021-04-27 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/787934010

[2021-04-27 05:23] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/787935302

[2021-04-27 05:58] bboyz269 commented on #16789
Is my understanding correct that it's currently impossible to have quarkus security with multi tenant hibernate JPA?
Since RoutingContext is not available  within `runBlocking` thread, `TenantResolver` just fails.
Or is there other bean that contains request information I can use here?

My current setup
[code]

[2021-04-27 06:03] stuartwdouglas commented on #16753
Looks like the fix for this did not go into the 4.x branch

[2021-04-27 06:27] #16755 closed

[2021-04-27 06:27] #16762 closed

[2021-04-27 06:29] chris-asl commented on #16808
@geoand I had posted a reproducer in the OP :-)
`git@github.com:chris-asl/quarkus-jacoco-smallrye-openapi.git`

Here's the link to the repository https://github.com/chris-asl/quarkus-jacoco-smallrye-openapi

[2021-04-27 06:29] geoand commented on #16102
I think that https://github.com/quarkusio/quarkus/pull/16791 should take care of this. The original fix in https://github.com/quarkusio/quarkus/issues/12498 was incorrect

[2021-04-27 06:31] geoand commented on #16808
Thanks!

@phillip-kruger mind taking a look please?

[2021-04-27 06:43] phillip-kruger commented on #16808
Public holiday today, I'll have a look tomorrow, except if @MikeEdgar wants to have a look today.

[2021-04-27 06:56] lburgazzoli commented on #16102
I'll have a look but it is likely to take a while as I need to rebuild the whole dependency tree. Feel free to close this and I'll reopen if it is still an issue

[2021-04-27 06:58] geoand commented on #16102
No worries.

Let's just keep this issue and you can update it when you have the time

[2021-04-27 06:58] geoand commented on #16808
Thanks 👍

[2021-04-27 07:03] Ladicek commented on #16234
I don't know anything about the process around Quarkiverse extensions, or if there's any. I know @gastaldi is involved, so pinging him :-)

(Also CC @gsmet -- wouldn't it make sense, for the Quarkus bot, to ping Quarkiverse people on issues labeled `kind/extension-proposal`?)

[2021-04-27 07:19] michalszynkiewicz commented on #14820
@cescoffier I'm able to reproduce it on 2.0.0.Alpha1, will take a deeper look

[2021-04-27 07:20] #16358 closed

[2021-04-27 07:21] nicolas-vivot commented on #16234
Oh ok sorry about that.

@gastaldi Could you please have a look at this proposal ? :)

[2021-04-27 07:23] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/787941949

[2021-04-27 07:43] mkouba commented on #16797
@cescoffier Hm, I suppose that we want to keep the FQCN of API classes, e.g. `io.quarkus.vertx.web.RouteFilter`, right?

[2021-04-27 07:47] YunaBraska commented on #16779
What does `@RegisterForReflection`? It sounds like it does more than needed.
I have found a different solution by creating a dummy endpoint which returns my error DTO as a response.
As far as I understand, the usual endpoint DTOs are creating meta files for the serialisation which is probably better than the usage of `@RegisterForReflection`. So what I am missing is basically something like `DtoRe

[2021-04-27 07:52] michalszynkiewicz commented on #14820
In my tests, in the hibernate version, it is enough to close the session, e.g.:
[code]

@Sanne @cescoffier @FroMage what should close the session?

[2021-04-27 08:02] 0SkillAllLuck commented on #14820
@michalszynkiewicz I have tried a similiar aproach with Panache.getSession().close(), that seems to work fine under light load but caused issues under higher load. I will try to collect the concrete exceptions and errors that were caused. Is Panache.getSession() and JpaOperations.getSession() the same?

[2021-04-27 08:12] geoand commented on #16779
The doc I linked to above should explain, no?

[2021-04-27 08:20] michalszynkiewicz commented on #14820
indeed, three terminals each making 4000 calls with grpcurl result in some
[code]

[2021-04-27 08:23] 0SkillAllLuck commented on #14820
It seems like the higher the load the more percentage of the request result in that error.

[2021-04-27 08:34] YunaBraska commented on #16779
Oh sorry I missed that link, thx

[2021-04-27 08:36] Namphibian commented on #16257
Unfortunately the project i was working on has been cancelled. I do think this will be a good feature to have but my time is so limited at the moment that I suggest we close this.

[2021-04-27 08:36] #16257 closed

[2021-04-27 08:40] geoand commented on #16779
👍🏼

[2021-04-27 08:54] iriikoad commented on #7519
I don't know if I'm out of subject, but I have a workaround as in my config, there is relative directories.

So I have to do this to set the user.dir:

`mvn compile quarkus:dev -Duser.dir=%cd%`

[2021-04-27 08:58] #16805 closed

[2021-04-27 09:11] #16437 closed

[2021-04-27 09:27] #16763 closed

[2021-04-27 09:29] Sanne commented on #14820
@michalszynkiewicz thanks for helping :) I suspect this might be a duplicate of https://github.com/hibernate/hibernate-reactive/issues/707 , could you build Hibernate Reactive from `main` and try reproducing with that one?

[2021-04-27 09:33] Sanne commented on #14820
@michalszynkiewicz sorry I was wrong, that fix was already integrated in Quarkus main: https://github.com/quarkusio/quarkus/pull/16588 -

[2021-04-27 09:35] 0SkillAllLuck commented on #14820
Also I had the same issue without the reactive version of hibernate, so shouldn‘t be a hibernate-reactive issue

[2021-04-27 09:36] francescopace commented on #7696
Another trick is to completely remove `slf4j-jboss-logmanager` dependency during test:

            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>${surefire-plugin.version}</version>
                <configuration>
                    <classpathDependencyExcludes>

[2021-04-27 09:41] michalszynkiewicz commented on #14820
I see the session is created with `ReactiveSessionProducer#createMutinySession` but `disposeMutinySession` is not called, maybe that's one of the issues, lack of some CDI clean up of request scope?

That wouldn't explain why sometimes a closed session is used whe we add manual session closing...

[2021-04-27 09:55] vladykin opened #16827 "SmallRyeHealthProcessor#registerUiExtension throws NPE in a multi-module CI-friendly maven project"
## Describe the bug
I have a multi-module CI-friendly (https://maven.apache.org/maven-ci-friendly.html) Maven project.
The project consists of parent pom and multiple submodules, some of which are Quarkus-based applications.

Version in every pom.xml is declared as
[code]
the same version format is used to refer to parent pom in all sub-modules.

Default values for revision and sha1 are defined in

[2021-04-27 09:56] vladykin commented on #16827
Seems related to https://github.com/quarkusio/quarkus/issues/9727

[2021-04-27 10:23] Sanne commented on #14820
Keep in mind that the Session can't be closed yet after the reactive method is invoked, as it needs to process the IO results when the actual data to process is returned. It should be closed automatically at the end of such event.

@mkouba had a fix for something that might be related, but AFAIR he mentioned it wouldn't cover all use cases:
 - https://github.com/quarkusio/quarkus/issues/14595

[2021-04-27 10:32] cescoffier commented on #16797
As it's not the most used feature, if that's an issue, I would not mind a new package with a note in the migration guide.

[2021-04-27 10:52] DavideD commented on #16712
Which version of quarkus are you using?

[2021-04-27 10:58] mkouba commented on #16797
I mean in general, i.e. the same applies to `io.quarkus.vertx.ConsumeEvent`, `io.quarkus.vertx.web.Route`, etc.

[2021-04-27 10:58] DavideD commented on #16712
It seems the issue is related to a `@OneToMany` association mapping, could you show me how you've mapped some of the entities or create a small test case I can run?

[2021-04-27 11:02] DavideD commented on #16712
Maybe when you set the log to debug level, you are trying to print an association that's not initialized yet?
Hibernate Reactive doesn't support lazy fetching of associations, you need to fetch them explicitly.

For example:
[code]

Where `author.books` is a one-to-many association.

You can find more details about this in the Hibernate Reactive documentation: [1.2.11. Fetching lazy associations](

[2021-04-27 11:03] DavideD commented on #16712
Anyway, I need more information about this to be able to help you.

[2021-04-27 11:08] DavideD commented on #16712
Mmmh... maybe not... it seems that the issue happens when the persister is created

[2021-04-27 11:12] DavideD commented on #16712
Never  mind, I think I've found the problem: https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/persister/collection/impl/ReactiveOneToManyPersister.java#L52

The log is called in the superclass before the variable `this.parameters` is initialized. This causes the null pointer when `getSQLInsertRow()` is called for logging: https:

[2021-04-27 11:37] nielspardon opened #16831 "Disabling container image push is impossible"
## Describe the bug

The Quarkus guide for building container images lists the `quarkus.container-image.push` property as a means of enabling / disabling the push of a container image. In practice this property will never disable the image push due to a bug in the current code base.

### Expected behavior
Set `quarkus.container-image.push` to `false` and observe that the container image is not pus

[2021-04-27 11:43] geoand commented on #16831
I'll take a look soon

[2021-04-27 11:50] gsmet commented on #16768
@stuartwdouglas I don't know if you have seen this one but I think it makes a lot of sense? If you agree it does, I can work on it.

[2021-04-27 11:59] danberindei commented on #16315
@theseeker58 like the `<annotationProcessorPaths>` documentation says, "If specified, the compiler will detect annotation processors *only* in those classpath elements." (my emphasis)

That means you can't add one processor path explicitly and expect the compiler to automatically detect the other processors, you must add all processor paths explicitly. You can add the protostream processor path ex

[2021-04-27 12:17] gastaldi commented on #16234
Thanks for the ping, @Ladicek :)

@nicolas-vivot no worries, I'll create a repository to get you started. Are you comfortable in being the lead maintainer of this extension?

[2021-04-27 12:23] DavideD commented on #16712
I've created this issue in Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/issues/726

[2021-04-27 12:30] geoand commented on #16831
I can't reproduce this.

Setting `quarkus.container-image.push` works as expected for both boolean values and both container-image extension.

What **exactly** are you doing to make to problem appear?

[2021-04-27 12:35] vsevel opened #16833 "quarkus scheduler does not await termination of scheduledExecutor"
## Describe the bug
I execute the following code inspired from https://quarkus.io/guides/scheduler:
[code]

When hot code replace happens in dev mode, the scheduler extension does not wait for the `scheduledExecutor` to terminate.
as a result, the old timer continues executing the tasks that are in progress in parallel with the new tasks scheduler by the new timer.
Eventually, the old code finishe

[2021-04-27 12:37] kimhyeongjun commented on #16712
used 1.13.1

[2021-04-27 12:39] kimhyeongjun commented on #16712
The entity I created is as follows
[code]

[code]

[2021-04-27 12:41] DavideD commented on #16712
Thank you @kimhyeongjun! I've already found the problem and I'm now thinking about how to solve it.
It's a bug in Hibernate Reactive. Thanks for finding it :-)

[2021-04-27 13:16] nielspardon commented on #16831
I have to apologize. I was trying to change an existing internal multi module project and after a lot of debugging thought I fully understood what's going on. I was trying to conditionally configure the image push behavior using different Quarkus profiles.

Using Gradle I was using a snippet like the following and running `./gradlew image`:

[code]

What I only realized after preparing a reproduci

[2021-04-27 13:16] #16831 closed

[2021-04-27 13:17] stuartwdouglas commented on #16768
Because we are using testcontainers this is not as simple as it sounds, even though it makes sense, as testcontainers always picks a random port. I think the best you could do is open a socket on the 'fixed' port, and just use it to manually port forward to the underlying instance.

We may end up needing to do our own stuff rather than continuing to use testcontainers, another use case I have that

[2021-04-27 13:17] geoand commented on #16831
No problem :)

[2021-04-27 13:24] xstefank commented on #16813
I believe this should be able to be fixed as health is using different dispatch/handling of the routing context. I will try to fix this.

[2021-04-27 13:37] gsmet commented on #16768
Something like https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/containers/FixedHostPortGenericContainer.java wouldn't work?

[2021-04-27 14:01] mkouba commented on #16833
So first of all I don't think this is an acceptable solution - a scheduled task may take a long time to complete and the whole point of the hot replacement is to redeploy the app immediately.

You're right that we don't wait for actively executing tasks. In fact, the scheduled tasks are executed on the default blocking Quarkus `ExecutorService` and not the `ScheduledExecutorService` which is only

[2021-04-27 14:21] anthony-quiros commented on #15239
@FroMage,
Thanks a lot for the work and the information 🙏

[2021-04-27 14:29] zakkak opened #16837 "[native-iamage] Kafka Avro with Apicurio 2.x fails to build with GraalVM CE 21.1.0"
## Describe the bug
Kafka Avro with Apicurio 2.x fails to build with GraalVM CE 21.1.0

### Expected behavior
The test should build and pass.

### Actual behavior
Native image generation fails with:
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Grab GraalVM CE 21.1.0
2. `export GRAALVM_HOME=/opt/jvms/graalvm-ce-java11-21.1.0`
3. `./mvnw clean verify -Dnative -Dnative.surefire.skip -

[2021-04-27 14:29] zakkak commented on #16837
/cc @gsmet @Ladicek

[2021-04-27 14:31] michalszynkiewicz commented on #14820
IIRC, the request context clean-up wasn't working properly for this use case.

@0SkillAllLuck , if you'd like to test if it works for you, you can use this branch: https://github.com/michalszynkiewicz/quarkus/tree/grpc-request-context-cleanup

[2021-04-27 14:41] gsmet commented on #16837
See https://github.com/quarkusio/quarkus/pull/16839 for discussion.

[2021-04-27 14:41] Ladicek commented on #16837
I didn't know we have an extension for Apache HTTP Client :-) I guess it doesn't come into play here, because no one depends on it.

[2021-04-27 15:02] hellcats88 opened #16840 "RolesAllowed annotations on interface are ignored"
## Describe the bug
The @RolesAllowed annotation on the interface method that describes the REST API is ignored.
The only way to enable the role check is to add the annotation on the class method of the API implementation.

### Expected behavior
Usually the description of the API (Swagger, input/output, queryparams and other API descriptions are placed on the interface method to make the implement

[2021-04-27 15:09] sberyozkin commented on #16840
Hi Michal @michalszynkiewicz, Stuart @stuartwdouglas,
It rings a bell, I recall there was some discussion about not supporting RolesAllowed inheritance - do you recall if it was made intentionally ? I guess yes as otherwise one can have the endpoint implementing N interfaces, each of them bringing the conflicting RBAC rules, so I'd say this is an out of box expectation that these rules are set on

[2021-04-27 15:13] sberyozkin commented on #16840
Hi @hellcats88 I've updated the subject to make it more specific as it does not only apply to OIDC but to the authorization layer in general

[2021-04-27 15:21] gastaldi commented on #16234
Repository created in https://github.com/quarkiverse/quarkus-datadog-opentracing with a sample code and invitation to join the team sent. Let me know if you need any assistance.

[2021-04-27 15:21] #16234 closed

[2021-04-27 15:34] Ladicek commented on #16544
PR sent: #16544

[2021-04-27 15:44] sberyozkin commented on #16719
@fwippe it was a false alarm - it was just the way the test was set up - in fact 2 different filters extending `AbstractTokensProducer` do log independently (and their state is not shared) - I assumed the `static` updater might have its own state, etc. So for now I'll drop the idea of using `AtomicReference` instead, though may revisit it later again
thanks

[2021-04-27 15:44] #16719 closed

[2021-04-27 15:53] DavideD commented on #16255
Shouldn't we close this issue? The fix was release with 2.0.0.Alpha1: https://github.com/quarkusio/quarkus/pull/16588

[2021-04-27 15:54] dmlloyd commented on #16833
I believe you are correct.  It might be interesting/useful to set it to interrupt immediately in dev mode though?

[2021-04-27 16:06] renegrob commented on #16789
@bboyz269 Well, you can access the `RoutingContext` in the corresponding token `HttpAuthenticationMechanism` and then set the header's value as attribute on the `TokenAuthenticationRequest`.
And if Sergey is right, then you could also use `RoutingContext` before you call `context.runBlocking` in your `IdentityProvider`'s `authenticate`method. That way you don't need to have to extend the correspon

[2021-04-27 16:08] lwitkowski commented on #14067
Hi @ferinoc, I think you might be interested in this extension: https://github.com/TietoEVRY/quarkus-resteasy-problem

Would be great to get some feedback, we're still working on it, but it's pretty stable already, and I personally think it's the best way for quarkus, but my opinion may be biased ;)

[2021-04-27 16:19] pjgg opened #16844 "Quarkus Rest Client + `quarkus.application.name` doesnt work in Openshift"
## Describe the bug

If you have the following appliaction.property and restClient:

Application.property:

[code]

RestClient:

[code]

When you are making a query (to an endpoint that use this HttpClient) on JVM mode works as expected but the same test over openshift fails with the following error:

[code]

*Note:* used to work in Quarkus 1.11

You have a full reproducer on this test: https://gi

[2021-04-27 16:47] #16651 closed

[2021-04-27 16:48] xstefank commented on #16813
So this works for the first invocation, however, the issue is that we cache the health check invocations in Mutiny Unis on the SmallRye side. I will need to find some way around this in SR.

[2021-04-27 17:06] lacrosse1991 commented on #10891
Hi ncomet, were you able to find a fix for this in the end?

[2021-04-27 18:03] vsevel commented on #16833
I agree. and at the same time it is very confusing.

strange. with that code:

[code]

and interrupting just after starting run 3, I see:

[code]

I don't see `executor-thread-198` being interrupted at all.

yes that would be a pragmatic approach.
the only drawback is that you rely on the app code, and any library it is using to correctly handle the interrupted exception (and not swallow it).
in o

[2021-04-27 18:07] Sboddd opened #16847 "SecurityIdentity not being set in websocket OnOpen, OnMessage, etc callbacks"
## Describe the bug
I have a Quarkus (1.6.1.Final) application that uses quarkus-oidc for user authentication. My server has a websocket endpoint:

@ApplicationScoped
@ServerEndpoint(value="/websocket")
public class WebsocketEndpoint {
  @Inject
  SecurityIdentity identity;

  @OnOpen
  public void onOpen(Session session) {
    // at this point identity is always Anonymous, even if I use a valid a

[2021-04-27 19:01] bpasson opened #16849 "Quarkus extension classpath issues with 2.0.0.Alpha1"
## Describe the bug
I'm working on upgrading the RabbitMQ Client extension to support Quarkus 2.0.0.Alpha1 and am running into classpath issues it seems. Resources from the test-classpath added to the @RegisterExtension deployment are not being found. Furthermore when running ./mvnw clean verify `java.lang.IllegalAccessError: failed to access class ...` errors show up.

### Expected behavior
Runni

[2021-04-27 19:46] JimTyrrell opened #16850 "It would be great to have native Let's Encrypt Support in a Quarkus Module"
## Description

Let's Encrypt has become the standard for implemented HTTPS communications on the internet.  It would be lovely to use 1 or more of the libraries that deliver this capability in Java and make Let's Encrypt a module within Quarkus.  With some pointers or a bit of a mentor I would be willing to take this on.

## Implementation ideas
It seems like the library https://github.com/shred/

[2021-04-27 19:50] JimTyrrell opened #16851 "It would be great for Quarkus to Support SNI for multiple HTTPS Certs available against a single IP address and port"
## Description
Looking at the capabilities of Quarkus the requirement to bring in OpenShift, NGinx, and other software load balancers to front Quarkus, to only get the benefits of SNI(multiple ssl certs against multiple domains at one IP address and Port) seems like operational and network overhead that is unnecessary.

## Implementation ideas
Looking into the Undertow libraries and the Vert.x cod

[2021-04-27 20:03] jimbogithub commented on #7696
Nice, although it looks like Eclipse doesn't honour that.  Good on Maven cli though.

[2021-04-27 21:14] adrianfiedler commented on #16701
Hi @mkouba, @machi1990,
not sure if this is still in progress, but I played a little around with the schedulers. Do you mean something like here?
https://github.com/quarkusio/quarkus/pull/16855

[2021-04-27 21:29] famod commented on #16806
@MartinX3

I haven't checked but I'd be very surprised if it doesn't work with 11.

[2021-04-27 21:37] MartinX3 commented on #16806
Argh, I'm sorry, I misunderstood your message :)

[2021-04-27 21:50] #16837 closed

[2021-04-27 22:19] ncomet commented on #10891
Unfortunately no. I did not have time to look any further into this.

[2021-04-27 23:36] nicolas-vivot commented on #16234
@gastaldi Thank you very much ! No problem being the lead maintainer.

[2021-04-28 00:02] stuartwdouglas commented on #16789
Maybe we should always provide the RoutingContext as an attribute via `io.quarkus.security.identity.request.AuthenticationRequest#setAttribute`

[2021-04-28 01:07] bboyz269 commented on #16789
Sorry I didn't phrase my issue properly.

I could collect request information (RoutingContext) by implement a new `AuthenticationRequest` or just collect them before passing to `runBlocking` as final variables.
What I couldn't do is access to RoutingContext in `TenantResolver` (hibernate orm multitenant). Please check my previous post for the code.

This should be a problem with quarkus-hibernate-