[2021-06-30 15:57] gsmet commented on #18275
Maybe a Maven version incompatibility? Could you try with Maven 3.8.1 if
you're not using it already?

On Wed, Jun 30, 2021 at 5:54 PM Bertrand Deweer ***@***.***>
wrote:

[2021-06-30 16:17] geniusit commented on #18275
Yes, that's it.

Us it worth to add it on the migration guide ?

[2021-06-30 16:29] gsmet commented on #18275
Yeah, I'm surprised it doesn't work to be honest. It used to work but it
might be due to our latest tweaks on the subjects.

I will add something, thanks for the report!

On Wed, Jun 30, 2021 at 6:17 PM Bertrand Deweer ***@***.***>
wrote:

[2021-06-30 16:31] gsmet commented on #18275
Done!

[2021-06-30 16:31] #18275 closed

[2021-06-30 16:33] gsmet commented on #18257
@GopisettyVasavi I think we would need a reproducer (a simple Maven project reproducing the issue) to understand what's going on.

[2021-06-30 16:34] geoand commented on #18272
This is by design, @FroMage can tell you more

[2021-06-30 16:34] #18272 closed

[2021-06-30 16:37] ozangunalp opened #18276 "Kafka message payload types are not registered for reflection"
## Describe the bug
Serde message payloads need to be registered for reflection in native builds.
If these classes were not registered by another means (i.e resteasy extension) message serde does not work in native mode.

### Expected behavior

Message serde (jackson/jsonb) works in native mode.

### Actual behavior

For example with Jackson serialization fails with a similar stacktrace:

[code]

[2021-06-30 17:07] #18240 closed

[2021-06-30 17:15] phillip-kruger commented on #18257
There is no rules in Quarkus that should do what you describe. I would need a reproducer to look at this.

[2021-06-30 17:23] #18200 closed

[2021-06-30 17:25] raul-valdoleiros-gowithflow-io opened #18278 "Allow integration with zipkin"
## Description

Allow integration with zipkin like discussed in zulip

## Implementation ideas

[2021-06-30 18:09] felipewind opened #18279 "Quarkus - Using JWT RBAC - guide - typo"
## Describe the bug
In the [Quarkus - Using JWT RBAC ](https://quarkus.io/guides/security-jwt) guide the command below has a small typo:
[code]
The parameter `smallrye.jwt.sign.key-location` should be `smallrye.jwt.sign.key.location`.

### Expected behavior
[code]

### Actual behavior
[code]

## To Reproduce

On the quarkus-quickstarts/security-jwt-quickstart, just execute:
[code]

## Environment

[2021-06-30 20:26] #18019 closed

[2021-06-30 21:13] ntrp commented on #13663
I could start implementing a solution to support Ndjson on JaxRS endpoints if anybody can point me in the right direction. I have seen the SSE provider in JaxRS core but I think this one can be much simpler. I am still missing all the links to understand fully what is necessary to make it happen. Did a quick and dirty 10 min PoC with a custom provider but the provider receives a list of objects in

[2021-06-30 21:21] knutwannheden commented on #18063
Yes. Or also one of the resource names specified by MP Config should work, AFAICT.

Providing "fixed" (i.e. non-overridable) values is indeed what we want to achieve in some cases. But unless Quarkus itself can issue a warning when the developer attempts to override any such property (which would be the best solution from my perspective), this is one use case I have in mind for the validations I m

[2021-06-30 22:06] maxandersen commented on #12936
i think this is independent from anything related to platform resolution - its just about being able to generate a project that fits into a existing multimodule project afaik.

[2021-06-30 22:17] maxandersen opened #18285 "quarkus build -Dkey=value pairs should be passed through blindly"
## Describe the bug
at the moment we have special "propagatePropertyIfset" for quarkus build specific properties:

maven.repo.local, io.quarkus.maven.secondary-local-repo  and CONFIG_FILE_PATH_PROPERTY

this should not be in the cli as will have weird sidefects onusers.

### Expected behavior
just pass any -Dkey=value through.
I can;t think of a case where the cli treats key=value as somethng spec

[2021-07-01 00:08] stuartwdouglas commented on #14910
It should definitely be an error IMHO, I don't think there is any use case for picking one at random.

[2021-07-01 01:39] aomsweet opened #18287 "Quarkus 2.0.0.Final Log output null after startup."
## Describe the bug
Log output null after startup.
Is this some kind of unknown error?
[code]

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the repr

[2021-07-01 01:50] aomsweet opened #18288 "Console log has no color after switching to Quarkus 2.0.0.Final"
## Describe the bug
Console log has no color after switching to Quarkus 2.0.0.Final

### Expected behavior
![image](https://user-images.githubusercontent.com/70388114/124052663-767c5d00-da51-11eb-92ca-9c854456f141.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/70388114/124052725-927ffe80-da51-11eb-8adc-d7936812d8f8.png)

## To Reproduce

Link to a small reproducer (pr

[2021-07-01 02:02] stuartwdouglas commented on #18271
This seems to have been fixed by https://github.com/quarkusio/quarkus/commit/77224e4a15742fa9f2a4001f39f1b4bd0f1693eb

Basically we had a dependency that included the httpclient, excluded commons-logging, but did not include jboss-logging-commons-logging.

[2021-07-01 02:02] #18271 closed

[2021-07-01 02:05] stuartwdouglas commented on #18205
We could probably add a config property to select the application class.

[2021-07-01 02:09] liuzqt opened #18289 "io.quarkus.test.common.http.TestHTTPEndpoint can not recognized global ApplicationPath"
## Description

I have this to set a global prefix for all my API end points
[code]

and my resource end point:
[code]

so the actually end point should be `/api/v1/fruits`

however in my test class with `restassured`, the `io.quarkus.test.common.http.TestHTTPEndpoint` annotated test class failed to pick up the `/api/v1` common ApplicationPath, instead, it made request to `/fruits` only

Is it exp

[2021-07-01 02:24] stuartwdouglas commented on #17161
This has been done

[2021-07-01 02:24] #17161 closed

[2021-07-01 02:26] #17340 closed

[2021-07-01 02:29] #17356 closed

[2021-07-01 02:36] #8612 closed

[2021-07-01 02:36] bboyz269 commented on #18263
@gsmet
Issue is reproducible with bare configuration. Please check this out.
https://github.com/bboyz269/hibernate-orm-panache-kotlin-multi-persistence-unit

[2021-07-01 02:39] stuartwdouglas commented on #4371
I think this can be closed, there are no changes around this planned, I don't think we want to build separate native image test executables.

[2021-07-01 02:39] #4371 closed

[2021-07-01 02:48] stuartwdouglas commented on #12319
This is by design, the first test reports the boot failure as an error, every other test is skipped as they will all fail with the same error. It stops the logs being filled up with a massive amount of noise when you have a boot failure.

[2021-07-01 02:48] #12319 closed

[2021-07-01 03:37] jclingan opened #18290 "Continuous testing test count index off by 1"
NOTE: Quarkus 2.0.0.Final

## Describe the bug
When a test class has more than one test, the test count starts with a zero instead of 1, making it feel as if not all tests are run. For example, it feels ike only 2 of 3 tests are run and 3/3 will never be reached:
[code]

### Expected behavior
The output should look like the following, with 1/3, 2/3, and 3/3;
[code]
## To Reproduce
[Clone reproduce

[2021-07-01 04:15] liuzqt opened #18292 "what the behavior of multi-profile properties config?"
## Description
I saw this PR https://github.com/quarkusio/quarkus/pull/11145 but it didn't specify the behavior under multi-profile settings, for example, if I run in dev mode, it will try to pick up config from `application-dev.properties` first, and then fallback to `application.preperties`?

I assume the behavior is the same as `%prof.aa.bb.cc` and `aa.bb.cc` under single-config setting. I've d

[2021-07-01 05:09] wiradikusuma opened #18293 "[Regression] UnresolvedElementException: Discovered unresolved field during parsing"
## Describe the bug
I have a hierarchy of model classes:

[code]

It compiles perfectly to native with version `1.12.1.Final`. Ugrading to `2.0.0.Final` breaks native compilation:

[code]

### Expected behavior
Compiling to native code using `2.0.0.Final`should work.

### Actual behavior
Upgrading to `2.0.0.Final` breaks native compilation.

## Environment (please complete the following informatio

[2021-07-01 05:32] jmartisk commented on #18194
This will be fixed by upgrading SmallRye GraphQL to 1.2.6

[2021-07-01 06:02] cescoffier commented on #18276
It depends on the serializer. For JSON yes, for Avro, I'm not so sure, for a custom serializer, probably not.

[2021-07-01 06:57] geoand commented on #13663
Currently the JSON handling for SEE can be found in https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java

[2021-07-01 07:23] ozangunalp commented on #18276
True. It'll only be needed for Jsonb/Jackson serde.

[2021-07-01 07:24] iompo opened #18294 "Build fails when defining property quarkus.kubernetes.pvc-volumes"
## Describe the bug
Build fails when application.properties contains the property _quarkus.kubernetes.pvc-volumes_

### Expected behavior
build task should add the persistent volume claim info inside the kubernetes deploy script.

### Actual behavior
build fails with error
`java.lang.NoSuchMethodError: 'io.fabric8.kubernetes.api.model.PersistentVolumeClaimVolumeSourceFluent io.fabric8.kubernetes.a

[2021-07-01 07:27] gsmet commented on #18263
@evanchooly could you have a look to see if it's a Kotlin-specific issue? We have tests for multiple persistence units support for Java I think so maybe it's a corner case but it might as well be Kotlin-related.

Thanks.

[2021-07-01 07:29] #18252 closed

[2021-07-01 07:30] geoand commented on #18294
Looks like a Dekorate issue, right @iocanel !

[2021-07-01 07:31] #16806 closed

[2021-07-01 07:54] #18290 closed

[2021-07-01 08:15] bboyz269 commented on #18263
FYI, switching to `io.quarkus:quarkus-hibernate-orm-panache` and repository pattern works.
Persistence unit / entity manager could be resolved properly.
[code]
![image](https://user-images.githubusercontent.com/4453811/124090384-fcfb6380-da7e-11eb-966f-651a6abef130.png)

[2021-07-01 08:19] abrenn commented on #17767
@geoand any news on this topic?

[2021-07-01 08:21] wabrit opened #18295 "Allow reactive messenging connectors to create consumer spans"
## Description

When tracing inter-microservice interactions it is essential to be able to propagate tracing metadata across synchonrous and asynchronous calls. In the latter case, while Quarkus reactive messaging connectors create a span representing the connector processing of the message, they do not have the capability to create a span, descended from the incoming message span, that the consum

[2021-07-01 08:27] coiouhkc opened #18296 "QUARKUS - CONTINUOUS TESTING Guide Configuration property table layout broken"
## Description
See https://quarkus.io/guides/continuous-testing#configuring-continuous-testing starting with `quarkus.test.exclude-pattern`

## Implementation ideas
Looks to be a minor table formatting issue, if you could point out where the docu is generated from i could check it.

[2021-07-01 08:36] geoand commented on #17767
Not really no. I don't know what's going an the application doesn't dump the logs to the file

[2021-07-01 08:47] geoand commented on #18296
cc @gsmet

[2021-07-01 08:48] geoand commented on #18295
cc @kenfinnigan @cescoffier

[2021-07-01 08:49] geoand commented on #18293
Hi,

can you please attach a reproducer project?

[2021-07-01 08:51] geoand commented on #18292
cc @radcortez

[2021-07-01 08:53] geoand commented on #18288
I don't see this behavior in various sample projects.

What OS are you running on? What terminal are you using?

[2021-07-01 09:01] geoand commented on #18251
Yes, it is valid - albeit not widely used :)

[2021-07-01 09:12] hantsy commented on #14044
@Sanne The issue is resolved? I update [my sample](https://github.com/hantsy/quarkus-sandbox/tree/master/resteasy-reactive) to Quakrus 2.0.0.Final and then ran sample project today, there is no errors at the application startup,  and the data is inserted as expected.

[2021-07-01 09:22] Sanne commented on #14044
@hantsy interesting! But no I believe we still need some more details improved in Panache, coming soon in #17728 (not included in 2.0.0.Final)

I wonder if your specific reproducer is no longer reproducing the problem as in Quarkus 2.0 many more operations are running on  the right thread by default.

Let's keep this open for a little longer so I have a chance to verify things and add some more te

[2021-07-01 09:30] Sanne opened #18299 "Live-Reload not working with Hibernate Reactive"
## Describe the bug

Live-reload doesn't work when using Hibernate Reactive.

## To Reproduce

Using the `hibernate-reactive-quickstart`, start it in dev-mode

1. hit endpoint `localhost:8080/fruits`
2. change the named query declared on `Fruit` from "SELECT f FROM Fruit f ORDER BY f.name" to "SELECT f FROM Fruit f ORDER BY f.id"
3. hit endpoint `localhost:8080/fruits`

This throws an exception, a

[2021-07-01 09:31] gavinking commented on #18299
weird, i'm so sure I tested this!

[2021-07-01 09:38] ntrp commented on #13663
Ah cool, I did not find that one yet hehe. That's a really good entry point, thanks!

[2021-07-01 09:39] DavideD commented on #18299
To clarify, live reload doesn't work only if one changes something in the
entity.

It works if one changes something in the other classes

On Thu, Jul 1, 2021 at 10:31 AM Gavin King ***@***.***> wrote:

[2021-07-01 09:43] markusdlugi opened #18301 "Hibernate Reactive withSession() breaks named queries & context after hot reload"
## Describe the bug
When using HR's `sessionFactory.withSession()` or `withTransaction()`, a hot reload of the application will lead to various problems. For example, named queries will stop working (similar to #15164) or accessing an injected SecurityContext will trigger NullPointerExceptions.

### Expected behavior
Using HR `withSession()` behaves nicely and does not break the application after

[2021-07-01 09:45] abrenn commented on #17767
Do you need any more support or are you just dropping it?

[2021-07-01 09:46] geoand commented on #17767
I personally I am not looking into it (as the application does not use standard logging - other applications I tried worked just fine), others are obiously free to check

[2021-07-01 09:46] gsmet commented on #18296
Ah, yes, we need to escape `|`. I'll have a look, thanks for the report.

[2021-07-01 09:47] Sanne commented on #18299
@gavinking to be clear, yes it worked in the past. It's a recent regression; apparently we don't have tests for this.

[2021-07-01 09:47] markusdlugi commented on #18301
@Sanne Oh no, you beat me by 13 minutes! :laughing:
See #18299.

[2021-07-01 09:49] gavinking commented on #18299
OK

[2021-07-01 09:51] Ladicek commented on #17207
This will be implemented in SmallRye Fault Tolerance 5.2.0, see https://github.com/smallrye/smallrye-fault-tolerance/pull/449

[2021-07-01 10:05] Sanne commented on #18299
More details on duplicate issue: #18299

[2021-07-01 10:06] Sanne commented on #18301
thanks @markusdlugi ! I'll close this, but link it as you have added more interesting details.

[2021-07-01 10:06] #18301 closed

[2021-07-01 10:07] DavideD commented on #18299
I think you linked to this issue instead of the duplicate one

[2021-07-01 10:09] Sanne commented on #18299
thanks, fixed.

[2021-07-01 10:22] Postremus opened #18302 "Quarkus2 prints null when started using ant target"
## Describe the bug
When I run a quarkus 2.0.0.Final app using an ant target, I get 2 lines simply stating "null".

This is most likely related to the

### Expected behavior
When run in a terminal, these 2 nulls are empty lines.

### Actual behavior
[code]

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing

[2021-07-01 10:32] junbach commented on #18302
It's the same with #18287  . I got the same issue as well

[2021-07-01 11:02] geoand commented on #18287
Can you attach a project that reproduces this error please?

[2021-07-01 11:03] vladimirfx commented on #14756
Quarkus 2.0.0.Final:

[code]

[2021-07-01 11:37] tobiasstadler opened #18303 "CNFE when using (MP) ConfigProperties"
## Describe the bug
I tried to use ConfigProperties in my application, e.g.
[code]

This works fine using `mvn compile quarkus:dev -Dfoo.bar=foobar`, but crashes with `java -Dfoo.bar=foobar -jar target/quarkus-app/quarkus-run.jar`.

### Expected behavior
The application starts fine.

### Actual behavior
[code]

## To Reproduce

[Project.zip](https://github.com/quarkusio/quarkus/files/6747769/Proje

[2021-07-01 12:01] gsmet commented on #18296
Fixed on the website and https://github.com/quarkusio/quarkus/pull/18304 will fix it for good.

[2021-07-01 12:11] zakkak opened #18305 "Main and JSON-B ITs failing with latest GraalVM 21.3-dev"
## Describe the bug
The "Main" and "JSON-B" integration tests are failing with the latest graal `master`

The PR introducing the regression is https://github.com/oracle/graal/pull/3446 and specifically commit https://github.com/oracle/graal/commit/3e5e1b8428e535b544cff102ea568b7c574885d1

### Expected behavior
Tests should pass.

### Actual behavior
Tests print the following warning while building

[2021-07-01 12:11] evacchi commented on #14756
I created a KOGITO JIRA since I could not find one https://issues.redhat.com/browse/KOGITO-5456 I'll try to raise the priority for this

[2021-07-01 13:11] Sanne commented on #18299
@stuartwdouglas would you be able to look at this? If not I can try myself, but not before next week.

[2021-07-01 13:25] kshpak opened #18306 "Quarkus OpenShift extension pulls every tagged version of image into ImageStream"
## Describe the bug
While deploying Quarkus application to OpenShift via Source To Image (S2I) base image, the Image Stream for that image in the project namespace contains every tagged version of this image (including source files).

Is there a reason for that? It introduces a lot of memory being consumed to store them.

### Expected behavior
Only the `latest` image is pulled (if a specific tag v

[2021-07-01 13:26] geoand commented on #18306
cc @iocanel

[2021-07-01 13:43] phillip-kruger commented on #14546
redirect is now removed. Can we close here ?

[2021-07-01 13:44] phillip-kruger commented on #17712
@radcortez Can you comment on list in yaml config ? Thanks :)

[2021-07-01 13:46] phillip-kruger commented on #16716
@jmartisk I think this is now fixed ? Or is this unrelated to the fix you done recently ?

[2021-07-01 14:07] #14546 closed

[2021-07-01 14:10] #18224 closed

[2021-07-01 14:15] radcortez commented on #18292
Yes.

Yes.

It also works. The rule here is that the profiled file `application-dev.properties` will always have priority. So the order is:
- Profile aware files
- Profile named properties
- Regular names properties

You can find most of the information here https://quarkus.io/guides/config-reference#profiles, except the case where you mix both. I can add a clarification there. Please let me know

[2021-07-01 14:38] janinko commented on #7243
Is it possible to include the content-lenght in the HEAD response anyway? I have an application that copies files from one server to another + adding some metadata and it needs to check to check the file lenghts to constuct the metadata it's using HEAD. Now to talk to the source server we use a gateway implemented in quarkus and that gataway now drops the content-length.

[2021-07-01 14:55] radcortez commented on #17712
Let me check. We did some changes in the YAML source, but can't remember which version affects it.

[2021-07-01 15:27] radcortez commented on #17712
@phillip-kruger I think the issue is here:

https://github.com/quarkusio/quarkus/blob/2df73cf4bfd9519b4956e320a1b38fefe75caa5a/extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLProcessor.java#L367-L391

[2021-07-01 15:49] radcortez commented on #18063
Ok, let's try to summarize and see what is missing:

- [ ] Set Build and Runtime properties
Yes. Multiple `application.properties` may be loaded from the classpath

- [ ] Set Defaults and Issue Warnings
Not directly, but can be implemented easily with an [SR Config Interceptor](https://smallrye.io/docs/smallrye-config/interceptors/interceptors.html). The interceptor can just check a custom or fixe

[2021-07-01 16:41] knutwannheden commented on #18063
Yes and no. I like the platform properties mechanism, since it is basically extension independent (which is good for us, since we have two separate platforms with different sets of defaults) and doesn't require the developer to do anything besides using the platform BOM. But the current platform properties are currently only available at build-time and also are restricted to have the `platform.` p

[2021-07-01 16:46] #17831 closed

[2021-07-01 16:50] tsegismont commented on #18154
cc @vietj

This is a consequence of https://github.com/eclipse-vertx/vert.x/pull/3494 and https://github.com/eclipse-vertx/vert.x/commit/7c7cc9724a095e144d66abb7d68fb655e9d7df5d

A possible solution would be to add a name to TCP server base options which allows to distinguish one server from another.
By default, this name would be empty.

[2021-07-01 16:54] famod commented on #18154
@tsegismont Funny, I just started creating the issue in vert.x. Do you still need that?

[2021-07-01 16:56] maxandersen commented on #17831
The issue we had was 1.11 usage.

@aloubyansky what's the driver for wanting 1.13 to work and not 1.11 ? Wouldn't they have similar metadata ?

[2021-07-01 16:56] tsegismont commented on #18154
Yes please

[2021-07-01 17:01] psaraf commented on #6896
is this still under discuss, any plan when it will be released. really like the approach of configuration.

[2021-07-01 17:07] #18296 closed

[2021-07-01 17:07] ebullient commented on #17831
I'm glad it worked ok most of the time for 1.13, but we know that 1.11 metadata was incompatible.

I'd prefer to make the clean separation and suggest people use 1.x maven/gradle/other tools with 1.x Quarkus than chase edge cases.

[2021-07-01 17:08] #18292 closed

[2021-07-01 17:11] famod commented on #18154
Upstream issue: #3994

[2021-07-01 17:15] ebullient commented on #18285
This isn't quite what it appears.
create, dev, build all pass -D options through "blindly".

The properties raised in this issue are tied to how we launch things (especially in test):
"maven.repo.local" is set via the build...
then the test calls new QuarkusCli().run(args) .. such that system properties used by the test are picked up, and then need to be propagated to the forked Maven/Gradle/JBang

[2021-07-01 17:18] liuzqt commented on #18292
Thanks for the explanation!

[2021-07-01 17:22] wabrit opened #18314 "Native build error when using quarkus-opentelemetry-exporter-otlp"
## Describe the bug
A native build of a Quarkus application fails if it includes the pom dependency:

[code]
with quarkus.version set to 2.0.0.Final

### Expected behavior
The build should succeed

### Actual behavior
The following native build error occurs:

[code]

NB: replacing the otlp  exporter with the jaeger exporter makes the error go away.

## Environment (please complete the following in

[2021-07-01 17:43] coiouhkc commented on #15655
Hi all, i'd like to create this extension, based on the post mentioned above and using https://github.com/quarkiverse/quarkus-rabbitmq-client as reference.

[2021-07-01 17:50] coiouhkc commented on #15655
Possible solution:

- create an injectable `ConnectionFactory` in the extension
- let projects include the extension and utilize smallrye-jms to communicate with IBM MQ

Open questions/ caveats
- smallrye-jms uses `jsonb` to for data de-/serialization which might not be compatible with projects using `jackson`
- unsure whether/where to include `jms-api` and `mq.allclient` and which version to use

[2021-07-01 18:48] ekasumov commented on #18237
@radcortez  This bug doesn't seem limited to DynamicFeatures.

I have the following configuration in application.yml
[code]

when I attempt to retrieve it with ConfigProvider, I get a an error "The config property jwt.secret.key is required but it could not be found in any config source"
`String secret = ConfigProvider.getConfig().getValue("jwt.secret.key", String.class);`

If I use ConfigProperty

[2021-07-01 19:00] smoell opened #18315 "Lambda extension: Class not found: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler"
## Describe the bug
After migrating to Quarkus 2.0, I ran into an issue with SAM local:

`Invalid lambda response received: Invalid API Gateway Response Keys: {'errorType', 'errorMessage'} in {'errorMessage': 'Class not found: io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler', 'errorType': 'java.lang.ClassNotFoundException'}`

### Expected behavior
Class `QuarkusStreamHandler `is found, Lambd

[2021-07-01 19:03] WesternGun opened #18316 "Quarkus uber/fat jar name not respecting project.build.finalName in version 1.13.(3-7).Final maven plugin, but property quarkus.package.output-name"
## Describe the bug
Quarkus uber/fat jar name does not respect project.build.finalName in version 1.13.3.Final Maven plugin; instead, it respects <quarkus.package.output-name> or property quarkus.package.output-name

### Expected behavior
When I change property project.build.finalName in my maven pom, I expect fat jar name changes respectively.

### Actual behavior
The fat jar name does not  chang

[2021-07-01 19:26] patriot1burke commented on #18315
Not sure who created these examples but they are out of date.  The included sam template is out of date.  We now generate this file and also generate a function.zip.

Try

`sam local start-api --template target/sam.jvm.yaml`

https://quarkus.io/guides/amazon-lambda#testing-with-the-sam-cli

[2021-07-01 19:27] patriot1burke commented on #18315
Don't close this bug, the demo needs to be removed or updated.

[2021-07-01 19:43] smoell commented on #18315
This is my demo, I just updated this from Quarkus 1.x to 2.0 and I ran into this issue. The generated SAM template doesn't contain the DynamoDB local config, so I can't use it (not sure if there's mechanism to add this dynamically)

[2021-07-01 19:44] kenfinnigan opened #18318 "Don't automatically start Kafka container with DevServices if broker already present"
## Description

Currently, when running `mvn quarkus:dev` with the `quarkus-smallrye-reactive-messaging-kafka` extension present it starts a RedPanda container even if I have a Kaka Broker running in Docker at localhost:9092.

## Implementation ideas

If it could recognize a Kafka Broker already exists on the default path and not start RedPanda

[2021-07-01 20:48] smoell commented on #18315
OK, found it, thank you, now it works again.

[2021-07-01 20:48] #18315 closed

[2021-07-01 22:07] coiouhkc commented on #15655
/cc @gsmet

[2021-07-01 23:07] radcortez commented on #18237
@ekasumov

The explanation is that you are calling that code on static init, where all sources were being added. We removed the discovery and kept them at the very minimum for compatibility reasons, but the expectation is that we remove the reads from `application.properties` as well.

I guess that we can readd the `application.yaml` to quickly fix what you and @essobedo are experiencing. You need

[2021-07-01 23:34] stuartwdouglas commented on #18318
This sounds a bit dangerous to just connect to any running Kafka?

[2021-07-01 23:52] kenfinnigan commented on #18318
Well, not any running, only a localhost broker.

It was just annoying because I couldn't run it in DEV mode as it keeps starting RedPanda.

Is there a way to disable it from starting that container?

[2021-07-01 23:58] stuartwdouglas commented on #18318
It won't start it if you have configured a server to connect to with a URL.

[2021-07-02 00:07] kenfinnigan commented on #18318
Hmm. Bit annoying to have to specify the same as the default broker URL to prevent it.

If we don't think it's worth worrying about I'm fine with closing

[2021-07-02 00:19] stuartwdouglas commented on #18318
So did this used to work? For databases this was not an issue, as we never had a 'default URL', did Kafka previously have this?

[2021-07-02 00:47] kenfinnigan commented on #18318
I don't know, only happened to hit it today when I tried.

I think Kafka has had a default Broker URL for a while, at least Reactive Messaging has

[2021-07-02 01:11] NinjaTycoon opened #18329 "SunCertPathBuilderException: unable to find valid certification path to requested target in binary container with Mailer"
## Describe the bug
Getting this error when I try to access my test REST for the Mailer.

I got the same error in dev (with mock set to false) and in a binary container.  I was able to resolve it in dev by launching with this:

./mvnw compile quarkus:dev \
  -Djavax.net.ssl.trustStore=/home/ninja/dev2/svn/sc-trunk/microservices/sc-cloud-collector/conf/cacerts \
  -Djavax.net.ssl.trustStorePassword

[2021-07-02 01:17] jclingan opened #18330 "Continuous Testing not using updated log level"
## Describe the bug
Quarkus 2.0.0.Final Continous Testing not applying an updated log level changed in application.properties

### Expected behavior
Log level does not change. When app started with default (INFO), and then quarkus.log.level is updated to a higher log level (like TRACE or DEBUG), the logs should include the appropriate logging statements.

### Actual behavior
Logging continues to l

[2021-07-02 01:20] aomsweet commented on #18287
Hi. @geoand

[https://github.com/aomsweet/quarkus2-issue18287](https://github.com/aomsweet/quarkus2-issue18287)

I start the project using Intellij IDEA Quarkus plugin.

Intellij IDEA Version: IntelliJ IDEA 2021.1.3 (Ultimate Edition)

![image](https://user-images.githubusercontent.com/70388114/124206705-73977000-db16-11eb-8153-f9b9dc8869ac.png)

[2021-07-02 01:25] aomsweet commented on #18288
@geoand

OS: Windows 10 20H2 64bit
Terminal: Intellij IDEA Application run

![image](https://user-images.githubusercontent.com/70388114/124207120-6038d480-db17-11eb-950d-b90bf45f8f86.png)

[2021-07-02 01:29] NinjaTycoon commented on #18329
As a sidenote relative path doesn't work with dev, returning

java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty

It only works with the absolute path.  That suggests you get this different error when it can find the parameters, but can't find the truststore.  Ditto if you put a file name that doesn't exist.

I'm pointing this out cuz in dev, you only ge

[2021-07-02 01:39] stuartwdouglas commented on #18330
This is kind of by design, you have two applications present (the dev mode one and the test one) and only one can configure logging. Any %test logging config is ignored, and dev mode logging settings are used instead.

In Quarkus upstream pressing 's' would restart the app and apply the logging changes. But I can't really see a good solution for this.

On an unrelated note this has given me an ide

[2021-07-02 02:01] stuartwdouglas commented on #18330
https://github.com/quarkusio/quarkus/pull/18331

[2021-07-02 02:03] stuartwdouglas commented on #18330
Hmm, looks like this is also a problem for mvn quarkus:test. I will fix that.

[2021-07-02 02:10] jclingan commented on #18330
Thanks. I didn't even think of the app being in test mode, although it is "continuous *TESTING*", LOL.

[2021-07-02 02:11] jclingan commented on #18330
Closing this issue, understanding that this will be fixed with #18331

[2021-07-02 02:22] stuartwdouglas commented on #18330
That PR does not really fix it, it allows you to easily toggle the log level from the console (the idea I mentioned above).

I am working on a PR now that will fix it for mvn quarkus:test, but the mvn quarkus:dev mode behaviour won't change.

[2021-07-02 02:24] jclingan commented on #18330
Thx.

[2021-07-02 02:29] stuartwdouglas commented on #18330
The linked PR should fix it

[2021-07-02 03:41] ebullient commented on #18097
Could be related to #16355

[2021-07-02 04:12] stuartwdouglas commented on #18299
So this will work if you do `-Dvertx.disableTCCL=true` (although you get a heap of warnings in the logs). The fundamental issue here is that vert.x hangs onto the original TCCL, and we can't update it. With Vert.x 3 we had a hack that allowed us to modify the TCCL, however this is no longer working as the Vert.x Context explicitly sets the TCCL to the old CL for every operation.

[2021-07-02 04:41] cescoffier commented on #18318
Yes, there is a default location.
Do you have 'kafka.bootstrap.servers' set in your application.properties?

If you don't, it will start the broker. Before it was connecting to localhost:9092.

[2021-07-02 05:21] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/992476003

[2021-07-02 05:26] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/992475698

[2021-07-02 06:13] sleberrigaud commented on #12319
@stuartwdouglas could everyother test be marked as failed still, without having them produce the huge stack trace and referencing the first boot failure? It would IMHO set better expectations.

[2021-07-02 06:28] geoand commented on #18316
@gastaldi perhaps something you'd like to take a look at?

[2021-07-02 06:31] ebullient commented on #18285
#18319 makes support for -D common across CLI subcommands and removes the special property-propagation paths.

[2021-07-02 06:35] Postremus opened #18333 "Injecting ConfigMapping in resteasy containerrequestfilter causes NoSuchElementException"
## Describe the bug
This one is quite similar to #17466, except this issue is about containerrequestfilter, while the other was about requestscoped observer.

[code]

[code]

### Expected behavior
App should start without problems.

### Actual behavior
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Download the reproducer:
[requestscoped-test.zip](https://github.com/quarkusio/quarkus

[2021-07-02 06:36] holledauer commented on #18272
Maybe this should be added to the documentation. I couldn't find anything about it

[2021-07-02 06:36] Postremus commented on #18333
/cc @radcortez fyi

[2021-07-02 06:37] geoand commented on #18272
Good idea. @FroMage would you like to add that?

[2021-07-02 06:51] gsmet commented on #18303
/cc @radcortez

[2021-07-02 06:53] gsmet commented on #18316
I'm not entirely sure we want to do that. @stuartwdouglas what's your take on this? Should we honor `finalName`?

[2021-07-02 06:54] geoand commented on #18316
For the uber-jar, I think we should

[2021-07-02 06:55] gsmet commented on #18333
/cc @geoand too

[2021-07-02 06:57] geoand commented on #18333
@radcortez why would this be happening? What is special about `@ConfigMapping` that would cause this?
Or is the problem that the mapping is getting instantiated too early?

[2021-07-02 07:05] geoand commented on #18287
Thanks, I will have a look!

[2021-07-02 07:15] Postremus commented on #17466
FTR. This case now works since 2.0.0.Final - the app starts. I'll leave it to @radcortez to close this issue.

[2021-07-02 07:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/992475698

[2021-07-02 07:30] geoand commented on #18287
This has actually already been fixed in https://github.com/quarkusio/quarkus/pull/18286

[2021-07-02 07:31] #18287 closed

[2021-07-02 07:34] sekaijin opened #18335 "Little error in documentation "Configuration all properties""
## format error in table of configuration properties

if https://quarkus.io/guides/all-config page
on ligne
quarkus.test.exclude-pattern the default value contents pattern with | but this is a column separator for asciidoctor
And then the next lines are not well formatted

[code]

[2021-07-02 07:46] geoand commented on #18288
I am personally seeing the same behavior in both `2.x` and `1.13`

[2021-07-02 08:01] jmartisk commented on #16716
I think you're just not properly escaping the quotes.

The test needs to look like this:
[code]

Then it should work.
With this escaping, the actual request body is:
[code]

You need to
- escape the quotes with `\` because you're inside Java code
- and also prepend them with `\\`, which in the end turns into `\`, because you're inside a JSON string

May I also suggest to consider switching to usin

[2021-07-02 08:09] machi1990 commented on #18335
Thanks for reporting the issue @sekaijin . Regex are now sanitized and it is the case in `main` branch - as can be seen from the https://quarkus.io/version/main/guides/all-config#quarkus-core_quarkus.test.exclude-pattern.

@gsmet could this be a deployment issue?

[2021-07-02 08:40] markusdlugi commented on #18299
Hi @stuartwdouglas, thanks a lot for the insights! I can confirm that setting `-Dvertx.disableTCCL=true` will fix the issue, named queries will work again. Do you know whether this can have any other negative side effects, or is this a safe workaround (other than printing out a lot of warnings)?

Besides that, any idea how we could fix this properly? I still find it interesting that this happens i

[2021-07-02 08:44] #14812 closed

[2021-07-02 08:49] #18330 closed

[2021-07-02 08:54] jmartisk commented on #16716
I'll close this because I think this is not a bug. If you have more questions, feel free to ask.

[2021-07-02 08:54] #16716 closed

[2021-07-02 09:05] radcortez commented on #18333
Yes, the mappings are only registered for the runtime Config instance, not for static config.

Again, that is on purpose, because not every source may be available on static init, and the config behavior may differ from static to init (calls to the same property name may yield different results).

Still, this seems to be something that users are relying on, so we can support it. I was already plan

[2021-07-02 09:06] radcortez commented on #17466
Great. Thanks!

[2021-07-02 09:06] #17466 closed

[2021-07-02 09:07] t1 commented on #17712
I second @radcortez' analysis: it's not related to yaml; it happens with plain properties files, too. After joining with comma+space, the finally set values (except for the first) get that space as a leading character.

[2021-07-02 09:09] phillip-kruger commented on #17712
Cool ! Thanks @radcortez I'll have a look a.s.a.p

[2021-07-02 09:11] phillip-kruger commented on #17712
What would be a nice feature for config in Quarkus is something like `@Aka("my-other-property-here")` that I can add to the quarkus config, and then under the covers the config also check that key... @radcortez ?? w.d.y.t ?

[2021-07-02 09:52] Sanne commented on #18299
@markusdlugi it should be a safe workaround, but clearly this hasn't been tested much.

@stuartwdouglas interesting, thanks. FIY with the Quarkus benchmarks on Techempower, we had `-Dvertx.disableTCCL=true` for Quarkus 1.x on Julien's suggestion as it helps a little with performance; we then took this flag out when migrating to previews of Quarkus 2.x because of the warning (obviously the warning

[2021-07-02 09:54] pilhuhn opened #18337 "Allow for catch-all / wildcard in funqy-knative-binding."
## Description

Currently either the method name of a `@Funq` or the `trigger` value is taken to match the type of an incoming cloud event.
Sometimes (especially with the new filtering functionality) it is desirable to match on multiple types (e.g. in some kind of audit scenarios).

It should be allowed to say

[code]

or

[code]

`*` (1st example) could be seen as "fallback if no better match"

I

[2021-07-02 09:56] aomsweet commented on #18288
Do you also use Intellij IDEA? I switched to 1.13.7.Final and it worked fine, but 2.0.0.Final could not display colors.

[2021-07-02 09:59] jtama commented on #14910
Pushed some code on the PR implementing @FroMage suggestion

[2021-07-02 10:01] geoand commented on #18288
Yes, I use IntelliJ `2021.1.3`

[2021-07-02 10:02] fordsworth opened #18338 "Adding Support io.smallrye.config.ConfigMapping to support Java Records"
## Description
It would be nice if one could use Java 14 records to map application properties with ConfigMapping
(Describe the feature here.)
One will be able to configure properties and then bind them directly to the Java Record Class properties
## Implementation ideas

[2021-07-02 10:08] knutwannheden commented on #18288
FYI: Possibly you would like to test #18258. I tested it and on-my-machine™️ it fixed the coloring problem as well as another issue. It should be included in the upcoming 2.0.1 release.

[2021-07-02 10:11] gsmet commented on #18288
Might have something to do with Windows. @stuartwdouglas does it ring a bell? I know you did a couple adjustments there.

[2021-07-02 10:11] radcortez commented on #17712
We already support that. Check here:
https://smallrye.io/docs/smallrye-config/main/interceptors/interceptors.html#relocate-interceptor
https://smallrye.io/docs/smallrye-config/main/interceptors/interceptors.html#fallback-interceptor

And here is an example:
https://github.com/quarkusio/quarkus/blob/9a032843a2c76c900e8561b498442bdd9b9ce676/core/runtime/src/main/java/io/quarkus/runtime/configuration

[2021-07-02 10:14] TomasHofman commented on #17832
I'm bit late here, but I would side with @jmartisk and @michalszynkiewicz - in the context of the MP rest client, assuming equivalency between `org.acme.rest.client.CountriesService` and `country-service` seems a bit confusing to me, because I would rather expect that the "country-service" refers to configKey attribute of the `@RegisterRestClient` annotation, as in:

[code]
rather than to a class

[2021-07-02 10:24] phillip-kruger commented on #17712
Awesome ! This should solve this then. Thanks :) I'll do a PR soon

[2021-07-02 10:42] radcortez commented on #17712
You can register an additional one like this:
https://github.com/quarkusio/quarkus/blob/abb7978101f98ebfc8eba201140395347f526137/extensions/smallrye-opentracing/runtime/src/main/java/io/quarkus/smallrye/opentracing/runtime/TracingConfigRelocateConfigSourceInterceptor.java#L18

But I think we really need to come up with a more generic way for all SR properties.

[2021-07-02 10:49] argenstijn commented on #7451
+1

[2021-07-02 11:10] phillip-kruger commented on #17712
@radcortez will this also show up in the guide like the normal config items ?

[2021-07-02 11:29] maxandersen opened #18343 "partial extension lookup not consistent"
## Describe the bug

when using partial name like `kogito` for the list of extensions I get this:

[code]

versus using partial hibernate name I get list of possible matches:

[code]

I would expect we would list the extensions with a partial kogito match too.

[2021-07-02 11:47] radcortez commented on #17712
No :(

[2021-07-02 11:55] gastaldi commented on #18316
Sure, I'll have a look

[2021-07-02 12:00] vsevel commented on #6896
FYI I created a POC for the Azure Key Vault: https://github.com/vsevel/poc-akv
this is providing a config source (as opposed to the credentials provider approach).

it should be easy to adapt for aws; the main logic is in:
- [AzureKeyVaultConfigSource](https://github.com/vsevel/poc-akv/blob/master/runtime/src/main/java/io/quarkiverse/quarkus/azure/keyvault/runtime/config/AzureKeyVaultConfigSource.

[2021-07-02 12:01] kenfinnigan commented on #18318
I didn't, as it was the same location, so I was trying to just "piggyback"

[2021-07-02 12:05] patriot1burke commented on #18337
Catch-all ability would be great.

[2021-07-02 12:18] phillip-kruger commented on #17712
Ok. Then I can not use it. Again, I think when I write a quarkus extension and I add the config, I would like just add the also-know-as properties there. (`@Aka("bla-bla")`) Then the guide will still be updated. Maybe under the covers it use the interceptor ?

[2021-07-02 12:32] karesti commented on #18232
@ppalaga would this make the trick?  I also upgraded to 12.1.5.Final but it has not landed in central yet
https://github.com/karesti/quarkus/commit/3a65b186f104ff489c8c5f33919bca74f041d399

[2021-07-02 12:47] Sanne opened #18345 "Avoid loading the list of ArC removed beans into the heap"
## Description

When looking at heap dumps of a Quarkus application running in production mode, the retained memory from `io.quarkus.arc.impl.ArcContainerImpl#removedBeans` stands out as being a little high.

Considering this information is only needed to throw a more helpful error message if there's ever an error caused by a missing bean, it would be nice to load this information lazily.

## Impl

[2021-07-02 12:49] christian-morin opened #18346 "Fix inconsistent behavior for quarkus.jaeger.reporter-log-spans between native/non-native"
## Description

When enabling the log-span reporter for jaeger, the sent spans are reported, but the behaviour differs between native/non-native builds.

When running in java-mode, the LoggingReporter from Jaeger-client is used: https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/reporters/LoggingReporter.java. It produces the followi

[2021-07-02 12:51] Sanne commented on #18345
P.S. we need to think how this impacts native-image: serialization might be an issue, but also I wouldn't want the classes which represent the "removed types" to still be part of the code which can not be DCE'd because of Serialization needing to being able to load it.
Perhaps we need a custom encoding, or just represent them as strings and do some more effort to figure out the matching ones w/o h

[2021-07-02 12:56] mkouba commented on #18345
For the sake of completeness, it is possible to remove this information via `quarkus.arc.detect-unused-false-positives=false`.

Hm, this might be tough although not impossible. Take for example the parameterized types and the complexity of CDI type-safe resolution rules...

[2021-07-02 13:10] kenfinnigan commented on #18346
We'd love for you to submit a PR with the proposed fix

[2021-07-02 13:23] gsmet opened #18349 "SmallRye GraphQL Client not working in native"
`microprofile-graphql-client-quickstart`  is failing in native with the following error.

Apart from the fact that it needs fixing, I'm very surprised we use Jersey? Shouldn't we use one of our REST Clients?

[code]

[2021-07-02 13:23] gsmet commented on #18349
Example of build failing: https://github.com/quarkusio/quarkus-quickstarts/runs/2968474065?check_suite_focus=true

[2021-07-02 13:26] phillip-kruger commented on #18349
We are in the process to remove all REST dependencies.(Pure vert.x) @jmartisk ^^^

[2021-07-02 13:28] gsmet commented on #18349
We need a fix for 2.0 anyway.

[2021-07-02 13:28] gsmet opened #18350 "opentelemetry-quickstart native build failing"
[code]

https://github.com/quarkusio/quarkus-quickstarts/runs/2968474065?check_suite_focus=true

[2021-07-02 13:31] phillip-kruger commented on #18349
Agree :)

[2021-07-02 13:32] kenfinnigan commented on #18350
Thanks @gsmet.

An issue on Quarkus was raised yesterday: https://github.com/quarkusio/quarkus/issues/18314

[2021-07-02 13:32] jamesnetherton commented on #18232
Peter is on PTO, but it looks ok to me.

I can try to test it with camel-quarkus when 12.1.5.Final shows up in central.

[2021-07-02 13:35] gsmet commented on #8646
@ppalaga so you either use the whole Ecosystem CI such as in https://github.com/quarkiverse/quarkus-github-app/blob/main/.github/workflows/quarkus-snapshot.yaml (so that's one more build) or you just use the report facility https://github.com/quarkusio/quarkus/blob/main/.github/workflows/jdk-early-access-build.yml#L108-L119 (you will have to tweak issueNumber and issueRepo, also there's a good cha

[2021-07-02 13:35] gsmet commented on #18350
Ah OK, we can close this one then.

[2021-07-02 13:35] #18350 closed

[2021-07-02 13:43] kafeltz opened #18351 "quarkus-redis-client needs ZUNION method"
The **ZUNION** method is missing in the [quarkus-redis-client](https://mvnrepository.com/artifact/io.quarkus/quarkus-redis-client). Currently there is only the **ZUNIONSTORE** method.

This one: https://redis.io/commands/zunion

[2021-07-02 13:46] cescoffier commented on #16955
I just merged the update to 4.1.1.

[2021-07-02 13:47] Andro999b commented on #17712
Currently only way i made this work is by passing `smallrye.graphql.errorExtensionFields` as system params.

[2021-07-02 13:51] phillip-kruger commented on #17712
The PR above fix it. (You are welcome to test against that PR, that would help :) )

[2021-07-02 14:11] radcortez commented on #17712
We can certainly enhance the Config docs code to include any relocations / fallbacks. On the other hand, we are only displaying configs in the `quarkus` namespace. Are you expecting to also list `mp` and `smallrye`?

[2021-07-02 14:18] metacosm opened #18352 "Action prompt in dev mode only seems to appear if tests are present for the app"
## Describe the bug
With Quarkus 2.0, it's possible to interact with the app at runtime during dev mode, relaunch tests, force a restart, etc. However, this appears that this only happens if there are tests for the app. If you launch an app in dev mode that doesn't have any associated tests, no prompt is available to interact with the app.

### Expected behavior
Prompt for action should always be

[2021-07-02 14:25] phillip-kruger commented on #17712
No, as long as the Quarkus mapping shows

[2021-07-02 14:30] ebullient commented on #18062
#17765 has been merged. extensions are alphabetized and can be filtered by category..

[2021-07-02 15:14] argenstijn opened #18356 "quarkus-amazon-lambda-rest: wrong base64 encoding and unable to add binary type by configuration"
## Describe the bug

Quarkus version: 2.0.0
Environment:  AWS ALB -> Quarkus

When downloading binary content from ALB you will receive a HTTP 502.
See also: https://github.com/awslabs/aws-serverless-java-container/issues/339

In the following class:

_https://github.com/quarkusio/quarkus/blob/main/extensions/amazon-lambda-rest/runtime/src/main/java/io/quarkus/amazon/lambda/http/LambdaHttpHandler.

[2021-07-02 15:32] sam959 opened #18357 "Qute - @CheckedTemplate Parameter names not recorded error"
## Describe the bug
I have defined a class
[code]
I have the template under `resources/templates/mailTemplate`

In another class, I inject the a `List<String> templateValues` with:

`CheckedTemplate.mailTemplate(templateValues).renderAsync();`

### Expected behavior
The value is injected

### Actual behavior
Starting Quarkus in dev mode fails with message:
[code]

## Environment (please complete t

[2021-07-02 15:32] gastaldi commented on #18316
Just ran these steps to reproduce that in 2.0 and it's correct that the `quarkus.package.output-name` has precedence over the `finalName`.

Removing the `quarkus.package.output-name` property from the application.properties will use the `finalName` correctly, which is what I was curious about.

Therefore, I am closing this issue, as this is not a bug.

[2021-07-02 15:32] #18316 closed

[2021-07-02 15:45] ebullient commented on #17927
#18319 updates create output with the following:
[code]

[2021-07-02 16:04] ekasumov commented on #18237
@radcortez We're just retrieving a string token. There are several simple configurations for a %test profile, and something as simple as running `./gradlew test` fails, because the YAML configuration isn't getting detected.

[2021-07-02 16:19] cescoffier commented on #18329
I would need a reproducer.

[2021-07-02 16:19] ebullient opened #18359 "CLI: change syntax for create"
The loose/free specification of extensions on the command line is (maybe) confusing.

What about the following:

`quarkus create -x micrometer,opentelemetry g:a:v`

Where `g:a:v` could be any of:
- `artifact-id` or `:artifact-id:` -- use defaults for group id and version (common/demo)
- `my-group:artifact-id` or `my-group:artifact-id:` -- use default version (common/real project)
- `my-group:artif

[2021-07-02 16:25] aloubyansky commented on #18359
I like it, i'd just make the GAV the first argument.

I wouldn't expect this one to be very common.

[2021-07-02 16:27] #6108 closed

[2021-07-02 16:27] NinjaTycoon commented on #18329
How?  It has to try an SSL handshake with an SMTP.  Just take one you have working and add those 3 parameters, changing path to an absolute path with a truststore with 1 cert in it for w/e SMTP you are talking to.

As for the Mailer part, it's just a basic REST test...

[code]

[2021-07-02 16:29] ebullient commented on #16044
Resolved by  #16353

[2021-07-02 16:29] #16044 closed

[2021-07-02 16:31] aloubyansky commented on #17947
@mettwm please re-open if you still see the issue in your environment. Thanks.

[2021-07-02 16:31] #17947 closed

[2021-07-02 16:32] vsevel opened #18360 "Increased compilation times with GraalVM 21.1.0"
## Describe the bug
I am seeing increased graalvm compilation times between `1.13.3` and `2.0`
I have launched multiple builds and I see consistency in the results.
I am building both branches on the same host, and with the same command line args.

Here is the output for `1.13`:

[code]

and for `2.0`:

[code]

the compile phase went from `73 secs` to `461 secs`.
I am seeing that we have moved fro

[2021-07-02 16:44] gsmet commented on #18359
I totally agree the current syntax is confusing. When I read some Alexey's blog post, I thought the extension was the project name and I didn't understand very well what it was doing.

I have no idea if it's possible to have project name then extensions but that feels like the most natural thing to do (i.e. create project <name> with extensions ...). If not I suppose we can live with having `-x` f

[2021-07-02 16:46] gsmet commented on #18360
Can you try to build 2.0.0.Final with GraalVM 21.0? It should work and it would help to understand if Quarkus is the issue or GraalVM.

[2021-07-02 16:50] ebullient commented on #18359
with the `-x one,two,three` format (which I believe could also be expressed as `-x one -x two -x three`), the order won't matter.

[2021-07-02 17:53] maxandersen commented on #18359
You want to remove -g -a -v then or keep them ?

In any case +1

[2021-07-02 17:53] maxandersen commented on #18359
You want to remove -g -a -v then or keep them ?

In any case +1

[2021-07-02 17:56] NinjaTycoon commented on #18329
Here is a starter with the same version properties in the pom.xml.  This just works in dev with mock.

https://github.com/NinjaTycoon/quarkus-mailer-reproducer

Hit

http://localhost:9090/test/emailer/simple

and you get OK, with the mock output to log.

[2021-07-02 18:00] vsevel commented on #18360
`2.0.0.Final` works with `21.0.0.2`, with something in the middle for the duration for the compile phase: `144 secs`; compared to `73 secs` for `1.13`, and `461 secs` for `2.0.0.Final + 21.1`.
The other difference I see is memory usage. I had to increase `quarkus.native.native-image-xmx` to get the build to pass.

[code]

[2021-07-02 18:09] huw0 commented on #14912
My chown commands leaves the user intact as 1001 but sets the group to root. This should enable non-root on OpenShift while allowing for root on GCP etc.

It's been awhile since I used OpenShift, but my understanding is that while it prevents running as root, it shouldn't be impacted if permissions just allow root permissions to run the app also?

[2021-07-02 18:14] huw0 commented on #14912
Closing. Above fix is not present.

[2021-07-02 18:14] #14912 closed

[2021-07-02 18:20] kenfinnigan opened #18365 "Empty REST Client @Path leads to exception with OpenTelemetry"
## Describe the bug
Reported in https://github.com/quarkusio/quarkus/pull/18137.

When a REST Client interface is defined as:

[code]

When the OpenTelemetry client filter is setting the span name, it results in the following exception:
[code]

### Expected behavior
No exception and a reasonable client span name is set

### Actual behavior
An exception is thrown, preventing the trace from being re

[2021-07-02 19:07] patrox commented on #18318
Hey @kenfinnigan, maybe this shared broker setup, will help you, as this seems to be somehow related: https://github.com/quarkusio/quarkus/pull/17837

[2021-07-02 19:08] maxandersen commented on #18359
If hiding just as well take them away. Single character options aren't unlimited :)

[2021-07-02 19:16] NinjaTycoon commented on #18329
Completed the reproducer so that I was able to reproduce the same issue with it.

https://github.com/NinjaTycoon/quarkus-mailer-reproducer

Had to add ```quarkus-container-image-docker``` to the POM.  Updated the README with instructions including template files where you need to copy and replace certain things specific to your environment.

[2021-07-02 19:23] #18365 closed

[2021-07-02 19:52] ebullient commented on #18359
How about this:
[code]

[2021-07-02 19:57] karesti commented on #11821
@ryanemerson  any thoughts as well about this?

[2021-07-02 19:59] karesti commented on #11821
@noelo I created an issue to see what we can do https://issues.redhat.com/browse/ISPN-13149

[2021-07-02 20:04] #17927 closed

[2021-07-02 20:04] #18285 closed

[2021-07-02 20:09] aloubyansky commented on #18359
I like it. BTW, didn't we agree on `-s` for streams (instead of `-S`)?

[2021-07-02 20:10] ebullient commented on #18359
we have `-S` and `-P` because `-s` is already used for search

[2021-07-02 20:23] jmartisk commented on #18349
I don't have access to my dev machine and I will be offline till Wednesday, so I guess I'll leave this one to you guys (if it needs a quick fix, which I suppose it does), but this is clearly related to https://github.com/quarkusio/quarkus/commit/d4f1a1430c312f5eca220d4bb0799cfb7e10b4f2 - a rest client dependency now needs to be added explicitly. I can see though that the quickstart has a dependenc

[2021-07-02 20:45] mkouba commented on #18357
Hi @sam959, this behavior is expected. You need to instruct the compiler to store the parameter names in the class files, e.g. for the `maven-compiler-plugin`: https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#parameters.

[2021-07-02 20:45] #18357 closed

[2021-07-02 20:57] patrox commented on #18351
@kafeltz @machi1990 I can address this missing functionality if you aren't already working on this one.

[2021-07-02 21:53] famod opened #18372 "Analyze EA JDK 17 failures"
## Description

Analyze failures, create upstream issues etc.

Current status:
- quarkus-hibernate-orm-panache-kotlin: `java.lang.NoSuchMethodError: 'void com.sun.tools.javac.util.Log.<init>(com.sun.tools.javac.util.Context, java.io.PrintWriter, java.io.PrintWriter, java.io.PrintWriter)' at org.jetbrains.kotlin.kapt3.base.javac.KaptJavaLog.<init>(KaptJavaLog.kt:30)`
  https://youtrack.jetbrains.co

[2021-07-02 22:32] patrox commented on #18351
It seems like Vert.x Redis client will have to be updated as well, as currently it doesn't support ZUNION neither: https://www.github.com/vert-x3/vertx-redis-client/tree/master/src%2Fmain%2Fjava%2Fio%2Fvertx%2Fredis%2Fclient%2FRedisAPI.java

[2021-07-02 23:01] radcortez commented on #17712
Ah, the quarkus mappings will show if you have them in a quarkus @ConfigRoot, which I suppose you should have to be able to access the configuration during build time.

[2021-07-02 23:25] radcortez commented on #18303
@tobiasstadler

Sorry. This was already fixed in the latest SR Config coming in Quarkus 2.1.0. As a workaround, please update to the latest SR Config versions directly:

[code]

[2021-07-02 23:25] #18303 closed

[2021-07-03 00:21] GavinRay97 opened #18373 "`No tests were found` when trying to run JUnit tests with Scala 2 or WIP Scala 3 extension"
Zulip thread: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/.22No.20Tests.20Found.22.2C.20last.20issue.20for.20Scala.203.20support

## Describe the bug
- Go to https://code.quarkus.io/ and create a new Maven application with just the Scala extension
- Try to run `mvn test` or `mvn quarkus:test`
- The `maven-scala-plugin` will detect the presence of the Scala test files and compil

[2021-07-03 01:17] patriot1burke commented on #18356
Ok, i'll include this in my PR i'm working on.

[2021-07-03 04:57] NinjaTycoon commented on #18329
Further diagnosing it

- the native runner build produces the same error
- does not help to put cacerts in /tmp/cacerts

Looking at Quarkus code.  Noticed this config magic of trustStore happens in the handleAdditionalProperties method in NativeImageBuildStep.java.  Here is my build output from that file in case it helps:
[code]
If it logged the path of outputDir I'd look for "trustStore" there.

[2021-07-03 07:19] chiragrp opened #18374 "Quarkus OIDC Client unable to retrieve access-token"
## Describe the bug
I am using quarkus-oidc-client extension to obtain token. The idea is to send client-id, client-secret and grant-type to OpenID connect provider to obtain access token. I am referring to this doc @ https://quarkus.io/guides/security-openid-connect-client
I am using annotation "@OidcClientFilter" on a resource annotated using "@RegisterRestClient".
The OidcClient is not able to

[2021-07-03 08:40] machi1990 commented on #18351
@patrox thanks for the interest in fixing the issue. Yes, the command might need to be added in upstream first in Vertx 4. @pmlopes WDYT?

As an alternative for now:

You can try injecting the plain vertx `io.vertx.redis.client.Redis` client. And use it to send the command.
[code]

using the mutiny based client: `io.quarkus.redis.client.runtime.MutinyRedis` will be the most appropriate
[code]

[2021-07-03 09:00] ennishol opened #18375 "Custom config source is not working in Quarkus 2.0.0"
## Describe the bug
Custom config source is loaded but afterward,

 the exception is thrown:
 java.util.NoSuchElementException: SRCFG00014: The config property some.key is required but it could not be found in any config source.

### Expected behavior
Config values must be loaded and used

### Actual behavior
Config values are loaded but not used, NoSuchElementException is thrown

## To Reproduce

[2021-07-03 09:06] patrox commented on #18351
Thank you @machi1990 for the alternative suggestion, I can try that as I won't have to wait for the upstream change.

I created a feature request in Vert.x Redis Client  to address that in longer term as well:

https://github.com/vert-x3/vertx-redis-client/issues/299

[2021-07-03 09:09] #18314 closed

[2021-07-03 09:24] kekbur opened #18376 "All Configuration Options web page layout is broken"
## Describe the bug
The guide web page for all Quarkus configuration options has broken table layout. Tested on Firefox and Chrome:

![image](https://user-images.githubusercontent.com/10086020/124349695-4374cd80-dbf9-11eb-9406-75f0d676cdae.png)

## To Reproduce

Open https://quarkus.io/guides/all-config#quarkus-core_quarkus.test.exclude-pattern and scroll to `quarkus.test.exclude-pattern`.

[2021-07-03 10:13] machi1990 commented on #18351
Thanks, let me know how it goes.

Awesome. Thank you.

[2021-07-03 10:14] machi1990 commented on #18376
This is in relation to https://github.com/quarkusio/quarkus/issues/18335. Closing due to duplicate.

/cc @gsmet

[2021-07-03 10:14] #18376 closed

[2021-07-03 13:17] gsmet commented on #18375
/cc @radcortez

[2021-07-03 14:40] GavinRay97 commented on #18373
Okay so it looks like it may be something in the implementation here that is impacting it?

Sorry for the ping, but:

@stuartwdouglas I'm happy to try to help fix whatever weirdness is going on here myself, but Quarkus is a very large project and I don't have any of the background context. Git blame says you're the fella to talk to about this file -- do you think you might be able to share any tho

[2021-07-03 15:14] machi1990 commented on #18029
Closed by https://github.com/quarkusio/quarkus/issues/18181

Thanks @patrox.

[2021-07-03 15:14] #18029 closed

[2021-07-03 15:18] machi1990 opened #18378 "Extend Redis extension documentation to show how custom commands can be crafted"
## Description

At the moment, the Redis clients does not support all the commands supported by recent versions of Redis: see https://github.com/quarkusio/quarkus/issues/18351 for example.
However the backing vertx-redis-client provides a way to craft commands using `.send(Request.Command)` method.
See https://github.com/quarkusio/quarkus/issues/18351#issuecomment-873370806 for example. We can doc

[2021-07-03 19:21] andrerigon commented on #18018
@ozangunalp sorry for the wait, I could only work on this today. I openned https://github.com/quarkusio/quarkus/pull/18379 for it.

How do you recommend testing this? I notice that are no tests for the other listernes, since KafkaStreams doesn't allows inspecting the stream object after you configure it. A full blown integration test using _TopologyTestDriver_ might work, but will add considerable

[2021-07-03 20:01] sirAlexander commented on #13602
@kenfinnigan now that https://github.com/quarkusio/quarkus/issues/13144 is closed, any word on this?

[2021-07-03 22:20] kenfinnigan commented on #13602
I'm not aware of any. It's not something I'm working on, but we'd be happy for contributions from the community for it

[2021-07-04 07:31] cescoffier commented on #18378
This is more advanced material, so it should be in redis-reference.adoc (which would be the reference guide for redis).

[2021-07-04 09:03] machi1990 commented on #18378
Thanks @cescoffier I've modified the implementation detail about the file to edit.

@patrox this kind of touches what you are looking at in #18351 let me know if you'll be interested in looking at this one too. Thanks

[2021-07-04 09:50] patrox commented on #18378
@machi1990 Yes, I noticed this issue and I can handle it as well, as indeed, it's closely related to what I'm doing at the moment.

[2021-07-04 11:08] tobiasstadler commented on #18303
@radcortez Thank You for the info!

[2021-07-04 12:01] #18194 closed

[2021-07-04 14:51] maxandersen opened #18381 "sdkman distribution"
## Description

issue to track the work done for sdkman setup part of #10354

Started by opening PR on sdkman at https://github.com/sdkman/sdkman-db-migrations/pull/522

[2021-07-04 14:53] Emmanuel35 opened #18382 "variable quarkus.oidc.auth-server-url is not overided"
## Describe the bug
Variable OIDC can't be overided by a Kubernetes environment variable.

### Expected behavior
My application is built with this configuration.

OIDC configuration in properties file:
[code]

During Kubernetes deployment, environments variables are used with a
[code]

ConfigMap contains other value:
[code]

### Actual behavior

But, in runtime, a DEBUG message is shown:
[code]
Pl

[2021-07-04 14:55] geoand commented on #18382
You need to use `QUARKUS_OIDC_AUTH_SERVER_URL` as the environment variable name

[2021-07-04 14:55] #18382 closed

[2021-07-04 14:56] geoand commented on #18382
@sberyozkin maybe in prod-mode we should make the configuration mandatory instead of falling back to the `localhost...` value?

[2021-07-04 16:09] martijnburgers opened #18383 "Kubernetes hostname configuration option in application.properties"
## Description

For licensing reasons I need to set the hostname of my pod to a certain name. For this I need to set the hostname in the generated Kubenetes json/yaml.

[code]

The hostname is located under spec:

The trick with `pod.beta.kubernetes.io/hostname` doesn't work on my cluster.

[2021-07-04 16:11] geoand commented on #18383
@iocanel I assume Dekorate doesn't set this, so we would need a custom decorator?

[2021-07-04 16:47] famod commented on #16524
Haven't seen this for a while, closing.

[2021-07-04 16:56] sberyozkin commented on #18374
@chiragrp, sorry for a delay, typically the client id and secret are supplied as Basic Authentication credentials - but it looks like the OIDC provider you are dealing with does not support it - so a `client_secret_post` authentication method needs to be activated, have a look [here](https://quarkus.io/guides/security-openid-connect-client#oidc-client-authentication) how to do it and let me know i

[2021-07-04 17:04] sberyozkin commented on #18249
@radcortez Interesting, it is now initialized in the recorder, so it looks like `quarkus-keycloak-authentication` needs to wait till `quarkus-oidc` finishes its initialization in `OidcRecorder` - I wonder what is the right mechanism, it is done at runtime...

[2021-07-04 17:05] sberyozkin commented on #18279
@felipewind Thanks for spotting it - this property is still supported in `1.13.x` but indeed no longer supported in `2.0.x` - would you like to open a small PR to fix it ? thanks

[2021-07-04 17:22] sberyozkin commented on #18382
@geoand Hi Georgios, thanks for checking this issue, it does not fallback to it, it is only used in the example URL.
Also, in 2.0.x it will try to recover at runtime if it can't connect though in this case it won't make a difference as the required value is not provided...

[2021-07-04 17:25] geoand commented on #18382
Gotcha, thanks!

[2021-07-04 17:57] sberyozkin commented on #18221
Hi @chiragrp Is it a duplicate of #18374 ? I just commented there

[2021-07-04 20:37] maxandersen opened #18386 "add Template.data(Map) to Qute ?"
## Description

qute has various `Template.data(string key, ...)` methods; how about a `Template.data(map<String, Object>)` ?

note, smallest alternative I could think of was:
`properties.forEach((k,v) -> template.data(k,v));`

which isn't too bad but feels would be nice with something simpler ;)

[2021-07-04 22:39] famod commented on #18302
This is basically a duplicate of #18287, so I'm going to close this.
The problem is fixed in `main` (Quarkus 2.1), but the PR was flagged for backporting so it _might_ end up in 2.0.x.
Thanks for reporting!

[2021-07-04 22:39] #18302 closed

[2021-07-05 00:31] tioback opened #18388 "@InjectSpy and @InjectMock cause @Valid behaviour change"
## Describe the bug

When using `@io.quarkus.test.junit.mockito.InjectMock` or `@io.quarkus.test.junit.mockito.InjectSpy` for a bean that has methods using `@javax.validation.Valid`, validations are being skipped.

### Expected behavior

If `@InjectMock` along with `.callRealMethod()`, or if `@InjectSpy` are used on a method that has `@Valid`, I expect the system to validate the bean accordingly.

[2021-07-05 00:48] tioback commented on #18388
A possible solution would be changing `io.quarkus.hibernate.validator.runtime.ArcProxyBeanMetaDataClassNormalizer#normalize` to the following:

[code]

[2021-07-05 01:33] hrstoyanov opened #18389 "[Gradle plugin] Deprecated properties reported with Gradle 7.1.1/Quarkus 2.0.0.FInal"
Here is the reported issue with my Quarkus gradle build (which is already using Quarkus 2.0.0.FInal):

[code]

[2021-07-05 02:49] zhfeng commented on #18231
@gsmet @ppalaga ```quarkus.artemis.url``` is inherited from artemis-core ArtemisRuntimeConfig. If we make it optional, it would produce the ```ServerLocator``` and ```ConnectionFactory``` as null value. But these classes are used in health check which is default enabled in buildtime. I'd like to suggest to introduce such a configItem like ```quarkus.artemis.enabled``` in ArtemisBuildTimeConfig to

[2021-07-05 05:06] stuartwdouglas commented on #18373
This is because the test method ends up looking like:

[code]

And deep inside JUnit it will silently ignore methods annotated with @Test that return a value other than void.

[2021-07-05 05:08] stuartwdouglas commented on #18373
IMHO silently ignoring this is a JUnit 5 issue, do you want to file an issue with them?

[2021-07-05 05:26] wsy89 commented on #14904
@dufoli  I am getting exactly the same issue as @akuzni2 is getting when I try to invoke another lamba using

[code]

[code]

[2021-07-05 05:27] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/999952514

[2021-07-05 05:31] #18201 closed

[2021-07-05 05:46] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/999952818

[2021-07-05 05:49] cescoffier commented on #18329
Unfortunately, I don't have an SMTP server where I need to customize the Keystore. My corporate one, SendGrid and Gmail are all working.

Just to verify, did you try setting `quarkus.mailer.trust-all=true` ? I'm actually surprised that we don't expose truststore options for the mailer.

[2021-07-05 05:54] cescoffier commented on #18318
Added a section in the migration guide.

[2021-07-05 05:54] #18318 closed

[2021-07-05 06:03] tqvarnst opened #18391 "Quarkus CLI test are run even if `--no-tests` is specified"
## Describe the bug
When building using the CLI with command `quarkus build --no-tests`  the tests are still executed.

### Expected behavior
No tests should be run

### Actual behavior
Tests are run

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps to reproduce the beh

[2021-07-05 06:10] geoand commented on #6588
@jmartisk the `icroprofile-graphql-client-quickstart` is failing with:

[code]

Can you please take a look?

[2021-07-05 06:15] #16862 closed

[2021-07-05 06:18] knutwannheden opened #18392 "QuarkusRestClientBuilder should fallback to read base URI from @RegisterRestClient annotation"
## Describe the bug
When using the `RestClientBuilder` API to programmatically construct a REST client, the implementation requires either of `RestClientBuilder#baseUrl()` or `RestClientBuilder#baseUri()` to be called, otherwise the `build()` method will fail with an `IllegalStateException`: https://github.com/quarkusio/quarkus/blob/987c9b466534e6d09782c3ca200e76b5e074e353/extensions/resteasy-clas

[2021-07-05 06:41] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/999952514

[2021-07-05 07:05] geoand commented on #18392
cc @michalszynkiewicz

[2021-07-05 07:10] geoand commented on #18373
I've been bitten by this in past as well... And it's just a bad default...

[2021-07-05 07:20] juliaaano opened #18395 "Quarkus 2.0 live-reload testing Wiremock error"
## Describe the bug
Quarkus 2.0 live-reload testing fails with an error on Wiremock `com.github.tomakehurst.wiremock.common.JsonException`.

## To Reproduce

[code]
Then: `press [r] to resume`

## Environment:

### Output of `java -version`
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9)
OpenJDK 64-Bit Server VM (build 11.0.10+9, mixed mode)

### Quarkus version

[2021-07-05 07:34] hrstoyanov opened #18396 "[2.0.0.Final] Bean validation issue - fail to process @NonBlank constraint"
## Describe the bug
Upgrading my project from 1.13.7.Final to 2.0.0.Final starts to fail applying  @NonBlank bean constraint, which used to work with Quarlus 1.13.x and older, despite hibernate validation being included in the gradle build and no other changes.

See also:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.202.2E0.2E0.2EFinal.20-.20Bean.20validation.20issue

[2021-07-05 08:26] zbendhiba opened #18398 "Kafka oauth authentication issue with kafka-oauth-client 0.8.x versions"
## Describe the bug
Hello, I'm using the kafka-client with Oauth, I've had an issue with [Athenticating with oAuth](https://quarkus.io/guides/kafka#authenticating-with-oauth)
Using the kafka-oauth-client 0.7.2 version --> it works fine
Using the latest kafka-oauth-client 0.8.x versions --> the dependency com.nimbusds:nimbus-jose-jwt is needed
Stack trace :

[code]

[2021-07-05 08:38] gsmet commented on #18396
@hrstoyanov please describe the issue in the description as it's the only way for people to search for similar issues.

As for your issue, I think the problem might be that your constraint was ignored until now (we fixed a few things regarding that). `@NotBlank` won't work for a `DatabaseType`.

If you have an example of what's not working and how you expect it to work, that would help.

[2021-07-05 08:39] jamesnetherton commented on #18232
I tested and it didn't quite work. The problem is in `InfinispanClientProducer.initialize()`. It seems `properties` is not null and contains some values that I assume the extension set at build time?

* `infinispan.client.hotrod.protofile.org/infinispan/protostream/message-wrapping.proto`
* `infinispan.client.hotrod.marshaller`
* `infinispan.client.hotrod.protofile.org/infinispan/query/remote/clie

[2021-07-05 08:40] evacchi commented on #12486
[code]

[this is not happening on our master](https://eng-jenkins-csb-business-automation.apps.ocp4.prod.psi.redhat.com/job/KIE/job/kogito/job/nightly/job/master/job/kogito-native/53/console) against 2.x could it be related to the upgrade to the next version of Vert.x ? @cescoffier

also, I wonder if the ecosystem CI job should be changed

not just https://github.com/kiegroup/kogito-runtimes/blob/

[2021-07-05 08:42] geoand commented on #12486
The launch script is customizable per project, so it should do whatever makes sense for Kogito :)

[2021-07-05 08:46] ryanemerson commented on #11821
Autogenerating the password sounds good to me.

One thing to consider, is that the Infinispan cluster and it's associated secret maybe in a different namespace to the client app, so we would require an additional property to configure the namespace of the cluster.

However, instead of just providing a property for the secret, we should provide a generic way to configure details of the Infinispan C

[2021-07-05 08:58] phillip-kruger commented on #18349
Maybe @michalszynkiewicz can comment ? I would also assume if the non-reactive client works, the reactive one should too.

[2021-07-05 09:00] javiertoja opened #18399 "Command line customizations for artifacts launched while performing Integration tests with @QuarkusIntegrationTest"
## Description

I would like to be able to customize the command line that launch the artifact produced during the quarkus build in order to be able to provide extra options like networking for containers during the integration test phase.

At this moment quarkus is able to generate a jar file or a container during the build phase but when I want to perform some integration test against that artif

[2021-07-05 09:05] cescoffier commented on #18398
can you provide a quick reproducer?
I would like to see who's pulling the other nimbus version.

[2021-07-05 09:29] soul2zimate opened #18400 "Command Mode App under Development mode is NOT able to be restarted or stopped based on user input value"
## Describe the bug
https://quarkus.io/blog/introducing-command-mode/#development-mode doesn't work as expected anymore in quarkus version 2.0.0.Final.

### Expected behavior
In Command Mode + Development Mode, Server is able to be restarted or stopped based on user input value (except with Ctrl + C)

### Actual behavior
In Command Mode + Development Mode, Server is NOT able to be restarted or sto

[2021-07-05 09:34] radcortez commented on #18249
Maybe  a dependency issue between BuildItems?

[2021-07-05 09:57] senzu opened #18402 "[2.0.0] Cannot create native image because Panache is broken?"
## Describe the bug
The following error message occurs:

Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved method during parsing: io.quarkus.hibernate.orm.panache.runtime.JpaOperations.getEntityManager(java.lang.Class, java.lang.Class). To diagnose the issue you can use the --allow-incomplete-classpath option. The missing method is then reported at run

[2021-07-05 10:00] #17712 closed

[2021-07-05 11:02] radcortez commented on #18375
Relates with https://github.com/quarkusio/quarkus/issues/18237.

We removed the ability to discover sources during static init, because some sources would not work due to required services not being available. Since Config is the first thing we need to initialize, if we need to connect to a database, the database resource would not be available, so this is mostly a chicken/egg problem. In this par

[2021-07-05 11:04] patrox commented on #18351
[code]

@machi1990 I'm afraid we won't be able to proceed this way, as the [`Command`](https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/client/Command.java#L233) enum doesn't include the `ZUNION` value :(

I updated it already on my PR which I'm going to open in vert.x redis client: https://github.com/patrox/vertx-redis-client/pull/1/files.

Maybe there should

[2021-07-05 11:20] ennishol commented on #18375
@radcortez  yes, loading specific file based on some env variable (not profile, like staging, dev or production) is my use case. In other words, I want to select config file, inside of which I'd be able to define overrides for specific profile:

export CONFIG_TYPE=a ---> application-a.properties is loaded with content:
some.key=a
%dev.some.key=x

export CONFIG_TYPE=b ---> application-b.properties

[2021-07-05 11:22] chiragrp commented on #18374
Thank you @sberyozkin for you response. I have tried with "client_secret_post" and ran into another issue of scope. I managed to send scope/permissions using `quarkus.oidc-client.grant-options.client.scope=EMAIL`
Now, I am able to receive response from OAuth server. However, OidcClientImpl.emitGrantTokens() method returns an error while getting "expires_in" property from JSON response. Code is exp

[2021-07-05 11:25] geoand commented on #18399
This is actually similar to https://github.com/quarkusio/quarkus/issues/17560. I'll hopefully have a look this week

[2021-07-05 11:36] machi1990 commented on #18351
@patrox thanks for finding sometime to look at this.

Yes, we'll have to create a new command `Command.create("zunion".....)`.

It seems that this has been fixed in https://github.com/vert-x3/vertx-redis-client/commit/8d783078dbcf369d2a58197925bbf31c4a2594e3, we can wait for the new release and add all the new commands. It seems like there are couple others commands which might be useful. What do

[2021-07-05 11:39] javiertoja commented on #18399
Yes it is, thank you kindly

[2021-07-05 11:40] patrox commented on #18351
In the meantime @pmlopes has added the commands from a recent Redis server version (including ZUNION) to vert.x Redis client, so probably we will be able to use the new version soon .

[2021-07-05 11:46] patrox commented on #18351
@machi1990 Yes, I saw the other new commands which were added, so I can add these as well.

I can also document the workaround method as well - is it OK to do it in a single PR ? I can create separate commits for these changes.

[2021-07-05 11:57] sberyozkin commented on #18374
@chiragrp Thanks for making it (nearly) work... So the provider is also returning a non-compliant `expires in` representation. I suppose we can fallback to trying to convert it from String, will do it shortly

[2021-07-05 11:58] machi1990 commented on #18351
I think what we can do is document the workaround for now in a separate PR and we'll fix the issue once a new release of the redis client is there.

[2021-07-05 11:58] sberyozkin commented on #18221
@chiragrp Let me close this one - it does look like a duplicate, lets continue the discussion at #18374, thanks

[2021-07-05 11:58] #18221 closed

[2021-07-05 12:04] pmlopes commented on #18351
@machi1990 @patrox the fix will arrive with vert.x 4.2.0.

The workaround required defining the zunion command, you can do it as:

[code]

See the latest generation for 6.2.4 sources:

https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/client/Command.java

[2021-07-05 12:12] radtriste commented on #12486
@evacchi We could add a line [here](https://github.com/kiegroup/kogito-runtimes/blob/master/Jenkinsfile.quarkus#L58) to update dependencies before running the `clean install` command

[2021-07-05 12:24] maxandersen opened #18408 "quarkus cli plugin mechanism"
## Description

add ability to do `quarkus someplugin (args)` that will lookup in PATH for quarkus-someplugin(.cmd) and quarkus-* jbang aliases

## Implementation ideas

meachnism lets you write and deliver plugins independently.

Example of usecases: `quarkus upgrade` to detect and apoly changes, `quarkus scaffold` / `quarkus jhipster` for doing codegeneration actions.

[2021-07-05 12:25] zbendhiba commented on #18398
the issue is related to camel-quarkus

[2021-07-05 12:25] #18398 closed

[2021-07-05 12:28] andreas-eberle opened #18409 "When jackson and kotlin are used, add jackson-module-kotlin"
## Description

When a Quarkus project contains the quarkus-kotlin and a jackson extension, the dependency `com.fasterxml.jackson.module:jackson-module-kotlin` should be added automatically. This extension allows jackson to create Kotlin specific type like data classes.

I think if a project uses Kotlin & Jackson, this dependency should automatically be added alongside the jackson dependency.

[2021-07-05 12:38] ia3andy commented on #12936
@aloubyansky wdyt? I think we should still generate, maybe we can show a warning that it may be unstable?

Correct

I think we should generate and let the user fix those edge cases

[2021-07-05 12:47] aloubyansky commented on #12936
The parent creates a context for the child. If a parent imports a platform then the child inherits it. I don't think we should support childs re-defining the platform of parent. If a parent does not import any Quarkus platform then a child is allowed to import one.

[2021-07-05 12:50] gastaldi opened #18411 "https://quarkus.io/guides/all-config table is broken"
## Describe the bug
All Config Table is broken (probably because a property value has un-escaped characters)

### Expected behavior

All Config page formatted correctly

### Actual behavior
All Config is formatted incorrectly

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

[2021-07-05 13:04] sberyozkin opened #18413 "Accessing DevConsole fails with InternalServerError in the current snapshot"
## Describe the bug
Starting the quickstarts (I've tried `security-openid-connect-quickstart` followed by `getting-started`) with `mvn quarkus:dev` and then accessing the console from the browser at `localhost:8080/q/dev` fails with:

[code]

CC @stuartwdouglas @phillip-kruger

[2021-07-05 13:27] gastaldi commented on #18413
This may be caused by https://github.com/quarkusio/quarkus/pull/18227, I think the quickstarts need to be updated accordingly? /cc @mkouba

[2021-07-05 13:31] gastaldi commented on #18409
IMHO I don't think you can add dependencies dynamically like that, that's why we have the `resteasy-jackson` and `rest-client-jackson` extensions.

In this case I think the best is to introduce a `quarkus-kotlin-jackson` extension

[2021-07-05 13:34] sberyozkin commented on #18413
It is probably DevServices code in Quarkus which should pass `io.quarkus.qute.strict-rendering=false` to Qute

[2021-07-05 13:51] phillip-kruger commented on #18413
If no-one else is looking at this, I can have a look.

[2021-07-05 13:56] #18359 closed

[2021-07-05 14:03] Sanne commented on #18268
@cescoffier . @gavinking I'm going to need a suggestion here, this seems to highlight multiple problems:

 - how to reliably test to catch such mistakes?

 - how to properly integrate a reactive resource with CDI?  Specifically, `ReactiveSessionProducer` in Quarkus models a CDI `@Dispose` method , which by CDI spec needs to be modelled as a blocking operation. The Hibernate Reactive `Mutiny.Sessio

[2021-07-05 14:15] pilhuhn commented on #18337
This works in 1.13.7:  and allows `@CloudEventMapping(trigger = "*")`

[code]

[2021-07-05 14:24] phillip-kruger commented on #18413
Adding `strictRendering(false)` fix it. Not sure if that is the correct fix. I'll do a PR and we can discuss there ?

[2021-07-05 14:24] FroMage commented on #18402
Thanks for reporting, this looks like a dupe of #18307

[2021-07-05 14:24] #18402 closed

[2021-07-05 14:33] patrox commented on #18351
Thanks @pmlopes, this is exactly what I was looking for!

[2021-07-05 14:37] #18374 closed

[2021-07-05 14:53] daniel-alonso-sanchez opened #18418 "Wrong mail content when using quarkus-mail extension"
## Describe the bug
When I send a text mail using quarkus 1.13.7.Final, the body shows boundaries and some mail headers inside

[code]

### Expected behavior
A simple text mail without content type header inside the body

### Actual behavior

Looks like the raw message inside the body content

## To Reproduce

Configuration:

JavaCode

[code]

Steps to reproduce the behavior:
1. Just using the cod

[2021-07-05 15:02] Sanne commented on #18268
Actually to go with my workaround I would also need to change the CDI producer from type `Mutiny.Session` to `Uni<Mutiny.Session>`, otherwise I now have the problem on opening.

[2021-07-05 15:17] #18349 closed

[2021-07-05 15:18] GavinRay97 commented on #18373
Hey thank you for the reply @stuartwdouglas! 🙏
I'm happy to file this issue at JUnit instead -- could I ask for one bit of insight as to how this works though:

[code]

I thought it might be something like this but it happens even for test cases in which I just do this:
[code]

And that comes out as:
[code]

In this scenario, it's because again, it's a `public scala.runtime.Nothing$ testThing()` a

[2021-07-05 15:23] Sanne commented on #18268
so I have a POC which works fine, but injecting a `Uni<Mutiny.Session>` is a PITA in terms of usability; I converted some tests and even for these simple use cases it's no longer readable as now it's all deeply nested:

    @Inject
    Uni<Mutiny.Session> sessionUni;

    sessionUni.chain(session -> session.withTransaction(tx -> session.doStuff ...... )))))))))))))))));

wouldn't anyone prefer inj

[2021-07-05 15:23] chiragrp commented on #18374
Thank you @sberyozkin for you quick response and action!

[2021-07-05 15:37] EdwinKorsten commented on #14904
I have the same problem as @wsy89 and @akuzni2 with an AWS SDK library.

Error: Detected an instance of Random/SplittableRandom class in the image heap. Instances created during image generation have cached seed values and don't behave as expected.  To see how this object got instantiated use --trace-object-instantiation=java.util.Random. The object was probably created by a class initializer and

[2021-07-05 15:53] GavinRay97 commented on #18373
So there is no problem here, sorry for filing an issue and the ping.

This is (if I am allowed to have this opinion) an instance of really poor UX/DX on the side of JUnit5, as Stuart and Georgios both stated above.

I am happy to close this, finalize + submit my PR for Scala 3 support, and follow up with an issue on the JUnit repo that links back to this as evidence of why the current behavior is

[2021-07-05 16:01] gsmet commented on #18411
This should already be fixed by https://github.com/quarkusio/quarkus/pull/18304 .

[2021-07-05 16:04] gastaldi commented on #18411
@gsmet you're right. I tried locally and the document is now generated correctly. Closing this

[2021-07-05 16:04] #18411 closed

[2021-07-05 16:04] machi1990 commented on #18411
This is same issue as https://github.com/quarkusio/quarkus/issues/18335. It is indeed fixed in main as explained in https://github.com/quarkusio/quarkus/issues/18335#issuecomment-872806622, so could be an issue with rolling out the latest websites changes.

[2021-07-05 16:05] gastaldi commented on #18335
Duplicate of 18411

[2021-07-05 16:05] #18335 closed

[2021-07-05 16:34] cescoffier commented on #18418
Do you know if it also happens in 2.0?

[2021-07-05 16:37] daniel-alonso-sanchez commented on #18418
I don't know. I' will try it tomorrow tomorrow and the and report any advance.

Thanks a lot!

[2021-07-05 17:07] mmusgrov opened #18425 "Add a test feature to run a service before start tests"
## Description

Some extension integration tests want to automatically start a service running in dev/test modes. One option is to use @QuarkusTestResource to hook into the test lifecycle but Clement suggested I use "Dev Services" instead which he said doesn't exist yet but asked me to raise an issue for it.

## Implementation ideas

[2021-07-05 17:35] gavinking commented on #18268
Damn, this change has caused multiple bugs, one at each level. Ouch.

So I think it would make sense to add some sort of non-blocking equivalent.

However, here what I would do is instead of using `@Dispose`, use a CDI interceptor which appends a stage to the stream. Would that work?

[2021-07-05 17:36] sberyozkin opened #18427 "Provide Dev UI for OIDC when `quarkus.oidc.auth-server-url` is enabled which will work for all OIDC providers"
## Description

We have discussed this option with Jim Tyrrell. We already have a draft PR where Keycloak specific Dev Services support may be offered with the dedicated extension extending `quarkus-oidc` - however, if only `quarkus-oidc` is loaded then we should offer something similar to https://oidcdebugger.com/ (thanks to @mraible for linking to it)

[2021-07-05 17:36] gavinking commented on #18268
I think that's what I was doing in my code examples.

[2021-07-05 17:37] gavinking commented on #18268
I'm not quite sure what you mean by this, but it sounds *very* fragile and possibly broken to me.

[2021-07-05 17:40] gavinking commented on #18268
See: https://github.com/quarkusio/quarkus-quickstarts/pull/871

[2021-07-05 17:42] NinjaTycoon commented on #18329
That resolved it!  Perhaps you can update [this documentation](https://quarkus.io/guides/native-and-ssl#the-truststore-path) to suggest that.  Thanks for the help!  :)

[2021-07-05 18:53] Sanne commented on #18268
I wish.. we don't have a stream since the CDI entry points are blocking - or did I not understand your idea?

Yeah me too: and that's why I'm raising this to you and Clement: the notions of contexts from CDI doesn't integrate well.

FWIW I was originally planning to remove all reactive X.Session producers but the way Panache works you need a notion of "the current session", for those static method

[2021-07-05 19:24] gavinking commented on #18268
in an *interceptor*

[2021-07-05 19:27] gavinking commented on #18268
I think the *notions* work fine. I think we simply have not *integrated* them well, because we have not adjusted our thinking to what contexts make sense in a reactive invocation. We're trying to port ideas directly over from servlets and of course they don't make sense because the threading model is just different. I was talking about this with Max and Emmanuel today.

That is probably better, bu

[2021-07-05 19:28] gavinking commented on #18268
Well as I've been advocating in a different place, as long as the "request context" maps directly to a Vert.x context, we're fine, I think.

[2021-07-05 19:30] cescoffier commented on #18329
Yes, I will open a PR for the doc (don't close the issue, so I don't forget)

[2021-07-05 21:38] belkevglaz opened #18430 "Multipart configurations quarkus.http.body ignored."
I would like to turn off flushing multipart data to file system, but any `quarkus.http.body.*` configurations does not work.
Class as sample:
[code]
application properties are below.

How to get this work ?

### Expected behavior
After file uploaded, with described above configuration I expected to find the temp file in directory `/tmp/quarkus-http-body-uploads-directory`.

### Actual behavior
Act

[2021-07-05 21:43] NinjaTycoon commented on #18329
Well, if it bypasses the trustStore, then it technically doesn't resolve the issue which does appear to be a possible bug.  If you need to hit my SMTP server to test I can give it to you privately.  I just don't want a reference to it here.

[2021-07-05 22:33] stuartwdouglas commented on #18299
We have two different requirements here:
- Prod mode: Set the classloader at thread creation, use the same one the whole time (i.e. just use the inherited one), so basically vert.x can do nothing
- Dev mode: Change the 'captured' CL on each reload.

I think this will need some vert.x changes to make this work in an ideal way, previously this was all done with some nasty hacks, and the first applic

[2021-07-05 22:56] wsy89 commented on #14904
@EdwinKorsten @akuzni2
I was able to fix this by adding
[code]
in additional build arg.
Also I had to use aws sdk v2 instead of v1

[2021-07-06 00:28] juliaaano commented on #18395
@gsmet would you be able to quickly validate/triage this issue. It should just take cloning the repo and starting the tests in dev mode.

[2021-07-06 02:06] hrstoyanov commented on #18396
@gsmet @radcortez
This 2.0.0.Final issue could be with the hibernate bena validator, or teh way smallryee config is using it.
Here is a small reproducer: [issue_18396.zip](https://github.com/quarkusio/quarkus/files/6766813/issue_18396.zip)
You need to run it against a YAML config file, like the **hristo-test.yaml**, enclosed:

[2021-07-06 03:29] #18373 closed

[2021-07-06 05:28] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1003220419

[2021-07-06 05:47] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1003220809

[2021-07-06 06:04] daniel-alonso-sanchez commented on #18418
@cescoffier >You were right: it works on quarkus 2.0. It shows the mail content right after migration.

Thanks a lot!

[2021-07-06 06:04] #18418 closed

[2021-07-06 06:11] cescoffier commented on #18329
The mailer config must be extended to allow trust store configuration.
I will add that.

Thanks for the offer, I will ping you by email.

[2021-07-06 06:21] geoand commented on #18430
This is actually a duplicate of https://github.com/quarkusio/quarkus/issues/18113

[2021-07-06 06:21] #18430 closed

[2021-07-06 06:23] geoand commented on #18409
@aloubyansky might have some thoughts on this :)

In general I agree with George, we shouldn't go too far and start magically adding dependencies to the application just because we can :).
If we however had something like George mentioned in the `quarkus-kotlin-jackson` extension, we could engage it automatically if the `quarkus-jackson` and `quatrkus-kotlin` where part of the application.

[2021-07-06 06:24] geoand commented on #18425
For which service are we talking about adding "Dev Services"?

[2021-07-06 06:31] geoand commented on #16524
Actually, I've see this happen, for example https://github.com/quarkusio/quarkus/pull/18363

[2021-07-06 06:39] aloubyansky commented on #18409
Right, in can only be done if there is a corresponding Quarkus Kotlin extension.
An alternative way to the RR Kotlin support modelling it would be to create Kotlin area-specific (e.g. jackson, etc) extensions that would be configured with a condition on the presence of a specific artifact on a classpath. Then `quarkus-kotlin` extension would add optional dependencies on those Kotlin area-specific

[2021-07-06 06:46] geoand commented on #16524
The problem is that I cannot reproduce the problem locally...

[2021-07-06 07:06] tqvarnst commented on #18391
Currently, the CLI is documented to default run the test and then the user can control it with `--tests` or `--no-tests`. However, the way that Piccoli works a boolean command line option works adding the option will flip the default value, which means that when you add `--tests` it actually set `io.quarkus.cli.common.BuildOptions.runTest` to false, and the negotiated flag `--no-tests` set it to t

[2021-07-06 07:16] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1003220419

[2021-07-06 07:23] gsmet commented on #18360
Can you try to enable `quarkus.native.enable-reports=true` and compare the two reports with the classes (I would compare the different Quarkus versions with the same version of GraalVM first)?

[2021-07-06 07:23] gsmet commented on #18360
/cc @zakkak

[2021-07-06 07:27] gsmet commented on #18395
@stuartwdouglas could you have a look? It seems the issue only happens in dev mode.

@juliaaano was it working with 1.13?

[2021-07-06 07:35] gsmet commented on #18396
I don't know exactly what I'm supposed to do with the reproducer as it starts OK for me.

But as I mentioned earlier, looking at your code, this can't work:
[code]

`@NotBlank` only supports `CharSequence` by default and you don't add any custom validator AFAICS. That's why you end up with this error message saying it doesn't find any validator for this constraint and type. You need to use `@NotNu

[2021-07-06 07:36] geoand commented on #18409
Thanks @aloubyansky for the insight!

So let's close this for now, but keep in mind what is now possible due to your improvements in the bootstrap process

[2021-07-06 07:48] #18018 closed

[2021-07-06 07:51] cherrydev opened #18439 "mutable-jar build breaks docker cache"
## Describe the bug
When the package type is set to `mutable-jar`, the resulting build-system.properties file changes trivially every build. This causes the "COPY lib" Dockerfile command to generate a duplicate layer. This causes very large layers (>150Mi) to be unnecessarily pushed to a docker repository.

### Expected behavior
The Dockerfile contains the comment:

This indicates that the docker

[2021-07-06 07:57] geoand commented on #18439
Mutable jar is kind of special to be honest. The Dockerfile.jvm` is geared towards the regular `fast-jar`, not the `fast-jar`.
Maybe we should also add an example for this case.

WDYT @cescoffier @stuartwdouglas ?

[2021-07-06 07:59] oberstrike commented on #16602
Now they have passed 2 month since we found out what the problem is. When will the problem be fixed? Or is there a workaround exist?

[2021-07-06 08:11] andreas-eberle commented on #18409
Sorry, I'm not sure if I did understand all the deep down Quarkus details...

* Do you agree that this should be added automatically to ensure that stuff works they way it should?
* Did I get it right, that there is a technical limitation that does not allow to do it?

[2021-07-06 08:13] cherrydev commented on #18439
Isn't mutable jar required for live-reload? My particular use-case (using live-reload on a development kubernetes cluster) requires both it and Dockerfile.jvm.

[2021-07-06 08:14] geoand commented on #18439
Yes, it is required for remote-dev

[2021-07-06 08:27] sberyozkin commented on #18279
#18414 fixed it

[2021-07-06 08:27] #18279 closed

[2021-07-06 08:48] mmusgrov commented on #18425
@cescoffier has more detail.

[2021-07-06 09:00] aloubyansky commented on #18409
IMO, that's a reasonable feature request.

In traditional Maven/Gradle world, it is. In Quarkus 2.0 we introduced a Quarkus bootstrap feature that should allow us make it possible.

This could be a way. I think we should review the whole Kotin dependency model from this perspective to have a bigger picture.

[2021-07-06 09:05] andreas-eberle commented on #18409
Should we keep this issue open then? I mean, since it seems to be a reasonable request and technically possible. It looks to me this "only" requires clarification on how Quarkus wants to handle Kotlin specific dependencies over all. Therefore I'd like to see this reopened and maybe linked to an issue that focuses on the Kotlin dependencies discussion.

[2021-07-06 09:06] aloubyansky commented on #18409
Isn't this issue the same as https://github.com/quarkusio/code.quarkus.io/issues/426 ?

[2021-07-06 09:06] aloubyansky commented on #18409
Ah, it's different repo.

[2021-07-06 09:07] aloubyansky commented on #18409
The code.quarkus one should be closed, imo.

[2021-07-06 09:07] aloubyansky commented on #18409
Yes, I'd agree to keep it open.

[2021-07-06 09:09] andreas-eberle commented on #18409
I agree, a fix of this issue would make https://github.com/quarkusio/code.quarkus.io/issues/426 obsolete.

[2021-07-06 09:18] juliaaano commented on #18395
@gsmet prior to version 1.13 there was not live testing reloading. This issue is specific to that. Therefore I believe it's an issue from the 2.0 version.

[2021-07-06 09:44] FroMage commented on #18272
Sure: #18442

[2021-07-06 09:58] zakkak commented on #18360
Hi @vsevel @gsmet ,

This is a known GraalVM issue see https://github.com/oracle/graal/issues/3435 and https://github.com/oracle/graal/issues/3427

The increased compilation times appear to be linked to increased heap usage (as reported in https://github.com/oracle/graal/issues/3427), since we have not yet identified the cause of the increased memory usage if you have the resources you may try to

[2021-07-06 10:01] tlvlp opened #18443 "Separate artifact for Quarkus-specific annotations"
# Description
It would be useful to have a separate maven artifact for Quarkus-specific annotations without the logic behind them, similar to Spring's org.springframework:spring-context.
eg. @RegisterForReflection (not sure if there are any others).

And adding other related annotations like CDI, etc. that are used by Quarkus would be nice for our use case as well but might make it less flexible f

[2021-07-06 10:03] pestapever opened #18444 "StreamingOutput does not work with quarkus-resteasy-reactive-jackson"
The same code working with the extension quarkus-resteasy-jackson doesn't work with the quarkus-resteasy-reactive-jackson. It seems that StreamingOutput is not supported.

Here the code, suitably modified to report only what is of interest.

	@Path("test")
	@GET
	@Produces(MediaType.TEXT_PLAIN)
	public CompletionStage<Response> test() {
		return CompletableFuture.supplyAsync(() -> {
			try {
				f

[2021-07-06 10:12] geoand commented on #18444
`StreamingOutput` is indeed not supported in RESTEasy Reactive and we don't plan to support it as we have a much better way of streaming results, i.e by return a `Multi`

[2021-07-06 10:12] #18444 closed

[2021-07-06 10:55] gsmet commented on #18360
That could explain the regression with GraalVM 21.1 (but, gosh, it's drastic...) but that wouldn't explain the regression we have with both Quarkus versions using 21.0. We need to figure that out.

[2021-07-06 10:56] rasmusfaber opened #18445 "Quarkus Resteasy Reactive does not respect keep-alive when using Multi<>s"
## Describe the bug

Quarkus Resteasy Reactive kills connections even if Connection: keep-alive is specified and acknowledged by the server.

The problem only occurs when returning Multi<>s, not when returning Uni<>s or synchronous results.

A simple method such as

[code]
and then calling

`curl http://localhost:8080 http://localhost:8080 -v -H "Connection: keep-alive`

reproduces the problem.

#

[2021-07-06 11:10] rasmusfaber commented on #18445
I guess it is because of this line:
https://github.com/quarkusio/quarkus/blob/2cbd177416f92b9f45abb34b6f01acb8cb0f4eb5/independent-projects/resteasy-reactive/server/runtime/src/main/java/org/jboss/resteasy/reactive/server/handlers/PublisherResponseHandler.java#L141

The connection isn't closed when returning an Uni<>.

[2021-07-06 11:16] donders opened #18446 "quarkus-bootstrap-maven-plugin's extension-descriptor goal missing javadocs"
My goal is to use quarkus resteasy reactive in one of my microservices, but that means I also have to transition my custom extensions to resteasy reactive libraries. That would break other microservices that share functionality from those extensions, so I want to define a separate build to isolate these changes for now. The docs recommend making alternate builds if the difference is limited: https

[2021-07-06 11:30] belkevglaz commented on #18113
Have the same problem. How to get this work ?

[2021-07-06 11:33] geoand commented on #18113
It doesn't work at the moment

[2021-07-06 11:34] donders commented on #18446
Some more digging resulted in this document: https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/conditional-extension-dependencies.adoc, I should be able to find my answer there. Is this document available on the Quarkus reference site?

[2021-07-06 11:54] sberyozkin opened #18447 "Broken Pipe log error in Dev Console in the latest snapshot"
## Describe the bug
I'm seeing
[code]

in quickstarts, immediately in the `security-openid-connect-quickstart` and after a few clicks in the `getting-started`.

[2021-07-06 11:59] sberyozkin commented on #18447
Note, I've applied locally Phillip's fix, #18416 just so that I could continue testing my code

[2021-07-06 12:04] rmanibus opened #18448 "Resource are not filtered when they are replaced in quarkusDev with gradle"
## Describe the bug
I have the following task in my build.gradle:
[code]
It is working fine, however when I modify my application.yml lwhile the dev mode is running, I face the following exception:
[code]
### Expected behavior

application.yml is filtered during hot reload

### Actual behavior

application.yml is replaced without filtering

## Environment (please complete the following information

[2021-07-06 12:15] #18446 closed

[2021-07-06 12:47] KaiSuchomel opened #18449 "Enlisted connection used without active transaction after Migration to Quarkus 2.0.0"
## Describe the bug
(Describe the problem clearly and concisely.)

### Expected behavior
(Describe the expected behavior clearly and concisely.)

### Actual behavior
(Describe the actual behavior clearly and concisely.)

## To Reproduce

Link to a small reproducer (preferably a Maven project if the issue is not Gradle-specific).

Or attach an archive containing the reproducer to the issue.

Steps

[2021-07-06 12:48] #18449 closed

[2021-07-06 13:04] KaiSuchomel opened #18450 "Enlisted connection used without active transaction after Migration to Quarkus 2.0.0"
## Describe the bug
After migrated to the newest Version(2.0.0) we see a lot of the following exceptions in our logs:
[code]
[code]

### Expected behavior
No Exception should occur on the Console Log

### Actual behavior
With Version 1.13.7 of Quarkus no Exception is thrown on the Console Log
With Version 2.0.0 of Quarkus the above mentioned Exceptions are thrown on the Console Log

## To Reproduc

[2021-07-06 13:07] KaiSuchomel commented on #18450
@cescoffier FYI

[2021-07-06 13:27] cescoffier commented on #18450
Thanks,

To be honest,  I don't understand. `emitter.send()` enqueue the message into a queue read from another thread.

It seems to work if you use `emitter.send(aProducedGift.toString()).toCompletableFuture().join();`, which basically wait until the message is written into Kafka. I'm thinking it's actually safer as it would roll back the insertion in this case.

[2021-07-06 13:31] radcortez commented on #18375
Have you tried multiple profiles https://smallrye.io/docs/smallrye-config/config/config.html#_multiple_profiles?

In that way, you should be able to keep the Quakus profile and add your own.

[2021-07-06 13:37] ennishol commented on #18375
@radcortez  No I didn't know about multiple profiles. I will try that out. Thank you!

[2021-07-06 13:46] antonwiens opened #18451 "Resteasy Reactive ExceptionMapper for, e.g., ClientErrorException has no active request scope"
When using a ExceptionMapper<ClientErrorException> which is RequestScoped or uses other RequestScoped beans,
following error occurs:

ERROR [org.jbo.res.rea.com.cor.AbstractResteasyReactiveContext] <> (vert.x-eventloop-thread-2) Request failed: javax.enterprise.context.ContextNotActiveException

This is easily reproduced with provoking a 405 on a jaxrs endpoint.

This happens with quarkus-resteasy

[2021-07-06 13:51] geoand commented on #18451
Can you please attach an example application?

[2021-07-06 13:51] myassine2 opened #18452 "Allow Multiple Mailers"
## Description

Enhance the mailer package to create multiple mailer properties which can be separated by custom key name. In case a service has to use different SMTP servers from different domains.

## Implementation ideas

It can be done through the properties by defining the * as illustrated bellow:
`quarkus.mailer.*.from=YOUREMAIL@gmail.com`

It can be instantiated as follows in the Java code

[2021-07-06 14:00] radcortez commented on #18375
Great. Let me know if that works. If that works for you then you should be able to set up the RESTEasy provider using the default sources.

In the meanwhile, I'm prototyping something to support the custom sources when they are needed.

[2021-07-06 14:06] antonwiens commented on #18451
I created a simple project for that:
[reproducer.zip](https://github.com/quarkusio/quarkus/files/6770590/reproducer.zip)
Simply call it with "curl localhost:8080/hello -X POST" and you will see the error.
It also happens if the exception mapper itself is not requestscoped but requestscoped beans are injected and used.

[2021-07-06 14:08] ennishol commented on #18375
@radcortez  I think it would work, but maintaining the configs with multiple profiles is a bit cumbersome. It would be really great if it would be possible to select config file per deployment as described above. It is really nice to have them isolated on the file level

[2021-07-06 14:10] KaiSuchomel commented on #18450
@cescoffier  Hey Clement, thanks for your quick Response.
The UseCase that we are archieving with the code is, after we have for example saved an entity the entity is send via Kafka to another microservice. I have changed the Sources so far that we need to send an Message with a KafkaKey instead of a simple String. Can you have a look at the implementation, perhaps you have also hint for this situ

[2021-07-06 14:12] vsevel commented on #18360
I have not been able to configure `quarkus.native.enable-reports=true`. I have tested with Quarkus 2.0 and GraalVM 21.0 and 21.1, and everytime I get the process killed with:

[code]

I tried with `-H:DeadlockWatchdogInterval=30`, but that failed also.
I am still using `quarkus.native.native-image-xmx=10g`

I have deactivated the report, and kept a `10g` heap. Now I can pass the build with `(compi

[2021-07-06 14:19] tioback commented on #7140
@aloubyansky - this issue seems to have resurfaced in 2.0.0.Final.

    ./mvnw test -f integration-tests/hibernate-validator -Dtest=HibernateValidatorFunctionalityTest

Running the above line breaks on master.

[2021-07-06 14:21] gsmet commented on #18360
Can you try doing it locally instead of doing it on OpenShift?

[2021-07-06 14:37] ebullient commented on #18391
i must not have tested this properly, but I know how the naggion works, and the tests/no-tests is preferred.. probably need to adjust a little, but I do not want to move to skip.

[2021-07-06 14:45] cherrydev commented on #18439
Here's an implementation of a utility function that will fix this:
[code]
8859-1 is the character set used in the Java 1.5-v9 implementation of `Properties#store()` and is also compatible with >v9 versions of `#load()`

[2021-07-06 14:52] tioback commented on #7140
In a sense, you're right.

It works if you go only through `mvnw`:

[code]

However, if you try to run and test through IntelliJ, or build it through IntelliJ and run it through `mvnw`, then it breaks.

I'm guessing they haven't added the proper support for 2.0.0.Final to it, yet.

[2021-07-06 15:01] geoand commented on #18451
https://github.com/quarkusio/quarkus/pull/18454 fixes the issue.

Thanks for reporting

[2021-07-06 15:03] FroMage commented on #18268
I don't mind at all if Panache gets its session from somewhere else than this producer, I just didn't want to introduce a second storage for it as long as it existed.

[2021-07-06 15:04] opendoc-tree commented on #4009
add **quarkus.native.additional-build-args = -H:IncludeResources=META-INF/resources/.***  in **application.properties** file

[2021-07-06 15:19] hrstoyanov commented on #18396
Are you using java 16?

[2021-07-06 15:26] gsmet opened #18457 "Multiple issues with SmallRye GraphQL Client"
The quickstart for SmallRye GraphQL Client doesn't work anymore.

There are multiple issues.

## Config

The config that was used looks like it's not supported anymore as I get:

[code]

I tried to follow this advice but it didn't work so the advice is wrong or something is broken.

I was able to get it to work by using the Quarkus way (following what @jmartisk did in his config overhaul PR). See

[2021-07-06 15:35] Sanne commented on #18268
I've taken a step back from the more complicated solution I mentioned early and went with this:
 - https://github.com/quarkusio/quarkus/pull/18458

I believe it should work because we technically don't really need to wait for this to have happened in such an aggressive way: the availability of connections on the pool will provide a natural ordering, prioritizing operations which close sessions ove

[2021-07-06 15:51] cescoffier commented on #18439
Yes, the issue is that the properties file is updated with a timestamp and so requires rebuilding that layer and all the layers above. The proposed solution would work. Too bad that we can't disable that comment in https://docs.oracle.com/javase/10/docs/api/java/util/Properties.html#store(java.io.Writer,java.lang.String).

[2021-07-06 15:53] cescoffier commented on #18450
Do you mean doing something like:

[code]

[2021-07-06 16:00] loicmathieu commented on #5907
Closing it as Jaeger client version is now 1.4 and opentracing is now 0.33.0

[2021-07-06 16:00] #5907 closed

[2021-07-06 16:11] mweber03 commented on #18205
@stuartwdouglas I think that's a great idea.

[2021-07-06 16:43] #18451 closed

[2021-07-06 17:09] radcortez commented on #18375
I think it should work. When you pass in the multiple profiles, it will load any file with any profile in the name, but also the profile property names inside the file. So you use the something like `quarkus.profile=dev,a` where you have `application-a.properties` or `quarkus.profile=dev,b` where you have `application-b.properties`. Each file can contain different `%dev` properties.

Another alter

[2021-07-06 17:27] flynnk opened #18462 "Tests fail with java.util.ServiceConfigurationError on OASFactoryResolver when OpenAPI oidc security-scheme is defined"
## Describe the bug
With the settings shown in application.properties below, whenever I run tests in Quarkus 2.0, I get a long exception (see results).

The application (if I disable tests) runs fine.

Feels like a classloader issue with the new test classloader (this is running a ServiceLoader lookup).  From the stack trace, the service loader is triggered by the security scheme itself while the

[2021-07-06 18:26] radcortez commented on #18396
I also tried the reproducer and if we replace `@NonBlank` with `@NotNull` the app starts as expected.

Also, I think that `@NotNull` is not really required. Config never injects or retrieves a `null` value. A config `null` value look up always returns an exception and fails the application. The only exception is if the expected type is an Optional, but even in that case you get an empty Optional a

[2021-07-06 19:01] #18268 closed

[2021-07-06 19:07] hrstoyanov commented on #18396
@radcortez any way to make the error show the bad annotated field?

[2021-07-06 19:09] Sanne commented on #18268
yea I think that's reasonable. If the producer exists from CDI we should make sure that Panache uses the same Session instance.

On the other hand, I'll consider removing all CDI producers and provide an alternative for Panache. Creating a new Session and storing one in the Vertx context is easy.. the tricky part is to define when the scope should end.

[2021-07-06 19:09] Sanne commented on #18268
(I've just closed this issue BTW)

[2021-07-06 19:27] maxandersen commented on #18391
The default is just wrong then :)

[2021-07-06 23:01] nkhoshini opened #18468 "Quarkus 2.0.0 with resteasy-reactive and kotlin produces invalid OpenAPI schemas"
## Describe the bug
We are using Quarkus 2.0.0 internally and would like to switch to using the Kotlin coroutine support built into quarkus-resteasy-reactive. However the OpenAPI schema generated from the REST methods seem to add a coroutineContext value to the request.

A simple resource like
[code]

produces the following OpenAPI spec

[code]

Getting rid of the `suspend` modifier produces the p

[2021-07-06 23:35] flynnk commented on #18462
Hmm...  I may have somehow fixed this on my own, which implies strongly it was a classpath issue in my project and not an underlying issue.  I'll do a few more tests, but if I don't see anything else, I'll close this out.

Strange way for this to manifest though, in terms of error.  May have somehow had a piece of an Quarkus 1.11 floating in there.

[2021-07-06 23:36] keitaf opened #18469 "[RESTEasy] enabling GZIP compression results in corrupted chunked response"
## Describe the bug

A REST endpoint returns a corrupted data when GZIP compression is enabled on the endpoint but it's returning a chunked and uncompressed response.

Here is a sample code to reproduce.
[code]

When you run this app with `./gradlew quarkusDev -Dquarkus.http.enable-compression=true` and call `GET /hello` without specifying `Accept-Encoding` header, it returns a corrupted JSON like

[2021-07-07 01:04] stuartwdouglas commented on #18395
There is nothing we can do here. Wiremock is binding to 8080, which is also what the main dev mode binds to. If you want to use continuous testing you need to either:
- run `mvn quarkus:test` so Quarkus does not start on 8080 (i.e. testing only, no devmode)
- Bind wiremock to a different port
- Use `%dev.quarkus.http.port` to bind quarkus to a different port in dev mode.

[2021-07-07 01:04] #18395 closed

[2021-07-07 01:27] #18396 closed

[2021-07-07 01:28] #14530 closed

[2021-07-07 01:54] felipewind commented on #18279
@sberyozkin sorry, I didn't see your message at time. In the next opportunity I'd be glad to make a small PR. Thanks.

[2021-07-07 03:18] aomsweet commented on #18288
Hi. @knutwannheden  I tested 2.0.1.Final and no coloring.

reproducer:
[https://github.com/aomsweet/quarkus2-issue18287](https://github.com/aomsweet/quarkus2-issue18287)

[2021-07-07 04:34] yuhaibohotmail commented on #17877
@ge0ffrey
OptaPlanner 8.8  didn't fix it.
[code]
[code]

[2021-07-07 05:51] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1006837701

[2021-07-07 05:53] ChMThiel commented on #18450
Why won't it work with Microprofile's Message-Interface?
[code]
To switch to smallrye's Record-Class would cause a lot of refactoring...

[2021-07-07 06:10] sdaschner opened #18473 "Indexed configuration properties not injected by @ConfigProperty"
## Describe the bug
When using indexed properties, like described in the [docs](https://quarkus.io/guides/config-reference#indexed-properties), I can only access a collection programatically, but not via injection with `@ConfigProperty`.

## To Reproduce

[code]

and properties:

[code]

Fails with:

[code]

However, if I uncomment the `complexList`, the programmatic lookup, like described in the

[2021-07-07 06:12] cescoffier commented on #18450
That would work too.

[2021-07-07 06:12] cescoffier commented on #18425
Dev Services already exist. What needs to be done is: a dev service starting the LRA coordinator. I will change the title and description of the issue.

[2021-07-07 06:19] ChMThiel commented on #18450
no it won't ;(
[code]
throws
[code]

[2021-07-07 06:33] phillip-kruger commented on #18468
I created https://github.com/smallrye/smallrye-open-api/issues/848 for this. We need to fix this in SmallRye

[2021-07-07 06:36] geoand commented on #18425
Thanks @cescoffier.

[2021-07-07 06:36] geoand commented on #18468
Thanks @phillip-kruger

[2021-07-07 06:39] phillip-kruger commented on #18462
Closing for now, please reopen if needed.

[2021-07-07 06:39] #18462 closed

[2021-07-07 06:47] cescoffier commented on #18450
Ah yes, you can't retrieve the ack like that. You will. We'd to pass your own ack function. Let me craft an example.

[2021-07-07 06:49] cescoffier commented on #18450
Try with:
[code]

[2021-07-07 07:05] ennishol commented on #18375
created a/application.properties and with
java -Dquarkus.profile=a -Dquarkus.config.locations=a -jar target/quarkus-app/quarkus-run.jar
the properties from a are not loaded, only default ones from src/main/resources

[2021-07-07 07:08] mkouba commented on #18386
So you can pass any object as a template data, including maps, see also `Template.data(Object)` and `TemplateInstance.data(Object)`. In fact, if you do `template.data("foo", true)` then internally a map is created to hold the data. To sum it up: `template.data(properties)` should work just fine.

[2021-07-07 07:29] maxandersen commented on #18386
mkay  - might be worth updating the docs for that method then - https://javadoc.io/doc/io.quarkus.qute/qute-core/latest/io/quarkus/qute/Template.html  doesn't help much

[2021-07-07 07:33] christianwerz opened #18476 "Smallrye messaging problem when the sum of producer and consumer is exactly 32"
I know this is not an original error of quarkus but maybe it helps other people who have this error. You are not alone.

## Describe the bug
On the startup of the quarkus, smallrye messaging will materialize producers and consumers. Therefore it will sort a list of these. While sorting the following exception occur:
[code]

### Expected behavior
No exception :)

## To Reproduce
Please take a look

[2021-07-07 07:37] jmartisk commented on #6588
@geoand that will be fixed via https://github.com/quarkusio/quarkus/issues/18457 and upgrade of SmallRye GraphQL to 1.2.8. Will do that today

[2021-07-07 07:38] geoand commented on #6588
Great to hear it, thanks!

[2021-07-07 07:48] rsynek commented on #11563
The failure was introduced by https://github.com/kiegroup/optaplanner/pull/1402.

[2021-07-07 07:54] mfatbmw opened #18477 "Upgrade to 1.13.0.Final and above causes Cannot transform java.util.concurrent.ThreadPoolExecutor as its containing application archive could not be found"
## Describe the bug
After increasing version from 1.12.2.Final to 1.13.0.Final and higher the application will not startup correctly.
`WARN  [io.qua.dep.ste.ClassTransformingBuildStep] (build-54) Cannot transform java.util.concurrent.ThreadPoolExecutor as its containing application archive could not be found.`

We use Quartz (cluster mode) for scheduling tasks among pods and java.util.concurrent.S

[2021-07-07 07:56] geoand commented on #18473
Interesting use case, thanks for reporting!

It seems that here we would need to preserve the type signature when building `ConfigValidationMetadata` and use it to recreate the parameterized type for the List at runtime.
@mkouba I know Arc has a whole bunch of utilities to do similar things, which ones would be useful in this case?

[2021-07-07 07:57] geoand commented on #18477
Can you please attach a  sample project that reproduces this behavior?
It will be immensely useful in tracking down what is causing this

[2021-07-07 08:03] geoand commented on #18476
Neat,

The source of the problem being:

[code]

doesn't look like a great comparator :)

[2021-07-07 08:05] geoand commented on #18469
cc @ronsigal @jamezp

[2021-07-07 08:13] ChMThiel commented on #18450
Hello Clement,

Thank your for your example and your prompt help.
But it seems, the ack never comes... the 'future.join()' waits for ever. So the transaction is not closed (because the method never ends)....Then the next timer triggers a new 'doTransactionalStuff' with a new Transaction, until eventually there are no more open connections and Exceptions are thrown....
I tried 'future.get(500L, Tim

[2021-07-07 08:22] ChMThiel commented on #18450
[code]
Works as a charm...the completableFuture finishes in time, the method is finished, transaction is closed.

[2021-07-07 08:31] zakkak commented on #18305
Fixed by https://github.com/oracle/graal/pull/3446

[2021-07-07 08:31] #18305 closed

[2021-07-07 09:11] mkouba commented on #18473
Hm, I don't think we have a util to convert a `org.jboss.jandex.Type` to something that could be passed as a recorder param. But maybe we will not need this. @radcortez how are the indexed properties handled in SR config? Are clients supposed to call  `org.eclipse.microprofile.config.Config.getValues(String, Class<T>)` or?

[2021-07-07 09:14] mkouba commented on #18386
Feel free to send a PR ;-). I think that the javadoc for `TemplateInstance` is quite clear and those convenient methods declared on `Template` are just delegating to the template instance.

[2021-07-07 09:29] rsynek commented on #11563
Should be fixed by https://github.com/kiegroup/optaplanner/pull/1415.

[2021-07-07 09:31] nunomarks commented on #17587
Tested with `2.0.0.Final`. It still happens.

[2021-07-07 09:42] mfatbmw commented on #18477
I added a reproducer.zip file to the main issue.
Using <quarkus.platform.version>1.12.2.Final</quarkus.platform.version> will work
Every later version of quarkus causes the reported warning and application fail

[2021-07-07 09:57] #16718 closed

[2021-07-07 10:03] radcortez commented on #18473
It should work. The injection of indexed properties is handled by SR `ConfigProducerUtil`. This was added in https://github.com/quarkusio/quarkus/commit/820baaa346c9021987f74af26428de500ccc7019 and we added a bunch of tests for injection points.

Let me try the reported use case.

[2021-07-07 10:12] geoand commented on #18473
The problem in this case is not in SR Config. It's in Quarkus only when we perform the validation logic

[2021-07-07 10:14] radcortez commented on #18473
Ok, it seems I added a https://github.com/quarkusio/quarkus/blob/820baaa346c9021987f74af26428de500ccc7019/extensions/arc/deployment/src/test/java/io/quarkus/arc/test/config/IndexedPropertiesInjectionTest.java#L52 to the test :D

[2021-07-07 10:23] radcortez commented on #18473
Yes, if we remove the validation logic it works as expected.

@mkouba what was your idea?

[2021-07-07 10:58] mkouba commented on #18473
@radcortez  My idea was that we might store some info about the component type for collection types and handle them specifically in the recorder, which is basically a poor man's variant of passing the full type info as a recorder param.

@geoand And my answer was that I'm not aware of any existing "piece" ;-)

[2021-07-07 10:59] geoand commented on #18473
Understood, thanks!

Indeed just passing the component type of the collection type would be enough in this case

[2021-07-07 11:04] radcortez commented on #18473
Ok, who fixes this then? :)

[2021-07-07 11:09] geoand commented on #18473
I can fix it this week. `2.0.1.Final` is already out, so it doesn't make sense to try and get it in as fast as possible. But I do want it in for when `2.0.2.Final` so I'll take a look soon

[2021-07-07 11:11] radcortez commented on #18375
Most likely the issue is related with the location of the file. When you pass a relative path, it uses the working directory of the quarkus application. So to be safe, just use the absolute path.

[2021-07-07 11:12] radcortez commented on #18473
Ok. Thanks!

[2021-07-07 11:18] magicwerk opened #18479 "@Timeout seems not to work with @Fallback/@Retry"
## Describe the bug

A service method is is annotated with

	@Retry(maxRetries = 1)
	@Fallback(fallbackMethod = "fallbackRandomHero")
	@Timeout(value = 1, unit = ChronoUnit.SECONDS) // Timeout seems to be ignored, delay is 4 seconds

It tries to call another service which is not available.

### Expected behavior

As @Timeout is configured to be 1 second, processing should continue after 1 second,

[2021-07-07 11:41] glefloch commented on #18448
Thanks for reporting this @rmanibus.

When changes are detected by quarkus in dev mode, it does not rely on the build tool to process resources and compile classes. It copy/paste resources and compile manually classes.

I don't think this would be possible. WDYT @aloubyansky ?

[2021-07-07 11:46] mkouba commented on #18413
Ok, so the problem is that the data map has no key of value `currentExtensionName`. We only add this to the data for non-main templates: https://github.com/quarkusio/quarkus/blob/main/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/devmode/console/DevConsole.java#L111.  Like I mentioned in https://github.com/quarkusio/quarkus/pull/18416#issuecomment-875517107 it wou

[2021-07-07 11:48] phillip-kruger commented on #18413
@mkouba what do you suggest ?

[2021-07-07 11:51] aloubyansky commented on #18448
Right, it's not a bug. It was a design decision. We don't have the necessary integration with the underlying build tools (Maven/Gradle) for that to happen at the moment. Currently we are not looking to do anything about that, unfortunately.

[2021-07-07 11:59] geoand commented on #18477
This is definitely a bug that we need to fix on our side, but you can get around it for the time being by using `quarkus.arc.dev-mode.monitoring-enabled=false`.
https://github.com/quarkusio/quarkus/pull/18480 should provide a proper fix

[2021-07-07 12:09] rmanibus commented on #18448
Ok, I understand, what solution do you advise to provide credentials to the application in dev mode ? I used to provide them to the application.properties with maven or gradle filtering, I would like to avoid having to set them as environment variable ! I would love to have something like dot env in javascript !

[2021-07-07 12:12] rmanibus commented on #18448
now that I say it, I could implement a [java dotenv](https://github.com/cdimascio/dotenv-java) [credentials-provider](https://quarkus.io/guides/credentials-provider)

[2021-07-07 12:19] mkouba commented on #18413
Well, the option 1 is quick but fixes only the problem with the `main` template. Option 2 is a safe one because we don't have tests for all DEV UI pages and more of them could be broken. On the other hand, option 2 is a bit short-sighted. Option 3 is a bit cumbersome. I think that for now we should go with option 2.

I will create a separate issue to verify all DEV UI templates and possibly switch

[2021-07-07 12:20] aloubyansky commented on #18448
Simply adding `.env` to your app's module dir should work.

[2021-07-07 12:22] rmanibus commented on #18448
Thank's I missed that one !

[2021-07-07 12:25] phillip-kruger commented on #18413
So we should merge #18416 (option 2) for now ?

[2021-07-07 12:25] aloubyansky commented on #18448
Yes, let's close this one for now.

[2021-07-07 12:25] #18448 closed

[2021-07-07 13:03] aomsweet commented on #18288
Use `main(String[] args)` to start it to display the color. Use `Intellij IDEA Quarkus plugin` to start, the color cannot be display.

[2021-07-07 13:25] mkouba opened #18485 "Dev UI qute config - switch to strict rendering"
This is a follow-up of https://github.com/quarkusio/quarkus/pull/18416. Strict rendering breaks the main page. We should fix the template, verify all other pages and add smoke test for every extension.

[2021-07-07 13:28] #18413 closed

[2021-07-07 13:36] snazy opened #18486 "Quarkus 2.0.1: Reflective access broken for Jackson (de)serialization / inheritance/polymorphism"
## Describe the bug
We've bumped Quarkus from 2.0.0.Final to 2.0.1.Final and our integration-tests against a Quarkus native image build fail since Quarkus 2.0.1.

[Nessie commit with successful CI run before the Quarkus version bump](https://github.com/projectnessie/nessie/commit/ddde10d8fffdf59ab1000a4c87e2a8cc26adccf8)
[Nessie commit with failing CI run for the Quarkus version bump](https://gith

[2021-07-07 13:58] #16871 closed

[2021-07-07 14:09] deodorel opened #18490 "No composite lambda handler (http + stream)"
## Describe the bug
Right now there is no way for an application to properly respond to both lambda stream calls (let's say an aws sqs trigger) AND standard http calls.
If the rest/http module is active you can't have your own lambda handler, and you can only serve http like calls.
If you write your own lambda handler you need a way to proxy the awsrequest to resteasy/jax-rs format and call the co

[2021-07-07 14:42] geoand commented on #18473
https://github.com/quarkusio/quarkus/pull/18491 should take care of the issue

[2021-07-07 14:42] samodadela opened #18492 "Ctrl+C is broken if pressed within Transactional (Quarkus 2.0.1.Final)"
## Describe the bug
It seems that since Quarkus 2.0.1.Final, if Ctrl+C is pressed while in a `Transactional` block, quarkus:dev is not stopped. It is necessary to kill -9 the process.

### Expected behavior
quarkus:dev should stop when Ctrl+C is pressed, application should terminate.

### Actual behavior
When Ctrl+C is pressed while the application is in a `Transactional` block ^C is written to th

[2021-07-07 14:45] samodadela commented on #18492
Reproducer (modified quickstart, Quarkus version set to 2.0.1.Final):
[hibernate-orm-quickstart.zip](https://github.com/quarkusio/quarkus/files/6778094/hibernate-orm-quickstart.zip)

[2021-07-07 15:09] samodadela commented on #18492
Application output including exceptions:
[code]

[2021-07-07 15:12] samodadela commented on #18492
And latter when the Transactional timeout expires:
[code]

[2021-07-07 15:21] radcortez commented on #18473
@sdaschner BTW, as a workaround, please use `@ConfigMapping` to map any configuration like detailed here: https://quarkus.io/guides/config-mappings.

[2021-07-07 15:52] philschaller opened #18494 "Dev Services with a remote Docker environment"
## Description

Since Quarkus 2.0.0.Alpha2 (#16904) Dev Services are restricted to local Docker environments. Any existing remote environments are ignored. Our build system relies on such a remote Docker environment (GitLab Runner with k8s and DinD).

## Workaround

Use an explicit test container with `QuarkusTestResourceLifecycleManager` and disable Dev Services with `quarkus.datasource.devservic

[2021-07-07 15:55] patriot1burke commented on #18490
Not understanding this post.  We do not support both regular lambdas and our Spring MVC/JAX-RS/Servlet + lambda integration in one project.  Create separate projects.  If you want to use quarkus Spring MVC support (or JAX-RS or vertx web or servlet), etc, then use the quarkus-amazon-lambda-http/rest extension:

https://quarkus.io/guides/amazon-lambda-http

[2021-07-07 15:55] #18490 closed

[2021-07-07 15:57] j1cken opened #18495 "Update to 2.0.1.Final breaks working Kafka deserializer configuration in 1.x"
## Describe the bug
Changing pom.xml from 1.x to 2.0.1.Final prevents successful Dev Mode startup with exception.

### Expected behavior
No errors during startup like before with 1.x

### Actual behavior
Exception during startup is thrown:

[code]

## To Reproduce

Could not reproduce with quarkus-quickstarts/kafka-panache-reactive-quickstart, but there isn't any quickstart utilising deserializers

[2021-07-07 16:19] antonwiens commented on #14904
@gsmet I am running also into the issue with org.apache.http.impl.auth.NTLMEngineImpl using aws s3 extension and apache client. Can we get a fix for that?

[2021-07-07 16:23] sdaschner commented on #18473
Folks, you're awesome :sunglasses: Thanks for the quick updates!

@radcortez Yes, that's what I also tried out, this works

[2021-07-07 16:31] jerboaa commented on #14904
@antonwiens  Are you also using the HTTP client extension as a dependency as described here?

https://quarkus.io/guides/amazon-s3#configuring-s3-clients

[2021-07-07 16:35] antonwiens commented on #14904
@jerboaa No, i didn't. I pulled up the versions and didn`t know i had to add this, thats a nice hint, thanks and sorry for pulling this issue up again.

Maybe a build error from the quarkus plugin would be nice, if the apache client dependency was added and the quarkus-apache-client extension was missing. Just as a hint for ppl upgrading or not reading the documentation properly :)

[2021-07-07 18:52] mweber03 opened #18498 "Annotation class not available: @Any"
## Describe the bug
When migrating from Quarkus `1.13.7` to `2.0.0` I began getting the below exception (referencing the `javax.enterprise.inject.Any`). Unfortunately I have not been able to isolate the problematic code from my baseline to create a reproducer. I am open to any suggestions on how to fix this.

### Expected behavior
Successful build

### Actual behavior
[code]

## To Reproduce

I ha

[2021-07-07 19:20] mweber03 opened #18499 "ConfigMapping causes ConfigBuildStep#generateConfigMappings threw an exception: java.lang.NullPointerException"
## Describe the bug
I'm trying to use `@ConfigMapping` in `1.13.7` but it causes an exception during the build (see below). It looks like it is able to build fine in `2.0.0`, but I'm having other issues with that migration (https://github.com/quarkusio/quarkus/issues/18498). I'm hoping for a workaround to get `@ConfigMapping` working in `1.13`.

### Expected behavior
Successful build

### Actual b

[2021-07-07 19:28] mweber03 opened #18500 "2.0 dev mode not reading application properties"
## Describe the bug
After switching to `2.0`, it looks like dev mode is not reading my `application.yaml` in `config/`.

### Expected behavior
Successful run

### Actual behavior
`NoSuchElementException: SRCFG00014: The config property name is required but it could not be found in any config source`

## To Reproduce

Reproducer: `service1` after swapping the Quarkus version in https://github.com/m

[2021-07-07 19:34] #16659 closed

[2021-07-07 19:42] cescoffier commented on #18495
Sounds like a bug in the auto-detection of the serde.

[2021-07-07 19:47] cescoffier commented on #18450
Ah, yes, m'y ack function is incorrect.

 @Transactional
    public void doTransactionalStuff(Gift aProducedGift) {
        System.err.println("GiftController.doTransactionalStuff: " + aProducedGift);
        CompletableFuture<Void> future = new CompletableFuture();
        em.persist(aProducedGift);
        OutgoingKafkaRecordMetadata<String> metadata = OutgoingKafkaRecordMetadata.<String>builder

[2021-07-07 19:52] cescoffier commented on #18452
Probably not @Named but @Identifier but yes, that could be useful.

[2021-07-07 19:58] casmeiron opened #18501 "Quarkus 2.0.1.Final Maven Build failing on step HibernateValidatorProcessor#build"
## Describe the bug

Upgraded to Quarkus 2.0.1 (followed the instructions to migrate) but my project stop working, can't build anymore.

Heres the problem:

ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:2.0.1.Final:build (default) on project <>: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build

[2021-07-07 20:09] felipewind opened #18502 "PanacheEntityBase.delete(String query, Parameters params) doesn't work with SQL prefix - java.lang.IllegalArgumentException: org.hibernate.hql.internal.ast.QuerySyntaxException: unexpected token: DELETE"
## Describe the bug
If I pass the SQL DELETE prefix command to the `String query` of the  `PanacheEntityBase.delete(String query, Parameters params)`, I receive the following error:
[code]

Example of `String query`:

If I omit the SQL prefix as below, everything works fine:

Command:
[code]

**I don't know if this is a bug or I misunderstood the `String query` parameter.**

The `find(String query

[2021-07-07 20:24] #18473 closed

[2021-07-07 20:44] Sanne commented on #18501
hi @casmeiron , you should really not override the versions of components as provided by Quarkus, we pick the versions carefully for compatibility across them and our extensions. Please try using the versions from the BOM provided by Quarkus?

[2021-07-07 20:54] gsmet commented on #18501
Please see this entry of the migration guide: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#jandex-upgrade . It should solve the issue.

[2021-07-07 20:57] gsmet commented on #18452
I think we should take a step back and try to be more consistent because some parts of Quarkus use `@Named` IIRC, some specific qualifiers and now this `@Identifier` one.

[2021-07-07 21:02] huw0 opened #18503 "CORS is broken with Quarkus and http2"
## Describe the bug
Duplicate access-control* headers with http 2. Browsers do not allow these and so connections fail.

### Expected behavior
Single access-control* headers for each type matching the Quarkus CORS configuration. Works as expected with http 1.1

### Actual behavior
Duplicate access-control* headers with http 2. There should only be a single header of each type returned.

With http1

[2021-07-07 23:01] AlexandreGuidin commented on #18103
I think that the file `docs/src/main/asciidoc/hibernate-reactive-panache.adoc` will create a guide in that page

Compare it:
https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/hibernate-orm-panache.adoc
https://quarkus.io/guides/hibernate-orm-panache

You can appreciate the preview:
https://github.com/quarkusio/quarkus/blob/main/docs/src/main/asciidoc/hibernate-reactive-panache.

[2021-07-07 23:25] stuartwdouglas commented on #18494
Did this used to work? I don't think we changed anything in particular here.

[2021-07-07 23:25] stuartwdouglas commented on #18494
Ah, never mind, just saw the linked issue.

[2021-07-07 23:41] stuartwdouglas commented on #18494
@philschaller any chance you could build the linked PR and see if it fixes your issue? I don't have a remote docker env to test.

[2021-07-07 23:43] AlexandreGuidin commented on #18184
I've updated to `2.0.1.Final` and it works very well

[2021-07-08 02:18] stuartwdouglas commented on #18288
https://github.com/quarkusio/quarkus/pull/18506 should fix it, I will boot into windows later today to test it.

[2021-07-08 03:53] mickeyjoe666 commented on #12324
hey! i fixed dockerignore but seems the problem not gone, could you help me?

`Sending build context to Docker daemon  10.75kB
Step 1/13 : FROM registry.access.redhat.com/ubi8/ubi-minimal:8.3
 ---> 332744c1854d
Step 2/13 : ARG JAVA_PACKAGE=java-11-openjdk-headless
 ---> Using cache
 ---> 04526731ef27
Step 3/13 : ARG RUN_JAVA_VERSION=1.3.8
 ---> Using cache
 ---> 1a751a2fa7bd
Step 4/13 : ENV LANG='

[2021-07-08 04:37] geoand commented on #18184
👌

[2021-07-08 05:20] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1010452314

[2021-07-08 06:00] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1010452578

[2021-07-08 06:14] cescoffier commented on #18452
I agree, we moved from `@Named` to `@Identifier` following the advice from @mkouba. But not everything has migrated. We should probably look and handle both for a bit.

[2021-07-08 06:30] #18439 closed

[2021-07-08 06:37] evacchi commented on #12486
yesterday failed in some unrelated way (it didn't even start building kogito-runtimes)

[code]

build for today is ongoing 🤞

[2021-07-08 06:47] stuartwdouglas commented on #18288
So the linked PR fixes the color, but it won't add the proper console, as the plugin does not run inside a real terminal.

If you do mvn quarkus:dev in the intellij terminal you will get the full terminal experience.

[2021-07-08 07:11] argenstijn commented on #18356
Thanks.
 Any idea when this fix will be implemented?

[2021-07-08 07:19] enbohm opened #18509 "Quarkus 2.0.1.Final fails when using opentracing-jdbc (oracle DB)"
## Describe the bug
Using Quarkus 2.0.1.Final with opentracing-jdbc results in exception when trying to execute any DB statements towards an Oracle DB. Downgrading to 2.0.0.Final everything is working.

### Expected behavior
Using opentracing-jdbc should not result in any exception.

### Actual behavior
Exception is thrown with the following stacktrace when trying to execute any DB-statements:

[c

[2021-07-08 07:22] michalszynkiewicz commented on #17586
Fixed with https://github.com/quarkusio/quarkus/pull/17595

[2021-07-08 07:22] #17586 closed

[2021-07-08 07:23] #18486 closed

[2021-07-08 07:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1010452314

[2021-07-08 07:32] ennishol opened #18510 "Quarkus 2.0.1 VerifyError:Bad access to protected data in invokevirtual"
## Describe the bug
Some of my tests (`@QuarkusTest`) fail with the following error:

[code]

The `Bean` extends `OtherAbstractBean` which extends `ParentAbstractBean` which extends `org.apache.camel.builder.RouteBuilder`. The method in the error message (`Bean_ClientProxy.isMethod`) is a protected one and sometimes the test fails with another protected method.

The application seems to work fine,

[2021-07-08 07:52] ozangunalp commented on #18495
Hi @j1cken,

Thanks for creating this issue. I was able to reproduce it.
While we prepare and release the fix you can disable the serde auto-detection by adding `quarkus.reactive-messaging.kafka.serializer-autodetection.enabled=false` to your config file.

[2021-07-08 08:00] jjolsvai opened #18511 "FaultToleranceDefinitionException after migrating to Quarkus 2.0"
## Describe the bug
After migrating to Quarkus 2.0, @Retry throws the following exception:
[code]
Using resteasy-reactive extension, the problem takes place on blocking endpoints with non Uni or CompletionStage return values.
The problem can be mitigated by:
 1. removing @Retry annotation
 2. rolling back to pre Quarkus 2.0 versions
 3. moving from resteasy-reactive to non-reactive resteasy.

###

[2021-07-08 08:15] ennishol commented on #18510
Stack trace, when running from IDE:
[code]

[2021-07-08 08:16] manovotn commented on #18510
Hmm, that's a shame. It is hard to guess what is going on without a reproducer.
I suspect a hierarchy of the types of the bean which comes from different packages with the method being protected. And the proxy being declared into some other package?

@ennishol could you maybe at least check for the packages of the classes you mentioned (`Bean`, `OtherAbstractBean`, `ParentAbstractBean`) plus packa

[2021-07-08 08:19] sberyozkin commented on #18503
CC @stuartwdouglas

[2021-07-08 08:23] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1010461734

[2021-07-08 08:27] myassine2 commented on #18452
Interesting I did not know you moved to `@identifier`. Can you share a documentation for further reading please.

[2021-07-08 08:29] ChMThiel commented on #18450
Hello Clement,
using your last code, we cannot reproduce the bug in our test-project.
Nevertheless in our real project every once in a while the exception occurs in our logs:
[code]
Maybe there is some internal race-condition?
Also I'm not quite sure, what's the difference of using `Record` or `Message` (with the Metadata- and Future-parameters posted in your last comment). How can this affect the

[2021-07-08 08:35] ennishol commented on #18510
@manovotn Yes! same package issue. With your hint I was able to reproduce:
[issue.tar.gz](https://github.com/quarkusio/quarkus/files/6782961/issue.tar.gz)

[2021-07-08 08:36] zakkak opened #18513 "Serialization support breaks backwwards compatibility with GraalVM/Mandrel 20.3"
## Describe the bug
After merging https://github.com/quarkusio/quarkus/pull/15380 we observe failures when using GraalVM/Mandrel 20.3.

### Expected behavior
Tests should pass.

### Actual behavior
Tests fail. See https://github.com/graalvm/mandrel/actions/runs/1006524072 for logs

## To Reproduce

Steps to reproduce the behavior:
1. clone and build latest Quarkus
2.
[code]

## Environment (please

[2021-07-08 08:41] philschaller commented on #18494
@stuartwdouglas Thanks for the quick fix! It works as expected.
To test it locally you can use the following DinD setup. Insecure, but it works for a quick test:

[code]
[code]

[2021-07-08 08:43] cescoffier commented on #18452
The Javadoc of the class mentions why it's "better" than `@Named`: https://javadoc.io/doc/io.smallrye.common/smallrye-common-annotation/latest/io/smallrye/common/annotation/Identifier.html

[2021-07-08 08:49] #18232 closed

[2021-07-08 09:05] michael-simons opened #18516 "quarkus-smallrye-graphql and quarkus-neo4j don't work together in Quarkus 2.0."
Given a GraphQL API like this:

[code]

the injected driver will always be literal `null`. Used to work in 1.13.x, but not in 2.0.
I wonder if this is due to the `Neo4jDriverProducer` producing the driver as `Singleton` and the GraphQL things bootstrapping rather early.

[2021-07-08 09:06] michael-simons commented on #18516
Full project: https://github.com/michael-simons/neo4j-aura-quarkus-graphql which I cannot upgrade to 2.0 at the moment.

[2021-07-08 09:12] phillip-kruger commented on #18516
Out of interest, what happens if you add `@ApplicationScope` to the class (with the `@GraphQLApi`) ?

[2021-07-08 09:20] evacchi commented on #12486
well, the only failure is on the last invoker run at the end, and I am confused because I even opened a PR for 2.0.1 bump and there are no issues there https://github.com/kiegroup/kogito-runtimes/pull/1422

[2021-07-08 09:24] jamesnetherton opened #18517 "Do not produce Infinispan RemoteCacheManager if no Infinispan configuration is present - part 2"
Follow up to https://github.com/quarkusio/quarkus/issues/18232. See [comments](https://github.com/quarkusio/quarkus/issues/18232#issuecomment-873922973) after testing the changes made in #18363.

[2021-07-08 09:42] phillip-kruger commented on #18516
Yea, that actually fix it . This is a bug. As a workaround you can use this (https://github.com/michael-simons/neo4j-aura-quarkus-graphql/pull/1). I will look at this to fix the `GraphQLApi`. Thanks !

[2021-07-08 09:44] michael-simons commented on #18516
Oh wow, thanks for your PR! I can confirm that the workaround works.

[2021-07-08 09:56] phillip-kruger commented on #18516
Keeping this open until the bug is fixed. Thanks :)

[2021-07-08 10:17] manovotn commented on #18510
Nice, thanks!
I can take a look at it later today.

[2021-07-08 10:30] robp94 opened #18521 "Utf-8 graphql issue with non ascii chars"
## Describe the bug
Utf-8 chars like german umlauts are not usable.

### Expected behavior
Special chars should work like normal chars.

### Actual behavior
Special chars like german ä, ö, ü are replaced by things like Ã¼

## To Reproduce

Or attach an archive containing the reproducer to the issue.
[code-with-quarkus_graphql_utf8.zip](https://github.com/quarkusio/quarkus/files/6783786/code-with-q

[2021-07-08 10:33] phillip-kruger commented on #18521
Thanks ! I'll have a look !

[2021-07-08 10:38] snazy commented on #18486
I can confirm that #18496 fixes this issue.

[2021-07-08 10:39] aloubyansky commented on #18486
thanks @snazy

[2021-07-08 10:42] kshpak commented on #18105
The problem persists in 2.0.1.Final.

[2021-07-08 10:47] aloubyansky commented on #12486
[code]

[2021-07-08 10:48] languitar opened #18522 "Jacoco extensions results in java.lang.NoSuchMethodError: 'boolean[] ***.$jacocoInit()' for kotlin when panache repo is injected"
## Describe the bug

In [this reproduction project](https://github.com/languitar/quarkus-jacoco-kotlin-issue) `mvn verify` results in the following test error:

[code]

This happens in case:
* the quarkus jacoco extension is included
* AND a Panache repository is injected into a test class

Things work if only one of the above conditions is met.

### Expected behavior

Tests can be executed and co

[2021-07-08 10:55] gsmet commented on #18105
@kenfinnigan could you have a look or redirect to the appropriate person?

[2021-07-08 10:57] phillip-kruger commented on #18521
@robp94 - I can not recreate this.

On Graphql-ui:

![image](https://user-images.githubusercontent.com/6836179/124910139-895fd600-dfeb-11eb-9259-e0e01e6ff4c7.png)

In browser extension:

![image](https://user-images.githubusercontent.com/6836179/124910229-a7c5d180-dfeb-11eb-97fe-83db27042d88.png)

In curl:

![image](https://user-images.githubusercontent.com/6836179/124910317-c0ce8280-dfeb-11eb-8f2

[2021-07-08 10:59] radcortez commented on #18105
I'll have a look.

[2021-07-08 11:14] robp94 commented on #18521
Sure, German Windows 10. Maybe the problem is the platform encoding?

uname -a
MSYS_NT-10.0 2.8.0(0.310/5/3) 2017-04-02 13:38 x86_64 Msys

mvnw --version
Apache Maven 3.8.1 (05c21c65bdfed0f71a2f2ada8b84da59348c4c5d)
Maven home: C:\Users\\.m2\wrapper\dists\apache-maven-3.8.1-bin\2l5mhf2pq2clrde7f7qp1rdt5m\apache-maven-3.8.1
Java version: 11.0.11, vendor: AdoptOpenJDK, runtime: C:\Program Files\Adop

[2021-07-08 11:20] robp94 commented on #18521
Starting like mvnw quarkus:dev -Dfile.encoding=UTF-8 solves the problem.

[2021-07-08 11:31] phillip-kruger commented on #18521
Let me see if I can recreate the problem by doing

[code]

[2021-07-08 11:33] phillip-kruger commented on #18521
Although I think we should keep the encoding to be a OS platform problem ?

[2021-07-08 11:35] robp94 commented on #18521
Hm not sure, until this gets resolved https://openjdk.java.net/jeps/400 I usually call things like this:
`new String(bytes, DefaultCharset.UTF_8)`

[2021-07-08 11:36] phillip-kruger commented on #18521
But what if the user wants to use another Charset ? How would they do that ?

[2021-07-08 11:37] phillip-kruger commented on #18521
Doing `mvnw quarkus:dev -Dfile.encoding=Cp1252` recreate the problem.

[2021-07-08 11:37] phillip-kruger commented on #18521
I wonder if we can see what happens in REST ?

[2021-07-08 11:39] robp94 commented on #18521
Or maybe via a property.

[2021-07-08 11:43] phillip-kruger commented on #18521
`file.encoding` is already a property, no ?

[2021-07-08 11:48] robp94 commented on #18521
Yeah, but like in the application.properties or maybe in maven itself. Not sure if there is something like that.

[2021-07-08 11:50] phillip-kruger commented on #18521
Have you tried `file.encoding` in application.properties ?

[2021-07-08 11:50] sgift commented on #18521
Quick note regarding file.encoding from here https://openjdk.java.net/jeps/400: "Sometimes developers attempt to set the default charset via the system property file.encoding, but this has never been supported and may not actually work, especially if modified after the Java virtual machine is initialized."

So, this is unfortunately, not really a solution even if it works right now.

[2021-07-08 11:51] robp94 commented on #18521
In the quarkus properties i only find an option for native
`
quarkus.native.file-encoding

Defines the file encoding as in -Dfile.encoding=…​ Native image runtime uses the host’s (i.e. build time) value of file.encoding system property. We intentionally default this to UTF-8 to avoid platform specific defaults to be picked up which can then result in inconsistent behavior in the generated native e

[2021-07-08 11:52] rymurr opened #18524 "ConfigMapping and CDI error"
## Describe the bug

When switching from the Deprecated `io.quarkus.arc.config.ConfigProperties` to `io.smallrye.config.ConfigMapping` as described in the javadoc we get CDI errors

### Expected behavior

Expected behaviour is behaviour prior to the change. All beans are injected correctly

### Actual behavior

the class

[code]
no longer gets injected in constructors like:

[code]
with errors lik

[2021-07-08 11:56] robp94 commented on #18521
Does not work for me.
`file.encoding=UTF-8`

[2021-07-08 12:01] phillip-kruger commented on #18521
OK, I think the way to solve this then is to add a property for encoding, with a default of UTF-8. I'll prepare a PR

[2021-07-08 12:07] robp94 commented on #18521
Ok thx.

[2021-07-08 12:10] antonwiens opened #18525 "Qute Templates not working when resources are in a submodule"
If you have a qute template file in a submodule resource folder, the project wont build.
It seems to expect the qute template files in the main project for the quarkus build.
Is this intended?

I added this sample project:

[sample.zip](https://github.com/quarkusio/quarkus/files/6784289/sample.zip)

[2021-07-08 12:12] mkouba commented on #18516
So this is a good point!

@michael-simons It's actually not the scope that is important here but the fact that the `Neo4jDriverProducer#initialize()` is probably called after the `@GraphQLApi` bean is created. `@ApplicationScope` implies lazy initialization, i.e. the bean instance is created the first time the bean is called.

@phillip-kruger Has the init logic changed in 2.0?

[2021-07-08 12:18] mkouba commented on #18516
BTW We should try to replace the `Neo4jDriverProducer` with a synthetic bean and get rid of the _initialize a volatile field at runtime_ pattern. I'll try to prepare a PR.

[2021-07-08 12:18] phillip-kruger commented on #18516
No the init logic has been the same a.f.a.i.k

[2021-07-08 12:19] phillip-kruger commented on #18516
Maybe we can create an example that use `Singleton` without Neo4J ? To confirm ?

[2021-07-08 12:25] j1cken commented on #18495
Workaround confirmed!

[code]

[2021-07-08 12:31] patriot1burke commented on #18356
Working on it now.

[2021-07-08 12:34] ambition-consulting commented on #8167
12:31:35.363 [WARNING] The following plugins are not marked @threadSafe in apm-fns-blik-integration:
12:31:35.364 [WARNING] io.quarkus:quarkus-maven-plugin:1.13.7.Final

Was this fix lost

[2021-07-08 12:34] patriot1burke commented on #18356
FYI, I don't think I want a config switch for binary types.  I'm just going to *not* base 64 encode media types of "text", "xml", or "json".  Everything else will be encoded.

[2021-07-08 12:36] lburgazzoli opened #18526 "kubernetes client: set-up watchers using annotations"
## Description

When using the Kubernetes client to watch resource related events, some boilerplate code is needed. Inspired by the [reactive route support that exists for Vert.x](https://quarkus.io/guides/reactive-routes), I think it would be very beneficial if watch events can be expressed using annotations.

## Implementation ideas

As example, some annotations and classes can be introduced:

[

[2021-07-08 12:38] lburgazzoli commented on #18526
/cc @metacosm @manusa

[2021-07-08 12:40] geoand commented on #18526
Thanks @lburgazzoli.

As my Watcher knowledge is rather limited, can you add a snippet showing what the code looks like currently and what you hope it to be when this ticket is implemented?

[2021-07-08 12:41] gastaldi commented on #8167
It is there: https://github.com/quarkusio/quarkus/blob/main/devtools/maven/src/main/java/io/quarkus/maven/BuildMojo.java#L36

What mojo are you using in your project?

[2021-07-08 12:42] kshpak opened #18527 "quarkus-config-yaml extension erase content of src/main/resources folder"
## Describe the bug
When generating project with `quarkus-config-yaml` extension -
the `src/main/resources` directory is missing `/META-INF` folder which contains `index.html` file.

### Expected behavior
`/META-INF` folder and it's files are not missing

### Actual behavior
`/META-INF` folder is missing

Probably related to this effort https://github.com/quarkusio/quarkus/issues/13511

## To Repr

[2021-07-08 12:45] rsvoboda opened #18529 "Quarkus project is getting very large, almost 1000 modules now"
Quarkus project is getting very large, we are hitting almost 1000 modules now.

This causes quite long build time for the project and one needs to apply various maven build trick to get better times.

|Tag 	|   	| # of modules|
|---	|---	|---	|
1.2.1.Final |    | 445
1.3.4.Final |    | 510
1.7.6.Final |    | 682
1.11.7.Final |     | 830
1.13.7.Final |    | 875
2.0.0.Final |    | 927

Are there any

[2021-07-08 12:49] iocanel commented on #18526
Not sure where exactly this should live. Quarkus? Java Operator SDK?
Either way, I like it.

I would possibly also add the kind as part of the annotation, to allow specifying the resource, but then again it can be inferred from the actual method argument.

The more I think about it the more I like it.

[2021-07-08 12:53] lburgazzoli commented on #18526
@geoand per se a watcher is simple, like:

[code]

However there is some boilerplate you may have to do:
- properly handle on close to re create the watcher
- properly close the watcher when the application shuts down

So I have created a base class that all my watcher extends, something like:

[code]

With the proposed implementation, such handling can be done by quarkus itself, relieving the dev

[2021-07-08 12:54] phillip-kruger commented on #18521
@robp94 - Can you please test something on your environment (with your reproducer)

Add this to application.properties:

[code]

Then do this in the Browser (GET):

[code]

Let me know what you get

[2021-07-08 12:55] lburgazzoli commented on #18526
I think there is some bits that can be implemented in the fabric8-client (like a generic watch reconnect logic similar to the example I posted above), everything else should - IMHO - live in the quarkus extension as it could be beneficial also for non-operator applications

[2021-07-08 13:01] geoand commented on #18526
I like it!
I'll have a first look next week hopefully

[2021-07-08 13:04] iocanel commented on #18526
Maybe the annotations should be at a higher level too (part of the client maybe), so that the client & java operator sdk can suggest a framework independent approach. Then its up to the framework to implement support for the suggested feature.

wdyt?

[2021-07-08 13:05] iocanel commented on #18526
@geoand: do you mind if I pick this up?

[2021-07-08 13:05] robp94 commented on #18521
<html><body>
<div class="toolbar"><div class="devtools-separator"></div><input class="searchBox devtools-filterinput" placeholder="JSON durchsuchen"></div><div class="panelContent">

  |  
-- | --
data |  
hello | "München"

</div>
</body>
</html>

[2021-07-08 13:05] lburgazzoli commented on #18526
+1

[2021-07-08 13:11] geoand commented on #18526
Be my guest :)

[2021-07-08 13:11] phillip-kruger commented on #18521
Awesome, thanks ! Found the issue, fixing it now.

[2021-07-08 13:20] #18457 closed

[2021-07-08 13:27] argenstijn commented on #18356
Fair enough. But then again, the user should eventually decide what he/she want to do with it. Maybe it has it's own custom media types....etc.

[2021-07-08 13:46] geoand commented on #18529
We need to hit 1k  to win the prize 😆

More seriously, yeah we need to start moving stuff to the quarkiverse

[2021-07-08 13:53] geoand commented on #18527
cc @ia3andy

[2021-07-08 13:54] geoand commented on #18524
Does it work without the `@Any` qualifier?

[2021-07-08 13:54] geoand commented on #18524
cc @radcortez

[2021-07-08 13:59] glefloch commented on #18389
fixed in #18410

[2021-07-08 14:00] gsmet commented on #18529
https://github.com/quarkusio/quarkus/issues/16870

[2021-07-08 14:03] #18388 closed

[2021-07-08 14:12] galderz commented on #18360
Bonjour @vsevel!

As @gsmet said, it would help to run this locally somewhere with enough heap (16GB or more) so that native image reports successfully complete. If this is not successful, we can build some byteman rules that could enable to get a better understanding on what's causing the differences.

Could you give us a list of quarkus extensions that you're using?

[2021-07-08 14:14] mkouba commented on #18516
Maybe. I'll take a look tomorrow.

FYI https://github.com/quarkusio/quarkus/pull/18530

[2021-07-08 14:20] rymurr commented on #18524
Hey @geoand no it doesn't. The original code didn't use `@Any` and we tried adding `@Any` based on #18486 without success.

[2021-07-08 14:27] #18494 closed

[2021-07-08 14:29] geoand commented on #18524
OK thanks for confirming.

I see what's going on, I'll fix it soon

[2021-07-08 14:44] FroMage commented on #18502
Thanks for reporting. This was not supported, nor documented. Should be fixed by #18531

[2021-07-08 14:58] geoand commented on #18524
https://github.com/quarkusio/quarkus/pull/18533 fixes the issue

[2021-07-08 15:10] marc-bouvier opened #18550 "In Qute guide, first Type-safe template example does not compile"
**Describe the bug**

The first example about Type-safe template does not compile.
It throws a `io.quarkus.qute.TemplateException` that points the need for checked parameter.

**Which pages**

- https://quarkus.io/guides/qute#type-safe-templates

**Stack Trace**

[code]

A working example might be

Either
[code]

Or :

[code]

Here is what comes to my mind about this.

- Making the sample compile

[2021-07-08 15:36] #18495 closed

[2021-07-08 16:01] karesti commented on #18232
@jamesnetherton sorry I missed this comment before.

[2021-07-08 16:43] nhat-vo opened #18536 "Support one time OIDC access tokens"
## Description

I would like to implement a Forgot password API as below:

Users send a request with their emails to `/forgot-password`. They will then receive an email with a token (embedded within a link to provide the new password). The token and the new password will then be sent to another endpoint `/reset-password`, where the user can reset their password. I want the token to only authentica

[2021-07-08 16:53] languitar opened #18537 "QuarkusIntegrationTest cannot be run with failsafe in JVM mode"
## Describe the bug

When trying to use failsafe to run a `@QuarkusIntegrationTest` in JVM mode (outside the `native` profile), test executions fails.

### Expected behavior

As documented [here](https://quarkus.io/guides/getting-started-testing#quarkus-integration-test), QuarkusIntegrationTest can be run with failsafe.

### Actual behavior

Test execution fails with the following error message, `

[2021-07-08 16:55] geoand commented on #18537
Thanks for reporting

[2021-07-08 17:20] #18513 closed

[2021-07-08 17:22] vsevel commented on #18360
hello @galderz yes definitely, I am still planing to do this. it has been taken more time than I wanted. I will let you know.
in the meantime, here are the extensions we are currently using: `cdi, config-yaml, freemarker, hibernate-validator, kubernetes-client, openshift-client, rest-client, restclient-jackson, vault (plus internal extensions for SMBJ and our internal centralized logging system).`

[2021-07-08 17:24] geoand commented on #18537
The problem is caused by the use of

[code]

I'll have a fix soon

[2021-07-08 18:02] geoand commented on #18537
It seems like there is some kind of bug in either failsafe or JUnit 5 that prevents `per_class` to work with either `@NativeImageTest` or `@QuarkusIntegrationTest`.

It throws some random NPE without a stacktrace.

@stuartwdouglas does that ring any bells?

[2021-07-08 18:35] kafeltz commented on #18351
@patrox I think the reactive library needs the **zunion** function too. Have you seen it?

[2021-07-08 18:42] xtaixe opened #18538 "NPE during build when multiple decorators have the same priority"
## Describe the bug
NPE during build when multiple decorators have the same priority (or no priority defined)

### Expected behavior
App builds and both decorators are instantiated properly (according to CDI spec execution order is undefined for decorators with the same priority though)

### Actual behavior
[code]

## To Reproduce
[main-decorator.zip](https://github.com/quarkusio/quarkus/files/678

[2021-07-08 19:14] carlosthe19916 opened #18539 "Quarkus2: Tests never ends when combine resteasy-reactive + reactive-panache + reactive-messaging-amqp"
## Describe the bug
Test executions of applications that combine **resteasy-reactive + reactive-panache + reactive-messaging-amqp** results in

[code]

### Expected behavior
Test executions should end without any problems.

### Actual behavior
After executing `mvn test` or executing a test using any IDE the tests never ends and eventually the log prints:

## To Reproduce

Clone the repository http

[2021-07-08 19:30] tanadeau opened #18541 "After upgrade to 2.0.1 Gradle is no longer finding generated sources"
## Describe the bug
Exact same annotation processors, Gradle version, etc. works with 1.13.7.Final; however, on upgrade to 2.0.0.Final or 2.0.1.Final, I get hundreds of errors caused by not finding generated classes.

### Expected behavior
All sources in `build/generated/sources/annotationProcessor/java/main` are seen during compilation.

### Actual behavior
Sources in directory above are not foun

[2021-07-08 19:44] tanadeau commented on #18541
I have a feeling it's due to https://github.com/quarkusio/quarkus/commit/d8fd0b974b89a36018995475a44f40fa04dcdd55

[2021-07-08 20:15] cogman opened #18542 "Resteasy-reactive routing does not work when paths are shared across classes."
## Describe the bug
Having 1 route handled by 2 classes doesn't work (It does in plain resteasy).  For example,

- GET /hello/{id} in class A
- GET /hello/{id}/foo in class B

Attempting class A's route results in a 404.

### Expected behavior
Routing to Class A's route

### Actual behavior
404

## To Reproduce

[route-bug.zip](https://github.com/quarkusio/quarkus/files/6787022/route-bug.zip)

Ste

[2021-07-08 20:18] cogman commented on #18542
Note, this structure makes a lot more sense in our product.  We have GET/POST/PUT/DELETE verbs on the naked path and further descriptions of the resource in the other class.

[2021-07-08 21:23] manovotn commented on #18538
Indeed, looks like Quarkus cannot handle the situation when two decorators have equal priority (because when you don't specify any, default will be picked).
You can even reproduce this with existing test by giving both decorators equal priority - https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/tests/src/test/java/io/quarkus/arc/test/decorators/priority/MultipleDecoratorsTes

[2021-07-08 21:33] keitaf opened #18546 "Cannot specify a config param in @ConfigMapping via environment variable"
## Describe the bug

For this config interface,
[code]
I cannot specify the value of `someValue` via environment variable.

[code]

I can specify it via `-Dtest.some-value={value}`.

(FYI, `@ConfigProperties` works as expected)

### Expected behavior

A config parameter `test.some-value` should be changed with an environment variable `TEST_SOME_VALUE`

### Actual behavior

`ConfigValidationExcepti

[2021-07-08 21:33] metacosm commented on #18526
Using the java-operator-sdk project should alleviate the need for such an annotation but it could still be useful.

[2021-07-08 23:39] stuartwdouglas commented on #18539
I think this should be fixed by https://github.com/quarkusio/quarkus/commit/3e1e0a1ee1eafc5d6f3d1465de1641497be72438

[2021-07-08 23:40] #18539 closed

[2021-07-08 23:40] stuartwdouglas commented on #18539
Tested and verified that the reproducer works fine against upstream.

[2021-07-09 02:14] #18524 closed

[2021-07-09 02:18] maykoone opened #18548 "Error injecting rest client caused by PatternSyntaxException when http.nonProxyHosts is set"
## Describe the bug

when setting `http.nonProxyHosts` containing a pattern starting with `*` Quarkus fails to inject an instance of a rest client.

Despite a pattern like `*.foo.com` is not a valid regexp, it's a valid value for `nonProxyHosts` according to [Oracle Docs](https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html).

### Expected behavior

Create and inject an instance

[2021-07-09 05:53] Postremus commented on #18302
Thanks, works!

[2021-07-09 06:15] geoand commented on #18542
Does the same thing work with `quarkus-resteasy`?

[2021-07-09 06:34] enbohm commented on #18509
Upgrading the opentracing-jdbc by explicit set the latest version seems to solve the issue (at least in JVM mode).
[code]

Looks like Quarks 2.0.0.Final was using 0.2.12 and Quarkus 2.0.1.Final using an older version 0.2.4. Probably related to https://github.com/quarkusio/quarkus/issues/18033

[2021-07-09 06:39] stuartwdouglas commented on #18542
This should work according to the spec, I am looking into it.

[2021-07-09 07:14] ia3andy commented on #18527
Hello @kshpak this is expected.

You only selected `quarkus-config-yaml` which gives you a config object plus it's config in yaml. If you want the html and the REST endpoint, you need to add the `resteasy` extension.

Currently if you don't pick any extension, you have `resteasy` by default but this is a special case to make sure you get some content to start with.

[2021-07-09 07:14] #18527 closed

[2021-07-09 07:15] geoand commented on #18546
cc @radcortez

[2021-07-09 07:16] ia3andy commented on #18527
[code]

[2021-07-09 07:16] glefloch commented on #18541
Thanks for reporting this @tanadeau.

I generated a sample project from `code.quarkus.io` with `kotlin` and `grpc` extension.
I'm not able to reproduce this error. I tried with both gradle 6.9 and 7.1.1. Could you share a reproducer?

[2021-07-09 07:58] #18516 closed

[2021-07-09 08:02] phillip-kruger commented on #18521
@robp94 @sgift - Thanks for this bug report. There is now an open PR that should fix this. The default encoding is UTF-8 all over, and can be changed with an `Accept` header. In you case, no header will be needed, this should fix your example. Cheers

[2021-07-09 08:12] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1014040485

[2021-07-09 08:14] andrzejszywala opened #18553 "Quarkus test IllegalAccessError"
## Describe the bug
In quarkus test I've mocked CDI bean which is in separate jar file. When I run test in which this mocked bean is used I've error

`
java.lang.IllegalAccessError: class com.example.ExampleRepositoryMock_Bean tried to access field com.example.BaseRepository.someValue (com.example.ExampleRepositoryMock_Bean is in unnamed module of loader io.quarkus.bootstrap.classloading.QuarkusCl

[2021-07-09 08:18] ppalaga commented on #18231
Can't we disable the health check based on the availability of quarkus.artemis.url and thus also ServerLocator and ConnectionFactory?

[2021-07-09 08:28] #18537 closed

[2021-07-09 08:36] #18356 closed

[2021-07-09 08:49] zhfeng commented on #18231
I think we can not do this because ```quarkus.artemis.url``` is a runtime config and we decide the health check during building time and can not retrie the runtime config value.

[2021-07-09 08:53] Postremus opened #18556 "devservices logs a warning when no docker daemon is running"
## Describe the bug
On my system, the docker daemon does not start automaticly. I have a local postgres installation.
The warning from below is printed when running a quarkus 2.0.1.Final app with datasources in dev mode.
I correctly configured the datasource, since the quarkus starts without other errors.

### Expected behavior
No warning about missing datasource / docker when datasource is alread

[2021-07-09 09:29] manovotn commented on #18510
@ennishol  So, the root cause of your problem is that you are using split package - both, your `lib` and your `app` use `package com.me.app.sub` from where those classes originate. Plus the library uses a protected method in its class.

Therefore, when creating a client proxy, Arc will try to add this method as well given that it comes from the same package and hence should normally be accessible

[2021-07-09 09:39] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1014050087

[2021-07-09 09:47] xtaixe opened #18559 "JaCoCo not working with `@QuarkusIntegrationTest`s"
## Describe the bug
After upgrading to Quarkus 2 we saw a test coverage loss of 6% for both unit and integration tests.

I've tried to change how we have everything setup following https://quarkus.io/guides/tests-with-coverage (since we were still using offline instrumentation), starting with our integration tests, but I can't get things to work right (JaCoCo complaints about classes not matching

[2021-07-09 09:58] lthasle opened #18560 "@RegisterProvider required for resteasy interfaces"
## Description
When a filter is defined with @Provider is should be applied to the resteasy interface.

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/quarkus-rest-client-reactive.20need.20to.20use.20.40RegisterProvider/near/245419083

### Expected behavior
The following code should be enough to apply a filter
@Provider
public class LogClientResponseFilter implements ClientRespo

[2021-07-09 10:11] SimonBradley1993 commented on #12304
I've also seen this issue in our project. We have `quarkus.vertx.max-worker-thread-execute-thread` set to 5 minutes, and we get warnings in the logs when it goes over that time. However, the thread still continues to run and will get stuck until we restart the application.

A fix for this to kill the thread would be really useful!

[2021-07-09 10:14] radcortez commented on #18546
Hi @keitaf,

This is already fixed for Quarkus `2.1.0.Final` (not released yet). In the meanwhile, you should be able to work around the issue in the following ways:

Update the Config manually (which fixes the issue):
[code]

Disable the validation:
[code]

[2021-07-09 10:14] #18546 closed

[2021-07-09 10:46] rymurr commented on #18524
Thanks for the fast turnaround @geoand

[2021-07-09 11:11] elcaven commented on #9476
Is there any update on this feature?

[2021-07-09 11:22] ennishol commented on #18510
@manovotn Yes, and I fully agree using the same package name is bad practice.

[2021-07-09 12:03] yrodiere opened #18564 "Property quarkus.hibernate-orm.multitenant-schema-datasource is apparently pointless"
## Description

[`quarkus.hibernate-orm.multitenant-schema-datasource`](https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.multitenant-schema-datasource) seems to have the exact same purpose as [`quarkus.hibernate-orm.datasource`](https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.datasource): it sets the (single) datasource to be u

[2021-07-09 12:05] yrodiere commented on #18564
@gsmet I see you worked on this when you introduced multitenancy support with multiple persistence units (https://github.com/quarkusio/quarkus/commit/aabda577e2b50efc77228192829bf3b93fa3af41). Does this ring a bell?

[2021-07-09 12:15] ppalaga commented on #18231
Oh, I see, thanks for the explanation. But if so, I am not 100% sure the proposed `quarkus.artemis.enabled` property would be an acceptable solution for Camel K folks. WDYT @lburgazzoli?

[2021-07-09 12:26] lburgazzoli commented on #18231
I don't think this is just for camel-k as any camel user that want to configure the jms component programmatically would hit the same issue.

@n1hility @maxandersen this falls in the same category as of the `quarkus.google.*` property we have been discussing some time ago so we probably need to have a generic solution.

A side note: if the health checks are a build time things, IMHO, they should b

[2021-07-09 12:40] radcortez commented on #18105
@kshpak I don't see this as an issue. The bean is removed because there is no REST Client in the project, so you get the warning since the bean is not needed and Quarkus removes it.

As you stated, if you remove the dependency, the warning goes away. If you add an actual REST Client, the warning goes away as well.

[2021-07-09 12:58] mkouba commented on #18510
I believe that there is no plan to support similar use cases. It works as expected in the prod mode because there's a flat class loader (which is not the case for tests and the dev mode).

[2021-07-09 12:58] manovotn commented on #18510
@ennishol so is renaming the package in either project a workable solution for you?

[2021-07-09 13:01] AlexandreGuidin opened #18565 "hibernate-reactive-panache gives error "No bean found for required type TransactionManager""
## Describe the bug
I've updated to Quarkus 2.0.1.Final and then updated `hibernate panache` to `reactive` version and it start logging this error after o make a request to whatever url

[code]

I've tried to delete almost everything of my code and configs to reach the cause of it, but the error keep logging

I tried to reproduce the same error with https://github.com/quarkusio/quarkus-quickstarts

[2021-07-09 13:05] JeffreyThijs opened #18566 "Kafka devservices always started despite disabling them explicitly in test mode"
## Describe the bug

When running tests, kafka devservices are started (redpanda) despite explicitly disabling them with the config parameter (`quarkus.kafka.devservices.enabled=false`). However, when i run in dev mode with this option the devservices are not started.

### Expected behavior

Don't start the kafka devservices in test mode when the are explicitly disabled.

### Actual behavior
The k

[2021-07-09 13:36] ennishol commented on #18510
@manovotn  Yes, package renamed, problem solved.

Maybe quarkus could catch that use case and show a more specific error/warning?

[2021-07-09 13:39] geoand commented on #14007
Actually this is a duplicate of https://github.com/quarkusio/quarkus/issues/15208 for which a fix was added in https://github.com/quarkusio/quarkus/pull/15233

[2021-07-09 13:39] #14007 closed

[2021-07-09 13:50] Chexpir opened #18569 "Tests not running inside docker container in 2.0.1 (DevServices kicking in when it should not?)"
## Describe the bug
Our test inside docker container (with test DB in a different container) work on 2.0.0.Final they don´t work in 2.0.1.Final

I believe DevServices is jumping because of something: It does not pick up that we are really using a Database from another container. Not sure if it´s because we use profiles or what´s the reason.

I´ve tried to use `quarkus.datasource.devservices.enable

[2021-07-09 13:56] ennishol commented on #18375
@radcortez  The [documentaion](https://quarkus.io/guides/config-reference#default-runtime-profile) states: Only a single profile may be active at a time. This is incorrect, right?

[2021-07-09 13:56] tanadeau commented on #18541
Thanks for taking a look. We're using our own annotation processors so I think it may be the fact that they are not in an extension. I'll see if I can make a small reproducer.

[2021-07-09 13:57] mkouba commented on #18510
That's a good idea but TBH I don't know if we can even do that... might be worth investigation though.

[2021-07-09 14:11] karesti commented on #18517
I don't think the issue is protostuff dependency @jamesnetherton
in any case, please consider removing that dependency because it will be removed in Infinispan 15 (we are currently on 13 development)
I think the issue is somewhere else for those properties indeed.
The properties empty is indeed not enough and we need to check that the mandatory properties are present. and that is the infinispan se

[2021-07-09 14:18] edeandrea opened #18570 "Jackson extensions when marshalling to JSON should have similar defaults as the JSON-B extensions"
## Description

When I use the `resteasy-jackson` or `resteasy-reactive-jackson` extensions (with default/no configuration) I notice that when it marshals my objects to JSON it includes `null`/empty elements in the JSON. This is not the case when using the JSON-B extensions (with default/no configuration).

For example, if I have a POJO like this:

[code]

Using the JSON-B extension (either `quark

[2021-07-09 14:18] manovotn commented on #18510
@mkouba Any ideas on how to detect it? I was thinking about it as well but when we process interception method candidates, we operate on `MethodInfo` and `ClassInfo` from which you can get to packages, but you cannot tell which JARs do these packages come from. At least not to my knowledge. And even if you move back to Jandex, the composite index doesn't differentiate between this. Or does it?

[2021-07-09 14:20] famod opened #18571 "Sporadic EOFException when running tests in Eclipse with jacoco extension"
## Describe the bug
I'm seeing this frequently (but not always) in Eclipse at the end of a test execution:
[code]
This doesn't make the test fail, it only looks scary.

### Expected behavior
No such exception

### Actual behavior
Exception is logged (not sure about the integrity of the report, though).

## To Reproduce

No reproducer available (yet?).

## Environment (please complete the following

[2021-07-09 14:20] famod commented on #18571
/cc @stuartwdouglas

[2021-07-09 14:23] #18177 closed

[2021-07-09 14:28] evanchooly commented on #18263
after poking around the kotlin bits for a while i converted the project to use java.  I get the same error after doing that as I did with kotlin (as shown above).  So there's something off here for sure but i'm not 100% it's kotlin related.  Perhaps one of the hibernate devs can take a look.  @Sanne  @FroMage?

[2021-07-09 14:32] loicmathieu commented on #17996
Implemented inside the Quarkiverse => https://github.com/quarkiverse/quarkus-elasticsearch-reactive

[2021-07-09 14:32] #17996 closed

[2021-07-09 14:35] famod commented on #18559
/cc @stuartwdouglas

PS: Maybe we should a labeling ruke for "jacoco".

[2021-07-09 14:37] mkouba commented on #18510
No idea here, that's why I said _"IDK if..."_ :-).

[2021-07-09 14:39] edeandrea opened #18572 "Allow Jackson configuration through properties"
## Description

It would be nice to be able to configure the Jackson `ObjectMapper` through properties rather than having to create a class extending `ObjectMapperCustomizer`.

Rather than having to constantly map Quarkus-specific properties to Jackson properties, just allow free-form mapping within the properties that would "flow-through" to the underlying Jackson enum properties. Something like

[2021-07-09 14:44] loicmathieu commented on #18509
@enbohm this is annoying, we had to dowgrade to 0.2.4 for native support, but you need version 0.2.15.
I'm surprised by the fact that the stacktrace didn't show any opentracing frames.

[2021-07-09 14:44] cogman commented on #18542
@geoand Yes, this works currently with `quarkus-resteasy` I ran into this transitioning a project over to the reactive rest easy to get kotlin coroutine support.

For anyone that runs into this issue, A work around is to make new classes with the path parameter on the class instead of as a method parameter.

For example, this works

[code]

This does not

[code]

[2021-07-09 14:52] sberyozkin commented on #18536
@OnePlusOneIsTen Hi, I've looked at your code example, and it appears that while this code can work as is in Quarkus, one can 1) acquite a one time token from Keycloak and then use JAX-RS API directly to save what is needed as a cookie bound to a specific path/domain, in case of JAX-RS you'd use `NewCookie` and set it on Response, or if it is stateful, then you can inject `RoutingContext` which ha

[2021-07-09 15:38] GregVes commented on #18569
With the following maven command:

`mvn clean package -Dquarkus.datasource.jdbc.url=jdbc:postgresql://db:5432/XXXXX -Dquarkus.package.type=uber-jar -Dsurefire.skipAfterFailureCount=1]`

Experiencing the same kind of issue:

`io.quarkus.datasource.deployment.devservices.DevServicesDatasourceProcessor#launchDatabases threw an exception: java.lang.IllegalStateException: Please configure the datasourc

[2021-07-09 15:53] #18502 closed

[2021-07-09 16:21] hacst opened #18575 "Custom OpenTelemetry SpanExporter breaks Jaeger exporter"
## Describe the bug
When using the quarkus-opentelemetry extension as well as the quarkus-opentelemetry-exporter-jaeger extension adding a custom `SpanExporter` makes the jaeger exporter stop working.

### Expected behavior
Both exporters are able to export spans and no warning occurs.

### Actual behavior
The jaeger exporter stops working and the following warning is output to console on startup:

[2021-07-09 16:45] OnePlusOneIsTen commented on #18536
@sberyozkin Hi, thank you for your answer. I don't think the `RoutingContext` exists, as when I tried to inject with the code:

[code]

 it gives the message:

 ```Unable to find contextual data of type: io.vertx.ext.web.RoutingContext```

Also, I'm not sure if the `Session` property of `RoutingContext` is of type `KeycloakSession` or not, as I will also be using the `KeycloakSession` to obtain th

[2021-07-09 16:57] Sanne opened #18577 "DevServices crashes immediately on Fedora"
## Describe the bug

Any attempt to start a test on Fedora results in this exception, since #18505 :

[code]

The problem is that I have the `DOCKER_HOST` variable pointing to a unix socket:  `unix:/run/user/1000/podman/podman.sock`; this is quite common among Fedora / RHEL users.

Podman otherwise works fine, so I'd prefer if the return of this method was `true` - not sure what do to. Perhaps jus

[2021-07-09 17:27] eduardovpessoa commented on #9476
I'd like to know as well... I didn't see any update about it since last year. Unfortunately, it's a major "issue" for my company not to adopt quarkus.

[2021-07-09 18:26] keitaf commented on #18546
Thank you @radcortez . I'm glad to hear that it'll be fixed in `2.1.0.Final`.

[2021-07-09 18:48] maxandersen opened #18579 "gradle plugin seem to enable very verbose gradle output"
## Describe the bug
just adding io.quarkus plugin to a build.gradle file and output is during build is now containing:

[code]

vs

[code]

[2021-07-09 20:55] #18577 closed

[2021-07-09 21:05] glefloch commented on #18579
Which version of gradle are you using?

[2021-07-09 21:24] tanadeau commented on #18541
I found the issue. This is related to #17618. We have a "-Werror" passed to javac, and the warnings coming from microprofile-config-api were causing the compilation round to fail before the generated sources were processed.

[2021-07-09 21:24] #18541 closed

[2021-07-09 21:44] Cavvar opened #18585 "CompletionException: Session is currently connecting to database with injected Mutiny.Session (HibernateReactive)"
## Describe the bug
When using Quarkus with Hibernate Reactive a CompletionException and IllegalStateException is thrown when combining two entities retrieved through an injected `Mutiny.Session`.

### Expected behavior
Should not throw an exception

### Actual behavior
Throws an CompletionException:
[code]

## To Reproduce

Bug can be reproduced in the following project: https://github.com/Cavvar

[2021-07-10 00:41] misterjoshua opened #18586 "Emitted OpenAPI Spec files can become corrupt when the API surface shrinks"
## Describe the bug
When I use `quarkus.smallrye-openapi.store-schema-directory` to emit my API's OpenAPI specs as files, the emitted `openapi.json` and `openapi.yaml` files can become corrupt if the API surface shrinks.

I believe the problem is [this `Files.write`](https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-openapi/deployment/src/main/java/io/quarkus/smallrye/openapi/depl

[2021-07-10 01:46] #18288 closed

[2021-07-10 01:47] #18556 closed

[2021-07-10 01:47] #18569 closed

[2021-07-10 09:50] sjaakd opened #18587 "When Quarkus is updated from 1.10.5.final to 1.12.1.Final XML schema validation seems to be activated on the swagger examples."
## Describe the bug
  When Quarkus is updated from 1.10.5.final to 1.12.1.Final XML schema validation seems to be activated on the swagger examples.

### Expected behavior
No Validation on the examples. See also [here](https://stackoverflow.com/questions/68325921/quarkus-1-12-1-final-activates-schema-validation-on-swagger).

### Actual behavior
Swagger example refuses to show XML and try-it button

[2021-07-10 10:34] maxandersen commented on #18579
Latest gradle 6 I believe. But it also seem to happen with generated projects so it happens by default.

[2021-07-10 11:18] chschroe74 opened #18588 "Circular dependency of normal-scoped CDI beans leads to stack overflow"
## Describe the bug
CDI supports circular dependencies for normal-scoped beans (see the first paragraph of section 5 of the spec). However, when I create a circular dependency in Quarkus, I end up in a stack overflow because new instances of the beans are created over and over again.

The problem happens in the @PostConstruct method of one of the beans (which is annotated as @Startup), which might

[2021-07-10 12:02] MikeEdgar commented on #18587
@sjaakd - does the response being returned by the openapi endpoint look correct? I'm trying to determine if it's a problem with the generator or the UI.

[2021-07-10 12:47] #18538 closed

[2021-07-10 13:09] sjaakd commented on #18587
The response looks ok.

It looks like only the example is not rendered correctly in the swagger
interface. In the previous version it was just rendered as plain text.

Op za 10 jul. 2021 14:03 schreef Michael Edgar ***@***.***>:

[2021-07-10 14:28] AlexandreGuidin commented on #18565
I've created a new project from  https://code.quarkus.io/?g=org.test&e=resteasy-reactive&e=resteasy-reactive-jackson&e=hibernate-reactive-panache&e=reactive-pg-client

![image](https://user-images.githubusercontent.com/17595229/125166386-d077d380-e171-11eb-8b10-1014d91fed99.png)

Weird that with Maven it works, but Gradle it not

[2021-07-10 17:34] cescoffier commented on #18566
I just tried using the kafka quickstart and it does not start the container when having `quarkus.kafka.devservices.enabled=false` in the properties file (in both dev mode and test mode).

Do you have a simple reproducer?

[2021-07-10 18:43] oberstrike commented on #18565
I have the same error. I additionally used Kotlin as programming language.

[2021-07-10 20:14] sjaakd commented on #18587
To be more complete:

When copying the example from the '[live](https://publiek.broservices.nl/gm/gmw-v1.1/material-history/swagger-ui/#/default/graph-startregistration)' version (based on 1.10.5.final) and copying it in the 'try it out' window in my (locally running) 1.12.1 version it works as expected. See the screenshot:

![image](https://user-images.githubusercontent.com/6173283/125175319-9509

[2021-07-10 22:46] gwenneg commented on #18585
Hi @Cavvar.

`Uni.combine().all().unis(...)` _may_ execute the Unis concurrently while the Hibernate Reactive session [must not be shared](https://hibernate.org/reactive/documentation/1.0/reference/html_single/#_obtaining_a_reactive_session) between different concurrent reactive streams. You need to adapt your code to prevent concurrent executions.

[2021-07-11 07:53] re-thc commented on #18565
Try adding quarkus-narayana-jta -- hibernate reactive depends on hibernate orm which depends on agroal / jta for some reason (not used in reactive?)

[2021-07-11 08:10] gunnarmorling opened #18590 "Register Picocli completion candidates for reflection"
## Describe the bug

[code]

When building a native Picocli app that uses completion candidates, the constructor of the completions `Iterable` isn't registered for reflection, resulting in this exception:

[code]

### Expected behavior
Can use completions in native Picocli binary.

### Actual behavior
Exception above.

## To Reproduce
Declare a command like above, then build with -Pnative.

### Co

[2021-07-11 08:30] phillip-kruger commented on #18586
Thanks @misterjoshua - fix applied and working as you suggested (https://github.com/quarkusio/quarkus/pull/18591)

As a workaround you can configure your build to clear that folder (on mvn clean).
See https://maven.apache.org/plugins/maven-clean-plugin/examples/delete_additional_files.html

[2021-07-11 08:58] maxandersen commented on #18386
so I just tried `template.data(properties)` and it does not add each entry in the map - at least it gets destroyed if you do multiple data() calls.

so for now i'm still left having to do:

[code]

[2021-07-11 16:28] ebullient commented on #18590
raise this against picocli itself?