[2021-09-21 21:49] famod commented on #20315
/cc @glefloch

[2021-09-21 23:04] jw941 commented on #20264
@beikov "documentGroup.domain" is accessed via a FK and it used to work. Not sure from which version, it stops working. And yes, it belongs to Hibernate issue rather than Quarkus.

[2021-09-22 00:25] cemnura commented on #20144
I can see what you mean now. Yes, indeed I am getting 401 Authorization errors when using resteasy-reactive despite disabling.  @sberyozkin any ideas were I focus on? Checking @andrewlunin comment on possible commit being #19598.

[2021-09-22 01:03] stuartwdouglas commented on #20224
Note that this has nothing to do with locking up threads, that thread dump looks completely normal for a server that is not doing anything (the TIMED_WAIT threads are waiting for work to be submitted to the thread pool).

 After ab fails what happens if you run it again?

[2021-09-22 03:44] #20301 closed

[2021-09-22 04:19] beikov commented on #20264
@jw941 accessing the FK is when you would use `d.documentGroup.id = :someId`. You are specifying that the FK on the document table points to the PK of the document group table: https://github.com/jw941/hibernate-bug/blob/main/src/main/java/com/example/entity/Document.java#L36

This kind of access never worked for DML queries, unless your databases supported the join syntax in update/delete.

[2021-09-22 05:25] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1260420981

[2021-09-22 05:32] mswiderski commented on #20224
it resumes the work as nothing happened. So maybe it is an issue with `ab` itself then simply not sending requests any more. I will try it with other client to send requests and see what happens.

Anyway, seems like this is a no issue as it cannot be reproduced anywhere else than my local laptop :)

[2021-09-22 05:42] stuartwdouglas commented on #20224
It is still potentially an issue. It sounds like a race where a request is not being completed somehow, so ab times out waiting for the response.

[2021-09-22 06:15] yrodiere commented on #20282
To be clear: accessing public fields directly on Hibernate ORM entities prevents lazy-loading from working. That's why Quarkus transforms direct field access into getter/setter calls.

Quarkus also turns public fields in entities into protected fields in order to make sure that if the application bypasses the getters/setters by mistake, an exception will be thrown: such access should not happen an

[2021-09-22 06:18] afalhambra opened #20318 "Custom system properties are ignored by @QuarkusIntegrationTest"
### Describe the bug

When running integration tests by using annotated classes with @QuarkusIntegrationTest, custom system properties defined in the maven-failsafe-plugin maven plugin are completely ignored and not passed as system properties to the quarkus app when starting up the app when running the integration test.
The same approach works fine for the @QuarkusTest annotated classes in the ma

[2021-09-22 06:24] mswiderski commented on #20224
just finished tests with jmeter instead and with even higher number of requests and it works as expected. So I do believe that ab is acting up a bit on my laptop.

[2021-09-22 06:30] geoand commented on #20224
FWIW I did all my tests with `wrk`.

Now there still could be a very subtle concurrency issue somewhere, but I don't really know what else to try in order to surface it.

[2021-09-22 06:41] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1260432406

[2021-09-22 07:09] essobedo commented on #20275
@radcortez If it allows to do the same thing that the test I have in my PR, it would be great

[2021-09-22 07:32] glefloch commented on #20315
Thanks for creating the issue @famod I will have a look at this test.

[2021-09-22 07:33] geoand commented on #20303
Which logging is not working?

In your reproducer I see logs in both the console and `target/quarkus.log`

[2021-09-22 07:44] geoand commented on #20318
This is a tough one to be honest...

the problem is that in the JUnit extension we don't know which system properties have been set by the Maven Failsafe plugin...

[2021-09-22 07:46] #20318 closed

[2021-09-22 08:04] lostiniceland commented on #20169
@famod Sorry for the late reply. Yes, I will create a sample app.

[2021-09-22 08:10] mweber03 commented on #20305
@radcortez yeah our properties are dynamic. Do you have any ideas of another way to solve this with the existing functionality?

[2021-09-22 08:12] aloubyansky commented on #20315
@glefloch i've seen it failing this way locally quite a few times recently but i wasn't sure whether it was due to my local changes or not. It's just FYI, it occasionally can be reproduced locally.

[2021-09-22 08:17] afalhambra commented on #20303
@geoand - in the GreetingResourceIT test class, the logging code:
`logger.info("starting IT test for logging");`
is not displayed in either console or quarkus.log

[2021-09-22 08:19] Sanne commented on #20300
Not sure if it should be a separate issue, but I'd also love it if we could tune the API of `@RegisterForReflection` to strongly encourage adding a conditional tied to code reachability - perhaps it should be a required attribute of the annotation?

I understand that making it required would make it a lot of work to migrate to the new annotation, but a good compromise would be to have a default co

[2021-09-22 08:19] geoand commented on #20303
Ah, you mean from the test itself, gotcha.

[2021-09-22 08:20] RustamSultansoy commented on #20282
@yrodiere thanks for clarifying.
in my case I've used reflection to access parent class field by name like clazz.getField("somePublicField")
currently method was changed and looks like that:
[code]

[2021-09-22 08:20] #20282 closed

[2021-09-22 08:31] afalhambra commented on #20303
yes, and actually not only in the test class, but in every class located in the "test" folders or outside of the quarkus app classes

[2021-09-22 08:52] zakkak commented on #20300
+1 that will also be in line with the new ["Conditional Configuration"](https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/Reflection.md#conditional-configuration) that is coming in GraalVM 21.3

I think, however, that this should be in a separate feature request :)

[2021-09-22 08:54] yrodiere commented on #20282
@RustamSultansoy Thanks for the details. I can see how changing the field from public to protected can impact such code, indeed.

Be careful if you're using this to retrieve the value of a field: you really should go through the Quarkus-generated getters instead, so that lazy-loading works correctly. If you don't retrieve values from fields using reflection, you're fine.

[2021-09-22 09:08] zakkak opened #20321 "gdb debugging of native images without setting the sources directory no longer works as of GraalVM/Mandrel 21.1"
### Describe the bug

https://github.com/oracle/graal/commit/dee66ca6e28fd519cef061130d20e28ec35d1a1f (included in GraalVM/Mandrel >=21.1) started enforcing the use of absolute paths in DW_AT_comp_dir. These paths are essentially pointing to the location of the "sources" directory holding the source code corresponding to the binary being debugged. In Quarkus we copy the "sources" directory after t

[2021-09-22 09:12] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1260432022

[2021-09-22 10:19] mswiderski commented on #20224
ok, the problem is due to `ab` used on Mac and the Mac config of ephemeral ports - exactly what is described here https://stackoverflow.com/questions/1216267/ab-program-freezes-after-lots-of-requests-why

so all is fine and works like a charm!

sorry for the trouble and huge thanks @stuartwdouglas @geoand for helping out to diagnose it, much appreciated

[2021-09-22 10:20] geoand commented on #20224
Very interesting! Thanks for the feedback!

[2021-09-22 10:20] #20224 closed

[2021-09-22 10:30] radcortez commented on #20283
Yes, I'll do one in the meanwhile. Just looking into other issue to see if it require any additional changes.

[2021-09-22 10:31] geoand commented on #20283
Great, thanks

[2021-09-22 10:31] radcortez commented on #20305
Are you able to flatten the collection and the map to be just a map? Is there any property that can be used as a unique key? Or it is really required a combination of index plus key?

[2021-09-22 10:55] cescoffier commented on #18135
Smallrye reactive messaging is used on several contexts. Quarkus is just one of them.

However I agree with what you said and the ability to detect channels at build time. It will require a bit of change to allows executing the first pass of the wiring at build time, but it's possible.

[2021-09-22 11:21] ia3andy opened #20323 "Introduce api-version warning for catalog metadata"
As we might be forced to break the compatibility between the tooling and the data some day, we should introduce an `api-version` that we increment on breaking change (and that we keep in the stream metatdata). When the `api-version` is lower in the client, we display a warning to tell the user it may fail and they should update to a recent version.

_Originally posted by @ia3andy in https://github

[2021-09-22 11:35] geoand commented on #20201
@moritz-bruder if you have something in mind, feel free to open a PR

[2021-09-22 11:50] #18559 closed

[2021-09-22 11:57] geoand commented on #20152
@phillip-kruger any chance we will get a new version of the Openapi dependency before next week so we can include it in `2.3.0.Final`?

[2021-09-22 11:58] phillip-kruger commented on #20152
For sure ! I'll release later today

[2021-09-22 11:59] geoand commented on #20152
Great, thanks!

[2021-09-22 12:10] maxandersen commented on #20323
+1, a while back we discussed how we would setup cross version testing - did that ever happen?

because no mo matter api-versiion being added we should a) move forward with fixes in backward compatible way (add fields rather than change semantics of existing ones, have opened ended fields rather than absolute ones) b) cross test automatically to see when we break a

[2021-09-22 12:16] ia3andy commented on #20323
@maxandersen

We don't have cross version testing AFAIK

Yeah that makes sense

[2021-09-22 12:17] ia3andy opened #20325 "Introduce cross version testing of platforms with tooling"
We should test backward and forward compatibility.

IMO testing the CLI is not enough, we should:
Test each supported versions (+ the current main version of the dev tool lib) of the devtool java library with all the registry data (+ the current main version of the data), parse every extension and load every codestarts.

[2021-09-22 12:19] maxandersen commented on #20323
lets make that the priority imo.

How can I help you make it happen ?

We have all the pieces now to do it (jbang can install any past version of the cli, mvn/gradle plugins too) so can both created any kind of versioned project and use it with any versioned tooling.

[2021-09-22 12:25] ia3andy commented on #20323
IMO testing the CLI is not enough, we should:
Test each supported versions (+ the current main version of the dev tool lib) of the devtool java library with all the registry data (+ the current main version of the data), parse every extension and load every codestarts

[2021-09-22 12:27] robp94 opened #20326 "Missing parameter metadata for several classes from graphql-java"
### Describe the bug

Using quarkus with graphql and hibernate validator, I get the following warnings:

[code]

This happens when you do something like this:

[code]

Which comes from classes from graphql-java like `graphql.com.google.common.collect.AbstractMapBasedMultimap$RandomAccessWrappedList`

I already opened an issue at graphql java, but I can't give any input there. Could someone there p

[2021-09-22 13:20] acaciobrito opened #20329 "Allow Sort to be empty"
### Description

I am writing amazon lambdas using quarkus-amazon-lambda-rest, quarkus-resteasy-jackson and quarkus-hibernate-orm-panache
I have one rest endpoint that will return me a list of the entities. But I need to be able to sort that list based on a query param.

Right now my query param is a list of string where I receive 'columnName,(ASC or DSC)'

The Sort class from io.quarkus.panache.c

[2021-09-22 14:01] Sanne opened #20331 "APIs such as @RegisterForReflection should strongly encourage conditionality"
### Description

Follow up on https://github.com/quarkusio/quarkus/issues/20300#issuecomment-924696400

When registering symbols for reflective access, it would be far better to register them based on some condition of reachability.

For example the code actually performing the reflective call: if that code is not reachable (for whatever other reason), then the reflective call is also actually unn

[2021-09-22 14:02] Sanne commented on #20300
Ok for a separate feature request: opened #20331

but if we change the API let's try to do it only once and address both aspects.

[2021-09-22 14:38] kristijan-rusu opened #20332 "Security annotations with Mutiny"
### Description

Security annotations, such as `@Authenticated` or `@RolesAllowed` should would with Mutiny. I'm not sure if they are working correctly with RESTEasy Reactive, but they are not working with other Mutiny methods such as gRPC implementations. When invoking non-blocking gRPC implementation annotated with `@RolesAllowed` this exception is thrown:

[code]

### Implementation ideas

As t

[2021-09-22 15:14] kristijan-rusu opened #20334 "Make HTTP server optional for gRPC"
### Description

When adding `quarkus-grpc` extension as dependency, it pulls `vertx` and `vertx-web` extensions which are overhead for simple applications or projects which don't use WEB at all so Quarkus shouldn't bind and listen to HTTP ports. When someone is using the gRPC extension, it shouldn't assume that WEB is also used.

### Implementation ideas

The HTTP server should be optional as it

[2021-09-22 15:26] AndreiYu commented on #19359
Hi, is there any update on this? It seems we face the same issue with quarkus 2.1+ running as native image in AWS as Docker container

[2021-09-22 16:19] jaikiran commented on #19359
From the thread dumps attached so far, I don't see anything obvious that looks like an issue.

[2021-09-22 17:34] deathwaiting opened #20337 "Swagger-ui doesn't work when using openid-connect on quarkus 2.2.3.Final"
### Describe the bug

I am using keycloak for securing the application,
when running the app in dev mode and opening `localhost:8180/q/swagger-ui` in the browser gives a white page.

The browser console gives the following error
`Uncaught TypeError: ui.initOAuth is not a function
    onload http://localhost:8180/q/swagger-ui/:41
    EventHandlerNonNull* http://localhost:8180/q/swagger-ui/:20
swagg

[2021-09-22 18:04] phillip-kruger commented on #20337
This is fixed in https://github.com/quarkusio/quarkus/releases/tag/2.3.0.CR1

[2021-09-22 21:04] mweber03 commented on #20305
It's really a combination of index plus key. There's 1-to-N items that each have their own set of data.

[2021-09-22 23:15] dhoffer opened #20344 "Quarkus gives 404 for static content with spaces in names"
### Describe the bug

We are using 2.1.4.Final and have found that static content with spaces in the file names gives 404 errors.  Specifically we configure our static handler like this.

StaticHandler staticHandler = StaticHandler.create()
.setFilesReadOnly(true)
.setDirectoryListing(false)
.setAllowRootFileSystemAccess(true)
.setWebRoot(webRoot);

We have tracked this down from our upgrade to 2.

[2021-09-23 05:20] mschorsch opened #20345 "Resteasy Reactive: Kotlin `Flow` and `Multi` are not supported in suspend functions"
### Describe the bug

`Flow` and `Multi` cannot be returned from a suspendable function (resteasy reactive).

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. https://code.quarkus.io/?e=resteasy-reactive-jackson&e=kotlin
2. Add the following code:

[code]

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

Java 11

##

[2021-09-23 05:21] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1264535998

[2021-09-23 06:01] mschorsch opened #20346 "Dev-Services throw an exception on live reload if `quarkus.datasource.devservices.image-name` is set"
### Describe the bug

If `quarkus.datasource.devservices.image-name` ist set then i get the following exception on live reload:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. https://code.quarkus.io/?e=resteasy-reactive-jackson&e=agroal&e=jdbc-postgresql&e=flyway&e=kotlin
2. Add the following `application.properties` file:

[code]
3. Ev

[2021-09-23 06:18] mschorsch opened #20347 "Hibernate-Validator: Custom `ValueExtractor` is not automatically registered"
### Describe the bug

A custom `ValueExtractor` is not automatically registered by quarkus (https://quarkus.io/guides/validation#hibernate-validator-extension-and-cdi).

[code]

Note: Registration via Service-Loader-API works as expected (https://docs.jboss.org/hibernate/validator/6.2/reference/en-US/html_single/#section-valueextraction-registeringvalueextractor).

### Expected behavior

_No respo

[2021-09-23 06:18] geoand commented on #20345
This is indeed true, but I would like to know what a real world example of this would be.

[2021-09-23 06:21] #20152 closed

[2021-09-23 06:21] #20191 closed

[2021-09-23 06:22] geoand commented on #6588
@michalszynkiewicz the rest client quickstarts seem to be failing. Mind taking a look please?

[2021-09-23 06:26] mschorsch commented on #20345
A real world example would be to stream data from a database. The database is accessed via a suspend function.

[2021-09-23 06:30] geoand commented on #20345
Returning data from database is hardly a streaming use case to be honest, databases don't stream results (in the `Multi` fashion). In almost all cases, returning `Uni<List<Whateve>>` is the proper way to handle the database results.

In any case, can you show some pseudocode of what you have in mind?

[2021-09-23 06:59] mschorsch commented on #20345
Not a database streaming example, but hopefully it shows my point.

[code]

[2021-09-23 07:07] geoand commented on #20347
I sort of remember something similar being reported in the past, but I'll let the HV experts weigh in on this one.

One thing I would ask however is to give `2.3.0.CR1` a shot and see if the issue still persists.

[2021-09-23 07:08] machi1990 commented on #20346
I think this could be a duplicate of https://github.com/quarkusio/quarkus/issues/20214

/cc @geoand your fix may also take care of that.  Can you check?

[2021-09-23 07:09] geoand commented on #20345
Thanks

[2021-09-23 07:13] jmartisk commented on #20326
Does this only cause warnings or does it actually affect the application's behavior?
If graphql-java guys refuse to fix this and we don't find any behavioral effect, we could probably suppress the warnings?!

[2021-09-23 07:14] geoand commented on #20346
Thanks for pointing it out. Basically that issue is a little more general. I'll update my PR to cover it as well.

[2021-09-23 07:16] machi1990 commented on #20346
Thanks

[2021-09-23 07:19] mschorsch commented on #20347
Doesnt't work in `2.3.0.CR1` either.

[2021-09-23 07:22] rolfborst opened #20350 "NullPointerException in MicrometerRecorder.registerMetrics"
### Describe the bug

Hello Quarkus-Team,

great work. I'm currently moving a project from tomee to quarkus. This is a example project for my students in "database technology". So I have used a lot of your extensions for jpa, mongodb, neo4j, cassandra, ... All worked absolutly fine. In a last step I want to introduce the extension "quarkus-micrometer-registry-prometheus" to demonstrate the use of

[2021-09-23 07:28] Reina-39 opened #20351 "Hibernate exception during initialization"
### Describe the bug

Basically, frequently hibernate gives exception during initialization (live reload as well) and sometimes can work well without any changes. It doesn't matter reactive or not, same thing still happens.

Repository: https://github.com/Reina-39/sample_website

[code]

### Expected behavior

If I had issue with usage of the JPA annotations, I would except a normal exception mess

[2021-09-23 07:30] geoand commented on #20346
PR updated

[2021-09-23 07:30] geoand commented on #20347
Thanks for checking

[2021-09-23 07:34] gsmet commented on #20347
It should work given https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-validator/runtime/src/main/java/io/quarkus/hibernate/validator/runtime/HibernateValidatorRecorder.java#L133-L137 .

By any chance, is your `ValueExtractor` bean in an external library that is not indexed by Jandex?

If not, can you create a small reproducer?

[2021-09-23 07:34] robp94 commented on #20326
I don't know if it actually affects the application.
I found this issue https://github.com/quarkusio/quarkus/issues/17799, so maybe @gsmet knows more?

[2021-09-23 07:43] mschorsch commented on #20347
In our application the `ValueExtractor` is in a seperate maven module. The module is indexed by Jandex.

You can find a reproducer in the issue description under `How to Reproduce?`.

[2021-09-23 07:44] geoand commented on #20350
It looks like neo4j is the one responsible for the `null` consumer: https://github.com/quarkusio/quarkus/blob/2.3.0.CR1/extensions/neo4j/runtime/src/main/java/io/quarkus/neo4j/runtime/Neo4jDriverRecorder.java#L79

I'll leave it up to @ebullient to decide whether `null` should be allowed (and therefore guarded against) or not

[2021-09-23 07:51] rolfborst commented on #20350
Wow, absolutly great work how fast you find the problem :-)

When I activate the neo4j-metrics all works fine:

quarkus.neo4j.pool.metrics.enabled=true

When I set it to false or leave it unset, I get the NullPointerException

[2021-09-23 08:18] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1264545465

[2021-09-23 09:04] t-adrian commented on #19670
G'day @sberyozkin  @stuartwdouglas was wondering if there was any update on the pattern to perform a blocking call in the TokenStateManager like saving a PanacheEntity?

[2021-09-23 09:07] mmusgrov commented on #20079
Would have two separate extension be the wrong way to address this?

[2021-09-23 09:09] gsmet commented on #20347
Hmm, how do you get your module indexed? Do you have an empty `META-INF/beans.xml`? Because that's what is needed to get ArC to find the beans.

[2021-09-23 09:49] mschorsch commented on #20347
In the reproducer above there isn't an external module. So it should work out of the box.

In our real application the Jandex index is created via the `jandex-maven-plugin` (https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index).

[2021-09-23 10:01] yrodiere commented on #20347
Not really a reproducer if it doesn't reproduce the problem ;)

According to [the Quarkus CDI documentation](https://quarkus.io/guides/cdi-reference#bean_discovery), having a Jandex index in your dependency at `META-INF/jandex.idx` should be enough.

But adding `META-INF/beans.xml` is worth a try; at least it will give us more information about what's wrong exactly. Please try?

Or provide a repro

[2021-09-23 10:02] madprogrammer opened #20352 "Returning Uni<AsyncFile> doesn't work as described"
### Describe the bug

Hello,

In [documentation](https://quarkus.io/guides/resteasy-reactive#returning-a-response-body), it is stated that returning an `AsyncFile` or `Uni<AsyncFile>` should lead to contents of the file being returned, however, when I try to return `Uni<AsyncFile>`, or particularly `Uni<io.vertx.mutiny.core.file.AsyncFile>` which is by default returned from `vertx.fileSystem().ope

[2021-09-23 10:07] madprogrammer commented on #20352
I also have an additional related question: is returning a `Uni<RestResponse<AsyncFile>>` or `Uni<Response>` with an `AsyncFile` supposed to work or not? Because I want to return a file body with an additional ETag header set in the response in case if the requested file was found, or return a 404 response otherwise. Currently, trying to return `Uni<RestResponse<Path>>` or `Uni<RestResponse<AsyncF

[2021-09-23 10:14] mschorsch commented on #20347
Ok, i checked it. I followed exactly my description to reproduce the problem and i can reproduce the issue without problems. Even a simple `./mvnw clean install` leads to the following error:

[code]

I tried out your suggestion. Adding a `META-INF/beans.xml` doesn't help.

See above.

[2021-09-23 10:16] yrodiere commented on #20347
Seems like I misunderstood what you were saying about "working out of the box". Sorry about that.

Thanks for the reproducer, I will have a look.

[2021-09-23 10:17] loicmathieu commented on #20329
@FroMage empty sort is already possible via `Sort.by()` as we use a varargs but it's not very discoverable so adding `Sort.emtpy()` seems to be a good addition with a discoverable name and a straighforward implementation (delegate to `Sort.by()`).
WDYT ?

[2021-09-23 10:17] mschorsch commented on #20347
No problem, thank you 👍

[2021-09-23 10:26] radcortez commented on #20305
In that case, unless you can find a way to layer your configuration in a different way, we don't have a way to map that. I need to implement it.

[2021-09-23 10:50] michalszynkiewicz commented on #20352
@madprogrammer which REST extension do you use?

[2021-09-23 10:55] madprogrammer commented on #20352
@michalszynkiewicz in "Installed features" the following relevant extensions are listed: `quarkus-resteasy-reactive`, `quarkus-resteasy-reactive-jackson`

[2021-09-23 11:05] geoand commented on #20329
Sounds reasonable to me

[2021-09-23 11:23] madprogrammer commented on #20352
@michalszynkiewicz it seems to be related specifically to **Mutiny** API. I've rewrited the code without **Mutiny** to test, and it works:
[code]

[2021-09-23 11:58] geoand commented on #20079
Yeah, it's one way to address it :)

[2021-09-23 12:18] mschorsch opened #20357 "Resteasy Reactive: `ServerExceptionMapper` does not process a thrown `Exception` (Kotlin only)"
### Describe the bug

If a (Kotlin-)Rest-Endpoint throws an `java.lang.Exception` then the `Exception` does not get processed by a custom `ServerExceptionMapper`. `RuntimeException` works as excepted.

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

1. https://code.quarkus.io/?e=resteasy-reactive-jackson&e=kotlin&extension-search=kotlin
2. A

[2021-09-23 12:21] #20215 closed

[2021-09-23 12:52] geoand commented on #20357
I can't reproduce this problem with the snippets included in the description.

Please attach a project that exhibits this behavior (ideally with failing tests).

[2021-09-23 12:54] galderz commented on #20066
This could be a bug in the original feature when handling `quarkus.log.level` specifically. If you use a category, then this works. E.g.

[code]

[2021-09-23 13:00] baiglin commented on #18135
Hello.

Actually after more investigation with @rquinio1A we found that there is logic done in smallrye to validate if there is not a non-env property defined that could match the any env property by applying reverse logic on it (replace any non alpha-num characters by an underscore) then remove the property from the list that is used to determine the channel names.

So to sum-up, you define the p

[2021-09-23 13:16] ebullient commented on #20350
I should absolutely be checking for null because it can apparently happen, though it would be kinder for neo4j not to register the supplier at all unless metrics are turned on. I'll try to fix both. Thanks for looking Georgios.. you beat me to it.

[2021-09-23 13:17] geoand commented on #20350
👍🏼

[2021-09-23 13:32] cdennison opened #20359 "Support for Multi-instance Verticles and Dependency Injection"
### Description

As a Quarkus developer I use Quarkus to deploy high throughput services using protocols like HTTP/WS/Kafka/AMQP/MQTT/etc. Currently Quarkus has great support for HTTP/WS/Kafka but not AMQP/MQTT/etc. The reason why, is that to support high throughput I need multi-reactor support (i.e. multiple event-loops/threads per deployment). HTTP/WS already allows me to specify the exact numbe

[2021-09-23 13:37] matthiasgubler opened #20360 "Nonexisting truststore doesn't lead to error in native image"
### Describe the bug

I tried to bake a truststore into my application using the following property:
`quarkus.native.additional-build-args=-J-Djavax.net.ssl.trustStore=/tmp/mongo/truststore.jks,-J-Djavax.net.ssl.trustStorePassword=changeit
`

The issue is that if the file /tmp/mongo/truststore.jks does not exist, I don't get an error because it seems that the build-process makes a fallback on some

[2021-09-23 13:37] mkouba commented on #20359
CC @cescoffier

[2021-09-23 14:03] mschorsch commented on #20357
I've made a reproducer (see attached), including some tests.

Please note that unfortunately __the tests do not fail__. The problem can only be reproduced in __dev mode__.

Run `./mvnw quarkus:dev` call `http://localhost:8080/ex/throw1` then you get the following exception (console log):

[code]

[reproducer20357.zip](https://github.com/quarkusio/quarkus/files/7218182/reproducer20357.zip)

[2021-09-23 14:04] radcortez commented on #20275
Reopening, to close only when linked PR is merged.

[2021-09-23 14:53] cescoffier commented on #20359
@mkouba is it possible to ask Arc to produce multiple instance? Do we have to define a scope for this?

[2021-09-23 14:54] cescoffier commented on #20359
Another solution is to use access the CDI continuer object and do the lookup manually but that's not very nice.

[2021-09-23 14:57] manovotn commented on #20359
The only scope which allows you do have multiple instances is `@Dependent` which is really just a pseudo-scope.

[2021-09-23 15:05] dhoffer commented on #20344
I tried upgrading to Quarkus 2.2.3.Final and it has the same issue.

[2021-09-23 15:23] radcortez commented on #14889
Since `@ConfigMapping` is now the recommended way to set up the configuration and it supports this feature, (fails the application if a configuration is not mapped), I'll be closing this issue.

[2021-09-23 15:23] #14889 closed

[2021-09-23 15:44] #19789 closed

[2021-09-23 15:58] artkonr opened #20363 "Recurring redirects in OIDC against Azure AD"
### Describe the bug

Hey team,

I am trying to enable OIDC security for my web app (`authorization_code` flow) with Azure AD being the identity provider. The problem is that endpoint declaration like below fails with recurring redirects:

[code]

The error flow goes as follows:
1. The request gets routed to the endpoint.
2. Authentication mechanism kicks in.
3. I get first proper redirect to the

[2021-09-23 16:08] joggeli34 commented on #19022
Using Quarkus 2.2.3.CR1 solves the problem for me. The time spend in configuration is now only 1sec.
The task `quarkusGenerateCode` takes some time, but it is only run for dependent task and works with the up-to-date check.
Thanks for the fix 👍

[2021-09-23 16:18] geoand commented on #20357
https://github.com/quarkusio/quarkus/pull/20364 takes care of the issue

[2021-09-23 16:19] #19721 closed

[2021-09-23 17:25] sberyozkin commented on #20363
Hi @artkonr Hmm... A few Azure users have confirmed it was working for them and I thought we have fixed all the redirect loops problems.

The last message explains the problem, the state cookie set during the initial redirect is not visible when the user is redirected back to Quarkus - I'm surprised it is happening since the cookie path is set to `/` by default, but perhaps it is also a different

[2021-09-23 18:49] sberyozkin opened #20366 "Make HttpAuthenticationMechanism optional for quarkus-smallrye-jwt if no `vertx-http` is available"
### Description

Some users who do not use `HTTP` but for example `GRPC` would like to avoid bringing HTTP dependency and registering `HttpAuthenticationMechanism`.

### Implementation ideas

@ebullient has proposed to make the registration of `HttpAuthenticationMechanism` optional if an `HTTP` capability is not present.

[2021-09-23 20:22] maxandersen commented on #5956
annotation processors are generally slow compared to a more direct quarkus extension so if we can avoid them it would be great.

another issue I keep having with mapstruct is that it requires my fields to be public where we don't need elsewhere. could a proper mapstruct extension remedy that ?

[2021-09-23 21:04] filiphr commented on #5956
I am not entirely sure how Quarkus extensions works. However, shouldn't the annotation processor eventually be involved somehow? How would the generated code be invoked otherwise?

I would be curious to understand why you think that mapstruct needs the fields to be public. MapStruct does not have such a requirement. You need to have public getters / setters. There is https://github.com/mapstruct/m

[2021-09-23 21:19] Sanne commented on #5956
There are some situations in which we prefer an AP for code generation: the cases in which it's useful to have immediate feedback within the IDE.

I believe this is one of such cases so it might be worth sticking to the AP approach.

[2021-09-24 00:47] #20350 closed

[2021-09-24 03:36] kdubb commented on #20345
We _would_ use flow to send SSE events. It would fill that bill nicely. For example, connect to a message queue and push events to clients via SSE.

[2021-09-24 03:38] kdubb commented on #20345
I realize there are other solutions for this but this would allow us to stay inside a coroutine context.

[2021-09-24 04:23] glefloch commented on #19022
@asodja, @ncorai could you give it a try?

[2021-09-24 05:01] mschorsch commented on #20347
@yrodiere I've created a simple reproducer (see attached).

[reproducer20347.zip](https://github.com/quarkusio/quarkus/files/7222967/reproducer20347.zip)

[2021-09-24 05:06] #20357 closed

[2021-09-24 05:24] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1268559386

[2021-09-24 05:33] mofr commented on #20345
Here is a real-life example from my side:
Build a service that streams a zip file built on the fly. The zip file contains files downloaded via HTTP. Files are big enough to don't fit into RAM. Using filesystem should be avoided since it's unnecessary.

I have a directly related question in the stackoverflow which basically duplicates the issue: https://stackoverflow.com/questions/69161606/how-to-s

[2021-09-24 05:43] #20321 closed

[2021-09-24 05:48] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1268560894

[2021-09-24 06:09] geoand commented on #20345
https://github.com/quarkusio/quarkus/pull/20371 should take care of the `Flow` case. I don't think I'll add support for `Multi` for the time being as using `Multi` and `suspend` together sounds like a weird use case.

[2021-09-24 06:16] liuzhaozhao opened #20372 ""Hibernate Reactive with PANACHE" No annotation @ProjectedFieldName"
### Describe the bug

When I only use Hibernate Reactive, there is no @ProjectedFieldName in the imported jar, resulting in a compilation error; when I import the jar package "quarkus-hibernate-orm-panache-common" that contains @ProjectedFieldName, another error occurs:

[code]

Is it necessary to put @ProjectedFieldName in "quarkus-hibernate-reactive-panache-common"？

### Expected behavior

_No r

[2021-09-24 06:19] geoand commented on #20352
Can  you try returning `io.vertx.core.file.AsyncFile`?

[2021-09-24 06:32] yrodiere commented on #20347
Thank you. Yes I'm working on it. The bad news is, even after I solve this problems, there are others that still prevent us from using value extractors... I'm on it.

[2021-09-24 06:38] galderz commented on #20066
PR sent: https://github.com/quarkusio/quarkus/pull/20373

[2021-09-24 06:39] geoand commented on #20352
https://github.com/quarkusio/quarkus/pull/20374 fixes the issue

[2021-09-24 07:02] ncorai commented on #19022
Yes!
`.\gradlew tasks` went from about 40 secs to 3 secs
`.\gradlew :singleproject:checkstyleMain` (after `clean`) from 1:35 to 24 secs
`.\gradlew :project1of4:checkstyleMain` (1st run after `clean`) from around 3:30 to 3:00
`.\gradlew :project1of4:checkstyleMain` (later run, no code changes) from around 2:15 to 30secs

Much much better, thank you

[2021-09-24 07:05] yrodiere opened #20375 "Hibernate Validator: `@ApplicationScoped` custom `ValueExtractor` bean lead to `ValueExtractorDefinitionException`"
### Describe the bug

Even after we fix #20347, custom `ValueExtractor` implementations provided as CDI beans can only have the `@Singleton` scope or `@Dependent` pseudo-scope. Any scope requiring instantiation will lead to an exception on startup complaining about "parallel definitions of value extractors on a given class", even though that's not the case.

### Expected behavior

A value extracto

[2021-09-24 07:06] #20214 closed

[2021-09-24 07:06] #20346 closed

[2021-09-24 07:17] joggeli34 opened #20376 "Build with empty quarkus.container-image.group failing"
### Describe the bug

When starting `quarkusBuild` on a project configured with:

[code]

the build fails with:

[code]

This could probably be due to https://github.com/quarkusio/quarkus/pull/19958

### Expected behavior

It should build and then create a docker image without a group.

### Actual behavior

_No response_

### How to Reproduce?

Add

[code]

and run

[code]

### Output of `uname -a

[2021-09-24 07:19] yrodiere opened #20377 "Hibernate Validator: annotations on type parameters of nested classes are ignored (at least for value extractors)"
### Describe the bug

When nested classes are involved, Hibernate Validator seems unable to detect annotations on type parameters of those classes, e.g. `NestedContainerType<@NotBlank String>` or `implements ValueExtractor<NestedContainerType<@ExtractedValue ?>>`

Moving the classes to the top-level fixes the problem.

### Expected behavior

When I declare a container type as a nested type, e.g. l

[2021-09-24 07:36] loicmathieu commented on #20372
`quarkus-hibernate-orm-panache-common` is for Hibernate ORM, it's an inner dependency so it must never be imported directly.

It appears the functionality behing `@ProjectedFieldName` is missing in Hibernate reactive. I change the type of issue to enhancement request as it's not a bug per se.

[2021-09-24 07:41] ia3andy commented on #20325
@maxandersen if I remember well there is a way with JBang to pass a dep version in command line args?

@aloubyansky I would need two scenarios:
1. The JUnit test runs the JBang script (using different version of the devtools) which use registry.quarkus.io (to test released data)
2. The JUnit test runs the JBang script (using different version of the devtools) which use some registry that contains

[2021-09-24 07:46] maxandersen commented on #20325
for //DEPS dependencies you can use system property replacement (see https://www.jbang.dev/documentation/guide/latest/dependencies.html#system-properties-and-environment-variables)

But I assume what you are after is running specific versions of Quarkus cli ?

Then instead of using `quarkus@quarkusio` alias use what it directly points to:

`jbang https://repo1.maven.org/maven2/io/quarkus/quarkus-c

[2021-09-24 07:53] maxandersen commented on #5956
@filiphr I'm talking about fields, especially package private scoped not needing public accessors. Yes I seen the #1689 from 2019 thus I assumed there were some technical reason (like having to use reflection in the generated source) for why it wasn't there.

Hence I just wondered if the mapping implementations were code generated during build (rather than in compile phase) mapstruct could do more

[2021-09-24 07:59] ia3andy commented on #20325
@maxandersen using a different version of the Quarkus CLI is not enough, look at the issue description.

[2021-09-24 08:02] maxandersen commented on #20325
@ia3andy yes? so use the system property replacement approach I linked to if you want to run same piece of code against multiple versions.

[2021-09-24 08:08] aloubyansky commented on #20325
What would the JBang script do? Just trying to clarify whether it has to be a script and what fits better from the JUnit perspective.

[2021-09-24 08:09] ia3andy commented on #20325
A simpler way might be to have a maven project with junit tests which uses the `devtools-common` dep, then from the ecosystem CI we run it, using different versions. This way we could also use the test registry that we use for other tests in quarkus core.

[2021-09-24 08:14] artkonr commented on #20363
Hi @sberyozkin,

Thanks for the info.

Odd bit here is that in my case, the setup is probably the simplest one, no overlapping roots and the app itself runs on localhost only. Besides, I got a feeling that this last statement in the log is actually an evidence of Chrome breaking the redirect loop, as if denying the state cookie is part of the recursion control.

I also tried setting `.cookie-domai

[2021-09-24 08:16] ia3andy commented on #20325
@aloubyansky maybe we are saying the same thing?

The reason we thought about JBang is that if we run the test in quarkus core, it will be called from any JUnit test and we we would need to call something which use different versions of the devtools-commin dep (thus JBang). But from the eco-system ci, we can build & test the same maven project using different version of the dep.

[2021-09-24 08:22] ia3andy commented on #20325
I would go like this:
- Add a new integration-test in Quarkus Core, it will test (data processing and codestarts) using the snapshot version of devtools-common agains the snapshot registry and also the official registry.quarkus.io
- Add an ecosystem-ci which run this new integration-test with mvn changing the `devtools-common-version` property

[2021-09-24 08:28] ia3andy commented on #20325
STEP 1 "SNAPSHOT VERSION OF DEVTOOLS <-> All registry data (SNAPSHOT + RELEASED)":
@aloubyansky I would need your help to set that up, could you help me make
- an integration test that uses the current snapshot version of the registry
- another test that uses the official registry

Then I will take care of implementing the tests.

STEP 2 "PREVIOUS VERSIONS OF DEVTOOLS <-> All registry data (SNAPSH

[2021-09-24 08:37] mmusgrov commented on #20079
Yet it still feels like a bit of a hack.

Is there a plan for solving the root cause issue of the extension dependencies clashing with what the user wants (even though they could/should work together)?

[2021-09-24 08:56] rsynek commented on #11563
Hi @gsmet and @geoand , the native compilation started failing due to "Error: Classes that should be initialized at run time got initialized during image building"
The classes it complains about are:
- javax.activation.ActivationDataFlavor
- java.awt.datatransfer.DataFlavor

See https://gist.github.com/rsynek/a87b0cc66219189e1e33991a567e8991 for more details including the output of `--trace-class-

[2021-09-24 08:57] geoand commented on #11563
cc @galderz

[2021-09-24 08:59] aloubyansky commented on #20325
Sure, I can help but not today.

[2021-09-24 08:59] geoand commented on #20079
Yeah, we're thinking about it and will hopefully come up with something.

[2021-09-24 09:19] maxandersen commented on #20325
Can of course use junit to orchestrate it just Remember these need to run in external processes. Not in a junit under influence of any of our own classpath or env settings.

[2021-09-24 09:20] Sanne commented on #11563
I had a quick look at `java.awt.datatransfer.DataFlavor`.. I could be wrong but it looks like a perfect candidate to be optimized via build time initialization.

[2021-09-24 09:28] sberyozkin commented on #20363
@artkonr Have a look please at https://github.com/quarkusio/quarkus/issues?q=is%3Aissue+is%3Aclosed+azure, a few of them are there.

Unlikely IMHO, the browser is redirecting the user back to Quarkus which fails the authentication - the problem the exception it throws is not recognized as the authentication completion failure but a failure requiring a challenge so Quarkus again sends a redirect to

[2021-09-24 10:02] filiphr commented on #5956
It is more of a maintenance thing from our side, we need to do some refactorings to make sure we have access to package that the class will be generated to be able to determine whether we can do the mapping or not. It has nothing to do with reflection since MapStruct uses no reflection to do the mapping.

[2021-09-24 10:36] artkonr commented on #20363
@sberyozkin, gotcha, just pinged you in Zulip.

[2021-09-24 10:44] ed-devops-d2 opened #20380 "Quarkus-Jacoco randomly fails to generate report"
### Describe the bug

I'm using quarkus-jacoco plugin with Maven. Although most of times it generates the reports under target/jacoco-report/jacoco.xml, sometimes it doesn't, even without modifying the build, just by chance.
I did search and found out other guys talking about EOFException, which indicates that exec file is truncated, but I'm not sure if that's my case here. Any suggestions?

Thank

[2021-09-24 11:04] johnaohara commented on #19359
I could not see anything obvious from the stack traces either. I have obtained some AWS credits to try recreate this issue in the AWS env

[2021-09-24 11:33] zakkak commented on #19446
As discussed in https://github.com/quarkusio/quarkus/pull/19511#issuecomment-926544467 there is currently at least one case where `-H:-InlineBeforeAnalysis` in conjunction with `-H:ParseOnce` is causing issues so being able to disable seems useful.

[2021-09-24 12:15] #20066 closed

[2021-09-24 12:24] albert0815 commented on #18802
Hi @jmartisk, @pedroigor, @sberyozkin, @xstefank,

Can you please let me know whether this is something which you would consider in future? We need Keycloak being checked as part of the healthiness of the services. It seems after a restart of Keycloak Quarkus is not able to retrieve any resources any more, most probably because some tokens are cached but not valid any more after a Keycloak restart

[2021-09-24 12:36] nadworny commented on #3298
@IRQs could you please provide some details on how did you implement it using Jaeger integration?

[2021-09-24 13:17] edeandrea opened #20381 "Continuous testing combined with Dev Services gets "wonky" after a bit of time"
### Describe the bug

When using continuous testing combined with dev services (in my case a PostgreSQL database, but I've seen it with other dev services too) it gets "wonky" after a bit and tests start to fail with different errors.

Stopping dev mode and re-running `./mvnw quarkus:dev` and then re-enabling continuous testing or running `./mvnw verify` will then have all tests run successfully.

[2021-09-24 13:25] edeandrea commented on #20381
I also tried the same exact steps using the https://github.com/quarkus-for-spring-developers/examples/tree/main/chapter-4/chapter-4-quarkus-panache-repository project. This project uses Panache and not Panache Reactive.

The same failures occur but the stack traces are different.

Step 7 from above:
[code]

Step 13 from above:
[code]

[2021-09-24 13:25] oscerd opened #20384 "quarkus.jib.jvm-entrypoint property doesn't reflect JFR configuration"
### Describe the bug

Suppose you have something like this

`<quarkus.jib.jvm-entrypoint>java,-XX:+UseShenandoahGC,-Xlog:gc,-Xmx64m,-XX:StartFlightRecording=name=Test,settings=/work/jfr/heap.jfc,duration=5m,filename=/work/jfr/output.jfr-jar,/work/quarkus-run.jar</quarkus.jib.jvm-entrypoint>`

The JIBProcessor will translate this to

`[INFO] [io.quarkus.container.image.jib.deployment.JibProcessor]

[2021-09-24 13:33] geoand commented on #20384
This isn't really a Quarkus bug - we need a way to separate the string into parts and `,` is the delimiter.

In your case simply changing to:

[code]

will work

[2021-09-24 13:33] #20384 closed

[2021-09-24 13:35] #20226 closed

[2021-09-24 13:38] oscerd commented on #20384
Thanks for the fast response. I think this is something that needs to be supported in a different way. If the Java command become too long it will be more or less impossible to read. Maybe add a property specific for JFR? To inject while forming the java command? Just an idea.

[2021-09-24 13:50] geoand commented on #20384
I understand the desire, however if we do that, there will be no end the flags we would be requested to support, so I'm not really a fan of this approach

[2021-09-24 14:03] #20345 closed

[2021-09-24 14:06] lburgazzoli commented on #20384
maybe it would be worth thinking about an extension to set-up jfr and related stuffs ?

[2021-09-24 14:08] geoand commented on #20384
What else would that extension do other than update the property mentioned in this issue?

[2021-09-24 14:10] lburgazzoli commented on #20384
it could make it easy to integrate with i.e https://cryostat.io

[2021-09-24 14:15] geoand commented on #20384
I suppose that would be useful. I suggest sending an email to the dev list asking for feedback

[2021-09-24 16:12] cemnura commented on #20144
I traced the execution and found out that the 401 Unauthorized was occuring due to the [EagerSecurityHandler](https://github.com/quarkusio/quarkus/blob/main/extensions/resteasy-reactive/quarkus-resteasy-reactive/runtime/src/main/java/io/quarkus/resteasy/reactive/server/runtime/security/EagerSecurityHandler.java#L23)

https://github.com/quarkusio/quarkus/blob/345767749124fb7222d289f74ceba5f35751471

[2021-09-24 16:34] yrodiere commented on #20375
Turns out the problem was in how we generate generics metadata for client proxies; see #20386.

[2021-09-24 16:38] #20352 closed

[2021-09-24 17:14] sberyozkin commented on #20363
Hi @artkonr Nice work, thanks for this investigation.

We have an option to customize the way the session data is represented, https://quarkus.io/guides/security-openid-connect-web-authentication#tokenstatemanager.
We can even restrict it to ID token only by default.
But if a single ID token > 4096 then it is a problem which can only be addressed by a custom manager - please use a basic map as POC

[2021-09-24 17:49] Shpota commented on #19420
@loicmathieu @evanchooly I am sorry for bothering you, when will you be able to take a look at this?

[2021-09-24 18:34] edeandrea opened #20388 "smallrye-openapi extension exposing rest client interface"
### Describe the bug

When building an application that uses the `smallrye-openapi` extension and also registering a rest client via `@RegisterRestClient`, when opening up the swagger-ui page looking at the openapi document, the methods declared in the rest client interface show up.

### Expected behavior

The rest client interface and the methods declared in them should not show up in the swagger

[2021-09-24 18:36] MikeEdgar commented on #20388
Fixed in upstream smallrye/smallrye-open-api#919 and in release 2.1.15.

[2021-09-24 18:42] phillip-kruger commented on #20388
Yes this is already in main branch. Closing here

[2021-09-24 18:42] #20388 closed

[2021-09-24 20:03] asodja commented on #19022
I did not have a chance to test this with production project. But I checked with reproducer and it looks good.

[2021-09-24 22:48] famod commented on #20380
I suppose you are referring to #18571? Are you seeing this in your IDE? If yes, which one?

[2021-09-24 22:51] sberyozkin commented on #20363
@artkonr By the way, I may've misread your conclusion. It looks like you refer to the `q_session`'s cookie length being > 4096.
But by default `q_session` != ID token. It is ID token + access token + refresh token, please check the docs I linked to.

I think that if you don't expect to propagate the access token to the downstream service or use to request `UserInfo` - usually `IdToken` itself has

[2021-09-24 22:56] famod commented on #20360
`-Djavax.net.ssl.trustStore` is a standard JDK property and I don't think it's evaluated specifically by Quarkus.

@zakkak what's your take on this?

[2021-09-25 00:18] famod opened #20392 "Analyze EA JDK 18 failures"
### Description

## Description

Analyze failures, create upstream issues etc.

Current status (checked item means problem resolved or mitigated with respective follow-up issues):
- [x] many failures due to `java.lang.IllegalArgumentException: Unsupported class file major version 62` from ASM
  https://github.com/quarkusio/quarkus/pull/20391
- [x] `io.quarkus.gradle.plugin`
  `Unsupported class fi

[2021-09-25 05:34] artkonr commented on #20363
Oh, sure, I'll give it a shot, haven't thought of that, thank you!

[2021-09-25 16:24] pedrolopix commented on #9313
Just bumped the demo project to latest versions and work fine

[2021-09-26 10:22] isaul32 opened #20395 "Validation groups for REST endpoint does not work with Kotlin"
### Describe the bug

[Validation groups for REST endpoint](https://quarkus.io/guides/validation#validation-groups-for-rest-endpoint-or-service-method-validation) does not working when REST resource is written in Kotlin.

However, manual validation works fine e.g. `validator.validate(book, ValidationGroups.Post::class.java)`

### Expected behavior

REST endpoint should be validated by converted gr

[2021-09-26 10:56] vsevel opened #20396 "oracle driver and serialization conflict"
### Describe the bug

Starting in 2.2.2, adding some serialization code and the oracle driver in the same application will lead to a ` java.lang.IllegalStateException: Object serialization is currently not supported` when attempting to serialize objects.
This is working fine in 2.2.1.

### Expected behavior

no regression. serialization code works as expected.

### Actual behavior

[code]

### How

[2021-09-26 10:58] vsevel commented on #20396
most likely introduced by https://github.com/quarkusio/quarkus/pull/19928
/cc @zakkak @Sanne

[2021-09-26 11:06] GeraldScott commented on #20045
Note the three URLs involved in the AWS Cognito implementation of OIDC:
- the OIDC endpoint is `https://cognito-idp.REGION.amazonaws.com/POOL_ID`. This will be the value of `quarkus.oidc.auth-server-url`. Quarkus will append `.well-known/openid-configuration` to the URL to discover the other endpoints
- the authorization_endpoint is `https://POOL_NAME.auth.eu-west-1.amazoncognito.com/oauth2/author

[2021-09-26 15:18] cescoffier commented on #20359
Let's imagine, in an `@ApplicationScoped` bean,  I inject something like this : (with `MyVerticle` being in the `@Dependent` scope.):

[code]

If I call `verticles.get()` 3 times, how many different instances would I get?

[2021-09-26 15:24] cescoffier commented on #19271
Closing, please re-open if the issue is still relevant (with a reproducer if possible).

[2021-09-26 15:24] #19271 closed

[2021-09-26 15:54] vsevel opened #20397 "unable to deserialize GregorianCalendar"
### Describe the bug

An attempt to deserialize a `GregorionCalendar` will lead to a `Caused by: java.io.StreamCorruptedException: invalid type code: 00`

### Expected behavior

serialization should be supported for `GregorianCalendar`.

### Actual behavior

[code]

### How to Reproduce?

create a sample application.

Add the following endpoint:

[code]

Add the following `serialization-config.jso

[2021-09-26 16:01] vsevel commented on #20397
similar behavior with a `BigInteger`:

[code]

Works well in jvm mode.

[2021-09-26 18:28] manovotn commented on #20359
So, in order not to keep things simple, there are two options in Quarkus :-D
* You will get three different instances of `MyVerticle` under normal circumstances (under standard CDI behavior)
* If you also annotate the `Instance` injection point with `@WithCaching`, you will get only one, see [this part of docs](https://quarkus.io/guides/cdi-reference#caching-the-result-of-programmatic-lookup)

[2021-09-26 18:50] emiste commented on #20257
@radcortez  please checkout the reproducer from my githhub account
thanks

[2021-09-26 20:19] Sanne commented on #20396
Hi @vsevel , thanks for the report!

Could you clarify why you're setting `<quarkus.native.additional-build-args>--initialize-at-run-time=oracle.jdbc.datasource.impl.OracleDataSource,--allow-incomplete-classpath</quarkus.native.additional-build-args>
` ?

[2021-09-26 23:13] #20207 closed

[2021-09-27 02:53] liononon opened #20403 "jbang app install quarkus,but catalog 'quarkusio' not found"
### Describe the bug

jbang app install --fresh --force --verbose quarkus@quarkusio
[jbang] jbang version 0.80.2
[jbang] Duplicating classpath resource jbang-catalog.json
[jbang] Reading catalog from ~/.jbang/cache/urls/2c97f3a787487bf73b7f4d02e109487e0e43be594ef95072827efd1500cd99ae
[jbang] Local catalog 'quarkusio' not found, trying implicit catalogs...
[jbang] No catalog found at https://github

[2021-09-27 03:38] maxandersen commented on #20403
Are you behind a proxy or something?

It's complaining about not being able to download a url that most definitely exist ?

[2021-09-27 04:40] maxandersen commented on #20403
Just tested locally and I cannot reproduce.

Looking at the logs I see:

[code]

which makes no sense unless github.com was down or you are behind a proxy of some sort.

Can you try again and/or outline what kind of proxy/firewall you are running this behind ?

[2021-09-27 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1276896832

[2021-09-27 05:53] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1276898470

[2021-09-27 05:55] geoand commented on #6588
@sberyozkin the Tika quickstart is failing, can you take a look please?

[2021-09-27 05:56] geoand commented on #6588
@michalszynkiewicz this is still the case, please take a look when you have a chance.

[2021-09-27 05:56] geoand commented on #6588
@ge0ffrey the Optaplanner quickstart is failing, can you take a look please?

[2021-09-27 06:07] #20381 closed

[2021-09-27 06:07] #20315 closed

[2021-09-27 06:30] jaikiran commented on #20397
Hello @vsevel, I haven't yet looked into this in detail, but looking at the stacktraces and the code in `BigInteger` and `Calendar`, I'm guessing there might be some bug which causes a failure if the object being deserialized contains a filed of type array.

[2021-09-27 06:32] geoand commented on #20395
cc @yrodiere

[2021-09-27 06:37] ed-devops-d2 commented on #20380
#18571 seems a close one. No I'm not, this file is being generated in Jenkins, in this project's workspace. Any ideas?

[2021-09-27 06:46] ChMThiel opened #20408 "Enable Junit5 Test-Suites"
### Description

Currently it seem not possible to implement Junit5 Test-Suites like shown here:
https://junit.org/junit5/docs/current/user-guide/#junit-platform-suite-engine-example
I would like to use @Suite-Annotation and Filters...
[code]
Quarkus 2.2.1.Final comes with junit-platform-libs (common, engine, launcher) in version 1.7.2.
But it seems that not until version 1.8.1 junit-platform brin

[2021-09-27 07:03] #16448 closed

[2021-09-27 07:15] jaikiran commented on #20397
I was able to easily reproduce this even directly with the `native-image` and a trivial (non-Quarkus) Java application. So this looks like a bug in native-image itself. I'll report it in the graal repo with a reproducer for their inputs.

[2021-09-27 07:19] #20347 closed

[2021-09-27 07:21] cescoffier commented on #20088
The `wildfly.sasl.relax-compliance` property can be passed in the channel configuration or even as a global configuration, but as it contains a `-` it gets replaced by `wildfly.sasl.relax.compliance`. This is something we can fix in reactive messaging.

[2021-09-27 07:36] xstefank commented on #18802
@albert0815 you're probably looking for https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-health/spi/src/main/java/io/quarkus/smallrye/health/deployment/spi/HealthBuildItem.java which you can use in your extension to produce extension health checks.

[2021-09-27 07:40] cescoffier commented on #20088
Workaround 1: Add `mp.messaging.connector.smallrye-kafka.wildfly.sasl.relax-compliance=true` to the configuration
Workaround 2: Add:
 * `mp.messaging.outgoing.out.wildfly.sasl.relax-compliance=true`
 * `mp.messaging.incoming.in.wildfly.sasl.relax-compliance=true`

The question is whether we want to automatically detect that Elytron is on the classpath and inject the configuration automatically.

@

[2021-09-27 07:44] t-adrian commented on #19670
Replying to my own question, the answer is to use requestContext.runBlocking(()-> do blocking logic here) and annotate the method with @Blocking.

[2021-09-27 07:52] yrodiere opened #20410 "Arc: select(rawType) does not match beans implementing parameterized types"
### Describe the bug

As seen in #20347,  `Arc.container().beanManager().createInstance().select(ValueExtractor.class)` does not match a bean implementing `ValueExtractor<List<?>>`, for example.

I managed to work around that in #20382 , but I believe this impacts users as well as our extensions, and should probably get fixed.

### Expected behavior

`Arc.container().beanManager().createInstance()

[2021-09-27 07:57] geoand commented on #19819
Reopening as https://github.com/quarkusio/quarkus/pull/20195 was partly reverted

[2021-09-27 08:01] #20283 closed

[2021-09-27 08:16] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1276898139

[2021-09-27 08:17] Ladicek commented on #20088
I don't really have an opinion, but I guess adding this property unconditionally for the Kafka connector can't hurt? :-)

[2021-09-27 08:24] #20376 closed

[2021-09-27 08:33] mmusgrov commented on #16448
I raised https://issues.redhat.com/browse/JBTM-3543 for the narayana fix

[2021-09-27 08:40] ennishol commented on #9313
@pedrolopix  I pulled your changes and get the same error when pressing 'Click' button with `mvn quarkus:dev`:
[code]

[2021-09-27 08:55] ozangunalp commented on #20088
We can add the `wildfly.sasl.relax-compliance` property on kafka-client extension instead of smallrye-reactive-messaging-kafka no?

[2021-09-27 08:57] cescoffier commented on #20088
Yes, it would be in the kafka-client extension. Most probably injected directly in the global config map.

[2021-09-27 09:03] zakkak commented on #20360
Hello @matthiasgubler,

Does your application fail in JVM mode when specifying a non-existing truststore?

[2021-09-27 09:35] vsevel commented on #20396
hi @Sanne, if I don't, I get an error related to`com.sun.jmx.mbeanserver.JmxMBeanServer`.

when I specify:
[code]

I get this build error:
[code]

[2021-09-27 10:09] vsevel commented on #20396
I am not sure about the `--allow-incomplete-classpath`. I do not know why it was added, and why. my different tests seem to work fine without it. may be it is not needed anymore.

[2021-09-27 11:03] gsmet commented on #20274
I created https://github.com/quarkusio/quarkus/pull/20412 . I missed they released a new 3.0.x to fix the issue there too.

Thanks!

[2021-09-27 11:25] artkonr commented on #20363
@sberyozkin, I tried a different token management strategy as you proposed, worked like a charm that, thank you very much! I guess I just didn't see the token value delimiter in the cookie value, did not connect it to the code flow I saw.

I'm curious, though, if this has any performance implications, would not this force the app to always re-request the access token?

[2021-09-27 11:26] famod commented on #16448
Thanks @mmusgrov, I'm now watching this issue.

[2021-09-27 11:47] famod commented on #20408
`@Suite` was added in JUnit 5.8.0 and Quarkus update to that version in 2.3.0.CR1, so please try it with that version (or wait for 2.3.0.Final).

[2021-09-27 11:48] arunkjn opened #20413 "quarkus.hibernate-orm.log.bind-parameters does not work"
I am following the documentation at https://quarkus.io/guides/hibernate-orm#quarkus-hibernate-orm_quarkus.hibernate-orm.log.bind-parameters which specifies the property `bind-parameters`. But this property does not work with quarkus `2.2.3.Final`.

I get the log saying

[2021-09-27 12:07] #20117 closed

[2021-09-27 12:17] geoand commented on #20413
I could not reproduce this, for me the parameter worked as expected.
Can you add your example application to github and link it to the issue?

[2021-09-27 12:43] vsevel commented on #20396
@Sanne I was able to drop `--allow-incomplete-classpath` with a little work on my side. so unrelated to the present issue.

[2021-09-27 12:52] sberyozkin commented on #20363
@artkonr Thanks for verifying the alt strategy works.

No, in the code flow ID token is a primary one, the access token is not used by `Quarkus` unless: 1) the endpoint needs to do a remote request to get `UserInfo` in addition to what one gets in `IdToken` 2) Quarkus endpoint, lets call it `ServiceA` needs to propagate it downstream to `Service B` (via HTTP `Authorization`) 3) RBAC is needed but

[2021-09-27 13:01] jaikiran commented on #20397
I've raised https://github.com/oracle/graal/issues/3839 with the necessary trivial example.

[2021-09-27 13:21] yrodiere commented on #20413
Maybe that's what you get when setting the property at runtime?

Strangely, this is a build-time-only property and it cannot be changed at runtime. I wonder why, though?

[2021-09-27 13:58] samekim commented on #8671
+1

[2021-09-27 14:00] vsevel commented on #20397
thanks @jaikiran

[2021-09-27 14:18] radcortez commented on #20257
Yes, this works with https://github.com/quarkusio/quarkus/pull/20103 (not merged yet).

[2021-09-27 14:28] irenakezic commented on #20088
Hi @cescoffier,
thx for the workaround!
It works fine for Quarkus 2.2.2.Final. However, for Quarkus 1.11.7.Final-redhat-00009 (this the one I need to use for now) I get the following exceptuion:
`2021-09-27 16:12:55,886 WARN  [org.apa.kaf.cli.NetworkClient] (kafka-producer-network-thread | kafka-producer-out) [Producer clientId=kafka-producer-out] Error connecting to node localhost:9092 (id: -1 ra

[2021-09-27 14:34] AndreasLehmann opened #20414 "Failed to start quarkus:dev with Quarkus V2.2.1"
### Describe the bug

When trying to start a Quarkus 2.2.1 application in dev-mode (using mvn quarkus:dev) I get the following error printed to the console and the application fails to start:

`[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:2.2.1.Final:dev (default-cli) on project adam-service: Execution default-cli of goal io.quarkus:quarkus-maven-plugin:2.2.1.Final:dev failed: A

[2021-09-27 14:36] geoand commented on #20414
Is this also a problem `2.2.3.Final` and `2.3.0.CR1`?

[2021-09-27 14:53] Naros commented on #20190
Unfortunately downgrading `failsafe` is not an option for Debezium.

[2021-09-27 15:03] artkonr commented on #20363
Oh, OK, it's good that you mentioned the downstream service case, which is effectively the case I will be pursuing: I need Azure AD access to query MS Graph API, which is authenticated with an access token, so it looks like changing of the strategy won't cut it. Guess I'll have to look into overriding `TokenStateManager`.

I guess a warning would indeed be a good thing to have at least for the tim

[2021-09-27 15:09] irenakezic commented on #20088
@cescoffier I did try both options :(

[2021-09-27 15:10] ppatierno opened #20415 "Not able to debug/run tests in all IDEs"
I am using Quarkus 2.2.2.Final for a project and having issues to run unit tests marked as `QuarkusTest` from IDEs (IntelliJ, Eclipse and VSCode). Everything works just fine from command line using maven.

With IntelliJ, when I run the class hosting the unit tests, I got a generic

[code]

The only way to workaround this, as suggested by @metacosm is enabling `Delegate IDE build/run actions to Mav

[2021-09-27 15:16] cescoffier commented on #20088
Unfortunately, there is nothing we can do. How Elytron is configured is not really "Kafka-friendly" ("-" instead of ".", String value instead of object)...

[2021-09-27 15:21] irenakezic commented on #20088
@cescoffier thx, I guess we will need to migrate to a more recent version than.

[2021-09-27 15:27] geoand commented on #20415
I use IntelliJ and it works just fine out of the box.

What are the steps you follow to reproduce this?

[2021-09-27 15:30] garyhodgson commented on #18980
Closing as the expected behaviour is incompatible with the quarkus build model, and was only a "nice to have" feature anyway.

[2021-09-27 15:30] #18980 closed

[2021-09-27 16:18] sberyozkin commented on #20144
@cemnura Sorry, seeing it only now - I don't know why but I'm not always seeing the pings, strangely enough, I see it every time `quarkus-bot` is pinging me :-)

Thanks for spending your time on this issue,

Can you please check if it works with `quarkus-resteasy` ?

@geonard - do you agree it would make sense for `resteasy-reactive` to have `AuthorizationController` checked as well ?

[2021-09-27 16:21] geoand commented on #20144
I'd be surprised if it's not fixed with 2.3.0.CR1. Can it be checked?
If it doesn't work, then I totally agree it needs to be fixed

[2021-09-27 16:32] sberyozkin commented on #20144
@andrewlunin Can you also please check `2.3.0.CR1`

[2021-09-27 17:12] ethanimproving opened #20424 ""RestDataPanacheException: Failed to list the entities" when table is empty"
**Describe the bug**
Using `@RepositoryRestResource` throws an exception when the table is empty.

**Expected behavior**
Call to `/tasks` should return an empty list of tasks, similar to this response with an empty list of countries.

![image](https://user-images.githubusercontent.com/55400451/134951841-f1f840c1-1ef3-43a8-93da-2848c2d44b0b.png)

**Actual behavior**
Call to `/tasks` triggers a `Res

[2021-09-27 17:19] sberyozkin commented on #20363
@artkonr I see, you can use https://quarkus.io/guides/security-openid-connect-client#token-propagation for propagating the access token acquired via the code flow.
Np at all - OIDC docs have to be improved, there is even an Epic issue for that, hopefully we'll get to it sooner rather than later.

Oh, I forgot, setting only `quarkus.oidc.token-state-manager.split-tokens=true` will definitely fix it

[2021-09-27 18:01] artkonr commented on #20363
@sberyozkin , I tried it and it worked immediately, I needed to tweak the claim path to make the entire thing work, do I'm all set now. Thank you so much for the help!

[2021-09-27 19:09] metacosm commented on #20415
@geoand do you delegate run/build actions to Maven?

[2021-09-27 19:19] mweber03 opened #20419 "Gradle - Cannot find dependency when under constraints"
### Describe the bug

When a dependency is under the constraints block and not, it cannot be found.

### Expected behavior

Successful build

### Actual behavior

[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

Ubuntu 20.04

### Output of `java -version`

OpenJDK 11.0.11

### GraalVM version (if different from Java)

_No response_

### Quarkus version or git rev

2.2.3.Fi

[2021-09-27 19:27] geoand commented on #20415
Nope.

[2021-09-27 20:45] sberyozkin commented on #20363
@artkonr Np at all, glad it worked. Thanks for highlighting how hard it can be to trace the problem related to the cookie size, at least one user did investigate it before, which is why a token state manager was introduced but I did not guess back then to add a warning along the way...

[2021-09-27 21:48] famod opened #20420 "Take `@QuarkusTestResource` into account in `QuarkusTestProfileAwareClassOrderer`"
### Description

The orderer (new in Quarkus 2.3) does not yet take `@QuarkusTestResource` into account, especially `restrictToAnnotatedClass = true` which also triggers a restart.
The same holds true when `@QuarkusTestResource` is used in a custom stereotype.

### Implementation ideas

_No response_

[2021-09-27 22:15] jayv opened #20421 "Qute fails to resolve properties on enum classes only when native compiled"
### Describe the bug

Templates render `NOT_FOUND` in native mode (works fine on JVM) for enum classes when attempting to access a member field of getter of the enum class.

### Expected behavior

Render the member field or method both in JVM as in native mode.

### Actual behavior

Qute resolves the property in JVM mode just fine but resolves as `NOT_FOUND` when compiled to native. Current workar

[2021-09-27 22:31] #17069 closed

[2021-09-27 22:31] #19931 closed

[2021-09-28 01:47] cemnura commented on #20144
@geoand I checked out `quarkus-resteasy` with version `2.2.3.Final` and I can close the authentication controller based on the the following config

[code]
Then the curl response is `200` OK

[code]

But when
[code]

then we get the expected `401` Unauthorized.

[code]

---

But when I change from `quarkus-resteasy` to `quarkus-resteasy-reactive` the [DisabledAuthController](https://github.com/cem

[2021-09-28 01:55] cemnura commented on #20144
I quickly updated the quarkus version to `2.3.0.CR1` and tried to disable the authentication via [DisabledAuthController](https://github.com/cemnura/quarkus-quickstarts/blob/andrewlunin/disable_auth_controller/security-jwt-quickstart/src/main/java/org/acme/security/jwt/DisabledAuthController.java) with `quarkus-resteasy-reactive` yet I am still receiving `401 Unauthorized` error.

`quarkus-resteas

[2021-09-28 05:11] murphye opened #20423 "quarkus:dev command input hangs when there is an Exception on application startup"
### Describe the bug

OK, this is a bad bug that majorly impacts usability.

I have a Quarkus app that throws an exception on startup. After that happens, I cannot use any of the commands such as

[code]

Nothing works, not even CTRL+C to try to escape out of it. Only option is to use the `kill` command for `java` processes for Maven and the app to get my terminal back.

### Expected behavior

Can

[2021-09-28 05:18] murphye commented on #20423
Here is the stack trace for the Exception that happens on startup, for what it's worth.

The fact that there is an Exception is NOT the problem. The problem is loss of control of the command line after this Exception happens.

Could the fact that this error stems from Vert.x and Netty be a clue on why the Exception is causing hanging on the terminal as described?

[code]

[2021-09-28 05:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1281153256

[2021-09-28 05:43] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1281155126

[2021-09-28 06:30] stuartwdouglas commented on #20415
This looks like something specific to `OperatorSDKProcessor` when running from the IDE, do you have a reproducer?

[2021-09-28 06:39] stuartwdouglas commented on #20423
@cescoffier it looks like `io.vertx.mutiny.ext.web.openapi.RouterBuilder#createAndAwait(io.vertx.mutiny.core.Vertx, java.lang.String)` is not unblocking on exception, which causes the main thread to hang indefinitely.

[2021-09-28 06:50] stuartwdouglas commented on #20331
I don't think this is particularly useful. @RegisterForReflection is for users to use in their applications, and if application code is not reachable then something is badly wrong.

[2021-09-28 07:49] metacosm commented on #20415
Yes, for some reason there seems to be some weird interaction between running the `OperatorSDKProcessor` in the IDE and Jandex… Not sure why it works in a "straight" maven setup though and not in the IDE.

[2021-09-28 07:53] geoand commented on #20415
If we get access to a repo that reproduces the problem, we'll likely be able to tell you exactly what is going on.

[2021-09-28 08:20] matthiasgubler commented on #20360
@zakkak setting rubbish to a JVM quarkus application also does not lead to an error right away. So it seem to have a similar behaviour like the native version. So it's probably a standard JVM feature ;)

[2021-09-28 08:23] geoand commented on #20144
Thanks for the information. I'll take a look

[2021-09-28 08:47] geoand commented on #16102
Closing for now.

Please reopen if the issue arises again

[2021-09-28 08:47] #16102 closed

[2021-09-28 08:52] famod commented on #20360
Thanks for checking.

[2021-09-28 08:53] #20360 closed

[2021-09-28 08:56] Sanne commented on #20331
Ok @stuartwdouglas , I'll close it then; I still want us to strongly encourage extension developers to use conditionals though - and ideally end users should be able to live without using the `@RegisterForReflection` altogether so yes I agree that this is of low value, and possibly not very practical.

[2021-09-28 09:16] geoand commented on #20415
After looking into this, this turns out to be an issue with the generated Jandex index for one of the modules of the multi-module project.

Essentially for the build step to work (whether the build is initiated from Maven or the IDE), the Jandex index of the dependent Maven module needs to be present in `target/META-INF/jandex.idx` of that module.
So when launching tests for the top-level module,

[2021-09-28 09:20] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1281164227

[2021-09-28 09:33] #20235 closed

[2021-09-28 09:37] geoand commented on #20415
For posterity, it should also be mentioned that using the `META-INF/beans.xml` file (as mentioned [here](https://quarkus.io/guides/cdi-reference#bean_discovery)) instead of the Jandex Maven plugin approach, will eliminate all the timing related issues.

[2021-09-28 09:57] geoand commented on #20144
It seems that in order to solve this would would have to push the `AuthorizationController` into the implementations of `SecurityCheck` as well, because with RESTEasy Reactive the interceptors that use it don't get called in the eager security flow.

WDYT @stuartwdouglas ?

[2021-09-28 10:41] famod commented on #20380
@ed-devops-d2 what does your jacoco config look like (both quarkus and maven)?

[2021-09-28 10:46] lostiniceland commented on #20169
For whatever reason, I am currently not able to reproduce the issue with the hibernate-orm-quickstart sample. Though I can on my project. I will see if I can push the sample to failure, but I cannot spent to much time on this.

[2021-09-28 11:27] proteus1121 commented on #14138
@waerly I faced the same issue in the docker run, did you solve it?

[2021-09-28 11:30] funcbro commented on #20414
Same here. Problem also occurs in 2.2.3.Final and 2.3.0.CR1

In my case, the error only pops up when using maven-wrapper (https://repo.maven.apache.org/maven2/io/takari/maven-wrapper/0.5.6/maven-wrapper-0.5.6.jar), even though my local Maven installation and the one configured via the wrapper are identical (by directory comparison).

[2021-09-28 11:49] cescoffier commented on #20423
That would be weird as all andAwait methods are generated the same way. I fear the exception is not reported the right way (which would be a bug in vertx). I will investigate.

[2021-09-28 11:56] #20380 closed

[2021-09-28 11:58] geoand commented on #20414
We require Maven 3.8.1+.

[2021-09-28 12:01] andrewlunin commented on #20144
Confirm - 2.3.0.CR1 is not working for me as well.

[2021-09-28 12:49] metacosm opened #20427 "`JandexUtil` should report the class name when failing to fetch a class from the index"
### Description

See title.

### Implementation ideas

_No response_

[2021-09-28 12:52] radcortez commented on #20190
Usually, you get that exception when there is a mismatch on the classloaders. I'm not sure what failsafe is doing differently from one version to another. @stuartwdouglas any idea?

[2021-09-28 12:58] #20088 closed

[2021-09-28 13:06] funcbro commented on #20414
Tested with:
- Maven 3.8.1, 3.8.2
- Maven-Wrapper 0.5.6
- GraalVM CE 20.1.0 (build 11.0.7+10-jvmci-20.1-b02)
- Quarkus 2.2.3.Final, 2.3.0.CR1

Problem occurs when using Maven-Wrapper, wrapping either Maven 3.8.1 or 3.8.2.

[2021-09-28 13:11] geoand commented on #20414
Can you upload an example application that fails?

[2021-09-28 14:24] ebullient commented on #10525
Just an update for those following along / finding this later. The micrometer extension is officially in core, and there is a graphite extension in quarkiverse:
[code]

[2021-09-28 14:43] evanchooly commented on #19420
Apologies for the delay.  i was caught up in other things. taking a look now.

[2021-09-28 15:03] deodorel commented on #6067
Just bumped into this issue, i am on 2.1.4.Final and still have the problem ....

[2021-09-28 15:11] aloubyansky commented on #6067
@deodorel thanks for letting us know. Please open a new issue and provide as many details about the environment and configuration which is affected by the issues.

[2021-09-28 15:28] deodorel commented on #6067
Ok thanks for your answer. I will prepare that.

[2021-09-28 15:58] Reina-39 commented on #20351
Looks like similar issue, https://github.com/quarkusio/quarkus/issues/5109

[2021-09-28 16:49] hjaekel commented on #19879
Hi @jmartisk, @phillip-kruger, could you already look at this issue? Can I somehow support your investigation for this issue?

I tried my example with the current Quarkus 2.2.3.Final. The result is the same (the extended type for the first result element cannot be loaded). What changed is that the `DataFetchingException` is not logged on the server side.

[2021-09-28 17:51] #19446 closed

[2021-09-28 17:58] phillip-kruger commented on #19879
Looking at it now.

[2021-09-28 18:07] #20427 closed

[2021-09-28 18:18] phillip-kruger commented on #19879
This is tied to https://github.com/smallrye/smallrye-graphql/issues/918 and on my TODO list to fix a.s.a.p.

[2021-09-28 18:19] #20363 closed

[2021-09-28 18:38] XakepSDK opened #20432 "Default Produces or Consumes annotations crash quarkus"
### Describe the bug

If i annotate class with empty `Produces` or `Consumes`, quarkus fails to start

### Expected behavior

Quarkus starts

### Actual behavior

Quarkus fails

### How to Reproduce?

1. Create Resource
2. Annotate class with `@Produces` and/or `@Consumes` without changing it's value
3. Create one or more endpoints without `Produces` or `Consumes` annotations, with `Path` annotati

[2021-09-28 18:48] magnusvage opened #20433 "Logging attribute %R / %{RELATIVE_PATH} does not work"
### Describe the bug

The logging attribute as described in the Quarkus documentation, https://quarkus.io/guides/http-reference#configuring-http-access-logs , does not work.

### Expected behavior

I expect the parameter to work as documented

### Actual behavior

When starting the application, errors are logged and attributes are not logged properly:

[code]

### How to Reproduce?

Create a Quark

[2021-09-28 18:57] magnusvage commented on #20433
Looking at https://github.com/quarkusio/quarkus/blob/80788076f0b3f02263946b6e61601bc5307904a3/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/attribute/RequestPathAttribute.java#L7

This appears to be a documentation issue. %{REQUEST_PATH} works just fine.

[2021-09-28 18:58] albert0815 commented on #18802
Yes true, but the extension is provided by Quarkus, so my question is whether you would integrate that in e.g. quarkus-keycloak-authorization.

[2021-09-28 19:21] GregJohnStewart commented on #15013
Bump to this issue, really odd to me.

[2021-09-28 19:42] GavinRay97 opened #20434 "GraphQL Panache (similar to REST Data Panache)"
### Description

Many languages/frameworks have tools which can introspect your DB or data models and autogenerate a GraphQL schema and resolvers from them.

IE, given tables like `product`, `order`, `product_image`, you would be able to make queries (or insert/delete data) like below:

[code]

Writing these CRUD resolvers is tedious and generally just boilerplate -- it's an identical implementati

[2021-09-28 21:01] #20274 closed

[2021-09-28 21:49] aloubyansky commented on #6067
Thanks @deodorel Also, please, mention me in the issue you will create.

[2021-09-28 21:57] cemnura commented on #20144
@geoand is there anything I can look into?

[2021-09-28 22:33] steele232 opened #20544 "Akka / Actor Model Support -- Maybe an Akka Extension"
**Akka / Actor Model Support -- Maybe an Akka Extension**

Hi, I would like a way to use Akka Actors with Quarkus because the Reactive features currently present are nice but I really need an actor model solution and it is missing from Quarkus.

I saw from other Github issues that Quarkus has an extension / support for Scala but it seems like you have to have a special setup for that. I tried doin

[2021-09-29 03:23] geoand commented on #20144
Not at the moment. I'll let you know :)

[2021-09-29 04:53] geoand commented on #20432
Thanks for reporting, but we'll need more information.

What extensions are you using? Does this problem still occur with `2.2.3.Final` or `2.3.0.CR1`?

[2021-09-29 05:26] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1285435273

[2021-09-29 05:47] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1285436731

[2021-09-29 06:24] mkouba commented on #20359
We could also introduce a new scope? Bound to a `io.vertx.core.Context`? I'm not sure if it makes sense though...

[2021-09-29 06:54] mkouba commented on #20410
This works as required by the spec: _"A **parameterized bean type** is considered assignable to a **raw required type** if the raw types are identical and all type parameters of the bean type are either unbounded type variables or java.lang.Object"_; see also https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#assignable_parameters.

[2021-09-29 06:58] mkouba commented on #20410
I'm going to close this issue but feel free to reopen if you need more info.

[2021-09-29 06:58] #20410 closed

[2021-09-29 07:03] yrodiere commented on #20410
Well, that's a surprising way to define "assignable". But I guess there's no way around it. Thanks for the answer!

[2021-09-29 07:11] hjaekel commented on #19879
That sounds great, thank you Philip.

[2021-09-29 07:25] essobedo opened #20441 "Discard providers without annotation when there are only excluded classes"
### Describe the bug

In the resteasy-reactive extension, if we exclude providers using build time conditions, it doesn't check anymore if the class has been annotated with `@Provider` so Arc tries instantiate them all, even those that should be instantiated by a `DynamicFeature` which leads to errors of type `javax.enterprise.inject.UnsatisfiedResolutionException`.

### Expected behavior

When pr

[2021-09-29 07:35] #12800 closed

[2021-09-29 07:46] #18333 closed

[2021-09-29 07:46] #19990 closed

[2021-09-29 07:46] #20243 closed

[2021-09-29 07:46] #20257 closed

[2021-09-29 07:52] mkouba commented on #20410
TBH I don't remember the reasoning behind this particular requirement but it was in the spec since v1.0. A similar discussion was held about the required raw type - see https://issues.redhat.com/browse/CDI-517, and the output was that a similar usage of raw types is discouraged by the JLS, i.e. is not something we'd like to promote for a type-safe dependency injection.

[2021-09-29 07:57] deodorel opened #20444 "Dependencies error when building tests only on gitlab ci pipeline (non native)"
### Describe the bug

@aloubyansky

When the gitlab ci pipeline runs the tests i am getting dependency resolutions errors.
[code]
I can see the artifacts being deployed in the log previously, in the local repo:

[code]
The gitlab command is:
[code]
my pom.xml:
[code]
then
[code]

My maven settings contain references to private repos. Nothing special there. The dependencies are deployed on the loca

[2021-09-29 07:58] RajaManeshKumar commented on #14117
Thank you very much i resolve my issue.

[2021-09-29 07:58] deodorel commented on #6067
20444 created. Thanks!

[2021-09-29 08:04] aloubyansky commented on #20444
Thanks, I updated your description to have a better formatting.

[2021-09-29 08:09] deodorel commented on #20444
Thanks, i wasn't sure about which formatting tag to use ...

[2021-09-29 08:09] aloubyansky commented on #20444
Looking at
[code]
Shouldn't the `MVN_CLI_OPTS` be initialized before the `mvn` command is executed?

[2021-09-29 08:10] deodorel commented on #20444
Yes it is, i just copied wrongly. The variables are in fact initialized in the top area of the gitlab-ci file.

[2021-09-29 08:10] aloubyansky commented on #20444
Does it work for you building and running the tests locally?

[2021-09-29 08:11] deodorel commented on #20444
Yes, everything passes on local, with exactly the same command lines.

[2021-09-29 08:15] deodorel commented on #20444
Maybe what is special about this issue is that the dependencies in question are deployed by the build process itself in the local m2 folder, idk.

[2021-09-29 08:16] aloubyansky commented on #20444
Just clarifying, is this `somelocation/myservice/.m2/repositor` the expected local Maven repo location? It doesn't match `-Dmaven.repo.local=.m2/repository` on the command line.

Could you please try adding
[code]
to the surefire plugin config?

[2021-09-29 08:17] aloubyansky commented on #20444
I am not sure what makes it special. It's `mvn install`, right?

[2021-09-29 08:17] deodorel commented on #20444
ok trying right now.

[2021-09-29 08:18] deodorel commented on #20444
Yes, i just did some search and replace to hide company names, packages, but it's the same folder.

[2021-09-29 08:20] vicentini commented on #20089
@pedroigor I had a look at Keycloak debug output and it's like you @sberyozkin stated in the last post. Keycloak doesn't accept the token due to a different issuer.

To sum the situation up a little:
Keycloak and a backend service are deployed in the same cluster. The service has to reach Keycloak via its internal url and is therefore started with `quarkus.oidc.auth-server-url` = backend-url, and

[2021-09-29 08:21] vicentini commented on #20089
[code]

[2021-09-29 08:23] deodorel commented on #20444
ok ran the build with that option, same error

[2021-09-29 08:26] aloubyansky commented on #20444
Thanks for the info so far. Just in case, would you be able to test a custom Quarkus branch to debug the issue?

[2021-09-29 08:38] rasmushaglund commented on #19379
How can I help with this? JKube seems to work with Istio.

How would we go about solving option 2? I'm not sure why GenericKubernetesResourceBuilder is not generated in this case. I think most of us would be happy with just being able to include a yaml file that is included, with no annotations and properties support.

[2021-09-29 08:39] deodorel commented on #20444
Sure.

[2021-09-29 08:41] geoand commented on #19379
cc @metacosm

[2021-09-29 09:11] mkouba commented on #20421
Hi @jayv, this is expected. In the JVM a fallback reflection value resolver is used, i.e. enum constants are read as regular fields. Of course, this does not work for native. There are several ways how to solve the problem for the native image:

1. Make use of [type-safe templates](https://quarkus.io/guides/qute-reference#typesafe_templates) or [type-safe expressions](https://quarkus.io/guides/qut

[2021-09-29 09:26] ferencbeutel4711 opened #20445 "Property Merging in Profile specific configuration ymls does not always work"
### Describe the bug

Hello there,

we have custom properties in our application.yml file which are environment specific. Therefore we were excited to split that huge configuration into smaller files as supported by quarkus.
However, while doing that, we found out that properties defined in the profile specific files are not used if they are not defined in the non-profile specific configuration. F

[2021-09-29 09:26] sberyozkin commented on #20089
@vicentini Thanks for this investigation - can you please open a Keycloak issue and CC there to Pedro @pedroigor ? And link to it here for us to be aware of it. thanks

[2021-09-29 09:33] aloubyansky commented on #20444
@deodorel would you mind building this branch https://github.com/aloubyansky/quarkus/tree/2.1.4-debug
To make it install faster you can simply run `mvn -Dquickly` (it will clean install skipping tests and other checks).
This will install Quarkus `2.1.5.CR1`, which you could update your app to and run your tests.
Please look for the INFO messages from `BootstrapMavenContext` in the log. It should l

[2021-09-29 09:59] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1285445135

[2021-09-29 10:01] TheParad0X opened #20447 "PanacheQuery.find() with Parameters: IllegalArgumentException when the column is called "object""
### Describe the bug

Consider this Postges Table:

[code]

This Query works:

        `PanacheQuery<Offer> all = Offer.find("offer_number = :value", Parameters.with("value", "test"));`

But this one does not:

        `PanacheQuery<Offer> all = Offer.find("object = :value", Parameters.with("value", "test"));`

### Expected behavior

No error

### Actual behavior

This error appears:

`Caused by:

[2021-09-29 10:36] #20433 closed

[2021-09-29 10:43] sberyozkin commented on #20337
Let me close it then :-)

[2021-09-29 10:43] #20337 closed

[2021-09-29 10:46] geoand commented on #20445
cc @radcortez

[2021-09-29 10:49] geoand commented on #20312
Has this been implemented via https://github.com/quarkiverse/quarkus-kerberos?

[2021-09-29 10:50] geoand commented on #20266
Any update on this?

Thanks

[2021-09-29 10:52] #20196 closed

[2021-09-29 11:12] deodorel commented on #20444
Ok i will try

[2021-09-29 11:38] rasmushaglund commented on #19379
If I get some pointers I can try to make a pull request, or should this be fixed in fabric8?

[2021-09-29 11:58] geoand commented on #20220
I can confirm it's a false error, but in any case https://github.com/quarkusio/quarkus/pull/20449 will take care of it

[2021-09-29 12:06] ferencbeutel4711 commented on #19420
issue is still present in 2.2.3 fyi

[2021-09-29 12:06] geoand commented on #20039
Closing as the fix was delivered in Kubernetes Client `5.8.0` which is now included in Quarkus

[2021-09-29 12:06] #20039 closed

[2021-09-29 12:07] geoand commented on #20038
cc @metacosm

[2021-09-29 12:10] geoand commented on #19798
cc @maciejwalkowiak

[2021-09-29 12:24] vicentini commented on #20089
Thanks @sberyozkin I created a [Keycloak issue](https://issues.redhat.com/browse/KEYCLOAK-19423) but couldn't find @pedroigor to cc.

[2021-09-29 12:31] twwwt opened #20452 "Gradle plugin resp. `quarkusBuild` task does not honor toolchain definitions"
### Describe the bug

Given a Gradle project that specifies a [`toolchain`](https://docs.gradle.org/current/userguide/toolchains.html), the `quarkusBuild` task fails if the Java version used to *run* Gradle differs from the version used to *compile* sources. In particular this bug has been observed when
[code]
was specified in a `build.gradle` file (i.e., use Java 17 to compile (and test) sources)

[2021-09-29 13:08] #20441 closed

[2021-09-29 13:09] #20220 closed

[2021-09-29 13:10] elamotte7 commented on #19420
Hi folks,

i've also done a bug reproducer on this annoying issue :
https://github.com/elamotte7/quarkus-kotlin-hibernate

I've tried to test it also with the quarkus 2.3.0.CR1, but it's the same result.

I hope a solution will be find soon, this is a huge problem for our current project as we cannot manage String Id in hibernate Entities. 🤞

PS : in my case I use the Panache Repository Pattern

[2021-09-29 13:41] geoand commented on #19868
With https://github.com/kiegroup/kogito-runtimes/pull/1546 in, what else needs to be done to address this?

[2021-09-29 14:04] radcortez commented on #20445
Hi @ferencbeutel4711, can you please provide me a code reproducer?

I did try your example with a project of mine and it works as expected: https://github.com/radcortez/microprofile-samples/commit/526be7d862433e7f047d124d8a168a291b5f3925

[2021-09-29 14:10] #19362 closed

[2021-09-29 14:29] mswiderski commented on #20092
one comment about websocket is that the websocket session has  way of storing some context data `session.getUserProperties()` that way it can be possible to associate the security context info there. I believe when token expires that should somehow trigger reconnect and by that `onClose` and then `onOpen` if websocket session which would lead again to setting the security context data.

[2021-09-29 14:34] phillip-kruger commented on #20434
Hi @GavinRay97 - thanks for this issue. We have been talking about this in the past, but nothing concrete to show yet.... Let keep this issue open until we have something

[2021-09-29 14:39] mswiderski commented on #20092
In addition, I'd like to also bring up option to be able to filter events push to the subscription based on the security context as described here https://github.com/smallrye/smallrye-graphql/discussions/1072

[2021-09-29 14:52] #20419 closed

[2021-09-29 15:04] mweber03 commented on #20419
Is there anyway this can make it into 2.3 or a 2.3.1?

[2021-09-29 15:08] flucciarini opened #20456 "RESTEASY003340: Failure parsing MediaType string"
### Describe the bug

I'm using quarkus rest client (quarkus platform1.13.3Final).
If I call a rest api that haven't Content/type I have the error in description

Below Rest-client declaration and error log

[code]

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Linux TO554-GW-1 4.15.0-143-g

[2021-09-29 15:46] ChristianNavolskyi opened #20457 "Kotlin Data Classes in MultipartFrom Requests with Reasteasy Reactive not working"
### Describe the bug

When performing a  MultipartForm request on a REST client with a Kotlin data class wrapping the form fields it fails to generate the REST client with the error below.

[code]

The REST client is defined as

[code]

And the data class as

[code]

### Expected behavior

Since all fields in a data class are public by default, I would expect it to perform the request as when prov

[2021-09-29 16:46] gmagnu opened #20458 "Exceptions ignored when writing repsonse with VertxBlockingOutput.java"
### Describe the bug

I am using StreamingOutput to send large response body to the client.  If the client closes the connection while the server is writing the server will not get any exception and the  data written by the server will vanish into the aether.

- This happens in all versions after Quarkus 2.0.0.
- This does not happen for HTTP/2.
- This hapens when using the blocking call.

I belie

[2021-09-29 17:12] cherlo commented on #9360
Having same issue.  I tried setting the Produces content type to application/json which matches the content-type of the response. The response is definitely returning as I can see it in the wire log.   When attempting to read the entity from the WAE, this is the error: RESTEASY002340: Client receive processing failure.: javax.ws.rs.ProcessingException: java.lang.IllegalStateException: RESTEASY0032

[2021-09-29 18:05] ppalaga opened #20461 "tcnative.version undefined in quarkus-bom"
### Describe the bug

The root cause is that `tcnative.version` is undefined in `netty-bom` (see https://github.com/netty/netty/issues/11691 ).
The flattened `quarkus-bom` just blindly takes  the issue over from there.

As a result of this, we are getting build errors like the following in Camel Quarkus:

[code]

I wonder whether it would help to temporarily add `<tcnative.version>2.0.43.Final</tc

[2021-09-29 18:14] ethan-gallant commented on #20092
Looking into the Apollo Spec, ConnectionParams is what should be used for WebSockets and GraphQL authentication.

ConnectionParams is an event that is sent over the Websocket from the consumer, it contains user-defined data to add metadata to the subscription such as credentials. Because this is done within the request there is no risk of leaking authentication credentials (bearers) in the query p

[2021-09-29 18:14] #20199 closed

[2021-09-29 18:23] ppalaga commented on #20461
I tried that and no it does not help. `flatten-platform-bom` mojo ignores it.

@aloubyansky I wonder whether there is a better option than an ad hoc fix in `FlattenPlatformBomMojo`?

[2021-09-29 18:33] ppalaga commented on #20461
`FlattenPlatformBomMojo` should perhaps check that there are no unresolved props leaking into the flattened BOM.

[2021-09-29 19:14] aloubyansky commented on #20461
@ppalaga could you override it in Camel? The platform build will pick it up from your BOM.

[2021-09-29 19:22] ppalaga commented on #20461
Yes, we do that. But it is still causing problems when quarkus-bom is imported before camel-quarkus-bom in our tests.
We want to have both, so that our QE can test against the platform BOM by overriding the BOM GAVs on the CLI see here: https://github.com/apache/camel-quarkus/pull/3134/files#diff-0e4c80d88a91a573b5842760520c42f78432a36c36c2afe88e15fc9dfe0eb531R33-R48
Putting camel-quarkus-bom befo

[2021-09-29 19:33] aloubyansky commented on #20461
Would temporarily putting the tcnative constraints before both BOM imports be ok until we and/or netty fix it properly though?

[2021-09-29 19:42] glefloch commented on #20452
@twwwt I'm not able to reproduce the issue. I tried with both gradle 6.9 and 7.2. Do you have a reproducer?

[2021-09-29 20:05] glefloch commented on #13982
@melissasgarden I'm closing the issue. Feel free to re-open it if you have some news.

[2021-09-29 20:05] #13982 closed

[2021-09-29 20:06] glefloch commented on #19022
@aloubyansky, can we consider to close this one as feedback looks good?

[2021-09-29 20:06] ppalaga commented on #20461
Let's see whether whether all our tests are going to pass with camel-quarkus-bom before quarkus-bom. If so, the reordering of the BOMs would be an acceptable workaround.

[2021-09-29 20:08] glefloch commented on #19086
Sorry for the delay, could you paste a full stacktrace? (using `-S` on your gradle command)

[2021-09-29 20:24] aloubyansky commented on #19022
Great! Thanks for the feedback everyone! And @glefloch for fixing it!
We'll keep looking into improving build performance in the upcoming releases.

[2021-09-29 20:24] #19022 closed

[2021-09-29 21:10] chrigiansen commented on #18065
I Tested:
21.2.0-java16 with quarkus 2.2.3 and 2.0.0 both work on my project.
21.1.0-java16 with quarkus 2.2.3 and 2.0.0 both do not work on my project.

so as @jaikiran suggested updating to graal 21.2-java16 does the trick for me.

maybe @tarasmurzenkovv can test it aswell.

[2021-09-30 02:35] stuartwdouglas commented on #20190
So setting: `<useModulePath>false</useModulePath>` will fix this.

It seems failsafe is generating a manifest with a module name, and it is breaking everything. We used to have a workaround for module issues where we would return null in the ClassLoader getParent(), we may need to bring this back as modular environments are very problematic in terms of controlling service loader delegation.

[2021-09-30 04:50] geoand commented on #20458
cc @cescoffier

[2021-09-30 05:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1289677254

[2021-09-30 05:30] #20166 closed

[2021-09-30 05:31] #19991 closed

[2021-09-30 05:49] QuarkusQE commented on #19500
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1289687639

[2021-09-30 06:02] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1289678753

[2021-09-30 06:07] geoand commented on #19452
Is this still a problem?

[2021-09-30 06:08] geoand commented on #19450
I think the docs already have this at https://quarkus.io/guides/config-reference#property-expressions, but feel free to improve them

[2021-09-30 06:08] #19450 closed

[2021-09-30 06:10] geoand commented on #19375
Is this still an issue?

[2021-09-30 06:19] geoand commented on #19042
@michalszynkiewicz this has since been fixed, right?

[2021-09-30 06:24] geoand commented on #18779
cc @FroMage

[2021-09-30 06:26] geoand commented on #18726
@lucafuji can you attach an example project?

[2021-09-30 06:27] geoand commented on #18722
I assume this has been fixed now, right?

[2021-09-30 06:37] geoand commented on #18572
I think this is a nice enhancement.

[2021-09-30 06:44] #20334 closed

[2021-09-30 06:50] geoand commented on #18572
I'll do this after https://github.com/quarkusio/quarkus/pull/20468 is in

[2021-09-30 06:52] geoand commented on #18501
Closing as we have not heard back.

If this is still an issue, feel free to comment or reopen

[2021-09-30 06:52] #18501 closed

[2021-09-30 06:53] geoand commented on #18500
Is this still a problem with Quarkus `2.2.3.Final` or `2.3.0.Final`?

[2021-09-30 06:53] geoand commented on #18447
Is this still an issue? FWIW, I have never seen it

[2021-09-30 06:58] geoand commented on #18338
`ConfigMapping` can only supports interfaces in the latest SmallRye Config releases, so I will close this.

[2021-09-30 06:58] #18338 closed

[2021-09-30 06:59] geoand commented on #18293
Is this still an issue with the latest Quarkus versions?

[2021-09-30 07:00] #18153 closed

[2021-09-30 07:13] artempl commented on #19375
Dockerfile on site has been updated but it also fails. Here is workaround that works for
![Screenshot from 2021-09-30 10-11-36](https://user-images.githubusercontent.com/4968093/135404922-01cf5aed-ce6c-4135-b009-cd8dae8c6e89.png)
me

[2021-09-30 07:15] zakkak commented on #18722
No, this is not fixed, using Quarkus 1.11 without specifying the mandrel image as the builder image will result in the error message mentioned in the description of this issue.

This is only worth fixing (by making Quarkus use the mandrel image by default) if we are planning to do a Q 1.11.x release in the future, otherwise I think we should mark it as "won't fix" and close it.

[2021-09-30 07:22] geoand commented on #18722
Let's close it for now, we can always reopen if need be

[2021-09-30 07:22] #18722 closed

[2021-09-30 07:32] jmartisk commented on #18988
Uh, sorry for missing this. I'll have a look what can be done to fix it.

[2021-09-30 07:33] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1289687307

[2021-09-30 07:36] cescoffier commented on #20458
The ‘write’ method is async. So you need to attach callbacks to returned Future to know when the write completed successfully or failed.

You may want to use .toCompletionStage().toCompletableFuture().join(), it will throws the exception BUT it will block.

[2021-09-30 07:48] stuartwdouglas commented on #20344
The linked vert.x issue has been resolved.

[2021-09-30 08:16] tehnodev opened #20469 "Qute fails to resolve class public property when native compiled"
### Describe the bug

TemplateException for class public property. It happens only when app is native compiled, from jar works as expected

### Expected behavior

<p>test</p>

### Actual behavior

io.quarkus.qute.TemplateException: Property "name" not found on the base object "org.acme.Car" in expression {car.name} in template ...

### How to Reproduce?

Class
[code]

Template in file car.html
`<p

[2021-09-30 09:12] mkouba commented on #20469
Hi @tehnodev, this is expected. In the JVM a fallback reflection value resolver is used, but of course, this does not work for native. There are several ways how to solve the problem:

 - Make use of [type-safe templates](https://quarkus.io/guides/qute-reference#typesafe_templates) or [type-safe expressions](https://quarkus.io/guides/qute-reference#typesafe_expressions) (preferred); this way a spe

[2021-09-30 09:26] aaron-axisa opened #20471 "Reactive H2 driver for Quarkus"
### Description

When using a reactive implementation for databases, during tests it is sometimes desired to swap to an h2 database to avoid needing to have a fully fledged database available.

Currently there seems to be no driver integration for reactive h2 available which makes this solution impossible.

R2DBC h2 integrations seem to already exist to some extent https://github.com/r2dbc/r2dbc-h

[2021-09-30 09:38] geoand commented on #20456
Does the same thing happen with newer versions of Quarkus?

[2021-09-30 09:49] #20457 closed

[2021-09-30 09:50] geoand commented on #20471
cc @tsegismont

[2021-09-30 09:51] geoand commented on #17759
This is actually a duplicate of https://github.com/quarkusio/quarkus/issues/19896 which was fixed in `2.3.0.CR1`

[2021-09-30 09:51] #17759 closed

[2021-09-30 10:21] gcollin opened #20475 "NoSuchFileException when uploading file after a while"
### Describe the bug

Dear Quarkus community,

When using Multipart File Upload feature of RestEasy Reactive, it uses by default ${java.io.tmpdir}/uploads to temporary store the uploaded files.

It seems in my system at least there are some cleaning tasks and from time to time this subdirectory named "uploads" gets deleted.
In that scenario, files cannot be uploaded anymore, with the following exc

[2021-09-30 11:12] tehnodev commented on #20469
Thank you. It worked!

[2021-09-30 11:12] #20469 closed

[2021-09-30 11:18] kjq commented on #19452
Georgios.

We have not had a chance to try it again yet but I will try this weekend
and see.

Thanks.

KJQ

On Thu, Sep 30, 2021 at 2:07 AM Georgios Andrianakis <
***@***.***> wrote:

[2021-09-30 11:25] #20329 closed

[2021-09-30 11:37] loicmathieu commented on #20447
`object` id an SQL reserved keyword. I think you need to escape the column name.

[2021-09-30 11:52] geoand commented on #19452
Great, thanks

[2021-09-30 11:57] sberyozkin commented on #20089
@vicentini Thanks, that is fine, Pedro is CC-ed from this issue so he is aware :-)

[2021-09-30 12:03] deodorel commented on #20444
hello. I tried using your branch, the problem is that on the gitlab ci pipeline where the issue manifests, i can't/am not allowed to deploy on our artifactory repos the debug branch you just created for me ... Because it's not helpful to just build it locally and deploy it on my local repo.
Could you deploy this on some public artifactory like you would do with a normal quarkus build/release?

[2021-09-30 12:06] aloubyansky commented on #20444
Would building it as part of the CI pipeline be an option?

[2021-09-30 12:07] #20421 closed

[2021-09-30 12:15] geoand commented on #17602
Is this still a problem with the latest Quarkus versions?

[2021-09-30 12:20] deodorel commented on #20444
good idea. I will give it a try. I can basically run any command on it, even install stuff.

[2021-09-30 12:20] geoand commented on #17084
Closing this as out of date. If this is still a problem, feel free to reopen or comment

[2021-09-30 12:20] #17084 closed

[2021-09-30 12:27] geoand commented on #16949
Can you retry this with `2.3.0.Final`? If it continues to not work, can you attach a reproducer project please?

[2021-09-30 12:29] geoand commented on #16914
Is this still a problem?

If it is, is it also a problem if you use RESTEasy Reactive?

[2021-09-30 12:34] geoand commented on #16799
Is this still a problem with the latest versions of Quarkus?

[2021-09-30 12:37] geoand commented on #16778
Closing this as we have various of [tests](https://github.com/quarkusio/quarkus/blob/2.3.0.Final/extensions/resteasy-reactive/quarkus-resteasy-reactive-jackson/deployment/src/test/java/io/quarkus/resteasy/reactive/jackson/deployment/test/MultipartTest.java) that do something similar and work just fine in our CI

[2021-09-30 12:37] #16778 closed

[2021-09-30 12:38] geoand commented on #16771
I just saw this and as someone who looks at a lot bug report, this would be immensely valuable!

[2021-09-30 12:39] geoand commented on #16732
Can you add a reproducer for this please?

[2021-09-30 13:03] ebullient commented on #18988
I know this isn't the solution to the problem (and that we have to understand what is happening with small-rye metrics in any case), but I am interested to know if this error still occurs if you were to flip to the micrometer extension (e.g. if you replace `io.quarkus:quarkus-smallrye-metrics` with `io.quarkus:quarkus-micrometer-registry-prometheus`).

The micrometer extension provides an MP Metri

[2021-09-30 13:44] jaikiran commented on #20475
I've opened https://github.com/quarkusio/quarkus/pull/20479 with a potential fix.

[2021-09-30 13:48] geoand commented on #15928
This was actually delivered in https://github.com/quarkusio/quarkus/pull/17644

[2021-09-30 13:48] #15928 closed

[2021-09-30 13:52] geoand commented on #15722
Looks fine now, so I'll close this

[2021-09-30 13:52] #15722 closed

[2021-09-30 13:56] geoand commented on #15415
@iocanel one of your latest fixes should take care of this, right?

[2021-09-30 14:06] aloubyansky commented on #20444
with `mvn -Dquickly`?

[2021-09-30 14:09] iocanel commented on #15415
Not intentionally no!

[2021-09-30 14:12] geoand commented on #14684
I assume this should now be closed as well?

[2021-09-30 14:15] geoand commented on #14235
If we do this, then this would inevitably lead to supporting multiple RxJava versions and then Project Reactor.
I'm -1 on spreading our efforts out like that.

[2021-09-30 14:16] geoand commented on #15415
Okay then, let's leave it open

[2021-09-30 14:19] geoand commented on #13755
This would need a dedicated extension in order to work in native

[2021-09-30 14:19] #13755 closed

[2021-09-30 14:33] deodorel commented on #20444
Yeah. How about if i compile and deploy on the pipeline just the maven plugin and use that version? Would that work.

[2021-09-30 14:36] aloubyansky commented on #20444
That will have to be the plugin plus its dependencies.

[2021-09-30 15:40] #20143 closed

[2021-09-30 15:48] Shpota opened #20483 "@ConfigMapping doesn't work in Kotlin projects"
While migrating from using `@ConfigProperties` to `@ConfigMapping` I found out that `ConfigMapping`s are not working in Kotlin. I tried to reproduce the issue on a fresh Quarkus 2.2.3 project and it seems like [the simples configuration](https://quarkus.io/guides/config-mappings#config-mappings) from the get started guide would not work in Kotlin.

### Actual behavior

[code]

### How to Reproduce

[2021-09-30 16:14] cescoffier commented on #14235
I would rather not adding support for rxjava 3. It would provide a very different API and experience without any good integration with the rest of the Quarkus APIs. The integration can be achieved with the built-in converters of Mutiny (rxjava 3 converters were implemented last August).

[2021-09-30 16:43] #12333 closed

[2021-09-30 17:04] twwwt commented on #20452
@glefloch I'm sorry this issue was observed in a large build and right now I don't have the time to set up a minimal project that demonstrates it.

I'm not sure but the issue might in fact be related to the [Quarkus CXF extension](https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/index.html), version 0.9. As can be seen from the stack trace, the exception seems to be caused by `io.qua

[2021-09-30 17:13] glefloch commented on #20452
I will try to reproduce the issue with that extension. Thanks for your answer

[2021-09-30 17:48] famod commented on #20471
FWIW, Quarkus is still on h2 1.4.197 but r2dbc-h2 seems to be on h2 1.4.200.
See also: #9354

[2021-09-30 21:45] Naros commented on #20190
@stuartwdouglas @radcortez So after some investigating to our issues migrating to Quarkus 2.1+ from 2.0 it seems for us the issue is with `ConfigProvider#getConfig()`.  When we get the `Config` object from this method, the priority of resolving a given configuration property has seemly changed in precedence somehow.

In our project we have one artifact called `debezium-server` that has its own tes

[2021-10-01 01:59] jaikiran commented on #20397
@vsevel, it looks like for the `BigInteger` case you will have to add `[B` (byte array) as an additional class that should be marked for serialization, as noted in that linked Graal issue. Can you give that a try and see if it works?

For the Calendar thing, I'm not sure if it requires this one or some other class. In any case, this needs to be simplified (at least in Quarkus) instead of developer

[2021-10-01 04:25] murphye opened #20490 "Vert.x QuarkusJacksonJsonCodec cannot serialize JSON from records in Native due to Jackson error"
### Describe the bug

When using Vert.x Web in native mode, `QuarkusJacksonJsonCodec` fails to serialize `record` objects to JSON. This seems to work OK when running in regular JRE.

The error itself stems from Jackson `JDK14Util`. Here is where the error stems from in Jackson https://github.com/FasterXML/jackson-databind/blob/2.13/src/main/java/com/fasterxml/jackson/databind/jdk14/JDK14Util.java#

[2021-10-01 04:34] murphye commented on #20490
Here is where the error stems from in Jackson https://github.com/FasterXML/jackson-databind/blob/2.13/src/main/java/com/fasterxml/jackson/databind/jdk14/JDK14Util.java#L123

[2021-10-01 04:46] murphye commented on #20490
For tracking down the source of the error, it would have been better to throw the exception from Jackson. Only the message is captured:
https://github.com/quarkusio/quarkus/blob/main/extensions/vertx/runtime/src/main/java/io/quarkus/vertx/runtime/jackson/QuarkusJacksonJsonCodec.java#L147

[2021-10-01 04:54] geoand opened #20491 "OptaPlanner AWT DataFlavor build time init error"
Optaplanner native integration tests are failing to build native binary due to https://github.com/quarkusio/quarkus/pull/20239

One of the issues is:

[code]

The AWT extension pushes any `java.awt` classes to be run time initialized. In this case, some static initalization in `org.drools.compiler.kproject.models.KieModuleMarshaller`, which currently happens at build time, leads, through xstream d

[2021-10-01 04:58] #20475 closed

[2021-10-01 04:58] murphye commented on #20490
Note: I removed the use of `Optional` in `Pet.java` and that did not have an effect. Was worth a try.

[2021-10-01 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1293777711

[2021-10-01 05:38] QuarkusQE commented on #19500
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1293788422

[2021-10-01 05:47] tares42 opened #20492 "Class PostgreSQL10Dialect not found on Quarkus in Google App Engine java11?"
### Describe the bug

I wanted to deploy my quarkus application including hibernate panache to GCP app engine standard and got the error: Class PostgreSQL10Dialect not found on Quarkus

### Expected behavior

Successful startup of quarkus on GCP app engine standard

### Actual behavior

I've set up my quarkus application regarding to https://quarkus.io/guides/deploying-to-google-cloud
Created a Cl

[2021-10-01 05:51] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1293779284

[2021-10-01 06:16] tares42 commented on #20492
How to investigate this warning on ´mvn clean package appengine:deploy´?

[code]

[2021-10-01 06:20] geoand commented on #20490
Thanks for reporting.

If you annotate `Pet` with `@RegisterForReflection` it should work in native as well.

Can you give it a shot?

[2021-10-01 07:38] glefloch commented on #20483
Can you try to add the following dependency in your project: `implementation 'io.quarkus:quarkus-config-yaml'` ? By default, only `application.properties` file is loaded.

[2021-10-01 07:41] zakkak commented on #20397
It looks like https://github.com/oracle/graal/pull/3760 could help us achieve this once merged.

[2021-10-01 07:51] robp94 opened #20494 "Graphql Quarkus properties not working"
### Describe the bug

Some Quarkus properties for graphql do not work, their smallrye/graphql version do work.

properties which do not work:
[code]
Documentation: https://quarkus.io/version/main/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.show-runtime-exception-message

properties which work:

[code]

### Expected behavior

When running the query

[code]

There shoul

[2021-10-01 07:58] #20447 closed

[2021-10-01 08:01] phillip-kruger commented on #20494
Maybe @radcortez can help here. @radcortez we use `RelocateConfigSourceInterceptor`.
(see https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-graphql/deployment/src/main/java/io/quarkus/smallrye/graphql/deployment/SmallRyeGraphQLConfigMapping.java)

Any tips ?

[2021-10-01 08:26] jmartisk commented on #18988
Could you retry with Quarkus 2.2.3.Final or similarly recent version? I was able to reproduce this with 2.0.3, but not with 2.2.3.
With 2.2.3, overloaded methods (including constructors) are mapped into one shared metric (because the metric name does not reflect method parameters, only the name).

[2021-10-01 08:38] geoand commented on #20483
@glefloch is correct - without explicit YAML support via the extension you will run into this problem

[2021-10-01 08:39] #20483 closed

[2021-10-01 09:03] sberyozkin commented on #13239
Hi @pedroigor @stuartwdouglas,

I think this issue should be addressed somehow after a recent case of the Azure producing the code flow tokens with the size > 4096 and the authentication failing. So far the default token state manager has managed to save the day by having a single cookie combining 3 tokens split into into 3 cookies. However the case where it won't be able to handle a > 4096 case i

[2021-10-01 09:20] jaikiran commented on #20397
Perhaps it should, but I just built that PR on top of latest graal upstream repo and tried it against the example I had in that BigInteger reproducer. It still fails with same error. I had to add `[B` explicitly in the serialization classes to  get it to work. It's likely that the linked PR doesn't address this specific use case because as noted in the comment here https://github.com/oracle/graal/

[2021-10-01 09:28] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1293788003

[2021-10-01 09:45] Sanne commented on #17602
I suspect it's still a problem, and agree with Stuart it's most likely due to classloaders.

But it's not high on my priorities since it can easily be worked around by using `public` rather than `protected` - we'll look at it if a reproducer is shared.

[2021-10-01 09:47] ferencbeutel4711 commented on #20445
apologies, we have started our application in the wrong profile, therefore the profile specific config was not used.. thanks for helping out!

[2021-10-01 09:47] #20445 closed

[2021-10-01 09:54] Shpota opened #20496 "@ConfigMapping doesn't with default function implementations in interfaces in Kotlin projects"
### Describe the bug

If an interface annotated with `@ConfigMapping` has a default function implementation the application fails on startup.

### Expected behavior

_No response_

### Actual behavior

[code]

### How to Reproduce?

1. Generate a Quarkus project with Kotlin, Gradle, and yaml.
2. Replace `application.properties` with `application.yml` with the following content:
[code]
3. Create a

[2021-10-01 09:55] Sanne commented on #18779
I'm open to explore this, but my impression is that annotation defined scopes aren't very intuitively when working with a reactive chain.

Could you elaborate on why you'd prefer the annotation over using `.withTransaction( -> ) ` ?

[2021-10-01 10:17] jmartisk commented on #18988
Now I remember where this was fixed: https://github.com/quarkusio/quarkus/commit/7b536833f6bbe2879db0b490f7d5ac33d8bb98da#diff-d31de3588ec8965d34636c1ee11eb1cb3f95b48ddf51b5b61a2867827c15953fL391-L394

We used just the method name to keep track of already handled methods, and then fixed the issue by switching to tracking the whole signature.

So this should work with Quarkus 2.2+.
Let me close the

[2021-10-01 10:17] #18988 closed

[2021-10-01 10:17] Shpota opened #20497 "@ConfigMapping fails to start when there is a REST cleint mapped to the same configuration root"
When there is a REST client mapped to the configuration root that has `@ConfigMapping` configured, the application would fail to start.

### Actual behavior

[code]

### How to Reproduce?

1. Generate a Quarkus project with Kotlin, Gradle, Resteasy, Resteasy client, and yaml.
2. Add the following into `application.yml`:
[code]
3. Create a `GreetingConfig` interface with the following contant:
[cod

[2021-10-01 10:26] jmartisk commented on #18988
@ebullient, I briefly tried switching to Micrometer per your suggestion and I think it works correctly on Quarkus 2.0.3

[2021-10-01 10:50] ennishol opened #20498 "CDI removes extention beans in camel-quarkus"
### Describe the bug

The original issue and reproducer can be found [here](https://github.com/apache/camel-quarkus/issues/3142)

When using open tracing and microprofile rest client I get the error:
`java.lang.NullPointerException: Cannot read field "skipPattern" because "this.tracingConfig" is null`

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Rep

[2021-10-01 11:25] gwenneg commented on #18779
That's a very good question, thanks for asking 😃

When I created this issue, I had just discovered the existence of `@TestReactiveTransaction` for Panache and I was also facing a lot of reactive tests issues because of a bump from Quarkus 1 to 2. These issues were mostly caused by poorly written tests which have since been rewritten in a proper reactive fashion.

Today, I could definitely live wit

[2021-10-01 11:51] zakkak commented on #20397
That's expected, we will need to make Quarkus use [the new `registerAllAssociatedClasses`](https://github.com/oracle/graal/pull/3760/files#diff-cf39890c8a79b5ac2c7777119d37bd3c59a89878fb6f209f3cb48b3bead76ddeR75) for that to work.

You are right about this, using the new API won't fix that for us. It's also mentioned in the [PR's description](https://github.com/oracle/graal/pull/3760#issue-9909108

[2021-10-01 12:29] galderz commented on #20491
FYI https://github.com/graalvm/mandrel/issues/292 will be fixed in upcoming Mandrel 21.2.0.2 version. See https://github.com/graalvm/mandrel/issues/292#issuecomment-932185409 for details.

I'll look into the Optaplanner issue next.

[2021-10-01 13:22] nikosk686 commented on #20063
@mkouba if I am not wrong property does not exist in v1
So I cannot try this workaround.
Anyway, I have updated my service in the latest v2 version and use this property
for now until the actual fix of https://github.com/quarkusio/quarkus/issues/20064
comes with the next release.
So from my side, I don't mind if you close this issue for now.

[2021-10-01 13:24] galderz commented on #11563
@rsynek I'm on it, not sure there's a need to keep reminding that the build is broken hehe

[2021-10-01 13:25] geoand commented on #11563
@galderz it's automated :)

[2021-10-01 13:26] galderz commented on #11563
Is @rsynek a bot then?

[2021-10-01 13:29] geoand commented on #11563
Nope, he just used his key when setting up the process

[2021-10-01 13:46] ricardozanini opened #20504 "Jackson JQ support"
### Description

This extension aims to add [jq](https://stedolan.github.io/jq/manual/) expressions to a Quarkus application. It's backed by [jackson-jq](https://github.com/eiiches/jackson-jq) library. The extension is already done. I need to migrate it to the Quarkiverse format. You can see the code here: https://github.com/ricardozanini/jackson-jq/pull/1/files

### Configuration suggestion

The

[2021-10-01 13:48] geoand commented on #20504
cc @gastaldi

[2021-10-01 13:52] kvnb93 opened #20505 "Cannot use rest-client-reactive-jackson together with quarkus-keycloak-admin-client"
### Describe the bug

I am using quarkus-keycloak-admin-client in a project and want to add rest-client-reactive-jackson. However, I cannot use both libraries together because quarkus-keycloak-admin-client uses the old rest-client internally and I cannot have two rest clients in the same project.
When starting the project with `./mvnw quarkus:dev`, it complains about the conflict as follows:

[cod

[2021-10-01 13:55] geoand commented on #20505
@sberyozkin did we not have a replacement for this one?

[2021-10-01 14:08] maxandersen commented on #20504
so `io.quarkiverse.quarkus-jackson-jq`?

[2021-10-01 14:12] maxandersen commented on #20504
eh ...how :) I already pushed and the team is missing?

[2021-10-01 14:13] maxandersen commented on #20504
anyhow https://github.com/quarkiverse/quarkus-jackson-jq is now there with code - creating team now

[2021-10-01 14:16] maxandersen commented on #20504
@ricardozanini repo is setup; just awaiting you to ack the invite.

Please see https://github.com/quarkiverse/quarkiverse/wiki#getting-an-extension-onboarded for next step(adding code and setting on the ci)

[2021-10-01 14:16] ricardozanini commented on #20504
Thanks, guys! I'll start tweaking the code and will open the PR ASAP.

[2021-10-01 14:18] radcortez commented on #20190
@Naros can you please provide me the ordinal and names of the sources? These may influence the order of the sources. We did some changes that may affect the ordering is both the ordinals and names are the same.

[2021-10-01 14:20] radcortez commented on #20494
I'll have a look.

[2021-10-01 14:54] vsevel opened #20506 "Add support for @javax.annotation.security.RunAs"
### Description

Provide the ability to impersonate a specific role.
Useful for use cases such as timers where, by design, the business code starts without a security identity.
Consider also supporting [RunAsPrincipal](https://docs.jboss.org/ejb3/embedded/api/org/jboss/annotation/security/RunAsPrincipal.html).

### Implementation ideas

_No response_

[2021-10-01 14:55] vsevel commented on #11392
I have created https://github.com/quarkusio/quarkus/issues/20506

[2021-10-01 15:13] radcortez commented on #20497
There is no issue here. By default, the `@ConfigMapping` validates that all configurations keys under the defined prefix have a mapping in the class. In this case, there is no mapping for the `api-url` keys.

If you wish to disable this behavior, you can use `smallrye.config.mapping.validate-unknown=false`.

[2021-10-01 15:14] Sanne commented on #18779
Cool. Let's not rush and implement it yet then :-)

We can keep it open to collect more feedback, or close it and see if it comes up again.

[2021-10-01 15:15] iompo commented on #19086
Hi, I apologize but I can't reproduce the error anymore. I tried to understand what's changed in my code base, but I could not find what was the root cause of the problem. I will add more information if it happens again.

thanks.

[2021-10-01 15:21] Shpota commented on #20497
Thank you, it helped. I think it would make sence to have `validate-unknown=false` as a default. We are migrating from `@ConfigProperties` to `@ConfigMapping`. This would meke migration easier considering it was a default with `@ConfigMapping`. Or maybe exclude `mp-rest` properties from validations as they are used for a different purpose and it can be verified by presence of the corresponding `@R

[2021-10-01 15:22] vsevel commented on #20397
hello. for good measure I have added `"[Z", "[B", "[C", "[S", "[I", "[J", "[F", "[D", "[L"`
Now the `BigInteger` _and_ the `Calendar` issue do work.
The base `Calendar` class has `protected int           fields[];` and `protected boolean       isSet[];`. so that was definitely missing too.
I agree it is not ideal, since graalvm does not help at all in the error message.
`registerAllAssociatedClass

[2021-10-01 15:30] #20506 closed

[2021-10-01 15:35] vsevel commented on #11392
this issue would need to handle use cases other than timers specifically. for instance subscribers receiving messages, and needing to process them in the context of a particular identity.

[2021-10-01 15:43] sberyozkin commented on #20505
Hi @geoand No, I don't see how it can happen as it is a Keycloak managed library which uses the `classic` RestEasy

[2021-10-01 15:43] sberyozkin commented on #20505
The same would be the case for `quarkus-keycloak-authorization`

[2021-10-01 15:44] radcortez commented on #20496
@evanchooly do you know how can we tell if a method has been implemented on Kotlin? In this case, when we look into the method, it shows as abstract so we think that is not implemented and we add it as a configuration item.

[2021-10-01 15:57] vsevel opened #20508 "Support folded style yaml configuration"
### Description

Given an `application.yaml` and the following code:

[code]

I would like to be able to write:
[code]

or:
[code]

and not just the full hierarchy:
[code]

it makes it a lot easier to read and maintain.

another example:

[code]

instead of:

[code]

/cc @radcortez

### Implementation ideas

_No response_

[2021-10-01 16:05] Naros commented on #20190
Hi @radcortez, so I checked and regardless of the version both have the same ordinal of `100` and name of `test`; however what I do notice is that their order in `ConfigProvider.getConfig().getSources()` is reversed.

In 2.0.0.Final the `debezium-server-kafka` configuration comes first and resolves `debezium.sink.type` as `kafka`.
In 2.2.3.Final the `debezium-server` configuration comes first and

[2021-10-01 16:19] famod commented on #20508
/cc @radcortez

[2021-10-01 16:23] radcortez commented on #20190
Correct.

Well, a change that we did was to remove the runtime ServiceLoader discovery and turn it into a build time discovery. I'm guessing that the intermediate Sets change the old order and because both of your sources have the same sorting values (ordinal and then name), you get them in an unwanted order.

Even if we didn't change anything, this could happen. We know that in the majority of th

[2021-10-01 16:25] Shpota commented on #20496
@radcortez the bytecode of the Kotlin interface that I posted would look somewhat like this in Java:
[code]

[2021-10-01 16:28] radcortez commented on #20496
Thanks. Let me have a look.

[2021-10-01 16:28] Naros commented on #20190
That makes sense @radcortez and thanks for the explanation.  I'll adjust our code accordingly.

[2021-10-01 16:37] evanchooly commented on #20496
Have what you need @radcortez ?

[2021-10-01 16:41] radcortez commented on #20497
Sorry for the inconvenience :(

We added that as a convenience so you can be sure that all your configurations are mapped. Indeed you could set them off as a default, but we know that its harder to turn things on than off :)

We may be able to provide exceptions for the mp-rest properties.

[2021-10-01 16:43] radcortez commented on #20496
Maybe. I'll need to adjust the code to look for this and ignore the method. Is this the only way that Kotlin provides the implementation? I was looking into https://youtrack.jetbrains.com/issue/KT-4779

[2021-10-01 17:22] murphye commented on #20490
@geoand Unfortunately after adding @RegisterForReflection I get a native build error.

[code]

[2021-10-01 17:25] murphye commented on #20490
Seems to be a related issue https://github.com/oracle/graal/issues/3125

[2021-10-01 17:31] murphye commented on #20490
Ok, I got it working, but this isn't an ideal situation:

1. Had to add `@RegisterForReflection` to the `record`
2. Had to add `--report-unsupported-elements-at-runtime` to `quarkus.native.additional-build-args`

For a developer simply wanting to use a `record` in native mode, they shouldn't have to do either. Can you augment `record` objects at build time?

3. Also improve stack trace logging for

[2021-10-01 17:33] radcortez commented on #20508
Closing this one because I believe it is a duplicate of https://github.com/quarkusio/quarkus/issues/11744. Please contribute there, or if you believe that is something different please reopen it again.

[2021-10-01 17:33] #20508 closed

[2021-10-01 17:42] geoand commented on #20490
Indeed, that looks like the root cause.

FWIW, GraalVM doesn't have proper support for post Java 11 native image build just yet, but hopefully that will arrive soon.

[2021-10-01 17:47] geoand commented on #20490
https://github.com/quarkusio/quarkus/pull/20510 should take care of it

[2021-10-01 19:11] ricardozanini commented on #20504
PR: https://github.com/quarkiverse/quarkus-jackson-jq/pull/1/

[2021-10-01 19:27] ricardozanini commented on #20504
CI PR: https://github.com/quarkusio/quarkus-ecosystem-ci/pull/66

[2021-10-01 19:56] #20504 closed

[2021-10-01 20:03] patped commented on #13856
Wow! Thanks for the quick responses and action! 🥇

I almost feel terrible now, responding so late. 😅 👏

[2021-10-01 20:43] onrclk commented on #15655
Hi all, according to https://stackoverflow.com/questions/60885669/quarkus-ibm-mq-extension  it's not possible with Quarkus extension. That gut is a MQ developer and writer of the link below. what do you think ? is AMQP only solution to for IBM MQ with Quarkus in native environment ?

https://developer.ibm.com/tutorials/mq-running-ibm-mq-apps-on-quarkus-and-graalvm-using-qpid-amqp-jms-classes/

[2021-10-01 21:39] evanchooly commented on #20496
what bytecode are you seeing that's problematic, exactly?

[2021-10-01 21:54] galderz commented on #11563
Talking of bots, the bot in https://github.com/kiegroup/optaplanner/pull/1594 having some issues? 45 comments in less than 1 minute...

[2021-10-01 21:55] galderz commented on #11563
Btw, the PR above fixes things.

[2021-10-01 22:03] galderz commented on #20491
PR sent: https://github.com/kiegroup/optaplanner/pull/1594

[2021-10-02 00:33] #20210 closed

[2021-10-02 00:34] #20258 closed

[2021-10-02 05:12] triceo commented on #11563
@galderz Sorry for the 45 comments; the bot does that to people outside kiegroup, and nobody ever fixes it. I'll ask around if someone can do something about it.

[2021-10-02 06:53] michael-schnell commented on #6320
There are also some use cases for production where an in-memory database is a good choice. If you think about stateless cloud services where the whole data fits into memory, there can be a huge performance gain using something like HSQL instead of a traditional external database like MariaDB.

[2021-10-02 10:28] ge0ffrey commented on #20491
cc @mariofusco Can we fix this upstream in Drools 8 such that this workaround can be removed? https://github.com/kiegroup/optaplanner/pull/1594

[2021-10-02 12:16] #20063 closed

[2021-10-02 12:19] jaikiran commented on #20397
@vsevel, I forgot to ask - where and why does the real application use Java (object) serialization? The reason I ask this is to see if improving some parts of this in native image is worth the effort or if the Java serialization usage is going to be very limited and rare case.

[2021-10-02 14:17] vsevel commented on #20397
@jaikiran good question. we have a particular use case, but a very important one.
back in the days when we were running in EAP5, and we started our EAP6 migration we were extremely sad to see that there was not interop on jboss remoting between EAP5 and EAP6. we waited more than a year with no progress. eventually it was putting the migration project in danger. so we designed our own protocol, whi

[2021-10-02 14:39] vsevel commented on #20397
I forgot to mention that I reimplemented our serialization based protocol (the client side) in quarkus with build time generated proxies based on annotated based interfaces that we find in the jandex index.
it is using the vertx main instance to create a web client (no need to rely on bringing in the apache http client like we had to do in EAP). I have support also for security identity propagatio

[2021-10-02 17:45] GavinRay97 commented on #13054
@amahfouz1 Thank you for this!

If this works, maybe it's possible to merge it upstream into JNA itself?

All that JNA has to do is distribute these files in it's JAR, at the following location:
`META-INF/native-image/<group-id>/<artifact-id>`

And it should work for everyone. Would be awesome to have.

[2021-10-03 00:19] cemnura commented on #13239
@sberyozkin are we looking for a caching mechanism like the following? Caching/Invalidating would be based on the tokenState?

https://github.com/quarkusio/quarkus/blob/dda8d67140cd4086c1fbf3e1846d59bc0a62fae7/extensions/oidc-cache/runtime/src/main/java/io/quarkus/oidc/runtime/CacheTokenStateManager.java#L22-L32

[2021-10-03 00:56] cemnura commented on #13239
@sberyozkin  I gave it my best shot and tried to implement a caching mechanism. Please have a look [here](https://github.com/cemnura/quarkus/blob/feature/13239/extensions/oidc-cache/runtime/src/main/java/io/quarkus/oidc/runtime/CacheTokenStateManager.java).

Perhaps we can give the user the ability modify the caching properties such as

[code]

[2021-10-03 12:09] sberyozkin commented on #13239
Hi @cemnura Thanks for starting so quickly.
A few initial comments - I believe the extension should be named differently, we already have a cache for the token introspection/userinfo, so probably `oidc-token-state-cache` or may be even better `oidc-authorization-code-tokens-cache`. Hmm... But that is a bit long...Hard to come up with the optimal name :-). So how about `oidc-code-tokens-cache` and

[2021-10-03 13:01] wjglerum opened #20512 "Qute fails to find methods from parent interface when using multilevel inheritance"
### Describe the bug

As a follow up on https://github.com/quarkusio/quarkus/issues/19564 I was playing around with Qute and strict rendering a bit more. Just noticed that when I introduce another level of interfaces that Qute won't be able to find the methods anymore.

See https://github.com/wjglerum/quarkus/commit/7fb6d7b68ab19af24827ac6dc263bf70fb8a58ca

[code]

Any ideas on how Qute should han

[2021-10-03 17:05] vsevel commented on #19868
it is not clear to me.
I see [https://issues.redhat.com/browse/KOGITO-5817](https://issues.redhat.com/browse/KOGITO-5817) is still unresolved.
do we need this also @evacchi?

[2021-10-03 18:09] elbcoast commented on #15671
Running into the same problem on Quarkus 2.2.3.Final. Looks like it was removed from quarkus-http 3 years ago. Unfortunately I haven't found a way to set the idle timeout so far.

[2021-10-04 05:23] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1302219379

[2021-10-04 05:23] mschorsch commented on #19013
@geoand Ist there any chance that this will be in 2.4?

[2021-10-04 05:41] geoand commented on #19013
I'd say chances are slim, but it could happen.

[2021-10-04 05:53] cescoffier commented on #20423
So the issue is in Vert.x:

[code]

The error is not propagated to the handler.

I've opened https://github.com/vert-x3/vertx-web/issues/2060.

[2021-10-04 06:16] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/1302221105

[2021-10-04 06:20] evacchi commented on #19868
the extension still depends on resteasy, I will see if it is possible to handle that ASAP

[2021-10-04 06:20] triceo commented on #11563
The new problem appears to be:

    javax.enterprise.inject.AmbiguousResolutionException: Ambiguous dependencies for type org.optaplanner.test.api.score.stream.ConstraintVerifier<org.optaplanner.quarkus.testdata.normal.constraints.TestdataQuarkusConstraintProvider, org.optaplanner.quarkus.testdata.normal.domain.TestdataQuarkusSolution> and qualifiers [@Default]
        - java member: org.optaplann

[2021-10-04 06:34] geoand commented on #20505
Thanks for the information.

How do we plan to tackle this?

[2021-10-04 06:34] rsynek commented on #11563
Hi @galderz , the "build is still failing" message appears automatically each time the build fails (it runs daily). Thanks for looking into the issue!

[2021-10-04 06:48] QuarkusQE commented on #19500
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1302230548

[2021-10-04 06:59] mkouba commented on #20512
@wjglerum You're right Qute only considers the interfaces implemented by classes in the hierarchy.

[2021-10-04 07:42] geoand commented on #18572
There is one thing I don't like however about the proposal: It is not conductive to auto-completion by IDEs because the feature names are simply strings.

[2021-10-04 08:26] michalszynkiewicz commented on #20505
I took a brief look at `keycloak-admin-client` and it seems to me that it could work with microprofile rest client instead of hard dependency on resteasy (but I might've missed something).
Could we have some keycloak-admin-client-core, or keycloak-admin-client-base, pulled out from the admin-client that would depend only on MP?

[2021-10-04 09:01] galderz opened #20518 "Use conditional configuration for JNI, reflection, resources and proxies"
### Description

Upcoming GraalVM 21.3 version brings in [conditional configuration](https://github.com/oracle/graal/blob/master/docs/reference-manual/native-image/Reflection.md#conditional-configuration) for JNI, reflection, resources and proxy configuration. The only supported condition is that certain type is reachable. This configuration can also be applied programmatically.

Caffeine, Kuberne

[2021-10-04 09:02] geoand commented on #20518
cc @zakkak

[2021-10-04 09:24] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1302230259

[2021-10-04 09:43] michalszynkiewicz commented on #20505
I'd be happy to help with ^, @sberyozkin do you know who in the keycloak team I could contact about it?

[2021-10-04 09:51] loicmathieu opened #20519 "Missing JAX-B guide"
### Describe the bug

XML serialization is supported via JAX-B but no guide exist.
We could create a "WRITING XML REST SERVICES" close to the JSON one: https://quarkus.io/guides/rest-json

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

###

[2021-10-04 10:21] tehnodev opened #20520 "Update docs how to read a config value outside resource class"
### Description

I do not understand how to read a config value in a class without [Path annotation](https://quarkus.io/guides/spring-cloud-config-client#greetingcontroller)
I have a class
[code]

In application.properties
`greeting.name=John`

When i use it, i get "Hello null" instead of "Hello John"
[code]

### Implementation ideas

Please update documentation with additional example

[2021-10-04 10:44] edeandrea commented on #18572
I think the downside though is anytime there is a new config property in Jackson then Quarkus needs to make a change and "catch up", whereas them just being Strings allows users to use new features as they become available without Quarkus needing to make any changes.

That being said I don't know the internal implementation, so it may not be a big deal.

[2021-10-04 10:51] zakkak commented on #20518
Please note that the corresponding API is new in 21.3 meaning that https://github.com/galderz/quarkus/commit/5f596024792e4a7a739ea77fc2b544d1acd9c1e2 breaks compatibility with 21.2 and 20.3. As a result, IMO we should first wait for Quarkus to move to 21.3 (expected in late October/early November) and drop support for 20.3 (expected in late October) before applying such changes (to avoid complicat

[2021-10-04 11:17] coiouhkc commented on #15655
Looks like it, see reply to my post from @cescoffier https://github.com/smallrye/smallrye-reactive-messaging/issues/1296#issuecomment-875863111

[2021-10-04 12:13] onrclk commented on #15655
@coiouhkc  unfortunately, it doesnt work with native build.

[2021-10-04 12:41] cescoffier commented on #15655
MQ does support AMQP 1.0.
We are doing some testing, but soon, you will be able to use the AMQP 1.0 connector to communicate with MQ. This way works in native.

[2021-10-04 12:47] edeandrea opened #20521 "Hibernate Reactive Panache guide missing documentation on `@TestReactiveTransaction`"
### Describe the bug

The [Quarkus Hibernate Reactive Panache guide](https://quarkus.io/guides/hibernate-reactive-panache) does not have any information on the existence of the `@TestReactiveTransaction` annotation nor how to use it.

Maybe it doesn't belong in that guide because it isn't specific to Panache Reactive and its more generic to reactive transaction management. That being said, it stil

[2021-10-04 13:06] ge0ffrey commented on #20491
Thank you Galder! The fix is merged (@triceo is following up) I suspect this issue can be closed?

[2021-10-04 13:17] deodorel commented on #20444
Hello, i was finally able to deploy just the maven resolver artifact to our repo and use the 999-SNAPSHOT version that got build, however, while the result is identical, i fail to find your logs that i saw you added in the code ("global settings", "command line", etc). I do see a lot of info lines from maven, but could it be possible that the resolver has another error level for logging? (like war

[2021-10-04 13:37] deodorel commented on #20444
what's with the readMavenReposFromEnv method you added? can i try to add the BOOTSTRAP_MAVEN_REPOS env variable? what should it contain.

[2021-10-04 13:39] deodorel commented on #20444
maybe this is why i don't see the logs? LogManager error of type WRITE_FAILURE: The delayed handler's queue was overrun and log record(s) were lost. Did you forget to configure logging?

[2021-10-04 13:41] vsevel commented on #20397
In my particular use case, it would be ideal (and probably be helpful for anybody doing serialization), to be able indicate a particular type and get all the necessary classes (superclasses, subclasses, and instance variable types) to be registered for serialization.

Since I am working in an extension, in my case I am interested in easily register types of `org.jboss.jandex.MethodInfo` associated

[2021-10-04 13:47] aloubyansky commented on #20444
Did you forget to checkout the `2.1.4-debug` branch? It should produce the `2.1.5.CR1` version, not 999-SNAPSHOT. See https://github.com/aloubyansky/quarkus/blob/2.1.4-debug/independent-projects/bootstrap/pom.xml#L14
999-SNAPSHOT is the main branch.

[2021-10-04 13:52] jaikiran commented on #20397
Thank you for that detailed context. So essentially, you have a in-house remote invocation framework which uses Java serialization.

I haven't followed the Quarkus' `RegisterForSerialization` design/implementation part. I guess what you suggest makes sense and probably should be done by one single "switch" (something like `quarkus.native.enable-serialization`) which would then make the (core) exte

[2021-10-04 13:59] deodorel commented on #20444
yeah, pretty much. I will rebuild it.

[2021-10-04 14:15] #20512 closed

[2021-10-04 14:23] kshpak opened #20522 "Quakrus CLI: --help command for 'create' is not working"
### Describe the bug

Quakrus CLI for 999-SNAPSHOT fails with:

_Creating an app (default project type, see --help).
[ERROR] ❗  Unable to create project: Unknown option: '--help'_

when running:
java -jar $home/quarkus-main/devtools/cli/target/quarkus-cli-999-SNAPSHOT-runner.jar registry --help

### Expected behavior

Help for "create" command should appear

### Actual behavior

_No response_

###

[2021-10-04 14:24] edeandrea commented on #18572
Do you _really_ want to have to remember to update Quarkus config/tests/etc _every time_ Jackson makes an update? Thats the real question.

Me personally I would prefer convention where I don't have to touch framework code if a library that the framework uses makes a change. But that's me and I'm not implementing this :)

Just my $0.02.

[2021-10-04 14:48] ebullient commented on #20522
you're right. I know how I broke it. Two seconds. Thanks for catching that!

[2021-10-04 15:06] serrodcal opened #20523 "Quarkus can not change the content-type of the response depending on accept header using reactive routes"
### Describe the bug

According to the Reactive Route page in Quarkus documentation website, it is possible to send Accept header to set the Content-Type of a response.

I'm sending `-H 'Accept: application/xml'` by curl to a Quarkus project with Reactive Routes enabled but I always get the response in JSON format and with Content-Type equals to application/json.

### Expected behavior

Quarkus sh

[2021-10-04 15:10] chengkuangan opened #20524 "Kafka Extension - Key appended with weird characters after calling KStream.join()"
### Describe the bug

Not sure this is caused by Quarkus Kafka extension or Kafka itself.

The Kafka key seems to be changed after calling `kstream.join()` in Quarkus.

The following key is correct when an aggregate is performed on 2 topics, `kafcat` result on the aggregate changelog topic looks normal:

`key:` 1-20211004-215212694-36981

When the aggregated `KStream<String, ValidationResult>` is

[2021-10-04 15:16] geoand commented on #18572
We always have to think about developer joy though as well 😉

[2021-10-04 15:18] edeandrea commented on #18572
As a developer I would have much joy if new things in Jackson just worked without me having to file a ticket to have some property implemented/recognized by Quarkus :D

[2021-10-04 15:30] tmdonalds opened #20526 "Missing a mapping from microprofile for swagger ui"
### Description

Currently in quarkus there is not a way to map servers. There is an application property [here](https://download.eclipse.org/microprofile/microprofile-open-api-1.1.2/microprofile-openapi-spec.html#_core_configurations) for mapping servers. It is _mp.openapi.servers_. It would be nice if there was a quarkus property for this value.

### Implementation ideas

_No response_

[2021-10-04 15:32] sarxos opened #20527 "NPE when requesting OpenApi spec file from Swagger"
### Describe the bug

I happened to hit NPE when accessing Swagger. I'm unable to reproduce it, however I did found a log from my production env where NPE stack trace can be found.

[code]

The stack trace points to this line:

https://github.com/quarkusio/quarkus/blob/fe6b68e2b46534aae971405d19969615ad78bdf2/extensions/smallrye-openapi/runtime/src/main/java/io/quarkus/smallrye/openapi/runtime/Ope

[2021-10-04 15:43] coiouhkc opened #20528 "Update documentation regarding mutable-jar"
### Description

https://quarkus.io/guides/maven-tooling#remote-development-mode mentions a possibility of building a `mutable-jar`  - the option value is missing under https://quarkus.io/guides/maven-tooling#quarkus-package-pkg-package-config_quarkus.package.type

Also it could be worth mentioning (based on my experience with this feature), that the configuration must be made in `application.prop

[2021-10-04 16:29] #20522 closed

[2021-10-04 17:09] serrodcal commented on #20523
Even setting `produces = "application/xml"` or `produces = "text/html"` in the @Route, the response is always set to `application/json`.

[2021-10-04 17:10] oberstrike commented on #16914
Yes, the same problem with 2.2.3.Final. Davide-Di-Do's workaround is the only solution to this problem. @geoand

[2021-10-04 17:44] geoand commented on #19013
https://github.com/quarkusio/quarkus/pull/20529 introduces this feature

[2021-10-04 18:08] cemnura commented on #13239
Hi @sberyozkin

I renamed the extension according to your comments.

Would a configuration class like this be suitable?

https://github.com/cemnura/quarkus/blob/c79212360ea19ba25cea71ae3af36aa586939523/extensions/oidc-code-tokens-cache/runtime/src/main/java/io/quarkus/oidc/runtime/OidcCodeTokensCacheConfiguration.java#L1-L11

I believe `quarkus-cache` is using caffeine as an underlying caching pro

[2021-10-04 18:51] MadinaS commented on #5755
any news in this case?

[2021-10-04 18:58] mswatosh commented on #20266
Sorry for the delay, I was on vacation last week, and during that time DB2 released a new 11.5.6.0a docker image which reverts the default port to 50000.

So, is it worth updating the doc to mention that specifically the 11.5.6.0 tag uses a different default port number? Or should it be left as is, since going forward the docker images with continue to default to 50000?

[2021-10-04 20:21] galderz commented on #20491
No worries Geoffrey :). Closing.

[2021-10-04 20:21] #20491 closed

[2021-10-04 21:15] ncorai opened #20531 "QuarkusDev fails to start when using a Gradle convention plugin"
### Describe the bug

Using **Quarkus 2.3.0.CR1** and **Gradle 7.2** on **Java 11** on **Windows 10**, when using a quarkus convention plugin in `buildSrc` (for the purpose of [sharing build logic between subprojects](https://docs.gradle.org/current/userguide/sharing_build_logic_between_subprojects.html)), running
`.\gradlew --stacktrace quarkusDev`
will result in the following stacktrace
[code]
I

[2021-10-05 01:19] mohansidda opened #20532 "Issue with Quarkus to connect with Redis Client"
### Describe the bug

My customer is trying the Quarkus framework to connect with Redis Client for enabling the ACL features. They have encountered the following errors:**ERR Client sent AUTH, but no password is set**

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Create Quarkus to connect with Redis with ACL following the steps described here [1]

[2021-10-05 05:50] geoand commented on #20266
Thanks for this information!

I think that since the change was reverted, it's not likely users will run into it again, so I don't think it warrants a mention in our docs

[2021-10-05 05:50] #20266 closed

[2021-10-05 06:07] cescoffier commented on #20532
@pmlopes do you know if we have a vert.x example somewhere?

[2021-10-05 06:52] pmlopes commented on #20532
@mohansidda can you share the redacted connection string you're using?

I'd expect to see something like:

[code]

What is important to see is that your connection string is like:

[code]

Also can you share the redis version you're trying to connect, because only in 6 true `ACL` was introduced: https://redis.io/topics/acl

[2021-10-05 06:54] joggeli34 opened #20533 "Access multi tenant database programmatically"
### Description

We have two use cases where we want to access the tenant-databases without coming from a http request. I didn't find any documentation on how to do it, so I'm not sure if this is just a request for a documentation or for the feature it self.

1. We have some db-cleanup tasks running in schedulers. Therefor we need all the connections so that we can loop over them and inject them t

[2021-10-05 07:36] geoand commented on #20527
There is indeed a race condition here, I'll take care of it for `2.3.0.Final`.

[2021-10-05 07:46] mkouba commented on #18903
@languitar would you care to prepare a minimal reproducer app? It would be really helpful to simplify the snippet...

[2021-10-05 08:24] geoand commented on #20520
I would suggest reading: https://quarkus.io/guides/config

For your use case, you essentially need to do something like:

[code]

[2021-10-05 08:24] #20520 closed

[2021-10-05 08:28] geoand commented on #20528
`mutable-jar` is a rather advanced feature that is useful for a very specific use case, so I am not sure it's worth mentioning in the config page you mention, as it would give users the sense that it's generally useful.

[2021-10-05 08:28] #20528 closed

[2021-10-05 08:43] #19013 closed

[2021-10-05 08:59] ahofmeister opened #20536 "Enable access for Qute Template Instance within a Mail Template Instance"
### Description

We are sending emails based on a Qute Template.

In order to see the actual template filled with data, it would be nice to provided an REST endpoint like `GET /templates/user-registration?userId=2711`. Maybe for other team members (or PO/PM), that are not familiar with the Quarkus World (or even Java) but want to give feedback or see the template filled with data.

I know this is

[2021-10-05 09:00] sarxos commented on #20527
Thank you @geoand :) I looked at the fix you did in the code and it looks great!

[2021-10-05 09:22] chengkuangan commented on #20524
Problem resolved by using latest 2.2.3.Final release and with Kafka server restarted

[2021-10-05 09:22] #20524 closed

[2021-10-05 09:45] MintJul3p opened #20537 "Header lost in DLQ failure strategy"
### Describe the bug

I am implementing a retry policy in my project in quarkus. Here's the pitch : I produce a Kafka message who's consumed in several place in my project. If for any reason one of this consumer fails to handle this message, it's nacked and publish in a retry topic using the dead-letter-queue failure strategy.

The messages from this topic are handle by another consumer who try to

[2021-10-05 10:37] coiouhkc opened #20538 "[quarkus-quartz] `cron` expression of `@Scheduled` is not updated via ENV (overwriting application.properties)"
### Describe the bug

Given
* `@Scheduled(identity = "aJob", cron = "{a.job.schedule.cron}")` in code
* `a.job.schedule.cron=0 0 1 * * ? *` in application.properties and
* `A_JOB_SCHEDULE_CRON=0 0 1 * * ? 2100` in ENV

if the application has been started prior without the ENV part, restarting the application with ENV doesn't update the field `cron_expression` in the table `qrtz_cron_triggers`.

if

[2021-10-05 11:16] deodorel commented on #20444
Hello. So i can clearly see that now the new dependency is used;
Downloading from libs-releases: my_url/artifactory/libs-releases/io/quarkus/quarkus-bootstrap-maven-resolver/2.1.5.CR1/quarkus-bootstrap-maven-resolver-2.1.5.CR1.pom
and then followed by its dependencies.
However still i can't find the specific logs you added. Do i need to enable them somehow?
If you want i can provide you in private

[2021-10-05 11:19] #20527 closed

[2021-10-05 11:25] mkouba commented on #20538
Just to be clear - you're using `quarkus.quartz.store-type=jdbc-tx` or `jdbc-cmt`, i.e. qartz jobs and triggers are persisted in the DB. Is `quarkus.quartz.clustered` set to `true`? TBH I'm not sure it's possible to update a job trigger in similar use cases.

@machi1990 Could it be a `JDBCJobStore` limitation?

[2021-10-05 11:46] xstefank commented on #18802
@albert0815 ah sorry, I thought that you want to implement it yourself. Well, you only need `HealthCheck` implementation then I can help you with integration. But I'm not familiar with keycloak enough to implement this health check myself. Do you know who could provide this health check implementation?

[2021-10-05 11:59] coiouhkc commented on #20538
Hi @mkouba , right
`
quarkus.quartz.clustered=true
quarkus.quartz.store-type=jdbc-cmt
`

[2021-10-05 12:04] edeandrea opened #20541 "RESTEasy Reactive extension does not link to its guide"
On code.quarkus.io, the RESTEasy Reactive extension in the extension list does not have a link to [its guide](https://quarkus.io/guides/resteasy-reactive). See screenshot:

![Screen Shot 2021-10-05 at 8 02 49 AM](https://user-images.githubusercontent.com/363447/136018906-3f6f4c75-6033-49dc-83fc-30ffa678caf3.png)

[2021-10-05 12:18] aloubyansky commented on #20444
Unless it's disabled somewhere, it shouldn't require any logging config, it's logged at INFO level of the `io.quarkus.bootstrap.resolver.maven.BootstrapMavenContext` category.
Are you on Zulip (https://quarkusio.zulipchat.com/)?

[2021-10-05 13:08] JithendraKatkam opened #20540 "Beans are not loading from the custom dependent jars"
### Describe the bug

If the beans are in the same project - they are loading properly into the context, but when the same component or bean moved to other jar, they are not loading - the error is -  Unsatisfied dependency for type.......

### Expected behavior

The beans declared in other jars must be fetched and loaded to reuse the custom utilities and third party jars.

### Actual behavior

If

[2021-10-05 13:11] edeandrea commented on #20541
@ia3andy I started to create the issue there but wasn't sure how everything worked under the covers so figured this was the best place to at least start.

[2021-10-05 13:11] edeandrea commented on #20541
If you'd prefer I create an issue over on quarkusio/quarkus just let me know & I'll do that.

[2021-10-05 13:13] ia3andy commented on #20541
@edeandrea I've moved the issue, no worries ;)

[2021-10-05 13:21] glefloch commented on #20540
@JithendraKatkam by default quarkus doesn't look in all dependency artifacts.
There are multiple ways to tell quarkus to looks into specific jar, here is the list: https://quarkus.io/guides/cdi-reference#bean_discovery .
You can for example add an empty `META-INF/beans.xml` file in your dependency projet, or reference the dependency in your `application.properties` by setting `quarkus.index-depend

[2021-10-05 13:31] MintakaB opened #20543 "Problem wiring up a SSE endpoint with an internal channel with the reactive messaging HTTP connector"
### Describe the bug

I am using Quarkus 2.2.3 and OpenJDK 11.

The SSE endpoint and incoming channel looks like:
[code]

The producer is described below:

[code]

The incoming "event" channel is defined in the application.resource file as:

mp.messaging.incoming.event.connector=quarkus-http
mp.messaging.incoming.event.path=/event
mp.messaging.incoming.event.method=POST
Dependencies in pom.xml
[co

[2021-10-05 13:31] JithendraKatkam commented on #20540
ok thanks - but preferable is to search all those dependency jars if any component is referenced and load that bean/or all beans in that jar as it is only during the build time. this is from flexibility point of view from the usage, but its fine to reduce the  build time and specify explicitly for the jar or beans required.

[2021-10-05 13:37] glefloch commented on #20540
Thanks for your answer @JithendraKatkam I'm closing.

[2021-10-05 13:37] #20540 closed

[2021-10-05 14:35] #11516 closed

[2021-10-05 15:15] sandronm commented on #19412
Hello, is it still the official recommandation of Neo4J when we are using the Driver to create the SessionFactory?

As reminder:

[code]

We are just facing the original issue "Failed to start application (with profile dev): org.neo4j.driver.exceptions.ClientException: Scheme neo4j+s is not configurable with manual encryption and trust settings" at the moment and I'm wondering if this recommandati

[2021-10-05 15:34] Felk opened #20545 "Liquibase: configure changelog parameters using quarkus"
### Description

Liquibase supports a feature called [changelog property substitution](https://docs.liquibase.com/concepts/basic/changelog-property-substitution.html). This is useful to parameterize parts of a changelog, for example:

[code]

When executing it via the CLI the property default can be overwritten for example like this:
[code]

However I was unable to find a way to overwrite liquibas

[2021-10-05 16:28] vsevel commented on #20397
Hello. to make sure there is no confusion, my preferred option would to be able to specify a class and get it to register itself, its superclasses, its subclasses, and all of their members, in a recursive way.
If that is not possible, then I think we should provide an option to register several classes at once, without listing them individually. this could be done by listing packages and supportin

[2021-10-05 16:42] #16602 closed

[2021-10-05 16:55] gsmet commented on #20545
Something like:
[code]
should work.

[2021-10-05 16:56] #20541 closed

[2021-10-05 17:08] gsmet commented on #20397
I think you should probably adapt `ReflectiveHierarchyBuildItem`. It mostly does what you want but would need to be adapted for serialization. It doesn't handle exceptions though.

[2021-10-05 18:46] machi1990 commented on #20538
I think it could be related to the way we schedule jobs for quartz and it is to be expected. If the trigger expression changes, the new trigger is not rescheduled: current we only schedule new jobs: https://github.com/quarkusio/quarkus/blob/bdce87ffc26bf6d82055d813e76775c067c54646/extensions/quartz/runtime/src/main/java/io/quarkus/quartz/runtime/QuartzScheduler.java#L198-L202

So the bug is expect

[2021-10-05 19:32] michalszynkiewicz commented on #19042
yes

[2021-10-05 19:32] #19042 closed

[2021-10-05 21:24] Felk commented on #20545
Oh boy, thank you! I read over all the configurations like three times and still completely missed that, I'm blind

[2021-10-05 21:47] jsebtes commented on #15826
I updated my test project to the last version of quarkus (2.2.3), and the problem still seems to exist.
=> https://github.com/jsebtes/context-propagation-reproducer/tree/quarkus2.2.3

I'm new to Quarkus, and I must admit that I didn't quite understand your initial answer :-)
How can I help ?

[2021-10-06 01:48] mohansidda commented on #20532
HI, this is the update I received from the customer:

Tried out the configuration below wherein “no user” (sc1). The app is able to connect using the user “default” (sc2).

For Redis there are is an ACL authentication introduced with 6.x. This is based on having multiple roles (sc3).

With Redis Quarkus Library, would like to understand what are the application properties or configurations to use

[2021-10-06 05:19] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1310495654

[2021-10-06 06:10] triceo commented on #11563
@Christopher-Chianelli is looking into this failure.

[2021-10-06 07:05] michael-simons commented on #19412
Hi @sandronm this is now mixing in OGM for good measures, right?
Anyhow: If you pass in configured instance of `org.neo4j.driver.Driver` to OGM's `org.neo4j.ogm.drivers.bolt.driver.BoltDriver` it will be used as is, we are not doing anything with it.

The message you receive does happen as
- you used `neo4j+s` as protocol
- Quarkus overrides this

-> Things fail.

Please use `neo4j` as protocol an

[2021-10-06 07:37] michalszynkiewicz commented on #20543
The problem is that until someone subscribes to the channel, that is, there is some client connected to the SSE endpoint, the consumer is not set for the messages.

[2021-10-06 08:13] ia3andy opened #20551 "Hibernate & Hibernate with Panache codestart (and their reactive siblings)"
### Description

As hibernate is one of the most used extension, we should find a good codestart for it (in java and kotlin)

### Implementation ideas

We should first discuss the content of this codestart. The goal is to have code:
- that is re-used 99% of the time to get started with the extension (nearly no deletion)
- that is compatible with all other compatible extensions codestarts

What is

[2021-10-06 08:20] denis-anisimov opened #20552 "QuarkusIntegrationTest fails with ClassCastException"
### Describe the bug

`@QuarkusIntegrationTest` may fail with the following exception

[code]

### Expected behavior

No exception, test just work.

### Actual behavior

The exception is thrown, test is failing.

### How to Reproduce?

IT test annotated with @QuarkusTest works without any problems but it executes everything in the same JVM.
Once it changed to `@QuarkusIntegrationTest ` _sometimes_

[2021-10-06 08:21] ia3andy opened #20553 "SmallRye Health codestart (in java and kotlin)"
### Description

As SmallRye Health is one of the most used extension, we should find a good codestart for it (in java and kotlin).

### Implementation ideas

We should first discuss the content of this codestart. The goal is to have code:
- that is re-used 99% of the time to get started with the extension (nearly no deletion)
- that is compatible with all other compatible extensions codestarts

W

[2021-10-06 08:26] ia3andy opened #20555 "Rest Client codestart (in java and kotlin)"
### Description

As Rest Client is one of the most used extension, we should find a good codestart for it (in java and kotlin).

### Implementation ideas

We should first discuss the content of this codestart. The goal is to have code:
- that is re-used 99% of the time to get started with the extension (nearly no deletion)
- that is compatible with all other compatible extensions codestarts

What

[2021-10-06 08:27] ia3andy commented on #20555
@evanchooly do you want to have a look into this (It shouldn't take more than 1h), I can assist you by all means :-)

[2021-10-06 08:43] michalszynkiewicz commented on #20543
@MintakaB you can make it work e.g. with:
[code]

[2021-10-06 08:50] MartinX3 commented on #16785
In my case just using
- "io.quarkus:quarkus-jdbc-postgresql"
- "io.quarkus:quarkus-hibernate-orm-panache-kotlin"
- PanacheRepositoryBase<YourEntityClass, UUID>
- kotlin data classes as Entities

So having a not reactive database access layer under the service layer while having resteasy with jackson as reactive components in the api layer.

[2021-10-06 08:52] ia3andy commented on #20551
IMO, we should make a choice between the active record pattern or the repository pattern for the codestart.

I would just generate something like this:
[code]

Also regarding specific examples (transactions, ...), IMO this is the role of the guide and the quickstarts.

[2021-10-06 08:53] nenros commented on #16785
you can still use java reactive version, it needs bit more code, but it should work

[2021-10-06 08:53] Sanne commented on #20551
+100 would be awesome to have this.

I'm not sure however about being able to suggest some code which is 99% if cases not deleted: let's discuss some suggestions

**An example entity**
We could have an example entity but this would most likely get deleted / replaced. Could still be useful as one might rename the entity and start from there?
At least it would highlight that having an entity in such

[2021-10-06 08:57] coiouhkc commented on #20538
I've built the partial `999-SNAPSHOT` with `mvn install -DskipTests -am -pl :quarkus-quartz`, replaced `quarkus-quartz` version in the guided application and it worked like a charm:
* restarting with updated `application.properties` worked and updated the cron definition in the DB
* restarting with updated `application.properties` and additional ENV took proper precedence and updated the cron defi

[2021-10-06 08:59] geoand commented on #20552
Thanks for reporting.

Can you attach a sample project that exhibits this behavior? Asking because I have personally never seen this...

[2021-10-06 08:59] MartinX3 commented on #16785
yes, especially the null handling.

[2021-10-06 09:00] ia3andy commented on #20551
I think renaming is different than deleting, and it's easier to rename and start from it than creating a new one. We can't have code that is not changed at all, but we should just be as close as possible.

I think we could also have this with just one `Something`? We need to think how to deal with different extensions providing imports.. can they have different name maybe?

I am not familiar with

[2021-10-06 09:12] Sanne commented on #20551
Ok yes but I see some overlap. So if my application is using *only* `quarkus-hibernate-orm` then you should have those injection points, but if it's using both `quarkus-hibernate-orm` and `quarkus-hibernate-orm-panache` (excplicitly or implicitly: N.B. that `quarkus-hibernate-orm-panache` depends on `quarkus-hibernate-orm`) then you probably want to show the "Panache Way" of doing things.

You rem

[2021-10-06 09:28] ia3andy commented on #20551
We can't decide wether we create a file or not depending on the selected extensions, but we can decide the content of a the same file (using qute):
`input.selected-extensions` is already available as data in the codestart qute templates as a set of `groupId:artifactId`

[2021-10-06 09:30] Sanne commented on #20551
@ia3andy sounds great :)

[2021-10-06 09:54] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1310506301

[2021-10-06 09:58] denis-anisimov commented on #20552
yeah, I understand.

I think I know the reason....
I forgot to change `QuarkusTest` in one of our ITs to `@QuarkusIntegrationTest` (in fact I didn't, it's just merge conflict consequence).
So almost all the tests are executed as `QuarkusIntegrationTest` but one is executed as a `QuarkusTest`.
As a result for one test the new JVM is not started but it's executed in the same but for other tests new

[2021-10-06 10:03] geoand commented on #20552
This is not possible because `@QuarkusIntegrationTest` needs access to the _built_ Quarkus application, thus these tests need to be run by maven failsafe (or to be more precise, it needs to be run in the `verify` phase).

[2021-10-06 10:03] #20552 closed

[2021-10-06 10:04] denis-anisimov commented on #20552
Sorry, I don't have the localized simple project for this.
It happened here https://github.com/vaadin/quarkus within the ITs: https://github.com/vaadin/quarkus/tree/master/integration-tests/development
this commit should fix the problem : https://github.com/vaadin/quarkus/pull/39/commits/74ef495ee4b8ad3b8e9b2bd277062909a1ad9aad
but this PR without this commit is failing : https://github.com/vaadin

[2021-10-06 10:13] sberyozkin opened #20556 "Document WebSockets Identity propagation"
### Description

Document the new WebSockets identity Propagation feature

### Implementation ideas

_No response_

[2021-10-06 10:34] geoand commented on #20552
We can certainly try to improve the error message to help users in the futrue.

Thanks for the information1

[2021-10-06 12:14] radcortez commented on #20496
No problem at all so far. It is clear. I'm only concerned about the different ways that it behaves depending on the compiler flags, but I'm guessing that we can just ignore that and provide the bridge to the generated defaults if one exists.

[2021-10-06 12:22] ia3andy commented on #20553
@jmartisk do you mind proposing the content of a starter HealthCheck class here so we can discuss it already?

Readiness, Liveness? both? check name, maybe `MyHealthCheck`?

[2021-10-06 12:29] jmartisk commented on #20553
If we want to keep it ultra simple, then how about...

[code]

[2021-10-06 13:37] meeprophone commented on #13621
We are using Quarkus (loving it) with Gitlab CI and would like to deploy branches for testing to specific URLs on disposable infrastructure. We are essentially bound to a single set of hostnames for the time being, so we need to use the root-path as a kind of context path to identify the deployed artifact to the test team and automated test infrastrucutre. Sadly this means we need to build a separ

[2021-10-06 13:47] michael-simons commented on #19412
I added a fix for this, @sandronm . Thanks for pushing it, tbh I find it annoying myself.

[2021-10-06 13:52] Karm opened #20565 "Enable watermarking images, fonts rendering and all JDK supported image formats in AWT Extension"
### Description

Use case:
 - watermarking images
 - drawing, server side generated graphics

Status:
 - polishing an update into a PR
 - wrapping up a new quickstart to open a PR in https://github.com/quarkusio/quarkus-quickstarts too

WIP:
Done means there is a suite of rigorous tests exercising the relevant code paths, e.g. for encoders only it's 964 test cases of image type:image format:colour

[2021-10-06 13:58] Karm commented on #20565
@galderz @jerboaa The issue to bind the upcoming PRs to....

[2021-10-06 14:10] evacchi commented on #19868
I am looking into this. For one it looks like the OP is not excluding `quarkus-resteasy-jackson`. The PR makes both optional https://github.com/kiegroup/kogito-runtimes/pull/1643

[2021-10-06 14:20] Christopher-Chianelli opened #20566 "Generic Syntetic Bean cause ambigious type resolution when none exists"
### Describe the bug

When a Synthetic bean for a generic type is created like this:
[code]
an "ambigious type resolution" occurs within ArC, with the same synthetic bean showing up twice.

Thus, it is impossible to inject generic Syntetic beans, since with the types argument, it cause ambiguity, and without it, it cannot find an instance.

### Expected behavior

[code]

causes `myGenericInterface

[2021-10-06 14:36] djnalluri commented on #9987
The extra compiler errors you're seeing appear to be due to added static final fields since the issue was filed. The two methods in the reproducer are so similarly named that these generated fields overlap. Removing or renaming them to not be so close will leave only the errors described in this issue. I have updated the reproducer to remove the overlap.

[2021-10-06 15:39] loicmathieu commented on #20551
Very important, for Panache Quarkus **must** include both active record and repository pattern, we already had a long discussion about it and the status quo is that both pattern are as important inside Quarkus so both must be treated equally.

People may personnaly favor one for another on blog post and talks, but inside Quarkus code/guide/quickstart/etc... they must be treated equally.

[2021-10-06 16:12] jeffmaury opened #20571 "quarkus:help fails"
### Describe the bug

Running mvnw quarkus:help generates an error

### Expected behavior

Show generated help info

### Actual behavior

Generates the following error:
[code]

### How to Reproduce?

Steps:

1. generate a maven quarkus project
2. run mvnw quarkus:help

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjdk version "11.0.12" 2021-07-20 OpenJDK Runt

[2021-10-06 16:15] Sanne commented on #20551
hi @loicmathieu ! Yes I agree we need to showcase both options, but also it doesn't make much sense to mix both approaches in the same app?

That would send the wrong message; it's confusing. Personally I don't care which one we show, but we need to pick one.

[2021-10-06 16:22] loicmathieu commented on #20551
But really, this point have been extensively discussed and I keep hearing "the Quarkus teams promote the entity pattern" or remarks like. So I must incist, both needs to be provided and the user choose wich one best fit its needs.

@FroMage WDYT ?

[2021-10-06 16:26] ia3andy commented on #20551
I am not a fan of having both together in the same app & we don't have a way to let the user decide beforehand..

We could have a comment saying that another option is equaly available and to refer to the guide for more info

[2021-10-06 16:26] Sanne commented on #20551
That's not accurate. It's the personal preference of @FroMage , and possibly a few others. But there's many other team members who prefer the repository pattern.

My own personal preference is for the repository pattern, but I have to admit that in such case the benefit of using `Panache` vs using just `EntityManager` is less clear, so I don't feel like it's a big deal to show the entity pattern m

[2021-10-06 18:55] geoand commented on #14051
I had to revert the "rebase" onto RESTEasy Reactive.
I will hopefully get back to it before 2.5

[2021-10-06 20:13] mraible opened #20575 "Quarkus v2.3.0.Final: java -jar results in no main manifest attribute"
### Describe the bug

Create a new app with the following command:

[code]

Then, package it as a jar:

[code]

Then, run it:

[code]

Result is:

[code]

### Expected behavior

The last time I tried a similar command with v1.8.1, it worked fine:

[code]

With 1.8.1, there's also a quarkus-1.0-SNAPSHOT-runner.jar produced. If I try `java -jar` on the non-runner version, I get the same error.

I tr

[2021-10-06 20:28] mraible commented on #20575
RTFM @mraible. New command is `java -jar target/quarkus-app/quarkus-run.jar`

[2021-10-06 20:28] #20575 closed

[2021-10-06 20:30] #20332 closed

[2021-10-06 20:52] #20531 closed

[2021-10-07 06:03] geoand commented on #12111
@michalszynkiewicz this build failed due to the grpc issue

[2021-10-07 07:23] #20538 closed

[2021-10-07 07:32] #20543 closed

[2021-10-07 08:18] deodorel commented on #20444
In the end the issue i had was related to this https://github.com/quarkusio/quarkus/issues/20444
basically we passed the maven.repo.local as a relative path, and in the maven module the surefire plugin was building the path to the local repo as absolute path of the module + relative repo location, which was wrong. I solved it by passing an absolute path to the maven command line switch.
Big up to

[2021-10-07 08:34] tarilabs opened #20580 "Funqy declares multiple scope type annotations: javax.enterprise.context.ApplicationScoped, javax.enterprise.context.Dependent"
### Describe the bug

I follow the Quarkus Funqy guide here: https://quarkus.io/guides/funqy#funqy-di
for injecting my other bean/services into a simple Funqy demo.

If I use `@ApplicationContext` annotation on the funqy bean,
in a similar way as shown in the docs, at the time of writing this issue report is:
[code]

I actually get:
[code]

but if instead I use simply:
[code]

notice the commented

[2021-10-07 09:01] mkouba commented on #20566
@Christopher-Chianelli thanks for the report! This is very likely a regression introduced by [this optimization](https://github.com/quarkusio/quarkus/pull/20470), i.e. it should work fine in 2.3.0. I'll send a PR shortly.

[2021-10-07 10:24] FroMage opened #20583 "Qute: error reporting needs to be more concise"
### Describe the bug

I'm getting Qute type-safe template errors displayed like this:

[code]

Given that I have hundreds of these, it would be more convenient to have a more concise way to list errors, such as:

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `ja

[2021-10-07 10:36] #20444 closed

[2021-10-07 13:11] ia3andy commented on #20551
@loicmathieu it would be nice if you could paste the target files here for both
Hibernate & Hibernate with Panache, at least we can keep discussing..

[2021-10-07 13:54] #19388 closed

[2021-10-07 13:54] #20275 closed

[2021-10-07 14:12] gemmellr opened #20591 "Compilation is broken on main"
### Describe the bug

The main branch fails to compile as of 99a4d06dfeeefa5dfa4eef58b955a73d51ebdbdf

[code]

### Expected behavior

It compiles.

### Actual behavior

It doesnt compile.

### How to Reproduce?

mvn clean install -DskipTests

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different from Java)

_No response_

[2021-10-07 14:58] #20591 closed

[2021-10-07 15:36] #20553 closed

[2021-10-07 16:59] ChetRHosey opened #20594 "Allow trusted certificates to be specified at runtime by keystore and multiple PEM files"
### Description

According to https://quarkus.io/guides/native-and-ssl#the-truststore-path,

But trust settings can be environmental. Examples:

- A corporate proxy may do MITM inspection of HTTPS traffic and re-sign with an organizational CA
- An organizational CA may be used on-premise
- An OpenShift cluster can provide service certificate with its own internal CA

Making this a build-time-only

[2021-10-07 17:16] iocanel commented on #19452
This justifies the warnings and the behavior. We need to check how the service account token is meant to be read from 1.21 onward and update the client.

[2021-10-07 17:26] lorenzjosten opened #20595 "Quarkus plugin dependency not found when used as external plugin in a Gradle precompiled script plugin"
### Describe the bug

I am currently developing a gradle multi-project with multiple quarkus microservices. In order to bundle my quarkus dependencies I use a precompile script plugin with kotlin-dsl as described [here](https://docs.gradle.org/current/userguide/custom_plugins.html#sec:precompiled_plugins). Executing the quarkusDev task for a microservice subproject fails with

Unable to find quark

[2021-10-07 18:03] #10212 closed

[2021-10-07 19:11] #20458 closed

[2021-10-07 19:52] yreifschneider opened #20600 "RestEasy Classic: Response is chunked although Content-Length set"
### Describe the bug

Given a Quarkus project with RESTEasy-Classic extension and the following JAX-RS Resource

[code]

I expect that I can use this resource to download the generated bytes with a browser and see the download progress. The browser progress indicator is dependant on the Content-Length header. As this resource is larger than the Quarkus buffer size, the response is chunked and I do

[2021-10-07 19:57] liuzqt opened #20601 "jcabi-aspects not working"
### Describe the bug

I tried to add `jcabi-aspects`(https://aspects.jcabi.com/index.html) to my project (a simple one based on https://github.com/quarkusio/quarkus-quickstarts/tree/main/getting-started),  adding `Loggable` annotation to my class and expect it to log every invocation.

### Expected behavior

_No response_

### Actual behavior

didn't log anything

### How to Reproduce?

based on h

[2021-10-07 19:59] glefloch commented on #20595
Thanks for reporting this @lorenzjosten I think this is a duplicate of #20531 which has been fixed yesterday and should be available in the next quarkus version. If the issue persists you can reopen this issue.

[2021-10-08 03:46] KienDangTran opened #20606 "NullPointerException when no file is pass to to rest client reactive"
### Describe the bug

When using rest client reactive with multipart formdata, if I don't pass any file then a NPE will occur
[code]

the request object model look like this
[code]

end the rest client
[code]

### Expected behavior

if there is no file, it should still send data successfully

### Actual behavior

throw NPE

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

D

[2021-10-08 04:10] #20566 closed

[2021-10-08 04:57] phillip-kruger commented on #20494
Hi @radcortez thanks for your investigation. Can you explain why ?

[2021-10-08 05:22] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/1319009235

[2021-10-08 06:45] Sgitario opened #20610 "Regression: Can't inject beans annotated with `@ConfigProperties`"
### Describe the bug

Having:

[code]

And this being in use in:

[code]

The app fails to start because says that can't find BulkOfPropertiesConfiguration:

[code]

This is caused by this change: https://github.com/quarkusio/quarkus/pull/19965/commits/6378f80f1c4ff0ad9a50e1cc9944163e2a8eeeeb

I tried to annotate the BulkOfPropertiesConfiguration with `@Unremovable` and also remove the `@Any` but

[2021-10-08 07:15] baiglin opened #20612 "Smallrye Reactive Messaging MetricDecorator disabled when micrometer extension is used"
### Describe the bug

I noticed that the MetricDecorator is vetoed in case Micrometer is enabled https://github.com/quarkusio/quarkus/blob/main/extensions/smallrye-reactive-messaging/deployment/src/main/java/io/quarkus/smallrye/reactivemessaging/deployment/SmallRyeReactiveMessagingProcessor.java#L346

Which is strange since there is an adapter layer for Eclipse Profile Metrics available.

### Expe

[2021-10-08 07:36] michalszynkiewicz commented on #20555
I think it should focus on REST Client Reactive, we can do REST Client too later, but we want to attract people to the reactive space more now.

For me the problematic part is having some API to call from the client, IMO we have the following options:

- use wiremock in a test and leave the client unconfigured for other profiles, it won't let users play with the app in dev mode but it will be the

[2021-10-08 07:47] geoand commented on #20601
This is not something that is supported. For simplified logging, check out https://quarkus.io/guides/logging#logging-with-panache

[2021-10-08 07:47] #20601 closed

[2021-10-08 07:55] ia3andy commented on #20555
@michalszynkiewicz yes we could use this endpoint: https://code.quarkus.io/api/extensions

For the data, I would either suggest using a flexible structure, or use an internal data class so we stay with one file per codestart.

Regarding usage, a test is fine, a simple comment in the interface saying how to inject it or configure would be fine too IMO.

To decide, we should find what is the closest

[2021-10-08 07:57] ruromero opened #20613 "gRPC Server not started in tests for subclassing in different library"
### Describe the bug

Given a project including the proto files and a different project with an abstract base implementation of the Service interface. Then a 3rd project implements such abstract class. For that 3rd project depending on the library with the abstract base implementation unit tests don't start the gRPC server. `quarkus:dev` does start it.

If we move the abstract base service to eith

[2021-10-08 08:00] geoand commented on #12990
https://github.com/quarkusio/quarkus/pull/20453 should have fixed this. If not, please reopen

[2021-10-08 08:00] #12990 closed

[2021-10-08 08:12] #12312 closed

[2021-10-08 08:23] #11587 closed

[2021-10-08 08:32] geoand commented on #10249
Furthermore, this is not an issue in the reactive rest client, so I'll close this.

[2021-10-08 08:35] #10159 closed

[2021-10-08 08:47] #20067 closed

[2021-10-08 08:54] lthasle opened #20615 "@AroundInvoke not invoked on a classic resteasy endpoint in v 2.3.0.Final"
### Describe the bug

@AroundInvoke not invoked on a classic resteasy endpoint in v 2.3.0.Final
Works fine in 2.2.3.Final

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/.40AroundInvoke.20not.20invoked.20on.20a.20classic.20resteasy.20endpoint.20in

### Expected behavior

@AroundInvoke is invoked on a classic resteasy endpoint

### Actual behavior

@AroundInvoke is NOT invoked on

[2021-10-08 09:09] test210820 opened #20617 "what about provides gradle tasks like these?"
### Description

[code]

### Implementation ideas

_No response_

[2021-10-08 09:31] Karm commented on #12393
@geoand The update to AWT extension I have in making as a part of #20565  already covers a lot, glyphs included. I will add this to the test suite.
 The usage of JFreeChart itself might require a separate extension though.

[2021-10-08 09:33] cescoffier opened #20618 "Config value evaluation failing when the placeholder value is missing"
### Describe the bug

In an application using kubernetes-config, I have a prod profile with the following configuration:

[code]

The database-user and database-password are provided by a Kubernetes secret at runtime.
However, a simple `mvn package` throws:

[code]

### Expected behavior

It should not fail.

### Actual behavior

It fails since 2.3.0.

### How to Reproduce?

Clone https://github.c

[2021-10-08 09:41] cescoffier commented on #20537
How do you add the header to the record?
We only propagate the original headers, and not the one added to the metadata.

[2021-10-08 10:03] mkouba opened #20621 "Qute - validate expressions that start with a namespace coming from a TemplateData annotation"
### Description

This is a follow-up of https://github.com/quarkusio/quarkus/pull/20620.

We should probably also consider template extension methods with a namespace...

### Implementation ideas

_No response_

[2021-10-08 10:42] rsvoboda commented on #20610
I have noticed too, thanks for quick reporting @Sgitario

[2021-10-08 11:08] galderz commented on #20565
I'm happy with the proposal. I think having the native image configuration options would be useful too, to avoid relying on implicit local environment, or docker image specific, setups.

[2021-10-08 11:09] cescoffier commented on #20618
/cc @radcortez

[2021-10-08 11:32] phillip-kruger commented on #20494
Thanks @radcortez , what I do not get is that some mapping are working... and others not. Can you help me understand that ?

[2021-10-08 11:47] geoand commented on #10366
@iocanel is there anything left to do on this?

[2021-10-08 11:56] sberyozkin opened #20622 "Improve Security Search Experience in Quarkus Guides"
### Description

Typing `security` in the [Quarkus guides](https://quarkus.io/guides/) search box finds 5 `Security` guides (`Security Overview` and 4 identity provider guides - `Properties`, `Ldap`, `Jpa` and `Jdbc`), one `Compatibility` guide, `Spring Security` is also found. No other guides are visible.

Curiously, if one starts typing `security`, and reaches `secur`, 3 more guides become visib

[2021-10-08 11:57] michalszynkiewicz commented on #11358
Maybe `@StorkService` would actually be better. It could be used for both gRPC and Rest Client Reactive (and any new integrations).

@cescoffier you once mentioned a simplified config, is this what you had in mind?

[2021-10-08 11:59] michalszynkiewicz commented on #20613
@ruromero it turns out the `grpc-base` module has `beans.xml` in the wrong place, it should be in `src/main/resources/META-INF`.

Special thanks goes to @mkouba who found the problem :)

[2021-10-08 12:00] gastaldi commented on #12079
I was thinking of a couple of properties in the application.properties, to be able to initialize the KubernetesClient with an impersonated user and group, but since this can be a request-scoped change, maybe the developer can perform that with an inteceptor/filter somehow.

An annotation would be interesting to have but I think documenting how to impersonate users in the Kubernetes Client guide ma

[2021-10-08 12:18] danieloh30 opened #20624 "Need to publish Neo4J console for Dev Service"
### Describe the bug

When a Neo4J database stands up by Quarkus dev service, the Neo4J console(http://localhost:7474/browser) can't be accessible since the 7474 port wasn't published. If I run the Noe4J container manually with "--publish=7474:7474", I can access the console.

### Expected behavior

The web console can be accessible via http://localhost:7474/browser/

### Actual behavior

The web

[2021-10-08 12:32] smil2k commented on #19447
@gastaldi We will try to make it work, if it requires extra efforts I'm intending to do that and then I'll ask the author to move it to Quarkiverse

[2021-10-08 12:35] sberyozkin opened #20625 "Provide Hierarchical Guides View"
### Description

Currently 18 guides are shown as square boxes in the `Security` category at https://quarkus.io/guides/. To those who are new to Quarkus it can be overwhelming and possibly confusing.

If users were able to switch to a `Hierarchical View` then for some  users it would be of help, for example, they'd see
`Core`/`Security`/`Web` etc, click on `Security` and see `Security Overview`/`O

[2021-10-08 13:18] xasx commented on #6531
@kvnb93 looks like there's a `-c` somewhere it does not belong

maybe disclose your `.gitlab-ci.yml` should you not find it

[2021-10-08 13:26] sberyozkin opened #20627 "Create Getting Started With Security quickstart"
### Description

Right now it is not clear for new users where to start from when it comes to Security, while the `Security` overview page does offer some guidance it is not enough.

### Implementation ideas

I believe we should refocus the `Security with JPA` quickstart into a `Getting Started With Security` quickstart - the users should be able to go through it and have a simple endpoint protect

[2021-10-08 13:29] #20571 closed

[2021-10-08 14:02] xasx commented on #6531
That is what I suspect as well. Some kind of special configuration, I guess.

[2021-10-08 14:32] andreas-repp opened #20629 "Cannot read body as String from RestResponse"
### Describe the bug

I'm trying to use the RestResponse<T> with the rest client with Quarkus 2.3.0.

If you do `Response.readEntity(String.class)`, you can read the whole body as a `String`. This is interesting in the case of an error, where the API just prints some message and I want to log that. However, when I use `RestResponse<SomeDto>.readEntity(String.class)`, I get a `ProcessingException`

[2021-10-08 14:33] michael-simons commented on #20624
(just to be clear, our driver is completely independent from the browser console and browser console uses the JavaScript version of the driver to speak with the db, so it's a bit more than just exposing the browser port and hope things work…)