[2021-02-23 00:15] #14710 closed

[2021-02-23 00:38] radcortez commented on #11475
Hi @nbuesing. I'm sorry for this very late reply. I think this issue got lost somewhere (or at least I didn't notice it).

This is related with https://github.com/quarkusio/quarkus/issues/14847. This is now supported with SmallRye Config @ConfigMapping, so I will consider there is an option to support the expected behaviour (even if it requires to use a different API).

[2021-02-23 00:38] #11475 closed

[2021-02-23 00:58] radcortez commented on #13423
Related with https://github.com/eclipse/microprofile-config/issues/475

[2021-02-23 03:02] #15242 closed

[2021-02-23 03:07] #14650 closed

[2021-02-23 05:31] #15208 closed

[2021-02-23 05:32] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/591477453

[2021-02-23 06:10] alkuit commented on #14515
Just tested it, works like a charm. Thank you!

[2021-02-23 06:22] geoand commented on #14515
Thanks folks!

I'll close this issue as fixed

[2021-02-23 06:22] #14515 closed

[2021-02-23 06:31] u6f6o commented on #15235
I wrote a service that performs some computation based on the injected properties and the input parameters provided in the service method. This computation needs to be performed only once per input parameter variation. As I don't need to compute it over and over again, I annotated the service method with the `@CacheResult` annotation and now I wanted to check, if the mock for the config properties

[2021-02-23 06:38] geoand commented on #15235
The reason mocking doesn't work in this case is because the beans created by using `@ConfigProperties` are marked as `Singleton`.

We definitely can make it configurable to allow `@ApplicationScoped` instead of `@Singleton`.
But indeed, what @radcortez makes more sense and should probably be preferred.
What do you think?

[2021-02-23 06:53] geoand commented on #15008
The problem is that the way you have constructed the matching paths, when `http://localhost:8080/e/1` does not return the image.

[2021-02-23 06:53] #15008 closed

[2021-02-23 06:56] #15221 closed

[2021-02-23 07:22] u6f6o commented on #15235
👍  for me it's no show-stopper if we are not able to mock the config properties class.

[2021-02-23 08:35] metacosm commented on #15250
A workaround should be available in Fabric8 kubernetes-client 5.1, which you can use by putting the `kubernetes-client-bom` before the `quarkus-bom` in your `dependency-management` section of your pom file. The fix might not work in all situations, though. Could you please give it a try and see if it addresses your issue, @lkrzyzanek?

[2021-02-23 08:51] gsmet commented on #15250
@metacosm how serious is this issue? Should I backport the 5.1.0 upgrade?

[2021-02-23 09:01] lkrzyzanek commented on #15250
Workaround works.

pom snippet:
[code]

[2021-02-23 09:17] metacosm commented on #15250
Thanks for checking.

[2021-02-23 09:42] geoand commented on #15235
I'll go ahead and close this for now as `won't fix`, but let's keep it in mind if needed for the future

[2021-02-23 09:42] #15235 closed

[2021-02-23 10:01] aymen94 commented on #12286
Same problem.

[2021-02-23 10:16] metacosm commented on #15250
I'm trying to figure out what's the best way. Ideally, we'd release a 5.1.1 with a better fix and backport this.

[2021-02-23 10:24] karesti commented on #7678
@pjgg this pod deploy worked! I used the scheduler and websockets extension (if this might be an issue)

[2021-02-23 10:25] karesti commented on #7678
I will test the deployment in another way

[2021-02-23 10:29] karesti commented on #7678
@pjgg So I tested using deployment config and 2 pods and works as well. Might the scheduler or websockets extensions be related?

[2021-02-23 11:59] dinesh-monickaraj commented on #12168
Is the java.lang.NoClassDefFoundError while using @DynamoDbBean on quarkusDev mode  has any workaround ? Anybody have any suggestions ?

[2021-02-23 12:30] ia3andy commented on #15265
Ok so it hasn't changed thanks.. moved..

[2021-02-23 12:48] nmcl commented on #15266
How is this different than https://github.com/quarkusio/quarkus/issues/4399

[2021-02-23 13:01] gastaldi commented on #15266
Looks like it's a duplicate. I'll close this one

[2021-02-23 13:01] #15266 closed

[2021-02-23 13:07] zhfeng opened #15267 "Jdbc-h2 throws com.oracle.svm.hosted.substitute.DeletedElementException during native image building"
**Describe the bug**
This issue come across https://github.com/apache/camel-quarkus/pull/2272 when using the jdbc-h2 as an test datasource resource. The native image building throws the analyist errors

[code]

**Expected behavior**
native image builds should successfully.

**Actual behavior**
native image building is failed with analyist erros.

**To Reproduce**

**Configuration**
[code]

**Scree

[2021-02-23 13:20] dinesh-monickaraj commented on #14012
Yes. It is still not working. It have the same issue with Kotlin 1.4.20 and Quarkus 1.12.0.Final.

[2021-02-23 13:53] michalszynkiewicz commented on #9324
For non-mutiny usage, the following works:
[code]

Mutiny services don't get responseObserver as parameter, it should be doable to add this with an interceptor

[2021-02-23 13:55] ppatierno opened #15269 "java.util.NoSuchElementException: SRCFG00011: Could not expand value IFS+x in property BASH_FUNC__module_raw%%"
I was working with my Quarkus application and at some point (maybe som OS update? I am on Fedora), I started to get this error:

[code]

[2021-02-23 14:14] maxandersen commented on #15269
looks related to this fix https://github.com/quarkusio/quarkus/issues/15269

is it blocking you or is it just when you go to i.e. /q/dev config ?

[2021-02-23 14:30] ppatierno commented on #15269
my application doesn't start actually. Upgrading to 0.12.0.Final doesn't help.

[2021-02-23 14:58] maxandersen commented on #15269
to reproduce:

[code]

this gives me the error when using 1.11.3, but not on 1.11.0

[2021-02-23 15:05] Andro999b opened #15271 "GraphQL mutiny CompositeException instead of custom ErrorCode"
**Describe the bug**
When using mutiny api with  smallrye-graphql its not allow you to use custom ErrorCode

**Expected behavior**
return custom error code in response

**Actual behavior**
always return ` io.smallrye.mutiny.CompositeException`

[code]

Reproducer
https://drive.google.com/file/d/1VEHmO6_spF8-QhPsBTUvHIJESt3KiAkF/view?usp=sharing

Sample code
[code]

console output:
[code]

**Enviro

[2021-02-23 15:10] Faboli7 opened #15272 "Custom ExceptionMapper for WebApplicationException or subclasses doesn't work"
**Describe the bug**
Hi,

According to the respective documentations, rest-client provides a default `ResponseExceptionMapper` that will transform any response with status >= 400 into a `WebApplicationException`.
Jax-rs on its side, provides a default `ExceptionMapper` for `WebApplicationException` that will convert them into the appropriate response.

This means that in a project using both, if a

[2021-02-23 15:16] Andro999b commented on #15271
@phillip-kruger I think problem here in `UniDataFetcher.invokeAndTransform`. Inside `transform` section it throws wrapped errors. Because its actual retrow exception instead of flatMap it to failure reactive stream. Mutiny operator do wrap re trowed exception with `CompositeException`. I am sure `UniDataFetcher` need to be rewrited to not throw but map errors

[2021-02-23 15:31] gastaldi commented on #10922
Closing as this should be fulfilled by @aloubyansky's work in #12422

[2021-02-23 15:31] #10922 closed

[2021-02-23 15:37] zhfeng commented on #15267
This should works by GraalVM 21 serialization support.

[2021-02-23 15:37] #15267 closed

[2021-02-23 15:50] pawoolley opened #15275 "OpenAPI/Swagger properties not behaving as expected"
**Describe the bug**

In this [sample-project.zip](https://github.com/quarkusio/quarkus/files/6029778/sample-project.zip), I am trying to set it up so that:

1. The `openapi` and `swagger` urls are not enabled by default.
2. The `openapi` and `swagger` urls are only enabled for the `foo` profile.
3. The `openapi` and `swagger` urls are located at `/openapi` and `/swagger` respectively (i.e. under

[2021-02-23 16:24] phillip-kruger commented on #15271
Hi @Andro999b

Thanks, I'll look at this a.s.a.p

[2021-02-23 16:26] phillip-kruger commented on #15271
Do you perhaps have a small reproducer? This might already be fix. If you can test against master, give that a go

[2021-02-23 16:32] Andro999b commented on #15271
@phillip-kruger I have checked latest code in smallrey-graphql. And dont think that it fixed. Basically bug very simple to reproduce(also can send archive with repoducer). Just look at sample code that i left in description. Also i can to fix it if need.

[2021-02-23 16:36] gsmet commented on #15271
Always easier for us if you can prepare a small archive reproducing the issue. We have a lot on our plate :). Thanks!

[2021-02-23 16:47] Andro999b commented on #15271
Here is reproducer https://drive.google.com/file/d/1VEHmO6_spF8-QhPsBTUvHIJESt3KiAkF/view?usp=sharing
I think i maybe can fix it. I can try to do this tomorrow if you need.

[2021-02-23 16:54] #15160 closed

[2021-02-23 16:56] ppatierno commented on #15269
So I downgrade to 1.11.2 and it seems to work.

[2021-02-23 16:59] sberyozkin opened #15277 "Add a dedicated section to security.adoc highlighting the differences between oidc, smallrye-jwt and oauth2 extensions"
**Description**
Some differences are already listed but they are still may not be easy to follow/enough for the users to decide which extension to use

[2021-02-23 17:27] mar9000 commented on #13103
I had a similar problem with the same workaround to solve the problem: use reflect-config.json.
While I was trying to create an extension for BoofCV I came to a point where even with a buildStep that register the class name "..... $Corner[]" (and also ".....$Corner" and many more names) the native version fired an exception saying to register the very same name for reflection. Put "..... $Corner[]

[2021-02-23 17:30] mar9000 commented on #13103
If not I would probably open another issue because this one is the only one I've found related to registration of a "classname[]" class name.

[2021-02-23 17:42] antonwiens commented on #14652
I also found out, that the service file and impl class for JAXBContextFactory are not properly registered for JAXBContext.newInstance(...), i had to additionally register the when using quarkus-jaxb

[2021-02-23 17:50] #13953 closed

[2021-02-23 17:58] #15247 closed

[2021-02-23 19:03] radcortez commented on #15269
1.12.0 was just released and contains the fix for this if you want to upgrade.

[2021-02-23 19:04] radcortez commented on #15269
@ppatierno if you are ok, I'll be closing this issue, since we already have a released version with the fix. If you disagree, feel free to reopen. Thanks!

[2021-02-23 19:04] #15269 closed

[2021-02-23 19:07] radcortez commented on #15269
Duplicate of https://github.com/quarkusio/quarkus/issues/15032

[2021-02-23 19:13] shawkins opened #15279 "kubernetes-config generated role for secrets is broad"
**Description**
quarkus-kubernetes-config generates the following role:

[code]

However following https://kubernetes.io/docs/concepts/configuration/secret/#best-practices the ability to list/watch secrets across an entire namespace is considered broadly privileged.

**Implementation ideas**
The current implementation doesn't seem to need list or watch.  It also could restrict the role to only the

[2021-02-23 20:45] cortex93 commented on #15209
Ok, glad to see its possible at runtime. Would it be possible to think about doing something at build time ?
I saw that there is a Token Propagation extension for oidc and support for OAuth2 is planned with more features like token exchange. This would be a perfect use case as it may require to specify target scope/audience for the exchange per given method/interface.

Note that, in my use case, I

[2021-02-23 20:46] #14281 closed

[2021-02-23 21:07] shawkins commented on #15279
Refined the properties file further to incorporate profiles such that things roughly behave as you would expect in dev vs. prod.

[2021-02-23 21:08] geoand commented on #15279
@iocanel I think this makes sense, what do you think?

[2021-02-23 21:47] michalszynkiewicz commented on #15209
Another option is to use interceptors, but this doesn't give such an easy access to the request context.

I'm not sure how common this use case is. Let's maybe leave it open and implement it if it gets some interest in the near future?

[2021-02-23 22:38] metacosm commented on #15250
@gsmet if all goes well, 5.1.1 should be released tomorrow. Backporting the upgrade to the 1.11 line should probably be a good idea if practical.

[2021-02-24 03:38] ligangty opened #15289 "Jacoco instrument with @QuarkusTest caused vm crash"
**Describe the bug**
Recently I'm using jacoco to do test coverage analysis together with Quarkus test framework, but I met problems when run them together in maven. It will crash the vm like below:

................................
................................
[INFO] Running org.commonjava.indy.service.repository.jaxrs.RepositoryQueryResourcesTest
[INFO]
[INFO] Results:
[INFO]
[INFO] Tests ru

[2021-02-24 03:43] ligangty commented on #15289
I also suspect it is some type of heap mem issue, so I've also tried the jvm heap params in surefire plugin like below:

 <plugin>
        <artifactId>maven-surefire-plugin</artifactId>
        <version>${plugin.surefire.version}</version>
        <configuration>
          <excludedGroups>integration</excludedGroups>
          <skipTests>${skipTests}</skipTests>
          <argLine>-Xmx4096 -XX:Max

[2021-02-24 05:33] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/594949062

[2021-02-24 05:57] iocanel commented on #15279
I don't disagree, but don't/won't we need the watch part?

[2021-02-24 07:01] geoand commented on #15279
Do we use watch for anything?
I don't think so

[2021-02-24 07:09] geoand commented on #12111
@cescoffier there was a Vert.x test failure:

[code]

[2021-02-24 07:10] geoand commented on #8593
@evacchi @phillip-kruger are you looking into the failure?

[2021-02-24 07:12] DylanSale commented on #14694
1.6.0-Alpha2 seems to resolve this issue.

The error was being cased by:
[code]

I've attached the repro in any case for 1.5.1, but I guess the answer is to wait until 1.6.0 is out before upgrading Quarkus.

[repro.zip](https://github.com/quarkusio/quarkus/files/6034032/repro.zip)

[2021-02-24 07:12] #14694 closed

[2021-02-24 07:44] wjglerum commented on #15160
@gsmet / @mkouba  could we maybe add this fix to the `1.12.1.Final` milestone? As this blocks us from upgrading our project to quarkus 1.12 at the moment.

[2021-02-24 07:45] markusdlugi commented on #15164
@gsmet, I checked in a heap dump and you are of course right - the problematic entity class is present twice, with each instance of the class being loaded with a different classloader. So seems like something in SmallRye Health leads to the old classloader leaking.

Now from my point of view, the question is: Would it make more sense to

1. Fix the classloader leak in SR Health, which would fix th

[2021-02-24 07:50] aloubyansky commented on #8593
I am wondering if it's fast-jar related.

[2021-02-24 07:50] aloubyansky commented on #8593
Hopefully I'll look into this one this week.

[2021-02-24 07:51] geoand commented on #8593
Thanks @aloubyansky. Let me know if you want me to look into something as well

[2021-02-24 08:11] pjgg commented on #7678
I am not sure, yet. Could you show me your dependencies? (maven/gradle) just to set up an scenario with the same version as you?.

When you said:

Do you mean that you use your application and the default Docker file, and works?

[2021-02-24 08:39] #15214 closed

[2021-02-24 08:49] kristijan-rusu opened #15293 "DEV UI NPE when channel not configured."
**Describe the bug**
DEV UI throws NPE when you have @Incoming annotated method without input.
**Expected behavior**
DEV UI messaging part should not expect that everything is always connected. Throughout development it can happen to have channels which are not connected to any input.

**Actual behavior**
Internal server error because of NPE.
`publisher` is null in DevChannelInfo class.

**To Repr

[2021-02-24 08:57] gsmet commented on #15293
/cc @michalszynkiewicz @cescoffier

[2021-02-24 09:03] gsmet commented on #15289
I'm not sure you'll be able to make it work with the current state of things. @stuartwdouglas worked on a `quarkus-jacoco` extension for Quarkus 1.13 (coming in ~ 1 month).

Maybe you could try our snapshots and report back? They are published here: https://oss.sonatype.org/content/repositories/snapshots/ and have the version `999-SNAPSHOT`.

[2021-02-24 09:41] ligangty commented on #15289
@gsmet I've switched to this 999-SNAPSHOT, but I got following error this time:

[INFO] --- jacoco-maven-plugin:0.8.4:restore-instrumented-classes (restore-ut) @ indy-repository-service ---
[INFO]
[INFO] --- maven-jar-plugin:2.4:jar (default-jar) @ indy-repository-service ---
[INFO] Building jar: /home/gli/workspaces/indy-repository-service/target/indy-repository-service-1.0-SNAPSHOT.jar
[INFO]
[I

[2021-02-24 09:41] evacchi commented on #8593
well I have upgraded OpenAPI to the latest version on Kogito master, but that won't fix it until we release from master

[2021-02-24 10:04] cescoffier commented on #12111
Looks like a weird timing issue. Do you know if it happens often? I've run that test 100 times on my machine, and it's all green...

[2021-02-24 10:05] gsmet commented on #15289
Did you update both the BOM and the Maven plugin and did a proper clean?

Also my understanding is that with master, you can drop the Jacoco Maven plugin and just add the `quarkus-jacoco` extension.

[2021-02-24 10:10] michalszynkiewicz commented on #15293
cc @mkouba :)

[2021-02-24 10:24] mkouba commented on #2904
In fact, this was already implemented and merged: https://github.com/quarkusio/quarkus/pull/9749

There is one minor glitch though - a health check annotated with a stereotype that has no default scope remains `@Dependent`. But that's a corner case. I'm going to close this issue and I'll send a PR to fix this glitch today.

[2021-02-24 10:24] #2904 closed

[2021-02-24 10:28] geoand commented on #12111
It is the first time I've seen it to be honest

[2021-02-24 11:26] ligangty commented on #15289
@gsmet I can confirm the plugin and BOM is using same version: 999-SNAPSHOT

For your suggestion, I've removed all jacoco deps & plugin, and added quarkus-jacoco extension through 'mvn quarkus:add-extension -Dextensions="quarkus-jacoco" '. But it reported same error after updating. I've pushed update to the  here: https://github.com/Commonjava/indy-repository-service/blob/jacoco/pom.xml

[2021-02-24 11:37] yrodiere commented on #12228
Turns out it's a bug in Hibernate ORM that can happen with any framework, not just Quarkus.

I opened a ticket ([HHH-14467](https://hibernate.atlassian.net/browse/HHH-14467)) and will submit a fix. This should resolve in Quarkus when we next upgrade the ORM dependency.

[2021-02-24 12:12] mkouba commented on #15293
Hm, I thought that an `@Incoming` method for which no matching channel exists must result in a deployment error. But that's obviously not the case. @cescoffier Is it intentional?

[2021-02-24 12:24] Max161 commented on #12168
I'm not really sure if it can help you, but with my original issue [here](https://github.com/aws/aws-sdk-java-v2/issues/2198) I solved the issue by creating a separate module (jar) only for dynamoDB mode with annotations ectl, and then imported ituse it within the original

[2021-02-24 12:29] gsmet commented on #15293
Even if it was the case, I would try to be safe in the UI. Because if things change at some point, we won't notice it.

[2021-02-24 12:37] rsvoboda commented on #11816
[code]
now compiles without error, closing

[2021-02-24 12:37] #11816 closed

[2021-02-24 12:38] gytis commented on #13307
I have recently updated `rest-data-panache` to wrap all exceptions that happened to be throw during the persistence to allow easier error mapping. And added a custom mapping for the Hibernate constraint violation exception as per https://github.com/quarkusio/quarkus/issues/14281.

I could similarly map a validation constraint violation to HTTP 400 error here: https://github.com/quarkusio/quarkus/b

[2021-02-24 12:39] shawkins commented on #15279
Currently only get is used in KubernetesConfigSourceProvider.  You could use watch if you wanted to provide auto-restart functionality - but I'm content with doing that based upon https://github.com/quarkusio/quarkus/issues/15247

To elaborate on the role/rolebinding when the namespace is set - currently only a Role/RoleBinding are created which apply only to the deployment namespace.  What's need

[2021-02-24 13:17] gustavonalle opened #15300 "Test coverage profile doesn't work"
```cd integration-tests/quartz```
```mvn clean install -Ptest-coverage```

Throws:

[code]

openjdk 11.0.10 2021-01-19
OpenJDK Runtime Environment GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06)
OpenJDK 64-Bit Server VM GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06, mixed mode, sharing)

[2021-02-24 13:33] edeandrea opened #15302 "Invoking REST endpoint with @Valid request body results in 500"
**Describe the bug**
Using RESTEasy classic or RESTEasy Reactive with Quarkus 1.12.0 trying to invoke an endpoint without passing a request body results in a 500 instead of expected 400. Not sure if this affects earlier versions or not.

**To Reproduce**
1. Run the attached application: `./mvnw clean quarkus:dev`
2. Issue HTTP `POST` to http://localhost:8080/fruits with the following attributes:

[2021-02-24 13:53] cescoffier commented on #15293
@mkouba it should fail, yes, but only on recent Smallrye Reactive Messaging.

[2021-02-24 13:54] lthasle commented on #14736
The fault still exists, with the 1.12 version also.
I guess you already know, as the issiue is not closed

[2021-02-24 13:59] phillip-kruger commented on #15275
Hi @pawoolley
Thanks for the sample app, that helps.I looked at it, and this is working for me as expected (i.e I got the expected behavior in both scenarios)

Maybe it's your browser cache ?

[2021-02-24 14:01] phillip-kruger commented on #15271
Hi @Andro999b - Thanks for the reproducer. If you want to fix it please go ahead !! SmallRye GraphQL welcomes new contributors :)

[2021-02-24 14:14] wllianwd commented on #8845
Is this broken again?

[2021-02-24 14:22] brunolmfg opened #15303 "Static Resources in devmode doesn't provide filtered ones"
**Describe the bug**
Static resources are directly provided from source project directory in dev mode and the filtering process is ignored.

**Expected behavior**
The filtered resources with interpolated Maven properties are provided by static handler for `src/main/resources/META-INF/resources` files when running in dev mode.

**Actual behavior**
The original resources without Maven properties res

[2021-02-24 14:40] loicmathieu commented on #11816
Great! Codestart FTW !

[2021-02-24 15:01] pawoolley commented on #15275
Hi @phillip-kruger
Thank you for the quick reply and for taking a look.  You're right.  It must have been my browser cache 🤦‍♂️
I retried this using an incognito tab and it behaved as expected.  Rookie error.

[2021-02-24 15:01] #15275 closed

[2021-02-24 15:02] yrodiere commented on #11929
From what I understand, the problem is in Agroal, specifically in https://github.com/agroal/agroal/blob/master/agroal-narayana/src/main/java/io/agroal/narayana/LocalXAResource.java: methods of that class should pass an error code to the constructor of `XAException` instead of an error message, so that Narayana interprets the exception correctly.

I'm not sure how Agroal would pick the error code,

[2021-02-24 15:04] phillip-kruger commented on #15275
No problem :) Glad it's working now :)

[2021-02-24 15:14] geoand commented on #15302
I opened a PR to fix this in RESTEasy Reactive.

RESTEasy Classic actually treats no input as null and passes that along the invocation chain. I really don't think that is correct...

[2021-02-24 15:18] edeandrea commented on #15302
If `@Valid` is on the body then a valid body should be supplied no?

[2021-02-24 15:19] geoand commented on #15302
Well, define valid :)

Because `@Valid` only means valid according to the javax.validation annotations.
When someone supplies a JSON structure that does not map to the POJO itself, that is outside the realm of javax validation

[2021-02-24 15:23] mkouba commented on #15293
I see. Anyway, the NPE should be fixed in the linked PR.

[2021-02-24 15:30] michalszynkiewicz commented on #14736
This will be resolved by https://github.com/quarkusio/quarkus/pull/15141
The pull request introduces a new microprofile rest client implementation, based on RestEasy Reactive

I'll add this issue to resolved issues

[2021-02-24 15:35] edeandrea commented on #15302
Given that logic how would you distinguish between a required and optional request body?

[2021-02-24 15:37] geoand commented on #15302
You don't

[2021-02-24 16:01] #9324 closed

[2021-02-24 16:04] ealcantara22 opened #15306 "Quarkus site code blocks text not readable"
**Describe the bug**
Hello, as described in the title quarkus sites code blocks text format has changed. Not sure if is intentional, but the current format makes reading the code a bit difficult.

**Expected behavior**
![image](https://user-images.githubusercontent.com/56136351/109028460-3454a080-7698-11eb-8ebd-180e4a217a07.png)

**Actual behavior**
![image](https://user-images.githubusercontent.c

[2021-02-24 16:18] mkouba commented on #14872
Hm, I don't think we would be able to print what's exactly empty. We could print the original expression tag, e.g. `{resource.path}`, the template, line, line char start/end but we don't have any other context information available inside a result mapper. We could catch the exception thrown during rendering and output the data passed to the template.

[2021-02-24 16:35] gsmet commented on #15306
That would be my fault. I'll go fix it.

[2021-02-24 16:49] gsmet commented on #15306
It's fixed (you need to force a refresh though). Thanks a lot for the report!

[2021-02-24 16:49] #15306 closed

[2021-02-24 16:52] gsmet commented on #14872
TBH, I think we should trigger an exception by default. I don't see any case where you would like to end up with a NOT_FOUND when pushing to production.

[2021-02-24 16:56] #13773 closed

[2021-02-24 16:56] #15113 closed

[2021-02-24 17:35] martinvisser commented on #14948
It's obviously fine this question is closed, but just to make you aware if you weren't already, `io.netty:netty-codec-http` version 4.1.58 does contain a vulnerability: https://snyk.io/vuln/SNYK-JAVA-IONETTY-1070799. Which was why I upgraded the whole of netty.

[2021-02-24 17:51] tanadeau commented on #4281
@geoand, I just encountered this issue in Quarkus 1.12.0 so it appears to still be a problem.

[2021-02-24 17:53] SaumyaSingh1 commented on #14872
oh for me this problem was fixed weeks ago :)
Debugging helped!

[2021-02-24 17:58] geoand commented on #4281
Do you have an example we could use to debug?

[2021-02-24 18:05] Andro999b commented on #15271
@phillip-kruger fix for this: https://github.com/smallrye/smallrye-graphql/pull/653

[2021-02-24 18:13] kenfinnigan opened #15310 "SmallRye Metrics should respond with Accept All headers"
**Describe the bug**
Metrics are not returned when accessing `/q/metrics`

**Expected behavior**
If no Accept header is passed, ie. it means Accept All, then the metrics should be returned

**Actual behavior**
Currently, SmallRye Metrics returns a HTTP 406 if `text/plain` is not passed as an Accept header type.

[2021-02-24 18:41] tanadeau commented on #4281
Currently what I have is part of larger application that I can't send. I'll see if I can create a small reproducer later this week.

[2021-02-24 18:48] famod commented on #15300
It's choking on the generated `$jacocoData` field. I'll try to fix it.
See also: https://www.jacoco.org/jacoco/trunk/doc/faq.html

[2021-02-24 18:50] edeandrea commented on #15302
Look at it from a semantic perspective- if someone places `@Valid` on a request body don't they intend that the request body is valid? The word valid _should_ also include being present.

[2021-02-24 18:58] geoand commented on #4281
Thanks

[2021-02-24 19:25] mkouba commented on #14872
Ok, so I think that we could use a result mapper that throws an exception with some minimal info.

[2021-02-24 19:26] julianseeger commented on #10189
#2811 should be part of this. Quarkus+Gradle+Kotlin=fail

[2021-02-24 20:06] shawkins commented on #15279
For just narrowing the RBAC the change would be https://github.com/quarkusio/quarkus/pull/15314

On the namespace issue, when a namespace is specified you could have the KubernetesRoleBindingBuildItem marked as clusterWide.  It would be even better to have KubernetesRoleBindingBuildItem aware of the target namespace:

[code]

[2021-02-24 20:06] eamazaj commented on #4399
English: Hello everyone, in which release is thought to support microprofile-lra or at least launch an experimental version with the RC of microprofile-lra

[2021-02-24 21:33] famod commented on #15289
I gave this a shot and it _does_ generate a report for me, for both variants (Quarkus 999-SNAPSHOT + jacoco extension _and_ Quarkus 1.11.3 + jacoco plugin).

PS: I had to use Azul JDK 11 because Adopt JDK 11 failed with missing flight recorder imports.
[code]

[2021-02-24 21:40] #9671 closed

[2021-02-24 21:51] stuartwdouglas commented on #14948
Quarkus does not use AbstractDiskHttpData, so it should not affect us.

[2021-02-24 22:02] stuartwdouglas commented on #15289
@ligangty that error looks like what can happen if you don't  have a clean build of Quarkus (i.e. mvn install rather than mvn clean install).

[2021-02-24 22:05] radcortez commented on #12286
I had a look and this is related in how the RESTEasy client is handling the parameters processors. In the expected case, the form parameters are being wrapped in a `javax.ws.rs.core.Form` which only supports `String` values.

The spec is not completely clear if this configuration should work, but I've found an example code for SSE in the spec that leads me to believe that it should:

[code]

@mich

[2021-02-24 22:10] stuartwdouglas commented on #15289
I could not reproduce the crash. I did see thought that it is attempting to load a native library `org.hyperic.sigar.SigarException: no libsigar-amd64-linux.so in java.library.path`.

Do you have this library? If so a native lib would be the prime suspect when you have a JVM crash.

[2021-02-24 23:33] brunolmfg opened #15320 "Provide property to indicate the index page for static resources"
**Description**

Providing a configuration property to indicate the index page for static resources will allow use a different filename. This is only possible with **undertow** extension using the `welcome-file-list` entry on `web.xml`. The **vertx-http** extension could provide an option like this:

[code]

**Implementation ideas**

The static resources are provided by VertX Web using `StaticHand

[2021-02-25 02:23] wangyuanhang111 commented on #11337
Has this been fixed? I'm having a generic problem where I can't inject Vertx objects because the rpc must be @Singletion How do I fix this?

[2021-02-25 02:42] anaray opened #15321 "Disabling Kafka health check is not working."
**Describe the bug**
Disabling Kafka health check by configuring _quarkus.kafka.health.enabled=false_ is not working as expected.
**Expected behavior**
On configuring quarkus.kafka.health.enabled=false Kafka health must not run

**Actual behavior**
It runs the health even after setting quarkus.kafka.health.enabled=false. It returns below response
[code]
**To Reproduce**

Link to a small reproducer

[2021-02-25 03:47] ligangty commented on #15289
@stuartwdouglas For that native lib, I've removed that deps and disabled related Unit tests this time, but the problem is still happening. I've updated this part of code in my personal repo here: https://github.com/ligangty/indy-repository-service/tree/jacoco  And I've created a travis ci build to make sure it is not my env related, this is the failed build here: https://travis-ci.org/github/ligan

[2021-02-25 04:25] stuartwdouglas commented on #15289
Can you attach a copy of the dump file created by the JVM?

That ArcEndointRecorder error is generally caused by not doing a clean build of Quarkus, are you sure you did a clean build on CentOS?

[2021-02-25 04:47] ligangty commented on #15289
@stuartwdouglas This is the vm crash log and dumpstream file (On my Fedora 32 laptop with openjdk11.0.10 + maven3.6.3)

[dump.zip](https://github.com/quarkusio/quarkus/files/6040526/dump.zip)

For that 999-SNAPSHOT on centos, I can 100% confirm it is cleaned just like below:

$ mvn clean install
[INFO] Scanning for projects...
[INFO]
[INFO] --------< org.commonjava.indy.service:indy-repository-ser

[2021-02-25 05:22] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/598382133

[2021-02-25 05:25] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/598382133

[2021-02-25 05:29] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/598380980

[2021-02-25 05:32] #15196 closed

[2021-02-25 05:48] SaumyaSingh1 opened #15322 "DEV UI: Enhancing the Scores Page in RESTEasy Reactive"
As per @phillip-kruger's suggestions, I will be working on beautifying the `Scores` Screen in `RESTEasy Reactive` extension :)

Right now the screen looks like this:
![image](https://user-images.githubusercontent.com/46818757/109108912-6a5a5900-775a-11eb-9120-ee08420f95b2.png)

Enhanced Screen:
![image](https://user-images.githubusercontent.com/46818757/109109185-dd63cf80-775a-11eb-8bfb-0d498cf3e7

[2021-02-25 05:59] SaumyaSingh1 commented on #15322
@geoand
Please assign this to me :)

[2021-02-25 06:43] phillip-kruger commented on #15271
Awesome ! Thanks @Andro999b

[2021-02-25 07:02] #13818 closed

[2021-02-25 07:04] cescoffier commented on #15321
There are two levels of health checks: the one coming from the Quarkus Kafka extension and the one comings from Reactive Messaging.

To disable the checks on reactive messaging, use:

[code]

If you have multiple channels, and want to disable them globally, use:

[code]

[2021-02-25 07:04] geoand commented on #15322
Done :)

[2021-02-25 07:11] maxandersen commented on #15303
@stuartwdouglas @aloubyansky did we have a way of doing filtered resources part of devmode ? maybe not per default but somehow be able to enable it for projects dependent on it ?

[2021-02-25 07:16] mkouba commented on #11337
You can try to inject `javax.enterprise.inject.Instance<Vertx>` instead and access the bean lazily via `Instance#get()`. But of course, this will only work if you start using the `Vertx` bean at runtime.

[2021-02-25 07:32] overthetop opened #15323 "Micrometer: MP Rest Client metrics can not be turned off"
Quarkus version: 1.12.0.Final

[code]
I have a MP Rest Client with a few GET endpoints that contain an UUID in the path. Something like this

[code]

The problem is that I can't turn off metrics for the rest client using the standard configuration
[code]
Everything works fine in Native mode, but not in JVM mode!
It's big issue because that results in a ton of metrics send to our stats server. The

[2021-02-25 07:49] aloubyansky commented on #15303
That would be a feature request. Property replacement could certainly be supported.

[2021-02-25 07:53] maxandersen commented on #15303
as in calling the underlying build system filtering or by us reimplimenting/emulating it ?

[2021-02-25 08:05] evacchi commented on #14860
both LTS and Master seems to fail with:

[code]

so it seems like a "bad" pom config? @mariofusco @danielezonca @radtriste

[2021-02-25 08:14] albert0815 commented on #11294
@loicmathieu Is there any plan to continue implementing this?

[2021-02-25 08:29] loicmathieu commented on #11294
Yes, I need to validate the current design before proceeding with it.
I'll try to work again on it soon.

[2021-02-25 08:56] danielezonca commented on #14860
@evacchi
https://github.com/kiegroup/kogito-runtimes/pull/1101
I don't know why our CI didn't fail 🤔

[2021-02-25 09:05] jmartisk commented on #15310
I'm not sure what you mean here - if I call simply `curl localhost:8080/q/metrics` without any headers, I get a Prometheus export by default. I get a 406 error only if I pass an `Accept` header with an unrecognised value.

[2021-02-25 09:15] evacchi commented on #14860
maybe the quarkus runner is a bit stricter? don't know 🤔

[2021-02-25 09:16] aloubyansky commented on #15303
A quick(er) fix would be doing it ourselves. We are not calling the underlying build system for the compilation neither. The approach certainly neglects all the possibly configured extra Maven goals/Gradle tasks but helps make the restart faster.

[2021-02-25 09:31] bradleywarrenslater opened #15325 "Rest Client - Unable to read an Entity from a WebApplicationException"
**Quarkus version: 1.12.0.Final**

When catching a WebApplicationException we are unable to read the Entity from the response, this works in version 1.11.3.Final

**Expected behavior**
`WebApplicationException.getResponse().readEntity(Class<T>) should unmarshal to to Class<T>`

**Actual behavior**
`
WebApplicationException.getResponse().readEntity(Class<T>) causes
javax.ws.rs.ProcessingException:

[2021-02-25 09:56] Andro999b commented on #15271
Please close ticket when it will be available in quarkus.

[2021-02-25 10:15] sberyozkin commented on #15325
@bradleywarrenslater Hi, please see https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.12, `Rest Client Exceptions`

[2021-02-25 10:17] aomsweet opened #15326 "com.cronutils.model.time.generator.NoSuchValueException"
**Describe the bug**

[code]
An error was reported when Quarkus started. `0 0 14,15,16 * * ?` The expression cannot be parsed. Replace it with `0 0 14 * * ?` is ok.

**Actual behavior**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:   windows 10 64bit
 - Output of `java -version`:  11
 - GraalVM version (if different from Java):  21.0.0
 - Qu

[2021-02-25 10:20] #15325 closed

[2021-02-25 10:35] #15293 closed

[2021-02-25 10:42] mmaggioni-wise opened #15327 "when a resource return 404, the metrics does not return the uri called"
### Description

when a resource return 404, the metrics does not return the uri called

`http_server_requests_seconds_count{method="GET",outcome="CLIENT_ERROR",status="404",uri="NOT_FOUND",}`

instead of

`http_server_requests_seconds_count{method="GET",outcome="CLIENT_ERROR",status="404",uri="/hello-resteasy/{code}",}`

it's misleading, and for projects with more than one endpoint you cannot rea

[2021-02-25 10:43] mmaggioni-wise commented on #15327
ah, sorry.
for some reason i choose Epic instead of Bug....

[2021-02-25 10:44] famod commented on #15326
/cc @mkouba

[2021-02-25 10:46] lkrzyzanek opened #15328 "Injecting OpenShiftMockServer doesn't work"
**Describe the bug**
Injecting Openshift Mock server doesn't work.
I followed https://quarkus.io/guides/kubernetes-client#openshift-client instructions and it throws (see below)

Working with plain KubernetesMockServerTestResource + KubernetesMockServer works without any problem but Openshift client doesn't work.

[code]

**Expected behavior**
Should work as described in docs.

**Actual behavior**

[2021-02-25 10:54] vipseixas commented on #6271
@rafaelsousa I saw that it is has been stopped for a few months now. I'm interested in using Pulsar with Quarkus and I may be able to help.

[2021-02-25 10:56] gsmet commented on #15326
From what I can see in the README, cron-utils uses `|` instead of `,`.

I wonder if we should replace `,` automatically (but I don't know if it could be used in other situations)

[2021-02-25 11:28] adutra commented on #9183
We are hitting https://github.com/quarkusio/quarkus/issues/15300. Should be fixed by https://github.com/quarkusio/quarkus/pull/15315.

[2021-02-25 11:29] #15083 closed

[2021-02-25 11:34] mariofusco opened #15330 "Allow to skip bytecode instrumentation and force a full reload for specific classes"
**Description**

Quarkus 1.11 introduced bytecode instrumentation to avoid reloading of unchanged classes when not strictly necessary. This improvement doesn't work well with Kogito for the following 2 reasons:

**1. Missing reactivity to changes to an external non-java resource**

**When a resource A referenced within a class B is changed, the class B is not reloaded.**

Our DMN implementation ha

[2021-02-25 11:36] zakkak opened #15331 "Native image build server does not start with `-Dquarkus.native.enable-server=true`"
**Describe the bug**
As of GraalVM/Mandrel 20.2 `--no-server` is the default and `--experimental-build-server` is required to enable the build server.
(see https://github.com/oracle/graal/commit/ab8e3138b5899ba83e902607e1f88113749c8107)

Quarkus, however, still assumes that the build server is started by default, thus doing nothing (other than omitting `--no-server` when `-Dquarkus.native.enable-s

[2021-02-25 11:37] geoand commented on #15328
Does this work if you run the tests from Maven instead of IntelliJ?

[2021-02-25 11:41] gytis commented on #13520
We don't support overriding yet. An alternative right now would be to not generate a specific method (annotate it with `@ResourceProperties(exposed=false)`) and implement it manually in a different class.

[2021-02-25 11:46] geoand commented on #15330
Let me try whip up a quick prototype that you can try so we can see if it covers your needs

[2021-02-25 11:47] mkouba commented on #15326
Well, the scheduler is using the Quartz cron syntax by default, and the comma `,` should be supported as a special character there. We need to check the `cron-utils`  functionality.

In any case, you can try to configure a different syntax via the [`quarkus.scheduler.cron-type`](https://quarkus.io/guides/scheduler-reference#quarkus-scheduler_quarkus.scheduler.cron-type) property.

[2021-02-25 11:54] lkrzyzanek commented on #15328
Yes it's the same.

[code]

[2021-02-25 12:00] geoand commented on #15328
Do you have a simple example I can try?

Asking because I am not seeing the same problem

[2021-02-25 12:19] lkrzyzanek commented on #15328
I don't have simple test. My tests are here: https://github.com/websitecd/operator/blob/main/service/src/test/java/io/websitecd/operator/QuarkusTestBase.java

Or I can try yours testsuite if you want.

[2021-02-25 12:42] lkrzyzanek commented on #15328
OK, I Found the culprit.
The issue was that I had other tests using `@QuarkusTestResource(KubernetesMockServerTestResource.class)`
Once I migrated all test to Openshift Resource it works now.

[2021-02-25 12:42] #15328 closed

[2021-02-25 12:44] geoand commented on #15328
Cool 👍🏼

[2021-02-25 12:56] rafaelsousa commented on #6271
Hi @vipseixas, we could work together on this.
The easier step would be that I invite you to my repo or you could fork the current smallrye repo and I'll merge my code into yours. What do you say?

[2021-02-25 12:56] kenfinnigan commented on #15310
@ebullient added a test yesterday where we had an issue where the behavior you describe didn't happen.

I don't believe the test was adding any accept headers to the request

[2021-02-25 12:58] derkoe opened #15334 "Qute calls accessor method instead of using property for boolean (since 1.12.0.Final)"
**Describe the bug**
When referencing a boolean property value Qute now calls the `isXxx()` method instead of referencing the property directly.

Example entity:
[code]

Example template:
[code]

**Expected behavior**
Panache entities have public properties - this should be used when there is no bean accessor method.

**Actual behavior**
The following exception occurs:
[code]

**To Reproduce**

He

[2021-02-25 13:30] mkouba commented on #15334
Hm, this is a regression caused by a fix for https://github.com/quarkusio/quarkus/issues/14918. After the fix we always use the generated getters to access properties of a Panache entity. However, it seems that the generated getters don't follow the naming conventions for boolean properties, i.e. the generated getter for `Todo#completed` looks like:
[code]
@FroMage would it be possible to use `isC

[2021-02-25 13:39] diogocarleto commented on #15124
@loicmathieu do you think it makes sense?

[2021-02-25 13:47] xstefank commented on #4399
@eamazaj we are currently in the process of releasing MP LRA 1.0 and a Narayana version that would implement this API. I believe that @mmusgrov plans to reopen the Quarkus extension PR for LRA right after we have a Narayana release out.

[2021-02-25 14:05] TuskRaider1988 opened #15335 "ConfigValidationException by using passwords in config containing special characters"
**Describe the bug**
I'm using Quarkus and RabbitMQ in one maven-project for sending messages on a queue out of a java-service-class and retrieve them in another one. Therefore i'm using YAML-files in a configuration-module to define e.g. the connection-string for RabbitMQ. This connection-string contains amongst other things the used password for the RabbitMQ-user. For higher security, i created

[2021-02-25 14:05] vietj commented on #14779
the mail format change has been addressed by https://github.com/vert-x3/vertx-mail-client/pull/162

[2021-02-25 14:14] derkoe commented on #15334
Tried to use `{todo.getCompleted()}` - this results in:

[code]

[2021-02-25 14:16] sberyozkin opened #15336 "Avoid Uni.await() when creating dynamic OIDC TenantConfigContext"
**Description**
Right now, `OidcRecorder` uses `Uni.await()` for both static/bootstrap (which is required) but also for dynamic/runtime `TenantConfigContext` creation - in the latter case `.await()` should not be required

CC @cescoffier

[2021-02-25 14:16] ebullient commented on #15323
1)  reproducer for the client enable/disable flag not working would be appreciated.
2) I'm working on #15047 to sort out better automatic URI template matching
3) In the meanwhile, as documented, use a matchPattern to map your client URLs (as in #15231):
`quarkus.micrometer.binder.http-client.match-pattern=/api/endpoint/item/[0-9]+=/api/endpoint/item/{endpointId}`

[2021-02-25 14:21] mkouba commented on #15334
Yeah, that's expected because we don't see the generated methods during validation.

Nevermind, I'll try to solve the problem on the Qute side -> we'll use `getX()` for boolean properties defined on Panache entities. I'll send a PR shortly.

[2021-02-25 14:23] ebullient commented on #15327
404 URIs will not be displayed in metrics.

Log / trace analysis can reveal URIs that aren't found, but the list of possible values is effectively infinite, and thus not suitable for a metrics tag.

[2021-02-25 14:23] #15327 closed

[2021-02-25 14:25] ebullient commented on #4650
I think we can close this.

[2021-02-25 14:42] ebullient commented on #15327
Think about it this way, what are all of the things you'd get a 404 for?
* Missing /favicon
* /Totally/nonsense/URI
* /hello/resteasy/{infinitechoices}

I can see that in your case, you're using 404 to provide more reasonable information.. but the 404 (as measured at a lower level) encompasses a much larger (unbounded) set than you're thinking of.

So I think what you're hoping is to capture "how

[2021-02-25 14:50] ebullient commented on #15310
I'll double check. this also may not be something unique to smallrye metrics, as I have #15093 also. I'll poke so we can be more precise about where something might need to be adjusted.

[2021-02-25 14:55] #7242 closed

[2021-02-25 15:05] derkoe commented on #15334
When I try to add the method manually (tried both `isCompleted` and `getCompleted`) and use this in the template I get:

[code]

[2021-02-25 15:11] famod commented on #15331
There is also a paragraph in https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#build that should be dropped or rewritten:

not being invalidated correctly in some cases. To run a build with a new instance of the server you can use
`./mvnw install -Dnative-image.new-server=true`.

(https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#build)

[2021-02-25 15:14] mkouba commented on #15334
How does the expression look like? It looks like an elvis operator is used? Note that there was a regression in primitive types validation fixed in https://github.com/quarkusio/quarkus/pull/15161 (to be included in 1.12.1).

In any case, I have a fix and once I have a proper test I'll send a PR.

[2021-02-25 15:18] yrodiere commented on #13273
Fixed in #14305

[2021-02-25 15:18] #13273 closed

[2021-02-25 15:20] derkoe commented on #15334
Yes this is in a ternary:
[code]

[2021-02-25 15:21] #15300 closed

[2021-02-25 15:35] loicmathieu opened #15338 "Provides a Kotlin MongoDB with Panache guide"
**Description**
There is a Kotlin variant of the MongoDB with Panache extension but no guide for it.

**Implementation ideas**
Provides a guide for Kotlin MongoDB with Panache that shows the difference with the Java variant and introduce the main functionalities of Panache.

As for the Hibernate one, the guide should not include everything.

On the MongoDB with Panache guide there is a section abo

[2021-02-25 15:56] vipseixas commented on #6271
@rafaelsousa I think it's easier if you invite me to your repo but first I forked your repo and I'll browse to the code a little this weekend.

[2021-02-25 17:17] coiouhkc commented on #12941
Is the issue solved in Quarkus 1.12.0 with the update to RestEasy 4.5.9.Final?

[2021-02-25 17:52] brunolmfg commented on #15303
If I haven't missed something in that additional discussion, the filtering is currently already being performed on devmode. In this issue I've reported that the filtered resources aren't being served by the created `StaticHandler` at `StaticResourcesRecorder`. I've proposed the PR #15312 with changes to allow the classes directory being preferred when serving that static resources. 😅

[2021-02-25 20:29] thomas-mc-work commented on #7678
Another aspect that might be relevant: I'm running two instances of the same native runner on a machine on separate user accounts. The first one can be launched normally. The second one throws the same exception as above. The cause is that the first user has created and is thus owning `/tmp/vertx-cache`. This makes the second process fail to write into the same path.

Both users have defined the p

[2021-02-25 21:37] anaray opened #15344 "Resiliency issue while using Emitter and a Channel - Not able to recover if downstream service is down"
**Describe the bug**
I created a question in StackOverFlow (https://stackoverflow.com/q/66361285/3573604) but didn't get any response.

I am proxying incoming http requests to a down stream REST service. Everything works fine if the downstream REST service is up and running, but if that service goes down, all further requests fails with below exception and it never regains even after the downstrea

[2021-02-25 23:42] anaray commented on #15321
@cescoffier thank you
I tried both approaches, but I still see that it runs the health check and returns below response

[code]

[2021-02-26 01:42] aomsweet commented on #15326
@gsmet

Thank you, use `|` instead of `, ` is ok.

[2021-02-26 05:23] typekpb commented on #9801
Hello, anyone willing to refer me to some working liquibase-mongodb + quarkus project example? I'd need some inspiration as migration is not starting for me despite having the dependency in place as well as configuration.

[2021-02-26 05:25] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/601723238

[2021-02-26 06:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/601724535

[2021-02-26 06:32] kie-ci commented on #14860
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/601724535

[2021-02-26 06:58] Void9711 opened #15346 "Cannot import io.quarkus.elasticsearch.restclient.lowlevel.ElasticsearchClientConfig"
**Description**

Cannot import `io.quarkus.elasticsearch.restclient.lowlevel.ElasticsearchClientConfig`

I cannot import `io.quarkus.elasticsearch.restclient.lowlevel.ElasticsearchClientConfig` in my Java code.

Cannot find it anywhere in local jar or online repo.

Code from: [Quarkus - Connecting to an Elasticsearch cluster](https://quarkus.io/guides/elasticsearch#programmatically-configuring-ela

[2021-02-26 07:05] cescoffier commented on #15321
Try configuring on the channel 'health-readiness-enabled' to false too.

If that does not work can you provide a small reproducer?

[2021-02-26 07:10] geoand commented on #15346
The annotation is available when you add the `quarkus-elasticsearch-rest-client` extension from Quarkus `1.12.0.CR1` onward

[2021-02-26 07:10] #15346 closed

[2021-02-26 07:21] cescoffier commented on #7678
The `vertx-cache` directory should be world-writable, and it might not be the case. I need to investigate this.

[2021-02-26 08:28] loicmathieu commented on #15124
@diogocarleto thanks for the prototype, I'll have a look.

[2021-02-26 08:32] mmaggioni-wise commented on #15327
I understand your point, but i do not agree. I don't think 404 for non existing urls (eg /Totally/nonsense/URI ) are so common (maybe only the favicon, but we can live with that :) ) , and to me it makes more sense to track everything.

If we start to receive a lot of 404 for `/hello/resteasy/{non_existing_resource}` we won t see it, and we could miss an important information.

btw it's not a prob

[2021-02-26 08:52] geniusit opened #15347 "reactive messaging - broker configuration per channel is buggy with kafka healthcheck"
The kafka healthcheck requires global broker configuration. This is not good.
The healthcheck should work by channel and the global broker configuration has no reason to be when there is a per channel configuration.

**Expected behavior**
No need to set the global broker configuration if I ve already a by channel configuration.

**Actual behavior**
When I only configure the broker by channel (no k

[2021-02-26 09:04] weir2010 opened #15348 "qute templates native run error but quarkus:dev is ok"
native  weirblog-quarkus-1.0-runner    run error:

`2021-02-26 14:11:13,908 ERROR [io.qua.ver.htt.run.QuarkusErrorHandler] (executor-thread-1) HTTP Request to / failed, error id: e4a4f0ee-6c92-4f06-86a6-b45d8d5c7ff1-1: org.jboss.resteasy.spi.UnhandledException: java.util.concurrent.CompletionException: io.quarkus.qute.TemplateException: Loop section error in template index.html on line 108: [index

[2021-02-26 09:31] obbyK commented on #6271
camel has a pulsar support which is available in quarkus as `camel-quarkus-pulsar`

[2021-02-26 10:11] overthetop commented on #15323
[micrometer-rest-client.zip](https://github.com/quarkusio/quarkus/files/6048860/micrometer-rest-client.zip)
@ebullient  open `http://localhost:8080/api/hit-it` a few times and then see the metrics in `http://localhost:8080/q/metrics`
[code]

the config is
[code]

[2021-02-26 10:11] sfauvart opened #15349 "Add support for Vault Enterprise Namespaces"
**Description**
I use the Enterprise version of Vault and I need to use the namespaces feature : https://www.vaultproject.io/docs/enterprise/namespaces
Actually it's impossible with quarkus-vault because the extension doesn't provide a namespace configuration.

**Implementation ideas**
Simply add 'X-Vault-Namespace' HTTP Header from a configuration properties like 'quarkus.vault.namespace' if it's

[2021-02-26 10:13] vsevel commented on #15349
seems simple. we can definitely try to do this for 1.13

[2021-02-26 10:22] geoand commented on #13043
Can you explain what the reasoning is for using `JsonNode` as a value for the response?
What's the benefit of doing so?

[2021-02-26 10:28] geoand commented on #12948
Does anyone have an example project they can share?

[2021-02-26 10:32] geoand commented on #12768
I don't think there is value in adding this property to the guides as thttps://quarkus.io/guides/all-config#quarkus-agroal_quarkus.datasource.jdbc.additional-jdbc-properties-additional-jdbc-properties gives one all the information necessary

[2021-02-26 10:32] #12768 closed

[2021-02-26 10:35] geoand commented on #12741
Is this still an issue?

[2021-02-26 10:35] geoand commented on #12697
Is this still an issue>

[2021-02-26 10:36] geoand commented on #12680
Closing as won't fix

[2021-02-26 10:36] #12680 closed

[2021-02-26 10:40] geoand commented on #12512
We don't plan on introducing test slices like in Spring Boot, but for the use case you mention with the missing database, Quarkus 1.13 will automatically start a database for you using testcontainers if none has been configured.

[2021-02-26 10:40] #12512 closed

[2021-02-26 10:40] geoand commented on #12403
Is this still an issue?

[2021-02-26 10:41] geoand commented on #12324
Is this still an issue?

[2021-02-26 10:46] Tockra commented on #12741
I think yes. I did a quick search at https://quarkus.io/guides/native-and-ssl for documentation.
I'm not using quarkus at the moment so I can't check it.
But if nobody changed something a lot of people would benefit by documentation

[2021-02-26 10:48] geoand commented on #10184
@csotiriou would it be possible to try Quarkus `1.12` and / or the  Quarkus Snapshots to see if the issue still persists?

[2021-02-26 10:49] geoand commented on #10120
Has been fixed by the introduction of `area/native-image`

[2021-02-26 10:49] #10120 closed

[2021-02-26 10:52] geoand commented on #9968
`testcontainers` won't be removed from the BOM as we rely on it for [DevServices](https://github.com/quarkusio/quarkus/pull/14960)

[2021-02-26 10:52] #9968 closed

[2021-02-26 10:58] avdev4j commented on #9801
2 months later: I have a sample app but it's using Mongock: https://github.com/avdev4j/jhipster-quarkus-mongo-sample-app

I guess Liquibase Mongo would be a great alternative (especially we are supporting Liquibase for SQL options).

[2021-02-26 11:07] rsvoboda commented on #12393
`UnsupportedOperationException: Not implemented yet for GraalVM native images` is caused by Quarkus substitution
https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/graal/Java2DSubstitutions.java

I was playing again with https://github.com/rsvoboda/rsvoboda-playground/tree/master/jfreesvg/jfreesvg-quarkus and GraalVM 201.0 to see how graphics support wor

[2021-02-26 11:20] geoand commented on #9110
This has already been fixed

[2021-02-26 11:20] #9110 closed

[2021-02-26 11:22] geoand commented on #8849
Is this still an issue?

[2021-02-26 11:23] geoand commented on #8654
The use case you mention where you want to start the built container should be covered by https://github.com/quarkusio/quarkus/pull/15227

[2021-02-26 11:23] #8654 closed

[2021-02-26 11:25] geoand commented on #8472
Let's close this as `@InjectMock` is the proposed solution

[2021-02-26 11:25] #8472 closed

[2021-02-26 11:28] geoand commented on #8192
This has been implemented with `@QuarkusTestProfile`

[2021-02-26 11:28] #8192 closed

[2021-02-26 11:31] geoand commented on #7942
I think we can close this as both RESTEasy Classic and RESTEasy Reactive we have support for Multipart file upload (see https://quarkus.io/guides/resteasy-reactive#handling-multipart-form-data).

If there are more idea for improvement, I'd love to hear them.

[2021-02-26 11:31] #7942 closed

[2021-02-26 11:34] geoand commented on #7372
I'll close this as the values in the KubernetesConfig default to the container-image ones

[2021-02-26 11:34] #7372 closed

[2021-02-26 11:37] geoand commented on #7220
This was fixed in Quarkus 1.8

[2021-02-26 11:37] #7220 closed

[2021-02-26 11:40] geoand commented on #9867
Closing as a duplicate of #6986

[2021-02-26 11:40] #9867 closed

[2021-02-26 11:45] geoand commented on #6631
Is this still an issue?

[2021-02-26 11:48] geoand commented on #6539
I'll close this as we have now have more than 10 releases since the ticket was opened.

If there is still a problem, please open a new issue

[2021-02-26 11:48] #6539 closed

[2021-02-26 12:18] #15334 closed

[2021-02-26 13:11] kkosmrli opened #15351 "Blocking @ConsumeEvent only uses single worker thread since 1.11.X"
### Description
Greetings,

while upgrading our Quarkus services from 1.10.4 to 1.11.3 we noticed that the behaviour of the Vert.x event bus significally changed. The event bus does not utilize more than one thread from the worker thread pool and the execution of multiple events is therefore not concurrent as it was prior to 1.11.X.

I could not find any hints in the changelogs or the migration gu

[2021-02-26 13:15] ebullient commented on #15327
That is a much better solution, and yes, it should be.

[2021-02-26 13:19] ligangty commented on #15289
After checking, I hghly suspect this is caused by the jdk.jfr package. In my project the we involved the an JFR Event to tracking some data, and seems that the jacoco meets some problems to instrument these new Event class during tests. After removing these Events, the vm crashing problem never happens again.
I think this is not a problem of Quarkus, so will close this one. Sorry for the wrong rep

[2021-02-26 13:19] #15289 closed

[2021-02-26 13:39] rsvoboda opened #15352 "NPE in dev mode with hibernate-search-orm-elasticsearch"
NPE in dev mode with hibernate-search-orm-elasticsearch, Quarkus 1.12+

[code]

[code]

[2021-02-26 14:07] TheGeekPharaoh commented on #14513
Issue still exists on Quarkus 1.12.0

[2021-02-26 14:28] PieterjanDeconinck commented on #8849
Hi, @geoand.
I just updated the reproducer to use the latest available versions, ran the tests and the issue still remains.

Versions:
- Quarkus: 1.12.0.Final
- Docker image: quay.io/quarkus/ubi-quarkus-native-image:21.0.0-java11
- GraalVM in this Docker: GraalVM Version 21.0.0 (Java Version 11.0.10+8-jvmci-21.0-b06)

For your information, we are currently registering these kind of classes in the

[2021-02-26 14:44] bslaterdk commented on #14365
Hi Georgios

I finally got around testing it again. And I have now tested will all three package types.
And so far it seems to works as intended.

[2021-02-26 17:01] mklueh commented on #13043
Hi @geoand ,

thanks for your response.

I´m not exactly sure anymore what I was trying to achieve at that time and I think it can be closed.

Returning just the String itself will produce a response with a valid JSON anyway.

[2021-02-26 17:01] #13043 closed

[2021-02-26 17:19] geoand commented on #13043
Understood, thanks

[2021-02-26 17:32] anaray commented on #15344
Quarkus team,
Any updates here? I am not able recover from a downstream error. Please have a look !

[2021-02-26 20:04] anaray commented on #15321
[code]
My finding is that, setting either of the above configurations have no affect. The configuration which has a affect is  given, but it would disable everything which is not what I am looking for
[code]

I will try to create a reproducer and share it with you.
Thanks

[2021-02-26 20:05] ntrp commented on #13277
Sorry for being again late.. I tested the latest version of Quarkus 1.12.0 and the error still appears, here you are a minimal demo repo https://github.com/ntrp/quarkus-issues-13277.

If you copy this:
[code]
to the client `application.yml` the client can start.

[2021-02-27 00:00] rac021 opened #15355 "WARNING - Duplicate entry META-INF when packaging quarkus project"
**Describe the bug**
I'm developing an extension, and when I package the project, T have some WARNINGS !

**Expected behavior**
Nothing

**Actual behavior**
Warnings :

[code]

**To Reproduce**
Generate a project from quarkus.io + Generate a quarkus-extension using maven. Quarkus version : 1.12.0

Steps to reproduce the behavior:
1. cd my_extension && mvn clean install
2. cd my_project && mvn clea

[2021-02-27 07:14] essobedo commented on #13341
A potential fix for this ticket https://github.com/quarkusio/quarkus/pull/15356. I have not tested it in "native mode" but in "non native mode", it seems to work unless I missed something

[2021-02-27 08:57] gsmet commented on #15355
Any change you could share a reproducer? Thanks!

[2021-02-27 12:39] bcluap opened #15357 "RESTEasy Reactive: Chained Sub resources Result in 405 Method not allowed"
Describe the bug
Trying to access a chain of sub resources results in a 405 method not allowed. This works perfectly on normal resteasy.

Expected behavior
The sub resources should be located and called

Actual behavior
a 405 is returned

To Reproduce
git clone https://github.com/bcluap/quarkus-examples.git
cd quarkus-examples/resteasy-reactive
mvn clean test

Configuration
Nothing abnormal

Scree

[2021-02-27 14:07] rac021 commented on #15355
Hi Guillaume,

I shared on Github a way to reproduce the Warnings here :

https://github.com/rac021/quarkus_duplicate_entry_meta_inf

Thanks

[2021-02-27 16:23] rsvoboda opened #15358 "MalformedURLException with Quarkus 1.12 (or master) when the app in `,;~!@#$%^&()` directory"
Getting MalformedURLException with Quarkus 1.12 (or master) when the app in `,;~!@#$%^&()` directory. Works well with Quarkus 1.11.
Quarkus 1.12 - tests are working, dev mode is working, but running `java -jar ...` fails. Using JDK 11.
Seems `#` character is problematic for SRYE Config, `Caused by: java.net.MalformedURLException: no !/ found in url spec:file:/Users/rsvoboda/tmp/,;~!@` mentioned ju

[2021-02-27 21:32] max-grigoriev opened #15359 "Kotlin module works wrong in Intellij IDEA"
**Describe the bug**

[code]
such code is red in IDEA but the build is OK.
IDEA shows such error: `Unresolved reference: trim`
And the same behavior with all string functions.

if I comment `implementation(enforcedPlatform("${quarkusPlatformGroupId}:${quarkusPlatformArtifactId}:${quarkusPlatformVersion}"))` in `build.gradle.kts` then `String` functions are returned.

**Expected behavior**
String f

[2021-02-28 03:38] ambition-consulting commented on #13643
Great bang for the buck, easy choice.

[2021-02-28 09:26] glefloch commented on #15359
Hi @max-grigoriev, I just tested it and I'm not able to reproduce it. I generate a project from `code.quarkus.io` and selected `gradle kotlin DSL` and `kotlin` as extension. Did you do something else?

[2021-02-28 09:32] belu commented on #5860
@geoand
Same issue here with Quarkus 1.12 + Kotlin + Jackson. I use LocalDate as a @PathParam and expect it in ISO-8601 format.
It would be nice if this works out-of-the-box.

As a workaround I added a `ParamConverter<LocalDate>`. A project showing this + the workaround is available here:
https://github.com/belu/microquark

Fixing this issue goes into the same direction as the other improvement yo

[2021-02-28 09:41] Xendar commented on #13643
?

[2021-02-28 11:40] max-grigoriev commented on #15359
@glefloch No, I did just these simple steps. Here's [this repository](https://github.com/max-grigoriev/code-with-quarkus)
I use the latest IDEA and Kotlin plugin (203-1.4.31-release-IJ7148.5)
<img width="806" alt="kotlin-plugin" src="https://user-images.githubusercontent.com/691931/109417032-819f7d80-79ca-11eb-970a-b3f9ffa0ee13.png">
<img width="1305" alt="no-trim" src="https://user-images.githubu

[2021-02-28 12:25] belu commented on #15359
@max-grigoriev
I am not able to reproduce this issue. Not with your repository and not with a sample project from code.quarkus.io directly (Gradle Kotlin DSL + Kotlin extension).

[2021-02-28 12:36] ambition-consulting commented on #13643
You add a static html and replace sagger UI with it via config option.
Maybe have the <redoc> tag configurable? Costs maybe 100 LOC including
documentation and tests.

And in return you get a vastly improved, stunningly beautiful rest
documentation.

Vincent Leon <notifications@github.com> schrieb am So., 28. Feb. 2021,
10:41:

[2021-02-28 12:42] Xendar commented on #13643
Seems easy said like that! If I find some time I may try to have a look a bit at how this works 🙂

[2021-02-28 13:46] jaikiran commented on #15358
Hello @rsvoboda, I have opened https://github.com/quarkusio/quarkus/pull/15360 with a potential fix.

[2021-02-28 14:10] EricWittmann commented on #13643
If it helps, we use ReDoc in Apicurio Registry for this purpose.  The HTML is here:

https://github.com/Apicurio/apicurio-registry/blob/feat/artifact-groups/app/src/main/resources-unfiltered/META-INF/resources/apidocs/apidocs.html

In our case we support several different APIs, which is why `SPEC_URL` is not static.  But it's that simple and it looks really good.

Screen shots:

![image](https://u

[2021-02-28 15:49] max-grigoriev commented on #15359
I tried with the latest IDEA EAP and it works OK.

[2021-02-28 16:55] glefloch commented on #15359
If everything is ok I close the issue then.

[2021-02-28 16:55] #15359 closed

[2021-02-28 17:28] cescoffier commented on #15347
There a 2 different health checks:

1. the health check provided by the quarkus-kafka extension, which can be enabled or disabled using `quarkus.kafka.health.enabled=false`
2.  the health checks coming from reactive messaging, which can be enabled / disabled / configured by channel

If I'm not mistaken, in your case you want to disable (1) and have (2) configured per channel.

I guess we need to e

[2021-02-28 17:30] cescoffier commented on #7678
So, the `vertx-cache` is configured by quarkus but created by vert.x.
A workaround could be to generate a unique cache at each startup.

@rsvoboda any concern with such an approach?

[2021-02-28 21:05] BrainShit commented on #14682
I'm having the same issue with a similar configuration using maven and quarkus 1.12.0.Final
[code]

[code]

throwing this error message:
[code]

my best guess would be that, since hibernate-reactive needs hibernate-orm that the classic orm creates it's connection first and only uses the jdbc one, as liquibase is running through just fine before

[2021-02-28 21:06] rpinaa opened #15361 "Hibernate orm search with elasticsearch, does not search and retrieve deep attributes from a @OneToOne relationship"
**Describe the bug**
Using the dependency: quarkus-hibernate-search-orm-elasticsearch, I cannot retrieve deep attributes from a @OneToOne relationship, but I works for @OneToMany and @ManyToMany relationships.

**To Reproduce**

I'm using Quarkus 1.12.0.Final, my related entities are:

@Getter
@Setter
@Accessors(chain = true)
@Entity
@Indexed
@DynamicUpdate
@Table(name = "accesses")
public class S

[2021-02-28 21:36] glefloch commented on #15104
I can reproduce the error on the gradle sample. I looked at the code and it appears that the `META-INF/panache-archive.marker` file is generated by an annotation processor.
By default, gradle does not execute annotation processor that are in the `compileClasspath`. If you want annotation processors to be executed you either have to :

* declare the dependency containing the annotation processor wi

[2021-02-28 21:47] gsmet commented on #15361
Please create a simple Maven project allowing to reproduce the issue. Thanks!

[2021-03-01 00:23] rpinaa commented on #15361
@gsmet Thanks, I could detect the problem, it was that I should set the bidirectional attribute and execute two persistence phases, before for SectionIIAEntity and then for SectionIIEntity, adding the right setter convention. It's working fine.

[2021-03-01 01:30] missourian55 commented on #8914
I am still seeing this error in Quarkus 1.12.0.Final. Any recommendations?

Stacktrace
[code]

Configuration

[code]

[2021-03-01 05:32] cescoffier commented on #8914
Are you sing the Quarkus Avro extension?

If so, please provide a reproducer attached to a new issue.

[2021-03-01 05:37] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/609389276

[2021-03-01 06:53] robertjesionek commented on #15125
FYI https://github.com/Azure/azure-microprofile/tree/master/microprofile-config-keyvault does not work.
But found a 1 liner workaround:

System.setProperty("quarkus.oidc.credentials.secret", secretClient.getSecret("secretKey"));

[2021-03-01 07:26] geoand commented on #8593
@jamesnetherton it seems like `org.apache.camel.quarkus.component.debezium.common.it.mongodb.DebeziumMongodbTest` is failing. Mind taking a look please?

[2021-03-01 07:33] michalszynkiewicz commented on #12286
I'm not that familiar with multipart, maybe @ronsigal could help.

[2021-03-01 07:35] oztimpower commented on #14661
/cc @patriot1burke

[2021-03-01 07:38] geoand commented on #5860
@belu would you like to contribute that type to Quarkus?

[2021-03-01 07:44] geoand commented on #15357
@stuartwdouglas is this still an issue even with you #15363 in?

[2021-03-01 07:45] michalszynkiewicz commented on #12802
@djnalluri do you know now if importing proto files solves the problem for you?

[2021-03-01 07:45] geoand commented on #13277
Thanks for the reproducer.

I will have a look.

[2021-03-01 07:51] tomsontom opened #15364 "Add support for REST-AT"
**Description**
I'm trying to gradually break apart a big EE application who relies on distributed transactions but I also think that there are situations where using 2pc setup is better suited than using compensations or the use of the saga-pattern. So having support for REST-AT built into Quarkus would be a great addition to the toolset of developers.

**Implementation ideas**
I started a thread

[2021-03-01 07:56] missourian55 commented on #8914
My bad, I was missing that dependency. Thanks for pointing me to it. Curious, how in JVM mode its working without that dependency?

[2021-03-01 08:01] haraldatbmw commented on #14650
@gsmet Do you plan to merge this fix to 1.12.1 too?

[2021-03-01 08:06] geoand commented on #13277
@radcortez essentially this boild down to:

In a hello world Quarkus application, if I add

[code]

and have code that expects to read the configuration like so:

[code]

then Quarkus fails with:

[code]

Does the indexed configuration support only work for `@ConfigMapping` perhaps?

[2021-03-01 08:15] mkouba commented on #15326
@aomsweet Can you reproduce the problem consistently? I wasn't able to reproduce the issue. I've tried to modify the [scheduler-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/scheduler-quickstart) but no `NoSuchValueException` thrown.

[2021-03-01 08:24] mkouba commented on #15348
@weir2010 It looks like in the dev mode the reflection fallback resolver is used, i.e. properties are accessed via `java.lang.reflect` constructs. However, this fallback does not work in the native image, unless the `@io.quarkus.runtime.annotations.RegisterForReflection` is used on the target class. There are several Qute-specific ways how to fix this problem:
1. Use [Type-safe Templates](https://

[2021-03-01 09:01] cescoffier commented on #8914
A Quarkus extension is more than a dependency. It collects metadata on your application and compute the right configuration to provide to the native compiler.

[2021-03-01 09:11] cescoffier commented on #15351
#15366 should fix it.

[2021-03-01 09:14] geoand commented on #8849
#15367 should take care of it.

Thanks for updating the reproducer

[2021-03-01 09:42] weir2010 commented on #15348
@mkouba  It's settled. Thank you

[2021-03-01 09:42] #15348 closed

[2021-03-01 09:48] geoand commented on #8849
Also just as an FYI, you don't need to use reflection config files in Quarkus, you can just use `@RegisterForReflection`

[2021-03-01 09:53] cescoffier commented on #15229
@gemmellr Are virtual hosts something defined in AMQP 1.0? I can't find anything relevant in the spec.

[2021-03-01 09:56] cescoffier commented on #15185
CC @pmlopes

[2021-03-01 09:57] cescoffier commented on #15170
I agree with @geoand, for such kind of mapping feature, RESTEasy Reactive is better suited.

[2021-03-01 10:00] cescoffier commented on #15166
The problem with `Multi` is that there is no clear canonical behavior.
Imagine a Multi with multiple items, and one of them, not the first one, is invalid? You already sent the HTTP headers, so, you cannot change the response status. Maybe closing the response abruptly is enough, but the user has no idea why the response is closed.

[2021-03-01 10:09] rsvoboda commented on #7678
I spoke with @pjgg about this. In general we are ok with such change.

The only concern we see is around @karesti use-case whe Katia worked with known path `/tmp/vertx-cache`. On the other side we were not able to reproduce her problem. If the unique cache is based on timestamp we could create a `vertx-cache/4163465465465` temporal folder, instead of `vertx-cache-4163465465465` so karesti workarou

[2021-03-01 10:19] cescoffier commented on #7678
Yes, it's going to be generated on every application start, so even in native mode, multiple runs will generate multiple directories.

[2021-03-01 10:47] Sgitario opened #15369 "Panache Data REST: Update method requires at least two connections"
**Describe the bug**
I have a resource called:

[code]

This endpoint exposes all the REST methods. The problem is that the PUT method (update) requires a minimal of two connections. So, if we limit the amount of connections using this property:

[code]

The update method will fail with:

[code]

This is a regression issue that was entered as part of this commit: https://github.com/quarkusio/quark

[2021-03-01 10:49] Sgitario commented on #15369
cc @gytis

[2021-03-01 10:49] Shohou opened #15370 "quarkus-logging-gelf: mapper_parsing_exception when include-log-message-parameters is true (default)"
**Describe the bug**
When using quarkus-logging-gelf with graylog I get
[code]
This happens when first appearance of message parameter is long, Graylog (or elasticsearch) remembers the type and next messages with string parameters fail indexing process.

**Expected behavior**
Message indexing does not fail

**Actual behavior**
I get indexing errors and messages are lost

**To Reproduce**
try to lo

[2021-03-01 10:50] loicmathieu opened #15371 "Dev mode report the wrong startup time starting with Quarkus 1.12"
**Describe the bug**
Starting with 1.12, dev mode report two times startup improvements ! But looking at the timing of the logs it tells a different story :(

There seems to be an issue with the time reporting by the dev mode since Quarkus 1.12

This is the logs from the run of my application, you can clearly see that the application starts in more than 1.8s by comparing the timestamp but the logs

[2021-03-01 10:58] yrodiere commented on #15352
I think this happens when the Hibernate Search extesion is enabled, but there aren't any indexed entities. In that case Hibernate Search initialization is skipped and the dev console ends up in an `NPE` when it tries to retrieve some Hibernate Search components.

I'll have a closed look and submit a patch.

[2021-03-01 10:59] gytis commented on #15369
Seems that we might need to start and commit a transaction ourselves and not rely on CDI interceptors in this method.

[2021-03-01 11:20] danielplappert opened #15372 "Add support for vault as credentials provider using mongo database"
**Description**
Currently, there is only support for some relational databases using vault as credentials provider or using a credentials provider at all. But vault also supports dynamic credentials for [mongo database](https://www.vaultproject.io/docs/secrets/databases/mongodb). It would be great, if quarks also supports a credentials provider for mongo.

**Implementation ideas**
The current impl

[2021-03-01 11:27] radcortez commented on #13277
Ah, yes. Forgot that `@ConfgProperty` injection is implemented differently in Quarkus (we use a CDI Extension in SR Config), so we need to implement things twice.

I'll handle that. Sorry for wasting everyones time.

[2021-03-01 11:31] gemmellr commented on #15229
Virtual hosts arent explicitly mentioned in the spec @cescoffier I dont think (as thats more about a specific server-behaviour model, which 1.0 doesnt define, instead being more about message transfer between less constrained 'things'). Hostnames are mentioned however, and so the same sort of ability can be achieved using the hostname field in the connection Open frame: http://docs.oasis-open.org/

[2021-03-01 11:37] geoand commented on #13277
No worries, thanks for picking it up @radcortez!

[2021-03-01 12:31] #15351 closed

[2021-03-01 12:33] #12630 closed

[2021-03-01 12:38] yrodiere commented on #15361
@rpinaa Thanks for confirming this was an error on your end.

Closing as invalid.

[2021-03-01 12:38] #15361 closed

[2021-03-01 12:40] yrodiere commented on #15352
@rsvoboda Thanks for reporting this.

The fix is there: https://github.com/quarkusio/quarkus/pull/15375

[2021-03-01 12:54] gsmet commented on #14682
@BrainShit could you create a small reproducer? That would be helpful.

[2021-03-01 13:00] gsmet commented on #14661
I created https://github.com/quarkusio/quarkus/pull/15376 .

[2021-03-01 13:00] #14661 closed

[2021-03-01 13:05] #13341 closed

[2021-03-01 13:28] barreiro commented on #11929
@yrodiere I agree with your analysis. I need to do some research about it, both what JDBC drivers can provide and what Narayana expects.

[2021-03-01 13:30] cescoffier commented on #15229
Thanks @gemmellr!

I've to say that it's a bit embarrassing... as the Vert.x AMQP Client (which I did a few years ago) has a `virtual-host` attribute, configuring the connection hostname.

Basically, the only thing missing was exposing that attribute in the connector. I just opened https://github.com/smallrye/smallrye-reactive-messaging/pull/1075 doing exactly this.

[2021-03-01 14:16] BrainShit opened #15381 "Generating a new quarkus application with resteasy-reactive still includes resteasy classic"
**Describe the bug**
When you create a new application using code.quarkus.com and choose resteasy-reactive-jsonb or resteasy-reactive-jackson or resteasy-reactive-qute the pom.xml/build.gradle still includes resteasy classic.
When you include reasteasy-reactive in combination resteasy classic is not included.

**Expected behavior**
Not including resteasy classic

**Actual behavior**
Includes reste

[2021-03-01 14:30] skasten opened #15383 "REST client / RESTEasy / Apache HTTP Client does not regard TCP RST?"
Hello together,

as far as I have analysed it, it is not possible to set any keep-alive options etc. in the Quarkus configuration for the REST Client, correct? As far as I see it is only possible for the Dynamo-DB extension etc. The normal RESTEasy client seems not to have specific properties/configuration to set options for the underlying Apache HTTP Client Connection pool.

**What is the problem

[2021-03-01 14:34] BrainShit commented on #14682
https://github.com/BrainShit/liquibase-reactive-rep

Here's the reproducer, I stripped away a bunch of the extensions I've been using during my previous reply to thin that out a bit

[2021-03-01 15:07] BrainShit commented on #15381
realised I opened this in the wrong repository thus closing

[2021-03-01 15:07] #15381 closed

[2021-03-01 15:43] belu commented on #5860
@geoand Yes, can do that with your help & guidance.

[2021-03-01 15:53] ch3rub1 commented on #12517
A little bump on this issue since microprofile-rest-client 2.0 is now available and we also need this feature :)

[2021-03-01 15:56] pmlopes commented on #15185
Hi @Sgitario The issue here was that vert.x was not allowing the `-` symbol to be part of a variable name as it used a regular expression that mimicks the java variable naming rules. I've created a PR to address this and allow it:

[code]

A variable must start with a letter and have a sequence of letters, numbers or `_` and `-`. I guess the rule could be even more relaxed to support more characte

[2021-03-01 15:58] #6260 closed

[2021-03-01 15:58] #11622 closed

[2021-03-01 16:05] pmlopes commented on #15185
@cescoffier I think we can relax the rule on vert.x side and add also add `$`. This way we pretty much cover all the allowed characters for variable naming on most programming languages:

[code]

[2021-03-01 16:10] #15236 closed

[2021-03-01 16:20] KSmigielski opened #15386 "Federated GraphQL service"
**Describe the extension**
The main purpose of the extension is to create a tool that will allow you to easily create microservices compliant with the   [GraphQL Federation Specification created by Apollo Graph Inc.](https://www.apollographql.com/docs/federation/federation-spec/l)

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration sugges

[2021-03-01 16:56] phillip-kruger commented on #15386
This is already an issue on the SmallRye GraphQL issue board, and once added there should come in as part of the current GraphQL Extension

[2021-03-01 17:05] sithmein commented on #14762
So this basically means there is no way to use entities from external libraries with JPA in Quarkus? This is bad.

[2021-03-01 17:34] sberyozkin commented on #2611
@loicmathieu CPE team has helped with updating Quarkus CPEs against one of the resolved CVEs so now there is a clear path toward managing this issue, I'll ask them to help with syncing CPEs wits some other known CVEs and then resolve this issue - from then on we will be sending updates to NVD as needed - and we can also use this issue as a notifier, ex, when a new false positive is created - then

[2021-03-01 17:51] djnalluri commented on #12802
I haven't been able to prioritize building this out. It would be a more involved setup as we would have to create an artifact with versions for each available instance. Currently, there's no way to look up the available instances and their URL so we would have to hard code them into the CI.

[2021-03-01 17:55] famod commented on #15364
Very interesting proposal! I read that mail thread briefly and I must say that I haven't fully understood whether this can/should be a (quarkiverse?) extension or some core extension?

/cc @gsmet @Sanne @geoand

[2021-03-01 17:57] cescoffier commented on #15344
Can you provide a reproducer (a simple all-in-one project reproducing the issue?)

[2021-03-01 17:58] geoand commented on #15364
I don't really have an opinion on this TBH

[2021-03-01 18:01] sberyozkin opened #15387 "Oidc Token propagation filter should be able to re-sign and set new issuer/audience and other JWT props"
**Description**
Right now `quarkus-oidc-token-propagation` differs only in one way from what MP RestCient with its `@RegisterClientHeaders` auto-propagation can do - `quarkus-oidc-token-propagation` can propagate the access tokens returned with the code flow.

In general the direct token propagation is not considered the best pattern - the ` borders` of the area affected by a given token get loose

[2021-03-01 18:04] dufoli commented on #8461
here we have a patch on qxf extension for switch to 0.33
https://github.com/quarkiverse/quarkus-cxf/pull/164
I think that best is that quarkus is updated instead of cxf extension.

[2021-03-01 18:08] sberyozkin opened #15388 "OidcClient should support dynamic properties"
**Description**

`OidcClient` was meant to be not only a service account client but a general `OidcClient` which will hopefully grow in time to let users not only get/refresh the tokens  but also introspect them, get the discovery docs etc, i.e give users more control when they need to drive the OIDC flows from their endpoints.

This particular issue is about enhancing OidcClient to handle `author

[2021-03-01 19:25] atamanroman opened #15389 "ENVs required in prod profile break dev profile but only when using the built artifact"
**Describe the bug**

Quarkus tries to resolve ENVs for profiles which are not active. This breaks other profiles. This only happens with the built jar. It works fine with the `quarkus:dev` plugin.

Example:

Empty Quarkus project with `%prod.quarkus.http.port=${HTTP_PORT}` as the only configuration in `application.properties` breaks every other profile when running from jar if `HTTP_PORT` is not

[2021-03-01 19:59] KSmigielski commented on #15386
Thanks for the answer. I didn't know there was such a topic already. I will look at it and maybe I can help there 😄
[SmallRye GraphQL issue](https://github.com/smallrye/smallrye-graphql/issues/521)

[2021-03-01 19:59] #15386 closed

[2021-03-01 20:04] belu commented on #5860
@geoand
Is it correct that just the `ParamConverter` for `LocalDate` has to be added to the runtime module, but not the `ParamConverterProvider` for `LocalDate`? Is this handled automagically by the `ResourceParamConverterProvider`?

The new method in the `ResteasyReactiveScanningProcessor` has to be annotated with `@BuildStep`, correct?

With "generate" you mean it returns a new `ParamConverterBu

[2021-03-01 20:10] gsmet commented on #15370
/cc @loicmathieu

[2021-03-01 20:11] famod commented on #15389
/cc @radcortez

[2021-03-01 20:12] gsmet commented on #15369
@gytis you can use interceptors but you need to call only one intercepted method that wraps the two calls.

[2021-03-01 20:13] gsmet commented on #15364
Well, before even deciding where it should be, we would need someone to develop and maintain the extension :).

[2021-03-01 20:18] gsmet commented on #15355
You have a `-deployment` dependency in the runtime part of your extension: that's what causes the issue.

You should have the `-deployment` dependency in the deployment pom and the runtime dependency (so the one with `-deployment`, here `quarkus-vertx-core`) in the runtime part.

Doing so fixes your issue.

[2021-03-01 20:18] #15355 closed

[2021-03-01 20:31] Sanne commented on #15364
Right. Looks very interesting but it depends on the Transactions team to be able to develop & maintain this. cc/ @ochaloup @mmusgrov and @tomjenkinson

[2021-03-01 20:45] michalszynkiewicz commented on #15344
@cescoffier is smallrye-http working properly with Quarkus?

@anaray does quarkus-http connector work for you?

[2021-03-01 21:20] glefloch commented on #14012
@dinesh-monickaraj I tried with the latest gradle version (`6.8.3`) and it looks ok. Can you try with it?

[2021-03-01 22:30] anaray commented on #15344
@michalszynkiewicz  I will test using quarkus-http connector .

From the documentation I see following

_In the case of consuming an arbitrary object, the reactive-messaging-http extension will attempt to deserialize the request body assuming it is JSON._

In my case I don't want to deserialize the request, I just want pass the incoming byte array as is to the downstream. I assume that there would

[2021-03-01 23:54] anaray commented on #15344
@michalszynkiewicz . I used **quarkus-http connector** instead of **smallrye-http**. I also added a custom serializer for bytes[]. Now everything works as expected. Stopping the downstream service doesn't affect the quarkus application. It retries and once the downstream service comes, it connects back. Thank you @cescoffier @michalszynkiewicz

[code]

[2021-03-01 23:54] #15344 closed

[2021-03-01 23:55] xmlking commented on #14012
I have up-to-date deps in https://github.com/xmlking/micro-apps
same issue:
we can reproduce with command: `gradle :apps:greeting-service:task`

[code]

[2021-03-02 02:44] nicolas-vivot commented on #10499
Do we have a date about when this extension is going to be available officially ?

[2021-03-02 03:10] kenfinnigan commented on #10499
I'm hoping to have an initial version in 1.13 (March), or 1.14 (April) at the latest

[2021-03-02 03:48] #15358 closed

[2021-03-02 04:08] soul2zimate opened #15398 "javax.xml.parsers.FactoryConfigurationError when using apache xmlrpc-client to make request to bugzilla."
**Describe the bug**
Unable to make request to bugzilla with apache xmlrpc-client due to `Caused by: javax.xml.parsers.FactoryConfigurationError: Provider for javax.xml.parsers.SAXParserFactory cannot be found`

**Expected behavior**
successfully make a request to bugzilla with apache xmlrpc-client and get data back.

**Actual behavior**
exception happens as below example.

**To Reproduce**

Link

[2021-03-02 05:37] gechoi-ahunga opened #15400 "unnecessary warning was shown resteasy-reactive"
**Describe the bug**
I got the message when resteasy-reactive project.

(build-70) [io.quarkus.resteasy.common.deployment.ResteasyCommonProcessor] null: Quarkus detected the need for Mutiny reactive programming support, however the quarkus-resteasy-mutiny extension was not present. I used quarkus-resteasy-reactive-jackson with below dependency.

[code]
In my understanding if I added resteasy-react

[2021-03-02 05:59] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/612914598

[2021-03-02 06:08] #15371 closed

[2021-03-02 06:19] glefloch commented on #14012
Thanks I will give a try with your project

[2021-03-02 06:34] geoand commented on #5860
Yeah, the way I propose Quarkus will be able to register it properly.

Correct.

Yes, either returning the build item or calling produce on the producer is the same thing.

You are likely not using the correct versions. See https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#usage

[2021-03-02 07:20] mkouba commented on #15185
Hi @pmlopes, I wonder if it would be possible to verify the path parameter during registration? It seems that the route is currently just ignored.

[2021-03-02 07:47] #15357 closed

[2021-03-02 08:05] iompo opened #15403 "Make quarkus.datasource.db-kind overridable at runtime"
I have an application that uses a relational database and the database type is selected when the application is installed (mysql, mariadb, mssql and oracle). Right now, since the property `db-kind` is fixed at build time, I have to compile four different times the same application, one for each database type.
With hibernate the application code is already independent from the implementation, so be

[2021-03-02 08:43] #14219 closed

[2021-03-02 09:36] #12498 closed

[2021-03-02 10:16] geoand commented on #15403
This has been discussed before and it's something we really don't want to do.

cc @Sanne @gsmet

[2021-03-02 10:20] gsmet commented on #15403
Yeah, I asked @iompo to open an issue so that we can gather feedback on this. I explained for now we weren't considering it.

[2021-03-02 10:53] #15352 closed

[2021-03-02 11:02] bcluap commented on #15357
Thanks Stuart & Georgios. Working great

[2021-03-02 11:31] loicmathieu commented on #15370
This is not an issue but a limitation of Elasticsearch, when it first encounters a field, if it has no mapping for it, it will create a mapping for this field based on the filed type (by automatically detecting the type). The type of the field cannot be changed in the mapping.

This is not something we can fix or workaround, this is how Elasticsearch works.

As I understand it, you already ask the

[2021-03-02 11:31] antoniomacri commented on #15075
I noticed that most of the failing REST calls are run on a vert.x-eventloop-thread, while the others (non-failing) are on executor-thread:

Compare
[code]
with:
[code]

Tipically, just after the second log I find another with the UT000127:
[code]

Is this somehow useful to address the issue?

[2021-03-02 11:34] loicmathieu commented on #15104
@glefloch for MongoDB with Panache we use the same mechanism than with Hibernate with Panache.
Can you check how this is done in the later ?

@FroMage does Hibernate with Panache have special handling for the annotation processor for Gradle ?

[2021-03-02 11:49] micheljung commented on #12480
If this was documented, it's not anymore

[2021-03-02 12:00] #15400 closed

[2021-03-02 12:21] #15347 closed

[2021-03-02 12:30] Alwaysgone commented on #15229
Thank you very much for the detailed explanation and the quick fix. Can this be expected to make it into the next release?

[2021-03-02 12:37] anmiralles opened #15408 "w3c tracing headers support"
**Description**
Hi everyone,

we are trying to follow CloudEvent standard in order to trace request through different micros and systems (Kafka broker). The problem right now is quarkus-smallrye-opentracing dependency is internally using an old jaeger-core lib which still doesn't support w3c standards for tracing:

https://www.w3.org/TR/trace-context/

Trace context is split into two individual pr

[2021-03-02 12:41] Shohou commented on #15370
@loicmathieu So how do I specify the type of parameters via additionalFieldType using quarkus-logging-gelf extension?

[2021-03-02 12:47] kenfinnigan commented on #15408
OpenTracing is no longer maintained.

The best way to get W3C tracing header support is when the OpenTelemetry extension is included: https://github.com/quarkusio/quarkus/issues/10499

[2021-03-02 12:47] #15408 closed

[2021-03-02 12:48] Shohou commented on #15370
extension states that it supports graylog, but literally every person who wants to use it with default settings will face the issue and will have to set this parameters. I believe this deserves a mention in the docs at least

[2021-03-02 13:07] pmlopes commented on #15185
@mkouba Validation is now present on the PR too. However, the PR is now different. By default, the naming rules are as described on the documentation of vert.x web (alphanumeric characters and underscore). If a system property is set:

[code]

Then the rule is extended to allow `-` and `$`. The reason for this choice is as follows, imagine that you had designed an API as:

[code]

If the pattern s

[2021-03-02 13:19] gsmet commented on #15370
@loicmathieu @Shohou is saying that he can't define the types because the additional field config requires a value and from what I can see, he's right.

So if it's possible with Gelf to only define the type for additional fields (I have no idea if it does but looks like that's what Mark is saying in the other issue), we should also allow this and make the value optional.

[2021-03-02 13:26] mkouba commented on #15185
@pmlopes Hm, so the dash `-` is here used as a separator of path segments. Are you sure this is legal for HTTP?

[2021-03-02 13:28] loicmathieu commented on #15370
I'm not sure configuring `additionalFieldTypes` will do the trick, it is for static fields added via configuration (for example, you can add a 'component' fileld with the name of your application). And it is for all messages so you will configure a type 'message0' for all logs and not only for the one that needs a long.

I would suggest to disable `includeLogMessageParameters`, this property will

[2021-03-02 13:28] Sgitario opened #15409 "Validation is not working on Spring REST Data on Native"
**Describe the bug**
Spring REST Data extension stopped working when using validations in Native.

This is a regression issue caused by this commit: https://github.com/quarkusio/quarkus/commit/8c76e39060f6b288eaaeeb28bc477b33a972a40f.

This is how my Spring endpoint looks like:

[code]

And my entity:

[code]

When calling a POST/PUT endpoint and the validation fails, the endpoint fails with Inter

[2021-03-02 13:28] Sgitario commented on #15409
cc @gytis

[2021-03-02 13:32] gytis commented on #15409
Thanks @Sgitario I'll look into it.

[2021-03-02 13:33] gsmet commented on #15370
But it looks like Mark is saying you can do it with `additionalFieldTypes` here: https://github.com/mp911de/logstash-gelf/issues/264#issuecomment-787764492 so it might be worth a try. At least, our config should allow that if it's a supported feature of Gelf.

Not sure I understand this one. Your types need to be consistent across all messages given you need the schema to accept all log messages.

[2021-03-02 13:33] gastaldi commented on #12480
Looks like it was moved to https://quarkus.io/guides/config-reference#configuration-key-conflicts

[2021-03-02 13:40] andrerigon opened #15410 "Send micrometer metrics for vertx pools"
**Description**
We'd benefit from monitoring vertx worker and event loop pools so we can detect/alarm long waiting and tune pool sizes if needed.

**Implementation ideas**
I'd suggest using micrometers executor service wrapper: https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java#L316

[2021-03-02 13:41] pmlopes commented on #15185
@mkouba of course, it is, HTTP does not mandate anything regarding variables. Protocol wise, HTTP refers to resources that are structured in a hierarchical form just like a file system. If you see the example:

[code]

There is nothing wrong with it from the HTTP perspective or even from a REST perspective. Another example could be:

[code]

Which would be used for example as:

[code]

Again nothi

[2021-03-02 13:41] gsmet commented on #15409
Could you please include the full stack trace in the issue description? I would bet you have it in the logs.

[2021-03-02 13:43] Sgitario commented on #15409
This is the full exception:

[code]

[2021-03-02 13:44] gsmet commented on #15409
Btw @Sgitario and @rsvoboda , could we run the beefy-scenarios tests as part of the ecosystem CI? Are the tests run automatically or you need manual intervention?

[2021-03-02 13:45] geoand commented on #15409
We would definitely benefit from this

[2021-03-02 13:55] mkouba commented on #15185
Ok, I misunderstood the concept of _path parameters_. My understanding was that a path param always represents a path segment. A subtle clarification in the docs would be helpful ;-).

[2021-03-02 13:55] rsvoboda commented on #15409
We have daily runs against Quarkus master.
Defined in https://github.com/quarkus-qe/beefy-scenarios/blob/master/.github/workflows/daily.yaml

[2021-03-02 14:00] geoand commented on #15409
Can you add this to ecosystem-ci? See the README from https://github.com/quarkusio/quarkus-ecosystem-ci for instructions

[2021-03-02 14:00] rsvoboda commented on #15409
We can prepare https://github.com/quarkusio/quarkus-ecosystem-ci integration.
This way you will get GH notifications directly?

[2021-03-02 14:00] geoand commented on #15409
Exactly!

[2021-03-02 14:13] rsvoboda commented on #15409
@Sgitario will be looking into the integration

[2021-03-02 14:32] geoand commented on #15409
Great, thanks

On Tue, Mar 2, 2021, 16:13 Rostislav Svoboda <notifications@github.com>
wrote:

[2021-03-02 14:33] evacchi commented on #8593
FYI I have isolated the issue to one call to the OpenAPI method:

[code]

that was inserted at https://github.com/kiegroup/kogito-runtimes/blob/f855f1d0d21e1f6c0fa1d4bfcf289fe5cb0956ec/kogito-codegen-modules/kogito-codegen-decisions/src/main/java/org/kie/kogito/codegen/decision/DecisionCodegen.java#L71 in October due a similar issue (as you can see from the comment), occurring otherwise somewhere

[2021-03-02 14:35] cescoffier commented on #15229
We will try, but I'm a bit behind schedule and releasing reactive messaging before 1.13.0 (next week) might be challenging.

[2021-03-02 14:52] belu commented on #5860
@geoand
Thanks for the hint about the incorrect versions. That fixed the issue mentioned above.

Now I am running into a `ClassCastException`:
[code]

Quarkus tries to cast the `LocalDateParamConverter` to a `ParamConverterProvider`. As you suggested before, I do not include my own `LocalDateParamConverterProvider`. Any idea what could be the problem?

[2021-03-02 14:55] blazmrak opened #15411 "@InjectMock replaces existing mocks"
**Describe the bug**
Basically what I have is class C1, which implements 2 interfaces I1 and I2. Class C2 then injects those 2 interfaces. The actual (non-test) code runs well, but in testing one of the mocks is not called.

It will probably be the simplest to understand with some pseudo code, as I have a hard time explaining the problem with words.

[code]

From what I understand what happens is

[2021-03-02 15:03] shawkins commented on #15279
The fix has been limited to just remove the list/watch permissions - as to not make the secret list a build time property.

For this same reason the role generation will be broken if the namespace property is used.  namespace is also not a build time property, so we can't use that information to know whether a clusterrole with a rolebinding to a particular namespace is needed at the time the role

[2021-03-02 15:07] #8849 closed

[2021-03-02 15:08] belu commented on #5860
@geoand
Something confuses me: in the method `ResteasyReactiveScanningProcessor.scanForParamConverters()`.

What you actually produce are `ParamConverterProviders`, and not `ParamConverters` (as you are looping over a collection `paramConverterProviders`).

So, why do you put a `ParamConverterProvider` into a `ParamConverterBuildItem`? Shouldn't that be added to a `ParamConverterProvidersBuildItem

[2021-03-02 15:11] famod commented on #15411
TBH, I'd expect the same as you do. There might be some limitation related to ArC but that's pure speculation.
Someone needs to take a closer look.

/cc @geoand @mkouba

[2021-03-02 15:15] mkouba commented on #15411
Hm, what's the CDI scope of the `I1` bean implementation? AFAIK the `@InjectMock` and friends only work for normal scoped CDI bean (e.g. `@ApplicationScoped`, `@RequestScoped`, etc).

[2021-03-02 15:21] famod commented on #15411
As long as `class C1 implements I1, I2 {...}` and `@MockInject I2` works, C1 seems to be a normal scoped bean. 🤔
But it certainly doesn't hurt if @blazmrak would confirm. 🙂

@blazmrak a small sample project reproducing the problem would come in handy.

[2021-03-02 15:29] mkouba commented on #15411
@famod You're right, except that there might be various CDI constructs that can _change the game_ ;-), e.g. qualifers, `@Typed`, `@Alternative`, ...

[2021-03-02 15:39] Shohou commented on #15370
I definitely don't want to configure type for each message separately (is it even possible?). I only want all my messages getting to graylog. So String type for `messageParameterX` would be absolutely ok for me. Even if it's long I'm absolutely fine if it will have String type in graylog, because I understand that this parameters type is completely unpredictable.

Setting quarkus.log.handler.gelf.

[2021-03-02 15:51] blazmrak commented on #15411
Sorry, I didn't bother to setup a repo, as I didn't know if it is a problem at all. I will get on it and update the issue.

@mkouba The scope is @ApplicationScoped.

[2021-03-02 16:13] geoand commented on #5860
It seems I misread the intent of the (badly named) `ParamConverterBuildItem`.
You indeed need to pass a `ParamConverterProvider` there

[2021-03-02 16:16] blazmrak commented on #15411
I have added a minimal sample. Notice if you switch the order fields

[code]

instead of

[code]

there is different mock which does not get called

[2021-03-02 16:21] robotmrv opened #15414 "Vertx sqlclient Pool - mandatory ThreadLocalPool issue"
**Describe the bug**
There is a quarkus `io.quarkus.reactive.datasource.runtime.ThreadLocalPool` wrapper around `io.vertx.sqlclient.Pool`
with such javadocs
[code]
as java docs says - there is Thread safety issue in  `io.vertx.sqlclient.Pool` implementations and this is a reason to use this wrapper.

But as far as I understand from comment https://github.com/eclipse-vertx/vertx-sql-client/issues/8

[2021-03-02 16:31] gsmet opened #15415 "Deploying on OpenShift leads to a Quay error for the first deployment"
Nearly every time I deploy my Quarkus application to an OpenShift cluster using the OpenShift extension, I get the following error on the OpenShift side for my first attempt:
[code]

The second attempt succeeds with:
[code]

As you can see, the hash is not the same. As the Quarkus images are rebuilt often, and I don't deploy that often, maybe that could explain things.

I deploy my application wit

[2021-03-02 16:31] belu commented on #5860
@geoand
Thanks! My local test-app works now.

Next step: testing. Can you recommend any QuarkusTest as a reference?

[2021-03-02 16:43] llowinge opened #15416 "Running app in OpenShift fails because of classpath set after jar"
**Describe the bug**
Using quarkus-openshift plugin to deploy quarkus app i can see in deploymentconfig

[code]

I think the problem comes from https://github.com/quarkusio/quarkus/blob/master/extensions/container-image/container-image-s2i/deployment/src/main/java/io/quarkus/container/image/s2i/deployment/S2iProcessor.java#L110.

**Expected behavior**
The correct order (alteast from java --help) i

[2021-03-02 16:48] gsmet commented on #15213
Yeah, I confirm we can have this type of issues with the current setup. Probably worth some cleanup.

Thanks for the report!

[2021-03-02 16:49] geoand commented on #15416
@iocanel this sounds like one for you :)

[2021-03-02 17:31] evanchooly commented on #11428
1.4 is the default now so this could be closed, no?

[2021-03-02 17:32] MartinX3 commented on #11428
with UniverseBOM 1.12.0.Final i use 1.4.20, but not 1.4.30

[2021-03-02 17:34] QuarkusQE opened #15417 "[CI] - Quarkus QE BeefyTS + Quarkus main"
This issue will be open and closed dependent on the state of https://github.com/quarkus-qe/beefy-scenarios building against Quarkus master snapshot.

If you have interest in being notified of this subscribe to the issue.

[2021-03-02 17:34] evanchooly commented on #11603
Is there a more focused reproducer I could look at?

[2021-03-02 17:45] MrMoner opened #15418 "Dev reload ignores Kotlin compiler arguments"
**Describe the bug**
When using Kotlin's `Result` type (which is somewhat experimental), you must pass an argument to the compiler to enable Result type to be returned by a function.

Argument required to enable Result return type: `-Xallow-result-return-type`

<details>
<summary>How to pass args to build tools</summary>
<br>

If using maven:

[code]

If using gradle:

[code]
</details>

Writing a

[2021-03-02 17:49] evanchooly commented on #11428
ok.  I can bump that up, then.

[2021-03-02 17:54] Sanne commented on #14762
@mgwillem sorry I'm the slow cog here. @yrodiere volunteered to take it over.

@sithmein if by "external libraries" you mean 3rd party classes which can't be annotated, then yes there's this current limitation, but it shouldn't be too hard to fix. At least, conceptually, there's nothing fundamentally hard about it other than someone needing to do the work of wiring up the existing support of Hiber

[2021-03-02 19:16] 38leinaD commented on #12286
Same problem and exception for me. Though i am not using the MP RestClient via an interface but directly the rest-client:

`ClientBuilder.newClient()...post(Entity.form(new Form().param("grant_type", "client_credentials")))`

[2021-03-02 20:15] blazmrak commented on #15411
@mkouba @famod The problem probably lies with [MockitoMocksTracker](https://github.com/quarkusio/quarkus/blob/ef55a323d52af0969c7507289c37ddcf2259da7b/test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/MockitoMocksTracker.java#L11), as it is beanInstance to mock map.

Basically what happens is that the second mock that is read gets mapped to the same bean instance.

[2021-03-02 20:18] famod commented on #15416
AFAIK, `-cp` is **ignored** when using `-jar`!
https://stackoverflow.com/a/5858892

So `-cp` should probably be dropped completely.

[2021-03-02 20:19] geoand commented on #15411
I'll take a look sometime this week.

Thanks for the reproducer and the details

[2021-03-02 20:20] geoand commented on #15416
Yeah for sure.

@iocanel we've mentioned that before haven't we?

[2021-03-02 21:39] #15104 closed

[2021-03-02 21:40] #15279 closed

[2021-03-02 21:51] blazmrak commented on #15186
The problem is that you are not using those mocks anywhere. If you are using @InjectMock you have to have one @Inject field in your test. Remove @Named annotations from the beans. The code should work.

[2021-03-02 22:13] gsmet commented on #15398
Have you tried excluding `xml-apis:xml-apis`? It looks a lot like a conflict between the JDK classes and the ones from this jar.

[2021-03-02 22:15] gsmet commented on #15414
/cc @Sanne

[2021-03-02 22:19] #15250 closed

[2021-03-02 22:21] gsmet commented on #15272
I think the faulty behavior between the client and the server has been fixed recently with a RESTEasy upgrade. @sberyozkin would know more.

[2021-03-02 22:29] gsmet commented on #15335
Please provide the full stacktrace of the error.

[2021-03-02 22:30] gsmet commented on #15200
@FroMage @loicmathieu could one of you have a look. We have a reproducer above.

[2021-03-02 22:31] gsmet commented on #15195
/cc @matejvasek, @patriot1burke

[2021-03-02 22:33] gsmet commented on #15218
Please reopen if the answer is not OK.

[2021-03-02 22:33] #15218 closed

[2021-03-02 22:38] gsmet commented on #15169
@Sanne @yrodiere would it make sense to add this? If we don't think it's a good idea, we can explain and close.

[2021-03-02 22:38] gsmet commented on #15170
OK, closing then.

[2021-03-02 22:38] #15170 closed

[2021-03-02 22:41] wtrocki commented on #12340
I'm comming from OData and GraphQL Background.
Technically you can use https://olingo.apache.org project with quarkus.
I haven't tested this with native compilation itself.

[2021-03-02 22:41] gsmet commented on #15164
@DavideD any chance you could have a look to this one?

[2021-03-02 22:42] gsmet commented on #15100
I'm closing this one. If you want us to consider this, we need a full description and a proper explanation of why it is useful.

[2021-03-02 22:42] #15100 closed

[2021-03-02 22:44] gsmet commented on #15082
Given it's not a Quartz feature, I think we will have to live with it.

[2021-03-02 22:44] #15082 closed

[2021-03-02 22:47] gsmet commented on #15077
@geoand I think we can live with it. If you use annotations, it will be defined at build time anyway.

[2021-03-02 22:49] gsmet commented on #14980
@yuriytkach did you have the chance to try 1.12.0.Final?

[2021-03-02 22:51] gsmet commented on #14997
The new Vert.x based websockets support will be available in 1.13 so I think we can close this one.

[2021-03-02 22:51] #14997 closed

[2021-03-02 22:52] gsmet commented on #15042
@geoand anything we can do on this one?

[2021-03-02 22:54] gsmet commented on #14932
Done by @phillip-kruger here: https://github.com/quarkusio/quarkus/pull/15297 .

[2021-03-02 22:54] #14932 closed

[2021-03-02 22:55] gsmet commented on #14933
@phillip-kruger did you address that in your Dev UI config work?

[2021-03-02 22:57] gsmet commented on #14909
Let's focus our efforts on RESTEasy Reactive. I will close this one.

[2021-03-02 22:57] #14909 closed

[2021-03-02 23:39] stuartwdouglas commented on #15075
Do you have a stack trace from the event loop? The trace above was from a worker thread.

[2021-03-03 00:06] famod commented on #15383
/cc @asoldano @ronsigal

[2021-03-03 00:21] sherl0cks commented on #12393
@zakkak I just added a new commit to my reproducer that leads to the below link error during the build. Wonder if this is instructive?

1. Build quarkus locally with substitution removed.
2. `java -agentlib:native-image-agent=config-output-dir= src/main/resources/META-INF/native-image -jar target/imageio-issue-1.0.0-SNAPSHOT-native-image-source-jar/imageio-issue-1.0.0-SNAPSHOT-runner.jar`
3. Hit `

[2021-03-03 00:38] shawkins opened #15422 "RBAC is generated incorrectly when namespace is set with kubernetes-config"
**Describe the bug**
When the namespace property is set the generated role/rolebinding is the same as if it the property were not set.  This leads to a start-up error.

**Expected behavior**
A clusterrole and a rolebinding that specifies the target namespace should be generated.

**To Reproduce**
set the quarkus.kubernetes-config.namespace and deploy with RBAC enabled.

**Configuration**
[code]

[2021-03-03 00:38] shawkins commented on #15279
Captured the namespace issue with https://github.com/quarkusio/quarkus/issues/15422

[2021-03-03 02:02] liuzhaozhao opened #15425 "SRCFG00013: No Converter registered for interface java.nio.file.Path"
**Describe the bug**
An error occurred while using Kafka incoming and could not be started

**Expected behavior**
Successfully started

**Actual behavior**

**Configuration**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/10733976/109740560-6caf2e00-7c06-11eb-9445-16754f733579.png)

**Environment (please complete the following information):**
 - Output of `uname -a` or

[2021-03-03 04:16] derren21 commented on #12592
@drissamri  I encountered the same issue, have you resolved this on your side? Thanks

[2021-03-03 04:30] phillip-kruger commented on #14933
When you change bit, it goes green for a moment, but then goes back to normal.

I think we can do something where we indicate what is set by you, i.e in application.properties.

I can look at that .

[2021-03-03 04:32] stuartwdouglas commented on #15425
What is the full stack trace? This is happening because the failed start recovery had an issue, the underlying issue should be earlier in the log.

[2021-03-03 04:45] liuzhaozhao commented on #15425
This is all logs of startup
[code]

[2021-03-03 04:52] liuzhaozhao commented on #15425
I saw the exception message at the top, because the name of the outgoing channel is the same as the name of the incoming channel, which caused the following error

Thanks for your hint，Resolved after changing the channel name

[2021-03-03 04:55] #15425 closed

[2021-03-03 05:32] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/616468480

[2021-03-03 06:09] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/616462628

[2021-03-03 06:18] geoand commented on #15042
This needs more thought

[2021-03-03 06:52] Sgitario commented on #6327
I could reproduce this issue and I had to add this additional dependency to make it work:

[code]

Note that this dependency is not under quarkus bom, so I had to manually set the version.

[2021-03-03 06:55] geoand commented on #12111
The test failure was on some kubernetes tests. However I can't reproduce it locally.
I will keep an eye out for them however

[2021-03-03 07:04] geoand commented on #15422
@iocanel what is the proper way to add a namespace to the RBAC resources only?

[2021-03-03 07:21] geoand commented on #12111
https://github.com/quarkusio/quarkus/pull/15426 should fix the CI issue

[2021-03-03 07:34] soul2zimate commented on #15398
[code]
@gsmet Thank you, the exclusion above works. but I saw another strange exception from a different reproducer in development mode with `mvn compile quarkus:dev`, does below exceptions ring a bell to you ? I don't see any application code in the stacktrace.

[code]

[2021-03-03 07:58] geoand commented on #15411
https://github.com/quarkusio/quarkus/pull/15427 fixes the issue

[2021-03-03 08:06] iocanel commented on #15415
Mercy Monsieur!

[2021-03-03 08:53] antoniomacri commented on #15075
I do not see any stack trace (actually no log at all) from the eventloop thread. The error is caught by an exception mapper which apparently runs on another thread.

Do you expect something different?

[2021-03-03 09:05] geoand commented on #15077
OK, I'll add this today

[2021-03-03 09:16] Sanne commented on #15169
I think we'll eventually want to enable these by default.

Today they are not enabled as some issues had been reported; AFAIR they are all fixed now but if we're to enable them without any way for users to turn them off that will need some extra caution.

I'm not a big fan of adding such toggles for the long term, but it would be useful to have such "feature flags" to allow some gradual phase-in o

[2021-03-03 10:01] DavideD commented on #15164
I will have a look

On Tue, Mar 2, 2021 at 10:41 PM Guillaume Smet <notifications@github.com>
wrote:

[2021-03-03 10:02] #4553 closed

[2021-03-03 10:02] #12984 closed

[2021-03-03 10:02] #14492 closed

[2021-03-03 10:02] #15004 closed

[2021-03-03 10:02] #15336 closed

[2021-03-03 10:11] oztimpower opened #15430 "Kubernetes extension drops Ingress (k8s 1.19 GA) manifest content"
**Describe the bug**
Kubernetes extension permits existing resources in `src/main/kubernetes/kubernetes.yml` to be merged into the build output, combined with the service and deployment resources.

I have updated the ingress specification from `apiVersion: extensions/v1beta1`
to `apiVersion: networking.k8s.io/v1` which went GA in Kubernetes v1.19.  It works fine on the `v1beta1` legacy version.

h

[2021-03-03 10:13] Sanne commented on #15164
Well while it's true that we might be able to workaround things in Hibernate, if SmallRye Health is leaking classloaders that needs to be fixed at higher priority.

[2021-03-03 10:25] geoand commented on #15430
@iocanel sounds like a Dekorate issue, right?

On Wed, Mar 3, 2021, 12:11 quarkus-bot-java[bot] <notifications@github.com>
wrote:

[2021-03-03 10:30] glefloch commented on #9138
Sorry for the late answer. There is a new integration of `jacoco` in quarkus.

Now, you just need to add a dependency to `testImplementation "io.quarkus:quarkus-jacoco"`. The report will automatically be generated.

If you build quarkus `master`branch locally, you can already test it. It will be part of quarkus 1.13. Here is the pull request that added this integration https://github.com/quarkusio

[2021-03-03 10:30] #9138 closed

[2021-03-03 10:56] izobin opened #15432 "Configuring logging documentation"
**Describe the bug**
Documentation for logging configuration does not state clearly, how exactly the rotation of logfiles is configured by the specified options. Here is the link to documentation page: https://quarkus.io/guides/logging

**Expected behavior**
When following options are present in application.properties:
quarkus.log.handler.file."STRUCTURED_LOGGING_FILE".path=myapp.log
quarkus.log.h

[2021-03-03 11:03] gunnarmorling opened #15433 "Use separate sequence per entity type with Panache"
As [dicussed](https://groups.google.com/g/quarkus-dev/c/-VH3F6iN-Nc) on the mailing list: a separate sequence provides distinct "id spaces" for each entity type, e.g. simplifying tests, also reducing contention during id collection of several busy entity types potentially.

[2021-03-03 11:07] gsmet commented on #15433
@Sanne I also think that would be a better default (always struggled with that) but is it something supported by Hibernate ORM? I remember having to define sequences for all my classes when I wanted to have this behavior back in the time but maybe I missed something back in the time.

Also, if supported, changing the default will break all the apps out there (and in unexpected ways).

[2021-03-03 11:11] gunnarmorling commented on #15433
Isn't this a question of Panache applying the right implicit configuration under the hood? Like it already makes the opinionated assumption that the id is of type long, so it also could apply that sequence config? But I'm super-far away from all this, so it may well be there's some challenge here.

Yes, that was on my mind, too. Might be good to use sequence-per-type by default but have an option

[2021-03-03 11:14] Sanne commented on #15433
Good points about the backwards compatibility; the default Id type being long and its options are provided by the parent class (which is optional to use).

So a simple solution would be to have different parent classes for users to choose from. But also, since you don't have to use the parent class, it's trivial for end users to define their own.

[2021-03-03 11:20] DavideD commented on #15164
When I try to run the reproducer, I have this error:
[code]

[2021-03-03 11:21] gsmet commented on #15433
@gunnarmorling the thing is that I'm not sure it's easy to have a working multi-sequences configuration supported by all databases around. That's why I ask if Hibernate ORM makes it possible.

[2021-03-03 11:26] Sanne commented on #15433
yea it's not an easy one, but considering we have the DB details et al I do agree that Panache should (programmatically?) use a better default - that's Panache's role.

[2021-03-03 11:27] markusdlugi commented on #15164
@DavideD That's interesting, haven't seen that one myself. Quick search brought up #15269. Maybe updating the reproducer project to 1.12.0.Final as suggested there might help?

[2021-03-03 11:35] DavideD commented on #15164
I've added the dependency to the a quickstart and I can recreate the exception

[2021-03-03 11:42] Sgitario opened #15434 "Mongo: Class Not Found jnr.unixsocket.UnixSocket when running in Native"
**Describe the bug**
We have a project that uses a lot of Quarkus extensions at the same time. One of these extensions is Mongo Panache and seems to be an incompatibility because when compiling the project in JVM, it works, but not in Native with the following error:

[code]

Note that when using only Mongo Panache, it works fine. I could not identify what other extension is causing Mongo to fail

[2021-03-03 11:47] zakkak commented on #12393
Hi @sherl0cks, I suspect this is an upstream GraalVM issue.
I would try to create a minimal Java application (not using Quarkus) that references `Java_sun_java2d_loops_DrawGlyphList_DrawGlyphList` and see if GraalVM CE 21.0 works with it or not.

[2021-03-03 11:50] loicmathieu commented on #15370
Imagine the following snippet:

[code]
These two logs will need to have the types of there messages configured.
As pointed out by @Shohou if you configure `uarkus.log.handler.gelf.additional-field.MessageParam0.type` will you configure it as int or boolean ? Because it will be used by the two log message.
So you will only be able to configure it for String?

We may need to ask more clarification t

[2021-03-03 11:53] sberyozkin commented on #14318
Hi @Sgitario @pedroigor I suppose we can close this particular issue as there is really nothing that will be done in Quarkus itself and it is under control elsewehere, do you agree ?

[2021-03-03 11:58] gytis commented on #15409
I get HTTP 500 error both in JVM and native executions. The difference I see is the response body being returned, where native mode doesn't include the stack.
In any case I'm going to raise a PR for https://github.com/quarkusio/quarkus/issues/13307 which will map all the validation errors to an HTTP 400 error. So that should take care of this issue too.

[2021-03-03 11:59] vc-void opened #15436 "Rollback DB changes when using RESTassured to test an endpoint"
**Description**
I was hoping that @TestTransaction could also rollback any database changes when calling an endpoint using RESTassured. Is this feasible?

[2021-03-03 12:01] markusdlugi commented on #15042
@geoand, I dug a little bit in the commit history and to me it seems like the discrepancy in behavior of single media type vs multiple media types is due to the following commit to fix #14023:

https://github.com/quarkusio/quarkus/commit/7eb7ba7062e95f0403181cdedc6cfbb95d760d4f#diff-2b16b904363609f2eceb08fd7684a0dfce940128f0752e384c52fbb114df729bR123

Here you changed `sortedMediaTypes` to `sorted

[2021-03-03 12:02] Sgitario commented on #14318
Fine with me.

[2021-03-03 12:23] loicmathieu commented on #15433
We use the `AUTO` ID generation strategy. This strategy usually used a single sequence for the all database.

If we want to use a more sensible default, for example TABLE or SELECT, they may need to be configured, and I'm not even sure we can have the same generator name for multiple entities which will occurs as the generator name would be configured on the base entity.

And even if it's feasible

[2021-03-03 12:28] gsmet commented on #15433
`TABLE` is definitely not a more sensible default. It's far inferior to using sequences when they are available.

[2021-03-03 12:32] shawkins commented on #15422
There are two problems here.  The first is that namespace is not a build time property - so you don't know if it's being used when the role information is built.

The second is that the role construction logic doesn't handle this scenario regardless.  Preferably you would create a clusterrole and have the rolebinding specify the target namespace - https://kubernetes.io/docs/reference/access-authn-

[2021-03-03 12:38] loicmathieu commented on #15434
It's very difficult to try to understand what's going on as the provided stacktrace didn'g give any stack inside Quarkus nor MongoDB.

Can you try to locate which extension have the `com.github:jnr-unixsocket` dependency ?

Can you also try to remove the `quarkus-mongodb-panache` extension and only include `quarkus-mongodb-client` ? I suspect the issue is from the MongoDB client extension as it is

[2021-03-03 12:52] Sgitario commented on #15434
- No extensions bring the `com.github:jnr-unixsocket` dependency
- I confirm it happens even when only including `quarkus-mongodb-client `
- Adding the dependency `com.github:jnr-unixsocket` helped.

I didn't try your last suggestions, but if I understood correctly, are you going then add this dependency as part of the MongoDB client extension as a fix?

[2021-03-03 13:17] Sanne commented on #15433
Perhaps the right thing to do is propose a change for ORM6 to use a different default for `@GeneratedValue`: in case sequences are available, use a sequence for each object hierarchy (not the same sequence for all entities).

[2021-03-03 13:25] gsmet commented on #15433
Yeah, that would have my preference (and probably have a config knob for a while to get back to the old behavior).

[2021-03-03 13:49] phillip-kruger commented on #14933
Hi @emmanuelbernard @gsmet @radcortez

I have been looking at this, and I think we should remove  `environment variables` and `system properties` from the list here. Or at least make them not editable.

Here my reason:

Changing any value here really just add an entry into `application.properties` and restart the app (in dev mode).

`application.properties` can not override any property in  `envir

[2021-03-03 14:20] loicmathieu commented on #15200
I'll have a look this week if I found some time but I quickly check the Panache code and we didn't handle specifically collection attributes so this may be tricky.

[2021-03-03 14:56] Sgitario opened #15440 "OIDC Client stopped working and fails with 500 Internal Server"
**Describe the bug**
Having this configuration:

[code]

And this REALM configuration for Keycloak:

[code]

When running our application, it fails with the next exception:

[code]

Our project was working fine before these changes were merged: https://github.com/quarkusio/quarkus/pull/14953. So, this is a regression issue.

**To Reproduce**
1- git clone https://github.com/quarkus-qe/beefy-scenari

[2021-03-03 14:59] sberyozkin commented on #15440
@Sgitario thanks Jose, glad you've spotted a single test failing only :-), going to have a look asap

[2021-03-03 15:10] iocanel commented on #15422
I think that we need to introduce a decorator for this. Limiting the scope of a decorator to a subset of resources is fairly trivial.

[2021-03-03 15:15] shawkins commented on #15422
@iocanel the current logic KubernetesRoleBindingBuildItem does support a clusterWide flag, which will create a cluster role.  However there is nowhere to specify the namespace for the role binding.  Also since namespace is not a build time property it won't be available when needed.

[2021-03-03 15:15] geoand commented on #15422
Feel free to assign it yourself then :)

[2021-03-03 15:18] Sgitario opened #15442 "Narayana STM failing to build in Native"
**Describe the bug**
When building a Quarkus application with the Narayana STM and also using any other extension that also brings the narayana JTA extension (hibernate orm, agroal, etc), the build fails in Native with:

[code]

**Expected behavior**
It should work as in JVM.

**Actual behavior**
It fails when building, see exception above.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-03-03 15:24] phillip-kruger commented on #14933
Hi @emmanuelbernard @gsmet @radcortez

You can see what I have done so far here: https://github.com/quarkusio/quarkus/compare/master...phillip-kruger:dev-ui-indicate-app-properties

Looks something like this:
![dev-ui-conf-properties](https://user-images.githubusercontent.com/6836179/109828476-54123880-7c45-11eb-8777-f2222170e606.gif)

[2021-03-03 15:45] DavideD commented on #15164
I gave a look at this issue and I'm not sure exactly what we can do about it from the Hibernate Reactive side.

The code we are using is similar to Hibernate ORM and the cause of the problem seems to be [this variable in EntityType](https://github.com/hibernate/hibernate-orm/blob/5.4/hibernate-core/src/main/java/org/hibernate/type/EntityType.java#L60):

[code]

In ORM this variable is lazily initi

[2021-03-03 15:52] geoand commented on #15042
Hey @markusdlugi

Thanks for looking into it.
Have you tried making that fix and letting CI run on your fork to see if everything will pass?

[2021-03-03 15:53] famod commented on #2649
@emmanuelbernard Is this still a problem?

[2021-03-03 15:56] emmanuelbernard commented on #2649
I have not tried since we are no longer travelling and physical crappy networks are out of my reach :)

[2021-03-03 16:00] sberyozkin commented on #15440
@Sgitario I have a fix, so `integration-tests/oidc-wiremock` uses a legacy `token_introspection_endpoint` discovery property - but `introspection_endpoint` is the one used by latest KCs...

[2021-03-03 16:03] sberyozkin commented on #15440
We have invalid `JWT` tokens tests but in your test it is an opaque token :-), so it does try an introspection endpoint - we also have the introspection tests - but since KC only uses JWT I used a non-discovery option to set the introspection path :-).
I'll add one more invalid token test which would stress a live KC intropspection endpoint with an opaque token

[2021-03-03 16:03] jsmrcka opened #15443 "SmallRye OpenAPI generates incorrect content type when using Spring Web annotations"
**Bug description**
`quarkus-smallrye-openapi` extension does not generate correct content type based on Spring Web annotation provided by `quarkus-spring-web` extension when generating OpenAPI schema (calling `/q/openapi` endpoint).

Instead of picking up the content type specified by Spring annotation
[code]
it generates response content type `application/json`.

The content type of the applicat

[2021-03-03 16:05] geoand commented on #15443
@phillip-kruger this is something that would need to fixed in SR, right?

[2021-03-03 16:10] gsmet commented on #2649
Let's close this and open a new one later if needed.

[2021-03-03 16:10] #2649 closed

[2021-03-03 16:25] #15330 closed

[2021-03-03 16:30] phillip-kruger commented on #15443
Yip, I'll have a look a.s.a.p

[2021-03-03 16:32] geoand commented on #15443
Thanks!

On Wed, Mar 3, 2021 at 6:30 PM Phillip Krüger <notifications@github.com>
wrote:

[2021-03-03 16:49] famod commented on #2628
So, to me it seems this can be closed since:
- we have multiple datasources since a couple of versions
- AFAICS the decision was/is to _not_ document `persistence.xml`

Right?

[2021-03-03 16:49] #14872 closed

[2021-03-03 16:59] famod commented on #3131
I'll close this one due to lack of feedback.

@masini Please feel free to reopen this issue if you are still seeing this problem. If you do, please provide a reproducer. Thanks!

[2021-03-03 16:59] #3131 closed

[2021-03-03 17:18] loicmathieu commented on #15434
This library is used only in the `io.quarkus:quarkus-extension-processor` dependency as a transitive dependency on the asccidoctorj test dependency.

I have no idea why it causes a native build issue, but this has something to do with the Quarkus extension processor.

[2021-03-03 17:21] loicmathieu commented on #15434
@aloubyansky the Quarkus extension processor have a transitive test dependency on `com.github:jnr-unixsocket` and under some circumstances it causes issue on native build.
Do you have any idea how it is possible that this extension ends somewhere on the classpath during a native build?

[2021-03-03 17:44] micheljung commented on #14012
Updating Gradle from `6.5.1` to `6.8.3` solved it for me.

[2021-03-03 17:51] famod commented on #15442
/cc @mmusgrov

[2021-03-03 17:51] famod commented on #15442
@Sgitario Have you tried getting more info via `--trace-class-initialization=com.arjuna.ats.internal.arjuna.utils.SocketProcessId`?

[2021-03-03 18:05] famod commented on #15436
Right now this is a "non-goal" of `@TestTransaction`, so to say.

Frankly, with a serious ammount of effort something _could maaaybe_ be implemented so that the test framework can the app to roll back the next transaction, but chances are that it's not possible or too hacky/fragile.
And what if you have multiple calls in a test method? Normally, you would expect a regular commit so that the second

[2021-03-03 18:08] gsmet commented on #15442
I can't reproduce this. By any chance did you also select the narayana-jta extension (or something that brings it)?

[2021-03-03 18:08] #15436 closed

[2021-03-03 18:09] famod commented on #15432
/cc @dmlloyd

[2021-03-03 18:33] aloubyansky commented on #15434
It appears it's not a new issue. See https://github.com/oracle/graal/issues/1239
The dependency comes from the monodb itself. If you look into https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/4.0.1/mongodb-driver-core-4.0.1.pom you'll see

[code]

And if you look into `com.mongodb.internal.connection.UnixSocketChannelStream` which is referenced from `io.quarkus.mongodb.runtime.graal.

[2021-03-03 18:33] aloubyansky commented on #15434
It looks like `--allow-incomplete-class-path` should help as well.

[2021-03-03 19:00] missourian55 opened #15448 "Kafka Schema Registry with basic authentication not working in native mode"
**Describe the bug**
When accessing schema registry in **native mode**, the basic authentication is not working and I am getting 401 unauthorized. It works good in the JVM mode

In Native mode below properties are not honored.
[code]

stacktrace
[code]

**Expected behavior**
Schema registry with basic authentication works in native mode similar to JVM mode

**Configuration**
[code]

**Screenshots*

[2021-03-03 19:23] #14823 closed

[2021-03-03 19:31] geoand commented on #5860
@belu I propose you open a draft PR. It makes it a lot easier to review

[2021-03-03 19:35] belu commented on #5860
@geoand Done. https://github.com/quarkusio/quarkus/pull/15451

[2021-03-03 19:38] geoand commented on #5860
Thanks. I'll take a look tomorrow or Friday

[2021-03-03 20:16] bcluap opened #15453 "RESTEasy Reactive: ReaderInterceptor results in java.lang.IllegalStateException: Should never be called"
Describe the bug
Using a reader interceptor for a JSON content type results in java.lang.IllegalStateException: Should never be called

Expected behavior
No error should occur

Actual behavior
a 500 is returned:
java.lang.IllegalStateException: Should never be called
	at io.quarkus.resteasy.reactive.jackson.runtime.serialisers.JacksonMessageBodyReader.readFrom(JacksonMessageBodyReader.java:34)
	at

[2021-03-03 20:20] geoand commented on #15453
Ah darn... This is a dump mistake that should be easy to fix.

Sorry for the inconvinience :(

[2021-03-03 20:23] bcluap commented on #15453
Yea, I saw the change ;-)

I get really unlucky. Each new release that comes out and I run our
platform tests and pick something new up. I sense we getting to the end and
soon will be able to go reactive :-)

On Wed, Mar 3, 2021 at 10:20 PM Georgios Andrianakis <
notifications@github.com> wrote:

[2021-03-03 20:24] #11428 closed

[2021-03-03 20:25] geoand commented on #15453
You should just give us the application 😆

[2021-03-03 20:57] geoand commented on #15453
https://github.com/quarkusio/quarkus/pull/15455 takes care of the issue properly

[2021-03-03 23:41] dbl81 opened #15458 "Quarkus 1.12.1.Final doesnt honor the path declared in the javax.ws.rs.core.Application"
**Describe the bug**
I chose to implement a javax.ws.rs.core.Application because of some OpenAPI values I would like define there (info, security and so on). I defined the base path of my application inside the javax.ws.rs.core.Application class, with the Path() annotation.
Quarkus ignores the declared path. The resources still work with their declared path without the prefix path declared inside

[2021-03-04 01:18] radcortez commented on #14933
I think the main motivation to include everything is for the user to have a clear view on what is being overridden or not. We had some cases in the past where users reported issues about configs not being read, but in fact it was an env variable of system property being set somewhere.

I'm ok if we change them to be read only, but also remember that the current user env, is not necessarily the env

[2021-03-04 03:29] yuhaibohotmail opened #15459 "Quarkus 1.12.1.Final：Build failure in native mode on windows"
**Describe the bug**
(Describe the problem clearly and concisely.)

Build failure  in native mode  on windows with  1.12.1.Final.
It work fine with 1.12.0.Final.

[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**

Steps to reproduce the behavior:
1.  gennate a sample pro

[2021-03-04 05:20] rsynek commented on #11563
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/619912841

[2021-03-04 05:36] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/619912582

[2021-03-04 05:39] phillip-kruger commented on #14933
You mean to application.properties ?

Even if the use does that, it will not take effect until the env var is removed, that we are not doing from this interface.
So at the moment, it would just appear like it's not working.

I make them read only but still visible. Let me know if this is ok ? Should I do a PR ?

[2021-03-04 06:13] kie-ci commented on #14860
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/619912582

[2021-03-04 06:19] Sgitario commented on #15442
@famod running with `--trace-class-initialization` was not very helpful:

[code]

[2021-03-04 06:20] Sgitario commented on #15442
@gsmet you are right, the problem is that we're using another extension that also brings Narayana JTA. When having narayana JTA in the classpath, Narayana STM fails to build in Native. I've already updated the issue description. Thanks!

[2021-03-04 08:09] m4k4veli commented on #14789
Hi, i was wondering if you could provide a code example on how to implement resolving mongodb database name based on tenant information. I'm currently working on a proof of concept, where having different db is mandatory for each tenant. I'm struggling implementing a solution. Therefore i would be very grateful if you could provide some more information.

[2021-03-04 08:13] KrisGerhard commented on #11603
I created a reproducer for you 👉 https://github.com/KrisGerhard/quarkus-native-hoplite-yaml-config

[2021-03-04 08:14] rsynek commented on #11563
The failure seems to be related to merging https://github.com/kiegroup/optaplanner/commit/f0c30a91852b2012bfbf97cb881d2860a73139bd before the corresponding Kogito snapshot landed in JBoss Nexus. Should be fixed with the next run.

[2021-03-04 08:47] Sgitario opened #15460 "Kafka Health Check guide is misleading about how to enable/disable it"
**Description**
The section https://quarkus.io/guides/kafka#kafka-health-check is misleading as:
- It's not disabled by default (unless when using reactive messaging which I think it's always)
- We cannot disable it using the property "quarkus.kafka.health.enabled". But works when using "quarkus.reactive-messaging.health.enabled".

Indeed, there are a few related issues because of the same confusi

[2021-03-04 08:52] tveon opened #15461 "Quarkus tests fails mTLS authentication against internal Maven repository"
**Describe the bug**
Our internal Maven repository is using mTLS as part of the authentication, which requires a bit additional configuration of Maven. This configuration is, however, not picked up by the Quarkus bootstrapper, which then throws an exception when running test.

**Expected behavior**
The `javax.net.ssl.*` properties from `MAVEN_OPTS` are successfully used to configure the HTTPS conn

[2021-03-04 08:58] gsmet commented on #14860
Native failed in the LTS build with:
[code]

[2021-03-04 09:01] evacchi commented on #14860
@danielezonca @gitgabrio ^

[2021-03-04 09:06] cescoffier commented on #15460
I already opened a PR extending that section. The PR has been merged already.

[2021-03-04 09:10] cescoffier commented on #15448
Can you provide a reproducer? It seems that the underlying Http client used by the Confluent Avro serde do not get the authentication data.

[2021-03-04 09:16] Sgitario commented on #15460
Thanks @cescoffier . I see the PR you mentioned https://github.com/quarkusio/quarkus/pull/15368.

[2021-03-04 09:16] #15460 closed

[2021-03-04 09:32] Sgitario opened #15464 "Kafka Health Check readiness is always down until It's consumed the first time"
**Describe the bug**
Given an application with the following extensions:

- `pom.xml`:

[code]

That creates a custom topology:

[code]

Spite of the application is correctly working, the health check readiness says that the "target" is down:

[code]

This was working fine prior to 1.12.0.Final.

**Expected behavior**
Health check should be UP.

**Actual behavior**
Health check is DOWN in 1.12.0.F

[2021-03-04 09:44] aloubyansky commented on #12486
Haven't yet looked further but here is the stacktrace.
[code]

[2021-03-04 10:00] Sgitario commented on #15434
So, are you suggesting that we should use `--allow-incomplete-class-path` as a workaround or that the jnr dependency should be part of Mongo Client?

[2021-03-04 10:03] cescoffier commented on #15464
Can you tell me who's is consuming the `login-denied` channel?

[2021-03-04 10:11] gsmet commented on #12486
Hum, this is new. @mkouba could you have a look at that one ^

[2021-03-04 10:23] #15077 closed

[2021-03-04 10:23] gsmet commented on #12486
BTW, we really need to be paranoid in the Dev UI and take into account all the possible weird cases.

[2021-03-04 10:23] #15411 closed

[2021-03-04 10:35] aloubyansky commented on #8593
This may be fixed in the microprofile-open-api master https://github.com/eclipse/microprofile-open-api/commit/f46b55fd461afa42258ed527e2f770d6dbcfbc3b

[2021-03-04 10:47] Sgitario commented on #15464
To sum up, the Health Check readiness will be DOWN until the channel starts being in use. In the reproducer example, the consumer is:

[code]

After the above path is called, the Health Check will became UP.

Note that this current strategy will not work in K8s or OpenShift as the Health endpoints are used to start accepting connections, so it needs to be disabled.

Pending actions:
- Update docs

[2021-03-04 10:51] rsvoboda commented on #15464
K8s or OpenShift ...  that's a good concern

[2021-03-04 11:03] aloubyansky commented on #8593
Yes, if I apply the fix above to 1.1.2, the test passes. The fix clearly makes sense. We need a new release of microprofile-open-api to close the issue.

[2021-03-04 11:06] Sanne commented on #2628
Right, thanks @famod

[2021-03-04 11:06] #2628 closed

[2021-03-04 11:08] geoand commented on #8593
@phillip-kruger ^

[2021-03-04 11:13] phillip-kruger commented on #8593
Nice, so we need a patch release for mp OpenAPI.... I'll see what I can do

[2021-03-04 11:22] mkouba commented on #12486
Well, it's not a weird case at all. Just a stupid mistake. I'll send a PR shortly.

[2021-03-04 11:36] markusdlugi commented on #15164
@DavideD Thanks a lot for investigating!

I was under the assumption that SmallRye Health must be responsible for the leak because the exception isn't thrown when you remove the dependency to `quarkus-smallrye-health`. But from your debugging it sounds more like a Hibernate Reactive issue. Maybe you could verify if the behavior in Hibernate changes if you remove the dependency to SR Health? Or doe

[2021-03-04 11:37] DavideD commented on #15164
The error only happens if I add the dependency to the classpath.

[2021-03-04 11:39] obbyK opened #15465 "JDBC Form based auth: changing user email while logged in causes a java.lang.NullPointerException at io.quarkus.vertx.http.runtime.security.PersistentLoginManager.save(PersistentLoginManager.java:118)"
When a user is already logged in and updates their email which is used as the `username` for the form based auth, there is a redirect to sign in page. But when using the new email to log in, it cause the above error. After which accessing any page causes the same error. This is using `quarkus-elytron-security-jdbc`.

stacktrace
[code]

[2021-03-04 11:39] DavideD commented on #15164
By the way, Hibernate Reactive is still using the same class `EntityType` available in ORM

[2021-03-04 11:48] loicmathieu commented on #15434
@Sgitario as a workaround you can include the jnr library or add the `--allow-incomplete-class-path` flag to native.

I will work on a substitution to fix the issue, I don't want to always include this dependency.

[2021-03-04 11:49] DavideD commented on #15164
I think I was wrong about this... let me check again

[2021-03-04 11:57] tidemyr opened #15466 "Camel Quarkus DSL - Azure Storage Blob Service doesn't work in native runtime."
**Describe the bug**
We intend to use Quarkus Camel for some integration patterns. One of these needs is to be able to upload files to Azure
from different types of incoming endpoints. In this specific microservice by moving files from an SFTP-server to Azure.
The code is limited to include only Quarkus supported methods for native builds and of course, runs perfectly when using normal Java. But a

[2021-03-04 11:59] DavideD commented on #15164
Argh... it seems it happens  even without the dependency.
Maybe someone else can double check this? It's possible to replicate the issue using a quickstart: https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-reactive-quickstart

Changing `Fruit` between two calls to the rest API.

[2021-03-04 11:59] loicmathieu commented on #15434
Trying to build the native application locally I have the following stacktrace:
[code]

[2021-03-04 12:00] lburgazzoli commented on #15466
/cc @jamesnetherton @ppalaga

[2021-03-04 12:02] Sgitario commented on #15434
I also faced the same exception and realised that there is an existing issue for this:  https://github.com/quarkusio/quarkus/issues/6327

[2021-03-04 12:04] loicmathieu commented on #15434
@aloubyansky the class `com.mongodb.internal.connection.UnixSocketChannelStream`is deleted from the MongoDB extension so we should not have any occurence of JNR classes detected by native image.

[code]

Something else happens ...
Maybe it's an extension dependency issue, we should check with the PR that fix some extension dependency issue, maybe it's resolved there. WDYT @aloubyansky ?
If this PR

[2021-03-04 12:13] jamesnetherton commented on #15466
There are some known issues with the Azure components in Camel Quarkus 1.7.0, but I see you're using 1.6.0.

Is it intentional to include both `camel-quarkus-azure` & `camel-quarkus-azure-storage-blob`?  `camel-quarkus-azure` is deprecated (and will be removed in Camel 3.9.0) and is aimed at the old Azure APIs.

[2021-03-04 12:31] aloubyansky commented on #15434
Which PR are you talking about @loicmathieu ?

[2021-03-04 12:32] tidemyr commented on #15466
Have also tested with Camel 1.7.0 and Quarkus 1.12.0.Final, got runtime error also there, however another one complained about the date format in the header. Tried to set x-ms-date but does not seem to solve the problem. camel-quarkus-azure is not necessary, it's only included as a dependent test. Wasn't included in the beginning.

[2021-03-04 12:35] mkouba commented on #12486
This NPE should be fixed here: https://github.com/quarkusio/quarkus/pull/15467

[2021-03-04 12:36] #12355 closed

[2021-03-04 12:36] #15185 closed

[2021-03-04 12:43] loicmathieu commented on #15434
This one: https://github.com/quarkusio/quarkus/pull/14609
If it could help, I can try to build it locally and use it. The issue reproducer uses the snapshot version of Quarkus so it's easy to setup.

[2021-03-04 12:45] aloubyansky commented on #15434
It doesn't look like it's affecting the mongodb client extension though.

[2021-03-04 12:47] loicmathieu commented on #15434
No but the issue is not with the mongodb client extension alone but when it is integrated with other extensions

[2021-03-04 12:54] aloubyansky commented on #15434
Are you saying not every Quarkus application with the mongodb client extension will fail in this way?

[2021-03-04 12:57] loicmathieu commented on #15434
No, in fact it's the only one I'm aware of, and this particular one is using almost all exiting Quarkus applicaiton. So the issue may only occurs when some other extension is used with Quarkus.

[2021-03-04 12:58] aloubyansky commented on #15434
Oh, it's that tricky...

[2021-03-04 13:01] aloubyansky commented on #15434
I read it as the mongodb-client was the only extension included

[2021-03-04 13:05] tidemyr commented on #15466
**Runtime error using Quarkus 1.12.0.Final and Camel 1.7.0**

`__ ____ __ _____ ___ __ ____ ______
--/ __ \/ / / / _ | / _ \/ //_/ / / / __/
-/ /_/ / /_/ / __ |/ , _/ ,< / /_/ /\ \
--\___\_\____/_/ |_/_/|_/_/|_|\____/___/

2021-03-04 13:56:42,014 INFO [org.apa.cam.qua.cor.CamelBootstrapRecorder] (main) bootstrap runtime: org.apache.camel.quarkus.core.CamelContextRuntime

2021-03-04 13:56:42,015 IN

[2021-03-04 13:23] danielezonca commented on #14860
Working on it
https://issues.redhat.com/browse/KOGITO-4586

[2021-03-04 13:24] loicmathieu commented on #15434
Oh no, the context was that both mongodb-client and mongodb-panache was included so I ask to test with only the client to see if it only occurs with it.

[2021-03-04 13:25] shawkins opened #15469 "Add a mechanism to include other fragments in the kubernetes deployment file(s)"
**Description**
There are currently limited facilities for generating RBAC resources like Roles, and RoleBindings.  It would be great if the kubernetes extension had a way to include other files in the main generated kubernetes deployment file.  Or should we be looking to use something like jkube instead?

[2021-03-04 13:27] geoand commented on #15469
What other files you have in mind?

[2021-03-04 13:28] phillip-kruger commented on #15443
This is now fix in SmallRye. Once we have done a release and pull the new version into Quarkus this should be resolved.

[2021-03-04 13:36] aloubyansky commented on #15434
I was trying to build it with my locally installed GraalVM and got a different error
[code]
Is that a known one?

[2021-03-04 13:37] shawkins commented on #15469
One or more yaml files containing kubernetes resources.  In our case a Role, RoleBinding, ClusterRole, and ClusterRoleBinding.

When working in dev we have to create/apply those files separately, then do the maven deployment of the quarkus image - having all of that happen as part of the maven command would be great.

For the final consumption of the build artifacts it would also be nice to have a

[2021-03-04 13:43] geoand commented on #15469
Currently do support adding snippets in `src/main/kubernetes` (see https://quarkus.io/guides/deploying-to-kubernetes#using-existing-resources) but I don't think it applies to any random resource.

@iocanel sounds doable, no?

[2021-03-04 13:46] DavideD commented on #15164
Still...not sure what Hibernate Reactive should do differently

[2021-03-04 13:50] Sgitario opened #15470 "Vert.x Routes Not Working when using Void methods"
**Describe the bug**
Having the next route:

[code]

When we call this route via CURL, it fails with `Read timed out`.

**Expected behavior**
The service should return 204 No Content.

**Actual behavior**
The servide hangs to return anything.

**Environment (please complete the following information):**
 - Quarkus version or git rev: 999-SNAPSHOT

[2021-03-04 14:00] shawkins commented on #15469
I'm guilty of not seeing that doc section.  We initially had files named things like role.yaml in the src/main/kubernetes directory, which are not picked up by this mechanism so assumed that this facility wasn't available.  Having a single file named kubernetes.yml works as expected.  This can be closed.

[2021-03-04 14:00] #15469 closed

[2021-03-04 14:05] geoand commented on #15469
Cool!

[2021-03-04 14:12] aloubyansky commented on #15434
Could you please try adding `--trace-class-initialization=jnr.unixsocket.UnixSocket` and see whether there is more info, because I keep getting a different error.

[2021-03-04 14:48] gsmet commented on #15458
/cc @ebullient @kenfinnigan could it be related to your work?

[2021-03-04 14:55] obbyK commented on #15465
It seems that if there is any change to the auth table in db like changing email or deleting a user, this error will occur

[2021-03-04 14:58] gsmet commented on #15459
Is there an exe somewhere? Or there's nothing created?

[2021-03-04 14:59] ebullient commented on #15458
Yes -- my guess is that this will behave as expected with the leading '/' removed (so that the specified endpoint Path remains relative to the overall Application Path

[2021-03-04 15:04] x80486 opened #15471 "Quarkus (Gradle) build should not run tests"
## Description

While building the application I've noticed that `./gradlew build -Dquarkus.package.type=fast-jar` will also run all the tests:

[code]

I think this should be avoided because that's a different (usually time consuming) stage/task that's triggered on a different phase.

## Implementation Ideas

Make the Gradle (and/or Maven) plugin avoid `check` and/or `test`, somehow like this com

[2021-03-04 15:07] yuhaibohotmail commented on #15459
There's nothing created.
Here is the generated file list：
[code]

[2021-03-04 15:29] x80486 commented on #15471
And just a side note, I think with `1.12.x` the Gradle `build` task is defaulting to a "fast-jar", so I guess the [Gradle Tooling](https://quarkus.io/guides/gradle-tooling#using-fast-jar) guide might need some changes 😎

[2021-03-04 15:40] glefloch commented on #15471
Actually `build` is a default gradle task. If you only need the quarkus build, you can call the `quarkusBuild` task which does not depend on test.

[2021-03-04 15:40] gsmet commented on #15459
Ah ah... looks like we have a bug.

[2021-03-04 16:00] ppatierno opened #15473 "Avoiding app.quarkus.io annotations"
Hello,
as per Kubernetes extension documentation, some "app.quarkus.io" annotations are added by default but it seems it's not possible to avoid them. Am I wrong? Would it be possible to make that generation optional?

[2021-03-04 16:03] gastaldi commented on #15471
Sounds like this issue has been answered and can be closed.

[2021-03-04 16:05] ebullient commented on #15458
I've double checked our tests, and we managed not to have a test for the combination of non-root application path and nested resource paths beginning with '/'.

Guillaume, I'll work on a fix for this, but for now, the clear work around is to remove the leading slash in @Path annotations, as they are ignored anyway.

[2021-03-04 16:12] gsmet commented on #15473
@ppatierno why are they a problem for you? /cc @iocanel too

[2021-03-04 16:14] gsmet commented on #15471
Hmmm, except the doc part that needs an update for fast-jar. @glefloch could you have a look at it?

[2021-03-04 16:18] gsmet commented on #15459
@yuhaibohotmail could you have a look at this PR: https://github.com/quarkusio/quarkus/pull/15475 .

It should fix it but I don't have a Windows box to check.

https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master might be helpful except you need to build my branch instead of master.

[2021-03-04 16:20] geoand commented on #15473
Is there a specific reason why you don't want these annotations?

Keep in mind that they are annotations, not labels

[2021-03-04 16:25] ppatierno commented on #15473
They are just poisoning my YAML when I don't need them.
I know that they are annotations but why not providing the choice to have them or not?
I mean, I would like to have control over what I want on the generated deployment. It's useful that Quarkus generates stuff for me but having more control is much better.
I also don't know the reason why the vcs-url is generated with an old URL when the rep

[2021-03-04 16:42] glefloch commented on #15471
yes, I'm going to update the docs.

[2021-03-04 16:51] radcortez commented on #14933
Sure go ahead.

[2021-03-04 16:52] yuhaibohotmail commented on #15459
I'll try, thanks!

[2021-03-04 16:57] geoand commented on #15473
I personally don't see the problem, but if someone else wants to implement this in a backward compatible way, I won't object.

[2021-03-04 17:01] jgrabowski opened #15476 "Cannot send process cloud event with OffsetDateTime fields"
**Describe the bug**
Since 1.12.0.Final my process that's using an object with OffsetDateTime fields as process variable fails to generate kafka cloud event, representing new task creation.

**Expected behavior**
Process should generate new task and send proper cloud event to kafka topic.

**Actual behavior**
There's an exception thrown:
`Error while publishing event to topic kogito-processinstanc

[2021-03-04 17:01] #15453 closed

[2021-03-04 17:05] gsmet commented on #15476
Could you give us more information about your setup? Especially the Kogito version?

The problem you have is that Jackson started to not register additional modules automatically in Jackson 2.12. So modules need to be registered explicitly. I think they fixed it in Kogito but I'm not entirely sure.

/cc @evacchi @mariofusco

[2021-03-04 17:06] ebullient commented on #15458
hmm. That's discouraging. For curiuosity's sake, can you flip to resteasy (alone) and not resteasy-reactive?

[2021-03-04 17:15] mswiderski opened #15477 "Add support for mutable-jar package format for container image extensions"
**Description**
Currently there is no way to use container image extensions (jib or docker)  to build a valid image for remote dev mode. When following the guide on build maven based quarkus app it does not mention this limitation and building the image results in exception at runtime

[code]

[2021-03-04 17:17] metacosm opened #15478 "Quarkiverse extension for the Java Operator SDK"
**Description**
The [Java Operator SDK project](https://github.com/java-operator-sdk/java-operator-sdk)  has a Quarkus extension that we would like to migrate to the Quarkiverse. I (@metacosm) will be leading the work. Requested repo name would be: `quarkus-operator-sdk`.

Thanks in advance.

[2021-03-04 17:18] evacchi commented on #15476
/cc @tiagodolphine @cristianonicolai

[2021-03-04 17:19] masini opened #15479 "Resteasy Reactive first POST with InputStream hang"
**Describe the bug**
Using resteasy-reactive the first POST with an input stream hang forever

**Expected behavior**
Return the payload

**Actual behavior**
The socket stay connected forever if the client doesn't implement a timeout

**To Reproduce**
Clone this repo:

[https://github.com/masini/test-case-resteasy-reactive-first-post-bug](https://github.com/masini/test-case-resteasy-reactive-first-

[2021-03-04 17:21] gastaldi commented on #15478
Awesome, can you give a small description on what this extension does?

[2021-03-04 17:23] metacosm commented on #15478
It's an extension that makes it easy to create kubernetes operators in Java.

[2021-03-04 17:28] gastaldi commented on #15478
Created in https://github.com/quarkiverse/quarkus-operator-sdk

[2021-03-04 17:28] #15478 closed

[2021-03-04 17:29] SubhasmitaSw commented on #14726
Hello, @ia3andy I've been curious about quarkus recently and what's better than starting with good first issues. I'm interested in this issue and I'd appreciate some follow-up pointers if any to get started with this. Thanks!

[2021-03-04 17:37] #14727 closed

[2021-03-04 17:48] yuhaibohotmail commented on #15459
@gsmet  Build failure with your branch:
[code]

[2021-03-04 18:03] gsmet commented on #15459
I don't really see how this could be related to my changes.

Are you sure:
- you use the quarkus-bom (not the quarkus-universe-bom)
- you have updated both the quarkus-bom and the quarkus-maven-plugin to 999-SNAPSHOT?

[2021-03-04 18:04] missourian55 commented on #15448
Please find attached the reproducer
[reproducer.zip](https://github.com/quarkusio/quarkus/files/6085725/reproducer.zip)

[2021-03-04 18:19] pat-karakun commented on #15182
I stumbled over this issue while searching a solution for https://stackoverflow.com/questions/66478120/opentracing-context-not-propagated-on-quarkus-when-using-reactive-messaging. Might it be that these are related?

[2021-03-04 18:56] missourian55 commented on #15448
You gave me a clue on the underlying HTTP client of Confluent Avro Serde. After doing some reverse engineering, I landed on below class which uses **ServiceLoader**

https://github.com/confluentinc/schema-registry/blob/master/client/src/main/java/io/confluent/kafka/schemaregistry/client/security/basicauth/BasicAuthCredentialProviderFactory.java

Once I enabled this in application properties and bu

[2021-03-04 19:02] gsmet commented on #15459
Hmmm, you're right, I was able to reproduce it.

[2021-03-04 19:07] rahljoshi commented on #14729
Can I work on this I am a beginner it would be helpful if you can share some follow-ups for me, thanks!

[2021-03-04 19:10] gsmet commented on #15459
It's totally unrelated and is master only I think.

[2021-03-04 19:20] metacosm commented on #15478
Thank you!

[2021-03-04 19:47] dbl81 commented on #15458
I was using resteasy (**not** the reactive implementation), I'm sorry I didnt mention it before!
I ran my previous test on resteasy (not reactive) and the example I published (branch called *main*) has resteasy as dependency.

Following your (inverse) input I switched to resteasy-reactive and I faced the same problems. I pushed the new code to the branch called reactive.

[2021-03-04 20:04] cescoffier commented on #15448
Awesome!

With that, I can extend the Kafka extension to do that automatically (register the service implementation).

[2021-03-04 20:18] pmlopes commented on #15185
The issue has been closed, does it mean it's fixed? If it is I can undo the extended pattern upstream to support extra characters.

[2021-03-04 20:20] ebullient commented on #15458
I am an idiot.. and I didn't read closely enough (there is still something in resteasy reactive to look at, BUT)..
What you have in the reproducer at the moment is two peer application scoped paths:

[code]
and
[code]

There isn't anything that implies these two are anything other than siblings. What you intended, I think, was to specify an application path, so you should change the latter to the

[2021-03-04 20:23] #12873 closed

[2021-03-04 20:24] Sanne commented on #12873
@ahofmeister sorry it took this long, but the fix is finally merged now.

[2021-03-04 20:37] ebullient commented on #15458
According to the spec (as I quoted earlier), `@Path` annotations always specify relative. To define the base URI for your whole application, you need to use `@ApplicationPath`.

[2021-03-04 22:48] masini commented on #3131
Sorry guys, I switched to Jackson, so I completely forget about JSONB.

I'll take some time to check if now is solved in the new release of Quarkus.

[2021-03-04 23:04] dbl81 commented on #15458
OMG, shame on me! I'm really sorry for bothering!
I followed your hint and it worked like a charm.

Hoping next time I can help you in inproving the cool Quarkus.
I close this issue.

[2021-03-04 23:04] #15458 closed

[2021-03-05 05:19] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/623376308

[2021-03-05 05:41] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/623376136

[2021-03-05 06:18] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/623381312

[2021-03-05 06:23] kie-ci commented on #14860
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/623376136

[2021-03-05 07:27] mkouba commented on #15185
Not really. The build now fails if there isa  `@Param#value()` that does not follow the current rules (a-zA-Z_0-9) and maps to a path param, e.g.  `@Route(path = "/path/:my-param")` and `@Param("my-param")`. The error message looks like: _"A path param name must only contain word characters (a-zA-Z_0-9): my-param [route method foo() declared on org.acme.Bar]"_.

[2021-03-05 07:32] iocanel commented on #15473
I don't mind adding a flag to enable / disable them. The thing is that I don't want to have a flag for every single optional thing we do have in our manifest.

Some possible approaches:

# Have a config option where the user can add one or more optional metadata kinds to be added

I am wondering if we could have an option like:

    quarkus.kubernetes.metadata=labels, version, annotations

The pre

[2021-03-05 08:03] mkouba commented on #12486
I can see the following in the log (not sure if it's the real cause):
[code]

[2021-03-05 08:09] masini commented on #15479
I added a new end-point that call the POST using a JAX-RS client and simulate the problem.

Just launch in debug and call this at first:

`curl -v -k https://localhost:9081/resources/test`

you will see vertx complaining for a blocked thread.

[2021-03-05 08:09] yrodiere commented on #14729
Sure, here are some hints.

## The problem

* Start the [Hibernate Search quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/hibernate-search-orm-elasticsearch-quickstart) locally (see the readme), and go to http://localhost:8080/q/dev/
* What you're seeing are the Dev UI cards. There is one card about Hibernate Search. It indicates there are two indexed types, and if you cli

[2021-03-05 08:11] Ladicek commented on #15182
That doesn't seem related, at first glance.

[2021-03-05 08:54] ia3andy commented on #14726
@SubhasmitaSw well in the end I think this requires a bit of splitting before being a "Good first issue". This requires some knowledge about the extension ecosystem and how it has evolved recently and will in the future.

CC @gsmet @gastaldi @maxandersen @aloubyansky, the extension ecosystem has changed and we need to freshen up the docs. I think we should discuss this matter to set directions.

H

[2021-03-05 08:58] aloubyansky commented on #14726
"good first issue" should probably be removed from this one. However a subtask of this issue could certainly be one.

[2021-03-05 09:07] ch3rub1 commented on #14789
@m4k4veli I managed to implement this kind of multitenancy only with the mongodb client extension, not with panache.
I'll be glad to provide you a code example but it it'll not help you if you absolutly want to use panache for your proof of concept.
Do you still want it ?

[2021-03-05 09:21] rsvoboda opened #15486 "Automated warning about deprecated configuration properties"
Introduce automated warning about deprecated configuration properties so Quarkus users are aware of it without the need to look at the source code of the config classes.

There are 2 aspects to be covered:
 - build time information
 - information in guides

1) build time information
An automated warning when using deprecated configuration properties should appear in the log.
Similar functionality

[2021-03-05 09:23] rsvoboda commented on #5665
Created enhancement request for automated warning about deprecated configuration properties - https://github.com/quarkusio/quarkus/issues/15486.

[2021-03-05 09:29] #12422 closed

[2021-03-05 09:30] knutwannheden commented on #15030
In Quarkus 1.12.0 I could have `quarkus.http.root-path=/foo` and `quarkus.http.non-application-root-path=/` and the effect would be that I would have the Swagger UI under `/foo/swagger-ui`. Now with Quarkus 1.12.1 the same config leads to the Swagger UI being served as `/swagger-ui`. I suppose that should be considered a regression. I can open a ticket for this, unless you consider the 1.12.0 beha

[2021-03-05 09:36] knutwannheden commented on #15030
Possibly this is already addressed by #15458. I will take a look.

[2021-03-05 10:01] tidemyr commented on #15466
Move this issue to camel-quarkus

[2021-03-05 10:01] #15466 closed

[2021-03-05 10:05] Sgitario opened #15487 "OpenShift plugin not deploying the Quarkus App (Regression Issue)"
**Describe the bug**
This is a regression issue caused by this commit: https://github.com/quarkusio/quarkus/commit/588db63138715a4e1e2a112676ab9ece2fab36ca

When using the OpenShift Quarkus extension to deploy our Quarkus app:

[code]

Then, the BuildConfig and the Build are triggered in OpenShift and when the Build instance finished, It's deleted (see the commit changes). Then, the DeploymentConf

[2021-03-05 10:05] Sgitario commented on #15487
/cc @iocanel

[2021-03-05 10:07] jsmrcka commented on #15443
https://github.com/jsmrcka/beefy-scenarios/tree/QUARKUS-849/603-spring-web-smallrye-openapi

Here is a more comprehensive test scenario, which covers other `@...Mapping` annotations as well as the use of both the `consumes` and `produces` attributes.
On current master, it fails in 14 out of 45 tests.
Problematic annotations include `@DeleteMapping`, `@GetMapping`, `@PatchMapping`, `@PutMapping`. A

[2021-03-05 10:11] jgrabowski commented on #15476
I've tried to register JavaTimeModule via ObjectMapperCustomizer but it doesn't seem to work.

[2021-03-05 10:12] rquinio commented on #15461
You might try passing the `javax.net.ssl.*` system properties via Maven surefire plugin `<systemPropertyVariables>` ?
Since QuarkusTests do a Maven resolution (directly using Aether, not via Maven CLI) of the augmentation classpath, I'd imagine surefire JVM settings are taken into account.

[2021-03-05 10:13] gsmet commented on #15487
@iocanel @geoand this one needs to be diagnosed quickly as this particular commit has been backported to 1.11.

[2021-03-05 10:14] #15471 closed

[2021-03-05 10:16] geoand commented on #15487
I have assigned Ioannis to it

[2021-03-05 10:19] phillip-kruger commented on #15443
Thanks. I am busy with a SR release that will then be pulled into Quarkus, please can you then (I'll let you know) rerun these

[2021-03-05 10:20] 0SkillAllLuck commented on #14820
It looks like the issue is gone with version 1.12.0 of quarkus.

[2021-03-05 10:24] knutwannheden opened #15488 "Regression: Non-application roots no longer under application root"
**Describe the bug**
In Quarkus 1.12.0 I could define `quarkus.http.root-path=/foo` and `quarkus.http.non-application-root-path=/`. The effect would be that the Swagger UI would be served under `/foo/swagger-ui`. Now with Quarkus 1.12.1 the same config leads to the Swagger UI being served as `/swagger-ui`.

This was tested with RESTEasy but not with RESTEasy Reactive.

**Expected behavior**
Since

[2021-03-05 10:25] jsmrcka commented on #15443
@phillip-kruger Sure, just say the word.

[2021-03-05 10:25] wfrank2509 commented on #2751
Hi. I understood that right now in quarkus 1.12.1 there is no solution to have reactive database and flyway, right?

[2021-03-05 10:43] Sanne commented on #14820
excellent, thanks @0SkillAllLuck . Yes this specific issue was suspiciously similar to some others we fixed, I probably should have marked them as duplicates.

[2021-03-05 10:43] tveon commented on #15461
Nice, that actually "just worked". 👍

If anyone comes accros this later, then I add the following lines:
[code]
Depending on your exact setup, you might also need to add a `trustStore`...

[2021-03-05 10:52] famod commented on #15461
Great to hear to you could solve this via configuration!

@aloubyansky WDYT, should we add a hint to the documentation or just close this right away?

[2021-03-05 10:52] #13307 closed

[2021-03-05 10:56] ppatierno commented on #15473
I was trying to do something like this

`quarkus.kubernetes.annotations."app.quarkus.io/commit-id"=`

but of course I got an error that it cannot be empty. It could be a way for allowing people to select what they want.
I would be for the more fine grained control you proposed.

[2021-03-05 11:00] gsmet commented on #15488
The situation in 1.12 was a bit of a mess so 1.12.1 fixes things that weren't working properly before. This could cause a change in behavior.

But I will let @ebullient confirm if it's the desired behavior or not.

[2021-03-05 11:00] phillip-kruger commented on #15443
As soon at https://github.com/quarkusio/quarkus/pull/15489 is merged you can check again.

[2021-03-05 11:05] knutwannheden commented on #15488
I should also mention that in my configuration I have `quarkus.swagger-ui.path=/swagger-ui`. Possibly removing the leading slash there resolves my issue.

[2021-03-05 11:06] xtaixe opened #15490 "Support CDI decorators"
Support decorators

We tend to favor composition over inheritance, so when it's suitable we split features in a decorator/delegate pattern which also makes it easier to test different concerns in isolation. For example it could be something like this:

[code]

Also we have a multi module project and try to clearly split API from implementation so in some cases the decorators shouldn't know about o

[2021-03-05 11:14] knutwannheden commented on #15488
If I want to restore the behavior of 1.12.0 I have to set:

[code]

It appears like Quarkus behaves differently now with leading slashes for these paths. If I want the non-application root to be the same as the application root I have to set it to the same value (as a lone `/` doesn't work anymore). Should it possibly be allowed to set `quarkus.http.non-application-root-path` to the empty string?

[2021-03-05 11:14] aloubyansky commented on #15461
It's worth to mention this in the docs. Not sure whether we can add support for it propagating these automatically.

[2021-03-05 11:19] geoand commented on #15486
This is a great idea

[2021-03-05 11:42] gsmet commented on #15459
Just a note that we are making progress on this.

The `ProcessEnvironment` issue is specific to Windows as only on Windows it extends HashMap and is directly returned by `System#getEnv()`. As it is forbidden in the heap by GraalVM, we need to copy the map.

@radcortez is working on a fix in SmallRye Config.

[2021-03-05 11:49] Sgitario opened #15492 "Validation for REST endpoints does not return messages about the constraints violated"
**Describe the bug**
After the changes in https://github.com/quarkusio/quarkus/pull/15447, now when using REST Panache or Spring Data REST quarkus extensions, we got 400 when there are constraint violations.

The problem now is that the response does not return the constraints that have been violated.

**Expected behavior**
After a REST violation, It's expected to receive something like:

[code]

[2021-03-05 12:01] Alexander-Krause commented on #9511
Hi, I have the same problem using the `com.datastax.oss.quarkus.test.CassandraTestResource` in my `integrationTest` source set for Quarkus `1.11.3.Final`:

[code]

[2021-03-05 12:01] Sgitario commented on #15409
Now, Spring REST Data works similarly as in Panache REST. Now, services return 400 when there are violations. Fixed as part of https://github.com/quarkusio/quarkus/pull/15447.

However, when there is a violation, no message is returned. Reported in https://github.com/quarkusio/quarkus/issues/15492.

[2021-03-05 12:01] #15409 closed

[2021-03-05 12:04] aloubyansky commented on #9511
@Alexander-Krause could you please create a new issue with either a reproducer or instructions to reproduce your issue? Thanks.

[2021-03-05 12:28] geoand commented on #15479
Thanks for the all information. I'll take a look soon.

[2021-03-05 12:35] geoand commented on #15479
I just tried the sample project and I was not able to reproduce the issue. Is there anything special I need to know?

[2021-03-05 12:49] ferencbeutel4711 opened #15493 "Make it possible to filter which metrics are sent from kafka"
**Description**
Hi, currently it seems to be impossible to define which of the hundreds of kafka consumer/producer-metrics are sent out if kafka metric support is enabled. Since these metrics can be quite costly if sent to the cloud, it would be great to have some form of filtering in place so that the service only publishes the metrics I am interested in.

**Implementation ideas**
Ideally, this w

[2021-03-05 13:01] ebullient commented on #15488
yes. i have a blog post in flight to explain this. It is best to be explicit with your intentions in config. If you want them to be the same, set them to be the same, either using the value explicitly, or using the variable as you have done.

And yes, leading slashes have meaning now (relative vs absolute paths). This was important to allow all of the configuration options people wanted.

I need t

[2021-03-05 13:03] loicmathieu commented on #15434
@aloubyansky try it, no more info.

[2021-03-05 13:07] knutwannheden commented on #15488
I like the changes, as it makes things more consistent.

This is an excerpt from the blog announcing the new release:

Given this I would have expected a change like this (for non-application root path, etc.) in a minor release, not a patch release, since it requires me to change the configuration.

Yes. And a note in the 1.12 migration guide would also be nice. Thanks!

[2021-03-05 13:13] #15440 closed

[2021-03-05 13:13] ppalaga commented on #13146
This happened to me with `com.azure.storage.blob.BlobServiceClient` which happens to come from a signed jar. With this setup the issue was occurring:

[code]

It started working when I removed the `@ApplicationScoped` annotation from the `azureBlobServiceClient()` method.

[2021-03-05 13:18] Postremus commented on #15335
@gsmet
I am a coworker of @TuskRaider1988, and also know about this problem.

Reproducer:
[config-validation-exception-password.zip](https://github.com/quarkusio/quarkus/files/6090674/config-validation-exception-password.zip)

Simply start it with mvn quarkus:dev, the exception from below is then printed.

This is the full stacktrace:
[code]

[2021-03-05 13:19] gwenneg commented on #10716
@Sanne Is there a way to work around this issue until a fix is included into a Quarkus release?

[2021-03-05 13:25] gsmet commented on #15335
/cc @radcortez

[2021-03-05 13:27] gwenneg commented on #10716
By "this issue", I don't mean the `ReactiveSessionFactoryProducer` injection issue which can be easily worked around by duplicating the Quarkus producer. I'm more interested by the exception that comes after that:

[code]

[2021-03-05 13:42] Sanne commented on #10716
Hi @gwenneg , I'm not sure yet about a clever workaround - I need to have a better look, I'll start with this on Monday.

The core of the issue is that both ORM blocking and non-blocking are being triggered for initialization and there's a confusing mix of services being shared among them.

In terms of quick workarounds - would you be able to keep Flyway in a separate application? I've always wond

[2021-03-05 13:46] sberyozkin commented on #15084
See https://github.com/quarkusio/quarkus/commit/f01686480dd97dd07e68e1ff9eb8c7b5d9d510f8 and https://github.com/quarkusio/quarkus/commit/46008fe6e961e8e17d944852f8e3aafeb6d680c3

[2021-03-05 13:46] #15084 closed

[2021-03-05 13:49] masini commented on #15479
Hi Georgios, pleased that you took charge of this issue.

In the real application is very easy, you can build the jar and run-it, not only on my workstation but all the guys in the team.

The reproducer project is a little trickier, you need to start it in debug (I added the suspended configuration in the plugin) and the start the debug to let the application startup up.

Doing this I'm able to re

[2021-03-05 14:00] mswiderski opened #15494 "Remote dev mode fails to start"
**Describe the bug**
When trying to run application in remove dev mode it fails to start with following exception

[code]

Extensions used `cdi, kubernetes, kubernetes-client, operator-sdk, resteasy, resteasy-jackson, security, smallrye-health, smallrye-openapi, swagger-ui`

**Expected behavior**
Application should start with remote dev mode

**Actual behavior**
Fails to start

**To Reproduce**

S

[2021-03-05 14:01] ch3rub1 commented on #14789
@m4k4veli I written a sample quarkus app with mongo multitenancy implemented.
You can find it [here](https://gitlab.com/ch3rub1/quarkus-mongo-mutitenant)

[2021-03-05 14:11] geoand commented on #15479
I tried again multiple times and could not reproduce the issue.

Is it possible that in the real world your application is receiving traffic before Quarkus has completely started?

[2021-03-05 14:15] masini commented on #15479
Well, really we reproduced starting on our workstation and sending a POST
after the Quarkus started message.

Il giorno ven 5 mar 2021 alle ore 15:11 Georgios Andrianakis <
notifications@github.com> ha scritto:

--
****************************************
http://www.lucamasini.net
http://twitter.com/lmasini
http://www.linkedin.com/pub/luca-masini/7/10/2b9
****************************************

[2021-03-05 14:17] geoand commented on #15479
@stuartwdouglas can you try and reproduce this please?

[2021-03-05 14:19] masini commented on #15479
Thanks @geoand , now I ask a colleague out of context if he can reproduce.

[2021-03-05 14:33] vladykin opened #15495 "Log level in lowercase works for quarkus.log.category."whatever".level, but doesn't work for quarkus.log.level"
**Describe the bug**

Quarkus supports setting root log level and per-category log levels:
[code]

Level written in lowercase for per-category log level is accepted by quarkus and works:
[code]

But for root log level this does not work:
[code]
Quarkus refuses to start with the following error:
[code]

I expected that both root and per-category log levels support the same values: either uppercase

[2021-03-05 14:50] masini commented on #15479
I debugged and when I have a problem this method raise the exception:

[code]
but is not true that the request has been fullfilled, the business method has not been called yet.

Then the exception handler inside the org.jboss.resteasy.reactive.common.core.AbstractResteasyReactiveContext.run() method doesn't print nothing, the thread is ready to process the next task, but the socket is still open !

[2021-03-05 14:56] gwenneg commented on #10716
Thanks for your help on this one!

Keeping Flyway in a separate application could work indeed. I have a different kind of solution which seems to work fine in JVM mode (not so sure about native mode but I don't need it for now):

[code]

I wish I could keep `quarkus-flyway` in the project, but I need to focus on `quarkus-hibernate-reactive` for now so I'll probably stick with that workaround.

[2021-03-05 15:01] JapuDCret opened #15496 "Quarkus Dev-Mode does not work, when M2_Repo path contains a Space"
**Describe the bug**
When trying to run Quarkus Dev-Mode from the Maven plugin it fails, because a JAR could not be found (see log below).

*I managed to **fix** it by moving my "localRepository" in Mavens setting.xml to a location that does not contain a space.*

**Expected behavior**
 /

**Actual behavior**
 /

**To Reproduce**

I used this repo and immediately got an error: [https://github.com/

[2021-03-05 15:07] masini commented on #15479
More context.

Adding the @Blocking annotation resolve the problem for the test-case and also for the real application.

I don't want to make it blocking, I debug a little bit more to understand what is going on.

[2021-03-05 15:33] SubhasmitaSw commented on #14726
@ia3andy Thanks for the clarification, I'll grab some more experience and get back to it, mean while I'll be glad if you could suggest some other issues to get started with. Thank You!

[2021-03-05 16:13] mmusgrov commented on #15364
We think we may have a resource to work on this task. We will keep you informed when we have a firm commitment and have planned out the work.

[2021-03-05 16:14] #15477 closed

[2021-03-05 16:14] andreas-eberle opened #15499 "Hibernate Reactive does not work with Flyway Migration"
**Describe the bug**
We try to use hibernate reactive for database access and flyway for migrations in a project. Since flyway seems to require a standard (non-reactive) datasource, we defined two datasources with different tenant names.

Unfortunately, as soon as we add the flyway dependency, Quarkus cannot start any more and complains that our reactive datasource (called `xreactive`) would need

[2021-03-05 16:22] geoand commented on #15499
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/10716

[2021-03-05 16:22] #15499 closed

[2021-03-05 16:22] loicmathieu commented on #14159
@imrabti did you try with the provided code correction ?

[2021-03-05 16:25] andreas-eberle commented on #10716
@gwenneg: How does your application.properties look like? I tried your code but I still get an error that the `jdbc.url` is not defined.

[2021-03-05 16:33] andreas-eberle commented on #10716
It looks to me that hibernate-reactive/reactive-postgres checks if the `jdbc.url` property is **not** configured on the datasource. At least it crashes as soon as that is the case. Why is this the case? Why shouldn't I be allowed to use the same datasource in a reactive and non-reactive way? The configuration could be the same for reactive and non-reactive and I could create different instances fo

[2021-03-05 16:39] loicmathieu commented on #11795
@gyannitin do you finally success to connect to your cluster inside your test ?
As it's not a Quarkus issue but an issue on how to connect to a cluster via SSL can we close it ?

[2021-03-05 16:40] pat-karakun commented on #15182
The reason I thought it might be related is @geoand's [comment](#issuecomment-783183023) above about OpenTracing using ThreadLocal. And ThreadLocal AFAIK doesn't work with reactive messaging, or does it?

But I don't want to hijack the conversation, if you disagree I'll open a separate issue.

[2021-03-05 16:42] loicmathieu commented on #13437
@waldimiro did you had time to prepare a reproducer ? Or did you find a way to fix your issue ?

[2021-03-05 16:57] HardNorth opened #15501 "Quarkus + Resteasy + Google Cloud Functions: no query parameters bypass"
**Describe the bug**
I'm trying to implement a simple service using Google Cloud Functions and Quarkus. But if I'm trying to use `@QueryParam` annotation I'm getting nulls in any param. E.G.:
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**To Reproduce**
I've implemented a very small test service to reproduce the issue:
https://github.com/HardNorth/quarkus-google-functions-test

[2021-03-05 17:03] ebullient commented on #15488
Draft here, if you would like to review. https://github.com/quarkusio/quarkusio.github.io/pull/915

[2021-03-05 17:05] #15443 closed

[2021-03-05 17:07] gyannitin commented on #11795
Yes. I made some java code changes to connect to mongodb using ssl
connection. you may close this thread. thanks for your support.

On Fri, Mar 5, 2021, 22:09 Loïc Mathieu <notifications@github.com> wrote:

[2021-03-05 17:21] loicmathieu commented on #11795
Thanks, closing it.

[2021-03-05 17:21] #11795 closed

[2021-03-05 17:21] gwenneg commented on #10716
@andreas-eberle My applications.properties file looks like this:

[code]

The `quarkus.datasource.jdbc=false` is very important. If it's missing, Quarkus won't boot.

[2021-03-05 17:22] loicmathieu commented on #13301
@seseso sorry for the late reply.

I chased down the issue to reflection issue on native.
We automatically register all found entities for reflection, but not the full hierarchy so your `BaseModel` is not registered for reflection, that's why the fields are empty.
I tested it on latests Quarkus and there still is the issue.

I'll work on a fix but meanwhile, as a workaround, you can add the `@Regi

[2021-03-05 17:24] knutwannheden commented on #15488
Looks great! A link from the 1.12 migration guide would probably also make sense.

[2021-03-05 17:29] rsby opened #15502 "Amazon LambdaRecorder Handler Discovery fails if handleRequest is in abstract class"
**Describe the bug**
If the handleRequest method is implemented in abstract class, then AmazonLambdaRecorder.discoverHandlerMethod fails on [line 88](https://github.com/quarkusio/quarkus/blob/0a7518157ce3fa1ecaf39d62d7b9005ec54f5ff6/extensions/amazon-lambda/runtime/src/main/java/io/quarkus/amazon/lambda/runtime/AmazonLambdaRecorder.java#L88) with an ArrayIndexOutOfBoundsException.

**Expected beha

[2021-03-05 17:41] cescoffier commented on #15493
/cc @ebullient

[2021-03-05 17:45] andreas-eberle commented on #10716
@gwenneg. Thanks a lot!! We would have never thought of that!

[2021-03-05 17:47] ebullient commented on #15488
Yes. We will link as soon as it's live.

[2021-03-05 17:53] ebullient commented on #15493
This is already possible with Micrometer, though at the moment only programmatically.

You can define a MeterFilter that looks for kafka metrics based on the metric name and some combination of tags to allow/deny those metrics.

There are some examples shown in the [Quarkus Micrometer extension guide](https://quarkus.io/guides/micrometer#using-meterfilter-to-configure-metrics)), but allow/deny fil

[2021-03-05 18:12] masini commented on #15479
Hi guys, I pushed a better reproducer.

Now you can run directly the generater quarkus-run.jar and call the reproducer URL:

[GET https://localhost:9081/resources/test](GET https://localhost:9081/resources/test)

You no longer need to attach a debugger to generate the problem.

I did this observing the problem in production, it happens only when the POST is called after a GET, of course without a

[2021-03-05 18:23] geoand commented on #15479
Thanks, I'll take a look at the updated reproducer soon

[2021-03-05 18:26] Sanne commented on #10716
The reason is that in early days a datasource couldn't be both jdbc and reactive, and the Hibernate would look at what kind of datasource was configured to decide to boot as Hibernate ORM vs as Hibernate Reactive.

Until recently the integration of Hibernate Reactive was a POC taking advantage of some simplied assumptions; among these: if you're using Hibernate Reactive there won't be any blocking

[2021-03-05 18:33] Sanne opened #15507 "Explicitly setting `quarkus.datasource.jdbc=true` should be honoured"
**Describe the bug**
If we configure an application with `quarkus.datasource.jdbc=true`, but:

- No component needs the actual JDBC pool
- There is no matching JDBC driver extension

Then the JDBC connection pool is not started, and this (confusing?) warning is logged:

[code]

**Expected behavior**

Since I explicitly enabled it, I think I would prefer a failure.

If I change my application to in

[2021-03-05 19:00] radcortez commented on #15335
Thanks for the reproducer, I'll have a look.

[2021-03-05 19:51] famod commented on #15461
I don't think so, unless we create a mojo that runs before surefire and somehow "injects" certain properties into it. But I think only Maven extensions can do that.
`${maven.home}` was added to the project generation etc. for the same reason.

[2021-03-05 20:11] aloubyansky commented on #15461
That's kind of what I was thinking about. Perhaps it doesn't have to be even a mojo. Extensions are enabled for quarkus-maven-plugin.

[2021-03-05 20:24] neon-dev opened #15509 "De/Serialization of javax.json broken in 1.12.x"
**Describe the bug**
Updating from 1.11.0 to 1.12.x, types such as `javax.json.JsonString` cannot be deserialized anymore and are incorrectly serialized in REST endpoints.
Example code:
[code]

**Expected behavior**
REST callers of above endpoint should see responses like `"someId"`

**Actual behavior**
REST callers of above endpoint see responses like `{"chars":"someId","string":"someId","valueTy

[2021-03-05 20:39] gsmet commented on #15509
Could you please provide a simple reproducer (Maven project reproducing the issue)? Thanks.

[2021-03-05 20:54] konradzawadka commented on #11262
I think that issue is resolved here: https://quarkus.io/guides/amazon-lambda-http

[2021-03-05 21:19] HardNorth opened #15510 "Quarkus + Resteasy + Google Cloud Functions: status code alway 200 no matter what"
**Describe the bug**
I'm trying to implement a simple service using Google Cloud Functions and Quarkus. But if I'm trying to return any status except 200, I will always get 200. E.G.:
[code]

**Expected behavior**
Status code 400

**Actual behavior**
Status code 200

**To Reproduce**
I've implemented a very small test service to reproduce the issue:
https://github.com/HardNorth/quarkus-google-func

[2021-03-05 21:40] famod commented on #15461
I see one problem for multi-module projects in which you typically only have the quarkus-plugin in one (aggregating) module, but `@QuarkusTest` classes can exist in every module. You'd need to add the quarkus-plugin there as well.

[2021-03-05 22:01] #15487 closed

[2021-03-05 22:10] aloubyansky commented on #15461
Right. It should be documented first. Would you like to do that?

[2021-03-05 22:51] neon-dev commented on #15509
I just tried to create one from scratch and noticed that it must be something related to the project I'm working on. In the simple reproducer both versions behave the same, so I need to check what made the project de/serialize differently all this time.
Will report back next week when I'm back at work and have the time to investigate further. Thanks.

[2021-03-05 23:51] radcortez commented on #15335
@TuskRaider1988 @Postremus the issue is not about the config content, but how the config is mapped. A `@ConfigMapping` maps all properties in a root and reports missing properties mappings.

So what happens here is that the validation is complaining that the reported properties are not mapped in the `@ConfigMapping` class. Because there is no prefix set up, it just assume an empty root and validat

[2021-03-06 07:21] adryen31 commented on #6954
Hello all,
for me I have the same problem, but even if @schulzp 's idea, it not working ... however I have the same version for quarkus.platform.version and quarkus-plugin.version I dispair because it was for a POC in my company in order to switch from Spring Boot to Quarkus, but even if my leader team's vision may not be able to convince the technical director
![plugin](https://user-images.github

[2021-03-06 08:15] andreas-eberle commented on #10716
I'd like to suggest to only have a single `url` property for datasources. As far as I understand, at the moment there is `jdbc.url` as well as `reactive.url` with the `jdbc.url` always starting with the addtional `jdbc:` prefix. I think it would be much cleaner to just have a single `url` property without the `jdbc:` prefix and add that prefix if JDBC is used and do not add it when reactive is use