[2018-10-02 09:25] mkouba opened #41 "Arc - implement CDI inheritance rules properly"
See also http://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#inheritance.

[2018-12-06 03:58] dmlloyd opened #197 "Improve SIGQUIT handler"
* Include 'nid' field:
   * On Mac it should be the value of pthread_t (currently what's stuffed in the 'tid' field)
   * On Linux it's the result of `gettid` so it can be correlated to PS/top (but print it in decimal for sanity's sake)
* Fix 'tid' field:
   * On OpenJDK it's meant to be the pointer to the thread internal structure; should be able to derive that from the IsolateThread
* Add in mon

[2018-12-06 12:28] mkouba opened #206 "Create Arquillian adapter"
We will need this for MP TCK test suites.

[2018-12-08 15:41] cescoffier opened #232 "shamrock:dev cannot be run in Eclipse"
If you have a simple project and follows:

1. `Run -> Run Configurations...`
2. Right-Click on `Maven Build` and select `new Configuration`
3. Give a name to the new configuration (such as `Run dev mode`)
4. Set the base directory to `${project_loc}`
5. In the `goals` field enter: compile shamrock:dev
6. Click on `Run`

The application is served correctly.
But:

1. The hot-redeploy does not work (

[2018-12-10 07:03] cescoffier opened #241 "Improve how the "java" executable is found"
Right now it expects `java` to be in the system path.
there are two issues:

1. windows users (java.exe)
2. it may not be the case on all systems

Something like:

[code]

would be more robust. I will work on a PR.

[2018-12-13 15:42] dmlloyd opened #284 "Add support for applications which immediately exit"
Sometimes an application doesn't have any persistent services.  Such applications should auto-exit after everything was "started".

A good way to implement this might be for main-method startup build steps to indicate symbolically if they are persistent.  Only a handful will be:
* Fixed thread pools like the scheduler
* I/O event loop threads

Notably, regular thread pools should not be considered

[2018-12-14 03:43] dmlloyd opened #290 "Core API needs a diagnostics interface"
We need a general diagnostics interface that can plug in to Maven, `javax.annotation.processing`, or a generic log output.  The interface should be able to capture error, warning, info, and debug level events with full source/location context.

This API would be consumed by build steps as well as the core code.

[2018-12-14 15:07] dmlloyd opened #294 "Add logging bridges"
Remove, exclude, & ban:
* `log4j`
* `log4j2`
* `commons-logging:commons-logging`
* `commons-logging:commons-logging-api`
* Other historically banned logging deps (use https://github.com/wildfly/wildfly-core/blob/master/pom.xml#L394 as a reference)

Replace with:
* `org.jboss.logmanager:log4j-jboss-logmanager`
* `org.jboss.logging:commons-logging-jboss-logging`
* Other bridges as needed

[2018-12-14 23:27] vorburger opened #304 "Native image S2I build support"
Would you guys have any interest in a contribution (from me..) for OpenShift S2I support?

Background & "motivation" for this is that, AFAIK `oc new-build --binary` ([as doc here](http://10.8.247.58/nfs/protean/kubernetes-guide.html#deploying-the-application-in-openshift)) from a `Dockerfile` is not always available in all OpenShift instances. For example, AFAIK we don't enable that in our own Ope

[2018-12-14 23:51] vorburger opened #305 "Docs: Briefly explain how Configuration via K8s ConfigMap works"
The [Kubernetes Guide](../blob/master/docs/src/main/asciidoc/kubernetes-guide.adoc#going-further) alludes to _"the configuration support allows mounting the application configuration using config map",_ and while reading the doc for the first time it would have seemed useful to me to have a paragraph in the [Configuration Guide](../blob/master/docs/src/main/asciidoc/application-configuration-guide

[2018-12-17 12:12] vorburger opened #324 "NPE in native-image when running shamrock-maven-plugin on CLI"
I'd like to experiment with some options to GraalVM's `native-image`, so I naively looked at this output:

[code]

and copy/paste that, ditching the commas, and adding `target/` before the JAR to run from e.g.
_protean-quickstarts/getting-started-native_ instead of inside target, like so:

`$ /home/vorburger/bin/graalvm-ce-1.0.0-rc10/bin/native-image -J-Djava.util.logging.manager=org.jboss.logmana

[2018-12-18 12:54] stuartwdouglas opened #335 "Add a shamrock:remote-dev command"
This will enable remote development on Openshift, in a similar manner to what was proposed for WildFly.

This will involve having the remote pod specially configured for development mode.

[2018-12-18 15:18] mkouba opened #338 "AnnotationLiteralGenerator should produce ReflectiveClassBuildItem for annotation classes"
The reason is that `javax.enterprise.util.AnnotationLiteral` is using reflection to analyze the annotation members and so it would fail in SubstrateVM.

[2018-12-19 12:46] mkouba opened #348 "Run MicroProfile TCKs"
Depends on https://github.com/jbossas/protean-shamrock/issues/206.

- [x] Config (https://github.com/quarkusio/quarkus/tree/master/tcks/microprofile-config)
- [x] Health (https://github.com/quarkusio/quarkus/tree/master/tcks/microprofile-health)
- [x] Rest Client (https://github.com/quarkusio/quarkus/tree/master/tcks/microprofile-rest-client)
- [x] OpenAPI (https://github.com/quarkusio/quarkus/tre

[2018-12-19 14:34] emmanuelbernard opened #350 "Clarify transaction usage with Hibernate ORM in Hibernate ORM guide"
Maybe even have a transaction guide?

[2018-12-19 14:36] emmanuelbernard opened #351 "Guess the driver from the extension selected"
From @gsmet
I was thinking last night about maybe having the possibility to not ask for the driver if we have only one JDBC driver present.

E.g. we could have a BuildItem created by each database extension and inject a list of them in either Agroal or the JPA processor and do some automatic things based on the number of elements we obtain.

We could also detect that we have none and throw a user-

[2018-12-19 14:40] emmanuelbernard opened #352 "Support multiple Hibernate dialects and pick the right one at runtime"
## general problem

Avoid DCE of databases we want to support. Maybe with a list of supported extensions (included in the POM).

For a given DB, select all dialect classes as these are small piece of code to avoid DCE and simplify configuration if needed by the suer at runtime. Can even be detected by the DB metadata info at connection time.

## related to driver driven dialect selection

I think

[2018-12-20 08:01] cescoffier opened #355 "Openshift - Configure logging to not write in a file"
Because it requires specific permission in the CWD.
Ideally, this can be passed in the command line:

[code]

or something like that.

[2018-12-20 12:24] rsvoboda opened #359 "Build fails on non-docker environment"
Build fails on non-docker environment - using `mvn clean install -Dno-native -DskipTests` command

[code]

Prod is using environment without docker daemon running. PNC is probably the same case.

[2018-12-21 07:53] xstefank opened #372 "Support arguments passed to application after -jar"
Add support for interpretation of arguments passed to the application after -jar.

For instance,
`java -jar target/protean-test-runner.jar -Dshamrock.http.port=8180`
should work.

Please note that
`java -Dshamrock.http.port=8180 -jar target/protean-test-runner.jar`
works now.

[2018-12-24 07:58] cescoffier opened #390 "Extension configuration should support all primitive types"
At the moment, when an extension requires a primitive type other than Integer and Boolean, it fails with:

`Unable to inject config into primitive type of long this has not been implemented yet`

- [x] `boolean`
- [x] `long`
- [x] `int`
- [ ] `short`
- [ ] `byte`
- [x] `float`
- [x] `double`
- [ ] `char`

[2019-01-02 11:02] FroMage opened #404 "Minimal logging by default"
Current test run in IDE produces this logging:

[code]

None of this belongs in the default output that should be logged, which should be strictly limited to:

- Config source (file name)
- DB used (type, port/ip, user)
- Extensions loaded (single line)
- App started: port/ip (perhaps boot time)

Anything else has to be weighted against this question: “is this useful for running this application b

[2019-01-03 15:36] emmanuelbernard opened #417 "Build a static website for the project"
We need snippets of content for the following subjects. A paragraph is good unless stated otherwise.
I am aware of the potential duplicate or overlapping on subjects but this content will be used either as subset of each or by merging them to create the website content.

Put it under the docs asciidoc in a `topic` subdirectory.

## Meta subjects mandatory

- [ ] Categories https://github.com/jboss

[2019-01-03 15:38] emmanuelbernard opened #418 "Explore CLI solution"
Ideally we have a CLI for the public release beyond the base build toolchain we currently have.
But at least we need to be confident that we don't hit an architectural trouble and move towards an advanced PoC for the CLI before public release.

[2019-01-03 15:44] emmanuelbernard opened #421 "Implement a routing layer abstraction between Netty, Vert.x, Undertow and RESTEasy"
@stuartwdouglas is that a public release requirement?

[2019-01-03 15:48] emmanuelbernard opened #425 "Implement the "Toronto" dependency model"
(please rename accordingly)
@dmlloyd is that also involving @aloubyansky ?

[2019-01-06 18:28] gsmet opened #438 "Inject Bean Validation ValidatorFactory created by the BV extension in the JPA extension"
Currently, the JPA extension does not integrate with Bean Validation.

We should definitely fix that.

[2019-01-08 13:57] emmanuelbernard opened #447 "Implement a starter.quarkus.io"
Inspiration are http://thorntail.io/generator/ and https://start.spring.io
@kenfinnigan could we reuse the Thorntail one?

[2019-01-08 20:30] n1hility opened #453 "Direct fluentd integration"
Currently we have the JSON output formatter, and the ability to send to a socket, but we should look into how we can either make that an optimal integration with simple config, or look at a direct fluent handler.

[2019-01-09 13:53] dmlloyd opened #455 "Make scheduler ready for final"
The scheduler uses Quartz, which uses wrong cron syntax and is also far, far heavier than necessary to meet this use case.  It was useful to prove the point but now that the PoC is out of the door and we're going towards final, we should use a standard/conventional cron syntax.  @jamezp was looking into cron parsing as a part of his work on log rotation, so there's probably something reusable ther

[2019-01-10 08:58] emmanuelbernard opened #461 "Plans on testing strategy and approach"
We need a guide of course capturing that.
Potentially some frameworks helping.

Sub issues for first release

* [ ] Guide https://github.com/jbossas/protean-shamrock/issues/555
* [x] JUnit 5 https://github.com/jbossas/protean-shamrock/issues/553

Other sub issues

* [ ] Arquillian like subset of the app with no zipping https://github.com/jbossas/protean-shamrock/issues/554
* [x] `@Inject` in unit

[2019-01-10 15:09] FroMage opened #467 "MP-Context-Propagation support"
Right now, RESTEasy relies on context propagation with reactivecontexts, which supports only RESTEasy. MP-Context-Propagation should supercede this, but has not been released yet.

There's an implementation in SmallRye-Context-Propagation which already supports CDI context propagation (via Weld).

We should look into supporting Arc and transaction (and security when it lands) context propagation,

[2019-01-11 14:20] emmanuelbernard opened #474 "Explore notion of opinionated REST resource"
Objective, most simple hello world.

Use the notion of opinionated `@Controller`

From

[code]

To

[code]

[2019-01-11 14:25] kameshsampath opened #475 "Adding docker volume parameter to build-image goal"
currently the maven goal to build the image (`mvn package  -Pnative -Dnative-image.docker-build=true`) does not allow me to configure the docker source volume on the host that will mapped to the docker run command to build the native image.

e.g.

when running the command

I should be able to configure `/home/docker/protean-demos` to folder/mount-point of my choice

[2019-01-12 08:34] jeffmaury opened #480 "DevMojo does not check return code"
The DevMojo does not check the return code from the launched Java command. Thus if Java fails to load (my Windows case), the build will be successful which seems strange to me

[2019-01-12 10:28] objectiser opened #483 "Jaeger: Initialise metrics in a more automated way - derive from annotations"
Currently the metrics, declared using annotations in Jaeger, are manually initialised within Protean.

Ideally would be good to capture the declared metrics from the annotations during build time and use that information to initialise the metrics at runtime.

[2019-01-12 10:38] objectiser opened #484 "Jaeger: Fix core dump when using UdpSender (reproduce by not including the `JAEGER_ENDPOINT` system property)"
To reproduce:
* Clone and build the protean repo master branch
* Clone the [quickstarts repo](https://github.com/jbossas/protean-quickstarts) and change to the `getting-started-native` folder
* Change the `shamrock.version` to `1.0.0.Alpha1-SNAPSHOT`
* Add the opentracing dependency:
[code]
* Perform a native build, using `mvn package -Pnative`
* Run the native executable:
[code]
* Send a request

[2019-01-12 10:51] objectiser opened #486 "Jaeger: Obtain Jaeger version to be returned for use in trace tag"
Currently just return a blank string from a substituted method for the `JaegerTracer` class. This information is normally found in a file - so need to get this information during build stage and make it available to the runtime stage.

[2019-01-12 10:52] objectiser opened #487 "OpenTracing/Jaeger documentation"
Provide documentation regarding:
1) Configuration of Jaeger as default tracer
2) Use of OpenTracing from an application

[2019-01-14 23:38] fbricon opened #508 "ITs should run on a random port"
.... or at the very least something not as obvious as 8080. I was running the tests when I noticed they were extremely slow, then I found my other app already running on 8080 was pounded by the IT. I had to kill it in order to run the build of the maven plugin.

https://github.com/jbossas/protean-shamrock/blob/c4befe3d31a97c8255e68a080b03382b22da173c/maven/src/test/java/org/jboss/shamrock/maven/it

[2019-01-16 14:52] emmanuelbernard opened #536 "Fail explicitly if no `persistence.xml` is present and no dialect can be guessed from the driver"
Today it was silently ignored which is probably too error prone.

[2019-01-17 07:36] cescoffier opened #546 "Remove the ability to configure an existing pom.xml"
Right now, the `shamrock:create` mojo is able to extend an exiting `pom.xml` and add the required configuration for shamrock. However, it can be tricky as mentioned in #527. I'm in favor to remove this feature except if there are strong objections.

[2019-01-17 15:24] emmanuelbernard opened #554 "Support Classloader based resource filtering"
Arquillian let's you define subset of your applications for smaller tests. It is also very useful to define tests for different resources (by presence or content).
The main drawback is that Arquillian does this via zipping which is too slow.

Explore a way for Shamrock to receive a structure definition and use the classloader to filter the relevant classes and resources. The ability to NAT resourc

[2019-01-17 15:38] emmanuelbernard opened #557 "Define strategy to do deployment tests in Kubernetes"

[2019-01-17 16:54] Sanne opened #558 "Improve unit tests coverage regarding Hibernate ORM's handling of import.sql imports"
See #538

[2019-01-18 09:02] cescoffier opened #562 "Reactive Messaging support"
* [x] Basic behavior
* [x] Stream qualifier support (https://github.com/jbossas/protean-shamrock/issues/497)
* [x] Get reactive converter working (https://github.com/jbossas/protean-shamrock/pull/605)
* [x] Get something working in native mode
* [x] MQTT sink and source
* [x] Kafka sink and source
* [x] AMQP sink and source
* [ ] Specific JAX-RS integration

[2019-01-18 15:21] emmanuelbernard opened #565 "Write an extension to integrate ap4k features in Quarkus"
https://github.com/ap4k/ap4k

A prototype to get it working on top of Protean would be a awesome extension.

The one big difference if at all possible is to not use APT but instead the Protean infrastructure which to sum up is *after* compilation, reading annotations from Jandex to then generate the resources that AP4K
generates.

I might be wrong in my understanding of AP4K but I think aside from

[2019-01-18 16:44] emmanuelbernard opened #568 "Integrate mock and testing"
From Ladislav Thon

[2019-01-21 14:32] emmanuelbernard opened #583 "Consider offering a way to reset DB at Hibernate ORM level for testing"
reset would rerun the DDL statements and import.sql file.

This is useful if you want a test to be fully isolated from another data wise.

[2019-01-22 08:07] emmanuelbernard opened #588 "Improve interaction with web frameworks like react, angular etc"
@dreab8 was pointing to me that he worked on a project with Protean. It had classical Java backend and a React front end.
He wanted Protean to serve the front end content but having to put the react or angular directory structure under `META-INF/resources` is not convenient and would serve the whole project.
In his situation he had two top level projects. But we could envision a subproject of prot

[2019-01-22 08:43] FroMage opened #589 "The infamous DEV mode"
We're still missing a `Mode` enum that has three values: `PROD`, `DEV` and `TEST`.

That mode should be obtainable (injectable) by extensions as well as user code. It can be set by configuration files. It should default to `DEV`, or possibly `TEST` when run from Shamrock test runners.

Certain behaviour defaults change depending on that mode:

- Default landing page in `DEV` lists dev info, such a

[2019-01-22 14:04] stuartwdouglas opened #592 "The native image build should be able to be configured by a BuildItem"
e.g. if a user has configure HTTPS then the maven plugin should auto include it, they should not have to configure it twice.

[2019-01-23 09:29] Sanne opened #601 "Support Loggers looked up from methods"
This simple change in Hibernate ORM broke the Logger/Protean integration: https://github.com/hibernate/hibernate-orm/commit/15ea965d202c23e1ad8477668f32518c1d2371f0

My guess is that only Loggers initialized into a static field are initialized today?

This is the exact error:

[code]

[2019-01-23 15:58] FroMage opened #612 "Print disassembly of generated bytecode"
Writing an extension that generates bytecode with ASM or gizmo pretty often you get things wrong and have verify errors or just buggy generated code. It would be really nice if there were an option to make shamrock generate disassembled bytecode of what we just generated.

[2019-01-24 17:29] starksm64 opened #624 "Add support for the Elytron FileSystemSecurityRealm"
In chatting with Darran, the most functional local/file based security realm store in Elytron is the org.wildfly.security.auth.realm.FileSystemSecurityRealm, so that is something the security extension needs to support and probably should be the "default".

[2019-01-24 21:23] kenfinnigan opened #629 "REST Client should auto add open tracing if present"
Currently if both `quarkus-opentracing` and `quarkus-rest-client` are present, tracing is not automatically passed through any client calls. The developer needs to explicitly set the provider onto the client

`quarkus-rest-client` should detect the presence of `quarkus-opentracing` and register the appropriate tracing provider.

[2019-01-24 22:55] dmlloyd opened #632 "applicationArchiveMarkers should be in the extension descriptor"
The extension descriptor which will be included in the runtime extension artifact should contain a list of artifacts (Group/Artifact) which should be indexed.

This depends on #425.

[2019-01-26 04:48] vorburger opened #641 "shamrock:dev does not work for WebSocket requests"
When you replace e.g. the `>>` in line 41 of the `@javax.websocket.server.ServerEndpoint` annotated `ChatSocket` [protean-quickstarts/using-websockets example](https://github.com/jbossas/protean-quickstarts/blob/master/using-websockets/src/main/java/org/acme/websocket/ChatSocket.java) by `>>>>>>>>>>>>>>>` then you would expect it to "hot code replace" and to see that change "live" when running wit

[2019-01-28 04:00] stalep opened #643 "Native image generation for cli fails"
With the additional dependencies now added from cli-common the native image generation fails when trying to parse freemarker.

[2019-01-28 09:45] emmanuelbernard opened #646 "Simplified JPA data access (project panache)"
Project Panache goal is to make the simple JPA tasks (CRUD, simple queries etc) very simple and the general needs provided (pagination etc) so people can focus on the complex parts.

We start with the `find` helper method approach as it's mildly more verbose than method name guesses and it scales better in complexity.

Here are the list of tasks for first public releases:

* [x] public fields supp

[2019-01-30 10:46] stuartwdouglas opened #676 "Make sure builds are repeatable"
The resulting bytecode should always be the same for the same input

* [ ] ArC observer methods (#683)
* [ ] Build ordinals/main & static init method ordering (#1020)

[2019-01-31 21:30] gsmet opened #699 "Replace usage of java.util.logging by JBoss logging"
We have parts of the code using `java.util.logging` such as `ShamrockTracingDynamicFeature`, `UndertowDeploymentTemplate`, `DataSourceProducer`.

They should use JBoss Logging.

We should also probably set up forbiddenapis to prevent this type of issue.

[2019-02-01 06:30] starksm64 opened #701 "Update security and jwt extension to use elytron-web 2.0"
The current security and jwt extensions rely on integrating Elytron via the wildfly-elytron-embedded and use of the undertow IdentityManager interface. Discussions with Darran and David concluded that we should move forward with a proper integration based on a new 2.0 branch of the elytron-web project. This does a proper job of modularizing the Elytron codebase and integrates with undertow in a be

[2019-02-01 07:16] dmlloyd opened #702 "Need a way for MP-config users to specify their converter types"
Custom converter types can be added via `org.jboss.shamrock.deployment.builditem.ConfigurationConverterBuildItem`.  However implicit converters all work reflectively on demand, so in the native image case they will have to be somehow detected and resolved and cached during static init, then re-registered at run time.  Users will expect implicit converters to be present without requiring overt acti

[2019-02-01 07:33] mkouba opened #703 "ArC - add basic @SessionScoped support"
We will probably need a basic support of custom sopes/contexts.

[2019-02-01 09:13] gsmet opened #707 "Only register the required RESTEasy providers in the REST client extension"
Right now, the REST client extension registers all the RESTEasy providers, which is a very bad idea.

We should reduce that to the bare minimum based on the `@Consumes/@Produces` annotations. It's probably something we can do by sharing the code already present in the JAX-RS extension.

[2019-02-01 11:40] FroMage opened #713 "New ExtensionProcessor APT fails in Eclipse"
I'm getting a lot of these errors:

[code]

[2019-02-01 17:12] FroMage opened #722 "No Protean/color logging during unit testing"
I don't have color or short logger names on the console anymore, as noted in #585.

This seems to be due to the recent config merge, @dmlloyd

[2019-02-02 13:38] gsmet opened #731 "Infinispan cache JPA tests still failing from time to time"
Just had this one on CI:

[code]

[2019-02-02 14:08] gsmet opened #732 "Use official GraalVM images when building native images with Docker?"
In NativeImagePhase.java, we have:
[code]

Apparently, Oracle released official GraalVM images here:
https://github.com/oracle/docker-images/tree/master/GraalVM/CE/1.0.0-rc11

There is one catch: it's using Oracle Linux :).

[2019-02-02 20:35] dmlloyd opened #734 "Config Converter for Class objects"
It should be possible to have `Class` objects in configuration, as long as the configuration root in question is loaded at run time (either during static init, or rarely, during the main method) and not at build time.  For the configuration of build steps, the generic type of the class can be used to generate the appropriate `asSubclass` call.  Classes in configuration would be loaded and cast as

[2019-02-03 15:26] gsmet opened #739 "Fix error reporting when a class non registered for reflection is serialized by a JSON REST service"
Right now, if a class is not registered for reflection, JSON serialization will fail but it doesn't log any error, it just returns null.

It might report an error in the REST response (need to check that) but we should in any case log something about it on the server side.

[2019-02-04 11:07] gsmet opened #745 "JAX-RS - Generate reflection declaration from MP OpenAPI schema definition"
It is possible to define the entity types via the MP OpenAPI annotations. Look for an example here:
https://openliberty.io/guides/microprofile-openapi.html#augmenting-the-existing-jax-rs-annotations-with-openapi-annotations

These entity types should be registered for reflection as they will probably be serialized at some point.

AFAICS, in `@Schema`, there is `implementation` but we should probab

[2019-02-05 16:46] FroMage opened #764 "SSL: netty ssl substitutions fail with Graal RC12"
This is due to the `ConscryptAlpnSslEngine` class which depends on the optional conscrypt lib, and graal got better at finding optional libs. I can remove that option and force the JDK engine, but then users lose that choice of using that optional lib.

Is there any option to keep on allowing that optional lib to exist with graal, @Sanne @dmlloyd @stuartwdouglas ?

[2019-02-06 13:00] FroMage opened #770 "ClassLoader and augmentation issues"
For example, Hibernate and Panache enhance entity `Foo`, and Panache then generates a `Foo$generated` class, which uses reflection on `Foo` to get some info that's hard to get using jandex. It doesn't care if it sees a non-enhanced version of the class, using its class' class loader. But if it uses theTCCL (`RuntimeClassLoader`) that will trigger a load of the entity class before the `transformers

[2019-02-06 14:42] gsmet opened #773 "Config follow-up: `RUNTIME`/`RUN_TIME` consistency"
It's a detail but in `ExecutionTime`, we have:
[code]
whereas in `ConfigPhase`, we have:
[code]

Both are mostly talking about the same things but and with runtime being spelt differently.

What bothers me too is that both will probably be used in the `*Processor` classes so it might feel a bit weird when writing these classes.

I could live with it but I thought the issue should be raised so that

[2019-02-06 15:34] gsmet opened #776 "Existing quickstarts should all have a native test"
At least for the ones for which it works out of the box.

Right now, a test is missing for a lot of them and in some cases, the failsafe config needs to be added too.

[2019-02-06 16:20] dmlloyd opened #780 "Introduce a "unit test" extension"
We need to introduce a fake extension for unit/regression testing the extension mechanism.

- [x] Introduce the basic extension
- [ ] Exercise all the different config phases
- [x] Exercise as many config types as possible including lists, maps, & primitives
- [x] Use bytecode recording in both stages
- [ ] Be compiled & tested with Javac and then again with ECJ
- [x] Be tested with native-image
-

[2019-02-06 17:43] dmlloyd opened #784 "Architectural issue around static initializers"
Ideally in the native image case we want to use static initializers whenever possible for reasons which have been discussed heavily.  However, in JVM mode, we really don't want to be doing this, because it means that we can only influence application behavior from the command line using system and environment properties, not command line arguments.

This prevents the user from being able to do thi

[2019-02-07 08:10] cescoffier opened #788 "Migrate Vert.x config to "pure" MP Config"
Right now, the Vert.x configuration is computed at build time, it would make more sense to apply it at runtime.

[2019-02-07 14:15] johnaohara opened #796 "java.lang.NoClassDefFoundError: com/sun/jna/LastErrorException when -H:+ReportUnsupportedElementsAtRuntime option set when building a native image"
When depending on shamrock-jdbc-postgresql-deployment, building a native image with -H:+ReportUnsupportedElementsAtRuntime as a native-image argument, the build fails with;

fatal error: java.lang.NoClassDefFoundError
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:6

[2019-02-07 18:13] Sanne opened #802 "Tone down the need for hotrod-client.properties to use the Infinispan Client"
This is mostly to focus on the docs, so to express a single and simple way to configure the Hot Rod client: by using the standard Protean configuration entries.

To get to that point, it's possible we need to first improve / revisit which things need to be exposed via this file.

If we really still mention a `hotrod-client.properties`, that should be limited to a final note meant for specific adva

[2019-02-07 18:31] Sanne opened #804 "Infinispan Query dependencies should be included in the Infinispan client"
While keeping dependency trees small is a good idea, we shouldn't split extensions too fine-grainedly as that has an impact on usability.

Specifically the Infinispan Client guide currently explains that to use query an additional dependency needs to be added.

I think we should include such things by default, and possibly work to make them have minimal impact.

"Minimal Impact" in an ideal world

[2019-02-07 18:35] Sanne opened #805 "Infinispan Client should auto-enable needs it has on encryption"
The Infinispan Client guide today suggests that in certain configurations, such as using encryption via the Hot Rod client, some extra flags shall be enabled on the native-image tasks (see the docs for details).

People shouldn't be bothered with this, let's automate it!

[2019-02-08 08:59] geoand opened #810 "Documentation about writing extensions"
Opening this based on a discussion on the mailing list:

Regardless of how complex it will be to write an extension, I believe that superb documentation will be necessary if we wish to build an ecosystem ( and it would be a damn shame if this amazing project does not get one :) ).
I would very much like to see both the general concerns that an extension needs to handle and a detailed section inclu

[2019-02-08 14:07] FroMage opened #814 "Reverse-router"
Very often it's important to generate URIs for pieces of the REST service we implement:

- for [`Link` headers](https://www.w3.org/wiki/LinkHeader)
- for [HATEOAS](https://en.wikipedia.org/wiki/HATEOAS) inside resources
- to generate templates (email, html)
- for redirects

JAX-RS has support for reverse-routing, but it just sucks:

[code]

It sucks for many reasons:

- Java does not have method l

[2019-02-08 15:52] dmlloyd opened #818 "Switch to Java 11"
This is the blanket issue to cover switching to Java 11.  Here's the check list:

- [ ] Introduce an artifact which contains the contents of the `com.oracle.svm.driver` package from the SubstrateVM build (the default coordinates are `com.oracle.substratevm:svm-driver`; use `mx maven-install` to install it locally after checking out & building with the `vm-1.0.0-rc11` tag under Java 11)
- [ ] Make

[2019-02-08 17:03] hpehl opened #820 "gRPC extension"
Provide an extension to deploy gRPC services in Quarkus. An initial PoC is available here:

- https://github.com/hpehl/quarkus-grpc-extension: Extension which starts a gRPC server and registers annotated gRPC services and interceptors.
- https://github.com/hpehl/quarkus-grpc-quickstart: Demo how to use gRPC with Quarkus.

The extension works in Java mode, but fails in native mode. Which might be r

[2019-02-11 14:49] kenfinnigan opened #832 "Rename extension generation file"
When ready to move to auto generated `extension.json` we need to change the name of the generated file here: https://github.com/jbossas/protean-shamrock/blob/master/cli/extension-plugin/src/main/java/org/jboss/shamrock/maven/extensionlist/ExtensionListMojo.java#L49

[2019-02-11 14:49] gsmet opened #833 "Add extension metadata to all the extensions"
Following the integration of https://github.com/jbossas/protean-shamrock/pull/663/files#diff-2cfc93ecb828363d0be95549c3abbbfeR31 , we need to add the appropriate metadata to all the existing extensions.

See our `extensions.json` for some label ideas.

[2019-02-12 17:12] wburns opened #864 "Infinispan Client Marshaller should always be done at Static/Build time"
Currently the marshallers are accidentally retrieved at runtime instead of at static init or build time. https://github.com/jbossas/protean-shamrock/blob/master/extensions/infinispan-client/runtime/src/main/java/org/jboss/shamrock/infinispan/client/runtime/InfinispanClientProducer.java#L181 We need to change this as this causes additional startup time, that we don't want.

[2019-02-13 16:06] gsmet opened #876 "Improve error reporting of configuration"
Two cases that might need some love:
- when creating a ConfigRoot with a name containing a dot, we don't have any error saying it is not valid but the config root can't be found: "Unknown root key: ". Either we should support that or throw a proper error (I would like for it to be supported but I can live without it).
- AFAICS, nested ConfigGroup classes need to be static. Otherwise, you end up wi

[2019-02-13 16:10] gsmet opened #877 "Empty configuration values are passed to the converter"
From a discussion with David today.

When you have something like:
[code]
with `MyEnum` having a `of(String)` method to have an implicit converter, the empty value (empty string) is passed to the converter to determine the default.

David thinks the value should be null and the empty string should not be passed to the converter.

Note that it works OK when the configProperty is of type `Optional<M

[2019-02-13 17:25] dmlloyd opened #878 "Enable unknown config key reporting"
The code is there, there just needs to be a hook for the generated code to call so that a warning is logged.

[2019-02-13 17:52] gastaldi opened #880 "Introduce a RESTEasy Multipart extension"
RESTEasy has rich support for the `multipart/*` and `multipart/form-data` mime types. The multipart mime format is used to pass lists of content bodies. Multiple content bodies are embedded in one message. `multipart/form-data` is often found in web application HTML Form documents and is generally used to upload files. The form-data format is the same as other multipart formats, except that each i

[2019-02-14 08:14] starksm64 opened #891 "Improve error reporting of missing default config values"
I'm working on the test extension and trying to flesh out all supported types, and during initial testing of a config group like the following:

[code]
I'm seeing the following exception even before the configuration is loaded:
[code]

This is happening on the longValue field. I would not think that a Long type would require a default, but if it does we should be reporting what field is the proble

[2019-02-14 15:02] Sanne opened #902 "List of TODO for public release"
### Meta issue to track all stuff that needs to be done for the final push-to-open

- [x] get GitHub org
- [x] Create public zulip org
- [x] decide if we keep history or not (Emmanuel wants history as it shows we did not poop this one out in a week)
- [x] Set public zulip org
- [x] Run first request boot time and RSS usage for us vs HotSpot us vs major competitors in same application
- [x] All stu

[2019-02-15 08:45] emmanuelbernard opened #913 "Create stackoverflow Q&A and tag shortly after launch"

[2019-02-19 09:13] evacchi opened #950 "JDK 8: Blah.class.getPackage() == null on quarkus:dev"
The problem does not occur when:

- JDK 11
- Any JD8, starting package `java -jar target/*runner.jar`

[code]

[2019-02-19 13:42] gsmet opened #956 "Fix support for maps in Config"
As discussed at the standup meeting, let's create an issue to track these problems.

See https://github.com/jbossas/protean-shamrock/pull/925 for a complete description of the issues and how to reproduce them.

[2019-02-19 15:12] jclingan opened #958 "Change plugin native-image.docker-build property to native-image.container-build"
Regarding $subject, Red Hat has been replacing references to "docker" with "container" where applicable, so Quarkus should do so here as well unless there is a compelling reason not to.

[2019-02-20 05:55] starksm64 opened #962 "ConfigPhase.BUILD_AND_RUN_TIME_FIXED root values not restored at runtime"
Further progress on the #780 config testing is showing that a config root using ConfigPhase.BUILD_AND_RUN_TIME_FIXED does not see the build time values restored by the generated ConfigHelper class. I'm guessing that an ObjectSubstitution is not being generated, but need to look into this more.

[2019-02-20 17:56] emmanuelbernard opened #973 "Add to `quarkus:dev` the ability to run the "unit tests""
Today we allow to hit refresh and see the result of the code.

I'd like us to also deploy tests and be able to run them by refreshing a specific web pages when run under `quarkus:dev`. `http://localhost:8080/tests/` would show the list of tests, the one failing and display to the logs / errors.

My main use cases are two fold:

* once I'm happy with my inner loop, I verify that tests pass before m

[2019-02-20 23:14] dmlloyd opened #975 "CDI static initialization prevents MP-config from functioning"
CDI applications using MP-Config will fail to function after the next round of configuration changes, where the run time configuration is not available until the main method executes.  As the code stands, user applications will only be able to read values from the build configuration, not from the run time configuration.

Blocks #784; see that issue for more information.

[2019-02-21 03:51] kenfinnigan opened #976 "BuildSteps appear not to be validated anymore"
https://github.com/jbossas/protean-shamrock/blob/master/extensions/resteasy/deployment/src/main/java/org/jboss/shamrock/resteasy/ResteasyScanningProcessor.java#L384 has a `BuildStep` with `@Record` present, which is only meant to be necessary when a class annotated with `@Template` is present.

[2019-02-21 08:34] emmanuelbernard opened #979 "Discuss a transaction API"
Today we use `@Transactional`, `UserTransaction`, `TransactionManager` which are all standard.
Let's explore the need for either change to specs to a alternative API if we feel it does not address the problem well enough.

An example is that `TransactionManager` and `UserTransaction` use a lot of checked exceptions.

[2019-02-21 09:07] mkouba opened #980 "BeanDefiningAnnotationBuildItem - support for meta-annotations"
So that all annotations annotated with the specified meta-annotation are considered bean defining annotations. This is how CDI stereotypes work.

[2019-02-21 13:53] rsvoboda opened #983 "MP Metrics - expose more metrics in base scope"
Quarkus:
[code]

WildFly:
[code]

[2019-02-21 17:43] Sanne opened #987 "Starting app in dev mode runs the Hibernate import.sql script multiple times"
Having a trivial import script like
[code]

this is a problem as it triggers duplicate key violations.

[2019-02-21 17:44] tqvarnst opened #988 "Cannot override quarkus.datasource.* attributes with environment variables if the property is not present in application.properties"
Problem:
Cannot override shamrock.datasource.* attributes with environment variables

Why:
It's a common pattern in containers to use environment variables for certain configs like datasource url.

Reproduce:
1.  create a JPA project and set microprofile-config.properties:
[code]

2. Build a native image `mvn clean package -Pnative`
3. Start a postgressql
[code]
4. Set environment variable and run

[2019-02-22 10:01] emmanuelbernard opened #999 "Snippet on why are we Graal VM optimised"
Show some of the choices we made to make framework GraalVM native and explain thst this infrastructure is needed vs vanilla GraalVM.

[2019-02-22 10:18] emmanuelbernard opened #1003 "Quarkus vision"
Explain in one or two paragraph the idea of:

* Graal VM and HotSpot tailored
* ecosystem of extensions
* best of breed of frameworks and standards
* cohesive experience
* opinionated (but optional) happy path (80% usage), smoothly transitioning to vanilla usage of the best of breed frameworks and standards for more powerful usages

[2019-02-22 10:29] emmanuelbernard opened #1006 "FAQ on Quarkus"
- What is Quarkus
- Who is it for
    - Java devs needing Java in containers, high boot time, high memory density
    - devs that want to get shit done
- Why consider Quarkus over something else
    - truly GraalVM optimized
    - dev joy
- what is the licence

[2019-02-22 10:46] emmanuelbernard opened #1008 "Snippet on serverless"
Explain why Quarkus is awesome for serverless function development

- fast boot and memory usage
- function framework opinionated layer (to come and be stabilized)
- gradually can scale up to other dependencies and familiar frameworks

[2019-02-22 11:18] rsvoboda opened #1009 "@Timed and @Metered metrics are not working"
`@Timed` metric is not working, RuntimeException is thrown when accessing endpoint annotated with `@Timed`.

Repo: https://github.com/rsvoboda/protean-shamrock/tree/TimedMetricTest
Test: https://github.com/rsvoboda/protean-shamrock/commit/00b7a4ab393d05649b67107568f6b80708297902

[code]
[code]

[code]

[2019-02-22 12:54] rsvoboda opened #1013 "Build - xyz has been deprecated warnings"
There are 50+ `has been deprecated` warnings in the build, ignoring warnings from jboss-logmanager-embedded.

There are 4 big groups of warnings - Quarkus, Netty, Hibernate-ish, Elytron
I think Quarkus related deprecation warnings could be eliminated before Quarkus goes public.

Quarkus related deprecation warnings:
[code]

jboss-threads related deprecation warnings:
[code]

File related deprecati

[2019-02-22 14:07] dmlloyd opened #1016 "RestEasy/JAX-RS has no useful hooks"
There is no easy way to integrate with the RestEasy extension. The single build step accepts a bunch of annotations and spits out servlets.  There should be at least one intermediate step introduced, so that extensions can produce REST handlers that can take advantage of type mapping & etc. via build items.

The first use case for this was @evanchooly's Lambda extension.  I anticipate that there w

[2019-02-22 14:07] kenfinnigan opened #1017 "Add REST Client IncomingHeaders impl"
SmallRye REST Client 1.2 usage means we need to implement IncomingHeaders handler and register a service

[2019-02-22 14:25] jkbrock opened #1018 "Iconography"
I need a list of concepts or ideas that would be better described with pictures than words.

This is especially important for new or cutting edge ideas that this project are bringing up in developer discussions.

[2019-02-23 08:58] rsvoboda opened #1029 "Windows - console (cmd/powershell) polluted with escape characters for color output"
Windows - console (cmd/powershell) polluted with escape characters for color output

~~I don't think cmd supports colors.~~ Cmd supports colors too, e.g. maven output is colored
PowerShell supports colors, but probably needs its own way.

Workaround on Windows could be to use consoles with color support - e.g. https://cmder.net/

Example:
[code]

[2019-02-26 09:39] rsvoboda opened #1049 "Support src/main/webapp for web applications"
People often have stuff placed in `src/main/webapp` - e.g. index.html.
With Quarkus I have to put it to `src/main/resources/META-INF/resources/index.html`, @stuartwdouglas pointed that META-INF/resources is a standard location according to the servlet spec

This can be unpleasant change for end-user and Quarkus plugin could be enhanced to cover src/main/webapp scenario.

[2019-02-26 13:07] rsvoboda opened #1056 "quarkus:dev doesn't detect deleted classes (servlet in my case)"
quarkus:dev doesn't detect deleted classes (servlet in my case) and still servers the content

I have simple project with 2 servlets (`@WebServlet`) running in quarkus:dev mode.
When I delete one servlet from the project I can still access both endpoints.
This can lead to some confusions when users do bigger refactoring in dev mode.

I tried to search issues if this is filed but didn't find the ri

[2019-02-27 19:46] kenfinnigan opened #1079 "Update to latest SmallRye OpenTracing"
Update to 1.3.0

[2019-02-27 21:21] dmlloyd opened #1081 "Dev mode log viewing HTTP handler"
When in dev mode and there is an HTTP listener, it would be nice to have a log viewer service URL that will show a continuous view of the last N log messages.  This is also a natural fit for SSE.

This should be done by adding a public singleton `org.jboss.logmanager.handlers.QueueHandler` to the root logger inside of `LoggingSetupTemplate` as one of the handlers along side file and/or console.  T

[2019-03-01 01:35] jclingan opened #1118 "Add an JVM Dockerfile to maven create goal"
The maven "create" goal creates a Dockerfile that is intended to be used with the native image.

This request is to update the maven "create" goal to also create a JVM-based Dockerfile (perhaps Dockerfile.jvm, and rename the existing Dockerfile to Dockerfile.native - which would also require updating existing guides). To be clear, this request is not to replace the existing Dockerfile but to add a

[2019-03-01 08:43] gsmet opened #1120 "Panache - Sort properties injected in the query should be escaped somehow"
Currently, they are not and we could imagine a user passing the sort property from the UI to the backend leading to a potential SQL injection.

[2019-03-01 10:39] gsmet opened #1122 "Agroal - Allow to configure transaction isolation level"

[2019-03-01 10:45] gsmet opened #1123 "Security logging is very verbose"
(This is not about security logging being DEBUG, I will directly create a PR for that)

When running the security deployment tests, we have a lot of logging output with things like:
[code]

It seems overly verbose and it seems to be per request.

Could we trim that down? AFAICS, there are lines coming from Undertow and lines coming from our security extension.

[2019-03-01 12:19] gsmet opened #1130 "Camel IT failing on Fedora + Bash due to environment variables containing bash scripts with variables"
On Fedora + Bash, the Camel IT tests are failing with this error:
[code]

This is due to the `BASH_FUNC_*` environment properties containing things like that:
[code]
as MP Config tries to expand the variable and fail.

What makes the Camel ITs specific is that they iterate over all the configuration properties to push them to Camel.

[2019-03-03 13:52] geoand opened #1157 "Create Kotlin compiler plugin for open classes"
We should create a Kotlin compiler plugin that will stand in place of the all-open plugin and will contain pre-configured all the annotations that result in classes that must not be final (much the same way that the Kotlin spring does).
~~This will also solve [this](https://github.com/jbossas/protean-shamrock/pull/1155#discussion_r261866936) issue.~~

[2019-03-04 06:52] starksm64 opened #1163 "smallrye-jwt not working in native mode"
Testing the using-jwt-rbac under native mode produces no errors, but neither authentication or authorization are working.

[2019-03-04 09:26] stuartwdouglas opened #1166 "Debug mode that analyses unsafe reflection calls"
When debugging native image issues it would be great if we could instrument calls to the reflection API, and report on any problematic ones. The current trial and error approach is really slow.

[2019-03-05 09:02] rsvoboda opened #1199 "Add logo to QuarkusIO organization"
Add logo to QuarkusIO organization

https://github.com/quarkusio currently uses GH default logo.

We should have Quarkus branded logo there.
@n1hility

[2019-03-05 10:17] rsvoboda opened #1204 "Quarkus maven extension - list of available targets + details"
For Quarkus maven extension we should have document with list of available targets + details for the targets.

`mvn io.quarkus:quarkus-maven-plugin:help` gives some guidance but it's pretty limited and users need to know about that command. At this moment help command is not mentioned in the docs.

[2019-03-05 12:40] emmanuelbernard opened #1214 "Add internal glossary for normalized definitions"

[2019-03-05 13:19] emmanuelbernard opened #1216 "Consider converting the transaction guide and Hibernate ORM guide into quickstart guide"
Hey @gsmet @Sanne , the data guides are the few one not to follow the quistart approach with the quickstart code to clone. If you guys have nothing to do :)
This is not a first-public-release mandatory

[2019-03-05 13:38] dmlloyd opened #1217 "Test and document ConfigMap property overriding via SmallRye Config"

[2019-03-05 13:40] dmlloyd opened #1218 "Add ability to add an additional run time configuration file"
This could be by way of generic command line argument parsing.  The additional config source would have a higher priority than the run-time defaults inherited from the build config, but lower than system property/environment variables.

[2019-03-05 13:58] Sanne opened #1219 "DevMojoIT hangs for a long time and eventually fails during build"
Test `testThatTheApplicationIsReloadedOnKotlinChange` seems to get stuck in "await" for a long time and eventually fails.

Apparently this is only happening on my machine ?  However it's very consistent here. Couldn't investigate more yet, so tracking as issue.

[2019-03-05 14:43] gsmet opened #1224 "Rename the integration tests config files to application.properties"

[2019-03-05 16:13] rsvoboda opened #1232 "quarkus:add-extension should report multiple extensions match"
quarkus:add-extension should report multiple extensions match, now it picks any extension that matches name or GAV.

[code]

https://github.com/quarkusio/quarkus/blob/master/devtools/common/src/main/java/io/quarkus/cli/commands/AddExtensions.java#L44

[2019-03-05 16:17] kenfinnigan opened #1233 "SmallRye REST Client extension should register response types"
For any response type of a method within an interface marked with `@RegisterRESTClient` we should register that type for reflection

[2019-03-05 16:19] rsvoboda opened #1234 "Allow * expression for quarkus:add-extension"
Allow * expression so users can add multiple extensions in one command

For example  adding all MP/SmallRye related extensions - `mvn quarkus:add-extension -Dextensions="SmallRye*"`

[2019-03-06 09:21] dmlloyd opened #1257 "Version is hardcoded in a lot of source files"
We should really not be doing this.  It complicates the release, at the least.  If a run time piece needs the version, it should pull it from a resource that is substituted at build by Maven.

[2019-03-06 10:58] rsvoboda opened #1267 "maven-tooling and gradle-tooling adoc - no info about java application build, just native app info"
maven-tooling and gradle-tooling adoc have no info about java application build, just native app info

For maven getting-started-guide.html#packaging-and-run-the-application can be linked or reused
No info for Gradle.

On the other hand those are standard commands people could handle by default.
So question is should be the tooling docs advanced or not ?

[2019-03-06 14:56] cescoffier opened #1274 "Disable the deployment of integration test during the release"

[2019-03-06 15:19] stuartwdouglas opened #1276 "Set up public CI"

[2019-03-06 19:11] emmanuelbernard opened #1288 "Have the CLI tool download and start a quarkus:dev ready docker Container"
Map the local dir to the container one
Ask for the Pom info
Then start the container in :Dev mode
And people can start editing right away with no JVM not Maven install.

[2019-03-06 19:28] starksm64 opened #1289 "integration-tests/README.md refers to non-existent GraalTest"
Either we have a pending rename of io.quarkus.test.junit.SubstrateTest to io.quarkus.test.junit.GraalTest that I'm not seeing an issue for, or the integration-tests/README.md is out of date/incorrect.

[2019-03-06 19:43] cescoffier opened #1290 "Move the doc to the web sites"
In addition, a filtered adoc file must be created in this repository and copied over during the release process to update the versions.

[2019-03-07 03:25] starksm64 opened #1292 "ResteasyScanningProcessor should look at @Path as a METHOD_ANNOTATIONS for reflection registration"
The using-jwt-rbac quick start has a sub-resource locator pattern where the

[code]
and LottoNumbersResource is:
[code]

This works fine in JVM mode, but when run under native mode it fails with:
[code]

If I uncomment the @RegisterForReflection on LottoNumbersResource, this runs fine under native mode as well.

Currently the set of annotations that qualify a method for reflection introspection do

[2019-03-07 08:07] jclingan opened #1294 "Remove Caffeine as a public extension"
Running mvn:list-extensions displays Caffeine and "Caffeine - RunTime" as a public dependencies. These are private dependencies of the infinispan extension.

[2019-03-07 10:06] johnaohara opened #1298 "remove redundant configuration loading for live dev mode"
Currently `mvn quarkus:dev` only reads properties from "META-INF/microprofile-config.properties".  The maven plugin does not look for properties in "application.properties", so any properties defined in "application.properties" will not be loaded in live dev mode

[2019-03-07 11:56] geoand commented on #1298
To tell you the truth I don't know that part of the code is supposed to do.

But the files to be config to be checked for change are consulted at:
https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/RuntimeUpdatesProcessor.java#L149
https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/HotDeploymentConfigFileBuildStep.java

[2019-03-07 12:50] johnaohara commented on #1298
I haven't run an example, I was trawling through the code and noticed that it was not searching for application.properties. I will double check if this causes an issue somewhere

[2019-03-07 12:51] geoand commented on #1298
Cool, thanks

[2019-03-07 13:02] johnaohara commented on #1298
@geoand I have just spoken to @stuartwdouglas . The code at https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java#L62  might be redundant. I am testing a patch now

[2019-03-07 13:03] geoand commented on #1298
Sounds good :)

[2019-03-07 13:19] dmlloyd opened #1302 "Introduce a CDI bean which encapsulates the command-line arguments"
As a `List<String>` would be ideal.  Then users can inject & process them.

[2019-03-07 13:31] jmartisk opened #1303 "Wrong inferring of metric names and metadata from annotations"
With MP Metrics declared by annotations, the `absolute` attribute is ignored.
For example:
[code]
This will cause a registration of a metric named `example.quarkusmetrics.MainResource.counter1`, but after it is accessed due to a HTTP request, SmallRye interceptor will search for just `counter1`, so it will not be able to find the correct metric to increase.

[2019-03-07 13:31] jmartisk commented on #1009
I will try to come up with a fix for this, along with fixing https://github.com/quarkusio/quarkus/issues/1303 which is related.

[2019-03-07 13:32] kenfinnigan commented on #1303
Is this a bug in SmallRye?

[2019-03-07 13:52] jmartisk commented on #1303
No, this is a bug in Quarkus which eagerly initializes metrics at deployment, but initializes them under the wrong name.

[2019-03-07 13:52] siamaksade opened #1305 "Support OpenJDK S2I"
When Using OpenJDK S2I to build and deploy the examples on OpenShift, builds succeeds but the deployment fails.

[code]
The deployment fails with the following error since it can't determine which JAR file to use:

[code]

[code]

[2019-03-07 13:53] jmartisk commented on #1303
I will try to come up with a solution, at at the same time add support for some other metric types that are missing as per https://github.com/quarkusio/quarkus/issues/1009

[2019-03-07 13:54] stuartwdouglas commented on #1305
Try `<uberJar>true</uberJar>` in the maven plugin config

[2019-03-07 13:56] siamaksade commented on #1305
Do any of the quickstarts have it enabled to test with OpenShift?

[2019-03-07 14:05] siamaksade opened #1306 "Add documentation for building with S2I on OpenShift"
The current docs on the website use Dockerfile for building the app image:
https://quarkus.io/guides/kubernetes-guide

There should also be docs on how to use S2I and OpenJDK builder image for building non-native and possibly also native packaging on OpenShift.

[2019-03-07 14:30] mkouba commented on #1302
Makes sense. Weld SE provides `@Inject @Parameters List<String> params` if started using `org.jboss.weld.environment.se.StartMain`.

[2019-03-07 14:45] johnaohara opened #1309 "Update performance measurement documentation to use consistent tooling and native image"

[2019-03-07 14:46] jclingan opened #1310 "Add Quarkus to the MicroProfile Starter"
MicroProfile [has its own starter](https://start.microprofile.io/), so we should add Quarkus to the MP 2.1 version. Thorntail V2 is already listed as an MP 2.1 implementation.

[2019-03-07 16:35] geoand opened #1314 "Constructor injection does not work on RESTEasy component"

[2019-03-07 16:39] michalszynkiewicz opened #1315 "Get rid of @Inject for @ConfigProperty"
Since `@ConfigProperty` is used only for injecting configuration values, it seems redundant to require user to add `@Inject` with it.
This issue is to make `@Inject` optional for `@ConfigProperty`'s

[2019-03-07 16:41] geoand commented on #1314
cc @asoldano @mkouba

[2019-03-07 16:43] mkouba commented on #1314
For the record: _"Support for constructor injection of JAX-RS resources is OPTIONAL. Portable applications MUST instead use fields or bean properties in conjunction with a `@PostConstruct` annotated method. Implementations SHOULD warn users about use of non-portable constructor injection."_

[2019-03-07 16:44] geoand commented on #1314
In this case we have a failure instead of a warning :P

[2019-03-07 16:47] mkouba commented on #1314
Yes, I'd say that RESTEasy just doesn't support constructor injection ;-)

[2019-03-07 17:10] cescoffier commented on #1305
No, the quickstarts are not using uberjar.

Note that with uberjar you will be in JVM mode and not in native mode.

[2019-03-07 17:11] michalszynkiewicz opened #1317 "Programmatic rest client generation fails in native mode"
To reproduce, you may use the `CountriesResourceTest` in https://github.com/michalszynkiewicz/quarkus-quickstarts/tree/builder-native-failure

Error log:
https://gist.github.com/michalszynkiewicz/174fbfabfb1bb14ccd36f3a8c2d533c5

The cause is that we only register interfaces annotated with `@RegisterRestClient` here:
https://github.com/quarkusio/quarkus/blob/13f7c14bc28714c866e204e7fc3e7acafdd13a5

[2019-03-07 17:13] kenfinnigan commented on #1317
Does the spec allow that to work?

I always thought `@RegisterRESTClient` must be present on the interface?

[2019-03-07 17:20] FroMage opened #1319 "throwing during class enhancement corrupts the build due to jandex"
When I run a test from the IDE and a bytecode enhancer throws an exception, I can't re-run any tests from the IDE until I do a full build, because any subsequence run will throw an index about the jandex index being incomplete.

[2019-03-07 17:45] michalszynkiewicz commented on #1317
I didn't read it very carefully now, but examples and the section about registering cdi beans with the said annotation suggest that it's only needed in the cdi injection case.

[2019-03-07 17:46] karesti opened #1321 "Infinispan properties override at runtime"
Would be nice to be able to override  properties like `quarkus.infinispan-client.server-list` at runtime. Near caching ones too.

[2019-03-07 17:51] karesti opened #1322 "Infinispan version is null"
Infinispan version is displayed as null
2019-03-07 17:14:12,787 INFO  [org.inf.cli.hot.RemoteCacheManager] (main) ISPN004021: Infinispan version: null

[2019-03-07 18:00] vorburger opened #1323 "Gradle builds fail with: Error opening zip stream from artifact: .../svm-hosted-native-linux-amd64-1.0.0-rc12.tar.gz"
Following https://quarkus.io/guides/gradle-tooling.html, in https://github.com/quarkusio/quarkus-quickstarts/compare/master...vorburger:gradle, when running `gradle quarkus-build` (with `gradle --version` = 5.1.1, I'll add the wrapper for better reproducibility) causes this:

[code]

@stalep any clue what's going on here? How can that svm-hosted-native-linux-amd64-1.0.0-rc12.tar.gz be corrupt?! I

[2019-03-07 18:05] vorburger commented on #1323
even wiping ~/.gradle/caches, just to be extra sure, doesn't help.

just done, so now, the issue should be reproducible with `cd getting-started; ../gradlew quarkus-build`.

[2019-03-07 18:14] vorburger commented on #1323
https://github.com/quarkusio/quarkus/pull/1324 may help see what's going on here...

[2019-03-07 18:36] vorburger commented on #1323
[code]

Which, actually is easily reproducible with just `jar -tf .../svm-hosted-native-linux-amd64-1.0.0-rc12.tar.gz` ... and it's simply because [the JDK ZipFS can't deal with tar.gz](https://stackoverflow.com/questions/7128171/how-to-compress-decompress-tar-gz-files-in-java).

I guess we could use e.g. [Apache Commons Compress](https://commons.apache.org/proper/commons-compress/) (or [TrueVFS](

[2019-03-07 18:38] vorburger commented on #1323
Also how come the Maven Plugin doesn't face this same problem?!

[2019-03-07 18:42] kenfinnigan commented on #1317
I took a look at the spec and I was wrong. But we have a way to fix it

[2019-03-07 18:43] michalszynkiewicz commented on #1317
Registering everything with `@Path` seems to make the most sense to me

[2019-03-07 19:35] vorburger commented on #1305
@siamaksade @cescoffier I may be able to help with this one - will try to do so tomorrow or Monday...

FYI, background: https://github.com/fabric8io-images/s2i/issues/123 is kind of related to this...

see also #304

[2019-03-07 19:42] cescoffier commented on #1305
@vorburger That would be awesome!

[2019-03-07 20:35] geoand commented on #1315
This makes sense to me as well.

FWIW in Spring you only need `@Value`, no need to add `@Autowired`

[2019-03-07 20:39] geoand commented on #1305
Weird.. I have actually tried binary builds for the ap4k extension and it works fine fabric8/s2i-java:2.3

[2019-03-07 20:42] geoand commented on #1305
Using the uberjar config should do the trick since in that case we add the `.original` sufficient to the original jar, thus leaving a single `.jar` file.

[2019-03-07 20:46] geoand commented on #913
Has been completed, see: https://stackoverflow.com/questions/tagged/quarkus

[2019-03-07 20:46] #913 closed

[2019-03-07 21:33] michalszynkiewicz commented on #1317
@kenfinnigan do you want to tackle that? If not, I'd be happy to

[2019-03-07 22:08] kenfinnigan commented on #1317
By all means you can tackle it.

In chatting with @stuartwdouglas and @mkouba the logic we settled on is:
- Look for all `@Path` annotations
- Select those that are interfaces
- Search for a class that implements the interface. If there's no match, then add it to the list of interfaces to register for reflection

It's a little more complicated, but we need to ignore the case where a JAX-RS Resourc

[2019-03-07 22:16] vorburger opened #1333 "Activate Dependabot for this repo?"
How about activating https://dependabot.com for this repo? (Needs an org admin; I can't do.)

I've used it for a while in a number of projects - works great IMHO!

Can be configured to auto-merge PRs which passed, or manual.

Would help to avoid manual "toil" (churn) such as #1332.

[2019-03-07 22:17] kenfinnigan commented on #1333
The issue might be that there are a reasonable number of dependencies that we have hard dependencies on that need to be aligned across frameworks.

Misalignment will break the build

[2019-03-07 22:19] vorburger commented on #1333
Oh. But then sholdn't those be inherited transitively from somewhere anyway, instead of being fixed in the Quarkus BOM?

Perhaps if you (anyone) has a specific example of such a situation, we could have a closer look.

FYI Dependabot would never force merge any PRs which doesn't pass the build.

[2019-03-07 22:20] kenfinnigan commented on #1333
Netty is one example.

We need the same version across Vert.x, Undertow, RESTEasy, and Infinispan

[2019-03-07 22:23] vorburger commented on #1333
OK then after we activate Dependabot (if there are no other major cons) it's easy to "teach" it, one time only, about these cases ... for example, the first time it proposes a bump of Netty, you would comment "@dependabot ignore this dependency" and it will shut up (forever, AFAIK) about it. See e.g. https://github.com/vorburger/odlparent/pull/583 for an example - expand that "Dependabot commands

[2019-03-07 22:24] kenfinnigan commented on #1333
I've used Dependabot on projects before.

My concern is we need tighter control over all versions than just updating if CI passes

[2019-03-07 22:25] ludoch opened #1334 "question on how to change 127.0.0.1"
Hi,
Congrats on the launch... Any easy way to change Listening on: http://127.0.0.1:8080
to Listening on: http://0.0.0.0:8080 ?
or *:8080

[2019-03-07 22:32] vorburger commented on #1333
sure, so we would definitely never ever let it "auto-merge" - fine, granted. This "tighter control" you are referring to would simply happen in PR reviews (as for any change) - for some cases leading to "@dependabot ignore this dependency" (one time, only; initially), and in others to "thanks!" (and merge). Still seems very useful, no? :smile_cat: So such version bump PRs should be approved by who

[2019-03-07 22:44] gsmet commented on #1334
You can add this in your `application.properties`:
[code]

Or override it at runtime:
[code]

[2019-03-07 22:51] ludoch commented on #1334
Yep thank you!
http://latestquarkusio.openjdk11.appspot.com/hello/greeting/quarcus
working now...

[2019-03-07 22:51] #1334 closed

[2019-03-07 22:56] vorburger opened #1335 "Using Googe Error Prone for bug detection?"
How about using http://errorprone.info for this project?

I mean for quarkus' own dev, not to impose it upon its users.

EP can help find (and prevent regressions of) issues such as:
* #1331 String split
* #1327 getDeclaredConstructor().newInstance()
* #1329 resource stream leak
* #1328 use logger instead of printStackTrace()
* probably a bunch more, I just didn't get further, yet

Raising this is

[2019-03-07 23:15] vorburger commented on #1335
or we could do this the other way around? As in FIRST merge #1336, then gradually run builds (locally) with `-Perrorprone` and work (together?) through issues it finds, perhaps in some cases refining the proposed final EP configuration - and then when it fully passes switch to enforcement?

[2019-03-08 00:24] ludoch commented on #1334
But could it be changed to 0.0.0.0 by default?
I also see this quarkus.http.host=0.0.0.0 being setup in the Dockerfile, but it is extra configuration, hard to debug (at least I wasted 2 hours, and need to add some extra strings either in an application.properties file on in an entrypoint...

[2019-03-08 03:40] starksm64 opened #1337 "Invalid LogManager error of type FORMAT_FAILURE seen only in native image"
The using-jwt-rbac quickstart running under native mode is showing this error on the console when a request is made:

[code]
The JwtIdentityManager.verify(JwtIdentityManager.java:40) line in question here is:
https://github.com/quarkusio/quarkus/blob/dc387ea3a4cf4fd4973291002778018e4ef614ec/extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/JwtIdentityManager.java#L

[2019-03-08 05:58] dmlloyd commented on #1337
You may want to do a clean rebuild of the extension and then the test (or maybe just do a full `mvn clean && git clean -d -f && mvn install -Dno-native -DskipTests` to get a nice clean slate).  That code path should only be possible if there was a `%d` sequence in the log format string, which there is not.

[2019-03-08 06:02] michalszynkiewicz commented on #1317
IMO in some cases people may use the same interface for exposing and consuming.
An obvious example would be when doing a demo. But I can imagine someone may want to have some generic API that could be used like that in a production system.

The piece of code in question only registers classes as being available for reflection/proxying, right?
Do we have some estimates on the cost of registering a

[2019-03-08 06:11] kenfinnigan commented on #1317
Though it can be common for a single interface, you wouldn’t have the client and server in the same app?

Ideally we want to make the native image as small as we can. It’s not just that class, as we then register all the return types of methods on the interface as well

[2019-03-08 06:15] duduceolin commented on #1323
The problem i found was:
This dependency (com.oracle.substratevm...) is provided by jboss-logmanager-embedded.

In the line 230 on AugmentPhase.java there is a conditional that, in theory, will do like an "escape" of  this dependency. However, when the function calls getType to compare to "jar", getType is returning "jar"... and the conditional to escape is not executed because the comparation is

[2019-03-08 06:16] duduceolin commented on #1323
But the dependency is not a jar, it is an gzip and there is not any jar file inside.

[2019-03-08 06:16] michalszynkiewicz commented on #1317
I meant having the client and server in the same app

[2019-03-08 06:24] kenfinnigan commented on #1317
Not sure how realistic that would be.

Stephane also mentioned yesterday that we should discourage people from sharing interfaces between client and server because it ties the execution model of the server to the client. So if the resource used CompletionStage, then the client would have to as well

[2019-03-08 06:37] dmlloyd commented on #1335
Well we definitely don't want Guava.  Automated bug checkers are always a bit double-edged, and there's always another bug checker that finds more things or has different opinionation.  This includes IDE inspections BTW.

There's nothing stopping individuals from running checkers or inspections on their own and proposing the resultant fixes.

[2019-03-08 07:24] dmlloyd commented on #1334
That's an ongoing discussion.  There are reasons to keep the default as it is.  That's a good topic for the developers list though...

[2019-03-08 07:43] siamaksade commented on #1305
It would be valuable to add a quickstart for OpenShift similar to [getting-started-kubernetes](https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started-kubernetes) and with uberjar config enabled

[2019-03-08 07:43] metacosm commented on #588
If I understand correctly, the issue is figuring out how to best bundle and serve static files created by an external tool (angular-cli, etc.) from Quarkus? Maybe I'm missing something here but why use Quarkus in this scenario? If it's because the backend is also developed using Quarkus, wouldn't it make more sense to develop the projects separately (and even deploy them in different pods) anyway?

[2019-03-08 08:02] geoand commented on #1305
@siamaksade Good idea. What would you like to see in that guide?

[2019-03-08 08:26] cescoffier commented on #1305
The last section of the kubernetes guide covers OpenShift.

[2019-03-08 08:42] siamaksade commented on #1305
@geoand a quickstart like getting-started-openshift that possibly has also fabric8 in it and one can just run `mvn fabric8:deploy`, and that would create a build on OpenShift using the OpenJDK builder image and deploys the Quarkus app.

@cescoffier a guide is also would be great (https://github.com/quarkusio/quarkus/issues/1306). One wouldn't even find it currently on quarkus.io since item in the

[2019-03-08 08:45] geoand commented on #1305
If we agree that it is needed, I can definitely add it

[2019-03-08 09:03] emmanuelbernard commented on #1335
Right, my experience is that frameworks have a weird code patterns that don't cope well with such tools _generally_. So let's have someone interested test it for a few weeks and report on the false positives. We usually know what we are doing, but then so is Doug Lea form the website quote ;)

[2019-03-08 09:22] kenfinnigan commented on #1233
This was actually fixed by #1260

[2019-03-08 09:22] #1233 closed

[2019-03-08 09:23] kenfinnigan commented on #1017
Are you working on this @michalszynkiewicz?

Could you assign yourself if you are

[2019-03-08 09:37] jmartisk commented on #1303
I believe the right solution here is to stop duplicating logic from SmallRye Metrics and let `io.smallrye.metrics.interceptors.MetricInterceptor` perform the registration of metrics. Quarkus is basically trying to register the metrics by itself, and the logic for that is incomplete.

[2019-03-08 09:37] #508 closed

[2019-03-08 09:38] jmartisk commented on #1009
I believe the right solution here is to stop duplicating logic from SmallRye Metrics and let `io.smallrye.metrics.interceptors.MetricInterceptor` perform the registration of metrics. Quarkus is basically trying to register the metrics by itself, and the logic for that is both incomplete and incorrect. Sent a proposed fix in https://github.com/quarkusio/quarkus/pull/1338

[2019-03-08 09:45] jmartisk commented on #983
I believe the best solution would be for Quarkus to start using a `base.properties` file just like Thorntail does - https://github.com/thorntail/thorntail/blob/2.3.0.Final/fractions/microprofile/microprofile-metrics/src/main/resources/io/smallrye/metrics/base-metrics.properties - it contains definitions of the base metrics, which will be easier to maintain than the current logic which creates the

[2019-03-08 09:59] geoand commented on #1157
I opened an initial PR: https://github.com/JetBrains/kotlin/pull/2163

[2019-03-08 10:01] wojtask9 opened #1339 "question: netty vs undertow"
I would ask why with quarkus Netty was chosen instead of undertow?

[2019-03-08 10:50] asoldano commented on #1314
See https://issues.jboss.org/browse/RESTEASY-1538
Feel free to open up a new jira if this is relevant here.

[2019-03-08 11:21] vorburger commented on #1335
Just to make sure we don't run into a major misunderstanding because of one overall only very small point here: So using Googe Error Prone for bug detection DOES NOT REQUIRE to use Guava. ONLY [one (of many) particular check](https://errorprone.info/bugpattern/StringSplitter) suggested to use  (Guava's) `Splitter` instead of `String.split()` - that's all. If we agree _StringSplitter_ has value, bu

[2019-03-08 11:23] dmlloyd commented on #1333
It will definitely screw up our ecosystem plans.

[2019-03-08 11:27] dmlloyd commented on #1335
For now, if you want to run code checking tools locally and post fixes to identified problems, go ahead.  I don't think we want to pull in bug checkers though.  At least not at this time.

[2019-03-08 11:32] michalszynkiewicz commented on #1017
Done. And I'm back in Poland :)

[2019-03-08 11:39] vorburger commented on #1323
I guess that condition could be improved to check for... file extension (?) to make it also skip tar.gz .. do you want to try that out? But I'm not 100% sure that is the right solution - others will probably know more and may chime in here later.

[2019-03-08 12:01] vorburger commented on #1306
@siamaksade see also #304 for a prior discussion re. S2I building with `-Pnative` on OpenShift

[2019-03-08 12:30] siamaksade commented on #1306
We should probably separate the (1) S2I build on OpenJDK from (1) S2I build for a native binary. This issue is to track (1).  Will comment regarding (2) on #304

[2019-03-08 12:31] siamaksade commented on #304
Image size is very important for the S2I native build. [Chained builds](https://docs.openshift.com/container-platform/3.11/dev_guide/builds/advanced_build_operations.html#dev-guide-chaining-builds) might help with that a bit. One build produces the binary, the chained build lays it over a minimal image.

[2019-03-08 12:45] vorburger commented on #1305
@siamaksade @cescoffier OK so let's fix (or further discuss) that point over in https://github.com/quarkusio/quarkusio.github.io/pull/124 ...

But if we can get `oc new-app` to work (original issue here; I'll look more into it next), then we may not actually need a separate getting-started-openshift anymore, no?

@siamaksade @geoand I'm personally actually not sure if I am huge fan of `fabric8:dep

[2019-03-08 12:54] siamaksade commented on #1305
@vorburger sure. I understand your reluctance toward fabric8 :)

[2019-03-08 13:12] vorburger opened #1344 "quarkus-maven-plugin uberJar configuration knob should be clearly documented"
In https://github.com/quarkusio/quarkus/issues/1305, @stuartwdouglas proposed using `quarkus-maven-plugin`'s configuration knob `uberJar`, in response to an OpenShift S2I related problem from @siamaksade  (which is not the point of this issue):

I do not know what that option is for, can't find it mentioned on the site in the docs, and [its Mojo source code has no documentation](https://github.com

[2019-03-08 13:20] vorburger commented on #1305
@stuartwdouglas @cescoffier see #1344 ...

I can see two solutions forward: a) I could do what's needed in the S2I Builder image to make it pick the (bigger) runner.jar over the (smaller) other normal JAR; or b) we could make the `quarkus-maven-plugin` produce only a single JAR? (Or do that `jar.original` rename thing but without bloating the runner JAR.)

Doing b) may be quicker, and would have t

[2019-03-08 13:22] vorburger commented on #304
This issue is now about *Native* image S2I build support; #1306 is about non-native Java S2I building.

[2019-03-08 13:23] vorburger commented on #1306
Sounds like a plan! I've updated the title of #304 accordingly (perhaps you'd like to do the same here and update the title of this issue with a "(non-native)" suffix).

[2019-03-08 13:27] siamaksade commented on #1305
(b) is preferable IMHO for reasons you mentioned. S2I builder image just sees 2 jars files and any heuristic for picking one would end up being the wrong choice for other use-cases.

[2019-03-08 13:33] geoand commented on #1305
I opened a PR for b) - let's see what people think

[2019-03-08 13:41] geoand commented on #1344
The non uberjar is small because it does not contain the dependencies. If you however look at the `lib` directory you will see them :)

[2019-03-08 13:45] cescoffier commented on #1305
Didn’t read everything, but if we could about the fat jar in a container that would be great...

[2019-03-08 13:46] cescoffier commented on #1305
Can’t we have a builder that just take the regular runner and copy the libs?

[2019-03-08 13:47] cescoffier commented on #1344
As said in another issue, I would prefer avoiding using a fat jar in a container

[2019-03-08 13:49] geoand commented on #1344
#1345 proposes an update to only have a single file with the `.jar` suffix (same thing we do for uberJar basically)

[2019-03-08 14:47] vorburger commented on #1344
Duh! OK now (after having had a look at the `MANIFEST.MF` ..) I fully understand what we are doing here ... sorry I'm a little slow! :smile: I I'll raise a PR proposing adding some documentation about how this works - OK as JavaDoc, or better elsewhere? That will wrap up this issue.

[2019-03-08 14:48] vorburger commented on #1305
can you elaborate a little bit on why?  I trust you have good reasons - I'd love to learn about them!

we could, but that requires work in the S2I base image(s; several!), they probably won't know that they have to copy lib/ ... it's doable, but what's the "justification" ? Using `uberJar` for producing a FAT JAR may be the best solution after all, for the short term. (And sorry for the back and f

[2019-03-08 14:49] dashorst opened #1347 "Support plural and singular form for add-extension(s) -Dextension(s)"
I tried to add the quarkus-resteasy-jsonb extension to process JSON, but the command fails to add the extension.

[code]

It claims to be successful, but examining the POM shows that the dependency was not added. Adding the dependency manually makes my actual problem go away, but I figured the add-extension command should work normally without manually adding extensions.

[2019-03-08 14:52] cescoffier commented on #1305
A docker container is already your packaging unit, creating another packaging unit in it is just looking for bad performances at startup time.

In addition, we are creating a huge top layer and every update is going to resync the whole "fat" layer, which we would avoid with using the runner (as it's only your application code and resources).

[2019-03-08 14:53] geoand commented on #1344
No worries it's new stuff :)

Not sure about the JavaDoc thing, better let others comment :)

[2019-03-08 14:56] gsmet commented on #1347
Hi @dashorst ,

Funny to see you here after all this time (I used Wicket a lot back in the time!).

So it's supposed to be `-Dextensions=` with an **s**. I checked the doc here https://quarkus.io/guides/maven-tooling and it seems to be OK. Did you see the singular form somewhere?

We probably should throw an error if `extensions` is not defined. Or maybe we could also support the singular form?

@

[2019-03-08 14:57] cescoffier commented on #1347
`-Dextensions` (plural as you can pass a comma-separated list of extension).

However, keep this issue open as an error message should be printed, and the build failed.

[2019-03-08 14:57] cescoffier commented on #1347
Damn @gsmet you'are too fast :-D

[2019-03-08 14:59] gsmet commented on #1339
We use both depending on the context.

Undertow is used to serve the HTTP requests when using REST services for instance. We have an extension here: https://github.com/quarkusio/quarkus/tree/master/extensions/undertow (and its websockets counterpart).

[2019-03-08 15:11] hpehl opened #1349 "Extension to view the values configured by MicroProfile config in development mode"
Integrate the [config extension](https://github.com/hpehl/quarkus-config-extension) into Quarkus. Can come handy in both dev and production mode.

[2019-03-08 15:20] #1298 closed

[2019-03-08 15:21] #1309 closed

[2019-03-08 15:36] emmanuelbernard commented on #1349
I was thinking of dev mode only actually to avoid some security disaster.

[2019-03-08 15:47] hpehl commented on #1349
Yes, makes sense to me. We could make it part of the configuration: Default would be enabled in devmode, disabled in production mode.

[2019-03-08 16:22] vorburger commented on #1305
https://github.com/quarkusio/quarkus-quickstarts/pull/81 now has a working (tested) proposed first version! That is still based on <uberJar>true. I'll document that now, and then separately and incrementally see if I can apply the idea from @gastaldi mentioned in #1345 to incrementally improve it.

[2019-03-08 16:25] emmanuelbernard commented on #1349
We hate configuration toggles. They complicate the user experience. You really need an important reason to bring one in. What usage flow would not work if we  were not allowing this to be seen in PROD mode?

[2019-03-08 16:36] gsmet opened #1352 "Add new guides to guides.md on the website"
On next sync, we need to add the new guides to `guides.md`:
- fault tolerance
- ...

[2019-03-08 16:38] gsmet commented on #1352
Closing, we will do it another way.

[2019-03-08 16:38] #1352 closed

[2019-03-08 16:45] vorburger commented on #1306
@siamaksade https://github.com/quarkusio/quarkus/pull/1353 and https://github.com/quarkusio/quarkusio.github.io/pull/126, based on the new https://github.com/quarkusio/quarkus-quickstarts/pull/81, will provide this documentation.

[2019-03-08 16:45] hpehl commented on #1349
Agreed, no toggles. I've updated the config extension to only work in development mode:
https://github.com/hpehl/quarkus-config-extension/commit/3530c88c908288c530f82047b8150741f2c9e152

[2019-03-08 17:29] geoand opened #1354 "Can't see debug logs in terminal"
I pulled the following configuration from the logging guide:

[code]

But when I apply it, I don't see any debug logs in the console, it's looks something like this:

[code]

Is there something wrong with example or is there a bug in Quarkus perhaps?

[2019-03-08 17:58] sebastienblanc commented on #1163
@starksm64 Hi Scott ! Is there any (even dirty :) ) workaround for this right now ? I would like to demo this in 10 days at a conference and it would be nice if I could show the native image working as well. Thx !

[2019-03-08 18:01] emmanuelbernard commented on #588
What you describe is a valid and clean architecture.
But for the not quite full on microservices person, an all in one app with quarkus:dev experience is really cool.

[2019-03-08 18:02] emmanuelbernard commented on #588
Editing a UI screen + a Hibernate entity, REST endpoint hit save and look is what I'm looking for.

[2019-03-08 18:05] vorburger commented on #1344
Closing this issue - too lazy to contribute doc; what `uberJar` does is actually pretty obvious.

[2019-03-08 18:05] #1344 closed

[2019-03-08 18:20] machi1990 commented on #745
Hi @gsmet, the link is not longer available.

[2019-03-08 18:28] starksm64 commented on #1163
I'll push my local changes to my quarkus fork so that you could take and build that for a demo in the interim. I'll post another comment here when it is pushed.

[2019-03-08 18:29] gsmet commented on #745
@machi1990 fixed!

[2019-03-08 18:35] starksm64 commented on #1354
I'm seeing DEBUG msgs in the console using this META-INF/microprofile-config.properties file:

[code]
Example output:

[code]

[2019-03-08 18:37] geoand commented on #1354
I was using `application.properties` so I'll have to retry with mp config and see what happens

[2019-03-08 18:53] machi1990 commented on #745
Great, let me check the link and see if I can take this as my good-first issue.

[2019-03-08 18:54] luszczynski opened #1355 "Swagger integration"
Swagger annotations [1] and swagger-ui are supported for API doc? Is there any plan for this feature?

[1] https://github.com/swagger-api/swagger-core/wiki/Annotations-1.5.X

[2019-03-08 19:08] emmanuelbernard opened #1356 "Should we rename the getting started guide from native image to native executable?"
We said we wanted to say native executable to differentiate from a docker image.
But the getting started use the old terminology which seems to confuse windows users.
https://twitter.com/riduidel/status/1104048284207861760

[2019-03-08 19:11] emmanuelbernard opened #1357 "io.quarkus:quarkus-maven-plugin:0.11.0:create still generates a microprofile-config.properties"
[code]

ls getting-started/src/main/resources/META-INF/microprofile-config.properties

[2019-03-08 19:11] emmanuelbernard commented on #1357
Maybe gradle and CLI are affected.

[2019-03-08 19:13] gsmet commented on #1357
It has already been fixed here: https://github.com/quarkusio/quarkus/pull/1313 .

[2019-03-08 19:17] emmanuelbernard commented on #1357
ah damn, I *searched* for it but the search excluded PRs. I hate that we don't open issues every time.

[2019-03-08 19:17] spolti commented on #1354
Using the microprofile properties file I can see the log messages as expected.

My file:
[code]

Works as expected, same properties using command line, but with the properties file removed:

[code]
got only INFO Messages on console and file.

Wouldn't both options produce the same result?

[2019-03-08 19:17] emmanuelbernard commented on #1357
@gsmet so we can close it I guess right?

[2019-03-08 19:18] gsmet commented on #1357
Yes, I think so.

[2019-03-08 19:18] #1357 closed

[2019-03-08 19:25] dashorst commented on #1347
Well, probably what threw me off is that the command is called `add-extension`, the singular, not the plural. Instead of copy/pasting from the website I just typed it in, and then I assumed a symmetry between the command and the parameter. Quite illogically I guess?

[2019-03-08 19:30] geoand commented on #1354
OK, now I understand the problem with my configuration...
I clearly misunderstood what `quarkus.log.console.level` does. And honestly it makes absolute sense now that I read the guide properly!

And it worked properly for both `application.properties` and `META-INF/microprofile-config.properties` so I am going to go ahead and close this

[2019-03-08 19:30] #1354 closed

[2019-03-08 19:43] starksm64 commented on #1163
I have pushed my changes to a new public repo on the iss1163 branch:
https://github.com/starksm64/quarkus/tree/iss1163

With that, the using-jwt-rbac quickstart integration tests run under native mode, although there are a couple of fixes in that as well. One is a bug in the testHelloDenyAll() test a wrong annotation on the associated endpoint.

The other is that in native mode, the LottoNumbersRe

[2019-03-08 21:32] sebastienblanc commented on #1163
@starksm64 Thanks ! I will give it a try tomorrow !

[2019-03-08 23:02] #1224 closed

[2019-03-08 23:25] danielpetisme commented on #1355
Have a look to
https://github.com/danielpetisme/jhipster-sample-app-quarkus

I've added the following dependencies to the `pom.xml` and it scans your resource to build the Open API specs.
[code]

Once done got to http://localhost:8080/openapi.json and you'll find your API description.

If you want swagger-ui too, copy the content of https://github.com/swagger-api/swagger-ui/tree/master/dist into y

[2019-03-09 00:17] starksm64 commented on #1337
I did the completely clean rebuild, and now the error is:

[code]

and this happens on the first request only, but every-time in the native image, but never in the jvm image. The real issue is some class cast exception in the native image during the to string call on the `org.wildfly.security.auth.server.SecurityIdentity` object. I guess this is in reality some missing class reflection issue?

[2019-03-09 00:27] LightGuard opened #1360 "The current background makes it difficult to read the white text"

[2019-03-09 00:27] #1360 closed

[2019-03-09 01:15] dmlloyd commented on #1337
I don't see how it could be reflection; also that line (assuming I'm looking at the correct version) doesn't correspond to any cast.  What version of jose4j are you looking at?

[2019-03-09 06:12] kunickiaj commented on #1323
Is there any workaround for this?

[2019-03-09 09:19] cescoffier commented on #1355
Hello Daniel, Can you tell us more about the jhipster part (seem that you
use JHipser).

Also, note that Quarkus supports OpenAPI.

Le sam. 9 mars 2019 à 00:25, Daniel PETISME <notifications@github.com> a
écrit :

[2019-03-09 09:29] cescoffier commented on #1356
Agreed, need to be renamed.

[2019-03-09 09:31] cescoffier commented on #1347
From the usability perspective I guess we need to:

* support the singular form
* if neither the singular and plural forms are set; throw an error

[2019-03-09 09:32] cescoffier commented on #1333
I love dependabot, but for quarkus it can be pretty dangerous. We have lots of "tricky" dependency where updates need to be coordinated.

[2019-03-09 09:33] gsmet commented on #1347
@cescoffier yeah and maybe we should also have `add-extensions` as an alias to `add-extension`. @dashorst definitely has a point on the consistency between the command and the option.

[2019-03-09 09:34] cescoffier commented on #1347
Agreed about the alias.

[2019-03-09 09:49] cescoffier commented on #1347
@gsmet if you wonder why I removed the "..." it's because of the release script.

[2019-03-09 09:50] #1339 closed

[2019-03-09 10:06] johnaohara opened #1363 "dev mode logger messages are swallowed and not written to console"
A reproducer is here: https://github.com/johnaohara/logMessageSwallowing

If there are exceptions during a build step when running `mvn compile quarkus:dev`, the maven process completes without displaying the build error to the console, and dev mode fails to start.

The error logged here https://github.com/quarkusio/quarkus/blob/master/core/devmode/src/main/java/io/quarkus/dev/DevModeMain.java#L11

[2019-03-09 10:42] machi1990 commented on #745
Hey @gsmet, I checked out the link and seem to have a slightly idea of whats need to be done. Before proceeding further, I wanted to create a draft PR so that you could check and tell me what you about the approach. My general idea [is](https://github.com/machi1990/quarkus/commit/2fee0fdcedaa01b72ddad3e49f14afff649f1f77):
- Scan for SCHEMA annotation,
- For each annotation, look for implementation

[2019-03-09 10:45] sebastienblanc commented on #1163
@starksm64 Works perfectly !

[2019-03-09 11:24] gsmet commented on #745
@machi1990 good work, you're on the right track.

I added some comments on your commit here: https://github.com/machi1990/quarkus/commit/2fee0fdcedaa01b72ddad3e49f14afff649f1f77 .

HTH.

[2019-03-09 11:29] gsmet commented on #1323
I think the SubstrateVM dependency should be a provided one.

Let's fix that for the next version that should come very soon.

[2019-03-09 12:51] dashorst commented on #1347
👍 🥇

[2019-03-09 15:57] danielpetisme commented on #1355
I'm used to use the JHipster Sample App as a "petclinic/todo" app, a kind of comparison tool.
I know the basecode almost by heart, I can easily compare spring approaches/snippets (data, web, configuration, security, testing, DI, etc.) to any thing else (quarkus here).

@cescoffier I'm sure you have an secret idea 😃

Do you have any pointer to quarkus OpenAPI support I'm looking for a more "out of

[2019-03-09 16:03] jclingan opened #1366 "Need Native binary naming convention"
When building a native binary image via (-Pnative or -Pnative -Dnative-image.docker-build=true), both output the same name.  WIth both native binaries having the same name, there is no visual indicator what underlying platform the binary is compiled for. In addition, a subsequent "docker/container" will overwrite a prior native mac build or vice versa, which is just a pain.

Can we change the defa

[2019-03-09 16:21] burrsutter commented on #1366
Another gotcha of having the same name is that it makes it easy to accidentally load in the Mac executable into your docker container image, which won't run in Kubernetes.  I say this from experience :-)

[2019-03-09 16:36] danielpetisme opened #1367 "Hibernate ORM Panache for Testing"
When I try to use the Panache operations in Test methods I have an unexpected behavior. So far, I didn't figured out how to fix it.

Reproducers:
I've forked the quarkus-quickstarts and simply invoked the `count()` method`
https://github.com/danielpetisme/quarkus-quickstarts/blob/reproducer/hibernate-orm-panache-resteasy/src/test/java/FruitsEndpointTest.java#L15

The test fails with `javax.enterpr

[2019-03-09 16:53] cescoffier commented on #1355
@kenfinnigan may be able to give more details on the openapi extension (https://github.com/quarkusio/quarkus/tree/master/extensions/smallrye-openapi). Unfortunately, not yet documented.

[2019-03-09 17:03] danielpetisme opened #1368 "Returning Optional for single result find Panache operations"
Given a custom Entity extending PanacheEntity, for operations returning a single result, it would nice propose an additional method returning `java.util.Optional`.
The aim here is clearly to build null-safe method chains.
A naive approach would be to add a method like.
` public static Optional<T extends PanacheEntityBase>> findById(Object id)`.

The issue is that without an explicit affectation, t

[2019-03-09 18:36] davinkevin commented on #1314
From the Kotlin point of view, this is very sad because we have to use `lateinit var` which is a bad practice

[2019-03-09 18:39] geoand commented on #1314
Indeed. Hopefully it will be fixed in RESTEasy soon enough and then we can reap the benefits 😁

[2019-03-09 18:51] davinkevin commented on #1314
I've fixed it by using the Kotlin `no-args` plugin: https://t.co/MFkh3BG8vr

But yeah, would be good to live without it 👍

[2019-03-09 19:17] dmlloyd commented on #1366
We might also want to consider taking out the version and `runner` segments as well.

[2019-03-09 21:23] machi1990 commented on #745
@gsmet  I have incorporated your suggestions and opened a [PR](https://github.com/machi1990/quarkus/pull/1) agains my fork.

[2019-03-10 09:08] dansiviter opened #1371 "Resources defaulting to ApplicationScoped"
Quarkus Version: 0.11.0
Maven Version: 3.6.0
Java Version: 1.8.0_191

It appears on build that JAX-RS resources are defaulting to `@ApplicationScope`. e.g.:

[code]
Is resulting in a message:
[code]

However, ReSTEasy states:

<sup>See [here](http://docs.jboss.org/resteasy/docs/3.6.3.Final/userguide/html_single/index.html#d4e2782).</sup>

Also, there is also a question regarding "unrecommended usa

[2019-03-10 09:13] dansiviter opened #1372 "Permit Launching Directly in IDE"
As it stands, the maven plugin generates a `io.quarkus.runner.GeneratedMain` which `io.quarkus.runtime.Quarkus` calls.  Unfortunately, this means the `main(...)` class cannot be called directly within the IDE so does not get any of the benefit of debugging and profiling.

The only way to debug is to run via Maven and remote attach which is onerous.

Moved from quarkusio/quarkus-quickstarts#84.

[2019-03-10 09:14] dansiviter opened #1373 "Injecting using 'javax.inject.Provider' into JAX-RS Resource fails build"
Quarkus Version: 0.11.0
Maven Version: 3.6.0
Java Version: 1.8.0_191

While using `io.quarkus:quarkus-smallrye-jwt` and performing the following:

[code]

The build fails with:
[code]

**Workaround**
Use `javax.enterprise.inject.Instance`.

Moved from quarkusio/quarkus-quickstarts#85.

[2019-03-10 09:46] jnizet opened #1374 "Gradle + Kotlin: failure to run or build"
I've tried setting up a minimal project with Gradle  (5.2.1) and Kotlin (1.3.21) and of course Quarkus (0.11.0), but it failed with many issues.

The complete project is available at https://github.com/jnizet/quarkustest

Here are the various issues I faced during this experiment.

First, the guide about Gradle promotes quite discouraged practices, like applying plugins imperatively rather than us

[2019-03-10 10:20] johnaohara commented on #1363
PR opened: https://github.com/quarkusio/quarkus/pull/1375

[2019-03-10 10:22] tqvarnst commented on #1366
As a workaround (but still using -runner) you can set the configuration `<finalName>` in the quarkus-maven-plugin. What I do is typically create a second profile called `native-linux` like this:

[code]

Then I can build mac os binaries with `mvn package -Pnative` and linux binaries with `mvn package -Pnative-linux`

[2019-03-10 10:46] masini opened #1376 "Hibernate Panache and Entity lifecycle"
[code]

When the method finish and transaction is commit  I query the DB and found that language is Java and not C_Sharp as expected.

[2019-03-10 11:57] vorburger commented on #1323
@gsmet will you open an issue for that somewhere? (I had a [only very] quick look at https://github.com/jboss-logging but am too dumb to understand where `jboss-logmanager-embedded` is / gets produced.)

Now that we understand that the dependency is wrong (SubstrateVM should be provided, but isn't, yet), IMHO implementing a check to skip tar.gz (or any non.jar) extensions actually seems like a goo

[2019-03-10 12:54] renannprado commented on #1374
I've debugged the `KotlinCompilationProvider` class and found out that this is the cause of the `Unable to invoke Kotlin compiler` error.

I'm trying to figure out how to fix it.

[code]

[2019-03-10 13:24] rsvoboda opened #1378 "Log messages are barely visible in on white background"
Log messages are barely visible in macOS native terminal

<img width="1046" alt="Screenshot 2019-03-10 at 14 20 02" src="https://user-images.githubusercontent.com/925259/54085572-ef66c080-433f-11e9-9f4b-cad827563404.png">

Workaround is to use alternative terminal - e.g. https://www.iterm2.com/

[2019-03-10 13:29] jnizet commented on #1374
I've submitted the PR https://github.com/quarkusio/quarkusio.github.io/pull/135 to improve the Gradle guide.

[2019-03-10 13:49] geoand commented on #1374
That NoClassDefFound is very weird..

@jnizet @renannprado Do you have the final Gradle config that causes the problem?

[2019-03-10 14:07] cescoffier commented on #1378
Like the web site, dark mode only :-)

[2019-03-10 14:07] renannprado commented on #1374
Here's output of `dependencies` task, I didn't compare with maven though.

[dependencies.txt](https://github.com/quarkusio/quarkus/files/2949540/dependencies.txt)

[2019-03-10 14:11] geoand commented on #1374
@renannprado Thanks! Do you have a Gradle project that you could include so I can debug use locally and debug?

[2019-03-10 14:25] jnizet commented on #1374
@geoand A complete project reproducing the issue is available at https://github.com/jnizet/quarkustest

[2019-03-10 14:32] geoand commented on #1374
@jnizet Thanks! I will check it out in a few hours

[2019-03-10 14:34] rsvoboda commented on #1378
Lol, like dark mode (side?) of the Force :)

WildFly works nicely in both terminals. So there will be some tricks to make the output nice for light mode.

<img width="1304" alt="Screenshot 2019-03-10 at 15 27 58" src="https://user-images.githubusercontent.com/925259/54086411-6fddef00-4349-11e9-8938-35705e46f516.png">

[2019-03-10 14:44] renannprado commented on #1374
@geoand I was using @jnizet's setup as well

[2019-03-10 16:53] geoand commented on #1374
First of all it was weird that the compilation was being triggered even for the first request.
I fixed that problem by setting:

[code]

Now the compilation problem obviously remains and I'll continue to look into it

[2019-03-10 18:38] geoand commented on #1374
I was able to get this work by adding the following dependencies:

[code]

It seems like for some reason the process that creates the devjar does not resolve the correct classpath when launched via the Gradle plugin - cc @aloubyansky.

The fact that there is work actively being done for bootstrapping makes me reluctant to dig into this more. It's probably best that we reexamine this once that work

[2019-03-10 18:51] starksm64 commented on #1337
The version is 0.6.0, and line 248 cannot generate a CCE, so it must be the type.cast call, but then the exception seen should have been a  MalformedClaimException:

[code]

[2019-03-10 19:19] dmlloyd commented on #1323
IIRC the next GraalVM release (rc14?) will not include the non-JAR transitives.  Maybe in that light, an exclusion could suffice for now.

[2019-03-10 19:21] dmlloyd commented on #1323
The dependency is a compile dep; it directly uses SVM APIs so I think making it provided is incorrect.

[2019-03-10 19:23] dmlloyd commented on #1378
There will be light and dark mode options in an upcoming release.

[2019-03-10 19:32] starksm64 commented on #1337
I went into the ElytronJwtCallerPrincipal#getAudience code making the call to JwtClaims#getClaimValue and updated the exception it is catching from MalformedClaimException  to Exception to avoid the leak out of toString(), and it is definitely seeing a CCE coming from line 248. There has to be some merging of the lookup and the type.cast calls in the native image that is not correctly mapping the

[2019-03-10 19:32] #1337 closed

[2019-03-10 19:33] renannprado commented on #1374
@geoand do you know anything about the `native-image.properties` file not found error?
Both `quarkus-native` and `quarkus-build` tasks are failing.

[2019-03-10 19:50] geoand commented on #1374
@renannprado I do not unfortunately, I haven't had time to look into that yet, but hopefully I will soon enough.

[2019-03-10 23:31] geoand commented on #1374
@renannprado @jnizet  setting `setOutputDirectory("build/classes/kotlin/main")` also fixes the issue with `native-image.properties` issue.
However in order for `quarkus-build` to work, it is `mandatory` to specific the version on the quarkus deps (even though the issue uses a BOM) and make those quarkus deps `compileOnly`

[2019-03-10 23:39] geoand opened #1381 "When import the BOM with Gradle, Quarkus dependencies are not properly resolved"
When importing the Quarkus BOM via gradle like is shown in https://github.com/quarkusio/quarkusio.github.io/pull/135 (implementation(platform("io.quarkus:quarkus-bom:0.11.0"))) then `ResolvedGradleArtifactDeps#extractDependencies` does properly extract the app dependencies unless they have their version set (which shouldn't be the case when using the BOM).

This is because in `ResolvedGradleArtifa

[2019-03-10 23:42] renannprado commented on #1374
@geoand I've tried to put the version in all quarkus dependencies and run `build-native` and move to `compileOnly`, still it doesn't work. Would you share your working example?

Could it be it's trying to open the `tar,gz` file as it was a `zip`?

TL;DR:

```Caused by: java.lang.RuntimeException: Error opening zip stream from artifact: /home/user/.gradle/caches/modules-2/files-2.1/com.oracle.subst

[2019-03-11 00:18] geoand commented on #1374
@renannprado Yeah, I got the same error as well and to be honest I though it was a corrupted cache on my machine - obviously with this happening to you as well that's not the case.
But at least that error happens much further down in the process.
I am not sure what the problem is but I'll look into it soon I hope.

[2019-03-11 00:41] geoand commented on #1374
One more step down the rabbit hole is to add:
[code]

and make all quarkus deps exclude the svm dependency like so:

[code]

I saw another problem after that but I'm not sure it's just me or if it's a general problem

[2019-03-11 04:33] smmansoor opened #1382 "Why quarkus does not generate basic k8s deployment file"
Quarkus template project generate docker file, but does not generate kubernetes deployment file. Helidon does it for you.

[2019-03-11 04:34] smmansoor commented on #1382
Quarkus template project generate docker file, but does not generate kubernetes deployment file. Helidon does it for you.

[2019-03-11 07:30] enbohm opened #1384 "Using @Timed with quarkus-smallrye-metrics fails"
I'm using the simple getting started application at https://quarkus.io/guides/getting-started-guide and added a dependency on **quarkus-smallrye-metrics** and added two annoations, ```@Counted``` and ```@Timed```on the greering-method.

[code]

The following annotation ```@Timed``` does seem to crash the applicationand when I try to access ```/hello/greeting/johndoe``` the requst fails with a HTTP

[2019-03-11 08:42] cescoffier commented on #1382
We could provide a template but what would be the advantages over the instructions we are giving in https://quarkus.io/guides/kubernetes-guide.html?

Also, can you upload the template generated by Helidon?

[2019-03-11 08:53] cescoffier commented on #1382
I've found an example of generated template:
https://github.com/oracle/helidon/blob/master/examples/quickstarts/helidon-quickstart-se/src/main/k8s/app.yaml

[2019-03-11 09:08] mkouba commented on #1384
This issue duplicates https://github.com/quarkusio/quarkus/issues/1009

[2019-03-11 09:08] #1384 closed

[2019-03-11 09:24] oscerd opened #1385 "Camel Integration tests: Both camel-core and camel-salesforce Integration test don't compile"
Probably because both of them are commented in the modules section of the Integration tests POM.

[2019-03-11 09:27] oscerd commented on #1385
The correct package for CamelRuntime is `io.quarkus.camel.core.runtime` while in the tests it is used `io.quarkus.camel.runtime`

[2019-03-11 10:11] vorburger commented on #1335
IMHO doing this only makes sense if there is agreement that we do want to activate enforcement at least eventually. If there isn't, then this remains a one time exercise and over time new problems creep back in.

To make it easier to run code checking tools locally and gradually post most fixes such as #1329 #1327 #1328 and test it for a few weeks and tune the configuration on possible false posit

[2019-03-11 10:56] emmanuelbernard opened #1387 "Describe in the native guide how to set memory usage for GraalVM executables"
I don't think we describe how to set and override memory usage for GraalVM executables. I see some people starting to do benchmarks and that'll be detrimental.

[2019-03-11 11:33] gsmet commented on #1371
I can confirm we decided to make JAX-RS resources application scoped by default, it's not a bug. We took some liberty from the specs in general to try to choose the best defaults. It should probably be mentioned in our guides if not already, I'll check.

About your second question: if your property is package private, we can inject it directly without requiring any reflection. That's why we recomm

[2019-03-11 11:35] geoand commented on #1371
@gsmet Yeah, that makes perfect sense, I'll go ahead and add one

[2019-03-11 11:38] gsmet commented on #1373
@mkouba could you take a look to this one?

[2019-03-11 12:07] geoand commented on #1371
SO question and answer added: https://stackoverflow.com/questions/55101095/why-does-quarkus-warn-me-about-injection-in-private-fields/55101248

[2019-03-11 12:23] #1347 closed

[2019-03-11 12:29] gsmet opened #1388 "Expose kafka-client in extensions.json"
I refrained from doing so, thinking it was more like a low level library but it probably makes sense to expose it as we expose the JDBC drivers.

See the thread [quarkus-dev] Help me debugging a native image creation with Kafka Client on quarkus-dev.

[2019-03-11 12:32] gsmet commented on #1381
@stalep could you take a look at this one? Thanks.

[2019-03-11 12:33] kenfinnigan commented on #1355
Quarkus currently includes SmallRye OpenAPI as an extension.

Just add `quarkus-smallrye-openapi` as a `pom.xml` dependency and you will get an endpoint on `/openapi` with all the information.

Not sure if OpenAPI has an equivalent to the Swagger UI or not. We could look at something like that for dev mode

[2019-03-11 13:05] geoand commented on #1387
Will we be able at some point to publish the code for the benchmarks we used?

[2019-03-11 13:07] geoand commented on #1382
@smmansoor We have an interesting as work in progress for this: https://github.com/quarkusio/quarkus/pull/1300

With the proposed [ap4k](https://github.com/ap4k/ap4k) extension you will able to do a lot than just generate a Kubernetes file from a template :wink:

[2019-03-11 13:13] johnaohara commented on #1387
We should be able to publish some of the applications we used to measure bootstrap performance, the repos will need some cleaning up.  We can not publish the "real" application the we used to measure throughput, but are working on an alternative application that we can release

[2019-03-11 13:20] dansiviter commented on #1371
Thanks for the clarification.

Regarding performance differences, do you have any rough figures around what that would be? This would help justify trading performance for encapsulation.

[2019-03-11 13:23] gsmet commented on #1323
@dmlloyd would it be OK for you to exclude all the dependencies of `com.oracle.substratevm.svm`? That's what we do in our BOM:
https://github.com/quarkusio/quarkus/blob/master/bom/pom.xml#L1070

[2019-03-11 13:32] emmanuelbernard opened #1390 "Add odo watch + quarkus:dev live reload support as one mode of the S2I"
In Quarkus, we have an integrated live reload model that listens to resources (like config files) and .class changes.
When someone hits refresh in the browser, Quarkus checks if any file has changed and restart the app
(not the JVM).
It’s fast enough (less than .5 to 1s for a reasonable size app).
So for Quarkus we do need of odo watch to rsync specific directories so that Quarkus’s live reload th

[2019-03-11 13:55] stalep commented on #1323
@vorburger sorry, i didn't see this until now.... seems like you know more about this now than i do :)
im finishing up something else today and then ill go back look at this asap!

[2019-03-11 13:57] dmlloyd commented on #1323
Sure I can add the exclusions.  We might have to do the same for a couple other projects too though.

[2019-03-11 14:09] mkouba commented on #1373
That's very likely a bug. @dansiviter could you pls try to replace `Provider<JsonWebToken>` with `javax.enterprise.inject.Instance<JsonWebToken>`?

[2019-03-11 14:11] starksm64 commented on #1373
@mkouba He did say that using Instance vs Provider did work.

[2019-03-11 14:12] cescoffier commented on #1390
Isn't `odo` tied to OpenShift. What about something working with "bare" Kubernetes too?

[2019-03-11 14:14] mkouba commented on #1373
Ah, sure. So I know where the problem is.

[2019-03-11 14:24] geoand commented on #1390
Currently `odo` is tied to Openshift yes

[2019-03-11 14:27] geoand commented on #1323
Awesome, I had ran into this as well as part of #1374 so great to the PR~

[2019-03-11 14:27] gastaldi opened #1392 "Managed JAX-RS @Provider beans are not being registered in Resteasy"
The getConverter method is never called when having a managed bean as defined below:

[code]

[2019-03-11 14:27] geoand commented on #1374
OK so it seems like tha native-image failure will be fixed by #1391

[2019-03-11 14:49] johnaohara opened #1393 "dev mode logging is not configurable"
Logging for quarkus:dev mode is not configurable. Users should be able to define logging configuration via application.properties files

[2019-03-11 14:50] johnaohara commented on #1363
Logging for dev mode is not configurable. Tracking issue: https://github.com/quarkusio/quarkus/issues/1393

[2019-03-11 14:50] #1363 closed

[2019-03-11 14:53] renannprado commented on #1374
@geoand with this fix we will still need all the stuff we discussed so far + upgrading quarkus dependencies? or there something else we will be able to avoid?

[2019-03-11 14:56] geoand commented on #1374
@renannprado No, it will only fix the `Error opening zip stream from artifact` error, everything else we have discussed still applies

[2019-03-11 14:56] emmanuelbernard commented on #1390
I don't know if there is an accepted `watch` model in Kubernetes atm. CC @kadel

[2019-03-11 14:59] gsmet commented on #1371
Not really, it was more a general guidance of the project to try to avoid reflection as much as possible.

[2019-03-11 15:14] vorburger commented on #1374
@renannprado @geoand FYI Gradle QuickStart (with Java, not Kotlin) in https://github.com/quarkusio/quarkus-quickstarts/issues/75 ...

[2019-03-11 15:19] Sanne opened #1394 "Duplicate JAXB artifacts"
When building Quarkus, specifically while wathing module `quarkus-integration-test-main` one can see this warning being logged:

    Duplicate entry javax/xml/bind/util/Messages.properties entry from javax.xml.bind:jaxb-api::jar:2.3.1(provided) will be ignored. Existing file was provided by org.jboss.spec.javax.xml.bind:jboss-jaxb-api_2.3_spec::jar:1.0.1.Final(compile)

So looks like we're bringin

[2019-03-11 15:22] gastaldi commented on #1392
It looks like it only happens when you have an injected field:
[code]

If I remove the `@Inject` annotation, the converter is called

[2019-03-11 15:31] #1356 closed

[2019-03-11 15:33] dmlloyd commented on #956
My current hypothesis is that it's related to the order in which the config values appear in the iteration.  But that's only a circumstantial observation.

[2019-03-11 15:33] #1323 closed

[2019-03-11 15:34] vorburger commented on #1323
I've tested #1391 and can confirm that it fixes this, so this issue can be closed when #1391 is merged.

[2019-03-11 15:36] #1385 closed

[2019-03-11 15:39] vorburger opened #1396 "Integration Test for Gradle?"
Given #1323, I was wondering if you would welcome an Integration Test for the Gradle Plugin stuff?

Basically there could be something like what I'll propose over in https://github.com/quarkusio/quarkus-quickstarts/issues/75 but in this main core repo, with "something" that launches it (either just a `exec-maven-plugin`, or Ant in POM, or a [via Java Code using the Gradle Wrapper](https://github.c

[2019-03-11 15:41] vorburger commented on #1323
#1396 proposes an Integration Test for Gradle for non-regression for this bug.

[2019-03-11 15:48] cescoffier commented on #1396
Ideally, all the test from the maven plugin should be ported to gradle.

[2019-03-11 15:54] crivera opened #1399 "Async with Hibernate/Panache"
I would like to use the async feature with Hibernate/Panache.

So my Controller/Resource would look something like this:

[code]

The Service something like this:

[code]

Currently though when I run this code I get the following error: `javax.enterprise.context.ContextNotActiveException`

The main question is too as to where to put/create the async block: In the Controller or in the Service?

Ifs

[2019-03-11 15:58] vorburger commented on #1396
[devtools/maven/src/it](https://github.com/quarkusio/quarkus/tree/master/devtools/maven/src/it ) can't be directly ported - the Maven Invoker is ... Maven specific. And you would want to run these Gradle tests from a regular `mvn install`, on any PR, to detect any future regressions.

Let me propose a minimalistic version of what I have in mind, and people can review it...

[2019-03-11 16:34] dansiviter commented on #1371
Sure. I'm happy to close if the docs are updated as it deviates from documented JAX-RS and CDI behaviour of RestEasy (+Jersey) and Weld.

[2019-03-11 17:20] cescoffier commented on #1371
The getting started guide mentions:

Differences with vanilla Jax-RS:
With Quarkus there is no need to create an Application class. It’s supported but not required. In addition, only one instance of the resource is created and not one per request. You can configure this using the different *Scoped annotations (ApplicationScoped, RequestScoped, etc).

We could improve the wording (open to suggestio

[2019-03-11 17:22] tandraschko opened #1402 "quarkus:dev fails with .m2/repo in path with spaces on all platforms"
Download https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started
run via
mvn compile quarkus:dev
throws
java.lang.NoClassDefFoundError: org/jboss/logging/Logger

on Windows10 with both Java8 and Java11:
Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T20:41:47+02:00)
Maven home: D:\Development\Maven\bin\..
Java version: 11.0.2, vendor: Oracle Corporatio

[2019-03-11 17:22] tandraschko commented on #1402
sames happens with the tutorial, which generates the same example

[2019-03-11 17:25] cescoffier commented on #1396
There is a lot more test for maven (src/test/java), and yes they are maven specific. I know they cannot be reused, but we need at least the same coverage.

[2019-03-11 17:37] tandraschko commented on #1402
exception:

Listening for transport dt_socket at address: 5005
Exception in thread "main" java.lang.NoClassDefFoundError: org/jboss/logging/Logger
        at io.quarkus.dev.DevModeMain.<clinit>(DevModeMain.java:39)
Caused by: java.lang.ClassNotFoundException: org.jboss.logging.Logger
        at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:583)
        at java.

[2019-03-11 17:39] jnizet commented on #1374
I've reopened my PR regarding the Gradle documentation on this repo (#1403), without using the BOM, and using compileOnly dependencies instead of implementation dependencies.

This looks very counter-intuitive to me: given that quarkus-resteasy is what brings resteay to a project, and given that resteasy is needed at compile-time and at runtime, it is really weird to make it a compileOnly dependen

[2019-03-11 17:52] vorburger commented on #1396
That would be ideal, but as s starting point, to go from 0% coverage to something, and be able to automatically find regressions like #1323 in the near term future, how about doing #1405 for now? @stalep

[2019-03-11 18:04] vorburger commented on #1374
@jnizet @renannprado once you've figured this all out :smile: what could perhaps be useful for future automated non-regression would be if you were motivated to contribute a Gradle + Kotlin Quick Start (over in https://github.com/quarkusio/quarkus-quickstarts) or an Integration Test for Gradle + Kotlin here in this main quarkus repo (better).

Just FYI, in case you're interested, there is somethin

[2019-03-11 18:08] evanchooly opened #1406 ""Getting started" link is wrong on the Guides page"
In the first paragraph, there's a link to "getting started" that actually points at the guides page.

[2019-03-11 18:13] dmlloyd commented on #1402
Duplicate of #541?

[2019-03-11 18:16] tandraschko commented on #1402
Maybe - but there is still no solution?!
Can you please explain how to integrate https://github.com/quarkusio/quarkus/pull/1391 or please fix the example itself.

[2019-03-11 18:25] dmlloyd commented on #1402
You need to build Quarkus from source, or else wait for next week's release (we're doing them every two weeks for the time being).

[2019-03-11 19:05] geoand commented on #1374
It takes getting used to for sure, but like I said the build process uses these dependencies to create the custom jars. Also this _might_ be changing in the future

[2019-03-11 19:12] dmlloyd commented on #1393
Specifically `application.properties` I think.

[2019-03-11 19:14] johnaohara commented on #1393
I didn't know if we needed to support both application.properties and META-INF/microprofile-config.properties?

[2019-03-11 19:21] dmlloyd commented on #601
Is this still a problem?  If so, we may need to auto-register log message class constructors for reflection.

[2019-03-11 19:25] dmlloyd commented on #1393
It'll happen automatically because we use the default sources as well.  But when you say "via `.properties` files" I'm thinking `logging.properties`.

[2019-03-11 19:26] tandraschko commented on #1402
did it - it's still >not< fixed

[2019-03-11 19:26] tandraschko commented on #1402
[INFO] Using servlet resources C:\Users\tandraschko\Downloads\getting-started\src\main\resources\META-INF\resources
Listening for transport dt_socket at address: 5005
Exception in thread "main" java.lang.NoClassDefFoundError: org/jboss/logging/Logger
        at io.quarkus.dev.DevModeMain.<clinit>(DevModeMain.java:39)
Caused by: java.lang.ClassNotFoundException: org.jboss.logging.Logger
        at

[2019-03-11 19:28] johnaohara commented on #1393
I have updated the description

[2019-03-11 19:36] dmlloyd commented on #1402
Do you have a reproducer?

[2019-03-11 19:40] tandraschko commented on #1402
Please check my description, i just used the samples in your repo or generated from your guide

[2019-03-11 20:31] danielpetisme commented on #1355
@kenfinnigan  you can use swagger-ui as-is
Look at
https://github.com/danielpetisme/jhipster-sample-app-quarkus/tree/openapi

I've added the `quarkus-smallrye-openapi` dependency as you mentioned.

Copy/paste swagger-ui into `src/main/resources/META-INF/resources`
Tweak the `swagger-ui/index.hml`

[code]
https://github.com/danielpetisme/jhipster-sample-app-quarkus/blob/openapi/src/main/resources/M

[2019-03-11 21:12] dansiviter commented on #1371
So I dug out the JAX-RS 2.1 spec and it states:

So the spec specifically states each resource should be `@RequestScoped` by default. This includes associated items such as `javax.ws.rs.Providers`. Therefore, I don't this it's a good idea to move away from the specification without good justification.

Also, Thorntail changed the auto-created `javax.ws.rs.Application` instance as it deviated too f

[2019-03-11 21:18] machi1990 commented on #1388
I am not able to see the thread in question on Zulipchat.  But this looks like a good-first issue: it involves adding kafka-client in `extensions.json`, while respecting the alphabetical order? If so I can submit a PR for this right away.

Other than `kafka-client` what other labels do we assign to this extension?

[2019-03-11 21:54] aheritier opened #1409 "Declaring dependencies scopes in BOM is a bad practice"
It is impossible to override what you decided and sometimes you could have wrong.
Example: I create some reusable test code where junit or any test framework is a compile dependency instead and not a test one.

[2019-03-11 22:04] danielpetisme opened #1410 "Hooks on RuntimeUpdatesProcessor"
The [`io.quarkus.dev.RuntimeUpdatesProcessor`](https://github.com/quarkusio/quarkus/blob/a91a034b855cae3f8d474951cb33e8d05707dc13/core/devmode/src/main/java/io/quarkus/dev/RuntimeUpdatesProcessor.java) is responsible to scan both sources or resources to detect a change an apply a reload.

The idea is to expose the change detection events (either on RuntimeUpdatesProcessor or directly on HotReplace

[2019-03-11 22:10] Sanne commented on #601
Yes it's still a problem;
this is what I had done to move on:
https://github.com/quarkusio/quarkus/blob/8fd4337ee1160ace2aec3c1f4f61377a3db96213/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmReflections.java#L111-L114

[2019-03-11 22:20] mansoors-rabo commented on #1382
Advanteges are same as for docker template and generating a minimal project.

[2019-03-11 22:24] smmansoor commented on #1382
Advantages are same as for docker template and generating a minimal project.

[2019-03-11 22:27] smmansoor commented on #1382
Thanks @geoand. I will have a look at that. But adding a template will provide a launching pad to the developer.

[2019-03-11 22:37] Sanne opened #1412 "Support wider range of character sets"
In SubstrateVM the default is to include only a couple of essential character sets.

There's a flag to include them all, which we should make available as certain applications (or extensions) will need them.

Also wondering: there's the opportunity to specifically select which charsets should be included. Leaving that as future optimisations for now, but I think it's interesting to further reduce

[2019-03-11 22:42] vertexclique opened #1413 "Scala language support"
In addition to Kotlin, maybe it's also good to have Scala supported. Adding Scala source discovery and having it to compile an Akka application would be a nice way to provide a starting ground for Scala.

[2019-03-11 23:04] smmansoor commented on #1382
I just have a look at ap4k and its really cool  👍 . This should be added on the quarkus documentation under extension section.

[2019-03-11 23:49] Sanne commented on #1006
To close?

[2019-03-11 23:49] Sanne commented on #1003
To close?

[2019-03-11 23:51] #417 closed

[2019-03-11 23:58] smmansoor commented on #1382
Great. Can we generate the same? I am happy to add this functionality. Can you please guide me?

[2019-03-12 00:23] starksm64 opened #1415 "Type Map<String,String> in config root is not working"
If I have a Map<String,String> in a config object such as:

[code]

With an application.properties configuration like:
[code]

The are no values populated into the stringMap.

[2019-03-12 00:37] starksm64 commented on #1415
What currently happens is that processing goes into this ConfigDefintion#processMap(...) code block:

[code]

and no leaf node ends up handling the configuration value.

[2019-03-12 01:02] #956 closed

[2019-03-12 01:55] starksm64 commented on #1415
I think I have a straightforward fix for this

[2019-03-12 03:49] #1412 closed

[2019-03-12 03:57] #1392 closed

[2019-03-12 05:36] geoand commented on #1382
@smmansoor once we merge the PR there will  be documentation for using ap4k as well

[2019-03-12 06:17] fbricon opened #1418 "Add actual LiveReload support"
I already mentioned it in zulip some time ago, but apparently forgot to open an issue so here goes: in spring boot, if the spring dev tools dependency is available, a [livereload](http://livereload.com/) server instance is started. changes to files trigger a livereload event that makes all clients (i.e browsers) to refresh automagically.

Now, in quarkus, if you could listen to a "classloader was

[2019-03-12 06:24] jmartisk opened #1419 "Enable memoryPool.* and thread.cpuTime vendor metrics"
They are commented out at the moment: https://github.com/quarkusio/quarkus/blob/0.11.0/extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsTemplate.java#L130

[2019-03-12 07:02] #1406 closed

[2019-03-12 07:05] cescoffier commented on #1406
Thanks! It should be fixed now.

[2019-03-12 08:00] #1373 closed

[2019-03-12 08:45] danielpetisme commented on #1418
Same idea #1410

[2019-03-12 09:01] kadel commented on #1390
@emmanuelbernard
There is (skaffold)[https://github.com/GoogleContainerTools/skaffold]. It can watch over files similar to what odo is doing, but last time I checked it was rebuilding the image every time and there was no way to do hot reload.

@cescoffier
Right now it is OpenShift only. But we have plans to add "bare" Kubernetes support, it is on our roadmap.

[2019-03-12 09:04] starksm64 commented on #1415
It got a little more complicated when I got to the bytecode generation to load the config into runtime. Let me know if there are changes.

[2019-03-12 09:33] emmanuelbernard commented on #1390
Thanks kadel, anyways let's see what we can do for odo first.

[2019-03-12 09:41] geoand commented on #1390
I can take up the work on the odo side - provided that we figure out what builder image should be used @kadel

[2019-03-12 09:42] #568 closed

[2019-03-12 09:56] jmartisk commented on #983
Ah, I didn't realize that it's not possible to use JMX in SubstrateVM. In that case we will have to keep the current approach - we can't use `base-metrics.properties` because it references MBeans using their ObjectNames, which we can't do. I will add the missing metrics without accessing the MBean server.

[2019-03-12 10:59] emmanuelbernard commented on #1003
No we need to publish it.
@n1hility was working on some parts.

[2019-03-12 10:59] #1006 closed

[2019-03-12 11:22] gsmet commented on #1355
@danielpetisme I wonder if we should integrate the Swagger UI in our OpenAPI extension so that you get it out of the box. It's licensed under the Apache License so that could work.

What I'm wondering is if we should find a way to enable it only in development mode (at least the one bundled by default).

Would you be interested in experimenting with that?

[2019-03-12 11:30] gsmet commented on #1418
So, I'm not sure it's a good thing for Java files (some people were concerned about reloading partial changes that wouldn't compile and generate a lot of noise in the log...).

But I think we should do it for static resources as you could at least do the CSS changes in live.

[2019-03-12 11:31] gsmet commented on #1413
@vertexclique would you be interested in taking a stab at it?

The PR for the Kotlin addition is here: https://github.com/quarkusio/quarkus/pull/1059 .

[2019-03-12 11:46] gsmet commented on #1390
@emmanuelbernard hmm, we were talking about exposing "dev only resources" when dev mode is enabled (such as the config) in another issue.

Are you seeing the feature described in this issue as something people would use in production?

If so, we can't expose the config unconditionally in dev mode.

[2019-03-12 11:55] kenfinnigan commented on #1371
@dansiviter, as we don't intend to pass Java EE/Jakarta EE TCKs, it means we can choose to do things that improve the defaults for greenfield development, even if they don't comply with the "spec".

[2019-03-12 11:56] kenfinnigan commented on #1409
That's likely a bug for the test frameworks. Could you list those frameworks and maybe provide a PR setting the scope to "test" for them?

We need to align versions to ensure that what a users uses is what we've built against, which is especially important when compiling to native executable

[2019-03-12 12:01] kenfinnigan commented on #1355
As this is easy enough to "drop in" to an application as a third party addition, maybe just a user guide on what to do is sufficient?

My concern is that adding Swagger UI directly will get out of date quickly and require updating the version frequently.

[2019-03-12 12:06] aheritier commented on #1409
it's not on the test framework side @kenfinnigan it was just a sample.
As soon as you define a scope in a dependencyManagement (via the BOM import) all declarations of these dependencies will have this scope and thus you presume to know what your users will do with them.
It's better to define the scope at the dependency level inside the project and you only use the dependencyManagement to inject t

[2019-03-12 12:14] gsmet commented on #1355
@kenfinnigan I agree we will have to update it from time to time to bring the latest additions/fixes.

But I think having it by default in dev mode would be a nice feature. You could play with your APIs in a second.

Otherwise, you have to download it, push it to your app, update it to point to our OpenAPI URL (that maybe we should change to `/openapi.json` to avoid that).

@emmanuelbernard WDYT?

[2019-03-12 12:35] gsmet commented on #1355
Some notes of a discussion with Stuart in case we want to have it:

[2019-03-12 12:40] dansiviter commented on #1371
@kenfinnigan Regardless, it's fundamental behaviour change under the guise of "sensible defaults". Frankly, I'm yet to use `@ApplicationScoped` resource beans as the default `@RequestScoped` made the most sense in all use-cases. It now risks coupling other injected beans on different scope causing unexpected behaviour as they'll will not get re-injected. Also creating a `Application` instance is h

[2019-03-12 12:43] fbricon commented on #1418
That's why I mentioned the "classloader was reloaded" event

[2019-03-12 12:48] snicoll commented on #1409
Bill of Materials should only define the groupId/artifactId/version of the modules that you are responsible for. It should not define a scope indeed.

[2019-03-12 12:49] gsmet opened #1428 "Detect calls to getDeclaredFields() and getDeclaredMethods() in the reflection debug agent"
See the discussion we had here:
https://github.com/quarkusio/quarkus/pull/1420#discussion_r264616929

When, for instance, the JSON-B serializer serializes an entity, it gets the fields and methods via `getDeclaredFields()` and `getDeclaredMethods()`. If these elements have not been fully registered for reflection, GraalVM will return partial results.

Warning the user about it would be great and w

[2019-03-12 13:11] kenfinnigan commented on #1371
There's nothing that prevents us from changing traditional behavior, if we feel it's the best choice.

If what we've chosen as defaults doesn't fit with a users needs there are two options:

- Modify the behavior such that it behaves as you've experienced in other frameworks. Such as adding `@RequestScoped` to your JAX-RS Resource classes
- Use a different framework. This one is key. In Quarkus we

[2019-03-12 13:20] vorburger commented on #1409
I agree with this view, based on having learnt to lesson the hard way... I used to think that putting e.g. `<scope>test` for e.g. JUnit & Co. in BOM was a Good Idea, but ultimately it's more confusing than useful - just putting the scope to where it's used is clearer.

[2019-03-12 13:27] vorburger opened #1431 "Use MariaDB4j for MariaDB integration tests"
@Sanne I by chance noticed your work in #1427 #535 #264 and was wondering if would be interested in using (my) https://github.com/vorburger/MariaDB4j project to run MariaDB integration tests for this project? Just an idea, go for it if any interest (and shout if any Qs / support required re. MariaDB4j, happy to help); close if for any reason this would not add any value.

[2019-03-12 13:39] #1009 closed

[2019-03-12 13:39] #1303 closed

[2019-03-12 13:45] gsmet commented on #1409
So I agree with that.

Note that the `provided` scope for our extensions should stay. It will go away at some point but for now, we want to keep it in the pom.

Note that we will need to check all the dependencies that are currently marked with `test` scope in Quarkus and in the quickstarts (doc + code).

[2019-03-12 13:54] dmlloyd commented on #1415
I incorporated some of these changes and the tests into #1430.  If that one looks/works OK, merging it will auto-close this PR.

[2019-03-12 13:58] dmlloyd commented on #601
I would advise that all loggers should be static, in any case.

[2019-03-12 14:00] cescoffier commented on #1409
It's only the `test` scope that need to be removed.

[2019-03-12 14:16] dmlloyd commented on #1402
Is there by any chance a space in the path you're building in?  If so, could you see if building in a path with no spaces in it succeeds?

[2019-03-12 14:17] Sanne commented on #601
Sure I agree as a "general recommendation", but we should allow for exceptional different usage?

Or do you think we should always expect people to register those for reflection explicitly?

If that's the case I guess we can close this; I did assume thought that we wanted to be able to claim that any usage of JBoss Logger would work fine in native mode.

[2019-03-12 14:20] tandraschko commented on #1402
It's without spaces: C:\Users\tandraschko\Downloads\getting-started\src\main\resources\META-INF\resources

[2019-03-12 14:26] dmlloyd commented on #601
I don't like making people explicitly register for reflection, but I don't see any good alternative.  I think it's the only practical solution.

[2019-03-12 14:36] jmartisk commented on #1419
On second thought I don't really know what the `thread.cpuTime` should serve for, it gets the cpu time of the current thread, but when you call the metric, you don't know what thread will call it, so it seems pretty useless to me. I will leave that out for now.

memoryPool metrics need to be skipped in native mode.

[2019-03-12 14:42] jpechane opened #1433 "Incorrect behaviour for @ApplicationScoped lifecycle events"
To `application-lifecycle-events/src/main/java/org/acme/events/AppLifecycleBean.java` add methods
[code]

The result of quickstart is
[code]
Please note that both shutdown and init methods were called multiple times and shutdown was call even before the application was started.

[2019-03-12 14:53] Sanne commented on #1431
Hi @vorburger thanks for the link, that project looks awesome.. I wish I had known it earlier :)

But I am a bit skeptical about not using docker for this; I've had experience using a similar solution for MongoDB in the past and we often had platform specific issues wasting our time. At least docker gives us strict consistency - assuming people installed Docker.

Generally speaking I'm not happy t

[2019-03-12 14:55] jmartisk opened #1435 "mp-metrics: Try to initialize as many application metrics as possible at build"
Currently the registration logic for application metrics is delegated to SmallRye Metrics, which means it is lazy (all annotated metrics in a bean are initialized when the bean is first constructed). Some metrics (the ones from annotations) could potentially be initialized at build though.

One problem with this is that scanning and registering the annotated metrics in Quarkus will mean a lot of l

[2019-03-12 14:58] Sanne commented on #601
Ok, agreed. Closing then!

[2019-03-12 14:58] #601 closed

[2019-03-12 15:08] darranl commented on #1219
Looking into this failure for myself the timeout was caused by a slow download from Maven, the workaround that worked for me was execute the following before the build to pre-populate my local repository.

mvn dependency:get -Dartifact=org.jetbrains.kotlin:kotlin-compiler:1.3.21

[2019-03-12 15:12] ctomc commented on #1431
On similar note there are is also embedded postgres that works great for testing.

In my book anything that prevents docker requirement for simple scenarios is a good thing.

[2019-03-12 15:37] vorburger commented on #1431
I'm strategically / architecturally actually 101% aligned with this... MariaDB4j is "old" and from back in the pre-container (say "container" not "docker" :smiling_imp: ) era. Just mentioned this as an option in case it would be of interest help to avoid having to have DB containers for easy local builds and in CI; absolutely no offense at all taken if you close this issue.

[2019-03-12 15:49] Sanne commented on #1431
Ok let's close this. Thanks for the pointers though!

Hi @ctomc ! Glad to see you around too :+1:

[2019-03-12 15:49] #1431 closed

[2019-03-12 15:58] Sanne commented on #1418
I love it conceptually, but we'll need to address another design aspect too:

the "reload" operation today is waiting for some kind of trigger. We don't want to "reload" the whole app just because a single file changed, especially as a change might be in progress - and not ready to be compiled yet.

So today the browser refresh is actually the event that triggers re-compile, process it all, reload

[2019-03-12 16:08] Sanne commented on #1219
Thanks @darranl , I'll change the timeouts. Feeling a bit dirty though :)

[2019-03-12 16:21] danielpetisme commented on #1355
@gsmet yes I can try to propose something more packaged.

[2019-03-12 16:40] #1219 closed

[2019-03-12 16:59] fbricon commented on #1418
One would have to check how springboot handles it, but I imagine one solution could be:
- detect file changed
- wait for X ms for more changes
- changes seem to be over => trigger reload.

It might not be perfect, but will prolly handle more than 80% of the use cases. And you could still add a flag to disable the behavior

[2019-03-12 17:20] geoand commented on #1418
Honestly I find the Quarkus approach to live reload much more intuitive for developing APIs that what Spring Boot does. It just seems to fit the API developer workflow like a glove!

Personally the only thing I would like would be to have reload work for event based applications as well.

Reloading the web assets can certainly be done using the current approach as Stuart has demonstrated in an old

[2019-03-12 17:28] dansiviter commented on #1371
I think my point is being lost somewhat: If 'Developer Joy' is what Quarkus is aiming for, please don't arbitrarily deviate from specifications. It just wastes time debugging strange behaviour.

We have a lot of stuff running on Thorntail and very interested in Quarkus (especially when Graal gets to J11) especially as Thorntail takes an age to start. Porting to it will be a pain as we'll have to f

[2019-03-12 17:29] eador opened #1438 "quarkus:dev maven target does not support spaces"
If the path where your project lives has a space in it quarkus:dev will fail to start up the application.

For example:
~/te st/quarkus-quickstarts/getting-started . <-- Will not work
~/test/quarkus-quickstarts/getting-started <-- Will work

[2019-03-12 18:11] #1415 closed

[2019-03-12 18:34] vorburger opened #1439 "Add Quarkus to https://start.microprofile.io"
I'm sure someone somewhere is already working on soon adding Quarkus to https://start.microprofile.io?

[2019-03-12 18:47] kenfinnigan commented on #1439
Closing as duplicate of #1310

[2019-03-12 18:47] #1439 closed

[2019-03-12 18:47] kenfinnigan commented on #1310
The one issue that might be a bit touchy given current discussions, is that Quarkus doesn't run the TCKs at present

[2019-03-12 19:02] dmlloyd commented on #1438
Fixed via #1436.

[2019-03-12 19:02] #1438 closed

[2019-03-12 19:31] kenfinnigan commented on #1371
Quarkus is certainly aiming for "Developer Joy", but not at the expense of doing what we think is the better approach.

Though a choice might have been made by a specification, that doesn't mean in the world of containers and Kubernetes that such a choice still makes sense. Even more so when such a choice was made before the advent of Cloud.

Quarkus is focused on "Container First" and Kubernetes.

[2019-03-12 20:15] vorburger opened #1442 "Gradle plugin should run on `build` and not require `quarkus-build`"
I find it sub-optimal that the Gradle plugin requires you to remember to run the `quarkus-build` task explicitly. Would it not make sense to let users be able to simply run the regular Gradle `build` task? I do understand this is possible to do "manually" in a `build.gradle` - what I'm suggesting here is how about making that the default?  There must be some way to "bind" it accordingly, although

[2019-03-12 20:23] dansiviter commented on #1371
Ideally, you'd keep it the same, but if you have to deviate both listing and justifying the changes would be very helpful so develops don't stumble on to them inadvertently. The justification is especially important to why these decisions are "better" than a spec designed by community which hasn't been stated above.

We're a Java house using K8s heavily (currently trialing Knative workloads) so I'

[2019-03-12 20:36] renannprado commented on #1442
I support the idea, then it means that only to build the native image we'd have to run a "special" command, right?
Unfortunately I don't have any hints I could give regarding the implementation :pensive: . I do plan to contribute though, I just don't have time do it right now.
Thumbs up from me!

[2019-03-12 20:47] jnizet commented on #1442
As a Gradle user, I indeed expect the standard `assemble` life-cycle task to build the artifact(s) for my project. In a Spring Boot project, building the executable jar file is thus expected. In the case of Quarkus (which I know a whole lot less than Spring Boot), it's not clear what this artifact is, though. Is it the jar file that, I guess, is meant to be executed using the JVM, is it the native

[2019-03-12 20:50] dmlloyd commented on #1166
This was contributed within the last week: https://github.com/oracle/graal/blob/master/substratevm/CONFIGURE.md

[2019-03-12 21:08] #703 closed

[2019-03-12 21:42] stuartwdouglas opened #1443 "We do not handle existing MANIFEST.MF files properly"
See https://stackoverflow.com/questions/55124900/how-to-create-native-executable-using-quarkus#

In this case we should probably modify the existing manifest to add the Main-Class entry

[2019-03-12 21:48] #1130 closed

[2019-03-12 22:34] geoand commented on #1442
@vorburger This sounds like a very reasonable idea to me, especially  given the fact that in the Maven world `mvn package` would indeed produce the desired artifact without one having to do `quarkus:build`.

@jnizet In the case of Quarkus, for normal JVM mode the artifact is the `-runner` jar along with the `lib` directory that contains the dependencies (of course it's also possible to configure t

[2019-03-12 22:38] stuartwdouglas commented on #1418
We could certainly offer it as an option and see how it actually works in practice, however I would also want to keep the current behaviour.

The issue is picking a value of X that makes sense for the poll time and the 'wait X ms logic'. If you make this a small value then the FS is being hit constantly, which can impact IDE performance. If you make this a large value then when you refresh there i

[2019-03-12 22:47] gsmet opened #1445 "Fix our default project template"
* we can remove the dependency to `quarkus-arc`
 * `quarkus-junit5` should have the `test` scope

[2019-03-12 23:45] vorburger commented on #1442
Just to clarify, I did not mean this to be about `gradle quarkus-native`, just the regular Java build.

do you want to open a separate issue about that? (And perhaps contribute a change proposing that?)

[2019-03-12 23:51] starksm64 commented on #241
I have added toolchain support with fallback to  the java.home used to launch maven and I'm testing it on windows.

[2019-03-12 23:53] vorburger commented on #1418
#641

[2019-03-13 00:01] smmansoor commented on #1382
Thanks @geoand and @cescoffier
Another issue I have noticed  is regarding docker file. The docker file create by maven template project in src directory, is for graal vm. It does not get regenerated in target folder based on VM used for building the project.

We should place the template file in src directory and then generate one on build using maven-resources-plugin.

[2019-03-13 00:03] vorburger opened #1449 "Running quarkus:dev in-container on OpenShift "fails" (ends build)"
I'm experimenting with something re. #1390 and for me running `mvn compile quarkus:dev` in-container on OpenShift strangely just ends the build instead of serving the applications... where as it normally is:

[code]

I'm instead just seeing this weird behaviour:

[code]

Perhaps `quarkus-maven-plugin:0.11.0:dev` failed to start the Quarkus based app runtime for some reason... but if that were the

[2019-03-13 00:10] vorburger commented on #1390
I'm interested in this topic as well, and have given it some thought...

Not actually convinced we even need _"real S2I"_ in this scenario (as in my #1358 for native, non-dev) - in this use case, we technically don't want (need) to be _"building"_ a new container image (which is what S2I is for), do we? What we really want is just to run `quarkus:dev` in-container, don't we? I'm exploring that in

[2019-03-13 00:37] danielpetisme commented on #1355
Based on the Zulip conversation
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Problems.20with.20Getting.20Started/near/160573859
There is an attempt to use https://github.com/microprofile-extensions/openapi-ext/tree/master/swagger-ui as front end provider for the open api definition (maintained by 1 person only...).

Despite the fact that right now it doesn't work (because of a

[2019-03-13 00:41] kenfinnigan commented on #1355
Any reason not to just include the Swagger UI directly as opposed to including an external library that does just that?

[2019-03-13 00:47] vorburger commented on #1449
unless you run that with a different user (`docker run -u`), then it's reproducible even outside of OpenShift...

[2019-03-13 00:48] vorburger commented on #1288
@emmanuelbernard I'm implementing this sort of as a side effect of my investigation re #1390 ...

https://github.com/quarkusio/quarkus/compare/master...vorburger:issue-1390_dev-container

Not quite working just yet, again due to #1449.

[2019-03-13 03:34] tgrall commented on #1390
@gsmet it isn’t for production.`odo` Is used for development, but the idea is to be able to use the container/OpenShift during development and let the user doing it with iteration (without reloading the container)

So if you have a specific flag we should be able to pass it to the S2I/supervisord to enable the dev mode in the application

[2019-03-13 03:46] #1445 closed

[2019-03-13 05:46] geoand commented on #1418
True, but I also had Kafka messages in mind :)

[2019-03-13 05:57] stuartwdouglas commented on #987
This only happens if the script is named import.sql. In org.hibernate.tool.schema.internal.SchemaCreatorImpl#applyImportSources there are two settings, HBM2DDL_LOAD_SCRIPT_SOURCE which has no default, and HBM2DDL_IMPORT_FILES which defaults to import.sql.

As we explicitly set HBM2DDL_LOAD_SCRIPT_SOURCE to import.sql then both values are set to import.sql, so it gets imported twice.

[2019-03-13 06:14] geoand commented on #1390
Using odo instead of plain rsync would allow users to easily handle a Quarkus app as part of their entire architecture, meaning that the app can be linked to some service via the Service Catalog, it provides a lot of conveniences such as creating a Route and much more.

Not to mention that there is a VSCode plugin that uses odo under the covers.

[2019-03-13 07:10] cescoffier commented on #1443
Oh, that's the issue! But why did Eclipse try to create a `MANIFEST.MF`?

[2019-03-13 07:11] cescoffier commented on #1443
So, basically the logic would be to check for the existence of `target/classes/META-INF/MANIFEST.MF` and if there inject the classpath and main class.

[2019-03-13 07:11] cescoffier commented on #1443
(when I say inject, read replace if already set, with a warning)

[2019-03-13 07:14] cescoffier commented on #1382
Why would you need a second one?
We have added a .dockerignore to reduce the size of the context so the build is much faster.

[2019-03-13 08:12] machi1990 commented on #1443
How about replacing the old file with a fresh copy on each build?

[2019-03-13 08:31] mkouba commented on #1433
Hi @jpechane and thanks for the report! The problem was that `javax.enterprise.context.Initialized` and `javax.enterprise.context.Destroyed` qualifiers were not part of the application index and thus ArC didn't know about these qualifiers. As a result, both the observer methods are registered without any qualifier and therefore are notified for any event whose event type was assignable to the obse

[2019-03-13 09:51] xstefank opened #1456 "quarkus:dev cannot pick newly added config property"
If you add new property in microprofile-config.properties in quarkus:dev mode this property is not picked in hot reload.

Reproducer: https://github.com/xstefank/learning-tests/tree/master/quarkus/config-new-prop

[2019-03-13 10:27] #983 closed

[2019-03-13 10:27] #1419 closed

[2019-03-13 10:57] #987 closed

[2019-03-13 11:16] RupprechJo opened #1457 "Documentation how to use gradle with quarkus is wrong"
There are two errors in the supposed build.gradle on quarkus homepage:
- Gradle does not use Junit5 out of the box (and does this silently). You have to add this to the build.gradle to make gradle running the tests:
[code]
- Gradle (I used 5.2) does not know the configuration testOnly. So you have to replace this
`testOnly group: 'io.quarkus', name: 'quarkus-junit5', version:'0.11.0'`
by this
`tes

[2019-03-13 11:24] RupprechJo opened #1458 "Quarkus tests only run on maven projects"
I use gradle 5.2. I played with the getting-started project. I added a build.gradle to the project:
[code]

Wenn I start the tests with `gradle test`, the tests fail with that exception
[code]
Seems, that quarkus only can use the maven output layout (which is `target/test-classes`). Gradle has a different output layout, e.g. the test classes are found in `build/classes/java/test`

Getting the same

[2019-03-13 11:52] rsvoboda opened #1460 "Native image - support for app icon"
Native image - support for app icon

This could be useful when people create custom utilities and want to use and distribute them in their favourite OS - especially macOS and Windows (Substrate VM hopefully available soon) when apps are executed from UI rather than from console.

Some OS related guidelines for app icons
 * https://developer.apple.com/design/human-interface-guidelines/macos/icons-a

[2019-03-13 12:25] #1433 closed

[2019-03-13 12:58] dmlloyd opened #1461 "Restore default/sample config generation"
- [ ] Build time config
- [ ] Run time config

[2019-03-13 13:12] danielpetisme commented on #1355
IMHO; Maintenance.
If there is a shared lib with other project there is a greater probability that this lib stays up to date.
My only concerns is that the referenced [lib](https://github.com/microprofile-extensions/openapi-ext/tree/master/swagger-ui) is maintained by 1 person...

It's not complex at all to package a "quarkus-smallrye-swagger-ui" if you prefer to keep the ownership.

If you think i

[2019-03-13 13:36] mathianasj opened #1463 "Hibernate missing reflection JoinedSubclassEntityPersister definition"
The hibernate-orm extension does not define a constructor reflection for the JoinedSubclassEntityPersister class.  This is required when using generic tables and class extension of entities.

[2019-03-13 13:44] mathianasj commented on #1463
I do have a pull request ready to add this if you would like @gsmet

[2019-03-13 13:48] gsmet commented on #1463
@mathianasj ah sorry, already created https://github.com/quarkusio/quarkus/pull/1464 :/

[2019-03-13 13:48] gsmet commented on #1463
I added one more that was missing.

[2019-03-13 13:49] gsmet commented on #1463
@mathianasj could you check my PR and confirm it solves your issue?

[2019-03-13 13:53] mathianasj commented on #1463
Building and checking now

[2019-03-13 14:20] gsmet commented on #1457
@RupprechJo could you be more clear about what you are referring to?

I looked for `testOnly` in our code and couldn't find any occurrence.

[2019-03-13 14:23] gsmet commented on #1458
We should probably improve `PathTestHelper` to also support this layout.

@RupprechJo interested in giving it a shot?

[2019-03-13 14:29] mathianasj commented on #1463
@gsmet that has resolved my issue

[2019-03-13 14:30] kadel commented on #1390
ou could use `oc rsync` and `odo watch` actually does something that is similar to it, but also handles all the hassle of setting the container up, it shields users from all the complexities.

odo gives this to users in a nice user-friendly way without a need to know anything about OpenShift.
That is the main odo promise

With odo it looks like this:
[code]

Now you just edit files in your ide. Od

[2019-03-13 15:13] RupprechJo commented on #1458
I mean the documentation found here: https://quarkus.io/guides/gradle-tooling.html

[2019-03-13 15:14] RupprechJo commented on #1457
I mean the documentation found here: https://quarkus.io/guides/gradle-tooling.html

[2019-03-13 15:15] RupprechJo commented on #1458
@gsmet Could you describe what you mean by "giving it a shot"?

[2019-03-13 15:38] geoand commented on #1458
@gsmet means if you would like to attempt to contribute a fix for the issue. How does that sound?

[2019-03-13 15:50] gsmet commented on #1463
Thanks for checking.

[2019-03-13 16:14] oscerd opened #1469 "Add Extension for Camel-AWS S3"
To support AWS S3 component from Camel.

[2019-03-13 16:42] mickaelistria commented on #1443
I don't know why Eclipse IDE/m2e generates MANIFEST.MF files, but in any case, having some application builds that generate some MANIFEST.MF is not so unusual and this case should be embraced by Quarkus rather than rejected.
So indeed, the approach of merging MANIFEST.MF (and failing by default in case of conflicting directives in the MANIFEST.MF) seems to be the most sustainable and portable path

[2019-03-13 17:11] emmanuelbernard commented on #1390
odo watch is for dev mode. not to deploy in production.

[2019-03-13 17:15] emmanuelbernard commented on #1390
Yes I think it would be a fake S2I that just do nothing on the S2 part aside from copying the source files and have the run parts start `mvn compile quarkus:dev`
Unless the S2 part can prefetch some maven dependencies or something. But again maybe we need a base image with prefetched quarkus dependencies?

[2019-03-13 17:30] #1463 closed

[2019-03-13 19:07] dmlloyd opened #1472 "Test extension uses a run time config class during static init"
This breaks once we read run-time config from the main method.

[2019-03-13 20:00] dmlloyd commented on #1472
I'm unassigning this because the obvious solution (make the `configureBean` method be `RUNTIME_INIT`) does not work due to the production of a `BeanContainerListener`, which is not allowed at run time.

The extension is basically flawed in that it's consuming run time config (which won't be available until after the `main` method runs) but producing something for static init, which runs before run

[2019-03-13 20:43] Riduidel commented on #1443
From what I understand, it seems there various steps that are run :
1. `AugmentPhase` will ... augment various aspects ? (I don't know which ones)
2. `RunnerJarPhase` will generate from the augmented (?) sources the output jar.
To my mind, the best way to cope with pre-existing MANIFEST.MF in target would be to add another implementation of `AppCreationPhase`
What do you think of that (and particu

[2019-03-13 20:50] jnizet opened #1473 "Gradle tasks should be renamed"
The convention is to name Gradle tasks like Java methods, in camelCase. Gradle uses that to provide shortcuts. For example, instead of `./gradlew javaCompile`, you can just use `./gradlew jC`.
Task names become Groovy/Kotlin variables, and you should be able to reference the tasks directly, without using a string:

    assemble.dependsOn(quarkusBuild)

Having a dash in the name makes all this more

[2019-03-13 20:56] jnizet commented on #1442
@vorburger  I've created the issue #1473.

I've tried modifying the code to submit a PR, but adding `assertTrue(false)` in the single unit test and running `mvn test` or `mvn install` doesn't make the build fail as it should, so I must be doing something wrong.
And running `mvn install` from the root project directory makes the build completely stall at `Running io.quarkus.maven.it.DevMojoIT`. So,

[2019-03-13 20:58] starksm64 commented on #1472
So the idea was to pass the configuration seen at runtime to a runtime component for validation. So if the bean was returned in a RuntimeValue from the configureBean call and then actually called with the configuration from a RUNTIME_INIT method would that solve this?

[2019-03-13 20:59] dmlloyd commented on #1472
Yes that seems reasonable.

[2019-03-13 21:00] starksm64 commented on #1472
Ok, I'll take a look at fixing it.

[2019-03-13 21:05] gnodet opened #1474 "Implement quarkus:dev mode for camel apps"
The first problem is that a camel application does not necessarily spawn a non-daemon threads, which cause the `quarkus:dev` goal to start the application and close it immediately.
The second problem is that there's no live-reload of resources, because it's only done when an http request is send into undertow.  I suggest to implement a strategy to reload the context using `java.nio.file.WatchServi

[2019-03-13 21:32] Sanne commented on #1473
Many thanks, that's very good feedback! Let's fix this.

[2019-03-14 00:13] #1472 closed

[2019-03-14 02:38] dmlloyd opened #1477 "RuntimeClassLoader inconsistent resource lookups"
Given a generated resource, a call to `RuntimeClassLoader.getResouce(name)` may return `null` whereas a call to `RuntimeClassLoader.getResources(name)` returns an enumeration with one element.  This is because `getResource()` does not consult the `io.quarkus.runner.RuntimeClassLoader#resources` map.

[2019-03-14 08:35] danielpetisme commented on #1410
@gsmet I propose to close the issue, it's a duplicate of #1418.

[2019-03-14 08:37] gsmet commented on #1410
@danielpetisme is it really? It seems it's a little bit different and you developed interesting ideas here?

[2019-03-14 08:46] danielpetisme commented on #1410
🤔
From my understanding, the complex part of these ideas is the resources file detection and how to hook up 3rd-party tools.
LiveReload is of course a good use case.
Is it enough to cover all the technical aspects ? Do you see, in the above proposals, technicals points not covered by the LiveReload support initiative?

[2019-03-14 09:37] gunnarmorling opened #1480 "Allow to use JSON-P without RESTEasy"
We had issues to use JSON-P due to missing reflection configs. As I learned from @gsmet, the required config is contributed through the RESTEasy module, while our service doesn't use that (using JSON-P directly to deserialize JSON payloads received from Kafka).

[2019-03-14 09:54] guanchao-yang opened #1481 "mvn package run error!!!"
FROM this article but `mvn package`  run error!   https://quarkus.io/guides/getting-started-guide

[code]

[2019-03-14 10:03] gsmet commented on #1480
@gunnarmorling could you add some details about the API calls you make so that we can add the appropriate test cases?

[2019-03-14 10:04] gsmet commented on #1481
@guanchao-yang which version of Maven do you use? We support Maven 3.5.3+.

[2019-03-14 10:29] xstefank opened #1482 "Smallrye Health extension doesn't work in native"
Generating project without REST endpoint:

[code]

and adding smallrye-health:

[code]

Compiling to native and then accessing /health results in:

java.lang.InstantiationException: Type `org.glassfish.json.JsonProviderImpl` can not be instantiated reflectively as it does not have a no-parameter constructor or the no-parameter constructor has not been added explicitly to the native image.

full st

[2019-03-14 10:34] gsmet commented on #1482
OK, this goes in parallel to https://github.com/quarkusio/quarkus/issues/1480 .

I think we will need some low level JSON-B/JSON-P library setting everything up and added as a dependency for everyone that needs it.

[2019-03-14 10:37] xstefank commented on #1482
@gsmet ok, thanks, I will leave it then to you

[2019-03-14 11:04] gunnarmorling commented on #1480
@gsmet, you can see the original service here: https://github.com/debezium/debezium-examples/blob/master/outbox/shipment-service/src/main/java/io/debezium/examples/outbox/shipment/facade/OrderEventHandler.java#L42-L59 It's this usage and within the called `ShipmentService`.

[2019-03-14 12:33] gastaldi opened #1484 "Support quarkus:dev in multimodule projects"
It would be nice if `quarkus:dev` supported multimodule projects (eg. a change in a class from a module triggers a redeployment)

[2019-03-14 12:41] vorburger commented on #1442
Which unit test?

Have you seen #1405 ? I'm not clear if you tried before or after and with that?

So that's a Maven not Gradle related IT, and should have nothing to do with that, in theory.

You can raise a PR with something like "[WIP] [DRAFT]" in the Title even if it's not completely final and ready to be merged, just so that others can look at and help with it - looking at concrete code propo

[2019-03-14 12:43] vorburger commented on #1442
or, even better I guess, use the brand new https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2019-03-14 12:48] vorburger commented on #1390
I'm just not sure why we would use S2I at all in that case. Source files could just be copied into image with `oc rsync` (or `odo watch` I guess, but I'm not familiar enough with ODO, yet).

https://github.com/quarkusio/quarkus/compare/master...vorburger:issue-1390_dev-container does exactly that! It's currently just NOK due to some file system permission / changing user IDs on OpenShift business

[2019-03-14 13:09] jnizet commented on #1442
@vorburger Sorry for the confusion.

I'm talking about [this test](https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/src/test/java/io/quarkus/gradle/QuarkusPluginTest.java).
It's part of a [Maven module](https://github.com/quarkusio/quarkus/tree/master/devtools/gradle) which has a [pom](https://github.com/quarkusio/quarkus/blob/master/devtools/gradle/pom.xml) which seems to run grad

[2019-03-14 13:18] edeandrea commented on #1473
You should also look at the Gradle object model rather than having hard `dependsOn` between tasks. Declaring your own extensions/objects with inputs/outputs and having your tasks use the inputs/outputs of other tasks/extensions will remove the need to have your tasks depend on other tasks.

[2019-03-14 13:26] michalszynkiewicz commented on #1317
Not knowing the performance impact I remain not convinced, but I implemented it with skipping the interfaces that are implemented ;)

[2019-03-14 13:31] edeandrea commented on #1457
I would also add that the documentation uses the `gradle` command, which assumes that you have a global installation of Gradle on your machine. The most common way to use gradle is via the Gradle wrapper, which uses the `gradlew` command that comes with each individual project.

[2019-03-14 13:57] mkouba commented on #1317
The performance impact should be IMHO negligible but your PR need proper formatting - see https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md ;-)

[2019-03-14 14:05] michalszynkiewicz commented on #1317
seems I left some unused imports, let's see what happens now

[2019-03-14 14:22] emmanuelbernard commented on #1484
Stuart, I assigned it for evaluation, not to do it necessarily.

[2019-03-14 14:23] aloubyansky commented on #1484
I think it'll be easier once the bootstrap stuff is in. As it already has the notion and discovery of a workspace.

[2019-03-14 14:24] stalep commented on #1396
hi @vorburger, since we merged #1405 already, can we close this?

[2019-03-14 14:26] stalep commented on #1473
I agree, we should change this. The reason we went for the original task names was to have them as similar to maven as possible. - I guess that's not a valid reason :)

[2019-03-14 14:27] dmlloyd opened #1487 "Quarkus native images will not run in AWS"
Substrate VM uses named semaphores as a concurrency control primitive in its C helper for signal handling.  This means that our native images will fail to start in that environment.

I suggested to use unnamed semaphores but these are not supported on Darwin.  Another idea is to use pthread mutexes or similar.

To workaround we'd have to rip out our signal handlers and also disable the couple of s

[2019-03-14 14:28] emmanuelbernard commented on #1474
Thanks Guillaume. Let's see your PR and then we can all discuss on concrete grounds :)

[2019-03-14 14:29] dmlloyd commented on #1487
See also: https://github.com/oracle/graal/issues/841 https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.native.libchelper/src/cSunMiscSignal.c#L113

[2019-03-14 14:31] emmanuelbernard commented on #1469
Hey @gnodet do you mind having a look that this one?

[2019-03-14 14:34] emmanuelbernard commented on #1461
Let's think how we surface that to the user. Maybe an option of `add-extension`?
We need to find the right spot once we have the underlying code running

[2019-03-14 14:34] gsmet commented on #1457
@edeandrea this part is already fixed in our master branch.

[2019-03-14 14:38] emmanuelbernard commented on #1456
Should work, let's check the reproducer to investigate.

[2019-03-14 14:42] emmanuelbernard commented on #1449
Generally I think `quarkus:dev` is really not chatty enough and we should trya nd improve that (cc  @stuartwdouglas )
Would be good to get to to bottom of this specific problem though, I don't think we ever say quarkus:dev jsut silently crash. unless the app as only daemon on threads and the app starts and stops right away.

[2019-03-14 14:44] vorburger commented on #1396
yup, for me yes; so I'm closing it. (@cescoffier do feel free to re-open if you disagree.)

[2019-03-14 14:44] #1396 closed

[2019-03-14 14:46] emmanuelbernard commented on #1442
Hey @jnizet, please join [Zulip](https://quarkusio.zulipchat.com), we definitely want you to be able to build Quarkus :) And at last we could improve the doc in that area

[2019-03-14 14:56] emmanuelbernard commented on #1418
A couple of ideas:
1. adding other input as the trigger for live reload (like websocket) is likely our main way forward
2. as part of the discussion around front end development support (with resources hosted by quarkus), then indeed the hook to livereload makes sense but indeed we need to filter which resource trigger that vs which does not (like java files)

It's a bit unclear to how to best add

[2019-03-14 15:12] jbrisbin opened #1488 "Introduce a Kubernetes client"
In an attempt to deploy a test Operator into Kubernetes using QuarkusIO, I encountered errors using both the Fabric8 client and the official Java client. Fabric8 uses reflection in some base classes, so fails at runtime and the official Java client had errors compiling to a native image because of optional dependencies for Azure Kubernetes.

It would be really awesome to have native-image support

[2019-03-14 15:12] geoand commented on #1481
@gsmet Should we configure the enforcer plugin for the generated projects as well?

[2019-03-14 15:23] geoand commented on #1488
cc @iocannel @rhuss

[2019-03-14 15:25] geoand commented on #1488
As far as I know @iocanel is working on eliminating the reflection from the KubernetesClient. Once that is done, I think we could utilize Quarkus in the jvm-operators project that @Jiri-Kremser has created

[2019-03-14 15:29] iocanel commented on #1488
Right. Here's the relevant pull request: https://github.com/fabric8io/kubernetes-client/pull/1433

[2019-03-14 15:32] jbrisbin commented on #1488
I'd love to try this out again once this is merged and available in central.

[2019-03-14 15:41] vorburger commented on #1442
Huh, well spotted - #1489 fixes that! :smiling_imp:

[2019-03-14 15:42] Jiri-Kremser commented on #1488
Definitely, the maven plugin for the native builds looks promising. Some changes needs to be done to the current abstract-operator, like removing the reflection calls (or putting them in the list to that json file) and some minor refactoring of the static methods, but nothing difficult. Currently, I am blocked by the run-time issues in the f8-k8s client when performing calls using the ok http clie

[2019-03-14 15:43] jnizet commented on #1442
Thanks @vorburger. I just found out the issue 3 minutes ago :-)

[2019-03-14 15:47] mkouba opened #1490 "Add Table of Contents (TOC) to guides"

[2019-03-14 16:05] guanchao-yang commented on #1481
@gsmet Thank you very much ,I will upgrade maven to  3.5.3+ and try again.

[2019-03-14 16:08] guanchao-yang commented on #1481
I think this is a good idea, when my environment have problem ,we can use enforcer plugin and give some tips such as  JDK8+ and Maven 3.5.3+

[2019-03-14 16:10] rdifrango opened #1491 "How do you register JsonbAdapter?"
I'd like to register custom [JsonbAdapter](http://json-b.net/docs/api/java.json.bind/javax/json/bind/adapter/JsonbAdapter.html) to handle my custom types.

It's not clear from the documentation how I would go about doing so and/or if this is supported.

To be clear, with JAXB/Moxy I could add `@Named` to my adapters and thus they were eligible for DI and when JAXB/Moxy attempted to resolve them it

[2019-03-14 16:49] emmanuelbernard commented on #1390
@vorburger I was told odo only speaks S2I and the team asked for our S2I to integrate with Quarkus. @kadel ?

[2019-03-14 16:55] geoand commented on #1390
@emmanuelbernard that is true for the current state of `odo`. But I think @kadel has some plans to make change that

[2019-03-14 16:56] emmanuelbernard commented on #1390
OK, We can't wait plans I think at this stage. Burr is yelling at me for not having this work yesterday already.

[2019-03-14 16:57] geoand commented on #1390
Got it :) @kadel in that case we need to discuss how we can sneak this into in `odo` ASAP :P

[2019-03-14 17:02] emmanuelbernard commented on #1355
@gsmet I like it (on for dev mode).

[2019-03-14 17:14] matzew opened #1495 "Unable to initialize mediator"
Working on an application that reads Apache Kafka messages:

[code]

and in *DEV MODE* I am able to get this running and I see messages flying in.

However, when doing _native image_ build, and starting the *runner*, I do get this error:

[code]

[2019-03-14 17:29] matzew commented on #1495
and my dependencies are:

[code]

[2019-03-14 17:46] gsmet opened #1497 "Create a FAQ on how to solve issues with native images"
We had a few discussions about that lately on Zulip, we need to centralize everything with the solutions.

Not sure using SO for that is a good idea as it would be nice to have all of them centralize on a single page.

@geoand would you be interesting in taking the lead on this? I can point to the Zulip discussions

[2019-03-14 17:48] geoand commented on #1497
@gsmet certainly. If you point me to an initial list of questions, that would be great :)

[2019-03-14 17:53] geoand opened #1498 "Add maven wrapper to the generated projects"
It makes sense to add the maven wrapper to the generated projects (and to the quickstarts) in order to avoid problems were users are using a wrong maven version.

@gsmet @cescoffier Do you agree? If so, I can implement this

[2019-03-14 18:12] mmacphail commented on #1402
I can confirm the exact same problem, without spaces as well.

[2019-03-14 18:23] gsmet commented on #1497
* delay class initialization: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/--delay-class-initialization-to-runtime/near/160658801
* some reflection (probably) missing: https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/--delay-class-initialization-to-runtime/near/160662948 and https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/yasson.20reflection.

[2019-03-14 18:43] dmlloyd commented on #1402
The fix for #1436 *might* solve this as well though, because it might be a general URI quoting problem.  Have you both tried the latest upstream?  Alternatively you could wait for the 0.12.0 release, due next week most likely.

[2019-03-14 19:00] #1473 closed

[2019-03-14 19:28] mmacphail commented on #1402
I'm building right now the project from upstream but it might take a long time. Is there any easier technique to get the upstream jar?

[2019-03-14 19:32] gsmet commented on #1491
You mean when using RESTEasy + JSON-B?

[2019-03-14 19:37] gsmet commented on #1495
I suspect we would need to register the `ReactiveStreamsFactory` implementations for reflection. Do you have a specific one in your app?

If so, could you mark your implementation with `@RegisterForReflection` and see if it fixes your issue?

[2019-03-14 19:39] gsmet commented on #1481
It has already been done in master so it shouldn't be an issue with the next version.

@guanchao-yang Is your issue solved?

[2019-03-14 19:40] dmlloyd commented on #1402
The easiest trick is: `mvn clean install -DskipTests -Dno-native` - takes about 2 minutes :)

[2019-03-14 19:42] gsmet opened #1499 "Improve index.html welcome page"
We include in Quarkus a welcome page when creating a new project.

The current file is here: https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/test/resources/projects/classic/src/main/resources/META-INF/resources/index.html .

It could use some love once we have a logo. @jkbrock could your team take care of it once everything is settled? It's the first thing people will see when

[2019-03-14 20:15] matzew commented on #1495
only that one class I have

On Thu 14. Mar 2019 at 20:37, Guillaume Smet <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-03-14 20:18] gsmet commented on #1495
OK, looks like a bug then. Thanks for reporting.

[2019-03-14 20:20] mmacphail commented on #1402
Thanks! I think the build was fine. All the jars were installed in my `~/.m2` folder in `999-SNAPSHOT` version so that was taken care of!
I replaced the version in the line `<quarkus.version>999-SNAPSHOT</quarkus.version>` in the getting-started project pom.
However, when I'm building the project using `mvn compile quarkus:dev` I get the following error: `Error: Could not find or load main class i

[2019-03-14 21:30] petebowden commented on #1477
Is this a quarkus issue or a graal one?

See: https://github.com/oracle/graal/issues/534

[2019-03-14 21:48] gunnarmorling opened #1502 "Annotation processors are not re-run in dev mode"
Testing Quarkus with an annotation processor that generates source code, the MapStruct team noticed that the AP isn't re-run after code changes in dev mode.

[2019-03-14 22:49] dmlloyd commented on #1477
Definitely Quarkus.  The `RuntimeClassLoader` is not used in native images; in fact it's only used in dev mode.

[2019-03-14 23:24] dmlloyd commented on #1502
I wonder if there is some way to just capture the arguments that were passed to javac originally.

[2019-03-15 01:14] kenfinnigan commented on #1355
@danielpetisme my preference would be for us to include it directly as opposed to an additional dependency that does the wrapping, as then it's an extra step to update/fix Swagger UI

[2019-03-15 03:53] guanchao-yang commented on #1481
@gsmet  Thanks very much  , the problem has been solved.

[2019-03-15 06:36] emmanuelbernard opened #1505 "Offer a operation batch framework"
Batching operation and have the facility to restart on error.
This is jbatch territory. But let’s make sure we Panache it when we come to it.

[2019-03-15 07:08] geoand commented on #1497
Thanks @gsmet. Hopefully I will get to this over the weekend or early next week.

[2019-03-15 07:41] danielpetisme commented on #1355
@kenfinnigan directly into `quarkus-smallrye-openapi`?

[2019-03-15 08:43] matzew commented on #1495
@gsmet FWIW, here is my code:  https://github.com/matzew/quarfka-source

[2019-03-15 10:20] #1481 closed

[2019-03-15 10:24] gsmet commented on #1355
@danielpetisme yes, that would be my preference. And only enable it in dev-mode for now. See my comment here for some indications on how to do it: https://github.com/quarkusio/quarkus/issues/1355#issuecomment-471981874 .

[2019-03-15 10:27] danielpetisme commented on #1355
Ok I'll try it.

[2019-03-15 10:29] gsmet commented on #1355
Feel free to ask some guidance in a PR if you have some issues.

[2019-03-15 10:36] Sanne opened #1508 "Quarkus depending on maven-compiler-plugin version 3.8.0-jboss-2"
Version `3.8.0-jboss-2` is not available in Maven Central, so this dependency is having us require usage of the JBoss Maven repository.

I'm confident there was a good reason to choose this version, hoping others will comment on our options.

Related: should we replace the parent org.jboss:jboss-parent:32 with a quarkus alternative so to make it easier to make such adjustments?

[2019-03-15 12:30] kenfinnigan commented on #1355
It may be simpler to have it as a separate extension that is always included into OpenAPI. Then there’s no confusion over which code does what

[2019-03-15 12:39] rdifrango commented on #1491
@gsmet correct.

[2019-03-15 12:51] #1442 closed

[2019-03-15 12:59] danielpetisme commented on #1355
@kenfinnigan not sure to understand your position (surely a translation misunderstanding).

Do you want me to update `quarkus-smallrye-openapi` or create a `quarkus-swagger-ui` extension?
Sorry for the misunderstanding

[2019-03-15 13:10] kenfinnigan commented on #1355
No problem, can see how I made it confusing.

By not having an additional dependency, I meant purely an external one.

Yes, my preference would be a quarkus-swagger-ui extension that is then added as a dependency to quarkus-smallrye-openapi

[2019-03-15 13:12] rdifrango commented on #1491
So upon a quick test I did something roughly like the following:

[code]

and it resulted in:

[code]

[2019-03-15 13:42] kameshsampath opened #1511 "Enhance builder image with extra tools"
As of today the current container image does not have maven and other tools to build the containers effectively i.e. there is a multi step process to build container images that has quarkus binary.

The https://github.com/redhat-developer-demos/quarkus-java-builder has been built to enhance the devx with the following features:

- maven, buildah and podman along with graal-rc12 are included by def

[2019-03-15 13:50] gsmet commented on #1491
Hmmm, do you mean `@JsonbTypeAdapter(value = MyAdapter.class)` with a `.` instead of `::`?

You will probably need to also add `@RegisterForReflection` on the adapter implementation.

I don't know if this will work but another (better IMHO) option would be to use a provider implementing `ContextResolver<Jsonb>`. Something like:
[code]

[2019-03-15 14:21] gsmet commented on #1443
@dmlloyd I'm failing to see how that would prevent the IDE from generating its own MANIFEST.MF?

I think I would just update `DevMojo` and `RunnerJarPhase` to update a possibly existing MANIFEST with our entries (it's just the classpath and the main class). We could bail out (and either throw an error or log a warning) if they are already defined.

What would be interesting would be to have an exa

[2019-03-15 14:28] rdifrango commented on #1491
@gsmet Yeah, the `::` was because I'm using Kotlin :) .

I tried `@RegisterForReflection` and the same result.

I'll try the `ContextResolver` next.

[2019-03-15 14:34] rsvoboda opened #1514 "Unable to upgrade smallrye-jwt 1.1.0 to 1.1.1 due to constructor change in JWTCallerPrincipal"
Unable to upgrade smallrye-jwt 1.1.0 to 1.1.1 due to constructor change in JWTCallerPrincipal

https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/ElytronJwtCallerPrincipal.java#L38 calls JWTCallerPrincipal constructor but it was changed

Changed happened in https://github.com/smallrye/smallrye-jwt/commit/488d4383070f6

[2019-03-15 14:35] matzew opened #1515 "SmallRye Reactive Extensions for CloudEvents and HTTP"
I see in the `extensions` folder there is one from smallrye for kafka, and the core one.

it would be handy to have `-http` and `-cloud-events` there too.

With these available we can use this API to build Knative EventSources, since they read from X and post a CloudEvent via HTTP to a "injected" sink URL.

With pure SmallRye code, an Apache Kafka SRC looks like:

[code]

[2019-03-15 14:58] masini opened #1517 "Error using configured datasource"
Creating a project from the template, another DataSource inside the application.properties file:

[code]

and then injecting it into a JAX-RS resource:

[code]

the validationDataSource contains a proxy that once called with a getConnection() raise this Exception:

[code]

The same configuration for the default DataSource works well.

[2019-03-15 15:03] gsmet commented on #1497
One more interesting one, how to solve:
[code]
the Quarkus way.

[2019-03-15 15:07] Sanne commented on #1497
Would be great to detect messages like "Register the resource bundle using the option -H:IncludeResourceBundles=" and replace the text with "Quarkus way" instructions instead.

AFAIR Stuart already has put in place something which filters the error logs and does some replacing of the wording.

[2019-03-15 15:49] sberyozkin commented on #1514
@rsvoboda should be a straightforward update, where is the factory which creates this Principal, would like to have look first

[2019-03-15 15:53] sberyozkin commented on #1514
By the way, 1.1.1 is all about minimizing the duplication in classes like ElytronJWTCallerPrincipal. I actually thought at a time Thorntail was the only consumer of that code as I was not really aware of where the quarkus source was at a time :-).

[2019-03-15 15:55] sberyozkin commented on #1514
Got it, [it is the line](https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-jwt/runtime/src/main/java/io/quarkus/smallrye/jwt/runtime/auth/MpJwtValidator.java#L110) I needed

[2019-03-15 16:01] hguerrero opened #1518 "Unable to add smallrye-reactive-messaging extension"
When trying to add the smallrye reactive messaging extension nothing happens.

[2019-03-15 17:26] gsmet commented on #1518
Could you maybe be a bit more explicit? What do you expect exactly?

[2019-03-15 17:29] vnittala opened #1520 "Fixed order execution of unit tests"
Hi

I'm trying to execute unit tests in a fixed order, similar to @FixMethodOrder(MethodSorters.NAME_ASCENDING). Is it possible to do the same when writing units tests in quarkus?

Thanks
Kiran.

[2019-03-15 17:31] Riduidel commented on #1443
@gsmet I would be very happy to attempt a solution as a PR. I will try to do that this week-end

[2019-03-15 17:31] gsmet commented on #1497
This one also would be nice to consider:
[code]

You need to mark the element with `@RegisterForReflection`.

[2019-03-15 17:38] geoand commented on #1497
Definitely, that seems to be coming up a lot!

[2019-03-15 17:39] Riduidel commented on #1443
Howevern strangely, quarkus dev mode works correctly, so it seems to me the dev mode is not impacted (but I would love to have a way to make sure dev mode is not impacted)

[2019-03-15 17:58] sberyozkin commented on #1514
FYI, https://github.com/smallrye/smallrye-jwt/issues/29 (not relevant to this issue but I'm seeing a lot of duplication)

[2019-03-15 18:08] gsmet commented on #1520
We use the Maven surefire plugin and JUnit 5 (by default) so you can use the methods that work for them.

For instance, see `<runOrder>` [here](https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html) for surefire.

[2019-03-15 18:08] hguerrero commented on #1518
`mvn quarkus:add-extension -Dextension="io.quarkus:quarkus-smallrye-reactive-messaging"` does nothing
expected to have the dependencies added to the pom.xml file

[2019-03-15 18:12] gsmet commented on #1518
It's `-Dextensions` plural form.

We had a discussion about that here https://github.com/quarkusio/quarkus/issues/1347 and, in master, we now support singular and plural form for both the command and the option.

We also improved error reporting.

[2019-03-15 18:15] hguerrero commented on #1518
working using the "extensions"

[2019-03-15 18:15] #1518 closed

[2019-03-15 18:46] rsvoboda opened #1522 "H2 upgrade from 1.4.197 to 1.4.199 makes Agroal DefaultDataSourceConfigTest test fail"
H2 upgrade from 1.4.197 to 1.4.199 makes Agroal DefaultDataSourceConfigTest test fail

The main trouble seems to be `Caused by: org.h2.jdbc.JdbcSQLNonTransientConnectionException: Database "mem:default" not found, and IFEXISTS=true, so we cant auto-create it [90146-199]`

[code]

[2019-03-15 18:48] vnittala commented on #1520
Thank you @gsmet, I'll close the issue.

[2019-03-15 18:48] #1520 closed

[2019-03-15 18:54] rsvoboda opened #1524 "Vert.x upgrade from 3.6.2 to 3.6.3 has conflict with io.smallrye.reactive:smallrye-axle-generator:0.0.1"
Vert.x upgrade from 3.6.2 to 3.6.3 has conflict with io.smallrye.reactive:smallrye-axle-generator:0.0.1

[code]

To upgrade Vert.x is it necessary to go via smallrye-axle bits ?

I think there could be some flexibility to bump Vert.x version without touching axle.
@cescoffier wdyt ?

[2019-03-15 19:02] rsvoboda commented on #1522
http://www.h2database.com/html/features.html#database_only_if_exists - Opening a Database Only if it Already Exists

[2019-03-15 19:29] Sanne commented on #1522
hi @rsvoboda, it's really not the intention of extensions to allow people to override the platform versions.

It's a bit sad but that's how it is.  I'm not planning to upgrade to 1.4.199 as it has some severe regressions...

So what is this issue about?

[2019-03-15 19:38] geoand commented on #1502
Is there a way perhaps for Maven to write those arguments to a file from which we could read at recompile time?

[2019-03-15 19:43] gsmet commented on #1502
You don't have the capability to get the whole Maven configuration in a particular mojo?

[2019-03-15 19:47] geoand commented on #1502
I am not a Maven internals expert, but that does sound like it could work.

[2019-03-15 20:23] #745 closed

[2019-03-15 20:42] rsvoboda commented on #1522
1.4.198 has some issues too, we have to stay with 1.4.197

@Sanne, so in end the issue is not on our side as you pointed out, H2 is the trouble. I think I will close the issue.

Should we add a comment to bom so people don't waste their time trying to update H2 version ?
Or comments in this issues is sufficient note for users ?

[2019-03-15 20:43] jkbrock commented on #1499
@gsmet we'll definitely help. But I have a couple of questions:

- Is this a patternfly layout?
- Here's a screenshot rendered from that code, is this what you're displaying now?

![Screen Shot 2019-03-15 at 3 41 40 PM](https://user-images.githubusercontent.com/10758508/54460904-ef4c3380-4738-11e9-8624-52f2cbad9b27.png)

[2019-03-15 20:45] Sanne commented on #1522
Adding a comment to the BOM is probably a good start :+1:

I'm thinking we should also make it very clear in other docs / guides that version overrides aren't allowed; let's check what others think at the next design meeting?

[2019-03-15 21:19] sberyozkin commented on #1514
A lot of duplication between Quarkus smallrye-jwt and smallrye-jwt, PR is nearly ready but unfortunately the Quarkus code diverged in the way the conversion from claim values to JSON objects is done, so I'll have to think it would be simpler to do 1.2.0. I should've proposed to do 1.2.0 instead of 1.1.1 after my changes went in, my mistake.
However I'm positive the end result will be good for Quar

[2019-03-15 21:22] gavinking opened #1525 "nonstandard behavior for bean discovery"
ArC has apparently made a decision to only support the CDI `"annotated"` bean discovery mode. That is, only classes with an explicit scope type annotation, or a stereotype, are considered beans and thus injectable.

It seems that in #124, it was realized that this just wasn't a good approach, since it would mean that even things like static producer methods weren't discovered. So scanning for `@Pr

[2019-03-15 21:32] #1317 closed

[2019-03-15 21:45] gsmet commented on #1524
We need to define the `vertx-codegen` version in the BOM so that it doesn't conflict.

[2019-03-15 22:01] pedroigor opened #1528 "[Security Extension] - AuthConfig only configured if IdentityManager is produced"
The security extension is only configuring the authentication mechanism configuration to deployments when processing identity manager instances produced during the build, making impossible to configure authentication mechanism from other extensions when these extensions do not need to produce identity manager instances.

[2019-03-15 22:18] gsmet commented on #1499
I don't think it's a patternfly layout, it's styled very basically (we need all the styles to be embedded so that the user only has to delete one file to get rid of it).

And yes, this is how it looks right now. Thus my request :).

[2019-03-16 06:20] agoncal opened #1531 "QuarkusTest cannot run package private test class"
Version: Quarkus 0.11.0

I have the following test class:

[code]

If the class is `public` everything is ok and the test runs smootlhy. If I make the class package visible (my IDE did it for me as a kind of optimisation), then the test fails with the following exception (`can not access a member of class NumberResourceTest with modifiers ""`)

Feature or bug ?

[code]

[2019-03-16 07:59] jnizet opened #1532 "Gradle integration test doesn't actually run the test"
The gradle-it module has a test, but this test is never executed because the gradle test task isn't properly configured to `useJUnitPlatform()`.

If the test tack is properly configured, then the test fails, due to #1458

Besides, the configuration `testCompile` used by the gradle build is deprecated. The correct configuration is `testImplementation`. See https://docs.gradle.org/current/userguide/

[2019-03-16 08:18] jnizet opened #1533 "Using gradle compileOnly configuration is wrong"
I still don't know exactly why it was chosen to use the `compileOnly` configuration for dependencies, but it looks wrong to me. Let me elaborate:

1. The compileOnly configuration, as its name indicates, is for dependencies (and their transitive dependencies) that are only used at compilation time, and should thus not be added to the runtime classpath. This is not the case of quarkus dependencies:

[2019-03-16 10:35] geoand commented on #1531
Thanks for reporting the issue @agoncal!

This issue has been fixed as part of #1417. I retested with master and everything worked as expected.

Feel free to reopen if you try master or the upcoming `0.12.0 `and and it doesn't work as expected

[2019-03-16 10:35] #1531 closed

[2019-03-16 12:09] chris922 opened #1534 "Java 12 build fails: Could not initialize class org.jboss.classfilewriter.DefaultClassFactory"
This issue looks very similar to #819, but it is a different class (from probably the same library):

Running our build with Quarkus 0.11.0 on JDK 12 fails:

_Could not initialize class org.jboss.classfilewriter.DefaultClassFactory_

[code]

You will find the full build-output here: https://travis-ci.org/mapstruct/mapstruct-examples/jobs/506375906 (I am not sure if these logs will be discarded aft

[2019-03-16 12:44] chris922 commented on #1502
I got the dev-mode (partially) working with our MapStruct annotation processor (see mapstruct/mapstruct-examples#59 / https://github.com/mapstruct/mapstruct-examples/commit/f05e97d3af542f6aafd49cc198c9ab846108fbf6):

Previously I defined the annotation processor using the `maven-compile-plugin`:

[code]

This will not work together with the dev-mode. I assume the annotation processor path defined

[2019-03-16 14:44] Sanne commented on #1522
should we close this?

[2019-03-16 15:43] gsmet commented on #1502
On Sat, Mar 16, 2019 at 1:44 PM Christian Bandowski <
notifications@github.com> wrote:

It's Saturday so crazy ideas are allowed.

I wonder if we could have something like a HotReloadClassGroup and you
would trigger the compilation of the whole group every time you change a
class of the group.

It wouldn't be automatic but it would be done on a declarative basis.

For MapStruct, I think you could

[2019-03-16 16:10] #1498 closed

[2019-03-16 16:48] gunnarmorling commented on #1502
So I have no clear understanding of how the Quarkus' dev mode environment and the compiler interact, but it might be worth checking out what Gradle is doing in regards to "incremental annotation processing". In particular, they are using the `originatingElement` information passed to the `Filer` methods such as `createSourceFile()` to deduct which annotation processors need to be executed again af

[2019-03-16 16:51] geoand commented on #1502
Very interesting @gunnarmorling, definitely something worth checking.

For the time being, the devmode / compiler interaction is quite simple, see:  https://github.com/quarkusio/quarkus/blob/6cf20b0046ccc38af7f4732719f22905952863a7/core/devmode/src/main/java/io/quarkus/dev/JavaCompilationProvider.java#L31

[2019-03-16 19:09] Sanne opened #1535 "Security components are missing the version in the BOM"
The Security guide suggest it's enough to add  the following to a Quarkus project:

[code]
This results currently in :

[code]

[2019-03-16 21:02] #1535 closed

[2019-03-17 02:41] jclingan opened #1537 "Fault Tolerance @Fallback with @Timeout not working Properly with Panache ORM"
While executing a method using Panache ORM (MyEntity.findById()) that is annotated with `@Fallback` and `@Timeout`, the fallback is always called. The issue may be either with Panache or with SmallRye Fault Tolerance.

If `@Timeout` is is replaced with` @Retry`, the method executes properly. If Panache ORM is not used at all, the method executes properly with either `@Retry` or `@Timeout`.

As a r

[2019-03-17 02:50] jclingan commented on #1294
This no longer seems to be an issue.

[2019-03-17 02:50] #1294 closed

[2019-03-17 07:19] Riduidel commented on #1443
I'm quite confident now that I understand how `RunnerJarPhase` produces the manifest. Let me explain what I understand to see if I'm right.

So, in `RunnerJarPhase#buildRunner(....)` we have (in lines 330-350) that code

[code]

What I understant is that quarkus first create its own manifest, then copy existing files. It explains how previously existing manifest will overwrite quarkus one (hence m

[2019-03-17 08:12] xstefank opened #1538 "MP config injection types"
According to [1] Quarkus app should be able to inject config properties like:

[code]

or

[code]

The Provider injection fails with Arc as it cannot resolve injection [2] and second List injection fails because List converter is not used by default which I think it should be according to the spec [3]. It doesn't also work with Set or String[].

[1] https://github.com/eclipse/microprofile-config/b

[2019-03-17 11:00] stalep commented on #1533
Hi, as you mention the reason why 'compileOnly' was used is because it's the recommended configuration with regards to 'provided'. As the quarkus build/native plugin takes care of this for you, the only issue here is tests if I'm not misunderstanding. I guess 'providedCompile' from the war task is something you have in mind?

[2019-03-17 11:17] jnizet commented on #1533
No, not really. As far as I know, the provided scope in Maven was designed for dependencies that you need at compile time and at runtime, but which don't need to be bundled with your artifact because the artifact (a war file, typically) is deployed in a container which provides the dependency.

That's not the case here: there is no container, and the dependencies need to be bundled with the produc

[2019-03-17 11:34] yuhaibohotmail opened #1539 "When I run Jmeter for testing a native executable of getting-started project, the server seems to hang"
I run a native executable of getting-started project,everything is normal。
![2](https://user-images.githubusercontent.com/48646226/54489791-1b0f1b00-48eb-11e9-9eba-7fbb4ebc0be6.PNG)
![01](https://user-images.githubusercontent.com/48646226/54489814-5dd0f300-48eb-11e9-86b6-e3e2db4ac2db.PNG)
![0](https://user-images.githubusercontent.com/48646226/54489820-6aede200-48eb-11e9-857a-c3d6b59bdff3.PNG)

bu