[2020-11-09 08:06] tlvenn commented on #7665
@mkouba unless I am missing something, it seems like it's impossible to set the locale for an email template ?

[2020-11-09 08:21] jmartisk opened #13178 "Allow activating provided health checks by configuration"
Right now, if users want to use the health checks provided by SmallRye (https://github.com/smallrye/smallrye-health/tree/2.2.5/provided-checks/src/main/java/io/smallrye/health/checks), they need to register them programmatically. There should be a set of config options which allow getting them activated automatically.

[2020-11-09 08:37] mkouba commented on #7665
@tlvenn I don't think so, file a new issue pls.

[2020-11-09 08:44] miquelsi opened #13180 "AgroalDataSource causes tests to fail with UnsatisfiedResolutionException"
**Describe the bug**
Injecting an `AgroalDataSource` causes `@QuarkusTest` tests to fail.

**Expected behavior**
Tests are executed with no failures.

**Actual behavior**
Running the tests produces the following error
[code]

**To Reproduce**

Steps to reproduce the behavior:

Clone and execute project in https://github.com/miquelsi/agroal-datasources or follow the steps below.

1. Create project

[2020-11-09 08:58] #12847 closed

[2020-11-09 09:12] Sanne commented on #13029
thanks for bringing it to my attention @Meemaw ! Sorry, I think we hadn't noticed it - the label will help prioritizing, but I'll leave that to @gsmet to evaluate and schedule.

[2020-11-09 09:16] gsmet commented on #13180
You need to also define:
[code]

[2020-11-09 09:35] miquelsi commented on #13180
Thanks, updated.

[2020-11-09 09:55] mickroll commented on #12847
@aureamunoz this looks great 🚀

[2020-11-09 09:57] gsmet commented on #13180
So now your tests are passing, it's the main build that fails because the datasource is not defined.

You need to also define the datasource in the main `application.properties`.

`cat src/test/resources/application.properties > src/main/resources/application.properties` fixes your build.

[2020-11-09 09:58] gsmet commented on #13158
@FroMage @Ladicek does it ring a bell?

[2020-11-09 10:06] gsmet commented on #13176
Which version of Quarkus is it?

/cc @mkouba @cescoffier

[2020-11-09 10:11] FroMage commented on #13158
Doesn't ring a bell, but you also observed a CI issue in CP, so perhaps it's the same thing?

[2020-11-09 10:17] mkouba commented on #13176
An automatic conversion is not supported yet. See https://quarkus.io/guides/reactive-routes#reactive-route-methods for more info.

[2020-11-09 10:18] mkouba commented on #13176
Duplicates https://github.com/quarkusio/quarkus/issues/11481

[2020-11-09 10:18] #13176 closed

[2020-11-09 10:27] FroMage commented on #13158
I have tried it, and successfully ran jmeter with 1000 threads, I can't reproduce.

[2020-11-09 10:28] miquelsi commented on #13180
Right, thanks for the answer, now it works :+1:

[2020-11-09 10:28] #13180 closed

[2020-11-09 10:39] gsmet commented on #13100
So, about this particular reproducer, I got it working with the following changes:
- remove the `persistence.xml`
- fix the JDBC driver dependency
- added `quarkus.datasource.db-kind=mysql` to the `application.properties`

[code]

[2020-11-09 10:39] gsmet commented on #13100
@jarve I have no idea if your issue is similar or not.

If not, please provide a reproducer so that I can check.

[2020-11-09 10:44] hyperman1 commented on #10264
Concerning:
 But the usage of the role mapper itself should be fixed at buildtime or at runtime?

For us it doesn't matter.   Some conflicting concerns, feel free to choose whichever you like ;-)

* dev and prod security may be drastically different, managed by different people with access to different security systems.  An Infosec team might decide on the fly to change the rules.  Hence, all secu

[2020-11-09 11:01] ia3andy commented on #12522
I will take on that one as this is really needed and I didn't have any update from @SumaiyaSafdar about being in progress..

[2020-11-09 11:21] Tayeh opened #13183 "how i can get list of 10 random unique objects with Hibernate Panache ?"
how i can get list of 10 random unique objects with Hibernate Panache ?

**Configuration**
[code]

[2020-11-09 12:07] abutic commented on #13161
@machi1990, thank you for your response! Any clue on when we can expect Vertx Redis Client to provide support for SSL and `rediss` scheme?

[2020-11-09 12:23] andrzejszywala opened #13184 "Add referral mode config property to the quarkus.security.ldap.dir-context"
**Description**
Add referral mode config property to the quarkus.security.ldap.dir-context.
In io.quarkus.elytron.security.ldap.LdapRecorder.createDirContextSupplier there is hardcoded DirContextFactory.ReferralMode.IGNORE passed to dirContextFactory.obtainDirContext method. Please add to DirContextConfig new config property quarkus.security.ldap.dir-context.referral-mode because there is sometime

[2020-11-09 13:06] machi1990 commented on #13161
You are welcome.

I think @pmlopes may be able to give a reasonable answer on this.

[2020-11-09 13:13] mkouba opened #13186 "Qute: type-safe expressions - fix the template extension method matching algorithm"
For example, if there is an expression `{item.discountedPrice}` a template extension method like this:
[code]
matches the expression even if the number of parameters does not match. The expected behavior: build fails. It does not match the expression `{item.discountedPrice()}` though (the correct behavior).

[2020-11-09 13:20] dufoli commented on #13054
@gastaldi can you create jna on quarkiverse and clone repo from mine (dufoli/quarkiverse-jna) . it is now failing with
Fatal error:java.lang.RuntimeException: java.lang.RuntimeException: There was an error linking the native image: Linker command exited with 1
...
quarkus-jna-integration-tests-0.1.0-SNAPSHOT-runner.o:(.data+0xaa0): undefined reference to `Java_java_util_prefs_FileSystemPreferences

[2020-11-09 13:23] ebullient commented on #13163
absolutely! that would be welcome.

[2020-11-09 13:31] fafanoulele opened #13187 "RESTEASY003880: Unable to find contextual data of type when quarkus-undertow-websockets dependency added"
**Describe the bug**
Once I had the dependency `quarkus-undertow-websockets`, the filter/interceptor fails with this error:
[code]

**Expected behavior**
It should not throw this exception.

**Actual behavior**
Error exception:
[code]

**To Reproduce**

The reproducer is there: https://github.com/fafanoulele/quarkus-issue-RESTEASY003880

Steps to reproduce the behavior:
1. Start the app i.e. `./mv

[2020-11-09 13:48] Postremus opened #13188 "A Request Scoped field producer is still dependend"
**Describe the bug**
I have a producer field like this:

[code]

I inject the Requestscoped cache into my rest resource. However, it is always the same instance, and still contains values from the previous invocation.
The Scope is most likely not respected.

**Expected behavior**
The bean produced by a request scoped field producer should actually be request scoped. i.e. be a new instance on every

[2020-11-09 14:33] gsmet commented on #13161
Yeah, it sounds like a pretty annoying limitation.

[2020-11-09 14:40] jarve commented on #13100
My issue was missing quarkus.datasource.db-kind=mariadb setting. After adding it to application.properties I can upgrade quarkus version.

[2020-11-09 14:49] abutic commented on #13161
OK, it looks like this has been resolved with https://github.com/vert-x3/vertx-redis-client/pull/234.

According to https://github.com/vert-x3/vertx-redis-client/releases, version `4.0.0.CR1` is out, so we're waiting for version `4.0.0` to be released and then included in Quarkus. Right?

[2020-11-09 14:59] #13095 closed

[2020-11-09 15:01] gsmet commented on #13161
Ah OK, that's good news.

Vert.x 4 integration will probably be end of year/beginning of next year though. We have a ton of work/testing/benchmarking to do before moving to Vert.x 4.

[2020-11-09 15:14] Sanne commented on #13183
hi @Tayeh , please ask such questions on Zulip or stack overflow: github issues are meant to report issues.

[2020-11-09 15:14] #13183 closed

[2020-11-09 15:20] abutic commented on #13161
@gsmet, I was under the impression we were talking about Vert.x **Redis Client** version `4.0.0`, that could technically be part of Vert.x 3, but I guess I was wrong. OK, thank you for the time perspective.

[2020-11-09 15:29] pmlopes commented on #13161
Hi, vertx redis 4.0.0 has full support for SSL, and cluster SSL and has been properly tested and added as part of CI. Backporting it to 3.9 could be possible but we need to take in consideration that currently 3.9 and 4.0 code are quite apart as 4 is a major release.

Having that said, backporting could be possible but I can't commit to it. If someone is interesting on trying to cherry pick the SS

[2020-11-09 15:40] aomsweet commented on #13176
thanks. @gsmet @mkouba

[2020-11-09 15:43] geoandri commented on #12246
Hi @maxandersen ,

do you happen to know who should I ping for a review on this PR?

[2020-11-09 15:57] gastaldi commented on #13166
Repository created in https://github.com/quarkiverse/quarkiverse-minio. You should have push permission @jtama-op

[2020-11-09 15:57] #13166 closed

[2020-11-09 16:04] gastaldi commented on #13054
@dufoli I created https://github.com/quarkiverse/quarkiverse-jna and gave you push access. Feel free to push your code there when it's usable.

Thanks! Closing this issue now

[2020-11-09 16:04] #13054 closed

[2020-11-09 16:07] cescoffier opened #13192 "Vert.x SockJS extension"
**Describe the extension**

This extension would enable and configure the Vert.x SockJS bridge.
This bridge allows bi-directional interaction between a web app (in-browser) and an application (using the Vert.x event bus).

**Configuration suggestion**
[code]

**Additional context**

It would also be possible to serve the event bus JavaScript client (the client-side of the bridge) and its dependenc

[2020-11-09 16:07] cescoffier commented on #13192
@tsegismont - did I forget anything?

[2020-11-09 16:15] gastaldi commented on #9314
According to https://github.com/oracle/graal/issues/2644#issuecomment-677035831, it should be possible in GraalVM once JDK 13 support is introduced

[2020-11-09 16:27] sberyozkin commented on #13184
@andrzejszywala Thanks for this proposal, can you please consider a PR and CC to @hartimcwildfly ? I maybe able to review as well, thanks

[2020-11-09 16:49] sberyozkin commented on #13110
Hi @gsmet `Security Overview` as the very 1st box plus the boxes per individual security guides sounds good, each of these individual guides already provides a reverse link back to this central Security Overview Page.
The only extra thing which would be good to have IMHO is to address @rsvoboda 's issue, but such that the users don't miss the guides, for example, if a user types `sso` he/she would

[2020-11-09 16:56] gsmet commented on #13184
Just do:
[code]
and it will get properly autodocumented and you will avoid some boilerplate :).

(`ignore` as lowercase, everything will be handled by Quarkus to get the enum value from this string)

[2020-11-09 17:06] gsmet commented on #13110
I think it wouldn't be too hard to add the notion of keywords to the search engine.

I'll add it to my todo list.

[2020-11-09 17:27] sivelli commented on #13158
Hi @FroMage. I know that reproducing deadlocks isn't easy, but in this case in my tests it happens almost every time. I tested it on two different machine, using Linux and Windows and Java 11 and Java 14.
I changed a little the code to force a cache miss on each request. It may help to reproduce the error.
Anyway, I'll investigate more this issue. I had to disable all cache on my application to av

[2020-11-09 17:31] sberyozkin commented on #12984
@missourian55 I've spent some time on testing this workaround but since both the jwk refresh and introspection calls are totally async I could not block the introspection once.
Hence I've started this discussion: https://groups.google.com/g/vertx/c/4GD7bq-uLMU
thanks

[2020-11-09 17:36] sberyozkin commented on #12984
Of course we are dealing with a somewhat academic case here, we expect the users do a proper HTTPS, even MTLS, but nonetheless, if we can optionally block the remote introspection then it would be a good option to have

[2020-11-09 17:53] #12913 closed

[2020-11-09 18:19] dufoli opened #13195 "extension cookbook"
I propose a new documentation more dev oriented for extension instead of api oriented.

[2020-11-09 18:55] maxandersen commented on #9314
We don't necessarily need native image support to have quarkus support for swing. Will be nice when we can :)

@hosseinmp76 about progress - we don't have it as a priority but someone wants to take a stab at It we will be more than interested in helping on progress.

[2020-11-09 19:00] maxandersen commented on #12246
Pinged on the pr! Thanks!

[2020-11-09 19:22] vonatzigenc commented on #13163
Since the bean is only used programmatically in io.quarkus.micrometer.runtime.MicrometerRecorder#configureRegistries during runtime-init, I am not sure if the bean would not be considered "unused" and therefore removed.

I will create the PR as soon as the CI-Build on the branch is done.

[2020-11-09 19:27] ebullient commented on #13163
[code]
That creates an unremovable bean. You're declaratively defining a CDI bean (rather than relying on the annotations to do it).

[2020-11-09 20:37] gunnarmorling commented on #13163
Yeah, would love to see a PR for this, it's up very high on the wish list for the Quarkus Kafka Streams extension! I did a quick PoC implementation a [while ago](https://quarkus.io/blog/kafka-streams-applications-with-quarkus-and-microprofile/#metrics) (still using MP Metrics back then); perhaps it can serve as inspiration.

[2020-11-09 21:05] vonatzigenc commented on #13163
We have used the blog post as the basis for our services. but since micrometer already has support for KafkaStreams, all we need is the integration of KafkaStreamsMetrics.

[2020-11-09 21:53] abhinavg18 commented on #10427
After doing this, I receive the below error. [error]: Build step io.quarkus.arc.deployment.ArcProcessor#validate threw an exception: javax.enterprise.inject.spi.DeploymentException: Found 3 deployment problems:                                                                                                                                                                   [1] Ambiguous dependencies

[2020-11-09 22:42] pedroigor opened #13202 "Allow releasing runner class loader resources"
**Description**
When doing CLI applications it might be necessary to make the re-augmentation process more transparent to users by issuing specific commands to the application, where these commands may have different options and logic that require configuring and parsing arguments using Picocli.

When doing re-augmentation on Windows, the JARs generated during the re-augmentation may be locked whe

[2020-11-09 22:48] pedroigor commented on #13202
Fixed by https://github.com/quarkusio/quarkus/pull/13157

[2020-11-09 22:48] #13202 closed

[2020-11-09 23:27] ebullient commented on #13163
I added some comments, as I've been thinking about it since we talked earlier.. let me know what you think.

[2020-11-09 23:27] abhinavg18 opened #13205 "Quarkus OIDC quarkus.oidc.enabled and DisabledAuthController doesn't seem to work"
**Describe the bug**
Setting this `quarkus.oidc.enabled=false` doesnt "disable" the OIDC features. Added the below code as well
[code]
import javax.annotation.Priority;
import javax.enterprise.context.ApplicationScoped;
import javax.enterprise.inject.Alternative;
import javax.interceptor.Interceptor;

import io.quarkus.security.spi.runtime.AuthorizationController;

@Alternative
@Priority(Intercept

[2020-11-10 01:37] #12754 closed

[2020-11-10 01:37] #13040 closed

[2020-11-10 03:04] davidhua94 opened #13206 "Can't build native image in windows10"
**Version Info**
jdk: 1.8.0_231
maven: 3.6.2
graalvm: graalvm-ce-java8-19.3.1
quarkus: 1.9.2.Final

[code]

**Expected behavior**
Compile success and generate a native image

**Actual behavior**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1.  Use the sample code [quarkus-quickstarts](https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started)
2.  execute ```mvn verif

[2020-11-10 05:29] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/355238685

[2020-11-10 06:48] SumaiyaSafdar commented on #12522
hey, actually the thing is I really do want to work.But have no clue as to how to start please help.The slack community is in some other language .its quite difficult to get some help.

[2020-11-10 06:52] SumaiyaSafdar commented on #12522
@ia3andy  kindly please tell me do I need to learn quarkus ? From where can I begin?

[2020-11-10 07:33] dufoli commented on #13206
I really think it lacks documentation for windows.
1) you need Microsoft SDK
and run:
CALL "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64
before building.

[2020-11-10 09:05] ia3andy opened #13208 "Create a Picocli example codestart for Quarkus JBang project type"
**Description**
Create a Picocli example codestart for Quarkus JBang project type.

**Implementation ideas**
Take inspiration from the RESTEasy example: https://github.com/quarkusio/quarkus/tree/master/devtools/platform-descriptor-json/src/main/resources/codestarts/quarkus-jbang/code/jbang-resteasy-code

[2020-11-10 09:06] ia3andy opened #13209 "Introduce a new CLI command to create JBang Quarkus projects"
**Description**
Introduce a new CLI command to create JBang Quarkus projects with a warning saying it's experimental.

[2020-11-10 09:40] tsegismont commented on #13192
@cescoffier There should be a parameter for the mount point of the bridge. Something like:

`quarkus.sockjs.bridge.path=/my/custom/path` (may default to `/eventbus`)

The `inbound` and `outbound` params can be a list of strings or regular expressions.

Then in the implementation we should think about how to integrate with the Quarkus authentication system.

For all these reasons, I believe it's in

[2020-11-10 09:53] manovotn commented on #12896
To sum up, the issue is that Quartz scheduler uses dynamic resolution in the form of `Arc.container().instance(UserTransaction.class)` which throws this warning but also mangles the scheduler functionality if the bean was removed.
Thanks for the investigation @ochaloup!

[2020-11-10 10:16] Sanne commented on #13202
hi @pedroigor - did you mean to close this?

[2020-11-10 10:23] #13184 closed

[2020-11-10 10:42] gsmet opened #13210 "Test Hibernate Search issue"
Please ignore.

[2020-11-10 10:49] #13210 closed

[2020-11-10 11:04] Serkan80 commented on #12959
@mkouba @gsmet  I'm testing this in Quarkus 1.9.2.Final and it still doesn't work. The application starts now without any exceptions, but when I throw an error it doesn't get handled from the failure handling route.

I throw my error as follows:

`
   return this.client.hget(AGGREGATE_TABLE, id)
                .onItem().ifNotNull().transform(res -> res.toString())
                .onItem().ifNull

[2020-11-10 11:12] #12896 closed

[2020-11-10 11:19] pujavs commented on #12659
Still getting issues with Quarkus 1.9.2.Final . Please advice

[2020-11-10 11:25] mkouba commented on #12959
@Serkan80 This merely shows the code that produces a failed `Multi`, right? Do you return this `Multi` from a route method? I need to check what the generated code looks like. @cescoffier may know off the top of his head ;-).

[2020-11-10 11:39] Serkan80 commented on #12959
@mkouba No, I'm throwing this error just from a regular class:

 `
   public Uni<String> getTemperatureAggregateByStationId(String id) {
        return this.client.hget(AGGREGATE_TABLE, id)
                .onItem().ifNotNull().transform(res -> res.toString())
                .onItem().ifNull().failWith(new NotFoundException("TemperatureAggregate(id=%s) not found", id));
     }

`

And this method

[2020-11-10 11:50] mkouba commented on #12959
Ah, I can see the problem now. Our example in the docs is wrong because if no `Route#path()` is specified for a route the method name is used instead (this behavior is mentioned in the docs and also in `@Route` javadoc). So the correct solution is to use `@Route(path = "/*", type = Route.HandlerType.FAILURE, produces = "application/json")`...

[2020-11-10 11:52] mkouba commented on #12959
Maybe we should change this behavior for failure handlers where the method name is not really relevant? It should be an easy fix. @cescoffier WDYT?

[2020-11-10 11:56] Serkan80 commented on #12959
OK, now it works.

Can't you just make the path default to "/*" ? Does it make sense to provide a name to the path when exception handling ?

[2020-11-10 12:24] geoand commented on #12551
Does the same issue occur if you use the same application without the Azure Functions functionality?

[2020-11-10 12:35] mkouba commented on #12959
Sometimes it does make sense to specify a path for a failure handler but if no path is specified it should match all requests (as I mentioned in https://github.com/quarkusio/quarkus/issues/12959#issuecomment-724653904).

[2020-11-10 12:52] cescoffier commented on #12111
@aloubyansky We got another gradle issue.

[2020-11-10 13:05] gsmet commented on #12111
/cc @glefloch

[2020-11-10 13:12] glefloch commented on #12111
The four failed tests are the same as those failing in the Release test build job.
https://scans.gradle.com/s/5l4nogf7lawhc/tests

[2020-11-10 14:02] cx-lmp commented on #12551
At least in my case, this doesn't happen when the application is started outside of Azure Functions. I think that's pretty natural, though, because I don't think the Azure Functions specific code is accessed in that case.

[2020-11-10 14:08] gsmet commented on #12551
Are you sure all your artifacts are consistent and you don't have old artifacts around?

It looks a lot like a problem you would have with mixed versions.

[2020-11-10 14:50] geoand commented on #13206
@dufoli mind contributing to the documentation with your suggestion?

[2020-11-10 14:51] gsmet commented on #13110
@sberyozkin here it is: https://github.com/quarkusio/quarkusio.github.io/pull/788

I also added the ability to add keywords and added `sso` as a keyword for all the OIDC guides.

[2020-11-10 15:01] geoand commented on #13187
This is expected behavior.

When you add any Undertow related dependency, then the underlying IO is no longer handled by Vert.x (which is where `io.vertx.core.http.HttpServerRequest` is coming from), but by Undertow.

What you can do in order to use something that will work in both cases is use information from the `ContainerRequestContext context` parameter or try using any of the following objec

[2020-11-10 15:01] #13187 closed

[2020-11-10 15:29] PedroEsnaola opened #13213 "Problem with apache-mime4j-storage when using rest-easy-multipart (already solved, but hardcoded on my pom)"
When using quarkus-resteasy-multipart, i've received a NoSuchFieldError: Default
this exception has been thrown durign to a incorrect dependency on quarkus-resteasy-multipart, to solve this, i exclude the dependency
`
<dependency>
            <groupId>org.apache.james</groupId>
            <artifactId>apache-mime4j-storage</artifactId>
            <version>0.8.3</version>
        </dependency>

[2020-11-10 15:34] geoandri commented on #13209
I can try tackling this, if no one else hasn't started working on it.

[2020-11-10 15:36] ia3andy commented on #13209
@geoandri create a new command `create-jbang`

[2020-11-10 15:38] ia3andy commented on #13209
Here is the code to create a jbang quarkus project:
[code]

[2020-11-10 15:41] ia3andy commented on #13209
Have a look to `QuarkusJBangCodestartProjectInputBuilder` to know the available options:
- extensions
- no jbang wrapper

Also you will need to create a new command in `io.quarkus.devtools.commands`, have a look at the existing to get inspiration..

[2020-11-10 15:48] geoandri commented on #13209
Thanks @ia3andy !

[2020-11-10 15:53] FroMage commented on #13158
Tried it again and still no deadlock. How many cores do you have?

[2020-11-10 16:19] sophokles73 opened #13214 "Support configuration of AddressResolverOptions of managed vert.x instance"
**Description**
The vert.x extension currently does not support configuring the managed vert.x instance's `AddressResolverOptions`. It would be nice if at least the options used in the snippet below could be configured:
[code]

**Implementation ideas**
IMHO these options could be added analogously to the already supported `EventBusConfiguration`, i.e. adding a separate config class like `AddressRe

[2020-11-10 18:19] serrodcal opened #13215 "No parameter injector found for parameter 1 of route method"
I'm not sure about this is a bug or not. Anyway, I'm getting the following error using Reactive Routes:

[code]

In the Resource, I annotated a method argument as `@Param` but Quarkus is not able to build the application:

[code]

Is it possible to use @Param to inject the value of the param?

I'm using Quarkus 1.9.2.Final and Java 11.

[2020-11-10 18:25] dufoli commented on #13206
For the moment, I have write an extension cookbook. And My build still do not work fully on my env. So, I wait to have all info to make it working.
I have open a ticket over graal jira
https://github.com/oracle/graal/issues/2975

[2020-11-10 18:33] sivelli commented on #13158
Hi @FroMage, I have 8 cores. You can try decreasing the number of threads of the Quarkus executor from 200 to 10 using this configuration: quarkus.thread-pool.max-threads=10

However I think I finally figured out the problem. I spent some hours investigating but I concluded that it's a simple thread starvation issue.

The quarkus-cache extension configures the caffeine executor with the Quarkus Ma

[2020-11-10 19:24] geoand opened #13216 "Evaluate the use of parentFirst artifacts in io.quarkus.bootstrap.runner.RunnerClassLoader"
**Description**
As mentioned in https://github.com/quarkusio/quarkus/pull/13157#issuecomment-724612324, the JDK ClassLoader seems to be loading more jars that necessary when using the `fast-jar`.
Ideally we want all jars (other than the Quarkus bootstrap jars) to be loaded by the `io.quarkus.bootstrap.runner.RunnerClassLoader`.

**Implementation ideas**
It's likely that extra jars are being loaded

[2020-11-10 19:29] geoand commented on #13216
I'll take a quick look and see if there is an easy win in this case.

[2020-11-10 19:33] Sanne commented on #13216
thanks @geoand !

Also keep in mind @stuartwdouglas mentioned the loggers need to be loaded by the JDK classloader - I'm just not sure which one of the many logger-related jars, probably all but I hope we could limit that.

So I'd suspect the `parentFirst` configuration still need to exist, but the list needs to be different.

[2020-11-10 20:06] geoand commented on #13216
I just saw that myself when playing with the code :)

[2020-11-10 20:50] geoand commented on #13216
@Sanne see https://github.com/quarkusio/quarkus/pull/13219 for a quick and dirty display of the issue

[2020-11-10 21:35] gsmet commented on #13215
/cc @mkouba

[2020-11-10 21:36] gsmet commented on #13213
@PedroEsnaola could you prepare a small reproducer?

I'm surprised our dependencies are not consistent.

[2020-11-10 21:56] rbertoncelj commented on #9379
Migrating from WildFly, where this is provided by Infinispan out-of-the-box, is there any workaround currently available in Quarkus for 2nd level cache with proper invalidation when running multiple instances of application in a cluster? For example, would it be possible to combine https://quarkus.io/guides/infinispan-embedded with Hibernate?

[2020-11-10 22:43] vonatzigenc commented on #13163
I have refactored the creation and registration of KafkaStreamsMetrics. However, I had to make some adjustments to 'bio.quarkus.kafka.streams.runtime.KafkaStreamsProducer' for this.

[2020-11-10 22:47] gwenneg commented on #13158
We use ManagedExecutor in this code to allow [context propagation](https://quarkus.io/guides/context-propagation) into cache computation threads.

[2020-11-10 22:59] gwenneg commented on #8483
I checked again with `1.9.2.Final` and still no NPE. The issue must have been fixed at some point between 1.3.1.Final and now.

I'm closing this issue. Do not hesitate to reopen it if the bug is still there.

[2020-11-10 22:59] #8483 closed

[2020-11-10 23:00] sivelli commented on #13158
Hi @gwenneg, thank you for the explanation.

I'm facing a thread starvation because the number of thread in the ManageExecutor is limited and the threads that Quarkus use to run the requests are shared with Caffeine. Do you think it is possible to create a ManageExecutor only for Caffeine?

[2020-11-10 23:14] gwenneg commented on #13158
Propagating the context into cache computation and isolating the cache executor sound like conflicting goals to me, but I'm not a context propagation expert. @FroMage WDYT?

[2020-11-10 23:22] gwenneg commented on #13158
@ben-manes Is there a way to avoid that thread starvation issue by changing the way Caffeine is used in the cache extension?

[2020-11-10 23:41] ben-manes commented on #13158
I remember us discussing using `AsyncCache` in the `CacheResultInterceptor`, but I don't recall the reason why. Skimming the code, I think this might have been for the `lockTimeout` feature to allow the computation to continue while also not blocking other callers indefinitely who are also waiting for it.

Assuming you didn't have that feature, then using a synchronous cache would execute the work

[2020-11-11 01:52] PedroEsnaola commented on #13213
The best form to reproduce this is create a simple project with resteasy, resteasy-multipart & resteasy jackson
And then creat an endpoint receiving a POJO with @MultipartForm
NoSuchFieldError will be thrown

[2020-11-11 01:54] PedroEsnaola commented on #13213
I've annotated the POJO field with @FilePart (I think, not remembering right now, and @PartType

The field is an String and the type is text/plain

[2020-11-11 01:57] gustavolira commented on #6538
Are there any progress on this issue? Does Quarkus currently guarantee full compatibility with openj9?

[2020-11-11 02:12] davidhua94 commented on #13206
@dufoli  Thanks for your response. I installed the SDK and have a try.
First time, i got this error:
[code]

There was a error "Unknown arguments".  So i execute command manually, it still fail.
[code]
Here is the output:
[code]

[2020-11-11 05:31] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/357160407

[2020-11-11 05:59] Sgitario opened #13224 "Integrate OpenTelemetry and gRPC Quarkus extensions"
**Description**
At the moment, the OpenTracing data are not propagated from a REST service to a gRPC service and vice versa.

**Example**

Having the OpenTracing, gRPC and RestEasy (this is optional) extensions:

[code]

My REST endpoint using RestEasy:

[code]

And my gRPC service implementation:

[code]

The full example can be found [here](https://github.com/Sgitario/beefy-scenarios/tree/opentr

[2020-11-11 06:14] cescoffier commented on #13224
Shouldn't we use OpenTelemetry instead? @kenfinnigan

Implementation could use an interceptor, however, we may hit async boundary issues. gRPC services are by default invoked on the event loop. But with the recent introduction of @Blocking, there is a context switch.

[2020-11-11 07:59] aloubyansky opened #13225 "Codestarts: add language guides to the generated application index page"
If I generate a REST app with a Kotlin extension, the index page displays only the REST guide but not Kotlin.

[2020-11-11 08:14] mkouba commented on #13215
Hi @serrodcal, yes it's possible but the automatic conversion is not supported yet, i.e. you need to use `@Param("id") String id` and convert the value manually.

Duplicates #11481.

@cescoffier This is a second issue related to "automatic conversion" this week, I think that we should at least implement conversion for primitive types. It should be fairly straightforward. WDYT?

[2020-11-11 08:14] #13215 closed

[2020-11-11 08:55] dufoli commented on #13206
@davidhua94  you have to run CALL "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64 inside your commande prompt (if you are on x64 system)

[2020-11-11 09:14] vsevel opened #13227 "warn or fail if an application.yaml is provided without the quarkus-config-yaml dependency"
**Description**
If configuration is provided through a yaml file, but the quarkus-config-yaml has not been added, the configuration module will silently ignore the yaml file. it may take some time for the user to figure out that is what is happening, incorrectly thinking there is a bug in quarkus or smallrye config.
The proposition is to fail quarkus startup, or at least WARN the user that no prop

[2020-11-11 09:22] vsevel opened #13228 "Invalid warning 'defaultValue' of '@ConfigProperty' is ignored when added to a field of a class annotated with '@ConfigProperties'"
**Description**
I have created configuration class:
[code]
With config:
[code]
At startup quarkus prints:
[code]
The code works, but the warning is invalid.

/cc @radcortez

[2020-11-11 09:38] wswoboda commented on #12022
The problem should be fixed with driver version 42.2.18. Please bump the version in one of the next releases.
https://github.com/pgjdbc/pgjdbc/issues/1868

[2020-11-11 10:09] serrodcal commented on #13215
Hi @mkouba, I already guessed. Thanks for your reply, If you consider to add this feature it would be great.

[2020-11-11 11:05] geoand commented on #13228
Good catch. I'll add a fix soon

[2020-11-11 11:13] Sanne commented on #9379
@rbertoncelj in theory, that's possible. It will require some integration work from your part though.

We have no plans to support this "out of the box" though, not least because I've not seen high interest or persuasive arguments to do this: clustered 2nd level caches are very hard to setup right, and almost impossible in a cloud native environment - so we're thinking of new architectures which s

[2020-11-11 11:16] #13155 closed

[2020-11-11 11:48] glefloch commented on #12620
The job is finally ok 🎉

[2020-11-11 11:48] #12620 closed

[2020-11-11 11:52] sberyozkin commented on #5657
During the first phase there will be an injectable `OidcClient` provided which will help with the access token acquisition

[2020-11-11 11:57] #13186 closed

[2020-11-11 12:23] matthyx commented on #5705
Awesome, now we only need the Quarkus specific pack... or is that one sufficient?

[2020-11-11 12:24] rbertoncelj commented on #9379
@Sanne that was my first thought - to try and conjure something up myself using an embedded Infinispan and getting as close as possible to the configuration used in WildFly HA setups. But I wanted to confirm that it's a viable plan at all and that I've not missed any better alternative.

I'm surprised though that this hasn't surfaced much already, especially if people are porting existing projects

[2020-11-11 12:42] gwenneg commented on #13158
Thanks for your answer @ben-manes. I'll work on something based on that suggestion.

[2020-11-11 13:00] sivelli commented on #13158
Thank you guys. If there is anything I can help, please let me know

[2020-11-11 13:28] kenfinnigan commented on #13224
I'm still working on OpenTelemetry extension for Quarkus, but ideally yes we'd be integrating with OpenTelemetry and not OpenTracing

[2020-11-11 13:54] asodja opened #13233 "Hibernate validation for multi module case: javax.validation.UnexpectedTypeException: HV000030: No validator could be found for constraint"
When using hibernate validation and `@Valid` with request body parameter, I got an 500 when Pojo I am validating is not in a module that Quarkus scans. My Pojo class has annotation `@NotBlank` but I get:
[code]

If I add `@NotBlank` anywhere in module that Quarkus scans it works ok and pojo gets validated and I get 400 if it is invalid or 200 if it is valid.

I don't want that my lib module is sca

[2020-11-11 14:18] mposolda opened #13234 "JPA AttributeConverter does not persist entity in some cases"
**Describe the bug**
In Keycloak, we use the AttributeConverter implementation. The use-case is to save the JSON String into one column in the database table. Hence we use the converter, which converts the Map object into JSON String and this JSON String is then supposed to be saved in the DB in the column of type CLOB.

The code of the converter is here: https://github.com/mposolda/keycloak/blob/

[2020-11-11 15:05] Sanne commented on #13234
hi @mposolda , I suspect this triggers some unexpected interaction with the entity enhancement, which we use in Quarkus (and didn't use in WildFly).

The problem would be that technically you're not writing onto the property.  Would you be able to verify this theory, by using a workaround which makes the property write explicit?

    Map texts = entity.getTexts();
    texts.put(key, text);
    ent

[2020-11-11 15:14] Sanne commented on #9379
yes, I agree with your points. One problem for us is that the infinispan-embedded extension in Quarkus was moved, it's now maintained by the Infinispan team - so it's hard for us to guarantee synchronized releases.
 - https://github.com/infinispan/infinispan-quarkus

But point taken that we need to improve on this.

Specifically for the case of "often read, sometimes changed data", you *could* con

[2020-11-11 15:17] gsmet commented on #13233
HV will only register the constraint validators for the constraints it can find.

What you need to do is create a Jandex index for the additional module. This plugin might help: https://plugins.gradle.org/plugin/org.kordamp.gradle.jandex .

[2020-11-11 15:27] oxelad opened #13236 "wrong initialisation order of mongo codec providers"
**Describe the bug**
It is impossible to override standard coders, `MongoClients.createMongoConfiguration()` uses `defaultCodecRegistry` before custom `CodecProvider`:
[code]

**Expected behavior**
Custom providers should be used at the first place:
[code]
this is also recommended by mongodb-team [Codec and CodecRegistry](https://mongodb.github.io/mongo-java-driver/3.6/bson/codecs/):
[code]

**Act

[2020-11-11 15:58] asodja commented on #13233
Hmm so if I understand correctly, it is not technically possible that hibernate-validator extension would also check annotations recursively on classes that are used with`@Valid` even if they are not in the module?

[2020-11-11 16:24] sberyozkin opened #13239 "Add quarkus-oidc-db-state-manager extension"
**Describe the extension**
Quarkus OIDC `CodeAuthenticationMechanism` uses a default `TokenStateManager` implementation which stores all the session content in a cookie, which, by default, will include 3 tokens: ID, access and refresh tokens. When all 3 of them are in a JWT format as is with Keycloak, the cookie value size may exceed `4096` when JWTs have a lot of claims, at which point some brows

[2020-11-11 16:27] famod commented on #13188
/cc @mkouba @manovotn

[2020-11-11 16:28] famod commented on #12282
@Postremus friendly reminder:

[2020-11-11 17:20] manovotn commented on #13188
I am not in front of my PC now, but for the bean to outlive a request, it would need to somehow gain a "wider" scope, something like singleton or app scoped.
You could try to do `Arc.container().instance(Map<String, String>).getBean().getScope()` to see what the actual scope is.
See [this](https://github.com/quarkusio/quarkus/blob/master/independent-projects/arc/runtime/src/main/java/io/quarkus/ar

[2020-11-11 17:50] mkouba commented on #13188
@Postremus The scope is not ignored at all. However, the producer field  is non-static and so the container obtains an instance of the declaring bean and reads the field value whenever a new bean for `Map<String, String>` is created (see also [Access to producer field values](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#producer_fields_access)). In this case, the declaring bean is `@Applicati

[2020-11-11 18:12] gsmet commented on #13233
Hibernate Validator in Quarkus needs to have a complete lists of all the constraints used and this is done by scanning the Jandex index.

[2020-11-11 19:06] rbertoncelj commented on #9379
Indeed, a short-lived cache with chance of stale data reads would actually be just fine in many cases.

Then again there are situations where reading stale data would really be inconvenient, but even here, in my specific cases we'd only need something that is eventually consistent as soon as possible - so no real requirement for strict transactional behaviour and 2PC as far as I'm concerned.

All

[2020-11-11 19:53] pedroigor commented on #13239
Sounds reasonable for me, but I would keep this on hold until we have a real demand for becoming stateful.

In Keycloak, for instance, we are planning to support reference tokens which should help with this. Also, people should always consider how much data they put into tokens.

[2020-11-11 19:53] Postremus commented on #13188
I tested this out in weld-se, since I believe that quarkus behaves differently than wildfly 10: https://github.com/Postremus/weldfieldproducer/blob/master/src/main/java/org/example/weldfieldproducer/Main.java

The SomeInterface bean is RequestScoped.

Also, https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#declaring_producer_field explicitly states, that a scope can be defined for a producer field

[2020-11-11 20:11] manovotn commented on #13188
You can declare scope on a producer field. But the spec part Martin pointed out is crucial.

If the declaring beans outlives the scope of the producer, it will just keep that value in between invocations. That's what the spec says. The reason for that is that just field declaration doesn't define how to repeatedly create new value (whereas producer method does just that), all you can do is access

[2020-11-11 21:00] #11481 closed

[2020-11-11 21:00] sberyozkin commented on #13239
Hey @pedroigor Sure about the demand; but I've marked it as a good 1st issue, if someone finds it to be a useful feature for them then IMHO we should let them do it, we are not going ahead with the `stateful` idea; our default will remain `tokens in the cookies` :-)
I'd like to consider the token data amount concern be orthogonal, they should be able to put as many claims as they need per their ap

[2020-11-11 21:06] Postremus commented on #13188
Thank you!
I understant it now.

[2020-11-11 21:06] #13188 closed

[2020-11-11 21:13] gwenneg commented on #13158
I just submitted a PR which should fix the issue when the `lock timeout` feature from the cache extension is disabled.

I wonder how we should deal with deadlocks when `lock timeout` is on though...

[2020-11-11 21:15] djob commented on #13100
As mentioned before, i can confirm that moving configuration to .properties and fixing driver solves the issue.
Hint for IntelliJ users, to preverve "Persitence" window/tool and other fancy features, just move persistence.xml out of resources folder and rename it. It's workaround to have DB configured in application.properties but still have persistence.xml

[2020-11-11 21:15] #13100 closed

[2020-11-12 00:22] ben-manes commented on #13158
Why is there a distinction?

In the old & new code, if the caller is the one who is adding a new mapping (`isCurrentThreadComputation`), then the caller does not wait on the lock timeout and blocks until the computation completes. It is only the subsequent callers who find the mapping who honor the timeout to exit early, which can still be done by waiting on the future. If those behaviors are to r

[2020-11-12 00:29] pradeepkusingh opened #13248 "Error while building native image"
**Describe the bug**
Trying to use the latest GraalVM and getting error while bulding native image. Generated project from Quarkus site.

Caused by: org.graalvm.compiler.java.BytecodeParser$BytecodeParserError: java.lang.UnsupportedClassVersionError: org/acme/lambda/GreetingLambda has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Run

[2020-11-12 00:30] pradeepkusingh commented on #13248
Here is full stack trace:

2020-11-11T17:24:34.311-0700 [ERROR] [system.err] Fatal error:com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing io.quarkus.deployment.steps.AmazonLambdaProcessor$recordHandlerClass-1619263778.deploy_0(io.quarkus.runtime.StartupContext, java.lang.Object[])
2020-11-11T17:24:34.311-0700 [ERROR] [system.err] Parsing context:
2020-11-1

[2020-11-12 01:16] missourian55 commented on #12398
Appreciate guys, just tested this with 1.10.0.CR1 works great

[2020-11-12 01:22] gwenneg commented on #13158
You're not mistaken, I didn't realize all cases could be treated the same way. I'll update the PR tomorrow. Thanks @ben-manes!

[2020-11-12 01:49] missourian55 opened #13249 "OIDC 1.10.0.CR1 - event loop thread blocked"
**Describe the bug**
Upgraded an existing app from 1.9.2.Final to 1.10.0.CR and I am getting below error

[code]

**Expected behavior**
OIDC hybrid auth should work

**Actual behavior**
Getting the above stacktrace

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: mac os & Linux
 - Output of `java -version`:  Java 11
 - GraalV

[2020-11-12 02:04] yanaga commented on #12398
Reporting that I also tested it today and works great too!

[2020-11-12 05:30] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/359039089

[2020-11-12 06:57] geoand commented on #12398
Thanks for testing and reporting back folks!

[2020-11-12 06:58] tiesebarrell commented on #13133
As suggested [here](https://stackoverflow.com/a/64778877/14602115), upgrading from ubi-minimal:8.1 (which was used by the quickstarter) to ubi-minimal:8.3 resolved the problem for us.

[2020-11-12 07:22] geoand commented on #13133
Thanks for the information.

I'll go ahead and close this as we have already bumbed to `8.3` in https://github.com/quarkusio/quarkus/pull/13177

[2020-11-12 07:22] #13133 closed

[2020-11-12 07:23] cescoffier commented on #13249
@sberyozkin We need to eliminate all the "await". It's working by accident as the Uni items are cached, but it's not a good pattern to use these methods. It may end up blocking the event loop indefinitely is the retrieval hangs.

CC @jponge

[2020-11-12 07:42] geoand commented on #13248
Can you try performing:

[code]

and report the result please?

I suspend you are using Java 8...

[2020-11-12 08:02] glefloch commented on #13058
The error is related to a new gradle test I introduced yesterday. I'm looking at the error

[2020-11-12 08:02] glefloch commented on #12111
The error is related to a new gradle test I introduced yesterday. I'm looking at the error.

[2020-11-12 08:30] ctron commented on #13133
Yes, I can confirm, upgrading to `8.3` also fixed the issue for me. Thanks @tiesebarrell for letting us know!

[2020-11-12 08:30] #13228 closed

[2020-11-12 09:15] fafanoulele commented on #13187
Thanks! It is fair enough. FYI, I had added `Undertow` because in my app I have WebSocket endpoints besides JAX-RS endpoints.
I confirm that using `ContainerRequestContext` or `@Context` fits with what I need to do. Thanks again!

[2020-11-12 09:43] sberyozkin commented on #13249
@cescoffier yeah, I'm very sure the last enhancement is not at fault, it is
`io.quarkus.oidc.runtime.OidcIdentityProvider.verifyCodeFlowAccessToken(OidcIdentityProvider.java:243)` which is broken (which was not touched at all in 1.10.0.CR1) in the way it uses Uni, I've been planning to address it as part of #8559. If anything, the last PR has improved the flow and exposed this bug :-)

@missourian

[2020-11-12 09:46] JChrist commented on #11505
@geoand

[2020-11-12 09:52] geoand commented on #11505
I'll check it out and let you know

[2020-11-12 09:56] sberyozkin commented on #13249
Hi @gsmet, I think quarkus-bot is a bit too active here :-), `arc` is not involved, `smallrye-` is not, I guess, in this particular case, since we have `OIDC` and `event loop blocked`, it would be cool if it would CC to Clement, Julien, myself,  Pedro and Stuart; for `smallrye-jwt` - myself and Roberto, also may be @gastaldi and @FroMage for the security issues as well if they don't mind ?

[2020-11-12 10:05] #13110 closed

[2020-11-12 10:05] #12583 closed

[2020-11-12 10:09] gsmet commented on #13249
@sberyozkin yeah, so it reacts exactly as the old extension. The issue here is that we have the list of installed extensions which triggered a lot of rules. I'm not sure if we want to limit it to the title or not.

[2020-11-12 10:10] geoand commented on #11505
I just tried this on one of our quickstarts (basically I changed [this](https://github.com/quarkusio/quarkus-quickstarts/tree/934c65e4a447d8ce937dbfc0250fcd101d3f999b/optaplanner-quickstart) quickstart) to use:

[code]

and the resulting json output from calling `http://localhost:8080/rooms` was:

[code]

So I can't reproduce the problem, at least not with `1.7.5.Final`, `1.8.3.Final`, `1.9.2.Fina

[2020-11-12 10:10] gsmet commented on #13249
@cescoffier @sberyozkin I consider this one blocking for the release so please make sure it is fixed soon.

[2020-11-12 10:46] asodja commented on #13233
Thanks for explanation. I will try workaround this. I will first try with some class that will have all constraints annotations in it so all validators will be initialized, it's dummy but it looks like it works ok and there it seems is not that big performance penalty for our use case.

If that does not work ok I will add Jandex index build step into our build.

You can close this issue.

[2020-11-12 10:46] #13233 closed

[2020-11-12 10:48] radcortez commented on #11744
Ambiguous in which way?

[2020-11-12 10:51] Sanne commented on #12412
@yrodiere is volunteering to have a look at automating this.

[2020-11-12 10:58] gsmet commented on #13233
Frankly, just add the Jandex index creation to your build. Anything else will be brittle.

[2020-11-12 11:00] SumaiyaSafdar commented on #12522
hey @ia3andy kindly help please.

[2020-11-12 11:03] sberyozkin commented on #13249
@gsmet Yeah, I'm on it right now; FYI, it has been a dormant issue; I have a very quick fix which I'll open later today if I get stuck with a proper Uni fix

[2020-11-12 11:17] ia3andy commented on #12633
@jantosi do you still want to do that one?

[2020-11-12 11:20] ia3andy commented on #12522
@SumaiyaSafdar I started that one which is quite touchy, let me find you another easier issue..

[2020-11-12 11:20] SumaiyaSafdar commented on #13239
hey, I'm new to all of this . But I'm highly interested in contributing I'll be highly obliged if anyone would help me. Do I need to install quarkus or learn it? Or do I need to learn maven or graalvm? Please someone help.

[2020-11-12 11:20] JChrist commented on #11505
OK, I've checked and you're right.
In order to reproduce the issue, I needed to add a customizer on the `ObjectMapper`, similar to:
[code]

[2020-11-12 11:22] ia3andy commented on #13208
We can use that code:
https://quarkus.io/guides/picocli#command-line-application-with-multiple-commands

[2020-11-12 11:23] ia3andy commented on #13208
to generate:
[code]

[2020-11-12 11:24] ia3andy commented on #13208
@SumaiyaSafdar do you want to try that one?

[2020-11-12 11:39] loicmathieu opened #13251 "Improve PanacheQuery mocking"
**Description**
Reading our current documentation, it is not evident how to mock a PanacheQuery object.

On the following SO [question](https://stackoverflow.com/questions/64765163/how-to-mock-panachequeryentity-using-quarkus-with-hibernate-omr-panachereposit/64803160#64803160) I proposes the following solution, that is a little verbose:

[code]

**Implementation ideas**
Document the propose solut

[2020-11-12 12:09] maxandersen commented on #12522
Hi @SumaiyaSafdar really great to see you explore contributing to Quarkus - I definitely recommend you get to know Quarkus first to be able to be effective. I suggest you go to https://quarkus.io/get-started/ that contains our beginner/getting started instructions. That should let you get started. Thanks and good luck!

[2020-11-12 12:10] maxandersen commented on #13239
Hi @SumaiyaSafdar - please see https://github.com/quarkusio/quarkus/issues/12522#issuecomment-726039240 where I gave you answer to similar question. Thanks.

[2020-11-12 12:48] dmlloyd commented on #11744
What I mean is that there is no "quoted an unquoted version".  The YAML syntax is already unambiguous, and we already have distinct notions of singular (`foo.bar.baz`) and compound (`bar.baz` in `foo."bar.baz"`) key segments.  A single YAML entry equals a single key segment.  That's very straightforward and clear AFAICT, so I'm not sure what problem we're really trying to solve here.

[2020-11-12 12:52] geoand commented on #11505
Interesting! I'll check it out.

[2020-11-12 12:52] coiouhkc commented on #12941
Hi @gsmet, any updates? @kenfinnigan or @asoldano - if you could shortly brief me on what has to be done / how it has to be done properly (following #12975), i could try to implement the fix.

[2020-11-12 12:59] hyperman1 opened #13253 "Unit tests an mvn quarkus:dev runs should have the same current folder"
**Description**

I have applications which consult data files.  Both my local runs and my unit tests have dummy variants of these files, say under ${projectfolder}/data.    My application.properties contains a setting like path=/some/or/other/folder

Unfortunately, this code:
new File(".").getAbsolutePath()
will return ${projectfolder} when running a unit test, but ${projectfolder}/target  when ru

[2020-11-12 13:10] hyperman1 opened #13254 "Quarkus configuration and kubernetes configmap/secrets"
**Description**
Quarkus expects config in the file ./application.properties but kubernetes prefers configmaps and secret maps.  I would like a way to dump a full configmap/secret map in application.properties

**Implementation ideas**

It is possible in kubernetes to publish config and secrets as a mounted file system, eg a configmap with key1=value1,key2=value2 appears as a folder /some/path/conf

[2020-11-12 13:19] yrodiere commented on #11744
@dmlloyd We're trying to make YAML more convenient to use, and to limit the amount of surprise for new users

Some competing frameworks (Spring Boot, to name it) understand dots in YAML properties when parsing the configuration. Quarkus ignores them.

As discussed above, the main problem is that we won't get an error when we write a configuration file assuming this is supported in Quarkus. You sai

[2020-11-12 13:25] geoand commented on #11505
I added the `JsonMapperCustomizer` and I still couldn't reproduce the problem.

If you find some time, it would be great to put together a minimal reproducer that we could you to reproducer and ultimately debug the problem.

[2020-11-12 13:27] geoand commented on #13254
@hyperman1 does https://quarkus.io/guides/kubernetes-config not cover you needs?

[2020-11-12 13:29] hyperman1 commented on #13254
@geoand   I have no idea how I managed to overlook that.  Sorry to disturb you.

[2020-11-12 13:29] #13254 closed

[2020-11-12 13:31] geoand commented on #13254
Not a problem at all!

[2020-11-12 13:32] Sanne opened #13256 "Classloader optimisations for resource loading"
**Description**
This is about optimising how our (production) classloader `RunnerClassLoader` can efficiently open resources, and release the internal caches so to keep using a minimal footprint.

**Implementation ideas**
Vertx has a caching layer implemented by `io.vertx.core.file.impl.FileResolver`, which will trigger loading the full list of resources of any parent directory as well when a sing

[2020-11-12 13:55] Sanne opened #13258 "Deferred release of JarFile buffers in RunnerClassLoader"
**Description**
As a follow up to #13157 : releasing the caches isn't super effective as there's much code (and resources) possibly being loaded much later after the bootstrap has completed.

**Implementation ideas**
There's a number of things we could do.

## Switch to immediate-close, with threshold

@stuartwdouglas in https://github.com/quarkusio/quarkus/pull/13219#issuecomment-725682255 sugges

[2020-11-12 13:59] geoand commented on #13258
How about having a timer thread that closes the resources **iff** no request has been retrieved for loading something (assuming we keep track of the last load time)?

[2020-11-12 14:02] Sanne commented on #13258
I like it, but assuming we have a "free timer" :)

[2020-11-12 14:05] geoand commented on #13258
Do you have reason to assume that the JDK's timer has non-free overhead?

[2020-11-12 14:07] JChrist commented on #11505
Perhaps I missed something while trying to isolate the case.
I pushed the test code I managed to get having this error in this repository: https://github.com/JChrist/quarkus11505

[2020-11-12 14:10] rohit-s8 commented on #13146
Tried [uber jar](https://quarkus.io/guides/maven-tooling#uber-jar-maven) creation and this seems to have solved my problem. I would still like some help in understanding why this didn't work with the normal quarkus jar though.

[2020-11-12 14:10] #13146 closed

[2020-11-12 14:10] JChrist commented on #11505
The ExampleResourceTest reproduces the issue, on line: https://github.com/JChrist/quarkus11505/blob/master/src/test/java/gr/jchrist/ExampleResourceTest.java#L33
The returned json does not contain "something_else", as it contains "somethingElse".

[2020-11-12 14:54] geoand commented on #11505
I located the problem, and it's actually not a Quarkus specific issue.

In your `JsonMapperCustomizer`, you do: `objectMapper.findAndRegisterModules()`.
This makes Jackson search the classpath for implementations of  `com.fasterxml.jackson.databind.Module` and in your case among the others it finds, it also finds and registers `JaxbAnnotationModule` which really messes things up.

If you instead d

[2020-11-12 14:55] DanHeidinga commented on #6538
TLDR: Quarkus on OpenJ9 - especially on P & Z linux - works just fine JVM mode.  If you find something that doesn't, please report it here.

Thanks for the reminder to reflect the progress in this issue.  As of Quarkus 1.7, the zLinux support is solid and even included in Red Hat's supported configurations [1].  Similar levels of quality are present on pLinux as well and I fully expect things to w

[2020-11-12 15:06] geoand commented on #13256
Personally I very much like the idea of copying resources to the file system because everything because other than the fact that at runtime we don't have to involve any jars to load the resources, the whole deployable artifact still remains self contained because we can place these files within the root `quarkus-app` directory that contains everything else the fast jar needs.

[2020-11-12 15:15] Sanne commented on #13258
My memory is often faulty, but I think it requires threads to work and it will start one if you don't hand it one explicitly. And maybe that's ok, I probably shouldn't be so picky about not wanting to start one :)  But it starts to erode in the beauty of the design choice.

[2020-11-12 15:18] geoand commented on #13258
Yeah it does start a timer thread indeed. We can certainly measure and see if it brings any significant overhead

[2020-11-12 15:24] FroMage commented on #13158
BTW, the reason why the `ManagedExecutor` starves you is that it's using the Quarkus thread pool underneath, which is something we want to do by design, so that we avoid that every extension has its own thread pool and we have hundreds of threads for no good reason.

Also, in the future it's fairly possible that the Quarkus thread pool will get a much faster access to ThreadLocals than other threa

[2020-11-12 15:39] #13236 closed

[2020-11-12 15:51] geoand commented on #13256
I'll take a quick look at that approach hopefully tomorrow.

[2020-11-12 15:54] radcortez commented on #11744
The main problem is that in a `ConfigSource` we need to use a `String` key value pair, meaning that we have to flatten the YAML to that format. We had problems with this flattening before, for instance: https://github.com/smallrye/smallrye-config/issues/216, https://github.com/smallrye/smallrye-config/issues/391.

Regarding the dots, we parse it as a single key, to express context, like we do with

[2020-11-12 16:09] dmlloyd commented on #11744
Sure, but this is due to a design problem of MP config itself, which is a separate discussion (e.g. https://github.com/eclipse/microprofile-config/issues/5450) and something we should look at independently (for 2.0 perhaps?).

But if the second combination conflicts with another config property, suddenly setting one entry in YAML can set more than one property on the back end which can result in e

[2020-11-12 16:56] rbrooksLogRhythm commented on #13003
I am seeing this exception when trying to use CDI qualifiers for dependency injection. Both services are being imported from a different library.

[code]

[2020-11-12 16:59] geoand commented on #13003
@rbrooksLogRhythm do you have a small reproducer you could share?

[2020-11-12 17:05] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/360052165

[2020-11-12 17:18] xtaixe opened #13261 "@TempDir not working when on a field on @QuarkusTest"
**Describe the bug**
Temp dir not being created and set when using `@TempDir` a field on `@QuarkusTest`. It works fine as a set up or test method parameter though.

**Expected behavior**
Temp dir is created and set on field.

**Actual behavior**
The field annotated with `@TempDir` is `null`

**To Reproduce**

[code]

**Environment (please complete the following information):**
 - Output of `uname

[2020-11-12 17:37] radcortez commented on #11744
Yes. BTW, this should be the right link: https://github.com/eclipse/microprofile-config/issues/545. And I agree that this should be modified.

I'm fine either way. Was just trying to think if there was some solution we could implement.

[2020-11-12 17:51] lucaspouzac opened #13262 "Error with RoutingContext Inject with Reactive routing"
**Describe the bug**
If I inject RoutingContext in a RequestScoped bean, an error are throwed when I try to get him. The problem is identified with reactive route (normal ou blocking handler). With Jax RS service, it's OK.

**Expected behavior**
Access RoutingContext bean inject in RequestScoped bean.

**Actual behavior**
[code]

**To Reproduce**

With the attach project

[code]
[bug-inject-routin

[2020-11-12 18:42] Sanne commented on #13256
I wonder what we'll have to do for duplicate resources. I can only think of ServiceLoader "files" to be valid duplicates, which we should treat in a special way, but there might be other such cases. Is a warning going to be enough, or does it actually need to be supported?

[2020-11-12 18:48] GeorgHenkel opened #13263 "RestClient not evaluating API annotations in class hierarchy"
**Describe the bug**
In a RestClient implementation the additional API annotations in the class hierarchy are not evaluated.  So that it is needed to duplicate the annotation on the RestClient interface.

**Expected behavior**
I would expect that annotations are evaluated in the class hierarchy, like it is done in the JAX-RS resource implementation, where e.g. the `@Path` annotation can be used in

[2020-11-12 20:09] gwenneg commented on #13158
Thanks for that information @FroMage.

@ben-manes I updated the PR, I hope starvation is gone for good now! :) The extension code is much simpler now.

[2020-11-12 20:22] ben-manes commented on #13158
wow, that is so much cleaner and simpler. very nice.

[2020-11-12 20:44] JChrist commented on #11505
Yes, that mostly does it!
However, RestAssured's automatic json conversion seems to still be affected here: https://github.com/JChrist/quarkus11505/blob/master/src/test/java/gr/jchrist/ExampleResourceTest.java#L29

Replacing that line from:
`given().when().body(m)`
to:
`given().when().body(mapper.writeValueAsString(m))`
fixes it.

Still, `objectMapper.findAndRegisterModules()` call does not affect

[2020-11-12 20:51] geoand commented on #11505
I am not sure how RestAssured sets up its ObjectMapper, but it's entirely possible that it makes that call automatically.

I would be very very surprised if that were the case. Do you have an example of this (in the same application I mean, as a different application may very well not have the problematic Jackson module on the classpath)?

[2020-11-12 20:59] osst opened #13265 "OIDC Discovery fails for Azure Active Directory B2C"
**Description**
If you are using Azure Active Directory B2C as the Identity Provider, Discovery fails for the following reason:
'issuer validation failed'.

As a `quarkus.oidc.auth-server-url` I'm supplying a url that looks like this:
`https://{tenant-name}.b2clogin.com/{tenant-id}/{policy-name}`

Azure responds to `.well-known/openid-configuration` with the following json:
[code]

The issue here

[2020-11-12 21:37] manovotn commented on #13262
Looks like 'RoutingContext' isn't always set in here - https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/CurrentVertxRequest.java#L11

If that field is null and the cdi producer (that is normal scoped) attempts to return it, it is an error according to cdi specification.

[2020-11-12 22:05] JChrist commented on #11505
Updated the repo to include a `Model2` following the Java Bean pattern and separate endpoints and test.
With the `Model2` way, everything works OOTB (including RestAssured).

[2020-11-12 22:50] sberyozkin commented on #13265
@osst This is already covered with `quarkus.oidc.token.issuer`, can you try it please ?

[2020-11-13 00:42] gwenneg commented on #7548
This probably shares the same root cause than #7548.

[2020-11-13 00:50] osst commented on #13265
@sberyozkin Thank you! With this property, everything works well.

Couldn't figure it out from the documentation, as I thought this property applies only to token validation.

[2020-11-13 00:50] #13265 closed

[2020-11-13 00:52] davidhua94 commented on #13206
@dufoli  @famod  Thank you. I did it.
I found this in the guide, I missed it before. https://quarkus.io/guides/building-native-image.html

[2020-11-13 00:52] #13206 closed

[2020-11-13 01:36] stuartwdouglas commented on #13258
Vert.x threads have built in timer capability, and most apps have vert.x installed.

[2020-11-13 05:22] absurdfarce commented on #9183
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/361008810

[2020-11-13 06:50] lucaspouzac commented on #13262
Yes, I had seen this, but is it normal that it is not set in the case of reactive routes?

[2020-11-13 07:15] lucaspouzac commented on #13262
If I add a **RouteFilter** as this

[code]

it works but only for GET type calls for reactive routes. I think that we come then to the case described here #13073

[code]

[2020-11-13 07:23] lucaspouzac commented on #13073
Probably a cleaning related to this: https://quarkus.io/guides/cdi-reference#request-context-lifecycle

[2020-11-13 07:40] geoand commented on #11505
Turned out to be an interesting bug :).

The issue surfaces because Panache Entities have `@XmlTransient` added to their fields and explicit `@JsonProperty` added to their generated getters. The bug was that `@JsonProperty` of the generated getters didn't use the proper `value`.

Furthermore, this only showed up when the JAX-B Jackson module was enabled because Jackson seems to be smart enough to

[2020-11-13 07:54] mkouba commented on #13262
From what I know the `CurrentVertxRequest` is never set for reactive routes. The main reason being that you can inject it directly in a route method (as a param) and pass to any dependency directly. In other words, the `CurrentVertxRequest` should be normally useless for reactive routes and we'd like to avoid unnecessary allocations...

[2020-11-13 07:55] mkouba commented on #13073
[code]
  ^--------- This one is interesting. It seems the filter ends before the route method is executed.

[2020-11-13 08:10] geoand commented on #13256
I don't duplicate resources will be a problem. If we copy all of them to the file system and keep the proper index entries (as we already do for entries that exist in multiple jars), I don't think there will be any issues.

[2020-11-13 08:31] manovotn commented on #13262
Probably yes, I don't know much about reactive, I was just summing up the CDI part of it :-)

[2020-11-13 08:31] gauravrmsc commented on #13239
@sberyozkin I am interested in working on this extension. I would love to get started if no one else has started working on it yet.

[2020-11-13 08:37] mkouba commented on #13262
Sure, no problem :-)

[2020-11-13 08:42] mposolda commented on #13234
@Sanne Thanks, I've tried this but there was not any change in the behaviour. Explicitly calling "setter" does not help...

[2020-11-13 09:23] famod commented on #9818
@stuartwdouglas WDYT about ^^ ?

[2020-11-13 09:40] #13158 closed

[2020-11-13 09:59] ia3andy opened #13272 "Make Quarkus Maven plugin smart "create" consistant with codestarts"
**Describe the bug**
Currently when providing no arguments to create, it asks:
[code]

**Expected behavior**
We should instead ask:
[code]

[2020-11-13 10:02] #13216 closed

[2020-11-13 10:04] Karm commented on #9901
@gsmet This can be closed AFAIK. Quarkus native app build works for me on Windows just fine.

[2020-11-13 10:05] #13249 closed

[2020-11-13 10:08] Karm commented on #6259
Mount/volume error.

See https://github.com/quarkusio/quarkus/issues/9816#issuecomment-640220866

@Tockra, check it please and close if no longer an issue.

[2020-11-13 10:18] paschm opened #13273 "Warning JDBC resources leaked when executing StoredProcedureQuery"
**Describe the bug**
For legacy reasons we are using stored procedures in a Oracle DB. We are calling this procedures over an JPA `EntityManager` ( `EntityManager#createStoredProcedureQuery(String)` and `StoredProcedureQuery#execute()` ). This leads to follow warnings

[code]
As it seems upon execution a `CallableStatement` gets prepared and tracked in `io.agroal.pool.wrapper.ConnectionWrapper.pre

[2020-11-13 10:23] gsmet commented on #13273
/cc @barreiro @Sanne

[2020-11-13 10:23] Karm commented on #5675
@gsmet  @gdoenlen I don't this is an issue any more. Let's close it.

[2020-11-13 10:24] #5675 closed

[2020-11-13 10:28] sberyozkin commented on #13239
@gauravrmsc
Sure, give it a try please and let Pedro @pedroigor and myself know how is it going... As I said to Pedro, this is an optional solution, in fact users can just do it i their own code :-), but when they do need it it could be good to let them just pick up a light-weight ready to go extension IMHO :-)
What would be good to have, by the time this extension is completed, is a basic recomme

[2020-11-13 10:30] Karm commented on #5497
@gsmet  This issue can be closed.
Windows Quarkus native app build works just fine, both using Docker Desktop and builder image (provided the volume is set [correctly](https://github.com/quarkusio/quarkus/issues/9816#issuecomment-640220866) to prevent NoSuchFileException) and using native WIndows toolchain to create Windows executable.

[2020-11-13 10:31] sberyozkin commented on #13265
@osst sure, I'll consider updating the docs during the next round

[2020-11-13 10:31] Karm commented on #5453
@gsmet  This issue can be closed. It is no longer a problem on Windows.

[2020-11-13 10:32] Sanne commented on #13273
Interesting. In my experience, Agroal is typically right - we're probably leaking a callable in ORM.

[2020-11-13 10:33] geoand commented on #5453
Thanks for checking @Karm.
I'll close it

[2020-11-13 10:38] Karm commented on #13055
Hello, this problem is indeed caused by space in the path and I am experiencing it too in my Windows CI. I had to workaround it like this in my .m2/settings.xml:
[code]

Perhaps @maxandersen has the fix handy from the top of his head as he surely hit something like that with JBang at some point...

[2020-11-13 10:43] Sanne commented on #13273
https://hibernate.atlassian.net/browse/HHH-14326

[2020-11-13 10:52] maxandersen commented on #13055
I bet it's not just a windows issue.

Any path with space would fail on Linux and Mac too is my guess.

Fix is to always quote arguments when passing them to command line calls.

No silver bullet :)

[2020-11-13 10:55] Sanne commented on #13234
Interesting, thanks for trying @mposolda . I'll see if someone on the team can prioritize this, but TBH it won't be looked at before next week.

[2020-11-13 11:00] Sanne commented on #13256
to be clear, I'm not referring to package names and directories. Those are simple, just merge the content.. indeed like we do currently.

I mean what about resources which are duplicated by full name; often it's a mistake (so a warning will be fine) but there's legal patterns that we need to handle explicitly, such as the case of ServiceLoader resources.

[2020-11-13 11:07] vsevel opened #13274 "Needless INFO Ignoring bean defined via ... declared as an @Alternative but not selected by @Priority, @AlternativePriority or quarkus.arc.selected-alternatives"
**Description**
When using mocks defined as alternatives using a `QuarkusTestProfile`, quarkus prints an info for all beans declared as `@Alternative` but not selected.
For instance if I am using `@Alternative MockGreetingResource1` in test `GreetingResource1Test`, and `@Alternative MockGreetingResource2` in test `GreetingResource2Test`, then `GreetingResource1Test` will complain about `MockGreeti

[2020-11-13 11:34] Karm opened #13275 "Quarkus native-image TS Failures on Windows, Mandrel 20.2.0.0, [Graal CE to be confirmed/WIP]"
Hello,
I executed the Quarkus 1.9.0.Final TS on Windows with [Mandrel 20.2.0.0 Windows build](https://ci.modcluster.io/view/Mandrel/job/mandrel-20.2-windows-build/lastSuccessfulBuild/artifact/mandrel-java11-windows-amd64-20.2.0.0.Final.zip). It all went very well except for a repeated issue that brought down a dozen of test cases. This is how the test was run:

[code]

## Expected behavior
TS pass

[2020-11-13 11:35] gwenneg commented on #7548
There's a good chance this issue was fixed with #13244.

Feel free to reopen if that's not the case.

[2020-11-13 11:35] #7548 closed

[2020-11-13 11:35] Karm commented on #13275
OMG, I am sorry the bot picked up
[code]
and tagged so many people :disappointed:

[2020-11-13 11:36] vsevel opened #13276 "Invalid warning on quarkus.vault.secret-config-kv-path."prefix" property"
**Describe the bug**
Using property `secret-config-kv-path."prefix"` works as expected, but prints an invalid warning at startup:
[code]

**Expected behavior**
There should be no warning

**To Reproduce**
Execute IT `VaultMultiPathConfigITCase` in the core project

**Additional context**
I am not sure if this is something that is specific to the vault configuration, because I don't see the same be

[2020-11-13 12:15] manovotn commented on #13274
Hmm, so basically using test profile reports false positives because we encourage people to declare profile-specific beans as just `@Alternative` without `@Priority` which is any other setting than this is almost certainly a user error.

Moving this logging to debug won't really solve it, IMO the INFO should be visible to warn about those use errors, but we may want to think of a way to exclude te

[2020-11-13 12:30] SumaiyaSafdar commented on #13239
thanks @maxandersen I'm really obliged you replied.

[2020-11-13 12:36] sberyozkin commented on #13275
@Karm the key/trust store issue shoul be resolved with the last line
at https://github.com/quarkusio/quarkus/blob/master/integration-tests/vertx-http/src/main/resources/application.properties#L11

[2020-11-13 12:57] #11505 closed

[2020-11-13 13:02] ntrp opened #13277 "Spring Cloud config list properties are incompatible with smallrye"
**Describe the bug**
The properties coming from Spring Cloud Client are not compatible with SmallRye mappings because the format is different.
This is in yml fragment:
[code]
which, if set in Quarkus, produces a context map with:
[code]
When I set the same in the config server this is the outcome:
[code]
Notice the missing point

**Expected behavior**
The properties are normalized to be compatible

[2020-11-13 13:15] mkouba commented on #13274
Well, the result of `QuarkusTestProfile.getEnabledAlternatives()` is transformed into `quarkus.arc.selected-alternatives=...` but since your mock classes are accessible in all test profiles the log message is printed (e.g. `GreetingResource1Test` enables `MockGreetingResource1` but `MockGreetingResource2` is part of the deployment as well).

[2020-11-13 13:31] knutwannheden opened #13278 "All Configuration documentation isn't generated properly anymore"
**Describe the bug**
Running a build on the current `master` branch I get the impression that the `quarkus-all-config.adoc` page isn't generated properly anymore. This is the log output I see for the corresponding Maven task:

[code]

Someone from the team should try to confirm this.

I mentioned this problem in a comment already: https://github.com/quarkusio/quarkus/pull/13153#discussion_r5229101

[2020-11-13 13:40] LuccaPrado commented on #13055
@Karm I did like you to workaround as I said on Additional context.  But in my opinion this isn't the best way as we are duplicating the downloaded artifacts on computer.

I'll try on my Ubuntu Vm to update this issue saying that it isn't only on windows.

[2020-11-13 13:43] geoand commented on #13274
How about if we simply make the log a debug log only in the test profile and when `quarkus.arc.selected-alternatives` is set?

[2020-11-13 13:52] mkouba commented on #13274
Hm, we could try to use the DEBUG level if `LaunchMode == TEST` and `quarkus.arc.selected-alternatives` is set but I'm not sure about the test profile...

[2020-11-13 13:54] geoand commented on #13274
Yeah, that's what I meant

[2020-11-13 14:16] mkouba commented on #13274
OK, I can do that... soonish.

[2020-11-13 14:33] zakkak commented on #13275
Which is part of Quarkus 1.10.0.CR1 in case you want to give it a go @Karm.
However the test should work with Quarkus 1.9.0.Final as well since it includes the same flags just in a different place https://github.com/quarkusio/quarkus/blob/1.9/integration-tests/vertx-http/pom.xml#L158-L159

[2020-11-13 14:58] beikov commented on #13234
I created https://hibernate.atlassian.net/browse/HHH-14329 to track this, as this is indeed an enhancement issue.

[2020-11-13 15:44] geoand commented on #13256
I wasn't able to look into this in any details today unfortunately. Next week hopefully :)

[2020-11-13 16:18] #13278 closed

[2020-11-13 16:52] Sanne commented on #13256
n.p. no rush. BTW I wonder if we should split it further; the handling of ServiceLoader-loading seems like an easy spin-off I'd like to look at too :)

[2020-11-13 16:57] geoand commented on #13256
Yup, that's probably the best place to start. I don't think we can do this in parallel though as I imagine there will be a lot of conflicts.

But feel free to start it if you like. Otherwise I should be able to pick it up early next week.

[2020-11-13 17:08] geoand commented on #13256
I might have some time over the weekend to get started. If I do, I'll let you know and open a draft PR we can discuss.

[2020-11-13 19:22] #13079 closed

[2020-11-13 19:29] gsmet opened #13289 "Suspicious CI failure in AddExtensionsMojoTest.testAddSingleDependency"
First, I wonder a bit why we end up having the Gradle repo in a Maven test. AFAIU, the bootstrap resolver both includes Maven and Gradle but I wonder if we could have an architecture where we have only Maven when using Maven and only Gradle when using Gradle?

Apart, from that, I think the issue is probably related to an issue with the Gradle repo... but... I don't think downloading an empty artif

[2020-11-13 19:33] gsmet commented on #13289
CI build failure is here: https://github.com/quarkusio/quarkus/runs/1396963656?check_suite_focus=true

[2020-11-14 00:22] #13163 closed

[2020-11-14 13:20] phillip-kruger opened #13294 "Webjar locator when the artifact has no version"
**Describe the bug**
When you use a combination of webjars that contains the version in the path and webjar that does not, and you use webjar locator, the webjars that does not have a version in the path does not resolve.

**Expected behavior**
Webjar locator should be clever enough to see if there is not a version and still work

**Actual behavior**
The webjars without version does not work

**To

[2020-11-15 02:01] jorsol opened #13297 "Build failure indexing jars on 1.10.0.CR1"
**Describe the bug**
I have an application that complains about classes not included in the index:
[code]
So I include them using `quarkus.index-dependency`, on Quarkus 1.9 this works fine, but on the 1.10.0.CR1 the build fails with the following error:

[code]

**Configuration**
[code]

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`: Linux
 - Output

[2020-11-15 09:27] andrzejszywala opened #13298 "Multi module project with quarkus main, restarts on change in not dependent project"
**Describe the bug**
I've created maven project
[example.zip](https://github.com/quarkusio/quarkus/files/5542077/example.zip)
 with 3 modules:

- server - quarkus appliaction with main class ServerMain. It has shared module in dependencies
- shared - classes shared  between client and server
- client - client appliaction. It has shared module in dependencies

After importing project to eclipse and

[2020-11-15 15:09] suchwerk commented on #12229
Same here with Quarkus 1.9.2.Final

[2020-11-15 16:52] seseso opened #13301 "Native vs jvm command line mode with panache mongodb"
**Describe the bug**
I'm building a migration data application between mysql and mongodb. My command line app works fine in jvm mode but in native mode, some entities are empty except for the _id field.

**Expected behavior**
Same behavior between native and jvm mode

**Actual behavior**
Entity written in jvm mode:
{
    "_id": {
        "$oid": "5fb1584f20e51620e60f6b7e"
    },
    **"additionalP

[2020-11-15 21:58] arturs-cc commented on #13103
Has anyone had a chance to look at this? :)
Having some builtin functions fail in native mode is not great

[2020-11-16 05:36] absurdfarce commented on #9183
Build fixed:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/365347348

[2020-11-16 06:34] geoand commented on #13277
@ntrp thanks for reporting!

Do you perhaps have a small sample Spring Cloud Config Server setup with the problematic YAML properties so I can give it a try?

[2020-11-16 06:42] geoand commented on #13301
Can you update the ticket to include the REST endpoints you are using?

[2020-11-16 07:27] ntrp commented on #13277
Well the small sample is the one I added at the beginning, the same yaml produces different properties between could config client and local yaml. You mean a working project to try it out? I can set one up if I find some time..

[2020-11-16 07:44] geoand commented on #13277
A very simple working project along with the Spring Cloud Config Server you used to show the problem would be great.

[2020-11-16 08:29] Sgitario opened #13303 "Default Schema Is Not Automatically Detected"
**Describe the bug**
When using Hibernate and flyway, the default schema is not properly resolved and the schema validation is failing with:

[code]

In order to workaround this issue, we need to configure the default schema as:

[code]

**Expected behavior**

The expected behaviour should be that the default schema is configured via the JDBC URL:

[code]

**Actual behavior**

It fails with:
[code

[2020-11-16 08:55] apupier opened #13304 "Provide a quarkified version of LSP4J, the base libraries for Language Server Protocol in Java"
**Describe the extension**

https://github.com/eclipse/lsp4j/

lsp4j is the base library to implement a Language Server  Protocol in Java.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]

**Additional context**

Several Language Servers relies on it, for instance: [Eclipse JDT LS](https://github.com/eclipse/eclipse

[2020-11-16 09:21] michalszynkiewicz opened #13305 "Support reading grpc client trust store from classpath"
**Description**
Currently we can read server certificate and key from classpath but client's trust store can only be read from a file.
It causes problems with dev mode, see https://github.com/quarkusio/quarkus-quickstarts/issues/709
It would ease development if we supported reading the trust store from classpath too.

[2020-11-16 09:48] michalszynkiewicz commented on #13305
@cescoffier do you see any cons?

[2020-11-16 09:55] jloupdef commented on #10147
Hi,
I had this error (CNFE on IDEDevModeMain) when launching a quarkus app in IntelliJ when the app is in a submodule (opening directly the submodule in intellij and launching from there works) and just updating the work directory for the submodule one in the launch configuration fix the issue.
![image](https://user-images.githubusercontent.com/22762/99238400-f7a41e00-27f9-11eb-9d3d-8091c5814d48.p

[2020-11-16 10:06] renegrob commented on #13067
I solved the issue in my fork: https://github.com/renegrob/quarkus/tree/quarkus-issue-13067. Shall I create a draft pull request?

[2020-11-16 10:08] famod commented on #13261
/cc @geoand Is this a known limitation? I could'nt find anything in the docs or previous issues.

[2020-11-16 10:14] Sgitario opened #13307 "Integrate ORM REST Data Panache with Hibernate Validator"
**Description**
I think it would really useful to integrate [the ORM REST Data Panache](https://quarkus.io/guides/rest-data-panache) module with [the Hibernate Validator](https://quarkus.io/guides/validation) extension.

**Implementation ideas**
I've tried to implement a workaround by using the annotations, but I could not make this integration worked.

The modules that I used are:

[code]

My res

[2020-11-16 10:18] geoand commented on #13067
Sure thing!

Please ping myself and @aureamunoz on the PR because AFAIK she was planning on working on it as well.

[2020-11-16 10:21] gsmet commented on #13307
Hibernate Validator ORM integration should be automatically enabled if present.

Can you build a small reproducer? Thanks!

[2020-11-16 10:25] famod commented on #13253
What about adding those data files to `src/main/resources` and load them from the classpath?

[2020-11-16 10:26] Sgitario commented on #13307
Find the reproducer in [this repository](https://github.com/Sgitario/beefy-scenarios/tree/add-panache-flyway-example/011-quarkus-panache-rest-flyway). Concretely, I have a small test that is failing because of this issue: https://github.com/Sgitario/beefy-scenarios/blob/baebdbde9d97f173ab02ac604b0ef133fba868b7/011-quarkus-panache-rest-flyway/src/test/java/io/quarkus/qe/PostgreSqlApplicationResourc

[2020-11-16 10:32] hyperman1 commented on #13253
There are things you can do with a file path but not classpath.  E.g. listing all files in a folder, listening to FS changes

In my specific situation, there is an NFS share.  An external system dumps files on them every X minutes.  My program picks them up and processes them.

[2020-11-16 10:47] famod commented on #13123
Please see this mail thread for more details: https://groups.google.com/g/quarkus-dev/c/CGSeM9DJypM/m/ahrtGVauBQAJ
Quoting @gsmet:

[2020-11-16 10:47] #13123 closed

[2020-11-16 10:54] geoand commented on #13261
It's not a known limitation, but I guess it is to be expected.
Basically anything that gets injected into fields of the test outside of Quarkus' control, will not work - as QuarkusTest creates a different test object (because it needs to be handled on a different ClassLoader).

In this case, we can most likely add support for `@TempDir` in QuarkusTest.
Otherwise we can just tell people in the docs

[2020-11-16 11:10] vsevel commented on #9555
I looked at the different options.
the first one is to look at the secret engine configuration through `sys/mounts/<kv name>/tune`, and search for `options.version` - should be `2` or no options.
the issue is that no user will have a read access on that path by default (and certainly not through the default policy).
I looked at how this was done in SpringBoot: [KeyValueDelegate](https://github.com

[2020-11-16 11:10] #9555 closed

[2020-11-16 11:14] vsevel commented on #13274
ideally you would want to print a warning for such classes if they come from `src/main/java`, but not if they come from /src/test/java`, regardless of the `LaunchMode`. because it would be nice to report a warning, even in test mode, if you find a class like this in the production code.
but may be you cannot distinguish the origin of classes (main vs test). so an acceptable compromise would be, li

[2020-11-16 11:15] vietk opened #13309 "Quarkus KafkaStream application do not close immediately when no broker is present"
**Describe the bug**
Quarkus application using the kafka-stream extension do not close immediately if the kafka broker is not available at the time the application starts.

**Expected behavior**
If no broker available the application have to shutdown immediately

**Actual behavior**
When closing the application, the admin client that is used by the kafkastream extension do not close immediately be

[2020-11-16 11:38] gavinking commented on #13274
Can someone explain this to me please? Why would it be an error to declare a bean as `@Alternative` without `@Priority`? This is perfectly normal, isn't it?

[2020-11-16 11:44] gavinking commented on #13303
Wait, I don't understand: that JDBC URL is specifying the Postgres *database*, not the *schema*, or am I totally crazy?

[2020-11-16 11:46] gsmet commented on #13307
I have the following message:
[code]
so the Hibernate Validator integration is properly triggered.

But you end up with a deeply wrapped exception:
[code]

I think there are several issues here:
- I already mentioned elsewhere that we shouldn't have a warning logged by Arjuna here, it's counter productive;
- then Arjuna is wrapping our `ConstraintViolationException` into a `javax.transaction.Rollb

[2020-11-16 11:50] gavinking commented on #13303
I think you use the `currentSchema` parameter to set the schema in a Postgres JDBC URL (though I have not tested this).

[2020-11-16 11:54] Sgitario commented on #13303
My bad @gavinking ! I just checked the currentSchema parameter and it works as expected. Closing this issue.

[2020-11-16 11:54] #13303 closed

[2020-11-16 11:55] gavinking commented on #13303
Phew 😅 cheers!

[2020-11-16 12:06] renegrob commented on #13067
@geoand @aureamunoz I pushed the pull request. On my fork the pipeline is not completely green but the errors don't seem to be related to the commit. I didn't add additional tests so far.

[2020-11-16 12:07] mkouba commented on #13274
1. @gavinking  it's not an error, we log an INFO message because if you add an alternative bean that in not selected we can be sure that this bean will never be used and it's very likely a user error (quarkus DI == build-time).
2. It's not only about `@Priority`, the message lists all the ways how to select an alternative bean in quarkus: _"@Alternative but not selected by `@Priority`, `@Alternati

[2020-11-16 12:08] mkouba commented on #13274
@vsevel Yes, I don't there is an elegant (and build tool agnostic) way to distinguish the origin...

[2020-11-16 13:13] gavinking commented on #13274
Well, I understand that Quarkus is build-time, but I still don't see why you couldn't have unused `@Alternative`s in your build path. I mean, isn't that essentially the whole point of `@Alternative`? (Perhaps I'm missing something.)

So I would say it's *possibly* an error, but I wouldn't say it's *very likely*.

And I gotta agree that logging a *possible* user error at INFO level is pretty obnoxi

[2020-11-16 13:37] FroMage commented on #13307
1/ ArC doesn't have to wrap, it can rethrow even checked exceptions.
2/ Is there any good reason why Arjuna even wraps exceptions into `RollbackException`? That doesn't seem useful. @mmusgrov do you know?

[2020-11-16 13:43] gsmet commented on #13307
ArC does that only if they are in the list of thrown exceptions of the method. So if we keep it that way, as I mentioned it above, that means adding the `RollbackException` to the REST Panache methods.

[2020-11-16 13:48] FroMage commented on #13307
You're telling me what it does ATM, and I'm saying it doesn't have to. If the method throws an undeclared checked exception, it is most likely due to an interceptor. Either it's wrong and the interceptor should be corrected, or it's fine, and ArC should not get in the way and wrap it.

[2020-11-16 13:51] mkouba commented on #13274
But you could ;-). The primary purpose of this INFO message is to give a user a hint that some alternative bean that could be selected via `beans.xml` or by some extension-based technique is ignored.

I don't think so. The main use case for alternatives in quarkus is to provide an alternative implementation of a bean. Having an unselected alternative bean in a quarkus app is _pointless_, such a be

[2020-11-16 14:35] guildenstern70 commented on #11867
I got the very same problem with Quarkus 1.9.2
Source code: https://github.com/guildenstern70/SmartQuark

[2020-11-16 14:38] gsmet commented on #11867
@guildenstern70 please open a new issue, with the details of the error you obtain and a link to the reproducer you pointed out.

Thanks!

[2020-11-16 14:40] cescoffier opened #13317 "Quarkus HTTP response gets messed up under load"
**Describe the bug**
The issue title might be a bit misleading, still trying to understand.

Last week, we had an application starting to return broken HTTP response (more on this below) under load on OpenShift (important as the limited concurrency may be the issue).

[code]

The application is using Mutiny, Reactor, and R2DBC. It does an R2DBC query and the result is produced in a reactor epoll t

[2020-11-16 14:41] cescoffier commented on #13317
@stuartwdouglas any idea?

[2020-11-16 14:49] cescoffier commented on #13317
The issue happens in https://github.com/RedHatInsights/notifications-backend

[2020-11-16 14:50] #12795 closed

[2020-11-16 14:57] guildenstern70 opened #13318 "Kotlin Plugin: plugin is probably applied by a mistake"
Quarkus-Gradle-Kotlin project gives this warning while building (quarkus-build & quarkus-dev):

`

preparing quarkus application
kotlin scripting plugin: root project 'smartquark'.compileQuarkus-generated-sourcesKotlin - configuration not found: quarkus-generated-sourcesKotlinScriptDef, the plugin is probably applied by a mistake

preparing quarkus application
kotlin scripting plugin: root project

[2020-11-16 15:20] #13294 closed

[2020-11-16 16:20] ge0ffrey opened #13321 "Open localhost:8080 in default browser AFTER starting up if -Dquarkus.http.open-in-browser=true"
For demo scripts, it's very useful to open the content that Quarkus is serving, by opening the browser after the server has started.

The pitfall is that any demo shell scripts, can't open the browser themselves, because they have no clue how long it will take for the server to start up. Nor can they tell the user to open it, because the user might do it too soon, which ruins the demo experience.

[2020-11-16 17:03] msogrin opened #13322 "/app folder not readable by others, when Jib extra directories feature is used"
**Describe the bug**
When Jib extra directory feature is used (introduced in https://github.com/quarkusio/quarkus/issues/8936) by putting files into `src/main/jib` folder, if the `app` folder is used here (e.g. with a file `src/main/jib/app/foo`), then the `/app` folder created in the container image *does not have "o+x" permission*.

**Expected behavior**
`/app` folder in the container image has

[2020-11-16 17:11] emmanuelbernard opened #13323 "Spring Web app fails when using `@RequestMapping.path` vs `value`"
[code]

Stacktrace:

[code]

[2020-11-16 17:12] emmanuelbernard commented on #13323
I am having openapi as well as a dependency

[2020-11-16 17:13] geoand commented on #13323
@emmanuelbernard can you please add the stacktrace?

[2020-11-16 17:15] geoand commented on #13323
@phillip-kruger I added the stacktrace and it looks like OpenAPI is causing the issue.

Mind taking a look?

[2020-11-16 17:16] phillip-kruger commented on #13323
I am on it !

[2020-11-16 17:19] geoand commented on #13323
Thanks 👍

[2020-11-16 17:28] emmanuelbernard opened #13324 "Panache entity leads to NPE when no database config is present"
From https://code.quarkus.io/?g=com.redhat.natwest&a=todo-app&v=1.0.0-SNAPSHOT&b=MAVEN&s=98e.YjV.ARC.XZs.8IG.0D7&cn=code.quarkus.io

And adding

[code]

[code]

I get the following NPE

[code]

Which gets fixed when I add in `application.properties`

[code]

This is a regression

[2020-11-16 17:34] geoand commented on #13324
Not nice...

I can look at it if the Hibernate / Panache experts don't see anything obviously wrong that they can fix in no time

[2020-11-16 17:35] emmanuelbernard commented on #13324
Expected exception is https://youtu.be/SQDR34KoC-8?t=889

[2020-11-16 19:14] antoniomacri opened #13326 "Health check configurable for each datasource"
**Description**
I have multiple datasources, one of which is only used by a job at the beginning of the day. That datasource is failing sometimes and it causes the whole application to be seen as DOWN in the health check.

I'd need to configure for that specific datasource that I want the health check disabled, while still having the check enabled for my main datasource.

Any possibility to have t

[2020-11-16 19:42] antoniomacri commented on #13048
@machi1990 That would make perfectly sense to me, it's actually the other solution I was thinking about.

My concern about `concurrentExecution = SKIP` is in regard to this scenario: I have a 5-minutes periodic clustered job already running on a node, which is taking more than 5 minutes. Is the SKIP going to prevent the start of another execution of the job (on any node) while the previous is stil

[2020-11-16 19:45] cescoffier commented on #13305
No, we should support both.

[2020-11-16 20:34] sherl0cks commented on #13103
It's a real pain @arturs-cc . I think there needs to be a quarkus kotlin-jackson extension that handles all of these nasties for you.

[2020-11-16 20:48] phillip-kruger commented on #13323
This is fixed (https://github.com/quarkusio/quarkus/pull/13327) - maybe we can backport to still get the fix into 1.10.0 ? @gsmet ?

[2020-11-16 21:06] #13214 closed

[2020-11-16 23:11] seseso commented on #13301
Sorry but I don"t understand your question. This issue is related to command mode and I don!t have Rest endpoints on the project.

[2020-11-16 23:24] gwenneg opened #13332 "Repeated @InterceptorBinding are ignored by arc-processor"
I struggled for a while today with a repeatable interceptor binding that was ignored by arc-processor until I found in debug mode why it is ignored.

Let's assume the interceptor binding looks like this:
[code]

And is used that way:
[code]

Then, in the following code the repeated interceptor bindings will be ignored because `beanDeployment` doesn't know any interceptor binding named `Foo$Bar`:
h

[2020-11-17 00:36] #13323 closed

[2020-11-17 01:39] missourian55 opened #13334 "GELF handler randomly chunking the message"
**Describe the bug**
My logging pipeline looks like below, recently noticed log statements are randomly being dropped by fluentd and found out that its because Quarkus app with GELF randomly chunking the log statements

Quarkus App (GELF) ------>Fluentd----->Elasticsearch

**Expected behavior**
No chunking when operating in TCP mode

**Actual behavior**
Random Chunking and dropped log messages in

[2020-11-17 04:02] stuartwdouglas commented on #13317
So this is very odd. I think it must be happening in the RESTEasy layer, but I don't really see how.

The reason I think this is because of the content-length header. This is set in io.quarkus.resteasy.runtime.standalone.VertxHttpResponse#prepareWrite. If the content length actually matches the response  then that implies that both lists were written to the output stream.

[2020-11-17 05:42] geoand commented on #13301
I see. I asked because you mentioned the same code works with REST endpoints.

Try this: Annotate your model / entity object with `@RegisterForReflection` (see https://quarkus.io/guides/writing-native-applications-tips#alternative-with-registerforreflection)

[2020-11-17 06:31] stuartwdouglas commented on #13317
I have managed to reproduce this at https://github.com/RedHatInsights/notifications-backend/commit/627a9243e6e486c8abc58e92efee7e4c603da359

still not sure about the root cause though.

[2020-11-17 06:40] geoand commented on #13324
Just tried various versions of Quarkus and here is what I see:

With Quarkus `1.3.4.Final`, when `quarkus.datasource.db-kind` is missing, then you get the following build-time exception:

[code]

When moving to Quarkus `1.7.5.Final`, there is no build time error and the application fails at runtime with:

[code]

Finally with Quarkus `1.9.2.Final` (and `1.10.0.CR1`) the runtime exceptions:

[code]

[2020-11-17 07:23] stuartwdouglas commented on #13317
This is caused by the custom authentication layer, when a response is recieved from the MP Rest Client this will resume processing on a worker thread that already has some RESTEasy ThreadLocal state on the thread. Somehow this additional state breaks RESTEasy server when we start server side processing. I have no idea how or why, but when I clear the ThreadLocal state I can no longer reproduce thi

[2020-11-17 07:34] geoand commented on #13317
Wow!

Another case of the client interfering with the server that I am sure @FroMage will appreciate :)

[2020-11-17 07:37] geoand commented on #13322
https://github.com/quarkusio/quarkus/pull/13336 should fix the issue

[2020-11-17 08:30] FroMage commented on #13317
Didn't I tell you about this? ;)

[2020-11-17 08:34] FroMage commented on #13317
Actually it's worse: it's a mix of two issues that plague RESTEasy's context:

- mixing client and server context
- auto-creating contexts if not present, but re-using (and polluting) whatever current context otherwise

[2020-11-17 08:36] emmanuelbernard opened #13337 "import.sql file creation no longer triggers a Quarkus reload and of Hibernate to run the changes"
Creating an `import.sql` file no longer reload the app and thus the file content is not taken into account

From From https://code.quarkus.io/?g=com.redhat.natwest&a=todo-app&v=1.0.0-SNAPSHOT&b=MAVEN&s=98e.YjV.ARC.XZs.8IG.0D7&cn=code.quarkus.io

Create a resource and an entity and DB settings

[code]

Then refresh browser

Then create `import.sql` and add

[code]

Then refresh and the  content is

[2020-11-17 08:58] stuartwdouglas commented on #13317
Can this cause problems for apps that write JAX-RS responses from MP Client callbacks? If so I think this is a CVE, as you could send a users data to the wrong people. Even as it currently stands I think this issue is likely a CVE, although not something that we really provide out of the box so maybe a low priority one. @asoldano do you have any idea why resteasy could end up aggregating the data

[2020-11-17 09:03] emmanuelbernard opened #13338 "Panache fails with NPE when @Entity is forgotten"
Todo app with resource and Todo entity and proper configuration in app.properties

If I create the todo forgetting the @Entity

[code]

I get

[code]

upon refresh

[2020-11-17 09:03] emmanuelbernard commented on #13338
Another one @FroMage

[2020-11-17 09:05] FroMage commented on #13317
Well, I'm not sure, I think it depends on what state is present in the context. Just JAX-RS spec state is very little: "Except for Configuration and Providers, which are injectable in both client and server-side providers, all the other types are server-side only." so it could affect marshalling providers, but not really marshalling _state_.

I assume what's causing this issue is _internal_ RESTEa

[2020-11-17 09:06] loicmathieu commented on #13334
The underlying library used by `logging-gelf` is this one: https://logging.paluch.biz/
Byt default it chunked messages each 8192 bytes, you can increase this limit via `quarkus.log.handler.gelf.maximum-message-size`.

I'm not an expert of Fluentd but it should normally handle chunked message on its side (Logstash correctly handle it), maybe something needs to be configured on Fluentd side for this

[2020-11-17 09:52] vsevel opened #13339 "Bump Vault to 1.6 in extension IT and doc"
**Description**
Test vault extension against Vault 1.6.
Blocked by https://github.com/hashicorp/vault/issues/10232

[2020-11-17 10:20] geoand commented on #13324
Basically I think this boils down to:

Is there any scenario where `[WARNING] [io.quarkus.agroal.deployment.AgroalProcessor]  The Agroal dependency is present but no JDBC datasources have been defined.`  should indeed be a warning and not a build time error?

[2020-11-17 10:26] Sanne commented on #13324
-1 to making it a build time error. Having additional dependencies on classpath should not be an error, we can just ignore it.

Also think of the workflow in dev-mode: one needs to first add the dependency, then configure it. It shouldn't explode at the first step.

[2020-11-17 10:30] geoand commented on #13324
Right, that makes sense.

I think we can take care of this and #13338 if we have proper error message when Panache tries to execute a query when there is no EntityManager.

I'll check out that avenue.

[2020-11-17 10:34] Sanne commented on #13324
@geoand +1
I recall at least one other NPE with Panache in this area - I hope you could tidy up its reference checking, have a broad look around its expectations of having an actual EM reference?

[2020-11-17 10:39] geoand commented on #13324
Yup, that's what I hope to do :)

[2020-11-17 11:09] ge0ffrey opened #13341 "Maven property `quarkus.profile` should be picked up by quarkus-maven-plugin"
Given this pom.xml:
[code]
and this application.properties
[code]
the hello message should resolve to "Hi".

Reproduced with a "native" profile property in the code mentioned in this discussion:
https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Native.20profile.3A.20how.20to.20create.20one.3F

[2020-11-17 11:22] geoand commented on #13341
cc @aloubyansky

[2020-11-17 11:33] gsmet commented on #13324
I created a PR for the NPE 5 days ago but nobody reviewed it: https://github.com/quarkusio/quarkus/pull/13260 .

[2020-11-17 11:36] geoand commented on #13324
I have a more expansive solution coming up. Will open soon and we can discuss.

[2020-11-17 11:46] geoand commented on #13324
Here is what I came up with: https://github.com/quarkusio/quarkus/pull/13342

[2020-11-17 11:46] gsmet commented on #13324
BTW, I added this warning a few versions ago after Yoann complained about something similar:
https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmProcessor.java#L673
with the plan to make it a build time error at some point.

I just wanted to see if people did complain about the warning or not.

Given we

[2020-11-17 11:47] geoand commented on #13324
I think that makes sense

[2020-11-17 12:01] gsmet commented on #13337
Just FYI: we have a similar test case here: `AddNewSqlLoadScriptTestCase` - it's not testing adding the **default** import file though but a configured one.

[2020-11-17 12:11] geoand commented on #13337
Hm...

I can only reproduce this if `%prod.quarkus.hibernate-orm.sql-load-script=import.sql` is used instead  of `quarkus.hibernate-orm.sql-load-script=import.sql`.

If I use `quarkus.hibernate-orm.sql-load-script=import.sql` and there is no `import.sql` file I can a very informative message containing ` Unable to find file referenced in 'quarkus.hibernate-orm.sql-load-script=import.sql'. Remove p

[2020-11-17 12:29] gsmet commented on #13337
In dev mode, `import.sql` should be taken into account automatically, even without configuration.

See https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfigPersistenceUnit.java#L72

[2020-11-17 12:32] geoand commented on #13337
Ah, that's interesting. So the problem is probably pretty simple, that we don't properly handle that case.

[2020-11-17 13:05] geoand commented on #13337
The fix is indeed easy and small.

I'll add a test and open a PR

[2020-11-17 13:12] Sanne commented on #13337
@geoand hey the issue was assigned to me :)  But cool, I have a test but didn't start looking at the fix.  I'll share the test with you

[2020-11-17 13:16] Sanne commented on #13337
@geoand https://github.com/quarkusio/quarkus/commit/801ffbed13e9a6296ff03ff8ee572a0e7b58223c

[2020-11-17 13:18] geoand commented on #13337
@Sanne sorry, it's just that after reproducing the issue, I was curious and only meant to fix it if I could do it real quickly.

Thanks for the test! I'll add it to my PR as a second commit

[2020-11-17 13:53] famod commented on #13298
I was curious and so I tried it without Eclipse and with the following steps I could *not* reproduce the issue:
- `mvn clean install -DskipTests`
- `mvn quarkus:dev -f server`
- `mvn exec:java -Dexec.mainClass='com.acme.ClientMain' -f client`
- modify `ClientMain`
- `mvn compile exec:java -Dexec.mainClass="com.acme.ClientMain" -f client`

@andrzejszywala Can you check please? I you also cannot rep

[2020-11-17 14:02] #13289 closed

[2020-11-17 15:11] springfan commented on #4224
That doesn't work for Java 11 as it at least in OpenJDK tools.jar is not included anymore.

[2020-11-17 16:03] missourian55 commented on #13334
@loicmathieu Thanks

Yes, I have configured the **max message size to 2MB** . Now, I am testing it with logstash

Quarkus App ===>logstash gelf input (tcp)=====>Elasticsearch

Looks good so far, it seems fluentd gelf plugin has some issues

[2020-11-17 16:08] #13337 closed

[2020-11-17 16:17] loicmathieu commented on #13334
OK, if the issue is only with fluentd we cannot do anything at our side.

Can we close the issue ? Or do you want to keep it open for some more time ?

[2020-11-17 16:28] seseso commented on #13301
I'll try it later in the week. In the meantime, I installed graal vm instead of mandrel and the results are different. My entity (POJO) extends a base classe with some common field throughout my entities and only the POJO fields are written. The base classes fields are not persited, except for the id field which is one of the fields present in the base classe.

[2020-11-17 16:58] loicmathieu commented on #13301
We register for reflection all entities (wether they extends PanacheEntity or are the parameter type of PanacheRepository).
We also have tests for the case where your entity extends an abstract class.

If it's working for rest endpoint but not command line application, we may have miss some corner case, we would really need a reproducer.

[2020-11-17 17:02] tcollignon commented on #10682
Hi

On a project without resteasy the hack :
_A workaround could be to define an @AutomaticFeature to register the String#getBytes() method for JNI access_
Works for me now with graalvm 20.2

But on a project with resteasy it does not, I have this error (in a docker container) :
[code]

[2020-11-17 17:41] #13324 closed

[2020-11-17 17:41] #13338 closed

[2020-11-17 19:00] missourian55 commented on #13334
with logstash gelf I don't see the log chunking problem. I noticed one more issue, the Quarkus GELF extension doesn't support an option to disable **includeLogMessageParameters** property as configured here. Can we please add _all the available options from the original library_ to Quarkus extension?

https://logging.paluch.biz/examples/jbossas7.html

Notice the **messageparams0**, it just space e

[2020-11-17 19:35] murphye commented on #11923
Can someone make a GitHub issue to track the native mode support?

[2020-11-17 20:18] #13322 closed

[2020-11-17 21:46] Phil404 opened #13348 "Render HTML in Qute from data properties"
Hello,

I have the following problem:
I store text with html tags in database and want to render it with qute.
The text appears in the rendered page but the html tags are not rendered.

landingpage.kt
[code]

landingpage.html
[code]

Are there any option to turn html rendering for qute data on or did i miss something?

[2020-11-17 22:41] murphye opened #13349 "Native Support for Micrometer + Stackdriver"
**Describe the bug**

Micrometer Stackdriver isn't supported by Quarkus Native.
https://github.com/ebullient/quarkus-micrometer-extension/pull/3

This is would a **nice to have** for those who are using Google Cloud Platform which uses Stackdriver. There is increasing interest with using Quarkus Native with managed Google Cloud Run, which would require the Stackdriver support in order to collect m

[2020-11-18 00:34] manovotn commented on #13332
This is a bug. Or to be more precise, we probably just didn't need it yet :-)

While interceptors spec doesn't specifically say it should work, it doesn't forbid it either.
And Weld seems to have tests for it - https://github.com/weld/core/blob/3.1/tests-arquillian/src/test/java/org/jboss/weld/tests/repeatable/IncrementingInterceptor.java

[2020-11-18 01:25] gwenneg commented on #13332
Thanks for the answer @manovotn.

I self-assigned this issue because I thought I had a clean fix, but it's not pretty at all in the end so I'm unassigning...

[2020-11-18 03:59] gauravrmsc commented on #13239
@sberyozkin
Do I need to create a separate extension or just add one more implementation in the OIDC extension package.

[2020-11-18 05:44] andrzejszywala commented on #13298
Yes from maven it works just fine. I think the problem is in the ```io.quarkus.deployment.dev.IDEDevModeMain``` class. In this code fragment
[code]
to the devModeContext.additionalModules shouldn't be added modules which are not in dependencies of quarkus appliaction.
After execution of this loop
[code]
devModeContext.additionalModules looks like the following screen
![screen1](https://user-images

[2020-11-18 07:14] geoand commented on #6588
Seems like the job is failing when trying to install JDK 11

[2020-11-18 07:18] mkouba commented on #13048
@antoniomacri I'm sorry for confusion. My answers should be more like... in SO: "it sounds reasonable and we may implement this in the future", here: "it sounds reasonable but we don't have any resource planned for this task".

[2020-11-18 07:50] mkouba commented on #13348
For HTML templates some special characters are [escaped by default](https://quarkus.io/guides/qute-reference#character-escapes) to prevent unintended/dangerous output. You need to use the `raw` or `safe` properties to render the unescaped value: `{data.raw}` or `{data.safe}`.

[2020-11-18 07:50] #13348 closed

[2020-11-18 08:12] mkouba commented on #13332
Hm, I don't remember why only repeating qualifiers are standardized. It might be the inheritance rules where things can get really complicated. But the same applies to qualifiers. So I really don't know.

I think that a straightforward solution might be to (1) collect all interceptor bindings, (2) collect all container annotations, (3) use an annotation transformer to "extract" container annotatio

[2020-11-18 08:28] hrensgory commented on #11549
Filed issue to Kotlin team, perhaps they can shed some light on it:  https://youtrack.jetbrains.com/issue/KT-43438

[2020-11-18 08:37] loicmathieu commented on #13334
Please open an enhancement request for this as it is not related to this issue.

Note that, by design, we choose to not include all possible configuration option inside Quarkus extensions, for simplicity sake.

[2020-11-18 08:40] loicmathieu commented on #13349
@murphye as you already noticed, Google Cloud services are developed outside the core Quarkus extensions inside the Quarkiverse Google Cloud Services repository.

@ebullient maybe the Quarkiverse repo is a better host for this extension ?

[2020-11-18 08:51] LukasSeglias opened #13353 "ClassCastException in QuarkusTest when using QueryDSL in a Gradle Kotlin Quarkus service"
**Describe the bug**
Using QueryDSL in a JAX-RS-Resource works when making a request to the resource after running quarkusDev. When running a QuarkusTest for that resource, a ClassCastException is thrown.

**Expected behavior**
The test should not fail.

**Actual behavior**
Running the QuarkusTest produces the following ClassCastException:

_org.jboss.resteasy.spi.UnhandledException: java.lang.Cla

[2020-11-18 09:00] manovotn commented on #13332
@mkouba @gwenneg I agree that specs aren't clear about this so I've create this issue in interceptors spec - https://github.com/eclipse-ee4j/interceptor-api/issues/81

[2020-11-18 09:07] jgrabowski commented on #12685
I'm having the very same problem as author. I cannot delete persistence xml it as it's external library that uses persistence.xml on Wildfly appserver.
Solution with running with -DSKIP_PARSE_PERSISTENCE_XML=true is fine for running, but I'm having problems while running tests from VS Code. I think that solution presented here (ability to add exclusion in application.properties): https://github.co

[2020-11-18 09:19] a943915349 opened #13354 "The configuration file is allowed to be overwritten, but the written file is not allowed to have attributes that are not available under the original resources"
After quarkus packaging, the configuration file is allowed to be overwritten, but the written file is not allowed to have attributes that are not available under the original resources, such as multiple Hibernate-ORm. If only one hibernate-ORm was configured in the original, and several Hibernate-orm were added in the configuration file after finishing the package, an error will be reported...

[2020-11-18 09:19] kny78 commented on #11549
@hrensgory @geoand It has already been reported to Kotlin, but they have said:

And if we **remove @QuarkusTest**, then it runs as it should.

Is it possible to easily check if the classloader that calls the test-code has kotlin-stdlib on the classpath?

[2020-11-18 09:20] kny78 commented on #11549
Did anyone clone the test-repo, and try to run the code? It is updated with Quarkus 1.9.2!

[2020-11-18 09:28] dinabogdan commented on #12685
@jgrabowski you can run the tests by using Maven. Or you can add a system property in your Run Configuration (at least this works in IntelliJ IDEA). I did not use VS Code and I don't know its features :)

[2020-11-18 09:31] Sanne commented on #13354
Hi, this is by design. In Quarkus there's a distinction between "build time" and "runtime" configuration properties.

The "runtime" configuration properties can be changed after having built it (or "packaged", like you say). But only those.

All other configuration properties have deeply structural implications in actually how the application is packaged; please refer to this table:
 - https://qua

[2020-11-18 09:31] #13354 closed

[2020-11-18 09:41] geoand commented on #13256
@Sanne @stuartwdouglas I had another idea I would like your thoughts on:

My basic premise is that I want to augment the `RunnerClassLoader` with the exact locations of (most of) the resources that are actually loaded by the application.
The way I thought we can achieve that is by doing the following:

* In our generated Main class, have an option to skip the runtime-init execution (similar to wha

[2020-11-18 09:47] seseso commented on #13301
Here is the reproducer: [](https://github.com/seseso/mongodb-panache-quickstart.git)
mvn package -Pnative
./target/mongodb-panache-quickstart-1.0-SNAPSHOT-runner
Log:
2020-11-18 09:44:51,771 INFO  [org.acm.mon.pan.App] (main) Inserted person with legacyId 1 and name John Doe
2020-11-18 09:44:51,771 INFO  [org.acm.mon.pan.App] (main) Found persons with legacyId = 1: 0
2020-11-18 09:44:51,772 INFO

[2020-11-18 09:48] cescoffier opened #13355 "Hibernate Reactive hot reload issue"
**Describe the bug**

In dev mode, when I update an `entity`, I get:

[code]

I was updating a named query:

[code]

**Expected behavior**
It should work :-D

**Actual behavior**
It does not work

**To Reproduce**

A simple entity with a named query in dev mode should reproduce it.

[2020-11-18 09:52] cescoffier opened #13356 "Activate the RequestScope when invoking gRPC services"
**Describe the bug**

gRPC services should have the request scope enabled as, without it, they cannot use Hibernate Reactive.

Note that the `EnableRequestScope` annotation does not work in this case as it closes the request scope **before** the Uni / Multi gets the result.

**Expected behavior**

Service implementation should have the request scope enabled.

**To Reproduce**

Implement a Hello gR

[2020-11-18 09:54] cescoffier commented on #13356
@mkouba can we have a CDI interceptor enabling a request scope before the call of the method and disabling it once the returned Uni / Multi completes (or fails) ?

[2020-11-18 09:55] cescoffier opened #13357 "gRPC client reponse dispatched on the wrong thread"
A gRPC client response got dispatched on a gRPC executor instead of the event loop.

[2020-11-18 09:57] cescoffier opened #13358 "Extend gRPC @Blocking support"
**Description**

Initially, the `@Blocking` annotation was limited to methods.
With the extension to classes, we need to update the extension to handle this case.

[2020-11-18 10:00] mkouba opened #13359 "Split the configuration guide into "introduction" and "reference""
https://groups.google.com/g/quarkus-dev/c/hY958oxuvio

[2020-11-18 10:11] mkouba commented on #13356
@cescoffier Well, you can have an interceptor that _starts_ a request context but does not _destroy_ it. Instead, it can just _deactivate_ the context, i.e. remove the threadlocal to avoid leaks. And then you can destroy the context once the Uni/Multi completes. This is what we do for reactive routes: https://github.com/quarkusio/quarkus/blob/master/extensions/vertx-web/runtime/src/main/java/io/qu

[2020-11-18 10:26] GiuseppeScaramuzzino commented on #13251
I agree with @loicmathieu to introduce an easy way to mock the PanacheQuery implementation or directly a Mock for PanacheRepository.

In my case I need to test the .find() of my PanacheRepository<Label> in this way (thanks to @loicmathieu ):

[code]

Link to the StackOverlow issue: https://stackoverflow.com/questions/64765163/how-to-mock-panachequeryentity-using-quarkus-with-hibernate-omr-panacher

[2020-11-18 10:29] Sanne commented on #13355
@aguibert could you have a look at this one?

[2020-11-18 10:47] jmartisk commented on #13326
I think this makes sense. We could add a `health-enabled` property per data source and treat it as `true` by default if health is enabled in general.
I will look into it soon if no one else wants to take it

[2020-11-18 10:48] cescoffier commented on #13356
Yes, it's easy to do for Reactive routes... a bit less easy with gRPC (they have their own interceptor stuff). That's why I was wondering about the CDI interceptor.

Well, gRPC interceptors, let's meet again (last time I won!)

[2020-11-18 11:26] sberyozkin commented on #13339
@vsevel #13347 has been merged, should this issue be closed now (your PR had a workaround) ?

[2020-11-18 12:06] mkouba commented on #13356
I'm not quite sure I understand ;-). So a CDI interceptor is always bound to a method invocation - once an invocation completes the interceptor is out of game.

[2020-11-18 12:18] venki157 commented on #11861
Anything concluded on this multitenency issue. When can we expect this fix?

[2020-11-18 12:19] vsevel commented on #13339
yes @sberyozkin
Fixed by https://github.com/quarkusio/quarkus/pull/13347

[2020-11-18 12:19] #13339 closed

[2020-11-18 12:22] Karm commented on #12535
@gsmet is it going to make it to 1.7.6.Final? The issue is closed....

[2020-11-18 12:38] #13272 closed

[2020-11-18 12:41] zakkak commented on #12535
@gsmet I don't think that this patch needs to get backported :/
The issue appears only with GraalVM CE 20.3.x, while 1.7.x is supposed to work with GraalVM CE 20.1.x

[2020-11-18 12:46] cescoffier commented on #13356
But if my interceptor captures the produce Uni / Multi and attached the right code on termination, that would work right?

[2020-11-18 12:48] gsmet commented on #12685
It looks like a common issue so maybe we should add an option for it.

I don't think it would be that hard to be honest so maybe someone can give it a go?

We could add an `ignore-persistence-xml` option here: https://github.com/quarkusio/quarkus/blob/master/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/hibernate/orm/deployment/HibernateOrmConfig.java and take it into account instea

[2020-11-18 12:48] #13317 closed

[2020-11-18 12:58] ebullient commented on #13349
stackdriver is optional registry add-on for micrometer, which is a core extension

[2020-11-18 13:00] gsmet commented on #12535
My position was it doesn't hurt to have it.

[2020-11-18 13:01] Sanne commented on #12685
Ok. I tried hard to avoid  the option, but you all managed to change my mind. Thanks!

[2020-11-18 13:04] zakkak commented on #12535
OK, just keep in mind though that this is expected to be needed only for GraalVM CE 20.3. In Mandrel 20.3 we have already backported from GraalVM `master` a fix (https://github.com/graalvm/mandrel/pull/174) that probably (haven't tested yet, but it works for a similar issue in Tika) makes this change in Quarkus obsolete. So I would expect this PR to become obsolete once GraalVM 20.1 (and possibly

[2020-11-18 13:06] #13309 closed

[2020-11-18 13:07] mkouba commented on #13356
Yes, that's basically what the `RouteHandler` does (it's kind of "manual" `Handler.handle()` interception).

[2020-11-18 13:08] #6286 closed

[2020-11-18 13:25] DorianMaliszewski commented on #11861
Refer to this issue please : https://github.com/quarkusio/quarkus/issues/11949

[2020-11-18 13:33] rsvoboda commented on #13307
This has `kind/enhancement` label present, should it be changed to `kind/bug` + description updated a bit?

[2020-11-18 13:37] Sanne commented on #13307
@rsvoboda +1, done

[2020-11-18 13:44] mposolda commented on #13234
@Sanne @beikov Thanks!

[2020-11-18 14:36] ia3andy opened #13362 "Generated projects don't follow the given package name (codestarts)"
**Describe the bug**
This bug is not affecting the RESTEasy and SpringWeb codestarts

**Expected behavior**
Given package name should be used (instead of `org.acme`) for all examples

[2020-11-18 14:43] jfrantzius opened #13363 "JWT authentication failure responds with Basic Auth challenge when both JWT and basic mechanisms are enabled"
**Describe the bug**
When using quarkus-smallrye-jwt, and on authentication failure of a request, Quarkus responds with the wrong challenge `www-authenticate: basic realm= ...` instead of `www-authenticate: Bearer {token}` in the 401 response. This causes the Chrome browser to display a Basic Auth login popup on XHR requests where it shouldn't.

**Expected behavior**
If multiple `HttpAuthenticatio

[2020-11-18 15:14] gsmet opened #13364 "Gelf test timing out"
@loicmathieu so we just add this failure for native tests in a Hibernate ORM PR:
[code]

https://github.com/quarkusio/quarkus/pull/13352/checks?check_run_id=1418454217

I don't know if we just need to set a higher timeout or if that means we won't be able to test things for Gelf?

[2020-11-18 15:38] loicmathieu commented on #13364
This is what I was afraid of :(

This should be this timeout that needs to be increase: https://github.com/quarkusio/quarkus/blob/master/integration-tests/logging-gelf/src/test/java/io/quarkus/logging/gelf/it/GelfLogHandlerTest.java#L51

Ideally we should switch to a more "clever" think than awaiting, I need to check but there should be some API that we can request to know if the UDP input is read

[2020-11-18 17:00] #12980 closed

[2020-11-18 17:00] #13234 closed

[2020-11-18 17:00] miron4dev commented on #13103
I updated `reflection-config.json` and `resources-config.json` in the mentioned repo

reflection-config.json:

[code]

resources-config.json:
[code]

and now started receiving the new error:

[code]

I don't know why it requires `LambdaRequest[]` (array) and not `LambdaRequest`, but looks like `@RegisterForReflection` doesn't handle this case.
The issue can be solved by manually adding the require

[2020-11-18 17:16] geoand commented on #13256
Here a draft PR of the idea outlined above: https://github.com/quarkusio/quarkus/pull/13365

[2020-11-18 20:34] michael-schnell commented on #11861
I would love to do it, but at the moment I have no time. Hopefully there is some spare time during the Christmas holidays. As suggested by Gavin the idea is to move the functionality out of Hibernate extension into the datasources extension. Definitely I will  also need support from the datasources maintainers for this task.

[2020-11-18 20:48] msigl commented on #461
I'm having the same issue. Could you share your solution? :-)

[2020-11-18 22:12] rquinio commented on #13263
Linking to https://github.com/eclipse/microprofile-rest-client/issues/262, as it appears to be an issue in the spec.

[2020-11-18 22:27] aguibert commented on #13355
Sure, I'll take a look

[2020-11-19 03:19] missourian55 opened #13370 "Add additional properties to the quarkus GELF extension"
**Description**

Quarkus GELF extension is based of below library. However, it doesn't support all the properties of the original library. Two very important features for example. These additional knobs improves the user experience, performance, and cost savings for the Quarkus users.

- **includeLocation**  by default this option is set as true, in performance sensitive application we want to tur

[2020-11-19 03:22] missourian55 commented on #13334
@loicmathieu We can close this. I opened  a new enhancement request

https://github.com/quarkusio/quarkus/issues/13370

[2020-11-19 03:22] #13334 closed

[2020-11-19 03:23] missourian55 commented on #13370
@loicmathieu I closed the original issue https://github.com/quarkusio/quarkus/issues/13334

[2020-11-19 04:23] cihati commented on #13023
@majonga88 would you mind sharing the solution?

[2020-11-19 07:28] mkouba commented on #13108
FYI there is a [PR](https://github.com/quarkusio/quarkus/pull/13283) where the following syntax is supported:
[code]
<1> Enum constant is validated if enumValue is bound to a type.

or even:
[code]

[2020-11-19 08:35] majonga88 commented on #13023
@cihati I switch to Spring Boot, I was inspired by this example : https://auth0.com/blog/securing-spring-boot-apis-and-spas-with-oauth2/

And the gihub link : https://github.com/auth0-blog/spring-boot-oauth2

[2020-11-19 09:16] hrensgory commented on #11549
@kny78 - as for now bug isn't declined, so vote for it ;-) !

I added quarkus-bootstrap-maven plugin and called quarkus-bootstrap-maven-plugin:dev-mode-tree  as well as quarkus-bootstrap-maven-plugin:build-tree but I didn't find anything suspicious in the output.  Could you check it as well, please, I can miss something.

[2020-11-19 09:27] mkouba commented on #13073
Unfortunately, I have no idea how fix this or whether it's even possible.

[2020-11-19 10:04] Shohou opened #13372 "fails to start in production with Duplicate method name "<init>" with signature "()V""
**Describe the bug**
I create an ApplicationScoped class twice through a separate Dependent config. It works in dev mode, but fails in production

**Expected behavior**
Either fail in dev mode or work everywhere

**Actual behavior**
fails in production with error
[code]

**To Reproduce**
1. checkout https://github.com/Shohou/quarkus_bug
2. run `./gradlew clean quarkusDev` and see that `someClass2\

[2020-11-19 10:08] miron4dev commented on #13103
Probably this is a separate issue, but when I explicitly registered `LambdaRequest[]` in reflection-config.json and called lambda I started receiving the new error:

[code]

This might be ok for non-nullable fields, but `nullProperty` has a nullable type!

[code]

[2020-11-19 10:19] Shohou commented on #13372
added branch with maven with name "maven"
Steps to reproduce:
1. checkout https://github.com/Shohou/quarkus_bug/tree/maven
2. `./mvnw quarkus:dev` and see it works
3. `./mvnw package`, `docker build --tag test -f ./docker/Dockerfile .`, `docker run -it --rm test` and get the same exception

So this bug is not gradle related

[2020-11-19 10:41] seseso opened #13374 "Mongodb panache entities with enums persist vs query"
**Describe the bug**
When creating a document in mongo with an entity that has an Enum, the persit will use the enum.name() to persit the String. When querying the same field with the same enum, the value used in query is enum.toString(). This causes problems if we have an enum with values:
[code]

The persisted field will be "ALIVE" but the query will try to use "He's Alive!"

**Expected behavior

[2020-11-19 10:50] miron4dev commented on #13103
Kotlin `chunked` uses `yield` internally, and `yield` is a suspendable function (part of coroutines API).

As far as I understand, Quarkus doesn't support it

https://github.com/quarkusio/quarkus/issues/10162
https://github.com/quarkusio/quarkus/issues/7999

[2020-11-19 10:55] manovotn commented on #13274
@mkouba BTW this will still hide actual user errors when running tests. In such case I think it's lesser evil to print some info logging about extra test-only alternatives rather than hide everything under debug. WDYT?

[2020-11-19 11:49] rohit-s8 opened #13377 "Add configuration property to disable http access log for certain routes"
**Description**
Quarkus provides a way to log the http calls being made to it via the config property `quarkus.http.access-log.enabled`and this is just fine. However, in a kubernetes environment, this usually means that all the liveness and readiness probes also get logged which makes the logs very messy (IMO). So it would be great if there was a property like `quarkus.http.access-log.disabled-rou

[2020-11-19 11:56] geoand commented on #13377
I think this makes sense.

WDYT @stuartwdouglas @cescoffier @kenfinnigan @ebullient ?

[2020-11-19 12:36] alesj opened #13378 "Quarkus (or JPA) should throw better error or warning when you're mixing annotation placement - fields vs properties"
I had:

AbstractEntity had @Id on getter,
User extends AbstractEntity had @OneToMany(mappedBy = "user") on Set<Images>.

And I got this error at runtime:

org.hibernate.MappingException: Could not determine type for: java.util.Set, at table: User, for columns: [org.hibernate.mapping.Column(images)]

It did confuse me, tnx to @stuartwdouglas we quickly figured out the actual problem.

[2020-11-19 12:41] Sanne commented on #13378
`User extends AbstractEntity had @OneToMany(mappedBy = "user") on Set.`

do you mean you had it on a field of type `Set`, or on a  _setter_ ?

[2020-11-19 12:50] alesj commented on #13378
Ah, sorry, yes, on a field

[2020-11-19 12:50] ebullient commented on #13377
y. A similar mechanism exists in micrometer to exclude urls.

I don't know that I would exclude them by default. It can be the easiest first check that things are working properly (even before your endpoint works).

[2020-11-19 13:11] kenfinnigan commented on #13377
Probably should be a follow on from #13144 to make it easier as it can be anything under the endpoint prefix is ignored

[2020-11-19 13:44] yuriy-larin-firstbridge commented on #10147
The same for me. I've made changes in my current project to run application as Quarkus app. So changes were by replacing :
[code]
to code like
[code]
and got that error inside IDEA trying to start it up as before
[code]

[2020-11-19 14:20] ia3andy opened #13382 "CI is failing on Gradle tests MultiModuleUberJarTest.testUberJarForMultiModule()"
**Describe the bug**
MultiModuleUberJarTest.testUberJarForMultiModule() is failing:
[code]

[2020-11-19 14:55] #8975 closed

[2020-11-19 14:55] #12266 closed

[2020-11-19 14:59] pschyma commented on #11549
It's getting a bit urgent now: with 1.10.CR1 Kotlin 1.4.10 is pulled into the dependencies when one uses `testImplementation("io.rest-assured:kotlin-extensions:4.3.1")` and does not enforce the Quarkus platform (`implementation(platform("$quarkusPlatformGroupId:$quarkusPlatformArtifactId:$quarkusPlatformVersion"))`).

With my limited time right now and my lack of understanding the Quarkus class lo

[2020-11-19 15:19] loicmathieu commented on #13370
@missourian55 #13384 will provides the needed configuration options.

[2020-11-19 15:28] #13362 closed

[2020-11-19 15:35] evanchooly commented on #11549
I'm actively looking in to this for what it's worth but it's leading in to parts of quarkus I'm not super familiar with so it's taking time.

[2020-11-19 15:49] funcbro opened #13385 "GraphQL Batch processing throws a ContextNotActiveException"
**Describe the bug**
GraphQL Batch processing throws a ContextNotActiveException

**Expected behavior**
As described in https://quarkus.io/guides/microprofile-graphql#batching Batch processing should work =)

**Actual behavior**
GraphQL Batch processing throws a ContextNotActiveException

**To Reproduce**
See attachment for simple setup:
[TestGraphQLResource.zip](https://github.com/quarkusio/quark

[2020-11-19 15:54] pivovarit commented on #11573
Just dropping another issue for you to be aware of: https://github.com/oracle/graal/pull/2993

[2020-11-19 15:54] mkouba commented on #13274
I've just rediscovered the `TestClassPredicateBuildItem` (ok, ok, I implemented this build item long time ago.. :-)  and so we can actually distinguish the test classes.

@manovotn Well, you're right that a log message does not hurt (esp. with the INFO level). I'll try to prepare a PR and then we can decide...

[2020-11-19 15:55] phillip-kruger commented on #13385
Hi @funcbro , thanks for this. We know about this one. Can you test against 1.10.0 and let me know, or alternatively if you have a project example I can look at ?

[2020-11-19 16:09] ia3andy opened #13386 "Logging gelf CI error"
**Describe the bug**
This error popped in my PR CI on JDK 11 only (I guess it failed randomly):

[code]

https://pipelines.actions.githubusercontent.com/5Na9LjmLgXLiLuzJ0Z1qHRbIDVUXUHNrKe6jPcqGdw5t1S8TiW/_apis/pipelines/1/runs/84937/signedlogcontent/43?urlExpires=2020-11-19T16%3A07%3A14.5570782Z&urlSigningMethod=HMACV1&urlSignature=cYczWTWJ0ycVcEKHFuPUg1hup4gD6ZnMSQjLRt9qrnA%3D

[2020-11-19 16:52] loicmathieu commented on #13386
Duplicated with #13364

I'll increase the timeout and see if it solved the issue.
If not I'll disable the test for now waiting for a better solution.

[2020-11-19 16:53] #13386 closed

[2020-11-19 18:04] Sanne commented on #12873
sorry for the delay, I've finally been looking at this today. Indeed it seems we're having a regression in how the application is being instrumented.

[2020-11-19 19:12] sherl0cks commented on #13103
Yea this is a pain too. For nullable fields, I've gotten around this by making sure there is a default set for the val. @miron4dev are you on Java 8 or 11? The solution in https://github.com/quarkusio/quarkus/issues/3954 does not work for me in Java 8, but I'm trying it now on Java 11 and will report back.

[2020-11-19 19:15] luneo7 opened #13390 "Quarkus GRPC client is setting wrong values for maxInboundMetadataSize and maxInboundMessageSize"
**Describe the bug**
The GRPC Channels class is setting user settings wrongly (quarkus/extensions/grpc/runtime/src/main/java/io/quarkus/grpc/runtime/supports/Channels.java):

[code]
Because of that the quarkus.grpc.clients."service-name".max-inbound-message-size setting does nothing.

And the server part doesn't have a way of setting the max inbound metadata size.

**Expected behavior**
The runtim

[2020-11-19 21:24] samodadela opened #13393 "Quarkus micrometer - Issue with distribution type metrics (stackdriver)"
It seems that distribution type metrics don't work with StackDriver - values are sent, but they are all zeros.

I'd expect to see values of those metrics.

All distribution type metrics send zero's to StackDriver. The metrics in question are:
- custom.googleapis.com/jvm/gc/pause
- custom.googleapis.com/http/server/bytes/read
- custom.googleapis.com/http/server/bytes/written
- custom.googleapis.com

[2020-11-19 21:28] samodadela commented on #13393
Additional info

Prometheus reports non-zero values:
[code]

Some info from a debug session:
[code]
breakpoint was in StackDriverMeterRegistry.java line 169...
[code]

I actually get called in:
[code]
histogramSupport.id is for jvm.gc.pause ... but the values are always 0

zero values come from:
[code]
that's micrometer's NoopHistogram

[2020-11-19 21:30] samodadela commented on #13393
A screenshot from GCP Metrics explorer showing all metrics are 0:

![image](https://user-images.githubusercontent.com/16334222/99726387-bab87f80-2ab6-11eb-8882-95046fb97752.png)

[2020-11-20 06:37] kny78 commented on #11549
Maybe a stupid, and out of place question, but does Quarkus / Jboss really need a special ClassLoader for Quarkus? Quarkus is meant for microservices, and not as a "Application Server".

Is it possible to disable the custom ClassLoader?

[2020-11-20 06:53] geoand commented on #11549
In test mode and dev mode, the special ClassLoader is absolutely necessary

[2020-11-20 06:58] ivannov opened #13395 "Enhancements in @Startup annotation"
**Description**

Right now, when a bean is annotated with the `io.quarkus.runtime.Startup` annotation, it is eagerly instantiated by the Quarkus runtime when the applications starts.

Sometimes for such beans a Quarkus application developer may decide to create alternative that should be picked up in test or dev mode or when a certain Quarkus profile is active. However, due to the nature of the ob

[2020-11-20 07:26] cescoffier commented on #12111
Still failing on Gradle. @glefloch can you have a look?

[2020-11-20 08:09] #10801 closed

[2020-11-20 08:19] funcbro commented on #13385
Hi @phillip-kruger, just tested the problem in 1.10.0.Final. The Exception is still thrown.

Here is the Test-Project based on the 1.10.0.Final archetype:
[microprofile-graphql-quickstart.zip](https://github.com/quarkusio/quarkus/files/5572159/microprofile-graphql-quickstart.zip)

And here is the test-query:
[code]

[2020-11-20 08:25] phillip-kruger commented on #13385
Thanks ! I am look at this.

[2020-11-20 08:48] phillip-kruger commented on #13385
For now, remove `@RequestScoped` and see if that work please.

[2020-11-20 08:55] jmartisk commented on #13385
@phillip-kruger just a little hint should you be unsure where to look - https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-graphql/runtime/src/main/java/io/quarkus/smallrye/graphql/runtime/SmallRyeGraphQLExecutionHandler.java#L57 this is where we activate the request context. I think the problem with batching is that the handling is performed asynchronously in different threads w

[2020-11-20 09:06] phillip-kruger commented on #13385
Yes, I just wanted to give @funcbro a "workaround". Do you want to do a fix ?

[2020-11-20 09:09] jmartisk commented on #13385
Haven't tried but I think that if the processing is asynchronous then the annotation won't have any effect.
Sure, I can have a look into it.

[2020-11-20 09:16] #13374 closed

[2020-11-20 09:41] funcbro commented on #13385
Removing RequestScoped (even it if worked) is no option in my case. Might work for the test-case though.
Also tried to use ActivateRequestContext annotation which also has no impact

[2020-11-20 09:49] knutwannheden opened #13399 "Cache exception handling broken in Quarkus 1.10.0.Final"
**Describe the bug**
When the cache value computation throws an exception a non-completed `CompletableFuture` value is written to the cache. The next time a client fetches the value for the same key from the cache the call will block forever in `CompletableFuture#get()` since the value was not removed from the cache in the exception handling.

For a simple reproducer see https://github.com/knutwan

[2020-11-20 12:32] sberyozkin opened #13401 "Refreshing expired IDToken fails if the auto-refresh interval is bigger than the ID token lifespan"
**Describe the bug**

OIDC `CodeAuthenticationMechanism` can use `quarkus.oidc.token.auto-refresh-interval` property to check if the current session/ID token  will expire within this interval and if yes - the auto-refresh it.
However this property, if its value configured to be bigger than the ID token lifespan, will cause refreshing an already expired ID token fail - this is because the newly ref

[2020-11-20 12:37] #13364 closed

[2020-11-20 14:09] ambition-consulting commented on #8622
I don't see how this solution works for programatically built RestClients

[2020-11-20 14:24] ambition-consulting commented on #5527
Agreed. Why use interface definitions for REST servers and then not make them usable for REST clients?

[2020-11-20 14:28] mkouba commented on #13395
Hm, I liked the idea. But in fact, you can simply annotate your bean with `@UnlessBuildProfile("test")` and it will be completely ignored during tests automatically, i.e.:
[code]
So it's probably unnecessary since we have an annotation-based alternative even now. @geoand @manovotn WDYT?

[2020-11-20 14:32] geoand commented on #13395
Very good point @mkouba !

+1 on just reusing what we have

[2020-11-20 15:20] manovotn commented on #13395
+1 for `@UnlessBuildProfile("test")`, let's not re-introduce what we already have.

[2020-11-20 15:23] ivannov commented on #13395
I can confirm that the proposed solution works for me.

I am OK to close the issue

[2020-11-20 15:24] #13395 closed

[2020-11-20 15:27] loicmathieu opened #13404 "Document gRPC blocking usage"
**Description**
There is no mention on blocking code inside a gRPC endpoint.

**Implementation ideas**
Add some documentation about using `@Blocking` inside a gRPC endpoint.

[2020-11-20 15:56] glefloch commented on #13382
The test does not seems to fail anymore. I pushed a commit that added logs when the sub command fails.

This will ease investigation of future failure.

[2020-11-20 16:24] FroMage commented on #13251
I still think it's better to use an in-memory DB rather than mock the entities, but if you really must, then I agree that we could add `public static <T> PanacheQuery fromResults(List<T> results)` to every variant of `PanacheQuery` to make this easier.

[2020-11-20 20:15] gwenneg commented on #13399
Thanks for reporting this @knutwannheden! I'll take care of it.

[2020-11-20 20:46] dufoli commented on #12799
I have sent a pull request for that and few other things:
https://github.com/quarkusio/quarkus/pull/13408

[2020-11-20 21:18] #13372 closed

[2020-11-20 21:23] #11211 closed

[2020-11-20 22:53] ebullient commented on #13393
Ok. I was finally able to hook things up to send metrics myself, and.... I can't reproduce the issue.
I will try a few more things. ;)

[2020-11-21 11:50] medvedev opened #13412 "logging-sentry: Add config option for "server_name""
**Description**
Target extension: logging-sentry
Currently all the events in sentry have "server_name:localhost". Probably, it's a default value.
Proposal is to add a config option for sentry's server_name and pass it with every event.

**Implementation ideas**
Add config option `log.sentry.server-name` and use it for `DefaultSentryClientFactory.SERVERNAME_OPTION` in [iSentryConfigProvider.getProp

[2020-11-21 12:05] gsmet commented on #13412
@medvedev are you interested in contributing this feature? It should be easy enough.

[2020-11-21 12:05] gsmet commented on #13412
Ah ah, I see you're working on it :).

[2020-11-21 14:44] laurentperez commented on #7440
Hi @angrymango . Thanks for your efforts. If you do not consider your fork to be production ready, what's missing yet ? There have been no commits since August so, wondering if you're still using it or not

ty

[2020-11-21 17:17] elamotte7 opened #13416 "gRPC port not well configured in kubernetes.yml"
**Describe the bug**
The gRPC port defined in the application.properties is not reported in the kubernetes.yml generated. It’s only the default one that is used (9000)

**Expected behavior**
The specific gRPC port defined in the application.properties is used to defined service and container ports in the kubernetes.yml generated.

**Actual behavior**
The default gRPC port (9000) is defined in the

[2020-11-21 17:43] evacchi opened #13417 "No primary artifact to install when using Quarkus 1.10.0.Final + uberJar"
see also https://github.com/kiegroup/kogito-apps/pull/548

**Describe the bug**
Installing a module configured as uberJar causes the main artifact to be no longer installed.
workaround: force install the '.jar.original' file through an extra Maven plugin. In this PR I am using the Groovy Maven plug-in.

**Expected behavior**
main artifact should be installed

**Actual behavior**
 This does not occ

[2020-11-21 18:15] gsmet commented on #13417
For now you can workaround it with: https://github.com/quarkusio/quarkus/pull/13259/commits/b31b1954c401db637d767c62e4b4cce36de39071

[2020-11-21 19:00] lower-case commented on #12887
Hi @gastaldi I'd like to work on this issue.

I'm new to Quarkus. I went through the code of how documentation is generated and noticed few basic things.
The doc for build items is generated via `jbang quarkusbuilditemdoc` and the doc for config is generated via AllConfigGenerator.java

So, for this enhancement, do we have to retain the jbang part or should we migrate to something like AllConfigGe

[2020-11-21 19:34] medvedev commented on #13412
@gsmet can you please check the PR?
https://github.com/quarkusio/quarkus/pull/13414

[2020-11-21 23:07] dforsl commented on #13103
Also want to raise this one, as it's a real bummer for native and kotlin. We're seeing the same reflection-issues with native and kotlin with coroutines (and tried, as mentioned above, the different configs etc). We've thus had to abandon coroutines for the time being in all of our quarkus-based services and lambdas - as we run almost everything as native builds. Last version we tried it on was 1.

[2020-11-22 00:34] gastaldi commented on #12887
@lower-case thanks for having a look at it.

TBH I don't have a strong opinion on how this would be best solved, so I'd let you decide on that ;)

When I created the JBang script, the AllConfigGenerator already existed but I struggled to find a way to reuse it outside the annotation processor code.

[2020-11-22 04:21] missourian55 commented on #12691
Same problem exists in **1.10.0.Final**

[code]

[2020-11-22 05:19] lower-case commented on #12887
Thanks for your reply! Let me dig little more and raise a PR.

[2020-11-22 08:25] cescoffier commented on #13416
This is embarrassing, a one-character issue...
The processor uses `quarkus.grpc-server.port` instead of `quarkus.grpc.server.port`...

[2020-11-22 08:43] cescoffier commented on #13416
Fixed by https://github.com/quarkusio/quarkus/pull/13418.

[2020-11-22 13:14] elamotte7 commented on #13416
Thank you @cescoffier for your help, you made my day.

[2020-11-22 13:14] #13416 closed

[2020-11-22 16:36] missourian55 commented on #12691
I am able to force the MP Rest client to use the **URLConnection** instead of Apache http client with below configuration. It took me hours to figure this out, would be helpful if we add this in the Quarkus Rest Client documentation until we find a permanent fix for Apache Http Client in native mode

[code]

[2020-11-22 16:50] gsmet commented on #12691
@missourian55 any chance you could share a small reproducer?

@geoand I'm surprised the Apache HTTP client doesn't work in native? I would have thought we had fixed that for ages.

[2020-11-22 17:01] gsmet opened #13420 "Add root .env file to default .gitignore generated for projects"

[2020-11-22 17:18] Teg79 opened #13421 "Flyway filesystem location not supported"
**Describe the bug**
Any filesystem location added to the `quarkus.flyway.locations` property is ignored

**Expected behavior**
Adding a `filesystem:/path` to the property must make flyway aware of the sql migration files located there, like documented:
[code]

**Actual behavior**
The filesystem locations are ignored

**To Reproduce**

Steps to reproduce the behavior:
1.  Enable the Flyway extensi

[2020-11-22 17:24] geoand commented on #12691
The Apache HTTP client should work in native.
We use it in some extensions without issue (in the spring cloud config extension for example).

[2020-11-22 17:57] #13370 closed

[2020-11-22 18:01] gsmet commented on #13421
Could you provide a reproducer? I think we have tests for that. Thanks!

[2020-11-22 20:47] Teg79 commented on #13421
@gsmet I uploaded a reproducer here:
https://github.com/Teg79/flyway-locations

The filesystem location can be relative or absolute, it is discarded anyway

[2020-11-22 21:47] vsevel opened #13423 "default on config pojo should behave the same if set in src/main/resources/application.yaml"
**Description**
Assuming the following config object:
[code]

and `src/main/resources/application.yaml`;
[code]
Then the following test will pass:
[code]
However, if I move `host=myhost` as a default value, the test won't pass anymore:

[code]
and:
[code]
then I get the following error at startup:
[code]
it is the same behavior if I put the default as the field init: `public String host="myhost";`

[2020-11-22 22:23] missourian55 commented on #12691
@gsmet

Here is the reproducer, I used Quarkus S3 guide as the base and added other required extensions

**Steps to reproduce:**
1. Clone the repo https://github.com/missourian55/s3-demo.git
2. Execute this native build
`./mvnw clean package -Pnative -Dnative-image.docker-build=true -Dquarkus.container-image.build=true -Dnative-image.xmx=6g`
3. You will see below **stacktrace at build time**
[code

[2020-11-22 23:11] harry9111985 commented on #7451
@reachlakstar

I could get this working . Its 2 simple dependencies .

    <dependency>
      <groupId>io.quarkiverse.loggingjson</groupId>
      <artifactId>quarkiverse-logging-json</artifactId>
      <version>0.1.7</version>
    </dependency>
    <dependency>
      <groupId>org.jboss.slf4j</groupId>
      <artifactId>slf4j-jboss-logging</artifactId>
      <version>1.2.1.Final</version>
    </dep

[2020-11-23 00:50] harry9111985 commented on #11557
Works well @mkouba  . Quick question before I close the issue . Does this work for non-reactive Vertx Web Routes or this capability is only implemented for Reactive Mutiny Vertx Routes ?

[2020-11-23 06:47] xuxianzhang opened #13425 "Hibernate ORM and Hibernate Reactive cannot be used in the same application"
**Describe the bug**
when i boot both **hibernate-reactive and hibernate-orm** in my own project it throw an **IllegalStateException** and Quarkus startup failure

My application.yaml:
[code]

I think it's probably because a private method **checkIsReactive** in **PreconfiguredReactiveServiceRegistryBuilder.class** .
This inspection is not supposed to be here.
It should  be put in **FastBootHibern

[2020-11-23 06:58] lukaszlenart commented on #2611
I just added [an example app](https://github.com/apache/struts-examples/tree/master/quarkus) to our [repo](https://github.com/apache/struts-examples) which uses Quarkus 1.9.2 and a lot of CVEs popped up:

[code]

Could you mind update those vulnerable dependencies? Should I create another issue for that?

[2020-11-23 07:23] geoand commented on #12691
I'll take a look

[2020-11-23 07:39] mkouba commented on #11557
I'm not quite sure I understand your question but a failure handler declared via `@Route` is used to handle any failure from a matching route (path, HTTP method, etc.), no matter whether it's using Mutiny type or not...

[2020-11-23 07:49] #13390 closed

[2020-11-23 08:07] SlyngDK commented on #7451
@harry9111985 Thanks for the feedback

@reachlakstar
This dependency is not required with quarkus 1.10.0.Final.
[code]

[2020-11-23 08:15] #13357 closed

[2020-11-23 08:15] #13404 closed

[2020-11-23 08:18] ia3andy commented on #11515
On it.. I need to update the tests..

On Mon, Nov 23, 2020 at 6:27 AM quarkusbot <notifications@github.com> wrote:

--
Andy Damevin

[2020-11-23 08:33] loicmathieu commented on #2611
@lukaszlenart what you see is exactly the issue I described in this issue, except for Vert.x all these are false positive.
- graal-sdk is detected as GraalVM and the CVE is for en issue on the VM not on the SDK)
- mutiny is detected as something else
- quarkus-undertow is detected as undertow itself so an old CVE is linked

By adding Quarkus on the NVD database, quarkus-undertow would be detected

[2020-11-23 09:13] pilhuhn commented on #12691
@geoand I reported the issue with https://github.com/RedHatInsights/policies-ui-backend
I did create a small reproducer at https://github.com/pilhuhn/quarkus-rest-json-quickstart which compiles to native on rhel8 (but fails to link).
So there must be more involved than purely the rest-client

[2020-11-23 09:21] Meemaw commented on #13029
Any plan to fix this @gsmet ?

[2020-11-23 09:26] geoand commented on #12691
@pilhuhn using your reproducer I couldn't reproduce a problem (on Ubuntu), so if there is an issue, it's probably different than the original issue

[2020-11-23 09:29] pilhuhn commented on #12691
This is what I tried to say - the minimal reproducer does not show the issue, so it must be something different in the larger context of the policy-ui-backend.
Did the minimal one link (so completely succeed)? If so, I'll open a new issue for that.

[2020-11-23 09:34] geoand commented on #12691
Cool, thanks

[2020-11-23 09:47] geoand commented on #12691
I tried the reproducer that @missourian55 linked and could indeed reproduce the problem.

There appears to be an easy solution which is to add:

[code]
.

I think it makes for the quarkus-rest-client extension to force reinitialization of this class (thus removing the burden from the user application), but I would to like to hear what @gsmet and @galderz think.

[2020-11-23 09:47] mkouba commented on #13274
Ok, so I've created [this](https://github.com/quarkusio/quarkus/pull/13427) - in this PR we log at DEBUG level for test classes and INFO for application/fwk classes. And I think that it's quite a reasonable behavior. @manovotn @geoand @vsevel WDYT?

[2020-11-23 09:49] #13399 closed

[2020-11-23 09:56] gsmet opened #13428 "Builds failing in vertx-http tests"
I saw several builds failing in the ShutdownTest of Vert.x HTTP, all JDK 8 but it might be a coincidence:

[code]

/cc @stuartwdouglas @cescoffier could if be related to the issue you have in Quarkus HTTP too?

[2020-11-23 10:05] gsmet commented on #12691
Given it's a very common issue, if it's a valid workaround, I would even do it in Core. But I'm not sure of all the consequences.

Let's wait for @galderz 's opinion.

/cc @dmlloyd too

[2020-11-23 10:10] knutwannheden commented on #13399
@gwenneg Thanks for the prompt fix!

@gsmet Can this fix get backported to a 10.0.1 release?

[2020-11-23 10:32] #13067 closed

[2020-11-23 10:33] gavinking commented on #13274
I disagree. There's all sorts of reasons I might have a disabled @Alternative in my app. Perhaps I have a second @Alternative that inherits it, for example.

I really don't think you've got this quite right, unless I'm missing something very special about ArC compared to regular CDI.

[2020-11-23 10:33] ambition-consulting commented on #12048
Can't we just update microprofile-rest-client to v2.0 and use what was merged here? https://github.com/eclipse/microprofile-rest-client/pull/275

Proxy support is a fundamental network feature - not sure how this could can be not supported yet?!?

[2020-11-23 10:36] gavinking commented on #13274
And note that @Alternative in "regular" CDI has almost nothing to do with adding things at runtime! That's not the purpose at all. It's about being able to select an implementation via configuration, which is typically done prior to building the whole application, though it might happen after building the *library* that contains an @Alternative.

[2020-11-23 10:43] benDeMtp commented on #12048
In fact, we can already use proxy with RestClient. But we can't set authentication.
eclipse/microprofile-rest-client#275 doesn't handle proxy credentials.

@cescoffier don't you say that RestClient will switch of implementation to use vert.x WebClient ?

[2020-11-23 10:53] mkouba commented on #13274
Nobody says that alternatives are a "runtime thing". If you want to include several `@Alternative` bean implemenations and select one per an application build then no problem, you can do that. This issue is only about logging a simple INFO log message. Nothing more.

[2020-11-23 10:57] geoand commented on #11379
@jclingan can you perhaps provide some more information about your use case?

I am not sure I completely understand it

[2020-11-23 10:58] gavinking commented on #13274
So, I mean, it seems to me that either it's an actual *error*, and you should throw, or it's something that is actually reasonable in some circumstances and logging a noisy INfO is just not justified. The developer probably won't even notice the INFO, and instead what happens is you just accumulate noisy and useless log messages that annoy the poor soul who has to maintain this app in production.

[2020-11-23 11:02] geoand commented on #11358
@michalszynkiewicz maybe this is something you want take into accout if you like at rebasing the MP REST Client when Quarkus REST is in?

[2020-11-23 11:03] cescoffier commented on #12048
Yes, it's on the roadmap and we made good progress around that.

[2020-11-23 11:04] gavinking commented on #13274
Well, you said it, above:

I was responding to that comment.

[2020-11-23 11:05] gavinking commented on #13274
Which is never the right way to communicate to *developers*.

[2020-11-23 11:10] mkouba commented on #13274
Well, it reads **can be added/resolved** at runtime not that it's "runtime only" or "runtime mainly"...

I disagree.

[2020-11-23 11:15] geoand commented on #13274
In cases like this one where you are just trying to convey a message that the user _might_ have made a mistake as there are multiple options available, what would be the alternative other than logging an info message?
Throwing an error seems too heavy handed to me.

[2020-11-23 11:21] #13262 closed

[2020-11-23 11:22] gavinking commented on #13274
Actually let me please be a bit long winded about this, because it's important, and it's a principle that underlies almost all our developer-facing APIs.

These are the (only) ways we inform developers of their errors, from highest preference to lowest preference:

1. *Wherever remotely possible* by a compile-time error. Our APIs should always be designed to maximize the ability to find bugs at co

[2020-11-23 11:25] gavinking commented on #13274
I agree. As I said from the start, I think that this is a perfectly legit situation, and I see no justification for an error, nor an INFO-level log message. I'm perfectly fine if you log it at DEBUG level, but I suspect that is also pretty useless. Developers use breakpoints for troubleshooting, not trawling the log. If you want to be friendly to developers, expose an API which lets them easily ob

[2020-11-23 11:29] geoand commented on #13274
FWIW, such an API does exist, in the form of the `http://localhost:8080/quarkus/arc/beans` when running dev-mode.

I agree that a log message during application build is probably going to go unnoticed. I just tend to think that it's better than not having it at all.

[2020-11-23 11:29] gavinking commented on #13274
The alternative is that you have a well-defined programming model where it is clear what is allowed and what is a mistake! Well-defined APIs don't go trying to guess if the user made a mistake according to hand-wavy heuristics! Nowhere in the CDI spec does it say

No no no, we _never_ define programming models in that way. Instead we enumerate the things which are incorrect and produce an error.

[2020-11-23 11:30] sshaaf opened #13430 "google/protobuf/any.proto: File not found."
**Describe the bug**
helloworld.proto is unable to import the any.proto from the classpath. This should be there by default since the grpc extension is using the protobuf-java jar file e.g. protobuf-java-3.13.0.jar

**Expected behavior**
Should be able to use proto files included in the protobuf-java-XX-jar which is likely pulled from the grpc extensio.

**Actual behavior**
google/protobuf/any.pro

[2020-11-23 11:31] gavinking commented on #13274
Then that's all I need to discover that my bean isn't being picked up.

Nope, it's worse. Because it will probably survive into production. And the log exists to discover *production* problems.

[2020-11-23 11:33] geoand commented on #13274
In the context of runtime messages, I completely agree.
But what about messages that are only logged during build? I mean a user would only see the info message in question during `mvn package`, not when running the application.

In any case, I have no problem in making the message debug by default for all cases.

[2020-11-23 11:36] jmartisk commented on #13385
Not sure yet how to fix it.
We are processing a request, the request context is active, but during the processing, we spawn a new thread in the ForkJoin pool (see https://github.com/smallrye/smallrye-graphql/blob/1.0.15/server/implementation/src/main/java/io/smallrye/graphql/spi/datafetcher/DefaultDataFetcherService.java#L54) - and that thread accesses CDI beans, so it needs to have the request co

[2020-11-23 11:40] gsmet commented on #13385
Isn't it what SmallRye Context Propagation is supposed to solve?

[2020-11-23 11:48] xpete opened #13431 ""Authorization" header is being overwritten."
**Describe the bug**
Since version 1.9.0, when a ClientBuilder.newClient() post request is sent, the "Authorization" header is overwritten with a JWT. If the post is sent with a null body, the correct header is sent but if the body has some content the header is overwritten.
Version 1.8.x had the same problem but only when using the microprofile rest client.

**Expected behavior**
The request shou

[2020-11-23 11:50] gavinking commented on #13274
Well, OK sure, a build-time message is, I agree, less obnoxious. However, lots of people still build the app who are not developers, or not developers of the particular component we're that contains the disabled alternative bean.

And, as I've shown above, there are completely reasonable motivations for having a disabled alternative bean in the program, or in the libraries my program builds agains

[2020-11-23 11:55] sberyozkin commented on #13431
@xpete Can you clarify please which JWT do you mean ? None of Quarkus extensions dealing with JWT (quarkus-jwt, quarkus-oidc) would even know about the JAX-RS client

[2020-11-23 11:56] geoand commented on #13274
:+1:

[2020-11-23 12:39] gsmet commented on #13431
@xpete the best would be to provide a small reproducer.

[2020-11-23 13:22] sberyozkin commented on #13431
I think I know what this may be about.
MP Rest Client can do the propagation of the original client request headers, so it looks like @xpete is initializing this client with its own `Authorization` header but it is overridden with the original Authorization header (likely `Authorization: Bearer JWT`).

CC @radcortez @FroMage Hi Roberto, Stephane, do you know if something has changed around the way

[2020-11-23 13:33] vsevel commented on #13274
the original issue was only related to the test use case, where using `@Alternative` beans is a documented approach to mocking production code, with the option of limiting usage to a particular test. by definition, the `INFO` is a false positive. logging this in debug, or not all is acceptable to me.

most of the late conversation seems to revolve around the production use case. the question again

[2020-11-23 13:37] missourian55 commented on #12691
@geoand Thanks I have tried the workaround, is it safe to ignore this warning?

[code]

[2020-11-23 13:40] geoand commented on #12691
@missourian55 yes, it is safe to ignore that option. If we provide the support on our side eventually, that warning won't be present at all.

[2020-11-23 13:42] geoand commented on #13256
@stuartwdouglas I was also playing around with using bytecode recording for capturing the classpath instead of using the dat file and although it's certainly possible, the complexity it brings doesn't see to warrant it.

I assume you agree :). If so, I won't pursue that avenue any further.

[2020-11-23 13:56] gsmet commented on #13431
One thing that has changed is that we are now properly initializing the provider factory in all cases of usage of the REST Client, which would explain the `Version 1.8.x had the same problem but only when using the microprofile rest client.`.

What probably needs a fix is that the header shouldn't be overridden if existing.

[2020-11-23 14:04] mkouba commented on #13385
Well, it's not a Quarkus-only problem. If you spawn a new thread you need to make sure the request context is (a) active or (b) propagated. For (a) you can use e.g. the [`RequestContextController`](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#activating_request_context) (portable CDI API). For (b) @gsmet is right and the SmallRye Context Propagation is the way to go.

[2020-11-23 14:11] galderz commented on #10682
@tcollignon Have you tried with Mandrel or GraalVM 20.3?

[2020-11-23 14:21] gsmet commented on #10682
For the record, I know we register `String` for reflection at least in one of our extensions.

If it's a common issue, we might have to do it in the core extension.

[2020-11-23 14:29] andrejpetras opened #13434 "Unleash extension"
**Describe the extension**
Hi,

we do continue rolling out the Quarkus as a new technology stack in the projects. The next missing piece for us is the Unleash feature toggle extension. I created a base structure for the extension which contains one producer for the Unleash object.

The original PR https://github.com/quarkusio/quarkus/pull/13426 which should be move in to the `quarkiverse` organiza

[2020-11-23 14:49] mkouba commented on #13274
Unfortunately, it's not always so clear.

1. This INFO message is logged at build time.
2. The INFO level is used because we're not sure it's an error.
3. In CDI an `@Alternative` bean which is not explicitly selected globally via `@Priority` can be (1) selected locally via `beans.xml`  , (2) selected globally via an extension SPI (e.g. add `@Priority` to the `AnnotatedType` or via `AfterTypeDisco

[2020-11-23 15:23] vsevel commented on #13274
this sounds good to me. this addresses the original issue.

[2020-11-23 15:24] geoand commented on #13274
I don't mind either way

[2020-11-23 15:35] xpete commented on #13431
I can't create a small reproducer now but the problem is what @sberyozkin described. Only diference is that the "original Authorization header" is  `Authorization: Bearer JWT` but what is being sent is `Authorization: JWT`. The client `Authorization` header I want to send is completely different. There's any way I can avoid the propagation so I don't have to wait for a fix?

[2020-11-23 16:07] gavinking commented on #13274
I have requested changes on the original PR.

I designed CDI based on a set of clear *principles*, and I don't want to see those undermined.

[2020-11-23 16:09] kny78 commented on #11549
@geoand @evanchooly I see that in IntelliJ, it adds a special "Quarkus Deployment" under dependencies. Here these libs are added:

- kotlin-compiler-1.3.72.jar
- kotlin-reflect-1.3.72.jar
- kotlin-script-runtime-1.3.72.jar
- kotlin-stdlib-1.3.72.jar
- kotlin-stdlib-common-1.3.72.jar

Is the Kotlin plugin or some other code modifying the dependencies?

[2020-11-23 16:23] gavinking commented on #13274
P.S. If you really think warning the developer about this condition is actually something that is important and necessary, then there is a correct and principled way to do it. You should stop the build with an exception, and then given the developer a way to "whitelist" the particular disabled bean you're warning them about. (Via a `disabled_beans` property or whatever.)

That way you:

1. ensure

[2020-11-23 16:29] sberyozkin commented on #13431
@xpete Try `ClientRequestFilter` to set your preferred `Authorization` header.

[2020-11-23 17:03] waldimiro opened #13437 "quarkus-mongodb-client Unsatisfied dependency for type com.mongodb.client.MongoClient and qualifiers [@MongoClientName(value = "myName")]"
**Describe the bug**
I have an businesslogic-app and a rest-app. The rest-app include the businesslogic-app as dependency (lib). I declare in a class of businesslogic-app a MongoClient attribute annotated as @MongoClientName("myName"). Mongo properties are declared in the rest-app application.properties.

**Expected behavior**
MongoDB client for "myName" must be injected.

**Actual behavior**
java

[2020-11-23 17:12] michael-simons opened #13438 "Provide a Neo4j (embedded) test resource."
**Description**
I discovered test resource and their base interface `QuarkusTestResourceLifecycleManager`. I like the fact that one can take care of

* providing an ephemeral test resource running "somewhere" else
* plus a direct way to change the properties.

I would like to see this for Neo4j.

**Implementation ideas**

I have two suggestions. One based on Neo4j Testcontainers which I do maintai

[2020-11-23 17:23] loicmathieu commented on #13437
Quarkus have an __unused bean removal__ functionality that will remove not used beans.

As you use a separate dependencies, do you take care of configuring bean discovery for your **businesslogic-app** or its beans will not be discovered, and if only the beans from your **businesslogic-app** module uses the MongoDB client, the client will be seen as not used and removed from the bean container.

T

[2020-11-23 17:24] xpete commented on #13431
Just found that I had an WriterInterceptor that was writing the `Authorization: JWT`. Anyway the WriterInterceptor was configured to be used only on the server side and wasn't supposed to be called on the client side.

[2020-11-23 17:46] waldimiro commented on #13437
Hi @loicmathieu thanks. I added the index without success. What I don't understand is why if I omit the @MongoClientName annotation it works?

[2020-11-23 18:00] gsmet commented on #13437
@waldimiro if you use a `@MongoClientName` qualifier, you config needs to register a named client such as:

[code]

with `myName` being what you have in your qualifier.

I suspect you're not doing that and that you are defining the default client.

[2020-11-23 18:03] waldimiro commented on #13437
Hi @gsmet how I wrote: Mongo properties are declared in the rest-app application.properties. I checked again, they are correct.

[2020-11-23 18:09] udalov commented on #11549
Hi! Here's a bit of info from Kotlin's point of view. I'm not sure how much of this is useful but it might help in tracking down the issue.

The main relevant change in Kotlin from 1.3.72 to 1.4.0 was that now we're bundling Java module system's module-info files into stdlib, reflect and other libraries ([KT-21266](https://youtrack.jetbrains.com/issue/KT-21266)). Prior to 1.4.0, if main Kotlin lib

[2020-11-23 19:10] sberyozkin commented on #13431
@xpete OK, I think this issue is invalid then.
Please create a different issue about `WriterIntertceptor` - note if it just available as a provider then it will likely be picked by both server and the client, perhaps you can experiment with the runtime scope.
But as far as this issue is concerned - lets close it, thanks

[2020-11-23 19:10] #13431 closed

[2020-11-23 20:24] krnkhanna1989 opened #13440 "Getting NullPointerException for open tracing with jaeger"
**Getting NullPointerException for open tracing with jaeger**

**There should not be any exception.**

**Actual behavior**
Exception in thread "pool-8-thread-1" java.lang.NullPointerException
	at io.quarkus.jaeger.runtime.MDCScope.<init>(MDCScope.java:31)
	at io.quarkus.jaeger.runtime.MDCScopeManager.activate(MDCScopeManager.java:17)
	at io.smallrye.opentracing.OpenTracingAsyncInterceptor.applyCon

[2020-11-23 21:44] manovotn commented on #13274
I am +1 for Martin's original solution of reducing the noice for tests only.
Working on CDI for several years and knowing how you can(not) enable an alternative in Quarkus, I would estimate that, in non-test code, you have 90+% chance of this alternative without priority being a user error.

[2020-11-23 21:48] manovotn commented on #13274
Or you could twist this around and say that we keep the logging and instead let the user explicitly disable it by using something like the property you suggested. So if they consider it annoying, they have a way to shut it down. But in most cases the log message can save someone a headache of figuring out what is going on with their app.

[2020-11-23 21:56] manovotn commented on #13274
I am sorry but I don't see how this is an argument. CDI has been out in the wild for quite some time now. Yet I still keep seeing people struggling with the basics of it. Enablement of alternatives included.
Log messages such as this one can be a quick guiding hand in finding why your app works, but not quite as you expected. A glance at basic log is a quick way of figuring out. It's also not as n

[2020-11-23 23:07] harry9111985 commented on #11557
Thanks . Thats what I was looking for . You answered my question . I am closing this issue .

[2020-11-23 23:07] #11557 closed

[2020-11-24 00:41] gavinking commented on #13274
I think I've already quite clearly explained why log messages aren't the right way to do this. At development time I never see log messages. They're either completely hidden by gradle, or they're lost in a great spew of stuff in the console. Please don't try to convince me that you actually read the contents of the console when you run your test suite in IntelliJ because I know you don't.

So inst

[2020-11-24 00:58] stuartwdouglas commented on #11549
There is a really simple fix here to just make Kotlin be parent first, so it is loaded from the system CL rather than the QuarkusClassLoader.

I have not been able to figure out exactly what is going on here though. As far as I can tell QuarkusClassLoader.getResourceAsStream is not actually invoked.

[2020-11-24 03:22] ebullient commented on #13393
I enabled stackdriver in my monster-combat application, and configured it to push to stackdriver.

changes are here:
https://github.com/ebullient/monster-combat/tree/stackdriver

With or without debugging, the stackdriver registry was always using a valid (step distribution) histogram snapshot instance.

So I need to figure out what is different between your configuration and mine...

[2020-11-24 03:35] weir2010 opened #13446 "easyui js bug"
EasyUI for jQuery 1.9.10
easyui/easyloader.js:

Caused by: java.lang.IllegalArgumentException: Not a virtual method: _1,locales:_2,base:".",theme:"default",css:true,locale:null,timeout:2000,load:function(_1f,_20){
if(/\.css$/i.test(_1f)){
if(/^http/i.test(_1f)){
_c(_1f,_20);
	at io.quarkus.qute.Expressions.parseVirtualMethodParams(Expressions.java:39)
	at io.quarkus.qute.Parser.createPart(Parser.j

[2020-11-24 07:05] geoand commented on #13446
@weir2010 can you please provide more information? What does your template look like? Have you tried what is described [here](https://quarkus.io/guides/qute-reference#unparsed-character-data)?

[2020-11-24 07:06] geoand commented on #13440
@krnkhanna1989 would be able to provide a small sample project that exhibits the behavior you describe?

Thanks

[2020-11-24 07:14] sleberrigaud opened #13447 "Link to Graal (substratevm) reflection documentation is broken"
`https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.md` is no longer valid, it should be replaced by `https://github.com/oracle/graal/blob/master/substratevm/Reflection.md`

[2020-11-24 07:19] iocanel commented on #12826
I will close this, as I feel that we addressed all issues.

[2020-11-24 07:19] #12826 closed

[2020-11-24 07:22] dominik42 commented on #7440
Hi @laurentperez ,
we also using this component for our near-to-production project. So far, we saw no problems using it with Quarkus 1.6.1 and JOOQ 3.14.1. We have bought the JOOQ Pro license cause the customer uses MS SQLServer. So the only modification I've made was to set the proper dialect `SQLDialect.SQLSERVER` within `io.quarkus.ext.jooq.runtime.AbstractDslContextProducer`. We've created an

[2020-11-24 07:22] sleberrigaud commented on #13447
I quickly created a small PR with fixes to more links, https://github.com/quarkusio/quarkus/pull/13448

[2020-11-24 07:25] sleberrigaud commented on #13156
Sorry I haven't been able to check more on this one. We have checked all the configuration you mention and we could think of. I can't, at the moment, come up with a simple reproducer.

If you have other ideas of where to look for, I'll take them happily. Otherwise I'll try to carve out some time to reproduce consistently.

Feel free to close/freeze the issue as you see fit. Thanks for you help & f

[2020-11-24 07:34] hyperman1 commented on #12826
OK, thanks

[2020-11-24 07:58] glefloch commented on #13382
WDYT of closing this one?

[2020-11-24 08:43] ferinoc commented on #6522
Hi, could you please provide example how to setup proxy for rest client in quarkus please?

[2020-11-24 08:54] csotiriou commented on #6522
@ferinoc the specification does not mention anything about proxy settings - but I see that the specification for 2.0 (https://projects.eclipse.org/projects/technology.microprofile/releases/rest-client-2.0) will bring proxy configurations via properties.

Vendor implementations can use their own properties - which is what I did with Quarkus. Check my initial comment / post in this issue to see what

[2020-11-24 09:22] samodadela commented on #13393
Anything I can help with?

AFAIK apart for adding custom tags there is nothing special.

The only setting I use, is:
quarkus.micrometer.export.stackdriver.project-id=myprojectid

I have both StackDriver and Prometheus registry as a dependency.

[2020-11-24 09:32] geoand commented on #13421
https://github.com/quarkusio/quarkus/pull/13449 takes care of the issue

[2020-11-24 09:46] #13359 closed

[2020-11-24 10:24] #8559 closed

[2020-11-24 10:24] #13401 closed

[2020-11-24 10:25] gavinking commented on #13274
Wait, perhaps I misunderstood this comment. Are you saying here that it's impossible to have some beans defined across several library jars at *build time*? I had understood from the ArC documentation that this was not the case, and that I can have `@Alternative`s spread across several jars.

Anyway, I *sure hope* that's not the case. 😰

[2020-11-24 10:32] manovotn commented on #13274
You can have alternatives in as many archives as you want. The point of Martin's comment is that in Quarkus you ultimately create one bean archive from all the jars and beans within them. With this in mind, you cannot have alternatives enabled on a per-bean-archive basis (which you can in standard CDI). Plus we only use `beans.xml` as marker file anyway, so you couldn't do "local" enablement there

[2020-11-24 10:39] ferinoc commented on #6522
@csotiriou Thank you very much, it is working.

[2020-11-24 10:49] gavinking commented on #13274
Right, that's what I thought.

Alright, so tell me what happens in each of the following situations:

### Situation 1

My shiny new Quarkus program uses a CDI data access library, which has an injectable `Connection` interface, and two implementations, `SingleTenantConnection` and `MultitenantConnection`, both marked `@Alternative`, both disabled by default, since at the time the library is compil

[2020-11-24 11:01] aldettinger opened #13451 "Arguments passed with -Dquarkus.args are ignored in dev mode"
**Describe the bug**
When passing args as below:
[code]
The @QuarkusMain application does not receive the said arguments, while I would expect it should.

**To Reproduce**
[code]
The maven outcome contains:
[code]
While I would expect the length to be 2.

**Environment (please complete the following information):**
 - Output of `uname -a` or `ver`:
[code]
 - Output of `java -version`:
[code]
 - Qu

[2020-11-24 11:08] michalszynkiewicz commented on #11358
That's interesting, I made myself a note to take a look at it but won't assign it to me in case someone else would like to do it before I have time for it.

[2020-11-24 11:17] manovotn commented on #13274
Where are you trying to get with this? If we want to discuss how alternative selection works on Quarkus then maybe we should move it to separate thread. It's pretty far from the original point of the issue. All I was saying is that Quarkus doesn't do alternative enablement via `beans.xml`. You can still use the property (`quarkus.arc.selected-alternatives`); that's why we added it. And the way it

[2020-11-24 11:21] gavinking commented on #13274
Does it print an INFO message because there are disabled `@Alternative` beans?

[2020-11-24 11:22] gavinking commented on #13274
But it does the *exactly equivalent thing* using `quarkus.arc.selected-alternatives`, unless I misunderstand, so I'm not sure why you keep repeating this as if it mattered. Surely I must be missing something.

[2020-11-24 11:54] gsmet commented on #13434
I created the project here: https://github.com/quarkiverse/quarkiverse-unleash .

You will have to adjust your extension to follow the naming conventions: https://github.com/quarkiverse/quarkiverse/wiki#joining-quarkiverse .

Feel free to ask for help if you need it.

I'm not exactly aware of all the bells and whistles so I will let @gastaldi set them up once he's back from PTO :).

[2020-11-24 11:55] #13434 closed

[2020-11-24 12:27] mkouba commented on #13274
### Situation 1

`MultitenantConnection` is enabled for the whole app (i.e. every injection point with required type `Connection` will receive the `MultitenantConnection` bean). `SingleTenantConnection` is ignored. The INFO is logged for the `SingleTenantConnection` (and will be DEBUG after we "fix" this issue).

### Situation 2

I don't understand what did not work?

`QuarkusMultitenantConnection

[2020-11-24 12:34] Sabartius opened #13453 "RestEasy Jaxb not registered properly anymore"
**Describe the bug**
After Upgrading our Application from 1.9.2.Final to 1.10.0.Final which uses Jax-b, REST calls fail because there is no MessageBodyReader present anymore

[code]

The dependecies include

[code]

Funny Note:
In Tests that are run without Quarkus, the Jaxb-Providers are still registered and working

**Expected behavior**
XML should be read with jaxb as before

**Actual behavior*

[2020-11-24 12:54] mkouba commented on #13274
It's not an equivalent because `quarkus.arc.selected-alternatives` selects an alternative per application/globally, i.e. any injection point will be satisfied with the same bean.

Whereas `beans.xml` selection works locally/per bean archive, i.e. if there are the following classes:
[code]
and bean archives: (1) `dummy-1.jar` with `beans.xml` which selects `Foo` alternative and (2) `dummy-2.jar` wi

[2020-11-24 12:59] gsmet commented on #13453
Any chance you could provide a small Maven reproducer? That would be helpful. Thanks!

[2020-11-24 13:00] gsmet commented on #13425
Using both Hibernate ORM and Hibernate Reactive in parallel is not supported at the moment. That's something we need to work on.

[2020-11-24 13:02] gavinking commented on #13274
Well, exactly. And it's not even just one message in the examples I showed, it's multiple messages.

No, surely not, but it is most certainly **a** legitimate use case for `@Alternative`&mdash;indeed, it is the use case that `@Alternative` was originally designed to address!

Now, if people use `@Alternative` for other things, that's perfectly fine. I'm not proposing to go printing out naggy log m

[2020-11-24 13:05] gavinking commented on #13274
What?! This statement is completely wrong. `@Alternative` enablement is an application-level thing in CDI, and is usually done in the `beans.xml` file of the *top-level* archive, i.e. in the descriptor of the program that is *depending* on the other library bean archives. Off the top of my head I can't think of any case where it would make sense to do `@Alternative` enablement it in the `beans.xml

[2020-11-24 13:12] #13421 closed

[2020-11-24 13:19] gavinking commented on #13274
Well, wait, what I said isn't *quite* right. Sure, there is archive-local enablement of `@Alternative`s in CDI, because in Java EE you can have a multiple module deployment where different bean archives are different modules. (We don't have here, there's just one module in Quarkus.)

What I'm saying is that bean enablement _doesn't apply only to beans in the current archive_, it applies to beans i

[2020-11-24 13:45] sfeuerhahn commented on #8062
The issue does not seem to be fixed in version 1.9.2 of Quarkus. The no args constructor is called twice when using @Startup even though the bean is not inject anywhere.

[2020-11-24 13:49] Sabartius commented on #13453
Hope it helps: https://github.com/Sabartius/quarkus-jaxb-issue

[2020-11-24 13:56] manovotn commented on #13274
Yes, it does.
The spec defines [bean archives](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#bean_archive) just as an archive with some specific contents (be it `beans.xml` or beans with [bean defining annotations](https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#bean_defining_annotations)).
Moving on, we get to [enabling alternatives **for a bean archive**](https://jakart

[2020-11-24 14:06] geoand commented on #13453
I'll take a look later on today or tomorrow

[2020-11-24 14:15] mkouba commented on #8062
So first of all it not an issue but a well known limitation as described above. Even if we don't create a client proxy for an observer it will be created once the bean is actually used (upon the first method invocation).

A contextual instance is also created if you obtain a bean via `CDI.current()` and programmatic lookup. Could it be the case?

[2020-11-24 14:23] abouzar commented on #12168
Run into the same issue. @Temdegon Yes it does work in normal mode, but it does not work in dev mode. Not sure what in the description can be changed.
- quarkus version: 1.9.2
- dynamodb-enhanced: 2.15.33

[2020-11-24 15:26] abouhabb commented on #8035
@oleksiylukin and @hotleave , juste add these lines on your pom.xml inside
  \<dependencies> tag and quarkus:dev will work fine :

[code]
working with quarkus platform version 1.9.0.Final and 1.9.2.Final (maybe other older version too)

I use quarkus with polyglot API in my project and it's working also in native build on Windows/Linux/Docker environment

[2020-11-24 15:43] sfeuerhahn commented on #8062
I don't think so. When I only add: `void startup(@Observes StartupEvent event) {} ` to the application scoped class, then the constructor is only called once. When I add `@Startup`instead, then the constructor is called twice.

[2020-11-24 15:46] ebullient commented on #13393
I turned on logging.. can you double check your changes against mine, and turn some logging on to see if there are any other indications of something not loading properly?

https://github.com/ebullient/monster-combat/compare/stackdriver#diff-bb78680d9f1b89671ae22ad905101ec96caeb581925f8cbe770355eb31571bbdL9

[2020-11-24 15:46] geoand commented on #13453
So IIUC you are not using the MicroProfile REST client, but instead relying on the JAX-RS Client?
That is something that's not officially supported, so your mileage may vary.

Furthermore, I tried your reproducer with Quarkus `1.9.2.Final` and it failed with that as well. If there perhaps something missing from the reproducer you uploaded?

[2020-11-24 15:49] agoncal opened #13459 "RestAssured tests need ObjectMapperType for JSON-B not for Jackson"
**Description**

When doing a RESTAssured test on a POST, we need to set the `ObjectMapperType` when using JSON-B. It would be nice to have it optional like for Jackson.

Let's say you have a `Foo` class:

[code]

And a REST endpoint that consumes a `Foo` in a JSON format:

[code]

**Jackson**

With Jackson (`quarkus-resteasy-jackson` dependency), we can test the endpoint either specifying the `Ob

[2020-11-24 15:53] evanchooly commented on #11549
I came to the same conclusion yesterday as Stuart and he has a fix/PR in place that shows it working.  There's a tweak or two to make on it but i'm running those final tests now.  Thanks for the explainer @udalov.  I've spent a fair bit of time over the last few days in that code and it's ... dense.  :)

[2020-11-24 15:53] mkouba commented on #8062
I see. You're actually right, for `@Startup` we obtain the bean instance via `Arc.container().instance(bean)`, so the client proxy is involved. We could modify the code to access the contextual instance directly. However, it's not a big win (for the reasons mentioned above).

[2020-11-24 16:01] abouhabb commented on #9634
like mentionned in another issue (link below) It's now working.

[https://github.com/quarkusio/quarkus/issues/8035#issuecomment-733047226](url)

with quarkus 1.9.0.Final and Graal VM 20.2.0

@frank-dspeed I think that with a good configuration, Quarkus can do the job even for a big project, and maybe better than others. Especially for building a native image

[2020-11-24 16:46] loicmathieu commented on #13437
@waldimiro can your create a small reproducer, or at least give us your `application.properties` content ?

[2020-11-24 17:27] sfeuerhahn commented on #8062
I agree. I cannot judge if it is worth the effort.

[2020-11-24 18:27] gsmet commented on #13431
@kenfinnigan do you know if there's a way to register a provider only for server or client? For some of them, it makes perfect sense.

[2020-11-24 19:00] kenfinnigan commented on #13431
If a provider has `@Provider` on it then I believe it's discovered for both situations.

If it doesn't have the annotation, it can be included for use with the client with the programmatic API or `@RegisterProvider` annotation on the REST Client interface

[2020-11-24 19:36] gastaldi commented on #13434
Thanks @gsmet, it looks good overall, just needs some minor tweaks. I described the steps in https://github.com/quarkiverse/quarkiverse/wiki/NewProject

[2020-11-24 22:01] evanchooly commented on #13031
OK.  I got sidetracked with another issue but this works for me using ~master.  It builds fine and when I run the resulting binary it connects to mongo and I can hit the REST endpoints and get responses.  0 errors.

[2020-11-25 02:50] weir2010 commented on #13446
The program just added the JS of easyUI, and did not write the template, and then the startup program reported an error

[2020-11-25 03:51] Christopher-Chianelli opened #13464 "Indexing error with unhelpful error message when a generated class is registered as an additional bean instead of a generated bean"
**Describe the bug**
An indexing error with an unhelpful error message is displayed if you add a generated class
as an additional bean at build message

**Expected behavior**
An error message that suggests to use GeneratedBeanGizmoAdaptor .
Ex: "Unable to find class file for ${className}. Maybe ${className} was registered as an additional bean via `AdditionalBeanBuildItem`. In that case, remove th

[2020-11-25 03:59] Christopher-Chianelli opened #13465 "Warn when an annotation that is added to a generated class is not a bean defining annotation"
**Description**
I recently ran into an issue where for some reason an `Instance` could not find my generated bean with my custom annotation. Turn out the project that annotation is from did not contain a `bean.xml` file, which in turns mean its classes, annotations and interfaces were not registered. It would be helpful if the ClassCreator can check if an added annotation is not a bean defining an

[2020-11-25 04:08] Christopher-Chianelli commented on #9313
For FXML, I think we could generate a custom implementation of FXMLLoader. We would need to generate custom classes for all fxml files, and the FXMLLoader simple construct instances of the generated class for the corresponding FXML files. There is the issue that FXMLLoader can load via an InputStream, so we would need to keep the entire fxml file in memory so we can map the input stream to an inst

[2020-11-25 05:18] frank-dspeed commented on #9634
@abouhabb sure once you know that good config it is easy but the way to get such a good one is unclear and full of corner stones that i do not have when i can simply fire and adjust the build command for native image.

[2020-11-25 05:34] waldimiro commented on #13437
@loicmathieu the application.properties follows the Quarkus MongoDB description, properties resides in the rest-app, the MongoClient is injected in a class in businesslogic-app. Hier the snippet:

...
#
# DATASOURCE (rest-app)
#
quarkus.mongodb.myName.connection-string=mongodb://localhost:27017
quarkus.mongodb.myName.database=myName
...

[2020-11-25 07:00] mkouba commented on #13446
@weir2010 In that case, the `.js` file is very likely located in `src/main/resources/templates` but this directory is not intended to contain static files.

[2020-11-25 08:39] Sabartius commented on #13453
Thats news to me, good to know.

I can't seem to find any more significant differences between my project and the repro-case, but yeah 1.9.2.Final doesn't seem to work either.

After a bit of fiddling around i found a workaround, so i can delay the inevitable rewrite of my http-clients.
Apparently when registering a dummy MP-RestClient which produces the necessary types, my jax-rs clients start to

[2020-11-25 09:11] gsmet commented on #13459
Isn't it more an issue in REST Assured? I don't see how it could be a Quarkus problem?

[2020-11-25 09:11] weir2010 commented on #13446
@mkouba  https://github.com/weir2010/quarkus-demo.git        compile quarkus:dev     this is  error

[2020-11-25 09:17] loicmathieu commented on #13301
@seseso I mean a reproducer project, on github or attached as a zip file, so I can have a look easily.

[2020-11-25 09:26] mkouba commented on #13446
Yes, that's exactly what I said. You should not place static resource files in the `src/main/resources/templates` directory. This directory should only contain templates. For static files use `META-INF/resources` instead (see https://quarkus.io/guides/http-reference#serving-static-resources).

We could eventually ignore hte files that do not match [quarkus.qute.suffixes](https://quarkus.io/guides/

[2020-11-25 09:52] jtama-op commented on #5030
As of now MP REST Client is almost not usable in real-world applications where security is not an option.

[2020-11-25 09:59] geoand commented on #13453
Right.

That happens because Quarkus knows that now XML is in play and registers the proper providers.

[2020-11-25 10:24] michalszynkiewicz opened #13466 "Reactive HTTP and WebSocket connector enhancements"
- [ ] add support for STOMP or some other protocol that allows acking/nacking by the remote websocket endpoint
- [ ] support text messages for websockets
- [ ] add content type headers in http serializers
- [ ] websocket source exception mapper
- [ ] improve conversion error reporting (ATM we have 500 instead of 422 in such case)
- [ ] give a possibility to read response for sent out messages