[2021-07-30 13:17] loicmathieu commented on #19098
I remove the Kafka Producer to only consume messages to by 100% sure and still the same.
I also try Quarkus 999-SNAPSHOT that contains SR reactive messaging 3.8 and no difference.

[2021-07-30 13:24] SLedunois commented on #18642
Hi,

I'm currently facing this issue using BC security provider. Any update ?

[2021-07-30 13:25] phillip-kruger commented on #19131
Hi @languitar - thanks for this. We have thought about this before, and it should be possible to enhance the extension to do this. I'll have a look a.s.a.p.

Basically, we will keep the default to look for `META-INF/openapi.json` or `META-INF/openapi.yaml` except if some config is set that define the path(s) for the static file(s).

When more than one file, we merge them into one.

Something like

[2021-07-30 13:36] survivant commented on #19106
Maybe I got something.  Look like the application crash when I use a RestClient within a ComputeFuture

[code]

In the async methods I'll call a RestClient
[code]

[2021-07-30 13:53] FroMage commented on #18958
I was able to reproduce. What happens, I'm pretty sure, is that the request context gets terminated by the end of the `@PUT` method, so the `ManagedExecutor` starts with a valid request scope, and after its sleep, the request scope is dead, so somehow it gets auto-recreated to an empty value.

This should not work, BTW, because our semantics do say that the request context will be terminated. If y

[2021-07-30 13:57] survivant commented on #19106
Look like I found a solution.  I had to pass a ManagedExecutor

[code]

[2021-07-30 13:58] geoand commented on #19127
Thanks for reporting!

[2021-07-30 14:03] languitar commented on #19131
Sounds ok to me.

[2021-07-30 14:13] #19031 closed

[2021-07-30 14:31] #19092 closed

[2021-07-30 14:33] manovotn commented on #18958
I find this weird:
[code]

How's the example `null` when you had it previously set?

Also, you could add predestroy callback to the req. bean to see when it gets destroyed (and also post construct if you want to see creations). That might give you more hint as to when the bean gets destroyed.

Yeah, that seems like the context was either re-activated sometime in between or the instances were clear

[2021-07-30 14:46] edeandrea commented on #19109
This is a dumbed down example, but if I have something like this:
[code]

This works fine, as well as if I have a test which uses `@TestReactiveTransaction` in the mix of tests:
[code]

The `beforeEach` does work. If I move the `@TestReactiveTransaction` to the class instead of on the individual method though, then it doesn't work, and I'm also not able to inject the `UniAsserter` into the `before

[2021-07-30 15:17] digven commented on #18782
@gsmet  can you please respond. I tried few options and couldn't get this working. Appreciate your response

[2021-07-30 15:36] FroMage commented on #18958
[code]

So that's it. Occam's razor says it's the `PUT` method destroying the request context at the end of its execution. We do not support propagating request contexts to multiple threads executed in parallel, nor past the request method's lifecycle. So this can't work.

But I think the fact that the request scope gets re-created/activated is weird and perhaps a bug?

[2021-07-30 15:42] ge0ffrey opened #19136 "Classloader changed in quarkus 2.1.0 (regression from 2.0.1) for optaplanner/drools with smallrye (but not resteasy)"
### Describe the bug

The drools ANC compiler fails in 2.1.0 (not in 2.0.1) on optaplanner's activemq-quarkus quickstart
because the classloader changed.

Before (2.0.1):
![image](https://user-images.githubusercontent.com/176880/127677239-251cfa44-3786-4afc-873c-d07aeec03ab8.png)

After (2.1.0):
![image](https://user-images.githubusercontent.com/176880/127677319-e69f3f6e-627d-4518-b7f4-d4b18390f4e

[2021-07-30 15:44] ge0ffrey commented on #19136
@stuartwdouglas Did the classloader for smallrye but not resteasy change in quarkus 2.1?

[2021-07-30 15:48] vsevel commented on #18360
hello @stuartwdouglas . here are the results. all tests done with `-XDstringConcat=inline` and ` GraalVM 21.1.0 Java 11 CE (Java Version 11.0.11+8-jvmci-21.1-b05)`

[code]

[2021-07-30 15:54] ge0ffrey opened #19137 "Smallrye error reporting bug: ...SmallRyeConfigFactory: ...QuarkusConfigFactory not a subtype"
### Describe the bug

When an error occurs in smallrye, the error handling itself throws an error.

### Expected behavior

Only the original error stacktrace is shown, it doesn't cause an error in the error handling.

### Actual behavior

This extra error fills the log (after the original error's stacktrace):
[code]

### How to Reproduce?

[code]

### Output of `uname -a` or `ver`

_No response_

[2021-07-30 15:54] ge0ffrey commented on #19137
Related to https://github.com/quarkusio/quarkus/issues/19136

[2021-07-30 16:00] FroMage commented on #19012
So, I was able to reproduce it, in dev mode, for quite a while, but then it went away and I can't reproduce it anymore. This seems to be related to hot reload. Can you reproduce it always, from a fresh start?

[2021-07-30 17:14] loicmathieu commented on #10802
@askalee90 did you try with a more recent Quarkus version and with the `quarkus-mongodb-client` as suggested ? It may fix the issue without the need for an extension.

[2021-07-30 18:05] MartinX3 opened #19139 "NoSuchElementException: SRCFG00011: Could not expand value platform.quarkus.native.builder-image in property quarkus.native.builder-image"
### Describe the bug

Since 2.1 I get
`NoSuchElementException: SRCFG00011: Could not expand value platform.quarkus.native.builder-image in property quarkus.native.builder-image`

### Expected behavior

A working application

### Actual behavior

Error on startup

### How to Reproduce?

Starting the project

### Output of `uname -a` or `ver`

Linux martind-linuxiator 5.13.6-zen1-1-zen #1 ZEN SMP PR

[2021-07-30 18:26] MartinX3 commented on #19139
Replacing
`implementation("io.quarkus.platform:quarkus-bom:$quarkusVersion")`
by
`implementation(enforcedPlatform("io.quarkus.platform:quarkus-bom:2.1.0.Final"))`
fixed the issue.
It seems I misread the migration wiki and the blog.

[2021-07-30 18:26] #19139 closed

[2021-07-30 18:32] cescoffier commented on #19098
Thanks for the investigation. When we switched to the new client, we made lots of tests and didn't see that performance drop. However that was like 6 months ago. On the top of my head, I would try to disable cloud events and tracing.

I will have a look when I'm back, but I will need a reproducer as all the test we made (using production traffic) didn't show such a difference.

[2021-07-30 18:38] kjq opened #19140 "ANTLR versions mismatched when building natively (MongoDB/Panache related?)"
### Describe the bug

I've seen this for a while now and it does not seem to be affecting my native builds but thought I would ask the question:

ANTLR Tool version 4.7.2 used for code generation does not match the current runtime version 4.8ANTLR Tool version 4.7.2 used for code generation does not match the current runtime version 4.819:28:17,212 INFO  [org.jbo.threads] JBoss Threads version 3.4

[2021-07-30 19:11] cescoffier commented on #19098
Depending on the code, the throttled commit strategy may see more contention, as accesses are made on two threads.

You can try to enable auto commit (or switch the commit strategy to ignore) to see if it has an impact.

[2021-07-30 19:36] solsson opened #19141 "Keycloak Dev Service doesn't use the Quarkus distribution of Keycloak"
### Describe the bug

The Keycloak dev service is great, and the Dev UI for auth is very helpful. #17364 is impressive work, but if the Quarkus project doesn't use the Quarkus distribution of Keycloak, then who will?

### Expected behavior

IMO (without much insight into any of the two projects) Keycloak dev mode should default to using Keycloak.X, possibly allowing a toggle to the regular distrib

[2021-07-30 19:56] geoand commented on #19141
cc @sberyozkin

[2021-07-30 20:17] geoand commented on #19109
Thanks for the detailed description. It will be a while before I look into this however, with PTO coming soon

[2021-07-30 20:25] edeandrea commented on #19109
You know me - I write novels

[2021-07-30 21:29] stuartwdouglas commented on #18360
So not as big a gain as we have seen elsewhere, but still a nice win.

[2021-07-30 21:57] eriknyk commented on #11707
the issue is still happening in v2.1.0.Final

[2021-07-30 22:46] stuartwdouglas commented on #18977
The vert.x io.vertx.core.net.impl.pool.SimpleConnectionPool does not appear to be maintaining affinity.

[2021-07-31 05:00] geoand commented on #18977
So I assume we need some input from the Vertx folks?

[2021-07-31 05:44] #18609 closed

[2021-07-31 12:30] michael-schnell commented on #6320
In case you have hundreds of unit tests that require a database to run, it's not always desired to run them really against the real (target) database. An in-memory DB is often just "good enough" to achieve the test goal, even if there might be slight differences between the in-memory and the production DB. This risk can easily be covered by having a smaller set of integration tests that use the pr

[2021-07-31 12:39] AmareshKulkarni commented on #10376
I was able to use the suggested approach on the google group thread, but running into some complications with tags and includes. Is there a simple way to also load tags and includes from external jars?

[2021-07-31 13:49] oo00spy00oo commented on #18672
Thanks @radcortez

[2021-07-31 14:30] laemm-line commented on #17523
I'm having the same problem in a multi-module Gradle project.
Gradle: 7.1.1
Quarkus: 2.1.0.Final

[2021-07-31 22:35] knutwannheden commented on #19140
I reported a similar issue against another library (pact-foundation/pact-jvm#1380) due to a mismatch with Quarkus runtime version. Now that other library upgraded to the most recent ANTLR version 4.9.2.

Wouldn't it in this case also make sense to request the other library to upgrade?

[2021-08-01 04:22] masini commented on #15944
Hi, soon I'll upgrade everything, we are upgrade internally and as soon
that everything is in production I will push.

You can try to build it easily checking out the repo and I would be glad to
help you in case you find something wrong.

Have a nice day.

Il giorno mer 28 lug 2021 alle ore 22:09 jfey ***@***.***> ha
scritto:

--
****************************************
http://www.lucamasini.net
h

[2021-08-01 15:03] hifleu opened #19149 "Quarkus rest client fails if the application is started via an costum start class"
### Describe the bug

Quarkus rest client fails with

_RoutingContext failure (500): java.lang.NoSuchMethodError: io.smallrye.context.SmallRyeManagedExecutor: method 'void <init>()' not found_

if started via an class annotated with @QuarkusMain calling Quarkus.run

### Expected behavior

Quarkus rest cleint should work even if the Quarkus application is started with an costum application start cl

[2021-08-01 17:02] asodja opened #19150 "Quarkus Gradle plugin 2.1.0.Final fails when used with plugin that also modifies dependencies"
### Describe the bug

We are using Spring dependency management plugin for Gradle and with new Quarkus Gradle plugin 2.1.0.Final this has stopped working.

We get errors like:
[code]

### Expected behavior

Quarkus Gradle plugin works also with other plugins that modifies dependencies

### Actual behavior

Quarkus Gradle plugin does not work with other plugins that modifies dependencies

### How t

[2021-08-01 17:37] famod opened #19152 "Dev mode pulls in dependencies from Maven profiles of other modules if profile with same name is present in parent"
### Describe the bug

Ok, that's a very dodgy one:

Imagine you have a multi module Maven project with:
- `parent` contains a Maven profile `mocks` with nothing in it (!)
  - `core`
    - contains a service that depends on a bean implementing `SupportInterface`
    - produces a secondary jar from `test-classes` with classifier `mocks` that includes a producer that produces a Mockito Mock for `Supp

[2021-08-01 17:53] famod commented on #19152
To add more sense to this setup:
We have a `qdev` profile in our root `pom.xml` that configures some global stuff for dev mode (e.g. `<buildGoal>quarkus:dev</buildGoal>`, bind to `0.0.0.0` for WSL2 etc.) and to support starting dev mode with a fraction of our app, certain modules add specific things to qdev (e.g. mock producer jar from core) by defining their own qdev profiles.
While profiles are

[2021-08-01 23:51] sashamc opened #19154 "RESTEasy Reactive multipart form file upload hangs when using Reactive Routes failure handler"
### Describe the bug

When RESTEasy Reactive service should process multipart form file uploads from clients, if service contains failure handler -- @Route(type = Route.HandlerType.FAILURE) -- file upload causes hanging.
This occurs only with Quarkus 2.1.0.Final and only with the presence of that failure handler.

Without Reactive Routes failure handler file uploads work OK.
The same project creat

[2021-08-02 03:58] stuartwdouglas commented on #19136
This was caused by https://github.com/quarkusio/quarkus/commit/ae9a6345c229356d1ea8b536bab4535ca8e8ead7

[2021-08-02 05:09] geoand commented on #6588
@sberyozkin the `security-jpa-quickstart` seems to be failing. Can you please take a look?

[2021-08-02 05:10] geoand commented on #6588
@karesti the `infinispan-client-quickstart` is failing, can you have a look please?

[2021-08-02 05:13] geoand commented on #19154
I will have a quick look, but I have the following question:

Is there a specific reason you are trying to handle failures with `@Route(type = Route.HandlerType.FAILURE)`?
That is a construct from Reactive Routes and it has not been tested with RESTEasy Reactive.
In RESTEasy Reactive you would handle the error as is mentioned [here](https://quarkus.io/guides/resteasy-reactive#exception-mapping).

[2021-08-02 05:43] nicolas-vivot commented on #17088
Same here, looking forward to be able to use complex objects with @ConfigMapping & having the optional fixed.

[2021-08-02 06:35] Eng-Fouad opened #19156 "quarkus-reactive-pg-client not detected when using gradle"
### Describe the bug

I cloned this example project: https://github.com/quarkusio/quarkus-quickstarts/tree/main/hibernate-reactive-panache-quickstart, and I replaced maven with gradle.

When I try to build the project:

    gradlew build -x test

the following error occurs:

[code]

**gradle.properties:**

[code]

**settings.gradle.kts:**

[code]

**build.gradle.kts:**

[code]

### Expected behavi

[2021-08-02 06:38] geoand commented on #19154
For posterity, the reason the  `@Route` messes up with RESTEasy Reactive's multipart handling starting from version 2.1,  is because we have pivoted to our own Multipart handling instead of relying on Vert.x.
The reason this does not play well with Reactive Routes is because Reactive Routes installs a `BodyHandler` for all requests which then gets executed before the multipart in RESTEasy Reactive

[2021-08-02 06:39] geoand commented on #18977
cc @cescoffier

[2021-08-02 06:52] geoand commented on #19152
cc @aloubyansky

[2021-08-02 07:05] geoand commented on #19149
[code]

Is not how you run a Quarkus application.

You run it with:

[code]

[2021-08-02 07:05] #19149 closed

[2021-08-02 07:11] phillip-kruger commented on #17825
Hi @FroMage - I have been thinking about this a bit more. I think we have a chicken-egg problem here. We can add a websocket that, when in dev mode, ui's (like swagger-ui, graphql-ui and even dev-ui) can subscribe and then, when a hot reload happens, they refresh themselves. However, the thing that trigger the reload is a browser refresh. So in your case, that will not solve the problem, as you ma

[2021-08-02 07:26] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1089010181

[2021-08-02 07:36] fabasoad opened #19158 "Add possibility to disable GraphQL introspection via configuration"
### Description

From [the document](https://quarkus.io/guides/smallrye-graphql#introspect) I see that "Introspect" is enabled by default and AFAIS from [Configuration Reference](https://quarkus.io/guides/smallrye-graphql#configuration-reference) there is no configuration to disable it. Would be great to have configuration something like below to disable it if needed (for example in `prod` environ

[2021-08-02 07:36] loicmathieu commented on #19098
We disabled it multiple releases ago so it's not linked to this.

Yes, I know. I'll discuss with Ladislav as he may have some idea and I think I know how to reproduce it: creating a lot of messages prior to launching the applicaiton may allow to create a high enought througtput to show the issue.

[2021-08-02 07:55] phillip-kruger commented on #19158
Hi @fabasoad . Thanks for the issue. The config has already been mapped to a Quarkus config, but it's not released yet (see https://quarkus.io/version/main/guides/smallrye-graphql#quarkus-smallrye-graphql_quarkus.smallrye-graphql.field-visibility)

However, `smallrye.graphql.fieldVisibility=no-introspection` should work. Maybe try

`smallrye.graphql.field-visibility=no-introspection` and let me kn

[2021-08-02 08:18] fabasoad commented on #19158
@phillip-kruger Thanks for such quick reply! I just tried it locally and still the same - http://localhost:9000/graphql/schema.graphql is still available. Here is the command that I am running:

[code]

I also tried to add this config into `microprofile-config.properties` file and same result.

Could you please share when are you planning to release it and in what release?

[2021-08-02 08:21] phillip-kruger commented on #19158
@fabasoad - Do you perhaps have a small app that reproduce this issue ? Then I can look at it a.s.a.p.

If the smallRye config is not working, the mapped quarkus will not work either, so we will have to first fix the issue.

[2021-08-02 08:23] hifleu commented on #19149
Thank you for your clarification!

[2021-08-02 08:24] geoand commented on #19149
YW

[2021-08-02 08:29] phillip-kruger commented on #19158
Did you try `smallrye.graphql.field-visibility=no-introspection` in application.properties ?

[2021-08-02 08:32] fabasoad commented on #19158
Got it. Let me try to prepare small project and back to you today.

No, just in `microprofile-config.properties`. This is maven multi-module project and each module has `microprofile-config.properties` file inside (if needed). I remember that having `application.properties` in each module didn't work for me a while ago.

[2021-08-02 08:34] phillip-kruger commented on #19158
Ok, let's pin point the issue in the reproducer. Thanks :)

[2021-08-02 08:37] geoand commented on #19109
https://github.com/quarkusio/quarkus/pull/19159 will allow the use of  the `UniAsserter` in `@BeforeEach` and `@AfterEach`

[2021-08-02 08:42] magicwerk commented on #18479
Can you confirm this to be a bug or point out what I am doing wrong?
Also your bot assigned the env/windows label to this issue, but I assume it occurs irrespective of the operating system.

[2021-08-02 08:52] Sanne commented on #18977
We've observed this in HR as well, and that's the reason behind additional design changes and assertions we have now. You should not make any assumptions regarding execturing thread but stick with using the vertx context.

What is Reactive Resteasy doing which assumes "same thread" execution?

[2021-08-02 09:00] geoand commented on #18977
Nothing. It's Hibernate Reactive that fails in this case because when the rest client comes back it's on a different Vert.x thread.
RESTEasy Reactive does not assume anything and it doesn't care which thread the result comes back on

[2021-08-02 09:27] gsmet commented on #10729
For now, a workaround could be to exclude the dependency to `jackson-module-afterburner`.

[2021-08-02 09:35] Sanne opened #19161 "Improved context classloader reset for the Fork Join common pool"
### Description

We should improve our `ForkJoinClassLoading` so to not need actually starting a new thread for each available CPU core just to reset the context classloader.

Not least, the current strategy seems it wouldn't handle the case in which the pool scales down, which could happen in case of exceptions, as newly started threads after that point would not have the right classloader.

###

[2021-08-02 09:43] Sanne commented on #18977
oh, now I get it. Then it's probably my own fault, I'll need to review our internal assertions. Thanks, I'll check!

[2021-08-02 09:57] geoand commented on #1428
Should we keep this around or close? Asking because we don't really promote the use of our agent nor really update it (not to mention that GraalVM has its own [agent](https://www.graalvm.org/reference-manual/native-image/Agent/))

[2021-08-02 09:58] geoand commented on #2448
I think we should close this as users seem to be perfectly content with using a URL

[2021-08-02 10:03] geoand commented on #2173
Closing this as with the Quarkus CLI this is out of date

[2021-08-02 10:03] #2173 closed

[2021-08-02 10:08] geoand commented on #3053
It makes sense to mention that such an operator could now be written in Quarkus due to the existence of https://github.com/quarkiverse/quarkus-operator-sdk

cc @metacosm

[2021-08-02 10:09] geoand commented on #2656
With https://github.com/quarkusio/quarkus/pull/15380 in, is there something else that should be done around this issue or can we close it?

[2021-08-02 10:11] #19106 closed

[2021-08-02 10:12] geoand commented on #3781
Closing this as it doesn't seem to be an issue anymore

[2021-08-02 10:12] #3781 closed

[2021-08-02 10:22] iompo opened #19162 "make the quarkus.http.auth.form.timeout property configurable at runtime instead of compile time"
### Description

The _quarkus.http.auth.form.timeout_ property can be changed only at compile time. We have different installations of the same application and, if we need to set different timeouts, we need to rebuild the whole application just for that.
Making it overridable at runtime, would make it possible to have a single application package for all installations, plus the possibility to chan

[2021-08-02 10:24] rosell opened #19163 "Run test with jacoco on quarkus:dev fails"
### Describe the bug

When try to run the test with jacoco on the development server it fails because not found a class.

### Expected behavior

Run the tests.

### Actual behavior

2021-08-02 12:06:11,972 ERROR [io.qua.test] (Test runner thread) ==================== TEST REPORT #1 ====================
2021-08-02 12:06:11,972 ERROR [io.qua.test] (Test runner thread) Test GreetingResourceTest#testH

[2021-08-02 10:33] ppalaga commented on #2656
Although there still are ways how #15380 can be improved (@JiriOndrusek may know more), the serialization is there now and is usable. Let's close.

[2021-08-02 10:33] #2656 closed

[2021-08-02 10:41] bboyz269 commented on #18263
@FroMage I tried and got the same result (error due to AbstractJpaOperations#entityToPersistenceUnit being empty). I seems that `private static volatile Map<String, String> entityToPersistenceUnit` is somehow messed up in kotlin.

[2021-08-02 10:42] fabasoad commented on #19158
@phillip-kruger Please find the project attached below. I was able to reproduce the issue on this small project with just 2 submodules (_graphql_ and _runner_).

[reproducer.zip](https://github.com/quarkusio/quarkus/files/6916281/reproducer.zip)

[2021-08-02 10:46] phillip-kruger commented on #19158
Great ! Thanks ! Looking at it now.

[2021-08-02 10:57] radcortez commented on #19091
Yes, we don't support nested Maps in Maps, because until now, all cases I came across are actually expressed as an object with a map instead like @vsevel described.

@neoludo if you think this is not enough, please let me know and I'll see if I can provide the nested map support.

[2021-08-02 11:10] phillip-kruger commented on #19158
Hi @fabasoad - `smallrye.graphql.fieldVisibility=no-introspection` work for me. But maybe there is a misunderstanding here. No Introspection does not mean no schema. It means you can no introspect the model. (So for instance the graphql-ui would not work then)

If you want to be able to hide the schema, that is another requirement. We can certainly add a config option that does that.

[2021-08-02 11:14] geoand commented on #4281
I am going to close this as I can't reproduce the problem. If someone has a reproducer, feel free to comment and attach it

[2021-08-02 11:20] #4281 closed

[2021-08-02 11:27] geoand commented on #5030
This has been fixed in the meantime, so I'm closing

[2021-08-02 11:27] #5030 closed

[2021-08-02 11:35] Eng-Fouad commented on #19156
### Workaround

Adding the following extra dependency solved the problem:

    implementation("io.quarkus:quarkus-jdbc-postgresql")

[2021-08-02 11:37] geoand commented on #6211
This is not now the case with `quarkus.package.type=uber-jar`

[2021-08-02 11:37] #6211 closed

[2021-08-02 11:40] geoand commented on #6809
Closing this as it's now out of date with the release of `2.1`

[2021-08-02 11:40] #6809 closed

[2021-08-02 11:45] geoand commented on #7370
This would be fixed by using `io.quarkus:quarkus-rest-client-jackson` or `io.quarkus:quarkus-rest-client-jsonb`

[2021-08-02 11:45] #7370 closed

[2021-08-02 11:54] evacchi commented on #12486
still this issue

[code]

[2021-08-02 11:56] geoand commented on #7465
cc @mkouba @manovotn

[2021-08-02 12:01] edeandrea commented on #19109
That surely was a while before you looked into it...A whole weekend! :)

[2021-08-02 12:02] geoand commented on #19109
I turned out to be much easier than I thought :)

[2021-08-02 12:02] manovotn commented on #7465
@geoand we do not support `@Interceptors` annotation. The only supported way of interceptor declaration is via `@Interceptor` along with `@InterceptorBinding`

This is mentioned in the CDI reference guide - https://quarkus.io/guides/cdi-reference#limitations

[2021-08-02 12:03] mkouba commented on #7465
Yes, the EJB-style of association via `@javax.interceptor.Interceptors` is not supported at all.

[2021-08-02 12:05] edeandrea commented on #19109
FWIW I still think asking uses to learn "yet another" testing framework, after they've just learned how to use `AssertSubscriber`/`UniAssertSubscriber` is a bit much. Now they have to learn this new `UniAsserter` thing.

What if I need to assert on a `Multi` in a reactive transaction?

[2021-08-02 12:05] geoand commented on #8946
Closing as the client already addressed this issue

[2021-08-02 12:05] lostiniceland opened #19165 "Regression 2.x - Injecting reactive producer in an transactional bean loses the transaction"
### Describe the bug

A regression bug was introduced with the 2.x release of Quarkus, when injecting an reactive producer in an transactional bean, the transaction gets lost.

A sample-application (based on the hibernate-orm-quickstart) has been created in a [fork of the quickstarts.](https://github.com/lostiniceland/quarkus-quickstarts/commit/f9300b1effa8fc61fe1a14ccfba343761619862a). The sample

[2021-08-02 12:08] geoand commented on #7465
Understood, thanks.

So let's close this

[2021-08-02 12:08] lostiniceland commented on #19165
In our project the beans are a bit different but the result is the same
[code]

Interestingly, when changing the Publisher to RequestScoped, no error occurs, but this was not working in the sample.
I assume the state-handling (afaik in JEE/Spring all scopes are implemented by ThreadLocal(s)) has a hiccup here.

[2021-08-02 12:08] #7465 closed

[2021-08-02 12:10] geoand commented on #19109
I know, but as I said before, that's the price you have to pay to use HR in tests themselves.

If you have some specific (non theoretical) use case in mind, please open an enhancement issue

[2021-08-02 12:11] manovotn commented on #18958
Makes sense because that's just end of single request which is a lifespan of req. context.

I don't know. We are automatically activating req. context for lots of things so this can be a side effect of one of those.

[2021-08-02 12:12] yrodiere commented on #15836
I've just had a closer look at the reproducer, and it turns out this was simply a configuration mistake.

The test was failing simply because we were telling Quarkus to use a MariaDB dialect, while using an H2 database.
I suppose it used to work with Quarkus 1.x because for some reason the dialect was being ignored, or because the H2 dialect was close enough to the MariaDB dialect. In any case, th

[2021-08-02 12:12] #15836 closed

[2021-08-02 12:34] MarcoBaesso opened #19167 "HibernateValidatorProcessor jandex ClassCastException"
### Describe the bug

Upgrade from version 1.13.7 to 2.x.x with quarkus-hibernate-validator break build with following exception:

[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:2.1.0.Final:build (default) on project natocopsportal-runner: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR] 	[error]: Build step i

[2021-08-02 12:45] gsmet commented on #19167
I suppose you are using the Jandex plugin?

You need to upgrade it: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.0#jandex-upgrade .

[2021-08-02 12:51] geoand commented on #19165
cc @manovotn @mkouba

[2021-08-02 13:05] lburgazzoli opened #19168 "kubernetes extension: should not annotate unrelated resources"
### Describe the bug

I'm using qurkus-kubernetes to generate k8s resources and I noticed that as example, some resources like ServiceAccount gets surprisingly annotated with some prometheus annotations, like:

[code]

I think, only the relevant should be annotated

### Expected behavior

kubernetes extension should not annotate unrelated resources

### Actual behavior

_No response_

### How to R

[2021-08-02 13:07] phillip-kruger commented on #19158
@fabasoad - above PR will add a new config option to not publish the schema

`quarkus.smallrye-graphql.schema-available=false`

[2021-08-02 13:07] Sanne commented on #18977
@geoand sorry I'm confused - when you commented that I thought there was some trouble caused by my internal checks in `org.hibernate.reactive.common.InternalStateAssertions#assertCurrentThreadMatches` - but that doesn't seem to be happening with Markus's reproducer. Are you having other changes that got you to this conclusion?

All I see is that the context is lost when it's run on a different thr

[2021-08-02 13:09] #3620 closed

[2021-08-02 13:11] geoand commented on #18977
Nope, I didn't change anything.

All I did to see that the result was coming back on another thread was add a couple break points and print the current thread.

When the rest-client was not being used, everything worked as expected because everything was being done on the same vert.x thread. However, when the rest client was added to the pipeline of operations (which it is in the reproducer), then

[2021-08-02 13:12] geoand commented on #19168
The prometheus annotation issue has been fixed in https://github.com/quarkusio/quarkus/pull/18989. Are the other annotations a problem as well?

[2021-08-02 13:18] lburgazzoli commented on #19168
no just prometheus

[2021-08-02 13:18] #19168 closed

[2021-08-02 13:40] MarcoBaesso commented on #19167
thanks, it was used by a custom extension

[2021-08-02 13:41] Sanne commented on #18977
@geoand ok thanks for clarifying, that matches the same as what @DavideD and myself are seeing in debug.

Ok now I understand what Stuart said about affinity. Yes we will need that http client which is invoked to not have the context being lost. This doesn't seem related to Hibernate Reactive and I'm not familiar with these integrations.. who can own this?

[2021-08-02 13:41] geoand commented on #19163
Hh...

@stuartwdouglas shouldn't quarkus-jacoco be a test scope dependency?

[2021-08-02 13:43] #19167 closed

[2021-08-02 13:45] geoand commented on #18977
I always took it for granted, that Vert.x had thread affinity, but that doesn't seem to be the case. I assume we would need input from the Vert.x folks on this one.

[2021-08-02 13:48] gsmet commented on #19167
And just to be thorough: we had a temporary workaround with a try until we could fix the real issue in Jandex. Thus why the try is gone and you need to upgrade Jandex.

[2021-08-02 13:50] javiertoja opened #19171 "RESTEasy reactive version presents different behaviour than the non-reactive version"
### Describe the bug

I'm trying to make a REST backend application using resteasy, hibernate-validator, oidc and kotlin extensions.

### Expected behavior

The quarkus reactive and non-reactive versions of the resteasy extension have the same behaviour

### Actual behavior

The extensions behave differently:

While testing my backend I found that the evaluation of the constraints present in my mo

[2021-08-02 13:52] javiertoja commented on #19171
This is not a Kotlin-related issue, its more a RESTEasy one.

[2021-08-02 13:58] Sanne opened #19172 "Create integration tests for Hibernate Reactive on MSSQL Server"
### Description

Assigned to @DavideD

### Implementation ideas

Take inspiration from `integration-tests/hibernate-reactive-postgresql` and/or `integration-tests/hibernate-reactive-mysql`

[2021-08-02 13:58] loicmathieu commented on #19140
Just checked it on Quarkus 2.1 and the warning disapear, there seems to have been a dependency mismatch somewhere that somone fixed.
@kjq can you test with Quarkus 2.1 ?

@knutwannheden we cannot stop this warning for happening if different versions of ANTLR are used in different library. We can enfore the use of the same one inside Quarkus managed dependencies but nothing more. As ANTLR is used t

[2021-08-02 14:13] mkouba commented on #19165
CC @Ladicek @cescoffier

[2021-08-02 14:19] famod commented on #19163
I'm also getting this, with scope is `test`.

[2021-08-02 14:19] loicmathieu commented on #19140
@kjq so using Quarkus 2.1 you confirm the WARNING disapear ?

[2021-08-02 14:21] geoand commented on #19163
I tried with test scope and didn't see the problem

[2021-08-02 14:26] edeandrea opened #19173 "Using `@TestReactiveTransaction` with a `Multi`?"
### Description

The new `@TestReactiveTransaction` seems that you need to inject a `UniAsserter` in order to properly do assertions. How would someone then assert against a `Multi` within one of these transaction boundaries?

For example, how would I test this?

## FruitRepository.java
[code]

## FruitRepositoryTests.java
[code]

### Implementation ideas

_No response_

[2021-08-02 14:26] edeandrea commented on #19109
I opened #19173

[2021-08-02 14:48] Sanne commented on #19129
Right, and same for the others.

FWIW:

 - AvailableSettings.ORDER_UPDATES is always enabled in Quarkus, as we believe it's the better option and has no known drawbacks.
 - `ORDER_INSERTS` is meant to be enabled in a similar way in the future, it's not today as there are some open issues related to it.

Regarding `BATCH_VERSIONED_DATA`, we're not setting it today but I guess we could take this in

[2021-08-02 15:05] kjq commented on #19140
Loic,

Just double-checked and using Quarkus 2.1.0.Final - I must be losing my
mind, the warning does "*not*" appear anymore (I'll test later using the
Mandrel image just to make sure)...

Thanks for pointing this out.  We must not have done any builds since the
upgrade...

On Mon, Aug 2, 2021 at 10:19 AM Loïc Mathieu ***@***.***>
wrote:

[2021-08-02 15:07] ivannov commented on #19012
I started the reproducer project in dev mode and then killed it for 7-8 times. Every time it failed with the above exception.

The last time I didn't kill it and left it hanging for 4-5 minutes. Quarkus was indeed trying to hot replace something, but every time it failed with the same error

[2021-08-02 15:32] yrodiere commented on #15602
@iddacosta Thanks for your report.

Unfortunately, I suspect the problems you've been experiencing are caused by invalid configuration;
below is a list of what I found.

The resulting, fixed reproducer (which no longer fails) can be found here:
[rhino.zip](https://github.com/quarkusio/quarkus/files/6918000/rhino.zip)

# Problems in the reproducer

## Spaces in configuration values

Comma-seperated

[2021-08-02 15:32] #15602 closed

[2021-08-02 15:38] yrodiere opened #19174 "Flyway extension does not automatically trim configuration property values"
### Description

Space handling in configuration property values is dodgy. See https://github.com/quarkusio/quarkus/issues/15602#issuecomment-891122312

I can understand that spaces are meaningful in `quarkus.flyway.schemas` (though that really feels wrong...), but it seems dangerous that when an entry in `quarkus.flyway.locations` is not found (because of a leading space), it is simply ignored.

[2021-08-02 15:45] yrodiere opened #19175 "`quarkus.hibernate-orm.database.default-schema` should not override the schema defined by the multi-tenancy strategy"
### Description

When using the SCHEMA multi-tenancy strategy in Hibernate ORM, the database schema to use for each session is supposedly determined by the tenant identifier.

However, if `quarkus.hibernate-orm.database.default-schema` is set, that "default" schema becomes the mandatory schema everywhere, and overrides the schema inferred from the tenant identifier.

It should not.

See https://gi

[2021-08-02 15:46] #19140 closed

[2021-08-02 16:05] knutwannheden commented on #19140
I am aware of the issue. I just wanted to point out that I think it would make sense to upgrade to the latest version of ANTLR if anything and make a corresponding request for other libraries.

[2021-08-02 16:20] lwitkowski opened #19177 "Regression v2.0.2.Final: RolesAllowed check skipped when endpoint method payload POJO class is private"
### Describe the bug

`@RolesAllowed` annotation is ignored for endpoints, which methods have strongly-typed POJO as parameter, and if POJO class is inner and private.
Quarkus v2.0.1.Final is the last version where it works correctly, staring from v2.0.2.Final it works as described.

### Expected behavior

REST service should return http 401/403 and endpoint method/implementation should not be cal

[2021-08-02 16:38] #15310 closed

[2021-08-02 19:07] #18614 closed

[2021-08-02 19:07] #19113 closed

[2021-08-02 19:07] #19131 closed

[2021-08-02 19:26] edeandrea opened #19180 "Dev Services for Kafka combined with continuous testing not working right."
### Describe the bug

I'm trying to combine Dev Services for Kafka with Continuous testing and the experience isn't that great. In all the scenarios I mention below I am creating an application from scratch using the SmallRye Reactive messaging & RESTEasy reactive extensions.

In all scenarios mentioned below the continuous testing hangs and the entire `quarkus:dev` needs to be `CTRL-C`'ed and res

[2021-08-02 19:28] edeandrea commented on #19180
FYI I also did [post on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/DevServices.20for.20Kafka.20not.20restarting/near/247940900) about this

[2021-08-02 19:33] colsonGM opened #19181 "Quarkus Native Azure Build Pipeline Issue with Signing and Injected Libraries"
### Describe the bug

We are having a problem in our build pipelines which is preventing us from using DI from a library.  We are seeing a fatal error in the build pipeline when doing build step CI – Native Build, Maven Quarkus Build.  It occurs when we inject beans from a common library. It presents like a signing issue (`java.lang.SecurityException: class "com.[package].AClass_Bean"'s signer inf

[2021-08-02 20:25] edeandrea commented on #19180
I've been playing around a bit and not sure if this is relevant, but when its "hung" I can see multiple kafka brokers trying to be run, both trying to be exposed on port `9092` on my localhost.

[code]

[2021-08-02 21:53] hernael opened #19183 "Under some conditions Quarkus Test fail with TimeoutException on startup"
### Describe the bug

On my laptop the tests work fine. However, when using a CI system (jenkins) with less processing resources, the tests fail due to: Caused by: java.lang.RuntimeException: Failed to start quarkus.

@radcortez everything seems to be due to a blocking code when starting Vault:

[code]

### Expected behavior

_No response_

### Actual behavior

The error is:

[code]

### How to Re

[2021-08-02 23:10] #15093 closed

[2021-08-02 23:54] fabasoad commented on #19158
Oh, I see. Sorry, I misunderstood that config. Thanks for explanation.

Awesome! AFAIS, it will be available in `2.2`, right? Thanks for quick support.

[2021-08-03 02:17] stuartwdouglas commented on #19154
We should be able to handle the BodyHandler case, as there are other extensions that install it as well.

[2021-08-03 02:35] andrsGutirrz commented on #10753
Hi, I had the same problem, what I did is to restart the IDE, to refresh ENV VARS

[2021-08-03 03:43] stuartwdouglas commented on #18977
Yea, I think this needs input from the Vert.x guys. I think it is a bug in SimpleConnectionPool but I am not 100% sure what the expected semantics are.

[2021-08-03 03:58] stuartwdouglas commented on #19163
We resolve test scoped dependencies to make continuous testing work. Jacoco does not really make sense with continuous testing anyway, so I have disabled it.

[2021-08-03 04:07] stuartwdouglas commented on #17825
You could add a poll on the page, so that if you are on that page hot reload will happen every time you poll (if there are changes), but I don't know if that is a great idea either.

[2021-08-03 04:29] stuartwdouglas commented on #19183
Have you tried increasing `quarkus.vault.read-timeout`? The default value of 1s does seem a little on the low side.

[2021-08-03 04:41] geoand commented on #19154
Is there a way to remove the existing body handler?

[2021-08-03 06:19] rsvoboda opened #19190 "Quarkus main - "Multiple mechanisms present that use the same credential transport HttpCredentialTransport" Error, not in Quarkus 2.1.0.Final"
### Describe the bug

Whwn using `oidc,quarkus-smallrye-jwt` extensions with Quarkus main I receive "Multiple mechanisms present that use the same credential transport HttpCredentialTransport" Error.
This error is not present when using Quarkus 2.1.0.Final.

I can't say for sure if this is intended or not. @sberyozkin fyi.

[code]

### Expected behavior

No error is thrown.

### Actual behavior

j

[2021-08-03 07:12] geoand commented on #19171
I'll have a look

[2021-08-03 07:12] stuartwdouglas commented on #19180
I think this may be fixed upstream, can you try with the main branch?

[2021-08-03 07:46] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1092730305

[2021-08-03 08:03] yrodiere commented on #9896
This looks like a duplicate of #5883, which was fixed in Quarkus 2.0.

At the very least, while I'm able to reproduce the problem in Quarkus 1.0, I'm not able to reproduce it in 1.13.

I'll go ahead and assume this was fixed; please reopen this issue or open another one if I'm wrong.

[2021-08-03 08:03] #9896 closed

[2021-08-03 08:05] rsvoboda opened #19194 "dev mode - 404 Resource Not Found page available only on /XYZ when `quarkus.http.root-path=/XYZ` specified"
### Describe the bug

dev mode - 404 Resource Not Found page available only on /XYZ when `quarkus.http.root-path=/XYZ` specified

### Expected behavior

404 Resource Not Found page available only on any invalid URL in dev mode

### Actual behavior

404 Resource Not Found page available only on /XYZ prefixed URLs in dev mode

### How to Reproduce?

rm -rf app-generated-skeleton && mvn io.quarkus:qu

[2021-08-03 08:12] funcbro commented on #19129
Same issue here.
We have to use persistence.xml to set the mentioned properties, but would favour of course the quarkus properties.
Additionally we use "reWriteBatchedInserts" of the Postgres driver in persistence.xml.

Generally I'm with you, only exposing settings commonly used. The settings for Batch-processing are from my point of view best-practices and though should be made available in an e

[2021-08-03 08:16] gavinking commented on #18977
Vert.x does have thread affinity in at least some cases (for the SQL client it does, assuming I recall correctly what @vietj told me) but HR doesn't depend on it.

All we require is that the Vert.x context is preserved.

[2021-08-03 08:34] bboyz269 commented on #18263
I did some more digging on `AbstractJpaOperations#entityToPersistenceUnit` and find the difference between "hibernate-orm-kotlin" and "hibernate-orm" is that:

One is build time work
![image](https://user-images.githubusercontent.com/4453811/127981468-4fd3dd2b-b77e-4d74-9557-7c6278203fda.png)

The other is runtime work
![image](https://user-images.githubusercontent.com/4453811/127982440-1c0cf4cf-c

[2021-08-03 08:34] jamesnetherton opened #19195 "Infinispan client cannot find `SaslServerFactory` in native mode"
Testing the latest Camel Quarkus Infinispan SNAPSHOT with the latest Quarkus Infinispan SNAPSHOT reveals an error in native mode. Seems that Infinispan itests in Quarkus do not use authentication, so maybe this has gone unnoticed since the upgrade to GraalVM 21.2.0.

The client configuration used in the Camel Infinispan itest is [here](https://github.com/apache/camel-quarkus/blob/quarkus-main/inte

[2021-08-03 08:43] geoand commented on #19171
https://github.com/quarkusio/quarkus/pull/19193 and https://github.com/quarkusio/quarkus/pull/19196 fix the issues.
Note that in RESTEasy Reactive we have actually opted to **not** produce the same validation report as is used in RESTEasy Classic

[2021-08-03 08:45] #19154 closed

[2021-08-03 08:49] Sanne commented on #19129
Regarding our defaults, that's a very good point. I remember wishing a feature that would dump the effective configuration on boot, not least to more easily get help from other Hibernate team members when we have complex bugs to investigage.

Unfortunately many components are bypassing the configuration parsing so it's not really possible to "listen" for configuration overrides and capture them.

[2021-08-03 08:50] yrodiere commented on #9174
So, I've had a closer look at the reproducer, and I'm torn.

The current `ExceptionMapper` for `ConstraintViolationException` behaves this way:

1. If the exception is a constraint violation while validating REST endpoint parameters (i.e. it's a `ResteasyViolationException`, with a few other conditions), then the violation is blamed on the caller and we return a response with HTTP status 400.
2. I

[2021-08-03 08:52] geoand commented on #19177
cc @sberyozkin

[2021-08-03 08:54] yrodiere commented on #9174
For anyone wanting to play around with the reproducer, here is an updated version (upgrade to Quarkus 2.1, and a few fixes in the code): https://github.com/kgoedert/hello-quarkus/pull/1

[2021-08-03 08:54] Sanne opened #19197 "Document how exactly an Hibernate ORM instance is configured in Quarkus"
### Description

Since we do override various defaults, and do also configure additional components automatically based on application introspection, advanced users are getting easily lost as they need to know the details of what we did.

### Implementation ideas

It seems that tracing our configuration properties would not provide a comprehensive solution, as often we plug in custom service imple

[2021-08-03 08:55] Sanne commented on #19129
Followed up with #19197

[2021-08-03 09:01] geoand commented on #9244
Let's close this in favor of https://github.com/quarkusio/quarkus/issues/9315 which is more specific

[2021-08-03 09:01] #9244 closed

[2021-08-03 09:01] #19174 closed

[2021-08-03 09:19] Ladicek commented on #19180
I'm trying scenario 4 (seems easiest :-) ) on current `main` and it seems to work just fine. The test does fail after 15 seconds, and when I complete `PriceConverter`, the test automatically runs again and passes (after a little more than 10 seconds, as expected).

[2021-08-03 09:26] mkouba commented on #16797
Ok, so I think that we should:

1. Merge the `quarkus-vertx` and `quarkus-vertx-core` extentions, keep the API packages, i.e. `io.quarkus.vertx.ConsumeEvent` and `io.quarkus.vertx.LocalEventBusCodec`; the final extension name is `quarkus-vertx-core`
2. Rename the `quarkus-vertx-web` extension to `quarkus-reactive-routes`; keep the package name `io.quarkus.vertx.web`.

This change should probably t

[2021-08-03 09:44] karesti commented on #19195
@jamesnetherton taking a look today

[2021-08-03 09:58] geoand commented on #19195
For this Service Loader stuff to work in native mode, one would generate `ServiceProviderBuildItem` from the appropriate Quarkus build step

[2021-08-03 09:59] QuarkusQE commented on #15417
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1092739803

[2021-08-03 10:00] #8946 closed

[2021-08-03 10:01] geoand commented on #8925
The release that includes the fix has since been included in Quarkus

[2021-08-03 10:01] #8925 closed

[2021-08-03 10:04] geoand commented on #9448
Is this still something that we plan on doing @cescoffier ? @kenfinnigan ?

[2021-08-03 10:07] FroMage commented on #18977
OK, so is the Vert.x context preserved then?

[2021-08-03 10:08] FroMage commented on #18977
I assume not, otherwise this would work. So it's not "just" a thread affinity issue. Although I'm pretty sure we also need thread affinity to not get two parallel executions of the same context.

[2021-08-03 10:12] FroMage commented on #18977
I've passed on the question to the Vert.x team on discord. Pretty sure @cescoffier is on PTO: https://discord.com/channels/751380286071242794/751398938459766895/872058623394738236

[2021-08-03 10:18] Sanne commented on #18977
It isn't.

We have a context created and associated to the first thread, but after the REST client is invoked, subsequent operations are executed on a different thread and the original context is gone.
Vertx automatically creates a new context, but it's empty and that's causing the bug.

[2021-08-03 10:24] Sanne commented on #17516
Sorry that's not possible. It needs to be a build time property as the Envers metadata affects the model, and the model needs to be fixated at build time.

Would you still see a use case for this or should I close it?

[2021-08-03 10:29] ozangunalp commented on #19180
I tested a bunch of scenarios and never had multiple test containers for the same application with `quarkus:dev`. (Working on Mac for reference.)

However, I am having issues at app startup with reactive messaging Kafka extension.
1. When the `application.properties` contains the connector options but no associated code, it won't start up.
2. When adding code and associated configuration options t

[2021-08-03 10:30] lthasle opened #19198 "Implement a way to monitor http traffic in a resteasy reactive environment"
It would be nice to be able to turn on logging of all http traffic for the quarkus-rest-client-reactive module, by adding a line in application.properties file. Similar to the way it may be done for the classic rest-client:

quarkus.log.category."org.apache.http".level=DEBUG

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/how.20to.20monitor.20http.20traffic.20in.20reactive.20env

[2021-08-03 10:30] geoand commented on #9284
I am going to close this as such issues have been addressed in a much better way in RESTEasy Reactive. See [this](https://quarkus.io/guides/resteasy-reactive#request-or-response-filters) part of the documentation

[2021-08-03 10:30] #9284 closed

[2021-08-03 10:37] radcortez commented on #19183
Yes, try to increase the timeout. Maybe we should also increase the default.

[2021-08-03 10:40] geoand commented on #19198
cc @michalszynkiewicz

[2021-08-03 10:44] geoand commented on #9701
It seems like IntelliJ for whatever reason is not using the `Fruit` class loaded from the Thread Context ClassLoader and there is nothing we can do about it in Quarkus, so I'll close this

[2021-08-03 10:44] #9701 closed

[2021-08-03 10:46] geoand commented on #10191
I'll close this as it seems to have been fixed. If that is not the case, feel free to comment or reopen

[2021-08-03 10:46] #10191 closed

[2021-08-03 10:48] Ladicek commented on #19180
Multiple containers, 2 containers to be precise, are totally expected -- 1 is for dev mode, 1 for test.

[2021-08-03 10:49] Ladicek commented on #19180
Oh and @ozangunalp is right, I have also seen serde autodetection not re-running, but I have _no idea_ why is that :-)

[2021-08-03 10:52] geoand commented on #10555
@mkouba do we have anything similar to this?

[2021-08-03 10:53] geoand commented on #10921
@gsmet I assume we can close this now as the release process has been going pretty smooth now, right?

[2021-08-03 10:54] geoand commented on #10783
Closing as `won't fix` since there has not been demand for this

[2021-08-03 10:54] #10783 closed

[2021-08-03 10:59] geoand commented on #11594
There is a fix in main branch of Yasson but it hasn't been included in a `1.x` release yet

[2021-08-03 11:08] mkouba commented on #10555
@geoand We don't have a way to configure the number of threads processing a `@Scheduled` method... if that's what you're asking. This would basically mean to create an executor per scheduled method. Which should be doable but I'm not quite sure whether it fits the current "thread pool strategy".

You can try to use [Concurrent Execution](https://quarkus.io/guides/scheduler-reference#concurrent_exe

[2021-08-03 11:09] #12578 closed

[2021-08-03 11:16] geoand commented on #13033
quarkus:dev doesn't shutdown completely, so this is expected behavior

[2021-08-03 11:16] #13033 closed

[2021-08-03 11:18] geoand commented on #13534
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/1957

[2021-08-03 11:18] #13534 closed

[2021-08-03 11:22] geoand commented on #13321
Closing as this option (by pressing `d`) has since been added to the console

[2021-08-03 11:22] #13321 closed

[2021-08-03 11:28] geoand commented on #13823
I am going to close this as there has been little interest. If people really want this, let me know :)

[2021-08-03 11:28] #13823 closed

[2021-08-03 11:29] geoand commented on #13821
For XML support with RESTEasy, Quarkus uses JAX-B, see https://github.com/quarkusio/quarkus/blob/2.1.0.Final/extensions/resteasy-classic/resteasy-jaxb/runtime/pom.xml

[2021-08-03 11:29] #13821 closed

[2021-08-03 11:31] edeandrea commented on #19180
I'd be happy to try if you can explain to me (or point me to documentation) how to compile `main` and link a project to it.

[2021-08-03 11:31] geoand commented on #14068
Closing as we haven't got any new information. Feel free to reopen if there is new information

[2021-08-03 11:31] #14068 closed

[2021-08-03 11:33] jamesnetherton commented on #19195
FWIW I have a SASL issue in a different extension and fixed it by producing `NativeImageSecurityProviderBuildItem` for `com.sun.security.sasl.Provider`.

Curious as to why this worked prior to GraalVM 21.2.0 without any special config? Maybe the change is due to this https://github.com/oracle/graal/commit/10cc640cd8d5878b0c91f66ec908771357807adf#diff-b74986643ea0d26f6a08173f26b9330b4b26d3f4369a7a5

[2021-08-03 11:33] geoand commented on #14035
https://github.com/quarkusio/quarkus/pull/19189 is also related, but for RESTEasy Reactive

[2021-08-03 11:38] geoand commented on #14288
Closing this as the comments above explain the issue and we haven't heard anything new.
If this is still an issue, feel free to reopen or comment

[2021-08-03 11:38] #14288 closed

[2021-08-03 11:45] geoand commented on #15691
Should we close this given that both OpenTracing and Reactive Routes have been superceded in Quarkus with alternatives we now put most of our energy into?

[2021-08-03 11:48] #19163 closed

[2021-08-03 11:52] geoand commented on #19195
@zakkak ^

[2021-08-03 12:08] maciekg89 commented on #17516
Yes, I see a use case, e.g. the jar with envers can be used as dependency in quarkus application. And sometimes envers is not needed.

[2021-08-03 12:08] kenfinnigan commented on #9448
It is, but I think the priority has slipped. Might be worth re-evaluating when Clement returns

[2021-08-03 12:10] maciekg89 commented on #17516
So, build time property  will also be useful.

[2021-08-03 12:16] geoand commented on #16211
I had completely missed this one...
Looking now

[2021-08-03 12:25] geoand commented on #16211
https://github.com/quarkusio/quarkus/pull/19201 fixes the issue

[2021-08-03 12:30] Sanne opened #19202 "More tests leaking"
### Describe the bug

If I take a heap dump of the hibernate-orm deployment integration tests, there is a number of new leaks.

An interesting clue was reported by the `thread_overview` report from MAT:

[code]

Note how each thread with the same name "Database shutdown thread" is having a different context classloader.

cc/ @stuartwdouglas does this ring a bell?

### Expected behavior

We should

[2021-08-03 12:36] Sanne commented on #19202
A more interesting sample:

[code]

N.B. I had prefixed the names of Vert.x threads generated by the DevConsole with `[DevConsole]` so to be able to catch duplication with the main production vert.x instance.

It seems it's clear we're having multiple DevConsole instances running.

[2021-08-03 12:37] stuartwdouglas commented on #19202
The database ones are the H2 shutdown hook thread. Maybe the dev ui is not being shutdown properly.

[2021-08-03 12:40] stuartwdouglas commented on #19202
Those Dev UI threads are terminated, they are not the issue.

[2021-08-03 12:42] Sanne commented on #19202
Ah I just realized these threads are indeed terminated. But they are still referred so can't be garbage collected

[code]

[2021-08-03 12:46] Sanne commented on #19202
[code]

[2021-08-03 12:50] Sanne commented on #19202
I'll try to reset `closeTasks` on `QuarkusClassLoader#close`

[2021-08-03 13:00] pourfar commented on #18673
@stuartwdouglas I had similar issue (wanted to access database using Panache inside a WebSocket Configurator class), and using your sample code did not solve the problem. I still get the following exception in modifyHandshake method. I even tried to use @Blocking annotation for @ServerEndpoint class, and also tried with and without 'quarkus.websocket.dispatch-to-worker' config option, but to no av

[2021-08-03 13:02] stuartwdouglas commented on #19202
That is not the issue, if QuarkusClassLoader is still referenced then that is the leak. Anything held by it does not matter, as it will be released when the CL is released.

[2021-08-03 13:21] Sanne commented on #19202
good point, I was getting confused.

I should reduce the number of default threads being started on my machine,
it's overwhelming.

On Tue, 3 Aug 2021, 14:02 Stuart Douglas, ***@***.***> wrote:

[2021-08-03 13:42] FroMage commented on #18977
Actually, we get notified from the client on a `VertxThread` which has a non-null context, and then from that thread, we grab a random EventLoop thread instead of using the one we are on https://github.com/quarkusio/quarkus/blob/2.1.0.Final/independent-projects/resteasy-reactive/client/runtime/src/main/java/org/jboss/resteasy/reactive/client/impl/RestClientRequestContext.java#L205 (remember there

[2021-08-03 13:47] phillip-kruger commented on #17825
I guess you stand a chance that it poll and find changes while the developer is still working on the code ? I wonder if it's worth it ? @FroMage ?

[2021-08-03 14:26] Sanne commented on #17516
Good point. Especially if you have multiple persistence units, and only want Envers used on some of them.

[2021-08-03 14:27] hernael commented on #19183
It right! I increased the value of `quarkus.vault.read-timeout` and tests works well. Thanks!

[2021-08-03 14:27] #19183 closed

[2021-08-03 14:28] kliebhart commented on #18642
@gsmet @sberyozkin thanks for your help, actually added GaalVM Version and Stack Trace to the description

[2021-08-03 14:32] tliebhart commented on #18642
Hi @sberyozkin
Here is the requested information

java.security.KeyPairGenerator: `KeyPairGenerator.getInstance("EC", "BC")`
GraalVM version: 21.1.0

StackTrace:
`java.security.NoSuchAlgorithmException: class configured for KeyPairGenerator (provider: BC) cannot be found.
	at java.security.Provider$Service.getImplClass(Provider.java:1933)
	at java.security.Provider$Service.newInstance(Provider.jav

[2021-08-03 14:34] #19109 closed

[2021-08-03 14:37] geoand commented on #18977
@FroMage thanks for that analysis. Are you going to take care of the issue?

[2021-08-03 15:10] geoand commented on #19137
With https://github.com/quarkusio/quarkus/issues/19136 fixed, is this still an issue?

[2021-08-03 15:13] geoand commented on #19019
@senzu can you try with GraalVM 21.2?

[2021-08-03 15:18] geoand commented on #18787
Closing because we have not received necessary user input.
Feel free to reopen or comment if you have more information for us

[2021-08-03 15:19] geoand commented on #18788
Closing this due to lack of user feedback.

Feel free to reopen if you have a reproducer to attach.

[2021-08-03 15:19] #18788 closed

[2021-08-03 15:23] rsynek commented on #19137
@geoand I think this report focuses on how the Smallrye communicates the root cause (#19136). The extra error log illustrated in the "Actual behavior" section detracts attention from the root cause. In other words, yes, it is still an issue.

[2021-08-03 15:24] geoand commented on #18689
Mutiny `1.0` is now included in Quarkus, so let's close this

[2021-08-03 15:24] #18689 closed

[2021-08-03 15:26] geoand commented on #18684
This is incorrect usage... You should not be trying to inject server side objects into client related classes

[2021-08-03 15:26] #18684 closed

[2021-08-03 15:27] ge0ffrey commented on #19137
Yes (as Radovan said), but note that **it will only reproduce if there's another issue**, because it's an issue in the error reporting. You can use the reproducer in the description to reproduce by using quarkus 2.1.0.Final, but not 2.1.1.Final once that's out.

[2021-08-03 15:29] mkouba commented on #6285
I'd like to address the Quarkus part in the https://github.com/quarkusio/quarkus/pull/19192.

[2021-08-03 15:56] famod commented on #8218
@radcortez well, the interceptor seems to kick in but I don't see anything on the console.
Console level is ALL and I've set `io.smallrye.config.ConfigLogging` to DEBUG. Am I missing something?

[2021-08-03 15:57] famod commented on #8218
Could it be that I cannot set the level of `io.smallrye.config.ConfigLogging` via Quarkus config because...well...the interceptor runs "too early"?

[2021-08-03 15:59] Sanne commented on #19202
So it seems like many "leaks" I was seeing in MAT today were induced by the fact I was running GraalVM as JDK: apparently in this case when taking heap dumps some classes were being flagged as "JNI Global" GC Roots, and with the class they would also pin the classloader. My hunch is that these classes were being compiled at this time.

I'll close this. Lesson learned: don't use GraalVM for heap an

[2021-08-03 15:59] #19202 closed

[2021-08-03 16:16] geoand commented on #17828
I am seeing the same thing as @FroMage, no history at all.

![Screenshot from 2021-08-03 19-15-58](https://user-images.githubusercontent.com/4374975/128050282-dcb0fe16-acd9-4431-b734-643b767d0618.png)

[2021-08-03 16:22] geoand commented on #17745
Closing this as it's a duplicate of the aforementioned issues

[2021-08-03 16:22] #17745 closed

[2021-08-03 16:27] geoand commented on #17593
Closing as a duplicate of https://github.com/quarkusio/quarkus/issues/13598

[2021-08-03 16:27] #17593 closed

[2021-08-03 16:28] geoand commented on #17535
Closing as the issue is invalid and no feedback was provided. Feel free to reopen or comment if you have more information

[2021-08-03 16:31] phillip-kruger commented on #17828
Weird. Let me try Chrome as well.

[2021-08-03 16:48] phillip-kruger commented on #17828
Works for me on chrome and firefox on Fedora. @FroMage - any more details you can share about your environment ?

[2021-08-03 16:48] phillip-kruger commented on #17828
Thanks for checking @geoand !

[2021-08-03 16:56] #16211 closed

[2021-08-03 17:36] pipinet opened #19207 "Graphql ExecutionInput locale is null"
### Describe the bug

Graphql response errors.message should be i18n, like this:.
![image](https://user-images.githubusercontent.com/6096680/128058736-4431a8e6-d307-4c03-9955-71c666dca23b.png)
![image](https://user-images.githubusercontent.com/6096680/128058839-42c59ce4-5706-42d5-8b58-581b2fb80eee.png)
![image](https://user-images.githubusercontent.com/6096680/128058875-515f329b-b41c-4c69-becd-f93

[2021-08-03 18:20] MikeEdgar commented on #18468
@nkhoshini - I am not getting the same results with the attached example project. Do you have `javax.ws.rs.Consumes` annotation somewhere in your project that is not in the example? I ask because the annotation scanner does not consider a method argument (in this case a `kotlin.coroutines.Continuation`) to be the request body without it.

[2021-08-03 18:41] lucafuji commented on #18726
Just double confirm that I put the following blocks in my build.gradle
`jacocoTestCoverageVerification {
 violationRules {
  rule {
    limit {
     minimum = 0.7
   }
  }
 }
}`

Is this the correct way to specify minimal coverage?

I did not find a way to specify it in application.properties.
https://quarkus.io/guides/all-config

[2021-08-03 19:38] wjglerum opened #19208 "Dev services are not always started for reactive datasources"
### Describe the bug

I was playing around with the new reactive MSSQL client and I noticed that it doesn't automatically start a Docker container for me in dev mode.

It does work as expected with the reactive PG client though. The reactive MySQL client on the other hand needs a db kind set to automatically start a container with dev services.

Even if I set the db kind for MSSQL it refuses to st

[2021-08-03 19:45] wjglerum commented on #19208
Could this be because the relevant dev service is not included for the reactive MSSQL client?

- Reactive PG Client -> https://github.com/quarkusio/quarkus/blob/main/extensions/reactive-pg-client/deployment/pom.xml
- Reactive MySQL Client -> https://github.com/quarkusio/quarkus/blob/main/extensions/reactive-mysql-client/deployment/pom.xml
- Reactive MSSQL Client -> https://github.com/quarkusio/qua

[2021-08-03 19:50] michalszynkiewicz opened #19209 "gRPC headers"
### Description

 Add an easy way to set headers for a grpc call

### Implementation ideas

_No response_

[2021-08-03 20:38] wjglerum commented on #19208
Looks like the dev services dependency was indeed missing, also added some build steps to set the db kind for MySQL and MSSQL, see https://github.com/quarkusio/quarkus/pull/19210

[2021-08-03 20:49] edeandrea commented on #19180
I understand there should be multiple containers running (one for dev one for test) but should they both be exposed to the host on the same port(s) (i.e. 9092 and 9644)?

[2021-08-04 01:02] stuartwdouglas commented on #16797
IMHO the final extension name should be `quarkus-vertx`, this way users that already were using it will not notice a difference, while `quarkus-vertx-core` was basically an implementation detail and not user visible.

[2021-08-04 04:32] #19171 closed

[2021-08-04 05:14] hongshaoyang commented on #19009
Gentle bump on this issue, could anyone help to triage this issue?

Possibly related to #6943 where it is also related to JMX

[2021-08-04 06:35] Sgitario commented on #18064
Hello @ebullient , still I can't find how to use the `--stream` option and unless I'm missing something, the new changes in the documentation does not clarify it. The documentation only mentions `platformKey:streamId` and I'm unfamiliar with what it states.

Note that I tried `quarkus  extension list -S io.quarkus.platform:quarkus-bom:2.1.0.Final` and it returns: `[ERROR] ❗  Unable to list extensi

[2021-08-04 07:28] Ladicek commented on #19180
I got a notification for comment "I understand there should be multiple containers running (one for dev one for test) but should they both be exposed to the host on the same port(s) (i.e. 9092 and 9644)?", which seems to be gone now -- and I think for good reason :-)

So just for future reference: in `docker ps` output (such as `0.0.0.0:55076->9092/tcp, :::55076->9092/tcp, 0.0.0.0:55075->9644/tcp,

[2021-08-04 07:29] Ladicek commented on #19180
@edeandrea Here's how to test against the `main` branch: https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#checking-an-issue-is-fixed-in-main

[2021-08-04 08:02] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1096473675

[2021-08-04 08:14] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1096482402

[2021-08-04 09:50] samodadela commented on #18492
Tried this one with 2.0.2.Final and the problem is still there... this issue is in listed in the release notes for 2.0.2.Final.
Pressing Ctrl+C does not interrupt the application (quarkus:dev). It only stops the application after the transaction expires.

[code]
Tried with the attached zip, changing pom to 2.0.2.Final.
What's different (not sure though) is that after the timeout the application ac

[2021-08-04 10:15] geoand commented on #17672
I just tried the `jpa-oracle` with GraalVM 21.2 and everything worked fine. Can we close this or is there something more to check?

[2021-08-04 11:30] kshpak opened #19218 "Grpc DevUI output form resizing and missing test icons"
### Describe the bug

[User Interface related]
1. Output form height increasing at every method call
Causes: https://github.com/quarkusio/quarkus/blob/main/extensions/grpc/deployment/src/main/resources/dev-templates/service.html#L102

2. Tool(test) icon for redirecting to service methods is missing for Health endpoint and Steaming services (can be accessed only by directly accessing service URL e.

[2021-08-04 11:31] edeandrea commented on #19180
Yeah I realized just after posting that I was mis-reading it, so I deleted the comment :)

[2021-08-04 11:33] Sgitario opened #19219 "gRPC client ports should default to `quarkus.grpc.server.port`, not 9000"
### Describe the bug

Checkout `https://github.com/quarkusio/quarkus-quickstarts`, then go to `grpc-plain-text-quickstart`and run `mvn quarkus:dev`.

If you browse to `http://localhost:8080/hello/blocking/QE`, you should get `Hello QE! HelloWorldService has been called 1 number of times.`. So good so far.

The problem is when I set a different gRPC server port:

`mvn -Dquarkus.grpc.server.port=388

[2021-08-04 11:48] Sgitario commented on #19219
@michalszynkiewicz I've proposed a PR to fix this issue: https://github.com/quarkusio/quarkus/pull/19220.

[2021-08-04 12:05] #19208 closed

[2021-08-04 12:06] geoand commented on #17526
https://github.com/quarkusio/quarkus/pull/19223 fixes the read timeout issue, The connect timeout is already properly handled

[2021-08-04 12:13] geoand commented on #17482
@galderz do you plan on making this available for easy use in Quarkus?

[2021-08-04 12:16] geoand commented on #17413
I am pretty sure what you are seeing with regards to the request filter is actually spec defined behavior.
To overcome it, simply annotate the filter with [@PreMatching](https://docs.oracle.com/javaee/7/api/javax/ws/rs/container/PreMatching.html)

[2021-08-04 12:19] geoand commented on #17791
I'll close this in favor of https://github.com/quarkusio/quarkus/issues/17280 which has more of a discussion

[2021-08-04 12:19] #17791 closed

[2021-08-04 12:21] MarcusBiel opened #19224 "Offer a way to centrally handle / log all unhandled exceptions outside of RestEasy"
### Description

For exceptions happening in RestEasy, we can create a class like:

[code]

Which will then centrally handle all Exeptions and return a Response to the client.
---
We need something similar for code unrelated to RestEasy, for example async Code running by @Scheduled or Quartz Jobs.

I know you can create a LoggingInterceptor, but this will only work when you manually annotate each

[2021-08-04 12:48] FroMage commented on #18977
I probably can.

[2021-08-04 12:48] geoand commented on #17236
Closing this there have been various fixes regarding the docker error messages. Furthermore, this test no longer fails when docker is not present (as it shouldn't due to the fact that it uses h2)

[2021-08-04 12:48] #17236 closed

[2021-08-04 12:49] geoand commented on #18977
Thanks!

[2021-08-04 12:50] geoand commented on #17213
Is this still an issue?

[2021-08-04 12:51] FroMage commented on #18977
https://github.com/quarkusio/quarkus/pull/19225

[2021-08-04 13:00] geoand commented on #17094
I'm going to close this as it does not seem to be an issue. If it is an issue, please reopen and/or comment with updated information

[2021-08-04 13:00] #17094 closed

[2021-08-04 13:01] #4804 closed

[2021-08-04 13:06] ebullient commented on #18064
Noted. Does this help: https://quarkus.io/blog/quarkus-2x-platform-quarkiverse-registry/

[2021-08-04 13:08] rvansa opened #19226 "RestEasy Client default methods"
### Describe the bug

When calling a default method on interface using `@RegisterRestClient` the default method is not invoked; instead I get an error saying
[code]
Refactoring the code to use static methods on the interface works but is not that convenient.

### Expected behavior

The default method (actually decorating the call to another interface's method) is invoked and it will call the actua

[2021-08-04 13:08] geoand commented on #16993
@iocanel should we just remove this piece of code or does it aim to actually do something?

[2021-08-04 13:24] #18634 closed

[2021-08-04 13:24] FroMage commented on #19198
Sounds like a good idea. Perhaps in the same place as we produce observability/metrics? If we do :)

[2021-08-04 13:42] FroMage commented on #17140
Nope, sorry, I'm not touching this stuff ;)

[2021-08-04 14:16] michalszynkiewicz commented on #19198
We do, @kenfinnigan added it.

[2021-08-04 14:23] #13685 closed

[2021-08-04 14:25] FroMage commented on #15199
OK, then let's close this as won't fix then.

[2021-08-04 14:27] michalszynkiewicz opened #19229 "gRPC: Enable per-service interceptor registration"
### Description

ATM we can only register server interceptors globally.
We do that by creating a CDI bean that implements `ServerInterceptor`.

I can imagine that someone may e.g. want to have one of the service secured and another one publicly available.
And interceptors are a good fit for security in gRPC.

### Implementation ideas

I think this would mean that we have to introduce two annotatio

[2021-08-04 14:39] mkouba commented on #19229
Sounds good. But introducing the `@GlobalInterceptor` annotation would break compatibility, right? Because currently all beans implementing `io.grpc.ServerInterceptor` are "global interceptors". We could introduce `@RegistrableInterceptor` instead (or some other name along these lines ;-), to mark an interceptor that must be registered via `@RegisterInterceptor`.  Also it might make sense to be ab

[2021-08-04 14:41] mkouba commented on #19229
I don't like the names though... how about `@WithInterceptor` to align with `io.grpc.stub.AbstractStub.withInterceptors(ClientInterceptor...)`?

[2021-08-04 14:41] michalszynkiewicz commented on #19229
AFAIR, gRPC doesn't allow per-service-method.
Yes it would be a breaking change.

[2021-08-04 14:43] FroMage commented on #17828
Just tried it too, and I get history now. I wonder if that's reload-related?

[2021-08-04 14:44] mkouba commented on #19229
You can create a new stub via `withInterceptors()` just for the specific method, or?

-1 We already broke some stuff in the recent versions of the grpc extension..

[2021-08-04 14:45] FroMage commented on #17828
Nope, can't reproduce, oh well :)

[2021-08-04 14:45] #17828 closed

[2021-08-04 14:45] michalszynkiewicz commented on #19229
JAX-RS has `@RegisterProvider` that works for filters, etc. I thought `@RegisterInterceptor` or `@RegisterGrpcInterceptor` (or `@GrpcRegisterInterceptor`) would give similar feel

[2021-08-04 14:48] FroMage commented on #17825
Can we detect that there are changes without triggering hot-reload?

[2021-08-04 14:49] michalszynkiewicz commented on #19229
and look how much better UX of Quarkus gRPC is now :) We could have a switch to keep auto-registration. But annotation to disable global registration doesn't sound nice to me.

[2021-08-04 14:49] mkouba commented on #19229
Do you mean `org.eclipse.microprofile.rest.client.annotation.RegisterProvider`? That's a client-side annotation, right?

[2021-08-04 14:50] Ladicek commented on #19098
I spent my Monday on this and it's relatively straightforward to reproduce.

I put a Kafka broker on my new machine, which is quite powerful, created a 10-partition topic there, and used a small Quarkus application to produce 1_000_000 messages to the topic, each message being a random 100-byte string.

Then, I wrote another small Quarkus application that just consumes the messages from the broker

[2021-08-04 14:50] kenfinnigan commented on #19198
We have tracing with OpenTelemetry for RESTEasy Reactive server and client usage.

I don't think there's a way to just log the HTTP traffic if you don't want OpenTelemetry and tracing present.

[2021-08-04 14:51] michalszynkiewicz commented on #19229
oh, you are right.

However, there registering global filters is opt-in, you need to add `@Provider` on them.

[2021-08-04 14:55] mkouba commented on #19229
+100 :-)

It's definitely not nice...

Maybe we could detect interceptors that are NOT used on any service and are NOT annotated with `@GlobalInterceptor` and log a fail the build/log a big warning?

[2021-08-04 15:00] evanchooly commented on #18263
Definitely.

[2021-08-04 15:00] mkouba commented on #19229
BTW we could reuse the `@javax.annotation.Priority` approach from CDI interceptors, i.e. `@Priority` enables the interceptor...

[2021-08-04 15:02] edeandrea commented on #19173
In the example I posted I persisted 2 fruits to the database. I then returned a `Multi` which should consist of those 2 fruits I just persisted. Shouldn't I be able to assert that I got 2 fruits and then be able to examine each fruit and make sure they are the ones I expect.

Something like this (I know this won't work as-is, but its an example of what I might want to do with it)
[code]

I know th

[2021-08-04 15:02] michalszynkiewicz commented on #19229
I like this idea. I think I'd leave it a warning though so that people who add dependencies with grpc interceptors (that are not used) don't end up with failing builds.

Re `@Priority` - with this we wouldn't be able to order per-service interceptors, right?

[2021-08-04 15:57] radcortez commented on #8218
The logging name is `io.smallrye.config`. Try with `quarkus.log.category."io.smallrye.config".level=DEBUG` plus the interceptor registration. This worked for me.

[2021-08-04 16:05] wabrit commented on #18228
In lieu of the fix for the log tracing issue, the following Substrate VM gelf class substitution appears to work:

[code]

[2021-08-04 21:27] stuartwdouglas commented on #17825
Maybe, we actually have that sort of detection at the moment, but only when continuous testing is enabled and there is not really any hooks outside the test listener hooks. E.g. if you used a test listener to check for test run started that would tell you what had changed, but only if the tests are actually enabled.

[2021-08-05 01:11] weir2010 opened #19238 "use qute quarkus 2.1.0 dev run error"
### Describe the bug

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Applications/SpringToolSuite4.app/Contents/Eclipse/plugins/org.eclipse.m2e.maven.runtime.slf4j.simple_1.18.0.20210402-1458/jars/slf4j-simple-1.7.5.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [file:/Applications/SpringToolSuite4.app/Contents/Eclipse/configuration/or

[2021-08-05 01:41] drsarutobi8 opened #19239 "Grpc ClientInterceptor cannot access Context"
### Describe the bug

The client interceptor cannot access grpc context value which is set at server interceptor.

The project works as following:
caller -> greeter -> counter

In details,
1. Caller endpoint (Rest) calls Greeter server with name to get GreeterValue (value object of name, and count), with header customValue=XYZ.
(CallerEndpoint -> CallerClientInterceptor)
2. Greeter server calls Co

[2021-08-05 04:48] Sgitario commented on #19219
Closing as it won't do.

[2021-08-05 04:48] #19219 closed

[2021-08-05 05:54] andrzejszywala opened #19240 "Rest Client java.util.regex.PatternSyntaxException: Dangling meta character '*' near index 0 when setting http.nonProxyHosts"
### Describe the bug

I have REST Client injected to my resource class.
[code]

When I run appliaction without proxy settings i works fine but when I set proxy parameters `-Dhttps.proxyHost=proxy.acme.com -Dhttps.proxyPort=3128 -Dhttp.proxyHost=proxy.acme.com -Dhttp.proxyPort=3128 -Dhttp.nonProxyHosts="*.acme.com|*.acme.app"` it throws an exception:
[code]

This same appliaction with proxy paramet

[2021-08-05 06:02] #17140 closed

[2021-08-05 06:14] geoand commented on #16991
Yes you would. 1) it does not drag in additional dependencies (as the Vert.x dependencies are already present), 2) it uses non-blocking IO so there is no new thread pool that would cause additional memory usage and 3) the implementation benefits from Quarkus' build time optimizations

[2021-08-05 06:15] geoand commented on #19240
cc @jamezp

[2021-08-05 06:44] lthasle commented on #19198
It would be nice to also have it in a development & debugging environment,
where OpenTelemetry and tracing is not present.

I think support would benefit from that.

ons. 4. aug. 2021 kl. 16:51 skrev Ken Finnigan ***@***.***>:

[2021-08-05 06:56] Sgitario commented on #17320
@ebullient I'm looking into this issue and I think it's already working fine:
- Using`quarkus build --native` will build native using containers by default
- Using`quarkus build --native -Dquarkus.native.container-build=false ` will build native using graalvm tooling (if found)

Therefore, what's missing here? (just asking)

[2021-08-05 07:01] joggeli34 opened #19241 "quarkus-keycloak-admin-client throws ClassCastException on startup"
### Describe the bug

When adding the keycloak-admin-client to a project, it can't be started anymore as it throws a ClassCastException:

[code]

This occures already in a small application with not many dependencies. I have following dependencies in the gradle file:

[code]

### Expected behavior

It should start and the keycloak-admin-client should be usable.

### Actual behavior

An exeption is

[2021-08-05 07:11] geoand commented on #19241
cc @sberyozkin

[2021-08-05 07:14] mkouba commented on #19238
@weir2010 It seems that there is a template with an invalid expression that starts with a namespace but has not other parts, e.g. something like `{data: }`. I'll fix the parser to report the error correctly.

[2021-08-05 07:17] artkonr commented on #16991
Sounds good, thanks.

However, I'm still curious if there is some way to add connection pooling settings to the REST client. I won't, of course, claim I have the full picture, but it seems to me that it's just a bunch of new properties to add. Is there something more about it that I don't see? Off the top of my head, there probably could be implementations of REST client not necessarily based on a

[2021-08-05 07:19] Sgitario opened #19242 "Deprecate usage of `@ConfigProperty` in ReactiveMessagingKafkaConfig"
### Describe the bug

The usage of `@ConfigProperty` in https://github.com/quarkusio/quarkus/blob/7820ff6111f97d82c5e5855bf4f503d59b4d4471/extensions/smallrye-reactive-messaging-kafka/runtime/src/main/java/io/quarkus/smallrye/reactivemessaging/kafka/ReactiveMessagingKafkaConfig.java#L16 is leading to have this warning message when using this extension:

[code]

We should replace `@ConfigProperty`

[2021-08-05 07:22] geoand commented on #16991
The reactive rest client does do connection pooling because it relies on the Vertx Http Client which handles all those details.
Note that you are **not** forced to use reactive programming when using the new reactive rest client - it works perfectly well with blocking code as well.

[2021-08-05 07:27] antoniomacri commented on #16390
Hi @cescoffier, it also happens in 1.13.7.Final.

The stacktrace seems the same:
[code]

But in this case, while the health check is not responding, application endpoints are working fine.

[2021-08-05 07:27] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1100237834

[2021-08-05 07:45] artkonr commented on #16991
Awesome, thank you. I don't really follow, though: if I plug in `quarkus-rest-client-reactive`, can I tailor connection pooling for the Vert.x client? It seems like there are some configs out there, such as `maxPoolSize` or suchlike, but I don't see how I can bridge the gap between the declarative annotation+`application.properties` config and the underlying Vert.x backend. From the looks of it, t

[2021-08-05 07:47] geoand commented on #16991
Currently you can't tinker with those, but we can certainly expose something like that. Mind opening a new issue asking for that feature?

[2021-08-05 08:17] #19242 closed

[2021-08-05 08:27] geoand commented on #19226
FWIW, this works fine with the reactive rest client

[2021-08-05 08:28] mkouba commented on #18886
@thienldd Have you tried the `{#eval}` section? Should we close this one?

[2021-08-05 08:33] geoand commented on #16955
Closing this as Quarkus is now on `4.1.2`

[2021-08-05 08:33] #16955 closed

[2021-08-05 08:54] Sgitario commented on #18064
It did help! Thanks a lot @ebullient
I also had questions about how to use extensions from multiple boms and the post also explains that. I guess this is only supported for extensions from the Quarkus ecosystem, right? (We can't add Bom dependencies from others).

[2021-08-05 09:01] ozangunalp commented on #19098
I tested bunch of scenarios: with and without throttled commit, blocking/unblocking vs noop processing, with and without chained outgoing from the consumed message.

 I concluded that the main issue with the performance drop comes from the `pause-if-no-requests`, and, commit strategy and chained outgoing didn't have that much impact.

As with the tests conducted by @Ladicek, my test scenarios invo

[2021-08-05 09:03] geoand commented on #16874
I have no idea TBH. Hibernate is not my wheelhouse

[2021-08-05 09:04] geoand commented on #16812
@iocanel does Dekorate have any support for Istio?

[2021-08-05 09:08] wjglerum opened #19247 "Agroal has a reference to a Netty class while not depending on it"
### Describe the bug

After upgrading our project to Quarkus 2.1.1 from 2.1.0 we noticed that our database integration tests started to fail.

Quarkus tries to start, but crashes directly with:
[code]

Could this be related to the work done here https://github.com/quarkusio/quarkus/pull/18925?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

Couldn'

[2021-08-05 09:11] loicmathieu commented on #19098
@ozangunalp thanks for the detailed feedback on your findings and your testings.
If you have a PR with some quick win, I can test it quickly.

[2021-08-05 09:20] artkonr commented on #16991
Not at all, I'll do that today, thank you!

[2021-08-05 09:23] geoand commented on #16991
Thanks 👍

[2021-08-05 09:24] ozangunalp commented on #19098
I'll push the quick fix with max buffer size config. I need more time for the tests as I was side-tracked by this buffer implementation.

[2021-08-05 09:27] FroMage commented on #18732
OK great, thanks.

[2021-08-05 09:31] wjglerum commented on #19247
Alright, I think I found something. We are using a multi-module maven project, where we have a dedicated database module with Quarkus dependencies, but it doesn't include any RESTeasy dependencies. Once I add `quarkus-resteasy` to that module the integration tests pass again.

Provided a minimal reproducer here https://github.com/wjglerum/quarkus-panache

[2021-08-05 09:41] hieunc278 opened #19248 "Can not inject RedisClient to gRPC Service"
### Describe the bug

Dear All,

We tried to inject RedisClient bean object to simple gRPC service but not successful yet. That object always has null value

@GrpcService
public class GenOTPServiceImpl extends MutinyGenOTPServiceGrpc.GenOTPServiceImplBase {

    @Inject
    RedisClient redisClient;
}

However, when we injected to QuarkusApplication class, we saw that it is injected successful.

So

[2021-08-05 09:45] Sanne opened #19249 "Testsuite memory leaks via AccessControlContext in EnhancedQueueExecutor"
### Describe the bug

The `EnhancedQueueExecutor` eagerly captures an `AccessControlContext` to run MBeanRegisterAction as a privileged action, and this holds a reference to the context classloader which was set during initialization.

As we switch classloaders, this reference is leaking. Ironically we don't use MBeans at all, so the fix is simple: don't capture any `AccessControlContext` when MBe

[2021-08-05 09:54] kshpak opened #19250 "quarkus-maven-plugin:2.1.0.Final creates project with different platform version"
### Describe the bug

quarkus-maven-plugin:2.1.0.Final creates project with `<quarkus.platform.version>2.1.1.Final</quarkus.platform.version>`, which is not expected.
The issue exists even if `-Dquarkus.platform.version=2.1.0.Final` is specified.

Affects only 2.1.0.Final but may transit into 2.1.1.Final when a new release will be out.

### Expected behavior

`quarkus.platform.version` of the gene

[2021-08-05 09:54] artkonr opened #19251 "Expose connection pooling settings for REST Client"
### Description

Hi Team,

The current implementations of REST Client (both `quarkus-rest-client` and `quarkus-rest-client-reactive`) does not expose connection pooling settings.

Although there are some reasonable defaults at present, in some cases, when applications are more memory sensitive or do not make frequent HTTP calls, it won't hurt to allow the client code to play around with connection

[2021-08-05 09:55] kshpak commented on #19083
The project can be generated, but it's caused by https://github.com/quarkusio/quarkus/issues/19250

[2021-08-05 10:03] Sanne commented on #19249
This will need https://github.com/jbossas/jboss-threads/pull/109

[2021-08-05 10:09] QuarkusQE commented on #15417
The build is still failing:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1100246008

[2021-08-05 10:37] yrodiere commented on #16874
It's most likely a Quarkus issue. I'll have a look next week if nobody gets to it.

[2021-08-05 10:49] rolandhaas opened #19254 "quarkus-smallrye-health depends on microprofile-health-api 2.2 instead of 3.0"
### Describe the bug

According to the documentation and [blog announcement](https://quarkus.io/blog/quarkus-2-0-0-final-released/#eclipse-microprofile-4), quarkus >= 2.0.0 is implementing MicroProfile 4.0.

The MP spec uses microprofile-health-api version 3.0, see https://projects.eclipse.org/projects/technology.microprofile/releases/4.0

There seems to be an inconsistency between the MP APIs use

[2021-08-05 11:00] gsmet commented on #19254
This is what I have with 2.1.1.Final in our quickstart:
[code]
So we are pointing to 3.1.

Are you sure you don't have a dependency specific to your project enforcing an older version somehow?

[2021-08-05 11:17] pdolezal opened #19255 "java.lang.Record was not found in Jandex index"
### Describe the bug

When a Java 16 record class appears in the application being built, Maven produces warnings that `java.lang.Record` is not in Jandex index.

### Expected behavior

There should be no such warnings related to `java.lang.Record`.

### Actual behavior

Maven build produces following warning:

[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No re

[2021-08-05 11:30] senzu commented on #19019
Hi guys? How can I try GraalVM 21.2? I have upgraded the Quarkus version to 2.1.1.Final, but the container builder image is still 21.1.0

[INFO] [io.quarkus.deployment.pkg.steps.NativeImageBuildStep] Running Quarkus native-image plugin on GraalVM 21.1.0 Java 11 CE (Java Version 11.0.11+8-jvmci-21.1-b05)

Unfortunately I'm on Windows, and if I create the native image with GraalVM an error happens,

[2021-08-05 11:53] kenfinnigan commented on #19198
Why would OpenTelemetry and tracing not be present?

If they're part of the application in production, they'd also be there for development and debugging.

[2021-08-05 11:54] pjgg opened #19256 "Upgrade Gradle wrapper to 7.0 or greater"
### Description

Currently, Gradle 6.9 has some limitations as not being able to define [exclusiveContent](https://docs.gradle.org/current/userguide/declaring_repositories.html#declaring_content_exclusively_found_in_one_repository)

[code]

This is especially useful to avoid "[A confusing dependency](https://autsoft.net/hu/a-confusing-dependency/)" than then later could finish in some security vul

[2021-08-05 12:30] xstefank commented on #19254
Startup was added in 3.1 so that should fix the remaining error. However this is really strange, we indeed have MP Health API 3.1 in SR Health 3.1.1.

[2021-08-05 12:34] drsarutobi8 commented on #19239
According to @michalszynkiewicz  to use RequestScoped bean instead of grpc context, which is Thread-local based.

[2021-08-05 12:34] #19239 closed

[2021-08-05 12:35] drsarutobi8 commented on #19239
I also update https://github.com/drsarutobi8/client_interceptor  the working version

[2021-08-05 12:35] ebullient commented on #17320
What I have been thinking about is how to map/consolidate some of the image properties into easier to use flags. Something like:
[code]
or something that would work with tab-completion. WDYT?

[2021-08-05 12:36] #19238 closed

[2021-08-05 12:37] gsmet commented on #19247
Good catch. The issue is that the new `QuarkusConnectionCache` in Agroal has a hard dependency to Netty... and it compiles because the optional `quarkus-smallrye-health` bring Netty into the compile classpath of the extension.

We have two options here:
- either have Agroal dependent on Netty - not sure it's a good idea,
- or only use this cache if Netty is around.

@stuartwdouglas I can do the gr

[2021-08-05 12:48] FroMage commented on #17825
We don't need to know what changed, just that _something_ changed, so that we can warn the user that they probably need to reload their app if they get a client (no-network) error.

[2021-08-05 12:50] rolandhaas commented on #19254
Thanks for your quick replies.
I had to manually clear out my local repository and the artifactory store of our company. Now I can see the org.eclipse.microprofile.health:microprofile-health-api:jar:3.0 dependency which is comming from one of our internal frameworks.
I'll try to exclude this dependencies manually... I guess this issue can be closed now.

[2021-08-05 12:50] #19254 closed

[2021-08-05 12:58] ebullient commented on #18064
Great! I'll work on figuring out how to pull that blog post into docs.

We should eventually be able to support the addition of additional registries, which would help resolve extensions from other places, but there are other issues for that.

[2021-08-05 13:00] johnoliver opened #19257 "Memory leak in ResteasyReactiveOutputStream"
### Describe the bug

We are seeing quite a serious memory leak that seems to ultimately be coming from ResteasyReactiveOutputStream:

[code]

Enabling `io.netty.leakDetection.level=paraniod` we get:

[code]

Looking at the code at https://github.com/quarkusio/quarkus/blob/main/independent-projects/resteasy-reactive/server/vertx/src/main/java/org/jboss/resteasy/reactive/server/vertx/ResteasyReacti

[2021-08-05 13:10] Sanne commented on #19247
Optional dependencies strike again.

Is it even possible to run a Quarkus app w/o Netty nowadays?  If it's not possible we should just add the hard dependency.

[2021-08-05 13:18] gsmet commented on #19255
Any chance you could provide a small reproducer? Thanks!

[2021-08-05 13:19] geoand commented on #19257
Thanks for reporting.

This is interesting as we've never seen such a leak. Is there an easy way to reproduce this?

[2021-08-05 13:37] iocanel commented on #16812
We used to have one that generated the sidecar.
Since nowdays the sidecar is added by istio itself it was left in incubation state.

I think that all we need is to annotate the resources we hen Istio is enabled.

[2021-08-05 13:48] Sgitario commented on #17320
Fine with me! But my concern now is how you are planning to append some contextual help to all these options. For example, the `--with-container` only makes sense when using this another option `--native`.

[2021-08-05 13:51] ebullient commented on #17320
Exactly. That's why I'm still mulling things over.
It could be an optional attribute of the native parameter `--native=container`,
Or it could be an alternate parameter (where you use one or the other) `--native-container`.

[2021-08-05 15:06] gsmet commented on #19240
The upstream is incorrect but we can at least fix our local copy.

I created a PR but I slightly changed the semantic so I would like for @michalszynkiewicz to check the PR.

[2021-08-05 15:19] jamezp commented on #19240
@gsmet As I'm still learning the RESTEasy code base where in the upstream is this incorrect? The stack trace doesn't look like it's coming from RESTEasy at all.

[2021-08-05 15:22] gsmet commented on #19240
@jamezp the Quarkus class is more or less a copy of the original RESTEasy one. You have the same error here: https://github.com/resteasy/Resteasy/blob/main/resteasy-client-microprofile-base/src/main/java/org/jboss/resteasy/microprofile/client/RestClientBuilderImpl.java#L256 .

`http.nonProxyHosts` is not a regexp pattern, it uses `*` as a wildcard so it can't be treated as such.

See my proposal f

[2021-08-05 15:28] gsmet commented on #19241
Please provide a reproducer (small project reproducing the issue) so that we can have a look. Thanks!

[2021-08-05 15:39] jamezp commented on #19240
Right yeah. I'm not sure why a pattern was used there. I've filed a JIRA to get this fixed in RESTEasy https://issues.redhat.com/browse/RESTEASY-2984.

[2021-08-05 15:41] apupier commented on #13304
Eclipse Lemminx has provided a ntive image https://github.com/eclipse/lemminx/pull/860 usig graalVM. It might help to provide the qurkus side of LSP4J

[2021-08-05 15:59] wabrit opened #19262 "Spurious warning when handling string list properties from YAML"
### Describe the bug

I have an app which uses various quarkus extensions (e.g. opentelemetry, kubernetes-config) whose configuration includes comma-separated string-valued properties. I use the yaml extension so I can use application.yaml rather than application.properties.

When running on **2.0.1.Final** I found that I could lay out the yaml value of such a property in list form (for readabilit

[2021-08-05 16:02] geoand commented on #19262
Does this happen with `2.1.1.Final` as well?

cc @radcortez

[2021-08-05 16:19] radcortez commented on #19262
This is because for item lists we also add their indexed property name to the list of configuration property names (the main property keeps the list as separated comma values lists). This allows you to keep retro compatibility and use either style.

Unfortunately, the Quarkus `@ConfigRoot` does not support indexed properties and reports these as unrecognized. I'll have a look.

[2021-08-05 17:02] johnoliver commented on #19257
@geoand https://github.com/johnoliver/quarkus-memoryleak-reproducer run the tests on that project and you should see the netty exceptions, run that with enough data and you will start to OOM

[2021-08-05 17:03] geoand commented on #19257
Great thanks!

I'll be on PTO for a few weeks, so hopefully one of the other folks will pick this up before I can check it out

[2021-08-05 17:19] javiertoja opened #19263 "Improve Logging traces regarding 403 errors"
### Description

At this moment while developing a new application with the oidc-extension and keycloak or other provider it is possible to have human errors in the keycloak side while configuring the tokens or the quarkus side configuring audiences or roles. Human errors will happen always, but I would like to request and enhancement regarding the logging that the oidc extension does about token

[2021-08-05 20:17] dan-dr commented on #18673
Didn't work for me

On Tue, Aug 3, 2021, 16:01 pourfar ***@***.***> wrote:

[2021-08-05 20:24] famod commented on #19263
/cc @sberyozkin

[2021-08-05 21:37] dhoffer opened #19265 "Quarkus 2.x has java.lang.NoClassDefFoundError: Could not initialize class javax.crypto.JceSecurity"
### Describe the bug

After upgrading from 1.13.7.Final to any of the 2.x versions we get this error at startup.

I retested with 2.1.1.Final and it has the same behavior.

We are using JDK 11.0.11+9.  Code and JDK work fine with pre 2.x Quarkus.

This code is just trying to decrypt a password in the io.quarkus.credentials.CredentialsProvider implementation used to connect to the database.

2021-0

[2021-08-05 21:49] hrstoyanov commented on #17213
Not for a long time. Close it.

/Hristo Stoyanov

On Wed, Aug 4, 2021, 05:50 Georgios Andrianakis ***@***.***>
wrote:

[2021-08-05 23:17] hernael commented on #14709
hi @Sanne,
I currently upgraded to version 2.1.1 and the issue persists.

[code]

[2021-08-06 05:03] sdaschner commented on #18958
So, how I understood the MP Context Propagation specs is that this should indeed work to propagate / prolong the request scope when explicitly used with `ThreadContext`. At least, this was the case in other impls, see here: https://blog.sebastian-daschner.com/entries/context-asynchronous-execution-bulkheads-microprofile

For me that was the main reason - besides transactions - to use this function

[2021-08-06 05:18] kulame opened #19266 "native compile error on io.vertx.redis.client.impl.RedisConnectionManager"
### Describe the bug

[code]

### Expected behavior

compile success

### Actual behavior

[code]

### How to Reproduce?

quarkus build --native

### Output of `uname -a` or `ver`

Linux DESKTOP-I2R0JK3 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### Output of `java -version`

openjdk version "16.0.1" 2021-04-20 OpenJDK Runtime Environment (bu

[2021-08-06 05:33] #17213 closed

[2021-08-06 05:55] geoand commented on #19266
Can you please attach a small project that reproduces this behavior?

[2021-08-06 07:07] kulame commented on #19266
yep
i upload my project
https://github.com/kulame/ebiz/tree/master/backend

[2021-08-06 07:24] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1103938567

[2021-08-06 07:37] joggeli34 commented on #19241
I created a project from code.quarkus.io with only adding the keycloak-admin-client. It seams that the maven-version is starting, but the one with gradle throws the exception.

[keycloak-admin-client-gradle.zip](https://github.com/quarkusio/quarkus/files/6943947/keycloak-admin-client-gradle.zip)
[keycloak-admin-client-maven.zip](https://github.com/quarkusio/quarkus/files/6943948/keycloak-admin-cli

[2021-08-06 07:57] xstefank commented on #19247
looking into `quarkus-smallrye-health` dependency tree we pull netty through `io.quarkus:quarkus-vertx-http`,`io.quarkus:quarkus-arc-deployment`, and `io.quarkus:quarkus-vertx-http-deployment:`. Should I try to investigate if we can exclude netty? Do other extensions exclude it from these dependencies?

[2021-08-06 08:14] kulame commented on #18669
I also encountered this bug on quarkus@2.1.1.Final.
does fixed it?

[2021-08-06 08:30] Sanne commented on #19247
hi @xstefank ! AFAIK (but would like to hear confirmations from others) we almost always require Netty - perhaps only with CLI apps is it not required but I'm not sure. I'd suggest to get an authoritative answer about that first (Stuart will likely comment when he's back), so to not do such work without need.

[2021-08-06 08:34] Sanne commented on #14709
@hernael interesting, but with the same reproducer? I had tested this again, wondering if I made a mistake.

[2021-08-06 09:25] QuarkusQE commented on #15417
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/beefy-scenarios/actions/runs/1103946174

[2021-08-06 11:31] johnoliver commented on #19257
Put a possible fix in as a PR, it seems that this is only going to be triggered I believe when the app is under load and a large amount of data (more than a single buffer) is needed to be returned. The specific circumstances may explain why you have not seen this issue.

[2021-08-06 12:01] antonwiens opened #19268 "rest-client-reactive cannot have truststores containing keys"
### Describe the bug

When using a rest-client-reactive and configuring keystores and truststores, the truststore cannot contain keys. It will result in an error:

[code]

I created a reproducer project with 3 different clients and configurations where only the one with client keys in the truststore fails:

[reproducer.zip](https://github.com/quarkusio/quarkus/files/6945363/reproducer.zip)

Just e

[2021-08-06 12:17] jrybak23 opened #19269 "quarkus starts database testcontainer even if quarkus.datasource.start-container set to false"
### Describe the bug

There is testcontainers lib in classpath
`quarkus.datasource.start-container` set to false in the application.properties
when run tests without any tests that starts testcontainer and Docker available it fails because quarkus tries to run testcontainer.

It's needed to completely decouple unit tests and integration tests. (So it can be achieved by excluding integration test b

[2021-08-06 12:18] pdolezal commented on #19255
Here is [a small demo application](https://github.com/quarkusio/quarkus/files/6945424/points.zip) which uses a record and Maven build produces the message mentioned in the OP.

I hope it helps.

[2021-08-06 12:40] Sanne commented on #14709
I've had another look and yes it's failing still - but it depends on the effective order of execution of the tasks being passed onto `Uni.combine().all().unis(list, total)`, so I guess this explains why I might have seen it pass.

Having had a better look now, I suspect the failure is now triggered by different reasons than before: those multiple operations are being scheduled w/o a running Transa

[2021-08-06 13:00] renegrob opened #19270 "Option to fail build for unrecognized configuration key in `application.properties`"
If I have an unrecognized configuration key in application.properties (resource file). I'd like the build to fail instead of having a runtime message like:

[code]
Maybe it could even be the default since I can't figure a situation where you want such a key in your resources and continue the rest of the build pipeline. But I guess it should be possible to have only a warning for some edge-cases.

[2021-08-06 13:01] Sanne commented on #14709
@FroMage this seems to highlight a problem with the `executeInVertxEventLoop` delegation we crafted in `io.quarkus.hibernate.reactive.panache.common.runtime.AbstractJpaOperations<PanacheQueryType>`.

The following code works correctly:

[code]

But this one might - at random - work fine, or get in a deadlock, or timeout:
[code]

Can you spot the difference? What can we do to either detect the prob

[2021-08-06 13:02] kulame opened #19271 "java.lang.NullPointerException: Cannot invoke "io.vertx.mutiny.mysqlclient.MySQLPool.preparedQuery(String)" because "this.client" is null"
### Describe the bug

i write a quarkus  cli app. and try to inject the mysql connection.
but i found some bugs on it.

### Expected behavior

execute the query statement success.

### Actual behavior

[code]

### How to Reproduce?

1 quarkus  create cli net.feelapp.ebiz:cli
2 quarkus ext add quarkus-reactive-mysql-client
3 inject a mysql client

### Output of `uname -a` or `ver`

_No response_

#

[2021-08-06 13:20] phillip-kruger commented on #18597
OK, @stuartwdouglas @sberyozkin

I am starting work on this. I am going to approach this in multiple steps:

1) Make swagger ui configure itself from the security of the app. I am starting with the examples I used in my talk. There might be more that we can then add afterwards. For this to work, I am creating a new BuildItem that the security extensions will produce.

2) Look at if we can preautho

[2021-08-06 13:21] gastaldi commented on #19255
@pdolezal I tried to reproduce this using the project you provided but I don't see the warning you mentioned.

I am using JDK 16.0.2  - the warning also doesn't appear if you change the project to use Quarkus 2.1.1.Final

[2021-08-06 13:23] hacst commented on #18750
I had a bit of time to look into this. Unfortunately this is at the interface of various frameworks I know little about. But it looks like context transfer relies on [putLocal](https://vertx.io/docs/apidocs/io/vertx/core/Context.html#putLocal-java.lang.String-java.lang.Object-) which stores data on a [DuplicatedContext](https://groups.google.com/g/vertx-dev/c/hKJsj4v8KaA) that has the actual Event

[2021-08-06 13:29] #19117 closed

[2021-08-06 13:30] geoand commented on #19266
Does the same thing happen if the project uses Java 11 instead of 16?
Asking because the Java 16 version of GraalVM is experimental and we don't support it

[2021-08-06 15:19] famod commented on #11114
@zerocode My problem is/was that I'm using SLF4J and Quarkus brings in slf4j-jboss-logmanager that directs all SLF4J logs to jbosss-logging, which is ok for `@QuarkusTest`.
But for simple unit tests, jboss-logging is not set up. So what I have to do is to add a SLF4J binding to logback or java.util.logging on the classpath **before slf4j-jboss-logmanager**.
I can then direct logs away from jboss-l

[2021-08-06 16:34] victor-costa-avancee opened #19275 "RESTEasy reactive Multipart NoClassDefFoundError"
### Describe the bug

I am currently migrating an application to RESTEasy reactive and I stumbled a NoClassDefFoundError on a Multipart endpoint. I think the issue is that I am importing the DTO from an external module. I can reproduce this using the classes on the RESTEasy reactive documentation.

### Expected behavior

The multipart request is handled normally.

### Actual behavior

[code]

###

[2021-08-06 16:37] geoand commented on #19275
Can you please give 2.1.1.Final a try? We had fixed an issue which seems to be the same as the one you are reporting

[2021-08-06 16:47] anthonyikeda commented on #15903
The JDK16 GraalVM is now available. How do I make the native image? I still get the same error using GraalVM:
[code]

[2021-08-06 16:53] Dieken opened #19276 "quarkus code reload doesn't work if there is generated avro specific class"
### Describe the bug

When use confluent schema registry to consume Kafka topic, I put corresponding avsc file in src/main/avro/,  avro-maven-plugin will generated classes.  If I change **any Java** source file in the project, "quarkus dev" automatically regenerate the avro specific classes and load them,  but this will fail with exception **on consuming new message**:

[code]

pom.xml:
[code]

*

[2021-08-06 16:57] geoand commented on #19276
cc @Ladicek @ozangunalp

[2021-08-06 16:59] Dieken commented on #19276
@quarkus-bot  I don't think this is related to Kubernetes.

[2021-08-06 17:05] ozangunalp commented on #19276
This seems like a duplicate of https://github.com/quarkusio/quarkus/issues/18776. Should have been fixed by https://github.com/quarkusio/quarkus/pull/19043 in 2.1.1.Final

[2021-08-06 17:06] victor-costa-avancee commented on #19275
Thanks! Updating solved the problem.

[2021-08-06 17:06] #19275 closed

[2021-08-06 17:07] geoand commented on #19275
Great!

[2021-08-06 17:18] Dieken commented on #19276
@ozangunalp  Thanks, very happy to know it has been fixed.  Unluckily it's actually not merged into 2.1.1.Final.

And I doubt that fix may not work for confluent schema registry,  I find quarkus won't automatically compile avsc files when I **don't** use Apicurio registry,  see pom.xml above, I have to explicitly add avro-maven-plugin.

[2021-08-06 17:25] Dieken opened #19277 "dev services for confluent schema registry"
### Description

Following https://quarkus.io/guides/kafka-schema-registry-avro,  Quarkus automatically starts docker containers for Kafka and Apicurio registry, but won't for Confluent schema registry.

Confluent has published an official docker image [cp-schema-registry](https://hub.docker.com/r/confluentinc/cp-schema-registry) but unluckily it's too big.

~~BTW, when use Confluent schema regist

[2021-08-06 17:25] ozangunalp commented on #19276
I think the fix was backported to 2.1.1.Final but as you are saying wouldn't help for classes generated with avro-maven-plugin.
 Did you try adding `quarkus-avro` extension to your project instead of using the `avro-maven-plugin` ?

[2021-08-06 17:35] pdolezal commented on #19255
I'll be back on the machine on Monday to get the exact version of the JDK. At this moment I can only say it is Oracle JDK 16 on Windows and probably the initial release rather than 16.0.2 update. On the other hand, I'd be surprised if that had any effect. But who knows?

[2021-08-06 17:41] Dieken commented on #19276
My bad, I found https://github.com/quarkusio/quarkus/pull/19043/commits/e5ac1e25a255b6ef2de2fed27645eff010379883 didn't mention tag 2.1.1.Final in the commit message,  I thought it wasn't backported by mistake.

Just add `quarkus-avro` extension,  it does work.  The example https://github.com/quarkusio/quarkus-quickstarts/blob/main/kafka-avro-schema-quickstart/pom.xml#L49 doesn't explicitly introd

[2021-08-06 17:41] #19276 closed

[2021-08-06 18:13] Dieken opened #19278 "support conditional bean"
### Description

I want to enable or disable Kafka consumer based on a runtime property,  currently @IfBuildProperty doesn't support runtime property.

https://docs.micronaut.io/latest/guide/#conditionalBeans

This @Requires annotation looks good:

[code]

### Implementation ideas

Implementation something like Micronaut @Requires.

[2021-08-06 18:13] MarcusBiel commented on #13539
Updated to Quarkus 2.1.1, but the issue is still not fixed: https://github.com/MarcusBiel/quarkus-multipart-reproducer

[2021-08-06 18:13] MarcusBiel commented on #13539
Issue should be reopened.

[2021-08-06 18:15] gastaldi commented on #19255
@pdolezal I built using Windows 10 and 16.0.2 and I still don't see the warning using your sample project

Here is the output:

[code]

[2021-08-06 19:59] MarcusBiel opened #19280 "RESTEASY: Unable to find a MessageBodyReader for media type: text/plain; charset=us-ascii and class type java.util.Map"
### Describe the bug

As described in: https://github.com/quarkusio/quarkus/issues/13539

This issue is NOT fixed. I have tested with my old reproducer, updated to Quarkus 2.1.1, the same issue still appears.

Unable to find a MessageBodyReader for media type: text/plain; charset=us-ascii and class type java.util.Map

### Expected behavior

_No response_

### Actual behavior

_No response_

### Ho

[2021-08-06 20:00] MarcusBiel commented on #19280
Updated Reproducer: https://github.com/MarcusBiel/quarkus-multipart-reproducer

[2021-08-06 20:01] MarcusBiel commented on #19280
More infos also here: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/RestEasy.20Multipart

[2021-08-06 20:26] Dieken opened #19281 "avro.codegen.enableDecimalLogicalType=true doesn't take effect"
### Describe the bug

I use quarkus-avro to generate Java class from avsc files in src/main/avro,  but `avro.codegen.enableDecimalLogicalType=true` in src/main/resources/application.properties doesn't take effect, my decimal field is still generated as ByteBuffer.  `avro-maven-plugin` doesn't have this problem.

* Quarkus 2.1.1.Final
* AdaoptOpenJDK 11

### Expected behavior

decimal field should

[2021-08-06 20:29] Dieken commented on #19281
Can't find `avro.codegen` related configuration at https://quarkus.io/guides/all-config

[2021-08-06 21:29] cherrydev commented on #14513
Issue still exists in Quarkus 2.1.1

[2021-08-06 23:19] famod commented on #19268
Just to make sure: What do you mean exactly when you say client keys? Private keys? Key pairs?
A trust store should generally only contain public keys/certs, as far as I'm concerned.

[2021-08-07 01:06] JayBenato commented on #10889
no plans to get this integration to work ?

[2021-08-07 02:19] Dieken commented on #19281
The property must be specified in pom.xml, not in application.properties.

[2021-08-07 02:19] #19281 closed

[2021-08-07 03:15] jmrodri opened #19286 "Allow overriding rbac permissions in KubernetesClientProcessor"
### Description

The rbac generated by the kubernetes-extension only adds the `view` role. The [documentation](https://quarkus.io/guides/deploying-to-kubernetes#using-the-kubernetes-client) does mention that you have to manually edit this, but this is less than optimal when you are trying to automate building an operator.

We're currently building a [scaffolder](https://github.com/operator-framewo

[2021-08-07 03:20] geoand commented on #19286
cc @iocanel

[2021-08-07 05:46] m-yassine1 opened #19287 "Reactive Messaging (RabbitMQ) Unable To Create/Connect to RabbitMQ Durable Queue for Outgoing"
### Describe the bug

I am connecting through AMQP to connect to RabbitMQ, and through this connection, the queues are usually connected. I only wish to transmit messages through that queue and not read (Only use for Outgoing). As such, the receiver end expects the queue to be durable. I set the durable flag to true which through the configuration is being read correctly. Unfortunately, the queue

[2021-08-07 11:51] #19150 closed

[2021-08-07 12:30] lostiniceland commented on #19165
I did another experiment, by switching the sample to reactive-resteasy, hoping it might work better with Vert.x 4 and transactional but I get the same error.

[2021-08-07 14:07] hamburml commented on #18962
Any news?

[2021-08-07 18:09] draccagni opened #19288 "Unable to start gRPC server in a container if proto file is in another jar"
### Describe the bug

If the proto file is defined in an external jar, the gRPC server starts properly in dev mode (by running mvn quarkus:dev command), but it doesn't start if the app is running into a container. Instead, if a proto file is present in the main jar, the gRPC server starts properly and the service defined by the proto in the external jar is available, too. Renaming the helloworld.p

[2021-08-07 21:56] deep21786 commented on #9386
Hi team @dmlloyd, @matfa42
Greetings:)
I am also looking for similar solution. Any update on this?

[2021-08-08 03:11] thienldd commented on #18886
@mkouba Unfortunately it showed me the error:
`Caused by: io.quarkus.qute.TemplateException: Parser error in template [itemDetail.html] on line 2: no section helper found for {#eval myNestedContent item=item /}
	at io.quarkus.qute.Parser.parserError(Parser.java:525)
	at io.quarkus.qute.Parser.flushTag(Parser.java:434)
	at io.quarkus.qute.Parser.tag(Parser.java:301)
	at io.quarkus.qute.Parser.proce

[2021-08-08 07:50] maxandersen opened #19289 "picocli does not register defaultValueProvider references thus breaks in native"
### Describe the bug

Have something like:

[code]

then if you do not add `@RegisterForReflection` you get an error like:

[code]

### Expected behavior

using the default provider should just work.

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if diffe

[2021-08-08 10:28] yuhaibohotmail opened #19290 "[Update to Quarkus 2.1.1.Final] Throw java.io.IOException when press 'w' in DevConsole"
### Describe the bug

[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

Microsoft Windows [ 10.0.19043.1110]

### Output of `java -version`

java version "11.0.7" 2020-04-14 LTS Java(TM) SE Runtime Environment 18.9 (build 11.0.7+8-LTS) Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.7+8-LTS,

[2021-08-08 10:49] khush2704 commented on #11045
Hello @tisoft , I am trying something similar but with the Springboot Application. It is possible to integrate Kogito Springboot with Cucumber framework for acceptance testing. Any thoughts or any comment ? Thanks in advance.

[2021-08-08 14:50] gsmet commented on #19289
I already fixed something similar. I'll fix this one and also have a look at other potential issues.

[2021-08-08 20:51] stuartwdouglas commented on #19269
The correct property is `quarkus.datasource.devservices.enabled`. Looks like the `start-containers` field was accidentally left on the config object when this was renamed, so it shows up in the docs but does not actually do anything.

[2021-08-09 00:24] stuartwdouglas commented on #11045
This should be a Quarkiverse extension, I have some ideas around how to do it but I just need to find the time. @gastaldi can you create a quarkiverse repo and give me access?

[2021-08-09 00:31] gastaldi commented on #11045
@stuartwdouglas of course: https://github.com/quarkiverse/quarkus-cucumber

Have fun! 😉

[2021-08-09 00:40] stuartwdouglas commented on #18597
Good idea, I actually just refactored dev services so now all this info is in `DevServicesLauncherConfigResultBuildItem`

[2021-08-09 01:05] draccagni commented on #19288
Solved adding jandex maven plugin to external jar project

[2021-08-09 01:05] #19288 closed

[2021-08-09 02:24] stuartwdouglas commented on #19247
It is definitely possible to run without Netty, e.g. a CLI hibernate app. That said most extensions that do anything with the network rely on it.

[2021-08-09 02:59] stuartwdouglas commented on #19265
How can I reproduce this? I can load the class fine using Class.forName().

That error is also an initializion error, which means the static init block in JceSecurity is throwing an exception. Attaching a debugger to see what is actually throwing the exception would also be really helpful if you can't provide a reproducer.

[2021-08-09 04:45] Dieken commented on #19278
Is there any ETA for this feature?   I have a service to store some data which is input by service API and Kafka consumer,  the service itself is very simple, less than 1000 LOC,  I wouldn't like to separate common code to a common jar and maintain pom dependency.

Currently I have to use `quarkus.arc.exclude-types` build time configuration or @IfBuildProperty to build two docker images from same

[2021-08-09 05:13] #19269 closed

[2021-08-09 05:20] phillip-kruger commented on #18597
Ok cool, let me have a look at how we can display this in Dev UI.

[2021-08-09 05:45] stuartwdouglas commented on #11045
I have made a very quick start based on the example code. Basically you can do:

[code]

And it should work. It's not released yet so you will need to build it to try it out.

[2021-08-09 06:56] mkouba commented on #19278
The Quarkus DI solution is purely build-time oriented, i.e. the bean discovery is performed and all dependencies are resolved at build time. Therefore, we cannot support this kind of feature.

In many cases, a producer method that returns a concrete instance based on a rutime config property can be used as a workaround. Unfortunately, that's not the case of the snippet above - AFAIK `@Incoming` ca

[2021-08-09 07:11] Ladicek commented on #19276
`quarkus-apicurio-registry-avro` _does_ automatically bring in `quarkus-avro`: https://github.com/quarkusio/quarkus/blob/2.1.1.Final/extensions/apicurio-registry-avro/runtime/pom.xml#L26-L29, so that should be enough?

[2021-08-09 07:52] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1111675067

[2021-08-09 07:54] #18823 closed

[2021-08-09 08:04] tsegismont commented on #10889
It's not on the Quarkus roadmap. On the Vert.x side, we're thinking about a cluster manager for Kubernetes which uses the ISPN client only. This one should work with Quarkus too.

[2021-08-09 08:19] pjgg commented on #19256
@geoand WDYT ?

[2021-08-09 08:34] mkouba commented on #18886
@thienldd Can you share a reproducer? I've tried to create a test and it worked: https://github.com/quarkusio/quarkus/pull/19295/files

[2021-08-09 09:34] Sgitario opened #19296 "Dev Services does not take into account properties defined in QuarkusTestResource"
### Describe the bug

Having a test with:

[code]

Where SslStrimziKafkaTestResource is:

[code]

When running the test, I would have expected the Kafka Dev Services to not being started as I'm adding the property `kafka.bootstrap.servers`, but the dev services is created:

[code]

I don't think this is a Kafka Dev Services related thing, but a general issue for other dev services.

### Expected b

[2021-08-09 10:43] Sgitario opened #19298 "Add migration note about using `@ConfigMapping` only for Interfaces"
### Description

In https://github.com/quarkusio/quarkus/commit/483c4ff2ab23a1a7e2e2ad0b0c3d1de4d17a1148, we upgraded SmallRye Config to 2.4.3 and it seems that there is no longer possible to use the annotation `@ConfigMapping` on classes, only in interfaces.

Therefore, users that were using:

[code]

Before, it worked fine, but now it throws at startup:

[code]

I think this should be noted in t

[2021-08-09 11:37] victor-costa-avancee opened #19299 "RESTEasy reactive endpoint 404"
### Describe the bug

When two endpoint with similar URI's are created, one of them returns 404. Ex:
/device-features/{featureId}/permissions
/device-features/{featureId}/actions

### Expected behavior

Both Endpoints return 200

### Actual behavior

_No response_

### How to Reproduce?

https://github.com/victor-costa-avancee/resteasy_path_reproducer

### Output of `uname -a` or `ver`

Darwin MBP

[2021-08-09 11:39] victor-costa-avancee commented on #19299
I have also noticed that when sending an empty body to a POST Method a JsonbException is thrown.
[code]

[2021-08-09 13:01] #19247 closed

[2021-08-09 13:11] Eng-Fouad opened #19302 "JpaIdentityProvider not working with Reactive Panache entities"
### Describe the bug

When using `jpa-security` as described in [guides](https://quarkus.io/guides/security-jpa), but replacing normal imperative hibernate entities with reactive Panache entities, I got an exception after calling this code:

    @Inject
    IdentityProviderManager identityProviderManager;

    // ...

    var request = new UsernamePasswordAuthenticationRequest(username, passwordCr

[2021-08-09 13:14] yrodiere opened #19303 "Button to reset the database state from the Quarkus Dev UI for Hibernate ORM"
### Description

See https://github.com/quarkusio/quarkus/pull/16764#pullrequestreview-648431733

CC @Sanne  @TomasHofman

### Implementation ideas

I think we would definitely need a pop-up with a warning, even if it's just development mode. Some people work with pre-initialized databases which take a long time to initialize, and they would be very annoyed if they dropped it by mistake.

[2021-08-09 13:37] glefloch commented on #19256
@gsmet were you able to check if this can be done ? (IIRC there could have been issues with the support)

[2021-08-09 13:40] edeandrea commented on #19132
I've also taken a look at https://github.com/testcontainers/testcontainers-java/issues/2088 & https://github.com/containers/podman/issues/7927. Seems some have gotten Testcontainers to work with podman but there are some configurations that need to be done with paths that are specific to the user id. In OpenShift/CRW those userids are generated dynamically, so it would be impossible to statically

[2021-08-09 13:44] gsmet commented on #19256
I'd say we could prepare a PR and we will merge it either for 2.2 or for 2.3.

[2021-08-09 14:01] manovotn commented on #18958
It's not as simple as that. The request context has certain boundaries that spin off the main thread. For example, imagine you are on `Thread1`, where HTTP req. happens and your request context is active. CDI spec defines that the context is active so long as the is the HTTP request. So, if you now propagate this context into `Thread2` and it references the same context with the same beans; what h

[2021-08-09 14:27] dhoffer commented on #19265
Yeah our code project is huge, posting it is not practical.

I can say that the code that uses this is annotated with @Singleton and it
is used very early in the Quarkus framework code to decrypt the DB
password.  Our app.yml has 3 data sources but only one of them uses the
Quarkus CredentialsProvider to decrypt the password, that is the usage that
is failing.

I can try to attach a debugger to se

[2021-08-09 14:33] edeandrea commented on #19180
@stuartwdouglas / @Ladicek

I made a few changes to the application. I realized I was using RESTEasy Reactive but my tests were using the blocking client and not the reactive one.

### Additions to `pom.xml` (replacing what was mentioned above in initial summary)
[code]

### Completed `PriceResourceTests.java` (replacing what was mentioned above in initial summary)
[code]

I verified all the scena

[2021-08-09 15:14] rsearls commented on #17735
The solution is for the ExceptionMapper below be added to quarkus-resteasy
or the user to provide it in their app.

    package XXXXX;

    import javax.ws.rs.core.Response;
    import javax.ws.rs.ext.ExceptionMapper;
    import javax.ws.rs.ext.Provider;

    @Provider
    public class IllegalStateExceptionMapper implements ExceptionMapper<IllegalStateException>  {
        @Override
        public

[2021-08-09 15:19] Ladicek commented on #19180
If it's fixed in `main`, it will be fixed in 2.2 for sure. I don't know which PR fixed this, so no idea if it's marked for backport to 2.1. (If there ever is another 2.1 release.)

[2021-08-09 15:23] edeandrea commented on #19180
Sounds good @Ladicek - let me leave this open then until 2.2 is out and I'll re-test and make sure. If everything is good I'll close it then. Sound ok?

[2021-08-09 15:44] gsmet commented on #19180
There will be another 2.1. For now, I have planned to include these fixes: https://github.com/quarkusio/quarkus/pull/19306 . Could you check how it goes with my backport branch?

[2021-08-09 15:48] edeandrea commented on #19180
@gsmet If you can tell me how I test locally with that branch then sure I can test with it. I assume it would be similar to https://github.com/quarkusio/quarkus/blob/main/CONTRIBUTING.md#building-main? That section though, after building Quarkus doesn't mention how I configure my project to use those artifacts that I just built. Does it install the artifacts in my local maven repo under the `999-S

[2021-08-09 15:53] gsmet commented on #19180
@edeandrea yes exactly!

[2021-08-09 15:54] edeandrea commented on #19180
Is that branch (`gsmet:2.1.2-backports-1`) ready now to test? Or do you want to let me know when you'd like me to test?

[2021-08-09 15:58] gsmet commented on #19180
Yes please have a look at it now. Since we have no idea what fixed your issue, starting with the things I will backport sounds like a good idea.

[2021-08-09 16:03] edeandrea commented on #19180
Running the Quarkus build now. I have to step out for a bit but will report back by the end of the day.

[2021-08-09 16:40] thienldd commented on #18886
@mkouba Please take a look at my repo
https://github.com/thienldd/quarkus-qute-samples/blob/master/src/test/java/com/github/thienldd/EvalTest.java

Note: I'm using Quarkus version 1.13.3. I tried with new project generated with code.quarkus.io and your sample worked fine.

[2021-08-09 17:09] edeandrea commented on #19180
One thing I noticed when I start dev mode is

[code]

Testing with building from @gsmet 's backport branch: Scenario 3 works fine but Scenarios 1, 2, & 4 are still broken.

[2021-08-09 19:10] gsmet commented on #19256
Cool, thanks!

[2021-08-09 19:52] krisgerhard opened #19308 "Bugsnag logging"
### Description

A Quarkus Extension to send (error) logs to a Bugsnag Error Monitoring.
[Bugsnag homepage](https://www.bugsnag.com/)

There is an official extension for sentry (https://quarkus.io/guides/logging-sentry) but it is not the only popular error monitoring tool out there. I (and hopefully many others) would benefit from supporting Bugsnag as well.

In fact I have already implemented and

[2021-08-09 19:58] casmeiron commented on #17153
This doesn't seems to be working on quarkus 2.1.1.Final.

I just used the given example and still I get :

org.jboss.resteasy.microprofile.client.ExceptionMapping$HandlerException: Handled Internally

My ResponseExceptionMapper is registered on my RestClient Interface, its being called (method handles) but the toException is never called. The org.jboss.resteasy.microprofile.client.HandlerException

[2021-08-09 20:32] #10729 closed

[2021-08-09 20:45] viniciusfcf opened #19309 "CDI, Transaction rollback and Hibernate State"
### Describe the bug

I'm trying to migrate an EJB code.
Simple reproducer:
1. `GreetingResource.addAndList()` call `GreetingService.doSomething()` method (with `@Transactional(value = TxType.REQUIRED)`)
2. `GreetingService.doSomething` insert an entity, ant throw a `RuntimeException`
3. GreetingResource catches the exception and `entityManager.createQuery("select u from CustomUser u").getResultLi

[2021-08-09 21:19] zakkak commented on #19019
Hi @senzu, please try building with:
[code]

[2021-08-09 21:23] zakkak commented on #17672
@geoand did you try it without https://github.com/quarkusio/quarkus/pull/17711?

That's when that issue appears and given that the performance issues that https://github.com/quarkusio/quarkus/pull/17711 works around will at some point get fixed I would like to keep the issue open.

[2021-08-09 22:54] zakkak commented on #19101
Just to clarify some things for people not familiar with Espresso:

Source: https://www.graalvm.org/reference-manual/java-on-truffle/implementation/

Espresso is essentially an interpreter-based Java VM (written in Java) implemented using the Truffle API which gets optimized by GraalVM.
As a result, Quarkus applications (in the case of some kind of integration) would run in JVM-mode but instead of

[2021-08-09 22:57] stuartwdouglas commented on #19265
The static block is in the JDK itself, not much we can do about it. I tried with pretty much the exact same code and it worked.

Looking through the source code of JceSecurity I don't see how anything Quarkus was doing could actually affect it, so I am really not sure what is going on. You are going to need to attach a debugger to see what is actually throwing the exception (Java makes it really h

[2021-08-09 23:00] guss77 commented on #19132
If you are referring to [my comment here](https://github.com/testcontainers/testcontainers-java/issues/2088#issuecomment-893404306), then I think there is a misunderstanding here - the configuration file `~/.config/containers/containers.conf` with the hard coded UID is optional and only needed if you want the `podman` command line to automatically use the Docker compatible service (by default `pod

[2021-08-09 23:03] edeandrea commented on #19132
Thank you @guss77 for the clarification!

[2021-08-09 23:06] dhoffer commented on #19265
Understood, I will do this as soon as possible.

-Dave

On Mon, Aug 9, 2021 at 4:57 PM Stuart Douglas ***@***.***>
wrote:

[2021-08-10 00:05] stuartwdouglas opened #19311 "Intermittent metaspace errors on Windows"
### Describe the bug

CI fails on windows sometimes with OutOfMemoryError: metaspace (e.g. https://github.com/quarkusio/quarkus/pull/19279)

The windows failures are very particular, in that they always happen at the exact same test. This test is at the point where the first metaspace collection would normally happen (i.e. when we hit the 1500mb metaspace limit).

This implies that 100% of the Cla

[2021-08-10 00:24] stuartwdouglas commented on #19132
@edeandrea I have been thinking a bit about this, but it is relatively complex. We would likely need to spin up pods to run these images rather than using docker/podman directly, so it will be a lot of work as it would be a very different implementation to what we currently have.

[2021-08-10 00:47] stuartwdouglas commented on #19296
Unfortunately fixing this would be very complex, its an ordering issue.

QuarkusTestResource needs to be loaded in the Runtime ClassLoader, so it has access to the application classes, but DevServices are started in the deployment phase, so DevServices are already started by the time QuarkusTestResource is ready to be run.

In theory we could split up DevServices to run potentially run after Quark

[2021-08-10 01:12] stuartwdouglas commented on #19299
This is because one is defined at class level, and the other at method level.

If you look at the JAX-RS spec `3.7.2 Request Matching` you can see that the algorithm matches against the class first, then matches on the individual methods. Paths can be 'shared' across classes, but only if the path is considered equal by the sorting algorithm (`Sort E using the number of literal characters5 in each

[2021-08-10 02:26] zhfeng commented on #18231
@gsmet are you stll working on this issue and how do you think to introdue ```quarkus.artemis.enabled``` at build time to avoid producing the null bean when ```quarkus.artemis.url``` is not configure.

[2021-08-10 04:36] stuartwdouglas commented on #19180
It is likely due to https://github.com/quarkusio/quarkus/pull/19075

This is a relatively large PR so I did not mark it for backport, but it might be worth it if it fixes this issue.

[2021-08-10 04:57] stuartwdouglas commented on #11045
0.1.0 has been released, lets move all further conversation to the Quarkiverse repo.

[2021-08-10 04:57] #11045 closed

[2021-08-10 06:07] sdaschner commented on #8530
@fiorenzino @michael-simons There seems to be a new issue with OGM (in JVM) mode with `fast-jar` Quarkus packaging, which is the default since a few versions.

**Issue**

When I'm building a Quarkus app with Neo4J-OGM (`3.2.25`), in `quarkus:dev` everything works fine, but in live mode I get the same:
[code]
error again, when I'm using a recent Quarkus `1.13.7.Final` or `2.1.1.Final` version.

Cha

[2021-08-10 06:33] mpkorstanje commented on #11045
@stuartwdouglas I do not believe the right discussion can be had in the quarkus-cucumber repo.

Fundamentally the problem is that Quarkus can not be bootstrapped independently from JUnit5.

And while I could point out all the problems with the current implementation of quarkus-cucumber, they all come back to that same fundamental problem.

[2021-08-10 06:37] stuartwdouglas commented on #19308
Note that you can also use the Quarkiverse logback support to use the logback appender: https://docs.bugsnag.com/platforms/java/other/configuring-logback/

[2021-08-10 06:39] mkouba commented on #18886
@thienldd Ah, well the `{#eval}` section was introduced in 2.0.0.Alpha3.

[2021-08-10 06:41] lukehutch commented on #8530
@sdaschner If you believe there is a ClassGraph issue, please capture the verbose logs by calling `.verbose()` before `.scan()`. Preferably please capture the logs on a working system and a broken system that are as near as possible in versions and configuration, so that the logs can be compared. A minimal reproducer project would be even better!

(Also, if you're running on JDK 16, there have bee

[2021-08-10 06:41] stuartwdouglas commented on #19303
This exists here: https://github.com/quarkusio/quarkus/pull/15827

The reason why I did not go further with it was because I was not sure about how to add test support for native (for the test part).

I might look at stripping out the test part for now.

[2021-08-10 07:32] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1115384017

[2021-08-10 07:38] stuartwdouglas commented on #11045
I don't really understand what you think the issues are? Jupiter support test factories, so the current implementation uses this integration to integrate with our existing Quarkus test framework.

[2021-08-10 08:02] mpkorstanje commented on #11045
The problem, fundamentally is that Quarkus couples tightly with JUnit Jupiter. As a result no other test framework can be used. As a result you have coupled tightly to Cucumber.

https://github.com/quarkusio/quarkus/issues/11045#issuecomment-846401054

[2021-08-10 08:23] stuartwdouglas commented on #11045
Quarkus is an opinionated framework, we have standardized on JUnit 5. Why do you even care what framework is being used when all that framework does is integrate with Cucumber and Quarkus?

[2021-08-10 08:30] thienldd commented on #18886
Thanks @mkouba for your help. I close this issue 'cos your sample works for Quarkus 2.x and my project will be upgraded to 2.x in the short time.

[2021-08-10 08:30] #18886 closed

[2021-08-10 08:34] mkouba commented on #18886
+1. I will merge the PR with the test once the CI is green.

[2021-08-10 08:38] #16553 closed

[2021-08-10 08:40] #19289 closed

[2021-08-10 08:52] geoand commented on #17672
Sure thing

[2021-08-10 08:59] JWood48 commented on #13425
Any work on this?

[2021-08-10 09:03] pdolezal commented on #19255
I investigated the issue for a while and I came to something.

I use JDK 11 as my default JDK, while I have multiple other JDK installations in parallel. I use `maven-toolchains-plugin`, so that I can run builds for non-default Java versions. The POM refers to the plugin, my `toolchains.xml` refer then to all my JDK versions and `settings.xml` auto-activate `toolchains` profile that the POM contai

[2021-08-10 09:12] victor-costa-avancee commented on #19299
Ok thanks, had no ideia RESTEasy classic was doing extra stuff. Should I open an issue with the empty body 500?

[2021-08-10 09:19] mkouba commented on #19309
AFAIK the `TxType.REQUIRED` is used by default, so if you annotate your resource method with `@Transactional` then the interceptor begins a new transaction when the resource method is executed and the `doSomething()` invocation continues inside this transaction context. If `doSomething()` throws a `RuntimeException` then the transaction is marked for rollback (i.e. `javax.transaction.Transaction.s

[2021-08-10 09:34] ia3andy opened #19313 "Ability to set registry client cache policy to "always" refresh from env"
### Description

Ability to set registry client cache policy to "always" refresh from env

### Implementation ideas

_No response_

[2021-08-10 09:37] famod commented on #19152
@aloubyansky are you going to look at this anytime soon? (welcome back, btw)

[2021-08-10 09:53] aloubyansky commented on #19152
Yes, I was going to. I have a few issues accumulated during my absence, so a bit slow.

[2021-08-10 10:10] viniciusfcf commented on #19309
@mkouba EJB throws:

[code]

[2021-08-10 10:12] mkouba commented on #19309
@Sanne :point_up_2: ?

[2021-08-10 10:24] famod commented on #19152
Alright, please let me know if/how I can support. I might be slow to respond as I'm very busy in these last days before my PTO.

[2021-08-10 10:29] Dieken commented on #19278
@mkouba @manovotn

Maybe Quarkus DI can support it:
* at build time,  Quarkus DI thinks all discovered beans are required, generates some meta data to represent the bean dependency DAG
* at run time,  Quarkus DI evaluates @Requires annotation and instantiates beans starting from the root of the dependency DAG
  * if  the bean has @Requires and it evaluates to false,  then this bean and its depende

[2021-08-10 10:35] QuarkusQE commented on #19125
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1115394134

[2021-08-10 10:38] Sanne opened #19314 "Performance: contention on Logger instance caused by Vertx warning"
### Describe the bug

Class `io.vertx.core.impl.ContextImpl` is logging a frequent warning about "You have disabled TCCL checks".

This warning is now pointless (according to the vert.x team it's a legacy) and is being removed in upcoming Vert.x releases, but until we can upgrade this is causing significant contention on the Logger infrastructure when under load.

We're currently filtering the out

[2021-08-10 10:59] manovotn commented on #19278
This cannot really be implemented in a CDI-way becuase CDI requires you to perform resolution and validation upfront. With the requirement you have, any build-time approach is lost because it would have to be re-done in runtime.
Not to mention that it kills further optimizations such as removal of unused beans (see https://quarkus.io/guides/cdi-reference#remove_unused_beans).

Maybe you could appr

[2021-08-10 11:02] mkouba commented on #19278
The problem is that we would have to defer the validation of all affected beans and dependencies to the runtime. Moreover, we would have to give up on many optimizations we do at build time (e.g. quarkus detects unused beans so that it can skip the metadata generation unless it's really needed).

Imagine there's a bean `Foo` which is annotated with `@Requires(property="my.consumer.enabled", value=

[2021-08-10 11:27] Dieken commented on #19278
I mean @Requires annotation is ignored at build time,  so build time validation is still done normally.  Those absolutely unused beans can still be removed at build time,  those *possibly* unused beans can't be removed.

About the runtime logic, it may like this:

1. If Quarkus generates DI code like google dagger:
[code]
becomes:
[code]

2.  If Quarkus uses Class.newInstance(),  the logic is simi

[2021-08-10 11:27] krisgerhard commented on #19308
That's correct. Although at the moment Bugsnag does not know how to attach JAX-RS request data to the report.
It's arguable whether this should be the idea of the extension but it sure helps quarkus users towards using Bugsnag.

[2021-08-10 11:31] gastaldi commented on #19255
@pdolezal that's an interesting find. @aloubyansky can you confirm that?

[2021-08-10 11:36] famod commented on #19030
So FTR, [as discussed on Zulip](https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/Warning.20in.202.2E1.2E0.2ECR1), a solution could be to not re-index for test runs but to just use the existing index.

I have to say though that this might not work in my case because I have _two_ test-jars and while I can tell `jandex-maven-plugin` to create an index for all test classes, I'm not sure

[2021-08-10 11:48] mkouba commented on #19278
Not really. If we ignore the `@Requires` annotations at build time then we would not be able to detect unsatisfied and ambiguous dependencies properly. Given the example above - if there's a bean which has `@Inject Foo` then we can't say whether there is a bean that satisfies this injection point. So in theory, we would have to either move all the validation logic to the runtime (no go) or validat

[2021-08-10 11:50] edeandrea commented on #19180
@stuartwdouglas / @gsmet I can retest with that PR branch today if you'd like.

[2021-08-10 11:53] OleKsimov commented on #19133
It would be great to see this feature in the nearest future. It's so annoying to disable devservices for each module in multimodule project for each group of props (vault, datasource, kafka etc)

[2021-08-10 11:58] famod commented on #19270
/cc @radcortez

[2021-08-10 12:14] ineednousername opened #19316 "Quarkus 2.1.1.Final Extensions: Named configurations behave differently than fixed configurations (runtime + build time config)"
### Describe the bug

Not sure if a bug or if it is intended/by design and I am missing a detail here.
I created the following project see: https://github.com/ineednousername/reproducer-config
It has a very simple build time configuration: see also https://github.com/ineednousername/reproducer-config/blob/main/runtime/src/main/java/org/acme/configuration/AsBuildTimeConfiguration.java and https://g

[2021-08-10 12:36] edeandrea commented on #19132
Understood. It really is an important feature though. As someone who is responsible for building demos & workshops, we base those workshops on k8s-based IDEs, and this eliminates the ability to show/use those powerful features.

[2021-08-10 12:39] aloubyansky commented on #19255
It should work in dev mode but not when packaging. There is https://github.com/quarkusio/quarkus/issues/12943 I am actually not looking into that at the moment. I originally assigned it to myself to fix the dev mode regression.

[2021-08-10 13:03] victor-costa-avancee commented on #19299
Still In no way the request "/device-features/123/action" should match the class level `@Path("/device-features/{featureId}/permissions")`

[2021-08-10 13:05] ia3andy commented on #6531
You could provide this as a codestart like we do for github-action:
https://github.com/quarkusio/quarkus/tree/main/independent-projects/tools/base-codestarts/src/main/resources/codestarts/quarkus/tooling/github-action

For now the github-action codestart is only used by code.quarkus.io, but we could make that new options in the Quarkus CLI/Maven plugin too

[2021-08-10 13:09] andreas-eberle opened #19317 "Resteasy Reactive: Headers manipulated in ServerRequestFilter are not injected properly into rest method"
### Describe the bug

When modifying or create a new header in a @ServerRequestFilter annotated method (with or without preMatching = true) does not have an effect on method paramteres injected with `@RestHeader` or `@HeaderParam`.

E.g. for a method like

[code]

you will get the original header for the user agent field, no matter what you set to the headers via `ContainerRequestContext.getHeader

[2021-08-10 13:16] victor-costa-avancee commented on #19299
According to `3.7.2 Request Matching` `1 (c)` `Filter E by matching each member against U as follows:
• Remove members that do not match U .`. According to this, the sorting algorithm you mentioned shouldn't be applied as only one root resource class matches the request

[2021-08-10 13:21] jeanphibaconnais commented on #6531
Thanks @ia3andy for this response. I will try to initialize it this week, otherwise it will be at the end of august.

[2021-08-10 13:53] Dieken commented on #19278
Sorry I don't get your point.  When I say "@Requires **annotation** is ignored at build time",  I mean **all beans are required** at build time, just like there is no @Requires annotation at all,  so Quarkus can do fully validation at build time.

I don't mean those @Requires annotated **beans** are ignored at build time, I mean the @Required annotation itself is ignored at build time.

At runtime

[2021-08-10 14:02] mkouba commented on #19278
That won't work. Imagine you have a bean `Foo extends Bar` with `@Requires(property="my.consumer.enabled", value="true")` and a bean `Baz extends Bar` with `@Requires(property="my.consumer.enabled", value="false")`. If you ignore `@Requires` at build time and perform the full validation then `@Inject Bar` would fail with ambiguous dependency error - there are multiple beans that satisfy this injec

[2021-08-10 14:04] Dieken commented on #19278
// The last comment is too long, start a new comment.

Back to the original requirement,  when I compile a Quarkus app,  I don't know which features will be disabled at runtime,  I don't want to build dozens of flavors of my Quarkus app:  full version,  version without scheduler timer,  version without consumer for kafka topicA,  version without consumer for kafka topicB,  etc,   the combinations

[2021-08-10 14:12] Dieken commented on #19278
Very valid point👍🏻 I can't figure out a build time solution now except we explicitly forbidden this usage😄

Understand, detail is the devil :-)

[2021-08-10 14:15] #19314 closed

[2021-08-10 14:21] Dieken opened #19318 "add a switch to disable @Incoming just like @Scheduled myMethod.cron.expr=disabled"
### Description

This is to seek a specific solution for https://github.com/quarkusio/quarkus/issues/19278.

I have a simple Quarkus app that includes both HTTP API and Kafka consumer,  I would like to run a HTTP API only version and a fully version in my K8S cluster.   Because the code base is very small, I don't want to separate code into three jars: common service jar + http resource jar + kafk

[2021-08-10 14:23] Dieken commented on #19318
It should be labeled area/reactive-messaging.  CC @Ladicek @cescoffier @manovotn

[2021-08-10 14:40] andreas-eberle commented on #19317
Thanks for the update. Have a good time!

[2021-08-10 14:51] gsmet commented on #19256
@glefloch we have the green light to move to Gradle 7 in 2.2 if it helps making progress on the JDK 17 support.

[2021-08-10 14:51] Dieken commented on #19276
@Ladicek   I use Confluent Schema Registry server,  according to the Quarkus guide, I mustn't use quarkus-apicurio-registry-avro, I guess this client side jar supports only Apicurio server although the Apicurio server supports Confluent Schema Registry server.

I would like Quarkus to support Confluent Schema Registry with an easy to use extension and corresponding dev service, I created a feature

[2021-08-10 14:53] Ladicek commented on #19318
I think the common naming style would actually be `mp.messaging.incoming|outgoing.<channel>.enabled`, and the default would of course be `true`. Other than that, this seems quite sensible to me. WDYT @ozangunalp?

[2021-08-10 14:55] Ladicek commented on #19276
I'd love to have an extension for Confluent Schema Registry, but they don't publish artifacts to Maven Central, so it isn't really possible :-(

[2021-08-10 14:59] Ladicek commented on #19276
That said, our documentation should say that `quarkus-avro` should be present. I'll submit a PR.

[2021-08-10 14:59] ozangunalp commented on #19318
Funny enough there already is an option to disable a channel with `mp.messaging.incoming|outgoing.<channel>.enabled=false`. It prevents the channel from being registered.

[2021-08-10 15:01] Dieken commented on #19276
The code is open source: https://github.com/confluentinc/schema-registry

Maybe you can publish artifiacts to Redhat own public maven server if it exists😄

About the dev services,  a slim docker image is enough, no need to publish to maven centra. Anyway other dev services already depend on Docker although schema registry seems to be in pure Java.

[2021-08-10 15:03] Dieken commented on #19276
That's very helpful, thanks!

Please also clarify those "avro.codegen.*" properties must be put in `pom.xml`, not in `application.properties`,  I spent about two days to realize that😭

@Ladicek

[2021-08-10 15:04] ozangunalp commented on #19318
And my bad that it is not documented inside the Kafka reference guide. I don't think that it is in Microprofile Reactive Messaging spec.

[2021-08-10 15:08] Ladicek commented on #19276
I'm pretty sure we don't want to (and shouldn't) rebuild Confluent artifacts. That would just fragment the ecosystem.

Regarding `avro.codegen.*` properties, do you refer to https://quarkus.io/guides/kafka-schema-registry-avro#avro-code-generation-details? If so, I think they _should_ be in `application.properties`, no idea why they should be in `pom.xml` (though that would also work).

[2021-08-10 15:14] Ladicek commented on #19277
CC @cescoffier @ozangunalp

[2021-08-10 15:16] glefloch commented on #19256
Great I will add this in the branch that enable gradle tests on jdk17 once I’m back from PTO.

[2021-08-10 16:32] Dieken commented on #19276
my pom.xml for your information:

[code]

[2021-08-10 16:35] Dieken commented on #19318
@ozangunalp  it does disable the channel 😄

But it makes health check failed:
[code]

I hope it says like this:
[code]

@Ladicek

[2021-08-10 16:39] famod commented on #19152
FTR (as discussed on Zulip):
- I fixed a dependency problem in the support module of the reproducer
- the problem also occurs if cd-ing into dist
- if running from root *without* -f (or -pl), -Pmocks *is* expected to pull in the dependency from the profile in `support` (as per Maven default behavior)

[2021-08-10 16:42] Shpota opened #19321 "BlockingOperationNotAllowedException in gRPC tests after updating Quarkus from 2.0.1 to 2.1.1"
### Describe the bug

After updating Quarkus from Quarkus 2.0.1 to 2.1.1, all  gRPC tests that have methods annotated with `@Transactional` started failing with `BlockingOperationNotAllowedException`:
[code]

### How to Reproduce?

1. Create a Quarkus 2.1.1 project with Gradle, Kotlin, gRPC, and Hibernate/Panasche.
2. Add a service definition in protobuf:
[code]
3. Add an implementation annotating

[2021-08-10 16:46] edeandrea opened #19322 "Should be a single page in docs for all Quarkus Dev Services"
### Description

There should be a single page/guide/etc for all Quarkus Dev Services. As more & more services are available this page would be kept up to date. It would be a great place for a user to see/read about all of them, even if this page just linked off to the individual pages.

### Implementation ideas

_No response_

[2021-08-10 16:47] cpmoore commented on #7293
Ran into this today myself, with quarkus 2.0.2.Final

[2021-08-10 17:12] Dieken commented on #19276
This can be easily recurred:

[code]

$ cat src/main/avro/movie.avsc
[code]

[code]

After `<avro.codegen.enableDecimalLogicalType>true</avro.codegen.enableDecimalLogicalType>` is added to pom.xml "properties" section:
[code]

[2021-08-10 17:33] gastaldi commented on #19255
Closing this as a duplicate of https://github.com/quarkusio/quarkus/issues/12943

[2021-08-10 17:33] #19255 closed

[2021-08-10 17:45] OleKsimov commented on #18450
What works for me is to move emitter usage to another public method and use separate transaction for this method (@Transactional(TxType.REQUIRES_NEW)). Despite there is no database interaction in such a method, the main flow somehow handles this part separately and allows the main transaction to be committed.

[2021-08-10 18:05] johnaohara opened #19323 "Degredation in Dev mode startup time for project using quarkus-spring-jpa extension"
### Describe the bug

Time to first request has degraded for dev mode startup between 1.11.7.Final and 2.1.1.Final for projects that include a lot of extensions (i.e. many classes) that also include `quarkus-spring-data-jpa`

Start times reported by the console;

1.11.7.Final | 2.1.1.Final
-- | --
3.954s. | 5.804s.
3.923s. | 6.397s.
3.949s. | 6.408s.
4.054s. | 5.780s.
4.111s. | 5.980s.

This also

[2021-08-10 18:16] gastaldi opened #19325 "UnsupportedOperationException while running a QuarkusUnitTest with DevServices"
### Describe the bug

Having a test like the following:

[code]

The following error is thrown when trying to run the test:

[code]

### Expected behavior

The test would run

### Actual behavior

Test fails with `UnsupportedOperationException`

### How to Reproduce?

Run the test above with a project containing:

[code]

### Output of `uname -a` or `ver`

Fedora 34

### Output of `java -version`

[2021-08-10 20:04] zakkak commented on #19195
Correct.

I have created https://github.com/oracle/graal/issues/3664 to track this. Thanks for bringing it up @jamesnetherton !

[2021-08-10 22:18] danelowe commented on #5485
Could the extensions have a build time transformer that adds `@Authenticated` annotation to endpoints if a configuration setting is enabled?

For my use case, I think the current configuration option (`quarkus.http.auth.permission.authenticated.paths`) works well and makes it clear which paths would be public.

I just thought I'd mention this as I've recently noticed that `quarkus-hibernate-valida

[2021-08-10 22:49] #19323 closed

[2021-08-10 23:03] stuartwdouglas commented on #5485
If you are using JAX-RS you will be able to use `quarkus.security.jaxrs.default-roles-allowed=**` to make endpoints require auth by default in 2.2.0.Final.

[2021-08-10 23:14] stuartwdouglas commented on #19325
I tried this and it worked, do you have a reproducer?

[2021-08-10 23:16] gastaldi commented on #19325
Heh, this test was my reproducer, I had it failing in https://github.com/quarkusio/registry.quarkus.io

[2021-08-10 23:17] gastaldi commented on #19325
I ran the test from inside Intellij IDEA, if that helps

[2021-08-10 23:28] stuartwdouglas commented on #19325
You can't mix QuarkusTest and QuarkusUnitTest. I swear we used to have error detection for this but I can't seem to find it.

[2021-08-10 23:29] gastaldi commented on #19325
Mix how? The test doesn't have any `@QuarkusTest` afaik

[2021-08-10 23:44] stuartwdouglas commented on #19325
The module does though, QuarkusTest starts quarkus once and leaves it running, QuarkusUnitTest starts/stops each time.

[2021-08-11 00:06] stuartwdouglas commented on #19180
That would be helpful.

[2021-08-11 00:54] stuartwdouglas opened #19330 "Not possible to include multiple config items in adoc if they both have Duration"
### Describe the bug

If you have two different config items that use Duration and you include both their generated .adoc pages into a single page you get the following error:

[code]

[2021-08-11 01:41] stuartwdouglas commented on #19133
I will add this, but TBH I don't really understand why it is an issue as if you have configured the relevant items Dev Services is automatically disabled. Are you adding extensions and then not using them?

[2021-08-11 04:07] stuartwdouglas commented on #19299
I see a 404 for /device-features/123/actions with your reproducer.

[2021-08-11 04:36] stuartwdouglas commented on #5006
Is this still an issue?

[2021-08-11 04:37] #19257 closed

[2021-08-11 06:12] johnaohara opened #19334 "Large Regression in Started RSS of native image"
### Describe the bug

The started RSS of simple quickstarts has increased from ~18MB to ~66MB  for a 16 core machine.

This regression has been introduced between commits :
13f0b2a6577e8f3a5a5236545cfa09ddbf7845a3 and 0d33b51c95474c512db8eb4fcaa98a8d0c889df8

The size regression appears to be proportional to the number of cores available to the native application

![Screenshot from 2021-08-11 07-0

[2021-08-11 07:10] OleKsimov commented on #19133
@stuartwdouglas I've just updated Quarkus version from 1.12 and noticed that tests started to work unstably. We are using testcontainers for vault, postgres and kafka (checking kafka topics in test for example), and in a lot of modules fix was just to add devservices.enabled=false to kafka configuration to fix all the problems. Currently, I have no time to investigate this issue in deep, but if yo

[2021-08-11 07:35] michael-simons commented on #8530
OGM just use Classgraph for discovering classes…
Probably it's another Classloader issues with Quarkus fast-jar mode.

I probably can't fix that.
You can probably workaround it by adding an index: https://github.com/michael-simons/neo4j-from-the-jvm-ecosystem/blob/master/quarkus-ogm/src/main/resources/META-INF/resources/org/neo4j/examples/jvm/quarkus/ogm/movies/neo4j-ogm.index

Btw related in gene

[2021-08-11 07:38] Ladicek commented on #19318
Sounds like a bug to me. Disabled channels IMHO shouldn't participate in health at all.

[2021-08-11 07:41] Ladicek commented on #19276
OK, that sounds weird. Maybe the config support in codegen is broken? I'm unfortunately not well versed in that area; I guess this will have to wait for @michalszynkiewicz (when he's back from vacation :-) ).

[2021-08-11 07:43] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/1118814778

[2021-08-11 07:51] sdaschner commented on #8530
Thanks Michael, indeed, adding an index similar to yours solved this for the `fast-jar` mode.

However, in that case I'd rather go with the `legacy-jar` mode, especially for projects in which the entities are distributed in multiple packages...

Maybe someone else can comment on what might cause the issue with the Quarkus packaging modes?

[2021-08-11 07:57] SLedunois opened #19335 "Reactive PG exception does not trigger `onFailure`"
### Describe the bug

A failing request does not trigger `.onFailure`. See the following code:
[code]

### Expected behavior

A PG error should not throws an exception but trigger `.onFailure`.

### Actual behavior

Failing request throws the following exception:
[code]

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

openjdk v

[2021-08-11 08:12] holledauer commented on #19334
Also the CPU load has increased dramatically:
![image](https://user-images.githubusercontent.com/804646/128993762-4cab9e8c-e46b-4b2f-b2fa-59479923b376.png)

This happened when I upgraded from 2.0.2.Final to 2.1.1.Final (there are no requests. this is just the base load). GraalVM 21.2.0 Java 11 CE

[2021-08-11 08:21] Ladicek commented on #19318
OK so this is clearly a case of connector existing, but having no sources nor sinks. Precisely what I thought shouldn't exist :-)

[2021-08-11 08:39] mkouba commented on #19334
Just trying `git bisect` to identify the problematic commit.

@johnaohara in the "How to Reproduce?" section: `docker build -f src/main/docker/Dockerfile.jvm -t quarkus/getting-started-jvm .` -> `docker build -f src/main/docker/Dockerfile.native -t quarkus/getting-started-native .` and `config-quickstart-native` -> `getting-started-native` ;-)

[2021-08-11 08:40] johnaohara commented on #19334
@mkouba ah yes, copied the wrong command from the logs, will update

[2021-08-11 08:49] zakkak commented on #17046
Hi @sberyozkin sorry for the delay, I have need on PTO.

I guess so, not sure to be honest.

What's the status of this? Is the only problem the provider indices?

To my understanding the index is calculated at build time even without the patch.
`io.quarkus.security.deployment.SecurityProcessor#recordBouncyCastleProviders` invokes `io.quarkus.security.runtime.SecurityProviderRecorder#addBouncyCastl

[2021-08-11 09:05] QuarkusQE commented on #19125
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1118823190

[2021-08-11 09:11] frankie1984 commented on #8152
We running into the same problem, has someone found a workaround yet? Were trying to stream about 9.000.000 json objects and gzip would be nice :D

[2021-08-11 09:12] johnaohara commented on #19334
I am having trouble reproducing this locally, but what I have noticed locally is the start time reported in the console has dramatically increased;

Commit ID | RSS (kB) | Start time
-- | -- | --
0d33b51c95474c512db8eb4fcaa98a8d0c889df8 | 37992 | 0.104s
589cebd0c3b84c25d8f4b565dc2e767f31f58ee8 | 38172 | 0.045s
5bec5375f4225f6e2c8091c1b0d71865042a95e9 | 38172 | 0.026s
28330b13b457ada58fa78e00edeb2e

[2021-08-11 09:15] johnaohara commented on #19334
Another data point was in the lab, the start RSS had a large variation in RSS values;

run | startedVmRss
-- | --
1 | 17984
2 | 66756
3 | 48204
4 | 60436
5 | 50248

[2021-08-11 09:20] senzu commented on #19019
Hi zakkak, it works without error with ubi-quarkus-native-image:21.2-java11!

[2021-08-11 09:27] victor-costa-avancee commented on #19299
Yes, why is that? Maybe I am not understanding something about your explanation but of the two root resource class that are present in the reproducer, only `@Path("/device-features")` should match that request, and then RR should find the     `@Path("/{featureId}/actions")` method. If you open swagger ui http://localhost:8080/q/swagger-ui/#/Device%20Features/post_device_features__featureId__action

[2021-08-11 09:31] gsmet commented on #19195
I think for now the best solution is to add the security provider ourselves. I created https://github.com/quarkusio/quarkus/pull/19336 .

[2021-08-11 09:49] hieunc278 opened #19337 "Could not start gRPC server"
### Describe the bug

1. Open quarkus-quickstarts-main project.
2. Add new class QuickStartApp as implementation of QuarkusApplication.
3. Override run method to start gRPC server
4. Run mvn package -Pnative

This is QuickStartApp file content :

package io.quarkus.grpc.examples.hello;

import io.grpc.Server;
import io.grpc.ServerBuilder;
import io.quarkus.runtime.QuarkusApplication;
import io.qua

[2021-08-11 09:51] zakkak opened #19338 "CoreSerializationInGraalITCase of integration test Main fails with latest GraalVM"
### Describe the bug

CoreSerializationInGraalITCase of integration test Main fails with latest GraalVM.

See https://github.com/graalvm/mandrel/runs/3296489189?check_suite_focus=true#step:9:440

### Expected behavior

Test should pass.

### Actual behavior

Test fails with:

[code]

### How to Reproduce?

1. Download the "jdk" artifact from https://github.com/graalvm/mandrel/actions/runs/11184841

[2021-08-11 09:52] hieunc278 commented on #19337
Dear Mr. @cescoffier  and Mr. @michalszynkiewicz,

Could you please review this issue also ?

[2021-08-11 10:00] ahamed-k opened #19339 "Problem building uber-jar using Quarkus 2.1.1.Final"
### Describe the bug

I tried to build a uber-jar using 2.1.1.Final in Windows OS. But it throws a exception.
[ERROR] Failed to execute goal io.quarkus:quarkus-maven-plugin:2.1.1.Final:build (default) on project simple-banking-client: Failed to build quarkus application: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
[ERROR]         [error]: Build step io.quarkus.depl

[2021-08-11 10:06] gsmet commented on #7293
@cpmoore I added a test here: https://github.com/quarkusio/quarkus/pull/19340 and it seems to work as expected. What am I missing?

[2021-08-11 10:18] geoand commented on #3077
I would suggest opening a new issue with a reproducer project

[2021-08-11 10:45] #19339 closed

[2021-08-11 10:54] zakkak commented on #19019
Nice, 21.2 will become the default with Quarkus 2.2 (https://github.com/quarkusio/quarkus/pull/18932) and it will be (re)considered for backporting to Quarkus 2.1 (there were some issues with that).

Thanks for testing!

[2021-08-11 11:08] mkouba commented on #19334
Hm, I've just tried to checkout the `13f0b2a` commit and I get 34236 KB with `--cpus="4"`. And I get 34208 KB for the `main` branch. Where did you see the "~18MB" result? Last released version of quarkus?

[2021-08-11 11:12] johnaohara commented on #19334
The data is from runs in the performance lab, the RSS size is susceptible to the number of threads and cores on the machine.  The data is taken from nightly builds of the main branch. For example, the above data in the above commit is from commit id : 0d33b51c95474c512db8eb4fcaa98a8d0c889df8

[2021-08-11 11:12] mkonzal opened #19341 "Reactive rest client doesn't support resource locator and subresource"
### Describe the bug

When I try to use resource locator with subresource an AbstractMethodError will be thrown.

### Expected behavior

Reactive rest client will support resource locators and subresources like [here](https://github.com/stuartwdouglas/quarkus/blob/4f1b3b688a6752b51daa743b5a5b10f7e805bcc7/extensions/resteasy-reactive/rest-client-reactive/deployment/src/test/java/io/quarkus/rest/cli

[2021-08-11 11:19] ahamed-k opened #19342 "Issue building an uber-jar with getting-started application"
### Describe the bug

Faced an issue while building an uber-jar using the getting-started application with minimal changes.
Downloaded getting started application from the link - https://github.com/quarkusio/quarkus-quickstarts.git. Made few changes in application pom.xml and properties files to build an uber jar. An exception was thrown while building an application.

We tried the same in both Wi

[2021-08-11 11:37] mkouba commented on #19334
Just tried the `2.1.2.Final` and the RSS varies from 34080 to 34116 kB on my test machine (Linux 5.4.0-80-generic, i5-6260U with 4 CPUs) for `--cpus="1"`, `--cpus="2"` and `--cpus="4"`. In other words, the RSS number seems to be stable; ~ 34 MB.

So I can't reproduce the regression locally :-(.

[2021-08-11 11:55] Ladicek commented on #19318
This PR to Reactive Messaging should fix that: https://github.com/smallrye/smallrye-reactive-messaging/pull/1346

[2021-08-11 12:01] Ladicek commented on #19276
Ah and for the record, the PR to improve documentation slightly is here: https://github.com/quarkusio/quarkus/pull/19320

[2021-08-11 12:02] #19019 closed

[2021-08-11 12:03] senzu commented on #19019
Issue solved in GraalVM 21.2, which will be become default in Quarkus 2.2

[2021-08-11 13:47] Dieken commented on #19318
Great!  Hope this is included in Quarkus >= 2.1.2.Final with smallrye-reactive-messaging 3.9.0,  currently Quarkus 2.1.1.Final ships smallrye-reactive-messaging 3.7.1.

[2021-08-11 13:50] jaikiran commented on #19311
Perhaps till this issue is resolved, run at least the Windows JDK 11 job with the gc logging enabled as follows?

[code]

[2021-08-11 14:00] Dieken commented on #19276
Thanks, could you also document how to configure SSL for Kafka? or even more properties documented at https://kafka.apache.org/documentation/#consumerconfigs and https://kafka.apache.org/documentation/#producerconfigs?

I guess they are `mp.messaging.[incoming|outgoing].<CHANNEL>.<KAFKA_CONFIG>`,  for example:

[code]

Both documentation of Quarkus and Smallrye messaging don't mention those config

[2021-08-11 14:22] Ladicek commented on #19276
That is correct, this is exactly how config properties are passed down to the Kafka client. I'll submit a PR to SmallRye Reactive Messaging docs, as it still wrongly says that the Vert.x Kafka client is used underneath. Thanks!

[2021-08-11 14:50] Ladicek commented on #19276
Added here: https://github.com/smallrye/smallrye-reactive-messaging/pull/1347

I didn't include specific examples for SSL, because I have no experience using it. If you feel like submitting a PR, that would be very much appreciated! (I think I would just copy the approach we use for documenting Kerberos auth.)

[2021-08-11 15:18] cogman commented on #18542
@stuartwdouglas has there been any progress in looking into this?  Is there a way I can help?

[2021-08-11 17:33] tanadeau commented on #6439
I think this would be a useful feature for an application that I'm working on. Most of our entities have a natural, default sort like a title or two title-like fields.

[2021-08-11 19:15] mbrembilla opened #19350 "Improve guide for Kafka + Avro projects"
Hi all,
following this guide https://quarkus.io/guides/kafka-schema-registry-avro I noticed that it's necessary to add something in the "Creating the Maven Project" section.

If you use Confluent Schema Registry, you don’t need the `quarkus-apicurio-registry-avro`, but if you use Confluent's `kafka-avro-serializer`, the mechanins to auto-generate classes from avro schemas won't work since the `qua

[2021-08-11 19:37] OneCricketeer commented on #19350
The guide is specifically using Apicurio, which should probably be clarified better.

That being said, `kafka-avro-serializer` isn't what is responsible for generating classes, and that **is** meant to be used with the `avro-maven-plugin`

[2021-08-11 20:04] edeandrea commented on #19180
@stuartwdouglas I'm not able to build that PR branch. I've tried twice now and it keeps failing:

[code]

[2021-08-11 20:22] famod commented on #14927
WDYT about exposing `startSocket` as a config property?
https://github.com/quarkusio/quarkus/blob/2.1.2.Final/extensions/vertx-http/deployment/src/main/java/io/quarkus/vertx/http/deployment/VertxHttpProcessor.java#L292

It's not so much because of performance concerns but DRY config instead: With Quarkus 2.1 I get that warning I posted previously in my `core` module which is providing some common

[2021-08-11 20:57] famod opened #19351 "Auto-increase transaction timeout when debugger is attached"
### Description

After seeing #18668 I had this idea to also auto-increase transaction timeouts when debugger is attached.

This would be very useful primarily in dev and test mode.

### Implementation ideas

This should probably be an opt in in the form of a config property that defines the timeout value to increase to. If it's not set, no auto-increase takes place.

[2021-08-11 20:58] famod commented on #19351
/cc @stuartwdouglas

[2021-08-11 22:36] stuartwdouglas commented on #8152
Have you tried `quarkus.http.enable-compression=true` ? This will enable vert.x level compression, which is async.

[2021-08-11 22:48] edeandrea commented on #19180
I'd say then let's keep this open until 2.2 is out. Once it's out I'll re-test and then close it if everything is good.

[2021-08-11 23:09] stuartwdouglas commented on #19180
If you have already confirmed it worked with main then we should be able to close it now, we generally close when the fix is in not at release time.

[2021-08-11 23:10] stuartwdouglas commented on #19180
I guess we should add a test for this, then we can call it closed.

[2021-08-12 00:56] stuartwdouglas commented on #19180
The linked PR contains tests for scenarios 1-3. I don't think it is worth worrying about 4, it's conceptually the same as 3.

[2021-08-12 03:43] stuartwdouglas commented on #18542
Sorry, this fell of my radar. Should be fixed with the linked PR.

[2021-08-12 03:51] stuartwdouglas commented on #19299
So according to the spec, when it is looking at class level matches both `/device-features` and `/device-features/{featureId}/permissions` would be in the possible match set, however under the sorting in step e) the longer URL would be considered more specific. In step f) it only considers the first element of the set, which is the longer URL, so the shorter one is no longer considered.

I do agre

[2021-08-12 04:57] cstancu opened #19356 "sun.java2d.cmm.lcms.LCMS#setTagDataNative substitution is broken on JDK17"
### Describe the bug

On JDK17 [`sun.java2d.cmm.lcms.LCMS#setTagDataNative` is declared as `static`](https://github.com/openjdk/jdk/blob/master/src/java.desktop/share/classes/sun/java2d/cmm/lcms/LCMS.java#L73). Prior to JDK17 this method was not `static` so now the [Quarkus substitution](https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/graal/LCMSSubstitu

[2021-08-12 06:30] holledauer opened #19359 "CPU load increased 10x with Quarkus 2.1.* (native image)"
### Describe the bug

When upgrading to any Quarkus 2.1.* version the cpu usage increases 10x (just the base load without any requests).

### Expected behavior

There shouldn't be an increase in cpu usage

### Actual behavior

In the image you can see the cpu load for Quarkus 2.0.2.Final and 2.1.2.Final (low cpu usage is  2.0.2.Final)
![image](https://user-images.githubusercontent.com/804646/12914

[2021-08-12 06:54] Ladicek commented on #19350
The guide indeed uses Apicurio Registry, but there's nothing actually preventing anyone from using Confluent Schema Registry. The only required changes are in dependencies, which are mentioned in the guide (#19320 adds the mention of `quarkus-avro`), and in configuration (which is described in https://smallrye.io/smallrye-reactive-messaging/smallrye-reactive-messaging/3.8/kafka/kafka.html#kafka-av

[2021-08-12 07:31] #19262 closed

[2021-08-12 07:54] #19195 closed

[2021-08-12 08:02] #19180 closed

[2021-08-12 08:05] #19322 closed

[2021-08-12 08:09] joggeli34 commented on #19241
With version 2.1.2.Final it seams to be fixed

[2021-08-12 08:09] #19241 closed

[2021-08-12 08:16] gsmet commented on #19241
Thanks for the followup!

[2021-08-12 08:23] Ladicek commented on #19350
I've added more details about Confluent Schema Registry to my PR, thanks for pushing for it! :-)

[2021-08-12 08:26] #19325 closed

[2021-08-12 08:30] tbvl opened #19362 "Possibility for Continuous Testing Mode to also execute tests in other modules in multi module project"
### Description

The Continuous Testing Mode works well also when working in multi module project. Changes to sources files are detected in dependent modules and tests in the Quarkus module are re-run.

But currently its not possible to also include (unit) tests in dependent modules to also be run in Continuous Testing Mode, which would be a nice feature in a multi-module project.

### Implementat

[2021-08-12 08:35] stuartwdouglas commented on #19362
This is doable, but is moderately complex. I had been thinking about this but because of the amount of work involved I was going to wait and see if there was demand for it.

[2021-08-12 08:36] johnaohara commented on #19334
Having Investigated this further, I am seeing large variances in start time and RSS only on one particular machine (the machine we have been using for regression tests)  After swapping to a different machine in the lab, the start times and start RSS are stable and exhibit very low variations between invocations. I have cross-checked compiled binaries to ensure that there is not an issue with the b

[2021-08-12 08:36] #19334 closed

[2021-08-12 08:39] Ladicek commented on #19318
This will be fixed by upgrading to SmallRye Reactive Messaging 3.9.0, which should hopefully happen in Quarkus 2.2.

[2021-08-12 08:43] gsmet commented on #19359
Do you reproduce the issue with a JVM run? In this case, you could easily get a profile using Async profiler (see https://github.com/quarkusio/quarkus/blob/main/TROUBLESHOOTING.md for information about it).

Another question: are you building both with the same version of GraalVM.

/cc @johnaohara maybe you can help on this one?

[2021-08-12 08:49] johnaohara commented on #19359
@gsmet sure i'll take a look at this one

@holledauer  as Guillaume mentioned, if you can reproduce in JVM mode a flamegraph from async profiler would be really useful. If that is not possible, a reproducer based on your application would also be a great help

Thanks

[2021-08-12 09:16] Sgitario opened #19364 "Spring Properties: Support of `@ConstructorBinding` when using `@ConfigurationProperties`"
### Description

The annotation `@ConstructorBinding` is used to create immutable properties:

[code]

At the moment, all the classes annotation with `@ConfigurationProperties` must not contain constructors with arguments.

### Implementation ideas

_No response_

[2021-08-12 09:20] tbvl commented on #19362
@stuartwdouglas It would definitely be of high value for my team and I since we are "forced" to work in multimodule setup, but I can also see why it is a more complex undertaking. I cannot contribute much on the implementation side currently, but I can offer to test and mature any experimental / beta-releases of the feature on our setup.

[2021-08-12 09:28] victor-costa-avancee commented on #19299
But shouldn't `R(/device-features/{featureId}/permissions)` be filtered out in step c) when matching against the request? `/device-features/{featureId}/permissions` would then no longer be in the match set. This is what I understood after looking at the JAX-RS 2.1 spec for the first stage of request matching:

Input U = "/device-features/123/actions"

1.a  E = {}

1.b  Add regular expressions

[2021-08-12 09:33] mbrembilla commented on #19350
Yeah I saw! Thank you for improving the guide, very appreciated!

Since we are talking about that guide I have another a little question regarding the [configuration section](https://quarkus.io/guides/kafka-schema-registry-avro#avro-code-generation-details).
I'm trying to compile a schema in order to reference it in the others.

Where should the `avro.codegen` configurations ( especially `avro.cod

[2021-08-12 09:41] QuarkusQE commented on #19125
Build fixed:
* Link to latest CI run: https://github.com/quarkus-qe/quarkus-test-suite/actions/runs/1122676915

[2021-08-12 09:51] mbrembilla commented on #19350
Ok thanks, I'll wait your colleague to come back from the vacation :-)

But I noticed that the issue [#19276](https://github.com/quarkusio/quarkus/issues/19276) is closed, so which is the right place to track that bug and wait for a resolution?

[2021-08-12 09:54] Ladicek commented on #19350
There's probably no issue open for that specific problem. If you could file one, that would be great!

[2021-08-12 10:11] Sgitario opened #19365 "Spring Config: Using `@ConfigurationProperties` to inject lists does not work"
### Describe the bug

When using:

[code]

And we inject it into one controller / or resource:

[code]

And the following properties:

[code]

It fails to start with the following exception:

[code]

Which is odd as I'm not using neither YAML nor `@ConfigProperties` (but `@ConfigurationProperties` from the Spring extension).

### Expected behavior

I see that what we're doing internally is to map

[2021-08-12 10:19] mbrembilla commented on #19350
Ok, I'll do it after lunch.
Thank you very much again.
Will this issue be closed automatically when your PR is merged?

[2021-08-12 10:22] Ladicek commented on #19350
It is linked with the PR, so yes, it should get closed automatically.

[2021-08-12 10:25] Sgitario opened #19366 "Spring Config: Using `@ConfigurationProperties` to inject maps does not work"
### Describe the bug

Spring users can bind maps like this:

[code]

With application.properties:

[code]

If we try to use the same using the spring properties Quarkus extension, it throws the following exception:

[code]

### Expected behavior

Not sure if this is very complex to mimic in the Quarkus extension (we should generate the equivalent object using the `@ConfigMapping` annotation.
Howev

[2021-08-12 10:29] #19290 closed

[2021-08-12 10:33] kny78 opened #19367 "Quarkus 2.1.1 → 2.1.2 drops support for configuration classes"
### Describe the bug

We use classes with @ConfigMapping and it worked fine until 2.1.1, but in 2.1.2 it requires us to use interfaces.
This implies large changes to our code, and we loose the ability to add metods to our configuration objects.

I have made a test-project that illustrates the problem:
See: [https://github.com/kny78/quarkus-config-class-vs-interface](https://github.com/kny78/quarku

[2021-08-12 10:45] gsmet commented on #19367
/cc @radcortez

[2021-08-12 10:49] Sgitario opened #19368 "Spring Properties: Can't inject values using complex SpEL"
### Describe the bug

Having this class:

[code]

Note the SpEL expressions I checked and that according to the Spring documentation should work.
This is the application properties I'm using:

[code]

### Expected behavior

To be honest, I'm not sure how complex is to make the SpEL engine to work using the Quarkus configuration engine.
If this is too complex, I guess we should note this limitation

[2021-08-12 11:05] raducrisan1 opened #19370 "Cannot turn off http server"
### Describe the bug

I've created an app on top on v2.1.2 final and my container would not start if I try to disable http via env variable. The variable is: QUARKUS_HTTP_HOST_ENABLED with the value 0.

### Expected behavior

The app or the container would start.

### Actual behavior

I've encountered an error while the container was starting. The error was:

[code]

### How to Reproduce?

1. Crea

[2021-08-12 11:25] holledauer commented on #19359
Both were built with GraalVM 21.2.0 Java 11 CE

[2021-08-12 11:27] holledauer commented on #19359
In JVM-Mode I can't see a difference in the CPU load.

[2021-08-12 11:34] silviu-negoita opened #19371 "@ConfigMApping SRCFG00013: No Converter registered for class <Clazz>"
### Describe the bug

I have following nested configuration
[code]
and yml configuration

[code]

### Expected behavior

Before upgrading to quarkus 2.x.x, I used `@ConfigProperties`, which worked just fine. Since it is deprecated with current quarkus version, i used `@ConfigMapping`. I expect to work the same.

### Actual behavior

[code]

[2021-08-12 11:36] #15800 closed

[2021-08-12 11:56] mkouba commented on #16076
I'm going to close this issue.

1. The actual error message for the original snippet is currently:
`Property "aliases" not found on the base object "io.quarkus.qute.Catalog" in expression {catalog.aliases} in template 1 on line 1` (because [strict rendering](https://quarkus.io/guides/qute-reference#strict-rendering) is enabled by default and `Catalog#aliases` is not public)
2. If you make the fiel

[2021-08-12 11:56] #16076 closed

[2021-08-12 12:00] mkouba commented on #10358
I'm going to close this one. @pkonyves feel free to reopen this issue if the workaround mentioned in https://github.com/quarkusio/quarkus/issues/10358#issuecomment-693227645 does not work for you.

[2021-08-12 12:00] #10358 closed

[2021-08-12 12:03] goafabric opened #19373 "Docker Integrationtests are Broken on MAC since Quarkus 2.1.x"
### Describe the bug

Annotating a class with "QuarkusIntegrationTest"
bootstrapped a Docker Container in Versions < 2.1 by calling

"docker, run, --rm, -p, 8081:8081" ....

this has now changed to

"docker run --rm --net=host"

Unfortunately the type "net=host" is not supported under Macos thus breaking the tests and the build.

### Expected behavior

The Tests should work as with Quarkus < 2.1,

[2021-08-12 12:12] mkouba commented on #12516
I'm going to close this issue given the fact that there's no official/quarkiverse EE MVC extension yet and there's even no consensus that it should be added.

The MVC/Qute integration layer could be eventually implemented by the potential MVC extension itself.

[2021-08-12 12:12] #12516 closed

[2021-08-12 12:45] vgallet opened #19374 "Dev UI - Test report output not visible"
### Describe the bug

On Dev UI, test result output is on black background with black font color and so is not visible, as shown in the picture below.

<img width="809" alt="Capture" src="https://user-images.githubusercontent.com/8947458/129197768-abfa8584-1962-4850-a7a2-08bc3b38f5bd.PNG">

### Expected behavior

Test output should be visible.

### Actual behavior

_No response_

### How to Reprod

[2021-08-12 12:47] holledauer commented on #19359
Are you able to reproduce it? I think it should be reproducable with any quarkus app because there is nothing special in my service (it uses Kotlin, is is built with Gradle, it uses resteasy-reactive)

[2021-08-12 13:03] radcortez commented on #19367
Hi @kny78

Unfortunately, `@ConfigMapping` was never meant to work with classes. Classes have some limitations that we experienced with the old `@ConfigProperties` and that is why we deprecated them. Also, unfortunately MP Config, also added support to class based configuration and we added some limited support to comply with the specification (BTW, MP Config is currently discussing dropping the c

[2021-08-12 13:10] stuartwdouglas commented on #19362
I will have a look into it. It will use more memory because every module has its own test classpath, but it should not really be an issue.

[2021-08-12 13:16] geoand commented on #19368
Thanks for reporting, but this is not something we plan to support given the complexity involved in implementing it and the niche use case it addresses.

At best, we can print an error message mentioning this.

[2021-08-12 13:36] artempl opened #19375 "Trivial project setup fails to build with Dockerfile.multistage example"
### Describe the bug

Generate sample project. Take Dockerfile.multistage from documentation.

Try to build with command:

`
docker build -f src/main/docker/Dockerfile.multistage -t quarkus-quickstart/getting-started .
`

### Expected behavior

Success build

### Actual behavior

Build fails with message:
`
Step 12/16 : COPY --from=build /project/target/*-runner /work/application

COPY failed: no

[2021-08-12 13:40] geoand commented on #19366
This is a known limitation of `@ConfigProperties`. We should just print a more relevant error message.

I'll do that when I get back from PTO

[2021-08-12 14:02] jaikiran commented on #19356
Hello @cstancu,

I had a quick look at the Quarkus substitution class for this one https://github.com/quarkusio/quarkus/blob/main/core/runtime/src/main/java/io/quarkus/runtime/graal/LCMSSubstitutions.java#L8 and it doesn't seem straightforward to add some kind of logic which will allow rest of the substitution methods in that class be used in all Java versions, except for the `setTagDataNative`.

[2021-08-12 14:46] johnaohara commented on #19334
For information I found the root cause of the regression. Transparent huge pages had been enabled on that machine, and the kernel was allocating (and committing) multiple 2MB chunks of memory. disabling thp's has brought the RSS size back down and standard deviation is now very small. e.g. with THP enabled μ=45460kB; σ=20584. with THP disabled μ=1928kB; σ= 6.69

[2021-08-12 14:49] ppalaga commented on #19338
I have checked with one of Camel Quarkus extensions using the current serialization support and I can confirm that the test fails in a similar way:

[code]

+1.
Jiri is away. Could please somebody from Quarkus team pick this?

[2021-08-12 14:52] radcortez commented on #19365
Most likely you have the `config-yaml` extension in the classpath. This raises the exception, even if you don't have an `application.yaml` file.

The problem is that `@ConfigMapping` was never intended to work for classes, and we hope to remove any configuration-based approach using classes in the future. May I ask why not use `@ConfigMapping` directly?

[2021-08-12 15:40] kny78 commented on #19367
Hi @radcortez

I think we are discussing two issues here:
1. Expected changes in patch releases. (E.g. 2.1.1 to 2.1.2)
2. How to config system works in Quarkus

1. Expected changes in patch releases
----------------------------------------------------
I would expect the **[semver rules](https://semver.org/)** to apply. Semver defines the following for x.y.z upgrades:
* **Major upgrades (x):** Big

[2021-08-12 15:41] Dieken commented on #19276
https://github.com/quarkusio/quarkus/blob/main/devtools/maven/src/main/java/io/quarkus/maven/GenerateCodeMojo.java#L73

[code]

This is why `quarkus-avro` extension can't use configuration in `application.properties`. According to code in `quarkus/extensions/arc/deployment/src/main/java/io/quarkus/arc/deployment`,  maybe the `quarkus-avro` extension should use `@ConfigItem` to obtain configuration

[2021-08-12 16:24] johnaohara commented on #19359
@holledauer i am not able to reproduce with a simple app;

| CONTAINER ID |  NAME | CPU % | MEM USAGE / LIMIT | MEM % | NET I/O | BLOCK I/O | PIDS |
| --------------------- | --------- | ---------- | ----------------------------- | ---------- | ----------- | --------------- | ------- |
| 7dd58131eec5  | quarkus-native-2.1.2.Final  | 0.00%    | 12.71MiB / 62.81GiB  | 0.02%    | 0B / 0B  | 0B / 0B

[2021-08-12 17:41] Shpota commented on #19321
The error is also reproducible on the latest 2.1.2.Final.

[2021-08-12 17:44] Sgitario commented on #19365
@radcortez the only dependencies I have in my pom.xml are:
- quarkus-spring-boot-properties
- quarkus-spring-web

These two dependencies bring the next dependencies:

[code]

Note that I'm not using either `@ConfigProperties` or `@ConfigMapping`, but `@ConfigurationProperties` (from the Spring extension).

[2021-08-12 17:50] anthonydahanne opened #19379 "quarkus-kubernetes java.lang.ClassNotFoundException: io.fabric8.kubernetes.api.model.GenericKubernetesResourceBuilder"
### Describe the bug

The extension `quarkus-kubernetes` fails if I add a custom resource in `src/main/kubernetes/kubernetes.yml` with :

[code]

### Expected behavior

If I save this manifest in `src/main/kubernetes/kubernetes.yml`, the extension should concatenate this additionnal Kubernetes resource to the file located at: `target/kubernetes/kubernetes.yml`

### Actual behavior

If I save this

[2021-08-12 17:52] geoand commented on #19379
cc @iocanel

[2021-08-12 17:56] radcortez commented on #19367
I understand the frustration, but this was never meant to work. I was quite surprised that it actually worked. As I mentioned, the only reason why it worked is that we added some last minutes changes to support the MP Config case, which uses a completely different annotation. If you look in the original PR for the feature, there was never any class support: https://github.com/smallrye/smallrye-con

[2021-08-12 18:05] kny78 commented on #19367
I guess that leaves the conclusion, that if we get @SmallryeIgnore or @ConfigTransient to exclude functions that should not be part of the mapping, it is not too hard for us to change to the new approach :-)

[2021-08-12 19:00] nkrajesh opened #19380 "Kafka with kerberos not working. giving error .. org.apache.kafka.common.errors.SaslAuthenticationException: Failed to create SaslClient with mechanism GSSAPI"
### Describe the bug

Trying to connect to kafka using kerberos with settings below:

kafka.ssl.truststore.location=/work/truststore.jks
kafka.ssl.truststore.password=xxxxx
kafka.ssl.endpoint.identification.algorithm=https
kafka.sasl.mechanism=GSSAPI
kafka.security.protocol=SASL_SSL
kafka.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required useKeyTab=true doNotPrompt=true keyTab=

[2021-08-12 20:55] CoryHagerman opened #19381 "QuarkusDelayedHandler prints an error and throws a log message away even if the queue was compacted"
### Describe the bug

When the delayed log writer queue fills up and a compaction of the queue happens if the queue has space the method still returns and the logged message is lost no matter the log level.

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

[2021-08-12 21:22] DaveO-Home opened #19383 "Gradle listExtension - fails on new release or project out of date with latest release"
### Description

I got this once  2.1.2 was released.

* What went wrong:
Execution failed for task ':listExtensions'.

Other tasks work with older version.

Work-around:
Manually update `gradle.properties` to reflect latest version.

### Implementation ideas

_No response_

[2021-08-12 21:26] #19380 closed

[2021-08-12 21:26] nkrajesh commented on #19380
I passed this error by upgrading version and manually adding the quarkus.security.security-providers=SunRsaSign,SunJCE,SunJGSS,SunSASL

[2021-08-12 21:46] nkrajesh opened #19384 "Kafka connection native mode failing with kerberos"
### Describe the bug

App is trying connecting to kafka with kerberos auth in native mode and is receiving error.
2021-08-12 20:28:25,309 WARN  [org.apa.kaf.com.net.Selector] (smallrye-kafka-consumer-thread-0) [Consumer clientId=eviq-test, groupId=eviq5555-test] Unexpected error from dcmidph02k004-a.epg.nam.gm.com/10.127.129.67; closing connection: java.lang.NullPointerException
        at sun.sec

[2021-08-12 21:46] anthonydahanne opened #19385 "quarkus-kubernetes should support security-context"
### Description

quarkus-kubernetes supports many features from the `Deployment` resource, such as : `image-pull-policy` , `liveness-probe`, etc., see https://quarkus.io/guides/deploying-to-kubernetes#configuration-options

Unfortunately, it does not support `securityContext` (see https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ for details about this feature)

### Implem

[2021-08-12 22:16] radcortez commented on #19365
The exception you see is thrown by the config-yaml extension here: https://github.com/quarkusio/quarkus/blob/ab40883447ea89ae4334c371c315b954ba5f7b5a/extensions/config-yaml/runtime/src/main/java/io/quarkus/config/yaml/runtime/AbstractYamlObjectConverter.java#L28-L29. So, unless I'm missing something it should be present in the classpath.

I understood, I was just asking if there was any strong rea