[2021-01-13 08:55] danielezonca commented on #12486
As far as I can see it should be enough on Kogito side to update [this file](https://github.com/kiegroup/kogito-runtimes/blob/master/.github/workflows/quarkus-snapshot.yaml#L39) to a different branch (in this case `1.1.x`).
Is it correct?
In this way Quarkus CI will run using master or a different branch transparently. The only problem is that after the release it should be updated back to `master

[2021-01-13 08:56] dloiacono opened #14275 "The property quarkus.kubernetes-config.enabled: "true" is ignored in the Kubernetes configuration"
**Describe the bug**
Even you enable the possibility to read the configuration from the k8s config maps via environment varible, quarkus ignore the flag.

**Expected behavior**
The config map is read

**Actual behavior**
The flag is ignored and the config map is ignored

**To Reproduce**
Specify the `quarkus.kubernetes-config.enabled: "true"` in the application.yml like this:

[code]

**Configurat

[2021-01-13 08:57] radtriste commented on #12486
what would happen if somehow we have 2 release branches ? or we would like to test `master` and `1.1.x` branches in parallel.
The idea of @evacchi if possible is good, it would give us more flexibility on which branches to test against quarkus master... but would that be feasible ?

[2021-01-13 08:58] geoand commented on #14273
Duplicate of #14275

[2021-01-13 08:58] #14273 closed

[2021-01-13 09:00] geoand commented on #12486
Yeah, we've thought about that. But I've never had time to implement it (although it shouldn't be hard to do for anyone)

[2021-01-13 09:37] pmlopes commented on #13161
Yes, SSL is supported. However, if someone can prepare a test container with SSL we can automate this and add it to the CI.

[2021-01-13 09:45] Sanne commented on #14264
Thanks Stuart. We're having an unexpected mix of JTA and non-JTA components, I suspect this is a bug with the Quarkus extension with Hibernate Reactive - probably related to what I mentioned during the team meeting yesterday: that some JTA related components are being initialized.

We'll look, it shouldn't bind to JTA.

[2021-01-13 10:07] cescoffier commented on #14271
CC @pmlopes

[2021-01-13 10:27] geoand commented on #13818
I'll probably start working on it towards the end of the week or the beginning of next week

[2021-01-13 10:47] ryckowski commented on #9602
I'm using myEntity.setRelated(getReference(Related.clas, id)) quite often to set the related entity and there's no reason fetch it. From sql point of view just want to set foreign key id which I know
Is there a better practise?

[2021-01-13 11:07] gavinking commented on #9602
I agree but it looks like the issue title and the mentioned usage is a bit misleading?

All that's described is adding `Item.getReference(id)`, which is definitely needed IMO. (Nothing specific to lists in that.)

[2021-01-13 12:23] glefloch commented on #10147
@yuriy-larin-firstbridge I just tried running:

[code]
I'm using the latest quarkus version with no extension. (just a simple code.quarkus.io project).
Could you try with quarkus 1.10.5.Final?

[2021-01-13 13:07] danieloh30 commented on #14152
No luck with quarkus.kubernetes.env.vars.quarkus-launch-devmode=true

[2021-01-13 13:30] nragon opened #14280 "gRPC load balancing(sharding)"
**Description**
Custom grpc load balancer

**Implementation ideas**
One of my use cases, and I believe of many others, will involve multiple microservices to read and one(eventually multiple) to write.
Now, for this "write" microservice to scale vertically we need some kind of locking/synchronization between them all.
One of the solutions would be to implement a custom grpc load balancer to distri

[2021-01-13 13:41] gastaldi opened #14281 "Panache REST resource returns 500 - Internal Server Error for violated primary key constraints"
**Describe the bug**
Having a JPA entity with a natural ID, when performing an HTTP POST that violates the primary key, a 500 error is returned along with the internal stacktrace.

**Expected behavior**
The REST resource should handle violated primary key constraint errors and return a different HTTP code (409 - Conflict may be a good choice)

**Actual behavior**
The following output is displayed:

[2021-01-13 13:42] FroMage commented on #14281
@gytis

[2021-01-13 13:58] loicmathieu commented on #14281
Not sure it's easily feasible in a generic manner, the exception cause (burried inside a complex exception hierarchy, including one from Arc!) is `ConstraintViolationException` and this can be thrown for different kind of constraint violation that are not all related to same PK sor maybe not result in a 409.

I usually deals with 409 manually by checking if the entity is inside the database prior

[2021-01-13 14:10] #14275 closed

[2021-01-13 14:15] ebullient commented on #13818
For an additional integration test, sure -- but for my existing test, I would like that just to work, whether I'm on Linux or on Windows/Mac, without having to do a dance around additional/separated steps.

[2021-01-13 14:17] geoand commented on #13818
What Stuart and I mention should just work if implemented properly.

Essentially `@QuarkusIntegrationTest` will deprecate `@NativeTest`

[2021-01-13 15:37] aloubyansky commented on #12422
The live doc is https://docs.google.com/document/d/1dZufN0EZ_jW-An_P09WpdvLzk6GJtCZ_OamzSCi2q88/edit#heading=h.ljvqoc686804

[2021-01-13 16:00] sshaaf commented on #14206
just to document this. the issue was with my local storage not able to write files or save them randomly.

[2021-01-13 16:17] danieloh30 commented on #14152
Ok. It works with ```quarkus.openshift.env-vars.quarkus-launch-devmode.value=true```

Thx for the help to fix it, @geoand

[2021-01-13 17:03] gytis commented on #13895
@loicmathieu this seems to have been fixed here https://github.com/quarkusio/quarkus/commit/94803d76174ac181ce79a0390f9896cff1645dff by George

[2021-01-13 17:07] gastaldi commented on #9861
@andrejpetras this could be an excellent candidate for Quarkiverse, would you like me to set it up in there for you?

[2021-01-13 17:10] 362228416 opened #14283 "No virtual channel available"
**Describe the bug**
(Describe the problem clearly and concisely.)

VirtualClientConnection.connect this line code , throw error

[code]

WebsocketLambda.java
[code]

application.properties
[code]

pom.xml
[code]

**Expected behavior**
(Describe the expected behavior clearly and concisely.)

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**

Link to a smal

[2021-01-13 17:25] andrejpetras commented on #9861
@gastaldi yes, I can migrate my existing release (+ all mandatory updates) to Quarkiverse
https://github.com/lorislab/quarkus-hibernate-types
https://github.com/andrejpetras/quarkus/tree/9861_hibernate_types/extensions/hibernate-types

[2021-01-13 17:42] loicmathieu commented on #13895
Yes, this has been fied by #14149, I'm closing it.

[2021-01-13 17:42] #13895 closed

[2021-01-13 17:43] davide-malagoli opened #14284 "security-jpa custom cypher for passwords"
HI,
I'm having a problem with security-jpa.

We have an already existing database with users already created, and we need to integrate our application with that.

Password are stored usign SHA-256 cypher, but this seems not supported by the module (only MCF and CLEAR seem to allowed).

Is there any method we could override to make things work?

[2021-01-13 17:52] gastaldi commented on #9861
Fantastic! Let me create the repository and give you the proper push permissions then.Meanwhile take a look at the naming patterns we require for a Quarkiverse project: https://github.com/quarkiverse/quarkiverse/wiki#joining-quarkiverse

[2021-01-13 18:09] gastaldi commented on #9861
Repository created in https://github.com/quarkiverse/quarkiverse-hibernate-types. Enjoy!

[2021-01-13 18:09] #9861 closed

[2021-01-13 18:21] LuccaPrado commented on #13055
I totally forgot about that. I'll try to test this today

[2021-01-13 18:41] #14257 closed

[2021-01-13 20:36] kekbur commented on #12923
I dug a bit deeper into this issue and found that the problem first appeared in version `1.7.0.CR1`. It was not present in `1.6.1.Final`.

[2021-01-13 20:47] aldettinger commented on #14034
I had a try with remote debugging `mvnDebug clean package -Dquarkus.kubernetes.deploy=true` and learn few things:
- The maven build succeed most of the time in debug
- The issue is not sticky
- I can't hit a breakpoint in the OpenShiftExtensionAdapter class: does it run in a separate jvm ?

[2021-01-13 21:28] sberyozkin commented on #14284
@FroMage can you recommend something ?

[2021-01-13 23:13] #8193 closed

[2021-01-13 23:15] n1hility commented on #6027
the core functionality was implemented, so closing

[2021-01-13 23:15] #6027 closed

[2021-01-13 23:17] #5101 closed

[2021-01-13 23:18] #9796 closed

[2021-01-13 23:20] #9297 closed

[2021-01-13 23:22] n1hility commented on #5603
This is out of date with the work on RESTEasy Reactive

[2021-01-13 23:22] #5603 closed

[2021-01-14 00:40] stuartwdouglas commented on #14269
In the first one you are injecting the file as a byte[] array, which means it needs to be fully loaded into memory. If you want to deal with large files used the second approach.

[2021-01-14 00:40] #14269 closed

[2021-01-14 04:05] picaron opened #14288 "QueryParam values are not injected into the API under test when using RestAssured and the JBoss version of the @QueryParam annotation"
**Describe the bug**

I am writing a simple test case using RestAssured which passes some query params to my REST API under test.

Example test:

[code]

Example REST API:

[code]

**Expected behavior**

I should be able to use the JBoss annotation with my tests and not have to revert to the JAX-RS one to make my tests work.

**Actual behavior**

Only if I use the standard JAX-RS import it works a

[2021-01-14 05:26] stuartwdouglas commented on #12923
@Sanne sounds like this may be another issue related to the build time proxy generation if it does not happen with regular hibernate?

[2021-01-14 05:54] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/484607062

[2021-01-14 05:55] rsynek commented on #11563
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/484608164

[2021-01-14 06:00] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/484606853

[2021-01-14 06:02] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/484607891

[2021-01-14 06:47] geoand opened #14291 "Setting quarkus properties using the Kubernetes extension results in incorrect env var name"
**Describe the bug**
If I try to set a Quarkus config property like `quarkus.kubernetes.env.vars."quarkus.kubernetes-config.enabled"=true` using the Kubernetes extension, an incorrect name is generated in the Kubernetes Deployment.

**Expected behavior**
I expect to see the following in the generated YAML:

[code]

**Actual behavior**
The following is added to the genetated YAML:

[code]

[2021-01-14 07:10] ChMThiel opened #14293 "Hibernate Validator - Support groups in method validation"
I asked for BeanValidation-Support in zulip (see https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/BeanValidation.20Groups).  Guillaume Smet found, that i should request an enhancement. Here it comes:

**Description**

Currently I have an issue with BeanValidation: I need to provide ValidationGroups in order to use Constraint-Annotations like this:
_@Null(groups = POST.class)
@NotN

[2021-01-14 07:35] michalszynkiewicz commented on #14280
hi @nragon:
1. wouldn't using DnsNameResolver together with a list of servers be an overcomplication? My understanding is that the `DnsNameResolver` itself provides a list of addresses for a given URI.
2. I think `loadBalancingPolicy` would be a better name than `loadBalancer` for the policy

[2021-01-14 08:32] madduci commented on #13996
Thanks for the clarification, perhaps the trick lies in the "native" keyword being used while invoking the Template method?

[2021-01-14 08:43] msis94 commented on #13576
i try with quarkus eleytron for bycrptutil and it give error :

Exception in thread "main" java.security.NoSuchAlgorithmException: ELY08028: Invalid algorithm "bcrypt"

[2021-01-14 09:23] FroMage commented on #14195
So I should have been more clear that this is not over yet because we still need to implement the `endpoints.html` file, to make it show as much of the useful info of the 404 page as possible, for example:

![Screenshot from 2021-01-14 10-18-59](https://user-images.githubusercontent.com/179265/104570443-3582be80-5652-11eb-9b4b-51e643e72b8f.png)

Here we can see that the 404 page shows HTTP method,

[2021-01-14 09:24] nragon commented on #14280
@michalszynkiewicz
1. Maybe that resolver is not the best to be used. Idea is to have the following config `quarkus.grpc.clients.hello.servers:localhost:9000,localhost:9001,localhost:9002,....` Perhaps this point is not even necessary.
This way we could send this list of servers to the load balancer and decide where to send the request.
2. LGTM

[2021-01-14 09:24] FroMage commented on #14195
Ideally it would be nice if the endpoints were listed alphabetically by URL, and if they are equal, by HTTP method alphabetically.

[2021-01-14 09:26] FroMage commented on #14195
Notice that the 404 page lists endpoints in a hierarchical manner for some internal implementation reason that I don't agree with, and that the DEV console should not emulate, as shown by the equivalent `/scores` page:

![Screenshot from 2021-01-14 10-25-18](https://user-images.githubusercontent.com/179265/104571088-fe60dd00-5652-11eb-92e2-e9955c39cbb7.png)

[2021-01-14 09:49] NasrCH opened #14295 "java.lang.OutOfMemoryError: Java heap space - Quarkus 1.10.5.Final"
**Describe the bug**
Difference in memory consumption between version 1.8.3 and 1.10.*
It can result in an OutOfMemoryError on a simple unit test using the ApachDS library.

**Expected behavior**
Use of 300 MB of memory instead of 2 GB +
Build succes with the unit test.

**Actual behavior**
[code]

**To Reproduce**

[code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/5813489/code-wi

[2021-01-14 09:58] #14291 closed

[2021-01-14 10:03] FroMage commented on #14284
I can definitely comment that SHA-256 is not the best solution for hashing passwords, because it's too fast. BCrypt is much safer. So I've mixed feelings about supporting a non-optimal hashing solution out of the box.

Perhaps the right thing to do is to make it pluggable in a way that users will have to provide their own hashing solutions (even if it uses the hashing algos from our lib) if it's n

[2021-01-14 10:35] maxandersen opened #14296 "dev console -> dev mode"
**Description**
Quarkus Developer Console has some unfortunate connotations of it might be for management features or cause confusion between OpenShift Developer Console.

Suggestion that came up during conversations was to simply just call the page "Dev Mode" or "Quarkus Dev Mode" in full.

This would:

a) avoid using the already overloaded console term
b) makes it clear this feature set is for d

[2021-01-14 10:38] geoand commented on #14296
cc @FroMage @stuartwdouglas @gsmet

[2021-01-14 10:40] gsmet commented on #14296
Can't say I agree with this. It's a Dev Console. Calling it Dev Mode will be confusing as we already have something called dev mode.

[2021-01-14 10:41] gsmet commented on #14295
Can you analyze things a bit and analyze a memory dump of your application?

Thanks.

[2021-01-14 10:43] maxandersen commented on #14296
that is the whole point - to not make this something more than what is dev mode. This is part of devmode - why not call it the dev mode page ?

Dev console is a term heavily used in OpenShift thus it will cause unnecessary confusion/friction IMO.

[2021-01-14 10:45] geoand commented on #14296
I personally don't have much of a preference... I can see merit in both names

[2021-01-14 10:45] galderz commented on #13702
This is still happening, any Gradle experts care look at this?

[2021-01-14 10:48] gavinking commented on #14296
I think there's three reasons to do this. It:

1. strengthens the "Dev Mode" brand, making it a stronger feature
2. makes it clear that this isn't a management console, making its purpose clearer
3. removed the useless word "console" which isn't doing any real work here, and actually has no clear semantics (people sometimes call a command line interface a "console")

Or course, we're also open to

[2021-01-14 10:50] mkouba commented on #14296
Hm, what about "Dev Mode Console"?

[2021-01-14 10:51] gavinking commented on #14296
Sure, that was one of my suggestions, but we then agreed that "console" doesn't mean anything, and just makes the name longer.

[2021-01-14 10:53] stuartwdouglas commented on #14296
My only objection to this is that it overloads 'dev mode', when someone says dev mode in chat or on an issue it may not be clear what they are talking about. That said I don't really have a better name, my only suggestion from a while back was 'Quarkus Accelerator', because it accelerates app development and plays into the particle accelerator/subatomic theme.

[2021-01-14 10:54] geoand commented on #14296
But it does disambiguate when we need to have users explain issues. I'm +1 for Martin's suggestion

[2021-01-14 10:55] gavinking commented on #14296
This is a nice name, but I would keep it up our sleeves for something much cooler that we invent in the future.

[2021-01-14 10:56] gavinking commented on #14296
That's true, and to clarify, I think it's fine as a name of the software component that sits behind this page. But I'm inclined to leave it off the title of the page itself.

[2021-01-14 10:56] maxandersen commented on #14296
Btw. Another issue is that there are rumblings of adding quarkus hooks into openshift dev console. Overloading even more.

I like dev mode as this is dev mode :) I'm fine with other names too but since hard to name things I prefer dev mode as a neutral starting point :)

[2021-01-14 10:57] geoand commented on #14296
Sure, that makes to me too

[2021-01-14 10:58] mkouba commented on #14296
Well, it does mean different things but maybe we can find a better name. "Dev Mode Dashboard", "Dev Mode Control Panel",  "Dev Mode Control",  "Dev Mode Controls"

[2021-01-14 11:01] gavinking commented on #14296
But what value do any of those words add. I'm sitting here looking at a web page titled "Quarkus Dev Mode". That tells me what I need to know. I simply don't need any additional noisewords to disambiguate the purpose of this thing.

When in doubt, prefer short, snappy names.

[2021-01-14 11:08] dandreadis commented on #14296
Dev Mode Page?

[2021-01-14 11:13] gsmet commented on #14296
I agree a short name is better. But as Stuart and I mentioned it, naming two different things with the same name is a recipe for confusion. We need a name that is not `dev mode`, whatever it is.

[2021-01-14 11:13] knutwannheden opened #14297 "Also serve up Resource Not Found page for paths outside HTTP root"
**Description**
Currently the Dev Mode Resource Not Found Page is only returned for requests requesting a page "within" the bounds of the configured HTTP root (i.e. `quarkus.http.root-path`). I think it would be very convenient if this also worked for other pages.

So if for instance the HTTP root path is configured as `/foo` I would like to get the Resource Not Found page also for requests for pa

[2021-01-14 11:16] maxandersen commented on #14296
Dev mode home(page) :)

[2021-01-14 11:17] gsmet commented on #14284
+1 for custom implementation. That's what I had in mind when I answered Davide on Zulip.

Should be pretty straightforward for a new contributor.

[2021-01-14 11:27] gavinking commented on #14296
OMG Max, I can't believe you have not proposed "My Quarkus Dev Mode"!

[2021-01-14 11:29] geoand commented on #14296
Dev Mode UI?

[2021-01-14 11:30] gavinking commented on #14296
DevModeUI since we all know computery things don't have spaces in them.

[2021-01-14 11:33] maxandersen commented on #14296
Am I the only one that sees dev mode as the thing that skips augmentation, enables dev mode hot reload, enables the dev mode exception handling , enables this dev mode page ?

We don't have individual names for those sub parts afaik - it's all things that part of dev mode - dev mode haven't been only the hot reload feature since well...forever ?

[2021-01-14 11:34] maxandersen commented on #14296
How about on the page that only shows up when dev mode is available writes "Quarkus Dev mode overview" ?

[2021-01-14 11:35] gavinking commented on #14296
In seriousness, I'm pretty sure that whenever there is potential for confusion, it can easily be eliminated by saying "the Dev Mode page", "the Dev Mode home page" or the "Dev Mode web UI" or something like that.

It doesn't need to be a (capitalized) part of the name.

But ordinarily it's going to be very clear from context.

[2021-01-14 11:35] gavinking commented on #14296
That's fine too.

[2021-01-14 11:40] cescoffier commented on #13996
I just tried without template and it worked.

[2021-01-14 11:43] gavinking commented on #14296
Um, I think we also need to regularize the naming of this "dev mode". Is it "development mode", "dev mode", or "Dev Mode"? Apparently this isn't uniform even in the existing Quarkus documentation.

[2021-01-14 11:45] maxandersen commented on #14296
agree, but lets boil one ocean at a time :)

[2021-01-14 11:48] morhei opened #14298 ""QUARKUS - GETTING STARTED WITH REACTIVE" creating the project yields wrong project"
Hi,

I'm currently going through your guide and noticed that when I use the mvn command to create the project I get an unexpected outcome:

`mvn io.quarkus:quarkus-maven-plugin:1.10.5.Final:create \
    -DprojectGroupId=org.acme \
    -DprojectArtifactId=getting-started-reactive \
    -DclassName="org.acme.quickstart.ReactiveGreetingResource" \
    -Dpath="/hello" \
    -Dextensions="resteasy-muti

[2021-01-14 11:51] stuartwdouglas commented on #14296
Think about it if you were doing a presentation: 'I am starting Quarkus in dev mode', and you show off the live reload etc, 'and now I am going to show you Quarkus Dev Mode' which has the same name but is a completely different thing.

Thinking about names some more:

Dev UI
Quarkus Webtools
Qtools
QUI
Devpage

[2021-01-14 11:52] stuartwdouglas commented on #14296
This is early days, $NAME will end up a lot cooler in a few releases time.

[2021-01-14 11:54] maxandersen commented on #14296
you would say "Quarkus Dev Mode page" or "the page giving an overview of extra things available when we run in dev mode".

I honestly don't see the issue here.

[2021-01-14 11:55] maxandersen commented on #14296
yes - I really just want to remove the usage of "console" here as that overlaps with things we do not have a way to fix/disambiguate.

[2021-01-14 12:09] VasilisAndritsoudis commented on #14141
@sberyozkin
I believe I have done everything I can at the moment since I am having a lot of trouble building the project, for some reason I get a lot of errors involving dependencies that maven could not find...

Anyway I am gonna show you my proposed changes before I make a PR:

First of all I have changed the [RestCliendBase](https://github.com/quarkusio/quarkus/blob/bce536fe09d3902aaee1a23cbca1

[2021-01-14 12:25] ia3andy commented on #14298
I guess this is a duplicate of this one: https://github.com/quarkusio/quarkus/issues/13917

[2021-01-14 12:29] morhei commented on #14298
Thanks, Indeed that is the exact same behavior I've observed. When omitting resteasy-jackson the outcome was as expected.

[2021-01-14 12:33] ppatierno opened #14299 "Fabric8 Kubernetes client Quarkus extensio: unable to find valid certification path to requested target"
I am using the Java operator SDK Quarkus extension to develop and operator and I am injecting the Fabric8 Kubernetes client.
If I start the operator locally when a local minikube instance is running, everything is fine.
When I oc login into an OpenShift 4.6 cluster, I got the following error when the operator starts:

[code]

The workaround I have got is to add `quarkus.kubernetes-client.trust-cer

[2021-01-14 12:34] geoand commented on #14299
cc @metacosm

[2021-01-14 12:37] ppatierno commented on #14299
I also see these three lines before the exception with `DEBUG` level. It's trying to use the kubeconfig (3 times?), maybe something goes wrong?

[code]

[2021-01-14 12:39] ia3andy commented on #14298
Closing as duplicate #13917

[2021-01-14 12:39] #14298 closed

[2021-01-14 12:44] davide-malagoli commented on #14284
@FroMage I know this is a sub-optimal (read horrible) solution, but this database it's still used in production, so we cannot change something so critical like password encoding.
I like your approach that uses a custom class.

@gsmet I read your response on Zulip.
So, I need to write also an enanchment request or we can continue using this issue?

Thanks both for your cooperation.

So what's next?

[2021-01-14 12:47] geoand commented on #14295
I'll take a quick look

[2021-01-14 12:48] maxandersen commented on #14299
can you show what you have in the kube config ? (sans secrets)

[2021-01-14 12:48] #13564 closed

[2021-01-14 12:51] maxandersen commented on #14299
I have a vague memory of us turning on stricter use of TLS/ssh verifications somewhere - and i'm wondering if that is what we are seeing here and that overrides the config in kubeconfig.

[2021-01-14 12:52] maxandersen commented on #14299
@ppatierno I say your workaround `quarkus.kubernetes-client.trust-certs=true` is the correct one.
I predict this is simply a bug at the moment where quarkus more secure defaults ends up overriding kubernetes client settings.

@iocanel wdyt?

[2021-01-14 13:01] gsmet commented on #14296
`Dev UI` makes a lot of sense given this:

https://github.com/quarkusio/quarkus/pull/14300

We have all the other UIs with `Xxx UI`.

[2021-01-14 13:06] gsmet commented on #14284
This issue is fine to track this.

Sure, if you can give a try at implementing what @FroMage suggested, that would be awesome.

Reading https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md might a good start.

[2021-01-14 13:26] ppatierno commented on #14299
so the kubeconfig has the following:

[code]

and

[code]

We guess that it's ignoring the `insecure-skip-tls-verify: true` flag.

[2021-01-14 13:33] geoand commented on #14295
This happens because `org.jboss.logmanager.handlers.DelayedHandler` has been setup by `io.quarkus.bootstrap.logging.InitialConfigurator` even though the test is not a Quarkus test.

`InitialConfiguration` is loaded by `org.jboss.logmanager.LogContext` which is in turn is loaded because of the existence of `slf4j-jboss-logmanager`.
As the test never starts a quarkus application, the `DelayedHandler

[2021-01-14 14:15] pmlopes commented on #14271
Hi, I believe the url is incorrect:

[code]

According to the spec the `userinfo` section which is the characters between: `redis://` and `@localhost` are composed of two parts:

[code]

What is being said here is that the username is: `0669` and no password. Redis before version 6 didn't take username in consideration (from 6 and up it does as it has `ACL` built ins). As redis URLs are registered

[2021-01-14 14:32] pilhuhn commented on #9837
Is there any update here?

[2021-01-14 14:59] mahieddine opened #14303 "More config options for FormAuthenticationMechanism"
**Description**
The `FormAuthenticationMechanism` can be great to use to perform form based auth, however it lacks some personalisation features, the post location for example is hard coded (/j_security_check), the username/password too

[code]

**Implementation ideas**
We can simply add 4 options to the configuration, to allow the developer specify the following :
- username/password field names

[2021-01-14 15:55] maxandersen commented on #14296
okey - but isn't "Dev mode UI" more telling ? But I'm fine having the page say "Dev UI" or I guess "Quarkus Dev UI" as it nukes console and ties it to "development"/devmode.

[2021-01-14 15:58] 362228416 commented on #14271
@pmlopes
You're right. That's the reason. Thank you

[2021-01-14 15:58] #14271 closed

[2021-01-14 16:03] iocanel commented on #14299
Needs to be addressed on the client-side. Will fix it there!

[2021-01-14 16:06] patriot1burke commented on #13655
@jonathanroques I can't find documentation on 'GetResourceForCustomDomain'

[2021-01-14 16:14] patriot1burke commented on #13531
Linking docs on json format here for future reference on fixing this:

https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html

[2021-01-14 16:38] patriot1burke commented on #13531
@missourian55 A little late to getting to this, but are you deploying regular Lambdas that consume ApiGatewayV2HttpEvent?  Or are you using Resteasy (jax-rs) or some other Quarkus HTTP API?

[2021-01-14 16:51] patriot1burke commented on #13531
If you are deploying regular lambdas that consume ApiGatewayV2HTTPEvent, the problem in native mode is that we are using Jackson to deserialize this class.  Native doesn't use the core Java lambda runtime.  So, ApiGatewayV2HttpEvent does not have getters and setters so Jackson doesn't know how to convert from json to this class instance.

[2021-01-14 17:02] dandreadis commented on #14296
I kind of like the /devmode URL that leads you to the DevMode UI/Page/View/WebUI/add-other-name. As Stuart said, just think how you'd naturally describe it in a presentation.

[2021-01-14 18:16] dkopatz commented on #9630
How exactly did you solve the problem? Did you just remove the line in the application.properties?

[2021-01-14 18:28] UrosOdateam commented on #9630
Yes, I have removed the line.

Dobite Outlook za Android<https://aka.ms/ghei36>

________________________________
From: dkopatz <notifications@github.com>
Sent: Thursday, January 14, 2021 7:17:08 PM
To: quarkusio/quarkus <quarkus@noreply.github.com>
Cc: Pernat, Uros <Uros.Pernat@msg-life.com>; State change <state_change@noreply.github.com>
Subject: Re: [quarkusio/quarkus] Usage of InjectMock on Mi

[2021-01-14 19:08] ambition-consulting commented on #11449
Please fix this annoying bug - I want my build to be efficient, not download and slow down, and not pollute my file system.

[2021-01-14 19:55] akoufa commented on #10162
@evanchooly @cescoffier Now that Mutiny has a nice integration with Kotlin Coroutines and we also got RestEasy Reactive is there a possibility to support RestEasy routes as suspending functions e.g. `suspend fun` ?

[2021-01-14 20:07] aloubyansky commented on #11449
@famod will you have time to finish this one?

[2021-01-14 20:22] ambition-consulting commented on #11449
Are you maybe pulling it out of the setting.xml always?

[2021-01-14 20:28] aloubyansky commented on #11449
Unless it's propagated to the surefire plugin explicitly, it's simply lost.

[2021-01-14 20:31] aloubyansky commented on #11449
@ambition-consulting where do you configure the maven local repo path?

[2021-01-14 21:07] tarilabs opened #14307 "Regression: OAS openapi.json references broken due to redirect to /q"
**Describe the bug**
We use Eclipse Microprofile annotations to supply additional OAS definitions to the generated OpenApi.
Since Quarkus 1.11 redirection to `/q` for OpenApi definition, any OAS `$ref` would break since the relative path do not longer follow the expected convention.

**Expected behavior**
Either OAS `$ref` get reconciled following the relocation of the expected default (`/openapi.

[2021-01-14 21:19] famod commented on #11449
@aloubyansky

Well, first  we'd need to decide what to do. 😉
AFAICS, `MAVEN_OPTS` are not evaluated at all when there is no command line which (I suppose) is the case when running tests.
https://github.com/quarkusio/quarkus/blob/master/independent-projects/bootstrap/maven-resolver/src/main/java/io/quarkus/bootstrap/resolver/maven/options/BootstrapMavenOptions.java#L129-L130
(I'm also unfamiliar wi

[2021-01-14 21:27] famod commented on #11449
Btw, did anyone try my suggestion from August?
[code]

[2021-01-14 21:30] patriot1burke commented on #13531
Just need to exclude joda time

        <dependency>
            <groupId>com.amazonaws</groupId>
            <artifactId>aws-lambda-java-events</artifactId>
            <exclusions>
                <exclusion>
                    <groupId>joda-time</groupId>
                    <artifactId>joda-time</artifactId>
                </exclusion>
            </exclusions>
        </dependency>

Here's

[2021-01-14 21:30] #13531 closed

[2021-01-14 21:40] ambition-consulting commented on #11449
Yes, it works but messes Up IDEs badly.

Falko Modler <notifications@github.com> schrieb am Do., 14. Jan. 2021,
22:27:

[2021-01-14 21:42] dmlloyd commented on #14295
I'd prefer something like option 1, but the problem is that AFAIK there's no real way to determine whether the app is indeed a Quarkus app, and there is also no real way to communicate that to the configurator might be set up quite early in boot.

I guess that leaves option 2, which also stinks because you'd have to choose a fairly large limit in order to not lose legitimate messages at start.  It

[2021-01-14 22:12] xiaoyunwu commented on #9003
And update on this? I am getting the following "Class initialization of kotlinx.serialization.internal.IntSerializer failed." error when try to build native image.

[2021-01-14 22:26] sberyozkin commented on #14303
@mahieddine It sounds good, can you please consider creating a PR ?

[2021-01-14 23:18] famod commented on #14307
As a workaround, you could try to disable this redirection entirely: https://github.com/quarkusio/quarkus/issues/14066#issuecomment-752224560

[2021-01-15 02:14] stuartwdouglas commented on #9837
I have come back to this, and have figured out how to create a Jacoco extension: https://github.com/stuartwdouglas/quarkus/tree/jacoco

Basically all you need to do is add the extension, and Jacoco will be wired up automatically, including report generation, with no plugins etc required in the pom.

[2021-01-15 03:04] stuartwdouglas commented on #9837
The linked PR should fix the offline instrumentation issue, while the new subsystem should allow for online instrumentation.

[2021-01-15 03:04] River-java opened #14312 "Run ./gradlew quarkusBuild failed when setting 'quarkus.docker.dockerfile-jvm-path' in multi module of gradle project"
**Describe the bug**
(Describe the problem clearly and concisely.)
Run quarkusBuild would be failed when specifying the docker file path to the sub-module.

**Expected behavior**
The application project and image would build successfully.

**Actual behavior**
[code]

But the docker file does exist in the specified path. I tried to update the path to
`quarkus.docker.dockerfile-jvm-path=application/

[2021-01-15 03:22] jefrog1844 opened #14313 "Quarkus Form Authentication...404 Response"
**Description**
I'm using form authentication (quarkus.http.auth.form.enabled = true) with security-jpa and it works fine except when there is a post authorization error.  Also, my spa is located in resources/META-INF/resources

During my development I had a null pointer in the endpoint I set up as a re-direct.  I corrected the logic, then re-submitted my login to j_security_check and got a 404.

[2021-01-15 05:07] phillip-kruger commented on #14307
Hi @tarilabs.
Thanks for this, I'll look at it. I am wondering if ref would work (in 1.10.x - so before the `/q` change) if you set a custom http root (`quarkus.http.root-path=foo`).

I think you might have the same issue then and we just never had that scenario.

This might require a fix in SmallRye, I'll investigate.

[2021-01-15 05:54] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/487174952

[2021-01-15 05:59] Mobe91 commented on #9142
Build fixed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/487174615

[2021-01-15 06:02] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/487175796

[2021-01-15 06:10] rsynek commented on #11563
Build fixed:
* Link to latest CI run: https://github.com/kiegroup/optaplanner/actions/runs/487176091

[2021-01-15 06:43] phillip-kruger commented on #14307
Hi @tarilabs - do have a reproducer ?
What happens if you change the code to
`@org.eclipse.microprofile.openapi.annotations.parameters.RequestBody(content = @org.eclipse.microprofile.openapi.annotations.media.Content(mediaType = "application/json", schema = @org.eclipse.microprofile.openapi.annotations.media.Schema(ref = "/dmnDefinitions.json#/definitions/InputSet")), description = "DMN input")`

[2021-01-15 06:48] hrstoyanov commented on #14113
@geoand unfortunately I still see issues here with 1.11.RC1(see gradle config). Take a look at the attached reproducible project
[issue14113-new.zip](https://github.com/quarkusio/quarkus/files/5818878/issue14113-new.zip)

I added Version nested configuration and data for it in the application.yml. I expected to read that data , but instead - got the defaults from the Version interface???

Run Main

[2021-01-15 06:51] phillip-kruger commented on #14307
OK, I think this is not a bug.

Up until now you have been lucky that both `dmnDefinitions.json` and the generated openapi doc has been served from `/`.
So the URL used in your code is relative to current.

You have a few options:

1) change the URL in your code to be relative to the domain (add the `/`)
2) change the location in `META-INF/resources` (so add a folder called `q` and add the file in

[2021-01-15 07:21] geoand commented on #14295
@dmlloyd wouldn't something like https://github.com/quarkusio/quarkus/pull/14316 work?

[2021-01-15 07:48] geoand commented on #14113
I'll have a look later on

[2021-01-15 08:00] geoand commented on #14113
I took a look and if I am not mistaked, the problem lies in your configuration, not the way Quarkus handles it.
In your YAML you have:

[code]

which is wrong because there is no whitespace between `major:` and `16`. If you add a whitespace, then everything works as expected.

[2021-01-15 08:44] aloubyansky commented on #11449
TBH, I don't remember why. If checking `MAVEN_OPTS` regardless whether `MAVEN_CMD_LINE_ARGS` is set or not fixes this issue, we should probably do that.

That is just an alternative way to provide options when the Maven resolver is initialized from an app code. This property can be ignored in this context.

[2021-01-15 08:59] tarilabs commented on #14307
Hi, first thank you all for the prompt feedback, that's awesome :)

I still believe there is a bug, I will try to better frame my point based on this feedback.

---

If I add this to configuration:
[code]
then everything works as I expected:
![image](https://user-images.githubusercontent.com/1699252/104697416-03379680-5710-11eb-9fd1-d7a0bda40d1b.png)

that is, Swagger UI is fetching `openapi`, whi

[2021-01-15 09:03] geoand commented on #14312
@River-java do you have perhaps have a reproducer project to share?

Furthermore, can you try with more recent versions of Quarkus? `1.5.2` is quite old :)

[2021-01-15 09:09] Sgitario opened #14318 "OIDC > NullPointerException with RH SSO 7.4 and using Quarkus Keycloak authorization extension running"
**Describe the bug**
I've configured a Quarkus app using the extension "quarkus-keycloak-authorization" with the following properties:

[code]

Code:

[code]
This setup is NOT working either on jvm and native using the latest RH SSO 7.4 (I could not test with the latest Keycloak image).

**Expected behavior**
This setup should work the same as using a previous version of RH SSO 7.4 and/or Keycloak

[2021-01-15 09:23] famod commented on #9837
Awesome! I'll try to find some time to look at it over the weekend. Maybe we should create a separate enhancement issue?

I also wondered whether this extension might be a candidate for Quarkiverse? /cc @geoand @gsmet

[2021-01-15 10:01] phillip-kruger commented on #14307
Hi @tarilabs .

Q1) I think it's perfectly valid to start with /. It's just a URL, and /foo is a valid URL. So in terms of URLs:
- If you use just filename, it's relative to the source (openapi).
- If you use /filename, it's relative to the domain/host
- If you use a full URL (http://...) then if will reference it remotely.

From https://swagger.io/docs/specification/using-ref/:

So again, I think

[2021-01-15 10:10] tarilabs commented on #14307
Hi @phillip-kruger
thank you for the feedback, especially for A1 !

Re Q2, all the screenshot from https://github.com/quarkusio/quarkus/issues/14307#issuecomment-760764016 are with Incognito mode, hence no cache at play.
I truly believe the Quarkus' Swagger UI has a bug in its behaviour.

[2021-01-15 10:19] sberyozkin commented on #14318
Hey Pedro @pedroigor Please investigate when you can find some time, thanks

[2021-01-15 10:21] pedroigor commented on #14318
@Sgitario Thanks for the details. I'm going to check the differences today.

[2021-01-15 10:23] sberyozkin commented on #14313
CC @stuartwdouglas Hi Stuart - can you comment please when you get a sec, thanks

[2021-01-15 10:32] tarilabs commented on #14307
I am now doubtful of my statement for Q2, I believe I have some misunderstanding there.
I will try in the next days to just double check specifically for Q2.

For the main intent and purpose of this issue, the answer from @phillip-kruger about Q1/A1 solves my issue 👍

[2021-01-15 10:35] phillip-kruger commented on #14307
Thanks @tarilabs - closing. Please reopen if there are further concerns.

[2021-01-15 10:35] #14307 closed

[2021-01-15 10:56] glefloch commented on #14312
I just reproduced the error with the latests master branch. I'm having a look at the error.

[2021-01-15 11:03] r00ta opened #14320 "Native tests fail when quarkus.package.type=uber-jar"
**Describe the bug**
Using a brand new project, adding the property `quarkus.package.type=uber-jar` to the `application.properties` so to create an uber jar, the native tests fail to start the native image for an IOException.

[code]
The only workaround I found was to create a new default profile to create the uber jar so that the native profile stays clean (see https://github.com/kiegroup/kogito-

[2021-01-15 12:18] #9837 closed

[2021-01-15 12:21] albert0815 commented on #14318
Not sure whether I am suffering from the exact same problem but I think so. Using keycloak 12.0.1 I am also experiencing a NPE in JWSInput class which results from a refreshToken in the clientToken being null.

[2021-01-15 12:28] famod commented on #14164
Thanks for reporting!

I haven't reproduced it yet but looking at the code there does not seem to be a parent check.

Btw, `../pom.xml` is the default for `relativePath` and can thus be omitted. But I agree that the plugin should not mess with it.

I'll have a look in the next days.

/cc @aloubyansky

[2021-01-15 13:06] aloubyansky commented on #14164
@ia3andy fyi

[2021-01-15 14:12] eliaharm opened #14325 "for JAX-RS resources generated by Panache, when using PUT to update, omitted fields are set to null"
**Describe the bug**
when calling a REST api generated with Panache ORM quarkus-hibernate-orm-rest-data-panache

suppose you have the below table:
[code]
For an existing record, if you call the PUT api with the ID and JSON data
if for example the `Created_by` and `Created_Date` attributes are omitted in the JSON object, these fields will be set to `null`.

**Expected behavior**
the API should upda

[2021-01-15 14:19] loicmathieu commented on #14325
@eliaharm I don't agree with you, PUT should replace the entity with the body of the request.

This is what a standard PUT method is for, you can check the HTTP RFC: https://tools.ietf.org/html/rfc7231#section-4.3.4

   created or replaced with the state defined by the representation
   enclosed in the request message payload.

Partial update it a debatable subject on REST endpoint, it is sometime

[2021-01-15 14:46] eliaharm commented on #14325
Thanks @loicmathieu for the info, turned out to be a complicated subject.

I get there is no plan to support PATCH. If I want to have this option should I create a new api or can it be added in the same panache xxxxResource class?

Also for related tables for example master details, to update the MASTER should the JSON also include the DETAILS records or else the rows could be deleted?

[2021-01-15 14:57] davide-malagoli commented on #14284
I'm trying to code it myself, but I'm missing something.
How can I express the logic "this fields contains a class impleting this interface?

/**
 * <p>
 * Indicates that this field or property should be used as a source of password for security. Only
 * supports the {@link String} type.
 * </p>
 * <p>
 * Defaults to considering the password as hashed with bcrypt in the Modular Crypt Format.
 */
@

[2021-01-15 15:04] loicmathieu commented on #14325
You can open an ehancement request (a different type of issue) for this and starts a discussion

You should include the full ressource including all details. I won't be 100% sure that it will delete the details (it depends of your mapping I think) but it's possible.

[2021-01-15 15:21] ppatierno commented on #10147
I have same problem using 1.10.5.Final

[2021-01-15 15:53] ambition-consulting commented on #11449
Have you maybe defined the custom plugin repository somewhere?

[2021-01-15 16:15] johnpoth opened #14327 "quarkus.datasource.db-kind is not set when using PostgreSql ServiceBinding"
**Description**
quarkus.datasource.db-kind is not set when using PostgreSql ServiceBinding and so no default DataSource is created,

**Implementation ideas**
Set quarkus.datasource.db-kind

Thanks !

[2021-01-15 16:24] eliaharm opened #14329 "in REST resources generated by Panache add support for PATCH to enable partial updates"
**Description**
the REST api generated by Panache ORM quarkus-hibernate-orm-rest-data-panache only supports PUT for updating object.
To use PUT the complete object should be sent as JSON, you can't send only the field to be updated as this should be requested via PATCH.

related issue https://github.com/quarkusio/quarkus/issues/14325

[2021-01-15 16:25] eliaharm commented on #14325
done, request https://github.com/quarkusio/quarkus/issues/14329 .
thanks

[2021-01-15 16:25] #14325 closed

[2021-01-15 16:35] SaumyaSingh1 commented on #14195
@FroMage after adding `REST resources` , I need some hints for `Static Resources` and `Additional endpoints` categories.

[2021-01-15 16:40] StFS commented on #12647
This issue is still valid and should not have been closed. Your understanding of the intended behaviour was correct @AShynkevich.

The `quarkus.resteasy.gzip.max-input` property is used in the GZIP filter. The client gzips the upload content and sets the `Content-Encoding: gzip` header and puts the gzipped content in the body. The GZIP filter unzips the request body on the server side and this is

[2021-01-15 16:42] StFS commented on #12647
Forgot to tag @gsmet in the above comment. I believe this issue is valid and should be re-opened.

[2021-01-15 16:58] SaumyaSingh1 commented on #14195
Umm yes whatever seems good to you :)

For further improvements opening up new PR will be good I think ?

[2021-01-15 16:58] FroMage commented on #14195
So let's forget static resources for now and focus on "additional enpoints". The way the Quarkus build-time processors pass this on to the 404 page is in `ResteasyReactiveDevModeProcessor` in `extensions/resteasy-reactive/quarkus-resteasy-reactive/deployment`:

[code]

This essentially says that at build time, this function will get invoked by Quarkus, with `List<NotFoundPageDisplayableEndpointBui

[2021-01-15 17:02] SaumyaSingh1 commented on #14195
ok sure Stef, I will start working on it now :)
In case I will get stuck will ping on Zulip.

[2021-01-15 17:03] FroMage commented on #14296
I agree we can't call it "dev mode" because it means something else ATM and will make it confusing. I don't care if it's renamed, I understand your motivation.
"Dev Mode UI" or "Dev Mode Interface" sound OK to me.

[2021-01-15 17:05] FroMage commented on #14329
PATCH support is a great idea. WDYT @gytis ?

[2021-01-15 17:07] FroMage commented on #14195
Now _now_, surely, it's way past working hours in your time zone :)

[2021-01-15 17:09] SaumyaSingh1 commented on #14195
oh you noticed this Stef :)
alright then on next day

[2021-01-15 17:20] hrstoyanov commented on #14113
ouch ... you are correct! The traps of YAML

[2021-01-15 17:25] geoand commented on #14113
I personally dislike YAML very much...

[2021-01-15 17:36] hrstoyanov opened #14330 "Add TOML and JSON support for quarkus configuration"
**Description**
Quarkus supports  java properties, JSON and YAML formats for configuration. Each of these, unfortunately suffers from either verbosity, obscurity or weak syntax  validation for configuration purposes, as JSON and YAML are primarily data formats.

TOML emerges as the best format for configuration and it would be a wonderful addition to Quarkus. You can read about [TOML here](https:/

[2021-01-15 17:44] dmlloyd commented on #14295
Sure, that could work.

[2021-01-15 17:48] geoand commented on #14330
cc @radcortez

[2021-01-15 18:43] josejulio opened #14331 "Tests are not compiled with `maven.compiler.parameters=true`"
**Describe the bug**
When running the tests I see some errors about `parameters` not being set. This does not happen on `quarkus:dev`.

On my pom file I'm setting `<maven.compiler.parameters>true</maven.compiler.parameters>`

**Expected behavior**
Property `maven.compiler.parameters` being used by the tests

**Actual behavior**
Fails unless `parameters` are set into `maven-compiler-plugin`

[code]

[2021-01-15 18:56] ambition-consulting commented on #11449
Neither adding it to MAVEN_OPTS env nor Maven CLI parameters helped for me.

[2021-01-15 19:04] vladykin opened #14333 "NPE in ArtemisJmsProducer.connectionFactory()"
**Describe the bug**
A minimal application using `quarkus-artemis-jms` fails to start with strange NPE. See full code below.

**Expected behavior**
The application should start and initialize JMS ConnectionFactory without any exceptions.

**Actual behavior**
NPE immediately after startup:
[code]

**To Reproduce**

Create a project consisting of the following two Java source files and a pom.xml, th

[2021-01-15 19:07] glefloch commented on #14330
I would definitely be interested into working on this. As for `yml` this could be part of an extension. Maybe in quarkiverse?

[2021-01-15 19:07] ambition-consulting commented on #11449
Ok, I found a solution. It's simpler than I thought, but frankly:
- regular dependencies are ok with relative paths to the local repo, i.e. `-Dmaven.repo.local=.m2/repository` - as used in CI builds quite often
- plugin dependencies are not ok with relative paths and instead require an absolute path, ie. in GitLab: `-Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository`

[2021-01-15 19:12] geoand commented on #14330
I am fairly certain that @radcortez will want the core support to be in Smallrye Config.

But let's see what he says

[2021-01-15 19:13] radcortez commented on #14330
I think it would be better if this works happens in SR Config.

On the support itself, there are some limitations due to the MP Config API, namely treating every configuration as a single property key and value as String. This works fine for things like properties files, env, system properties, etc, but it is hard for `json` or `yaml` structures.

I do have some ideas on how to improve this, but I

[2021-01-15 19:13] radcortez commented on #14330
:)

[2021-01-15 19:17] geoand commented on #14330
A first step however could be to provide s ConfigSource similar to what you have with YAML, right?

Then ConfigProperties could use the same trick it does with for YAML to parse the value of the property for complex structures

[2021-01-15 19:32] #13990 closed

[2021-01-15 20:01] famod commented on #14331
I think this is a known maven-compiler-plugin bug:
https://issues.apache.org/jira/browse/MCOMPILER-413
That ticket also includes a workaround.

[2021-01-15 20:27] jamesward opened #14334 "Gradle Plugin Classpath Setting"
I'm using the Quarkus Gradle Plugin (1.11.0.Final) and need a way to set the Classpath that `quarkusDev` uses.  Reason is that for dev I like to create a configuration that has different stuff in it than the main configuration.  In Spring Boot I can use a `developmentOnly` configuration for this kind of thing.

[2021-01-15 20:30] famod commented on #14331
@josejulio please reopen in case you still think this is a Quarkus bug.

[2021-01-15 20:30] #14331 closed

[2021-01-15 20:31] josejulio commented on #14331
Thanks, the workaround specified there did the trick.

[2021-01-15 21:07] radcortez commented on #14330
Yes.

[2021-01-15 21:38] thomas-mc-work commented on #1632
I'd suggest to correct the documentation as long as this is not working:

https://quarkus.io/guides/config

[2021-01-15 21:48] #9449 closed

[2021-01-15 22:04] n1hility commented on #8134
@ia3andy should we call this done and maintain additional extensions as separate issues?

[2021-01-15 22:20] n1hility commented on #5920
@maxandersen should we call this complete?

[2021-01-15 22:24] #5602 closed

[2021-01-15 22:30] #10271 closed

[2021-01-15 22:32] #2120 closed

[2021-01-15 22:34] n1hility commented on #10409
@Sanne has been doing a lot of work here recently. Using this to capture his work. After that's complete I think we should close this task.

[2021-01-15 22:53] #2277 closed

[2021-01-15 22:56] n1hility commented on #5601
retiring issue

[2021-01-15 22:56] #5601 closed

[2021-01-15 22:57] #5917 closed

[2021-01-15 22:58] n1hility commented on #5711
retired issue

[2021-01-15 22:58] #5711 closed

[2021-01-15 22:58] #6025 closed

[2021-01-15 23:01] n1hility commented on #1505
Closing since this issue is partially obviated.

[2021-01-15 23:01] #1505 closed

[2021-01-15 23:02] #8194 closed

[2021-01-15 23:09] famod commented on #14283
/cc @patriot1burke

[2021-01-15 23:09] n1hility commented on #5962
This is more or less Quarkiverse, so closing to be replaced with other subtasks as needed.

[2021-01-15 23:09] #5962 closed

[2021-01-15 23:10] #10367 closed

[2021-01-15 23:21] famod commented on #14288
Interesting proposal (more of an enhancement than a bug).
/cc @gsmet @geoand

[2021-01-16 01:42] hrstoyanov commented on #14330
I would gladly test prototypes ! I have some real-world complex configurations as the one I sent to @geoand  before for yaml.

[2021-01-16 06:13] geoand commented on #14288
You are most likely seeing this because the java compiler has not been configured to include parameter names.

See https://github.com/quarkusio/quarkus-quickstarts/blob/master/hibernate-reactive-quickstart/pom.xml#L83 for an example configuation (which is automatically applied when creating a project from code.quarkus.io)

[2021-01-16 06:49] iocanel commented on #5920
For kubernetes and openshift we are ok, but we won't update the
.kube/config. For docker though there are two things that are missing:

- we use the docker binary under the hood.
- we  require a . docker/config.json

The latter is possibly true for job too.

Let me pick this up.

On Sat, Jan 16, 2021, 12:20 AM Jason T. Greene <notifications@github.com>
wrote:

[2021-01-16 07:20] #14312 closed

[2021-01-16 07:35] glefloch commented on #14334
Internally we already create a `quarkusDevMode` configuration internally. We could make it public. WDYT @aloubyansky ?

[2021-01-16 11:00] gytis commented on #14329
I totally agree.

[2021-01-16 11:24] heubeck commented on #10162
I really like the reactive routes and just `launch` with the vert.x couroutine dispatcher in there.
Works out really well also with child-coroutines using the Dispatchers.IO context - even in native mode with a current GraalVM (20.3).

For most cases, it's even simpler with mutiny-kotlin to just do a ```async { ... }.asUni()``` since reactive routes accept Unis and Multis as return type - no manua

[2021-01-16 12:09] famod commented on #14288
It never occurred to me that we also do support the jboss annotations already. In this case, following up on @geoand's suggestion, make sure you don't run into this problem: https://github.com/quarkusio/quarkus/issues/14331#issuecomment-761168707

[2021-01-16 12:22] AngelPerz opened #14340 "Vert.x EventBus duplicates messages if consumer package is called "processors""
**Describe the bug**
I'm getting an extrange behaviour while i was renaming my app packages. When I changed the name of my Vert.x consumer class package, every time it receives a message, is received twice.

The original name was "com.traderquark.reactive.processor", with everything working fine, and when i changed it to "com.traderquark.reactive.processors" the consumer receives 2 times the same

[2021-01-16 12:29] jaikiran commented on #9707
Hello @rsvoboda, is this only on Windows or even Linux? I haven't checked on this in a long time and I don't think I will have access to Windows anytime in near future.

[2021-01-16 16:39] kucharzyk commented on #12740
Does Quarkus we have any alternatives to invoke some extra logic after persisting entity?

My use case is saving basic informations about time and user who create and modify entity. Using enverse here would be overkill. I don't want also do it manually.

For dates I can use Hibernate @CreationTimestamp and @UpdateTimestamp. That works with Quarkus in native mode.

But what can I do with username o

[2021-01-16 18:37] akoufa commented on #10162
@heubeck Actually it would be even better if suspendable functions would supported in [RestEasy Reactive](https://quarkus.io/blog/resteasy-reactive/) which is like Reactive Routes but more high level and more declarative.

`@GET
    @Path("/{name}")
    suspend fun greetings(@RestPath name: String): String {
        return "$name"
    }`

As it is build also on top of Quarkus Vertx Layer that shou

[2021-01-16 18:54] mageddo commented on #6234
Very great solution, I've inspired on your code and made a fork which only is triggered when the request method is annotated with `FormDataJson.java`, hope it helps.

[code]

[code]

[2021-01-16 19:57] xiaoyunwu commented on #9003
@n1hility is there anything pointer on how this should be done? So that others can take a crack at it?

[2021-01-16 22:20] Postremus opened #14341 "Liquibase hot reload - This pool is closed and does not handle any more connections!"
**Describe the bug**
I am starting a new quarkus project which uses the quarkus-liquibase extension.

On normal quarkus start (mvn quarkus;dev), the liquibase changesets are run fine.

On hot reload, I get the exception from below.

**Expected behavior**
Liquibase migrations are executed succefully on hot reload.

**Actual behavior**
[code]

**To Reproduce**

Link to a small reproducer (preferably

[2021-01-17 08:52] mschorsch commented on #2656
Java Serialization Support was added to GraalVM.

https://github.com/oracle/graal/issues
/460#issuecomment-754114425

[2021-01-17 09:34] #8134 closed

[2021-01-17 13:21] floriansiepe commented on #1658
I just saw on Maven-Central that the [new JDBC drivers](https://mvnrepository.com/artifact/com.oracle.database.jdbc/ojdbc11/21.1.0.0) from Oracle have been released in version 21 with GraalVM support ([see here](https://blogs.oracle.com/developers/oracle-jdbc-19900-on-maven-central)) yesterday. This seems to be the "regular", blocking JDBC driver, but as stated [here](https://docs.oracle.com/en/da

[2021-01-17 14:16] mrizzi opened #14345 "minikube extensions overwrites existing Deployment's selector"
**Describe the bug**
When using the Quarkus Minikube extension with with already existing Deployment resource provided from `src/main/kubernetes/minikube.json` file, the `spec.selector.matchLabels` values are overwritten with the one coming from the application.

**Expected behavior**
Put the existing Deployment resource from `src/main/kubernetes/minikube.json` file unchanged into the generated `t

[2021-01-17 14:19] mrizzi commented on #14345
I've done some tests and debugging about this and my opinion is that the [ApplyLabelSelectorDecorator applied in MinikubeHandler](https://github.com/quarkusio/quarkus/blob/4c323ae72d2466c72ada1d2fbf773653748a4a84/extensions/kubernetes/vanilla/deployment/src/main/java/io/quarkus/kubernetes/deployment/MinikubeHandler.java#L128) should be removed to avoid the overwrite from happening.
I'll push a PR

[2021-01-17 14:37] kekbur opened #14347 "Separate layer for snapshot dependencies in quarkus-container-image-jib"
**Description**
I have a multi-module Maven project where a Quarkus application declares snapshot dependencies to the other modules. Currently `quarkus-container-image-jib` lumps all jar files in `target/lib` together into a single Docker image layer, including the snapshot jars of my dependent modules. This makes the Docker images much less efficient than what they could be because there is 50 MB

[2021-01-17 16:46] Postremus opened #14348 "Resteasy Reactive - stream cannot be null"
**Describe the bug**

I am right now starting a new quarkus project on 1.11.0.Final. I wanted to try out the new Resteasy reactive. However, on dev mode launch I get an exception which I can't fix myself.

If I switch to Resteasy Classic, no such exception occurs.

**Expected behavior**
Switching between Resteasy Reactive and Resteasy Classic should be as painless as possible. No random exceptions

[2021-01-17 18:15] mutasemhidmi opened #14350 "Graphql uplaod file"
is it possible to upload file using multipart ?

[2021-01-17 19:09] phillip-kruger commented on #14350
@mutasemhidmi no that is not possible.

[2021-01-17 19:11] mutasemhidmi commented on #14350
@phillip-kruger so the solution will be to convert it to base64 and send it as string or there is work around solution ?

[2021-01-17 19:15] phillip-kruger commented on #14350
I would just not use GraphQL for that. Either use vertx, or server, or rest. If you have GraphQL you also have vertx. I am not sure how easy that is, but I would start there.

[2021-01-17 21:02] famod commented on #11449
@ambition-consulting

Can you give an example? ` Unless I'm missing something, @QuarkusTest` shouldn't have anything to do with Maven plugins or their dependencies.

[2021-01-17 22:17] chschroe74 commented on #14270
Tested against the latest snapshot version. I can confirm that the issue is resolved.

[2021-01-17 22:17] #14270 closed

[2021-01-17 23:04] huw0 commented on #5492
Today I added a custom ConfigSource to my app and suddenly I am getting this stack, which I believe relates to this bug...

[code]

[2021-01-18 02:34] vorburger commented on #9985
Documentation for how to use Quarkus with Google Cloud SQL would be neat; especially because with a random web search and finding e.g. #5901 and #6634 and stumbling across related https://github.com/jtama-op/quarkus/commit/eb27113c050b2c98a0ef046a84d366484adf6e21, one could think this needs more work - when, actually, it does seem to work just fine using e.g. Quarkus 1.10.5 as-is, simply using a `

[2021-01-18 02:45] River-java commented on #14312
@glefloch @geoand Thank you.

[2021-01-18 03:37] #14105 closed

[2021-01-18 05:53] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/492815032

[2021-01-18 06:03] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/492815896

[2021-01-18 06:20] mutasemhidmi commented on #14350
will it support it in the future because if I'm not wrong Apollo the javascript library support something like this ?

[2021-01-18 06:21] phillip-kruger commented on #14350
@mutasemhidmi - this is not on our radar at the moment, but you can open a issue at https://github.com/smallrye/smallrye-graphql if you want this to be considered. Thanks :)

[2021-01-18 06:44] mutasemhidmi commented on #14350
thanks phillip for your help, i'm closing this question

[2021-01-18 06:44] #14350 closed

[2021-01-18 06:46] cescoffier commented on #14340
@AngelPerz did this happen while running the application in dev mode?

\CC @mkouba

[2021-01-18 06:49] cescoffier commented on #9262
The code generator is almost ready.
I will be able to create a branch soon, as we started having the first upstream components "VertexyFourized".

[2021-01-18 07:33] rsvoboda commented on #9707
Windows only

[2021-01-18 07:34] mkouba commented on #1632
@thomas-mc-work I don't think that the quoted line is related to this issue which is about accessing fields of CDI client proxies... What exact functionality are you after?

[2021-01-18 07:51] maweis1981 commented on #6356
I have the same problem now, Did this issue has been fixed yet?

[2021-01-18 07:56] mkouba commented on #14340
Hello @AngelPerz, I wasn't able to reproduce the problem locally with a modified [vertx-quickstart](https://github.com/quarkusio/quarkus-quickstarts/tree/master/vertx-quickstart). It would be helpful if you could either share a minimal reproducer app or brief instructions on how to modify the quickstart to reproduce the issue.

[2021-01-18 07:59] AngelPerz commented on #14340
@cescoffier This happens starting and stopping the app in dev mode, i mean, not using the hot replace.

Making other small tests yesterday, changing the name of the consumer class, it duplicates the messages again under the name of the old class for one message and with the new name for the second.

I made a grep search in the project folder and i saw a coincidence in a file inside the target fold

[2021-01-18 08:16] AngelPerz commented on #14340
@mkouba ok, this afternoon i will make a small project to test it and see what's happening.

[2021-01-18 08:38] geoand commented on #14347
This is a really good idea

[2021-01-18 08:55] geoand commented on #14341
Hm...

I don't remember ever seeing anything like this before... @gsmet have you?

[2021-01-18 09:26] geoand commented on #14327
As mentioned in https://github.com/quarkusio/quarkus/pull/14328#issuecomment-761071198, this is intentional as `quarkus.datasource.db-kind` is a build time property

[2021-01-18 09:26] #14327 closed

[2021-01-18 09:28] #14154 closed

[2021-01-18 09:30] gsmet commented on #14340
Hum, wouldn't it just be that the old class is still around after renaming it? Looks like it.

[2021-01-18 09:50] cescoffier commented on #14340
@gsmet yes, it's what I'm thinking. If the event is _sent_ using "publish", all consumers will get the message.

[2021-01-18 09:50] gsmet commented on #14341
Nope, never saw this error.

But I reproduced it, will see if I can get a fix.

[2021-01-18 10:05] gsmet commented on #14341
Ah ah this is a funny one. I spotted it by reading the code. Will work on a fix.

[2021-01-18 10:48] thomas-mc-work commented on #1632
Isn't this issue about accessing config class values via public attributes instead of getters? For me the quoted line is telling that I can do exactly that. But maybe I'm wrong as I'm not a native English speaker.

[2021-01-18 11:09] geoand commented on #14347
@aloubyansky is there a way we can know from the `AppModel` whether or not a runtime dependency is part of the "project" or not?

[2021-01-18 11:14] gsmet commented on #14347
Shouldn't we put all snapshot dependencies in a separate layer, whether they're part of the project or not? They are moving targets anyway.

[2021-01-18 11:15] geoand commented on #14347
That's a good idea as well - and part of a second enhancement

[2021-01-18 11:16] maxandersen opened #14359 "update jbang codestart to use platform @pom"
**Description**
jbang 0.62+ supports bom's.

thus it can do:

[code]

instead of:

[code]

i.e. notice the first @pom and rest do not need to specify versions as long as the artiafct is in the bom/pom.

[2021-01-18 12:04] #14348 closed

[2021-01-18 12:10] gsmet commented on #14347
Oh, I thought it would be easier given you asked how to differentiate them :).

[2021-01-18 12:17] pedroigor commented on #14318
@Sgitario Could you check if the workaround works for you https://issues.redhat.com/browse/QUARKUS-695?

I'm going to send a fix soon for https://issues.redhat.com/browse/KEYCLOAK-16837.

[2021-01-18 12:20] geoand commented on #14347
Now that I started to implement it, you are right :)

[2021-01-18 12:42] geoand commented on #14347
@gsmet I followed your advice and opened https://github.com/quarkusio/quarkus/pull/14362

[2021-01-18 14:01] bslaterdk opened #14365 "When packaging using Openshift extension and s2i, created image run not find quarkus application on start."
**Describe the bug**
When packaging an Quarkus application using the s2i Openshift extension. The build docker image, can not find the quarkus application in docker image /deployment folder and thus cannot start the application

**Expected behavior**
When running the built docker image with following command:
docker run namespace/openshift-s2i-issue:1.0.0
It is expected that the Quarkus applicatio

[2021-01-18 14:03] geoand commented on #14365
cc @iocanel

[2021-01-18 14:09] gunnarmorling opened #14366 "Kafka consumer consumes all CPU when shutting down the broker"
With SmallRye Reactive Messaging Kafka, when shutting down the broker, an application consuming topics will spike up to 100% CPU usage.

// CC @cescoffier

[2021-01-18 14:24] #14333 closed

[2021-01-18 14:27] lordofthejars opened #14367 "db-kind cannot be overridden from QuarkusTestResourceLifecycle manager"
**Describe the bug**

I've got the following configuration at `application.properties` file:

[code]

Then I created the following QuarkusTestResourceLifecycle manager:

[code]

Notice that by default test profile is configured to use H2 but then I override the configuration.

**Expected behavior**

MariaDB configuration us used.

**Actual behavior**

Some of the properties are overridden but not

[2021-01-18 14:27] edeandrea opened #14368 "quarkus-infinispan extension hard-coding location of hotrod-client.properties"
I posted this on zulip chat last week but haven't been able to get a response (https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Quarkus.20infinispan.20extension.20hotrod-client.2Eproperties/near/222425566)

Using the Infinispan component with camel-k. The issue is that the quarkus-infinispan extension hard-codes the location of `hotrod-client.properties` as `META-INF/hotrod-client

[2021-01-18 14:28] edeandrea commented on #14368
@lburgazzoli I filed this here re the `hotrod-client.properties` issue we were discussing (apache/camel-k#1898).

[2021-01-18 14:34] mkouba commented on #1632
Not really, this issue is about accessing `@ConfigProperty` fields of a bean for which a client proxy was injected. See https://quarkus.io/guides/cdi#client_proxies for more information. `@ConfigProperties` is used to "group" injected config properties in a separate class.

CC @geoand

[2021-01-18 16:05] lordofthejars commented on #14367
In fact what is happening is that the dialect is loaded before the QuarkusTestResource is executed:

[code]

[2021-01-18 16:33] geoand commented on #14367
`quarkus.datasource.db-kind` is a build time property, it cannot be set at runtime

[2021-01-18 16:33] #14367 closed

[2021-01-18 16:45] lordofthejars commented on #14367
Ok but then we have a problem here. Look I can have component tests and integration tests. Component tests are run in H2 and integration tests in real MariaDB. So I should be able to override this property too. I know that there is a workaround and it is creating a custom Quarkus profile where I set the db-kind. But then the test is not self contained.

[2021-01-18 16:49] geoand commented on #14367
You could also use different Maven profiles to do your testing.

Although I understand this is a limiation, it is something we've done from day 1 and something which enables various other optimizations.

cc @gsmet

[2021-01-18 16:53] lordofthejars commented on #14367
Yes, the workaround is Maven profiles and Quarkus profiles, I completely agree and I understand that if this has been there for several optimizations then it is not going to change :)

[2021-01-18 17:22] yunusual opened #14373 "Sentry can not be configured with environment variables, VM arguments or sentry.properties file"
**Describe the bug**
Sentry Java SDK supports additional configuration sources like environment variables starting with `SENTRY_` prefix, sentry.properties files in classpath or VM arguments. This is no longer possible after the SDK version upgrade to 3.2.0 with #14153. Sentry configuration explains that these configuration options are taken into account only if `enableExternalConfiguration` is en

[2021-01-18 17:26] gsmet commented on #14296
For me, it's more a Development UI, rather than simply a Dev mode one. You can do a lot of things that are not related at all to Dev mode. Granted, it's available in dev mode but it's really about easing development.

I will create a PR to rename it `Dev UI` so that it's consistent with all the other UIs @phillip-kruger is working on.

[2021-01-18 18:24] cescoffier commented on #14366
Do you have a reproducer? That's weird...

[2021-01-18 18:47] kamilgregorczyk commented on #8974
I think the difference I that when you build ```./gradlew build -Dquarkus.package.type=native``` on a Mac, it will compile it to Mac byte code, which then after being copied to docker is no longer compatible with linux.  By doing `./gradlew build -Dquarkus.package.type=native -Dquarkus.native.container-build=true` you are actually building it with docker for linux which makes the binary no longer

[2021-01-18 18:55] stefan-langenmaier commented on #6356
I haven't tried it again. I used the workaround to store it as a string.

[2021-01-18 19:16] AngelPerz commented on #14340
@gsmet @cescoffier  You both are right. I have spent some time trying to force the failure but after erasing yesterday the content of the target folder I'm not able to make it fail again. Neither in the main project or in a small new for testing it, in dev mode and native.

Making searches with grep I only find the classes in the files "/target/maven-status/maven-compiler-plugin/compile/default-co

[2021-01-18 19:34] gsmet commented on #14340
We can close it. Thanks for the detailed feedback!

[2021-01-18 19:34] #14340 closed

[2021-01-18 19:36] gsmet commented on #14366
@gunnarmorling if you don't have a reproducer, maybe a thread dump would help?

[2021-01-18 19:43] samodadela commented on #13297
If you change guava 30.0 (quarkus BOM) to guava 30.1-pre, the problem goes away.

[2021-01-18 19:48] gunnarmorling commented on #14366
One reproducer, albeit not exactly minimal is here: https://github.com/debezium/debezium-examples/tree/master/distributed-caching#running-the-quarkus-services-locally-in-dev-mode. Make sure to adjust the exposed host name in the Compose file as described; then:

[code]

Then stop the broker (`docker-compose down`), and CPU gets usurpated.

[2021-01-18 21:51] #14341 closed

[2021-01-19 00:53] vvavepacket commented on #14235
@stuartwdouglas Our team skills is leaning towards ReactiveX so we figured out it makes sense to continue and build on that. I see that there was no support for RxJava3. Thanks for clearing it up.

[2021-01-19 06:11] #11962 closed

[2021-01-19 06:50] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/495313270

[2021-01-19 06:53] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/495314107

[2021-01-19 07:14] cescoffier commented on #14366
I believe I know what's happening. The last time I checked it was not possible to configure the Kafka Network Client, and it was retrying to connect without any delay. I will have another look this afternoon.

[2021-01-19 07:42] geoand commented on #6588
@cescoffier the `mailer-quickstart` is failing with what seems to be a Mutiny API change

[2021-01-19 07:42] geoand commented on #14373
cc @ia3andy

[2021-01-19 08:53] ia3andy commented on #14373
Hey @yunusual,

Thanks for taking part of making Quarkus better by posting this :)

Sentry extension is responsible of mapping the Quarkus Config to Sentry Options:
https://github.com/quarkusio/quarkus/blob/master/extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryHandlerValueFactory.java#L36

In Quarkus extension role of proper integrator, we never actually supported

[2021-01-19 09:09] cescoffier commented on #6588
Yes, we have introduced a breaking change (CompletionStage to Uni). @rsvoboda is already working on it.

[2021-01-19 09:11] geoand commented on #6588
Thanks

[2021-01-19 09:26] #12056 closed

[2021-01-19 09:49] jonathanroques commented on #13655
Oh it's just a random name you can set. The important part is that the "/" path has to be somewhere in the events list.

[2021-01-19 10:11] pjgg opened #14389 "Default database name, throw an exception: 'io.vertx.db2client.DB2Exception'"
**Summary**
As is not possible to set a default DB for a given data source you must include the dbName in all your statements. If you use the default DB name given by the driver (db) you don't require to add the DB name to your statements, however, Vertx adds the default dbName to your statement in the wrong DB2 format:

**Expected behavior**
[code]

**Actual behavior**
`io.vertx.db2client.DB2Exce

[2021-01-19 10:13] Sanne commented on #1658
Unfortunately it seems the Oracle driver is including explicit GraalVM directives, but these are not compatible with other flags that other frameworks require. You can check the parameters they impose by looking into the resources in `/META-INF/native-image/` (bundled within the driver).

In particular I noticed these as being problematic:

- `--allow-incomplete-classpath` tends to hide serious pr

[2021-01-19 10:47] sberyozkin commented on #12015
Hi All, would like to resume this discussion, also Rostislav @rsvoboda would like to be involved.

I've been thinking again about it and I feel the simplest option is simply have a new `integration-tests/keycloak-authorization-rhsso` test module which will run the same test as `integration-tests/keycloak-authorization-rhsso`; and going forward these tests would have to be in sync.

I'll give it a

[2021-01-19 10:49] mamadaliev commented on #10035
Is the question still relevant? Already added support?
I have not found.

[2021-01-19 10:49] #14313 closed

[2021-01-19 11:07] rsvoboda opened #14391 "Generated app - deprecated className property highlighted instead of preferred packageName"
https://github.com/quarkusio/quarkus/blob/master/devtools/maven/src/main/java/io/quarkus/maven/CreateProjectMojo.java#L109 says that `className` parameter is deprecated and `packageName` should be used instead.

Quarkus guides are still using `className` parameter when generating sample project, e.g. https://quarkus.io/guides/getting-started#bootstrapping-the-project

[code]

Mentioned change land

[2021-01-19 11:20] Sanne opened #14392 "ConnectionPoolsClosedTest is racy"
**Description**
The condition on line 35 of ConnectionPoolsClosedTest depends on a background thread to not only have completed its task (which we wait for) but it also requires the Thread to have been flagged as no longer running - which we're not waiting for.

This makes the test occasionally fail on CI.

**Implementation ideas**
Wait for the background thread to having been killed.

[2021-01-19 12:01] patriot1burke commented on #13655
I'm in the process of switching to proxy 2.0 api.  This might solve the problem in the process.

[2021-01-19 12:25] pjgg opened #14394 "MP Fault Tolerance - default method fallback doesn't work in native mode"
**Summary**
I have a microprofile HttpClient on Native mode, and also a fallback action configured, then I got the following exception:

[code]

**Expected behavior**
Same as JVM mode (if HTTP request fail, then move on to fallback)

**Actual behavior**
[code]

**To Reproduce**

Setup an HttpClient pointing to a not found URL

[code]

And then make a query:
[code]

[Jira ref](https://issues.redhat

[2021-01-19 13:05] mkouba commented on #14394
CC @Ladicek

SmallRye has a workaround for default fallback methods: `io.smallrye.faulttolerance.DefaultMethodFallbackProvider.getFallback(Method, ExecutionContextWithInvocationContext)`. However, this may not work in native mode and therefore the method is substituted in `io.quarkus.smallrye.faulttolerance.runtime.graal.Target_io_smallrye_faulttolerance_DefaultMethodFallbackProvider.getFallback()

[2021-01-19 13:16] Ladicek commented on #14394
Yea I've noticed that, and chose to forget about it because supporting it will probably require non-trivial changes in SRye FT :-) Assigning to myself, but it will take a bit of time.

[2021-01-19 13:17] andreas-eberle commented on #7883
What is the status on this issue? We just ran into it and where very confused until we found this bug report.

Is it guaranteed, that this will only happen in dev mode? And that it only happens with the NotFoundException? Or are you planning to add mappers for more Exceptions in the future or for the normal build as well?

I think this issue should be fixed and not forgotten.

[2021-01-19 13:23] heubeck opened #14397 "Resteasy-Reactive: Wrong blocking configuration handling in ResteasyReactiveScanner"
Blocking configuration issue in ResteasyReactiveScanner:

https://github.com/quarkusio/quarkus/blob/master/independent-projects/resteasy-reactive/common/processor/src/main/java/org/jboss/resteasy/reactive/common/processor/scanning/ResteasyReactiveScanner.java#L87

the following for sure is not intended:
[code]

[2021-01-19 13:25] gsmet commented on #14397
I discussed with @heubeck on Zulip. The issue is that both conditions are exactly the same which looks very suspicious.

[2021-01-19 13:25] geoand commented on #14397
Let me check

[2021-01-19 13:44] rsvoboda opened #14399 "Mailer guide shows examles with CompletionStage, Quarkus way is using Uni now"
Mailer guide shows examles with CompletionStage, Quarkus way is using Uni now
Change to Uni was introduced in quarkusio/quarkus#14344

In mailer guide the signature of the methods should change and return a Uni. This is the model Quarkus recommends.
Few things about Uni vs. CS should be mentioned to explain why Uni is the way.

QS update in https://github.com/quarkusio/quarkus-quickstarts/pull/751

[2021-01-19 13:54] yunusual commented on #14373
Hi @ia3andy. Thanks for the explanation. Makes sense and I'm perfectly fine with the approach of supporting configurations in Quarkus Sentry extension only. Let me explain in more detail the issue I have experienced. In its core, this is a Sentry SDK issue rather than Quarkus.

I would like to enrich Sentry events with my transaction's MDC context, but I need them to appear as "tags" in Sentry. Th

[2021-01-19 13:56] glefloch commented on #14399
I updated the `MailerTemplateInstance`. I can update the doc, I forget about it.

[2021-01-19 14:01] geoand commented on #14397
https://github.com/quarkusio/quarkus/pull/14400 fixes the issue

[2021-01-19 14:21] patriot1burke commented on #14283
VirtualChannel is a private internal API.  Not sure why you are using it.  Have you taken a look at our lambda http support?

https://quarkus.io/guides/amazon-lambda-http

VirtualChannel is set up by that quarkus extension.  Your usage is something I'm not willing to support as again, this is an internal API.

[2021-01-19 14:27] glefloch commented on #14399
Actually in `https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/mailer.adoc#message-body-based-on-qute-templates` the result of `MailerTemplateInstance#send` is already converted into a `CompletionStage` using `.subscribeAsCompletionStage`.

The docs looks up to date. However, should add a note specifying that `quarkus-resteasy-mutiny` can be used to directly return a `Uni` ?

[2021-01-19 14:31] maxandersen commented on #2611
Now that Quarkus is listed on https://nvd.nist.gov/products/cpe/search/results?namingFormat=2.3&keyword=quarkus and CVE's can be reported there by anyone in community (incl. red hat security) are there anything left on this issue or can we close it ?

[2021-01-19 14:32] lburgazzoli opened #14401 "dev mode: support for setting system properties and env variables"
**Description**

Since version 1.3.0, [camel-k](https://github.com/apache/camel-k) has switched to Quarkus as default runtime. For troubleshooting purpose we have some pure java based examples which I'm now migrating to use `quarkus:dev` instead of the `exec-maven-plugin`

Our current setup is like:

[code]

The most relevant part here is the `environmentVariables` as camel-k uses some env vars fo

[2021-01-19 14:35] lburgazzoli opened #14402 "dev mode: support suppressing warnign about non existing source directory"
**Description**

Since version 1.3.0, [camel-k](https://github.com/apache/camel-k) has switched to Quarkus as default runtime. For troubleshooting purpose we have some pure java based examples which I'm now migrating to use `quarkus:dev` instead of the `exec-maven-plugin` and since in camel-k we basically do composition, we don't have any source in project and that leads to the following warning:

[2021-01-19 15:33] slinstaedt opened #14403 "quarkus:dev's debugHost not configurable"
We are running development environments and tools in containers and trying to separate responsibilities not only in separate containers (and also pods, so colocation is not really a solution). One of the ideas was separate IDE pods from the actual application (quarkus-based, in this occasion) being in development. The challenge for us is, to make relevant ports from the application in development

[2021-01-19 15:34] loicmathieu commented on #2611
Accoring to me, this can be closed.

We will no longuer have false positive CVE (or we will have less).
Security researchers will be able to expose CVE to NVD if they found one.

[2021-01-19 15:58] ia3andy commented on #14373
Hi @yunusual,

Well I think we have something like this, just slightly different, instead of tag, it's now in the context:
[code]

Does that help?

Cheers,

[2021-01-19 16:14] jtama-op commented on #14178
Ok if this isn't considered worth documenting, this issue should be closed (though I still think a small word on that point would benefit developers)

[2021-01-19 16:22] yunusual commented on #14373
Unfortunately, it does not help. With that, Sentry only adds them to the list of MDC:
![image](https://user-images.githubusercontent.com/1414523/105062126-4f296900-5a8b-11eb-999b-6ffc5fea7c18.png)

But I need them as tags for Sentry to allow searching on them. Like this:
![image](https://user-images.githubusercontent.com/1414523/105062271-797b2680-5a8b-11eb-8d2b-6c2e71965014.png)

[2021-01-19 16:33] maxandersen commented on #2611
great, that is my understanding too so going to close this.

If still an issue please open new issue with details. Thanks.

[2021-01-19 16:42] ia3andy commented on #14373
Ok @yunusual gotcha!

If you have a safe and working workaround, I think it'd be better to wait. While I agree it would be nice to give the choice as you suggested, we won't have control over the SentryHandler for long as it will soon be part of the Sentry library (it was just a temporary workaround). Though we may extend it, so there may be a possibility if this is really needed.

Adding a config

[2021-01-19 16:45] BastianSperrhacke-Otto commented on #9671
Hello everyone. First of all: +1 for this topic.
The workaround from @dfa1  does not work for me, the interceptor methods are called in a wrong Order (aroundWriteTo first), which is kind of confusing to me...

Nevertheless I rewrote a workaround which is working for me (even shorter):
``@Provider
public class GzipSupport  implements ContainerResponseFilter {

    @Override
    public void filter(C

[2021-01-19 16:45] ia3andy commented on #14373
If this seems reasonable, maybe we should close this bug issue and open a feature request with what you are looking for, maybe some other community members will vote for it :)

[2021-01-19 16:51] #14397 closed

[2021-01-19 16:53] ia3andy commented on #14391
I am implementing a fix:

I will remove the deprecation notice on `className` and add this behavior:
[code]

This will fix all guides.

[2021-01-19 16:53] ia3andy commented on #13917
We decided on a fix: https://github.com/quarkusio/quarkus/issues/14391

[2021-01-19 17:01] dfa1 commented on #9671
@BastianSperrhacke-Otto does your class support reading a gzipped request as well?

[2021-01-19 17:02] ia3andy commented on #14391
Here is the output:
[code]

[2021-01-19 17:04] ia3andy commented on #14391
Ok I'll have the PR ready tomorrow :)

[2021-01-19 17:21] famod commented on #11449
I'm testing my fix locally and my first observation is that the `~` directory is created by Maven, not by Quarkus, _if it is used in `MAVEN_OPTS`_!
If you use it directly on the command line then your shell will resolve `~` to a full path.

@aloubyansky We _could_ still try to resolve `~` in Quarkus but I leaning towards no.

[2021-01-19 17:39] cescoffier commented on #14399
Yes, the idea is to show the usage of Uni directly, without the need to use an intermediate CompletionStage.

[2021-01-19 17:59] EfraimLA commented on #4644
what's plan or future of this?

[2021-01-19 18:08] famod commented on #11449
Well, what can I say? Surefire automatically passes `localRepository` as a system property to the forked test JVM and according to my tests, Quarkus is picking it up for tests just fine!

See:
- https://github.com/apache/maven-surefire/blob/surefire-3.0.0-M5/maven-surefire-common/src/main/java/org/apache/maven/plugin/surefire/AbstractSurefireMojo.java#L1217
- Sample output when using `-X`:
[code]

[2021-01-19 19:04] BastianSperrhacke-Otto commented on #9671
No, but my Test does:
[code]

[2021-01-19 19:46] aloubyansky commented on #14347
yes

[2021-01-19 20:04] gsmet opened #14405 "Dev UI - "Request has already been read" error when clearing cache if smallrye-graphql extension present"
If the smallrye-graphql extension is present in my project, I have the following exception when clearing a cache using http://localhost:8080/q/dev/io.quarkus.quarkus-cache/caches:

[code]

I attached a reproducer. Just untar the project and run `mvn clean quarkus:dev` then go to http://localhost:8080/q/dev/io.quarkus.quarkus-cache/caches and clear the cache.

When smallrye-graphql is commented fro

[2021-01-19 20:52] rsvoboda commented on #12015
Where are the rhsso images going to be pulled from? And are there standalone images for rhsso?

I'm aware of rhsso images for OpenShift and there are some limitations:
 - unauthenticated access is only to 7.3 image - https://catalog.redhat.com/software/containers/detail/5c30bb7e5a13463a3e211e85?container-tabs=gti&gti-tabs=unauthenticated
 - 7.4 requires authentication  - https://catalog.redhat.com

[2021-01-19 20:53] lbroman opened #14407 "DI is not working properly on Job instances when scheduling quartz jobs programmatically"
**Describe the bug**
When using job classes with programmatic job/triggers in quartz, fields annotated with @Inject gets injected, but with instances that have fields which have not been injected.

I discovered this problem when using a @ConfigProperty field which had different values at different times. After elaborating, this also applies to @Inject ed fields.

**Expected behavior**
Fields on in

[2021-01-19 21:20] #14347 closed

[2021-01-19 21:50] kekbur commented on #14347
Well, that was fast. Thanks guys.

[2021-01-19 21:54] geoand commented on #14347
Keep in mind that for the time being what you requested will only work when the version of your project (and therefore the dependencies) use the SNAPSHOT in their version.

This restriction might be lifted in later revisions of the code

[2021-01-19 22:36] machi1990 commented on #14407
By moving the [UpdateJob](https://github.com/lbroman/quarkus-config-bug/blob/152e4d1ece237923e40e322250fce834426dc4fa/src/main/java/se/lbroman/quarkus/JobScheduler.java#L62) class to an upper class (i.e into a file of its own), I've the following output
[code]
@lbroman can you confirm the output is correct with that change?

However, leaving it as it is indeed indicates the problem as shown by out

[2021-01-19 22:47] #10515 closed

[2021-01-19 23:40] #10521 closed

[2021-01-20 02:36] stuartwdouglas commented on #14295
I just tested the reproducer and you can work around it by doing:

     <plugin>
         <artifactId>maven-surefire-plugin</artifactId>
         <version>${surefire-plugin.version}</version>
         <configuration>
           <systemPropertyVariables>
             <java.util.logging.manager>java.util.logging.LogManager</java.util.logging.manager>
             <maven.home>${maven.home}</maven.hom

[2021-01-20 03:01] missourian55 opened #14414 "Upgrade from 1.11.0.Beta1 to 1.11.0.CR1 - Native image Build failure"
**Describe the bug**
I upgraded my existing project from 1.11.0.Beta1 to 1.11.0.CR1 and getting build failure during native image build.

**Expected behavior**
Native image build should succeed

**Actual behavior**
Stack trace
[code]

**Configuration**
[code]

**Screenshots**
(If applicable, add screenshots to help explain your problem.)

**Environment (please complete the following information):*

[2021-01-20 03:05] stuartwdouglas commented on #13593
I had an attempt at implementing this, and it is not going to be easy. At the moment we basically have a chicken and egg problem, where the RR deployment expects the BeanContainer to be present in order to create the factories we need. We also need the SynthesisFinishedBuildItem to be present in order to figure out if a given parameter is actually a bean, which means we can't mark beans as being u

[2021-01-20 04:12] 362228416 commented on #14283
@patriot1burke
I need support for websockets, and I want to forward HTTP requests like amazon-lambda-http, maybe is that more efficient? I can only forward my request through HttpClient at this time

[2021-01-20 04:36] stuartwdouglas commented on #9671
I just wrote a test for this and it appears to work, the main issue is that the docs don't mention that you need a @GZIP annotation for this to take effect.

[2021-01-20 05:26] stuartwdouglas commented on #14403
You should be able to do mvn quarkus:dev -DdebugHost=0.0.0.0

[2021-01-20 05:38] madduci commented on #13996
I don't know what to say, but stripping down my application to the base minimum and using the Mailer (not the reactive variant), I still get the stacktrace error with the UnknownHostException

[2021-01-20 05:58] tedwon opened #14416 "Fix typo in the guide "BUILDING QUARKUS APPS WITH GRADLE""
**Describe the bug**
The guide "BUILDING QUARKUS APPS WITH GRADLE" has unnecessary ')' in the sentence, "Alternatively, there is some unofficial Gradle Jandex plugins that can be used instead of the META-INF/beans.xml file.". It's better to remove the ')'.
https://quarkus.io/guides/gradle-tooling#multi-module-gradle

**Expected behavior**
"Alternatively, there is some unofficial Gradle Jandex plug

[2021-01-20 06:00] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/497782663

[2021-01-20 06:06] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/497784004

[2021-01-20 06:08] geoand commented on #14295
I spent too much time trying to come up with a solution and no good one seems to exist.
I think we just need to accept the fact and indeed just do something like you mention.

Furthermore the problem only shows up when only non Quarkus tests are executed - as soon as Quarkus test comes into play, it works.

I'm in favor of closing the issue and my (crappy) PR

[2021-01-20 06:35] cescoffier commented on #13996
The non-reactive mailer runs on top of the reactive one. But here the problem is DNS, it's not the mailer. Which version of GraalVM do you use?

[2021-01-20 06:43] imshuv commented on #12956
I want to work on this ,I would be extremely thankful if someone could guide me on how to get started with this?

[2021-01-20 06:44] imshuv commented on #12924
I want to work on this ,I would be extremely thankful if someone could guide me on how to get started with this?

[2021-01-20 06:44] imshuv commented on #10927
I want to work on this ,I would be extremely thankful if someone could guide me on how to get started with this?

[2021-01-20 06:45] imshuv commented on #14284
I want to work on this ,I would be extremely thankful if someone could guide me on how to get started with this?

[2021-01-20 06:45] imshuv commented on #14219
I want to work on this ,I would be extremely thankful if someone could guide me on how to get started with this?

[2021-01-20 06:49] Dufgui commented on #12924
You can take a look at my pr https://github.com/quarkusio/quarkus/pull/14062
I have no more time to work on it. You can fork it or start from scratch. Up to you. ;)

[2021-01-20 06:55] HardNorth opened #14418 "ResteasyCommonProcessor: NullPointerException in case of using default annotation values for `@Produces` or `@Consumes`"
**Describe the bug**
Hello. I'm getting a `NullPointerException` if I try to run a test for a simple web service with `@Produces` or `@Consumes` annotations default values.

Here is an example of such method:
[code]
And the class itself:
https://github.com/HardNorth/service-merge-validate/blob/c8952c753a693f287ce9655a8e55f34af4ea72d3/src/main/java/net/hardnorth/github/merge/api/MergeValidateContro

[2021-01-20 07:01] yunusual commented on #14373
Sounds good to me. The workaround is fine for now, so there is no urgency. I'll close this issue, monitor https://github.com/getsentry/sentry-java/issues/1148 for further progress by Sentry and create a new issue later if needed. Thanks for thinking along @ia3andy.

[2021-01-20 07:01] #14373 closed

[2021-01-20 07:09] #14416 closed

[2021-01-20 07:14] cescoffier commented on #14234
The issue has been fixed by @loicmathieu upstream, and the version has been released and integrated.

[2021-01-20 07:14] #14234 closed

[2021-01-20 07:24] ambition-consulting commented on #11449
Surefire Plugin will download a lot if a relative path is provided.

Falko Modler <notifications@github.com> schrieb am So., 17. Jan. 2021,
22:02:

[2021-01-20 07:25] mkouba commented on #14407
Hello, the problem is that `se.lbroman.quarkus.JobScheduler.doUpdate()` is `private` and so if you [invoke the method upon the injected proxy](https://github.com/lbroman/quarkus-config-bug/blob/152e4d1ece237923e40e322250fce834426dc4fa/src/main/java/se/lbroman/quarkus/JobScheduler.java#L71) then the invocation is not delegated to the target bean instance and the client proxy has no state (`JobSched

[2021-01-20 07:49] machi1990 commented on #14407
Thanks @mkouba for the explanation.

[2021-01-20 07:55] geoand commented on #14414
@galderz I believe this is one for you :)

[2021-01-20 08:04] geoand commented on #14407
I'm going to close this as it is not a problem in Quarkus

[2021-01-20 08:04] #14407 closed

[2021-01-20 08:06] geoand commented on #14402
What sort of option are you thinking of @lburgazzoli ?

[2021-01-20 08:11] lbroman commented on #14407
Sorry for posting what was actually a support question as a bug. I would not have been able to figure this out myself. Thanks so much for the explanation!

[2021-01-20 08:22] geoand commented on #14403
I added a documentation note about that at https://github.com/quarkusio/quarkus/pull/14421

[2021-01-20 08:24] manovotn commented on #14407
FTR, as per @mkouba's request I've verified this with Weld (CDI reference implementation) and I can confirm that it behaves equally.

[2021-01-20 08:27] aloubyansky commented on #14402
Simply removing the warning, afaiu.

[2021-01-20 08:29] geoand commented on #14399
Or just use `quarkus-resteasy-reactive` 😉

[2021-01-20 08:30] geoand commented on #14402
But isn't that warning useful for some users?

[2021-01-20 08:31] geoand commented on #14389
cc @Sanne

[2021-01-20 08:34] aloubyansky commented on #14402
@lburgazzoli you do provide the resources dir with the application.properties, don't you? So in that case this is the only file that will be hot-reloadable. We probably need to adjust the check to include the resources dir in it.

[2021-01-20 08:38] rsvoboda commented on #14391
Proposed warning in generator execution looks like a good start.

1) I would change the wording a bit:
[code]

2) What are your plan on guides side? `packageName` property needs to be introduced to users.
To me this is the minimal set where the info about `packageName` property needs to be introduced
 - https://quarkus.io/guides/getting-started
 - https://quarkus.io/guides/maven-tooling

3) https:

[2021-01-20 08:57] slinstaedt commented on #14403
Yep, that is what I already tried. I am not an expert for maven plugins, but the last time I wrote one, you needed to set a property (name) for your injected @Parameter.  Otherwise system properties are not considered.

[2021-01-20 08:59] geoand commented on #14403
https://github.com/quarkusio/quarkus/blob/1.11/devtools/maven/src/main/java/io/quarkus/maven/DevMojo.java#L190

[2021-01-20 09:00] jmartisk commented on #13935
Hey @sc3n , it turns out that there is a general CORS filter in Quarkus that can be used for this.
It can be applied by adding a few config properties, most importantly `quarkus.http.cors=true`. See https://quarkus.io/guides/all-config for more info, search the page for "quarkus.http.cors" and its subproperties
I think this should cover your use case. If not, feel free to reopen and we can discuss

[2021-01-20 09:00] #13935 closed

[2021-01-20 09:02] slinstaedt commented on #14403
Thats the line, sorry for not linking it. You can configure this line using the plugin's <configuration/> block, but not using system properties, afaik. Would be nice, if someone can verify this.

[2021-01-20 09:10] davide-malagoli commented on #14284
@imshuv maybe you can join us, I opened a zulip topic about that

https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/security-jpa.20custom.20password.20cypher.20algorithm/near/222617005

[2021-01-20 09:12] vietk opened #14423 "Log records show the hostname on which the native executable was generated"
**Describe the bug**

When a native application is using a log pattern that includes the hostname of the machine, then the hostname displayed is the one of the machine on which the native executable has been generated.

Imagine two machines with the following hostname :
- `build-time-hostname`: the hostname of the computer used to build the native image
- `runtime-hostname`: the hostname of the ma

[2021-01-20 09:13] geoand commented on #14403
That should also work

[2021-01-20 09:26] FroMage opened #14424 "CI hangs in MongodbPanacheMockingTest"
https://github.com/quarkusio/quarkus/pull/14385/checks?check_run_id=1732090582 hung at this point:

[code]

See https://pipelines.actions.githubusercontent.com/5Na9LjmLgXLiLuzJ0Z1qHRbIDVUXUHNrKe6jPcqGdw5t1S8TiW/_apis/pipelines/1/runs/95388/signedlogcontent/59?urlExpires=2021-01-20T08%3A30%3A41.0458526Z&urlSigningMethod=HMACV1&urlSignature=8cBAZMXViTg9xZ5g4ZYP1fvCfOzwXzIs8m8OWuEBIOA%3D for the full

[2021-01-20 09:40] jsmrcka commented on #14391
It looks like there is an intention to move from using `className` to using `packageName`, in order to make the code examples more transparent. With that in mind, un-deprecating the `className` seems like a step back.

[2021-01-20 09:42] FroMage commented on #13593
Can't we tell by looking at the set of registered bean types?

[2021-01-20 09:45] mkouba commented on #13593
We could but even then a class representing the body could in theory be both a bean and a jax-rs param...

[2021-01-20 09:45] almyy opened #14426 "WebFilter for routing unknown routes to frontend does not work when running *-runner.jar"
**Describe the bug**
I have a quarkus app serving a create-react-app with client side routing (react-router-dom) built for production. To make sure the client side routes are redirected to the frontend, I have created a `@WebFilter` as described [here](https://quarkus.io/blog/quarkus-and-web-ui-development-mode/). Running with `./gradlew quarkusDev` serves the react-app on localhost:8080, and acce

[2021-01-20 09:49] famod commented on #14424
Is this from the Windows job? (the URL expired)

If yes: #14413

[2021-01-20 09:49] stuartwdouglas commented on #13593
But also by the time we know that its too late to mark a bean as unremovable. If we have an annotation we can figure out what we are injecting super early (i.e. just check every instance of that annotation and mark the relevant beans as being unremovable).

[2021-01-20 09:57] ia3andy commented on #14391
@rsvoboda

👍

Well, with the coming fix, I guess using `className` is making sense again, keeping in mind that only a few relevant examples are compatible. Those example are meant to prepare the ground of a real app while the other are more meant to be learning examples. This could be made even more intuitive in the future, but right now, the priority is to fix the bug and I can't work on all fron

[2021-01-20 10:12] ia3andy commented on #14391
@maxandersen @FroMage  it's been a while we are turning around this problem of different kind of codestarts and I think it's time to make it clear with names:
- skeleton code: to start working quicker on you app, they are more dynamic and use parameters (`className` for now). You can select only one for one app, but when not using those parameters, they become normal example code that you can comb

[2021-01-20 10:28] madduci commented on #13996
I'm using the Graal 20.3 VM. What I don't understand is, the quickstarter project works fine, but in my implementation I've encapsulated the Mailer in an @ApplicationScoped service and using this service in my REST endpoint, thus generating the JNI error.

[2021-01-20 10:30] maxandersen commented on #14391
I still think we are mixing up concerns here or maybe going to more advanced stages before we have the basics in place.

At the moment codestarts are used for an extension to add *one* codestart when users chooses to include that extension, right ?

choosing a extension does not add multiple codestarts  - just one per extension.
We don't have a mechnism to pick *other* codestarts, do we ?

Thus ha

[2021-01-20 10:35] gytis commented on #14281
If it's a bug, then it's an intentional bug, because I left the exception mapping for the user on purpose. User can define his own exception mapper to represent any error whichever way he prefers.

But I could add the handling for the well known errors, if you think that would be beneficial.

[2021-01-20 10:50] ia3andy commented on #14391
I don't see how this is related?

Well, as explained, only a few examples are compatible with it, so we need to make this clear for the user and when used only one skeleton example can be activated (which seems logical as we only have one generic parameter).

TBH, there is another possibility but I am not really in favor as it will introduce a lot of documentation, complexity and possible conflict

[2021-01-20 11:00] pawjanssen opened #14427 "Form based login not working when graphql added as dependency"
When adding quarkus-smallrye-graphql, the form based login mechanism stops working. When POSTing to /j_security_check without the graphql dependency, everything works fine, and I can access my secured resource. When adding the graphql dependency, the POST to /j_security_check the request fails with the exception below. The only differency is the added dependency in the POM.

Repo with minimal exam

[2021-01-20 11:05] slinstaedt commented on #14403
Please run `mvn -X quarkus:dev -DdebugHost=0.0.0.0` on a vanilla quarkus app yourself and search the last parts of the logs for "debugHost":

[code]

Using quarkus 1.10.5.Final

[2021-01-20 11:25] #11206 closed

[2021-01-20 11:32] #14418 closed

[2021-01-20 11:35] gsmet commented on #14403
Reopening as the OP says it doesn't help AFAICS.

[2021-01-20 11:37] gsmet commented on #14423
/cc @dmlloyd @jamezp

[2021-01-20 11:38] geoand commented on #14403
I'll have another look later

On Wed, Jan 20, 2021, 13:35 Guillaume Smet <notifications@github.com> wrote:

[2021-01-20 11:40] gsmet commented on #14426
/cc @stuartwdouglas

[2021-01-20 11:40] gsmet commented on #14427
@stuartwdouglas looks like the exact same issue we had with the Dev UI, right?

[2021-01-20 11:41] gsmet commented on #14427
Shouldn't we have a way to only install a `BodyHandler` on a specific route? It looks a bit weird to have it break everything.

[2021-01-20 11:53] phillip-kruger commented on #14427
I think it's also related to #14035 and #11076

I am not sure how to fix this. @stuartwdouglas can you help please ?

[2021-01-20 12:07] madduci commented on #13996
It's definitively not a DNS problem, since I'm experiencing two different behaviors:

if I run my built application under a ubuntu:20.04 container, it crashes as soon as it calls the Mailer, without producing even a stacktrace.

If I run it under a gcr.io/distroless/base:latest, it generates the stacktrace error that I've posted at the beginning of this discussion.

Any extra hint to the DNS serve

[2021-01-20 12:37] cescoffier commented on #14399
@geoand well, you are right! With 0.12.0, it's time for us to push it more.

[2021-01-20 12:40] aloubyansky commented on #11449
I think we've collected enough evidence here of relative paths starting with `~` set in `MAVEN_OPTS` not being properly supported by Maven itself and that they should be avoided not only for Quarkus project configurations but in general.
See https://github.com/quarkusio/quarkus/issues/11449#issuecomment-676519510 and the two last comments by @famod.
I am closing this issue, since it doesn't look l

[2021-01-20 12:40] #11449 closed

[2021-01-20 12:41] kshpak opened #14429 "Unrecognized configuration key "quarkus.kubernetes.deploy" was provided"
**Describe the bug**
When deploying Quarkus application on OpenShift via `./mvnw clean package -Dquarkus.kubernetes.deploy=true` then
during the Maven test phase a warning shows up:

```WARN  [io.qua.config] (main) Unrecognized configuration key "quarkus.kubernetes.deploy" was provided; it will be ignored; verify that the dependency extension for this configuration is set or you did not make a typ

[2021-01-20 12:42] gastaldi commented on #14281
@gytis I think this is a common pattern and it would be nice to have that handled automatically.

[2021-01-20 12:47] olinone commented on #9275
You can specify the current schema as an added key/value pair appended to the `quarkus.datasource.jdbc.url` property in application.properties:
[code]

[2021-01-20 12:59] dmlloyd commented on #14423
This surely must be a regression; I remember testing this way back.  Perhaps relating to switching over to smallrye-common for the host name - maybe a substitution is missing now (i.e. pointing at the wrong class)?

[2021-01-20 13:06] jorsol commented on #13297
It looks like this is fixed with Quarkus 1.11.0.Final

[2021-01-20 13:06] #13297 closed

[2021-01-20 13:20] jmartisk opened #14430 "SmallRye Metrics extension should play better with the general CORS filter"
Currently we append the CORS headers to the metrics endpoint every time (it is done by SmallRye Metrics itself) - this is not correct, they should only be added by the common CORS filter (https://github.com/quarkusio/quarkus/blob/1.11.0.Final/extensions/vertx-http/runtime/src/main/java/io/quarkus/vertx/http/runtime/cors/CORSFilter.java) when the app configuration says so.

[2021-01-20 13:21] hhovhann opened #14431 "Open API logo customization not affecting"
https://github.com/quarkusio/quarkus/blob/842b3f2b943d066512bc032d488f8b3188b2c53c/core/deployment/src/main/java/io/quarkus/deployment/util/WebJarUtil.java#L83

**Environment**

Java 11
OS Windows 10
Quarkus 1.0.12:

Dear all, thanks a lot for your great job and nice framework.
Followed the steps how can customize the openapi logo in topic [Stylish API](https://quarkus.io/blog/stylish-api/), but w

[2021-01-20 13:49] maxandersen commented on #14391
just to be clear here the deprecation is at the code level. The guides will still use classname until we get worked through them all. It is not like things are stopping to work ;)

[2021-01-20 13:54] FroMage commented on #14424
Yes Windows.

[2021-01-20 14:24] ia3andy commented on #14391
Ok so after a long discussion with @maxandersen here is what we settled on:
1. Keep the `className` @Deprecated (and forget about my proposed fix) and make `path` @deprecated, using a generic `className` and `path` parameters with multiple example is not making sense anymore. The `groupId` used as package by default (or the `packageName` for special cases) should be preferred. This until we provid

[2021-01-20 14:37] geoand commented on #14429
https://github.com/quarkusio/quarkus/pull/14433 should take care of this

[2021-01-20 14:40] BeRoots opened #14435 "Java Naming Convention for groupId"
**Describe the bug**
When I build project from a command like `mvn io.quarkus:quarkus-maven-plugin:1.10.5.Final:create` and I fill my groudId then the underscore isn't interpreted as well and my package folder structure is broken. Two separated folder on the groudId domain part.

**Expected behavior**
The groupId like org.my-domain should be org.my_domain and generate namespace like org.my_domain.

[2021-01-20 14:46] patriot1burke commented on #14283
Just curious. Why would you want to do web sockets through API Gateway and Lambda?  Performance would be horrible as you have a low level socket protocol being transformed to and from Json.

[2021-01-20 14:48] SuperPDX opened #14436 "Failed to start application with quarkus-cache:1.11.0.Final"
ERROR [io.qua.run.Application] (Quarkus Main Thread) Failed to start application (with profile dev):

java.lang.NullPointerException
	at io.quarkus.cache.runtime.CaffeineCacheSupplier.get(CaffeineCacheSupplier.java:21)
	at io.quarkus.cache.runtime.CaffeineCacheSupplier.get(CaffeineCacheSupplier.java:15)
	at io.quarkus.vertx.http.runtime.devmode.DevConsoleRecorder.addInfo(DevConsoleRecorder.java:37

[2021-01-20 15:10] ravim786 commented on #6232
Is there a work around to get gradle working with Quarkus + Kogito?

[2021-01-20 15:10] FroMage commented on #14195
OK, so the next step is now to add links to static resources. You can start by copying the 404 page's approach to those, by collecting them from the same source as the 404 page (see `ResteasyReactiveDevModeProcessor` in `quarkus-resteasy-reactive-deployment`):

[code]

But ultimately I think that approach only works for really small amount of static resources and doesn't let me explore folders.

S

[2021-01-20 15:15] Postremus commented on #14431
Can confirm, I also was unable tot customize the Logo in 1.10.3.Final.

Hayk Hovhannisyan <notifications@github.com> schrieb am Mi., 20. Jan. 2021,
14:21:

[2021-01-20 15:30] ia3andy opened #14437 "Create new specific className and path parameters in our tooling for resteasy, spring-web..."
They are already definable as codestart data:
https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/codestarts/quarkus/QuarkusCodestartData.java#L32-L39

We need to plug them to distinct parameters (`resteasy.class-name`, `resteasy-reactive.class-name`, ...) instead of a generic one in the `CreateProjectMojo` and the `io.quark

[2021-01-20 15:31] #14303 closed

[2021-01-20 15:39] rsvoboda commented on #14391
Just one thing to clarify:

https://quarkus.io/guides/getting-started#bootstrapping-the-project should be changed from
[code]
to
[code]

Drop `-DclassName="org.acme.getting.started.GreetingResource"` to promote more the path when `groupId` is used as package by default.

[2021-01-20 15:39] pjgg opened #14438 "Kubernetes: liveness and readiness probes ignore the `quarkus.http.root-path` setting"
Seems that we have a [regression issue](https://github.com/quarkusio/quarkus/issues/6833):
Works on 1.7
Fails on 1.11.0.Final

[Jira Ref](https://issues.redhat.com/browse/QUARKUS-705)

[2021-01-20 15:41] geoand commented on #14438
Thanks, I'll look into it

[2021-01-20 15:44] rsvoboda opened #14439 "quarkus-cache in dev mode ends up with NPE"
Bootstrapped project with quarkus-cache ends up with NPE in dev mode.
`mvn test` execution works well

[code]
[code]

[2021-01-20 15:47] gsmet commented on #14431
/cc @phillip-kruger

[2021-01-20 15:49] ia3andy commented on #12957
I am close to have this working.

You would just need to set `-Dexamples=resteasy,...`, it will override the extension examples but still let you choose extensions to add.

[2021-01-20 15:50] ia3andy commented on #14391
@rsvoboda

I don't think we should drop it because this command is meant to generate an example consistent with the corresponding quickstart: https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started

We could of course adapt the quickstarts, but I believe it would be better to transition toward this:
[code]

(as soon as #14437 and https://github.com/quarkusio/quarkus/issues/129

[2021-01-20 15:53] ia3andy commented on #14391
As @maxandersen said, now that we have a clear plan for it, it's fine to keep using the @Deprecated `className` and `path` in the guides while transitioning.

[2021-01-20 16:10] thuringia commented on #12168
I second this wholeheartedly. In my case, it doesn't even work in JVM-mode (further Mutiny-related part of the stacktrace omitted):
[code]
Based on issues like aws/aws-sdk-java-v2#2198 this seems to be an issue with Quarkus' use of reflection and/or code generation.

This is on top of the, rather abysmal, support for mapping of the V2 DynamoDB SDK to begin with, making this quite frustrating to us

[2021-01-20 16:27] ia3andy opened #14440 "Quickstart link broken in spring-data-rest guide"
**Describe the bug**
https://quarkus.io/guides/spring-data-rest#solution

the link to the quickstart is broken: https://github.com/quarkusio/quarkus-quickstarts/tree/master/spring-data-rest-quickstart

[2021-01-20 16:34] geoand commented on #14440
@aureamunoz can you please take a look?

[2021-01-20 16:48] gsmet commented on #14439
Can you try with master? I think I already fixed that one.

[2021-01-20 16:49] gsmet commented on #14439
Or even better, try the 1.11 branch as the fix should be there.

[2021-01-20 16:52] rsvoboda opened #14442 "quarkus-reactive-messaging-http gives warning for ReactiveHttpProcessor.routeProducer"
quarkus-reactive-messaging-http gives warning about no longer supported way of producing values from constructors and fields

This is bad out of the box experience for users, Quarkus boot should have such warnings for internal implementations.

Warning:
[code]

Reproducer:
[code]

[2021-01-20 17:03] phillip-kruger commented on #14431
Hi @hhovhann and @Postremus

Thanks for this . Can you please give me some more context:
1) Are you only talking about dev more ? (`mvn quarkus:dev`). So if you build a jar or native, does the branding work ?
2) If in dev mode, when you do `mvn clean install quarkus:dev` does it work then ?
3) Are you trying to update the branding while running the app in dev mode ? (As hot reload is not supported

[2021-01-20 17:08] #14403 closed

[2021-01-20 17:09] rsvoboda commented on #14439
Building 1.11 branch

[2021-01-20 17:12] galderz commented on #14414
`io.quarkus.runtime.logging.LogConfig.minLevel` has been migrated to be a build time configuration option, see [here](https://github.com/quarkusio/quarkus/commit/f5c4cadbc539ac5d5998988a7b639288866e3ce0#diff-5a15a9bc4b329e3f789746a269f641ce8034f1830839d8b9f830f93576a943edL43). It'd appear that you have not updated your compile dependencies to Quarkus `1.11.0.CR1`? I can only explain your issue if

[2021-01-20 17:13] ia3andy opened #14444 "Update guides to take advantage of existing codestarts"
**Description**

Those guides present extensions which already have a codestart and which could be adapted to use it:
- [ ] https://quarkus.io/guides/picocli
- [ ] https://quarkus.io/guides/rest-json
- [ ] https://quarkus.io/guides/logging#json-logging
- [ ] https://quarkus.io/guides/amazon-lambda
- [ ] https://quarkus.io/guides/azure-functions-http
- [ ] https://quarkus.io/guides/funqy-amazon-lam

[2021-01-20 17:15] gwenneg commented on #14439
Same issue as #14436.

[2021-01-20 17:20] rsvoboda commented on #14439
The issue is gone when using bits from 1.11 branch.
Probably fixed by @gsmet in https://github.com/quarkusio/quarkus/pull/14376/commits/c12e5838fa5657c13c740987b3116c421acae8bb

[2021-01-20 17:20] hhovhann commented on #14431
Hi @phillip-kruger
1. Yes I only tried with dev mode.
2. I am running with `./mvnw -Pdrp -Dquarkus.profile=drp clean compile quarkus:dev`
3. I updated and then rerun, clear from browser clear storage clear site data and then rerun with the command from step 2.

Thanks & Regards

[2021-01-20 17:22] phillip-kruger commented on #14431
Hi @hhovhann
Thanks for the reply. So it might be a Windows issue then ? Can you share a small reproducer ?

[2021-01-20 17:25] rsvoboda commented on #14442
Checks / warnings were added in https://github.com/quarkusio/quarkus/pull/13147

[2021-01-20 17:28] rsvoboda opened #14445 "Multiple Blaze-Persistence instances error when using simple bootstrapped application"
Multiple Blaze-Persistence instances error when using simple bootstrapped application from code.quarkus without anything else. Tested with Quarkus 1.11.

This is bad out of the box experience for users.
Quarkus should boot without so many error messages, tbh not sure where multiple instances could appear from as indicated in the log message.

Reproducer:
[code]

Error message:
[code]

[2021-01-20 17:33] gwenneg commented on #14439
That is correct @rsvoboda. The fix is already on the `1.11` branch but is was backported after the `1.11.0.Final` tag so it will probably be included in the `1.11.1` release.

[2021-01-20 17:35] gsmet commented on #14445
/cc @beikov

[2021-01-20 17:41] hhovhann commented on #14431
Hi @phillip-kruger
My steps was something like this, I just moved from here the profile parts, I think that is not the case here.

1. Create Quarkus app with quarkus-smallrye-openapi
2. Run the app with ./mvnw clean compile quarkus:dev
3. Visit localhost:8080/swagger-ui and http://localhost:8080/health-ui to see the default logo
4. Add logo.png and style.css under src/main/resources/META-INF/brand

[2021-01-20 17:44] antonwiens commented on #9194
I am still experiencing this problem with 1.10.5 and would like a fix for this problem as its spamming logs with warnings.
Adding quarkus-undertow is just a workaround. Will this be fixed?

[2021-01-20 17:45] gsmet commented on #14444
We need to be extremely careful about this: the guide still needs to be explanatory and to contain the important information for the user.

Having the project all created by codestarts won't help to understand what's going on.

[2021-01-20 17:47] gwenneg commented on #14436
Thanks for reporting this @SuperPDX!

We already fixed that bug but unfortunately the commit could not be included into `1.11.0.Final`. The next release will certainly include the fix though. In the meantime, if you add a single cache annotation in your application, the NPE should no longer be thrown:

[code]

[2021-01-20 17:51] gwenneg commented on #14439
The workaround I posted in #14436 should work with `1.11.0.Final`.

[2021-01-20 17:51] gsmet commented on #9194
@stuartwdouglas does it ring a bell?

[2021-01-20 17:58] rsvoboda opened #14447 "Simple bootstrapped application with Cassandra client extension can't be stopped, kill -9 needed"
Simple bootstrapped application with Cassandra client extension can't be stopped using `Ctrl+C`, `kill -9` was needed.
Tried with Quarkus 1.11.0.Final in dev mode and when running `java -jar target/....`. To build the jar I had to skip the tests.
The out of the box experience is not ideal.

Reproducer:
[code]

Example with `java -jar target/....`, see `^C` attempts to stop the app:
[code]

[2021-01-20 18:03] #14439 closed

[2021-01-20 18:04] gsmet commented on #14447
I think this should probably be created in the upstream projects rather than here.

It's probably not a Quarkus bug.

[2021-01-20 18:05] ia3andy commented on #14444
Yes I agree, as a guideline for our guide, we could advise to use `-noExamples` to do the tuto and remove it (or see the quickstart) to directly have the solution.

[2021-01-20 18:07] phillip-kruger commented on #14431
Thanks @hhovhann I'll have a look. So are you restarting the app between the old and new branding? Again hot reloading is not supported

[2021-01-20 18:10] hhovhann commented on #14431
Yes I started without new logo then stoping it and starting again with
already modified logo.
And as I found only index.html file is revisiting because I saw datetime
was changed for that file with comparison of others like favicon etc.

Regards

On Wed, Jan 20, 2021, 22:08 Phillip Krüger <notifications@github.com> wrote:

[2021-01-20 18:16] phillip-kruger commented on #14431
Ok I'll try it out on my environment in a few minutes and get back to you

[2021-01-20 18:20] hhovhann commented on #14431
@phillip-kruger In my last example:reproducer the last version of quarkus is `1.11.0.Final`.
Thanks

[2021-01-20 18:27] rsvoboda commented on #14447
I was considering to create issue in https://github.com/datastax/cassandra-quarkus but then decided to create it here.
It's extension from platform so I was a bit unsure where to go.

Created https://github.com/datastax/cassandra-quarkus/issues/144

Last release is more than 6 months old :/

[2021-01-20 18:29] gsmet opened #14448 "Funqy Knative events quickstart failing with NPE"
Building the development branch of the quickstarts with current master, I end up with:

[code]

[2021-01-20 18:33] matejvasek commented on #14448
I am on it.

[2021-01-20 18:34] rsvoboda commented on #14447
@gsmet close this one or keep it here for tracking?

[2021-01-20 18:34] matejvasek commented on #14448
I think I know what's wrong.

[2021-01-20 18:43] matejvasek commented on #14448
@gsmet Where should I create PR devel or master?

[2021-01-20 18:45] missourian55 commented on #14414
Thank you! Once I upgraded the quarkus plugin version the error went away.

[2021-01-20 18:45] #14414 closed

[2021-01-20 18:49] matejvasek commented on #14448
I see devel it is.

[2021-01-20 18:52] geoand commented on #14448
Yes, PRs go against the development branch

[2021-01-20 18:58] phillip-kruger commented on #14431
@hhovhann - your app works perfect on my environment.

https://user-images.githubusercontent.com/6836179/105221501-dfd27880-5b61-11eb-8bbf-16bab399d6e4.mp4

- Make sure to use `mvn clean install quarkus:dev` (note the **install**) - package should also work (so `mvn clean package quarkus:dev`
- Make sure it' not your browser cache (so do a shift-f5)
- If it still does not work, then it might be a

[2021-01-20 18:59] gsmet commented on #14448
@matejvasek I see you fixed it in the quickstart but shouldn't the Quarkus code be made a bit more safe?

[2021-01-20 19:02] matejvasek commented on #14448
Absolutely, I am adding nullcheck. It should return 400 not 500.

[2021-01-20 19:07] mklueh opened #14450 "Quarkus JWT producing 401 errors using @RolesAllowed"
**Describe the bug**

I´m running into an issue with Quarkus JWT and I cannot get past the 401 error as none of my requests is getting authorized.

To create my ssh key pair I´m using the following code from the documentation https://quarkus.io/guides/security-jwt#generating-a-jwt :

[code]

And I´m creating my token with

[code]

While providing the necessary properties in **application.propertie

[2021-01-20 19:20] hhovhann commented on #14431
@phillip-kruger it works with `mvn clean package quarkus:dev`.
Thanks and please let something added in documentation about package/install instead of compile in case if someone else will do that.
Thanks

[2021-01-20 19:21] ia3andy opened #14451 "Broken quickstart link in reactive-messaging-http-quickstart guide"
**Describe the bug**
https://quarkus.io/guides/reactive-messaging-http

https://github.com/quarkusio/quarkus-quickstarts/tree/master/reactive-messaging-http-quickstart

This is the second one I find today #14440, it would be nice to have a review of all our guides quickstart links. @gsmet could you put someone on it?

[2021-01-20 19:24] phillip-kruger commented on #14431
Thanks @hhovhann.
Let's keep this open so that @Postremus can confirm his case and that I have a reminder to update the blog post with this information.

[2021-01-20 19:42] gsmet commented on #14447
I don't think it's worth keeping it here. We won't fix it ourselves.

[2021-01-20 19:42] #14447 closed

[2021-01-20 20:10] sberyozkin commented on #14450
@mklueh Hi, can you please add the trace configuration as suggested at:
https://quarkus.io/guides/security-jwt#how-to-check-the-errors-in-the-logs ?

(also add `io.smallrye.jwt.auth.principal.PrincipalLogging`)

thanks

[2021-01-20 20:12] sberyozkin commented on #14450
this is not related to the issue but you can also optimize
[code]
by default it is set to +5 mins - and there should be a new method `expiresIn`, ex `.expiresIn(100000000L)` etc

[2021-01-20 20:13] sshaaf opened #14454 "Quarkus Funqy Knative Events guide"
**Describe the bug**
The Quarkus funqy knative events guide has the following issues:
- yaml files are missing spec for broker
- Curler is mentioned but not present.

source: https://quarkus.io/guides/funqy-knative-events

[2021-01-20 20:13] gsmet commented on #14451
Well, it's the responsibility of the person merging the extension and the documentation to check this.

[2021-01-20 20:14] patriot1burke commented on #14448
I wish you would just remove the check entirely.  Spec should remain backward compatible and if there is a version bump you don't want to have to deploy hundreds or thousands of functions

[2021-01-20 20:14] gsmet commented on #14451
Apparently, it has been created here https://github.com/quarkusio/quarkus-quickstarts/pull/721 but never merged.

[2021-01-20 20:16] gsmet commented on #14440
The PR is here https://github.com/quarkusio/quarkus-quickstarts/pull/714 but was never merged.

[2021-01-20 20:18] geoand commented on #14440
Also cc @gytis

[2021-01-20 20:37] mklueh commented on #14450
@sberyozkin thank you for the fast response.

As soon as I create this class the auth is working as expected, which is not what I have expected.

[code]

[2021-01-20 20:47] #14442 closed

[2021-01-20 20:55] gsmet commented on #14440
For now, the quickstarts are broken due to a change in the Mailer API. I will rebase the PR as soon as I merge the fix.

[2021-01-20 20:59] aureamunoz commented on #14440
Ok, Thanks @gsmet. Let us know if you need something from us.

[2021-01-20 21:17] #14320 closed

[2021-01-20 21:31] hogmuzzle commented on #8136
I have seen really big projects (60+ tables) where Spring Specifications and Criteria API were used. Of course there is no "one size fits all" approach but for complex queries QueryDSL is much more convenient and sql-looking and you can use JPA or SQL OracleQuery for vendor specific queries for example in the same project.

[2021-01-20 21:39] #12185 closed

[2021-01-20 21:41] #14438 closed

[2021-01-20 22:32] sberyozkin commented on #14450
Hi @mklueh thanks, that original code should work as well, I'll fix it and will close this issue once Quarkus gets updated to smallrye-jwt 2.4.3

[2021-01-20 22:35] sberyozkin commented on #14450
yeah, it is better to do `Jwt.subject()` :-), but for a generic claim setter it should work...

[2021-01-20 22:38] sberyozkin commented on #14450
Opened https://github.com/smallrye/smallrye-jwt/issues/391

[2021-01-20 23:22] stuartwdouglas commented on #14426
Because the original request had called sendError() when the request returns to the container the container attempts to do an error dispatch (sendError does not actually send the error immediatly, it just queues it to be sent, which sounds odd but it matches the behaviour of other containers). Because the dev mode error handling is different to prod mode this happens to work in dev mode but fails

[2021-01-20 23:22] #14426 closed

[2021-01-21 00:05] #14405 closed

[2021-01-21 01:30] gastaldi opened #14461 "Resteasy Reactive throws java.lang.IllegalArgumentException: stream cannot be null when @Valid is used with @BeanParam"
**Describe the bug**
Having an endpoint like:
[code]
When you attempt to build the project, the build fails with the following error:
[code]

**Expected behavior**
Build should succeed

**Actual behavior**
Build Fails. Removing `@Valid` works.

**To Reproduce**

Download the following project: [code-with-quarkus.zip](https://github.com/quarkusio/quarkus/files/5846229/code-with-quarkus.zip)

Steps

[2021-01-21 01:32] gastaldi commented on #14461
I see this in the logs:
[code]

which looks wrong (the `@Valid` is there)

[2021-01-21 01:48] stuartwdouglas commented on #14427
https://github.com/quarkusio/quarkus/pull/14462 sorta fixes this, however it does not fix the general case (i.e. that some things don't work with RequireBodyHandlerBuildItem).

[2021-01-21 01:59] stuartwdouglas commented on #14461
This is fixed upstream (duplicate of https://github.com/quarkusio/quarkus/issues/14348)

[2021-01-21 01:59] #14461 closed

[2021-01-21 02:06] gastaldi commented on #14461
Oops, thanks!

[2021-01-21 02:08] gastaldi commented on #14435
/cc @maxandersen @gsmet @ia3andy

[2021-01-21 02:16] casmeiron opened #14464 "smallrye-jwt extension stopped working on 1.11.0.Final (package io.smallrye.jwt.build not found)"
### JWT not working anymore ###

### 1.10.5.Final ###

In version **1.10.5.Final** I just needed to add the extension '**smallrye-jwt**' to make JWT works. The class **io.smallrye.jwt.build.JWT** is used to generate a new token.

### 1.11.0.Final ###

Upgrading to **1.11.0.Final** the package '**io.smallrye.jwt.build**' doesn't exists anymore so I've found in the GUIDES section that I had to add a

[2021-01-21 02:33] stuartwdouglas commented on #14035
This will be fixed by https://github.com/quarkusio/quarkus/pull/14462, but it does not fix the underlying issue of RESTEasy multipart being incompatible with the BodyHandler, so it will still fail when using the keycloak policy enforcer.

What happens is that for a multipart request instead of making the request bytes availible the BodyHandler will instead parse the request and write the files to

[2021-01-21 06:04] Mobe91 commented on #9142
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/500355061

[2021-01-21 06:04] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/500356105

[2021-01-21 06:13] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/500355289

[2021-01-21 06:34] #14399 closed

[2021-01-21 06:39] geoand commented on #8593
@oscerd @jamesnetherton @ppalaga @lburgazzoli there seems to be some failure in `quarkus-universe-integration-tests-camel-jta`

[2021-01-21 06:48] #9194 closed

[2021-01-21 06:50] lburgazzoli commented on #14402
@geoand a property like the `<noDeps>true</noDeps>`, maybe `<noSources>true</noSources>` / `<noResources>true</noResources>`
@aloubyansky we can have an application.properties but it is not strictly mandatory as camel-k dev supports adds all the files that are relevant for camel-k among the hot-reloadables

[2021-01-21 06:59] geoand commented on #14402
Sounds good to me, but @aloubyansky is the SME here, so let's see what he says

[2021-01-21 07:16] jamesnetherton commented on #8593
I opened a PR to disable the tests until we have a release containing a fix https://github.com/quarkusio/quarkus-platform/pull/177.

[2021-01-21 07:17] Sgitario opened #14466 "Allow to use OIDC Client Filter and OIDC Token Propagation extensions in the same app"
**Description**
At the moment, if we add these both extensions in the same application:

[code]

And we create a couple of RestClients for each:

[code]

[code]

The application fails to start with:

[code]

I didn't report this as a bug as it's more like a Rest Client extension limitation, more than a bug.
Reproducer in: https://github.com/Sgitario/beefy-scenarios/tree/master/013-quarkus-oidc-res

[2021-01-21 07:20] Mobe91 commented on #14445
This log message is misleading.
I have created https://github.com/Blazebit/blaze-persistence/pull/1251 which will log a warning message similar to Agroal without JDBC datasources in case no persistence unit is defined and will allow the application to start.

[2021-01-21 07:52] #14429 closed

[2021-01-21 08:14] ppalaga commented on #2656
GraalVM 21.0.0 with serialization support is out.

[2021-01-21 08:18] ppalaga commented on #2656
Camel Quarkus definitely interested in having some sort of SerializableClassBuildItem on Quarkus.

I'd give a try unless there is somebody else working on it already?

[2021-01-21 08:50] GAlexMES commented on #14464
@casmeiron You need the package `io.quarkus:quarkus-smallrye-jwt-build` not `smallrye-jwt-build`
See: https://mvnrepository.com/artifact/io.quarkus/quarkus-smallrye-jwt-build

[2021-01-21 09:04] SaumyaSingh1 commented on #14195
Alright, so as per my understanding in order to show `static resources` on the `endpoints.html` template , we have two ways.

1. **This one works for really small amount of static resources , does not allow to explore folders**  , **so we will avoid this/not use** ?
      _This is similar to what was done for `additional endpoint`, collecting  info from `ResteasyReactiveDevModeProcessor` into

[2021-01-21 09:07] bpasson opened #14469 "RESTEasy Reactive Jackson dependes on JSONP"
**Describe the bug**
The quarkus-resteasy-reactive-jackson extension dependens on quarkus-jackson and quarkus-jsonp.

**Expected behavior**
I would expect quarkus-resteasy-reactive-jackson extendsion to only depend on the quarkus-jackson extension.

**Actual behavior**
The quarkus-resteasy-reactive-jackson extension dependens on both the quarkus-jackson and quarkus-jsonp extension.

**To Reproduce

[2021-01-21 09:07] SaumyaSingh1 commented on #14195
Also , from the `@404` page , I noticed for my app in static resource category only 1 file was there `index.html`. I guess that needs to be clickable and on clicking we will be directed to `index.html` page ? 🤔

Here is the saved ss-

![image](https://user-images.githubusercontent.com/46818757/105328521-22459500-5bf6-11eb-8e9e-c88eacc544ee.png)

[2021-01-21 09:21] FroMage commented on #14195
Yes, let's make it iteratively and start with the same sort of display as the 404, not collapsing entries into folders, and extend it later.

But yeah, it needs to be clickable and send the user to the resource in question.

[2021-01-21 09:22] #14392 closed

[2021-01-21 09:27] ppalaga opened #14471 "Dev UI guide should mention that quarkus-resteasy is required for /q/dev do work"
**Describe the bug**
Wanting to try the new Dev UI in a simple Camel Quarkus app https://github.com/apache/camel-quarkus-examples/tree/master/timer-log I found that the `/q/dev` endpoint is not available unless I add `quarkus-resteasy` dependency.

**Expected behavior**
The guide https://quarkus.io/guides/dev-ui should mention the above prerequisite.

**Actual behavior**
I had to figure out myself

[2021-01-21 09:39] SaumyaSingh1 commented on #14195
ok so in the iterative approach workflow will be :

- Start with listing all resources in `DevconsoleProcessor` (?)
- List toplevel resources & distinguish folders from files again in (?)`DevconsoleProcessor`
- Add a new DEV Console page (umm means a new template in `dev-templates` folder like endpoint.html ? )
- Linking to endpoint template

[2021-01-21 09:41] StFS commented on #9671
@stuartwdouglas good catch with the `@GZIP` annotation and the lack of documentation. However, it still seems that the `quarkus.resteasy.gzip.max-input` property is ignored. I'm only able to send 10M gzipped requests even though I configure that property to something much larger.

I ended up creating my own interceptor along with an ObservableInputStream to keep track of the amount of data read. I

[2021-01-21 09:43] FroMage commented on #14195
Yes

[2021-01-21 10:13] albert0815 opened #14472 "QuarkusSecurityIdentity#checkPermission returns wrong results"
**Describe the bug**
I am working on an application which is using the keycloak policy enforcement. Beside enforcing permissions based on resource URIs with scope based permissions (using http-method-as-scope). When implementing additional permission checks programmatically with different scopes the checkPermission method of the security identify returns wrong results. It seems that the authorizat

[2021-01-21 10:20] geoand commented on #14469
Jsonp support is mandated by the JAX-RS spec IIRC, which is why RESTEasy Reactive has a hard dependency on it

I don't think that Jackson implements jsonp, but I can give it a quick check.

[2021-01-21 10:25] sberyozkin commented on #14464
@casmeiron, all, sorry - it is now documented. It was important to decouple the JWT generation API from the core smallrye-jwt code - sometimes one wants to generate the tokens against a non-MP-JWT server and likewise, which is probably more important, is that I'd say most MP-JWT server endpoints do not need this API to verify a token, may be 20% only...

@casmeiron Can you please close this issue

[2021-01-21 10:29] #14296 closed

[2021-01-21 10:31] gsmet commented on #14440
@gytis @aureamunoz the quickstart tests didn't pass on CI, please have a look: https://github.com/quarkusio/quarkus-quickstarts/pull/714

[2021-01-21 10:31] defnull opened #14473 "REST: `Form` is empty if `@FormParam` is used at the same time."
**Describe the bug**
Using `@FormParam` causes the `MessageBodyReader` for `Form` or `MultivaluedMap<String, String>` to not work correctly. They do not fail or log a warning, but silently return an empty map. **Edit: Issue only happens when testing (with restassured), NOT in production or dev mode.**

**Expected behavior**
A `Form` or `MultivaluedMap<String, String>` should contain all form field

[2021-01-21 10:34] sberyozkin commented on #14141
Hi @VasilisAndritsoudis sorry for a delay, I'm `watching` all the issues by periodic manual checks :-).

Yes, that sounds good, only replace `ArrayList` with `List` in the parameter type declarations.

We now have another issue #14466 which depends on this fix.
How about this: can you please open your first PR and then we can verify it against a reproducer linked to at #14466 ?

Thanks

[2021-01-21 10:39] sberyozkin commented on #14466
Hi @Sgitario Yeah, what came with the OIDC client only allows for one annotation/producer at a time, if you have one client with 2 annotations or as in your case 2 clients, each of them with its own annotation, then it won't work.
I've asked for a first PR be opened for #14141...
thanks

[2021-01-21 10:48] bwand opened #14474 "OidcClientFilter usage throws NoSuchFieldException"
**Describe the bug**
I am very happy about the new feature but when trying to use the Annotation @OidcClientFilter i always get a no such field exception.

**Expected behavior**
No exception should be thrown and Annotation shuld care about getting token

**Actual behavior**
Just adding the @OidcClientFilter Annotation and try sending a request gives an Exception.
[code]

**To Reproduce**

1. Added

[2021-01-21 10:53] sberyozkin commented on #14466
@Sgitario also, this fix, #14371, will need to be backported to 1.11.1 :-). For now please check against the snapshots, if Guillaume agrees then it will be backported and then you'd check it with 1.11.1
thanks

[2021-01-21 11:00] Sgitario commented on #14466
@sberyozkin thanks!

[2021-01-21 11:05] sberyozkin commented on #14474
@bwand Yeah, sorry, #14371 has restored the correct code.
Would you like to try the snapshots and confirm it ?

[2021-01-21 11:05] sberyozkin commented on #14474
@gsmet Guillaume, please backport that fix to 1.11.1.Final :-)

[2021-01-21 11:06] SaumyaSingh1 commented on #14195
And for listing the resources in `DevconsoleProcessor` , as a reference  I will be looking at `ResteasyReactiveDevModeProcessor`.
Also I will be using `DevConsoleTemplateInfoBuildItem`.
Right ?

[2021-01-21 11:08] sberyozkin commented on #14472
Hi Pedro, @pedroigor, let me assign this one to you :-)

[2021-01-21 11:11] bwand commented on #14474
@sberyozkin yes sure, can you tell me where I can get the snapshots for verification?

[2021-01-21 11:14] gytis commented on #14440
I can take a look. I have totally forgot about that PR to be honest.

[2021-01-21 11:25] gastaldi opened #14475 "Hibernate Reactive's Panache persist methods should return the persisted entity"
**Description**
In the `PanacheEntityBase` from the `hibernate-reactive-panache`, it would be nice if the `persist()` and `persistAndFlush()` returned the persisted entity in the `Uni` object.

**Implementation ideas**
Change the method signature from `Uni<Void>` to `Uni<T>`

[2021-01-21 11:26] gastaldi commented on #14475
Same for the `PanacheRepositoryBase`

[2021-01-21 11:29] geoand commented on #14469
I just checked and Jackson itself doesn't implement the JSONP spec itself, so there is nothing we can do here.

[2021-01-21 11:29] #14469 closed

[2021-01-21 11:29] DavideD commented on #14475
Can you show some code examples that will benefit from this change?

[2021-01-21 11:33] gastaldi commented on #14475
@DavideD sure, here is one example:

[code]

AFAIU this enhancement would get rid of the `onItem().transform(...)` snippets

[2021-01-21 11:39] loicmathieu commented on #10927
@imshuv if you're new to contributing to Quarkus, you can read the [Contributing for the first time](https://quarkus.io/blog/contributing-for-the-first-time/) blog post.
This issue is to add a REST example to the Panache guides (Hibernate, MongoDB, Hibernate Reactive and the Kotlin variants).
You can take as example other guides.
The REST example can comes from the quickstarts.

[2021-01-21 11:39] casmeiron commented on #14464
Ok, after following @GAlexMES suggestion now its working with the latest version.

Thanks very much!

[2021-01-21 11:39] #14464 closed

[2021-01-21 11:42] fhavel opened #14476 "Uber jar packaging fails when deploying to OpenShift"
**Describe the bug**
When deploying to OpenShift during Maven build, it fails. Package is set to uber jar: `quarkus.package.type=uber-jar`. Until Quarkus version 1.10.3.Final it works fine.

**Expected behavior**
Maven build would success and deployment is done

**Actual behavior**
Maven build fails with exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create Quarkus project

[2021-01-21 11:46] stuartwdouglas commented on #9671
The issue is that there is a global quarkus.http.limits.max-body-size that defaults to 10mb for requests. If you are using compressed requests (which are not part of the HTTP standard) then the gzip param will take effect if it is smaller than the global limit, but compressed requests are non-standard and very rare (e.g. a browser will never send one).

[2021-01-21 11:59] gavinking commented on #14475
Even after staring at that code for 5 minutes I've no idea what you're trying to do there.

But I speculate that perhaps this issue can be resolved by trying to clean up your use of the Mutiny APIs, making use of the new operations we added to Mutiny. For example, using `chain()`, `call()`, and `replaceWith()` instead of `.onItem().transformToUni()` for everything.

I might be wrong.

[2021-01-21 12:00] geoand commented on #14476
@iocanel this looks like a dekorate issue. Can you please take a look?

[2021-01-21 12:02] gastaldi commented on #14475
Welcome to my world :)

This example is a One-to-Many relationship between `Extension` and `ExtensionRelease` (One `Extension` can contain many `ExtensionRelease`s), so I query for `Extension` and if it doesn't exist I perform an INSERT. Same with `ExtensionRelease` and the relationship added in the last `transform` method.

[2021-01-21 12:05] geoand commented on #14471
It is not `quarkus-resteasy` that needs to be part included, but any extension that results in transitively including `quarkus-vertx-http`

[2021-01-21 12:07] DavideD commented on #14475
I think in Hibernate Reactive one could convert this type of code:
[code]

to something like
[code]

or this:
[code]

to this:
[code]

[2021-01-21 12:10] #14334 closed

[2021-01-21 12:14] rsvoboda opened #14478 "Properties in bootstrap app for 1.11 are in random order, 1.7 had them alphabetically sorted"
Properties in bootstrap app for 1.11 are in random order, 1.7 had them sorted alphabetically

1.11.0.Final:
[code]

1.7.6.Final
[code]

Used commands:
[code]

[2021-01-21 12:15] DavideD commented on #14475
Actually, the doSomethingInTx doesn't make much difference.

This is a simpler use case for Hibernate Reactive:

[code]

to this:
[code]

[2021-01-21 12:15] gavinking commented on #14475
@DavideD

- your third example is a case for `replaceWith()`, not `invoke()` I believe. (It's one of the last things we requested, remember.)
- in your second example you should use `call()` instead of `chain()` to get rid of the nasty `v`.

[2021-01-21 12:19] gavinking commented on #14475
For example:

[code]

[2021-01-21 12:21] gsmet commented on #14431
Hmmm, I think it's going to be an issue if `package` is required. AFAIK, `quarkus:dev` only implies `compile`.

[2021-01-21 12:21] rsvoboda opened #14479 "Surefire plugin has version 2.22.1 in bootstrap app for 1.11, 1.7 had 3.0.0-M5"
Surefire plugin has version 2.22.1 in bootstrap app for 1.11, 1.7 had 3.0.0-M5.
Qurkus codebase is using 3.0.0-M5 too.

1.11.0.Final:
[code]

1.7.6.Final
[code]

Used commands:
[code]

[2021-01-21 12:23] DavideD commented on #14475
I see, thanks.

You still need the additional `.replaceWith` and an instance of the extension beforehand though.

By the way, I don't have strong opinions either way, but I think it helps to write down some examples as part of the issue.

[2021-01-21 12:24] phillip-kruger commented on #14431
I will investigate if I can change that.

[2021-01-21 12:24] gavinking commented on #14475
Also @DavideD:

1. We don't use the `v ->` idiom anymore, because it's bad. Use `() ->` instead.
2. For calling `flush()` I think it's better style to use `call()` than `chain().

[2021-01-21 12:28] gavinking commented on #14475
Well I think that's fine personally. I mean, what's actually wrong with:

[code]

This compares perfectly favorably to the equivalent non-reactive code:

[code]

[2021-01-21 12:33] Sgitario opened #14480 "OIDC Client > Cannot overwrite properties"
**Describe the bug**
Question about override properties for Quarkus apps:

The thing is that when deploying these apps into OpenShift, the apps are failing because:

[code]

I've checked that the problem is that the OIDC client properties are not being replaced correctly. These are the environment properties that I'm passing:

`QUARKUS_OIDC_AUTH_SERVER_URL` (this property is for the existing OIDC

[2021-01-21 12:33] DavideD commented on #14475
Just one last point for completeness.
What about the Hibernate Reactive `Stage.Session` API? A user won't have the nice Mutiny methods in that case.

[2021-01-21 12:38] gsmet commented on #14427
Should we get rid of `RequireBodyHandlerBuildItem` if it can break things globally? Or is there a good reason to use it for some use cases?

[2021-01-21 12:43] DavideD commented on #14475
I suppose that's the way it is.
Thanks @gavinking

[2021-01-21 12:45] gsmet commented on #14402
Does this warning really have value? I would be in favor of just dropping it if it's in the way of some use cases.

[2021-01-21 12:46] gsmet commented on #14445
Thanks @Mobe91 . Let's close the issue here.

[2021-01-21 12:46] #14445 closed

[2021-01-21 12:49] gsmet commented on #14478
@rsvoboda let's be a bit more cautious about what we consider a bug. This is not one.

[2021-01-21 12:49] gsmet commented on #14478
/cc @ia3andy

[2021-01-21 12:51] aloubyansky commented on #14402
I tend to agree with @gsmet. If somebody complains we can reconsider.

[2021-01-21 12:51] geoand commented on #14402
OK, fine with me

[2021-01-21 13:03] sberyozkin commented on #14474
@bwand please check https://github.com/quarkusio/quarkus/blob/master/CONTRIBUTING.md#checking-an-issue-is-fixed-in-master

(thanks to @gsmet for reminding)

[2021-01-21 13:07] sberyozkin commented on #14480
Interesting, I thought I knew where the problem was but I'm not sure now.
So I've mirrored it the way it is done for `quarkus-oidc` where:
- [OidcTenantConfig](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/main/java/io/quarkus/oidc/OidcTenantConfig.java) is a `ConfigGroup`
- [OidcConfig](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc/runtime/src/mai

[2021-01-21 13:07] rsvoboda commented on #14478
It's a regression from usability perspective, thus I went ahead with bug type.

[2021-01-21 13:17] sberyozkin commented on #14480
I wonder if it is the name of the classes, the `ConfigRoot` class should be called `OidcClient` and the `ConfigGroup` one renamed from `OidcClientConfig` to OidcClientTenantConfig` ?

[2021-01-21 13:19] gsmet commented on #14480
/cc @radcortez

[2021-01-21 13:20] gsmet commented on #14473
@defnull is it with RESTEasy or RESTEasy Reactive?

[2021-01-21 13:25] #14436 closed

[2021-01-21 13:25] radcortez commented on #14480
I'll have a look.

[2021-01-21 13:25] gsmet commented on #14436
This will be fixed in the upcoming 1.11.1.Final.

[2021-01-21 13:32] lburgazzoli commented on #14402
@gsapountzis @geoand @aloubyansky thx

[2021-01-21 13:32] FroMage commented on #14195
Yes.

[2021-01-21 13:38] FroMage commented on #14475
This is a RFE for Quarkus's "HR with Panache", so you don't need to change the HR API, this is about the Panache layer.

Originally I made `persist` return `Uni<Void>` because the blocking equivalent returns `void`, but it turns out that it doesn't hurt and leads to more idiomatic reactive pipelines to make it return the item you want to persist, by making it part of the pipeline rather than requi

[2021-01-21 13:47] gavinking commented on #14475
Excuse me, I should say the proper style is too use `call()` for _any_ `void`-like method, including `persist()`, `remove()`, etc.

[2021-01-21 13:48] gavinking commented on #14475
Well, here's where I document the mapping:

<http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_apis_for_chaining_reactive_operations>

For sure it's not quite as nice on the `Stage` API, but it seems like we are currently pushing people toward `Mutiny` anyway.

[2021-01-21 13:52] StFS commented on #9671
Hmm... ok so I apologize in advance if I'm just complicating things @stuartwdouglas but I'm still not getting things to work.

So my project is a simple REST service that has a PUT method. I've annotated that function with `@GZIP` and for small payloads that seems to work fine.

[code]

My `application.settings` are as follows:

[code]

And here is the result of running a `curl` command that sends

[2021-01-21 13:52] defnull commented on #14473
Just RESTEasy (+jackson)

[2021-01-21 13:55] bwand commented on #14474
Ah ok thank you. This is my first bug opened here in quarkus. I will check the snapshots.

[2021-01-21 14:00] ia3andy commented on #14478
cc @gastaldi it's the Smart Merger :-/

[2021-01-21 14:08] gastaldi commented on #14478
@ia3andy can you provide a reproducer? This hasn't changed since last September (https://github.com/fabric8-launcher/maven-model-helper/commits/v16)

[2021-01-21 14:12] gsmet commented on #14478
But we weren't using that one before, right? @rsvoboda is comparing this to 1.7 so a very old version.

[2021-01-21 14:15] gsmet opened #14484 "Dev UI card for Hibernate Search"
I think it would be nice to have a Hibernate Search card and a few features exposed in the newly added Dev UI (https://quarkus.io/guides/dev-ui).

I was thinking we could have:
- full reindexing of all entities
- indexing of some of the entities (with a multi select box)

[2021-01-21 14:17] gsmet commented on #14473
If you could come up with a small reproducer, that would be helpful.

[2021-01-21 14:18] gsmet commented on #14473
/cc @asoldano

[2021-01-21 14:19] ia3andy commented on #14478
The codestarts use the (fabric8-launcher/maven-model-helper) and `1.7` was using the legacy codegen.

@gastaldi remember you already tried to fix it but said it wasn't possible because properties were not ordered or something?

[2021-01-21 14:21] gsmet commented on #14478
There's something that says sorted here: https://github.com/fabric8-launcher/maven-model-helper/blob/v16/src/main/java/io/fabric8/maven/merge/SortedProperties.java

:)

[2021-01-21 14:22] cescoffier commented on #14366
Fixed upstream.

[2021-01-21 14:24] ia3andy commented on #14478
@gastaldi maybe I should set something when calling?

https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/codestarts/src/main/java/io/quarkus/devtools/codestarts/core/strategy/SmartPomMergeCodestartFileStrategyHandler.java#L42

[2021-01-21 14:26] bpasson commented on #14469
Thanks, sorry for the inconvenience in the extra work it gave you.

[2021-01-21 14:29] essobedo opened #14485 "Dependency exclusions on extensions are ignored"
**Describe the bug**
If for some reason we need to exclude a transitive dependency of a Quarkus extension, the dependency is excluded from the runtime dependencies but not from the deployment dependencies.

**Expected behavior**
The dependency should be excluded from the deployment dependencies too.

**Actual behavior**
The dependency is not excluded from the deployment dependencies.

**Concrete u

[2021-01-21 14:29] geoand commented on #14469
No inconvenience at all!

Thanks for the feedback!

[2021-01-21 14:33] bpasson opened #14486 "Quarkus RESTEasy Reactive Jackons @Blocking Failure should never be restarted"
**Describe the bug**
When using the @Blocking annotation on a REST Resource when using the quarkus-resteasy-reactive-jackson extension results in an IllegalStateException: FAILURE: should never be restarted.

**Expected behavior**
A correct response without the IllegalStateException.

**Actual behavior**
The following stacktrace is shown.

[code]

**To Reproduce**
1. Clone and build the sample pro

[2021-01-21 14:33] famod opened #14487 "Consider using maven.compiler.release instead of maven.compiler.source/.target when creating projects"
**Description**
With Java9+, the `relase` flag should be preferred over `source`/`target` because it will also check whether you are accidentally using an API that does not exist in a lower version.
One such problem is described here: https://www.morling.dev/blog/bytebuffer-and-the-dreaded-nosuchmethoderror/

So, instead of:
[code]
this should be used:
[code]

However:
- `release` doesn't work on

[2021-01-21 14:34] famod commented on #14487
@geoand We discussed that briefly on Zulip.

[2021-01-21 14:35] essobedo commented on #14485
The corresponding PR https://github.com/quarkusio/quarkus/pull/14488

[2021-01-21 14:36] michalszynkiewicz commented on #13770
The current version of Quarkus properly describes the problem. I'll close this issue

[2021-01-21 14:36] #13770 closed

[2021-01-21 14:39] michalszynkiewicz commented on #13536
@anborg is there a separate issue for the warnings?

[2021-01-21 14:40] defnull commented on #14473
While trying to create a reproducer, I could not reproduce the error. I'm not sure yet where the difference is. I'll investigate. You may close this issue and I'll open another once I can actually reproduce it.

[2021-01-21 14:43] gastaldi commented on #14478
@ia3andy you shouldn't have to, because it's handled in https://github.com/fabric8-launcher/maven-model-helper/blob/master/src/main/java/io/fabric8/maven/merge/SmartModelMerger.java#L29-L41.

Can you add a breakpoint in that line and check if the `Properties` in the Maven model is a `SortedProperties`?

[2021-01-21 14:50] defnull commented on #14473
The error happens during tests only, not when running the service and actually issuing requests. I'll try this in the reproducer.

[2021-01-21 14:59] defnull commented on #14473
Yes, that's it. The problem seems to be related with the quarkus test framework? Here is a reproducing example:

    https://github.com/defnull/quarkus-issue
    cd quarkus-issue
    mvn test

[2021-01-21 15:14] glefloch commented on #14484
I would definitely be interested into working on this if this is ok for everyone.

[2021-01-21 15:19] jamesward commented on #14334
Thanks!

[2021-01-21 15:30] gsmet commented on #14484
@glefloch Sure!

[2021-01-21 15:33] yrodiere commented on #14484
@glefloch That would be great, thanks!

Some information that you may find useful:

* You can access the `SearchMapping` from Arc, it's a bean
* You can use `org.hibernate.search.mapper.orm.mapping.SearchMapping#allIndexedEntities` to list all indexed entities
* You can use `mapping.scope( MyClass.class ).massIndexer()` to create a mass indexer; no need to open a transaction.
* As a second step, w

[2021-01-21 15:33] ia3andy commented on #14478
I think I found the problem, the fabric8-launcher/maven-model-helper `Maven.readModel` and `Maven.writeModel` are not using the `SortedProperties` and when there is one pom only, it's not using the `SmartModelMerger`. @gastaldi is on it..

[2021-01-21 15:35] #14440 closed

[2021-01-21 15:38] helia94 commented on #8097
Is there a fix for this yet? I have the same problem with unannotated tests. Using maven. The problem is there when running from IntelliJ and terminal. Not only is the resource invoked, but system properties set in the resource, e.g. "quarkus.datasource.jdbc.url", are injected into the unannotated tests.

[2021-01-21 15:42] gsmet commented on #14478
Nice work, folks!

[2021-01-21 15:46] famod commented on #8097
@helia94 Didi you have a look at `QuarkusTestProfile` which were introduced with Quarkus 1.6?
https://quarkus.io/guides/getting-started-testing#testing_different_profiles

The downside of this approach is that this will, with a wild mix of many annotated and not annotated tests, result in many container "ups and downs". Sorting test classes could mititgate this but there is no good way to do that

[2021-01-21 15:59] helia94 commented on #8097
I had seen it. But did not think this will fix the problem. In the link, you mentioned even says forthe last function ( testResources()):

"This method allows us to apply additional QuarkusTestResourceLifecycleManager classes, specific for this profile only. If this method is not overridden, then only the QuarkusTestResourceLifecycleManager classes enabled via the @QuarkusTestResource class annota

[2021-01-21 16:08] ge0ffrey commented on #13341
Any change on this?

[2021-01-21 16:11] helia94 commented on #8097
This worked.

[2021-01-21 16:25] sberyozkin commented on #14141
@VasilisAndritsoudis I think you should also update
[code]
to be a multi build item
[code]
to fix #14466.

Give it a try please to the PR in the next few days so that we can try/test it early next week - don't worry about the tests for now :-), we'll push the tests to your branch once the fix is verified

[2021-01-21 16:59] ia3andy commented on #14435
This has been here for a while (it was already in legacy).

This would be an easy fix, we just have to remove the `_` replace to `.` there:
https://github.com/quarkusio/quarkus/blob/master/independent-projects/tools/devtools-common/src/main/java/io/quarkus/devtools/commands/handlers/CreateProjectCommandHandler.java#L72

and there for the legacy:
https://github.com/quarkusio/quarkus/blob/master/ind

[2021-01-21 17:08] sberyozkin opened #14492 "Migrate quarkus-oidc to Vert.x Mutiny WebClient"
**Description**
After a `quarkus-oidc-client` extension has been implemented in terms of Vert.x Mutiny WebClient, it is hard to resist now and avoid finally starting the migration effort to this client for `quarkus-oidc`.

The main motivation behind it is for `quarkus-oidc` to get a finer-grained control about the ways the verification and other OIDC logic is done. There are a few cases reflected

[2021-01-21 17:22] bwand commented on #14480
Hi, I do get exactly the same error without any overriding of config. Just setup oidc-client, tested it in Dev Mode and everything worked fine.

Then build Docker Container and start it and I get this error and quarkus app refuses to start

[code]

[2021-01-21 17:49] radcortez commented on #14480
@Sgitario @bwand can you please try something for me?

Remove any configuration you may have in the application for `quarkus.oidc-client.auth-server-url` and `quarkus.oidc-client.client-id`. If you try to start, Quarkus should complain that these properties are required.

And then try to set it up as an env variable to see if the error is the same (meaning that the property is not being read) or i

[2021-01-21 19:25] famod commented on #8097
Well, to me the other way round would be more logical, e.g. when two tests need a Postgres container and two others don't, then I would create a `PostgrestTestProfile` and use it for the two tests that need it.

[2021-01-21 20:05] sherl0cks commented on #12393
Graal 21.0.0 now support AWT and ImageIO https://github.com/oracle/graal/issues/1163 and https://www.graalvm.org/release-notes/21_0/. These are issues I've been tracking for a long time. Is there any way to disable the current quarkus substitution until quarkus has a fix?

[2021-01-21 20:21] javadevmtl commented on #14056
I' m not sure if this is the same issue but I cannot seem to share Smallrye messaging destination between 2 producers. Initially I got the same above error and was pointed to this bug here.

I just tried 1.11.0 and I'm getting `javax.enterprise.inject.spi.DeploymentException: Wiring error(s) detected in application.`

This is what I'm trying...

[code]

[2021-01-21 20:29] gsmet commented on #12393
/cc @zakkak for the 21 upgrade

[2021-01-21 20:30] phillip-kruger commented on #14431
Hi @gsmet, @hhovhann and @Postremus

I ended up just implementing hot reload support. That solves the issue of what mvn command works.
And app without any custom branding can now be started in dev mode and branding can be added while running.

See #14499

[2021-01-21 20:57] edco29 commented on #10400
Hi there , is there  any documentation with Quarkus  instead SpringBoot ?

[2021-01-21 21:26] stuartwdouglas commented on #14427
We should, but the Keycloak policy enforcer will need to adopt a different approach to a fully buffered request.

The issue is that for form/multipart requests the body handler does not provide the request as a buffer, but as fully parsed data, and there is no way to disable this (if you turn it off it just drops the request instead of buffering it).

[2021-01-21 22:17] stuartwdouglas commented on #14424
[code]

[2021-01-21 22:37] PedroEsnaola opened #14504 "File not found exception on dependency quarkus-resteasy-reactive-deployment-1.11.0.Final.jar"
**Describe the bug**
Cant start the application due to quarkus cant found a file (the file exists, i cant figure out what is happening)

**Expected behavior**
Application start
(ps), when i ran the tests, the application starts,strange

**Actual behavior**
(Describe the actual behavior clearly and concisely.)
[code]

**To Reproduce**

I just build a project using quarkus plugin for intellij

Or at

[2021-01-21 22:51] eliaharm commented on #6948
https://github.com/quarkusio/quarkus/issues/6948#issuecomment-619872942
Will using  CDI.current() work?
I need to read a header value in PrePersist what class should i inject

[2021-01-21 23:46] evanchooly commented on #14424
Wow.  Nice catch.  Can we change anything on our end to prevent that ?

[2021-01-22 01:31] stuartwdouglas commented on #14424
I have added a hack to init the class before starting Mongo, and reported the JDK bug.

[2021-01-22 02:11] #14486 closed

[2021-01-22 02:55] edufolly commented on #10768
Hi folks, I have the same problem when I try to persist in a `TIMESTAMP_WITH_TIMEZONE` Postgres field.

I declare the attribute in the entity.

[code]

and I receive always the same error:

[code]

I also tried to create my own `AbstractSingleColumnStandardBasicType` but after the serialization, I have a similar error message.

[code]

Researching how to solve the error I found this line that over

[2021-01-22 02:58] cockatoowtf commented on #8386
I can confirm this is the solution = Adjust the memory setting too in your Docker Desktop. I didn't see this suggestion in anywhere for months. Thanks god!
Without that, even you set your xmx  to 10g it just wont work.

As for the jvm xmx, I'm doing it in command as such
`mvn clean install -Pnative -Dnative-image.docker-build=true -Dquarkus.native.native-image-xmx=4g`

[2021-01-22 05:30] stuartwdouglas commented on #9671
@patriot1burke @asoldano  I am not sure what the correct fix is here. In org.jboss.resteasy.plugins.interceptors.GZIPDecodingInterceptor#getMaxSize it attempts to read the config via

      ResteasyConfiguration context = ResteasyContext.getContextData(ResteasyConfiguration.class);

But for standalone mode the context is always null (this works if Undertow is present).

When Resteasy standalone do

[2021-01-22 05:58] absurdfarce commented on #9183
The build is still failing:
* Link to latest CI run: https://github.com/datastax/cassandra-quarkus/actions/runs/502931610

[2021-01-22 06:05] kie-ci commented on #12486
The build is still failing:
* Link to latest CI run: https://github.com/kiegroup/kogito-runtimes/actions/runs/502932554

[2021-01-22 06:06] Mobe91 commented on #9142
The build is still failing:
* Link to latest CI run: https://github.com/Blazebit/blaze-persistence/actions/runs/502931399

[2021-01-22 06:24] geoand commented on #10400
The issue is still open as https://github.com/quarkusio/quarkus/pull/11106 was never completed

[2021-01-22 06:32] #14424 closed

[2021-01-22 06:47] cescoffier commented on #14056
I don't believe it's the same bug, do you have the complete stack trace (including the suppressed exception).

[2021-01-22 07:13] Sgitario commented on #14480
Thanks for looking into this @radcortez . I tried what you suggested and it worked for me. However, when using a more complex scenario (tenant configuration), it's still not working, for example:
These are the environment properties that I'm passing:

- `QUARKUS_OIDC_AUTH_SERVER_URL` (this property is for the existing OIDC extension and it's working fine: it's mapped to `quarkus.oidc.auth-server-u

[2021-01-22 07:34] ppalaga commented on #14471
I wonder whether Quarkus tooling could not add `quarkus-vertx-http` under the hood if necessary? That would be even better than documenting the prerequisite.

[2021-01-22 07:39] geoand commented on #14471
cc @aloubyansky

[2021-01-22 07:44] #14402 closed

[2021-01-22 07:51] geoand commented on #14504
I have not been able to reproduce this at all.

@rsvoboda maybe?

[2021-01-22 07:52] glefloch commented on #14484
Thanks for all those infos!

[2021-01-22 08:09] yrodiere commented on #14293
@ChMThiel I had a closer look, and it turns out you can already do what you want, without any new annotation.

The trick is to use `@ConvertGroup`. Since you know the `Default` group is active, you can convert it in whatever group you want. So, to enable the `Put` and `Post` groups when validating a parameter, do something like this:

[code]

Then this bean will be required to have a null `id` in

[2021-01-22 08:45] ChMThiel commented on #14293
@yrodiere Thank your for your suggestions. I will try it that way.

[2021-01-22 09:00] bwand commented on #14480
Hi @radcortez I tried what you suggested. Removed all oidc-client config from application.config results to
[code]
Then try to start the docker container via:
`docker run -d --name=admin --net=flows -e QUARKUS_OIDC_CLIENT_AUTH_SERVER_URL=http://keycloak:8080/auth/realms/flows -e QUARKUS_OIDC_CLIENT_CLIENT_ID=admin -e QUARKUS_OIDC_CLIENT_CREDENTIALS.SECRET=XXXXXXXXXXXXXX --rm -p 8095:8095 flows/adm

[2021-01-22 09:02] nachogiljaldo opened #14510 "ConcurrentModificationException thrown when closing a connection on a reactive pool"
**Describe the bug**
While operating database, an exceptions is thrown randomly (but very often), here's the stacktrace:
[code]

From what it seems, the code was introduced in https://github.com/quarkusio/quarkus/pull/14134 . In fact the behaviour disappears if I turn back to 1.10.5.
The PR contains a test, but the test does not cover the scenario because it fails only when the "dead" connection i

[2021-01-22 09:10] gsmet commented on #14510
/cc @Sanne

[2021-01-22 09:11] nachogiljaldo commented on #14510
I'm raising a PR with a test that reproduces it and a simple solution.

[2021-01-22 09:24] Sanne commented on #14510
Interesting, thanks. This seems to suggest that other integrations we've been testing don't actually close the connections, and I wonder if you really should as they are all reusable within the context of the same event loop.

[2021-01-22 09:32] mmusgrov commented on #13776
When a JTA transaction is started it gets associated with the calling thread (this is in the JTA spec). If you start a second transaction while that one is running and still associated then we throw a javax.transaction.NotSupportedException.

JTA transaction management is normally performed by frameworks and the usual behaviour is to suspend the original transaction before starting another one. We

[2021-01-22 10:21] rsvoboda commented on #14504
Not on Windows to try this, `C:\Users\Pedro%20Esnaola\` can be the troublesome piece.

Try to use adjusted local repository without space in the path, e.g. `mvn quarkus:dev -Dmaven.repo.local=C:\Temp\local-repo` from command line.

Another thing to try is to put the project into directory without space in the path, assuming you have your project in the directory structure under your windows profil

[2021-01-22 10:27] zakkak commented on #12393
Could someone please point me to a reproducer? We should probably add an integration test for this as well.

[2021-01-22 10:31] JiriOndrusek commented on #12393
@zakkak there is no special reproducer created for this issue.

Simulation could be done by execution of test https://github.com/apache/camel-quarkus/tree/master/integration-tests/fop

1. first change value in https://github.com/apache/camel-quarkus/blob/master/extensions/fop/runtime/src/main/java/org/apache/camel/quarkus/component/fop/PDFRendererOptionsConfigSubstitution.java#L29 to `false`
2. ru

[2021-01-22 10:31] PedroEsnaola commented on #14504
But if the space was a problem, another projects will throw the same error, right?
but they doesn't

[2021-01-22 10:33] geoand commented on #14504
I tried with a space on Linux and there wasn't any problem

[2021-01-22 10:34] geoand commented on #14504
Only that specific project is causing issues for you? If so, can you share it?

[2021-01-22 10:36] Postremus commented on #13776
@mmusgrov The "Wrong transaction on thread" is already fixed by #13855. Main problem was, that in case of an exception the suspended transaction never got activated again.

Only thing really remaining is that narayana is logging the exception as warning.
[code]

I believe that this log should at least not include the full exception, since the exception itself is rethrown and is then logged by quar

[2021-01-22 10:37] PedroEsnaola commented on #14504
https://github.com/PedroEsnaola/quarkus-resteasy-reactive-error.git

pushed to github

[2021-01-22 10:38] geoand commented on #14504
Let me try

[2021-01-22 10:41] geoand commented on #14504
Everything worked fine for me...

[2021-01-22 10:43] PedroEsnaola commented on #14504
i will use another folder for repo and se what happen

[2021-01-22 10:43] sberyozkin commented on #14480
@Sgitario Hi - have you tried overriding `quarkus-oidc` tenant specific properties before ? thanks

[2021-01-22 10:45] PedroEsnaola commented on #14504
oh Ok, good luck
After you fix it, can you leave a briefing, i'm curious

[2021-01-22 10:53] sberyozkin commented on #14480
@bwand Hi, the Vert.x client is created [here](https://github.com/quarkusio/quarkus/blob/master/extensions/oidc-client/runtime/src/main/java/io/quarkus/oidc/client/runtime/OidcClientRecorder.java#L103). The tests depend on the Keycloak running in docker. In your case, it connects to Keycloak when you set the properties in `application.properties`, correct ? So it looks like the system properties h

[2021-01-22 10:55] #11281 closed

[2021-01-22 10:57] sd-f commented on #14480
It seems properties `ssl` and `host` of WebClientOptions are always set to false and localhost in OIdcClientRecorder:107.

[2021-01-22 11:00] pedroigor commented on #14472
@albert0815 What is the Keycloak version you are using? It seems related to https://github.com/quarkusio/quarkus/issues/9057.

[2021-01-22 11:03] bwand commented on #14480
Hi @sd-f, this would match to my scenario where it can reach the Keycloak over localhost when I start application from dev mode.
But it cannot reach Keycloak via internal docker URL http://keycloak:8080...

[2021-01-22 11:04] sd-f commented on #14480
I'll try fixing that locally and do some tests

[2021-01-22 11:06] bwand commented on #14474
Hi @sberyozkin I tried with the latest snapshots and works like a charm.

[2021-01-22 11:07] #14474 closed

[2021-01-22 11:12] StefanVanDyck opened #14513 "AWS lambda extension fails to Deserialize trigger Classes correctly"
**Describe the bug**
When running my DynamoDB-stream triggered lambda I receive the following error:
`2021-01-21 01:37:10,665 ERROR [io.qua.ama.lam.run.AbstractLambdaPollLoop] (Lambda Thread) Failed to run lambda: com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `java.util.Date` out of VALUE_NUMBER_FLOAT token
at [Source: (sun.net.www.protocol.http.HttpUR

[2021-01-22 11:29] albert0815 commented on #14472
We are using 11.0.3 (please take a look at the reproducer if possible).

[2021-01-22 12:07] mmusgrov commented on #13776
What about the alternate viewpoint that it should be the responsibility of quarkus not to re-throw the exception. Changing it in Narayana means that other systems we integrate with would not see the stacktrace. Is the quarkus code that re-throws it in the JTA extension or is it happening elsewhere, if it under quarkus's control then it ought to be done there?

[2021-01-22 12:20] mmusgrov commented on #13776
Ah wait, you said that we were re-throwing it and that quarkus then logs it again. I would still argue that an alternate viewpoint is that quarkus log only the message if it thinks the full stack has already been logged. If you still think we should not log the full stack then we would need input from the various narayana jta transaction stakeholders. For that you could raise the issue on our foru

[2021-01-22 12:23] radcortez commented on #14480
Yes, I was suspecting that the issue was related with the docker or any other environment not being able to reach the server than a configuration issue, that is why I've asked to do that test.

Now that we seem to have a cause, I'll try to setup an environment to test this properly.

[2021-01-22 12:23] alkuit opened #14515 "Kotlin: Make installMockForType work for @RegisterRestClient Beans"
**Describe the bug**
When using Kotlin, JUnit and MockK (and not mockito), `@RegisterRestClient` Beans cannot be mocked with `installMockForType`.

[code]

**Expected behavior**
Mocking should work for `@RegisterRestClient` Beans with `installMockForType`.

**Actual behavior**
Mocking does not work, fails with exception:
[code]

**To Reproduce**
Link to sample: https://github.com/alkuit/quarkus-mo

[2021-01-22 12:26] bwand opened #14516 "Metrics throw a 500 Internal Server Error when Application has configured a quarkus.http.root-path"
**Describe the bug**
When the App has a quarkus.http.root-path configured I get a 500 and the Error:
`The expected context root of metrics is /q/metrics, but a request with a different path was routed to MetricsRequestHandler`
when trying to browse Metrics.

**Expected behavior**
Metrics should also work with a root path.

**Actual behavior**
Browsing to http://localhost:8095/admin/q/metrics throw

[2021-01-22 12:27] geoand commented on #14504
I opened https://github.com/quarkusio/quarkus/pull/14517.

As you can see there, it's all about handling non ASCII chars correctly...

[2021-01-22 12:30] ia3andy commented on #11281
Cool that it's merged, sorry I didn't have time to look in time, I'll give you feedback when I do :)

[2021-01-22 12:34] StefanVanDyck commented on #14513
Forgot to mention the work around was to add a custom Date Deserializer to quarkus.
This was easily achieved using an `ObjectMapperCustomizer` and copying the logic from `com.amazonaws.services.lambda.runtime.serialization.events.modules.DateModule`.

It just seems like this should work out-of-the-box when using the aws lambda extension.

[2021-01-22 12:39] sd-f commented on #14480
I am not sure about the vertx webclient, but as i understand it is setting host and ssl if options parameter is passed on create. Usally this is done by parsing absolute uris, but in this case options is passed and the parser ist skipped.

Everything works great when settings host and ssl in options as can be seen in:

https://github.com/quarkusio/quarkus/compare/master...sd-f:oidc-client-webclien

[2021-01-22 12:43] sberyozkin commented on #14474
@bwand thanks for testing

[2021-01-22 12:57] gastaldi commented on #9076
@bpasson will contribute to a Quarkiverse extension in https://github.com/quarkiverse/quarkus-rabbitmq-client. Closing this now

[2021-01-22 12:57] #9076 closed

[2021-01-22 13:00] jmartisk commented on #14516
Looks like after adding support for `quarkus.http.non-application-root-path`, the property `quarkus.http.root-path` mistakenly isn't properly taken into account anymore, but we need to mind both now. Will be an easy fix.

[2021-01-22 13:01] patriot1burke commented on #14513
You are not using the quarkus dynamo extension correct?   I agree this should work out of the box.  We're having a bit of problem with deserializing AWS event types.  They all seem to follow a different pattern.  Some of the classes don't have setter methods, and it looks like others like dynamo do different date serialization.

[2021-01-22 13:08] StefanVanDyck commented on #14513
[lambda-deserializer-reproducer.tar.gz](https://github.com/quarkusio/quarkus/files/5855998/lambda-deserializer-reproducer.tar.gz)

 Indeed, I am not using the dynamo extension.
 I included a small reproducer starting from the lambda maven archetype with no additions.

[2021-01-22 13:09] sberyozkin commented on #14480
@sd-f Great, thanks for finding this code - I see the similar updates are done inside Vertx Oauth2 when doing a request.

can you open a PR please - we can then ask Guillaume to backport ? I'd only consider renaming this method to `setWebClientOptions`, `OidcCommonUtils.setHttpOptions` is used both by `quarkus-oidc-client` and `quarkus-oidc` but for now lets keep this code inside `OidcClientRecord

[2021-01-22 13:13] sberyozkin commented on #14480
@cescoffier hey Clement - would it make sense to have this code @sd-f has posted be part of a helper method like `WebClientOptions.newOptions(authServerUrl)` or similar ? thanks

[2021-01-22 13:52] sd-f commented on #14480
@sberyozkin https://github.com/quarkusio/quarkus/pull/14521 the right place would be common util module i guess, I was note sure about side effects.

[2021-01-22 13:55] gsmet commented on #14451
Fixed.

[2021-01-22 13:55] #14451 closed

[2021-01-22 14:04] sberyozkin commented on #14480
@sd-f right, at the moment `quarkus-oidc` is using vertx web client indirectly so indeed it is better to keep it separate for now

[2021-01-22 14:14] iamavx commented on #14284
Hey, I am new beginner in this issue can you suggest me how to get started

[2021-01-22 14:21] sberyozkin opened #14522 "OIDC HtmlUnit tests started logging CSS retrieval errors after update to Keycloak 12.0.2"
**Description**
I've noticed many error log entries like:

[code]

Adding `quarkus.log.category."com.gargoylesoftware.htmlunit.javascript.host.css.CSSStyleSheet".level=FATAL` fixes it.

@pedroigor FYI - do you think it can be a KC packaging issue ? I'll open a PR which will get this log errors hidden and this issue closed - in meantime please check on the KC end

thanks

[2021-01-22 14:38] javadevmtl commented on #14056
Here is the error on 1.10.5 and below it is the 1.11.0 error...

Behaviour is a bit different between both versions. This exception gets thrown when I try to write to Kafka using the emitter. While for 1.11.0 the wiring exception gets thrown at startup...
[code]

1.11.0

This throws at startup and Quakus quits.
[code]

[2021-01-22 14:46] zakkak commented on #12393
@JiriOndrusek I am not able to reproduce with:

[code]

[2021-01-22 15:00] mjurc opened #14525 "configMap configured in quarkus.openshift properties does not get picked up by Quarkus application"
**Describe the bug**
`configMap` configured in  `quarkus.openshift` according to [Quarkus - Deploying on OpenShift](https://quarkus.io/guides/deploying-to-openshift) does not get properly recognised by a Quarkus application. This approach worked in 1.7, therefore this is a breaking change.

With Quarkus 1.7, using the properties from docs was sufficient for a RESTful Quarkus application to pick up

[2021-01-22 15:03] geoand commented on #14525
cc @metacosm who worked on the env vars rework

[2021-01-22 15:30] VasilisAndritsoudis commented on #14141
@sberyozkin Alright, to whom should I make the PR and on what branch?

[2021-01-22 15:33] aloubyansky commented on #13341
That's a bit tricky. At this point the project build properties aren't checked to contain `quarkus.profile` https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/ProfileManager.java#L41
And the profile is configured early https://github.com/quarkusio/quarkus/blob/master/core/runtime/src/main/java/io/quarkus/runtime/configuration/ConfigUtils.ja

[2021-01-22 15:39] sberyozkin commented on #14480
@radcortez

thanks for it :-)

[2021-01-22 15:41] patriot1burke commented on #9671
Yeah, I probably missed some initialization code.  I'll assign this issue to myself.

[2021-01-22 15:48] cescoffier commented on #14056
Here is the issue:
	Suppressed: io.smallrye.reactive.messaging.wiring.TooManyUpstreamCandidatesException: 'OutgoingConnector{channel:'my-out', attribute:'mp.messaging.outgoing.my-out'}' supports a single upstream producer, but found 2: [Emitter{channel:'my-out'}, ProcessingMethod{method:'dead', incoming:'my-dlq', outgoing:'my-out'}].

There is an open issue to allows _connectors_ (as `my-out` is m

[2021-01-22 15:50] jaikiran commented on #14423
Hello @dmlloyd,

I guess that's indeed the case - this substitution in smallrye-common is targetting the wrong class https://github.com/smallrye/smallrye-common/blob/master/net/src/main/java/io/smallrye/common/net/Substitutions.java#L19. I haven't checked rest o the code in that project. I guess there might be more such copy/paste migration issues?

[2021-01-22 16:01] jaikiran commented on #14423
I've raised https://github.com/smallrye/smallrye-common/pull/75 with a patch. Having said that, I'm don't see how that one substitution alone will prevent the computed host name at build time not be stored for runtime.

[2021-01-22 16:02] javadevmtl commented on #14056
What's the @Merge for? Also to not my @Incoming for me is different then my-out.

[2021-01-22 16:47] CurtisBaldwinson opened #14528 "IllegalAccessError with Reactive Hibernate Panache Entity from Unit Test"
**Describe the bug**
Using quarkus-hibernate-reactive-panache
Inside a unit test, instantiating an Entity that extends PanacheEntityBase yields an IllegalAccessError when attempting to set a public member.
Likely similar to https://github.com/quarkusio/quarkus/issues/12514 but I believe the fix may have only been for MongoDB, instead of MySQL.

**Expected behavior**
To be able to instantiate an En

[2021-01-22 16:58] michalszynkiewicz commented on #12802
@djnalluri I finally have some time for it and I'm rereading our conversation.
There is one thing that cought my eye, you wrote:
`So the definitions are not a source of truth as the interface may evolve underneath them`

Do you mean that you generate the Java files from proto once and then modify Java files?

[2021-01-22 17:19] machi1990 opened #14530 "Better DevExp for serialization feature support as of GraalVM 21"
**Description**

The new release of [GraalVM 21.0](https://www.graalvm.org/release-notes/21_0/) adds serialization support, developers can configure class for serialization via the serialization configuration file `-H:SerializationConfigurationResources=/path/to-serialization-config.json` option.

This release will be [supported in Quarkus soon](https://github.com/quarkusio/quarkus/pull/14512) tha

[2021-01-22 17:42] martinoneutrino commented on #10186
What is the performance with the lambda given a 2048MB memory allocation? Lambda CPU is proporational to memory assigned, and with millisecond billing now, it makes sense to increase the memory to get a nearly proportionally faster response time.

[2021-01-22 17:45] geoand commented on #14530
Thanks for bringing this up @machi1990

Although it's interesting, I don't think anyone has ever complained about serialization not working in native, which probably means no one relies on it.
In that light, I propose we hold off from adding anything unless users really ask for it

[2021-01-22 17:57] akoufa opened #14532 "Redis Sentinel not working with Quarkus 1.11.2"
**Describe the bug**
Hello. Quarkus is not being able to connect with Redis Sentinel. The standalone option works as expected. The issue is reproducible with both Quarkus 1.10.5 and 1.11.0

**To Reproduce**

You can use the following project to reproduce the issue: https://github.com/akoufa/quarkus_sentinel_issue. In this project I am configuring two Redis clients one with sentinel and one standal

[2021-01-22 17:59] gsmet commented on #14530
So... my secret dream would be to have a Wicket extension for Quarkus and we would need to be able to register classes for serialization for this to work :).

[2021-01-22 17:59] sberyozkin opened #14533 "Investigate why the JWT private key OIDC client test has started failing on the MP 4.0 branch"
**Describe the bug**
Roberto reported a problem with the key loading for `OidcClientCredentialsJwtPrivateKeyTestCase` which uses an RSA key in the pem format - strangely enough it is not detected yet in the quarkus snapshots - because smallrye-jwt 2.4.3 has not been released yet while smallrye-jwt-3.0.0-SNAPSHOT has picked up the fix related to loading the elliptic curve keys in PEM format.

[2021-01-22 18:01] geoand commented on #14530
Then that make you the first user to request it 😂

[2021-01-22 18:01] djnalluri commented on #12802
Apologies for the poor wording. We use a proprietary software/framework for developing a legacy application. We have a Maven plugin connect to an active instance and scan some internal schemas to determine what interactions are actually possible. The intention is to wrap these interactions with gRPC. So what I meant by that statement was that we don't know for sure what gRPC methods may be support

[2021-01-22 18:04] aldettinger commented on #14034
After more investigation, the issue could also happen repeatedly in debug too. So this is not linked.
I strongly suspect that the root cause is the crc cluster availability/stability as most of the time the web console fails at the same time of the deployment.
Moreover, I'm able to deploy the very same projects on a remote cluster with no issue.
I don't see more value to this ticket, so closing. F

[2021-01-22 18:04] #14034 closed

[2021-01-22 18:09] machi1990 commented on #14532
@akoufa thank you for opening the issue.

I've tried the reproducer for both of the endpoints I am getting back `it works`.

[2021-01-22 18:16] machi1990 commented on #14530
I think we are not seeing the request here (yet), as this has been mostly a GraalVM issue.

[2021-01-22 18:24] cescoffier commented on #14056
@Merge allows consuming messages from multiple producers, in your case the emitter and the method.

[2021-01-22 18:51] gsmet commented on #14530
For me, it's the role of Quarkus to expose this and make it easier to use, even if in the end few people use it.

[2021-01-22 18:52] #14522 closed

[2021-01-22 19:02] geoand commented on #14530
I would argue that it's probably prudent to reduce our surface by not introducing features that users don't have a need for.

[2021-01-22 19:03] akoufa commented on #14532
Hello @machi1990 . I am getting the following exception: `io.smallrye.mutiny.TimeoutException` . In the production system we have a similar setup where I am getting the following exception: `:io.vertx.core.impl.NoStackTraceThrowable: No more endpoints in chain.` . Both when using the sentinel setup.

[2021-01-22 19:11] javadevmtl commented on #14056
Ah ok, because I'm just using @Outgoing("my-out-from-connector") without @Merge and it seems to work.

[2021-01-22 19:12] pedroigor commented on #14472
@albert0815 Currently, we don't do any call to the server when invoking `checkPermissions` but just iterate over the permissions previously granted.

The policy enforcer basically works in two modes, depending on the bearer token you are using. If the token already holds the permissions (if the client obtained a token before like this https://www.keycloak.org/docs/latest/authorization_services/#_s

[2021-01-22 19:19] eldimious commented on #14532
Hey @akoufa @machi1990 . I have the same error with @akoufa . When I run the second endpoint [http://localhost:8080/hello/sentinel](http://localhost:8080/hello/sentinel) I am receiving error. I attached below the error sceenshot:
<img width="1219" alt="Screenshot 2021-01-22 at 9 18 40 PM" src="https://user-images.githubusercontent.com/5548457/105535313-6bc9d900-5cf7-11eb-93d8-42ccafc4dcd3.png">

[2021-01-22 19:30] gunnarmorling opened #14534 "Non-existing template variable not reported by Qute"
**Describe the bug**

I have a template declared like so:

[code]

In the template itself, I reference an undeclared variable:

[code]

The build succeeds despite this error; at runtime, this exception is raised:

[code]

**Expected behavior**

Build fails due to the undeclared variable todos123

**Actual behavior**

Build passes.

**To Reproduce**

Build https://github.com/gunnarmorling/quarkus-q

[2021-01-22 20:05] edeandrea commented on #13850
I just tried it using the developer sandbox and it worked fine

[2021-01-22 20:06] vteferrer commented on #8140
In my opinion, a programmatic way to access and operate the Cache is mandatory. The current operation is a good starting point but as a project grows, quickly emerge many situations where the minimalistic current API is not enough. I look forward to your next steps in this direction with great interest!

[2021-01-22 20:16] fabrii commented on #4644
+1

[2021-01-22 20:17] fabrii commented on #4644
We also need this feature in our project. Thanks!

[2021-01-22 20:20] machi1990 commented on #14532
Thanks @akoufa @eldimious , does changing (increasing) the timeout https://quarkus.io/guides/redis#quarkus-redis-client_quarkus.redis.timeout produce any effect? The default is 10s, should be enough but try changing it to some higher value to see if connection timing out is an issue here.

[2021-01-22 21:22] knutwannheden opened #14536 "NPE thrown in X-Forwarded-For header parsing"
**Describe the bug**
I got the following error and stack trace reported when a request was sent with the following header `X-Forwarded-For: 10.17.13.17`. I don't know for sure if this is the header which caused the problem, that is just my assumption. I am however quite sure this problem didn't exist before Quarkus 1.11.0.Final.

[code]

**Expected behavior**
Probably the header should be ignored

[2021-01-22 21:51] kekbur opened #14537 "Inconsistent request path matching with X-Forwarded-Prefix"
**Describe the bug**
When `X-Forwarded-Prefix` header processing is enabled Vertx handlers and Quarkus resources match request paths inconsistently with each other. Specifically, Vertx handlers are matched against the **actual request path** whereas Quarkus resources annotated with `@Path` are matched against **prefix + actual path**.

I believe Vertx handlers exhibit the correct behavior.

**Expe

[2021-01-22 22:23] sberyozkin commented on #14480
Hi @Sgitario, so @sd-f has provided a PR which will close this issue. The only remaining problem then is overriding the tenant specific properties does not work - please check next week if you can override them with `quarkus-oidc` - I wonder if it is a general problem with the `Map` properties - and then please open a new issue
thanks all

[2021-01-22 22:27] hernael commented on #14044
hi, i have a similar error with postgresql reactive panache

The first request after startup the application to a code like this:

[code]

generates this error:

[code]

but the following requests no generate any more errors!! the code works fine.

First request -> error
Second (or third) request -> No error

it only fails with the first request after startup

[2021-01-22 22:34] #14480 closed

[2021-01-22 22:36] sberyozkin opened #14540 "Impossible to override OIDC non-default tenant properties"
**Describe the bug**
@Sgitario hi, FYI, please check `quarkus-oidc-client` and `quarkus-oidc` - may be it is related to Map properties in general, if  yes then we will rename this issue

[2021-01-22 22:42] sberyozkin opened #14541 "Check if OIDC Client can use Vertx Web Client more effectively"
**Description**
@sd-f has helped with setting the web client options correctly.

What would be good to check next is look at `.getAbs()` (vs `.get()`). @vsevel uses `.getAbs()` in his PR.
The question I have, what is cheaper. If we set the default host and port options then may be it is more efficient to use only the path component of the auth server url and also the token url ? At the moment we s

[2021-01-22 22:49] sberyozkin commented on #14533
@radcortez I've reproduced with 2.4.3-SNAPSHOT too

[2021-01-22 23:10] metacosm commented on #14525
I did work on the env vars rework but this issue pertains to mounts and volumes and my changes didn't affect these parts. I haven't looked at the mount code so I don't know what it does, sorry! 😞

[2021-01-22 23:27] sberyozkin commented on #14533
Fixed - there was a typo in a method which is only used from Quarkus