[2020-03-10 17:03] gsmet commented on #7745
/cc @machi1990

[2020-03-10 17:03] gsmet commented on #7746
/cc @machi1990

[2020-03-10 17:04] famod opened #7747 ""Maven CI Friendly Versions" are not (fully) supported, application is incomplete/broken"
**Describe the bug**
The `build` goal of the `quarkus-maven-plugin` builds an incomplete application in case ["Maven CI Friendly Versions"](https://maven.apache.org/maven-ci-friendly.html) are used.

E.g.:

Parent `pom.xml`:
[code]

Submodule `pom.xml` (the one with the `quarkus-maven-plugin` execution):
[code]

As described on  ["Maven CI Friendly Versions"](https://maven.apache.org/maven-ci-frie

[2020-03-10 17:07] aloubyansky commented on #7729
Ok, I see the problem is.

[2020-03-10 17:10] uhanisch commented on #7747
👍 I like the "Maven CI Friendly Versions" - don't change version of parent pom in alle pom.xml if you crate a bug release!

So, it would be create, if quarkus-maven-plugin could support this feature.

I could live with the _.flatten-pom.xml_ workaround

[2020-03-10 17:11] masini commented on #7462
I did some other experiments, I hope that with this data you can understand what is going on.

During "merge" `Ordine` and `PiattoOrdinato` are loaded in the first query and `piattiOrdinati` collection is wrapped inside a bag, then a second query triggers the load of `abbinamenti` (which is `LAZY`) but this is not wrapped inside a `PersistentBag`, a vanilla `ArrayList` is used to contains the obje

[2020-03-10 17:32] machi1990 commented on #7743
I'll need to have a look at this. Most probably after https://github.com/quarkusio/quarkus/issues/7745 and https://github.com/quarkusio/quarkus/issues/7746 ;-)

[2020-03-10 17:40] gsmet commented on #7743
Silly me.

The extensions are named `container-image-jib`... so that's what the centralized file is named. The other split files are based on config roots/groups/files and so on.

What we should use is:
* quarkus-container-image-docker.adoc
* quarkus-container-image-jib.adoc
* quarkus-container-image-s2i.adoc

@geoand can you take care of it?

[2020-03-10 17:41] gsmet commented on #7745
Silly me, everything is in the `quarkus-agroal.adoc` file as the extension is named `agroal`.

[2020-03-10 17:41] #7745 closed

[2020-03-10 17:55] machi1990 commented on #7743
Thanks @gsmet for having a look.

[2020-03-10 18:40] Sanne commented on #7721
merged the fix

[2020-03-10 18:40] #7721 closed

[2020-03-10 18:42] simonedavico commented on #6067
Nope :) I'll test ASAP and get back to you!

[2020-03-10 18:46] geoand commented on #7743
Ah, cool. Thanks for checking! I'll take care of it tonight

[2020-03-10 19:18] mejlholm commented on #3670
I'll check once its done and make sure it's in /gets into the guide :-)

[2020-03-10 19:28] maxandersen commented on #7672
what was the output you got ? en.windows-1252 ?

it works everywhere else so its the encoding of the terminal / what gradle does *not* do in comparison to mvn where it just works.

[2020-03-10 20:02] bcluap commented on #7695
Yes, but as per my test project, it works fine with Alpha1... very weird.

Is there a performance hit using the tracing driver if tracing is disabled?
I want to be able to turn tracing on/off without rebuilding.

Paul Carter-Brown
Director
Jini Guru
m: +27 (0) 83 442 7179 <+27834427179>
a: 1st Floor, Golf House, Design Quarter, Cnr. William Nicol and Leslie
  Johannesburg, South Africa
w: jini.gur

[2020-03-10 20:09] #7743 closed

[2020-03-10 21:26] GregJohnStewart commented on #7156
Good point, I will do that. CR2 seems to have issues finding jars from other gradle sub projects

[2020-03-10 21:42] ekarlso commented on #6271
Any ideas on when this will be started ?

[2020-03-10 21:46] sherl0cks commented on #7519
@dmlloyd @geoand I'm not a dev mode user since I'm deploying to aws lambda, so keep that in mind.

That said, if the idea here is to copy the .env over to target so that dev mode works as expect, and that this is transparent to the user, this is inline with the original objective of feature, which was to support a language neutral convention.

[2020-03-10 21:52] GregJohnStewart opened #7758 "1.3.0.CR2 Not finding jar from other subproject"
I am trying to upgrade to `1.3.0.CR2` from `1.2.0.Final`, and getting an error where the quarkus project can't find a jar generated from one of the sibling projects.

The project can be found here: https://github.com/GregJohnStewart/task-timekeeper

On an interesting note, `:WebServer:Server:test` works, but `:WebServer:Server:quarkusDev` fails with the following information:

[code]

[2020-03-10 21:53] famod commented on #7747
I found some time to create a reproducer, with slightly different Maven coordinates than in the original description but I think you'll manage. :-)

- clone https://github.com/famod/modmono-quarkus
- checkout `quarkus-7747-mvn-ci-friendly`

After `mvn clean install`:
- notice the size (way too small):
[code]
- app fails to start:
[code]

Now check out `master` and run `mvn clean install`:
- notice

[2020-03-10 22:12] gsmet commented on #7758
/cc @stuartwdouglas @gastaldi

[2020-03-10 22:14] gsmet commented on #7620
So, should we close that one?

[2020-03-10 22:19] gastaldi commented on #7758
@aloubyansky any clue?

[2020-03-10 22:52] #7730 closed

[2020-03-10 22:56] lordofthejars commented on #7736
And the same for `quarkus.container-image.registry` so my guess is that it is for any container-image property.

[2020-03-11 05:23] stuartwdouglas commented on #7541
I just tested the reproducer out on 1.3.0.CR2 and it seems to work.

[2020-03-11 07:12] phillip-kruger commented on #7620
I think so. @kenfinnigan ?

[2020-03-11 07:32] aloubyansky commented on #7758
I'll have a look.

[2020-03-11 07:48] mkouba commented on #7541
Yes, indeed. That confirms my theory of a class loading issue. @bnjns could you try to upgrade to 1.3.0.CR2?

[2020-03-11 07:49] geoand commented on #7717
cc @ppalaga

[2020-03-11 08:03] geoand commented on #7735
So should we close this?

[2020-03-11 08:07] previousdeveloper commented on #7451
+1

[2020-03-11 08:29] MrTyre2 commented on #7612
Hello @loicmathieu, I did another test : I tried to reach directly the graylog server with Gelf UDP, but the logs were still not supported by Graylog.. Do you think it is a Graylog issue or a Quarkus log issue ?
Is there a way to go around the quarkus-logging-gelf extensions to be able to log without interfering with Quarkus inner log management ? Thanks

[2020-03-11 08:48] famod commented on #7747
@aloubyansky & @gastaldi you seem to be the Maven experts here, WDYT?

[2020-03-11 09:04] andreas-eberle commented on #7735
@manovotn: I'm not sure if I'll find the time atm. @geoand: Not sure if you want to keep this open until it is better documented or have it closed since it is not really a bug but expected behavior/known limitation.

[2020-03-11 09:10] geoand commented on #6588
RSS tripped again

[2020-03-11 09:22] johnaohara commented on #6588
We're still running the old check, need to get the new check into master

[2020-03-11 09:22] zulq opened #7765 "Caused by: java.lang.IllegalArgumentException: Cannot subclass primitive, array or final types"
I have a base model in kotlin similar to the following:
[code]

And another `entity` inheriting from the base model similar to:
[code]
Stack trace:
[code]

Failing versions: 1.3.0.CR1 and CR2
Prev working versions: 1.2.0 and 1.2.1

[2020-03-11 09:24] cescoffier commented on #7678
I will have a look tomorrow. I need to setup a Windows 10 VM. We need to test it with GraalVM 19.3 and 20.x.

Clement
On 9 Mar 2020 at 13:06 +0100, Rostislav Svoboda <notifications@github.com>, wrote:

[2020-03-11 09:24] ppalaga commented on #7717
As I said on the chat, a mojo that has to be called per itest is not what I'd prefer to make `mvnd` work for Camel Quarkus or Quarkus itself. Analyzing the dependency tree per itest and parsing the jars sounds a bit too heavyweight. I think leveraging the source tree knowledge (extensions live under certain folders) to get the runtime-artifactId:deployment-artifactId mapping once for the whole sou

[2020-03-11 09:32] geoand commented on #6588
@johnaohara do you have the karma to cherry-pick it into master, or do we need @cescoffier to do that?

[2020-03-11 09:34] geoand commented on #7765
Thank you for reporting.

Can you please format the classes and also provide the full stacktrace?

@mkouba IIRC you made some kind of fix in Arc to around subclassing, am I right?

[2020-03-11 09:39] johnaohara commented on #6588
i'll take a look

[2020-03-11 09:48] bnjns commented on #7541
@mkouba Yep, just tested it with 1.3.0CR2 and it works, thanks 🙂

[2020-03-11 09:50] geoand commented on #7541
Thanks for checking, closing

[2020-03-11 09:50] #7541 closed

[2020-03-11 09:51] geoand commented on #7765
Actually looking at the stacktrace it looks more like a Hibernate issue, so let's see if @Sanne has any ideas :)

[2020-03-11 09:59] maxandersen commented on #7717
@ppalaga I think there are a few things at play here:

1) find a common way to express this extra info (wether inside the pom.xml or an external file
2) make tooling understand that info (i.e. mvnd and gitflow-incremental-builder)
3) have ways to generate/maintain what is in #1
    and here I see it as you can benefit from both:

    - one is that the quarkus build plugin simply just dump this out

[2020-03-11 10:42] ppalaga commented on #7717
If that info is supposed to be 100% generated, then an external file seems to be easier to maintain.

mvnd being on a very early stage, this is probably doable (cc @gnodet )

Sounds like a chicken-egg situation. I cannot use mvnd to run the plugin, because mvnd needs that info upfront. Having to care for committing the changes may be seen as annoying by contributors.

Yeah, you probably mean runni

[2020-03-11 10:47] #7618 closed

[2020-03-11 10:56] Sanne commented on #7765
I think this is caused by the upgrade of ByteBuddy. The `Person` entity is a final class, and the new version of ByteBuddy is strictly checking against this.

I would need to check if something is possible in ByteBuddy to be more lenient.

[2020-03-11 11:05] geoand commented on #7765
@zulq can you check if making your entity `open` gets you passed the issue?

[2020-03-11 11:09] zulq commented on #7765
`data` classes are incompatible with open unfortunately.

[2020-03-11 11:09] geoand commented on #7765
Ah yes... I forgot about that...

[2020-03-11 11:11] geoand commented on #7765
How about if you apply the `jpa-support` Kotlin compiler plugin (details at:  https://kotlinlang.org/docs/reference/compiler-plugins.html#jpa-support)?

[2020-03-11 11:14] Ladicek opened #7766 "quarkus-container-image-s2i bypasses the S2I `run` script, resulting in environmental differences"
**Describe the bug**

I use `quarkus-openshift` (that is, `quarkus-kubernetes` + `quarkus-container-image-s2i`) to generate OpenShift resources and customize the base S2I image. I'm specifically using the Red Hat OpenJDK 11 image based on RHEL 7. The `quarkus-container-image-s2i` extension defines exactly what command should the container run (full `java -jar ... -cp ...`), which bypasses the stan

[2020-03-11 11:14] Ladicek commented on #7766
CC @iocanel @geoand

[2020-03-11 11:18] zulq commented on #7765
Still the same, added plugin, gradle clean then quarkusDev.

[2020-03-11 11:19] Ladicek commented on #7766
Perhaps also CC @maxandersen :-)

[2020-03-11 11:20] geoand commented on #7765
Thanks for checking

[2020-03-11 11:21] geoand commented on #7766
Thanks for the excellent analysis @Ladicek!

Sounds tricky...

[2020-03-11 11:26] zulq commented on #7765
This really looks like a bytebuddy issue, see here: [Mockito similar issue](https://github.com/mockito/mockito/issues/1606)

[2020-03-11 11:26] rsvoboda opened #7767 "Are Azure bits still relevant?"
As Quarkus moved to GH actions, are Azure bits still relevant?

 - https://github.com/quarkusio/quarkus/tree/master/ci-templates
 - https://github.com/quarkusio/quarkus/blob/master/azure-mvn-settings.xml
 - https://github.com/quarkusio/quarkus/blob/master/azure-pipelines.yml

[2020-03-11 11:35] aloubyansky commented on #7747
Thanks for reporting the issue. LocalProject shouldn't be used for building the app though. It's used during the tests and dev mode.

[2020-03-11 11:52] famod commented on #7747
I'll re-check that.
But does this also mean that once we get past the build problem, we might run into problems in tests and dev mode?

[2020-03-11 11:56] aloubyansky commented on #7747
I can't answer that, atm. I haven't actually looked into this issue yet.

[2020-03-11 12:02] zulq commented on #7765
Is it easy to get all the libraries using bytebuddy? Just trying to see if can try excluding and use an explicit version.

[2020-03-11 12:36] mkouba commented on #7710
@ChFlick could you pls try to test your app with quarkus 1.3.0.CR2? There is a good chance that this is a class loading issue similar to #7541.

[2020-03-11 12:39] #7519 closed

[2020-03-11 12:40] pazepaze opened #7768 "Enabling both basic auth and form auth in quarkus does not work"
**Description**
I tried enabling both basic and form authentication in quarkus 1.2.1.Final. According to the [documentation](https://quarkus.io/guides/all-config#quarkus-vertx-http_quarkus.http.auth.basic) when enabling both form and basic auth, basic auth should work in silent mode. As far as i understand this means that basic auth is used when an authorization header is sent.

**Expected behavio

[2020-03-11 12:43] wmacibnc opened #7769 "Is it possible to start system programmatically from a Java main method?"
Hi, is it possible to start system programmatically from a Java main method? Similar to Kumuluz.

[code]

Thanks!

[2020-03-11 12:46] #7330 closed

[2020-03-11 12:50] Ladicek commented on #7766
Looking at https://github.com/quarkusio/quarkus-images/blob/master/modules/quarkus-native-binary-s2i-scripts/s2i/run, it seems our S2I image for native binaries also does some tuning, and we probably don't want to lose that behavior.

[2020-03-11 12:51] emmanuelbernard opened #7770 "Hibernate always bump version upon merge calls involving entities without change"
Upon merge of a reattached entity deserialized from Jackson and Lombok, we see a different of behavior between 1.2.1.Final and 1.3.1.CR2
See https://github.com/quarkusio/quarkus/issues/7462 for the original info.
Possibly related to https://github.com/quarkusio/quarkus/issues/2815

This issue is here to follow up specifically on the version issue.

[2020-03-11 12:52] Maldivia opened #7771 "Qute 1.3.0.CR2 - property/method [raw] not found on class [java.lang.String]"
**Describe the bug**
Updating from 1.2.1 to 1.3.0.CR2 now gives me the following BuildException, that previously worked in 1.2.1:

[code]

Snippet from play.html contains the following:
[code]

where Playable is an interface:
[code]

If I change the template code to `{playable.getPlayTitleEmbed}` and change the method to be `public RawString getPlayTitleEmbed();`, I instead get the following warni

[2020-03-11 12:52] emmanuelbernard commented on #7462
I decided to track the verison bump problem in a separate issue https://github.com/quarkusio/quarkus/issues/7462

[2020-03-11 13:01] emmanuelbernard commented on #7770
CC @masini
So Sanne and I did a debug session. We have a version of your version bump test that does not use lombok, and yours that uses lombok.
What we found is that in Quarkus 1.2.1.Final, the lombok entity does not implement `SelfDirtinessTracker` which makes the test in `AbstractEntityEntry.onFlushEntity` might be dirty field to be false because `AbstractEntityEntry.isUnequivocallyNonDirty` do

[2020-03-11 13:09] gsmet commented on #7685
@machi1990 do you think you could have a look at that one?

[2020-03-11 13:10] kenfinnigan commented on #7620
This is fixed

[2020-03-11 13:12] iocanel commented on #7766
@Ladicek: Thanks!

I think that for at least `Fabric8` and `OpenJDK` s2i images we should leverage all the JVM tuning the image provides.

For those two images,  we will have to use the provided environment variables.
For all other images, we will build the cmd and args as we do right now and allow the user to specify additional jvm arguments, if desired.

@maxandersen: Do you feel that this is so

[2020-03-11 13:15] ChFlick commented on #7710
@geoand
I'm not really able to create a reproducer project for this problem. [This is the project](https://github.com/ChFlick/connected-vehicle-microservice/tree/master/manage-vehicle-data) where the error occurs for me.

@mkouba
I'm quite sure this resolves the issue. At least, the `@lateinit` version works now. My initial version with constructor injection now throws a different bug which I thin

[2020-03-11 13:21] mkouba commented on #7771
@Maldivia good catch! That's a bug. We improved the validation and forgot to add exception for the `raw` value resolver. I'm not so sure about the warning. Is `Playable` also used by other extensions (i.e. jackson, resteasy, etc.)?

[2020-03-11 13:27] Maldivia commented on #7771
I have two classes that implement the Playable interface, which are deserialized from two different RestClient services, but the template works with both implementations.

[2020-03-11 13:34] mkouba commented on #7771
That would be it. I'll add the `RawString` to the index.

[2020-03-11 13:42] aloubyansky commented on #7675
Thanks for reporting the issue. Just in case you guys can create a simple reproducer, the chance of getting this fixed for 1.3.0.Final will be higher.

[2020-03-11 13:48] manovotn commented on #7732
So, querying Jandex for annotations on a given class returns the "container" class in case of repeating qualifier. E.g. using the example from linked CDI spec bit, we'd get `@Locations` to consider as an annotation on a bean.

So we need to add some form of verification that an annotation is a "container" for repeatable ones and then extract those actual qualifiers from it.

Looking at arc code, w

[2020-03-11 13:51] gastaldi commented on #7769
There is a work going on in https://github.com/quarkusio/quarkus/pull/7681 to allow starting Quarkus from a main method, but I don't think it will go into this level of detail

[2020-03-11 14:02] emmanuelbernard commented on #7462
Back on the `orphanDelete` case, @masini thanks for digging.
You have seen that I've shared an invite with you of a GitHub repo with the reproducer for the version case. https://github.com/emmanuelbernard/quarkus-7462
I kept it private because that's your code base and I did not know how much you wanted to share.

But if you look at it, you will find `TestBarLayoutService.testVersionWithServerSide

[2020-03-11 14:09] mkouba commented on #7732
Yep. We will need to find the qualifiers first and afterwards find the containers.

We do try to find all qualifiers when the bean deployment is created. And then when a bean is created the `io.quarkus.arc.processor.BeanDeployment.getQualifier(DotName)` method is used to identify a qualifier. For repeatable qualifiers we'll have to "extract" the real annotations, i.e. `annotation.value().asNestedA

[2020-03-11 14:11] emmanuelbernard commented on #6271
So far no one has shown interest in starting the implementation. Could be you though :D

[2020-03-11 14:35] manovotn commented on #7732
We just need to be able to say that the retrieved annotation is a meta annotation for repeateable one. Then it would work.

Yeah, that's what I tried first. However, that's not quite the thing you want. Given any annotations that has an array value, you can do `annotation.value().kind().equals(AnnotationValue.Kind.ARRAY)` and this is true for `String[]` as well as an actual repeating qualifier tha

[2020-03-11 14:58] maxandersen commented on #7769
changed the title to reflect the question - java main method is in #7681 but as @gastaldi comments I don't think this level of fluent api is even feasible/wanted as it seem impossible to then do the build time optimizations quarkus does.

I'll let @dmlloyd and/or @stuartwdouglas comment here.

[2020-03-11 15:08] fmhwong commented on #5675
Just retried this with 1.3.0.CR2 and it is now working.

Environment:
Windows 10 Enterprise
graalvm-ce-java11-20.0.0
Windows VisualStudio 2019 x86 Native Tool Command Prompt

[code]

[2020-03-11 15:09] mkouba commented on #7732
I think that we should use `org.jboss.jandex.AnnotationValue.componentKind()` to detect the component type of a container annotation.

[2020-03-11 15:09] masini commented on #7462
Thank you for keeping private, I'll create some data so that we can understand better what is going on.

[2020-03-11 15:10] dmlloyd commented on #7769
It might be theoretically possible to support some kind of fluent programmatic configuration that runs during static init for example.  We'd probably need to clarify the use case(s) though.

[2020-03-11 15:15] geoand commented on #5675
Great to hear! Thanks for letting us know!

[2020-03-11 15:16] geoand commented on #5675
@gdoenlen would you be able to test as well?

[2020-03-11 15:17] bcluap opened #7778 "Vert.x EventLoop Thread used on JAX-RS methods with Undertow"
**Describe the bug**
The second HTTP request to an JAX-RS endpoint after doing a live reload results in the vert.x eventloop thread pool being used for all subsequent requests on the JAX-RS endpoint.

**Expected behavior**
The worker thread pool should always be used

**Actual behavior**
The thread pool changes to the eventloop pool after a live reload

**To Reproduce**
Steps to reproduce the beha

[2020-03-11 15:18] gsmet commented on #7778
/cc @stuartwdouglas @FroMage

[2020-03-11 15:20] gsmet commented on #7778
@bcluap a bit unrelated but there's a message `bootstrap classpath not set in conjunction with...`. What's that? It doesn't look like expected either or is it?

[2020-03-11 15:24] bcluap commented on #7778
Thats just an issue in the POM. Fixed that but same bug still presents itself

[2020-03-11 15:24] geoand commented on #7767
I am pretty sure they aren't relevant anymore. @gsmet even disabled running on Azure recently, so I think we can remove the files (other than `azure-mvn-settings.xml` which is used in gh-actions as well)?

[2020-03-11 15:26] gdoenlen commented on #5675
More than likely I will be able to tonight.

[2020-03-11 15:27] geoand commented on #5675
Excellent, thank you

[2020-03-11 15:40] #7771 closed

[2020-03-11 16:02] zulq commented on #7765
Any ideas/workarounds, because this is a blocker for me.

[2020-03-11 16:02] gsmet commented on #6588
Can we make sure that the RSS consumption is secured for 1.3 e.g. before
Thursday evening?

Thanks!

[2020-03-11 16:18] Sanne commented on #7765
hi zulq, no worries I'm working on a fix: sending a PR soon.

[2020-03-11 16:22] zulq commented on #7765
Thanks a lot @Sanne, will keep an eye.

[2020-03-11 16:29] aloubyansky commented on #7747
Interesting, @famod, the dev mode does not work for your project even on master branch. I've fixed the build and the tests, btw.

[2020-03-11 16:29] Sanne commented on #7765
I've sent a PR, feel free to test it on your application as as well :)

[2020-03-11 16:31] Sanne commented on #7653
hi @ge0ffrey , I plan to look at this starting now.. hopefully it won't take too long but I don't know yet!
Cheers

[2020-03-11 16:35] gsmet opened #7781 "Generated datasource configuration: incorrect order of properties"
When generating the datasource configuration, there is an issue with the additional datasources (the ones defined with a name): the build time properties are not first but last.

See `datasource.html#quarkus-agroal_quarkus.datasource.named-data-sources`.

And the following captures:
![capture1](https://user-images.githubusercontent.com/1279749/76440717-90a6ad80-63be-11ea-8344-2c2510d17f6a.png)

[.

[2020-03-11 16:35] FroMage commented on #7778
Yeah, I can reproduce. It alternates between worker and io thread, when I keep hitting the service.

[2020-03-11 16:36] FroMage commented on #7778
This doesn't happen when not using undertow.

[2020-03-11 16:40] zeljkot opened #7782 "Calling long-running JPA operation from non-reactive REST service causes exception"
**Describe the bug**
When processing of the REST call takes a long time, it will end with either

[code]

or

[code]

**Expected behavior**
Non-reactive API should not complain about blocking operation and just execute it.

**Actual behavior**
Call throws an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Create REST service and repository
2. Make operation long (for example, do a

[2020-03-11 16:47] gsmet commented on #7782
@zeljkot could you prepare a quick reproducer for that one?

[2020-03-11 16:48] gsmet commented on #7782
It looks like there are 2 different issues and I'm pretty sure it's going to be a bit hard to reproduce.

Thanks!

[2020-03-11 16:48] gsmet commented on #7782
/cc @stuartwdouglas @FroMage

[2020-03-11 16:49] aldettinger opened #7784 "ContainerResourceLifecycleManager.inject(Object testInstance): Which class loader could we expect the object to come from ?"
Hi there, I was no able to find info about that. We've got a ContainerResourceLifecycleManager like below:

When running in jvm mode instanceof is false as class loaders are distinct, while in native mode instanceof returns true as class loader is the same.

Is it intented ? a bug ? could we rely on this behaviour not to change ?

[2020-03-11 16:53] machi1990 commented on #7784
cc @stuartwdouglas

[2020-03-11 16:57] machi1990 commented on #7781
@gsmet I'll have a look a bit later.

[2020-03-11 16:58] masini commented on #7462
Pushed a replicator of the original Exception.

This is very rude now, but it works.

Start Quarkus in dev mode and then:

[code]

you will get the Exception:

`Resulted in: org.jboss.resteasy.spi.UnhandledException: javax.persistence.PersistenceException: org.hibernate.HibernateException: A collection with cascade="all-delete-orphan" was no longer referenced by the owning entity instance: net.luc

[2020-03-11 17:23] aloubyansky commented on #7747
#7786 fixes build and tests. @famod could you please confirm the failure in the dev mode is not a regression? In that case we'll create a separate issue for it. Thanks.

[2020-03-11 17:35] lordofthejars opened #7788 "Create custom properties for Knative generation"
**Description**

Currently, if you want to customize the output generated by Dekorate for Knative, you only have access to the same properties as in the Kubernetes (https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/kubernetes.adoc#knative) but with knative prefix.

The thing is that minimal customizations specific to knative service should be provided, the list is in https://

[2020-03-11 18:05] gastaldi commented on #7767
PR created: https://github.com/quarkusio/quarkus/pull/7790

[2020-03-11 19:20] rafaelsousa commented on #6271
I would like to work on it

[2020-03-11 19:21] ricardozanini opened #7791 "Environment Variable KAFKA_BOOTSTRAP_SERVERS not being read by smallrye client"
Hi!

**Describe the bug**
[As stated by the docs](https://quarkus.io/guides/kafka-streams#topic-configuration), now we have the property `kafka.boostrap.servers` that can be set and it should be applied as the connection property to every Kafka connector within the application.

That said, we injected the `KAFKA_BOOTSTRAP_SERVERS` environment variable into our containers, without explicit setting

[2020-03-11 19:37] zeljkot commented on #7782
I managed to reproduce first error, here is the reproducer. Note that it might be necessary to adjust the loop in the ClassicEntityRepositoryRest class.

[blocking-operation.zip](https://github.com/quarkusio/quarkus/files/4320434/blocking-operation.zip)

[2020-03-11 20:31] geoand commented on #7788
cc @iocanel

[2020-03-11 20:40] geoand commented on #7784
The issue is that for JVM mode, the `testInstance` is the test instance that Quarkus creates - not the one that JUnit creates.
So essentially in order to support injection of beans into tests (of course only in JVM mode), Quarkus makes the test class a bean and all tests are run on a that bean instance. When the `ContainerResourceLifecycleManager` run, it gets an instance of the test that is not c

[2020-03-11 21:00] famod commented on #7747
Wow, that was quick. Thanks! Will check the dev mode ASAP.

[2020-03-11 21:11] famod commented on #7747
Well, it seems to work for me:

**OK** on `master`:
- `mvn clean install`
- `mvn quarkus:dev -f dist/`

The same procedure _fails_ on `quarkus-7747-mvn-ci-friendly` with:
[code]

Am I missing something?
I did not touch the Quarkus version (1.3.0.CR2).

[2020-03-11 21:13] aloubyansky commented on #7747
Yes, try `mvn clean compile quarkus:dev`. It does not fail in your scenario because the jandex has been generated when you did install.
To fix your dev mode you should apply this change:
[code]
This will generate the jandex index in compile phase which is what quarkus:dev needs.

[2020-03-11 21:53] famod commented on #7747
Ok, the addition of the `phase` fixes `mvn clean compile quarkus:dev` when called from the root.

So I suppose there is no regression.

[2020-03-11 21:54] aloubyansky commented on #7747
Right. Thanks!

[2020-03-11 22:02] nimo23 commented on #7769
Thats the declarative vs imperative style as little discussed in https://github.com/quarkusio/quarkus/issues/5602#issuecomment-583684750.

[2020-03-11 22:45] maxandersen opened #7795 "quarkus-maven-plugin does not fail when dependencies or similar missing in generated project"
quarkus-maven-plugin:create reports BUILD SUCCESS even if there are errors in the output

When there is a missing dependency the quarkus plugin does not fail.

Example below shows when using a custom platform with missing dependencies in :create reports success even when there are build failures.

[code]

[2020-03-11 23:12] maxandersen commented on #7717
your current solution in mvnd requires users to commit the files too - is there much difference here ?
the beneift of having these files generated by the plugin is that they won't care or be affected by the dir layout.

yes, but it relies on assumptions on dir layout.

We can probably make a command that does "mvn quarkus:dumpbuilddepinfo" or something that would just do the resolving needed to ge

[2020-03-11 23:39] stuartwdouglas commented on #7782
This is because the vert.x hot deployment handler can resume on a different IO thread. Undertow only checks that the current thread is not the connections IO thread, so it does not realise it needs to dispatch to a blocking executor.

This could also happen with OIDC I think.

[2020-03-11 23:55] stuartwdouglas commented on #7782
Fix is in the linked PR

[2020-03-12 00:01] stuartwdouglas commented on #7784
We have the following requirements:

- Tests must be in an isolated ClassLoader, so they can see bytecode transformation (and for a few other reasons)
- ContainerResourceLifecycleManager must run before Quarkus has started, and hence before the ClassLoader has been setup.

Thinking about it maybe I can do augmentation, setup the runtime CL, then run ContainerResourceLifecycleManager in the runtime

[2020-03-12 00:11] stuartwdouglas commented on #7784
Hmm, that won't help with QuarkusUnitTest unless we also shut down the test resources after each test.

[2020-03-12 00:27] stuartwdouglas commented on #7643
I think this is due to a potential race between the client receiving the response and the server actually closing the file. This is because the data is sent before the file is closed.

[2020-03-12 00:58] stuartwdouglas commented on #7782
I don't think there is much we can do about the transaction timeout exception. When you get a transaction being timed out from another thread it is hard to handle it well.

@Sanne is there a recommended way to deal with TX timeout with the EM?

[2020-03-12 01:01] #7594 closed

[2020-03-12 01:06] stuartwdouglas commented on #7640
@dmlloyd what changed in JDK11 that would make this easier? Looking at the LogManager init code it appears to be the same.

[2020-03-12 01:08] #7620 closed

[2020-03-12 01:13] stuartwdouglas commented on #7536
Do you mean the native image integration tests? I don't think it will ever be possible to get code coverage for native image tests.

[2020-03-12 01:43] stuartwdouglas commented on #7433
Do you have a simple reproducer for this?

[2020-03-12 01:46] stuartwdouglas commented on #7362
Have you actually added a dependency on quarkus-test-amazon-lambda ?

[2020-03-12 03:50] stuartwdouglas commented on #5015
This should have been fixed by the class loader changes, please re-open if it is still an issue.

[2020-03-12 03:50] #5015 closed

[2020-03-12 03:50] stuartwdouglas commented on #6652
This should be fixed now.

[2020-03-12 03:50] #6652 closed

[2020-03-12 03:54] stuartwdouglas commented on #7284
I think the best we can do here is to detect split packages.

[2020-03-12 04:05] DeonBoon opened #7802 "Bson unable to find codec"
Hi all, I am using Quarkus to build a web service which takes in an input, processes it and stores some results as objects into MongoDB. However, it is throwing me an error about "Bson unable to find a codec". I believe it should be related to how my object is constructed.

Sample attributes of my object:
[code]
From the googling that I have done, I believe it is because Bson is unable to map a Li

[2020-03-12 05:04] stuartwdouglas commented on #7304
There is nothing directly we can do here, except enhance the documentation. To make this work you need to:
- Add quarkus-smallrye-context-propagation
- Inject a ManagedExecutor
- use ManagedExecutor.supplyAsync rather than CompletableFuture.supplyAsync so we can propagate the identity.

[2020-03-12 05:20] stuartwdouglas commented on #7152
Looks like this was merged

[2020-03-12 05:20] #7152 closed

[2020-03-12 05:33] stuartwdouglas commented on #7172
Quarkus HTTP changes needed are here: https://github.com/quarkusio/quarkus-http/pull/18

[2020-03-12 05:37] stuartwdouglas commented on #4414
@mkouba is there any reason we can't just remove the final flag automatically with a bytecode transformer? It would likely make life a lot easier for kotlin developers.

[2020-03-12 05:39] stuartwdouglas commented on #7123
This should be resolved now, I figured out a hack to set the TCCL of the fork join pool

[2020-03-12 05:41] #7123 closed

[2020-03-12 07:05] jmartisk commented on #6860
I'll send a PR for this that resolves it without aliases. In the future, we might potentially replace that with the alias mechanism.

[2020-03-12 07:05] danielpetisme commented on #7536
Hello,

No I mean Java integration tests.
Jacoco and Quarkus byte instrumentation looks not compatible + I'm not sure
if failsafe is using the final jar or `target/classes` to run.

Try to run the reproducer it'll clearer ;-)

Le jeu. 12 mars 2020 à 02:13, Stuart Douglas <notifications@github.com> a
écrit :

[2020-03-12 07:20] marcelhanser commented on #7675
Allright - did that:)
You can clone it from here
https://github.com/marcelhanser/quarkus-playground
Setup is as described and it shows the described behaviour.
```gradlew domain-integration:quarkusDev```fails depending on the version:
- 1.2.1.Final: ```javax.enterprise.inject.UnsatisfiedResolutionException```
- 1.3.0.CR2: ```javax.enterprise.inject.AmbiguousResolutionException```

But the resultin

[2020-03-12 07:21] #7304 closed

[2020-03-12 07:33] marc-christian-schulze opened #7806 "Support custom collection name when using PanacheMongoRepository"
**Description**
Quarkus currently supports custom collection names for `@MongoEntity` annotated PanacheMongoEntities. However, when using the repository API (`PanacheMongoRepository`) there is no similar annotation configuration option available to override the default (from the entity class name derived) collection name.

**Implementation ideas**
Since I'm currently having a use case where I want

[2020-03-12 07:45] oleksiylukin commented on #1997
RSocket extension would be good solution for fast and reliable bi-directional communication between microservices. RSocket protocol can run over simple TCP socket or even over UDP with minimal overhead and it is much faster then any HTTP/1.1 or HTTP/2 based websocket channels

[2020-03-12 07:46] ppalaga commented on #7717
Yes, committing is required and we prefer to get away from that.

Yes, I agree it is a benefit. But the performance and scalability matter too. We aim at ~300 extensions in our repo. Getting the hidden deps info should ideally take less than a second for the whole source tree.

Yes, I admit this kind solution is hard to generalize so that it works for any repo hosting Quarkus extensions.

Let's br

[2020-03-12 08:04] iocanel commented on #7788
Some of the things we need to cover:

- [ ] Use Knative V1
- [ ]  [Cluster local services](https://knative.dev/docs/serving/cluster-local-route/)
- [ ] Allow setting traffic splitting rules
- [ ] Configure autoscaling requirements

@lordofthejars: If there are other areas, you'd like to cover please add them.

[2020-03-12 08:09] Itoriem commented on #7699
The warning is still there, but it's not very important, I guess.
I tried on my personal Windows computer and I don't have the `Connection timed out` error with the tests.

[2020-03-12 08:12] geoand commented on #7802
cc @loicmathieu

[2020-03-12 08:14] geoand commented on #7784
Should we close this issue for the time being?

[2020-03-12 08:29] lordofthejars commented on #7788
I think it covers most of the things as a first version, then we will need
to cover case by case when a user asks for the support. But looks great as
it covers basic needs

El jue., 12 mar. 2020 9:04, Ioannis Canellos <notifications@github.com>
escribió:

[2020-03-12 08:31] geoand commented on #7791
@ricardozanini Hi,

Would it be possible to provide a reproducer?
I could of course do it myself, but I prefer to have it ready made to avoid me making any mistakes and loosing time in back and forths just to make sure I have the proper reproducer :)

[2020-03-12 08:34] #7782 closed

[2020-03-12 08:34] #7778 closed

[2020-03-12 08:36] FroMage commented on #7806
That's a good point. But can the repo use non-`PanacheMongoEntityBase` entities?

[2020-03-12 08:49] loicmathieu commented on #7806
`@MongoEntity` can be used to customize the name of the collection for a repository.
The name of the collection is linked to the persisted object not the repository class that contains the action that one can do on this object.

There is no relation between the `@MongoEntity` annotation and `PanacheMongoEntity` and `PanacheMongoEntityBase` so I don't see the point to add another annotation.

[2020-03-12 08:50] loicmathieu commented on #7806
The answer is **yes**.

[2020-03-12 08:51] carlosthe19916 opened #8358 "Kogito Bug when using Declared Types"
I've been trying to use Kogito and Quarkus but I ended up not being able to use all the features that Drools gives. I'm not sure where to raise this bug so I'll start reporting it here:

If I declare a type inside a `.drl` file the I have an exception: `/classes/META-INF/native-image/org/acme/kogito/reflect-config/json.java (11:1) : class, interface, or enum expected`.

To reproduce the error you

[2020-03-12 08:52] loicmathieu commented on #7802
@DeonBoon can you give us the stacktrace ?
Do you use MongoDB with Panache or directly the MongoDB client ?

[2020-03-12 08:59] #7556 closed

[2020-03-12 09:00] aldettinger commented on #7784
Many thanks for explanations, I'm ok to close this question as the behavior is now documented here.

[2020-03-12 09:00] #7784 closed

[2020-03-12 09:06] masini commented on #7770
@emmanuelbernard @Sanne thanks for taking your time on this issue.

So my test was testing that the bug was on, fantastic !!

I'll update them and watch #2815

Have a nice day

[2020-03-12 09:17] geoand commented on #7791
FWIW, I was **unable** to reproduce this issue in our Kafka integration test (https://github.com/quarkusio/quarkus/blob/master/integration-tests/kafka/pom.xml)

I basically clear out `kafka.bootstrap.servers` from `application.properties` and ran the test like so:

` KAFKA_BOOTSTRAP_SERVERS=localhost:19092 mvn clean test`

Everything worked as expected

[2020-03-12 09:21] zulq commented on #7765
Do I have to use the snapshots or wait for 1.3.0 to be able to test?

[2020-03-12 09:23] geoand commented on #7765
You can build Quarkus from the https://github.com/quarkusio/quarkus/pull/7780 and use version `999-SNAPSHOT` in order to test yourself

[2020-03-12 09:25] #6860 closed

[2020-03-12 09:33] #7758 closed

[2020-03-12 09:34] loicmathieu commented on #7806
This will clearly documented in 1.3 where the MongoDB with Panache documentation will be re-write to better document the repository approach: https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/mongodb-panache.adoc#solution-2-using-the-repository-pattern

[2020-03-12 09:42] andreas-eberle commented on #7304
@stuartwdouglas: I don't understand. The annotation works, when it is placed on the method but it doesn't, when it is placed on the class. I would expect the annotation on the class to be just as good as placing the annotation on every method. Why is this behaving differently?

[2020-03-12 09:56] ia3andy opened #7809 "New exception on 1.3.0.CR2 with kafka and without reasteasy"
**Describe the bug**

On a project using kafka, undertow and vertx web (and not reasteasy), when upgrading from `1.3.0.Alpha1` to `1.3.0.CR2`, in jar mode, this exception is now popping (no problem before):
[code]

CC @cescoffier

[2020-03-12 09:58] ia3andy commented on #7809
Adding `quarkus-resteasy` fixes the problem, but still I guess it's a bug no?

[2020-03-12 10:00] stuartwdouglas commented on #7304
Kotlin is generating a getService method to access the service field. If you put it on the method then only the method is secured. If you put it on the class then the generated getService field is also secured.

@mkouba I wonder if we should be applying interceptors to synthetic methods?

[2020-03-12 10:05] rsvoboda commented on #7362
You mean adding
[code]
?

I get
[code]

I tried `quarkus/integration-tests/amazon-lambda-http` in native mode and tests are passing, there are some errors in console
[code]

[2020-03-12 10:07] muratkarakas opened #7810 "smallrye messaging Emitter transaction support"
**Is it possible to perform transactional  emitter.send() operation like below.**

`@ApplicationScoped
public class PostService {

    ObjectMapper mapper = new ObjectMapper();
     @Inject @Channel("post-create")
     Emitter<String> emitter;
     private Logger logger = LoggerFactory.getLogger(getClass());

    @Transactional(value = TxType.REQUIRED)
    public void createPost(Post post) throws

[2020-03-12 10:07] mkouba commented on #4414
I don't remember any specific reason. Myabe we just wanted to avoid too many transformations because in kotlin classes are final by default? I wonder if we could break anything when removing the final flag automatically for any bean class... probably not?

[2020-03-12 10:09] stuartwdouglas commented on #4414
Nope, because we are doing a closed world assumption we know that this is safe, nothing can accidentally extend it later except our code.

[2020-03-12 10:12] nimo23 commented on #1997
Has RSocket (unlike WebSocket) built-in support for re-connections?

[2020-03-12 10:12] mkouba commented on #4414
I was thinking about some runtime checks/expectations...

[2020-03-12 10:14] mkouba commented on #4414
I can try to prepare a pull later today.

[2020-03-12 10:21] mkouba commented on #7304
That's a good question. But I don't have a good answer. From the spec POV it's undefined and I think that there might be use cases where it's desirable (something like panache) and use cases like this ^.

[2020-03-12 10:45] zeljkot opened #7811 "Cannot send Kafka message with key in 1.3.0.CRx"
**Describe the bug**
Previously it was possible to send Kafka message with a key using
[code]
If this code is changed to new MP reactive API:
[code]
It throws the exception because it tries to serialize whole OutgoingKafkaRecord as a value rather than just the ProcessingStatus.

**Expected behavior**
The message key is serialized with key serializer and value is serialized with value serializer.

[2020-03-12 10:49] stuartwdouglas commented on #7304
Maybe we could add something kotlin specific. It feels wrong that field access is being intercepted.

[2020-03-12 10:53] geoand commented on #7304
I do think that something Kotlin specific is the way to go here...

[2020-03-12 10:55] gsmet commented on #7811
/cc @cescoffier

[2020-03-12 10:56] rsvoboda opened #7812 "all-config guide - property value is fixed or configurable in runtime ?"
https://quarkus.io/guides/all-config has icon at the beginning of the row, I think it should be improved.

 - I miss clear explanation of the impact from the end user perspective
   - if a property is build-time only that it can't be overridden - e.g. via `java -Dquarkus.... -jar foo.jar`
 - I would prefer boolean-type column in the table instead of the icon or the icon should be moved at the end

[2020-03-12 10:57] #7729 closed

[2020-03-12 10:57] cescoffier commented on #7811
@zeljkot This is because the Emiutter is now part of the spec and is slightly different. You need:

[code]

This is documented in the migration guide.

[2020-03-12 11:00] gsmet commented on #7812
It has been changed for the next version.

[2020-03-12 11:31] #7643 closed

[2020-03-12 11:32] mkouba commented on #7304
Regulat getters would be intercepted too.

Is there a way to detect a class compiled by kotlin?

[2020-03-12 11:35] geoand commented on #7304
Yes (AFAIK). Kotlin classes always have a `kotlin.Metadata` class annotation

[2020-03-12 11:48] #7767 closed

[2020-03-12 11:50] mkouba commented on #7304
Ok, let's try it ;-).

[2020-03-12 12:00] dmlloyd commented on #7640
A few things become possible, for example we can implement a system logger which installs our logmanager, or we can perhaps install a system class loader which encapsulates bootstrap completely (this is unreliable on 8) - maybe we could even have a Quarkus agent that does bootstrap configuration.

[2020-03-12 12:10] #7736 closed

[2020-03-12 12:12] ia3andy commented on #7809
@gsmet is this a bug?

[2020-03-12 12:19] #7765 closed

[2020-03-12 12:20] emmanuelbernard commented on #7462
@masini yes it looks like a good reproducer. I would try and remove more if possible. Like the embedded object, I wonder if it is necessary. Likewise the GenericEntity, if the error happens without version object we can remove GenericEntity altogether to get to the core of the problem.

[2020-03-12 12:21] #7633 closed

[2020-03-12 12:23] #7746 closed

[2020-03-12 12:31] zeljkot commented on #7811
It works, thanks! From the migration guide, it was not obvious to me that I can send types different than what I defined in the Emitter declaration.

So now there are two possibilities:
* send(type)
* send(KafkaRecord.of(key, type)

There is one drawback of this solution, though: **the key is not typesafe.**

[2020-03-12 12:35] emmanuelbernard commented on #6271
Neat! Just go ahead.
The best is to copy the design of https://github.com/quarkusio/quarkus/tree/master/extensions/smallrye-reactive-messaging-kafka
But before that you will likely need to implement a ReactiveMessaging connector in SmallRye for Pulsar. Again looking at the Kafka one will give you the right hints.

Email Quarkus-Dev and join Zulip when you have questions or want to discuss the desi

[2020-03-12 12:45] zeljkot commented on #7811
Another thing that is confusing is that `@Incoming` and `@Outgoing` still need and accept KafkaRecord (bonus: key type could be defined). This change makes API inconsistent and less typesafe. IMHO it would be better if you left Emitter<Message>.

[2020-03-12 12:51] #7747 closed

[2020-03-12 12:55] andreas-eberle commented on #7304
So, should we open this issue again to keep track of the progress?

[2020-03-12 12:57] ShubhamRwt commented on #5388
@dmlloyd  Is this issue fixed now? I was planning to work on it.

[2020-03-12 12:58] mkouba commented on #7304
@stuartwdouglas @geoand So it seems that the getters/setters generated by Kotlin are not synthetic, this is what `javap` shows:
[code]

[2020-03-12 13:02] geoand commented on #7304
I am pretty sure that is done for interoperability reasons

[2020-03-12 13:11] dmlloyd commented on #5388
@ShubhamRwt - the issue is mostly done but the PR (#5489) is out of date and needs a rebase.  The original contributor gave up in frustration (this was really our fault) but if you want to start with that commit, rebase it and bring it up to date (and add yourself as `Co-authored-by`) and submit a new PR, go ahead and do so.  Thanks!

[2020-03-12 13:11] #7781 closed

[2020-03-12 13:14] mkouba commented on #7304
@andreas-eberle Unfortunately, I don't see a way to detect the generated getters/setters for kotlin classes and so we're no able to skip such methods when generating the intercepted subclass. Let us know if you're aware of any other way how to detect those methods...

[2020-03-12 13:15] ShubhamRwt commented on #4982
@gastaldi Hello. I was of thinking of starting working on this issue. Can you give me some more details regarding this issue.

[2020-03-12 13:17] msmsimondean commented on #3566
@gsmet the issue seems to still be occurring.  I'm using Quarkus `1.2.1.Final`

[2020-03-12 13:23] andreas-eberle commented on #7304
To be honest, I don't really understand the underlying problem here. Are you saying that the code would work if I used a private val initialized via the constructor? Then no getters and setters should be generated, right?

How are other frameworks handling this? E.g. Spring Boot? They have a very good kotlin integration and afaik they allow using the @RolesAllowed annotation as expected. Maybe the

[2020-03-12 13:29] mkouba commented on #4414
@stuartwdouglas the only problem is that every framework might need to skip the validation for such transformed classes because we usually validate the info from jandex. For now I'll send a PR for ArC.

[2020-03-12 13:34] #7672 closed

[2020-03-12 13:35] gsmet commented on #7809
Looks like it.

[2020-03-12 13:36] geoand commented on #7304
@andreas-eberle Your case should work just fine if you make the field private (you can of course opt for constructor injection).
This should work because Kotlin will not generate a getter for you.

As for the Spring Boot comparison: The reason it works there is because method calls within a class are not intercepted. In this case it's advantageous, but in a lot of other cases it isn't.
So in this

[2020-03-12 13:37] cescoffier commented on #7809
Can you give me the list of dependencies you have?

[2020-03-12 13:39] gdoenlen commented on #5675
@geoand I managed to get around to testing this this morning and it does work, but it's not really in an ideal form atm.

Some things to note:

- Only works from cmd (this isn't ideal as every developer I know on windows uses powershell).
- Only works after manually running `vcvars64.bat`
- The default project generates `quarkus.platform.artifact-id` as `quarkus-universe-bom` and I had to switch t

[2020-03-12 13:40] ia3andy commented on #7809
[code]

[2020-03-12 13:40] geoand commented on #5675
This is by design.

cc @maxandersen

[2020-03-12 13:41] ia3andy commented on #7809
I updated the tree because first time I had quarkus-resteasy (to fix)

[2020-03-12 13:46] cescoffier commented on #7809
How can you use `org.jboss.resteasy:resteasy-jackson2-provider:jar:4.5.2.Final:compile` without resteasy?

[2020-03-12 13:48] andreas-eberle commented on #7304
OK, I tested using the constructor injection and it actually works. I guess that should then be documented (it then also works without the content propagation). I'm quite busy atm, so I won't be able to do that atm.

[2020-03-12 13:52] ia3andy commented on #7809
Well that's another bug I need to raise (but a mistake in that module), you can't use just the resteasy rest client alone (no resteasy server) without adding this deps.

But in that module I don't need it, I removed the dependency and I still get the exception.

[2020-03-12 13:53] geoand commented on #7304
Thanks for checking!

I actually think that at some point we'll need to do a blog post about Quarkus + Kotlin containing the various pitfalls and best practices...

[2020-03-12 13:56] cescoffier commented on #7809
For now, the easiest is to add the resteasy dependency.
We may need to tweak this test: https://github.com/quarkusio/quarkus/blob/master/extensions/smallrye-context-propagation/deployment/src/main/java/io/quarkus/smallrye/context/deployment/SmallRyeContextPropagationProcessor.java#L43

[2020-03-12 14:06] ricardozanini commented on #7791
@geoand sure thing, will work on a simpler reproducer and will get back to you soon.

[2020-03-12 14:08] ShubhamRwt commented on #4982
@gastaldi Should we keep the files bundled in the code or should  we write a code that makes a request to download gradle wrapper files when needed during setup.

[2020-03-12 14:21] GestiefelteKater commented on #7433
Hey @stuartwdouglas
I have created a reproducer: https://github.com/GestiefelteKater/quarkus-extension-example

Compile the parent with maven clean install

Starting the example application with
"java -jar example-application-999-SNAPSHOT-runner.jar"
and send a "POST http://localhost:8080/example?name=test",
then it is working finde.

Starting the example application with
"mvn compile quarkus:dev"

[2020-03-12 14:28] iwangxiaodong commented on #7269
@gwenneg @ctomc @Xabin

Help me build above [example.zip](https://github.com/iwangxiaodong/temporary-thing/raw/master/anything/quarkus-example.zip) on Windows with GraalVM Java 11, Please.

reproduce：
Caused by: java.lang.NoSuchMethodError: java.lang.String.getBytes()[B

[2020-03-12 14:32] loicmathieu commented on #7612
@MrTyre2 I test our integration test with 3.2.2 and it works: https://github.com/quarkusio/quarkus/tree/master/integration-tests/logging-gelf

The purpose of the extension is to use the Quarkus log support to send logs to Graylog. If you don't want to use it you can directly use https://logging.paluch.biz/ it works fine with Quarkus ...

[2020-03-12 14:35] andreas-eberle opened #7817 "Quarkus 1.3.0.CR2 Gradle multi module CDI UnsatisfiedResolutionException"
**Describe the bug**
I have a gradle multi module setup. One module is used as a library, the other is the quarkus application using this library. The library use and includes the `KubernetesClient`. When I also add the smallrye-health extension to the library, the application can no longer inject the `KubernetesClient`. The same setup works with Quarkus 1.2.1.Final.

**Expected behavior**
Kuberne

[2020-03-12 14:36] andreas-eberle commented on #7817
@aloubyansky: Could this be related to #7729? I explicitly tested it with the master after your PR was included.

[2020-03-12 14:48] aloubyansky commented on #7817
Yes, my bad, fixing it.

[2020-03-12 14:55] Sanne commented on #7782
Not really; AFAIK this is a problem on WildFly as well, since a long time. I remember making a relatively simple proposal on the Narayana forums about how to fix it but they didn't like it.  I'm a bit overwhelmed at the moment but would love to revive that conversation - maybe with you as we seem more open to make changes?

[2020-03-12 15:01] gwenneg commented on #7269
Sorry for not posting an update here @iwangxiaodong.

I tried to reproduce your issue without success 3 days ago. I'll try again in a few hours.

[2020-03-12 15:29] gastaldi commented on #4982
@ShubhamRwt keeping the files bundled in the code is better to avoid network trips.

[2020-03-12 15:29] gastaldi commented on #4982
Just make sure it is dynamically generated during the quarkus build

[2020-03-12 15:33] masini commented on #7462
Ok, I created a new version

- without `equals/hashCode`
- wihout attributes
- without `@ManyToOne` not used in tested relationship
- without `GenericEntity` (and its `version`, `date`, `@PrePersist`)
- without `@Embeddable`

I also created a new test method `net.lucamasini.testcase.server.boundary.TestMergeOrdine#testCreateAndMergeO1 `that make the two call and check if the correct Exception is r

[2020-03-12 16:25] Mulgikapsas commented on #6096
Curreny workaround is to specify Auth header filter.
[code]

[2020-03-12 16:32] #7817 closed

[2020-03-12 16:35] aloubyansky commented on #7675
Thanks a lot for the reproducer @marcelhanser. I fixed a few issues using it, specifically https://github.com/quarkusio/quarkus/pull/7816 and https://github.com/quarkusio/quarkus/pull/7820 but unfortunately, it appears it's not enough and I won't have time to figure it all out before the release. Sorry about that.

[2020-03-12 16:51] cescoffier commented on #7678
Unfortunately, I'm not able to build a native-image on Windows...

[code]

[2020-03-12 17:00] #7712 closed

[2020-03-12 17:00] ShubhamRwt commented on #5388
Ok @dmlloyd. I will rebase it and send a new PR.

[2020-03-12 17:01] Ladicek commented on #7766
This was fixed by #7749.

[2020-03-12 17:02] Ladicek commented on #7740
This was _partially_ fixed by #7749.

[2020-03-12 17:02] Ladicek commented on #7740
Clicked the wrong button :-)

[2020-03-12 17:03] Ladicek commented on #7766
I thought I'd close this, because it's fixed. but I figured someone should probably add some labels etc. Hence the reopen.

[2020-03-12 17:17] #5828 closed

[2020-03-12 17:46] MarcBoissonneault opened #7821 "logging-sentry: Read additional properties from io-sentry default locations"
**Description**
We'd like to be able to load [all the supported properties mentioned on sentry doc](https://docs.sentry.io/clients/java/config/) with the extension

**Implementation ideas**
In the Configuration of the `Lookup` uses the `Lookup. getDefaultWithAdditionalProviders(...)`.

So [in `SentryHandlerValueFactory`](https://github.com/quarkusio/quarkus/blob/master/extensions/logging-sentry/ru

[2020-03-12 18:17] sberyozkin commented on #7543
We have also discussed the security of the various client authentication methods with @emmanuelbernard at the forum. The proposal is to warn the users that a client secret may be leaked if `auth-server-url` is insecure HTTP one and either `client_secret_basic` or `client_secret_post` is used.

CC @pedroigor

The only possible side-effect is if OIDC is collocated somewhere in the same protected zon

[2020-03-12 18:19] zkhan96 opened #7823 "Quarkus gradle generateConfig fails"
**Describe the bug**
When initialising a quarkus app using the gradle build tool using the following guide:
https://quarkus.io/guides/gradle-tooling

The gradle task fails to do so.

**Expected behavior**
It should create an application.properties file

**Actual behavior**
You get the following error when trying to generate a config file:
[code]

**To Reproduce**
Steps to reproduce the behavior:
A

[2020-03-12 18:21] gsmet commented on #7823
@aloubyansky is this the issue you fixed here: https://github.com/quarkusio/quarkus/pull/7820 ?

[2020-03-12 18:22] gsmet commented on #7821
/cc @ia3andy

[2020-03-12 18:39] ia3andy commented on #7821
@MarcBoissonneault we decided to add them when someone would ask :-)

The code is already ready to introduce new properties:
https://github.com/quarkusio/quarkus/blob/master/extensions/logging-sentry/runtime/src/main/java/io/quarkus/logging/sentry/SentryConfigProvider.java#L28

I know this looks like the easy way to allow direct access, but to integrate it properly the Quarkus way, we should map e

[2020-03-12 18:49] aloubyansky commented on #7823
No

[2020-03-12 19:12] machi1990 commented on #5388
Thanks @ShubhamRwt

[2020-03-12 19:12] cpoels opened #7827 "Custom MediaType MessageBodyWriter not triggerd when using RestAssured"
**Describe the bug**
I am currently implementing a MessageBodyWriter for my custom media type. It is basically used as an extension to JSON, so my used media type is f.e. "application/json+link".
The complete project is a Maven multi-module setup where one of the modules contains the MessageBodyWriter and the other one is the Quarkus service for testing. **So Quarkus service has a compile dependen

[2020-03-12 20:10] cpoels commented on #7827
Please forget everything I explained here. I just recognized that I made a dumb mistake.

I was calling a non-existing URI because I forgot to add the value of "quarkus.resteasy.path" to the request. I was not checking the response code and of course when recieving 404 I do not have my headers.

I just figuered it out setting up the sample project for this issue. Sorry for that!

[2020-03-12 20:10] #7827 closed

[2020-03-12 20:25] ricardozanini commented on #7791
@geoand I can confirm that this is not working on 1.3.0.CR2 either and I think I've found the problem. I've disabled the Infinispan integration. Steps to reproduce:

1. Start kafka instance with: `docker run -p 2181:2181 -p 9093:9092 --env ADVERTISED_PORT=9092 spotify/kafka`
2. Git clone: https://github.com/kiegroup/kogito-examples
3. Install `kogito-examples` bom from this PR: https://github.com/

[2020-03-12 20:54] killboard commented on #7675
I'm using the quarkus version `1.2.1.Final` and is occurring this issue too.

I have a module with quarkus using other module with plain kotlin and with gradlew quarkusDev throws exception:

[code]

[2020-03-12 21:03] geoand commented on #7791
Well, I don't think it should fallback to `KAFKA_BOOTSTRAP_SERVERS` but I am not sure what the expected behavior is. @cescoffier your thoughts?

[2020-03-12 21:09] stuartwdouglas commented on #4414
I think we should just remove that validation as well, as we don't really need it if we always transform.

[2020-03-12 21:09] aloubyansky commented on #7675
@killboard looks like a different issue than what's been originally reported here. Do you mind creating a new one? Thanks.

[2020-03-12 21:19] rsvoboda commented on #7678
@cescoffier do you have the right tools installed on your Windows box?
See https://github.com/quarkusio/quarkus/pull/7663#issue-385067018

[2020-03-12 21:45] aloubyansky commented on #7675
@marcelhanser @andreas-eberle I know what the issue is and even with some hacking made it work locally. Besides the issues I've already fixed (mentioned above), it's related to the local project deps being resolved as JARs instead of dirs of classes.

[2020-03-12 21:51] stuartwdouglas commented on #7782
You could maybe add some code to our EM wrapper to handle it, detect if a thread is invoking an operation on timeout and then interrupt the thread, and have the main application thread actually do the close.

[2020-03-12 21:56] marc-christian-schulze commented on #7806
If I understood you correctly @loicmathieu, the design idea of Panache is to model a collection in terms of an entity - hence the annotation on the entity and not the repository. But that makes the repository somewhat boilerplate as Panache as well provides the ability to "inline" the operations into the entity.

In my humble opinion this pushes developers towards, from my PoV, bad software design

[2020-03-12 22:16] sberyozkin commented on #7543
Or we can go even further and introduce the auto method selection, example, if it is `HTTP` and OIDC supports `client_server_basic`, `client_server_post` and `client_server_jwt` then we auto select `client_server_jwt` but I suspect that may have some unexpected side-effects, so we probably should keep to _basic as a default and then let users to choose based on their requirements

[2020-03-12 23:02] stuartwdouglas commented on #7433
Thanks for the reproducer, this appears to be a class loading problem, where we end up with two different copies of ExampleEntity. I will investigate.

[2020-03-12 23:03] maxandersen commented on #5675
What is it you can't do in / out of powershell ?
I don't recall having to run vcvars64.bat - just that you need to run the window 7 sdk terminal initially - yes, not great; but thats windows sdk setup :/

[2020-03-12 23:24] #7653 closed

[2020-03-12 23:29] killboard opened #7832 "Failed to startup quarkusDev with gradle + kotlin with subprojects"
**Describe the bug**
When use a gradle config with multi-project and kotlin the quarkusDev not starts and a exception is trowed.

**Expected behavior**
Startup the quarkusDev without exception

**Actual behavior**
An exception is trowed at quarkusDev startup

[code]

Apparently it try to find a java class but the project is in kotlin.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the

[2020-03-12 23:31] killboard commented on #7675
@aloubyansky issue created, I discovered a workaround to make the things works but is a very ugly, I described the steps in the issue. Thanks
https://github.com/quarkusio/quarkus/issues/7832

[2020-03-12 23:38] gdoenlen commented on #5675
I'm not sure what you mean by this, but without running the bat file CL won't be found to be executed. After manually adding CL onto my path both shells complain about not having the include path set properly for the compiler. I'm assuming vcvars does something that sets an environment variable for this and only in cmd does it actually stay around after the bat file is done.

AFTER putting CL on p

[2020-03-12 23:44] AmsterdamFilho commented on #7503
Actually, request scoped does exactly that. The reason it was not working for me is because the producer had a produces method, that should also be annotated with request scoped.

[2020-03-12 23:44] #7503 closed

[2020-03-12 23:48] gsmet commented on #7827
No worries, thanks for the follow-up!

[2020-03-13 00:34] maxandersen commented on #5675
Yes, so what I have in my windows install is a windows 7 sdk command line prompt - that does the magical setup; that might be just calling out `vcvars64.bat` - but yeah; this is how compilation tools are configured on windows and it seem to change slightly over time.

Would you be up for taking a stab on such documentation to get it bootstrapped and we can iterate on over time ?

[2020-03-13 00:36] #7433 closed

[2020-03-13 00:40] stuartwdouglas commented on #7433
This just missed 1.3, so will make it into 1.4.

For now I think as a workaround you could index the runtime part of your plugin with the jandex maven plugin and remove the AdditionalJpaModelBuildItem, and this should work I think, as the index will mean your entity gets picked up normally.

[2020-03-13 00:47] gsmet commented on #7433
In the end, and after reading your explanation, I decided to backport it so it should be in 1.3.0.Final if CI agrees.

[2020-03-13 01:22] DeonBoon commented on #7802
@loicmathieu the stacktrace only appeared once and I did not manage to capture it. Subsequently the stacktrace did not appear and my application just hangs there after I started it. Could you perhaps share if there are other methods of capturing the stacktrace?

The applications hangs there only after I imported the panache dependency and added the PanacheMongoEntity to my object class. Without th

[2020-03-13 02:28] gdoenlen commented on #5675
Yes it does my `x64 Native Tools Command Prompt for VS 2019` has a target of: `%comspec% /k "C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Auxiliary\Build\vcvars64.bat"`

I could do this, but ideally I would like to see NativeBuildStep.java in quarkus take care of this. Either by passing the path to vcvars64.bat in `mvn package -Pnative -DVCVARS=/path/to/vc/vars` and then in Na

[2020-03-13 04:21] tlvenn commented on #1997
@nimo23 yes -> https://rsocket.io/docs/Protocol#resuming-operation

[2020-03-13 08:37] mkouba commented on #4414
I don't think we should remove the validation completely, at least in ArC, because of spec compatibility. So I'm going to send a PR where we make the transformation configurable, i.e.  deprecate existing `quarkus.arc.remove-final-for-proxyable-methods` and introduce new unifying `quarkus.arc.transfrorm-unproxyable-classes`. @stuartwdouglas I'll add you for review.

[2020-03-13 08:44] DeonBoon commented on #7802
@loicmathieu just an update, i created my custom codec and also added "quarkus.log.level=ERROR" in my application.properties and now my application works as intended. However if I were to remove "quarkus.log.level=ERROR", it goes back to hanging without any error or stacktrace.

[2020-03-13 08:46] maxandersen commented on #5675
Windows env setup doesn't work as transparent as linux though thus I don't think we can do this in a reliable fashion - docs are the best way forward at the moment.

in other conversations we are working on trying to auto setup native-image so you don't need to download it separately but in all cases I think the assumption must be that the surrounding environment need to be setup for native compil

[2020-03-13 08:53] loicmathieu commented on #7806
@marc-christian-schulze the annotation is on the object being persisted, we call it the entity but it's not mandatory that this object extends `MongoPanacheEntity` to be able to have the `@MongoEntity` annotation.

Panache provides two paradigms : active record (sometimes called entity but we really should call it active records most of the times to avoid this kind of misunderstanding) and reposit

[2020-03-13 08:54] GestiefelteKater commented on #7433
Thank for the quick fix!
@stuartwdouglas When i add the jandex maven plugin, I got classloader issues with the cdi beans:
`Caused by: java.lang.ClassCastException: class com.example.ExampleService cannot be cast to class com.example.ExampleService (com.example.ExampleService is in unnamed module of loader 'app'; com.example.ExampleService is in unnamed module of loader io.quarkus.runner.RuntimeCla

[2020-03-13 08:55] loicmathieu commented on #7802
@DeonBoon juste for the record can you give us your application.properties and the codec you created.

I really don't understand what's going on with your stacktrace (but it's a separate issue), do you use the Quarkus logging support or not ?

[2020-03-13 09:02] zkhan96 commented on #7823
Cheers guys!

[2020-03-13 09:10] tqvarnst opened #7836 "The openshift and container-image extensions are not listen buy `mvn quarkus:list-extensions`"
**Describe the bug**
We have included openshift and container-image in Quarkus 1.3.0, but these are not listed when using maven to list possible extensions.

**Expected behavior**
Should be part of the list of extensions.

**Actual behavior**
Does not list these extensions.

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn io.quarkus:quarkus-maven-plugin:1.3.0.Final:list-extensions`
2.
3.

[2020-03-13 09:29] maxandersen commented on #7836
@tqvarnst after reading this i think the issue is more likely that you are still using quarkus platform 1.2.1 as 1.3 platform is not released yet.

please check that first.

[2020-03-13 09:48] maxandersen commented on #7717
@aloubyansky is the man for this.

What i'm saying is that while we wait on that to be fixed (I don't think it can be easily with current "lazy resolve") we have a way to make it fast for 90+% of all use cases here so i think it is worth enabling this no matter what.

[2020-03-13 10:02] aloubyansky commented on #7717
There is quarkus-bootstrap:build-tree

[2020-03-13 10:13] mkouba commented on #4414
FYI https://github.com/quarkusio/quarkus/pull/7837

[2020-03-13 10:21] maxandersen commented on #7717
how do you use that ? just errors instantly for me with non-existent prefix error.

[2020-03-13 10:32] aloubyansky commented on #7717
io.quarkus:quarkus-bootstrap-maven-plugin, it's normally isn't added to the project poms.

[2020-03-13 10:50] zulq opened #7839 "Kotlin dev mode broken, lateinit var failing on recompile."
**Describe the bug**
Kotlin dev mode broken

**Expected behavior**
Successful re-compilation of `lateinit var`

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create
[code]
in any resource file.
2.  Run dev mode.
3. Change source and refresh browser/client.

 - Quarkus version or git rev: 1.3.0.Final
 - Build tool (ie. output of `mvnw --version` or `gradlew --vers

[2020-03-13 11:03] gsmet commented on #7839
@zulq is it a regression?

[2020-03-13 11:11] zulq commented on #7839
Yes, it was working until I upgraded.

[2020-03-13 11:16] #7823 closed

[2020-03-13 11:27] #6723 closed

[2020-03-13 11:35] KaenDagger commented on #7839
@geoand Could this be issue for compiler options not provided for Hot Reload ?

[2020-03-13 11:38] geoand commented on #7839
I'll take a look

[2020-03-13 11:46] geoand commented on #7839
I can't reproduce the problem in a new project whos `pom.xml` looks like this:

[code]

[2020-03-13 11:48] ppalaga commented on #7717
Of course, go ahead!

[2020-03-13 11:48] zulq commented on #7839
@geoand am using `gradle` if you notice.

[2020-03-13 11:49] geoand commented on #7839
I am surprised it worked with Gradle in the first place since we never did anything explicit to make Kotlin work in dev mode for Gradle

[2020-03-13 11:56] zulq commented on #7839
Yes, quite surprising as full reload makes it work, however am using `kotlin 1.3.70` if that helps.

[2020-03-13 11:56] gastaldi commented on #7839
@geoand no idea from the top of my head but hopefully @aloubyansky might know

[2020-03-13 11:57] geoand commented on #7839
It might have worked by accident before because of Classloader leakage

[2020-03-13 12:14] zulq commented on #7839
I think I got the culprit, the resource is `RequestScoped` once I comment that it works. Should I close this now or it's still a bug?

[2020-03-13 12:22] geoand commented on #7839
Yeah, `RequestScoped` probably shouldn't work so I think we can close it. If someone feels otherwise, please reopen

[2020-03-13 12:22] #7839 closed

[2020-03-13 12:41] Maldivia commented on #7771
@mkouba
The implemented solution explicitly checks if the type is String, but raw/safe are extensions of Object, and applies to the toString() value of it.

Given the following usage:
[code]

[code]
will produce as expected:
[code]

But:
[code]
will error out with:
[code]

[2020-03-13 12:47] aloubyansky commented on #7832
Thanks for the reproducer @killboard

[2020-03-13 12:52] Maldivia opened #7843 "Qute - methods on Object not resolved for types declared using interfaces"
**Describe the bug**
Given a template with
[code]

results in a BuildException with:
[code]

The above works as expected if it's a concrete type, for instance:
[code]

**Environment (please complete the following information):**
Quarkus 1.3.0.Final
Java 11.0.6

[2020-03-13 12:55] mkouba opened #7844 "Dump the zig files in dev/test modes"
Currently, `-Dquarkus.debug.generated-classes-dir` only dumps the bytecode. It would be useful to dump the zig files to ease the analysis of the stack trace:
[code]

[2020-03-13 12:56] aloubyansky commented on #3552
To clarify, is there still something to fix in Quarkus here?

[2020-03-13 12:56] dmlloyd commented on #7844
It is unlikely I'll have time to work on this any time soon, so I've unassigned it.

[2020-03-13 12:56] Maldivia opened #7845 "Qute - declaring a parameter of type java.lang.Object causes NullPointerException"
**Describe the bug**
The following template:
[code]

causes a BuildException caused by a NullPointerException:
[code]

**Environment (please complete the following information):**
Quarkus 1.3.0.Final
Java 11.0.6

[2020-03-13 12:58] jskovjyskebankdk commented on #3552
No, I think it has been landed OK.

[2020-03-13 13:00] burmanm commented on #7809
So is this related to PR #7438? In any case, adding quarkus-resteasy as dependency did not help our project - the problem still occurs. With 1.3.0.Final.

Which dependency is actually providing that class?

[code]

[2020-03-13 13:02] aloubyansky commented on #5289
Is this still an issue? If I add the plugin as described in https://plugins.gradle.org/plugin/org.owasp.dependencycheck to the basic project, is it expected to reproduce the error? It worked fine with 1.3.0.Final.

[2020-03-13 13:05] mkouba commented on #7844
@dmlloyd No problem. I was just thinking that you would be a perfect match for this issue ;-).

[2020-03-13 13:06] mkouba commented on #7845
Good catch! You should not need to call `toString()` in this use case though. `{obj}` should output the result of `obj.toString()`.

[2020-03-13 13:07] aloubyansky commented on #5488
@4ntoine have you deleted the branch with the reproducer?

[2020-03-13 13:13] aloubyansky commented on #3552
Excellent. In case somebody else here still believes not everything has been addressed, please open a new issue. Thanks everyone.

[2020-03-13 13:13] #3552 closed

[2020-03-13 13:15] Maldivia commented on #7845
toString was just an example, hashCode will do the same (was playing around with the old .raw issue #7771)

[2020-03-13 13:17] mkouba commented on #7771
You're right. We should be consistent here. `{@java.lang.Object obj}{obj.raw}` should not result in an incorrect expressio. Would you care to send a PR? ;-)

[2020-03-13 13:19] cescoffier commented on #7809
@burmanm org.jboss.resteasy:resteasy-context-propagation is providing the class.

[2020-03-13 13:21] sberyozkin commented on #7446
@moksamedia Thanks, please retry with `1.3.0.Final` and then we can close this issue

[2020-03-13 13:22] sberyozkin commented on #7286
Vertx OAuth2 is already having some support around it which is great

[2020-03-13 13:29] gboro54 opened #7846 "S3 AWS Client does not work with quarkus in native mode"
After working around a couple minor issues (ie included and setting the HTTP client) it appears that there is still an issue when trying to leverage the AWS S3 client 2.x SDK in Quarkus Native

**Expected behavior**
When leveraging the S3 client:
`  SdkHttpClient httpClient = ApacheHttpClient.builder().
                maxConnections(50).
                build();
   S3Client.builder().httpClient(h

[2020-03-13 13:37] sberyozkin commented on #5003
Vertx has a load JWKs method which gets the new set and I'd like to have a Timer task calling it at the configured period of time. (My initial assumption the introspection is done on every request was wrong by the way, Vertx would only do it for the opaque tokens).
Apart from this timer task doing the periodic set pulls, we can also do a single pull if no key is available right now.

[2020-03-13 13:44] aloubyansky commented on #5539
Still fails with 1.3.0.Final with
[code]
Changes applied to the reproducer
[code]

[2020-03-13 13:48] dwamara opened #7848 "Document how placeholders in application.properties work"
**Description**
It will be good if one could use placeholders in the application.properties file in order to not repeat the same value every time and being able to change many values all at once.

I have for a particular application I am implementing the following in my application.properties file

c2b.register.url.confirmation=http://localhost:21301/fedahub-gw/register/confirmation
b2c.url.queue.

[2020-03-13 14:07] GregJohnStewart commented on #7156
Allright, with the release of `1.3.0.Final`, still getting the same exception on `test` that the template can't be found, but runs fine on `quarkusDev`.

Exception:
[code]

[2020-03-13 14:08] #5707 closed

[2020-03-13 14:16] stianst commented on #5003
You don't want to use a timer task to fetch keys. Keys are rotated at a fairly irregular time (monthly, not daily), and a timer would either be far to regular, or it could end taking way to long before new keys are fetched.

As such what you want is to do it on demand when you see a new KID as I mentioned earlier. However, of course like everything else you want to have some protection against a D

[2020-03-13 14:17] gastaldi commented on #7848
You can use `${host.gateway}` if the environment is set outside the application.properties (as an ENV variable or inside the `.env` file) if I am not mistaken. @dmlloyd can confirm

[2020-03-13 14:17] #7832 closed

[2020-03-13 14:22] famod commented on #7747
Fix confirmed in `1.3.0.Final`. Thanks again to everyone involved!

[2020-03-13 14:34] dmlloyd commented on #7848
You can even set it inside of `application.properties` if you want:

[code]

You can also change the `host.gateway` property on the commandline (via `-Dhost.gateway=xxx`) or env var (`HOST_GATEWAY=xxx ...`).

[2020-03-13 14:36] mraible commented on #7446
@sberyozkin I've been working with @moksamedia on this problem. I tried with 1.3.0.Final and IT WORKS!! Happy Friday! 😃🎉

[2020-03-13 14:41] fmhwong commented on #7172
@stuartwdouglas  Thank you!  Do you know when will quarkus-http cut a new release with this changes?

[2020-03-13 14:45] famod opened #7852 "Support for "Maven CI Friendly Versions" properties sha1 and changelist"
**Description**
In response to #7747, @aloubyansky added support for `${revision}` in the `version` element via PR #7786.
It was [discussed](https://github.com/quarkusio/quarkus/pull/7786#discussion_r391295590) that the two other ["Maven CI Friendly Versions"](https://maven.apache.org/maven-ci-friendly.html) properties `${sha1}` and `${changelist}` should also be supported.

This would/should then

[2020-03-13 14:46] geoand commented on #7848
@dwamara have you tried using the placeholders without success?

[2020-03-13 14:58] knutwannheden commented on #6112
Another one would be `org.hibernate.envers.revision_listener`.

[2020-03-13 15:04] gastaldi commented on #7852
Sounds like you are interested in providing a PR for it? :smiley:

[2020-03-13 15:11] famod commented on #7852
First and foremost, I just wanted to track this "loose end". 😁
This doesn't have the highest priority for me right now.

But yeah, I might come up with a PR eventually in case no one else steps up.

[2020-03-13 15:23] mejlholm commented on #7646
Just wanted to give a big thanks for finding/resolving this one!

We've been trying to find that issue for a while now.

[2020-03-13 15:48] aloubyansky commented on #6635
Appears to be working with 1.3.0.Final. Thanks for the report.

[2020-03-13 15:48] #6635 closed

[2020-03-13 15:49] sberyozkin commented on #5003
@stianst Hi, sure, for the latter I was indeed thinking of having a property which even allows such on demand request, that would be a start. Plus the other property you suggest :-)
Likewise enabling a timer would be optional, if someone sets to pull every 24 hours for example or every 2 weeks for the long running apps, it won't really make things worse I guess and might save an on demand trip. I'

[2020-03-13 15:51] sberyozkin commented on #5003
@stianst Hi Stian, by the way, can you please remind about the idea of caching the access tokens for `service` applications, is it even possible with a `nonce` ? Cheers

[2020-03-13 16:11] masini opened #7854 "ClassCastException running Mockito with Quarkus 1.3.0.Final"
Using Mockito into @QuarkusTest, like this:
[code]
I got a ClassCastException:

[code]
this worked with 1.2.1.Final.

[2020-03-13 16:12] aloubyansky commented on #7367
Appears to be fixed in 1.3.0.Final. Thanks for the report!

[2020-03-13 16:12] #7367 closed

[2020-03-13 16:14] gsmet commented on #7854
Can you prepare a reproducer?

Thanks!

[2020-03-13 16:21] gastaldi commented on #7836
I can confirm it works in 1.3.0.Final and with `quarkus-bom`

[2020-03-13 16:21] gastaldi commented on #7836
Closing as invalid. Reopen if the problem persists

[2020-03-13 16:21] #7836 closed

[2020-03-13 17:05] masini commented on #7854
My fault, it was prepared, this is the link:

[Reproducer](https://github.com/masini/mockito-cce)

[2020-03-13 17:21] gastaldi opened #7856 "@ConfigItem Optional<Map<String,String>> does not work"
Declaring a config as:

    /**
     * Sets the placeholders to replace in SQL migration scripts.
     */
    @ConfigItem
    public Optional<Map<String, String>> placeholders = Optional.empty();

Always returns an `Optional.empty()` when having the following in the `application.properties`:

[code]

[2020-03-13 17:58] KaenDagger commented on #5488
@SR-Lut3t1um was away for exams. Was not able to go ahead. just resumed work

[2020-03-13 17:58] KaenDagger commented on #5488
@aloubyansky  yes branch is deleted

[2020-03-13 18:05] aloubyansky commented on #5488
@KaenDagger do you by chance have a reproducer?

[2020-03-13 18:10] KaenDagger commented on #5488
On the way, first test with hibernate-orm + kotlin +gradle. I suppose injection should fail there only as per issue description.
Normal injection works in Kotlin+gradle project

[2020-03-13 18:16] dwamara commented on #7848
@geoand it did worked :) it's something that I was looking for for ages but never got myself to ask the question as it was sometimes only 3 or 4 properties.
It's something that should definitely be put in the documentation.
How do I see the process of updating the documentation? I will gladly do it.

[2020-03-13 18:22] sberyozkin commented on #7856
I wonder if it is similar to what is not working in OIDC at the moment, where I'd like to have an optional ConfigGroup:
[code]
(sorry I'll open another issue if it is not related)

[2020-03-13 18:24] gastaldi commented on #7856
It may be related. If only I knew where the config is converted/parsed :)

[2020-03-13 18:52] geoand commented on #7848
@dwamara Thanks for volunteering to update the docs.

I would think the best place to put this information is somewhere here: https://github.com/quarkusio/quarkus/blob/master/docs/src/main/asciidoc/config.adoc

Just open a pull request updating that piece of documentation and someone will promptly review it

[2020-03-13 20:27] gastaldi commented on #7848
@dwamara I updated the issue title to reflect this task

[2020-03-13 20:43] aloubyansky commented on #5488
Once you have a reproducer, please add it to this issue. Thanks a lot.

[2020-03-13 20:44] #5722 closed

[2020-03-13 20:48] dmlloyd commented on #7856
It's probably a different issue @sberyozkin, but even if I'm wrong, it won't hurt to have two open issues for the problem (especially since they're two different symptoms).

[2020-03-13 21:56] sberyozkin commented on #6723
@geoand Verry sorry, I'm keeping missing notifications, I'm watching this issue but only seeing when it is re-opened or closed. Looks like NPE is returned from Keycloak, @pedroigor, does it look like it is a Keycloak NPE to you ? Cheers

[2020-03-13 22:51] sberyozkin opened #7862 "Optional configuration groups do not work"
**Describe the bug**
When I was working on updating `quarkus-oidc` OidcTenantResolver to support different client secret methods, we ended agreeing with @pedroigor on the following as an initial step:
[code]
Note `clientSecret` has to be initialized immediately and `Secret` properties are optional, because all immediate `Credentials` properties (`secret`, `clientSecret` and more later on) are mutu

[2020-03-13 22:52] sberyozkin commented on #7862
CC @dmlloyd @gastaldi

[2020-03-13 22:54] sberyozkin commented on #7862
I guess
[code]
would also be fine, `clientSecret` would be initialized if at least one of `Secret` properties is set

[2020-03-14 01:23] #7806 closed

[2020-03-14 06:38] SR-Lut3t1um commented on #5488
@aloubyansky I have a reproducer. It's a repo of a project I'm working on right now, so it does include more that what's nessisary to reproduce the bug. If you want to I can share it here.

[2020-03-14 06:50] esteveavi commented on #7665
Martin,
I can't make it work. I need to switch between locales:

 *this*.bundle = ResourceBundle.*getBundle*("i18n.messages", *new* Locale(
"es", "ES"));

Best regards,

On Tue, Mar 10, 2020 at 1:07 PM Martin Kouba <notifications@github.com>
wrote:

--
Esteve Avilés

[2020-03-14 06:53] aloubyansky commented on #5488
@SR-Lut3t1um sure, that might not be the easiest to work with but still a reproducer. Thanks!

[2020-03-14 06:54] aloubyansky commented on #5488
Have you tried 1.3.0.Final, btw?

[2020-03-14 06:58] SR-Lut3t1um commented on #5488
Not yet, last version I tried was 1.3.0.CR2

[2020-03-14 07:03] SR-Lut3t1um commented on #5488
Here it is, I hope it's good enough to work with.:
https://gitlab.informatik.uni-bremen.de/tobias5/aut0m4t0n

[2020-03-14 07:05] SR-Lut3t1um commented on #5488
It's configured to use H2. To reproduce the issue got to: http://127.0.0.1:8080/automaton/test

[2020-03-14 07:17] esteveavi commented on #7665
ok,

Make it work with something like this:

@RequestScoped

*public* *class* MailerService {

*private* *static* *final* Logger *logger* = LogManager.*getLogger*
(MailerService.*class*);

@Inject

@ResourcePath(value="mail/appointment/v1/newAppointment")

MailTemplate appointmentConfirmationMail;

@ConfigProperty(name = "mail.appointment.replyto")

String replyTo;

*private* ResourceBundle bundle

[2020-03-14 08:17] geoand commented on #6723
@sberyozkin no worries!

[2020-03-14 10:26] JohT commented on #6327
As another workaround, native-image configuration `<reportErrorsAtRuntime>true</reportErrorsAtRuntime>`
works for me (MacOs 10.13.6, GraalVM 20.0.0 CE, Quarkus 1.3.0.Final),
when I add the following dependencies (version managed by quarkus bom):
[code]

[2020-03-14 11:55] sberyozkin commented on #5003
@stianst Yes, I see it being documented that they can be rotated just few times per the year by default :-)

[2020-03-14 11:56] marc-christian-schulze commented on #2491
I'm afraid I have the same issue. I was trying to enable the debug logging of Panache to see the created Mongo queries and therefore added the following to my `application.properties`:
[code]
However, none of the configuration properties seem to have an effect. No debug output from Panache.
But the logging system seems to be working in general as I see diagnostic messages like
[code]
I'm using Qua

[2020-03-14 13:23] lordofthejars opened #7865 "Vault TOTP Support"
**Description**

Add support for the Vault TOTP Secret engine.

**Implementation ideas**

Create a `VaultTOTPSecretEngine` class to deal with TOTP Secret API.

@vsevel @gsmet If you agree I am happy to provide a PR about this feature. I am going to start working today a bit.

Please if you can assign me the issue :)

[2020-03-14 13:27] oztimpower commented on #7846
FWIW I have been able to get this working using the URL Connection client instead (faced similar issues with the Apache HTTP client).

`
        <dependency>
            <groupId>software.amazon.awssdk</groupId>
            <artifactId>url-connection-client</artifactId>
        </dependency>
`
reflect-config.json
`[
  {
    "name":"com.sun.xml.internal.stream.XMLInputFactoryImpl",
    "methods":[{

[2020-03-14 14:22] sberyozkin commented on #7008
@lordofthejars Hi, are you OK if I close this issue ?

[2020-03-14 14:23] sberyozkin commented on #7007
Hi @lordofthejars what is your plan around this issue ? Will I assign it to you ?

[2020-03-14 16:53] gboro54 commented on #7846
Thanks! That seems to work.

[2020-03-14 17:11] dmlloyd commented on #2491
This is usually because you have some agent or something which has initialized logging too early.  If that's the case, the workaround is to give `-Djava.util.logging.manager=org.jboss.logmanager.LogManager` on the Java command line.

[2020-03-14 17:29] lordofthejars commented on #7008
Yes close it as I sent a PR to smallrye

El sáb., 14 mar. 2020 15:22, sberyozkin <notifications@github.com> escribió:

[2020-03-14 17:30] lordofthejars commented on #7007
Yes assign to me, maybe it will take some time but I'll do it for sure.

El sáb., 14 mar. 2020 15:23, sberyozkin <notifications@github.com> escribió:

[2020-03-14 19:05] manuelbl commented on #7156
I have the same issue but can get it working with:

[code]

[2020-03-14 19:43] skabashnyuk opened #7869 "AssertionError in OwnerResourceTest"
**Describe the bug**
I've got AssertionError in the generated sample.

**Expected behavior**
OwnerResourceTest test passed without error

**Actual behavior**
[code]

**To Reproduce**
1.  Generate sample  https://code.quarkus.io/ with flyway, hibernate, postgresql
2.  Start postgresql
3.  Run test with ```-Dquarkus.profile=test```

**Configuration**
[code]

**Screenshots**
n/a

**Environment (pleas

[2020-03-14 19:44] skabashnyuk commented on #7869
I can propose a pr. But I can't find OwnerResourceTest sources.

[2020-03-15 01:25] tellisnz-shift commented on #3954
hi @geoand - have you been able to get in touch with the kotlin/graalvm folks?

[2020-03-15 02:09] ieugen opened #7870 "Gradle addExtension does not read properties from top level gradle.properties in multi-module projects"
**Describe the bug**

I created a quarkus gradle project  with the online configuration.
I integrated the project into my multi-module gradle project.
I ran the command to add extension:
[code]
Fails with:
[code]
My `/gradle.properties` contains the following:
[code]

But the plugin fails to see the values.

**Expected behavior**
I expect to add a single set of properties in the top level `gradle.

[2020-03-15 02:53] rinaldodev commented on #6807
I'm facing this same issue right now. Can you point us where we can disable the policy enforcer for a specific path? I've been looking for it a while and haven't found.

I've also tried to allow access using quarkus' security layer, but it doesn't seem to work when using keycloak's policy enforcer:

[code]

[2020-03-15 02:54] ieugen commented on #7870
Duplicate of https://github.com/quarkusio/quarkus/issues/5722

[2020-03-15 02:54] #7870 closed

[2020-03-15 03:46] gastaldi commented on #7869
@skabashnyuk that file doesn't seem to exist in the core and the steps to reproduce don't create it either.

Are you sure the problem is not in the migration SQL files as you pointed out?

[2020-03-15 07:52] geoand commented on #3954
@tellisnz-shift unfortunately no. With all the stuff that needed to be done for 1.3, I didn't follow up after not being able to reach them the first time.
I'll try again this week I hope.

[2020-03-15 08:04] geoand commented on #7854
I'll try and take a look soon

[2020-03-15 08:06] skabashnyuk commented on #7869
@gastaldi you right. A sample comes https://github.com/kolorobot/quarkus-petclinic-api. Sorry.

[2020-03-15 08:06] #7869 closed

[2020-03-15 10:02] geoand commented on #7854
I just ran this real quick and I can indeed reproduce the problem.

However it doesn't seem to be a general problem with Quarkus and Mockito, just a problem with `HttpServletRequest`

[2020-03-15 10:26] geoand commented on #7854
This problem is caused by: https://github.com/quarkusio/quarkus/blob/master/extensions/undertow/runtime/pom.xml#L103

[2020-03-15 10:50] masini commented on #7854
OMG, so I run into a corner case !

But I've plenty of tests regarding OAuth2 and IDP that need to mock `HttpServletRequest`, any suggestion on how to bypass the problem ?

[2020-03-15 11:15] geoand commented on #7854
Yes it is a corner case I am afraid. I don't have any workarounds for the time being but I'll think about it.

Perhaps @stuartwdouglas has some ideas

[2020-03-15 12:35] miron4dev commented on #6041
I'm having the same issue with `quarkus-amazon-lambda`
I tried to add `com.fasterxml.jackson.module:jackson-module-kotlin` with explicitly declared `com.fasterxml.jackson.module.kotlin.jacksonObjectMapper` as a bean, but it didn't help.

If I add `quarkus-resteasy-jackson` it solves the problem, but I don't need this dependency in the classpath.

[2020-03-15 12:41] geoand commented on #6041
Hi @miron4dev

You should be able to just use `quarkus-kotlin` and `quarkus-jackson` to solve the problem.
`quarkus-resteasy-jackson` shouldn't be necessary.

[2020-03-15 13:02] jaikiran commented on #7678
@rsvoboda I forgot to ask, does this only happen with 20.x of GraalVM or even with 19.3.x?
Either way, I still can't see how this exception can happen unless either:
- The `UUID.randomString().toString()` in that code someone gets inlined to a precomputed value, which seems impossible (even for native image semantics)
- OR the `UUID.randomString()` on that setup seems to be generating duplicates (

[2020-03-15 13:07] miron4dev commented on #6041
@geoand

Unfortunately, it didn't help. Please check the sample project https://github.com/miron4dev/quarkus-issue-6041

[2020-03-15 13:35] geoand commented on #6041
Seems like you are missing:

[code]

in your `build.gradle.kts` @miron4dev

[2020-03-15 13:48] miron4dev commented on #6041
@geoand

You're right. It will not work until I add Jackson Kotlin Extension and register it as a bean.
However, if I add the Jackson mapper like this https://github.com/miron4dev/quarkus-issue-6041/blob/master/src/main/kotlin/com/miron4dev/JacksonConfiguration.kt
then it's doesn't trigger `objectMapper` creation and I have the same problem.

To make it work I should add an observer of the `Startu

[2020-03-15 13:51] geoand commented on #6041
@miron4dev please read: https://quarkus.io/guides/rest-json#jackson

I believe you will find all you need to make configuring Jackson super easy :)

[2020-03-15 13:58] miron4dev commented on #6041
@geoand

The trick with `ObjectMapperCustomizer` is not working. The `customize` method just not triggered.
I updated the sample project.

[2020-03-15 14:22] geoand commented on #6041
First of all, you don't need to configure anything when you add

[code]

like I mentioned above. Quarkus will automatically register this module when it's on the build classpath (and both `quarkus-jackson` and `quarkus-kotlin` are also present).

With the previous incarnation of your reproducer I was seeing module being registered just fine when I added the dependency.

Now as to the problem with

[2020-03-15 14:38] geoand commented on #6041
So the reason why you aren't seeing your `ObjectMapperCustomizer` run is because Quarkus believes that `ObjectMapper` bean is not being used (see [this](https://quarkus.io/guides/cdi-reference#remove_unused_beans) for more details).
This is a bug with Amazon Lamdba + Jackson integration which can be fixed very easily on our side (by making the bean unremovable like the `quarkus-resteasy-jackson` a

[2020-03-15 19:05] sberyozkin commented on #7008
@lordofthejars great, thanks

[2020-03-15 19:05] #7008 closed

[2020-03-15 19:06] sberyozkin commented on #7007
@lordofthejars sure, will do, thanks

[2020-03-15 20:40] gastaldi commented on #7854
Stupid question but why mock `HttpServletRequest`? Isn't easier to use `rest-assured` to perform the HTTP request in the service you're testing?

[2020-03-15 20:42] geoand commented on #7854
Was wondering the same thing myself... I'd love to see the actual way the mock is being used

[2020-03-15 21:21] sberyozkin commented on #7446
@mraible @moksamedia Happy to hear it, thanks

[2020-03-15 21:22] #7446 closed

[2020-03-16 02:14] #7802 closed

[2020-03-16 02:29] stuartwdouglas commented on #5600
This is done.

[2020-03-16 02:29] #5600 closed

[2020-03-16 06:40] stianst commented on #5003
On demand requests should by enabled by default.

I see no reason of a timer based approach in addition. What purpose does it serve? It would only serve a purpose for an application with very few requests, and with a short interval on the timer. Makes no sense IMO.

[2020-03-16 06:41] stianst commented on #5003
@sberyozkin I'm not really following what you are talking about caching the access token. Are you talking about caching token introspection endpoint results?

[2020-03-16 07:41] mesejo commented on #6607
@kunal-kushwaha Hi, no I'm not actively working in this issue

[2020-03-16 07:54] ravalli commented on #4005
This extension could be really useful, any estimation about when could be available?

[2020-03-16 08:13] rvansa commented on #6807
@rinaldodev I guess it should be
[code]

[2020-03-16 08:16] jmartisk opened #7875 "Make use of the new ExtendedMetadataBuilder in the Metrics extension"
SR Metrics 2.4.1 introduced a builder for `ExtendedMetadata` to get rid of the constructor hell needed to construct `ExtendedMetadata` objects

[2020-03-16 08:31] tomekl007 opened #7876 "Cassandra DataStax Extension"
**Describe the extension**
DataStax Cassandra extension that provides a way to automatically create `com.datastax.oss.driver.api.core.CqlSession` as the Quarkus Extension.

Interested in this extension, please +1 via the emoji/reaction feature of GitHub (top right).

**Configuration suggestion**
[code]
(config may evolve during the ticket - new seetings may be added)

**Additional context**
DataSt

[2020-03-16 08:35] jamesnetherton opened #7877 "Unable to use @ParameterizedTest with test annotated by @QuarkusTest"
I was building camel-quarkus with the latest Quarkus SNAPSHOT and noticed a change in behaviour. Tests annotated with `@QuarkusTest` that use `@ParameterizedTest` have started to fail with:

[code]

Here's an example failing test:

https://github.com/apache/camel-quarkus/blob/master/integration-tests/dataformats-json/src/test/java/org/apache/camel/quarkus/component/dataformats/json/JsonComponentsT

[2020-03-16 08:43] Dufgui commented on #4005
The last commit seems to be testable. So you can test the branch.

Now we wait :
- review from core team
- return from Quarkus core team (RedHat / IBM) to know where push and package it. They are thinking about managing extension differently. But no decision is taken so, external contributor must wait to have information/decision from them. The subject is complicated because there is lot of differ

[2020-03-16 08:45] mkouba commented on #7665
Why do you store the bundle in `MailerService.bundle`? `data("bundle",  ResourceBundle.getBundle("i18n.messages", new Locale("es", "ES")))` should work.

Anyway, the `i18Text` extension method looks good and is more efficient than generating a resolver for the whole `ResourceBundle` class.

[2020-03-16 08:55] pilhuhn commented on #5471
Is that something which could be done in SmallRye as "tech-preview", where the experiences could then be fed back into the MicroProfile specification processes?

[2020-03-16 08:56] Meemaw opened #7878 "Quarkus (maven) distribution"
**Description**
Hi. I've seen version 1.3.0 Final was released, but some distributions are still missing on the https://repo.maven.apache.org/maven2/io/quarkus. More specifically, I'm using https://repo.maven.apache.org/maven2/io/quarkus/quarkus-universe-bom/ for easier management and the version 1.3.0 Final is not there yet.

How is the distribution currently done? Are those resources updated man

[2020-03-16 09:12] geoand commented on #7878
Hi,

The Quarkus universe is released a few days after Quarkus core is released. One reason this is done is to follow the rules of the Apache release process (which Apache Camel needs to follow).
Our proper announcements and publishing of support materials only go out after the universe has been released.

[2020-03-16 09:12] #7878 closed

[2020-03-16 09:19] Ladicek opened #7879 "Panache adding @XmlTransient to fields breaks Jackson serialization in @QuarkusTest"
**Describe the bug**
Say I'm using Panache for easier persistence handling and Jackson for serialization. Notably, I use Jackson for serialization _both_ on the server side (inside the application) and on the client side (inside a `@QuarkusTest`, which uses RestAssured, which integrates with Jackson). And even more notably, the client side (which, again, is a unit test) uses the same bytecode-enha

[2020-03-16 09:19] Ladicek commented on #7879
CC @FroMage

[2020-03-16 09:46] geoand commented on #7877
I'll take a look

[2020-03-16 09:53] #4507 closed

[2020-03-16 10:06] geoand commented on #7877
I can confirm that it works with `1.3.0.Final` and not with the latest `master`. I'll have a deeper look later on today.

[2020-03-16 10:13] rsvoboda commented on #7678
It's my home laptop, Windows is the host OS, no VM. Using GraalVM 20, didn't try 19.3 as Windows support for native-image improved with GraalVM 20.

[2020-03-16 10:41] lkrzyzanek opened #7880 "QuarkusTestResourceLifecycleManager / injecting - getAnnotation stopped working in 1.3.0"
**Describe the bug**
I'm upgrading form 1.2.0.Final to 1.3.0.Final and my Tests stopped working when  implementing  `inject` method from `QuarkusTestResourceLifecycleManager`

I'm injecting AMQ client session in very similar way like in  https://github.com/quarkusio/quarkus/blob/master/test-framework/kubernetes-client/src/main/java/io/quarkus/test/kubernetes/client/KubernetesMockServerTestResource

[2020-03-16 10:43] #7172 closed

[2020-03-16 10:47] maxandersen commented on #7878
in short Quarkus 1.3 is not released yet, just *one* piece (quarkus core) has been released; not the rest.

its not released until Quarkus 1.3 is annouced on quarkus.io/blog

[2020-03-16 10:58] gsmet commented on #7880
/cc @geoand isn't it this thing for which you had a workaround?
/cc @stuartwdouglas

[2020-03-16 10:59] geoand commented on #7877
@jamesnetherton #7881 should fix the issue

[2020-03-16 11:02] geoand commented on #7880
This is the same issue as: https://github.com/quarkusio/quarkus/issues/7784

[2020-03-16 11:05] sberyozkin opened #7882 "Optimize OIDC multi-tenancy connections"
**Description**
When every tenant configuration points to the same OIDC server (Keycloak) then every OIDC connection instance will have its own JWK set cache, etc. Similarly, a new discovery attempt will be made for every new tenant connection but if it were possible to reuse it then `TenantConfigResolver` related blocking calls can become super fast and non-blocking.

**Implementation ideas**
Not

[2020-03-16 11:12] vikas326 commented on #7635
I am also getting the warning message with the above error.

[WARNING] [1m[[0;36mio.quarkus.creator.curator.Curator[0;1m][m These dependencies are not recommended:
	- javax.activation:javax.activation-api should be replaced by jakarta.activation:jakarta.activation-api
	- javax.annotation:javax.annotation-api should be replaced by jakarta.annotation:jakarta.annotation-api
	- javax.persistence:j

[2020-03-16 11:30] dufoli commented on #4005
Server and client is supported.
You can see doc in adoc but because doc is not in guide. But you can found it under doc folder in the branch

[2020-03-16 11:47] Ladicek opened #7883 "built-in ExceptionMappers cause unexpected behavior"
**Describe the bug**
Quarkus includes several JAX-RS `ExceptionMapper`s out of the box. Those are actually not considered built-in as per the JAX-RS specification, they are just built into Quarkus to improve user experience.

However, they can also make the user experience worse. For example, if I create an `ExceptionMapper` for all `Exception`s, it _isn't_ used if I throw a JAX-RS `NotFoundExcept

[2020-03-16 11:48] Ladicek commented on #7883
Not sure who to CC, perhaps @asoldano?

[2020-03-16 12:27] cunhazera opened #7884 "exists() method for repository"
**Description**
Nowadays we have the `findByIdOptional` and `count` to check if a record exists inside the database. `count` is much faster than selecting the whole object data and serializing it. But wouldn't it be nice to have an `exists(id)` method to abstract a db query that is so common?

[2020-03-16 12:58] dmlloyd commented on #7862
First, initializing config properties is *never* necessary and you'll never observe a null config property (assuming everything is working correctly).

Second, we don't have any support for mutually exclusive properties at a config level, so that has to be done manually (or better yet, find a model that doesn't require mutual exclusion).

Other than that, it seems something has gotten broken here,

[2020-03-16 13:04] andreas-eberle opened #7885 "Quarkus 1.3: Smallrye AMQP not working with RabbitMQ any more, address undefined"
**Describe the bug**
I try sending a simple message with the `quarkus-smallrye-reactive-messaging-amqp` extension via an `Emitter<String>`. On the sender side, there is no indication that something went wrong. However, the rabbitmq container displays the following exception

[code]

The same code works with Quarkus 1.2.1.Final.

**Expected behavior**
* Should work as before.
* When message cannot

[2020-03-16 13:19] #7877 closed

[2020-03-16 13:20] geoand commented on #7885
cc @cescoffier

[2020-03-16 13:22] geoand commented on #7883
cc @FroMage

[2020-03-16 13:24] FroMage commented on #7883
Yeah, something we need to fix.

[2020-03-16 13:48] sberyozkin commented on #7883
May be a property like `disable-quarkus-mappers` ? Otherwise it can be tricky if not impossible, as both the quarkus and the custom user mapper are all the custom providers for RestEasy, both competing for the same exception type

[2020-03-16 13:51] sberyozkin commented on #7883
The other option is to check in Quarkus, before registering its own mapper if something else is available, but then Quarkus would need some RestEasy logic to see if the user mapper is competing with the Quarkus one or not...May be just checking the type var would be enough

[2020-03-16 14:02] Ladicek commented on #7883
@sberyozkin I don't understand JAX-RS, but would it help if RESTEasy treated the Quarkus providers as "built-in"? That's what they are, from my perspective. (Not sure if that wouldn't break something else :grin:)

[2020-03-16 14:06] sberyozkin commented on #7883
@Ladicek Hi, then RestEasy would need to decide what to with its built-in mappers if any, though it might work nicely, indeed Alessio and other RestEasy gurus would know :-)

[2020-03-16 14:30] #7854 closed

[2020-03-16 14:36] lkrzyzanek commented on #7880
I tried check on  String representation of the annotation classes
like `DockerService.class.getName().equals(annotation.annotationType().getName()) ` but then I cannot set the instance created within `start()`.
Looks like start + inject + stop becomes basically not useable.

[2020-03-16 14:39] geoand commented on #7880
@lkrzyzanek can you show what your code looks like? Even better if you could point to a reproducer

[2020-03-16 14:39] Ladicek opened #7887 "classloading issue when @QuarkusTest inherits from class from another artifact (Maven module)"
**Describe the bug**
I have a database application and I want to support multiple databases. For that, I need to build the application separately for each database. For various reasons, I decided to do this as a multi-module Maven project, structured like this:

- `app`: the application itself, doesn't have `quarkus-maven-plugin`, but has `jandex-maven-plugin` to produce Jandex
- `postgresql`: dep

[2020-03-16 14:39] Ladicek commented on #7887
CC @stuartwdouglas @geoand

[2020-03-16 14:44] geoand commented on #7887
Interesting one, I'll take a look!

[2020-03-16 14:48] geoand commented on #7887
I am pretty sure there is an easy fix for this one, but I need to check

[2020-03-16 14:51] mkouba opened #7888 "ArC - it's not possible to inject Instance<> into an observer method parameter"
The code generated by `io.quarkus.arc.processor.BuiltinBean.INSTANCE` only considers injection into a bean.

[2020-03-16 14:54] Ladicek commented on #7887
I tried one easy fix I was able to come up with, but that made things even worse :-D

[2020-03-16 15:20] geoand commented on #7887
Indeed I had a wrong understanding of the problem.
Looking more now

[2020-03-16 15:30] gastaldi commented on #7884
cc @FroMage @emmanuelbernard @gsmet

[2020-03-16 15:50] geoand commented on #7887
The problem is solvable, but we need our JUnit 5 extension to be smarter about how is sets up Quarkus bootstraping.
Essentially if we add something like:

[code]

to `QuarkusTestExtension#doJavaStart` then the problem goes away.

@stuartwdouglas @aloubyansky does this make sense? If so, do we have any good way of doing this?

[2020-03-16 16:05] Ladicek commented on #7887
I tried something like that, but got other classloading errors (something with H2 driver, no longer remember exactly). But my attempt was very naive.

[2020-03-16 16:05] rsvoboda commented on #7678
I tried to use 19.3.1 on Windows machine, but it can't be used with Quarkus, getting error

[code]

[2020-03-16 16:15] sdaschner opened #7889 "Remote debug into dev mode doesn't work on JDK 9+"
**Describe the bug**
If I run `quarkus:dev` remotely (i.e. in a Docker container), I can't remote debug if I'm using JDK 9 or newer (the remote connection string has been changed and requires adapting).

Trying to debug remotely (with IDE / jdb through `localhost:5005`) fails for me with:

[code]

Also see [this StackOverflow answer](https://stackoverflow.com/a/60090750).

**Environment (please co

[2020-03-16 16:20] sdaschner commented on #7889
The proposed PR should work for both pre and post JDK 9 (quickly tested with 8 and 13) and has the same effect like before (connections from every host is allowed).

[2020-03-16 16:21] geoand commented on #7887
A super naive test like what I described worked for me.

[2020-03-16 16:23] Ladicek commented on #7887
In that case, I should probably extend the reproducer to include some of the database stuff. Tomorrow, hopefully :-)

[2020-03-16 16:34] Ladicek commented on #6832
I just found that I'm hitting this bug as well. My use case for using multiple modules is that I want to build the application for multiple databases, and have each database-specific build produced by a separate Maven module that imports a common `app` dependency and adds just the JDBC driver.

[2020-03-16 16:44] geoand commented on #7889
Thanks for reporting!

I am pretty sure we had a similar report a while back but I can't seem to find it now

[2020-03-16 17:46] aloubyansky commented on #7887
@geoand `locationOfAbstractClass` is each super class in the hierarchy?

[2020-03-16 18:02] geoand commented on #7887
@aloubyansky exactly

[2020-03-16 20:38] nonconceptual commented on #7172
All, I looked at the pull request and it wasn't clear to me how the max frame size would be configured by a user? It appears to me that we still need to add a new config param?

[2020-03-16 20:43] tobiasstadler opened #7893 "Metrics and Health port"
**Description**
Please add support for serving /metrics (and /health) and the application resources on different ports. E.g. /metrics is available on localhost:9000/metrics while simultaneously  the application is available on localhost:8080/.

**Implementation ideas**

[2020-03-16 21:00] stuartwdouglas commented on #7172
It does add a configuration parameter: https://github.com/stuartwdouglas/quarkus/commit/3da8342cea593cab2df130ed33c414f568fc9f21#diff-6f1cae14e352fc29f6a6ee30d87a2b5bR16

[2020-03-16 21:14] Postremus opened #7895 "Mongo clients should be initialized eagerly"
**Describe the bug**
Currently the mongo clients are flagged as @ApplicaitonScoped, which means they are wrapped by a proxy making them initialized on first use.

This is annoying as

* we don't respect the configuration of pre-filling the pool on boot
* we can't validate the connection properties, deferring any failure
* it's an overhead

relates to #4507

[2020-03-16 21:21] geoand commented on #7893
@tobiasstadler can you please expand on why you think this is necessary?

[2020-03-16 21:22] stuartwdouglas commented on #7887
This is a problem with workspace discovery, it is resolving the test jar to the target/classes dir rather than target/test-classes.

[2020-03-16 21:30] geoand commented on #7880
@stuartwdouglas Given that the problem described here and in #7784 is only a `QuarkusTest` problem, I think we should implement [this](https://github.com/quarkusio/quarkus/issues/7784#issuecomment-597938994) comment you made.

Wouldn't we basically just make the change in `QuarkusTestExtension` to first run augmentation, launch the `TestResourceManager` using the runtime CL and leave all other tes

[2020-03-16 21:33] stuartwdouglas commented on #7887
So this works fine if you use <type>test-jar</type> as per the maven docs: https://maven.apache.org/plugins/maven-jar-plugin/examples/create-test-jar.html

[2020-03-16 22:19] stuartwdouglas commented on #7880
yea, I think this is the best approach. QuarkusUnitTest is mostly for internal stuff, if it becomes a problem we can look at it later.

[2020-03-16 22:36] gastaldi commented on #7893
My guess is that exposing `/metrics` and `/health` in a public port would not be interesting in some cases.  I remember reading a discussion about this some time ago in the ML

[2020-03-16 22:42] gastaldi commented on #7893
One easy solution is to add an external HTTP Server acting as a proxy and filter requests to these endpoints

[2020-03-16 23:50] stuartwdouglas commented on #7880
Any chance you could test out https://github.com/quarkusio/quarkus/pull/7897, I am pretty sure it will resolve the issue.

[2020-03-17 01:40] jaikiran commented on #7889
Hello @geoand,

That was in the context of docker build process debugging and it's here https://github.com/quarkusio/quarkus/issues/7256

[2020-03-17 02:00] rinaldodev commented on #6807
@rvansa you are correct, it does work that way. :)
Thanks a lot!

[2020-03-17 06:26] rsvoboda commented on #7678
Windows native-image based binary generates always the same UUID.

I filed an issue in GraalVM tracker - https://github.com/oracle/graal/issues/2265

[2020-03-17 06:29] geoand commented on #7889
Thanks @jaikiran for pointing that out!

[2020-03-17 06:37] lordofthejars opened #7900 "Add support for Vault Unwrap Token"
**Description**

Add support for what is known as Cubbyhole Response Wrapping.

**Implementation ideas**

The idea is just to provide support for the unwrap operation of a wrapped token to authenticate.
So basically you can support the next use case:

1. Create a token with `default` policy
2. Authenticate with Vault using this default token (less privileged token)
3. Unwrap the secret to obtain m

[2020-03-17 06:53] lordofthejars commented on #7900
Needs https://github.com/quarkusio/quarkus/pull/7891 to be merged before continuing with this one to avoid merge conflicts.

[2020-03-17 07:08] masini commented on #7854
Hi guys, this was necessary to test the behaviour of our Ping Federate
wrapper in the context of an external appliance that add some custom
headers and modify some standard headers that we can't modify using
Restassured.

We will disable those test, looking at your code it seems this should solve
the problem.

I really want to tank you for your help to solve our problem, as always
indeed.

Il gior

[2020-03-17 07:11] geoand commented on #7854
This has been fiexed in #7872 and will be part of `1.3.1.Final` (when it is decided to be release that)

[2020-03-17 07:25] Ladicek commented on #7887
I tried adding `<type>test-jar</type>`, but that didn't make a difference.

Checking Stuart's PR now.

[2020-03-17 07:48] gastaldi commented on #7887
AFAIK @stuartwdouglas's PR looks for  artifacts with the `test` classifier, but I might have read that wrong

[2020-03-17 08:08] geoand commented on #7885
@andreas-eberle can you please give the complete command you used to start RabbitMQ and how you are obtaining the username / password that you then use from the Quarkus application?

I naive attempt of mine to run your reproducer failed...

[2020-03-17 08:10] tomekl007 commented on #7876
How can I assign this task to myself?

[2020-03-17 08:19] loicmathieu commented on #7895
/cc @cescoffier

[2020-03-17 08:20] marcelhanser commented on #7675
@aloubyansky. Sounds quite promising :) Do you already know the planned milestone for the fix? We would really like to switch to quarkus, but this one is blocking us to do so.

[2020-03-17 08:31] jmartisk commented on #7893
This would be quite complicated to do I think, it would need a new vert.x `HttpServer`, and the Undertow equivalent, probably with completely separate configuration, HTTPS support, security settings, etc.
So I'm not sure if it's really worth it. If access to the metrics/health endpoints needs to be controlled, that can be done by applying security settings on those paths, or, as @gastaldi said, us

[2020-03-17 08:44] #7844 closed

[2020-03-17 08:46] aloubyansky commented on #7675
If it's not 1.3.1.Final it should be 1.4.0.Final. There are a few other Gradle issues that I want to address. This one is definitely one of the most critical ones.

[2020-03-17 09:20] lordofthejars commented on #7900
@vsevel I think it is really interesting to use case to cover, probably not if you deploy to Kubernetes as we already have support for Kubernetes auth, but for other cases.

[2020-03-17 09:33] #7732 closed

[2020-03-17 09:49] lordofthejars opened #7904 "Add support for Vault TLS Certificates Auth Method"
**Description**

Add support for Vault TLS Certificates Auth Method

**Implementation ideas**

Implements the Vault TLS CA Method API so users can use it as an authentication method to Vault.

https://www.vaultproject.io/docs/auth/cert/

[2020-03-17 09:56] gsmet commented on #7811
@cescoffier

[2020-03-17 09:59] cescoffier commented on #7885
The AMQP connector is for AMQP 1.0, not for RabbitMQ. You would need to enable the AMQP 1.0 in RabbitMQ.

[2020-03-17 10:00] cescoffier commented on #7811
I understand the drawback. Unfortunately, it would require to change the spec.

[2020-03-17 10:08] zeljkot commented on #7811
@cescoffier It is not very old anyway :) and it introduced a change incompatible to original SmallRye implementation.

[2020-03-17 10:10] geoand commented on #7904
@lordofthejars can you please add more information to the description? I personally don't understand what the ticket is about by reading it.

Thanks!

[2020-03-17 10:12] vikas326 commented on #7635
@gsmet They both have same version. Then also it is showing this error

[2020-03-17 10:15] geoand commented on #7893
Given the work this probably needs (not to mention the additional runtime overhead), I would also really like to know why this approach is used in practice

[2020-03-17 10:17] vikas326 commented on #7635
@SR-Lut3t1um
I have added yaml support in the pom.xml file of the project. And affter that I made a application.yaml file and copy pasted the data to it from the application-dev.yaml file(i.e. used by jhipster ). Apart from that I have also added the quarkus properties in that file in the yaml file format. Then also it is showing the same error. After that I removed the application.properties file

[2020-03-17 10:23] zeljkot commented on #7811
On second thought, if key concept is not used on other platforms then it does not make sense to put it into a generic interface. Maybe you can do the same as with KafkaRecord: provide KafkaEmmiter or KeyPayloadEmmiter.

BTW KafkaRecord is a kind of message, so I did not like change from KafkaMessage, too :)

[2020-03-17 10:26] geoand commented on #7885
Is there a way to enable that support when running the docker image?

[2020-03-17 10:31] FroMage commented on #7883
Actually, the spec doesn't talk about built-ins when it discusses `ExceptionMapper`, and the implementation seems to only favour non-built-ins when comparing exceptions by class.

So even if the priority would favour a user mapper for `NotFoundException` it would not favour one for `Exception` which is more generic.

Now, do note that the `NotFoundExceptionMapper` only applies to the DEV mode.

We

[2020-03-17 10:37] asoldano commented on #7883
@ronsigal , do you have any thoughts here?

[2020-03-17 10:37] vikas326 commented on #7635
@SR-Lut3t1um
application.yaml file

#Quarkus properties
"%dev":
  quarkus:
    datasource:
      driver: org.postgresql.Driver
      url: jdbc:postgresql://localhost:5432/helloworld
      username: postgres
      password: postgres
    application:
      name: helloworld

quarkus:
  datasource:
    driver: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/helloworld
    username: pos

[2020-03-17 10:38] geoand commented on #7440
I would love to know what exactly are people looking for when asking for `jooq` support in Quarkus.

[2020-03-17 10:39] geoand commented on #7269
Hasn't this one been implemented already?

[2020-03-17 10:44] FroMage commented on #7879
Huh, are you really sure? Can you give me a reproducer?

We already have this test:

[code]

Which happens to show that the `Person` fields are properly serialised using Jackson, by using their getters.

[2020-03-17 10:45] vikas326 commented on #7635
@SR-Lut3t1um
Here is the content of my application.yaml file. I have uploaded it as .txt format because yaml file doesn't supported here.

[application.txt](https://github.com/quarkusio/quarkus/files/4342986/application.txt)

[2020-03-17 10:54] andreas-eberle commented on #7885
@geoand @cescoffier: Sorry, I forgot to include them RabbitMQ with AMQP 1.0 plugin enabled. I'll update the reproduce soon.

[2020-03-17 10:56] lordofthejars commented on #7904
@geoand Sorry you are totally right.

[2020-03-17 11:00] FroMage commented on #7884
Is it really that common to check for existence of a record without loading it? I've never had to do that myself.

[2020-03-17 11:01] #7880 closed

[2020-03-17 11:01] andreas-eberle commented on #7885
@geoand @cescoffier: I updated the reproducer zip file. I added a docker-compose file starting the container and adding the AMQP 1.0 plugin for RabbitMQ. The user and password is now also already set in the application.properties. So you should only need to start the compose file and run the code.

[2020-03-17 11:02] lkrzyzanek commented on #7880
Yep #7897 fixes this issue. Thank you guys!

[2020-03-17 11:05] SR-Lut3t1um commented on #7635
What version of quarkus are you using? @vikas326

[2020-03-17 11:10] jmartisk opened #7907 "Wrong display name of gc.total base metric"
https://github.com/quarkusio/quarkus/blob/1.3.0.Final/extensions/smallrye-metrics/runtime/src/main/java/io/quarkus/smallrye/metrics/runtime/SmallRyeMetricsRecorder.java#L232
Should be "Garbage Collection Count", not "Garbage Collection Time"

[2020-03-17 11:15] mklueh commented on #7878
@maxandersen thanks for clearifying

[2020-03-17 11:26] Ladicek commented on #7879
I'll create a reproducer, but I'd bet this test that you mention doesn't have `jackson-module-jaxb-annotations` on classpath.

[2020-03-17 11:27] Ladicek commented on #7879
Oh wait, I already created a reproducer, it's linked in the issue description :-) https://github.com/Ladicek/quarkus-test-serialization-issue.git

[2020-03-17 11:34] #7887 closed

[2020-03-17 11:34] cunhazera commented on #7884
@FroMage but isn't it too much to load all fields from db to check if it exists?

[2020-03-17 11:34] geoand commented on #7885
After enabling DEBUG logging in Quarkus I see:

[code]

@cescoffier I have no idea where to start looking, but if you give me some pointers I can give it a shot.

[2020-03-17 11:59] marcelhanser commented on #7675
Very cool! Thank you guys. Another small somehow related question: Will the quarkusDev mode in 1.4.0.Final also listen to source changes in all referenced project dependencies`?

[2020-03-17 12:05] #7888 closed

[2020-03-17 12:11] famod commented on #6297
This is possible in Spring Boot btw and would come in handy for Quarkus as well:
https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-external-config-multi-profile-yaml

[2020-03-17 12:12] gemmellr commented on #7885
If you set environment variable PN_TRACE_FRM=1 for applications (or servers) using proton then you will get AMQP protocol trace output emitted to stdout by proton. (In this case since the application is using proton-j, using PN_TRACE_FRM=true also works).

I expect doing so for both versions as a comparison would show that previously with Quarkus 1.2.1 a sender link was being attached using a 'tar

[2020-03-17 12:14] #7889 closed

[2020-03-17 12:15] geoand commented on #7885
Thank you for the analysis @gemmellr

[2020-03-17 12:28] aloubyansky commented on #7675
@marcelhanser have you tried 1.3.0.Final? I encourage you to give it a try and create issues for something that does not work. Thanks a lot!

[2020-03-17 12:39] ieugen commented on #7440
For one, I would like to do the following flow:

1. Generate code based on database schema
2. Use the generated code in a quarkus project
3. Ability to map data from jooq result to DTO object using `fetch().into()` and the JPA annotations ?! (I think it's the few times Jooq use reflection)
4. Profit ?!

I do believe this is achievable already but I haven't tried it yet since I've just started work

[2020-03-17 12:53] geoand commented on #7440
@ieugen there is a work in progress PR for command line support: https://github.com/quarkusio/quarkus/pull/7681

Perhaps you would like to play around with it and jooq?

I am no expert, but it doesn't seem from your description that there is a whole lot that Quarkus can / needs to do about jooq.

[2020-03-17 12:55] vikas326 commented on #7635
1.2.0.Final    @SR-Lut3t1um

[2020-03-17 13:21] burmanm opened #7910 "Infinispan can't be manually started with Quarkus 1.3.0"
**Describe the bug**
When launching the application that uses Infinispan directly (not through infinispan-embedded), the startup fails to loading metrics:

[code]

This is visible here because of #7907 that causes the displayName to differ from the one that Infinispan loaded, since Infinispan's ```new DefaultCacheManager(is)``` loads its own metrics before Quarkus:

[code]

And there the displayNa

[2020-03-17 13:23] geoand commented on #7910
cc @jmartisk @karesti

[2020-03-17 13:29] jmartisk commented on #7910
This is the Infinispan commit after which it broke: https://github.com/infinispan/infinispan/commit/3dad7afef087aac2b2451678e8b78414c132af00#diff-06d9b67f22d98c28952c53d825f1d4f3R62-R74
Infinispan now starts registering base metrics by itself even though only Quarkus should be doing that. I think that Infinispan needs a new option to turn base metrics off.

[2020-03-17 13:30] geoand commented on #7910
@jmartisk what would be the effect of fixing  #7907 in Quarkus with regards to this issue?

[2020-03-17 13:32] jmartisk commented on #7910
@geoand  I *think* (didn't check) that then the metrics would just be registered twice, and the second registrations would overwrite the first ones, so while that would be unnecessary, in practice it would work correctly

[2020-03-17 13:35] geoand commented on #7910
That sounds a whole lot better than not being able to start the application at all :)

[2020-03-17 13:43] FroMage commented on #7884
Well, sure, but only if you need to check for existence without later using the entity. I've never seen such a use case. All my use-cases check if the object exist and then proceed to use the entity.

[2020-03-17 13:43] FroMage commented on #7879
Oh, you're saying that loading that module changes the behaviour of jackson. Wow.

[2020-03-17 13:45] Ladicek commented on #7879
It's a `ServiceLoader` thing, if I remember correctly.

[2020-03-17 13:47] cunhazera commented on #7884
@FroMage yeah, it makes sense. In my case, I check the record exists. If it does, I throw a custom exception.

[2020-03-17 13:49] jmartisk commented on #7910
Hmm, so in the end, no it actually wouldn't work because there are Gauge metrics, and Gauges can't be re-registered without removing the original Gauge first... In that case I'm getting a different exception
[code]

[2020-03-17 13:50] geoand commented on #7910
OK, so we really need an Infinispan release to fix this issue...

[2020-03-17 13:52] Postremus commented on #7884
@FroMage I also sometimes just want to check for existence, and throw an NotFoundException.

If you want, I can try to implement this feature.

[2020-03-17 13:58] sdaschner commented on #7256
Should be fixed in #7890, also see #7889. Close?

[2020-03-17 14:04] masini commented on #7854
As a workaround you can extends the Wrapper:

public class AuthServletRequest extends HttpServletRequestWrapper {}

and use that for mocking:

HttpServletRequest mockRequest = mock(AuthServletRequest.class);

I don't know why I can't use directly HttpServletRequestWrapper, but with
that I got the same exception that using directly the interface.

Il giorno mar 17 mar 2020 alle ore 08:11 Georgios A

[2020-03-17 14:06] vitor-cardoso-tdx opened #7913 "quarkus-maven-plugin not compatible with maven-tiles"
I am using so far in other non-quarkus projects the plugin https://github.com/repaint-io/maven-tiles
but now using quarkus / quarkus-maven-plugin in dev mode or in integration-tests it fails duo missing dependencies because it's taking considering the tiles injection from maven session lifecycle.

Any clue to make compatible ? Ty

[2020-03-17 14:06] galderz opened #7914 "Error in image generation: com.sun.xml.internal.bind.v2.ContextFactory not found"
Image generation in [`quarkus-platform`](https://github.com/quarkusio/quarkus-platform) tests with graal master fails with:

[code]

Longer output [here](https://gist.github.com/galderz/4f51db8456aa833469e96dccca5679c3).

It appears this might already have been reported (see https://github.com/oracle/graal/issues/2169).

[2020-03-17 14:06] gsmet commented on #7910
@jmartisk so we could unregister the gauges added by Infinispan to add our own? Are we sure ours will always be registered after the ones from Infinispan?

Asking that because I think we need a contingency plan in case we can't get an Infinispan release by the end of the month.

[2020-03-17 14:06] gsmet commented on #7910
Also maybe you should open an Infinispan issue describing the problem?

[2020-03-17 14:07] gsmet commented on #7910
And another option: if Infinispan now has its own metrics, maybe we should just remove the Quarkus one and let Infinispan do what they think is best for them?

[2020-03-17 14:09] MarcBoissonneault commented on #7821
Can we close this issue (at least the fields that I was expecting, has been added as part of #7833).

[2020-03-17 14:14] burmanm commented on #7910
@gsmet That probably won't work, since Infinispan registers the GC, JVM, etc metrics. I don't think Quarkus users without Infinispan want to live without those metrics.

[2020-03-17 14:15] ieugen commented on #7440
Thanks @geoand . I will play around with quarkus and do a POC around https://tackler.e257.fi/ . I'll see how that goes and then try again with Jooq.

[2020-03-17 14:20] FroMage commented on #7884
But if it exists, what does it do?

[2020-03-17 14:22] nderwin commented on #7580
After doing some more investigating, it appears that using an async RestClient call when processing the message is somehow interfering with future message delivery.  When I change it to use synchronous calls, and manually return either a `CompletableFuture.completedStage(Response)` or a `CompletableFuture.failedStage(Throwable)`, then all messages are delivered and processed as expected.

How coul

[2020-03-17 14:41] pavolloffay commented on #5471
I am not sure, when I tried I need the changes in the spec first. Maybe somebody with a better understanding of Smallrye (https://github.com/smallrye/smallrye-reactive-messaging/issues/214) could give it a try.

[2020-03-17 14:42] FroMage commented on #7879
So I can't reproduce it in my test just by adding your import. Even in your project, serialisation is only broken when sending from the client to the server. It works from the server to the client.

So it's a bit more mysterious than that.

[2020-03-17 15:02] masini opened #7916 "Error running @ParameterizedTest in Quarkus 1.3.0.Final"
**Describe the bug**
Simple method in a `@QuarkusTest` which is also a `@ParameterizedTest` doesn't work.

To reproduce:

[code]

if you try to run it you got:

`java.lang.RuntimeException: Could not find method public void net.lucamasini.testcase.ExampleResourceTest.testHelloEndpoint(net.lucamasini.testcase.ExampleResourceTest$MyEnum) on test class`

one for every enum value.

**Expected behavior

[2020-03-17 15:09] gsmet commented on #7910
Argh.

/cc @karesti @wburns
/cc @Sanne too while I'm at it

[2020-03-17 15:09] gastaldi commented on #7916
It looks like it was fixed in https://github.com/quarkusio/quarkus/pull/7881, can you give it a try with the latest master?

[2020-03-17 15:14] FroMage commented on #7879
OK, so the Jackson code in question does see the `text` property, does see that the field is ignored, and the accessors are not. Then it gets into:

[code]

And because we're not explicitely opting in, it will not consider the field.

Now let's see why the server doesn't behave like this.

[2020-03-17 15:18] FroMage commented on #7879
`ignore=false` on the server. WTF.

[2020-03-17 15:20] geoand commented on #7916
It seems like  #7881 doesn't fix this issue. I'll take a look

[2020-03-17 15:23] anistor commented on #7910
This is something wrong that we noticed also and is already fixed in the newly released 10.1.5.Final

[2020-03-17 15:24] anistor commented on #7910
Infinispan embedded not longer does that in 10.1.5.final. Only the infinispan server continues to register those base metrics.

[2020-03-17 15:26] FroMage commented on #7879
On the server it only checks for `@JsonIgnore` and `@Transient`. On the client it first checks for `@XmlTransient`, that's why the difference.

[2020-03-17 15:28] #7907 closed

[2020-03-17 15:38] ronsigal commented on #7883
Hi @Ladicek,

I'm not following the premise here. You said you created "my own NotFoundExceptionMapper" but that it is an "implementation of ExceptionMapper<Exception>". So the JAX-RS spec says your ExceptionMapper would not got used:

[code]

Why not create an ExceptionMapper<NotFoundExceptionMapper> and annotate it with a @Priority higher than the one in Quarkus?

What am I missing?

-Ron

[2020-03-17 15:38] geoand commented on #7916
I am pretty sure I know what the problem is, but I need to do a few more tests first

[2020-03-17 15:39] wburns commented on #7910
@gsmet I can try to get a PR with the updated version, but have to get my quarkus env working again :) Should have one soon hopefully, and assuming it passes tests.

[2020-03-17 15:46] #5267 closed

[2020-03-17 15:48] andreas-eberle commented on #7885
So what can be done to make it work like in 1.2.1.Final again? Can you add an option to not use the anonymous sender?

[2020-03-17 15:54] FroMage commented on #7883
Quarkus has one for `NotFoundException` (low prio, but nearest superclass), the user has one for `Exception` (high prio, but furthest superclass).

I guess the user would like his mapper to override the Quarkus one.

[2020-03-17 15:55] Ladicek commented on #7883
@ronsigal What you're suggesting is the workaround I was able to identify and use. (Fortunately, the Quarkus built-in exception mappers are `@Priority(Priorities.USER + 1)`, so I don't have to add `@Priority` myself.)

What I'd like to happen is if I define my own exception mapper (for a more general class), the Quarkus built-in exception mappers are not used. What @FroMage says, basically :-)

[2020-03-17 16:02] sherl0cks opened #7919 "RESTEasy JAX-RS Client Issues in Native Mode"
**Describe the bug**
I'm using `quarkus-rest-client` and `quarkus-jackson` as described https://quarkus.io/guides/rest-client and https://quarkus.io/guides/kotlin#kotlin-and-jackson to create a JAX-RS REST client. This is a Kotlin app, built as native, and deployed to AWS Lambda.

The app build fine as a native image and deploys fine, but when the app boots, it crashes with the below stack trace.

[2020-03-17 16:12] FroMage commented on #7879
It's possible that the original test was for jaxb, and not jackson. I have to test this sort of stuff for jsonb, jaxb and jackson to make sure I get it right for all three.

[2020-03-17 16:17] geoand commented on #7916
I have a hack in #7920. I absolutely don't like it, but I don't see any other way around...

[2020-03-17 16:37] wburns commented on #7910
I created https://github.com/quarkusio/quarkus/pull/7921 which fixes the client, but I just ran embedded and need to update some xml test files it appears.

[2020-03-17 17:19] cunhazera commented on #583
Will this feature be implemented?

[2020-03-17 17:29] jasmdk commented on #5764
I have a similar issue when accepting AdmissionReview in Rest operation.
It seems like it interprets the some of the properties to be of a wrong type
With quarkus-resteasy-jackson:
[code]
With quarkus-resteasy-jsonb:
[code]

[2020-03-17 17:30] ronsigal commented on #7883
@Ladice, OK, I understand what you want. Given that it contradicts the JAX-RS spec, I don't see it happening without something ... extra. Here's something that could be relevant, although it's not implemented in RESTEasy 4.x yet.

In RESTEasy 3.11.0.Final (for WF 19) I implemented a "resteasy.disable.providers" parameter, which lets you do something like
[code]
which would disable those two provid

[2020-03-17 18:35] #7848 closed

[2020-03-17 18:44] geoand commented on #7919
Would it be possible to test with Quarkus 1.3.0.Final (you will need to use quarkus-bom instead of quarkus-universe-bom)?

[2020-03-17 18:45] #7843 closed

[2020-03-17 18:45] #7845 closed

[2020-03-17 18:46] nderwin commented on #7580
A further observation - when putting the synchronous Rest Client calls under a load of 1000 messages in my production code, it still causes an interruption in delivery (and potential warnings about blocking the Vert.x eventloop thread).

[2020-03-17 18:51] sherl0cks commented on #7919
Sure - didn't realize it had been released @geoand. We've been waiting to upgrade to 1.3.0.Final. Resolving the dependencies now and will get back to you shortly.

[2020-03-17 18:55] sherl0cks commented on #7919
@geoand has `io.quarkus:quarkus-universe-bom:1.3.0.Final` been released yet? I cannot resolve it. I can resolve  `io.quarkus:quarkus-bom:1.3.0.Final`

[2020-03-17 19:04] geoand commented on #7919
Yeah, for now you can only use the non-universe BOM.

The universe BOM will be released in a couple days

[2020-03-17 19:08] sherl0cks commented on #7919
@geoand We're their changes to `@QuarkusTest`? It appears that constructor injection for JUnit tests does not work anymore. I'm going to have to rewrite a fair amount to code in order to verify this in 1.3.0.Final if this feature no longer works which will delay my feedback.

[2020-03-17 19:13] geoand commented on #7919
Yes there were major changes to the test infrastructure.

What kind of issue are you seeing with the constructor?
Asking because there is a good chance it has been fixed already. If it's not, we should definitely fix it before 1.3.1.Final

[2020-03-17 19:14] sherl0cks commented on #7919
[code]

Leads to

[code]

[2020-03-17 19:16] geoand commented on #7919
That has already been fixed and will be part of the 1.3.1.Final release.

In the meantime if you want to test, you will probably have to build from master

[2020-03-17 19:17] sherl0cks commented on #7919
😭 was reeeallly hoping we could move to 1.3.0.Final. When do you expect 1.3.1.Final?

I'll see if I can refactor the code in the meantime.

[2020-03-17 19:21] geoand commented on #7919
If all goes well, it should be out around that week of the month

[2020-03-17 19:32] sherl0cks commented on #7919
@geoand Sounds good. Will keep an eye out.

What version of graal should I be building against? Is there a migration guide or docs out there on 1.3.0.Final?

[2020-03-17 19:34] geoand commented on #7919
19.3.1 is the supported GraalVM version.

We do have a migration guide in the wiki of the repo (sorry, but I'm on a phone and I don't have the link)

[2020-03-17 19:37] gsmet commented on #7919
Here it is: https://github.com/quarkusio/quarkus/wiki/Migration-Guide-1.3

[2020-03-17 20:03] gwenneg commented on #7269
@geoand: The double GraalVM support is done. We should probably close this issue and deal with @iwangxiaodong's problem in a new one.

[2020-03-17 20:05] #7269 closed

[2020-03-17 20:18] sherl0cks commented on #7919
@geoand Managed to push through dependency hell faster than I thought. The issue as described above persists in 1.3.0.Final, but the work around with `@RegisterForReflection` on `java.lang.String` works as well.

The issue around Kotlin Builtins is also present still, though it's a new stack trace since quarkus 1.3.0 bumps the kotlin version. I'll try to get you a reproducer on that. May take some

[2020-03-17 20:20] geoand commented on #7919
Thanks a lot! Looking forward to the reproducer

[2020-03-17 20:48] smil2k opened #7923 "NullPointerException with HibernateValidator @Valid"
**Describe the bug**

Validator annotations can be placed to various places. Example this is probably not effective:

public class StringBasedIdentity implements Serializable, Comparable<StringBasedIdentity> {

    private static final long serialVersionUID = 1L;

    @NotNull
    @NotEmpty
    private final String name;

...

}

**Expected behavior**
 Quarkus processor should be able to pinpoint

[2020-03-17 21:14] sberyozkin commented on #7900
@lordofthejars Hi, why would one prefer this method, from a practical point of view, to the current authentication non-kubernetes default method or compared to a pretty strong TLS Cert method ?

[2020-03-17 21:15] gsmet commented on #7923
Could you provide a reproducer? thanks.

[2020-03-17 21:19] GregJohnStewart commented on #7156
Trying with the quarkusbuild, I didn't see any change :(

[2020-03-17 21:24] sberyozkin commented on #7904
@lordofthejars It seems this method requires the application manually push the trusted certificates, or have I misread the Vault docs :-) ?

[2020-03-17 21:24] ekarlso commented on #6271
@rafaelsousa are you working on this?

[2020-03-17 22:46] bchmielewski commented on #5829
@MrShish try change dependencies:
[code]
and
`quarkus.oidc.auth-server-url=https://YOUR_APP.auth0.com`
without slash in the end.

[2020-03-18 03:28] rafaelsousa commented on #6271
@ekarlso, I am starting to take a look, but I confess I am still a little lost.

[2020-03-18 04:41] stuartwdouglas commented on #6238
I don't think that the build time only aspect of this is an issue, as we already have the concept of build time only config.

[2020-03-18 04:58] stuartwdouglas commented on #6631
I don't see this, can you test with 1.3.0.Final?

[2020-03-18 06:22] tobiasstadler commented on #7893
yes, that is my intent.

Of course, I could do that with  a HTTP proxy, but from an user/operator perspective it is easier to "just" set some config values.

[2020-03-18 07:04] jmartisk commented on #7910
I ran some experiments with #7921 included and I no longer can reproduce the problem. Perhaps @burmanm could you check it too and then we can close this issue?

[2020-03-18 07:05] dufoli opened #7928 "Document tool"
I just found in code that there is an agent to create a list of reflection class. Cxf was a nightmare for that. So I think it can be very useful to document it and talk about it in writing extension guide.

quarkus.debug.reflection

https://github.com/quarkusio/quarkus/blob/master/core/deployment/src/main/java/io/quarkus/deployment/steps/ReflectionDiagnosticProcessor.java

https://github.com/quark

[2020-03-18 07:09] lordofthejars commented on #7900
Well with none Kubernetes you are setting a token in the code, so anyone could steal the token and has access to everything. With unwrap, you are providing a single-use short life token, then you use this wrapped token to unwrap another token which has the real access to secrets.

Then if someone steals this token since it is a single-use token when the real app (legitime) tries to use it then it

[2020-03-18 07:27] geoand commented on #6238
I also like this idea a lot, but I my concern is summed up very well by [this](https://github.com/quarkusio/quarkus/issues/6238#issuecomment-566943990) comment from @mkouba

[2020-03-18 07:51] lordofthejars commented on #7904
@sberyozkin Yes you need to do that, you provide the certificates as a proof to authenticate.

[2020-03-18 08:08] geoand commented on #7928
Very good idea @dufoli!

Would you like to contribute this section?

[2020-03-18 08:10] geoand commented on #7923
Hi,

Would you be able to see if `1.3.0.Final` (you'll have to switch to `quarkus-bom` instead of `quarkus-universe-bom` unless you test tomorrow when the latter should also be available) exhibits the same behavior?

[2020-03-18 08:42] #7916 closed

[2020-03-18 08:50] mkouba commented on #7156
@GregJohnStewart what the exact gradle command I should use to reproduce the problem?

I've tried `./gradlew build` and the result is `BUILD SUCCESSFUL in 45s` (I had to comment out `TimeParserTest` which probably contains some locale-specific assertions and `UserEntityTest`). `./gradlew :WebServer:Server:quarkusdev` seems to work fine as well. I've tested both java8 and java11.

[2020-03-18 08:59] dufoli commented on #7928
@geoand sure... when I found time for it.

[2020-03-18 09:05] geoand commented on #7928
Thanks!

[2020-03-18 09:19] mkouba commented on #7771
@Maldivia FYI https://github.com/quarkusio/quarkus/pull/7930

[2020-03-18 09:45] Sanne commented on #7910
I'm confused about the premise:

is this a supported configuration? Not as far as I know: one should either use the infinispan-embedded extension, or use the server. Incidentally, the infinispan-embedded extension was created by wburns exclusively to make Infinispan Server experiments with Quarkus.

Could you tell us more about your use case please?

[2020-03-18 09:49] smil2k commented on #7923
Hi,

Strange it seems that I'm no longer able to reproduce it.
I'll reopen the ticket if comes back.

I'm having a multi project setup with jandex on all dependencies.
I had to remove some @Valid on method parameters.

Maybe I hit this remark:
```// FIXME this won't work in the case of synthetic parameters```

Cheers,

Tamas

[2020-03-18 09:55] manovotn opened #7931 "Interceptor resolution with multiple bindings is not done accordingly to the specification"
Given an interceptor with two bindings and a bean with only one of them, ArC currently triggers the interceptor for methods on that bean. This is not what the specification expects, it should only trigger if bean has both bindings.

[2020-03-18 10:01] gsmet commented on #7923
You shouldn't have to do that.

So, if you do, please open issues with reproducer and I'll have a look.

Thanks!

[2020-03-18 10:03] geoand commented on #7923
I think we really need a reproducer, because looking at the stacktrace, there should never be NPE at that point.
So perhaps there is some corner case we haven't accounted for and which your reproducer would uncover :)

[2020-03-18 10:04] gsmet commented on #7910
@Sanne I think he means he uses the Infinispan client extension and not the embedded one.

[2020-03-18 10:06] smil2k commented on #7923
I tried to create one, but I failed. Maybe if I'm hitting it again, I'll reopen this case.

[2020-03-18 10:13] Sanne commented on #7910
That doesn't seem to be the case.

[2020-03-18 10:13] heike2718 opened #7932 "Running quarkus:dev in Eclipse fails after update to quarkus-1.3.0-final"
**Describe the bug**
After updating from quarkus-1.2.0-Final to quarkus-1.3.0-Final it is not possible to run a quarkus project inside eclipse with m2e.

**Expected behavior**
Running quarkus project in eclipse with maven run configuration "clean quarkus:dev" succeeds

**Actual behavior**
I have commited a reproducer with detailed description to github: [heike2718/quarkus-eclipse-reproducer](https

[2020-03-18 10:21] anistor commented on #7910
The ispn client does not expose MP metrics yet. That can't be the issue.

[2020-03-18 10:44] geoand commented on #7932
I'm not an Eclipse user myself so I can't really test this in Eclipse.
FWIW, I does work from the command line.

Perhaps an Eclipse user can have a look? @mkouba or @gsmet maybe?

[2020-03-18 10:50] burmanm commented on #7910
@Sanne We create our own EmbeddedCacheManager in a different maven artifact than the one that runs Quarkus (with some logic which defines which configuration file is loaded).

This module is then embedded to our Quarkus service, which doesn't know about the Infinispan at all - what it sees is the interfaces to this module which may or may not use Infinispan (offtopic: and might indeed use a mixtur

[2020-03-18 11:28] loicmathieu commented on #7931
@manovotn are you sure because the following reference documentation on Weld say it's correct: https://docs.jboss.org/weld/reference/1.0.0/en-US/html/interceptors.html#d0e3567

It clearly say that if an interceptor has multiple annotation bindings using any of the annotation will triggers it.

[2020-03-18 11:30] mkouba commented on #7932
@heike2718 I've just tested your reproducer with Eclipse Version: 2019-12 (4.14.0), Build id: 20191212-1212, m2e 1.15.0.20200310-1832 and it runs fine. The only thing I've noticed is that you're running the goals `clean quarkus:dev` but it should be [`compile quarkus:dev`](https://quarkus.io/guides/maven-tooling#development-mode).

[2020-03-18 11:40] manovotn commented on #7931
@loicmathieu yes I am sure.

That doc is pretty old (Weld 1) BTW, Weld 3 has the docs here - https://docs.jboss.org/weld/reference/latest/en-US/html_single/#_multiple_interceptor_binding_annotations
However, most of this is written in interceptor spec doc, which seems to be [broken now](https://github.com/eclipse-ee4j/interceptor-api/issues/65). CDI only adds few bits on top of it.

And looking at

[2020-03-18 11:41] gsmet commented on #7932
You shouldn't need `compile` with the latest versions. It's done automatically.

[2020-03-18 11:45] mkouba commented on #7932
In that case, we should probably update the docs.

Anyway, if this is not the problem then I've run out of ideas...

[2020-03-18 11:55] loicmathieu commented on #7931
Oh my bad !

I read too quickly the documentation and as I saw something different I read it ... the way I see it :)

[2020-03-18 11:57] IZharov opened #7934 "Gradle quarkusDev"
Hello,
I have problems launching quarkus.
I am using Kotlin 1.3.61, Java 11, quarkus 1.3.0.Final.
My build.gradle:

[code]

[code]

I face a problem that when I run through a Gradle quarkusDev, when I contact http://localhost:8080/hello return  404 not found, but if I change the request during work, it will work out, so with each request. Also, if a class with a request uses another class and chan

[2020-03-18 12:29] geoand commented on #7934
This is definitely a bug

[2020-03-18 13:02] burmanm commented on #7910
@jmartisk Yep, works with the Quarkus snapshot after #7921

[2020-03-18 13:06] GregJohnStewart commented on #7156
It's `test` that fails. Yes it seems that it now works in dev, but not test

[2020-03-18 13:15] mkouba commented on #7156
Hm, I've run out of ideas: `./gradlew :WebServer:Server:test` => `BUILD SUCCESSFUL in 41s`.

[2020-03-18 13:25] glefloch commented on #1120
@gsmet, I would to start contributing to Quarkus. Is a fix for this issue still needed ?

[2020-03-18 13:27] #7931 closed

[2020-03-18 13:46] SchulteMarkus opened #7936 "[jdbc-mysql extension] MySQL high availability datasource health check not supported in native Quarkus"
I am using the jdbc-mysql Quarkus extension for connecting my Quarkus application to a MySQL cluster. My datatsource URL is like:

    jdbc:mysql:replication://host/db

As you can see, I am using the _Connector/J_ feature ```replication``` as described on https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-master-slave-replication-connection.html

While this works fine running Quarkus running

[2020-03-18 13:47] GregJohnStewart commented on #7156
You might need to uncomment the template code in `LifecycleBean.java`

[2020-03-18 13:48] IZharov commented on #7934
@geoand
Can you tell us which side is the error? Kotlin, gradle plugin quarkus or at the quarkus itself?
I tried 1.3.0.Final, 1.2.1.Final, 1.1.1Final versions

[2020-03-18 13:51] geoand commented on #7934
Most likely in the interation in the Quarkus Gradle plugin and what needs to be done for Kotlin

[2020-03-18 13:55] geoand commented on #7936
cc @Sanne

[2020-03-18 13:58] IZharov commented on #7934
@geoand Thanks

[2020-03-18 14:04] gsmet commented on #7156
@GregJohnStewart can you create a branch with what's failing for you? This way, we would have something to reproduce it.

Thanks!

[2020-03-18 14:07] mkouba opened #7938 "ArC - support static observer methods"
_"An observer method may be either static or non-static"_ [10.4. Observer methods](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#observer_methods)

[2020-03-18 14:21] #7875 closed

[2020-03-18 14:22] GregJohnStewart commented on #7156
I was just thinking the same thing... https://github.com/GregJohnStewart/task-timekeeper/tree/webserver-work-template

[2020-03-18 14:24] SR-Lut3t1um opened #7939 "Create/Start Databases in DevMode"
**Description**
Create/Start Databases in DevMode

**Implementation ideas**
On start of the devmode read the application.properties file and automatically start/create databases in docker if not running on the specified port, Maybe a configuration line to toggle this behavior would be useful.

[2020-03-18 14:32] Sanne commented on #7910
@burmanm you're bringing up some interesting points, we should probably write up some more about how we expect such designs to evolve; but I won't presume to write any general recommendations yet as many of these are novel ideas: for proper guidance to emerge we'll need more feedback like these and see what works best.

To put things into perspective: while this specific problem might have been so

[2020-03-18 14:36] geoand commented on #7934
@IZharov would you be able to provide a reproducer for this problem?

[2020-03-18 15:06] heike2718 commented on #7932
@mkouba

Thanks a lot for your reply.

Now I tried the following:

I updated eclipse to 2020-03 (eclipse-jee Version: 2020-03 M3 (4.15.0M3)
Build id: 20200227-1435) which has installed m2e version 1.15.0.20200226-2003.

I removed my local maven repository.

I switched to quarkus-1.2.0-Final and ran quarkus:dev from inside eclipse which works fine.

I switched to quarkus-1.3.0-Final whitch crashes

[2020-03-18 15:10] #7821 closed

[2020-03-18 15:11] geoand commented on #7939
We've actually discussed some similar.

cc @maxandersen @stuartwdouglas

[2020-03-18 16:12] heike2718 commented on #7932
@aloubyansky

When I debugged the maven run in eclipse I noticed changes in the BootstrapAppModelResolver. Perhaps there went something wrong when fixing [Issue 7459](https://github.com/quarkusio/quarkus/pull/7459) or [Issue 7697](https://github.com/quarkusio/quarkus/pull/7697)

since the DefaultArtifactResolver does find all dependencies in local repo but when bootsraping tries to load it from re

[2020-03-18 17:15] gastaldi commented on #6545
Fixed in 1.3.0.Final

[2020-03-18 17:15] #6545 closed

[2020-03-18 17:50] sumitpaulde opened #7942 "Quarkus RESTEasy default dependency"
**Problem Description**
I am trying to develop one microservice which will upload file to the Amazon S3 cloud. As Quarkus uses RESTEasy as default so I am unable to use MultipartFile provided by the org.springboot.web.multipart.MultipartFile. Then I have decided to use RESTEasy but after going through this `https://stackoverflow.com/questions/26333298/multipartform-how-to-get-the-original-file-nam

[2020-03-18 17:55] IZharov commented on #7934
@geoand  https://github.com/IZharov/test-project

[2020-03-18 17:59] geoand commented on #7934
Thanks

[2020-03-18 18:09] sberyozkin commented on #7904
@lordofthejars Thanks, so I thought it would be done transparently as part of the TLS protocol, posting it manually seems a bit unorthodox ?

[2020-03-18 18:11] sberyozkin commented on #7900
@lordofthejars Makes sense, IMHO can be of interest to have it supported transparently

[2020-03-18 18:16] lordofthejars commented on #7904
well, this is how this authentication method works. I used some years ago, for this reason, I thought about implementing it.

[2020-03-18 18:17] lordofthejars commented on #7900
Yes this is my plan but first I need the health check PR merged to avoid having some merge conflicts and also to reuse some classes there.

[2020-03-18 19:22] survivant commented on #6157
I add the same issue.  Could you add that details in the guide so we don't get stuck with the same problems.

[2020-03-18 19:26] SR-Lut3t1um commented on #7939
This setup routine could also be run when testing the application. This should make creating tests easier.

[2020-03-18 20:31] luis-martinez-herrera commented on #7923
Hello @smil2k  , I have the same problem, project Quarkus parent A with Quarkus submodule B. If I run project B with @Valid there are no problems, but when added as a maven dependency the same error occurs.

![image](https://user-images.githubusercontent.com/5863787/77004305-ddddce80-692c-11ea-868b-4407a6c7dcb8.png)

If I remove all @_Valid_ everything works.

`public Response save(@Valid UserDto

[2020-03-18 20:33] geoand commented on #7923
@luis-martinez-herrera do you perhaps have a reproducer project we could look at?

[2020-03-18 21:22] aloubyansky commented on #7932
Not for multimodule projects, which is not the case here, but just in case.

@heike2718 I will have a look once I'm done with what I'm looking into at the moment.

[2020-03-18 21:24] rsvoboda opened #7945 "S2iProcessor - Error while pumping stream"
While running `mvn clean package -Dquarkus.kubernetes.deploy=true` command to deploy to OpenShift cluster I noticed `[ERROR] Error while pumping stream.`. The build ended successfully, the application deployed and accessible.

After this error message, there were no additional log entries from S2iProcessor class, in the normal run, there are more entries from S2iProcessor class. To me, it looks li

[2020-03-18 21:27] geoand commented on #7945
I wouldn't at all be surprised if this was an network related issue.
I've never seen that kind of failure...
Maybe @iocanel has and knows more?

[2020-03-18 22:27] luis-martinez-herrera commented on #7923
Sorry for the delay: https://github.com/luis-martinez-herrera/quarkusio-7923-reproducer

The error occurs when using an abstract class, in the example it would be **AbstractResource**.

[2020-03-18 22:35] sberyozkin commented on #7900
Hi Alex, @lordofthejars, I'd like to ask for some clarifications, so the current approach in the Vault extension is to acquire a token transparently by the extension (we've agreed with Vincent the user code itself does not do it), once the authentication is done. So I have to admit I'm not really sure how such a token can be stolen, unless it is intercepted, in which case the authentication channe

[2020-03-18 22:42] sberyozkin commented on #7904
@lordofthejars thanks. IMHO, similarly to the wrapped token idea, we should have a message ready, why to use this mechanism, as opposed to the ones already supported, and also explain if needed, why a traditional 2-way TLS/MTLS is not supported with Vault. If you can investigate a bit more it would help us all :-)
Cheers
CC @vsevel

[2020-03-18 23:20] stuartwdouglas commented on #1729
This was fixed by https://github.com/quarkusio/quarkus/commit/83c432703cb923b1707165780b9e06e4ca1c5aa7

[2020-03-18 23:20] #1729 closed

[2020-03-18 23:22] stuartwdouglas commented on #2107
This was fixed by the big security changes.

[2020-03-18 23:22] #2107 closed

[2020-03-19 00:29] stuartwdouglas commented on #2751
@gsmet can this be resolved now?

[2020-03-19 00:48] stuartwdouglas commented on #3138
I this still an issue with 1.3.0? Without a reproducer we can't really tell exactly what the problem is.

[2020-03-19 01:03] stuartwdouglas commented on #3370
This is fixed in 1.3.0. The first test will fail with a bind exception, the rest will be skipped.

[2020-03-19 01:03] #3370 closed

[2020-03-19 01:18] Nxtra opened #7949 "AWS Lambda and Quarkus: java.lang.ClassNotFoundException: io.quarkus.runner.ApplicationImpl at runtime"
**ClassNotFoundException: io.quarkus.runner.ApplicationImpl**

I have specified the `io.quarkus.amazon.lambda.runtime.QuarkusStreamHandler::handleRequest`as handler.
I set the `quarkus.lambda.handler` which refers to my own handler.

I build the project using `gradle 6.1.1`
I use Quarkus version `1.2.1`.

In the `build.gradle` the following dependencies are specified:

[code]
At runtime it returns

[2020-03-19 01:48] stuartwdouglas commented on #3917
This should have been fixed in the class loader change

[2020-03-19 01:48] #3917 closed

[2020-03-19 02:04] stuartwdouglas commented on #4120
There is nothing we can do here, as you are creating the bean yourself. You need to inject the sub resource for CDI to be able to intercept it.

[2020-03-19 02:04] #4120 closed

[2020-03-19 02:05] stuartwdouglas commented on #4414
I think we can call this one fixed now.

[2020-03-19 02:05] #4414 closed

[2020-03-19 02:18] ard333 commented on #4017
I also need custom result mapping in panache, so I don't need to use [Spring Data JPA API](https://github.com/quarkusio/quarkus/issues/6205) :eyes:

[2020-03-19 02:21] ard333 commented on #4017
It will be a great feature, so we don't need to use [Spring Data JPA API](https://github.com/quarkusio/quarkus/issues/6205). :eyes:

[2020-03-19 03:16] #3227 closed

[2020-03-19 04:01] stuartwdouglas commented on #4928
This is fixed now, as we auto compile when running quarkus:dev

[2020-03-19 04:01] #4928 closed

[2020-03-19 04:02] stuartwdouglas commented on #4540
@cescoffier can this be closed?

[2020-03-19 04:10] stuartwdouglas commented on #5083
This should be fixed with the new class loading architecture.

[2020-03-19 04:10] #5083 closed

[2020-03-19 04:12] stuartwdouglas commented on #5259
@FroMage is this still an issue? It sounds like it might have been fixed with the new class loading.

[2020-03-19 04:27] lordofthejars commented on #7900
@sberyozkin what is compromised is not the channel itself (network) but the process of sharing the token (for example suppose you are setting this token manually in your server). Notice that since the token is wrapped initially, the operator who generates the token doesn't know the real token so it adds a layer of security. Of course, maybe this operator is the admin of Vault, then it has not much

[2020-03-19 04:34] lordofthejars commented on #7900
Also and generally speaking in security topic, in my experience (which I am not a super expert) is that there is no the right way to do the things, you just work as an onion, and some methods might work for you but the same method might not work to another project/company. So it is more about providing different choices (which of course they need to have sense) rather than saying this way is good

[2020-03-19 04:50] stuartwdouglas commented on #5494
Restassued reads the value of quarkus.http.root-path, so you don't have to modify it in your tests.

[2020-03-19 04:50] #5494 closed

[2020-03-19 06:01] stuartwdouglas commented on #5732
Did you end up being able to reproduce this?

[2020-03-19 06:53] tlvenn commented on #5732
Hi @stuartwdouglas , probably safe to close, i wasn't able to reproduce this afterwards but it's was weird because it did happen both on my computer and in our staging env.

[2020-03-19 06:53] #5732 closed

[2020-03-19 07:12] geoand commented on #7923
Thank you @luis-martinez-herrera, I'll look into it

[2020-03-19 07:47] cescoffier commented on #4540
Oh yes, that has been fixed a very long time ago...

[2020-03-19 07:48] #4540 closed

[2020-03-19 07:50] #3223 closed

[2020-03-19 07:51] rsvoboda commented on #3370
I tried running tests and running the app but I didn't get bind exception.

On macOS, port occupied by python SimpleHTTPServer
[code]

Using rest-json-quickstart, executing `mvn clean verify -Dquarkus.platform.version=1.3.0.Final`
[code]
SimpleHTTPServer prints these logs
[code]

[2020-03-19 08:12] oztimpower commented on #7949
Hi, can you please try to build a fat jar?  By default Quarkus builds a thin jar.

`./gradlew build --uber-jar
`

Also recommend you upgrade to 1.3.0.Final, and include quarkus-resteasy.

You can remove
`implementation ("io.quarkus:quarkus-amazon-lambda-deployment:${quarkusVersion}")`

If you use **code.quarkus.io** if will generate a build.gradle for you in a sample project.  Mine looks like this

[2020-03-19 08:12] rsvoboda opened #7954 "quarkus.platform.version is not reflected in version printed by .jar application"
`quarkus.platform.version` is not reflected in version printed by .jar application

`quarkus.platform.version` is reflected in test execution where `Quarkus 1.3.0.Final started in 1.253s. Listening on: http://0.0.0.0:8081` is printed,.
.jar application says `rest-json-quickstart 1.0-SNAPSHOT (powered by Quarkus 999-SNAPSHOT) started in 0.792s.` eventhough target/lib doesn't contain any SNAPSHOT ja

[2020-03-19 08:15] oztimpower commented on #7949
FYI, I also have a PR open #7927 for updating the Amazon Lambda extension docs to include Gradle info, and I'll probably update the Maven archetype to auto-generate the Gradle build files in addition to the Maven pom.xml, to help ease usage.

FYI, your GitHub link above generates a 404.

[2020-03-19 08:33] oztimpower commented on #7846
/cc @gsmet

[2020-03-19 08:45] geoand commented on #7923
This looks like some kind of bug in Jandex. I'm in the process of debugging Jandex to try and figure out exactly what the problem is.

[2020-03-19 08:47] oztimpower opened #7955 "CombinedIndexBuildItem to receive ClassInfo on inherited interfaces"
**Description**
For example, per Amazon Lambda extension documentation updates:

**Implementation ideas**

Generated ClassInfo, as part of the CombinedIndexBuildItem, to include all inherited interfaces. It currently only contains directly implemented interfaces.

For example in Amazon Lambda, AmazonLambdaProcesser, the code below looking for a specific interface implementation, would see the inhe

[2020-03-19 08:52] Postremus opened #7956 "Slow startup with liquibase extension"
**Describe the bug**
I added the liquibase extension to my project.
I have not written any big migrations yet, I just wanted to try and start with the extension present.
My startup time is immediatly around 2.5 seconds worse than without liquibase.

**Expected behavior**
No big impact from just having liquibase extension present.
It is not doing any migrations.
I would understand if it took some t

[2020-03-19 08:54] smil2k commented on #7923
Let's reopen the ticket then. Adding Jandex caused the issue at my side as well.

[2020-03-19 08:56] smatijasevic commented on #3626
HI is there any progress on providing quarkus support for http2? I am working on project that requires http2.
If someone has some examples, please share.

[2020-03-19 09:06] geoand commented on #7923
I have opened https://github.com/wildfly/jandex/pull/74 which fixes the issue

[2020-03-19 09:06] morphy76 commented on #3626
+1

[2020-03-19 09:16] gsmet opened #7957 "Upgrade Jandex to 2.1.3.Final"
See https://github.com/wildfly/jandex/pull/74

[2020-03-19 09:19] #3369 closed

[2020-03-19 09:34] geoand commented on #7934
@IZharov unfortunately your reproducer doesn't work.
I can neither start `gradle quarkusDev` (although this is easily fixed by adding
[code]

[2020-03-19 09:35] Dudecake commented on #3626
If it's just the server parts you need, you can make the changes from https://github.com/Dudecake/quarkus/commit/bce3438dccd896c8ffc5cb16b7658cd49dab7493 as long as you don't mind installing Quarkus in a local repository.

I'll see if I can turn it in a PR this week.

[2020-03-19 09:55] FroMage commented on #1120
yes, that'd be great.

[2020-03-19 10:07] #7938 closed

[2020-03-19 10:09] ge0ffrey opened #8331 "H2 database seems to destroy some tables after a while"
How to reproduce:

1. Run "mvn compile quarkus:dev" for `optaplanner-quickstart`
2. Open localhost:8080, everything is fine.
3. Refresh, everything is fine.
4. Wait 30 minutes. Maybe 10 minutes is enough. Refresh, get the error below.

[code]

[2020-03-19 10:29] Ladicek commented on #7883
@ronsigal I can think of several workarounds -- your one is interesting, but still a workaround, from my perspective. I think this is something that needs to be solved between Quarkus and RESTEasy. I understand that from RESTEasy perspective, whatever Quarkus adds is part of the application, but from application developer's perspective, it is not.

[2020-03-19 10:34] Ladicek opened #7958 "NPE in QuarkusTestExtension when test method argument is null"
**Describe the bug**
If I have a `@QuarkusTest` and some of the test method is passed `null` as an argument, `QuarkusTestExtension` throws a NPE. Getting `null` as an argument can happen for various reasons, for example when I use parameterized tests and want to use `null` as one of the parameters.

**Expected behavior**
`null` is a valid argument that test methods can receive

**Actual behavior**

[2020-03-19 10:34] Ladicek commented on #7958
This is easy to fix, I'll submit a PR.

[2020-03-19 10:35] geoand commented on #7958
Thanks @Ladicek!

[2020-03-19 10:47] geoand commented on #7955
I think this request is essentially this issue: https://github.com/wildfly/jandex/issues/65

[2020-03-19 11:03] FroMage commented on #7879
OK, confirmed that this `@XmlTransient` is required by JAXB, but causes Jackson to ignore the property. I now have tests that check JAXB, JSONB and Jackson (with the JAXB module) and can reproduce. Just have to find a way to make all three work at the same time.

[2020-03-19 11:04] gsmet commented on #3626
It should be introduced in 1.4: https://github.com/quarkusio/quarkus/pull/7762 .

Maybe you could test the current snapshots and tell us if it works for you?

Our snasphots are there: https://oss.sonatype.org/content/repositories/snapshots/ .

[2020-03-19 11:04] gsmet commented on #3626
@stuartwdouglas is this an issue we can close?

[2020-03-19 11:06] sberyozkin commented on #7900
Hey @lordofthejars, the the process of losing the token in the process, that in itself makes sense, but can you confirm please that the token which the Vault extension is acquiring may not be dynamically allocated ? If it is generated on the fly, per the authentication session, then there will be no risk.

Right, but Vault has N engines and N auth mechanisms :-) I do agree we need to support the t

[2020-03-19 11:12] rsvoboda commented on #7954
Dev mode says `powered by Quarkus 1.3.0.Final`
`mvn -Dquarkus.platform.version=1.3.0.Final quarkus:dev`

[2020-03-19 11:19] #3626 closed

[2020-03-19 11:24] sberyozkin commented on #7900
@lordofthejars I've read about Vault token concepts and most of it makes sense, I'm just not really sure if a default userpass authentication method can get some token which came out of band. But lets continue the discussion :-)

[2020-03-19 11:24] lordofthejars commented on #7900
The attack is not in the Vault extension only, but it can happen everywhere, in the service, in the host, in the process of deploying, ...

Then with the current approach, no wrapped token, the valid token is set in configuration file, so anyone could get the token with access to that file (or because of an attacker get access to the service, repo, ....)

With wrapped the token you are setting is

[2020-03-19 11:26] #5183 closed

[2020-03-19 11:29] geoand commented on #6799
I assume we can close this?

[2020-03-19 11:31] Ladicek opened #7962 "test Fault Tolerance + Context Propagation integration"
**Description**
Verify that MP Context Propagation works with MP Fault Tolerance `@Asynchronous` methods. I'm thinking testing just CDI contexts for now. E.g. add a `@RequestScoped` bean with some field that is initialized during request processing, but before the `@Async` method is invoked. The `@Async` method would then access the same bean and make the field value part of the result.

[2020-03-19 11:32] gsmet commented on #7955
For now, I would just also get the classes implementing `SkillStreamHandler` and merge them with the others.

Not ideal and we should definitely pursue this on the Jandex side but good enough for this particular case.

[2020-03-19 11:33] lordofthejars commented on #7900
well you can do user password to get access to unwrap the token, I mean that the auth is not token1 and then unwrap token. You can do u/p and unwrap token or kube auth + unwrap token.

The problem with user password is that they are a secret as well so if these secrets are compromised you loose everything. So with these two layers, an attacker might have the u/p but you'll detect when you try to u

[2020-03-19 11:36] Ladicek opened #7963 "test Fault Tolerance in dev mode"
**Description**
I'm thinking changing some parameters on some fault tolerance annotations and verifying that those changes are propagated?

[2020-03-19 11:42] maxandersen commented on #7954
The version here is the quarkus core version.

Platform could be a tons of other things and not necessarily even used/available thus I would say it's correct as is ?

[2020-03-19 11:45] ppalaga opened #7964 "quarkus-jdbc-mysql-deployment missing the deployment BOM"
A PR follows

[2020-03-19 11:45] eiden opened #7965 "Exceptional CompletionStage in HttpAuthenticator#sendChallenge causes requests to hang"
**Expected behavior**
The request should return an error response.

**Actual behavior**
The request hangs.

I have seen some "blocked thread" warnings, but I'm unsure if that's caused by the debugger:

[code]

**Describe the bug**
In `HttpSecurityRecorder#authenticationMechanismHandler`, `authenticator.sendChallenge` is called:
[code]

In `io.quarkus.vertx.http.runtime.security.HttpAuthenticator#s

[2020-03-19 11:46] Sanne commented on #7936
thanks! Haven't tried yet but this should be easy to fix.

[2020-03-19 11:49] patriot1burke commented on #7949
@oztimpower I'm working on removing maven archetype requirement.  Specifically having the extension generate the function.zip, manage.sh, and sam.yaml files.  Will be creating a quickstart too and will eventually deprecate the maven archetype.

[2020-03-19 11:55] rsvoboda commented on #7954
Atm Quarkus version reported by .jar is derived from quarkus plugin version.

It shouldn't be the plugin version but quarkus-core version.

I used `rest-json-quickstart` https://github.com/quarkusio/quarkus-quickstarts/blob/development/rest-json-quickstart/pom.xml#L11 with just quarkus-bom, not platform.
quarkus-bom version == quarkus-core version to me.

the version is specified by `quarkus.platf

[2020-03-19 12:02] smatijasevic commented on #3626
@gsmet version is 1.4.0-SNAPSHOT ?
do I need some extra credentials for that repository?

[2020-03-19 12:02] #7702 closed

[2020-03-19 12:02] #7499 closed

[2020-03-19 12:03] gsmet commented on #3626
Version is `999-SNAPSHOT`. No credentials needed.

[2020-03-19 12:05] Postremus opened #7968 "SLF4J: Class path contains multiple SLF4J bindings."
**Describe the bug**
I get warnings about multiple SLF4J bindings, when I try to use log4j1 with slf4j for application logging.

**Expected behavior**
No warning about multiple log bindings.

**Actual behavior**
I get the following warning. I can just ignore it, but it is scary.
It should probably be investigated.

SLF4j picks the first (I think) binding implementation on the classpath.
Therefore,

[2020-03-19 12:14] oztimpower commented on #7949
Oh

I’ve just added Gradle to the archetype, and literally am typing out the PR.  I quite like the sample project.

[2020-03-19 12:19] Nxtra commented on #7949
I'll definitely checkout the work you did on adding Gradle to the archetype.

If I look at the example I did, I still don't get what was wrong. Is there something missing which is causing it to fail with `java.lang.ClassNotFoundException: io.quarkus.runner.ApplicationImpl`?
[https://github.com/Nxtra/aws-lambda-api-dynamodb-graalvm](https://github.com/Nxtra/aws-lambda-api-dynamodb-graalvm)

[2020-03-19 12:21] mkouba commented on #7156
@GregJohnStewart I've just tried your branch and
`./gradlew :WebServer:Server:test` -> BUILD SUCCESSFUL in 24s.
`./gradlew :WebServer:Server:quarkusdev` ->
[code]

What OS/java version do you use?

[2020-03-19 12:28] SchulteMarkus commented on #7936
:-)

Well, maybe I can place a very similar topic here? Fresh from development, I got in the same setup

[code]

[2020-03-19 12:29] oztimpower commented on #7968
I'm seeing this also, I fiddled around endlessly trying to solve it and couldn't; I thought it was an issue with my dependencies and gave up.

[2020-03-19 12:37] gsmet commented on #7968
Isn't the message clear? You have 2 conflicting SLF4J implementations.

Are you only using Quarkus extensions? If so, we need to fix our dependencies.

Just check what `mvn dependency:tree` says and who is responsible for this dependency.

[2020-03-19 12:38] geoand commented on #7968
I think the question boils down to: `How do I get rid of jboss-logging if I want to use slf4j`

[2020-03-19 12:41] #2923 closed

[2020-03-19 12:42] Postremus commented on #7968
@gsmet Yes, the message is clear, just my explanation isn't. :)

I have as dependencies in my project, quarkus-resteasy, quarkus-liquibase, slf4j, slf4j-log4j12, and log4j.
One implementation comes from slf4j-log4j12.
I guess the other implementation must come from quarkus-resteasy or quarkus-liquibase.

[2020-03-19 12:44] gsmet commented on #7968
I don't think you can get rid of JBoss Logging.

[2020-03-19 12:48] oztimpower commented on #7968
In my case I was using the AWS Java SDK v2, along with AWS Java SDK v1 Lambda, which brought in all the above.

[2020-03-19 13:09] #7958 closed

[2020-03-19 13:10] #4544 closed

[2020-03-19 13:24] burmanm opened #7974 "Smallrye messaging does not allow multiple tests"
**Describe the bug**
Trying to setup an environment, where one test wants to test the main process (and see the last component of the test to send a message to Kafka/queue) and then also adding another test that tests the actual last component.

But it seems I can't have a TestSubscriber in two different test classes targeting the same channel. How do I test both processes in the same module? .dis

[2020-03-19 13:29] oztimpower commented on #7949
HI @Nxtra I've downloaded your project and had a play with it.

It's pretty non-standard relative to Quarkus to say the least.  Cleaned it up a bit, and went back to basics and got a simple version working.

Can I suggest you start from stratch, and follow the Amazon Lambda extension documentation? Generate a templated project with the Maven archetype, combine it with a Gradle templated build from

[2020-03-19 13:36] oztimpower commented on #7949
Oh, the JUnit test is on HEAD (999-SNAPSHOT), however it's simple and looks like below.

[code]

FYI, I changed your dependencies a little and got warnings that your @Inject were private variables.

dependencies {
...

    implementation enforcedPlatform("io.quarkus:quarkus-bom:${quarkusVersion}")
    implementation 'io.quarkus:quarkus-amazon-lambda'
    implementation "io.quarkus:quarkus-test-ama

[2020-03-19 13:47] oztimpower commented on #7949
PR #7927 has the latest documentation for the Amazon Lambda extension. It has Gradle details, JUnit and others that I think will help you a lot.

PR #7971 has the Gradle build added to the archetype generated project.

[2020-03-19 14:08] #7964 closed

[2020-03-19 14:27] manovotn commented on #5825
Looks like this issue got somewhat lost and forgotten, sorry for that.

I am not sure exclusion makes much sense here; it is mainly for when all classes are processed by default (`all` discovery mode). Quarkus deliberately supports only `annotated` discovery mode - only beans with [bean defining annotations (BDA)](https://docs.jboss.org/cdi/spec/2.0/cdi-spec.html#bean_defining_annotations) get pic

[2020-03-19 14:28] Nxtra commented on #7949
Aight, I'll start over by following the new documenation in that branch to see if I can get it to work.
@oztimpower  Yes, I did this project using the Serverless framework but it's okay for me to switch to SAM. I will start from the tutorial with SAM and build up from there.

[2020-03-19 14:30] #7895 closed

[2020-03-19 14:33] Meemaw opened #7979 "Gradle test deployment failure"
**Describe the bug**
When trying to run tests from clean in Gradle, they will fail due to build deployment execution errors. It seems those are related to injection of the `io.quarkus.qute.Template`.

[code]

When tests are run after the `quarkus:dev` command they will pass (I assume `quarkus:dev` command will generate those resources).

**Expected behavior**
Running gradle tests from a clean slat

[2020-03-19 14:37] sberyozkin commented on #7900
@lordofthejars Sure, what I'm asking is what is the origin of this token:
https://github.com/quarkusio/quarkus/blob/master/extensions/vault/runtime/src/main/java/io/quarkus/vault/runtime/VaultAuthManager.java#L46

I'm really not sure what you mean with the token set somewhere in the file... My understanding of the code is that Vault will generate a token when the client auhenticates
Thanks

[2020-03-19 14:41] machi1990 commented on #7936
@Sanne @SchulteMarkus indeed some proxies registration were missing. I have added them here https://github.com/machi1990/quarkus/commit/4d87443d48121a8ab670d850de982dca5aedbf1f but I am still having issues regarding which I'll look at later on:

[code]

@Sanne maybe I am missing something?

[2020-03-19 14:44] GregJohnStewart commented on #7156
Interesting....

[code]

[2020-03-19 14:44] Ladicek opened #7980 "test OpenTracing in dev mode"
**Description**
I'm thinking adding/removing the `@Traced` annotation (or a bean with that annotation), plus perhaps adding/removing a JAX-RS endpoint (because those are traced automatically).

[2020-03-19 14:46] Ladicek opened #7981 "test JDBC tracing with OpenTracing"
**Description**
This is documented (https://quarkus.io/guides/opentracing#additional-instrumentation), but not tested. Should be easy to do, as the OpenTracing unit tests are already prepared for it, someone just forgot to write the actual test.

[2020-03-19 14:47] lordofthejars commented on #7900
@sberyozkin No, the token is generated by the operator but this is the wrapped token, the unwrapped token is created at the same time but not show.

Now if you look at vault extensions auth methods you see that there is user/password, token, ... then you need to set these parameters somewhere to login. It can be the application.properties, it can be a Kubernetes resource or whatever, but you need

[2020-03-19 14:48] Ladicek opened #7982 "test OpenTracing trace context propagation to @Asynchronous Fault Tolerance methods"
**Description**
There already seems to be a test for this in the OpenTracing unit test, but it doesn't use `@Asynchronous`, so there's nothing being propagated really. Should be easy to adjust.

[2020-03-19 14:50] #7965 closed

[2020-03-19 14:51] Ladicek opened #7984 "OpenTracing trace context is not propagated to Fault Tolerance @Asynchronous methods"
**Describe the bug**
If I use OpenTracing and invoke an `@Asynchronous` Fault Tolerance method, the trace context should be propagated. Any spans created in the `@Asynchronous` method should be part of the same trace.

**Expected behavior**
Tracing context is propagated.

**Actual behavior**
Tracing context is not propagated.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `quarkus-small

[2020-03-19 14:52] Ladicek commented on #7984
I have a fix -- it's just about adding one missing dependency -- and will submit a PR. (I think I'll need some help there, as I'm not sure where exactly that missing dependency needs to be added, whether it should be a `-runtime` or `-deployment` artifact. Probably best to solve this in the PR.)

[2020-03-19 14:55] gastaldi commented on #7979
@Meemaw Thanks for the bug report. Do you have a reproducer project we could use?

[2020-03-19 15:01] #7740 closed

[2020-03-19 15:08] Meemaw commented on #7979
To see tests failing ❌ :
[code]

Then you can start the development server via:

[code]

And run the tests again and they will pass ✅ :
[code]

Note that you need Docker for tests to pass -- testcontainers will start Postgres container.

[2020-03-19 15:34] Gui-Yom opened #7986 "Unable to support mongodb+srv// style connections"
**Describe the bug**
After launching with `gradlew quarkusDev`, I got a weird error I didn't have with Quarkus 1.2.1.Final. I use Quarkus 1.3.0.Final with the MongoDB Panache extension.
[code]
Where User extends PanacheMongoEntity.
This throws `com.mongodb.MongoClientException: Unable to support mongodb+srv// style connections as the 'com.sun.jndi.dns.DnsContextFactory' class is not available in t

[2020-03-19 15:54] zulq opened #7988 "Make io.quarkus.security.common available as standalone"
Would like to use the `io.quarkus.security.common.BcryptUtil` for password hashing with `JWT` instead of `security-jpa`. Currently ussing `spring-security-crypto`.

[2020-03-19 16:04] dmlloyd commented on #7988
You could use the underlying library, `org.wildfly.security:wildfly-elytron-credential`.  If you look at the source of `BcryptUtil`, the usage should be fairly obvious.

[2020-03-19 16:18] zulq commented on #7988
@dmlloyd added the package but can't locate `BcryptUtil`.

[2020-03-19 16:22] dmlloyd commented on #7988
It's not a package, it's an artifact, and `BcryptUtil` isn't in there.  As I said, if you look at the source of `BcryptUtil` you can see the underlying API that it is using.

[2020-03-19 16:23] FroMage commented on #7879
Fix at #7989

[2020-03-19 16:29] haraldatbmw opened #7990 "Native container-build on Windows10 fails (.exe)"
**Describe the bug**
Building a native image inside docker causes an error.
It seems the build is looking for a **.exe** file. But with containerized build inside docker no **.exe** file is generated - and that is okay :-)

**Expected behavior**
Linux executable generated.

**Actual behavior**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start the build ``mvn clean package -Pnative

[2020-03-19 16:39] zulq commented on #7988
@dmlloyd, ref link please.

[2020-03-19 17:15] lordofthejars commented on #7900
I think that when you see the code, you'll see that it is pretty simple (or should a prior :))

[2020-03-19 17:16] Ladicek opened #7994 "@Authenticated works, but @RolesAllowed("*") doesn't"
**Describe the bug**
I'm used to writing `@RolesAllowed("*")` when I want to let all authenticated users have access. (That is, all authenticated users are authorized to that particular method/class.)

The documentation (https://quarkus.io/guides/security#standard-security-annotations) specifically says:

I interpret that as: `@Authenticated` is a quality of life improvement, but I can use both `@

[2020-03-19 17:17] Ladicek commented on #7994
Fix would be easy (and I can submit a PR), but we need to agree what to do.

Ideas? CC @sberyozkin @michalszynkiewicz @stuartwdouglas

[2020-03-19 18:13] #7865 closed

[2020-03-19 18:14] dufoli commented on #7914
I face some issue related to jaxb on cxf patch and it is fixed on my branch.
take a look to : https://github.com/dufoli/quarkus/blob/4005_cxf/extensions/cxf/deployment/src/main/java/io/quarkus/cxf/deployment/CxfProcessor.java

[2020-03-19 19:04] nimo23 commented on #7876
@tomekl007 providing a PR is enough..

[2020-03-19 19:06] nimo23 commented on #7876
@tomekl007 ..you mean to edit the "Assignees"..good question. I don't know..but if you provide PR then the quarkus staff can assign it to you..

[2020-03-19 19:57] tk303 opened #7996 "Quarkus 1.3.0.Final gradle does not start with Undertow Servlet"
**Describe the bug**
When I include Undertow Servlet in a Gradle project, quarkus application does not start.

**Expected behavior**
Quarkus app should start without throwing an error

**Actual behavior**
(Describe the actual behavior clearly and concisely.)

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to https://code.quarkus.io/
2.  Change Build Tool to: Gradle
3.  Add Undertow Servl

[2020-03-19 20:05] gastaldi commented on #7996
I see this stacktrace, is the same you see?

[code]

[2020-03-19 20:07] gastaldi commented on #7996
That definitely seems like a bug. A workaround is to add the following dependency to your `build.gradle`:

[code]

[2020-03-19 20:17] tk303 commented on #7996
Yes, that is the stack trace that I'm getting.

Adding the  `implementation 'io.quarkus:quarkus-undertow-websockets'` helped, the application is now starting.

Thanks.

[2020-03-19 20:23] rquinio commented on #7893
I think there are 2 potential reasons:

- /metrics and /health return information on internal frameworks used (database type, etc), which can make easier for an attacker exploit known vulnerabilities.
This could probably be mitigated by restricting these path in ingress/route configuration ?

- sharing the same thread pools as the one used for actual traffic. In case of spike of traffic (or unders

[2020-03-19 20:30] gastaldi commented on #7996
I can confirm this does NOT happen in Maven.

@aloubyansky any hint?

[2020-03-19 20:50] bchmielewski commented on #5829
@MrShish New released Quarkus 1.3.0.Final has already vertx-auth-oauth2 included.

[2020-03-19 21:10] sherl0cks opened #7999 "Kotlin Coroutines Breaks Jackson Serialization"
**Describe the bug**
See https://github.com/sherl0cks/kotlin-coroutines-quarkus-graal-jackson-reproducer/blob/master/README.md

It is possible that this should be opened up in https://github.com/oracle/graal. If so, I would appreciate some assistance on that from the Quarkus team as you all have been very responsive and probably have better contacts with Graal than I do.

**Expected behavior**
Jac

[2020-03-19 21:11] sherl0cks commented on #7999
@geoand ☝️

[2020-03-19 21:16] geoand commented on #7999
Thanks for reporting @sherl0cks.

IIUC, co-routines don't work at all on native-image, right?

If that is the case, I don't know what we can do.
Perhaps @dmlloyd has more insight

[2020-03-19 21:21] oztimpower commented on #7955
Closing as a workaround has been implemented in #7985, and as above there is already a FR open on wildfly/jandex#65

[2020-03-19 21:21] #7955 closed

[2020-03-19 21:24] sherl0cks commented on #7999
@geoand they work, but there are issues for sure. I think from a Quarkus perspective, there needs to be clear guidance to Kotlin users how to do nonblocking and async. If not coroutines, then what? Should users incorporate vert.x? Stick to completeable future without the coroutines bridge? IMO - adding this to the Kotlin guide with an being opinionated is important. Otherwise users like my team wi

[2020-03-19 21:29] geoand commented on #7999
Thanks for the input @sherl0cks.

cc @emmanuelbernard @n1hility for input on how we should frame our suggestions in the guide

[2020-03-19 21:44] sberyozkin commented on #7988
@zulq what JWA algorithm do you use with JWT ?

[2020-03-19 21:47] vsevel commented on #7900
hello, I must admit I was not familiar with the cubbyhole. when I created the extension I provided 3 auth mechanims:
 - k8s
 - userpass (for humans)
 - and [approle](https://www.vaultproject.io/docs/auth/approle/), which seemed to be targetting apps and workflows.

so the Chef, Jenkins trusted entities described in the cubbyhole doc would seem to fit into this category also, no?
approle has ttl al

[2020-03-19 21:52] geoand commented on #7999
I'll just add that out general reactive strategy is focused on Vert.x and Mutiny

[2020-03-19 21:58] vsevel commented on #7904
@sberyozkin

I think you are talking about using certificates to encrypt in transit data (TLS).
when the TLS Certificates Auth Method, as I understand it, is about proving who you are as a client. so you sign a piece of data with your private key, and send it along with your public key to the server. if the server trusts the public key, and can decrypt your piece of data with your public key, it m

[2020-03-19 22:17] eformat opened #8003 "s2i binary build - tar filename too long"
**Describe the bug**
s2i build using latest 1.3.0.FINAL

mvn clean package -Dquarkus.container-image.build=true

[ERROR] Caused by: java.lang.RuntimeException: file name 'lib/org.eclipse.microprofile.reactive-streams-operators.microprofile-reactive-streams-operators-api-1.0.jar' is too long ( > 100 bytes)

**Expected behavior**
Long File Names handled by dekorate & tar

**Actual behavior**
Get run

[2020-03-19 22:21] lordofthejars commented on #7900
Yes the example I showed is what I described here. Basically I am thinking
from the point of view of Quarkus app what API I should support to
implement the learn example I shared and in this case is the unwrap
operation.

El El jue, 19 mar 2020 a las 22:47, Vincent Sevel <notifications@github.com>
escribió:

--
Enviat amb Gmail Mobile

[2020-03-19 22:22] lordofthejars commented on #7900
Cubbyhole is not an auth method but they use it internally for providing
single access to wrapped token

El El jue, 19 mar 2020 a las 23:21, Alex Soto <asotobu@gmail.com> escribió:

--
Enviat amb Gmail Mobile

[2020-03-19 22:26] lordofthejars commented on #7904
Yes I think we can provide support easily. As I said I used this method in
the past together with the cubbyhole wrapped token.

El El jue, 19 mar 2020 a las 22:58, Vincent Sevel <notifications@github.com>
escribió:

--
Enviat amb Gmail Mobile

[2020-03-20 00:28] fredmtyro opened #8004 "Regression: @Inject mock service in QuarkusTest is null during JUnit @TestFactory execution in Quarkus 1.3.0.Final"
**Description**
When a JUnit test includes an `@Inject` mock service bean initialisation works properly for normal `@BeforeEach` and `@Test` annotated methods, but tests executed with `@TestFactory` have the mock service uninitialised.

In the attached sample project, look at ExampleResourceTest.`tests` for an example of the problem, these tests work properly in Quarkus 1.2.1.Final.

**Expected be

[2020-03-20 00:35] stuartwdouglas commented on #7994
I think we should use ** as per the spec and fix the docs.

[2020-03-20 07:03] dufoli commented on #7986
can you rebuild with option -Dquarkus.arc.remove-unused-beans=false to check if issue come from unremoving process ?

[2020-03-20 07:20] geoand commented on #8003
Hi,

This has been fixed by: https://github.com/quarkusio/quarkus/pull/7944 and will be part of `1.3.1.Final`

[2020-03-20 07:20] #8003 closed

[2020-03-20 07:31] geoand commented on #8004
Thank you for reporting.

I'll look into it

[2020-03-20 07:37] dufoli commented on #7986
I have check source on mongo side:
https://github.com/mongodb/mongo-java-driver/blob/master/driver-core/src/main/com/mongodb/internal/dns/DefaultDnsResolver.java
maybe we just have to register unremovable class:
com.sun.jndi.dns.DnsContextFactory

Do you use java.naming.provider.url ? if yes, it is a mongo issue.

[2020-03-20 07:48] dufoli commented on #2611
@emmanuelbernard  process is to send an email

[2020-03-20 08:24] loicmathieu commented on #7986
@cescoffier WDYT ?
I know that `mongodb+srv` is not supported on native mode yet (maybe this can be tested again with GrallVM 20 as they support JNDI now) but this should works on JVM mode.

@Gui-Yom we upgrade to the mongodb driver 3.12 in this release, maybe this is the cause of the issue. Can you check by overriding the mongodb versions (not sure it will works as the driver is a little differen

[2020-03-20 08:58] zulq commented on #7988
using the in-built quarkus `JWT` generator. See sample here: [Quarkus JWT](https://github.com/zulq/quarkus-jwt)

[2020-03-20 09:01] haraldatbmw commented on #7990
In contrast using Quarkus 1.2.1.Final with GraalVM 19.3.1-java11 works correct.

[2020-03-20 09:04] KaenDagger commented on #7979
@gastaldi could reason be linked to multiple module gradle support issue ?

[2020-03-20 09:10] geoand commented on #8004
I have found a way around the problem, but now the trick is to make it user friendly (spoiler alert: code changes will be needed no matter what)

[2020-03-20 09:11] KaenDagger opened #8009 "Quarkus Kotlin extension not added in Bootstrap Kotlin+Gradle Project"
**Describe the bug**
Quarkus Kotlin extension is not added in dependencies Bootstrap Kotlin+Gradle Project

**Expected behavior**
It should be added to to `dependencies` block

**Actual behavior**
It is not added to to `dependencies` block

**To Reproduce**
Steps to reproduce the behavior:
- Bootstrap kotlin+gradle project
[code]

**Environment (please complete the following information):**
 - Bui